[2020-04-22 09:42] javanna commented on #55463
Closing in favour of #55464 . Effectively, the current scenario  is caused by the fact that intermediate results are kept in memory, hence you may get some partial results, and once the coordinating node dies those partial results are lost and hence can only return what we initially stored, which is a placeholder document that contains no results, stored at the very beginning of the execution.

[2020-04-22 09:42] #55463 closed

[2020-04-22 09:44] jkakavas commented on #55251
@mark-vieira did you mean to mute this but didn't for a reason ? I just hit this in a PR : https://gradle-enterprise.elastic.co/s/rotvbtqgmjnmo/console-log?task=:x-pack:plugin:ml:test

It failed 2 times today so I'll mute it in master and 7.x

[2020-04-22 09:48] javanna opened #55572 "Async search: clarify when the response is final"
Submit async search and get async search both return a search response that may or may not be the final one. The response includes two flags that indicate the state of the async search: `is_running` and `is_partial`.

[code]

When `is_running` is set to `true`, the query is still running hence more results are expected to be included in later results. In this scenario `is_partial` would also be se

[2020-04-22 09:48] elasticmachine commented on #55572
Pinging @elastic/es-search (:Search/Search)

[2020-04-22 09:52] jkakavas commented on #55251
@davidkyle I think that #55307 might not have fixed this, I saw two failures today : https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:testMaxCachedLimitReached),sort:!(time,desc))

[2020-04-22 10:03] DENMODSupport opened #55575 "Getting exception while starting the elastic search node"
**We are getting below exception while starting one of the elastic search nodes.**

`[2020-04-20T15:22:16,743][ERROR][o.e.g.GatewayMetaState   ] [elk-denmod-web-2] failed to read local state, exiting...
**java.lang.IllegalStateException: index and alias names need to be unique, but alias [denmod_y_3698] and index [denmod_y_3698/g8fYmCo_QYaJKCdcdXONOQ] have the same name**
	at org.elasticsearch.clu

[2020-04-22 10:09] dami95 commented on #16082
```curl -XPUT mymenu_elasticsearch:9200/_cluster/settings -H "Content-Type: application/json" -d '{"persistent" : {"cluster.routing.allocation.disk.threshold_enabled": false}}'`` :)

[2020-04-22 10:53] henkepa opened #55583 "Version conflict on document update after elasticsearch update to 7.6.2"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.2

**Plugins installed**: [x-pack]

**JVM version** (`java -version`): #openjdk version "1.8.0_232"
OpenJDK Runtime Environment (build 1.8.0_232-b09)
OpenJDK 64-Bit Server VM (build 25.232-b09, mixed mode)

**OS version** (`uname -a` if on a Unix-like system): Docker running on Redhat 7

**Description of the problem including expected

[2020-04-22 10:55] #55481 closed

[2020-04-22 10:58] davidkyle commented on #55251
Thanks for the ping @jkakavas

I re-muted on master (23bb15f1f04d2edc117320bfcec9065f8972fc76) and 7.x (e99ef3542cf1746d20655b6d8badaf7e0e2d917e)

[2020-04-22 10:59] droberts195 commented on #55521
Oh, it's just that the "Job messages" tab isn't auto-refreshed by clicking the "Refresh" link.  If I switch to the "JSON" tab, then back to "Job messages" then the extra message is there.

So I think the bug is that clicking "Refresh" while the "Job messages" tab is visible doesn't redraw the job messages table.  Shall I open a bug in the Kibana repo for that or is it already a known issue?

[2020-04-22 11:05] sophiec20 commented on #55521
Already a known issue, discussed with @peteharverson yesterday. Pending GH ticket.

[2020-04-22 11:11] sophiec20 commented on #55521
Updated title to reflect that datafeed stop audit message was missing, and not the job closing.

[2020-04-22 12:19] #40793 closed

[2020-04-22 12:21] blookot opened #55586 "[Data Visualizer] timestamp doesn't support Kibana CSV export format"
**Describe the feature**: Add the format of Kibana CSV export in data visualizer

I suggest we add `MMM dd, yyyy @ HH:mm:ss.SSS` to the list of supported timestamp formats in the Data Visualizer File import.

So that when you export a CSV from Kibana you can reimport it via Kibana ;-)

Thank you!

[2020-04-22 12:21] elasticmachine commented on #55586
Pinging @elastic/ml-core (:ml)

[2020-04-22 12:33] DaveCTurner commented on #55575
Elasticsearch 5.3.1 is well past the [end of its supported life](https://www.elastic.co/support/eol) and we won't investigate this as a bug report unless you can reproduce it on a supported version. I suggest you try asking this on the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

Ther

[2020-04-22 12:33] #55575 closed

[2020-04-22 12:34] tomerilp commented on #51720
@javanna I tired both with simple aliases and filter aliases, get the same results.

[2020-04-22 12:34] DaveCTurner commented on #48131
@zacharymorn now that #50836 is merged would you like to tackle this issue?

[2020-04-22 12:39] droberts195 commented on #52150
The plan for 7.8 is:

- Change the default for `model_snapshot_retention_days` from 1 to 10
- Introduce a new job setting, `model_snapshot_retention_sparse_after_days` (?), defaulting to 1 for new jobs and `model_snapshot_retention_days` for pre-7.8 jobs
- For days that are older than `model_snapshot_retention_days`, continue to delete all model snapshots
- For days that are in between `model_snap

[2020-04-22 12:44] elasticmachine commented on #55564
Pinging @elastic/es-distributed (:Distributed/Cluster Coordination)

[2020-04-22 12:59] henkepa commented on #55583
I got the feeback from the support team that the update works with passing op_type=index

POST test_ingest_error/_doc/?pipeline=test_ingest_error&op_type=index
{
"prop": "xyzz"
}

However, my problem remains since I can not immediately update all clients to pass op_type=index.

[2020-04-22 13:08] itiyamas commented on #55530
Sorry for not going through it earlier, but this is a bit different from the earlier one.

Here, you are not moving sync outside write lock, but doing it just once within the writeLock. The sync is followed by file deletes outside the write lock.  Executing sync outside writeLock is less safe and more complicated as you need to handle a lot of edge cases, but here you just delete a contiguous loca

[2020-04-22 13:15] javanna commented on #51720
@tomerilp could you try sending search requests manually and providing different values of the `batched_reduce_size` parameter, say, `2`, `10` and a very high number that is higher than the number of shards that the query hits? I am curious to see if the result is consistent or not.

[2020-04-22 13:50] tomerilp commented on #51720
@javanna I tried different values and got the same results.
The only way I could make it works is when is use ccs_minimize_roundtrips=false

[2020-04-22 14:29] blookot opened #55593 "[ML] DFA job gets stuck when no field except the dependent variable is included in the analysis"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.2

**JVM version** (`java -version`): running on ESS

**Description of the problem including expected versus actual behavior**:

i'm runnng a regression data frame analytics job and it stops at 50% (loading data is 100% and analyzing is 0%)
can't understand why...

**Steps to reproduce**:

 1. load the csv file attached (rename it with

[2020-04-22 14:29] elasticmachine commented on #55593
Pinging @elastic/ml-core (:ml)

[2020-04-22 14:32] dimitris-athanasiou commented on #55593
@blookot Could you please explain how you're indexing the data?

[2020-04-22 15:22] blookot commented on #55593
I'm loading the csv file using data visualizer @dimitris-athanasiou

[2020-04-22 15:33] jimczi opened #55603 "How to prune non-relevant top documents automatically"
In 7.0 we've added an optimization that allows to run pure disjunction queries (OR) without visiting all matches of the most frequent terms. Prior to this version, users have to ensure that they remove the most frequent terms (stop words removal) or switch to the `common` terms query to get acceptable performance. We've decided to deprecate the `common` terms query for this reason. Users shouldn't

[2020-04-22 15:33] elasticmachine commented on #55603
Pinging @elastic/es-search (:Search/Search)

[2020-04-22 15:33] stu-elastic commented on #52593
There's an annoying difference between the ingest processor context and the reindex context.  Updates in ingest processor context happens in `ctx` vs `ctx['source']` in reindex.

[2020-04-22 15:35] #52499 closed

[2020-04-22 16:04] pgomulka commented on #44640
@tstilwell I hope my previous comment is sufficient to work around. I will close the issue.
Let me know if you need more assistance

[2020-04-22 16:04] #44640 closed

[2020-04-22 16:05] hatharom opened #55606 "Improve "put template" error message and documentation of disallowed characters"
Couldn't find anything in the documentation.
The examples are with *.

I have tried with ?  - while  PUT-ing a template - which was rejected:
` "index_patterns": ["test?"]`
response:

which is interesting because the error message contains the * as well.

How can I define an index pattern for this?:    prefix-anyword-number
right now I am doing this: prefix-*-* , which is terrible imo.

Or is it o

[2020-04-22 16:15] dimitris-athanasiou commented on #55593
Thank you @blookot. I have reproduced the issue. You have uncovered a bug that is caused because there are no features in this dataset. There is only the dependent_variable.

I think there are 2 issues to fix here:

1. I think _start API should fail to run when this is the case
2. The c++ process shouldn't get stuck even if this is the case

We'll proceed to fix them both.

Once again, thank you f

[2020-04-22 16:51] droberts195 commented on #55586
@blookot since the basic ask was so simple I've added it for 7.8 in #55609.  The initial file analysis now finds the time format.

However, I found that round-tripping a file through the Discover view's CSV export back to ML's file upload still required a bit of manual intervention because the export contains fields `_id` and `_index` which are not permitted in ingested documents, so these need to

[2020-04-22 17:08] jpountz commented on #55358
@weltenwort The idea would be that whatever we end up exposing would take care of fetching log entries for past intervals too. The problem with `_search` is that it can't guarantee ordering across pages (it only guarantees it within a single page), so either a later page would include events that are older than some events from previous pages, or it would mistakenly ignore some logs if `search_aft

[2020-04-22 18:05] #37924 closed

[2020-04-22 18:42] imotov commented on #53746
We have two ways of implementing this feature: incrementing the usage counter on the parser invocation and by incrementing the counter on ValuesSourceRegistry access.

In case of parser, we can count high level invocations. Basically for each search that contains one aggregation of a certain type we will count it as one use. Unfortunately, on this level we will not have information about value typ

[2020-04-22 18:45] original-brownbear commented on #55513
This is reproducible locally at a fairly low rate (~1/1k empirically). Still tracking down how we get to this point.

[2020-04-22 18:49] blookot commented on #55593
Hi @dimitris-athanasiou
why can't we use timestamp as a feature?
in my case it's a disk slowly filling, and i'd like to use regression and inference to predict when my disk is gonna be full.
i can plot timestamp on x and disk usage on y and have a nice dot chart...
i guess this falls into the single metric ML (temporal) with forecast...

[2020-04-22 18:51] blookot opened #55616 "[data visualizer import] detect formats on nested json"
**Describe the feature**: when i use the file import (from data visualizer) on a json having nested fields, i would like all nested fields to be identified as well as their format.

[2020-04-22 18:52] elasticmachine commented on #55616
Pinging @elastic/ml-core (:ml)

[2020-04-22 19:02] alogishetty opened #55618 "Elastic Coordination nodes dead due to heap memory"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.5.2

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system): CentOS

**Description of the problem including expected versus actual behavior**: 2 coordination nodes part of elastic search cluster dead with 3 mins apart due to Heap memory

Heap Memory: 16GB
Server Ram: 32GB

We u

[2020-04-22 19:03] polyfractal commented on #53746
I'm tentatively leaning towards the second option.  I think it'd be more useful to know the complete list of aggs being used, as well as which field types they are being used against... even if it means they are "over-counted" by doing it per-shard.  My feeling is that the absolute numbers don't matter as much as relative numbers?

E.g. as an administrator I think I'd care that an expensive `scrip

[2020-04-22 19:15] giladgal commented on #53746
I agree between these two the second option seems better.

[2020-04-22 19:20] imotov commented on #55550
Just an additional data point. It looks like the [metricbeat's elaticsearch module](https://www.elastic.co/guide/en/beats/metricbeat/master/metricbeat-module-elasticsearch.html) has [10s](https://www.elastic.co/guide/en/beats/metricbeat/master/configuration-metricbeat.html#_connect_timeout) timeout. So if we don't deliver stats in 10 seconds, it doesn't care anymore.

[2020-04-22 19:36] hitendrapratap commented on #28385
@jimczi As you suggested to use ```multi_match``` but it doesn't support advanced search like wildcard, parentheses and quotes. But these are supported by ```query_string```. Could you recommend what we could use as one stop query?

[2020-04-22 19:38] #55586 closed

[2020-04-22 19:45] imotov commented on #53746
Thanks! I am going with the second option then.

[2020-04-22 20:09] jrodewig opened #55626 "[DOCS] Create reference-style page for `search.max_buckets`"
`search.max_buckets` is documented on the [bucket aggregations][0] page but doesn't have a reference-style settings section on any page.

It's an important setting. We should probably create a place for it somewhere under [Configuring Elasticsearch][1].

[0]: https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations-bucket.html
[1]: https://www.elastic.co/guide/en/elastics

[2020-04-22 20:09] elasticmachine commented on #55626
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-04-22 20:09] elasticmachine commented on #55626
Pinging @elastic/es-docs (>docs)

[2020-04-22 20:10] jkakavas opened #55627 "Revisit the default cost for password hashing for 8.0.0"
The current defaults are
- cost factor of 10 for `bcrypt`
- `10000` iterations for `PBKDF2`

see https://github.com/elastic/elasticsearch/pull/55544#issuecomment-617494220 also

[2020-04-22 20:10] elasticmachine commented on #55627
Pinging @elastic/es-security (:Security/Authentication)

[2020-04-22 20:28] jrodewig opened #55629 "[DOCS] Add collapsible sections to 8.0 breaking changes"
#55334 added collapsible sections to the 7.8 breaking changes. This issue will make similar changes to the 8.0 breaking changes.

This work will likely be spread out over multiple PRs to make the changes and reviews manageable:
- [x] Aggregations changes #55811
- [x] Allocation changes #55811
- [x] Analysis changes #55811
- [x] Circuit breaker changes #55862
- [x] Cluster changes #55862
- [x] Disc

[2020-04-22 20:28] elasticmachine commented on #55629
Pinging @elastic/es-docs (>docs)

[2020-04-22 20:55] stu-elastic opened #55630 "Provide code snippets for common painless actions per solution"
Each solution have different needs from painless such as `JSON` parsing and `date` parsing.  We need to evaluate the common actions for each, then write some useful snippets to embedded in kibana for each solution.

[2020-04-22 20:55] elasticmachine commented on #55630
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-04-22 20:55] elasticmachine commented on #55630
Pinging @elastic/es-docs (>docs)

[2020-04-22 21:03] michaelcizmar commented on #55477
Agreed.  Just a little note on the systemd page so that you don't attempt to user the other script as a reference.

[2020-04-22 23:11] jbaiera opened #55634 "High volume of ingest traffic can cause Enrich to deadlock"
Enrich processors all route their search requests through the `EnrichCoordinatorProxyAction`, which collects enrichment search requests together in order to collapse them down and submit them in one multi-search request. The coordinator maintains an internal queue of search requests  for this purpose. Each thread entering the coordinator adds to this queue, then atomically drains the contents into

[2020-04-22 23:11] elasticmachine commented on #55634
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-04-22 23:57] russcam opened #55636 "[DOCS] Async search response ID clarification"
When an async search successfully completes within the `wait_for_completion_timeout`, and no `keep_alive` parameter is specified such that results will not be available in the cluster, an ID is **not** returned in the response to a submit async search API.

The [documentation for async search APIs](https://www.elastic.co/guide/en/elasticsearch/reference/master/async-search.html) does not currently

[2020-04-22 23:57] elasticmachine commented on #55636
Pinging @elastic/es-docs (>docs)

[2020-04-23 02:17] jasontedor commented on #54464
@shikhar It's captured when finalizing the snapshot.

[2020-04-23 02:49] jakelandis commented on #55634
Nice find @jbaiera !

I think this deadlock can only happen if a `pipeline` processor is defined after an `enrich` processor and the subsequent pipeline also has an 'enrich' processor, and the system is under heavy load.

The root cause of the deadlock, I do believe is as Jimmy mentions - the search thread ends up processing (parts) of the ingest pipeline(s) and end up getting hung up on the same

[2020-04-23 02:55] jakelandis commented on #55634
And the following assertion gets trips when running from source code with assertions enabled (code in `EnrichCoordinatorProxyAction`):

[code]
With the following repro:
[code]

[2020-04-23 03:27] hackerwin7 opened #55638 "CCR: unfollow API without close and pause index"
relates #33931

Currently before unfollow index in CCR, we need to close and pause the follower index, then unfollow the index, and re-open the follower index as a regular index.

If index is huge besides with high number of shards. the close and re-open until the index is completely green maybe continue a little bit long time due to create index service or create shard.

Can we add a functionalit

[2020-04-23 03:40] jaymode opened #55640 "Remove duplicate cluster privilege for pipeline management"
During the development of version 5.0, two cluster level privileges were added for the management of pipelines `manage_pipeline` and `manage_ingest_pipelines`. `manage_ingest_pipelines` was added as part of monitoring during an attempt to future proof monitoring documents with the use of an ingest pipeline that was empty. `manage_pipeline` was added as part of a role for the add data feature in Ki

[2020-04-23 03:40] elasticmachine commented on #55640
Pinging @elastic/es-security (:Security/Authorization)

[2020-04-23 04:46] zacharymorn commented on #48131
@DaveCTurner Thanks for checking! Yes I would love to pick this up.

[2020-04-23 06:33] ywangd commented on #54317
@tvernum Thanks a lot for the discussion. Here is my analysis.

**TL;DR**
Based on existing use cases, the cache should be keyed by application name (literal, no wildcard) and values are a set of `ApplicationPrivilegeDescriptor`.

The `NativePrivilegeStore#getPrivileges` method is called in the following three places:
1. `CompositeRolesStore` for `Role` building during authentication
2. GetPrivile

[2020-04-23 07:17] blookot commented on #55593
PS. CPU is running at 100% (on my ML node) until I stop the job!

[2020-04-23 07:18] original-brownbear opened #55642 "Enhance Repository Third Party Tests to Cover Large Files"
Currently our third party tests for Azure, GCS and S3 only run a very rudimentary snapshot and restore cycle without much data in it. This means we don't have full coverage of the blobstore APIs since uploading and (at least in the case of GCS) downloading will behave differently for files above a certain size threshold.
S3 will eventually switch to multi-part uploading, GCS will switch to resumab

[2020-04-23 07:18] elasticmachine commented on #55642
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-04-23 07:19] martijnvg opened #55643 "csv processor can't parse empty_value option"
The following put pipeline call fails:

[code]

With:

[code]

However `empty_value` is a valid option.

This is caused by a bug in the processor parsing code:
https://github.com/elastic/elasticsearch/blob/master/modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/CsvProcessor.java#L104

It checks for the existence of `emptyValue` field and then tries to parse it as `empty_value` f

[2020-04-23 07:20] elasticmachine commented on #55643
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-04-23 07:20] blookot commented on #55586
Thank you @droberts195 !
just a quick comment: the way we usually export CSV is by creating a saved search having only a few columns selected (out of all the fields), so _id and _index are not exported.
Still there is an issue on numeric fields export, see https://github.com/elastic/kibana/issues/64170
But indeed, my goal is to easily export in csv and share the csv for others to reimport via data

[2020-04-23 08:00] dimitris-athanasiou commented on #55593
Indeed, your use case is a time series analysis. You can use an anomaly detection job to model the data and then use the forecast feature in order to predict when the disk will be full.

Having said that, we're planning to revisit `date` features for data frame analytics jobs. We have not addressed them yet as they require special handling that we decided to defer until later in the project. This

[2020-04-23 08:15] martijnvg commented on #55634
Good catch @jbaiera and thanks @jakelandis for the additional explanation and easy reproduction!

[2020-04-23 08:22] iverase opened #55644 "[CI] GeoShapeWithDocValuesFieldMapperTests.testDefaultDocValueConfigurationOnPre7_8 failure"
This test is failing in master so I am going to mute it.

[code]

https://gradle-enterprise.elastic.co/s/zj2nbehsi5s5o

[2020-04-23 08:25] elasticmachine commented on #55644
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-04-23 08:26] #53789 closed

[2020-04-23 08:27] original-brownbear commented on #54810
Another one on 7.7 https://gradle-enterprise.elastic.co/s/efhyg2za3sj7q

[2020-04-23 08:31] original-brownbear opened #55646 "[CI] org.elasticsearch.xpack.search.AsyncSearchActionIT.testRestartAfterCompletion Failed"
This failed on `7.7`:

[code]

[code]

https://gradle-enterprise.elastic.co/s/6j3tiotwkjqou/

[2020-04-23 08:31] elasticmachine commented on #55646
Pinging @elastic/es-search (:Search/Search)

[2020-04-23 08:36] original-brownbear opened #55647 "[CI] org.elasticsearch.index.reindex.CancelTests.testDeleteByQueryCancelWithWorkers"
This failed on 7.x:

[code]

[code]

https://gradle-enterprise.elastic.co/s/vxfc56c6tmnpc/

[2020-04-23 08:36] elasticmachine commented on #55647
Pinging @elastic/es-distributed (:Distributed/Reindex)

[2020-04-23 09:17] DaveCTurner commented on #55564
Thanks for the detailed analysis @chengyang14, this looks to be a bug indeed. We should check in `GatewayService.RecoverStateUpdateTask#execute` that `STATE_NOT_RECOVERED_BLOCK` is still in place and, if so, should do nothing. Would you be interested in making that change and writing a test to support it?

[2020-04-23 09:25] blookot commented on #55593
yes i've been playing (successfully) with single metric & forecast
i thought dates are stored as long (like unix epoch) so I imagined a 2D dot plot with the regression based on my timestamp and disk usage...
But I'll wait for it :-)
thanks again @dimitris-athanasiou

![image](https://user-images.githubusercontent.com/30144076/80082624-eab99780-8554-11ea-8205-109a02c83502.png)

[2020-04-23 09:33] weltenwort commented on #55358
That sounds like it would solve the search_after tiebreaker problem for us :heart_eyes: Let me know if you want to validate any API design choice in regard to the Logs UI use case early in the process.

[2020-04-23 09:34] jpountz commented on #55358
We'll certainly reach out when we start tackling this issue!

[2020-04-23 09:37] dimitris-athanasiou commented on #55068
I found the cause of this, will be raising a fix very shortly.

[2020-04-23 09:40] Augustin-FL commented on #55482
Also see #54582

[2020-04-23 09:52] tveasey commented on #55593
Just to add to this, the regression model we use isn't immediately well suited to extrapolation, as needed for forecasting. To get it to work in this fashion needs some explicit handling in inference and also judicious feature creation. As @dimitris-athanasiou says, using this functionality to enhance our forecasting capabilities (particularly to include additional explanatory variables) is defini

[2020-04-23 10:10] chengyang14 commented on #55564
@DaveCTurner  I am happy to fix it, i will submit fix code and writing a test for it.

[2020-04-23 10:42] Augustin-FL opened #55658 "bug on OpenID connect: java.lang.ClassCastException when the users claims do contain JSON"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.1

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_242

**OS version** (`uname -a` if on a Unix-like system): RHEL 7.7 (exact version 3.10.0-1062.12.1.el7.x86_64)

**Description of the problem including expected versus actual behavior**:
When using OpenID connect method, some claims can contain JSON objects in JSON

[2020-04-23 10:48] original-brownbear opened #55660 "[CI] org.elasticsearch.discovery.DiskDisruptionIT.testGlobalCheckpointIsSafe"
[code]

failed with a suite timeout on master in https://gradle-enterprise.elastic.co/s/movohpvhi4vro

[2020-04-23 10:48] elasticmachine commented on #55660
Pinging @elastic/es-distributed (:Distributed/Distributed)

[2020-04-23 10:59] davidkyle commented on #55251
I unmuted the test and added trace logging in master e4af4b6f6c8c17e0a1c26c2d018f155a6e14a321

Will keep an eye out for failures and re-mute once I have the logs

[2020-04-23 11:03] elasticmachine commented on #55658
Pinging @elastic/es-security (:Security/Authentication)

[2020-04-23 11:26] tsg commented on #54411
Thanks for the ping. I like the behaviour of being case insensitive by default, in most security use cases that's usually what people need. If adding case-sensitivity via the request parameter is not a lot of effort, that seems like a good idea, it will allow for other use-cases for EQL.

[2020-04-23 12:15] #55513 closed

[2020-04-23 12:51] #55521 closed

[2020-04-23 13:02] jasontedor commented on #55642
Note that in #55421 I took a different approach which was to enable changing in tests the threshold at which the "large file" APIs are used, so that at least for the write path in GCS, this code path is now being tested in the mock tests locally and in CI against the real service.

[2020-04-23 13:05] jrodewig opened #55669 "[DOCS] EQL: Note that floating quotients are rounded down to integer for integer division"
Our documentation should note that any floating quotients returned by the division operator (`/`) or `divide` function are rounded down to an integer. This could lead to unexpected matches.

As a workaround, users can cast either the dividend or divisor as a float.

### Example

In the following query, a user might expect to match events with a `serial_event_id` of `66`.
[code]

However, any float

[2020-04-23 13:05] elasticmachine commented on #55669
Pinging @elastic/es-docs (>docs)

[2020-04-23 13:05] elasticmachine commented on #55669
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-04-23 13:53] mayya-sharipova commented on #42811
@yuri-lab  Thanks for your comment.

You can define multiple functions in painless script as well, for example:
[code]
The only limitation of `script_score` query in comparison with `function_score` query is that you can't apply separate filters for the functions in `script_score` query. For this, you would need to write more complex `bool` query.

Does this satisfy your requirement?

[2020-04-23 13:57] rw-access commented on #54411
Yes, we can remove the case sensitive parameter from this function.
The function uses case sensitivity when finding the matching substrings `left` and `right` within `source`. But it always returns the the substring between those in its original case. If we remove that parameter, we'll have to figure out how to perform case-(in)sensitive matching while returning the original string. It's not as si

[2020-04-23 13:58] jkakavas opened #55671 "Make `Invalidate API Key API responses` consistent"
Similar to the [work we recently did](https://github.com/elastic/elasticsearch/pull/54532) for the Invalidate Tokens API , we should aim to return consistent response bodies and status codes for calls to the Invalidate API Keys API. My initial thinking is that we should reuse the decisions made there and outlined in the [PR description](https://github.com/elastic/elasticsearch/pull/54532#issue-396

[2020-04-23 14:18] tveasey opened #55674 "[ML] Support scripted metric in datafeed aggs"
Currently, this fails generating an unsupported `agg` error. For example, the result type for the following example `agg` is a single numeric value for which we could run anomaly detection:
[code]

\cc @dimitris-athanasiou.

[2020-04-23 14:18] elasticmachine commented on #55674
Pinging @elastic/ml-core (:ml)

[2020-04-23 14:21] mayya-sharipova commented on #42811
@lrynek  I have thought about your query, and I can see that we can implement it through a `bool` and `script_score` queries, something like this:

[code]

About your needs:
- sum.  `bool` query sums the scores of its clauses. In `script` score you can write any scoring formula you want.
- weight. Many ES queries (including `script_score` and `bool`) support `boost` param.
- explanation.  What we

[2020-04-23 14:22] original-brownbear commented on #55660
This is a bug in the node client/transport-service, suggested a fix in https://github.com/elastic/elasticsearch/pull/55676

[2020-04-23 14:38] #55360 closed

[2020-04-23 14:39] jkakavas commented on #55482
Hi there @Augustin-FL, thank you for your thoughts

To be precise, we support neither `OpenID`, nor `oauth2`, but _only_ `OpenID Connect`.

Our OpenID Connect realm aims to be compliant to the [OpenID Connect Core specification](https://openid.net/specs/openid-connect-core-1_0.html). As such, it purposefully does not support neither resource owner password grant nor client credentials grant as def

[2020-04-23 14:47] james-crowley commented on #54925
Naming/tagging the docker containers with those docker’s conventions make the most sense!

In the code to add support for `aarch64`, I keep seeing either switch statements or ternary operators. Especially, when you have the situations like you described above where you need to convert the name `aarch64` into docker’s way of naming things. This also happens when trying to produce `deb` and `rpm` pa

[2020-04-23 14:54] dimitris-athanasiou commented on #55674
`ScriptedMetric` has a `Object aggregation()` method that returns its value. That object could be many things depending on the script (according to the docs):

- primitive types
- String
- Map (containing only keys and values of the types listed here)
- Array (containing elements of only the types listed here)

We could easily add support for it by excluding maps and arrays. Maps we certainly can'

[2020-04-23 14:56] jakelandis commented on #55450
We discussed today , and this sounds like a good idea. Since it is a cron expression, it is a bit more challenging to enforce, but still do-able.

[2020-04-23 15:05] astefan opened #55679 "EQL: an index that has a nested type field in it will break the query"
Adding a `nested` field to a test index:

[code]

Will result in an error no matter the query being used:

[code]

[2020-04-23 15:05] elasticmachine commented on #55679
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-04-23 15:12] jkakavas commented on #55658
Thanks for the feedback @Augustin-FL, we appreciate the real world use case and insights.

The way we deal with the values we map from `claims.groups` means that there is an implicit assumption that this is a list of strings that will become the list of `groups` that the elasticsearch user has (and will be used for role mapping etc. )

We could potentially look into handling JSON Objects for this

[2020-04-23 15:16] benwtrent commented on #55674
I don't think we should support `scripted_metric`.

There are too many edge cases.

 It can return completely different object types based on different buckets (`if (_value == 1){ return 0;}else{return [foo: 'bar'];}`).

[2020-04-23 15:27] original-brownbear opened #55680 "[CI] org.elasticsearch.index.engine.InternalEngineTests.testKeepTranslogAfterGlobalCheckpoint"
[code]

failed on `7.x` with

[code]

Reproduces locally on 7.x but not on master

https://gradle-enterprise.elastic.co/s/yz2cqsgkgxvt6

[2020-04-23 15:27] elasticmachine commented on #55680
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-04-23 15:37] #55644 closed

[2020-04-23 15:38] elasticmachine commented on #55638
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-04-23 15:45] jasontedor commented on #55638
Swapping out the engine dynamically is unlikely to be an area where we invest any effort, as it will be difficult to do correctly, and could have unexpected consequences.

That means that the index will need to continue to be closed, so that we can do the engine swap safely. That the user has to go through a pause/close/unfollow/open workflow is a deliberate choice as it puts in the forefront the

[2020-04-23 15:45] original-brownbear commented on #55642
Right, that covers things well API wise.

I think we should still (especially when it comes to GCS) test actual large files. We've definitely left the territory of what the SDK does with reading arbitrarily large chunks in a single stream (#55506) and we're thinking about doing the same for writes. There is no clear documentation on the limits on the chunk sizes for GCS unfortunately so we should

[2020-04-23 15:47] elasticmachine commented on #55636
Pinging @elastic/es-search (:Search/Search)

[2020-04-23 16:07] P1llus opened #55682 "[Feature Request][Ingest Pipeline] Adding a Copy processor"
**Describe the feature**:

Currently it is not possible to copy a object to another object.

An example would be during ingestion, to populate all the source and destination ECS fields, and in plenty of use-cases these have to be copied to client/server fields as well.

Currently its not possible to use the set processor to set the value of the "client" object to the value of "source" object.

Thi

[2020-04-23 16:07] elasticmachine commented on #55682
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-04-23 16:42] stu-elastic opened #55684 "Script compilation limiting should be user actionable"
Script compilation limiting frequently occurs on ingest pipelines and can occur during shard migrations, as well as other automatic actions.

We want scripts to be properly parameterized to avoid **unnecessary** compilations, but users are default hitting limits with properly parameterized scripts.

How can we protect ES without blocking users from using scripts?

cc: @HonzaKral

[2020-04-23 16:42] elasticmachine commented on #55684
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-04-23 16:42] davidkyle commented on #55251
The failure was captured with test logging in https://gradle-enterprise.elastic.co/s/en5fhzeraljde

Muted on master again in 7a79d1b28904d499a198ac6b1637b2af18bc95be

[2020-04-23 17:05] andrewkroh opened #55685 "Ingest Node processor for Network Community ID"
**Describe the feature**:

As a user that processes networking logs with Ingest Node, I would like to have an Ingest Node processor for populating the Elastic Common Schema (ECS) [`network.community_id`](https://www.elastic.co/guide/en/ecs/current/ecs-network.html) field. At a high level this value is a hash of the source/destination addresses and protocol.

This is a useful field for correlating

[2020-04-23 17:05] elasticmachine commented on #55685
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-04-23 17:15] stu-elastic commented on #55684
From discussion in slack:
[code]

[2020-04-23 17:33] andrewkroh commented on #36145
This would be helpful in all of the pipelines we build for Elastic SIEM. Elastic Common Schema declares a `source.address` keyword field and a `source.ip` ip field. You always populate `source.address` and then conditional populate `source.ip` if the value is an IP.

You shouldn't blindly copy the value from .address to .ip because this could result in a mapping exception. So if the convert proces

[2020-04-23 19:00] jasontedor commented on #54925
The point of that class is only to serve as a place to obtain the current architecture, which is needed in various places in the build. I worry about overloading to also serve as a place to house logic for packaging, which is different for Docker/RPM/Deb, as you point out.

[2020-04-23 19:09] mayya-sharipova commented on #55603
Another idea is to have a dynamic `min_score` that is supplied as percentage of the max_score. After we have already collected top hits, and we know max_score and min_score in them, we can filter out hits that have too little scores.

[2020-04-23 19:11] pugnascotia commented on #54925
This issue was actually addressed in #55073, as the build now constructs testing targets such as `:qa:os:destructiveDistroTest.default-docker-aarch64`. I'm no longer convinced of the need to cross-test the images, so I'm going to close this issue for the time being.

[2020-04-23 19:11] #54925 closed

[2020-04-23 20:21] Brian154 commented on #43911
I have a problem starting my server, I would greatly appreciate your help please this is the console log. Investigating there are possibilities that it is due to the ram (it has 500mb) and I try to start the server with forge, it should be noted that this problem only appears when I select the version of forge, paper or some external version like kcauldron. Thank you very much please is urgent! :(

[2020-04-23 20:26] nathanvercaemert commented on #54963
Is this available for me to work on?

[2020-04-23 20:30] tmenier commented on #23745
Any updates on this? I understand changing the default would be breaking, but one way to avoid that _and_ put a little more control in the hands of developers would be to allow specifying/overriding the behavior directly in calls to the [Index API](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html). In my case I control the code that builds and queries indexes but ne

[2020-04-23 21:45] dakrone opened #55699 "Add support for a "warning" logger"
We current have our regular logger and the deprecation logger, however, it would be really nice if there were a way we could return warnings back to clients about something that wasn't necessarily deprecated. Something like:

[code]

Or something like that.

[2020-04-23 21:45] elasticmachine commented on #55699
Pinging @elastic/es-core-infra (:Core/Infra/Logging)

[2020-04-23 21:46] dakrone commented on #55699
/cc @jakelandis @pgomulka (Jake asked me to CC you on this issue)

[2020-04-23 21:52] dakrone commented on #55699
Another neat thing (and I have heard folks from the UI recommend this also), would be to be able to collect and return those warnings back in the actual body of the response itself also, rather than just in the response headers.

[2020-04-23 21:57] 0xtf commented on #47764
Just wanted to add a +1 to this.

Defining an ILM policy solely on size is absolutely critical for inconsistent workloads.

There are many examples/scenarios, but one I personally experience is how hard it is to size intake for network-related data. If I have one site that I can do a rough estimation, hardly additional sites will follow the same principles (number of people, type of traffic, site

[2020-04-23 23:15] dko-slapdash commented on #44606
@HanguChoi can you please share, what did you eventually find? I have exactly the same problem, a query looks sane and just can't produce negative scores, but they appear. And it's also function_score+cross_fields, looks like a ES bug. Our query:
[code]

[2020-04-23 23:32] dko-slapdash commented on #44700
@HanguChoi is there at least a work-around here which I can apply to my queries? The issue is opened for ~8 months, and there is a little hope that it will be fixed anytime soon.

Maybe there is a way to tweak the `log(1 + (N - n + 0.5) / (n + 0.5))` formula somehow and replace it with something more dumb, but which doesn't produce negative scores?

[2020-04-24 00:51] ywangd commented on #54415
Failed again: https://gradle-enterprise.elastic.co/s/hsoc4hi5sf5p6 (7.x, debian)
Same issue as the one from [my last shift](https://github.com/elastic/elasticsearch/issues/54415#issuecomment-606988597).

[code]

Error message is `{"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"Values less than -1 bytes are not supported: -40171786240b"}],"type":"illegal_argument_exception","

[2020-04-24 00:54] jtibshirani opened #55701 "Support null_value for wildcard field type."
Perhaps the `wildcard` field type could support the `null_value` mapping option for closer parity with `keyword` fields.

[2020-04-24 00:54] elasticmachine commented on #55701
Pinging @elastic/es-search (:Search/Mapping)

[2020-04-24 01:15] ywangd opened #55702 "[CI] SnapshotResiliencyTests.testConcurrentSnapshotCreateAndDeleteOther failure"
This is a new failure since today but it failed 5 times on `master` branch:
* https://gradle-enterprise.elastic.co/s/uallgp4u7igny
* https://gradle-enterprise.elastic.co/s/3yyhml2iknfju
* https://gradle-enterprise.elastic.co/s/u6uzbd7dye5ta
* https://gradle-enterprise.elastic.co/s/ft5l4vg3plocc
* This one has no build scan but jenkins job is https://elasticsearch-ci.elastic.co/job/elastic+elastics

[2020-04-24 01:15] elasticmachine commented on #55702
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-04-24 02:01] ywangd commented on #54317
My above analysis has **two oversights**:

**First oversight**
It assumes first request to populate the cache is a "has privileges" call. In this case, it is simple to just fill the cache with the required applications. However, if the first request is a "get privleges" call, not every privilege of an application is required. The situation for "application name keyed cache" is tricky in this case.

[2020-04-24 02:49] tvernum commented on #54317
Is this true for API Keys? Since we currently have a per-API-key role, and know that we may have many API keys with the same role descriptors (but unique cache-ids) it feels like some caching here would be useful.
However, we know we'd like to [improve this pseudo-role caching](https://github.com/elastic/elasticsearch/issues/53939), so maybe it's not a big deal.

I don't think that's unreasonable

[2020-04-24 03:36] #55524 closed

[2020-04-24 04:43] ywangd commented on #55702
Another 3 more failures:
* https://gradle-enterprise.elastic.co/s/ugqczx3h7btkw
* https://gradle-enterprise.elastic.co/s/hcws26fkt2ooc
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_RUNTIME_JAVA=zulu11,nodes=general-purpose/650/console

I am muting it.

[2020-04-24 04:48] fanxlxs opened #55704 "java.lang.IncompatibleClassChangeError: Found interface org.elasticsearch.common.xcontent.ToXContentFragment, but class was expected"
[code]

[code]

[2020-04-24 04:49] fanxlxs commented on #55704
<dependency>
            <groupId>org.elasticsearch.client</groupId>
            <artifactId>elasticsearch-rest-high-level-client</artifactId>
            <version>7.6.2</version>
        </dependency>

[2020-04-24 04:55] ywangd opened #55705 "[CI] CorruptedFileIT.testCorruptionOnNetworkLayer failure"
This is a new failure today but it is reproducible locally on master branch.

Build scan: https://gradle-enterprise.elastic.co/s/scdmcouk5clvs

Stacktrace:
[code]

[2020-04-24 04:55] elasticmachine commented on #55705
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-04-24 04:57] ywangd commented on #55705
It is specific to the test seed. It does not fail with another seed. It is likely a rare edge case so I'll leave it without muting.

[2020-04-24 05:00] ywangd commented on #55702
Muted #55703

[2020-04-24 06:06] original-brownbear opened #55707 "org.elasticsearch.index.store.SearchableSnapshotDirectoryStatsTests.testCachedBytesReadsAndWrites Fails Reproducibly"
Fails every time for me on master:

[code]

[2020-04-24 06:06] elasticmachine commented on #55707
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-04-24 06:08] ywangd commented on #54317
I think Improving [pseudo role caching](#53939) is a better way of handling this. In addition, even without it, the price to pay here is one call per API key at its first authentication. This is a known initial cost and *not* ongoing. So I think it is affordable. If we get role caching thrashing, then we have a bigger problem not just additional round-trip for application privileges.

If we do mak

[2020-04-24 06:29] f3l1xss commented on #51818
Hello what do you guys think about this? @jimczi @dliappis

[2020-04-24 06:41] dadoonet commented on #55704
What gives

    mvn dependency:tree

?

[2020-04-24 06:44] pgomulka commented on #55699
thanks for the details @dakrone
The first part will likely be resolved by this PR https://github.com/elastic/elasticsearch/pull/55608
- it generalises deprecation logger so that we could create more loggers that deprecate/warn.

I will look into the second part where warnings are back in the body.

[2020-04-24 06:45] fanxlxs commented on #55704
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>com.xx</groupId>
    <artifactId>xx</artifactId>
    <version>0.0.1-SNAPSHOT</version>
    <pa

[2020-04-24 06:46] fanxlxs commented on #55704
package com.xx.config;

import org.apache.http.HttpHost;
import org.elasticsearch.client.RestClient;
import org.elasticsearch.client.RestHighLevelClient;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

@Configuration
public class ElasticSearchClientConfig {

    @Bean
    public RestHighLevelClient restHighLevelClient(){
        Res

[2020-04-24 07:05] dadoonet commented on #55704
Could you answer my question?

Anyway, there's a typo in your pom: `elasticsearch.verison` should be `elasticsearch.version`.

[2020-04-24 07:12] fanxlxs commented on #55704
Shall I do that
<dependency>
            <groupId>org.elasticsearch.client</groupId>
            <artifactId>elasticsearch-rest-high-level-client</artifactId>
            <version>7.6.2</version>
        </dependency>

[2020-04-24 07:13] fanxlxs commented on #55704
or
  <dependency>
                <groupId>org.elasticsearch</groupId>
                <artifactId>elasticsearch</artifactId>
                <version>7.6.2</version>
            </dependency>

[2020-04-24 07:15] dadoonet commented on #55704
Did you fix the problem I mentioned?
If not, could you do it please.
If the problem is still there, run the dependency tree I asked for and check the output or share it.

[2020-04-24 07:28] fanxlxs commented on #55704
I changed the pom to

[code]
Again, this is the problem

[code]

[2020-04-24 07:28] fanxlxs commented on #55704
![image](https://user-images.githubusercontent.com/36353724/80186248-4745b100-8640-11ea-82c5-2976eff30da9.png)

[2020-04-24 07:37] dadoonet commented on #55704
This is definitely a spring boot problem. Please share the result of the command O asked you to run on https://ela.st/forum where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on https://ela.st/forum.

Thanks!

[2020-04-24 07:37] #55704 closed

[2020-04-24 07:37] #55646 closed

[2020-04-24 07:49] hamishforbes commented on #47764
FWIW I have since disabled the delete phase in my ILM policy and switched back to elasticsearch-curator using an index prefix and count for retention

Here'e a graph of % free space across my logging cluster, I don't think I need to point out which day I made the switch on :)
<img width="905" alt="Screenshot 2020-04-24 at 08 47 32" src="https://user-images.githubusercontent.com/1282135/80187881-48

[2020-04-24 08:18] astefan opened #55709 "EQL: cidrMatch function fails to match when used in scripts"
Using @jrodewig's example from [his docs PR](https://github.com/elastic/elasticsearch/pull/54216#discussion_r405658683) a query of the form `where cidrMatch(source.address, \"192.168.0.0/16\") == true` fails to match because the Painless script for equality is doing a simple comparison between `192.168.0.0/16` and the actual value in that field - `192.168.152.12` - and will obviously not match and

[2020-04-24 08:18] elasticmachine commented on #55709
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-04-24 08:31] lrynek commented on #42811
@yuri-lab I cannot agree more with you - it's also our use case.

@mayya-sharipova I can see the possibility of transferring and reproducing our current query needs into the `bool` and `script_score` combinations but for me it degrades the experience of the new approach versus the one we are used to... 😞
The explicit and consistent approach in `function_score` is far better IMHO... Not sure what i

[2020-04-24 08:49] hackerwin7 commented on #55638
@jasontedor

could we make `FollowingRegularEngine` instead of `FollowingEngine`.
`FollowingRegularEngine` have two mode : 1. following mode  2. regular mode

Initially `FollowingRegularEngine` is in **following mode** , some methods such as `indexingStrategyForOperation` and `deletionStrategyForOperation` etc. use original `FollowingEngine` methods.

When we call unfollow API, FollowingRegularEng

[2020-04-24 09:33] #54289 closed

[2020-04-24 10:17] #55490 closed

[2020-04-24 10:57] jasontedor commented on #55699
I'm not sure about adding these to the response body. Can someone explain to me the benefit?

[2020-04-24 12:18] 0xtf commented on #47764
That’s interesting and definitely seems like a viable alternative! :)

Unfortunately, as a customer of Elastic Cloud, Curator is not an option
(unless I have it running somewhere else, which kind of defeats the purpose
of EC in the first place).

On Fri, 24 Apr 2020 at 08:50, Hamish Forbes <notifications@github.com>
wrote:

[2020-04-24 13:07] pgomulka commented on #51614
closed by https://github.com/elastic/elasticsearch/pull/51986

[2020-04-24 13:07] #51614 closed

[2020-04-24 13:07] pgomulka commented on #51236
closed by https://github.com/elastic/elasticsearch/pull/51986

[2020-04-24 13:07] #51236 closed

[2020-04-24 13:10] javanna commented on #55636
To clarify, `keep_alive` has little to do with this behaviour. If the request is completed within the wait for completion timeout, you will get back the final response directly, hence the response will not be stored in the cluster and no id will be returned regardless of the `keep_alive` parameter. There is an undocumented parameter called `keep_on_completion` that allows to request that every res

[2020-04-24 14:05] MohamedBechir commented on #54963
I would like to start working on it!

[2020-04-24 14:08] MohamedBechir commented on #55065
Is it possible to start working on it?

[2020-04-24 14:24] cataclysdom commented on #47764
+1

ILM needs to handle the overall index lifecycle instead of a single index at a time.  Curator is an option, but just another workaround for functionality that should exist as a core component.

[2020-04-24 14:56] jasontedor commented on #55638
@hackerwin7 I would not be in favor of implementing it in this way because it could allow for the introduction of subtle bugs, and also makes it harder for to reason about the engine, and its future maintenance (it's a rather complex piece of code). It's a far simpler model for us to think about: if an index is a regular index it uses an internal engine, and if it's a follower index it uses a foll

[2020-04-24 15:04] #47990 closed

[2020-04-24 15:07] imotov opened #55727 "Confusing Error message [valueType] must not be null: [...]"
To reproduce:
[code]
The error message is
[code]
Which is confusing because if shows up the moment a user actually adds `value_type`.

The error is caused by excessive [leniency in one place](https://github.com/elastic/elasticsearch/blob/6c030dc8b8fa08843bdf4bbe2644d0538f322d52/server/src/main/java/org/elasticsearch/search/aggregations/support/ValueType.java#L118-L120) combine with [excessive stri

[2020-04-24 15:07] elasticmachine commented on #55727
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-04-24 15:12] imotov commented on #53746
At the end of the day @not-napoleon found a good place to make a single call per parsing while having values source type in hand.

[2020-04-24 15:16] Jamalarm opened #55731 "'processors' configuration parameter ignored on official docker container"
**Elasticsearch version**: 7.6.1

**Plugins installed/JVM version/OS version**: Official docker container

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

I am trying to limit the size of thread pools on a local elastic search test cluster using the `processors` setting described here:

https://www.elastic.co/guide/en/elasticsearch/reference/curr

[2020-04-24 15:17] wernerb commented on #44581
Is there any update on this, will it be on the roadmap?

[2020-04-24 15:57] yuri-lab commented on #42811
@mayya-sharipova Conceptually yes, but in practice this approach requires string manipulation to construct source for the script, which is error-prone. Also it goes against best practice recommended by Elasticsearch to keep script source static and change only script parameters.

[2020-04-24 16:49] jakelandis commented on #54478
The schema needs to support "" (empty string) for any "size" parameters since it does actually make a difference [1] vs. the default. However, this particular API does not even need the "size" parameter, since there is nothing that would be impacted by it. So I will remove the "size" from the cat.thread_pool spec.

Note - All _cat api's accept the "size" param and won't error, but will only get us

[2020-04-24 18:23] mbarretta opened #55741 "Potential bug for 3d point arrays in geo_polygon queries"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.6.2

**JVM version** (`java -version`):
ESS

**OS version** (`uname -a` if on a Unix-like system):
ESS

**Description of the problem including expected versus actual behavior**:
When using a 3d points array in a `geo_polygon` query, it results in an exception

**Steps to reproduce**:

[code]

**Output**:
[code]

[2020-04-24 18:23] elasticmachine commented on #55741
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-04-24 18:23] mbarretta commented on #55741
Maybe related to https://github.com/elastic/elasticsearch/pull/40447

[2020-04-24 18:29] vlad-aleksandrov commented on #49124
We have experienced this problem recently and I do have a stack trace for the fist error.

Conditions:
* The latest elasticsearch client `7.6.2`
* apache HTTP client: `httpasyncclient-4.1.4.jar` `httpclient-4.5.1.jar` `httpcore-4.4.jar` `httpcore-nio-4.4.12.jar`
* High frequency of long running request (a few seconds per query).
* Cluster allocation set to `none` for rolling restart.
* Elasticsear

[2020-04-24 18:44] xzer commented on #49124
I think I had given the reason above. As a workaround, you can use reflect to fix the client setup issue.

[2020-04-24 18:45] #54655 closed

[2020-04-24 19:04] stu-elastic opened #55745 "Scripting: ctx[_version] in update by query returns -1 since 6.7"
In [`TransportUpdateByQueryAction`](https://github.com/elastic/elasticsearch/blob/master/modules/reindex/src/main/java/org/elasticsearch/index/reindex/TransportUpdateByQueryAction.java#L86..L89) we always create `AsyncIndexBySearchAction` with `needsSourceDocumentVersions=false`, so the versions are never fetched.  This was on the switch to sequence numbers: https://github.com/elastic/elasticsearc

[2020-04-24 19:04] elasticmachine commented on #55745
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-04-24 19:11] Shubhangi2901 commented on #54628
Hi @iverase - Can you give me a little bit more context on what exactly needs be done for this issue?

I went over the code for geo_boundingbox queries and geo_distance queries and geo_shape field type and understand it, but now given a geo_shape field type, how am I expected to use the geo_distance concepts for it? I can think of a few ways which I am not sure are correct, but I am not sure if yo

[2020-04-24 19:53] #54846 closed

[2020-04-24 20:39] jasontedor commented on #55731
The setting `processors` has been deprecated. In 7.6 you can use the setting `node.processors`, which would be compatible with the way that we translate environment variables to settings within our Docker images. It looks like we missed updating this in the docs, which I will address.

[2020-04-24 20:47] jasontedor commented on #55731
I pushed 423afbff22ce1dad445e1b29447346e35b1ed788 to 7.6 and ec095760d41738916a1d00965d5262786282fdba to 7.7. Since this was a partial backport of #54855, I pushed directly.

[2020-04-24 20:47] #55731 closed

[2020-04-24 20:47] elasticmachine commented on #55731
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-04-24 20:57] jaijhala opened #55754 "Reindex from Remote from a newer version to older version"
Let's say for example we're doing Reindex from Remote from 7.x -> 6.x version.

a). Do we support this?
If not, then I think we should probably document it better.

b). If we do support this then I think below issue needs to be fixed.
I tried this from 6.6 cluster and this is the error I get -

[code]

This is because starting 7.0 version hits.total is a object - https://www.elastic.co/guide/en/el

[2020-04-24 21:03] elasticmachine commented on #55754
Pinging @elastic/es-distributed (:Distributed/Reindex)

[2020-04-24 21:05] nik9000 commented on #55754
I talked with @jaijhala and want to clarify that the "local" cluster is the 6.x one in this case. We already support reindex-from-remote where the "local" cluster is 7.x and the "remote" cluster is 6.x. This'd mean teaching 6.x to be ok with the response from 7.x. This is something our high level rest client does, but not something we've done in reindex.

[2020-04-24 21:07] nik9000 commented on #55552
I'd be happy to add something for this as sort of a follow-up to #55559.

[2020-04-24 21:07] jpountz commented on #15613
@penfree This would work, but wouldn't it be even easier to have 2 indices?

[2020-04-25 02:55] zacharymorn commented on #48131
@DaveCTurner I've opened a PR for this. Please let me know if it looks good.

[2020-04-25 08:19] sohami opened #55764 "FilterAllocationDecider routing exclude setting behavior"
**Elasticsearch version** (Verified on 6.8 and 7.4.2):

**Plugins installed**: [none]

**Description of the problem including expected versus actual behavior**:
I was exploring the FilterAllocationDecider behavior with **cluster.routing.allocation.exclude** setting, specially how the updates of these setting group works. I found that the behavior is not as per my expectation and think it is a bug

[2020-04-25 08:58] javanna commented on #55572
@jimczi we discussed that storing partial responses should also help removing `is_partial`, but I wonder if the two changes are so tightly related. I believe that the answer boils down to this question: "is there a situation today where the `_shards` section is not enough to explain the state of a search that is no longer running?". I am referring specifically to the scenario where the query is no

[2020-04-25 10:35] amitmbm opened #55767 "Expose preserve_original setting in edge ngram token filter"
`preserve_original` setting is currently not supported in the `EdgeNGramTokenFilter` https://www.elastic.co/guide/en/elasticsearch/reference/master/analysis-edgengram-tokenfilter.html#analysis-edgengram-tokenfilter
and there is even TODO comment in the master code of Elasticsearch(as of 25th Apr 2020) to Expose `preserve_original` as shown in this GitHub code link
https://github.com/elastic/elasti

[2020-04-25 10:50] DaveCTurner commented on #55764
I think this is more of a user question than a genuine bug report and as such I am closing it here. Please ask this question on the [discussion forums](https://discuss.elastic.co/c/elasticsearch) instead.

[2020-04-25 10:50] #55764 closed

[2020-04-25 10:53] flaviogoncalves opened #55768 "Problem on Edit Filter"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

7.6.2

**JVM version** (`java -version`):

Cloud

**OS version** (`uname -a` if on a Unix-like system):

Cloud

**Description of the problem including expected versus actual behavior**:

In the map, when you click over a city, you can select filters. After selecting a filter, if you try to edit the filter it doe

[2020-04-25 13:53] deanjo opened #55769 "How to run elasticsearch source code specified test case"
Hello I downloaded the source code of elasticsaerch6.8.3 and imported IntelliJ idea I want to run the specified test case in idea and set a breakpoint
 For example org.elasticsearch.document.DocumentActionsIT # testIndexActions

My operation is as follows
Select the specified unit test case, right-click debug to run
But I found that this will run a lot of test cases and the breakpoints I set are n

[2020-04-25 19:08] erickmp07 commented on #55065
@MohamedBechir I'm working on it.
Sorry if I haven't created a PR yet, but this activity is part of my course evaluation.
My group scheduled a meeting for tomorrow qnd we're going to do this together.

[2020-04-25 20:42] jockjiang commented on #47436
I have the same issue with 7.4.2, and I'm sure I don't set es.http.cname_in_publish_address property.

[2020-04-25 23:04] abprash commented on #52377
@geekpete @jrodewig  Not sure, how it usually goes, would you mind reviewing my PR?

[2020-04-25 23:38] abprash commented on #15827
Can i work on this issue?

[2020-04-25 23:43] abprash commented on #46641
@malpani , just wanted to clarify, is this issue fixed ?

[2020-04-26 01:30] andyyumiao opened #55771 "503 error when use low level api"
**When i create es instance with bellow code:**
RestClient restClient = RestClient.builder(
      HttpHost.create("http://xxx.xx.com")).build();
**then call the method: restClient.performRequest, i got 503 error:**
org.elasticsearch.client.ResponseException: method [GET], host [http://xxx.xx.com], URI [megacorp/employee/_search], status line [HTTP/1.0 503 Service Unavailable]
<html><body><h1>503 S

[2020-04-26 02:16] #55638 closed

[2020-04-26 02:48] abprash commented on #35595
@toddferg I would like to pick this up. Can i start working on this?

[2020-04-26 04:08] sohami commented on #55764
@DaveCTurner - I have opened a post in [discussion forum here](https://discuss.elastic.co/t/filterallocationdecider-routing-exclude-setting-behavior/229800). However, I was actually pointing out to a bug in the exclude setting behavior which is not as expected. I have also shared a test to show the existing behavior and what is the expectation.

I am new to the community so just wanted to know if

[2020-04-26 04:29] Hailei opened #55772 "CloseableThreadLocal can severely degrade performance"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 7.5.1

**Plugins installed**: []

**JVM version** (`java -version`):  in-built JDK

**OS version** (`uname -a` if on a Unix-like system):
Linux 4.14.81.bm.20-amd64 #1 SMP Debian 4.14.81.bm.20 Sat Mar 14 10:14:04 UTC 2020 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
I

[2020-04-26 06:49] DaveCTurner commented on #55772
Duplicates https://discuss.elastic.co/t/swarm-of-shard-search-requests-cause-elasticsearch-transport-worker-blocked-on-closablethreadlocal/229803 and either fixed or changed beyond recognition by #43249, so I'm closing this.

[2020-04-26 06:49] #55772 closed

[2020-04-26 08:45] original-brownbear commented on #47436
@jockjiang could you check the [nodes stats API](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-nodes-info.html) to check the actual JVM options used by your node(s)? If the system property is still in there, it's being picked up from somewhere in your system. It seems unlikely that this is still not fixed in `7.4.2` or that it's a system specific issue for you that isn't

[2020-04-26 11:24] jasontedor commented on #55771
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2020-04-26 11:24] #55771 closed

[2020-04-26 11:24] jasontedor commented on #55769
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2020-04-26 11:24] #55769 closed

[2020-04-26 11:57] jasontedor commented on #55754
Oh, sorry, I missed that this is a forwards compatibility issue. I'm not sure that we can support that. What is the use-case for wanting to reindex from newer to old?

[2020-04-26 14:12] jockjiang commented on #47436
@original-brownbear , I attached the result from the API. please review. I find "-Des.http.cname_in_publish_address=true"  in the JVM options.
[node_jvm.txt](https://github.com/elastic/elasticsearch/files/4535468/node_jvm.txt)

[2020-04-26 15:09] jaijhala commented on #55754
I think the user I was working with just didn't know that it's not supported like that. Maybe we just need to document it a little better. Or perhaps thrown an error when the "source" cluster is higher version (major) than the "local" cluster. That would be much cleaner if we don't want ES to even attempt the reindexing in this scenario.

[2020-04-26 15:22] deanjo commented on #55769
why closed ???????????????

[2020-04-26 16:05] original-brownbear commented on #47436
@jockjiang yea so this really looks like you have the option set in your configs. Probably in the `jvm.options` in your `/etc/elasticsearch` folder. I'd look into there. If you're having trouble working out the issue from there, I'd suggest asking a question on our [discuss forums](https://discuss.elastic.co/) as why generally reserve Github for issue reporting and feature requests.

[2020-04-26 16:33] malpani commented on #46641
it is not - so the problem with my approah was wire compatibility. The change has to be pushed out on a future version so that the new fields int he stats response dont end up breaking API.  node stats API. This becaome lower priority for me as i implemented the same in a plugin. Anyne can adopt this.

[2020-04-26 17:57] original-brownbear opened #55775 "Deprecate and Remove BlobStoreRepository "compress" Setting?"
Currently all blob-store based repository implementations allow setting a "compress" setting. It defaults to "true" (which makes sense) and there really isn't much of a reason to ever set it to "false".
The savings in CPU when writing or reading files in the repo are probably irrelevant in practice in all cases and I don't see any other real reason why you wouldn't want to compress the metadata (i

[2020-04-26 17:57] elasticmachine commented on #55775
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-04-27 00:19] russcam commented on #55636
Sorry, I meant `keep_on_completion`, not `keep_alive`. This is what we're using for inegration tests for the C# client: https://github.com/elastic/elasticsearch-net/pull/4637/commits/ea847aa0eefe6a458fefb1a04a1c5c086b6af435

The reason for raising this issue though is that the documentation does not mention any happy path scenario where an ID is not returned, which I think it should, along with do

[2020-04-27 01:31] nissansz opened #55778 "I want to use nori plugin in elasticsearch 5.4.2, how to do?"
I want to use nori plugin in elasticsearch 5.4.2, how to do?

[2020-04-27 01:54] dnhatn commented on #55778
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/) that s

[2020-04-27 01:54] #55778 closed

[2020-04-27 01:54] elasticmachine commented on #55767
Pinging @elastic/es-search (:Search/Analysis)

[2020-04-27 03:11] HanguChoi commented on #44700
@dko-slapdash , I am using [`best_fields` with `tie_breaker`](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-multi-match-query.html#type-best-fields).

It wasn't bad for our product.

[2020-04-27 07:01] przemekwitek opened #55781 "Create annotations on significant model changes."
In order to give users more insight into anomaly detection, we could be creating an annotation every time there is a significant change in the model calculation. Some ideas on what to report are:
- step change detected
- periodicity detected
- trend detected

How this could work technically:
- CPP emits log messages with special marker string denoting log message related to a significant model cha

[2020-04-27 07:01] elasticmachine commented on #55781
Pinging @elastic/ml-core (:ml)

[2020-04-27 07:30] #54062 closed

[2020-04-27 09:35] markharwood opened #55790 "Fuzzy query has a false negative when prefix length == search term length"
While testing the new wildcard field's functional equivalence with the keyword field I came across an issue with the FuzzyQuery on keyword fields.
The search string `bba` does not match doc value `bbab` with an edit distance of 1 and prefix length of 3.

Reproduction:

	PUT /test
	{
		"mappings": {"properties": {"kw": {"type": "keyword"}}}
	}

	POST /test/_doc/1
	{
	  "kw": "bbab"
	}

    POST /te

[2020-04-27 09:35] elasticmachine commented on #55790
Pinging @elastic/es-search (:Search/Search)

[2020-04-27 09:43] przemekwitek opened #55792 "AsyncSearchActionIT.{testRestartAfterCompletion,testCleanupOnFailure} failing in CI repeatedly"
Example failure:

Log | https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/os=windows-2016/590/console

Build Scans |
[7.6.3] https://gradle-enterprise.elastic.co/s/5qmikb4lyfwx2
[7.7.0] https://gradle-enterprise.elastic.co/s/jpe42d5g2mumu
[7.8.0] https://gradle-enterprise.elastic.co/s/z5jbaybirhc4k
https://gradle-enterprise.elastic.co/s/7sw2z2wgjwm

[2020-04-27 09:43] elasticmachine commented on #55792
Pinging @elastic/es-search (:Search/Search)

[2020-04-27 10:16] przemekwitek commented on #55068
Reopening as this test failed again on 7.x for apparently the same reason we were debugging before:

[code]

[2020-04-27 10:18] original-brownbear opened #55796 "[CI] org.elasticsearch.client.documentation.ReindexDocumentationIT.testReindex"
This failed on 7.x

[code]

[code]

https://gradle-enterprise.elastic.co/s/lqcyi2m4orywg/console-log/raw

[2020-04-27 10:18] elasticmachine commented on #55796
Pinging @elastic/es-distributed (:Distributed/Reindex)

[2020-04-27 11:04] iverase commented on #54628
Hi,

I will try :)

 First of all, mind you that last week there was a bit of refactoring going on in geo field mappers (https://github.com/elastic/elasticsearch/pull/55621). Now `geo_point` and `geo_shape` inherit from `AbstractGeometryFieldMapper`, which defines an `AbstractGeometryFieldType` which can generate geometry queries.

The idea for geo_distance and geo_bounding_box queries is to accep

[2020-04-27 11:30] matriv commented on #54963
@MohamedBechir Sorry but @Patrick0308 has already started working on this: #55223

[2020-04-27 12:17] #55068 closed

[2020-04-27 12:37] jrodewig commented on #52377
@abprash I'll take a look when time permits. Thanks for raising this!

[2020-04-27 12:41] javanna commented on #55636
We should mention what happens when the response completed within the
completion timeout, agreed. I am reluctant on documenting
keep_on_completion because it's only used in tests and we are still looking
for alternatives as we would love to remove it soon.

On Mon, Apr 27, 2020, 02:20 Russ Cam <notifications@github.com> wrote:

[2020-04-27 13:05] #55792 closed

[2020-04-27 13:05] #55796 closed

[2020-04-27 13:14] przemekwitek opened #55804 "[6.8] A problem occurred evaluating project ':benchmarks'."
`A problem occurred evaluating project ':benchmarks'.`

Build 20200427115226-68434CDB
Log https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+matrix-java-periodic/ES_RUNTIME_JAVA=openjdk15,nodes=general-purpose/656/console
Build Scans https://gradle-enterprise.elastic.co/s/mmxpvcs6ulojy

The following can be found in logs:
[code]

As @droberts195 pointed out it may be due to using Ja

[2020-04-27 13:14] elasticmachine commented on #55804
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-04-27 13:21] przemekwitek opened #55806 "[7.x] RelocationIT.testIndexSearchAndRelocateConcurrently failed a few times"
Example failure:

Build 20200427124217-E6E26461
Log https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+EAR/576/console
Build Scans https://gradle-enterprise.elastic.co/s/o72idc3h2fn5g

Repro lines:
[code]

Does not reproduce locally.

[2020-04-27 13:21] elasticmachine commented on #55806
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-04-27 13:24] dnhatn commented on #55806
Fixed in https://github.com/elastic/elasticsearch/pull/55799.

[2020-04-27 13:24] #55806 closed

[2020-04-27 13:24] przemekwitek commented on #55806
It also failed on master:

Build 20200427054840-B5C596C5
Log https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/os=windows-2019/590/console
Build Scans https://gradle-enterprise.elastic.co/s/sjowlrjl7qmaq

[2020-04-27 13:35] przemekwitek opened #55807 "RegressionIT. testTwoJobsWithSameRandomizeSeedUseSameTrainingSet fails on 7.x"
Build 20200427110658-3288FBEC
Log https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=ubuntu-18.04&&immutable/715/console
Build Scans
[7.7.0] https://gradle-enterprise.elastic.co/s/wod4ndjqklih6
[7.6.3] https://gradle-enterprise.elastic.co/s/vrpyflwqudi36
[6.8.9] https://gradle-enterprise.elastic.co/s/mppjhffgu3jg2
[6.8.9] https://gradle-enterprise.elas

[2020-04-27 13:35] elasticmachine commented on #55807
Pinging @elastic/ml-core (:ml)

[2020-04-27 13:59] farin99 commented on #50670
@ywelsch seems like the code isn't part of any release (not 7.6 or above)
https://github.com/elastic/elasticsearch/blob/v7.6.2/server/src/main/java/org/elasticsearch/cluster/action/index/MappingUpdatedAction.java

[2020-04-27 14:08] przemekwitek commented on #54810
Another one on 7.x:

Build 20200427134158-C6F180FA
Log https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob+fast+part2/4695/console
Build Scans https://gradle-enterprise.elastic.co/s/svojzy2pwyopa

Repro lines:
[code]

[2020-04-27 14:10] ywelsch commented on #50670
Indeed, looks like I missed the backport to the 7.6 branch, and it also missed the 7.5.2 release (it's on the 7.5 branch, but just after that release), probably backported at the time where the new branches were cut. It was backported to 7.x (i.e. future 7.7.0), so will be released as part of that. I will adapt the labels on the PR.

[2020-04-27 15:16] #54810 closed

[2020-04-27 15:37] thomasneirynck opened #55812 "geo_bounds agg top_left longitude is larger than bottom_right longitude"
On shapes wrapping the date-line, for `geo_shape` fields, the `geo_bounds` agg will return a bounds where the `top_left` longitude is larger than the `top_right` longitude.

This seems unexpected because left/right implies display in equidistant projection, and shifts extra burden to client-side code to normalize that response.

e.g.:

This bounds:
[code]

should rather be represtented as:

[code]

[2020-04-27 15:42] adagios opened #55813 "DST is not honored when searching by rounded dates on query_string"
**Elasticsearch version** (`bin/elasticsearch --version`):

Running on docker with `docker run -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" docker.elastic.co/elasticsearch/elasticsearch:7.6.2`

[code]
**Plugins installed**: []
none

**JVM version** (`java -version`):
AdoptOpenJDK/OpenJDK 64-Bit Server VM/13.0.2/13.0.2+8

**OS version** (`uname -a` if on a Unix-like system):
Linux/4.19

[2020-04-27 15:56] elasticmachine commented on #55813
Pinging @elastic/es-search (:Search/Search)

[2020-04-27 16:19] mayya-sharipova commented on #54566
@ratinhoo We have acknowledged that this is a bug, and we would like it to be fixed.
The issue is on the Lucene side as some boolean scorers process deleted documents, while they should not. The relevant Lucene issues are: [WANDScorer should support minimumNumberShouldMatch](https://issues.apache.org/jira/browse/LUCENE-9346) and [WANDScorer should support two-phase iterator](https://issues.apache.

[2020-04-27 16:43] elasticmachine commented on #55812
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-04-27 17:07] malpani opened #55815 "Allocation filtering works only on delta settings - old excluded attributes are not honored"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.1, 7.4 and likely other versions too

**Description of the problem including expected versus actual behavior**:
Allocation filtering works only on delta settings - ie. old filter attributes of the same family(include/exclude/require) are not honored

This bug occurs because `FilterAllocationDecider` is recreating its `include/exclude/req

[2020-04-27 17:14] nknize commented on #55812
This was discussed in https://github.com/elastic/elasticsearch/issues/22564#issuecomment-530908404  Changing the dateline crossing logic will likely need to be handled outside elasticsearch.

[2020-04-27 17:31] thomasneirynck commented on #55812
thx @nknize

This would benefit from documentation in ES. left/right implies cartesian coordinates (platte carre), and not angles for the longitudes. This creates this hybrid where ES uses WKT semantics for its values, but introduces cartesian language to describe the parameters of the envelope (`top_left` is a typical anchor of 2D-cartesian drawing APIs, and generally unused anywhere else in the

[2020-04-27 17:44] jkakavas opened #55816 "TokenAuthIntegTests#testRefreshingMultipleTimesWithinWindowSucceeds failures"
This has failed a few times already in 7.x and 7.7 https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(branch),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:testRefreshingMultipleTimesWithinWindowSucceeds),sort:!(time,desc))

Example failure : https://gradle-enterpris

[2020-04-27 17:44] elasticmachine commented on #55816
Pinging @elastic/es-security (:Security/Authentication)

[2020-04-27 18:16] jasontedor opened #55820 "Should we stop honoring JAVA_HOME in favor of a dedicated environment variable"
Awhile ago, we stopped honoring generic environment variables. That is environment variables that have some convention in the community (but are not actually built in to the JVM). For example, we honor our own `ES_JAVA_OPTS` over `JAVA_OPTS`. A primary reason that we do this is to avoid conflicts where a user has set some values in `JAVA_OPTS` that they wouldn't want applying to Elasticsearch. Hav

[2020-04-27 18:16] elasticmachine commented on #55820
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-04-27 19:29] csoulios opened #55824 "AggregatorTestCase.searchAndReduce() returns null as aggregation result"
It is common for metric aggregations to test cases that aggregations are run without having inserted any documents first.

In those cases the expected outcome should be an "empty aggregation" constructed by `Aggregator.buildEmptyAggregation()`

It was noticed that in the case that no documents have been inserted first, `AggregatorTestCase.searchAndReduce()` returns null. This causes `NullPointerEx

[2020-04-27 19:29] elasticmachine commented on #55824
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-04-27 19:36] gabrielcustodio commented on #40492
Hello guys, its possible to inscrease to 3072 dims?

[2020-04-27 20:03] #55727 closed

[2020-04-27 20:26] mayya-sharipova commented on #40492
@gabrielcustodio  We have not encountered models or use case that require more than 2048 dims.  Can you please describe your use-case or models that need this big number of dims?

[2020-04-27 20:36] gabrielcustodio commented on #40492
I used this model
https://allennlp.org/elmo
on pt-br.

Actually the output is 3 layers with 1024 dims.

3x1024

Source: https://github.com/flairNLP/flair/issues/886

I load this model using flair library and then extract the embeddings.

[2020-04-27 21:32] jbaiera commented on #55634
I was able to get a solid reproduction by eliding the assertions (similar to how a production runtime would do so) and dramatically throttling the maximum allowed throughput (only 1 concurrent search at a time, queue size set to 10).

Importantly, the pipeline must indeed contain two enrich processors, but they do not need to be separated by a pipeline processor. The deadlock still occurs when run

[2020-04-27 23:49] jasontedor commented on #55471
No additional feedback, closing.

[2020-04-27 23:49] #55471 closed

[2020-04-28 00:39] nreese opened #55835 "geo_bounding_box query inconsistent with geo_shape query for longitudes outside -180 and 180"
Why can't geo_bounding_box use longitudes outside -180 and 180 while geo_shape query can?

Below are two queries with longitudes outside -180 and 180 range. The geo_shape query works. the geo_bounding_box query fails. This is very inconsistent user experience. Both should just work.

For example, working geo_shape query with longitudes outside range of -180 and 180.
[code]

geo_bounding_box query

[2020-04-28 00:39] elasticmachine commented on #55835
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-04-28 03:29] mirrormingzZ commented on #54501
I also encountered this problem, how do you solve it, thank you

[2020-04-28 03:29] tvernum opened #55837 "Remove cacheKeyRenderer from IndicesRequestCache"
IndicesRequestCache has [this comment](https://github.com/elastic/elasticsearch/blob/f8413eb07ae200fc49732f2343008affdc93ac62/server/src/main/java/org/elasticsearch/indices/IndicesRequestCache.java#L117-L121):

[code]

Since #32827 is closed, can we drop the `cacheKeyRenderer` argument (or remove the comment if we've decided to keep it permanently)?

[2020-04-28 03:29] elasticmachine commented on #55837
Pinging @elastic/es-search (:Search/Search)

[2020-04-28 03:30] tvernum commented on #55837
Ping @jimczi since it seems you fixed the issue that this was intending to diagnose.

[2020-04-28 03:34] tvernum commented on #44581
No one is currently working on this, but I have some ideas on how we might make it work, so it's possible it will make it into a future release.

[2020-04-28 06:42] Tasselmi opened #55839 "IS there any way to delete some of the request parameters settled default by myself?"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.3.2

**Plugins installed**: []

**JVM version** (`java -version`):
1.8.1

**OS version** (`uname -a` if on a Unix-like system):
centos 7.0

**Description of the problem including expected versus actual behavior**:
when I use 7.6 client to delete multi-doc from 6.3.2 server, error here:
`contains unrecognized parameter: [ignore_throttled]

[2020-04-28 06:58] ywangd opened #55840 "Consistent response for has privileges API when requesting undefined privileges"
The [has privileges](https://www.elastic.co/guide/en/elasticsearch/reference/master/security-api-has-privileges.html#security-api-has-privileges-example) API currently gives back inconsistent responses when querying against undefined application privileges.

Though it could be argued that undefined behaviour is reasonable for undefined privileges, we would prefer to have consistency whenever possi

[2020-04-28 06:58] elasticmachine commented on #55840
Pinging @elastic/es-security (:Security/Authorization)

[2020-04-28 07:01] BigGitWorld opened #55841 "Additional way for elasticsearch [ Feature request]"
Hello.
Please look at the [GridDB](https://github.com/griddb/griddb_nosql) architecture (a key-container No-SQL database) for the IoT scenarios.
I think it would be great if the elasticsearch can also store data as the key-container (key=thing UUID, container = data of that thing in ONE document). I think this architecture improves the search performance even more than now.

[2020-04-28 07:10] Tasselmi commented on #41647
what sucks is your forward compatibility but not backward compatibility, what do you think ?
when I use ES java client API, there are so many compatibility problems by users.
It is never easy to upgrade the server, but  it is easy to upgrade the client.
forward compatibility is totally nonsense and foolish.

[2020-04-28 08:07] yixingzhong opened #55843 "v2.3.2 have only SNAPSHOT version"
hi, i want to modify elasticsearch of v2.3.2 source code, but i cant find release version.
can you help me? thanks!!!

[2020-04-28 08:21] elasticmachine commented on #55815
Pinging @elastic/es-core-infra (:Core/Infra/Settings)

[2020-04-28 08:23] #55767 closed

[2020-04-28 08:25] DaveCTurner commented on #55815
I confirmed this affects versions all the way back to 6.1.0 (6.0.0 is unaffected) so possibly https://github.com/elastic/elasticsearch/pull/26819 is related?

I think this is a duplicate of the issue that @sohami was experiencing at https://github.com/elastic/elasticsearch/issues/55764, see https://discuss.elastic.co/t/filterallocationdecider-routing-exclude-setting-behavior/229800 for further dis

[2020-04-28 08:31] pgomulka commented on #55839
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2020-04-28 08:31] #55839 closed

[2020-04-28 08:42] pgomulka commented on #55841
hey @BigGitWorld
I think you can use elasticsearch as a key-value store. However you have to bear in mind of the underlying architecture and the fact that elasticsearch is using inverted indices and analyzer framework for searches.

[2020-04-28 08:48] romain-chanu commented on #39107
@tsullivan @kertal I believe the errors mentioned in https://github.com/elastic/elasticsearch/issues/39107#issuecomment-511901846 and https://github.com/elastic/elasticsearch/issues/39107#issuecomment-512939293 have been resolved by https://github.com/elastic/elasticsearch/pull/52016. Please confirm my assessment. Thank you.

[2020-04-28 08:54] DaveCTurner commented on #55843
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2020-04-28 08:54] #55843 closed

[2020-04-28 08:55] pgomulka commented on #55841
I am gonig to close an issue, if you feel that the issue needs more discussion - feel free to reach out/reopen

[2020-04-28 08:55] #55841 closed

[2020-04-28 09:02] allaboutopensource commented on #49392
this feature is only to delete the indices but the actual data which is stored in ES nodes. AM i correct?

[2020-04-28 10:11] jiankunking opened #55849 "Elasticsearch multi-layer remote cluster is invalid"
Initial requirements

[https://github.com/elastic/kibana/issues/64267](https://github.com/elastic/kibana/issues/64267)

Set up the es cluster as shown below：

![1](https://user-images.githubusercontent.com/15723050/80473969-75e1c580-8979-11ea-8336-98119bbe1da0.png)

However, the following anomalies are found:
`at org.elasticsearch.transport.InboundHandler.handleResponse(InboundHandler.java:214) ~[

[2020-04-28 10:23] wenjianhn commented on #23063
This is indeed a scalability issue.

We've seen hundreds of millions of dentries on some production environments.
This hurts the I/O performance.

And it leads to kernel memory fragmentation. OOM occurs when the memory is badly fragmented.

[2020-04-28 10:48] original-brownbear commented on #55775
Closing this, we discussed it in snapshot resiliency sync and for now it's not worth making a change in behaviour here. We'll revisit this once we have a plan for repository compression.

[2020-04-28 10:52] cbuescher commented on #55813
From a first look it seems like the `timezone`  parameter in the query isn't considered at all in these cases. Explain output of
[code]
shows we always get a range query with "explanation" : "data:[1603584000000 TO 1603670399999]"

Will check if this was always the case or try to narrow down when this started.

[2020-04-28 11:04] mayya-sharipova opened #55850 "Search timeout parameter is wrong in the documentation"
The timeout params in the [search documentation](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-search.html) is stated to be 30 sec: "Defaults to 30s",  while in the [URI Search documentation](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-uri-request.html) it is stated to "Defaults to no timeout."  It should be "no timeout" in both cases.

This issue

[2020-04-28 11:04] elasticmachine commented on #55850
Pinging @elastic/es-docs (>docs)

[2020-04-28 11:11] djlindstr commented on #39960
Broken link.

[2020-04-28 11:36] iverase opened #55851 "[CI] TriangleTreeTests.testRandomMultiLineIntersections failure"
Reproduce with:

[code]

Error:

[code]

https://gradle-enterprise.elastic.co/s/dchseua5cx2ym

[2020-04-28 11:42] bytebilly commented on #53607
Looking at this problem from a different angle: if we assume that we want to limit "unintended misuses" of expensive queries only, instead of "malicious users", we can probably come to a simpler solution.

For example, we can see if Kibana feature control can help. For example, allow/block expensive queries in Discovery and Dev Tools based on the user, allow for all in SIEM.

Kibana can then set a

[2020-04-28 11:43] adagios commented on #55813
We've seen this since ES 5.6, so it's pretty old.

[2020-04-28 13:06] elasticmachine commented on #55850
Pinging @elastic/es-search (:Search/Search)

[2020-04-28 13:10] pgomulka commented on #55849
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2020-04-28 13:10] #55849 closed

[2020-04-28 13:27] msufa commented on #54335
@joshdevins A good example would be to use what was already proposed in https://github.com/elastic/elasticsearch/issues/29631#issue-316211321 for each hit and just extend the details of a field match with TF, IDF & BM25.

[2020-04-28 13:43] #55850 closed

[2020-04-28 13:44] not-napoleon commented on #54817
Another incident of this: https://gradle-enterprise.elastic.co/s/etfqcdclo6ylg

[2020-04-28 14:03] PhaedrusTheGreek commented on #55258
It would be helpful if we could supply samples of how to spawn ES from Gradle and Maven at least.

Here are some I found:  https://github.com/joel-costigliola/elastic-search-test

[2020-04-28 14:21] Gunnerva opened #55861 "ILM Rollover on the first of the month"
**Describe the feature**:
With the elasticsearch ILM policy you can set the index to rollover based on the min_age, however in some instances it would be nice if you could rollover on the first of the month regardless of the month.  Using min_age of 30 or 31 (ignoring February) would not work due to different number of days per month.

It would be nice to have a new flag that was possibly in addit

[2020-04-28 14:21] elasticmachine commented on #55861
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-04-28 14:33] original-brownbear opened #55863 "[CI] org.elasticsearch.indices.recovery.IndexRecoveryIT.testTransientErrorsDuringRecoveryAreRetried"
Failed for master here: https://gradle-enterprise.elastic.co/s/vajv4gmrdw5ba/console-log/raw

[code]

[2020-04-28 14:33] elasticmachine commented on #55863
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-04-28 14:37] #55660 closed

[2020-04-28 14:38] dakrone commented on #54937
@zacharymorn sorry for the late update on this, we're still discussing this (and the long term implications of `_all` in general)

[2020-04-28 15:09] mattkime commented on #53175
When you say that kibana performs this kind of merge, I think you're talking about kibana index patterns. I'm curious if there are other parts of kibana in which the specific field types are important.

Here's the related kibana code - https://github.com/elastic/kibana/blob/master/src/plugins/data/common/kbn_field_types/kbn_field_types_factory.ts

Would this change merge collapsible fields in such

[2020-04-28 15:44] jasontedor commented on #41647
@Tasselmi Please use more constructive language. You can communicate without being dismissive and insulting.

[2020-04-28 15:47] tbrooks8 commented on #55863
Does not reproduce for me. I ran it 1,000 times locally. I opened a PR to improve this test in various ways and add pertinent logging (https://github.com/elastic/elasticsearch/pull/55867).

[2020-04-28 15:49] tbrooks8 commented on #55863
As and FYI the manner in which this test failure meant that multiple attempts to start the recovery happened BEFORE the disruption (no disruption logs occurred).

[2020-04-28 16:06] dakrone opened #55869 "[CI] org.elasticsearch.discovery.ClusterDisruptionIT » testRestartNodeWhileIndexing failed on master"
Failure looks like it missed some documents after the restart:

[code]

The reproduce line is:

[code]

But it doesn't reproduce for me.

Link: https://gradle-enterprise.elastic.co/s/uswlaskxqvvtw/tests/kyv2y2z3r4v7k-5jnxwnv3ti4aw?open-stacktraces=WzBd

[2020-04-28 16:06] elasticmachine commented on #55869
Pinging @elastic/es-distributed (:Distributed/Distributed)

[2020-04-28 16:23] dnhatn commented on #55869
I guess that we need to increase the time out.

[2020-04-28 16:41] #55680 closed

[2020-04-28 16:43] not-napoleon opened #55875 "[CI] org.elasticsearch.action.admin.cluster.node.tasks.CancellableTasksIT.testDoNotWaitForCompletion"
This failed on 7.x with a time out.

Build scan: https://gradle-enterprise.elastic.co/s/4slsedxex4eei

Repro line:
[code]

[2020-04-28 16:43] elasticmachine commented on #55875
Pinging @elastic/es-distributed (:Distributed/Task Management)

[2020-04-28 16:48] jpountz commented on #53175
@mattkime If knowing the actual types is a requirement for you, it would be doable. Are there places where you need to know about the actual types today?

[2020-04-28 16:50] fbaligand commented on #49392
Well, when you delete an index, you delete the data inside the index.

[2020-04-28 17:01] fbaligand commented on #47764
At least, having a condition based on index count would be great, and not so complicated I think.
ILM is based on an alias, so it can know how many indices are linked to the alias (BTW, Kibana ILM policy management shows this info). Then, choose the oldest index linked to the alias, when index count is over the limit, to perform the phase action.

[2020-04-28 17:21] cbuescher commented on #55813
Yes, the behaviour you mention seems to have been around for a long time. I think the "normal" way users interact with date fields in query string queries is via using the `[...]` syntax. When using your example (even without the date math and without DST), the query parser tries to build a single term query, which we then rewrite to a range query in our date field mapper logic (https://github.com

[2020-04-28 17:39] #55869 closed

[2020-04-28 19:17] not-napoleon commented on #55816
Found an example of it failing in master: https://gradle-enterprise.elastic.co/s/y3t5c3uc3fpni

I'm going to mute it in master as well.

[2020-04-28 20:01] mark-vieira opened #55890 "Docker build for aarch64 should be able to reuse existing distribution artifact"
Right now our Docker image builds expect to build the Elasticsearch distribution in the same build execution (or reuse the output of an UP-TO-DATE task). For release purposes, because we have to build the Arm Docker image on an Arm-based build agent, we want to avoid also rebuilding the Elasticsearch distribution on that agent and instead configure it to use an artifact that's passed into that bui

[2020-04-28 20:01] elasticmachine commented on #55890
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-04-28 20:07] oVinayak-MP commented on #54501
I have also encountered the same problem.

[2020-04-28 20:08] ItamarBenjamin opened #55893 "Stackoverflow and too many open files"
**Elasticsearch version** 6.8.6 docker

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** ubuntu 16

**Description of the problem including expected versus actual behavior**:

a cluster with 6 data nodes, 3 master nodes and 2 coordinating - total of 7.5K shards
each data node with 30GB of RAM, and max open files 65536

getting Too many open files errors and then stackov

[2020-04-28 20:28] SledgeHammer01 commented on #54501
@martijnvg any update on this? this happens during a mvn clean install.

[2020-04-28 20:32] elasticmachine commented on #55893
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-04-28 21:26] jrodewig opened #55894 "[CI] org.elasticsearch.index.reindex.CancelTests.testUpdateByQueryCancelWithWorkers"
Failed for master here: https://gradle-enterprise.elastic.co/s/hfbwavku4e4ec/console-log/raw

[code]

Could not reproduce locally.

[2020-04-28 21:26] elasticmachine commented on #55894
Pinging @elastic/es-distributed (:Distributed/Reindex)

[2020-04-28 21:35] dnhatn commented on #55894
Close in favor of https://github.com/elastic/elasticsearch/issues/55647.

[2020-04-28 21:35] #55894 closed

[2020-04-28 21:45] jtibshirani opened #55895 "AsyncSearchActionIT can fail during 'after test' checks"
The `AsyncSearchActionIT` test doesn't always pass the checks in `TestCluster#assertAfterTest`.

Build scan: https://gradle-enterprise.elastic.co/s/byylhh2vpytkq
Example reproduce line:
[code]

The failure doesn't reproduce consistently.

Excerpt from logs:

[code]

[2020-04-28 21:47] cjcenizal commented on #54996
@jasontedor Would you mind explaining why this doesn't qualify as a bug? From my perspective, it's a bug because the API response drops information that I'd expect to be present (resulting in bugs in the UI -- see back-linked issue for a new one).

[2020-04-28 21:52] elasticmachine commented on #55893
Pinging @elastic/es-distributed (:Distributed/Distributed)

[2020-04-28 22:18] b-zurg commented on #27113
This is on an old thread but I really think this should be a warning.

Plugins are not necessary to run elastic search.  If the plugin directory is missing what kind of assumption is it that the app should crash?

[2020-04-28 22:47] jtibshirani commented on #54335
We discussed this as a team and agreed that it's a good idea to add (1) information about what fields matched, and (2) the query _score (#29606). It also seemed technically feasible to return term frequency statistics. However we wanted to put more thought into whether we were happy exposing term frequency information, and also if this was the best place to do it.

Some other points for context:
*

[2020-04-28 22:50] tbrooks8 commented on #55863
Fixed by #55867.

[2020-04-28 22:50] #55863 closed

[2020-04-28 22:53] talevy commented on #42949
hey @not-napoleon, I notice there is some interdependence on ValuesSource and the CompositeValuesSourceBuilder#innerBuild, which I believe gets built after parsing in CompositeAggregationBuilder's parser. Given that this parsing assumes a one-to-one relation between builders and their supported valuessource types, I am not sure how to best generalize it across potential the registered aggregators.

[2020-04-28 23:52] ywangd commented on #55816
This is likely due to [dirty read](#52400) on the security index.

Assume node A holds the primary shard of the security index. Thread 1 hits node A and begins to index the new token document. While the indexing is still happening, thread 2 also hits node A and tries to get the document. Thread 2 may succeed and happily return since the document could be visible on node A's primary shard. But the

[2020-04-29 00:54] graphaelli commented on #51341
@exekias @roncohen This is the issue we need to resolve to move forward with a comprehensive metrics strategy IMO.

@markharwood are you the right assignee on this issue?  How can we move this forward?

[2020-04-29 02:45] dnhatn commented on #55893
@ItamarBenjamin Thank you for reporting this issue.

There are too many shards in the cluster that leads to running out of file descriptors. You need to add more nodes or close inactive indices.

The node dies because we serialize a circular exception. We have a fix in https://github.com/elastic/elasticsearch/pull/54147 to prevent StackOverflow if we ever serialize a circular exception. We should

[2020-04-29 02:45] jasontedor commented on #54996
Because the API was only designed to fetch info for active follower indices. That is, it's operating as designed, it's not not doing something it was suppose to do. Whether or not it should be designed differently to accommodate this use case is an open question. We wouldn't change this behavior in a patch release, only in a new minor release, so it wouldn't be considered a bug fix, but an enhance

[2020-04-29 02:53] dnhatn commented on #55893
I think I have figured out the source. I am working on the fix.

[2020-04-29 04:53] Shifter2600 commented on #46193
I am on 7.6.2 and have my setup like rwaight has explained in his blog.  I can not get any GEOIP data into my documents. I have the issue explained here where my host.ip when I have netinfo.enabled: true has 12 in the array because I have many adapters. The only active connection though is the "192.168.210.8" is this still broken in 7.6.2 or is there a combination of settings to get the Geo Fields

[2020-04-29 05:07] cjcenizal commented on #54996
Thanks for the explanation @jasontedor. This makes sense. The docs don't mention this change in response based on status, so I'll submit a PR to clarify this.

[2020-04-29 06:07] ywangd opened #55909 "MlAutoUpdateService stacktrace on server start up"
Since this [commit](https://github.com/elastic/elasticsearch/commit/517efb73e548b3645a8aabec5e8e63c0b68dc934), elasticsearch throws a stacktrace originated from `MlAutoUpdateService` on startup.

It does not stop the server from working (at least not the parts that I am working on). This happens when I run `./gradlew :run --debug-jvm`. Haven't tested it directly with the built jar file, but I thin

[2020-04-29 06:07] elasticmachine commented on #55909
Pinging @elastic/ml-core (:ml)

[2020-04-29 06:29] BigGitWorld commented on #55841
Hey@pgomulka
I know how the elasticsearch works.
I think you can add some configuration to consider IoT application scenarios, so that keep inverted index architecture too.
Elasticsearch claculates the inverted index for every document. but in the IoT scenarios, you don't need it always and most of the time you want to store a huge volume of streaming data (hundreds of thousands per second for exa

[2020-04-29 06:35] MorrieAtElastic commented on #54996
@jasontedor , @cjcenizal: should not any condition that returns a java script stack trace to the browser screen be considered a bug? Possibly the bug is in the design, but this strikes me as a screen crash, and - IMHO - a screen crash should always be considered a bug

[2020-04-29 06:38] cjcenizal commented on #54996
@MorrieAtElastic To clarify, that stack trace indicated a Javascript error, and I was able to track it down to an error in Kibana, not Elasticsearch.

[2020-04-29 07:12] elasticmachine commented on #54501
Pinging @elastic/es-core-features (:Core/Features/Java Low Level REST Client)

[2020-04-29 07:34] #48131 closed

[2020-04-29 07:51] #55593 closed

[2020-04-29 07:51] rickardp opened #55913 "Smartcn analyzer fails on Emoji"
**Elastic version ** 7.6.2

**Plugins installed**: [analysis-smartcn, analysis-icu]

**JVM version** (`java -version`): (Official Docker image)

**OS version** (Official Docker image)

**Description of the problem including expected versus actual behavior**:

After switching from the default tokenizer to the smartcn_tokenizer, the unit tests we have on Emojis fail with

Elasticsearch.Net.Elasticse

[2020-04-29 09:01] #51212 closed

[2020-04-29 09:01] pgomulka commented on #51212
closed as per lack of feedback

[2020-04-29 10:17] elasticmachine commented on #55913
Pinging @elastic/es-search (:Search/Analysis)

[2020-04-29 10:22] allaboutopensource commented on #49392
so u mean to say i can delete the indices automatically using the "delete" phase of lifecycle and that will eventually delete the logs and free up the space in my ES nodes.

[2020-04-29 10:44] droberts195 opened #55920 "[CI] AsyncSearchActionIT.testTermsAggregation failing regularly"
`AsyncSearchActionIT.testTermsAggregation` has failed a few times today:

- https://gradle-enterprise.elastic.co/s/b7ftpi5ylq4o4
- https://gradle-enterprise.elastic.co/s/zmlzdckwfad6s
- https://gradle-enterprise.elastic.co/s/utuy2fxrb76kc

The exception is:

[code]

I.e. total hits was `null` when non-`null` was expected.

This reproduces locally for me using the REPRO command of one of the failur

[2020-04-29 10:44] elasticmachine commented on #55920
Pinging @elastic/es-search (:Search/Search)

[2020-04-29 10:48] droberts195 commented on #55920
Muted on master in 379394792d47849e449a6da41eab793ee36120dc

[2020-04-29 10:51] fbaligand commented on #49392
Yes, that is the aim of ILM delete phase.

[2020-04-29 10:55] #55564 closed

[2020-04-29 11:36] droberts195 commented on #55920
This is also failing in 7.x, for example: https://gradle-enterprise.elastic.co/s/ovwrt64qmcwxo

I muted it in 7.x too in 6ad497bfda5a1f4fc53e55cd1a8f6a4876985c89

[2020-04-29 12:44] pgomulka commented on #55920
I also get that for `testInvalidId` https://gradle-enterprise.elastic.co/s/aq52zcadtsflu
it fails always for
`./gradlew ':x-pack:plugin:async-search:internalClusterTest' --tests "org.elasticsearch.xpack.search.AsyncSearchActionIT.testInvalidId" -Dtests.seed=E4F2100F10F9DB64 -Dtests.security.manager=true -Dtests.locale=ar-MA -Dtests.timezone=Europe/Lisbon -Dcompiler.java=14 -Druntime.java=11
`

[2020-04-29 12:55] #55920 closed

[2020-04-29 13:24] #55824 closed

[2020-04-29 13:25] msufa commented on #54335
@jtibshirani It's fine to omit positions and offsets altogether from our perspective (although it would be nice to have the matched terms). I just wanted to reuse an existing example which has already been considered. We don't have strict requirements regarding the response structure as long as all / most of the additional data requested in this ticket is there.

[2020-04-29 14:10] dnhatn commented on #55893
Hi @ItamarBenjamin,

Yes, please send it to my email at: `nhat.nguyen at elastic.co`.

~1250 shards per node is higher than the limit that we recommend (i.e., [max 1000 shards per node](https://www.elastic.co/guide/en/elasticsearch/reference/master/misc-cluster.html#cluster-shard-limit)). Can you share the output of `GET /_stats?level=shards`?

Thank you!

[2020-04-29 14:13] markharwood opened #55942 "Add support for range queries to wildcard field"
To complete feature equivalence with the keyword field the wildcard field should support range queries. This would be good to get in for version 7.9 but is not a blocker

[2020-04-29 14:17] polyfractal opened #55943 "Scatterplot aggregation"
This issue proposes a new `scatterplot` aggregation.  Scatterplots are surprisingly tricky to build in ES right now.  An approximation of a scatterplot can be generated with two histograms, but this is closer to a heatmap/density plot than a real scatterplot.  It is also difficult to get a good density plot because of [`search.max_buckets`](https://github.com/elastic/elasticsearch/issues/51731) li

[2020-04-29 14:17] elasticmachine commented on #55943
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-04-29 14:18] polyfractal commented on #55943
/cc @wylieconlon

[2020-04-29 14:27] jpountz commented on #51341
@graphaelli Sorry for not being more responsive on this one, please use me as a point of contact for this issue for now. I probably won't end up implementing it but I'll own moving it forward.

Some more thoughts on this issue:

I understand it would work for histograms, but how would it works for other types? I understand from above comments that you also need this for values, counters and rates.

[2020-04-29 15:23] andreidan opened #55949 "ILM include description of step in the _ilm/explain api"
ILM will normally try to execute as many steps as possible but the `AsyncWaitAction` steps are checked only when the ILM loop runs (this runs every `indices.lifecycle.poll_interval`).

It can be hard for a user to debug why an `AsycnWaitAction` step is not run even though `_ilm/explain` shows the lifecycle on that step (and the user can check the condition the step is trying to execute is met)

It

[2020-04-29 15:23] elasticmachine commented on #55949
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-04-29 15:41] cbuescher opened #55950 "[CI] ExistsQueryBuilder testToQuery fails occasionally"
https://gradle-enterprise.elastic.co/s/xzne2zm3o4ujs

Reproducible locally on 7.x with
[code]

Error:
[code]

[2020-04-29 15:41] elasticmachine commented on #55950
Pinging @elastic/es-search (:Search/Search)

[2020-04-29 15:42] cbuescher commented on #55950
Seems to be a particular test seed only, so not muting

[2020-04-29 15:58] talevy commented on #55835
We discussed this in our team meeting and concluded that we prefer to stick with this strictness since each client may have different ways of intending to normalize these coordinates

[2020-04-29 15:58] #55835 closed

[2020-04-29 16:47] mayya-sharipova commented on #52339
Reopening this issue, as we still see the failures in stats on negative processors in 7.6.1 where the PR #52543 was merged

[2020-04-29 17:58] mark-vieira opened #55955 "[CI] AsyncSearchActionIT aggregation tests failing assertions"
Both `testTermsAggregation` and `testMaxMinAggregation` have been increasingly failing over the past few days with the same `AssertionError` on both `master` and `7.x` branches. The failure did not reproduce for me locally.

**7.x:**

[code]

https://gradle-enterprise.elastic.co/s/ovwrt64qmcwxo/tests/i7sypgkcctyli-axz7mvyr57v3s

[2020-04-29 17:58] elasticmachine commented on #55955
Pinging @elastic/es-search (:Search/Search)

[2020-04-29 17:59] mark-vieira commented on #55955
I've muted both tests in `master` (6e6a10f516d59a8da51e08a4845d83ce84931ae6) and `7.x` (2fe4801ca16cab1f145cc04146999142703007fd).

[2020-04-29 18:20] dnhatn commented on #55893
I've opened https://github.com/elastic/elasticsearch/pull/55959

[2020-04-29 18:51] not-napoleon commented on #42949
@talevy Yeah, Composite aggs work on a whole parallel system.  That's one of the things (along with Array and Multi values source aggregations) that we cut from supporting in the refactor for now.  Obviously at some point we need to come back to that, but it's not currently on my todo list.

[2020-04-29 18:53] elasticmachine commented on #53246
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-04-29 19:16] #21316 closed

[2020-04-29 19:37] talevy commented on #37206
This issue has gone through a lot of evolution, so this comment is meant to give an update on where things landed.

The work for adding geo_shape support for geo_centroid, geo_bounds, geotile_grid, geohash_grid aggregations was accomplished in x-pack by way of the following PRs:

- geotile_grid/geohash_grid (https://github.com/elastic/elasticsearch/pull/55966)
- geo_centroid (https://github.com/el

[2020-04-29 20:00] mark-vieira commented on #55875
I've muted this in `master` and `7.x` (failing in both).

I just now noticed that @dnhatn has added some additional logging here though. Please feel free to unmute if you need to capture more info, but let's try and remute quickly since this is failing several times a day.

[2020-04-29 20:01] #55643 closed

[2020-04-29 20:14] aCLr opened #55970 "Get API, refresh=wait_for not allowed"
**Elasticsearch version** (`bin/elasticsearch --version`):  7.4.2, reproduced for 7.6

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system): Linux archlinux 5.6.7-arch1-1 #1 SMP PREEMPT Thu, 23 Apr 2020 09:13:56 +0000 x86_64 Linux

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Pleas

[2020-04-29 20:22] dnhatn commented on #55875
Sure, thanks for the ping @mark-vieira.

[2020-04-29 20:24] jimczi commented on #55955
Thanks @mark-vieira . These failures are already fixed in https://github.com/elastic/elasticsearch/issues/55920 so I reverted the muting.

[2020-04-29 20:24] #55955 closed

[2020-04-29 20:32] pugnascotia opened #55974 "Remove curl from the Elasticsearch Docker image"
Right now, the Elasticsearch Docker image happens to ship with the `curl` command line tool. This is a by-product of how the image is built, as opposed to being intentional, and the team would like to be free to remove this command from the image. Indeed, the work in PR #52519 has had to go to some lengths to ensure that `curl` continues to be available, because all of the following use `curl` to

[2020-04-29 20:32] elasticmachine commented on #55974
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-04-29 20:40] jdconrad opened #55976 "Make getter/setter checks asserts instead of exceptions"
In the Painless user tree nodes EBrace and EDot we do a lot of extra checks for Map and List getters and setters, but these aren't really necessary to do for every script compilation. Instead we should change most of these checks to asserts or just remove them.

[2020-04-29 20:40] elasticmachine commented on #55976
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-04-29 20:49] gibrown commented on #24468
I'm not sure if this helps or not, but another possible improvement here could be to move to a different cardinality algorithm such as [Theta Sketch](https://datasketches.apache.org/docs/Theta/ThetaSketchFramework.html).

If I understand correctly this could allow storing samples of the data which can then be combined do rollup into various answers. We are starting to speed up unique user counts o

[2020-04-29 20:52] dadoonet commented on #55970
Was tested also on 7.6. The documentation says it's supported for the GET document API but it's not.

[2020-04-29 21:06] spottedmahn opened #55979 "This is the correct place of documentation issues, right?"
Issues that do not follow these guidelines are likely to be closed.

    ask a general question is at the Elastic [forums](https://discuss.elastic.co).
    GitHub is not the place for general questions.

    is likely to be closed.  See https://www.elastic.co/support/matrix#show_os

    below, and delete the other block.

**Describe the feature**:
This is the correct place of documentation issues,

[2020-04-29 22:12] paulcarey commented on #41856
For aggregations, it would be useful to include a mapping between column names in the SQL query and the corresponding aggregation name.

For example, a query like ` select avg(foo) as myfoo ...` will produce DSL like the following

[code]
which is tricky / not possible to confidently map to the corresponding column name.

[2020-04-29 22:17] benwtrent opened #55985 "[ML] InferenceProcessor.Factory creates unnecessary log spam"
The inference processor factory tries to keep a tally of how many inference pipelines exist. The problem with this is that certain plugins may not be parsed until AFTER they have received their own cluster state signal.

This is problematic as inference will spam the log with warnings saying that it cannot parse a pipeline that is not related to.

The InferenceProcessor.Factory::accept(ClusterStat

[2020-04-29 22:17] elasticmachine commented on #55985
Pinging @elastic/ml-core (:ml)

[2020-04-29 23:53] mark-vieira commented on #55804
This happened again, which is odd. Going to take another look.

https://gradle-enterprise.elastic.co/s/bqhzjv4hihiku

[2020-04-30 00:00] mark-vieira commented on #55895
This happened again on `7.x`.

https://gradle-enterprise.elastic.co/s/txzdcec5u2qo2/console-log?task=:x-pack:plugin:async-search:internalClusterTest

[2020-04-30 00:05] mark-vieira opened #55988 "[CI] AsyncSearchActionIT failing with assertion error"
Had a build on `7.7` branch fail with a number of tests from this suite with the following message. This seems to be the first of its kind but I thought I'd write this up since there's been a lot of work being done around this area. This didn't reproduce locally for me, perhaps Windows related?

[code]

[2020-04-30 00:05] elasticmachine commented on #55988
Pinging @elastic/es-search (:Search/Search)

[2020-04-30 01:53] angeloprobst opened #55992 "Int 32 overflow on geo centroid aggregation"
https://github.com/elastic/elasticsearch/blob/6f244eb167edb7a4d262fb7626ffc9cdb2c8d60a/server/src/main/java/org/elasticsearch/search/aggregations/metrics/geocentroid/InternalGeoCentroid.java#L109

We have a Elasticsearch with billions of docs with geopoint and this local variable (int totalCount) is being overflowed when a bucket has more than 2.147Bi docs.

[2020-04-30 03:31] jtibshirani opened #55993 "Loading docvalue_fields for geopoints can give incorrect result"
If a document has a multi-valued geopoint field, the result of `docvalue_fields` will append all the lat and lon values into a single array. The following example reproduces on version 7.6.

[code]

Response:
[code]

[2020-04-30 03:31] elasticmachine commented on #55993
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-04-30 05:07] russcam opened #55994 "Create Transform API returns HTTP 503 when ScriptException thrown"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.7.0-SNAPSHOT build 067daeb7

**Plugins installed**: ingest-attachment

**JVM version** (`java -version`): shipped Open JDK

**OS version** (`uname -a` if on a Unix-like system): Windows 10 Pro 64-bit

**Description of the problem including expected versus actual behavior**:

When a transform is created with a `scripted_metric` aggregatio

[2020-04-30 07:14] tvernum commented on #54722
@jkakavas will look into the current state of this test and whether it's failing on active branches

[2020-04-30 07:24] tvernum commented on #51935
@jkakavas Will check whether #49477 did the job

[2020-04-30 07:33] tvernum commented on #52955
We suspect this might have only been broken for a few weeks and the issue from 9 days ago is something different, but @ywangd will followup and see where we are.

[2020-04-30 07:34] elasticmachine commented on #55970
Pinging @elastic/es-docs (>docs)

[2020-04-30 07:34] elasticmachine commented on #55970
Pinging @elastic/es-distributed (:Distributed/CRUD)

[2020-04-30 07:34] ywelsch commented on #55970
This has never been supported in any ES version, but was inadvertently introduced by a [docs change](https://github.com/elastic/elasticsearch/pull/45416) which shared the refresh definition with other commands.

@debadair can you make a docs fix?

[2020-04-30 07:47] javanna commented on #55988
This looks like #55646 and it should be fixed by #55651 . @mark-vieira do you have a chance to check if the fix was included in the branch where you got this failure?

[2020-04-30 08:10] jloleysens opened #56000 "[Ingest Node Pipelines] New description field for processors"
**Describe the feature**:

Building UI for the managing processors in Kibana has shown how the `tag` field may be used to serve dual purposes:

1. A unique identifier for a processor instance
2. A descriptive name for the processor instance

It would be really useful to have an extra (optional) `description` field when creating a processor so that the tag can be more singular in its concern.

CC @

[2020-04-30 08:10] elasticmachine commented on #56000
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-04-30 08:30] lizozom commented on #48005
Please ping @elastic/kibana-app-arch when this is being implemented.
https://github.com/elastic/kibana/issues/64873

[2020-04-30 08:44] jloleysens opened #56004 "[Ingest Node Pipelines] More detailed _simulate response"
**Describe the feature**:

In Kibana, new UI was built to support management of ingest node pipelines (https://github.com/elastic/kibana/pull/62321). The UI also gives users a way of simulating the pipeline while creating or editing it.

The simulate UI we are envisioning will provide users with detailed information about the path each document has traveled through the simulated pipeline. Includin

[2020-04-30 09:37] jkakavas commented on #51935
This has never failed again since ( all more recent failures are irrelevant ) and I stick to my assumption that this was triggered by the wrong cleanup that Tim fixed in #49477, which has been backported to 7.x.

[2020-04-30 09:37] #51935 closed

[2020-04-30 09:46] jkakavas commented on #54722
All but a couple of failures ( and _all_ the ones in the last month ) are 7.6, 7,7, 7.x in FIPS 140 matrix jobs that we should ignore for now until the CI is fixed. Since these are tracked in other issues, I will be closing this specific issue.

[2020-04-30 09:46] #54722 closed

[2020-04-30 10:21] DaveCTurner commented on #55979
Yes, a deprecated method in an example in the docs is worth reporting here as a bug. However, as per the instructions you quoted:

Since this is a general question and not a bug report or a feature request, I am closing this issue and recommend that in future you ask these questions on the [forums](https://discuss.elastic.co). I don't expect we'll respond further on this thread.

[2020-04-30 10:21] #55979 closed

[2020-04-30 10:25] stojan-jovic commented on #24855
Wondering why did we give up from approach introduced in #31557? Are there plans to support something like that in the near future?

[2020-04-30 10:51] bpintea opened #56013 "SQL: incorrect column resolution from parameter"
[code]
will fail with `Unknown output attribute ?{r}#9796`.

Leaving the index out _or_ changing the parameter type (i.e. no type repetition in the list) will work as expected.

Stacktrace:
[code]

[2020-04-30 11:16] #55251 closed

[2020-04-30 11:25] #55909 closed

[2020-04-30 11:27] tsg commented on #37867
As we're creating more background searches in the Security app, especially EQL queries which can take a longer time, this could be interesting in the sense that prioritizing the interactive queries can keep the UI feel snappy for longer.

+1 to the feature request.

[2020-04-30 11:34] cbuescher commented on #55950
Closed by #56006

[2020-04-30 11:34] #55950 closed

[2020-04-30 11:58] easyice opened #56016 "Remove pre-filter phase in search"
The PR [#25658](https://github.com/elastic/elasticsearch/pull/25658) add pre-filter  in search phase,It used to skip shard if not document that is within request date range.this will send *can_match* RPC to datanode to get if can match.

The pre-filter used in *Range* query in Date field，this Feature use Lucene PointValues.getMinPackedValue、PointValues.getMaxPackedValue to compare Is there an inte

[2020-04-30 12:02] #55893 closed

[2020-04-30 12:04] ywangd opened #56017 "[CI] CoreWithSecurityClientYamlTestSuiteIT test {yaml=indices.simulate_index_template/10_basic/Simulate index template specifying a new template} failure"
The following three tests failed on master intake CI and they are **reproducible**.
* test {yaml=indices.simulate_index_template/10_basic/Simulate index matches overlapping V1 and V2 templates}
* test {yaml=indices.simulate_index_template/10_basic/Simulate index template without new template in the body}  
* test {yaml=indices.simulate_index_template/10_basic/Simulate index template specifying a n

[2020-04-30 12:04] elasticmachine commented on #56017
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-04-30 12:09] original-brownbear opened #56018 "Azure and GCS Repositories Needlessly Limit Chunk Size?"
Currently, the Azure repository plugin seems to allow for a max chunk size of 256M only and the GCS repository is even limited to 100M.
For the S3 repository on the other hand we allow a maximum of 5TB for the chunk size and at least default to 1GB.

Chunking large files this heavily incurs a lot of overhead writing and restoring large files form the repositories. We are using multi-part uploading

[2020-04-30 12:09] elasticmachine commented on #56018
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-04-30 12:14] danhermann opened #56019 "Inference processor factory instantiates all ingest pipelines"
In order to count the number of configured inference processors, the inference processor factory instantiates all ingest pipelines. This causes problems with processors whose factories have not yet been fully configured. It would also be preferable if there were a lighter-weight method for obtaining the count of inference processors.

[2020-04-30 12:14] elasticmachine commented on #56019
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-04-30 12:25] danhermann commented on #56019
Duplicate of #55985

[2020-04-30 12:25] #56019 closed

[2020-04-30 12:31] elasticmachine commented on #56016
Pinging @elastic/es-search (:Search/Search)

[2020-04-30 13:08] jrodewig opened #56025 "[DOCS] Approximate doc counts section of terms agg docs is missing example"
We previously included an example in the [Document counts are approximate][0] section of the terms agg documentation.

However, as #52377 points out, that example was no longer accurate in 7.x or 6.8. Document counts were more precise than the example presented.

#55442 removed the example from the docs.

If document counts for the agg are still approximate, we should consider re-adding an example

[2020-04-30 13:08] elasticmachine commented on #56025
Pinging @elastic/es-docs (>docs)

[2020-04-30 13:16] bytebilly commented on #53607
@arisonl could you take a look and give some feedback on the feasibility of the proposal on the Kibana side?
We still don't know if we need to do it, but a preliminary check may be helpful.

Thanks!

[2020-04-30 13:21] spottedmahn commented on #55979
A [previous request directed](https://discuss.elastic.co/t/add-deprecated-warning-more-broadly-in-doc-pages/217429/2?u=spottedmahn) me here 🙋‍♂️🤷‍♂️

[2020-04-30 13:21] jrunu opened #56027 "Inconsistent behaviour: GET /_all/_alias with no indices emits a http 404 when x-pack is enabled"
**Elasticsearch version** : 6.8.8
**License**:  Basic
**Plugins installed**: []

**Description**:

Calling GET on the Alias API for any indices, when there are no indices, produces an expection with http 404 status code when x-pack (security) is enabled. It returns HTTP 200 and an empty JSON object, when x-pack (Security) is disabled.

These discussions seem related:
Pattern exclusion not working

[2020-04-30 13:39] bpintea opened #56030 "SQL: error returned in JSON despite binary format parameter"
Errors returned by the SQL API are always returned in JSON, despite setting the `binary_format` to `true`.

To get a CBOR error, one needs to provide the `format` URL param or the approriate `Content-Type` header.

[2020-04-30 13:49] #52377 closed

[2020-04-30 13:49] #56016 closed

[2020-04-30 13:56] elasticmachine commented on #56004
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-04-30 14:51] rw-access commented on #55154
Relates to https://github.com/elastic/elasticsearch/issues/34400

[2020-04-30 15:07] #56017 closed

[2020-04-30 15:46] jimczi opened #56045 "Retry transient shard failures in search"
Today shard search requests are executed on each replica upon success. If all replicas fail for a shard, we consider the shard as failed and move on with the other shards.
Users can choose whether they accept partial results or not by setting `allow_partial_search_results `, however they have no choice but to replay the query if they want the full results (assuming that the shard failures were tra

[2020-04-30 15:46] elasticmachine commented on #56045
Pinging @elastic/es-distributed (:Distributed/Distributed)

[2020-04-30 16:11] costin opened #56049 "SQL: range queries on dates do not pass along the timezone"
When dealing with a time interval, the user timezone is not set on the [range](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-range-query.html) (meaning `gt`, `lt`, etc..) query which can lead to problems when dealing with relative intervals (such as 1d).

[2020-04-30 16:33] elasticmachine commented on #55992
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-04-30 16:59] elasticmachine commented on #55606
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-04-30 17:00] elasticmachine commented on #55606
Pinging @elastic/es-docs (>docs)

[2020-04-30 17:00] cbuescher commented on #55606
Hi @hatharom,

you can find the code checking the validity of the index patters in [MetaDataIndexTemplateService](https://github.com/elastic/elasticsearch/blob/7.6/server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataIndexTemplateService.java#L279). Looking at this, the following characters seem to be forbidden:
<Space>, `,`, `#`, `_` and the ones mentioned in [Strings](https://github.c

[2020-04-30 17:03] cbuescher commented on #55606
@hatharom hope you don't mind me changing the subject of this issue, so its clear its not just a usage question. For pure usage questions we generally prefer asking in the support forums over at https://discuss.elastic.co so we can keep Github issues only for bug reports and feature requests, but since the error message is misleading and the `index_patterns` documentation probably needs updating I

[2020-04-30 17:13] probakowski commented on #55647
I think we have another instance of this failure: https://gradle-enterprise.elastic.co/s/vl6n3xho2qer6/tests/5nfchac5yggno-yqqh62cuxhd6i

[2020-04-30 20:16] elasticmachine commented on #56027
Pinging @elastic/es-security (:Security/Authorization)

[2020-04-30 20:23] Boda805 commented on #55606
Hi I'd be interested in taking this on. Would be my first issue so I may need extra guidance.

[2020-04-30 20:58] pizzasuprema commented on #24472
I am also experiencing this issue using multiple docker containers and multiple disks per host.
https://discuss.elastic.co/t/cluster-not-reporting-actual-available-space/226785

[2020-04-30 23:07] gwbrown opened #56062 "Shrink sometimes fails with no obvious cause"
Shrink can sometimes fail with no obvious cause, leading to trouble with ILM (and particularly stopping ILM).

I've only seen this occur a few times, and in each case the relevant logs had aged out by the time I got to see the cluster with the problem.  This issue is intended to track failures like this to see if we can spot any patterns.

---

One example is an ILM explain output from a v7.1.1 th

[2020-04-30 23:07] elasticmachine commented on #56062
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-05-01 00:12] jtibshirani opened #56063 "Remove support for 'external values' in document parsing?"
For fields whose value can be a JSON array or object like geopoints, the standard way of supporting multi-fields doesn’t work. When parsing a document, the parent mapper consumes the whole complex value, so when the parser is passed on to its subfields, they aren't able to parse the source value. To help support this case, parent fields can pass a parsed object through `ParseContext#externalValue`

[2020-05-01 00:12] elasticmachine commented on #56063
Pinging @elastic/es-search (:Search/Mapping)

[2020-05-01 00:12] elasticmachine commented on #56063
Pinging @elastic/es-core-infra (:Core/Infra/Plugins)

[2020-05-01 03:43] trejkaz opened #56068 "NPE from Netty4Transport#stopInternal if eventLoopGroup == null"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.8.0

**Plugins installed**: [parent-join-client, analysis-icu-client, lang-mustache-client, transport-netty4-client, percolator-client, reindex-client, x-pack-transport]

**JVM version** (`java -version`): 1.8.0_191 (Oracle)

**OS version** (`uname -a` if on a Unix-like system): Windows Server 2016

**Description of the problem including

[2020-05-01 08:51] DaveCTurner opened #56069 "[DOCS] Snapshot/restore APIs are missing from the REST APIs docs"
A user on the forums [observed](https://discuss.elastic.co/t/recovering-from-missing-state-si-file/229744/7) that the snapshot APIs are documented under the "Snapshot/Restore" topic and not in the burgeoning "REST APIs" section of the reference manual. I suspect this isn't deliberate and we'll eventually add those docs, but I'm opening this issue to capture this observation in case it isn't tracke

[2020-05-01 08:51] elasticmachine commented on #56069
Pinging @elastic/es-docs (>docs)

[2020-05-01 08:51] elasticmachine commented on #56069
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-05-01 15:51] inqueue commented on #56062
I did a little testing on a 2 node hot/warm 7.1.1 ESS cluster. One thing I found immediately is shrink will not happen if all primaries cannot be allocated to a single node. Granted, this is a two node cluster and the index is configured with 2 primaries and 1 replica. The replicas have to be dropped to shrink:

**`/metricbeat-7.6.2-2020.05.01-000008/_settings?filter_path=*.settings.index.number_o

[2020-05-01 19:42] bwf93 opened #56071 "Upgrade snakeyml to avoid security issues"
Elasticsearch is currently using snakeyml 1.24 which is affected by CVE-2017-18640.  Please upgrade snakeyml to at least 1.26.

[2020-05-02 01:55] dnhatn commented on #55875
Log: [log.txt](https://github.com/elastic/elasticsearch/files/4566895/log.txt)

[2020-05-02 05:52] braedon commented on #20135
Putting my hand up for this feature as well. It'd be really useful for some batch tasks.

My use case is updating a status field for a set of documents that match a condition. The query selects the appropriate documents, and they all need to be changed in exactly the same way - the status field updated to the new status. It'd be great to be able to do this with a partial document, rather than need

[2020-05-02 09:46] droberts195 opened #56076 "Should model snapshot timestamps be changed to model time?"
While looking at #52150 and #51061 I noticed that model snapshot timestamps are set using wall clock time, not model time.  All other documents in the ML results indices use the `timestamp` field to store model time.

This doesn't matter very much for jobs that are genuinely running in real-time.  However, it makes integration testing hard, and means retention of model snapshots will still not nec

[2020-05-02 09:46] elasticmachine commented on #56076
Pinging @elastic/ml-core (:ml)

[2020-05-02 10:22] droberts195 commented on #56076
https://github.com/elastic/elasticsearch/blob/7c5c9122a72352ecf44512f166cd282db3cf7453/x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/job/process/autodetect/output/AutodetectResultProcessor.java#L335-L336 suggests the annotation will be in the wrong place for jobs not running in real-time.

We do actually have `latest_result_time_stamp` in model snapshot documents already.  So we do hav

[2020-05-02 12:55] sd1998 commented on #42997
@ebadyano Is this issue resolved? If not, can I be assigned this issue?

[2020-05-02 13:29] sd1998 commented on #55108
@astefan Can this issue be assigned to me?

[2020-05-02 15:28] elasticmachine commented on #56068
Pinging @elastic/es-distributed (:Distributed/Network)

[2020-05-02 15:33] original-brownbear commented on #56068
@trejkaz I think the most likely cause of the problem that too many transport clients and hence transport services will create too many threads. Ideally you should simply not be creating that many transport clients and simply share them across your application to begin with.

That said, even though this is a bit of a fringe issue, we should probably still clean up the potential NPE to avoid swallo

[2020-05-02 18:31] MurshidMac commented on #46498
Download the package with **Curl**
 `curl -L -O https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch.7.x.x.tar.gz`
& extract with`tar -xvf elasticsearch-7.x.x.tar.gz`. This would fix the error

[2020-05-02 19:47] elasticmachine commented on #56071
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-05-02 20:28] original-brownbear opened #56082 "Use Snapshot Bulk Delete in SLM's SnapshotRetentionTask"
https://github.com/elastic/elasticsearch/pull/55474 introduced bulk deletes for snapshots.
We should use it in `org.elasticsearch.xpack.slm.SnapshotRetentionTask#deleteSnapshots` to speed up the retention task in case multiple snapshots have to be deleted.

[2020-05-02 20:28] elasticmachine commented on #56082
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-05-03 07:11] matriv opened #56084 "SQL: JDBC error when setting date related query params"
[code]

results in:
[code]

[2020-05-03 07:11] elasticmachine commented on #56084
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-05-03 08:46] RikSagara commented on #56084
Hi! Can I do this?

[2020-05-03 11:28] ItamarBenjamin commented on #55893
Hi,
just updating this happened again after I removed many indices. Total number of shards in the cluster at the time of the crash was 4762 and cluster had the same 6 data nodes as before. most indices were undergoing heavy indexing at the time of the crash.

[2020-05-03 15:58] CactoT commented on #51132
@jkakavas @tvernum Could one of you review this, please?

[2020-05-03 22:06] zacharymorn commented on #55303
Not sure if this solution would work:
1. Define a depth limit system property for admin of cluster to set
1. Change query processing method signatures to include depth accumulator
1. At recursive call, caller add 1 to accumulator
1. Upon entry to callee method, check accumulator against depth limit, and throw exception if exceeded

[2020-05-04 00:01] chitranshi21 commented on #55065
Hi Can I take this one ?

[2020-05-04 05:11] JohnCFerguson commented on #29714
I am going to take  a crack at this just in case no one has had time for it. This will be my first time so hopefully I'm able to help.

[2020-05-04 07:03] przemekwitek commented on #56076
Thanks for pointing this out.
I've just raised https://github.com/elastic/elasticsearch/pull/56093 to address this issue.

The bug emerged because I *thought* `timestamp` is model time.

+1
The fix is implemented, see the link above (marked as `>non-issue` as the feature has not yet been released).

[2020-05-04 07:56] droberts195 opened #56095 "[CI] S3BlobStoreRepositoryTests.testEnforcedCooldownPeriod failed"
`S3BlobStoreRepositoryTests.testEnforcedCooldownPeriod` failed in https://gradle-enterprise.elastic.co/s/uxzdaj2kmhara

The error was:

[code]

This did not reproduce locally using:

[code]

[2020-05-04 07:56] elasticmachine commented on #56095
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-05-04 07:59] droberts195 commented on #55647
Same thing again in https://gradle-enterprise.elastic.co/s/5pxk2rqlupt3m - `all shards failed` on a scroll.

[2020-05-04 08:22] droberts195 commented on #55702
The same error happened on 7.x in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=centos-7&&immutable/728/consoleText (sorry no Gradle scan for this one as there was an OOM in the build process after the failure occurred).

The error can be seen in the console log though, and it's the same as the one originally reported on master:

[code]

The repro

[2020-05-04 08:24] elasticmachine commented on #55994
Pinging @elastic/ml-core (:ml/Transform)

[2020-05-04 08:33] danielmitterdorfer commented on #55618
Thanks for raising this issue. Do you have any specific steps to reproduce this?

Note: This one might be a duplicate of https://github.com/elastic/elasticsearch/issues/46116 despite the versions being different.

[2020-05-04 08:33] droberts195 opened #56096 "[CI] Many data frame analytics tests failing with "no such index [.ml-inference-000002]""
One example is https://gradle-enterprise.elastic.co/s/qwyughia4gsjq

The test that failed was `ClassificationIT.testDependentVariableIsAliasToKeyword` and the full error is:

[code]

The repro command is:

[code]

This did not reproduce locally for me.

[2020-05-04 08:33] elasticmachine commented on #56096
Pinging @elastic/ml-core (:ml)

[2020-05-04 08:34] elasticmachine commented on #55618
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-05-04 08:37] elasticmachine commented on #55583
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-05-04 08:39] danielmitterdorfer commented on #49516
No further feedback received. @sherry-ger if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2020-05-04 08:39] #49516 closed

[2020-05-04 08:41] danielmitterdorfer commented on #53318
No further feedback received. @almiche if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2020-05-04 08:41] #53318 closed

[2020-05-04 08:41] danielmitterdorfer commented on #53201
No further feedback received. @vb-dave  if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2020-05-04 08:41] #53201 closed

[2020-05-04 08:43] danielmitterdorfer commented on #54049
@cbuescher is the feedback above sufficient for you to proceed?

[2020-05-04 08:50] droberts195 opened #56097 "[ML] Make data frame analytics cleanup in HLRC tests more robust"
The cleanup for data frame analytics jobs in the HLRC tests assumes the tests worked perfectly.  In the event that a test fails the cleanup also fails leading to many subsequent tests failing.

The offending method is https://github.com/elastic/elasticsearch/blob/5fa36dad0b8503bef3d91173bb342da555445c26/client/rest-high-level/src/test/java/org/elasticsearch/client/MlTestStateCleaner.java#L108

It

[2020-05-04 08:50] elasticmachine commented on #56097
Pinging @elastic/ml-core (:ml)

[2020-05-04 08:58] droberts195 commented on #56096
There is speculation that this is fixed by https://github.com/elastic/ml-cpp/commit/675cc6237cc696e9782385f13e8fa469188f7017

No failures have been seen since that commit got into a snapshot build.

Need to monitor for future failures of this type.

[2020-05-04 09:04] cbuescher commented on #54049
Thanks, I understand the ask better now. I'm not sure wether we generally want provide serializatio support for external libraries like Jackson. Although addind this getter is a small change, there is a good workaround like you demonstrated and I'm afraid there are too many other similar places (or other libraries with other demands for that matter) to support them all. I'll keep this issue open f

[2020-05-04 09:05] elasticmachine commented on #54049
Pinging @elastic/es-search (:Search/Search)

[2020-05-04 09:32] original-brownbear commented on #56095
This is kind of an annoying test ... we're testing an actual timeout here by waiting (or not waiting). Obviously we eventually ran into the situation where the case where no waiting should have happened ran so slow (what took 5s+ here normally only takes a few ms) that it caused the test to fail regardless.

I'll try to find a way to test this smarter :)

[2020-05-04 09:48] FuncGuy opened #56102 "rest high level client dynamic query generation support"
Hi,

Using rest high level client it is not possible to generate a dynamic query for more details.

https://stackoverflow.com/questions/61587399/elasticsearch-rest-high-level-client-aggregate-fields-dynamically

please suggest an a answer for this.

[2020-05-04 09:49] original-brownbear commented on #55702
I just merged https://github.com/elastic/elasticsearch/pull/56091 this morning which should bring `7.x` behavior in line with `master` and have fixed the test again on `7.x` -> closing here since that failing build didn't include that fix.

[2020-05-04 09:49] #55702 closed

[2020-05-04 10:31] ppisljar commented on #53175
i don't think we are interested in the actual elastic search type in kibana. am i missing something @timroes ?

[2020-05-04 10:34] droberts195 opened #56106 "[CI] body.license.uid is null in reference/rest-api/info/line_45"
https://gradle-enterprise.elastic.co/s/f6y6ws73omhxi failed because there was no `license` section in the X-Pack info response:

[code]

The failure message was:

[code]

The repro command is:

[code]

This did not reproduce locally for me.

[2020-05-04 10:42] droberts195 commented on #55807
There's another `all shards failed` error like this for the same test in 7.7 in https://gradle-enterprise.elastic.co/s/4efo2ie6tpwq4

[2020-05-04 10:49] elasticmachine commented on #56106
Pinging @elastic/es-security (:Security/License)

[2020-05-04 11:15] danielmitterdorfer commented on #56102
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/) or in your case keep it on the original platform Stackoverflow. This allows us to use GitHub for verified bug reports, feature requests, and pull requests. As such, I
hope you don't mind that I close this.

[2020-05-04 11:15] #56102 closed

[2020-05-04 11:33] amitmbm commented on #55431
Addressed this issue in my PR #55432 , hence closing this.

[2020-05-04 11:33] #55431 closed

[2020-05-04 11:44] #55679 closed

[2020-05-04 11:56] benwtrent commented on #56096
Looking at the node logs, one can observe that `.ml-inference-000002` is not created during the test run window.

I could not see any logs around the model being persisted or failed to be persisted. I am guessing the model output never reached the java side. This would definitely indicate some c++ issue. Hopefully its corrected in this aforementioned commit.

[2020-05-04 12:00] droberts195 commented on #56096
It still hasn't failed again today after failing numerous times over the weekend.  So it's looking very like it's fixed now.  I'll close it when I finish work today unless it's happened again.

[2020-05-04 12:22] #56097 closed

[2020-05-04 12:24] droberts195 commented on #55988
https://gradle-enterprise.elastic.co/s/ocafyqhulo6zq is a similar failure:

[code]

[2020-05-04 12:28] ebadyano commented on #42997
@sd1998 It looks like it might still exist, but the method has been renamed to `protected ValuesSourceConfig resolveConfig`. Please feel free to submit a pull request for this.

[2020-05-04 12:43] timroes commented on #53175
We're storing the actual ES types and so removing that would also be a breaking change. In terms of what we're using them for: I don't have a complete list, but I think it was mainly introduced for KQL, since we needed to make some decision between text and keyword fields for the way we build the query, but I can't find that specific code right now. Another example seems to be field formatters whe

[2020-05-04 13:11] nik9000 commented on #55618
I'm working on a thread that started with #54758 that should give us better control over memory usage on the coordinating node. I don't expect it to bear fruit super soon though. In the mean time I suggest lowering the size of the composite aggregation and/or lowering the precision on the cardinality agg.

[2020-05-04 13:12] nik9000 commented on #46116
I'm working on a thread that started with #54758 that should give us better control over memory usage on the coordinating node. I don't expect it to bear fruit super soon though. In the mean time I suggest lowering the size of the composite aggregation and/or lowering the precision on the cardinality agg.

Sorry this has sat for so long!

[2020-05-04 13:51] telendt opened #56113 "Multiple tokens on LHS in stemmer_override rules"
Without looking into internals of `stemmer_override` I assumed it works similarly to synonym token filter (and translates given mapping rules into SynonymMap in the same way), which seems not to be the case:

[code]

Simple rules, with single token on LHS, work the same (so both `synonyms` and `stems` will output `read` for `reading`) but rules with multiple tokens on LHS (also known as "contracti

[2020-05-04 13:55] elasticmachine commented on #56113
Pinging @elastic/es-search (:Search/Analysis)

[2020-05-04 14:23] jugggao opened #56116 "Interval value returned by auto_date_histogram is error"
Version：
Elasticsearch：7.6.2
Kibana：7.6.2

[code]

Return：

[code]

I think the interval is 7d，why 1d？

[2020-05-04 15:13] thekofimensah opened #56121 "Transforms to allow group by geo_point"
I'm creating an entity centric index using transforms and I'm finding that I can't group_by geo_point data type. This is too bad because I'm creating a profile for each of my local ip addresses that group by a couple of fields into the entity and I think it's bizarre I can't do that with a geo_point field.. should I be able to add it like any other field?

Currently I'm working around it by adding

[2020-05-04 15:28] #55178 closed

[2020-05-04 15:39] nik9000 opened #56124 "Daylight Savings Time Optimization Followups"
After we merge #55559 we'll have a few things to clean up:

* [ ] Implement interval rounding
* [ ] Cache `LocalTimeOffset.Lookup`s to avoid building them over and over again. They are quite expensive to build and would likely cache very well.
* [ ] Investigate how expensive loading the min and max is. Maybe we can cache them on the reader or something.
* [ ] Plug this in to `auto_date_histogram`.

[2020-05-04 15:39] elasticmachine commented on #56124
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-05-04 16:06] #53545 closed

[2020-05-04 16:15] elasticmachine commented on #46934
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-05-04 16:16] #55985 closed

[2020-05-04 16:29] droberts195 commented on #56096
There haven't been any more failures like this, so it's reasonable to assume it's fixed by https://github.com/elastic/ml-cpp/commit/675cc6237cc696e9782385f13e8fa469188f7017

[2020-05-04 16:29] #56096 closed

[2020-05-04 16:36] droberts195 opened #56128 "[CI] Progress wrong in ClassificationIT.testWithOnlyTrainingRowsAndTrainingPercentIsFifty_DependentVariableIsInteger"
`ClassificationIT.testWithOnlyTrainingRowsAndTrainingPercentIsFifty_DependentVariableIsInteger` failed in https://gradle-enterprise.elastic.co/s/nyo3jfeuwwtpy

The error was:

[code]

Reindexing progress was 1% when it was expected to be 100%.

This does not reproduce locally using:

[code]

[2020-05-04 16:36] elasticmachine commented on #56128
Pinging @elastic/ml-core (:ml)

[2020-05-04 16:40] jrodewig commented on #56069
I believe this was closed in error. Re-opening.

[2020-05-04 16:43] original-brownbear commented on #56068
Fixed in #56080

[2020-05-04 16:43] #56068 closed

[2020-05-04 16:49] sethpayne opened #56130 "Release Elasticsearch JDBC driver on Maven Central"
In an effort to improve UX and simplify access to our JDBC driver, we should make it available via the Maven Central Repository: https://search.maven.org/

Making our JDBC driver available in the Central Repo has no impact on licensing. The Central Repository [terms of service](https://repo1.maven.org/terms.html) make it clear that use of the repo binds users to the license/terms for each artifact

[2020-05-04 16:49] elasticmachine commented on #56130
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-05-04 16:56] jtibshirani commented on #48665
@jimczi thinking about the query implementation, I'm not sure how it relates to early termination. Would you be able to explain this more?

[2020-05-04 17:05] dakrone opened #56132 "[CI] AsyncSearchActionIT.testUpdateStoreKeepAlive failed on master due in in-flight contexts"
The error was:

[code]

The build is at: https://gradle-enterprise.elastic.co/s/e3cdtmudlnyqe

I was not able to reproduce the error with

[code]

[2020-05-04 17:05] elasticmachine commented on #56132
Pinging @elastic/es-search (:Search/Search)

[2020-05-04 18:28] hendrikmuhs commented on #8486
Because there is still a some activity on this bug, I like to mention a solution:

We added [transform](https://www.elastic.co/guide/en/elasticsearch/reference/current/transforms.html) in `7.2` which you can use to group data, aggregate it and write it back into secondary index. It provides a lot of freedom, e.g. `scripted metric`. At least the original ask of the thread starter can be solved usin

[2020-05-04 18:33] jimczi commented on #48665
I am thinking of early termination in the context of a query sorted by the same field than the index. In such case, the range query can use the doc values to jump directly to the first doc id that matches the range and the top field collector can stop whenever enough hits have been collected. This logic is implemented in the top field collector so you don't need to do anything in the query impleme

[2020-05-04 18:36] jimczi commented on #56132
Thanks @dakrone, this test fail for the same reason than https://github.com/elastic/elasticsearch/issues/55988 so I am closing as duplicate.

[2020-05-04 18:36] #56132 closed

[2020-05-04 18:48] #56128 closed

[2020-05-04 18:59] dakrone commented on #55705
This failed again today: https://gradle-enterprise.elastic.co/s/kru2adsajnluq/tests/kyv2y2z3r4v7k-wg43wloxxs2g4?open-stacktraces=WzAsMV0

[2020-05-04 19:02] #43806 closed

[2020-05-04 19:18] alogishetty commented on #55618
We had an issue on Master nodes, on 4-29-2020 due to many garbage collection cycles.

![image](https://user-images.githubusercontent.com/18541319/81004530-29333a00-8e12-11ea-84a6-fe4e8d60e4ca.png)

[2020-05-04 19:39] ppf2 opened #56155 "Stale/obsolete alert remained in .monitoring-alerts index"
7.5.0

We have a cluster that is showing a cluster alert today indicating the cluster is red, but the actual cluster health is green.

![image](https://user-images.githubusercontent.com/7216393/81005921-8c69a000-8e03-11ea-9c62-3c6143e9f109.png)

Querying the .monitoring-alerts index:

[code]

It shows that this alert was created back in May 2019.

[code]

The index name `.reindexed-v6-monitoring-a

[2020-05-04 19:39] elasticmachine commented on #56155
Pinging @elastic/es-core-features (:Core/Features/Monitoring)

[2020-05-04 19:56] elasticmachine commented on #55705
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-05-04 21:17] dakrone commented on #55263
I fixed this as part of #55411, so I'm closing this issue.

[2020-05-04 21:17] #55263 closed

[2020-05-04 21:21] navneet83 opened #56164 "[DOCS] when creating API key, name is not optional"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6

**Plugins installed**: [NA]

**JVM version** (`java -version`): NA

**OS version** (`uname -a` if on a Unix-like system): NA

**Description of the problem including expected versus actual behavior**:

On the following [documentation page](https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-create-api-key.html#

[2020-05-04 21:31] mark-vieira opened #56165 "Third part test builds failing due to missing task"
After merging https://github.com/elastic/infra/pull/20008 our third part test builds are now failing for branches older than `7.x`.

[code]

CC @tlrx

[2020-05-04 21:31] elasticmachine commented on #56165
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-05-04 22:01] egernst commented on #55204
FYI, similar issue observed for aarch64.

[2020-05-04 22:45] chonton opened #56168 "Support alternate AWS authentication methods in repository-s3 plugin"
**Feature Request**:
AWS has many authentication methods available.  As the AWS sdk evolves, the many authentication methods are updated in the DefaultAWSCredentialsProviderChain.  Specifically interesting to Kubernetes deployments are the Security Token Service authentication methods.
 The STS methods federate alternate Identity providers including web token federation which allows fine-grained I

[2020-05-04 22:58] #55804 closed

[2020-05-04 23:15] DaveCTurner opened #56171 "Slowlog loggers do not seem to be cleaned up when no longer needed"
Investigating https://discuss.elastic.co/t/index-creation-slows-down-over-time/230775 I wrote a script that creates and deletes indices repeatedly and left it running for several hours against a 7.6.2 cluster. Each iteration had indeed slowed down as reported, from around `6s` to around `10s`.

The hot threads API often reported a substantial amount of time spent doing things with loggers:

[code]

[2020-05-04 23:15] elasticmachine commented on #56171
Pinging @elastic/es-core-infra (:Core/Infra/Logging)

[2020-05-04 23:21] gwbrown commented on #56062
It shouldn't be required that all primary shards are on the same node, just that at least one copy of each shard is on a single node. This is a hard requirement for how shrinking indices works - it involves manipulating the shard files on the filesystem in a way that can only be done if one node has at least one copy of each shard.  There's no way we could work around this for ILM, although we do

[2020-05-04 23:49] mark-vieira commented on #55890
As described in https://github.com/elastic/infra/issues/18955#issuecomment-623766605 we don't actually have to do anything special here to support this case, we just need configure the release manager build for the ARM images to exclude the correct upstream tasks.

[2020-05-04 23:49] #55890 closed

[2020-05-05 00:05] erickmp07 commented on #55065
Hi, @chitranshi21 .
My group developed the solution and we're creating the tests.
We're going to create the PR soon.

[2020-05-05 00:28] elasticmachine commented on #56164
Pinging @elastic/es-docs (>docs)

[2020-05-05 02:36] jasontedor commented on #55204
@egernst Can you clarify what you're running into on aarch64? That is, can you give a reproduction. We are successfully building on aarch64 in our 7.7, 7.x, and master branches....

[2020-05-05 03:47] dnhatn commented on #55705
This is no longer an issue with #56072, as we now use a separate ByteArrays for each chunk request. Previously (since #55353), we used BytesReference instances that are provided by BytesStreamOutput.

[2020-05-05 03:47] #55705 closed

[2020-05-05 05:12] bpolaszek commented on #8486
Sounds cool! Do you have an example query? (I'm no longer in ES, but still curious 😀)

[2020-05-05 06:40] FandyChen commented on #54049
Thanks, although I found the solution, I still hope to improve it in any way, including but not limited to adding Getters.

[2020-05-05 07:10] breskeby opened #56173 "Intellij Idea 2020.1.1 Gradle reimport results in wrong project language and compiler target levels"
The elasticsearch project does not work with Idea 2020.1.1 as a Gradle reimport causes the language levels to fall back to wrong values instead of the desired.

This has been raised as an issue to jetbrains (https://youtrack.jetbrains.com/issue/IDEA-240086)

This ticket here is used to track that issue within the es team till its fully resolved

[2020-05-05 07:10] elasticmachine commented on #56173
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-05-05 07:39] telendt commented on #56113
If you're ok with adding this feature (support for rules with multiple tokens on LHS into stemmer override token filter so that they work similarly to contraction rules in synonym token filter) then I can prepare a PR for that.

This looks like a low-risk and low-effort change to me, although this issue is also probably a low priority 🤷‍♂️

[2020-05-05 07:43] #56049 closed

[2020-05-05 07:59] jimczi commented on #55913
The `smartcn` tokenizer does not understand emoji natively. Emoji sequences (🇫🇷) for instance are divided into multiple tokens but single code point emoji like  🏖️ shouldn't be removed. I tested with the following mapping and it works as expected:
[code]
Can you provide us with the mapping that fails on your case ?

[2020-05-05 08:08] elasticmachine commented on #56168
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-05-05 08:16] DaveCTurner commented on #56168
The lack of support for credentials in environment variables, system properties and AWS profiles is a deliberate choice, and unfortunately that means we cannot use the `DefaultAWSCredentialsProviderChain` since there's no way to disable these credentials sources.

Credentials obtained from the EC2 metadata endpoint are already supported.

This leaves the question of web identity tokens, which are

[2020-05-05 08:16] #56168 closed

[2020-05-05 08:40] tlrx commented on #56165
I reverted the changes so that third part tests should be green again, until we implement the right approach. Thanks @mark-vieira and sorry again for the noise.

[2020-05-05 08:55] matriv commented on #56049
`master` : 300f010c0b18ed0f10a41d5e1606466ba0a3088f
`7.x` : cc214685594ccb24ae33ffd4e3b28056652e1fa0
`7.7` : 86db5bcfbc77a362b3b827af98f6f7cfe3573d68

[2020-05-05 09:02] elasticmachine commented on #56116
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-05-05 09:35] #54862 closed

[2020-05-05 10:21] DaveCTurner opened #56186 "A write alias targeting multiple indices prevents node startup"
In 6.x (and earlier) it is possible for a node to fail to start because its on-disk cluster state marks multiple indices as the target of writes for an alias:

[code]

This is fundamentally because each node builds its own copy of the cluster state greedily based on all the index metadata that it can find, but there's no guarantee that it finds a consistent set of metadata. For instance, if the no

[2020-05-05 10:21] elasticmachine commented on #56186
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-05-05 11:06] jasontedor commented on #56171
The underlying problem here is that Log4j doesn't do *any* cleanup of loggers, once a logger is created, it is forever registered in the logger registry and there is no cleanup. This is why we introduced `PrefixLogger`, so that we *can* have, for example, per-index loggers that *are* cleaned up when the index is no longer allocated to a node. Using per-index loggers in the slow log is therefore fa

[2020-05-05 11:51] pgomulka commented on #56171
There is a https://logging.apache.org/log4j/2.x/log4j-api/apidocs/org/apache/logging/log4j/spi/LoggerRegistry.WeakMapFactory.html that possibly could help us.
I probably need to educate myself better on this, sadly the log4j2 docs are not very detailed on the subject.

[2020-05-05 11:54] jasontedor commented on #56171
The weak map factory is designed for web servers like Tomcat where there are servlets that carry various context used when creating the logger. Using the weak map factory in Elasticsearch means replacing the logger registry which means replacing the logger context (since it holds a private reference to the logger registry and can not be controlled) which means replacing the logger context factory.

[2020-05-05 11:55] #52150 closed

[2020-05-05 12:15] verkhovin commented on #46396
@matriv Hi
sorry, i miss the notification. If it is still relevant, i can get it in the nearest future

[2020-05-05 12:25] Aqualie commented on #38470
Is this still being worked on? I'm currently working through cleaning up my own indices as I have ILM setup for all my indexes and cut down my total count to just 41. Looking all the numerous system indices created it's currently at 81... 2x the amount of my own indices... It'd be great if we could use the same ILM logic and perhaps just set a total shard size of 50GB rather than these daily indic

[2020-05-05 12:28] jimczi opened #56195 "Add a pre-filter query phase to field capabilities API"
### Context

The `_field_caps` API allows to retrieve the capabilities of fields among multiple indices.
These capabilities can then be used to build search requests on these indices.
Today this API checks index mapping directly to extract the list of fields that exist in each index.

With the removal of types, we emphasized the need to separate indices based on their mappings. Beats for instance,

[2020-05-05 12:28] elasticmachine commented on #56195
Pinging @elastic/es-search (:Search/Mapping)

[2020-05-05 12:31] hendrikmuhs opened #56196 "[Transform] Stats return wrong count after upgrade"
**Severity**: low
**Affected version**: `7.4` -

`_transform/{id}/_stats` can return a wrong count after a rolling upgrade. This happens only if > 1 config documents exist, which can only happen if the transform got updated with `_transform/{id}/_update`

The issue has been found in upgrade tests, see below.

Root cause: When expanding the id's the hit count is returned for `count` which contains

[2020-05-05 12:31] elasticmachine commented on #56196
Pinging @elastic/ml-core (:ml/Transform)

[2020-05-05 12:50] jpountz commented on #51341
We discussed the challenge of creating dynamic mappings for histograms earlier today. This problem arises for histograms because there is no reliable way to distinguish a histogram from an object in a JSON document, but the general problem is actually not specific to histograms. More generally, configuring fields in an index template is challenging for APM and some Metricbeat modules such as Prome

[2020-05-05 13:15] mayya-sharipova commented on #42811
We have discussed this issue again within the team, and the conclusion is that we would like ES users to use bool query instead of function_score query to combine queries/functions.  There has been a lot of optimizations done for bool queries on the Lucene side to make them smarter and more efficient, which function_score query doesn't have.

[2020-05-05 13:35] nik9000 commented on #56116
Weird! I should say `7d`.

[2020-05-05 13:39] crspl opened #56202 "Elasticsearch queries with scroll stopped working"
Elasticsearch version: 7.6.2
Plugins installed: -
JVM version: shipped with ES (openjdk version "13.0.2" 2020-01-14)
OS: Centos 7 (kernel 3.10.0-862.14.4.el7.x86_64)

Bug description:
   Queries with 'scroll' feature stopped working even on very small indices and with v.high value for search.max_open_scroll_context (5000000). Getting error 500 'Trying to create too many scroll contexts' even if no

[2020-05-05 13:51] dimitris-athanasiou commented on #55674
We need to gather use cases before we further discuss this.

[2020-05-05 14:04] chonton commented on #56168
Is there documentation that explains decision criteria for which authentication methods will or will not be supported?

[2020-05-05 14:15] nik9000 commented on #55618
I can't really comment on what is up with the master nodes. The stack trace that you linked when creating the issue is a coordinating node issue. Are you sending queries to your master nodes? In general that is ok, but if you are having issues like this with agg reduction running you out of memory then I'd avoid it.

[2020-05-05 14:27] imotov commented on #52262
@jdcohen220 sorry for the delay and thank you for the detailed reproduction script. I was able to reproduce the issue on 7.5.1, but it is no longer reproducible on 7.6.2 and above. Could you try upgrading and let us know if you are still experiencing the issue.

The issue with
[code]
is a bit different. In the `keyword_bucketing_index` it doesn't return anything because it is supposed to match onl

[2020-05-05 14:49] CSharpBender opened #56210 "Elasticsearch inner_hits is very slow"
**Elasticsearch version** (`bin/elasticsearch --version`):
Elasticsearch 7.6.1
**Plugins installed**: []
Nest 7.6.1
**JVM version** (`java -version`):
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 13.0.2+8, mixed mode, sharing)
**OS version** (`uname -a` if on a Unix-like system):
Linux c87e626860d1 4.19.76-linuxkit #1 SMP Thu Oct 17 19:31:58 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

**Description o

[2020-05-05 15:03] DaveCTurner opened #56215 "Add force-merge step to searchable snapshots action"
It's preferable when searching a snapshot that the snapshotted index was force-merged to a single segment first. ILM lets you configure a suitable force-merge action in an earlier phase but does not actively encourage its use, and we also see a need to support occasional writes in the warm phase so that the index may no longer be force-merged by the time it is moved to the cold phase.

We discusse

[2020-05-05 15:03] elasticmachine commented on #56215
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-05-05 15:24] #43737 closed

[2020-05-05 15:24] #46045 closed

[2020-05-05 15:30] tsouza opened #56217 "[DOC] Wrong"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2020-05-05 15:33] tsouza opened #56218 "[DOC] Wrong Enrich policy "query" field description"
The documentation at [Enrich policy definition](https://www.elastic.co/guide/en/elasticsearch/reference/current/enrich-policy-definition.html) describes the `query` field as `string` but it should be a valid query object instead.

[2020-05-05 15:33] elasticmachine commented on #56218
Pinging @elastic/es-docs (>docs)

[2020-05-05 15:34] #55994 closed

[2020-05-05 15:35] jrodewig commented on #56218
Good catch. Thanks for raising this @tsouza.

[2020-05-05 15:38] DaveCTurner commented on #56168
No, I don't know of anything outside of comments here on Github. The earliest such that I can find is https://github.com/elastic/elasticsearch/issues/23039#issuecomment-279510903.

[2020-05-05 15:39] elasticmachine commented on #56218
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-05-05 16:07] #56217 closed

[2020-05-05 16:18] cbuescher commented on #56202
Hi @crspl! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2020-05-05 16:18] bpintea commented on #54671
Closed in #54836.

[2020-05-05 16:18] #54671 closed

[2020-05-05 16:20] sachinfrayne opened #56229 "`fuzziness` not working in conjunction with `bool_query` during `multi_match`"
**Elasticsearch version**: 7.6.2

**Describe the feature**:

When I search in the fields created as part of the `search_as_you_type` dataType, I would like some fuzziness leniency, however I am not seeing this. See **steps to reproduce** below for full examples.

**TL;DR**:

1. I would like `beraking` to match documents with `breaking`, via the standard field, with a fuzziness of 1 and a `bool_pre

[2020-05-05 16:24] bpintea commented on #50929
Duplicate of #54422.

[2020-05-05 16:24] #50929 closed

[2020-05-05 16:30] nik9000 commented on #56116
That field isn't wired up at all.... :facepalm:

[2020-05-05 16:35] nik9000 commented on #56116
OK - the field *is* wired up when we reduce many buckets together but if there is just a single shard's worth or results I don't believe we set it. And we might destroy it in other ways too!

[2020-05-05 16:38] chonton commented on #52625
What are the security concerns with using system properties, environment variables, or profiles to store credentials?  A web search reveals many opinions both for and against each method.  Should Elastic be enforcing a particular security policy or should Elastic make deployers aware of the pros/cons of each method?

In Kubernetes, mapped files holding the credentials seems to be one of the recomm

[2020-05-05 16:55] travisestill opened #56231 "Add a note that Watches created with encryption will need to be recreated if encryption is removed"
**Relevant existing documentation:**
[Encrypting sensitive data in Watcher](https://www.elastic.co/guide/en/elasticsearch/reference/current/encrypting-data.html) and [Watcher settings in Elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/7.6/notification-settings.html)

**Details:**
If you create watches with `xpack.watcher.encrypt_sensitive_data: true` and `xpack.watcher.encry

[2020-05-05 16:55] elasticmachine commented on #56231
Pinging @elastic/es-docs (>docs)

[2020-05-05 16:55] elasticmachine commented on #56231
Pinging @elastic/es-core-features (:Core/Features/Watcher)

[2020-05-05 16:57] talevy commented on #37206
update from the last comment above:

geo_bounds, geo_centroid, geotile_grid, geohash_grid support for geo_shape
is now merged and supported in 7.8 and master (8.0).

Closing this issue to reflect that. at the time of closing Documentation and the topic of geo_distance agg support are still TODOs. documentation is happening shortly, while the geo_distance agg support will require more discussion an

[2020-05-05 16:57] #37206 closed

[2020-05-05 17:02] nik9000 commented on #56116
So I should keep my mouth shut - it looks like this thing is only used as part of reductions. I'll figure this out!

[2020-05-05 17:09] mayya-sharipova commented on #53181
Instead of introducing a new `exact_match`  query, can we use `term` query for exact matching and make `term` query fail on text fields with a message  like "use match query instead"?

----
I like the idea of having a new `text_keyword` field, which is a wrapper around a text and a subfield `keyword` field and queries/aggs are delegated to one of those fields automatically.

Another way to organiz

[2020-05-05 18:09] stu-elastic commented on #55745
TODO: test passing `true` to [`fetch version`](https://github.com/elastic/elasticsearch/blob/master/modules/reindex/src/main/java/org/elasticsearch/index/reindex/TransportUpdateByQueryAction.java#L88)

[2020-05-05 18:38] jpountz commented on #53181
Only if you want to support both text search (provided by `text`) and exact match/sorting/aggregations (provided by `keyword`).

We could.

The space saving idea is interesting. I wonder if that would cause problems. Preserving support for scoring and multi-term queries would be challenging but I believe it could work?

A problem with the proposal of this issue that we identified when discussing t

[2020-05-05 18:52] #55185 closed

[2020-05-05 19:04] rw-access commented on #54544
I think we've since removed all questionable implicit casting. Are we good to close this?

[2020-05-05 19:05] mayya-sharipova commented on #56113
@telendt Thank you for submitting this issue.
What's happening is that the LSH of the rule is saved as is. So if you don't do the tokenization, your rule gets applied:
[code]
returns
[code]

It indeed would be nice for `stemmer_override` filter to support contraction rules, but I think this should be done on Lucene side.  elasticsearch passes rules to the underlying Lucene filters, and it is up to

[2020-05-05 19:05] rw-access commented on #54419
I think we can close this with #54544, since all of the null handling should be consistent now.

[2020-05-05 19:23] jtibshirani opened #56233 "SearchableSnapshotDirectoryTests.testIndexSearcher can fail with assertion error"
The failure consistently reproduces for me. Command:
[code]

Build scan: https://gradle-enterprise.elastic.co/s/gee7fullo3xhm

Relevant excerpt from the logs:
[code]

[2020-05-05 19:23] elasticmachine commented on #56233
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-05-05 19:28] jtibshirani commented on #56233
Muted in eddbc784e15bf22792e7369b166b4b0c6bffa1c5.

[2020-05-05 19:29] jimczi commented on #56045
We discussed this in Fix-it Thursday and agreed on two possible improvements:

- We shouldn't retry non-transient failures.
- We could add a configurable delay to wait for non-assigned shards before raising an error.

These improvements are not linked so I'll open a new issue for the latter so that it can be handled separately.
Shard failures are difficult to diagnose, for instance there is no way

[2020-05-05 19:30] nik9000 commented on #56116
I ended up making a quick script to reproduce the problem which I'll stick here for posterity:
[code]

[2020-05-05 19:30] telendt commented on #56113
@mayya-sharipova:

Yes, but only because you chose to do so.

AFAIK Solr's StemmerOverrideFilterFactory accepts tab separated dictionary file. There's no confusion there as the format is different than synonyms mapping format (comma separated with `=>`). You chose similar format (with `=>`) and thus the confusion.

Is it common to stem tokens containing comas? If not I don't see why:
[code]
could

[2020-05-05 19:38] jimczi opened #56236 "Add a configurable delay for non-assigned shards in search request"
Today when no shards are available for a specific index in a search request, the shard is marked as failed and the failure is added in the search response.
This can be problematic for shards that have no replica since any crash/restart of a node can make several search requests to fail since the re-allocation of the shards will take some time. In the context of searchable snapshots, the re-allocat

[2020-05-05 19:38] elasticmachine commented on #56236
Pinging @elastic/es-search (:Search/Search)

[2020-05-05 19:38] elasticmachine commented on #56236
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-05-05 19:39] jimczi commented on #56045
I opened https://github.com/elastic/elasticsearch/issues/56236 to handle non-assigned shards in search request. This issue is now geared towards classifying shard failures that shouldn't be retried automatically.

[2020-05-05 19:49] jimczi commented on #56113
Agreed, the parsing is done in the factory that is defined in Elasticsearch so the decision is ours. We don't need to change anything in Lucene. I don't have a strong opinion regarding the decision but we shouldn't accept bad rules silently. We should validate that the left side is a single term or accept a list of terms but I agree that the current situation is confusing so I am reopening the iss

[2020-05-05 20:02] nik9000 commented on #56116
OK! I found it and will open a PR soon.

[2020-05-05 20:06] jtibshirani opened #56240 "ClassificationIT can fail with assertion error"
The failure doesn't reproduce for me. Command:
[code]

Build scan: https://gradle-enterprise.elastic.co/s/34pg7bs4j4fve

Relevant excerpt from the logs:
[code]

[2020-05-05 20:06] elasticmachine commented on #56240
Pinging @elastic/ml-core (:ml)

[2020-05-05 20:15] mayya-sharipova commented on #56113
Thanks @jimczi for weighing in.

@telendt ok, great! Your patch is welcome.

[2020-05-05 20:53] jtibshirani commented on #56240
Muted the test:
* f8221b279afc0e48cc085dafed94f0ae0496a1b9 (master)
* 63062ec7bd6c4d5160f650c046b7f910acbda58f (7.x)

[2020-05-05 20:58] hendrikmuhs opened #56245 "[Transform] HLRC GetTransform(Stats) wrong count for > 500 transforms"
GetTransform and GetTransformStats (HLRC) skip parsing `count` and set count from the size of the list. This is wrong in case of paging, when the list is shorter than count.

[2020-05-05 20:58] elasticmachine commented on #56245
Pinging @elastic/ml-core (:ml/Transform)

[2020-05-05 20:59] mayya-sharipova commented on #53181
This, indeed a substantial problem, and makes this proposal not worth it.

Speaking of these queries, if we go with a text field and a `keyword` subfield, do these queries apply only to `keyword` subfield? or it will be applied across two fields (boolean OR/multi-match)?

It seems that most queries used in observability solutions are not concerned about textual scoring, but only filtering.

---
An

[2020-05-05 21:20] crspl commented on #56202
Hi @cbuescher . I believe it's a bug and not lack of knowledge on our side. As I've written all was working fine and stopped suddenly after some time and now even very simple queries with "scroll" on idle cluster return 500. Problem is I cannot give you step by step instruction how to reproduce. But before I raised issue here I've asked on forum. Here's my thread -> https://discuss.elastic.co/t/di

[2020-05-05 21:28] alogishetty commented on #55618
We have a cluster of 18, with 3 master nodes, 12 data nodes, 1 ingest node and 2 coordination nodes. And your master nodes, don't take any queries.

[2020-05-05 21:42] elasticmachine commented on #56210
Pinging @elastic/es-search (:Search/Search)

[2020-05-05 21:48] jasonslater2000 opened #56248 "Docs: watching-meetup-data.html example has 3 errors preventing example from working"
Our meetup watcher example has 3 errors which prevent it from working as published

doc page:
https://www.elastic.co/guide/en/elasticsearch/reference/master/watching-meetup-data.html

errors:
(1)
        "indices": [
          "<logstash-{now-1h}>",
          "<logstash-{now}>"
        ],
doesn't work with the index names logstash will create if ILM is enabled, e.g.
logstash-2020.05.05-000001

I b

[2020-05-05 21:53] jtibshirani opened #56250 "80_transform_jobs_crud can fail with a null pointer exception"
It looks like `Transform#transformTaskNodes` can sometimes produce a null node ID, which causes a null pointer exception in `DiscoveryNodes.resolveNodes`.

Reproduce line:
[code]

Build scan: https://gradle-enterprise.elastic.co/s/uwebhlksubme2

Relevant excerpt from logs:
[code]

[2020-05-05 21:53] elasticmachine commented on #56250
Pinging @elastic/ml-core (:ml)

[2020-05-05 22:37] debadair commented on #24665
Closing this, as @lcawl's  change adds the notice that word-delimiter-tokenfilter is deprecated in Lucene.

[2020-05-05 22:37] #24665 closed

[2020-05-05 22:39] debadair commented on #28523
Closing as #40874 was merged.

[2020-05-05 22:39] #28523 closed

[2020-05-05 22:52] jtibshirani commented on #56250
Some more failures popped up that may be related:
* https://gradle-enterprise.elastic.co/s/k7dlk6gw223ke
* https://gradle-enterprise.elastic.co/s/jvgazqfk2lkze

[2020-05-05 23:14] jtibshirani commented on #56250
I muted the suite `80_transform_jobs_crud` in be5f40777557bc7e762271512f5f3add5fa5e83f.

[2020-05-05 23:27] jtibshirani commented on #55807
Muted the test:
* d8b9d986a9d89b5972e5dd8223ff885c5a66e12 (master)
* 49de092b381310c10842d250f3253d90bc3e7764 (7.x)
* c6f315e0e74c73734ea2779bbf7ccdb105ae14e5 (7.7)

[2020-05-05 23:49] nik9000 commented on #55618
Your best bet for the master nodes is to get a heap dump and have a look at what is in there and open a new issue when you have an idea what is up there. The issue you've opened here is a coordinating node one and I'm working on it. Just, slowly.

[2020-05-06 00:07] cjcenizal opened #56255 "API endpoint for previewing composed result of an index template v2"
Users will want to know what the final result of an index template will be once all of its component templates, mappings, settings, and aliases have been applied. This will be mostly useful during the creation process, so that users can have confidence that an index template they're building will behave as expected.

[2020-05-06 00:07] elasticmachine commented on #56255
Pinging @elastic/es-ui (:ES-UI)

[2020-05-06 00:13] cjcenizal opened #56256 "Surface metadata about which index templates use a component template"
It will be useful to know if a component template is being used by any index templates and, if so, which ones. Users will be able to delete any unused component templates this way, and be able to trace a component template back to where it's being used to gain context around its configuration.

[2020-05-06 00:13] elasticmachine commented on #56256
Pinging @elastic/es-ui (:ES-UI)

[2020-05-06 00:24] rjernst commented on #56071
Thank you for your report.

Elastic's security reporting guidelines are available at [https://www.elastic.co/community/security](https://www.elastic.co/community/security).  Per those guidelines, all reports of potential security issues or vulnerabilities should be sent via email to security@elastic.co

We are unable to discuss potential issues of this nature here. Please send your report to the e

[2020-05-06 00:24] #56071 closed

[2020-05-06 00:31] jtibshirani commented on #56196
We observed a potentially related failure `TransformSurvivesUpgradeIT`: https://gradle-enterprise.elastic.co/s/2rj2qhjzx3kja. I muted this test for now.

[2020-05-06 00:33] jtibshirani commented on #52416
Another instance of this failure just popped up: https://gradle-enterprise.elastic.co/s/xfqfl3g3q6th2

[2020-05-06 00:48] jtibshirani opened #56257 "Geo grid aggregation circuit breaker tests can fail assertion"
It looks like the search fails as expected, but the failures aren't in the right format. In the test run below, only 1 out of 2 shards fails, so we don't return the expected status code/ exception.

Example reproduce line:
[code]

Build scan: https://gradle-enterprise.elastic.co/s/blopfoqljmy2k

Relevant excerpt from logs:
[code]

[2020-05-06 00:48] elasticmachine commented on #56257
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-05-06 01:06] sohami opened #56258 "SearchRequest cancellation based on timeout"
### Feature request

In **ES-7.4 version**, support for cancelling a search request when the client connection is closed is added. Also the current **timeout** parameter in the search request is not the request level timeout, instead it is checked at shard level search request of each batch. A search request on a coordinator can span to multiple batches of `ShardSearchTransportRequest` when `throt

[2020-05-06 01:16] jtibshirani commented on #56257
Muted the tests:
* 8659c400a04228375f95619cf233c37048e9b8b2 (master)
* bd7a2d2b01372a708d9279f5672762ce56c1e641 (7.x)

[2020-05-06 01:43] danhermann opened #56259 "Integrate data streams with CCR"
CCR should be aware of data streams so that full data streams are replicated on the follower and not just their backing indices.

[2020-05-06 01:43] elasticmachine commented on #56259
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-05-06 01:43] elasticmachine commented on #56259
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-05-06 02:53] vanderby commented on #53233
I added a work around for this in https://github.com/vanderby/SonarQube-AzureAppService/issues/40#issuecomment-624414812 that is mentioned above.

You need to enable ES http port through a SonarQube setting, then using the Azure Web App's Kudu PowerShell debugging window invoke web requests to disable disk allocation threshold checks for ES.

[2020-05-06 03:30] alogishetty opened #56260 "Cluster turning **RED** due to Master Nodes in 7.5.2"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 7.5.2

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system): CentOs

**Description of the problem including expected versus actual behavior**: Elected master node doesn't communicate with other master nodes within expected time. This is causing the re

[2020-05-06 04:36] #56164 closed

[2020-05-06 04:44] matt-davis-elastic opened #56261 "[ML] Machine Learning should work with data streams"
**Why do we need this?**
Elasticsearch is releasing two new primitives, [data streams](https://github.com/elastic/elasticsearch/issues/53100) and [index template v2](https://github.com/elastic/elasticsearch/issues/53101), to simplify getting data into a form that can be controlled by ILM.

Once data streams are released users will want to be able to use them when working with Machine Learning.

**

[2020-05-06 04:44] elasticmachine commented on #56261
Pinging @elastic/ml-core (:ml)

[2020-05-06 05:01] ywangd commented on #43264
This issue is very much related to #40901. When Kibana recieves the POST request from the idP (with browser as the mediating agent), elasticsearch has already logged user out of the system, i.e. tokens are invalidated. That is, in terms of workflow, both the HTTP-Redirect and the HTTP-POST requests come into play at exactly the same position.

For HTTP-Redirect, Kibana simply ignores it. So as a m

[2020-05-06 06:03] zhuaizhuaixi commented on #49039
I face the same problem.
I find [similar problem in https://discuss.elastic.co](https://discuss.elastic.co/t/elastic-search-resthighlevelclient-delaying-when-doing-simple-requests-to-es/204801/1)
but there is no response.

[2020-05-06 06:39] tvernum commented on #56260
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests. The discussion forums are beter suited to these sort

[2020-05-06 06:39] #56260 closed

[2020-05-06 07:26] original-brownbear commented on #56018
We discussed this during snapshot resiliency sync and the consensus was that there isn't a good reason to have chunk sizes smaller than the maximum supported by the underlying blob store set per default.

=> We should adjust the default chunk size setting to the maximum blob size for each underlying blob store.
=> Keep the setting around for now in case this is causing issues in an unexpected case

[2020-05-06 07:29] jpountz commented on #53181
This is the question that helped us discover this problem. :)

Agreed.

[2020-05-06 07:43] crspl commented on #56202
one more update... this morning I've restarted nodes in our cluster one by one. Checked "scroll" query every few and ending up it started working (after 6 node out of 8) and no more 500 'Trying to create too many scroll contexts' exception

[2020-05-06 07:53] jpountz commented on #53175
@timroes I don't think we could ever collapse `text` and `keyword` together. We are only considering doing it for fields that would have a behavior that is so close that Kibana should never worry about knowing the exact type. For instance `float`, `scaled_float` and `double`, `integer` and `long`, `date` and `date_nanos`, or `keyword`, `constant_keyword` and `wildcard`.

This would be a breaking c

[2020-05-06 07:55] ruflin commented on #56195
This is great and will work really well with the new indexing strategy. It would be nice if also `@timestamp` could be used as a filter. This would answer the question: Give me the `_field_caps` only for the data I'm currently looking on. I would not expect it to provide partial results of an index but exclude all indices that do not match the timestamp at all.

[2020-05-06 08:00] #55636 closed

[2020-05-06 08:09] astefan commented on #53175
Just to reiterate that SQL will still need to know the exact field types.
It is true that at search/query time, this is not relevant for SQL in general, but reporting the data types of the fields in a table is a vital part of SQL. `DESCRIBE TABLE`, `SHOW COLUMNS` and the drivers do use the actual field types. The JDBC driver has specific methods for different field types, for retrieval and convers

[2020-05-06 08:12] dimitris-athanasiou commented on #56240
This test failure happened in release-tests which were using a snapshot of ml-cpp which was just before this problem was fixed. In particular, we can see in the logs:

[code]

and the same appears for the other 2 nodes. This tells us ml-cpp was build from commit cd335f9e1eedad which was just before 731781b476ebb479281500fc8b505abe34eeca64 where this issue was fixed.

A new non-snapshot build of ml

[2020-05-06 08:24] jimczi commented on #56195
That will be handled natively with the pre-filter phase.

+1, it's not clear in the description but the idea is to eliminate indices if they cannot match the filter on **all** shards.

[2020-05-06 08:53] elasticmachine commented on #56248
Pinging @elastic/es-docs (>docs)

[2020-05-06 08:53] elasticmachine commented on #56248
Pinging @elastic/es-core-features (:Core/Features/Watcher)

[2020-05-06 09:02] jkakavas opened #56265 "RecoveryIT.testCloseIndexDuringRollingUpgrade failures"
RecoveryIT.testCloseIndexDuringRollingUpgrade has been failing quite often in the last 12 hours.

Example failure: https://gradle-enterprise.elastic.co/s/x4627tak7buna
Reproduction line:
[code]

Past failures list: https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(summary),index:e58bf320-7efd-11e8-bf69-63

[2020-05-06 09:02] elasticmachine commented on #56265
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-05-06 09:04] SamyAteia commented on #42326
Amazon just integrated KNN search into their "Elasticsearch" service offering. It seems to be based on this project: https://github.com/nmslib/nmslib, maybe worth looking into?
https://aws.amazon.com/about-aws/whats-new/2020/03/build-k-nearest-neighbor-similarity-search-engine-with-amazon-elasticsearch-service/?nc1=h_ls

[2020-05-06 09:13] jpountz commented on #53175
@astefan For my understanding, what would be the problem with always returning `constant_keyword` field as `keyword` and floats as doubles in SQL? If we are already doing it in the case of aliases sometimes, what would be wrong with doing it all the time?

[2020-05-06 09:20] cbuescher commented on #48381
@martijnvg I just saw this test [still muted on 7.x](https://github.com/elastic/elasticsearch/blob/7.x/x-pack/qa/full-cluster-restart/src/test/java/org/elasticsearch/xpack/restart/FullClusterRestartIT.java#L145), should your unmute commit 9d7b80f be backported or was this done so on purpose?

[2020-05-06 09:39] martijnvg commented on #48381
@cbuescher I think I forgot the backport... I will backport the commit you mention today.

[2020-05-06 09:39] DaveCTurner commented on #56018
Someone mentioned in the sync that we should document this as a breaking change but the conversation moved on before I had a chance to disagree, so I'm raising that here. I don't think we need to call the change to the default a breaking change. The default is already `Long.MAX_VALUE` on `FsRepository`, and we only need to care about the official services for the other repositories (plus Minio whi

[2020-05-06 09:42] original-brownbear commented on #56018
++ David, updated my comment accordingly.

[2020-05-06 09:43] jkakavas commented on #52955
Happened again in master (`testAutoReload`) :https://gradle-enterprise.elastic.co/s/uftgjwlhgiunm

[2020-05-06 09:48] droberts195 commented on #56261
Since this is referring to Kibana features I will transfer it to the kibana repo and open separate ones for the ML and transforms backend code.

[2020-05-06 09:58] jkakavas opened #56269 "TransformSurvivesUpgradeIT#testTransformRollingUpgrade failures"
This has failed three times in the last 8 hours: https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-12h,mode:quick,to:now))&_a=(columns:!(summary,branch,build-id,stacktrace),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:testTransformRollingUpgrade),sort:!(time,desc))

The error is
[code]

[code]

@jtibsh

[2020-05-06 09:58] elasticmachine commented on #56269
Pinging @elastic/ml-core (:ml/Transform)

[2020-05-06 10:00] droberts195 opened #56270 "[Transform] Make transforms work with data streams"
Once data streams are released users will expect to be able to run continuous transforms against them.

This may require extra support in the transforms code.  To some extent transforms should be able to treat data streams like aliases, but there are subtle differences regarding how access permissions work, so there may need to be code changes in this area.  It certainly needs testing.

The relate

[2020-05-06 10:00] elasticmachine commented on #56270
Pinging @elastic/ml-core (:ml/Transform)

[2020-05-06 10:00] droberts195 opened #56271 "[ML] Make datafeeds work with data streams"
Once data streams are released users will expect to be able to run datafeeds against them.

This may require extra support in the datafeeds code.  To some extent datafeeds should be able to treat data streams like aliases, but there are subtle differences regarding how access permissions work, so there may need to be code changes in this area.  It certainly needs testing.

The related UI issue is

[2020-05-06 10:00] elasticmachine commented on #56271
Pinging @elastic/ml-core (:ml)

[2020-05-06 10:01] cbuescher commented on #54049
Hi @FandyChen, this was discussed again inside the team. While your ask makes sense and adding another getter is a small change, we don't feel like we want to actively start supporting serialization using third party libraries like Jackson which assumes certain naming conventions etc... since taking this step would also mean additional testing, maintenance etc... and would most likely involve many