[2017-08-23 11:54] bleskes commented on #26335
I'm struggling to find a use case for `_primary` and `_replica`. Should we deprecate and remove them?

[2017-08-23 11:57] lupo112 opened #26340 "SearchResponse should implement HasAggregations"
`SearchResponse` (and possibly other classes, which has method `getAggregations`) should implement interface `HasAggregations`. It will simplify fuctional-like programming in Java 8.

[2017-08-23 12:16] nik9000 commented on #26338
[`String#split`](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/painless-api-reference.html#painless-api-reference-String) is not whitelisted because it creates dynamic `Pattern` objects internally. Use [`Pattern#split`](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/painless-api-reference.html#painless-api-reference-Pattern) instead like `/\//.split(urlAsString[0])`.

[2017-08-23 12:16] #26338 closed

[2017-08-23 12:40] abhiCR7 opened #26341 "Warnings of "IllegalStateException: unexpected docvalues type NONE for field '_parent'" on upgraded index"
It is the same problem that was reported with this [issue](https://github.com/elastic/elasticsearch/issues/25849).
My current version 5.5.2, build date 14th Aug 2017.
Exceptions I'm getting are:
`[2017-08-23T18:05:35,501][WARN ][o.e.i.w.ShardIndexWarmerService] [node_1] [index1][0] failed to warm-up global ordinals for [_parent]
org.elasticsearch.ElasticsearchException: java.util.concurrent.Execut

[2017-08-23 13:01] nik9000 commented on #26308
The thing that bothers me about the default timeout is the timeout reporting. Right now we return a `200 OK` and you have to inspect the response to make sure it is 100% ok. Adding a default timeout adds another way that the response can be not ok without the user asking for it. I'd certainly prefer that we have a default timeout, but I'd prefer we tie it to some change in behavior around error re

[2017-08-23 13:30] jimczi commented on #26341
As mentioned in the fix this should not be a problem. We introduced this bug in 5.5 but it doesn't mean that your index or cluster is broken. It's annoying because the exception is logged on every refresh (and at startup) but it's only because it tries to load global ordinals for a field that does not exist. There is a fix in the upcoming release of es (5.6), in the mean time you can just ignore t

[2017-08-23 13:30] #26341 closed

[2017-08-23 13:37] chenweichu3 opened #26342 "Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/lucene/util/SetOnce"
Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/lucene/util/SetOnce
	at org.elasticsearch.cli.Command.<init>(Command.java:58)
	at org.elasticsearch.cli.EnvironmentAwareCommand.<init>(EnvironmentAwareCommand.java:39)
	at org.elasticsearch.bootstrap.Elasticsearch.<init>(Elasticsearch.java:53)
	at org.elasticsearch.bootstrap.Elasticsearch.main(Elasticsearch.java:83)
Caused by: j

[2017-08-23 13:39] #25946 closed

[2017-08-23 13:41] bleskes commented on #26293
@gndcshv thanks for the quick turn around and the information. We are doing some experiments to try to reproduce this locally. We might call on you again for help if we fail to do so.

[2017-08-23 13:42] cbuescher commented on #26342
This means, "org/apache/lucene/util/SetOnce" is not on your classpath. It should normally be part of the Lucene jar.
As Elastic reserves GitHub for bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co) and [IRC channels](https://www.elastic.co/community) for general questions like this, I hope you don't mind me closing this.

[2017-08-23 13:42] #26342 closed

[2017-08-23 13:48] abhiCR7 commented on #26341
@jimczi Thanks for the clarification. Though seeing the `warn` i was relieved but wanted to be sure before I go ahead with the upgrade in production from 2.x to 5.x

[2017-08-23 13:55] abhiCR7 opened #26343 "Problem With Total and Nested Field limits"
**Describe the feature**:

**Elasticsearch version**: 2.4.x

**Plugins installed**: none

**JVM version** (`java -version`): 1.8.0_91

I have currently v2.4 Elasticsearch in production and in the process to upgrade it to v5.5.
I’m facing problem with
   `index.mapping.total_fields.limit: 1000`
   `index.mapping.nested_fields.limit: 50`
My current total fields are in the order of 13000 and nested_f

[2017-08-23 14:23] Shizuu commented on #26269
**I found the culprit !** and managed to reproduce the issue (kinda)

I searched why the master was always spreading mapping information on the network, even when the mapping was not changing.
I looked at hot_threads on all the nodes, hoping to find a thread reading mapping, and I found that it was always my 2 non master/non data nodes.

What is on these nodes ? Kibana. 15 instances of Kibana on e

[2017-08-23 14:44] jasontedor commented on #26269
Thank you, this is massively helpful! I will see if it reproduces on my side as well and start serious debugging now that have a possible reproduction.

[2017-08-23 16:08] rjernst commented on #26343
Please ask questions on [our forum](https://discuss.elastic.co/c/elasticsearch). We use github for feature requests and confirmed bug reports. With that said, both of those settings are dynamic index settings. I'm not sure what led you to believe they are not.

[2017-08-23 16:08] #26343 closed

[2017-08-23 17:16] dakrone commented on #26335
If I recall correctly, `_replica` was originally added back in the day for shadow replicas (see: https://github.com/elastic/elasticsearch/pull/12244). Which have been removed, so +1 on removing `_replica` and `_replica_first`.

`_primary` was useful back in the days of asynchronous replication, since your document may not have reached the replicas yet. We don't allow it any more though, so it's pr

[2017-08-23 17:26] virat18m commented on #21532
@pkapil you have saved my day. :)

[2017-08-23 17:44] erik-stephens commented on #26269
@Shizuu  No worries, your involvement is welcome!  To help summarize things on our end:

- Setting `-XX:MaxDirectMemorySize=32G` stabilized things quite a bit.  30G heap + 32G NIO for elasticsearch/lucene + 32G for netty + small amount for miscellaneous (eg MetaSpace) keeps us from OOM'ing.

- We configured to use to netty=3 yesterday with no ill side-effects.  I probably should've isolated that c

[2017-08-23 22:31] sipingliu commented on #9442
Same issue in 5.4.1. Fixed it by specifying the type explicitly:
"myDataField": {
  "fragment_size": 100,
  "number_of_fragments": 1,
  "type":"plain"
}

[2017-08-23 23:54] coderplay commented on #26339
The degradation is caused by [this line](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/index/engine/InternalEngine.java#L663) introduced by [this commit](https://github.com/elastic/elasticsearch/commit/75b4f408e05fc19de6fce775132239f1e22c99ac) whose original purpose was doing refactoring, but it added a lock in the critical path of indexing.

[2017-08-24 02:20] makeyang opened #26347 "[discuss]should IndicesTTLService and related code be removed in 6.0?"
since it is document nowhere and has been deprated for long time?

[2017-08-24 02:26] jasontedor commented on #26347
This code *is* already removed in 6.0.

[2017-08-24 02:26] #26347 closed

[2017-08-24 02:32] makeyang opened #26348 "[discuss]should just check major+minor version equality when load plugin?"
currently before load plugin, esVersion.equals(Version.CURRENT) is checked.
my question is: should ES team consider that the revision release won't broke plugin protocal so that only major + minor verion is checked

[2017-08-24 02:39] jasontedor commented on #26348
We have discussed this before and we are not going to change this, no leniency here at all. We release our own plugins with each patch release to guarantee that the compiled plugins are compatible with the compiled server code. We think that community plugins should do the same to try to provide the same guarantees, so we enforce that plugins are released targeting a specific version of Elasticsea

[2017-08-24 02:39] #26348 closed

[2017-08-24 03:18] jasontedor commented on #26269
Sadly, the leak does not reproduce as reported. Is there something special about your cluster state (aside from being large)?

[2017-08-24 03:54] zqc0512 opened #26351 "How to set multi value about http.cors.allow-origin in es 5.x"
in my es env
i need **two client** can use elasticsearch-head can connect to es but not allow
how i can set about **http.cors.allow-origin** in elasticsearch.yml file
**not set to http.cors.allow-origin: ***

**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-l

[2017-08-24 04:24] tvernum commented on #26351
Please ask this question on our [discuss forum](https://discuss.elastic.co/) where we can provide better support.
Elastic uses GitHub issues exclusively for tracking bugs and feature requests.

Thank you.

[2017-08-24 04:24] #26351 closed

[2017-08-24 05:03] hub-cap commented on #26328
@bleskes @jasontedor @rjernst I was able to shade an older `log4j-jcl` (2.0.2), and with some manual hackery in `META-INF`, got things wired up so commons logging is using log4j2 and the log4j-jcl shaded jar. I verified it uses my `org.elasticsearch.client.logging.log4j.jcl.LogFactoryImpl`, which was modified in `META-INF/services/org.apache.commons.logging.LogFactory`.

I did run into a problem w

[2017-08-24 07:05] bhupenchn commented on #26122
@jimczi can you verify if the changes I made are done in relevant files? If I have missed out some do let me know.

[2017-08-24 07:18] DongwooGeum commented on #26008
You can get information about "Dangling indicies" by typing "Dangling indicies" in the search line, then you can find the link under the search line. I reference the link

[https://www.elastic.co/guide/en/elasticsearch/reference/1.7/modules-gateway-local.html#_dangling_indices](url)

[2017-08-24 07:33] geekpete commented on #26008
Looks like we had it documented in 1.7 docs but need to ensure it's also in the latest docs after we've reorganised them. I'll see if I can fix this later...

Thanks!

[2017-08-24 07:39] #26086 closed

[2017-08-24 08:10] jasonrjy commented on #26331
https://github.com/elastic/elasticsearch/issues/26248
As you can see from the link above, it seems not to be right now.

Also, I think that if you can handle all the repositories dynamically, you can prevent the cluster from restarting every time you specify a repository.

String source = "{\n" +
            "    \"transient\" : {\n" +
            "        \"path.repo\" : [\" C:\\temp \" ]\n" +

[2017-08-24 08:17] ldhun commented on #7264
When I tried to write down base, I asked questions. According to glossary, I think a mention requires simple definitions, requirements, and functions. if It corrects, Is there anything else you need?

[2017-08-24 08:57] npthl2 commented on #15543
[commit 16cd159](https://github.com/elastic/elasticsearch/commit/16cd159a381979e9d92288d6c9bada8483fea520)
(look at 8th file)

according to this, I think it is just buffer size, and it removed in quite long before.

[2017-08-24 09:41] javanna commented on #26328
I don't have a clear picture of how many people may be using commons-logging together with SPI. If that is an advanced usecase, and not that common, we could accept these issues caused by shading, especially if there is a work-around. By still shading the jar we would help users who use commons-logging without SPI and may have version conflicts. On the other hand, we could stop shading commons-log

[2017-08-24 09:42] sciphilo opened #26357 "Highlighting fails with MoreLikeThis query and unified highlighter"
Elasticsearch v5.5.0 fails to highlight with an MLT query when the unified highlighter is used.

**Elasticsearch version** (`bin/elasticsearch --version`):
5.5.0
**Plugins installed**:  default
**JVM version** (`java -version`):
java version "1.8.0_31"
Java(TM) SE Runtime Environment (build 1.8.0_31-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.31-b07, mixed mode)

**OS version** (`uname -a` if

[2017-08-24 09:47] lilizhaolilizhao commented on #26271
@tlrx
## 1  I found the **root causes of the problem**
this project settings is a dynamic template, the template does not specify the type of "packet_size", "packet_size" program variables of type double, according to the field "packet_size" type of dynamic template generation in mapping is **FLOAT TYPE**.
## 2 The Elasticsearch version we used was upgraded from **2.2.1 to 5.2.0**.
The same dynami

[2017-08-24 09:50] seme1 opened #26358 "Completion suggestor with synonyms analyzer - getting TokenStream expanded to 450 finite strings. Only <= 256 finite strings are supported"
I’m using the completion suggester with a custom [synonymize] analyzer that expands the words in each indexed document with its synonyms.

When trying to index some documents with an input filed containing many synonyms, I get the following message:

`java.lang.IllegalArgumentException: TokenStream expanded to 450 finite strings. Only <= 256 finite strings are supported
        at org.elasticsearc

[2017-08-24 09:51] lilizhaolilizhao commented on #26271
@tlrx
I initially think it is a double type variable, and the mapping field type generated by the dynamic template is incorrect. What do you think?
Thank you very much.

[2017-08-24 09:52] manuprasanth commented on #3495
This works for me

GET /type/_search?pretty=true
{
  "query": {
    "bool": {
      "must_not": [
        {
          "nested": {
            "path": "outcome",
            "query": {
              "exists": {
                "field": "outcome.outcomeName"
              }
            }
          }
        }
      ]
    }
  }
}

[2017-08-24 10:00] Shizuu commented on #26269
We have some very long types, but I don't think this is it.

Did you test with "`transport.tcp.compress: true`" ? We have this setting activated, it's `false` by default. And in the hot_threads you can see the threads doing deflating and inflating.
I can't test right now because it is not a setting dynamically updatable.

[2017-08-24 10:12] javanna commented on #26340
hi @lupo112 could you please show me an example where this change would help?

[2017-08-24 10:21] javanna commented on #26358
@jimczi would you have time to have a look?

[2017-08-24 10:24] javanna commented on #26357
@jimczi would you happen to know if more like this query is support by the unified highlighter? Can we do anything to make this work?

[2017-08-24 10:36] danielmitterdorfer commented on #26339
Thanks for reporting this! We've reproduced the issue on our nightly benchmarking hardware with a few modifications:

* 16GB heap configured (our machines have "only" 32GB)
* 32 clients

I have used the nyc_taxis track and I've seen the following median throughput:

* 6.0.0-beta1: 92261 docs/s
* 5.5.2: 98220 docs/s

While the effect is not as pronounced as in your case, it is still significant. Fo

[2017-08-24 11:05] #25775 closed

[2017-08-24 11:11] joschi opened #26360 "Allow specifying index names in POST body"
**Describe the feature**:

Most Elasticsearch APIs allow specifying one or more indices in the URI path of an HTTP request, for example the [Search API](https://www.elastic.co/guide/en/elasticsearch/reference/5.5/search-search.html#search-multi-index-type) allows this:

[code]

While this is great, it falls short if the list of indices is very long and exceeds roughly 4 KB, which is the default HT

[2017-08-24 11:12] joschi commented on #26360
#5367 sound remotely related to this issue.

[2017-08-24 12:00] javanna commented on #26360
Using _msearch is a work-around as it allows to specify indices in the request body for each search request item. Also, index names support wildcard expressions which help trimming the list of indices down. I will mark for discussion though just to make sure.

[2017-08-24 12:53] bleskes commented on #26335
@dakrone thanks for filling in the context and history. I should have done it in the first place.

I think this use case is better served by the `_prefer_nodes` and `_only_nodes` options. It works for primaries (with some extra effort of figuring out where the primary is) and is actually needed for replicas when people run with >1 replicas.

[2017-08-24 13:40] jimczi commented on #26358
Thanks for starting the discussion on the forum, I just answered https://discuss.elastic.co/t/completion-suggestor-with-synonyms-analyzer-getting-tokenstream-expanded-to-450-finite-strings-only-256-finite-strings-are-supported/98153.
@seme1 we're trying to answer the questions on the forum first before creating an issue so no need to duplicate ;).
I close this issue, we can continue the discussion

[2017-08-24 13:40] #26358 closed

[2017-08-24 13:44] jpountz commented on #26360
-1 I don't like having two ways to set index names.

[2017-08-24 15:27] jasontedor commented on #26328
This is the summary of discussions with @bleskes and @javanna.

We do not know what problems we are trying to solve, we feel there is not enough information to make a decision one way or the other whether or not to shade. We have one user saying not shading is fine for now (#25208), and another using having run into trouble with how we approached shading in an earlier 5.6.0-SNAPSHOT (#26318). (If

[2017-08-24 15:31] javanna commented on #26328
I also saw some feedback on conflicts as part of #23331 but that referred to the lucene dependency, which we decided not to shade for now anyway.

[2017-08-24 15:31] schlosna commented on #22087
This is likely related to an issue in spatial4j/JTS when it is attempting to determine if a line covers a rectangle, see possible PR to address: https://github.com/locationtech/spatial4j/pull/144

[2017-08-24 15:36] dakrone commented on #26335
Those work also, so +1 to removing the others if no one else objects. Perhaps the title of this issues should be changed to reflect the discussion?

[2017-08-24 15:55] mosinnik opened #26364 "can not write type [class java.math.BigDecimal] on Script usage"
When i try use Script in update to emulate upsert on condition i found error:
[code]
Creating update request with simple script code:
[code]
`params` - HashMap,
`newSource` contains objects and on of then is BigDecimal.
If i make only IndexRequest it's all right.
On update with script - fail.

ES transport client 5.5.1

Is it painless restrictions or may be fixed?

[2017-08-24 16:06] jdconrad commented on #26364
I don't think this is specifically a Painless issue.  I think this is similar to (https://discuss.elastic.co/t/bigdecimals-in-scripts-causing-issues/26976).  Unfortunately, it looks like the work around may be to not use BigDecimal in this case.

[2017-08-24 16:11] eranhirs commented on #21121
@niemyjski thanks for the help
[Here ](https://stackoverflow.com/questions/45864201/elasticsearch-painless-manipulate-date/45864252) is my experience with manipulating dates, it was painful

[2017-08-24 16:12] mosinnik commented on #26364
Of course i created some crutches for converting BD to double. But the point is on indexing BD works well, on script updating - no. I think should be same-same. Isn't?

[2017-08-24 16:46] Shizuu commented on #26269
I'm trying to replicate the issue on another cluster we upgraded in 5.5.1, without success for now, but it has a small cluster state. I'm trying to generate a bigger state and to figure what in it might be triggering the issue.

[2017-08-24 17:44] javanna commented on #25175
I find the current docs clear and I think it's a pity to copy the single node upgrade to the full cluster restart page. Is this a problem that you encountered with some user? What do you find confusing? Maybe the duplication of the "Upgrade any plugins" section in both pages?

[2017-08-24 17:48] seme1 commented on #22912
Any updates from the ES team on this issue ??
I'm unable to upgrade to any version above 5.x due to this issue. I'm also suffering from another issue with ES 2.3 (I reported it bug in ES2.3  https://github.com/elastic/elasticsearch/issues/26358 but closed by ES team because it was fixed in ES 5.x). I feel really stuck now.

[2017-08-24 17:50] javanna commented on #26294
This looks like a bug to me as well. @colings86 what do you think?

[2017-08-24 17:56] jimczi commented on #26357
`more_like_this` is a special query that relies on index statistics to select the terms that will compose the final query. This operation is done per shard with the main index reader.
Though the highlighters don't use the main index reader, the `fvh` highlighter uses a special reader that is restricted to the term vectors and the `plain` highlighter uses a special index reader that is built from t

[2017-08-24 18:01] hub-cap opened #26366 "Feedback on shading the low level rest client"
as per #26328, this is an issue to gather feedback on whether many users are finding pain in using the unshaded low level rest client jar in 5.6.

We had shaded the jar in #25208, and then after some problems such as #26318 arose we decided to [back out ](https://github.com/elastic/elasticsearch/issues/26328#issuecomment-324669952) the shading for 5.6 and await feedback for potentially re-adding i

[2017-08-24 18:06] hub-cap commented on #26328
I created #26366 to address feedback on 6.0.0.

[2017-08-24 18:18] jdconrad commented on #26364
@nik9000 Is this something you might be able to explain off the top of your head?

[2017-08-24 18:31] hub-cap commented on #26318
@tsachev We are going to revert shading for the rest client for now. If you have feedback to give on whether we should add it back or not for 6.0, please leave a comment at #26366.

[2017-08-24 18:35] polyfractal commented on #26258
So @dakrone ran a bunch more benchmarks for me and I crunched the search numbers.  The differences were not statistically significant in most cases.  The values that _are_ statistically significantly different (`p<0.05`) are below.  Note, this is still with `n=5` so not a huge population and probably still noisy:

### With Throttling Enabled

Interestingly, all these values went _down_ slightly wi

[2017-08-24 18:37] polyfractal commented on #26258
Oh, and note this is `n=5` of analyzing the summary values (e.g. 5 laps of each), not the raw latencies.  I didn't realize Rally could save all the response latencies when I asked @dakrone to run the test.  I can setup an environment and rerun with Rally configured to save latencies and analyze the whole population if we want.  That'd give a better analysis.

[2017-08-24 18:46] rjernst commented on #26294
@mattweber I'm happy to reopen this. I originally closed because `value_type` is undocumented. We should probably document it (and make sure it works in all cases).

[2017-08-24 19:12] #26309 closed

[2017-08-24 23:32] jasontedor commented on #26269
Yes, I was using `transport.tcp.compress` set to `true`. I have a cluster state that is 44955643 bytes of pretty-printed json and 992131 bytes of compressed pretty-printed json and the issue still does not reproduce for me.

[2017-08-25 00:56] jiezhu2007 opened #26374 "failed to build elasticsearch"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.5.1
**Plugins installed**: []
None
**JVM version** (`java -version`):

java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
windows 7 64bit

**Description of the problem including expected vers

[2017-08-25 01:03] jasontedor commented on #26374
All of our branches build right now, so this is probably an environment problem. I recommend running `gradle clean`. For additional help, please ask on the [forum](https://discuss.elastic.co) as we reserve GitHub for verified bug reports and feature requests.

[2017-08-25 01:03] #26374 closed

[2017-08-25 02:06] anhzhi opened #26376 "Bucket_scripts about nested.field will lead Java elasticsearch exception in Some situations"
**Elasticsearch version**:
"number": "5.3.1",
"build_hash": "5f9cf58",
"build_date": "2017-04-17T15:52:53.846Z",
"build_snapshot": false,
"lucene_version": "6.4.2"

**JVM version** (`java -version`):
java version "1.8.0_45"

**OS version** :
Ubuntu 14.04.5 LTS
Linux 3.19.0-26-generic #28~14.04.1-Ubuntu SMP

**Steps to reproduce**:
cc-gossip-test-2017.08.24 is a time-series index with nested path:

[2017-08-25 02:07] anhzhi commented on #26376
this issue is some like [https://github.com/elastic/elasticsearch/issues/25845](url)

[2017-08-25 02:13] anhzhi commented on #26376
**Other Test cases of help**:
If inserted a term aggregation, it will give the expected result:
[code]

[2017-08-25 02:18] anhzhi commented on #26376
If replaced the empty-filter-aggregation with a meaningless-terms-aggregation, it also works:
[code]

[2017-08-25 02:21] anhzhi commented on #26376
If removed the bucket-script aggregation， it also works as expected：
[code]

[2017-08-25 06:56] terancet commented on #26338
@nik9000 ,
Thank you for your response. Appreciate it =)

[2017-08-25 07:28] colings86 commented on #26376
This actually has nothing to do with the the nested field. The reason your first example above fails is because the `filter` aggregation is not a multi-bucket aggregation. The `bucket_script` aggregation requires that it's parent aggregation is a multi-bucket aggregation.

If you use the `filters` aggregation instead of the `filter` aggregation your first example should work.

[2017-08-25 07:28] #26376 closed

[2017-08-25 08:11] lupo112 commented on #26340
[code]

In this case, I have to define two methods with different input arguments:
[code]

While `SearchResponse` contains method `getAggregations` which is the same as defined in the interface `HasAggregations`.

[2017-08-25 08:16] tlrx opened #26378 "[CI] AggregationsIntegrationIT.testScroll() fails"
The test `org.elasticsearch.search.aggregations.AggregationsIntegrationIT.testScroll()` failed on CI today:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+oracle-periodic/343/

With:

It didn't reproduce with:
[code]

The full console output is:
[consoleText.txt](https://github.com/elastic/elasticsearch/files/1251248/consoleText.txt)

[2017-08-25 08:21] acristu commented on #26118
An use case would be to give a user access to disjoint data sets in different data centers.
For this use case we would like to be able to query the clusters that are reachable and ignore the rest.

Also from the DevOps stand point it would not be nice to have dependencies between data centers.
Automation can be done in many different ways, CM tools run (Chef, Ansible, etc) and/or cloud or containe

[2017-08-25 08:28] Akshay3 opened #26380 "Elastic -Spark Major Minor Version Issue :org/elasticsearch/spark/rdd/CompatUtils : Unsupported major.minor version 52.0"
Hi ,
I am working on scala spark project .I am using these dependency
build.sbt

libraryDependencies ++= Seq(
“org.apache.spark” % “spark-core_2.11” % “2.0.0”,
“org.apache.spark” % “spark-sql_2.11” % “2.0.0”,
“org.scala-lang” % “scala-reflect” % “2.12.1”,
“org.elasticsearch” % “elasticsearch-spark-20_2.11” % “5.0.0”

I am running this by shell script .
abc.sh

/home/centos/SPARK/spark-2.1.0-bin-ha

[2017-08-25 08:28] Akshay3 commented on #26380
17/08/25 13:50:18 ERROR executor.Executor: Exception in task 0.0 in stage 4.0 (TID 4)
java.lang.NoSuchMethodError: scala.reflect.api.JavaUniverse.runtimeMirror(Ljava/lang/ClassLoader;)Lscala/reflect/api/JavaMirrors$JavaMirror;
at org.elasticsearch.spark.serialization.ReflectionUtils$.org$elasticsearch$spark$serialization$ReflectionUtils$$checkCaseClass(ReflectionUtils.scala:42)
at org.elasticsearc

[2017-08-25 09:02] jimczi commented on #26378
There is a connection failure to one node during the tests. The two documents missing may come from that node, that would explain why the scroll only sees 9 out of 11 documents:

[code]

[2017-08-25 09:17] tlrx opened #26381 "[Docs] Doc in Japanese break the documentation tests"
Commit 2ce358af29ce839243964b55af246474704d769c added many asciidoc files in a jp/ directory. Those files are not listed in the exclusion list (aka `expectedUnconvertedCandidates`) in the `docs/build.gradle` file and it breaks the build when the `gradle :docs:check` command is executed.

[2017-08-25 09:23] danielmitterdorfer commented on #26380
This is the repository for Elasticsearch, the [Hadoop connector is elsewhere](https://github.com/elastic/elasticsearch-hadoop). Thus I am closing this issue.

But I think in this case I am even able to help you. You get:

[code]

This means that you are trying to run a Java class that requires Java 8 with an older JDK version. It seems that somehow an older Java version (e.g. JDK 7) ends up in you

[2017-08-25 09:23] #26380 closed

[2017-08-25 09:23] tlrx commented on #26381
Also on 5.3: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.3+dockeralpine/11/

[2017-08-25 09:28] Akshay3 commented on #26380
Ok .thnx

New link is

https://github.com/elastic/elasticsearch-hadoop/issues/1042

[2017-08-25 09:41] elasticmachine opened #30080 "[ML] bucket_count is inaccurate when there are gaps in the data"
*Original comment by @davidkyle:*

Open a job send some data and close the job then reopen the job and send some data timestamped a week later than the previous batch. Autodetect will create empty bucket results for the intervening period but `DataCounts::bucket_count` will not reflect that.

The test`MlBasicMultiNodeIT::testMiniFarequoteReopen` does exactly this but the test was asserting that `b

[2017-08-25 09:46] jpountz commented on #12620
While I agree with Ryan, I looked into making this change in order to remove the AwaitsFix and this was problematic when the stream is wrapped with a `DeflaterOutputStream`. The `DEFLATE` format has an end marker that `DeflaterOutputStream` writes either when you cann `finish()` or `close()`. Since `finish()` is specific to this `OutputStream` implementation, it is not practical. So now imagine yo

[2017-08-25 09:47] huzhaohui opened #26382 "Why elasticsearch 5.4 bulk update so slow and increased 100+ segments per second"
elaricsearch 5.4.3  bulk update docs, it increased more than 100 segments(it increase several segments while i bulk update docs in elasticsear1.7 ).
bulk update parameters:
elaricsearch version:5.4
index.refresh_interval:30s( effective when bulk index, not effective when bulk update, but why?)
Do not it(segments) depend on index.refresh_interval and buffer size?

[2017-08-25 09:52] danielmitterdorfer commented on #26382
Hi @huzhaohui, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) instead. Thank you!

[2017-08-25 09:52] #26382 closed

[2017-08-25 10:02] huzhaohui commented on #26382
thank you.

https://discuss.elastic.co/t/why-elasticsearch-5-4-bulk-update-so-slow-and-increased-100-segments-per-second/98358

[2017-08-25 10:26] cbuescher opened #26384 "Make sure all registered aggregations in core are also registered in the client"
Currently we don't have a good way of testing whether all the aggregation parsers registered in core ES are also registered in the HL client (see e.g. #26370 as an example). We should investigate if we can improve testing so aggregations that are added in the future are properly registered and we don't forget about them in the rest-highlevel client.

[2017-08-25 11:01] saliormoon opened #26386 "Could not resolve all files for configuration ':benchmarks:classpath'."
**Compile Elasticsearch Souce Code With Gradle**
When I compile the elasticsearch source code with gradle, I get a serious problem, such as the Bug report:

* What went wrong:
A problem occurred configuring project ':benchmarks'.

     Required by:
         project :benchmarks

elman/gradle/plugins/shadow/1.2.3/shadow-1.2.3.pom'.

gradle/plugins/shadow/1.2.3/shadow-1.2.3.pom'.

ailed: sun.security

[2017-08-25 11:05] colings86 commented on #26360
I'm also -1 on this as I think there are already various ways to work around this issue including wildcards including wildcard expressions (as mentioned), _msearch (as mentioned), creating aliases for blocks of time (say each week or month) and uses a list of aliases instead of concrete indexes in the search.

Also with the query rewrite and caching functionality added in 5.0 the impact of includi

[2017-08-25 11:08] danielmitterdorfer commented on #26386
Hi @saliormoon, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) instead. Thank you!

From the following part of your error message I conclude that your certificate configuration in the JDK is broken and you should look into fixing this:

[code]

Hope that helps!

[2017-08-25 11:08] #26386 closed

[2017-08-25 11:13] danielmitterdorfer commented on #26050
While I agree that `ucf` seems nice and helpful, @jasontedor has reasoned that the configuration changes only seldom and in addition we want the Debian and RPM distributions to stay as close as possible for maintenance reasons. Hence I'm closing it for the time being and in case we'll pick it up in the future, we can reopen.

[2017-08-25 11:13] #26050 closed

[2017-08-25 11:37] jasontedor commented on #26360
For clarity, this can be increased.

[2017-08-25 11:47] saliormoon commented on #26386
broken?@danielmitterdorfer
D:\jdk1.8\bin>java SSLPoke developer.nrel.gov 443
java.net.ConnectException: Connection timed out: connect
        at java.net.DualStackPlainSocketImpl.connect0(Native Method)
        at java.net.DualStackPlainSocketImpl.socketConnect(DualStackPlainSocketI
mpl.java:79)
        at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.ja
va:350)
        at jav

[2017-08-25 11:49] jasontedor commented on #26386
@saliormoon Please ask questions on the [forum](https://discuss.elastic.co).

[2017-08-25 11:51] saliormoon commented on #26386
ok.

[2017-08-25 11:55] saliormoon commented on #26386
thanks a lot.@danielmitterdorfer

[2017-08-25 12:03] danielmitterdorfer commented on #26339
Repeating my comment on the related PR here:

After running benchmarks in our nightly benchmarking environment, we see the following median throughput for the nyc_taxis track (24 clients):

* 5.5.2: 91773 docs/s
* With #26362: 82125 docs/s
* Without #26362: 82258 docs/s

In summary: This did not improve the situation.

We do, however, see that with this PR the monitor lock of `org.elasticsearch.in

[2017-08-25 12:17] jimczi commented on #24917
I think it's a good idea though `AND` is not implemented in suggest v2 yet. There is an old PR that is on my TODO for some time now:
https://github.com/elastic/elasticsearch/pull/24565
I am currently working on a rebase version of it and I should be able to open a new PR in a couple of days. `MUST_NOT` support should be easy to add if we support `AND` and `OR` so I can do that in a follow up or ad

[2017-08-25 13:08] bleskes commented on #26360
@joschi thanks for filing the issue. As you can see there is some resistance to have multiple ways to do the same thing. Can you elaborate some more on how you end up using so many indices? what's your setup?

[2017-08-25 13:13] jpountz commented on #26340
Thank you for explaining, we get your point now.

We discussed it in FixitFriday and agreed to not do it. This interface was added as a way to mark aggregations that have sub aggregations, so we felt like putting it on SearchResponse would be wrong.

[2017-08-25 13:13] #26340 closed

[2017-08-25 13:22] colings86 commented on #26327
It looks like this already exists in the [Remote Cluster Info API](https://www.elastic.co/guide/en/elasticsearch/reference/5.5/cluster-remote-info.html). I think this covers the request here?

[2017-08-25 13:42] jpountz commented on #26299
We discussed it in FixitFriday. We agreed to do this, but at the same time we should probably add a soft limit over the number of doc_values and script fields that are requested (computed based on the number of matches in the mappings) since doc-values fields come up with a per-field per-document seek (while stored fields only incur a per-document seek regardless of the number of fields).

[2017-08-25 13:43] jimczi commented on #26308
Discussed it in FixItFriday, the partial result is a big concern so we decided to explore adding a new setting at the cluster level (or at the index level if needed) that would add an hard timeout to search request. It could be activated by default with a very high value like 5 minutes. The benefit would be to automatize the garbage collection of long running queries.
Though we still need to bench

[2017-08-25 13:44] jpountz opened #26390 "Add a soft limit on the number of requested doc-value and script fields"
Spin-off from #26299. Doc-value and script fields are costly since they might incur a per-field per-document seek, while stored fields only incur a per-document seek. So we should add a soft limit over the number of requested doc-value and script fields.

[2017-08-25 13:44] jpountz commented on #26299
I opened #26390.

[2017-08-25 14:05] nik9000 commented on #26364
This doesn't work with update because we serialize the parameters with [this](https://github.com/elastic/elasticsearch/blob/5.4/core/src/main/java/org/elasticsearch/common/io/stream/StreamOutput.java#L509-L624). But with indexing we [serialize](https://github.com/elastic/elasticsearch/blob/5.4/core/src/main/java/org/elasticsearch/action/index/IndexRequest.java#L358-L380) the source map to JSON/YAM

[2017-08-25 14:06] #26364 closed

[2017-08-25 14:17] polyfractal commented on #26308
/cc @dakrone since he ran the tests, I just played with some spreadsheets to generate the p-values :)

[2017-08-25 14:25] nik9000 commented on #26381
Yikes! @debadair can we move the translated docs to a subdirectory of docs? That way we can ignore them entirely in the docs build. We *shouldn't* have different examples in the translations.

It'd be nice to know how the translations are made so we can deal with them properly. As it stands I expect folks to start submitting PRs agains the translations and I dunno if we should merge them. Honestly

[2017-08-25 14:55] jpcarey commented on #24096
This through me for a loop. I had set the limit to 10, in which it is impossible to post a document to an index. If you use a limit of 20, you can have a total of 4 fields in your document. Not entirely sure how we have 16 meta type fields...

[code]

What is also confusing: Using the 20 field limit (4 real fields), you can create 4 unique fields for as many types as you can create. The field limi

[2017-08-25 15:15] jimczi commented on #24096
Since you use dynamic mapping in your example, each field will create an extra ".raw" field.
So you have 8 fields in your mapping and there are 12 metadata fields in es 5.x:
  * _routing
  * _ttl
  * _index
  * _type
  * _all
  * _parent
  * _field_names
  * _source
  * _id
  * _version
  * _timestamp
  * _uid

Some of these fields are deprecated or not activated by default but we count them in th

[2017-08-25 16:01] andy-elastic commented on #26192
Had another one today, doesn't seem to be consistently failing. I'll see if I can reproduce https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+aggressive-opts/157/consoleText

[2017-08-25 16:03] debadair commented on #26381
@nik9000 They are in subdirectories of docs--docs/jp and docs/kr.

Regarding the translations, we went back & forth but ultimately decided to treat the translations like we do the rest of the docs. We will accept PRs against them subject to review & the usual requirements. The translations that I've added to the build this week were done by a vendor and reviewed by our own native speakers. We kept

[2017-08-25 16:31] ppf2 commented on #26327
Interesting, this is often missed because it is not linked from the main cross cluster search documentation and this API is really only used with CCS.  Can we add a reference from https://www.elastic.co/guide/en/elasticsearch/reference/5.5/modules-cross-cluster-search.html so that users are aware? :)  Reopening to convert to a doc issue.  thx!

[2017-08-25 16:40] debadair commented on #26381
Talked to @nik9000 & he's going to exclude the docs/jp and docs/kr directories from testing in the 5.3 and 5.4 branches. (Currently the only branches with translated content.) Ultimately, the right thing to do is move the English docs into docs/en and only test against that directory, but I'd prefer to put off moving the files & making the necessary doc config changes at least until after we get 5

[2017-08-25 16:55] Shizuu commented on #26269
Okayyyy, I have done countless tests, tried to generate many indices, mappings, etc. playing with options we have activated etc.... no luck...
Finally I copied the state of my cluster with the issue on an empty cluster, saw that the issue was there even without the data, and tried to trim down the cluster state to a minimum that could generate the issue...
(I spend really too much time on this...

[2017-08-25 17:03] nik9000 commented on #26381
Fixed the build with c2b9cc1ebff93fa4699bdebbb51dab0e2667364a.

[2017-08-25 17:03] #26381 closed

[2017-08-25 17:04] jasontedor commented on #26269
First, thank you for all your time on this. Second, I'm right there with you the last few days. I will immediately try your reproduction report.

[2017-08-25 17:46] #26208 closed

[2017-08-25 18:14] rjernst commented on #12620
Thanks for the analysis @jpountz. I agree with you after further thought. This is similar to ByteArrayOutputStream, in that you can get access to the byte array after the stream after or before the stream as been closed. Closing only means you can no longer write to the stream.  I opened #26392 to remove the test.

[2017-08-25 18:14] #12620 closed

[2017-08-25 18:22] jasontedor commented on #26269
This happened. That's okay though, it's expected. Did something problematic happen after this?

[2017-08-25 18:42] Shizuu commented on #26269
It didn't happen in 5.3.0 so we were surprised.
Like I said the RSS would never increase beyond 1x HEAP size before the upgrade.
We have 15Go of RAM and HEAP was set at 8Go. Everything was stable.
After the upgrade we didn't see immediatelly that memory usage was going upper than the HEAP and since our HEAP was set at half the RAM the kernel would oomkilled the active master, a second master would

[2017-08-25 19:03] anaghs commented on #12902
Is it still valuable to work on this ? This would be my first PR into ES and I am looking for something simple to get my feet wet.

[2017-08-25 19:13] #26328 closed

[2017-08-25 19:22] jasontedor commented on #26269
I tested your reproduction on 5.3.0 and it behaved the same at on 5.5.2.

[2017-08-25 19:39] cwarny opened #26393 "Ability to aggregate on suggester results"
I'd like my aggregations to operate on the set of documents filtered by my suggester (just like it does when the filtering is done by a query). Instead it ignores the suggester and aggregates across the board.

Example:

[code]

I'd like `my-aggs` to only return terms that start with `hel`.

[2017-08-25 19:51] cwarny commented on #26393
I've thought a little more about this. I am guessing the reply will be that suggesters are meant to maximize speed and that interacting them with aggregations will slow them down. I'm also guessing the alternative approach would be something like this:

[code]

[2017-08-26 01:26] coderplay commented on #26339
@danielmitterdorfer Try more powerful machine. More powerful machine will gain better parallelism if there is no lock contention.   The throughput difference will be larger.

[2017-08-27 00:17] jiezhu2007 commented on #26374
I changed the gradle  to version 3.3,the error is gone.
I suspect that there is compatibility issues with version 4.1 of gradle.

[2017-08-27 11:59] dadoonet opened #26398 "Use versioneye gradle plugin to detect outdated deps and incompatible licenses"
I came today to the following plugin: https://github.com/stempler/gradle-versioneye-plugin

I'm using it on Maven projects and it really helps to have an overview of outdated jars/plugins and also a list of incompatible licenses.

Example here: https://www.versioneye.com/user/projects/59a174f8368b080052a6aa40

Marking as discuss. Feel free to close it if we don't want to add such a check to elasti

[2017-08-27 12:01] dadoonet commented on #26398
Hmmm. The plugin is under a MIT license which is may be not compatible...

[2017-08-27 14:13] bleskes commented on #26328
thx for all the iterations  @hub-cap

[2017-08-27 19:24] jasontedor commented on #26269
I do not think there is a leak here. I think that Netty and the JVM are behaving as expected, with Netty using a pool of direct byte buffers up to the maximum direct memory. I compiled [`jemalloc` with `--enable-prof`](https://github.com/jemalloc/jemalloc/wiki/Use-Case%3A-Leak-Checking) and profiled the allocations of the JVM while following your reproducing steps. The allocations all come from `U

[2017-08-27 19:24] #26269 closed

[2017-08-28 05:51] jay-dihenkar commented on #24719
I have been randomly experimenting... Looks like if req circuit breaker limit is greater than parent circuit breaker and parent circuit breaker gets tripped multiple times causes memory to leak. ( tested on es 5.2.x and 5.3.x ).

Also adding to this... looks like heap size and stack size are also related, on an ES having 300gb data with 16gb heap and 1m stack size takes much more memory (28gb res

[2017-08-28 07:57] #22298 closed

[2017-08-28 08:04] #26078 closed

[2017-08-28 10:58] danielmitterdorfer commented on #26339
I totally agree to this statement but for the time being, it's just important that we see a measurable difference due to the same hotspots that you are describing. When we're confident that the problem is fixed, I think it makes sense to run another benchmark on a more powerful machine.

[2017-08-28 11:40] nitishgoyal13 commented on #9726
I am migrating es cluster from 1.4 to 5.4.

Still getting the same error
[indices:data/read/search[phase/scan/scroll]]]; nested: SearchContextMissingException[No search context found for id [4003744]
Successfully migrated the dev and testing cluster.
Getting the error while migrating prod cluster.

I have increased the scroll time to 30 mins and decreased the bulk size to 100. I have run the migra

[2017-08-28 12:59] nitishgoyal13 opened #26403 "SearchContextMissingException[No search context found for id [xxxxx]"
I am migrating es cluster from 1.4 to 5.4.

Still getting the same error
[indices:data/read/search[phase/scan/scroll]]]; nested: SearchContextMissingException[No search context found for id [4003744]
Successfully migrated the dev and testing cluster.
Getting the error while migrating prod cluster.

I have increased the scroll time to 30 mins and decreased the bulk size to 100. I have run the migra

[2017-08-28 13:34] nik9000 commented on #26398
I think we have the licensing part covered with our licensing tools. I like that ours force you to commit a sha as well to make extra sure no one man in the middles the jar. The out of date versions we've typically handled by having "someone" watch the upstream versions and pay attention to them. We also don't take a super aggressive stance on upgrading versions. We've kept a fairly old ANTLR vers

[2017-08-28 14:54] polyfractal opened #26405 "Investigate profiling naming issues"
Thanks to profiler response testing added in #26404, a few naming issues became apparent.  Instead of the aggregation names, the profiler collector simply shows "ProfilingAggregator".  And a Terms query is showing the factory class.

Not entirely sure the root cause but we should track these down, because they make the response a lot less useful.

[code]

[code]

There was also a missing collector

[2017-08-28 15:01] PhaedrusTheGreek opened #26406 "Return resolved query in results"
Perhaps something like:

[code]

With features like date math, the executed query is different than the one originally supplied.  It might be useful for troubleshooting and/or for informational.   For example,  in date range math, today in August,`"lte": "now-1M/M"` resolves to Aug 1, where as `"lt": "now-1M/M"` resolves to July 31, which might throw off a user who hasn't read the docs.

[2017-08-28 16:15] dakrone commented on #26403
Hi,
We reserve Github issues for feature requests and bug reports. If you are having problems please use https://discuss.elastic.co instead!

This looks like your `scroll_id` is being used longer than the scroll timeout. Perhaps you are using the initial `scroll_id` instead of using the (potentially newer) `scroll_id` that comes in each response.

[2017-08-28 16:15] #26403 closed

[2017-08-28 16:24] jpountz commented on #26406
Is the validate API with rewrite=true good enough for your needs?

[2017-08-28 16:59] jasontedor commented on #26398
I agree with this, I don't think we need to add this plugin here.

[2017-08-28 17:01] jasontedor commented on #26028
I made a [different proposal](https://github.com/elastic/elasticsearch/pull/26283#issuecomment-324313494) on #26283; I think we should work to remove the need for the bulk processor to even need the Elasticsearch server thread pool. It does not need its full power, only the scheduler which can be provided separately.

[2017-08-28 17:09] jasontedor commented on #24719
This is interesting, can you provide more details here, preferably a reproduction? There was a circuit breaker leak in 5.x prior to 5.2.2 (#23310) but you seem to be claiming there's an issue beyond that.

[2017-08-28 17:21] dadoonet commented on #26398
Thanks for the feedbacks. I'm closing it.

[2017-08-28 17:21] #26398 closed

[2017-08-28 18:59] jmlucjav opened #26408 "terminated_early is set incorrectly"
**Elasticsearch version**
Version: 6.0.0-beta1-SNAPSHOT, Build: Unknown/2017-08-13T15:13:28.500Z, JVM: 1.8.0_102

**JVM version**
java version "1.8.0_102"
Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.102-b14, mixed mode)

**OS version**
win10, 64b

**Description of the problem including expected versus actual behavior**:
Using a sorted index, te

[2017-08-28 19:23] evanceheallyg commented on #10002
@polyfractal Is there any workaround to specify dynamic window? In our use case, we need to calculate the moving average for dynamic sliding window based on the number of months selected by the user. Ex, if the data set is for 1 year, then window should be 2, 2 years = 24 and so on.. Any thoughts?

[2017-08-28 19:49] LeeDr opened #26410 "elasticsearch can't read keystore file (.deb package install)"
Related to; https://github.com/elastic/elasticsearch/pull/26329

**Elasticsearch version** (`bin/elasticsearch --version`):  Version: 6.0.0-beta2-SNAPSHOT, Build: d6a7e25/2017-08-28T13:34:58.542Z, JVM: 1.8.0_141

**Plugins installed**: [x-pack]

**JVM version** (`java -version`): openjdk version "1.8.0_141"

**OS version** (`uname -a` if on a Unix-like system):
Linux packer-virtualbox-iso-15014247

[2017-08-28 19:52] andrewthad commented on #25894
I would like this as well, except that I'm need it for the ngram tokenizer, not the edge ngram tokenizer. Basically, I have a bunch of logs that end up in elasticsearch, and the only character need to be sure will break up tokens is a comma. Anything else is fair game for inclusion.

[2017-08-28 20:08] inqueue commented on #25953
Another report of this issue was received today. Wrapping the `null` in brackets does not work if there are multiple seeds. A subsequent request is required to make it go away:

[code]

[2017-08-28 22:31] elasticmachine opened #30081 "Provide OpenAPI/Swagger specification out of the box"
*Original comment by @lcawl:*

This issue is related to https://github.com/elastic/elasticsearch/issues/25152

I have been formatting the X-Pack API reference information such that it uses the same section headers as the Cloud Enterprise documentation, which in turn was generated from Swagger.

I would like to pursue whether we can go one step further and start generating the X-Pack API informatio

[2017-08-28 22:58] andy-elastic commented on #26192
Couldn't reproduce this, added some test logging so we'll have more info the next time it fails in CI.

The failure I posted above had a timeout while waiting for the reindex task to be finished initializing, but also had errors like this before, one for each shard

[code]

[2017-08-29 00:47] #26410 closed

[2017-08-29 01:28] saliormoon commented on #21932
When I start elasticsearch, I have the same problem:
Listening for transport dt_socket at address: 5005
2017-08-29 09:23:25,339 main ERROR Could not register mbeans java.security.AccessControlException: access denied ("javax.management.MBeanTrustPermission" "register")
        at java.security.AccessControlContext.checkPermission(AccessControlContext.java:472)
        at java.lang.SecurityManager.

[2017-08-29 02:04] seekely commented on #25350
We ran into the same issue when trying to upgrade from 2.3 to 5.2 (both in place and from snapshot).  We were thinking of patching and building ourselves, but a proper fix did not look very straight forward to our unfamiliar eyes since the similarities are not loaded until an IndexService is created and that looked a little tough to just mock/fake.

[2017-08-29 02:31] nitishgoyal13 commented on #26403
Scan<SearchHit> scroll = new ESScan<>(new Lookup<ESClientDetails>() {
                @Override
                public ESClientDetails lookup() {
                    return finalFromEsClient;
                }
            }, new Adapter<SearchHit, SearchHit>() {
                @Override
                public SearchHit adapt(SearchHit input) {
                    return input;
                }

[2017-08-29 02:32] nitishgoyal13 commented on #9726
Scan<SearchHit> scroll = new ESScan<>(new Lookup<ESClientDetails>() {
            @Override
            public ESClientDetails lookup() {
                return finalFromEsClient;
            }
        }, new Adapter<SearchHit, SearchHit>() {
            @Override
            public SearchHit adapt(SearchHit input) {
                return input;
            }
        }, searchRequestBuilder, bulk

[2017-08-29 03:41] andy-elastic commented on #26336
Can you explain a little more about why the existing disk allocation settings don't work for your use case? Thanks

[2017-08-29 04:35] rajivkuriakose commented on #21932
I have changed ownership of below folders and it worked for me

hown -R rajiv:mygroup /usr/share/elasticsearch
chown -R rajiv:mygroup /var/log/elasticsearch
chown -R rajiv:mygroup /var/lib/elasticsearch
chown -R rajiv:mygroup /etc/elasticsearch

chown -R rajiv:mygroup /var/run/elasticsearch/

Also changed below in /etc/init.d/elasticsearch

#ES_USER="elasticsearch"
ES_USER="rajiv"
#ES_GROUP="elast

[2017-08-29 07:18] jimczi commented on #26408
Thanks @jmlucjav

We always set `terminated_early` when the top hits collector was able to shortcut the collection even when `track_total_hits` is not disabled. When you set a size of 1 in your request, early termination is activated but it's also activated when you set the size to 5 because your shard contains only 2 documents. In such case the maximum size value is 2 and early termination kicks

[2017-08-29 08:03] wenma opened #26414 "/_nodes/stats?all=true http entrypoint probably has a bug?"
ES version:   v2.3.3

I have some confusions about nodes http entrypoint, show that:

[code]
Above,  there are 14 nodes,  but,  /_cat/nodes http entrypoint has a different result:

[code]
Above, there have 18 nodes,  is different from entrypoint ```/_nodes/stats?all=true```'s result, so....

Could anyone help me?  thanks.

[2017-08-29 08:09] dbgrey44 commented on #24807
Any update on this? I am also facing the same issue.
I am also trying to query in a similar fashion as @KellyBennett. Can anyone point me in the correct direction?

[2017-08-29 08:26] SophieMay opened #26415 "write is slow, about 3min to index ten thousand"
the cluster status is green;
no replicas;

[2017-08-29 08:26] tlrx commented on #26414
Do you see any failures in the response? It's possible that some nodes failed to reply back. A `/_nodes/stats` request is sent to all nodes and if one or more node failed to anwser it won't appear in the results, while a `/_cat/nodes` list the nodes that are known in the cluster state.

[2017-08-29 08:43] tlrx commented on #26415
Hi @SophieMay, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elastic forums](https://discuss.elastic.co/) instead. Thank you!

[2017-08-29 08:43] #26415 closed

[2017-08-29 09:16] wenma commented on #26414
@tlrx  NO failures in the response, I saw ```/_cat/health``` response the cluster state is green, and ```/_cat/indices``` response all of index's state are also green.  BUT,  one thing is that I saw the ES log shows some OOM exception in a ES master nodes like:
[code]
I'm afraid the excepiton have noting to do with ```/_nodes/stats?all=true``` problem.

At the end,  I restart the whole cluster,  n

[2017-08-29 09:20] tlrx commented on #26414
Node stats responses can be very verbose when you ask for `all` metrics, specially if you have a large number of indices. Is that your case? That could explain the OutOfMemoryError.

[2017-08-29 09:23] hosuaby opened #26416 "ScheduledNodeSampler still running after TransportClient was closed"
# Bug report
**Concern**: Elasticsearch Java client
**Java version**: JDK 1.8
**Elastic version**: 2.4
**Elastic java client version**: 2.4.6

# Description
When TransportClient is closed using method _close()_ all threads of this client are stoped except one: ScheduledNodeSampler. It can be detected as following:
1. Instantiate a new client with:
[code]

2. Shutdown the client (application must s

[2017-08-29 09:32] ddorian opened #26417 "Named queries return documents with no `matched_queries`"
**Elasticsearch version** (`bin/elasticsearch --version`): "5.2.0"

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):
Linux guru 4.4.0-87-generic #110~14.04.1-Ubuntu SMP Tue Jul 18 14:51:32 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
Named queries don't always m

[2017-08-29 10:04] tlrx commented on #26417
@ddorian You must use a different value for `_name` for each query

[2017-08-29 10:16] ddorian commented on #26417
Oh, that makes sense(but sucks on the ui). But how to combine multiple `term` queries so I can specify the name only once ?

[2017-08-29 10:18] tlrx commented on #26417
I think you can set the `_name` at the `bool` level.

[2017-08-29 10:22] ddorian commented on #26417
Thanks, that works and makes sense. Maybe you should fix the docs with these 2 points ?

[2017-08-29 10:46] tlrx commented on #26417
The documentation https://www.elastic.co/guide/en/elasticsearch/reference/5.5/search-request-named-queries-and-filters.html shows a sample with different values for `_name` so I think it's ok.

[2017-08-29 10:48] ddorian commented on #26417
But they are different filters ? Anyway, I didn't understand it. But it make sense to mention that you shouldn't duplicate.

[2017-08-29 10:54] tlrx commented on #26417
If you think that the documentation can be improved, please open a pull request :+1:

[2017-08-29 10:54] #26417 closed

[2017-08-29 12:32] spinscale opened #26419 "Deprecation headers are not returned when deleting a non existing setting"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5 (tested on 5.5.1)

**OS version** (`uname -a` if on a Unix-like system): osx

**Description of the problem including expected versus actual behavior**:

When you have a deprecated setting configured, then the cluster update settings API is returning all of those settings on every request, regardless if the setting you specified as part

[2017-08-29 12:36] jpountz commented on #26408
I was thinking along the same lines.

I can see why the `terminated_early` flag can be confusing. Sometimes it means results are partial, sometimes it means that we were able to early terminate the collection of top docs but results are complete. It is also not clear to which part of the request it applies: when `terminate_after` is used then it applies to everything while it otherwise it only app

[2017-08-29 12:40] soultemptation commented on #21101
+1
I do understand @clintongormley argumentation against it. And it should be documented that adding a default pipeline will be executed for first ingestion as well as updates. But having the choise between specifying it on index level or per request gives the flexibility to use what ever is more appropriate for the current job.

[2017-08-29 13:53] hosuaby commented on #26416
False alarm. My code had on unclosed client. Everything works fine. TransportClient closes well

[2017-08-29 13:53] #26416 closed

[2017-08-29 14:35] polyfractal commented on #10002
@evanceheallyg You'll have to determine the range of the data up-front at the moment, there's no way to specify the number of partitions rather than the size of each partition.

I'm not sure we'd be able to support that kind of functionality though.  Moving average works on discrete buckets.  So if your histogram has 10 buckets, but you request "9 partitions", we'd have to put 0.9 buckets into eac

[2017-08-29 16:02] joschi commented on #26360
@bleskes The issue with a large list of indices (exceeding the default 4 KB HTTP initial line length) came up in Graylog after switching from a embedded Elasticsearch node to the Elasticsearch HTTP API when users had multiple [index sets](http://docs.graylog.org/en/2.3/pages/configuration/index_model.html) (which you can think of multiple [Logstash Elasticsearch outputs](https://www.elastic.co/gui

[2017-08-29 16:10] jpountz commented on #9726
This snippet does not help since I have no idea what the ESScan class does. I'd suggest that you add logging to your application in order to report on intervals between calls to the scroll API, and also review your code in order to make sure that you use the scroll ID returned by the last scroll and not always the initial scroll ID.

[2017-08-29 17:48] andy-elastic commented on #25587
Merged in #26413

[2017-08-29 17:48] #25587 closed

[2017-08-29 18:08] 5ean opened #26424 "sum value does not match with the sum of all item in hits"
**Describe the feature**:

**Elasticsearch version 5.5 (`bin/elasticsearch --version`):

**Plugins installed**: [No plug in]

**JVM version** (`java -1.7`):

**OS version** (windows server):

**Description of the problem including expected versus actual behavior**:

The sum value is not correct

Here is the query:
[code]

And the return is like:
[code]

the result is 2000+ more than the correct an

[2017-08-29 18:33] andy-elastic commented on #26153
I was able to reliably reproduce this by

* Creating a ~40gb index with 5 shards, 1 replica on a 2.4.5 cluster with 3 nodes
* Upgrading all nodes to 5.5.1
* Setting `thread_pool.search.queue_size` to 1
* Reindexing to a new index with
[code]

Getting a task status similar to the original posted - failure with search queue rejected, no retries marked

[code]

It seems like the index being created i

[2017-08-29 18:55] rjernst opened #26425 "Locale validation breaks with randomized locales"
Lucene provides a helper method to get a random locale. This may break with the new LocaleUtils.isValid method, which tries to make sure only locales with iso alpha-3 language and country codes are used, since Lucene does not have such a restriction. This happens, for example, when the locale `en-DG` is used.

Repro line:
```gradle :modules:ingest-common:test -Dtests.seed=EA476B6050B3EB91 -Dtests.

[2017-08-29 18:56] rjernst commented on #26425
@jpountz Can you take a look? Either we need to be more restrictive in ES tests with our own locale randomization, or lucene needs to be more selective in the locales it chooses from?

[2017-08-29 20:29] ocofaigh opened #26426 "Kibana unable to connect to Elasticsearch even when ssl keys/certs passed in as env variables"
**Kibana version**: 5.5.2

**Elasticsearch version**: 2.4.1

**Server OS version**: Red Hat Enterprise Linux Server release 7.4 (Maipo)

**Browser version**: n/a

**Browser OS version**: n/a

**Original install method (e.g. download page, yum, from source, etc.)**: docker pull kibana:latest

**Description of the problem including expected versus actual behavior**: Unable to connect to Elasticsearc

[2017-08-29 20:34] jasontedor commented on #26426
This repository is for open source Elasticsearch, this looks like it would better be handled on the Kibana repository [elastic/kibana]((https://github.com/elastic/kibana) or the Kibana Docker repository [elastic/kibana-docker](https://github.com/elastic/kibana-docker).

[2017-08-29 20:34] #26426 closed

[2017-08-29 20:59] jpountz commented on #26425
Thanks @rjernst I'll look.

[2017-08-29 21:36] 5ean commented on #26424
Here is the sample data to reproduce this issue.
[test.txt](https://github.com/elastic/elasticsearch/files/1261804/test.txt)

Here is index:
[code]
Here is query
[code]
following is the result:
[code]

The correct answer is 950935544.6046678 not 950937581.1279907

[2017-08-29 22:11] jateenjoshi commented on #19780
@clintongormley - coming in quite late here. Couple of questions:

1. Has the situation changed with making global ordinal loading faster in Lucene with newer versions of elasticsearch?

2. I have had similar issues when using term aggregations. I've tried wrapping the term aggregation in a sampler aggregation and also separately, a filter aggregation. Both of them seem to have no effect on the sl

[2017-08-29 22:13] dakrone opened #26429 "Expressions scripts in filter contexts throw exception"
In the master branch, if I do a query with an expression script like:

[code]

I get the following error:

[code]

The error also says "painless" instead of "expressions" from https://github.com/elastic/elasticsearch/blob/c0753235222dea250295f0caa2a2f7c332b056e7/modules/lang-expression/src/main/java/org/elasticsearch/script/expression/ExpressionScriptEngine.java#L111

[2017-08-30 01:47] andy-elastic commented on #26153
I was wrong about it only being indices created in 2.x, I'm able to reproduce it with indices created in 5.x now. Not sure what I was doing differently before, I must not have set the queue size low enough.

It looks like this is reproducible in 5.5.1 on a single node cluster with indices of any size. It does not reproduce on indices with only a single shard.

I'll see if I can reproduce it in the

[2017-08-30 02:14] jasontedor commented on #21932
@saliormoon @rajivkuriakose I think you have installed Elasticsearch from a package but are starting it by trying to invoke /usr/share/elasticsearch/bin/elasticsearch rather than starting from the service (e.g., `systemctl start elasticsearch.service`). This is flat out unsupported. If you can not use a service, do not install using a package; instead, install from an archive distribution. The err

[2017-08-30 04:23] ckalyanpur opened #26432 "Snapshot azure repository support for Azure China"
**Describe the feature**:

The azure snapshot plugin currently takes a storage account name and key as an input and tries to retrieve the CloudStorageAccount by forming a connection string via the provided input. The domain in the default case is assumed to be '**core.windows.net**' which works for most of Microsoft's data centers.

In China, the domain is different, hence trying to store/restore

[2017-08-30 07:23] brackxm opened #26433 "retryable scroll"
To retrieve al lot of data, using the scroll api is recommended.
Currently (5.5)  it is not possible to retry individual pages.
The scroll_id is reused over multiple requests.
If something goes wrong, e.g. a network problem, and the client retries a request it gets the next page. Thus loosing a page.
The client would have to retry by getting all documents again (and possibly having to do some extr

[2017-08-30 07:40] childe commented on #21526
@s1monw  I am so sorry that I did not notice your last comment.
there is 2 things that caused the spikes:
1. bug in my code. I did not pass const 'true' to transport.tcp.compress, but pass a wrong variable value to it , and the value is not always 'true' . so compress not works between our client and nodes in cluster.
2. seems compress is not enabled by default in version 5.0.0 (document says it d

[2017-08-30 07:49] #26425 closed

[2017-08-30 07:55] kiju98 opened #26435 "Add an option to disable deleting indices using alias"
I have a customer mistakenly deleted their important indices using alias.
Once an index is deleted, it is impossible to recover it.
I think it would be great if an option to disable deleting indices using alias similar with `action.destructive_requires_name`.
I think very few people may find deleting multiple indices using alias whereas disabling it would improve the safety by preventing mistakes.

[2017-08-30 08:05] bleskes commented on #26435
We totally agree and delete an index via an alias is no longer possible in 6.0: https://github.com/elastic/elasticsearch/pull/25268

[2017-08-30 08:05] #26435 closed

[2017-08-30 08:13] colings86 commented on #19780
@jateenjoshi There may well have been improvements to the speed of loading global ordinals in more recent versions of Elasticsearch but for high cardinality fields it will probably still dominate the time taken to run these aggregations. Wrapping the terms aggregation in a sampler aggregation or a filter aggregation will unfortunately not work here since the global ordinals are not dependant on th

[2017-08-30 08:24] colings86 commented on #19780
Further to my comment above there is a change coming in Lucene 7.1 (https://issues.apache.org/jira/browse/LUCENE-7905) that will improve the speed of loading global ordinals. This should be available in Elasticsearch in one of the 6.x releases. However, although this will improve the speed of loading global ordinals it will not change the fact that global ordinals loading is the dominant part of t

[2017-08-30 08:27] cbuescher commented on #26424
@colings86 do you have any opinion about whether this is due to e.g. internal float conversions, etc.?

[2017-08-30 09:19] jpountz commented on #26424
This is due to float conversions indeed. For instance the dataset has value `-68683370.7909999937` whose closest float is distant by about 2.8 from its closest double. For the record, please note that `950935544.6046678` is not the correct answer, it is just less incorrect. If you need more accuracy, you can map your field as a `double` rather than `float`. Note however that it will increase stora

[2017-08-30 09:19] #26424 closed

[2017-08-30 09:36] davidkyle opened #26436 "[CI] SharedClusterSnapshotRestoreIT.testBasicWorkFlow failure"
Build Url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-darwin-compatibility/99/console

This does not reproduce
[code]

Failed due to an assertion error:
[code]

[2017-08-30 09:53] jpountz commented on #26433
For the record, it has implications as it means for instance that we will need to encode more information in the scroll ids and won't be able to automatically close scrolls once all matching documents have been retrieved.

[2017-08-30 10:43] sqshq opened #26438 "Java High Level REST Client: MIME type may not contain reserved characters"
**Elasticsearch Java High Level REST Client version**: 5.6.0-SNAPSHOT

**JVM version**: 1.8.0_112

**OS version**: MacOS

**Description of the problem including expected versus actual behavior**:
Expected to perform http request, but got Apache http client error

**Steps to reproduce**:
[code]
ES client tries to create a MIME type with semicolon: `"application/json; charset=UTF-8"`
But it violates

[2017-08-30 10:46] brackxm commented on #26433
The server state could still be removed after the timeout.
If too much resources are needed only a limited number of extra pages/token could be support.
e.g.  1 extra.
Or it could be configurable, like the current timeout.

[2017-08-30 10:57] Anne2504 commented on #11432
+1 our project is also based on object hierarchy - I've had to create a parent-id attribute which I can then feed into a nested query as a workaround to this

[2017-08-30 11:16] buptrobin opened #26439 "Date Histogram got wrong result for "yyyy-ww""
ES Version 2.4.
Some one else report 5.1-5.5 also have the same behavior, but I did not confirm.

For date historgram, elasticsearch returning “2014-01” for date “2014-12-31” with format “yyyy-ww”, actually it should be "2015-01".

The query I use is:
[code]

I check the code, it should used "years" instead of "weekyear" for the formatter internal printer.
But not sure this is happen in ES or in t

[2017-08-30 11:50] jpountz commented on #26439
Your format is wrong, it mixes regular years and weekyears. It should look like this:

[code]

[2017-08-30 11:50] #26439 closed

[2017-08-30 11:55] aniked opened #26440 "Assign shards and Data replication"
Hello ,
By mistake, a folder (index) have been deleted from a node : /data3/data/es/esdartyprd/nodes/0/indices/enc_idx/2/index )

I can see that data are missed for primary shard in this node (node1) =>
for this index , here what gives me the command curl -XGET http://localhost:9200/_cat/shards

enc_idx         2 p STARTED    57824815 28.8gb 10.135.8.201 HDPESPRD1
enc_idx         2 r STARTED    57

[2017-08-30 12:39] cbuescher commented on #26440
Elastic reserves GitHub for bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co) and [IRC channels](https://www.elastic.co/community) for general questions.

[2017-08-30 12:39] #26440 closed

[2017-08-30 12:46] soernt opened #26442 "Elasticsearch-5.5.2.msi will not install when choosing X-Pack."
[InstallLog.txt](https://github.com/elastic/elasticsearch/files/1263595/InstallLog.txt)
**Elasticsearch version**:
5.5.2

**Server OS version**:
Windows 10, 64Bit, German

**Original install method (e.g. download page, yum, from source, etc.)**:
Downloadpage -> elasticsearch-5.5.2.msi

**Description of the problem including expected versus actual behavior**:
The setup erorrs.

**Steps to reproduce

[2017-08-30 13:02] cbuescher commented on #26442
@Mpdreamz would you be able to take a look at this? I briefly scanned the log and found this:
[code]

but I'm not sure if this is helpful or tells you anything.

[2017-08-30 13:04] tlrx commented on #26438
Can you please provide the list of the dependencies of your project using `gradle :dependencies` or `mvn dependency:tree`?

[2017-08-30 13:14] jasontedor commented on #26442
Please use the dedicated repository for this: [elastic/windows-installers](https://github.com/elastic/windows-installers)

[2017-08-30 13:14] #26442 closed

[2017-08-30 13:22] sqshq commented on #26438
Sure, here it is

[code]

My compile-time dependencies are
[code]

[2017-08-30 13:36] tlrx commented on #26438
Thanks!

The `elasticsearch-rest-high-level-client` is supposed to use `httpclient` in version `4.5.2` an `httpcore` in version `4.4.5`, but in your case the dependency manager resolved it as `4.5.3` and `4.4.6`.

The [release note for httpcore 4.4.6](http://www.apache.org/dist/httpcomponents/httpcore/RELEASE_NOTES-4.4.x.txt) has the following change:

  Contributed by Oleg Kalnichevski <olegk at

[2017-08-30 13:46] tlrx commented on #26438
Also, I think we should use `ContentType create(String, Charset)` instead of  `ContentType create(String)`.

I'm looking at this. Thanks for reporting @sqshq !

[2017-08-30 14:05] jpountz opened #26443 "Doc values encoding of range fields is inefficient"
I was just looking again at how we encode doc values for range fields and I think we should make them more efficient. For instance floats are encoded like doubles and doubles use a varbyte encoding of their long bits even though they most likely use all bytes so the continuation bits are wasted.

Marking this as a 6.0 blocker since this change is much easier to do if not released yet.

[2017-08-30 14:06] jchannon commented on #10005
Any ideas when it will be? I've been recommended ELK and I hit this

[2017-08-30 14:11] jpountz commented on #10005
No idea. The only thing I can tell is that it won't be fixed in a short term.

[2017-08-30 14:28] jchannon commented on #10005
Am I right in that issue for dumb people like me is that when I send in `"ts": "2017-08-30T14:26:30.9157480Z"` ES converts that to `1504103190915` chops off the last 4 digits, parses that as a date but obviously has missing digits on the millisecond?

[2017-08-30 14:49] synhershko commented on #10005
@jchannon what is your use case that requires that precision?

@jpountz maybe 6.x sorted indexes can be the answer to this, or are they using the same precision as the indexed values?

[2017-08-30 15:01] jchannon commented on #10005
My use case? I have always logged to 6 decimal places and want to keep it that way. I'm astounded that this highly recommended piece of software is so poor on storing/converting dates

[2017-08-30 15:09] davidkyle opened #26445 "[CI] AliasRoutingIT fails with test suite timeout"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/1109/consoleFull

The test stalls for 20 mins then times out:
[code]
Did it deadlock?

I was not able to reproduce:
[code]

[2017-08-30 15:31] elasticmachine opened #30082 "[CI] HistoryTemplateHttpMappingsTests.testHttpFields failure"
*Original comment by @davidkyle:*

LINK REDACTED

[code]

This did not reproduce:
[code]

[2017-08-30 17:21] erik-stephens commented on #26269
With `-Xmx30G` and `-XX:MaxDirectMemorySize=15G`, I expect RSS not to greatly exceed 45G but it does (over 60G) currently:

Before focusing on netty, I used [this script](https://github.com/erik-stephens/parse_smaps/blob/master/parse_smaps.py) to quantify how much attributed to elasticsearch/lucene, it looks to not be honoring that setting:
[code]

That analysis look correct?  Any other ideas/sett

[2017-08-30 17:48] elasticsearcher commented on #26264
@jpountz Thanks for the explanation, this makes sense. I overlooked the fact that a document must have a nested document in the first place for the "must_not" clause to apply.

[2017-08-30 19:52] buildlackey commented on #26293
one more thing to mention in case it was not clear from the above:
  - we downgraded to netty3 for transport only
  - for REST / http we still use netty4
so it is a mix.

[2017-08-30 23:35] erik-stephens commented on #26269
To address the question of whether re-allowing explicit GC's will help, should a non-explicit GC attempt to free the native buffers?  We are seeing full GC's without a corresponding release of native memory.  I was able to re-enable explicit GC's via `ES_JVM_OPTIONS` but haven't noticed a difference.  This process is at 80G RSS with 49G from mmap'd files under indices directory:

Also, I appreciat

[2017-08-31 02:25] andy-elastic commented on #26153
I think I found why search requests aren't being retried here. When it gets the response back from a scroll, it [retries if the request generates an exception](https://github.com/elastic/elasticsearch/blob/19c13d032a6a6b89ab6e5440cf1b3b07b948afbe/core/src/main/java/org/elasticsearch/index/reindex/ClientScrollableHitSource.java#L149-L173). However, if the request completes with failures, it doesn't

[2017-08-31 02:56] dakrone commented on #24915
Closing this as all parts have now been implemented!

[2017-08-31 03:22] jasontedor commented on #26445
I looked into this one. It's not clear what is happening. I noticed from the stack dump in the logs that the test is blocked on an indexing request that apparently never finished. There are two conflicting forces here:
 - the test is using NIO transport
 - the test is on macOS

These are conflicting forces because NIO transport is still in active development, and we have had a lot of issues with *

[2017-08-31 03:29] jasontedor commented on #21526
@childe Can you share which docs you saw that led you to say the following:

[2017-08-31 04:04] evanceheallyg commented on #10002
@polyfractal Thanks for the explanation and support. The problem is that we are using "https://github.com/PhaedrusTheGreek/transform_vis" for rendering the moving average in the dashboard and the _DASHBOARD_CONTEXT_ used to filter is automatically fetched from dashboard filters and not able to control the same. Do you foresee any workaround in this situation.

Also, is there any workaround for the

[2017-08-31 04:18] dbgrey44 commented on #13692
Any update on this ?
I wanted to use AnalyzingInfixSuggester for my auto complete needs.

Is there some way by which I can use some analyzers or filters to achieve a similar behavior with the completion suggester. Any help will be greatly appreciated.

[2017-08-31 05:47] louisong opened #26451 "[Elasticsearch : Different score when running the same search terms with inner_hits twice ]"

[2017-08-31 05:56] louisong commented on #26451
Here's the query they ran:

`{
  "from" : 0,
  "size" : 20,
  "explain" : true,
  "query" : {
    "function_score" : {
      "query" : {
        "bool" : {
          "must" : [
            {
              "nested" : {
                "query" : {
                  "simple_query_string" : {
                    "query" : "amber",
                    "fields" : [
                      "fault.class^1.0

[2017-08-31 06:07] louisong commented on #26451
Here's result set A:
[troubleshootingdefectexplain.txt](https://github.com/elastic/elasticsearch/files/1266016/troubleshootingdefectexplain.txt)

Just to highlight the particular doc id :

"_shard" : "[adns_troubleshooting][11]",
        "_node" : "3LEYKdf-QVmdktXqbmTNEg",
        "_index" : "adns_troubleshooting",
        "_type" : "troubleshooting",
        **"_id" : "96_SGML_EN32300001000064001

[2017-08-31 06:10] louisong commented on #26451
Here's result set B:
[troubleshootingdefectexplain1.txt](https://github.com/elastic/elasticsearch/files/1266024/troubleshootingdefectexplain1.txt)

"_shard" : "[adns_troubleshooting][11]",
        "_node" : "gOroHotfQ6imU-g0PhPC1A",
        "_index" : "adns_troubleshooting",
        "_type" : "troubleshooting",
        **"_id" : "96_SGML_EN32300001000064001",
        "_score" : 45.229103,**

[2017-08-31 07:18] #26451 closed

[2017-08-31 07:26] sqshq commented on #26438
I know you guys will fix it very soon, but just in case someone has the same problem right now:
- root cause is Spring Boot's overriding dependency versions mechanism via parent POM (parent wins strategy)
- temporary workaround is to specify those dependencies explicitly::
[code]

[2017-08-31 08:53] zqc0512 commented on #21185
can change the configured buffer limit  with configure file or curl?

[2017-08-31 10:32] tsachev opened #26452 "wrong use of `org.apache.http.entity.ContentType.create(String)` in rest client"
The high level rest client is sometimes calling this method with `application/json; charset=utf8`.
This is wrong and works by accident. The righ way is to pass the charset in some of the overloads.

In fact there is a bug HTTPCORE-423(https://issues.apache.org/jira/browse/HTTPCORE-423) that has been
fixed in httpcore `4.4.6` (apache/httpcomponents-core@f8f55e88a35c4afbb088e0d17292762f74f8d251) so

[2017-08-31 10:36] jasontedor commented on #26452
Duplicates #26438 for which I think there is already work in flight.

[2017-08-31 10:36] #26452 closed

[2017-08-31 10:50] tsachev commented on #26438
@tlrx another option would be using `BasicHeaderValueParser.parseElements(String, HeaderValueParser)`  and `ContentType.create(String, NameValuePair...)`.
To avoid parsing and creating the content type for every request and/or bulk item, It might be a good idea to prepare a mapping between `XContentType` and `ContentType`.

see tsachev/elasticsearch@d94ce7f9bc5b048ced8af48a9d716a0362abb322

[2017-08-31 11:06] nachogiljaldo opened #26453 "Discrepancy between 5.x documentation and actual behaviour on global state restore"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.4.1

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_131

**OS version** (`uname -a` if on a Unix-like system): Linux d14085ba52c1 4.4.0-66-generic #87~14.04.1-Ubuntu SMP Fri Mar 3 17:32:36 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
On version 5.4

[2017-08-31 12:33] MissMac opened #26454 "elasticsearch-service.bat that generates an error with install"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5

**Plugins installed**: [] EMC SourceOne 7.2.5

**JVM version** (`java -version`): jre1.8.0_45
![capture](https://user-images.githubusercontent.com/31509377/29923267-ee432ef2-8e26-11e7-8f32-3d98c1d7c997.JPG)

**OS version** (`uname -a` if on a Unix-like system): Windows Server 2012R

**Description of the problem including expected vers

[2017-08-31 13:25] tsachev opened #26455 "RestHighLevelClient cannot be sub classed outside of the `org.elasticsearch.client` package."
**Elasticsearch High Level REST Client version** 5.6.0-SNAPSHOT

**Description of the problem including expected versus actual behavior**:

`RestHighLevelClient` javadoc states that

I would expect to be able to call all the protected methods if I am sub-classing from another package, but actually I currently need access to the `Request` class in order to do so.

I am not willing to write my exten

[2017-08-31 13:29] cbuescher commented on #26455
Thanks, this is a good point. I will label this for discussion but I think it makes sense to allow this.

[2017-08-31 13:48] tuzko opened #26456 "Could not find hunspell dictionary [cs_CZ]"
No way to get work on ubuntu, at fedora same configuration all works

[code]

[code]

[2017-08-31T15:37:24,252][DEBUG][o.e.i.a.HunspellService  ] [node-1] Loading hunspell dictionary [cs_CZ]...

[code]
[code]

Version 5.5.2
Linux ubuntu 4.4.0-87-generic #110-Ubuntu SMP Tue Jul 18 12:55:35 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_

[2017-08-31 13:54] #23798 closed

[2017-08-31 14:30] tlrx commented on #26438
@tsachev Thanks for your suggestion, I created #26457. Since creating a ContentType is not a costly operation I'm not sure it worth to keep a mapping around... But maybe @cbuescher has another opinion.

[2017-08-31 15:16] rjernst commented on #21463
Another instance:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.5+multijob-unix-compatibility/os=debian/84/console

[2017-08-31 17:33] erik-stephens commented on #26269
I just learned that mmap'd files are not considered direct memory, so that at least explains why MaxDirectMemorySize wasn't having any impact.  The memory isn't locked (according to our configs & smaps output), so still trying to figure out why OOM'ing when so much available in the fs cache.  I need to look at system level and stop bugging y'all :)

[2017-08-31 17:56] tsachev commented on #26438
Ignore the mapping thing. I was withe impression tha a `ContentType` is created for every bulk item, which is obviously not the case.

[2017-08-31 19:13] sirosen opened #26459 "Docs for Painless do not demonstrate how to safely handle values which *might* be null or empty"
This is a pretty common pattern in more general programming scenarios, but maybe less common in scripted updates. However, it was highly non-obvious in the docs.

If you want to check if a field is present on a doc, or if its present-but-empty, there should be examples to follow.

My particular use-case: for manually scripted updates to all docs in the index, we want to track the updates which wer

[2017-08-31 21:44] SudhakarSundar opened #26461 "bootstrap.system_call_filter to false not able to configure cluster"
Hi,

Iam using the Elasticsearch 5.5.2, and Iam not able to configure cluster. I dont see my nodes talking to each other.  I tried using the following configuration in my elasticsearch.yml.

I tried changing the transport.host: to my server ip, but doing so the bootstrap check fails,
`unable to install syscall filter: java.lang.UnsupportedOperationException: seccomp unavailable: CONFIG_SECCOMP not

[2017-08-31 21:51] jasontedor commented on #26461
No, please read the error message that accompanies this failing bootstrap check (not shown in the logs you pasted, but please check your logs for the same):

[code]

You need to disable the node from attempting to install the system call filters; this is you accepting the risk that Elasticsearch will be less secure than if it could sandbox itself via `seccomp`. The [docs](https://www.elastic.co/gu

[2017-08-31 21:51] #26461 closed

[2017-08-31 23:01] rjernst opened #26464 "EvilLoggerTest failures on java 9 with upgrade to log4j 2.9"
We started seeing test failures on java 9 because log4j emits some exception when we are looking for a different elastic exception.

Example failure:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+java9-periodic/434/console

[code]

[2017-08-31 23:01] rjernst commented on #26464
@jasontedor I assigned to you for now. I will awaitsfix the tests. Feel free to reassign if you think someone else would be better to investigate.

[2017-09-01 02:50] shijiebei2009 opened #26465 "Long field value auto minus 10, why???"
now I am update a document by _id, update :
POST action_log_2016/action_log_2016/201601070000000010/_update
{
"doc": {
"IDX": 201601070000000010,
"actiondetail": "for testing"
},
"doc_as_upsert": true
}
and the results is :
"hits": {
"total": 1,
"max_score": 1,
"hits": [
{
"_index": "action_log_2016_v3",
"_type": "action_log_2016",
"_id": "201601070000000010",
"_score": 1,
"_source": {
"IDX": 2016

[2017-09-01 03:22] sshling opened #26466 "feature request for reindex plugin without downtime ,can process delete or update"
- reindex  without downtime  ,while doing reindex by the reindex plugin, at the same time ,the ES cluster can process delete and update, at last ,remove old index,keep new index

[2017-09-01 03:52] jasontedor commented on #26465
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-09-01 03:52] #26465 closed

[2017-09-01 06:59] selvakumarEsra opened #26468 "When is elasticsearch 6.0 release planned?"
we are developing a new product that uses elasticsearch. Just wanted to know release date for elasticsearch 6.0, so we can plan to onboard or upgrade accordingly.

Please suggest suitable channel to ask this question, Apologies for raising the query as issue.

[2017-09-01 08:13] jpountz commented on #26468
We don't disclose release dates in advance. However it is no secret that most development efforts these days are targeted at Elasticsearch 6.0, yet we will produce one or more release candidates before GA (we only produced alphas and betas so far) so I think it is safe to assume that this will be a matter of months - but I can't tell how many.

[2017-09-01 08:13] #26468 closed

[2017-09-01 08:17] jpountz commented on #26456
What is the content of `/etc/elasticsearch/hunspell`?

[2017-09-01 08:20] tuzko commented on #26456
ls -la /etc/elasticsearch/hunspell/
total 12
drwxr-xr-x 3 root elasticsearch 4096 Aug 31 13:37 .
drwxr-x--- 4 root elasticsearch 4096 Aug 31 15:48 ..
drwxr-xr-x 2 root elasticsearch 4096 Aug 31 13:37 cs_CZ

ls -la /etc/elasticsearch/hunspell/cs_CZ/
total 2532
drwxr-xr-x 2 root elasticsearch    4096 Aug 31 13:37 .
drwxr-xr-x 3 root elasticsearch    4096 Aug 31 13:37 ..
-rw-r--r-- 1 root elasticsear

[2017-09-01 08:38] jpountz commented on #26456
Thanks. Since you enabled debug logging, there should be the reason for this problem right under the message that you pasted: `[2017-08-31T15:37:24,252][DEBUG][o.e.i.a.HunspellService ] [node-1] Loading hunspell dictionary [cs_CZ]...`

[2017-09-01 08:45] tuzko commented on #26456
Ofcourse i have enabled debug for get some more info where is problem, but same problem when disabled debug,
{"error":{"root_cause":[{"type":"index_creation_exception","reason":"failed to create index"}],"type":"unchecked_execution_exception","reason":"ElasticsearchException[Could not find hunspell dictionary [cs_CZ]]","caused_by":{"type":"exception","reason":"Could not find hunspell dictionary [c

[2017-09-01 08:53] jpountz commented on #26456
Sorry I did not mean that you should not enable debug logging but that the explanation of the problem should be available in your logs.

The error that you get is thrown on this line: https://github.com/elastic/elasticsearch/blob/v5.5.2/core/src/main/java/org/elasticsearch/indices/analysis/HunspellService.java#L170. Yet the method that returned false always logs the reason: https://github.com/elas

[2017-09-01 08:57] tuzko commented on #26456
Yes i was looking for that messages too, but there is not another one message. I was trying too disable assertions but nothing happend no more debug messages.

[2017-09-01 09:01] jpountz commented on #26456
Did you check _all_ nodes of the cluster?

[2017-09-01 09:01] tuzko commented on #26456
[2017-09-01T10:58:40,396][DEBUG][o.e.i.a.HunspellService  ] [gO6x_cO] Loading hunspell dictionary [cs_CZ]...
[2017-09-01T10:58:46,625][DEBUG][o.e.c.n.IfConfig         ] configuration:

lo
        inet 127.0.0.1 netmask:255.0.0.0 scope:host
        inet6 ::1 prefixlen:128 scope:host
        UP LOOPBACK mtu:65536 index:1

eth0
        inet 172.25.28.23 netmask:255.255.255.240 broadcast:172.25.28.31

[2017-09-01 09:03] tuzko commented on #26456
there is only one node

[2017-09-01 10:11] nomoa opened #26469 "Provide a way for plugins to implement new rescore builders"
While working on a plugin I found that implementing a custom Rescorer would allow me to address issues that I cannot address with the default QueryRescorer :
- Allow some performance optimizations for specific queries provided by the plugin (very specific bulk scoring operations)
- Maybe add some code to support replacing the initial score, there are no easy ways to do this right now
- And certain

[2017-09-01 11:25] cbuescher commented on #26469
Hi @nomoa,
maybe this PR already solved your needs? https://github.com/elastic/elasticsearch/pull/26368
It has been merged fairly recent and I don't know to which extend it might help in your case, but it seems to contain an example rescore plugin that you might want to take a look at. I'll label this with "feedback needed" because it would be great to hear if you can work with that. If thats the

[2017-09-01 11:37] danielmitterdorfer commented on #26339
To summarize the work so far:

I've reimplemented `LocalCheckpointTracker` so that it is *completely* lock-free. In the default case, it even avoids notification if it is certain that there are no waiting threads anyway (see `LocalCheckpointTracker#waitForOpsToComplete(long)`).

I've ran the `nyc_taxis` track with the following challenge:

[code]

_Note: So far I could never finish any benchmark w

[2017-09-01 12:45] amver7 opened #26471 "Range query on integer field is failing if value is float and placed inside double quotes"
Elasticsearch version : elasticsearch 5.4.1

Plugins installed: [codesearch extension (for visualstudio.com)]

JDK version : 1.8.0_144
JRE version : 1.8.0_144

OS Version : Windows 10

DESCRIPTION :
If a range query is done on an integer field and the value field is float and this value is specified inside double quotes, then it is throwing error, with message : 'failed to create query"

STEPS TO

[2017-09-01 12:53] nomoa commented on #26469
@cbuescher yes this exactly what I need, sorry for the noise I was looking at the 5.x code base.
Thanks!

[2017-09-01 12:53] #26469 closed

[2017-09-01 12:59] eskibars commented on #26360
Thanks for filing @joschi .  I'm going to close this out since there's a workaround and having multiple ways to do this is likely to lead to confusion if nothing else.  Please do feel free to raise any future issues!

[2017-09-01 12:59] #26360 closed

[2017-09-01 13:29] jpountz opened #26472 "Replace `_scroll` with the ability to acquire point-in-time views + search_after"
`_scroll` comes with limitations such as the fact that it only allows to go forward, which can be an issue if there are connectivity issues while the client is retrieving one page as this particular page cannot be retried.

We would like to replace `_scroll` with an API that allows to open point-in-time views of the data and then allows to paginate through it using `search_after`. We could even ke

[2017-09-01 13:30] jpountz commented on #26433
We discussed it in FixitFriday and agreed to close it in favour of #26472.

[2017-09-01 13:30] #26433 closed

[2017-09-01 15:05] mitoma opened #26474 "analysis-icu (icu_normalizer) throw java.lang.StackOverflowError."
**Elasticsearch version** : 5.5.2
**Plugins installed**: [analysis-icu]
**JVM version** : 1.8.0_131
**OS version** : Ubuntu 16.04.3 LTS
**Description of the problem including expected versus actual behavior**:

Actual : icu_normalizer throw `java.lang.StackOverflowError`. and server down.
Expected : Server is should not crash.

**Steps to reproduce**:

this script is complete scenario.

[code]

**

[2017-09-01 15:13] elasticmachine opened #30083 "Collect number of native users in phone home data"
*Original comment by @joshbressers:*

Our current phone home user size data comes from the node cache
LINK REDACTED

It would be very useful is we knew the number of users stored in the index, not just in the cache.

[2017-09-01 15:48] zqc0512 opened #26475 "In elasticsearch 5.4.3 can’t go to green the x-pack monitoring Shard Activity error Phase[1] phase1 failed"
in elasticsearch 5.4.3 the x-pack monitoring Shard Activity error,
the Files and Bytes zero, Translog is n/a
as so, the elasticsearch is yellow,and much time can’t go to green. the recovery is very slow,about two hours can’t go to green.
how i can do?
elasticsearch 5.4.3
oracle java 1.8_121
[code]
os: CentOS Linux release 7.3.1611 (Core)     3.10.0-514.el7.x86_64
![image](https://user-images.githu

[2017-09-01 15:50] jasontedor commented on #26475
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-09-01 15:50] #26475 closed

[2017-09-01 15:58] zqc0512 commented on #26475
i think it a bug, a large env(20T + data 50000+shards) output the error,in other env (100G+ data) not output the error.
sorry
@jasontedor

[2017-09-01 16:02] cbuescher commented on #26471
Hi @amver7,
thanks for opening the issue, I believe this has already been fixed in the upcoming 5.6 release and the next major relese in this PR: https://github.com/elastic/elasticsearch/pull/25835
I just checked your example and I don't get the error you are seeing in 5.4.1 in our latest 6.0.0-beta2 release. I'll close this for now, you might want to check this yourself on one of the preview 6.0

[2017-09-01 16:02] #26471 closed

[2017-09-01 16:38] #26464 closed

[2017-09-01 19:45] chilingpan opened #26477 "add/remove alias timeout"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.4.0

**JVM version** (`java -version`): 1.8.0_131

**OS version** (`uname -a` if on a Unix-like system): Linux es-master-3437466560-sz82h 3.10.0-514.16.1.el7.x86_64  #1 SMP Sun Apr 16 03:27:14 UTC 2017 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
We use Java API to add/remove aliase: client.

[2017-09-01 22:23] jasontedor commented on #26477
This is a delete index request that failed to process before the master timeout (30 seconds by default), not an alias update. You can set the `master_timeout` on the REST API, or the `masterNodeTimeout` on the transport API to adjust this. However, note that this only treating the symptoms of the problem, not treating the actual problem. The actual problem is: your cluster state update is taking t

[2017-09-01 22:23] #26477 closed

[2017-09-02 01:20] jasontedor commented on #26475
It is possible that you're running into a related issue: #26293. We do not know the cause of this issue yet, all I can tell you is that we are taking it seriously.

[2017-09-02 09:53] #25417 closed

[2017-09-02 11:18] zqc0512 commented on #26293
can tell me,in elasticsearch.yml how to set transport type to netty3?thanks. i don't find how to set ?

[2017-09-02 11:28] bra-fsn commented on #26293
transport.type: netty3
http.type: netty3

[2017-09-02 11:43] zqc0512 commented on #26293
i find some one can slove it, when get stuck initializing long time ,i close some with initinalizing, then can initializing fast . when go to green ,then open with close indexs , can slove it about 5.4.3? i don't know how about this output..

[2017-09-02 12:01] zqc0512 commented on #26293
if  in the x-pack montoring find as flow ,the initialzing is error,

![init_error](https://user-images.githubusercontent.com/25192261/29995335-74edb4ec-9019-11e7-97a6-afc0bfb85ed8.png)

[2017-09-02 12:42] zqc0512 commented on #26293
about the set in elasticsearch cluster settings.
"cluster.routing.allocation.same_shard.host": "true"

[2017-09-02 17:15] talevy opened #26480 "[CI] SharedClusterSnapshotRestoreIT#testGetSnapshotsRequest failing"
I feel that I am to blame for this because of the https://github.com/elastic/elasticsearch/pull/26463, but I cannot reproduce locally

link:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+oracle-periodic/605/console

trace

[code]

reproduce with:

[code]

[2017-09-02 22:14] jimczi commented on #24917
I thought at first that it would be easy to add this feature to the existing PR: https://github.com/elastic/elasticsearch/pull/24565 but realized afterward that it's not possible. The details can be found in https://github.com/elastic/elasticsearch/pull/26407.
I am closing this issue because this feature would require a complete redesign of the suggest in es (and lucene). Currently contexts are ma

[2017-09-02 22:14] #24917 closed

[2017-09-03 16:46] mattweber commented on #16838
@colings86 Is `reverse_nested` buggy because it doesn't use `AggregatorFactory.asMultiBucketAggregator()` thus allowing collecting docs out of order?  What aggregations rely on documents being collected in order?

[2017-09-03 17:30] praseodym opened #26482 "Opening Winlogbeat dashboard crashes Elasticsearch 6.0.0-beta2 with StackOverflowError"
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 6.0.0-beta2, Build: 23ffa4f/2017-08-29T01:53:03.739Z, JVM: 1.8.0_144

**Plugins installed**: ingest-geoip, ingest-user-agent

**JVM version** (`java -version`): Java(TM) SE Runtime Environment (build 1.8.0_144-b01)

**OS version** (`uname -a` if on a Unix-like system): Linux 4.9.0-3-amd64 Debian 4.9.30-2+deb9u3 (2017-08-06) x86_64

[2017-09-03 17:31] praseodym commented on #26482
Edit: DateFieldMapper does not always appear in stack traces

[2017-09-03 19:13] askids opened #26483 "Elasticsearch service hangs in stopping status with ReadonlyREST plugin"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.1

**Plugins installed**: [xpack, readonlyrest]

**JVM version** (`java -version`):
java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

**OS version** (`uname -a` if on a Unix-like system): Windows 2008 R2 Enterprise SP1

**Description of the p

[2017-09-03 20:11] tjwebb commented on #9891
FYI @dadoonet The link referenced in https://github.com/elastic/elasticsearch/issues/9891#issuecomment-76124562 is dead.

[2017-09-03 20:18] jasontedor commented on #26482
Duplicates #26198

[2017-09-03 20:18] #26482 closed

[2017-09-03 20:19] jasontedor commented on #26198
Thanks for the report @algestam. I have found the problem and opened #26484.

[2017-09-03 20:22] dadoonet commented on #9891
@tjwebb link is now https://www.elastic.co/guide/en/elasticsearch/client/java-api/current/java-geo-queries.html

[2017-09-03 20:31] jasontedor commented on #9891
@dadoonet The problem is linking to current, those links break as we change the version that current points to; it is best to point to a fixed version that will stand the test of time.

[2017-09-03 20:33] dadoonet commented on #9891
Very true. Here is a fix link: https://www.elastic.co/guide/en/elasticsearch/client/java-api/5.6/java-geo-queries.html

[2017-09-03 20:35] fbaligand opened #26485 "Add 'preserve_original' option in stemmer token filter"
As on `asciifolding` token filter, it would be great to add `preserve_original` option on stemmer token filter, so that stemmer filter generates stemmed token but also keeps original token at same position.

[2017-09-03 20:42] jasontedor commented on #26482
Thanks for the report, and thanks for trying out the beta. I have added you to the [Pioneer Program](https://www.elastic.co/blog/elastic-pioneer-program-6-0).

[2017-09-03 20:44] fbaligand opened #26486 "phonetic token filter : make 'replace' option work for 'beidermorse' encoder"
Presently, on phonetic token filter, 'replace' option works for all encoders except `beidermorse` encoder.
It would be great to add support for 'replace' option with `beidermorse` encoder.

That is particularly relevant because `beidermorse` is the only encoder which supports multiple languages, not only english.

[2017-09-03 20:45] algestam commented on #26198
Good news :) Thanks @jasontedor!

[2017-09-03 20:47] praseodym commented on #26482
Cheers, thanks for the quick triage!

[2017-09-04 02:57] cclient opened #26487 "maybe a token filter that limit tokens by frequency is useful to minhash"
feature:

filter tokens like

select count(*) as num,token from tokens group by token order by  num desc limit 128;

then do minhash

[2017-09-04 07:16] jimczi commented on #26483
The `readonlyrest` plugin is not provided by Elasticsearch and your issue seems solved when you remove it so this issue should be tracked in the appropriate repo. I see that you already opened an issue in https://github.com/sscarduzio/elasticsearch-readonlyrest-plugin/issues/265 so I hope you don't mind if I close this one. We reserved github for confirmed bugs, please reopen if the investigation

[2017-09-04 07:16] #26483 closed

[2017-09-04 07:22] jimczi commented on #26485
You can do that already with the `keyword_repeat` filter:
https://www.elastic.co/guide/en/elasticsearch/reference/5.5/analysis-keyword-repeat-tokenfilter.html
It generates an additional token that will not be stemmed (works only with the stemmers).

[2017-09-04 07:22] #26485 closed

[2017-09-04 07:33] jimczi commented on #26486
The `beidermorse` is a filter provided by Lucene so it would be better for you to open this issue in Lucene directly.
I agree that for consistency the `replace` option should be applicable to all phonetic filters but can you explain the use case for `replace:false` ? It seems to me that you could just use an additional field that does not perform the phonetic transfo and use that at query time wit

[2017-09-04 07:55] bigfool1988 opened #26488 "master_not_discovered_exception"
When I wanted to get the health info of the elasticsearch cluster, It response:
{"error":{"root_cause":[{"type":"master_not_discovered_exception","reason":null}],"type":"master_not_discovered_exception","reason":null},"status":503}

The config of elasticsearch:
root@es56:/# cat /opt/elasticsearch/config/elasticsearch.yml
cluster.name: escluster
node.name: es56
path.data: /opt/esdata/data
path.logs

[2017-09-04 08:06] fbaligand commented on #26485
Hi @jimczi ,

Thanks a lot for the info !
And sorry for this false issue.

Fabien

[2017-09-04 08:06] jimczi commented on #26488
Since you're using `discovery.zen.minimum_master_nodes: 2` you must ensure that your 3 nodes are master eligible (`node.master:true`), is it the case ? What happens if you restart es56, does he join the cluster ? Can you also should also check the logs of `es54` to see if there is any exception that could block a new master election ?

[2017-09-04 08:15] fbaligand commented on #26486
Indeed, currently, as 'replace' option does not work with `beidermorse`, I use multi-fields, with one simple analyzer, one stemmer analyzer and one phonetic analyzer. Then I use multi-match with different boosts on each analyzer.

With 'replace: false', I could use only one field, so one analyzer with all features : standard, stemmer and phonetic, and then especially combine stemmer and phonetic f

[2017-09-04 08:19] bigfool1988 commented on #26488
@jimczi Thanks a lot! Each node is master eligible. When I restarted es56, it didn't join the cluster.
The log of es54:
[2017-09-04T14:52:44,425][INFO ][o.e.d.z.ZenDiscovery     ] [es54] failed to send join request to master [{es56}{EfAxONJ2RaOWELG_yGZNxg}{2BWz_WeMRFW1BAD5yxo9cw}{192.168.3.56}{192.168.3.56:9300}], reason [RemoteTransportException[[es56][192.168.3.56:9300][internal:discovery/zen/jo

[2017-09-04 08:25] jimczi commented on #26488
Ok thanks, then we'll need the logs of es54 to see why no master can be elected.

[2017-09-04 08:30] bigfool1988 commented on #26488
The logs of es54:
[2017-09-04T14:52:38,012][INFO ][o.e.d.z.ZenDiscovery     ] [es54] failed to send join request to master [{es56}{EfAxONJ2RaOWELG_yGZNxg}{2BWz_WeMRFW1BAD5yxo9cw}{192.168.3.56}{192.168.3.56:9300}], reason [RemoteTransportException[[es56][192.168.3.56:9300][internal:discovery/zen/join]]; nested: NotMasterException[Node [{es56}{EfAxONJ2RaOWELG_yGZNxg}{2BWz_WeMRFW1BAD5yxo9cw}{192.168.

[2017-09-04 08:44] jimczi commented on #26488
Oh sorry I thought it was the logs of es56 again. So you're not able to do any request to the cluster ?
Are there any other exceptions in the logs before the one you sent ? Is it the first time you started your cluster and if not, did you change anything in the configuration of the nodes that could have triggered this problem ?

[2017-09-04 08:59] kervin521 opened #26489 "elasticsearch 5.5.2 startup error with x-pack-5.5.2?but elasticsearch 5.5.2 startup OK without x-pack-5.5.2"
C:\Users>elasticsearch
[2017-09-04T16:51:29,094][INFO ][o.e.n.Node               ] [] initializing ...
[2017-09-04T16:51:29,277][INFO ][o.e.e.NodeEnvironment    ] [GSe1Il3] using [1] data paths, mounts [[鏁版嵁 (D:)]], net
usable_space [193.3gb], net total_space [299.9gb], spins? [unknown], types [NTFS]
[2017-09-04T16:51:29,279][INFO ][o.e.e.NodeEnvironment    ] [GSe1Il3] heap size [1.9gb], compresse

[2017-09-04 09:02] kervin521 commented on #26489
elasticsearch 5.5.2 startup successfully without x-pack-5.5.2

[2017-09-04 09:22] bigfool1988 commented on #26488
Yes， it is the first time that I started my cluster. There are no other exceptions.
Each node is OK,but they don't join the cluster.

[2017-09-04 09:23] davidkyle commented on #26489
Hi @kervin521 Did you raise this issue on the discuss forum https://discuss.elastic.co/t/failed-to-create-native-process-factories-for-machine-learning/98798 it looks like a very similar problem.

I'd like to help you diagnose the problem but I think discuss.elastic.co would be a better place to handle it. Can you move the ticket to discuss please.

[2017-09-04 09:26] bigfool1988 commented on #26488
Could this exception be related to Docker? I installed elasticsearch in the docker container.

[2017-09-04 09:35] jimczi commented on #26488
Ok so this will need more investigations and we reserve github for confirmed bugs and feature request. discuss.elastic.co would be a better place to handle it, can you move the ticket to discuss please and we'll continue to help you there:
https://discuss.elastic.co/t

[2017-09-04 09:35] #26488 closed

[2017-09-04 09:37] bigfool1988 commented on #26488
The full log of es54:
[2017-09-04T17:13:55,229][INFO ][o.e.n.Node               ] [es54] initializing ...
[2017-09-04T17:13:55,308][INFO ][o.e.e.NodeEnvironment    ] [es54] using [1] data paths, mounts [[/ (none)]], net usable_space [1.5tb], net total_space [1.7tb], spins? [possibly], types [aufs]
[2017-09-04T17:13:55,309][INFO ][o.e.e.NodeEnvironment    ] [es54] heap size [15.8gb], compressed ord

[2017-09-04 09:43] jimczi commented on #26488
This exception means that there is a discrepancy in your cluster. es54 thinks that the master is on es56 but es56 is not the elected master. Please open this issue on the forum and someone familiar with this code should be able to help. You can also paste the link to the discuss issue that you opened here.  @bleskes is there anything you want to add ?

[2017-09-04 09:51] bleskes commented on #26488
Let's move this indeed to the forums. Over there I would also like to see the logs from es55

[2017-09-04 09:56] MLnick commented on #19359
Hey folks

Late coming to this but I used `indexLookup` in a native script in my vector-scoring plugin: https://github.com/MLnick/elasticsearch-vector-scoring.

This use case doesn't access TF/DF, but needs to access term vector (specifically PAYLOADS).

I see there might be a way to use `ScriptEngine` to implement this now. But it does seem that other than a native script there is no way to do so

[2017-09-04 10:59] aslamy opened #26491 "Issue when reading synonyms which contains åäö from a file"
Hi !
I got some exception when I use swedish ÅÄÖ on my synonym words.

[code]

The problem occur when I use a file to read synonyms.
This works fine.

[code]

But not when reading from a file:

[code]

I already read this:
https://discuss.elastic.co/t/synonym-using-a-file-is-not-working-malformed-input-exception/60487/5

I have already  applied an asciifolding token filter before the synonym filte

[2017-09-04 11:08] dadoonet commented on #26491
Is your file UTF8 encoded?

[2017-09-04 11:59] aslamy commented on #26491
What do you mean ? If you mean :
å = Ã ¥
ä = Ã ¤
ö = Ã ¶  in UTF8 .
I have tested this way. Now file will be read but when i use åäö to search det synonyms not match.
But when I use Ã ¥,Ã ¤,Ã ¶ then I get match.

[2017-09-04 12:09] bleskes opened #26493 "Use sequences numbers for Compare and Set operations"
Elasticsearch currently supports CAS operations (needed for optimistic concurrency) using a document `_version` field. Sadly this [is not water tight](https://www.elastic.co/guide/en/elasticsearch/resiliency/current/index.html#_the__version_field_may_not_uniquely_identify_document_content_during_a_network_partition_status_ongoing) and can go wrong if a primary fails between the read and the CAS wr

[2017-09-04 12:12] jpountz commented on #26491
The synonyms file needs to be UTF-8 encoded. You need to change to encoding of your current file by doing something like this: `iconv -t utf-8 -f iso-8859-1 -o synonym_new.txt synonym.txt` (replace iso-8859-1 with the actual charset of your file, which can be found with `file -i synonym.txt`). Then replace `synonym.txt` with `synonym_new.txt`.

[2017-09-04 12:12] #26491 closed

[2017-09-04 12:16] aslamy commented on #26491
Thank you. That worked.

[2017-09-04 14:14] danielmitterdorfer commented on #26339
Further experiments have shown that a major contributor to higher contention in 6.0.0 is caused by a higher number threads in the system due to #20874. A `i3.16xl` has 64 cores which result in 64 bulk indexing threads on 6.0.0 whereas it was bounded to 32 bulk indexing threads on 5.x. Thus setting `processors: 32` in `config/elasticsearch.yml` we see now a much saner behavior w.r.t. to lock conten

[2017-09-04 14:20] kurtado opened #26495 "_analyze API skips char_filter when no tokenizer/filters specified"
**Elasticsearch version**: 5.5.1 (probably others)

**JVM version**: 1.8.0_111

**OS version**: MacOS

**Description of the problem including expected versus actual behavior**:

When using the `_analyze` API, if the request body only specifies a `char_filter`, it will simply use the default analyzer and not include the `char_filter` as well.

**Steps to reproduce**:
This works as expected, executi

[2017-09-04 14:37] jimczi commented on #26495
The request is too lenient and should not ignore the `char_filters` or `token_filters` when the `tokenizer` is not set. This is what https://github.com/elastic/elasticsearch/pull/24767 does for master and v6, in that case a `keyword` tokenizer is automatically picked. Since this is not a critical issue and that v6.0.0 should have the fix we should maybe just add this restriction to the documentati

[2017-09-04 17:56] aslamy commented on #3982
I'm using multi-word synonyms and highlighting working weirdly like it said before.

[2017-09-04 18:04] aslamy opened #26497 "Issue with highlighting and using multi-words synonyms"
Like it said here https://github.com/elastic/elasticsearch/issues/3982 highlighting working weirdly with synonym filter. The problem occurs when multi-word synonyms are in use.
I thought it's worth to make a new request for this issue.

[2017-09-04 20:24] askids commented on #26483
@jimczi I understand that ROR is not from Elastic. But shouldn't this be treated as a generic ES problem, since ES is writing to log as node was stopped and closed, but not really doing either of it i.e neither stopping the process nor the service? In order words, it's incorrectly determining to have stopped/closed the Elasticsearch process. Am I am missing something here?

[2017-09-04 20:48] spinscale opened #26499 "Dynamic date formats: German date format results in string field"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.0

**Description of the problem including expected versus actual behavior**: Using `dynamic_date_formats` with a german date and a german format with dots results in the date being stored as a string instead of a date

**Steps to reproduce**:

[code]

The mapping now returns

[code]

[2017-09-04 22:26] aleph-zero opened #26500 "Typo in date format"
**Elasticsearch version** (`bin/elasticsearch --version`):
master
**Plugins installed**: []
N/A
**JVM version** (`java -version`):
N/A
**OS version** (`uname -a` if on a Unix-like system):
N/A
**Description of the problem including expected versus actual behavior**:
I believe that there is a typo in org.elasticsearch.common.joda.Joda. As seen below, ```Time``` should not be capitalized, but rather

[2017-09-04 22:39] jasontedor commented on #26489
@kervin521 This repository is for open source Elasticsearch only, we do not handle X-Pack issues here. For that, there is the [forum](https://discuss.elastic.co) as @davidkyle mentioned where you can use the [X-Pack category](https://discuss.elastic.co/c/x-pack).

[2017-09-04 22:39] #26489 closed

[2017-09-05 01:47] bigfool1988 commented on #26488
@bleskes  What is the forum   ##link?

The logs of es55:
[2017-09-04T17:14:00,693][INFO ][o.e.n.Node               ] [es55] initialized
[2017-09-04T17:14:00,693][INFO ][o.e.n.Node               ] [es55] starting ...
[2017-09-04T17:14:01,085][INFO ][o.e.t.TransportService   ] [es55]  #publish_address {192.168.3.55:9300}, bound_addresses {192.168.3.55:9300}
[2017-09-04T17:14:01,141][INFO ][o.e.b.Boo

[2017-09-05 01:50] tvernum commented on #26488
@bigfool1988, When you opened this issue, the default  template had this text:

    ask a general question is at the Elastic [forums](https://discuss.elastic.co).
    GitHub is not the place for general questions.

That is the forum that @bleskes is referring to.

[2017-09-05 01:52] johtani commented on #26495
+1 for add this restriction to the documentation.
Just in 5.x, _analyze API only works for custom analyzer if tokenizer param exists.
And after 6.0, _analyze API analyze as a normalizer if char_filter/filter exists without tokenizer/analyzer.

[2017-09-05 02:42] bigfool1988 commented on #26488
curl http://192.168.3.54:9200/_nodes/transport?pretty=1
this is the output that i get:
{
  "_nodes" : {
    "total" : 1,
    "successful" : 1,
    "failed" : 0
  },
  "cluster_name" : "escluster_docker",
  "nodes" : {
    "EfAxONJ2RaOWELG_yGZNxg" : {
      "name" : "es54",
      "transport_address" : "192.168.3.54:9300",
      "host" : "192.168.3.54",
      "ip" : "192.168.3.54",
      "version" :

[2017-09-05 06:08] joedj opened #26502 "Search Profiler causes runaway CPU usage even on simple queries"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.5.2, Build: b2f0c09/2017-08-14T12:33:14.154Z, JVM: 1.8.0_141

**Plugins installed**:
discovery-ec2  ingest-geoip  ingest-user-agent  x-pack

**JVM version** (`java -version`):
openjdk version "1.8.0_141"
OpenJDK Runtime Environment (build 1.8.0_141-b16)
OpenJDK 64-Bit Server VM (build 25.141-b16, mixed mode)

**OS version** (`un

[2017-09-05 07:37] markharwood commented on #26502
The volume of data not the complexity of the query here is likely to be the issue. Even the smallest overhead can amount to a lot when you have a tight loop on a very large number of docs.
From [the docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.5/_profiling_considerations.html):

	Like any profiler, the Profile API introduces a non-negligible overhead to search execution.
	The ac

[2017-09-05 07:44] joedj commented on #26502
I see, makes sense.
Test env: 150 million docs
Production: 5 billion docs

Is there a way to disable the profile API?

[2017-09-05 08:24] akefirad opened #26504 "ES returns stored fields of type date as string"
**Elasticsearch version**:
[code]
**Description of the problem including expected versus actual behavior**:
When query asks for `stored_fields`, in the result, fields of type date are returned as string, even though they are defined as long (`epoch_millis`). In ES version 1.X it would be long.

**Steps to reproduce**:
1. Create an index with one date field with the following mapping:
[code]
 2. In

[2017-09-05 08:25] jpountz commented on #26502
I think @markharwood 's explanation is the right one. `org.apache.lucene.search.Weight$DefaultBulkScorer.scoreAll(Weight.java:246)` is just a loop that iterates over matches of the query, so the more documents, the longer it takes.

For the record, profiling will have less overhead in 5.6 (#25772).

No. I'm not sure it would make sense to make it possible to disable it given that there are many ot

[2017-09-05 08:25] #26502 closed

[2017-09-05 08:54] elasticmachine opened #30084 "[ML] Validate existing cluster state differently to newly submitted configs"
*Original comment by @droberts195:*

If we're going to introduce _completely_ new job types in the future, we need to change the way unknown job/datafeed cluster state is validated.

While trying to add `categorizer` jobs, which are quite similar to `anomaly_detector` jobs, I ran into the following problem:

* Logically, a `categorizer` job should have no `detectors`
* But the `AnalysisConfig` cla

[2017-09-05 08:55] markharwood commented on #26504
String is perhaps being used here as the lowest-common-denominator format.
Date fields can have a number of acceptable formats listed in their mappings and so determining which to use when rendering stored fields may be a challenge.
I have been able to reproduce this example you provided and I expect we either need to look at adding some type-sensitive rendering (if possible) or documenting the cu

[2017-09-05 09:19] saliormoon commented on #21932
Thanks，the problem has been resolved.

[2017-09-05 09:55] jpountz commented on #26474
Thank you for the report. I could reproduce the issue and opened https://issues.apache.org/jira/browse/LUCENE-7956.

[2017-09-05 10:57] smgduncan opened #26507 "ES error logs on type mismatch (at ingestion) could be clearer"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.5.2 Docker Image:
[elasticsearch@1fac82d84533 bin]$ elasticsearch -V
Version: 5.5.2, Build: b2f0c09/2017-08-14T12:33:14.154Z, JVM: **1.8.0_141**

**Plugins installed**: X-Pack (30 day trial) (as included in the Docker version.

**JVM version** (`java -version`):
1.8.0_141

**OS version** (`uname -a` if on a Unix-like system):
[elasticsea

[2017-09-05 12:38] jimczi commented on #26483
I closed this issue because we reserve github for confirmed bugs and feature requests so the first step is to determine what ROR is doing to reach this state. Removing the plugin fixed the issue, this is a clear hint that the investigation should be done on the plugin side first. I am not saying that the issue cannot be due to es but we need to be sure that this plugin is not the real cause which

[2017-09-05 12:40] bra-fsn commented on #26293
I have a similar (closed, but not fixed by that patch) issue: https://github.com/elastic/elasticsearch/issues/25863.
JFYI, we have been running for some days with netty3 and it seems it solves our issue.

[2017-09-05 12:49] mitoma commented on #26474
Thank you! I will wait.

[2017-09-05 13:15] Stacey-Gammon commented on #26429
@rjernst - It appears this bug might be causing Kibana build failures on master.  Any ETA on a fix?

[2017-09-05 13:59] markharwood commented on #26507
This might just be an education exercise. The "caused by" part of the above exception has the details:

    Caused by: com.fasterxml.jackson.core.JsonParseException: Numeric value (2287862150) out of range of int

While we take efforts to make the REST response readable (unwrapping the "caused by" layers), the log files tend to want to keep extra info to provide added context.

Having said that, I

[2017-09-05 14:07] nik9000 commented on #26153
Not really. `-1` means to me that it was a failure in the scroll request itself and not any of the shards and we should catch that and retry it.....

So about terminating the scroll when a shard fails, I don't know that you *can* (#26433) retry on the shard level. I'd forgotten about this when the issues came up in the first place.... I think, though, that the `_jim` API ought to allow for retries

[2017-09-05 14:28] nik9000 commented on #26459
https://www.elastic.co/guide/en/elasticsearch/painless/5.5/_operators.html#_null_safe and https://www.elastic.co/guide/en/elasticsearch/painless/5.5/_operators.html#_elvis ought to help here. I admit that we could move it.

And yes, we could use a section about how painless doesn't emulate the falsy syntax of groovy or javascript.

[2017-09-05 14:29] jpountz commented on #26504
+1 to documenting. Stored fields do not guarantee that they preserve formatting at the moment.

[2017-09-05 15:06] JagathJayasinghe commented on #25603
Experiencing the same issue again,

Please see the queries and their results listed below. Would this information help ?
**1)**
http://node01:9200/my_index/my_product/_search?preference=3677
{ "size": 10, "query":  {"ids": { "values": [105226165] }}}

This query consistently returns incorrect hits.total value.

**2)**
Executing the same query using Validate API with the explain parameter set to tr

[2017-09-05 15:41] jimczi commented on #26499
Prior to 6 dynamic date detection relies on a set of hardcoded characters so only strings that contain `:`, `-` or `:` are tested against the provided date formats.
It's fixed in 6 by this pr: https://github.com/elastic/elasticsearch/pull/22171 that removes the limitation and test all strings that are not parseable as longs or doubles.
We should probably document this behavior for versions prior t

[2017-09-05 16:06] sirosen commented on #26459
FWIW, I did a lot of reading trying to figure out why `!entry._ran_updates` wasn't working, and in all that time I didn't find the `elvis` operator. That might recommend moving it to a more prominent place.

When you suggest these operators, in my case I guess it would turn into
[code]

Am I understanding that correctly? I'm happy to turn my case into a cleaner example of conditionally assigning v

[2017-09-05 16:56] xabbu42 commented on #25350
I was also planning to try a patch myself using a similar workaround as is already done with analyzers in checkMappingsCompatibility. But the comments of rjernst suggest that the problem is more complex and so I'm waiting on further input before trying anything myself.

[2017-09-05 18:09] cbuescher commented on #25603
Hi,
another question that might narrow down my initial suspicion this might have something to do with the nested "SellerProducts" documents. For the above document in question (105226165), do you know if and how many nested document it currently has? Maybe it had some that got deleted? Does this number come close to the wrong "total.hits" you are seeing? This is a wild quess but since the querys r

[2017-09-05 19:24] nik9000 commented on #26459
Something like that.

I'd certainly love a PR better documenting this but I just don't know where to put it in the documentation. Maybe someone like @debadair or @jdconrad has a better idea.

[2017-09-05 19:41] willcosgrove opened #26511 "Filter nested document for subaggregations"
**Describe the feature**:

I'm trying to build a pretty standard search UI, with a sidebar with various filters, and a count next to each option to show the user how many results lie behind each option.  The only unusual thing about the search is that the filters are all on nested items of the documents returned.

I've got the query working perfectly, returning the correct results, but I'm unable

[2017-09-05 19:59] elasticmachine opened #30085 "[Upgrade Assistant] Cluster Checkup default path settings observations"
*Original comment by @inqueue:*

**Stack version**: 5.6.0-b806c81d
**Kibana version**: 5.6.0 45bd78c
**Elasticsearch version**: 5.6.0 91cb238
**Installation method**: DEB package
**Cluster Configuration**: 4 nodes - 1 master only (json5x60-1), 2 data only (json5x60-2, json5x60-3), coordinating (json5x60-4)

Here are a a couple of observations with default path settings with this 4 node setup:
* Al

[2017-09-05 20:15] ashworx commented on #26500
I want to take it as my first PR.

[2017-09-05 20:26] jasontedor commented on #26500
@ashworx Thanks for your interest but there is an open PR (#26503) for this one already.

[2017-09-05 20:31] jasontedor commented on #26507
The reason is right there in the JSON response, no need to even go through the logs:

[code]

As far as chomping stack traces, note that this monster only appears in the server logs. We are not going to chomp stack traces there, I'm sorry, but we need these for debugging when things do not go as expected. Everything needed to triage this one is in the API response, so I am going to close this issu

[2017-09-05 20:31] #26507 closed

[2017-09-05 20:45] risdenk opened #26512 "Missing slf4j binding for :Plugin Repository HDFS"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.5.2, Build: b2f0c09/2017-08-14T12:33:14.154Z, JVM: 1.8.0_121

**Plugins installed**:
* repository-hdfs
* x-pack

**JVM version** (`java -version`):
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-tdc1-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

**OS version** (`uname -a` if on

[2017-09-05 20:46] risdenk commented on #26512
One of the major side effects of the missing slf4j library is that logging can't be enabled for the `org.apache.hadoop` logs trying to debug any issues with the plugin.

[2017-09-05 20:47] risdenk commented on #26512
[code]
Tested with the following
[code]

[2017-09-05 20:57] risdenk opened #26513 "java.lang.SecurityException: access denied ("java.lang.reflect.ReflectPermission" "suppressAccessChecks") for :Plugin Repository HDFS"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.5.2, Build: b2f0c09/2017-08-14T12:33:14.154Z, JVM: 1.8.0_121

**Plugins installed**:
* repository-hdfs
* x-pack

**JVM version** (`java -version`):
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-tdc1-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

**OS version** (`uname -a` if on

[2017-09-05 20:58] risdenk commented on #26513
I was able to fix this with the following:
[code]

[2017-09-05 20:59] risdenk commented on #26513
Interestingly the repository-hdfs plugin already has a Java security policy file that requests `suppressAccessChecks` permissions. https://github.com/elastic/elasticsearch/blob/master/plugins/repository-hdfs/src/main/plugin-metadata/plugin-security.policy#L26  It looks like from the stacktrace that the error doesn't go through any of the repository-hdfs classes however.

[2017-09-05 21:01] jasontedor commented on #26513
As you point out, the problem here is that the call is coming from core where we do not and will not grant `suppressAccessChecks`.

[2017-09-05 21:01] jasontedor commented on #26513
@jbaiera Would you take a look please?

[2017-09-05 21:15] elasticmachine opened #30086 "Introduce cross-cluster replication"
## Things to do and investigate:

- ~[ ] Old indices cannot be followed. The soft delete index setting should not allowed to be set on older indices (indices that have been created prior to when ccr was released) (Nhat)~. We discussed and decided not to do this for now.
- [ ] We currently allow duplicate seq# in lucene (marked as deleted and pointing to the same document version), in some rare cas

[2017-09-05 21:56] risdenk commented on #26513
@jasontedor yea I agree that adding `suppressAccessChecks` to the whole JVM is not preferred but didn't have a good way to work around it in the short term. We are currently moving from 2.x to 5.x for Elasticsearch and this was a pain point on Friday. Since we are in a development environment, I can provide/test other things if necessary.

[2017-09-05 23:38] #26512 closed

[2017-09-06 02:05] ppf2 opened #26515 "Circuit breaker for number of tokens used in in-memory highlighter"
ES 2.4

![image](https://user-images.githubusercontent.com/7216393/30091131-b9e79978-926c-11e7-9509-0c1971cc5a3c.png)

We have seen a situation when there's limited amount of heap and the user was trying to use the default highlighter against a field with millions of tokens.

@s1monw is wondering if we could potentially limit the number of tokens used in our in-memory highlighter to stop creating

[2017-09-06 02:57] jasontedor commented on #21526
Thanks for clarifying @childe.

[2017-09-06 07:59] #26438 closed

[2017-09-06 08:02] JagathJayasinghe commented on #25603
Thank you for your response,

It has multiple nested documents but hits.total and the number of nested documents are not the same.

[2017-09-06 08:06] #23268 closed

[2017-09-06 08:53] cbuescher commented on #25603
@JagathJayasinghe thanks for your patience and bearing with me. I talked to @martijnvg who is more familiar with nested docs and we are still leaning in that direction with hypothesis of what might be wrong.

A few more questions:
* Do you do many deletes (or updates, delete by query for that matter) on the documents in the index? If yes, how frequent are they?
* Just as a clarification: in the fi

[2017-09-06 09:21] jhberthemet commented on #26060
Any news, is it possible to reopen this issue?

[2017-09-06 10:51] JagathJayasinghe commented on #25603
- Yes, we do many deletes and updates
	  Updates per day - 20m updates across 2 indices.
	  Deletes per day -  high 100s / low 1000s.
- Sorry that was my mistake, I should have used "product" type when simplifying for my reply
- It maybe be possible for us to try closing/opening the index but it would require a maintenance window as there are several applications using the data that are not affect

[2017-09-06 11:09] cbuescher commented on #25603
Thanks,

okay, so that's not practical then, also this was only out of interest, no concrete hint in mind

I talked to @jimczi in the meantime regarding the explain output you posted and he thinks it looks okay (the nested filter is omitted because there is a filter on _type).
Another thing to recheck, just to be sure:
* you mentioned "_count" would work when you see this problem, did you also use

[2017-09-06 11:32] danielmitterdorfer commented on #26339
After further benchmarks have hinted that the cause may be Lucene, I've started bisecting. Indeed, we see a major drop in median indexing throughput after upgrading to Lucene 7:

* last revision with Lucene 6.x (revision elastic/elasticsearch@f217eb8ad8): 241561 docs/s
* first revision with Lucene 7.0 (revision elastic/elasticsearch@4632661bc7): 128667 docs/s

Here is the achieved median indexing

[2017-09-06 11:38] dpavlos commented on #22920
Hi there,

in case anyone else stumble upon this, [here is](https://github.com/dpavlos/elasticsearch_migration) a very simple python script I've used to migrate our ES to v5. The script pretty much follows @nik9000 idea.

[2017-09-06 11:53] net1pei opened #26518 "log4j UnsupportedCharsetException cp65001 after Elasticsearch 6.0.0-Beta2 bat run"
Elasticsearch version (bin/elasticsearch --version):
6.0.0-Beta2

Plugins installed:
No

JVM version (java -version):
1.8.0_144

OS version (uname -a if on a Unix-like system):
Win7-SP1, 64 bit

Description of the problem including expected versus actual behavior:

Install Elasticsearch 6.0.0-Beta2 ZIP, URL: https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-6.0.0-beta2.zip

After

[2017-09-06 12:01] gaurav36 commented on #26048
I am also getting memory leak when i upload large number of files, This time memory leak in java rest client.

for more info:  https://discuss.elastic.co/t/memory-leak-in-elasticsearch-java-rest-client-version-5-5/99551

[2017-09-06 12:11] jasontedor commented on #26518
Duplicates #25981

[2017-09-06 12:11] #26518 closed

[2017-09-06 12:13] jasontedor commented on #25981
Note that the upstream issue is fixed starting in Log4j 2.9.0 which is included in Elasticsearch 5.6.0 and future pre-releases of Elasticsearch 6.0.0 (it missed 6.0.0-beta2). At this time, the need for the above workaround should go away. I will verify this later today.

[2017-09-06 12:40] JagathJayasinghe commented on #25603
- We discovered that "_count" wasn't working either.
- Restarting solve the problem for 1-2 weeks.

Thank you.

[2017-09-06 15:38] 326TimesBetter commented on #25207
Any update on this issue?? We used to have crons that depended on this api to calculate disk space in the cluster.

[2017-09-06 15:44] avdv opened #26519 "Kuromoji analysis part-of-speech filter not working"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.2

**Plugins installed**: [analysis-icu       analysis-smartcn  ingest-geoip       x-pack
analysis-kuromoji  analysis-stempel  ingest-user-agent
]

**JVM version** (`java -version`):

[code]

**OS version** (`uname -a` if on a Unix-like system):

Linux 4.9.47-1-lts #1 SMP Sat Sep 2 09:26:00 CEST 2017 x86_64 GNU/Linux

**Description of

[2017-09-06 17:02] epixa commented on #26429
I'm going to mark this as a blocker for 6.1 since we disabled a sizable chunk of integration tests in Kibana in order to get builds passing.  I *assume* this is a regression that needs to be fixed for 6.1 anyway, but I'm really just blocking on resolution one way or another.

[2017-09-06 17:30] jpountz commented on #26515
I'm on the fence about adding a new per-request option since we already have plenty of highlighter options. However I'm +1 to having a setting that controls the maximum number of tokens that highlighters are allowed to consume on a per-field basis, and fail requests if that limit is reached.

[2017-09-06 18:19] dakrone commented on #25207
I'm not sure there's anything we can do for this, we adjust the filesystem values only if they are negative, see:

https://github.com/elastic/elasticsearch/blob/9c795bd838864647553b317b9da2b5a40f1a7242/core/src/main/java/org/elasticsearch/monitor/fs/FsProbe.java#L157-L159

and

https://github.com/elastic/elasticsearch/blob/9c795bd838864647553b317b9da2b5a40f1a7242/core/src/main/java/org/elasticsear

[2017-09-06 18:20] dakrone commented on #25207
Going to close this for now since there is no fix version on the JDK bug, once the bug is fixed we can revisit this.

[2017-09-06 18:20] #25207 closed

[2017-09-06 18:56] agolomoodysaada commented on #17435
still happening in Elasticsearch 6.0.0-beta2.
I'm not sure why @abeyad closed this issue if it's still occurring on multiple releases?

Steps to reproduce:
* Set up an ES cluster
* Create some indices and store some data
* Restart the cluster
* 💥

[2017-09-06 19:02] celesteking commented on #17435
@agolomoodysaada, cause they don't give a shit. ES is a bitch to setup and manage.

[2017-09-06 19:19] jasontedor commented on #17435
@agolomoodysaada I think that you're misunderstanding the issue here (as are others claiming this issue still persists). Dangling indices are a thing that can happen, and we log about them, that's okay. The very specific issue here is the *repeated* logging for a single index, this is fixed as far as we know. The steps that you provided to reproduce are not sufficient to investigate this issue. If

[2017-09-06 19:29] jimczi commented on #26515
The `plain` highlighter uses a `CachingTokenStream` to cache all tokens created for a field even though only few tokens may be use for highlighting (those that are extracted from the query). The caching is done because it needs to consume the stream twice so it's just an optimization but for big text this is clearly inefficient. I don't think that the number of total tokens should matter for an in

[2017-09-06 20:04] isonil opened #26523 "Fuzzy queries give incorrect scores"
**Elasticsearch version**: 5.5.2

Fuzzy queries give completely random unintuitive scores.

For example, searching for `testitem3` will give `testitem3` the **lowest** score, which is contradictory to what all fuzzy queries tutorials you can find say and is completely unintuitive.

Example query:

[code]

Result:
[code]

[2017-09-06 20:06] agolomoodysaada commented on #17435
@jasontedor

Below are some logs for ya representing this _very specific issue here_.

[code]

If dangling indices are _a thing that can happen, and we log about them, that's okay_, do you have any recommendations on preventing them from happening? How do we get Elasticsearch to start in this corrupted state?

[2017-09-06 20:13] hatdropper1977 opened #26524 "Dead Link for Offline Install Of X-Pack 6.0.0"
Expected behavior:  Download offline zip for X-Pack 6.0.0
 Actual behavior:  Dead Link

 The X-Pack 6.0.0 [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/6.0/installing-xpack-es.html) reads as follows:

Clicking the link for download results in the following error:
[code]

[2017-09-06 20:45] jasontedor commented on #26524
This is the open source repository for Elasticsearch, we do not handle issues for closed source X-Pack here. For that, we use the X-Pack category on the [forum](https://discuss.elastic.co).

[2017-09-06 20:45] #26524 closed

[2017-09-06 20:52] agolomoodysaada commented on #17435
I was able to debug my issues by calling these endpoints

[code]

[2017-09-06 20:55] jasontedor commented on #17435
It's not at all an indication of corruption. It often arises when users mess around with their data folders (for example, copying the data directory for an existing index). Basically, it's preventing you from importing an index with the same name twice. Would you please share:
 - the output of /_cat/indices
 - tree /path/to/your/data/folder

[2017-09-06 20:55] hexinw opened #26525 "[o.e.b.ElasticsearchUncaughtExceptionHandler] [node01-es-dev] fatal error in thread [elasticsearch[node01-es-dev][search][T#6]], exiting java.lang.OutOfMemoryError: Java heap space"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.4.2, Build: 929b078/2017-06-15T02:29:28.122Z, JVM: 1.8.0_131

**Plugins installed**: []

**JVM version** (`java -version`):

openjdk version "1.8.0_131"
OpenJDK Runtime Environment (build 1.8.0_131-b12)
OpenJDK 64-Bit Server VM (build 25.131-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux dev-v1.0-a

[2017-09-06 21:08] chs-bnet commented on #21101
Being able to specify a default pipeline perhaps in an index template would be extremely useful for our case where we don't have control over the bulk put. We are using fluentd and its elasticsearch plugin and I don't believe there is a way for us to specify a pipeline using its output language.

[2017-09-06 21:10] risdenk commented on #26513
If I were to guess, the bulk of this issue comes from trying to get server defaults for the encryption introduced in Hadoop.

[code]
https://github.com/apache/hadoop/blob/branch-2.8.1/hadoop-hdfs-project/hadoop-hdfs-client/src/main/java/org/apache/hadoop/hdfs/DFSClient.java#L1760

I didn't see a quick way to short circuit this process by adding a Hadoop conf setting saying that encryption is eithe

[2017-09-06 21:15] juazugas commented on #20853
@s1monw as you said, in 2.4.7-SNAPSHOT is still ocurring this issue. I know is closed and is not critical but I've prepared a pull request to solve the problem in the 2.4 branch. Would it be of any interest?

[2017-09-06 21:38] dakrone commented on #26332
Resolved this in the linked commit, I just misspelled "Resolved" so it didn't auto-close..

[2017-09-06 21:38] #26332 closed

[2017-09-06 21:55] dakrone commented on #26525
I believe this is related to #26012

[2017-09-06 21:59] gmoskovicz commented on #26513
Indeed the problem seems to actually be here: https://github.com/apache/hadoop/blob/branch-2.8.1/hadoop-hdfs-project/hadoop-hdfs-client/src/main/java/org/apache/hadoop/hdfs/DFSClient.java#L640

[code]

So it's trying to do reflection in `namenode` something that we do not allow to do that? I say this from

[code]

Wonder if we could use the `dfs.trustedchannel.resolver.class` setting to force this

[2017-09-07 02:37] rjernst commented on #25350
@xabbu42 I think your idea of using a similar workaround as we do with analyzers is the correct solution. My earlier comment was missing some context and would be something nice to have, but is a separate issue.

[2017-09-07 02:45] rjernst commented on #19359
@MLnick There is a tradeoff we must balance between ease of use and customizability.  We tend to favor ease of use for the common cases, and are happy to add customizability with less ease of use. In this case, the complexity of maintaining access to these very low level and advanced structures within lucene was not worthwhile. As you said, one can still access these with a custom ScriptEngine. An

[2017-09-07 02:53] rjernst commented on #26429
@epixa Looking back at this again, I'm actually not sure filters make sense for expressions. Expressions only know how to read numeric values, and return numeric values. There was previously hacky "treat 0 as false and anything else as true" code in filter scripts, but that was removed with my refactoring to create a filter script context.

Why can't Kibana use painless for filters? The same examp

[2017-09-07 03:00] jbaiera commented on #26513
This is correct. Since there's a core utility in the stack trace (`org.elasticsearch.common.io.Streams.copy`) it's tripping up the security manager. What should really be happening is the stream should be wrapped in something that does the HDFS calls with privileges. Took a quick look and found that this seems to already be done in master with https://github.com/elastic/elasticsearch/pull/22793. P

[2017-09-07 04:08] liketic commented on #26432
Hi @dadoonet Are you working on this? I'm happy to take this.  :)

[2017-09-07 04:57] dadoonet commented on #26432
I'm not. Feel free to take it and send your PR.

Thanks!

[2017-09-07 06:13] martijnvg commented on #26523
@isonil I suspect that the unexpected scores in this case is caused by the fact that these documents are spread across different shards, which makes ES unaware of the existing of some or all docs in the case when computing the score. Can you try with a single shard index or use the dfs_query_then_fetch search type? (https://www.elastic.co/guide/en/elasticsearch/reference/5.5/search-request-search-

[2017-09-07 08:28] jpountz commented on #26474
The fix has been merged and will be in Lucene 7.0 and thus in Elasticsearch 6.0 as well. I's not clear whether we'll be able to have it into Elasticsearch 5.x however, maybe not.

[2017-09-07 08:28] #26474 closed

[2017-09-07 08:31] floragunncom opened #26530 "ReplicationTask$Status.toXContent throws "Can not start an object, expecting field name (context: Object)" exception"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.0.0-beta2

**Plugins installed**:
none

**JVM version** (`java -version`):
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Mac OS X x86_64 10.10.5
14.5.0 Darwin Kernel Version 14.5.0: Sun

[2017-09-07 08:46] costin commented on #26525
# updated the initial request and added minimal formatting to make the post readable

Thanks @dakrone, indeed it looks like a duplicate of #26012 ; @hexinw can you please confirm?

Cheers,

[2017-09-07 08:56] bleskes commented on #26530
Thank you for trying out 6.0.0-beta2. I tried to reproduce this (calling toString on the status of a ShardBulkRequest ) but couldn't. Can you share a code snippet that (a unit test?) that reproduce this?

[2017-09-07 09:22] floragunncom commented on #26530
`       System.out.println(new org.elasticsearch.action.support.replication.ReplicationTask.Status("a").toString());
`

[2017-09-07 09:28] risdenk commented on #26513
#22793 looks like it could help. Elasticsearch 6.0 beta 2 would have that change right? I should be able to try it to see if it fixes this issue. If it works then would be great to see it backported to 5.x.

[2017-09-07 09:34] floragunncom commented on #26530
Same here and maybe other `org.elasticsearch.tasks.Task.Status` impls are affected as well
<pre>
System.out.println(new org.elasticsearch.index.shard.PrimaryReplicaSyncer.ResyncTask(1,"type","action","desc",new TaskId("task:0")).getStatus().toString());
</pre>

[2017-09-07 09:47] bleskes commented on #26530
I see, and I also see why I couldn't reproduced. This is fixed by https://github.com/elastic/elasticsearch/pull/26321 , where the decision was made to not back port it to 6.0 (I'm still chasing it to see what we can do there). Thanks for trying out the beta. I will make the issue as eligible for the pioneer program.

[2017-09-07 09:47] #26530 closed

[2017-09-07 09:52] risdenk commented on #26513
It looks like #22793 is the only non test code change to repository-hdfs that isn't in the 5.x line.

[2017-09-07 10:06] Burgov opened #26531 "Cannot do min aggregation on nested fields"
**Elasticsearch version** (`bin/elasticsearch --version`):
Tried on both 5.2.0 and 5.5.0

**Plugins installed**: [xpack]

**JVM version** (`java -version`):
1.8.0_91

**OS version** (`uname -a` if on a Unix-like system):
Linux x 4.4.0-81-generic #104-Ubuntu SMP Wed Jun 14 08:17:06 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
Whe

[2017-09-07 10:07] costin commented on #26519
I can confirm the bug (reproduced it wit ES 5.5.2 on Windows 8.1).
Looking at the [code](https://github.com/elastic/elasticsearch/blob/47ffa17efbc444c3d6c74a8020ee95eb4518c597/plugins/analysis-kuromoji/src/main/java/org/elasticsearch/index/analysis/KuromojiAnalyzerProvider.java#L38) is seems that potentially the default stopwords file is not loaded (maybe due to the modules classloader which might

[2017-09-07 10:19] costin commented on #26531
You need to specify the full path of the nested field just its name in a similar fashion to `filter` in `filter_name`: `"field": "position"` -> `"field": "entries.position"`

Hth

[2017-09-07 10:41] Burgov commented on #26531
@costin ha, you're right, i missed it in my example, and when I add it, it works. However, I have a case where it doesn't work even though I do add that path part. Thought I had produced a minimum case for reproducing it, but apparently I didn't... back to the drawing table.

[2017-09-07 10:41] #26531 closed

[2017-09-07 10:55] jasontedor commented on #26524
I pushed 163b99a0f08548bee5299b107d5dbe575c1e7aee.

[2017-09-07 12:44] jkdihenkar opened #26533 "[ Request Reopen ] Java application using BulkProcessing hangs if elasticsearch hangs"
**Elasticsearch version** (`bin/elasticsearch --version`):
Tested over all major 5.x versions [ 5.1.2 5.2.x 5.3.x  ... ]

*Plugins installed**: [ defaults ]

**JVM version** (`java -version`):
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)

**OS version** (`uname -a` if on a Unix-like system): CentOS 6

**Description of the problem including expected versus actual behavior**: The issue face

[2017-09-07 12:49] vikrantrana1996 commented on #26533
+1

[2017-09-07 12:56] aslamy commented on #26497
I have synonym token filter like : "united kingdom , uk => united kingdom , uk".
When I use my analyser then I get wierd tokens:
[code]
Token comprises and kingdom has incorrect order.  Could this be the reason that the highlight does not work properly?

[2017-09-07 13:23] jimczi commented on #26497
Yes, the default `synonym` filter is not able to handle multi-word synonyms expansion correctly.
In 5.x a new filter called `synonym_graph` has been added, it works correctly with multi-words synonym expansion:
https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-synonym-graph-tokenfilter.html
It must be applied at query time only (`search_analyzer`) and fixes issues when highl

[2017-09-07 13:25] jasontedor commented on #26513
There's a reason that #22793 is not in 5.6. That change was predicated on removing socket permissions from core which was only done in 6.0+. Thus, we can not simply backport that change even if it picked cleanly (which it doesn't), it was engineered with different assumptions than are present in 5.6. It's plausible that some of the code in #22793 will help address the issue here but instead we hav

[2017-09-07 13:32] aslamy commented on #26497
Thank you !

[2017-09-07 13:55] colings86 commented on #26511
Could you paste the full search request you are sending to Elasticsearch?

[2017-09-07 14:24] agolomoodysaada commented on #17435
/_cat/indices
[code]
tree /path/to/your/data/folder
[code]

[2017-09-07 14:26] jasontedor commented on #17435
Is that the entire `tree` output? Where are the other indices? Are there other nodes in the cluster? Have you already cleaned up the situation?

[2017-09-07 14:30] agolomoodysaada commented on #17435
no I just pasted the part related to .kibana. Here is the full output
[code]

[2017-09-07 14:32] agolomoodysaada commented on #17435
But yes, as I mentioned earlier, the cluster is healed and running... But restarting the containers triggers the issue mentioned in the first post again but the cluster self heals after say 3-5mins

[2017-09-07 14:36] nerophon commented on #25954
I browsed the folders one time. Then deleted the files. But MacOS now keeps recreating them (though not immediately...). I'm all for discipline in general, but can we not help our customers out by ignoring hidden files or something? I mean, who would deliberately hide a plugin file, then complain about ES not finding it?

[2017-09-07 14:47] epixa commented on #26429
@rjernst Seems like a reasonable question to me, especially since we *want* people to use painless instead of lucene expressions for this stuff since it's designed more for these specific use cases rather than relying on hacky type coercion.

That said, unless we can guarantee complete compatibility between the behaviors of expression-based filters and painless-based filters, this is going to be a

[2017-09-07 14:57] imotov commented on #25820
There might be a related issue in https://discuss.elastic.co/t/nullpointerexception-in-scroll/98717

[2017-09-07 15:00] jasontedor commented on #17435
Thanks, I put the output of `/_cat/indices` in `indices-in-cluster-state` and the output of `tree` in `indices-on-disk`. Then:

[code]

This shows that you have four indices on disk that are not in your cluster state; presumably these are existing `.kibana` indices that can not be imported due to `GuTek3p2RjmR8jGaTe6Hrw` already existing. You can verify that these are `.kibana` indices by dumping

[2017-09-07 15:11] #23364 closed

[2017-09-07 15:21] avdv commented on #26519
Thanks for having a look at it, @costin! But I think the problem may be different.

I do not know how or why this changed, but it seems the part-of-speech is only initialized with the default stoptags list if using the default "kuromoji" analyzer (which calls `JapaneseAnalyzer.getDefaultStopTags()`). When defining a custom analyzer, the stoptags list is only ever set from the `stoptags` list in th

[2017-09-07 15:52] igorbunova opened #26537 "Incorrect search results with transport client"
**Elasticsearch version** : 5.5.1

**Plugins installed**: ingest-geoip, ingest-user-agent, repository-s3, x-pack

**JVM version** :1.8.0_141

**OS version** :Linux 3.13.0-29-generic amd6

**Description of the problem including expected versus actual behavior**:
I have 2 nodes in the cluster. The first is master:true, data:true. The second is master:false, data:true
I have an index with 5 shards an

[2017-09-07 15:53] agolomoodysaada commented on #17435
Hey @jasontedor ,

Thank you for the response!

Below is the output of `GET /_cluster/state?filter_path=**.tombstones&pretty=true`. It's showing an index that I have manually deleted in an attempt to fix the bug.
[code]

[2017-09-07 15:54] jasontedor commented on #17435
Were you able to verify that the ones I identified are indeed dangling `.kibana` indices?

[2017-09-07 15:57] agolomoodysaada commented on #17435
I'm trying to run the command... but I don't have `xxd`?

[2017-09-07 15:58] jasontedor commented on #17435
I posit that you're on a Linux system then? Try replacing `xxd` by `hexdump -C`.

[2017-09-07 16:01] agolomoodysaada commented on #17435
After `yum install vim-common`, I could run `xxd` and get the following.

[code]

[2017-09-07 16:07] jasontedor commented on #17435
That does not make sense, your `tree` output shows `eG48bcLuSv6V62EOz8dGYw /_state/state-7.st`, `i8wudibrTVWZOJTgqgMUgg/_state/state-7.st`, and `n9XjMd4cSzGq5BAU1M8UMQ/_state/state-6.st` existing on disk. Have you since manipulated the data directory?

[2017-09-07 16:22] rjernst commented on #26429
Part of the reason for the context work we have been doing in scripting is performance.  When you do a coercion a million times (assuming one million docs being evaluated), the total time can be non-negligible. This is part of the reason expressions are currently faster in simple cases than painless.  Once we have painless performance on par with expressions, I don't think there is any reason to k

[2017-09-07 16:49] dakrone commented on #26241
I've been looking into this but I haven't been able to determine a cause or solution. Since shadow replicas are removed in 6.0 I'm going to close this, if it fails a second time we can re-open and take another look.

[2017-09-07 17:14] hexinw commented on #26525
<img width="632" alt="screen shot 2017-09-07 at 10 11 26 am" src="https://user-images.githubusercontent.com/13575408/30175870-292d0c48-93b5-11e7-9475-e27b6024c5c7.png">

This is the eclipse MAT report on the heap usage when elastic search crashed. Yes it looks like a dupe to #26012.

[2017-09-07 17:16] fbaligand commented on #26486
@jimczi
For info, I opened a issue on Lucene JIRA :
https://issues.apache.org/jira/browse/LUCENE-7954

[2017-09-07 17:47] aslamy commented on #26497
I tested synonym_graph. Highlighting multi-word synonyms works but now results are returned in different relevance for synonyms. Should not synonyms give exactly same documents as result?

[2017-09-07 18:01] qwerty4030 commented on #25820
This has occurred again a couple of times in the last few days. I noticed a different NPE in the ES logs:
[code]

[2017-09-07 18:16] agolomoodysaada commented on #17435
I never touched the data directory myself

[2017-09-07 18:18] agolomoodysaada commented on #17435
Does it matter that I'm running on a 3 node cluster and the output I sent you was from one of the nodes?

[2017-09-07 18:22] xeccgtt opened #26538 "Cannot start elasticsearch with systemd"
We can start eleacticsearch 5.5.2 out side of systemd and  it runs with out issue.  But when we start eleacticsearch 5.5.2 with systemd it fails with the following error.
    [1] bootstrap checks failed
    [1]: max file descriptors [65535] for elasticsearch process is too low, increase to at least [65536]

we modified the following files to try to resolve the issue,  see below:
    /etc/security/

[2017-09-07 18:25] jasontedor commented on #17435
Yes, I was operating under the assumption that there is a single node because of this log message:

[code]

and earlier I asked if there were multiple nodes in the cluster and did not receive an affirmative answer.

Do you have `node.master` set to false on the other nodes, there might be a problem with your setup here.

Can you send me the output from the same node that the `tree` output was from

[2017-09-07 19:33] jasontedor commented on #26538
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-09-07 19:33] #26538 closed

[2017-09-07 19:33] jasontedor commented on #26538
Feel free to link from here and I will try to help you but we do not do general help here.

[2017-09-07 19:48] xeccgtt commented on #26538
Jason,  I moved my question to the forum

https://discuss.elastic.co/t/systemd-can-not-start-elasticsearch/99765

From: Jason Tedor [mailto:notifications@github.com]
Sent: Thursday, September 07, 2017 3:34 PM
To: elastic/elasticsearch
Cc: Stark, Albert J; Author
Subject: Re: [elastic/elasticsearch] Cannot start elasticsearch with systemd (#26538)

Closed #26538<https://github.com/elastic/elasticse

[2017-09-07 22:25] dakrone commented on #25018
Going to close this for the same reason as https://github.com/elastic/elasticsearch/issues/25207#issuecomment-327570519

[2017-09-07 22:25] #25018 closed

[2017-09-07 22:28] #24915 closed

[2017-09-07 22:29] dakrone commented on #24832
Resolved in https://github.com/elastic/elasticsearch/commit/fe02350e73701abb283084325daf999f580244a4

[2017-09-07 22:29] #24832 closed

[2017-09-07 22:44] imotov commented on #25820
This seems to be a different issue. In the first set of stacktraces, it looked like search context was disappearing. In this stack trace we are dealing with nulls in SearchHit array. I can come up with some reasonable explanation how search context could disappear (some sort of race condition between context cleanup and use). However, SearchHits array here is a local variable and I don't really se

[2017-09-07 22:53] isonil commented on #26523
@martijnvg dfs_query_then_fetch solved the problem. Thank you very much.

[2017-09-07 22:53] #26523 closed

[2017-09-08 00:20] elasticmachine opened #30087 "X-pack Security + tribe documentation has incorrect syntax and is based on file-based implementation"
*Original comment by @ppf2:*

 https://www.elastic.co/guide/en/x-pack/5.5/tribe-node-configuring.html

The statement at the top is not entirely true:

"The tribe node itself also must be configured to grant access to actions and indices on all of the connected clusters, as security checks on incoming requests are primarily done on the tribe node itself."

My setup has 2 downstream clusters backing

[2017-09-08 01:56] jasontedor opened #26544 "Restoring a snapshot destroys history between the restored primary and existing replicas"
Restoring a snapshot means that history on any replicas is no longer valid. Without a way to detect this situation, we can end up with a primary divergent from its replicas. We will add a new history UUID to address this situation.

[2017-09-08 03:24] zqc0512 commented on #26293
i find about  it,
when the cluster settings about node_concurrent_recoveries  cluster_concurrent_rebalance
if the nember of settings is Small there is no output error,
i wan't to know how about it when a large data env.
thanks.

[2017-09-08 06:08] zfanswer commented on #21101
+1 for default pipeline.
And the setting should likely be done in index side, not pipeline.
also add option to skip pipeline like `?skip_pipline=true` for some interfaces, e.g. reindex, special case. May avoid the case @clintongormley mentioned at beginning.

[2017-09-08 06:11] mars00772 opened #26545 "some UNASSIGNED shards kill the cluster"
hi ,I am using ES 5.5 with the hot-warm architecture suggested by [here](https://www.elastic.co/blog/hot-warm-architecture-in-elasticsearch-5-x).by marking indices `warm`, he transfer indices to the warm nodes from hot nodes automatically.

i have 68 indices everyday, 21 shards each indices  cause i have 21 hot nodes with SSD, and the store size is 1.5T everyday.(I found one index is huge:1T above

[2017-09-08 06:39] bleskes commented on #26545
It seems like the cluster is suffering from memory pressure and this slows things down too much. Please open a discussion topic on discuss.elastic.co and people can try to help further. We try to keep github for concrete issues and feature requests. If your problem ends up being a code issue we can open a new ticket here.

[2017-09-08 06:39] #26545 closed

[2017-09-08 06:46] bleskes commented on #26293
@gndcshv @buildlackey  a short update - we've been running a test cluster with 120 nodes for days now, repeatedly creating indices as described in #26152 and sadly it works every single time. This tells me something else is going on. I see you have your transport logging level set to TRACE. Do you mind sharing the logs of the period where the problem occurred? I would like the logs of the data nod

[2017-09-08 09:19] #26537 closed

[2017-09-08 09:19] igorbunova commented on #26537
Seems this is my fault
I didn't take into account the scoring function while explaining.
I close this ticket

[2017-09-08 10:07] markharwood opened #26546 "Classloading issues relating to security policy failures"
A [recently added assertion](https://github.com/elastic/elasticsearch/commit/c9964d17bf7db7e07e37acbb651d8b54fe644d44) in Security.java is failing and triggering class-loading issues in a new build project.

Examples:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+snapshot-false/1/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+snapshot-false/1/console

[2017-09-08 10:18] #25291 closed

[2017-09-08 10:54] jasontedor opened #26547 "Remove norelease forbidden pattern from build"
We were not enforcing that we do not release with `norelease`s in the codebase. Instead, we should use blocker issues to track these as they have better visibility. As such, we should remove the norelease forbidden pattern from the build.

[2017-09-08 11:28] danielmitterdorfer commented on #26339
The performance drop is caused by a [write to a(n unused) variable in Lucene](https://github.com/apache/lucene-solr/blob/6c3ece2/lucene/core/src/java/org/apache/lucene/index/DefaultIndexingChain.java#L736). We've seen that a significant portion of time is spent in related code. Here is a snippet of a JMH microbenchmark with the `perfasm` profiler:

[code]

I've created a custom version of Lucene (

[2017-09-08 12:36] emmerich opened #26548 "script.allowed_types throws an IllegalArgumentException"
**Elasticsearch version** (`bin/elasticsearch --version`):
`Version: 5.5.2, Build: b2f0c09/2017-08-14T12:33:14.154Z, JVM: 1.8.0_141`

**Plugins installed**: [`ingest-geoip`]

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
`Linux 0ea6bb92d1e2 4.9.41-moby #1 SMP Wed Sep 6 00:05:16 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

**Description of the problem

[2017-09-08 13:02] nitsanw commented on #26339
@danielmitterdorfer If I read this correctly (and there's always a chance to misread assembly) the line blame here is falsely accused. At least the assembly line (not arguing about the unused local var). The line:
``` 0x00007f52d56b027f: mov    $0x7f4926a81d88,%rcx ```
I setting the RCX register to a constant, so costs nothing and cannot be the issue. It's likely that the issue is in fact one of t

[2017-09-08 13:04] wilofice commented on #13214
Hi, may I start working on this one? This will be my first contribution to open source and elastic.

[2017-09-08 13:14] jimczi commented on #26487
Can you describe the feature a bit more ? What do you mean by frequency ? The frequency of the terms inside the document ? If so I think it would be better to implement it directly inside the minhash filter since it seems to be only useful there ?

[2017-09-08 13:26] jpountz commented on #26504
Discussed in FixitFriday, we agreed to document the current behaviour, at least for now.

[2017-09-08 13:31] jpountz commented on #26429
+1 to add a workaround for now and removing filter support for expressions in 7.0 (or even remove expressions entirely?)

[2017-09-08 13:38] epixa commented on #26429
@Bargs What do you think?

[2017-09-08 13:42] nik9000 commented on #26429
The [benchmarks](https://elasticsearch-benchmarks.elastic.co/index.html#tracks/geonames/nightly/30d) still show expressions as being faster than painless. I think it'd make sense for us to wait for painless to catch up to expressions before we talk about removing it entirely.

[2017-09-08 13:44] gmaddex commented on #22823
Hi, I'm trying to get started with some low hanging fruit and I'd like to take this issue on if you don't mind.

[2017-09-08 14:05] jpountz commented on #26429
Is it worth potential confusion due to users wondering "which one should I use"?

[2017-09-08 14:11] nik9000 commented on #26429
We've had that confusion for a long time though. I think the issue may be moot - we'll likely work to closing that performance gap anyway.

[2017-09-08 14:15] Bargs commented on #26429
In Kibana I think we either need to support expressions everywhere or not at all. Having some scripted fields that work with filtering and some that don't will be incredibly confusing to kibana users who didn't set up the scripted fields in the first place.

Removing expression support entirely will be a pretty big breaking change. Kibana maintainers will have to rewrite all of their scripts. I'm

[2017-09-08 14:26] Mpdreamz commented on #22823
@gmaddex I don't think anyone is working on it, go for it!

[2017-09-08 15:18] cbuescher commented on #25603
As far as I can see, if you use `_search_shard` with a fixed `preference=XYZ` value you should get the node/shard that would be selected with preference first when you would run an actual search with that value. So if your `ids` query behaves weird with `preference=x` but works well with `preference=y`, that should tell you which shards on which nodes are used and check if restarting only those he

[2017-09-08 15:18] #10403 closed

[2017-09-08 15:36] jasontedor commented on #25981
I verified that with Log4j 2.9.0, this issue does go away in the following sense: the node will now successfully start with Log4j falling back to UTF-8 as opposed to before where it blew up when it did not know what to do with the charset `cp65001`. However, Log4j dumps a low-level stack trace to the console. This is a low-level dump in the sense that it does not go through the status logger so we

[2017-09-08 16:00] rjernst commented on #26429
@nik9000 Not sure what you mean by that. Given the pervasiveness of expressions in Kibana described here, I think it is a worthwhile discussion to have. We need to be thinking far ahead on how to migrate users off of expressions. It is good that painless is the default.  And in most cases I think an expressions should "just work" as a painless script, so I'm not that worried about transitioning.

[2017-09-08 16:52] jakommo opened #26551 "Document that Transparent Huge Pages should be disabled on Linux"
There seems to be a Kernel issue https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1644056 that causes a Kernel crash during high load.
Also reported in discuss: https://discuss.elastic.co/t/elasticsearch-5-4-2-process-periodically-dying-with-high-cpu-load-and-kernel-message-pgtable-generic-c-33-bad-pmd/92239

It seems like this can be worked around by disabling THP on linux, e.g. `echo -n neve

[2017-09-08 16:58] nik9000 commented on #26429
I meant that we are likely to close the performance gap significantly during the 6.x release cycle so we might be able to remove expressions entirely in 7.0 so my point about waiting until Painless catches up might not matter because it will catch up.

I agree with your concern about expressions in filters. I find the tricks that kibana plays with scripts to be a bit tricky and this sort of 0-as-f

[2017-09-08 17:02] jasontedor commented on #26546
I can explain what is happening here. The elasticsearch-rest-client is indeed on the classpath and it turns out this is expected because core tests depend on test framework which has elasticsearch-rest-client as a dependency:

From `gradle :core:dependencies -Dbuild.snapshot=false`

[code]

The next question is: why is the assertion tripping given that the JAR is there, we have `build.snapshot` se

[2017-09-08 17:46] aleph-zero opened #26553 "Circuit Breaker: Too many dynamic script compilations within one minute"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.0.0-beta2

**Plugins installed**: []
ingest-geoip
x-pack

**JVM version** (`java -version`):
java version "1.8.0_111"
Java(TM) SE Runtime Environment (build 1.8.0_111-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.111-b14, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Darwin disciple.local 16.7.0 Darwin Kernel Vers

[2017-09-08 18:06] martijnvg opened #26555 "Add support for querying on range fields in query_string and simple_query_string queries"
Currently querying on range fields via `query_string` and `simple_query_string` queries results in an error indicating that we do not support this. Whereas querying these fields via the `range` queries just works as expected.

Adding support for this is trivial. One caveat is that there is no way to specify the `relation` (like in `range` query). Therefor if range fields are queries via `query_str

[2017-09-08 19:30] #23348 closed

[2017-09-08 19:37] #25105 closed

[2017-09-08 22:02] Bargs commented on #26429
Yes, thank you @nik9000, this is what I meant. I should have been more specific and said: "In Kibana I think we either need to fully support expressions in "*kibana* scripted fields" or not at all.  "Kibana scripted fields" aren't used for updating, reindexing, etc.

So just to clarify my thoughts: if we remove the ability to filter with expressions in Elasticsearch I think we should also remove e

[2017-09-08 23:10] apeters commented on #25933
I have nothing to add to this ticket other than to +1 @aj7 on this issue.  We too have seen this error with either high vertex count polygons or polygons with very high precision.  Sometime the workaround is to simplify the geometry with something like PostGIS but often that can compromise the data.
And, for what it's worth, it's not too hard to generate polygons like this (imagine a highly precis

[2017-09-09 00:52] risdenk commented on #26513
So I found the case where this can happen. I'm trying to boil it down to the simplest steps. From what I've gathered so far:
* requires a readonly HDFS repository to be created and point to a location that isn't empty
* requires that no other HDFS repository operations have been done already (like take a snapshot)
* requires trying to list the readonly HDFS repository

For reference my test case i

[2017-09-09 00:59] jasontedor commented on #26513
Thank you so much @risdenk, that's awesome effort and much appreciated. @jbaiera will work closely with you on this starting next week. And 5.5.2 is definitely the right place to focus efforts (or the 5.6 branch is fine too).

[2017-09-09 01:13] risdenk commented on #26513
The code path differs for a readonly repository in this method:

https://github.com/elastic/elasticsearch/blob/5.5/core/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java#L895

**Non Read Only Path**

The `BlobStoreRepository.getRepositoryData()` method calls `BlobStoreRepository.latestIndexBlobId()` which in in the non readonly case will eventually call the `DFSClient

[2017-09-09 01:38] risdenk commented on #26513
Side note: interestingly travis ci doesn't seem to fail where as locally on my Mac it does. All the testing is in Docker so not sure what the difference is right now.

[2017-09-09 01:43] risdenk commented on #26513
For reference, I switched the base Elasticsearch image to `6.0.0-beta2` and could not reproduce the same error. The HDFS repository lists correctly even with readonly.

[2017-09-09 01:53] Exlsunshine commented on #22899
same reason brings me here, now that it's a warn... I decide to ignore it lol

[2017-09-09 07:12] luizamboni opened #26557 "strange relevance"
[code]

Why the smartphone not win this score ? no make sense for me

the mapping bellow
[code]

[2017-09-09 09:04] nishanthsolomon opened #26558 "Not able to search from java"
I want to create a simple java program for elastic search.
from the documentations and examples i came up with the following
[code]
But I am not able to get the response.
I get the following error.

Exception in thread "main" java.lang.NoSuchMethodError: org.elasticsearch.common.settings.Settings.settingsBuilder()Lorg/elasticsearch/common/settings/Settings$Builder;
	at org.elasticsearch.node.NodeB

[2017-09-09 09:57] dadoonet commented on #26558
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-09-09 09:57] #26558 closed

[2017-09-09 12:39] Abhishekshukla02 opened #26559 "MapperParsingException[failed to parse]; nested: NumberFormatException[empty String]"
when latitude and longitude is empty or null getting the Numberformatexception, I have also checked with ignore_malformed: true this is also no working. latitude: type: double index: not_analyzed longitude: type: double index: not_analyzed

[2017-09-09 12:40] Abhishekshukla02 opened #26560 "Symfony+mongodb+ODM get the records group by month , date format in db “2017-09-08”"
Symfony query not working for mongodb+ODM, here is the query that i am using but something wrong to with the format.

$getRecordForMonth = $this->get('doctrine_mongodb.odm.default_aggregation_query') ->getCollection('AppBundle:project')->createAggregateQuery() ->group(['_id' => ['substr' => ['$createddt', 5, 2], 'count' => sum(1)]);

Here is the mongo query but while converting in symfony2,not abl

[2017-09-09 12:43] #26560 closed

[2017-09-09 16:40] risdenk opened #26562 "vagrantVersionCheck should support Vagrant 2.x"
**Describe the feature**:

Vagrant 2.0.0 was released on September 7, 2017. The `vagrantVersionCheck` only checks for 1.8.x and 1.9.x versions.

[2017-09-09 17:05] jasontedor commented on #26562
For future reference we do not require issues for PRs. As long as the PR motivates the change, we are happy.

[2017-09-09 19:27] #26562 closed

[2017-09-09 19:50] cbuescher commented on #26557
Elastic reserves GitHub for bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co) and [IRC channels](https://www.elastic.co/community) for general questions like this.

[2017-09-09 19:50] #26557 closed

[2017-09-09 20:06] cbuescher commented on #26559
Hi,

this works as expected in 5.5.3:

[code]

Please provide a concrete ES version together with a full recreation of the problem if you continue having this problem. I will close this for now, if you still have trouble you can try the [Discourse forum](https://discuss.elastic.co) and [IRC channels](https://www.elastic.co/community), or reopen if you can provide a way to reproduce your exception.

[2017-09-09 20:06] #26559 closed

[2017-09-09 21:38] arunagar commented on #26555
i would like to pick this up as my first PR, do i have to assign this to myself  to start working on it ?

[2017-09-10 06:30] sysr-q commented on #21185
Big :+1: from me on configurable buffer size. Have been doing a reindex-from-remote of 21million odd documents, where most are tiny, but there are a few big ones peppered in to make my life fun. Have to run a small batch size -- like egyptianbman, constantly trying again with smaller and smaller until I find one that doesn't eventually die -- as well as babysit it to make sure it doesn't stop with

[2017-09-10 10:51] webattitude opened #26567 "repository-gcs plugin not working : service account not readable"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.1.2, Build: c8c4c16/2017-01-11T20:18:39.146Z, JVM: 1.8.0_111

**Plugins installed**: []
analysis-icu
repository-gcs
x-pack

**JVM version** (`java -version`):
java version "1.8.0_111"
Java(TM) SE Runtime Environment (build 1.8.0_111-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.111-b14, mixed mode)

[2017-09-10 10:56] jasontedor commented on #26567
This is not a bug. When you install from a package distribution, configuration goes in /etc/Elasticsearch by default.

[2017-09-10 10:56] #26567 closed

[2017-09-11 00:49] luckydonald commented on #17511
@clintongormley, can you please reconsider this issue after people expressing a need for it to do it (only) in queries?

As elastic search is already having a parser for queries, building a *hopefully* identical parsing parser for the query string in the frontend application, just to be able to *hopefully* safely replace a fields name for that query (not anywhere else), seems to be a bad idea, rea

[2017-09-11 00:55] KodrAus commented on #10981
Is there any new thinking on supporting h2? It seems like a fruit hanging so high it'll probably take a magic beanstalk to reach, but I'm interested in any thoughts you might have on the cost-benefit equation. I imagine there are bigger wins in first-class client support and alternative APIs that take advantage of more stream-oriented connections in supporting h2 within Elasticsearch itself over j

[2017-09-11 02:55] geekpete commented on #14576
Might be good to also note which specific stats might be referencing the parent host machine vs the stats of a docker container hosting the node where applicable.

[2017-09-11 02:58] geekpete commented on #14576
Seems related or possible duplicate: https://github.com/elastic/elasticsearch/issues/22199

[2017-09-11 03:57] johtani commented on #26519
We have changed analysis registration in 5.0.
We had different registration logic between prebuild and factory.

I think this bug is related removing ["KuromojiIndicesAnalysis" ](https://github.com/elastic/elasticsearch/blob/2.4/plugins/analysis-kuromoji/src/main/java/org/elasticsearch/indices/analysis/KuromojiIndicesAnalysis.java) .

In KuromojiIndicesAnalysis, we called getDefaultStopTags() in [

[2017-09-11 06:04] danielmitterdorfer commented on #26339
I have to admit, I misread this instruction (reading assembly is not something I do every day ;) ). Your explanation is much more sound to my as to why we have such a huge cost.

That makes perfect sense to me and also solves the second part of the puzzle. Thanks a lot for your explanations @nitsanw. I really appreciate it.

[2017-09-11 06:13] thg303 commented on #20664
is it going to be fixed or what?

[2017-09-11 06:50] avdv commented on #26519
Yes, I think you hit the nail on the head! @johtani

But, how could this be fixed? Move the initialization of the part-of-speech anlyzer into the factory and call getDefaultStopTags if the `stoptags` setting is `null`?

[2017-09-11 07:07] johtani commented on #26519
I think if the `stoptags` setting is null or not exists, call getDefaultStopTags in KuromojiPartOfSpeechFilterFactory constructer.

[2017-09-11 07:44] martijnvg commented on #26555
@arunagar You can just open a PR and we can then work on get your change in. No one from Elastic is working on this yet as it hasn't been assigned yet.

[2017-09-11 08:04] varunsharma27 opened #26570 "Possibility to add new ordering scheme for Aggregation results."
When using "term" bucket aggregation, the data can be ordered by term in Ascending order or in descending order. There is no other option available. Like :- Ordering based on day of week.
This feature would also solve problems like [#10543](https://github.com/elastic/kibana/issues/10543)
Is it something which can be implemented via a Plugin? If so then how can I attach my Ordering logic?

[2017-09-11 08:14] taitaro commented on #22912
Any news? The new Lucene version mentioned above is already merged.
Are there any other requirements to solve this issue?  It would be great if there were any updates.

[2017-09-11 08:31] jpountz commented on #22912
See https://github.com/elastic/elasticsearch/pull/26496 cc @jimczi

[2017-09-11 09:44] hienchu opened #26571 "Aggregate on _parent field not working with 5.5.2"
I am running on ES 5.5.2, the example mentioned here [aggregating on the _parent field](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-parent-field.html#CO199-2) is not working. I tried on ES 5.4.0 and it works as expected.

[2017-09-11 09:49] jimczi commented on #22912
The Lucene option mentioned above will be available in 6.1:
https://www.elastic.co/guide/en/elasticsearch/reference/master/search-suggesters-completion.html#skip_duplicates

This doesn't change the design of the completion suggester which will remain document based.
So it is still recommended to maintain an index for the completion suggester which has one document per suggestion but this option ca

[2017-09-11 09:57] hienchu commented on #26571
Should have go through existing issues....
I tried aggregate on "_parent#[parent_type]" and it works. So this is very likely to be broken by some changes around this.

[2017-09-11 10:11] bra-fsn commented on #26293
@bleskes: coming from https://github.com/elastic/elasticsearch/issues/25863, I've sent the logs to you in e-mail.
We are somewhat afraid of the current situation, because with time passing, the only viable solution will be to switch to ES6+ to see whether the problem has been resolved or not, which has netty3 removed, so we will be in a tough situation without any fallback to a working setup.
Plea

[2017-09-11 10:37] #22912 closed

[2017-09-11 11:25] jimczi commented on #26555
This is solved tangentially by https://github.com/elastic/elasticsearch/pull/26552 because the `query_string` uses the new signature of `MappedFieldType#rangeQuery`. As a side effect the `query_string` will default to `intersects` when building a range query on a range field.
`simple_query_string` does not handle range query (there is no syntax for it) so the only thing to do here would be to add

[2017-09-11 11:42] #26546 closed

[2017-09-11 12:04] costin3141 commented on #22406
I also see the same error as in the op but without any cause exception. Actually since we use more than one elastic search client connection we have A HELL OF A LOT trouble with elastic search client code. keeping one connection open but idle results in out of memory after some time and we get various other exception. The client code is very very instable and to what i've seen yet far to big and c

[2017-09-11 12:13] uschindler commented on #22912
Nevertheless: My initial request in this issue was the following: Let the "new" completion suggester live as it is and keep it document based.

My proposal was to add "the old behaviour" available as a separate field type. My plugin located at https://github.com/uschindler/es-legacy-completion-plugin is exactly doing this. It allows to define a field with type "legacy-completion" and this is then

[2017-09-11 12:22] danielmitterdorfer commented on #26339
I've run final benchmarks now. It's the same benchmarking scenario as always but I'll summarize it here.

### Benchmark Setup and Methodology

* Load driver machine: c3.8xlarge, Ubuntu 16.04
* Target machine: i3.16xlarge, Ubuntu 16.04

Elasticsearch is configured to use 8 data paths (ext4-formatted) and 31 GB heap size. Before each trial run, we wipe the disks and run TRIM.

`config/elasticsearch.

[2017-09-11 12:27] jasontedor opened #26573 "Decouple global checkpoint sync from a shard falling idle"
Global checkpoints are inlined with replication operations. This means that a replication request from a primary to a replica carries the global checkpoint on the primary to the replica who then updates its local knowledge of the global checkpoint. There's a problem though in that the replica will always be lagging. Consider the last indexing operation on a shard. This operation will carry the glo

[2017-09-11 12:35] javanna commented on #25175
Closing due to lack of feedback. I think duplicating is not a good solution. It will cause more confusion, and probably the two pages will go out-of-sync. Feel free to reopen with more feedback and/or alternative proposals.

[2017-09-11 12:35] #25175 closed

[2017-09-11 12:39] tlrx commented on #26271
I think that:
- the mapping must be explicit for the `packet_size` field and mapped as a `double` (the dynamic template defaults to the dynamic type detection, which depends of the value received for the 1st document)
- the content sent to Elasticsearch must be valid doubles

It should be OK. I don't see this as a bug since the type detected for the field really depends of what is sent for the fir

[2017-09-11 12:39] #26271 closed

[2017-09-11 12:41] jakommo commented on #25175
Sorry for the lack of feedback @javanna . I was on vacation and your post slipped through.
I had at least two users being confused by this, but I can also understand the issues that come with duplication.
I'll try to get more details on what's the confusing part, should I see another user struggling with this.

[2017-09-11 13:44] jpountz opened #26575 "Range queries on range fields accept `relation: disjoint` but treat it as `relation: intersects`"
This can be confusing since `disjoint` means the opposite of `intersects`.

[2017-09-11 13:49] agolomoodysaada commented on #17435
indices in cluster state
[code]

Tree output
[code]

Comparison results
[code]

Looks good now, right?

[2017-09-11 14:14] davekonopka opened #26576 "S3 snapshots with timeout failures after upgrade to 5.5.2"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.5.2

**Plugins installed**: []
discovery-ec2
repository-s3

**JVM version** (`java -version`):
java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Amazon Linux on EC2 instances
Linux 4.9.43-17

[2017-09-11 14:43] javanna commented on #12902
hi @anaghs yes this is still valuable. I marked it low-hanging-fruit but now that I look at it more closely, we don't have the indices info available when logging these lines, and adding it would require changing the `SearchContext` which may become a bigger change that I thought. That said, I am not sure that this is worth the effort.

[2017-09-11 14:44] EricMCornelius commented on #26408
Just hit upon this issue myself.  I agree with @jpountz  that interpreting "terminated_early" as indicating partial results is what most current users expect (given this only happens on "terminate_after" at present), so keeping that behavior intact with index sorting would be very much appreciated.

As for the special case, I imagine there might actually be many situations where users want to know

[2017-09-11 14:53] cyrilcyril70 commented on #14039
curl 'localhost:9200/_cat/indices?v'

health status index      uuid                   pri rep docs.count docs.deleted store.size pri.store.size
yellow open   assessment Us4-9BieRZWfPjfJzsbpgA   5   1       3314          120      1.1mb          1.1mb
yellow open   users      lwqbt16TTmSE1CCd5HfweQ   5   1       7088           21      7.5mb          7.5mb
yellow open   calendar   eOOGR3FBSLucl-mNjgo

[2017-09-11 15:00] javanna commented on #26455
You are right @tsachev this needs to be fixed.

[2017-09-11 16:00] jimczi commented on #22912
I don't understand why you could not use a separate index. Just create a `tags` index, set the _id of the document to be the tag name and create one document per tag with a completion field ? Why is this so complicated ?  In fact I am not even sure you need a completion field for that if your index is separated, just use the `prefix` and `fuzzy` rewrite options on a keyword field to match your nee

[2017-09-11 17:44] muralikpbhat commented on #26339
Thanks @danielmitterdorfer for taking this to a nice conclusion. Very interesting find of getAttribute() issue in [LUCENE-7963](https://issues.apache.org/jira/browse/LUCENE-7963)

Surprising that your lock-free implementation is not giving better performance with 64cores. Are you saying Translogwriter monitor lock needs to be fixed before we make this lock free or are there more issues than the Tr

[2017-09-11 18:47] hexinw commented on #26525
I changed the "min_doc_count" to avoid empty bucks in date histogram. I still run into the OOM problem. So I am actually not sure if solution discussed in #26012 would solve this problem. @colings86 @jimczi, could you comment?

Note I also tried out the "global_ordinals_hash" mentioned in #24359 and it didn't help, either

GET nusights_metric_cfs_collector_memcpu_stats_2017_*/_search
{
  "size" :

[2017-09-11 18:54] rjernst commented on #25690
Closed by #26579

[2017-09-11 18:54] #25690 closed

[2017-09-11 19:07] rjernst commented on #25242
This was addressed with #26033 and #26065

[2017-09-11 19:07] #25242 closed

[2017-09-11 19:33] UD1412 opened #26581 "Bug: Suggest request for a CustomSuggester fail with "ReduceSearchPhaseException" in Multi-DataNode scenarios."
**Elasticsearch version** (`bin/elasticsearch --version`): 1.7 and above

**Plugins installed**: []

**JVM version** (`java -version`): Jdk 1.8

**OS version** (`uname -a` if on a Unix-like system): Windows

**Description of the problem including expected versus actual behavior**:
The CustomSuggester needs to return a "CustomSuggestion" type of object which has some additional attribute in the 'Op

[2017-09-11 19:42] rjernst opened #26583 "Add qa test for unsupported index"
We currently have a single core integration test, RecoveryWithUnsupportedIndicesIT, which checks ancient indexes are not loadable, with an expected error message. However, the test was written for the upgrade to 2.0, and so deals with a 0.20 index.  We should instead have a qa test which builds an index using the last version before our full cluster restart supported versions, and checks the node

[2017-09-11 19:54] s1monw commented on #25577
@trevan `5.6.0` is out. If would be fantastic if you could report back on this.

[2017-09-11 20:16] updixit opened #26585 "Bug: Suggest request for a CustomSuggester fail with "ReduceSearchPhaseException" in Multi-DataNode scenarios."
**Elasticsearch version (**bin/elasticsearch --version): 1.7 and above

**Plugins installed**: []

**JVM version** (java -version): Jdk 1.8

**OS version** (uname -a if on a Unix-like system): Windows

**Description of the problem including expected versus actual behavior:**
Calling 'suggest' requests for a CustomSuggester works as expected when all shards are present on a single data Node. If the

[2017-09-11 20:32] #26581 closed

[2017-09-11 20:54] natelapp opened #26587 "Potential memory/cache problem in 5.5.2"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.2

**Plugins installed**: [x-pack (basic license)]

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system): CentOS 7

**Description of the problem including expected versus actual behavior**:

During periods of ingest using the bulk API (500 docs per request with a max of 5 concurrent requests) we're s

[2017-09-11 21:32] scottsom opened #26589 "Dynamic Secure Settings"
It is considered a [best practice](http://docs.aws.amazon.com/IAM/latest/UserGuide/best-practices.html#rotate-credentials) to regularly rotate AWS credentials.

When using the `repository-s3` plugin along with secure settings, it does not appear to be possible to change the credentials on the S3 client without restarting the node. Having to restart a cluster just to rotate credentials makes this p

[2017-09-11 21:36] aleph-zero opened #26590 "Weird grammar and typo in join field docs"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.6.0

**Plugins installed**: [] N/A

**JVM version** (`java -version`): N/A

**OS version** (`uname -a` if on a Unix-like system): N/A

**Description of the problem including expected versus actual behavior**:

https://www.elastic.co/guide/en/elasticsearch/reference/5.6/parent-join.html

This line is hard to parse due to grammar and forma

[2017-09-11 21:41] coderplay commented on #26339
My recent test on nyc_taxis with 5.5.2 is about 288K, but with different configuration. Will make another comparison later.

[2017-09-11 22:10] mvleandro commented on #12366
+1

[2017-09-11 22:18] rjernst commented on #26589
Refreshing from disk is not possible, due to how the keystore is loaded essentially as part of elasticsearch.yml (but from a secure source) when elasticsearch is started. Node settings are passed around and held onto all over the system during initialization. There is no mechanism to pass "updated" settings around, or what this would imply (for example, some node settings are used to construct ser

[2017-09-11 22:18] #26589 closed

[2017-09-11 22:31] dakrone commented on #13214
@wilofice unfortunately since `_all` has been removed, this issue is no longer needed, hope you haven't started yet!

I'm going to close this since `_all` is removed and the way that queries are rewritten for `query_string` and `simple_query_string` is different now for `*` versus `field:*`

[2017-09-11 22:31] #13214 closed

[2017-09-11 22:33] rjernst commented on #26548
@emmerich Can you please provide the actual stack trace for the IAE?

[2017-09-11 22:55] #26547 closed

[2017-09-11 22:57] rjernst commented on #20664
@thg303 This issue was fixed almost a year ago. If you are experiencing issues, please ask questions on [our forum](https://discuss.elastic.co/c/elasticsearch). We use github for feature requests and confirmed bug reports.

[2017-09-11 23:03] hexinw commented on #26525
I saw this cardinality aggregator memory usage model from ES 2.2 release. Is it still hold?

https://www.elastic.co/guide/en/elasticsearch/reference/2.2/search-aggregations-metrics-cardinality-aggregation.html#_counts_are_approximate

For a precision threshold of c, the implementation that we are using requires about c * 8 bytes.

If this is the case, memory estimate for default 'prevision_thresho

[2017-09-11 23:05] hexinw commented on #26525
Also feel free to close this issue if you guys think it is a dup. I went through some of the initial issues report in GitHub and Elastic discussions before opening up this ticket. Saw something similar but not sure they are exactly the same.