[2017-08-08 07:46] consulthys opened #26092 "Rollover improvement"
The addition of the [Rollover API](https://github.com/elastic/elasticsearch/issues/18647) has greatly simplified the management of time-based indices. Yet, the `_rollover` endpoint  still needs to be called in a recurring manner, either manually or via cron-based tool such as [Curator](https://www.elastic.co/guide/en/elasticsearch/client/curator/current/rollover.html).

However, it would be much s

[2017-08-08 07:59] javanna commented on #26086
Merging them is not an option, as there are users using low-level client only. I think the problem here is that some users are confused by having to do:

[code]

and then having to close the low level one. We could for instance make the high level client `Closeable` and have it close the internal low level client instance, so that the close part is less confusing.

Also, we could have a specialize

[2017-08-08 08:16] mikolaje opened #26093 "can not change built-in x-pack password caused by NullPointerException"
[code]

I  just post the request as below:

[code]

[2017-08-08 08:25] tlrx commented on #26086
I agree with Luca's comment. If having two clients to manage is confusing then we can provide a closing method in the high-level client that takes care to close the underlying low-level client, but I'm against merging the code of the 2 clients together for the same reasons already mentioned.

I also think that providing a specialized constructor would make things even less confusing for people usi

[2017-08-08 08:37] dadoonet commented on #26086
@tlrx I agree that having 2 clients has been a bit painful when I updated the spring-elasticsearch project (https://github.com/dadoonet/spring-elasticsearch/pull/123) as I had to reference the low level one with something like:

[code]

or

[code]

So definitely I'm +1 for having the high level client as a Closeable one with a way to build it more easily.

I just wonder why actually we don't have:

[2017-08-08 08:43] jpountz commented on #9726
Most likely you were running a scroll search and waited for too long between two consecutive calls and the context was deleted on the Elasticsearch side in order to reclaim resources.

[2017-08-08 08:45] #7601 closed

[2017-08-08 08:58] danielmitterdorfer opened #26095 "Percentiles aggregation allows multiple methods"
**Elasticsearch version** (`bin/elasticsearch --version`): git revision 82fa531ab4 (HEAD revision as of now) but this behavior can be reproduced also with Elasticsearch 5.x.

**Description of the problem including expected versus actual behavior**:

The percentiles aggregation allows to use the `t-digest` or `HDR` histogram approaches. Although they should be mutually exclusive, it is possible for

[2017-08-08 09:03] jpountz commented on #25539
I tried the following recreation and things work as expected:

[code]

which returns

[code]

Can you confirm that this recreation fails in your environment?

[2017-08-08 09:08] tlrx commented on #26086
@dadoonet Yes, I expect Spring users to do something like this. To be honest I don't see this as painful because it is very common to define a low level object (like a data source) that is used by another one at a higher level in the application layers (like a DAO or something). I also think that most user will define custom timeout values for their production platforms.

Having the `RestHighLevel

[2017-08-08 09:16] javanna commented on #26086
This may just be a naming issue after all. I see the high-level client as a wrapper more than an extension. They should be two separate objects, and high-level uses/depends on low-level. The concept is: low-level handles connections and sends requests, while high-level takes care of requests marshalling and responses un-marshalling.

[2017-08-08 09:19] jpountz commented on #26022
I am assuming that you are seeing cache misses, but also cache hits? If this is actually the case then it is due to the query cache policy to not cache queries on small (less than 10k docs) segments that are unlikely to live long. There is nothing to worry about, such small segments are fast to search anyway.

If your index only gets updated once a day, you could consider running a force-merge wit

[2017-08-08 09:19] #26022 closed

[2017-08-08 09:30] dadoonet commented on #26086
At the end of the day, I often have to use the high level methods and the low level methods when something is not exposed yet by the high level client (create an index for example).

For now I write something like:

[code]

So I need to have access to the Low Level client. Which means that if we don't extend the Low Level client, then we need to provide a getter to have an access to the low level

[2017-08-08 09:39] cbuescher commented on #26086
This makes sense, I think keeping track of both LL and HL client references complicates things a bit. I think a getter would be better a better solution than `RestHighLevelClient extends RestClient` though, for the same reasons @tlrx and @javanna mentioned. Maybe another option would be to make `RestClient` an interface that only exposes the functionality that the HL client also needs and then hav

[2017-08-08 10:41] tvernum commented on #26093
This repository is specifically for open source elasticsearch.
Since this is an X-Pack issue, please raise your issue on the [discuss forum](https://discuss.elastic.co/) instead.

Thank you.

[2017-08-08 10:41] #26093 closed

[2017-08-08 10:58] cbuescher commented on #26092
Hi @consulthys, thanks for the feedback. I'm not too familiar with the cost of rolling over and index, but it could potentially affect other index/search operations on the cluster so my guess is its a better option to not make this an automatic thing. I will mark this feature suggestion as a discussion topic so others can chime in.

[2017-08-08 11:09] cbuescher commented on #26091
Hi @donvanf, thanks for raising this question, I can see why this might be confusing. However, Elastic reserves GitHub for bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co) and [IRC channels](https://www.elastic.co/community) for general questions like this. I'd like to ask you to raise this question there again and will close this issue.

[2017-08-08 11:09] #26091 closed

[2017-08-08 11:15] cbuescher commented on #26087
Hi, are you doing any other operation on the cluster prior to starting snapshoting? From the first loglines it looks there is some GC going on already, any idea what might be going on at that point? Also please explain what you mean by "60+GB of memory", from the above info it looks like your JVM gets 16GB (which I think should be enough).

[2017-08-08 11:27] consulthys commented on #26092
Thanks for your feedback @cbuescher. If there is some overhead, it would of course be a "performance vs simplicity" tradeoff that the user can decide to accept or not. If no `rollover` setting is present in the alias at index creation time, then the behavior would be the same as now, of course.

[2017-08-08 12:16] byronvoorbach commented on #14229
Hey @martijnvg!
Do you guys have an idea on when you're releasing 5.5.2? At one of my clients, I was just about to upgrade the whole street to 5.5.1 (thinking it contained [#25864](https://github.com/elastic/elasticsearch/pull/25864)).
Would prefer to take the 5.5.2 if release is not too far in the future

[2017-08-08 12:16] s1monw commented on #26092
@consulthys the main issue here is not performance but rather the missing back-channel. What do you do if there is an error? How do you communicate this to the user? We can continuously log stuff to disk but there is quite some stuff involved when we are rolling over an index. Having a request response model is quite appealing for testing and error reporting.

I spent quite some time thinking abou

[2017-08-08 12:39] consulthys commented on #26092
Thanks for your insights @s1monw, much appreciated! I understand the challenge now.

So the problem would basically boil down to a rollover not happening (even though it should based on the rollover conditions) because of some underlying issue that needs to be communicated to the client. Response headers, as you suggest, could be an idea, but how about adding another `rollover` section inside the

[2017-08-08 12:54] dadoonet commented on #26086
I think that would be a very good compromise.

[2017-08-08 13:09] s1monw commented on #26092
yeah so from an API perspective I think it would be nice to not mix the two together. But I have no good answer for this. I think there is room for improvement and I wonder what @clintongormley thinks about this. I will mull on that a bit longer..

[2017-08-08 13:13] cbuescher commented on #26083
@Matthour this is indeed interesting, I just tried it on 5.2.2 and there `_count` and `_search` still give the same respone (a 400 with "parse_exception") when the request body is `""`.
Starting with 5.3.0, `_search` still returns 400 ("parse_exception") but `_count` doesn't return.

[2017-08-08 13:16] #22763 closed

[2017-08-08 13:38] sschwell commented on #19415
So at the moment, the best solution is @ctron 's cluge (thanks @ctron !!) ?
Or am I missing something in this too long thread?

[2017-08-08 14:14] martijnvg commented on #14229
@byronvoorbach If you're on a version older than 5.5.0 then it makes sense to upgrade to get a performance boost with inner hits, otherwise waiting for 5.5.2 to be released makes sense. I suspect it will be released in a week or two.

[2017-08-08 14:26] byronvoorbach commented on #14229
@martijnvg Thanks for the quick reply, upgrading now it is 👍

[2017-08-08 15:15] s1monw commented on #25506
I am interested in how this would look like especially on the response side. Would we simply return a list of response and internally just resolve the wildcard on the rest layer and then send N individual requests? I think that could work but I really don't want much of a special handling internally to support this.

[2017-08-08 15:38] martijnvg commented on #23090
@mattweber I think this bug fell through the cracks. I'll look into it right away.

[2017-08-08 15:39] andy-elastic commented on #16347
@javanna would it be helpful to have another person on this? (I see there are already a couple assignees)

[2017-08-08 15:58] jpountz opened #26100 "Scripted analysis components"
If you have specific analysis needs, the only way to do it today is to write a plugin. This is quite some work since the plugin needs to be rebuilt for every release so it might be a bit frustrating if your needs are simple.

We could give users the ability to write custom analysis components using scripts so that such simple needs could be addressed with a vanilla installation of Elasticsearch.

[2017-08-08 16:23] javanna commented on #16347
@andy-elastic yes it would be helpful, @colings86 made quite some progress on this recently, see #25771

[2017-08-08 16:52] samuel-miller commented on #26087
The underlying host has 60+ GB of memory; if the answer is bumping the JVM settings to something higher than 16GB, that isn't a problem. However, I've read that diminishing returns severely impact anything over 32GB, so I don't really want to do that, unless it will fix the problem.

Yes, when I start ES on the host, ES began by initiating 150+ GC threads. I was using this host to also run Logstas

[2017-08-08 17:28] sschwell opened #26101 "Wish Strings.toString() would prettyPrint() the JSON to make it human readable"
title says it all.

[2017-08-08 19:02] cbaird1911 opened #26103 "minimum_should_match not working"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.1

**Plugins installed**: [icu plugin]

**JVM version** (`java -version`): 1.8.0_131

**OS version** (`uname -a` if on a Unix-like system): Linux carl 4.11.12-200.fc25.x86_64 #1 SMP Fri Jul 21 16:41:43 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
minimum_should_match

[2017-08-08 19:07] nik9000 commented on #26103
@polyfractal, since this is from the guide, would you like to have a look and see if it is a change that'll have to make it's way into the guide?

[2017-08-08 20:52] cbuescher commented on #26101
You're not alone, there is going to be another `Strings.toString()` method soon that takes pretty-print and human readyble options: https://github.com/elastic/elasticsearch/pull/25866
With that little enhancement on its way I hope you don't mind closing this issue.

[2017-08-08 20:52] #26101 closed

[2017-08-08 20:54] ethteck opened #26105 "SearchContext to be accessible from ScoreFunctions"
I work on an ES plugin in which we would like our ScoreFunction to be able to view the TopDocs returned so far. We used to get at this from the SearchContext, which we can no longer do as of 5.1.1.

Is it possible for SearchContext to be accessible from LeafScoreFunction / ScoreFunction ?

[2017-08-08 20:56] dadoonet commented on #26105
For the record, same thread as https://discuss.elastic.co/t/accessing-topdocs-from-a-leafscorefunction/96336

[2017-08-08 21:14] dadoonet opened #26106 "Document how to import Lucene 7.0.0-snapshot-00142c9 libs when using HLClient"
When using the High Level Rest Client 6.0.0-beta1, we are missing some transitive dependencies for Lucene as Lucene 7 has not been released yet. See the following `pom.xml`:

[code]

It gives:

[code]

We need to add some temporary documentation on how to add the missing repository to a gradle or maven project:

[code]

[2017-08-08 21:34] varundbest commented on #25153
@WojciechLuczkow Mind Sharing your findings?

[2017-08-08 23:17] polyfractal opened #26107 "[CI] InternalGeoBoundsTests#testEqualsAndHashcode fails because mutation equals original"
Reproduces consistently for me.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/3842/console

[code]
[code]

[2017-08-08 23:51] polyfractal opened #26108 "[CI] DiscoveryWithServiceDisruptionsIT#testAckedIndexing fails with IndexNotFoundException"
Did not reproduce for me in 50 runs.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+aggressive-opts/46/console

@bleskes is this up you're alley?

[code]

[code]

[2017-08-09 06:06] WojciechLuczkow commented on #25153
@varundbest

It is all above :) In build.gradle section repositories add mvnCentral next to jcenter() so it will be
repositories {
mavenCentral()
jcenter()
}

[2017-08-09 07:44] satwik19 commented on #10259
Hello, my elasticsearch version is 5.2.2 and java version is 1.8, I tried to run a program but I got this error:
Exception in thread "main" java.lang.NoClassDefFoundError: org/elasticsearch/plugins/ActionPlugin
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)

[2017-08-09 07:48] satwik19 commented on #10259
plzz tell me what i do? to solve this problem

[2017-08-09 07:54] dadoonet commented on #10259
Explain your problem on discuss.elastic.co with all details.

[2017-08-09 08:34] jhberthemet commented on #26060
You're right, and in the end that's not really the root of my problem. The problem is that upsert is creating a new document whereas one already exists in an other index.

Would it be possible for upsert to keep updating the exiting document in the other index? I'd propose that if you upsert on the alias (that is not possible today) it will search for the doc in all indexes and update in the found

[2017-08-09 08:59] jonben-fw opened #26110 "Unexpected behavior using Boolean expressions with minimum_should_match in a query_string query"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):5.5.1

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_66

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:

I get the impression that Boolean expressions in the query are ignored/not working properly i

[2017-08-09 09:12] cbuescher commented on #26107
@polyfractal @nknize I had a look at something very similar the other day, so I can take it.

[2017-08-09 09:40] javanna commented on #26106
thanks for testing this @dadoonet . Does the transport client have the same problem?

[2017-08-09 09:49] jimczi commented on #26110
@jonben-fw we reserve GitHub for bug reports and feature requests but provides a Discourse forum and IRC channels for general questions like this:
https://discuss.elastic.co/c/elasticsearch
To answer your question, `minimum_should_match` only applies to optional clauses so doing `bbb OR aaa` with `minimum_should_match: 100%` is equivalent to `bbb AND aaa`. The default operator in your example is n

[2017-08-09 09:49] #26110 closed

[2017-08-09 09:52] jimczi commented on #26103
I opened an issue for this some time ago:
https://github.com/elastic/elasticsearch-definitive-guide/issues/619
The behavior has changed in 5.x, the `ngram` token filter assigns the same position to all ngrams which makes the query parser think that the different ngrams are synonyms of each other. The solution is to use an `ngram` tokenizer instead.

[2017-08-09 09:52] #26103 closed

[2017-08-09 09:55] satwik19 commented on #10259
i will check there.
Thanks

[2017-08-09 10:04] jimczi commented on #26105
The solution described in the forum should suit your needs so I am going to close this issue. Accessing the score of the query directly through `subQueryScore` is much cleaner than `SearchContext.current` so there is no regression here.

[2017-08-09 10:04] #26105 closed

[2017-08-09 10:14] jonben-fw commented on #26110
Ok, then I misunderstood how minimum_should_match is supposed to work, thank you for your answer and sorry for reporting this as a bug.

[2017-08-09 10:26] markharwood commented on #26013
One remaining question is how should the strict=true setting be interpreted in the context of the [validate query API](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-validate.html)? The api looks to allow multiple indices in the URL but in the reference docs claims it arbitrarily picks only one of the shards to test the query against.

[2017-08-09 10:38] jimczi commented on #26013
The validate query picks one shard per index so if you have multiple indices in your query it will send one request per index and the answer contains an entry for each index. There is also a new parameter since 5.4 called `all_shards` that send the query to all shards rather than picking a random one. Though this is not relevant for your use case since all shards in an index have the same mapping

[2017-08-09 10:51] markharwood commented on #26013
Thanks for the clarification @jimczi , that makes things simpler.

[2017-08-09 11:07] fred84 commented on #25506
@s1monw  Yes, I think it will be array of responses, e.g.
[code]
I worry about breaking API compatibility with existing users. Maybe we should add flag to request (e.g. "enable_multiple_aliases"). If this flag is not set, then wildcards and aliases lists will be forbidden.

As for implementation, I think we can modify TransportRolloverAction.masterOperation so it iterate over aliases, collect resp

[2017-08-09 11:14] bczifra opened #26114 "[docs] Clarify remote reindex api documentation to indicate that slicing isn't available"
The Reindex from Remote [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html#reindex-from-remote) doesn't make note of the fact that Reindex from Remote doesn't support slicing, despite the fact that Reindexing locally [does support it](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html#docs-reindex-automatic-slice).  See

[2017-08-09 11:50] goodfella1408 opened #26116 "Multi get API does not honor the alias routing if alias without custom routing are also present"
Bug report

Elasticsearch version : 2.4.4

Plugins installed: [marvel,licence]

JVM version: 1.8.0_111

OS version:14.04.1-Ubuntu

multi get API does not honor the routing in alias

 1. Create a ES index (lets say index_name) with a alias (at this point only create alias without custom routing) - alias_without_custom_routing
 2. Index some documents using alias_without_custom_routing
 3. Now creat

[2017-08-09 12:06] robertoandrade opened #26117 "HTTP/REST Client API compatibility with Abstract Client Interface"
I'm not sure why the decision to make the REST Client incompatible with the existing Abstract Client Interface that both Transport and Node Clients abide by so you can easily switch clients depending on what protocol/transport layer you want to use, but have since found a [neat project](https://github.com/jprante/elasticsearch-client-http) that tries to make that a reality and was wondering what t

[2017-08-09 12:32] PnPie commented on #25359
Hello,

I've had a look at the index name resolver in `TransportCreateSnapshotAction` and it seems it works well. What is very strange is that I created a test function in `SharedClusterSnapshotRestoreIT` in which I just passed a missing index for the creation of a snapshot:
[code]
And it does throw an `IndexNotFoundException`:
[code]
But when I test it on Elasticsearch it was passed with no error

[2017-08-09 12:59] nik9000 commented on #26117
My understanding (@javanna is more authoritative here) is that we intentionally wanted to break from the `Client` interface because it was fairly confusing (#9201). For me it'd be useful to have something that implements the `Client` interface for testing and migrating but I understand the logic of wanting the break with the interface. I believe we haven't implemented that shim layer to the `Clien

[2017-08-09 13:15] javanna commented on #26117
thanks @nik9000 for the concise yet complete explanation. Have a look at #9201 to see some more opinions and reasons behind the decisions we made. We decided not to implement the `Client` interface for the reasons stated above, but to help users migrate from the transport client we have kept the same request and response objects. Have a look at the [migration guide](https://www.elastic.co/guide/en

[2017-08-09 13:15] #26117 closed

[2017-08-09 13:17] kopnok opened #26118 "cross cluster search - entire response failure although only one cluster down"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.5.1, Build: 19c13d0/2017-07-18T20:44:24.823Z, JVM: 1.8.0_131

**JVM version** (`java -version`):
openjdk version "1.8.0_131"
OpenJDK Runtime Environment (build 1.8.0_131-8u131-b11-2ubuntu1.16.04.3-b11)
OpenJDK 64-Bit Server VM (build 25.131-b11, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux zbook-15-G3

[2017-08-09 13:29] javanna commented on #26118
The same question was recently asked in our [forums](https://discuss.elastic.co/t/cross-cluster-errors-if-remote-cluster-cannot-be-reached/95355).

The problem you are facing is that none of the nodes are available in one of the remote clusters.

When doing a cross cluster search, one node per remote cluster is initially contacted to find out where the shards for such request are located. If this

[2017-08-09 15:59] ssesha commented on #25701
@javanna any updates on this issue or need more information?

[2017-08-09 16:14] talevy opened #26120 "[CI] full-cluster-restart BWC-Test fails because 6.0 is not released yet"
link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+bwc-tests/229/console

error message:

[code]

reproduce with:

[code]

Looks like this is somewhat expected until 6.0 is released, since the actual artifact is 6.0-beta2-SNAPSHOT

[2017-08-09 16:39] talevy commented on #26120
Closing in favor of https://github.com/elastic/elasticsearch/pull/26066

[2017-08-09 16:40] #26120 closed

[2017-08-09 17:09] talevy opened #26121 "[CI] InternalAggregationTestCase testEqualsAndHashcode fails"
something was mutated in the objects for these tests causing inequality

REPRODUCE WITH:
[code]

[code]

[code]

geobounds:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/1045/console

geocentroid:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=amazon/37/console
https://elasticsearch-ci.elastic.co

[2017-08-09 17:36] ethteck commented on #26105
I'm requesting that this be re-opened due to @rjernst's reply in the discussion linked earlier. The functionality of `subQueryScore` unfortunately does not satisfy what we are looking for.

In essence, we would like some way to get at the `SearchContext` now that the ability to get the "current" `SearchContext` is gone. Other things we prefer to be able to see that we used to get from the `SearchC

[2017-08-09 18:10] mhko opened #26122 "Histogram Aggregation for values of long type"
This is very similar to https://github.com/elastic/elasticsearch/issues/9545 but on histogram aggregation.

1. We have a field of 64-bit long type in our index.

2. Suppose that I add a doc with a value of 9223372036854775807 for the field.

3. With ES 5.x, a histogram aggregation query returns
`   "aggregations":{
      "longCount":{
         "buckets":[
            {
               "key":9.22337

[2017-08-09 19:36] sschwell opened #26123 "NoClassDefFoundError: org/apache/logging/log4j/core/config/Configurator"
Version: 5.5.1

We use slf4j for logging so I tried [this](https://logging.apache.org/log4j/2.0/log4j-to-slf4j/index.html) as a bridge. It works just fine for most cases, except for during testing where I use an embedded node, which throws the above exception.

I realize that embedded node is ["not supported"](https://www.elastic.co/blog/elasticsearch-the-server), but it is just too useful for aut

[2017-08-09 19:47] dsafaric opened #26124 "ElasticSearch 5.5 SearchScript - fields cannot be found within segments"
I am in the process of implementing a custom native `SearchScript` that produces a certain score at query execution. Given a term `x` the script should calculate a similarity metric against the set of documents within an index. The search script should be compiled and executed using a `ScriptEngineService` instance. The problem is however that given a field that has been defined explicitly using t

[2017-08-09 19:55] inqueue opened #26125 "Java client sniffing error with X-Pack and TLS: javax.net.ssl.SSLPeerUnverifiedException"
Elasticsearch 5.5.1

For sniffing, the Java client calls `_nodes/http` to fetch the value of `public_address`. It works when TLS is not enabled. However, this can break connectivity to Elasticsearch if TLS is enabled with X-Pack and the node certificate does not include a SAN (subjectAltName) having the IP address value of `public_address`.

[code]

* Can Nodes Info return the `publish_host` with

[2017-08-09 20:12] rtkmhart commented on #22788
Same with Elasticsearch 2.4.5, Oracle JVM 1.8.0_131, Ubuntu 16.04 LTS, linux-aws kernel 4.4.0-1028.37 which we believe has kernel 4.4.0.89-112.

[2017-08-09 20:30] nik9000 commented on #26123
We've been slowly migrating away from embedded testing where possible because it doesn't consistently give the same results as starting the server. I know in a lot of cases it is close enough but it has bitten us enough that we just don't think it is worth it. I also found it super useful for testing and fought the fight and lost.

I know that is super paternalistic. You are a professional and can

[2017-08-09 20:30] #26123 closed

[2017-08-09 21:01] #26107 closed

[2017-08-09 22:59] talevy opened #26129 "[CI] MixedClusterClientYamlTestSuiteIT fielddata issues"
could not reproduce, but CI is failing frequently on this.

link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/1046/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/3850/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=opensuse/1410/console

[code]

[2017-08-09 22:59] ppf2 opened #26130 "Provide index level indication when index.codec is set at the node level"
https://www.elastic.co/guide/en/elasticsearch/reference/5.0/breaking_50_settings_changes.html#_index_level_settings

Starting in 5.0, most index level settings cannot be set at the node level anymore, except for a few like `index.codec`.

The user experience of applying this at the node level can be improved.  For example, say an admin added `index.codec: best_compression` to the node configuratio

[2017-08-09 23:33] talevy opened #26131 "[CI] IndexRecoveryIT#testRerouteRecovery cannot find files"
There is a strange issue in `testRerouteRecovery` where certain expected metadata files cannot be found in the test instances.

CI run: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+aggressive-opts/546/console

reproduce:

[code]

snippets:

[code]

[code]

[consoleText.txt](https://github.com/elastic/elasticsearch/files/1213155/consoleText.txt)

[2017-08-09 23:53] talevy commented on #25680
happened again... not in java9

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+oracle-periodic/157/console

[2017-08-09 23:59] talevy commented on #25311
happened again: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+bwc-tests/42/console

[code]

[2017-08-10 00:39] inqueue commented on #22029
Also impacts sniffing in the Java client: https://github.com/elastic/elasticsearch/issues/26125

[2017-08-10 05:54] colings86 commented on #26121
The `InternalGeoBoundsTests` issue is fixed in https://github.com/elastic/elasticsearch/commit/566992d2a159ef0b9b1ce7cac0801b0c8e4e929e. I'll work on a fix for the other two tests now

[2017-08-10 06:09] #26121 closed

[2017-08-10 06:13] AI-PaaS opened #26132 "Java transport client doing chinese match query hit nothing"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 2.4.4, Build: fcbb46d/2017-01-03T11:33:16Z, JVM: 1.8.0_112
**Plugins installed**: []
ik, head
**JVM version** (`java -version`):
JVM: 1.8.0_112
**OS version** (`uname -a` if on a Unix-like system):
Darwin DoudeMacBook-Pro.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64

[2017-08-10 06:17] danielmitterdorfer commented on #24395
Another one also on 5.5: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.5+multijob-windows-compatibility/19

[2017-08-10 06:34] unknownlighter opened #26133 "inner_hits doesn't work inside indices query"
[code]

This query works fine and returns inner_hits in both ES 1.7 and 5.5:
[code]

This query works differently:
[code]

ES 1.7 result:
[code]

ES 5.5 result:
[code]

As you see ES 1.7 results contains inner_hits, but ES 5.5 doesn't

Tested ES versions:
[code]
[code]

[2017-08-10 06:53] dannymurphygfk commented on #25603
The issue has occurred again, after only 1 month of uptime.

** Correction - _msearch does exhibit the same issue.
We use our userIds with the _msearch as the preference and while 1 might consistently work... another will consistently fail.

Also adding this preference to the _search query e.g. **/product/_search?preference=2906** results in 1 preference returning correct results consistently and

[2017-08-10 07:14] elasticmachine opened #29800 "[CI] UpgradeClusterClientYamlTestSuiteIT fails with timeout (HTTP 408)"
*Original comment by @danielmitterdorfer:*

Build link: LINK REDACTED

Failure message:

[code]

Reproduction lines:

[code]

Failure rate: 145 times in CI in the last year (does not reproduce locally)

The reason for the timeout is probably:

[code]

This can be found several times in the LINK REDACTED.  For completeness, I've also attached the
LINK REDACTED

[2017-08-10 07:20] quanbiao opened #26134 "Received message from unsupported version: [2.0.0] minimal compatible version is: [5.0.0]"
hi, i install es5.5.0 in centos6.6 and java8, it start success,but the log output follow:
java.lang.IllegalStateException: Received message from unsupported version: [2.0.0] minimal compatible version is: [5.0.0]
can you help me?

[2017-08-10 07:54] dadoonet commented on #26134
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

Here you have something else running an old version.

[2017-08-10 07:54] #26134 closed

[2017-08-10 08:27] cbuescher commented on #26132
Hi, Elastic reserves GitHub for verified bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co) and [IRC channels](https://www.elastic.co/community) for general questions. Please ask questions like this in the forum where we can give a better support.

[2017-08-10 08:27] #26132 closed

[2017-08-10 08:34] AI-PaaS commented on #26132
Pls. reproduce this. i think it is a bug.

[2017-08-10 08:52] net1pei opened #26135 "Run error after Elasticsearch 6.0.0-Beta1 MSI install"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.0.0-Beta1

**Plugins installed**:
No

**JVM version** (`java -version`):
1.8.0_144

**OS version** (`uname -a` if on a Unix-like system):
Win7-SP1, 64 bit

**Description of the problem including expected versus actual behavior**:
1.  Install Elasticsearch 6.0.0-Beta1 MSI, URL:  https://artifacts.elastic.co/downloads/elasticsearch/elastic

[2017-08-10 09:08] dadoonet opened #26136 "Incorrect `_all` is disabled message"
On elasticsearch 6.0.0-beta1, I'm running the following code:

[code]

This gives in logs:

[code]

[2017-08-10 09:09] dadoonet commented on #26136
It's related to the fact I have here defined `default_search` analyzer BTW. Removing it does not cause any issue.

[2017-08-10 09:15] costin commented on #26133
I've been able to reproduce the issue (thanks for the nice instructions) and it looks like a bug related to index queries.
I think that, index queries being [deprecated](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-indices-query.html) (in 5.x and removed in 6), they somehow exclude the nested documents altogether from the results, hence why inner hits are empty (basica

[2017-08-10 09:22] xeraa commented on #25927
IMO this is because of a dependency from Spring Boot Autoconfig to Spring Data. If you are using Spring Boot 1.5 you will get the currently stable version of Spring Data (codename Ingalls), which has a hard dependency on Elasticsearch 2.4. You need to use the current development version of Spring Data (codename Kay) to get support for Elasticsearch 5.x. This version is included in the development

[2017-08-10 09:25] Mpdreamz commented on #26135
It looks like https://github.com/elastic/elasticsearch/pull/25943 bit us here afterall, only spotted this issue yesterday. cc @elastic/microsoft

Our integration CI tests had (10) pending commits and did not not run, even if it did it currently tests a fixed list of versions we need to inlclude latest snapshot here as well.

[2017-08-10 09:30] dadoonet commented on #26106
@javanna yes it does:

[code]

Gives:

[code]

I'm going to update my documentation PR then. Thanks for asking!

[2017-08-10 09:39] net1pei commented on #26135
@Mpdreamz Thanks。
I think the env variable name of ES_CONFIG is bettter than CONF_DATA, expect the new msi file.

[2017-08-10 10:23] #25978 closed

[2017-08-10 10:28] #24359 closed

[2017-08-10 11:15] ezamlee commented on #23650
I got the same issue where you able to solve the problem ?

--> Defining Index
PUT /sentiment
{
  "mappings": {
    "post": {
      "_all":       { "enabled": true  },
      "properties": {
        "Created_at":     {"type": "date" , "format": "ddd MMM DD HH:mm:ss ZZ YYYY"},
        "Hashtages":      { "type": "text" },
        "ID":             { "type": "text" },
        "Lang":           { "typ

[2017-08-10 11:33] martijnvg commented on #26133
@unknownlighter Thanks for reporting this bug. I'll merge a fix soon for this. Please note like @costin said, that you will have migrate away from the `indices` query at some point, because this query will no longer exist in 6.0 and up.

[2017-08-10 11:36] costin commented on #26124
Hi.

Your report looks like a question rather than a bug report. For that it's best to use our [forums](https://www.elastic.co/help) which we actively monitor (more than SO).
To confirm is there any data actual stored? Even if a mapping is defined, if no data is indexed, no data will be stored (see the isMissing query for example).

P.S. When cross-posting, it helps to reuse the relevant informati

[2017-08-10 11:47] jpountz commented on #26124
I just added a comment on the SO post. Closing since we strive to only use Github for confirmed bugs and feature requests.

[2017-08-10 11:47] #26124 closed

[2017-08-10 11:48] makeyang opened #26139 "[bug report]java.security.AccessControlException: access denied ("java.lang.RuntimePermission" "getClassLoader")"
Elasticsearch version:
5.5.1
Plugins installed: []
default
mmseg word
JVM version:
jdk1.8.0_60
OS version:
CentOS Linux release 7.1.1503
Description of the problem including expected versus actual behavior:
try to create class dynamic in plugin and it throws exception below:
Caused by: java.security.AccessControlException: access denied (“java.lang.RuntimePermission” “getClassLoader”)
at java.secu

[2017-08-10 11:57] net1pei commented on #26135
The CONF_DIR name is generic, it can be used for ElasticSearch, also for AlasticSearch, BlasticFind etc, but the ES_CONFIG is sepcific and frankly about ES.  I'm curious why select CONF_DIR?

[2017-08-10 12:03] jurim76 opened #26140 "Repo url is broken in Debian 8"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.1

**Plugins installed**: []

**JVM version** (`java -version`):  openjdk version "1.8.0_141"

**OS version** (`uname -a` if on a Unix-like system): Linux ld4-tda-log-04 3.16.0-4-amd64 #1 SMP Debian 3.16.43-2+deb8u2 (2017-06-26) x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

**Steps to repr

[2017-08-10 12:09] martijnvg commented on #26133
Fixed via #26138

[2017-08-10 12:09] #26133 closed

[2017-08-10 12:28] danielmitterdorfer commented on #25311
And again in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/45/console

[code]

The failing assertion checks whether versions of upgraded indices are present (i.e. not null). Attached are the cluster logs from the 5.3.3 on which the test has failed.

[cluster-logs.zip](https://github.com/elastic/elasticsearch/files/1214859/cluster-logs.zip)

[2017-08-10 12:54] #26106 closed

[2017-08-10 12:55] jakommo commented on #26140
@jurim76 I just tried and the curl works fine for me:

[code]

Maybe there was just a temporary glitch? Can you try again?

[2017-08-10 13:07] dadoonet commented on #26139
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

BTW read https://www.elastic.co/guide/en/elasticsearch/plugins/current/plugin-authors.html#plugin-authors-jsm

[2017-08-10 13:07] #26139 closed

[2017-08-10 13:21] dadoonet opened #26142 "HL Rest Client 6.0.0-beta1 is not full compatible with 5.5.1"
Let's say you have a 5.5.1 cluster running. You want to run a QueryString query on it with:

[code]

It fails because 6.0.0-beta1 QueryString object has now a `type` field which a 5.x version can not read:

[code]

Ideally the JSon serialization of those objects should take care of this compatibility and be aware of the version currently running.

If we don't fix it, it will mean that the HL Rest

[2017-08-10 13:27] Mpdreamz commented on #26135
Opened https://github.com/elastic/windows-installers/pull/70 to address this. Many thanks for reporting this one @net1pei 👍

[2017-08-10 13:31] jpountz commented on #26136
I could reproduce. Seaky...

[2017-08-10 13:37] jimczi commented on #26129
Fixed by https://github.com/elastic/elasticsearch/commit/15598f2174453fb65f23e18ecf77eee8e802459d

[2017-08-10 13:37] #26129 closed

[2017-08-10 13:53] jimczi commented on #26105
IMO the SearchContext is an internal thing that the function score should not be aware of. The fact that it was accessible before was I think not intentional (at least inside the implementation of a custom query).
If your function score depends on other factors (size or rescore) maybe you could simply copy them directly in your custom function score definition ? This would require some additional

[2017-08-10 13:59] #23090 closed

[2017-08-10 14:51] ethteck commented on #26105
Could you expand upon this? If there's any other way I can get at these things (TopDocs, size, rescore), that's really all we're looking to do.

[2017-08-10 15:02] jimczi commented on #26105
I am just saying that you could copy the size and the rescore definition in the function score and parse them in your custom function score. Regarding the TopDocs I don't understand how you could access them during the query since they are filled only at the end.

[2017-08-10 15:07] niemyjski commented on #21101
Is there any updates on this?

[2017-08-10 15:19] ethteck commented on #26105
Wouldn't this require users to enter these values twice, both in the query and again in the rescore function?

[code]

Or are you saying there's some way to access these already-parsed values from the ScoreFunctionParser?

The TopDocs have always been present for us in the past at rescore time, via the SearchContext. Haven't they already all been collected in a prior phase?

[2017-08-10 15:28] jimczi commented on #26105
Yes the idea is to copy these values in the function score definition like in your example.

I didn't understand that you were on the rescore side. So yep they are available in the context when doing the rescore but it seems weird to allow a rescore query to access them all at once since they will be pass to your function_score one by one for rescoring. What kind of informations are you extracting

[2017-08-10 15:49] dadoonet commented on #26142
Also got a similar type of error with:

[code]

Which gives once executed on a 5.5.1 cluster:

[code]

[2017-08-10 15:53] sschwell commented on #18320
I see that this was closed but I don't see a transpositions() method on MultiMatchQueryBuilder in 5.5.1
Am I missing something?
Is it possible to turn off transpositions on a MultiMatchQuery?

[2017-08-10 16:19] ethteck commented on #26105
Okay. While this is definitely a possibility, I'd say it's pretty inconvenient for the user and relies on them to remember to put the same things in multiple places in the query.

We look at the TopDocs.scoreDocs to get the original query scores, and we have a function that compute a minimum score threshold based off of these scores. We use this threshold to decide whether we should perform our ex

[2017-08-10 16:37] ethteck commented on #26105
Also, unfortunately, this isn't quite working either. I assume you're talking about the `subQueryScore` field in `LeafScoreFunction.score`. I [discussed this](https://discuss.elastic.co/t/accessing-topdocs-from-a-leafscorefunction/96336/4?u=ethanroseman) with @rjernst and he deemed that it's not giving us the score we actually want.

[2017-08-10 17:53] jimczi commented on #26105
Sorry I missed the discussion in the forum. Yes the `subQueryScore` is the score of the rescore query so in your case a `match_all` query.  I still don't think that accessing the information you want through the SearchContext is not the good solution. I am sure we can find something less hacky so let's continue the discussion here https://discuss.elastic.co/t/accessing-topdocs-from-a-leafscorefunc

[2017-08-10 18:30] #26017 closed

[2017-08-10 19:56] ferronrsmith opened #26148 "Cannot restore indices create with Elasticsearch 6.0.0-alpha2 in 6.0.0-beta1"
Cluster state remained red after upgrading to 6.0.0-beta1

curl localhost:9200/_cluster/allocation/explain

[code]

[2017-08-10 19:58] ferronrsmith commented on #26148
Performed a full cluster restart upgrade (https://www.elastic.co/guide/en/elasticsearch/reference/6.0/restart-upgrade.html#restart-upgrade), still fails.

[2017-08-10 19:58] andrewvc commented on #22029
@javanna / @jasontedor is there any plan to address this issue in ES? This is a pretty nasty situation we're in, where clients can't use TLS in the predominant way its used, with domains, when using sniffing, which is a feature we highly encourage our users to use?

Should I direct this issue to someone in particular?

[2017-08-10 19:59] nik9000 commented on #26148
This is somewhat expected. alphas and betas don't have backwards compatibility guarantees. They might work and they might not. You can go from 5.5.1 -> 6.0.0-beta2 but there isn't a guarantee that you can go from any alpha or beta to any other alpha or beta.

[2017-08-10 19:59] #26148 closed

[2017-08-10 20:12] jasontedor commented on #22029
You can direct it to me. I'm on the tail-end of a vacation and will be available again next Monday; I'll take a look when I'm back.

[2017-08-10 21:09] jlecour commented on #26050
Hi @danielmitterdorfer, thank you for you answer.

Providing a way to resolve 3-way merges of configuration files (like the main YAML file) is exactly why I brought this topic to attention.

Of course, confilcts can be resolved manually when dpkg finds that the file has changed from the default (which always happens, at least to customize the network and the cluster/node names).
Each time the conf

[2017-08-10 22:11] jama707 opened #26150 "TermsAggregationBuilder#size throws IllegalArgumentException with 0 as an argument value"
**Elasticsearch version** : 5.4

**Plugins installed**: []

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): All

**Description of the problem including expected versus actual behavior**: ES Guide here: [Returning only aggregation results](https://www.elastic.co/guide/en/elasticsearch/reference/current/returning-only-agg-results.html#returning-only-agg-

[2017-08-10 22:24] jama707 commented on #26150
My bad -

[2017-08-10 22:44] talevy commented on #26150
Hi @jama707, The way the documentation references `size` is definitely ambiguous. The `size` that
this page is referring to is that of the search's — not the aggregation.

Here is the `size` that the aggregation docs are referring to: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html#_parameters_4 (the size parameter).

Your reproduction step suggests you've

[2017-08-10 23:31] jasontedor commented on #26135
@Mpdreamz Please coordinate with me. It's been on my mind that we should change the name of the environment variable for this but I've not been wanting to for backwards breaking reasons. Yet, I still think we should so let's think about doing it now before it gets baked in all over the place (as it's taken on increased importance from the past). I'm out until Monday of week, can we sync then?

[2017-08-10 23:50] jama707 commented on #26150
I got it now. Thanks @talevy!

[2017-08-10 23:50] #26150 closed

[2017-08-11 00:58] buildlackey opened #26152 "problem with large-ish ES clusters on 5.4.1 that we are not able to reproduce on 2.x"
PLUGINS
-------
/apps/elasticsearch $ sudo bin/elasticsearch-plugin list
analysis-icu
analysis-kuromoji
mapper-murmur3
raigad-discovery
repository-s3

JAVA VERSION
-------------
  "1.8.0_131"

OS
--

uname -a
Linux es-mcelogs2-useast1-data-useast1e-i-08eda1e5c789e6467 4.4.0-81-generic #104-Ubuntu SMP Wed Jun 14 08:17:06 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

DESCRIPTION
-----------

We are seein

[2017-08-11 01:40] #26135 closed

[2017-08-11 02:11] zcola commented on #20298
2.4.4 will still appear, we use "_cat / indices" as node health monitoring

[2017-08-11 02:29] berglh opened #26153 "Reindex API: Reindex task es_rejected_execution_exception search queue failure"
### Environment
I have a 10 data node, 5 master only node cluster with the request handled by a data node. <br />The index in question has 5 primary shards and 1 replica.

**Product** | **Version**
---:|:---
Elasticsearch (Official Container) | 5.5.1 (Official Elastic Container)
Plugins | X-Pack Removed
OpenJDK | 1.8.0_141
Docker | 17.05.0-ce, build 89658be
Oracle Linux Server | 7.3
Kernel | Linux

[2017-08-11 03:36] jasontedor opened #26154 "Rename CONF_DIR to ES_PATH_CONF"
The environment variable `CONF_DIR` was previously inconsistently used in our packaging to customize the location of Elasticsearch configuration files. The importance of this environment variable has increased starting in 6.0.0 as it's now used consistently to ensure Elasticsearch and all secondary scripts (e.g., `elasticsearch-keystore`) all use the same configuration. The name `CONF_DIR` is ther

[2017-08-11 04:08] kirolos-kaldas opened #26156 "Weird calculation of the percentile ranks"
Hi,

I have the following list of data:
[22,22,25,26,2730,31,31,32,32,32,36,36,36,38,25,26,27,38,40]

when I use the following query to get the percentile ranks for the given values
{
"aggregations" : {
"agg" : {
"percentile_ranks" : {
"field" : "score",
"values" : [40, 40.5]
}
}
}
}

I get the following:
{
"took" : 5,
"timed_out" : false,
"_shards" : {
"total" : 5,
"successful" : 5,
"failed" : 0

[2017-08-11 06:00] Mpdreamz commented on #26135
@jasontedor absolutely, https://github.com/elastic/windows-installers/pull/70 brings us inline with main ES repos but changing the env var name and supporting a flag on the command line on Windows is something I would love to discuss.

I'll be in Australian timezone all of next week, I'll send out some suggested times today.

[2017-08-11 06:11] jasontedor commented on #26135
Sounds good. I'm leaving the Japan timezone unfortunately for US East Coast timezone so I know it will be hard to sync. I opened an issue for discussing this, maybe going async there would be best given the time zone mismatch we will have. See: #26154

[2017-08-11 07:39] Mpdreamz opened #26158 "Bring back command line switches for config and home directory"
I would like to open this for discussion but happy to fall in line with previous discussions. I realize I am not fully informed on the history around these changes.

We removed support for specifying `-E path.conf` and `--path.conf` in favor of setting `CONF_DIR` as per https://github.com/elastic/elasticsearch/pull/25943

On windows this leads to users having to specify the following on the comman

[2017-08-11 07:39] javanna commented on #26125
Depends on #22029

[2017-08-11 07:39] markharwood commented on #26156
The docs for percentiles and percentile ranks note that these are approximate and give [details behind this approach](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-percentile-aggregation.html#search-aggregations-metrics-percentile-aggregation-approximation).

You can always add a "max" aggregation to your request which will be accurate.

[2017-08-11 07:39] #26156 closed

[2017-08-11 07:42] Mpdreamz commented on #26135
Opened https://github.com/elastic/elasticsearch/issues/26158 to discuss the removal of the command line switches for `path.home` and `path.conf`. Enjoy :japan: :jp: 🙂

[2017-08-11 08:01] markharwood commented on #26153
That's a potentially dangerous assumption for us to make. Elasticsearch is not in a position to assume which functions are the most important to your business (servicing public-facing searches vs running a background reindex task).

I'm confused by your exhaustion of search queues. Unless you are using [slicing](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html#docs

[2017-08-11 08:05] danielmitterdorfer commented on #26060
I really hear your need. However, I think there are a couple of problems that prevent to allow aliases in upsert operations:

1. An id can only be unique within an index. What happens if we find multiple documents with the same id?
2. If we do not find any document, we need to insert it into an index. You propose to use the "latest" one but Elasticsearch has no notion of "latest index". Yes, there

[2017-08-11 08:32] jurim76 commented on #26140
Looks like proxy issue. Closed

[2017-08-11 08:32] #26140 closed

[2017-08-11 08:47] s1monw commented on #25506
with rest we can start render both ways the the user if there is only one alias that matched. That way both APIs can be used at the same time. don't worry about the java API

[2017-08-11 09:17] jakommo opened #26162 "Index created on 2.x causing "unsupported_operation_exception" in 5.x when used for sorting"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.0

**Plugins installed**: []

**JVM version** (`java -version`): Java 8 u131

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

## Create index in 2.x (I used 2.3.4)

[code]

## Upgrade to 5.x (I used 5.5.0)

The query

[2017-08-11 09:55] jhberthemet commented on #26060
1. I would consider that as an error and an improper usage of upsert on alias and throw an exception. What would happen for a search on the alias, would it return two documents with the same _id?
2. When I said latest, I meant the one the alias is currently pointing to, like it's done for an index operation on an alias.

Everything else is working well with Elasticsearch for us, I don't think the

[2017-08-11 10:19] markharwood commented on #26162
Note: The point of referencing 2.3.4 in this issue is not to show "this used to work, now it doesn't".
It seems the bug only manifests itself on indexes that have undergone a 2.3.4 - > 5.x upgrade step. I tried setting up these indices from fresh on 5.5 without performing the 2.3.4 upgrade and queries were OK.
I suspect it's quite an edge case with the combination of default mappings, upgrades and

[2017-08-11 10:34] javanna commented on #26142
What is the purpose of using the 6.0 client to communicate with a 5.5 cluster? I think that is because we haven't released yet 5.6 hence the 5.6 client is not out yet?

In general, when upgrading a cluster one would upgrade all the nodes and then the client last, so forward compatibility is important, which is the opposite: 5.6 client that talks to 6.x cluster. Forward comp also works up to a cert

[2017-08-11 10:46] markharwood commented on #17997
There's an added wrinkle to entity-centric updates that makes it unlike a reindex.
Ideally multiple events for the same entity are incorporated into a single update for efficiency's sake. Think of the flurry of weblog events generated by your browser opening this webpage and requests to load html/css/js/images etc. We don't want a one-to-one correlation between logged events and update operations

[2017-08-11 10:58] dadoonet commented on #26142
Let say I'm building an application which communicates with an elasticsearch 5.6 cluster.
I'm using the 5.6 Rest Client. So good so far.

Then, I know that elasticsearch 6.1 has been released and I want to prepare my application to be ready for it.
So, I take the 6.1 Rest Client, update my application and deploy it in production. As for now my cluster is still 5.6.

I'm now ready to upgrade my 5.6

[2017-08-11 11:01] Kalesberg opened #26164 "Elasticsearch 2.3.4 snapshot not working with AWS S3 bucket"
**Our Elasticsearch server details**:

**Elasticsearch version**: 2.3.4

**Plugins installed**: [marvel, license, cloud-aws]

**JVM version** (`1.8`):

**OS version** (Linux ubuntu 4.9.15-x86_64-linode81):

**Problem**:
Our server has millions of documents with 3 indices on 5 nodes. We are going to make some changes to our ES server and before that we need to backup the database.
The server nodes

[2017-08-11 11:06] dadoonet commented on #26164
Can you share your `elasticsearch.yml` settings? Replace any secret/access key with `XXXX`

[2017-08-11 11:17] Kalesberg commented on #26164
Hi @dadoonet , here are extraction from our ES settings
[code]

[2017-08-11 11:29] jakommo commented on #26162
Thanks @markharwood

It seems the bug only manifests itself on indexes that have undergone a 2.3.4 - > 5.x upgrade step. I tried setting up these indices from fresh on 5.5 without performing the 2.3.4 upgrade and queries were OK.

Yes, sorry for not making this clear. It only affects upgrades. If you create an index in 5.x, it will convert the string/not_analyzed to type keyword in the background.

[2017-08-11 11:34] dadoonet commented on #26164
Can you remove the signer?

[2017-08-11 11:54] Kalesberg commented on #26164
Hi
i added it as it was not working either

[2017-08-11 12:08] dadoonet commented on #26164
Any chance you can upgrade to latest 2.4.6 version and see if it fixes it?

May be you can try with same credentials on a test platform?

[2017-08-11 13:10] danielmitterdorfer commented on #26154
We've discussed it in Fix-It Friday and the change and the proposed name both make sense.

[2017-08-11 13:11] javanna commented on #26142
As I said before, the client should be the last piece to be upgraded when a cluster is upgraded and not the first like in your usecase. Ppgrading the app in production to prepare for a cluster upgrade is not the way to do it. Things should be tested on the new major version first, with both sides upgraded, in a test/acceptance environment. Then the move should be done in production, upgrading the

[2017-08-11 13:13] Kalesberg commented on #26164
to upgrade to the newer version, we are required to backup the data first
Honestly, we do not have any snapshots at this situation and it is not good. So backup comes before everything else for our project. Hope it makes sense

Btw, does the https relate to this problem?
Our site domain is https but connect ES server with http
Is this right?

[2017-08-11 13:18] s1monw commented on #26158
@jasontedor I would be curious about your opinon here. I don't like to have more than one way of specifying personally and our current solution is more generic. I wonder if you have an idea to improve

[2017-08-11 13:29] dadoonet commented on #26164
Yeah but can you test on a test cluster your credentials? I mean a similar configuration that you have in production but with no specific data in it?

I don't know and I don't believe so. The problem you have is the communication from elasticsearch node to AWS API. Not the other way. Did you check BTW that [all required permissions](https://www.elastic.co/guide/en/elasticsearch/plugins/2.3/cloud-a

[2017-08-11 13:31] dadoonet commented on #26142
Let's close this issue then as the behavior is expected.

[2017-08-11 13:33] javanna commented on #26142
good call @nik9000 I am on it, will open a PR later today.

[2017-08-11 13:37] martijnvg commented on #25311
I see two things in the cluster logs:
* A lot of restore snaphot errors in node0
* In node1 I see: `[2017-08-10T11:48:56,881][INFO ][o.e.i.e.Engine           ] [node-1] [testsearch][0] starting segment upgrade upgradeOnlyAncientSegments=false` but not `finished segment upgrade`, which should be there if I read the code in `InternalEngine#forceMerge(...)` (line 1459) correctly.

I think both observ

[2017-08-11 13:45] jpountz commented on #26122
This is an unintended side-effect of the fact that we now support fractional intervals and values. We just discussed it in FixitFriday and agreed to keep the behaviour as-is but better document that we run the aggregation on the double representation of values, which might incur accuracy loss with long values that are greater than 2^53.

[2017-08-11 13:47] imotov commented on #26116
@goodfella1408 this should be fixed in 2.4.6 by #25697. I tried to reproduce it on 2.4.6 and everything seems to work correctly. Could you check 2.4.6 to see if it fixes your problem?

This seems to be a duplicate of #25696

[2017-08-11 13:56] mr-mos commented on #25946
Thanks. Any planning when it will be integrated into ES.   beta-2  ?

[2017-08-11 14:03] jimczi commented on #25946
Still some blockers on the `simple_query_string` side but I plan to work on this as soon as https://github.com/elastic/elasticsearch/pull/26145 is resolved.

[2017-08-11 14:29] nik9000 commented on #26153
This is probably worth another issue. Indeed, I had intended it to be the number of write operations per second (deletes for delete_by_query, updates for update_by_query, and indexes for reindex). And it writes the whole batch at once rather than attempting to smooth out the writes. So `.5` would write all 10000 documents and then sleep 20000 seconds - the amount of time that the write took. The d

[2017-08-11 14:34] Kalesberg commented on #26164
i did not check the link you specified
I did not set such configurations as i am not that much familiar with s3

I am just provided s3 bucket name and did all the stuff that is elasticsearch-level not s3 related stuff

[2017-08-11 14:36] dadoonet commented on #26164
So check that you have the required S3 permissions.

[2017-08-11 14:51] Kalesberg commented on #26164
[code]

This is the reply from server administrator

[2017-08-11 14:53] dadoonet commented on #26164
Great. Could you run a test on another local server with the same credentials?

A test similar to https://github.com/elastic/elasticsearch/issues/23354#issuecomment-282348492

Then share exactly what you did and the result.

[2017-08-11 15:08] javanna commented on #26142
This should work @dadoonet . Just not sure what it buys. I still think that upgrading the client last is the best way. I guess I also would need to have a better feeling of how many of these incompatibilities there are, to understand whether it's just a few edge cases or a more serious problem.

[2017-08-11 15:09] jpountz commented on #26100
We agreed to do it but there are some challenges on the way, in particular:
 - What API do we expose? There is a simplicity / flexibility trade-off.
 - How do we deal with the fact that stored scripts may be updated while analysis components used at index-time should remain the same for the entire lifetime of the index?

[2017-08-11 15:11] #26136 closed

[2017-08-11 16:25] rlvoyer commented on #25684
I ran into this same error as well. The issue appears to have arisen when a node left the cluster (and was subsequently replaced) during the reindexing process. Now any subsequent calls to the reindex API return the same error.

[2017-08-11 17:04] andyb-elastic opened #26172 "[CI] KeyedLockTests.testIfMapEmptyAfterLotsOfAcquireAndReleases fails with NPE"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/3870

I couldn't reproduce this locally. I think this may be something in ESTestCase or randomizedtesting rather than KeyedLockTests since the call to scaledRandomIntBetween looks pretty innocuous.

Reproduce line from log
[code]

[code]

[2017-08-11 18:00] andy-elastic commented on #24441
Another one from 5.5 https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.5+multijob-windows-compatibility/22/consoleText

[2017-08-11 18:04] andy-elastic commented on #21548
Another one in 6.x. Looks like the same stack trace in the original issue https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-darwin-compatibility/41/consoleText

[2017-08-11 18:54] dakrone opened #26175 "Recent change to backticks in bin/elasticsearch causes incorrect parameter parsing warning"
When invoking `bin/elasticsearch` with both `-E` parameters and the `-d` option, the following warning is given:

[code]

Elasticsearch *does* start successfully in the background, and the `node.name` is "foo" as intended, however, the line:

[code]

Throws the unary operator expected warning.

[2017-08-11 18:55] dakrone commented on #26175
@jasontedor pinging you on this since I believe the backtick change was something you recently changed in ad4dbbf1a61680da70f22f7f5d6f0566d273829a, I think that particular line change may need to be reverted?

[2017-08-11 19:04] andy-elastic commented on #25680
Another one in 5.6 https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+aggressive-opts/49/console

I'll awaitsfix this test since it's happened a handful of times this week

[2017-08-11 20:17] Crunkle commented on #25683
+1

[2017-08-11 20:39] andy-elastic opened #26177 "[CI] SplitProcessorTests.testSplitWithTargetField fails on processor execution"
On 6.x with java 9

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+java9-periodic/192/consoleText

[code]

[2017-08-11 20:47] x-itec commented on #4978
This problem really drives me mad with docker !!!!!!!! --privileged does not work anymore, nothing works anymore!!!! memory is set, but not checked correctly by ES5.x so it tries to write for no reason!

[2017-08-11 20:57] jasontedor commented on #26175
This duplicates an existing issue.

[2017-08-11 20:57] #26175 closed

[2017-08-11 20:57] jasontedor commented on #26175
Duplicates #26080

[2017-08-11 21:09] dakrone commented on #26175
Thanks Jason, I searched but apparently didn't see that one

[2017-08-11 21:18] elasticmachine opened #29805 "[CI] UpgradeClusterClientYamlTestSuiteIT fails after encountering master_not_discovered_exception"
*Original comment by @andyb-elastic:*

LINK REDACTED

Tests

[code]

[code]

Most of the responses are 503 and look like this

[code]

[2017-08-11 23:18] #26177 closed

[2017-08-11 23:18] andy-elastic commented on #21463
Another one on 6.0 https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+multijob-unix-compatibility/os=debian/60/consoleText

[2017-08-11 23:35] jasontedor commented on #26175
No worries, I'll put up a fix no later than early next week.

[2017-08-11 23:41] jasontedor commented on #24441
@andy-elastic Sorry, I didn't backport this to 5.5, I didn't think it was failing often enough to take it back to our stable branch. Thanks for cherry-picking it for me.

[2017-08-12 01:30] andy-elastic commented on #26153
@nik9000 yeah I'll take a look and see if I can find out why this isn't being retried. Setting `thread_pool.search.queue_size` very low would be enough to cause the search queue to fill up right? It looks like that's what we do in [RetryTests](https://github.com/elastic/elasticsearch/blob/master/modules/reindex/src/test/java/org/elasticsearch/index/reindex/RetryTests.java#L105)

@berglh to help me

[2017-08-12 02:05] berglh commented on #26153
@nik9000

No worries, I'll write this up soon.

I figured there must be some mechanism for this already, thanks for explaining it. Another thought I had with the `-1` default `requests_per_second` setting was that I wonder if the Reindex API just keeps queuing up the Scroll searches until it fills the queue, but with a `-1` search size effecting the depth calculation. I wonder if it was then blowi

[2017-08-12 07:02] Aoseala opened #26181 "Does elasticsearch have a plan to develop a graph database engine?"
The graph database is now very hot, and if the elasticsearch support graph database is similar to neo4j, it will be unbeatable.

[2017-08-12 09:59] ebuildy commented on #21648
So in conclusion, it's not possible to store a template (via ``POST /_search/template/{NAME}`` method) containing ``{{#toJson}}``?

[2017-08-12 10:12] borissmidt commented on #21648
@ebuildy it is possible, First you create your template request and then you post it as a stringified post:
[code]

[2017-08-12 11:03] frekele commented on #26142
Any prediction for elasticsearch 5.6? We waiting to be able to use the RestHighLevelClient.

Thak you.

[2017-08-12 16:52] rgiar commented on #16838
@IdanWo could you post your full query? The syntax in your message doesn't seem correct. Thanks.

[2017-08-13 05:35] #14641 closed

[2017-08-13 07:36] fendo8888 opened #26182 "Windows10下Elasticsearch5.5.1安装X-PACK后,启动报错:org.elasticsearch.ElasticsearchException: Failed to create native process factories for Machine Learning"
[2017-08-13T15:35:18,935][INFO ][o.e.n.Node               ] [] initializing ...
[2017-08-13T15:35:19,025][INFO ][o.e.e.NodeEnvironment    ] [3XJLq1x] using [1] data paths, mounts [[Other (G:)]], net usable_space [382.5gb], net total_space [462.9gb], spins? [unknown], types [NTFS]
[2017-08-13T15:35:19,026][INFO ][o.e.e.NodeEnvironment    ] [3XJLq1x] heap size [2.9gb], compressed ordinary object poi

[2017-08-13 08:30] jasontedor commented on #26182
This repository is for open source Elasticsearch only. For X-Pack, please open a topic in the X-Pack category on the [forum](https://discuss.elastic.co).

[2017-08-13 08:30] #26182 closed

[2017-08-13 08:31] jasontedor commented on #26181
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-08-13 08:31] #26181 closed

[2017-08-14 01:40] Kalesberg commented on #26164
Hi again

I tested with my local machine ES data but i still get signature inconsistency error.

**My local ES information**
- Elasticsearch 5.5.1 with 2 indices
- configured the elasticsearch.yml file with same aws configuration as the live server with s3 repository plugin installed.
[code]
- I opened Kibana and sent this request
[code]
and this is the error i get:
[code]

[2017-08-14 01:58] berglh commented on #26153
When I set the `requests_per_second` to `10000`, I still get the `es_rejected_execution_exception` error.
 When I set it to `5000`, it did complete, however, took a much longer time.

**10000 Results**

Item | Result
:---:|:---
Total Docs | 26690000
Total Batches | 2669
Task Completion Time | 6195 s
Time per Batch | 2.32s
Overall EPS | 4308
Time Throttled | 2668 s
Time Throttled per Batch | 1s
Tim

[2017-08-14 02:06] saurabhjaluka opened #26183 "Reindex API parent set to null, removes routing as well"
**Elasticsearch version**: 5.5.1

**Plugins installed**: none

**JVM version**: 1.8

**OS version**: Ubuntu

**Description of the problem including expected versus actual behavior**:
SourceIndex : has parent field in the documents
DestinationIndex : no parent field in the documents

When I try to use reindex api with painless script for migration data from source to destination, setting parent to

[2017-08-14 02:18] joedj opened #26184 "Shard IP filtering does not support wildcards (which breaks 2.x to 5.5.1 upgrade)"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.5.1, Build: 19c13d0/2017-07-18T20:44:24.823Z, JVM: 1.8.0_141

**Plugins installed**:
discovery-ec2  ingest-geoip  ingest-user-agent  x-pack

**JVM version** (`java -version`):
openjdk version "1.8.0_141"
OpenJDK Runtime Environment (build 1.8.0_141-b16)
OpenJDK 64-Bit Server VM (build 25.141-b16, mixed mode)

**OS version** (`un

[2017-08-14 03:37] ywelsch commented on #26184
Thank you for the bug report. This is caused by the changes in #22591 and affects ES versions >= 5.3.0.

[2017-08-14 04:18] ywelsch commented on #26184
I've opened #26187 that will fix this.

[2017-08-14 04:21] joedj commented on #26184
Thanks @ywelsch !

[2017-08-14 06:29] ywelsch commented on #26152
We need more information here, in particular the full configuration of the nodes and master logs. Can you try to run the same scenario with logging level of `cluster.service` set to DEBUG? The log output you have shown here is not related to running `/_cat/shards`, the stack trace shows that this is an internal operation that is periodically run (by default every 10 seconds) to check network conne

[2017-08-14 06:30] joedj commented on #26184
FYI, setting `routing.allocation.include._ip` to `""` instead of `"*"` appears to be a valid workaround.

[2017-08-14 06:55] jpountz commented on #26172
It looks like a JVM bug to me?

[2017-08-14 07:24] s1monw commented on #26118
I think the problem is not as simple as it's presented here. What happens if a cluster is not connected toady is that we try to reconnect. If we _check_ up-front if a cluster is not connected then we need to skip this step? What should the behavior be? I think we can look into something like an additional setting that simply treats the cluster as not present if it can't be reconnected but I want t

[2017-08-14 07:50] #22640 closed

[2017-08-14 08:05] zhangweilun opened #26190 "elasricearch stopword"
hi,i would like to know the specific word of the token filter __english__, please do me a favor

[2017-08-14 08:09] cbuescher commented on #26142
@frekele great to hear. And sorry, we don't give dates.

[2017-08-14 08:12] geekpete opened #26191 "Index tombstones size configuration is unable to be set as it's unrecognised"
The configuration setting for Index Tombstones "cluster.indices.tombstones.size" described here: https://www.elastic.co/guide/en/elasticsearch/reference/current/misc-cluster.html#cluster-max-tombstones

is unable to be set and a startup exception is thrown suggesting the configuration is an unknown setting.

**Elasticsearch version** (`bin/elasticsearch --version`):
- tested on
  - 5.4.3
  - 5.5.1

[2017-08-14 08:15] tvernum commented on #26190
Please ask this question on our [discuss forum](https://discuss.elastic.co/) where we can provide better support.
Elastic uses GitHub issues for confirmed bugs and feature requests which have been discussed on the forums.

Thank you.

[2017-08-14 08:15] #26190 closed

[2017-08-14 08:22] cbuescher opened #26192 "[CI] org.elasticsearch.index.reindex.RethrottleTests with two tests failing"
* Build failure link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/3904/console
[code]

* Error message:
[code]

[code]

* Reproduction lines:
  * gradle :modules:reindex:test -Dtests.seed=B60C174C1CAD6D39 -Dtests.class=org.elasticsearch.index.reindex.RethrottleTests -Dtests.method="testDeleteByQueryWithWorkers" -Dtests.security.manager=true -Dtests.jvm.argline="-XX:-U

[2017-08-14 08:26] cbuescher commented on #26192
Here is another one over the weekend where also `RethrottleTests.testReindexWithWorkers` failed: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=opensuse/1422/console

[2017-08-14 08:30] s1monw commented on #26142
@frekele if you look at our previous release cycles you should get a pretty good estimate when it will come. we just don't give promises or anything along those lines.

[2017-08-14 08:46] ywelsch commented on #26191
I've opened #26193

[2017-08-14 09:03] elasticmachine opened #29806 "[CI] Failure in WatchBackwardsCompatibilityIT#testWatcherRestart"
*Original comment by @cbuescher:*

There are several other open WatchBackwardsCompatibilityIT CI failures but this might be a different cause (at least thats what I think briefly looking at them). @spinscale can you confirm/mark as duplicate if this is already covered by one of the other open issues?

* Build failure link: LINK REDACTED
* Error message:
[code]

* Reproduction line:
  * gradle :x-p

[2017-08-14 09:46] s1monw commented on #26158
agreed

[2017-08-14 09:46] #26158 closed

[2017-08-14 10:13] EnglishVillage opened #26195 "es2.3.4 -> es5.5.0 upgrade, all shards is unassigned"
**Describe the feature**:
es2.3.4 -> es5.5.0 upgrade,shutdown old cluster and reboot new cluster, new cluster is running, but all shards is unassigned.

**Elasticsearch version** (`bin/elasticsearch --version`):
es2.3.4->es5.5.0
**Plugins installed**: []
es2.3.4:delete-by-query, head, jcseg, kopf, license, marvel-agent, sql
es5.5.0:sql, head, cerebro
**JVM version** (`java -version`):
java version

[2017-08-14 10:18] jasontedor commented on #26195
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-08-14 10:18] #26195 closed

[2017-08-14 11:26] PhaedrusTheGreek commented on #25683
As pointed out in #25681, `index.mapper.dynamic` [is going away](https://github.com/elastic/elasticsearch/issues/25719) , so this issue can probably be closed.

[2017-08-14 12:01] algestam opened #26198 "Dockerized Elasticsearch instance crashes when receiving request"
**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 6.0.0-beta1, Build: 896afa4/2017-08-03T23:14:26.258Z, JVM: 1.8.0_144

**Plugins installed**: []

**JVM version** (`java -version`):

java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):

[2017-08-14 12:07] algestam commented on #26198
Full log:
[elasticsearch_log.txt](https://github.com/elastic/elasticsearch/files/1222132/elasticsearch_log.txt)

[2017-08-14 12:20] mza97 opened #26199 "Time Range timestamp raw"
Hi,

Is it possible to do a time range with a timestamp like this (I can't use ``` now ```)?:

[code]

Regards

[2017-08-14 12:21] jasontedor commented on #26198
Can you clarify one thing? It seems that you are using your own Docker image and not the official Docker image provided by Elastic. Is that correct?

[2017-08-14 12:21] jasontedor commented on #26199
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-08-14 12:21] #26199 closed

[2017-08-14 12:28] gmoskovicz opened #26200 "Percolate threadpool type doesn't exit anymore"
In https://www.elastic.co/guide/en/elasticsearch/reference/5.5/modules-threadpool.html we still document that we have a `percolate` threadpool, but it doesn't exist anymore since 5.x and we only have the `search` threadpool where we execute the percolate queries as well.

Request: remove the percolate threadpool type from the documentation.

[2017-08-14 12:30] PhaedrusTheGreek opened #26201 "Flood stage exceeded is incorrectly logged"
Tested on
 - ES 6.0.0-beta1
 - Mac OSX Sierra

Node is reporting flood stage exceeded:

[code]

But the math doesn't add up (flood stage is 95% and there's 9.9% free disk space

And indexing is still allowed, even on indices created before the flood stage log message appears.

[code]

[2017-08-14 12:31] algestam commented on #26198
Yes, that's correct. I'm using my own Docker image (which I have used without problems up until ES 5.5.1).

[2017-08-14 12:32] cbuescher commented on #25311
This one looks similar: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/57

[2017-08-14 12:34] jasontedor commented on #26198
Can you share the Dockerfile?

[2017-08-14 12:35] gmoskovicz commented on #26200
Fixed in 5.6.0.

[2017-08-14 12:35] #26200 closed

[2017-08-14 12:36] gmoskovicz commented on #26200
It was already removed in 6.x and master because the percolate request doesn't exist anymore.

[2017-08-14 12:48] jimczi commented on #25502
We've put safeguards in Lucene to avoid StackOverflowError for large automaton and throw an IllegalArgumentException instead (which fails the query but does not kill the entire node).
The safeguards are going to be available in es 6.0 (Lucene 7):
https://issues.apache.org/jira/browse/LUCENE-7914
The queries that failed should be very long queries so you can try to limit the size of the suggest que

[2017-08-14 12:48] #25502 closed

[2017-08-14 12:49] algestam commented on #26198
Of course!

This is the Dockerfile:
[code]

elasticsearch.yml:
[code]

jvm.options:
[code]

limits.conf:
[code]

start.sh:
[code]

[2017-08-14 12:54] voran commented on #10043
+1

[2017-08-14 13:12] nik9000 commented on #26192
I've reassigned to @andy-elastic because he's recently made some changes in this area. I'm happy to help though.

[2017-08-14 13:12] PhaedrusTheGreek commented on #26201
**This issue is only happening on Mac OSX from what I can tell so far**

Tested under Centos7 with no issues.

There seems to be more than one issue related to Flood stage under OSX:

Even after freeing up disk space (and even restarting ES), flood stage is still reported as exceeded:

[code]

[2017-08-14 13:22] PhaedrusTheGreek commented on #26201
indices are occasionally marked read-only, so indexing is allowed only temporarily between the creation of a new index and when this task runs.

[2017-08-14 13:27] nik9000 commented on #26183
I see the problem and agree with your analysis. One problem is that `_parent` is not configurable in 6.0 any more which is (probably) the first version that'd get this fix. For indexes created after `6.0` `_parent` has been replaced by `join` fields which don't have this problem because they require explicitly setting the routing everywhere. So you aren't super likely to be able to use this fix by

[2017-08-14 13:30] jasontedor commented on #26198
This does not reproduce for me. What additional steps can you provide that reliably reproduces this? Additionally, are there any additional lines to the stack trace available?

[2017-08-14 13:34] jasontedor commented on #26198
I think I know what the problem is. Here's the key: the constructor for `ObjectObjectHashMap` is not recursive, the stack overflow is not occurring on a recursive call, it is just overflowing on what is otherwise a shallow stack. I think that you're running on a system with limited resources, I think that the default thread stack sizes are too small. Please add: `-Xss1m` to your `jvm.options` by a

[2017-08-14 13:39] #26080 closed

[2017-08-14 13:41] cbuescher opened #26203 "[CI] JoinProcessorTests.testJoinWithTargetField fails with NumberFormatException"
* Build failure link:  https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-unix-compatibility/os=oraclelinux/65/console
* Error message:
[code]

* Reproduction line:
  * gradle :modules:ingest-common:test -Dtests.seed=AA71D1A0B4BBE8E8 -Dtests.class=org.elasticsearch.ingest.common.JoinProcessorTests -Dtests.method="testJoinWithTargetField" -Dtests.security.manager=true -Dtest

[2017-08-14 13:41] cbuescher commented on #26203
This reproduces for me on the 5.6 branch. I will also try it on other branches now.

[2017-08-14 14:09] jasontedor commented on #26201
Is this a clean install, are you sure that you did not set the flood state setting to a disk space free instead of a disk percentage free? Can you show the output of `GET /_cluster/settings?include_defaults=true&filter_path=**.flood_stage&pretty=true` and `GET /_nodes/settings?filter_path=**.flood_stage&pretty=true`?

[2017-08-14 14:14] PhaedrusTheGreek commented on #26201
Seems that [this line](https://github.com/elastic/elasticsearch/blob/e165c405ac4e467e8ff6d73b415a9190d8bdd335/core/src/main/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdMonitor.java#L80) is comparing with the high watermark accidentally

[2017-08-14 14:26] jasontedor commented on #26201
You're right: #26204

[2017-08-14 14:52] andy-elastic commented on #26192
This is very likely caused by my changes, I'll take a look

[2017-08-14 14:53] algestam commented on #26198
Thanks for taking the time to look at this and for the suggestions on improving the Docker setup! I plan to start using the official images but haven't gotten there yet,

I haven't been able to reproduce this error from scratch again but if I re-start the image with the same data directory as when the bug was reported, the issue happens every time.

I've tried adding the  `-Xss1m` option to the JV

[2017-08-14 15:04] jasontedor commented on #26198
Can you send me the data directory? (We can arrange a method to share privately if necessary).

[2017-08-14 15:06] jasontedor commented on #26198
Also, can you share the output: `cat /proc/1/limits | grep "Max stack size" or `ulimit -s` (from the container)?

[2017-08-14 15:21] azr opened #26205 "/_msearch with two 'should' queries is valid only for first query"
**Elasticsearch version** (`bin/elasticsearch --version`):

quay.io/pires/docker-elasticsearch-kubernetes:5.4.3

[Dockerfile](https://quay.io/repository/pires/docker-elasticsearch-kubernetes/image/65995161c2615e1ac06bf7871a7b50e1992003ebc1110a64835e3c807dba7bdb)

**Plugins installed**: []

**JVM version** (`java -version`): openjdk8-jre

**Description of the problem including expected versus actua

[2017-08-14 15:22] #26201 closed

[2017-08-14 15:55] talevy commented on #26203
sorry for the noise, opened this https://github.com/elastic/elasticsearch/pull/26206

[2017-08-14 16:26] #26203 closed

[2017-08-14 17:30] jasontedor commented on #24395
Closed by a7f164696ba939f9af58de6cc2da80ab9de432bf

[2017-08-14 17:30] #24395 closed

[2017-08-14 17:51] jasontedor commented on #25680
This one is so incredibly puzzling. I can get it to reproduce spuriously, but only on 5.6. Still no idea what is going on. 😐

[2017-08-14 18:05] andy-elastic commented on #26192
I'm having trouble reproducing this but from the error messages it seems pretty clear that it's the rethrottle action is happening before the task's leader/worker state is set in the transport reindex handlers

[2017-08-14 18:13] saurabhjaluka commented on #26183
Thanks @nik9000 . Yeah, I might go for an approach for reindexing using logstash for now.

[2017-08-14 18:34] rjernst commented on #26164
This is clearly a configuration issue. First, as David mentioned earlier, you should not be setting the signer type. It is a setting that was meant for connecting to s3 compatible apis, which used legacy signing algorithms.  Second, if you still get a signature mismatch when removing the signer type, then you need to double check your access/secret key. Try using those keys with something like the

[2017-08-14 18:34] #26164 closed

[2017-08-14 18:58] rjernst commented on #26100
This is what concerns me the most.  Perhaps this is a case where the scripting capability needs to have an api shim over it, in order to maintain the inability to modify these scripts?

[2017-08-14 18:59] buildlackey commented on #26152
Hi there. We believe we have found the source of the bug.  We had max number of file descriptors set to 300K, and in our performance monitoring dashboards a colleague noticed that we were hitting that threshold very close to the same time we were seeing the problem that I reported in our logs ("handshake failed, channel already closed...etc.").

Our work-around was to increase the max number of op

[2017-08-14 19:22] jbaiera opened #26207 "Vagrant fixtures should clean themselves up appropriately"
We are seeing problems in environments like build and CI servers where Vagrant machines are not being cleaned up after a build is completed. We use Vagrant for packaging tests, and for integration test fixtures like the `krb5kdc` in the HDFS Repository plugin. In the latter case, Vagrant test fixtures are ignored if the local environment cannot support Vagrant/VirtualBox.

When the build process i

[2017-08-14 19:48] jasontedor commented on #25680
I think I found the issue, it's from interaction with another test.

[2017-08-14 19:48] jasontedor commented on #25680
And it only happens on 5.6 because the interaction is from deprecated use of `path.scripts`, which does not exist in 6.0, 6.x, and master.

[2017-08-14 20:03] jasontedor commented on #26154
A primary reason is to match the naming convention for the existing settings: `path.data`, `path.home`, and `path.logs` and to match the name of the system property: `es.path.conf` which was also chosen to match these settings albeit for the `es.` prefix.

I'm not sure what you mean about "path" being confusing, "path" is a perfectly reasonable synonym for "directory", shortened to "dir".

I'm not

[2017-08-14 20:07] akshaymaniyar commented on #25564
@flefebure : Were you able to solve it? I am facing the same issue

[2017-08-14 20:40] rjernst commented on #26154
I was referring to the `CONF_FILE` env var that used to be supported, long long ago: #13772

[2017-08-14 20:42] jasontedor commented on #26154
That has not existed since 1.x, I don't think it should factor in here at all.

[2017-08-14 20:46] ethteck opened #26208 "TopDocs from first pass to be accessible by custom ScoreFunctions"
Continuing off of [the other issue I submitted](https://github.com/elastic/elasticsearch/issues/26105) and the surrounding [discussion thread](https://discuss.elastic.co/t/accessing-topdocs-from-a-leafscorefunction/96336),

Our score function computes a minimum score threshold by looking at the `TopDocs` from the first pass and decides whether to rescore a doc or not based on whether its first pas

[2017-08-14 20:53] rjernst commented on #26207
I think a sys prop indicating we are running in CI would work. We might find something that already exists, although I can't think of anything offhand.

[2017-08-14 20:54] jasontedor commented on #25680
I have this one nailed down. It uncovered an issue with #20575 and #24076, I will open a pull request for this first. Then I will address this test failure.

[2017-08-14 20:55] talevy commented on #25680
sweet! so I'll drop the `6.1.0` tag

[2017-08-14 20:58] rjernst commented on #26208
It is still unclear to me why this is not just a function score on the original query with a min score specified? I had thought you needed to use the previous score to calculate the rescore, not simply omit docs based on their original score.

[2017-08-14 21:06] ethteck commented on #26208
We need to calculate this min score dynamically - it's not a static value we can specify. Or am I misunderstanding you?

This is not the case. We only need the previous score to be able to compare it to our threshold.

There seems to be a lot of confusion around this issue and the surrounding requests I have. @jimczi requested that I open up another issue in [this message](https://discuss.elastic.

[2017-08-14 21:17] jasontedor commented on #25680
Step 1: #26209

[2017-08-14 21:19] #26154 closed

[2017-08-14 21:34] jasontedor commented on #25879
We really need to be more careful when we make something static, especially for a class that is so fundamental. The issue here is that merely constructing a list setting (e.g., the setting object for `path.data`) causes a JSON content parser to be initialized which causes this static initializer to run which touches logging. This will happen *before* logging is even configured and that's a no-no.

[2017-08-14 21:54] jasontedor commented on #25680
Step 2: #26210

[2017-08-14 21:55] jasontedor commented on #25879
For this I opened #26210.

[2017-08-14 22:19] rjernst commented on #26208
Thank you. That is what I was missing. Does finding the threshold require a complex computation, or is it that you are trying to have a fluid value that, if there are not enough docs with a sufficient score, you include some more, less relevant docs?

[2017-08-14 22:31] jasontedor commented on #25741
@ItamarBenjamin The Netty API does not support this, and it would be subject to [*time of check to time of use* race conditions](https://en.wikipedia.org/wiki/Time_of_check_to_time_of_use) (check that it is not set, then if not try to set it but another thread could have already set it meanwhile). Instead, this is on application developers to know their application and either:
 - set the system pr

[2017-08-14 23:08] saurabhjaluka commented on #26183
Workaround incase anyone needs it:

migration.sh
[code]

[2017-08-15 00:12] geekpete commented on #11504
Some other things that'd be great to include in such docs might be:

- min value
- max value
- units that the values are in

[2017-08-15 01:16] #26184 closed

[2017-08-15 01:21] #26191 closed

[2017-08-15 01:26] andy-elastic commented on #26192
I was able to reproduce this by causing the rethrottle to happen before the task state is set, and it does look similar to the logs from CI. Minor fixes here that I can think of are

1. Make the test wait until the task state is set before sending the rethrottle command. It's easy to imagine client applications running into problems here, so I'd like it to be more resilient
2. Make the rethrottle

[2017-08-15 01:49] jasontedor commented on #25680
Step 3: b1f6131b30b5c3aff24b243f4fb1b706385bb8e8

[2017-08-15 01:49] jasontedor commented on #25680
Closed by b1f6131b30b5c3aff24b243f4fb1b706385bb8e8

[2017-08-15 01:49] #25680 closed

[2017-08-15 04:22] LiveAlone opened #26211 "post count compare between 1.7.1, 2.4.2, .5.5.1"
i want upgrade Es from 1.7.1 version ,
i read document,
i know about  the configuration about  bulk, index thread poll default  processors cores + 1

i write java code test post, user different java client version,  demo
[code]

this result make me confuse:
[code]
it seems that, 1.x  more index effective， why,  any configuration should config upper 2.x?
document has no found configuration about th

[2017-08-15 04:42] tvernum commented on #26211
Elastic uses GitHub issues for tracking bugs and managing specific feature requests.

For discussions and questions of this nature, please make use of our [discuss forum](https://discuss.elastic.co/) where we can provide better support.

Thank you.

[2017-08-15 04:42] #26211 closed

[2017-08-15 08:11] algestam commented on #26198
Thanks, I am unfortunately not able to give you access to the data directory as it contains logs files with sensible data. I will try to reproduce this with other data and if I succeed I will definitely share that dir with you.

Here is the output from `cat /proc/1/limits | grep "Max stack size"`:

[code]

`ulimit -s`:

[code]

[2017-08-15 08:11] spinscale commented on #26205
please ask question like this on the [Elasticsearch discuss forum](https://discuss.elastic.co/c/elasticsearch), as we try to use github for bugs only.

In order to improve your chances of an reply in the forum, you may want to provide a **full** reproduction, including documents to index and concrete queries instead of templated ones.

[2017-08-15 08:11] #26205 closed

[2017-08-15 08:13] azr commented on #26205
That's a bug to me :)

[2017-08-15 08:25] jimczi commented on #26208
The surrounding requests are all specific to how you wrote your plugin in the first place. The main thing you need to do at this point is to think how your requirements could be achieved with the current plugin infrastructure without hacking the `SearchContext` accesses.
The `ScoreFunctions` are available for queries and I don't think we can make a special case only for when they are used in a res

[2017-08-15 08:32] spinscale commented on #26205
then the second part of my answer still applies: can you please provide exact reproduction steps here (either curl or the console syntax).. also the exact msearch request send to ES not including the newlines you had above

[2017-08-15 08:42] flefebure commented on #25564
Hi,
You may have a look to this thread : https://discuss.elastic.co/t/bulk-indexing-with-x-pack-exception/92086

[2017-08-15 08:47] akshaymaniyar commented on #25564
Thanks. I had started this thread https://discuss.elastic.co/t/transport-client-error-after-installing-x-pack-on-es-5-5-1/97021

And got a similar response.

So are you now using the xpack-transport-client or you were able to use the normal transport client with xpack.ml.enabled: false?

[2017-08-15 09:00] azr commented on #26205
okay - sorry - doing things a big fast here, servers are on fire :D.

Will make you a proper case in another issue when I have time, you might not ear from that one again ^^

[2017-08-15 09:20] whitejava commented on #9951
same problem with 5.0.2

[2017-08-15 11:26] ge-fa opened #26217 "Debian APT 2.x repo gives 404"
Hi,

`http://packages.elastic.co/elasticsearch/2.x/debian/dists/stable/main/binary-amd64/Packages` gives 404 currently. Is this intended?

Thanks,
Georg

[2017-08-15 11:32] jasontedor commented on #26217
If you mean a simple HTTP request, it does not:

[code]

Is this what you mean? If not, please provide steps to reproduce.

[2017-08-15 12:11] #26095 closed

[2017-08-15 12:32] cbuescher commented on #26087
Hi @samuel-miller, I talked to somebody more familiar with the S3 repository and it looks like your nodes were already  pretty close to the OOM (not sure why) and the S3 just triggers the OOM.
The error happened in the repository verification step, which is just a small write on the repository, so this alone shouldn't cause it.
So the interesting question is how the heap situation looks like befor

[2017-08-15 13:34] jasontedor commented on #26217
Since the immediate link provided does not 404, and I was successfully able to test an apt-get install from the 2.x repository, I'm going to close this issue as can not reproduce. If you need additional help, please ask on the [forum](https://discuss.elastic.co). If there is indeed an issue here, we can reopen.

[2017-08-15 13:34] #26217 closed

[2017-08-15 13:48] cbuescher commented on #25603
Sorry for the delay, just looking into this again, this seems really odd but hard to debug without reproduction.
Just to clarify a bit: For a query like `{ "size": 10, "query": { "ids": { "values": [183307729] } } }` you would expect to get back exactly one document and a `total.hits` of 1? But you are getting more than that?
Is the `ProductId` the same as the document id you index the main docume

[2017-08-15 14:05] cbuescher commented on #25603
Another question I forgot to ask: What do you need the result of `hits.total` for? You mentioned `_count` as not exhitibing the same behaviour, is that still true as far as you know?

[2017-08-15 14:30] ge-fa commented on #26217
@jasontedor Sorry for the noise, you're right. It was a problem with APT caching being done in my infrastructure.

[2017-08-15 14:44] #23646 closed

[2017-08-15 15:16] samuel-miller commented on #26087
Christoph,

Please go ahead and close the issue, I believe the root cause was that the
Elasticsearch cluster was underscaled for the volume of data coming in, and
we had no buffer to regulate it. Since adding such a buffer (in the form of
a kafka cluster) the problem appears to have been mitigated. Thank you.

Samuel Miller

On Tue, Aug 15, 2017 at 5:32 AM, Christoph Büscher <notifications@github.

[2017-08-15 15:20] cbuescher commented on #26087
@samuel-miller thanks, and don't hesitate to opene another issue in the discuss forums if you run into other problems, we welcome discussions about scaling/memory consumption etc... there and try to help.

[2017-08-15 15:20] #26087 closed

[2017-08-15 15:43] nik9000 commented on #26183
Thanks for understanding!

I'm going to close this issue as "wontfix". Sorry!

[2017-08-15 15:43] #26183 closed

[2017-08-15 15:51] nik9000 commented on #26100
Yeah. We talked about, for example, forcing you to use inline scripts in the index settings. Then they can't change but you are stuck using inline scripts.

[2017-08-15 15:57] nik9000 commented on #26153
Thanks! I have #26185 on my list of things to review again today.

And my past mistakes continue to haunt me. One of them really should be called `scroll_size`. It'd be so much less confusing.

[2017-08-15 16:11] neu5ron opened #26219 "uax_url_email tokenizer TLD issues?"
Elasticsearch has the built-in tokenizer for URLs and emails, however I have noticed that certain top level domains cause the tokenizer to create tokens that (I would believe) are incorrect. It may be due to the TLD's that the patterns use are incorrect? I will let you be the judge, as I  am not %100 sure.

For example using:
`curl -XPOST "http://127.0.0.1:9200/test-analysis/_analyze" -H 'Content-

[2017-08-15 16:36] polyfractal opened #26220 "Comprehensive aggregation REST tests"
There are only a few REST tests that verify the body of aggregation results.  We should have a more comprehensive suite of tests that check the body under a variety of conditions and options.

### Metrics:
- [ ] Avg Aggregation
- [ ] Cardinality Aggregation
- [ ] Extended Stats Aggregation
- [ ] Geo Bounds Aggregation
- [ ] Geo Centroid Aggregation
- [ ] Max Aggregation
- [ ] Min Aggregation
- [ ]

[2017-08-15 16:41] jasontedor commented on #26198
Okay, those look reasonable.

I understand about the data, so a reproduction will certainly help to get to the bottom of this one. I'm going to reopen this issue.

Meanwhile, I've marked you as eligible for the [Pioneer Program](https://www.elastic.co/blog/elastic-pioneer-program-6-0).

[2017-08-15 17:14] #25619 closed

[2017-08-15 17:34] polyfractal commented on #26219
Seems this has come up before: https://github.com/elastic/elasticsearch/issues/6467

Which generated a (still open) issue in Lucene: https://issues.apache.org/jira/browse/LUCENE-5753

Looks like Lucene needs to update the TLD registry that they are using?

[2017-08-15 17:42] ethteck commented on #26208
Sure, I'm happy to explain a little more. We look at all the scores in the list and compute statistics through which we derive our threshold. We do this by iterating through the list, so we do need access to all of the individual scores.

In essence, we're trying to find a "tail" where scores trail off. We assume that the documents in this "tail" are not good matches, so we do not run our expensiv

[2017-08-15 17:58] EricPSU commented on #16551
+1

[2017-08-15 18:14] neu5ron commented on #26219
Ah OK, no wonder I was not able to find it. As I was searching for is:open and that #6467 is closed.

[2017-08-15 18:56] n0othing opened #26223 "[DOCS] 2.x docs show invalid syntax for index/_settings filtering"
@ https://www.elastic.co/guide/en/elasticsearch/reference/2.4/indices-get-settings.html#_filtering_settings_by_name

[code]

should be

[code]

[2017-08-15 19:14] nik9000 commented on #25311
So these tests are against the `_upgrade` API which document as not being useful any more. I think these were just ported from the old tests. I don't think we need to keep these tests because we don't advise folks to use the API anymore anyway.

[2017-08-15 19:20] nik9000 commented on #25311
I'll open a PR to remove the failing test in a bit. If we end up with some other mystery error in the bwc tests we should keep this issue in mind, but I don't think it is worth spending a ton of time hunting this issue given that the API should go anyway.

[2017-08-15 19:46] elasticmachine opened #29807 "[DOCS] Document system_key with Cross Cluster Search"
*Original comment by @inqueue:*

ES/X-Pack 5.5.1.

When a system_key has been configured on the target cluster, Cross Cluster Search requires the identical key (pre-shared key) to be present in the calling cluster's x-pack configuration directory or it will fail to connect to the target cluster.

Please document system key requirements at LINK REDACTED

[2017-08-15 19:50] dakrone commented on #22814
This is already fixed, see: https://github.com/elastic/elasticsearch/blob/07f67cd8b545a14867496800407644d849671b77/core/src/main/java/org/elasticsearch/watcher/ResourceWatcherService.java#L72-L73

[2017-08-15 19:50] #22814 closed

[2017-08-15 20:00] #25311 closed

[2017-08-15 21:06] buildlackey commented on #26152
Hi, @ywelsch !  - unfortunately, the fix we thought would work did not quite do it. Still get stuck in initializing shards.   my colleague and i will work on getting the information you requested (hopefully by tomorrow).  /thnx

[2017-08-15 21:32] edudar commented on #17511
Sounds like it was way over-engineered on the meeting compared to what was asked. Handling this task in an application requires proper query parser and elastic does not expose one at the moment. We use Lucene's one directly but it not tied to elastic analyzers per field so error prone at the end.

[2017-08-16 00:22] JosephTucci commented on #10346
I have also ran into this issue.

[2017-08-16 07:22] AlexanderOtt85 opened #26230 "highlight_query doesn't work with nested query and wildcards"
With the following code it is possible to reproduce our issue of highlighting_query with nested query and wildcards in Elasticsearch 5.5.0. In Elasticsearch 2.4.4 we can’t reproduce this issue. The result returns only  highlight: “snippet” and not "du.content.content4b.contenttext"
[code]
Result with Elasticsearch 2.4.4
[code]
Result with Elasticsearch 5.5.0
[code]

[2017-08-16 07:23] Vcgoyo opened #26231 "about highlight problem"
I don't know whether it is a Bug, But I can't find the way to solved this

ES 5.4.0

and the search

[code]

and the response

[code]

highlight field is not normal like above, what's the problem?

[2017-08-16 08:58] jasontedor commented on #26219
I think similar to #6467, we can close this one; this one can be tracked upstream in the linked Lucene issue.

[2017-08-16 08:58] #26219 closed

[2017-08-16 08:58] cbuescher commented on #26231
Hi, Elastic reserves GitHub for bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co) and [IRC channels](https://www.elastic.co/community) for general questions. Please ask this question in the forum again, somebody will sure be able to help there.

[2017-08-16 08:58] #26231 closed

[2017-08-16 09:01] jasontedor opened #26233 "Investigate the docs check not detecting invalid JSON"
This is a follow-up to #25446 where there was invalid JSON in the docs that I think should have been detected by the docs check (meaning I think we should make it so that the docs check does detect this).

[2017-08-16 10:21] dimitris-athanasiou commented on #26192
Another where `testReindex` and `testReindexWithWorkers` both failed: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-darwin-compatibility/57/console

[2017-08-16 10:39] ywelsch commented on #26230
I've run some tests, and ES 5.4.0 starts diverging in behavior from prior versions. ES 5.3.3 still shows the same behavior as ES 2.x. Could it be related to https://github.com/elastic/elasticsearch/pull/24214 @jpountz ?

[2017-08-16 12:00] nik9000 commented on #26233
I suspect this happens because they use YAML instead of JSON because they are embedded in the yaml tests. I'll have a look at enforcing this.

[2017-08-16 12:08] duydo opened #26236 "Typo in script settings docs"
In the [Scripting and security](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-scripting-security.html#allowed-script-types-setting) document, the script setting should be started with `script.`, not with the `scripts.`

[2017-08-16 12:27] dimitris-athanasiou commented on #26192
And another: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+oracle-periodic/239/console

[2017-08-16 12:38] jmlucjav opened #26237 "script definition within percolator query is not consistent"
**Elasticsearch version**
Version: 6.0.0-beta1-SNAPSHOT, Build: Unknown/2017-08-13T15:13:28.500Z, JVM: 1.8.0_102

**JVM version**
java version "1.8.0_102"
Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.102-b14, mixed mode)

**OS version**
win10, 64b

**Description of the problem including expected versus actual behavior**:
The same script definiti

[2017-08-16 12:43] colings86 commented on #26012
Adding this to the `InternalBucket` might be tricky because `InternalMultiBucketAggregation ` and `InternalBucket`are not just created on the shard but also on the coordinating node during the reduce phase and on the High Level REST client. Adding the accounting would require us to pass in a `CircuitBreakerService` to the `InternalBucket` and `InternalMultiBucketAggregation ` which would not be po

[2017-08-16 12:58] dimitris-athanasiou commented on #25053
Another failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/1431/consoleFull

[2017-08-16 13:09] jasontedor commented on #26236
Closed by 6d8ef3153c81c3f8d80206a7d34473f4ab4d32cc

[2017-08-16 13:09] #26236 closed

[2017-08-16 13:12] jasontedor commented on #26236
Thanks for the report @duydo.

[2017-08-16 14:17] GaryTurpin opened #26238 "Scrolling in ES 5.4"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.4
Nest 5.4

**Description of the problem including expected versus actual behavior**:
We recently upgraded from ES 2.4 to ES 5.4 and everything went great except we noticed that our scrolling times increased in the amount of time that it takes.  We use scan/scroll to pull back about 3 million docs from our index.  In ES 2.4, this would t

[2017-08-16 14:33] dimitris-athanasiou commented on #26192
In this one 4 tests failed: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+java9-periodic/250/console

[2017-08-16 15:01] jimczi commented on #26012
As @colings86 said we can protect the bucket explosion directly in the (date)histogram when the final buckets are created. I removed the high hanging fruit label because this is much easier to add and should protect against crazy histogram aggs that tries to create millions of empty buckets.

[2017-08-16 15:02] dimitris-athanasiou opened #26240 "[CI] "s3 repository can be registered" test fails intermittently"
`{yaml=repository_s3/20_repository/S3 repository can be registered}` failed on the CI in: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.5+intake/21/console.

Reproduce command:

[code]
The test times out as seen in:

[code]

Cannot reproduce locally.

[2017-08-16 15:21] dimitris-athanasiou opened #26241 "[CI] IndexWithShadowReplicasIT testIndexWithFewDocuments fails in 5.5"
The test failed in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.5+multijob-windows-compatibility/39/consoleFull.

It looks like an assertion in `ThreadContext` (line 447) tripped: `assert existingValues.size() == existingUniqueValues.size();`

Reproduce command:

[code]

Cannot reproduce locally.

[2017-08-16 15:39] voran commented on #10043
This would be a great feature to have. The only reason why we are using parent/child instead of nested mapping is the lack of min_children/max_children options in the nested query. Considering that:

1. Nested queries are much faster than has_child queries;
2. Elasticsearch is moving in the one-type-per-index direction;

I would very much like to see this implemented. Please let me know if there's

[2017-08-16 15:53] yiguolei opened #26244 "Index with lots of fields consumes lot of memory"
One of my index contains about 6000 fields, and I found the field info consumes lots of JVM memory. This is the jmap info:
 num     instances         bytes  class name
   1:       6008442     4577941768  [B
   2:       2792701     4396718000  [J
   3:      35410100     3652501000  [C
   4:      49411788     1581177216  java.util.HashMap$Entry
   5:      35241631      845799144  java.lang.String

[2017-08-16 16:02] jpountz commented on #26244
Field infos are just the tip of the iceberg. I don't think we should try to optimize this. It will add complexity and there will be other issues almost immediately.

[2017-08-16 16:02] #26244 closed

[2017-08-16 16:05] jpountz commented on #26238
Is my understanding correct that the time went up after you both upgraded and switched from `_scan` to `_search`? If yes, then this is likely due to the fact that scan pulls `num_shards * size` hits per page while `_search` pulls only `size` hits per page. You should get better results by increasing your `size` parameter so that it is on par with what it used to be in practice with `_scan`. Ie. mu

[2017-08-16 16:51] jpountz commented on #26237
I just tried the following, which worked:

[code]

For the record, the query that you try to index in 3. does not work because it needs two nested `script`  elements, like you did at 2.

Please reopen if my recreation reproduces in your environment.

[2017-08-16 16:51] #26237 closed

[2017-08-16 16:53] Dinomoe commented on #22029
Hey Party People,
Any word on this? Discover Financial ran into: https://github.com/elastic/elasticsearch/issues/26125 which was marked depending on this issue. Any update to the customer would be helpful.

Thanks
-Kobar

[2017-08-16 17:01] #26130 closed

[2017-08-16 17:03] jmlucjav commented on #26237
ah, that was the issue then, thanks!!

[2017-08-16 18:32] delirius325 commented on #19546
This would be a neat feature to add, +1

[2017-08-16 22:55] sherry-ger opened #26248 "Configure Azure snapshot repository via APIs"
Currently, the snapshot and restore settings are stored in the elasticsearch.yml If the azure user password expired, to update it in the elasticsearch.yml file would require a cluster restart to take effect. Given how often a password can expire, this is not a desirable behavior.  Also, sometimes there is not any access to settings in the yml file on the machines running the elasticsearch nodes. F

[2017-08-16 23:37] hanoch commented on #26248
👍

[2017-08-17 00:43] TomonoriSoejima commented on #26078
I am passing along some additional comment by the customer.
Hopefully, it gives you more clarity to the problem.

[code]

[2017-08-17 02:03] yiguolei commented on #26244
@jpountz

Why is it just the tip of the iceberg? Is there any other problems or data structures that consumes so much memory?

[2017-08-17 08:04] jpountz commented on #26244
FieldInfos are one thing, but there are other resources that we need per field. For instance doc values need some per-field metadata in memory (such as the `Lucene410DocValuesProducer$NumericEntry` class that you saw), postings and doc values need to maintain open index inputs, we need to load the terms dictionary for term-based fields and the BKD tree index for point-based fields, etc.

Plus ther

[2017-08-17 08:22] jpountz commented on #25102
LUCENE-7897 has been merged. Closing.

[2017-08-17 08:22] #25102 closed

[2017-08-17 08:48] KeithTt opened #26252 "[security_exception] current license is non-compliant for [security], with { license.expired.feature="security" }"
ELK version: 5.5.1

I restart one of my ES node, and the ES cluster turns red and can't be accessed.

**[security_exception] current license is non-compliant for [security], with { license.expired.feature="security" }**

what is wrong........I have updated my license to basic a free days ago.

[code]

[code]

![image](https://user-images.githubusercontent.com/15189954/29403813-07570316-836c-11e7-9

[2017-08-17 09:18] bport commented on #25796
@yeikel if you need extra info let me know

[2017-08-17 09:42] JagathJayasinghe commented on #25603
Let me answer your questions in turn,

1) Yes, for a query like { "size": 10, "query": { "ids": { "values": [183307729] } } } we expect to get back one document and hits.total of 1. But when this issue occurs we get an incorrect hits.total value.
Sometimes it returns 1 (which is correct value) other times a much higher value, this behaviour just feels like round-robin of shards.

2) ProductId and

[2017-08-17 09:56] boesing commented on #2917
+1

[2017-08-17 10:13] colings86 commented on #26252
Hi @KeithTt , we reserve Github for bug reports and feature requests for the Elasticsearch vanilla product only. Please ask questions like these about X-Pack in the [X-Pack forum](https://discuss.elastic.co/c/x-pack) instead. Thank you!

[2017-08-17 10:13] #26252 closed

[2017-08-17 10:37] javanna commented on #26220
Question: do we want to have these as yaml tests so the language clients can run them too? Or shall we consider making them java tests that se the low-level REST client instead?

[2017-08-17 12:16] shaharmor opened #26255 "Hostname environment variable no longer works in elasticsearch.yml when starting using systemd"
**Elasticsearch version** (`bin/elasticsearch --version`):
6 beta 1

**Plugins installed**: []

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):

`Linux elasticsearch-data-001 4.4.0-92-generic #115-Ubuntu SMP Thu Aug 10 09:04:33 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

**Description of the problem including expected versus actual behavior**:

Before

[2017-08-17 12:20] colings86 commented on #26255
@jasontedor are you able to take a look at this?

[2017-08-17 12:47] forestlcoder opened #26256 "Upsert"
**Describe the feature**:Use upsert method to merge partial document in an existed index,firstly the newly added result only contain index name、type and _id，run upsert method again the source will be added.

**Elasticsearch version** (`bin/elasticsearch --version`):5.2

**JVM version** (`java -version`):java-1.8.0_141 64bit

**OS version** (`uname -a` if on a Unix-like system): windows 10

**Descr

[2017-08-17 12:59] polyfractal commented on #26220
I was targeting the yaml tests so that clients could also run them, figured that would provide the widest benefit to new tests (since basically none of the clients do any body testing at all, it may smoke out some issues).  And yaml tests are sometimes easier to write :)

But I could be convinced either way.  What do you think?

[2017-08-17 13:00] jpountz commented on #26078
We couldn't reach agreement as to what to do in that case so we will just disallow prefix queries on ipv6-mapped ipv4 addresses since they introduce ambiguity as to how the prefix length should be interpreted.

[2017-08-17 13:02] #26233 closed

[2017-08-17 13:10] Ritwik28 opened #26257 "Correct configuration file"
My log look like this which is "|" separated.

The log consist of id, status, request, response fields.

The request and response are present in XML data which are "|" separated.

[code]
And I have use configuration file like this :

[code]

But it is not working. Please let me know what changes should be made in configuration file.

My output should look like this:

[code]

[2017-08-17 13:15] jasontedor commented on #26257
This looks like you're having trouble with Logstash, not with Elasticsearch and this is the Elasticsearch repository. That said, we handle user questions on the [forum](https://discuss.elastic.co) reserving GitHub for tracking bugs and feature requests. So, I'm going to close this and ask you to open a topic on the [forum](https://discuss.elastic.co).

[2017-08-17 13:15] #26257 closed

[2017-08-17 13:47] javanna commented on #26220
I am fine with moving forward with yaml tests, I don't have a strong opinion, I just wanted to make sure that we consider writing java tests too.

[2017-08-17 13:59] cbuescher commented on #25603
Thanks for the feedback, this is indeed a weird behaviour. Just a few follow up questions:

* is the index you are running the query on maybe an old 2.x index or was it already created in 5.x
* are all nodes running the same Elasticsearch version, so we can exclude serialization bugs?
* Can you run the affected query using the [Validate API](https://www.elastic.co/guide/en/elasticsearch/reference/

[2017-08-17 14:11] cbuescher commented on #25603
One think I forgot mentioning about `CheckIndex`: since its a very low level Lucene tool that comes without warranty, you should make a backup of your index before running it. More in the [JavaDocs](http://lucene.apache.org/core/6_4_1/core/org/apache/lucene/index/CheckIndex.html). Also

[2017-08-17 14:22] cbuescher commented on #25603
I changed the titel to make the issue a bit more specific, still not sure if this is a bug or not but let's treat is as one for now.

[2017-08-17 14:55] cbuescher commented on #16489
Is this something we still want to do or can we close this issue?

Adding the ability to trim arbitrary chars to the trim token filter seems to solve most of the above use cases and should be easy to do. Is there anything that speaks against doing this?

[2017-08-17 15:43] jpountz opened #26258 "Consider enabling low-level search cancellation by default"
Low-level search cancellation is currently an opt-in, meaning that probably nobody is turning it on. Now that we reduced the overhead of low-level search cancellation (#25776), maybe we should investigate enabling it by default. We'd need to benchmark some cheap queries that match many documents to measure how much of an impact it has now.

cc @danielmitterdorfer

[2017-08-17 15:52] dakrone commented on #26258
I happen to have a testing environment already up and running (I was using it to test adaptive replica selection), I'll run the PMC benchmarks with and without low level cancellation and see what sort of difference it makes!

[2017-08-17 16:03] GaryTurpin commented on #26238
Your understanding is correct with us changing from `_scan ` to `_search ` when we upgraded to ES 5.4.  We currently have 4 shards and we had the `size` set to 50.  Last night, I changed that `size` from 50 to 1000 and didn't see a difference at all in the average time to scroll through the whole set of docs.  Do you have any other suggestions?

[2017-08-17 16:21] jpountz commented on #26238
Can you share the first request that you are issuing that includes the query and sort order?

If you can get the nodes hot threads while you are paginating through matches, it might also give us information about the bottleneck.

[2017-08-17 16:42] jpountz commented on #26256
Sorry I don't understand what the bug is, can you explain what your expectations are and what you get?

[2017-08-17 17:22] frankliu81 commented on #25834
@imotov, you are right, I didn't reinstall the mapper attachment plugin after upgrading.  Once I re-installed the plugin, then elasticsearch can start.  However, getting the `unable to upgrade the mapping for the index` was quite misleading, seems to indicate the plugin is fine, but the index was the issue.

[2017-08-17 17:22] #25834 closed

[2017-08-17 17:36] eskibars opened #26260 "CIDR to ip_range"
**Describe the feature**:
Currently the `ip_range` type accepts the standard range notation (e.g. `gte`, `lte`).  However, IP ranges are fairly commonly defined by a CIDR.  It adds some complexity to the mapping internally, but in order to avoid having to do the conversion externally when the source data may come directly from e.g. a network switch and also to cut down on the overall size of `_sou

[2017-08-17 18:16] GaryTurpin commented on #26238
Here it is.
`/_search?scroll=2m
{"from":0,"size":1000,"sort":[{"_doc":{}}],"_source":{"includes":["_id","_score","title","posted","provider","city","state","zip","location","description.html","ispremium","company","jobproviderid","featuredstartdate","featuredexpirationdate","careertitleid","geoarea","geoareatype","source","trackingpixelurl","employerid","tagsinternal","industryid","urlhostname","u

[2017-08-17 18:33] rlogan7202 opened #26261 "elasticsearch-env.bat chokes on if not "%JAVA_TOOL_OPTIONS%" == """
elasticsearch-6.0.0-beta1

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`): JRE 1.8

**OS version** (`uname -a` if on a Unix-like system): windows 7 enterprise

**Description of the problem including expected versus actual behavior**:
elasticsearch.bat doesn't start es.

c:\elk> elasticsearch.bat
Microsystems was unexpected a

[2017-08-17 19:24] GaryTurpin commented on #26238
After looking at this a lot more, it looks like the `took` is roughly what I would expect.  I think the issue may be either in Nest or with the way we use Nest.  Should I create a new issue with Nest and refer them to this issue?  I think it has something with deserialization.

[2017-08-17 19:30] jmlucjav opened #26263 "A /reindex operation could end up deleting the data in the source index if pipelines are misconfigured"
**Elasticsearch version**
Version: 6.0.0-beta1-SNAPSHOT, Build: Unknown/2017-08-13T15:13:28.500Z, JVM: 1.8.0_102

**JVM version**
java version "1.8.0_102"
Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.102-b14, mixed mode)

**OS version**
win10, 64b

**Description of the problem including expected versus actual behavior**:
A /reindex operation cou

[2017-08-17 20:04] elasticsearcher opened #26264 ""must_not exists" query inside a nested query does not match documents but "must exists" does"
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 5.3.3, Build: 65e26e6/2017-05-22T12:03:12.318Z, JVM: 1.8.0_131

**Plugins installed**: [x-pack]

**JVM version** (`java -version`): JVM: 1.8.0_131

**OS version** (`uname -a` if on a Unix-like system): Darwin Kernel Version 15.6.0: Thu Jun 23 18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64

**Description of the prob

[2017-08-17 20:11] nik9000 commented on #26263
I'm also fairly sure this isn't so much a bug as lack of safeguards against abuse. I imagine this is possible to do unintentionally but fairly difficult.  I'm not really sure it is worth protecting against.

[2017-08-17 20:12] nik9000 commented on #26238
If the issue is on the NEST side I'd create the issue there and close this
one.

On Thu, Aug 17, 2017 at 3:24 PM GaryTurpin <notifications@github.com> wrote:

[2017-08-17 20:22] jasontedor commented on #26261
Sorry, can you explain what you mean by chokes and provide clear reproduction steps? In particular, maybe you could share the value of `%JAVA_TOOL_OPTIONS%` from a command prompt? I see no issues currently:

[code]

Ignore the mistakenly-dereferenced environment variable (fixed by ee94a02015f9ce69d24b26a5357a01d7c905782b) and the quotes (fixed by 4651920b682b49c513de6921c3424fc7e369d9da), but note

[2017-08-17 20:49] jasontedor commented on #26255
Thanks for reporting @shaharmor. This would have been a terrible inadvertent breaking change to release 6.0.0 with. We really appreciate you trying out the beta and added you to the [Pioneer Program](https://www.elastic.co/blog/elastic-pioneer-program-6-0). I reproduced the issue and opened #26262. This time I added a test so this does not get inadvertently broken again. This will be fixed in the

[2017-08-17 20:51] #26255 closed

[2017-08-17 20:55] rlogan7202 commented on #26261
Here's is a snippet with my JAVA_TOOL_OPTIONS settings and that fails on the "if not" statement.

set JAVA_TOOL_OPTIONS=-Djava.vendor="Sun Microsystems, Inc."
echo JAVA_TOOL_OPTIONS: %JAVA_TOOL_OPTIONS%

rem do not let JAVA_TOOL_OPTIONS slip in (as the JVM does by default)
if not "%JAVA_TOOL_OPTIONS%" == "" (
REM if not "%JAVA_OPTS%" == "" (
  REM echo "warning: ignoring JAVA_TOOL_OPTIONS=%JAVA_TO

[2017-08-17 21:24] jasontedor commented on #26261
The quotes are unnecessary, `set JAVA_TOOL_OPTIONS=-Djava.vendor=Sun Microsystems, Inc.` is fine and then there's no issue but I think we can make a change to deal with this.

I'm curious though, why are you setting `java.vendor`, I can not say I have seen that before and would like to understand?

[2017-08-17 21:27] dakrone commented on #26258
Here are the benchmarks:

LLC == "Low Level Cancellation".

This was the PMC data set with the rate limited removed with 0 replicas, 5 primary shards, 5 data nodes with 31gb RAM and 16 CPUs, 1 client node with the same specs as the data nodes. All requests were sent to the client node.

## Benchmarks without throughput limiting:

| Metric                          | Operation

[2017-08-17 21:30] jasontedor commented on #26261
Thanks for trying out the beta, I added you to the [Pioneer Program](https://www.elastic.co/blog/elastic-pioneer-program-6-0).

[2017-08-17 22:01] dakrone commented on #23892
This is now deprecated in 6.0+ and forbidden in 7.0+

[2017-08-17 22:01] #23892 closed

[2017-08-17 22:03] nuala33 commented on #14573
+1, having this issue still with ES 2.4

[2017-08-18 02:54] erik-stephens opened #26269 "Possible memory leak"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.5.0, Build: 260387d/2017-06-30T23:16:05.735Z, JVM: 1.8.0_131

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "1.8.0_66-internal"
OpenJDK Runtime Environment (build 1.8.0_66-internal-b17)
OpenJDK 64-Bit Server VM (build 25.66-b17, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Li

[2017-08-18 02:55] buildlackey commented on #26152
Hi.  This is not yet the info you requested.(working on that) . but other observations that might be helpful.

**Not stuck forever:**

 * the cluster will go green if you wait long enough (an hour or so, sometimes just 10 minutes)
      * but this seems very unreasonable for an index that consists of only one small document.

**Not related to handhake exception:**

 * i cannot correlate this bug w

[2017-08-18 03:28] jasontedor commented on #26269
That would not be the limit because Netty (our underlying networking framework) uses its own direct buffer space. With the settings we provide by default, that should lead to up to another `MaxDirectMemorySize` being used. Can you do a few things:
 - start Elasticsearch with `logger.io.netty.util.internal.PlatformDependent=debug` (either `-E` on the command line or in the elasticsearch.yml) and sh

[2017-08-18 03:45] forestlcoder commented on #26256
Expectations:if the document is not existed ,the source int the hits should not be empty
Actually:if the document is not existed ,the source int the hits is empty actually
the upsert code as follows:
`IndexRequest indexReq = null;
			try {
				indexReq = new IndexRequest("m-new-worder", "order")
						.source(XContentFactory.jsonBuilder()
								.startObject()
//map is lack
								.endObject());

[2017-08-18 03:46] makeyang opened #26270 "[discuss]should we fail fast when failures happens to parse search"
1. my mapping:
        "mappings": {
          "1": {
            "properties": {
              "data": {
                "type": "nested",
                "properties": {
                  "keywordNew": {
                    "type": "text"
                  }
                }
              },
              "Id": {
                "store": true,
                "type": "keyword"
              }

[2017-08-18 05:16] rjernst commented on #26270
Closing a duplicate of #23719.

[2017-08-18 05:16] #26270 closed

[2017-08-18 06:08] rjernst commented on #21534
@ywelsch Do you want to create a PR with your original change suggested in this issue and remove the canonicalpath override flag from jvm.options? I still see this as a blocker for 6.0, so that we can work with jdk9 on release.

[2017-08-18 06:58] dimovelev commented on #17435
It happens often for us that we just restart the cluster and after that we have a lot of those error logs. No idea how to reproduce but it is definitely a bug - we just set cluster.routing.allocation.enable to none, shut down the nodes one by one. Do some linux patching or whatever. Then start the nodes.

[2017-08-18 07:14] lilizhaolilizhao opened #26271 "Data query in different ways, the same record to return the data inconsistent"
## elasticsearch version:5.2.0
In kibana, discover page and visualize page aggregation query, elasticsearch return data inconsistency, there are some differences
![qq 20170818145949](https://user-images.githubusercontent.com/7157975/29448172-eb2cc600-8427-11e7-85ae-61d492b80b79.png)
![qq 20170818150012](https://user-images.githubusercontent.com/7157975/29448171-eb2a3f66-8427-11e7-8c73-a6a999e14cc9

[2017-08-18 07:37] gr3ysky opened #26272 "Bitwise operator 4&7 !=0 returns 0 but must be 1."
Elasticsearch version: 5.0.2
OS version:Linux
I have a document containing a field productId with value 7
Here is the doc
[code]

For the query
[code]
I get
[code]
which is correct.
But when I use !=0 operator
[code]
I get

[code]
0 on the test field but it must be 1

Can u patch this please. Thanks

[2017-08-18 07:40] JagathJayasinghe commented on #25603
- No, we migrated from 1.X to 5.X using the _reindex API into new incidies.

- All 9 nodes in the cluster are running 5.3.1

- We will perform this test when the incident occurs again, it's happened twice in the last 7 days

- Good information on on checking the corruption of the index, we'll give this a go after making a backup

[2017-08-18 07:40] mars00772 opened #26273 "Template .monitoring-es conflicts with my template"
By using ES 5.5 with x-pack installed, I got so many error log telling `timestamp` mapper conflicts:

[code]

Just a wild guess,I think the reason was **template .monitoring-es conflicts with my template**
x-pack generated a template like this for the monitor index
[code]
I have a template like this, for my indices:
[code]
If what I suspect is correct, puting new high order template shoud work, wh

[2017-08-18 08:41] makeyang opened #26274 "[discuss]another fail fast case"
below is the log of ES bootstrap:
[2017-08-18T16:39:30,886][INFO ][o.e.p.PluginsService     ] [w3CXaGt] loaded module [aggs-matrix-stats]
[2017-08-18T16:39:30,886][INFO ][o.e.p.PluginsService     ] [w3CXaGt] loaded module [ingest-common]
[2017-08-18T16:39:30,887][INFO ][o.e.p.PluginsService     ] [w3CXaGt] loaded module [lang-expression]
[2017-08-18T16:39:30,887][INFO ][o.e.p.PluginsService     ]

[2017-08-18 08:54] tlrx commented on #26274
Hi,

We reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elastic forums](https://discuss.elastic.co/) instead. Thank you!

[2017-08-18 08:54] #26274 closed

[2017-08-18 08:56] #26238 closed

[2017-08-18 08:59] shaheda commented on #26272
0 is correct. != has higher precedence over &. 7!=0 is 1, so 4&1 is 0.

[2017-08-18 09:08] tlrx commented on #26256
If the document does not already exist, the contents of the upsert element will be inserted as a new document. In your case, upsert is set to `indexReq` which is an `IndexRequest` with empty source. That's why you have an empty document after the first execution. If you execute it twice, the doc will be be merged with the existing empty document.

Maybe https://www.elastic.co/guide/en/elasticsearc

[2017-08-18 09:08] #26256 closed

[2017-08-18 09:13] cuishuaigit opened #26275 "hi,bro"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
es  version : 5.2.2
**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, includi

[2017-08-18 09:21] tlrx commented on #26275
I think the log is self explanatory:

Also, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elastic forums](https://discuss.elastic.co/) instead.

[2017-08-18 09:21] #26275 closed

[2017-08-18 09:26] tlrx commented on #26271
Can you please provide:
- the mapping for the document and packet_size field?
- the document with the given `_id` as returned by a `GET /index/type/id`
- the aggregation executed by Kibana

[2017-08-18 09:41] prigornitskiy opened #26276 "updateByQuery cluster state red"
Elasticsearch version: 5.3.2

**Steps to reproduce**:
 1. insert 45.000.000 documents
 2. run:
`      let res = await client.updateByQuery({
        index: config.get('index'),
        type: config.get('type'),
        slices: 5,
        waitForCompletion: false,
        conflicts: "proceed",
        requestTimeout: 36000000,
        timeout: -1,
        body: {
          "query": {
            "b

[2017-08-18 09:44] tlrx commented on #26273
That's a good guess but it's a bit different: the custom template is not restrictive enough and conflicts with the X-Pack Monitoring template.

X-Pack exports document in indices that starts with the prefix `.monitoring-es-6-`. So Elasticsearch looks up for template that can be applied to such indices and finds `".monitoring-es"` and `"t1"`. Then it merges the template to build the final mappings,

[2017-08-18 09:47] tlrx commented on #26276
Hi @prigornitskiy, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elastic forums](https://discuss.elastic.co/) instead. Thank you!

[2017-08-18 09:47] #26276 closed

[2017-08-18 09:50] Shizuu commented on #26269
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.5.1, Build: 19c13d0/2017-07-18T20:44:24.823Z, JVM: 1.8.0_144

**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux 3

[2017-08-18 09:53] th72228120 opened #26277 "when i use fvh to highlight my search result, i find that the highlight is dislocation"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 2.3.3

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_74

**OS version** (`uname -a` if on a Unix-like system): GNU/Linux

**Description of the problem including expected versus actual behavior**:
when i use fvh to highlight my search result, i find that the highlight is dislocation

**Steps

[2017-08-18 10:07] tlrx commented on #26277
Hi, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elastic forums](https://discuss.elastic.co/) instead. Thank you!

[2017-08-18 10:07] #26277 closed

[2017-08-18 10:12] jasontedor commented on #26274
I'm treating this as a feature request, worded as a question. No, we should not make the change you are suggesting. There are two reasons for this. The first reason is that plugins can add bootstrap checks. The second reason is that we need to wait until the transport service has resolved the bind addresses; that happens after plugins are loaded. We will not be making the change that you are sugge

[2017-08-18 10:13] th72228120 commented on #26277
sorry, but i think it is a bug

[2017-08-18 10:25] makeyang commented on #26274
@jasontedor  got it and that's why I added a discuss tag

[2017-08-18 10:28] tlrx commented on #26274
@makeyang Sorry for the short closing, I understood this as another "bootstrap checks failed and I don't know why" issue.

[2017-08-18 10:29] mars00772 commented on #26273
@tlrx why the high order template`fix_monitor` didn't work for `.monitoring-es`, and bad news for me, there are too many indices, which didn't have the common   ##patten

[2017-08-18 12:49] sophiec20 opened #26280 "[DOCS] Bulk API copy as curl link defines json content type but documentation says it must be ndjson"
Found in https://www.elastic.co/guide/en/elasticsearch/reference/5.5/docs-bulk.html and later versions.

If you click on "Copy as curl" on the `POST _bulk` example, the following is copied to clipboard. This specifies the wrong content type; according to the documentation it should be `Content-Type: application/x-ndjson`.

[code]

[2017-08-18 13:06] jpountz commented on #26263
Discussed in FixitFriday. Agreed with @nik9000. Closing.

[2017-08-18 13:06] #26263 closed

[2017-08-18 13:08] s1monw commented on #26260
we discussed it in fixit firday and we are convinced we should do this. Not sure about the priority. I am labeling it adopt me.

[2017-08-18 13:16] cbuescher commented on #25796
Possibly related to https://github.com/elastic/elasticsearch/issues/24946

[2017-08-18 13:17] jpountz commented on #25796
It is indeed problematic that it only applies to the first geo-point. We might not want to put them on GeoPoint in order to keep that class lightweight but there is also a possibility of having a whitelisted utility class for such methods.

[2017-08-18 13:20] jpountz commented on #25722
Discussed in FixitFriday. We agreed on supporting that feature, eagerly evaluating the wildcard against the index name and returning a match_all/match_none depending on whether there is a match.

[2017-08-18 13:27] jpountz commented on #25718
Discussed in FixitFriday. We agree there is a bug that needs fixing but the discussion so far suggests that we need to do more research in order to find out the proper way to handle the `_msearch` and `_bulk` endpoints and their newline-separated json docs.

[2017-08-18 13:33] nik9000 commented on #26280
Either content type works now. This will have to be done before #25718 though.

[2017-08-18 13:35] tlrx commented on #25578
I agree with Nik, I think that some kind of customization for retries could be useful. Today the low-level client retries on 502, 503 and 504. I also see 500 as a potential candidate.

[2017-08-18 13:35] jpountz commented on #25152
Removing the discuss label since this is something that we eventually want.

[2017-08-18 13:38] jpountz commented on #24917
@jimczi What do you think?

[2017-08-18 13:40] jpountz commented on #24694
Closing: We don't want to make the geo centroid or geo hash grid aggregations more complex than they are today.

[2017-08-18 13:40] #24694 closed

[2017-08-18 13:44] nik9000 commented on #26272
I'm labeling this painless so @jdconrad can have a look. I'm not sure if this is an actual bug or a documentation bug but @jdconrad will know.

[2017-08-18 13:45] tlrx commented on #26273
It didn't work because fields with same name but different type must have the same settings (see #11812), in order to avoid all kind of inconsistencies when querying the field. In your case, the custom template is applied to the monitoring indices too (but it should not) and it causes the conflict.

[2017-08-18 13:46] javanna commented on #25578
as far as I remember 500 is not retried by the clients because Elasticsearch itself returns it in some cases. This is something that we should eventually fix in Elasticsearch so that 500 can be retried too. This is one of the reasons why I would prefer to better define what to retry on rather than allowing to customize it because we don't do the right thing by default.

[2017-08-18 13:49] HonzaKral commented on #25578
We discussed this many times with clients, that's how we arrived at the trio of `502`, `503`, and `504`.

`500` wasn't selected because there is no reasonable expectation for things to work after retry - `500` literally means a generic error since otherwise it would have more precise number. In such case there shouldn't be a retry and the decision should be left for the user (either by specifying

[2017-08-18 13:52] jpountz commented on #24611
Maybe filters should always return an array like other bucket aggregations? We could try to maintain the same order as in the request. Also: removing the discuss label since everybody seems to agree we should remove the `keyed` option.

[2017-08-18 13:54] epixa commented on #25718
If/when you do deprecate application/json for the bulk/msearch requests, can you give the Kibana team a heads up?  We're sending application/json for all console requests, and it'd be good to get that implementation updated before or as it gets deprecated so using console doesn't result in a bunch of deprecation logs in elasticsearch.

[2017-08-18 13:54] jpountz commented on #24587
FixitFriday: removing the discuss label and assigning to Nick. This soulds like a useful feature but we need to validate whether we can execute such an aggregation efficiently.

[2017-08-18 13:56] javanna commented on #25578
Sounds like we do need to allow users to configure which error codes to retry on and leave the defaults as they are, like the other clients do. Marking adoptme.

[2017-08-18 13:59] tlrx commented on #25578
@HonzaKral I agree and understand your point. I didn't mean to add 500 to the default list but rather add a way for users to easily configure the error codes to be retried.

[2017-08-18 14:00] imotov commented on #24465
We discussed it in FixItFriday and decided that it warrants a bigger separate discussion.

[2017-08-18 14:31] jdconrad commented on #26272
@shanayl is correct.  The order of precedence for operators in Painless can be found in the documentation (https://www.elastic.co/guide/en/elasticsearch/painless/master/_operators.html).  I'm going to go ahead and close this as this is not a bug.  @gr3ysky Please feel free to re-open or file another issue if the solution presented isn't working as expected.

[2017-08-18 14:31] #26272 closed

[2017-08-18 14:39] th72228120 opened #26285 "<em> tags are dislocated when I use fvh to highlight the search result"
**Elasticsearch version** (`bin/elasticsearch --version`): v2.3.3

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_74

**OS version** (`uname -a` if on a Unix-like system): GNU/Linux

**Description of the problem including expected versus actual behavior**:
\<em\> tags are dislocated when I use fvh to highlight the search result
**Steps to reproduce**:

 1. the mapping is :
cur

[2017-08-18 15:04] rsmith013 opened #26286 "Strange behaviour when trying to index geo_shape polygon over dateline"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.1

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_141

**OS version** (`uname -a` if on a Unix-like system): GNU/Linux

**Description of the problem including expected versus actual behavior**:

When trying to index a geo_shape which crosses the dateline am getting intersection errors. 80% of the issues were solved

[2017-08-18 15:12] jasontedor commented on #26269
@Shizuu Can you verify the JVM options that Elasticearch is started with? They are printed in the logs on startup, can you share the log line here?

[2017-08-18 15:13] jdconrad opened #26287 "Build Failure - :qa:mixed-cluster:v5.6.0-SNAPSHOT"
Multiple Test Failures for :qa:mixed-cluster:v5.6.0-SNAPSHOT

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+multijob-darwin-compatibility/78/console

REPRODUCE WITH: gradle :qa:mixed-cluster:v5.6.0-SNAPSHOT#mixedClusterTestRunner \
  -Dtests.seed=2105558FC1301C46 \
  -Dtests.class=org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT \
  -Dtests.method="test {p0=cluster

[2017-08-18 15:16] jdconrad opened #26288 "Build Failure: Cannot Expand ZIP"
Cannot expand ZIP '/var/lib/jenkins/workspace/elastic+x-pack-elasticsearch+5.6+periodic/elasticsearch/distribution/bwc/build/bwc/checkout-5.5/distribution/zip/build/distributions/elasticsearch-5.5.2-SNAPSHOT.zip' as it does not exist.

https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+5.6+periodic/541/console

[2017-08-18 15:18] s1monw commented on #26287
@dakrone can you look it seems like it's related to our latest changes

[code]

[2017-08-18 15:19] jdconrad opened #26290 "Build Failure :qa:full-cluster-restart:v6.1.0-SNAPSHOT#oldClusterTestCluster#node1.configure"
Execution failed for task ':qa:full-cluster-restart:v6.1.0-SNAPSHOT#oldClusterTestCluster#node1.configure'.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/3950/console

[2017-08-18 15:19] dakrone commented on #26287
@s1monw @jdconrad I reverted the changes to the 5.6 branch last night, this looks like CI has not caught up to a good commit yet.

[2017-08-18 15:19] s1monw commented on #26287
ok lets close it

[2017-08-18 15:19] #26287 closed

[2017-08-18 15:21] jasontedor commented on #26288
It's from the release/version bump dance, it's fixed now.

[2017-08-18 15:21] #26288 closed

[2017-08-18 15:28] jasontedor commented on #26290
Elasticsearch could not start because logging was being touched before logging was initialized. This is no-no, and we fail startup. This is fixed by a1adf4cd8a3bde5805c9783e5f44a7ebae37c952.

[2017-08-18 15:28] #26290 closed

[2017-08-18 18:01] aliostad opened #26292 "Fields defined in _source return other fields too"
**Elasticsearch version**: 5.1.2
**Plugins installed**: x-pack
**JVM version**: 1.8.0_111
**OS version**: Linux myvmname 3.16.0-43-generic #58~14.04.1-Ubuntu SMP Mon Jun 22 10:21:20 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
If I define field `foobar` in the `_source` and my document has field `foo`, it will be returned. I fin

[2017-08-18 18:48] ksripathi commented on #12349
@imotov

I got same issue but I couldn't resolve it using https://www.elastic.co/guide/en/elasticsearch/guide/current/_important_configuration_changes.html  since it not available

Can you suggest what steps needs to be followed

[2017-08-18 18:56] erik-stephens commented on #26269
I disabled the disabling of explicit GC and enabled that netty debug logging:
[code]
My environment doesn't allow me to enable & query NMT.  Instead of enabling explicit GC's, does adding `-Dio.netty.maxDirectMemory=0` [1] seem like a way to help cap total off-heap usage?  Thank you for your help!

[1] https://netty.io/4.0/xref/io/netty/util/internal/PlatformDependent.html#141

[2017-08-18 19:00] imotov commented on #12349
@ksripathi first of all, the best place to ask questions like this is our support forum https://discuss.elastic.co/ We are trying to use github only to track issues and enhancement reports. Creating issues with questions or resurrecting old issues like this creates additional noise that might cause us to miss important bug reports. Saying that, the page that you are referring to is now https://www

[2017-08-18 19:09] erik-stephens commented on #26269
And in case this helps, this is what cmd-line looks like:

[2017-08-18 19:12] gndcshv opened #26293 "Shards get stuck initializing on a large cluster (5.5.1)"
## Shards get stuck initializing on a large cluster

**Elasticsearch version**:
[code]

**Plugins installed**: [analysis-icu, analysis-kuromoji, mapper-murmur3, repository-s3, custom-discovery]

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a`):
[code]

## Description of the problem and steps to reproduce

In this particular case I have a cluster with 3 dedicated masters and 1

[2017-08-18 19:22] shaharmor commented on #20937
Is still the case in 6.0?

[2017-08-18 19:31] jasontedor commented on #20937
I doubt that it will make an appearance in 6.0.0, maybe some time in the 6.x lifetime though. It's not a high-priority feature.

[2017-08-18 19:36] buildlackey commented on #26152
Hi. one of my colleagues filed a bug on this same issue, so we would like to close this bug as a duplicate of this one -> https://github.com/elastic/elasticsearch/issues/26293

[2017-08-18 19:36] #26152 closed

[2017-08-18 20:01] gndcshv commented on #26293
From that exception
[code]
that it times out after 15 minutes - is it possible to lower that timeout so this happens sooner? Is it exposed in the settings? Is this a viable solution at all?

[2017-08-18 20:02] mattweber opened #26294 "painless _score script with value_type double returns null or 0.0"
I have a client that wants to aggregate on the `_score` of a doc (don't ask).  I can accomplish this using a painless inline script.  This works until I want to sort those values by term because the value is treated as a string.  Simple enough, figured we can just set `value_type` to `double` so it is treated a numeric value.  Unfortunately this falls over and all docs get `0.0` as their score in

[2017-08-18 20:06] ebuildy commented on #26293
hello, just a hint, I use ``/_cat/recovery?v`` API to debug this kind of issues, may this help you. https://t37.net/how-to-fix-your-elasticsearch-cluster-stuck-in-initializing-shards-mode.html is also good to read. Could be because the number of data nodes , did you try with less data nodes ?

[2017-08-18 20:42] gndcshv commented on #26293
@ebuildy Don't see this problem on smaller clusters or when creating indices with fewer shards. I bumped into this issue specifically because I have a quite large data set I need to index flowing in constantly with high throughput. By setting number of shards to be the same as number of data nodes I seem to get best performance. Number of nodes comes

In this particular case I don't see anything h

[2017-08-18 21:09] jasontedor commented on #26269
You still have disabling of explicit GC there.

[2017-08-18 21:12] timtutt commented on #21648
@borissmidt -  Does that mean there is currently no way to do this with the Elasticsearch apis. In the javascript API for instance the put template allows you to specify an id as a template, but not the full URL to post. I have a number of templates that I automatically load using some scripts, but using toJson in this manner does not seem possible.

[2017-08-18 21:29] jystervinou opened #26296 "[docs] Elastic Reference Docs should include example requests replies."
**Describe the feature**:

Some of the Elastic reference docs are, i think, too dense on textual explanations, but too light on examples.

It's easier to understand a given request syntax with examples.

Specifically, the examples are missing the replies. You get the request json, but not the reply.

**My feature request is to add, as much as possible, the *replies* of the requests example.**

Bec

[2017-08-18 22:55] Shizuu commented on #26269
Here it is :
[code]

Explicit GC is disabled (I took care to check in jvm.option when I updated to 5.5.1).

Before posting the issue here I tried to :
* re-enabling Explicit GC
* update my java from 8u112 to 8u141
* update kernel & system, reboot
but it didn't change anything

[2017-08-18 23:02] jasontedor commented on #26269
You have JMX and agent installed. Would you please remove those and see if the issue continues to reproduce? I want to be clear: I am not suggesting these are the cause (I doubt they are), rather I need to get this down to the essence that I can reproduce before I can make progress on this. The more variables we remove, the simpler our effort will be. And maybe we get lucky before rolling up our s

[2017-08-18 23:04] rjernst commented on #26294
Please ask questions on [our forum](https://discuss.elastic.co/c/elasticsearch). We use github for feature requests and confirmed bug reports.

[2017-08-18 23:16] rjernst commented on #26292
I cannot reproduce this on master. Can you try on a more recent version of elasticsearch (say 5.5)?

[2017-08-18 23:22] Shizuu commented on #26269
No problem, I can remove them. We use them mostly to monitor the JVM.
Here are the new options :
[code]
But RSS is still growing above 6G.
Here is another memory detail :
[memory-6G.txt](https://github.com/elastic/elasticsearch/files/1235892/memory-6G.txt)

[2017-08-18 23:29] jasontedor commented on #26269
Thanks for the quick turnaround. Let's try another thing: from Elasticsearch 5.3.0 to 5.5.1, we upgraded Netty 4 from 4.1.7 to 4.1.11, and Lucene from 6.4.1 to 6.6.0. Those are quite some changes, on top of new features and so on (but the most likely culprits to leaking native memory are Netty and Lucene).

Let's start by seeing if it could be if it's something new in Netty 4. Can you start Elasti

[2017-08-18 23:31] Mpdreamz commented on #25578
+1 on opening this up, I think the current set has worked well OOTB for long enough to not change the default but there are plenty cases where the user is smarter than us :)

[2017-08-19 00:00] Shizuu commented on #26269
I think you nailed it. The RSS stabilized around 4.7G. :+1:
It's still moving though, but no more than by small steps of less then 500ko. (In 5.3, the RSS doesn't move at all after 2min after the start.)
Need to wait a day or two to see if it grows further.
If I can I'll post some graphs of memory over time.

[2017-08-19 00:01] hanoch commented on #26248
to make sure we are on the same page, we are requesting to have all the snapshot and restore settings that are currently only configurable by editing the elasticsearch.yml file, be configurable by via the APIs, both REST (http) API and Transport (java) API, including `account`, `key`, etc. :
https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-azure-usage.html

The reason for t

[2017-08-19 00:06] jasontedor commented on #26269
I would not call it nailing it yet. We only confirmed a strong hunch I had that it was Netty 4, now I need to understand what changed in Netty 4 that is doing this. 😄

[2017-08-19 00:07] jasontedor commented on #26269
So let's go back to the beginning: now we have a culprit, now we need to find what in Netty 4 is causing this. What can you offer in the way of a reproduction? Any straightforward steps I can follow that reliably reproduces the issue? With a reproduction in hand, and knowing where to look, it would be time to roll up our sleeves and find the root cause.

[2017-08-19 00:30] Shizuu commented on #26269
I don't know exactly how to reproduce.
In staging, we didn't have the issue. Staging is 1 master node, 3 data nodes, and 2 additionnal nodes for kibana with an injection between 100 and 3,000 docs/s.
Our production is : 3 master nodes, 24 data nodes, 2 additionnal nodes with an injection rate between 10,000 and 100,000 docs/s. (1700 indices, 8700 primary shards, with 1 replica)

Another thing I ju

[2017-08-19 00:39] mattweber commented on #26294
@rjernst I'm sorry, but I am well aware of where I should ask questions and where I should report bugs.  This is a bug, not a question.  Please re-open, I have removed "any ideas" from the original issue that might have indicated this was a question.  Please see the attached script that clearly reproduces the issue.

[2017-08-19 06:15] borissmidt commented on #21648
@timtutt, it is possible to do if you post the templates as a string. The last part of the url is the id.
to save the template:
Post /_seach/template [id]
To use the template:
Get /_search/ template
{
id:[id],
params:{a:hello}
}

You should take s a look at the documentation since it explains it better.

[2017-08-19 06:23] jasontedor commented on #25953
@javanna It looks like @rjernst has taken it up and we will need a different approach (namely addressing the underlying issue with how we handle multi-valued settings).

[2017-08-19 06:32] jasontedor commented on #26269
I tried a few different approaches tonight to see if I could come up with a reproduction and I do not have one. What is your method for ingesting documents into Elasticsearch?

[2017-08-19 11:39] aliostad commented on #26292
I cannot reproduce on 5.4.

[2017-08-19 13:23] Shizuu commented on #26269
We use bulk indexing across all 24 datanodes (in the process on building ingest nodes).
Bulk size is 3000 documents at max. Indices are daily and ~50 indices by day.
Mapping is dynamic, and is updated every few minutes depending on the documents we receive.
We have a few mapping exceptions every few seconds too because some clients are sending us conflicting documents.

I had an idea since the CPU

[2017-08-19 13:37] Shizuu commented on #26269
With netty 4, same threads taking 100% of a core :
[hot_threads_master01_netty4.txt](https://github.com/elastic/elasticsearch/files/1236383/hot_threads_master01_netty4.txt)

[2017-08-19 18:50] imotov commented on #26269
@Shizuu how big is your cluster state at the moment? Looking at the hot threads, all these threads are doing is sending mappings over the network.

[2017-08-19 19:14] Shizuu commented on #26269
Yes we have a pretty big cluster state, because we use a lot of types, even for similar documents we can have dozens of types (i know it's bad, we plan to reduce that to be ready for 6.0 & 7.0).
Right know a get of cluster state (without pretty) give me a json of 65Mo.
I can count in the mapping near 50,000 types and 1,5 millions fields.

[2017-08-20 01:18] shoggeh opened #26298 "Nodes Stats API: indices.recovery.current_as_target always zero"
**Elasticsearch version: 5.5.2**
**Description of the problem including expected versus actual behavior**:

Monitoring API under /_nodes/stats can provide info about source/target hosts used in recovery process, however `indices.recovery.current_as_target` is always 0, no matter how many ongoing recoveries/relocations/initializations are happening on/to said host.

I believe these values should be

[2017-08-20 03:43] jgq2008303393 opened #26299 "docvalue_fields support wildcard?"
Hi, all.

When using docvalue_fields, we would like to use wildcard like stored_fields:

[code]

Looking forward to this feature.

[2017-08-20 08:59] fred84 commented on #25506
@s1monw
When any of alias rollovers failed, what should we return? I see two options:
- first encountered exception (just call `listener.onFailure` and ignore other responses)
- collect all responses (both succeeded and failed) and return them together (example below).

[code]

[2017-08-20 10:45] mbullock1986 commented on #10005
Hi All,

I know this is difficult however wondered if this issue has moved on with the advent of version 6?

Thanks!

[2017-08-20 19:35] jasontedor commented on #24932
There have been many changes in the replication layer in the past few months that could impact this test. I have not seen any recent failures along these lines, so I think this issue should be closed in favor of a new issue if these failures occur again.

[2017-08-20 19:35] #24932 closed

[2017-08-20 19:36] jasontedor commented on #23738
This test has failed once since, in May, and there have been changes in this area. If this test fails again, we can open a new issue.

[2017-08-20 19:36] #23738 closed

[2017-08-20 19:40] jasontedor commented on #24103
I do not think we have seen this again, please correct me if that's wrong (but there should be other build failures recorded here, if so). The logs for this specific failure are cleaned up, so there's no information about this failure. I'm going to close this issue, we can reopen if it occurs again.

[2017-08-20 19:40] #24103 closed

[2017-08-20 22:12] midokate opened #26301 "two nodes with the same cluster name having two different cluster uuid"
Hello
    i configured two node with the cluster name (production) but when i installed head plugin i didn't see the two nodes i saw the node which its address is used to open head plugin
(for instance <node1 ip add>:9200/_plugin/head will show me the node 1 as master and as the only node in the cluster the same thing goes for the node2 )

    my configuration :
==> node1:
cluster.name: production

[2017-08-21 00:44] jasontedor commented on #26301
The UUID is a non-issue, if the nodes could form a cluster the resulting cluster state would have a single, shared UUID (from whichever node became master). So, this points to a configuration/environment issue for you. We handle verified bugs and feature requests here, and general questions on the [forum](https://discuss.elastic.co).

[2017-08-21 00:44] #26301 closed

[2017-08-21 02:35] th72228120 commented on #26285
the same as v5.4.2, \<em\> tags are dislocated in the highlighted search result

[2017-08-21 03:50] th72228120 commented on #26285
when I use english it is repeated, too
1. create a document.
curl -XPUT web1:6250/test_1/mtype/9 -d '{"doc":[ "hello word =", "this is my hello word", "hello world"]}'
2. search query is:
{
  "query": {
    "multi_match": {
      "slop": 2,
      "fields": [
        "doc"
      ],
      "minimum_should_match": 1,
      "operator": "and",
      "query": "hello world",
      "type": "phrase"
    }

[2017-08-21 06:27] jimczi commented on #26292
This is a duplicate of https://github.com/elastic/elasticsearch/issues/22557 which was fixed by  https://github.com/elastic/elasticsearch/pull/22593 in es 5.2.1

[2017-08-21 06:27] #26292 closed

[2017-08-21 06:33] bhupenchn commented on #26122
From what I understand, the rectification is to update the documentation?
I would like to take this up, as a starting point to contribute on elasticsearch.

[2017-08-21 06:52] jimczi commented on #26122
@bhupenchn your understanding is correct, feel free to send a PR and we'll review it.

[2017-08-21 07:00] jimczi commented on #26296
Thanks @jystervinou , we've started to test our snippets in the documentation some time ago and added a lot of examples where requests and answers are present. For some APIs the results are the same but I agree that we could have more examples of answers in the docs. Are you willing to contribute ? You could start with the example you linked and add an example replies for the `match` and `multi_ma

[2017-08-21 07:02] bhupenchn commented on #26122
Thanks, will do the necessary.

[2017-08-21 07:09] jimczi commented on #26286
@nknize can you take a look ?

[2017-08-21 07:13] gndcshv commented on #26293
Uninstalled all plugins including `custom-discovery`, so instead of this entry in `elasticsearch.yml`:
[code]
I have this:
[code]
where the IP's are of the three master-eligible nodes as per recommendation in https://www.elastic.co/guide/en/elasticsearch/reference/5.5/modules-discovery-zen.html.

There are no Java processed except Elasticsearch running on the nodes. These tests are performed in AW

[2017-08-21 07:20] jimczi commented on #26298
@ywelsch can you take a look ?

[2017-08-21 07:28] ywelsch commented on #26293
As you have the transport tracer running, can you check whether the request with id `1106203` appears in the logs of `node_az3_006a1fb63b6`?

Just a very wild guess, but can you enable the [`transport.ping_schedule` setting](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-transport.html) (e.g. to `"10s"`) and see if this helps? Note that as it is not a dynamic setting it re

[2017-08-21 07:33] jpountz commented on #26264
This is the expected behaviour:
 - Query 1 finds all documents that have one nested document or more that do not have a value for `nested_field.name`
 - Query 2 finds all documents that have one nested document or more that have a value for `nested_field.name`
 - Query 3 finds all documents whose none of the nested documents have a value for `nested_field.name`

The inverse of query 2 is indeed qu

[2017-08-21 07:33] #26264 closed

[2017-08-21 07:36] jimczi commented on #26285
Can you share the definition of the custom `ik` analyzer that you defined for the `test_1` index. I cannot reproduce the bug without this. Also can you try to use the `unified` highlighter instead and see if the bug reproduces ? The `fvh` highlighter is still maintained but we plan to remove it in favor of the `unified` highlighter in a near future. The `unified` highlighter can use term vectors t

[2017-08-21 07:46] shekharS7 opened #26303 "Debug log file size increase exponentialy due to elasticsearch"
Debug log file size is increase exponentially due to elastic search debug. And its coming in gb. It takes lots of time to download and open and also its is consuming disk space.

So if we disable log from magento it will not generate debug file. But I need debug file to track other magento modules and fix erros as required. In elastic search debug I am getting these following lines which is increa

[2017-08-21 07:54] s1monw commented on #26303
this is a bugtracker and reserved for feature requests and bug reports. If you have a particular question about elasticsearch please consult the [forum](discuss.elastic.co ) while this rather sounds like a 3rd party configuration issue.

[2017-08-21 07:54] #26303 closed

[2017-08-21 08:06] th72228120 commented on #26285
I download the ik analyzer from https://github.com/medcl/elasticsearch-analysis-ik/tree/v5.4.2 and my mapping is :
{
  "test_1" : {
    "mappings" : {
      "mtype" : {
        "properties" : {
          "doc" : {
            "type" : "text",
            "term_vector" : "with_positions_offsets",
            "analyzer" : "ik_max_word"
          }
        }
      }
    }
  }
}

right now I try the u

[2017-08-21 08:11] aliostad commented on #26292
Thank you!

[2017-08-21 08:17] jpountz commented on #10005
Sorry, it has not.

[2017-08-21 08:18] saliormoon commented on #21932
@binjo  I have the same problem, but I can't resolve it with above means.

[2017-08-21 08:47] gabrielhao commented on #21978
Should this issue be closed after the PR ?

[2017-08-21 09:00] #25528 closed

[2017-08-21 09:06] gndcshv commented on #26293
@ywelsch Thanks for the reply!

I raised `transport.ping_schedule` to `10s` on all nodes and restarted the cluster, transport settings from one of the nodes:
[code]
This doesn't seem to help, stuck initializing shards appear with the same frequency when creating indices.

I've tried to look up that request ID mentioned in the exception, but there's no mention of it before the exception itself neit

[2017-08-21 09:11] tomoktan commented on #2917
+1

[2017-08-21 09:13] jpountz commented on #26258
I'm ignoring the 99.9th and 100th percentiles which look a bit noisy, but otherwise the performance hit looks very low.

[2017-08-21 09:23] bport commented on #25796
@jpountz Ok thanks for taking care of it, if I can help in any way let me know

[2017-08-21 09:25] ywelsch commented on #26293
that's unfortunate

The include rule is fine. There should be at least a log line on `node_az2_f79f3497d0` that the `prepare_translog` request with id `1106203` has been sent (around timestamp 2017-08-18T17:02:55, i.e. 15 mins before the error got reported). Can you confirm that? This would help identify the network stack as the issue.

Another wild guess, but can you try to switch `transport.type

[2017-08-21 09:31] xueyihan opened #26304 "Anyway to change a long datatype to string in _source when index a document?"
Kibana can't display long type correctly. I need to change a long type data stored in the _source to a string. I use mongodb + mongo-connector + elasticsearch, i have no idea to do this!

[2017-08-21 09:34] cbuescher commented on #26304
Elastic reserves GitHub for bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co) and [IRC channels](https://www.elastic.co/community) for general questions.
I'd suggest starting to look at the Ingest APIs and the [Ingest Node](https://www.elastic.co/guide/en/elasticsearch/reference/master/ingest.html) as a startet. This very likely solves your needs.

[2017-08-21 09:34] #26304 closed

[2017-08-21 09:59] xueyihan commented on #26304
Thanks, that's really helpful! @cbuescher

[2017-08-21 10:18] jmlucjav opened #26306 "failure using Windows junctions for data dir"
**Elasticsearch version**
Version: 6.0.0-beta1-SNAPSHOT, Build: Unknown/2017-08-13T15:13:28.500Z, JVM: 1.8.0_102

**JVM version**
java version "1.8.0_102"
Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.102-b14, mixed mode)

**OS version**
win10, 64b

**Description of the problem including expected versus actual behavior**:
If you use windows junct

[2017-08-21 10:36] jimczi commented on #26306
It seems that the `SecurityManager` cannot handle junctions correctly. There is a similar bug in Lucene:
https://issues.apache.org/jira/browse/LUCENE-6644
@jasontedor is there anything we can do ?

[2017-08-21 10:38] jmlucjav commented on #26306
FYI, I tried with the target dirs being in the same disk ES_HOME is, and it failed too, but with a different error msg.

[2017-08-21 10:55] jimczi commented on #19027
Closed by https://github.com/elastic/elasticsearch/pull/25537

[2017-08-21 10:55] #19027 closed

[2017-08-21 11:03] jimczi commented on #21712
Considering that we don't split on whitespace anymore in 6.0, this issue should not be a problem anymore unless explicit `AND`s are used. I think this is acceptable so I'll close this issue.

[2017-08-21 11:03] #21712 closed

[2017-08-21 11:09] th72228120 commented on #26285
I find the problem is due to the ik analyzer.
thanks a lot.

[2017-08-21 11:10] #26285 closed

[2017-08-21 11:10] jimczi commented on #24553
This issue has been fixed in Lucene:
https://issues.apache.org/jira/browse/LUCENE-7914
... and will be available in es 6.0
The workaround for es 5.x is to check the size of the prefix on the client side in order to prevent the stack overflow (something like a few hundreds chars should be a good limit).

[2017-08-21 11:10] #24553 closed

[2017-08-21 11:50] jimczi commented on #26208
Thanks @ethteck and sorry for the late reply.
I understand your requirements now. As is the `rescorer` in es does not seem to be a good fit. I tried to come up with a solution that would require small changes to the code but your use case is more than just a rescoring query. The `rescorer` in es is **just** a query rescorer, it's simple and precise but cannot be customized. We've discussed some ti

[2017-08-21 12:11] #26142 closed

[2017-08-21 12:29] azr commented on #26205
Okay got time to dig out, turns out the import script was wrong.
Sorry for doubting !!

[2017-08-21 12:56] #25746 closed

[2017-08-21 13:57] jasontedor commented on #26306
The Lucene issue is closed as won't fix. Without that being fixed, there's nothing that we can do. Even if the Lucene issue were fixed, I'm still not sure if we should do anything. This is the first time this issue has come up in two years of the security manager. Junctions can only be used to point to local volumes on the same computer, so there's a workaround: change the Elasticsearch configurat

[2017-08-21 13:57] #26306 closed

[2017-08-21 14:05] jmlucjav commented on #26306
@jasontedor I did not post the msg as I was in a hurry and thought that fixing the diff disk scenario would automatically fix the other one (intuitively the diff disk case should be as hard as or harder to fix).  But if this is a no fix why should the other one be different? Anyway, this is in my dev machine, so I can overcome the issue several ways, thanks.

[2017-08-21 14:07] jasontedor commented on #26306
I can't answer your question without knowing what the second issue is.

[2017-08-21 14:26] ethteck commented on #26208
Not a problem - thank you for the reply.

That's a fair viewpoint. I guess the frustration from our point of view is that while this functionality may have never officially been supported, we were able to very easily solve our problem when we could access the `SearchContext` via `SearchContext.current`. Obviously as a normal Elasticsearch user, the [removal](https://github.com/elastic/elasticsearc

[2017-08-21 14:38] jpountz opened #26307 "Use CoveringQuery to select percolator candidates?"
Currently when extracting conjunctions such as `a AND b AND c`, we use heuristics in order to figure out which term is the rarest and we only index this term.

Lucene just got a new [`CoveringQuery`](https://issues.apache.org/jira/browse/LUCENE-7621) which allows to configure the number of required clauses on a per-document basis. This means that we could index all terms of `a AND b AND c` alongsi

[2017-08-21 14:53] gmoskovicz commented on #19789
It would be great to do something when a disk goes to read-only. This seems to be the default in some linux OSs when there are issues (such as corruption or problems with the mounted disk).

Also, to avoid this we could mention (in the documentation) that RAID 0 could be helpful?

[2017-08-21 14:59] gmoskovicz commented on #18417
@ywelsch @s1monw is there are news on this?

Some OSs would cause the mounted disk to be read-only and if so the entire cluster will have issues with RED shards and not moving shards. Perhaps this could help in that end?

[2017-08-21 15:04] s1monw commented on #26208
so today plugins can install a `RescoreBuilder` that can be used to customize the rescorer. I wonder if that would be enough? From a my perspective we can pass down more information to the `build` method of the rescore builder like a `TopDocsStats` object that contains relevant information. I would love to make this rescorer infrastructure more flexible to support other usecases and we can extend

[2017-08-21 15:24] jpountz opened #26308 "Should we have a default timeout?"
While discussing #26258 @jimczi asked whether we should set a default timeout. This proved a bit controversial: on the one hand it would reduce the impact that insane queries could have on clusters but on the other hand this might be a bit trappy as users might not be checking the `timed_out` field of search responses, which is the way to know that the response is partial due to a timeout. I'm ope

[2017-08-21 15:29] jasontedor opened #26309 "Reconsider packaging changes to support elasticsearch.keystore"
A previous change tried to create an `elasticsearch.keystore` on startup, if one does not exist (#26149).

This is fine for the archive distributions, but it is incompatible with the packaging distributions because the `elasticsearch` group does not have write permissions to `/etc/elasticsearch`.

To accommodate this, we now create the `elasticsearch.keystore` on package installation, if it does n

[2017-08-21 15:29] #5042 closed

[2017-08-21 16:10] nik9000 commented on #26208
Almost. I'm going to take this issue and make sure that it works. Right now it'd work in the Transport client API but not in the REST API because we do not have an extension point for the parsing.

@ethteck, do you need anything to implement your rescores other than the `Searcher` and the `TopDocs`? I'm going to open a PR to make rescorers a "real" extension point. In doing that I'm going to tight

[2017-08-21 16:27] talevy opened #26312 "[CI] CentOS Packaging Tests Still Failing"
CI links:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+packaging-tests/77/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/1917/console

exception trace:

[code]

[2017-08-21 16:32] jasontedor commented on #26312
This is known, there's an open PR for it, and an open issue for it.

[2017-08-21 16:33] jasontedor commented on #26312
Duplicates #26309

[2017-08-21 16:33] #26312 closed

[2017-08-21 16:40] talevy commented on #26312
oh thanks @jasontedor, wasn't looking up the right thing in search for existing issue. thanks

[2017-08-21 17:35] ethteck commented on #26208
Oh great! Thank you so much.

Ideally, we also would have access to the rescore window size if available.

[2017-08-21 18:02] Houssemeddine-ziadi commented on #19868
The error was clearly described by users in many issues. Why you are looking for the number of files descriptors or everything else but not to the "transport" issue !!
1. If "transport.host" is removed from elasticsearch.yml (transport parameters take values from the network ones)
**RESULT**
publish_address {xx.xx.xx.xx:9300}, bound_addresses {[::]:9300}
bound or publishing to a non-loopback or no

[2017-08-21 18:26] jasontedor commented on #19868
I think you misunderstand that the bootstrap checks apply if the node can form a cluster with another node: see the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.5/bootstrap-checks.html)

You have to address the issues the checks are reporting.

[2017-08-21 18:32] gndcshv commented on #26293
Can't find any mention of that request on the node specified in the RemoteTransportException - I'm guessing that's the node that was supposed to stream the data. That exception itself in not there either - the only nodes have it are the active master and the data node that had that shard stuck initializing.

Updated `elasticsearch.yml` and restarted the cluster. Transport settings look like this n

[2017-08-21 20:28] talevy opened #26314 "[CI] Multiple failures for :qa:mixed-cluster:v6.1.0-SNAPSHOT"
CI links:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+aggressive-opts/615/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/3993/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+java9-periodic/3693/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+oracle-periodic/469/console

trace:

[2017-08-21 21:41] Houssemeddine-ziadi commented on #19868
What I described in my comment was the "Transport" module not the "Bootstrap checks" (the deactivation of the later was just to see if we could find a work-around to the main issue which is the "Transport configuration" for a cluster).
I understood that the "bootstrap checks" verify the ES configuration (such as Transport module,..) not the possibility to form a cluster or not. In fact, my reading

[2017-08-21 21:50] jasontedor commented on #19868
See [development vs. production mode](https://www.elastic.co/guide/en/elasticsearch/reference/5.5/bootstrap-checks.html#_development_vs_production_mode) in the docs.

[2017-08-22 00:09] #22821 closed

[2017-08-22 00:51] jasontedor commented on #26312
@talevy It's my bad for not making it clearer in the issue.

[2017-08-22 01:53] ywelsch commented on #21534
Closed by #26302

[2017-08-22 01:53] #21534 closed

[2017-08-22 02:12] yiguolei opened #26316 "Do we have a plan to implement a replication policy by using lucene's NRT replication?"
Do we have a plan to implement a replication policy by using lucene's NRT(https://issues.apache.org/jira/browse/LUCENE-5438) replication?  Or anybody that is working on this? I think it will reduce a lot of cpu.

Any other reasons that ES doesn't use this feature?

[2017-08-22 02:15] jasontedor commented on #26316
At this time, we do not. Please ask additional questions on the [forum](https://discuss.elastic.co); we reserve GitHub for verified bug reports and feature requests.

[2017-08-22 02:15] #26316 closed

[2017-08-22 02:29] xueyihan commented on #26304
no way to bind a pipeline to a index? it' hard to use when you have to add a pipeline id to a request, especially for mongo-connector. @cbuescher

[2017-08-22 03:23] dakrone commented on #26308
+1 to have a default timeout, return a `206 Partial Content` for partial content (timed out responses) and set the timeout to something reasonable, like 5 minutes

[2017-08-22 03:37] ywelsch commented on #26298
I've verified this bug. The reason for this behavior is that the stats collection for some of the stats does not work for shards that have not completed their recovery yet (i.e. haven't made it into POST_RECOVERY state), see e.g. `IndexShard.docStats()`. This makes it so that the overall stats collection for that index on that node will be ignored, see https://github.com/elastic/elasticsearch/blob

[2017-08-22 03:45] jasontedor commented on #26308
206 status code is inappropriate. It's only if the client sends a range request (as indicated by a `Range` header field).

[2017-08-22 04:07] dakrone commented on #26308
Okay that makes sense then. Still +1 on the timeout though

[2017-08-22 04:51] Mpdreamz commented on #26309
Cc @elastic/microsoft

[2017-08-22 07:50] colings86 commented on #25845
No Further feedback. If you have the raw json query to share please comment with it and we can reopen the issue

[2017-08-22 07:50] #25845 closed

[2017-08-22 07:55] tlrx commented on #25883
No feedback provided, I'm closing this issue.

[2017-08-22 07:55] #25883 closed

[2017-08-22 08:44] tsachev opened #26318 "Cannot configure logging for rest client."
This affects the 5.6.0-SNAPSHOT version where commons-logging dependency is shaded (#25208).
The problem with commons logging is that it depends on service loader SPI (META-INF/services),
So if I want to provide an alternative logging backend like log4j-jcl, jcl-over-slf4j or other I cannot do it since it searches for the relocated LogFactory.

Here is the log if I enable diagonstics with
[code]

[2017-08-22 09:21] programingjd opened #26319 "Submit gradle build-tools plugin to the gradle plugin portal"
I think the `build-tools` plugin for gradle (`org.elasticsearch.gradle:build-tools`) should be submitted to the [gradle plugin portal](http://plugins.gradle.org/).
This would enable the use of the new [plugins dsl](https://docs.gradle.org/current/userguide/plugins.html#sec:plugins_block).

[2017-08-22 09:25] colings86 commented on #26318
@javanna Could you take a look at this one?

[2017-08-22 09:31] javanna commented on #26318
@hub-cap any ideas how we can work around this?

[2017-08-22 09:36] #26230 closed

[2017-08-22 09:41] jimczi commented on #24547
Resolved by https://github.com/elastic/elasticsearch/pull/26030

[2017-08-22 09:41] #24547 closed

[2017-08-22 09:42] mr-mos commented on #21101
+1, for the default pipeline (regarding the use-case for _timestamp)

[2017-08-22 09:47] markharwood commented on #25820
Having a hard time recreating this.
I've just created a single-field, single-shard index with 100k docs in 2.4.0, snapshotted it and restored into 5.3.3 where I've been able to scroll through all docs without an issue.
We'll need to dig deeper on your config either by supplying the index or at least mappings, scroll queries and example doc.

[2017-08-22 10:25] lilizhaolilizhao commented on #26271
**This example uses a new ID, the last used ID has been deleted**
## 1 mapping:
{
  "stats-eth-agg-1-2017.08.21": {
    "mappings": {
      "agg": {
        "_all": {
          "enabled": false,
          "norms": false
        },
        "dynamic_templates": [
          {
            "template1": {
              "match": "*",
              "mapping": {
                "doc_values": true,

[2017-08-22 10:29] lilizhaolilizhao commented on #26271
@tlrx

[2017-08-22 11:46] jasontedor commented on #26314
I think the true failure is higher in the logs. In the first three I see a message:

[code]

or something similar. These serialization failures then lead to the test failures for these tests.

In the fourth I see:

[code]

I think there's a common cause to all of these, a BWC change that the build was not ready for. For the former I think that it's #26145 and for the latter that would be #26235.

[2017-08-22 11:46] #26314 closed

[2017-08-22 13:55] tlrx commented on #26271
Thanks @lilizhaolilizhao.

The value `"packet_size": 2327931416` returned in the `_source` field in the GET request and shown in Kibana is the exact value provided when the document has been indexed. But what is interesting is the value indexed for the field packet_size for this document and you can return this value using [Doc Value Fields](https://www.elastic.co/guide/en/elasticsearch/reference/

[2017-08-22 14:00] fbaligand opened #26322 "more_like_this query does not work with nested data types"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.4.1

**Description of the problem including expected versus actual behavior**:
If I make a more_like_this query on a field A which is inside a "nested" B field, it returns no results.
If I remove "nested" type on B field, the more_like_this query works as expected : relevant results are returned.

=> Could you fix `more_like_this` query

[2017-08-22 14:21] colings86 commented on #26322
@martijnvg could you take a look at this?

[2017-08-22 15:22] jimczi opened #26323 "XMoreLikeThis diverged from Lucene MoreLikeThis"
XMoreLikeThis is a copy of MoreLikeThis query for elasticsearch that was added to fix an issue in Lucene but the es class has diverged from Lucene over time. We added new features to it that are not in Lucene:
https://github.com/elastic/elasticsearch/pull/8674
https://github.com/elastic/elasticsearch/pull/7014
... and the same happened on the Lucene side.

It should be possible to backport some of

[2017-08-22 15:30] bm1391 opened #26324 "Kibana not displaying syslogs over openvpn"
I have configured a ELK stack and I am having problems getting Kibana to display the logs only* over our VPN. Our logstash server is 10.100.1.10 and the openvpn server is 10.200.1.0/24 network. I am able to send test logs (logger test1, logger test2 etc.) from the remote hosts to our logstash server and I can see the logs I send in /var/log/syslog.Because of this, I can't seem to think it is a fir

[2017-08-22 15:34] jasontedor commented on #26324
This is the open source Elasticsearch repository and it sounds like you're having a Kibana issue. For that, I think you should try a topic in Kibana category on the [forum](https://discuss.elastic.co) as that's where we prefer to handle general help, reserving GitHub for verified bug reports and feature requests.

[2017-08-22 15:34] #26324 closed

[2017-08-22 15:39] hub-cap commented on #26318
Hmm, ill look into this asap. It might be that we unshade the `o.a.logging` and only shade the `o.a.http`.

[2017-08-22 15:43] jpountz commented on #26322
Duplicate of #21625

[2017-08-22 15:43] #26322 closed

[2017-08-22 15:43] jasontedor commented on #26318
I think one of the primary drivers for shading was commons logging (see #24067), so if we are not going to be shading that do we still need to shade?

[2017-08-22 15:44] jpountz commented on #26299
Agreed we should support it for consistency.

[2017-08-22 15:45] javanna commented on #26318
We do need shading for the apache http client deps as well.

[2017-08-22 16:54] arakelian commented on #17511
I agree with @edudar.

I think use case being described is simple and limited in scope. When parsing queries, allow the caller to use a field alias, which gets mapped to a field name.  Period.   Everything else works the same.

The value of this feature is that it enables us to rename fields in the index, without breaking backwards compatibility for clients.  The old fields names are then deprecat

[2017-08-22 17:29] gndcshv commented on #26293
Reinstalled the plugins (analysis-icu, analysis-kuromoji, mapper-murmur3, repository-s3, custom-discovery) and everything seems to work as expected. Since I experienced this issue on both 5.4.1 and 5.5.1 I tested both and it worked.

So looks like there's a bug in `transport-netty4` module. Downgrading to `netty3` fixes this issue.

I wonder if there's any performance hit with this downgrade? Anyo

[2017-08-22 17:29] sophiec20 opened #26326 "[DOCS]"
https://www.elastic.co/guide/en/elasticsearch/plugins/master/repository-s3-client.html

In master, the repository-s3 client settings are documented as needing to be made in `elasticsearch.yml`; however I found that adding `s3.client.default.protocol: "https"` to `elasticsearch.yml` prevented elasticsearch from starting.

[code]

[2017-08-22 17:29] #26326 closed

[2017-08-22 17:49] fbaligand commented on #21625
I'm really interested by this issue fix.

[2017-08-22 18:02] ppf2 opened #26327 "API to verify connection between cross cluster search and gateway nodes"
Feedback from field admins:

While CCS' architecture is fundamentally different from tribe nodes where it does not keep a bidirectional connection open to every remote node, it can be useful to have an utility api so admins can use it to quickly verify if the CCS cluster can successfully make a connection with at least search.remote.connections_per_cluster number of gateway nodes (and which nodes

[2017-08-22 20:50] jasontedor commented on #26309
We have a path forward here. We are going to remove the auto-keystore creation from Elasticsearch and from the package installation. Instead, plugins can register if they require a keystore to exist. If a plugin registers that it does, the plugin installer will create this keystore if it does not exist, and will add the keystore.seed setting if it does not exist.

Separately, we will investigate r

[2017-08-22 21:17] hub-cap opened #26328 "shading commons-logging and SPI issue"
The shaded client jar does not play well with SPI and loading alternative logging backends. Chatting with @rjernst and @jasontedor about issue #26318 and possible solutions, we came up with a few possibilities and then some questions to answer.

The most immediate solution, given the state of the shaded jar today, is to make the user shade the jar they want to use. If they shade `o.a.logging` to `

[2017-08-22 21:18] hub-cap commented on #26318
I am closing this in favor of #26328 , which has a summary and a few open questions on it. Thank you for using our snapshot and finding this @tsachev. I will make sure we have a solution for 5.6 and beyond.

[2017-08-22 21:18] #26318 closed

[2017-08-22 23:16] ywelsch commented on #26328
I don't think that we should use any shading for the REST client libraries that we publicly provide. The reason for shading the dependencies (commons-logging, apache-httpclient) in the first place (AFAICS, looking at #25208) was for interoperability with the ES test framework, as our own ES plugins use other versions of said dependencies. The issue lies with the ES test framework here, which puts

[2017-08-22 23:55] ywelsch commented on #24733
We run the javadoc task using the JDK 8 that runs Gradle, not JDK 9. I've opened #26330

[2017-08-23 00:02] rjernst commented on #26328
That was part of the reason, but not the only reason.  Fixing the test framework is difficult. Even if the rest runner were separated out, there are still tests in core which want to check http, and those need an http client.

If the client has dependencies, there will always be someone to complain about the version of that dependency colliding with their own.  I don't have any problem with shadin

[2017-08-23 00:07] jasontedor commented on #24733
Good catch @ywelsch.

[2017-08-23 00:26] sherry-ger opened #26331 "Config S3 snapshot repository using API"
The S3 snapshot repository uses IAM role credential that can be specified in the `elasticsearch.yml` file, system properties, or environment variables.  However, there are occasions when none of these is available to a user.  For example, when using DC/OS elastic package.  It would be great to be able to set them via the APIs.  Further, to be able to specify all repository settings dynamically wou

[2017-08-23 02:15] lilizhaolilizhao commented on #26271
Thanks.   You are right. Is converted from double to float type, the damage caused by the accuracy.
![qq 20170823101148](https://user-images.githubusercontent.com/7157975/29595733-f7ed20f2-87eb-11e7-9107-e72459909b27.jpg)
![qq 20170823101152](https://user-images.githubusercontent.com/7157975/29595734-f7f86368-87eb-11e7-8765-7e0ff8d806cd.jpg)

[2017-08-23 02:20] ywelsch opened #26332 "[TEST] testAutoQueueSizingWithMin trips assertion"
QueueResizingEsThreadPoolExecutorTests.testAutoQueueSizingWithMin trips an assertion. Reproduces for me when running the test often enough.

Failure:

[code]

Failing test run:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+aggressive-opts/133/consoleFull

[2017-08-23 03:19] mengjieli0726 opened #26333 "[Cleaner of Elasticsearch]Suggest using resource limit to clean log data rather than number of days."
Elasticsearch Cleaner

**Describe the feature**:
Suggest using resource limit to clean log data  rather than number of days.

**Elasticsearch version** (`bin/elasticsearch --version`):
root@ib17b08:/usr/share/elasticsearch# elasticsearch --version
Version: 2.4.1, Build: c67dc32/2016-09-27T18:57:55Z, JVM: 1.8.0
**Plugins installed**: []

**JVM version** (`java -version`):
 java -version
openjdk ver

[2017-08-23 03:39] kervin521 opened #26334 "Nexus can't proxy the address of x-pack-transport"
maven config x-pack-transport-5.x.x.jar ,Agents need to be used because of the Intranet Environment，in the private Nexus Repository,It config the proxy address of Repository:
[code]

but the status of proxy is unsuccessful.

[2017-08-23 03:56] jasontedor commented on #26334
This repository is for open source Elasticsearch. For X-Pack issues, please raise a topic in the X-Pack category on the [forum](https://discuss.elastic.co).

[2017-08-23 03:56] #26334 closed

[2017-08-23 03:58] jasontedor commented on #26333
Please raise this on the Curator repository.

[2017-08-23 03:58] #26333 closed

[2017-08-23 04:51] dadoonet commented on #26334
Have a look at https://www.elastic.co/guide/en/x-pack/current/java-clients.html which describes how to add the repo in Nexus.

[2017-08-23 05:04] ywelsch opened #26335 "Should search preference _primary take primary relocation target into account?"
When using the search preference `_primary`, and executing a search on a cluster where a concerned primary is about to complete relocation, it's possible that the search for that primary will fail, as it will hit the primary relocation source just when the relocation is completed and the source shard is shut down. My question is:

Should the  search preference `_primary` take the primary relocatio

[2017-08-23 06:34] keenbo opened #26336 "[BalancedShardsAllocator] balance shards should consider the storage space of instances?"
As the [BalancedShardsAllocator] balance the shards  Follow 2 important principles.
First,Make sure that all es instances have near slice quantities.
Second,The index‘s shards are allocated in different instances as much as possible.

We have different machines, and the storage capacity of machines is not the same size. If we do not consider the storage space weight of the instance, when the capac

[2017-08-23 06:48] keenbo opened #26337 "should we alter PeerRecoverySourceService.START_RECOVERY request's response not waiting?"
PeerRecoverySourceService.START_RECOVERY(internal:index/shard/recovery/start_recovery)  may be should not use one thread to wait for response ?
Because the request's threadpool is very limit, if one instance recovery many shards(for example 100shards), it may lead one result, all of the thread in threadpol is waiting for START_RECOVERY's response. As we know, recovery generally will cost much time

[2017-08-23 07:43] bleskes commented on #26337
@keenbo I'm not 100% sure what you mean. I think you mean that we should move the recovery logic around that request to be async with callbacks rather than the blocking logic. This will be a big effort and we have other plans for this code. That said - it is currently run on the generic thread pool which can spawn all the thread it needs. Also, recovery is throttled both on source and target, so e

[2017-08-23 07:43] #26337 closed

[2017-08-23 08:42] javanna commented on #26328
On my end, the main reason for shading was to help users and increase adoption of the java rest client (including the high-level one which depends on the low-level one) rather than our test framework. I agree that the issues of a test component should not influence the way we package and expose our client, but this is not the case. Users would also like us to shade dependencies of the high-level c

[2017-08-23 08:57] keenbo commented on #26337
@bleskes ok, thanks

[2017-08-23 09:21] Shizuu commented on #26269
Little update : I reproduced a equivalent cluster state in another environment, and doing heavy indexing and triggering a lot of mapping changes, but didn't manage to reproduce the issue.

Then I asked myself if the issue is really linked to indexing and mapping changes.
So, I completelly stopped the indexation processes on the production cluster for a few minutes, then restarted all the masters t

[2017-08-23 09:54] terancet opened #26338 "Split doesn't work in painless"
Given the following input string
'http://hostname.domain'
I need to split it into two parts: 'http:' and 'hostname.domain'

However, when executing the following code
[code]
I do encounter the following error message
[code]

[2017-08-23 10:12] muralikpbhat opened #26339 "Indexing performance degradation in 6.0.0-beta1"
**Describe the feature**: Indexing performance

**Elasticsearch version** (`bin/elasticsearch --version`): 6.0.0-beta1

**Plugins installed**: none

**JVM version** (`java -version`): openjdk version "1.8.0_131"

**OS version** (`uname -a` if on a Unix-like system): Linux  4.9.32-15.41.amzn1.x86_64 # 1 SMP Thu Jun 22 06:20:54 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Host**:  i3.16xl EC2 instance

[2017-08-23 10:54] ismael-hasan commented on #24850
For what is worth, we have a KB article, [Tips/tricks for AWS Classic Load Balancers (CLB) (formerly Elastics Load Balancers, ELB) with Elasticsearch](https://support.elastic.co/customers/s/article/ka061000000TPlt) linking to the [Amazon documentation on this topic](https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/java-dg-jvm-ttl.html), which is pretty good in giving context to what thi

[2017-08-23 11:39] bleskes commented on #26339
thx for trying 6.0.0 - I added you to the pioneer program.

Those methods are indeed synchronization points as we assumed they would be much lighter than indexing. Can you share the output that make you conclude this?

        "index.translog.flush_threshold_size": "4gb",
        "index.translog.durability": "async",
        "index.translog.sync_interval": "240s"

This indeed removes a common bott