[2018-09-20 07:45] astefan opened #33885 "SQL: refactor FunctionRegistry to deal with optional parameters functions differently"
Locate, Round and Truncate can have optional parameters and, [at the moment](https://github.com/elastic/elasticsearch/pull/33779#discussion_r219041553) this is dealt with inside FunctionRegistry, which is rather not the best place where this check should be done.

[2018-09-20 07:45] elasticmachine commented on #33885
Pinging @elastic/es-search-aggs

[2018-09-20 07:50] jimczi commented on #33145
I am closing this issue for now since global ordinals are a lightweight per-shard dictionary that work for all type of ids. Switching to different implementations based on the type of the ids would complicate the code and is not guaranteed to be faster.

[2018-09-20 07:50] #33145 closed

[2018-09-20 08:09] cbismuth commented on #33566
Here is a complete cURL recreation script in [this Gist](https://gist.github.com/cbismuth/07a80dadbc2e651feb8a57259afcda25).

I'm now debugging to see how `o.e.r.a.a.i.RestPutMappingAction` is implemented.

[2018-09-20 09:45] droberts195 commented on #33565
This is something you could look at when you have a spare minute @benwtrent.

I think the settings to make dynamic and cluster-wide are:

* `AutodetectBuilder.MAX_ANOMALY_RECORDS_SETTING` - new setting should be `xpack.ml.max_anomaly_records`
* `DataCountsReporter.ACCEPTABLE_PERCENTAGE_DATE_PARSE_ERRORS_SETTING` - new setting should be `xpack.ml.max_percent_date_errors`
* `DataCountsReporter.ACCEP

[2018-09-20 09:47] droberts195 commented on #30075
Closed by #33788.

[2018-09-20 09:47] #30075 closed

[2018-09-20 10:28] original-brownbear commented on #33879
@tvernum sorry about that, reproducing and fixing on OSX right away :)

[2018-09-20 10:29] ritwik1994 opened #33887 "Problem with org.elasticsearch.join.ParentJoinPlugin"
Hi,

I have created the configuration of elasticservice in my spring boot app with the code :-
TransportClient client = new PreBuiltTransportClient(Settings.EMPTY);

But I am getting the error :-
15:36:02.963 [main] ERROR org.springframework.boot.SpringApplication - Application startup failed
org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'contentCo

[2018-09-20 10:41] xDouglasx commented on #33710
Thanks!

[2018-09-20 11:13] tlrx opened #33888 "Replicate closed indices"
Closed indices currently have the downside that they are not replicated, so it's possible for an index to be closed, then the data lost because the node was terminated without saving the data.

We'd like to be able to close indices to remove any memory overhead of them, but still have the indices available for replication.

Steps to accomplish this (not necessarily in order):

Routing Table
- [x]

[2018-09-20 11:13] elasticmachine commented on #33888
Pinging @elastic/es-distributed

[2018-09-20 11:13] tlrx commented on #31141
Closed in favor of #33888

[2018-09-20 11:13] #31141 closed

[2018-09-20 12:29] #33494 closed

[2018-09-20 12:33] cbismuth commented on #33566
I looks like an exception should be raised in the conditional block below.

https://github.com/elastic/elasticsearch/blob/15ff3da653c5dd9eae7f7a654a9ee6a931d478b7/server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java#L257

[2018-09-20 12:36] jimmyjones2 opened #33897 "Support date histograms over date range fields"
**Describe the feature**:

I've got a dataset that contains date range fields eg. employment start to finish dates. I'd like to plot a date histograms of the number of records it matched in a time period eg. how many employees did we have on each day of the last year

**Elasticsearch version**

6.4.1

[2018-09-20 12:40] ywelsch commented on #33566
The "fix" I was working on was to allow dynamically changing "enable", until I noticed that this is not what we want. I have not done any subsequent work on this, so you are free to proceed on this.

[2018-09-20 12:42] cbismuth commented on #33593
I'm having a look at this one.

[2018-09-20 12:59] danielmitterdorfer commented on #30935
Indeed. I think we can just close this one and cross-reference this issue from the original one.

[2018-09-20 12:59] #30935 closed

[2018-09-20 13:00] danielmitterdorfer commented on #30101
Note that there is a duplicate issue #30935 as well with further information from more test failures.

[2018-09-20 13:09] elasticmachine commented on #33897
Pinging @elastic/es-search-aggs

[2018-09-20 13:17] mpskovvang commented on #33880
Also, when used together with `bucket_selector` you have no way to determinate the size as `cardinality` is processed before.

Just my two cents.

[2018-09-20 13:20] danielmitterdorfer commented on #30740
@dakrone unfortunately the commit to enable debug logging was missing on 6.x so I took the liberty of cherry-picking it for you in a204f9394d2cf1b5fc62d47b24271228c1b951cc.

@bizybot, @atorok As a suggestion: I think it would make sense in such cases to paste the relevant log snippet here on the ticket and not just refer to the CI links because the logs are wiped after some time (IIRC the retentio

[2018-09-20 14:03] cbuescher commented on #33887
Hi @ritwik1994! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2018-09-20 14:03] #33887 closed

[2018-09-20 14:04] jakelandis commented on #30740
Looks like 6.x missed the `@TestLogging` import, so I added it : https://github.com/elastic/elasticsearch/commit/6c44fbbf74a3d71e79de8d2a4e95376f56537ecb

[2018-09-20 14:04] elasticmachine commented on #33880
Pinging @elastic/es-search-aggs

[2018-09-20 14:05] elasticmachine commented on #33884
Pinging @elastic/es-search-aggs

[2018-09-20 14:05] elasticmachine commented on #33884
Pinging @elastic/es-core-infra

[2018-09-20 14:05] dnhatn commented on #33704
I opened #33875

[2018-09-20 14:10] elasticmachine commented on #33881
Pinging @elastic/es-distributed

[2018-09-20 14:12] cbuescher commented on #33870
Hi @nitineman, thanks for opening this issue. You say you are using ES 6.4 as the server, but which High Level Rest client version are you using?
The parsing error that causes the above exception looks like there is a new syntax variation added with the "_ignore" field that we previously didn't have, so this issue might not (only) be related to suggesters but more to compatibility issues with the

[2018-09-20 14:12] elasticmachine commented on #33870
Pinging @elastic/es-search-aggs

[2018-09-20 14:12] elasticmachine commented on #33870
Pinging @elastic/es-core-infra

[2018-09-20 14:14] cbuescher commented on #33870
I'm not sure yet if this is a bug or a version mismatch that should be expected due to our [HL client compatibility requirements](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/master/java-rest-high-compatibility.html), but labeling it as "bug" for further investigation for now.

[2018-09-20 14:19] DaveCTurner commented on #33872
I tried to reproduce this and could not. I started a three-node cluster and created a one-shard one-replica index:

[code]

I then started 30 processes concurrently bulk-indexing documents into this shard (10 per node), each repeatedly doing this:

[code]

I then repeatedly moved the primary shard between the two nodes that didn't hold the replica using this:

[code]

At no point did I see a log m

[2018-09-20 14:37] jpountz commented on #33881
@vladimirdolzhenko can you have a look?

[2018-09-20 14:43] vladimirdolzhenko commented on #33881
@jpountz sure

[2018-09-20 15:01] elasticmachine commented on #33823
Pinging @elastic/es-core-infra

[2018-09-20 15:04] albertzaharovits commented on #33805
I have a WIP branch https://github.com/albertzaharovits/elasticsearch/tree/fix-get-alias but I have to go in vacation, I'll resume next Tuesday.

Testwise I think https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/security/src/test/java/org/elasticsearch/xpack/security/authz/IndicesAndAliasesResolverTests.java should try to verify that whatever patterns it is resolving it conforms

[2018-09-20 15:05] #33805 closed

[2018-09-20 15:10] original-brownbear commented on #33844
@ywelsch @jasontedor I experimented with compression performance today and there's hard data provided by @DaveCTurner provided in a linked issue (more details there) and both my experiments and the provided data suggest that compression severely limits the network throughput to around 20-30MB/s (~160-240Mbit/s) with only trivial amounts of network traffic saved => it seems reasonable to just fix t

[2018-09-20 15:15] sabi0 opened #33901 "Infinite loop on malformed input JSON"
Loops like this will iterate forever if the input stream does not have a closing curly brace:
https://github.com/elastic/elasticsearch/blob/8f2feb84143aff46225f0bca84d6f7d0d40f99fc/x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/input/chain/ChainInput.java#L62

A null check should be added to prevent this:
[code]

Some other occurrences of the same problem:

https://github.com/

[2018-09-20 15:16] jpountz commented on #33864
We looked into it and suspect that shards of the security index haven't finished allocating. As they are today, XPack tests preserve templates but not indices, while we should probably not delete and then reinstantiate the security index for every test. @nik9000 mentioned that this area in general needs love, so that for instance the same test runner could run regular and xpack doc tests.

[2018-09-20 15:17] jpountz commented on #33864
For the record here is the line in the logs that I am referring to: `19:47:10    > Caused by: org.elasticsearch.client.ResponseException: method [GET], host [http://[::1]:40253], URI [/_xpack/security/user?error_trace=true], status line [HTTP/1.1 503 Service Unavailable]`

[2018-09-20 15:33] jpountz commented on #33794
Something with our build looks wrong, this test suite hit Jenkins' timeout while it should have hit randomized-testing's timeout first, which would have given us a dump of all running threads, which in-turn would help know what the JVM is busy doing.

[2018-09-20 15:52] costin opened #33904 "SQL: Move away from JDBCType to SQLType"
Internally and inside the JDBC driver, `JDBCType` is being used for the standard SQL representation. Unfortunately this is too restrictive as it doesn't cover even the standard SQL types (such as `INTERVAL`).
Fortunately, Java 8 introduced `SQLType` an interface for extensibility which we should be using instead.

[2018-09-20 15:52] elasticmachine commented on #33904
Pinging @elastic/es-search-aggs

[2018-09-20 16:16] dliappis opened #33906 "Rename max_write_buffer_size in _ccr/stats as it's misleading"
The [max_write_buffer_size](https://github.com/elastic/elasticsearch/blob/b9e2b5cfec81c6bfa652368926d0d4102521dd72/x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTask.java#L50) parameter name is misleading: it gives the impression that you are controlling directly the size of the allocated write buffer per shard, however it is a threshold controlling the amount of su

[2018-09-20 16:16] elasticmachine commented on #33906
Pinging @elastic/es-distributed

[2018-09-20 16:18] dliappis commented on #33906
cc @jasontedor for awareness.

[2018-09-20 16:19] ywelsch commented on #33857
I've reenabled the test on master (db327818dd0) and added DEBUG logging for `org.elasticsearch.index.store` which will possibly tell us whether the move failed because a previous delete in `renameTempFilesSafe` (where we catch exception and log as debug) failed.
For the person on test triage: If this test fails again on CI, please link the latest failure here.

[2018-09-20 16:29] cbuescher commented on #33750
I just ran into this again in a PR on a branch that contains  b06a082: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request/439/console

[code]

Looks very similar, so I'm reopening for further investigation.

[2018-09-20 16:41] original-brownbear commented on #33844
@ywelsch thanks for pointing out the issue with the data I worked from :)
There's definitely a traffic saving here from compression. Measured this with the example log dataset we provide in the docs and its about a 50% reduction in traffic from compression for the whole recovery process end-to-end.

This makes the situation a little closer I guess :)
Still given the data we gathered on the runtime

[2018-09-20 16:51] jimczi commented on #29561
We're still discussing how we can introduce the new capabilities of the Lucene Matches API in Elasticsearch. The issues mentioned below are part of a bigger change that aims to make highlighters more accurate. I opened https://github.com/elastic/elasticsearch/issues/33578 to discuss how we can introduce this new mode in the `unified` highlighter but we're also exploring other possibilities. One of

[2018-09-20 17:00] nik9000 opened #33908 "XContentElasticsearchExtension's TimeValue handling looks wrong"
Right now we handle serializing `TimeValue` with:
[code]

But I *think* we should be doing it with
[code]

because `toString` produces fractional time values which we can't parse.

[2018-09-20 17:00] elasticmachine commented on #33908
Pinging @elastic/es-core-infra

[2018-09-20 17:17] cjcenizal opened #33909 "[Rollup] Update create job API endpoint to support starting the job immediately"
Per discussion with @eskibars, we think it'd be a nice UX improvement to give the user a checkbox for starting a new job immediately after it's created. This will be straightforward to implement once the create job API supports this.

[2018-09-20 17:17] elasticmachine commented on #33909
Pinging @elastic/es-search-aggs

[2018-09-20 17:18] elasticmachine commented on #33901
Pinging @elastic/es-core-infra

[2018-09-20 17:35] sqren commented on #33876
We cannot guarantee the user will have access to `apm-*`, so the request could fail. I'm okay with that though, if we deem it an edge case.
What do you think @tsullivan ?

[2018-09-20 17:44] #33704 closed

[2018-09-20 17:44] nik9000 commented on #33908
Or maybe it isn't *wrong* because sometimes we want to produce a shortened result for the user. But it is *confusing* because when we want to parse the result back we have to use `getStringRep`.

[2018-09-20 17:46] rjernst commented on #33884
This was unintentional and a side effect of the state refactoring work. Note, though, that the intent is not to have _source under state. Instead, we will add it back to params for now. I'll work on a fix for this in 6.4.2.

[2018-09-20 17:46] sabi0 commented on #33901
It might be reasonable to have `nextToken()` throw an "Unexpected end of stream" exception. And provide `nextTokenOrNull()` for those (presumably rare) cases when end of stream needs to be handled in a special way.

It would also be nice to be able to iterate the tokens in a more streamlined way:
[code]
I could create a PR for the latter change if you think it would be a useful addition.

[2018-09-20 18:15] precbioinf opened #33914 "_cluster/health is not accessible"
Installed Elasticsearch 6.4.0 (without xpack) on 5 nodes (all master/data).
Able to GET /_nodes.
But unable to GET /_cluster/health, got this:
[code]
Is this embedded xpack license restriction ?

[2018-09-20 18:31] nitineman commented on #33870
The ES server and ES REST High Level Client both are of v6.4.0
Below is the jar Im using in the Spring boot project.
elasticsearch-rest-high-level-client-6.4.0.jar

[2018-09-20 18:51] jimczi commented on #33870
This is fixed by https://github.com/elastic/elasticsearch/pull/32362. @nitineman you need to upgrade the server and client to `6.4.1` which has the fix.

[2018-09-20 18:51] #33870 closed

[2018-09-20 18:53] kurtado opened #33915 "CCS skip_unavailable drops remote results on 404"
ES version 6.3.1

When a search request on a CCS remote cluster attempts to query a remote index which doesn't exist, the response is different, depending on whether `skip_unavailable` is set to `true`. If `skip_unavailable` is `false` (or undefined), a 404 error is returned. However, when `skip_unavailable` is set to `true`, the remote results are simply dropped from the results, while the local

[2018-09-20 18:57] pickypg commented on #33876
The API in question has won't really have a user-level context, so it would be awkward for it to require a user to have the privileges.

[2018-09-20 19:09] nitineman commented on #33870
@jimczi Thanks your inputs. Upgrading both the ES server and REST High Level Client to 6.4.1 has resolved this issue. Closing the ticket

[2018-09-20 19:29] vladimirdolzhenko opened #33916 "[CI] RemoveCorruptedShardDataCommandTests.testCorruptedIndex fails"
log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/13/console

Reproducible locally:
[code]
log:
[code]

[2018-09-20 19:29] elasticmachine commented on #33916
Pinging @elastic/es-distributed

[2018-09-20 19:33] jasontedor commented on #33915
I indeed discussed this with @kurtado. A few comments: my understanding is that `skip_unavailable` is only for handling the case of a cluster that is not reachable at the time of query execution. However, we are using `skip_unavailable` to treat *any* error from the upstream cluster as success and provide an empty response. I think this is contrary to the intent of `skip_unavailable` and that we s

[2018-09-20 19:50] nik9000 opened #33919 "Get rollup jobs returns an empty array when you ask for a missing one"
If you do something like
[code]

Then the response is just
[code]

Which doesn't seem right.

[2018-09-20 19:50] elasticmachine commented on #33919
Pinging @elastic/es-search-aggs

[2018-09-20 21:28] MacMcIrish commented on #23796
For anyone else suffering from this issue, we were able to set up a workaround to return the empty lists by including the name of the nested parent in the `_source` in `6.3.0`

Example:

For indexed model
[code]

    $ curl elasticsearch:9200/foo/_search -d '{"_source": ["id", "bar.id"]}` -H 'Content-Type: application/json'
[code]

We were able to fix by adding "bar" to the `_source`

    $ curl e

[2018-09-20 21:29] #33914 closed

[2018-09-20 21:30] precbioinf commented on #33914
operator error, found that our intranet doesn't allow unencrypted traffic

[2018-09-20 21:50] DaveCTurner commented on #33778
I looked at this again:

[code]

Note that this is `node1` trying to find `node0`'s transport ports file so it can write its own config file:

https://github.com/elastic/elasticsearch/blob/6646bcb06581042f66bf72722954330145074b19/buildSrc/src/main/groovy/org/elasticsearch/gradle/test/ClusterConfiguration.groovy#L99-L103

I suspect this could just be a slow CI run hitting this timeout; moreover we

[2018-09-20 21:54] rlhh commented on #33872
I just tried reproducing this earlier today and was unable to. The only cluster setting change that we've made since opening this issue in the first place is that we've turned off tcp compression (because it has been slowing down our recoveries https://github.com/elastic/elasticsearch/issues/33844#issuecomment-423251859). I'll close this for now and report back again if I can reproduce it.

[2018-09-20 21:54] #33872 closed

[2018-09-20 22:33] elasticmachine commented on #33915
Pinging @elastic/es-search-aggs

[2018-09-20 22:35] nik9000 commented on #32718
No further feedback received. @contactonder if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2018-09-20 22:35] #32718 closed

[2018-09-20 22:35] nik9000 commented on #32712
No further feedback received. @nickdatum  if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2018-09-20 22:40] ruizmarc commented on #33884
Thanks for your quick response! It will be great to have the feature back :)

[2018-09-21 00:22] dnhatn commented on #27650
This fails on 6.x: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/46/console

[code]

Log: [testRecoveryWithConcurrentIndexing.txt.zip](https://github.com/elastic/elasticsearch/files/2403473/testRecoveryWithConcurrentIndexing.txt.zip)

[2018-09-21 00:22] elasticmachine commented on #27650
Pinging @elastic/es-distributed

[2018-09-21 01:22] maihde commented on #30529
@jpountz I know this ticket is closed but I wanted to add a bit of additional information that might help people who run across this ticket in the future better understand what's going on.

**1. Index settings and insert two documents**

[code]

**2. Execute search**
[code]

The `_source` field returns the exact values passed in because it is the original JSON so it's reasonable that it behaves as

[2018-09-21 02:03] ronborneo commented on #33919
Hi, may I work on this?

[2018-09-21 02:11] AlpNek commented on #21917
@jasontedor

Which version of Elasticsearch was it fixed in? Thanks!

[2018-09-21 06:55] bdelbosc opened #33930 "ElasticsearchException getRootCause can result in infinite loop"
**Elasticsearch version** (`bin/elasticsearch --version`): master

**Plugins installed**: []

**JVM version** (`java -version`): openjdk version "10.0.2"

**OS version** (`uname -a` if on a Unix-like system): Linux 4.15.0-33-generic

**Description of the problem including expected versus actual behavior**:

The [ElasticsearchException#getRootCause](https://github.com/elastic/elasticsearch/blob/mas

[2018-09-21 07:12] astefan commented on #30685
Hey @animageofmine, we haven't heard back from you in more than 3 months and I'm assuming you adopted one solution after all. We would love to hear what did work for you in the end. Until then, though, I'll go ahead and close this issue since it stalled for too long. Please, feel free to update it afterwards if you have any feedback/follow up for us.

@harishks even though your issue might be simi

[2018-09-21 07:12] #30685 closed

[2018-09-21 08:03] elasticmachine commented on #33930
Pinging @elastic/es-core-infra

[2018-09-21 08:08] #33879 closed

[2018-09-21 08:14] romseygeek commented on #33752
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=debian/13/console

Muting this now

[2018-09-21 08:33] romseygeek commented on #27650
Another failure here: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=centos/14/console

[2018-09-21 08:39] cbismuth commented on #33566
I've opened a PR, could please tell me if this design could fit?

If you agree on this, I'll then implement test cases and check for existing test failures.

[2018-09-21 10:47] danielmitterdorfer commented on #33750
I had a quick look and this failure reproduces always for me with reproduction line from the failed build above:

[code]

I think this is a test bug and the problem boils down to the fact that the calculation in the following line is not taking object alignment into consideration when creating the array initially?

https://github.com/elastic/elasticsearch/blob/b654d986d7814b66808e40dfe8a4a891b7d6a

[2018-09-21 11:05] jimczi opened #33936 "Response headers missing from search response"
Today we have the ability to preserve response headers if they are present on a transport protocol response. For instance search action relies on this feature to preserve depreciation warnings when search is broadcasted to all shards. However we had some failures where deprecation warnings are lost during a search:
https://github.com/elastic/elasticsearch/issues/31116
https://github.com/elastic/el

[2018-09-21 11:05] elasticmachine commented on #33936
Pinging @elastic/es-core-infra

[2018-09-21 11:06] romseygeek opened #33937 "Occasional failure in vagrant Windows2012r2 packaging test"
Five failures since early July with the following message:
[code]

This only happens in the `:qa:vagrant:vagrantWindows2012r2` process.  There's this issue on the vagrant repo which may be related: https://github.com/hashicorp/vagrant/issues/8468

The build failures can be found here:
https://groups.google.com/a/elastic.co/forum/?utm_medium=email&utm_source=footer#!searchin/build-elasticsearch/vag

[2018-09-21 11:09] romseygeek commented on #33857
Another failure today: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-windows-compatibility/14/console

[2018-09-21 11:15] jimczi commented on #31116
This test revealed a bug in how we pass the response headers from internal shard search request to the final search response. I opened https://github.com/elastic/elasticsearch/issues/33936 to track this issue. However there is another issue here, we don't issue the deprecation warning on empty indices because suggesters are omitted in this case. I'll open a pr to fix this since we want the depreca

[2018-09-21 11:17] hipertracker2 opened #33939 "What to use in ES in absence of removed MLT?"
The documentation is confusing. I found that, first "more_like_this", and later "mlt" were removed from the API. I need MLT for the searching similar docs.

[2018-09-21 11:35] #33939 closed

[2018-09-21 11:36] ywelsch commented on #33857
Unfortunately that was on 5.6 (which does not have the extended logging, and which we forgot to mute). I've muted the test on 5.6 for now (a6aa7738d59).

[2018-09-21 11:39] nik9000 commented on #33919
@polyfractal, could you confirm that it ought to 404? I think it should but
I'd like a second opinion before I say "yes" to about folks working on it.

On Thu, Sep 20, 2018, 10:04 PM ronborneo <notifications@github.com> wrote:

[2018-09-21 12:00] #33916 closed

[2018-09-21 12:09] nik9000 commented on #33939
Could you send me some links to the documentation about removing `more_like_this`? It looks like `more_like_this` is the name it should have and I'd be happy to clean up any confusing documentation.

[2018-09-21 12:14] ashwinrao286 opened #33941 "Highlighting is not working as expected with synonym wordnet filter in elasticsearch"
Hi Guys,
I am facing some issue in highlighting synonyms which are mapped from Wordnet. It is highlighting irrelevant words while searching.

Here's my code below.
[code]
My search query
[code]

Results are as below.

TEST: This area contains the Customer name: TEST Customer Type TEST: This area contains **information** on the  type: TEST DLA

Note : Please click '**new** value' column and 'old va

[2018-09-21 12:31] nik9000 commented on #33919
@ronborneo I've conferred with some other folks to make sure I'm not crazy and they agree with me.

One point: we'd like the API to still return an HTTP 200 when you do `curl localhost:9200/_xpack/rollup/job/_all` and there aren't any jobs but 404 in all other cases. This is what we do in a few other places. I'm not sure it is really the right thing from an REST standpoint, but if it is wrong then

[2018-09-21 12:41] sergii-sakharov commented on #29561
So for the time being FVH is the only option for phrase highlighting?

Coincidentally I reproduced a bug with splitting phrase into words and highlighting all word occurrences even with FVH. This happens in case of "match_phrase_prefix" search with "max_expansions" set to something high enough.
For us even default value of 50 causes highlighter to _fallback_ to this behaviour. In case of max_expan

[2018-09-21 12:41] astefan commented on #33941
Hi @ashwinrao286,
Github is for issues (confirmed bugs) or new feature requests, while your question doesn't fit this purpose. Can you, please, post your question in [our forum](https://discuss.elastic.co/) and someone will help you there?

When you post there, do please provide a more clear description of your issue:
* ES version
* sample data to reproduce the problem
* desired output vs. current

[2018-09-21 12:41] #33941 closed

[2018-09-21 12:46] original-brownbear commented on #33772
Fixed in https://github.com/elastic/elasticsearch/pull/33943, the pasted errors are just part of the normal operation of other tests in the suit btw.

[2018-09-21 12:48] romseygeek commented on #33857
Now there's a master failure :)

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/14/console

[2018-09-21 12:49] bleskes commented on #33906
+1 to rename. I would propose `max_queued_writes`

[2018-09-21 12:57] romseygeek commented on #33864
Three more failures in the last 24 hours, all on master:
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=amazon/12/console
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java10,nodes=virtual&&linux/14/console
* https://elasticsearch-ci.elastic.co/job/elastic+elast

[2018-09-21 12:58] nik9000 commented on #33901
@sabi0, It looks to me like we're protected from this by a `com.fasterxml.jackson.core.io.JsonEOFException` that jackson throws at us when it hits the end of the steam but expects an END_ARRAY or END_OBJECT. Do these cause infinite loops for you?

For the most part we're pushing folks towards using `ObjectParser` which makes it a lot easier to look at the parsing code and say "this is right". I'm

[2018-09-21 13:04] jpountz commented on #33897
We agree that it would be a nice feature to support. Closing in favor of #23182 which already captures this need and has some discussion.

[2018-09-21 13:04] #33897 closed

[2018-09-21 13:11] hipertracker2 commented on #33939
I closed the ticket since it's not relevant. more_like_this is there, it only lost few params, like "mlt" https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_60_search_changes.html

[2018-09-21 13:17] nik9000 commented on #33939
Got it, thanks! In general I'm quite happy to go and fix confusing documentation.

[2018-09-21 14:07] javanna commented on #33915
Agreed that the initial implementation of `skip_unavailable` was a bit naive. This was brought up initially (https://github.com/elastic/elasticsearch/pull/27182#issuecomment-341076133) but we kept things simple to start with. I would consider this as a bug. I need to look into how to distinguish between errors that need to be ignored and errors that have to be thrown. I guess that apart from timeo

[2018-09-21 14:08] iverase commented on #33756
We have another failure with a slightly different message:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=amazon/14/console

I cannot reproduce it locally.

[2018-09-21 14:12] ywelsch commented on #33844
We discussed this during FixitFriday today. While re-compression on top of Lucene can bring further space savings (needs more benchmarks, but numbers between 10% to 50% reduction in size were mentioned), it comes at the cost of additional CPU usage, which 1) can have a negative impact on indexing / search performance, as recovery is supposed to be a background task and 2) due to the way we're sequ

[2018-09-21 14:27] geekpete opened #33948 "[s3 snapshots] Refuse to do a snapshot if s3 bucket is detected with object versioning enabled, but provide override parameter to allow it"
**Describe the feature**:

Sometimes users will inadvertedly have s3 object versioning enabled on a bucket they're snapshotting into which can cause additional storage cost for little (no?) benefit in the context of Elasticsearch snapshots.
It might be good to default to preventing snapshots to versioned buckets but allow an override if a user really wants to do so, which will catch the scenario e

[2018-09-21 14:27] elasticmachine commented on #33948
Pinging @elastic/es-distributed

[2018-09-21 14:27] nik9000 commented on #33385
So I ended up building consensus around renaming the tags and finally renamed them a few days ago.

[2018-09-21 14:27] #33385 closed

[2018-09-21 14:39] jpountz commented on #33661
Hi @gna582,

This corruption exception doesn't look like corruptions that we occasionally see that are due to faulty hardware. Instead it looks like the issue occurs on data tha was freshly written. The exception suggests that the expected file exists and contains some data, but trailing bytes can't be read for some reason. The fact that KVM reimplements some functionality via software might expla

[2018-09-21 14:42] jpountz commented on #33508
We like the idea of using one warning to say something like "X warnings have been ignored because they would make the number or size of warning headers exceed the configured limit". Now the question is: if we have a limit of 10 warnings, should we have 9 actual warnings plus this one, or 10 actual warnings plus this one? We didn't have enough time to reach consensus on that one. Opinions?

[2018-09-21 14:45] phoerious opened #33949 "SearchResponse.isTerminatedEarly() returns null instead of false"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.4.1

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_181

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 18.04

**Description of the problem including expected versus actual behavior**: `org.elasticsearch.action.search.SearchResponse.isTerminatedEarly()` returns `null` when the result list is too short.

[2018-09-21 14:54] elasticmachine commented on #33949
Pinging @elastic/es-core-infra

[2018-09-21 14:56] elasticmachine commented on #33949
Pinging @elastic/es-search-aggs

[2018-09-21 15:03] hendrikmuhs opened #33952 "[ML-Dataframe] Job configuration storage design discussion for dataframe builder"
Design discussion for ML dataframe builder https://github.com/elastic/elasticsearch/tree/feature/fib

Work in progress.

### Intro

A dataframe builder job uses persistent task that can be created/deleted/started/stopped. This issue discusses ways to store the configuration of a dataframe builder job.

#### Configuration payload

A configuration object is supposed to be small, it contains fields l

[2018-09-21 15:03] elasticmachine commented on #33952
Pinging @elastic/ml-core

[2018-09-21 15:26] #31649 closed

[2018-09-21 15:47] martijnvg opened #33954 "[CCR] Tweak the retry-able error list"
When a shard follow tasks encounters an error, it determines whether it is a retry-able error or a non retry-able error. A retry-able error is retried in back off like manner. A non retry-able error is not retried and fails the shard follow task.

The follow list of errors is retried at the moment:
* java.net.ConnectException
* java.nio.ClosedChannelException
* "Connecion reset" (any error with th

[2018-09-21 15:47] elasticmachine commented on #33954
Pinging @elastic/es-distributed

[2018-09-21 16:03] martijnvg opened #33956 "[CCR] Shard follow task should validate follow shard history uuid"
Currently it is possible to to remove the follower index while ccr replicates document from a leader index into it and then to create a new follower index (just via create index api) and ccr will then after retrying continue to replicate documents into the the just newly created index. This is bad, because all checks that we do in the follow index are bypassed and the follow index is no longer ide

[2018-09-21 16:03] elasticmachine commented on #33956
Pinging @elastic/es-distributed

[2018-09-21 16:21] astefan opened #33957 "SQL: PI() function works with multiply character (*) only when the character has whitespaces in front and back"
[code]

[2018-09-21 16:32] original-brownbear commented on #33844
@ywelsch I looked into 2.4 and it seems the same issues this PR points out is present there as well:

The global setting overrides the per request option exactly like it still does, see https://github.com/elastic/elasticsearch/blob/2.4/core/src/main/java/org/elasticsearch/transport/netty/NettyTransport.java#L832.

So while we even did have the option (removed in https://github.com/elastic/elastics

[2018-09-21 16:52] andrershov opened #33958 "Zen2 ClusterState storage"
In Zen, `ClusterState` is stored through `GatewayMetaState`. There are the following issues with the current approach:
1) Since `GatewayMetaState` implements `ClusterStateApplier`, if there was an `IOException` during storing the state, `ClusterState` change still will be applied to in-memory node state.
2) `GatewayMetaState` stores global metadata and index metadata for each index in separate fil

[2018-09-21 18:42] omnidepp opened #33959 "Ingest-Date-Processor: date parse failure for ISO8601"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.4.1

**Description of the problem including expected versus actual behavior**:
If milliseconds are missing, a timestamp string in ISO8601-format causes a date parse failure.

This parses correctly: `018-09-18T10:09:09.007Z`
This does not: `2018-09-18T10:09:09Z`

**Steps to reproduce**:

Parsing a timestamp like this **2018-09-18T10:09:09

[2018-09-21 18:52] cjcenizal opened #33960 "[Rollup] Better create job API error message when index pattern captures rollup index"
The current message is `[x_content_parse_exception] Failed to build [xpack/rollup/jobconfig] after last required field arrived`. If this error specified that the index pattern captures the rollup index, then this will be more helpful for the user.

[2018-09-21 19:03] bleskes commented on #27650
I think this has to do with the rollback of the engine on a replica in the case where the new primary was promoted but existing ops don't have seq# (primary was on an old node). In that case, no resync happens and we lose the data that wasn't committed on the replica. I discussed this  @dnhatn and he will work on fixes, but with a lesser priority then CCR. We should consider this a blocker. Markin

[2018-09-21 20:01] pgomulka commented on #15115
Hi,
I was trying to reproduce that issue with the oldest version supported 5.2.1, and it is not possible to index a document with a multi-field of completion type.
See gist with curl requests and responses
https://gist.github.com/pgomulka/d3444a8ea93f0672392fb518aaacc839

Still it is possible to create a mapping with multi-fields of type completion. Should this be prevented?
[code]
[code]

[2018-09-21 22:28] jasontedor commented on #33930
Would you please provide a reproduction of a case where cyclic causes can occur? We go have guards elsewhere in our code for cyclic causes, although this is a precautionary measure and I have never actually seen it in practice: https://github.com/elastic/elasticsearch/blob/67bfb765ee8b7958a4d7a26b17f653ae8955878d/server/src/main/java/org/elasticsearch/ExceptionsHelper.java#L229

[2018-09-22 04:27] rajapaladugula opened #33965 ""error_message": "Operation failed: Current license is basic." while updating Basic License"
!-- Bug report -->

**Elasticsearch version** (`bin/elasticsearch --version`): 6.4.0

**Plugins installed**: [N/A]

**JVM version** (`java -version`): 1.8.0_181

**OS version** (`uname -a` if on a Unix-like system):
3.10.0-862.11.6.el7.x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**: **Steps to reproduce**:
Actual::
Tried registering the basic license as

[2018-09-22 09:10] romseygeek commented on #33857
`PartitionedRoutingIT.testShrinking` seems to have a similar issue:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/16/console

[2018-09-22 09:25] romseygeek opened #33966 "[CI] Test failure in MachineLearningIT#testStartDataFeed"
Reproduces for me locally on 6.x:
[code]

The log is full of repeated messages like so:
[code]

[2018-09-22 09:28] romseygeek commented on #33966
Build log links:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=fedora/15/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/45/console

[2018-09-22 15:53] jpountz commented on #6616
Given that shapes are going to be indexed as independent triangles, we won't have access to the total overlap surface at once, so I'll close this issue.

[2018-09-22 15:53] #6616 closed

[2018-09-22 18:54] jevalen4868 commented on #32136
Hello folks, if this fella is open I'd like to take a look.

[2018-09-22 20:31] slammerhammer opened #33969 "Why is donald trump mentioned in the code?"
Everyone can agree that donald trump is racist and sexist. Everyone can agree he hates everyone who isn't white and male. Why is donald trump mentioned in the code how could you let some neo nazi trump supporter sneak propaganda into the source code. i am very offended by this and hope it gets removed immediately. do this in the name of equality, justice, and saving your project from nazis

https:

[2018-09-22 20:34] M-BoloDyebambewe commented on #33969
What the fuck? This must be a joke. Why would anyone do that? Reporting for CoC violatoin

[2018-09-22 21:46] #33969 closed

[2018-09-22 22:22] soulne4ny opened #33970 "6.4.0: very long startup without any log at all."
**Elasticsearch version**:
Version: 6.4.0, Build: oss/tar/595516e/2018-08-17T23:18:47.308994Z, JVM: 1.8.0_171

**Plugins installed**:
none

**JVM version**:
openjdk version "1.8.0_171"
OpenJDK Runtime Environment (IcedTea 3.8.0) (Alpine 8.171.11-r0)
OpenJDK 64-Bit Server VM (build 25.171-b11, mixed mode)

**OS version**
Alpine 3.8.0 inside docker 17.05.0-ce at
Linux 2cdfc9017dae 4.9.0-8-amd64 #1 S

[2018-09-23 07:33] jishnu09 commented on #32459
I have checked out on 20th Sep 2018,but still this problem exists.Please help me out.

[2018-09-23 15:01] nik9000 commented on #24939
I believe we've migrated all of the remaining static bwc tests. A few month ago, actually. I just hadn't payed attention to this issue in the mean time.

[2018-09-23 15:01] #24939 closed

[2018-09-23 15:04] nik9000 commented on #24319
It looks like I let this one fall through the cracks. I haven't looked at this issue in over a year so I'm unassigning myself. I'm still happy to pick it up if we think it is important but I wonder if we really do given that I let this sit for a year and no one poked me about it.

[2018-09-23 15:12] nik9000 commented on #28053
I've added the 6.5.0 label to this. I'm honestly not that involved with reindex at this point so I'm not sure I'm the right person for this. But i don't think *anyone* is super involved in reindex right now.

For what it is worth: this looks to only be an issue on 6.x. The test is only muted in 6.x and i haven't seen a fairly of it in master.

[2018-09-23 16:08] cbismuth commented on #29678
Obsolete PR closed and new one opened in sync with `master` branch.

[2018-09-23 17:45] bleskes commented on #33119
@tvernum @jaymode  +1 on my end. Are you guys going to work on it?

[2018-09-23 18:27] costin opened #33975 "SQL: Separate ProcessDefinition and ScriptTemplate from functions"
When first introduced, `ProcessDefinition` and `ScriptTemplate` were part of `ScalarFunction` however the concept proved to me much more generic.
For example arithmetic operators were transformed into functions (despite not being one); the same situation needs to be applied with the rest of the operators, namely the comparison and some predicates (Like/RLike).
In fact, most (if not all) expression

[2018-09-23 23:53] tvernum commented on #33119
I'll make sure someone picks this up in time for 6.5.0

[2018-09-24 00:37] #32913 closed

[2018-09-24 05:57] s1monw commented on #33755
@jakelandis looking

[2018-09-24 06:05] tvernum commented on #32459
@jishnu09 Unless you are trying to run the ES test suite on a FIPS mode JVM, then you are not running into this issue.

If you have a problem running the ES tests, then it would be best to ask on our [forums](https://discuss.elastic.co/).

[2018-09-24 06:34] #33755 closed

[2018-09-24 06:54] danielmitterdorfer commented on #33970
Thanks very much for your interest in Elasticsearch.

Elasticsearch is running on top of the Java virtual machine (JVM) and this time delay is caused by the startup routine of the JVM itself and on which Elasticsearch has no influence. Hence we can not log anything because at that point Elastisearch has not even started yet.

Due to `-XX:+AlwaysPretouch` the JVM will ensure that all memory pages a

[2018-09-24 06:54] #33970 closed

[2018-09-24 07:00] elasticmachine commented on #33959
Pinging @elastic/es-core-infra

[2018-09-24 07:16] danielmitterdorfer commented on #33965
Since Elasticsearch 6.3.0, the default distribution already includes a basic license (see also the [release blog post](https://www.elastic.co/blog/elastic-stack-6-3-0-released)). Furthermore, in the [docs for the `start_basic` API for Elasticsearch 6.4](https://www.elastic.co/guide/en/elasticsearch/reference/6.4/start-basic.html), we state (emphasis mine):

It is likely that in your case the preco

[2018-09-24 07:16] elasticmachine commented on #33965
Pinging @elastic/es-core-infra

[2018-09-24 07:28] mayya-sharipova commented on #33857
Similar failures on 5.6, 6.x and master in the last 12 hours.

[code]

seems to be caused by AccessDeniedException

[code]

[2018-09-24 07:31] sbrunot commented on #32203
I would like to further investigate this issue... Could anyone direct me to the components that are dealing with term queries or Date datatype in the source code ? Thanks for your help.

[2018-09-24 07:36] danielmitterdorfer commented on #33959
I ran the following simulate pipeline API call against Elasticsearch 6.4.1:

[code]

which returned the following response:

[code]

So it seems the date "2018-09-18T10:09:09Z" has been parsed just fine? Can you please try that API call as well? Does your pipeline contain other processors that might cause this behavior? You can check the pipeline definition for a pipeline named `my-pipeline` with:

[2018-09-24 08:48] lucabelluccini opened #33980 "Watcher email action fails completely if there is at least one invalid email"
**Elasticsearch version**: `6.2+ but can be applied to previous and latest versions`

**JVM version**: `not relevant`

**OS version**: `not relevant`

**Description of the problem including expected versus actual behavior**:

In case we have several recipient emails in a email action, the watcher is NOT successful until ALL emails are valid.

Should we notify about the invalid format?
Should we no

[2018-09-24 08:48] elasticmachine commented on #33980
Pinging @elastic/es-core-infra

[2018-09-24 08:48] jpountz commented on #33750
+1 to ignore shallow size in the test and reserve 100 bytes less in the test

[2018-09-24 08:49] cbuescher commented on #33966
This has failed quite often over the past weekend, I will mute this test on master and 6.x

[2018-09-24 08:59] JalehD commented on #33980
@lucabelluccini I don't think this is explicit to whitelisting as @henrikno explained even a misspelled (wrong email address) email in the watcher configuration blocks the sending of the email to all email recipients.

Can you please test and verify if that's the case update this issue?

[2018-09-24 09:06] cbuescher commented on #33966
Muted with a9ded8f1d5f3d8f27a9386c51073c95658666144 and 6e4ec89bd7c5fe93ade41e1951ecff076bb2953d

[2018-09-24 09:11] cbuescher commented on #33966
Going through the failures, I also see one where the "testDeleteDatafeed" method failed:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=ubuntu&&virtual/17/console

This seems to be the only instance of this over the weekend though, not sure if this is related. Will keep that one unmuted for now.

[2018-09-24 09:17] lucabelluccini commented on #33980
Hello @JalehD, yes I think I should specify more in detail. Updating the issue report above.

[2018-09-24 09:18] cbuescher commented on #32190
Another one: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/20/consoleFull

[2018-09-24 09:26] jimczi commented on #33949
It is true that the format changed in 6x, we return `null` if none of the shards terminates the search early. However this change is not listed in the breaking changes so I'd prefer if we update the documentation rather than changing the format again.

[2018-09-24 09:34] cbuescher opened #33982 "AbstractScalaEsScalaSparkSQL.testEsDataFrame3WriteDecimalType fails"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch-hadoop+6.4+periodic/10/console

Couldn't find a Reproduce line in the logs so far, but the failure looks like:

[code]

[2018-09-24 09:43] cbuescher commented on #33982
@jbaiera could you take a look

[2018-09-24 09:48] cbuescher commented on #33982
I moved this to https://github.com/elastic/elasticsearch-hadoop/issues/1193

[2018-09-24 09:48] #33982 closed

[2018-09-24 09:53] weberhofer opened #33986 "Can't change date format on existing properties"
**Elasticsearch version**
6.4.1

**Plugins installed**: []

**JVM version**
openjdk version "1.8.0_171"
OpenJDK Runtime Environment (IcedTea 3.8.0) (build 1.8.0_171-b11 suse-24.1-x86_64)
OpenJDK 64-Bit Server VM (build 25.171-b11, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux herkules 4.4.143-65-default #1 SMP Tue Aug 14 09:18:29 UTC 2018 (4e090cc) x86_64 x86_64 x86_64 G

[2018-09-24 10:10] cbuescher opened #33987 "Failures in RestSqlSecurityIT on 6.4"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+multijob-unix-compatibility/os=opensuse/19/console

Several failures, most seem follow ups of the first erro. I couldn't reproduce locally so far:
[code]

The first failure output looks like this:
[code]

[2018-09-24 10:14] elasticmachine commented on #33987
Pinging @elastic/es-search-aggs

[2018-09-24 10:14] elasticmachine commented on #33987
Pinging @elastic/es-security

[2018-09-24 10:34] glestel commented on #15377
I've been pulling a lot of hair because of some ill formatted API returning me documents to index with a content similar to
[code]
And dynamic template couldn't do anything, even with
[code]
I think an option to default to the most generic type would be usefull

[2018-09-24 10:43] cbuescher commented on #33857
fyi. recent master change built was: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/19/console
Trying to get to the machine and take a look at the logs now.

[2018-09-24 10:54] gna582 commented on #33661
Thank you for replying!

- I didn't run the KVM on the same hardware. I run a QA environment on a general KVM cluster with the same config where the problem does not occur even though it hold's a few hundred GB of QA environment logdata and it shows up in live with far less data involved. It even happened with the .monitoring indices.
- I doublechecked whether it occurs on _every_ node. You guesse

[2018-09-24 10:59] phoerious commented on #33949
I don't understand the rationale. Under which circumstances do you return `false` then? When only some of the shards terminated early? That doesn't make a lot of sense to me.

[2018-09-24 11:14] jimczi commented on #33949
This is when you use `terminate_after`, right ? Sorry I was confused because we have other places that can "early" terminate a search but none of them set the `isTerminatedEarly` flag as I initially thought. I agree that this is a regression and I'll mark this issue as a bug. When `terminate_after` is set `terminated_early` should not be null in the response.

[2018-09-24 11:37] phoerious commented on #33949
Yes, I terminate the search after 70k results on a node to reduce search times. A return value of `null` makes no sense here.

[2018-09-24 11:44] cbuescher opened #33993 "[CI] Failure in InternalTopHitsTests#testReduceRandom"
Built: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos/16/console

Reproduces with:
[code]

Failure:
[code]

[2018-09-24 11:44] elasticmachine commented on #33993
Pinging @elastic/es-search-aggs

[2018-09-24 11:46] cbuescher commented on #33993
First failure of this kind in a while, I assume it fails on this very specific seed, so not muting it right now, but please do if you see this again.

[2018-09-24 12:03] omnidepp commented on #33959
You are right! Your example works smoothly.
The error I was getting, didn't point me to the right processor.
The issue is with date_index_name - or with the way I use it.

I was using it like this:

[code]

Because of your comment, I modified the pipeline to store the parsed time in a separate field, which date_index_name apparently understands:

[code]
Unless this is an issue with date_index_name

[2018-09-24 12:59] jpountz commented on #33794
I just looked at the class hierarchy, we have `SecurityTribeTests` < `NativeRealmIntegTestCase` < `SecurityIntegTestCase` < `ESIntegTestCase` < `ESTestCase` < `LuceneTestCase`. `LuceneTestCase` sets a suite timeout of 2 hours via an annotation, which is overridden to 20 minutes by ESTestCase, and then not touched by any other class in the hierarchy. So I don't understand how `SecurityTribeTests.te

[2018-09-24 12:59] ypid-geberit commented on #20952
I stumbled across this and am proposing a `splitOnToken` version which is based on the String split implementation of openjdk. Hope this helps. I tested it on Elasticsearch 6.2.4.

[code]

[2018-09-24 13:19] cbuescher opened #33998 "[CI] SSL setup fails in tests"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=opensuse/20/consoleFull

Couldn't reproduce this, with several local runs yet:
[code]

The failure appears to be happening already at test setup time:
[code]

[2018-09-24 13:39] danielmitterdorfer commented on #33959
I see. So, based on your feedback I'm closing the issue.

By the way, I don't think you need to use the `date` processor here (unless you need to store the timestamp as date). You can provide the `date_formats` parameter so the `date_index_name` processor itself will convert the string representation to a date. E.g.:

[code]

[2018-09-24 13:39] #33959 closed

[2018-09-24 13:40] jpountz commented on #15613
I updated the plan to add a new item to the 7.0 tasks list: "remove references to types from the high-level rest client API".

[2018-09-24 13:54] xtrembaker commented on #5359
+1
I would like to say that this conversation do not speak about the case where index contain a version number
As an example, I'm using index with this kind of name: `july_dec_2018_v2`, (where v2 is the version number of the index, and should be incremental).
The alias of this index looks like: @july_dec_2018

Would be great to be able to this with template ! I don't think it's possible for now, i

[2018-09-24 14:07] jasontedor commented on #33998
@tbrooks8 Can you look at this one as a networking issue?

[2018-09-24 14:19] cbismuth commented on #33593
I've opened PR https://github.com/elastic/elasticsearch/pull/34001, could you please have a look on it? Thank you.

[2018-09-24 14:43] cbismuth commented on #33384
cURL recreation script created in [this Gist](https://gist.github.com/cbismuth/eb1a421bf152c4bc4eb732809436cafc).

[2018-09-24 14:49] nik9000 commented on #33384
Enjoy!

[2018-09-24 14:59] pranav241996 opened #34003 "Can't use fuzzy query and wildcard together?"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2018-09-24 15:00] danielmitterdorfer commented on #33322
Initially I used your source documents which are pretty complex for such a report btw. But it turns out we get the same behavior with a simpler example as well which I'll also use below (tested on a fresh install of Elasticsearch 6.4.1):

[code]

We'll create a document in the first bulk item and update a property and also add a new one (`color`) to demonstrate everything is merged.

We get the fo

[2018-09-24 15:00] #33322 closed

[2018-09-24 15:03] cbuescher commented on #33857
Another recent one: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/18/console

[2018-09-24 15:16] cbuescher opened #34004 "[CI] Failure in ScheduleWithFixedDelayTests.testRunnableRunsAtMostOnceAfterCancellation"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+multijob-unix-compatibility/os=oraclelinux/18/console

I couldn't reproduce this locally unfortunately
[code]

Failure:
[code]

[2018-09-24 15:16] elasticmachine commented on #34004
Pinging @elastic/es-core-infra

[2018-09-24 15:19] cbuescher commented on #34004
A quick search shows a small number of similar looking failures, but all from last year when 6.x was still before current 6.4. No recent failures on 6.x or master, so this might not be a current issue anymore. Just filing for awareness.

[2018-09-24 15:20] colings86 commented on #13400
We discussed this internally and we are not looking to implement this in the foreseeable future. Since this issue was opened we have dedicated keyword fields with normalisers supported and field data on text fields is largely no longer necessary. For this reason we are going to close this issue for now.

If anyone coming across this issue has a specific use case that they require field data on tex

[2018-09-24 15:29] weberhofer commented on #33986
Thanks for notifying me. And, yes, documentation should be fixed.

[2018-09-24 15:36] #33993 closed

[2018-09-24 15:38] danielmitterdorfer commented on #34003
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2018-09-24 15:38] #34003 closed

[2018-09-24 15:55] jimczi commented on #14965
We discussed this internally and we think that there is simple workaround which is to use a `keyword` field instead of a numeric field. Technically it would be equivalent in terms of matching and this field would be compatible with the `more_like_this` query. It is also possible to use the `term_vectors` API to build a custom boolean query using the same logic than the `mlt` query. `keyword` field

[2018-09-24 15:55] #14965 closed

[2018-09-24 16:02] pranav241996 commented on #34003
Thanks for reply.

I tried asking same question on community forum, but no one replied. So, I
thought to ask it here.

On Mon, 24 Sep 2018, 21:13 Daniel Mitterdorfer, <notifications@github.com>
wrote:

[2018-09-24 16:03] jpountz commented on #33382
We discussed in the search/aggs meeting. We are also in the process of replacing function_score with a scripting context that would make applying decays easy. We still think it would be nice to have both since they have different trade-offs: scripts would be more flexible but slower since they can't skip non-competitive hits like these new queries can.

One open question left is whether we should

[2018-09-24 16:19] amanullah92 commented on #16031
@jpountz - Would it make sense to tell it upfront in the documentation that term queries are not cached now? https://www.elastic.co/guide/en/elasticsearch/guide/current/_finding_exact_values.html

[2018-09-24 18:01] tsullivan commented on #33876
What do you think @tsullivan ?

Telemetry for Kibana today does not to "live" checks for data the way that Elasticsearch information can be gathered live when Monitoring is disabled. This is a tech debt piece that remains because there isn't a great security model for user context on fetching live data from Kibana, partly due to Spaces making it likely the calling user will not have read access to

[2018-09-24 19:00] cbuescher opened #34013 "[CI] XDocsClientYamlTestSuiteIT {yaml=en/rest-api/security/clear-cache/line_39} failed"
Build:  https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=amazon/20/console

At first I couldn't reproduce with:
[code]

Then after a few runs I once saw the following thread dump and a failure locally, but couldn't repeat this so far:
[code]

I'm currently not able to log into the machine (ssh timeouts) to look if there are similar things in the c

[2018-09-24 19:00] elasticmachine commented on #34013
Pinging @elastic/es-security

[2018-09-24 19:12] jimczi opened #34015 "Leverage the Lucene's Matches API in a new highlighter type"
We should leverage the Matches API capabilities to build a new Highlighter type. This new highlighter would:
 * Highlight the text part that matches any boolean query accurately.
 * Not split `phrase` query into individual terms.
 * Accept [matches_fields](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-highlighting.html#matched-fields) natively.

[2018-09-24 19:12] elasticmachine commented on #34015
Pinging @elastic/es-search-aggs

[2018-09-24 19:13] jimczi commented on #33578
We discussed internally and we've decided to create a new highlighter that will leverage the Matches API to perform highlighting. We don't want to add a new flag to the `unified` highlighter that would completely change the logic of the output so a new highlighter seems a better option. Some options will not be available due to how the logic is implemented, so for instance `require_field_match` wo

[2018-09-24 19:13] #33578 closed

[2018-09-24 19:18] jimczi commented on #29561
Well as you noticed already the FVH has other issues with positional query. The `unified` highlighter made some progress regarding the handling of these queries but it still splits `phrase` queries into individual terms. The real fix of this issue is in the new Matches API that we need to use in Elasticsearch to provide accurate highlighting. We discussed internally and we think that a new highlig

[2018-09-24 19:21] tbrooks8 commented on #33285
Fixed.

[2018-09-24 19:21] #33285 closed

[2018-09-24 19:33] costin commented on #33904
Closed by #33913

[2018-09-24 19:33] #33904 closed

[2018-09-24 19:54] #33565 closed

[2018-09-24 21:00] bleskes opened #34016 "[CCR] unfollow API should be resilient to task not existing"
After setting up CCR I deleted one of the primary shards of the leader index and restart the single node cluster. That caused a stats exception which I guess caused the persistent task for that shard to fail to start.

[code]

I tried to pause following on one of the following indices:

[code]

but this caused the following error. It should be possible to pause, even if not all tasks are started.

[2018-09-24 21:00] elasticmachine commented on #34016
Pinging @elastic/es-distributed

[2018-09-24 21:07] shane-axiom commented on #6616
@jpountz Are details on the independent triangle index methodology documented anywhere? We need to implement some sort of workaround if this isn't going to be supported natively in elasticsearch, trying to understand the implications.

[2018-09-24 21:11] bleskes opened #34018 "Remote Cluster should be optionally optional on start time"
We currently have a way to indicate that it's OK if a remote connection is not available when making a search. We do however require a remote cluster to be reachable when starting a node. IMO we should have an option to indicate the the connection is not reliable and that it's OK to start a node. I see people wanting to decouple dependency of the availability of one cluster on another.

I think so

[2018-09-24 21:11] elasticmachine commented on #34018
Pinging @elastic/es-core-infra

[2018-09-24 21:33] martijnvg commented on #34016
So the `IllegalArgumentException` exception made the task fail and stop, causing it to not be able to pause or resume.

[2018-09-24 21:40] #33772 closed

[2018-09-24 22:34] dakrone opened #34020 "ILM hot lifecycle with rollover action never moves to next phase if rollover never happens"
With a policy like:

[code]

If the index that uses this policy fails to reach at least 100 documents, then it will never be deleted due to:

https://github.com/elastic/elasticsearch/blob/243e863f6e862074b564f909e90a8fd83ae8ad01/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/RolloverStep.java#L57

Which only calls the listener with `complete == true` (and thus moves t

[2018-09-24 22:34] elasticmachine commented on #34020
Pinging @elastic/es-core-infra

[2018-09-24 23:40] astefan commented on #33477
Documentation for the `Random()` function needs to be added.

[2018-09-25 01:52] #33691 closed

[2018-09-25 05:15] Angryprogrammerlin opened #34026 "How to solve this problem?like this:groovy.lang.MissingPropertyException: Could not get unknown property 'configuration' for DefaultProjectDependency{dependencyProject='project ':distribution:tar'', configuration='archives'} of type org.gradle.api.internal.artifacts.dependencies.DefaultProjectDependency."
org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':qa:vagrant'.
        at org.gradle.configuration.project.LifecycleProjectEvaluator.addConfigurationFailure(LifecycleProjectEvaluator.java:94)
        at org.gradle.configuration.project.LifecycleProjectEvaluator.notifyAfterEvaluate(LifecycleProjectEvaluator.java:89)
        at org.gradle.configuration.project.Li

[2018-09-25 06:13] tvernum opened #34029 "Maintain a cache of role mappings"
We don't currently cache role mappings because that would require cache management APIs etc, (which is a high burden to carry) and the realms should already cache the _result_ of role mapping.

But sometimes the user caches aren't enough.

A low cost way to cache role mappings would be by `(id, version)`.
That would mean we would still need to query the index each time, but we could avoid parsing

[2018-09-25 06:13] elasticmachine commented on #34029
Pinging @elastic/es-security

[2018-09-25 06:57] bleskes commented on #33956
I think that makes sense and is relevant in more cases (force allocate stale primary, restore from snapshot etc). Later when we have the recovery logic in place we can verify the history is identical to the primary. Also I’m good with just stopping the task for now. Later we’ll probably want to reboot it.

[2018-09-25 07:47] atorok commented on #33794
I lowered the timeout and replaced the test method with a sleep long enough to trigger it, and timeout mechanism does work, so it seems like the test does something that interferes with it.
AFAIK the tests are forked into a new JVM and the timeout is likely enforced there, there is probably reason to believe something happen to the JVM itself.

[2018-09-25 08:05] tlrx commented on #34026
Hi, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elastic forums](https://discuss.elastic.co/) instead. Thank you!

[2018-09-25 08:05] #34026 closed

[2018-09-25 08:11] siddharthgoel88 commented on #28619
Hey @jasontedor . Is this issue planned to be fixed in upcoming releases soon? It is becoming a bit painful because only RPMs seems to have this inconsistent behavior :(

[2018-09-25 08:13] #33986 closed

[2018-09-25 08:30] javanna commented on #34018
We've had discussions about this one in the past, see #27006 . I agree that something needs to be done. The discussion got a bit stuck as we considered removing the ability to configure clusters in the configuration file, but we got feedback that some users like that.

Note that `skip_unavailable` is only applied when searching, it does not have an impact on registration of clusters. The different

[2018-09-25 08:38] astefan commented on #29985
Implemented via https://github.com/elastic/elasticsearch/issues/33494.

[2018-09-25 08:38] #29985 closed

[2018-09-25 09:12] spinscale commented on #33980
@lucabelluccini the correct solution to this would be to throw an error when putting the watch and any of those email addresses is not valid. Would that make sense?

[2018-09-25 09:15] lucabelluccini commented on #33980
Hello @spinscale, thank you for following this up.
Showing an error mentioning the email format would be more explicit for the user.

[2018-09-25 09:28] spinscale opened #34038 "Watcher: Add API for time based throttling with expiry"
**Describe the feature**:

Currently watcher provides two mechanisms of throttling, see [here](https://www.elastic.co/guide/en/elastic-stack-overview/6.4/actions.html#actions-ack-throttle). A watch or an action inside of a watch can be configured to be throttled for a certain amount of time, so that you do not send out emails every few minutes. Or a watch/action can be acknowledged via an API, so

[2018-09-25 09:28] elasticmachine commented on #34038
Pinging @elastic/es-core-infra

[2018-09-25 09:53] jpountz commented on #33794
Thanks @atorok for looking.

[2018-09-25 10:17] #33520 closed

[2018-09-25 10:48] donaldduckcheshta commented on #25259
Hi All , did you get chance to resolve this issue ? If yes , then please suggest

[2018-09-25 11:13] DaveCTurner commented on #25259
The information you need is in the first two lines of the log message:

[code]

Specifically, this node is trying to connect to a node called `master` at `172.17.0.2:9300` but when it connected to that address it found a node with a different id instead. Each node in your cluster needs to have a unique address, and be accessible at this address from every other node in the cluster.

For further he

[2018-09-25 11:29] danielmitterdorfer commented on #33965
This appears to be a problem in Kibana then. Did you verify that you run the same version of Elasticsearch and Kibana? Based on what you stated originally I expect that you run Kibana 6.4.0.

[2018-09-25 11:36] spinscale commented on #33980
I took a quick look into this, and all those email addresses are templateable - which means, they might be containing mustache templates instead of actual email adresses that are replaced on runtime. I opened #34042 - but I'd like to discuss this first.

[2018-09-25 12:22] cbuescher opened #34043 "[Tests] GeoDistanceQueryBuilderTests: add more checks"
Found this quite ancient TODO in GeoDistanceQueryBuilderTests#assertGeoDistanceRangeQuery that
we probably want to add a few checks to the GeoDistanceQueryBuilder that are being parsed in the
test. So far the only thing the test checks is that the parsing of the input Json Strings doesn't break.
It would be nice to add some way to do meaningfull assertions on the generated GeoDistanceQueryBuilder

[2018-09-25 12:58] #29242 closed

[2018-09-25 13:04] spinscale commented on #27330
Two more BWC things Dave mentioned to me:

1. Java 8 and Java9/10 do have different timezone handling. When creating a parser with a time zone in Java 8, it will overwrite the timezone parsed in the text input. This is fixed in java 9/10, but may lead to different results in java8 when used in combination with formatters. We need to verify this for the ingest processors

[code]

Under java 10 this

[2018-09-25 13:05] cbuescher opened #34046 "[Test] MovAvgIT#testBadModelParams needs clarification"
Currently the "testBadModelParams" method does seem to pass regardless of whether bad
model parameters are used or not. My guess is that its supposed to be testing that an exception is
thrown if you provide invalid model parameters. From a conversation with @colings86 we think that
the padding parameter passed in ensure the alpha and beta values are invalid, but that seems to be
trappy because if

[2018-09-25 13:05] elasticmachine commented on #34046
Pinging @elastic/es-search-aggs

[2018-09-25 13:20] Destroy666x opened #34047 "geo_shapes stopped indexing in 6.4.1"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.4.1

**Plugins installed**: []

**JVM version** (`java -version`): official Docker image

**OS version** (`uname -a` if on a Unix-like system): official Docker image

**Description of the problem including expected versus actual behavior**:

After upgrading from 6.3.2 to 6.4.1, many `geo_shape`s stopped importing.

**Steps to reproduce**

[2018-09-25 13:32] #33456 closed

[2018-09-25 13:58] spinscale commented on #33058
Took a look at this one, and it is more complex than I originally thought.

First, the current check, if a reindex is required, is simply checking for the internal index format being on version `6`. However, in order to find out if we need to do sth, we have to check **every** watch being currently indexed and see if it contains the above JSON.

The next problem is that it is not sufficient to run

[2018-09-25 14:00] tlrx commented on #34047
Thanks for reporting.

Yes, that would help if you could provide an example of a shape that is correctly indexed in 6.3.2 and failed to be indexed in 6.4.1. We'll need the mappings too.

[2018-09-25 14:00] elasticmachine commented on #34047
Pinging @elastic/es-search-aggs

[2018-09-25 14:07] Destroy666x commented on #34047
Which ones? I provided the ones for the affected field, do you need any other?

[2018-09-25 14:17] nik9000 commented on #33533
Closed by #33973.

[2018-09-25 14:17] #33533 closed

[2018-09-25 14:17] imotov commented on #32827
@colings86 after days of silence we have got two new failures in the last 10 hours. Could you take a look if they provide more information:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/33/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/22/console

[2018-09-25 14:56] imotov opened #34053 "Rare failures in AckClusterUpdateSettingsIT#testClusterUpdateSettingsNoAcknowledgement"
I was able to find only 3 failures in the last 2 months: Aug 12, Sep 1 and today.

Today's failure:
[code]

[code]

I couldn't reproduce any of the last 3 failures.

[2018-09-25 14:56] elasticmachine commented on #34053
Pinging @elastic/es-core-infra

[2018-09-25 15:33] hendrikmuhs opened #34054 "[ML] Remove hard limit for maximum forecast interval"
Forecasts are limit to a maximum of `8 weeks`, this limit has been put into place early. Meanwhile several improvements have been made, so we are confident to remove this limitation.

In order to remove the limit, these changes are required:

 - [x] ml-cpp: https://github.com/elastic/ml-cpp/pull/214 (@tveasey)
 - [x] elasticsearch: https://github.com/elastic/elasticsearch/issues/41103 (@przemekwit

[2018-09-25 15:33] elasticmachine commented on #34054
Pinging @elastic/ml-core

[2018-09-25 15:33] ywelsch commented on #34053
I think this is the same issue as #32767. Can you disable the tests (all of `AckClusterUpdateSettingsIT`) and add a note to #33673 ? Thank you

[2018-09-25 15:34] elasticmachine commented on #34053
Pinging @elastic/es-distributed

[2018-09-25 15:34] jpountz commented on #33028
We had a long discussion about this issue, here are some arguments that have been made:
 - we already have a big breaking change coming: the removal of types, maybe we should try to not introduce another major breaking change at the same time
 - it's too late for breaking changes in 7.0, anything that would require clients to change behavior by default would have to wait for 8.0 anyway
 - we want

[2018-09-25 16:18] jaddison opened #34056 "Docs: percolate refers to multiple types per index"
On https://www.elastic.co/guide/en/elasticsearch/reference/current/percolator.html:

Given that multiple types per index is not an option anymore, should this text be adjusted?

[2018-09-25 16:27] rajapaladugula commented on #33965
oops! That might be it. I have Kibana running with V.6.2.4 to support some 3rd party plugins. May be i should check back when i upgrade Kibana to V.6.4.0 Thanks for your time @danielmitterdorfer :)

[2018-09-25 16:56] original-brownbear commented on #33844
Also:

Shouldn't we regardless of what we decide on how we want to transfer the segment data fix this to actually have the options override the global setting (or remove the option?)?

[2018-09-25 18:31] imotov commented on #34053
Thanks @ywelsch! I didn't mute it at first because it was failing only twice a month. But since you are reworking entire thing it does make sense to do that. I am closing this issue in favor of #32767 then,

[2018-09-25 18:31] #34053 closed

[2018-09-25 18:32] imotov commented on #33673
As per discussion with @ywelsch in #34053 I have disabled `AckClusterUpdateSettingsIT` in master as well. I am going to close #34053 in favor of this issue.

[2018-09-25 21:04] gwbrown commented on #33485
Fixed by #33907

[2018-09-25 21:04] #33485 closed

[2018-09-25 22:01] jkakavas commented on #33459
It turns out that multiple PKCS#11 Security Providers cannot be used, as only one can be configured at a given time.
This basically means that there is no FIPS Compliant way to bypass the single keystore ( == single private key and certificate for TLS ) limitation.
A PR that allows the use of PKCS#11 tokens is opened : https://github.com/elastic/elasticsearch/pull/34063/

[2018-09-25 23:21] jeffreynscrbdee opened #34067 "Extra Lucene DocValueExistsQuery fired - due to nested mapping and primary_terms"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.3.2

**Description of the problem including expected versus actual behavior**:

After upgrading from 6.0.0 to anything >= 6.1.0, we are getting an extra *DocValueFieldsExistsQuery* [field=_primary_term] being called. This is an extra underlying query that impacts performance. This seems to be potentially introduced at https://github.com/

[2018-09-26 05:17] qiangyin commented on #9951
same problem with 5.6.6

[2018-09-26 06:53] gilinachum commented on #9951
How we resolved it:
1. Refactored application logic to reduce the amount of document overwrites and deletes, which reduces merges.
2. On AWS switching from R3 with local storage machines to I3 machines with local storage did wonders and eliminated the issue.

[2018-09-26 06:59] #33237 closed

[2018-09-26 07:10] qiangyin commented on #9951
thanks a lot

[2018-09-26 08:10] jeffreynscrbdee commented on #34067
Hey @jimczi , thanks for the quick response!

The difference in response times I mentioned above were specifically for version 6.3.2. To further clarify, we were getting faster times by dropping the `terms` which used the new optimization you mentioned in your last paragraph.

So there is a considerable difference for us. We are noticing heavy overhead with the additional `DocValuesExistsQuery`. I

[2018-09-26 08:12] robin13 opened #34069 "update fails silently if script and doc update are both in one line"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.4.1

**Plugins installed**: []

**JVM version** (`java -version`): OpenJDK 64-bit Server VM 10.0.2

**OS version** (`uname -a` if on a Unix-like system): Linux 4.15.0-34-generic #37-Ubuntu SMP

**Description of the problem including expected versus actual behavior**:

If you (accidentally) include both a `script` and an `update:doc` acti

[2018-09-26 08:22] jaksmid opened #34070 "Fuzzy Search not returning exact match"
Bug report: fuzzy search returning no results for exact match

Version:
vanilla `docker.elastic.co/elasticsearch/elasticsearch:6.4.1`
ports `9200:9200`, environment `discovery.type=single-node
`
running on Docker Mac

**Description of the problem including expected versus actual behavior**:
Fuzzy search does not return exact match. However, it does return results on substring match.

Put sample da

[2018-09-26 08:28] jpountz commented on #15613
After seeing #33953 @jtibshirani raised the question of whether we want to do something so that users don't have to pass `include_type_name=false` to almost every request on 7.x.

It's true that for someone who would quickly resolve deprecation warnings and use the new typeless APIs, having to keep passing `include_type_name=false` to almost every request looks a bit ugly. Worse, new users would h

[2018-09-26 08:29] jpountz commented on #34067
+1 to make it work with `terms` as well.

[2018-09-26 08:30] jpountz commented on #34056
Absolutely, thanks for catching this.

[2018-09-26 08:30] elasticmachine commented on #34056
Pinging @elastic/es-search-aggs

[2018-09-26 08:37] droberts195 commented on #34013
Another test in the same docs file failed in the same way in 6.4 and I suspect the root cause is the same.

The repro command is this, although it didn't reproduce locally for me:

[code]

The error in the test log is this:

[code]

These are the log messages in the server log around the time the error occurred:

[code]

The timestamp on the error itself is 2018-09-26T06:05:38,234, so during the p

[2018-09-26 09:19] clintongormley commented on #15613
I like this idea

[2018-09-26 09:37] Benny-Git opened #34073 "Watcher: Allow defining PagerDuty severity field"
**Describe the feature**:

After switching to PagerDuty API V2 ( #32243, #32285), I would like to have the ability to set the severity of a PagerDuty event.
[This is currently hard coded to "critical"](https://github.com/elastic/elasticsearch/pull/32285/files/970570545dbbb703dcd508e246ade7bbdc21f1f9#diff-cac9fd35341426edad48ae07b0f414ddR126), which would result in PagerDuty ringing my phone in the

[2018-09-26 09:42] jimczi commented on #34070
`fuzzy` queries are considered as [term level](https://www.elastic.co/guide/en/elasticsearch/reference/current/term-level-queries.html) query. This means that the string is not analyzed when the query is built. With dynamic mapping a field that contains a string is mapped into a `text` field with a `standard` analyzer which will splits `Hello World` in two tokens `hello` and `world`. Since `fuzzy`

[2018-09-26 09:42] #34070 closed

[2018-09-26 10:51] droberts195 commented on #32685
The same problem occurred in
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+multijob-unix-compatibility/os=opensuse/24/console

The repro command is this:

[code]

Once again, it doesn't reproduce locally.

This time the action being performed when the authentication failure occurs is different, but the stack trace is very similar to the original description on this issue.

[cod

[2018-09-26 12:20] bleskes commented on #34018
@javanna thanks. I agree that this is issue is a duplicate of #27006 .

[2018-09-26 12:20] #34018 closed

[2018-09-26 12:43] droberts195 opened #34080 "[CI] SplitIndexIT failing on Windows"
The last couple of master branch builds on Windows have both failed in SplitIndexIT:

* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/23/console
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/24/console

The underlying errors are all "access denied" errors on the mock file system, for examp

[2018-09-26 12:47] droberts195 commented on #34080
Some repro commands are:

[code]

[2018-09-26 13:00] pgomulka commented on #15115
Creating documents on mappings with completion type fields with multi-fields fails when the document is provided with completion field in a form of array or object. This is because sub multi-field of different then completion type is not able to parse that format.
[code]
Sub multi-field of type completion, fails due to reusing a context with a parser being already at the end of the object.
[code]

[2018-09-26 13:04] droberts195 commented on #34080
I muted `SplitIndexIT.testSplitFromOneToN` and `ShrinkIndexIT.testCreateShrinkIndexToN` on Windows only in 1413ace74f82ad22ec9f2ad74645faa85d5a2f25

[2018-09-26 13:35] #33966 closed

[2018-09-26 13:41] droberts195 commented on #33864
Same problem for a different Watcher docs test in
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=amazon/24/console

[code]

Also, #34013 is open for the same problem on Security docs tests.  Probably most intermittent X-Pack docs test failures are caused by this.

[2018-09-26 13:45] bnm22 commented on #27464
+1

[2018-09-26 13:46] bnm22 commented on #27924
+1

[2018-09-26 14:06] davidkyle opened #34084 "[ML] Investigate alternative methods for sharing job memory usage information"
When there are multiple ml nodes in the cluster the job allocation decision is made based on the number of open jobs on each node and how much memory they use. Job memory usage is store in the job configuration and is updated periodically during the job's run when a model size stats doc is emitted by autodetect. This can lead to frequent job config updates (cluster state updates) particularly so f

[2018-09-26 14:06] elasticmachine commented on #34084
Pinging @elastic/ml-core

[2018-09-26 14:08] cbismuth commented on #33384
PR is open, see https://github.com/elastic/elasticsearch/pull/34083.

I've built on top of the previous behavior. This means we don't make a difference when source is disabled or document is missing: in both cases a `ResourceNotFoundException` is raised with the same JSON message.
Do you think a difference should be made?

[2018-09-26 14:09] #33514 closed

[2018-09-26 14:15] cbismuth commented on #28390
I'd like to work on this one.

[2018-09-26 14:50] dliappis commented on #32680
While the Transport Client is [deprecated in 7.0.0](https://github.com/elastic/elasticsearch/commit/3e8ca38fcaaa2e92d14baa09ac5aed8e560756de#diff-706d3c5fc23f7c60ffb0655dcfe1e1a9) in favor of the [Java High Level Rest Client](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/6.4/java-rest-high.html), the request here is relevant to the HLRC as well and it will be tackled in HLRC inste

[2018-09-26 14:58] jakelandis commented on #31692
This has been discussed in person. To the general question as logged - should we allow non-keyed hashes ?  The general consensus is yes, keyless hashes can provide value for example: https://github.com/elastic/elasticsearch/pull/31087#issuecomment-423536606.

However, we need to be careful to NOT position a keyless hash as either a security feature, nor a GDPR feature. Only keyed hashes should be

[2018-09-26 15:16] jakelandis opened #34085 "[ingest] Re-introduce the Hash Processor with consistent keys across all nodes"
A Hash processor was introduced (https://github.com/elastic/elasticsearch/pull/31087), and subsequently reverted once it was realized that if the keys (local to the node) ever got out of sync that could cause silent functional issues (same values hashed to different values based on the node which processed them).

Since the key is sensitive data, we can not simply store it cluster state. After som

[2018-09-26 17:12] william8000 opened #34087 "elasticsearch-5.6.12.rpm gets rpm tag errors on Fedora 28 and fails to install"
**Describe the feature**: I want to install elasticsearch 5 on Fedora 28 by rpm

**Elasticsearch version** (`bin/elasticsearch --version`): 5.6.12 (but this happens on older versions also)

**Plugins installed**: [] none

**JVM version** (`java -version`): openjdk version "1.8.0_181"
OpenJDK Runtime Environment (build 1.8.0_181-b15)
OpenJDK 64-Bit Server VM (build 25.181-b15, mixed mode)

**OS ver

[2018-09-26 18:01] jaddison commented on #14218
I think if this is ever 'fixed', it will break valid scenarios (like one I have). I hope it is never considered something to fix. 🙏🏼

[2018-09-26 18:13] william8000 commented on #34087
The tag in question is called `Fileinodes` and is declared as RPM_INT32_TYPE in the tag table but the header item is RPM_INT64_TYPE.

[2018-09-26 18:38] leppaott commented on #21844
Add a mention of this to the docs please 👍 Got this when updating our 2.x elastic to 6.x.

[2018-09-26 19:52] atorok opened #34095 "Replace Virtualbox based test fixtures with docker-compose"
Fixtures: We have some fixtures (Kerberos, HDFS, SMB, idp) that use Vagrant with the Virtualbox provider. There isn't a string reason to use neither vagrant nor Virtualbox for these fixtures and we want to reduce reliance on VirtualBox  in the build.

 We would use docker images instead with docker-compose and the [gradle-docker-compose-plugin](https://github.com/avast/gradle-docker-compose-plugin

[2018-09-26 19:52] elasticmachine commented on #34095
Pinging @elastic/es-core-infra

[2018-09-26 20:52] #11328 closed

[2018-09-26 21:49] s1monw opened #34098 "[CI] MovAvgIT.testHoltWintersNotEnoughData"
Fails reproducibly and likely caused by #31876 I will mute the test

[code]

[code]

[2018-09-26 21:53] s1monw commented on #34080
I am pretty sure this is entirely unrelated to the referenced PRs and issues. This seems to be an infra issue and a duplicate of https://github.com/elastic/elasticsearch/issues/33857 @droberts195 WDYT?

[2018-09-26 22:03] rjernst commented on #32203
@sbrunot The code to look at is in `DateFieldMapper.DateFieldType.termQuery`. You can see there a term query for a date field is implemented with a range query. My suspicion is this bug is due to using a DateMathParser to parse the value, which has special handling for rounding associated with date math. I think for term queries we should just be using the normal date parser for the field.

@colin

[2018-09-26 22:28] rjernst commented on #34069
The bulk api uses a hand rolled parser that is quite complex. Only the main actions (delete, create, index, update) are looked for. My hunch is the success you got is not silently ignore script failure, but never even parsing the script portion, likely due to the scope of the slice parser used to parse the update portion (see BulkRequest line ~419).

[2018-09-26 22:28] elasticmachine commented on #34069
Pinging @elastic/es-distributed

[2018-09-27 01:05] jasontedor commented on #33205
I have been thinking about this issue on and off since @s1monw opened the pull request to enable to route these requests to the generic thread pool. That led to a discussion about how we should avoid that because that thread pool is large and unbounded, and we do not want to be shuttling tasks from user-initiated actions to an unbounded thread pool. We reversed that portion of the change and I had

[2018-09-27 02:47] jdu-mydevices opened #34102 "_rollup_search error when using 1w interval"
Error on ES6.3.2 and ES6.4.0.
Got the error below when search by _rollup_search with both original index and rollup index.
Change to 1d, 1m,1s can get result.
[code]
search:
[code]

[2018-09-27 02:48] jasontedor commented on #34087
This appears to be due to a change in `rpm` itself. It appears that `rpm` is stricter now, from some change between 4.14.1 and 4.14.2. Quite likely the offending [change](http://rpm.org/wiki/Releases/4.14.2) is:

It is very likely that the bug that we are seeing here is in redline, the upstream library that we use to build RPMs.

@atorok Would you please investigate this issue, I consider it serio

[2018-09-27 02:49] elasticmachine commented on #34087
Pinging @elastic/es-core-infra

[2018-09-27 04:00] jaymode commented on #33205
I am already working on this change, so we are on the same page regarding this aspect. @tvernum and @albertzaharovits also agree https://github.com/elastic/elasticsearch/pull/33531#discussion_r217608894.

I think that this will be helpful. I did not have in mind that the search on a different threadpool change would be the ultimate solution to the problem but it does help avoid security searches b

[2018-09-27 04:10] jasontedor commented on #33205
It is worth considering. Yet, for a first version I do not think that it is necessary, we can see how large of a problem it is in practice first after we make these initial changes before we commit to something like that.

[2018-09-27 05:07] bizybot opened #34105 "[CI] SpanMultiTermQueryBuilderTests.testToQuery failed reproducibly"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/86/console

Reproduces locally for me with:
[code]

Failure:
[code]

[2018-09-27 05:12] elasticmachine commented on #34105
Pinging @elastic/es-search-aggs

[2018-09-27 06:38] atorok commented on #34087
I was wondering why this was not caught by our packaging tests.
The reason is that we added fedora to master only, and this is not reproducible there.
I was able to reproduce this using the image we use for our packaging tests:
[code]

[2018-09-27 08:08] markharwood commented on #34102
Out of interest what is your[ interval granularity](https://www.elastic.co/guide/en/elasticsearch/reference/current/rollup-search-limitations.html#_interval_granularity)? Is 1w a clean multiple of that choice?

[2018-09-27 08:08] elasticmachine commented on #34102
Pinging @elastic/es-search-aggs

[2018-09-27 08:13] elasticmachine commented on #34073
Pinging @elastic/es-core-infra

[2018-09-27 08:15] jimczi commented on #34102
Thanks for reporting @jdu-mydevices . This is a known bug which is fixed in 6.4.1 by https://github.com/elastic/elasticsearch/pull/33336 so I hope you don't mind if I close the issue.
Upgrading to 6.4.1 should restore the expected behavior.

[2018-09-27 08:15] #34102 closed

[2018-09-27 09:07] cbuescher commented on #34098
@s1monw thanks, this should have been muted in the commit as well (the test was already borked but didn't throw the exception that we get now). Somehow this slipped CI due to lucky randomization. This is probably best handled as part of https://github.com/elastic/elasticsearch/issues/34046 since it is a similar issue. I will close this in favour of https://github.com/elastic/elasticsearch/issues/3

[2018-09-27 09:07] #34098 closed

[2018-09-27 09:09] cbuescher commented on #34046
Another MovAvgIT test (testHoltWintersNotEnoughData) fails for a similar reason:

[code]
[code]

I think this needs a similar treatment like the issue mentioned above. The test it muted now as well, would be good to clean this up in one go.

[2018-09-27 09:19] colings86 commented on #32203
@rjernst We discussed this in our team meeting but it looks like I forgot to add a summary comment of the discussion and just changed the labels.

I believe the thinking was that we should document this behaviour but leave it as is. The reason for this is that being able to run a term query such as the following and have it match documents for the the whole day (in this case) is useful and somethi

[2018-09-27 09:34] droberts195 commented on #34084
I agree that since we can't access the job config document from within the allocation decision there's no longer any point storing established model memory in it, so it should be removed (tolerated by the job parser for BWC purposes until 8.0 though).  I only put it in the job config in the first place because it needed to be available to the allocation decision and the job task status had a stric

[2018-09-27 10:08] costin commented on #22089
Ok by me. Thanks.

[2018-09-27 10:08] #22089 closed

[2018-09-27 11:07] cbismuth commented on #28390
cURL recreation script created in [this Gist](https://gist.github.com/cbismuth/80963cf163964267a43db3de51a998a2).

[2018-09-27 11:35] costin opened #34110 "[CI] InternalEngineTests.testOutOfOrderDocsOnReplicaOldPrimary"
Fails reproducibly
`
REPRODUCE WITH: gradlew :server:test -Dtests.seed=1863D78D1D8C8B5F -Dtests.class=org.elasticsearch.index.engine.InternalEngineTests -Dtests.method="testOutOfOrderDocsOnReplicaOldPrimary" -Dtests.security.manager=true -Dtests.locale=nl-BE -Dtests.timezone=Asia/Kashgar -Dcompiler.java=10 -Druntime.java=8
`
[code]

CI link here:
https://elasticsearch-ci.elastic.co/job/elastic+ela

[2018-09-27 11:37] elasticmachine commented on #34110
Pinging @elastic/es-distributed

[2018-09-27 11:46] cbismuth commented on #28390
After having a look at implementations of `SpanQueryBuilder`, here are below compound span queries along with their class attributes.

* `SpanNearQueryBuilder`
  * `SpanNearQueryBuilder#clauses`
* `SpanContainingQueryBuilder`
  * `SpanContainingQueryBuilder#big`
  * `SpanContainingQueryBuilder#little`
* `SpanWithinQueryBuilder`
  * `SpanWithinQueryBuilder#big`
  * `SpanWithinQueryBuilder#little`
*

[2018-09-27 11:56] Tobsucht commented on #23838
Yes, fixed the problem.

[2018-09-27 12:02] original-brownbear commented on #32686
I figured out where this is coming from but I'm not sure how to fix it.

The issue is, that `org.elasticsearch.gateway.MetaDataStateFormat#read` will create a new `SimpleFSDirectory` for the for the `_state` directory without holding any lock to the shard. If this happens after the shard directory is deleted in `org.elasticsearch.env.NodeEnvironment#deleteShardDirectoryUnderLock` but before the as

[2018-09-27 12:07] atorok commented on #34087
I couldn't find a bug report, but the problem is not there with never versions of the library.
Back-porting the tests is not straight forward as we already have releases with this bug that fail in the upgrade tests.

[2018-09-27 12:16] DaveCTurner commented on #32686
This is a long-standing and, unfortunately, complicated issue. The fix you propose was https://github.com/elastic/elasticsearch/pull/19338 and an alternative was https://github.com/elastic/elasticsearch/pull/29140 (and see linked issues there for further discussion) but neither of these fixes were satisfactory.

[2018-09-27 12:19] #34105 closed

[2018-09-27 12:50] matriv commented on #33957
@costin Cannot find another way to handle this ambiguity other than only allowing the `*` in the tableIdent when it's quoted, e.g.: `"my_indexes*"`.

[2018-09-27 12:58] cbismuth commented on #28390
I've open PR https://github.com/elastic/elasticsearch/pull/34112.

Here is a sample output when running referenced Gist.

[code]
**Notes**

* Tests aren't developed yet,
* Exception checking can be centralized to be reused in other span query builders,
* Backward compatibility should be discussed.

But please let me know what do you think about this implementation.

@jpountz I've seen this line of

[2018-09-27 13:03] dimitris-athanasiou commented on #32836
The two points above have been discussed. I post remarks here:

1. Using a persistent task is too big a hammer for this. It brings with it a lot of complexity for dealing with an issue that seems to be an edge case at the moment. Also, delete job is internally using delete-by-query for which there are considerations to turn into a persistent task itself. The result of all the above is we should no

[2018-09-27 14:03] dnhatn commented on #34110
This is fixed by f6100419fe51fc325dcad494525145acb2460015.

[2018-09-27 14:03] #34110 closed

[2018-09-27 14:30] droberts195 commented on #31999
Notes from our discussion about how to implement this:

- No datafeed config changes are required
- We will use rollup search if the rollup caps action finds any rollup indices in the indices list in the datafeed config
- We will throw an error if rollup caps finds any rolled up indices and the datafeed config does not contain aggregations or if the datafeed date histogram interval is not a multip

[2018-09-27 14:46] vladimirdolzhenko commented on #34004
test looks bogus: race condition (esp. under the load on CI) could happens between count down latch reaches 0 and actual task cancellation

[2018-09-27 15:11] imotov opened #34114 "SQL Function name resolution depends on the case"
When SQL resolves function names, it takes case into consideration that produces unexpected results.

For example, the following tree statements work
[code]

But if the following 2 statements produce error messages:
[code]
In the first case the error message is
[code]
Expected behavior is SQL should be case insensitive in the function name resolution.

[2018-09-27 15:11] elasticmachine commented on #34114
Pinging @elastic/es-search-aggs

[2018-09-27 16:29] jtibshirani commented on #34105
Thank you @bizybot for diagnosing and @jimczi for fixing!

[2018-09-27 16:45] jaddison commented on #34056
This also seems related to multiple types (how else could you have multiple fields in the same index?):

from https://www.elastic.co/guide/en/elasticsearch/reference/6.4/ignore-above.html

[2018-09-27 17:02] dakrone opened #34118 "Enhance ILM cluster state update debuggability"
Most of our ILM cluster state updates use `"ILM"` as the cluster state reason string, we should change this to a more descriptive string.

This will make debugability much easier when reading logs.

[2018-09-27 17:03] elasticmachine commented on #34118
Pinging @elastic/es-core-infra

[2018-09-27 17:05] dadoonet opened #34119 "[HLRC] GetPipelineResponse.isFound() is useless"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.4.1

I wanted to test the existence of an ingest pipeline with:

[code]

This sadly does not work when the pipeline does not exist as an `ElasticsearchStatusException` is thrown instead:

[code]

To work around this, I need to write:

[code]

If this is the expected behavior, may be we should document it in the REST documentation?

[2018-09-27 17:05] elasticmachine commented on #34119
Pinging @elastic/es-core-infra

[2018-09-27 17:08] javanna commented on #34119
this looks like a bug to me, like other CRUD api, get pipeline should be configured to not throw exception when 404 is returned, rather return a valid response which returns a proper `isFound()` flag.

[2018-09-27 17:33] DaveCTurner commented on #33857
I spent some time trying to reproduce this by hand on one of the Windows CI workers. Although I never saw the test fail, I did see tests reporting the failures of recoveries for the reason quoted in the OP:

[code]

Here is a copy of the console output, including repeated test runs (of which the stack trace above is the last). This tarball also includes a Process Monitor log from this run, filtere

[2018-09-27 19:40] jaymode commented on #32124
I just ran into this issue locally with the updated elasticsearch-ci that uses Java 11. This was a build off of the 6.x branch:

[code]

Reproduce line:

[code]

JDK 11 info:

[code]

Is there a reason why we haven't added a null check here?

[2018-09-27 20:05] brandonmichaelhunter opened #34122 "Azure snapshot request returns 500 error:"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 6.4

**Plugins installed**: []Azure Repository, X-Page

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system):ubuntu 16 LTE

**Description of the problem including expected versus actual behavior**:
When attempting to take a Azure snapshot request via kibana I get the follow

[2018-09-27 20:07] tomcallahan commented on #33508
Removing the discuss label as we've previously agreed to iron out the rest of this discussion on the issue here.

[2018-09-27 20:42] #33975 closed

[2018-09-27 22:18] lcawl commented on #33464
@fkelbert and @jaymode If there are specific error messages that appear in this problem scenario, please let me know and I'll include them in the troubleshooting information.

[2018-09-27 23:45] ppf2 opened #34127 "Include origin information in deprecation logging"
Currently, deprecation logging logs only the timestamp and the deprecation message.  For deployments with different application clients accessing Elasticsearch, it will be helpful to include some "origin" information such as the originating client host/ip in these messages.  This way, admins can quickly identify the offending application(s) and reach out to the appropriate team(s) for remediation.

[2018-09-28 00:46] sebasdigital opened #34128 "Elastic Search Does not Start"
**Describe the feature**: ElasticSearch does not start

**Elasticsearch version** (`bin/elasticsearch --version`): 6.4.1

**Plugins installed**: [none]

**JVM version** (`java -version`): 18.9

**OS version** (`uname -a` if on a Unix-like system): macOS Mojave 10.14

**Description of the problem including expected versus actual behavior**: After I run elasticsearch, it dies on [2018-09-27T21:12:35

[2018-09-28 05:59] #34087 closed

[2018-09-28 06:50] danielmitterdorfer commented on #28668
We just had another failure on master in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu&&virtual/27/console (build id: `20180927232217-8529077B`). It failed with:

[code]

Reproduction line (which does not reproduce locally):

[code]

The assertion that failed indicates that the we failed to reconnect within the timeout after the node is

[2018-09-28 08:03] DaveCTurner commented on #33857
On repeated runs I do see occasional failures as per the OP (maybe 20% of the time, I've not done the stats in detail yet). I tried writing a test case that repeatedly hits the filesystem directly and could not reproduce this `AccessDeniedException`, so decided to turn my attention to all the Lucene-provided filesystem machinery that's in play here to see if I could rule that out as a source. The

[2018-09-28 08:34] #34016 closed

[2018-09-28 08:35] danielmitterdorfer commented on #33857
We have more test failures on Windows with the same cause:

5.6: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-windows-compatibility/27/console:

`org.elasticsearch.routing.PartitionedRoutingIT#testShrinking()`

<details>
    <summary>Expand for stack trace</summary>
<p><pre>
[2018-09-27T18:57:01,933][WARN ][o.e.c.a.s.ShardStateAction] [node_s0] [index_2][0] received s

[2018-09-28 08:36] FlorinMarina commented on #15800
sudo /bin/systemctl daemon-reload
sudo /bin/systemctl enable elasticsearch.service
sudo /bin/systemctl start elasticsearch.service

[2018-09-28 08:38] cbuescher commented on #34128
Hi @sebasdigital! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2018-09-28 08:38] #34128 closed

[2018-09-28 08:40] cbismuth commented on #28309
Looks interesting, I'd like to work on it if no one has already started to do so.

[2018-09-28 08:40] elasticmachine commented on #34122
Pinging @elastic/es-distributed

[2018-09-28 08:56] DaveCTurner commented on #33857
Looking harder at the logs, what happens is:

- we allocate two primary shards of `second_shrink` to one node
- they recover from local shards (this is the shrink)
- as soon as they start they are rebalanced to the other node
- then we update the number of replicas to 1, allocating replicas on the first node

However we failed to delete the unassigned shards from the first node after the rebalance

[2018-09-28 08:58] fkelbert commented on #33464
@lcawl I remember that the config file was just silently ignored. There was no error message. That is why it took as quite a while to actually figure out what the problem was.

[2018-09-28 09:39] DaveCTurner commented on #33857
Note that we're using `MMapDirectory` here. Setting `index.store.type: simplefs` yielded no failure in 10 iterations.

[2018-09-28 09:49] cbismuth commented on #28309
From `master` branch it seems we can't set theses value with the percent unit anymore. I'll switch to branch 6.3 to reproduce this issue.

[code]

[2018-09-28 09:54] cbismuth commented on #28309
My bad, when sending all three `low`, `high` and `flood_stage` with consistent values in percent, it all works. I'll debug a bit deeper and let you know.

**Request**

[code]

**Response**

[code]

[2018-09-28 10:14] cbismuth commented on #28309
Alright, I finally have a complete cURL recreation script, see Gist [here](https://gist.github.com/cbismuth/295c14974fbbe962b7a850aae2aeabdf). Debug time!

[2018-09-28 10:30] elasticmachine commented on #28668
Pinging @elastic/es-search-aggs

[2018-09-28 10:31] elasticmachine commented on #34127
Pinging @elastic/es-core-infra

[2018-09-28 10:36] colings86 commented on #33987
@costin Cold you look into these failures?

[2018-09-28 11:04] DaveCTurner commented on #33857
I have tried to find a way to reproduce this with fewer moving parts, but so far this has failed. The following test passes.

[code]

[2018-09-28 11:05] DaveCTurner commented on #33857
One interesting side-question is why this happens more on tests to do with shrinking. I think this is the answer:

https://github.com/elastic/elasticsearch/blob/c4b831645cb0369449d092a14ecaff4c04528141/server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java#L726-L727

In other cases, I guess an allocation that fails like this will retry (up to 5 times) and subsequen

[2018-09-28 11:06] cbismuth commented on #28309
Issue found and reproduced on `master` branch:
* It happens that when setting only the `high` value, it's validated against settings built from constants with default values.

I'm working on a fix.

**References**

Here is below the line in which we're reading settings for validation (first line).
https://github.com/elastic/elasticsearch/blob/040695b64e6452c9e54109b9d31fe3d1efdd69f7/server/src/mai

[2018-09-28 11:33] #33954 closed

[2018-09-28 11:43] matriv commented on #34114
@imotov For the mixed capitalization we can have a fix, but for resolving `CHARLENGTH` we'll need to add some more "magic" since we have no indication on how to guess the position of the underscore. Imho we should just add the alias `CHARLENGTH` for such cases.

@costin what do you think?

[2018-09-28 12:08] DaveCTurner commented on #33857
To test this hypothesis, I tried writing a test that repeatedly allocates a shard to a node and then removes it:

[code]

This passes. I'm mystified.

[2018-09-28 12:10] bleskes commented on #33857
Good catch. We should clean these up IMO.

[2018-09-28 12:17] sebasdigital commented on #34128
Thanks @cbuescher for your help and guidance and apologies for the mistake.

[2018-09-28 12:46] spinscale commented on #32919
the mapping does not look excessive and not near the 1k limit.

Does this happen when you only run the internal watches or did you add any watches yourself?

[2018-09-28 12:55] jkakavas commented on #32124
This seemed to be related to TLS1.3 and we wanted to investigate why we end up with duplicate sessions in the session cache for each connection. ( The issue here manifested due to the duplicate - same sessionId - sessions in the session cache. Invalidating by sessionId removed both so the second getSession() threw an NPE )

[2018-09-28 13:16] imotov commented on #34114
@matriv the way I understand it `CHARLENGTH` shouldn't actually work. I think the following statements should work:

[code]

And the following statements should fail:

[code]

[2018-09-28 13:30] ropal opened #34142 "minimum_should_match is not working for query_string query while searching on attachment field"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.1.2

**Plugins installed**: [ingest-attachemnt, analysis-phonetic]

**JVM version** (`java -version`): 1.8.181

**OS version** (`uname -a` if on a Unix-like system): Windows 2012R2

**Description of the problem including expected versus actual behavior**:
While using query_string query with multiple fields provided in  fields attribute,

[2018-09-28 13:31] matriv commented on #34114
- The `cHaR_length` that currently fails, should be fixed.
 - For the `CharLength` that currently works (because we convert camelCase to CAMEL_CASE) there is a discussion here: #34137

[2018-09-28 13:38] DaveCTurner commented on #33857
Ok, I've got it 🎉

The following test passes on Windows (i.e. throws an `AccessDeniedException` on the `rename`). It seems that if you create a hard link to a file, and then delete the link, but the original file is still open, then you can't rename something else into the place where the hard link used to be.

[code]

[2018-09-28 13:58] cbismuth commented on #28309
@jasontedor @rjernst @s1monw

I've reworked my comments on this issue to make them easier to read. Could you please have a look at them and tell me what do you think? Thanks a lot.

[2018-09-28 14:46] #32293 closed

[2018-09-28 15:03] #32124 closed

[2018-09-28 15:04] DaveCTurner commented on #28309
Hi @cbismuth, you can reproduce this in a unit test as follows:

[code]

I'm not sure what you mean by "these dependencies aren't expressed in the code" - e.g. the `LowDiskWatermarkValidator` declares its dependency on the `high` and `flood_stage` settings here:

https://github.com/elastic/elasticsearch/blob/31aabe4bf9ea73cbb1c21322d9e9aa2a578b41a0/server/src/main/java/org/elasticsearch/cluster/ro

[2018-09-28 15:13] #29989 closed

[2018-09-28 15:15] cbismuth commented on #28309
Sorry, I'll reword. You're right @DaveCTurner, static dependencies are expressed in the code. But when triggering validation, runtime cluster state values aren't passed to the validator. Therefore, the validator validates input against default values.

In my previous comment, the _runtime cluster state values_ are enclosed in the `target` parameter of `AbstractScopedSettings#updateSettings` API. A

[2018-09-28 15:16] ywelsch commented on #34122
@brandonmichaelhunter thanks for reporting this. Can you access the logs on your Elasticsearch server? This will give us the full stack trace for the NullPointerException. Also, are you running ES 6.4.0 or 6.4.1?

[2018-09-28 15:21] cbuescher commented on #33752
I was able to see the same failure locally now a couple of times, although it rarely occurs if running the test separately. I had to run with "-Dtests.iters" (5 usually seems to trigger at least one failure, sometimes more). Whats odd is the test expects two child documents in the aggregation back (terms aggregation on the `_parent#parenttype` field, and the search indeed returns two documents but

[2018-09-28 15:51] #33553 closed

[2018-09-28 16:00] sqren commented on #33876
Yes, this would be a more complicated implementation. It sounds more like a temporary bandaid, than the "real solution", but depending on how far out a real solution is, we might do this.

I have a few concerns:
 - End user perf: it could make requests from the user's browser slower
 - tech debt: adding this to every APM endpoint is not ideal, and something we want to remove again in the future
 -

[2018-09-28 16:11] iverase commented on #33752
@cbuescher I had a look to this test and I could reproduce it as well locally. What I notice that the errors always happen when you insert the data and the cluster is yellow:

[code]
instead of:

[code]

If you add an `ensureGreen` statement before inserting the data then the errors go away. But I think that is actually hiding the real problem.

hope this helps!

[2018-09-28 16:32] astefan opened #34152 "SQL: change RANDOM() function to accept no parameters"
At the moment, the code deals with no parameters scenario, but only at Painless script and functionality itself level. The infrastructure around this functionality, though, is not implemented. The docs should also reflect this change.

[2018-09-28 16:32] elasticmachine commented on #34152
Pinging @elastic/es-search-aggs

[2018-09-28 16:35] cbismuth commented on #28309
Yes, this API has a lot of usages. Thank you for the unit test, I’ll play with it :+1:

[2018-09-28 16:36] lcawl commented on #33464
Thanks @fkelbert I've updated https://github.com/elastic/stack-docs/pull/122 and https://github.com/elastic/elasticsearch/pull/33541

[2018-09-28 16:43] jasontedor commented on #34087
@william8000 At this time you would have to:
 - use an older version of `rpm` to workaround the issue
 - build from source
 - wait until we do another release <-- we can not give any indication on timing of this

[2018-09-28 16:46] jkakavas commented on #33459
That was misleading. Mulitple PKCS#11 (of type `sun.security.pkcs11.SunPKCS11`) can be configured both statically ( in `java.security` ) or dynamically. For example using the `security.properties` one can define:
[code]

with `nss.cfg` and `nss.cfg` pointing to different databases ( or HW tokens ), ie.

[code]

and

[code]

What **cannot** be done is to initialize both. An error:
[code]
is thrown.

[2018-09-28 17:01] elasticmachine commented on #34142
Pinging @elastic/es-search-aggs

[2018-09-28 17:04] maverickpravin opened #34153 "Elasticsearch shuts down automatically"
I am using a VM instance running Ubuntu (1GB RAM + 25GB Harddisk) with Elasticsearch on it. Although I have managed to install the elasticsearch on it when i start the service via
`sudo service elasticsearch start` the ES service starts and then stops after few seconds. Throwing following error
![capture](https://user-images.githubusercontent.com/11708491/46222543-4b2f2580-c36e-11e8-82ec-ce10789c4

[2018-09-28 17:59] jaymode commented on #33459
That is really an unfortunate limitation. I agree then we don't need the provider support.

[2018-09-28 18:33] nik9000 commented on #34153
I'm going to close this because we try to reserve github for feature requests and confirmed bug reports. This *might* a bug with Elasticsearch but usually things like this are environmental and you can track them down by looking at the logs in `/var/log/elasticsearch`. If that isn't helpful then please post about this on https://discuss.elastic.co/c/elasticsearch with the contents of the logs or r

[2018-09-28 18:33] #34153 closed

[2018-09-28 20:04] orlandoescalante opened #34158 "ElasticSearch upgrade from 6.4.0 to 6.4.1 breaks keystore and gcs plugin setup"
We recently upgraded to Elastic 6.4.0 and included into the configuration the steps suggested to use GCS plugin for Google Clous Storage snaphots for the backup/restore process. Following what is publish here: https://www.elastic.co/guide/en/elasticsearch/plugins/6.x/repository-gcs-client.html. All was working fine, Elastic starting without problem and backups working as expected on the buckets,

[2018-09-28 20:13] elasticmachine commented on #34158
Pinging @elastic/es-core-infra

[2018-09-28 20:13] nik9000 commented on #34158
@rjernst, could you have a look at this one?

[2018-09-28 20:33] rjernst commented on #34158
Did you upgrade the `repository-gcs` plugin? This sounds like the plugin is not installed. Can you do listing of your installed plugins and paste the output here?

[2018-09-28 20:36] dakrone commented on #34020
We discussed this and decided that we'll stick with the current behavior, but that behavior should be carefully documented.

/cc @colings86 @debadair since you're working on the documentation for this.

[2018-09-28 21:36] jtibshirani opened #34160 "Consider deprecating/ removing support for string-style queries on certain metadata fields."
In addition to term-based queries, we currently support `prefix`, `regex`, and `wildcard` queries on certain metadata fields like `_ignored` and `_routing`. It’s not clear that supporting these additional query types is useful, and it limits how we’re able to store these fields. As an example, `_id` fields do not support these queries, and we’re able to encode them using a flexible scheme.

Unless

[2018-09-28 21:36] elasticmachine commented on #34160
Pinging @elastic/es-search-aggs

[2018-09-28 21:36] dliappis commented on #31717
TL;DR
-----

It's hard to come up with general defaults that are optimal for all cases, esp. in multi node environments with different (primary+replica) shard settings.

this comment shows two categories of defaults that work well in different scenarios:

- 5P 1R shard settings, 3node clusters, Network storage, AWS+GCP
- 1P 1R shard settings, 3node clusters, SSD storage, AWS+GCP

The next comment

[2018-09-28 21:42] andyb-elastic commented on #26681
Some rally benchmarks for the implementations we've looked at so far - these just cover service performance and don't say anything about accuracy. This is using the [noaa dataset track](https://github.com/andyb-elastic/rally-tracks/tree/57e80bcf7f65333d179c7726d1bc276a36ec042b/noaa) with 4 shards and default compression settings

For the method Zach described in [this comment](https://github.com/e

[2018-09-28 21:43] andyb-elastic commented on #26681
I'll have some accuracy benchmarks next. It's looking like the centroid method is likely going to be the one to use

[2018-09-28 22:02] jtibshirani opened #34162 "Consider deprecating/ removing support for wildcards in `term` queries on `_index`."
When evaluating a `terms` query against the `_index` field, simple wildcard patterns are accepted: https://gist.github.com/jtibshirani/7992dc355b677e8537c333616d3c0270

This is not a huge problem because index names can't contain asterisks, but I think it's confusing and not consistent with the normal behavior of `terms` queries. It would be good to consider deprecating + removing this ability. We

[2018-09-28 22:02] elasticmachine commented on #34162
Pinging @elastic/es-search-aggs

[2018-09-29 05:13] debpedrano opened #34165 "Logo for the Project"
I am a designer, a contributor for open source. can I make a logo for this project?

[2018-09-29 06:31] dadoonet commented on #34165
We do have logos for elastic projects. See  here: https://www.elastic.co/brand
But thank you for proposing!

[2018-09-29 06:31] #34165 closed

[2018-09-29 07:52] cbismuth commented on #28309
I'll try next week to add the `target` parameter of the `updateSettings` API (L702) as a third parameter to the `validate` API (L719), with a `Settings.EMPTY` default value everywhere else.

I'll see how big are the changes and how it may break things. I'll let you know.

[2018-09-29 11:40] bhavesh123 commented on #23158
Waiting for this feature to release.. It will be really exciting..

[2018-09-29 22:53] johnfrades commented on #21291
Thanks @jimczi for the workaround, this is what im looking for.

[2018-09-30 00:16] simlu commented on #23796
While our solution described by @MacMcIrish works, it also returns more data that was not explicitly requested. We now prune the result in application logic again as a second step.

Overall this is quite a costly bug for us. Would really like to see this fixed.

[2018-09-30 02:29] jemoii opened #34166 "How to use HasPrivilegesAction to check user's privileges"
When I follow [security-api-privileges](https://www.elastic.co/guide/en/elasticsearch/reference/5.5/security-api-privileges.html) to check user's privileges,

- curl:
[code]
[code]

- Java code(`org.elasticsearch.plugin:x-pack-api:5.5.0`):
[code]

`linda` is my username for cluster, if has no specified username , `HasPrivilegesRequest#writeTo` will throw NullPointException.
But I'm puzzled about `

[2018-09-30 09:47] sunnytimes opened #34167 "[Elasticsearch exception [type=security_exception, reason=missing authentication token for REST request [/***/**/5]]]"
1.server ===> es 6.2.2(x-pack enabled)
2.app ===> springboot 2.0.5.RELEASE
3.app ===> elasticsearch-rest-high-level-client 6.2.2(work in springboot)

after app start over without any error.try to test interface i got this:

![image](https://user-images.githubusercontent.com/17331635/46256084-88172b80-c4d8-11e8-8ff0-53a42e5d19e7.png)

is anyone kown how to set authentication ?

[2018-09-30 23:49] Destroy666x commented on #34047
Question - is there an easy way to check the bulk request the library does in some sort of Elastic logs? Because the library logger for some reason skips it, even if I simplify the request quite a lot.

Maybe some details will help in the meanwhile:
1. There's e.g. this shape stored as a multidimensional array https://pastebin.com/ULfUwAZJ
2. The code turns it into
[code]

[2018-10-01 01:57] TomonoriSoejima opened #34170 "Stemmer Token Filter error when multiple names are given"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.4.0
**Plugins installed**: []

**JVM version** (`java -version`):
1.8.x
**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

If you run this request to creaste a mapping, no errors occurs until you push a document to it.
I think we shoul

[2018-10-01 02:07] sunnytimes commented on #34167
got it,thanks.

[2018-10-01 07:44] rrader commented on #18073
It would be really useful if there was a way to configure the default template via file and not REST - for quick start of some applications in kubernetes for example

[2018-10-01 08:13] tlrx commented on #34166
You can try something like:

[code]

In the response, has_all_requested corresponds to response.isCompleteMatch().

Anyway, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elastic forums](https://discuss.elastic.co/) instead. Thank you!

[2018-10-01 08:13] #34166 closed

[2018-10-01 08:15] elasticmachine commented on #34170
Pinging @elastic/es-search-aggs

[2018-10-01 08:51] martijnvg opened #34173 "[CI] ShardChangesIT#testFollowIndex_backlog"
[code]

[code]

Build urls:
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/98/console

[2018-10-01 08:51] elasticmachine commented on #34173
Pinging @elastic/es-distributed

[2018-10-01 10:58] ywelsch commented on #31624
The simplest solution to get rid of the stuck snapshot is to do a full cluster restart, i.e., all nodes down, and only then start them up again. This will clear the snapshot state, but will ofc also mean downtime. The more involved solution consists of the following: Look at the clusterstate, and check the snapshot entries that are marked as ABORTED. Check the node id associated with that entry. F

[2018-10-01 11:45] bluikko commented on #30243
Is this piece implemented: "We can make use of existing AD/LDAP role mapping settings"
The documentation is not clear on this point, or at least I did not find anything about it.

Currently is it possible to configure Kerberos for authentication and use AD/LDAP for authorization (user group membership is read from LDAP for assigning roles)?

[2018-10-01 12:10] j-haj commented on #22919
I am interested in taking a look at this. @nik9000 can you give some direction? It seems like the plan was to deprecate and remove some time in 6.x. However, we are already at 6.4 and it doesn't seem like the deprecation warnings were ever added. At this point, are we only interested in adding deprecation info?

[2018-10-01 12:31] j-haj commented on #24665
@lcawl @vsiv can I get some more context on this? Both of the referenced pages seem to be discussing configuration files with no mention to a Java API.

[2018-10-01 12:38] iverase commented on #33752
I performed another check. If I wait one second before executing the query it seems that the errors goes away as well. My suspicion is that a shard gets searchable before all the info of parent-child type gets copied over. Therefore you find the docs but the aggregation fails.

[2018-10-01 12:51] colings86 commented on #32827
I opened https://github.com/elastic/elasticsearch/pull/34180 to add some more logging information and hopefully see whats going on better

[2018-10-01 12:52] makwarth commented on #33876
Discussed this with @sqren. We could temporarily do:

- Piggy back on user requests, but only on the Services list page (APM homepage)
- Store telemetry data in `.kibana` index
- Have our usage collector query the `.kibana` index

@tsullivan Where in the `.kibana` index should we store [our telemetry](https://github.com/elastic/telemetry/issues/55#issue-361015957) data exactly?

[2018-10-01 13:36] cbismuth commented on #28309
I had a look to available validation APIs in `AbstractScopedSettings` class, and I've opened PR https://github.com/elastic/elasticsearch/pull/34184 to suggest an enriched version of the actual validation.

No test seems to be broken on my laptop.

There may be a small overhead, but I let you give me you opinion on this.

The  bug reported by @DaveCTurner is fixed with these changes, and here is a

[2018-10-01 13:42] benwtrent opened #34185 "Add `date` value type support for certain metrics in Rollup"
Currently, when creating a new `RollupJobConfig` only numeric field mapper types are supported for the different metrics.

Support for `min`, `max` and, `value_count` over `date` fields should be added. Since `date` can just be treated as a `long`, hopefully the change is not too pervasive.

This issue is blocking ML support for rollup indices: #31999

Pinging @colings86 @polyfractal

[2018-10-01 13:42] elasticmachine commented on #34185
Pinging @elastic/es-search-aggs

[2018-10-01 13:47] cbuescher commented on #33752
I also tried this (even 2 sec) but it doesn't work for me at lease. Still random errors.

This is what I already suspect, but still trying to confirm.

[2018-10-01 14:27] mayya-sharipova commented on #33857
Still experiencing failure today on 6.4

Log:  https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+multijob-windows-compatibility/34/console

REPRODUCE WITH: gradlew :server:integTest \
  -Dtests.seed=544A239B8224F7C5 \
  -Dtests.class=org.elasticsearch.routing.PartitionedRoutingIT \
  -Dtests.method="testShrinking" \
  -Dtests.security.manager=true \
  -Dtests.locale=en-CA \
  -Dtes

[2018-10-01 15:00] mayya-sharipova commented on #24457
failures still continue to occasionally happen on 5.6 with a rate 1-2 times a week:

Recent failure

Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-unix-compatibility/os=sles/33/console

[2018-10-01 15:17] atorok commented on #33759
@uschindler  This is what we do for third party audit now:
[code]

So when we are scanning with an older JVM, we don't run into the class files meant for the newer versions and unknown class format or missing class errors.
For example, when we are running on java 8, we will exclude files mean for java 9.
I assumed this was fine as the jars are on the classpath and we only scan the extracted jars t

[2018-10-01 15:34] imotov commented on #17045
@basiclaser unfortunately, there is no simple way to do it. Due to its distributed nature and potentially very large of results in a single search, elasticsearch performs searches in 2 phase: first in the QUERY phase we find top relevant results on each shard, during this phase we have information about why we found each individual record, but we immediately discard after determining if the result

[2018-10-01 15:34] #17045 closed

[2018-10-01 16:05] dnhatn commented on #33337
I've un-muted this test. It should be okay now as the FollowingEngine will skip an operation which was already processed before (see #34099).

I am closing this issue since @jasontedor is working on a broader fix which covers this issue.

/cc @martijnvg

[2018-10-01 16:11] lcawl commented on #24665
Looks to me like the most important link is this one: http://lucene.apache.org/core/6_5_1/analyzers-common/org/apache/lucene/analysis/miscellaneous/WordDelimiterFilter.html

[2018-10-01 16:11] nik9000 commented on #22919
Right @j-haj! We've traditionally done this sort of thing in a two phase process:
1. Merge a PR that adds a deprecation warning to `getValues` to both 6.x and master.
2. Merge a PR that drops the `getValues` entirely just to master.

We do this because it keeps 6.x as "mostly backports of stuff in master" and it allows us to always develop against master. So if you'd like to take this then step 1

[2018-10-01 16:13] mayya-sharipova opened #34188 "RangeQueryBuilderTests testToQuery fails with Use of short timezone id deprecated"
RangeQueryBuilderTests testToQuery  fails on 6.x

The failure reproduces on my local machine

Log https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/33/console

gradlew :server:test \
  -Dtests.seed=E8DA5AFE04722E5B \
  -Dtests.class=org.elasticsearch.index.query.RangeQueryBuilderTests \
  -Dtests.method="testToQuery" \
  -Dtests.security.manager=true

[2018-10-01 16:17] mayya-sharipova commented on #34188
The problem is related to the recent conversion fro joda to java date.
Attaching stack here:

[code]

[2018-10-01 16:20] elasticmachine commented on #34188
Pinging @elastic/es-core-infra

[2018-10-01 16:57] j-haj commented on #24665
@lcawl Thanks for the follow-up! I understand what has been deprecated, my question is more around the docs themselves. There is no reference to a Java API in either of the `analysis-synonym-tokenfilter` or `analysis-synonym-graph-tokenfilter` so I am having a hard time understanding why we are putting this notice to users on these pages. Regardless, I will prepare a PR with a notice regarding the

[2018-10-01 17:07] j-haj commented on #22919
Perfect - I will get working on this and comment if I have any questions.

[2018-10-01 17:58] uschindler commented on #33759
Hi,
it looks fine to just exclude the higher versions. But nevertheless there is the problem that forbiddenapis internally keeps a map of class files keyed on class name for looking up purposes (it's own "classloader"-like mechanism just looks for references between classes that are part of the scanned set by looking up via the classname key). This approach would add the same class multiple times

[2018-10-01 18:09] lcawl commented on #24665
@j-haj If you haven't already started the documentation PR, I can do it.

With respect to your second comment, it looks like there's already an issue here: https://github.com/elastic/elasticsearch/issues/29061

[2018-10-01 18:13] #34173 closed

[2018-10-01 18:50] #33566 closed

[2018-10-01 20:38] jmmk commented on #32985
@atorok Will this be backported to previous ES versions?

If I understand correctly, anyone on an older version of ES cannot have more than one instance of `module-info.class`on their classpath without tests failing with "found jar hell in test classpath"

[2018-10-01 23:06] #34114 closed

[2018-10-01 23:09] matriv commented on #34114
@imotov The "magic" to convert camelCase to CAMEL_CASE when trying to resolve the functions has been removed. Now the function name provided by the user is just converted to uppercase and tried to be matched with one of the functions or their aliases.

[2018-10-01 23:57] jasontedor commented on #32985
We have backported this change to our 6.x branch which is the development branch for the next minor release, but we will not be taking this change back any further than that.

[2018-10-02 01:01] xeraa opened #34208 "Differentiate between OSS and non-OSS features in the release notes"
**Describe the feature**: Based on a quick discussion with @pcsanwald:

Currently we do not differentiate between X-Pack features and Apache licensed features. As an example, we include ML features: https://www.elastic.co/guide/en/elasticsearch/reference/current/release-notes-6.4.0.html , which includes this PR: https://github.com/elastic/elasticsearch/pull/31330 (which is an "X-Pack" PR, in that

[2018-10-02 05:15] dharada opened #34209 "Unclear document description about 'search.max_buckets'"
[The actual behavior]
- When we change "search.max_buckets" setting from default to some value, (e.g 1000),
the requests that try to return more than the limit buckets will occur error.

[Issue]
- But current document doesn't describe above behavior.
https://www.elastic.co/guide/en/elasticsearch/reference/6.3/search-aggregations-bucket.html

[Request]
- Could  you please make sure the document mor

[2018-10-02 06:01] centic9 commented on #9705
I tried to implement the parent-aggregation and would like some feedback if the approach is correct, see #34210

[2018-10-02 07:30] #34067 closed

[2018-10-02 08:28] v00d00c0de opened #34214 "Extend named queries to provide token matched"
**Describe the feature**:
Given a bool query containing number of **named** sub-queries, I want to be able to know **for each token** matched in the resulting document, the name of the query that matched it.
Preferably modify the "matched_queries" section to be a list of mappings <QUERY_NAME> -> <TOKEN_FOUND>.

[2018-10-02 08:41] mybyte opened #34215 "Type "cross_fields" overrides fielded search"
When used in query_string - queries, the "cross_fields" match type overrides explicit fielded searches in the query string, resulting in unintended results. For instance:
`"query_string":{
  "query":"(foo AND bar) AND year:2018",
  "type":"cross_fields"
}`
will result in "2018" being searched in all fields as opposed to "year" only. The expected behaviour would be not to override explicitly specif

[2018-10-02 08:47] #33957 closed

[2018-10-02 09:52] elasticmachine commented on #34215
Pinging @elastic/es-search-aggs

[2018-10-02 10:41] cbuescher opened #34219 "Emit deprecation warning on "enabled" attribute change"
Starting in 7.0, we will throw an error if a user tries to change the "enabled" attribut in a mapping (https://github.com/elastic/elasticsearch/pull/33933 (edited).
In addition to this we should emit a deprecation warning in 6.x, letting the user know that their intended `enabled` setting mapping change is silently ignored
(see https://github.com/elastic/elasticsearch/issues/33566) and that we wil

[2018-10-02 10:41] elasticmachine commented on #34219
Pinging @elastic/es-search-aggs

[2018-10-02 11:22] costin opened #34221 "Enhance position of nulls inside composite aggs sorting"
Currently, missing values are treated as `null`s and appear either first by default (using `ASC` sorting) or last for `DESC` sorting.
It would be useful to further enhance the sorting similar to `FieldSortBuilder` to specify whether the missing values should appear last (`_last`) or first (`_first`). In SQL this would allow implementing `NULLS FIRST/LAST` functionality as well as offer the expecte

[2018-10-02 11:40] elasticmachine commented on #34214
Pinging @elastic/es-search-aggs

[2018-10-02 11:43] javanna commented on #34209
hi @dharada ,
there is a note in the page that you linked that says:

Do you think that the above note explains the behaviour clearly enough?

[2018-10-02 11:43] elasticmachine commented on #34209
Pinging @elastic/es-search-aggs

[2018-10-02 11:46] #32712 closed

[2018-10-02 11:50] javanna commented on #33001
Closing due to lack of feedback, we will reopen if we get the requested info above.

[2018-10-02 11:50] #33001 closed

[2018-10-02 11:52] javanna commented on #33084
@rishabh-traveloka @rishabhdugar could you kindly provide the requested info above?

[2018-10-02 11:55] javanna commented on #33122
hi @pakein , I have a hard time understanding what the problem is. Could you elaborate on what the request that you send looks like, what result you would expect and what is happening instead? I think that would be very helpful to troubleshoot this issue on our end. Thanks!

[2018-10-02 12:02] javanna commented on #33159
hi @luyuncheng sorry it has taken a while to get back to you. If I understand correctly, you are referring to the fact that each segment is a searchable inverted index, yet Elasticsearch searches through each segments belonging to an index in a sequential manner. We will discuss your suggestion with the team and see whether this part can be improved.

[2018-10-02 12:03] bmcconaghy opened #34222 "Elasticsearch accepts and stores floats in keyword mapped field"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.0.0-alpha1 (also 6.4)

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:
Related to: https://github.com/elastic/kibana/issues/23530

**Steps to reproduce**:
[code]

Last command returns:
[code]

No

[2018-10-02 12:19] javanna commented on #34222
Note that what gets returned is the `_source` which is what was submitted at index time, unchanged, regardless of how each field gets mapped and indexed. So the fact that the field is returned as a float has little to do with how the field itself was mapped internally. I assume it's mapped as a string and we may indeed want to throw an error instead.

[2018-10-02 12:19] elasticmachine commented on #34222
Pinging @elastic/es-search-aggs

[2018-10-02 12:32] #15115 closed

[2018-10-02 12:53] #34215 closed

[2018-10-02 12:59] imotov commented on #34114
@matriv awesome! Thanks!

[2018-10-02 13:04] cbuescher commented on #34219
Closing since we decided to backport #33933 in the end.

[2018-10-02 13:04] #34219 closed

[2018-10-02 13:14] seanlaff commented on #28573
@jpountz Even though elasticsearch would be doing nothing more special than the client would (fetch the docs by id, run them through the percolator), it's handy to avoid the roundtrip latency incurred when the client is responsible for fetching the documents and sending them back.

I understand the desire to slim the api surface down (not to mention this may be an edge case), but I think it has so

[2018-10-02 13:26] dliappis opened #34227 "[CI] SSLServiceTests failed once, not reproducible"
The following failure was only observed once, but might be worth looking at in more depth:

https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+5.6+multijob-unix-compatibility/117/consoleText

Logs show:

[code]

Subsequent builds with the same commit succeeded.

**Reproduction line**:

`./gradlew :x-pack-elasticsearch:plugin:test -Dtests.seed=A93623303C47001C -Dtests.class=org.elastic

[2018-10-02 13:28] jimczi commented on #34222
As @javanna explained we always coerce numerics into strings if the field is mapped as a `text/keyword`. We also preserve the original `_source` so the field still appear as a numeric when you retrieve the `_source`. However for numeric fields we have a `coerce` option (defaults to true) which when disabled throws an error if the json type is not a numeric. Are you saying that we should have the s

[2018-10-02 13:52] droberts195 commented on #34084
I'll have a go at implementing the idea from https://github.com/elastic/elasticsearch/issues/34084#issuecomment-425025324

[2018-10-02 13:53] colings86 opened #34229 "ILM shrink action may cause in-flight search requests to fail"
The shrink action in ILM goes through the following steps:
1. allocate one copy of each shard for the index to a single node
2. Perform shrink operation
3. Wait for allocation of any replicas on shrunk index
4. As an atomic action, delete the original index and add an alias to the shrunk index for the original index name

The issue comes with step 4. IF there are search requests in flight when the

[2018-10-02 13:53] elasticmachine commented on #34229
Pinging @elastic/es-core-infra

[2018-10-02 14:08] colings86 commented on #33159
@luyuncheng Elasticsearch provides parallelisation of reads on the request level. It is expected that a shard will be serving multiple requests concurrently and therefore the parallelisation can be achieved in processing multiple requests concurrently rather than trying to concentrate on parallelising an individual request. We have found that combining concurrent requests with parallel segment rea

[2018-10-02 14:08] #33159 closed

[2018-10-02 14:20] cbuescher commented on #29374
Closing with no further feedback. Please reopen if you are still able to reproduce.

[2018-10-02 14:20] #29374 closed

[2018-10-02 14:29] romseygeek commented on #34214
This is something that can be done with lucene Matches, and we would indeed like to do this.  There are a number of open questions around the API and exactly how the implementation should be done, which we are actively discussing.

[2018-10-02 14:33] dnhatn commented on #28070
Closed by #33933.

[2018-10-02 14:33] #28070 closed

[2018-10-02 15:00] davidkyle opened #34231 "[ML] Consider unifying datafeed and job configuration"
The original design of the datafeed envisioned it as a general purpose tool that could be used with different types of jobs rather than just anomaly detection. As the code has evolved the datafeed looks more like a single purpose tool dedicated to feeding data to anomaly detector jobs (query delay, aggregations, write to autodetect) and not easily adaptable to future use cases or job types. Also i

[2018-10-02 15:00] elasticmachine commented on #34231
Pinging @elastic/ml-core

[2018-10-02 15:08] droberts195 commented on #34231
Another thing is that even if datafeeds were made generic enough that they could be reused for some future type of job, that wouldn't preclude storing the datafeeds for anomaly detector jobs inside the anomaly detector job config.

[2018-10-02 15:09] patrykk21 opened #34232 "search_after unexpected/undocumented behaviour"
**Elasticsearch version** (`curl localhost:9200`):
"version" : {
    "number" : "6.2.4",
    "build_hash" : "ccec39f",
    "build_date" : "2018-04-12T20:37:28.497551Z",
    "build_snapshot" : false,
    "lucene_version" : "7.2.1",
    "minimum_wire_compatibility_version" : "5.6.0",
    "minimum_index_compatibility_version" : "5.0.0"
  }

**Plugins installed**: []

**JVM version** (`java -version`)

[2018-10-02 15:37] #33071 closed

[2018-10-02 15:47] jaymode opened #34237 "Improve memory usage of DnRoleMapper"
The `DnRoleMapper` class is used to map distinguished names of groups and users to role names. This mapper builds in an internal map that maps from a `com.unboundid.ldap.sdk.DN` to a `Set<String>`.  In cases where a lot of distinct DNs are mapped to roles, this can consume quite a bit of memory; in one case a single DnRoleMapper was found to consume over 1GB of heap space.

The majority of the mem

[2018-10-02 15:47] elasticmachine commented on #34237
Pinging @elastic/es-security

[2018-10-02 16:01] #33956 closed

[2018-10-02 16:52] dakrone commented on #34118
Resolved by #34161

[2018-10-02 16:52] #34118 closed

[2018-10-02 16:53] cbuescher commented on #29653
Another possible metric that I recently encountered in presentation is Average Precision (or, if taken across multiple user needs: [Mean Average Precison](https://nlp.stanford.edu/IR-book/html/htmledition/evaluation-of-ranked-retrieval-results-1.html)).

[2018-10-02 17:57] martinblaustein commented on #31738
@steve-e  @ptitpix  did you find a solution for this?

[2018-10-02 18:11] steve-e commented on #31738
I have put each completion suggestion into its own document, without the rest of the source document. This works around the problem where only one completion might be considered.

For my specific usecase this should be in an entirely different index, so that the completion is unrelated to the specific document from which the completion is taken.

[2018-10-02 18:16] akifshaikh73 commented on #21917
6.4.1 works well. Check your log files - under the logs directory. In my case even though I had the JAVA_HOME defined , it said it wasn't able to find JRE. Turned out it was in the User variables , moved it to System Environment variables and it works fine.

[2018-10-02 18:50] martinblaustein commented on #31738
@steve-e Thanks!

[2018-10-02 19:04] imotov commented on #34047
@Destroy666x I tried to reproduce what you described based on the information that you have provided on 6.3.1 and 6.4.1 and got quite an opposite result. The following script https://gist.github.com/imotov/64dcfc84829141d54d4a244573902449 that uses both `[]` as geometies as well as your shape doesn't return any errors on 6.4.1 but fails with an error message on 6.3.1. So, in this test 6.4.1 seems

[2018-10-02 19:15] dliappis commented on #33750
Observed again in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/107/console

Fails consistent on my workstation:

**Reproduction:**
[code]

[2018-10-02 19:17] elasticmachine commented on #34232
Pinging @elastic/es-search-aggs

[2018-10-02 19:17] nik9000 commented on #34232
@jimczi, could you have a look at this?

[2018-10-02 19:34] cezarykluczynski opened #34244 "Client should not have final method nor classes"
**Describe the feature**: Most of the methods on RestHighLevelClient are final. That makes them hard to mock, and hard to create decorators. What's the reason behind that? If there is no good reason to keep those methods final, I request that this constraint be dropped. Additionally, that's not the case with native protocol AbstractClient, and almost no methods there are final, despite having the

[2018-10-02 19:47] jimczi commented on #34232
This is the expected behavior. The sort values are used to filter documents that compare smaller (or greater depending on the order of the sort). If you want to ensure that the response starts exactly at the `search_after` values you'll need to check the first hit in the response and compare the `sort` values from those provided in the query. However the values used in a `search_after` query are u

[2018-10-02 19:53] dliappis commented on #33753
Another failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/111/consoleText

[2018-10-02 19:59] jaymode commented on #33464
This is fixed by #33688

[2018-10-02 19:59] #33464 closed

[2018-10-02 20:08] sergiosalvatore commented on #32570
Is there a place where I can see when this gets slotted in for development?

[2018-10-02 20:39] mayya-sharipova commented on #32570
@sergiosalvatore  When  there a PR for this feature, you will be able to see the link to this PR in this issue

[2018-10-02 21:12] nik9000 opened #34249 "Tasks: API to remove preserved task status"
When a user runs any of reindex and friends with `wait_for_completion=false` we create a record of the task when it is finish so that the `/_tasks/{task_id}` API can find the task after it has finished. Right now it is up to the user to delete the record manually from the `.tasks` index but this sort of thing ties us to an implementation detail (the `.tasks` index) in a way that we don't feel comf

[2018-10-02 21:12] elasticmachine commented on #34249
Pinging @elastic/es-distributed

[2018-10-02 21:16] nik9000 commented on #34249
I think, also, that we should clean up the docs for reindex and friends so they reference some common docs for cleaning up the task status rather than describing how to do it in place. Basically, I think we should *have* docs in one place for how to clean up the preserved task status. And this seems like the right place to do that.

[2018-10-02 21:19] dnhatn commented on #33337
We haven't resolved this issue completely. I will mute this test.
CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/122/console

[2018-10-02 22:33] ppf2 opened #34251 "Move breaking changes to (or near) Upgrading Elasticsearch section"
Somehow breaking changes section is ending up towards the very bottom of the table of contents for the Elasticsearch documentation.

![image](https://user-images.githubusercontent.com/7216393/46380683-16fe8200-c658-11e8-9a34-448b20748c67.png)

Breaking changes is such an important section for upgrades.  Let's move this back up towards the "Upgrade Elasticsearch" section, either as a section parall

[2018-10-03 00:37] tsouza opened #34252 "Create Security Role API allows malformed/invalid query JSON"
**Elasticsearch version** (`bin/elasticsearch --version`):
`Version: 6.4.1, Build: default/tar/e36acdb/2018-09-13T22:18:07.696808Z, JVM: 10.0.1`
`Version: 6.3.0, Build: default/tar/424e937/2018-06-11T23:38:03.357887Z, JVM: 10.0.1`

**Plugins installed**: []

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem includi

[2018-10-03 00:37] elasticmachine commented on #34252
Pinging @elastic/es-security

[2018-10-03 06:13] UD1412 opened #34255 "Add filter capability to CustomSuggester"
Currently, Filter capabilities are only supported in CompleteionSuggester. This has been achieved by adding a context to the CompletionSuggester.
But there is no such support for a CustomSuggester.

There should be a way to add filter capability to a CustomSuggester.

[2018-10-03 06:45] Destroy666x commented on #34047
Well, you didn't reverse the order of vertices and lat/lon and didn't do it as a `polygon` array. I'll try your way of sending the data and then will submit more relevant gist.

[2018-10-03 07:02] v00d00c0de commented on #34214
The feature should also support multi-fields.
Example use case: a multi-field where each sub-field is analyzed differently.
[code]

[2018-10-03 07:20] dliappis commented on #31717
3P 1R, Network SSD Storage, 3 node cluster
------------------------------------------

[code]

### Notes

As expected, using 3p 1r shard settings is lighter on **cpu** and **I/O** pressure than the 1/1 scenario.

All benchmarks were executed using local SSD drives and http_logs in particular throttled at 85% of max indexing performance, as otherwise normalized CPU consumption on AWS ranged between

[2018-10-03 07:49] dliappis commented on #31717
### Next steps

With the append-only follower [optimizations merged](https://github.com/elastic/elasticsearch/pull/34099), next step is to rerun the above benchmarks (at least the ones that demonstrated high resource usage, esp CPU) and evaluate if the common defaults used for 5p/1r, 3p/1r scenario demonstrate less resource usage and whether they are good enough even for 1p/1r.

For reference here

[2018-10-03 07:59] colings86 commented on #32827
https://github.com/elastic/elasticsearch/pull/34180 is now merged. Please ping me if this fails again as the PR only adds debugging information.

[2018-10-03 08:42] elasticmachine commented on #34244
Pinging @elastic/es-core-infra

[2018-10-03 08:46] javanna commented on #34244
The final modifier is used for methods that are not supposed to be overridden by subclasses. The fact that such methods are hard to mock is an odd consequence. On one hand testing should be made easy, but I am not sure that this should convert into never using the final modifier. We will discuss this with the team.

[2018-10-03 08:54] droberts195 commented on #33987
Same thing in
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+multijob-unix-compatibility/os=amazon/37/console

Exactly the same set of tests failed.

Again, the error for all failed tests is:

[code]

[2018-10-03 09:20] martijnvg opened #34258 "[CCR] Disallow following an index in the same cluster"
Following an index in the same cluster was mainly added to easy testing and in order to support it we made changes to production code that are too invasive just to ease testing:
* Instead of reusing the leader index's uuid for the follower index, the follow api generates a new index uuid. Reusing the same index uuid is not a problem for following an index in a different index, but it is for follow

[2018-10-03 09:37] #13618 closed

[2018-10-03 09:55] droberts195 commented on #32686
A failure occurred in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=oraclelinux/38/console that suggests #34120 doesn't fix this in every case.

The error is this:

[code]

Looking elsewhere in the log file it seems that `2HM7dFt2TTqo3nNIgS8seA/2` _is_ the state directory, as there are messages about `.../2HM7dFt2TTqo3nNIgS8seA/2/_state/state-1.st

[2018-10-03 10:18] droberts195 opened #34261 "KerberosTicketValidatorTests failed due to port already in use"
The `KerberosTicketValidatorTests` suite failed in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/56/console

The repro command is:

[code]

This doesn't reproduce locally.

The log suggests that the problem may be due to using a hardcoded port number that wasn't available in the test run that failed:

[code]

[2018-10-03 10:18] elasticmachine commented on #34261
Pinging @elastic/es-security

[2018-10-03 10:37] original-brownbear commented on #32686
@DaveCTurner yea sorry about that, will do either later today or tomorrow at the very latest (sorry public holiday here today and a little busy because of it :))

[2018-10-03 10:55] droberts195 commented on #33778
The same problem occurred in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/38/console

[code]

due to:

[code]

But I'll leave this issue closed as there's a plan to change how this works in #33675.

[2018-10-03 10:59] DaveCTurner commented on #32686
Oh I forgot about the holiday there today. Enjoy your day off and don't worry about this, I'll try and take care of it.

[2018-10-03 11:12] albertzaharovits commented on #30536
We are working on getting [multi index expressions](https://www.elastic.co/guide/en/elasticsearch/reference/current/multi-index.html) for the GetAlias API (`/{index}/_alias/{name}` and `/_alias/{name}`) #33518 #34144 #34230 . The expressions would contain wildcard exclusions (`-...*`) for **alias names** (the {name} parameter).

But, this is touching on a topic being discussed here. And it is stal

[2018-10-03 11:38] Bukhtawar opened #34264 "A higher version of an index can be restored in a cluster but when nodes try to join the cluster, membership fails"
A higher version of an index 6.3.2 can be restored on a cluster with node version 6.3.1 however when additional nodes try to join the cluster, their membership is restricted based on compatibility checks
which ensures that all indices in the given metadata will not be created with a newer version of elasticsearch as well as that all indices are newer or equal to the minimum index compatibility ver

[2018-10-03 11:53] droberts195 opened #34265 "[ML] Remove types from datafeed"
Currently the `DatafeedConfig` has a `types` element.

This was preserved in 6.x to allow for the possibility that the datafeed would be searching multi-type 5.x indices.  However, in 7.x it causes deprecation warnings and needs to be removed altogether.

The 6.x `DatafeedConfig` class looks like it has a design flaw where some parts of the code allow for the possibility of `null` `types` whereas

[2018-10-03 11:53] elasticmachine commented on #34265
Pinging @elastic/ml-core

[2018-10-03 11:59] elasticmachine commented on #34264
Pinging @elastic/es-distributed

[2018-10-03 12:18] elasticmachine commented on #34251
Pinging @elastic/es-docs

[2018-10-03 12:18] elasticmachine commented on #34208
Pinging @elastic/es-docs

[2018-10-03 12:19] elasticmachine commented on #34255
Pinging @elastic/es-search-aggs

[2018-10-03 12:31] droberts195 commented on #33457
Same again in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/112/console

[code]

[2018-10-03 12:44] j-haj commented on #22919
@nik9000 I have added a call to `deprecatedAndMaybeLog` to `ScriptDocValues#getValues`. The message I am logging says "Deprecated getValues used" - I was not sure what else should be said. Summarizing the comment at the top of this thread seemed excessive. Is there anything else that should be communicated to the user?

Also, `ScriptDocValues#getValue` should be left as is, right?

[2018-10-03 13:15] cdekker opened #34269 "Unbounded Sampler Aggregation will crash ES"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.4

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_131

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

When running a [Sampler Aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-sam

[2018-10-03 14:05] nik9000 commented on #22919
That depends on who you ask! Some of us aren't big fans of it to be honest. `ScriptDocValues` is a list and not treating it like one is kind of a problem. But one thing at a time.

I think it'd be good to say something about how `getValues` isn't needed and you should just leave it out but I don't really know how to say it properly. `getValues doesn't do anything` doesn't quite convey that you can

[2018-10-03 14:11] j-haj commented on #22919
Perfect - I can work with that and will have a PR out later this morning.

[2018-10-03 14:22] #32804 closed

[2018-10-03 14:58] droberts195 opened #34272 "[CI] :plugins:discovery-gce:qa:gce:integTestCluster#wait failing in 6.x"
On the 6.x branch the cluster started by the :plugins:discovery-gce:qa:gce:integTest task is failing to start up.

The error is:

[code]

Some failed builds are:

* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/117/console
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/118/console
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch

[2018-10-03 14:58] elasticmachine commented on #34272
Pinging @elastic/es-distributed

[2018-10-03 15:01] droberts195 commented on #34272
This test task is disabled in 6.x by 9055797088113393f8c9759fa5abb16ca88e768d

[2018-10-03 15:30] #34237 closed

[2018-10-03 15:36] vladimirdolzhenko commented on #34272
Gonna run CI for `fix/34272` before merging that to 6.x

[2018-10-03 15:40] tsullivan commented on #33876
I'll refer you to the KQL telemetry PR for this, which is doing something similar and has gone through a few rounds of feedback already: https://github.com/elastic/kibana/pull/23547

[2018-10-03 15:42] animageofmine commented on #30685
@astefan @javanna I am so sorry I didn't respond back to this (my bad). We don't have a clean solution unless we pull a reasonably large payload out of ES and compute ourselves, which is expensive. IMO, the best option is to consider implementing this in ES itself. Anything that you can do to help us would be really appreciated.

[2018-10-03 15:43] elasticmachine commented on #34269
Pinging @elastic/es-search-aggs

[2018-10-03 15:43] colings86 commented on #34269
@markharwood could you take a look at this one?

[2018-10-03 15:56] benhyland opened #34274 "Feature request: multiple simultaneous snapshots"
The docs (https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html) say
`Only one snapshot process can be executed in the cluster at any time`.

I would like to index multiple independent data streams onto a single cluster, and take snapshots of each index for backup.
I don't want to have the overhead of coordination between data sources to avoid simultaneous snapshot

[2018-10-03 16:17] davidkyle opened #34276 "[ML] Review Job messages"
Long running jobs audit a nightly message about deleting old model snapshots this can spam the messages. Is this level of detail worthy of a job message which are reserved for significant job events?

![model_snapshot_deleted](https://user-images.githubusercontent.com/2353640/46424059-00c3f500-c730-11e8-95e9-fcf011141e03.jpeg)

[2018-10-03 16:17] elasticmachine commented on #34276
Pinging @elastic/ml-core

[2018-10-03 16:31] colings86 opened #34277 "[ILM] `phase_time` should be set for the "new" phase"
Currently the "new" phase sets the `action_time` and the `step_time` in the index metadata but not the `phase_time`. We shoudl have it set the `phase_time` as well.

[2018-10-03 16:31] elasticmachine commented on #34277
Pinging @elastic/es-core-infra

[2018-10-03 18:31] #33175 closed

[2018-10-03 18:34] danielkasen commented on #32919
We have custom watches.

[2018-10-03 18:58] onehorsetown commented on #25860
For those of you from the future that ended up here like I did from Googling "failed to send join request to master", take a look at #21405.  If you were a dummy like me and cloned your VM or copied an existing elasticsearch installation from one machine to another, you will get this error and also the message `found existing node`.

Simply delete the `nodes` folder on the duplicated machine (e.g

[2018-10-03 19:04] javanna commented on #34244
@cezarykluczynski are you referring to some specific method? From your initial description of the issue I thought it was a general concern on all of the methods that are currently final.

We tend to look at this a bit differently as a team these days. But as I said, I marked this for discussion and we will take your concerns into account.

[2018-10-03 19:06] bmcconaghy commented on #34222
Seems to me like the default of coerce=true has the potential of hiding bugs in how people are mapping their fields (or how they are sending the data).   Seems like either the mapping or the data is wrong if a user is sending 10.0 as a value for a field intended to be a keyword.  Maybe I'm not thinking of some valid use case where someone would legitimately be doing this though.

[2018-10-03 19:16] cezarykluczynski commented on #34244
@javanna Not a specific method, I'm still talking general here.

I'd be happy to see what the discussion brings.

[2018-10-03 19:26] william8000 opened #34281 "elasticsearch 6.4.2-1 installations fails on Fedora 28 with "Exception in thread "main" java.lang.NoSuchMethodError: org.elasticsearch.cli.Command.<init>(Ljava/lang/String;)V""
**Describe the feature**: Install elasticsearch 6 on Fedora 28

I updated my laptop from Fedora 27 to 28. I had been using elasticsearch 5 on Fedora 27, but due to an elasticsearch packaging issue https://github.com/elastic/elasticsearch/issues/34087 the update could not install elasticsearch 5 on Fedora 28. I tried installing elasticsearch 6, and it failed with the log below.

[code]

I updated t

[2018-10-03 20:02] nik9000 opened #34282 "Phrase Suggester: Suggesting on very frequent words can cause request failures"
I have a stack trace that looks like:

[code]

I do not have and cannot get the index that causes this failure. But it looks to me like the failure is caused by this series of events:
1. `DirectCandidateGenerator#thresholdFrequency` spits out a frequency that is bigger than `Integer.MAX_VALUE`. This looks to be possible using the default configuration for common words like "the" when the corpus is

[2018-10-03 20:02] elasticmachine commented on #34282
Pinging @elastic/es-search-aggs

[2018-10-03 20:18] Trey314159 opened #34283 "Nori (Korean) analyzer tokenization issues"
It makes sense to me to report these all together, but I can split these into separate bugs if that's better.

**Elasticsearch version** (`curl -XGET 'localhost:9200'`):
[code]

**Plugins installed**: [analysis-icu, analysis-nori]

**JVM version** (`java -version`):
openjdk version "1.8.0_181"
OpenJDK Runtime Environment (build 1.8.0_181-8u181-b13-1~deb9u1-b13)
OpenJDK 64-Bit Server VM (build 25.1

[2018-10-03 20:52] lcawl commented on #34251
This was an intentional change in https://github.com/elastic/elasticsearch/pull/33588 related to https://github.com/elastic/docs/issues/382

[2018-10-03 21:14] lcawl commented on #34251
I've verified that there's a link to the breaking changes in the "important" section of each of the following upgrade pages:
https://www.elastic.co/guide/en/logstash/master/upgrading-logstash.html
https://www.elastic.co/guide/en/elasticsearch/reference/master/setup-upgrade.html
https://www.elastic.co/guide/en/kibana/master/upgrade.html

If you have suggestions for other places to link from, though

[2018-10-03 21:19] Trey314159 opened #34285 "CJK analyzer tokenization issues"
It makes sense to me to report these all together, but I can split these into separate bugs if that's better.

**Elasticsearch version** (`curl -XGET 'localhost:9200'`):
[code]

**Plugins installed**: [analysis-icu, analysis-nori]

**JVM version** (`java -version`):
openjdk version "1.8.0_181"
OpenJDK Runtime Environment (build 1.8.0_181-8u181-b13-1~deb9u1-b13)
OpenJDK 64-Bit Server VM (build 25.1

[2018-10-03 22:18] ehaubert commented on #29426
The problem is not limited to tokenization.  The problem occurs when there is any preceeding graph filter.  For example, if the synonyms have been broken into multiple files:
layer_1.txt:
dog => dog, canine

layer_2.txt:
dogfood, dog food

Then you will encounter the same error without the "lenient" option.   With lenient, the decompounding rule is not added, but ignored.  This example is a little

[2018-10-03 22:28] rjernst commented on #34281
Thanks very much for your interest in Elasticsearch.

This does not appear to be a bug. The reason I say this is because our build are green right now, so this failure is likely environmental. In particular, you likely have a mix of elasticsearch 5 and 6 jars, which could cause an error like this. We'd like to direct these kinds of things to the forums. If you can stop by there, we'd appreciate it

[2018-10-03 22:28] #34281 closed

[2018-10-03 23:24] gchaps opened #34287 "Docs: Add examples for clearing the cache"
This is a request for examples in the documentation.

The [Clear Cache doc ](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-clearcache.html) has this statement:

`All caches relating to a specific field(s) can also be cleared by specifying fields parameter with a comma delimited list of the relevant fields.`

Provide examples in addition to possible usages. Related bugs:

[2018-10-03 23:38] ppf2 commented on #34251
Thanks @lcawl .  While we are linking to breaking changes from https://www.elastic.co/guide/en/elasticsearch/reference/master/setup-upgrade.html and https://www.elastic.co/guide/en/elasticsearch/reference/master/release-highlights.html, as soon as the user starts clicking through the pages linked from these landing pages, they will no longer see the breaking changes link unless they go back to the

[2018-10-03 23:51] maciejmakowski commented on #25152
Could someone please provide an ETA for when this could be made available? The most optimistic one is fine.

We are about to start work on a service to connect to our elastic search cluster, and our live would be way easier if we had a Swagger definition from which we can automatically generate a retrofit client, instead of having to code things by hand.

[2018-10-04 01:03] #27650 closed

[2018-10-04 01:31] #33119 closed

[2018-10-04 03:16] #33656 closed

[2018-10-04 03:19] dnhatn commented on #33656
All subtasks have been integrated.

[2018-10-04 05:49] vladimirdolzhenko commented on #34272
fixed in 3d5a386 : https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/124/

[2018-10-04 05:49] #34272 closed

[2018-10-04 05:54] TomonoriSoejima opened #34289 "license expiration doc clarification"
According to https://www.elastic.co/guide/en/elastic-stack-overview/current/license-expiration.html#_security, it mentions below and it is not too clear what it means in 2nd point.
Can we word it better with more focus on security?

- Cluster  health, cluster stats and indices stats operations will be blocked
- All data operations (read and write) will continue to work

[2018-10-04 05:54] elasticmachine commented on #34289
Pinging @elastic/es-docs

[2018-10-04 06:32] jimczi commented on #34282
I think there is a discrepancy in our usage of the Lucene suggester. `DirectSpellChecker#suggestSimilar` uses the `docFreq` (which is an int) of the candidate to compare with the threshold computed by `DirectCandidateGenerator#thresholdFrequency`. However in Elasticsearch we compute the threshold from the `totalTermFreq` and not the `docFreq` so this explains why the value can be greater than `Int

[2018-10-04 07:43] tvernum commented on #30243
@bluikko Please ask questions like this on our [discussion forums](https://discuss.elastic.co/) instead. Elastic uses Github issues for tracking actual development tasks, not for handling user questions.

[2018-10-04 07:53] #32936 closed

[2018-10-04 08:05] albertzaharovits opened #34291 "Multi Index Expression resolution discrepancy with Security"
Some APIs that work with indices can specify a [Multi Index Expression](https://www.elastic.co/guide/en/elasticsearch/reference/current/multi-index.html) instead of a single concrete index/alias name.
The Security plugin, during the authorization process (before the processing of the request) will evaluate this expression. Moreover, if the authorization succeed, the Security plugin rewrites the ex

[2018-10-04 08:05] elasticmachine commented on #34291
Pinging @elastic/es-security

[2018-10-04 08:48] colings86 commented on #34222
This is one of the many cases where there is a balance between the getting started experience (being able to get data into Elasticsearch quickly without having to jump through many hoops) and production protection. In the past we have erred on the side of the getting started experience with this and thats why the default is `coerce-true` for numeric fields.

Noted that there is currently no `coerc

[2018-10-04 09:00] elasticmachine commented on #34287
Pinging @elastic/es-search-aggs

[2018-10-04 09:00] elasticmachine commented on #34285
Pinging @elastic/es-search-aggs

[2018-10-04 09:00] colings86 commented on #34285
@romseygeek Could you take a look at this one?

[2018-10-04 09:01] elasticmachine commented on #34283
Pinging @elastic/es-search-aggs

[2018-10-04 09:01] colings86 commented on #34283
@jimczi could you take a look at this one?

[2018-10-04 09:02] elasticmachine commented on #34274
Pinging @elastic/es-distributed

[2018-10-04 09:02] Mpdreamz opened #34292 "GET after DELETE Rollup Job results in a 200"
[code]

Then issue a DELETE:

[code]

Both of these operations return a 200:

[code]

If we do a GET after the delete

[code]

We get a 200 again:

[code]

Whereas if we try to DELETE this resource again we get a 404 as expected:

[code]

[2018-10-04 09:04] javanna commented on #34291
I agree @albertzaharovits , looks like a bug in the Elasticsearch indices resolution code, I guess introduced with the recent addition of aliases pattern exclusions. Great catch.

[2018-10-04 09:10] jimczi commented on #34283
Thanks @Trey314159 for the detailed report ! This is really appreciated.

That's the rule we follow for unknown words. Though we don't have a specific rule for combining diacritical marks, they are detected as `SYMBOL` because it's the default class for unknown characters. We could probably mark them as `ALPHA` in order to group them with latin characters but we also separate Cyrillic from latin c

[2018-10-04 09:34] jimczi commented on #34292
This is a duplicate of https://github.com/elastic/elasticsearch/issues/33919. Hence closing, thanks @Mpdreamz

[2018-10-04 09:34] #34292 closed

[2018-10-04 09:44] albertzaharovits commented on #34291
Thank you @javanna ! I will relabel.

[2018-10-04 09:45] elasticmachine commented on #34291
Pinging @elastic/es-core-infra

[2018-10-04 09:45] jimczi commented on #34255
Can you describe the feature with examples ? `CustomSuggester` refers to the ability to write a custom suggester where you can have all the logics you want. If you meant the `phrase` or `term` suggesters, there is already a way to filter suggestions:
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters-phrase.html#_basic_phrase_suggest_api_parameters
Check the `collate

[2018-10-04 10:26] colings86 opened #34294 "[ILM] Move to step API does not work if moving to a new phase"
The move to step API in ILM only works if the current and next step are in the same phase. This is because the API blindly move the index to the target step and does not do the extra steps like injecting the new phase definition if the phase is different.

[2018-10-04 10:45] colings86 opened #34297 "[ILM] Unexpected step exceptions frequently thrown when running a policy"
Steps to recreate:
[code]

Each created index seems to progress through its lifecycle but exceptions are printed to the logs similar to the following:
[code]

[2018-10-04 10:46] elasticmachine commented on #34297
Pinging @elastic/es-core-infra

[2018-10-04 11:16] romseygeek commented on #34285
Thanks for the very detailed issue @Trey314159.

It seems that all of these issues are solved by using some combination of the ICU normalizers and tokenizers.  `CJKAnalyzer` uses `StandardAnalyzer`, which does not deal at all well with mixed-character text, and does no character filtering beforehand.
* `A` and `B` are tokenized correctly with `icu_tokenizer`
* `C` and `D` are tokenized correctly w

[2018-10-04 11:30] romseygeek opened #34298 "Review TokenFilterFactory.getSynonymFilter() implementations"
#33702 introduced a new method on the `TokenFilterFactory` interface allowing filters to return specialized versions of themselves for synonym parsing.  Currently only the `multiplexer` implements this, to return the original token.  We should review all the filter factories shipped with elasticsearch to see if any others need changing.

[] AsciiFoldingFilter -> should return only the folded token

[2018-10-04 11:30] elasticmachine commented on #34298
Pinging @elastic/es-search-aggs

[2018-10-04 11:55] jimczi commented on #34285
`A` and `B` look like bugs to me. The `ICUTokenizer` and the `StandardTokenizer` are supposed to implement the same rules as specified in http://unicode.org/reports/tr29. However hangul characters are not recognized when by the `StandardTokenizer` when they are not separated by spaces. I consider this as bug because that's what this tokenizer is supposed to do, separate characters if they don't be

[2018-10-04 12:08] nik9000 commented on #34282
I think regardless of how we compute the threshold we should clamp it to Integer values so we don't trigger this.

[2018-10-04 12:28] colings86 opened #34302 "[ILM] set policy for index API does not work if index is on complete step for a phase"
Steps to reproduce:
1. Create two policies:
[code]
2. Create an index template and an index for the policies using `my_lifecycle3`:
[code]

3. Wait for the `test-000001` index to complete all actions in the warm phase
4. Try to move `test-000001` to use `my_lifecycle2`:
[code]
5. Observe error response:
[code]

Maybe we should go back to letting users set the `index.lifecycle.name` setting on the

[2018-10-04 12:28] elasticmachine commented on #34302
Pinging @elastic/es-core-infra

[2018-10-04 12:36] BobBlank12 commented on #31624
I believe you may also have to look for shards that are in the INIT state, not just the ABORTED state.  Please correct me if I am off on this.

[2018-10-04 12:54] najamansari opened #34303 "Version 6.4.2 does not start (java.lang.NoSuchFieldError: LOG_DEFAULT_LEVEL_SETTING)"
**Elasticsearch version**: 6.4.2

**Plugins installed**: None

**JVM version**: openjdk version "10.0.2" 2018-07-17

**OS version**: Fedora 28 (4.18.9-200.fc28.x86_64 #1 SMP Thu Sep 20 02:43:23 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux)

**Description of the problem including expected versus actual behavior**:
I upgraded from ElasticSearch version 6.2.0 to 6.4.2 using the RPM package. After the inst

[2018-10-04 12:57] cbismuth commented on #28309
@DaveCTurner I've added the unit test you suggested.
I had to slightly modify it by [reusing returned settings](https://github.com/cbismuth/elasticsearch/blob/71cfe1a874d550056d8b7facbc9b7acb04b92779/server/src/test/java/org/elasticsearch/cluster/routing/allocation/DiskThresholdSettingsTests.java#L217) from the `AbstractScopedSettings#applySettings` API. Otherwise we couldn't have kept track of up

[2018-10-04 13:11] colings86 commented on #34302
I opened https://github.com/elastic/elasticsearch/pull/34304 to remove the set policy API and from manual testing updating the policy by setting the `index.lifecycle.name` directly works well

[2018-10-04 13:57] pgomulka commented on #26026
@javanna indeed we could just add these to the bulk request, and then apply defaults when converting in RequestConverters, but it for missing index and type it would fail validation.

[2018-10-04 14:13] andyb-elastic commented on #26681
Here's some accuracy benchmarks that I've roughly digested by hand (well, with jq)

### Results

tl;dr it looks like the centroids method is most accurate. When using the default compression settings it's within 0.01 relative error in all benchmarking scenarios except for sparsely pareto-distributed data. And for that distribution, increasing compression (higher -> more accuracy, more resource usa

[2018-10-04 14:19] nik9000 commented on #34244
For what it is worth I've never liked mocking clients. I feel like lots of the time mocking client's turns tests into a big "mock dance" that doesn't really prove anything. I like wrapping clients in higher level abstractions and mocking those in some tests and having tests for those abstractions that run against the real service. I think that is the "right" way to write Java. But I also like vim

[2018-10-04 14:31] #34004 closed

[2018-10-04 14:39] danielmitterdorfer commented on #34227
This test tries to hit https://elastic.co/ and at the time the test ran there seemed to be an issue with the website as it returned HTTP 504 instead of 2xx. Therefore, closing as this was related to an external event.

[2018-10-04 14:39] #34227 closed

[2018-10-04 14:43] nik9000 commented on #34013
We believe this is caused because the tests clean out the security index after each test but don't wait for it to be recreated before the test. I've started working on cleaning up some of the other x-pack test cleanup code and eventually I'll get to security. And when I do, this issue is waiting for me.

[2018-10-04 14:56] danielmitterdorfer commented on #33867
We looked at this in the test triage meeting. From the failure output we can see that there are actually only five out of six nodes reporting that they have indexed data (e.g. here from the first assertion error):

[code]

So one possibility is that one of the nodes had a problem indexing data and for that we'd need to inspect cluster logs when the next failure occurs. Another observation is that

[2018-10-04 15:01] nik9000 commented on #33864
We believe this is caused because the tests clean out the security index after each test but don't wait for it to be recreated before the test. I've started working on cleaning up some of the other x-pack test cleanup code and eventually I'll get to security. And when I do, this issue is waiting for me.

[2018-10-04 15:02] danleerunk opened #34307 "Upgrade from 6.2.4 to 6.4.2 - unable to use elasticsearch-plugin command to remove x-pack plugin after upgrade"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.4 upgrading to 6.4.2

**Plugins installed**: [xpack]

**JVM version** (`java -version`): openjdk version "1.8.0_171"

**OS version** (`uname -a` if on a Unix-like system): CentOS 3.10.0-693.11.6.el7.x86_64

**Description of the problem including expected versus actual behavior**:
When upgrading from versions of Elasticsearch prior to 6

[2018-10-04 15:09] colings86 opened #34308 "Read only index templates silently ignore updates"
This was first raised by @bmcconaghy.

**Steps to reproduce:**
1. try to modify a read nly index template such as the `logstash-index-template`:
[code]
2. Observe that the response is `acknowledged: true`
3. Get the same template:
[code]
4. Observe that the template has not changed in the above request
5. Try to delete the template:
[code]
6. Observe that the response is `acknowledged: true`
7. Tr

[2018-10-04 15:09] elasticmachine commented on #34308
Pinging @elastic/es-core-infra

[2018-10-04 15:11] ywelsch commented on #31624
In the situation outlined by @TimHeckel here, he had already issued a delete snapshot command. This moves the entries from INIT to the ABORTED state (but let's the delete snapshot request hang until the abort is fully completed and confirmed by the nodes). So a prerequisite to the above procedure is to first issue a delete snapshot command.

[2018-10-04 15:13] hub-cap commented on #30101
and another today

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/127/consoleText

[code]

also not repro'ing locally

[2018-10-04 15:20] dakrone opened #34309 "Add dpkg lock file debugging to packaging tests"
We have a failure (#33762) where dpkg is unable to run because it appears to already be running (the db is locked).

It would be good if we could add debugging to our packaging tests that checked for the existence of `/var/lib/dpkg/lock`, and if so, ran an `lsof` on it so we can see the details of the process running dpkg.

An alternative would be rote deletion of the file, but it would be good to

[2018-10-04 15:20] elasticmachine commented on #34309
Pinging @elastic/es-core-infra

[2018-10-04 15:26] colings86 opened #34310 "[ILM] Remove the "Remove Policy API" in favour of a settings listener"
It may be worth removing the "remove policy API following https://github.com/elastic/elasticsearch/pull/34304 and instead registering a Settings listener on the `index.lifecycle.name` setting which will remove the relevant index metadata  from the index when the setting is set to `null`

[2018-10-04 15:29] danielmitterdorfer commented on #33753
Looking at the failure output in the original comment, we see that on one node (node id `-34h6dtFQ2SsSYIJ_n0LKw`), Watcher is in the state `starting` and then moves to `started` over time. So maybe the problem is that before we attempt to stop Watcher in:

https://github.com/elastic/elasticsearch/blob/230cd10772f6fec217a6e9ae95ea6a76b2edd75b/x-pack/qa/rolling-upgrade/src/test/java/org/elasticsearc

[2018-10-04 15:44] colings86 commented on #26681
I'm happy to go with the centroids method given the above results. @polyfractal do you agree?

[2018-10-04 16:17] simplyviks opened #34311 "ES getting OOM and crashing every hour"
Linux host-70-1-1-48 4.4.0-47-generic #68-Ubuntu SMP Wed Oct 26 19:39:52 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
ro
=============================================================
http://10.131.69.72:9200/_nodes/settings

{"_nodes":{"total":1,"successful":1,"failed":0},"cluster_name":"elasticsearch-default","nodes":{"PK847kdjSjC2uXGJ0FdFAQ":{"name":"es_node","transport_address":"172.17.0.2:9300","ho

[2018-10-04 17:16] william8000 commented on #34281
Thanks for suggesting a mix of versions. I removed elasticsearch 6 with dnf, and then I ran `find / -name '*elasticsearch*'`, and I still had elasticsearch 5 files in `/usr/share/elasticsearch`. I removed that directory and re-installed elasticsearch 6, and it is working now! I just need to update my application for the api changes.

[2018-10-04 19:50] Trey314159 commented on #34285
Thanks for the feedback. I agree that `C` and `D` can be fixed with other tokenizers and additional filters, but I wonder how many people even know how to "unpack"/rebuild a tokenizer (it's in the docs, but you gotta know to look for it). The invisible characters are the worst, because you don't even know you have them in your document or your query if you cut-n-paste it from somewhere else.

Not

[2018-10-04 20:39] Trey314159 commented on #34283
For use on Wikipedia, I usually set up filters to remove most combining diacritics and to normalizer characters with diacritics that are not in the alphabet of the language of the wiki. (Swedish really does need å, ä, and ö, but doesn't really need ß and ł.)

For a Korean analyzer, normalizing diacritics for non-Korean text sounds good to me.

Depends on your definition of common. There are intent

[2018-10-04 22:15] elasticmachine commented on #34307
Pinging @elastic/es-core-infra

[2018-10-04 22:16] jasontedor commented on #34307
This is a result of the fact that we structured the `x-pack` plugin in a certain way (as a meta-plugin) in 6.2.0 and with the migration of X-Pack to the default distribution in 6.3.0, we took advantage of the opportunity to simplify the code base by removing the notion of meta-plugins in 6.4.0. This means that the plugin tool does not understand how to read a meta-plugin packaged for 6.2.0, an ove

[2018-10-04 22:17] jasontedor commented on #34307
@nik9000 Would you address this as a documentation issue, adding this as a known issue to the 6.4.x breaking changes and release notes?

[2018-10-04 22:27] jasontedor commented on #34303
I am sorry that you're having trouble with this.

The field that is referenced here *definitely* exists in 6.4.2: https://github.com/elastic/elasticsearch/blob/04711c21227efda954d15c23857ad04b9f669076/server/src/main/java/org/elasticsearch/common/logging/Loggers.java#L50-L51

I think that something is wrong with your installation. I think this because I have no issues starting Elasticsearch 6.4.2

[2018-10-04 22:27] #34303 closed

[2018-10-04 22:33] jasontedor commented on #34311
Thanks very much for your interest in Elasticsearch and I am sorry that you're having trouble here, I can imagine it's frustrating to watch your nodes crash every hour.

There is not enough information here to debug the problem. Sometimes these issues are due to bugs on our side (e.g., memory leaks) and sometimes they are due to pushing your cluster beyond its capacity. We want to help you, but wi

[2018-10-04 22:33] #34311 closed

[2018-10-04 22:34] jasontedor commented on #34289
Would you take this to the elastic/stack-docs repository please, that is where these docs are maintained.

[2018-10-04 22:34] #34289 closed

[2018-10-04 23:41] #32836 closed

[2018-10-04 23:57] SmithMatthew commented on #22573
I'll pick up this issue if it's still available. Thanks!

[2018-10-05 02:10] #33292 closed

[2018-10-05 03:19] hub-cap commented on #33857
saw again in 5.6 via https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-windows-compatibility/41/consoleText

[2018-10-05 04:57] albertzaharovits commented on #33805
@costin I think I finally have a solid grasp of the issue.
First there is no security vulnerability. Under all circumstances wildcards are expanded by the security plugin in the limited visibility scope of the user. I was originally fooled by explicitly requested aliases (non wildcards) that were out of the user's visibility, but those requests are truthfully denied later in the process.

I have i

[2018-10-05 06:08] najamansari commented on #34303
Hi Jason,

Thanks for taking a look, I'll open up a thread on the forum.

[2018-10-05 06:15] najamansari commented on #34303
Hi Jason,

Thanks for taking a look, I'll open up a thread on the forum.

[2018-10-05 08:12] gugumonster opened #34320 "Unexpected ResponseException ("document_already_exists_exception")"
**Elasticsearch version**: 2.0.1

{
  "version" : {
    "number" : "2.0.1",
    "build_hash" : "1ebe2f1ab149d45b08d5336b12eb14eb8a3814af",
    "build_timestamp" : "2015-11-18T17:42:23Z",
    "build_snapshot" : false,
    "lucene_version" : "5.2.1"
  },
  "tagline" : "You Know, for Search"
}

**JVM version**: Java 8 update 162 (8.0.1620.12)

**OS version**: Windows Server 2012 R2 Standard

**Descri

[2018-10-05 08:14] romseygeek commented on #34298
Having thought about this some more, I think we should also ignore the ngram and shingle filters here, as synonyms generally are applied to whole tokens.  Similarly, Synonym and SynonymGraph should also be ignored, because applying synonyms to a synonym file will make the end result very difficult to reason about.

I can see arguments both ways for WordDelimiterFilter and CompoundWordTokenFilterBa

[2018-10-05 09:10] albertzaharovits opened #34321 "Investigate `immediateFlush` performance impact for the audit log"
This was suggested by @bizybot  here https://github.com/elastic/elasticsearch/pull/33894/files#r220517146 .

As long as we're not using async appenders, and currently we do not, we can enable
the log4j appender property named `immediateFlush` . This makes sure every log event
is written before the `log()` call returns. This increases the reliability of the audit log,
an important property, but it'

[2018-10-05 09:31] vladimirdolzhenko opened #34322 "[CI] RemoveCorruptedShardDataCommandTests testCorruptedIndex fails"
logs: https://www.google.com/url?q=https%3A%2F%2Felasticsearch-ci.elastic.co%2Fjob%2Felastic%2Belasticsearch%2B6.x%2Bmultijob-unix-compatibility%2Fos%3Damazon%2F42%2Fconsole&sa=D&sntz=1&usg=AFQjCNFFG4hg9naqoVYMqXTq8OD-lszrlw

It is reproducible with:
[code]

The reason:
corrupting segments file, when Lucene reads it, it throws generic IOException at https://github.com/apache/lucene-solr/blob/1d85c

[2018-10-05 09:31] elasticmachine commented on #34322
Pinging @elastic/es-distributed

[2018-10-05 09:36] danielmitterdorfer commented on #34321
In general it can, as it is just a load generator. But I guess evaluating this might get tricky because you need to benchmark a scenario which produces enough audit log entries (or even better: a varying degree of audit log entries across different scenario so you can better estimate the overhead). I think it would make sense to benchmark on one platform first and then expand as needed.

[2018-10-05 10:03] #33592 closed

[2018-10-05 10:40] elasticmachine commented on #34320
Pinging @elastic/es-distributed

[2018-10-05 12:10] danielmitterdorfer opened #34330 "Should we use the unpooled allocator in the transport client?"
The default (Netty) allocator for Elasticsearch is pooled (since https://github.com/elastic/elasticsearch/pull/30684 only if the heap size is > 1GB). This makes sense on the server but the transport client also uses the pooled (Netty) allocator. Contrary to the server it could make sense to switch the client to the unpooled allocator (trading memory footprint for more frequent GCs). To make this d

[2018-10-05 12:10] elasticmachine commented on #34330
Pinging @elastic/es-core-infra

[2018-10-05 13:30] TimHeckel commented on #31624
@ywelsch  - thank you so much for your help. I did attempt the second scenario, where I shut down the `ABORTED` nodes and wait for the snapshot entries to turn into `FAILED` -- unfortunately my first attempt caused the cluster to report:

[code]

[2018-10-05 13:39] #33750 closed

[2018-10-05 14:37] jimczi commented on #34232
Thanks, your help is welcome !  I agree that we could add a small note regarding how we handle the provided sort values in `search_after`. Would you like to contribute with improving the documentation ?

[2018-10-05 14:53] original-brownbear opened #34332 "[CI] 2 failures in SamlAuthenticationIT"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos/42/console
[code]

[2018-10-05 14:53] elasticmachine commented on #34332
Pinging @elastic/es-security

[2018-10-05 14:55] patrykk21 commented on #34232
I think the most fitting place for such information would be [this doc page](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-search-after.html). Do you think it would be possible?

However, if we are talking about this repo I'll create a PR in the next couple of days if I find a fitting place.

Thank you

[2018-10-05 14:55] original-brownbear commented on #33857
`master` still failing similarly:

[code]

[code]

[2018-10-05 15:00] original-brownbear commented on #32773
Another one:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+bwc-tests/61/console

[code]

[2018-10-05 15:01] original-brownbear commented on #33762
Another one:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/63/console

[code]

[2018-10-05 15:19] jkakavas commented on #34332
Errors are
[code]

There are some warnings right above that
[code]

[2018-10-05 15:39] jordansissel opened #34333 "log4j2 JsonLayout not loading"
I was helping a user out with some Elasticsearch log processing, and I recalled that Logstash offers JsonLayout for its logs, and until #8786 is resolved, I was hoping to offer a workaround.

When attempting to use this in Elasticsearch, it crashes on startup with an exception. I searched existing issues which seem to point to a necessary security policy, but my error isn't identical and even with

[2018-10-05 17:50] jimczi commented on #34232
Yes that's possible, the doc page is in this repo, you can find it [here](https://github.com/elastic/elasticsearch/blob/master/docs/reference/search/request/search-after.asciidoc) and create a PR to modify it.

[2018-10-05 18:12] jimczi commented on #34285
I opened https://issues.apache.org/jira/browse/LUCENE-8526 for the `StandardTokenizer` issue.

[2018-10-05 19:13] original-brownbear opened #34337 "[CI] Failure in DateFormattersTests testEqualsAndHashcode"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/123/console

Reproduces for me locally too with:

[code]

Failure:

[code]

[2018-10-05 19:13] elasticmachine commented on #34337
Pinging @elastic/es-core-infra

[2018-10-05 21:36] josephwolnskipn commented on #10163
Was this ever re-addressed?  My use case involves complex boolean queries that, if expanded into all individual queries, would increase the number of percolator queries very dramatically, exponentially actually.  It would vastly complicate things in my app to do that. Whereas if elasticsearch could just tell me which parts of the query it matched on, like it does with named queries, that informati

[2018-10-06 05:56] rajeshggwp commented on #32949
Is anyone still working on this? If not can I pick this?

[2018-10-06 11:35] madminions commented on #32870
ES v - 6.4.1
If you do like this, no error is thrown
POST /_xpack/sql?format=txt
{
    "query": "SELECT name,count from (SELECT geoip.city_name AS name, COUNT(geoip.city_name) AS count FROM \"cyclops-sessions\" GROUP BY geoip.city_name) ORDER BY count DESC"
}

But still it doesn't return the query sorted in DESC order.
Any workaround for this query ?

If possible i would like to work on this new f

[2018-10-06 15:00] benwtrent commented on #34119
Code fix has been merged and back ported. Should be available in 6.4.3

[2018-10-06 16:37] nik9000 opened #34341 "Discuss: Use Java 8 for reindex-from-old tests"
Right now we use Java 7 to run the "old" versions of Elasticsearch to test reindex-from-remote from old versions of Elasticsearch. Java 7 is getting harder and harder to install though. I think we could get away with using Java 8 to run these versions of Elasticsearch. We actually supported Java 8 on ES 1 and ES 2. We didn't on ES 0.90 and we're testing against that too. I expect we could get away

[2018-10-06 16:37] elasticmachine commented on #34341
Pinging @elastic/es-distributed

[2018-10-06 16:57] nik9000 commented on #33764
I think we should be fairly relentless about storing the task result, yes. This is more fuel for the "don't stick task results into an index" argument.

If we didn't accidentally throw the task result away you'd get something like that. It'd be a failure recorded with the reason set to "rejected" or something along those lines and it'd be up to you to figure out how to handle it. How you handle it

[2018-10-06 18:07] brandonmichaelhunter commented on #34122
Hey team,
Thank you for your response. This issue has been resolved on my end. It appears to be a syntax error on my end.

[2018-10-06 18:17] DaveCTurner commented on #34122
Hi @brandonmichaelhunter, glad to hear you've solved your problem! However a null pointer exception is not something that should happen, even with a syntax error. It'd be great to see a stack trace so we can at least fail more gracefully in this situation.

[2018-10-06 18:46] TimHeckel commented on #31624
@ywelsch  - just to close this, the FULL restart of the cluster, worked. Thanks again.

[2018-10-06 18:46] #31624 closed

[2018-10-07 09:48] abridgett opened #34343 "wait_for_completion with s3 plugin no longer waits (6.4)"
ES: 6.4.2
plugins: repository-s3

After upgrading from 5.4.2 to 6.4.2, our backup script started to fail.

Firstly curl reports an empty reply from the server, secondly, wait_for_completion seems to be ignored I suspect these two are related.   Checking the status of the backup shows "STARTED" as the current status which isn't listed in  https://www.elastic.co/guide/en/elasticsearch/reference/curr

[2018-10-07 20:15] coreation commented on #18064
Thanks a million!

[2018-10-08 07:00] elasticmachine commented on #34343
Pinging @elastic/es-distributed

[2018-10-08 08:10] drorrusso opened #34348 "sh"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre