[2016-01-29 14:15] clintongormley commented on #14117
@jasontedor @nickminutello anything more on this bug?  Haven't heard reports of this elsewhere, and 2.0 doesn't use java serialization, so I'm tempted to close this?

[2016-01-29 14:15] clintongormley commented on #14157
no more feedback. closing

[2016-01-29 14:15] #14157 closed

[2016-01-29 14:19] #16299 closed

[2016-01-29 14:22] clintongormley commented on #12945
See #16310

[2016-01-29 15:18] vionemc commented on #13592
Doesn't work on ElasticSearch 2.x

[2016-01-29 15:30] rmuir commented on #13592
has not been released.

[2016-01-29 15:33] vionemc commented on #13592
Ahh, so that's why. Thanks! Really looking forward to it.

[2016-01-29 16:07] abeyad opened #16318 "QueryProfilerIT.testNoProfile failure"
Failed once:
http://build-us-00.elastic.co/job/es_core_master_strong/6362/testReport/junit/org.elasticsearch.search.profile/QueryProfilerIT/testNoProfile/
http://build-us-00.elastic.co/job/es_core_master_strong/6362/testReport/junit/org.elasticsearch.search.profile/QueryProfilerIT/testNoProfile/

I was unable to reproduce it with:
[code]

Error message:
[code]

[2016-01-29 17:01] rmuir commented on #16310
+1

[2016-01-29 18:34] clintongormley commented on #14185
No more feedback. Closing

[2016-01-29 18:34] #14185 closed

[2016-01-29 18:36] clintongormley commented on #14191
@javanna / @colings86 has this been done yet?

[2016-01-29 18:39] colings86 commented on #14191
Not yet no. There are still some small changes being made to the search request so I was waiting for it to settle more.

[2016-01-29 18:43] clintongormley commented on #14223
Min should match hasn't been documented in the terms query since 2.0.  Let's deprecate it now and remove it in 3.0

[2016-01-29 18:56] clintongormley commented on #14230
Old test result. Closing

[2016-01-29 18:56] #14230 closed

[2016-01-29 18:57] clintongormley commented on #14231
This appears to be passing now

[2016-01-29 18:57] #14231 closed

[2016-01-29 18:59] clintongormley commented on #14233
This appears to be passing now

[2016-01-29 18:59] #14233 closed

[2016-01-29 19:02] clintongormley commented on #14236
Really there is nothing to do here - a field with a null value won't create a field, and so can't be rejected. Going to close this

[2016-01-29 19:02] #14236 closed

[2016-01-29 19:03] clintongormley commented on #14246
Nothing further. Closing

[2016-01-29 19:03] #14246 closed

[2016-01-29 19:11] clintongormley commented on #14271
Nothing further. Closing

[2016-01-29 19:11] #14271 closed

[2016-01-29 20:01] clintongormley commented on #14300
With the changes of boost -> boost query and the switch in Lucene 6 to BM25, which doesn't use query norm, would it be possible to cache this query in those circumstances?

[2016-01-29 20:17] clintongormley commented on #14325
Once users are in native script territory, it's pretty much up to them what they do.  I don't think we can provide any limits here.  Closing

[2016-01-29 20:17] #14325 closed

[2016-01-29 20:18] clintongormley commented on #14328
Fixed in Lucene 5.4

[2016-01-29 20:18] #14328 closed

[2016-01-29 20:20] clintongormley commented on #14337
Hi @briner

Did you manage to resolve this issue?  One thing that is curious is that you failed to obtain a lock on `/srv/elasticsearch/lunielkes/nodes/49` which implies that you were running 50 nodes on this box?

[2016-01-29 20:21] clintongormley commented on #14338
No further feedback. Closing

[2016-01-29 20:21] #14338 closed

[2016-01-29 20:22] clintongormley commented on #14357
2.1.0 has been released. Closing

[2016-01-29 20:22] #14357 closed

[2016-01-29 20:24] ppf2 commented on #14325
Ok sounds good, thanks for the tip on BigArrays btw @dakrone !

[2016-01-29 20:24] clintongormley commented on #14397
No further comments. Closing

[2016-01-29 20:24] #14397 closed

[2016-01-29 20:35] clintongormley commented on #14446
This should be on the shield repo

[2016-01-29 20:35] #14446 closed

[2016-01-29 21:12] ppf2 opened #16321 "Prevent index closing while snapshot is restoring the indices"
On 1.7.1.  This may be related to https://github.com/elastic/elasticsearch/issues/15432 , but it is unclear in #15432 what the cause was.   So I am filing a separate ticket on this.

In short, it looks like when snapshot restore is running, if the indices are closed while it is operating on a shard, it will leave the snapshot restore request in a STARTED state.

[code]

And shards that are in INIT

[2016-01-29 21:44] #16010 closed

[2016-01-29 22:57] ksou1 commented on #14149
Hi @davidvgalbraith. I'm experiencing the same issue as we speak. Have a 3 node cluster (1 dedicated master, 2 master/data nodes, set for a primary and 1 replica shard). Set "cluster.routing.allocation.enable" to "none", restarted my nodes (dedicated master 1st). All 3 nodes joined cluster properly (status yellow), so I set "cluster.routing.allocation.enable" to "all".  However, I'm sitting here 1

[2016-01-30 07:40] nishasingla1224 commented on #14486
Hi
I want to group the computed data using pipeline aggregations.Would be great to have a support of this feature.

[2016-01-30 10:49] michel-kraemer commented on #16098
I bumped into this too. Is there a workaround that I can apply until this issue has been solved?

[2016-01-30 14:11] awais545 opened #16327 "Elasticsearch not search on not_analysed indexes"
I am unable to figure out why elasticsearch not searching with `not_analysed` indexes. I have following settings in my model,

[code]

And my mapping at elasticsearch is right, as below.

[code]

Following are the documents that have been indexed and should match
[code]

But issue is when I make search on not analyzed fields (name and email, as I wanted them to be not analyzed) it never found any

[2016-01-30 15:36] gm06041 opened #16328 "which operation has more priority in query_string? AND or OR"
i tested query_stirng like script below attached.(test ES version: 1.7.2)
but, i don't know why this result happened.

(1) age:13 OR type:1 AND age:35 OR type:1       <strong>result=>  {"name":"Paul", "age":35, "type":1} </strong>
(2) ((age:13 OR type:1) AND age:35) OR type:1   <strong>result=>  {"name":"Paul", "age":35, "type":1},{"name":"Paul", "age":13, "type":1}</strong>
(3) age:13 OR (type:1

[2016-01-30 16:18] #14117 closed

[2016-01-30 17:14] #14429 closed

[2016-01-30 17:14] #15903 closed

[2016-01-30 23:32] nicktgr15 commented on #4847
+1

[2016-01-31 09:25] arman1371 opened #16331 "when set "index.max_result_window" to Long.MAX_VALUE get error "Failed to parse int setting""
When set `index.max_result_window` to `Long.MAX_VALUE` there is no problem.
index settings:
[code]

but when i want to search in that index i get this error
[code]

If user can't set this value to `Long.MAX_VALUE`, don't set the value.

[2016-01-31 11:59] nik9000 commented on #16331
Sorry about that! This is already fixed in master as part of the great setting rewrite (allows resetting settings to default, listing them along with their default, atomically applying changes, etc). Keep the value under Integer.MAX_VALUE and you should be fine.

[2016-01-31 11:59] #16331 closed

[2016-01-31 16:19] jasontedor commented on #16328
A [query string query](https://www.elastic.co/guide/en/elasticsearch/reference/2.2/query-dsl-query-string-query.html#query-string-syntax) is effectively a wrapper to classic [Lucene query parser syntax](http://lucene.apache.org/core/5_4_1/queryparser/org/apache/lucene/queryparser/classic/package-summary.html#package_description). There are some [notoriously tricky](https://www.elastic.co/guide/en/

[2016-01-31 16:19] #16328 closed

[2016-01-31 19:10] bleskes commented on #16318
I looked at this and the failure is caused by two nodes taking ~40s to process mapping updates from the master. They do not hang but rather just take to long to complete. The only thing that sticks out is that the cluster state update contains mapping for two types at once. I tried to simulated this using a count down latch in the MetaDataMappingService, causing batching of types but to no avail,

[2016-01-31 20:05] polyfractal commented on #8110
@nishasingla1224 The "bucket reducer" functionality was added to Elasticsearch 2.0 under the name "Pipeline Aggregations".  You can read the docs here: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-pipeline.html

You will need to upgrade to 2.0+ to use them, however.

[2016-01-31 20:26] bleskes commented on #14149
@ksou1 which ES version are you using?  Also, I'm a bit confused the "CLUSTER RECOVERED" output of reroute. Can you gist the exact output?

[2016-01-31 20:28] bleskes commented on #14149
scratch the last comment about `Cluster recovered`, re reading the ticket I get what you refer to (the unassigned_info part). Based on your ES version we'll see how to proceed.

[2016-02-01 03:42] justinmpier commented on #8486
+1

[2016-02-01 04:13] nknize commented on #13351
This will likely follow the Lucene 5.5 release which includes the API and performance improvements needed to make this perform at scale.

[2016-02-01 06:59] yfujita commented on #16252
@jasontedor Thank you for reply.

I already discarded the Cluster. So, I set up same settings cluster and tried to reproduce to make script. But It could not reproduce.

This issue always reproduced when this issue occured. There may be another triggers for this issue.

Before this issue occured, I had repeated Rolling Restart while updating docs by bulk api continuously. At that time, I got anoth

[2016-02-01 07:05] rfyiamcool opened #16337 "Elasticsearch tribe node'ip address is public ip or private?"
Elasticsearch tribe node'ip address is public ip or private?

Thasnks U ...

[2016-02-01 07:12] dadoonet commented on #16337
Please ask questions on discuss.elastic.co. We'll help you better there.

[2016-02-01 07:12] #16337 closed

[2016-02-01 07:51] edudar opened #16338 "FieldValueFactorFunction should use 'missing' when field does't exist in mapping"
It's common case for continuous deployment to change elasticsearch's client and index independently. This leads to the case when `fieldValueFactorFunction` is added to the client but index is not rebuilt yet. I use `missing` property. Unfortunately [FieldValueFactorFunctionParser](https://github.com/elastic/elasticsearch/blob/528f6481eaadd2a0585dc6731a94d7a024b8ce29/src/main/java/org/elasticsearch

[2016-02-01 08:31] Lin-Brian commented on #16083
Hi  @jpountz   ,
After I used CheckIndex
WARNING: 4 broken segments (containing 16202693 documents) detected
WARNING: would write new segments file, and 16202693 documents would be lost, if -fix were specified
And -fix it
But my index status is also Unassigned , cant use cluster.reroute API
`nested: ElasticsearchIllegalArgumentException[[allocate] trying to allocate a primary shard [logstash-2015.

[2016-02-01 08:39] #14290 closed

[2016-02-01 08:39] #16094 closed

[2016-02-01 09:17] #13685 closed

[2016-02-01 10:07] jrots commented on #15994
Hi guys,
sorry for the late reply.I retried the post_filter and filter on date ranges and it indeed have the same results.. (both quite slow to be honest). Must've been the indexing I was doing at that time that caused the fluctuation in search response times.

I think if you have a lot of documents and are doing a wide numeric range there can be a big slowdown. .

I fixed my problem by rewriting

[2016-02-01 10:16] danielmitterdorfer opened #16339 "GroovyScriptIT fails with SIGSEGV"
We've encountered a segment violation in [build 663 for ES 2.0](http://build-us-00.elastic.co/job/elasticsearch-20-medium/663) in `GroovyScriptIT`:

[code]
- JDK: 8.0_60-b27 (build 1.8.0_60-b27)
- OS: Ubuntu 12.04.3 LTS (Kernel 3.2.0-52)
- VM Args: -Xmx512m -Xms512m -XX:MaxDirectMemorySize=512m -Des.logger.prefix= -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/usr/local/jenkins/workspace/elasti

[2016-02-01 12:43] brackxm opened #16343 "https://maven.elasticsearch.org certficate expired"
The certificate from https://maven.elasticsearch.org/releases is expired.

[2016-02-01 13:00] danielmitterdorfer commented on #16343
Thanks for reporting the certificate expiry. Where working on it.

[2016-02-01 13:00] bleskes commented on #9794
Thanks for clarifying @polgl . I think I understand where things go wrong. The NodeSampler is mainly in charge of maintaining a connection to the specified nodes (by sending a liveness command) and validating that the nodes on the other side indeed belong to the same cluster. It isn't responsible for maintaining the nodes that the client is currently connected to and cancelling in flight request.

[2016-02-01 13:21] abulhol commented on #11118
+1

[2016-02-01 13:28] abulhol commented on #13064
+1
I am wondering why the reference includes this paragraph:
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-inner-hits.html#hierarchical-nested-inner-hits
which seems exactly the part that is not working

[2016-02-01 13:43] danielmitterdorfer commented on #16327
Hi @awais545,

please note that we have a separate [discussion forum](http://discuss.elastic.co/) for such questions.

To your example: I get search results when I do this (tested with latest ES 2.x development version):

1. Create an index:
[code]

Add some data (note that you have added a user named "tigher" and I have corrected it to "tiger" which matches also your search query):

[code]

Searc

[2016-02-01 13:43] #16327 closed

[2016-02-01 14:06] ksou1 commented on #14149
Hi @bleskes . ES version is 1.7.2. Replicated shards finally started to allocate about 8 hours after the cluster restart. I have an index deletion script that runs at 1am every morn (to delete indexes 31 days old) and it prints a view of all indexes after the deletions. I noticed in the output that only 7 of the 218 indexes had gone to "green" status even at that point. The rest were in "yellow" s

[2016-02-01 14:08] nik9000 opened #16344 "Tasks's should grow an XContent-able status"

[2016-02-01 14:10] nik9000 commented on #16344
On second thought, no. Tasks descriptions should stay method references because they call toString that are only needed if the task's status is fetched which is rare.

[2016-02-01 14:25] imotov commented on #12434
I agree it looks like we have two essentially different settings (blob-level max retry count and client level max retry count) and we use the same that same repository setting to control both. I think should at least add an ability to specify them separately.

[2016-02-01 15:27] #16310 closed

[2016-02-01 15:42] mikemccand commented on #16026
Actually there's some interesting history here ... which I dug up while working on heroic exception handling in the translog (#16117).

Lucene's `IOUtils` APIs used to take a prior `IOException`, and use `addSuppressed` on that if any new exceptions occurred.

But this API was dangerous.  See https://issues.apache.org/jira/browse/LUCENE-5654 for the full story, but the summary is that Lucene had c

[2016-02-01 16:29] drallax commented on #13684
after reading the search_after docs, i am not sure how it would help retrieving documents
starting from the n'th hit, without first consuming the n previous unwanted documents,
which would be slow?

(i am probably missing something here, but i wonder what search_after is actually
useful for since ES already has a range query that can be used to search after some term?)

[2016-02-01 17:09] mkobrosli commented on #14113
I feel like this is too much of an opinionated choice for a system to enforce.  Why force something on people if people can get top speed and scalability that matches their needs, indexing strategy and field design.  It just seems like a strange choice to make.  doc values serve a purpose clearly, but not for everything.  There are iops considerations that come into play in quota enforced environm

[2016-02-01 17:13] nik9000 opened #16347 "Clarify ToXContent contract"
ElasticsearchException implements ToXContent but it doens't look like it works with XContentBuilder#writeValue because ElasticsearchException doesn't output its start and end object markers. Is this a bug? If so we should probably fix it and add more comments around toXContent's contract and probably make some simple way to test that implementers comply with the contract.

[2016-02-01 17:14] jasontedor commented on #16252
Okay, this duplicates #14671 for which work is in progress.

[2016-02-01 17:20] AColmant opened #16348 "Dynamic mapping does not work with more than one type"
Hello guys,

This config worked in ES v1.7.2 but since i tried to use the configuration in ES v2.1 I have a error... So :

I use this mapping :
[code]

And after a first type insert, I get the expected result. But if I try to insert a second or third type like :
[code]

Result return is :
[code]

If I try to insert it on the first type, this is working... Perhaps bug, or just my mistake but i do n

[2016-02-01 17:23] jimferenczi commented on #13684
starting from the n'th hit, without first consuming the n previous unwanted documents,
which would be slow?

Unfortunately there is no magic and retrieving documents starting from the n'th hit is heavy in terms of memory and the scroll API is not designed for that (it is designed to scroll a query from the start efficiently). So what @clintongormley is saying is that you could:

- do an initial re

[2016-02-01 17:27] McStork commented on #6704
This feature seems pretty cool. If it was implemented outside of the pipeline feature, it would be perform faster though, right?

[2016-02-01 17:50] dakrone commented on #16011
@danielmitterdorfer

This is exactly what the circuit breaker is for, you can easily define a new
breaker (and breaker type) in `HierarchyCircuitBreakerService` to do just that.
I would recommend this heartily :) (and I'm happy to help)

To me, this doesn't sound like a good fit for the circuit breaker (since it is
designed to be per-node, not per-request). Instead, this sounds like a better
fit f

[2016-02-01 18:05] jasontedor commented on #16252
The procedure you describe is very similar to the procedure that we use to reproduce #14671, but with a different outcome. However, I have tried *many* times to get the reproduction for #14671 to reproduce your issue but it does not reproduce. If you're able to produce a script that reliably reproduces the issue, please let us know.

[2016-02-01 18:05] #16252 closed

[2016-02-01 18:13] #16202 closed

[2016-02-01 18:17] mrsolo commented on #16343
Fixed

<img width="1419" alt="art cert" src="https://cloud.githubusercontent.com/assets/96771/12726528/f0e76d38-c8cc-11e5-823b-9b0a341eb0e9.png">

[2016-02-01 18:17] #16343 closed

[2016-02-01 20:00] jjhahnjj commented on #8486
+1

[2016-02-01 20:08] s1monw commented on #16115
@mikemccand is this still relevant?

[2016-02-01 20:19] sandesh2014 opened #16350 "mapper is used by multiple types"
Have Upgraded ES From 1.7 to ES 2.1. While Indexing, facing the issue mentioned below. Any help would be highly appreciated:

mapper [field] is used by multiple types. Set update_all_types to true to update [format] across all types.]]
[5813]: index [index_name], type [index_type], id [13344701], message [java.lang.IllegalArgumentException: Mapper for [field] conflicts with existing mapping in oth

[2016-02-01 20:41] abulhol commented on #12366
any news here?

[2016-02-01 20:47] erik-stephens opened #16351 "Field stats API raises index_closed_exception"
The fact that I can't find anyone else with this problem suggests the problem is on my end, but based on the docs and the response I get, [this looks like a bug](https://discuss.elastic.co/t/index-closed-exception/38424).  1451407412544 is roughly Dec 29 09:43:32 MST 2015 and 1452012212544 is roughly Jan  5 09:43:32 MST 2016.  My first thought was that maybe I have documents in the closed indices

[2016-02-01 21:14] martijnvg commented on #16351
What is the exact ES version that you're using?
Are you by any chance specifying indices that are closed in the field stats api?

Closed indices are never queried if field stats executes of all indices, so this is weird if you're seeing these exceptions. I quickly tries to re-create a scenario with a closed index, but the field stats api just skips that closed index.

[2016-02-01 21:34] sandesh2014 commented on #16350
Can anyone from elastic team help out regarding this issue. Do let me know if this is a bug or something else is wrong.

[2016-02-01 22:38] dakrone opened #16357 "Don't cancel allocation when a new sync id is found on shared filesystems"
In `ReplicaShardAllocator.processExistingRecoveries`, if we find a "better" match, we cancel allocation of a replica:

[code]

However, when on a shared filesystem, all data nodes have the same data, so we should not cancel allocation if a new node pops up.

[2016-02-01 22:38] dakrone commented on #16357
@bleskes I spoke with @brwe about this and I think we agreed it was worth doing, but I'm curious about your input on this as well.

[2016-02-01 22:51] erik-stephens commented on #16351
The version is 2.1.1.  Took me a while, but I was finally able to reproduce on a test cluster with test data.  Looks like my problem is that I have lingering aliases for closed indices.  Now I'm seeing unexpected results around aliases but that's maybe for another thread.  Thanks for the reply - it helped me narrow it down.

[2016-02-01 22:51] #16351 closed

[2016-02-01 23:21] dakrone opened #16358 "Add ability to disable importing dangling indices on shared filesystems"
We already have issues open for the behavior of importing indices when a node is out of the cluster while an index is deleted, however, in the case of shadow replicas on a shared filesystem, if the index is deleted while a node is not part of the cluster, when the node comes back it will try to re-import the index as dangling without any actual data, leading to exceptions like:

[code]

It would b

[2016-02-02 00:21] mikemccand commented on #16115
It is still relevant, even in master, because those settings determine the size of the total indexing buffer for the node.  Only the per-shard min and max settings were removed in master from #14121.

Are there specific suggestions on improving the docs?  (They do already state that they only take effect when `index_buffer_size` is a percentage already...).

[2016-02-02 01:33] rjernst commented on #16350
It is hard to give a better explanation of what is happening without seeing the mappings. However, this is expected behavior with 2.0+ when you try to have a field with the same name, but different data types, in two different document types.

Please join us on https://discuss.elastic.co for questions like these.

[2016-02-02 01:33] #16350 closed

[2016-02-02 07:49] jerry-sjtu opened #16362 "fail to build the master branch of elasticsearch using gradle"
I am using the gradle 2.8 and java 1.8.0_20 to build the master branch of the elasticsearch and get the error:
**AutoExpandReplicas.java:44 : cannot assign to the final variable min**
**min = Integer.parseInt(sMin);**
I have searched the google and there is no answer.

[2016-02-02 08:41] ywelsch commented on #16362
You are probably hitting https://bugs.openjdk.java.net/browse/JDK-8051958. Can you update to a newer JDK 8 version?

[2016-02-02 09:08] jerry-sjtu commented on #16362
I tried the java 1.8.0_40,java 1.8.0_72 and get the error: :core:forbiddenApisTest FAILED

[2016-02-02 09:13] ywelsch commented on #16362
can you do a `gradle clean` first? Also, add `-s` to the gradle invocation so we get the full stacktrace.

[2016-02-02 09:57] jerry-sjtu commented on #16362
2: Task failed with an exception.
-----------
* What went wrong:
Execution failed for task ':distribution:integ-test-zip:integTest#stop'.

* Try:
Run with --info or --debug option to get more log output.

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':distrib
ution:integ-test-zip:integTest#stop'.
        at org.gradle.api.internal.tasks.execution.ExecuteAc

[2016-02-02 09:59] danielmitterdorfer commented on #16011
Thanks for your feedback! I'll implement it based on your pointers. Would be great if you could take a look at it then.

[2016-02-02 10:11] jasontedor commented on #16362
Duplicates #16097

[2016-02-02 10:11] #16362 closed

[2016-02-02 10:11] tlrx opened #16364 "IndexShardTests.testStressRelocated fails"
The test IndexShardTests.testStressRelocated fails on master: timeout while trying to acquire a primary relocation lock on shard:

http://build-us-00.elastic.co/job/es_core_master_oracle_6/4540/

[2016-02-02 11:27] temsa opened #16368 "Accessing parent properties in script_fields seems no more possible in 2.x"
I have a request running on ES 1.4.5 which does not work at all on ES 2.x (tested on 2.1.2, but I guess it's more a 2.x problem) :
- given a parent `parent` with a property `foo` in the mapping
- given a child `child`with a property `bar` in the mapping
- given a mapping linking the `child` with the `parent`
- given a search query on `child` with a `has_parent` filter

With ES 1.4.5, I could use i

[2016-02-02 11:38] jimferenczi commented on #16348
@AColmant thanks for the report, you are right this is a bug and you can find the fix for ES v2.3.0 via https://github.com/elastic/elasticsearch/issues/15568 and https://github.com/elastic/elasticsearch/issues/15138.

[2016-02-02 11:38] #16348 closed

[2016-02-02 11:59] #16364 closed

[2016-02-02 12:47] ywelsch opened #16369 "JvmGcMonitorServiceSettingsTests.testMissingSetting fails"
Failed on my CI. It is fortunately reproducible:

[code]

Error message:
[code]

[2016-02-02 12:47] ywelsch commented on #16369
Can you have a look @jasontedor ?

[2016-02-02 12:50] jasontedor commented on #16369
Yes, I'll take a look within an hour from now.

On Tue, Feb 2, 2016 at 7:48 AM Yannick Welsch <notifications@github.com>
wrote:

[2016-02-02 12:53] bleskes commented on #14149
@ksou1 thanks. During the period the cluster was yellow - do you know the replicas were initializing (i.e., recovering) or were they unassigned?

[2016-02-02 13:00] #12573 closed

[2016-02-02 13:50] #16369 closed

[2016-02-02 13:51] jasontedor commented on #16369
Thanks @ywelsch. I pushed 69a3f7f590afb3e29b33f9918175e8d1e4004e64 and 1e6b2d4f1d21442b176bff81279231316ec1ad23.

[2016-02-02 13:53] clintongormley commented on #15432
No further info. Closing

[2016-02-02 13:53] #15432 closed

[2016-02-02 13:53] clintongormley commented on #16321
@ywelsch please could you take a look at this

[2016-02-02 13:58] clintongormley commented on #16331
While @nik9000 is technically correct, setting this setting to MAXINT is really damaging to your system.  Expect it to fall over.  This is why we added this limit in the first place.

[2016-02-02 14:03] clintongormley commented on #16338
Duplicate of #12016

[2016-02-02 14:03] #16338 closed

[2016-02-02 14:04] clintongormley commented on #16083
@Lin-Brian your index is corrupt.  Either reindex your documents from source or use the -fix option (and lose the corrupted documents).

[2016-02-02 14:04] #16083 closed

[2016-02-02 14:42] clintongormley commented on #14113
@mkobrosli see https://github.com/elastic/elasticsearch/issues/16108#issuecomment-173171419

[2016-02-02 14:52] ksou1 commented on #14149
Up until the time the replicas started to allocate to the second data node, they were unassigned. There were 1086 active_primary_shards, and 1086 unassigned_shards (the replicas). There were 0 initializing_shards and, strangely, 0 delayed_unassigned_shards. Cluster health also showed 0 pending_tasks and 0 in_flight_fetch.

[2016-02-02 14:58] jasontedor opened #16373 "Elasticsearch master and 2.x require Lucene snapshot upgrades"
The backwards compatibility test `OldIndexBackwardsCompatibilityIT#testOldIndexes` is failing because Elasticsearch 2.2.0 is built against version 5.4.1 of Lucene. However, Elasticsearch master and 2.x are currently built against Lucene snapshots that do not contain the Lucene version 5.4.1 field.

[2016-02-02 15:05] gary-harpaz commented on #13245
sverhagen Agreed.  My Application now starts up with class not found exception in the logs. How many times will someone else see this log and waste time googling about it?

[2016-02-02 15:14] clintongormley commented on #16368
You can no longer use type names as a prefix for field paths.  And you can't access a child document's values when you're in the context of the parent (and vice versa).  They are completely separate documents.

[2016-02-02 15:14] #16368 closed

[2016-02-02 15:18] blankyao commented on #12394
+10086 good idea!

[2016-02-02 15:22] polyfractal commented on #16318
Sorry for the delay, been traveling + internet issues.  Thanks for looking into this @bleskes, I'll defer to your judgement and just sit on this for a while :)

[2016-02-02 15:23] bleskes commented on #14149
I see. Do you happen to have a cluster health response ? I'm curious to see what the `number_of_in_flight_fetch` field had to say...

[2016-02-02 15:24] #8706 closed

[2016-02-02 15:26] danielmitterdorfer commented on #16011
@dakrone,

I have started implementing request size limiting based on your pointers (see danielmitterdorfer/elasticsearch@802f6ed5f6eeb0ee8d46c294ddf53058aec3157b). I have added a new circuit breaker to `HierarchyCircuitBreakerService` but then fell over `CircuitBreakerServiceIT#testParentChecking()`. The test spuriously hangs and the reason is that the parent circuit breaker tripped and we cannot

[2016-02-02 15:27] gmoskovicz opened #16375 "Output version when running bin/plugin list"
Currently, we only get the plugin list without versions:

[code]

It will be nice to print the version of each plugin so we can verify that the correct version is installed.

[2016-02-02 15:28] tlrx opened #16376 "Integration tests for plugins fail on Windows platforms"
Integration tests for plugins are failing on Windows platforms because:
- it tries to print message using a wrong format (see #16367)
- when installing the plugin using a file, it mixes up the file path (ex: `file://C:\whatever`) and thinks it refers to a plugin to download on Maven Central (ex: `org.elasticsearch:mapper-attachments:3.0.0`) because of the number of `:` in the name

[code]

[2016-02-02 15:31] dadoonet commented on #16375
@gmoskovicz Note that for the examples you gave, version will be for all those plugins `2.1.1` as we release official plugins using elasticsearch version number.

[2016-02-02 15:36] gmoskovicz commented on #16375
@dadoonet Correct! However i think that for community plugins this can vary.

[2016-02-02 15:41] temsa commented on #16368
@clintongormley I need this feature... If not I will be stuck with a ES 1.x ?

Should I be able to create a plugin to support accessing parent document ? I could maybe add `parent['foo'].value` in the scripts, the same way there is `doc['bar'].value`, is it achievable ? Will there be a huge cost in term of performance or should it be not too far from 1.x performances?

Where should I start to add

[2016-02-02 15:48] electrical commented on #16375
Would be nice to have since community plugins can have different versions.

[2016-02-02 15:48] alehane commented on #16375
@gmoskovicz many thanks for raising this, I'd like to see something along the lines of:

[code]

Note: versions are examples rather than real values :)

[2016-02-02 15:49] gmoskovicz commented on #16375
+1 for @electrical and @alehane

[2016-02-02 16:11] spalger opened #16378 "Field name missing from invalid mapping error"
When trying to create a mapping for master I got the error:

[code]

It took a while to track down that this was being caused by numeric fields with the `index: not_analyzed` setting. It would have been much easier to debug if the error message contained the field name.

[2016-02-02 16:16] AColmant commented on #16348
Alright ! Sorry for the issue duplicate and thanks for your job.

[2016-02-02 16:35] th3m4ri0 opened #16379 "Elasticsearch won't start on Mac OS 10.10.5"
Hi,
I've had a working install of Elasticsearch for some time now and it eventually stopped working.
I uninstalled it then reinstalled it with brew. Here's what happens:
[code]

I've searched for the likely root cause, to no avail.
Any idea ?

[2016-02-02 16:47] jasontedor commented on #16379
Do you have a stale plugin from an old installation sitting around and have your config pointing to that old plugin directory? That's what it looks like.

[code]

What version? If you're coming from the 1.x line, I think the above explanation is what's going on. If not, let us know and we'll investigate further.

[2016-02-02 16:47] #16379 closed

[2016-02-02 16:55] dadoonet commented on #16375
Sure. I was just talking about the examples you mentioned.

Note that the `_cat/plugins` API provides such information but you already know that it requires to have elasticsearch running and I guess here you need to have that information without elasticsearch running.

[2016-02-02 17:06] gmoskovicz commented on #16375
Yep. The useful information from this is **before** starting Elasticsearch, so you can play a little bit with versions and so on. I believe that this will be useful for automated releases and version upgrade.

[2016-02-02 17:07] jasontedor commented on #16379
I can replicate your issue confirming that my theory is a good explanation:

[code]

Ideally you should just remove the old plugin directory:

[code]

as none of the plugins there will work when upgrading from Elasticsearch 1.x to Elasticsearch 2.x because of a change in the plugin format. But if you have some reason to keep them around, change the config for `path.plugins`.

[2016-02-02 17:19] tom-christie commented on #9726
I'm getting this error using Logstash to pull from one Elasticsearch index to another index. It's causing problems because when this error occurs, Logstash creates duplicate entries in the target index.

[2016-02-02 17:22] th3m4ri0 commented on #16379
Works perfectly ! Thank you ! :smile:

[2016-02-02 17:23] jasontedor commented on #16379
Excellent. You're very welcome. :smile:

[2016-02-02 17:24] bleskes commented on #14149
@ksou1 not sure whether you edited your comment or I just totally missed the fact that there are 0 in_flght_fetch. I this case my best guess is that you've hit https://github.com/elastic/elasticsearch/pull/14494  and something happened later on triggering another reroute..

[2016-02-02 17:48] roytmana opened #16380 "Nested Aggregations - Filtering of child aggs on parent agg's key"
Let me start with an example to explain the issue which is a major pain point for us when using nested aggregations.

Imagine having Teams that handle Requests of certain Priority. Each request may have multiple teams assigned to it and each team request assignment has number of hours allocated for this team on this request

[code]

I need a report that gives me number of hours by team by priority

[2016-02-02 18:31] roytmana opened #16381 "Allow aggregations on parent document fields from a nested aggregation without changing scope using reverse nested"
I think this could be a very practical solutions for whole set of issues where aggregation needs to be done on nested documents but be able to group on its parent document properties. It i snot the same as using reverse nested because reverse nested changes document scope to groupp and then it will needs to be changed back to nested again introducing double-counting.
Also from ease of use it would

[2016-02-02 19:14] nik9000 commented on #16331
Right. When I wrote "you should be fine" I meant, "the setting won't break anything" but @clintongormley is right, it is a bad idea to set it that high.

[2016-02-02 20:27] #16376 closed

[2016-02-02 20:33] jdconrad opened #16387 "Fix Imports Automatically in Painless"
The ANTLR generated files currently have star imports in them when the files are regenerated.  Need to make it part of the ANT task to replace these imports automatically with non-star imports.

[2016-02-02 20:38] nik9000 commented on #16387
We could also skip these files entirely with checkstyle.

[2016-02-02 20:38] nik9000 commented on #16387
I mean, we are using checkstyle to check this now. We could skip the automatically generated files.

[2016-02-02 20:56] kri5 commented on #16190
@kevkon3 is it fixed for you? i am experiencing the same issue.

[2016-02-02 20:59] dmr commented on #15760
I just didn't know about this parameter, thank you, fuzziness is perfect for me!

[2016-02-02 21:40] martijnvg commented on #15247
Fixed via #16352

[2016-02-02 21:40] #15247 closed

[2016-02-02 21:51] kevkon3 commented on #16190
@kri5 We haven't tried out elasticsearch 2.2 yet. We tabled the upgrade for now, waiting on 2.2. I imagine we will try it out in about a week?

[2016-02-02 21:52] Mogztter commented on #15789
Yay 1.7.5 is out, upgrading now, thanks :smile:

[2016-02-02 22:16] cbuescher commented on #16169
@clintongormley Just checked, we catch this kind of error on master already. Does it make sense to fix this on the 2.x branch? It's a small fix I think.

[2016-02-02 22:34] johncollaros opened #16389 "_type has no mapping properties"
This has come up in the context of kibana:
#https://github.com/elastic/kibana/issues/5684

For new indicies created in ES 2.x, kibana sees _type as unindexed.
It looks like the mapping properties are empty. This seems to affect Kibana's ability to properly discover the mapping.

I have a feeling this is to do with the change not allowing mapping options for metafields like _type, _id etc.

I have

[2016-02-02 22:56] bwebster opened #16391 "ArrayIndexOutOfBoundsException with nested aggregations"
We are running a query that has nested aggregations.  We are experiencing sporadic failures with our test suite around this query.

We are running 2.1.1.  Here is the version info:

[code]

We are using a time-based index strategy (one index per month), controlled by a template.  The issue seems to be related to time.  If we mock out the current time in our tests so that all data is created in a s

[2016-02-02 23:05] kt97679 opened #16392 "tribe node fails to start with non default port settings"
I'm trying to run tribe node using elasticsearch 2.2.0. I have cluster of 2 machines with the following config:

<pre>
network.host: 0.0.0.0
path.data: /var/lib/elasticsearch/
path.logs: /var/log/elasticsearch/
cluster.name: logstash-data
discovery.zen.ping.multicast.enabled: false
discovery.zen.ping.unicast.hosts: ["10.16.1.32", "10.16.1.75"]
</pre>

On another machine I run 2 elasticsearch insta

[2016-02-02 23:08] simianhacker commented on #15799
@clintongormley This solution is not very realistic for a real world (distributed) system that is not single threaded

[2016-02-02 23:52] starkers commented on #12055
I think I've experienced the same just after updating from 2.1.0 to 2.2.0 (from official stable PPA)

Its only a few devel indexes but the recovery seems to just (after stopping elastic, growing the disk, starting elastic) filled up the disk very quickly with translog "stuff"

I'm just going to delete the stuff but this shouldn't be difficult to replicate.

[2016-02-03 00:12] trejkaz commented on #15918
I'm guessing that's a no?

[2016-02-03 02:40] rmallah opened #16397 "es-2.2 is unconfigurable owing to use of unsupported es.default.config"
The manifest code below fails to  configure es-2.2 correctly.

[code]

Above produces following

[code]

On running the ExecStart as userid elasticsearch below error comes.

[code]

[2016-02-03 02:42] jasontedor commented on #16391
Someone else will look at the core of the issue here but I just wanted to let you know that the message

[2016-02-02 16:05:12,166][DEBUG][cluster.action.shard     ] [George Stacy] [analytics_test_201602][4] sending shard started for [analytics_test_201602][4], node[OcKoG1smQ0a__zSHxix33A], [P], v[1], s[INITIALIZING], a[id=ZgJoAG_vRGO6pVamLpHOHg], unassigned_info[[reason=INDEX_CREATED], at[2016-02-

[2016-02-03 02:48] rjernst commented on #16375
What would you have the format look like? Should it be only when using "verbose" mode, kind of like `ls` vs `ls -l`? It seems like it should either be just the name, or the name and all the info from the plugin properties file?

[2016-02-03 03:03] #16387 closed

[2016-02-03 03:36] rmallah commented on #16397
issue opened in wrong place . I will open in https://github.com/elastic/puppet-elasticsearch

[2016-02-03 03:36] #16397 closed

[2016-02-03 03:47] rmuir opened #16399 "GeoPolygonQueryBuilderTests makes illegal minLon value"
When i upgrade lucene, things are pickier and the test fails. I'd rather @nknize or @mikemccand look into this as I know they have battle scars already.

FYI looks like this (I will just disable the test):
[code]

[2016-02-03 05:07] bwebster commented on #16391
Thanks for the explanation @jasontedor.  Good to know that the `failure: [Unknown]` isn't something to worry about.

[2016-02-03 05:20] dadoonet commented on #16375
+1 for verbose mode
Not sure if we should print all properties though.

[2016-02-03 05:22] rjernst commented on #16375
Well, that is what verbose means. :)

[2016-02-03 05:23] rjernst commented on #16375
I would at least expect the description with it? And java version? So at that point, why not all the info we have about the plugin.

[2016-02-03 05:26] dadoonet commented on #16375
Indeed.

[2016-02-03 05:58] asldevi opened #16401 ""query" around "match" causes ConstantQuery and ignores boost"
I'm running on ES 2.1.1.

The following query
[code]
works as expected.

But the same query, with an extra (redundant) `query` around `match` simply causes `ConstantScore` query and doesn't take the boost into account.

[code]

shows
[code]
in the `explain` output.

[2016-02-03 07:04] Macln opened #16402 "it can not start the shard without the translog file"
I'm tring to start a shard without the translog files or with the damaged translog files using elasticsearch 2.0,but it's failed and print some exception,such as:
[code]
or
[code]

I think the translog from the shard is invasive too strong with the index's shard,so a shard has data,but it can't start just because of the lacking translog files.

[2016-02-03 07:20] briner commented on #14337
Hi @clintongormley,
I did remove btrfs and use instead a ext4 filesystem.

[2016-02-03 07:43] bleskes commented on #16402
Indeed we fail starting a shard if it misses the necessary translog files. The reason for this that opening shard will amount to loss of data. Note that we rely on another shard copy to take over, just like we do in any case of corruption. Can you elaborate on what made you delete the translog file?

I'm closing this issue as things work as intended. We can continue the discussion and if it turns

[2016-02-03 07:43] #16402 closed

[2016-02-03 07:59] Macln commented on #16402
@bleskes this problem can't deal with it? I think not only because of missing the translog files or damaged translog files which be known as notSerializableExceptionWrapper files that the index's shard cant 't start,just those shards possess data.
why can't fix the translog file,if the translog files is missing or damaged when starting the shards.

[2016-02-03 08:03] bleskes commented on #16402
I’m not sure  I follow you completely. The high level thinking is that the translog stores data just like lucene and any corruption there is treated the same way as corruption elsewhere. If you have another copy (i.e., replica) ES will recover on it’s own. Otherwise you sadly need to reindex.

[2016-02-03 08:53] s1monw commented on #15918
I think you have to fix your classpath to not include this jar file otherwise you won't get passed the security manager.

[2016-02-03 08:53] #15918 closed

[2016-02-03 08:54] s1monw commented on #15789
@Mogztter thank YOU!

[2016-02-03 08:59] trejkaz commented on #15918
I'm not sure it's possible, but I guess I could file a bug with IDEA to see if they will take their runtime off there, but I'm not confident that they will cooperate.

Surely from the elasticsearch side there is a way to implement that check without using JarFile directly, but I couldn't find a way when I did a quick check (JarURLConnection#getJarFile throws the same exception.)

[2016-02-03 09:09] mpenet commented on #14307
Did you find a solution? I hit the same wall, this was feasible on 1.x using `exclude` in the terms aggregation (using a list of words). However you can no longer mix `exclude` and `include` of different types (`include` in my case has to be a regex).

[2016-02-03 09:17] clintongormley commented on #14307
@mpenet just convert the list of words to a regex:

    [ foo,bar,baz ]  -> (foo|bar|baz)

[2016-02-03 09:19] Eightyplus commented on #14307
No I did not find a solution. I realized that the filter removes any document match which contain a "not" word and thought it would require either
1) new code to handle the filter (add request in discuss.elastic.co ..)
2) filter the words before indexing (the text could still be indexed as "not analyzed" to be able to query the entire text)

I thought it was to much trouble and have since moved on

[2016-02-03 09:25] mpenet commented on #14307
@clintongormley that's what I have at the moment, but it's super slow compared to the 1.x mixed regex + list in include exclude. I am thinking about inverting the logic to mitigate the problem since exclude are executed first, but I doubt I ll reach the perf of 1.x with that.

[2016-02-03 09:31] makeyang opened #16403 "request body search better cover all parameters uri search support"
currently, there are 3 (as far as I know) paramters that uri search support but request body search not:
    track_scores
    timeout
    terminate_after
better make them  all supported by request body search, which could make the API more consistent.

[2016-02-03 10:01] ywelsch opened #16405 "BalancedShardsAllocator mutates keys in HashMap"
The shard balancer currently relies on model nodes and model indices to simulate moving shards around in the cluster. Each model node contains a set of model indices. A model index represents a set of shards of the same index that are allocated to the node that owns the model index. Currently model indices store their shards in a hash map.

First observation: allocation decisions stored as map val

[2016-02-03 10:26] mpenet commented on #14307
to give you an idea, on the same dataset, same query (minus the change for exclude + new aggreg format)
1.7    : 0.7s
2.1.2 : 2.8s

There are 500ish terms in the "exclude" clause

[2016-02-03 10:32] jlecour opened #16406 "Document network changes in 2.2.0"
Hi,

I have a 2.1 cluster, with default `network.host` configuration and a custom `network.publish_host`.

After upgrading to `2.2.0` the cluster didn't start.

I've had to change from :

[code]

to

[code]

It'd be great it this were documented :
- in the changelog, with instruction for upgrading
- in the documentation

That said, congratulations for this release. Elasticsearch is awesome. :clap:

[2016-02-03 10:44] pierrre opened #16408 ""fields" is missing in hit if script field returns a null value"
I use Elasticsearch 2.2 & 1.7.

With this query:
[code]

Elasticsearch 1.7 returns:
[code]

Elasticsearch 2.2 returns:
[code]

Is it a bug or a feature?

[2016-02-03 10:48] bleskes opened #16409 "Timeout cloud_azure/15_index_creation/Test the smb_mmap_fs directory wrapper"
http://build-us-00.elastic.co/job/es_core_2x_windows-2012-r2/536/

Failure:
[code]

Sadly it doesn't reproduce.

@dakrone I'm assigning this to you as you have recently added the test.

[2016-02-03 11:04] bleskes commented on #12055
@starkers clean please capture the files and logs before deleting, and share them somewhere? these things are typically not easy to reproduce :(

[2016-02-03 11:28] gmoskovicz commented on #16375
+1 for verbose mode!

[2016-02-03 11:50] s1monw commented on #15918
I run in idea as well and it's totally possible

[2016-02-03 11:53] clintongormley commented on #16401
That's because the `query` element is a remnant from 1.x, where it was the query filter (see https://www.elastic.co/guide/en/elasticsearch/reference/1.7/query-dsl-query-filter.html)  (ie it allowed you to use a query in filter context).

Queries and filters are now the same thing so the `query` filter has no purpose - it has been left there for bwc reasons, and is removed in 3.0.

[2016-02-03 11:53] #16401 closed

[2016-02-03 12:05] gchen commented on #8486
+1

[2016-02-03 12:12] jasontedor commented on #16373
Closed by #16400

[2016-02-03 12:12] #16373 closed

[2016-02-03 12:31] aloneldi opened #16410 "Query TimeAllowed in Elastic Server Side"
Hi ,

I'm started new project in Elastic Search .

My previous one was on SOLR where I used the parameter timeAllowed in the server side and overwrite in the client side when needed to terminate long running queries and return partial results to  avoid SOLR crashes .

It seems that this crusiel feature is missing in Elastic search .
I saw the parameter TerminateAfter . But as far as I understand i

[2016-02-03 13:08] clintongormley commented on #12945
Multicast has been removed by #16326

[2016-02-03 13:08] #12945 closed

[2016-02-03 13:15] clintongormley opened #16412 "Don't cache resolved hostnames forever"
Today we use InetAddress to represent IP addresses.  InetAddress handles the work of resolving hostnames from DNS and from the local `hosts` file.

With the security manager enabled, successful hostname lookups are cached forever to prevent spoofing attacks. I don't know if this behaviour was different before the security manager was enabled, but it seems unlikely given issues such as https://gith

[2016-02-03 14:02] bleskes commented on #16402
People have reminded me that we do have an escape route for these cases - you can set `index.engine.force_new_translog` to true on the index , wait for it to recover and reset back to false. Note though that leaving it on true is dangerous - if the cluster shutsdown and restarts it will ignore the translog when recovering (and loose data).

[2016-02-03 14:03] harictengazel commented on #15677
Any update ?

[2016-02-03 14:08] clintongormley commented on #15677
@harictengazel given that we haven't received the contents of the license file that we asked for above, no, no update.  Make sure that the json file actually contains the license.

Try using `curl --trace-ascii - -XPUT...`  to debug

[2016-02-03 14:43] dakrone commented on #16409
I pushed a fix for this here: https://github.com/elastic/elasticsearch/commit/59a44b0a012e5046165a553a50cfbc23eeeeb995

[2016-02-03 14:43] #16409 closed

[2016-02-03 14:50] abtpst opened #16416 "Elasticsearch 2.2 : Cant install marvel plugin"
I am trying to install the marvel sense plugin for ES and Kibana on windows. I have ES version 2.2.0 and Kibana version 4.4.0

Here is what i tried to do

For ES

    plugin install license

i get

    -> Installing license...
    Trying https://download.elastic.co/elasticsearch/release/org/elasticsearch/plugi
    n/license/2.2.0/license-2.2.0.zip ...
    ERROR: failed to download out of all possi

[2016-02-03 14:54] dadoonet commented on #16416
https://download.elastic.co/elasticsearch/release/org/elasticsearch/plugin/marvel-agent/2.2.0/marvel-agent-2.2.0.zip actually exists. May be you are running behind a proxy?

Note that if you want SENSE, you don't need to install Marvel at all.

Feel free to join us on discuss.elastic.co where we can provide a better support for questions like this one.

[2016-02-03 14:54] #16416 closed

[2016-02-03 15:24] abtpst commented on #16416
thanks, i am behind a proxy but i was able to perform the same operations for ES 2.1 and Kibana 4.3. moreover, i have the proxy env variables defined. By the way, how do i use SENSE without installing sense? when i go to

http://localhost:5601/app/sense

i get

{"statusCode":404,"error":"Not Found","message":"Unknown app sense"}

[2016-02-03 15:27] dadoonet commented on #16416
I said that you don't need to install MARVEL.

[2016-02-03 15:32] jlecour opened #16419 "Indices cat API doesn't list closed indices when filtered"
Hi,

With the `indices` cat API, I can list my indices, either *open* or *close*.

[code]

If I filter my results, I no longer see *close* indices :

[code]

I didn't find the documentation about that so I don't know if it a bug or an undocumented behavior.

I thought there might be an argument for `/_cat/indices` to show `all/open/close` indices, but I haven't found anything.

[2016-02-03 17:04] marcinkubica opened #16421 "'Failed to send ping' and firewall"
Got myself firewalled between datacenters (without knowing it) and when adding a node it seemed to just not being able to find anything:

[code]

Once punched ports 9300-9400 it suddenly start talking

[code]

I would expect it will say earlier about ping failure?

Ta
Marcin

[2016-02-03 17:09] nik9000 commented on #1063
I just want to mention that this is still on my list but it is under reindex so it'll still be some time before I get this. If someone wants to take it from my I can transfer. If not, please be patient.

[2016-02-03 17:11] ywelsch commented on #16321
I verified the issue on master. It is present on all ES versions.

To fix this, there are two possible ways:
- Fail closing an index if there are shards of that index still being restored.
- Always let the index close operation succeed but fail the restore process of the shards of that index. This is more in line with what we currently do for index deletes that happen during the snapshot restore p

[2016-02-03 17:32] ppf2 commented on #16321
At least for this particular use case, this option is desirable because they didn't realize that the restore is still in progress (would like the restore to proceed), and not because they want to cancel a specific restore.

[2016-02-03 19:06] martijnvg commented on #13827
Now that the core percolator has been refactored to be a Lucene query adding scoring to the percolator has been made much easier. And with the upcoming refactoring in #16349 (replacing the percolate api with percolator query in query dsl) exposing the scores from how queries match with the MemoryIndex becomes a low hanging fruit. (right now the percolator just ignores that score)

[2016-02-03 21:49] pickypg commented on #14903
I don't think that this was intentionally closed.

[2016-02-03 22:30] mkelkarbv opened #16427 "plugin permission errors in 2.2.0"
I am trying to write a plugin for ES 2.2.0. When I start elasticsearch with plugin installed, this is what I get -

Likely root cause: java.security.AccessControlException: access denied ("javax.management.MBeanServerPermission" "createMBeanServer")
at java.security.AccessControlContext.checkPermission(AccessControlContext.java:472)
at java.security.AccessController.checkPermission(AccessControlle

[2016-02-03 22:33] jipperinbham opened #16428 "Add support for AWS STS credentials for snapshots"
The [current setup](https://github.com/elastic/elasticsearch/blob/b24dde88de8ea4fd7d62e4518e36c99a84abb2e7/plugins/repository-s3/src/main/java/org/elasticsearch/cloud/aws/InternalAwsS3Service.java#L155-L168) does not support the ability to provide an `AWS_SECURITY_TOKEN` to be used with AWS STS authentication.

I believe the changes necessary would be to add an additional field to `Settings` for t

[2016-02-03 22:54] rjernst commented on #16427
There is more to do than simply adding the permission. You must wrap the code trying to use the extra permissions with a `AccessController.doPrivileged` block. See https://www.elastic.co/guide/en/elasticsearch/plugins/2.2/plugin-authors.html#_java_security_permissions.

[2016-02-03 22:54] #16427 closed

[2016-02-03 23:13] abtpst opened #16429 "Kibana : How to create interactive searchbar in dashboard"
I want to create an interactive search bar in Kibana. Lets say i have a field that has 5 values

    Field_A
    a
    b
    c
    d
    e

is it possible to have a searchbar in a Kibana dashboard that allows a user to type in a query like

    Field_A="a"

and then all of the records for the query results show up

It would be even better if i can have a dropdown list that gives me all of the valu

[2016-02-03 23:24] jasontedor commented on #16429
Sorry if I'm missing something here, but this sounds like it would get better attention on the [Kibana repository](https://github.com/elastic/kibana)?

[2016-02-03 23:24] #16429 closed

[2016-02-03 23:30] #16344 closed

[2016-02-03 23:47] ppf2 commented on #9375
By the way, is this issue only affecting _cat apis?  We are also seeing node info, node stats apis not returning when nodes became unresponsive in the cluster and the master is busy recovering the shards.

[code]

[2016-02-03 23:50] bwebster commented on #16391
Update: the test suite is now much more reliable.  The only difference is that the test data is no longer overlapping a month boundary.  All the test data is created in one index (for the month of February).

Seems to be related to the query needing to hit more than one index.

[2016-02-04 00:43] trejkaz commented on #15918
I'm not finding the option... I have dug pretty deep.

[2016-02-04 01:19] jasontedor commented on #15918
Start by removing everything but the bare minimum from the SDKs (File -> Project Structure -> Platform Settings -> SDKs -> Classpath). There is no reason for an IntelliJ jar to be on the classpath. Take a look at the PR #13465 that removed the leniency in this situation and specifically a [minimal set of jars](https://github.com/elastic/elasticsearch/pull/13465#issuecomment-142124441) provided the

[2016-02-04 02:32] trejkaz commented on #15918
At the moment, the jars for the SDK are:

    jdk1.8.0_51.jdk/Contents/Home/jre/lib/charsets.jar
    jdk1.8.0_51.jdk/Contents/Home/jre/lib/jce.jar
    jdk1.8.0_51.jdk/Contents/Home/jre/lib/jfr.jar
    jdk1.8.0_51.jdk/Contents/Home/jre/lib/jsse.jar
    jdk1.8.0_51.jdk/Contents/Home/jre/lib/management-agent.jar
    jdk1.8.0_51.jdk/Contents/Home/jre/lib/resources.jar
    jdk1.8.0_51.jdk/Contents/Home

[2016-02-04 02:36] jasontedor commented on #15918
Your Java won't work if you try to forbid rt.jar, it is *the* Java runtime. I'm sorry, but the security policy is not going to be made lenient.

[2016-02-04 02:45] trejkaz commented on #15918
False.

Only dodgy code which tries to scrape the classpath for jar files and then open each one directly would fail in such a scenario. Well-behaved code which looks up resources the proper way from the classpath still works. Elasticsearch's `JarHell` class is far from well-behaved code, which is why it is causing problems here.

Learn how Java does things, and then fix your shit.

[2016-02-04 03:32] trejkaz commented on #15918
Demonstration, for anyone interested in learning how things actually work.

`build.sh`:

    #!/bin/bash

    COMPILE_CLASSPATH=elasticsearch-2.2.0.jar
    RUNTIME_CLASSPATH=${COMPILE_CLASSPATH}:lucene-core-5.4.1.jar

    javac -classpath ${COMPILE_CLASSPATH} WellBehavedDemo.java

    # Deliberately uses == to be extra restrictive.
    java -classpath .:${RUNTIME_CLASSPATH} \
     -Djava.security.

[2016-02-04 03:53] Macln commented on #16402
@bleskes OK,thanks,I see,I'm going to try.

[2016-02-04 04:18] inqueue commented on #16009
Updates needed:

Grok
* `match_fields` should be `fields`
* `match_pattern` should be `pattern`

All pipelines can be listed using `*`.
[code]

[2016-02-04 04:20] rjernst opened #16437 "Plugin cli can leak temp files in extreme cases"
The plugin cli has handling for wiping the unzipped plugin directory on plugin installation. However, if there is an issue when downloading, checking the checksum, or unzipping, some temp files can be left over.

[2016-02-04 04:51] rnagappan opened #16438 "Upsert needs better version collision between new and existing docs"
We have the situation where different users can write to the same ES instance from different client applications so there is no central application layer where we can enforce write consistency - we're relying on ES as a distributed store to do that for us.

So consider two different users on two different clients that try to write the same document to ES using the same deterministic ID (e.g. the d

[2016-02-04 04:59] rnagappan opened #16439 "Conditional update"
Is there support for updating a document only if some condition is true? I don't mean versioning. For example if the document in ES is missing some field and I have a possibly newer version of that document with the field present can I tell ES only to update it if the one in the store is missing that field?

Due to stringent operational speed requirements I really don't want to query for the exist

[2016-02-04 05:08] rnagappan opened #16440 "Unify the result interfaces from get and search in Java client"
We are using the Java client, and we have some custom code to inflate Java objects from the returned doucments. The get and search APIs seem to return completely different interfaces and object trees, even though they both contain the same underlying information. This is a problem for us because our inflation code is then duplicated which introduces possible bugs. Can the get and search APIs on th

[2016-02-04 05:08] jasontedor commented on #16439
Please see [partial updates to documents[[(https://www.elastic.co/guide/en/elasticsearch/guide/current/partial-updates.htm](https://www.elastic.co/guide/en/elasticsearch/guide/current/partial-updates.html) and the potential use of  scripting on updates.

Maybe I'm misunderstanding your requirements, but you can just get the document by ID rather than querying. That will be fast.

For future refere

[2016-02-04 05:08] #16439 closed

[2016-02-04 05:22] MHova opened #16441 "Backwards incompatibility: _cache is disallowed for Or Filters"
I'm using ElasticSearch v2.1.

The 2.0 [docs](https://www.elastic.co/guide/en/elasticsearch/reference/2.1/breaking_20_query_dsl_changes.html#_filter_auto_caching) state that the `_cache` field is deprecated and will be ignored, but not rejected, if present in any Filters. This holds true for some filters like And Filters and Terms Filters, but for some reason ElasticSearch rejects a search request

[2016-02-04 05:27] jasontedor commented on #16438
Maybe I'm misunderstanding, but it sounds like you want the semantics of create not upsert, and you want the second creation attempt to fail? That is, you want the loser of the race to fail. Elasticsearch provides this is with the [index API if you use `_create` on the request](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html#operation-type).

For future reference,

[2016-02-04 05:27] #16438 closed

[2016-02-04 05:29] rnagappan commented on #16439
Thanks for the reply. I thought I was making a feature request!

[2016-02-04 05:35] rnagappan commented on #16438
Ok thanks. But upsert still has that weakness that when two different clients both submit version 1, the first one will eventually get their data overwritten by the second one. This seems like a failure of the version semantics to me.

[2016-02-04 05:39] jasontedor commented on #16438
But you shouldn't use upsert for create semantics. And *after* the document is created, you can use [optimistic concurrency control](https://www.elastic.co/guide/en/elasticsearch/guide/current/optimistic-concurrency-control.html) to ensure that the scenario that you describe can't happen. That is, if a user thinks they are creating a new document, use the index API with `_create` and the request w

[2016-02-04 05:41] talevy commented on #16009
thanks @inqueue, I'll update these tomorrow! I also need to update the failure responses that we introduced to both PUTpipeline and _simulate

[2016-02-04 05:53] rnagappan commented on #16438
Thanks, I am familiar with that page. I guess what I'm saying is that insert/create is safe for concurrent usage, and update is also safe for concurrent usage. But upsert is not always safe for concurrent usage because the "update" and "insert" parts of it can conflict with each other. I was hoping to raise this as a bug so that two clients could safely upsert at the same time, but you seem to say

[2016-02-04 06:18] jasontedor commented on #16438
Can you you provide a reproduction exhibiting what you think is a bug with a complete explanation of what you observe happening and what you think should be happening? What I *think* you're saying should not be possible because of an internal versioning mechanism that's in place; a reproduction should help disambiguate the discussion.

[2016-02-04 06:57] nknize commented on #16399
Thank @rmuir  I pushed a fix to https://github.com/apache/lucene-solr/commit/62dfc815b030ca051379a12061fb0a9aa98ca09c

[2016-02-04 07:58] ywelsch commented on #16321
@ppf2 what's your take on closing the index during snapshot (in contrast to restore)? Currently, the close operation succeeds but we fail the shards that are closed.

[2016-02-04 09:08] troglotit commented on #4847
+1

[2016-02-04 09:25] matthesrieke opened #16444 "Java heap space Error on document indexing with spatial field"
Hi Elasticsearch team,

I have recently migrated from ES 1.7.x to ES 2.x. I came across a bug that seem to be related to the storage of spatial mappings. I have seen this behaviour on  ES 2.0.x and the latest 2.2.0. In 1.7.x this worked without any issues. I am running Ubuntu 15.10 64bit with ES 2.2.0 installed from the elastic PPA. This also occured on a Ubuntu 14.04 64bit installation.

I have a

[2016-02-04 09:29] matthesrieke commented on #16444
`/var/log/elasticsearch/elasticsearch.log` does not provide too much information, still here are the entries starting with index creation:

[spatial-index-bug_log.txt](https://github.com/elastic/elasticsearch/files/117148/spatial-index-bug_log.txt)

[2016-02-04 11:51] kjelle commented on #3714
+1

[2016-02-04 14:16] temsa commented on #16368
@clintongormley  ?

[2016-02-04 14:18] fsoikin opened #16449 "NullPointerException when calling _analyze with nonexistent tokenizer"
Request (in Sense format):

[code]

Elastic node never sends an HTTP response and prints this in console:

[code]

[2016-02-04 14:23] jasontedor commented on #16449
Duplicates #15148, closed by #15447

[2016-02-04 14:23] #16449 closed

[2016-02-04 14:30] fsoikin opened #16450 "Inconsistent naming of "filter" vs. "filters" when defining analyzer on an index vs. specifying its parameters inline"
In the snippet below, index `analyzertest1` has an analyzer defined with `filters`, and `analyzertest2` - with `filter`. The latter works, the former doesn't (see also #16451).

When I specify filters inline, the situation is reversed: `filters` works, `filter` doesn't.

[code]

[2016-02-04 14:32] fsoikin opened #16451 "Defining analyzer on index doesn't complain about unknown parameters"
The following snippet does not produce an error:

[code]

[2016-02-04 15:21] fsoikin commented on #16450
/cc: @markharwood

[2016-02-04 15:21] fsoikin commented on #16451
/cc: @markharwood

[2016-02-04 15:59] nik9000 commented on #15201
I've updated the list of things that reindex will do. Right now we don't have external cluster support and I don't know when that'll become a priority.

Right now this is what is left before we can merge the feature/reindex branch down to master:

* [ ] Progress from the task API: #16029
* [ ] Retry bulk failures if they are safe to retry. Like rejection exceptions.
* [ ] Cancelation
* [ ] Move it

[2016-02-04 16:00] inqueue opened #16455 "Running Elasticsearch on Windows: expand service configuration doc"
Please add more detail around configuring necessary service settings on Windows. [Running as a Service on Windows](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-service-win.html) is a great foundation, though it should be expanded to include:

* _specific_ steps for configuring minimum and maximum heap size
* any/all other service options documented in [Running as a Service

[2016-02-04 16:00] gmoskovicz commented on #16455
+1 on this!

[2016-02-04 18:11] jimferenczi commented on #13884
@cbuescher this issue is fixed by https://github.com/elastic/elasticsearch/pull/16155.
@rmuir has pointed out a nice way to distinguish between a single word query with multiple fields against a multi word query with a single field: we just have to check if the coord are disabled on the top level BooleanQuery, the simple query parser disables the coord when the boolean query for multiple fields is

[2016-02-04 18:11] #13884 closed

[2016-02-04 18:18] dakrone commented on #16011
This came up when I added the request breaker on `BigArrays`, because we always
want to be able to allocate a buffer to send an error response! The way that I
worked around it before was splitting it into a circuit-breaking and
non-circuit-breaking category, where the non-circuit-breaking did the
`addWithoutBreaking(numBytes)` so that the usage was still *tracked*, it just
didn't *prevent* request

[2016-02-04 18:19] ppf2 commented on #16321
For this specific report from the field, the indices did close, but the restore status from the cluster state shows a shard apparently stuck in INIT state - reopening the index did not resolve the issue, but deleting the index helped get the restore out of that stuck state.  So somehow the close operation did not successfully fail the shards, but left them the restore procedure in a started state,

[2016-02-04 18:35] ppf2 opened #16458 "Manual script reload from disk"
Currently, scripts are scanned periodically for changes via a reload feature (https://www.elastic.co/guide/en/elasticsearch/reference/2.2/modules-scripting.html#_automatic_script_reloading).  For users who are concerned about security and turn off script reloading, it can be helpful to provide a way to trigger a manual reload of the script directory.  So that they can push a change and issue a man

[2016-02-04 18:35] andrejserafim opened #16459 "Running integration test with ES 2.2 throw ControlAccessException"
It seems the security controls kick in on integration tests using ESIntegTestCase.

Relevant stack overflow thread: http://stackoverflow.com/questions/35205150/running-unit-tests-for-elasticsearch-2-2-0-in-intellij-fails-with-accesscontrole/35208827#35208827

Repro:
[code]

[code]

[2016-02-04 19:37] bleskes commented on #16011
want to be able to allocate a buffer to send an error response!

I think it makes sense to never circuit break a response (both when sending and receiving).

[2016-02-04 19:42] ywelsch commented on #16321
@ppf2 I think you misunderstood me, I'm not claiming that the close operation successfully failed the restore process. My question was related to the comment of yours saying that it would be preferable to fail closing an index if there are shards of that index still being restored. I wanted to know whether you think the same applies to the snapshot case. So my question was: Should closing an index

[2016-02-04 20:05] wdtmatt commented on #15267
So in the use case below, what would be the appropriate solution with this new feature?    I'm using logstash to parse web logs.   I use kv to capture all the query strings, which in one case is a comma separated list which gets stored as string in elasticsearch, eg layers.raw:"w,x,y,z"    The results for each log entry could be any combination of w,x,y,z or all of them.      I was building my viz

[2016-02-04 20:33] ppf2 commented on #16321
@ywelsch Ah sorry misinterpreted :)

I am thinking for deletions, we can cancel that snapshot operation (only on shards of that index) and perform necessary cleanup so that it doesn't end up with partial files in the repository.  Same thing with restore, cancel the restore of the shards for that index, and do some cleanup in the target cluster.  For closing, maybe we can just prevent them from doi

[2016-02-04 20:37] markwalkom opened #16463 "How do master elections work"
We should document this, cause why not!
At the moment you need to read [the code](https://github.com/elastic/elasticsearch/tree/master/core/src/main/java/org/elasticsearch/discovery/zen) to understand it.

Via [this thread](https://discuss.elastic.co/t/which-nodes-should-participate-in-election/40788/5) on discuss.

[2016-02-04 21:05] hulu1522 opened #16464 "try / catch failing in groovy scripts"
I assume this is because of the new 'whitelist' in ES 2.2.0 but why would a try / catch not be allowed?  Here is the code we are using:

[code]

Here is the ES response:

[code]

[2016-02-04 21:08] cbuescher commented on #13884
@jimferenczi thats great, I just checked this with a test which is close to the problem desciption here. I'm not sure if this adds anything to your tests, but just in case I justed opened  #16465 which adds this as an integration test for SimpleQueryStringQuery. Maybe you can take a look and tell me if it makes sense to add those as well.

[2016-02-04 21:27] jasontedor commented on #16464
This is covered in the [breaking changes for 2.2.0](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-2.2.html#_scripting_and_security); in particular, see [Scripting and the Java Security Manager](https://www.elastic.co/guide/en/elasticsearch/reference/2.2/modules-scripting-security.html). You probably just need to whitelist `java.lang.Throwable`.

[2016-02-04 21:27] #16464 closed

[2016-02-04 21:34] jasontedor commented on #16463
At a high-level, this is covered in the [Zen Discovery documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-discovery-zen.html#master-election) and at a low-level the source code is the best documentation. Do you see it differently @markwalkom?

[2016-02-04 21:35] rnagappan commented on #16438
If two users on two different clients both try to create a new doc with the same ID and version 1, one will fail, this is expected. If two users on two different clients both try to update an existing doc with the same ID and version 1, one will fail, this is expected.

But if two users on two different clients both try to upsert a _new_ doc with the same ID and version 1, _both_ will succeed, but

[2016-02-04 21:39] markwalkom commented on #16463
That the process of how nodes talk about the election, but we don't explain
how the "election" itself is done, ie which node they figure out to elect.

On 5 February 2016 at 08:35, Jason Tedor <notifications@github.com> wrote:

[2016-02-04 21:49] rjernst commented on #16463
That is an implementation detail? No user should be depending on that?

[2016-02-04 21:57] jasontedor commented on #16438
But can you provide a minimal reproduction exhibiting what you think is a bug? It will really help disambiguate this discussion. I *think* that in master (after #13955), the situation that you're describing will produce a `VersionConflictException` but code will help clarify the discussion.

[2016-02-04 22:06] teeschke commented on #14989
I am running 2.1.0 on CentOS and have the same issue. But the reported error is real: the translog folders are growing because clean-up job is failing.
see "du -h" command
[code]

the elasticsearch logfiles are full of messages with the following pattern:
[code]

[2016-02-04 22:41] dakrone commented on #16444
@nknize maybe you could take a look at this?

[2016-02-04 23:07] hulu1522 commented on #16464
I followed that and it doesn't work.  I put this file in the elasticsearch users home directory and root's just to be sure.  I have not yet put it in the JAVA_HOME location yet but this way should work.

Locations:
`/home/elastic/.java.policy`
`/root/.java.policy`

[code]

Neither of them work.

[2016-02-05 00:08] markwalkom commented on #16463
Sure it doesn't impact userspace, but I don't see the harm in explaining how it works.

[2016-02-05 05:34] clintongormley commented on #16464
Your policy file needs to contain the following:

    grant {
      permission org.elasticsearch.script.ClassPermission "java.lang.Throwable";
      permission org.elasticsearch.script.ClassPermission "java.lang.Exception";
      permission org.elasticsearch.script.ClassPermission "groovy.lang.GroovyException";
    };

[2016-02-05 07:01] centic9 commented on #16459
Workaround from the so-discussion: Set VM options "-Dtests.security.manager=false"

[2016-02-05 07:11] teeschke commented on #14989
Aright. An upgrade from 2.1.0 to 2.1.1 fixed it!
Thanks.

[2016-02-05 08:32] kavitakanojiya opened #16468 "Elasticsearch picks wrong data type"
I have added new boolean column into one of my tables. Now, I didnt reindexed the whole table/records because I dont use this column to search records, but we chose to reindex for future use maybe.

But elasticsearch index picks up this column with datatype as 'long'. Will you please shed some light why elasticsearch picks this wrong datatype ?

Some docs/pointers will be helpful. Very helpful. Th

[2016-02-05 08:48] dadoonet commented on #16468
Please join us on discuss.elastic.co. We will provide better help there.

You probably did not define your mapping and your inject process sent to elasticsearch a number like `"foo": 1` instead of `"foo": true`.
As you seem to be importing from a database, you should give details about all what you are doing on discuss so we will have a better picture of what is happening.

Closing as not an issue

[2016-02-05 08:48] #16468 closed

[2016-02-05 08:55] jimferenczi commented on #13884
@cbuescher thanks, a unit test in SimpleQueryStringBuilderTest could be useful as well. The integ test does not check the minimum should match that is applied (or not) to the boolean query.

[2016-02-05 11:55] rendel commented on #16427
Hi @rjernst

We are facing a similar issue, but with the elasticsearch test framework. We are using `ESIntegTestCase` for our unit tests, and it looks like it does not have the proper file permissions for our test directories. The only way we found so far to be able to run unit tests is to specify our own policy at runtime using `-Djava.security.policy=my_policy`.
You can find more information in

[2016-02-05 11:57] McStork commented on #14049
As many, I am looking forward to this.
On this Ingest Node feature, how does one contribute with custom inputs/filters? We plan on developing one and it would be great if it could be linked to Ingest Node, without us needing to develop it for Logstash.

[2016-02-05 12:03] timini commented on #14049
Update on this?

[2016-02-05 12:10] dadoonet opened #16472 "S3/Azure IT should use ESBlobStoreRepositoryIntegTestCase"
As we now have #14050, we can try use it for Azure and S3 Integration tests as well.

See for example: https://github.com/elastic/elasticsearch/blob/master/plugins/repository-s3/src/test/java/org/elasticsearch/repositories/s3/AbstractS3SnapshotRestoreTest.java
- [x] Azure. See https://github.com/elastic/elasticsearch/issues/18451
- [ ] S3

[2016-02-05 13:07] njss opened #16474 "Decimal histograms"
I am not finding any good reference about how to set up a range histogram using decimal bins.
I could find a plugin that implements this (until version 1.XX) but I am worried with the sustainability of this fix.
Any new plans?

[2016-02-05 13:25] centic9 opened #16475 "Java Client: Reference to org.apache.lucene.util.Version in org.elasticsearch.Version drags in lots of Lucene classes"
We tried to exclude some of the large list of transitive dependencies when using the Java Client of Elasticsearch to avoid having the complete Elasticsearch server part of the client application.

Some of the transitive dependencies use other licenses than Apache-2.0, so it is currently hard to verify license status of a product when it tries to use the Elasticsearch Java Client.

The thinking is

[2016-02-05 13:54] nik9000 commented on #16475
The trouble is that the Java client is the client Elasticsearch uses for node to node communication. So anything you do on the Java client is has to make sense in the node to node context.

Lots of folks have talked about making a Java client that isn't the internode client. Like one with minimal dependencies. I think this is the right thing to do.

This is being worked on from the other end - get

[2016-02-05 13:56] andreip commented on #15560
@rmuir I don't think I understood that. What's the alternative of MLTQuery? There's another thing called [MLT API](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-more-like-this.html) but it's been removed and it's said to use MLTQuery instead. Can you detail a bit? Thanks

[2016-02-05 15:06] PhaedrusTheGreek commented on #7732
+1

[2016-02-05 15:25] rmuir commented on #15560
I am talking in lucene terms. I think ES exposes MLT in the wrong way.

[2016-02-05 15:36] pierrre commented on #10632
Actually, this search:
[code]
returns nothing with Elasticsearch 2.2

@clintongormley is the fix for this issue released?

[2016-02-05 15:38] andreip commented on #15560
@javanna Thanks for looking into this and for the thorough explanation! Indeed, using `plain` works for highlight, I'm not sure how fast this will be for our case, will try. Just as a fallback, is there a way to bypass MLT and still get highlighting? e.g. getting top K tf-idf terms extracted from text provided via a different query? since after that, I'd use those top-K and do an or-based search q

[2016-02-05 15:53] ywelsch commented on #16321
Here are my initial thoughts:

For restore:

- Closing an index that is being restored from a snapshot should fail the close operation. There is no good reason to do allow this, as closing an index that is being restored makes the index unusable (it cannot be recovered). What the user probably intends to do is to delete the index.
- Deleting an index that is being restored should cancel the restor

[2016-02-05 16:09] wsw70 opened #16480 "Sense output truncated"
When using Sense (2.0.0-beta2), the output window is truncated (i.e. the displayed output is as high as the query on the left):

![image](https://cloud.githubusercontent.com/assets/1345886/12851600/1332a28e-cc2b-11e5-9b72-8cb230e2164e.png)

[2016-02-05 16:16] imotov commented on #16321
+1 on the restore part but I don't think we should abort the snapshot if an index is closed or deleted. That might lead to unexpected data loss. When users use partial snapshot they have certain set of partially available indices that they have in mind (basically indices that were partially available at the beginning of the snapshot). The proposed behavior arbitrary extends this to any index that

[2016-02-05 16:25] ywelsch commented on #16321
@imotov Can you elaborate a bit more on the use cases for partial snapshots? Probably the only one I have in mind is the following: As part of a general backup mechanism, hourly / daily snapshots are triggered (e.g. by cron job). The idea of partial snapshots would then be to snapshot as much as possible, even if some indices / shards are unavailable at that point in time. My proposed solution wou

[2016-02-05 16:25] clintongormley commented on #14963
Closed by #15320

[2016-02-05 16:25] #14963 closed

[2016-02-05 16:27] clintongormley commented on #16086
Closed by #15320

[2016-02-05 16:27] #16086 closed

[2016-02-05 16:49] pierrre opened #16481 "geo_distance query, performance regression (from 1.7 to 2.2)"
I'm currently migrating from Elasticsearch 1.7 to 2.2 and I have a performance issue with the geo_distance query.

My model is simple:
- 20k documents in a type
- each document contains a field with type "array of object" (nested mapping)
- these nested documents contains a "location" field (lat/lon)

I want to filter my root documents by distance.

My search queries:

Elasticsearch 1.7:
[code]

E

[2016-02-05 16:51] lmenezes commented on #16031
We have just upgraded a cluster from 1.4.1 to 2.1, and it seems this is also a problem for us. We did expect issues with the upgrade since we had a lot of queries being explicitly cached.

Anyway, having 2 clusters with the exact same configuration, data and handling exactly the same queries, we have the cluster running 2.1 with a cpu usage 30% higher when compared to 1.4.1.. Part of this could be

[2016-02-05 17:45] nknize commented on #16481
Can you post your mapping? Showing nested type definitions and all.

[2016-02-05 17:57] nknize opened #16482 "Upgrade GeoPointField to use Lucene 5.5 PrefixEncoding"
Lucene 5.5 includes a new `PREFIX_ENCODING` for `GeoPointField` that reduces the number of terms from 8 to 4, and `sizeOf(terms)` from 8 bytes to 5. This gives ~68% savings on index size. The encoding also includes an improved TermEnumerator that provides a slight boost in query performance. The field includes bwc support to guarantee compatibility with `NUMERIC_ENCODING` fields in 2.2. This impro

[2016-02-05 17:59] jasontedor commented on #16480
There is a [repository](https://github.com/elastic/sense) for Sense that would be a better place to report this issue.

[2016-02-05 17:59] #16480 closed

[2016-02-05 18:03] nknize commented on #16444
Hi @matthesrieke

I'll try to reproduce the issue myself in a bit. In the meantime, if you have a chance try explicitly setting ```distance_error_pct : 0.025```.

[2016-02-05 18:07] #16128 closed

[2016-02-05 18:07] jasontedor commented on #16128
I'm closing this since we haven't heard from you; if you do have a script that reproduces the situation, please feel free to attach and reopen.

[2016-02-05 18:17] pierrre commented on #16481
Of course (I removed non relevant fields):
[code]
In my documents `stores` is an array of objects.
There are usually 50-200 nested documents per root document.

I didn't use the "nested" query in my previous message, because it doesn't change anything to the performance issue.
But I still need to use "nested" in my case (I have other fields).

[2016-02-05 19:14] wsw70 commented on #16480
Thanks. [Done](https://github.com/elastic/sense/issues/109).

[2016-02-05 19:19] gmarz opened #16484 "Pipeline aggregations do not return metadata"
https://www.elastic.co/guide/en/elasticsearch/reference/2.2/agg-metadata.html

This works fine for bucket and metrics aggregations, but for pipeline aggregations the supplied metadata isn't returned with the result.

This is a blocker for the .NET client as we're trying to leverage aggregation metadata for deserialization.

[2016-02-05 19:29] phutchins opened #16485 "Plugin does not work with ES 2.2.0"
Get complaints about java permissions but adding them doesn't seem to fix...

[2016-02-05 11:39:42,346][WARN ][discovery.gce ] [homer] Exception caught during discovery: access denied ("java.lang.RuntimePermission" "setFactory") java.security.AccessControlException: access denied ("java.lang.RuntimePermission" "setFactory") at java.security.AccessControlContext.checkPermission(AccessControlContext

[2016-02-05 19:57] spalger commented on #16378
ping

[2016-02-05 19:59] spalger commented on #16378
A new variation on this error message that showed up today, it doesn't list the expected values but does mention the field.

[code]

[2016-02-05 22:27] digitalrinaldo opened #16486 "Unable to parse time with CET as the Time Zone"
I am using 2.1.1 with Java 8

This unit test fails and it fails in Elasticsearch also.  What am I missing

        String parseThis = "Thursday January 28, 2016 00:16:37 CET";
        DateTimeFormatter fmt = DateTimeFormat.forPattern("EEE MMM d, yyyy HH:mm:ss zzz");
        DateTime dateTime = fmt.parseDateTime(parseThis);

        This one passes

        String parseThis = "Thursday January 28,

[2016-02-05 23:14] reflection opened #16487 "Groovy script in aggregation not working in 2.2"
Reported problem in 2.0 (#14273), but this time around there are different errors:

Here's the aggregation expressed in elasticsearch-dsl-py (which works fine in 1.x):
[code]
In 2.2 we get this error:
[code]

[2016-02-05 23:19] ThomasdOtreppe opened #16488 "Missing Suite and Origin in ElasticSearch Release file"
I've been using Ubuntu automatic updates on my servers and it has been working fine for a few years. I'd like to be able to do the same with ElasticSearch. I found a [post on askubuntu.com explaining](https://askubuntu.com/questions/87849/how-to-enable-silent-automatic-updates-for-any-repository) how to do it.

It tells to look into `/var/lib/apt/lists/` directory and at the files ending with 'Rel

[2016-02-06 00:39] reflection commented on #16487
Nevermind, in 2.2 we either need to disable the new Java Security Manager or whitelist any classes we need.

[2016-02-06 00:39] #16487 closed

[2016-02-06 04:54] robison commented on #15974
Same. Been seeing exceptionally long recovery times for just a handful of not incredibly large shards.

`  "translog": {
    "recovered": 2413666,
    "total": -1,
    "percent": "-1.0%",
    "total_on_start": -1,
    "total_time": "4.5h",
    "total_time_in_millis": 16535797
  },`

[2016-02-06 06:04] systeminsightsbuild commented on #12055
Should this not be reopned? I just a disk full and now and getting
[code]

This is for 2.1.1

[2016-02-06 06:45] theluxury commented on #15935
I got it with 2.1.1. Did not just upgrade, had 2.1.1 from the start.

[2016-02-06 09:54] bleskes commented on #12055
@systeminsightsbuild sadly there can be many reasons for this can of failure. this specific issue is about translog corruption due to a failure to fully write an operation. This is fixed in 2.0. There might be other issues as well. It's hard to tell from the log line you sent as it misses the part that tells why the shard failed. If you can post that (and feel free open a new issue), we can see wh

[2016-02-06 13:16] martijnvg commented on #14049
@McStork @timini If you're interested in writing your own processor you could take a look at the `geoip` processor which has been developed as a plugin:
https://github.com/elastic/elasticsearch/tree/master/plugins/ingest-geoip

Beware that this is unreleased code and that things may change. Also it is unknown when ingest gets released.

[2016-02-06 13:49] eximius313 commented on #13245
so I'm another victim of this stack trace ;)

[2016-02-06 14:37] jasontedor commented on #16486
[Time zone abbreviations](https://en.wikipedia.org/wiki/List_of_time_zone_abbreviations) are ambiguous. For example `CST` is the abbreviation for five different time zones:

[code]

This is why the [`DateTimeFormat` docs](http://joda-time.sourceforge.net/apidocs/org/joda/time/format/DateTimeFormat.html) says:

[2016-02-06 14:37] #16486 closed

[2016-02-06 18:31] s1monw commented on #15935
this looks like a totally different problem. It seems like you exhausted all your filehandles? can you take a look at this https://www.elastic.co/guide/en/elasticsearch/guide/current/_file_descriptors_and_mmap.html and make sure your system is configured correctly?

[2016-02-06 18:32] s1monw commented on #16378
@spalger I will take a look at these problems

[2016-02-06 19:32] theluxury commented on #15935
Yeah, from http://www.cyberciti.biz/faq/linux-increase-the-maximum-number-of-open-files/, I put `at /proc/sys/fs/file-max` and get back a huge number (1632405). Then I looked at the documents you linked and tried `sysctl -w vm.max_map_count=262144` but still get the same error.

FWIW my ES was working fine yesterday, then I installed Marvel (but couldn't get it to start since I only have ES 2.1.1)

[2016-02-06 19:45] s1monw commented on #15935
when the node is running can I get the output of `curl -XGET 'http://localhost:9200/_nodes/stats/os,process?pretty=true'`

[2016-02-06 19:55] theluxury commented on #15935
[code]

[2016-02-06 20:23] s1monw commented on #15935
[code]

I guess your settings are not applied.

[2016-02-06 20:46] masonjm commented on #15935
The original bug report was a fresh install of 2.1.1 on OSX with Java 7. It was triggered by doing a hard reset on the computer.

Since then I moved to 2.1.4 running on a VirtualBox'd Ubuntu 14.04 install with Java 8. I've gone through the same hard reset sequence several times without issue. I don't know if the problem is fixed in 2.1.4, or if it was related to that specific setup.

[2016-02-06 21:09] theluxury commented on #15935
Cool, I found out how to up that, and it's not giving me the error anymore. I'm now stuck at `[2016-02-06 20:59:01,729][INFO ][gateway                  ] [ip-172-31-2-14] recovered [98] indices into cluster_state`. I looked at my nmon and nothing seems to really be happening. Any idea how to make this faster?

[2016-02-06 21:10] nik9000 opened #16489 "Trim char filter"
It'd be nice to have a trim char filter - you can totally do it with pattern_replace right now but reaching for regexes seems like overkill when you just what to strip trailing or leading characters.

[2016-02-06 21:16] pickypg commented on #16489
Love it. Makes sense when you have common things like DNS names that technically trail with `.` even though no one expects them too.

[2016-02-08 05:34] trejkaz opened #16494 "JarHell check prevents having Derby on the classpath"
We are trying to use Elasticsearch in an application which also happens to have Derby on the classpath.

Setting aside the huge bugs with running under a security manager which the Elasticsearch developers appear to be unwilling to fix but which can be worked around for now by granting additional security privileges to the wildcard code source, JarHell then proceeds to crash, complaining about oth

[2016-02-08 08:11] McStork commented on #14049
@martijnvg Thanks!

[2016-02-08 08:35] clintongormley commented on #16378
@spalger `index` now takes `true`/`false`:  https://github.com/elastic/elasticsearch/pull/16161

What did you do to get the second message? You sure that was on master?

[2016-02-08 08:36] clintongormley commented on #16378
Ah, I see this is about the exception message, rather than this change. OK

[2016-02-08 08:50] s1monw commented on #16494
Putting aside your passive aggressive voice on this ticket, I think you are totally missing to communicate your usecase. Are you embedding Elasticsearch, if so there is no jarhell checks. Are you using Elasticsaerch as a client application then there is not jarhell check. Are you building a plugin then you have to provide a clean classpath that's just what we agreed on which prevents bugs rather t

[2016-02-08 09:11] jpountz commented on #16474
Duplicate of #4847.

Nothing new unfortunately. Aggregations are currently undergoing a significant refactoring that aims at making them parsed on the coordinating node instead of only on the shards. Once it is finished, I think we should look into this feature again.

[2016-02-08 09:11] #16474 closed

[2016-02-08 09:25] wallecnik commented on #16459
I am not sure if I'm doing anything wrong, but running this empty test fails with the same exception:
[code]
I would appreciate the testing framework to be simple as extending the `ESIntegTestCase` class.

[2016-02-08 10:11] pierrre commented on #16481
Even weirder:

I reimplemented the "geo_distance query" with a "script query":
[code]

My search took 200ms! (instead of 3700ms for the "geo_distance query")

[2016-02-08 10:24] pierrre commented on #16481
It's getting worse:

I added a "term query" before the "geo_distance query", to restrict the search to 1 hit:
[code]

There is only 1 document with this id.
It takes 500ms.
(there is only 53 sub documents in the "store" field)

[2016-02-08 10:28] s1monw commented on #16459
hmm this seems like a bug but I wonder how you integrated it into you project? Which version of randomized runner is referenced by your projects since we are granting this permission to `grant codeBase "${codebase.randomizedtesting-runner-2.2.0.jar}" {
`

[2016-02-08 10:29] s1monw commented on #16459
also does it work if you run a build outside of your IDE?

[2016-02-08 10:51] clintongormley commented on #16481
@pierrre Could you set the `profile` parameter to `true` and upload the response please?

[2016-02-08 11:01] #15974 closed

[2016-02-08 11:03] centic9 commented on #16459
For me the only relevant dependencies are

randomizedtesting-runner is not specified explicitely, the transitive dependencies seem to pull in a difference version via the lucene-test-framework:

Version 5.4.1 of lucene-test-framework is listed at http://mvnrepository.com/artifact/org.elasticsearch/elasticsearch/2.2.0

[2016-02-08 11:04] centic9 commented on #16459
And for me it also happens outside the IDE when using Gradle.

[2016-02-08 11:12] wallecnik commented on #16459
Same here, using Maven or Intellij. Dependencies are:
[code]
I've created blank project with only these dependencies and it fails too with the same test class:
[code]

[2016-02-08 11:19] njss commented on #16474
Ok, thank you for the answer.
This is considered a very important feature, right!?

[2016-02-08 11:25] pierrre commented on #16481
Search:
[code]

Profile (I removed the hits):
[code]

I can't use "profile" with Elasticsearch 1.7, but my query is:
[code]

[2016-02-08 11:30] clintongormley commented on #16481
@pierrre thanks. btw - did you reindex your geo-points in 2.2, or reuse geo-points from an earlier index?

[2016-02-08 11:34] kevinliteon commented on #16485
Same for me :+1:

[2016-02-08 12:07] rendel commented on #16459
We are facing a similar issue, but with the elasticsearch test framework. We managed to solve the `modifyArbitraryThreadGroup` and `setDefaultUncaughtExceptionHandler` by setting the `com.carrotsearch.randomizedtesting` dependency to version 2.2.0. However, we stumbled upon another issue about `java.io.FilePermission`.
We are using ESIntegTestCase for our unit tests, and it looks like it does not

[2016-02-08 12:40] pierrre commented on #16481
@clintongormley yes, I created a new index (it's a new Elasticsearch instance), and reindexed all my data.

I also observe the same regression with the "geo_bounding_box" and "geo_distance_range" queries.

[2016-02-08 12:50] s1monw commented on #16459
ok so there are several problems which are unrelated. Adding the right randoimized runner version should fix the problem for @wallecnik - can you check if it does? It's a bug we will have to fix in 2.2.1

[2016-02-08 12:52] s1monw commented on #16459
@rendel @wallecnik are you using our parent pom file?

[2016-02-08 12:53] k-vladyslav opened #16495 "Broken translog on most indexes like NoSuchFileException elasticsearch/data/dev-cluster/nodes/0/indices/logstash-2016.01.04/2/translog/translog-226.ckp"
### Act 1 - Preface
How I run into that issue
* I had elastic 2.0.0 + Kibana 4 + Logstash used as ELK stack.
* Everything was ok until 05 Feb when I logged into server through SSH to check something related to my project task.
* I've spotted that elastic utilize 3-4 cores of my server up to 100% each
* I've shut down elastic, and reviewed it logs
* There was said that
[code]

* I've asked admin to

[2016-02-08 13:04] k-vladyslav commented on #16495
@s1monw @jasontedor plz take a look at related question if have any time.

[2016-02-08 13:11] s1monw commented on #16495
There are tons of bugs fixed along those lines. I don't think upgrading will heal what the bug did to you. The only possibility to help you would have been to get directory listings from you translog files. But apparently you deleted them all?

there are not translog issues known in the later 2.x versions so I am pretty confident you will be ok.

can you tell me why you did this:

Removed all .tlo

[2016-02-08 13:16] rendel commented on #16459
@s1monw, after adding the elasticsearch parent pom:
[code]
to our pom, we still have the same file permission error.

[2016-02-08 13:18] s1monw commented on #16495
btw the solution to your problem would have been simple if you had your tlog files still. You ran into the same issue reported here: https://discuss.elastic.co/t/cannot-recover-index-because-of-missing-tanslog-files/38336/6 and fixed here https://github.com/elastic/elasticsearch/pull/15788

[2016-02-08 13:18] #16495 closed

[2016-02-08 13:21] jimferenczi commented on #16481
@pierre is it the total number of documents with a field named `stores.location` ? Do you have other types with the same field name in your index ? What is the total number of documents in this index (20k ?) ?

[2016-02-08 13:25] rmuir commented on #16459
something isn't right with the maven build here i think. @dweiss gave me a simple repro.

[2016-02-08 13:30] pierrre commented on #16481
@jimferenczi yes, there are 20k root documents with the field `stores.location`.
There are between 50-200 documents in each `stores`fields. (sometimes more)

No, there is only 1 type that uses `stores` & `stores.location` (in the mapping).
I checked with GET `myindex/_mapping`.

GET `myindex/_count` returns 207322.

[2016-02-08 13:56] dweiss commented on #16459
Unfortunately I don't think this was related -- my problem was that the plugin used a custom assembly descriptor (Maven) which after upgrading to ES 2.2.0 didn't include the plugin's security policy, causing errors. A fix to include the security policy worked.

[2016-02-08 14:15] k-vladyslav commented on #16495
@s1monw thank You for response, no worries, I have backups :) Now I answer Ur questions

I didn't delete original problematic indexes except ELK indexes older than 1.5 months from now (I don't need them). Other indexes are backed up in separate folder, and copied back to `./data` folder so I could experiment as much as I need.
I've only deleted old /var/log/elasticsearch/dev-cluster.log file becau

[2016-02-08 14:30] k-vladyslav commented on #16495
@s1monw also solution suggested here https://discuss.elastic.co/t/cannot-recover-index-because-of-missing-tanslog-files/38336/6 won't work bcz I have almost 40 indexes (might that be 400 indexes in case when I keep all ELK data) and translog-226.ckp is not the only file missed even in scope of one index.
So only automatic solution gonna help here.

[2016-02-08 14:35] rendel commented on #16459
I tried to reproduce the issue with a simple maven project, and I found that the cause was due to our custom `path.data` node setting (see below). Removing this custom setting fixed the `FilePermission` error.

[code]

[2016-02-08 14:39] clintongormley commented on #16481
I've tried this out locally, build an index with 1 million random lat/lon points written in 2.1.1 and in a new index in 2.2.0.  Also added in 50 nested docs in each doc, and using the following settings/mappings:

    PUT x
    {
      "settings": {
        "index.number_of_shards": 1,
        "index.queries.cache.type": "none"
      },
      "mappings": {
        "t": {
          "properties": {

[2016-02-08 14:41] s1monw commented on #16459
@rendel thanks for clarifying!!

[2016-02-08 14:53] pierrre commented on #16481
@clintongormley in my mapping, the location field is in a nested documents: https://github.com/elastic/elasticsearch/issues/16481#issuecomment-180479677

I'll try to write a script to create the index/add data.

Yes I run my test on a laptop:
- Intel(R) Core(TM) i7-3610QM CPU @ 2.30GHz (max 3.3Ghz), 4 cores, 2 threads per core
- 8GB RAM
- SSD Samsung 840

I also use the default Elasticsearch confi

[2016-02-08 14:56] s1monw commented on #16495
there is no automatic solution for this. but I can maybe come up with a tool that can help you?

[2016-02-08 14:57] clintongormley commented on #16481
But you're querying it at the root level, because I don't see a nested query anywhere?

No, that's the point.  V2 is in your file system cache, NOT the ES heap, so if you don't have much free space for caching, then it'll need to hit disk all the time.

[2016-02-08 14:58] clintongormley commented on #16481
OK so the difference here is multiple geopoints per field at the root level, I'll try that.

[2016-02-08 15:00] pierrre commented on #16481
In my queries, I need a nested query (there are other fields in my nesteds documents).
But I've got a performance issue even if I don't use a nested query.

[2016-02-08 15:06] wallecnik commented on #16459
Adding the `randomizedtesting-runner:2.2.0` fixes the empty test as @s1monw asked. Thanks for that!

[2016-02-08 15:08] k-vladyslav commented on #16495
@s1monw okay :( I just thought I have missed something in API / CLI docs and that could be solved automatically.
Anyway. I can neglect old logs for now, all critical events gathered from ELK were moved into tasks several days before that incident, so it's ok.
If that will be reproduced in 2.2.x and higher - I'll report again with more details, if U don't mind.
Thank You for Ur time.

[2016-02-08 15:18] martijnvg opened #16503 "Ingest preprocessing for bulk requests should use bulk TP"
Currently ingest node only executes ingest preprocessing on the index thread pool. For both index requests and bulk requests. This should be changed, if pipelines are specified on bulk requests the bulk TP should be used for ingest preprocessing.

[2016-02-08 15:39] clintongormley commented on #16481
OK, with 100,000 docs, each with 50 random geopoints, v1 takes about 2 seconds for me, regardless of how many docs match.  v2 varies dramatically with the number of docs that match, eg if i set the distance to 10km (5 docs) it takes 13ms, for 100km (751 docs) it takes 80ms, for 1000km (54,747 docs) it takes 2,200ms, and for 10000km (88,551 docs) it took 100 seconds!

The times for v2 with a geo-bo

[2016-02-08 16:13] rohitkumarbhagat opened #16504 "Multifield aggregation"
Is there a way to find aggerated values based on more than one fields for example average of difference of two integer fields of a document?

[2016-02-08 16:45] s1monw commented on #16378
i think this one is stale - I can't fine it anymore.... I will have a fix for the others.

[2016-02-08 16:49] pierrre commented on #16481
Here is a script (Go) to reproduce the issue: https://gist.github.com/pierrre/1b95f47d25d30e03316c

[2016-02-08 17:27] jasontedor commented on #16488
I'm interpreting this to mean that you want automatic and unattended *upgrades* to the Elasticsearch installation. I advise *very* strongly against this, or any other course of action that does not involve testing that an upgrade is not to going to break your dependencies of Elasticsearch. An unattended upgrade for a server process is *very* risky and such an upgrade should be performed deliberate

[2016-02-08 17:32] pmusa commented on #7513
+1 for that as a dynamic setting. I am trying to set it in found and it is not possible currently.

[2016-02-08 17:49] ThomasdOtreppe commented on #16488
Could you elaborate why you don't see a reason to fix the file?

[2016-02-08 17:50] pweerd opened #16512 "search_analyzer without analyzer, and/or docvalues with analyzer"
When a field is not analyzed on index time, it is not possible to specify a search_analyzer.
I get a "analyzer on field [xxx] must be set when search_analyzer is set" exception.

To me this does not make sense. I can set a keyword analyzer on the field to circumvent this exception, which does exactly the same thing. However, while doing that, I cannot enable doc_values.

I find myself duplicating

[2016-02-08 18:00] andrejserafim commented on #16459
Adding the `randomizedtesting-runner:2.2.0` does indeed fix the basic test. Thank you for that.

However I'm still getting some proxy related security exceptions. Could you give me a hand with these?

A repro:

[code]

Exception:

[code]

[2016-02-08 18:06] jasontedor commented on #16488
I'm truly sorry that the double negative was confusing. To be perfectly clear, I think that it *should* be fixed and I am unable to come up with any reasons why it should not be fixed. :)

[2016-02-08 18:22] soichih commented on #15267
I've been hit by this issue for the last couple of weeks, and I still can't figure out what exactly I need to do to fix it.. I don't know what "field data" is for one thing.

Am I correct to assume that, I am doing something wrong with the way I am feeding the data? Is there something I need to do on my filter?

Interestingly, I am not having this problem on an ELK instance where I am loading data

[2016-02-08 18:26] nknize commented on #16481
Thanks for the reproduction @pierrre. There's an issue with multiple geo-fields in Lucene 5.4.1. I have a fix that will be available in the ES 2.2.1 release.

[2016-02-08 18:26] threejeez opened #16514 "ElasticSearch Allows Decimal For Type BYTE"
ElasticSearch documentation states:

`The number types have the same ranges as corresponding Java types`

[Java types](http://docs.oracle.com/javase/tutorial/java/nutsandbolts/datatypes.html) is linked and states the following:

`The byte data type is an 8-bit signed two's complement integer.`

Yet when I have a field mapped as type "byte" I can store a decimal when indexing it as a number. When I

[2016-02-08 18:57] abulhol opened #16515 "Return IP type for inner hits in IP format (dot decimal)"
Data of type IP is returned in decimal equivalent of 32bit for inner hits (as fielddata_fields).
I have not found a way to return them in dot decimal format (x.x.x.x).

I have put this question up for discussion in the forum a while ago:
[https://discuss.elastic.co/t/return-ip-field-from-inner-hit-in-dot-decimal-format/40452/3](url)
but nobody seems to have an idea how to solve it.

[2016-02-08 19:10] s1monw commented on #16459
fixed by https://github.com/elastic/elasticsearch/commit/6fe88cee78c72fde021898eb79883c12edf07c3d

[2016-02-08 19:10] #16459 closed

[2016-02-08 19:11] s1monw commented on #16459
@andrejserafim you can't just use arbitrary things in the ES test framework. If you are testing a plugin you have to give it the right permissions first.

[2016-02-08 19:13] jasontedor commented on #16515
Duplicates #16290

[2016-02-08 19:13] #16515 closed

[2016-02-08 19:25] freeguwop opened #16517 "Logstash -b is unrecognized option."
Has this been deprecated without warning? I no longer see this option in logstash which is weird because I see it here https://github.com/elastic/logstash/blob/master/logstash-core/lib/logstash/pipeline.rb and in the documentation.

`./logstash -b
Clamp::UsageError: Unrecognised option '-b'
  signal_usage_error at /opt/logstash/vendor/bundle/jruby/1.9/gems/clamp-0.6.5/lib/clamp/command.rb:103

[2016-02-08 19:32] freeguwop commented on #16517
The following is the only valid configuration flags that I am allowed to pass:

`Options:
    -f, --config CONFIG_PATH      Load the logstash config from a specific file
                                  or directory.  If a directory is given, all
                                  files in that directory will be concatenated
                                  in lexicographical order and then parse

[2016-02-08 19:40] jasontedor commented on #16517
There is a dedicated [repository](https://github.com/elastic/logstash) for Logstash.

[2016-02-08 19:40] #16517 closed

[2016-02-08 19:47] ThomasdOtreppe commented on #16488
You have a good point, that's a bad idea. It's not much of a problem for Logstash (it has been pretty stable and there only has been 2 breaking changes since the first time I used it and now and those were easily fixed)

[2016-02-08 19:52] s1monw commented on #16495
@k-vladyslav just to double checking can I get a copy of `./dev-cluster/nodes/0/indices/logstash-2016.01.04/2/translog/translog.ckp`

[2016-02-08 20:05] bleskes commented on #16512
I believe you :) . Can you give a concrete example? I think it will help understanding the need for the request / perhaps offer an alternative?

[2016-02-08 20:05] freeguwop commented on #16517
Apologies, my bad.

[2016-02-08 20:06] gmarz commented on #13521
I think we should be able to set the Jvm key using %JAVA_HOME% rather than hard coding it (similar to @skwasjer's fix above).  Will open a PR for this soon.

[2016-02-08 20:26] trejkaz commented on #16494
We're embedding it, but the JarHell checks are still being done.

[2016-02-08 20:30] pierrre commented on #16481
Lucene issue: https://issues.apache.org/jira/browse/LUCENE-7018

[2016-02-08 20:58] s1monw commented on #16494
are you installing plugins?

[2016-02-08 21:23] abulhol commented on #16515
Hi Jason,
I know that I reported this before, but I do not see any real solution to this issue.
It may look trivial, but once you need to look at IP addresses, it is crucial.
Any suggestions welcome.

[2016-02-08 21:37] huntc commented on #13245
I'm now quite confused. When running as a server is JNA required? If so then you have another problem. JNA is LGPL thus violating your Apache 2 license declaration. Please clarify on the optionality of JNA and the impact on your license. Thanks.

[2016-02-08 21:42] jasontedor commented on #13245
JNA is dual-licensed with [Apache License 2.0](https://github.com/java-native-access/jna/blob/0c28025558cb88431c99bb7b89f631e6888d5bad/LICENSE) since version 4.0.0 of JNA.

[2016-02-08 22:10] trejkaz commented on #16494
Yeah, we have the analysis-icu and analysis-kuromoji plugins present.

[2016-02-08 22:17] trejkaz commented on #16494
Sample test:

[code]

Fails with:

[code]

[2016-02-08 22:46] imotov opened #16519 "Newer snapshot shards may be allocated on older nodes"
In a mixed cluster with a newer master node and a mixture of older and newer data nodes, shards from a snapshot compatible with newer data nodes might be randomly assigned to older data nodes where they cannot be restored.

The problem is reproducible using SnapshotBackwardsCompatibilityIT.testBasicWorkflow with the following command line in 2.x branch

[code]

This test fails because it tries to

[2016-02-08 23:00] rjernst commented on #16494
@trejkaz I see your test is trying to run an elasticsearch node in the same process as your tests, along with having plugins already installed in a "special directory". This won't work because the plugin service is meant to be used by elasticsearch running as a server, which is what starting a node in the way you are does.  In the master branch of ES, we have removed NodeBuilder and replaced it wi

[2016-02-08 23:16] camilojd commented on #16131
Please see my implementation at https://github.com/camilojd/elasticsearch/commit/f80b6271870eb4a9e82649d985c0fa691de4831f. Some comments/questions follow.

I'm consolidating file sizes using the same criteria of `SegmentsStats` to expose disk usage of Lucene index files: `Terms`, `TermVectors`, `StoredFields`, `Norms`, `DocValues` (class `IndexResources` in `SegmentsStats`).

`SegmentsStats` curre

[2016-02-08 23:24] huntc commented on #13245
Thanks @jasontedor ! I had not noticed the dual license. I shall update our licensing tool!

[2016-02-09 01:44] talevy commented on #16019
Aren't we achieving this by leveraging the `nodeOrdinal` in the test?

On this note,
I have begun exploring this while adding tests to the new pipeline validation. I am attempting to set up a cluster where one node has a certain plugin installed, while the other does not. From the way I see it, `nodePlugins` method can take in a `nodeOrdinal` just like the settings.
what do you think?

[2016-02-09 02:49] trejkaz commented on #16494
This workaround works, using

        Environment environment = InternalSettingsPreparer.prepareEnvironment(settings, null);
        Collection<Class<? extends Plugin>> plugins = ImmutableList.of(AnalysisICUPlugin.class, AnalysisKuromojiPlugin.class);
        return new Node(environment, Version.CURRENT, plugins){}.start();

instead of the builder. The settings are identical. And in many ways, hav

[2016-02-09 02:55] prashanttct07 opened #16523 "Loading templates via templates/ directory is not working"
Loading templates via templates/ directory is not working with elastic 2.x , so is this feature removed or its a bug?

That is I placed my templates in $HOME/config/templates/abc.json

But it was not taken while index creation in 2.x, where as its working with 1.7.1

[2016-02-09 04:35] nknize commented on #16481
update: feature branch cut. Bug fix back ported. 5.5 will be cut on Wed. There are a few other relational fixes I'm going to back port to 5.4.2. Will keep this issue updated when 5.4.2 is released.

[2016-02-09 06:52] dadoonet commented on #16523
Removed. See https://github.com/elastic/elasticsearch/pull/11052

[2016-02-09 06:52] #16523 closed

[2016-02-09 07:40] martijnvg commented on #16019
Right not this is the only way how we can test it and I think for now this okay. However because we're extending from `ESIntegTestCase` we setup the nodes in a non realistic setup. (we use random settings that are unlikely to be used in production and the nodes aren't started from as one would normally do in production (using one of our assemblies and start it from the command line) ) So ideally t

[2016-02-09 08:19] fxh opened #16525 "NullPointerException for has_child query with avg score_mode and explain turned on"
Elasticsearch version 2.2.0
java version 1.8.0_25

Steps to reproduce:
[code]

The query raises a NullPointerException and returns:

[code]

'avg' is the only score_mode that raises this exception, other modes work correctly. Also if I turn explain off, the exception is not raised.
In version 1.3.7 of Elasticsearch the above sequence works without raising an exception. I have not tested any versio

[2016-02-09 08:19] matthesrieke commented on #16444
hi @nknize
thanks for investigating. indeed, setting `distance_error_pct` (even to a very small double, e.g. 0.0001) seems to resolve the memory error and improve performance!

[2016-02-09 08:23] martijnvg commented on #16525
@fxh Thanks for reporting, this is clearly a bug.

[2016-02-09 08:38] pkphlam opened #16526 "Highlighting for top hits aggregations"
According to the documentation for top hits aggregations (ES 2.1), there is support for highlighting of the hits returned. Is there an example of how to implement this?

I've tried the following (bucket agg combined with top hits agg) and it doesn't seem to return any highlighted fields:

[code]

[2016-02-09 08:53] ywelsch opened #16527 "Remove suppressAccessCheck permission for Groovy script plugin"
As part of #16196, the (undesirable) `supressAccessChecks` permission was granted to the ES Groovy plugin to not break existing scripts with Groovy closures running under the security manager. At the same time, a patch was contributed to Groovy (https://github.com/apache/groovy/pull/248 and https://issues.apache.org/jira/browse/GROOVY-7735) that makes it possible to use Groovy closures under a sec

[2016-02-09 08:57] k-vladyslav commented on #16495
@s1monw it was sent to Your Github profile email.

[2016-02-09 09:05] martijnvg commented on #16526
How is `text.stemmed` field mapped in your mapping?

[2016-02-09 09:10] pkphlam commented on #16526
[code]

I should note that highlighting on `text.stemmed` works perfectly fine in a regular search (not in an aggregation).

[2016-02-09 09:34] habibcs opened #16528 "Unable to run Elasticsearch (2.2.0) windows service"
Hi,

Installed the service from zip (windows 8.1 professional - developer machine) with all default options.
JVM is present and all settings seems to be alright.

**- service install -> installs perfectly**
**- service manager (then start - argument: start) -> service starts and then stops (logging mode set to Debug)**

**elasticsearch-service-x64-stderr.2016-02-09.log** =>
2016-02-09 10:00:32 Com

[2016-02-09 11:36] javanna commented on #16450
I think there are two problems here:

1) we don't validate (yet) analyzer settings, so non valid ones are accepted and stored in the cluster state. Same as #16451 .

2) analyze api and create index api are inconsistent, same as #15189.

I will close this issue as duplicate then as we already have specific issues for each of the corresponding problems. Thanks for opening this though ;)

[2016-02-09 11:36] #16450 closed

[2016-02-09 12:46] orangeudav opened #16534 "Not greedy behaviour of "must_not" for array field of terms"
For example, i have two records with 'name' field:
{_id: 1, name: ['aaa', 'bbb']}
{_id: 2,  name: ['aaa']}
When i execute search query like this
`{must_not: [{term: { name: 'bbb' }}]} `
i get only 2. How can i get [1, 2] (not exclude 1 because it contain not only 'aaa') as result without addition efforts? Do ES have some flag to change greedy of must_not?

[2016-02-09 13:44] mfussenegger opened #16535 "multi_match query different scoring results 1.7 - 2.1"
We're in the progress of upgrading to ES 2.1 and have noticed that some queries now have different results.
I'm trying to figure out the root cause. So far my guess is that it is a analyzer change within Lucene.

Here is the mapping I'm using:

[code]

Here are the records:

[code]

And this is the query:

[code]

In 1.7 the top 2 hits are

[code]

and in 2.1 they are:

[code]

I've also tried to

[2016-02-09 13:49] danielmitterdorfer commented on #16011
@dakrone: First of all, thanks for your thoughts.

With the current implementation this is not as easy as I've added a `LimitingInputStream` and an `LimitingOutputStream` which wraps the actual streams. Therefore, size limiting is transparent to the user. We could make the client aware though and expose an additional method for disabling limit tracking.

Another approach I am thinking of is to dec

[2016-02-09 13:51] centic9 commented on #16475
FYI, the following things can be excluded in Gradle builds when only the client-side of Elasticsearch is used:

configurations {
    // exclude some unneded Elasticsearch parts
    all*.exclude group: 'org.apache.lucene', module: 'lucene-backward-codecs'
    all*.exclude group: 'org.apache.lucene', module: 'lucene-expressions'
    all*.exclude group: 'org.apache.lucene', module: 'lucene-highlighte

[2016-02-09 14:00] imotov commented on #16321
@ywelsch I see. I thought about partial snapshot as an emergency override that someone would deploy during a catastrophic event when they have a half working cluster and would like to make a snapshot of whatever they have left before taking some drastic recovery measures. During these highly stressful events the user might inadvertently close a half backed up index while thinking that they have a

[2016-02-09 14:01] rmuir commented on #16535
This is enough to do it. If you want consistent scoring, you need to enable distributed term statistics, otherwise the IDF values used are based on local information, not global.

See https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-search-type.html

[2016-02-09 14:16] spinscale opened #16536 "Groovy: Reflection causes exceptions after several runs"
A user in the [watcher forum](https://discuss.elastic.co/t/failed-to-execute-watch-transform-noclassdeffounderror/41257/5) hit a `ClassNotFoundError`, after a watch ran successful several times.

Turns out this is a groovy issue and can be reproduced using this test:

[code]

@ywelsch already found out, that one can trigger this immediately by setting the `-Dsun.reflect.noInflation=true` property.

[2016-02-09 14:22] ywelsch commented on #16536
The reason it fails is that after 15 iterations inflation kicks in. An explanation of inflation is given here:
https://blogs.oracle.com/buck/entry/inflation_system_properties
The following stackoverflow post also has some information:
http://stackoverflow.com/questions/20527776/why-does-my-custom-securitymanager-cause-exceptions-the-16th-time-i-create-an-ob

Adding the following permission to plug

[2016-02-09 14:26] ywelsch commented on #16536
@rmuir would it make sense to add `sun.reflect.ConstructorAccessorImpl` and `sun.reflect.MethodAccessorImpl` to `STANDARD_CLASSES` in `ClassPermission`?
I'm not sure whether other script plugins might be affected by this issue.

[2016-02-09 14:35] nik9000 commented on #16475
Thanks for that.

I've *wanted* to remove dependencies from the Client but it just feels like a better idea to build a java client. On the other hand I'm not actively doing that right now either. So I don't really know what to say.

[2016-02-09 14:40] mfussenegger commented on #16535
But shouldn't the local IDF values be deterministic if _id isn't randomly generated? The shard allocation should be deterministic which should result in the shards/lucene-indices having the same documents.

You're right in that if I change number_of_shards to 1 I get the same results in both 1.7 and 2.1 - could it be that the routing allocation algorithm changed?

[2016-02-09 14:41] rmuir commented on #16536
The issue may be groovy specific. Groovy is the only one that tries to access sun.reflect directly, hence the only one with this:
[code]

[2016-02-09 14:46] rmuir commented on #16536
Also note that groovy runtime already has ConstructorAccessor, because only a constructor was reflected in a loop:
[code]
So i would add the other inflation-related class right there beside it, just for groovy. We should add a loop test for the case. If we can add the same loop test to Javascript/Python to show it works fine without this, that would be nice.

[2016-02-09 14:57] mfussenegger commented on #16535
Okay, thanks for the pointer in the right direction. Murmur is now used - it's even documented in the mapping changes.
Due to that the distribution is different from before and due to that the scoring is different.

[2016-02-09 14:57] #16535 closed

[2016-02-09 15:01] bsideup opened #16537 "top_hits and sub-aggregations"
Hi!

Why top_hits doesn't allow to have sub-aggregations?

I.e. I want to calculate a median of last N hits in each category

[2016-02-09 15:17] #16378 closed

[2016-02-09 15:27] javanna commented on #15560
If the problem is speed, I would recommend to test it before declaring it a problem, it might very well be that it's ok. There may be alternatives using the terms vectors api to extract the top K terms and create the boolean query yourself based on those terms, but it would make things slower than using the plain highlighter I suspect.

[2016-02-09 15:49] s1monw commented on #16494
oh great you found a solution.

[2016-02-09 15:49] #16494 closed

[2016-02-09 16:09] andreip commented on #15560
We tested with plain and it seems fine. Issue is solved, thanks for looking
into this and providing an alternative!
On 9 Feb 2016 5:28 p.m., "Luca Cavanna" <notifications@github.com> wrote:

[2016-02-09 16:16] #16303 closed

[2016-02-09 16:39] #16536 closed

[2016-02-09 16:41] javanna commented on #15560
thank you for getting back to us @andreip . Good to hear the plain highlighter works well for you.

[2016-02-09 16:41] #15560 closed

[2016-02-09 16:44] apanimesh061 opened #16544 "Getting Shard failures for a quoted string search query"
I am using Elasticsearch 2.2.0.

I have the following schema for the index:

[code]

I index 5 documents and I even test it in the code as follows:

[code]

I notice that the query for `quotedPhrase` results in the following errors arbitrarily:

- Shard Failures
[code]
- No hits
[code]
- Sometimes that test passes.

**UPDATE**: This works in ES 2.1.1 but not in ES 2.2.0

Other details:

1. I am us

[2016-02-09 17:14] dakrone commented on #15550
Closing this as I haven't heard back, feel free to comment if it's still an issue.

[2016-02-09 17:14] #15550 closed

[2016-02-09 17:17] pjo256 opened #16546 "Missing other bucket in FiltersAggregation"
Currently, `FiltersAggregator::buildEmptyAggregation` does not check if `other_bucket_key` was set on the request. This results in a missing `other` bucket in the response when no documents were matched. Is this intended?

Here's a snippet from a date histogram agg with a filters agg.

[code]

[2016-02-09 17:17] colings86 commented on #16484
@gmarz which pipeline aggregation are you seeing this with? (or is it all of them?) Do you have a recreation script I can run to show the bug?

[2016-02-09 17:18] colings86 commented on #16484
Actually never mind, didn't see you already have a fix

[2016-02-09 17:19] martijnvg commented on #16537
because the `top_hits` agg is a metric aggregations and metric aggs can't
have sub aggs.
How would you determine what last N hit would be the median? On what field
are you going to sort? Maybe instead use the `percentile` agg?

On 9 February 2016 at 16:01, Sergei Egorov <notifications@github.com> wrote:

--
Met vriendelijke groet,

Martijn van Groningen

[2016-02-09 17:26] gmoskovicz opened #16547 "Filtered Aliases don't work"
Easy steps to repro:

1. Crete and index
2. Put an alias
3. Display the alias
4. Check that the filter is not presented

[code]

Result

[code]

[2016-02-09 17:30] gmarz commented on #16484
Yea, sorry I wasn't clear enough originally, it's with all pipeline aggregations.

[2016-02-09 17:48] gmoskovicz commented on #16547
Creating an index and an alias at the same time work though:

[code]

[code]

[2016-02-09 17:54] bsideup commented on #16537
@martijnvg I use "sort" from top_hits for such decisions.

Also, I need to calculate median of exactly last N hits in each category, I can't calculate median (aka 50th percentile) of all hits :(

[2016-02-09 18:03] gmoskovicz opened #16549 "NullPointerException when ALIAS is missing"
The issue is: https://github.com/ywelsch/elasticsearch/blob/bef0bedba9e4d3417205eee7a0601eaf9763a831/core/src/main/java/org/elasticsearch/action/admin/indices/alias/IndicesAliasesRequest.java#L289

Which should be `aliasAction.aliases == null || aliasAction.aliases.length == 0`.

Now for the following request:

[code]

We get the following errors:

[code]

[code]

[2016-02-09 18:06] gmoskovicz commented on #16549
This was introduced in #15305

[2016-02-09 18:11] gpstathis opened #16550 "Has child query forces default similarity"
Déjà vu of #4977 on 2.2.0. The `has_child` query seems to only use the default similarity when scoring child documents. Even the built-in non-default similarities don't seem to be picked up. See the curl statements below for reproducing. I reached out to @imotov who confirmed this issue on `master`.

No promises on a PR this time but we'll start looking into it and see how far we can get.

`curl`

[2016-02-09 18:15] gmoskovicz commented on #16547
The bug is here https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/rest/action/admin/indices/alias/RestIndicesAliasesAction.java#L136

Now the code looks like:

[code]

Previously it was:

[code]

The `.filter(filter)` is missing!

[2016-02-09 18:34] drush opened #16551 "FEATURE REQUEST: parent.field query support for query_string queries"
I am requesting that query_string queries be able to specify parent fields as part of the query_string query. This should not cause any scaling challenges as parent-child mapping ensures that both documents will be located on the same shard, the syntax is well supported for nested data, and this is an intuitive use case for parent mappings.

Currently there are two terrible ways to return Children

[2016-02-09 18:37] rjernst commented on #16534
Please use http://discuss.elastic.co for questions like this. Github is used for bug reports and feature requests.

I don't know why you think this has anything to do with "greedy". In doc 1, `aaa` and `bbb` are separate terms. The must not query you use finds the `bbb` term and excludes that document. It sounds like you are looking for something to say "must not have only this term". There is no

[2016-02-09 18:37] #16534 closed

[2016-02-09 19:44] gkop commented on #15670
@brwe another benefit of what's proposed here if I understand correctly is one could use score_mode `avg` which could be weighted by `influenceScore` to generate scores nicely distributed on a range. This can be accounted for now in the client by passing `influenceScore` as a param to our query, and keeping a running sum of the influence scores, but it would be quite amazing if the server took car

[2016-02-09 19:44] andrewvc commented on #16551
+1 .

I'm wondering about the complexity here. AFAIK the query string query is a Lucene feature exposed by ES, and parent/child is ES only. I'm not sure what the technical implications of doing this would be, since I think it would require moving the query string syntax code into the ES core, which IIRC is in Lucene core ATM.

[2016-02-09 19:55] ctf2009 opened #16554 "Incorrect default value documented for cluster.routing.allocation.allow_rebalance in 2.1 documentation"
The documentation located here: [Cluster Level Shard Allocation](https://www.elastic.co/guide/en/elasticsearch/reference/2.1/shards-allocation.html)

States that the default setting for `cluster.routing.allocation.allow_rebalance `is "`always"`
It actually appears to be `"indices_all_active" `

[2016-02-09 20:07] ApproximateIdentity opened #16555 "Varrying numbers of results from scan and scroll"
Right off the bat, here's a little info:

[code]

I've seen some similar posts, but I've had trouble squaring their results with mine. I've noticed that I have do not receive consistent numbers of documents when running scan and scroll in elastic search. Here is python code exhibiting the behavior (hopefully the use of sockets is not too confusing...at first I was trying to make sure the problem h

[2016-02-09 20:46] #16547 closed

[2016-02-09 20:46] #16549 closed

[2016-02-09 20:50] Raydius commented on #16551
+1 definitely helpful

[2016-02-09 21:00] jorgemrsantos opened #16558 "Failed to create repository Unknown [repository] type [azure]"
I just installed the azure plugin and I'm getting this weird error when I try to create the repository:

[code]

returns

[code]

I don't think its about my the configuration as I was getting the same error for an S3 type repository, installed the S3 plugin and started getting  "No bucket defined for s3 gateway" which makes sense to me.

I'm just using the repo for EC snapshots and my config is pr

[2016-02-09 21:15] tdoman commented on #15550
Yes thanks Lee, I still need to get back to this one and figure out why you can't reproduce w/ the mapping you gave.  I must be missing some detail.  I'll definitely ping you if I can get to the bottom of it.

[2016-02-09 21:48] mabeller commented on #16551
+1

[2016-02-09 21:49] gmarz commented on #13877
@bittusarkar ES_HOME isn't set globally, so the service won't pick up on it since it's ran separately in it's own process.  Even if we set it globally (which is probably a bad idea) you're still relying on environment variables- the only difference being local vs global.

What if you try `System.getProperty("es.path.home")` instead?

[2016-02-09 21:57] reevesch opened #16560 "More Like This Query does not work with aliases"
More Like This Query with docs as input does not with if you use an alias as the index for the doc

[2016-02-09 21:57] dadoonet commented on #16558
Can you gives your logs please? What gives `GET _cat/plugins?v` please?

[2016-02-09 22:05] soaxelbrooke opened #16561 "No documentation on what stopwords are in each set"
For instance, there is no documentation of what words are in the `_english_` stop words set.

[2016-02-09 22:16] gmarz commented on #16528
@habibcs can you also share your `elasticsearch.log` file?

[2016-02-09 22:29] cbuescher commented on #16560
This looks somewhat similar to the question raised in this issue: #13348.
Please take a look and feel free to reopen this issue if needed.

[2016-02-09 22:29] #16560 closed

[2016-02-09 22:45] KeithTr opened #16563 "Conflicting doc values in mappings causes shard initialization failures"
I found a way to create conflicting mappings using doc values in Elasticsearch 2.2.0.

Steps to reproduce:

    # Create index with doc values enabled
    curl -XPUT localhost:9200/index -d '{
        "mappings": {
            "type1": {
                "properties": {
                    "field_name": {
                        "type": "string",
                        "index": "not_analyzed",

[2016-02-09 23:36] pickypg opened #16564 "Restore should check disk availability"
Currently, restoring from a snapshot can lead to running out of disk space because it does not check the amount of available space on nodes before executing.

We should check for available disk space before attempting to restore.

[2016-02-09 23:51] pickypg opened #16565 "Node not marked as client unless node.client: true"
From a cluster running ES 2.1.1 (or ES 1.x) with 8 nodes, two of which were client nodes:

[code]

produces:

[code]

These nodes were set to being client nodes implicitly by using

[code]

It appears that the node.client count is only tripped when using `node.client: true`, but it should be `node.client || (node.master || node.data || node.ingest) == false`. This should be done at the source wher

[2016-02-10 01:29] msimos opened #16568 "Upgrade instructions for Disabling allocation are wrong for 0.90.x"
https://www.elastic.co/guide/en/elasticsearch/reference/current/restart-upgrade.html#_step_1_disable_shard_allocation_2

https://github.com/elastic/elasticsearch/edit/2.2/docs/reference/setup/cluster_restart.asciidoc

For 0.90.x to 1.x says to do  "cluster.routing.allocation.disable_allocation": false to disable allocation. I believe this is wrong. To disable allocation 'disable_allocation' should

[2016-02-10 04:49] pkphlam commented on #16526
Hmm okay so for future reference, the answer to this is that highlight must be defined BOTH outside and inside the aggregation for it to work, not just one or the other.

[code]

[2016-02-10 05:56] bittusarkar commented on #13877
Awesome! `System.getProperty("es.path.home")` works for me.

[2016-02-10 05:56] #13877 closed

[2016-02-10 06:03] rajagopals commented on #8486
+1

[2016-02-10 07:10] raunakb94 opened #16570 "Problem with dynamic multifields"
# All the fields that are being added to the index does not have a corresponding analyzed mapping.
I am using a template mapping for my indexes as
`{
  "template": "log",
  "settings": {
    "number_of_shards": 20,
    "number_of_replicas": 1,
    "refresh_interval": "30s"
  },
  "mappings": {
    "error": {
      "_all": {
        "enabled": false
      },
      "dynamic_templates": [{
        "s

[2016-02-10 07:12] raunakb94 commented on #16570
One of the payloads was

{
    "userAgent": "Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.103 Safari/537.36",
    "osVersion": "8.1",
    "osName": "Windows",
    "timestamp": "2016-02-08T14:17:43Z",
    "event": "Storage frame sent failed status [un-false] [ls-false] [v4-true] M0",
    "referer": "https://www.****.com/",
    "ip": "45.126.204.12

[2016-02-10 07:36] martijnvg commented on #16526
This is unexpected. Highlighting specified inside a `top_hits` agg should work irregardless if normal highlighting is specified.

[2016-02-10 08:11] pweerd commented on #16512
Trying to index TV shows.
First attempt:

curl -XPUT localhost:9200/tv_shows -d'
{
   settings: {
      "analysis" : {
         "analyzer" : {
             "lc_text" : {
                "tokenizer" : "keyword",
                "filter": ["lowercase", "asciifolding"]
             }
          }
      }
   },
   "mappings": {
      "doc": {
         "properties": {
            "tv_show": {"type": "st

[2016-02-10 08:16] habibcs commented on #16528
[logs.zip](https://github.com/elastic/elasticsearch/files/124367/logs.zip)
Hi in the log folder (subfolder inside elasticsearch folder) - these are the only log files - same as what I pasted above.

[2016-02-10 09:40] schmorgs commented on #16406
Hi, I have the exact same problem.  Settings worked in 2.1.0 but broke in 2.2.0

I tried your suggestion but in my case, I only want ES to listen on loopback as we have it behind a reverse proxy.  When I add both interfaces to network.host, it means the port is open externally as well.

If I then override network.bind_host to 127.0.0.1 only, it breaks the cluster again.

This breaks :
[code]

This

[2016-02-10 09:41] #16239 closed

[2016-02-10 10:49] #16503 closed

[2016-02-10 11:48] colings86 commented on #16164
@zdrummond I took a look at the data you provided us. It looks like there are documents that have a `collection_id` field but do not have a `collection_id.raw` field. You can see this if you add a missing aggregation alongside `"3"` looking at the field `collection_id.raw`.

Did you add the multifield for `collection_id.raw` after you have done some indexing into 07-01-2016? Or maybe the template

[2016-02-10 12:08] sysmonk opened #16575 "host field in _cat/nodes is always an IP address"
I've upgraded my elasticsearch cluster from 1.7.4 to 2.2.0 yesterday, and i noticed that _cat/nodes?v now always returns an IP address in the "host" field.

ElasticSearch 2.2 Example:
[code]

Previously, in ElasticSearch 1.7.4 it had the 'host' field populated with the hostname (same as the 'name' field).
I've tried setting network.bind_host network.publish_host network.host to the hostnames, even

[2016-02-10 12:28] sysmonk opened #16576 "field mapping conflicts are critical errors?"
Hi,

I've upgraded our ES cluster from 1.7.4 to 2.2 yesterday. Before updating, i've run the migration plugin to check for errors. It showed two BLUE alerts - one about boolean fields returning 0/1 rather than T/F, and the other one about mapping field conflicts.
The mapping field conflict warning was because i had a bug in my mapping with _source specified as a field. The migration plugin noted t

[2016-02-10 12:58] harishkannarao opened #16577 "simple_query_string gives java.lang.IllegalArgumentException: Illegal shift value, must be 0..63; got shift=2147483647"
Hi Team,

I have got the following error when using simple_query_string with multiple fields containing numeric field.
Version: 2.2.0
OS: Windows

**Sample data:**
`curl -XPUT http://localhost:9200/blog/post/1 -d '{"foo":123, "bar":"xyzzy"}'`
`curl -XPUT http://localhost:9200/blog/post/2 -d '{"foo":456, "bar":"xyzzy"}'`

**Use simple_query_string with multiple fields**
`curl -XGET http://localhost

[2016-02-10 13:25] jorgemrsantos commented on #16558
Here goes
`[2016-02-09 20:54:17,883][WARN ][repositories             ] [Caregiver] failed to create repository [azure_backup]
RepositoryException[[azure_backup] failed to create repository]; nested: IllegalArgumentException[Unknown [repository] type [azure]];
	at org.elasticsearch.repositories.RepositoriesService.createRepositoryHolder(RepositoriesService.java:411)
	at org.elasticsearch.repositori

[2016-02-10 13:50] hemraj-sharma opened #16578 "Data loss due to unassigned shard status on restarting application."
Hi...

I am using play-java framework and also implemented elastic in my code. Its working fine till the application is in running mode. But when i restart application some shards get unassigned due to which data loss occurs.

Way to get client>>>>>>

public class ElasticConfig {
private static  Node node =null;
 static private Node getNode(){
        return nodeBuilder().settings(Settings.builder

[2016-02-10 14:03] dadoonet commented on #16558
It fails because your azure settings are incorrect. It should be:

[code]

Read here: https://www.elastic.co/guide/en/elasticsearch/plugins/2.1/cloud-azure-repository.html

Note that if you upgrade to 2.2, you can use then what you defined. See: https://www.elastic.co/guide/en/elasticsearch/plugins/current/cloud-azure-repository.html

[2016-02-10 14:03] #16558 closed

[2016-02-10 14:19] jasontedor opened #16579 "Elasticsearch does not start as a daemon"
Due to the settings refactoring and the magical action-at-a-distance way that some settings like `es.foreground` are set via system properties, Elasticsearch does not currently start as a daemon (and thus as a service) when built from master:

[code]

Closes #11564

[2016-02-10 14:41] jorgemrsantos commented on #16558
That error message is awfully misleading!

Thank you @dadoonet, changed my settings to what you suggested and it started working.

[2016-02-10 14:45] iliasse-hassala opened #16581 "Indices Recovery Failure after ES upgrade (from 2.1 to 2.2)"
I get the error below after upgrading from ES 2.1 to 2.2.
When i close the related indices (3 among 12) the error disappears but the cluster stucks in red state.

Any help please ?

Logs from Master Node :

[2016-02-10 14:34:16,281][INFO ][gateway                  ] [Node0] recovered [28] indices into cluster_state
[2016-02-10 14:34:16,924][WARN ][cluster.action.shard     ] [Node0] [patentsample][

[2016-02-10 14:50] bleskes commented on #16578
An unassigned shard means the master can not find any shard copies after the restart. Can you check your data folder and see what's in it? Do you see any errors in the ES logs?

PS. you run with no replicas which means that if something goes wrong with the single copy you have  - there is no backup replica to replcae it

[2016-02-10 14:51] abulhol opened #16582 "inner_hits empty if null objects exist in path"
I use top level inner hits to retrieve data from multiple nested documents.
Elasticsearch returns empty inner hits arrays for some of the hits, which is probably due to the existence of null objects inside the nested documents.
Please see a detailed description of the problem in this forum entry:
[https://discuss.elastic.co/t/nested-query-missing-inner-hits/41038](url)
I have looked at these docum

[2016-02-10 14:52] abulhol commented on #16515
Hi again,
I have found the solution to this problem, see here:
https://discuss.elastic.co/t/return-ip-field-from-inner-hit-in-dot-decimal-format/40452

[2016-02-10 14:54] aadmathijssen commented on #9352
I needed this feature as well, in my case to combine a negative score with a positive score. The way they should be combined is that the resulting score is between the negative score and 1; the higher the positive score, the more it should approach 1.

A function that can be used for this is the following, where `ns` represents the negative score and `ps` the positive score:

[code]

The only way

[2016-02-10 15:06] javanna commented on #16565
interesting point. It raises additional questions though, especially with the node ingest addition.

At the moment, when `node.client` is set to true a node cannot become master nor can hold data. Yet we would need to double check what the precedence is if one specifies also `node.data` or `node.master`... When it comes to `node.ingest`, the assumption is that client nodes can do ingestion, so `no

[2016-02-10 15:11] pickypg commented on #16565
I completely agree and I love the idea.

[2016-02-10 15:12] ryanmcilmoyl opened #16583 "'size' parameter ignored when executing a function_score query"
It seems that the order of the keys in the search body matter when executing a function_score query.  Consider these 2 cURL requests:
[code]
    curl -d '{
        "size": 1,
        "query":{
            "function_score":{
                "random_score":{},
                "query":{
                    "bool":{
                        "must":{"match":{"location":"London"}}},

[2016-02-10 15:15] dadoonet commented on #16293
Reopening the issue as I reverted the PR.

[2016-02-10 15:16] dstarh opened #16584 "Elasticsearch Crash"
Since upgrading from 1.6 to 2.1 we've had elastic crash on us twice, once in production and once in staging.  The crash log can be found at https://gist.github.com/dstarh/007ee8d544581f6c0234. The first crash in production, nothing was happening other than normal user searches and the second crash, in staging I was re-building an index.  There's nothing out of the ordinary in the elastic logs them

[2016-02-10 15:18] nik9000 opened #16585 "Does Elasticsearch need to include wrappers for java.util.logging and slf4j?"
Right now Elasticsearch has three logger implementations - one for log4j, one for java.util.logging, and one for slf4j. What does that buy us? The elasticsearch zip, tar, deb, and rpm distributions bundle log4j and logging.yaml doesn't work without it. When Elaticsearch is used as a client library master no longer tries to configure the logger because that is crazy behavior for a library. Normal J

[2016-02-10 15:37] dakrone commented on #16575
I was able to reproduce this and see yeah, the hosts are ip addresses instead of hostnames.

Probably makes sense to sort the nodes so they appear in a consistent order for the output

[2016-02-10 15:40] clintongormley commented on #16584
Hi @dstarh

It sounds like a bug between Groovy and the JVM... Could you try upgrading your JVM to the latests Java 8 and see if that fixes it?

[2016-02-10 15:41] jasontedor commented on #16584
This is a hard crash of the JVM, which is in general a hard thing to do and almost always indicative of a JVM bug. I searched for the specific issue you're seeing and there isn't anything obvious out there. It looks like you're using the default startup flags, so there is nothing egregious there. I did observe some Groovy scripting engine events in your log, which might be surfacing a JVM bug? May

[2016-02-10 15:44] dstarh commented on #16584
@clintongormley @jasontedor 8.x open jdk or oracle or does it matter?

[2016-02-10 15:46] jasontedor commented on #16584
@dstarh: Oracle if you have a choice.

[2016-02-10 16:24] raphi opened #16587 "Missing default payloads settings for completion type on ES 2.2.0-SNAPSHOT"
Before ES 2.2.0, you could omit 'payloads: false' and it would default automatically to false in your mapping.

[code]

Executing this on ES < 2.2.0 gives:
[code]

But now gives this on 2.2.0:
[code]

And for some reason, bulk indexing on the index without the `"payloads"` param is failing silently.

[2016-02-10 16:40] #14252 closed

[2016-02-10 16:47] rjernst commented on #16585
Thanks for starting this discussion Nik, I agree our logging setup is crazy. :)

I have an alternative suggestion though: let's use java.util.logging for everything. This removes a dependency, and I don't think we really *use* anything complicated in log4j?  Until we have a separate client, any users can configure bridges to j.u.l, just like they would log4j.

[2016-02-10 17:14] nik9000 commented on #16585
The LogConfigurator is the complex bit. Not because it is complex but because the logging features it exposes come from log4j. I get wanting to dump the dependency though. I haven't investigated how difficult it would be to get the same features we have out of j.u.l.

Can we get it in steps? Collapse onto log4j in step 1 and switch to j.u.l is step 2 if we still think it is worth it?

The question

[2016-02-10 17:17] rjernst commented on #16585
Absolutely. I think that is a fine approach, and getting rid of slf4j as a start solves a ton of problems we have in gradle and our distributions (how we include this right now is a huge hack and very annoying).

[2016-02-10 17:22] rjernst commented on #16581
How did you upgrade? It looks like you have lucene jars from ES 2.1 on your classpath.

[2016-02-10 17:37] rjernst commented on #16585
Also, another thing we should look at is `logging.yml`. This should really just be a prefix in `elasticsearch.yml`, there is no reason to have a separate config file.

[2016-02-10 17:45] rjernst commented on #16583
This works fine for me (with a simple match all query). Can you give a recreation (putting documents and running the two queries)? Do you see the same problem when using a simple query like `match_all`?

[2016-02-10 17:58] ryanmcilmoyl commented on #16583
Just tested with match_all, works as expected.  Also works when just doing the `bool` query, without the `function_score`.  Seems to be the combination of the 2.

I'll build out a test case and post it.

[2016-02-10 18:00] rjernst commented on #16577
I think what happens is the string value is handled by the hidden analyzer for long fields, which expects a Long.  We should be using the field type for each field to call the `value` function, which in the case of `long` field type will call `Long.parseLong`. @dakrone thoughts?

[2016-02-10 18:24] rjernst commented on #16576
The indexes should have been intact. The error you see is part of the "upgrade" process when starting a node. Moving them to another location should have allowed you to still open them with a 1.7 cluster. Also, this is why it is highly recommended to backup your data with a snapshot before upgrading.

@clintongormley That seems like an easy fix? This blue warning you got is not actually the error

[2016-02-10 18:26] cjbottaro commented on #9726
Does using the scroll_id reset its ttl?  My timeout is set to 10m, and processing all the results takes longer than 10m, _but the time in between_ each use of the scroll_id is definitely under 10m.

[2016-02-10 19:39] gmarz commented on #16455
+1 we'll jump on this asap

/cc @elastic/microsoft

[2016-02-10 19:57] onetruebob74 commented on #9357
So, to add more fuel to this fire, I have an ES cluster that all have bootstrap.mlockall: true.  They also each have have a modified systemd file that has LimitMEMLOCK=infinity uncommented.  However, when I issue curl -XGET 'http://es01:9200/_nodes/process?pretty'  I get the following:

[code]

ws02 is the Kibana server, the two es0? servers are elasticsearch.  Any thoughts as to why mlockall is s

[2016-02-10 20:01] rjernst commented on #16512
Doc values doesn't have anything directly to do with analysis, but anything that is analyzed (ie broken up into multiple terms) cannot be stored in doc values. However, we would like to allow simple normalization like you want to do here on keyword fields, see this issue that is in progress: #12394.

You can set the search analyzer on any string field, but it is required to specify the analyzer. T

[2016-02-10 20:29] pickypg opened #16591 "Compress entire data portion of snapshot"
The idea is straight forward:

When creating a snapshot, gzip (or otherwise compress) the entire snapshot, then upload it to the repository.

Upside:

- Storage may be reduced for upload, download, and storage itself.

Downsides:

- Processing time, memory, and _local_ temp storage to compress segments.
- Processing time, memory, and _local_ temp storage to decompress the snapshot.
- Incremental s

[2016-02-10 20:30] pickypg commented on #16591
I wanted to create this issue so that it was re-openable incase we ever decide to change our minds on it. However, currently we see this as an undesirable problem rather than a benefit.

As a workaround, if you do want this effect, you _can_ force merge your index down to a single segment and snapshot afterward. In doing so, then you get the same effect and you only have to download a single file

[2016-02-10 20:30] #16591 closed

[2016-02-10 20:34] s1monw commented on #16591
this might not be as much as you wish it would be... The lucene index is compressed pretty well I don't think it would buy us a lot.

[2016-02-10 20:49] seang-es commented on #12847
_shard_stores does not seem to return data for closed indices

[2016-02-10 21:17] zdrummond commented on #16164
So the good news is, removing `.raw` in fact makes the query return the correct results.

The bad news is, we have made no any mapping changes, and the issue is persistent, not just on that date. Also, if there is a mapping issue, I would understand it across different sources, but this is coming from the same source (a single server responsible for one job)

That said, we have pretty much just se

[2016-02-10 21:24] kennycason opened #16593 "Performing derivatives on arbitrary aggregations."
I was looking into implementing the derivative pipeline into our aggregations.
For example, we may return a sum aggregation of numeric type (post likes) that has been segmented previously by a string type (channel, fb/twitter/etc). Also specifically in our case they were bucketed under a date_range aggregation.

I noticed that derivatives could only be provided if parent aggregation was a histogra

[2016-02-10 21:34] pweerd commented on #16512
I partially agree. It can be dangerous to let the user put multiple terms in the index. But, suppose that we have a field with a few comma-separated values... Then it makes sense.
Analyzing was of course tied to the Lucene indexed fields. But why not broadening that, and make it available for doc-values as well?

I did understand what was going on here. But for the sake of 'understanding' we make

[2016-02-10 22:06] tbragin commented on #12461
@clintongormley @jpountz

For tracking purposes, it may be worth noting that we sometimes recommend using "include_in_parent" when someone wants to summarize data stored in nested docs within Kibana using aggregations, for instance, using the Terms aggregation to get Top N values across a field in a nested doc: https://github.com/elastic/kibana/issues/1084#issuecomment-112162113

This approach was

[2016-02-10 22:40] rjernst commented on #16570
Dymamic templates are used for dynamic mappings, but it looks like you are explicitly creating mappings. You will need to set up the multi field yourself, for example, using setting up your `browserField`:

[code]

Note that the format for how multi fields are specified was change very long ago:
https://www.elastic.co/guide/en/elasticsearch/reference/current/_multi_fields.html

[2016-02-10 22:40] #16570 closed

[2016-02-10 22:43] rjernst commented on #16563
This was just fixed in 2.x: #16264. Currently that will be 2.3.

[2016-02-10 22:43] #16563 closed

[2016-02-10 23:38] rjernst commented on #16514
The behavior you see is actually expected, at least when passing in the decimal. The `coerce` setting of numeric fields defaults to true, and part of the definition of coerce is `Floating points will be truncated for integer values.` . See https://www.elastic.co/guide/en/elasticsearch/reference/2.0/coerce.html.

I believe the bug here is actually in what you are seeing for string behavior. The cur

[2016-02-11 00:31] rjernst commented on #16408
This is the result of #8592. If we want to support `null` as a valid return value from scripts, we would need to remove the first `if` condition added there. @jpountz thoughts?

[2016-02-11 04:15] gpstathis opened #16594 "Regression: cannot change default similarity for all fields"
One should be able to change the default similarity for all fields by putting the following setting into `elasticsearch.yml` (see [docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules-similarity.html#default-base)):

[code]

While debugging #16550 I realized this is currently broken in `master`. See following `curl` statements for reproducing:

[code]

I think the is

[2016-02-11 05:10] gpstathis commented on #16594
@s1monw see commit af0e07a above in my repo. Happy to open a PR if it looks ok to you.

[2016-02-11 06:12] hemraj-sharma commented on #16578
as in the data folder under the folder of the name with index name, usually there are folders named 0,1,...,4. But when I get unassigned shard status. I find folders corresponding to the unassigned shards missing. And I didnot get any thing in the ES logs.

   I changed replica to "0". as I found a suggestion on stackoverflow for the same.

[2016-02-11 06:36] pweerd commented on #12394
Great, I really like this effort!
Just stumbled across the present limitations.

One use case is for instance a comma-separated field.
If not supported, I should break the field in the ingestion app and feed ES with an array...
Can do that, but it needs more code at my side to circumvent the added core-code in ES that prevented me. So more code at both sides, more bugs :-)
To me it make sense to h

[2016-02-11 07:18] bleskes commented on #16578
I think this is the source of your problem. If the data folder is missing, shard can not be assigned - which means ES does the right thing here.. I suggest your research what can cause this in your application or environment. At the moment it doesn't like ES was doing it, so I'm going to close this issue - if you do find any evidence that ES is deleting the shards please do reopen the ticket.

[2016-02-11 07:18] #16578 closed

[2016-02-11 07:19] rjernst commented on #16392
The problem here is the tribe nodes create an internal node for each cluster, and bind to the configured port for that client node. When you specify a custom ports for http and transport, security manager is configured with those ports, instead of the default ranges, which for transport are 9300-9400. But then the tribe client nodes continue to use the default ports, and fail when attempting to bi

[2016-02-11 07:26] bleskes commented on #12394
@pweerd

Just a small note that the coming [ingest feature](https://github.com/elastic/elasticsearch/issues/14049) will allow to preprocess the docs in ES and break the comma separated field into a multi field in ES with a simpler configuration.

[2016-02-11 08:24] iliasse-hassala commented on #16581
Hi rjernst, thank you for your answer.

Actually I'm using a Dockerfile (below) i just changed the image i'm pulling (2.1 to 2.2).
I have a 3 nodes setup : Node{0,1,2}

FROM elasticsearch:2.2

        EXPOSE 9200 9300

        RUN /usr/share/elasticsearch/bin/plugin install license
        RUN /usr/share/elasticsearch/bin/plugin install marvel-agent
        RUN /usr/share/elasticsearch/bin/plugin

[2016-02-11 08:32] s1monw commented on #16594
@gpstathis I think there is more wrong here than just that. Af far as I can tell you should not be able to overwrite this similarity that's why it's applied afterwards. To change the default you can define `similarity.base` but this seems broken too. Since default is used instead of base in lots of places. I think we need to fix all of this? Do you wanna take a look at it?

I think in `PerFieldSim

[2016-02-11 08:50] iliasse-hassala commented on #16581
Hi rjernst, thank you for your answer.

Actually I'm using a Dockerfile (below) i just changed the image i'm pulling (2.1 to 2.2).
I have a 3 nodes setup : Node{0,1,2}

[code]

Basically what i noticed is that the translogs of 3 indices among 12 were not empty. And when i close these 3 indices the errors disappears but the cluster is stuck in red state.
I run "/_cat/shards" in the master node (Nod

[2016-02-11 08:52] simonbrandhof opened #16596 "Potential NullPointerException in class org.elasticsearch.action.index.IndexRequest"
The [line 649](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/action/index/IndexRequest.java#L649) is:
[code]
Here the variable mappingMd can be `null`, so `mappingMd.timestamp()` can raise a NPE.
I don't know in which context this case can occur, but still there's a potential bug here.

Regards

[2016-02-11 08:58] pradeepg-telsiz commented on #10565
We lost all the data after removing .st file. Is this a know issue?

[2016-02-11 09:16] hemraj-sharma commented on #16578
Okey thanks.

[2016-02-11 09:17] colings86 commented on #16164
Do you use a custom template in your logstash output at all?

[2016-02-11 09:26] martijnvg commented on #16550
This regression must have sneaked in during the parent/child refactoring that was part of ES 2.0...

[2016-02-11 09:35] dadoonet opened #16598 "Add filtering support within Setting class"
Now we have a nice Setting infra, we can define in Setting class if a setting should be filtered or not.
So when we register a setting, setting filtering would be automatically done.

Instead of writing:

[code]

We could simply write:

[code]

And then remove `settingsModule.registerSettingsFilterIfMissing` and `settingsModule.registerSettingsFilter` methods.

[2016-02-11 09:37] iliasse-hassala commented on #16581
I had to reroute manually the UNASSIGNED shards. I guess that i should stop the cluster more properly (i was doing some bulk injection) before doing the update.

[2016-02-11 09:37] #16581 closed

[2016-02-11 10:06] martijnvg commented on #16550
@gpstathis I see you already worked on tests, but I can't a pr or the actual fix. The actual fix should be easy, from the `HasChildQueryBuilder#doToQuery(...)` and `HasParentQueryBuilder#doToQuery(...)` we should pass the `Similarity` from `context#getSearchSimilarity()` to `LateParsingQuery` as an constructor argument, in `LateParsingQuery` the similarity should become a field too. Then in `LateP

[2016-02-11 10:26] dadoonet opened #16600 "ping_timeout is documented in ec2-discovery but does not exist in code"
`ping_timeout` is documented at https://www.elastic.co/guide/en/elasticsearch/plugins/master/discovery-ec2-discovery.html#discovery-ec2-discovery
 but I can't find it in code.

It's either:

* a documentation issue and we forgot to remove it
* something we never supported
* some magic vodoo code which actually uses it
* something we did support but removed by mistake

I'm opening this issue to tra

[2016-02-11 11:02] clintongormley commented on #15117
@imotov would be good to report how long a task has been running in the tasks API as well.

[2016-02-11 11:13] temsa commented on #13340
@clintongormley Would it be possible seeing this patch to land in 1.x ?

Some features just are not there in 2.x and some people, like me, need to keep 1.x while being affected by this bug (in fact it's not exactly the same one, it affect `scripted_fields`, but I do believe this patch fixes it too, for the moment my workaround is far from nice...)

[2016-02-11 11:16] rodrigueLeopold opened #16604 "document (pdf or doc) containing quotes are not well parsed or queried"
Hello, I've got a little problem. I'm indexing documents (PDF or Word) in french using the excellent plugin "mapper-attachment". We are using elastic-search version 2.7 and have installed the plugin corresponding to the right version (at least I hope)
The plugin has been installed like that: sudo /usr/share/elasticsearch/bin/plugin install elasticsearch/elasticsearch-mapper-attachments/2.7.0
Every

[2016-02-11 12:08] javanna commented on #16604
Hi @rodrigueLeopold please join us on [discuss.elastic.co](https://discuss.elastic.co/) so we can discuss your problem and help you. We use github issues for actual bugs or feature requests only.

[2016-02-11 12:08] #16604 closed

[2016-02-11 12:28] danielmitterdorfer commented on #16011
I have pushed another commit on the [feature branch](https://github.com/danielmitterdorfer/elasticsearch/commits/bulk-size-limit). We exhibit the following behaviour when a (bulk) request hits the limit:

* Transport client: `CircuitBreakingException` is thrown
* Node client: We get errors on the individual items of a bulk request (i.e. `BulkItemResponse.isFailure() == true`). This is due to the f

[2016-02-11 13:31] brwe opened #16606 "Similarity of field cannot be changed if index contains more than one type with same field"
The [guide](https://www.elastic.co/guide/en/elasticsearch/guide/current/changing-similarities.html) states that if you want to change the similarity of a field you can close the index, update the mapping and then open it again. This is useful for example if someone wants to update parameters of BM25.

It does not seem to work currently if an index has more than one type which contains the field. T

[2016-02-11 13:37] jpountz commented on #16408
@rjernst Sounds good to me.

[2016-02-11 14:04] javanna commented on #16583
I was able to reproduce this. The query is malformed, the first must clause ends up closing the whole bool query (one too many curly brackets). Our parsers should throw an error though instead of going ahead. As a result, the second bool query replaces the previous query as part of the function score, and size gets ignored. I will work on making parsing stricter so that an error is thrown instead.

[2016-02-11 14:17] alkampfergit commented on #2917
+1

[2016-02-11 14:22] imotov commented on #15117
@clintongormley good idea, I have added it to the description

[2016-02-11 14:51] ckc6cz commented on #10565
Not an issue, just me being stupid. Sorry!

On Thu, Feb 11, 2016 at 3:59 AM, Pradeep Gowda <notifications@github.com>
wrote:

--
Chelsea Chandler
University of Virginia Class of 2016
B.A. Computer Science and Mathematics

[2016-02-11 15:01] WhiteTrashLord opened #16607 "Problem with Dis Max Query"
Let's say I have this documents:

{
	"field1" : "Friend"

}

{
	"field1" : "Dear Friend",
	"field2" : "Dear Friend"
}

I want to perform a search for the word 'Friend' on each field. But only the best field of a document should set the score.
I tried it with Dis Max Query.
My problem is that the second document always gets a boost because the word 'Friend' is in both fields and gets a higher score

[2016-02-11 15:11] nik9000 opened #16608 "Change reindex default retry time"
Right now reindex's smallest retry time when it receives task rejections is 50ms and it does 10 retries for a total (exponential) backoff of about 25 seconds. @bleskes suggested changing the defaults to 500ms with the goal of about a minute total backoff. The reasoning is that 50ms is super duper fast and unlikely to be long enough for the node to become less congested. 500ms is better while still

[2016-02-11 15:16] gpstathis commented on #16594
@s1monw yes, a unit test for what you would like the end behavior to be would be helpful. Also, I'm a bit unclear on a few things now:

- Are we saying that one will no longer be able to define an alternative similarity that applies to all fields without going into the schema field-by-field and adding it? I.e. is this no longer desirable:

[code]

- Regarding `similarity.base`, I thought it only a

[2016-02-11 15:18] gpstathis commented on #16550
@martijnvg got caught up with #16594 which I stumbled across as I was creating the tests for this one. Let me take a look and see how far I can get today.

[2016-02-11 15:29] ryanmcilmoyl commented on #16583
Ha, so I was doing something wrong in there :).

Thanks for checking that out!

[2016-02-11 15:44] cbuescher commented on #16607
This looks like a question better asked in our forums at https://discuss.elastic.co. We'll help you better there.

[2016-02-11 15:44] #16607 closed

[2016-02-11 15:46] threejeez commented on #16514
@rjernst Thanks for your response. Based on the link you provided - and considering the mapping above - coerce should be set to the default value of true. But it doesn't seem to be coercing anything, evidenced by the result I'm getting when retrieving the document:

[code]

The value I'm getting back **is a double**. If it's being coerced at all (while indexed or retrieved) I would expect to get b

[2016-02-11 15:48] s1monw commented on #16594
regarding `similarity.base` I agree I misread that part.

What I am saying is that I think nobody should be able to change the `index.similarity.classic` similarity nor any similarity that is built-in. I think we should add a dedicated `index.similarity.default.type` that can be defined by the user?

[2016-02-11 15:53] rjernst commented on #16514
The value is coerced before indexing, but source is never changed (imagine you want to reindex as a float in the future).  If you want source to be truncated, you will need to do that yourself when ingesting the docs.

[2016-02-11 15:57] gpstathis commented on #16550
@martijnvg that was easy indeed. `SimilarityIT.testHasChildWithNonDefaultFieldSimilarity()` is passing now. `SimilarityIT.testHasChildWithNonDefaultGlobalSimilarity()` is passing but wrongly so because of #16594. Once that is fixed that unit test should still pass. Will open a PR.

[2016-02-11 16:34] threejeez commented on #16514
Your point about _source makes perfect sense. Thank you for clarifying. Can you please point out how to get the coerced (int) value? I assumed it would be by specifying the `fields` parameter, but I'm seeing a difference between fields returned when doing a GET vs a SEARCH:

This: ```curl search.keenhome.io:9200/my_index/my_type/_search?fields=my_byte```
Yeilds a double: ```"fields":{"my_byte":[98

[2016-02-11 17:15] peakkk opened #16616 "Elasticsearch with marvel-agent frequently crashed!"
&emsp;&emsp;We have a experimental elasticsearch cluster. However, the master node of them frequently crashed! There is the log.
[code]

&emsp;&emsp;There is no more useful message. Could anyone tell me what happened to my cluster?

[2016-02-11 17:24] javanna commented on #16451
We have recently introduced settings validation in master, meaning that unknown settings are now rejected. It doesn't help this case though as validation doesn't go that deep. For the analysis section we define settings groups, like `index.analysis.filter`, `index.analysis.tokenizer` etc. and only known groups can be used. But within each group, we don't have validation. That would need to be impl

[2016-02-11 17:27] #16484 closed

[2016-02-11 17:30] gpstathis commented on #16594
@s1monw got it now. Thanks for clarifying.

[2016-02-11 17:36] #13521 closed

[2016-02-11 18:48] #16293 closed

[2016-02-11 18:55] brwe commented on #16606
forgot to mention that this is on 2.2 release @jpountz says this works on master.

[2016-02-11 20:00] pradbk commented on #10565
I did a upgrade from 1.4.4 to 1.7.1 in production. Ended up in same state (ElasticsearchIllegalStateException). removed all state file and I lost months worth of data! Do you guys have any fix for this? How to recover safely from this state?

[2016-02-11 20:43] dakrone commented on #16577
@rjernst yeah, I think that is a good idea. I will look into fixing this.

[2016-02-11 20:43] nik9000 opened #16618 "Reindex final docs review"
After the first PR for reindex we've been playing it a bit fast a loose with regards to documentation. This issue will force us to revisit them another time.

[2016-02-11 20:43] nik9000 commented on #16618
Another time when we are closer to releasing them, that is.

[2016-02-11 22:01] bradvido commented on #15450
Unfortunately, we don't have any plans to move to 2.0+ soon.  This is still occurring though.
Is there any way to force ES to print the stacktrace?

[2016-02-11 22:31] ankitchheda commented on #4915
+1

[2016-02-11 23:32] hulu1522 commented on #11001
I agree... the plugin script should honor any `https_proxy` or `http_proxy` environment settings automatically.  That is why it's there for programs to see.

[2016-02-12 00:22] devheroo opened #16621 "Marvel 2.2.0 URL is not working"
I am new to ElasticSearch, I just installed ES 2.2.0 and it is working fine.
I am trying to get Marvel to work but without any luck.
I installed it like this:
bin/plugin install license
bin/plugin install marvel-agent

but when I try to browse: http://localhost:5601/app/marvel
I get an error message : Unable to connect
as if there is nothing is running on this url

this happened in both Windows an

[2016-02-12 00:33] allenmchan commented on #16621
Marvel is a kibana plugin now. You will need to install kibana and the marvel plugin in order to see the marvel stats.
https://www.elastic.co/guide/en/marvel/current/installing-marvel.html

[2016-02-12 00:38] schmichael opened #16622 "Excessive stack trace logging in 2.2"
Every 404 on an unknown index in Elasticsearch 2.2 generates a 63 line stack trace in the main log by default. It's not very useful.

Other similarly minor log lines also print stack traces, but it usually seems to only be a few lines which isn't as big of a deal.

It seems rare an end user of Elasticsearch would ever want stack traces on anything but ERROR by default.

[2016-02-12 01:21] devheroo commented on #16621
Thanks so much for your help.
I will look into kibana installation.

[2016-02-12 01:44] allenmchan commented on #16621
Also please visit https://discuss.elastic.co/ for general help. There is a huge community there.
Github is for bugs and feature requests.

[2016-02-12 01:47] #16621 closed

[2016-02-12 01:48] rjernst commented on #16622
Can you give an example of the 63 line stack trace you see?

[2016-02-12 01:55] dotnetallday commented on #16551
+1

[2016-02-12 02:01] schmichael commented on #16622
[code]

[2016-02-12 02:01] schmichael commented on #16622
From:

[code]

[2016-02-12 06:43] rkalhans opened #16624 "Null pointer exception in Aggregation Code Path"
In ValuesSourceAggregatorFactory.java note the following code

[code]

When this method is called with config = null this throws null pointer exception. I am hitting this issue while writing a plugin where I am extending the Aggregator.

[2016-02-12 07:44] spider-network commented on #4915
@paullovessearch You can index your data as Parent-Child and then query your data with inner_hits. See https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-inner-hits.html

When you have a small amount of versions you can use nested objects instead of parent childs relation.

[2016-02-12 08:23] s1monw commented on #16622
@schmichael I kinda agree with you but it's a thin line to draw. Let say there is really something wrong how can I help anybody without a stacktrace? We had this soo often in the past that users reported something that was not reproducible and no trace? I wonder if we can make it smarter afterall but without a trace a failure is useless?

[2016-02-12 09:30] fadi-assaad opened #16628 "Indexing failure when using bulk API"
Experienced an error while indexing content from drupal to elasticsearch installed on same VM. Noticed two things from elasticsearch logs below:

- failed to parse, document is empty.

- 'defaiya_articles_alias' alias which i think it was created automatically on first bulk operation occured.

Am using Elasticsearch 1.7.4 along drupal module elasticsearch_connector-7.x-1.0-alpha9

This happens whe

[2016-02-12 10:04] hemraj-sharma commented on #16578
Sir I am new to the elastic search. I need  help from your side  to identify the problem that why it is happening.

when I execute my application with the above configuration,

I find the nodes directory as follows:
nodes:
           0:
           1:
           2:
and increasing, along with this the the folders(0,1,2,3,4) under the index name get deleted.
"http://localhost:9200/_nodes"
gives the c

[2016-02-12 10:19] dadoonet opened #16630 "Can not run Tika StandAlone runner"
In mapper-attachments plugin, I created originally a [Stand Alone command line tool](https://github.com/elastic/elasticsearch/blob/master/plugins/mapper-attachments/src/test/java/org/elasticsearch/mapper/attachments/StandaloneRunner.java) which helps me to extract data from binary files.
It helps to understand what Tika actually extracts before sending the text to elasticsearch. Basically it helps

[2016-02-12 10:20] dadoonet commented on #16630
@rjernst WDYT?

[2016-02-12 10:23] jimferenczi opened #16631 "Evaluate the replacement of the scroll API with search_after"
The scroll API is widely used for a lot of use cases (Map/Reduce, reindex, delete by query, ...).
The performance is great but there are some limitations that IMO are difficult to handle:
* The scroll API is using a `snapshot` of the index, if the scroll takes a long time a lot of resources are consumed (and kept) just for the scroll.

* The scroll is always bounded to one replica per shard, this

[2016-02-12 10:41] danielmitterdorfer commented on #16412
The DNS cache of a Java process is handled by  the property `networkaddress.cache.ttl`. Quoting [Oracle Docs](http://docs.oracle.com/javase/8/docs/technotes/guides/net/properties.html):

[2016-02-12 10:50] jpountz commented on #16489
@nik9000 What use-cases do you have in mind? We were discussing this issue in fixit friday and @jimferenczi made the note that we already have a trim token filter, so we were wondering what use-cases would be covered by a trim char filter that would not be covered with a trim token filter? The trim token filter only supports removing whitespaces but if this is the only issue then maybe it would be

[2016-02-12 11:01] javanna commented on #16565
We discussed this during FixItFriday. We reached consensus that the `node.client` setting adds confusion and should be removed in favour of being explicit and say `node.master: false` and `node.data: false`. Being explicit would also make things less confusing around the `node.ingest` setting that was recently added (whether a client node does ingestion or not).

We don't really need to keep `node

[2016-02-12 11:12] bleskes commented on #16347
This is a good one. The reason why some ToXContent implementations don't call start and end object is that sometime you want to output within another context, where you for example have added some information for context. For an example look at org.elasticsearch.rest.BytesRestResponse#convert where we enrich the top level error. I'm not saying this is the only solution, but this is why it's like t

[2016-02-12 11:13] javanna commented on #15383
+1

[2016-02-12 11:17] colings86 commented on #16403
This is solved in master by https://github.com/elastic/elasticsearch/pull/13752

[2016-02-12 11:17] #16403 closed

[2016-02-12 11:18] jpountz commented on #16080
We discussed this issue in fixit friday and agreed with @clintongormley's analysis: we understand the need for such a feature but don't want to make the scripting API more complicated in order to support an initialization phase.

[2016-02-12 11:18] #16080 closed

[2016-02-12 11:19] javanna commented on #16451
We discussed this as part of FixItFriday. Everybody agrees that we should fix this. The check should be made on the node that receives the request though (or on the master node), rather than failing on each shard while trying to create the index. That makes it a high hanging fruit, along with having to find a smart way to fail without requiring explicit validation on each single tokenizer, token f

[2016-02-12 12:01] dadoonet opened #16633 "Support http_proxy environment variable for the plugin manager"
As previously discussed in #11001, I think we should support `http_proxy` system variable which seems pretty standard in Linux world.

Should not be hard to implement in the plugin manager.

Unsure if we need that elsewhere though.

[2016-02-12 12:02] dadoonet commented on #11001
@muelli @hulu1522 Thanks for the feedback. I opened #16633 to discuss about it.

[2016-02-12 12:18] colings86 opened #16634 "DuelFieldDataTests.testDuelGeoPoints sometimes fails"
This failure reproduces consistently on master with the seed: `-Dtests.seed=AD46AA1C13DCCBCC`

The stack trace is:
[code]

@mikemccand @nknize Maybe this is something to do with the new GeoPoint implementation?

[2016-02-12 12:51] avito22 opened #16635 "Problem __ToString() when populate, can help please? Is important"
php app/console fos:elastica:populate  --index=en --type=article --batch-size=100....

Populating en/article, 8.1% (377000/4626642), 507 objects/s (RAM : current=205Mo peak=206Mo)
Populating en/article, 8.2% (377100/4626642), 511 objects/s (RAM : current=205Mo peak=206Mo)
PHP Fatal error:  Method MongoDBODMProxies\__CG__\Vavel\SearchBundle\Document\Article::__toString() must not throw an exception

[2016-02-12 12:52] danielmitterdorfer commented on #16412
As per the [Oracle documentation on policy files](http://docs.oracle.com/javase/8/docs/technotes/guides/security/PolicyFiles.html) the above-mentioned property (and maybe also the related property `networkaddress.cache.negative.ttl` (for failed DNS lookups)) have to specified in a file called `java.security`. This file is located in `$JRE_HOME/lib/security` and the settings there are system-wide.

[2016-02-12 12:58] dadoonet commented on #16635
Please ask on discuss.elastic.co.

Sounds like a PHP error here. May be you should report your problem at https://github.com/FriendsOfSymfony/FOSElasticaBundle ?

[2016-02-12 12:58] #16635 closed

[2016-02-12 12:58] avito22 commented on #16635
Done

[2016-02-12 13:22] nik9000 commented on #16631
Losing the "snapshot" behavior in reindex would certainly be a change. It'd be really nice not to have to worry about the snapshot disappearing out from under you though.

[2016-02-12 13:26] rkalhans opened #16636 "Alternate to aggregationContext.ensureScoreDocsInOrder()"
I am writing a custom Aggregation. For my requirements, I need the doc Ids to be received in ascending order in the overridden collect() method. To ensure this we were using we were using `aggregationContext.ensureScoreDocsInOrder()` which seems to have been was removed in ES 2.X. How can I ensure the same behavior in 2.x

[2016-02-12 13:30] nik9000 commented on #16489
That'd probably be enough.

That'd be simple to fix, yeah.

I believe the thing mostly comes up in the path_hierarchy tokenizer. Say you want to use it for a directory like in the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-pathhierarchy-tokenizer.html) but you want users to be a bit more fluid. You want searching for "foo/bar" or "/foo/bar/" to find

 * "/foo/b

[2016-02-12 13:36] nik9000 commented on #16347
Thanks for clarifying. I think it'd be more clear if we had two interfaces for the different contracts. We frequently use "innerToXContent" when we want to support this. I get that we have a bazillion interfaces already but it'd be nice to know more about the things that implement ToXContent. We could even have consistent tests for them!

[2016-02-12 13:44] bleskes commented on #16631
There are some more things to consider here:

 - currently we guarantee a point in time snapshot, which also means we never return the same document twice. For arbitrary sort orders, you can even drop a document. That's something we can stop supporting, but at I don't see how we can do it without using lucene's snapshots.

- the biggest user of the scroll API is the scan search type - there we by

[2016-02-12 13:58] javanna commented on #16347
Would be great to clarify and clean up this contract for sure, in this case using a class that extends `ToXContent` doesn't say enough, you have to look at the implementation to see if you have to open a new object yourself or not.

[2016-02-12 14:03] javanna commented on #16631
Another aspect is in terms of usability, the snapshot makes sure that no changes will be returned in case indexing is happening while scrolling. Even sorting by `_uid` depending on the id of documents and where are with the scroll, new documents might be returned or not. Maybe that turns out not to be a big deal, but seems like a big change at first glance.

[2016-02-12 14:24] mikemccand commented on #16634
Hmm this looks quite bad: it looks likely we indexed with PREFIX encoding but tried to search using the legacy NUMERIC?  Something is wrong w/ the back compat layer @nknize?

[2016-02-12 14:25] s1monw commented on #16634
@colings86 can we mute the test?

[2016-02-12 14:32] colings86 commented on #16634
Sure. Will do

On Friday, 12 February 2016, Simon Willnauer <notifications@github.com>
wrote:

[2016-02-12 15:08] harishkannarao opened #16638 "query_string errors as Caused by: java.lang.NumberFormatException: For input string"
Hi Team,

I have got the following error when using simple_query_string with multiple fields containing numeric field.
Version: 2.2.0
OS: Windows

**Sample data:**
`curl -XPUT http://localhost:9200/blog/post/1 -d '{"id":123,"name":"name_123","relatedDocs":[{"id":12301,"name":"related1"},{"id":12302,"name":"related2"}]}'`

`curl -XPUT http://localhost:9200/blog/post/2 -d '{"id":124,"name":"name_124

[2016-02-12 15:14] bleskes commented on #16578
@hemraj-sharma we will need more details to know exactly. However, we reserve github to track issues with the software. Can you take this discussion to http://discuss.elastic.co ? we can then continue there..

[2016-02-12 15:17] jimferenczi commented on #16631
Yes and it's amplified now that the scroll is using a MinDocQuery and terminateAfter when sorting on Lucene docids only:
https://github.com/elastic/elasticsearch/pull/12983
So yeah speed matters and `search_after` is not ready for this kind of speed. I ran some tests and the difference can be huge.
I completely missed the MinDocQuery thing which is brilliant and hard to beat.
I'll close it until w

[2016-02-12 15:17] #16631 closed

[2016-02-12 15:42] colings86 commented on #16634
test has been muted in https://github.com/elastic/elasticsearch/commit/83885423a0577c83e4ca7da922547d212b0b5fd7

[2016-02-12 16:00] rdigiorgio opened #16641 "Took time for index requests ?"
As of now, and AFAIK, the only way to know if a query exceeded a certain time threshold to process is enabling slow logs. Why does IndexResponse simply not include a took time ?

We are sending indexing bulk requests to our cluster for real-time analytics and we would just want to know, if a bulk was slow to process, which one of the queries it included took a long time to execute immediately in o

[2016-02-12 16:13] nik9000 commented on #16641
I think it'd be safe to just add it. I'm marking this as something that should be easy for a new contributor because my gut says it should be.

[2016-02-12 16:13] pickypg commented on #16489
As @nik9000 said, it was due to DNS. In DNS, you really want the reversed path hierarchy and actual DNS has a goofy `.` trailing at the end:

[code]

So it would be ideal to trim that off because otherwise the first token is:

[code]

I certainly wouldn't expect to search for that with a term filter that wants to only find the `.com` TLD. I'd either try `.com` or `com`, but never `com.`.

[2016-02-12 16:14] nknize commented on #16634
Pushing fix.

[2016-02-12 16:15] #16634 closed

[2016-02-12 16:25] rdigiorgio commented on #16641
By the way, it also involves updating BulkItemResponse, which should also include the took time.

[2016-02-12 16:33] roytmana opened #16642 "Limitation of nested aggregations - Need ability to access owner fields from nested aggregations"
Currently it is impossible to access owner's fields from a nested aggregation. So it is not possible to do following:

* Bucket aggregations on them (a very common use case) as a sub aggregation of  the nested one. For example If multiple lawyers are assigned to cases of different types and each assignment captures his/her hours spent and report needs to be total hours by lawyer by case type. It i

[2016-02-12 16:45] #16583 closed

[2016-02-12 16:56] abulhol commented on #16582
I found out that this is not really the reason for my problem, see the update in the forum issue I wrote. It has to do with the complex syntax for inner hits that I did not fully understand.
See also:
https://github.com/elastic/elasticsearch/issues/13064
and this one:
https://github.com/elastic/elasticsearch/pull/16143#issuecomment-177973852

[2016-02-12 16:56] #16582 closed

[2016-02-12 16:58] paullovessearch commented on #4915
@spider-network Thanks! I'll check this out.

My understanding, however, is that parent/child actually requires that I index a record for every parent. This would mean identifying and creating "placeholder" records for parents during indexing time, and the associated index management (e.g. indexing a parent for every new document with a version, when all children are deleted, remembering to delete

[2016-02-12 17:38] fenneh commented on #16528
Having the exact same issue. Server 2012 R2 machine using

    C:\Elasticsearch\bin>java -version
    java version "1.8.0_66"
    Java(TM) SE Runtime Environment (build 1.8.0_66-b17)
    Java HotSpot(TM) 64-Bit Server VM (build 25.66-b17, mixed mode)

[2016-02-12 18:26] nknize commented on #16481
@pierrre with the release of 5.5 and 2.3 right around the corner we have decided to forgo fixing this in 2.2.x. This bugfix, along with other encoding optimizations, will be available in the 2.3 release coming real soon.

[2016-02-12 18:42] pierrre commented on #16481
OK, thank you.

[2016-02-12 18:51] schmichael commented on #16622
*tl;dr* I understand the inclination that more data > less data for debugging, so feel free to close this if you feel it's the right amount of context. Obviously you deal with far more support issues than me. :)

However, if you are willing to indulge some bike shedding: I can't imagine ever caring about the stack trace for an index, mapping, template, etc 404. Even in the most deep dive debugging

[2016-02-12 18:56] jtharpla commented on #16565
Wouldn't node.master: false and node.data: false still result in an implicit client node? Seems like that that should still be included in the documentation, along with possible use cases where one might want such client nodes.  Or is there an intention to move away from the concept of client nodes altogether? (in other words is this more than a config change, but actually a shift in what architec

[2016-02-12 18:59] pickypg commented on #14593
Came across this while searching for this kind of feature. Definitely want! +1

[2016-02-12 19:15] nik9000 commented on #16622
You can silence the whole log line without restarting with the [update settings API](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-update-settings.html). [This](https://www.elastic.co/blog/elasticsearch-logging-secrets) blog post explains it. You'd set the `rest.suppressed` logger to `WARN`.

I don't know of an easy way to elide the exception though.

[2016-02-12 19:31] seang-es opened #16644 "[docs] Does index.codec best_compression still need to be experimental?"
It's supported by core Lucene, so can we really call it an experimental feature?  If it is experimental and we were to remove it in the future, how would users access data stored using the best_compression codec?  This seems to be something we have to commit to one way or the other.

[2016-02-12 19:50] bleskes commented on #16622
@schmichael after or [mini conversation](https://twitter.com/schmichael/status/697940896499695617) on twitter I opened this https://github.com/elastic/elasticsearch/pull/16627  ... imho this should be debug.

[2016-02-12 19:55] polyfractal opened #16645 "SimpleRoutingIT.testRequiredRoutingMapping fails because a doc remains undeleted"
http://build-us-00.elastic.co/job/es_core_master_metal/12355/

[code]

Failure replicates for me.

Due to https://github.com/elastic/elasticsearch/pull/10136, when a _routing is defined in the mapping, "Broadcast Deletes" are no longer allowed.  The `testRequiredRoutingMapping` test was updated in the single-delete case so that `isExists(), equalTo(true)` each time through the loop, since the docu

[2016-02-12 20:06] martijnvg opened #16646 "Profile pipelines"
As a feature feature we may want to add the ability to profile a pipeline.
This then would tell for each processor how much time was spent relatively to the whole pipeline execution.
I think this should be part of the simulate api. Now that verbose simulate is being implemented as a processor decorator (#16562), this should be relatively easy to add.

[2016-02-12 20:30] polyfractal commented on #16593
Hmm, do you just want the "total" derivative of the summed `like_count` between the two different ranges?  Or do you want to see the derivative between each term in the ranges?

The first is doable by using a `sum_bucket` agg to accumulate all the `like_count` for a single range, then a derivative over that sum:

[code]

The second option is not currently possible...the pipeline aggs don't really

[2016-02-12 20:31] schmichael commented on #16622
@bleskes lgtm; closing this.

[2016-02-12 20:31] #16622 closed

[2016-02-12 21:09] rjernst commented on #16633
I don't think the http_proxy environment variable is typical for java applications. Instead, you would add `-Dhttp.proxyHost` and `-Dhttp.proxyPort` to the java command (which can be done by setting JAVA_OPTS env var). Unfortunately this does not support authenticated proxies out of the box, but it looks fairly easy for us to add this by setting the default authenticator in eg the plugin cli main

[2016-02-12 21:18] pierrre commented on #16481
Any idea of ETA for Elasticsearch 2.3.0? 1 week? 1 month? When it's done? :D

[2016-02-12 21:22] nknize commented on #16481
Should be more information coming out at Elasticon. I defer to @clintongormley

[2016-02-12 23:06] pmorton commented on #16164
@colings86 We allowed logstash to use the default dynamic template. We did not specify a mapping we have logstash setup to tag these messages as the same type so they should share the same schema.

[2016-02-13 00:30] pickypg commented on #16565
@jtharpla

Yes. This is currently true and it will be true afterward.

I agree, but thankfully we recently [rewrote the node module in our documentation](https://www.elastic.co/guide/en/elasticsearch/reference/2.2/modules-node.html). This actually avoids using `node.client` for pretty much the reason of this ticket -- it's confusing.

No, we're keeping the idea around. Node clients serve a good an

[2016-02-13 00:33] nivethav commented on #16485
The cloud-gce 2.2.0 works with elasticsearch 2.1.1 as long as no other plugins are installed. Then this is causing the following error :
** Exception caught during discovery: access denied ("java.lang.RuntimePermission" "setFactory")**

[2016-02-13 00:59] kennycason commented on #16593
I admittedly probably made the example more complicated by adding in multiple date ranges. :) Thanks for the response!

When you said "the pipeline aggs don't really play nicely with terms aggs at the moment." - That was the primary point of interest for me, the ability to do pipeline metrics on any aggregation (or at least terms aggs) and not just on the histogram aggregations.

As it stands now,

[2016-02-13 01:10] yaauie commented on #16593
`date_range` aggregation shares a property with `date_histogram` aggs, which may make them suitable for derivative aggregations, specifically that the ordering of the buckets is meaningful (so long as one doesn't completely encompass another), therefore the pipeline has enough information to provide the derivative. Given a `date_range` agg, it would be very useful to apply derivative in order to s

[2016-02-13 01:21] smayank17 opened #16648 "Elastic Search nodes dont form a cluster"
Hi All,

I am trying to setup a ES cluster over windows machine using uni cast.  I think I have made all required  configuration changes, but still my ES nodes do not form cluster.

Here is my elasticseach.yml configurations
=======Noed 8=======
cluster.name: elasticsearch
node.name: NODE8
node.data: true
network.host: "10.249.167.8"
network.publish_host: "10.249.167.8"
network.bind: "10.249.167.8

[2016-02-13 04:12] kennycason commented on #16593
@yaauie that's a good point on the ordering and something that makes our case a bit different is that we have nested term aggregations, then for each of the buckets we perform sub aggregations like sum/average, or just use count. those are all numerical values that we then use to sort our buckets THEN we manually apply the derivative pipeline.

[2016-02-13 04:27] hemraj-sharma commented on #16578
sure sir, Thanks for your support.

[2016-02-13 04:34] ryanchou1991 commented on #4915
+1 We're so expected to the paginations on aggregations...

[2016-02-13 06:43] dadoonet commented on #16648
May be a firewall issue? Your configuration looks correct but could be simplified.

No need for:

* cluster.name: elasticsearch
* node.data: true
* network.publish_host: "10.249.167.8"
* network.bind: "10.249.167.8"
* discovery.zen.ping.multicast.enabled: false

But please ask questions on discuss.elastic.co. We use github issues only for confirmed bugs.

[2016-02-13 06:43] #16648 closed

[2016-02-13 10:02] clintongormley opened #16650 "Deprecate Mapper Attachment Plugin"
Now that we have the ingest-attachment plugin (https://github.com/elastic/elasticsearch/pull/16490)  we should deprecate the mapper-attachment plugin.

The mapper-attachment plugin needs to remain deprecated for the life of 3.0, and can only be removed in 4.0.

[2016-02-13 10:22] martijnvg opened #16651 "Indexed scripts should be stored in cluster state"
Indexed scripts are now stored in a dedicated index. Moving indexed scripts to the cluster state will make the indexed script logic much simpler. We already have dedicated indexed script APIs in place so this shouldn't be too difficult.

When developing this we should think about bwc too, we can the first time we start ES after a full cluster restart decide to copy the scripts from the dedicated i

[2016-02-13 11:11] dadoonet commented on #16650
+1. I can take it. It's basically just a question of documentation, right?

[2016-02-13 11:28] clintongormley commented on #11001
Closing in favour of #16633

[2016-02-13 11:28] #11001 closed

[2016-02-13 11:31] clintongormley commented on #16412
@danielmitterdorfer I'd be happy with just adding this documentation.  Is there anything we need to change code-wise as well? Or perhaps just adding tests to ensure that the documented solution works?