[2015-11-11 19:38] #12644 closed

[2015-11-11 21:49] matt-blanchette commented on #7743
+1 for same Client API but with HTTP transport
The Amazon ElasticSearch Service currently only supports HTTP

[2015-11-12 02:20] jolynch commented on #14631
Even with reroutes on all node join, leaves, and master changes I still run into situations where shards hang out permanently unassigned. This usually happens when a node leaves and never comes back. I have confirmed that if I manually call reroute or schedule a task on the threadpool that just calls reroute whenever there are unassigned shards, my cluster is able to recover.

I'll keep working on

[2015-11-12 02:42] jolynch opened #14697 "Master can get stuck AsyncFetching forever"
While trying to upgrade our clusters to 1.7.3 I came across a fun issue with the async shard fetch mechanism, namely that the [cache](https://github.com/elastic/elasticsearch/blob/05d4530971ef0ea46d0f4fa6ee64dbc8df659682/src/main/java/org/elasticsearch/gateway/AsyncShardFetch.java#L64) can get poisoned by nodes that change IDs. The basic issue is that [``processAsyncFetch``](https://github.com/ela

[2015-11-12 05:51] talevy opened #14698 "[Ingest] Change document field of _simulate with verbose=true to diff view"
This is in regards to the `_simulate` endpoint.

It would be nice to have a view of what was modified in a document between processors in a pipeline instead of seeing a whole new copy of the full document.

Currently, the output for a pipeline looks like this

[code]

From this, you can see that the `doc` field shows all of the document's fields. It would be great to only show what has been modifi

[2015-11-12 05:59] talevy commented on #14698
implementation reference from Guava: [source](https://github.com/google/guava/blob/8ff490732db7a71adcf561171b5444ddc61c8990/guava/src/com/google/common/collect/Maps.java#L428) [docs](http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/collect/MapDifference.html)

[2015-11-12 06:12] rmuir opened #14700 "gradle check croaks on java 9 EA (non-jigsaw)"
Looks like some bug in a gradle plugin with versioning:

[code]

[2015-11-12 06:27] rmuir opened #14701 "integration test fails and leaks a JVM on java 9EA"
This is separate from the commons lang issue affecting 'deb' (#14700).
This one impacts 'zip'

[code]

Elasticsearch in fact started up fine, and you can use it. So there are two bugs, probably the first one to fix is the JVM leak, since i've hit that a few times this week already.

[2015-11-12 06:48] rmuir opened #14702 "gradle puts wrong java version in manifest"
if i build a zip with java 9, then switch to java 8 to run it:

[code]

[2015-11-12 06:49] rmuir commented on #14702
actually the class files must be correct, we aren't that good. its the manifest that is wrong.

[2015-11-12 07:13] lucidfrontier45 commented on #14187
@davidjwaugh

I made a Custom Sink for Elasticsearch => 2.0
https://github.com/lucidfrontier45/ElasticsearchSink2

Hope it will help you.

[2015-11-12 07:24] masaruh commented on #4756
Things to consider:
- should wildcard expansion be supported as well? (probably yes)
- what if an index belongs to more than one alias in indices_boost parameter? For example, `"indices_boost": {"alias1": 3,"alias2": 2}` and both aliases include `index1`. (sum boost? max? min?)

[2015-11-12 07:48] #14702 closed

[2015-11-12 09:40] rtoma opened #14705 "Expose sync id marker in _cat/shards API"
Is it possible to expose the sync id in the _cat/shards API?
This would make is much easier for operators to check ids, than using the indices stats API.

[2015-11-12 09:47] bleskes commented on #14705
+1

[2015-11-12 10:19] krisb78 commented on #14690
Awesome, thanks @rmuir !

[2015-11-12 11:07] rromanovsky commented on #4915
+1

[2015-11-12 11:12] jpountz commented on #14680
I'm a bit on the fence as such a feature would increase the accuracy issues of the terms aggregations. Maybe we should consider only keeping the ability to sort by term or doc count on the terms aggregation and then deal about all other sort options with pipeline aggregations. I think the would make the trade-off clearer? (ie. terms are selected first and only sorted afterwards)

[2015-11-12 11:14] jpountz commented on #14692
I'm having trouble understanding how such a feature could be implemented in a scalable way.

[2015-11-12 11:56] krisb78 opened #14706 "java.lang.ClassCastException when upgrading to 2.0.0"
Trying to upgrade from 1.7.2 to 2.0.0, following the instructions provided on:

https://www.elastic.co/guide/en/elasticsearch/reference/2.0/restart-upgrade.html

Shut the whole cluster down, removed old plugins, installed the new cloud-aws plugin.

When starting the first master node with 2.0.0 installed, I'm getting:

[code]

Full log:

[code]

[2015-11-12 12:41] sonenko opened #14708 "real numbers from aggregation ?"
Hello guys.
A. Is there any way to fetch real numbers from aggregations (terms, cardinality) ?
At moment we have have almost 3 000 000 flat records and aggregated values with relative error.

B. how can I apply LIMIT(from, to) to aggregation? It possible for plain query, But I was not able to do that with aggregations.

Thanks.

[2015-11-12 12:47] tarunsapra opened #14709 "Documentation issue in License management section"
In the license management section,
https://www.elastic.co/guide/en/shield/current/license-management.html

The curl request given as example is -
curl -XPUT -u admin 'http://[host]:[port]/_license?acknowledge=true' -d @license.json

The index name used is *license* it should have been *licenses* instead. It's a small typo but can be frustrating for someone starting new with ELK stack.

[2015-11-12 14:17] rmuir opened #14710 "gradle build fails on ibm jdk"
[code]

[2015-11-12 15:14] bogensberger commented on #7372
+1

[2015-11-12 15:16] bogensberger commented on #12325
+1

I also verified that the shape is correct, using geojsonlint.com

[2015-11-12 15:22] plebedev opened #14711 "No andFilter alternative in Elasticsearch 2.0"
The documentation states that filters from FilterBuilders are available in QueryBuilders.
However that is not the case for FilterBuilders.andFilter(). There is no QueryBuilders.andQuery().

What is the appropriate replacement?

[2015-11-12 15:53] bogensberger opened #14713 "geo_shape contains support"
In elasticsearch the relation between a query shape and an indexed shape can be `within`, `intersect` or `disjoint`. The underlying lucene would also support `contains`:
https://lucene.apache.org/core/5_3_1/spatial3d/org/apache/lucene/geo3d/GeoArea.html

Are there some special reasons why `contains` is not supported yet or was it just omitted because it's not important for the most usecases? I wou

[2015-11-12 15:54] JustinHook opened #14714 "[Before 2.0.0] QueryParsingException - not of nested type"
The below steps cause a query to fail with a `QueryParsingException` that seems to be fixed by either restarting elasticsearch or reindexing the data.

I've tested on all versions from 1.4.2 to 2.0.0. Only on version 2.0.0 does step 4 not throw an exception.

**1. Create mappings (2 nested fields)**
[code]
`{"acknowledged":true}`

**2. Insert document**
[code]
`{"_index":"product","_type":"release

[2015-11-12 15:55] hrahal commented on #10671
+1 @imsaar it worked on openSUSE 13.2

[2015-11-12 15:55] nithyanv opened #14715 "ES 2.0.0 does not accept timestamp path and mapping."
Hi,

The following template mapping

Works great in ES 1.4.4. For the below data.

But in ES 2.0.0 it throws the below exceptions.

in ES 2.0.0

[2015-11-12 15:59] dadoonet commented on #12930
`-Des.config` has been removed and is not supported anymore. If you define it, then elasticsearch just stops with:

[code]

Should we close this issue?

[2015-11-12 16:04] hrahal commented on #13155
`sudo chown -R elasticsearch:elasticsearch /var/lib/elasticsearch/`

worked for me on ES 2.0.0

[2015-11-12 16:22] #14625 closed

[2015-11-12 16:58] #14445 closed

[2015-11-12 16:58] #14010 closed

[2015-11-12 17:30] nknize commented on #12325
@dimroc, hopefully you were able to resolve your issue. I was able to verify a closed loop at:
[code]
Which violates the OGC SFA spec.

[2015-11-12 17:40] nknize commented on #12325
@bogensberger

rome.json feature ```"OBJECTID" : 1``` also contains a closed loop at:
[code]
Try out the wonderful suggestion posted above by @komarserjio and let us know if you were able to clean up the geometry.

[2015-11-12 17:47] nknize commented on #14014
@danni, I'm going to go ahead and close this and #14015 as a non issue. For the time being issue #12325 will remain open for further discussion and as a reference for cleaning invalid data.

[2015-11-12 17:47] #14014 closed

[2015-11-12 17:48] nknize commented on #14015
Closing as non-issue, further discussion can continue on #12325

[2015-11-12 17:48] #14015 closed

[2015-11-12 17:49] rcoe-d2l opened #14716 "TransportClient remains in a dirty state after a failed write to a node, after the node comes back up"
A TransportClient holds a reference to a TransportClientNodesService and that service will disconnect from a node on a failed write.  If the TransportClientNodesService is in sniffing mode, it will re-establish its TransportClientNodesService#transportService field as being connected.  However, that state is not transferred to the TransportClient, so all future writes fail.

After a failed write,

[2015-11-12 18:34] rcoe-d2l commented on #14716
BTW, this is on the 1.7 branch.  The elasticsearch client is used by the log4j2-elasticsearch plugin and it currently builds to 1.7.  If this sounds like a bug that was fixed in 2.x, I can test against that version.

[2015-11-12 19:22] #7390 closed

[2015-11-12 20:04] jasontedor commented on #14534
Didn't see this before but I saw similar behavior and opened and integrated #14564. Does that work for you @spalger?

[2015-11-12 20:25] rcoe-d2l commented on #14716
This is not an Elasticsearch issue.  Looks like a state problem in the log4j2-elasticsearch plugin's use of the TransportClient, which is relying on separate state handling from the internally held TransportClient#TransportService.  The fix belongs to that project.

[2015-11-12 20:25] #14716 closed

[2015-11-12 20:33] wasifaleem commented on #12721
We use it to add strict role based authentication and authorization.

[2015-11-12 20:38] rjernst opened #14719 "url params parsing should not be lenient"
If you use eg the `_analyze` api, and mispell the `tokenizer`, it will happily go on using the standard *analyzer* (if you have filters specified, it will ignore them as well).

We should remove all leniency from url param parsing, it does not help anyone, but only causes confusion. Rest actions should remove parameters as they are parsed, and fail when there are extras left (eg `Unknown parameter

[2015-11-12 20:50] dadoonet commented on #14719
++

[2015-11-12 22:51] tony-bye commented on #12055
I also had this kind of error after a partition was full, and deleting the .recovery files as balaji006 suggested worked fine.  I had a lot of affected index/shard directories, but after deleting each .recovery file elasticsearch worked fine again.

[2015-11-12 23:08] eliranmoyal opened #14720 "Unwanted resuls on nested terms aggregations"
Hey, I'm having a problem with unwanted results on aggregation. (Using elasticsearch 1.7)
I'm simplifying my index and my query so you can see the issue
this is how my documents looks like:
{"message":{"info":"a"},"myNum":1}
{"message":{"info":"b"},"myNum":2}
{"message":{"info":"c"},"myNum":3}
{"message":[{"info":"c"},{"info":"a"}],"myNum":4}

this is how my mapping looks like:
[code]
I want to qu

[2015-11-12 23:09] #14690 closed

[2015-11-12 23:32] wyardley commented on #14607
Agree with this. Not only is '0' not documented at: https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-network.html
that page suggests:
"Currently an elasticsearch node may be bound to multiple addresses, but only publishes one."

However, if I try, e.g.,:
[code]

[2015-11-13 00:02] rmuir commented on #14607
I think the wording there in the docs is just bad. While internally elasticsearch works with multiple addresses in 2.0 (because a hostname can resolve to N, because interfaces can have N, to work well with dual stack environments, etc), you won't be able to pass an array or comma-separated list of addresses until 2.2 (https://github.com/elastic/elasticsearch/pull/13954).

But if you have a hostnam

[2015-11-13 00:16] wyardley commented on #14607
Yes, but isn't bad wording in the docs exactly what this ticket is about?

Given that the default behavior has changed in 2.0, though, the bad wording in the docs is significant, and I think it makes sense to explicitly document how to restore the expected behavior (and clarify that specifying multiple values, whether explicit addresses or "special" aliases, is not yet supported in 2.0).

[2015-11-13 00:28] rmuir commented on #14607
I'm don't think its just bad wording in the docs. The configuration API itself is not good, stuff like `_non_loopback` is bad too (and that is removed in 3.0), because its totally arbitrary and depends on the order of interfaces.

Its also confusing that the documentation immediately jumps into expert stuff like `bind` vs `publish` which 99% of people should never care about unless they have a spe

[2015-11-13 00:30] rjernst commented on #14710
The code is this:
[code]
This means `dep` is null, which should be impossible since are iterating the dependencies...

[2015-11-13 00:35] rjernst commented on #14715
These features were explicitly removed from 2.0. See #8143 and #6677.

[2015-11-13 00:35] #14715 closed

[2015-11-13 00:37] rjernst commented on #14715
@nithyanv You can create your own `date` type field (which already supports timestamps).

[2015-11-13 01:23] rjernst opened #14721 "Gradle should check for jarhell of test classpath before running tests"
When we have jarhell in tests, we get the jarhell exception for the first class that was run, and then often class not found for every other suite (because we did not load the given jar). We could make this a little nicer, and easier to notice, by having a gradle task call JarHell independently before running test (as a final dependsOn for the test task). It would have the exact classpath the test

[2015-11-13 01:27] rmuir commented on #14721
+1, it has a main method for this.

[2015-11-13 03:08] ebradshaw opened #14722 "Close/Open Index Issues"
I'm having an issue where closing and opening an index in an integration test appears to fail to properly recover the indexed documents:

https://gist.github.com/ebradshaw/a4fa97b7eac4257c4a2e

Is this an issue, or am I missing something?

[2015-11-13 03:18] ebradshaw commented on #14722
Also, this is appearing in both 1.4.2 and 1.7.3.

[2015-11-13 03:41] titotp opened #14724 "elasticsearch init script not starting on ubuntu 11.04"
When i tried to start the elastic search using init script its not working. However it works fine when i manually run from bin/elasticsearch
ES Version 1.7

[2015-11-13 03:47] yanjunh opened #14725 "memory leak in tribe node"
This happens when incoming documents have inconsistent type that causes replica shard allocation failure. While the cluster keeps trying to allocate the failed shards, tribe node memory usage grows unbounded. Eventually GC can't reclaim any space and tribe node hangs.

![image](https://cloud.githubusercontent.com/assets/1834562/11138364/f5202b74-8975-11e5-80e1-f610ee3a15cc.png)

[2015-11-13 05:05] #9859 closed

[2015-11-13 05:05] #10761 closed

[2015-11-13 05:06] #11159 closed

[2015-11-13 05:55] dadoonet commented on #14722
I think you should wait for a yellow status before sending your search request.

BTW you did not tell which exception you are getting and Es version.

Does not look like an issue to me.

[2015-11-13 05:55] #14722 closed

[2015-11-13 05:59] nknize opened #14727 "spatial_stats aggregation"
This feature intends to add a `spatial_stats` metric aggregator designed for computing the most basic descriptive statistics for Exploratory Spatial Data Analysis. Much like the `extended_stats` aggregator for basic numerical analysis on non-spatial data sets, the `spatial_stats` aggregator will be specially designed for spatial data sets - specifically operating on `geo_point` fields. The aggrega

[2015-11-13 06:48] #14701 closed

[2015-11-13 06:59] shravankodipaka opened #14729 "elasticsearch failed to execute on node"
Hi all, am facing the below issue while checking the log file of Elasticsearch. My environment is AWS EC2 instance, am installed ELK-stack on the instance, am unable to load the logs data from logstash to elasticsearch...then am cross checked the log file of elasticsearch i seen the below message in elasticsearch.log..
Please help me from this issue...

[2015-11-13 00:52:40,858][INFO ][cluster.ser

[2015-11-13 07:06] eliranmoyal commented on #14720
managed to resolve using another filter
[code]

[2015-11-13 07:11] dadoonet commented on #14729
Does not look like an issue here. Could you please open a thread on discuss.elastic.co instead?

[2015-11-13 07:11] #14729 closed

[2015-11-13 07:17] dadoonet commented on #14720
Thank you. Closing.
BTW use discuss.elastic.co for questions.

[2015-11-13 07:17] #14720 closed

[2015-11-13 07:51] HowookJeong opened #14730 "StatsAggegator has a missing character."
This is a minor issue or is not issue.

is it right StatsAggegator? (https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/search/aggregations/metrics/stats/StatsAggegator.java)
I think that StatsAggegator will be StatsAggregator.

Thanks.

[2015-11-13 08:51] bleskes commented on #14725
Thank for reporting.

Can you clarify some more about actually fails?

Any chance you can share a heap dump of the tribe node? you can reach me privately on first name at elastic.co

[2015-11-13 09:03] shravankodipaka commented on #14729
thank u....

[2015-11-13 09:13] dadoonet opened #14732 "[ci] testLocalNodeMasterListenerCallbacks failing on windows-2012-r2"
We start a second node and wait for it to join. But the operation timed out.

[code]

Stacktrace:

[code]

CI links:

* http://build-us-00.elastic.co/job/es_core_master_windows-2012-r2/2045/
* http://build-us-00.elastic.co/job/es_core_master_windows-2012-r2/2045/testReport/junit/org.elasticsearch.cluster/ClusterServiceIT/testLocalNodeMasterListenerCallbacks/

Tried to reproduce with on my laptop (

[2015-11-13 09:35] twigbranch opened #14733 "link to scripts: java.security.AccessControlException: access denied ("java.io.FilePermission"..."
In ES 1.x I was able to symbolically link from a subdirectory of the scripts directory to a directory containing my groovy scripts. Now, with ES 2.0, on load, I get the following error:

Exception in thread "main" java.security.AccessControlException: access denied ("java.io.FilePermission" "/usr/local/Cellar/elasticsearch/2.0.0_1/libexec/config/scripts/my_directory/my_subdirectory" "read")
	at ja

[2015-11-13 09:41] dadoonet commented on #14733
Have a look at https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_20_plugin_and_packaging_changes.html#_symbolic_links_and_paths

[2015-11-13 09:42] dadoonet commented on #14733
Sounds like we advertised we can follow symlinks for scripts?

[2015-11-13 10:11] colings86 commented on #2869
@dakrone Do you know whether @clintongormley suggestion above is feasible?

[2015-11-13 10:13] #14705 closed

[2015-11-13 10:16] markharwood commented on #1956
We discussed this some more and as Clinton said in his comment above there may be undesirable consequences for indexing if we make it simple for users to switch the definitions on the fly. Of course if you know what you are doing and it is a search-time-only analyzer it is possible to provide a custom plugin as  @lindstromhenrik noted which can safely reload synonym sets, perhaps from a centralise

[2015-11-13 10:16] #1956 closed

[2015-11-13 10:16] colings86 commented on #3138
Agreed, closing this issue

[2015-11-13 10:16] #3138 closed

[2015-11-13 10:26] markharwood commented on #4434
@nik9000 We were discussing this on FixItFriday - do you have an updated viewpoint?

Our thoughts were that the allocation decider is currently pretty black or white in it's rule evaluation (this needs to be here because this rule says so). If I understand correctly this introduces shades of grey into the rule evaluation which starts to take us down the path of being less easily explainable as to

[2015-11-13 10:34] colings86 commented on #5359
@martijnvg has this issue been solved by https://github.com/elastic/elasticsearch/pull/12209 ?

[2015-11-13 10:34] jpountz commented on #4755
We just discussed this in Fixit Friday. Having indices that don't have a quorum reported RED or YELLOW seems problematic, so it appears we would either need to:
 - add a new color (ORANGE?) (@javanna's suggestion)
 - add a new flag (`has_quorum`?) on the index and cluster levels (@dakrone's suggestion)

[2015-11-13 10:44] jpountz commented on #5368
We just discussed it in Fixit Friday and are +1 on @bleskes 's plan. Making it an adoptme as well as a high-hanging fruit because of the described caveats...

[2015-11-13 10:53] colings86 commented on #5512
Implementing this as a pipeline aggregation should now be possible. In that case we would first collect values into buckets using other aggregations and then use the pipeline aggregation to create clusters from those buckets.

[2015-11-13 11:01] jpountz commented on #5936
No replies for more than one year: closing. We discussed it Fixit Friday and also had some concerns about making the allocation rules more complicated than they are today.

[2015-11-13 11:01] #5936 closed

[2015-11-13 11:04] jasontedor commented on #14724
Would you be able to provide any additional details about the nature of how it's not working? Are there any error or log messages that you can share?

[2015-11-13 11:35] MagmaRules opened #14734 "Missing compress-lzf dependency causes silent error"
When migrating an old installation from 0.90 to 2.0 got stuck in a strange behaviour where the client could not obtain masters. It would connect to the cluster, show up in the cluster but would timeout on getting the masters.

Turns out that on a default installation if you don't include compress-lzf as a dependency the client node will fail silently.

I would suggest it should throw an error or a

[2015-11-13 11:43] barravi commented on #5359
Partly yes, and I'm sure it would solve my immediate issue.

More interesting would be to extend the concept, and have capturing groups in the name regex for index templates, so to be able to reuse part of the index name in the alias definition. But I can call myself happy enough with #12209 :+1:

[2015-11-13 11:48] colings86 opened #14735 "extended_bounds does not play nicely with .kibana index"
If you try to use extended_bounds a request which contains the .kibana index the extended bounds are ignored. See the following sense script to reproduce (must be run on a cluster with a .kibana index to reproduce the bug):

[code]

[2015-11-13 12:07] ebradshaw commented on #14722
Thanks for the quick reply, David.

I'm tried this with both ES version 1.4.2 and 1.7.3.  Regarding the status, as I understand it ensureSearchable(...) verifies that the index status is GREEN, and I call this before doing the final count.

I've also added a _refresh call into the test case, as that was necessary for the first assertion to pass:

https://gist.github.com/ebradshaw/a4fa97b7eac4257c4

[2015-11-13 12:42] #14735 closed

[2015-11-13 12:42] nik9000 commented on #4434
Ah, man, this one is ancient! At this point I imagine allocation deciders based on runtime conditions are too contentious.

This PR is so out of date its really only useful from an archaeological standpoint, but if I were to revive it I'd just try to get the weights calculated and fetch-able via `_cat` and friends. At that point it'd mostly be useful for detecting hotspots of various sorts.

The i

[2015-11-13 12:42] #4434 closed

[2015-11-13 13:29] rmuir commented on #14733
symbolic links are never supported. if they happen to work, its random chance.

[2015-11-13 13:49] dadoonet commented on #14733
@rmuir do I misunderstand the doc I linked?

[2015-11-13 13:56] titotp commented on #14724
unfortunately the logs are not creating. I followed the ansible playbook
https://github.com/Traackr/ansible-elasticsearch

There is no error message when it starts. Its starts ok, But when i check the status it shows stopped

http://pastebin.com/uQh8cTTh

[2015-11-13 13:57] rmuir commented on #14733
they are neither tested nor supported. we can't, we can't prevent some code from traversing the link (in which case unix permissions checks are different too, same problem).

[2015-11-13 14:02] ywelsch opened #14739 "Allocate primary shard based on allocation IDs"
Persist allocation IDs of active shards in cluster state and use them to recover correct shards upon cluster restart (i.e., we can recover with only one copy and we make sure we recover the right ones and not a stale copy left around).

Relates to #14671

Steps
----
- [x] Persist allocation ID with shard state metadata on nodes (#14831).
- [x] Persist currently started allocation IDs to index meta

[2015-11-13 14:03] dadoonet commented on #14733
I totally agree with you Robert. I'm just asking if we must fix the doc or if I simply misunderstood that part.

[2015-11-13 14:05] rmuir commented on #14733
What the documentation says works, that is not what is happening here.

[2015-11-13 14:08] klahnakoski opened #14740 "Aggregation on scripts does not deal with `null` correctly"
Using version 1.7.1

I have one record in my index, with two nested records:  One is to establish a schema, the other is empty.

	{
		"_index":"testing_631cd59d7020151113_135108",
		"_type":"test_result",
		"_id":"9BDA12F08CF9D63CD48994EF1E11966C256203AE",
		"_version":1,
		"_score":1,
		"_source":{"a":{"_b":[{"a":0,"b":0},{}]}}
	}

My query is aggregating over a script, which just happens to retu

[2015-11-13 14:12] dadoonet commented on #14733
So I definitely don't understand this:

My bad English I guess. Closing the "issue" then.

[2015-11-13 14:12] #14733 closed

[2015-11-13 14:22] nik9000 commented on #14724
So 11.04 isn't an officially supported version - 12.04, 14.04 are. And we test on 15.04 too because why not. Most of that testing is in 2.0 onwards and not so much 1.x. That being said I imagine it ought to work.

The first thing I do when I get into a situation like this is to run `bin/elasticsearch` as the `elasticsearch` user just to see if Java starts. If you don't get any log at all this is t

[2015-11-13 14:38] titotp commented on #14724
yes i am using 14.04 and it works fine when i run manually
bin/elasticsearch

[2015-11-13 15:11] nik9000 commented on #14724
Do you mean that 14.04 works fine when you run `bin/elasticsearch` or that 11.04 works fine when you run `bin/elasticsearch`?

[2015-11-13 15:13] titotp commented on #14724
14.04 is the version i am using and it works fine with bin/elasticsearch. However it is not working with init script.

[2015-11-13 15:22] nik9000 commented on #14724
Oh! In that case I imagine its some kind of invalid configuration. Can you try (temporarily) removing `-d` from the `start-stop-daemon` line? That should foreground elasticsearch and it should spit out _something_ when you run it.

[2015-11-13 15:26] titotp commented on #14724
Thanks Nick for helping out. I tried removing the -d from init script and its still same.

PID_FILE="$PID_DIR/$NAME.pid"
DAEMON=$ES_HOME/bin/elasticsearch
DAEMON_OPTS="-p $PID_FILE --default.config=$CONF_FILE --default.path.home=$ES_HOME --default.path.logs=$LOG_DIR --default.path.data=$DATA_DIR --default.path.work=$WORK_DIR --default.path.conf=$CONF_DIR"
DAEMON_OPTS="$DAEMON_OPTS -Des.max-open-fi

[2015-11-13 15:31] titotp commented on #14724
Init script - http://pastebin.com/nVHnSiAE

[2015-11-13 15:45] nik9000 commented on #14724
Can you try deleting this line from your init script:
[code]

That is the only difference I can see between it and the one that comes with 1.7.3. The trouble with lines like the one above is that they break anything with a space in it.

Its very strange that you don't get output from elasticsearch without the `-d`. Its been a while since I tried it. Maybe `start-stop-daemon` is eating it.  Can you

[2015-11-13 16:06] jelmerk commented on #11947
We are still seeing this issue on elastic 1.7.1 when using the following generator in a phrase suggester

       {
          "field" : "title.reversed",
          "prefix_length" : 2,
          "pre_filter" : "reverser",
          "post_filter" : "reverser"
        }

Where reverser looks like this :

        "reverser": {
          "tokenizer": "standard",
          "filter": [
            "lower

[2015-11-13 16:20] plebedev commented on #14711
Looks like boolQuery has to be used instead.

[2015-11-13 16:20] #14711 closed

[2015-11-13 16:21] bczifra opened #14743 "LinkedHashMap order is not preserved by StreamOutput.java"
LinkedHashMap order is not preserved by org.elasticsearch.common.io.stream.StreamOutput.java.  This is because the LinkedHashMap is cast to a Map, and then it's entry set is iterated on, rather than iterating on the LinkedHashMap itself.

The relevant code fragment from StreamOutput.java:379-92:
        } else if (value instanceof Map) {
            if (value instanceof LinkedHashMap) {

[2015-11-13 16:23] spalger commented on #14534
@jasontedor is it possible to use a standard date format for the build_date? What was wrong with ISO 8601?

[2015-11-13 16:26] jasontedor commented on #14534
@spalger It's possible. That build timestamp is put into the jar manifest by a Gradle plugin. So to keep it simple, we just grab the timestamp directly out of the manifest (as a string). If you have a need for ISO 8601, we can certainly do that.

Nothing. Frankly, I was surprised that the Gradle plugin that we are using wasn't putting it into that format.

[2015-11-13 16:28] spalger commented on #14534
Cool, it would be much appreciated :)

[2015-11-13 16:31] frank-montyne opened #14744 "Wrong netty version"
Hi,

I get the following error when using the elasticsearch 2.0 java client libraries:

**java.lang.NoClassDefFoundError: org/jboss/netty/util/internal/StackTraceSimplifier**

Elasticsearch 2.0 ships with the "netty-3.10.5.Final.jar" that should contain that class but it doesn't. Only much older versions of the netty jar like the "netty-3.2.5.Final.jar" contain that class.

Is this a problem in th

[2015-11-13 16:34] titotp commented on #14724
start-stop-daemon --start -b --user elasticsearch -c elasticsearch --pidfile /var/run/elasticsearch.pid --exec /usr/share/elasticsearch/bin/elasticsearch -- -d -p /var/run/elasticsearch.pid -Des.default.config=/etc/elasticsearch/elasticsearch.yml -Des.default.path.home=/usr/share/elasticsearch -Des.default.path.logs=/var/log/elasticsearch -Des.default.path.data=/var/lib/elasticsearch -Des.default.

[2015-11-13 16:38] rmuir commented on #14744
Possibly jar hell in your setup. If you are using elasticsearch 2.0 as a client, first try this:
[code]

It might shed some light on the situation..

[2015-11-13 16:40] frank-montyne commented on #14744
Thanks I'll give that a try

[2015-11-13 17:23] nknize opened #14746 "Reproducible - null Query in BoostingQueryBuilderTests throws assertion"
Ran into this error while regression testing master.
[code]

[2015-11-13 17:40] twigbranch commented on #14733
I saw that part of the docs before I posted the issue.  I, also, am confused by it.  With ES 1.5.2, What I was doing worked without issue on each installation I tried, both on Centos and OSX.  The doc quoted above says path.scripts "does follow symlinks" and symlinks under that path will be followed.  How is my symlink NOT under the path.scripts path?

path.scripts is not explicitly set in my elas

[2015-11-13 17:43] frank-montyne commented on #14744
Running JarHell doesn't indicate that something is wrong

[2015-11-13 17:43] nik9000 commented on #14733
I believe the document means that `config/scripts` itself can be a symlink but that symlinks within the directory aren't supported. I haven't tried it though.

[2015-11-13 17:55] twigbranch commented on #14733
The the doc should say symlinks from path.scripts, but not within, will be followed.

Or, even better ES would follow the symlinks within path.scripts.

[2015-11-13 17:58] rjernst opened #14747 "Allow continuing failed build, which skips already successful test tasks"
When running `gradle check` from the root of elasticsearch, if a failure occurs say in a a plugin, fixing that then requires either knowing which plugins were left and running for those explicitly, or taking the hit of running an entire `gradle check` again.

Gradle tests normally are run only if "output changes". We currently explicitly disable this for all tests, since we have randomized tests.

[2015-11-13 18:01] rmuir commented on #14747
I agree this would be nice, I'm on my fourth run of `mvn verify`, and each time restarting because of a straggler here or there in a plugin or QA test.

At the same time, we shouldn't do it unless it can be done safely.

[2015-11-13 18:02] rmuir commented on #14733
No, we don't need to do a recursive traversal for symlinks for security purposes, when symlinks themselves are broken from that perspective. Just don't use symlinks.

[2015-11-13 18:04] nik9000 opened #14748 "distribution tests hanging when built outside of a git repository"
On master on linux when I run `gradle distribution:zip:check` they seem like they are getting stuck and when I do `jstack pid_of_SlaveMainSafe | grep transport_client_external | wc -l` I get `1245`.

[2015-11-13 18:05] dadoonet commented on #14733
I prefer this wording. Symlinks are forbidden. Period. This is clear IMO.

[2015-11-13 18:05] rjernst commented on #14747
I completely agree. Even if a buildid is passed in, and eg the core tests passed for that build id, we should still run core tests if core code changed, otherwise we are potentially hiding issues, where you could pass tests and think everything was ok. This is super important, otherwise there could be huge confusion on "my tests passed" but the code is totally broken.

[2015-11-13 18:07] twigbranch commented on #14733
OK. Then the doc should be updated - the combination of 'under' with plural for symlinks is confusing and makes it sound like you can have multiple symlinks within path.scripts.

[2015-11-13 18:09] rmuir commented on #14733
I agree, and the purpose of adding `path.scripts` in the first place was so that people could configure a shared location without resorting to stuff like symlinks.

[2015-11-13 18:16] pierresetteskog opened #14749 "Elasticsearch 2.0 multifield path just_name demands full path now"
Maybe more clear to show error when indexing if path is specified on multivalue field. Even if i say just_name full parh must be specified in queries

[2015-11-13 18:45] klahnakoski commented on #14740
It would appear this problem can be mitigated with a more complicated script:

    "script":"(doc[\"a._b.a\"].isEmpty() ? null : doc[\"a._b.a\"].value)"

[2015-11-13 21:29] jasontedor commented on #14534
@spalger I opened #14751 on our side to change the formatting. Note that the plugin we are using to get this information into the manifest in the first place does not include timezone information so without some hoops the best that we have right now is a local date time. I also opened nebula-plugins/gradle-info-plugin#22 to see if we can get that included in the basic info.

[2015-11-13 21:32] spalger commented on #14534
Awesome, thanks @jasontedor

[2015-11-13 21:34] nik9000 commented on #14748
This is caused by a fun confluence of things:
1. Gradle wasn't logging _anything_ on test failure. It wouldn't even write out a counter so I could see something would happen.
2. When we can't form the `ExternalTestCluster` we can leave its client open.
3. When you build elasticsearch outside of a git repository, which I do, `Transport` is broken because `Build` contains something `null`.

[2015-11-13 22:32] ewgRa opened #14758 "ES 2.0 deleteByQuery Plugin ignore routing"
Have index on two shards with two documents
[code]

Try to deleteByQuery with routing=2

[code]

Shards after delete:
[code]

There is no shard 2, seems that routing was just ignored. Can anybody confirm that it is a bug? Or I have wrong expectation?

Gist with curl commands: https://gist.github.com/ewgRa/ed66d809e4fa2fd8573a

Info:
[code]

[code]

[2015-11-14 02:03] titotp commented on #14724
@nik9000 figured out the issue. It was some stupid mistake on my side. I have set the elasticsearch_heap_size: 2g on a t2.micro instance that has only 1GB. I reduced that to 1GB  and its working fine.
Thanks for all the help.

[2015-11-14 02:03] #14724 closed

[2015-11-14 05:48] yanjunh commented on #14725
The failure is [cluster.action.shard     ]. Here is part of the log message

at[2015-11-12T17:03:45.861Z], details[Failed to perform [indices:data/write/bulk[s]] on replica, message [RemoteTransportException[[elk][inet[/10.29.22.33:9300]][indices:data/write/bulk[s][r]]]; nested: IllegalArgumentException[cannot change DocValues type from SORTED_NUMERIC to SORTED_SET for field "msg_.log_events.sql_q

[2015-11-14 09:46] bleskes commented on #14725
I see thanks. The shard issues caused many clusters state to be published (with each failure and allocation). The tribe node at the moment doesn't have batching support when processing the changes and it seems the cluster state just piled up waiting to be processed. We are working to add batch (see #13627). Normal nodes have this already.

I'm going to close this as it seems to be already covered

[2015-11-14 09:46] #14725 closed

[2015-11-14 15:12] ebradshaw commented on #14722
@dadoonet It looks like the old index is deleted and a new one is created when the index is reopened.  When I look at the actual files in the index folder for the shard, all of the data files disappear and the segments_2 file is reverted to segments_1.  Does this still seem normal?

[2015-11-14 16:06] vvalleru opened #14761 "Update docs README.textile"
Need to update https://github.com/elastic/elasticsearch#building-from-source minimum gradle version to 2.8

[2015-11-14 17:10] johnarnold opened #14763 "2.0 won't start - es.default.config is no longer supported"
OS: Ubuntu 15.04
ES Version:  Upgrade from 2.0 Beta2 to 2.0 GA  from repo.

Full log error:
[2015-11-14 16:28:46,587][INFO ][bootstrap                ] es.default.config is no longer supported. elasticsearch.yml must be placed in the config directory and cannot be renamed.

I searched for previous issues and found that the CONF_FILE variable was eliminated in the latest release and only CONF_DIR i

[2015-11-14 17:23] johnarnold commented on #14763
I found root cause -- the CONF_FILE references were in /usr/lib/systemd/system/elasticsearch.service  (and thus why they didn't show up when searching /etc)

When upgrading from beta2 to GA, the elasticsearch.service file did not get overwritten, instead a secondary file was created:   elasticsearch.service.dpkg-dist

copying this over elasticsearch.service file allows the service to start.

I use

[2015-11-14 17:41] johnarnold commented on #14763
Also, confirmed that removing the -old- /usr/lib/system/system/elasticsearch.service and leaving the new elasticsearch.service.dpkg-dist in place works too.  So probably the pre-inst script for the debian packaging should remove the old elasticsearch.service file if it exists.

[2015-11-14 18:07] #14761 closed

[2015-11-14 21:53] ppf2 commented on #14448
+1 on at least setting an upper bound.  have seen quite a few cases in the field where users have set queue sizes to unlimited or some ridiculous number like 1 million+

[2015-11-15 07:25] rjernst commented on #14684
The fix that is in 2.1 was complex. I don't think we should make such a complicated change in a bugfix release.

[2015-11-15 08:47] espeed commented on #12880
Note Google Cloud Storage (GCE) is interoperable with S3 clients so you can use existing S3 clients:

- https://cloud.google.com/storage/docs/interoperability
- https://github.com/elastic/elasticsearch-mapper-attachments/blob/master/dev-tools/upload-s3.py

[2015-11-15 09:42] breml commented on #11443
We use a custom analyzer to mark dynamically added fields, which allows us to monitor the count of added fields. More explanation in the following blog post:  https://breml.github.io/blog/2015/10/28/tagging-of-dynamically-added-fields-in-elasticsearch/

[2015-11-15 10:26] shaharmor opened #14767 "1.5 - relocate on local disks"
Hi,

I have multiple ES (1.5) servers with multiple disks.
I have added an additional disk to all of the servers and i want ES to relocate the shards so that the new disk will take an equal % of current storage usage.

For example:
before:
disk1 - 75%
disk2 - 75%

after:
disk1 - 50%
disk2 - 50%
disk3 - 50%

Preferably by smartly moving shards (I.E not have multiple replicas on same disk, moving eq

[2015-11-15 11:06] dadoonet commented on #14767
Please keep your question on discuss only: https://discuss.elastic.co/t/relocated-shard-in-local-disks/34612

This space is for issues only.

[2015-11-15 11:06] #14767 closed

[2015-11-15 11:08] joschi commented on #1203
@drewr Are there any plans to start publishing the Javadoc artifacts of Elasticsearch on Maven Central again?

[2015-11-15 11:35] dadoonet commented on #14722
Wondering if you should not call [flush](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-flush.html) before closing the index?

[2015-11-15 14:22] martijnvg commented on #5399
Agreed, I think we should remove support to refer to the `_parent` field in the dsl. It allows us to clean things up a bit more (mapping code).

The only reason this field still exists is because the `_parent` lucene field is used in the fetch phase and get api to as source to include the parent id.

The pre 2.x parent/child join impl. relied on this field in the Lucene index, the 2.x parent/child

[2015-11-15 15:22] ebradshaw commented on #14722
@dadoonet Tried calling flush and updated the test case.  It didn't seem to make a difference.

I also ran a similar test using a transport client connected to node running in a separate JVM.  It passed!  Maybe the issue is with the embedded node?

[2015-11-15 19:26] damienbod opened #14768 "max_determinized_states in regexp filter not working ES 2.0"
If I set the max_determinized_states in a regexp filter, the search result is incorrect. Without this set, the filter returns the correct amount of Hits:

Test data
------

POST http://localhost:9200/_bulk HTTP/1.1
Content-Type: application/json
Host: localhost:9200
Content-Length: 877
Expect: 100-continue

{"index":{"_index":"searchtests","_type":"searchtest","_id":1}}
{"id":1,"name":"one","detai

[2015-11-15 19:37] damienbod opened #14769 "Execution Mode in Terms filter ES 2.0"
What happened the execution mode in the terms filter in es 2.0? It runs still but does not effect the search result.
Greetings Damien

[2015-11-15 20:29] damienbod opened #14771 "Order not working inside a date_histogram aggs ES 2.0"
POST http://localhost:9200/searchaggtests/searchaggtest/_search?&search_type=count HTTP/1.1
Content-Type: application/json
Host: localhost:9200
Content-Length: 289
Expect: 100-continue

{"aggs":{"testHistogramBucketAggregation":{"date_histogram":{"field":"dateofdetails","interval":"1M","format":"yyyy-MM-dd","offset":"1d","time_zone":"+02:00","order":{"dateofdetails":"desc"},"min_doc_count":2,"exte

[2015-11-15 20:39] bleskes commented on #14684
@rjernst can you point at the commit that fixed this in 2.1? my search foo fails me.

[2015-11-15 20:49] bleskes commented on #14679
closed in https://github.com/elastic/elasticsearch/commit/18a75fb30c9d186dac0c232d9ca85445892ee5ca

[2015-11-15 20:49] #14679 closed

[2015-11-15 20:51] rjernst commented on #14684
It was the refactoring to remove plugin.types

[2015-11-15 20:59] rjernst commented on #14684
@bleskes See #13055

[2015-11-15 21:58] yanjunh commented on #14725
Cool. Thanks! I will take a look at the diff, just for my education.

[2015-11-16 05:26] masaruh commented on #14517
It happens when you have Shield and configure alias.
I believe it's fixed by https://github.com/elastic/elasticsearch/pull/14316.

[2015-11-16 06:03] GlenRSmith commented on #14517
A companion to this is that _settings and _mapping return JSON bodies with duplicate keys.

[2015-11-16 12:54] feuyeux opened #14772 "What port used to remote debugging"
From the office doc(https://github.com/elastic/elasticsearch/blob/master/TESTING.asciidoc),

If you want to run elasticsearch from your IDE, you should execute gradle run It opens a remote debugging port that you can connect with your IDE.

I found the only to debug ES is execute ```gradle run```, and invoke remote debug in IDE. But, it didn't tell about what the port open, or how to set a port to

[2015-11-16 13:03] tlrx commented on #14758
I think you have wrong expectation: the `routing` parameter is not supposed to be used to indicate which shard id you want to target. Instead, it can be used as index time to pass an arbitrary value that will be used to determine in which shard the document will be indexed (see [Routing a document to a shard](https://www.elastic.co/guide/en/elasticsearch/guide/current/routing-value.html) in The De

[2015-11-16 13:03] #14758 closed

[2015-11-16 13:08] jaymode commented on #14684
Closing since this is fixed in 2.1 and the change is too big for a bugfix release.

[2015-11-16 13:08] #14684 closed

[2015-11-16 13:29] jaymode commented on #11391
thanks for taking this on. I think just supporting `*` would be enough as I think that's all we use now and hopefully we can also add a way to escape a `,` in the test names so we don't have to skip more tests than necessary

[2015-11-16 13:32] #14670 closed

[2015-11-16 14:00] nik9000 opened #14774 "Leak fewer backwards nodes"
Right now elasticsearch will leak backwards nodes if you kill the maven process running them. With #14666 they'll at least leak them on a port range that won't bother anyone and be killed during the next build. We might be able to prevent some of these leaks if we leave the subprocess's stdin/stderr/stdout open and manually drain them while they run, similarly to how ant does it. I'm filing this t

[2015-11-16 14:07] danielmitterdorfer commented on #13892
Although it seems practical, this breaks the Liskov Substitution Principle and can lead to surprises:

[code]

It is also tricky to implement concurrent updates correctly. I think you would have to reimplement the mutable point class from scratch anyway and also provide an API that allows for atomic updates of a point coordinate (assuming concurrent updates are supported).

I am also not sure how

[2015-11-16 14:07] MaineC commented on #8964
@colings86 Updated your list of classes to touch here: https://gist.github.com/MaineC/2c630dea38077a2852cc

(clumsy bash command that generated the list on top of the gist, manually deleted references of aggregations and queries after running the command assuming #14249 and your aggregations refactorings fix those)

[2015-11-16 14:16] cbuescher commented on #14746
Great catch, found the root cause for this. When we set up those query builder tests we randomly assign the `_name` field to a query. In rare cases we might accidentally pick the same name for subqueries and the main query under test, like in this case:
[code]
When storing the queries by name in the shard context namedQueries map, this can lead to conflicts. Will change the test setup so this cann

[2015-11-16 14:16] #11657 closed

[2015-11-16 14:34] #14746 closed

[2015-11-16 15:01] bleskes opened #14776 "Decide whether to back port #14678 to 1.7.4 (ignored unallocated shards & making allocation decision)"
#14678 ( Take ignored unallocated shards into account when making allocation decision ) fixes #14670 ( Shard relocation happens while cluster is yellow ) but is non-trivial to back port to 1.7.4  . It's possible but will take some careful work. Opening this issue to make sure we re-evaluate if it's needed.

[2015-11-16 16:07] apatrida commented on #13681
We run into issues a lot with restoring temporary indexes that have aliases, would be good to have an option saying whether you want aliases restored or not for an index, and renaming them if you want (rename is less necessary if you have one index, but do make sense when you have unknown group of indexes that have the alias you want to rename)

[2015-11-16 16:12] jsirex commented on #14441
Does anybody now, is it good idea to keep "hostnames" in unicast config instead of IPs?
Is there any performance degradation while ES cluster is up and running? Or host name lookup happens only on start? Does DNS failure affect existing cluster?

[2015-11-16 16:15] apatrida commented on #13494
@imotov it does make sense to divide a shard into slices if you can read one slice from a primary, one slice from a replica, another from yet another replica, etc.

but definitely having a plan that allows parallel reading and dividing the load across shards, nodes, machines, the rack or racks.  And then yes, need something that is a per node ID so you can read individually.

I think a lot of us h

[2015-11-16 16:24] bleskes commented on #14697
Answering in another order:

Node ids actually change all the time. You can think of a node ID as an equivalent of a process id - every time the node is restarted and we have a new process, the id changes and the node joins the cluster again. This allows us to make sure that network connections are re-opened to the node etc.

We are making sure that we use the information based on where it come fr

[2015-11-16 16:29] #11560 closed

[2015-11-16 16:56] apatrida commented on #13273
We also have the need to read / write to two versions at the same time that are not compatible.  Have to change to REST API to do so (at least for one of them).

[2015-11-16 16:57] apatrida commented on #12721
We used it to proxy and limit or modify queries as they passed through while allowing others to invisible "just be handled"   but that code is old and in use, but not sure would continue in the same way in the future.

[2015-11-16 18:37] dakrone commented on #2869
@colings86 @clintongormley I looked at where the setting is updated, it's
currently updated in `MetaDataUpdateSettingsService`, which submits a new
cluster state update to change the number of replicas if it detects that the
setting must be changed.

I think it would be possible to try and use the AllocationDeciders to adjust the
number of replicas to the number of nodes where it can be allocated,

[2015-11-16 18:45] ppf2 opened #14781 "_type not using doc_values in ES 2.0"
[code]

Testing on ES 1.7 and ES 2.0, the above loads the same amount of fielddata into the fd cache.

On ES 1.7, put mapping api's change of _type to use doc_values or disable fd options do not throw an error, but they are not honored.

On ES 2.0, we explicitly throw an error when someone tries to modify the _type.  However, it also appears that we do not use doc_values for _type by default in ES

[2015-11-16 18:46] pickypg commented on #14781
A workaround to this problem is to _not_ use `_type` at all. Have a single `_type` and add another field that represents the "type" of a document, then work against it. This has the added benefit that it simplifies the mapping.

[2015-11-16 18:47] johnarnold commented on #14763
I also discovered that with "interactive" install, apt package manager prompts to overwrite the .service file -- it's just on non-interactive that it defaults to creating a new one which is not used.  E.g. via Ansible apt module.  I think defaulting to overwrite the .service file may be a better option for most users.

[2015-11-16 19:17] clintongormley opened #14782 "Confusing exception when `regexp` query used on numeric field"
PUT t/t/1
    {
      "num": 34
    }

    GET /_search
    {
      "query": {
        "regexp": {
          "num": {
            "value": "34"
          }
        }
      }
    }

returns:

   "error": {
      "root_cause": [
         {
            "type": "illegal_argument_exception",
            "reason": "expected '\"' at position 11"
         }
      ],

[2015-11-16 19:18] clintongormley commented on #14648
Nice catch :)

You can't use the regexp query on numeric fields.  I've opened https://github.com/elastic/elasticsearch/issues/14782 to improve the exception

[2015-11-16 19:18] #14648 closed

[2015-11-16 19:32] clintongormley commented on #14656
@colings86 Could you take a look at this please?

[2015-11-16 19:35] clintongormley commented on #14575
Yeah during upgrade you can't specify that option (see https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-put-mapping.html#merging-conflicts for where you can use it).

Essentially you need to fix or delete this index before upgrading.  The [migration plugin](https://github.com/elastic/elasticsearch-migration/) will help you to spot problematic indices before upgrading.

[2015-11-16 19:49] bleskes commented on #14631
As you said, we tried the route of periodic reroutes. It was our experience that it made the code more complex and was hiding bugs in other places - but not completely fixing them.

Note that we typically do the re-route inlined with another change in order to save on cluster state publishing and do adapt allocation immediately.

That said I agree that the current implementation is  tricky and hav

[2015-11-16 19:50] clintongormley commented on #14659
Hiya

I understand your use case (took a while to figure out). I don't think we should add functionality to copy_to every nested doc, or allow access to the parent doc during sorting.  I think the right solution here is to just add the parent field to each nested document before indexing.

[2015-11-16 19:50] #14659 closed

[2015-11-16 19:59] clintongormley commented on #14664
Hi @rcoh

There is something fundamentally different about this: a context is basically added as a prefix to all the suggestions in that context, so the only way to do "and" is to combine both tags into a single tag (and thus a single prefix), something you can do manually yourself:

    color: ["red", "blue", "blue_red"]

[2015-11-16 19:59] #14664 closed

[2015-11-16 21:03] jolynch commented on #14631
Fair enough, thank you for the context!

Bummer, ok well I'll do it from our discovery plugin as a way to get moving to 1.7.3 while I find a reproduction using Zen. When we were first having issues I tried switching to Zen for a bit and still observed the behaviour so I switched back to our disco plugin to continue debugging other issues. I remember being able to fairly consistently reproduce with

[2015-11-16 21:09] #14781 closed

[2015-11-16 21:13] larschri opened #14786 "_score is implicitly converted to integer with groovy"
It looks like _score is implicitly converted to integer in this groovy script: ``_score * 1``. I assume this is a bug since _score contains a floating point value.

To reproduce:
[code]

Notice that hits have score 0.0. Replace ``_score * 1`` by ``_score`` to get the correct score.

I am running elasticsearch 1.7.3 and groovy 2.4.4

[2015-11-16 21:56] plebedev opened #14787 "Dynamic (inline) groovy scripts that parse JSON do not work with 2.0"
I'm trying to migrate from 1.7 to 2.0 and I can't get my existing dynamic groovy script to work with ES.
First, I added this line to elasticsearch.yml:
*script.inline: on*

With just this line I'm getting an error when I try to do bulk update with the following script for each update action:
`final Script updateScript = new Script("event = new groovy.json.JsonSlurper().parseText(_event);ctx._sourc

[2015-11-16 22:40] dakrone commented on #14787
Relates to #14488, @rmuir we added the policy to allow JSON encoding from Groovy, do you think it's safe to add the policy to allow JSON decoding as well?

[2015-11-16 22:44] nik9000 opened #14788 "forbiddenPatterns needs an up to date check"
It looks like right now forbiddenPatterns always runs - it should probably declare itself up to date if neither the files nor the patterns have changed since the last time it runs. It'll save a few seconds per build.

[2015-11-16 22:48] rcoh commented on #14664
Also, is the FST per shard or is it global for the index?

[2015-11-16 22:59] areek commented on #14664
Yes the higher the cardinality of (index-time) contexts the more inefficient the FST becomes in terms of memory. Using multiple contexts at query-time will not have a significant impact on query performance.

FST is a shard-level data structure.

[2015-11-16 23:24] johnarnold opened #14789 "Marvel IndexNotFoundException on ES 2.0"
Version:
johnar@flowmaster3:/usr/share/elasticsearch$ bin/elasticsearch --version
Version: 2.0.0, Build: de54438/2015-10-22T08:09:48Z, JVM: 1.8.0_60

Plugins:
johnar@flowmaster3:/usr/share/elasticsearch$ bin/plugin list
Installed plugins in /usr/share/elasticsearch/plugins:
    - marvel-agent
    - license
    - kopf
    - head

Full error description:
When trying to use the marvel plugin in Kiban

[2015-11-16 23:44] rmuir commented on #14787
If it is just a property, it does not hurt. Of course, i strongly feel scripts should not be doing any of this.

[2015-11-17 01:22] #14788 closed

[2015-11-17 02:17] whybangbang opened #14792 "most fields in geopoint is error"
we use the most fields in many case,title,name and so on,and it run very well,there is a geopoint field in our mapping ,we find geohash cell have a good performance, so we update the mapping
PUT
{
  "item": {
    "properties": {
      "location": {
        "type": "geo_point",
        "fields": {
          "location_cell": {
            "type": "geo_point",
            "geohash": true,

[2015-11-17 02:29] whybangbang opened #14793 "elastic.co search performance bad"
we know there are many difference in elasticsearch 2.0, but i think 1.x is the main version in produce,we can't find many function by the search,if we can search in difference version?

[2015-11-17 03:26] markwalkom commented on #14793
Thanks for mentioning this. I have raised an internal issue with the website team to see if we can make the search version contextual.

That way when you pick (eg) 1.7 docs, any searches will only look there.

[2015-11-17 03:32] nknize commented on #13892
This is how I was planning: https://github.com/nknize/elasticsearch/blob/immutableGeopoint/core/src/main/java/org/elasticsearch/common/geo/GeoPoint.java

But this may be OBE as I believe we can make GeoPoint immutable (as Ryan mentioned) with low impact and less risk.

[2015-11-17 03:45] whybangbang commented on #14793
thank you

[2015-11-17 03:59] whybangbang commented on #14613
we don't know why time gauss function'score is 0 sometimes,
for example(the example enlarge the problem )
  {
          "gauss": {
            "updated_at": {
              "origin": 2440060781,
              "scale": "172800"
            }
          }
        },

explain is
{
"value": 0,
"description": "Function for field updated_at:",
"details": [
{
"value": 0,
"description": "exp(-0.5*pow(MIN[M

[2015-11-17 05:27] bdbogjoe opened #14794 "Unable to use dynamic mapping with mapper-attachment plugin"
here a my mapping :
[code]

If i put this document works fine
[code]

but if i want to use _content field, the dynamic mapping is not applied

[code]
@dadoonet Any idea ?

Eric (from ENIB as well :smile: )

[2015-11-17 05:41] areek commented on #10746
@djschny I have [benchmarked] (https://gist.github.com/areek/4fdd319b855be919e1ac) the completion suggester on a single shard environment using the [geonames](http://download.geonames.org/export/dump/allCountries.zip) dataset of ~9.3 million city names. The FST size for the dataset was ~201.5 mb.
The following shows the comparison of search performance (in KQPS) of the completion suggester (with a

[2015-11-17 06:07] bdbogjoe commented on #14794
using elasticsearch 2.0.0 and mapper-attachment 3.0.2

[2015-11-17 06:11] dadoonet commented on #14794
Hi Eric

1st: the former PUT is fine. Why do you want to use the later which is supposed to do the same thing? Are you also providing other metadata?

2nd: how do you know that the later does not work?

[2015-11-17 06:23] jerryladoo opened #14795 "exception has been thrown out instead of returning an empty result if searching on an empty index"
I delete the type 'mytype' with uri `curl -XDELETE http://test-elasticsearch:9200/myindex/mytype`
and then I run `curl -XGET 'http://test-elasticsearch:9200/myindex/mytype/_search?q=id_str:549678149&sort=created_time:desc' ` to search and sort the result, what I was expecting was an empty result, but I got this exception
[code]
is it supposed to be this way? or should return an empty result instea

[2015-11-17 06:39] dadoonet commented on #14795
You need to have a mapping for mytype. Which is not the case here.

Note that in 2.0 the former request you sent (DELETE) won't be possible anymore.

[2015-11-17 06:39] #14795 closed

[2015-11-17 06:49] shenzhun commented on #14613
@clintongormley I guess @whybangbang means that does gauss function of ES have default value function, when the output score is 0, then default value could be used instead of 0.

[2015-11-17 07:17] majormoses commented on #14441
@jsirex its only for joining a cluster. I would advise ips in lieu of hostnames as there is currently an issue that of a hostname fails in the list (any of them) it will prevent the cluster from booting. This does not affect a node once it has successfully joined/booted into a cluster.  This is a regression from 1.7: it looks like you posted the same question here: https://github.com/elastic/elast

[2015-11-17 07:18] majormoses commented on #14441
it only affects during cluster boot to my knowledge

[2015-11-17 07:28] bdbogjoe opened #14796 "Unable to use dynamic mapping and patch_match with mapper-attachment plugin"
here my mapping :

[code]

when i try to put one document

[code]

i receive error :
[code]

The mapping works find if i don't use path_match see #14794

[2015-11-17 07:29] bdbogjoe commented on #14794
Hi,

1) I want to put language as well
2) because when i check mapping i have this :

[code]

[2015-11-17 07:30] dadoonet commented on #14796
Most likely caused by https://github.com/elastic/elasticsearch-mapper-attachments/issues/169

From elasticsearch 2.0, mapper attachments plugin does not work if the attachment field is not a top level field but an inner field.

[2015-11-17 07:31] danielmitterdorfer commented on #13892
Thanks for the code example. This makes it much clearer.

However, as the `GeoPoint` fields are not final, the class is not immutable but just effectively immutable. This will be no problem as long as `GeoPoint` is only used from a single thread but you (might) get into trouble if you have multiple threads and you publish `GeoPoint` with a data race. If they fields of `GeoPoint` would be final, yo

[2015-11-17 07:39] bdbogjoe commented on #14796
ah ok thanks for your quick response, seems i have to revert to ES 1.7 until it is fixed

Any target date for 3.0.3 ?

[2015-11-17 07:50] dadoonet commented on #14794
I think that's another problem. I guess that your dynamic mapping is not applied correctly here.

Could you create a full script which helps to reproduce your issue?
Something like:

[code]

[2015-11-17 08:07] bleskes commented on #14441
@jsirex host names look up is currently done only on startup, which is also the source of the trouble reported here - it if fails the node won't start. Note though - this is not fault detection pinging but just the mechanism a node uses to find the cluster once it's starts up/ was isolated from it. You shouldn't worry about performance here.

It seems the consensus is to not resolve the host confi

[2015-11-17 08:23] tlrx commented on #14789
Thanks for reporting. The logs are truncated so I can't be sure of what is going on.

What is the layout of your cluster? One or more nodes? Is Marvel installed on all nodes? Does Marvel export data locally or via HTTP to another cluster?

Can you please share a full log (from start) and your configuration please (take care to remove any sensitive data)?

[2015-11-17 08:26] bleskes commented on #14697
Looking forward to a PR :)

I think that this is just working as we discussed/designed? If so, can we close the ticket?

[2015-11-17 08:29] colings86 commented on #14656
@davmrtl This is by design. The bucket_script aggregation is a [Parent Pipeline Aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-pipeline.html#search-aggregations-pipeline) and therefore needs to be inside a multi-bucket aggregation to run since it expects to be given buckets from its parent aggregation and add its results to those buckets. For now,

[2015-11-17 08:30] bleskes commented on #14631
I think this might be indeed one of the issues we discovered with the current approach. Hopefully it will be solved with the new one.

That would be great.

[2015-11-17 08:31] bdbogjoe commented on #14794
here the full script :
[code]

[2015-11-17 08:59] jolynch commented on #14697
Sure thing, and I can work on a PR if you think it's worth having some kind of expiration mechanism. I'm also fine with saying "this shouldn't happen and if it does it's a bug elsewhere". Either way feel free to close this, thank you for the feedback!

[2015-11-17 09:54] bleskes commented on #14697
yeah, I don't think an expiration mechanism is something to add here. We already have the node FD pinging from the same node. Closing for now then. Thanks!

[2015-11-17 09:54] #14697 closed

[2015-11-17 09:56] felixbarny commented on #13710
Thank you very much for the detailed suggestion. I have some trouble with this approach. If you are searching for `smith` only, you don't get any results. Probably because the must query essentially is empty. This is the relevant gist: https://www.found.no/play/gist/2715cdd064250352fd23

One approach would be to merge the two queries into one like this: https://www.found.no/play/gist/64f63fe1fd99f

[2015-11-17 10:04] dadoonet commented on #14794
Thanks @bdbogjoe. That's indeed a bug.

[2015-11-17 10:24] bdbogjoe commented on #14794
you are welcome, your are building a very nice tool, i'm pleased to help you to improve it

[2015-11-17 10:54] danielmitterdorfer opened #14798 "Thread interrupt flag is not properly restored after an InterruptedException"
I've spotted multiple instances across the code base where we catch `InterruptedException` and call `Thread.interrupted()` afterwards.  The problem is that `Thread.interrupted()` queries and *clears* the interrupted status (see also [Javadoc](http://docs.oracle.com/javase/8/docs/api/java/lang/Thread.html#interrupted--)) which is contrary to what should happen, namely to *set* the interrupt flag ag

[2015-11-17 11:10] clintongormley commented on #14683
It is likely that you have a compilation error, which you can see in your log file.

[2015-11-17 11:10] #14683 closed

[2015-11-17 11:17] clintongormley commented on #14686
Hi @rhealitycheck

That message is normal when you have an autogenerated license, and shouldn't affect anything else until it actually expires.  It is just telling you that your trial license will expire on that date, and what will happen once it expires.

I think you have another issue going on.  Any other details?

[2015-11-17 11:17] BorisKozo commented on #14683
Well, clearly you ignored the statement that the same query (obviously with the same file!) works on my Windows machine.

But I worked around the problem by sending the script with a POST statement which allows me to use the script ID in the query. Needless to say I sent the content of the exact same file you claim to have a compilation error.

[2015-11-17 11:18] clintongormley commented on #14691
@colings86 could you take a look please?

[2015-11-17 11:19] clintongormley commented on #14657
That sounds like you are trying to assign too much heap to each Elasticsearch instance.  Disabling mlockall will cause severe problems with slow garbage collection later on.

[2015-11-17 11:19] #14657 closed

[2015-11-17 11:21] clintongormley commented on #14683
@BorisKozo i did miss that.  But is there anything in the logs?  It should try to compile the script when you start ES, and will throw an exception if it was unable to do so.

[2015-11-17 11:23] colings86 commented on #14691
To me this is a documentation bug. It looks like the documentation didn't get updated form the previous incarnation of the settings (which were never released).

I think we should only allow the object definition and not allow `compression` on the root level. This makes the parsing easier in code and makes it easier to explain the syntax to users. If you are just using the defaults then you don't

[2015-11-17 11:24] BorisKozo commented on #14683
The log only has the error I pasted in my original post.

[2015-11-17 11:31] SHSE commented on #14657
@clintongormley the server has 256 GB RAM and the `ES_HEAP_SIZE` is set to 30GB.

[2015-11-17 12:55] clintongormley commented on #14573
Thanks for persisting.  I've managed to replicate this and it is indeed a bug.

When the tribe node attempts to instantiate a node for the tribe service, it checks for access to the config directory, but that setting is no longer available to it and so it defaults to checking for path.home.

This can be replicated with a simple config file, saved as `foo/elasticsearch.yml`:

    node.name: foo

[2015-11-17 13:02] clintongormley commented on #14573
@javanna could you take a look at this please?

[2015-11-17 13:23] clintongormley commented on #14641
Hi @royrusso

Your diagnosis seems correct.  I agree that we could coerce floats to longs for epoch_millis.

[2015-11-17 13:26] bleskes commented on #8403
closing as this seems to be done with the refactoring that was part of 2.0.0

[2015-11-17 13:26] #8403 closed

[2015-11-17 13:30] clintongormley commented on #14574
@lipixun you're really going to need to provide a full recreation so that I don't have to guess about anything and can just run it.

[2015-11-17 13:39] clintongormley commented on #14692
Yeah, this just doesn't sound doable in any way that doesn't suck.

Still difficult but at least within the realms of possibility would be a `parent` aggregation: https://github.com/elastic/elasticsearch/issues/14692

[2015-11-17 13:39] #14692 closed

[2015-11-17 13:43] clintongormley commented on #14706
Hi @krisb78

Could you try it without the cloud aws plugin and see if you have the same problem?  Also, could you upload the output of `GET /_cluster/state` (which you'll need to get from the 1.7.2 cluster)

thanks

[2015-11-17 13:49] clintongormley commented on #14708
Hi @sonenko

Please use the forums to ask questions like these: http://discuss.elastic.co/

[2015-11-17 13:49] #14708 closed

[2015-11-17 13:53] clintongormley commented on #14709
Hi @tarunsapra

In 1.x, it used to be `PUT /_licenses` but in 2.0 it is `PUT /_license`

[2015-11-17 13:53] #14709 closed

[2015-11-17 13:56] rhealitycheck commented on #14686
The only error messages we received was that a master node could not be found. There were no errors in the data nodes' logs. Our client nodes couldn't connect to the data nodes because a master could not be found. You could not query directly to the cluster because a master could not be found all the while in the logs you could see a master had been elected. The cluster returned to a normal state

[2015-11-17 14:19] krisb78 commented on #14706
Hi @clintongormley ,

Here's my cluster state, I'll try to start the node without cloud-aws and let you know shortly.

[cluster_state.txt](https://github.com/elastic/elasticsearch/files/36746/cluster_state.txt)

[2015-11-17 14:19] clintongormley commented on #14714
Hi @JustinHook

Yes, this is a bug in the mappings.  Unfortunately, it is a really hard one to fix in 1.x  A lot of the changes in 2.0 were about cleaning up this kind of stuff.

We wouldn't be able to fix this in 1.x without backporting half of 2.0, so I'm going to close this as won't fix.

thanks for the good recreation

[2015-11-17 14:19] #14714 closed

[2015-11-17 14:21] clintongormley commented on #12930
Yes, closing

[2015-11-17 14:21] #12930 closed

[2015-11-17 14:23] Bartinger commented on #14706
I just ran into the same issue.
[cluster-state.json.txt](https://github.com/elastic/elasticsearch/files/36756/cluster-state.json.txt)

[2015-11-17 14:23] krisb78 commented on #14706
Tried without cloud-aws, but got the same error:

[code]

[2015-11-17 14:36] clintongormley commented on #13774
Closed by https://github.com/elastic/elasticsearch/pull/14723

[2015-11-17 14:36] #13774 closed

[2015-11-17 14:50] clintongormley commented on #14730
@colings86 we should probably fix this :)

[2015-11-17 15:39] nknize commented on #13892
Thanks for the review and great input @danielmitterdorfer  If/when this lands I'll give you a heads up to review the PR. @colings86 how urgent is GeoPoint immutability?

[2015-11-17 15:39] ebradshaw commented on #14722
@dadoonet Unless I'm missing something, do you think we could reopen this issue?  While I can manage a workaround with a separate JVM, this isn't exactly test friendly :)

[2015-11-17 15:52] colings86 commented on #13892
@nknize its not that urgent. More like a nice to have really. It just means we won't need to do any copying of points to make sure the don't change

[2015-11-17 15:57] danielmitterdorfer commented on #13892
@nknize Thanks, I'm glad I could help. :)

[2015-11-17 16:00] pickypg opened #14802 "date_histogram interval uses xM as xm"
The `date_histogram` interval is parsing `"3M"` as though it were minutes (e.g., `"3m"`). This leads to aggregations that should be invalid being accepted that create a massive number of buckets given the wrong data set.

An example aggregation that has a painfully large response (5 months created a ~700K lines of pretty printed JSON with only 4 documents in the index):

[code]

As an important no

[2015-11-17 16:10] rjernst commented on #14722
@ebradshaw Have you tried looking at existing tests in ES? This test does what you want I believe:
https://github.com/elastic/elasticsearch/blob/6e81b0dd7025fe10d49ade35b5852697ef39355e/core/src/test/java/org/elasticsearch/indices/state/OpenCloseIndexIT.java#L329

My only thought is it looks like you are running on an old version based on the test constructs. What version would that be? If it is b

[2015-11-17 16:11] dadoonet commented on #14722
I wrote this test and it works fine on 2.0:

[code]

[2015-11-17 16:35] clintongormley commented on #11947
@jelmerk the fix is in 2.0

[2015-11-17 16:35] plebedev commented on #14787
As a workaround, I found *groovy.json.JsonSlurperClassic* class that can be used instead of *groovy.json.JsonSlurper* without causing any of the errors.

[2015-11-17 17:02] clintongormley commented on #14630
Hi @jelmd

Sorry to be obtuse, but could you talk me through the problem here? I'm not following.

[2015-11-17 17:08] johnarnold commented on #14789
[flowstash.txt](https://github.com/elastic/elasticsearch/files/36943/flowstash.txt)

[elasticsearch.yml.txt](https://github.com/elastic/elasticsearch/files/36945/elasticsearch.yml.txt)
Sure thanks for taking a look.  The cluster has (3) master nodes and (24) data nodes.  License and Marvel-agent plugins are installed on all nodes.  The marvel agent is using default config, exporting locally.

Some

[2015-11-17 17:10] johnarnold commented on #14789
[flowdata1.log.txt](https://github.com/elastic/elasticsearch/files/36949/flowdata1.log.txt)
[flowmaster2.log.txt](https://github.com/elastic/elasticsearch/files/36950/flowmaster2.log.txt)

Two additional logfiles, one from a data node and one from a "otherwise working" master node.

[2015-11-17 17:12] rashidkpc opened #14804 "/_field_stats does not accept epoch_millis for date fields"
It looks like `/_field_stats` does not accept milliseconds since epoch for gte/lte unless it is explicitly mapped as such. This isn't the case with say, range filters, which accept `format: "epoch_millis"`. This is super important to Kibana as there's no direct mapping from JODA formats to javascript date formatting libraries, so we've always sent everything as epoch. By default date fields are ma

[2015-11-17 17:25] travisbell opened #14805 "ES gets stuck throwing thousands of errors per second"
We're having an issue where a bad query is sending ES into an endless error loop of ~5,000 errors being logged per second. This is with ES 1.7.2 on a 3 node cluster.

The error that triggers it can be any legit error (this is from a popular web service and our user input can be all kinds of crap 😉), but once it gets one of these in a loop, it's the same error over and over and the only way to stop

[2015-11-17 17:31] johnarnold commented on #14789
Also noticed marvel shards are unassigned:

johnar@flowmaster1:/var/log/elasticsearch$ curl -XGET http://localhost:9200/_cat/shards | grep marvel
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  1 1192k    1 16299    0     0  16003      0  0:01:16  0:00:01  0:01:15 16010.marvel-es-2015.11

[2015-11-17 17:58] nik9000 commented on #14774
I had a look at this - so far as I can tell the situation is no different with backwards nodes than it is with the ant-run nodes: either way they die if you `kill` the process and they don't die if you `kill -9` the process. I'm going to close this. We can reopen it if/when we think there is more to do.

[2015-11-17 17:58] #14774 closed

[2015-11-17 18:03] jpountz commented on #14673
Closed via #14797

[2015-11-17 18:03] #14673 closed

[2015-11-17 18:09] nik9000 commented on #14805
Sure! For lots of things you'll see one copy of the error per shard. I've also seen this when I had my retry logic on my appserver too permissive.

Are you _sure_ it Elasticsearch making echo errors? Can you try running the same query with the same mappings on a local index with curl?

[2015-11-17 18:18] phreakinggeek commented on #8708
Is that true for single node ES instances as well?

[2015-11-17 18:29] travisbell commented on #14805
Hey @nik9000!

I am pretty sure. There is no spike in app server requests, or in traffic between the app servers and ES nodes.

We have never been able to replicate this problem locally, only under a real production load. And even then, it will be fine for 12 hours (with some errors here and there no big deal) and then all of a sudden she fires up (like in the graph above) and we see CPU usage spi

[2015-11-17 18:30] #14748 closed

[2015-11-17 18:30] mdiehm commented on #14498
I had the same issues today. I run debian jessie (8.2). Repos for elastic added to /etc/apt... as described in the documentation. Running elastic through systemd as described in your documentation. When I add the marvel.agent.exporters the way you tell people I get:

systemctl status elasticsearch

[2015-11-17 19:28:17,347][WARN ][netty.channel.DefaultChannelPipeline] An exception was thrown by an

[2015-11-17 18:36] javanna commented on #14573
I had a look at this. Only selected settings are forwarded to the inner tribe clients from the tribe node. `path.home` is one of them but `path.conf` is not. That said, if I remember correctly the tribe clients shouldn't read from configuration file (and sysprops) but only inherit a few settings from the parent node (like it happens in `TribeService`), something that we had enforced with #9721. I

[2015-11-17 18:45] mdiehm opened #14807 "Marvel not working after changing cluster.name to sth. else than elasticsearch"
Marvel worked fine when the cluster was name elasticsearch. No I changed it and things went wrong. I have uninstalled marvel and licence and reinstalled with no success. I see there is a marvel index created in the indices directory:

root@moose:/var/lib/elasticsearch/hirschewiewir/nodes/0/indices# du -hs .marvel-es-*
16K     .marvel-es-2015.11.17
16K     .marvel-es-data

but the shareds are unass

[2015-11-17 20:00] ywelsch opened #14809 "IntelliJ - Gradle Integration broken"
I'm using the [Gradle IntelliJ integration](https://www.jetbrains.com/idea/help/working-with-gradle-projects.html) for Elasticsearch. When I refresh the linked Gradle projects in the Gradle Tool window, the folder `.idea` gets deleted (with all my settings) and I end up in an unrecoverable state (need to completely reimport the whole project from scratch with all my settings gone).

I see that as

[2015-11-17 20:01] nknize commented on #14713
Hi @bogensberger,

Thanks for the question. A few points to help answer your question:
* ES doesn't currently use the spatial3d package as its performance is not yet ready for integration.
* Lucene spatial now supports ```CONTAINS``` and it is extremely low hanging fruit to add. So I'll actually open a PR shortly to add this functionality to 2.2+.

[2015-11-17 20:10] dadoonet commented on #14809
Ha thanks! It happened to me today as well. I thought I did something stupid. :)

[2015-11-17 21:10] catalandres opened #14811 "unknown search element [common]: Common Terms Query not working?"
I find myself unable to run a common terms query in the terms explained [in the most recent documentation for v2.0](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-common-terms-query.html).

Every time I try to run something along the lines of `curl -XGET 'http://localhost:9201/INDEX_NAME/_search' -d '{"common": { "FIELD_NAME": {"query": "SEARCH_TERMS", "cutoff_frequency"

[2015-11-17 21:21] rjernst commented on #14573
If I understand the tribe node correctly, it is no different than any other client node (well, creating multiple client nodes internally). So to me, it should be passing along any settings it needs to configure the node (including `path.conf`).  However, I'm not sure what this has to do with the transport client? The transport client by definition now does not use the config file settings (and the

[2015-11-17 22:04] dakrone commented on #14772
+1

[2015-11-17 22:43] jerryladoo commented on #14795
However, it did return me an empty result when I ran the same api but without the `sort`,
[code]
or
[code]

so you were saying that the mapping must be applied first if I want to use `sort`, am I correct?

And in 2.0 how can I delete a type if the former request becomes not available? is there a alternative way to do that?

[2015-11-17 23:43] jasontedor commented on #14743
The `Map#entrySet` method is abstract and is [implemented on `LinkedHashMap`](https://docs.oracle.com/javase/8/docs/api/java/util/LinkedHashMap.html#entrySet--). Because of virtual method dispatch, the cast doesn't matter and the implementation of `entrySet` on `LinkedHashMap` will be the one that is invoked at runtime. It is this method that gives the iteration order while iterating, and that is

[2015-11-18 00:53] malinir123 opened #14816 "Filtered query using elasticsearch API"
How to write the following filtered query using elasticsearch java api?

{
  "query": {
    "bool": {
      "must": [
        { "match": { "title":   "Search"        }},
        { "match": { "content": "Elasticsearch" }}
      ],
      "filter": [
        { "term":  { "status": "published" }},
        { "range": { "publish_date": { "gte": "2015-01-01" }}}
      ]
    }
  }
}

[2015-11-18 01:07] rjernst commented on #14795
Questions like this are better asked on http://discuss.elastic.co

Sorting on a non-existent field is not supported. As David said, you must first have a mapping for that field. The response is not inconsistent, the default sort will sort on `_score` which is a built in field.

[2015-11-18 01:16] rjernst commented on #14816
Please ask questions like this on http://discuss.elastic.co. We use github for bug reports and feature requests.

[2015-11-18 01:16] #14816 closed

[2015-11-18 01:18] ebradshaw commented on #14722
@dadoonet That works for me also.  Must be time to upgrade to 2.0!

@rjernst I was wondering if it might be something with the translog.  Looks like that testOpenCloseWithDocs wasn't there prior to 2.0.

Thanks for the help here guys.  BTW, it took me a bit of trouble getting the test to work in 2.0.  The [docs] (https://www.elastic.co/guide/en/elasticsearch/reference/current/using-elasticsearch-t

[2015-11-18 01:19] #14772 closed

[2015-11-18 01:24] #14743 closed

[2015-11-18 01:25] talevy commented on #14647
OK, @javanna @martijnvg, let me know what you think!

here is an in-progress branch of what I've come up with so far: [link](https://github.com/talevy/elasticsearch/tree/if_conditions_else_processor/plugins/ingest/src/main/java/org/elasticsearch/ingest/processor/conditional)

a bit about what has been done:

Conditionals would be described as a separate processor within the pipeline. Branches of e

[2015-11-18 03:05] maxiruani commented on #4915
+1

[2015-11-18 03:26] ppf2 opened #14818 "Inconsistent result from _cat/aliases vs. /_aliases for closed indices"
[code]

When using the  _cat/aliases API it does not show indices associated to an alias that are closed.
[code]

When using the _aliases API, it shows all indices associated to an alias regardless of their open/closed status

[code]

[2015-11-18 03:33] ppf2 commented on #14818
Actually previous test was on ES 1.7.  Just tested ES 2.0, both _aliases and _cat/aliases API are now returning just the open indices (and are consistent).  Closing.

[2015-11-18 03:33] #14818 closed

[2015-11-18 03:43] z-star opened #14819 "when upgrade es from v1.1 to v1.7 . The has_parent include prefix Query slow 200ms。What is the cause of the problem？"
shards: 10 * 2 | docs: 71,991,873 | size: 54.95GB

query:

  "filter" : {
      "has_parent" : {
        "filter" : {
          "prefix" : {
            "treecode" : "1#55#57#58#682#jieying.cheng@"
          }
        },
        "parent_type" : "treecode"
      }
    }

[2015-11-18 05:41] luizamboni opened #14820 "script_fields with filtered query"
I already try to put script_fields inside filtered, inside query inside filtered, nothing works an i m not found any quote of how use the 2 features together...

[code]

the error message is :
{
"error": "SearchPhaseExecutionException[Failed to execute phase [query], all shards failed; shardFailures {[II2sctcxR2eIZdEBEoBj-g][4ninjas_products_test][0]: SearchParseException[[4ninjas_products_test][0

[2015-11-18 05:43] luizamboni commented on #14820
is more readable here
https://gist.github.com/luizamboni/aac0dda810eebeb44fd0

[2015-11-18 07:01] mnikhil-git opened #14821 "allow to define own JAVA_OPTS to use another garbage collector"
I would like to use a different garbage collector other than CMS which is enforced in elasticsearch script. current script does not let me, please update the script so there is a flexibility at the user side to do that.

JAVA_OPTS should not be updated with in the script unless the user wants.

thanks.

[2015-11-18 07:03] mnikhil-git opened #14822 "elasticsearch java class path for 1.7.1 uses 0.90.5 jar path"
this is incorrect

[code]

looks like 0.90.5.jar is hard coded?

[2015-11-18 08:03] jaranflaath opened #14824 "Potential issue when testing plugins using ElasticsearchIntegrationTest?"
Hi,

I've come across a potential issue when writing an integration test for one of our plugins using the ElasticsearchIntegrationTest class. This is in version 1.7.3.

When a plugin tries to make a request to Elasticsearch, it will receive an error due to the assert in org.elasticsearch.transport.Transports which is checking if the current thread is a transport thread.

I have created a github re

[2015-11-18 09:07] simplechris commented on #10746
:+1:  Yeah, I would like to have this option. I'm willing to use more memory to have my payloads stored within the FST.

This sounds like a good compromise. Without it, honestly, I'd be very apprehensive about upgrading.

The rest of the ticket and progress sounds so exciting, I believe we should document this trade-off and allow users to make the informed decision of if/how to store their payload

[2015-11-18 09:41] rabeetwaqar1 commented on #14807
I have the same issue, But i'm facing this while setting the cluster name to : elasticsearch

[2015-11-18 09:44] dadoonet commented on #14822
It sounds like your update is wrong and that you have old jars remaining in `/opt/elasticsearch/1.7.1/lib/` dir.

Check for it.

[2015-11-18 10:04] mnikhil-git commented on #14822
got it, it was because of elasticsearch.in.sh was from old installation was stil lurking around.. I had to reinstall the package to get it removed and it is working fine. thanks for the attention. this can be closed.

[2015-11-18 10:04] #14822 closed

[2015-11-18 10:17] jaranflaath commented on #14824
After some more digging and discussions on Freenode, I have now found a solution and provided an example in the "solution" branch in the example repository: https://github.com/jaranflaath/es-plugin-integrationtest/tree/solution

However, I would love some feedback on what is the proper way to do this.

[2015-11-18 10:21] holeunlee opened #14825 "Visualization - Mouse over details"
Hello all,

I've been wondering if it is possible to change the mouseover details on for example a vertical barchart?
At the moment during a mouseover on a bar, it shows "filter" and "@timestamp" which is not very useful.
A combination of a custom field "status" or combination of a "@timestamp" + "status" + "host" is the result i'm looking for.

[2015-11-18 10:57] dadoonet commented on #14825
Please ask questions on discuss.elastic.co and if you need to ask for a feature request about Kibana, please open it in Kibana project.

This repository is about elasticsearch only.

[2015-11-18 10:57] #14825 closed

[2015-11-18 11:04] runningman84 opened #14826 "2.0 does not handle -Des.config"
We used to run mutiple instances of elasticsearch on the same machine. Our startup script would look like
[code]
This is the error message
[code]

Is this a known problem? I do not want to install elasticsearch binaries mutiple times on a single machine...

[2015-11-18 11:09] dadoonet commented on #14826
It's a known feature. Not a known problem ;)

You can define a `path.conf` which points to a dir containing an `elasticsearch.yml` file.

[2015-11-18 11:09] #14826 closed

[2015-11-18 11:13] electrical commented on #14826
@runningman84 With the ES puppet module we handle this by creating a directory per instance.
via `-Des.path.conf` you can set the path to the config directory.

[2015-11-18 11:35] maksutspahi opened #14828 "elasticsearch 2.0 handler type for murmur3 not found"
I have updated 1.4.2 to 2.0.0.
I installed plugin
   `sudo bin/plugin install mapper-murmur3`

I had some data inserted in 1.4.2. After I updated to 2.0.0 I am getting this error while starting elasticsearch.
[code]

My mapping was:
[code]
But when I delete the old data and recreate the index it works without problem.

[2015-11-18 12:17] danielmitterdorfer commented on #14620
Just as a quick update. I've extracted everything related to the handling of interrupts to a separate issue (see #14798).

[2015-11-18 12:43] clintongormley commented on #14744
Isn't the problem in JBoss?

    INFO|3861/0|15-11-13 12:55:55| at org.jboss.netty.logging.InternalLoggerFactory.(InternalLoggerFactory.java:49)
    INFO|3861/0|15-11-13 12:55:55| at org.elasticsearch.common.netty.NettyUtils.(NettyUtils.java:90)

[2015-11-18 12:53] clintongormley commented on #14749
@pierresetteskog the `path` parameter is no longer supported in 2.0, except for pre-existing indices for bwc.

[2015-11-18 12:53] #14749 closed

[2015-11-18 12:54] clintongormley commented on #14740
@klahnakoski yes, nulls need to be handled by your script as appropriate for your needs.

[2015-11-18 12:54] #14740 closed

[2015-11-18 12:58] clintongormley commented on #14534
Closed by https://github.com/elastic/elasticsearch/pull/14764 and https://github.com/elastic/elasticsearch/pull/14564

[2015-11-18 12:58] #14534 closed

[2015-11-18 13:15] clintongormley commented on #14768
You're specifying `max_determinized_states` at the wrong level.  It should be at the same level as `value`.  In 3.0 the parsing has been improved to throw an exception instead of silently swallowing the error.

[2015-11-18 13:15] #14768 closed

[2015-11-18 13:16] clintongormley commented on #14769
Essentially all filters are now really queries.  For bwc, we don't throw an exception on execution mode, but it is ignored as it is no longer supported.

[2015-11-18 13:16] #14769 closed

[2015-11-18 13:16] clintongormley commented on #14769
See https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_20_query_dsl_changes.html#_queries_and_filters_merged

[2015-11-18 13:20] zdeseb opened #14830 "Terms Query doesn't support minimum_should_match without info in breaking changes"
**minimum_should_match** parametr is not supported in Terms Query in ES 2.0 version and **there is no such info in ES 2.0 Breaking Changes** document.

Following query works on ES 1.7.3 but doesn't work on ES 2.0 - [terms] query does not support [minimum_should_match]
[code]

[2015-11-18 13:24] clintongormley commented on #14771
This is weird for a few reasons...

* you can't sort on fields, only on the result of aggregations so the exception is correct
* it shouldn't be returning a 503 response though
* when I try it (full example below) on 2.0, I don't get this exception, which i should

    POST _bulk
    {"index":{"_index":"searchtests","_type":"searchtest","_id":1}}
    {"id":1,"name":"one","details":"This is the det

[2015-11-18 13:25] #14804 closed

[2015-11-18 13:26] nik9000 commented on #13522
Note for those following along at home - I don't believe this should block 2.1.0. Its fine to kick this to 2.1.1, 2.1.2, etc. The *really* important BWC tests are passing.

[2015-11-18 13:28] clintongormley commented on #14517
Thanks @masaruh. Closing in favour of #14316

[2015-11-18 13:28] #14517 closed

[2015-11-18 13:30] jasontedor commented on #14744
Netty use to be developed under JBoss so the package names from the 3.x line reflect that (it is no the longer case).

I think that the user has something unusual going on with Netty and their classpath. In particular, the `StackTraceSimplifier` class that you refer to was removed between 3.9.0 and 3.10.0 of Netty. If you look at the source of `InternalLoggerFactory` from say 3.9.0.Final, you'll s

[2015-11-18 13:31] #14744 closed

[2015-11-18 14:05] clintongormley commented on #14383
Closed by https://github.com/elastic/elasticsearch/pull/14677

[2015-11-18 14:05] #14383 closed

[2015-11-18 14:10] gmarz commented on #14691
@colings86 Agreed, that makes sense.

A bit of nit pick though, but probably worth nothing: the null checks [here](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/search/aggregations/metrics/percentiles/AbstractPercentilesParser.java#L151) and [here](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/search/aggregatio

[2015-11-18 14:15] colings86 commented on #14771
I get the same as @clintongormley.

This is a bug because an exception should be thrown and the status code returned should be 400 (bad request).

[2015-11-18 14:27] Hexer338 commented on #4915
+1

[2015-11-18 14:31] jpountz opened #14832 "Can we replace the field stats API with search/aggs?"
Most information that the field stats API returns can also be computed with our search API:
- min value (min aggregation)
- max value (max aggregation)
- density (total hits of an exists query divided by the total hits of a match_all)

So for instance, you could get the min/max values of a field called `@timestamp` on all indices with the following aggregation:

[code]

The field stats also has fi

[2015-11-18 14:32] danielmitterdorfer opened #14833 "Align handling of interrupts in BulkProcessor"
### Background

In #14799, I've spotted that `BulkProcessor` does not handle `InterruptedException` properly. `InterruptedException` is the standard Java facility to request cancellation of an ongoing operation in another thread.

After some discussion (see #14799), we've decided to move the change to the client API to a dedicated ticket for documentation purposes as this change also interferes wi

[2015-11-18 14:33] danielmitterdorfer commented on #14833
This ticket is currently blocked by #14620.

[2015-11-18 14:41] clintongormley commented on #14786
A few interesting things here:

*  `_score * 1` is resulting in an integer, which can result in a score of 0 if the score is less than 1
* `_score * 10000` STILL results in a score of 0
* `_score * 1.0` works
* In plain groovy, `_score = 0.94; _score * 1` returns a floating point

@dakrone any ideas what is happening here?

[2015-11-18 14:48] clintongormley commented on #14792
Hi @whybangbang

Your mapping works fine, and you haven't provided sufficient information to figure out what you are doing when you get that error.  Either way, this sounds like a question that would be better asked in our forums: https://discuss.elastic.co/

[2015-11-18 14:48] #14792 closed

[2015-11-18 14:53] rashidkpc commented on #14832
The reason Kibana needs _field_stats is speed alone. Currently aggregations don't perform fast enough for Kibana to use them for pre-flight requests in determining which indices to search. On my very small data set I get 138ms for an aggregation, and 23ms for _field_stats.

[2015-11-18 15:14] jpountz opened #14835 "Optimize min/max aggs to use index stats when applicable"
Today if you run a min or max aggregation, we will always run the query and collect matches. However in the particular case that the query is a `match_all` query and that there are no deletions (which is fairly common for time series), we could use index statistics and return directly.

[2015-11-18 15:15] jpountz commented on #14832
Wouldn't the request cache already help from that perspective?

Separately I think we can work on making such aggs less naive and use index statistics when applicable. I opened #14835

[2015-11-18 15:16] clintongormley commented on #14683
Something is weird then, because I tried it out on 1.7.3 and it worked just fine for me.  Any more info you can provide to debug this? Are you using a package instead of the zip? Any other settings?

[2015-11-18 15:18] larschri commented on #14786
``_score * 10000`` - My theory is that _score is casted to integer (zero) before the multiplication takes place.

[2015-11-18 15:22] rashidkpc commented on #14832
The request would cache, but only if the data and time ranges that are not changing right? Most Kibana users have constantly updating data sets and are using `[now-1M TO now]` style time ranges. We need to re-lookup the index list whenever the time range or underlying data changes.

[2015-11-18 15:23] dadoonet commented on #14794
Here is my theory and I don't think we can really fix it but just document it:

1. create a dynamic template which adds `"match": "my_attachment"` for a String field which matches `"match_mapping_type": "string"` (a String).
2. Index a document with `"attachment":"BASE64 ENCODED"`
3. This is matching the `string` type so we apply the mapping

Do the same thing but index a document like:

[code]

H

[2015-11-18 15:25] clintongormley commented on #14686
Are you sure you had the license plugin installed on all nodes (including client nodes)?

[2015-11-18 15:26] asaf opened #14837 "Query Template: "Field name [myChild.name] cannot contain '.'"
Hey,

I have a query template that looks like:

[code]

Saving it causes:

[code]

But running the exact same query not as template works as expected,

What is wrong?

btw this happens with `Elastic Search v2` (works fine with 1.7)

Thanks,

Asaf.

[2015-11-18 15:28] rhealitycheck commented on #14686
I'm pretty sure we had it on all nodes but I honestly don't remember right now. The strangest part of this behavior was that we had the Watcher and License plugins installed for about a month and a half after which we saw this strange behavior.

[2015-11-18 15:30] clintongormley commented on #14686
Either you should have seen it immediately, or after one month, no?  Something else must have changed.  I wonder if another node joined the cluster without the license plugin?

[2015-11-18 15:31] dakrone opened #14838 "[CI Failure] GeoDistanceRangeQueryTests.testToQuery fails due to numeric precision problem"
Via: http://build-us-00.elastic.co/job/es_core_master_centos/8587/testReport/junit/org.elasticsearch.index.query/GeoDistanceRangeQueryTests/testToQuery/

[code]

Reproduces with:

[code]

[2015-11-18 15:31] dakrone commented on #14838
@nknize can you take a look at this?

[2015-11-18 15:32] bdbogjoe commented on #14794
i my document, i can have many attachment fields, that's why is was nice to the dynamic template

like
[code]

[2015-11-18 15:33] BorisKozo commented on #14683
I think you were right in the first place.
There was something wrong with the file. I deleted the entire content and replaced with just return 0; and it worked.
I cannot figure out what was wrong with it, maybe some line ending issue moving it from Windows to Linux.

In any case I am sticking with the script_id way for now.

Thanks for your help.

[2015-11-18 15:35] rhealitycheck commented on #14686
So this would be expected if the license plugin was not installed on a node that joined the cluster but as long as all of them have the plugin it should be fine, correct? I can try and replicate and see if the issue is reproduced if we have it installed on all nodes.

[2015-11-18 15:39] dadoonet commented on #14794
I did not test so I don't know if this could work but what would happen if you change `"match_mapping_type": "string"` to `"match_mapping_type": "object"`?

[2015-11-18 15:46] spalger commented on #14534
:dancer:

[2015-11-18 15:53] bdbogjoe commented on #14794
great !!

works fine, thanks

[2015-11-18 15:57] dadoonet commented on #14794
Closing then as not an issue! :D

[2015-11-18 15:57] #14794 closed

[2015-11-18 15:58] clintongormley commented on #14686
@rhealitycheck i think so.  See https://github.com/elastic/elasticsearch/issues/13445 for more

[2015-11-18 16:02] rhealitycheck commented on #14686
Sure I'll try to reproduce.

But just to be clear none of the data nodes had issues joining to the cluster unlike #13445, so I find it strange that even directly querying those nodes returned that no master was available. I can see how the client nodes wouldn't be able to talk to the data nodes if they didn't have it installed but for the entire cluster to be unresponsive seems extreme.

[2015-11-18 16:07] martijnvg commented on #14706
@krisb78 Looking at your cluster stats I found that there is an index named `hotcoffee_v1` and also an alias named `hotcoffee_v1`. Alias and index names need to be unique in a cluster, so this causes this  unexpected failure. I wonder how this could have happened... did you by any chance do a restore with a rename?

[2015-11-18 16:13] #14798 closed

[2015-11-18 16:16] clintongormley commented on #14498
@tlrx any ideas?

[2015-11-18 16:22] bdbogjoe commented on #14794
just have to update doc :smile:

[2015-11-18 16:22] nik9000 commented on #14835
I bet there are use cases where it'd be ok to ignore that there are deletes and using index statistics anyway. It'd be nice to have an option for that too.

[2015-11-18 16:28] krisb78 commented on #14706
This indeed is the case - I first created a template with the pattern set to 'hotcoffee_v1*', then started indexing into the 'hotcoffee_v1' index - the cluster (1.7.2) didn't complain.

So I have:

[code]

and then

[code]

I think I have one more index/template set up like that, it never caused me a problem in 1.7.2...

Has it changed in 2.0.0 ?

[2015-11-18 16:35] jpountz commented on #14832
Good point about caching, the script from the bucket selector will change all the time, which is a pity since shards (where the caching is done) don't care about pipeline aggs, which are executed on the coordinating node.

[2015-11-18 16:36] jpountz commented on #14832
As a side note, the caching would work if the bucket filtering was performed on Kibana side.

[2015-11-18 16:38] martijnvg commented on #14706
No (except than the error that you're seeing that expects index and alias names to be unique). So this error needs to be fixed and be able to handle alias and index with the same name.

I do think that adding an alias with the same name as the index via index templates should not be allowed.

[2015-11-18 16:47] jasontedor commented on #3226
@normanmaurer As [Netty 3.x is deprecated](http://stackoverflow.com/a/30477520) but is still currently maintained, do you have a rough timeframe for when it will no longer be the case that it is maintained?

[2015-11-18 16:53] krisb78 commented on #14706
Hm, I see your point...

I'll check if renaming these aliases fixes the issue.

[2015-11-18 17:22] nik9000 commented on #13522
I'm working on SnapshotBackwardsCompatibilityIT on and off now.

[2015-11-18 17:50] javanna commented on #14573
@rjernst it doesn't have to do directly with the transport client, but the inner tribe nodes have a similar requirement when it comes to loading from config file. They should not be reading out of the config file but only inherit some selected settings from their "parent" node (the actual tribe node), and that is why we were previously setting `loadConfigSettings` to `false`, which is now removed

[2015-11-18 18:07] clintongormley commented on #14819
Hi @z-star

Parent-child has been completely rewritten in 2.0, so I would suggest trying it out there instead.

[2015-11-18 18:07] #14819 closed

[2015-11-18 18:10] clintongormley commented on #14820
Hi @luizamboni

Please ask questions like these in the forums instead: http://discuss.elastic.co/

I'd also advise checking the documentation - script fields need to be a named hash, not an array

[2015-11-18 18:10] #14820 closed

[2015-11-18 18:16] clintongormley commented on #14821
See https://github.com/elastic/elasticsearch/issues/5823#issuecomment-59782959

[2015-11-18 18:16] #14821 closed

[2015-11-18 18:21] dadoonet opened #14843 "Filter cloud azure credentials"
Bug introduced in #13779: we don't filter anymore credentials because we were filtering `cloud.azure.storage.account` and `cloud.azure.storage.key` but now credentials are like `cloud.azure.storage.XXX.account` and `cloud.azure.storage.XXX.key` where `XXX` can be a storage setting id.

See https://github.com/elastic/elasticsearch/blob/master/plugins/repository-azure/src/main/java/org/elasticsearch

[2015-11-18 18:25] clintongormley commented on #14807
Could you try using the [cluster reroute API](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-reroute.html)  with the `explain` query string param, to assign the primary marvel shard. It will tell you why the shard can't be assigned.

[2015-11-18 18:38] clintongormley commented on #14837
See https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_20_mapping_changes.html#_field_names_may_not_contain_dots

[2015-11-18 18:39] clintongormley commented on #14683
thanks for letting us know

[2015-11-18 18:41] clintongormley commented on #14686
@rhealitycheck sure, which is why i think that this is a red herring and there is something else at play.  perhaps another trawl through the logs, esp for stack traces?

[2015-11-18 18:43] asaf commented on #14837
@clintongormley

This is not the case,
The doc contains no dots, it contains nested properties,

I am talking about query templates,

Elastic probably performs "." field validation on the query template too and it restricts the query to be persisted, but from my understanding, the "nested" filter acts like the nested matcher, which as stated requires "." notation,

[code]

Please re-open :)

Thank

[2015-11-18 18:45] clintongormley commented on #14706
agreed!  We should

[2015-11-18 18:48] clintongormley commented on #14706
It looks like trying to create an index and alias with the same name in 2.0 throws the same exception, so this should become clearer with the better exception proposed in #14842

[2015-11-18 18:51] clintongormley commented on #14706
It looks like it is impossible to remove an alias with the same name as an index in 1.x:

    InvalidAliasNameException[[foo] Invalid alias name [foo], an index exists with the same name as the alias]

So I think the only solution is to reindex into a new index, and to delete the old index

[2015-11-18 18:58] clintongormley commented on #14837
Ah read way too fast, apologies!

[2015-11-18 19:08] clintongormley commented on #14837
A simpler recreation:

    PUT _search/template/foo
    {
      "query": {
        "match": {
          "foo.bar": "TEXT"
        }
      }
    }

[2015-11-18 19:17] asaf commented on #14837
@clintongormley :+1:

[2015-11-18 19:18] nik9000 commented on #13930
Ok - I'm going to see about these.

[2015-11-18 19:58] rjernst commented on #14722
I know the issues with dependencies are fixed in master. We no longer have a test-jar there, but a full test-framework module, with proper dependencies. There, simply depending on the test-framework is sufficient.

[2015-11-18 20:00] vchekan commented on #13604
@s1monw correct me if I am wrong, but jar hell conflict can happen not just between a plugin and elasticsearch, but between 2 plugins.

As a plugin author, I can not "setup things properly" because this would require me to know target server's list of plugins at my plugin compile time. In other words, it is impossible for a plugin author to make their plugin compatible with all existing and all fu

[2015-11-18 20:02] nik9000 commented on #13604
I believe plugins run in isolated classloaders so two plugins can define the same class without this being an issue.

[2015-11-18 20:09] #14838 closed

[2015-11-18 20:11] vchekan commented on #13604
@nik9000 hmm, I think I understood. I am actually doing bulk insert, and pointing to ES install with some plugins already installed. Perhaps, jar isolation works differently when bulk node is registered. I will solve it by pointing bulk node at "clean" ES install, without any plugins.

[2015-11-18 20:12] martijnvg commented on #14647
I think this is ok for the first version of the `condition` processor, At some point we also need to evaluate where else tempting is required and then we can get back to this.

Maybe we should then add an extra level to the `field_comparison`? Like this:

[code]

If any comparisons are defined in the `and` element, then all must match and if there are comparisons defined in the `or` element then a

[2015-11-18 20:17] #14713 closed

[2015-11-18 20:19] frank-montyne commented on #14744
Indeed, jajsw is the culprit.

Thanks,
Frank

[2015-11-18 21:29] rjernst opened #14847 "Gradle hides some details of jvm crashes"
If the jvm crashes during a test run, we get limited output like this:

[code]

But we dont see the stderr from the jvm that crashed. This is either something we are omitting in the gradle logger that connects to junit4's events, or we are misconfiguring junit4.

[2015-11-18 23:01] johnarnold commented on #14807
I tried it on my cluster, got an error like this:

{
  "error" : {
    "root_cause" : [ {
      "type" : "remote_transport_exception",
      "reason" : "[flowmaster3][10.10.10.6:9300][cluster:admin/reroute]"
    } ],
    "type" : "illegal_argument_exception",
    "reason" : "[allocate] trying to allocate a primary shard [.marvel-es-2015.11.18][0], which is disabled"
  },
  "status" : 400
}

[2015-11-18 23:14] johnarnold commented on #14807
I figured out that allocating the primary replica to a specific node works to assign it.

curl -XPOST 'localhost:9200/_cluster/reroute?pretty' -d '{
    "commands" : [
        {
          "allocate" : {
              "index" : ".marvel-es-data", "shard" : 0, "node" : "flowdata1", "allow_primary" : true
          }
        }
    ]
}'

I had to do this for each marvel shard in: curl -XGET http://loc

[2015-11-18 23:19] johnarnold commented on #14789
I used cluster reroute API to force the primary and replica shards onto different nodes and my cluster is now green:

{
  "cluster_name" : "flowstash",
  "status" : "green",
  "timed_out" : false,
  "number_of_nodes" : 25,
  "number_of_data_nodes" : 22,
  "active_primary_shards" : 7446,
  "active_shards" : 14892,
  "relocating_shards" : 0,
  "initializing_shards" : 0,
  "unassigned_shards" : 0,

[2015-11-18 23:20] bobbyhubbard commented on #11710
This bit us again today when someone else in our org setup a new log drain from shield. It reported nearly double the number of rest requests as expected. Then I remembered this issue... The workaround is simple enough...to hash each message (fingerprint in logstash) and use the hash as the message id. But this WILL bite every single Shield customer who is measuring and auditing rest calls. (How m

[2015-11-19 00:16] talevy commented on #14647
I realize there is a huge limitation with this format...

a check to see if a field is either all lowercase or all uppercase for example...

if we place the boolean operator outside the field map, this would not be possible since the field name is a key.
[code]

if we placed the boolean operator within each field, it would still not work since `eq` would appear as a key twice.

[code]

How about t

[2015-11-19 00:28] ppf2 opened #14848 "[DOCS] Document firewall/network configuration requirements"
This is commonly available in other enterprise software product documentation.  There is generally a network configuration page/guide that tells network administrators what ports and if it's 1 way or bi-directional (eg. 9300 for transport, 9200 http) that they will have to open up for inter-node and client-cluster communications.  It will be helpful to have this information documented in our guide

[2015-11-19 00:33] talevy commented on #14647
since it is starting to grow in complexity, I thought it would be a good thought experiment to see what
a version of conditionals with nesting would look like:

[code]

hmmm... looks like too much for me.

what do you think?

[2015-11-19 00:36] markwalkom opened #14849 "Clarify where index.similarity.default.type is set"
[Here](https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules-similarity.html#default-base) we tell users how to change `index.similarity.default.type` but not *where* to change it.

I didn't want to assume we do it in `elasticsearch.yml`, so it'd be good to document this explicitly.

[2015-11-19 01:04] rjernst commented on #14649
@bleskes I ran the same command in core as you, with an fake error in that test. The only difference being I captured both stderr and stdout.
https://gist.github.com/rjernst/e412ec16001e6acf6141

When I run the same command as you, I see the actual error go to my console still (including the repro line). So, the answer to this issue is, you need to capture both stderr and stdout. Without the abili

[2015-11-19 01:19] rjernst commented on #14847
I've opened #14850 to improve various aspects of how output is handled for tests. I don't think it handles issue though, as with --info logging (which we have in jenkins) we are already getting the INFO ant messages, which is what extraneous jvm output is logged at by junit4. I did improve the case when *not* running with --info, so that you will still see this output.

I also investigated piping

[2015-11-19 01:21] rjernst commented on #14847
Given that the maven job referenced above, I don't think there is anything to do here with regards to gradle, so I am closing this issue.

[2015-11-19 01:21] #14847 closed

[2015-11-19 02:08] jasontedor commented on #14824
This is by design. In your [code](https://github.com/jaranflaath/es-plugin-integrationtest/commit/89b755fcff38b4756dfba0b4d439e9ab8d5bce3c#diff-f70cd741ee6d7246193213cc8db54748R31), you're sending a request on the thread that is handling your client request on the endpoint `/cluster_status`. The handling of that request happens on a network thread, and by sending another request on that thread you

[2015-11-19 02:08] #14824 closed

[2015-11-19 02:48] yipein commented on #4915
+1

[2015-11-19 03:22] rcrezende opened #14851 "Wrong Percentile Rank calculation"
I'm getting unexpected results with percentile rank statistic:

Request:

[code]

Response:

[code]

But there is no element < 2 and I'm getting 10.6% for that.
Also 100% of values are < 87, but I'm getting 65.3%.

Using ES 1.6

[2015-11-19 03:34] rcrezende commented on #10216
Any update on this?

[2015-11-19 05:33] jaranflaath commented on #14824
Thanks a lot for your feedback and suggested solution. Will give it a try :)

[2015-11-19 06:05] martijnvg commented on #14647
This looks complex :) My idea is that the conditions don't support nesting. (all conditions need to be on the same level, so there is a list of 'and' conditions and a list of 'or' conditions) Nesting could be achieved via adding another `condition` processor in the `match` or `otherwise` part of the condition.

[2015-11-19 06:06] xzer opened #14853 "SearchHit should not contains _routing and _timestamp fields in its iterator"
version: 2.0, Java client.

I am migrating my program to elasticsearch 2.0 now, and I got failed when I tried to retrieve fields data via SearchHit.

At first, I use hit.iterator() to retrieve an iterator to access the fields which I specified in the query, and I got error because there are two unexpected fields named "_routing" and "_timestamp" contained in the iterator.

Then I checked the retur

[2015-11-19 06:09] #13887 closed

[2015-11-19 06:11] xzer commented on #13136
I am sorry to reply this issue too late, I am now migrating my program to version 2.0, and when I got some server side query errors, I can actually get the real stack information of where the wrong query is created.

So I think this issue can be closed since the new 2.0 is no longer bad at that.

[2015-11-19 07:35] xzer commented on #14830
use bool query's should clause instead.

https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-bool-query.html

[2015-11-19 08:01] zdeseb commented on #14830
I think Issue is, that info about this change is missing in ES 2.0 Breaking Changes document

[2015-11-19 09:01] talevy commented on #14647
so, I think I have implemented most of what you meant. I'll go ahead and make a PR for it now so that it is easier to view the branch

[2015-11-19 09:03] bleskes commented on #14649
Thanks @rjernst for taking a look. I'll try that and reopen the issue if something doesn't work.

[2015-11-19 09:03] #14649 closed

[2015-11-19 09:17] tlrx commented on #14498
The documentation was indeed wrong and has been fixed recently. Now the [Installing Marvel](https://www.elastic.co/guide/en/marvel/current/installing-marvel.html#monitoring-cluster) page shows a configuration sample where the `host` have double quotes:

[code]

In systemd based distributions, like @mdiehm is using, elasticsearch will not start if the `elasticsearch.yml` contains an error.

The fil

[2015-11-19 09:17] #14498 closed

[2015-11-19 09:57] MaineC opened #14857 "Incorrect license header"
While refactoring I found the following:

https://github.com/elastic/elasticsearch/blob/148265bd164cd5a614cd020fb480d5974f523d81/core/src/main/java/org/elasticsearch/common/Base64.java

states in the license header the file to be licensed to Elastic, given the class comment this seems bogus. Maybe there are other files with the same issue in our code base, need to check.

[2015-11-19 09:58] tlrx commented on #14789
@johnarnold thanks for all these log files, there are very valuable things in (out of memory errors, concurrent modification while getting the nodes stats, unassigned shards etc).

 I'll dig into them and I'll inform you soon.

[2015-11-19 10:26] jpountz commented on #14828
The issue reproduces for me. It seems to be because we try to upgrade the mappings before plugins have a chance to register mappers. So any mappers that are registered through a plugin are affected by this problem.

[2015-11-19 10:40] krisb78 commented on #14706
Ok, I think I will be able to get out of this by making sure I don't create new indices with the same names as the aliases defined in my templates.

Thanks a lot for looking into this.

[2015-11-19 10:41] jpountz commented on #14828
@rjernst @imotov Any ideas if/how we can fix it?

[2015-11-19 10:47] rjernst commented on #14828
I think we need to move registering mappers to the node level (which makes sense anyways).  Instead of getting the mapper service to register them, the mapper service should take in all the custom types as args. I'm not sure if it will directly fix the issue, but at least then it seems like it should be possible.

[2015-11-19 10:49] tlrx commented on #14789
@johnarnold Looks like flowmaster1 had an OutOfMemory error around [2015-11-17 05:38:26,357]... can you please see if the JVM created an heapdump on disk? Thanks

[2015-11-19 10:59] javanna commented on #14809
I have the same problem and end up needing to reimport the project from scratch every day...

[2015-11-19 11:03] rjernst commented on #14809
Please remove the lines Yannick mentioned above (or I can do it in the morning). I didnt realize it woukd have this impact. I will find another way to address the issue I was having.

[2015-11-19 11:23] ashitpupu opened #14859 "elasticsearch master head is not working with V1.7.3"
Hi

I have upgraded my elasticsearch from v1.4 to v1.7.3. The index service is up but I am unable to view in elasticsearch master head. Is it a know issue ??
If resolved already can you provide the solution .

Thanks

[2015-11-19 11:41] clintongormley commented on #14786
ah, thanks for the explanation @rjernst.   I don't think this is anything we can fix? So the solution here is to use `1.0` instead.

[2015-11-19 11:41] #14786 closed

[2015-11-19 11:43] clintongormley commented on #14807
@johnarnold i specifically didn't want you to force the primary.  instead I wanted to find out why the primary shard wasn't being allocated.  Nothing in the older logs giving a reason?

[2015-11-19 11:54] clintongormley commented on #14851
The [docs](https://www.elastic.co/guide/en/elasticsearch/guide/current/percentiles.html#_percentile_ranks) indicate that this should be accurate for small data sets. (Also, the `compression` parameter doesn't seem to be accepted by this agg).

@polyfractal any ideas what is going on here?

[2015-11-19 11:55] dadoonet commented on #14859
Please ask your questions on discuss.elastic.co. We can help there.

You are asking here support about the head plugin which is not part of this repository but a community plugin.

[2015-11-19 11:55] #14859 closed

[2015-11-19 11:59] dadoonet commented on #14828
++ That explains as well issues we have seen for mapper attachments plugin. See https://github.com/elastic/elasticsearch-mapper-attachments/issues/180

[2015-11-19 12:12] clintongormley commented on #14851
Related to #10216

[2015-11-19 12:21] clintongormley commented on #14853
@jpountz what do you think?

[2015-11-19 12:27] clintongormley commented on #13136
thanks for letting us know @xzer

[2015-11-19 12:45] #14809 closed

[2015-11-19 13:44] clintongormley commented on #14789
@tlrx @johnarnold ...in which case the shards probably weren't being assigned because of the bug that has been fixed here: https://github.com/elastic/elasticsearch/pull/14695

[2015-11-19 14:24] jasontedor opened #14862 "Current CIDR parsing will silently parse invalid CIDRs"
I noticed this while reviewing #14773. Namely, the code that exists today in IPv4RangeBuilder.java and modifications proposed in #14773 will silently parse invalid IPv4 address/mask combinations. This is due to a regex pattern

[code]

that will match strings that do not represent valid combinations. For example, it will match "256.512.256.512/33".

The code then proceeds to capture these potentia

[2015-11-19 14:28] javanna commented on #14573
I looked deeper, I can confirm this is not just a problem around passing in the right `path.conf` to the inner nodes. The inner client nodes must not read from the main configuration file, something that was fixed in #9721. The option to not load from config settings for a node was though removed with #13383. I had expected `TribeUnitTests` to fail after that change but it doesn't unfortunately. I

[2015-11-19 14:30] #11391 closed

[2015-11-19 14:31] polyfractal commented on #14851
Yes, this appears (in part) to be related to #10216.  ES v1.6 is still on T-Digest 3.0, which interpolates the last centroid in a non-ideal manner.  Effectively this means the upper end of the ranks can become heavily skewed.  See the linked bug-fix in #10216 for more details.

Regarding the lower end, I think this may just be the nature of the approximation.  My understanding is that T-Digest mai

[2015-11-19 14:54] jpountz commented on #14862
Thanks for opening this issue. Let's fix this leniency!

[2015-11-19 15:11] jpountz commented on #14853
+1 I think this is a good point

[2015-11-19 15:21] ESamir commented on #14573
+ 1
Removing the path.conf did not resolve the issue

[2015-11-19 15:33] tlrx commented on #14789
@clintongormley thanks for the pointer.

I also found a bug in marvel that may cause OOM errors if the shards stay unassigned for a long time. It will be fixed in next releases.

Anyway it does not explain why the shards of the marvel indices were not assigned. @johnarnold I'm curious to know why you have so many shards (24 per index) in your cluster?

`"active_shards" : 14892` is a lot of shards.

[2015-11-19 15:42] clintongormley commented on #14573
There is a workaround for this bug.  Assuming your tribe config directory is `/etc/tribe/`:

    cd /etc
    cp -a /etc/tribe /etc/tribe-client
    echo "" > /etc/tribe-client/elasticsearch.yml
    chown -R elasticsearch /etc/tribe-client

Then edit  `/etc/tribe/elasticsearch.yml` and specify a `path.conf` for each tribe cluster, eg:

    # arbitrary config
    transport.tcp.port: 9301
    http.po

[2015-11-19 15:47] javanna commented on #14573
@clintongormley this is a workaround only for the case where you specify the `path.conf` in the configuration file. Unfortunately this same problem happens with any settings that are added to the config file, unless it is explicitly rewritten on the tribe config section. Think of `transport.tcp.port` for instance. I suspect that the problem mentioned by Samir above has to do with `path.data`.

[2015-11-19 15:49] imotov commented on #13494
@apatrida what I meant is there is no good practical way to "slice" a primary shard and a replica shard into the same slices. You can do things like scanning all records and selecting some records based on hash of id, but it's not very practical and it's something that you can do on the client side already.

[2015-11-19 16:04] #14843 closed

[2015-11-19 16:24] javanna commented on #14573
Workaround above works, the only caveat is that depending on where the additional empty configuration file is located, we might not have the permissions to read from it. I think it should work if we simply add an empty configuration file under config and point right to it, not only specifying its parent directory but the complete path that includes the filename.

[2015-11-19 17:15] tuckerpm commented on #7631
Any chance you can provide insight as to what was discussed?

[2015-11-19 17:48] ppf2 commented on #14573
Ran into this last night when attempting to set up a tribe node on 2.0.  This will also affect users who attempt to set a custom transport.tcp.port for the tribe node.  In this case, setting a custom transport.tcp.port for the tribe node causes a misleading `BindException[Address already in use];` exception when the port specified is not actually already in use.

[code]

Settings for the 2 cluster

[2015-11-19 18:25] dedemorton opened #14865 "Improve documentation about query DSL range query"
Feedback from user:
"...a lot of our product revolves around Elasticsearch. we find a lot of our customers have a really hard time understanding the Elasticsearch documentation about the query DSL, because the segments described don't provide context on where they seem to fit in. ie:
                      https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-range-query.html It

[2015-11-19 18:27] zackehh opened #14866 "Bulk items fail due to TranslogException via ClosedChannelException"
We recently made the jump to start testing ES 2.0 against our codebase, which was pretty straightforward with only a couple of changes on the Query DSL.

However, once we put this into our test environment, we see constant streams of this (please note I have removed sensitive information, such as source, index and type):

[code]

This is a pretty constant thing, and there seems to be nothing aroun

[2015-11-19 18:47] jim-davis commented on #9375
+1.
Same use case.  We have a large cluster, one node has become unresponsive.  If I can get a list of all *responsive* nodes I can find the bad one by subtracting the good set from the set of all nodes (which I already have).

[2015-11-19 19:26] clintongormley commented on #14866
Hmm very odd.  Could you provide the contents of your config file, and any cluster or index-level settings that you have?

[2015-11-19 19:42] mikemccand commented on #14866
How many nodes in the cluster?  Does this also happen with a single node?

Can you turn on TRACE logging and recreate the issue then post the resulting log?  That exception seems to indicate the translog file handle was already closed when the bulk indexing tried to append to it.

I'll fix the `indices.memory` warning to tell us the root cause exception (it silently swallows it now ... grr).

[2015-11-19 19:45] mikemccand commented on #14866
Is it possible you are closing the index at the same time as indexing?

[2015-11-19 19:52] mikemccand commented on #14866
I opened https://github.com/elastic/elasticsearch/pull/14867 for the missing root-cause exception in changing shard's indexing buffer.

[2015-11-19 21:15] zackehh commented on #14866
@clintongormley sure, see below. At a glance, it appears we are simply using a vanilla install (there are no cluster level settings). This is the config file our install is pointing to. I'll also point out in advance that this is currently only being used locally (i.e. from the same box), it doesn't allow outside connection.

[code]

@mikemccand this is only a single node at the moment, because we

[2015-11-19 21:36] johnarnold commented on #14789
24 data nodes, 1 primary shard per node.  This spreads the indexing work across all the nodes, keeps shard size to a reasonable size.

Where would the heapdump be on disk?

[2015-11-19 23:21] javanna commented on #14573
@ppf2 this happens because the tribe node process will start three nodes, the first one will get the configured port, and the second will try to get the same one as it reads from the same configuration file. The workaround provided by Clint above should work till we fix this properly.

[2015-11-19 23:44] rjernst commented on #14573
@javanna I am going to explore having the tribe node have its own subclass of Node which can customize this single behavior (how to get the node's settings). I don't think we should add back this general purpose flag as we need to keep the tons of ways Nodes can be configured to a minimum.

[2015-11-20 00:03] javanna commented on #14573
@rjernst thanks that sounds good to me.

[2015-11-20 00:03] ppf2 commented on #14573
Confirmed that the workaround works to prevent the BindTransportException error, thx!

[2015-11-20 00:27] ppf2 commented on #14573
@rjernst Do we have a sense of whether the fix will make it to the upcoming 2.1 release? Or will it likely be after 2.1 (i.e. use the workaround until a later 2.x release)?

[2015-11-20 01:10] rjernst commented on #14573
@ppf2 Definitely after 2.1. I would not want to destabilize 2.1 with a refactoring like this.

[2015-11-20 01:12] ppf2 commented on #14573
@rjernst sounds good, thx!

[2015-11-20 05:52] kadishmal opened #14875 "Search using alias + type returns {"error": null}"
Very strange. Using ES 1.7.3 on CentOS 6.3 x64.

1. First, create an alias for an existing index.

[code]

2. Then perform a search using the new alias:

[code]

    Returns:

[code]

    The ES logs say:

[code]

3. If you search the original index directly, then it works properly:

[code]

    Returns:

[code]

4. Alternatively, if you remove the type from the alias based search request, the res

[2015-11-20 06:43] kadishmal commented on #14875
This seems to be related to our internal highlight plugin that we use.

[2015-11-20 06:43] #14875 closed

[2015-11-20 07:28] khmarbaise commented on #11824
You should configure the usage of [posix as mentioned in the FAQ.](https://maven.apache.org/plugins/maven-assembly-plugin/faq.html#tarFileModes)

[2015-11-20 07:36] dadoonet commented on #11824
@khmarbaise sure. Wondering why it's not the default then? Is there any tradeoff?

[2015-11-20 08:49] vikasgithub opened #14876 "Expired documents purge is not working after installing Shield Plugin"
I am trying out the ElasticSearch purge functionality for expired documents. It works fine when I do not have Shield plugin configured. But, as soon as I have Shield plugin configured, I get the following error

2015-11-20 09:40:52,052][DEBUG][shield.authz.accesscontrol] [localhost] [test][4] couldn't locate the current request, field level security will only allow meta fields
2015-11-20 09:40:52,

[2015-11-20 09:09] dadoonet commented on #14876
I think you are hitting this known limitation: https://www.elastic.co/guide/en/shield/current/limitations.html#_document_expiration__ttl

[2015-11-20 09:09] #14876 closed

[2015-11-20 09:20] gigi81 commented on #10005
We have the same problem as @abierbaum described. When events happen on the same millisecond the order of the messages is lost.
Any workaround or suggestion on how to fix this would be really appreciated.

[2015-11-20 09:26] clintongormley commented on #11370
Closed by #11374

[2015-11-20 09:26] #11370 closed

[2015-11-20 09:38] danielmitterdorfer opened #14877 "Improve stability of UpdateIT"
`UpdateIT#testConcurrentUpdateWithRetryOnConflict()` has caused some trouble recently, especially on Windows. The test often times out and the build guard infrastructure kills the test. The root cause of the problem is that the test is performing an excessive number of index updates (currently up to 10.000).

We want to improve two things in this ticket:

1. Reduce the number of updates to at most

[2015-11-20 10:05] zdeseb opened #14878 "ES 2.0 update caused problems with date properties by adding epoch_millis"
ES 2.0 upgrade added to all date type property mappings format epoch_millis. Unfortunately this was added at the beginning of the format parameter so it is used for conversion to string.

**For example when I have had following index:**
[code]
and the aggregations returns
[code]

**After upgrade I have following:**
[code]

and the aggregations returns
[code]

**I think epoch_millis should be added

[2015-11-20 10:06] kaanbasal opened #14879 "Odd Primary Shard Distribution"
Hello,
Using version **2.0**, with **3 nodes, 9 shards, 2 replicas** with default settings.
At the beginning all of the primary shards were distributed over all 3 nodes evenly. After restarting some of the nodes, all of the primary shards are located on the same node, and even restarting the node which full of primary shards, not changed this distribution.
Here some screenshots from kopf plugin:
*

[2015-11-20 10:15] jimmidyson opened #14880 "SecurityManager policy for ES 2.0.0"
tl;dr Is there any way to provide a plugin security policy in 2.0.0?

Trying to update the [Kubernetes discovery plugin](https://github.com/fabric8io/elasticsearch-cloud-kubernetes) to ES 2.0.0 & can only get it to run by disabling security manager.

The plugin needs to read certain files from the filesystem outside of the normal ES paths & I've written a policy that works with a normal Java main

[2015-11-20 11:04] DavidHauger opened #14882 "MissingValues don't work inside sub aggregations ()"
`missing` values are great to work with - but they do not work within more complex queries.

Here a simple example to reproduce the bug.
Let's say, we have some index, with optional fields:

    PUT /missing-values/test/1_with_my_field
    {
      "someField": "optionalField_is_present",
      "optionalField": "present"
    }
    PUT /missing-values/test/1_without_my_field
    {
      "someField":

[2015-11-20 14:04] hardikgw commented on #4915
+1

[2015-11-20 14:40] clintongormley commented on #14647
How about this:

    {
      "if": {
        "all": [
          {"message" : { "==": "Hello"}},
          { "txt": { "in": ["one", "ONE"]}},
          { "date": { "lt": "2015", "gt": "2010"}},
          { "any": [
            {"status": { "==": "featured"}},
            { "adult": { "!=": false}}
          ]}
        ]
      },
      "then": [...],
      "else": [...]
    }

So the `if` processor

[2015-11-20 14:44] clintongormley commented on #14647
oh i mixed `==` and `lt` etc...  could settle on symbol or word operators, don't mind

[2015-11-20 15:05] clintongormley commented on #12461
I really like the idea of removing `include_in_root|parent` in favour of the more explicit `copy_to` per field.  This way there is no magic, and you only (re-)index the fields that you really want at the top level.

[2015-11-20 15:09] satapsa opened #14891 "Why data nodes disk usage goes up, even if no additional data is added"
I have a 4 node cluster.
PN1   - 59% disk usage    -- Master and data
SN1   - 61% disk usage    - data
DN1  -  95% disk usage    -- data
DN2  -  49%                      -- data

I noted one of the node - DN1 had 87% disk usage and hitting the low disk watermark  and I was not able recovere shard. I deleted some old indices and restarted the Elastic search.

Now disk usage is 90% and high watermar

[2015-11-20 15:24] bleskes commented on #14879
What happens is that as you restart nodes other replicas are elected as primaries. Since Elasticsearch does sync replication, all shard copies do the same work except for extreme cases (like a lot of document rejections, or extremely heavy update scripts). As such the location of the primaries shouldn't matter much (and we are working on those extreme cases where it still does).

Do you see any od

[2015-11-20 15:24] talevy commented on #14647
thanks @clintongormley!

Offline, we were possibly discussing a simpler processor that would only operate on a single field.

here is what that looks like: https://github.com/talevy/elasticsearch/blob/if_conditions_else_processor/docs/plugins/ingest.asciidoc#field-conditional-processor

The statement above demonstrates something that is still lacking in the way this processor
handles operands. It

[2015-11-20 15:51] jpountz commented on #7464
Closed via #14773

[2015-11-20 15:51] #7464 closed

[2015-11-20 17:00] nik9000 commented on #14880
Maybe have a look at what lang-groovy does in 2.x:
https://github.com/elastic/elasticsearch/blob/2.x/plugins/lang-groovy/src/main/plugin-metadata/plugin-security.policy

[2015-11-20 17:04] jpountz commented on #14828
I opened #14896 for this.

[2015-11-20 17:04] jimmidyson commented on #14880
That's what I thought I was doing... Does this work for 2.0.0 or only an unreleased 2.x version?

[2015-11-20 17:06] rmuir commented on #14880
We already document how to this in the plugin author's guide for 2.2+ (https://github.com/elastic/elasticsearch/pull/14108)

https://www.elastic.co/guide/en/elasticsearch/plugins/2.x/plugin-authors.html#_java_security_permissions

[2015-11-20 17:06] nik9000 opened #14898 "Shell scripts should source elasticsearch.in.sh"
Right now `bin/elasticsearch` sources a version of `elasticsearch.in.sh` - the first version it finds in a list of directories. All of our scripts should do that - including `bin/plugin` and any scripts we package as into plugins. I don't know that we should go so far as to automatically add it as part of the build process, but we should really make an effort to source the file in all the scripts.

[2015-11-20 17:07] jimmidyson commented on #14880
Yeah I've seen that but is that supported in 2.0?

[2015-11-20 17:12] rmuir commented on #14880
No, it is coming in 2.2.

[2015-11-20 17:13] nik9000 commented on #14891
These are better questions for the forums because its not clear at all that you have a bug in a released version of elasticsearch. If I had to guess its because Elasticsearch is moving files around to balance the cluster. Depending on your version it could be doing some silly things like moving files to a machine that doesn't have enough disk space for them. You can check (cat recovery)[https://ww

[2015-11-20 17:13] #14891 closed

[2015-11-20 17:30] rmuir commented on #14898
Seems like we can do a nice refactoring here to ensure all of our scripts act in a consistent way. +1

[2015-11-20 17:32] bitonp opened #14901 "Issue with upsert by file ES v1.5.2 - COuld only be a documentation bug"
Trying to do an upsert with a script file (inline scripting kept off). Simple use case (simplified further):
== mappings ===
"mappings":{
"sometype":{
"_source":{"enabled": true},
"_ttl":{"enabled":false},
"properties":{
"somefield":{"type":"long"},
"counter":{"type":"long"} }
}
}

Upsert done via curl....
curl -XPOST 'eshost:9200/test_index/sometype/11223344/_update' -d '{
"script":{
"file":"some

[2015-11-20 18:02] jimmidyson commented on #14880
OK thanks for feedback.

[2015-11-20 18:02] #14880 closed

[2015-11-20 18:59] nik9000 commented on #13522
L

[2015-11-20 18:59] nik9000 commented on #13522
misclick

[2015-11-20 19:35] #14721 closed

[2015-11-20 19:44] ppf2 opened #14903 "Document index.load_fixed_bitset_filters_eagerly"
FixedBitSetFilterCache is a data structure that is loaded eagerly in memory (by default) to support nested query/filter and nested aggregations. However, the problem is that it can cause it to use too much heap for it is loaded for all nested fields (regardless of whether these fields are being used). To prevent this from happening, a common configuration workaround is to set `index.load_fixed_bit

[2015-11-20 19:47] pickypg commented on #14903
Related to #10224

[2015-11-20 20:01] mikemccand commented on #14866
Thanks for the log @zackehh, but can you post more of the prior log entries, so we can see a successful bulk indexing request before the failed one?  This entry shows a refresh, warming (both look fine) and then the one failed bulk indexing request ...

[2015-11-20 20:21] mikemccand opened #14905 "Require root-cause exception to ESLogger methods"
This is a spinoff of #14867 where we failed to log the root cause exception in a catch clause that could have shed light on #14866.

I think we should require root cause exceptions to our logger methods to 1) fix the remaining places that swallow exceptions (I've hit maybe 2 dozen or so), and 2) reduce the chances of swallowing exceptions in new code going forward.

It means that those times when

[2015-11-20 20:46] nik9000 commented on #13522
I got a start on this but it'll be a huge pain to do until we bundle the tar plugin in the distribution. The trouble is the security policy. Right now the bwc tests run with our default security policy which means they can't run groovy code and neither can the embedded nodes. If we bundled groovy then it'd be _fairly_ simple to have the test run only external nodes. In fact the bwc tests should al

[2015-11-20 22:49] ayushsangani opened #14907 "Retrieve parent id from the request"
Support to retrieve parent id once set through any request, irrespective of routing is set or not.
According to current codebase you can only retrieve parent id if it's not overwritten by routing.
As child documents can have same or different routing and parent id, depending on whether routing is enabled or not.

For example: GetRequest API
Let me know if I can help.

[2015-11-20 23:10] jasontedor opened #14908 "BulkProcessor can release too many permits on its semaphore"
BulkProcessor uses a semaphore to control the level of concurrency on its underlying client. Prior to acquiring a permit on this semaphore, BulkProcessor#execute invokes BulkProcessor.Listener#beforeBulk. If this method throws, then BulkProcessor#execute releases a permit on its semaphore. This is a mistake, and can lead to more than the intended number of threads having a permit on the semaphore.

[2015-11-20 23:20] #14908 closed

[2015-11-21 00:12] larschri commented on #14786
Using ``1.0`` is fine when you are aware of the bug, but the bug is still there. Users expect ``_score`` to behave like a float, so why not use ``float`` instead of ``ScoreAccessor``? If that's not possible, maybe it works to inherit from ``java.math.BigDecimal`` instead of ``Number``? Elasticsearch could even start every groovy script with ``_score = (float) _score;`` to fix this.

BTW. This look

[2015-11-21 01:51] dfaropennetwork commented on #13338
Ok i resolved the problem thx so much.

[2015-11-21 01:56] rcrezende commented on #14851
when you say "ES v1.6 is still on T-Digest 3.0", does that imply there is an alternative implementation in 2.0 we might get better precision?

[2015-11-21 02:31] camilojd commented on #14782
Hi, I created a fix for this in the referenced PR, that I believe does the right thing.

All tests pass.

[2015-11-21 03:42] #14782 closed

[2015-11-21 05:15] johnarnold commented on #14807
I managed to repro shard allocation problem.

[explain.txt](https://github.com/elastic/elasticsearch/files/40744/explain.txt)

[2015-11-21 13:29] clintongormley commented on #6405
@colings86 could take a look at this please

[2015-11-21 13:30] clintongormley commented on #6412
No more feedback. Closing

[2015-11-21 13:30] #6412 closed

[2015-11-21 13:32] clintongormley commented on #6428
This is too risky to expose with generic script engines.  If you want a cache in scripts then I think a native script is the only way to go here.

[2015-11-21 13:32] #6428 closed

[2015-11-21 13:34] clintongormley commented on #6431
This ticket hasn't garnered any further interest, so I'm going to close it with the advice to serialize alias changes client side, where custom logic can easily be controlled.

[2015-11-21 13:34] #6431 closed

[2015-11-21 13:36] clintongormley commented on #6467
No point in keeping this open any longer - we'll get the update when it is addressed in Lucene

[2015-11-21 13:36] #6467 closed

[2015-11-21 13:37] clintongormley commented on #6468
@bleskes do you have any thoughts about this?

[2015-11-21 14:11] polyfractal commented on #14851
Ah, sorry, that was poor phrasing.  ES 2.0 is also still on T-Digest 3.0 (as per https://github.com/elastic/elasticsearch/issues/10216).  I'm not sure the status, it looks like there are still test failures due to the bugfix upstream.

[2015-11-21 14:22] polyfractal commented on #14851
Just as a note, in this case, the accuracy should improve if you put some more data into the percentiles.  It is providing a poor estimation because there are only a few centroids (due to only having a handful of docs).  Which is skewing the T-Digest interpolation on both the high and low end.

E.g. just adding a few more docs improves the ranks significantly:

[code]

[code]

[2015-11-21 14:51] clintongormley commented on #6473
Closing this as it is no longer possible to specify different boosts on the same field name in two different types.

[2015-11-21 14:51] #6473 closed

[2015-11-21 14:57] clintongormley commented on #6512
This has been fixed in #11740

[2015-11-21 14:57] #6512 closed

[2015-11-21 15:00] clintongormley commented on #6515
Fixed by https://github.com/elastic/elasticsearch/pull/10189

[2015-11-21 15:00] #6515 closed

[2015-11-21 15:02] rrphotosoft opened #14911 "rejected task exception with ES Java BulkProcessor"
Hi,
I am using Elasticsearch 1.4.4.and processing several documents using a BlockingThreadPoolExecutor.
The last step in the process(on each thread) is to index the document into elasticsearch. For this I'm using the BulkProcessor API.
I instantiate a bulkprocessor in the main thread, and pass it into the thread pool, and it is used by all the threads. I did this because I noticed that it internal

[2015-11-21 15:03] clintongormley commented on #6543
Closing in favour of https://github.com/elastic/elasticsearch/pull/14121

[2015-11-21 15:03] #6543 closed

[2015-11-21 15:04] clintongormley commented on #6547
@colings86 is this still needed?

[2015-11-21 15:07] clintongormley commented on #6564
Revisiting this discussion, I see it hasn't garnered any interest in the previous year and a half.  Given that search execution has changed dramatically in 2.x, I'm going to close this issue for now.

[2015-11-21 15:07] #6564 closed

[2015-11-21 15:07] clintongormley commented on #6565
No feedback in a year. Closing

[2015-11-21 15:07] #6565 closed

[2015-11-21 15:08] clintongormley commented on #6580
Related to https://github.com/elastic/elasticsearch/issues/14802

[2015-11-21 15:17] clintongormley commented on #6593
@bleskes this is still relevant in master?

[2015-11-21 15:18] clintongormley commented on #6600
@tlrx with the changes that you made to stats, do you know if this is still relevant?

[2015-11-21 15:20] clintongormley commented on #6616
@nknize is this a feature you're planning on implementing?

[2015-11-21 15:32] clintongormley commented on #6638
@imotov do you still think this is something that we should implement?  My inclination would be to say: just set up an NFS mount or similar.

[2015-11-21 15:33] clintongormley commented on #6674
FLT has been removed. Closing

[2015-11-21 15:33] #6674 closed

[2015-11-21 15:34] clintongormley commented on #6682
We have moved to a single repo per major version. Closing

[2015-11-21 15:34] #6682 closed

[2015-11-21 15:35] clintongormley commented on #6687
This issue hasn't garnered any more interest in the last year and a half. Closing

[2015-11-21 15:35] #6687 closed

[2015-11-21 15:36] clintongormley commented on #6688
@markharwood @colings86 is this still of interest?

[2015-11-21 15:36] clintongormley commented on #6689
@nik9000 I think this has been resolved in recent versions, correct?

[2015-11-21 15:38] clintongormley commented on #6697
@jpountz is this still something you plan on pursuing?

[2015-11-21 15:40] clintongormley commented on #6700
The settings added in #1540 are about safety, while the default operator is about retrieval... I'm loathe to add yet another setting.

Given that there hasn't been any further interest in this ticket in the last year and a half, I'm going to close this.

[2015-11-21 15:40] #6700 closed

[2015-11-21 15:41] clintongormley commented on #6704
@colings86 still of interest?

[2015-11-21 15:49] clintongormley commented on #6709
Accessing the `_source` in a percolator is a really bad idea, for performance (and thus cluster stability) reasons.  Closing

[2015-11-21 15:49] #6709 closed

[2015-11-21 15:50] clintongormley commented on #8150
Closing in favour of #10217

[2015-11-21 15:50] #8150 closed

[2015-11-21 15:50] clintongormley commented on #6719
Closing in favour of #10217

[2015-11-21 15:50] #6719 closed

[2015-11-21 15:51] imotov commented on #6638
@clintongormley we should definitely implement that. It will help users in several important use cases, including simplifying sharing of marvel data with support.

[2015-11-21 15:52] clintongormley commented on #6725
Not sure why I suggested this. Closing

[2015-11-21 15:52] #6725 closed

[2015-11-21 15:56] clintongormley commented on #6728
Closed by #8832

[2015-11-21 15:56] #6728 closed

[2015-11-21 15:58] clintongormley commented on #6759
Unclear what these strict status checks are, and no progress in a year and a half. Closing, at least for now

[2015-11-21 15:58] #6759 closed

[2015-11-21 16:00] clintongormley commented on #6766
Closed by #12668

[2015-11-21 16:00] #6766 closed

[2015-11-21 16:03] clintongormley commented on #6785
I just don't think this is feasible without indexing time (or day of week, etc) separately. Closing

[2015-11-21 16:03] #6785 closed

[2015-11-21 16:08] clintongormley commented on #6797
Nothing further here. Closing

[2015-11-21 16:08] #6797 closed

[2015-11-21 16:09] clintongormley commented on #6798
Closing in favour of #12555

[2015-11-21 16:09] #6798 closed

[2015-11-21 16:12] clintongormley commented on #6828
Not sure when it changed, but the version without `env.` seems to work correctly. closing

[2015-11-21 16:12] #6828 closed

[2015-11-21 16:15] clintongormley commented on #6931
We no longer use Java serialization for exceptions. Closing

[2015-11-21 16:15] #6931 closed

[2015-11-21 16:16] clintongormley commented on #6945
@mikemccand is this something you're still interested in?

[2015-11-21 16:16] clintongormley commented on #6978
Long time since we've seen this. Closing

[2015-11-21 16:16] #6978 closed

[2015-11-21 16:17] clintongormley commented on #6986
Fixed in 2.0

[2015-11-21 16:17] #6986 closed

[2015-11-21 16:17] clintongormley commented on #7002
Yes, this is true and will remain so.  Closing

[2015-11-21 16:17] #7002 closed

[2015-11-21 16:18] clintongormley commented on #7025
No feedback in over a year. Closing

[2015-11-21 16:18] #7025 closed

[2015-11-21 16:20] clintongormley commented on #7030
I think improving scripting (#13084) is a better idea than trying to invent a patch language in JSON. Closing

[2015-11-21 16:20] #7030 closed

[2015-11-21 16:22] clintongormley commented on #7047
Closing in favour of #8961

[2015-11-21 16:22] #7047 closed

[2015-11-21 16:23] clintongormley commented on #11901
Closing in favour of https://github.com/elastic/elasticsearch/issues/12394

[2015-11-21 16:23] #11901 closed

[2015-11-21 16:24] clintongormley commented on #7080
Fixed in 2.0

[2015-11-21 16:24] #7080 closed

[2015-11-21 16:37] mikemccand commented on #6945
Well, 1) I think it's not a huge win since few users take advantage of optimistic concurrency (I think?), and 2) this is still a sandbox postings format, so there's no back-compat.  I'll close ... we can revisit if things change.

[2015-11-21 16:37] #6945 closed

[2015-11-21 16:39] clintongormley commented on #7111
@tlrx @simianhacker an idea from marvel 1

[2015-11-21 16:40] clintongormley commented on #7148
Closing in favour of https://github.com/elastic/elasticsearch/issues/9059

[2015-11-21 16:40] #7148 closed

[2015-11-21 16:42] clintongormley commented on #7174
Unfortunately, given the way that the completion suggester works (it just follows the common prefix) this wouldn't be possible.  This job should be done by search instead

[2015-11-21 16:42] #7174 closed

[2015-11-21 16:48] clintongormley commented on #7227
@nknize is the geo hash cell filter of any use at all with the GeoPoint v2 implementation?  Or should we remove it?

[2015-11-21 16:58] bleskes commented on #6945
a short note that we load the version all the time because we need to update it on the primary and replicas use it to deal with out of order delivery from the primary. That said +1 on not using a posting format with no bwc.

[2015-11-21 17:08] clintongormley commented on #7256
I'd really prefer not to add silent exceptions here.  Either explicit indices are allowed or they aren't.  Otherwise we'd have to rename the setting to `rest.action.multi.allow_explicit_index_unless_no_index_specified: false`...

For the Logstash issue, i'd suggest opening an issue on https://github.com/logstash-plugins/logstash-output-elasticsearch/ to add support for including the index name at

[2015-11-21 17:08] #7256 closed

[2015-11-21 17:13] clintongormley commented on #7332
Closing as won't fix

[2015-11-21 17:13] #7332 closed

[2015-11-21 17:16] clintongormley commented on #7343
This should have been resolved by the changes in #8870 in 2.0.  Closing

[2015-11-21 17:16] #7343 closed

[2015-11-21 17:19] clintongormley commented on #7361
The REST bulk API rejects use of `refresh` at the item level.  Not sure if we can easily implement the same in the Java API.

@dadoonet could you take a look please?

[2015-11-21 17:20] clintongormley commented on #7364
Delete by query has been completely reimplemented in 2.0.  Closing

[2015-11-21 17:20] #7364 closed

[2015-11-21 17:21] clintongormley commented on #7372
@nknize one to think about for your work replacing jTS

[2015-11-21 17:28] clintongormley commented on #7388
The new completion suggester https://github.com/elastic/elasticsearch/pull/11740 now allows zero contexts.  Closing

[2015-11-21 17:28] #7388 closed

[2015-11-21 17:30] clintongormley commented on #7441
Closing in favour of https://github.com/elastic/elasticsearch/pull/14121

[2015-11-21 17:30] #7441 closed

[2015-11-21 17:34] clintongormley commented on #7447
@drewr ok - I still don't understand, you're going to need to spell it out for me :)

What do you expect ES to do if the network interface isn't available?

[2015-11-21 17:53] clintongormley commented on #7461
Sorry it has taken a while to get to this. It does look like a bug to me, but I'm not entirely sure.

[2015-11-21 17:54] clintongormley commented on #7462
No further feedback. Closing

[2015-11-21 17:54] #7462 closed

[2015-11-21 18:04] clintongormley commented on #7467
Closing in favour of #1063

[2015-11-21 18:04] #7467 closed

[2015-11-21 18:16] clintongormley commented on #7515
Here's a workaround:

    PUT t/t/1
    {
      "textContent": ""
    }

    PUT t/t/2
    {
      "textContent": "foo"
    }

    GET t/t/_search
    {
      "query": {
        "bool": {
          "must": [
            {
              "exists": {
                "field": "textContent"
              }
            }
          ],
          "must_not": [
            {
              "wildcard": {

[2015-11-21 18:16] #7515 closed

[2015-11-21 18:18] clintongormley commented on #7540
@imotov is this already implemented, or do we still need to do it?

[2015-11-21 18:20] imotov commented on #7540
No, we will just use index name as is (which means we will only observe the index name restrictions).

[2015-11-21 18:21] clintongormley commented on #7574
@nknize just pinging for an update on this.

[2015-11-21 18:28] clintongormley commented on #7612
@simianhacker Does the new Marvel support light/dark theme?

[2015-11-21 18:29] clintongormley commented on #7629
The execution parameter has been removed while merging filters with queries

[2015-11-21 18:29] #7629 closed

[2015-11-21 18:34] clintongormley commented on #7634
This should be simpler than having to pass back this flag...  Closing in favour of #7631

[2015-11-21 18:34] #7634 closed

[2015-11-21 18:35] clintongormley commented on #7635
This has been fixed by #8870

[2015-11-21 18:35] #7635 closed

[2015-11-21 18:38] clintongormley commented on #7659
MLT api has been removed in favour of the MLT query.

[2015-11-21 18:38] #7659 closed

[2015-11-21 18:41] clintongormley commented on #7663
Assigning to @nknize as this is still an issue

[2015-11-21 18:47] clintongormley commented on #7672
Closing - no plans on supporting this

[2015-11-21 18:47] #7672 closed

[2015-11-21 18:50] clintongormley commented on #7751
@nknize just a ping about this given that geo2 has been merged

[2015-11-21 18:57] clintongormley commented on #7779
No feedback in over a year. Closing

[2015-11-21 18:57] #7779 closed

[2015-11-21 19:04] clintongormley commented on #7791
As of 2.0 this now works correctly, eg:

    POST /test/pages/_search
    {
      "query": {
        "has_child": {
          "score_mode": "max",
          "type": "tagged-page",
          "query": {
            "function_score": {
              "boost_mode": "replace",
              "query": {
                "term": {
                  "name": "foo"
                }
              },

[2015-11-21 19:04] #7791 closed

[2015-11-21 19:05] clintongormley commented on #7836
Guava has been removed. Closing

[2015-11-21 19:05] #7836 closed

[2015-11-21 19:09] clintongormley commented on #7838
@bleskes can we close this one?

[2015-11-21 19:14] clintongormley commented on #7847
Hi @zkourouma

Sorry for the delay in responding.  Just looked at your issue description, and you say "you have an issue" but you don't say what it is.  You provide code to index docs, but then don't show us what you're indexing, and you don't explain what results you're expecting and what you get instead.

Is this still an issue for you? If so, could you provide more info?

[2015-11-21 19:19] clintongormley commented on #7983
This has been greatly improved in 2.0

Closing

[2015-11-21 19:19] #7983 closed

[2015-11-21 19:26] clintongormley commented on #7998
Not sure when but this has been implemented in 2.0. Closing

[2015-11-21 19:26] #7998 closed

[2015-11-21 19:36] clintongormley commented on #8034
This wouldn't work without a big change to aliases, as aliases are stored in the index config.  Currently, we have no plans to implement something like this, so I'm going to close this issue.

[2015-11-21 19:36] #8034 closed

[2015-11-21 19:37] ptheofan commented on #6942
Bug reappeared? I'm having the exact same issue despite that $JAVA is in doublequotes.

[2015-11-21 19:38] #8042 closed

[2015-11-21 19:40] clintongormley commented on #8048
We have no plans to support BSON. Closing

[2015-11-21 19:40] #8048 closed

[2015-11-21 19:43] clintongormley commented on #8053
@martijnvg With the new implementation of parent/child, should we still default to eager global ordinal loading for p/c?

[2015-11-21 19:44] clintongormley commented on #8057
No further feedback for a year. Closing

[2015-11-21 19:44] #8057 closed

[2015-11-21 19:45] clintongormley commented on #8081
Related to https://github.com/elastic/elasticsearch/issues/9825

[2015-11-21 19:47] clintongormley commented on #8089
Looks unlikely that we'll be able to implement this.  If it is added to Lucene (see https://issues.apache.org/jira/browse/LUCENE-4518) then we'll get access to it.  No need to keep this issue open.

[2015-11-21 19:47] #8089 closed

[2015-11-21 19:48] clintongormley commented on #8094
No further feedback. Closing

[2015-11-21 19:48] #8094 closed

[2015-11-21 19:49] clintongormley commented on #8095
@markharwood is this still something you're interested in adding?

[2015-11-21 19:54] clintongormley commented on #8107
Mappings can no longer be deleted. Closing

[2015-11-21 19:54] #8107 closed

[2015-11-21 19:54] clintongormley commented on #8127
Can't think of a use case for this anymore. Closing

[2015-11-21 19:54] #8127 closed

[2015-11-21 19:55] clintongormley commented on #8149
Closing in favour of #8369

[2015-11-21 19:55] #8149 closed

[2015-11-21 19:56] clintongormley commented on #8175
Has this already been implemented by another change?

[2015-11-21 19:57] clintongormley commented on #8189
No longer relevant. Closing

[2015-11-21 19:57] #8189 closed

[2015-11-21 20:06] clintongormley commented on #8200
I'm unable to reproduce this in 2.1.0 or in 1.3.2.  I'm going to close this, but please feel free to reopen if you can replicate.

[2015-11-21 20:06] #8200 closed

[2015-11-21 20:09] Ghost93 commented on #7631
+1

[2015-11-21 20:09] clintongormley commented on #8212
I think we should remove warmers instead.  Closing in favour of https://github.com/elastic/elasticsearch/issues/9331

[2015-11-21 20:09] #8212 closed

[2015-11-21 20:11] Ghost93 commented on #7634
+1

[2015-11-21 20:14] clintongormley commented on #8242
This reminds me of the old zombie nodes problem, that was solved a long time ago.  Closing

[2015-11-21 20:14] #8242 closed

[2015-11-21 20:14] clintongormley commented on #8260
Multicast discovery has been removed

[2015-11-21 20:14] #8260 closed

[2015-11-21 20:16] clintongormley commented on #8280
Closing in favour of https://github.com/elastic/elasticsearch-cloud-aws/issues/149#issuecomment-89309092

[2015-11-21 20:16] #8280 closed

[2015-11-21 20:18] clintongormley commented on #8284
@mikemccand not sure if this is still an issue but if so, would it be possible to improve this exception or is the real reason (not enough file handles) just not available?

[2015-11-21 20:21] clintongormley commented on #8296
Closed by https://github.com/elastic/elasticsearch/pull/11653

[2015-11-21 20:21] #8296 closed

[2015-11-21 20:22] clintongormley commented on #8313
Closed by the delayed allocation feature added in 1.7 and improved in 2.0

[2015-11-21 20:22] #8313 closed

[2015-11-21 20:24] clintongormley commented on #8320
@jpountz any thoughts on this?

[2015-11-21 20:25] clintongormley commented on #8326
No further info. Closing

[2015-11-21 20:25] #8326 closed

[2015-11-21 20:40] clintongormley commented on #8332
I believe @martijnvg is planning on removing access to the `_parent` field completely, which would make this point moot.

[2015-11-21 20:41] clintongormley commented on #8333
@bleskes is this still an issue?

[2015-11-21 20:46] clintongormley commented on #8334
I don't think it should be ignored.  If the field is specified, then we should include it.  We don't know whether it should be there or not.

[2015-11-21 20:46] #8334 closed

[2015-11-21 20:49] clintongormley commented on #8362
The relevant code is now here: https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/discovery/zen/ZenDiscovery.java#L508

[2015-11-21 20:50] clintongormley commented on #8402
@s1monw is this still relevant?

[2015-11-21 21:02] danielmitterdorfer commented on #14911
Hi @rrphotosoft

I see what you are trying to achieve. You want to issue 10.000 index requests via the bulk API. However, the problem is that you are doing something slightly different, namely issuing 10.000 index requests from 10.000 threads. :) That's also the reason why you are getting `RejectedExecutionException`: you are completely overwhelming the poor pool.

Fortunately, it should be much s

[2015-11-21 21:03] mikemccand commented on #8284
@clintongormley I think in ES 2.0 this is already improved, because Lucene switched from `Files.list` in 4.10.x to `Files.newDirectoryStream` in 5.x, and the latter does a better job propagating errors from the OS up to Java, I think.

[2015-11-21 21:03] #8284 closed

[2015-11-21 21:15] clintongormley commented on #8427
I *think* this should now work with 2.0.  Want to try it out and let us know?

[2015-11-21 21:18] clintongormley commented on #8487
The never-ending-translog bug was fixed several versions ago.  I'm going to close this issue.

[2015-11-21 21:18] #8487 closed

[2015-11-21 21:19] clintongormley commented on #8502
Nothing to do here

[2015-11-21 21:19] #8502 closed

[2015-11-21 21:34] clintongormley commented on #8589
@jpountz is this still something we should pursue?

[2015-11-21 21:36] clintongormley commented on #8596
Given that this change could potentially make wildcards significantly heavier than they already are today, I'm going to close this one.

[2015-11-21 21:36] #8596 closed

[2015-11-21 21:37] clintongormley commented on #8623
No further ideas during the last year. Closing

[2015-11-21 21:37] #8623 closed

[2015-11-21 21:38] radiosterne commented on #8107
Great job, thanks Clinton!

[2015-11-21 21:39] clintongormley commented on #8632
Script compilation stats were added in https://github.com/elastic/elasticsearch/pull/12733

Docs could still be improved.

[2015-11-21 21:41] clintongormley commented on #8652
Closing in favour of https://github.com/elastic/elasticsearch/pull/13643

[2015-11-21 21:41] #8652 closed

[2015-11-21 21:42] clintongormley commented on #8669
Closing in favour of #13719

[2015-11-21 21:42] #8669 closed

[2015-11-21 21:55] clintongormley commented on #8681
Reread this ticket and I still don't get the point.  There has been no further interest in the last year, so I'm going to close this

[2015-11-21 21:55] #8681 closed

[2015-11-21 22:01] #8708 closed

[2015-11-21 22:02] clintongormley commented on #8719
Lots has changed in the last year, so I'll close this issue.

[2015-11-21 22:02] #8719 closed

[2015-11-21 22:11] clintongormley commented on #8800
This output was just what came out of Sigar, which we no longer use. Now we just report available processors

[2015-11-21 22:11] #8800 closed

[2015-11-21 22:11] clintongormley commented on #8805
Closing as this has been resolved several versions ago

[2015-11-21 22:11] #8805 closed

[2015-11-21 22:12] clintongormley commented on #8817
Closing in favour of #6372

[2015-11-21 22:12] #8817 closed

[2015-11-21 22:14] clintongormley commented on #8824
I think this requirement has been better addressed by index date math https://github.com/elastic/elasticsearch/pull/12209 so I'm going to close

[2015-11-21 22:14] #8824 closed

[2015-11-21 22:17] clintongormley commented on #8827
Sorry, this issue got lost.  Given that it is from a year ago, I assume you've resolved the issue already.  So much has changed since then, that there's no point in investigating further.

[2015-11-21 22:18] #8827 closed

[2015-11-21 22:25] clintongormley commented on #8851
So many allocation improvements have been made since 1.4 (eg https://github.com/elastic/elasticsearch/pull/14678, https://github.com/elastic/elasticsearch/pull/14652, https://github.com/elastic/elasticsearch/pull/14259, https://github.com/elastic/elasticsearch/pull/13512, https://github.com/elastic/elasticsearch/pull/12947, https://github.com/elastic/elasticsearch/pull/12551) that I'm going to clo

[2015-11-21 22:26] clintongormley commented on #8860
This has probably been resolved by async shard store fetching.  Please reopen if you still see this on recent versions

[2015-11-21 22:26] #8860 closed

[2015-11-21 22:28] clintongormley commented on #8896
@jpountz this was your idea originally.  Do you still think it is worth doing?

[2015-11-21 22:29] clintongormley commented on #8897
Closed by #8898

[2015-11-21 22:29] #8897 closed

[2015-11-21 22:33] clintongormley commented on #8928
Closed by https://github.com/elastic/elasticsearch/pull/11512

[2015-11-21 22:33] #8928 closed

[2015-11-21 22:41] clintongormley commented on #8939
Related to #14802

[2015-11-21 22:41] clintongormley commented on #6580
Closing in favour of https://github.com/elastic/elasticsearch/issues/8939

[2015-11-21 22:41] #6580 closed

[2015-11-21 22:48] clintongormley commented on #8970
Nothing seems to have happened for the last 11 months, during which major refactoring has happened in the way search requests are parsed.  Closing this for now.

[2015-11-21 22:48] #8970 closed

[2015-11-21 22:49] zackehh commented on #14866
@mikemccand how can I tell if there's a successful entry?

[2015-11-22 00:15] #6689 closed

[2015-11-22 03:24] rrphotosoft commented on #14911
Hi,
Thanks for your reply and the code snippet.
In my initial post, I've set the core threadpool size to 1 and the max to 2.
I have also tested this code with the Runnable  doing a simple (Thread.sleep) or some other task (like couting down a million integers). In each of these cases I never see a task rejected exception.
By "overwhelming the pool" do you mean, I'm overwhelming the <b>ES threadpoo

[2015-11-22 10:03] perzy opened #14917 "How to run as daemon?"
I am use bin/elasticsearch to start service.
But when I ctrl+C to exit shell , then service also stop.
How can I run it daemon?
like bin/elasticsearch -d ?

[2015-11-22 10:47] danielmitterdorfer commented on #14911
Hi @rrphotosoft,

I should have run your code earlier. My first assumption was not entirely correct. First things first, you don't overwhelm any thread pool in Elasticsearch but your own thread pool.

The problem is that you have a race condition in your code. Your queue can take 50 runnables but the semaphore, which you seem to use for flow control, allows 50 + corePoolSize method entries. Consid

[2015-11-22 10:47] #14911 closed

[2015-11-22 10:50] rrphotosoft commented on #14911
Hi,
I came across the solution just as you posted the response. Thanks for your help.
Rrphotosoft.

[2015-11-22 10:54] dadoonet commented on #14917
Please ask questions like this on discuss.elastic.co.

We provide packages like deb, rpm and windows so you can use them to run elasticsearch as a service.

[2015-11-22 10:54] #14917 closed

[2015-11-22 11:22] danielmitterdorfer commented on #14911
Another race condition :) You're welcome. Glad I could help.

[2015-11-22 12:54] lukas-vlcek commented on #8928
@clintongormley If I am not mistaken the issue #11512 has been fixed for ES 2.x, but this ticket was created to make sure online documentation for previous ES versions are updated accordingly. For example online documentation for ES 1.4 still contains chapter about [conditional clauses](https://www.elastic.co/guide/en/elasticsearch/reference/1.4/search-template.html#_conditional_clauses), but is i

[2015-11-22 19:27] markharwood commented on #6688
This is superseded by the graph API

[2015-11-22 19:27] #6688 closed

[2015-11-22 19:58] markharwood commented on #8095
I think this could still be useful for any free-text analysis of search results e.g significant_terms.
Not a high priority for me currently but certainly a longer-term nice-to-have

[2015-11-22 20:02] ppf2 commented on #14903
Maybe we can also look into having ES set index.load_fixed_bitset_filters_eagerly automatically on startup (eg. by collecting stats on the number of nested fields on startup, or other relevant metrics) and making the decision on whether it is appropriate to load them eagerly vs. lazily based on the amount of heap available, etc..  Currently, users tend to find out that they have to set this option

[2015-11-22 20:17] bleskes commented on #8362
and here: https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/discovery/zen/ZenDiscovery.java#L942

[2015-11-22 20:20] bleskes commented on #8333
I'm not sure - I don't recall the issue anymore and I don't follow the description. @bly2k do you remember and can you elaborate?

[2015-11-22 20:21] ppf2 opened #14919 "Add circuit breaker and/or cap for fixedbitset"
Some users in the field have nodes that are running out of memory due fixedbitset cache using the majority of the heap.  See #10224.  Some of them are already on 1.7.x which means that they have the fixes that will help reduce the amount of fixedbitset loaded (#8440 and #8454).  It will be helpful to add protection to the product to prevent OOM scenarios.  Users are currently working around this b

[2015-11-22 20:25] bleskes commented on #7838
@clintongormley I think so, the chances of finding out what happened are really slim.

[2015-11-22 20:25] #7838 closed

[2015-11-22 20:29] bleskes commented on #6593
the code is still the same. I don't remember anymore why this was a problem. Maybe @jpountz or @mikemccand can have a look and make suggestions? code is here these days: https://github.com/elastic/elasticsearch/blob/6b2f3a9ad2a8bd7c63d5e179560426a43ecaf9e8/core/src/main/java/org/elasticsearch/search/suggest/completion/CompletionFieldStats.java#L45

[2015-11-22 20:35] bly2k commented on #8333
@clintongormley @bleskes Hey guys, I recall this was happening prior to 1.4. I could not reproduce this since 1.4 came out. I assume it has since been fixed already. Regardless, I believe we had tests for this scenario starting 1.4 so it likely is fixed and no longer an issue.

[2015-11-22 20:37] bleskes commented on #8333
Ok. Thanks @bly2k ! closing...

[2015-11-22 20:37] #8333 closed

[2015-11-22 20:39] bleskes commented on #6468
we people add nodes to the list of a client we try to connect to them and validate that they are there. The connection timeout is 45s by default. Maybe the connection hangs?

At the moment we log this under debug, because we use the standard sniffing mechanism to validate the new nodes and that one runs frequently so you don't want to spam the logs:

[code]

However, if we do succeed to connect/ar

[2015-11-22 21:09] bleskes commented on #14905
I'm +1 on chasing those places that catch an exception and log something without it and/or suppress the stack trace. This is bad and we should fix it I'm also +1 on preventing the sad but common mistake of putting the exception in the wrong place in the parameter list.

To that fact I'm +1 on requiring a throwable parameter to the error and warn log methods. Those are typically used in an error co

[2015-11-22 22:29] mikemccand commented on #14905
OK I'll explore only requiring an exception for error and warn levels.  But we do unfortunately handle exceptions with info/debug/trace in places (not sure howe often, hopefully it's rare-ish) which means we lose enforcing those cases...

And also `.toString()` ... I'll try that too.

[2015-11-22 22:39] mikemccand commented on #14866
@zackehh it's the lines that look like this:

[code]

But in general the more logs you can share the more likely we'll see something unusual here.

[2015-11-22 23:09] joshuar opened #14922 "2.1.0 Release notes page links are missing a slash (/)"
In the 2.1.0 release notes:

https://www.elastic.co/guide/en/elasticsearch/reference/2.1/release-notes-2.1.0.html

All the PR and issue links are missing a final slash before the PR/issue number.

For example the link for the CRUD PR is:

https://github.com/elastic/elasticsearch/pull11306

Should be:

https://github.com/elastic/elasticsearch/pull/11306

[2015-11-23 04:50] jelmd commented on #14630
Hi,

Have a look at http://man7.org/linux/man-pages/man1/dpkg.1.html#ACTIONS , option -i : here you can see the single steps executed, when a package gets installed. Obviously the package's preinst script gets executed BEFORE the package puts /etc/default/elasticsearch into place (this happens in step 6) aka configuration). However, in line 19 of the preinst script you are trying to source in this

[2015-11-23 05:38] xuzha commented on #14802
We only support arbitrary values for time units up to weeks in the TimeValue class. `date_histogram` used it to parse the time interval. And in 2.0, when parsing timevalue, we made it case insensitive ( https://github.com/elastic/elasticsearch/pull/11437), so now it accepts `M` as minute.

We may keep it as case insensitive, change the time unit Moth from `M` to `mon` or something clearer to user.

[2015-11-23 06:52] gadin opened #14924 "documentation error - Offline update"
https://www.elastic.co/guide/en/marvel/current/installing-marvel.html#offline-installation

Says bin/plugin install file:///...
the right command and what plugin install -h says:  bin/plugin install file:/...

[2015-11-23 07:41] xuzha commented on #5794
@clintongormley, looks like this issue has been fixed. I cannot reproduce it.

[2015-11-23 08:01] martijnvg commented on #8053
@clintongormley I'm actually unsure if we should do this. In heavy read use cases it makes perfect sense, but heavy write and irregular searches (logging use case) the eager loading that happens during each refresh is useless and wasteful, because most of the times the global ordinal data structure is not being used.

[2015-11-23 08:02] babadofar commented on #13935
Idea: remove mentions of the hyphenation decompounder from the documentation

[2015-11-23 08:02] #14404 closed

[2015-11-23 08:36] zy840055899 commented on #13155
唉，还是没解决~

[2015-11-23 08:47] bjorn-ali-goransson opened #14927 "After upgrading from ES 1.7 to 2.0, getting lots of IllegalIndexShardStateException when bulk creating indices"
Hello,

We have a tool that creates a language-contenttype matrix of indices at first run (it checks what indices are missing from the matrix), which functioned well using ES 1.7 but now we're getting lots of  `IllegalIndexShardStateException` exceptions.

So we issue a `_cluster/health?wait_for_status=yellow` before each index creation HTTP request, still same issue.

We wait 1000ms before the cl

[2015-11-23 08:51] bleskes commented on #14927
@jasontedor do you mind taking a look at this?

[2015-11-23 08:56] colings86 commented on #6547
@clintongormley we don't have those tests still, but I think this actually isn't needed as the numeric metric aggregations all output a double value which is easy to sort. We have tests to make sure sorting works on a sub-aggregation so maybe that's enough? The only change that could be worth making is to randomise the metric used in the sorted for that test, but that might be tricky as the sort o

[2015-11-23 09:02] colings86 opened #14928 "Sort and truncate pipeline aggregation"
This would be a parent pipeline aggregation which would take the following option:
- Sort - a bucketsPath that defines the aggregation(s) in each bucket to use to sort the buckets in the parent aggregation. If this is not provided no sorting is done on the buckets
- Offset - all buckets before this index in the sorted buckets list will be removed. Defaults to 0 (i.e. don't remove any buckets from

[2015-11-23 09:03] colings86 commented on #6704
@clintongormley No, with the addition of Pipeline Aggregations I think it would be better to have a 'sort and truncate' pipeline aggregation to cover this functionality in a generic way across all aggregations rather than having to implement it for each one individually. I have created an issue (https://github.com/elastic/elasticsearch/issues/14928) for this so I'll close this in favour of it

[2015-11-23 09:03] #6704 closed

[2015-11-23 09:11] colings86 commented on #14802
I think we need to keep month as `M` as this is what we expect in our date formats and data math so it is consistent. While I think most validation in the codebase should be case-insensitive I think in this case it should not be. All the other options (`y`,`q`,`w`,`h`,`s`) should be case in-sensitive too as in the date format syntax their uppercase and lowercase forms still relate to the same inte

[2015-11-23 09:43] jpountz commented on #6704
+1

[2015-11-23 10:13] jpountz commented on #8053
This "should we perform operations eagerly on refresh" discussion happens all the time for the timeseries use-case. Since the goal of the refresh operation is to make changes searchable, maybe what we need is a different way to refresh for the timeseries use-case? For instance instead of running asynchronously every X seconds, it could run when calling the `_search` API if the last refresh occurre

[2015-11-23 10:25] tlrx commented on #14898
+1

[2015-11-23 10:30] mabodo opened #14929 "Mapping"
I just started learning elasticSearch.

I don't know anything about previous versions of elasticSearch, so my first inputs has been with elastic 2.0.

I used the "official" documentation in order to understand how does it work and how to interact.
I must say that for me was quite strange, that the Search APIs was explained much before the Mapping.

While trying examples of the Search API on local,

[2015-11-23 10:32] cirot87 opened #14930 "Create multi nodes on single cluster into ES 2.0"
Hi, is possible to create a multi nodes on a single cluster into ES 2.0?
I've tried the common config and some console commands but both don't work.
I known that some console commands are disabled but i can't create a second node on my db.

Someone can help me???

[2015-11-23 10:35] dadoonet commented on #14930
Please join us on discuss.elastic.co.

We can help you better there.

We use this only for bug reports.

[2015-11-23 10:35] #14930 closed

[2015-11-23 10:39] bleskes commented on #14905
Thanks Mike.

I'm happy to help going through the list and review/fix the current things you found...

[2015-11-23 10:43] jpountz commented on #8896
I haven't seen it as much as I initially expected. But I think this can still be interesting indeed. Closing for now, we can re-open in the future if needed.

[2015-11-23 10:43] #8896 closed

[2015-11-23 10:47] jpountz commented on #8320
This is very internal to elasticsearch. I don't think we want to support this kind of functionnality for plugins.

[2015-11-23 10:47] #8320 closed

[2015-11-23 10:51] jpountz commented on #6697
Yes. I think it can be useful for pagination in particular, when sorting by term. I'll close for now and reopen when I have more concrete plans.

[2015-11-23 10:51] #6697 closed

[2015-11-23 11:01] ywelsch opened #14932 "Processing pending deletes can block shard initialisation for 30 minutes"
Test failure: http://build-us-00.elastic.co/job/es_core_master_window-2008/2553/testReport/junit/org.elasticsearch.indices.state/RareClusterStateIT/testDeleteCreateInOneBulk/

The test fails due to a race in acquiring `ShardLock` locks.

When an index is deleted, an asynchronous process is started to process pending deletes on shards of that index. This process first acquires all `ShardLock` locks

[2015-11-23 11:03] s1monw commented on #14932
really this is a bug in how elasticsearch works altogether. all these locks and all the algs we have work on the index name rather than on it's uuid which is a huge problem. That's the place to fix this rather than changing the way we process pending deletes.

[2015-11-23 12:08] dadoonet commented on #14127
fixed by #14314

[2015-11-23 12:08] #14127 closed

[2015-11-23 12:14] #13588 closed

[2015-11-23 12:20] #13102 closed

[2015-11-23 12:27] dadoonet commented on #11731
@johnament Do you want to come with documentation pull request about this? I have no idea of what is needed to be done here.

Closing but feel free to either:

* comment on this ticket how documentation needs to be fixed in the elasticsearch 2.0 context
* open a documentation PR which fix the doc (even better :p )

Thanks!

[2015-11-23 12:27] #11731 closed

[2015-11-23 13:17] leunamnauj opened #14937 "UNASSIGNED shards after restore snap of a different cluster"
Hello Team,
I've placed a backup taken from another Elastic cluster (one node cluster ¬¬). I've restored this snapshot in another cluster (two nodes cluster) and all shards are "UNASSIGNED". I've tried all I could but there is no way to solve this issue.

Config file for both nodes is the following:

cluster.name: EXAMPLE
node.name: ${HOSTNAME}
network.bind_host: ${HOSTNAME}
network.publish_host:

[2015-11-23 13:28] s1monw commented on #14932
we already have some issues related to this: https://github.com/elastic/elasticsearch/issues/13264 and https://github.com/elastic/elasticsearch/issues/13265 (this one is rather unrelated but goes into the same direction of safety)

[2015-11-23 14:06] nik9000 opened #14939 "Use a java agent to disable ObjectInputStream for the entire JVM"
We've banned `ObjectInputStream` and friends but they might still be used by libraries. Maybe we can plug that hole with [NotSoSerial](https://github.com/kantega/notsoserial)?

[2015-11-23 14:07] dadoonet commented on #14099
I think that we can close it now as #14155 has been merged.

[2015-11-23 14:07] #14099 closed

[2015-11-23 14:12] dadoonet commented on #13673
@NicolasTr IIRC you told us that you want to port your changes to this repository. Is it still your plan? Thanks!

[2015-11-23 14:20] uboness commented on #14647
why are we trying to write a scripting language in json? this all looks off to me. We should probably just use *real* scripts for conditions... otherwise, there's no end to this.

[2015-11-23 14:21] jsh2134 commented on #11425
@l15k4 having the same issue. We are trying to index 400M records and right around 100M records, throughput grinds to a halt, we are using larger nodes (m4.2xlarges) but once the throughput drops so does CPU and Load. Have you had any further success?

[2015-11-23 14:24] rmuir commented on #14939
I don't think we should do this, I think its by far too risky. Changing bootclasspath to modify the behavior of the jvm (either directly or with agent)? no thanks. Looking at their code, I don't think its gonna work under java 9/jigsaw, I think the licensing situation here is still ambiguous, etc.

I also think this agent is an incomplete, risky, knee-jerk reaction to a specific vulnerability. Ins

[2015-11-23 14:27] #14939 closed

[2015-11-23 14:30] rmuir commented on #14939
Also, forgot to mention, containing the JVM at the OS level doesn't have to be complex. Even stuff like tidying up filesystem permissions in our packaging can be a great improvement there.

[2015-11-23 14:55] dadoonet opened #14941 "Failed to start elasticsearch in IT for tar distribution on windows"
This seems to happen on windows only:

http://build-us-00.elastic.co/job/es_core_master_window-2008/2574/console

[code]

[2015-11-23 15:25] roytmana opened #14942 "Terms Aggregation Include/Exclude RegEx does not work in case multi-region matches, look ahead groups etc"
RegEx like ```(?=.*elastic)``` will match nothing. I it is because java Matcher.matches() may be used in elastic to implement it and it would not work with multi region scenarios. I think Matcher.find() should be used instead. I did not look in Elastic code for this but simulated exact behavior with using matches() vs find()

[2015-11-23 15:31] nik9000 commented on #6942
Its possible this came back. We're much better at testing these scripts now but we don't test this case. I'll reopen this so we know to investigate. But I don't know when I'll get a chance to work on it though.

[2015-11-23 15:36] nik9000 commented on #14372
I suspect there are plenty of distros that'd be upset if we didn't let them override that to dump it where they want it. If its just something that defaults to $ESHOME/tmp but can be changed with a shell variable that'd be fine.

[2015-11-23 15:39] rmuir commented on #14372
Yeah: shell variable is fine. Its more that it wont really work as a e.g. typical elasticsearch.yml configuration option.

We need to pass java.io.tmpdir into the JVM up front, in JAVA_OPTS, otherwise it only works "partially" and we will be stuck with two temporary directories, which is bad.

[2015-11-23 15:40] ryanchou1991 opened #14943 "Could elasticsearch highlight wildcard query search term?"
I haven't find the way to highlight my wildcard query term. as following steps

* Create index

[code]

* Create mapping

[code]

* Index Some documents

[code]

* Search in wildcard query (with highlight)

[code]

While I try another highlight options from the highlight referrences https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-highlighting.html
such as `{"term_vec

[2015-11-23 15:41] rmuir commented on #6942
We can test this by putting a space in the path to JAVA_HOME on jenkins servers.

[2015-11-23 15:50] leonid-s-usov opened #14944 "more_like_this doesn't understand index alias in doc reference"
After upgrading from 1.7 to 2.0 I have got a problem with my more_like_this query, which stopped returning results.

Playing around with the query I was surprised to know that if I set a "like" document "_index" to an alias, no results are returned. When set to the real index name matches are found.

[code]

[code]

[code]

[2015-11-23 15:50] nik9000 commented on #14943
It doesn't support what you want sadly. Highlighting is on the terms and wildcard queries expand to a list of matching terms. As much as I'd love to support the thing you are asking for I don't see that happening any time soon.

[2015-11-23 15:50] #14943 closed

[2015-11-23 16:10] dadoonet opened #14946 "copy_to of mapper attachments metadata field isn't working"
_From @gpaul on November 17, 2015 10:43_

The following set of steps against a fresh elasticsearch 2.0.0 instance with v3.0.2 of this plugin installed shows that copy_to isn't working for the name field. I doubt it is working for the other metadata fields, either.

You can copy/paste this in your shell.
[code]

_Copied from original issue: elastic/elasticsearch-mapper-attachments#190_

[2015-11-23 16:10] dadoonet commented on #14946
_From @gpaul on November 23, 2015 13:37_

Ping. Should I open this issue against the main elasticsearch repository now that this plugin is moving there?

[2015-11-23 16:10] dadoonet commented on #14946
Did you try the same script with elasticsearch 1.7? I'd like to know if it's a regression or if it has always been there.

I know that copy_to feature is supposed to work for the extracted text but I don't think it worked for metadata.

If I'm right (so it's not an issue but more a feature request), then you can open it in elasticsearch repo.
If I'm wrong (so it's a regression), then keep it here.

[2015-11-23 16:10] dadoonet commented on #14946
_From @gpaul on November 23, 2015 14:58_

It seems like a regression:
elasticsearch 1.7.0 with mapper-attachments 2.7.1
yields
[code]

[2015-11-23 16:10] dadoonet commented on #14946
Thank you @gpaul

[2015-11-23 16:10] dadoonet commented on #14946
_From @hhoechtl on November 23, 2015 15:2_

It's also not working with the .content field

[2015-11-23 16:24] ryanchou1991 commented on #14943
@nik9000 Thanks for your ˙help. Is there any measure I could take for getting my expected results?
Or would elasticsearch plan to provide highlight wildcard term option to support this? I thought it could be a normal requirement  and not to hard to implement : )

or I just only highlight it in the front-end.

[2015-11-23 16:25] dadoonet commented on #14946
I created a test for elasticsearch 1.7 and it is working well in 1.x series:

[code]

I created a test for 2.* branches which demonstrates the regression from 2.0.
It can be reused to fix this issue: https://github.com/elastic/elasticsearch-mapper-attachments/commit/30aeda668a9090f28929a74d59b9bf81e1738161:

[code]

@rjernst Could you give a look please?

[2015-11-23 16:40] dadoonet commented on #14877
Sounds like it failed today again on 2.1 branch: http://build-us-00.elastic.co/job/es_core_21_debian/342/consoleFull

[2015-11-23 16:41] javanna commented on #14577
I think this is the same as #11710. If it happens only with search, it's because TransportSearchAction delegates to a subaction (depending on the search type) which causes the duplication you are seeing.

[2015-11-23 16:46] danielmitterdorfer commented on #14877
@dadoonet It's not yet merged. I'll merge it soon.

[2015-11-23 16:49] nik9000 commented on #14943
The trouble is that not much work is going on in highlighting _and_ wildcard queries are generally a bad way to do full text search anyway. They are orders of magnitude slower than getting the analysis chain right for your use case. *and* that the way that it currently works does a better job of explaining what is happening during search. And that is one of the goal of highlighting.

So, yeah, the

[2015-11-23 16:56] #14877 closed

[2015-11-23 17:01] acb122 opened #14947 "Should ELasticSearch work with Windows Server 2008 R2"
I recently upgraded to elastic search 2.0 on my Windows Server 2008 R2 machine, I am now getting a java error when trying to run it, is 2008 still supported?

[2015-11-23 17:02] dadoonet commented on #14947
Yes. But may be you can describe which exact error you have.

A better place could be to ask that in discuss.elastic.co.

[2015-11-23 17:13] acb122 commented on #14947
it was this url https://www.elastic.co/support/matrix which seems to show it wasn't supported. But no issues online i could find.

[2015-11-23 17:24] acb122 commented on #14947
at org.jboss.netty.handler.codec.replay.ReplayingDecoder.messageReceived
(ReplayingDecoder.java:435)
        at org.jboss.netty.channel.SimpleChannelUpstreamHandler.handleUpstream(S
impleChannelUpstreamHandler.java:70)
        at org.jboss.netty.channel.DefaultChannelPipeline.sendUpstream(DefaultCh
annelPipeline.java:564)
        at org.jboss.netty.channel.DefaultChannelPipeline$DefaultChannelHand

[2015-11-23 17:27] dadoonet commented on #14947
Ha. I misread the issue. I thought you were talking about 2012 not 2008.

[2015-11-23 17:29] dadoonet commented on #14947
About the "issue", sounds like you PUT a mapping in a non existing index or so?

May be you could describe what you are doing on discuss.elastic.co?

Closing here as not an issue.

[2015-11-23 17:29] #14947 closed

[2015-11-23 17:35] sazary commented on #14188
What was the reason?

[2015-11-23 17:58] jpountz opened #14949 "`function_score` should have a bulk scorer"
Some queries return bulk scorers that can be significantly faster than iterating naively over the scorer. By giving `function_score` a BulkScorer that would delegate to the wrapped query, we could make it faster in some cases.

[2015-11-23 18:03] jasontedor commented on #14927
The `IllegalIndexShardStateException`s that you are seeing in the log messages here are not from the index creation, but from stats requests that are being issued. These stats requests appear to be issued while the physical shards are in the state of `IndexShardState.RECOVERING` which is a state that physical shards pass through, for instance, upon index creation.

I think that the reason that you

[2015-11-23 18:03] #14927 closed

[2015-11-23 18:20] #14937 closed

[2015-11-23 18:22] sa-shukla commented on #12055
I am running ElasticSearch 2.0, but am still receiving IndexShard Recovery failures:

[2015-11-23 18:03:32,670][WARN ][cluster.action.shard     ] [The Russian] [logstash-2015.10.24][4] received shard failed for [logstash-2015.10.24][4], node[omb9PXHUTXqpKeesvkCbPw], [P], v[742647], s[INITIALIZING], a[id=XUctUOPUQLiHXyK2J9gdlg], unassigned_info[[reason=ALLOCATION_FAILED], at[2015-11-23T18:03:32.486

[2015-11-23 18:27] zackehh commented on #14866
@mikemccand I'll try and get this to you; we've had to roll back in the testing environment due to release schedules, but I'll try find some time to get another instance up and running and try repro.

[2015-11-23 18:34] jpountz commented on #8589
I don't think this is relevant anymore now that the things that use memory (fielddata, query cache) are in Lucene and implement Accountable. The only thing which is left in Elasticsearch is the request cache, but we don't even report memory usage as it's meant to be tiny (1% memory usage by default).

[2015-11-23 18:34] #8589 closed

[2015-11-23 19:28] bleskes commented on #14927
@jasontedor correct if I'm wrong, but I don't see the change to IndexShard.docStats that enforces readAllowed() . Also, I think it's wrong to block stats report if the engine is already open and we are recovering. I'm thinking, for example, of reporting the translog length, or the memory signature of lucene, number of segments etc. If the engine is not yet open, we can ignore the shard as it is no

[2015-11-23 19:33] HardyLoppmann commented on #12721
Hi, I´m interested at these plugin, too but I´ve got another reason. We are implementing a full text search for a huge customer, which has a difficult approve process for products like elasticsearch. If you want to use a new product or self hosted service you have to fill about ~1000 documents ;-) If you use a already approved servlet engine like a tomcat, jboss or weblogic you can elasticsearch w

[2015-11-23 19:41] rcrezende commented on #14851
For the suggested accuracy as result of adding more data, if we consider that any aggregation can be a result of a filter, I'd prefer obtaining a confidence interval though.

[2015-11-23 19:43] jasontedor commented on #14927
@bleskes I wasn't suggesting it was a change to `IndexShard#docStats`; the [change](https://github.com/elastic/elasticsearch/commit/5cb86130ec65c508b25b503d228f0acfb1797663#diff-be8942a0b62ccd463e4b261e67d110a0R65) is to `TransportIndicesStatsAction#shards`.

The shard doesn't get counted as "failed" in the stats response.

Okay.

[2015-11-23 19:51] bleskes commented on #14927
Oh , I see. OK :) before we didn't even try...

As I said, I think we can be less strict then readAllowed() but that's not a regression then. Re the trace - note how we ignore this error completely in the response:

[code]