[2020-10-13 12:10] #57765 closed

[2020-10-13 12:13] dliappis commented on #63158
Happened again in https://gradle-enterprise.elastic.co/s/ltnse5w2kmqqc and https://gradle-enterprise.elastic.co/s/zhecxbwpnele2

[2020-10-13 12:17] #63498 closed

[2020-10-13 12:22] mcsmik commented on #34659
Just came across this post, I'm having a real headache with the timezone being stuck on UTC and the clock switch coming up in a couple weeks will mean I need to script changing all my watches to match the new time and it's all cron expressions... I can't believe something as basic as a timezone hasn't been accounted for. Please add this

[2020-10-13 12:25] DaveCTurner commented on #61021
No benchmarks received, I'm closing this.

[2020-10-13 12:25] #61021 closed

[2020-10-13 12:33] dliappis commented on #53599
Happened again in https://gradle-enterprise.elastic.co/s/ilifyy7bx7ouy

[2020-10-13 12:39] #63476 closed

[2020-10-13 12:46] dliappis opened #63606 "CoordinatorTests#testCannotSetInitialConfigurationTwice build failed trying to release array"
**Build scan**: https://gradle-enterprise.elastic.co/s/ryeuypz4d3hiu

**Repro line**:

[code]

**Reproduces locally?**: Yes

**Applicable branches**: 7.x

**Failure history**: First time

**Failure excerpt**:

[code]

[2020-10-13 12:46] elasticmachine commented on #63606
Pinging @elastic/es-distributed (:Distributed/Cluster Coordination)

[2020-10-13 12:52] original-brownbear commented on #63606
This was already fixed by https://github.com/elastic/elasticsearch/commit/aefa31673a8da8ce81f5e9ea58d065b991c3134f :)

[2020-10-13 12:52] #63606 closed

[2020-10-13 12:56] rudolf opened #63607 "Documentation bug for ignore_unavailable on GET Index API and GET Alias API)"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 8.0.0-SNAPSHOT, Build: default/tar/1e949ca10d45adeec480ff9d2dbe856f612d04d4/2020-10-12T19:31:39.600160Z

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

According to the [docs](https://ww

[2020-10-13 13:38] #55108 closed

[2020-10-13 13:56] dliappis opened #63611 "Elasticsearch didn't start during :example-plugins:script-expert-scoring:yamlRestTest (elasticsearch-master-g1gc) reporting: Multiple garbage collectors selected"
Occurs with $RUNTIME_JAVA_HOME < 15.

**Build scan**: https://gradle-enterprise.elastic.co/s/ou63qq3svaoxa

**Repro line**: `./gradlew -Druntime.java=11 -Dtests.seed=78D1A8483F9345AD ':rest-api-spec:yamlRestTest'   --tests "org.elasticsearch.test.rest.ClientYamlTestSuiteIT"   -Dtests.method="test {p0=cat.segments/10_basic/Help}" -Dtests.jvm.argline='-XX:-UseSerialGC -XX:+UseG1GC'`

(note that the

[2020-10-13 14:50] #51136 closed

[2020-10-13 14:52] #63553 closed

[2020-10-13 15:18] #60848 closed

[2020-10-13 15:58] jaymode commented on #63002
One reason that this could happen is a JDK bug (https://bugs.openjdk.java.net/browse/JDK-8215355). However this bug should have been fixed as of Oracle's 8u251 and OpenJDK 8u262. @sebastianrothbucher who is the vendor of your JVM?

Another possibility is that rather than a deadlock there is a livelock so the thread dump output is not accurate. Would you be able to capture a several jstack outputs

[2020-10-13 18:18] lucabelluccini commented on #62681
While the feature about exclusion/inclusion of patterns might be interesting, I want to comment about the specific issue you're facing with Kibana.
The `.kibana` index (and other internal system) will become one of the system indices (see https://github.com/elastic/elasticsearch/issues/50251) in the future.
Hidden indices (https://github.com/elastic/elasticsearch/pull/50452) do not obey to global

[2020-10-13 18:41] pmuellr opened #63637 "[docs] update by query API scroll_size param default value described differently in docs"
In the [update by query docs for query parameters](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update-by-query.html#docs-update-by-query-api-query-params), it says the following for `scroll_size`:

Later, in the [examples section](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update-by-query.html#docs-update-by-query-api-example), it says:

It seems

[2020-10-13 21:13] dakrone commented on #59195
@yuliacech it's still something we'd like to do, but I don't think it has anyone currently working on adding it.

[2020-10-13 21:29] ktate-suse commented on #60101
Is there any update on this request?

[2020-10-13 23:07] rjernst commented on #62635
This has been fixed by switching to Oracle JDK 15.

[2020-10-13 23:07] #62635 closed

[2020-10-14 05:29] pgomulka commented on #61496
closed by  https://github.com/elastic/elasticsearch/pull/63626

[2020-10-14 05:29] #61496 closed

[2020-10-14 06:12] przemekwitek commented on #62160
I consider this done.
There is still one outstanding issue with providing user-friendly error message when the old destination index is encountered in Evaluate request. But this is just a small enhancement that should not block this issue from being closed.

[2020-10-14 06:12] #62160 closed

[2020-10-14 07:22] felixbarny commented on #63530
Is there an estimated release version for this? To choose the workaround with the right tradeoffs, for the time being, it would help us to know when we could expect this enhancement to land. See also https://github.com/elastic/apm/issues/347#issuecomment-708205726.

[2020-10-14 07:35] #63521 closed

[2020-10-14 07:46] tomsozolins commented on #63213
Here is Kibana stack trace:
Error: Not Found
    at Fetch._callee3$ (https://kibana/33984/bundles/core/core.entry.js:34:109213)
    at l (https://kibana/33984/bundles/kbn-ui-shared-deps/kbn-ui-shared-deps.js:368:155323)
    at Generator._invoke (https://kibana/33984/bundles/kbn-ui-shared-deps/kbn-ui-shared-deps.js:368:155076)
    at Generator.forEach.e.<computed> [as next] (https://vvs-kibana.rd.r

[2020-10-14 07:47] MTreide-Heuser commented on #63002
Hello,

here's the complete Java version information...

[code]

I tried some `jstack -F` in the past but it was giving the error `java.lang.RuntimeException: Unable to deduce type of thread from address`. It looks like `jstack` is only working without `-F`.

[2020-10-14 07:59] #63052 closed

[2020-10-14 08:28] elasticmachine commented on #63637
Pinging @elastic/es-docs (>docs)

[2020-10-14 08:29] elasticmachine commented on #63637
Pinging @elastic/es-distributed (:Distributed/CRUD)

[2020-10-14 08:34] MTreide-Heuser commented on #63002
In the meanwhile we collected several jstacks. They look different. It might be, they better show what happens.

How we collect (simplyfied):
[code]

AFAIK the hanging / locking happens everytime after [ML].

[jstack-4.txt](https://github.com/elastic/elasticsearch/files/5376766/jstack-4.txt)
[jstack-3.txt](https://github.com/elastic/elasticsearch/files/5376767/jstack-3.txt)
[jstack-2.txt](https://

[2020-10-14 08:40] markharwood commented on #52610
Another case in https://gradle-enterprise.elastic.co/s/ez5axqidlgvxk
7.9 CI LINUX elastic+elasticsearch+7.9+multijob-unix-compatibility os=debian-9&&immutable

	org.gradle.internal.remote.internal.ConnectException: Could not connect to server [06833148-67c0-4c86-8dd4-326b5691c2ca port:42837, addresses:[/127.0.0.1]]. Tried addresses: [/127.0.0.1].
		at org.gradle.internal.remote.internal.inet.TcpOu

[2020-10-14 08:58] howardhuanghua commented on #62920
Hi @rjernst would you please help to review the issue again? Could I open a PR to fix the issue with my proposal?

[2020-10-14 09:19] jimczi commented on #63213
I opened https://github.com/elastic/elasticsearch/pull/63652 after reading the additional stack traces that you provided. The one in the description is about a deleted search so it's not really a bug but the subsequent ones are due to a race condition. The update of the expiration time competes with the update of the response when the search finishes so a version conflict can happen. Retrying the

[2020-10-14 09:22] consulthys commented on #63213
Thank you @jimczi 👍

[2020-10-14 10:18] droberts195 commented on #63002
As before, there is no evidence of ML directly doing anything at all in those stack traces.  If this problem is caused by ML it must be some subtle indirect effect.

The common theme of those stack traces is that indices are being created.  None of the stacks report an actual deadlock.  I wonder if the problem is that some strange side effect of the ML maintenance tasks on this cluster causes a fl

[2020-10-14 10:43] mayya-sharipova commented on #62273
@diegomansua Thank you for letting us know about your use case. I actually think `rank_features` can be useful in your case.
You can model your entities as `rank_features`:
[code]

And use a bool query with a number of `rank_feature` query for each topic  as a proxy to find nearest neighbours. Documents that have the highest entity weights on these topics, will also be scored higher.  An additiona

[2020-10-14 10:43] romseygeek opened #63659 "[CI] CoreValuesSourceTypeTests.testDatePrepareRoundingWithQuery failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/sk3idodjsauxm/console-log?task=:server:internalClusterTest

**Repro line**:
./gradlew ':server:test' --tests "org.elasticsearch.search.aggregations.support.CoreValuesSourceTypeTests.testDatePrepareRoundingWithQuery" -Dtests.seed=953606DE8449AE7F -Dtests.security.manager=true -Dtests.locale=fr-BE -Dtests.timezone=Pacific/Yap -Druntime.java=11

[2020-10-14 10:44] romseygeek commented on #63659
@nik9000 this looks like it might be one of yours?

[2020-10-14 10:50] cbuescher commented on #60366
This is erroneously tagged as a test failure which should be used only for our internal CI tests.
I'm unsure what this issue is about. @wujieaiyan could you please clarify your problem?

[2020-10-14 10:54] cbuescher commented on #60712
This issue is erroneously tagged as test failure which should be applied for internal CI test failures.
@Crab2died is this still an issue that you can reproduce with the above steps?

[2020-10-14 11:28] susangz commented on #33075
Hi! I'm facing same too. In my case with version 5.6.16 because I need 5.x to connect it to TheHive and Cortex. It's really strange because the same steps I'm following are working in another machine. Any idea? How did you solve it?

[2020-10-14 12:28] #61173 closed

[2020-10-14 12:34] #56996 closed

[2020-10-14 13:00] #63600 closed

[2020-10-14 13:26] MTreide-Heuser commented on #63002
Ok, how to do this?

[2020-10-14 13:26] #62326 closed

[2020-10-14 13:30] nik9000 opened #63671 "update by query and max_docs and conficts=proceed"
https://github.com/elastic/kibana/issues/80371 seems to be having a problem with update_by_query and max_docs. I'm not 100% sure exactly what is going on, but they expect the combination of max_docs=10 and conflicts=proceed to continue running update by query until it manages to update 10 documents. This seems pretty reasonable and it seems like something the code is trying to do. I might have wri

[2020-10-14 13:30] elasticmachine commented on #63671
Pinging @elastic/es-distributed (:Distributed/Reindex)

[2020-10-14 13:35] albertzaharovits opened #63672 "[CI] Failure in ConcurrentSnapshotsIT testConcurrentSnapshotWorksWithOldVersionRepo"
Both in 7.x and master there seems to be an NPE in:
[code]

Sample build scans:
* https://gradle-enterprise.elastic.co/s/g25empdhtuyzc/tests/:server:internalClusterTest/org.elasticsearch.snapshots.ConcurrentSnapshotsIT/testConcurrentSnapshotWorksWithOldVersionRepo#1
* https://gradle-enterprise.elastic.co/s/njjsq64oksovm/tests/:server:internalClusterTest/org.elasticsearch.snapshots.ConcurrentSnapsh

[2020-10-14 13:35] elasticmachine commented on #63672
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-14 13:45] tlrx commented on #63672
Thanks @albertzaharovits but the failing assertion was fixed few hours ago by #63625 and #63642. I checked the commits in the build scans and they do not include the fix.

[2020-10-14 13:45] #63672 closed

[2020-10-14 14:29] diegomansua commented on #62273
Thank you @mayya-sharipova I will give it a go.

[2020-10-14 14:37] droberts195 commented on #63002
Something like:

[code]

Replace host, port, username and password as appropriate.  Or you can use dev console in Kibana:

[code]

[2020-10-14 14:37] nik9000 opened #63680 "range query on dates can see small numbers of millis as a year"
If you write a date range query with numeric parameters we *can* interpret them as a year. Check it out:

[code]

The `1000` gets turned into a String internally and then we parse it as the year 1000.

[2020-10-14 14:37] elasticmachine commented on #63680
Pinging @elastic/es-search (:Search/Search)

[2020-10-14 14:37] nik9000 commented on #63659
I've filed #63680.

[2020-10-14 14:39] nik9000 commented on #63659
Fixed by b0b2acc8c59c43308ea46b2b7a1b3944ae4e1b65.

[2020-10-14 14:39] #63659 closed

[2020-10-14 14:42] #63637 closed

[2020-10-14 14:44] medcl opened #63681 "Indices replicated with CCR are randomly paused when ILM are enabled"
**Elasticsearch version** (`bin/elasticsearch --version`):
Tested with v7.9.2

**Plugins installed**: []
None

**Steps to reproduce**:

Two cluster:
- Cluster dev: 192.168.3.98
- Cluster local: localhost

Same version, v7.9.2; CCR was configured to replicated index from `192.168.3.98` to `localhost`.

1.  on dev cluster(192.168.3.98)

[code]

2.  on local cluster(localhost)

[code]

3.  start send

[2020-10-14 14:44] elasticmachine commented on #63681
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-10-14 14:47] pugnascotia commented on #61656
What would be an example of a system index for which we *don't* know the configuration ahead of time?

[2020-10-14 14:48] jaymode commented on #61656
Kibana is an example since plugins can change some of their mappings.

[2020-10-14 14:58] jaymode commented on #63002
Also what does your cronjob to check if es is responsive actually call?

[2020-10-14 15:22] eddieturizo opened #63684 "Clarify the mapping of acceptable Painless context values"
It might help to clarify in the documentation the acceptable Painless context values that can be used in `script.context.$CONTEXT.max_compilation_rates` as seen in [Script compilation circuit breaker](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/circuit-breaker.html#script-compilation-circuit-breaker). [Painless contexts](https://www.elastic.co/guide/en/elasticsearch/painless/master

[2020-10-14 15:22] elasticmachine commented on #63684
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-10-14 15:47] cbuescher commented on #63680
I think we should force parsing with "epoch_millis" when the argument of to or from is a number. Working on a fix.

[2020-10-14 15:59] nik9000 commented on #63680
I think maybe this an 8.0 breaking change kind of thing though.

[2020-10-14 16:13] #60278 closed

[2020-10-14 16:24] jguay opened #63689 "Ability to define default for track-total-hits from cluster or index settings"
From [7.0](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.0.html#track-total-hits-10000-default), track-total-hits defaults to 10000 and must be set at request level to show more accurate total hit
It would be useful to be able to set default value for cluster instead of via individual request. For example if an application always require accurate count, a chang

[2020-10-14 16:47] jtibshirani opened #63690 "Support unmapped fields in search 'fields' option."
We recommend omitting a field from the mappings when a user wants to avoid the indexing overhead, but still retrieve its values. This is usually accomplished by using an `object` field with `enabled: false` or `dynamic: false`. Since 'fields' is meant to be the central place to retrieve document content, it should allow for loading these unmapped values.

Longer-term we'd like to discourage users

[2020-10-14 16:47] elasticmachine commented on #63690
Pinging @elastic/es-search (:Search/Search)

[2020-10-14 17:07] harshahst commented on #49124
We are facing the same issue.

Using as below

Application:
1. Spring Boot 2.1.5.RELEASE
2. Elasticsearch libraries 7.7.0 - org.elasticsearch:elasticsearch, org.elasticsearch.client:elasticsearch-rest-client, org.elasticsearch.client:elasticsearch-rest-high-level-client
3. Elasticsearch 7.7.0 clusters

APIs:
1. We create RestHighLevelClient bean during startup of Spring Boot APP and using same bea

[2020-10-14 17:10] nik9000 opened #63691 "distance_feature queries get their boost applied twice"
It looks to me like we wrap `distance_feature` queries in boost at the query builder layer and Lucene also wraps them lower down. Check out https://github.com/elastic/elasticsearch/pull/63638.

[2020-10-14 17:10] elasticmachine commented on #63691
Pinging @elastic/es-search (:Search/Search)

[2020-10-14 17:39] costin opened #63693 "EQL: bool field inside where clauses causes the query to fail"
Performing a query against a boolean field ends up with an exception:

[code]

The issue seems to be related in handling bool fields inside the where clause.

[2020-10-14 17:39] elasticmachine commented on #63693
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-14 17:45] costin opened #63695 "EQL: Improve grammar to handle bool declarations"
The following query `process where field` is allowed in EQL but requires special handling because the condition is invalid, should be `field == true`. This can easily _leak_ inside other expressions such as `where functionA(field) > 0 and field or functionB(field) + 1 > 0`
The parser should pick this up and add a proper declaration instead of forcing the Optimizer or query translator to fix it dow

[2020-10-14 17:45] elasticmachine commented on #63695
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-14 17:59] jakelandis opened #63696 "Clean up testing plugins"
With some recent refactoring we have addressed the common use cases for core, modules, and (ES) plugins by creating specific Gradle plugin's for the common use cases (see below).  However, the one-off use cases have not been addressed leaving behind a bit of mess of Gradle plugins which can be confusing about which one to use. Generally these one-off use cases are part of `qa` projects and were no

[2020-10-14 17:59] elasticmachine commented on #63696
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-10-14 18:10] jakelandis opened #63697 "Expose only a subset of precommit tasks to 3rd party developers"
The `precommit` task enforces Elasticsearch specific constraints that don't always apply to 3rd party developers. We should not (by default) expose all the `precommit` tasks for plugin developers. Rather, we should differentiate between `internal` and `external` precommit task.

easy repro:

install https://github.com/spinscale/cookiecutter-elasticsearch-ingest-processor
cookiecutter gh:spinscale/

[2020-10-14 18:10] elasticmachine commented on #63697
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-10-14 18:43] ike-mowgli-mor commented on #36993
If anyone was wondering - params are passed by reference

[2020-10-14 19:26] rw-access commented on #63695
I'm not sure this is actually possible to enforce grammatically. And I don't see why we should explicitly forbid `where field` vs handling it more gracefully

[2020-10-14 19:26] rw-access commented on #63695
I'm not sure this is actually possible to enforce grammatically. And I don't see why we should explicitly forbid `where field` vs handling it more gracefully

[2020-10-14 19:32] dnhatn opened #63702 "AsyncSearchActionIT#testSearchPhaseFailureNoCause fails"
This test failure can be caused by the changes in https://github.com/elastic/elasticsearch/pull/63520.

Some build scans:
  - https://gradle-enterprise.elastic.co/s/cme2mjkkijb3u

I will mute the test and take a look at the failure.

[2020-10-14 19:32] elasticmachine commented on #63702
Pinging @elastic/es-search (:Search/Search)

[2020-10-14 19:45] jctello commented on #62164
I can confirm this has been broken by 7.9.x
The exact steps to reproduce both the working behavior and the wrong behavior on a clean RPM-based machine are:
[code]

Result for 7.9.x
[code]
Result for 7.8.1:
[code]

Judging from [the commits done to the slm folder before 7.9.0](https://github.com/elastic/elasticsearch/tree/v7.9.0/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/slm) and

[2020-10-14 20:06] nik9000 opened #63703 "Rate aggregation doesn't always use the right bucket size"
I was hacking on something vaguely related and ran into problems with the range aggregation calling `bucketSize` with a bucket that has never been collected. The "keyword sandwitch" test (yum) does this. It'll pass `bucket=2` when the rate only contains 2 buckets. I think it is picking up the bucket ordinal from its parent agg - a terms agg.

[2020-10-14 20:06] elasticmachine commented on #63703
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-10-14 20:11] PhaedrusTheGreek commented on #48058
The current workflow for investigating slow queries might be something like:

 1. Log to slow query log
 2. Try the query in the query profiler to find the slow functioning component.

 It would be helpful if there were some automated logging of why the query was slow such as:
   - indices stats / time spent in milliseconds on runtime fields, regex search, etc
   - slow query log that indicates so

[2020-10-14 20:16] #63131 closed

[2020-10-14 21:00] gwbrown commented on #61657
@williamrandolph and I have been working on this. Here's an update with our current plan:

System indices will be included in both snapshot creation and restoration if `include_global_state` is `true`, and will not be included if it is `false`. In both cases, this can be overridden by specifying a new field on the create/restore snapshot request, `feature_states` (name is not necessarily final), a

[2020-10-14 21:40] rjernst commented on #63697
I don't think `precommit` itself is a problem, but many (maybe most) of the precommit tasks we have are to ensure Elasticsearch coding guidelines. There are some, though, that are crucial for external plugin authors as well. For example, jarHell is important because it checks something we check at runtime when loading plugins. So if this task fails, the plugin would later fail anyways when run wit

[2020-10-14 21:57] thomasneirynck commented on #58696
cc @nknize

[2020-10-14 22:48] jtibshirani commented on #25168
I noticed that when using source filtering in `inner_hits`, we were reloading and reparsing the _source for each nested document. So we recently merged https://github.com/elastic/elasticsearch/pull/60494 to only load and parse the _source once per root document. This doesn't address the memory consumption of source filtering itself, but could help here (if I'm understanding the use case right).

[2020-10-14 23:06] jtibshirani opened #63709 "Finalize how search 'fields' option returns nested data."
Currently the 'fields' option has no special handling for nested fields -- it just returns them in a flat list (as it does for a non-nested object array):

[code]

This drops the relationship between nested fields and could be misleading about the search behavior. Instead we could return an object array, where each entry contains the fields for a nested document:

[code]

Yet another option would

[2020-10-14 23:06] elasticmachine commented on #63709
Pinging @elastic/es-search (:Search/Search)

[2020-10-15 04:05] zacharymorn commented on #51972
@jasontedor Is this issue still relevant? I had a PR opened in March earlier and closed in Aug due to merge conflict & I happened to be away. If this still needs to be worked upon, I can pick up the changes.

[2020-10-15 04:06] zacharymorn commented on #63530
Just a thought. Is it possible to do something similar to Java auto-boxing here? For example, when encountering definitions above

[code]

ES detects the potential collision and wrap things into "super type", and produce these internally:

[code]

and the translation between external and internal representation get encapsulated somewhere and hidden from the outside world?

[2020-10-15 06:53] Crab2died commented on #60712
@cbuescher Yes, it can still reproduce

[2020-10-15 07:08] SylvainJuge commented on #63530
Adding a suffix if there is a conflict was the initial idea we had as a work-around.

However, that assumes that metrics that conflict are always sent together, or in a specific order, and we can't guarantee that in the context of APM agents as there might be more than one agent sending such data.

If we can guarantee that sending both `metric.value` then `metric.value.max` independently and in an

[2020-10-15 07:53] zacharymorn commented on #63530
Hmm I see that's a good call out. What if ES suffix every field user defines, like such:

[code]

This basically cause every user defined field to be of object type, and thus order shouldn't matter?

[2020-10-15 08:09] elasticmachine commented on #60712
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-10-15 08:11] cbuescher commented on #60712
Thanks, I'm personally not sure if we support the way you are trying to build ES, but maybe somebody from @elastic/es-core-infra can check if this is a problem on our side or not.

[2020-10-15 08:13] romseygeek commented on #44701
Another one, this time on a PR: https://gradle-enterprise.elastic.co/s/aqyoafff2hhiy/console-log?task=:x-pack:plugin:core:test

[2020-10-15 08:44] tabbi opened #63717 "Restore Elasticsearch from snapshot, doesn't respect attributes in config"
**Elasticsearch version** (`7.4.0`):

**Plugins installed**: []

**JVM version** (`1.8.0`):

**OS version** (CentOS 7.8):

**Description of the problem including expected versus actual behavior**:
I have a 3 node ElasticSearch (V.7.4.0) Cluster, and i want to move data to new Elasticsearch cluster containing 5 nodes (3 master eligible, and 2 data nodes)
here is my old cluster overview

- ES01 (mas

[2020-10-15 09:05] pgomulka opened #63719 "FieldSortIT.testCastDate fails reproducibly"
**Build scan**:
https://gradle-enterprise.elastic.co/s/jtddpibu72kzs
**Repro line**:
./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.search.sort.FieldSortIT.testCastDate" -Dtests.seed=6F58A9AF4FD8005F -Dtests.security.manager=true -Dtests.locale=zh -Dtests.timezone=Asia/Qyzylorda -Druntime.java=11 -Dtests.fips.enabled=true
**Reproduces locally?**:
yes
**Applicable branches**:
ma

[2020-10-15 09:05] elasticmachine commented on #63719
Pinging @elastic/es-search (:Search/Search)

[2020-10-15 09:11] pgomulka commented on #63719
I have not investigated this from core/infra perspective yet, but looks like
            assertEquals(1712879236854775807L, hits.getAt(0).getSortValues()[0]);
is expected.
 That epoch milli is equal to `+54280952-03-25T07:12:55.807Z`

[2020-10-15 09:13] pgomulka commented on #63719
also the assertion seems to be almost right
[code]
somehow it is singular in the exception thrown
[code]

[2020-10-15 09:53] linwangolo commented on #19265
Hi,

I know that this issue was solved at #19337, but I still have exactly the same problem as the first comment.
I'm not sure if it is a problem of version. I'm using 7.6.1.
Hope someone can help. Thanks in advance.

[2020-10-15 10:38] bpintea commented on #30259
Closing as no longer applicable, please reopen on reoccurrence.

[2020-10-15 10:38] #30259 closed

[2020-10-15 10:40] anshul291995 opened #63724 "Modify task management API to have more filters"
We have a use case where we want to get the list/count of long running tasks on a node. Currently [task management API](https://www.elastic.co/guide/en/elasticsearch/reference/current/tasks.html) provides a way to get a list of tasks based on regex match on action.

Maybe the API can be modified to have more filters like on running_time_in_nanos. Also it should be possible to just get the count of

[2020-10-15 10:41] #58932 closed

[2020-10-15 10:43] #58923 closed

[2020-10-15 10:45] andreidan commented on #55313
I suspect it's the same cause as https://github.com/elastic/elasticsearch/issues/60520 for which I have a PR  https://github.com/elastic/elasticsearch/pull/63670 open to enhance the test logging.

[2020-10-15 11:07] immon opened #63730 "Too many docvalue_fields reported while there is less"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.9.2

**Plugins installed**: []

**JVM version** (`java -version`): bundled

**OS version** (`uname -a` if on a Unix-like system): Elastic Cloud

**Description of the problem including expected versus actual behavior**:

Search query requesting more `docvalue_fields` than index configured setting `max_docvalue_fields_search` throws an err

[2020-10-15 11:21] pgomulka commented on #52416
another failure https://gradle-enterprise.elastic.co/s/moy4dga4g5pyc

[2020-10-15 11:22] #63693 closed

[2020-10-15 11:38] SylvainJuge commented on #63530
Yes, but in that case, unless there is a way to make this transparent to the user, they will have to use `__long_value` to query their metrics.

[2020-10-15 12:30] mschultz995 commented on #63002
We enabled TRACE logging now. We'll let you know when there are relevant log messages.

Regarding your question @jaymode the cronjob does run this curl command `curl --max-time 15 -s http://"${elasticsearch_ipport}"/_cat/health` if that fails the script kills the Elasticsearch process with SIGKILL, and starts the service again using `systemctl`.

(SIGKILL is necessary because when Elasticsearch ha

[2020-10-15 13:05] vmanohar1 opened #63739 "Geospatial team: Option to return collection of split objects(lines/polygons) crossing dateline."
* Opening this feature request based on discussion with Nicholas Knize during the conference yesterday.
   * Currently, if a polygon crosses dateline (antimeridian) and if that polygon is used to find geo point locations (from an existing index) inside that polygon, my understanding is that elastic engine will split that polygon at the date line, do appropriate computation using BKD tree and then

[2020-10-15 13:20] matriv opened #63742 "EQL: Correctness test queryNo=10 fails"
[code]
The subqueries involved yield the correct number of events but the sequence query fails.
The query is currently commented out in the `queries.toml` of the `eql/qa/correctness` module on `master`, `7.x` and `7.10` branches.

[2020-10-15 13:20] elasticmachine commented on #63742
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-15 14:18] nik9000 opened #63747 "docs for upgrading with optimistic concurrency control"
I think it'd be cool if we had docs describing the process of upgrading from the cluster that used the old style "versioning" for optimistic concurrency control to one that uses `if_seq_no` and `if_primary_term`. Is it as simple as continuing to use the old optimistic concurrency control, upgrading the cluster, and then switching to the new one? What would that look like?

[2020-10-15 14:18] elasticmachine commented on #63747
Pinging @elastic/es-docs (>docs)

[2020-10-15 14:19] elasticmachine commented on #63739
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-10-15 14:31] sribharghava commented on #63747
thanks @nik9000 for the awesome help in the AMA booth.
It would be great if we have such a documentation explaining how to do such an upgrade if possible with no data loss/corruption and zero downtime.

[2020-10-15 14:36] yurafff commented on #63689
Is this task still relevant? I want to help with the implementation of this feature

[2020-10-15 15:28] alisonelizabeth opened #63754 "SLM policy unexpectedly executed twice"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.9

**Description of the problem including expected versus actual behavior**: A SLM policy is getting triggered twice at the same time daily.

Policy definition:

[code]

**Provide logs (if relevant)**:
[code]

Note that job `Daily-Snapshots-2` is triggered at 2020-10-09T19:29:59 and 2020-10-09T19:30:00.

[2020-10-15 15:28] jze1 opened #63755 "7.9.0: null_value set in legacy index template for type "ip" causes "java.lang.IllegalArgumentException: Mapper for [host_ip] conflicts with existing mapping""
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 7.9.0, Build: default/rpm/a479a2a7fce0389512d6a9361301708b92dff667/2020-08-11T21:36:48.204330Z, JVM: 11.0.4

**Plugins installed**: []

**JVM version** (`java -version`): openjdk version "11.0.4" 2019-07-16 LTS
OpenJDK Runtime Environment Corretto-11.0.4.11.1 (build 11.0.4+11-LTS)
OpenJDK 64-Bit Server VM Corretto-11.0.4.11.1 (bui

[2020-10-15 16:36] jguay commented on #30079
I would like to reopen as the doc bug still exists [here](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/field-and-document-access-control.html#templating-role-query).

Using example3 will return an error containing :
[code]

Example3 currently reads :
[code]

This should be replaced with :
[code]

[2020-10-15 16:37] jakelandis commented on #46107
Discussed this issue today and a few things have changed since initially logged.

* The deprecation logs are now (optionally) indexed
* The deprecation logs are indexed to a data stream using the ingest management 3-part-pattern.
* There are tentative plans to also index other stack products (kibana, beats, etc.) using the same strategy.

Given that one of motivating factors was that these were go

[2020-10-15 16:37] #46107 closed

[2020-10-15 16:39] jguay commented on #30079
Actually this works in 7.9.2 but gives a deprecation warning, this might need to be reviewed to find the right non-deprecated syntax, I am checking further

[2020-10-15 17:04] burnerlee commented on #63451
@tvernum i would like to start contributing to this project starting with this issue.. could you please guide a bit on how to start with getting familiar with your project

[2020-10-15 17:22] lockewritesdocs opened #63758 "[DOCS] Combine important config settings"
The current information for [important configuration settings](https://www.elastic.co/guide/en/elasticsearch/reference/current/important-settings.html) is spread across numerous pages. This information should be presented on a single page as a checklist, especially since our own guidance indicates that "the following settings must be considered before going to production."

[2020-10-15 17:22] elasticmachine commented on #63758
Pinging @elastic/es-docs (>docs)

[2020-10-15 17:51] nik9000 opened #63760 "Scripted metric broken for transport client < 7.8.0"
If you use a version of the transport client before 7.8.0 you bump into this code:
[code]

Because your transport client is before 7.8.0 you end up in the top branch of the if statement. Then, because the transport client receives fully reduced aggregations, `aggregation.size()` is exactly `1`. So you hit my exception about not supporting CCS. But of course, you aren't using CCS. Computers really

[2020-10-15 17:51] elasticmachine commented on #63760
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-10-15 18:23] travisestill opened #63763 "7.9 documentation for Configuring elasticsearch for SAML references the deprecated sp.acs endpoint."
**Details:**
The documentation found at https://www.elastic.co/guide/en/elasticsearch/reference/current/saml-guide-authentication.html states that the sp.acs value should be "https://kibana.example.com/api/security/v1/saml"

However, this endpoint was deprecated in 7.6 in favor of "https://kibana.example.com/api/security/saml/callback".
See: https://github.com/elastic/elasticsearch/blob/master/x-p

[2020-10-15 18:23] elasticmachine commented on #63763
Pinging @elastic/es-security (:Security/Authentication)

[2020-10-15 18:23] elasticmachine commented on #63763
Pinging @elastic/es-docs (>docs)

[2020-10-15 18:29] elasticmachine commented on #63730
Pinging @elastic/es-search (:Search/Search)

[2020-10-15 18:34] lockewritesdocs commented on #63525
#63106 already has a fix in place for this clarification.

Closed by #63016

[2020-10-15 18:38] #63525 closed

[2020-10-15 18:44] jrodewig commented on #30079
Thanks for reopening @jguay. You're right; it looks like the current snippet is missing some escaping in some form.

I'll test this out and open a PR to fix.

[2020-10-15 19:14] mayya-sharipova opened #63769 "distance_feature query incorrectly rounds up dates"
Steps to reproduce

[code]

For the query above, I would expect doc with id:1, to score most, but actually the score with doc id:2 scores most. Here are the results  that are currently produced:

[code]

This happens because we round up the `origin` date.  I wonder if we should round it down.

[2020-10-15 19:14] #63754 closed

[2020-10-15 19:14] elasticmachine commented on #63769
Pinging @elastic/es-search (:Search/Search)

[2020-10-15 19:22] jguay commented on #30079
@jrodewig

Yes you are right now I got it to work this way and this time no deprecation warning :
[code]

[2020-10-15 19:45] lipusz commented on #63760
Thanks for looking into this. On our side we are [fixing](https://issues.liferay.com/browse/LPS-120240)
it by bumping the client version to 7.9.0, however I thought you may want to fix this so I reported through your support.

Let me know if you need further information from us.

[2020-10-15 20:37] dforste commented on #20936
I would like to see this implemented as it seems to be a long standing issue that might be an easy fix. I would think there would be a couple ways of going about in fixing it:
1. Adding a query parameter to force a merge.
2. Adjust merging behavior to take into account the change in codec.

It may be the case the implementing number 2 would fix the issue without the need for a force parameter. It

[2020-10-15 21:04] #30079 closed

[2020-10-15 22:00] #63575 closed

[2020-10-15 22:50] #63203 closed

[2020-10-15 23:55] tvernum commented on #63763
I don't follow what you're describing here. The `elasticsearch-saml-metadata` command uses whatever is configured on the realm, it makes no assumptions about what those values should be, it simply relies on whatever is configured.

[2020-10-16 00:56] tvernum opened #63784 "Add KeyUsage, ExtendedKeyUsage, CipherSuite & Protocol to SSL diagnostics"
Per https://discuss.elastic.co/t/ldaps-and-chain-of-certificates/250724 it's possible to get an SSL failure & diagnostic when the cipher requires certain key usage that is not permitted by the certificate.

To assist in such diagnostics, it would be of assistance to print out the ceritficate's KeyUsage and the session's Cipher suite in the message.
While we're doing that, the cert's ExtendedKeyUsa

[2020-10-16 00:56] elasticmachine commented on #63784
Pinging @elastic/es-security (:Security/Network)

[2020-10-16 01:17] AGZain commented on #63784
I'd like to start contributing to this issue.
Any hints on which part of the code I should start with, for this issue?

[2020-10-16 05:12] zacharymorn commented on #63530
Yes exactly.

Just to be clear, what I meant above was that the user should use and see representation in the existing format

[code]

but internally these representations could be converted effectively into the following that's hidden from the user (hence the __xxx notation here)

[code]

I think since there's already some field process logic to handle the dotted field name to object conversion,

[2020-10-16 06:37] #63213 closed

[2020-10-16 07:07] wushuaiwangyin commented on #60493
I have the same problem。
max_ open_ scroll_ An error is reported when the context is changed to a large value。

log

{"statusCode":500,"error":"Internal Server Error","message":"[exception] Trying to create too many scroll contexts. Must be less than or equal to: [100000000]. This limit can be set by changing the [search.max_open_scroll_context] setting."}

[2020-10-16 07:12] #59685 closed

[2020-10-16 07:37] hendrikmuhs opened #63787 "[Transform] Continous transform failure when grouping dates using terms agg"
Originally reported on discuss: [discuss](https://discuss.elastic.co/t/next-checkpoint-progress-total-docs-remains-empty-after-first-checkpoint/251729/7)

**Affected versions**: 7.5 -

When dates are grouped as `terms` (exotic use case, normally dates are grouped using `date_histogram`), the field value that gets created in the transform destination index is a number:

expected: `"2020-10-16T07:27

[2020-10-16 07:37] elasticmachine commented on #63787
Pinging @elastic/ml-core (:ml/Transform)

[2020-10-16 08:42] original-brownbear commented on #63717
@tabbi

I'm not sure I understand this:

[code]

elastic-03 is in `zone2` according to your yml snippet and elastic-02 is in `zone1` so they're not in the same zone are they?

[2020-10-16 08:56] BigPandaToo opened #63792 "Followup for #62490 to address all the comments"
See https://github.com/elastic/elasticsearch/pull/62490#event-3884913243
for the last comments to address

[2020-10-16 09:13] #59061 closed

[2020-10-16 09:15] cocodroid commented on #25306
how to solve it?

[2020-10-16 09:19] diegomansua commented on #62273
@mayya-sharipova I was running some tests yesterday. And whereas it's true that `rank_features` can help, the problem I have is that I don't think it can replicate a characteristic that the `sparse_vector` datatype plus `cosineSimilaritySparse` function have: the cosine similarity of a document with itself is 1.

This is important to us because as I mentioned we were planning to use this in combin

[2020-10-16 09:31] andreidan opened #63793 "[CI] ForecastIT.testOverflowToDisk"
**Build scan**: https://gradle-enterprise.elastic.co/s/dakbqxzmvfxnm

**Repro line**:
[code]
**Reproduces locally?**: No

**Applicable branches**: 7.9 onwards

**Failure history**:

**Failure excerpt**:
[code]

[2020-10-16 09:31] elasticmachine commented on #63793
Pinging @elastic/ml-core (:ml)

[2020-10-16 09:53] droberts195 opened #63795 "[ML] Add a magic value for xpack.ml.max_machine_memory_percent"
At the moment `xpack.ml.max_machine_memory_percent` has to be set to a value between 5 and 200.

In some situations it would be easier for users to set it to a magic value meaning "use almost all the memory remaining after the JVM heap and core OS for ML native processes".  This setting would be useful for dedicated ML nodes where no other significant software is running on the machine.

For consi

[2020-10-16 09:53] elasticmachine commented on #63795
Pinging @elastic/ml-core (:ml)

[2020-10-16 09:59] pugnascotia commented on #62835
This is awkward for writing deprecation logs to a data stream, since that functionality expects the `logs-*-*` template to exist and relies on it.

[2020-10-16 09:59] paksboda commented on #56977
@williamrandolph
I am facing same issue and I applied your workaround but still its giving same error. Not sure what I am missing here as I can see system property properly appended and separated by semicolons in command line echo.

C:\Software\elasticsearch-7.7.0\bin>elasticsearch-service.bat install
Installing service      :  "elasticsearch-service-x64"
Using JAVA_HOME (64-bit):  "C:\Software\op

[2020-10-16 11:45] ruflin opened #63798 "[Feature] Document based ingest routing"
## Problem

On the Ingest side many different dataset are available. Today our story of building integrations assumes that a single source only produces one data streams. One log file contains the access logs for nginx and other one contains the error logs for nginx and they are not mixed. This allows us to send each to different data streams with a specific ingest pipeline which knows how to proc

[2020-10-16 12:28] cbuescher commented on #63730
I looked at the way we check the limit in `FetchDocValuesContext` and think we can check if the field is mapped for that particular index there.
I'll open a PR for discussion if this is the best way to fix this soon.

[2020-10-16 12:44] paksboda commented on #56977
@williamrandolph
I tried solution provided by @haedri in below issue and its working for me.
https://github.com/elastic/elasticsearch/issues/61333

[2020-10-16 13:04] hendrikmuhs opened #63801 "[Transform] Continuous: Optimize change collection for histogram"
#63315 introduced an optimization for `date_histogram` if the field used is different to the one used for `sync`.

In the same way `histogram` should be optimized.

![image](https://user-images.githubusercontent.com/7126422/96261396-b1705a80-0fc0-11eb-965f-155af5650d10.png)

[2020-10-16 13:04] elasticmachine commented on #63801
Pinging @elastic/ml-core (:ml/Transform)

[2020-10-16 13:21] tabbi commented on #63717
@original-brownbear you bro fu*k that, i'm dumb, sorry, i'm really sorry

[2020-10-16 13:21] #63717 closed

[2020-10-16 13:49] #63691 closed

[2020-10-16 14:01] mikeh-elastic opened #63808 "[DOCS] Document CCR nuances in rollover documentation for ILM"
The information contained on https://www.elastic.co/guide/en/elasticsearch/reference/current/ilm-rollover.html about how rollover and ccr followers is expected to behave would be a great addition to the concept page https://www.elastic.co/guide/en/elasticsearch/reference/current/index-rollover.html on rollover for ILM describing how the same ilm policy for rollover in both the leader and follower

[2020-10-16 14:28] travisestill commented on #63763
Hey @tvernum,

I didn't fully understand that part about the saml-elasticsearch-metadata script. That should have read that if the customer follows the details in github, then later references the official docs while troubleshooting, they might end up changing to the old endpoint unnecessarily as was the case with the customer.

But @jkakavas is spot on with his description as far as the root of t

[2020-10-16 15:04] dakrone commented on #62835
@pugnascotia we currently already have the setting (#63764 just makes it dynamic), so we cannot remove it, I would suggest maybe that the deprecation log data stream install its own template (with a more narrow index pattern and higher priority) so that it's independent of the stack templates

[2020-10-16 15:47] #63792 closed

[2020-10-16 16:07] cbuescher commented on #63719
Just see another one today:
https://gradle-enterprise.elastic.co/s/7xvxfqm7dglsc

gradlew ':server:internalClusterTest' --tests "org.elasticsearch.search.sort.FieldSortIT.testCastDate" \
  -Dtests.seed=D6B25B5CCFB81908 \
  -Dtests.security.manager=true \
  -Dtests.locale=fr \
  -Dtests.timezone=Etc/GMT+5 \
  -Druntime.java=11

'''
java.lang.AssertionError:
Expected: a string containing "are before

[2020-10-16 16:17] andreidan opened #63828 "[CI] JvmErgonomicsTests.testG1GOptionsForSmallHeapWhenTuningSet"
**Build scan**: https://gradle-enterprise.elastic.co/s/bl4o3pv3wfpia

**Repro line**:
[code]

**Reproduces locally?**: Yes

**Applicable branches**: 7.x

**Failure history**:

**Failure excerpt**:
[code]

[2020-10-16 16:17] elasticmachine commented on #63828
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-10-16 16:25] rylnd opened #63832 "EQL searches throw errors when filtered to no results"
When performing an EQL search, a query that includes a filter will generate an error if that filter reduces the result set to 0.

[code]

[2020-10-16 16:25] elasticmachine commented on #63832
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-16 16:25] #62835 closed

[2020-10-16 16:28] rjernst commented on #63828
@ebadyano Can you take a look at this?

[2020-10-16 17:02] rjernst commented on #62920
@howardhuanghua I don't think we would want such a flag. We always want validation. This is an edge case, but I'm hopeful we can find another solution. I've reached out to some other folks to solicit additional thoughts.

[2020-10-16 17:06] rjernst commented on #58075
As explained in the comment linked by Rory, we don't have any plans to fix this currently. The long term plan is to separate the java client so that it does not depend on the server jar, at which time we can evaluate adding tests for other client jvm scenarios like android. Given that, I hope you don't mind that I close this issue.

[2020-10-16 17:06] #58075 closed

[2020-10-16 17:22] rjernst commented on #63611
@breskeby Can you take a look at this? Seems it could be related to https://github.com/elastic/elasticsearch/issues/62716

[2020-10-16 18:06] wylieconlon opened #63842 "Response filtering using negative filter_path is removing too many fields by skipping empty arrays"
**Elasticsearch version** 8.0 snapshot

**Description of the problem including expected versus actual behavior**:

I am trying to [reduce the JSON payload from ES to Kibana by up to 50%](https://github.com/elastic/kibana/issues/80720). One part of this is that I'm trying to use a negative `filter_path` parameter to exclude one particular path, `-**.key_as_string`. The bug is that the response filt

[2020-10-16 18:06] elasticmachine commented on #63842
Pinging @elastic/es-core-infra (:Core/Infra/REST API)

[2020-10-16 18:15] wasserman opened #63843 "log4j2.properties should compress audit logs by default. maybe all logs."
When audit logs are enabled they can generate a lot of data.  We have been fighting with disk space issues regularly.  It seems like all logs should gzip in the rotation by default since it will create fires that people will respond to in various ways depending on their understanding of log4j or even Elastic.  Of course people need to adjust the logging to suite their needs, but a sane default wou

[2020-10-16 18:41] #63832 closed

[2020-10-16 18:44] ebadyano commented on #63828
Closed via #63835

[2020-10-16 18:44] #63828 closed

[2020-10-16 18:54] rjernst commented on #60712
@breskeby @mark-vieira Can either of you comment on this workflow?

[2020-10-16 18:57] mark-vieira commented on #60712
You mention a pretty old Gradle version, what branch/tag are you attempting to build?

[2020-10-16 18:59] foxgrover opened #63846 "Bulk requests of index requests for docs with join relationships errors with misleading message when missing the routing param"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.9.1

**Plugins installed**: []

**JVM version** (`java -version`): (build 1.8.0_241-b07) version 8 update 241

**OS version** (`uname -a` if on a Unix-like system):  OSX 10.14.6 uname -a output: 18.7.0 Darwin Kernel Version 18.7.0: Mon Aug 31 20:53:32 PDT 2020; root:xnu-4903.278.44~1/RELEASE_X86_64 x86_64

**Description of the problem in

[2020-10-16 20:28] rjernst commented on #60101
We've actually been testing SLES 15 since last year, and have now added it to our [official support matrix](https://www.elastic.co/support/matrix) for 7.9.x.

[2020-10-16 20:28] #60101 closed

[2020-10-16 20:42] ktate-suse commented on #60101
Thanks so much. Our mutual customer will be very happy!

[2020-10-16 20:48] Gunnerva opened #64669 "[DOCS] Document all possible logging options"
We should document the available loggers and their uses.

Examples:
logger.org.elasticsearch.common.NodeConnectionsService -- Supports: Info, Debug, Trace -- Purpose:  Useful for debugging if a node is having issues connecting to other nodes.

logger.org.elasticsearch.xpack.security.authc -- Supports: Info, Debug, Trace -- Purpose: Useful for troubleshooting authentication issues especially with L

[2020-10-16 20:51] #57305 closed

[2020-10-17 00:30] cjmcgraw commented on #63504
@cbuescher I will investigate this and get back to you. I was imagining it was more operator error than anything. Thanks for the information!

[2020-10-17 00:55] howardhuanghua commented on #62920
@rjernst thanks. Yes, this is an edge case, but if user got this case, it would be fatal, user cannot recover the cluster anymore. It's my pleasure to fix this issue if you could advise some better solutions.

[2020-10-17 03:34] rylnd opened #63855 "EQL: Error responses do not include `caused_by` fields"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.10BC2

When error responses are returned from EQL searches, they lack the `error.caused_by.type` and `error.caused_by.reason` fields that appear to be standard across elasticsearch error responses.

In practice, this means that the default [response error presentation](https://github.com/elastic/kibana/pull/70404) in kibana does not prov

[2020-10-17 03:34] elasticmachine commented on #63855
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-17 09:28] #62823 closed

[2020-10-17 10:50] dgieselaar opened #63857 "EQL Profile API"
It would be great to have a profile API for EQL searches, similar to [the Profile API available in a regular search request](https://www.elastic.co/guide/en/elasticsearch//reference/current/search-profile.html).

I'm not entirely sure what a EQL search profile should return. What would help me at least, is timings and request bodies of the underlying ES requests.

[2020-10-17 10:50] elasticmachine commented on #63857
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-17 16:28] elbembo commented on #57018
after try every thing from every where you are right

[2020-10-17 16:59] costin commented on #63855
EQL exceptions are Elasticsearch exceptions (both semantically and in terms of hierarchy) however that doesn't mean they should contain a `caused_by`. That is used when there's an underlying exception - in your example the date_histogram failed (top exception) because there was a parsing exception related to the timezone.
The verification exception in EQL doesn't have an underlying exception - it

[2020-10-17 23:19] somayaj commented on #63843
@wasserman can I work this?

[2020-10-18 06:31] BarshaR commented on #63451
First timer here - looking into this issue. Will reach out if I have any questions :)

[2020-10-18 14:11] wasserman commented on #63843
@somayaj I don't work for Elastic.  What are you asking?

[2020-10-18 14:15] somayaj commented on #63843
Can i make the change as documented on the issue and create the PR.

On Sun, Oct 18, 2020 at 9:11 AM wasserman <notifications@github.com> wrote:

[2020-10-19 03:04] rylnd commented on #63855
@costin thanks for the response, that's great information! It sounds like the logic in kibana could be more correct, then.

I wasn't able to find any current documentation on the structure of these error responses, however I tracked down what looks to be the [original PR for standardizing errors](https://github.com/elastic/elasticsearch/pull/10643), which then lead to this [subsequent PR in kibana

[2020-10-19 03:23] kevinblanca1 commented on #29561
Any updates on this issue ? Has this been fixed yet ?

[2020-10-19 07:24] DaveCTurner commented on #62920
You can recover from this in more recent versions using [`elasticsearch-node remove-settings`](https://www.elastic.co/guide/en/elasticsearch/reference/current/node-tool.html#_removing_persistent_cluster_settings) although that's not ideal.

I think it would be reasonable to allow removing the block and the archived settings in a single call. I don't think we should allow the two-step process propo

[2020-10-19 07:51] karlvignon commented on #25067
this is what solved the problem for me:

https://stackoverflow.com/questions/42889241/how-to-increase-vm-max-map-count

[2020-10-19 08:01] howardhuanghua commented on #62920
@DaveCTurner thanks for the suggestion. As far as I know, `archived` settings are coming from the duplicated settings during upgrading the cluster? User cannot set any `archived.*` settings? So the only case we set `archived.*` settings is to clean them? I mean user doesn't have any chance to set `archived.*` settings, so we could skip validation in `AbstractScopedSettings`?

If we still need to k

[2020-10-19 08:11] breskeby commented on #60712
I tried reproducing this on master with no luck (trying with java 11.0.8 hotspot). I mean I imported the certificate for plugins.gradle.org but build went well with resolving the Gradle Enterprise plugin from there. @cbuescher which branch you reproduced this problem on?

[2020-10-19 08:47] azasypkin commented on #59685
Thanks for improving this @BigPandaToo ! Filed a Kibana issue to leverage this on our side: https://github.com/elastic/kibana/issues/80952.

[2020-10-19 08:49] elasticmachine commented on #63798
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-10-19 09:14] pugnascotia opened #63869 "Make docker pull more robust"
The Elasticsearch `Dockerfile` tries to make network operations more robust in case of transient problems by retrying e.g. `wget` or `yum` in a loop. However, the ES build process doesn't have any such retry mechanism around pulling Docker images in the first place. We need to rework the build to explicitly pull the requires images, and add a retry loop in case of failure.

[2020-10-19 09:17] #48941 closed

[2020-10-19 09:23] breskeby commented on #62716
turns out the change above didn't fix the issue and instead caused https://github.com/elastic/elasticsearch/issues/63611 because I mixed up `-XX:-UseConcMarkSweepGC` with -XX:+UseConcMarkSweepGC

I try again these days to narrow down which bwc test combination causes this issue as I haven't found anything obvious in our Elasticsearch build setup.

[2020-10-19 09:24] breskeby commented on #63611
I provided a PR with a fix and a further explanation at https://github.com/elastic/infra/pull/24210 basically `mea culpa` as this issue was introduced by myself by trying to fix #62716

[2020-10-19 09:41] peterpramb opened #63870 "Hot certificate reload aborted on initial file access failure"
**Elasticsearch version**:
[code]

**Plugins installed**:
[code]

**JVM version**:
[code]

**OS version**:
[code]

**Description of the problem including expected versus actual behavior**:
When the file monitor detects a change in the certificate files, it triggers a hot reload. Unfortunately due to the way how our certificate files are deployed, it will initially not be readable by the process, w

[2020-10-19 10:02] breskeby commented on #62716
@droberts195 I think your initial analysis is correct. What seem to happen is that bwc tests indeed use the bundled jdk and tests against latest master use the declared runtime jdk (which is currently 11 for master).

The reason you cannot reproduce this failure locally is that the failing CI job declares additional jvm arguments. By passing

`-Dtests.jvm.argline="-XX-UseConcMarkSweepGC -XX:-UseSe

[2020-10-19 10:10] P1llus commented on #63458
Using yyyy resolved the issue indeed @gaobinlong , thanks for the pointer there! Will take a look at the bug you mentioned and see if we should keep this issue open.

[2020-10-19 10:11] hendrikmuhs opened #63871 "[Transform] Transform fails for unsigned long fields"
https://github.com/elastic/elasticsearch/pull/60050 introduced a new field type `unsigned_long`. Transform fails in certain combinations if the source index uses a field mapped to `unsigned_long`.

Repro steps:

[code]

failure:

[code]

Root cause: Transform indexes the output as string as it does not know that `unsigned_long` is a numeric type, which is due to the addition of `unsigned_long` as

[2020-10-19 10:12] elasticmachine commented on #63871
Pinging @elastic/ml-core (:ml/Transform)

[2020-10-19 10:47] chingis-elastic opened #63872 "Self-adjusting shard count and rollover size in ILM policies to cluster size"
We are managing hundreds of 7.8 ES clusters of different sizes (from 3 to 90 data nodes) for various purposes. To simplify configuration management, we store all configuration in one place and apply it to all clusters. This creates dis-balance for certain parameters which require absolute values, like `index.settings.number_of_shards` or `policy.phases.hot.actions.rollover.max_size`. We ended up w

[2020-10-19 11:13] martijnvg commented on #59195
I think this is something that we can pickup in the near future.

When a data stream is created then custom data stream metadata should be sourced from the matching composable index template and be added to the data stream under the `_meta` key. This custom metadata can then be retrieved via the get data stream api.

I do have a question about from where the data stream custom metadata is sourced.

[2020-10-19 11:41] pgomulka commented on #63458
I think the bug is valid. I thought I fixed this in https://github.com/elastic/elasticsearch/pull/51215 but I missed this use case.
I will work on it

[2020-10-19 12:07] spinscale opened #63875 "Scripting: Outdated date deprecation message for dayOfWeek"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.9.2

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

[code]

This returns the following deprecation message

[code]

As this is version 7 and the `dayOfWeek()` is still an integer, this message is confusing for users. You can verify via `Debug.explain()`

[code]

[2020-10-19 12:37] DisasteR opened #63877 "Index Lifecycle Allocation Routed Step failing with NullPtrException"
**Elasticsearch version** (`bin/elasticsearch --version`):

[code]

**Plugins installed**: []

**JVM version** (`java -version`):

[code]

**OS version** (`uname -a` if on a Unix-like system):

[code]

**Description of the problem including expected versus actual behavior**:

Following https://discuss.elastic.co/t/index-lifecycle-allocation-routed-step-failing-with-nullptrexception/252331 i open a

[2020-10-19 13:54] jrodewig opened #63882 "Document data storage architecture options for Elasticsearch"
A solutions engineer requested we add content from the following blog post to the docs:
https://www.elastic.co/blog/how-to-design-your-elasticsearch-data-storage-architecture-for-scale

The post outlines some options for architecting on-prem data storage for Elasticsearch. Moving this content over to our documentation would make it easier for the team to maintain the recommendations and make chang

[2020-10-19 13:55] elasticmachine commented on #63882
Pinging @elastic/es-docs (>docs)

[2020-10-19 14:02] #63758 closed

[2020-10-19 14:08] Mpdreamz opened #63885 "security.clear_api_key_cache does not document all routes."
The tests for `security.clear_api_key_cache` seems to indicate that `ids` is optional by allowing to pass an empty string `""` for ids.

https://github.com/elastic/elasticsearch/blob/7.10/x-pack/plugin/src/test/resources/rest-api-spec/test/api_key/10_basic.yml#L197-L198

And therefor the tests assumes whatever builds the url will happily build `/_security/api_key//_clear_cache`.

This is true for

[2020-10-19 14:21] sabiya commented on #63527
@homersimpsons I am interested to pick this.
Can I start to work on this?

[2020-10-19 14:59] homersimpsons commented on #63527
@sabiya I am sorry I was just mentioning the issue, I do not know if the search Team is willing to make this change...

[2020-10-19 15:09] astefan commented on #58471
Hi @keremh , thank you for your interest in helping out with this gh issue. There is a [PR already opened](https://github.com/elastic/elasticsearch/pull/60524) for this which is waiting on bwc tests to be complete and further merged in `master` afterwards.

[2020-10-19 15:16] pugnascotia commented on #61656
I spent a while looking for prior art in the codebase, and the closest thing seems to be `IndexTemplateRegistry`. Most of that class concerns templates and policies, but its cluster state listener implements logic to look for required templates, and loads them if they are missing. We can build something similar for system indices, taking as much care as we can to check that the cluster is in a sui

[2020-10-19 15:36] elasticmachine commented on #63561
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-19 15:39] jaymode commented on #61656
There is also a `MetadataIndexTemplateService` that we should look at as a prior art. I think we can model something after either one to pre-create the system indices. (An aside, at some point I'd like to only have a single implementation for index template installation and upgrades).

[2020-10-19 15:45] chrisronline commented on #50032
Just to confirm here, we are planning to add this:

right?

[2020-10-19 15:46] astefan commented on #63561
@ywangd @albertzaharovits thank you for your input on this issue. Following your comments and further investigation I'm closing this issue and conclude the following:
- [`allow_no_indices` options has been changed to be `true` by default in EQL](https://github.com/elastic/elasticsearch/pull/63573) but it's still possible to have it changed by users
- EQL expectation and `allow_no_indices` behavior

[2020-10-19 15:46] #63561 closed

[2020-10-19 15:46] elasticmachine commented on #63529
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-19 15:48] droberts195 opened #63888 "[ML] Notifications index mappings don't have ignore_above on message.raw multi-field"
The mappings for the `.ml-notifications*` and `.transform-notifications*` indices contain this:

[code]

Because there is no `ignore_above` on the `keyword` multi-field, we are vulnerable to errors like `Document contains at least one immense term in field="message.raw" (whose UTF8 encoding is longer than the max length 32766), all of which were skipped. Please correct the analyzer to not produce

[2020-10-19 15:48] elasticmachine commented on #63888
Pinging @elastic/ml-core (:ml)

[2020-10-19 15:48] elasticmachine commented on #63888
Pinging @elastic/ml-core (:ml/Transform)

[2020-10-19 15:49] astefan commented on #63529
[As mentioned in a different GH issue](https://github.com/elastic/elasticsearch/issues/63561#issuecomment-712256782) touching the same area as this issue, I understand the meaning of `*, -*` and the reasons behind Security using it. I will follow up with a PR to have the original pattern in the error message provided by EQL. Assigned myself this issue.

[2020-10-19 16:03] pugnascotia opened #63889 "Support hidden data streams"
Following #61484, we should looking into making it possible to mark data streams as hidden, and possibly allowing them to start with a period. This would be very helpful where Elastic Stack components needs to write to their own data streams.

[2020-10-19 16:03] elasticmachine commented on #63889
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-10-19 16:41] swallez opened #63893 "Update semantics or definition of `case_insensitive` in term queries"
PR https://github.com/elastic/elasticsearch/pull/61596 added a new `case_insensitive` boolean flag to term queries. This is a boolean flag that can only be set to `true`, which is rather unusual.

After talking to @markharwood it turns out the semantics of this flag is as follows:
- not set: uses the field's definition (which may or not include lowercase normalization)
- set to `true`: case insens

[2020-10-19 16:41] elasticmachine commented on #63893
Pinging @elastic/es-search (:Search/Search)

[2020-10-19 16:59] elasticmachine commented on #63885
Pinging @elastic/es-security (:Security/Authentication)

[2020-10-19 16:59] elasticmachine commented on #63877
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-10-19 17:00] elasticmachine commented on #63875
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-10-19 17:01] elasticmachine commented on #63870
Pinging @elastic/es-security (:Security/Security)

[2020-10-19 17:12] #63760 closed

[2020-10-19 17:19] rjernst commented on #62716
@breskeby I think we should consider working on a long-outstanding issue, to utilize our official jvm options within gradle. This is partially described in https://github.com/elastic/elasticsearch/issues/32257. The jvm options already have version specific options. If we can move the specification into gradle as that issue describes, great, but we could also look at other ways to utilize the exist

[2020-10-19 17:24] rjernst commented on #63875
This is a side effect of not finishing the migration from joda to java. The joda/java bwc layer is still in place in 7.x, but was originally intended to be removed in 7.0. We should now target removal for 8.0.

[2020-10-19 17:34] pawankt opened #63895 "Advanced templates default not giving admin user access"
Hi,

Although we have xpack admin access, creating advance templates in 7.8 using _component_template and  _index_template failing, where legacy templates using _template api working. Please have look and assist.

``
{
  "error" : {
    "root_cause" : [
      {
        "type" : "security_exception",
        "reason" : "action [cluster:admin/component_template/put] is unauthorized
}
``

[2020-10-19 17:36] pawankt commented on #63895
Recreate issue
- Create templates using https://www.elastic.co/guide/en/elasticsearch/reference/7.8/index-templates.html
- Ensure user account posting api have admin access to cluster with all roles
- API Put with _component and _index_templates

[2020-10-19 17:43] breskeby commented on #62716
Ah nice. Thanks for the pointer @rjernst wasn't aware of that issue

[2020-10-19 17:46] wylieconlon opened #63898 "Option to remove key_as_string from aggregation response"
Formatted keys are not always needed when the original value is used by client code, but are always returned. If there were an option to remove the formatted values then we could reduce the total response size of ES queries by going from this type of response:

[code]

to this:

[code]
{
  ...
  "aggregations": {
    "sales_over_time": {
      "buckets": [
        {
          "key": 1420070400000,

[2020-10-19 17:46] elasticmachine commented on #63898
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-10-19 18:20] rjernst opened #63900 "Test on JDK 16 EA"
We need to add testing in CI for JDK 16 EA releases. We should also document the process, so that in the future when a JDK is released, we have a process for not only bumping the bundled jdk, but also adding the next EA release.

[2020-10-19 18:20] elasticmachine commented on #63900
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-10-19 18:21] lockewritesdocs opened #63901 "[DOCS] Nest clone snapshot API page with other APIs"
#61839 introduced the [Clone snapshot API](https://www.elastic.co/guide/en/elasticsearch/reference/master/clone-snapshot-api.html). That page should be moved under the [Snapshot and restore REST APIs](https://www.elastic.co/guide/en/elasticsearch/reference/master/snapshot-restore-apis.html) section to nest with the other snapshot and restore APIs.

[2020-10-19 18:21] elasticmachine commented on #63901
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-19 18:21] elasticmachine commented on #63901
Pinging @elastic/es-docs (>docs)

[2020-10-19 19:01] jamshid commented on #50631
FWIW I ran into similar problems because a elasticsearch 5.6 version of /etc/sysconfig/elasticsearch (which does not have ES_PATH_CONF) was placed into an elasticsearch 6.8 install. Upgrading to 7.5.2 reported a lot of errors and I had to manually fix the keystore.

[2020-10-19 20:37] hamishforbes commented on #52625
Has there been any progress on this issue?
I've not been able to get Elasticsearch 7.9.2 to use EKS IAM roles for S3 snaps even though the pod is correctly authenticated.

I'd very much like to not have to inject static credentials as this would be a step backwards from my current non-k8s deployment.
So far elasticsearch seems to be the only application i've found that doesn't correctly support we

[2020-10-19 22:14] ywangd commented on #63870
For unix like system, file permission change is a metadata change and updates `ctime`. The certificate reloading code checks last modified time (`mtime`). Hence the reload will not be triggered by just a permission change. One way to make this work is to touch the certificate file after permission change, i.e. `touch /path/to/server.crt`, to update the last modified time.

Java does not provide a

[2020-10-20 02:02] srpgit commented on #28946
Our team encountered this problem. We're using version 7.6. Is there any chance to set 'maxLoopCounter '?

[2020-10-20 03:39] adamrizky349 commented on #25505
thank uuu

[2020-10-20 04:26] ywangd commented on #63885
Hi @Mpdreamz as you have noticed, the double slash pattern was added there following existing pattern in the code. @albertzaharovits and I did have brief discussion about adding support for the single slash version. But we haven't come to a conclusion yet. Let me discuss this with the team and come back to you.

[2020-10-20 05:24] alishahusain commented on #63898
I'm a first time contributor to this project and would like to take on this issue

[2020-10-20 05:49] getsaurabh02 commented on #59116
Hi @tbrooks8 Can you please share your thoughts around the proposal here. Let me know if you would want to have more details around the implementation.

[2020-10-20 06:53] peterpramb commented on #63870
Good hint, thanks! A `touch` really triggers the reload again.

So the real issue (when I got it right) is that the file monitor triggers a reload in the corresponding subsystem, but is not aware (or ignores) the fact that the reload actually failed, so it can't trigger it again.

[2020-10-20 07:03] ywangd commented on #63870
Reload was never triggered before you `touch` the certificate file. Changes to file permission do *not* trigger reload (because it does not change the file's lastModifiedTime).

[2020-10-20 07:49] DaveCTurner commented on #62920
I think I don't fully understand your proposed changes to the validation. You seem to be suggesting skipping all validation of archived settings, which is definitely unacceptable: it's deliberate that you cannot do anything in the cluster until you clear the archived settings to acknowledge that they are no longer in force. You also cannot do anything in the cluster until you remove any read-only

[2020-10-20 07:54] javanna commented on #63898
Just an idea: would it make sense to implement this based on the human flag that every API already supports?

[2020-10-20 08:18] peterpramb commented on #63870
I was talking about the initial reload failure. The following sequence, as described above:

1. Deploy new certificate file -> reload failed due to file permissions
2. Fix certificate file permissions -> no further reload

It's clear now that (2) will not trigger a reload as the `mtime` of the certificate file does not change.

But this does not explain why (1) triggered the reload only once, with

[2020-10-20 08:31] ywangd commented on #63870
Sorry I see what you mean now. You are right that the reload will not be retried. When reload is triggered, it first updates its record of lastModifiedTime to that of the file. It then does the actual reload. So regardless of whether the actual reload is successful or not, the lastModifiedTime record is already updated and hence will not reload again until the file gets updated again.

[2020-10-20 08:50] javanna commented on #63842
I briefly looked into this. Response filtering is known not to preserve empty objects and arrays, unfortunately, since it has been supported in Elasticsearch. I also find it counter intuitive. The reason for this is that this is how the library that we use to parse json (and other formats) implements filtering: only when there is a value, it checks if the property needs to be added.

[2020-10-20 09:25] somdevmehta commented on #23796
Hey @javanna , Thanks for your reply. The problem I see while including the parent attribute ("array" in above case) in _source is that it will cause a lot of unnecessary attributes to appear in response. In my example, assuming that every array element is a JSONObject with 50 + attributes each, then all of these will be returned in the response, even though only 1 or 2 are actually needed. Also,

[2020-10-20 09:33] henningandersen opened #63915 "Searchable snapshots may block transport thread during can_match"
A searchable snapshot shard is started before all data reside on disk. Searches can hit the shard in this state, including the `can_match` phase of a search. The `can_match` phase runs on the transport thread. In case data required by the `can_match` request/action is not available on local disk, the current implementation will block while reading the data from either the cache-index or the blob s

[2020-10-20 09:33] elasticmachine commented on #63915
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-20 09:36] javanna commented on #23796
you are right thanks for the feedback @somdevmehta would you mind opening a new issue to track this please?

[2020-10-20 09:36] pugnascotia commented on #61656
It's a shame we don't have a single implementation for creating templates - I have some experimental code to declare which templates a system index relies upon, wait until they exist, and then create the system index. However that doesn't work for e.g. `.async-search` because that index is created programmatically, including settings and mappings.

[2020-10-20 10:03] iverase opened #63918 "CoordinatorTests.testUnresponsiveLeaderDetectedEventually reproducible failure:"
This fail in one PR but I seem to be able to reproduce it in master.

**Build scan**:

https://gradle-enterprise.elastic.co/s/d5pmmsn5fz3bi

**Repro line**:

[code]
**Reproduces locally?**:

yes

**Applicable branches**:

Only tried on master

**Failure history**:

Seems not to have fail in a long time.

**Failure excerpt**:

[code]

[2020-10-20 10:03] elasticmachine commented on #63918
Pinging @elastic/es-distributed (:Distributed/Cluster Coordination)

[2020-10-20 11:03] DaveCTurner opened #63924 "JdbcPreparedStatementTests#testSettingSqlDateValues failed with a 1-hour discrepancy"
**Build scan**:

https://gradle-enterprise.elastic.co/s/dxvxj6pzgjjua/console-log?task=:x-pack:plugin:sql:jdbc:test

**Repro line**:

`REPRODUCE WITH: ./gradlew ':x-pack:plugin:sql:jdbc:test' --tests "org.elasticsearch.xpack.sql.jdbc.JdbcPreparedStatementTests.testSettingSqlDateValues" -Dtests.seed=3218B3C41ADF034E -Dtests.security.manager=true -Dtests.locale=sl-SI -Dtests.timezone=AST -Druntime.j

[2020-10-20 11:03] elasticmachine commented on #63924
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-10-20 11:05] iverase opened #63925 "AggregationsTests.testFromXContentWithRandomFields reproducible failure"
This test failed on a PR but it seems it has started today.

**Build scan**:

https://gradle-enterprise.elastic.co/s/drlszluma2dvc (different to the report failure)

**Repro line**:

[code]

**Reproduces locally?**:

yes

**Applicable branches**:

Only tried in master

**Failure history**:

It seems this test start failing today

**Failure excerpt**:

[code]

[2020-10-20 11:05] elasticmachine commented on #63925
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-10-20 11:12] DaveCTurner opened #63927 "EQL correctness tests failing on 7.9"
**Build scan**:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.9+eql-correctness-tests/12/console

**Repro line**:

Not given.

**Reproduces locally?**:

Not sure how to try. Looks to be CI-environment-related?

**Applicable branches**:

7.9

**Failure history**:

[Build stats](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:n

[2020-10-20 11:12] elasticmachine commented on #63927
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-20 11:18] DaveCTurner commented on #63925
Also https://gradle-enterprise.elastic.co/s/drlszluma2dvc for a similar-looking failure (of a slightly different test) on master, which also reproduces for me.

`2> REPRODUCE WITH: ./gradlew ':server:test' --tests "org.elasticsearch.search.aggregations.AggregationsTests.testFromXContent" -Dtests.seed=40BB346BC1056C42 -Dtests.security.manager=true -Dtests.jvm.argline="-XX:-UseConcMarkSweepGC -XX:-U

[2020-10-20 11:26] romseygeek commented on #63527
@homersimpsons thanks for opening the issue.  We think this is a reasonable change to make, please feel free to work on it @sabiya .

The important thing to do here will be to ensure that we maintain backwards compatibility.  The simplest way forward I think will be to change the QuerySpec registration for this query to use a ParseField rather than a String for the name, and set things up so that

[2020-10-20 11:32] matriv commented on #63927
@mark-vieira Could you please check that?
As discussed is shouldn't be enabled for 7.9, but from 7.10 onwards (currently 7.10, 7.x and master).

[2020-10-20 11:53] peterpramb commented on #63870
Ok, thanks for clarifying.

Would it be possible to change this behaviour? I would imagine that the same issue occurs when the certificate file is not atomically modified in place (not tested though).

[2020-10-20 11:55] phlegx commented on #49392
@reighnman is right. I'm still wondering how other people with the current ILM rollover features are able to estimate the disk space.

One quick workaround for now could be to check the disk space and if disk becomes too full to start a script that deletes all indices but last 10 or so.

[2020-10-20 11:56] original-brownbear commented on #63918
@DaveCTurner or @fcofdez I think this needs a look from one of you. I must admit I don't fully understand how https://github.com/elastic/elasticsearch/pull/62954 actually drains all the disruptions to begin with (all the `rarely()` restarting and disconnecting confuses me) so I'd just be guessing here :)

[2020-10-20 12:00] markharwood commented on #63893
Following up on our discussion - we agreed to keep the `case_insensitive` boolean setting but remove the error when set to false.  Proposed documentation for the setting in various queries is:

    (Optional, boolean) allows case insensitive matching of the regular expression
    value with the indexed field values when set to true. Default is false which means
    the case sensitivity of matching

[2020-10-20 12:06] swallez commented on #63893
Sounds good. Should we be a bit more specific about `field's behaviour` so that users understand where that behaviour is defined? Like `field's behaviour (analyzers and normalizers)` (not sure these words are formally correct though).

[2020-10-20 12:08] astefan commented on #63855
@rylnd I don't think the response message format is documented, or at least I couldn't find this info. Maybe a question better asked to the wider Elasticsearch team. I see a tangential mentioning in the "Common options" docs page: https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.html#common-options-error-options.

Regarding the structure of the error message, an Elast

[2020-10-20 12:15] dimitris-athanasiou commented on #59413
Just got another failure of this https://gradle-enterprise.elastic.co/s/ewvxfv7u2k5zs.

@tveasey @valeriy42 It seems it's somehow possible we get no feature importance in that test. This seems like it shouldn't be happening, right? Let me know if I can help explain the test so we figure out what causes it.

[2020-10-20 12:31] DaveCTurner commented on #63918
Thanks @fcofdez; FWIW I don't think this is to do with #62954. It stabilises ok, then calls `originalLeader.blackhole()`, then does another `stabilise()` (without a `runRandomly()`) and it's this second stabilisation that's failing apparently because the new leader is still waiting for a response from the original leader before applying its cluster state.

The problem seems to be that the election

[2020-10-20 12:41] nik9000 commented on #63925
Sorry about this! I'm sure I must have broken this in #63821.

[2020-10-20 12:45] #63901 closed

[2020-10-20 12:47] nik9000 commented on #63925
I lucked into not hitting this error when I first wrote the new tests but the backport bumped into it!
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-1/10574/testReport/junit/org.elasticsearch.action.search/SearchResponseTests/testFromXContentWithFailures/

[2020-10-20 12:51] nik9000 commented on #63898
I think that'd be breaking change. Its a good idea though!

It looks like we always have a guard for emitting these like `if format != RAW {b.field("key_as_string", format.format(key)}`. Maybe we already support this and you just have to request the raw format everywhere? I'm not sure if there is a way to request the raw format everywhere though. I'm willing to bet some of those guards were just c

[2020-10-20 13:07] javanna commented on #63898
I see, because the human flag has a global default which is `false` and that would change the default behaviour of aggs.

[2020-10-20 13:12] yuliacech commented on #59195
Hi @martijnvg, thanks a lot for getting back to me on this!
I can tell that in Index Management we want to show which data streams are managed by Ingest Manager, so probably using `"managed_by"`and `"managed"`keys. Currently, `"package"` is probably not needed but might be in the future for more info in the UI.
There is no UI for updating data stream at the moment, not sure about planning for it t

[2020-10-20 13:29] markharwood commented on #63893
It becomes an "it depends" answer which goes beyond choice of analyzers and unfortunately includes choice of fields.
Given an identically normalised `text` and `keyword` field (eg lowercased) then:
* a `term` query for `fOo` on the `text` field will NOT match original document value `Foo`
* a `term` query for `fOo` on the `keyword` field WILL match original document value `Foo`

That's probably mo

[2020-10-20 13:44] martijnvg commented on #59195
@yuliacech Besides the mentioned keys, would it be okay if other keys also appear on a data stream? More specifically i'm wondering whether there is a need for custom meta keys to only be associated with a data stream or if it is okay if all custom meta data keys from the composable template appear on a data stream and in other places.

[2020-10-20 13:57] not-napoleon commented on #63719
I saw this fail on a community PR I'm reviewing:
https://gradle-enterprise.elastic.co/s/dbjq6ynusikvs

[code]

It did not reproduce locally against master for me with that command.

[2020-10-20 14:07] astefan commented on #63709
That's a difficult choice to make. I think I understand the reason behind returning nested documents in a more hierarchical way (one nested field might be missing a value, for example, and the array of values for that nested field doesn't shed any light into which nested document is the one that has the missing value) but at the same time one would argue that the format the nested documents are re

[2020-10-20 14:08] yuliacech commented on #59195
@martijnvg additional keys should not be a problem for UI, I think we can safely ignore them and only use the ones for managed info.

[2020-10-20 14:38] martijnvg commented on #59195
@yuliacech that is good to know. That will simplify the change that we need to make.

[2020-10-20 14:40] graphaelli commented on #59763
The initial implementation was reverted, should this be reopened or is there a new issue to track now?

[2020-10-20 14:59] #63925 closed

[2020-10-20 15:17] AkshataJ96 commented on #63898
Hi @wylieconlon @javanna ,
I can see that there are too many references for "key_as_string".
Can you give me start points so that i can look further into this?

[2020-10-20 15:19] wylieconlon commented on #63842
@javanna Thanks for the context. Are you saying we should document the existing behavior instead of changing it?

[2020-10-20 15:32] mcpate commented on #63872
I would be very curious to hear from the ES team on whether this request is realistic and if so what the timeline might look like.

[2020-10-20 15:39] jimczi commented on #63893
The problem you outlined is more a discrepancy that we have in the term-based queries since we don't apply normalization on text field whereas we do on keyword fields. So IMO we should apply normalization all the time to make the behavior consistent and change the documentation of the case_insensitive option to `matching depends on the underlying field's normalization` ?

[2020-10-20 15:45] DaveCTurner commented on #55816
Another: https://gradle-enterprise.elastic.co/s/tasx7lzui3vgs/console-log?task=:x-pack:plugin:security:internalClusterTest

[2020-10-20 15:51] javanna commented on #63842
@wylieconlon not sure yet, I don't think my quick analysis is enough to get to a conclusion, but I wanted to point out that this may seem an easy bug to fix at first glance but it is not in practice. If all you'd need response filtering for is trimming down aggregations response is #63898 , which seems doable and also cleaner.

[2020-10-20 16:11] DaveCTurner opened #63948 "AsyncSearchActionIT.testRetryVersionConflict fails"
**Build scan**:

https://gradle-enterprise.elastic.co/s/xbsokeqogmz4e/console-log?task=:x-pack:plugin:async-search:internalClusterTest

**Repro line**:

`REPRODUCE WITH: ./gradlew ':x-pack:plugin:async-search:internalClusterTest' --tests "org.elasticsearch.xpack.search.AsyncSearchActionIT.testRetryVersionConflict" -Dtests.seed=69CB029E447B660 -Dtests.security.manager=true -Dtests.locale=be -Dtests

[2020-10-20 16:11] elasticmachine commented on #63948
Pinging @elastic/es-search (:Search/Search)

[2020-10-20 16:44] mark-vieira commented on #63927
I have a PR open to disable this on the 7.9 branch.

https://github.com/elastic/infra/pull/24233/files#diff-301b6b3f9d09d3ef2dfc20617f8d277ee6de57a2c2ff67dc8ec9dde1ff3916d7R230

[2020-10-20 16:55] markharwood commented on #63893
Obviously for another issue. We closed [this keyword issue with that comment](https://github.com/elastic/elasticsearch/issues/25487#issuecomment-646237233) about addressing it in future.

[2020-10-20 17:42] adoerrES opened #63953 "Document how to update existing TLS certificates in a cluster"
Users may ask what the correct steps are to update existing TLS certificates in an Elasticsearch, for example:

- does it require a full-cluster or rolling restart?
- can certificates just be updated in place?
- does the process change if Certificate Authority (CA) certificates are updated in addition to the individual node certificates?

Some of this guidance is captured in the following discussi

[2020-10-20 17:42] elasticmachine commented on #63953
Pinging @elastic/es-security (:Security/Network)

[2020-10-20 17:42] elasticmachine commented on #63953
Pinging @elastic/es-docs (>docs)

[2020-10-20 18:16] #63871 closed

[2020-10-20 18:30] FrankHassanabad commented on #53110
Any updates on this?

We are up against some thorny issues on Security Solutions where we are trying to roll over our alerting/signals index and we would like the existing user to be able to just read the index templates rather than have `manage_index_templates`

[2020-10-20 18:35] nik9000 commented on #60954
I believe I fixed this with #60991.

[2020-10-20 18:35] #60954 closed

[2020-10-20 19:34] nik9000 commented on #63719
There seems to be a timing issue here. If I add the seed to the test and debug into the method and take my time when I step over stuff it works. But if I just run it then it doesn't.

[2020-10-20 19:45] nik9000 commented on #63719
I think this comes because the "bottom" sort values from other shards are in millis and the field that has nanos gets confused.

[2020-10-20 19:56] jkakavas commented on #55816
The new failures in 7.x are not the same as before

failure is
[code]
with repro line

[code]
and the actual exception that triggers the assertion error is

[code]

[2020-10-20 20:25] jkakavas commented on #55816
@BigPandaToo this seems to [have started failing](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:testRefreshingMultipleTimesWithinWindowSucceeds),sort:!(time,desc))) after you merged [this PR](https://github.

[2020-10-20 20:51] cjcenizal commented on #59195
I'm not aware of a need at this time.

[2020-10-20 21:17] mark-vieira commented on #63927
That PR has been merged so this job is now a no-op on 7.9.

[2020-10-20 21:17] #63927 closed

[2020-10-21 02:34] ywangd commented on #55816
#62490 did introduce a new behaviour for token refresh. Once a token is successfully refreshed, it immediately authenticates with the returned access token to get the authentication object of the token:
https://github.com/elastic/elasticsearch/blob/b6db0942abe27e65e46f165a81a59f7016bb126e/x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/token/TransportRefreshTokenAction

[2020-10-21 03:49] wushuaiwangyin commented on #56202
This is a bug. Openscrollcontexts is used to control the maximum scroll context. But by accessing the "_nodes/ data:true/stats/indices/search" get open_context does not reach the limit, which can be modified“ search.max_open_scroll_context "to the maximum value of int.

[2020-10-21 03:50] wushuaiwangyin commented on #60493
This is a bug. Openscrollcontexts is used to control the maximum scroll context. But by accessing the "_nodes/ data:true/stats/indices/search" get open_context does not reach the limit, which can be modified“ search.max_open_scroll_context "to the maximum value of int.

[2020-10-21 04:11] ywangd commented on #63870
I added the `team-discuss` label to this issue so it will be discussed when the existing queue is cleared. Thanks!

[2020-10-21 05:35] Charele opened #63964 "Explore making RequestOptions optional in HLRC requests"
Every time we use RHLC client,
for example,
index(IndexRequest indexRequest, RequestOptions options)
I must explictly input the 'options',
Always I use "RequestOptions.DEFAULT".

In the org.elasticsearch.client.Request class, its defualt value is this RequestOptions.DEFAULT,
so I think it's unnecessary.

Can we provide a simple version without the 'option' parameter in RHLC?

[2020-10-21 06:04] rokcarl commented on #34390
I have a similar problem that, I think, has the same root cause.

The problem is that I can do a Max Bucket aggregation on my raw data, but I can't on my rollup data.

Here's the graph from the raw data:

<img width="1536" alt="Screenshot 2020-10-20 at 15 50 45" src="https://user-images.githubusercontent.com/42874/96678892-e7239380-1372-11eb-9856-1beb06a5dd01.png">

But I can't do the same graph f

[2020-10-21 07:05] astefan commented on #63690
Recently, we've had a request in discuss about something tangential to supporting unmapped fields in SQL (implicitly the `fields` API): https://discuss.elastic.co/t/elasticsearch-sql-cant-query-unindexed-field/251635, but I am not sure if SQL will indeed actually use this feature. Data returned/queried in SQL has to have a type, if the field doesn't exist in the mapping, this means no data type wh

[2020-10-21 07:12] BigPandaToo commented on #55816
I will take a look at it today.

[2020-10-21 08:29] ywangd commented on #55816
I think this is still caused by the same "dirty read" problem described in the [earlier comment](https://github.com/elastic/elasticsearch/issues/55816#issuecomment-620913282). An contrived scenario can be as follows:

Say we have a 3-node cluster, the token index has its primary on `node_A` and replica on `node_B` and nothing on `node_C`. Thread 1 is refreshing the token and the new token document

[2020-10-21 08:43] jkakavas commented on #55816
Agreed. In most cases we've seen in production concurrent refreshes come from the same client so they will (most probably) be hitting the same node. In your example thread 1 and thread 2 will most probably both hit node_A. In that sense the change we recently did increases the chances of this happening but it could still happen without it if i.e. the two threads/clients both hit Node C ? We know w

[2020-10-21 08:44] elasticmachine commented on #63964
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-10-21 08:46] breskeby opened #63967 "Eclipse should handle test artifact dependencies properly"
After updating the gradle wrapper to 6.7 the eclipse import is broken.

Declared test artefacts are not resolved by dependent projects.

E.g. `:x-pack:pugin:core` is imported everywhere without test dependencies but we use those test dependencies. I mean, we wish we didn't, but we do now.

Raised https://github.com/gradle/gradle/issues/14932 for the Gradle team

_Originally raised by @nik9000 in h

[2020-10-21 08:49] breskeby commented on #63967
There was nothing mentioned in the 6.7 release notes raising awareness of this problem.
I've shared this example project mimicking the problem with the Gradle team and asked for a workaround [eclipse-test-artifacts.zip](https://github.com/elastic/elasticsearch/files/5414516/eclipse-test-artifacts.zip)

[2020-10-21 08:50] elasticmachine commented on #63967
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-10-21 08:51] javanna opened #63969 "CoreValuesSourceTypeTests.testDatePrepareRoundingWithDocs fails"
**Build scan**: https://gradle-enterprise.elastic.co/s/7afw66rl5du44/console-log?task=:server:test

**Repro line**: ./gradlew ':server:test' --tests "org.elasticsearch.search.aggregations.support.CoreValuesSourceTypeTests.testDatePrepareRoundingWithDocs" -Dtests.seed=28C9A26E02E5DBC1 -Dtests.security.manager=true -Dtests.locale=nl-BE -Dtests.timezone=Etc/Universal -Druntime.java=11

**Reproduces l

[2020-10-21 08:52] elasticmachine commented on #63969
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-10-21 09:14] javanna opened #63973 "DatafeedJobsIT#testDatafeedTimingStats_DatafeedRecreated fails"
**Build scan**: https://gradle-enterprise.elastic.co/s/weggtbiofm7zw/console-log?task=:x-pack:plugin:ml:qa:native-multi-node-tests:integTestRunner

**Repro line**: ./gradlew ':x-pack:plugin:ml:qa:native-multi-node-tests:integTestRunner' --tests "org.elasticsearch.xpack.ml.integration.DatafeedJobsIT.testDatafeedTimingStats_DatafeedRecreated" -Dtests.seed=862B982F15848C7 -Dtests.security.manager=tru

[2020-10-21 09:14] elasticmachine commented on #63973
Pinging @elastic/ml-core (:ml)

[2020-10-21 09:16] #63386 closed

[2020-10-21 09:27] javanna commented on #62951
@hendrikmuhs may this recent failure be related or is it a different one? https://gradle-enterprise.elastic.co/s/ovpotiny57i2m/tests/:x-pack:plugin:transform:qa:single-node-tests:javaRestTest/org.elasticsearch.xpack.transform.integration.continuous.TransformContinuousIT/testContinousEvents#1

[2020-10-21 09:37] javanna opened #63976 "SearchCancellationIT#testCancelFailedSearchWhenPartialResultDisallowed fails"
**Build scan**: https://gradle-enterprise.elastic.co/s/khmvuaugydbz2/console-log?task=:server:internalClusterTest

**Repro line**: gradlew ':server:internalClusterTest' --tests "org.elasticsearch.search.SearchCancellationIT.testCancelFailedSearchWhenPartialResultDisallowed" -Dtests.seed=B02E83C609386A57 -Dtests.security.manager=true -Dtests.locale=en-SG -Dtests.timezone=PRT -Druntime.java=11

**Re

[2020-10-21 09:37] bornajelic opened #63977 "Can't build ES 7.9.0"
I'm having issues with building a ES 7.9.0.
gradle.build file :

[code]

Result:

[code]

[2020-10-21 09:37] elasticmachine commented on #63976
Pinging @elastic/es-search (:Search/Search)

[2020-10-21 09:50] javanna opened #63980 "BasicDistributedJobsIT#testDedicatedMlNode fails"
**Build scan**: https://gradle-enterprise.elastic.co/s/jji6ljcth352u/console-log?task=:x-pack:plugin:ml:internalClusterTest

**Repro line**: ./gradlew ':x-pack:plugin:ml:internalClusterTest' --tests "org.elasticsearch.xpack.ml.integration.BasicDistributedJobsIT.testDedicatedMlNode" -Dtests.seed=B52557EBFF0CB0F6 -Dtests.security.manager=true -Dtests.locale=ar-SA -Dtests.timezone=Africa/Cairo -Drunt

[2020-10-21 09:50] elasticmachine commented on #63980
Pinging @elastic/ml-core (:ml)

[2020-10-21 09:51] #63893 closed

[2020-10-21 10:19] droberts195 commented on #63980
I think the interesting bit of the log is:

[code]

The test ends when the job's persistent task is assigned to a node.  However, after this happens (and hence after the end of the test code and after the cleanup code has started running) the autodetect process manager will be running the autodetect process (the "blackhole" one rather than the native one in this case since it's an internal cluster

[2020-10-21 10:28] elasticmachine commented on #63681
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-10-21 10:33] hendrikmuhs commented on #62951
@javanna Thanks for the ping.

Looks like a new issue, the test implementation for `continuous-date-histogram-pivot-other-timefield-test` is younger than this issue. I will check if this reproduces for me asap.

[2020-10-21 10:48] henningandersen commented on #63671
I agree, there looks to be an issue when we truncate the hits due to `max_docs` with the semantics you describe.

I am a bit torn on what the right semantics should be though. I think the choice is between:

1. `max_docs` relate primarily to the search/source and thus we should stop after having received that many hits, regardless of version conflicts.
2. `max_docs` relate primarily to the actual

[2020-10-21 11:21] ywangd commented on #59685
I just noticed a minor issue in the new `authentication` field. The `authentication.authentication_type` should always be `token`. But instead it is the type of the original authentication that the token is created for. For example, in the [documentation page](https://www.elastic.co/guide/en/elasticsearch/reference/master/security-api-get-token.html#security-api-get-token-example), the `authentica

[2020-10-21 11:26] ywangd commented on #55816
IIUC, the issue can _in theory_ happen even when both threads hit `node_A`. Because we don't guarantee 100% to route to the local shard copy even with `preference=_local` for GetRequest (just learnt it today). This means the two threads can still fetch document from different shard copies on different node and one of them could fail.

The chance is probably super low to have no practical concern.

[2020-10-21 11:31] #63885 closed

[2020-10-21 11:37] droberts195 commented on #63973
@przemekwitek please could you take a look at this one?

I see at the end of the test it calls `openAndRunJob` twice: https://github.com/elastic/elasticsearch/blob/0bc307f865d62c4be09d1c2fa5e17a0aacb1972a/x-pack/plugin/ml/qa/native-multi-node-tests/src/javaRestTest/java/org/elasticsearch/xpack/ml/integration/DatafeedJobsIT.java#L181-L182

The comment `// Datafeed processed numDocs documents so sea

[2020-10-21 12:08] cbuescher commented on #63386
Should be fixed in 7.11.

[2020-10-21 12:31] #63869 closed

[2020-10-21 13:47] DaveCTurner commented on #63519
We discussed this as a team today and we can see some value in supporting shrinking an index from shards that are not colocated.

We considered a "remote shrink" operation, implemented as a new recovery source, which would copy segments directly from remote nodes into the new shards. This copy process could use hard-links if the source shard were on the same node (and filesystem) but would in gene

[2020-10-21 14:26] henningandersen commented on #63747
We discussed this today and we think the following is the easiest route. Note that 6.8 supports both version and sequence number based optimistic concurrency control, whereas 7.0+ only supports sequence number based optimistic concurrency control.

1. Upgrade to 6.8
2. Ensure all relevant indexes created prior to 6.0 are reindex'ed to ensure they have sequence numbers.
3. Change application code t

[2020-10-21 14:32] BigPandaToo commented on #55816
I agree with @ywangd analisys and with that we have to reduse the probability of these diry reads untill we rework the concurrent refresh logic. Will work on fix #1

[2020-10-21 15:22] cbuescher commented on #63977
Hi @bornajelic!
Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2020-10-21 15:22] #63977 closed

[2020-10-21 15:51] #63730 closed

[2020-10-21 16:33] jrodewig commented on #60553
As @jtibshirani pointed out in #60765, the search-ability of a metadata field is noted in the docs for that field. For example, the `_id` field lists its supported queries: https://www.elastic.co/guide/en/elasticsearch/reference/master/mapping-id-field.html

[2020-10-21 16:33] #60553 closed

[2020-10-21 16:38] sribharghava commented on #63747
Thanks @henningandersen for the update. That makes sense.
We had a look at this last week and approached this in a slight different way. We modified our application layer to use external versioning for the OCC by incrementing the version by one before writing to the ES. As external versioning is supported in 7.x, this prevented any API changes in our application layer for the upgrade allowing us t

[2020-10-21 16:39] not-napoleon commented on #63898
@AkshataJ96 & @alishahusain - As we looked deeper into this as a team, we found more complexity than we initially thought, and we've decided we need to address this internally.  Sorry that we were a little too optimistic in labeling it `good first issue`.  I encourage you to keep looking for issues you'd like to work on though!

[2020-10-21 16:50] #63795 closed

[2020-10-21 17:02] cbuescher opened #64012 "[CI] Failures in update_by_query/35_search_failure/Response format for search failures"
**Build scan**:
https://gradle-enterprise.elastic.co/s/6oq2ek5easfsm

**Repro line**:

./gradlew ':modules:reindex:yamlRestTest' --tests "org.elasticsearch.index.reindex.ReindexClientYamlTestSuiteIT.test {yaml=update_by_query/35_search_failure/Response format for search failures}" \
  -Dtests.seed=5ADD9729CFD6E795 \
  -Dtests.security.manager=true \
  -Dtests.locale=fi-FI \
  -Dtests.timezone=Euro

[2020-10-21 17:03] elasticmachine commented on #64012
Pinging @elastic/es-distributed (:Distributed/CRUD)

[2020-10-21 17:55] nik9000 commented on #63523
`composite` has some technical limitations based on its goal of wanting to allow scrolling aggs but I believe we could do a fair bit to make sorting in composite more similar to sorting in top hits. Long story short: something like this is almost certainly possible to implement.

*but* I think that this could end up as quite a deep rabbit hole. A few of us met over zoom to talk about and talked ab

[2020-10-21 20:31] jaymode commented on #61656
I think we should move away from templates for system indices that we are going to create; the values should be handled in code like async search does. I have been thinking about this some more today and one thought that I had relates to the auto creation of indices; we could defer creating until time of write. We would just hook into the creation of indices so that write requests will create the

[2020-10-21 20:38] rtancman opened #64019 "Share synonym analyzer output with many indices"
We started to use the [synonym token filter](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-synonym-tokenfilter.html#analysis-synonym-tokenfilter) with large files. This parser is wasting much time to create the final data structure to use in tokenizers. The `analysis/synonym.txt` file there are 41 million the terms. Is there any chance to share the same structure with ma

[2020-10-21 22:45] rjernst opened #64026 "Switch back to AdoptOpenJDK for bundled jdk"
We recently switched the bundled jdk back to Oracle, to maintain support for CentOS 6/OEL 6/RHEL 6, which was broken with jdk 15 of adoptopenjdk (https://github.com/AdoptOpenJDK/openjdk-build/issues/2097). While this worked to get jdk 15 working on those older platforms, this causes an issue with homebrew:

[code]

It is unclear how this issue can be fixed without recompiling the jdk. Fortunately

[2020-10-21 22:45] elasticmachine commented on #64026
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-10-21 23:15] alishahusain commented on #40366
I can help with removing the Xlint exclusions for the following remaining files:
./server/build.gradle
./test/framework/build.gradle
./x-pack/plugin/core/build.gradle
./x-pack/plugin/security/build.gradle
 ./x-pack/plugin/watcher/build.gradle

Can I go ahead and create a PR and link it to this issue?

[2020-10-21 23:40] arielzach commented on #57400
I don't know what state this issue is in but I'm having a similar problem with ES7.8, I'm using the docker version:

docker.elastic.co/elasticsearch/elasticsearch:7.8.0

![image](https://user-images.githubusercontent.com/64101789/96801000-0820ce80-13dd-11eb-81b0-ea10ea1b8e72.png)
![image](https://user-images.githubusercontent.com/64101789/96801050-238bd980-13dd-11eb-8427-d03b09cd71ca.png)
![image]

[2020-10-22 00:55] jtibshirani commented on #9034
I had forgotten about `_recovery_source`! I tried the same comparison, but for the contender I applied [the patch](https://github.com/elastic/elasticsearch/issues/9034#issuecomment-499052579) instead of disabling `_source` and adding stored fields. The performance hit looked similar:

[code]

I ran the metricbeat track with a single field `system.process.cgroup.memory.id` set to `store: true`, and

[2020-10-22 02:23] arielzach opened #64028 "Maybe memory leak in search.SearchService"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.8

**Plugins installed**: []

**JVM version** (`java -version`): 14.0.1

**OS version** (`uname -a` if on a Unix-like system): 4.14.186-110.268.amzn1.x86_64 #1 SMP Tue Jul 14 02:57:34 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux (docker.elastic.co/elasticsearch/elasticsearch:7.8.0)

**Description of the problem including expected versus actua

[2020-10-22 03:15] dnhatn commented on #64028
@arielzach Thanks for reporting the issue. Can you share the heap dump with us privately?

[2020-10-22 03:15] elasticmachine commented on #64028
Pinging @elastic/es-search (:Search/Search)

[2020-10-22 04:52] xiongmaodeguxiang commented on #39946
i am also facing same issue with ES RestHighLevenClient using BulkProcessor, but i found that my service is out of memory . it case the connetion closed。

[2020-10-22 04:58] dbakti7 opened #64029 "Unable to Install ES7.9.2 as Windows Service with ES_JAVA_OPTS in env var"
**Elasticsearch version** (`bin/elasticsearch --version`): ES 7.9.2

**Plugins installed**: []

**JVM version** (`java -version`): Bundled JDK

**OS version** (`uname -a` if on a Unix-like system): Windows 10

**Description of the problem including expected versus actual behavior**:
Unable to install elasticsearch as windows service when we set Xms and Xmx via windows env var ES_JAVA_OPTS
installa

[2020-10-22 05:15] alishahusain commented on #62934
May I go ahead and set the return type to Double and create a PR to fix this issue?

[2020-10-22 05:52] tvernum commented on #51178
Assigned to @ywangd for (future) consideration in operator privileges project.

[2020-10-22 05:58] tvernum commented on #56903
The new assertion did the trick:

[2020-10-22 06:09] henningandersen commented on #63747
@sribharghava one reason we chose the approach listed above is that it requires no downtime (rolling upgrades) and does not rely on every update/index request for existing data to use OCC.

If you upgraded from a version prior to 6.7 to 7.x using a full cluster restart but wanted to keep OCC concerns separate, your approach makes sense. Notice that you need to use OCC for every update/index reques

[2020-10-22 07:40] breskeby commented on #63967
Fixed by https://github.com/elastic/elasticsearch/pull/63979

[2020-10-22 07:40] #63967 closed

[2020-10-22 08:03] original-brownbear opened #64035 "Allow Configuring an SLM Interval instead of a CRON Schedule?"
We are currently seeing some trouble when working with SLM and multiple deployments sharing resources. This is a result of the fact that configuring SLM cron schedules encourages running all snapshot and all retention jobs at the same time, causing a thundering herd situation.
Another issue with the current scheduling we're seeing is when the scheduled snapshot period is shorter than the time it t

[2020-10-22 08:03] elasticmachine commented on #64035
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-10-22 08:14] astefan opened #64036 "[CI] MlDailyMaintenanceServiceTests.testScheduledTriggeringWhileUpgradeModeIsEnabled failure"
**Build scan**: https://gradle-enterprise.elastic.co/s/n4bhvpiaovzmy

**Repro line**: `./gradlew ':x-pack:plugin:ml:test' --tests "org.elasticsearch.xpack.ml.MlDailyMaintenanceServiceTests.testScheduledTriggeringWhileUpgradeModeIsEnabled" -Dtests.seed=8162A85A6BB46A92 -Dtests.security.manager=true -Dtests.locale=fr-BE -Dtests.timezone=America/Atikokan -Druntime.java=8`

**Reproduces locally?**: No

[2020-10-22 08:14] elasticmachine commented on #64036
Pinging @elastic/ml-core (:ml)

[2020-10-22 08:17] jugsofbeer commented on #64035
In our ECE environment we suffer from this exact issue and its driving us insane with the frequent snapshot failures and lack of spacing out of activity for multiple deployments.

[2020-10-22 08:30] jugsofbeer opened #64039 "ILM Delete Phase | A final Snapshot"
When using ILM and using the Delete phase, we want to use the SLM functionality slightly differently to whats allowed.

We have one S3 repository for the regular 30minute snapshot of the entire deployment.
We have a second S3 repository that we want to use for final snapshots before the indice is deleted from the deployment, this is for long term storage | regulation  reasons.

In the ILM delete p

[2020-10-22 08:47] astefan commented on #49094
I caught a similar report as the one from @dliappis on CI this morning:

[code]

with the following test failing:

[code]

But doesn't repro for me.

[2020-10-22 08:50] jugsofbeer opened #64042 "SLM Copy Index from Snapshot from one S3 repo to another S3"
Independant from the ILM phases completely.

I`d like SLM to be able to allow me to copy an index from a  an existing snapshot from one S3 repo to another S3 repository and optionally on successful copy, delete the index from the deployment.

Snapshot repo 1 is the regular 30min full deployment
Snapshot repo 2 is the long term storage for important data, but not needed in the deployment any more.

[2020-10-22 08:58] jkakavas commented on #49094
These are all unrelated to the problem this issue is tracking, so can we open a new issue so that we don't miss it?

[2020-10-22 09:03] astefan opened #64044 "[CI] bouncycastle.tls.TlsFatalAlert: handshake_failure(40)"
**Build scan**:
https://gradle-enterprise.elastic.co/s/ugq5y3o4yrdgq
https://gradle-enterprise.elastic.co/s/anyrby5ddynwq

**Repro line**:
- `./gradlew ':x-pack:plugin:security:internalClusterTest' --tests "org.elasticsearch.xpack.security.authz.SnapshotUserRoleIntegTests.testSnapshotUserRoleCanSnapshotAndSeeAllIndices" -Dtests.seed=F4A3DCA82E28F4F1 -Dtests.security.manager=true -Dtests.locale=tr-

[2020-10-22 09:03] elasticmachine commented on #64044
Pinging @elastic/es-security (:Security/Network)

[2020-10-22 09:03] astefan commented on #49094
Done https://github.com/elastic/elasticsearch/issues/64044. Thank you @jkakavas.

[2020-10-22 09:08] markharwood opened #64045 "Significant text aggregation nullpointers if subject field does not exist."
This bug looks to have crept in since version 7-something.
Given a query like:

	{
		"size": 0,
		"aggs": {
			"s": {
				"significant_text": {
					"field": "thisDoesNotExist"
				}
			}
		}
	}

Version 6.6 responds with

    "Aggregation [s] cannot process field [thisDoesNotExist] since it is not present"

But 7.10 onwards errors with:

	{
	  "error": {
		"root_cause": [
		  {
			"type": "null_p

[2020-10-22 09:08] elasticmachine commented on #64045
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-10-22 09:24] jalvz opened #64047 "Mimimal template for the APM indexing strategy"
For the upcoming APM integration we need a new `traces` data type, as described in the [Indexing Strategy proposal](https://docs.google.com/document/d/1y56a9fjkLi6Zen5qGC_JKYM9ljYpBA5W0fgdWilcwYc/edit?ts=5f6c1aab#).

This in turn requires an index template bundled by default in Elasticsearch matching the index pattern `traces-*-*`.

[EPR Issue](https://github.com/elastic/package-spec/issues/68).

[2020-10-22 09:24] elasticmachine commented on #64047
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-10-22 09:32] astefan opened #64048 "[CI] buildBwcOssWindowsZip failing with Illegal char < at index 32: C:\Users\jenkins\.java\java8\jre"
**Build scan**:
https://gradle-enterprise.elastic.co/s/yddbfk6f6vync
https://gradle-enterprise.elastic.co/s/o3tj4pdqxxm5k
https://gradle-enterprise.elastic.co/s/uor75gsxbbepo

**Repro line**:

**Reproduces locally?**:

**Applicable branches**: master

**Failure history**:

**Failure excerpt**:
[code]

[2020-10-22 09:32] elasticmachine commented on #64048
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-10-22 09:32] elasticmachine commented on #64048
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-10-22 09:33] shirkan opened #64050 "Cannot update documents with date field with format "epoch_second", even if not updating the date field itself"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.5.1

**OS version** (`uname -a` if on a Unix-like system): Ubuntu

**Description of the problem including expected versus actual behavior**:
mapping is:
[code]

Update request:
`POST shirkan_test/_update/test_id
{
  "doc": {
    "name": "shirkan"
  },
  "doc_as_upsert": true
}`

Error message:
`{
  "error": {
    "root_cause": [
      {

[2020-10-22 09:50] romseygeek commented on #62988
These are now all converted, and we can start merging FieldMapper and ParametrizedFieldMapper and cleaning up more generally.

[2020-10-22 09:50] #62988 closed

[2020-10-22 10:05] sribharghava commented on #63747
yeah, that makes sense. Our case is a little different though. We planned for a no downtime upgrade using a blue green deployment strategy with dual writes to both old and the new 7.x clusters and reindexing. We are currently on 1.4 and with so many breaking changes in the API and the functionality rolling upgrades is not an easy option for us.

[2020-10-22 10:08] iverase opened #64052 "SearchServiceTests#testCreateSearchContextFailure"
**Build scan**:

https://gradle-enterprise.elastic.co/s/mb4fxdioop3sk

**Repro line**:

[code]

**Reproduces locally?**:

No

**Applicable branches**:

master

**Failure history**:

I haven't found any other occurrence.

**Failure excerpt**:

[code]

[2020-10-22 10:08] elasticmachine commented on #64052
Pinging @elastic/es-search (:Search/Search)

[2020-10-22 10:14] sribharghava commented on #63747
Thanks for the help on this. If this whttps://github.com/elastic/elasticsearch/issues/63747#issuecomment-713616402 makes into the documentation somewhere that would be helpful to people I believe

[2020-10-22 10:23] tlrx commented on #63915
We discussed this issue today and we think that the `can_match` should be handled correctly on searchable snapshot shards. At the time the `can_match` phase is executed the `DirectoryReader` should have been fully initialized (it happens when the Directory itself is created and before the `IndexShard` is exposed to searches) and should have already accessed all the files it requires in order to lo

[2020-10-22 10:41] tlrx opened #64053 "Searchable snapshot engine should not fetch data in order to expose engine stats"
Today searchable snapshots shards are using a `ReadOnlyEngine` which exposes various stats about  the directory segments, docs, completion etc. We suspect that computing some of these stats may require to read some files on disk and in the case of cached searchable snapshots directories it may cause some date to be fetched from the repository and added to the local cache.

We'd like to avoid any I

[2020-10-22 10:41] elasticmachine commented on #64053
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-22 10:47] cbuescher commented on #63719
I checked the time frame when this error started to appear quite frequently on master and found https://github.com/elastic/elasticsearch/pull/63520 which would fit also because it wasn't backported to 7.11 yet (failures currently only on master), its related to shard exception and the test that fails uses "setAllowPartialSearchResults(false)" for the request. I will continue digging.

[2020-10-22 11:31] astefan opened #64055 "[CI] SearchServiceTests testCreateSearchContextFailure failure"
**Build scan**: https://gradle-enterprise.elastic.co/s/mb4fxdioop3sk

**Repro line**: `./gradlew ':server:test' --tests "org.elasticsearch.search.SearchServiceTests.testCreateSearchContextFailure" -Dtests.seed=3513A4B213D3E47A -Dtests.security.manager=true -Dtests.locale=ko -Dtests.timezone=Africa/Niamey -Druntime.java=11`

**Reproduces locally?**: No

**Applicable branches**: master

**Failure hi

[2020-10-22 11:31] elasticmachine commented on #64055
Pinging @elastic/es-search (:Search/Search)

[2020-10-22 11:39] #64036 closed

[2020-10-22 11:42] astefan commented on #62716
There are more failures yesterday and today for, what I think seems to be the same issue? I see `> Process 'command './bin/elasticsearch-keystore'' finished with non-zero exit value 1` but not the actual reason for this failure, as it was the case in the initial report. All failures were on master and with g1gc though.

https://gradle-enterprise.elastic.co/s/hk3rw2usoztfs
https://gradle-enterprise

[2020-10-22 11:57] astefan opened #64056 "[CI] TasksIT testGetValidTask failure"
**Build scan**: https://gradle-enterprise.elastic.co/s/m4ri3qe5dslwk

**Repro line**: `./gradlew ':client:rest-high-level:asyncIntegTestRunner' --tests "org.elasticsearch.client.TasksIT.testGetValidTask" -Dtests.seed=811D7AD2556E9BC7 -Dtests.security.manager=true -Dtests.locale=zh-CN -Dtests.timezone=Jamaica -Druntime.java=8`

**Reproduces locally?**: No

**Applicable branches**: 7.9

**Failure hi

[2020-10-22 11:57] elasticmachine commented on #64056
Pinging @elastic/es-distributed (:Distributed/Task Management)

[2020-10-22 11:57] elasticmachine commented on #64056
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-10-22 11:59] rokcarl commented on #44998
I hit this bug today as well.

I've done a date histogram with a split series by the customer name.

<details><summary>Doing a `Terms` aggregation with a large `size` works fine:</summary>

Raw index:
<img width="1524" alt="Screenshot 2020-10-22 at 10 24 23" src="https://user-images.githubusercontent.com/42874/96868078-d6a41380-146d-11eb-82df-aa6490e57157.png">

Rolled-up index:
<img width="1534"

[2020-10-22 13:01] astefan commented on #64048
https://gradle-enterprise.elastic.co/s/f2xtpz7a3wkqw
https://gradle-enterprise.elastic.co/s/uaintufnrctti
https://gradle-enterprise.elastic.co/s/fxruutc46xccy

[2020-10-22 13:02] markharwood commented on #64045
@jtibshirani - this may be going back a bit but it looks like null field types[ became acceptable](https://github.com/elastic/elasticsearch/blob/3f8097bce163e35dedbb644392c3097a90aec61b/server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/SignificantTextAggregatorFactory.java#L84) for with field alias work in 15ff3da653c5 . Can you offer any insight on when might be the best poi

[2020-10-22 13:03] nik9000 commented on #64045
@not-napoleon is who I'd turn to to ask about this sort of thing in aggs. I don't know this code super duper well so I don't have a strong opinion other than to bring @not-napoleon into the conversation.

[2020-10-22 13:20] arielzach commented on #64028
Hi @dnhatn ,

Unfortunately I can't pass the dump, tell me what you need to see.

[2020-10-22 13:20] romseygeek commented on #64045
I think the change in behaviour actually came in 91813ea5cf915311b1585d611bf9b89501461a9b when we merged sigterms and sigtext; that reworked the `collectFromSource` method that had previously been passed a `MappedFieldType` and so could check whether or not it was null.

I think the simplest change is to enforce field existence in the `SignificantTextAggregatorFactory` constructor?

[2020-10-22 13:23] markharwood commented on #64045
It was this comment from https://github.com/elastic/elasticsearch/commit/15ff3da653c5dd9eae7f7a654a9ee6a931d478b7 that made me hold off from that:

        // Note that if the field is unmapped (its field type is null), we don't fail,
        // and just use the given field name as a placeholder.

[2020-10-22 13:34] rokcarl commented on #44998
And the [above workaround query](https://github.com/elastic/elasticsearch/issues/44998#issuecomment-516398322) does not work for me. I don't know, maybe I wrote it incorrectly, but I tried to incorporate it into my existing query that was having problems, but it doesn't work.

<details><summary>Old query:</summary>

[code]
</details>

<details><summary>New query:</summary>

[code]
</details>

The

[2020-10-22 13:47] antonisnyc94 commented on #63489
openjdk version "1.8.0_265"
OpenJDK Runtime Environment (build 1.8.0_265-b01)
OpenJDK 64-Bit Server VM (build 25.265-b01, mixed mode)

It appears that im having version 8. I"ll upgrade and keep you posted.

Thanks a lot for the reply!

[2020-10-22 13:54] antonisnyc94 commented on #63489
I dont know how upgrading to openjdk 11 will impact my cluster so for now I am accepting the one week delay for the index. Thanks a lot for your input tho.

regards,
Tony

[2020-10-22 13:54] #63489 closed

[2020-10-22 13:55] pgomulka commented on #63489
@antonisnyc94 jdk9+ support the fix we implemented. More specifically it allows loading SPIs from classpath, so ES was able to implement a CalendarDataProvider with correct ISO settings

[2020-10-22 14:09] pheyos opened #64067 "[ML] AD job goes into closed state after alias error"
**Found in version**
- 7.9.2 GA

**Steps to reproduce**
- Create and run a real-time AD job
  - the job doesn't need to actually process data any more, so running it on past data still reproduces the issue
- Replace the `.ml-state-write` alias with a concrete index:
[code]
  - Note: the issue also reproduces when the `.ml-state-write` index is created with the same mappings and settings that `.ml-

[2020-10-22 14:09] elasticmachine commented on #64067
Pinging @elastic/ml-core (:ml)

[2020-10-22 14:25] #63969 closed

[2020-10-22 14:29] nik9000 commented on #64045
Oh boy! Past Nik is at it again, breaking stuff.

[2020-10-22 14:36] nik9000 commented on #63671
I think the second choice is what we *meant* to do when implementing it. I think I made a mistake when I implemented it and sort of bumbled into doing the first thing instead.

[2020-10-22 14:37] alexklibisz opened #64069 "GetFieldMappingsRequest() called from within an AbstractQueryBuilder returns an empty map"
**Elasticsearch version** (`bin/elasticsearch --version`): upgrading from 7.6.2 to 7.9.2

**Plugins installed**: [elastiknn](https://github.com/alexklibisz/elastiknn) (this issue is in the Elastiknn code)

**JVM version** (`java -version`): 14

**OS version** (`uname -a` if on a Unix-like system): Ubuntu

**Description of the problem including expected versus actual behavior**:

There's a part of

[2020-10-22 14:39] nik9000 commented on #63671
I think it will indeed resolve itself without us. They have some other issue around sorting by score that mean they are a bit stuck, but i think that is not related to this.

[2020-10-22 14:48] polyfractal commented on #62934
Hi @alishahusain :)  I think this would be a good first issue, although I'm not sure the exact behavior we want.  @imotov would probably have an opinion on this issue but he's currently on vacation (back next week).  I think we probably have two options:

- Change the return signature to Double as suggested, although that might just move the NPE somewhere else
- Check to see if extendedBounds is `

[2020-10-22 15:00] cbuescher commented on #63719
This indeed seems a race between which shard exceptions get thrown first. Before #63520 we'd get two types of exceptions, namely
* '-2042496763000] are before the epoch in 1970 and cannot be converted to nanoseconds' from 'index_date'  which is happening when trying to convert the query date "1905-..." to nanoseconds
* [+54280952-03-25T07:12:55.807Z] is after 2262-04-11T23:47:16.854775807 and cann

[2020-10-22 15:06] hendrikmuhs opened #64070 "[Transform] transform fails for histogram group_by on unsigned_long"
**Affected version:** > 7.10

Repro steps:

[code]

Failure:

[code]

Reason: Transform writes `unsigned_long` with floating point for the histogram field `h`, this isn't allowed for `unsigned_long`, it must be a whole number.

/CC @droberts195

[2020-10-22 15:06] elasticmachine commented on #64070
Pinging @elastic/ml-core (:ml/Transform)

[2020-10-22 15:16] dwilson1988 commented on #26286
Running into this currently on version 7.9.2, is the best workaround to fix the geometry by changing the orientation before indexing?

[2020-10-22 15:58] jrodewig commented on #63882
The ES docs team discussed this and agreed that this isn't actually documentation for Elasticsearch, but a set of recommendations that would apply to any distributed data store. As a result, we shouldn't move it into the docs.

[2020-10-22 15:58] #63882 closed

[2020-10-22 16:26] elasticmachine commented on #64069
Pinging @elastic/es-search (:Search/Mapping)

[2020-10-22 16:28] elasticmachine commented on #64050
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-10-22 16:28] elasticmachine commented on #64042
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-10-22 16:28] elasticmachine commented on #64039
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-10-22 16:28] elasticmachine commented on #64029
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-10-22 16:29] elasticmachine commented on #64019
Pinging @elastic/es-search (:Search/Analysis)

[2020-10-22 16:30] elasticmachine commented on #63843
Pinging @elastic/es-core-infra (:Core/Infra/Logging)

[2020-10-22 16:30] elasticmachine commented on #63843
Pinging @elastic/es-security (:Security/Audit)

[2020-10-22 16:31] elasticmachine commented on #63846
Pinging @elastic/es-search (:Search/Search)

[2020-10-22 16:31] elasticmachine commented on #63808
Pinging @elastic/es-docs (>docs)

[2020-10-22 16:31] elasticmachine commented on #63808
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-10-22 16:32] elasticmachine commented on #63755
Pinging @elastic/es-search (:Search/Mapping)

[2020-10-22 16:32] elasticmachine commented on #63607
Pinging @elastic/es-docs (>docs)

[2020-10-22 16:32] elasticmachine commented on #63607
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-10-22 16:46] markharwood commented on #59137
I wonder to what extent aesthetics might play a part here and users want `New York` not `new york` because the field was normalized. It's a lot of extra work to get that cleaner experience.

[2020-10-22 16:50] #63066 closed

[2020-10-22 16:56] romseygeek commented on #63755
Hi @jze1, thanks for opening this issue.  Can you paste a complete stack trace of the error from your log?

[2020-10-22 17:12] jaymode commented on #61656
I'll add a bit more for why it might be best to avoid creating system indices that may go unused by users and that is the fact that each shard has overhead and our [docs](https://github.com/elastic/elasticsearch/blob/master/docs/reference/how-to/size-your-shards.asciidoc#aim-for-20-shards-or-fewer-per-gb-of-heap-memory) state 20 shards per GB of heap. If we think about small nodes and clusters, by

[2020-10-22 17:38] jtibshirani commented on #64045
Reviewing [the change where I added this comment](https://github.com/elastic/elasticsearch/pull/31565/files#diff-6d58ad042c2b079cc0b6b62c341ec69a113fd0174738bbeb08f105218017cf1d), it seems I was just trying to maintain the current logic (which didn't explicitly check for a null field type), and didn't mean to assert that we should support `significant_text` on unmapped fields.

[2020-10-22 17:47] jrodewig commented on #63607
Thanks for raising this @rudolf. You're right in that this seems to have no effect on closed indices.

For the get index alias API, I believe the `ignore_unavailable` parameter targets the optional `<index>` request parameter. I'll update the docs to make this clearer.

[2020-10-22 18:09] jdconrad opened #64076 "Add print tree for each of the Painless trees"
Add a print tree phase for each of the ANTLR tree, user tree, and ir tree. The expected use for each of these is internal debugging. For the user and ir trees, decorations should be optionally printed as part of the tree.

[2020-10-22 18:09] elasticmachine commented on #64076
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-10-22 18:10] jtibshirani commented on #64069
Hello @alexklibisz, we didn't make any intentional changes to the response format, and we certainly shouldn't be returning an empty response if there are field mappings.

Before jumping into a reproduction, I wanted to offer a high-level suggestion: we don't usually suggest making a client call while constructing a query. You should be able to look up relevant mapping information directly using `Q

[2020-10-22 18:14] alexklibisz commented on #64069
Hi @jtibshirani , thanks for the quick response. I agree making a client call in that place was a bit hacky. I was actually only calling once and then caching the response for each index/field. Still hacky, so I'm open to revising it with a better approach. I mainly just need a way to access the original JSON used to construct the mapping (i.e. the same thing that's returned from `GET _mapping` AP

[2020-10-22 18:29] wylieconlon opened #64077 "Track when fields contain multi-value arrays and expose in field_caps or mappings"
Multi-value arrays cause problems in Kibana because we default to single-value fields, while multi-value fields create a higher `doc_count` than the total doc_count on the index. So instead of showing numbers like "100% of documents" we might end up showing "200% of documents", which looks completely wrong.

The request here is for Elasticsearch to make it easier to know that a field is expected t

[2020-10-22 18:29] elasticmachine commented on #64077
Pinging @elastic/es-search (:Search/Mapping)

[2020-10-22 18:40] elasticmachine commented on #64077
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-10-22 19:10] #63607 closed

[2020-10-22 20:48] jakelandis commented on #63872
There are two independent concepts here

Currently the max size is determined by the total of the primary shards. When you set that to say 50GB and spread across 10 primary shards, after it rolls over, your ILM policy can implement a [shrink](https://www.elastic.co/guide/en/elasticsearch/reference/master/ilm-shrink.html) in the warm phase and then after that you have an optimally sized single shar

[2020-10-22 21:06] HarelM opened #64086 "Slow results on date range query?"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.9.1

**Plugins installed**: none

**JVM version** (`java -version`): using docker, which ever is there...

**OS version** (`uname -a` if on a Unix-like system): docker image

**Description of the problem including expected versus actual behavior**:
I not sure this used to work faster, but I believe it was.
I expect date range query not t

[2020-10-22 21:39] elasticmachine commented on #64086
Pinging @elastic/es-search (:Search/Search)

[2020-10-22 22:20] rjernst commented on #64048
@breskeby Can you take a look? Seems like an issue with the java home we pull for building bwc distros, specifically on windows CI hosts.

[2020-10-22 22:22] probakowski commented on #64012
Another one: https://gradle-enterprise.elastic.co/s/iltl43i7fmc5k

[2020-10-22 22:25] rjernst commented on #64029
@williamrandolph Can you take a look at this? Seems it might be related to the change you made in https://github.com/elastic/elasticsearch/pull/57769.

[2020-10-22 22:27] rjernst commented on #64050
@pgomulka Can you take a look?

[2020-10-23 03:42] arielzach commented on #64028
I can confirm that this also happens in version 7.9.2

[2020-10-23 04:57] alishahusain commented on #62934
Thanks! I went with the second option in my pull request here: #64091

[2020-10-23 05:39] rokcarl commented on #45187
So, to recap, there's no bug demonstrated yet, correct? You just have to use `_rollup_search`.

[2020-10-23 07:46] jze1 commented on #63755
[ldb-dvm-system-2020.10.23] [[ldb-dvm-system-2020.10.23/ozUusy2TTMW2IxZt6riM2Q]] failed to apply mappings
java.lang.IllegalArgumentException: Mapper for [host_ip] conflicts with existing mapping:
[mapper [host_ip] has different [null_value] values]
        at org.elasticsearch.index.mapper.FieldMapper.merge(FieldMapper.java:308) ~[elasticsearch-7.9.0.jar:7.9.0]
        at org.elasticsearch.index.m

[2020-10-23 07:57] consulthys opened #64093 "Updating dense_vector field fails"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.9.1

**Plugins installed**: []
-

**JVM version** (`java -version`):
Elastic Cloud

**OS version** (`uname -a` if on a Unix-like system):
Elastic Cloud

**Description of the problem including expected versus actual behavior**:
An exception occurs when trying to update a `dense_vector` field.

Also worth noting that the exact same error o

[2020-10-23 08:24] abidub commented on #48988
The ability to match on ip_range and the enrich processor would be great.

[2020-10-23 09:02] davidkong0987 commented on #26861
Something very odd is happening and is related to this and the problem here: https://discuss.elastic.co/t/bulk-api-indexing-status-500-error-nullpointerexception-null/21331/3

A `BulkIndexError` specifically
`'error': {'type': 'parse_exception', 'reason': 'Failed to parse content to map', 'caused_by': {'type': 'json_parse_exception', 'reason': "Non-standard token 'NaN': enable JsonParser.Feature.A

[2020-10-23 09:12] rokcarl commented on #42720
How will v2 integration work with Kibana? Will additional work need to be done on Kibana as well to get the benefits of v2?

I would benefit from three improvements in the improved rollups in terms of data, but I would like to display the results on a dashboard, e.g. "give me the count of unique customers per week". It will be possible to get the data from Elasticsearch with the #33214 ticket for

[2020-10-23 09:15] vpzlin opened #64094 "big decimal value losed precision"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.4.2 / 6.8.9 / 7.9.0

**Plugins installed**: [none]

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): CentOS 7.7

**Description of the problem including expected versus actual behavior**:

Hello, ES team!
There is a precision losing problem when I'm using java client of ElasticSearch.
Will you

[2020-10-23 09:23] #63586 closed

[2020-10-23 11:24] iverase commented on #26286
Hi @dwilson1988,

thanks to bringing back this issue to our attention. I had a deeper look into the issue and I found out the problem. Currently for some polygons we seem to compute wrongly the orientation. I have just open a PR to fix the issue.

Changing the orientation can solve your issue now but it will fail once the fix is in place so you need to be careful.

[2020-10-23 12:24] iverase commented on #27954
I am closing this issue as BKD-backed geoshapes support multi-points and they do not show this behaviour.

[2020-10-23 12:24] #27954 closed

[2020-10-23 15:20] alexklibisz commented on #64069
`QueryShardContext#getFieldType` doesn't seem to exist. I've tried using `QueryShardContext#fieldMapper`, and there is a way for me to inject the mapping definition to the `MappedFieldType` so that I can get it back out. But, my concern is I'm not sure what will happen if there are > 1 fields with that type, but with different parameters, in the same index. For example, I can have one `elastiknn_s

[2020-10-23 17:09] dwilson1988 commented on #26286
Just to confirm, if my geometries are RFC7946 compliant, I should be okay, right?

[2020-10-23 17:28] cjcenizal opened #64099 "Support pagination in REST APIs"
## Situation
Management UIs such as Index Management currently provide client-side pagination of tabular information. For example, to show the user a table of the indices in the cluster, the client requests a complete list of indices and renders a subset of them into the table. As the user applies filters/search input and paginates through the table, the client performs the necessary logic to dete

[2020-10-24 00:26] sweikenb commented on #64026
Running into the same issue.

[2020-10-24 02:45] calm4wei opened #64101 "Long tail shard query inference"
A search request will be forwarded to all independent shards, but sometimes because a certain shard query takes too long, resulting in high latency for the entire request.
If when distributing requests to specific shards, first determine the load status and gc status of the node where the shard is located, and then choose to forward the request to the shard copy on the node with low load, which wi

[2020-10-24 03:22] calm4wei commented on #64099
When there are many indexes and shards, executing _cat/indices or _cat/shards on the client side will be very time-consuming and difficult to view the results.
I think the server can support the paging parameters _cat/indices?v&p=page:${pageNumber},size:${pageSize}, and then the rest api can use the incoming paging parameters to request the server results

[2020-10-24 04:12] calm4wei opened #64102 "Request to support quota ratelimit"
### Situation
Write and query requests are configured with corresponding thread pool and queue size. When the request queue is full, the server adopts a rejection strategy to reject new requests in order to achieve the purpose of request flow limitation.

### Problem
However, when the bulk thread pool or query thread pool is running at full capacity, the CPU utilization may continue to maintain at

[2020-10-24 20:30] aahlenst commented on #64026
AdoptOpenJDK member here... 15.0.1 is out. Sorry for the problems with CentOS 6. We plan to keep glibc 2.12 support around as long as it is supported by OpenJDK and technically possible. If we ever cause problems again, please make some noise. I almost missed the issue reference.

[2020-10-24 22:08] alexklibisz commented on #64069
Update: I was able to retrieve the mapping using `QueryShardContext#fieldMapper`. I hadn't realized that the type name and the field name can be different. Once I started correctly setting the field name, I was able to retrieve the MappedFieldType for the field. I'm still not sure what the original issue was with the `GetFieldMappingsRequest()`. But just accessing the MappedFieldType is a simpler

[2020-10-24 22:08] #64069 closed

[2020-10-25 14:39] joropito commented on #61822
So, could be availiable in future releases?

[2020-10-25 18:23] original-brownbear opened #64115 "[CI] Test Failure in CloneSnapshotIT.testBackToBackClonesForIndexNotInCluster"
This failed exactly once in `7.x` but I can't really explain why and how (https://gradle-enterprise.elastic.co/s/jeugiua6ddqlc).

[code]

failed without any exception by simply failing to ever make progress on one of the clone operations in that test leading to a timeout:

[code]

I'll try to reason about this a little more and add some logging to see if I can track it down.

[2020-10-25 18:23] elasticmachine commented on #64115
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-25 19:05] original-brownbear commented on #64115
Tracked it down in https://github.com/elastic/elasticsearch/pull/64116

[2020-10-25 19:28] jaymode commented on #38646
This might finally be fixed in JDK 16 https://github.com/openjdk/jdk/commit/953e472dedf55bc1a831af36637547b5a1fd7af7

[2020-10-26 00:08] praveenmak commented on #26269
I see to have similar issue with Elasticsearch 7.7.0

This is the Java -version. My RAM parcent should its 99% full and Buffer/Cache has 80-90 GB.

                    total        used       free      shared  buff/cache   available
Mem:           125G       34G        2.3G     16M      88G             90G
Swap:            0B          0B          0B

openjdk 14 2020-03-17
OpenJDK Runtime Environme

[2020-10-26 00:51] munkyu commented on #60493
@wushuaiwangyin I just upgrade ES cluster from v7.6.2 to v7.8.1 and java high level rest client from v7.4 to v7.8.1. Until now, the problem has not been reproduced. In my opinion, this is a bug. There were several bug fixes related to the scroll context during the upgrade to v7.8.1. These could be fixed on this bug, too.

[2020-10-26 02:40] matschaffer commented on #63872
That's pretty much how we've been operating until the 7.x upgrade. Then we hit the shard limit, bumped it up, then implemented dynamic shard calculation to our index template tooling. Which is what led to this issue.

It does kinda-sorta work, but not very well.

The issue is compounded by the scale as well. Many regions would be fine on 3 shards of primary ingest, but our largest regions need mor

[2020-10-26 02:45] dnhatn commented on #64055
Closes in favor of https://github.com/elastic/elasticsearch/issues/64052

[2020-10-26 02:45] #64055 closed

[2020-10-26 02:49] wushuaiwangyin commented on #60493
Where is the commit? This bug is sporadic.At present, only one cluster of multiple clusters has found this problem.

[2020-10-26 03:24] dnhatn commented on #64028
Hi @arielzach,

Do you use [_scroll](https://www.elastic.co/guide/en/elasticsearch/reference/current/scroll-api.html)? And, do you [clear](https://www.elastic.co/guide/en/elasticsearch/reference/current/clear-scroll-api.html) them after using?

Ok, can you share these?

- Number of search contexts in `SearchService.activeContexts`
- `keepAlive`, `lastAccessTime`, and `scrollContext` of these searc

[2020-10-26 05:14] munkyu commented on #60493
You'd better check the git history of "server/src/main/java/org/elasticsearch/search/SearchService.java"

[2020-10-26 06:13] hxnan commented on #32021
Any news about this issue?
This [bug report](https://bugs.openjdk.java.net/browse/JDK-8076999) is open for five years now.

[2020-10-26 06:25] jkakavas commented on #32021
Hi @hxnan , we haven't prioritized work on this yet ,is this something that affects you when running elasticsearch?

Just to be clear, if you are interested in the upstream bug, then probably the jvm bug tracker is the best way to keep track of this

[2020-10-26 06:58] lp2jx0309 opened #64121 "org.elasticsearch.client.RestClient.blacklist is not empty when one node is failed forever"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.8.6
**Plugins installed**: []

**JVM version** (`java -version`):
8
**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:
If a server node fails permanently, the node in the blacklist will not be cleared, and requests will still be sent to the node every 30 minute

[2020-10-26 07:02] lp2jx0309 commented on #64121
sniff will clear blacklist

[2020-10-26 07:02] #64121 closed

[2020-10-26 07:29] hxnan commented on #32021
I met the same issue when I use the netty tls feature, =new EncryptedPrivateKeyInfo();
The pkcs#5 V1 `PBE-SHA1-3DES`  is not right choice in production env.
So maybe I can get get some advice from here.
Thanks.

[2020-10-26 07:38] ywangd commented on #56903
This `DocumentMissingException` failure is weird. I wonder whether it could also be caused by [dirty read](https://github.com/elastic/elasticsearch/issues/52400)?

[2020-10-26 08:11] pgomulka commented on #64050
@shirkan can you please send me the full reproduction steps ?
most importantly what was the document and the timestamp field when you created it?

[2020-10-26 08:36] tvernum commented on #56903
Yes, I'm pretty sure it is.
There's 2 problems

1. The token service doesn't deal with an already-invalidated document being deleted while we're attempting to invalidated it again
2. The test is susceptible to dirty reads.

I'm working on a fix to 1, and then I'll probably just put in an `assertBusy` to deal with the 2nd part since it's purely a test issue.

[2020-10-26 08:50] davidkyle commented on #64048
Task `:distribution:bwc:maintenance:buildBwcOssZip` is also failing with the same error.

https://gradle-enterprise.elastic.co/s/fcbt2somad2wc
https://gradle-enterprise.elastic.co/s/rqr52nupnh4ea
https://gradle-enterprise.elastic.co/s/ccqw7gdgayylo

[2020-10-26 09:08] DisasteR commented on #63877
Really sorry to ask but are there any updates for this ?

[2020-10-26 09:11] davidkyle opened #64136 "SearchableSnapshotDirectoryTests testClearCache Failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/g3apnwvkbbras
https://gradle-enterprise.elastic.co/s/oaodysf3koblg
https://gradle-enterprise.elastic.co/s/wa6guclg3dte4
https://gradle-enterprise.elastic.co/s/wuo3txzapb4oy

**Repro line**:
./gradlew ':x-pack:plugin:searchable-snapshots:test' --tests "org.elasticsearch.index.store.SearchableSnapshotDirectoryTests.testClearCache" \
  -Dtests.se

[2020-10-26 09:18] jimczi commented on #64086
The [discuss forum](https://discuss.elastic.co/c/elastic-stack/elasticsearch/6) is better suited for this kind of question. We reserve github for verified bugs and feature requests so I hope that you don't mind if I close this issue. Our nightly benchmarks didn't spot any regression so I suspect that the slowdown comes from your setup. It might be the number of docs that you paginate at once but y

[2020-10-26 09:18] #64086 closed

[2020-10-26 09:25] jimczi commented on #64101
Have you heard of adaptive replica selection  ? It is explained [here](https://www.elastic.co/fr/blog/improving-response-latency-in-elasticsearch-with-adaptive-replica-selection) and is now the default strategy for search requests in Elasticsearch.
So I hope that you don't mind if I close this issue since the feature you're asking is already implemented.

[2020-10-26 09:25] #64101 closed

[2020-10-26 09:25] HarelM commented on #64086
Thanks for the info and your detailed response.
I believe there's an issue here in terms of performance for the date range query, might not be a regression issue but a general not optimized performance. I have decided to do a workaround and to "page" the request from the client side in order to be able to better handle client side timeouts.
If you don't agree with my observation, that's totally fi

[2020-10-26 09:27] jimczi commented on #64094
Closing in favor of https://github.com/elastic/elasticsearch/issues/46934. We don't provide big decimals data type but the feature is discussed in the linked issue.

[2020-10-26 09:27] #64094 closed

[2020-10-26 09:27] original-brownbear commented on #64136
This was already fixed in https://github.com/elastic/elasticsearch/pull/64100 concurrently

[2020-10-26 09:34] davidkyle opened #64141 "SearchableSnapshotDirectoryTests cleanup failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/wccywnq4vwa7i
https://gradle-enterprise.elastic.co/s/ape5azhubsr52
https://gradle-enterprise.elastic.co/s/6gi3bcwslc55a

**Repro line**:
./gradlew ':x-pack:plugin:searchable-snapshots:test' --tests "org.elasticsearch.index.store.SearchableSnapshotDirectoryTests" \
  -Dtests.seed=85356C2FA0D407CA \
  -Dtests.security.manager=true \
  -Dtests.lo

[2020-10-26 09:36] jimczi commented on #64093
The [`update` API](elastic.co/guide/en/elasticsearch/reference/current/docs-update.html) expects a `doc` or a `script` in the body so this has nothing to do with the `vector` field.
The request should be:

[code]

[2020-10-26 09:36] #64093 closed

[2020-10-26 09:38] consulthys commented on #64093
Sorry for the trouble 🤦‍♂️ my bad

[2020-10-26 09:43] jimczi commented on #64086
There's something odd in your setup that makes the request run for 20s but I'd not blame the date range query without clear evidence. As I said, you should learn a lot by running the hot threads while the request is running on the node. If you cannot understand the output, don't hesitate to open a topic in the forum. Maybe there's a performance bug somewhere but the investigation may take time and

[2020-10-26 09:50] davidkyle commented on #59132
A new failure on master: https://gradle-enterprise.elastic.co/s/fseuecrqhx37m

[code]

The test is failing once or twice a week on 7.10, 7.x and master

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(build.branch),index:b646ed00-7efc-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:tes

[2020-10-26 09:52] noamkush opened #64142 "Cardinality aggregation missing from response inconsistently"
**Elasticsearch version**: 7.9.1 (reproducible on demo.elastic.co)

**Description of the problem including expected versus actual behavior**:
The response to the exact same search request sometimes contains the cardinality aggregation and sometimes it doesn't - the issue is transient.

**Steps to reproduce**:
The following request (on demo.elastic.co):
[code]

Results in:
[code]

And other times i

[2020-10-26 09:59] markharwood commented on #64045
Thanks y'all for the feedback.
I added a null test to the SignificantTextAggregatorFactory constructor

[2020-10-26 10:14] #64136 closed

[2020-10-26 10:20] davidkyle commented on #59132
**Muted**
master: 22b554e0f4d17b3f98fcaf806738218fcc7e4a97
7.x: ff5eb271d1924defdb2236bf6e609e35af2aa42d
7.10 : 51f8b0b8d2f7d4758f0f38534cf4846602021e7c

[2020-10-26 10:27] davidkyle opened #64149 "[CI] DataTiersUsageTransportActionTests testCalculateMAD failures"
**Build scan**:
https://gradle-enterprise.elastic.co/s/n5hni2kkvpfpu/console-log?task=:x-pack:plugin:core:test
https://gradle-enterprise.elastic.co/s/w7ivqkxh4pyao/console-log?task=:x-pack:plugin:core:test

**Repro line**:
./gradlew ':x-pack:plugin:core:test' --tests "org.elasticsearch.xpack.core.DataTiersFeatureSetTests.testCalculateMAD" \
  -Dtests.seed=991EA0DD80DF089C \
  -Dtests.security.mana

[2020-10-26 10:27] elasticmachine commented on #64149
Pinging @elastic/es-core-features (:Core/Features/Features)

[2020-10-26 10:40] elasticmachine commented on #64142
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-10-26 10:55] davidkyle commented on #62716
More failures with the unknown option error:
[code]

The recent failures have all been on the master branch running the full cluster restart tests against 7.10. The old cluster (v7.10) fails to start with the above error.

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/449/console

I see that there isn't a simple fix for this, @breskeby is it possible to disable

[2020-10-26 11:33] davidkyle opened #64152 "[CI] MixedClusterClientYamlTestSuiteIT 'Create a snapshot and then restore it' failures"
**Build scan**:
https://gradle-enterprise.elastic.co/s/m62agbvicmhiy
https://gradle-enterprise.elastic.co/s/74gmzvgqiplla
https://gradle-enterprise.elastic.co/s/psp5un562yyzo

**Repro line**:
./gradlew ':qa:mixed-cluster:v7.0.0#mixedClusterTest' --tests "org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT" \
  -Dtests.method="test {p0=snapshot.restore/10_basic/Create a snapshot and then

[2020-10-26 11:33] elasticmachine commented on #64152
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-26 11:44] davidkyle commented on #63948
Also failing on 7.9 https://gradle-enterprise.elastic.co/s/xvofuzl46ajb6

This one contains the nested exception:
[code]

[2020-10-26 11:56] droberts195 opened #64154 "[ML] Add functionality to upgrade ML model state to 7.x format before upgrade to 8.0"
Currently the `autodetect` process has to know how to load model state formats going right back to version 5.5. In 8.x we would like to drop support for loading model states that predate 7.0. This means that during 7.x we must offer a way for users to easily upgrade model snapshots in 5.x or 6.x formats into the latest 7.x format.

Work was done for elastic/ml-cpp#1460 to add the necessary buildin

[2020-10-26 11:56] elasticmachine commented on #64154
Pinging @elastic/ml-core (:ml)

[2020-10-26 11:59] davidkyle commented on #64152
Muted 7.x: 786c5156341479dc04dc0e3557014de6ab653c53 and 7.10: 4545779415e837610c0db61c9668b197c92bafe7

[2020-10-26 12:20] #64045 closed

[2020-10-26 12:35] #20640 closed

[2020-10-26 12:47] droberts195 commented on #64154
Currently they all will, due to https://github.com/elastic/ml-cpp/issues/1545.  So https://github.com/elastic/ml-cpp/issues/1545 should be fixed before coding starts for this issue.

[2020-10-26 12:52] davidkyle commented on #62951
A failure on 7.x: https://gradle-enterprise.elastic.co/s/wenxxiji5twto

[code]

Reopening as there appears to be a few failures recently

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(build.branch,test.failed-testcases),index:b646ed00-7efc-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,qu

[2020-10-26 12:56] davidkyle commented on #62769
Another, this time on 7.9. https://gradle-enterprise.elastic.co/s/xuonekc5ocmgi

[code]

[2020-10-26 12:59] stefanobranco commented on #34015
Any progress? This is a pretty big concern for us, so if there's any way for us to support this feel free to let us know.

Also, is it correct that this would also allow intervals queries to be highlighted correctly?

[2020-10-26 13:02] maxio89 opened #64161 "BulkProcessor threads in waiting state"
After upgrading to 7.9.x versions (including the latest one 9.7.3) we can see increasing number of threads in waiting state while adding items to BulkProcessor.
[code]

Everything works fine in 7.7.1 version.

[2020-10-26 13:04] nik9000 commented on #64142
This sounds like something I may have broken when I was reworking the timing of aggs. And it *may* be fixed by #64016 which is an extension of a bug that I fixed that looked similar.

[2020-10-26 13:17] original-brownbear commented on #64152
This looks like it was caused by adding the new `index.uuid` setting and messing up in terms of BwC in https://github.com/elastic/elasticsearch/pull/56930:

[code]

looking into a fix

[2020-10-26 13:27] mschultz995 commented on #63002
Since enabling TRACE logging there weren't any events logged with this level. But what we see is, that Elasticsearch is starting to hang even without any cluster maintenance tasks run beforehand. According to the logs the Elasticsearch node seems to work flawlessly and suddenly without any warnings stops responding (HTTP Requests time out, logs aren't written anymore, Elasticsearch can not be stop

[2020-10-26 13:35] nik9000 commented on #64077
I just noticed this one! I've needed to test if a field has more than one value deep inside of a query implementation I'm working on. I'm fairly sure this information is available in Lucene for numbers but I have haven't checked if it is available for `keyword` style indexes. What would this mean for `text` fields? Are you interested in the number of actual fields or in the number of *tokens* the

[2020-10-26 14:00] romseygeek commented on #64077
If this is something to be exposed in field caps or mappings then we don't want to look at values in the index itself for performance reasons.  We've previously discussed adding flags to mappers to forbid multiple values in https://github.com/elastic/elasticsearch/issues/58523

[2020-10-26 14:04] #59195 closed

[2020-10-26 14:06] davidkyle commented on #62699
This failure was thought to be resolved by a Lucene bug fix in #63395 and unmuted in #63408 on the 7th October but since then there have been numerous failures on all active branches.

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(build.branch,test.failed-testcases),index:b646ed00-7efc-11e8-bf69-63c8e

[2020-10-26 14:20] tlrx opened #64167 "[CI] CcrRepositoryIT.testCcrRepositoryFetchesSnapshotShardSizeFromIndexShardStoreStats"
**Build scan**:
[https://gradle-enterprise.elastic.co/s/ys4oqzz22q5j4](https://gradle-enterprise.elastic.co/s/ys4oqzz22q5j4)

**Repro line**:

**Reproduces locally?**:
Haven't tried yet.

**Applicable branches**:
master and 7.x

**Failure history**:
[Failed 4 times last week](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-7d,mode:quick,to:

[2020-10-26 14:20] elasticmachine commented on #64167
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-10-26 14:29] dbakti7 commented on #64029
is there any workaround we can use as temporary measure?
maybe some patch on the elasticsearch-service.bat file?

[2020-10-26 14:38] davidkyle commented on #59413
Another failure https://gradle-enterprise.elastic.co/s/2cpqn575esnic

ping @tveasey @valeriy42 This issue with the missing feature importance has been open for a while, logging shows it is coming from the C++ side

[2020-10-26 14:52] davidkyle opened #64171 "MlDistributedFailureIT testJobRelocationIsMemoryAware failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/jblhglq5uutpq

**Repro line**:
./gradlew ':x-pack:plugin:ml:internalClusterTest' --tests "org.elasticsearch.xpack.ml.integration.MlDistributedFailureIT.testJobRelocationIsMemoryAware" \
  -Dtests.seed=B23A5FB64496149 \
  -Dtests.security.manager=true \
  -Dtests.locale=hr-HR \
  -Dtests.timezone=America/Scoresbysund \
  -Druntime.java=14

**Re

[2020-10-26 14:52] elasticmachine commented on #64171
Pinging @elastic/ml-core (:ml)

[2020-10-26 15:00] pugnascotia commented on #61656
That was indeed my concern too about pre-creating indices. So perhaps we can define some common patterns for dealing with possibly-not-existing-yet indices, and creating them on-demand. Then our plugins and 3rd-party plugin authors could just hook into the common framework.

[2020-10-26 15:06] jaymode commented on #63002
When the cluster is in this state it almost sounds like a GC stop the world; have you sign any signs of memory issues? What about thread dumps in this state?

I do wonder what would happen if you hit `http://"${elasticsearch_ipport}"/` rather than health? The health request needs to go to the master node since you're not running a local request whereas just hitting `/` is executed locally. Obvious

[2020-10-26 15:13] droberts195 commented on #64171
The log shows this:

[code]

This makes it look like the jobs got assigned using job counts (since they alternate between the two available nodes) rather than memory.  So by finding the small jobs split between 2 nodes rather than 1 the test is failing in the way it was designed to fail if the code doesn't work as expected.

It means some of the time when an ML node leaves the cluster we are proba

[2020-10-26 15:22] polyfractal commented on #42720
The way it is shaping up right now, v2 should "just work" in Kibana without extra configuration (unlike v1, which needs special Rollup index patterns).  Since we're building dedicated field types that store pre-aggregated rollup data, this means we can use the regular search endpoint to search both regular and rollup data.  So rollup data is treated just like any other data, which also means that

[2020-10-26 15:28] wylieconlon commented on #64077
@nik9000 It's not relevant for the use cases I was considering where `fielddata` is disabled, but I imagine that if a user has enabled `fielddata` then we should treat it as a multi-value field. In the default case it would be single-value.

[2020-10-26 15:31] amitmbm opened #64173 "Wrong documentation of pattern_replace token filter"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.9.1
**Plugins installed**: []
None
**JVM version** (`java -version`):
11
**OS version** (`uname -a` if on a Unix-like system):
11.0.7.10.1
**Description of the problem including expected versus actual behavior**:
Docs of pattern_replace filter https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-pattern_replace-tokenf

[2020-10-26 15:34] amitmbm commented on #64173
I already have the PR ready, and once triage will raise it.

[2020-10-26 15:50] #60039 closed

[2020-10-26 16:19] original-brownbear commented on #56361
Yea I think this is done. Closing, thanks @fcofdez !

[2020-10-26 16:19] #56361 closed

[2020-10-26 16:32] original-brownbear commented on #62690
This is still happening on master I'm afraid. E.g. https://gradle-enterprise.elastic.co/s/dpyugiitqgvpm/tests/:server:internalClusterTest/org.elasticsearch.cluster.ClusterHealthIT/testHealthOnMasterFailover#1 just now

[2020-10-26 16:32] jtibshirani commented on #64069
@alexklibisz great you were able to get it working. Apologies about the naming confusion -- `QueryShardContext#fieldMapper` was recently renamed to `getFieldType`.

[2020-10-26 16:37] arielzach commented on #64028
We use **_scroll** but we only use **clear** when we have an error.

SearchService.activeContexts: 300
keepAlive: 5m

I don't know where to look for these values: lastAccessTime and scrollContext

![image](https://user-images.githubusercontent.com/64101789/97180947-7c5ec780-1779-11eb-90b3-e51701f814ae.png)

[2020-10-26 16:53] dnhatn commented on #64028
You also need to clear _scroll when you finish scrolling; otherwise, the scroll contexts will be there until its sessions are expired.

I don't think there is a memory leak here as all open search contexts are scroll contexts. I am closing this issue. Thanks very much for your interest in Elasticsearch.

[2020-10-26 16:59] #64028 closed

[2020-10-26 17:08] imotov commented on #62934
@polyfractal yes I think it is +/- infinity because we want extended bounds to have no effect instead of extending to the entire range of double. I left some comments on PR.

[2020-10-26 17:12] arielzach commented on #64028
Why don't we have the same problem with version 6.8?

[2020-10-26 17:47] elasticmachine commented on #64173
Pinging @elastic/es-docs (>docs)

[2020-10-26 17:47] elasticmachine commented on #64173
Pinging @elastic/es-search (:Search/Analysis)

[2020-10-26 17:48] elasticmachine commented on #64161
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-10-26 18:38] nik9000 commented on #62769
I checked out the commit hash gradle mentions and couldn't reproduce locally. If anyone can reproduce locally can they ping me? I haven't dug *too* deep but it looks like something that I'm going to need to consistently reproduce to debug.
[code]

[2020-10-26 18:44] jrodewig commented on #64173
@amitmbm Thanks for raising this. Please go ahead and open a PR. I'll be happy to review.

[2020-10-26 20:02] jbaiera commented on #50032
@chrisronline It would most likely be separate from this first pass at the migration API. We'll have to figure out if we want to roll it into this or create a different avenue for providing that information.

[2020-10-26 20:45] nik9000 commented on #64077
You can ask `Points` how many documents and how many points it contains - if they are the same then all docs are single valued. Is that the kind of metadata stuff we do with field caps?

[2020-10-26 20:47] mayya-sharipova commented on #64102
@calm4wei Thank you for submitting a feature request.

I would like to let you know what we already have in terms of throttling indexing:

1. Throttling indexing if merging can't catch up. This depends on the number of current merges.

2. Introduced in 7.9 [indexing back pressure]( https://www.elastic.co/guide/en/elasticsearch/reference/7.9/index-modules-indexing-pressure.html), this allows to bac

[2020-10-26 20:47] elasticmachine commented on #64102
Pinging @elastic/es-distributed (:Distributed/CRUD)

[2020-10-26 20:52] elasticmachine commented on #64099
Pinging @elastic/es-core-features (:Core/Features/CAT APIs)

[2020-10-26 22:03] costin commented on #63695
The issue is not about enforcing this in the grammar rather about identifying this pattern and unwrapping the shorter version inside the AST. So `where bool_field` is interpreted as `where bool_field == true`.
That is, the behavior for the user will not change.

[2020-10-26 23:31] tbrooks8 opened #64187 "Add configurable inter-node data transfer profiling"
Currently the transport layer keeps track of incoming and outgoing bytes. However, this does not provide the granularity to investigate which actions are contributing to data usage. We should discuss adding a mechanism to either permanently or temporarily provide more granular tracking.

One potential idea would be to add a dynamic setting which would enable tracking of a map->byte counter for inc

[2020-10-26 23:31] elasticmachine commented on #64187
Pinging @elastic/es-distributed (:Distributed/Network)

[2020-10-26 23:36] tbrooks8 commented on #59116
I raised this and your benchmark scenario as a discussion topic for the team. I will respond with some feedback from those conversations in the next day or two.

[2020-10-27 01:32] vpzlin commented on #64094
Hi, jimczi.
I'm still considering it as a bug. Did you see my description above?
When I downloaded the source code 'jackson-core-2.10.4-sources.jar' and decompressed it into my project, and then altered codes in java class 'ParserBase.java' as below:
====================================================================
/********* codes before *********/
if (expType == NR_BIGDECIMAL) {
_numberBigDec

[2020-10-27 04:29] amitmbm commented on #64173
@jrodewig @polyfractal  thanks for your prompt response on this, I will soon raise the PR 👍

[2020-10-27 04:44] amitmbm commented on #64173
@jrodewig  here you go, please review my PR https://github.com/elastic/elasticsearch/pull/64189 related to this issue and let me know your review comments, and I would address them.

[2020-10-27 04:59] astefan opened #64190 "Different error message for ignore_unavailable=true search"
Tested this on master with the following `_search` URL `/inexistent/_search?allow_no_indices=false&ignore_unavailable=true` where `inexistent` is an index name that doesn't exist in the cluster.

Without Security enabled, the error message contains the index name surrounded by square brackets and the `index` element of the IndexNotFoundException class is correctly set to `inexistent` (`"index": "i

[2020-10-27 04:59] elasticmachine commented on #64190
Pinging @elastic/es-security (:Security/Security)

[2020-10-27 07:54] hendrikmuhs opened #64192 "TransformContinuousIT.testContinousEvents DateHistogramGroupByOtherTimeFieldIT failures"
**Build scan**: gradle-enterprise.elastic.co/s/wenxxiji5twto

**Repro line**: gradlew ':x-pack:plugin:transform:qa:single-node-tests:javaRestTest' --tests "org.elasticsearch.xpack.transform.integration.continuous.TransformContinuousIT.testContinousEvents" -Dtests.seed=5766C4F5BD7A09B -Dtests.security.manager=true -Dtests.locale=es-CO -Dtests.timezone=Jamaica -Druntime.java=8 -Dtests.fips.enabled=t

[2020-10-27 07:54] elasticmachine commented on #64192
Pinging @elastic/ml-core (:ml/Transform)

[2020-10-27 07:55] hendrikmuhs commented on #62951
As said, this is not the same issue, but a new one, I created #64192.

[2020-10-27 07:55] #62951 closed

[2020-10-27 08:05] #47275 closed

[2020-10-27 08:35] sebelga commented on #58128
Could this be taken one step further and be able to move to the next phase without knowing/specifying the action?

[code]

[2020-10-27 09:07] elasticmachine commented on #64141
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-27 09:10] original-brownbear commented on #64141
This specific failure is already fixed by https://github.com/elastic/elasticsearch/pull/64100 but I'll leave this one open since we have a very similar failure still that's fixed by the not yet merged https://github.com/elastic/elasticsearch/pull/64180

[2020-10-27 09:26] carolcoral opened #64194 "Timeout connecting to [/localhost:9200]"
es version:7.9.2
java:1.8
maven:
[code]
When i use "curl" to get source ,it worked and success.But when i use it in my program,it always "timeout".
![image](https://user-images.githubusercontent.com/8952687/97282074-32f5a180-1879-11eb-8f41-53b5cc61f7c2.png)
Here is my code, teach me how can i resolve it, please.
[code]
When i want to search source from it, it note me "Caused by: java.net.ConnectEx

[2020-10-27 09:31] #63719 closed

[2020-10-27 09:34] romseygeek commented on #64194
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2020-10-27 09:34] #64194 closed

[2020-10-27 09:50] astefan opened #64197 "No index name in error message with ignore_unavailable=true and allow_no_indices=false"
Tested in master the following `_search` request `/inexistent1,inexistent2/_search?allow_no_indices=false&ignore_unavailable=true`.
Which gives
[code]

It is strange to see the reason as `"reason": "no such index [null]"` where there is a list of patterns/resources that cannot be resolved into concrete indices. Code-wise, this INFE seems to come from `IndexNameExpressionResolver:303`.

[2020-10-27 09:50] elasticmachine commented on #64197
Pinging @elastic/es-search (:Search/Search)

[2020-10-27 10:49] romseygeek opened #64202 "Add tests for aggregations over annotated text"
The annotated text field mapper should support significant terms and significant text
aggregations, but we don't actually have any tests to check this.

[2020-10-27 10:49] elasticmachine commented on #64202
Pinging @elastic/es-search (:Search/Mapping)

[2020-10-27 10:59] mschultz995 commented on #63002
Unfortunately there's no sign of a resource issue. Heap usage looks good and so does memory consumption in general. Also we have thread dumps attached to this issue some comments above.

When Elasticsearch hangs `http://"${elasticsearch_ipport}"/` is also unresponsive.

And I have to mention that we are running Elasticsearch as single node "cluster", so the instance is data and master node.

[2020-10-27 11:11] chingis-elastic commented on #63872
That's interesting - how exactly its determined? Does node size influence here?

[2020-10-27 11:18] jakommo opened #64203 "Adding a GeoIP2 database in $ES_CONFIG/ingest-geoip results in node not starting if using default filename"
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 7.9.3, Build: default/tar/c4138e51121ef06a6404866cddc601906fe5c868/2020-10-16T10:36:16.141335Z, JVM: 15

**Plugins installed**: []

**JVM version** (`java -version`): Bundled

**OS version** (`uname -a` if on a Unix-like system):  Linux es-jre2 5.9.1-arch1-1 #1 SMP PREEMPT Sat, 17 Oct 2020 13:30:37 +0000 x86_64 GNU/Linux

**Descri

[2020-10-27 11:37] elasticmachine commented on #64203
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-10-27 11:58] XANi opened #64207 "elasticsearch-keystore requirement makes it needlesly obtuse to automate"
Before (using Puppet to automate):

adding:

* create a template file
* deploy a template to the machine
* make sure only ES can read a file

changing:

* secret key changed ? template will take care of that, trigger any hook if necessary

all of that takes miliseconds for the Configuration Management software to do

After keystore

adding:

* make sure elasticsearch have WRITE PERMISSIONS TO ETC

[2020-10-27 12:03] elasticmachine commented on #64207
Pinging @elastic/es-security (:Security/Authentication)

[2020-10-27 12:43] nik9000 commented on #64142
I've created a local reproduction and confirmed that it still hits master. This happens when a few things line up:
1. Some shards map the field that you are running the `range` on and some do not.
2. You are querying enough shard to kick in the can_match phase (128).
3. Your query matches no docs and we recognize this during the can_match phase.
4. The shards that don't map the field for the `rang

[2020-10-27 12:48] nik9000 commented on #64142
Its a bit simpler than that, I just discovered: all you need is for the date_range to target an index that doesn't map the target field. That'll get you the same results. `can_match` comes up on `demo.elastic.co` because it has lots of shards and it makes the results more confusing because, well, some shards *do* map that field so you'd expect not to use the unmapped implementation. But can_match

[2020-10-27 12:49] original-brownbear commented on #64152
Fixed by #64164

[2020-10-27 12:49] #64152 closed

[2020-10-27 13:07] elasticmachine commented on #64207
Pinging @elastic/es-core-infra (:Core/Infra/Settings)

[2020-10-27 13:11] krejkrejkrej commented on #47764
Apart from a "me too" on this request, let me also add my use case for this functionality. Similar, but slightly different.

We have one collection of time based log index series that are important, there must always be space available in the cluster to ingest new logs for these series. There are also other less-important log index series in the cluster. I want to set a hard limit on the size of t

[2020-10-27 13:19] henningandersen opened #64215 "CachedBlobContainerIndexInputTests.testRandomReads failure"
**Build scan**: https://gradle-enterprise.elastic.co/s/tiqw5pjr4tiwk

**Repro line**:
[code]

**Reproduces locally?**:
No.

**Applicable branches**:

At least 7.x, that is where it failed on #64160

**Failure history**:

Looks like it only failed [once](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(_s

[2020-10-27 13:19] elasticmachine commented on #64215
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-27 13:20] original-brownbear commented on #64215
This also failed once for me locally on `master`.

[2020-10-27 13:24] joegallo commented on #64203
Related to #36949, which added the `assertDatabaseExistence` checks.

[2020-10-27 13:33] #64173 closed

[2020-10-27 14:23] droberts195 opened #64225 "[ML] Add total memory available to ML cluster-wide to ML info response"
It is useful to know the total amount of native memory ML is allowed to use cluster-wide at a given time, for example when planning which subset of a large number of security jobs to enabled.

It is possible to calculate the quantity in a client given knowledge of the node attributes and cluster settings.  However, this breaches encapsulation by duplicating a formula that is used in Elasticsearch

[2020-10-27 14:23] elasticmachine commented on #64225
Pinging @elastic/ml-core (:ml)

[2020-10-27 15:28] danhermann opened #64231 "Hidden indices are incorrectly returned in a number of APIs"
**Elasticsearch version** (`bin/elasticsearch --version`): 8.0.0-alpha (still investigating earlier versions)

**Description of the problem including expected versus actual behavior**:

A number of APIs including `_cat/indices` are returning at least some hidden indices by default even though `expand_wildcards` defaults to `open,closed` and should exclude hidden indices.

I'm still investigating t

[2020-10-27 15:28] elasticmachine commented on #64231
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-10-27 16:46] dakrone commented on #58128
@sebelga yes I think it'd be nice to be able to move to the beginning of a phase that way also.

[2020-10-27 16:48] albertzaharovits opened #64234 "Request body auditing for selected request types"
`xpack.security.audit.logfile.events.emit_request_body` is used to toggle REST request body auditing.
This is a coarse control. I think it makes sense to be able specify auditing the body for certain requests but not others, eg only for searches but not for indexing.

[2020-10-27 16:48] elasticmachine commented on #64234
Pinging @elastic/es-security (:Security/Audit)

[2020-10-27 16:59] #64141 closed

[2020-10-27 17:00] pa-jberanek opened #64237 "Default jvm.options specifies GC which has been removed in Enterprise Linux OpenJDK 11 build"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.9.3
**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "11.0.8" 2020-07-14 LTS
OpenJDK Runtime Environment 18.9 (build 11.0.8+10-LTS)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.8+10-LTS, mixed mode, sharing)

**OS version** (`uname -a` if on a Unix-like system):
CentOS 7.8
3.10.0-1127.19.1.el7.x86_64 #1 SMP Tue

[2020-10-27 17:12] chatumoh opened #64238 "Incorrect type check in SQL API"
I am using elastic v7.5.2  I have added a field say **custNum** of type long in index mapping for an Index **A**.
Under Index patterns, the Field type is shown as Number.

I queried the same index **A** using SQL API with multiple values(starting with values in integer range) for **custNum** field within SQL IN clause i.e. **SELECT * FROM A WHERE custNum in (2997,299738,299742,3000270011,29975)**

[2020-10-27 17:13] shawnz commented on #56800
It would be very useful to have an "on_success" for cleaning up fields already processed, for example:

[code]

[2020-10-27 17:53] dakrone commented on #32568
Closing this as a duplicate of #27174

[2020-10-27 17:53] #32568 closed

[2020-10-27 19:05] jbaiera commented on #64192
Had a couple more failures of this test today:

https://gradle-enterprise.elastic.co/s/z73tyatcbz5dy
https://gradle-enterprise.elastic.co/s/x3lauci63pvny

[2020-10-27 19:42] jasontedor commented on #64237
Sorry that you're having trouble. Alas, I am not able to reproduce this, and it would surprise me if the LTS build of JDK 11 removed CMS since the removal was only slated for [JDK 14](https://openjdk.java.net/jeps/363). The implementation of this removal was that CMS was removed in JDK 14, but the flags were ignored, and then in JDK 15 it was an error to use the CMS flags.

I installed the package

[2020-10-27 19:45] #64142 closed

[2020-10-27 19:51] jasontedor commented on #64203
I want to clarify that this is deliberate, because those are not custom databases. We ensure that the built-in databases are loaded from the ingest-geoip module path, and custom databases are treated as configuration files from the config directory. One reason we did this was to ensure that users didn't have stale database files sitting around from the time when these database files *were* unpacka

[2020-10-27 20:22] ofir123 opened #64245 "[Feature Request] More Index Templates Pattern Matching Options"
We love the new index templates API, and are trying to migrate.
For each data source we have, our current templates cover two patterns: `["*-<source>", "*-<source>-*"]` (the first * is for date, and the second is for possible future reindexing suffixes like `-new` or `-backup`).

The new API doesn't allow pattern conflicts for index templates with the same priority, like we can theoretically have

[2020-10-27 20:36] elasticmachine commented on #64245
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-10-27 20:51] rylnd commented on #63855
Thanks for the help here! I've opened https://github.com/elastic/kibana/issues/81857 to address this on the kibana side 👍

[2020-10-27 20:51] #63855 closed

[2020-10-27 21:26] jaymode opened #64251 "Interaction between flood stage and system indices"
When a node hits the flood stage watermark, all indices on that node get the `index.blocks.read_only_allow_delete` setting applied with a value of `true`. This currently applies to system indices as well as data indices. When this happens, system operations that require writes will begin to fail, which is acceptable for certain non-critical actions but for critical actions we need to consider whet

[2020-10-27 21:26] elasticmachine commented on #64251
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-10-27 21:26] elasticmachine commented on #64251
Pinging @elastic/es-security (:Security/Authentication)

[2020-10-27 22:09] jtibshirani commented on #63304
We decided to move this to a team-wide discussion, as has implications beyond the search area.

[2020-10-27 23:18] pa-jberanek commented on #64237
Thank you for trying to reproduce the issue, and I learnt something new today...

The 'elasticsearch' RPM from the Elasticsearch yum repository comes with its own bundled JVM, which with 7.9.3 is Java 15!

The **actual** issue is that the server in question had been through numerous ES updates, but jvm.options had been modified by us to change the heap size. Due to this modification RPM updates cr

[2020-10-27 23:22] pa-jberanek commented on #64237
Looking at the RPM one could also use the ES_JAVA_OPTS variable in /etc/sysconfig/elasticsearch. Both methods are mentioned in the current https://www.elastic.co/guide/en/elasticsearch/reference/current/heap-size.html

[2020-10-27 23:28] pa-jberanek commented on #64237
Given all the above, I'm happy to close this ticket.

[2020-10-27 23:28] #64237 closed

[2020-10-27 23:43] #63702 closed

[2020-10-27 23:43] #64012 closed

[2020-10-28 00:43] ravikesarwani commented on #50032
@jbaiera Other than "email setup" is the code checked in and available for SM team to integrate?

[2020-10-28 01:00] williamrandolph commented on #64029
@dbakti7 I've reproduced the bug and will create a PR with a code change shortly. Thank you for reporting this.

[2020-10-28 01:48] jasontedor commented on #64237
That's right, and that's what we encourage users to be using. 😇

Yeah, it's exactly for this reason that we introduced the `jvm.options.d` mechanism in #51882.

Yeah, while this mechanism exists, it is mostly useful for testing and we do not consider it the preferred way to configure the heap size.

I'm glad that you were able to get to the bottom of the issue. Thank you for reporting back.

[2020-10-28 02:03] jasontedor commented on #64237
I opened #64256 to clarify the docs.

[2020-10-28 05:12] tvernum commented on #64251
There's nothing that writes to the security indices here.

[2020-10-28 06:37] tvernum opened #64260 "In IntegTest, TransportClient resets Node Roles"
I've marked this as a test failure because I think this only matters in IntegTest, but it's possible there's an implication I haven't noticed.

`TransportClient.buildTemplate` calls `DiscoveryNode.setAdditionalRoles`.
Because the XPackClientPlugin doesn't implement `getRoles`  that means that the TransportClient sets the additionalRoles to an empty set.

However, the `roleMap` in DiscoveryNode is

[2020-10-28 06:37] elasticmachine commented on #64260
Pinging @elastic/es-core-infra (:Core/Infra/Transport API)

[2020-10-28 06:37] elasticmachine commented on #64260
Pinging @elastic/es-core-features (:Core/Features/Features)

[2020-10-28 06:44] henningandersen commented on #64102
@calm4wei thanks for your interest in improving Elasticsearch. In addition to Mayya's questions, I would like to be sure I understand correctly the symptom/consequences you are faced with:

I think you mean that each bulk request will be delayed so much that you think it was better to reject it? Or does this concern the impact on other requests like searches? Can you elaborate on the symptoms as w

[2020-10-28 08:00] #26286 closed

[2020-10-28 08:38] #63529 closed

[2020-10-28 08:49] astefan commented on #63855
@rylnd heads up, I'm about to merge in 7.10 the following backport https://github.com/elastic/elasticsearch/pull/64267 that might affect the error type displayed in some scenarios. The original issue is here https://github.com/elastic/elasticsearch/issues/63529.
The PR itself contains some tests that show the way the error message will look like after the merge is done.

[2020-10-28 09:16] pa-jberanek commented on #64237
Another doc location this is discussed?

https://www.elastic.co/guide/en/elasticsearch/reference/current/jvm-options.html

[2020-10-28 11:12] costin commented on #49594
`sequence` has been available since 7.9. There are discussions whether `join` is actually needed; it is not currently planned for 7.11 GA

[2020-10-28 11:12] #49594 closed

[2020-10-28 11:12] costin commented on #54988
Closing since `join` is not scheduled for GA.

[2020-10-28 11:12] #54988 closed

[2020-10-28 11:15] #63240 closed

[2020-10-28 11:19] costin opened #64273 "EQL: remaining tasks for 7.11"
The following features/bugs are desired for 7.11:

- [x] add wildcard pattern to `:` operator (#65154)
- [x] descending / tail ordering by default (#58646)
- [x] multiple arg for `:` ~~and wildcard / regex~~ (#64388)
- [x] add support for `?` in wildcard pattern for `:` operator (#65536)
- [x] enable all correctness tests (#65155)

Outside the scope but would be nice to have (moved after 7.11):
-

[2020-10-28 11:19] elasticmachine commented on #64273
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-28 11:19] costin commented on #49581
Replacing this long standing issue with the remaining tasks for 7.11 at https://github.com/elastic/elasticsearch/issues/64273

[2020-10-28 11:19] #49581 closed

[2020-10-28 11:21] costin commented on #49627
Currently there are no plans to introduce other pipes for 7.11 GA hence why I'm closing the issue.
A new issue should be opened if this topic needs to be revisited.

[2020-10-28 11:21] #49627 closed

[2020-10-28 11:44] jasontedor commented on #64260
It is not clear to me why we even register these additional roles in the transport client. Transport clients do not take on these roles, and the role-handling code is built in a way that unknown roles can be handled (it needs to, since it might be talking to a new node that knows about roles the current node/client does not know about). I pushed the change that registered them in 2bcc49424d6c0dba1

[2020-10-28 11:45] jasontedor commented on #64260
I wonder if it's merely because need to be more careful in some of our tests and copy the node settings into the transport client settings (as you've done in the start basic trial license tests).

[2020-10-28 12:42] spinscale opened #64281 "Exception in Explain API: async actions are left after rewrite"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.9.3

**Steps to reproduce**:

[code]

returns

[code]

[2020-10-28 12:48] jasontedor commented on #64237
@pa-jberanek There is already a comment on that page that the preferred way of configuring JVM options is via `jvm.options.d`.

[2020-10-28 12:53] #64052 closed

[2020-10-28 13:00] jasontedor commented on #64260
So the change in #64276 passes CI, indicating that we only need to not be setting node.roles on the transport client in tests.

[2020-10-28 13:26] vinitpatni opened #64283 "java.lang.StackOverflowError for the entire cluster"
We are trying to get the query which produced the error but suddenly some of the data node of the cluster got this stackoverflowerror:  It seems to be the bug inside this version of elasticsearch. Is this fixed in the new version

Elasticsearch version:
5.6.7

java.lang.StackOverflowError: null

        at java.util.Collections$UnmodifiableCollection.isEmpty(Collections.java:1031) ~[?:1.8.0_212]

[2020-10-28 13:56] markharwood commented on #51840
One approach might be to send "sloppy" and "strict" queries as two separate searches in an msearch.

The strict query is the one we pin our hopes on e.g. a phrase query and the sloppy query is the fallback we rely on if the strict query has no matches. The trick to avoiding wasted compute on the sloppy query is to introduce a new `fail-if` query type that would take the strict query as a nested el

[2020-10-28 14:23] #63976 closed

[2020-10-28 15:21] elasticmachine commented on #64281
Pinging @elastic/es-search (:Search/Search)

[2020-10-28 15:40] williamrandolph commented on #64029
@dbakti7 If you want to try out the changes I'm making, there is a diff for `elasticsearch-service.bat` on this pull request: https://github.com/elastic/elasticsearch/pull/64254

[2020-10-28 15:46] ebeahan commented on #48878
I wanted to circle back on an earlier point in the discussion: https://github.com/elastic/elasticsearch/issues/48878#issuecomment-566542315

The exchange suggested that `version` may be compatible with `keyword`, similar to what was done with the recently introduce `wildcard` field type included as part of the `keyword` type family. We had hoped to adopt `version` into ECS as a non-breaking change

[2020-10-28 16:30] PhaedrusTheGreek commented on #32238
This also seems to affect a number of other API calls including:

[code]

[2020-10-28 17:12] elasticmachine commented on #64238
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-10-28 17:28] PhaedrusTheGreek commented on #58396
Another consideration here would be the use of an API Key via HTTP Header

e.g.:

[code]

[2020-10-28 17:59] jimczi commented on #64077
Don't you have this information in the response already ? The sum is greater than the doc count so you have some documents that have multiple values. Can you clarify what you'd like to do with this information at the field caps level ? It's hard to see why it would be helpful to know globally and what actions you can trigger from this info.

[2020-10-28 18:20] williamrandolph commented on #59369
Without feedback on the issue, we are unable to investigate any further, and are closing the issue.

[2020-10-28 18:20] #59369 closed

[2020-10-28 18:57] jtibshirani commented on #61550
@polyfractal brought up the good point that some telemetry use cases, all values represent counts. This type of data is similar to a histogram, but with labeled buckets. For example, we could be tracking the usage of every aggregation:

[code]

It would be natural to perform a histogram-like aggregation on `agg_usage` to sum up the counts for each entry `terms`, `date_histogram`, etc. When designi

[2020-10-28 19:39] nik9000 commented on #64283
You're probably better off making a gist for the stack overflow and linking it here. From that part it is hard to tell what is up. 5.6.7 is very old so I imagine we've fixed it, but you could certainly end up in a dark corner that no one else has seen in years.

[2020-10-28 19:46] jbaiera commented on #50032
@ravikesarwani I'm wrapping up the work required for accepting the rest request. I'll check back here once the PR is up and again once it's merged.

[2020-10-28 19:46] nik9000 opened #64311 "IndexFollowingIT.testCleanUpShardFollowTasksForDeletedIndices fails once a week"
**Build scan**: https://gradle-enterprise.elastic.co/s/4efglek36fhde/tests/failed

**Repro line**:
[code]

**Reproduces locally?**: no

**Applicable branches**: 7.8-master

**Failure history**:
https://build-stats.elastic.co/goto/0d10972e7446c8b18341f71ff20e62da

**Failure excerpt**:
[code]

[2020-10-28 19:46] elasticmachine commented on #64311
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-10-28 19:57] #61145 closed

[2020-10-28 20:06] #62124 closed

[2020-10-28 20:45] dreddnafious commented on #37138
@wolf99 I have the same issue and am trying to understand exactly what you did to uninstall. Any chance you could be a bit more explicit?

[2020-10-28 20:51] matriv commented on #64238
@palesz Please check if this has been resolved with #63483
Before that the type was determined by the first value in the list instead of the field type at the left of the `IN` operator.

[2020-10-28 21:01] Moe82 commented on #63784
Hi, @tvernum . I'd like to work on this issue. Can you please provide a format for how you want the 4 new strings to appear?
Would something basic like this work:
message.append(format("Key Usage: %s", X509Certificate.getKeyUsage()));

[2020-10-28 21:04] mayya-sharipova commented on #51840
Interesting idea.

an idea with different aggregations seems neat.

But then, we would need to execute `strict` query twice, first time as a usual query and another time as a part of a new `fail` query. I wonder if we can avoid double execution. May be it is a special case of sequential msearch, where a second part can is executed after the 1st is failed.

May be a number of documents could be a u

[2020-10-28 21:06] breskeby commented on #64048
should be fixed by moving back to gradle 6.6.1 on master and 7.x branches. I'll close this once all ci builds have passed

[2020-10-28 21:27] wolf99 commented on #37138
Sorry @dreddnafious this is from 2 years ago, I don't recall this at all.

[2020-10-28 22:09] wylieconlon commented on #64077
@jimczi We don't always have this information, like when the top terms are actually less than the total count of documents, or when we aren't tracking total hits. The important part of the example above is that it's often ambiguous in the UI whether we are showing a "count of documents" or a "count of values in an array". It would help us provide a less ambiguous UI if knew for sure that a field i

[2020-10-28 22:18] cybersecdiva commented on #32238
I have observed this in an exact scenario for `v7.7` as well with `_stats`API call.

[2020-10-28 22:45] markharwood commented on #51840
It wouldn't run until completion though - it only needs to match 1 document and we abort the whole query, avoiding any further disk reads and collection. Throwing exceptions isn't particularly performant so we might need to avoid that way of exiting the search process early.

[2020-10-28 22:51] ruke47 commented on #63150
Additional details:

If I create the percolator, and then add a `"message": { "type": "text"}` mapping to the index, the percolate query still fails. If I add the mapping to the index before creating the percolator, the percolate query will succeed.

[2020-10-28 23:39] ennova007 commented on #60329
I created a github account to post here... I have exactly the same issue.  I want to index a lot of text fields, but have them sortable on keyword field as recommended in the documentation.  Keeping field data on gives us all sorts of grief.  I makes sense to me, search on the text and sort on the of the keyword.  The text fields can easily exceed the limits and it is a waste of space.  Using the

[2020-10-28 23:43] sophiaxu8 commented on #61174
Is this  https://github.com/elastic/elasticsearch/pull/41170 fix this issue?

[2020-10-29 02:42] dbakti7 commented on #64029
@williamrandolph patch works perfectly! thank you!
and we are also looking forward to the official fix in 7.9.4! :)

[2020-10-29 06:12] mantuliu commented on #56202
This is a bug. Encountered this problem in our production environment.
Elasticsearch version: 7.6.2.

_Openscrollcontexts is used to control the maximum scroll context. But by accessing the "_nodes/ data:true/stats/indices/search" get open_context does not reach the limit, which can be modified“ search.max_open_scroll_context "to the maximum value of int._

[2020-10-29 06:30] #54628 closed

[2020-10-29 08:42] xuzhu007 opened #64328 "ES 6.8.8 has a security loophole CVE-2020-24616"
Elasticsearch version：6.8.8

jackson-databind needs updated due to vulnerabilities in multiple CVEs

Related vulnerabilities:
- CVE-2020-24616

[2020-10-29 09:03] prasad2kin opened #64329 "Span_Not Equivalent in Intervals?"
Hi,

I'm looking for a way to implement [SPAN_NOT](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/query-dsl-span-not-query.html) queries using Intervals. I have seen that Lucene supports `notWithin` queries. I don't see Elasticsearch has anything that implements it.

So, can this please be implemented?

[2020-10-29 09:04] kunisen commented on #58482
Maybe we should also consider the ILM behavior.
After reindex, we will get `.ml-state` which has `rollover_alias` to be `.ml-state-write`.
But we will also have an auto created `.ml-state-000001` which has the same `rollover_alias`.
Thus it could cause confliction and the previous index `.ml-state` (which we did via reindex), will report ILM error:

[code]

To work around this, we need to release