[2018-11-07 19:52] elasticmachine commented on #35351
Pinging @elastic/es-core-infra

[2018-11-07 20:06] andyb-elastic commented on #35293
To be clear about what I meant in [this comment](https://github.com/elastic/elasticsearch/issues/35293#issuecomment-436423442), when running the query in the original issue, the [builder for the boolean query](https://github.com/elastic/elasticsearch/blob/8de3c6e618505e46c10f95e4360ec23c746d2ddf/server/src/main/java/org/elasticsearch/index/query/BoolQueryBuilder.java#L387-L394) sees `context.isFil

[2018-11-07 20:40] #35321 closed

[2018-11-07 20:51] jakelandis commented on #35351
Here is a reproduction case:
[code]
All is good... now introduce a `0`
[code]
Re-run the search and
[code]

[2018-11-07 21:08] #30705 closed

[2018-11-07 21:08] #34448 closed

[2018-11-07 21:08] #34462 closed

[2018-11-07 21:12] jdconrad commented on #35351
Briefly talked to @rjernst about this.  I'm thinking over the behavior of return values in Painless.  It's possible it makes more sense to make a change to casting model in the singular case because it will be better for the user.

[2018-11-07 21:35] jimczi commented on #35293
Yes thanks @andyb-elastic and sorry @telendt I completely skipped the fact that we have a different behavior for the boolean query in es. This is not the case at the Lucene level where I checked. I still don't understand why we need to change `minimumShouldMatch` in a filter context. I think this is due to an old behavior in an old version but I don't think it is required anymore. The query/filter

[2018-11-07 21:50] mayya-sharipova commented on #35293
@jimczi  Thanks, it makes sense. So the plan is just to change `BoolQueryBuilder` so that filter context doesn't set it up `minimumShouldMatch = "1"`?  We don't need any changes for function score query, right?

[2018-11-07 22:40] albertzaharovits commented on #34895
This has been discussed in the core-infra-meeting today.

No engineer would put his vote on removing stack traces. We have discussed on not catching and rethrowing so much, and of throwing special exceptions that are not catched but very high in the call stack. Neither alternative resisted the argument that we might be hiding obscure failure modes.

But, user friendly messages are desirable and we

[2018-11-07 22:43] jasontedor commented on #34895
This part I am not convinced by; why is it not enough to use what we use on the REST layer?

[2018-11-07 22:52] albertzaharovits commented on #34895
As per Jason's comment, `ElasticsearchException#guessRootCause` should do the job neatly!

[2018-11-07 22:53] telendt commented on #35293
I can confirm that. I understand Lucene's implicit `minimumShouldMatch=1` when only `should` clauses are present -- in any other case I prefer setting `minimumShouldMatch` explicitly.

In this particular case the problem popped up when one other dev in my team moved boolean query from filter (that relied on this behaviour) and pasted it into function's filter. We were surprised to see that differe

[2018-11-07 23:07] jimczi commented on #35293
I share this concern which is why we'd make this change in a major release (7.0) if we decide that it is the right thing to do.

[2018-11-08 00:19] dakrone opened #35356 "Updating ILM policy for an index while in the same phase does not respect new policy's same phase's min_age"
If I have two competing policies:

[code]

And an alternate policy:

[code]

And I create an index with the first policy (where the "warm phase kicks in at
30 seconds"):

[code]

Then wait at least 30 seconds until the "foo" index is in the
`warm/complete/complete` action (meaning everything in the warm phase has
finished, the index is between 30 and 60 seconds old)

Next, I update the policy for

[2018-11-08 01:16] vikene commented on #35285
@vladimirdolzhenko @colings86  can I work on this issue ?

[2018-11-08 05:18] Sandeep42 commented on #27588
This is becoming very crucial for our work especially Scripted Boolean and Band Pass queries.

What we are dealing is a use case where our scoring signals are coming from individual child queries, and they have to be reduced using a certain combination. Since there is no way I can pass the output of one query as the input of the other except in rescoring (even in rescoring, I'm only able to to som

[2018-11-08 06:42] original-brownbear commented on #35351
@jdconrad @rjernst

I'd be in favour of this as a short-term fix. We did exactly this elsewhere too when trying to make the new contexts return a specific type and running into trouble.

[2018-11-08 07:20] jasonslater2000 commented on #32243
I am running ES v6.4.3.  Just tried creating a new API key.  PagerDuty only creates v2 keys now, and it assigned a 20 character alphanumeric key.  Plugged API key into elasticsearch.yml and created a watcher to use it.  Checked .watcher-history index and found the call had failed with a 400 error and the following body.

"body": """{"status":"invalid event","message":"Event object is invalid","err

[2018-11-08 07:36] vladimirdolzhenko commented on #35285
@vikene sure! contributors are always welcome

[2018-11-08 07:42] jasonslater2000 commented on #32243
Got it working, but had to create the API key in PagerDuty via Configuration/Services, rather than Configuration/API Access as is documented at https://www.elastic.co/guide/en/watcher/current/configuring-pagerduty.html

N.B.: During key creation, I selected "Events API v2" key, and this yielded a 32-character key.

[2018-11-08 07:42] #32243 closed

[2018-11-08 07:52] bilalsha opened #35359 "Java High Level Rest client supports search after api?"
Does Java high level rest client supports search after api?

[2018-11-08 08:00] vladimirdolzhenko commented on #35359
Hi @bilalsha ! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2018-11-08 08:00] #35359 closed

[2018-11-08 08:08] tvernum commented on #35285
I've have provided an [explanation for the observed behaviour](https://discuss.elastic.co/t/documentation-of-elasticsearch-certutil-is-wrong-for-parameter-pass/155412/4).

Any contribution that helps improve the documentation around the `--pass` option would be appreciated.

[2018-11-08 08:08] spinscale commented on #32243
@hub-cap can you take a look in the docs and fix if needed?

[2018-11-08 08:16] tvernum opened #35360 "[CI] Failure in SslIntegrationTests.testThatTransportClientUsingSSLv3ProtocolIsRejected"
This seems to have been broken in #35144 / f395b1e.
Reproduces locally.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=virtual&&linux/45/console

[code]

[code]

[2018-11-08 08:16] elasticmachine commented on #35360
Pinging @elastic/es-security

[2018-11-08 08:16] tvernum commented on #35360
Ping: @tbrooks8 - I think this broke in your recent change

[2018-11-08 08:30] #35317 closed

[2018-11-08 08:35] colings86 commented on #35356
I don't see this as a bug. This is in line with the explanation of how policies work. A policy will enter a phase when the min age is met (the original one) and will progress through the phase, if the policy changes we do not pick up on the changes until the next phase so I do not expect the phase to be re-run if the min_age changes. This would be extremely difficult to implement in any case becau

[2018-11-08 08:38] tvernum commented on #35360
I muted this test (0b24c4f)

[2018-11-08 09:05] KeyZer commented on #35338
After we restart the master node in the cluster the pending_tasks cleared so running hot_threads or jstack will not help now unfortunately. I have all the elasticsearch logfiles from that day if it helps.

[2018-11-08 09:22] atorok opened #35361 "CI: SmokeTestWatcherWithSecurityIT.testSearchTransformInsufficientPermissions fails"
## Example build failure

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/162/

There are other issues for this tetst: #30777 and #29893

## Reproduction line
does not reproduce locally
[code]

## Example relevant log:

<details>
<summary>test log</summary>
<code>
17:22:27    > Throwable #1: org.elasticsearch.client.ResponseException: method [POST], host [http://[::1]:4

[2018-11-08 09:29] atorok commented on #35361
It seems like #33291 fixed the assertion on master and it didn't occur in 6.x after it was back-ported, but this new failure started happening.

[2018-11-08 09:38] monfera opened #35363 "[docs] forward referencing to newer version"
Google search, or other means of landing on our docs pages often lead users to an earlier version of the document, and finding the corresponding current version is sometimes not a direct step.

Example: [old version](https://www.elastic.co/guide/en/x-pack/current/actions-pagerduty.html) [new version](https://www.elastic.co/guide/en/elastic-stack-overview/current/actions-pagerduty.html) but the old

[2018-11-08 09:38] elasticmachine commented on #35363
Pinging @elastic/es-docs

[2018-11-08 09:57] #35336 closed

[2018-11-08 09:57] atorok opened #35365 "CI: BalanceConfigurationTests.testReplicaBalance fails in a reproducible way"
Going to mute the test.

## Reproduction line
**does** reproduce
[code]

## Example relevant log:
[code]

## Frequency

6 times this week on an upwards trend.

[2018-11-08 09:57] elasticmachine commented on #35365
Pinging @elastic/es-distributed

[2018-11-08 10:09] #24318 closed

[2018-11-08 10:55] rdigiorgio opened #35369 "search_after request documentation may be misguiding"
Using the search_after request, I did follow the "recommended way" to use the `_id` property as a sorting tiebreaker. Having a string as `_id` for something near 2.000.000.000 documents and using search_after request to scroll fair amounts of documents, if I am correct, my fielddata cache did fill up with data necessary to apply the sort on my documents. To get around this problem, I just went bac

[2018-11-08 10:57] ywelsch commented on #35338
I don't expect the log files to help unless you see a warning of the form `uncaught exception in thread` or `fatal error in thread` in there. In case you observe the same issue again, please gather the above info. I'm afraid there's nothing else we can do here until then.

[2018-11-08 11:09] atorok commented on #35295
Another reproduction https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos/44/console
Build stats point to failures on 6.x also and 10-12 failures per week.
Will mute the tests.

[2018-11-08 11:18] s1monw commented on #35095
thanks @tbrooks8 for starting this initiative. The way I was thinking about this was more of an anti-viral setting or a one-way door, once it's closed you can't open it anymore. Lemme explain, the typical scenario here is you have an existing cluster that is plain text and you want to upgrade. New nodes will have a dual stack and old nodes won't. Once you join a cluster with a new node we start to

[2018-11-08 11:38] bodinsamuel commented on #28780
Sorry to comment on this closed ticket.
`OpenJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.` This warning is causing problem on kubernetes, mark all instances as not fully ready.
While I agree it's harmless it's a bit annoying to have this constant warning, plus it break some features of kubernetes. Do you have

[2018-11-08 12:07] jasontedor commented on #28780
@bodinsamuel Would you please elaborate why this is a problem on Kubernetes? Because it’s printed to stderr?

Your message is confusing since you say it’s a “causing problem”, and then “a bit annoying”. Please clarify.

[2018-11-08 12:35] jimczi commented on #35369
Thanks @rdigiorgio

Agreed, I opened #35370 to change the recommendation.

It is valid for any type of `_id` since it is required to have a unique value per document in this field.
However we don't build `doc_values` for this field so we need to load the values in the `field_data` which is costly if you have a lot of documents. I changed the recommendation in the docs to advise to use a copy of th

[2018-11-08 12:36] elasticmachine commented on #35369
Pinging @elastic/es-search-aggs

[2018-11-08 12:52] sebelga opened #35371 "Get list of auto follow pattern throws a 404 not found"
**Elasticsearch version**: Current master branch

**Description of the problem including expected versus actual behavior**:

When we query to retrieve the autofollow patterns (`GET /_ccr/auto_follow`) on a cluster that **never had any previous auto follow pattern**, a 404 error is thrown

[code]

If we then CREATE and then DELETE an auto follow pattern, and then make the above query, we receive th

[2018-11-08 12:52] elasticmachine commented on #35371
Pinging @elastic/es-distributed

[2018-11-08 12:53] joaofcmb commented on #22302
Hi @gauravmishra123 , I would like to pick up this issue. Are you still working on it?

[2018-11-08 13:06] bodinsamuel commented on #28780
Sure, sorry for being too vague.
Right now, in a kubernetes cluster (in my case in GCP) it's not critical but because of this warning, all ES instances (Pods) are marked as not "clean". The instance works correctly but because of that, autoscaling/autorepairing does not work anymore. It means GCP can not pop an other instance if needed or do a scheduled maintenance.

And it always display these wa

[2018-11-08 13:17] jimczi commented on #9705
Oups I reopened the issue by mistake. https://github.com/elastic/elasticsearch/pull/34210 has been merged so we'll have support for `parent` aggregation starting in version 6.6. Thanks again @centic9 !

[2018-11-08 13:18] #9705 closed

[2018-11-08 13:43] AlekseiPipl opened #35373 "SDK client exception, when configuring S3 Repository in AWS"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.4.2, Build: default/deb/04711c2/2018-09-26T13:34:09.098244Z, JVM: 1.8.0_162

**Plugins installed**: []
S3-repository

**JVM version** (`java -version`):
java version "1.8.0_162"
Java(TM) SE Runtime Environment (build 1.8.0_162-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.162-b12, mixed mode)

**OS version** (`uname -a` if on

[2018-11-08 13:46] atorok commented on #32190
There's another https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/44/console  will mute the test.

[2018-11-08 14:32] atorok opened #35374 "CI: OOM in __mock_network_thread"
## Example build failure
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/132/console

## Reproduction line
does not reproduce locally
[code]

## Example relevant log:
[code]

[code]

## Frequency

The OOM for this thread shows up in logs 35 times this week and 95 times last week   across all builds.

[2018-11-08 14:32] elasticmachine commented on #35374
Pinging @elastic/es-core-infra

[2018-11-08 14:34] bpintea opened #35376 "ODBC: SYS COLUMNS column types alignment"
`SYS COLUMNS` maps on the ODBC catalog function [`SQLColumns()`](https://docs.microsoft.com/en-us/sql/odbc/reference/syntax/sqlcolumns-function). This function prepares a table for the application to subsequently fetch. The table definition is given within the spec.

Current `SYS COLUMNS` implementation is aligned with the spec with the exception of the following columns, that are all returned as

[2018-11-08 14:34] elasticmachine commented on #35376
Pinging @elastic/es-search-aggs

[2018-11-08 14:35] martijnvg commented on #35333
So I tried to reproduce this failure with reproduce command here and with just adding `-Dtests.iters=128` and it does not reproduce for me. Not sure what the cause is.

[2018-11-08 14:40] rubin55 opened #35377 "vm.max_map_count bootcheck should be conditional on the use of index.store.type=mmapfs"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.4.3, Build: default/tar/fe40335/2018-10-30T23:17:19.084789Z, JVM: 1.8.0_191

**Plugins installed**: []
none

**JVM version** (`java -version`):
openjdk version "1.8.0_191"
OpenJDK Runtime Environment (build 1.8.0_191-b12)
OpenJDK 64-Bit Server VM (build 25.191-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-like system

[2018-11-08 14:49] albertzaharovits opened #35378 "SecureSettings in `NotificationService` are buggy"
`NotificationService` implementations (eg `SlackService`, `PagerDutyService`, ..) are buggy.

They fail the communication service if the `secure_*` variant of the settings are put in the cluster state as opposed to inside the keystore, as documented https://www.elastic.co/guide/en/elastic-stack-overview/6.3/actions-pagerduty.html#configuring-pagerduty (for eg).

The normal behavior should be to si

[2018-11-08 14:49] elasticmachine commented on #35378
Pinging @elastic/es-core-infra

[2018-11-08 14:51] nik9000 commented on #35363
I think we've talked about this problem on and off for a few months now. I wonder if we should have the "current" versions of those pages redirect to the actual current location. That interrupts the version navigation, but it'd prevent the "current version isn't the current version" problem.

[2018-11-08 14:52] rubin55 commented on #35377
Ow wait a minute.. https://github.com/elastic/elasticsearch/commit/bdfcc326d7ee351390fb26f928261926c39ae6ff

Nothing to see here, move along.. I will test this `node.store.allow_mmapfs` setting you speak of and report back any successes as such..

[2018-11-08 14:58] MariaTeresaFerreira commented on #35115
Hi! Can I take care of this issue?

[2018-11-08 14:58] MariaTeresaFerreira commented on #30782
Hi! Can I take care of this issue?

[2018-11-08 15:23] polyfractal commented on #35295
I found the issue.  `RollupDocumentationIT` has some old/obsolete cleanup code.  It's no longer needed because the xpack cleanup code was moved into `ESRestTestCase`, but this class was missed during the refactor.

Removing the cleanup and using the superclass fixes the issue.  Ran it for a few hundred iterations and it looks good.  Unrelated, I also saw that we weren't checking the return result

[2018-11-08 15:24] jaymode commented on #35115
Hi @MariaTeresaFerreira, thank you for your interest in this issue. I believe @jkakavas is already working on this and the `help wanted` label should have been removed by us; I am removing it now. @jkakavas please correct me if I am wrong.

[2018-11-08 15:32] nik9000 commented on #35348
We've been wanting to move the watcher docs from the `x-pack/docs` folder to the `docs` folder and one of the blockers is having a consistent way to do this waiting. I intend to work on it at some point so I'm assigning it to me. But if anyone else is keen to work on it I'm happy to give it up and talk through what I've been thinking.

[2018-11-08 15:37] bellatrix1001 opened #35380 "Error deriving PBKDF2 keys: Ability to specify keystore password"
ElasticSearch: 6.4.2
Java: IBM 1.8
OS: Z-series Linux s390x

**Describe the feature**: Ability to specify keystore password

This is an issue that occurs for folks running IBM JAVA. Yes, I know this is not an officially supported port, however the workaround proposed here is an extension of what is already being done to Logstash and will not break anyone else: https://www.elastic.co/guide/en/logst

[2018-11-08 15:40] DaveCTurner commented on #35374
Possibly this duplicates https://github.com/elastic/elasticsearch/issues/34458

[2018-11-08 15:59] jkakavas commented on #35115
Yes, this is correct @jaymode , I forgot to remove the label once I assigned this to myself. I have a PR ready for this soon.
Sorry @MariaTeresaFerreira , I hope you find something else interesting to work on !

[2018-11-08 16:00] s1monw commented on #35365
@vladimirdolzhenko can you look. it seems you touched it last?

[2018-11-08 16:04] #34778 closed

[2018-11-08 16:26] fkelbert opened #35383 "Misleading error message on has_parent query"
Elasticsearch version 6.4.2

The `has_parent` query returns misleading error messages, referring to field `type` rather than field `parent_type`:

[code]

and

[code]

To reproduce:

[code]

and

[code]

[2018-11-08 16:31] dakrone commented on #35356
The issue with this is that the behavior between changing an index's policy (from `my_lifecycle3` to `newpolicy`) is different than removing `my_lifecycle3` and then setting the policy to `newpolicy`. To me that seems like a bug, since I would expect changing the policy to be the same as removing the original and then setting the new policy.

[2018-11-08 16:34] fkelbert opened #35384 "Improve documentation of `join` datatype and `has_child`/`has_parent` queries"
The examples used on those documentation pages do not align. Yet, the same examples should really be used, as the `join` datatype is supposed to be used in combination `has_child`/`has_parent` queries.

E.g., the [`join` datatype](https://www.elastic.co/guide/en/elasticsearch/reference/master/parent-join.html) uses an example with "questions and answers". [`has_child`](https://www.elastic.co/guide

[2018-11-08 16:39] atorok commented on #35365
I should have mentioned that the test fails with this  seed even without the changes made by @vladimirdolzhenko

[2018-11-08 16:53] elasticmachine commented on #35384
Pinging @elastic/es-search-aggs

[2018-11-08 17:03] jimczi commented on #35384
Thanks @fkelbert , I agree that it would be nice to align the examples in the module documentation.
Would you like to provide a pr for this ?

[2018-11-08 17:46] pickypg opened #35389 "Block Mapping on Reserved Field"
When trying to change the behavior of certain reserved fields, a user may be tempted to try to change their mapping:

[code]

This doesn't work (it remains mapped as `text` in this case, which coincidentally seems wrong), but the request is accepted. When fetching the mapping, this attempted alteration does not exist in the response.

Relates to #8143.

[2018-11-08 17:46] elasticmachine commented on #35389
Pinging @elastic/es-search-aggs

[2018-11-08 17:51] pickypg commented on #35389
As a side note, if you try to put it into the `properties` section of the type, then it does properly reject the field with `Field [_field_names] is defined twice in [_doc]`.

It seems like we need to become a little stricter about unknown fields outside of the `properties` block.

[2018-11-08 18:17] jakelandis commented on #35361
@atorok
It looks like the build failure linked here had not included the fix for this yet.

Latest commit in the build : https://github.com/elastic/elasticsearch/commit/e685cfe8f985e1669b0594bbd5b2300c35d8bbb9
Commit that _should_ fix this: https://github.com/elastic/elasticsearch/commit/d7a4cef483f0fe3b6da62845d30346d0319cc258

That build was 15 commits too early.
[code]
Can we close this and un-

[2018-11-08 19:16] tbrooks8 commented on #35360
I think this has exposed a bug in netty. I opened an issue.

@netty/netty#8479

[2018-11-08 21:34] jasontedor commented on #10793
@andrershov @DaveCTurner @ywelsch What impact does the work on Zen 2 have on an issue such as this one?

[2018-11-08 22:33] #35088 closed

[2018-11-08 22:35] vikene commented on #35285
@tvernum  Sure, thanks for the link 👍

[2018-11-08 22:49] dakrone opened #35397 "Retrying an ILM action that is an AsyncActionStep does not work due to execution model changes"
When an index is stuck in the error state of a step which is an `AsyncActionStep`, like so:

[code]

With error:

[code]

When I correct the policy and issue a `POST /foo/_ilm/retry`...

The now `warm/shrink/shrink` step never executes, because we only execute `AsyncActionStep`s *when they are transitioned into*.

The 'retry' API should perform the correct steps to retry any type of operation.

[2018-11-08 22:49] elasticmachine commented on #35397
Pinging @elastic/es-core-infra

[2018-11-08 22:51] gwbrown commented on #35397
This looks very similar to https://github.com/elastic/elasticsearch/pull/34618

[2018-11-08 23:53] debadair commented on #35363
So set up redirects for every "current" page in the X-Pack ref? That would get people to the right pages, but that's a lot of redirects and the experience would still be jarring. I'd be hesitant to go that route--we already have issues due to the large number of doc redirects. (It's fragile to manage them and easy to end up with conflicts.)

We could easily tweak the messaging in the banner that l

[2018-11-09 00:48] tvernum commented on #34458
We had a failure in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/47/

I did a quick analysis of the [heap dump](https://storage.cloud.google.com/elasticsearch-ci-artifacts/jobs/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/47/server/build/heapdump/java_pid3241.hprof).

The usage is clearly in 8 very large (50 millio

[2018-11-09 00:51] jasontedor commented on #34458
Thanks @tvernum!

@original-brownbear @tbrooks8 Would you take a look?

[2018-11-09 00:56] tbrooks8 commented on #34458
Are there tests where we send 50 mb messages? The `MockTcpTransport` is pretty straightforward in the way that it allocates byte arrays that are the exact size of the incoming message.

[2018-11-09 01:09] tvernum commented on #34458
I think this is caused by MockTcpTransport trying to read TLS streams.

The messages sizes are supposedly `50390785` which is [ `0x03` `0x00` `0xe7` `0x01` ]
The message size starts at the 3rd  bytes of the stream (there are 2 header bytes).

Which means if MockTcpTranports gets a TLS header of `16,3,3,0` it will read the first 2 bytes as the header, and then the 3,0 ... as the mesasge size.

We m

[2018-11-09 01:18] tbrooks8 commented on #34458
Isn't this kind of a problem? The `MockTcpTransport` does not support TLS. Shouldn't the test be using a different transport is we are doing TLS?

Anyway, yeah I can throw an exception prior to the allocation in case the marker bytes are incorrect.

[2018-11-09 01:35] tbrooks8 commented on #34458
I opened a PR for checking the marker bytes early. Additionally, the PR uses recyclable BigArrays for `BytesStreamOutput`. This does not prevent the allocation fo 50 mb arrays for the low level reads. That would be more work (and more complicated).

Before we do that we might want to have a discussion if we want to continue to maintain a blocking (behaves differently than production) and non-block

[2018-11-09 02:12] tvernum commented on #35360
This has been muted on 6.x as well.

[2018-11-09 03:47] tvernum opened #35403 "[CI] CCR: FollowerFailOverIT.testFailOverOnFollower failure"
Doesn't reproduce for me.
Could just be a timeout issue, but I don't know the CCR code well enough to make that call.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/70/consoleFull
[code]
[code]

[2018-11-09 03:47] elasticmachine commented on #35403
Pinging @elastic/es-distributed

[2018-11-09 03:48] bugmakesprogress commented on #26959
Hi @mariuszpala it seems that I got same issues in my springboot project. I added version 6.4.2 elasticsearch maven dependency. When I checked my version 6.4.2 elasticsearch-rest-high-level-client maven dependency, it got elasticsearch maven dependency with version 2.4.6 instead of  version 6.4.2. Can you share some of your experience for sloving the problem?

[2018-11-09 04:07] #31608 closed

[2018-11-09 04:32] talevy opened #35404 "[ILM] Create API to view the steps of a policy"
**Problem Statement**

We have a [Move-To-Step API](https://www.elastic.co/guide/en/elasticsearch/reference/6.x/ilm-move-to-step.html) that allows an advanced administrator to manually override the policy execution plan. It allows overriding which step in the policy is to be executed.

Without reading the code, it is almost impossible to know all the available steps one can move to.

**Proposed So

[2018-11-09 05:20] gauravmishra123 commented on #22302
No @joaofcmb  , I had started to work on this but has got some situtation at my home ,so couldn't get time .You can proceed on this.

[2018-11-09 06:02] atorok commented on #35361
I didn't mean to imply that your changes caused new issues, I was thinking they uncovered it by going past the assert and running into
[code]
But the last build on master that failed like this was before your changes.
I'll unmute the test to get more runs with your changes and see if this test has two separate
problems or the same manifests in different ways.

[2018-11-09 06:04] danielmitterdorfer commented on #35377
Based on your comments in https://github.com/elastic/elasticsearch/pull/32421, I see you are about to check a nightly snapshot build of Elasticsearch 6.5.0 with `node.store.allow_mmapfs` set to `false`. We'll keep this issue open for now but that setting should likely help in your case.

[2018-11-09 06:34] danielmitterdorfer commented on #35373
@AlekseiPipl before I address the actual issue, can I please ask you to format code blocks using Markdown syntax in the future? You can achieve this by enclosin code blocks in triple backticks, e.g. the following text:

<pre>
[code]
</pre>

is then rendered as:

[code]

This makes stack traces much easier to read.

Also, this appears to be a question, and we'd like to direct these kinds of things

[2018-11-09 06:34] #35373 closed

[2018-11-09 07:48] mariuszpala commented on #26959
Hi @bugmakesprogress, the root cause was the "parent" spring boot dependency which had older version referenced. We removed "parent" and added it as a regular dependency as below and now it works fine:
[code]

[2018-11-09 08:09] danielmitterdorfer commented on #34209
No further feedback received. @dharada if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2018-11-09 08:09] #34209 closed

[2018-11-09 08:10] danielmitterdorfer commented on #34158
No further feedback received. @orlandoescalante if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2018-11-09 08:10] #34158 closed

[2018-11-09 08:12] danielmitterdorfer commented on #33122
No further feedback received. @pakein if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2018-11-09 08:12] #33122 closed

[2018-11-09 08:15] danielmitterdorfer commented on #34122
@brandonmichaelhunter is it possible to provide an example stack trace for us as requested in earlier comments? That would really be helpful in improving the situation in the future.

[2018-11-09 08:48] ywelsch commented on #34458
I've added the team-discuss label here.

[2018-11-09 09:20] colings86 commented on #35356
The remove API is not removing the policy though, its clearing IM entirely form the index, so its never going to be the same as setting a different policy.

[2018-11-09 09:31] cbuescher commented on #32827
Quick new datapoint on this, I just did a search in the recent CI failures and couldn't find any new occurances of both the IndicesRequestCacheIT.testQueryRewrite and the testQueryRewriteDatesWithNow case since Sep 25th.

[2018-11-09 09:38] danielmitterdorfer commented on #33749
@original-brownbear seems [Joda Time 2.10.1](https://www.joda.org/joda-time/changes-report.html#a2.10.1) has been released a few days ago which fixes this issue. Could you please do the upgrade?

[2018-11-09 09:43] ywelsch commented on #10793
@jasontedor there are a number of different scenarios and asks brought up on this issue. Zen2 in its current form already addresses some, but not all of them. The main change with Zen2 is that it makes the notion of "master-eligible" a bit more dynamic, by giving the flexibility to assign voting rights to only a subset of the master-eligible nodes, and allowing these voting rights to be dynamicall

[2018-11-09 09:47] #35178 closed

[2018-11-09 09:59] ywelsch commented on #12273
This is a fundamental problem with the current shard balancer and something that cannot be easily addressed in the current implementation. The current implementation uses an incremental approach to balancing that focuses on speed, but can sometimes end up in local minima. Our general advice is to avoid over-constraining the allocation settings. That said, we're considering alternatives to the curr

[2018-11-09 10:12] fkelbert commented on #35384
I can work on a PR for this one once I find a few spare hours.

[2018-11-09 10:17] jimczi commented on #35383
The issue was [fixed](https://github.com/elastic/elasticsearch/pull/31182) on master but never backported to 6x. It is backported now so I am closing this issue. Thanks for reporting @fkelbert .

[2018-11-09 10:17] #35383 closed

[2018-11-09 10:32] #34876 closed

[2018-11-09 10:33] #35171 closed

[2018-11-09 11:13] elasticmachine commented on #27748
Pinging @elastic/es-core-infra

[2018-11-09 11:54] cbuescher commented on #33749
Just talked to @original-brownbear since I already halfway started the upgrade I'm going to see if the new version fixed the testing problem.

[2018-11-09 12:05] danielmitterdorfer commented on #33749
Thanks @cbuescher!

[2018-11-09 13:53] luyuncheng commented on #33159
@colings86   Thanks for answer it

[2018-11-09 14:02] martijnvg commented on #35371
Thanks for raising this bug @sebelga! This now fixed via #35381

[2018-11-09 14:02] #35371 closed

[2018-11-09 14:03] cbuescher commented on #33749
I checked and can confirm that `2.10.1` fixed the problem we observed in that particular test run (tz = "Africa/Windhoek").

[2018-11-09 14:05] javanna commented on #34827
This was fixed. See https://github.com/elastic/elasticsearch/commit/a2e8b853556666087dbdde6cdd0d3911f2ebb495 .

[2018-11-09 14:05] #34827 closed

[2018-11-09 14:36] martijnvg commented on #35333
I've increased the number of ops to make it less likely for all ops to remain as soft deleted docs: fba811fa3ab74dd6fe342c2908990f8c225d9fbb (which i think it the reason that the expected error wasn't thrown).

and also unmuted the test in 6.x branch.

[2018-11-09 14:43] cbuescher commented on #31760
@plaarakkers The fix mentioned above (#35254) should solve the cases you mentioned where the aggregation specifies a specific format. For the other case (two indices havinf different formats in the mappings, or one missing - which means the same as the default format) we haven't really got a good way of deciding which one should "win". I think the fact you observe that the order of index names mat

[2018-11-09 14:50] shuaibiyy opened #35411 "Unique token filter results in tokens with misplaced positions"
**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 6.4.2, Build: oss/tar/04711c2/2018-09-26T13:34:09.098244Z, JVM: 1.8.0_181

**Plugins installed**: None

**JVM version** (`java -version`): java version "1.8.0_181"

**OS version** (`uname -a` if on a Unix-like system):

Ubuntu 16.04.5 LTS Linux 4.4.0-1069-aws #79-Ubuntu SMP Mon Sep 24 15:01:41 UTC 2018 x86_64 x86_64 x86_64 GNU/Li

[2018-11-09 15:09] martijnvg commented on #35403
This test tests that ccr keeps following a leader index; while a node holding the primary shard of the follower index is restarted. After the restart we expect that the follower index gets back into a green state, but that doesn't happen. The replicas (used to be primaries) are unable to recover from the primary shards:

[code]

Not sure why these replica shards are not able to recover.

[2018-11-09 15:34] elasticmachine commented on #35411
Pinging @elastic/es-search-aggs

[2018-11-09 15:55] jaymode commented on #10058
We discussed this during a team meeting and outside of the security use case, we could not think of a non-contrived example where this would be needed. Given that and the existing complexity of parent child, we do not feel like this is something we should introduce within our query dsl and code.

In terms of a solution for this type of issue, we do offer document level security in our security pro

[2018-11-09 15:55] #10058 closed

[2018-11-09 16:03] bleskes commented on #35287
@ywelsch and I went through this and sadly, no dice - we couldn't find an explanation.

[2018-11-09 16:16] romseygeek commented on #35411
Looks like UniqueTokenFilter isn't keeping track of the position increments of dropped tokens.  We can re-implement it as a FilteringTokenFilter which should deal with all the book-keeping for us.

[2018-11-09 17:11] #34928 closed

[2018-11-09 17:35] imotov opened #35419 "geo_point parsing doesn't ignore malformed points represented as a string"
Looks like there are some use cases in #16137 that were not fully addressed in #16833. In particular, some values in string presentation of a geo_point are not handled correctly. To reproduce:

[code]

[2018-11-09 18:03] vladimirdolzhenko commented on #35374
I did head dump analysis of several heaps and pretty sure it is the same as pointed @tvernum by at https://github.com/elastic/elasticsearch/issues/34458#issuecomment-437210009

[2018-11-09 18:03] #35374 closed

[2018-11-09 18:07] shuaibiyy commented on #35411
Hi @romseygeek I attempted a fix in https://github.com/elastic/elasticsearch/issues/35411

[2018-11-09 19:35] JnBrymn-EB commented on #7515
I want to do the inverse of this:

[code]

And it appears to work. Any document with a name matches and any doc with null or '' name does not match. But I don't know why it works! I thought that the wildcard filter expands * to some number of terms so that if I have, say, 9999 terms in the name field, if I index a document with name = "zzzzzzzzzzzzebra" then that will be well past the term expansi

[2018-11-09 20:29] s1monw commented on #9806
@tlrx I think we can close!

[2018-11-09 20:29] #9806 closed

[2018-11-09 21:16] refayathaque opened #35424 "Term Query Not Working For Fields With Spaces"
Hello,

I am using AWS Elasticsearch 6.3 and trying to perform term queries on text fields that have spaces in them, unfortunately, it is not working. I would really appreciate your advice. Below is a code sample of my query.

`{
    "query": {
      "bool": {
        "filter": {
          "bool": {
            "must": [
              {
                "terms": {
                  "orga": [ "acf",

[2018-11-09 22:15] mayya-sharipova commented on #27588
@Sandeep42  Thank you very much for your input.  For our new [script_score query](https://github.com/elastic/elasticsearch/pull/34533), we don't plan to do anything fancy, it will be just an imitation of function_score query with some extra functions added.

For your use case to combine signals from individual child queries, you can:

1.  Use a custom rescorer. [Here](https://github.com/elastic/el

[2018-11-09 22:30] teddis commented on #18320
I see this is an old post, but in ES 6.4.3 it doesn't appear transpositions are enabled by default and can't specify that property for multi-field queries. So for example, a search for misspelled "ceasar" return no results and "caesar" does. Query snippet:

[code]

Of course I get `"[multi_match] query does not support [transpositions]"` when trying to specify transpositions. Any way to solve this

[2018-11-10 00:40] jasontedor commented on #23739
In this test, we submit [some cluster state updates](https://github.com/elastic/elasticsearch/blob/b093116a1e82e8e06c3ae61dc841a30304193785/server/src/test/java/org/elasticsearch/cluster/service/ClusterApplierServiceTests.java#L168). We wait for the [cluster apply listener to be signaled on success](https://github.com/elastic/elasticsearch/blob/b093116a1e82e8e06c3ae61dc841a30304193785/server/src/t

[2018-11-10 16:29] vikene commented on #35285
I have signed the CLA, looks like it's not updated yet. So CLA test is failing.

[2018-11-10 16:50] jasonslater2000 commented on #32243
@hub-cap my pagerduty trial still has 12 days remaining.  let me know if I can provide screenshots or my trial credentials for you to take screenshots.

[2018-11-10 18:56] MarianaFerrDias commented on #33651
Hi! Can I take care of this issue?

[2018-11-10 22:40] DaveCTurner opened #35433 "Docs for elasticsearch-keystore add-file command"
[The `elasticsearch-keystore` docs](https://github.com/elastic/elasticsearch/blob/eb8f3462042693b950d8200a4d740f07641b7be4/docs/reference/setup/secure-settings.asciidoc) don't mention the `add-file` command or the fact that, unlike the `add` command, it expects another argument on the command line and doesn't prompt for more information.

Also [the GCS repository plugin docs](https://github.com/el

[2018-11-10 22:40] elasticmachine commented on #35433
Pinging @elastic/es-security

[2018-11-10 22:40] elasticmachine commented on #35433
Pinging @elastic/es-distributed

[2018-11-10 22:44] elasticmachine commented on #35433
Pinging @elastic/es-core-infra

[2018-11-11 01:12] softwaredoug commented on #35424
I would recommend posting full steps for recreating, as in

- Configure the index
- Index 1-2 docs
- Issue your search demonstrating the error

My sense is its possible "clinical center" is probably being tokenized into terms `[clinical]` and `[center]`

[2018-11-11 06:45] h-hub commented on #32136
Hi guys, May start working on this ? No body has commented on this since 24th of Sep.

[2018-11-11 08:42] vladimirdolzhenko commented on #32136
@h-hub sure! contributors are always welcome

[2018-11-11 09:08] AlekseiPipl commented on #35373
Thanks a lot!

[2018-11-11 09:30] AlekseiPipl commented on #35373
It actually work.

[2018-11-11 12:35] h-hub commented on #32136
@vladimirdolzhenko Thanks and this will help me to get started wit open source

[2018-11-11 13:17] DaveCTurner opened #35435 "Test framework integration tests are not run by Gradle"
Commit 8936061f32474e029ad18d9c65d5686848578e42 adds [`public class InternalTestClusterIT extends ESIntegTestCase`](https://github.com/elastic/elasticsearch/commit/8936061f32474e029ad18d9c65d5686848578e42#diff-6bfb3f21b6eb827af7b26ea52b1be3f3R31) but as far as I can tell this does not run as part of `./gradlew check`. Adding `fail("test");` to the test method does not cause `./gradlew check` to fa

[2018-11-11 13:17] elasticmachine commented on #35435
Pinging @elastic/es-core-infra

[2018-11-11 14:55] clandry94 commented on #35229
I setup some monitoring to keep track of our cluster's master elections and determined this is related to the issues @ywelsch linked rather than master election. I can make a PR to update the GCS client dependency.

[2018-11-11 16:56] nezda commented on #18978
This was added after all as boolean query parameter `allow_partial_search_results` See https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html) via issue https://github.com/elastic/elasticsearch/issues/27435 and comments indicate default may become `true`!

[2018-11-11 21:29] costin opened #35437 "SQL: Lock-down JDBC driver at API/class level"
Currently, JDBC driver is internally split into multiple packages which forces internal classes to be made public in order for them to be reused.
This has the unfortunate side-effect of exposing internal classes which, as the code evolves, will change and cause problems onto the users that incorrectly rely on them.
As history showed time and time again, the best way to avoid this is to not expose

[2018-11-11 21:29] elasticmachine commented on #35437
Pinging @elastic/es-search-aggs

[2018-11-11 21:32] MiguelFerreira1998 commented on #30944
Hi,
I would like to work on this issue.

[2018-11-11 22:07] MiguelFerreira1998 commented on #29847
Hi,
i would like to work on this issue, can I? Any help will be appreciated!

[2018-11-11 22:30] tvernum commented on #30944
@Seeraeuber Sorry, I issued your earlier plan. That seems like a good plan of attack.

From memory, putting on the password check will be the hardest part, because of the use and structure of `withPassword`.

I think the simplest approach will be to add a boolean argument to `withPassword` that controls whether the password should be checked for length.

Do you still want to work on this, or can @

[2018-11-11 22:31] tvernum commented on #29847
@MiguelFerreira1998 There is already a PR open for this issue, sorry.

[2018-11-11 22:52] up201608320 commented on #30077
Hi, is this issue fixed or can i help on it ?

[2018-11-12 00:50] micoq commented on #27748
Hello,

I've just uploaded a plugin for Elasticsearch which implements memory mapping with madvise() and direct I/O for merges. It's available here: https://github.com/micoq/native-unix-store

[2018-11-12 01:09] jasontedor commented on #35437
Whatever we do here, let us try to be consistent. We have previously considered and for the time-being are not using this approach within the Elasticsearch codebase. This might change someday where we can use an internal package name, or use annotations. For now, we are relying on documentation and the appropriate visibility where possible.

[2018-11-12 04:20] tvernum opened #35440 "[CI] Broken packaging tests on Centos6"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/77/console

Reproduces reliably
[code]

[code]

Seems to be triggered by #35352 (730ec1d)

[2018-11-12 05:03] Sandeep42 commented on #27588
@mayya-sharipova Thanks for quick response. I will have try to understand custom rescorer.

[2018-11-12 08:14] dliappis commented on #35440
Unfortunately `/etc/os-release` isn't available on CentOS/RHEL <7; the available file is `/etc/redhat-release`. I guess we could add another case in [here](https://github.com/elastic/elasticsearch/pull/35352/files#diff-9c14f590953a8b8f88dfc2b0249dc237R581) for `/etc/redhat-release`) until RHEL-6 becomes truly EOL, which seems to be [far in the future](https://access.redhat.com/support/policy/updat

[2018-11-12 08:56] ywelsch commented on #35229
please do so. Thank you

[2018-11-12 09:02] #33749 closed

[2018-11-12 09:04] fabiodrg666 commented on #34459
I am interested in giving a try to `PluginPropertiesExtension`. From my understanding it should be quite straightforward.

[2018-11-12 09:05] RuiGuedes commented on #25244
Hi @pushpavanthar  would like to pick up this issue. Are you still working on it?

[2018-11-12 09:13] cbuescher commented on #35424
Hi @refayathaque! As @softwaredoug already said, this is probably cause by the way you have set up tokanization or your analysis chain. In general, your question is better suited to the support forums over at https://discuss.elastic.co.  We prefer to use Github issues only for bug reports and feature  requests, and we think it's more likely this is a question than a bug  report. I'm closing this a

[2018-11-12 09:13] #35424 closed

[2018-11-12 09:17] pushpavanthar commented on #25244
@RuiGuedes No, please go ahead and pick it up.

[2018-11-12 09:20] voidlps opened #35445 "Doc issue: incorrect syntax of Composite Aggregation#Sub Aggregations example"
**Elasticsearch version** : 6.x

**Description of the problem including expected versus actual behavior**:

In this page:
https://www.elastic.co/guide/en/elasticsearch/reference/6.4/search-aggregations-bucket-composite-aggregation.html#_sub_aggregations

it should be "aggs" in the request, in the doc wrongly use "aggregations",
that is, should be changed to:
`
GET /_search`
`{
    "aggs" : {

[2018-11-12 09:42] #35232 closed

[2018-11-12 10:16] fabiodrg666 commented on #11295
What is the current state for this issue? Should we start slowly using the `WatchService`? I would like to help, but there are many places where `ResourceWatcherService` is used, not sure how can I start.

[2018-11-12 10:52] elasticmachine commented on #35445
Pinging @elastic/es-search-aggs

[2018-11-12 10:52] dliappis commented on #35445
@voidlps I tried with both `aggs` and `aggregations` and got the same result. Did you receive an error yourself?

[2018-11-12 11:07] Mpdreamz commented on #35190
One last thing I want to raise which might be super contentious:

Can we remove some of the confusion of `include_type_name` defaulting to `true` by simply having it default to `false` in `7.0` already?

Our plan would be easier to explain to our users if `include_type_name` defaults to false from the get go and not switch from `true` to `false` in `8,0`. Users can opt in to the old behavior (mayb

[2018-11-12 11:16] romseygeek commented on #35440
Also causing failures in `:test:framework` on CentOS:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/160/console

[code]

[2018-11-12 11:31] elasticmachine commented on #35377
Pinging @elastic/es-core-infra

[2018-11-12 11:41] costin commented on #35437
Thanks Jason.

[2018-11-12 12:05] romseygeek opened #35448 "[CI] EvilOSProbeTests failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=oraclelinux/53/console

[code]

The relevant OS name is "Oracle Linux Server 6.9"

[2018-11-12 12:05] elasticmachine commented on #35448
Pinging @elastic/es-core-infra

[2018-11-12 12:18] jasontedor commented on #35448
What’s the actual failure here? It would be helpful to include that in these CI reports since the logs get swept away over time.

[2018-11-12 12:54] romseygeek commented on #35448
The failure message is:
[code]

[2018-11-12 12:57] jasontedor commented on #35448
From:

[code]

It appears there is an extraneous space at the end of the line:

[code]

and

[code]

[2018-11-12 13:03] miiit opened #35449 "Bug - ParsedReverseNested should implements ReversNested but not Nested interface"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.4.2
**Plugins installed**: []

**JVM version** (`java -version`):
1.8.131
**OS version** (`uname -a` if on a Unix-like system):
Opensuse 15

**Description of the problem including expected versus actual behavior**:
ParsedReverseNested should implements ReversNested but not Nested interface.

**Steps to reproduce**:

Please include a *min

[2018-11-12 13:08] romseygeek opened #35450 "[CI] ClusterClientIT failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.5+periodic/105

[code]

[code]

[2018-11-12 13:08] elasticmachine commented on #35450
Pinging @elastic/es-core-infra

[2018-11-12 13:10] romseygeek commented on #35450
The cause seems to be a `.tasks` index hanging around from somewhere:

[code]

The test is only expecting the 10 shards it has asked for to be present in the cluster state.

[2018-11-12 13:21] romseygeek commented on #35450
Possibly related:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/31/console
[code]
- expected no indices, but cluster state contains one

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/129/console

[code]

- expected 50% active shards, but was 60% (consistent with one extra active shard in the cluster state

[2018-11-12 13:34] jasontedor commented on #35448
I opened #35451.

[2018-11-12 13:57] elasticmachine commented on #35449
Pinging @elastic/es-search-aggs

[2018-11-12 14:08] jasontedor commented on #35440
I opened #35453.

[2018-11-12 14:41] cbuescher commented on #35449
Thanks @miiit, this is indeed confusing, it should be `ReversNested`. I will open a PR with a correction shortly.

[2018-11-12 15:06] polyfractal commented on #35445
++ to what @dliappis said.  `aggs` or `aggregations` are allowed.  From [the aggregation docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations.html#_structuring_aggregations):

Unless you actually got an error I think this issue can be closed.

[2018-11-12 15:13] romseygeek opened #35456 "[CI] Rolling upgrade tests fail to find dynamic hosts list"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/54/console

[code]

The task fails because a cluster doesn't form.

The log files for the cluster nodes all contain the following line:
[code]

However, that file is there, and contains the correct list of IPv6 addresses.

[2018-11-12 15:13] elasticmachine commented on #35456
Pinging @elastic/es-distributed

[2018-11-12 15:15] original-brownbear commented on #35456
I'll take a look :)

[2018-11-12 15:38] HonzaKral opened #35460 ".security index has dynamic mappings which can lead to errors"
**Elasticsearch version** : `6.x`, `master`

**Description of the problem including expected versus actual behavior**: settings for the `.security` index are set to `dynamic: true` for `rules` and `metadata` which can cause conflicts and also cause mapping explosion in case of many rules.

**Steps to reproduce**:
1. create role mapping:
[code]
2. attempt to create another role mapping:
[code]
this

[2018-11-12 15:46] romseygeek commented on #35456
I *think* this has caused quite a few failures today, but it's only possible to tell by logging into the workers, and they keep getting shut down and re-provisioned for other builds.

[2018-11-12 15:49] original-brownbear commented on #35456
@romseygeek yea we redid the way the discovery works in these in #35178 and apparently introduced some instability. I'll look into this in a few hours at the very latest.

[2018-11-12 16:01] dakrone commented on #35356
We discussed this and decided that there's not really a good way to satisfy the issue where we don't want to re-run phases (for example, we can't re-rollover or re-shrink once we've done those things). As that is the case, we're going to document the existing behavior (probably alongside the documentation about phase JSON caching).

I'll change this from a bug to a documentation task

[2018-11-12 16:03] romseygeek opened #35461 "[CI] :plugins:repository-s3:s3Fixture failure on 6.4"
Starting up the Amazon S3 fixture fails with the error message:

[code]

See https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+third-party-tests-s3/10 for an example.  It looks as though this particular job has never passed?

[2018-11-12 16:03] elasticmachine commented on #35461
Pinging @elastic/es-core-infra

[2018-11-12 16:34] droberts195 opened #35462 "[ML] find_structure_finder endpoint NPE risk with should_trim_fields"
The ML `find_structure_finder` endpoint can fail with a null pointer exception if `should_trim_fields` is overridden to `true` and there are blank fields in the delimited file.

As an example to reproduce this:

[code]

where `PAN-sample.log` is a CSV file containing blank field values.

The output is:

[code]

Stack trace is:

[code]

[2018-11-12 16:34] elasticmachine commented on #35462
Pinging @elastic/ml-core

[2018-11-12 16:38] droberts195 commented on #35462
@webmat this is the bug you reported.

[2018-11-12 17:57] elasticmachine commented on #35460
Pinging @elastic/es-security

[2018-11-12 17:57] n0othing opened #35467 "Add a node filter to _cat/shards API"
I would be useful to be able to filter `_cat/shards` on a per-node basis, similar to how you can filter per index pattern. Using `grep` is certainly a viable option, but allowing to filter at the API level would a.) conserve bandwidth, and b.) transitively give more functionality in Kibana's Console.

[2018-11-12 17:57] elasticmachine commented on #35467
Pinging @elastic/es-core-infra

[2018-11-12 19:33] #35397 closed

[2018-11-12 19:40] mayya-sharipova commented on #33558
I am closing this issue as we are deprecating function score query in favour of the new [script score query](https://github.com/elastic/elasticsearch/pull/34533).
In `script_score` query, it is possible to set up a filter to select documents for which script should be applied, and  with the proper selection `unmapped field` exception will NOT be produced:

[code]

[2018-11-12 19:40] #33558 closed

[2018-11-12 19:53] rubin55 commented on #35377
I mananged to test with 6.5.0-SNAPSHOT and can confirm that the allow_mmapfs setting is picked up by Elasticsearch. Furthermore, when deploying in a non-standalone fashion, I can confirm that the bootcheck for vm.max_map_count is skipped and the masters come up.

[2018-11-12 20:19] astefan opened #35472 "SQL: selecting both nested fields and non-nested ones will only retrieve documents with nested fields"
For an index that has a nested field in it where only some of the documents do actually have values for the nested field, retrieving both the nested fields (where applicable) and the non-nested fields will only return the documents that have values in the nested documents.

As an example, for the following mapping:

[code]

And sample documents:

[code]

Using `SELECT *, nested.* FROM test` will o

[2018-11-12 20:19] elasticmachine commented on #35472
Pinging @elastic/es-search-aggs

[2018-11-12 20:30] astefan opened #35474 "SQL: selecting nested fields and non-nested fields in a query with a condition will return only nested documents"
For an index that has a nested field in it where only some of the documents do actually have values for the nested field, retrieving both the nested fields (where applicable) and the non-nested fields in an SQL query with a condition on the non-nested field will only return the documents that have values in the nested documents.

As an example, for the following mapping:

[code]

And sample docume

[2018-11-12 20:30] elasticmachine commented on #35474
Pinging @elastic/es-search-aggs

[2018-11-12 21:33] mayya-sharipova commented on #34522
After investigation with @jimczi, we have decided not to implement anything on the elasticsearch side, as it doesn't worth the complexity. Instead the user can address his problem with one of the following ways depending on his expectations regarding parents with mixed children (that satisfy and don't satisfy `must_not` criterion).
**First** reversing nested and must. This will return parents with

[2018-11-12 21:33] #34522 closed

[2018-11-12 22:17] jkelastic commented on #29755
@eskibars Do you know if there's an ETA on this? If so, approximately when?

[2018-11-12 22:53] gpanula commented on #34931
I have also encountered this bug.  My understanding is the SSL is now part of the basic license per https://www.elastic.co/products/x-pack/open

Configs bits from _/etc/elasticsearch/elasticsearch.yml_
[code]

Explicitly set license to basic
[code]

Using a single certificate for the nodes created with the _elasticsearch-certutil_ utility

Dedicated master nodes can leave and rejoin the cluster wi

[2018-11-12 23:37] imotov commented on #35059
Fixed by #35414

[2018-11-12 23:37] #35059 closed

[2018-11-12 23:50] pixrrs opened #35475 "Feature request: Normalize timelion graph with sparse data, and also split by top N values for a specified field."
**Describe the feature**:

This was discussed with Jason Alcorn in a support request. When it turned out what I wanted to do is not currently possible, they suggested filing a feature request.

I'm working with a sparse data set that I need to normalize to count-per-minute, similar to what's done here:
https://www.elastic.co/blog/sparse-timeseries-and-timelion

I also want to split the graph by a

[2018-11-13 00:31] #35440 closed

[2018-11-13 00:39] jtibshirani commented on #15613
An update -- we met offline to talk through a revised plan for 7.0, which is now documented here: #35190. The core of the plan is set, but there are still some open questions to sort out.

[2018-11-13 02:19] voidlps commented on #35445
Thanks, I realized now the errors come from another issue related to Composite Aggregation which doesn't apply to v6.2, not related to the syntax.  Please close this issue

[2018-11-13 02:19] #35445 closed

[2018-11-13 05:42] tvernum commented on #35333
This just failed for me in a PR CI build (for master)

I can just rerun my build, but if you want the details for investigation purposes:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request/2469/console

[code]

[code]

[2018-11-13 06:45] talevy opened #35480 "[CI] AutoFollowIT#testConflictingPatterns failing"
Hey all, not sure if this is real or not, but popped up on my PR test. May be worth investigating?

CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request/2600/

[code]

stacks

[code]

[2018-11-13 06:45] elasticmachine commented on #35480
Pinging @elastic/es-distributed

[2018-11-13 08:05] koala775 opened #35482 "java.lang.OutOfMemoryError: Java heap space"
**Describe the feature**:
When I use  nested aggregation of dsl return large amount of data,then elasticsearch error: java.lang.OutOfMemoryError: Java heap space.

**Elasticsearch version** (`bin/elasticsearch --version`):
6.3.0

**Plugins installed**: []

**JVM version** (`java -version`):
jdk_1.8.152

**OS version** (`uname -a` if on a Unix-like system):
linux
**Description of the problem includ

[2018-11-13 08:49] #35462 closed

[2018-11-13 09:05] sandstrom commented on #33558
@mayya-sharipova Sounds good!

One question:

In the issue above I had a `filter` in the function score, which was supposed to make sure that the function didn't run on anything that didn't match the filter. But that didn't work.

Is this new functionality different in that regard?

[2018-11-13 09:34] #35449 closed

[2018-11-13 09:36] cbuescher commented on #31760
Closing, please reopen if you see the need for further action.

[2018-11-13 09:36] #31760 closed

[2018-11-13 09:47] elasticmachine commented on #35482
Pinging @elastic/es-search-aggs

[2018-11-13 09:48] jpountz commented on #35482
Can you please share what the request looks like?

[2018-11-13 10:31] jasontedor commented on #35475
Heya @pixrrs, thanks so much for you interest. Timelion is not handled on this repository though, but instead on the [Kibana/repository](https://github.com/elastic/kibana). Would you mind taking this as an HTTP 302 redirect and re-opening the issue there?

[2018-11-13 10:31] #35475 closed

[2018-11-13 12:19] #35456 closed

[2018-11-13 12:37] pgomulka opened #35490 "Core: Migrating from joda time to java.time. ML package"
part of the migrating joda time work. The goal is to find usages of joda time and refactor to use java.time.
Things to consider:
fields returned from scripts
fields used in aggregation

refers #27330

[2018-11-13 12:37] elasticmachine commented on #35490
Pinging @elastic/es-core-infra

[2018-11-13 12:37] elasticmachine commented on #35490
Pinging @elastic/ml-core

[2018-11-13 13:02] #35490 closed

[2018-11-13 13:03] pgomulka commented on #35490
not needed. Will create just a PR that  refers #27330

[2018-11-13 13:57] mayya-sharipova commented on #33558
@sandstrom  Yes, indeed  the script score is different.   Objects for decay functions in `function score query` are evaluated and created in advance before any query is executed and if a field is missing mapping, an error is produced.
For script score, evaluation is done later.  You can even test it today with [script_score of the function_score query](https://www.elastic.co/guide/en/elasticsearch

[2018-11-13 14:00] martijnvg commented on #35333
@tvernum Thanks for sharing this. I think that the force merge did not really merge anything, and therefor kept the soft deletes. I pushed a change that should avoid such scenarios: 0487181d0f2d9fdfda8d0d543219c62a00c379d9

[2018-11-13 14:50] jakelandis opened #35495 "ingest: Support multiple pipelines from _simulate without creating actual pipelines"
In 6.5 the ingest node introduced the pipeline processor which allows one pipeline to call another pipeline. In order to call another pipeline, you need a named pipeline, a.k.a a real pipeline defined.

The _simulate API only supports a single nameless pipeline, which makes simulations against pipeline to pipeline calls awkward. For example, to use the ingest _simluate API with multiple pipelines,

[2018-11-13 14:50] elasticmachine commented on #35495
Pinging @elastic/es-core-infra

[2018-11-13 15:09] martijnvg opened #35496 "[CI] DocsClientYamlTestSuiteIT test {yaml=reference/ccr/apis/get-ccr-stats}"
Failure:

[code]

Does not reproduce. Log is full with connection error. The AutoFollowCoordinator could fetch remote cluster state, because the license couldn't be determined and that was caused by a node disconnect exception:

[code]

The test failed because a the auto follow stats are not expected to report failures (`number_of_failed_remote_cluster_state_requests` should be 0 and `recent_auto_

[2018-11-13 15:09] elasticmachine commented on #35496
Pinging @elastic/es-distributed

[2018-11-13 15:09] dakrone commented on #30290
@s1monw sorry I missed your message, I have not found a solution for this yet

[2018-11-13 15:18] DaveCTurner opened #35497 "Sporadic failure in testForceStaleReplicaToBePromotedToPrimary"
#34140 introduces an assertion in `PrimaryAllocationIT#testForceStaleReplicaToBePromotedToPrimary` that sometimes fails. See for instance https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/56/console:

[code]

I think the issue is that we allocate a stale or empty primary via a reroute command, then grab the cluster state, and then assert tha

[2018-11-13 15:18] elasticmachine commented on #35497
Pinging @elastic/es-distributed

[2018-11-13 15:30] dakrone opened #35498 "Add stacktrace for error step in ILM explain output"
Currently we only display the exception and message, but for completeness (and debugability), we should return the entire stacktrace for the exception in the ILM explain output

[2018-11-13 15:30] elasticmachine commented on #35498
Pinging @elastic/es-core-infra

[2018-11-13 15:32] jaymode commented on #35461
Another failure https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+third-party-tests-s3/14/console

[2018-11-13 15:36] elasticmachine commented on #35461
Pinging @elastic/es-distributed

[2018-11-13 15:50] martijnvg opened #35499 "[CI] DocsClientYamlTestSuiteIT test {yaml=reference/ccr/getting-started/line_96}"
The get remote connections snippet in ccr getting started docs fails, because the remote cluster is not connected yet. Looks like a timing issue.

This reproduce in 6.x and 6.5 regularly (random seed does not matter). On master this does not reproduce.

[code]

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/176/

[2018-11-13 15:50] elasticmachine commented on #35499
Pinging @elastic/es-distributed

[2018-11-13 15:54] pixrrs commented on #35475
Ah, thanks for the info!

On Tue, Nov 13, 2018 at 2:32 AM Jason Tedor <notifications@github.com>
wrote:

[2018-11-13 16:01] jaymode commented on #33753
Another instance: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/56/console

[2018-11-13 16:20] sandstrom commented on #33558
Alright! Thanks a lot @mayya-sharipova, much appreciated! 🏅

[2018-11-13 16:51] jaymode opened #35503 "[CI] BasicWatcherTests.testModifyWatches fails in CI"
BasicWatcherTests testModify watches failed in CI. I looked at the test and one possible cause could be a concurrent reloading of the watch service, which will remove all watches from the trigger engine since the trigger service gets paused. Looking at the logs we see a reload get triggered right after adding the watch due to new local watcher shard allocation ids. Maybe we should wait for a green

[2018-11-13 16:51] elasticmachine commented on #35503
Pinging @elastic/es-core-infra

[2018-11-13 17:09] jaymode opened #35504 "[CI] AllocationIdIT testFailedRecoveryOnAllocateStalePrimaryRequiresAnotherAllocateStalePrimary failure"
Build failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=virtual&&linux/56/console

Reproduce line (unable to reproduce locally):

[code]

Stacktrace from assertion failure:

[code]

[2018-11-13 17:09] elasticmachine commented on #35504
Pinging @elastic/es-distributed

[2018-11-13 17:14] jaymode opened #35506 "[CI] WatchAckTests testAckAllActions failure in CI"
Looking at the logs, I suspect this failure may be due to the same issue as #35503 where the watch service reloads concurrently due to new allocation ids

Build link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java8fips,nodes=virtual&&linux/56/consoleFull

Reproduce line:

[code]

Failure:

[code]

[2018-11-13 17:15] elasticmachine commented on #35506
Pinging @elastic/es-core-infra

[2018-11-13 17:45] jaymode commented on #33778
I am reopening this issue as it is still occurring https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.5+bwc-tests/35/console. Even with the change, we still need a solution for older tests including BWC tests

[2018-11-13 17:54] gpanula commented on #34931
Maybe useful bit from elected master's log when a new master tried to join the cluster.

[code]

[2018-11-13 18:03] jaymode commented on #35361
Build https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/55/consoleFull seems to have similar failures

[2018-11-13 18:20] ehaubert opened #35509 "Support "_source" in input docs for a more-like-this query"
From the documentation on the more_like_this query, like parameter:

The syntax to specify documents is similar to the one used by the [Multi GET API]
(https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-multi-get.html).

I would expect in this case, that
[code]

would only use "field3" and "field4" from test/_doc/2 as the inputs to the more_like_this query.   This is currently no

[2018-11-13 18:42] gpanula commented on #34931
Error persists with version 6.4.3
[code]

[2018-11-13 18:54] jakelandis commented on #35361
The latest build failure includes the the "fix" commit, which didn't seem to fix this test.

Here are the relevant bits :
https://gist.github.com/jakelandis/86ac7e2544f96ded3f076bfedd54a02c

Doesn't repro for me. Feel free to mute this test while we get to a resolution.

[2018-11-13 19:14] jaymode opened #35514 "[CI] TasksClientDocumentationIT testCancelTasks fails in CI"
The `TasksClientDocumentationIT#testCancelTasks` test failed in CI. I was unable to reproduce this issue but it seems interesting as the task was already cancelled somehow.

Build link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/203/consoleFull

Reproduce line:

[code]

Failure:

[code]

[2018-11-13 19:14] elasticmachine commented on #35514
Pinging @elastic/es-core-infra

[2018-11-13 19:21] jaymode opened #35515 "[CI] DocsClientYamlTestSuiteIT {yaml=reference/ilm/apis/explain/line_49} failure"
The docs test for {yaml=reference/ilm/apis/explain/line_49} failed in CI.

Build link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=fedora/56/console

Reproduce line:

[code]

Failure:

[code]

[2018-11-13 19:24] bmcconaghy opened #35516 "Index lifecycle management issue with policies being replaced"
I created a policy named
`default_policy`
and saved it.  I then created a new policy named
`-default_policy`
and saved it and  it _replaced_ `default_policy`,  There seems to be something amiss with how policies are saved and matching them up with existing policies.

[2018-11-13 19:30] inqueue commented on #34931
Secure communications is only included with a Gold or Platinum license- see https://www.elastic.co/subscriptions and click Security.

What makes this issue particularly strange is ES will start successfully and form a multi-node cluster with transport TLS configured while operating under a Basic license, though TLS is not actually enabled--which is expected under that license. However, a node that

[2018-11-13 19:37] rahst12 commented on #22471
@bleskes - Any progress on this?  We have version 6.2.3. When using Curator for a Reindex, Curator seems to ignore documents which don't meet the new Mapping file.  For example if a date is malformed, it'll just drop the document from the Reindex, no error message.

[2018-11-13 19:57] jaymode commented on #34931
@gpanula TLS (SSL) is not part of the basic license. The code is open, as in we are developing it in a repository that is publicly accessible. However, certain features like TLS are still licensed and require a higher license level than basic.

That said, if TLS is enabled on a cluster with a basic license, you'll probably encounter some odd behavior. I suggest you remove the TLS settings when ope

[2018-11-13 19:59] #35504 closed

[2018-11-13 21:09] jaymode opened #35518 "Joda time unable to handle some timezones causing test failure"
It appears as though joda time cannot handle certain timezones such as `SystemV/MST7MDT`, which results in test failures that reproduce locally.

Build link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/204/console

Reproduce

[code]

Failure

[code]

[2018-11-13 21:09] elasticmachine commented on #35518
Pinging @elastic/es-core-infra

[2018-11-13 21:36] jaymode commented on #35514
I muted this test in 634bc9d4ea5

[2018-11-13 21:38] jaymode commented on #33778
Another failure from today https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.5+bwc-tests/36/console

[2018-11-13 21:58] jaymode opened #35520 "Connection issues in CoreFullClusterRestart tests on 6.4"
A couple of builds have failed in the CoreFullClusterRestartIT test. The tests see listener timeouts and refused connections. It is not clear to me what causes this. Example builds:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+periodic/168/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+bwc-tests/54/console

[code]

[code]

[2018-11-13 21:58] elasticmachine commented on #35520
Pinging @elastic/es-distributed

[2018-11-13 22:35] elasticmachine commented on #35516
Pinging @elastic/es-core-infra

[2018-11-13 23:42] chamini2 opened #35523 "geoHashLevelsForPrecision returns 24 maximum level on 0 meters passed"
I was using `geoHashLevelsForPrecision` and in

https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/common/geo/GeoUtils.java#L202-L204

it seems to return the maximum possible level if you pass 0 meters. This is delegated to `GeohashPrefixTree`, which is returning `24`; instead of using `GeoHashUtils.PRECISION` (12).

Am I not understanding the method or thi

[2018-11-13 23:44] gpanula commented on #34931
Ahhh, my fault for not scrolling down far enough in the announcement.   Thank you for the clarification.

[2018-11-14 00:09] tbrooks8 commented on #35095
Do you have a thought about what our indicator is here? Like when we start a new node and always accept TLS and plaintext. And then have a listener for when a node disconnects, we check and see if all the nodes a now TLS. If they are all TLS, we stop accepting new plaintext connects?

Or is there somewhere else the listener should be attached?

Does this make sense from a security perspective @jay

[2018-11-14 01:48] koala775 commented on #35482
GET index/_search
{
  "query": {
                "bool": {
                    "must_not": {
                        "term": {"xxx.keyword": "xxx"}
                    },
                    "filter": [
                        {
                            "range": {
                                "crt_dt": {"gt": "2018-01-14T09:00:00.000Z", "lte": "2018-01-14T10:00:00.000Z"}

[2018-11-14 05:37] koala775 opened #35525 "indices.breaker.total.limit is not word"
**Describe the feature**:
As see in offical website:
![image](https://user-images.githubusercontent.com/35438579/48461984-41279000-e811-11e8-967d-3ca1a0cf104e.png)
but when my request include aggregation with a large number of data still OOM.

**Elasticsearch version** (`bin/elasticsearch --version`):
6.3.0

**JVM version** (`java -version`):
jdk_1.8.152

**OS version** (`uname -a` if on a Unix-li

[2018-11-14 08:04] DaveCTurner commented on #33778
Thanks @jaymode, I agree. At the time I opened this issue I couldn't find any similar-looking occurrences. However there's been three other reports since then, which is too many to be explained by bad luck with timing. @original-brownbear could you take a look?

[2018-11-14 08:05] xtrembaker commented on #22989
Hello all !

I'm currently using ElasticSearch v6.2.3, and I encountered similar problem.

I got this mapping on my index:
`
{
    "settings": {
        "analysis": {
            "normalizer": {
                "lowercaseasciifolding": {
                    "type": "custom",
                    "char_filter": [],
                    "filter": [
                        "lowercase",

[2018-11-14 08:06] original-brownbear commented on #33778
@DaveCTurner sure on it :)

[2018-11-14 09:01] hendrikmuhs commented on #35514
Another failure on `6.x`:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/182/consoleFull

[2018-11-14 09:07] bleskes commented on #22471
@rahst12 I'm afraid me previous statement still holds:

[2018-11-14 09:12] colings86 commented on #35516
I could not reproduce this bug locally. I tried the following:
[code]

and the response I got had the two separate policies:
[code]

@bmcconaghy could you share a console recreation script for this as there is presumably something different between what you are doing and what I am doing?

[2018-11-14 09:32] markharwood commented on #35525
To progress this we will need examples of the particular aggregations you are attempting. Please provide the JSON of the offending queries.

[2018-11-14 09:34] elasticmachine commented on #35523
Pinging @elastic/es-search-aggs

[2018-11-14 09:38] hendrikmuhs commented on #35514
I backported this to `6.x`: https://github.com/elastic/elasticsearch/commit/a2087d3973bd2adf0eb5bfce9f6ecec3e695aec6

[2018-11-14 09:50] #35369 closed

[2018-11-14 10:00] markharwood commented on #35509
The description says "is similar to" but not "is identical to". It is is similar in that it is an array of objects with `_index`, `_type` and `_id` parameters.

The second example in the MLT docs shows how to define the list of required fields alongside the Multi-GET-style list of docs.

Does this address your concern?

[2018-11-14 10:08] iverase commented on #35523
@markharwood note that there are two different things:

1) Spatial prefix tree based on geohash that support up to 24 levels. This is used when indexing geo_shapes and the `tree` is set to geohash.  For  [geohash prefix tree](https://www.elastic.co/guide/en/elasticsearch/reference/current/geo-shape.html#prefix-trees),  the maximum level is 24.
2) Geohash grid aggregation which supports up to 12 le

[2018-11-14 10:18] markharwood commented on #35523
OK. I'm not a geo expert so I'll leave it to the geo team to comment but perhaps one reason for the 12 vs 24 discrepancy is the different contexts:
GeohashGrid agg - being end-user facing we don't want to render gigabytes of fine-grained JSON information at the lower levels of detail, especially when used with sub aggregations.
Spatial indexes used for measuring shape intersections may want to use

[2018-11-14 10:46] elasticmachine commented on #35509
Pinging @elastic/es-search-aggs

[2018-11-14 10:46] elasticmachine commented on #35525
Pinging @elastic/es-search-aggs

[2018-11-14 10:49] jakommo commented on #35378
The most easy repro I found for this is:
On a vanilla 6.4.3, run `bin/elasticsearch-keystore add xpack.notification.pagerduty.account.my_pagerduty_account.secure_service_api_key` and add a random value, start Elasticsearch and try to update a cluster setting i.e. `curl -H "Content-Type: application/json" -u elastic:XXX -XPUT 'http://localhost:9200/_cluster/settings' -d'{"transient": {"cluster.rout

[2018-11-14 10:52] cbharathnoor opened #35534 "ES-2.4.0 | Failed to created repository, IllegalArgumentException[Unknown [repository] type [azure]"
**Elasticsearch version** (`bin/elasticsearch --version`): 2.4.0

**Plugins installed**: [{"name":"The Profile","component":"cloud-azure","version":"2.4.0","type":"j","url":null},{"name":"The Profile","component":"cloud-kubernetes","version":"2.4.0_01","type":"j","url":null},{"name":"The Profile","component":"prometheus-exporter","version":"2.4.0.0","type":"j","url":null},{"name":"Living Totem","c

[2018-11-14 11:05] hendrikmuhs commented on #35515
happened again: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=fedora/57/consoleFull

[2018-11-14 11:12] elasticmachine commented on #35534
Pinging @elastic/es-distributed

[2018-11-14 12:09] andrewbanchich opened #35538 "Create Rust client"
**Describe the feature**:

It would be fantastic to have an Elasticsearch client for Rust. There are currently only a couple third party offerings that are not anywhere near ready for production.

Rust has been voted the most loved programming language for the last three consecutive years on StackOverflow, and with companies beginning to move to its use in production, it would fit a pretty big hol

[2018-11-14 12:20] markharwood commented on #35538
@polyfractal care to comment?
Not sure where best to lodge this issue as it technically is a request for a whole new repo/project.

[2018-11-14 13:15] ehaubert commented on #35509
Perhaps I'm misunderstanding the documentation, but I don't think so.

The second example shows how to define the list of required fields in the target documents.

[code]

But this does not restrict which fields are used from the source documents.  It is possible to construct artificial documents by manually passing in the fields of interest:

[code]

If I understand, you are suggesting that the c

[2018-11-14 14:05] markharwood commented on #35509
The second example in [the current docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-query.html) I was referring to was this:

	GET /_search
	{
		"query": {
			"more_like_this" : {
				"fields" : ["title", "description"],
				"like" : [
				{
					"_index" : "imdb",
					"_type" : "movies",
					"_id" : "1"
				},
				{
					"_index" : "imdb",
					"_type" : "movi

[2018-11-14 14:19] chamini2 commented on #35523
@iverase, but the weird part is that sending a 0 to that method returns a 24, and then sending a 1 returns a 11; there is no in between. (I did not try to send floating number between 0 and 1, though :thinking:)

[2018-11-14 14:36] markharwood commented on #35509
Works for me:

	DELETE test
	PUT /test/_doc/1
	{
	   "title" : "title1",
	   "author" : "author1",
	  "description" : "descriptionShared"
	}
	PUT /test/_doc/2
	{
	   "title" : "title2",
	   "author" : "author2",
	  "description" : "descriptionShared"
	}

	//Does not match
	GET /test/_search
	{
		"query": {
			"more_like_this" : {
				"fields" : ["title", "author"],
				"like" : [
				{
					"_inde

[2018-11-14 14:41] iverase commented on #35523
@chamini2:  That is actually right as 1 meter precision is around 11 levels. If you try one centimetre (0.001 meters) then you see that the levels are 15.

[2018-11-14 14:46] chamini2 commented on #35523
In case that returning 24 makes sense for this case... Where can I find an equivalent method for geohash grid?

[2018-11-14 14:48] ehaubert commented on #35509
Hmm, I get no matches on either of those.  Maybe it has changed in more recent versions?  I'm stuck on 5.x, because of the changes to how synonym files are parsed on the 6.x and beyond.

I'm seeing both generate the same underlying query:
[code]
produces
[code]

[2018-11-14 14:49] polyfractal commented on #35538
Yeah, I'm not sure either.  @sophiec20 is probably best to handle this since she's in charge of the clients team now.

<3 Rust!

[2018-11-14 15:04] markharwood commented on #35509
OK. If you're happy that the current docs describe current behaviour correctly I'd like to close this issue which is about adding "_source" support.
There may be a different issue worth raising with 5.x functioning correctly but if it's working in 6.x I would guess it's a known issue that was already fixed.

[2018-11-14 15:04] s1monw commented on #35095
yeah that is what I was thinking about.

[2018-11-14 15:10] original-brownbear commented on #33778
@DaveCTurner even though it's unlikely it still seems like we're simply running into the timeout here:

The first line logged by node `0` in the last example above is this:

[code]

Jenkins logs the start of the node at:

[code]
(one extra hour here fore me because I'm in UTC+1)

So assuming there's no craziness with the clocks it took over 40 seconds from running the `run` script to logging the f

[2018-11-14 15:12] ehaubert commented on #35509
In the example you posted (which I can't replicate), it is working better.  I don't know that shows the current documentation is sufficient.

The underlying feature request was to be able to specify which fields from the input documents are used for input, independent of which fields are being searched in the MLT query.  The example you posted forces both to be the same.  That is better than what

[2018-11-14 15:32] jklancic commented on #34488
Can I take this issue? I would like to contribute.

[2018-11-14 16:00] markharwood commented on #35523
Do you mean you want 24 levels in geohashgrid agg or you want to express precision using meters not level numbers?

[2018-11-14 16:07] chamini2 commented on #35523
I want a method that works just like `geoHashLevelsForPrecision` but returns 12 or less (like https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-geohashgrid-aggregation.html says), not 24 (which seems to be appropriate for geohash prefix tree)

[2018-11-14 16:16] jaymode commented on #35095
It does; that said I want to lay out what could be seen as a "weakness" here in that during a rolling restart, nodes would allow plaintext initially and with a hijack of DNS someone could essentially have the cluster join with nodes it shouldn't join with and then gain access to data. This would be a pretty tough thing to do and at that point you probably have much worse things to worry about if p

[2018-11-14 16:25] markharwood commented on #35523
Are we talking Java methods? So the equivalent of:

     Math.min(12, GeoUtils.geoHashLevelsForPrecision(meters))

When we talk about changes to the elasticsearch API we generally talk about changing the REST interface for the benefit of all languages (python, perl etc).
We're not a Java SDK so we don't generally discuss making changes to internal classes to make only one language client (Java) ha

[2018-11-14 16:58] chamini2 commented on #35523
I understand that, but this seems like a bug on the Java client from my point of view. Allowing precision to be 24 in geohash grid would be good anyways.

Where should I open Java client specific bugs?

[2018-11-14 17:23] #34936 closed

[2018-11-14 17:38] markharwood commented on #35523
Can you say more about the use cases where this would be useful? We tend to avoid features that can easily create a bazillion buckets when not used with care.

I suspect GeoUtils is not considered to be part of the Java client. We are moving to a lightweight Java client free of server-side dependencies which will expose as much or little functionality as all other clients have access to via the RE

[2018-11-14 17:43] nik9000 commented on #34488
@jkelastic would you like to remove `extends AbstractComponent` from the non-server, non-xpack portions of the code base? That hasn't been claimed.

[2018-11-14 17:47] jklancic commented on #34488
Sure, I would love that @nik9000

[2018-11-14 18:05] nik9000 commented on #34488
I've added your name to my tracking comment. Enjoy! Thanks!

[2018-11-14 18:09] jasontedor commented on #34800
I want to point out one thing here. This is a response to the comment about the intent of 400. I don't know there the quoted text is from. The specification for 400 is:

[code]

The key here is "perceived to be a client error". Malformed request syntax is only an example of what could be considered a bad request. The generic idea applies here though: asking for an explanation for an unassigned sha

[2018-11-14 18:54] jpcarey commented on #34800
Grabbed from an older standard (rfc2616 10.4.1), sorry about that @jasontedor. Thank you for the clarification, although I'll still disagree (but accept the resolution here) 😄 My opinion, the client shouldn't need pre-existing knowledge of the servers "state". The response has confused me more than once, especially when the shard allocation state changed between the time checking cluster health an

[2018-11-14 18:58] dminkovsky commented on #33642
I am hitting this too 5.4?

[code]

[2018-11-14 19:15] chamini2 commented on #35523
Then there is a bug on the java server?

Doing `GeoUtils.checkPrecisionRange(GeoUtils.geoHashLevelsForPrecision(0))` throws an error:

[code]

[2018-11-14 19:22] ehaubert commented on #35509
I agree that the idea behind MLT is simplicity, but would argue that it is also treating the source document as an abstraction.

Termvectors has the same complexity as my fake document example above: the caller needs to have and provide the source text.

[2018-11-14 19:34] dakrone opened #35561 "Restoring ILM managed indices uses original indices' age for deletion"
Consider the following (simplified) use case, you want to retain indices for a
period of time, and during that time, you take periodic snapshots of the
indices:

(30 seconds is a stand in for a longer time, to make this more easily
reproducible, pretend it is `90d` or something for a production use case)

[code]

And create an index using that policy

[code]

After the index is created, during the

[2018-11-14 19:34] elasticmachine commented on #35561
Pinging @elastic/es-core-infra

[2018-11-14 19:40] markharwood commented on #35509
Nope - see https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-termvectors.html#_example_generating_term_vectors_on_the_fly

[2018-11-14 19:41] untergeek commented on #31432
Closing this as it's been addressed.

[2018-11-14 19:41] #31432 closed

[2018-11-14 19:42] s1monw commented on #35095
+1 or have a setting

[2018-11-14 19:50] markharwood commented on #35523
GeoUtils.checkPrecisionRange is only used by `org.elasticsearch.search.aggregations.bucket.geogrid.GeoGridAggregationBuilder` and `org.elasticsearch.search.suggest.completion.context.GeoQueryContext` both of which have documented precision limits of 12.
I don't think theres an issue to be flagged here unless @nknize has a concern over the 24-level shape encoding support in the index but only a 12-

[2018-11-14 19:56] ehaubert commented on #35509
I don't think I understand what you are saying;  term vectors lets you generate the most 'interesting' terms on a given doc/field/blob of text/etc.

In order to use that in a query, you have to make two queries:
1) Get the terms in the source doc/field(s) of interest
2) Generate a query on the target index/fields of interest.

Or are you saying it is possible to do that in a single step?

[2018-11-14 20:06] markharwood commented on #35509
No, you've got it.
I was just correcting the part where you said "the caller needs to have and provide the source text."
I assumed you meant the client has to fetch the _full_ text first. It only needs to supply the doc id and it gets back just the interesting terms - so avoids transferring what could be megabytes over the wire.

[2018-11-14 20:12] ehaubert commented on #35509
OK.   Those two steps are exactly what MLT does; just right now, without letting you control the fields in play on the source documents.

There is already some coordination behind the scenes, because the input document mappings don't necessarily match the searched documents, or even be documents at all.

[2018-11-14 20:38] ppf2 opened #35564 "Fail put-mapping requests sooner if they will exceed the field number limit"
6.4.1

We had a scenario when an index was already hitting the field number limit (index.mapping.total_fields.limit) and subsequent (high volume) indexing requests attempted to add new fields to this index.  As a result, a lot of put_mapping tasks got generated.  This caused the cluster
state to be held on in memory and became non-GC-able until these mapping updates eventually got rejected (and th

[2018-11-14 20:38] elasticmachine commented on #35564
Pinging @elastic/es-core-infra

[2018-11-14 20:54] dakrone commented on #35564
I think we should try to address the root cause, if possible, it'd be nice if we could check the limit for mappings prior to a `put-mapping` request being sent to the master. For instance, if the local node's cluster state contains over 1000 fields in the mapping (with the default limit being 1000), we know that even if the cluster state is behind the number of field cannot decrease, so no need to

[2018-11-14 21:40] #35498 closed

[2018-11-14 21:44] rjernst commented on #14266
We have had many discussions over the last few months on this. The biggest problem is switching the entire codebase at once is not possible. The best we can do is agree on a set of rules that can be pointed to in code reviews, and slowly migrating existing code.

The following is a concrete proposal for that ruleset:
* Members that are mutable should have `getX()` and `setX(x)` methods
* Members t

[2018-11-14 21:45] ehaubert commented on #35509
After today's discussion, it feels like that part is missing with or without my proposal?  What is the current mapping? title-to-title, description-to-description?    Historically, I think it was whole document X specified fields.

If the current mapping is field based, do the artificial documents need to have the same fields as those being searched? That wasn't the case historically, and I don't

[2018-11-14 22:33] jasontedor commented on #34800
Given that the intended use of this API is explaining:
 - why a cluster is not green
 - why a shard is allocated where it is allocated

we think a client should.

I think this is an edge case.

[2018-11-14 22:39] dakrone opened #35567 "Moving directly to copy_execution_state step in ILM causes NullPointerException"
When moving directly to the `copy_execution_state` step using move-to-step, a
`NullPointerException` shows up as the cause of the error step. Rather than
running into this, we should guard against this and return a more helpful
exception to the user to let them know how to fix it.

Reproduction:

[code]

Produces the following JSON:

[code]

[2018-11-14 22:39] elasticmachine commented on #35567
Pinging @elastic/es-core-infra

[2018-11-14 23:19] markharwood commented on #35509
It's admittedly vague. There's also [issues with highlighting](https://github.com/elastic/elasticsearch/issues/26357) which again is perhaps a good reason to opt for client-side construction of queries from the outputs of TermVector calls.
I know there has been a long-standing desire to revisit MLT design but I couldn't find any issues outlining a proposal.

[2018-11-15 00:45] #35515 closed

[2018-11-15 00:48] hanoch commented on #7574
@nknize
is this now addressed with the ES 6.5.0 release and https://github.com/elastic/elasticsearch/pull/32730 PR merge?

[2018-11-15 00:50] eskibars commented on #35538
Hey @andrewbanchich, thanks for the input!  We are considering which client(s) to work on, so it's useful to hear this request.  As @markharwood mentions, we don't really have a place to file client requests right now, so we may end up moving this at some point.  We are aware of the community-contributed clients (which, for those that end up finding this issue later, can go to https://www.elastic.

[2018-11-15 01:44] danielkasen opened #35572 "Typo on pagerduty account section"
Looks like this doc has a bug:
https://www.elastic.co/guide/en/elastic-stack-overview/6.5/actions-pagerduty.html#pagerduty-event-trigger-incident-attributes

In the `Pagerduty Action Attributes` Section under the `account` section it says `service_key_api` but it should be `service_api_key`

[2018-11-15 02:01] jklancic commented on #34488
I managed to get all remaining references removed. But I have an issue running the job `./gradlew check`. I keep getting

[code]
I did not change anything inside the distribution modules. I only touched modules: plugins, test, server (there was a missing class)

[2018-11-15 06:58] sachinaraballi commented on #16938
Is this feature available for the end users?

[2018-11-15 07:05] original-brownbear commented on #33778
Added a PR with my best guess based on the above here https://github.com/elastic/elasticsearch/pull/35576

[2018-11-15 08:45] cbharathnoor commented on #35534
The above mentioned IP (10.244.3.11) is a master node.
I have cross verified the plugins, it looks fine for me.
Please find the reference screenshot attached.
<img width="1424" alt="screen shot 2018-11-15 at 11 43 04 am" src="https://user-images.githubusercontent.com/45029099/48540076-1441ae80-e8df-11e8-83ba-429b14746efb.png">

I have also got the json data with the help of node info api,
[code]

[2018-11-15 09:11] jimczi commented on #33028
We had a discussion internally and we've decided to make `hits.total` an object in 7.0:
[code]
This is inlined with option B above. The revised plan to make this change in 7.0 is the following:
* In 7.0 hits.total is an object. Users can opt out from this format with a request parameter.
* In 7.0 we make track_total_hits accept numbers in addition to boolean, which acts as a threshold for the numb

[2018-11-15 09:16] DaveCTurner commented on #29183
As far as I can tell this doesn't occur in Elasticsearch itself, and does occur if copy-pasting the output from the Kibana dev console, so I opened https://github.com/elastic/kibana/issues/25700 and will close this.

[2018-11-15 09:16] #29183 closed

[2018-11-15 09:30] karmi commented on #33028
Great to see that we're changing to the object!

Can you provide more info how that will specifically work, @jimczi ? Does it only mean that a 6.x client will send a different header than a 7.x client, and it's the reponsibility of the user to use two separate clients? How would a 6.x client "know" which header to send otherwise?

[2018-11-15 09:41] colings86 commented on #35561
It’s not obvious that the above isn’t what the user wants.

In a scenario where the user is doing disaster recovery from a snapshot the user will want the index to maintain the state from ILM so that after disaster recovery the index continues as if it were the original copy.

But in a situation where the user is wanting to restore an old index to read the data again the user may want the index to

[2018-11-15 09:43] colings86 commented on #35561
This may actually also be an issue in CCR since when restoring an index that was a following index you may not want it to try to follow the leader index anymore. I wonder if this is a scenario that has been solved in CCR and we can use the same approach or whether there is a common approach we should adopt for these kinds of features?

/cc @jasontedor @martijnvg

[2018-11-15 09:56] jimczi commented on #33028
A 6.x client should send an header indicating its version (6) so that nodes in the cluster can adapt their  defaults and responses to the version. Clients are forward compatible so during a rolling upgrade to 7 users can still use a 6x client and with this mechanism they will not see the breaking change until they upgrade their client to 7x. There are still open questions regarding this versioning

[2018-11-15 10:30] Mpdreamz commented on #34800
Hate to be a stickler but I think the reasoning for `400` is quite a liberal interpretation of the RFC.

A `400` is widely accepted to mean: something you've sent does not validate (headers/payload) please go fix your request.

Not send the request at a later time because we are not in a state to fulfill this request at this point of time.

The question this this API answers is give me the list of

[2018-11-15 10:37] russcam commented on #35538
@KodrAus would you be able to comment on what might be currently missing in the Rust client that you've worked on?

[2018-11-15 10:56] rasmusdencker opened #35578 "Derivative aggregation does not work with the new auto_date_histogram as a parent"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.5.0
**Plugins installed**: []

**JVM version** (`java -version`):
1.8.0_191
**OS version** (`uname -a` if on a Unix-like system):
Centos 7
**Description of the problem including expected versus actual behavior**:
The `derivative` aggregation must obviously have a histogram or a date histogram parent, but it doesn't seem that the new auto

[2018-11-15 11:05] karmi commented on #34800
I agree with @Mpdreamz, and consider a `200` response appropriate in this situation.

In other words, when a client calls this API and gets an `200` status, and and empty JSON object/list, that's aligned with the purpose of the API call, in my understanding: no unassigned/inflight/etc shards, everything is OK.

[2018-11-15 11:12] DaveCTurner opened #35579 "Parse errors in SamlAuthenticatorTests"
A variety of `SamlAuthenticatorTests` failed with similar-looking messages about parse failures:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java10,nodes=virtual&&linux/60/console

[code]

[code]

A possibly-related failure occurred here, although only in one test: https://elasticsearch-ci.elastic.co/job/elastic+elast

[2018-11-15 11:12] elasticmachine commented on #35579
Pinging @elastic/es-security

[2018-11-15 11:27] DaveCTurner opened #35581 "testUseClusterByUpToDateTask expected UP_TO_DATE but was SUCCESS"
The following build failed:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/185/console

The relevant part of the log looks to be the following:

[code]

Looking at build-stats there seems to have been a flurry of such failures in PR builds at around the same time, but otherwise only very occasional mentions of this test in the last year. Not muting it.

[2018-11-15 11:30] DaveCTurner commented on #35461
Another: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+third-party-tests-s3/15/consoleText

[2018-11-15 11:50] DaveCTurner opened #35582 "Server-side timeout returns 408 Request Timeout"
In a few places we return `RestStatus.REQUEST_TIMEOUT` (i.e. `408 Request Timeout`) when a request times out. However, [RFC 7231 says](https://tools.ietf.org/html/rfc7231#section-6.5.7):

[code]

I think this does not describe the usage in the following places, all of which seem to be server-side timeouts rather than timeouts waiting for another request from the client:

https://github.com/elastic

[2018-11-15 11:51] elasticmachine commented on #35582
Pinging @elastic/es-core-infra

[2018-11-15 12:28] astefan opened #35583 "SQL: translating a query using "AND" conditions for the same field generates an error"
A query of the form `WHERE my_field=10 AND my_field=50` would not translate successfully to an ES query:

[code]

but the query itself would work if being executed with `/_xpack/sql`.

[2018-11-15 12:37] DaveCTurner opened #35584 "IpFilteringIntegrationTests#testThatIpFilteringIsAppliedForProfile failed due to connection refused"
This build failed: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/59/console

The test log is as follows:

[code]

The claimed `REPRODUCE WITH` line does not reproduce for me:

[code]

I see only very occasional failures of this test in the history so will not mute it yet.

I wonder if the IPv4/

[2018-11-15 12:37] elasticmachine commented on #35584
Pinging @elastic/es-security

[2018-11-15 12:47] DaveCTurner opened #35585 "Integration tests should sometimes cleanly shut nodes down"
Today in our real-node integration tests we shut nodes down with `kill -9 $PID`, i.e. sending `SIGKILL` to the process, which shuts it down immediately. Although it is very important to test the behaviour of nodes shutting down like this, I think the fact that we always use `SIGKILL` means we're failing to properly cover the normal shutdown procedure that happens in response to a less aggressive s

[2018-11-15 12:47] elasticmachine commented on #35585
Pinging @elastic/es-core-infra

[2018-11-15 12:50] ashishjoshi42 opened #35586 "Mount point not found in a kubernetes deployment"
**Elasticsearch version** : 5.2.2

**JVM version** (`java -version`): 1.8

**k8S version** : 1.11.4

**Description of the problem including expected versus actual behavior**:

I am deploying elasticsearch pod in a kubernetes cluster and facing the **Mount point not found** error.    The logs of the pod startup are given below

**Logs**:

-> Downloading repository-s3 from elastic
[=================

[2018-11-15 13:09] DaveCTurner opened #35587 "Build failed with `kill failed: No such process`"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+multijob-unix-compatibility/os=centos/59/console

This build failed. I am not wholly sure why, but suspect it could be this:

[code]

22127 was indeed the PID of `node0` in this cluster, but it looks from its log like it started up normally and did a bunch of stuff that one might expect a node to do. Possibly this is a Gradle-concur

[2018-11-15 13:09] elasticmachine commented on #35587
Pinging @elastic/es-core-infra

[2018-11-15 13:11] tlrx commented on #35586
Hi, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elastic forums](https://discuss.elastic.co/) instead. Thank you!

[2018-11-15 13:11] #35586 closed

[2018-11-15 13:12] elasticmachine commented on #35578
Pinging @elastic/es-search-aggs

[2018-11-15 13:13] tlrx commented on #35578
@elastic/es-search-aggs not sure if this is a limitation or a lack of documentation, so I'm marking this issue as `team-discuss` so that you can take the appropriate action.

[2018-11-15 13:14] jasontedor commented on #35587
I wonder if the node was OOM killed or otherwise died abnormally.

[2018-11-15 13:20] DaveCTurner opened #35588 "CI logs are sometimes heavily interleaved"
For instance, this build's output contains the following text: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java8fips,nodes=virtual&&linux/59/console

[code]

Avoiding this kind of interleaving would, I feel, significantly simplify the task of tracking down the cause of a CI failure. Is there anything we can do to impro

[2018-11-15 13:20] elasticmachine commented on #35588
Pinging @elastic/es-core-infra

[2018-11-15 13:20] tlrx commented on #35572
Good catch! I created #35589

[2018-11-15 13:21] elasticmachine commented on #35572
Pinging @elastic/es-core-infra

[2018-11-15 13:22] colings86 commented on #35578
This is something we should fix. We should ensure that the auto_date_histogram (and when we add it the auto_histogram) work with the relevant pipeline aggregations including the derivative aggregation

[2018-11-15 13:35] atorok commented on #35581
Thanks for reporting @DaveCTurner !
I pushed a fix for this right after the failure you linked to 6db1a9e32cc.
Subsequent runs failed differently so I'm going to close this.

[2018-11-15 13:35] #35581 closed

[2018-11-15 13:58] DaveCTurner opened #35591 "ThirdPartyAudit failed: invalid exclusions"
This build failed:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=fedora/59/console

It looks like this is the relevant error message:

[code]

Sorry, not sure what else would be helpful here.

[2018-11-15 13:58] elasticmachine commented on #35591
Pinging @elastic/es-core-infra

[2018-11-15 14:01] tlrx commented on #35461
@vladimirdolzhenko Does it ring a bell to you? I'm wondering if #32353 should be backported to 6.4

[2018-11-15 14:09] jasontedor commented on #35591
I think that the folks working on SQL should take a look.

[2018-11-15 14:09] elasticmachine commented on #35591
Pinging @elastic/es-search-aggs

[2018-11-15 14:14] atorok commented on #35585
Test clusters will terminate with `TERM` by default.
( I just wrote the code for it, will have a PR shortly ).

[2018-11-15 14:20] DaveCTurner opened #35593 "NodeDisconnectedException in CCR stats doc tests"
The following run failed:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=opensuse/60/console

The failure was that `number_of_failed_remote_cluster_state_requests` yielded 1 but was expected to yield 0:

[code]

[code]

What puzzles me is that `127.0.0.1:43215` seems to be the local node, and we're running CCR within a single cluster:

[code]

[2018-11-15 14:20] elasticmachine commented on #35593
Pinging @elastic/es-distributed

[2018-11-15 14:20] vladimirdolzhenko commented on #35461
@tlrx yes, you're right, did we have third party tests for 6.4 before ?

[2018-11-15 14:20] atorok commented on #35588
There are two things here.
One form is from  `ClusterFormationTasks` and the way these stream logs output and stderr.
It's something that I would like to address in test clusters. The output and error go to files there and it's logged on failure in a controlled fashion, so might already be better.

The other comes from  `--parallel` and how tasks in flight are still completed after one fails.
For

[2018-11-15 14:30] DaveCTurner commented on #35581
Got it, sorry for the noise. I saw those comments in the test and thought perhaps the flakiness extended past the first run sometimes, but didn't realise you'd only just introduced them.

[2018-11-15 14:31] tlrx commented on #35461
@vladimirdolzhenko I'm not sure when they were added (@fatmcgav might know). Anyway, would backporting #32353 fix the test?

[2018-11-15 14:43] fatmcgav commented on #35461
So the CI jobs for 'third-party' testing on S3 for `master` and `6.x` were added on 26th June via https://github.com/elastic/infra/pull/5680.

This was expanded to cover `6.4` and `6.5` as part of https://github.com/elastic/infra/pull/7604, as confirmed in https://github.com/elastic/infra/issues/1063#issuecomment-434221017 with @jasontedor

HTH

[2018-11-15 15:05] polyfractal commented on #35578
For anyone that may consider working on this in the future, the easy fix is to update the [`doValidate()` method for the `DerivativePipelineAggregationBuilder`](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/search/aggregations/pipeline/DerivativePipelineAggregationBuilder.java#L158) to add `auto_date_histo`, as well as the `doValidate()` methods for re

[2018-11-15 15:23] martijnvg commented on #35593
Duplicate of #35496

[2018-11-15 15:23] #35593 closed

[2018-11-15 15:35] dakrone commented on #34800
That is correct, in this case, fix your request by specifying a shard to explain, regardless of the color of the cluster.

[2018-11-15 15:35] toddferg opened #35595 "Watcher: Description field added potentially searchable"
**Describe the feature**:  I think it would be handy to have a called out description field in the watcher.  I know that it can currently be done somewhat in the metadata field.  But I think it would be handy to have a description field that is searchable in case of a lot of watchers.

[2018-11-15 15:35] elasticmachine commented on #35595
Pinging @elastic/es-core-infra

[2018-11-15 15:49] dliappis commented on #35587
The worker was immutable and by the time this got triaged the worked had been retired. I opened an infra ticket to store `/var/log/{messages,syslog}` or `journalctl` output as required per OS to store important information e.g. about Linux OOM getting triggered.

[2018-11-15 15:54] HonzaKral commented on #34800
Just to pile on - since there is *as of now* no way for the client code to reliably identify what is the underlying cause of a `400` (misshapen body VS illegal request)  then `400` is not usable from anyone's code as it requires a human to interpret.

[2018-11-15 16:09] DaveCTurner commented on #35520
It very much looks like one of the two nodes just vanished. `node-1`'s logs look normal until the end:

[code]

At approximately the same time we get `NodeDisconnectedException`s on the other node:

[code]

I think there's no information about why this node failed, but https://github.com/elastic/elasticsearch/issues/35587#issuecomment-439087392 might help hear too.

[2018-11-15 16:14] jklancic commented on #35578
Can I work on this? I would love to help out.

[2018-11-15 16:29] #35567 closed

[2018-11-15 16:30] jasontedor commented on #34800
This is an API for humans.

[2018-11-15 17:22] DaveCTurner opened #35597 "Rolling-upgrade RecoveryIT tests are broken"
The 6.x intake builds have been broken for most of today, with clusters failing to pass their wait conditions properly:

[code]

This is from https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/197/console although there are lots of other similar failures.

There's nothing obvious to me in the node logs themselves - the 3-node cluster looks to have formed fine. It does seem to

[2018-11-15 17:38] jpountz commented on #35190
@Mpdreamz I'm thinking that this could be an issue for mixed version clusters that have 6.latest and 7.0 nodes as the response format would depend on the version of the node that you are querying?

[2018-11-15 17:40] DaveCTurner commented on #35597
It is perhaps notable that all of the failures I can see have been in the two-thirds upgraded cluster or the fully-upgraded cluster. We've also seen cases where the cluster _does_ form but then times out in a subsequent health check:

[code]
(from https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/186/console)

Unfortunately the first few failures in the sequence of broken bu

[2018-11-15 18:32] ehaubert commented on #35509
+1.
I think the TV approach short-circuits the purposes of having MLT in the first place, and unscientifically, it feels like a popular feature - at least, I've run into it 'in the wild' a few times now.  That being said,  for highly structured data, I am more likely to use a set of constant-score queries based on the actual values, and what you are suggesting isn't so different.   (https://www.el

[2018-11-15 18:57] rjernst commented on #35518
The problem is the use of `TimeZone.getDefault()` in setting the timezone of a "local formatter":

[code]

I wonder if we can remove this local formatter altogether? We go to great lengths to not rely on the local timezone in other parts of the code (which is why randomized runner passes in a random timezone and locale to tests).

[2018-11-15 19:05] cduranleau commented on #26743
Is that a new problem? E.g. index1.type1.description and index2.type1.description might not be interoperable already?

I'm now to the ES ecosystem so that might be a silly question with a simple answer I'm not seeing.

[2018-11-15 19:32] Mpdreamz commented on #34800
I don't think we should use this argument ever, we never communicated this explicitly nor should it change the design of how we expose API's.

The current behavior is to return only the first unallocated shard rather then listing all the unallocated shards.

Even a `404` would be better in this case with a body saying `found: false` for the same reason `GET /my-index/_doc/id-that-does-not-exist` d

[2018-11-15 19:47] danielkasen opened #35601 "Pagerduty not following new accounts"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.3.2

**Plugins installed**: []

**JVM version** (`java -version`):
OpenJDK 1.8.72

**OS version** (`uname -a` if on a Unix-like system):
Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:
After adding a new pagerduty integration into the cluster settings, when you try to call it using the pagerduty wa

[2018-11-15 21:00] KodrAus commented on #35538
@russcam the client I built is a bit of an artifact of an older Rust before it offered async io and code generation. With those features in mind today I would approach it a little differently.

[2018-11-15 21:07] andrewbanchich commented on #35538
@eskibars The existing clients all have notes like "not for production" or "use at your own risk." None of them are ready for prime time, so it would be very beneficial to the Rust community to have something with official support.

[2018-11-15 21:11] git-cambridge commented on #14248
I am running into this issue too. Did you find any workaround for it? Maybe I shall just wait for the operation to conclude, then I will definitely know that the process was successful.

[2018-11-15 21:20] polyfractal commented on #35538
For completeness, I'm also aware of [rs-es](https://github.com/benashford/rs-es) which is trying to provide a fully typed ES client (request objects, query DSL and and responses).  It was also built before async io came to rust-land, and I believe it's still using an older pre-Tokio version of Hyper so it doesn't support async requests either.

And just generally, since it is trying to strongly ty

[2018-11-15 21:53] DaveCTurner commented on #35518
I see the value in supporting non-UTC timezones in this tool. It's for debugging cron expressions, which seem to be evaluated in UTC, and I can imagine one point of confusion is the discrepancy between UTC and the caller's own local timezone. I do however agree it's a pain for testing.

I think another way of looking at the problem is that it's a Joda/java.time mismatch. `TimeZone.getDefault()` yi

[2018-11-15 22:17] mayya-sharipova commented on #33651
@MarianaFerrDias Yes, please do.  This issue is still open and your help is very much welcome!

[2018-11-15 22:21] pyro2927 commented on #31347
This may be included in the original intent, but it would be nice to have a convenient way to delete a subset of rolled-up data.  As a specific example, I'm looking to have two levels of rollups, one with a 1hour interval for the date histogram that I'd like to keep for 3 months, and a second with a 4 hour interval that I'd like to keep for a year.  The retention period is a rolling window though,

[2018-11-15 22:30] rjernst commented on #35518
For now, I've opened https://github.com/elastic/elasticsearch/pull/35608 to fix this immediate issue. We will be converting everything to java time separately.

[2018-11-15 23:34] polyfractal commented on #35578
@jklancic sure!  Let me know if you have any questions.  If you open a PR go ahead and tag me and I'll help out reviewing the PR :)

I'm pretty sure the list of pipeline aggs that need updating is: deriv, serial diff, cusum, mov avg, mov fn (basically all the aggs that perform some function on time-based buckets)

[2018-11-16 01:00] jklancic commented on #35578
I will take a look first thing tomorrow. Thanks for letting me know. And if questions arise, I will let you know.

[2018-11-16 01:35] talevy commented on #35404
Closing because this type of visibility into the underlying code may do more harm than good

[2018-11-16 04:32] jarpy opened #36099 "TLS on Docker docs reference obsolete "platinum" image"
As [pointed out on the forum](https://discuss.elastic.co/t/docker-image-does-not-exist/156650), the docs for TLS on Docker contain obsolete references to the "platinum" image.

https://raw.githubusercontent.com/elastic/elasticsearch/c3a817957d6ff02d0412c37d28c916457e2d9531/docs/reference/security/securing-communications/configuring-tls-docker.asciidoc

[2018-11-16 05:33] Leaf-Lin opened #35615 "breaker vs breakers in /_nodes/stats API"
**Elasticsearch version** (`bin/elasticsearch --version`): all versions

**Description of the problem including expected versus actual behavior**:
Inconsistency in `GET /_nodes/stats/breaker` API vs its output.

In the output, **breakers** is shown as plural, but the API requires singular **breaker**, and when using `GET /_nodes/stats/breakers`, gets:
[code]

All the other stats are consistent bet

[2018-11-16 07:01] tvernum commented on #33845
We don't plan to introduce a Bulk Users API.
On balance we think that the number of genuine use cases for this API wouldn't justify the ongoing maintenance cost of having to support another API.

Bulk APIs introduce complications around error handling and reporting, and do not necessarily have a major improvement on performance unless an API primarily bound by network latency.

However for users w

[2018-11-16 07:01] #33845 closed

[2018-11-16 07:06] spattnaik23 opened #35617 "Set cluster.routing.allocation.enable to "all""
Shouldn't cluster.routing.allocation.enable be set to all when re-enabling routing allocation after upgrade?
Ref: https://www.elastic.co/guide/en/elasticsearch/reference/6.5/rolling-upgrades.html

[2018-11-16 08:06] tlrx commented on #35597
@DaveCTurner Sorry to hear that, this is concerning. I'm looking at this.

[2018-11-16 08:08] #35125 closed

[2018-11-16 08:17] tlrx commented on #35597
Also muted the test in master in https://github.com/elastic/elasticsearch/commit/f9aff7b181d330d7b801cf32ffe15e57920d95ce

[2018-11-16 08:34] iksaif opened #35621 "Make PeerRecovery*Service overridable by plugins"
This is somewhat linked to:
- https://github.com/elastic/elasticsearch/issues/9072
- https://github.com/elastic/elasticsearch/issues/8976

I though it would be nice to experiment (yet again) with storing indices on a distributed filesystem to have the ability to separate storage and compute. Lucene and Elasticsearch both have support for custom index store, which is nice and allow much of the hook

[2018-11-16 08:38] martijnvg commented on #35496
Another failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu&&virtual/61/console

I think that we're not deleting all auto follow patterns that we create in doc snippets, which causes the expected response get-ccr-stats.asciidoc to be incorrect. I still don't know why the node disconnects happen.

[2018-11-16 09:03] DaveCTurner opened #35623 "`qa` plugin is listed in elasticsearch-plugin install --help"
Reported here: https://discuss.elastic.co/t/whats-the-qa-plugin/156993

We include `qa` in the list of official plugins. I think we should not:

[code]

[2018-11-16 09:03] elasticmachine commented on #35623
Pinging @elastic/es-core-infra

[2018-11-16 09:19] martijnvg commented on #35496
This test does fail at least daily, so what I will do is to replace the `number_of_failed_follow_indices`, `number_of_failed_remote_cluster_state_requests` and `recent_auto_follow_errors` with value from the response. Like is done for `number_of_failed_follow_indices`.

[2018-11-16 09:39] Erni opened #35624 "Docs improvement for Rollover index API"
The current [Rollover index API](https://www.elastic.co/guide/en/elasticsearch/reference/6.5/indices-rollover-index.html) description creates confusion.
It leads to think that you can call the API, and Elasticsearch sits there waiting for any of the conditions to be met. Later on, when any of the conditions is met, the rollover automatically acts and creates new indices and changes the alias.
That

[2018-11-16 09:40] elasticmachine commented on #35624
Pinging @elastic/es-docs

[2018-11-16 09:53] elasticmachine commented on #35621
Pinging @elastic/es-distributed

[2018-11-16 10:02] wolaiye1010 opened #35626 "my queryDsl"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2018-11-16 10:04] DaveCTurner commented on #35621
"just" is just the most dangerous word :grin:

I think the changes involved in doing what you describe would be substantial. That's not to discourage your experiments so much as to note that it would be much easier for you to start by making the substantial changes within Elasticsearch's core itself, and only later on to think about how it could be separated out as a plugin if appropriate.

I thin

[2018-11-16 10:12] spattnaik23 commented on #35617
Setting it to null resulted in errors. Primary shard failed to get activated. "all" helped with this issue.

[2018-11-16 10:21] DaveCTurner opened #35627 "LocalExporter leaks a licence state listener"
Today, `LocalExporter` removes its `licenseChanged()` method from the licence state listener when closed:

https://github.com/elastic/elasticsearch/blob/816e6f6a08be821d8ec01b51bf383544d1e341b0/x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporter.java#L155

However in fact this does nothing, because it involves a new `Runnable` that is different fr

[2018-11-16 10:21] elasticmachine commented on #35627
Pinging @elastic/es-core-infra

[2018-11-16 10:28] DaveCTurner opened #35628 "OptOutQueryCache leaks a licence state listener"
Today, `OptOutQueryCache` adds a listener for changes to licence state:

https://github.com/elastic/elasticsearch/blob/816e6f6a08be821d8ec01b51bf383544d1e341b0/x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/accesscontrol/OptOutQueryCache.java#L46

It does not, however, remove this listener when closed. Possibly this is related to this forum issue: https://discuss.elast

[2018-11-16 10:29] elasticmachine commented on #35628
Pinging @elastic/es-security

[2018-11-16 11:13] jzzfs opened #35630 "[painless] NullPointerExceptions when accessing params HashMap members"
**Elasticsearch version**
Version: 6.3.1, Build: default/zip/eb782d0/2018-06-29T21:59:26.107521Z, JVM: 1.8.0_121

**Plugins installed**: []

**JVM version**:
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

**OS version**:
Mac OS Darwin xyz.local 17.6.0 Darwin Kernel Version 17.6.0
root:xnu-4570.61.1~1/

[2018-11-16 11:13] walterra commented on #33376
Do we want to support additional metadata similar to `timestamp/end_timestamp`, for example a value range? This would allow annotations based on time and value like in this demo: https://elastic.slack.com/files/U6GBF069G/FCHPVCLAK/annotate-01.mov

[2018-11-16 12:03] droberts195 commented on #33376
I think this only makes sense for an annotation tied to a single job and single `detector_index`.  Therefore the value range would have to be optional, and the UI would have to be capable of rendering annotations that didn't have a value range.

I'm not sure the extra complexity is worth it, but happy to go with other opinions on this if others think it is worthwhile.

[2018-11-16 12:09] droberts195 commented on #33376
One more problem that emerged is which index to store annotations in when they apply to multiple jobs.  The original description of this issue suggested simply a "new result type", but of course different jobs could be using different results indices, so which index should store an annotation that applies to multiple jobs?

A couple of options are:

1. Annotations always go in `.ml-anomalies-share

[2018-11-16 12:17] dimitris-athanasiou opened #35632 "[CI] MovAvgIT.testHoltWintersValuedField fails for specific seed in 6.x"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-darwin-compatibility/61/console

Failure:

[code]

Reproduce with:

[code]

Reproduces consistently on my machine.

[2018-11-16 12:17] elasticmachine commented on #35632
Pinging @elastic/es-search-aggs

[2018-11-16 12:31] costin opened #35633 "SQL: Move internals away from Joda to java.time"
Internally SQL relies on a mix of `java.time` and `joda` classes which are confusing and sometimes unexpected.
This becomes even more of an issue when dealing with date time math, as the input and output need to confirm to one API.
While the Joda dependency might not be removed all-together until #27330, we can limit its use and make the transition smoother when the time comes.

relates to #27330

[2018-11-16 12:31] elasticmachine commented on #35633
Pinging @elastic/es-search-aggs

[2018-11-16 12:59] jcassee opened #35634 "Configuration files in /etc should probably not be group-writable"
This issue was opened to get wider discussion after a [conversation on the forum](https://discuss.elastic.co/t/debian-package-creates-configuration-file-writable-by-the-elasticsearch-process/156748/2).

**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.4.3, Build: default/deb/fe40335/2018-10-30T23:17:19.084789Z, JVM: 10.0.2

**Plugins installed**: none

**JVM version** (`java -

[2018-11-16 13:09] elasticmachine commented on #35634
Pinging @elastic/es-core-infra

[2018-11-16 13:25] CrocdileChan opened #35635 "ES6.5.0 to ES5.0.1"
I have a problem.if I used to ES6.5.0 to store data. and now, I want to take data  into a ES5.0.1  .

Can the data path and the logs path still use ES6.5.0?

Sorry for my bad english!

thanks a lot

[2018-11-16 13:39] narph opened #35636 "delete_by_query API "size" parameter not supported in the json request in 6.x"
**Elasticsearch version** (`bin/elasticsearch --version`):6.x

**Description of the problem including expected versus actual behavior**:
**Steps to reproduce**:

testing the "size" parameter inside the json request
[code]
The get twitter/_search returns 2 docs after the delete_by_query call was executed in ES 5.6.x versions.
But it will return 1 doc after the call in 6.x (random testing on 6.0.0,

[2018-11-16 13:40] ywelsch commented on #35617
@spattnaik23 can you provide a series of steps to reproduce this? Thank you.

what kind of errors?

[2018-11-16 13:43] cbuescher commented on #35632
This looks very similar to #29456, maybe @polyfractal can tell whether that fix got backported or not and if those two are related?

[2018-11-16 13:43] DaveCTurner commented on #35635
Hi @CrocdileChan, thanks for your question. We prefer to keep GitHub issues for confirmed bug reports and features, and your question is better suited for the [discussion forum](https://discuss.elastic.co/c/elasticsearch). I'm closing this issue here, but it's a good question and you should get a useful response on the discussion forum.

[2018-11-16 13:43] #35635 closed

[2018-11-16 13:52] thaDude commented on #10043
+1

What is the status of this. To give some context - while the main reason for us to migrate to a parent/child model from nested was indexing speed we also did so because of the `min_children` and `max_children` support of that data model.

However, we have become painfully aware of the cost of `has_child` queries (joins) as the number of parent documents and/or complexity of queries increases.

[2018-11-16 14:00] polyfractal commented on #35632
Unfortunately, it was backported in https://github.com/elastic/elasticsearch/commit/edbb806ea10bc895be43854f53f55d8633ec2d1f.  Shame since that would have been an easy fix.

It's the holt winters test, which has a habit of being afflicted by floating point error due to the random nature of the test.  There's also a slim chance that it's related to the moving function pipeline agg, which shuffled t

[2018-11-16 14:30] MagnusAnde opened #35639 "SQL: Allow MIN() and MAX() aggregate functions to operate also on arguments of type keyword"
Allow `MIN()` and `MAX()` aggregate functions to operate
also on arguments of type keyword (and eventually also text) apart from the numeric and date.

This would simplify queries using GROUP BY returning columns of type keyword (and eventually text) that is not part of the group by statement. This would also harmonize with the expected behavior from persons used to sql in for example Sql Server.

[2018-11-16 14:31] HonzaKral commented on #35582
Since it is a server timeout I'd say that `504` would be better than `4xx` response as that indicates a client error. We just need to be careful because `504` is a retryable error and the client will, by default, attempt to retry on a different node.

Either way it is important to have a documented and stable information in the response body indicating exactly what kind of error it is, then the cl

[2018-11-16 14:41] dimitris-athanasiou commented on #35632
@polyfractal Happy to!

[2018-11-16 14:53] dimitris-athanasiou commented on #35632
Muted in efd1f1b29ff51d28a1a1c702cef6a7ce2554ee2a

[2018-11-16 14:54] dimitris-athanasiou commented on #35632
Note that I couldn't reproduce on master with the same seed.

[2018-11-16 14:59] tlrx commented on #35597
Thanks @DaveCTurner, your preliminary investigation helped a lot. I reverted  #35332 from master in d3d7c0158e2e79db53c3183fe3f81861e73a1b37 and 6.x in c70b8ac361772cf4e72f156dd623a93671f6dc98 and unmuted the test.

[2018-11-16 15:19] HonzaKral opened #35641 "Allow terms lookup when specifying document-level security"
Right now `terms` with `lookup` is not supported when specifying document-level security. It is, however, a very powerful tool that would enable many different use cases for document level security that currently require creating a custom plugin for elasticsearch.

For example consider a user coming from an external realm (ldap, saml, ad, ...) bringing along their username and group information. O

[2018-11-16 15:21] dimitris-athanasiou opened #35642 "[CI] SnapshotIT testCreateSnapshot and testSnapshotGetDefaultRepositories failed"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/61/console

Failure for `testCreateSnapshot`:

[code]

Failure for `testSnapshotGetDefaultRepositories`:

[code]

Seems like some snapshots got stuck while restoring or took longer.

Could not reproduce locally.

Reproduce with:

[code]

[

[2018-11-16 15:21] elasticmachine commented on #35642
Pinging @elastic/es-distributed

[2018-11-16 15:39] dimitris-athanasiou opened #35644 "[CI] SearchIT.testCountAllIndicesNoQuery failed on master"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=amazon/62/console

Failure:

[code]

Reproduce with:

[code]

Could not reproduce locally.

[2018-11-16 15:39] elasticmachine commented on #35644
Pinging @elastic/es-search-aggs

[2018-11-16 15:45] original-brownbear commented on #35642
This reproduces for me locally. Trying to track it down now

[2018-11-16 16:12] jasontedor commented on #35634
On the filesystem level they are, but the Elasticsearch process drops permissions at startup and after dropping permissions we can not write to these files.

[2018-11-16 16:29] elasticmachine commented on #35639
Pinging @elastic/es-search-aggs

[2018-11-16 16:41] costin commented on #35639
_added minor formatting to your post_

Thanks for the suggestion. This would essentially translate `MAX` and `MIN` into a more generic `FIRST` and `LAST` aggregate function (as it expands beyond numeric types and thus their meaning is slightly different).

We could support this through a `terms` agg with a size of 1.

[2018-11-16 16:51] dimitris-athanasiou commented on #35450
Another hit in: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/62/console

[2018-11-16 17:48] gwbrown commented on #35313
Fixed by #35524

[2018-11-16 17:48] #35313 closed

[2018-11-16 17:48] gwbrown commented on #35244
The instability is fixed and the test reenabled by #35524

[2018-11-16 17:48] #35244 closed

[2018-11-16 17:50] imotov opened #35654 "SQL: SIGNUM cannot be used in script context"
Due to the name mismatch between https://github.com/elastic/elasticsearch/blob/2efd22454a62e7387c51eb0cd973e5ff7a3fb09f/x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function/scalar/math/Sign.java#L37-L40
and
https://github.com/elastic/elasticsearch/blob/08da5bb5eadd0efd79ba5fad325da29219b89623/x-pack/plugin/sql/src/main/java/org/elasticsearch/xpack/sql/expression/function

[2018-11-16 17:50] elasticmachine commented on #35654
Pinging @elastic/es-search-aggs

[2018-11-16 18:14] elasticmachine commented on #35636
Pinging @elastic/es-distributed

[2018-11-16 18:15] nik9000 commented on #35636
I don't believe we've intentionally changed this, no.

[2018-11-16 18:17] elasticmachine commented on #35630
Pinging @elastic/es-core-infra

[2018-11-16 18:30] jen-huang opened #35658 "Remote cluster info returns fatally for invalid hostnames"
I added a cluster with an invalid hostname:

[code]

this is causing `GET _remote/info` to return fatally

[code]

For our Remote Clusters management UI feature, we're using `_remote/info` to fetch the list and info of clusters for display. Ideally it would still return the list of all clusters, maybe with the error attached to the corresponding cluster.

[2018-11-16 18:31] costin opened #35659 "SQL: Perform lazy evaluation of mismatched mappings"
Especially in the logging case, it is common to have mappings with some inconsistencies yet these fields are never used in the result, e.g.:
[code]
returns

While the message is correct, note that the problematic fields are not used.
Such queries should be allowed since the problematic fields are never used and thus can be safely ignored.

[2018-11-16 18:31] elasticmachine commented on #35659
Pinging @elastic/es-search-aggs

[2018-11-16 18:31] costin commented on #35659
/cc @alexfrancoeur

[2018-11-16 18:32] alexfrancoeur commented on #35659
cc: @elastic/kibana-canvas

[2018-11-16 18:33] elasticmachine commented on #35658
Pinging @elastic/es-distributed

[2018-11-16 18:38] Bargs commented on #33003
@jtibshirani thanks again for letting me know the feature branch was ready to look at! I created [an issue](https://github.com/elastic/kibana/issues/25820) on the Kibana repo to start tracking our research.

At the moment the biggest issue I'm seeing is that Kibana has no way to know what sub fields might be present in the objects. This prevents us from autocompleting those field names in the quer

[2018-11-16 18:53] bpintea opened #35660 "SQL: selecting a literal with HAVING COUNT returns no results"
The statement `SELECT 'const' FROM "table" HAVING (COUNT(1) > 0)` (literal `const`) will return no results, even if "table" has data.

Expected would be to return `const`.

[2018-11-16 18:53] elasticmachine commented on #35660
Pinging @elastic/es-search-aggs

[2018-11-16 20:04] imotov opened #35662 "SQL: boolean expressions in GROUP BY are serialized as a String"
To reproduce:

[code]
[code]

[2018-11-16 20:04] elasticmachine commented on #35662
Pinging @elastic/es-search-aggs

[2018-11-16 20:33] #35351 closed

[2018-11-16 20:36] jdconrad commented on #35351
Fixed by #35653

[2018-11-16 20:39] joshdover opened #35665 "[discuss] Add unique identifiers to English responses"
In order to support localization efforts in Kibana, I'd like Elasticsearch to provide stable identifiers in  responses in addition to English strings that Kibana can use to lookup the corresponding localized string to display to end users in their chosen language. Types of English strings Elasticsearch provides now: error messages, deprecation warnings, ...?

There many ways we could chose to form

[2018-11-16 20:54] cbuescher commented on #34708
Hi @robinroestenburg, Thanks for opening the issue and sorry nobody responded on this earlier since the reproduction you are giving is great. I just checked this on 6.4.3 and there still seems to be an issue. It took me a while to notice that the problem is connected to the presence of the `&` ampersand in the query string, without it you get results. Just to clarify:
[code]
This one doesn't retur

[2018-11-16 21:37] talevy commented on #35665
I am new to localization strategies, but it may make sense to bubble up within a general API interaction with ES. The Deprecation API probably won't be the last API to be localized by Kibana. May make sense to explore more general rendering strategies on the ES side, like creating a common `locale` flag that will add additional locale-specific metadata into the responses

[2018-11-16 21:47] jklancic commented on #35578
@polyfractal I took a look at the code as well as read up about aggregations. Now the `AutoDateHistogramAggregatorFactory` does not have a minimal document count like `DateHistogramAggregatorFactory` or `HistogramAggregatorFactory`. Is my assumption correct to verify (in the validation method) the value `numBuckets` is not equal zero? Or is the validation based on some other state?

[2018-11-16 22:16] elasticmachine commented on #35665
Pinging @elastic/es-core-infra

[2018-11-16 23:01] rayz2007 commented on #35627
Hi! I'd like to help on this issue

[2018-11-16 23:12] DaveCTurner commented on #35627
Thanks @rayz2007, go for it.

[2018-11-16 23:24] jen-huang opened #35671 "Cluster settings returns boolean fields as strings"
**Actual behavior**

I'm changing a cluster's `skip_unavailable` boolean setting:

[code]

That request returns:
[code]

Note that the request returns `skip_unavailable` as `"true"` instead of `true`. I am not sure if it would do the same for numeric fields.

This also occurs when retrieving settings with `GET _cluster/settings`.

**Expected behavior**

Return with correct type (like how `GET _rem

[2018-11-16 23:45] nestermn commented on #29118
Update: We still having problems with canceling running snapshot. There is error in main log pointing out why it stuck:

``[es/i-19/es.log] [2018-11-16T02:22:48.915Z][WARN][org.elasticsearch.snapshots.SnapshotsService] failed to create snapshot [pending-plan-1542311009984/ze_wux7mSWmmIzkneJgMOA]
org.elasticsearch.snapshots.InvalidSnapshotNameException: [found-snapshots:pending-plan-1542311009984]

[2018-11-16 23:46] #35518 closed

[2018-11-17 03:09] maxkalashnikov commented on #11083
Although the initial description was for archiving, this is not at all limited to that. The assumption that, just because a snapshot was written successfully, means it can be read back successfully (even immediately) is deeply flawed, especially in the face of network filesystems.

Then imagine what happens if that filesystem get replicated somewhere for, e.g., business continuity purposes. Did th

[2018-11-17 09:51] iksaif commented on #35621
I think it's fair. I will first try to build a POC with two instances sharing the same filesystem and doing recoveries with file copies instead of network to get a better sense of how hard this "just" would be.

I also need to check if a block cache will be good enough for lucene access patterns when backed by a slowish object store.

[2018-11-17 13:28] costin opened #35673 "SQL: Improve validation of unsupported fields"
Given the query
[code]
the verifier will not correctly pick up that `xxx` is an unsupported field and will let the query processing apply. While this eventually fails it should not happen.

[2018-11-17 13:30] #35633 closed

[2018-11-17 17:14] test987654123 commented on #5359
I am sorry, This is me setting .

{
    "template" : "debug-*",
    "settings" : {
        "number_of_shards" : 1
    },
    "aliases": {
        "{application}-alias-for-{env}": {
            "format": {
                "env": {
                    "lang":   "expression",
                    "script": "doc['name'].value"
                },
                "application": {
                    "lan

[2018-11-17 18:47] test987654123 commented on #22446
I am sorry. My wish help.
This is a index template setting configuartion.
 {
        "order": 5,
        "version": 60001,
        "index_patterns": [
            "debug*"
        ],
        "settings": {
            "index": {
                "number_of_shards": "1",
                "number_of_replicas": "0",
                "refresh_interval": "1s"
            }
        },
        "mappings": {

[2018-11-18 15:10] SaiDesabathina commented on #22245
How do I add -XX:+AssumeMP if I am using a Docker.  Where should I search for files

[2018-11-18 15:44] jasontedor commented on #22245
@SaiDesabathina I am happy to try to help but first I have some questions:
 - Are you using the official Elastic Docker container?
 - If so, which version of the container are you using?
 - What leads you to believe that you need this flag in your Docker container?

[2018-11-18 17:44] SaiDesabathina commented on #22245
@jasontedor  Thanks for coming forward to help. I will explain my problem clearly. It should answer your questions. I downloaded elastic search (6.5.0), kibana (6.5.0) and logstash (6.5.0) images from Elastic website. I was successful in launching elastic search and kibana containers and following this I was trying to link logstash with elastic search. I am doing by following a youtube tutorial. T

[2018-11-18 18:56] jasontedor commented on #22245
I still can not tell if you’re using the official Elastic Docker images or not. It appears not, but i would prefer to not assume. Ultimately your problem is not related to `-XX:-AssumeMP`. Your problem is that you have insufficient memory. The JVM is trying to reserve 1 GB of heap and you do not have that available, that is what the log message is telling you. We have [elastic/stack-docker](
https

[2018-11-18 21:35] #35673 closed

[2018-11-19 03:49] puneethpk opened #35680 "Elastic cluster in Kubernetes using statefulsets ,data lost during restart"
Hi,
We have a Kubernetes statefulset Elastic cluster with 3 master nodes and 2 data nodes.Elastic version being 6.4.2.After a cluster restart none of the old data i.e indices are present and only new data is being displayed even though It is being attached to the same pvc after the restart.It happens each time during cluster restart.Any idea on how to resolve this issue?

[2018-11-19 04:11] yinweitao opened #35681 "{i.n.channel.AbstractChannel:146} Force-closing a channel whose registration task was not accepted by an event loop: [id: 0x542c835b] java.lang.OutOfMemoryError: unable to create new native thread"
2018-11-19 11:58:43,976 [WARN] {i.n.channel.AbstractChannel:146} Force-closing a channel whose registration task was not accepted by an event loop: [id: 0x542c835b]

java.lang.OutOfMemoryError: unable to create new native thread
	at java.lang.Thread.start0(Native Method)
	at java.lang.Thread.start(Thread.java:717)
	at io.netty.util.concurrent.ThreadPerTaskExecutor.execute(ThreadPerTaskExecutor.jav

[2018-11-19 04:44] jasontedor commented on #35681
I am sorry that you’re having trouble.

This is not a good issue report. You’ve ignored our template, not given any steps to reproduce, and dropped a stack trace in our laps without any context. Please help us help you.

Unable to create new native thread is almost always an indication that you’ve hit a resource limit. For example a memory limit or an rlimit (e.g., max processes). This is rarely i

[2018-11-19 04:44] #35681 closed

[2018-11-19 04:45] #35680 closed

[2018-11-19 05:46] spattnaik23 commented on #35617
I followed all the steps in the Rolling Upgrades guide (link provided above).
Received errors saying "Primary shard activation failed."

[2018-11-19 06:15] astefan opened #35683 "[CI] DataTypeConversionTests testConversionToDate"
This build failed https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=virtual&&linux/67/console

Also, this one: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=virtual&&linux/66/console

And on master: https://elasticsearch-c

[2018-11-19 06:15] elasticmachine commented on #35683
Pinging @elastic/es-search-aggs

[2018-11-19 07:32] robinroestenburg commented on #34708
Hi @cbuescher, thanks for taking a look at this one. Just let me know if you need any extra information or want me to verify something.

[2018-11-19 09:17] TomasNovo commented on #34127
We can have a look on this one

[2018-11-19 09:17] TomasNovo commented on #34609
We can have a look on this one

[2018-11-19 09:22] droberts195 opened #35686 "[CI] LongGCDisruptionTests testNotBlockingUnsafeStackTraces failed"
`org.elasticsearch.test.disruption.LongGCDisruptionTests testNotBlockingUnsafeStackTraces` failed in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/239/console

The error is:

[code]

This doesn't reproduce locally for me:

[code]

[2018-11-19 09:22] elasticmachine commented on #35686
Pinging @elastic/es-distributed

[2018-11-19 09:33] droberts195 opened #35687 "[CI] CronEvalToolTests testEnsureDateIsShownInRootLocale sometimes fails"
`CronEvalToolTests testEnsureDateIsShownInRootLocale` sometimes fails.  An example is https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=virtual&&linux/67/consoleText

The exception is:

[code]

The `, local time is` bit is missing.

This did not reproduce locally for me:

[code]

[2018-11-19 09:33] elasticmachine commented on #35687
Pinging @elastic/es-core-infra

[2018-11-19 09:36] droberts195 commented on #35687
Test is muted in master in 2ee25c858d622a5caa760e79ff3f5010e43fab68

[2018-11-19 09:37] Kamapcuc commented on #9705
Yeah, thanks you @centic9 ! :)

[2018-11-19 09:39] droberts195 commented on #35687
Some other builds where the same test failed are:

* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=debian/67/console
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/115/console
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux/67/console

[2018-11-19 09:53] JalehD commented on #29715
@ycombinator @elasticmachine is this in the roadmap?

[2018-11-19 10:02] Erni commented on #29715
As previously said, we are offering free Elastic Stack Monitoring Service and customers that are behinf a proxy need its support

[2018-11-19 10:06] LuisAlvelaMendes commented on #33880
I'd like to take this issue

[2018-11-19 11:07] dliappis commented on #31717
Here's a summary of what has happened in the mean time.

We devised a [testing plan](https://gist.github.com/dliappis/67615df7622071400846ef890430f57a) comprising 3 stages:

- Stage 0:
    - Verify the impact of x-pack-security
    - Verify the impact of non-append workloadds

- Stage 1:
    - Validate `max_` defaults allow the follower to always catch up using 3 workloads ([geopoint](https://gith

[2018-11-19 11:16] ywelsch commented on #35686
@original-brownbear can you have a look at this? Thank you.

[2018-11-19 11:17] original-brownbear commented on #35686
On it :)

[2018-11-19 11:44] droberts195 commented on #29880
This wasn't muted on the 6.x branch so failed again in
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/67/console

The full log is preserved in [consoleText.txt.gz](https://github.com/elastic/elasticsearch/files/2595108/consoleText.txt.gz) and it contains the jstack output from the time of the fa

[2018-11-19 12:02] droberts195 commented on #30062
Despite #30668 a failure of the same test with an identical stack trace occurred in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=virtual&&linux/65/console:

[code]

This didn't reproduce using:

[code]

[2018-11-19 12:06] droberts195 commented on #35686
The same test also failed last Saturday on the 6.x branch: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/65/console

It's the same exception:

[code]

[2018-11-19 12:16] droberts195 opened #35690 "[CI] IndexLifecycleIT testExplainLifecycle failed"
`org.elasticsearch.client.IndexLifecycleIT testExplainLifecycle` failed in
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=fedora/66/console

The error is:

[code]

This problem did not reproduce locally for me using:

[code]

[2018-11-19 12:16] elasticmachine commented on #35690
Pinging @elastic/es-core-infra

[2018-11-19 12:24] Alufolie303 opened #35691 "dpkg: missing entries in conffiles"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.5.0, Build: default/deb/816e6f6/2018-11-09T18:58:36.352602Z, JVM: 1.8.0_181

**Plugins installed**: []

**JVM version** (`java -version`):
JVM: 1.8.0_181

**OS version** (`uname -a` if on a Unix-like system):
Linux  4.4.0-131-generic #157-Ubuntu SMP Thu Jul 12 15:51:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux (16.04.5 LTS (Xenial

[2018-11-19 12:43] lukas-vlcek opened #35692 "Task integTest can not run individual tests with parenthesis in name"
**Elasticsearch version** (`bin/elasticsearch --version`):  Tested with `6.4.3`.

Say I have rest api test file with the following content:
[code]

When I run complete integration tests using `gradle clean check`, everything goes fine.

But if I use `integTest` task to run specific test like this:

[code]
This ends with:
[code]
However, if I remove parenthesis from the test name (i.e. I modify sec

[2018-11-19 12:49] droberts195 commented on #35683
Another failure in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=virtual&&linux/68/console

Looks like the microseconds are getting truncated.

[2018-11-19 12:57] droberts195 commented on #35683
Muted on master by f70b7dc158875ec58e137a0878b589bfc53f3fa6 and on 6.x by 669e606864cdbc55ec785f82aa9902d47a26cb5a

[2018-11-19 13:05] DaveCTurner commented on #35621
Ok, I think we can close this issue as there's no action required from Elastic's end. We can always open it again if needed, although it might be better to start a new thread that's not just about the recovery service pluggability.

For the avoidance of doubt, I'm offering no opinion about this line of work, neither discouraging _nor encouraging_ it.

[2018-11-19 13:05] #35621 closed

[2018-11-19 14:21] #33181 closed

[2018-11-19 14:40] elasticmachine commented on #35691
Pinging @elastic/es-core-infra

[2018-11-19 14:45] polyfractal commented on #33880
@mpskovvang If I understand correctly, you just want the total number of buckets that a multi-bucket agg (like a `terms`) contains?

That's doable with the special [`_count` property](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-pipeline.html#_special_paths), albeit not in a great manner.  If you use a `stats_bucket` with the `_count` property of the terms ag

[2018-11-19 14:46] elasticmachine commented on #35692
Pinging @elastic/es-core-infra

[2018-11-19 14:47] ycombinator commented on #29715
@JalehD Thanks for the ping. We discussed this in our weekly team meeting this morning. The thinking is that rather than implement a proxy setting in ES, we ask users to use Metricbeat for monitoring instead, which is the long-term plan anyway.

However, before we make this recommendation:

1. The setting in Metricbeat for configuring a proxy for the Elasticsearch output is https://www.elastic.co/

[2018-11-19 14:55] markharwood commented on #26743
This came up again in https://github.com/elastic/elasticsearch/issues/35509 which we are currently keeping open, pending some feedback.

[2018-11-19 15:17] #35623 closed

[2018-11-19 15:19] sebelga commented on #35371
Great, thanks @martijnvg !

[2018-11-19 15:30] #35572 closed

[2018-11-19 15:38] sebelga commented on #35665
@joshdover Yes, this is something that would greatly help us in the UI. I already mentioned having **error codes** coming back in the errors returned by ES as they would not only help guiding the user to the proper action/screen to fix the error, but it would also help us for the translations of the error messages.

`messageId` could work for the same purpose. We would not be able to use this mess

[2018-11-19 15:46] bleskes commented on #35190
This is typically dealt with in the following fashion:
1) Add a flag to enable new functionality in the old version, while defaulting to disable. Requests without that flag will emit deprecation warnings.
2) New version only supports the flag in "enabled mode" and will omit deprecation logs when flag is used.

The suggestion above follows this pattern, which is good. The only difference with what

[2018-11-19 15:48] jakelandis opened #35699 "Ingest: Grok: duplicate patterns JAVACLASS and JAVAFILE"
As discovered via Logstash : https://github.com/logstash-plugins/logstash-patterns-core/pull/237

It appears that the Ingest Grok processor also has duplicated JAVACLASS and JAVAFILE definitions

https://github.com/elastic/elasticsearch/blob/6.5/libs/grok/src/main/resources/patterns/java

We should keep the top ones
[code]
and remove the lower ones.

[2018-11-19 15:48] elasticmachine commented on #35699
Pinging @elastic/es-core-infra

[2018-11-19 15:54] JalehD commented on #29715
@ycombinator this issue affects the usability of this [service](https://www.elastic.co/blog/introducing-the-elastic-stack-monitoring-service) for those who have servers that must connect to internet through proxy and this use-case I'm afraid won't be addressed by your above suggestions as it requires the ability to configure proxy settings in Monitoring Exporter configuration.

[2018-11-19 16:00] pickypg commented on #29715
For any user that only monitors ES / K, then the above solution should work as a _substitute_ for configuring any Monitoring Exporter configuration.

For any user that needs to also monitor LS / Beats / APM Server, then they need such a feature (or Metricbeat to support monitoring them).

[2018-11-19 16:01] ycombinator commented on #29715
@JalehD Let me step back and try to understand the setup and why using Metricbeat as the monitoring agent wouldn't work.

The ESMS blog post you linked to says:

With the Metricbeat monitoring method, the instructions will change from something like:

"Setup xpack.monitoring.exporters.* in your Elasticsearch production cluster with these settings (pointing to the ESMS cluster)"

To something like:

[2018-11-19 16:07] Erni commented on #29715
@ycombinator the issue actually affects any monitored cluster that connects to a monitoring cluster that is not in the same network and has to go through the internet.

As it says [here](https://www.elastic.co/guide/en/x-pack/current/monitoring-production.html) `In production, you should send data to a separate monitoring cluster so that historical monitoring data is available even if the nodes yo

[2018-11-19 16:13] ycombinator commented on #29715
@Erni ++ I understand the need for a proxy, regardless of whether the monitoring cluster is ESMS or another one could be on another network behind a proxy.

Yes, but it's not so much a "workaround" as where we are going longer-term anyway - having Metricbeat monitoring Elastic stack products instead of the way we do things now with internal collection and exporters on the production cluster. So we

[2018-11-19 16:15] JalehD commented on #29715
@ycombinator Wouldn't the use of Metricbeats also require additional work to make sure the index name and templates are set up in such a way that monitoring dashboard are actually useable with the resulting data?  or is the intention to make sure this module https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-elasticsearch.html takes care of all that?

[2018-11-19 16:30] ycombinator commented on #29715
@JalehD Correct, the idea is that the `elasticsearch` module in Metricbeat would send the data into the correct indices (`.monitoring-es-*`) so that the Monitoring UI continues to work as it does today. Same goes for the `kibana` and `logstash` modules as well. And we will soon be working on beats internally shipping data directly to a monitoring cluster as well (as opposed to going through a prod

[2018-11-19 16:36] JalehD commented on #29715
It is much clearer now, thank you. we will do some testing before further feedback.

[2018-11-19 17:02] original-brownbear commented on #35686
It does not seem entirely impossible that we are just getting unlucky here and the suspender thread simply doesn't get scheduled often enough when running multiple parallel JVMs. I added some logging in https://github.com/elastic/elasticsearch/pull/35702 that should make it completely clear where the problem lies here.

[2018-11-19 17:02] DaveCTurner opened #35703 "S3 repository rejects access with documented `s3:prefix` condition"
A user reports problems with the S3 repository plugin in 6.5.0:

[code]

They have an IAM policy that includes a statement like the one in the reference manual:

[code]

If they remove the `Condition` block then access is granted. I think Elasticsearch changed how it checks for bucket existence in #34123 and it's possible that the new check is no longer within the bounds of this policy. I haven't

[2018-11-19 17:02] elasticmachine commented on #35703
Pinging @elastic/es-distributed

[2018-11-19 17:34] dliappis commented on #35692
I've been able to reproduce this, e.g. tinkering with `./rest-api-spec/src/main/resources/rest-api-spec/test/info/10_info.yml` on the 6.5.0 branch and using `./gradlew :distribution:archives:integ-test-zip:integTest -Dtests.class="org.elasticsearch.test.rest.*Yaml*IT" -Dtests.method="test {p0=info/10_info/Info}"`. (FYI we've switched to `./gradlew` since https://github.com/elastic/elasticsearch/co

[2018-11-19 17:37] dliappis commented on #34485
No further feedback received. @Gunnerva  if you have the requested information please add it in a comment and we can look at re-opening this issue.

[2018-11-19 17:37] #34485 closed

[2018-11-19 17:50] dliappis commented on #32433
ping @nknize do you think there's still use for any of the binary formats mentioned here?

[2018-11-19 17:57] dliappis commented on #34468
@spinscale not sure if the feedback_needed label is required anymore. Is there sufficient info here to consider adding the proposed functionality of e.g. having a date/timestamp included/appended in the attached filename in watcher's email?

[2018-11-19 18:21] joshdover commented on #35665
@talevy I like the idea of having a common URL param that ES would use to tell whether or ES should return translation string information to the client.

@sebelga If I understand you correctly, yes the UI uses these static translation identifiers to lookup the localized string in the user's preferred language. Here's an example:

https://github.com/elastic/kibana/blob/cc07aa29d5c59efd116cd523c8ea5

[2018-11-19 19:48] grugna opened #35711 "NoClassDefFoundError RestHighLevelClient"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.0.0-alpha1

**Plugins installed**: []

**JVM version** (`java -version`): 10.0.1

**OS version** (`uname -a` if on a Unix-like system): 18.2.0 Darwin Kernel

**Description of the problem including expected versus actual behavior**:
I am creating a RestHighLevelClient and I get a NoClassDefFoundError

**Steps to reproduce**:
`RestHighLeve

[2018-11-19 20:04] polyfractal commented on #16018
We chatted about this in the search/aggs meeting a little while ago (forgot to update, sorry).

We decided that the breaking change + potential confusion around floating point error made this less than ideal.  In our experience, floating point errors are difficult to understand for even relatively savvy users.  Especially if we were to map to floats instead of doubles, it was feared many users cou

[2018-11-19 20:39] #34690 closed

[2018-11-19 22:20] rjernst commented on #35711
There is not enough information here to investigate. Can you please provide the entire log output? `NoClassDefFoundError` is usually the result of a static init failure earlier during startup.

[2018-11-19 23:02] maggiejg commented on #35703
The following logs were provided by the customer to supplement troubleshooting this issue:

[code]

[2018-11-19 23:12] rjernst commented on #35634
As was noted on the linked discuss issue, [this is intentional](https://github.com/elastic/elasticsearch/pull/20966#pullrequestreview-4499012), and as Jason points out, the Elasticsearch process cannot write to the directory due to our security manager configuration.

@jcassee Thanks for opening this, but I think we should close this as not a bug. Based on the above explanation, do you agree?

[2018-11-19 23:22] jcassee commented on #35634
@rjernst I was surprised and a bit shocked when I looked at the config directory. The use of the Java [security manager configuration](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-scripting-security.html#modules-scripting-other-layers) is not immediately apparent. My reasoning is that the principle of least surprise trumps a convenience for specific local admin procedure

[2018-11-19 23:22] #35634 closed

[2018-11-19 23:49] rjernst commented on #35630
Can you please provide the actual script your are using with `doc`? While the error message is confusing, this basically just means you are trying to dereference `null` (where the returned type is `def` in painless). This usually happens when trying to access a field that is not mapped, for example `doc['doesnotexist'].value`.

[2018-11-20 07:42] elasticmachine commented on #35641
Pinging @elastic/es-security

[2018-11-20 07:43] elasticmachine commented on #35671
Pinging @elastic/es-core-infra

[2018-11-20 07:43] elasticmachine commented on #35601
Pinging @elastic/es-core-features

[2018-11-20 08:31] sebelga commented on #35665
@joshdover I was referring that we would not be able to do this:

[code]

[2018-11-20 08:46] adityasraghav commented on #29714
anyone working on this ? If not I'd like to give it a go.

[2018-11-20 09:38] jpountz commented on #33826
The proposed patch was merged and will be available in Lucene 7.7 + 8.0. cc @ywelsch

[2018-11-20 09:38] original-brownbear commented on #35642
Fix available in https://github.com/elastic/elasticsearch/pull/35657

[2018-11-20 09:41] jzzfs commented on #35630
[code]
returns
[code]

Here's the ES footprint:
[code]

### Note 1
I unfortunately cannot share the mapping b/c of NDA but, in essence, all my other percentile, nested, stats etc aggs are working just fine. This scripted metric agg is the only one causing trouble.

### Note 2
The above issue pertains to localhost and the abovementioned build.
I tried this agg on my live server which has the follow

[2018-11-20 10:19] weberhofer opened #35729 "Documentation inconsistencies for Query String Query -> auto_generate_phrase_queries"
**Elasticsearch version** 6.x:
There is an inconsistency between https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-dsl-query-string-query which says: "auto_generate_phrase_queries -> Defaults to false"

And the changelog for 6.x:
https://www.elastic.co/guide/en/elasticsearch/reference/6.0/breaking_60_search_changes.html
saying "The auto_generat

[2018-11-20 10:43] original-brownbear commented on #35584
Fix suggestion in https://github.com/elastic/elasticsearch/pull/35730

[2018-11-20 11:07] ywelsch commented on #35703
Thanks for looking into this @DaveCTurner.  The new check is indeed no longer within the bounds of this policy. As I don't think we should extend the policy to allow require list access on the root dir (which head bucket requires, see https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketHEAD.html), I'm going to revert the problematic PR (see #35732). I have also worked on a long-term fix that

[2018-11-20 11:37] elasticmachine commented on #35729
Pinging @elastic/es-search-aggs

[2018-11-20 11:45] cbuescher commented on #35729
@weberhofer good point, the setting will definitely be ignored starting with the next major release (master branch), at least it should be removed there. I will take a look what the current state is on the 6.x branches as well.

[2018-11-20 12:47] danielmitterdorfer commented on #35377
Thanks for checking and confirming it here @rubin55. Given your positive feedback, I'm closing this issue.

[2018-11-20 12:47] #35377 closed

[2018-11-20 13:09] #35642 closed

[2018-11-20 13:09] danielmitterdorfer commented on #31774
@rayafratkina looking at https://www.elastic.co/guide/en/elasticsearch/plugins/6.3/plugin-authors.html, the page seems fine now? Also [Appendix A. Deleted pages](https://www.elastic.co/guide/en/elasticsearch/plugins/6.3/redirects.html) is empty so this seems to be fixed to me. Can you please confirm that I did not misunderstand you and close the issue if appropriate? Thank you!

[2018-11-20 13:47] atorok opened #35738 "Multime x-pack/qa/third-party/active-directory tests fail"
Reproducible with:
[code]

Note that due to vagrant being required these tests don't run on intake in CI.

[code]

[2018-11-20 13:47] elasticmachine commented on #35738
Pinging @elastic/es-security

[2018-11-20 13:56] atorok commented on #35738
The tests pass on `6.x`

[2018-11-20 14:32] najdanovicivan opened #35739 "Feature request: Label on bulk api"
I'd like to have ability to pass the label in bulk api Index and update parameters this can be used to track responses much better. For example I am migrating the data from MySQL and I want ElasticSearch to generate the ids but at the same time I want to keep track of ids from MySql.

I'd like to be able to send request in the following format

[code]
I like to get that same label field completely

[2018-11-20 14:50] MirAkram commented on #35739
mj1265849@gmail.com
در تاریخ ۲۰ نوامبر ۲۰۱۸ ۷:۳۴ بعدازظهر، "Najdanovic Ivan" <
notifications@github.com> نوشت:

[2018-11-20 14:53] MirAkram commented on #35738
mj1265849@gmail.com
در تاریخ ۲۰ نوامبر ۲۰۱۸ ۶:۵۷ بعدازظهر، "Alpar Torok" <
notifications@github.com> نوشت:

[2018-11-20 14:59] grugna commented on #35711
That was the earliest part of the log, it wasn't finding RestHighLevelClient. I added

`<dependency>
        <groupId>org.elasticsearch</groupId>
        <artifactId>elasticsearch</artifactId>
        <version>7.0.0-alpha1</version>
        </dependency>`

and I got a class missing from Lucene.

Then I solved the problem going back to version 6.5.0.

[2018-11-20 14:59] #35711 closed

[2018-11-20 15:31] PnPie commented on #35636
Hi @nik9000
it seems that the "size" parameter in request body doesn't work anymore during some previous changes, I created a PR for it.

[2018-11-20 15:43] dakrone commented on #35561
We discussed this and for now a workaround is setting `index.lifecycle.name` to `null` when doing the restore. We also discussed bringing back the `index.lifecycle.skip` setting to allow skipping a particular index, which could be set to true during the restore.

Regardless, we should document this as a known issue / workaround for now with intent to find a more elegant solution after the initial

[2018-11-20 15:59] pickypg opened #35743 "[Monitoring] Remove sync Call"
https://github.com/elastic/elasticsearch/blob/e91f404d1650573b7af70b7df8f5bc1f831f0f5a/x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/http/VersionHttpResource.java#L59

We should convert this to be an async call like the rest of the Monitoring resource code. As it is, the synchronous call has a `30s` timeout can be more flexible by making it async.

[2018-11-20 15:59] elasticmachine commented on #35743
Pinging @elastic/es-core-features

[2018-11-20 15:59] polyfractal opened #35744 "[Rollup] Loosen validations when only raw data is queried"
Ask coming from kibana-land: https://github.com/elastic/kibana/issues/24059

If a user hits the RollupSearch endpoint, we enforce a variety of constraints based on the matching job that queried.  The most notable restriction is the interval.  Once a chart is rendered, a user may wish to zoom in on a region.  If this region is purely "raw" data, the interval validation isn't _technically_ required

[2018-11-20 15:59] elasticmachine commented on #35744
Pinging @elastic/es-search-aggs

[2018-11-20 16:20] costin opened #35745 "SQL: improve handling of ES aggregations"
Currently underlying ES aggregations are returned as are, both as sub-aggregations and bucket selector.
Unfortunately due to the underlying inconsistencies this can have undesirable effects, for example:

1. MAX/MIN can work on date fields however they return an actual long instead of a time object causing failures
2. aggregations on null/empty groups return their initial result, not null which ag

[2018-11-20 16:20] elasticmachine commented on #35745
Pinging @elastic/es-search-aggs

[2018-11-20 16:34] walterra commented on #33376
- The current state of discussion is that APIs will be exposed via Kibana only, everything necessary to be able to view/add/edit annotations from within the UI should be doable via Kibana without requiring any custom endpoints on the ML java plugin side.
- However, automatically generated annotations might be done via the java plugin, it's just that this functionality is internal only and doesn't

[2018-11-20 16:50] #35584 closed

[2018-11-20 16:54] droberts195 commented on #33376
Yes, definitely we'll add this index in the ES code.  We'll also need to add some sort of cleanup code on the ES side.

[2018-11-20 17:05] matriv opened #35749 "SQL: Implement IFNULL(expr1, expr2) function"
Implement IFNULL a variant of COALESCE used by MySQL but also other DBs.
It's also included in the ODBC spec as system function:
//https://docs.microsoft.com/en-us/sql/odbc/reference/appendixes/system-functions?view=sql-server-2017

Relates to #34956

[2018-11-20 17:05] elasticmachine commented on #35749
Pinging @elastic/es-search-aggs

[2018-11-20 17:46] MirAkram commented on #35745
mj1265849@gmail.com
در تاریخ ۲۰ نوامبر ۲۰۱۸ ۹:۲۲ بعدازظهر، "Costin Leau" <
notifications@github.com> نوشت:

[2018-11-20 17:53] rjernst commented on #35630
I'm not able to reproduce this. I created an index with a single doc, then ran:

[code]

And I get the expected explain response:
[code]

The example you gave that "works" is also not the same as what you first pasted. The latter looks for an `id` field in doc, while the former just tries to explain `doc` (which is what I ran). And this also does not match the title of this issue (which implies th

[2018-11-20 18:05] rjernst commented on #35671
This is due to how settings are stored internally. They are essentially a flat key/value map (string to string). Serializing to json just expands that map based on dots in the field name, but the values are still the "raw" string values. This could certainly be changed, but I think it will be a large amount of work. We would need the corresponding `Setting` object for each setting contained, in or

[2018-11-20 19:20] imotov commented on #32433
@dliappis yes, we still think that the binary protocol support on the interface would be quite beneficial after we add support for WKB to geo.

[2018-11-20 20:38] imotov commented on #35739
Could you explain the reason for this? Why not just use MySql ids instead of asking Elasticsearch to generate ids and risk having the duplicate data?

I would also like to mention that the responses are coming back in the same order as the requests, so keeping track of this on the client side is as simple as keeping an array of strings with MySql ids until you get the response back.

[2018-11-20 21:05] jbaiera commented on #35496
Another instance https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/70/

[2018-11-20 21:10] jbaiera commented on #32827
Have a new instance of this: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/255/console

[code]

[2018-11-20 21:26] conet opened #35754 "Script queries using joda time getMillis() slower than using java time toInstant().toEpochMilli()"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.5.0, Build: default/tar/816e6f6/2018-11-09T18:58:36.352602Z, JVM: 1.8.0_191

**Plugins installed**: []
No extra plugins

**JVM version** (`java -version`):
java -version
java version "1.8.0_191"
Java(TM) SE Runtime Environment (build 1.8.0_191-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.191-b12, mixed mode)

**Description o

[2018-11-20 21:36] conet commented on #35754
@rjernst I updated the description since I figure out a way to increase the sample dataset hit by the query.

[2018-11-20 21:36] najdanovicivan commented on #35739
I migrating from SQL database and I have to use joins in ElasticSearch. There is data from multiple tables so there are same id's across various tables. I am unable to use different types anymore since mapping type is deprecated in 6.0.0

The the other reason I need those Ids to be generated by ElasticSearch is because I am going to use ElasticSearch not only as search engine but as the main datab

[2018-11-20 21:39] dliappis commented on #34817
Thanks for the report @cachance7 !

I raised https://github.com/elastic/elasticsearch/pull/35755 to address this.

[2018-11-20 21:48] mayya-sharipova commented on #30303
Closed with #34533

[2018-11-20 21:48] #30303 closed

[2018-11-20 21:48] costin commented on #35749
Please update the description in #34956 as well. Thanks.

[2018-11-20 23:26] cglewis opened #35761 "Releases are no longer being published to PyPi"
The latest released version is 6.5.1, however there hasn't been a pushed PyPi release since 6.3.1

[2018-11-20 23:38] polyfractal commented on #35745
For 1), you can set the `format` property of min/max aggregations to format the long into a date.  E.g.

[code]

Returns:

[code]

If you're working with the java objects, you should be able to set the `format` in the request, and then from the `NumericMetricsAggregation.SingleValue` object you can use `getValueAsString()`.  It unfortunately looks like `getValueAsString()` is not part of the `Max`

[2018-11-20 23:38] tvernum commented on #35761
@cglewis I assume you are refering to the [`elasticsearch-py` client](https://github.com/elastic/elasticsearch-py) here?

[2018-11-21 00:05] cglewis commented on #35761
Oh, oops. You’re right.

[2018-11-21 00:05] #35761 closed

[2018-11-21 01:32] geekpete commented on #25244
It might be nice to have different limits for different scroll activities, like two pools one for fast/short lived scrolls and another for longer running scrolls.
Then a way to do a scroll against one or other of the scroll types to differentiate between "regular" or short running scrolls and "special" or longer running scrolls that would take up a slot for longer.

The idea might be to have a muc

[2018-11-21 02:00] tvernum commented on #35738
My guess this is due to realm config changes.
I did have these tests working at 1 point during that PR, but things evolved.

I'll look at it.

[2018-11-21 02:02] jasontedor commented on #35534
Please note that 2.4.0 is past post-end-of-life support.

[2018-11-21 02:49] #34708 closed

[2018-11-21 03:50] imotov opened #35767 "SQL: representation of geo objects in JDBC"
When a geo_shape or a geo_point is sent to the JDBC client, we need to represent it as some sort of the object when it is returned by JDBC's JdbcResultSet.getObject(int column) method. There are several possible alternatives here including

- **WKT String**. Currently, geo points and geo shapes are serialized as WKT-formatted strings and we don't do any additional transformations on the JDBC side,

[2018-11-21 03:50] elasticmachine commented on #35767
Pinging @elastic/es-search

[2018-11-21 03:50] elasticmachine commented on #35767
Pinging @elastic/es-analytics-geo

[2018-11-21 06:31] mpskovvang commented on #33880
@polyfractal Thanks for your detailed answer. The `stats_bucket` solves the issue in my case. I haven't thought of this solution.

My point was exactly network related. I understand that Elasticsearch still has to perform all the hard work each time. In the mean time I decided to go with the local pagination.

Seems like this issue can be closed then. Thanks for your help.

[2018-11-21 08:57] kocomic opened #35770 "High CPU usage of nodes."
**Describe the feature**:  High CPU usage of nodes.

**Elasticsearch version** (`bin/elasticsearch --version`): 1.4.5

**Plugins installed**: []

**JVM version** (`java -version`): openjdk version "1.8.0_191"

**OS version** (`uname -a` if on a Unix-like system): Linux es06 3.10.0-693.2.2.el7.x86_64 #1 SMP Tue Sep 12 22:26:13 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem in

[2018-11-21 09:33] #34817 closed

[2018-11-21 09:42] cdahlqvist commented on #34352
When benchmarking frozen indices to get an idea of the overhead and added latency it adds I can see two common scenarios:

**1) Dedicated Cold nodes**

Here all indices will be frozen, and due to the low heap usage it may be possible to hold a lot of data with a small heap. In order to efficiently use the available resources and allow parallel processing of frozen indices, I assume it may make sen

[2018-11-21 09:47] markharwood commented on #32761
My bad. Believe the docs not me :)
So it's a `segment term ordinal -> global term ordinal` map.

We have logic that tries to automatically guess the best execution strategy but when I run selective queries I find setting `execution_hint` to `map` is often a useful guiding hand.

[2018-11-21 10:07] synhershko commented on #32761
You were wrong about the mapping, not about the timings which is what I referred to... Like I said our tests show exactly what you described for high cardinality fields. I'm not aware of any monitoring / APIs which reflect on the size of that thing, and it seems to take us ~15m to load global ordinals and ~5GB on-heap for a single field from single index which is bad.

What's more curious is that

[2018-11-21 10:13] original-brownbear opened #35772 "[CI] org.elasticsearch.gateway.RecoveryFromGatewayIT testReuseInFileBasedPeerRecovery failed on master"
`org.elasticsearch.gateway.RecoveryFromGatewayIT testReuseInFileBasedPeerRecovery` failed on `master` in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/262/console

[code]

Does not easily reproduce locally with (but randomly failed for me locally today):

[code]

[2018-11-21 10:13] elasticmachine commented on #35772
Pinging @elastic/es-distributed

[2018-11-21 10:41] cbuescher commented on #35729
Closed by https://github.com/elastic/elasticsearch/pull/35734

[2018-11-21 10:41] #35729 closed

[2018-11-21 10:42] ywelsch commented on #35772
@bleskes could you help with this?

[2018-11-21 10:44] javanna opened #35773 "SimpleQueryStringBuilderTests fails on 6.x"
Recent failures: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/239/ and https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=oraclelinux/71/console .

[code]
[code]

Reproduce lines (they both reproduce for me):

[code]

[code]

I suspect this is due to https://github.com/elastic/elasticsearch/commit/92331fdb6b333b65077418ecf4e

[2018-11-21 10:44] elasticmachine commented on #35773
Pinging @elastic/es-search

[2018-11-21 10:49] javanna commented on #35773
I muted this test as it is failing quite frequently on 6.x.

[2018-11-21 10:50] cbuescher commented on #33359
@mayya-sharipova this seems to fail in 6.5 now with the introduced "too_many_clauses" exception, so I think this issue can be closed. Please reopen if you think there is anything left to do.

[2018-11-21 10:50] #33359 closed

[2018-11-21 10:51] pontus-mp opened #35774 "Feature request:"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2018-11-21 11:05] maryam-abdullah opened #35775 "Apply Max Boost and Min Score for Each Function in Function Score"
Hey,

Is it possible to define multiple max boosts for a set of functions in the function score?

Thank you.

[2018-11-21 11:06] pontus-mp opened #35776 "Feature request: Shard-level row limiting for efficient (but approximate) deep pagination"
### What
We would like it to be possible to limit the number of rows returned from each shard during queries.

### Why
[Deep pagination is demanding in distributed systems](https://www.elastic.co/guide/en/elasticsearch/guide/current/pagination.html), but it's theoretically possible to sacrifice a bit of accuracy to make this a lot faster. By carefully reducing the number of rows returned from each

[2018-11-21 11:06] #35774 closed

[2018-11-21 11:39] javanna commented on #23739
Despite the recent change, I see a couple of recent test failures on master, see https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/246/console , https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/245/console , https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/244/console . Strange that these three look to be consecutive r

[2018-11-21 11:40] jasontedor commented on #35739
We have had previous requests like this to be able to incorporate some context into the request that is maintained and returned server side. Our reasoning for not accepting these requests is because that context can be held client side already (for example, in the capture of an asynchronous callback). Additionally, with this way, you can structure the context however you like, and we are not subje

[2018-11-21 11:56] jasontedor commented on #35739
Additionally, a goal we have is to (within other constraints) keep APIs small and accepting this request runs counter to that. It increases the surface area of the API without a concomitant increase in functionality.

[2018-11-21 12:02] javanna opened #35779 "XPackRestIT.rollup/delete_job/Test delete running job fails on 6.5"
Failure (https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.5+periodic/159):

[code]

Reproduce line (it does not repro for me):

[code]

[2018-11-21 12:02] elasticmachine commented on #35779
Pinging @elastic/es-analytics-geo

[2018-11-21 12:03] javanna commented on #35779
@polyfractal I wonder if this is something you are familiar with, I haven't muted the test yet as I have only seen one failure ever.

[2018-11-21 12:04] javanna commented on #35496
Another instance: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=sles/72/console

[2018-11-21 12:15] cbuescher commented on #35773
This happens when we don't register any types, which doesn't happen any more on 7.0 because of types removal. I will add an `assumeTrue` like we have in other tests here.

This one is also related to no types being present in conjunction with a selection of more than one field. We used to build DisjunctionMaxQuerys containing only MatchNoDocsQuery on these cases, but we only build one MatchNoDocsQ

[2018-11-21 12:34] tlrx commented on #35775
Hi @maryam-abdullah, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elastic forums](https://discuss.elastic.co/) instead. Thank you!

[2018-11-21 12:34] #35775 closed

[2018-11-21 12:54] matriv opened #35781 "SQL: Implement ISNULL(expr1, expr2) variant of COALESCE"
Implement `ISNULL` variant of COALESCE which takes only 2 arguments
and is used by MS-SQL server.

Relates to #34956

[2018-11-21 12:54] elasticmachine commented on #35781
Pinging @elastic/es-search

[2018-11-21 12:59] matriv opened #35782 "SQL: Implement NVL(expr1, expr2) variant of COALESCE"
Implement NVL variant of COALESCE which takes only 2 arguments
and is used by Oracle.

Relates to #34956

[2018-11-21 12:59] elasticmachine commented on #35782
Pinging @elastic/es-search

[2018-11-21 13:08] polyfractal commented on #35779
I will take a look, thanks for the ping @javanna

[2018-11-21 13:09] costin commented on #34609
@TomasNovo sure, go ahead. Please see the contributing guide lines.

Thanks,

P.S. Not sure what do you mean by "we" but all contributors need to sign the CLA.

[2018-11-21 13:11] kosa1234 commented on #32151
@nik9000 - I am also facing the same issue. I am on 6.4.2 version. The stacktrace looks like below -
 java.lang.NoClassDefFoundError: Could not initialize class org.elasticsearch.common.xcontent.LoggingDeprecationHandler
	at org.elasticsearch.action.update.UpdateRequest.toXContent(UpdateRequest.java:868)
	at org.elasticsearch.common.xcontent.XContentHelper.toXContent(XContentHelper.java:349)
	at o

[2018-11-21 13:15] javanna opened #35785 "FrozenIndexTests.testCloseFreezeAndOpen fails on master"
Failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/266/console

[code]

Reproduce line (does not reproduce for me):

[code]

[2018-11-21 13:15] elasticmachine commented on #35785
Pinging @elastic/es-distributed

[2018-11-21 13:18] javanna commented on #35785
@s1monw would you like to have a look at this? I haven't muted the test as it failed only once since it was added. Let me know how you prefer to proceed?

[2018-11-21 13:37] elasticmachine commented on #35776
Pinging @elastic/es-search

[2018-11-21 13:40] polyfractal commented on #35776
I'm not positive if it is identical in practice, but I would guess that [`terminate_after` parameter](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html#_parameters_4) gives much the same effect?  `terminate_after` tells the shard to stop collecting results after `n` documents have been collected

[2018-11-21 13:42] sunyaf opened #35786 "x-pack-sql-jdbc-6.5.1.jar报错Caused by: java.lang.NoClassDefFoundError: org/elasticsearch/xpack/sql/client/Version"
Caused by: java.lang.NoClassDefFoundError: org/elasticsearch/xpack/sql/client/Version
	at org.elasticsearch.xpack.sql.jdbc.jdbcx.JdbcDataSource.<clinit>(JdbcDataSource.java:28) ~[x-pack-sql-jdbc-6.5.1.jar:6.5.1]
	at cc.youshu.eurekaclient.config.EsDruidDataSourceConfig.esDataSource(EsDruidDataSourceConfig.java:43) ~[classes/:na]

[2018-11-21 13:46] #29990 closed

[2018-11-21 14:19] kosa1234 commented on #32151
@nik9000 - I am also facing the same issue. I am on 6.4.2 version. The stacktrace looks like below -
`java.lang.NoClassDefFoundError: Could not initialize class org.elasticsearch.common.xcontent.LoggingDeprecationHandler at org.elasticsearch.action.update.UpdateRequest.toXContent(UpdateRequest.java:868) at org.elasticsearch.common.xcontent.XContentHelper.toXContent(XContentHelper.java:349) at org.

[2018-11-21 15:00] pontus-mp commented on #35776
`terminate_after` didn't work as expected when I experimented with it. I did a test with `offset=100`, `size=200`, which (if I understand things correctly) should collect 300 hits per shard. However, using `terminate_after=300` with an otherwise unchanged query resulted in very different hits.

I assume it's more intended as a circuit breaker which does not consider scoring when triggered, or simi

[2018-11-21 15:20] cbuescher commented on #35773
I pushed 48f9c0db0e6bd9a8128b73e0d1d2c4580078954c with a fix.

[2018-11-21 15:35] #35659 closed

[2018-11-21 15:45] tlrx commented on #35786
Hi, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elastic forums](https://discuss.elastic.co/) instead. Thank you!

[2018-11-21 15:45] #35786 closed

[2018-11-21 15:54] ycombinator commented on #35495
Hey @jakelandis thanks for creating this issue. We might have a need for this feature for @elastic/beats#8914. Without mentioning specific releases, any ideas if this is something that'll be worked on "soon" or "later" 😄? Thanks.

[2018-11-21 15:57] costin commented on #35786
This is an actual bug that made it into the 6.5.1 release.
There is a PR in place to fix this for 6.5.2, namely https://github.com/elastic/elasticsearch/pull/35602

Cheers

[2018-11-21 16:07] #35749 closed

[2018-11-21 16:09] droberts195 opened #35792 "Periodically retry persistent task allocation"
Currently the persistent tasks framework attempts to allocate unallocated persistent tasks in the following situations:

* Persistent tasks are changed
* A node joins or leaves the cluster
* The routing table is changed
* Custom metadata in the cluster state is changed
* A new master node is elected

When an ML node fails we need to reallocate ML jobs according to their memory requirements, taking

[2018-11-21 16:09] elasticmachine commented on #35792
Pinging @elastic/es-distributed

[2018-11-21 16:09] elasticmachine commented on #35792
Pinging @elastic/ml-core

[2018-11-21 16:29] jkakavas commented on #30062
#30668 was sadly never backported to 6.x, my bad. I will fix this now

[2018-11-21 16:33] #30062 closed

[2018-11-21 16:37] droberts195 commented on #30062
Thanks @jkakavas, I assumed the fix was in 6.x because that PR was labelled with 6.3.0 and 6.4.0.  I've changed the labels on the PR to show the earliest version it's in is now 6.6.0.

[2018-11-21 16:57] pickypg opened #35797 "[Monitoring] Make LocalExporter::openBulk Async"
This is a spin-off from #35765 and #35743, but specifically targeting the `LocalExporter` bulk initialization code.

Like #35765 is doing with the `HttpExporter::openBulk`, the `LocalExporter::openBulk` initialization code needs to be made truly, fully async as well.

[2018-11-21 16:57] elasticmachine commented on #35797
Pinging @elastic/es-core-features

[2018-11-21 17:12] snarlistic commented on #28974
Ever since upgrading from version 6.1.2 to 6.4.2 I had a similar experience, except that these messages where not printed a few times during upgrade, but every now and than ever after. I noticed that especially during the making of a snapshot these messages appeared, but also at other times when for instance a node left or joined the cluster.

Searching the Elasticsearch source code I found the so

[2018-11-21 18:11] markharwood commented on #35190
I looked into auto-detecting PUTs of typeless mappings/templates to see if we can avoid the need for passing an `include_type_name` flag in the URL. It looks like this will be possible as we can check if the root object has a value called "properties". Originally I thought that real estate agents with a doc type called "properties" might be an edge case which would cause ambiguity. Fortunately 6.5

[2018-11-21 18:15] javanna commented on #35480
Same test but a different failure here: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/72 .

[code]

[2018-11-21 21:04] #34047 closed

[2018-11-21 21:33] TimHeckel commented on #35118
This would be so beneficial -- is this planned for `6.6.0`? I haven't tried, but I assume it's not baked in `6.5.0` correct? I know it's not working in` 6.4.1`.

[2018-11-21 22:15] #35781 closed

[2018-11-21 22:49] parallelthought commented on #32692
Observing the same error in v6.4.3.

Without the ability to use the Pipeline aggregation, Composite aggregation loses a lot of flexibility. Looking forward to a fix.

There is an error (or typo) in the above mentioned query for reproducing this behaviour i.e. the pipeline aggregation should be as mentioned below:

[code]

[2018-11-21 23:03] polyfractal commented on #35779
Right, so the test failed because it happened to query the job when it had moved into the `INDEXING` state, which is sorta like a subset of the `STARTED` state.

Ideally this would be fixed with a regex that checks `(STARTED|INDEXING)`, but there are some regex issues with yaml tests right now.  I'll open an issue about that in a few.

I think this can be fixed by just setting the job cron to run

[2018-11-21 23:19] #35779 closed

[2018-11-21 23:48] polyfractal opened #35805 "Allow setting regex flags on YAML test matches"
To make [_cat yaml tests](https://github.com/elastic/elasticsearch/blob/master/rest-api-spec/src/main/resources/rest-api-spec/test/cat.indices/10_basic.yml#L22-L34) more pleasant to read/write (and maybe elsewhere), we implicitly [enable the `Pattern.COMMENTS` flag](https://github.com/elastic/elasticsearch/blob/master/test/framework/src/main/java/org/elasticsearch/test/rest/yaml/section/MatchAsser

[2018-11-21 23:48] elasticmachine commented on #35805
Pinging @elastic/es-core-infra

[2018-11-21 23:49] polyfractal commented on #35805
Also /cc @elastic/es-clients

[2018-11-22 00:19] ekalgolas commented on #35797
Can I work on this?

[2018-11-22 00:29] pickypg commented on #35797
@ekalgolas I was going to start work on this issue early next week, and it depends on the work done in #35765, which is not yet merged. It's probably best to find another issue.

[2018-11-22 00:32] ekalgolas commented on #35797
ohk sure no worries

[2018-11-22 00:46] jimczi commented on #35776
`terminate_after` stops the collection after `n` documents have been collected regardless of how they rank in the query. The costly part of deep pagination is that each shard needs to return the top N documents starting from 0 no matter what `from` is. The feature that is proposed here is to return a top N per shard where N is less than the total requested `size`. The idea is that the contribution

[2018-11-22 07:36] pontus-mp commented on #35776
`search_after` is great when you are doing things like iterating over entire result sets, but implementing good pagination for user-facing search functionality ends up being quite challenging. Using "next-only" pagination is simple, but that tends to frustrate users.

The shard-level limit might seem quite dangerous at first, but you can do things like having no limit for the first X pages and the

[2018-11-22 08:41] martijnvg commented on #35480
The leader index gets created and at the same time the auto follow coordinator fetch the remote cluster state. Not all primary shards have been allocated, because the create index request for leader index has not returned. This causes index following to fail, because not all primary shards have history uuid in its index shard stats.

I will work on a change that let the auto follow coordinator wai

[2018-11-22 09:00] nthreads opened #35811 "Elasticsearch Rest High Level Client compiling error"
I am using elasticsearch high level java rest client for my Android project but i am unable to execute it after adding dependency in build.gradle file. I am following dependency of elastic client.

 `'org.elasticsearch.client:elasticsearch-rest-high-level-client:6.5.1'`

When I run my project, i get following error

`org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':FC3:tran

[2018-11-22 09:50] #35597 closed

[2018-11-22 10:07] iverase opened #35813 "Orientation of geo_shapes is ignored"
It seems the setting `orientation` for [geo_shape](https://www.elastic.co/guide/en/elasticsearch/reference/current/geo-shape.html) has no effect. Here is an example:

[code]

My expectations are that those polygons are different and mutually exclusive, but they seem to represent the same polygon regardless of the order of the vertices.

[2018-11-22 10:07] elasticmachine commented on #35813
Pinging @elastic/es-analytics-geo

[2018-11-22 10:14] atorok commented on #35811
I  glanced over the exception but nothing that relates to the HLRC stands out.
Are you able to provide a minimal project that reproduces the error ?

[2018-11-22 10:41] #35782 closed

[2018-11-22 10:41] azdkj532 opened #35817 "[Ingest] default_pipeline is not working when the index is referred by its alias"
**Elasticsearch version** : 6.5.0

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 18.04

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

1. Create a pipeline that will modify `_index` field of the index.
[code]
2. Create a index with default_pipeline
[code]
3. Create destination index
[code]
4. Index something
[code]

Then we can fi