[2017-01-03 09:35] s1monw commented on #22367
I don't understand the problem here to be honest. There is no such method `BaseRestHandler#process` neither in 2.x nor in 5.x nor in master. In all versions you have a handle method where you handle the request and send back a response. `RestResponse#addHeader(String name, String value)` has everything you need no?

Can you maybe share some code where you would like to set the header?

[2017-01-03 09:42] colings86 opened #22412 "Date range query rewrite should rewrite INTERSECTS query case in UTC"
The rewrite for the date range query has three cases:
1. DISJOINT - query is rewritten to a match none query
2. WITHIN - query is rewritten as an unbounded (`[null TO null]`) date range query
3. INTERSECTS - query is not rewritten and `this` is returned

Because we don't rewrite the query in the 3rd case above we miss the opportunity to have the query returned in a normalised (UTC milliseconds) fo

[2017-01-03 09:48] s1monw commented on #22116
`NetworkInterface.getInetAddresses()` & `NetworkInterface.getHardwareAddress()` supports the `getNetworkInformation` permission I think we should grant this to get rid of one of the problems.

For `IfConfig.logIfNecessary();` I wonder if we can move it into bootstrap instead then we can log it before we initialize the security manager? @jasontedor WDYT?

yeah I think all the repositories need reso

[2017-01-03 10:03] ywelsch commented on #22409
This seems to be a bug in the third-party JSON parser library that ES uses. Upgrade ES to v2.4.3 which has a newer version of the Jackson dependency. /cc: @tlrx

[2017-01-03 10:10] s1monw commented on #22412
sounds like this makes sense

[2017-01-03 10:14] jpountz commented on #22412
I agree this would be nice, but I suspect it might be tricky to do in practice since not all date fields would accept UTC millis. Or we would need to add a mechanism to tell date fields to not try to parse the incoming value but just interpret it as a number of millis since UTC. I have the feeling we already have too many `if (fieldType instanceof DateFieldType)` so I am not sure I would be happy

[2017-01-03 10:17] colings86 commented on #22412
I thought if you gave the from and to as a Long instead of String it would interpret it as epoch millis? I thought that the date format only comes into play if from and/or to are String/BytesRef? Or maybe that is not what you mean?

[2017-01-03 11:02] sscarduzio commented on #22367
Hi @s1monw thanks for answering! You're right, the process method was in it was `RestFilter` which I anonymously instantiated from my impl of `BaseRestHandler`.

Nevertheless, I still would like to know if there is a way to inject a header in the RestResponse without creating a new `RestResponse` object. I.e. from `RestFilter#process`?

Here's the code example required: https://github.com/sscarduz

[2017-01-03 11:06] mikemccand commented on #22347
Thank you @lovelgw but I need to know how you configured your `koreanIndex` analyzer so I can also create those tokens from the input string in a Lucene test case.

[2017-01-03 11:13] javanna opened #22414 "Cluster allocation explain backwards tests fail"
See failure example:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-intake/557/console

Relates to #22182

[2017-01-03 11:14] rkalhans opened #22415 "[STORE] path dedicated to index."
**This is a feature request**
**Elasticsearch version :**   2.4
 We would like to have  ability to configure path for an index.  This would solve the following problem.

1. We are currently using shared indices for our customers. We would like to have ability to have premium customers isolated from free customers. Since we are using a custom plugin for a custom search, the search performance depen

[2017-01-03 11:14] javanna commented on #22414
@abeyad can you have a look please? It may be that these tests need a missing skip section, but can you double check that this is expected please?

[2017-01-03 11:39] cbuescher commented on #22198
Looks like I discovered this issue too late, while answering a forum question I also found this unnecessary parameter yesterday and removed it with https://github.com/elastic/elasticsearch/pull/22403. @dhirajnair Sorry, I hope you didn't put much work into this just yet, my bad. I will close this, the parameter and the methods in the java api have been deprecated in 5.x and removed in 6.0.

[2017-01-03 11:39] #22198 closed

[2017-01-03 12:19] scampi commented on #11680
Please consider to  reopen this, see related kibana issue.

[2017-01-03 12:27] lovelgw commented on #22347
settings and mappings used to create the index
[index_create.txt](https://github.com/elastic/elasticsearch/files/682210/index_create.txt)

[2017-01-03 13:07] jpountz commented on #22412
I just looked at the code and apparently we always parse the `toString`ed representation of the date. Which I think is the right thing to do, otherwise it would be very confusing when the format is `epoch_second` that strings get parsed as seconds but longs as millis?

[2017-01-03 13:41] javanna commented on #22414
I have later realized that this may be fixed already, I am not 100% sure though, feel free to close without any further action :)

[2017-01-03 13:42] javanna opened #22417 "ClusterAllocationExplainIT.testUnassignedPrimaryWithExistingIndex fails"
See example of failure:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-intake/562/console

Relates to #22182

[2017-01-03 13:42] javanna commented on #22417
@abeyad can you take a look please?

[2017-01-03 13:58] colings86 commented on #22412
Ok, my mistake. I think you are right that it would be confusing if the format was `epoch_seconds` and by a long value was interpreted as `epoch_millis`.  Maybe we could use the format in the RangeQueryBuilder so that when we create the rewritten query it has a UTC timezone a from and to that are in `epoch_millis` and a format of `epoch_millis`?

[2017-01-03 14:10] itkovian commented on #22221
After using the pointers from http://www.jillesvangurp.com/2015/02/18/elasticsearch-failed-shard-recovery/, we seem to be green again. I'm going to await the state after tomorrow's logstash index is created before closing this.

[2017-01-03 14:41] blinken commented on #22043
Just to close the circle on my end, the issue has not reoccurred in the last two weeks after setting the following sysctls -

net.ipv4.tcp_keepalive_time=300
net.ipv4.tcp_keepalive_intvl=10
net.ipv4.tcp_keepalive_probes=18

I also changed cluster.routing.allocation.node_concurrent_recoveries from 8 to 4, which would reduce network load.

I have not deployed transport.ping_schedule (but I plan to).

[2017-01-03 14:54] jasontedor commented on #20366
To summarize past discussion via another channel on this topic: it's possible the needs here can be met by just enabling GC logging although this requires investigation; either way, there are improvements that can be made to the logging that is done within Elasticsearch which is what the previous [comment](https://github.com/elastic/elasticsearch/issues/20366#issuecomment-245265245) outlines.

[2017-01-03 15:13] ywelsch commented on #22043
@blinken Thanks for the update. I'm closing the issue now as we have a fix for v5.1.2 and a confirmed workaround.

[2017-01-03 15:13] #22043 closed

[2017-01-03 15:27] s1monw commented on #22415
you can set `path.data` per index. This will override the default setting for every index and will use this path on every node. That way you can point all date for a single index to this directory. Will this be sufficient? Just set it when you create the index.

[2017-01-03 15:32] javanna opened #22418 "MockTcpTransportTests.testTracerLog often fails"
Example of failure:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+java9-periodic/1246/console

[2017-01-03 15:33] javanna commented on #22418
@s1monw can you have a look? I saw that you worked on this test and added some test logging quite recently.

[2017-01-03 15:35] s1monw commented on #22367
@sscarduzio note we removed `RestController#registerFilter` for several reasons in the upcoming 5.2 since it can be very trappy and potentially bypass security. You should instead implement `ActionPlugin` in 5.2 and implement `UnaryOperator<RestHandler> getRestHandlerWrapper(ThreadContext threadContext)` then you can use the thread context to add a response header and you will be fine. would that

[2017-01-03 15:45] tronicum opened #22419 "changing password fails"
**Elasticsearch version**:
Version: 5.1.1, Build: 5395e21/2016-12-06T12:36:15.409Z, JVM: 1.8.0_111

**Plugins installed**: []
x-pack

**JVM version**:
openjdk-8-jre-headless 8u111-b14-2~bpo8+1
**OS version**:
docker image (elastic)

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. install xpack
 2. run http://localhost:9200/_xpack/license?ackno

[2017-01-03 15:57] tronicum commented on #22419
pulled elasticsearch:latest, still broken.

[2017-01-03 15:58] jaymode commented on #22419
It appears that you have installed a basic license, which does not allow security to be used. This is why you get a license exception. If you have further questions please use https://discuss.elastic.co

[2017-01-03 15:58] #22419 closed

[2017-01-03 15:59] s1monw commented on #22418
oh yeah, I found the issue but never fixed it. I will push a fix soon

[2017-01-03 16:02] abeyad commented on #22414
@javanna thanks for looking! this was fixed by d1bf4ea4ee551d698f83cf01023ce75b27652ac1.  I'll update the version number in the description as you suggested.

[2017-01-03 16:02] #22414 closed

[2017-01-03 16:09] tronicum commented on #22419
can i change the password without xpack installed?

[2017-01-03 16:42] abeyad commented on #22417
@javanna this is a test bug, I pushed a fix: 6f242920d3590ab36e08918c6a5a69ad6a689d9c

[2017-01-03 16:42] #22417 closed

[2017-01-03 17:19] rjernst commented on #22367
I missed the part about `process`. Simon is right in everything he has said. Note that implementing `getRestHandlerWrapper` means your plugin cannot work alongside `x-pack` (only one plugin may implement this). @sscarduzio you are trying to add a response header with every rest request, not some custom rest handler you are adding?

[2017-01-03 17:50] manjunathgk opened #22421 "bvktiibgknhckihfctddjuirbddlvnujfjiceekjttrt"
**Elasticsearch version**:

**Plugins installed**: []

**JVM version**:

**OS version**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

[2017-01-03 17:50] manjunathgk opened #22422 "ibgknhcjfhfcjurvberfkughitkugbftdkeuhlh"
**Elasticsearch version**:

**Plugins installed**: []

**JVM version**:

**OS version**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

[2017-01-03 17:50] #22422 closed

[2017-01-03 17:51] jasontedor commented on #22421
Please stop.

[2017-01-03 17:52] PhaedrusTheGreek opened #22423 "Indicate if global state is present is snapshot"
When a snapshot is made with `include_global_state`, the [_status endpoint](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html#_snapshot_status) should indicate if state data is present, maybe with some info about what it has.

[2017-01-03 17:52] jasontedor commented on #22422
Please stop.

[2017-01-03 17:59] sscarduzio commented on #22367
@rjernst, my code needs to set a response header (Set-Cookie) *IF* a certain header is present in the request. I'm super open on how this is going to happen.
No problem for x-pack compatibility.

BTW: 5.2.x is not out, so it's unpractical to test the proposed solution with`getRestHandlerWrapper`. Also this implicitly means that in order to support 5.1.x I need reflection. Right?

[2017-01-03 19:14] tronicum commented on #22419
i would like to use basic authentification between kibana and elasticsearch with x-pack enabled.
is that impossible?

[2017-01-03 19:35] rjernst commented on #22367
We publish snapshots to maven central, so you can test with that.

No, as it is not currently possible to have a single artifact that works for multiple versions of elasticsearch. Each plugin must be built specifically for a version of elasticsearch.

[2017-01-03 19:35] jaymode commented on #22419
We reserve github for bug reports, please open a discussion at the link I provided earlier for your questions.

[2017-01-03 20:33] niemyjski commented on #21121
Some additional feedback. I seem to be hitting more issues around this (I'm working to get to the bottom of this.).. I have a date `"date": "2017-01-03T14:12:36.2770782-06:00"` and I'm doing an explain on it .

[code]

which returns
[code]

So I tried to convert it by doing both `Instant.parse(doc.date)` returns ` "org.elasticsearch.index.fielddata.ScriptDocValues$Longs cannot be cast to java.lang

[2017-01-03 20:46] rjernst commented on #21121
`ScriptDocValues$Longs` already provides a date accessor. Use `doc['date'].date`.

[2017-01-03 20:59] niemyjski commented on #21121
@rjernst good to know, I just alos figured I could do this as well (get the utc time) `def x = OffsetDateTime.parse('2017-01-01T00:00:00.0000000+12:00'); Debug.explain(x.toInstant())`

[2017-01-03 21:13] niemyjski commented on #21121
@rjernst is that (doc['date'.date) ]available on reindex scripts? Getting a null reference when I try that outside of regular explain.

[2017-01-03 22:17] 8bitint commented on #22409
Thanks for getting back to us. We'll try the upgrade in the next couple of weeks.

[2017-01-03 22:17] #22409 closed

[2017-01-03 22:37] s1monw commented on #22367
for 5.1.x I'd just do
[code]

makes sense?

[2017-01-03 22:44] rjernst commented on #21121
That would be available in any script that has `doc` available. I think that is just search scripts. But if you see a message about ScriptDocValues, it should be available.

[2017-01-03 22:47] #22418 closed

[2017-01-03 23:11] nik9000 commented on #21121
In reindex `ctx._source.date` should return a date. You should be able to have a look at it with `Debug.explain(ctx._source.date)` (5.1.1+). That should return an error with the class of the date and you can go from there. [This](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-scripting-painless-debugging.html) has some instructions that should be useful. I'd love to have a

[2017-01-03 23:31] niemyjski commented on #21121
@nik9000 thanks!, looks like it's a string, I can do `OffsetDateTime.parse(ctx._source.date').toInstant();`

[2017-01-04 00:28] mbarker commented on #21105
I think explicit template dependencies could work. Requiring templates to be valid on their own would be a little difficult since we have a somewhat complex index/template strategy. We recently upgrade from ES 0.90 to 2.3.x and refactored our massive single template into many much smaller templates where we rely on inheritance to keep them concise and re-use shared parts. With 2.3.x we had to part

[2017-01-04 01:34] lyumkh opened #22424 "5.1 javaAPI - DeleteByQueryRequestBuilder change"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**:

**OS version**: centos 7

**Description of the problem including expected versus actual behavior**:
ES 5.1 version does not support delete-by-query plugin.
so i need to change the javaAPI code.

The following code is from the previous 2.3 version.
`new DeleteByQueryRequestBuilder(ElasticConnector.getInstance().getJavaCl

[2017-01-04 01:39] jasontedor commented on #22424
Please ask general questions on the [forum](https://discuss.elastic.co). Elastic reserves GitHub for verified bug reports and feature requests.

[2017-01-04 01:39] #22424 closed

[2017-01-04 04:50] rkalhans commented on #22415
@s1monw sorry, I could not follow you. I tried the following
[code]
This created the new index in the original location. also I cannot find documentation of using path.data per index

[2017-01-04 05:45] rashig commented on #21316
@ppf2 @clintongormley
I would like to pick this task as a first contribution, please let me know the details and process.

[2017-01-04 05:59] chandankmr commented on #16086
@brwe this bug persists in version 5.5.1 as well. i have tested it on ubuntu 15.04 .Please suggesst a fix for this.

[2017-01-04 06:11] #22411 closed

[2017-01-04 06:37] Steven-Z-Yang commented on #22156
@mrauter  set " permission java.security.AllPermission ;" is also throw exception.

[2017-01-04 08:09] itkovian commented on #22221
It seems that when a new lucene block was started (?), the corruption was occurring again.

[2017-01-04 08:16] jpountz commented on #22412
I think that would work.

[2017-01-04 09:00] s1monw commented on #22415
Sorry I was giving you the wrong settings. You have to set `path.shared_data` to a path on the filesystem under which the per index directories are created ie. `/opt/customer_indices`  then you can create an index with `index.data_path: /opt/customer_indices/customer_1` and it will create the index directory in `/opt/customer_indices/customer_1`. This is part of the shadow replica [documentation](

[2017-01-04 09:41] rkalhans commented on #22415
cool. this works. Thanks a lot.

[2017-01-04 09:41] #22415 closed

[2017-01-04 09:42] #22384 closed

[2017-01-04 10:00] oxnz opened #22427 "mustache template support unquoted variable replace"
**Add unquoted variable replace capabilities**:
currently, the template variable expand got auto-quoted, so there's no way to pass-in numbers or other advanced structure like dictionary except the usage of stored file or inline string
It would be nice to have a feature can easily expand variables in an unquoted manner like this:

[code]

returns

[code]

instead of

[code]

[2017-01-04 10:18] killolol commented on #22400
Here is error from log : ... "status"=>400, "error"=>{"type"=>"mapper_parsing_exception", "reason"=>"failed to parse [ip]", "caused_by"=>{"type"=>"illegal_argument_exception", "reason"=>"'xxxx::xxxx:xxxx:xxxx:xxxx%12' is not an IP string literal."}}}}}

It is valid IPv6 address since %12 is scope ID of IPv6 address.
I want to ask if you are planning support for scope ID in ES, or to parse it mysel

[2017-01-04 10:50] s1monw commented on #22415
YW

[2017-01-04 10:52] Passpes opened #22428 "Kibana dashboard filters "No results found""
**4.1.1****Centos 7.3**:

Centralized logging for IPA
https://www.freeipa.org/page/Centralized_Logging

Docker container for REK stack
pschiffe/rsyslog-elasticsearch-kibana

Log forwarding confgiuration on IPA server
https://github.com/pschiffe/ipa-log-config/blob/master/ipa_log_config.py

So basically I have a configuration containing 2 servers IPA and REK and I can see all the data on Kibana so

[2017-01-04 11:11] dadoonet commented on #22428
Please ask questions like this on discuss.elastic.co.
We can help there.

[2017-01-04 11:11] #22428 closed

[2017-01-04 12:11] jasontedor commented on #16086
@chandankmr The short answer to your question is that parameters of the form expressed here are not supported in Elasticsearch 5.x. This is covered in the [migration docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/breaking_50_settings_changes.html#_removed_using_double_dashes_to_configure_elasticsearch) and elsewhere in the docs. If you require additional general help, please ask

[2017-01-04 12:41] hcguersoy commented on #21824
Just wanted to mention that I've the same error behavior as @rlueckl here, too.

This is observed on a Docker image based on Ubuntu 16.04, OpenJDK 1.8.0_111, Elasticsearch 2.4.1 and 2.4.3.
This is really annoying as this has worked with previous versions w/o problems, access using curl or wget through the proxy is no problem.

[2017-01-04 14:10] rlueckl commented on #21824
Just a quick update: I also tried 5.1.1 and it works with the following line:

[code]

[2017-01-04 14:13] hcguersoy commented on #21824
@rlueckl thanks for the update

As we've currently stick to 2.4.x I workarounded this by downloading the plugins initially by wget and installing them from the downloaded files.

[2017-01-04 14:38] jasontedor commented on #21824
@rlueckl I'm confused, that's what I showed in my [example](https://github.com/elastic/elasticsearch/issues/21824#issuecomment-269401462) last week? I'm asking this because I want to know what we could have done to get you to a solution more quickly? This also leads me to believe that our docs need improvement here. I welcome your feedback here.

[2017-01-04 15:34] hcguersoy commented on #21824
@jasontedor  Maybe this is because @rlueckl and me used ES 2.4.x?

You've done it with ES 5.1.1.:

[code]

[2017-01-04 15:36] bdevaca commented on #22369
Ok, I've gotten a little further. Our application is already using tika for some other process. I update the tika-parsers and tika-core jars from version 1.3 to 1.4 and the original exception went away. Now I'm getting the exception defined in this issue: https://github.com/elastic/elasticsearch/issues/16864

Is this still an issue with Elasticsearch 2.2.0 and the plugin? Do we need to upgrade to

[2017-01-04 15:37] jasontedor commented on #21824
That should not make any difference whatsoever but I will investigate to be sure.

[2017-01-04 16:07] kchudinov commented on #16551
+1

[2017-01-04 16:07] Jackalx commented on #16551
+1

[2017-01-04 16:07] serzh commented on #19632
Hi, guys. Are there any progress on adding `retry_on_conflicts` feature for `update_by_query' API?
I'm really interested in this feature.

[2017-01-04 16:09] anosulchik commented on #16551
+1

[2017-01-04 16:09] OleksandrObidniak commented on #16551
+1

[2017-01-04 16:10] dnetrebenko-smartling commented on #16551
+1

[2017-01-04 16:10] dropje86 commented on #22189
Same problem here. Have a test cluster running with both 2.4.3 and 5.1.1. Both are benchmarked with a very simple Go script to ingest as much data as possible. We can get 2.4.3 on it's knees without any issues regarding node disconnections, just high load. 5.1.1 intermittently has the same issues as described multiple times before in this thread.

Setup with both versions the same:

3 - master nod

[2017-01-04 16:13] jasontedor commented on #21824
This worked fine for me on 2.4.3 (note the placement of `-Dhttps.proxyHost=localhost -Dhttps.proxyPort=8888` is different than in 5.x because the plugin script does not respect `ES_JAVA_OPTS` in 2.x):

[code]

and the output from `tcpdump` verifying we went through the proxy:

[code]

[2017-01-04 16:15] jasontedor commented on #22189
@dropje86 Are you running any monitoring agent that periodically makes stats calls to Elasticsearch (e.g., to `/_nodes/stats`)?

[2017-01-04 16:16] dropje86 commented on #22189
@jasontedor yes, in the case of 2.4.3 we run marvel-agent and with 5.1.1 we run with x-pack installed.

[2017-01-04 16:18] jasontedor commented on #22189
@dropje86 Sadly, I suspect that you're being bitten by #22285; the fix is #22317 (and relates to #22314) and will be released in 5.1.2.

[2017-01-04 16:20] dropje86 commented on #22189
I would be fine with that ;) Came across that issue before I saw this one, but I don't see any related exceptions in the master logs. I'm just getting a ping timeout to the master from a suffering data node and the active master reports transport disconnections to that data node.

[2017-01-04 16:27] dadoonet commented on #22369
Thank you for the follow up!

It has been fixed in 2.3.0 as per https://github.com/elastic/elasticsearch/pull/17059.

I'm closing this issue then.

[2017-01-04 16:27] #22369 closed

[2017-01-04 16:29] RobertTheProfessional commented on #22189
@jasontedor Interestingly, I'm using a modified version of Kopf that makes constant `/_nodes/stats` calls to all of the nodes in my cluster. That could be the reason as to why the nodes are having transport issues with the master nodes?

[2017-01-04 16:41] bdevaca commented on #22369
Thank you!

[2017-01-04 16:59] reol-nbessette commented on #22406
I need to add on to this. We have a single node instance for our development needs. Heap size is 2.5 GB, and the server is crashing with the same OOM heap size error from the network layer every 10-15 minutes.

It makes no sense, I am only running 3x bulk indexing processes. No searches are being executed whatsoever. fielddata in memory is exactly 0. There is no reason for our 200 MB of data to re

[2017-01-04 17:06] jasontedor commented on #22406
Can either/both of you share a heap dump from when it OOMs? (Be careful since it might contain sensitive data. If needed, we can find a mechanism to share it privately.)

And can you also try running with `-Dio.netty.recycler.maxCapacityPerThread=0` and let me know if the problem persists (grab a heap dump before changing this setting though)? Note that this could negatively impact performance.

[2017-01-04 17:16] jasontedor commented on #22390
To recap a discussion we had via another channel on this:
 - we are going to keep assertions enabled by default in standalone tests (just like our other tests)
 - we are going to add a dedicated CI job that runs with assertions disabled in all tests
 - we are going to improve the error reporting for standalone tests (dump all nodes logs if any test fails)

[2017-01-04 17:16] #22390 closed

[2017-01-04 17:27] niemyjski opened #22435 "5.1 Unable to use index templates to reindex into daily indexes."
From the docs (https://www.elastic.co/guide/en/elasticsearch/reference/5.1/docs-reindex.html#_reindex_daily_indices) it sounds like this is possible but I run into issues using an index template.  This might also reference: #18654 and #20465

My issue is simple, I am upgrading our oss project from 1.x to 5.x using external reindex. We are moving from monthly indexes to daily indexes and I have no

[2017-01-04 17:34] reol-nbessette commented on #22360
Likely related to #22406.

[2017-01-04 17:35] niemyjski commented on #22435
Doh, narrowed this down to `action.auto_create_index: false` I wonder if there is anything we can do to improve this error message?

[2017-01-04 17:36] reol-nbessette commented on #22406
@jasontedor can you please confirm whether the option should be `-Dio.netty.recycler.maxCapacityPerThread=0` or `-Dio.netty.recycler.maxCapacity.default`?

[2017-01-04 17:37] nik9000 commented on #22435
I'll have a look at improving the error message.

[2017-01-04 17:42] jasontedor commented on #22406
It should be the one I stated (`-Dio.netty.recycler.maxCapacityPerThread=0`), I don't think the latter does anything.

[2017-01-04 17:46] niemyjski commented on #22435
Seems like there should be a auto_create_index mode that creates indexes when they match a template, but otherwise it doesn't happen..

[2017-01-04 17:50] jasontedor commented on #22360
Sorry, I didn't see this one and I missed your ping @jpountz since I was out on vacation last week but I just saw it referred to #22406.

No, I think something is broken in Netty here. I think that objects are not getting recycled quickly enough, and I think there are cases where it can grow larger than it should. You can try disabling the recycler with `-Dio.netty.recycler.maxCapacityPerThread=0`

[2017-01-04 17:52] jasontedor commented on #22435
@niemyjski We have an open issue for that: #20640

[2017-01-04 18:17] PhaedrusTheGreek commented on #21185
@nik9000 , [docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html) are showing that the buffer size is 200mb in 5.x, but i'm hitting a 100mb limit in 5.1.1:

[code]

[2017-01-04 18:43] nik9000 commented on #22435
`auto_create_index` can be a pattern (see bottom of [this](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html#index-creation)). I *think* that might be enough, at least for now.

[2017-01-04 18:44] nik9000 commented on #22435
Sorry, hadn't updated my window and didn't know about the issue.

[2017-01-04 18:46] nik9000 commented on #21185
Yeah, I remember fixing that but I it looks like I fixed it in a PR that went only to 5.2+.

[2017-01-04 20:15] BigFunger opened #22438 "field stats api should return results for fields in the mapping, but without indexed documents"
**Describe the feature**:
Related to #17750

Since version 5.0, Kibana has had a dependency on the field stats api to determine which fields are aggregatable, and searchable. Because of this, the field stats API should return a subset of information that contains at least these propertied for fields in the mapping, but do not yet have documents indexed.

Example linked here:
https://gist.github.co

[2017-01-05 00:31] izaakschroeder commented on #20131
Any update on this issue? Using query points for pagination and score sorting really depends on having this! 😄

[2017-01-05 07:30] vneverz opened #22444 "the path not match what brew info elasticsearch show"
**Elasticsearch version**:5.1.1

**Plugins installed**: [mobz/elasticsearch-head]

**JVM version**:1.8.0_92

**OS version**:10.12.2

**Steps to reproduce**:
 1. type `brew info elasticsearch` and get the
[code]
 2. I want to install plugins, but not found the path, the right path is  `/usr/local/Cellar/elasticsearch/2.3.5/libexec/plugins/`
I don't know why the info is not the real path? the versio

[2017-01-05 07:56] rlueckl commented on #21824
I think I've found the problem... If that's really it, I'm very sorry for all the confusion!

It also works with 2.4.1 (tested right now).

The problem was, that I've used `-Dhttps.proxyHost=http://my.proxy.lan` in my tests instead of `-Dhttps.proxyHost=my.proxy.lan` (see https://discuss.elastic.co/t/installing-plugins-via-proxy-doesnt-work-anymore/61901).

@jasontedor your first comment on this i

[2017-01-05 07:58] tolorr commented on #22217
Hello, any comment about this? Thank you

[2017-01-05 09:35] dmitry commented on #20131
@izaakschroeder I also had such usecase, would be great if anyone from the ES team can look into that soon.

[2017-01-05 11:08] sscarduzio commented on #22367
Thank you @s1monw this is exactly what I was looking for, I just didn't think about using DI for making the thread pool just appear from thin air 👍

@rjernst: yeah I'm making different builds for different version, I was referring to the fact that the code backing the 5.1 build needed to be different, as the `getRestHandlerWrapper` is not yet available.

[2017-01-05 13:17] eladmena opened #22446 "Add Ability to Infer Index Name from Alias When Using Index Templates"
When using index templates the first creation of a document will use the index name and create alias(es) based on the template definition.
I'd like to add the ability to infer the index name from one of the aliases.

This is needed when using context based indices (for example index per project id) and wanting to use aliases for all requests.
Otherwise the first create of a document should be with

[2017-01-05 13:55] jasontedor commented on #21824
I'm really happy to hear this.

In my first comment I was merely showing that you initially had proxy host and proxy port swapped and not looking any more closely than that since that seemed pretty obvious to me to be a problem. I will take this as a lesson-learned for me (don't just point out what might be wrong, but point out the right way). :smile:

[2017-01-05 14:13] Khamersk opened #22448 "Highlighting html markup includes closing html tags if no blank space between text and html tag"
**Elasticsearch version**: 2.3.2

**Plugins installed**: None

**JVM version**: 1.7.0_67

**OS version**: Windows 7

**Description of the problem including expected versus actual behavior**:
I have a field that is indexed called "htmlMarkup".  I want to be able to search and highlight on this field without getting hits on html.  I added the "html_strip" char filter on my index and that effectively

[2017-01-05 15:24] sinsonglew commented on #22382
@Adrien，Your advice help a lot，thanks！

发自我的 Windows Phone
________________________________
From: Adrien Grand<mailto:notifications@github.com>
Sent: ‎2016/‎12/‎30 21:43
To: elastic/elasticsearch<mailto:elasticsearch@noreply.github.com>
Cc: sinsonglew<mailto:sinsonglew@live.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [elastic/elasticsearch] 5.x Aggregation Performance worse than 1.

[2017-01-05 15:59] jpountz commented on #22404
I think it would be possible to do this efficiently, but we do not have a query that allows to do this at the moment.

I'm curious what your use-case actually is? Is it to build some kind of alert system when new documents are added that fully match a query?

[2017-01-05 16:11] jpountz commented on #22404
I opened an issue on the Lucene side too: https://issues.apache.org/jira/browse/LUCENE-7621.

[2017-01-05 16:27] borissmidt commented on #22404
A good example is document classification with matching.

I have a lot of unknown documents in my index(A). i want to find the most relevant document from an other index(B), Index B is categorized for example articles about computer programming is tagged with _computer programming_ but a more general article about computers is tagged with _computer_. I'm only allowed to find 1 match for each docum

[2017-01-05 17:55] srikantheddla commented on #21596
I'm getting the same error. The ES version we use is 2.3.3. Our cluster topology is 5 primary shard , 1 replica shard,  total 3 es nodes on 3 machines. The old indexes are not removed, is that the reason i'm getting the issue?

[2017-01-05 18:01] Fairledger commented on #9410
I'm using Elasticsearch 2.3.1 and the dynamic mapping posted above fails for me:
          "date_template": {
            "match": "*",
            "match_mapping_type": "date",
            "mapping": {
              "type": "date",
              "index": "not_analyzed",
              "format": "yyyy/MM/dd HH:mm:ss Z||yyyy/MM/dd Z||yyyy/MM/dd HH:mm:ss||yyyy/MM/dd||yyyy-MM-dd HH:mm:ss Z||yyyy-MM-dd

[2017-01-05 18:42] srithank opened #22453 "ReceiveTimeoutTransportException"
**Elasticsearch version**: 2.3.3

**OS version**:windows2012 r2, 8gb RAM,

**Description of the problem including expected versus actual behavior**:
i'm getting timed out on the kibana( Request Timeout after 30000ms)

This is the clusterhealth
[code]

**Provide logs (if relevant)**:
This is the elastic search logs
[code]

What steps should I follow to fix this error?

[2017-01-05 19:21] C0rn3j commented on #21877
For those stumbling upon this and being confused like me- the setting merged ended up being ES_SKIP_SET_KERNEL_PARAMETERS, so set that to true if you want to ignore setting kernel parameters.

[2017-01-05 19:40] animageofmine opened #22454 "Add support for ca-central1 region"
**Elasticsearch version**:
5.1.1
**Plugins installed**: []
repository-s3
**JVM version**:
1.8
**OS version**:
debian
**Description of the problem including expected versus actual behavior**:
Linux elasticsearch-datanode1 3.10.0-514.2.2.el7.x86_64 #1 SMP Tue Dec 6 23:06:41 UTC 2016 x86_64 GNU/Linux

**Steps to reproduce**:
 1. Register the repository from elasticsearch
 2. get HTTP 500

I looked at

[2017-01-05 20:40] abeyad commented on #22454
It should be straightforward, the relevant code is in `InternalAwsS3Service` (and the corresponding EC2 plugin code in `AwsEc2ServiceImpl`).  @animageofmine Is this something you might be interested in contributing a pull request to?

[2017-01-05 20:48] dadoonet commented on #22454
You can as a work around define `cloud.aws.ec2.endpoint` or `cloud.aws.s3.endpoint` to `ec2.ca-central-1.amazonaws.com` and `s3.ca-central-1.amazonaws.com` in the meantime.

[2017-01-05 20:50] dadoonet commented on #22454
@animageofmine In case you'd like so send a PR, here is a similar one for another region: https://github.com/elastic/elasticsearch/pull/22308

If you don't I'll add it in the next days.

[2017-01-05 20:57] pickypg commented on #22217
Hi @tolorr, I never noticed the notification until your note.

If you had not included your YAML, then I would have guessed that you were using the HTTP Exporter. But that's apparently not the case.

Can you also supply the output of

1. Cluster settings:

[code]

2. Actual settings:

[code]

Feel free to toss out any unrelated things (e.g., `path`).

[2017-01-05 21:26] animageofmine commented on #22454
@abeyad @dadoonet I can send a PR. I haven't contributed or sent a PR before, let me know if there is a guideline or documentation for the same.

[2017-01-05 21:34] abeyad commented on #22454
@animageofmine we'll be happy to help, that looks like a good guide.  Once you have issued the PR, you will need to sign the contributor's agreement, which is straightforward.  Thanks for contributing!

[2017-01-05 22:16] tbrooks8 commented on #22116
@simonw I do not know if moving `IfConfig.logIfNecessary();` to bootstrap was decided on as the correct option, but I opened a PR with that work.

[2017-01-05 22:51] nsaiisasidhar commented on #22454
Hi, I am new contributor to this project, made PR for the issue above. Please review it.

[2017-01-05 23:32] pickypg commented on #22217
Oh, and do you have a Basic license installed?

[2017-01-05 23:41] animageofmine commented on #22454
@abeyad Thank you. I have the change ready and waiting for approval from management. Should be out in a bit.

[2017-01-06 00:24] JonSchapiro commented on #1063
+1

[2017-01-06 00:43] animageofmine commented on #22454
@abeyad Quick question. I didn't find any tests related to this particular class. I was wondering if there is a way to test this plugin from local box. Also, let me know if this does not require explicit testing on local box.

[2017-01-06 00:44] maxgurewitz commented on #1063
+1

[2017-01-06 03:33] jasontedor commented on #22444
There are two things that are problematic here.

The first is the path that is displayed to the plugin script should be `/usr/local/opt/elasticsearch/libexec/bin/elasticsearch-plugin` (note the leading `elasticsearch-`). I opened Homebrew/homebrew-core#8544 to fix this. Note that you can still find this on your system right now by looking in `/usr/local/Cellar/elasticsearch/5.1.1/libexec/bin/elast

[2017-01-06 03:54] jasontedor commented on #22453
There is not enough information to debug this. I suggest opening a topic on the [forum](https://discuss.elastic.co) as we reserve GitHub for verified bug reports and feature requests.

[2017-01-06 03:54] #22453 closed

[2017-01-06 03:55] jasontedor commented on #22116
+1

[2017-01-06 04:09] tbrooks8 commented on #22116
As a quick update - it does appear that if I grant permissions to a plugin, that does successfully grant permissions to all of the dependency jars. So after I add the `doPrivilege` blocks the plugins (ec2, gce, etc) should work.

However, I identified a few other issues. In two places in core we currently need connect/resolve. In `NetworkService` ([here](https://github.com/elastic/elasticsearch/bl

[2017-01-06 04:40] sherry-ger opened #22459 "Provide URL encoding support in Painless"
**Describe the feature**:

Provide URL encoding support in Painless.  This is especially useful in a Watch for an URL in an email action or a Slack action.  Although a workaround using String replaceAll is doable, it is not very convenient.

[2017-01-06 04:47] idubinskiy commented on #3861
Was this limitation ever documented (at least in the 2.3 docs)? Led to a lot of confusion for me while trying to handle an edge case.

[2017-01-06 07:52] animageofmine commented on #22454
@dadoonet

Stupid question for the workaround.

How can you define cloud.aws.s3.endpoint to s3.ca-central-1.amazonaws.com? Is there a configuration somewhere? Would something like this work?

[code]

[2017-01-06 07:54] dadoonet commented on #22454
Just remove region.

[code]

Or you can set in `elasticsearch.yml`:

[code]

And then:

[code]

[2017-01-06 07:59] animageofmine commented on #22454
got it! I prefer 1st approach since we have multiple dockerized clusters in different regions using the same .yml

Thanks so much, really appreciate your quick response and help!

[2017-01-06 09:15] s1monw commented on #22116
hmm I am starting to think maybe removing `connect, resolve` is too ambiguous. I don't think it's worth adding a specific jar we depend on to grant this permission so I wonder if we should stick with `accept` for now? @jasontedor  WDYT?

[2017-01-06 09:49] jimczi commented on #22410
This is a problem in the guide, can you open the issue on the corresponding github:
https://github.com/elastic/elasticsearch-definitive-guide

In 5.2 you'll be able to use a `keyword` field with a normalizer:
https://github.com/elastic/elasticsearch/issues/18064
... and if you activate doc_values on the field (or fielddata) you'll be able to sort on this field.

[2017-01-06 09:49] #22410 closed

[2017-01-06 10:14] Rajind opened #22461 "Mapping is not set to the template when mapping is specified after aliases in template"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**: 1.8

**OS version**: Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:
I am using the following template.

[code]
However when I checked the template using curl I saw that mapping is not set.

Then I tried the following template which is basically is same as the previous except for t

[2017-01-06 10:20] colings86 commented on #22412
Looking at this again I see that even with my above suggestion we will need to add instanceof checks ands special case date and range fields. Given the complexity this will add I don't think this complexity will be outweighed by the benefit of better caching. This is especially because this issue was born from theory and not from seeing this happening in real life.

For those reasons I am going to

[2017-01-06 10:20] #22412 closed

[2017-01-06 10:33] s1monw commented on #22392
I need to understand more why this is useful. The purpose of the rollover API was mainly to gain a way to build a _well sized_ index. ie. find a sweet spot in terms of documents and then just keep on indexing, we roll over for you. If you want to restrict documents that go into an index with reindexing then you can just filter the reindexing instead, that way you would get indices with only these

[2017-01-06 10:33] s1monw commented on #22373
I think the issue here is that we don't use the `index_version_created` for the target index which we should. I will look into this in a bit.

[2017-01-06 10:44] s1monw commented on #22307
I have to admit I am not fully sure how this exactly works what you are asking for but would something like [inner hits](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-inner-hits.html) help here?

[2017-01-06 10:48] s1monw commented on #22265
+1 to return warning headers here. We discussed it in fixit friday

[2017-01-06 10:51] s1monw commented on #22202
@jasontedor do you think we can close this issue? It seems @trevorndodds found a reason for this on his side?

[2017-01-06 10:54] s1monw commented on #22202
@trevorndodds a colleague pointed out to me that SCOM has some [java monitoring capabilities,](https://technet.microsoft.com/en-us/library/dn440936(v=sc.12).aspx) do you have that one enabled?

[2017-01-06 11:07] Koc commented on #22307
Inner hits looks similar but not sure if it return same as window function.

[code]

works using next algorythm:

1. pre-order all result by is_special_offer DESC
2. associate each row from preordered result with row number. For each company_id creates own counter which starts from 0
3. order by this computed counters

It works ok with big results (no any limits for rows count per company) and all

[2017-01-06 11:11] Koc commented on #22307
I don't need top N results per company. **All** results is needed (don't know how many products can be created per company)

[2017-01-06 11:23] leilengma commented on #22360
@jasontedor Thanks for the feedback.
I tested my node this morning for 2 hours this morning after disabling the recycler and everything works fine.  The performance of the node  did not drop and was even better.
So disabling the recyler solved the problem for me.
Thanks again.

[2017-01-06 11:30] jasontedor commented on #22360
@leilengma Thank you for confirming! I've opened #22452.

[2017-01-06 11:53] jakommo commented on #22392
Thansk for your feedback @s1monw

I think it's mainly useful on reindexing, when you want to use something like `max_age` but can't use it as it only works for ongoing indexing. (due to the condition check on index created).

I understand, however there is already the `max_age` condition, which would roll-over based on the age of the index rather than the # of docs. I guess this was implemented to

[2017-01-06 12:45] mikemccand commented on #22347
Hmm, `seunjeon_tokenizer` ... I'll need to look at its sources to see how it's creating a cyclic graph.

Thanks @lovelgw

[2017-01-06 12:48] mikemccand commented on #22347
This seems to be the source code for the the `seunjeon_tokenizer` plugin: https://bitbucket.org/eunjeon/seunjeon/src/f7775cf0afd6ba7b7cc336214700dcdba2b1918a/elasticsearch/?at=master

[2017-01-06 12:55] s1monw commented on #22392
just FYI `_rollover` must be invoked periodically from the outside to do anything. I think it would be confusing if we make it _field aware_

[2017-01-06 12:56] mikemccand commented on #22347
OK the `SeunjeonTokenizer` sources have this line:

[code]

I strongly suspect that for your string, the position length is 0, which is an illegal value, but Lucene's `PackedTokenAttributeImpl.java` failed to catch that (I've now fixed that, for Lucene's next (6.4) release).

I think at this point you should open an issue/PR against the `seunjeon` project; there is nothing ES can do when the token

[2017-01-06 14:09] jakommo commented on #22392
Thanks for clarifying @s1monw, I totally missed the periodic `_rollover` call, my understanding was that this is done in the background automatically.
With that in mind, my proposal does not make sense. Closing.

[2017-01-06 14:09] #22392 closed

[2017-01-06 14:14] s1monw commented on #22392
With that in mind, my proposal does not make sense. Closing.

the reason why it's not in the background is that it's very hard to test and also hard to communicate to the user if something fails. It would also give users the impression we would be strict about the limits which we are not.

[2017-01-06 14:59] rcastill opened #22470 "Dynamic Mapping issue"
Hi,

I'm using Elasticsearch to index data from a MongoDB database. I am currently transporting the data from one to another via a Python script using pymongo and official elasticsearch 5.x python API.

I had one problem, that it seems I'll have to solve by manually mapping types because dynamic mapping is parsing the strings:

- OK
- CRITICAL
- UNKNOWN
- OPEN

As if they were integers, and so it

[2017-01-06 15:06] jimczi commented on #22470
Please use the forum for questions like this, we reserved github for bugs and feature request:
https://discuss.elastic.co/c/elasticsearch

Regarding your issue, dynamic mapping does not treat strings as numbers. The mapping for a dynamic field is set on the first document that contains the field and the type is inferred based on what this field looks like. So your problem is that the first documen

[2017-01-06 15:06] #22470 closed

[2017-01-06 15:13] fenchu commented on #21118
I get the same error, fresh install of deb package today, missing config
fresh install from today
[code]
If I compare with all my other elastic servers they all have a config directory, is it just to copy across?

(they are 5.0.0)

[2017-01-06 15:14] rcastill commented on #22470
I have just queried my MongoDB database and there is no document that has a number under that field

[2017-01-06 15:24] #22407 closed

[2017-01-06 15:31] cnico opened #22471 "Reindex API : improve robustness in case of error"
Hello,

I did a migration from elasticsearch 2.3.4 to 5.1.1 by following the migration guide.
The migration went perfectly well and I updated my mapping in order to use the new keyword type instead of the string not analyzed old one.

So I wanted to reindex all my index and I encountered the 2 following problems :
 * some of my documents had id of length longer than 512 characters and elasticsearc

[2017-01-06 16:04] s1monw commented on #22373
I just build an ES version from a snapshot and confirmed that the bug is fixed. thanks for reporting this @gmoskovicz

[2017-01-06 16:07] scottsom opened #22472 "Add support for a default alias"
This feature seeks to add the concept of a default alias. When configured, it would allow users to perform an action on an alias or index that does not exist and have it fallback to some default configuration instead of throwing an error.

## Problem

In the [Designing for Scale guide](https://www.elastic.co/guide/en/elasticsearch/guide/current/scale.html), it is suggested to use an [alias per use

[2017-01-06 16:14] jasontedor commented on #21118
@fenchu You're not reading the information here carefully enough. This problem arises if you install the package but attempt to run it outside the service. If you have installed via a package manager, you should run via the service. If you want to run outside a service, you should install from an archive distribution. The config files are indeed present in the distribution though:

[code]

[2017-01-06 16:35] #22372 closed

[2017-01-06 16:55] gmoskovicz commented on #22373
Thanks for fixing it @s1monw

[2017-01-06 17:20] rjernst opened #22475 "Secure Settings"
This is a meta issue to track work on making sensitive settings secure in elasticsearch. The core infrastructure for this feature is added in #22335, which provides the `elasticsearch-keystore` tool. The following work is still necessary to consider the feature complete:

- [x] Convert existing settings (eg aws keys) to new infrastructure
- [x] Add password support to the keystore
- [x] Add readin

[2017-01-06 17:21] jasontedor commented on #22116
@tbrooks8 I think your first link here is not right? At least, I don't think what you link to needs permissions.

[2017-01-06 17:29] jasontedor commented on #22116
I'm not sure @s1monw, I wonder if we can just add logic to `SecureSM` to handle these permissions the way that we want to (similar to how we handle `System#exit`). We already have a separate jar for this. Thoughts?

[2017-01-06 17:38] tbrooks8 commented on #22116
@jasontedor I meant https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/common/network/NetworkService.java#L266

[2017-01-06 17:41] jasontedor commented on #22116
@tbrooks8 Okay, thanks for clarifying. That will require `resolve`.

[2017-01-06 17:42] jasontedor commented on #22116
Aren't both of the places that you link to only requiring resolve? I'm okay with `resolve`, it's `connect` that might be worth jumping through hoops for. Can you confirm @tbrooks8?

[2017-01-06 18:00] tbrooks8 commented on #22116
It looks to me that InetAddress.getAllByName(host) will only require resolve.

[2017-01-06 18:03] tbrooks8 commented on #22116
Inside `getAllByName0`:

[code]

Which calls:

[code]

[2017-01-06 19:05] rjernst commented on #22307
I believe windowing is relatively expensive to compute, and would be difficult to do given Lucene's current scoring architecture. It would mean reading values from multiple docs in order to score a single doc.

[2017-01-06 19:54] sudhakarancse commented on #21172
Any solution for this issue. Using below code.

<dependency>
			<groupId>org.elasticsearch.client</groupId>
			<artifactId>transport</artifactId>
			<version>5.0.0</version>
</dependency>

client = new PreBuiltTransportClient(Settings.EMPTY).addTransportAddress(new InetSocketTransportAddress(InetAddress.getByName("host"), 9200));

Struggling this issue for long time.

[2017-01-06 19:57] sudhakarancse opened #22477 "ClassNotFoundException: org.elasticsearch.plugins.ActionPlugin"
I'm trying to create spring boot application with elasticsearch (without spring data).
I've added following Maven dependency:

[code]

Trying to execute the following code:

TransportClient client = new PreBuiltTransportClient(Settings.EMPTY)
                .addTransportAddress(new InetSocketTransportAddress(InetAddress.getByName("http://localhost"), 9300));

and getting an exception:

Caused by:

[2017-01-06 20:11] s1monw commented on #22307
I agree this seems to violate very basic assumptions we make.

I understand but ES / Lucene is designed for top N and if you wanna do very different things it's likely that we won't be able to help you.

[2017-01-06 20:12] dadoonet commented on #22477
You are probably missing dependencies or mixing versions.

Please ask your questions on discuss.elastic.co instead of here. We can give a better support there.
This space is only for confirmed issues.

Thanks

[2017-01-06 20:12] #22477 closed

[2017-01-06 20:28] gibrown opened #22478 "Ngram/Edgengram filters don't work with keyword repeat filters"
**Elasticsearch version**: 2.3.3

**Plugins installed**: [analysis-icu analysis-smartcn delete-by-query lang-javascript whatson analysis-kuromoji analysis-stempel elasticsearch-inquisitor head langdetect statsd/]

**Description of the problem including expected versus actual behavior**:

I want to index edgengrams from 3 to 15 chars, but also keep the original token in the field as well. This is b

[2017-01-06 20:48] sudhakarancse commented on #22477
@dadoonet  - Requested solution for my issue in discuss.elastic.co.

https://discuss.elastic.co/t/classnotfoundexception-org-elasticsearch-plugins-actionplugin/70818

Could you please help me in that

[2017-01-06 22:27] #22454 closed

[2017-01-06 22:47] dakrone commented on #22478
Since you use the `icu_tokenizer` your text is being split into four tokens:

[code]

And then if you do the folding and `keyword_repeat`:

[code]

If you then try to do edge ngrams for the `is` and `vu` terms, they are below
the `min_gram` threshold of 3 in your configuration, so they are dropped.

If you want to keep the whitespace, perhaps inject a shingle token filter (with
two shingles) in th

[2017-01-06 23:26] suzify commented on #21486
@evertramos @dadoonet

The mapping that you concluded with is exactly what I need! However, I don't know how to write it in such a way that would have the equivalent meaning and intention in C#/NEST. Does anyone have any insight on this? For more detail, I've included my ES discussion post: https://discuss.elastic.co/t/how-to-assign-index-search-analyzers-when-ingesting-attachments-es-5-0/70613

/

[2017-01-06 23:48] dakrone commented on #4707
Okay, opened a PR to document this, and then it can be closed.

[2017-01-07 01:08] marshall007 commented on #19632
@nik9000 how do you ignore version conflicts? Were you just referring to `conflicts=proceed`? Is there a workaround for when your update script is just appending to an array or incrementing a value?

[2017-01-07 01:15] oceandiver opened #22481 "ES 5.0.2, org.elasticsearch.common.breaker.CircuitBreakingException"
Running ES 5.0.2, and after some Kibana queries, the ES stops responding.  Find the following exception in the ES log:

[2017-01-07T03:08:52,714][WARN ][r.suppressed             ] path: /.kibana/config/5.0.2, params: {index=.kibana, id=5.0.2, type=config}
org.elasticsearch.common.breaker.CircuitBreakingException: [parent] Data too large, data for [<http_request>] would be larger than limit of [149

[2017-01-07 01:16] nik9000 commented on #19632
Yes, conflicts=proceed is all I meant. There isn't anything for the race
case. For the append to array case you could redo the update by query
ignoring docs that already have the field. It would certainly be nicer if
we had a recheck feature for conflicts like those but it'd be fiddly to put
together.

On Fri, Jan 6, 2017, 8:08 PM Marshall Cottrell <notifications@github.com>
wrote:

[2017-01-07 01:16] oceandiver commented on #22481
The data set should be very small, about 90mb.

[2017-01-07 01:35] oceandiver opened #22482 "ES 5.0.2: No response from ES"
Restart the ES, from Kibana 5.0.2, enter a simple query string "end-point:10.*", got warning "Discover: Request Timeout after 30000ms  More Info  OK 101s".  The data set is small, with only 430 records.  Checked on ES (5.0.2), the log is filled up with the following messages, and still growing.

[2017-01-07T03:29:59,335][INFO ][o.e.m.j.JvmGcMonitorService] [o7_vTxg] [gc][745] overhead, spent [273m

[2017-01-07 09:21] markwalkom opened #22483 "Mapping explain endpoint"
It'd be great if we had functionality that let a user push a doc through a `_mapping` endpoint of some sort (`?explain` perhaps?) and then got a reply that contained what ES would then do with that doc after it applies the mapping, but without indexing the doc.

For bonus points it'd be great if it also checked templates, and then explained which templates matched accordingly.

I think this would

[2017-01-07 11:26] javanna commented on #16347
#22387 is in, so we now have `ToXContent` for fragments and `ToXContentObject` for complete objects. What is left to do is moving more classes over from `ToXContent` to `ToXContentObject`.  That's why I'm keeping this issue open for now.

[2017-01-07 11:27] javanna commented on #3889
I updated the title of this issue as at this point ActionResponse should implement `ToXCOntentObject` and not `ToXContent`

[2017-01-07 13:41] nomoa commented on #12661
Happened to us as well on a 24 nodes cluster running 2.3.5, this cluster is receiving mostly bulk index requests. It looks like the problem happened after many nodes dropped out from the cluster caused by some network hiccups.
We use auto_expand_replica, as suggested by @anhlqn deleting corrupted replicas by setting 0-0 seemed to fix the issue.

[2017-01-07 18:37] garakelian commented on #20702
@russcam Following up @niemyjski comment.  Either there is a bug, or the document is wrong.

Using a new index, I make the following bulk API request (using curl):
[code]

Note that I'm using the "index" operation, NOT "create".  Per the docs [Bulk API docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html) "index and create expect a source on the next line, and have

[2017-01-07 20:59] jasontedor commented on #22406
Closed by #22452

[2017-01-07 20:59] #22406 closed

[2017-01-07 21:02] jasontedor commented on #22189
I think that this is addressed by #22452; please reopen if not.

[2017-01-07 21:02] #22189 closed

[2017-01-07 22:22] garakelian commented on #20702
@russcam Disregard my last message. Realized that I needed to pass "version_type":"external". Everything worked fine then.

[2017-01-08 00:18] fenchu commented on #21118
@jasontendo thanks for the clarification, will switch to this config. Never used the init.d found an elasticsearch.service that never worked well.

I added my console user to the elasticsearch group, changed config and logs to g+rws for elasticsearch group and run as this user with proper shell and logging. Then it worked as a charm. Now it works both as my user and as systemd service.

[2017-01-08 01:16] jasontedor commented on #21118
@fenchu You're welcome. I'm glad to hear that it's working for you now.

[2017-01-08 03:57] dakrone commented on #22481
@oceandiver can you share the request you are sending that is causing this?

[2017-01-08 08:17] wh211212 opened #22485 "memory locking requested for elasticsearch process but memory is not locked"
**Elasticsearch version**:elasticsearch-5.1.1

**Plugins installed**: [NULL]

**JVM version**:jdk1.8.0_111

**OS version**:CentOS release 6.8 (Final)

**Description of the problem including expected versus actual behavior**:
I'm set  bootstrap.memory_lock: true, then restart elasticsearch,failed
**Steps to reproduce**:
 1. configure elasticsearch.yml
 2.restart elasticsearch
 3.checkrun

**Provide

[2017-01-08 08:44] dadoonet commented on #22485
Probably because of this: https://www.elastic.co/guide/en/elasticsearch/reference/current/_maximum_number_of_threads_check.html

Please ask on discuss.elastic.co instead.

[2017-01-08 08:44] #22485 closed

[2017-01-08 08:48] wh211212 commented on #22485
I'm already solve max number of threads [1024],but the memory locking problem also exist... then I'm set bootstrap.memory_lock: false ,elasticsearch restart succeed. but I also want configure memory locaking...

[2017-01-08 09:15] dadoonet commented on #22485
discuss.elastic.co is the best place to ask for help.

This space is for confirmed issues only.

[2017-01-08 21:56] mattweber opened #22490 "Additional Graph Token Stream Support in Match Query"
#21517 introduced simple support for graph token streams in the match family of queries.  It looks like this should be taken further and support common terms and phrase prefix.  Right now, if using either of these modes, a `GraphQuery` is potentially returned but will never have the [common terms](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/index/searc

[2017-01-08 23:04] mikemccand commented on #22490
+1, thanks @mattweber

[2017-01-09 04:14] lf- opened #22493 "Elasticsearch fails to start with selinux enforcing"
**Elasticsearch version**:
5.1.1

**Plugins installed**:
None

**JVM version**:
openjdk version "1.8.0_111"

**OS version**:
Fedora 25

**Description of the problem including expected versus actual behavior**:
When selinux is enforcing, elasticsearch fails to start on Fedora. This is solved by setting it to permissive, but obviously that is not a good solution. The expected behaviour is that it wo

[2017-01-09 05:10] tbrooks8 commented on #22116
I explored Jason's thought quite a bit on Friday. It appears that moving connect to the plugins (and netty) and leaving resolve in core should be a viable strategy.

I'm working on a PR to put `doPrivileged` blocks in the ec2, gce, and azure plugins.

[2017-01-09 05:17] andrewwwooster opened #22494 "TransportClient fails with IllegalStateException when lucene-test-framework MVN dependency added"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**: 1.8.0_111

**OS version**: Windows 7

**Description of the problem including expected versus actual behavior**:
My program uses a TransportClient and works fine, but when I add a lucene-test-framework dependency it fails with the following error:
[code]

It seems like requiring randomizedtesting just to run a TransportCl

[2017-01-09 05:20] andrewwwooster commented on #22494
[es5 TransportClinet IllegalStateException.zip](https://github.com/elastic/elasticsearch/files/692741/es5.TransportClinet.IllegalStateException.zip)

[2017-01-09 06:44] s1monw commented on #22494
wait, you are adding lucene test framework which has a dep on randomized runner, otherwise we'd not try to load the class. Yet, what are you using of the test framework in your application? If you don't use RR you can exclude it's dep? I am not saying the error is right but It might just be wrong usage of the TransportClient in your tests?

[2017-01-09 06:45] s1monw commented on #22116
cool thx for the update

[2017-01-09 06:45] s1monw commented on #22493
can you provide the full stacktrace or the entire log that you see.

[2017-01-09 09:45] tolorr commented on #22217
Hello @pickypg,

Yes I have a Basic license installed and when I start the node I can read in log:
[code]
and:
[code]

Cluster settings:
[code]

Actual settings:
[code]

Thank you.

[2017-01-09 10:29] spinscale opened #22495 "Tests: LuceneTests are failing on Java9"
Seems that `LuceneTests.testMMapHackSupported` fails regularly on Java 9 right now, independent from the ES version

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.1+java9-periodic/540/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.0+java9-periodic/1324/console

[2017-01-09 10:46] mikemccand commented on #22495
Hmm, this is not good: it means on Java 9 we (ES) are failing to use Lucene's unmapping best efforts.  Here's the root cause:

[code]

I don't think it's a missing security permission, because Lucene throws a different message in that case.

Maybe our 1.9-ea is too old in the ES jenkins instance?  We are running with `9-ea-150` but from https://jdk9.java.net/ it looks like it's up to `ea-151`.

Ot

[2017-01-09 10:50] jimczi commented on #22495
I think this issue is fixed in Lucene for java9 150+:
https://issues.apache.org/jira/browse/LUCENE-6989
https://git-wip-us.apache.org/repos/asf?p=lucene-solr.git;h=7e03427 ?

I think there is also another issue that should prevent java9 to build:
https://issues.apache.org/jira/browse/LUCENE-7596

There is an ongoing discussion on the Lucene dev mailing list regarding the next release compatibility

[2017-01-09 11:05] mikemccand commented on #22495
Thanks for the pointers @jimczi!

OK I think I understand now: Lucene 6.4.0 will have this fix (https://issues.apache.org/jira/browse/LUCENE-6989), to use unmapping with Java 9-ea 150+, but Lucene 6.3.0 (which ES 5.0, 5.1 are using) cannot do unmapping with Java 9-ea 150+.

So we should disable this test in ES 5.0, 5.1, but keep it in ES 5.x (5.2)?  And notify ES users that if they use Java 9, the

[2017-01-09 12:10] spinscale opened #22497 "Tests: UnicastZenPingTests. testPingingTemporalPings failed"
I was not able to reproduce this with a couple of thousand test runs on osx or Linux (but not on alpine/docker). The exception is as follows

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+dockeralpine-periodic/625/console

[2017-01-09 12:13] uschindler commented on #22495
Hi,

*first:* If you have tests that fail on *any* Java version if unmapping does not work, it should ignore this failure. You should add some `assumeTrue(MMapDirectory.UNMAP_NOT_SUPPORTED_REASON, MMapDirectory.UNMAP_SUPPORTED)` to disable test exceution.

As Lucene tests only break on windows if unmapping is not supported, we have a special Assume in LuceneTestCase that enforces that unmapping wo

[2017-01-09 12:16] jasontedor commented on #22493
I run with no issues on Fedora 25 with SELinux enabled. So as @s1monw requested, we will need more information here. Are you using a custom policy or the default policy. What led you to discover that SELinux is the issue? Can you share your mount options for `/tmp`?

[2017-01-09 12:20] uschindler commented on #22495
I just noticed, Lucene 6.0 till 6.3 will not break fatally anymore with Java 9 build 150+. It just disables unmapping (as it should - which triggers your test failure). The reason is the Lucene-proposed Unsafe fix included in build 150. So my old (broken) code only breaks fatally in build 148 and 149, so all is fine! Users will be able to start ES, but unmapping just does not work.

[2017-01-09 13:12] Rogier75 opened #22500 "ReduceSearchPhaseException Caused by NullPointerException"
**Elasticsearch version**: 5.1.1
[code]

**Plugins installed**: []
none

**JVM version**: 1.8.0
[root@atom1 jenkins]# java -version
java version "1.8.0"
Java(TM) SE Runtime Environment (build 1.8.0-b132)
Java HotSpot(TM) 64-Bit Server VM (build 25.0-b70, mixed mode)

**OS version**: CentOS release 6.8 (Final) Linux 64bit
[root@atom1 jenkins]# cat /etc/redhat-release
CentOS release 6.8 (Final)
[roo

[2017-01-09 13:26] lf- commented on #22493
Put as simply as possible: it starts on permissive and not on enforcing.
The OS install is fresh, I can even share the ansible playbook if desired.

Enforcing:

[code]

Permissive:
[code]

On 9 Jan 2017 6:17 AM, "Jason Tedor" <notifications@github.com> wrote:

[2017-01-09 13:58] jasontedor commented on #22493
You are misunderstanding my question. I'm asking what provoked you to consider setting SELinux to permissive in the first place.

It appears to be stopping cleanly with SELinux set to enforcing. Can you please enable trace logging (`-E logger.level=trace) and share the logs in a gist?

[2017-01-09 14:00] lf- commented on #22493
Force of habit: try setting it to permissive as a litmus test for whether
it's actually broken.

On 9 Jan 2017 7:59 AM, "Jason Tedor" <notifications@github.com> wrote:

Put as simply as possible: it starts on permissive and not on enforcing.

You are misunderstanding my question. I'm asking what provoked you to
consider setting SELinux to permissive in the first place.

It appears to be stopping c

[2017-01-09 14:32] mikemccand commented on #22495
Thanks @uschindler for the explanations!  The ES test is here to catch us if unmap is unexpectedly not working, but in this case (Lucene < 6.3.0, Java 1.9 ea 150+) we know unmap does not work.

So I'll just open a PR to add an `assume` to this test, for just 5.0, 5.1, that if the java version is 1.9, then unmap won't work.

On 5.x we already use Lucene's 6.x snapshot (soon to be 6.4.0) which has y

[2017-01-09 14:33] s1monw commented on #22495
@uschindler for the rescue !!! thanks man

[2017-01-09 15:30] clintongormley commented on #22500
Hi @Rogier75

Could you try removing the aggs and see if that resolves the issue?  Also, if you're able to provide a set of working documents and mappings etc that reliably trigger this failure, it would be very helpful.

[2017-01-09 15:36] babilen commented on #21877
@jasontedor I do not quite understand why the issue was fixed in such a way that sysctl is called at all even if `/proc` isn't writable. It looks as if this is a common issue (cf. https://github.com/elastic/elasticsearch/pull/8793) and should be easy to fix. For now it is rather cumbersome to use ES in containers. Requiring every user to ensure that `ES_SKIP_SET_KERNEL_PARAMETERS` is set in the en

[2017-01-09 16:27] jasontedor commented on #21877
We abhor silent failures. Either it succeeds, or it fails and you know about it and you take steps to correct it.

I don't understand this, just bake it into the provisioning.

[2017-01-09 16:30] mikemccand commented on #22495
Fixed in 5.0 and 5.1.

[2017-01-09 16:30] #22495 closed

[2017-01-09 16:42] listenyourheart opened #22505 "cannot find ActiveShardCount"
Hello ,

When I call the delete API by query with this code
BulkIndexByScrollResponse response =
                DeleteByQueryAction.INSTANCE.newRequestBuilder(client)
                        .filter(QueryBuilders.matchQuery(esProjectIdField, projectId))
                        .source(index)
                        .get();

I get this error :

java.lang.ClassNotFoundException: org.elasticsearch.a

[2017-01-09 16:43] javasec opened #22506 "ES5.11 Failed to start with Windows Server 2012"
es5.11 %JAVA% it doesn't work in Windows Server 2012 ,but win7 looks like there is no such problem.
SET JAVA="%JAVA_HOME%"\bin\java.exe
change %JAVA% to "%JAVA_HOME%\bin\java.exe" it work well.

[2017-01-09 16:43] #22497 closed

[2017-01-09 16:44] babilen commented on #21877
Sure, but the service start should (and would) fail rather than the package installation itself.

Not all provisioning tools allow you to easily define environment variables for package installations and it would be better to rely on the debconf database for `ES_SKIP_SET_KERNEL_PARAMETERS` if you really have to do this.

Using debconf would not violate Debian policy [0] and is easy to preseed in e

[2017-01-09 16:49] clintongormley commented on #22505
@nik9000 @tlrx could you shed any light here?

[2017-01-09 16:50] #22329 closed

[2017-01-09 16:50] jasontedor commented on #22506
Closed by #22132

[2017-01-09 16:50] #22506 closed

[2017-01-09 16:50] jasontedor commented on #22506
This will be fixed in an eventual 5.1.2 patch release.

[2017-01-09 16:57] clintongormley commented on #22483
The simplest way of running this test is to index a doc.  Why would we need an explain function on top of this?

[2017-01-09 17:02] clintongormley commented on #22482
Sounds like you're running out of memory on your ES node.  Wildcards are heavy queries.  I don't know how many terms you have in your `end-point` field. Either way, what you've described so far doesn't look like a bug.  I suggest asking questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2017-01-09 17:02] #22482 closed

[2017-01-09 17:05] clintongormley commented on #21486
@suzify Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2017-01-09 17:16] clintongormley commented on #22478
I've run into this same issue before.  `keyword_repeat` only works for stemmers, but I wonder if this functionality should be extended to edge-ngrams.

@mikemccand what do you think?

[2017-01-09 17:19] ppf2 opened #22507 "Reindex from remote and source filtering"
5.1.1

Have a test index with the following document in 1 cluster:

[code]

When using reindex api (local), it successfully excludes field test2 from the destination index.

[code]

[code]

When using reindex remote:

[code]

test2 field remains in the resulting index:

[code]

[2017-01-09 17:42] sergpsu opened #22508 "Painless script loop maximum number of statements limit exception on update_by_query call"
Hi there
Here are details about the issue.
https://discuss.elastic.co/t/painless-script-loop-maximum-number-of-statements-limit/70895
elasticsearch version 5.0.0

[2017-01-09 17:46] gibrown commented on #22478
FWIW, my current work around is to do always use the lang specific analysis field when I think I'm searching in a non-whitespace separated language (but I don't really trust my lang detection), and I use the lang specific field anytime the text is less than 3 chars, or if the trailing word is less than three chars (eg a search like "math pi" ).

Shingle tokens as a work around will still have the

[2017-01-09 17:52] scottsom commented on #22472
Any thoughts/concerns with this? @jpountz or @s1monw

Alternatively, the API could just accept an actual template to make it more flexible:

[code]

[2017-01-09 18:33] clintongormley commented on #22307
I think the conclusion here is clear. Closing

[2017-01-09 18:33] #22307 closed

[2017-01-09 18:35] clintongormley commented on #22508
/cc @jdconrad

[2017-01-09 18:52] jdconrad commented on #22508
I agree with @nik9000 this is a valid use case for having a higher limit.  Ideally, this limit could be set per context since I don't think we want people to have a higher limit for search where it doesn't make sense.  I'm also very hesitant to make this a runtime compiler option since it would allow an outsider to pretty much run an infinite loop.  A quick fix would be simply upping the limit to

[2017-01-09 19:02] oceandiver commented on #22481
The heap is 2GB.

[2017-01-09 19:02] oceandiver commented on #22481
The request I believe was /_msearch.
Thanks!Joe

    On Saturday, January 7, 2017 7:58 PM, Lee Hinman <notifications@github.com> wrote:

 @oceandiver can you share the request you are sending that is causing this?—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-01-09 19:06] nik9000 commented on #22508
I was thinking that if we had contexts it would be a thing that came along with the context, yeah. If contexts are still a long way off maybe we should bump the value an order of magnitude. I'm not really sure to be honest. I don't want to allow searches to be slow but this is a totally reasonable use for update.

[2017-01-09 19:12] jdconrad commented on #22508
Unfortunately contexts in scripts are still a ways off :/  backcompat is *hard* as I'm sure you know.  So yeah, I think the order of magnitude bump makes sense for now, and then we can re-address this later on.

[2017-01-09 20:57] jamshid commented on #12055
@tamsky the link doesn't work, maybe the elasticsearch group was deleted/moved?
FWIW I found this issue because I had a problem with ES 2.3.3 running out of disk space and then not recovering properly. But I guess it's not related to this issue since the .recovering file is no longer used? Sorry don't have logs from the ES 2.3.3 problem.

[2017-01-09 21:08] alkanarslan commented on #19952
@Zhaokung  removed  .put("client.transport.sniff", true) or .put("client.transport.sniff", false)

[2017-01-09 21:12] trevorndodds commented on #22202
@s1monw you can close it thanks, unfortunately looking into SCOM is out of my control.

[2017-01-09 21:41] pickypg commented on #22217
Hi @tolorr,

That's the issue. It's not well documented, but the warning message that appears when you applied the basic license should have said:

[code]

What this refers to is that it locks the setting.

As it sounds like you are fighting disk space, you can manage this yourself by using [Elastic Curator](https://www.elastic.co/guide/en/elasticsearch/client/curator/current/index.html) (open sou

[2017-01-09 21:41] #22217 closed

[2017-01-09 23:18] dakrone commented on #22481
@oceandiver I meant the body of the request, since it was `/_msearch`, what the search body that you used?

[2017-01-10 00:00] JeffreyZZ opened #22513 "Snapshot restore failed after a successful snapshot with ES 5.1.1"
**Repo Step**
1. Download Elasticsearch 5.1.1
2. Install the latest snapshot plugin with command .\elasticsearch-plugin.bat install repository-azure
3. Add the following Azure Storage configurations in elasticserch.yml
    cloud.azure.storage.my_account1.account: xxx
    cloud.azure.storage.my_account1.key: xxx
    cloud.azure.storage.my_account1.default: true
4. Start Elasticsearch with elasticse

[2017-01-10 00:29] markwalkom commented on #22483
Perhaps a better term would be simulate, like the ingest node can do. That is more my line of thinking.

Because just like with pipeline, sometimes you want to see the outcome of a document being mapped without it actually being mapped+indexed+stored and then having to retrieve it.

[2017-01-10 01:35] justinbarias commented on #19146
Hello, any update on this piece of work? Or at least a placeholder plugin for the "azure-discovery-arm" plugin?

[2017-01-10 04:03] wh211212 opened #22516 "failed to flush export bulks"
**Elasticsearch version**:Elasticsearch 5.1.1

**Plugins installed**: []x-pack

**JVM version**:1.8.0_111

**OS version**:CentOS 7.3 CentOS 6.8

**Description of the problem including expected versus actual behavior**:
after install x-pack ,restart Elasticsearch faild,export some error
**Steps to reproduce**:
 1. I remove data path all file,then restart Elasticsearch  still failed
 2.
 3.

**Provi

[2017-01-10 05:24] consulthys opened #22517 "Fix the documentation of the _parent field"
The [official 5.1 documentation on the `_parent` field](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-parent-field.html) states that it is possible to run a `term` query on the `_parent` field and retrieve all children documents with the specified parent, i.e. similar to what can be achieved with an `has_parent` query.

However, according to the [breaking changes in 5.0](

[2017-01-10 05:24] swekaj opened #22518 "Document `must_not` context and scoring"
**Describe the feature**:
On the documentation page for the (bool)[https://www.elastic.co/guide/en/elasticsearch/reference/5.1/query-dsl-bool-query.html] query there is no mention that the `must_not` clause executes in a filter context and returns a constant score of `0`.  In fact, the only place I can find mention of this is a brief mention on the (query-filter context)[https://www.elastic.co/gui

[2017-01-10 08:46] sscarduzio commented on #22367
Hey, is there a solution to similarly set response headers in 2.x ?

[2017-01-10 08:55] rjernst opened #22520 "Simplify aws configuration"
While working on #22479, I noticed that we have quite a few different ways to specify connection configuration for s3 repositories. There are 4 different setting names for each "real" setting (eg access key) that I counted, which are tried successively as fallbacks in a web of Setting objects.  Can we simplify the configuration to just one set of settings?

Perhaps we can have named configurations

[2017-01-10 08:57] #21893 closed

[2017-01-10 09:01] Rogier75 commented on #22500
I have not yet been able to produce any test data because any new index created does not trigger the bug.

What I can see is the following:

**Search and scroll _with_ aggregation**:
a. Old indexes with session.id type is string: search is successful, but scroll returns 0 hits.
b. Old indexes with session.id type is text: search is successful, but scroll gets ReduceSearchPhaseException caused by N

[2017-01-10 09:08] s1monw commented on #22520
++

[2017-01-10 09:19] #22202 closed

[2017-01-10 10:06] fhopf opened #22521 "CircuitBreakingException message should contain the amount of used memory"
Currently the message for CircuitBreakingException can be confusing. It only displays the limit of the circuit breaker but not the amount that is actually used. Example:

[code]

This can lead to the impression that the request would need 1.3gb alone. It would be nice if the totalUsed could be included in the message to make it clear that the memory is potentially consumed by other requests. (tota

[2017-01-10 10:06] astefan opened #22522 "Consider introducing a global "size" parameter for delete-by-query"
Today, the delete-by-query plugin version 2.4 uses a default `size` value configured directly in the source code that can be adjusted only with every request. The same applies for 5.x version of the API and `scroll_size`.

To eliminate the need of specifying custom values every time with each request, consider adding a globally default configurable parameter in `elasticsearch.yml` or a dynamically

[2017-01-10 10:50] #22232 closed

[2017-01-10 11:37] clintongormley commented on #22322
@mayur-persistent Thanks for showing interest in contributing to Elasticsearch.

Here's a guide to how to go about it: https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md

[2017-01-10 12:03] tlrx commented on #22505
The `ActiveShardCount` class has been added in #18985 and has not moved since version 5.0.0-alpha5. Can you try to declare both `elasticsearch` and `reindex-client` as dependencies in your project and use `client.execute(DeleteByQueryAction.INSTANCE, new DeleteByQueryRequest(searchRequest))` instead?

[2017-01-10 12:06] clintongormley commented on #17100
Looks like we should keep custom highlighters and suggesters.  Closing

[2017-01-10 12:06] #17100 closed

[2017-01-10 12:27] clintongormley commented on #22522
@astefan We don't have a globally configurable default for (eg) search `size`, inner hits, aggs etc.  Why would we add it for this?

[2017-01-10 12:33] clintongormley commented on #22500
@jpountz any ideas what might be happening here?

[2017-01-10 12:39] clintongormley commented on #22518
Thanks for opening this issue. Would you be interested in submitting a docs PR for this?

[2017-01-10 12:48] #22517 closed

[2017-01-10 12:51] clintongormley commented on #22516
Please consult the Elasticsearch logs to find out the problem.
Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2017-01-10 12:51] #22516 closed

[2017-01-10 12:56] clintongormley commented on #22483
I'm still not getting what it is you want this API to return.  What is it that you're wanting to test? Ingest pipelines can be complicated, so it makes sense to have detailed debugging, but here?  If it's analysis you're after, we have the analyze endpoint. If it is just to see what fields are created, I'm not seeing the benefit of adding a new API when you can just create a test index then drop i

[2017-01-10 13:03] astefan commented on #22522
@clintongormley  with such a global parameter configurable in `elasticsearch.yml` for example, any client code or application doesn't have to change and potentially be redeployed when this default customized value changes. One change will go on the "server" side and will be applied to any clients accessing the API or the plugin.

[2017-01-10 13:18] JamieCressey commented on #19146
+1 for this plugin

[2017-01-10 13:23] jasontedor commented on #22493
You are binding to non-localhost and you have `bootstrap.memory_lock` configured to true but memory locking is failing (presumably because of SELinux policy or poor interaction between SELinux and JNA).

[2017-01-10 13:23] #22493 closed

[2017-01-10 13:28] lf- commented on #22493
Poor interaction between selinux and jna. I configured it per the docs with
systemd.

On 10 Jan 2017 7:24 AM, "Jason Tedor" <notifications@github.com> wrote:

[2017-01-10 13:37] jasontedor commented on #22493
I'm not saying that you configured it wrongly. I'm saying that there are issues with SELinux and JNA interacting poorly in some OS (relates #18406).

[2017-01-10 13:41] #22490 closed

[2017-01-10 14:00] #22507 closed

[2017-01-10 14:23] s1monw commented on #22520
#22526 and #22523 might be helpful here.

[2017-01-10 14:41] andrewwwooster commented on #22494
To explain:
Some of my tests use the TransportClient, but are not based on the randomizedtesting.
Some separate analyzer tests use the Lucene test framework's assertTokenStreamContents(), due to these I included a dependency on  lucene-test-framework.  The moment I included this dependency the TransportClient broke.

My sense was that the randomizedtesting approach was recommended, but not require

[2017-01-10 14:42] clintongormley commented on #22471
Hi @cnico

Sorry to hear about your troubles with reindexing.

This is problematic because reindexing might target billions of documents, all of which might have errors.  We need to report these errors so that you can take action, but accumulating billions of errors isn't practical. Instead, we bail out on the first error.

This can be done today by running the reindex job with `?wait_for_completi

[2017-01-10 14:45] s1monw commented on #22494
I am not sure if you can have the best of all worlds. this setup looks very special since you are depending on RandomizedRunner but you don't initialize it properly. I think you should initialize it then stuff will work.

[2017-01-10 14:46] #22347 closed

[2017-01-10 14:53] s1monw commented on #22494
@andrewwwooster just to clarify you are talking about the test setup not production, right?

[2017-01-10 15:17] clintongormley commented on #22461
When I try to create a template using your JSON:

[code]

I get an exception:

[code]

If I delete the extra comma, then the template is created correctly

[2017-01-10 15:17] #22461 closed

[2017-01-10 15:20] clintongormley commented on #22459
@sherry-ger Our templates provide a helper for URI encoding already - can't that be used instead of Painless?

[2017-01-10 15:27] clintongormley commented on #22448
I would either index text instead of HTML, or use a pattern-replace character filter to remove HTML tags before tokenizing the text.

[2017-01-10 15:27] #22448 closed

[2017-01-10 15:27] synhershko opened #22529 "Release analysis plugins to maven"
Latest analysis plugin versions on maven are 5.0 alpha (e.g. http://mvnrepository.com/artifact/org.elasticsearch.plugin/analysis-smartcn , http://mvnrepository.com/artifact/org.elasticsearch.plugin/analysis-kuromoji). Since they require installation, essentially they aren't internalized fully, and as such they should be released to maven so users can run integration tests etc by loading them into

[2017-01-10 15:35] guilherme-santos commented on #10043
+1

[2017-01-10 15:36] gmoskovicz opened #22530 "Unhandled query size parameter"
**Elasticsearch version**: ES 5.x

**Plugins installed**: none

**JVM version**: Any

**OS version**: Any

[1] Using `-1` for the size returns top 10 results

[code]

[2] Using any number `<-1` returns an unhandled Lucene error:

[code]

I think that the `QueryPhase` class should catch this before being an exception, so we avoid the exception thrown by `TopScoreDocCollector`. In other words, any n

[2017-01-10 15:57] clintongormley commented on #22529
Duplicate of https://github.com/elastic/elasticsearch/issues/21615

[2017-01-10 15:57] #22529 closed

[2017-01-10 16:13] swekaj commented on #22518
Not at all, done.

[2017-01-10 17:01] clintongormley commented on #22438
Fixed by https://github.com/elastic/elasticsearch/pull/21821

[2017-01-10 17:04] sherry-ger commented on #22459
@clintongormley  I am not sure I follow.  The use case is limited to Watcher.  The request is to encode a Kibana URL in a Watcher email action, in the transform section in specific, so it can be included in the email body.

[2017-01-10 17:21] tbrooks8 commented on #22116
I opened #22534 to wrap the `connect` operations in plugins.

[2017-01-10 17:41] clintongormley commented on #22459
A watcher email body is rendered from a Mustache template. Templates already have support for doing URL encoding. See https://github.com/elastic/elasticsearch/pull/20838

[2017-01-10 17:41] #22459 closed

[2017-01-10 17:50] clintongormley commented on #22522
@astefan the same could be said for client applications - they can use a global config which each call references.  I hardly think that users are going to want to update these global defaults on a frequent basis.  I could see a purpose for a globally enforced maximum but not a global default.  We offer a good out of the box default, anything else should be configured in the client.

[2017-01-10 17:50] #22522 closed

[2017-01-10 18:05] tamsky commented on #12055
Thanks for pointing out the group is gone.

I'm disappointed the ES team invalidated (and made unsearchable by old URL) all those groups links after their [bulk import](https://discuss.elastic.co/t/google-groups-mailing-list-import-notes/23944) and [announcement](https://discuss.elastic.co/t/elasticsearch-google-groups-imported/23797).   I've learned my lesson : at a minimum, quote the thread subj

[2017-01-10 18:26] clintongormley commented on #22400
It looks like that not a scope ID but a [zone index](https://en.wikipedia.org/wiki/IPv6_address#Link-local_addresses_and_zone_indices), which is used only for routing outgoing traffic via link local.  None of the [Address Formats](https://en.wikipedia.org/wiki/IPv6_address#Address_formats) use the zone index, so I very much doubt we'll be supporting it.

[2017-01-10 18:26] #22400 closed

[2017-01-10 18:29] clintongormley commented on #22427
The only way to do it is to pass the template as a string, otherwise the JSON request can't be parsed.  We're stuck with what we have I'm afraid

[2017-01-10 18:29] #22427 closed

[2017-01-10 18:32] clintongormley commented on #22221
@itkovian everything is pointing at your hardware.

[2017-01-10 18:51] lf- commented on #22493
I played with it some more and it would appear that my ansible playbook running **and not changing anything** crashes the service, but not with selinux permissive. I want a drink.

[2017-01-10 18:52] abeyad opened #22535 "Verify a registered repository in 6.0 does not contain incompatible data only"
When a user upgrades to a 6.0 cluster, they must have done so from a 5.x cluster.  However, it is possible that the user upgraded from 2.x -> 5.x and then from 5.x -> 6.x without having registered their snapshot repository on the 5.x version.  This will mean that once the user is on a 6.x cluster, they will no longer be able to read their repository data from 2.x (as we only allow backward compati

[2017-01-10 19:00] clintongormley commented on #22402
A JSON array would add significant overhead to the parsing.  The meta lines are short and are all that are needed to redirect the bulk request from the coordinating node to the node that holds the relevant shard.  The doc lines are long and complicated, so skipping forward to the next `\n` saves a lot of parsing, and allows the shard-specific mini-bulk to read the doc line directly from the networ

[2017-01-10 19:00] #22402 closed

[2017-01-10 19:00] clintongormley commented on #22401
Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2017-01-10 19:00] #22401 closed

[2017-01-10 19:03] clintongormley commented on #22396
I think you're looking for the logstash issues list https://github.com/elastic/logstash/issues

[2017-01-10 19:03] #22396 closed

[2017-01-10 19:03] #22394 closed

[2017-01-10 19:15] jasontedor commented on #22493
That is not a poor interaction that I can say I've seen before. 🥂

[2017-01-10 19:21] nik9000 commented on #22328
Blocking this on #21336.

[2017-01-10 19:24] nik9000 commented on #22328
I got a start on the test for this: https://github.com/elastic/elasticsearch/compare/master...nik9000:reindex_from_remote_preemptive?expand=1

[2017-01-10 19:43] jasontedor commented on #21877
We also abhor late failures.

Such as?

[2017-01-10 19:53] #4707 closed

[2017-01-10 21:13] rcrezende opened #22537 "Pipeline aggregation: full histogram of an aggregation"
The thread on https://github.com/elastic/elasticsearch/issues/21962 went so fast that I couldn't discuss.

I understand the point and I can see the scalability issue if what is communicated with the coordinating node is the pair (thing_id, NumberActions).

a) But instead, if the reduce phase is each shard returning (NumberActions, count) or even better (with constant memory O(Percentile_Buckets *

[2017-01-10 22:17] chandlermelton commented on #12963
Curious about this as well. @smford, would you be willing to link to/describe your script?

[2017-01-10 23:19] ppf2 commented on #20544
@clintongormley I don't think this is going to be in 5.1.2 correct, 5.2.0 earliest?  Should we update the labeling?

[2017-01-10 23:37] andreybratukhin opened #22540 "Custom analyzer is not applied for wildcard queries"
**Elasticsearch version**: 5.1.1

**Steps to reproduce**:
 It seems this change (https://github.com/elastic/elasticsearch/pull/21919) introduces inconsistent behavior for prefix and wildcard queries. Here is example of my settings:

[code]
Put document: /tweets/tweet/1
[code]

Try to search: /_search
[code]

No results, because org.elasticsearch.index.analysis.CustomAnalyzer doesn't apply token fi

[2017-01-10 23:40] andreybratukhin commented on #22540
Also it ignores forced analyzer:
[code]

[2017-01-11 00:35] markwalkom commented on #22483
Mappings can also be complicated, if you add in synonyms, custom analysis etc.
As a user I want it to return the doc after the mapping has been applied. But without indexing it, retrieving it and then deleting the index because I need to change it.

Exactly like the ingest pipeline does :)

[2017-01-11 01:44] Gaurav2Github opened #22542 "Unable to start elasticsearch-5.1.1"
**Elasticsearch version**: 5.1.1

**Plugins installed**: [x-pack]

**JVM version**:

openjdk version "1.8.0_111"
OpenJDK Runtime Environment (build 1.8.0_111-b15)
OpenJDK 64-Bit Server VM (build 25.111-b15, mixed mode)

**OS version**:
RHEL 7.2

**Description of the problem including expected versus actual behavior**:
Followed steps [Install Elasticsearch with .zip or .tar.gz]( https://www.elastic

[2017-01-11 01:53] jasontedor commented on #22542
This is a non-issue. It's a from OpenJDK vendors applying a patch to enable `-XX:+AssumeMP` by default. You can disable it and remove this warning message by adding `-XX:-AssumeMP` to jvm.options.

This indicates a command-line usage error.

Looking at your command-line:

This is not the correct syntax. You need to use `-E` for these options, and drop the `es.` prefixes.

Also, why use an archive

[2017-01-11 01:53] #22542 closed

[2017-01-11 04:46] lf- commented on #22493
Well, regardless, here's your logs: https://gist.github.com/lf-/5a8ca512baba708bba60c151648d5370. Looks like it's a problem with java and not with elasticsearch given just how early in startup it's logged.

[2017-01-11 04:57] jasontedor commented on #22493
Your problem is here:

[code]

As mentioned, memory locking is failing yet you've configured it to be enabled. When you bind to non-localhost, request memory locking, and memory locking fails, we do not silently fail. Either disable memory locking or fix the whatever is preventing the limits from being increased.

[2017-01-11 04:58] jasontedor commented on #22493
Also, I notice that you seem to not be running with the default jvm.options. This leads to all the access control exceptions that you see. These are unrelated to the issue that you're experiencing, but it's something that you'll want to address.

[2017-01-11 05:00] lf- commented on #22493
Literally every single one of the things are enabled down to the SysV init ones that probably don't do anything. As I said, that message at the top doesn't appear with selinux on permissive. It's getting ENOMEM only when selinux is enforcing, which is the entertaining part of this issue.

[2017-01-11 05:06] lf- commented on #22493
Also, I can verify the memlock not being misconfigured by looking at `/proc/$(pgrep java)/limits` which does indeed confirm memlock as unlimited.

[2017-01-11 05:17] jasontedor commented on #22493
I didn't say it was misconfigured, I said something is preventing the limit from being increased (which includes but is not exclusive to the possibility of it being misconfigured). Also, your own output shows the soft limit is not increased to unlimited, instead it's 65536.

Then if you're sure it's configured correctly, and the only difference between success and failure is SELinux, then you prob

[2017-01-11 05:20] lf- commented on #22493
Hmmm with permissive:

[code]

Soft limit is unlimited but with enforcing it's 65536... WAT.

[2017-01-11 05:21] jasontedor commented on #22493
I mean, that's pretty conclusive. This is not an Elasticsearch issue though. :smile:

[2017-01-11 05:22] jasontedor commented on #22493
It looks like this [bug](https://bugzilla.redhat.com/show_bug.cgi?id=1364332#c45).

[2017-01-11 08:23] timbaer commented on #21544
Hi @nik9000 ,

first of all, I really appreciate your work on es5. The changes look promising! Because of that, I'm currently looking for what needs to be done to migrate my 2.4.x setup to elasticsearch 5.

One of my findings so far is that you no longer support running es in embedded mode. Sadly, I have like hundreds of integration tests for my client functionality which are based on starting and

[2017-01-11 09:05] cherweg opened #22544 "elasticsearch not available from yum repository"
Hello,
i tried to use the yum repository to install elasticsearch as described in the [offical documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/rpm.html).

Everything seem to be fine, but yum can´t find elasticsearch in this repository (but many other packages):
[code]
This is my config:
[code]
And these are the yum/rpm package Versions:
[code]
It´s Redhat Linux 7.3:

[2017-01-11 09:38] babilen commented on #21877
Failing during the postinst phase of a package installation is, to put it mildly, a rather unfortunate thing to do. In fact, one should **not** fail here. I totally understand your motivation of making the ES installation as easy for people as possible, but I would recommend to solve these issues in a standard manner as it allows for these packages to integrate well with the rest of the ecosystem.

[2017-01-11 09:50] tadzys opened #22545 "link to configuration documentation in default elasticsearch.yml is broken"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**:1.8.0_112

**OS version**:Windows 8

**Description of the problem including expected versus actual behavior**:

Default config file has the following comments:

# Please see the documentation for further information on configuration options:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configura

[2017-01-11 10:01] pprkut opened #22547 "Ingest node date processor uses stale year information on calendar year change"
**Elasticsearch version**:
5.1.1

**JVM version**:
1.8.0.111

**OS version**:
CentOS 7.3

**Description of the problem including expected versus actual behavior**:

I'm feeding /var/log/secure to elasticsearch, using filebeat and ingest node. This worked fine before the new year, but then I noticed entries appearing with a one year old timestamp.
Turns out, the date processor was parsing the date

[2017-01-11 10:01] ywelsch opened #22548 "Reenable LiveVersionMapTests.testRamBytesUsed on JDK9"
I've disabled `LiveVersionMapTests.testRamBytesUsed` for JDK9 on branches master, 5.x and 5.2 for now. Needs to be re-enabled once we have a Lucene release where RamUsageTester works under JDK 9.

[2017-01-11 10:26] Rogier75 commented on #22500
@jpountz
I was able to reproduce the empty scroll after a successful search. Not sure if this is a bug or a feature. For me it has worked that the scroll result returns data even though here is mentioned:

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-scroll.html

Test data:
https://gist.github.com/Rogier75/27136d1996dfc50c90c31ad07c75a1e9#file-es_bulk_github_22500

[2017-01-11 10:32] jimczi commented on #22540
@andreybratukhin https://github.com/elastic/elasticsearch/pull/21919 has been merged to 5.2 only.
5.1.1 does not have this change and as you described has a bug when a custom analyzer is used.
In this version the normalization of the wildcard term is not working when a custom analyzer is set.
This is fixed by https://github.com/elastic/elasticsearch/pull/21919 which applies the normalization to cu

[2017-01-11 10:32] #22540 closed

[2017-01-11 10:43] Rogier75 commented on #22500
I was able to reproduce the empty scroll after a successful search. This has worked for me in the past even though mentioned [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-scroll.html) is:

To reproduce the empty scroll result on Elasticsearch 5.1.1:

**Test data**: contains 18 documents with unique session.id
https://gist.github.com/Rogier75/27136d1996dfc50c

[2017-01-11 10:50] fulax opened #22551 "ShardStats causing IllegalStateException, nodes get disconnected"
**Elasticsearch version**: 5.1.1, from Elastic Artifacts repositories

**Plugins installed**: [x-pack]

**JVM version**: Java(TM) SE Runtime Environment (build 1.8.0_65-b17) (custom .deb packaging of Oracle's tarball)

**OS version**: Debian 8.6

**Description of the problem including expected versus actual behavior**: Some data only nodes close their connection with the master node, resulting in

[2017-01-11 10:55] fulax commented on #22551
To complement this issue, our problem is not that one node gets disconnected, but the recovery process stalling with shard lock exceptions, and the cluster never gets back to green state.
Here is one stack trace of the shard lock issue:

[code]

[2017-01-11 10:57] mironych commented on #21448
Also I think it's worth to mention "action.auto_create_index" setting in article about [index templates](https://www.elastic.co/guide/en/elasticsearch/guide/current/index-templates.html), because after reading it you think that template creating will make the job.

[2017-01-11 11:02] jimczi commented on #22500
I don't understand what you're trying to achieve. If you send a scroll query with `size:0` it is expected that you get no hits. In fact with `size:0` you are sure that the first query will return no hits and then your scroll is considered as finish.
Regarding the aggregation only the initial query will return result for the aggs, subsequent queries with `_scroll` will not compute the aggregations.

[2017-01-11 11:12] jasontedor commented on #22551
Duplicates  #22285, closed by #22317. This will be fixed in the next patch release. The only workaround for now is to disable stats collection while indexing. Also, Netty 4 is not the problem here, the bug was a concurrency issue between stats collection and indexing.

[2017-01-11 11:12] #22551 closed

[2017-01-11 11:16] jimczi opened #22552 "Forbids scroll query that sets size to 0"
A scroll query like the following:
[code]
... returns no hit but subsequent queries with the returned scroll id will replay the entire query even though there is no hits to return.
It would be better to throw an exception on the initial query in order to forbids scroll query with `size:0`.

Relates #22500

[2017-01-11 11:29] jasontedor commented on #22545
Thanks for reporting. This is unfortunate, and is why we try to avoid putting links in places like this, log messages, etc. The link you're looking for is now https://www.elastic.co/guide/en/elasticsearch/reference/5.1/settings.html.

[2017-01-11 11:40] jasontedor commented on #22544
Interesting. This does not reproduce for me (Fedora 25):

[code]

I will try your specific RedHat distribution to be sure.

[2017-01-11 11:44] jasontedor commented on #22544
This does not reproduce for me on a fresh RedHat 7.3 VM:

[code]

[2017-01-11 11:48] Rogier75 commented on #22500
@jimczi
Please bear with me for one second and let me explain what I'm trying to do. If you tell me that it is impossible than I will implement another solution:

Image the following 4 documents exist with a timestamp and session.id:
1. timestamp: 18:50 session.id: 1
2. timestamp: 18:55 session.id: 1
3. timestamp: 19:00 session.id: 2
4. timestamp: 19:05 session.id: 2

I want to search and scroll a

[2017-01-11 12:09] smford commented on #12963
@chandlermelton : Getting approval from work and the author to release the script. Will get back to you soon.  @jinnko

[2017-01-11 12:18] jimczi commented on #22500
You'll have to make the collapsing on the client side if you want to use the scroll. You could for instance do a query like:
[code]
... and then for each result set you would keep the first result of each session id.
We're also iterating on a collapse feature for search requests but only pagination would be possible (no scroll):
https://github.com/elastic/elasticsearch/pull/22337

[2017-01-11 12:36] nik9000 commented on #21448
I just did this a few days ago. I'm on mobile so I don't have a handy link.

On Wed, Jan 11, 2017, 5:57 AM Aleksandr <notifications@github.com> wrote:

[2017-01-11 13:00] iyerabhi07 opened #22555 "Cannot see DevTools (console) on using a created user"
Hi I am using ELK 5.1.1 and I installed x-pack plugin at ElasticSearch and Kibana.
I created a new user from the management console, assigned it a role to be able to just read an index that I created.
But on logging in to Kibana with that user, I am not able to see the DevTools (console) to run any queries.
Kibana and ElasticSearch are connected, I have updated Kibana credentials at the yml file.

[2017-01-11 13:03] fulax commented on #22551
Thanks @jasontedor for the info, I failed to find that issue using de NodeStats message I saw. I guess disabling stats collection mean disabling X-Pack's Monitoring capability as well as our monitoring probes.

Do you have an idea about the next release date? This issue is quite severe.  Thanks.

[2017-01-11 13:12] jasontedor commented on #22551
Yes.

I agree the issue is severe. We do not provide release dates, the best that I can tell you is that it will probably be soon.

[2017-01-11 13:13] jasontedor commented on #22555
Please open this issue in the Kibana repository.

[2017-01-11 13:13] #22555 closed

[2017-01-11 13:25] kevin-tang-rs opened #22556 "ES5.0.1 load balance is badly in 2 nodes of cluster"
**Elasticsearch version**: 5.0.1 and 5.1.1

**Plugins installed**: [Null]

**JVM version**: JRE1.8

**OS version**: Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:
the ES load balance performance of searching is worse than 1 node when use 2 nodes in a cluster, and performance of 3 nodes is better

**Steps to reproduce**:
 1. create a cluster with 2 nodes
 2.

[2017-01-11 13:32] Rogier75 commented on #22500
Thanks @jimczi

#22337 does look interesting as it supports pagination. Until that's final I will create a new index (or new type in an existing index) that contains the unique session documents with earliest time stamp. It's a small bit of duplication but it allows for search and scroll and pagination.

[2017-01-11 13:44] nik9000 commented on #21544
You can't really do that with the maven plugin. One at a time, sadly.

I think the maven plugin is the way to go because it is "more real" but it does sadly lose a few things like parallel test runs. Running ES was never really supported. It worked and folks would help with it but it was a maintenance nightmare and requires poking holes in the security which was bad.

ESIntegTestCase works and we

[2017-01-11 14:31] msteggink commented on #22544
I'm able to reproduce:  when I use a host which is enrolled into RedHat Satellite (using the same .repo contents as you)

[code]

When using a host which is cleanly installed:

[code]

[2017-01-11 14:39] jacob87o2 opened #22557 "source filtering (_source) field matching too loose"
**Elasticsearch version**:  `5.1`

**Plugins installed**: none

**JVM version**:
[code]
**OS version**: `Ubuntu 14.04.1 LTS`

**Description of the problem including expected versus actual behavior**:

I don't know if this is a bug or a feature, but in my opinion it shouldn't work like that.

When filtering source (`_source`), there are returned fields that contain only part of the string.

Let's s

[2017-01-11 15:23] clintongormley commented on #22557
May be related to https://github.com/elastic/elasticsearch/pull/20736

[2017-01-11 15:24] clintongormley commented on #22557
@mikemccand Could you take a look at this please? I think the automaton change in #20736 has a bug

[2017-01-11 15:26] pjcard commented on #13951
@rjernst Thanks for your suggestion, however it won't help us or anyone else indexing 64-bit hashes, our workaround for those at the moment is to store them as a string.

[2017-01-11 15:27] nik9000 commented on #22557
I just confirmed in master with this:
[code]

[2017-01-11 15:35] listenyourheart commented on #22505
Hello, thank you for reply ,
I finally found my problem ! is that the server version elastic search is 2.4 while the java API I was using is 5.0.0. I solved my problem by doing a first query get with filters then a delete by id

[2017-01-11 15:36] listenyourheart commented on #22505
@clintongormley @tlrx  thank you

[2017-01-11 15:36] #22505 closed

[2017-01-11 15:51] jimczi commented on #22500
Though we should continue to investigate what's causing the NPE. I am reopening this issue because the NPE may be due to a bug and it would be beneficial to know what's causing it. Can you share your mapping and the steps you followed to reach the state where you get exceptions ? You're mentioning that you use an old index ? What does that mean ? You created the index in an older version and you'v

[2017-01-11 16:15] sergpsu commented on #22508
Guys, when can I expect this to work?

[2017-01-11 16:17] clintongormley commented on #22545
Fixed in 2ec5deef089723885dc76462c68b953f3af364ca

[2017-01-11 16:17] #22545 closed

[2017-01-11 16:26] clintongormley commented on #22547
@talevy Did you have a solution for this in Logstash that can be ported to ingest?

[2017-01-11 16:33] talevy commented on #22547
Oops, I wasn't aware of this pre-existing issue that we had in logstash-filter-date. I see the solution we came up with in Logstash, I'll see how we can do something similar in Elasticsearch

[2017-01-11 16:39] clintongormley commented on #22483
The doc doesn't change.  The source is exactly the same.  So what is it you want returned?

[2017-01-11 16:55] Rogier75 commented on #22500
To get the exact mapping at the time I wrote this issue I need to put back an old snapshot on a different host. I'll try to that tomorrow.

The index was created in an older version after which I upgraded to 5.x. Is there a way to see in which version the index was created?

[2017-01-11 17:04] clintongormley commented on #20544
@ppf2 The elasticsearch side of the work was released with 5.1.1, but I believe the Kibana side will be released with 5.2.0.

[2017-01-11 17:04] #20544 closed

[2017-01-11 17:09] pickypg commented on #20544
Indeed, Kibana gains support in 5.2.0.

https://github.com/elastic/kibana/pull/9561

[2017-01-11 17:11] jdconrad commented on #22508
@sergpsu I'll change the setting today.

[2017-01-11 17:22] nik9000 commented on #22508
If he changes it today and backports to the change to the 5.2 branch you'd be able to get the fix by upgrading to 5.2.0 once we release it which should be soon-ish given that we've cut a branch for it. We are pretty coy about when we plan to release, mostly because we can't predict it well. Though  Elasticsearch 5.2 needs Lucene 6.4 which is being discussed [here](https://lists.gt.net/lucene/java-

[2017-01-11 17:24] nik9000 commented on #22552
Makes sense to me. We allow `-1` because that means "all". And we allow `0` for regular search because that means "none" but "none" doesn't make sense with scroll.

[2017-01-11 17:32] andreybratukhin commented on #22540
I haven't seen the version marker for the pull request. Thank you for clarification.

Do you have any suggestions for a workaround to 5.1.1 issue with custom analyzer and wildcards?

[2017-01-11 17:51] jdconrad commented on #22508
This has been changed so I'm going to close this issue.  It will be backported to 5.1.2.

[2017-01-11 17:51] #22508 closed

[2017-01-11 17:55] #22330 closed

[2017-01-11 17:58] jimczi commented on #22540
Unfortunately not :(
Though you should be very careful with wildcards. Leading wildcard like in your example are very costly so my suggestion would be to forbid them ;) See `allow_leading_wildcard` in https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html ?

[2017-01-11 18:33] jordansissel opened #22563 "Share Ingest Node and Logstash behavior for processors"
Background: We've always intended to share code between Logstash and Ingest Node, but we have never executed on this.

Ingest Node has 20+ processors, all of which are duplicated from Logstash in idea: append, convert, date, date index name, fail, grok, gsub, json, kv, lowercase, etc...

The reason I file this issue now is this ticket: https://github.com/elastic/elasticsearch/issues/22547

By way

[2017-01-11 18:37] dbstovall opened #22564 "Envelope GeoShape search across dateline doesn't find correct documents."
**Elasticsearch version**: 2.2 - 5.1

**JVM version**:

**OS version**:
Alpine Linux v3.4 in Docker 1.12.5 Stable on Mac OS 10.12.2

**Description of the problem including expected versus actual behavior**:
Envelopes create a bounding box that won't cross longitude 180 ( or -180, roughly the international dateline).

**Steps to reproduce**:
 1. Store geo shape  polygon at coordinates [[179,1], [17

[2017-01-11 18:50] gmoskovicz opened #22566 "Enhance Host-Type configuration for Self-AWS discovery"
@dadoonet as discussed before, nowadays we have the following method to discover and assign the address based on AWS-elasticsearch configuration options:

[code]

Which is defined in the following class: [AwsEc2UnicastHostsProvider](https://github.com/elastic/elasticsearch/blob/e5d9f393f140d41be470c4bfbe7cfe97d05b370c/plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/AwsEc2Unicas

[2017-01-11 19:36] javanna commented on #11638
I think we should do this, the `global.json` idea was ok with me. Does anybody at @elastic/es-clients have other ideas?

[2017-01-11 19:46] gmarz commented on #11638
I opened #22569.  I opted for `_global` rather than `global` to signal that it's not an actual endpoint.  Open to any suggestions.

[2017-01-11 20:02] nik9000 commented on #21448
I found the PR. It is still open so I linked it.

[2017-01-11 20:11] Rogier75 commented on #22500
@jimczi
I have recreated the NullPointerException. I updated the mapping to make sure that the session.id field is a multi of type text / keyword.

mapping:
https://gist.github.com/Rogier75/752507cd3affd4235a249a9d27abedd2#file-github_22500_mapping-txt

data:
https://gist.github.com/Rogier75/27136d1996dfc50c90c31ad07c75a1e9

search query:
https://gist.github.com/Rogier75/cd515adc269159ab08b45de29b

[2017-01-11 20:34] magictortoise opened #22570 "Upsert can be used with Completion Suggester?"
**Elasticsearch version**: 2.3.5
**JVM version**: 1.8

**Upsert feature works in the commend below**
[code]
**But  it's not searchable for the completion suggester search commend**
[code]

[2017-01-11 20:58] polliard-jmfe commented on #22566
I would seriously love this enhancement, as this would resolve the problem we are currently having.

AWS Documentation states
If you are using custom DNS domain names defined in a private hosted zone in Amazon Route 53, you must set the following VPC attributes to true: enableDnsHostnames and enableDnsSupport. For more information, see Updating DNS Support for Your VPC.

The act of doing that thou

[2017-01-11 22:12] Rogier75 commented on #22500
What we can learn from this is that it can happen on a newly created index in Elasticsearch 5.1.1 and is not related to the index being created in an older version.

[2017-01-11 22:15] Gaurav2Github commented on #22542
Thanks for the advise.
I have corrected it now.
Free memory was low. Increasing it fixed the issue.
Using RPM is anytime better option to use.

[2017-01-11 22:15] jimczi commented on #22500
I cannot reproduce with my single node test and your recreation. If you reproduce can you keep the stack trace of the NPE and copy it here.

[2017-01-11 22:21] Rogier75 commented on #22500
[code]

[2017-01-11 22:31] domosapien opened #22573 "Add took to update's response"
Sorry if this is already covered somewhere else, I looked through a bunch of issues and couldn't find it.

`update`'s response does not include `took` like `index`'s does. Is there a reason for this? If not, can it please be added? Using version 5.1.1.

[2017-01-11 23:27] #22570 closed

[2017-01-11 23:38] Oliboy50 commented on #15315
same error, it works just fine with default params on ES 1.x and 2.x, but when I try to start ES 5.1.1, it
fails with:
[code]

I'm not a Java developer at all, so if someone could explain how to decrease the memory required to run ES 5.x. It would be so nice :)

Note: I just want to use ES 5.x in my development environment. Don't need to run a huge cluster :)

[2017-01-12 01:58] jasontedor commented on #15315
The default heap size is 2g. If you need to decrease this, edit the `jvm.options` file. The [docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.1/heap-size.html) explain this in more detail.

There are two main reasons that you see a difference between 1.x/2.x and 5.x:
 - 1.x and 2.x defaulted to a starting heap size of 256m and a max heap size of 1g while 5.x defaults to a starting a

[2017-01-12 02:12] stevewillard opened #22576 "Aggregating on _field_names meta field not supported in ES 5.x"
**Elasticsearch version**:
5.x

**Description of the problem including expected versus actual behavior**:
In Elasticsearch 2.4.x you were able to aggregate on the _field_names field as documented here:
https://www.elastic.co/guide/en/elasticsearch/reference/2.4/mapping-field-names-field.html#CO176-2
`Aggregating on the _field_names field`

I notice that this has been removed in the 5.x documentati

[2017-01-12 02:55] makeyang commented on #22530
@gmoskovicz  cause -1 is taken is not set and then it will be set default value.

[2017-01-12 06:15] ppf2 commented on #22513
Linking PR:  https://github.com/elastic/elasticsearch/pull/22577

Workaround is to explicitly set the chunk_size setting to 64m to match the default chuck_size value, eg.

[code]

[2017-01-12 08:22] karmi commented on #11638
What if, instead of `_global.json`, we had something like `_common.json` (or similar), which could list not only global URL parameters, but also other things like that in the future?

[2017-01-12 08:46] clintongormley commented on #22483
As a user I want it to return the doc after the mapping has been applied. But without indexing it, retrieving it and then deleting the index because I may then need to change it.

This sounds like something best accomplished with a UI that uses the `analyze` API.

[2017-01-12 08:46] #22483 closed

[2017-01-12 08:49] clintongormley commented on #22576
Hi @stevewillard

No, the `_field_names` field has been locked down and is only indexed, it doesn't support fielddata (memory intensive) or doc values, which would require writing more data to disk which almost nobody would use.

To get counts of docs which have a particular field, you can run an `exists` query on the fields you're interested in.

[2017-01-12 08:49] #22576 closed

[2017-01-12 09:01] clintongormley commented on #22564
@nknize please could you take a look

[2017-01-12 09:18] makeyang commented on #22530
@clintongormley  I give a pull request to fix this issue. it is: https://github.com/elastic/elasticsearch/pull/22579
can you please help to review it? thanks

[2017-01-12 09:29] synhershko opened #22580 "[Regression] Template validation doesn't take into account template hierarchy ("order")"
Consider the following scenario:

`default.json` defines some mappings for common fields and/or dynamic mapping shared by all indices in a cluster. Specifies order 1 and `template:*`.
`default_en.json` defines language specific mappings for fields, e.g. `{ "content": {"analyzer":"myenglish"}}`. Specifies order 2 and `template:*_en`.
`articles_en.json` defines articles mappings for the English lang

[2017-01-12 09:38] clintongormley commented on #22580
Closing in favour of #21105

[2017-01-12 09:38] #22580 closed

[2017-01-12 09:42] synhershko commented on #22580
Always one step ahead :)

Can I suggest this pitfall is documented somewhere? was kinda of a head scratching moment when upgrading a client system to 5

[2017-01-12 09:42] synhershko commented on #21105
(subscribing)

[2017-01-12 09:48] synhershko commented on #21615
@s1monw can you please elaborate on how the test framework will help here? if I need lang-expression or analysis-kuromoji for my unit/integration tests with Elasticsearch, how does it help if they are not available on maven and I can't pull them to my setup?

[2017-01-12 10:16] tronicum commented on #21596
i get this even on a 3 node kibana-elk-logstash cluster on a fairly good sized vmware machine (with docker). but i started since i tried to forward 4 GB log via filebeat into it.

[2017-01-12 10:32] clintongormley commented on #20479
Closing in favour of #21105

[2017-01-12 10:32] #20479 closed

[2017-01-12 10:34] clintongormley commented on #21050
@talevy just a ping because this looks like it has been forgotten

[2017-01-12 10:41] clintongormley commented on #17110
@jpountz is this fixed?

[2017-01-12 10:42] clintongormley commented on #18551
@abeyad is this still valid?

[2017-01-12 11:06] chixuan777 opened #22582 "ES high load after 2017-01-01 00:00:00(UTC)"
Hi,
We have 5 nodes in the es cluster.(es2.1.1 on centos7 3.10.0-327.3.1.el7.x86_64)
After 2017-01-01 00:00:00(UTC), one of the nodes got a very high cpu load.
Nothing helped after we restart the es-jvm.
We checked that the cpu interruption is very high during that time.
When we restart the os, the cpu load and the interruption are very low.

We thought that it was caused by the "leap second" prob

[2017-01-12 11:08] gmoskovicz commented on #22121
@PhaedrusTheGreek why we closed this issue? What was happening?

Was this a multi-node user case and the setting (requires name) was not set in certain nodes?

[2017-01-12 12:02] jasontedor commented on #22582
If it's only one node, it's probably not a leap second issue. In the future, you could take a stack dump or use hot threads to see what the node was doing. For general discussion, please open a topic on the [forum](https://discuss.elastic.co). Elastic reserves GitHub for verified bug reports and feature requests.

[2017-01-12 12:02] #22582 closed

[2017-01-12 12:03] sergpsu opened #22583 "Sort order sometimes is case sensitive, sometimes not"
Following construction supports case insensitive DESC/desc order
```"sort":{"field":"DESC"}```

but

```"sort":{"field":{"order":"DESC"}}```

gives an error

```Sort order [DESC] not supported.```

I'm using v5.0.0

[2017-01-12 12:15] javanna commented on #11638
I have no opinion on global vs common, they both sound good to me.

[2017-01-12 12:28] timbaer commented on #21544
The problem with the org.elasticsearch.test library for me is, that it brings in way too many dependencies which heavily interfere with mine, e.g. mockito vs securemock, log4j2 vs slf4j and many more...
I tried the shading of those dependencies [as described here](https://www.elastic.co/blog/to-shade-or-not-to-shade), but then I'm running into even more worse problems. Actually, I would love to us

[2017-01-12 12:43] josephDunne opened #22584 "Unable to cast IP DataType to String in Painless Script"
**Elasticsearch version**: 5.0

**Plugins installed**: default set

**JVM version**: openjdk version "1.8.0_101"

**OS version**: Centos 6

**Description of the problem including expected versus actual behavior**:

I have trying to append a field value to a string but I am getting an ArrayIndexOutOfBoundsException.
It seems that there is a problem with the `.getValue()` function for IP data type f

[2017-01-12 13:00] pkalinkina opened #22585 "Problem with client-side plugin development (TransportInterceptor usage with TransportClient, Transport intercepror does not support DI)"
We have a plugin, that on client-side(TransportClient) adds headers to each request.
It was developed for Elasticsearch version 2.3.5 with overriding TransportService.sendRequest()
(extending class held objects, managed by guice) and adding new TransportService to the
plugin with onModule(TransportModule module).

Now we are trying to update to 5.1.1 version and TransportService.sendRequest() is f

[2017-01-12 13:42] s1monw commented on #22585
I think for this you should use `FilterClient` and override `doExecute` like this:

[code]

[2017-01-12 13:42] #22585 closed

[2017-01-12 13:43] #19552 closed

[2017-01-12 13:44] s1monw commented on #21615
the test framework can expose you n external cluster coming from a zip file that has all plugins you need. if not you have to install them.

[2017-01-12 13:59] #22513 closed

[2017-01-12 14:23] abeyad commented on #18551
The `deleteSnapshot` call is now safe (https://github.com/elastic/elasticsearch/pull/22313), but we still have potential issues with getting snapshots and snapshot status as outlined above.  I believe we can solve the issue of create snapshots temporarily creating a duplicate entry in the cluster state by maintaining some internal data structures on the master node containing the current snapshots

[2017-01-12 14:25] nik9000 commented on #19552
Hurray! Thanks for all the work @javanna!

[2017-01-12 14:26] dadoonet opened #22588 "_source not supported in script fields"
I'm running this:

[code]

This is failing with:

[code]

But in docs we say it's available:  https://www.elastic.co/guide/en/elasticsearch/reference/5.1/search-request-script-fields.html

[code]

[2017-01-12 14:42] nik9000 commented on #22584
That stacktrace looks cut off. If that is how it is logged then we have another problem in addition to whatever you've found with ips. Also look out for #22393.

[2017-01-12 14:50] pkalinkina commented on #22585
But if I want to define all functionality in plugin an use client like this:
`TransportClient client = new PreBuiltTransportClient(settings, AuthenticationPlugin.class)`

[2017-01-12 15:06] mikemccand commented on #22557
I'll have a look @clintongormley

[2017-01-12 15:09] s1monw commented on #22585
TransportClient client = new PreBuiltTransportClient(settings, AuthenticationPlugin.class)

you can also get the ThreadPool in the plugin from `createComponents` and then use is with a transport interceptor.

[2017-01-12 15:12] pkalinkina commented on #22585
But `createComponents ` is not used inside of `TransportClient `

[2017-01-12 15:17] s1monw commented on #22585
oh true, then you have to go through FilterClient. that is the intended way to solve this. that's what it was added for

[2017-01-12 15:18] Gordiychuk commented on #22585
@s1monw offered solution looks like work around, the main problem that  `TransportInterceptor` not support DI, it's lead to many problem when whole dependency located inside DI but one of class required it an can't access without static hacks. I have example of this hack:
https://github.com/floragunncom/search-guard/blob/5.1.1/src/main/java/com/floragunn/searchguard/SearchGuardPlugin.java#L252
htt

[2017-01-12 15:22] s1monw commented on #22585
Google Guice is about to removed and TransportClient will be removed in upcomeing versions. We won't add stuff like TransportInterceptors to guice. There is a clear way forward by using FilterClient for this.

[2017-01-12 15:26] josephDunne commented on #22584
That is indeed how it is logged :) if I mess around with the script I abitni can sometimes get a longer stack trace which shows the source of the out of bounds in the UTF8 code

[2017-01-12 15:27] Gordiychuk commented on #22585
What will be use instead of guice for provide DI? What will be official way to create client that provide access to elaticsearch? Right now FilterClient looks like delegator. As a result our clients should create manually some wrapper class instead of specify list plugins.

[2017-01-12 15:28] josephDunne commented on #22584
Funny you should mention #22393 as I had run into the string escape issue and I have seen that ticket. It does not seem to solve this issue

[2017-01-12 15:30] s1monw commented on #22585
you can just subclass FilterClient and automatically install your plugin there. then you have a dedicated client. We won't use DI in the future it's a disaster from SW engineering perspective and makes encapsulation impossible. We will work towards providing relevant abstractions and extensions points. Most of the plugins don't use DI anymore.

[2017-01-12 15:35] nik9000 commented on #22584
Great! We play some tricks with those stacktraces in an effort to make them a bit more useable but it looks like we've gone a bit too far.

Yeah. I just meant that you would have to work around that issue in addition to any workaround we find for this one.

I'll start in on this as soon as I can get finished replying to other github issues.

[2017-01-12 15:45] nik9000 commented on #21544
Yeah, it really is for testing Elasticsearch plugins and Elasticsearch plugins have to suffer through stuff like securemock and live with log4j2 because we depend on it directly (though I don't feel [that bad](http://stackoverflow.com/questions/41498021/is-it-worth-to-use-slf4j-with-log4j2/41500347#41500347) about it).

[I do too](https://github.com/elastic/elasticsearch/issues/21119) but I think

[2017-01-12 15:47] Gordiychuk commented on #22585
It's future plans or we already rewrites this code? I thinks it will required a lot of rewrite code inside elasticsearch and for all clients. If it's takes much time, maybe fix this problem for current version instead of add WA for plugin owners? I can provide PR.

[2017-01-12 15:49] s1monw commented on #22585
@Gordiychuk what problem are you talking about? I don't see why you can't use a FilterClient?

[2017-01-12 15:56] josephDunne commented on #22584
thank you @nik9000! My hunch is that there needs to be a specific subclass in `ScriptDocValues` for IP fields. Here is a longer trace:

[code]

I got that with this script and don't understand really what makes it different :-) :

[code]

Also I am not sure if it helps or if this is a different issue but if I do the following script I get a NoSuchElement exception (I thought maybe its because the

[2017-01-12 16:06] nik9000 commented on #22584
Looks like @jpountz already got it: https://github.com/elastic/elasticsearch/commit/cbd43401300a76e6f4431654f8b32beb94938897

*but* there still is an issue in master:
[code]

It looks like we're missing a whitelist entry for painless. Digging....

[2017-01-12 16:28] Gordiychuk commented on #22585
Because API looks not consistent, users should specify list of plugins, but instead of that user will specify list of plugin plus our implementation of FilterClient.

It will not work, when i have an application that is configured outside by user and if user decides to omit security for ealsticsearch. Now all we have to do is omit our plugin from the list of plugins. But if we use FilterClient tha

[2017-01-12 16:29] cnico commented on #22471
Hi @clintongormley,

For the first point, I disagree with you because I think it is completely useless to have a system that if an error happens, simple leaves the task partly completed and partly uncompleted, so with an unknown state.

Even if an index contains billions of documents, the reindex could have many strategies relating to error handling with the choice of the user that knows its data

[2017-01-12 16:50] nik9000 commented on #22584
Ok - I've almost got it but I can't figure out why painless can't find a class. I'm going to take a break and come back in a bit.

[2017-01-12 16:58] jdconrad commented on #22588
Meant to get back to this sooner: https://github.com/elastic/elasticsearch/pull/21322

[2017-01-12 17:02] dadoonet commented on #22588
Ha great! So I close the issue in favor of the PR then. Thanks !

[2017-01-12 17:02] #22588 closed

[2017-01-12 17:23] #19784 closed

[2017-01-12 17:32] gmarz commented on #11638
I'm also good with `_common.json`.  @karmi what other things do you see us adding in the future other than query params?

[2017-01-12 17:34] jdconrad commented on #22584
@nik9000 I'm not seeing this in the whitelist in master.

[2017-01-12 17:43] karmi commented on #11638
@gmarz, not really sure, probably just a case of my regular "just in case" condition :)

[2017-01-12 18:23] alexcojocaru commented on #21544
Just a comment on the Elasticsearch maven plugin: I finished rewriting it to work with ES 5; the code is in the master branch and the artifact was deployed to maven central:  https://search.maven.org/#artifactdetails|com.github.alexcojocaru|elasticsearch-maven-plugin|5.3|maven-plugin

[2017-01-12 19:12] nik9000 commented on #22584
Yeah, I'm whitelisting it now and making a test for them all. But I'm having trouble with class not found exceptions.

[2017-01-12 19:13] jdconrad commented on #22584
Ahh, sorry I misunderstood.

[2017-01-12 19:18] rjernst opened #22599 "Remove signer setting in aws plugins"
We have a `signer` setting in our aws plugins, which overrides the signing type used to sign aws requests. However, this is _completely_ untested, and is only needed for third party aws replacement apis like ceph. I think we should remove this setting, since it is untested and unsupported, and let the community fork the plugins to customize them for ceph, if there is demand.

[2017-01-12 19:21] dadoonet commented on #22599
Agreed.

[2017-01-12 19:44] s1monw commented on #22585
if you want to inject a set of headers with every request you can do this via settings. like this:

[code]

your plugin can do that as well there is no need to intercept requests.

[2017-01-12 20:10] jasontedor commented on #21877
It absolutely matters. You are trying to convince us to take another point of view, and in support of that you put out a statement:

I'm asking for additional context. If, for example, the tool that you had in mind was an obscure tool then I would be less likely to consider your argument as we do not design for special cases.

It did not elude my attention. I've already read it and considered it.

[2017-01-12 20:26] #22584 closed

[2017-01-12 20:40] gmarz commented on #11638
@karmi 👍 I've updated the PR and renamed it to _common.

[2017-01-12 20:42] nik9000 commented on #21544
❤️

[2017-01-12 20:50] talevy commented on #21050
thanks @clintongormley, I'll take another look at this next week

[2017-01-12 21:05] Oliboy50 commented on #15315
@jasontedor thanks
I reduced to `-Xms1g` and `-Xmx1g` (instead of 2g for both) and it works just as before 👍

[2017-01-12 21:11] josephDunne commented on #22584
Thank you @nik9000

[2017-01-12 21:13] nik9000 commented on #22584
You are quite welcome! You'll get it in 5.2.0 which isn't quite ready yet, but is coming soonish.

[2017-01-12 22:16] dakrone opened #22602 "[CI] NullPointerException in TermsAggregatorTests.testTermsAggregator on master"
With this failure:

[code]

Seen from CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-intake/579/console

Reproduces with:

[code]

[2017-01-12 22:57] tbrooks8 commented on #22116
- I opened PR #22572 that should remove a netty release as a blocker for migrating accept and connect.
- I have investigated URLRepository and it does not appear to me that class makes socket connections (some of its plugin subclasses do, but I'm dealing with that in the plugin changes). Let me know if I am incorrect about that.
- I opened PR #22603 to wrap connect operations in the rest client in

[2017-01-13 00:00] #22557 closed

[2017-01-13 05:04] deepak-bala commented on #21435
For those looking at this thread now, the reason this happens is because of this.

[code]

Both the `x-pack-transport-5.1.2.pom` and `x-pack-api-5.1.2.pom` files from the ES repo have duplicate `licenses` and `developers` XML tags. Remove these tags locally and the transitive dependencies will be downloaded. You'll need to get maven to re-import the jars once you edit these pom files.

The followi

[2017-01-13 06:05] pkalinkina commented on #22585
But if I want to change this header later I still will have to use `ThreadContext` and `FilterClient`?

[2017-01-13 06:10] mod3st commented on #21911
This problem occurs only with BULK operations. Single update, index requests work fine.

I didn't notice this problem on Windows.

Another exception is StringIndexOutOfBoundsException:

[code]

[2017-01-13 07:19] tramchamploo opened #22604 "Bootstrap failed"
**Elasticsearch version**:
5.1.2
**Plugins installed**: [none]

**JVM version**:
JVM[Oracle Corporation/Java HotSpot(TM) 64-Bit Server VM/1.8.0_65/25.65-b01
**OS version**:
OS[Linux/3.10.0-229.el7.x86_64/amd64]

Elasticsearch directory owner is user I logged in and not root. On my other machines, bootstrap is fine.
[code]

[2017-01-13 07:40] prashanttct07 opened #22605 "Index Delete message to be logged as INFO instead of Debug"
**Elasticsearch version**:
5.1.0

**Plugins installed**: []
NA

**JVM version**:
1.8.111

**OS version**:
Ubuntu : 14

**Description of the problem including expected versus actual behavior**:
Index Delete message to be logged as INFO instead of DEBUG , this to be incorporated similar to what we see for index creation.

Details:

I was running an ELK cluster on prod and if someone deletes an index

[2017-01-13 08:05] dadoonet commented on #22604
Please ask your questions on discuss.elastic.co.

Fix your environment here according to the guide (search for bootstrap checks)

[2017-01-13 08:05] #22604 closed

[2017-01-13 08:05] #22266 closed

[2017-01-13 08:19] jimczi commented on #22602
I pushed a fix in master and 5.x for this:
https://github.com/elastic/elasticsearch/commit/f18d5f22ce8649ac5ca58c7c275946e6a069ca84

[2017-01-13 08:19] #22602 closed

[2017-01-13 08:31] dadoonet commented on #22605
Why not changing the level to `DEBUG` for `org.elasticsearch.cluster.metadata.MetaDataDeleteIndexService` instead?

[2017-01-13 08:38] ywelsch commented on #22605
I think index deletion is such an important event that we should log it as INFO.

[2017-01-13 08:49] jimczi commented on #22583
Thanks for the report @sergpsu
This is fixed in v5.1 which now accepts upper/lower case order.

[2017-01-13 08:49] #22583 closed

[2017-01-13 09:06] prashanttct07 commented on #22605
Yes, that can be done and need to handled explicitly in the conf. So was just thinking if this could be made as Info as this seems to be important metrics to keep an eye on cluster.

[2017-01-13 09:40] mod3st commented on #21911
The problem still occurs:

Elasticsearch version: 5.1.2
Plugins installed: analysis-stempel 5.1,2

[2017-01-13 10:15] mikemccand commented on #21911
I'll try to get to the bottom of this.  Can you share your full analysis chain?  From the stack traces I see at least shingle and synonym filter after the stempel stemmer, but what tokenizers/filters come before it?

[2017-01-13 10:47] mikemccand commented on #21911
OK, nevermind on the full analysis chain @mod3st, I see the issue...

There is a thread safety bug in the TokenFilterFactory: https://github.com/elastic/elasticsearch/blob/master/plugins/analysis-stempel/src/main/java/org/elasticsearch/index/analysis/pl/PolishStemTokenFilterFactory.java#L48

That `stemmer` cannot be shared across threads, but it is here.  I'll open a PR to fix it to make a new ste

[2017-01-13 10:58] james08 opened #22607 "Missing new line - COPY AS CURL"
**Elasticsearch version**:
5.1.1

**Plugins installed**: []
none

**JVM version**:
java -version
java version "1.8.0_111"
Java(TM) SE Runtime Environment (build 1.8.0_111-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.111-b14, mixed mode)

**OS version**:
System Version:	macOS 10.12.2 (16C67)
Kernel Version:	Darwin 16.3.0

**Description of the problem including expected versus actual behavior**:

[2017-01-13 11:07] babilen commented on #21877
What exactly is consistent with what you already do? I don't quite understand what the problem is with adopting debconf for this. It would be in line with Debian policy, user expectations and it is well supported in all provisioning systems I have worked with.

[2017-01-13 11:17] mod3st commented on #21911
I understand that in the previous version of ES every thread was creating a new instance of PolishStemTokenFilterFactory and now each thread uses the same object?

[2017-01-13 11:26] mikemccand commented on #21911
Hmm, @mod3st I still see the bug in ES 2.4.x's latest sources (the same `stemmer` is shared for all calls to `PolishStemTokenFilterFactory.create`, so as far as I can tell the bug should exist in ES 2.4 as well.  Do you not see that?

https://github.com/elastic/elasticsearch/blob/2.4/plugins/analysis-stempel/src/main/java/org/elasticsearch/index/analysis/pl/PolishStemTokenFilterFactory.java#L48

[2017-01-13 11:32] mod3st commented on #21911
I understand, but I don't get any exceptions in ES 2.4.3 and I wonder why.

[2017-01-13 11:54] cherweg commented on #22544
I think I figured out my problem. My test-vM was provisioned by elastic/puppet-elasticsearch module.
The puppet module sets a **yum version lock** to the currenty installed elsticsearch version:
[code]
this leads to an empty result if you ask yum for the new Packages on command line.

thank you for your help...regards
christian

[2017-01-13 11:54] #22544 closed

[2017-01-13 11:58] #22607 closed

[2017-01-13 12:03] mayur-persistent commented on #22322
@clintongormley I have identified the file where I need to make those changes. https://github.com/elastic/elasticsearch/edit/5.1/docs/reference/api-conventions.asciidoc

Would you prefer that we show the message just below the table describing the valid  regular expression as a important note?

[2017-01-13 12:07] clintongormley commented on #22322
@mayur-persistent sounds fine - open a PR and we can iterate there

[2017-01-13 14:15] ywelsch commented on #21572
We've found the issue and fixed it in #22236 which has been released as part of ES v5.1.2. Please try the upgrade again using ES v5.1.2.

[2017-01-13 14:15] #21572 closed

[2017-01-13 14:25] s1monw commented on #22585
correct. what is your usecase for this?

[2017-01-13 14:28] s1monw commented on #22367
I am closing this for now since there is a solution

[2017-01-13 14:28] #22367 closed

[2017-01-13 14:31] s1monw commented on #22116
this might happen [here]?(https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/common/blobstore/url/URLBlobContainer.java#L105)

[2017-01-13 14:45] pkalinkina commented on #22585
Usecase for updating authorization header: I'm implementing OAuth2 and if an access token is no longer valid we have to refresh it.

[2017-01-13 14:57] dadoonet commented on #22520
I think that's a great idea. I did something similar for azure but I'm using another way to define things:

If you have only one account, you define:

[code]

Then when you create the repository, you don't need to reference which account you want to use as there is only one.

[code]

If you need multiple accounts, you explicitly set which is the default one with `default: true`:

[code]

Again, if

[2017-01-13 15:05] pkalinkina commented on #22585
Usecase for updating authorization header:
We are implementing OAuth2 with client credentials authorization flow.
We specify client credentials in Settings for `TransportClient `and  our plugin aquares token from Identity Provider, stores it and inserts token in header of each outcoming request. If token is no longer valid, it is updated via Identity Provider.
To do so, we have to be able to inter

[2017-01-13 15:15] s1monw opened #22616 "Move DeleteByQuery helper classes from reindex module to core"
today if a plugin needs DBQ functionality they include / depend on the reindex jar. This is really bad since it's not intended to be a dependency of another plugin. Yet, DBQ is useful in some situations and it can easily be used without all the request / response classes. We should have a static helper class that does all the heavy lifting for us in core and them do the exposure in the reindex mod

[2017-01-13 15:19] tbrooks8 commented on #22116
Yep. I agree that looks like a connect. Thanks. I must of missed that.

[2017-01-13 15:26] nik9000 commented on #22616
I can have a look at this, sure.

On Fri, Jan 13, 2017, 10:25 AM Clinton Gormley <notifications@github.com>
wrote:

[2017-01-13 15:44] bleskes commented on #22605
+1

[2017-01-13 15:48] jasontedor commented on #22605
+1, we discussed this in another channel yesterday and came to the same conclusion.

[2017-01-13 15:53] s1monw commented on #22585
one think I think that makes sense is to make a change like this:
[code]

that way you have the thread context in the interceptor and can set headers as you like?

[2017-01-13 16:04] vincentfretin commented on #21312
With elasticsearch 5.1.1,  "_source": { "includes":["uid"] } indeed doesn't give an error but the returned _source is actually an empty {} instead of {"uid": "8599f82f97684c72a9620f5552358b5d"} I'm waiting in my case.

[2017-01-13 18:05] Bargs commented on #22438
@clintongormley @jimczi I'm not sure #21821 fixes this. I just tried the following steps is a fresh build of ES master:

Create an index with a field that should be searchable and aggregatable based on its mapping:

[code]

[code]

Am I doing something wrong or is there a misunderstanding?

This issue is biting us in a few different ways right now:

https://github.com/elastic/kibana/issues/9571
ht

[2017-01-13 18:25] jimczi commented on #22438
#21821 is about non-searchable fields so with `index:no` in the mapping. This means that a field will be missing from the field stats output only if it doesn't exist in any of the requested indices (as doc_values, indexed or stored field).
`field_stats` is currently not able to return any information on the field if there is no document with that field in the cluster. This is a known limitation an

[2017-01-13 18:28] Bargs commented on #22438
Thanks for the clarification @jimczi, I was just confused by @clintongormley's comment above.

[2017-01-13 18:32] jimczi commented on #22438
I understand the need for Kibana to give hints to people using the UI. Like here is the list of fields that we think could work for this agg. Though it should be just an hint and user should still be able to  set a custom field if they want. We also have issues with custom field mapper that could decide to not return any `field_stats` output. So yeah `field_stats` should not be trusted always ;)

[2017-01-13 18:55] Bargs commented on #22438
Good to know! We'll try to come up with a solution in Kibana

[2017-01-13 19:37] brandond opened #22621 "Range queries do not support time_zone with epoch fields"
**Elasticsearch version**: 5.1.1

**Plugins installed**: search-guard-ssl

**JVM version**: openjdk version "1.8.0_111"

**OS version**: Amazon Linux AMI release 2016.09

**Description of the problem including expected versus actual behavior**:

The [documentation says](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-range-query.html#_time_zone_in_range_queries) that date

[2017-01-13 20:25] Gordiychuk commented on #22585
Yes, this solution will works for us. Thanks.

[2017-01-13 21:40] patrickconant commented on #16463
Thanks for the pointer to the code that performs leader election. It was useful to me in answering this question: Does leader election prefer master-only nodes to master-and-data nodes?

I was wondering whether a cluster with 1 master-only node and several master-eligible data nodes would reliably elect the master-only node as their master. The answer from the code appears to be 'no'.

It follows

[2017-01-13 21:52] jasontedor commented on #16463
Correct.

Yes, you got it, with one caveat: set `discovery.zen.minimum_master_nodes` to two.

[2017-01-13 23:52] Lifang13 commented on #17435
stilling happening 5.1.1

[2017-01-14 13:23] clintongormley commented on #22599
This is a breaking change so let's do it for 6.0 only (and deprecation logging for 5.x)

[2017-01-14 14:01] mayyamus opened #22623 "Make headers case-insensitive"
**Elasticsearch version**:all

**Plugins installed**: []

**JVM version**:all

**OS version**:all

**Description of the problem including expected versus actual behavior**:
perhaps setHeaders method can't override default header  in RestClient, because httpHeader names are case-insensitive.suggest converting  all default header and request header names to lowercase/uppercase.

![diff](https://clou

[2017-01-14 18:50] rpedela commented on #16495
I have a very similar set up to @igormasternoy on my dev machine and get a similar error. In my case, my laptop battery died and the computer shutdown automatically. When I booted, the translog was corrupted. I am using ES 2.3.3. I will be updating to the latest 2.4. Unfortunately I am not able to upgrade to 5.x yet because one of the 3rd-party plugins I use hasn't updated yet. Here an excerpt fro

[2017-01-15 03:47] jasontedor commented on #17435
Showing up and only saying something still happening is not helpful. If you think you are experiencing a bug, please open a new issue with a complete reproduction. If you are unsure or have a question, ask on the [forum](https://discuss.elastic.co). Please note that what was reported here was on a pre-production snapshot of Elasticsearch 5.0.0 before a feature was added to handle situations like t

[2017-01-15 04:13] #22605 closed

[2017-01-15 07:55] davidbkemp opened #22629 "function_score with replace boost_mode not replacing query scores of zero"
**Elasticsearch version**: 5.1.2

**Plugins installed**: []

**JVM version**: 1.8.0_92

**OS version**: OS X Yosemite 10.10.5

**Description of the problem including expected versus actual behavior**:

When performing a `function_score` query with `boost_mode` set to `replace`, the query is supposed to ignore the scores of the query component of the `function_score` query and only use the scores g

[2017-01-15 14:47] abeyad commented on #17435
I tried reproducing using the above steps and I could not get the above log messages to appear.

[2017-01-15 15:00] jpountz commented on #22621
It is not clear to me whether you are asking for a better error message or for a different behaviour? I think the only alternative would be to ignore the time zone in those cases, but it could also look trappy to some users that we allow passing a time zone just to ignore it?

[2017-01-15 15:01] jpountz commented on #22552
+1

[2017-01-15 15:21] jpountz opened #22630 "Expose BooleanSimilarity"
This similarity scores only based on query boosts and the number of matching clauses. https://github.com/apache/lucene-solr/blob/master/lucene/core/src/java/org/apache/lucene/search/similarities/BooleanSimilarity.java

[2017-01-16 04:19] hehongju opened #22632 "我想改同义词从数据库中获取 如何改"
**Elasticsearch version**:

**Plugins installed**: []

**JVM version**:

**OS version**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

[2017-01-16 05:59] dadoonet commented on #22632
Please ask your question on discuss instead.

https://discuss.elastic.co/c/in-your-native-tongue/46-category

[2017-01-16 05:59] #22632 closed

[2017-01-16 06:36] rootAmeen opened #22633 ""Visualize: Fielddata is disabled on text fields by default.""
Hi guys,
I recently started a new setup of ELK stack based on version 5.1. Everything went smoothly except for the visualization section on Kibana. Whenever I try to create something (like a visual of beat.name), I get the error message:

I'm currently using filebeat to ship all my log messages, and I've checked the official documentation and came across this link: https://www.elastic.co/guide/en/

[2017-01-16 06:52] dadoonet commented on #22633
Please ask questions on discuss.elastic.co where we can help.

[2017-01-16 06:52] #22633 closed

[2017-01-16 08:20] jimczi commented on #22629
Thanks for the bug report @davidbkemp
The bug is fixed for the next minor release 5.2:
https://github.com/elastic/elasticsearch/issues/22138

[2017-01-16 08:20] #22629 closed

[2017-01-16 08:48] karmi commented on #15674
Is there any news here? I have an issue submitted for the Ruby client (https://github.com/elastic/elasticsearch-ruby/issues/328), and would like to use the JSON specs and YAML tests for implementing the feature in the client.

[2017-01-16 09:12] javanna commented on #15674
@karmi as far as I can see spec and docs were committed, I guess this issue should have been closed. @MaineC can you comment on this?

[2017-01-16 09:29] dadoonet commented on #22301
@jbaiera ping :) Would love to have your opinion.

[2017-01-16 09:31] dadoonet commented on #21041
Closing in favor of #22567 which will take care of that.

[2017-01-16 09:31] #21041 closed

[2017-01-16 10:23] cortopy opened #22635 "Sudden loss of all indices data"
**Elasticsearch version**: 5.0.1

**Plugins installed**: []

**JVM version**: OpenJDK 1.8.0

**OS version**: Alpine Linux 3.4 / Kubernetes 1.4

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. As per the logs below, an index was created at midnight (by Logstash). This is the normal behaviour to be expected
 2. However, about four hours later, t

[2017-01-16 10:35] MaineC commented on #15674
@karmi What other than what was merged in #17382 do you need? I'd appreciate feedback from those using the feature.

[2017-01-16 10:40] javanna commented on #15674
one more thing, I wonder if the spec and rest tests should move to the mustache module, which is where the code now is.

[2017-01-16 10:41] s1monw commented on #18482
@salyh note that #22636 will remove the infrastructure you are using. it would be great to get more feedback what you are doing to make sure  we have the right extension points.

[2017-01-16 11:29] clintongormley commented on #22635
Sorry to tell you @cortopy but it looks like your ES cluster is exposed to the internet and you have been hacked. See https://www.elastic.co/blog/protecting-against-attacks-that-hold-your-data-for-ransom

[2017-01-16 11:29] #22635 closed

[2017-01-16 11:41] clintongormley commented on #22621
+1

i think the behaviour is correct as it stands

[2017-01-16 11:57] clintongormley commented on #22438
I was confused too :)  Thanks @jimczi for the clarification

[2017-01-16 14:53] s1monw commented on #22472
@clintongormley didn't we discuss this last friday, do you wanna comment?

[2017-01-16 15:38] #21911 closed

[2017-01-16 15:58] jpountz opened #22640 "MappedFieldType.rangeQuery should rewrite to an `exists` query when both bounds are open"
Queries that have both bounds open can be generated even if the user passed explicit bounds due to query rewriting. Unfortunately, queries that have both bounds open are still costly to execute, so we should look into using `exists` queries instead (or even `match_all` queries if all docs have a value for the field).

[2017-01-16 17:45] brandond commented on #22621
I understand why you would want to force epoch timestamps to only support UTC. However, at the very least a documentation update would be nice, and/or a better error message indicating that TZ cannot be used with epoch timstamps. As it currently stands, the error message does not in any way indicate the cause of failure - you have to go read a comment in the code to figure out that it's not suppor

[2017-01-16 18:50] vsizov opened #22642 "Highlight feature does not work"
I'm just following https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-highlighting.html and it does not work. I suppose I'm doing something wrong, but anyway, something has to be done about this as I just follow samples from docs.

**Elasticsearch version**:
5.1.2 and 5.0.2

**Plugins installed**: []

**JVM version**:
java version "1.8.0_66"
Java(TM) SE Runtime Environm

[2017-01-16 19:59] jimczi commented on #22642
Your query targets the `user` field and you try to highlight the `content` field. Check the `require_field_match` section which explains in details why and how a field gets highlighted:
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-highlighting.html#field-match

The forum is usually a good place for question like this, we reserve Github for bugs and feature report:

[2017-01-16 19:59] #22642 closed

[2017-01-16 20:09] s1monw commented on #18482
#22636 removed `HttpServerAdapter` this issue is obsolet

[2017-01-16 20:09] #18482 closed

[2017-01-16 20:10] benjismith opened #22644 "Mapping support for treating JSON keys as data values"
**Describe the feature**: I'd like to design an Elasticsearch schema to handle cases where JSON keys are used as data values, rather than the current mechanism, which only supports treating JSON keys as a part of the schema.

For example, I'd like to load the [Hedonometer Dataset](http://hedonometer.org/words.html) (a list of ten thousand words and their crowdsourced "happiness" scores) into a "di

[2017-01-16 20:24] rkoc opened #22645 "Cannot find empty fields ("") processed by stempel (polish analyser) using exists/missing query"
**Elasticsearch version**: 2.3.4

Cannot find empty fields ("") processed by stempel (polish analyser) using exists/missing query. I have no problems with other 'standard' or 'not_anlyzed' types.

[2017-01-16 20:59] spalger commented on #22438
That's concerning....

What Kibana should/shouldn't do is carefully considered and we disagree with you here. We think it's a better user experience if Kibana and Elasticsearch work together to determine the exact list of options that the user has available. Not a list of things that might, probably, or could work.

In order to determine this we have pushed for prs like https://github.com/elastic/

[2017-01-16 22:00] s1monw commented on #22438
this feature make not much sense to me on field stats. Field stats can't be returned if there are no documents which implies that there are no stats.  I also don't understand why the fields stats API returns mapping information at all? Why isn't this a dedicated API? Field stats is really about the inverted index and that's about it?

[2017-01-16 22:07] spalger commented on #22438
Maybe @clintongormley can remember where we discussed this, but we talked at length about making this into it's own API and compromised on this solution.

[2017-01-17 00:03] rileytg commented on #9063
wouldn't it be easier to just include this in the headers?

i solved my issue by finding this thread. having them built in kinda just makes more sense. is there a downside im not seeing?

[2017-01-17 00:14] vsizov commented on #22642
As I already said I found this sample in the official documentation. Maybe it should be addressed then?

[2017-01-17 02:55] josephDunne opened #22648 "Painless Strings do not export the getBytes() function"
**Elasticsearch version**: 5.1

**Plugins installed**: default

**JVM version**:

**OS version**: Centos 6

**Description of the problem including expected versus actual behavior**:

Painless Strings do not export the `getBytes()` method.

**Provide logs (if relevant)**:

[code]

[2017-01-17 06:22] rootAmeen commented on #22633
Hi @dadoonet. I already posted twice there but got 0 responses, that's why I thought about posting here :)

[2017-01-17 07:42] jpountz commented on #22644
That would be a huge change of how document parsing works, so I don't think we will be keen to implement this as the message we are trying to spread is rather that documents should be designed based on the queries that will be run.

By the way, are you sure you will want to index those words as nested docs? I can't tell since I'm not sure how you will leverage this dataset, but I'm wondering there

[2017-01-17 09:09] clintongormley commented on #22644
+1

The document in Elasticsearch should reflect how fields are indexed.  What you are describing is firmly in the realm of an ORM (ie application side).

[2017-01-17 09:09] #22644 closed

[2017-01-17 09:11] clintongormley commented on #22633
@rootAmeen Did you try searching?  If so you would have found this: https://github.com/elastic/elasticsearch/issues/15267#issuecomment-183746431

[2017-01-17 09:12] clintongormley commented on #22648
@jdconrad @nik9000 we seem to be getting a few requests for things like base64 encoding and hashing.  Should we consider adding support for this in Painless?

[2017-01-17 10:40] imod commented on #19415
The above dependencies do not help if I run elasticsearch (v5.1.2) embedded (we do this for testing)...

as soon as I create an index, e.g.

[code]

I get this:

[code]

[2017-01-17 11:03] colings86 opened #22650 "Correct truncate token filter docs so it doesn't confuse `keyword` analyzer with the `keyword` field type"
relevant link: https://www.elastic.co/guide/en/elasticsearch/reference/5.1/analysis-truncate-tokenfilter.html

On this page of documentation we say:
[code]

This is confusing now that we have `keyword` field types which cannot have an analyzer configured. We should change the wording to be clear we mean this is useful when using the keyword tokenizers on text fields.

[2017-01-17 11:16] #22650 closed

[2017-01-17 11:17] mvmn commented on #19415
Actually this is stated in the thread - you have to have Log4J in classpath if you use ElasticSearch (be it server or client - doesn't matter).

You can still use other logging system - but you must have Log4J stuff in your classpath (which might cause conflicts for some logging systems or classpath-detection using things like Spring Boot).

[2017-01-17 11:20] clintongormley commented on #22642
thanks @vsizov - fixed

[2017-01-17 11:23] clintongormley commented on #22645
Please provide a short but complete curl reproduction of the issue, including creating the index, specifying the mappings, indexing the docs, searching, and explain what you expected to see and what you actually see.  It will greatly help us to understand what the problem is.

[2017-01-17 11:38] clintongormley commented on #22438
I'm happy to revisit the APIs that we have.  There's get-mapping, get-field-mapping, and field-stats.  I'd like to get rid of get-field-mapping in its current form as it doesn't quite do the job.  Perhaps we need to replace get-field-mapping with the mapping aspects of field-stats, and then make field-stats JUST about the stats?

Also see https://github.com/elastic/elasticsearch/issues/5368

[2017-01-17 12:12] brackxm opened #22651 "POM for org.elasticsearch.client:x-pack-transport:jar:5.1.2 is invalid"
The POM for org.elasticsearch.client:x-pack-transport:jar:5.1.2 is invalid, preventing maven from using its transitive dependencies.

Maven issues this warning:

There is a related comment in #21435 about duplicate xml tags.

[2017-01-17 12:31] clintongormley commented on #22472
HI @scottsom

We had a long discussion about this in our FixItFriday session.  First thing to note is that any application can add filtering and custom routing on top of Elasticsearch today, so there isn't a requirement for this to be implemented in Elasticsearch.

Second, we weren't crazy about the idea of a default alias, as most people use an Elasticsearch cluster for more than one purpose.  We

[2017-01-17 12:31] #22472 closed

[2017-01-17 12:35] #11638 closed

[2017-01-17 13:33] clintongormley commented on #22651
Related https://github.com/elastic/elasticsearch/issues/21758

[2017-01-17 13:34] clintongormley commented on #22621
Agreed, a better error message would help

[2017-01-17 14:07] gmoskovicz opened #22657 "Exists filters have bad performance"
**Elasticsearch version**: Elasticsearch 5.1

**Plugins installed**: -]

**JVM version**: Any

**OS version**: Any

**Description of the problem including expected versus actual behavior**:

In 2.x the the missing query has been deprecated, and one should use and _exists query_ inside a _must_not_ clause. In 5.1 the only option is to use the exists query in a must not.

Doing some tests, i noticed

[2017-01-17 14:34] pkalinkina opened #22658 "Problem with manually specifying request headers for AbstractClient.prepareSearch()"
Hello,

Can you please give advice on the following situation:
we have a plugin that on the server side filters request via custom headers. These headers are changeable (headers for OAuth2 authentication with token expiration).  And with a previous version of elasticsearch (2.3.5) we could have a client perform a searchRequest with manually added headers that are not stored after the request is pr

[2017-01-17 14:51] #22297 closed

[2017-01-17 15:10] weiqiyiji commented on #6720
Hey, guys, is there any progress? Currently I need index-time sorting in my product, and I wonder if I can wait util you guys implement this feature or I have to do it myself first.

[2017-01-17 15:10] gmoskovicz commented on #22657
Performed another similar test.

[1] Normal `bool>must_not`

[code]

Results: from 40ms to 45ms

[2] Constant score query

[code]

Results: from 28ms to 41ms

[2] Filter>bool>must_not

[code]

Results: from 28ms to 39ms

The test was performed in an index with the following configuration in 1 node only:

[code]

[code]

[2017-01-17 15:25] roffe commented on #22221
Strange, getting the same problems but only when i store the data on a glusterfs backed storage.
If i use node local storage i don't get these errors.

[2017-01-17 15:48] mikemccand commented on #6720
There has been good progress on the Lucene side, including a change @jimczi just pushed to Lucene 6.x (https://issues.apache.org/jira/browse/LUCENE-7579) for its future 6.5.0 release, to give a big boost to indexing performance with index-time sorting.  You can see the impact of that change in the nightly sparse Lucene benchmarks: it's annotation V in this chart: https://home.apache.org/~mikemccan

[2017-01-17 15:59] clintongormley commented on #22657
@jpountz it looks like the implicit `match_all` is scoring docs, which is taking the majority of the time.  Could this be improved by disabling scoring?

I assume that most of the cost is building the bitset for all docs minus those which have the field.

[2017-01-17 16:35] jdconrad commented on #22648
hashCode is included as part of the existing String and anything else that extends Object right now (so any class that is introduces non-static methods/members).  I'm hesitant to introduce the getBytes method on String simply because of the character set implications without knowing more about the specific use case.  You can get the codepoints for a String right now using  ```int codePointAt(int)`

[2017-01-17 16:45] nik9000 commented on #22648
I'm happy to add something for base64 encoding. If we don't want to add support for getBytes we can use that.

[2017-01-17 16:49] jdconrad commented on #22648
I'm fine with adding base64 encoding.

[2017-01-17 16:59] weiqiyiji commented on #6720
@mikemccand Ok, I'll watch this issue first. Thanks!

[2017-01-17 17:10] CarlEklof commented on #21377
Unix sockets are a very simple (thus reliable) way of enforcing security in a wide variety of situations. The utility of this is rapidly increasing. The number of cores per machine is making clustering across machines less and less necessary, and there are huge incentives to centralize (performance, simplicity of code and administration). If you don't HAVE to form a cluster, you absolutely, positi

[2017-01-17 17:16] jpountz commented on #22657
The long timing for scoring on the `match_all` query is not the cause of the problem but rather a side-effect: this query is mostly slow because it matches lots of documents. The reason is that we have to visit all matching documents in order to compute the total hit count and the top hits. We do indeed score, but if you look at the timings, it is not the bottleneck: we spend a similar amount of t

[2017-01-17 17:21] gmoskovicz commented on #22657
@jpountz @clintongormley

I opened this issue not only to see if we can do something to speed up this, but also to maybe think about a documentation change to make sure that everyone does an `exists` wrapped by a `constant_score`. That is what it gives the best results.

Also, visiting all the documents doesn't make any sense as when using `exists` we usually don't want the top documents, but just

[2017-01-17 18:02] aravindputrevu commented on #22630
Can i work on that ? @clintongormley  @jpountz

[2017-01-17 18:19] jpountz commented on #22630
@aravindputrevu Sure, feel free to work an a PR and ping me if you need help. You can look at how other similarities are plugged in to get started.

[2017-01-17 18:25] jpountz commented on #22657
Docs already mention that filters are preferable to queries when scores do not matter, so I think we are good from that perspective? The `exists` query is not different from other queries.

Additionally I'm wondering that the speedup that you saw with `constant_score` wrapping might be due to the fact the query gets cached rather than because scores are not computed?

True, but even in that case w

[2017-01-17 18:59] garakelian commented on #2661
@kimchy @nik9000 I came across this thread while researching bulk api requests format. It's worth mentioning here that [bulk api documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html) doesn't mention that request/response are correlated by index order.  Would you mind adding that as an API guarantee?

I use in ES a production environment which indexes hundre

[2017-01-17 19:05] jasontedor commented on #2661
@garakelian I believe that's covered [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/_batch_processing.html):

[2017-01-17 19:14] garakelian commented on #2661
@jasontedor Thanks for quick reply. I missed that page, thank you. Do you know if a PR request would be welcomed to update the documentation on the other page I referenced, to at least point to this page, and/or add the note about the index name being different on the reply when aliases are being used.

[2017-01-17 19:26] jasontedor commented on #2661
An update to the bulk API documentation that you referenced would be welcomed (I would prefer explicitly mentioning the API guarantee that we provide, rather than linking elsewhere in our docs).

As for the response when indexing using an alias, I think that is covered in the alias docs (if it's not, it should be here), but I don't think that the bulk API docs are the right place (should be more g

[2017-01-17 19:32] garakelian commented on #2661
@jasontedor Sure. I'll submit a PR based on your suggestion... Thanks.

[2017-01-17 19:34] jasontedor commented on #2661
Thank you @garakelian.

[2017-01-17 20:23] blkbltjns commented on #13648
Any word on this issue?

[2017-01-17 21:49] rjernst commented on #22651
Fixed with #22664

[2017-01-17 21:49] #22651 closed

[2017-01-17 22:14] rjernst commented on #22520
I don't like having a flag, as this requires validation code to ensure two accounts were not set with `default: true`. I think a special name is just fine.

I also don't like having to use special characters. I don't see any reason the special configuration name `default` can't be used.

[2017-01-18 07:18] dadoonet commented on #22520
I'm ok with your way of doing it. Just saying that I want to be consistent across plugins so I will move azure to use the same kind of "global" configuration which can be referenced then later.

Well. It's just a way to make sure and clearly identify what are reserved words.
Like what we have in the rest of elasticsearch. `_all` field is not `all` field.
`GET index/_search` instead of `GET index/s

[2017-01-18 07:51] #21585 closed

[2017-01-18 08:28] #21473 closed

[2017-01-18 10:23] clintongormley opened #22670 "Date rounding should include hours"
In the following range query:

              "gte": "now/d",
              "lte": "now/d"

The `gte` value would be (eg) `2017-01-18 00:00:00`  and the `lte` value would be `2017-01-18 23:59:59`.

However, the rounding should not be based solely on the `now/d` but should include other adjustments, eg:

              "gte": "now/d+1h",
              "lte": "now/d+2h"

The `gte` value is as expected

[2017-01-18 10:41] Gordiychuk opened #22671 "Dependency on org.apache.logging.log4j:log4j-api can't be optional"
Dependency on transport client not enough for use transport client.

[code]

[code]

Dependency tree for transport client looks like

[code]

As you can see, optional dependency on log4j absent and as a result, we can't use transport client without add manually dependency on log4j-api.

Let's change line https://github.com/elastic/elasticsearch/blob/master/core/build.gradle#L84
from
[code]
to
[cod

[2017-01-18 10:56] makeyang opened #22672 "conflicts with existing mapping in other types:"
**Elasticsearch version**:
2.1
**Plugins installed**: []
delete-by-query
elasticsearch-analysis-ik
repository-hdfs
**JVM version**:
8u60
**OS version**:
CentOS release 6.6 (Final)
**Description of the problem including expected versus actual behavior**:
server keep throw below exceptions:

[code]

**Steps to reproduce:**
I checked the code complete and it turns out it really hard to reproduce this

[2017-01-18 11:19] deerawan opened #22676 "org.elasticsearch.ElasticsearchParseException: No processor type exists with name "my plugin name""
**Elasticsearch version**: 5.0.0

**Plugins installed**: my custom processor plugin

**JVM version**: 1.8.0_111

**OS version**: OSX El Capitan

**Description of the problem including expected versus actual behavior**:
1. I created my custom processor plugin with name "tax_date"
2. I installed it using `elasticsearch-plugin install` command
3. I removed the plugin using `elasticsearch-remove` comm

[2017-01-18 11:21] clintongormley commented on #22676
You have provided zero information about your custom plugin, where the problem seems to reside.

Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2017-01-18 11:21] #22676 closed

[2017-01-18 11:27] makeyang commented on #22672
just a thought:
1. when update mapping route to a master and before it is publishing to all data nodes, network partition happens
2. new master is elected and another update mapping route to new master.
3. this 2 mapping has conflict
4. when old master come back and it tried to rejoin the cluster, will this cause this exception?
I'll try it tomorrow.

[2017-01-18 12:13] jasontedor commented on #22671
I don't think this is right, I think you can use a bridge to SLF4J and use another logging framework. And if that's not right, we should make it right instead of making this dependency non-optional.

[2017-01-18 12:46] Gordiychuk commented on #22671
Yes, we can, but bridge uses as implementation for API.
[code]
I want to save dependency on implementation as optional. In dependency tree will exists only log4j-api, and it allow user specify which implementation use bridge over slf4j or log4j.

[code]

[2017-01-18 12:47] Gordiychuk commented on #22671
@jasontedor do you want replace inside elasticsearch logging from log4j to slf4j?

[2017-01-18 12:58] javanna commented on #22658
Headers can still be set per request as follows, but we changed how that can be done:

[code]

[2017-01-18 12:58] #22658 closed

[2017-01-18 13:28] rajasekaran07 commented on #17637
Still I am seeing this issue.

I am using elasticsearch 5.1.1 and java 1.8

when i am trying to install license plugin i am getting below message.

root@treselle-VirtualBox:/usr/share/elasticsearch# bin/elasticsearch-plugin install https://download.elastic.co/elasticsearch/release/org/elasticsearch/plugin/marvel-agent/2.4.4/marvel-agent-2.4.4.zip
-> Downloading https://download.elastic.co/elastics

[2017-01-18 13:39] dadoonet commented on #17637
@rajasekaran07 Ask questions on discuss.elastic.co.

Marvel 2.4.4 is not compatible with elasticsearch 5.x. Read about x-pack now.

[2017-01-18 13:56] javanna commented on #17593
These headers are printed out as part of the response body already, I don't think there's any need to send them back as response headers too. They were introduced to prevent having to add custom exceptions to our codebase whenever we need to throw an exception that has to hold some additional metadata that ElasticsearchException doesn't support. Maybe the headers naming should be changed as well t

[2017-01-18 14:27] rajasekaran07 commented on #17637
@dadoonet thanks for your response may I know how to get access logs for my elasticsearch.

Regards,
Raja

[2017-01-18 15:01] dadoonet commented on #17637
@rajasekaran07 Ask questions on discuss.elastic.co.

[2017-01-18 15:02] jasontedor commented on #22671
This works for me, this is an example using logback instead of Log4j 2, and the Log4j 2 dependency is not on the classpath, just the bridge. I think this establishes the dependency is not required, and we definitely do not want to make it required.

`build.gradle`:

[code]

`settings.gradle`:

[code]

`src/main/java/me/tedor/jason/transport_client_example/TransportClientExample.java`:

[code]

`sr

[2017-01-18 15:02] #22671 closed

[2017-01-18 15:04] jasontedor commented on #22671
No, that's not going to happen. It's simpler for the server to support exactly one logging framework, and I do not like abstraction layers that do not let you take advantage of the preferred underlying implementation (you have to code to the lowest common denominator).

[2017-01-18 19:49] gmoskovicz commented on #22566
@tlrx @dadoonet what do you think? Any advice here?

Thank you!

[2017-01-18 19:57] Gordiychuk commented on #22671
Ok, i agree it works. But if we check dependency list for `org.apache.logging.log4j:log4j-to-slf4j` we will find in list `org.apache.logging.log4j:log4j-api`. API jar in dependency list allow us not fail with `ClassNotFoundException`, and if user not add implementation to dependency list we will get warning, but code will still work.
I thinks optional dependency, it's dependency without that code

[2017-01-18 20:18] #21448 closed

[2017-01-18 20:18] #22435 closed

[2017-01-18 21:07] animageofmine opened #22683 "Add option to disable source logging for search slow log"
**Describe the feature**:
Details in this thread: https://discuss.elastic.co/t/turn-off-source-for-slow-logs/71182

As far as I know, there is an option to disable source logging for indexing logs, however there is no way to disable source logging for search logs. We are right now logging indexing and search slow logs to fetch latency for both search and indexing queries.

Example
The following ex

[2017-01-18 23:17] aadicodes opened #22684 "X-Pack Monitoring - Index info is cached and is not updated."
**Elasticsearch version**: Version: 5.1.2, Build: c8c4c16/2017-01-11T20:18:39.146Z, JVM: 1.8.0_102

**Plugins installed**: []
Plugins directory: /usr/share/elasticsearch/plugins
discovery-ec2
- Plugin information:
Name: discovery-ec2
Description: The EC2 discovery plugin allows to use AWS API for the unicast discovery mechanism.
Version: 5.1.2
 * Classname: org.elasticsearch.plugin.discovery.ec2.E

[2017-01-19 01:15] animageofmine commented on #22683
I was able to dig a little more into code and test it on my local box. The change seems to be working, hence I sent out a PR. Can someone please take a look?

[2017-01-19 03:53] tbrooks8 commented on #22116
I've looked into what is involved in moving `URLRepository` to a module. It looks pretty straightforward to me to move just `URLRepository`.

@s1monw suggested that I move both of the core `Repository` classes (`URLRepository` and `FsRepository`). Unfortunately moving `FsRepository` looks more complicated. `MockRepository` extends `FsRepository`. The following core tests use `MockRepository`:

- `

[2017-01-19 03:59] makeyang commented on #22672
I try this and it is still no reproduce. can anybody provide anything?

[2017-01-19 08:13] bleskes commented on #22672
@makeyang can you share a bit more context? is this a cluster with dedicated master nodes? is this an old index (created with <1.x code). Since this is an initializing primary, it seems something happened before - was the cluster restarted? is this a restore from a snapshot? any networking issues?

[2017-01-19 09:55] clintongormley opened #22686 "`index.store.preload` not present in default index settings or cluster settings"
The `index.store.preload` setting, which can be set at node level or index level, is not visible in the default settings for either the cluster or the index:

    PUT my_index

    GET my_index/_settings?include_defaults&flat_settings
    GET _cluster/settings?include_defaults&flat_settings

[2017-01-19 10:02] makeyang commented on #22672
@bleskes
1. no, it's not a cluster with dedicated master nodes. master&data nodes are integrated together with seperate gateway node. it's 3 data&master integrated nodes with 4 dedicated gateway nodes.
2. no, it's not an old index. the index was created & maintained in the same cluster and the cluster version is 2.1
3. we update conflict mapping by not knowing why and then we found out that some s

[2017-01-19 11:20] ywelsch commented on #18935
Closed by #22669. The docs will be updated once we have moved our builds to use Gradle 3.x and feel comfortable removing support for 2.13.

[2017-01-19 13:47] wallecnik opened #22689 "Running integration tests with testing framework requires java.lang.RuntimePermission"
**Elasticsearch version**: 5.1.2

**Plugins installed**: none

**JVM version**: openjdk version "1.8.0_66"

**OS version**: MacOS Sierra 10.12.2

**Description of the problem including expected versus actual behavior**:

We are currently in process of migrating to ES v5. Before we were running on 2.1.1. We have some ESIntegration tests which are using java testing framework. If i try to run simple

[2017-01-19 13:51] wenthywang opened #22690 "updatebyquery is not support?"
just upgrape 5.1.2,found updatebyquery is not support,dont know why,
I found the script is changed,so update failed. don know how to fix it ,because the API without the update by query,but has the deletebyquery. please tell me why how to fix it...thank you

[2017-01-19 14:17] patrick-oyst commented on #12366
Bump, this is proving to be an extremely tedious (non) feature to work around.

[2017-01-19 14:26] nik9000 commented on #22690
`_update_by_query` is shipped in a module with Elasticsearch. If you are using the transport client have a look at the documentation for [`_delete_by_query`](https://www.elastic.co/guide/en/elasticsearch/client/java-api/current/java-docs-delete-by-query.html) which uses the same pattern as `_update_by_query`. If not, look [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-

[2017-01-19 14:31] #22648 closed

[2017-01-19 15:01] patrick-oyst commented on #12366
I've found a way around this but it comes at a cost. It could be worth it for those like me who are in a situation where intervening directly on your data flow (like checking and fixing the log line yourself before sending it to ES) is something you'd like to avoid in the short term. Set your object's `enabled` setting to `false`. This will make the fields non searchable though. This isn't too big

[2017-01-19 15:12] pkalinkina opened #22692 "Turn off Security Manager if not possible to wrap code in doPrivileged()` block."
Hello,

In the current version of elasticsearch, the ability to turn off `Security Manager` via is removed and all permissions have to be directly stated in plugin-security.policy file.
But for our plugin we use a third party library that runs background threads (caffeine cache), and we get a security exception.

Do we still have the ability to turn off `Security Manager` somehow? Because we don't

[2017-01-19 15:13] jasontedor commented on #22692
No.

You can grant the permission globally. That is at your own risk though.

Please ask additional questions on the [forum](https://discuss.elastic.co); Elastic reserves GitHub for verified bug reports and feature requests.

[2017-01-19 15:13] #22692 closed

[2017-01-19 15:15] jasontedor commented on #22692
If you do open a topic on the forum, please link to it here (and provide a full stack trace of the situation).

[2017-01-19 15:38] s1monw commented on #22116
ok I think we start with URLRepository and take it from there? I didn't see how much FSRepo was involved here so sorry for pushing that direction. The cleanups would be nice but lets focus on the connect/accept permissions for now.

[2017-01-19 15:52] ywelsch commented on #22672
This is a bug in the mapping code. I've got a simple reproduction on a single-node 2.1.0 cluster:

[code]

Then restart the node and see it fail recovering. If it does not fail the first time, restart a few more times, the failure depends on the order in which type mappings are applied, which is somewhat non-deterministic (hashmaps).

The issue is that the mapping ends up with conflicting values f

[2017-01-19 15:53] jarlelin commented on #12366
Thats a good trick. Ill try that out.

On 19 Jan 2017 16:01, "patrick-oyst" <notifications@github.com> wrote:

[2017-01-19 16:19] jinnko commented on #12963
This is the script we've used.  It's nothing special, simply a loop to get a list of indices, open the closed ones and wait for them to complete being verified or re-routed, then close them again.

https://gist.github.com/jinnko/78072a77c8302390ff0830963492e9f4

[2017-01-19 17:05] chandlermelton commented on #12963
Thanks guys!

[2017-01-19 18:13] maddin2016 commented on #22670
Hey @clintongormley, what the label `adoptme` means? Maybe to start to contribute to elasticsearch?

[2017-01-19 18:17] maddin2016 commented on #22670
@dadoonet, thanks 👍

[2017-01-19 18:49] maddin2016 commented on #22670
Sounds good. To understand it correctly outputs should be
[code]

[2017-01-19 18:53] joniba commented on #20899
@jasontedor the referenced [docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/windows.html#windows-service) do not contain the quoted paragraph about thread stack size. I think it's somewhat discouraging that non-java people running on windows need to sift through github issues just to try to start elastic for the very first time.

I'm sure it's all very clear to those that are flu

[2017-01-19 18:56] jasontedor commented on #20899
@joniba That's because we ship with thread stack size settings in the default jvm.options file now, you'll see this in the latest versions of the packages. Because of this, the note in question has been moved to a different [page](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/setup.html) of the docs as it now pertains to *all* installations.

[2017-01-19 19:00] jasontedor commented on #20899
The point is, we recognize the pain that was here and are trying to make it easier.

Relates #21920

[2017-01-19 19:14] joniba commented on #20899
Sorry if I'm being a pain but the page you linked also does not mention setting -Xss1m in the jvm.options. I don't understand why there isn't a simple note somewhere, at least for windows users (or which ones need to set this? I didn't get it) to set this variable.

[2017-01-19 19:18] jasontedor commented on #20899
As I mentioned, you do not need to set it anymore with the default jvm.options file that ships with Elasticsearch starting in version 5.1.1 (the latest is 5.1.2). The note on the page that I linked to says:

This is because the default jvm.options that we ship with works on all platforms *except* those that have a 32-bit client JVM (exceedingly rare these days). The stack size in the jvm.options a

[2017-01-19 19:22] joniba commented on #20899
Hmm I'm on 5.0.0 and getting the thread stack size error. I only downloaded it yesterday. Weird. Downloading 5.1.2 now.

[2017-01-19 19:23] jasontedor commented on #20899
That's because the change to ship with a default was only introduced in 5.1.1.

You will not have this specific problem with that package.

[2017-01-19 20:58] #8686 closed

[2017-01-19 21:19] hogbinj commented on #19345
However it makes removing fields in an attachment array difficult there seems to be a limit of only one foreach in a Processors pipeline

[https://discuss.elastic.co/t/tuning-attachment-ingest-with-arrays-get-rid-of-the-raw-data/72220](url)

[2017-01-19 21:45] talevy commented on #19345
@hogbinj a little confused what to you mean. Here is a sample Simulate API request that runs a pipeline with multiple foreach processors

[code]

[2017-01-19 22:07] animageofmine commented on #22683
@abeyad Would you mind taking a look or redirecting this to the right person? Thank you for your help!

[2017-01-19 22:19] trejkaz opened #22705 "Fill in missing Javadoc"
Many classes or methods in Elasticsearch are missing Javadoc.

Someone should probably go through and fill in the missing documentation. I believe there are javac warnings which can be turned on so that forgetting to document things becomes more visible.

As far as wanting to know anything in particular, this request is more the result of multiple days of trying to upgrade Elasticsearch 2 code to

[2017-01-19 22:20] hogbinj commented on #19345
You cant do that in elastic cloud.

Kibana only allows one foreach

![image](https://cloud.githubusercontent.com/assets/6162120/22127788/72b6cdde-de95-11e6-8544-d1100f6ee1dc.png)

[2017-01-19 22:26] talevy commented on #19345
ah, that is because there is a missing closing brace before that second `foreach`

[2017-01-19 22:35] hogbinj commented on #19345
OK now the pipeline is correct syntax as Kibana takes it, although sense or DevTools is still throwing an error HOWEVER.....
![image](https://cloud.githubusercontent.com/assets/6162120/22128192/4ea2943a-de97-11e6-84cf-ab08a9767b68.png)

When I ingest data through the pipeline I've lost the whole attachment field. not just the data field

![image](https://cloud.githubusercontent.com/assets/6162120/

[2017-01-19 22:38] hogbinj commented on #19345
Arrrgghh! Curly Bracket hell!!  Working now.  Thank you so much.  Needed one more closing bracket

![image](https://cloud.githubusercontent.com/assets/6162120/22128342/f947a63c-de97-11e6-9ea6-49eae1f284d1.png)

[2017-01-19 22:40] trejkaz opened #22707 "Introduce a better deprecation policy"
From Elasticsearch 2 to Elasticsearch 5 (which really is only one major version up), many methods and classes were removed without warning.

As someone who is currently updating existing Elasticsearch 2 code to Elasticsearch 5, I am finding the current lack of a policy to be extremely difficult to work with.

The [documentation we did get](https://www.elastic.co/guide/en/elasticsearch/reference/cu

[2017-01-20 00:18] talevy commented on #19345
sweet! happy to hear it all worked out!

[2017-01-20 01:01] rjernst commented on #22520
It's not really a reserved word though. It is just the the default configuration name when reading the `config` setting in repository settings.

[2017-01-20 02:55] hellwen commented on #9293
How to show in Kibana?

[2017-01-20 03:11] lanegg opened #22708 "how to get the 'valid doc total' by _stats?"
GET /_stats
result:
"primaries": {
        "docs": {
          "count": 32,
          "deleted": 70
        },

deleted > count

Q1: How is the deleted calculated?
Q2: How is the 'valid doc total' calculated?

[2017-01-20 03:12] wenthywang commented on #22690
thank you....

[2017-01-20 03:17] jasontedor commented on #22708
As explained in the issue template, GitHub is reserved for bug reports and feature requests. The best place to ask a general question is at the Elastic Discourse forums at https://discuss.elastic.co.

[2017-01-20 03:17] #22708 closed

[2017-01-20 07:16] dadoonet commented on #22520
Then, let's do something like:

[code]

Or something along those lines?
We can define that `aws.default` default value is `default` which allows your way of writing the settings:

[code]

[2017-01-20 07:50] javanna commented on #22705
This has drastically improved in the last years and months. I am pretty happy with where we stand as  we had almost no javadocs 4 years ago. We are much more diligent now about adding javadocs to public methods whenever we add them or touch existing ones, also enforcing that habit as part of the review process.

But there is a distinction to make between internal code and public api. I sense that

[2017-01-20 07:50] dadoonet commented on #22707
@trejkaz The fact is that there has never been a clear separation between elasticsearch the server and the client. All are coming from the same JAR.
So basically a contract has never been defined with java users about what is part of the client or what is not or what is shared by both of them.

I'm sure that all the efforts the team is doing ATM to write a [High Level REST client](https://github.c

[2017-01-20 07:56] dadoonet commented on #22705
Related also to discussion happening on #22707, so I'm cross linking...

[2017-01-20 07:59] trejkaz commented on #22705
Certainly it was Java API, buuut then again where else would one find Javadoc?

[2017-01-20 08:01] trejkaz commented on #22707
A REST client would resolve the other main beef I have with the API, which is that all I really wanted to do is update Lucene to v6... but then the dependency clashed, so I had to upgrade Elasticsearch... and now I'm in a mess.

[2017-01-20 08:08] trejkaz commented on #22707
Actually, I should probably say, we have some amount of plugin code as well, and I have been seeing similar things going on over there. Randomly a class or a field will disappear... and I'll read the breaking changes and there won't be any mention of it. I think that 90% of the changes I've had to do, I found the thing to do by digging up the commit from the git history of elasticsearch to find ot

[2017-01-20 08:20] dadoonet commented on #22707
The main difference IMO is that Elasticsearch is not a library but a server. You are considering it here as a framework or a library.
Not the case.

Plugins needs to have a better contract probably as for now you can use whatever class you want from elasticsearch (the server). Like String utils class...
That's why you have this feeling I think.

[2017-01-20 10:02] aravindputrevu commented on #22630
@jpountz  How to build the source ? i installed the latest Gradle plugin and using Intellij !
BTW there are many modules which module should i build ?

Thanks in advance.

[2017-01-20 10:20] clintongormley commented on #22705
You do know that we accept PRs?

Closing in favour of #22707

[2017-01-20 10:20] #22705 closed

[2017-01-20 11:12] clintongormley commented on #22670
Discussed in FixItFriday.  We've decided that we want to keep the `lte` adjustment and to fix it to follow the following rules:

* `lte` adjustment only happens if rounding appears in the date math expression, eg `now/d` or `2017-01-01 14:53:12||/h`
* Rounding is implemented as a floor operation on the date, using the specified unit
* Then, any other calculations are applied (eg `+2h +10m`)  etc
*

[2017-01-20 11:38] karmi commented on #15674
@MaineC, sorry, I have overlooked the #17382 issue, seeing it now!

[2017-01-20 11:38] karmi commented on #15674
@HonzaKral, should we close this?

[2017-01-20 13:59] javanna commented on #22705
Java api is a subset of our codebase. Can you point out what you struggled with and where you would like to see javadocs specifically? Everywhere would be good, but if you had to choose some specific places where it is missing?

[2017-01-20 14:08] joniba commented on #20899
Yes 5.1.2 worked more or less out of the box, thanks.

[2017-01-20 14:17] javanna commented on #22707
We have been working on clarifying the plugins api, as opposed to allowing plugins to extend pretty much anything. That has already improved a lot and allows us to break much less stuff for plugins. We also introduced the `breaking-java` label to highlight breaking changes for plugins.

As for the java api problems, we do have a low level REST client that doesn't depend on elasticsearch, but you n

[2017-01-20 14:56] gmoskovicz commented on #22162
Also, it would be great to provide some examples on how to works with dates. Dates are useful and many people would need to know how to deal with this.

[2017-01-20 15:15] iJoyCode opened #22719 "Got corrupted indices on kubernetes"
Hello, if I use `hostPath` as volume storage in kubernetes, then I receive this error in log. If I use `emptyDir` storage, then no any problems.

Any ideas? I can attach my deployment file, if someone needed.

[code]

[2017-01-20 15:21] clintongormley commented on #22357
@sicarrots you're using a category context but then querying the completion suggester without specifying a context.  I've seen this cause very slow suggestions.  I think, in this case, that the suggester has to be run once for every context value (and I'm guessing you have a lot of them), which is causing this slow performance.

[2017-01-20 15:21] clintongormley commented on #22357
/cc @mikemccand @areek

[2017-01-20 15:51] clintongormley commented on #9669
Discussed in FixItFriday - we should allow the requestor to specify a custom header (eg `X-Opaque-ID`) which is then logged in the search and index slow logs.

[2017-01-20 15:53] #22169 closed

[2017-01-20 15:55] kjussakov commented on #19415
Anyone managed to run the 5.* version of the TransportClient in Spring Boot/Spring IO Platform application?
If so, please share how you managed to resolve the dependency conflicts.
For me, it is either `ClassNotFoundException` for `org.apache.logging.log4j.core.config.Configurator` when log4j-core is not added as a dependency or `SLF4JLoggerContext` cannot be cast to `org.apache.logging.log4j.core

[2017-01-20 16:06] gmoskovicz opened #22720 "Enhance painless documentation"
We state that painless is similar than Groovy, but to be fair most of the code that you paste from groovy will need to be modified in order to work with this new language.

One simple example is the following that works in Groovy but not in Painless:

[code]

Now, this could be translated into the following:

[code]

Also, looks like `joda.time.DateTime` cannot be used, and there is no clear expla