[2019-03-12 20:13] polyfractal commented on #39957
Oops, you're right. ++

I was thinking we'd return the whole geo bucket object and allow the user to get the key or hash from that.  But I confused myself when writing it up, and I'm not entirely sure that's a viable option either :)

It's a similar for other complex objects too.  A user wanting to use a stats or percentiles agg has to request all the relevant stats/percentiles as different paths,

[2019-03-12 20:45] benwtrent commented on #39974
Did some local testing, it turns out that `getValueAsString()` works just for letting a field be indexed into a `date` mapping type. But, we cannot do that for all results as the document `_source` would look incorrect if the user was expecting a numerical value in the field. For  `NumericMetricsAggregation.SingleValue` results, we need to determine if we want a string or a number before indexing.

[2019-03-12 20:54] jdrossl opened #39979 "Include a third highlight encoder"
**Describe the feature**:

When using a field configured to use the `html_strip` char filter, it would be really useful to have a highlight encoder that also removes the html tags to provide only clean text.

Current result with `html` encoder:

[code]

Expected result with the new encoder:

[code]

There is so many people asking about this online and it could be a really simple solution instead o

[2019-03-12 21:00] talevy commented on #39957
Zach and I spoke off-github and came to the conclusion that we think a good starting place is to explore adding support for String-valued parameters for bucket-scripts and expose a new special accessor called `_key_as_string`.

Then the accessor scope to buckets would be one-to-one with the Bucket interface's (getKey, getKeyAsString, getDocCount)

[2019-03-12 21:32] andyb-elastic opened #39980 "[CI] MonitoringBulkRequestTests.testAddRequestContent"
This reproduces, may have been caused by https://github.com/elastic/elasticsearch/pull/39888

On master

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/872/console

On 7.x

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java11,nodes=immutable&&linux&&docker/68/console

[build-periodic-7.x

[2019-03-12 21:32] elasticmachine commented on #39980
Pinging @elastic/es-core-features

[2019-03-13 00:03] geekpete commented on #27889
I think the ask is to be able to dynamically change the alias for a particular index within the reindex operation for each of the indices, either with an extra parameter (eg "copy_aliases" or "move_aliases") or with scripting.

It is possible if using two steps, first a reindex then second with an alias change via alias api, but probably not dynamically across a set of indices without an external

[2019-03-13 01:04] andyb-elastic opened #39981 "[CI] search/180_locale_dependent_mapping/Test Index and Search locale dependent mappings / dates"
Failed in a couple periodic builds today, looks like they're all on FIPS but that may just be coincidence

* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8fips,nodes=immutable&&linux&&docker/294/console
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=ja

[2019-03-13 01:04] elasticmachine commented on #39981
Pinging @elastic/es-search

[2019-03-13 02:19] andyb-elastic opened #39982 "[CI] :x-pack:qa:rolling-upgrade failed to obtain in-memory shard lock"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.6+multijob-unix-compatibility/os=ubuntu-16.04&&immutable/167/console

[code]

The log of `v5.6.16#twoThirdsUpgradedTestCluster node0` is full of
[code]

I did not see anything interesting in the other nodes' logs
[log-files.tar.gz](https://github.com/elastic/elasticsearch/files/2959482/log-files.tar.gz)

I originally thought this may

[2019-03-13 02:19] elasticmachine commented on #39982
Pinging @elastic/es-distributed

[2019-03-13 02:27] panchen66 commented on #39946
My fault, I found that the service handle exhaustion caused this problem.

[2019-03-13 02:27] #39946 closed

[2019-03-13 05:44] srirama-rayaprolu opened #39985 "Single Node Cluster Not Comingup"
In my local elastic setup, if I set the setting
`discovery.zen.ping.multicast.enabled: false`
Elastic is not coming up.

After checking https://github.com/elastic/elasticsearch/issues/22909, I removed the setting.

Now, how to make the single node cluster?
Below are my elasticsearch.yml contents.
[code]
If try to access any index with out cluster.name appended it is working.
However if I append it

[2019-03-13 05:53] original-brownbear commented on #39658
@jaymode

Maybe just the `generic` thread pool is fine here? It seems limits are probably not necessarily needed since we get the limiting of the `write` pool in this scenario indirectly anyway?

[2019-03-13 06:27] tvernum commented on #39658
The only concern I have is that in a typical deployment, most requests will have successful authentication using cached credentials, and won't be auditing on `authentication_success`.

If we simply switch to a different thread before authentication, it in effect means that every rest request will incur an unnecessary thread switch (which to the best of my knowledge, we try avoid in the general cas

[2019-03-13 07:34] jkakavas commented on #39981
and FIPS 140 JVMs are unfortunately [not](https://github.com/elastic/elasticsearch/issues/31724) a [coincidence](https://github.com/elastic/elasticsearch/issues/33081)

As we figured out in https://github.com/elastic/elasticsearch/issues/39855, the `integTestCluster`s started to run with FIPS JVMs recently and this is why this came up only now. I will resolve this in a similar way as in https://gi

[2019-03-13 07:35] elasticmachine commented on #39981
Pinging @elastic/es-security

[2019-03-13 07:36] elasticmachine commented on #39979
Pinging @elastic/es-search

[2019-03-13 07:42] elasticmachine commented on #39977
Pinging @elastic/es-core-infra

[2019-03-13 07:44] henningandersen commented on #36282
@nik9000 do you still want to provide a change for this?

[2019-03-13 07:52] elasticmachine commented on #36282
Pinging @elastic/es-security

[2019-03-13 07:55] elasticmachine commented on #26280
Pinging @elastic/es-docs

[2019-03-13 08:05] henningandersen commented on #26280
@nik9000 maybe you want to pick this up?

[2019-03-13 08:10] ywelsch commented on #10793
+1 as well for closing this issue. Restarting nodes is something that will naturally have to happen in a cluster anyway (e.g. rolling upgrades) and repurposing nodes should be a rather rare event. In addition to what @andrershov and @DaveCTurner have said, I also want to point out that we have taken steps to address the following (quoting myself):

In #37748 and #37347 we have come up with stricte

[2019-03-13 08:10] #10793 closed

[2019-03-13 08:13] #39702 closed

[2019-03-13 08:22] ywelsch commented on #32027
I checked all the logs on this and cannot see why the replica is not being allocated, even after 70 seconds. Beside running this with TRACE logging (which is tricky as it means running all tests with TRACE logging), I wonder if we should extend `ensureGreen` in `ESTestTestCase` similar to how we do it in `ESIntegTestCase`, by querying the cluster state and possibly the allocation explain API for t

[2019-03-13 08:36] ywelsch commented on #37286
I think we can treat this in a similar way as shard corruptions, for which we currently have a command-line tool. We could do a best-effort recovery of the metadata, with plenty of warnings. I don't think we should do this automatically at startup, however, but require an explicit administrative step. I also think that there are two levels of severeness here: master-eligible or non-master-eligible

[2019-03-13 08:47] jkakavas commented on #39981
It looks like there might be an issue with the `E, d MMM yyyy HH:mm:ss Z` format and the Java 8, judging from
https://github.com/elastic/elasticsearch/blob/daa2ec8a605d385a65b9ab3e89d016b3fd0dffe2/server/src/test/java/org/elasticsearch/index/mapper/DateFieldMapperTests.java#L223:L224 and as such this is not fips specific, but rather java 8 specific. @spinscale can maybe share some insights about `

[2019-03-13 09:40] DaveCTurner commented on #39985
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/) that s

[2019-03-13 09:40] #39985 closed

[2019-03-13 09:46] dnhatn commented on #32027
+1. I will do this.

[2019-03-13 09:47] srirama-rayaprolu commented on #39985
Ok. I have created discussion and sharing link here for informational purpose, https://discuss.elastic.co/t/single-node-cluster/172095

[2019-03-13 09:58] jimczi commented on #39979
I don't think this is the role of an encoder to remove the html tags. Encoders can be use to escape text for HTML output but removing the tags is out of the scope of this class IMO. The `html_strip` filter does not change the original text so I wonder if it could be useful to provide this filter as an [ingest processor](https://www.elastic.co/guide/en/elasticsearch/reference/master/ingest-processo

[2019-03-13 10:33] #39963 closed

[2019-03-13 10:34] fholzer commented on #28232
Hi,

actually the deprecation warning is emitted whenever a pipeline is changed, even if that specific pipeline doesn't make use of the soon-to-be deprecated feature. See elastic/elasticsearch-perl#147

We observe the same behavior on our ES 6.5.4 cluster.

Cheers,
Ferdinand

[2019-03-13 11:33] astefan commented on #36012
@dougnelas, there is no further feedback from your side for quite some time now. Since we do have a suggested solution for you, I will go ahead and close this issue.

[2019-03-13 11:33] #36012 closed

[2019-03-13 12:26] radiating commented on #33580
@henningandersen yes it worked!

[2019-03-13 12:52] sophiec20 commented on #39974
As the mappings are created correctly as `date` in the data frame, and the `_preview` endpoint returns the aggregation, it seems a shame not to capture this.

Contemplating use cases, I suspect this is something that will be useful, for example:
- for customers who have interacted in the last 30d, tell me who are the biggest ever spenders.
- for customers acquired in Feb2019, tell me who is most a

[2019-03-13 13:01] benwtrent commented on #39974
@sophiec20 yeah, since the mapping is `date` but we are trying to push in a `double` it cannot be converted appropriately.

When determining the data to push to the new index, we should not lose what formatting is supplied given the originally aggregated type.

This, to me, is bigger than just `date` as other aggregations (max on an IP address, for instance), where this same issue would arise.

[2019-03-13 13:21] thna123459 opened #39993 "elasticsearch-keystore `add --stdin` does not behave like `add-file`"
This is related to: https://github.com/elastic/elasticsearch/issues/35433

**Elasticsearch version** (`bin/elasticsearch --version`):

6.6.1

**Description of the problem including expected versus actual behavior**:

Keystore data inserted with `elasticsearch-keystore add --stdin` is unusable for GCS credentials while data inserted using `elasticsearch-keystore add-file` is perfectly fine.

It is

[2019-03-13 13:25] pgomulka commented on #39136
@tsullivan I have changed this, but I noticed that by default we do run elasticsearch with `COMPAT` for jdk9+.
did you run your elasticsearch with a custom `jvm.options`?
by default we have `9-:-Djava.locale.providers=COMPAT` in this file.

[2019-03-13 13:33] elasticmachine commented on #39965
Pinging @elastic/es-core-infra

[2019-03-13 13:33] elasticmachine commented on #39960
Pinging @elastic/es-security

[2019-03-13 13:34] elasticmachine commented on #39955
Pinging @elastic/es-core-features

[2019-03-13 13:34] elasticmachine commented on #39993
Pinging @elastic/es-core-infra

[2019-03-13 13:55] benwtrent opened #39994 "[ML] Handle large number of DataFrame transforms in internal logic"
There are certain interactions within the new `data-frame` plugin that looks for ALL transforms. This will cause pain in the future without paginating, scrolling, or aggregating the results.

One location in particular is `DataFrameFeatureSet#Usage`.

The rest of the `data-frame` plugin code needs to be explored to verify there are no other trip-ups that would cause an issue where we have >10k Dat

[2019-03-13 13:55] elasticmachine commented on #39994
Pinging @elastic/ml-core

[2019-03-13 14:02] PhaedrusTheGreek commented on #13462
Is this data available now via the commit user_data?  I see a timestamp in shard stats called `max_unsafe_auto_id_timestamp`, but I'm not sure if that helps to indicate the last write time of the shard.

[2019-03-13 14:03] sns-seb commented on #39965
Hi,

Since I had to write a work around to this problem to move on, I can share how I believe this can be fixed.

I don't have an extensive fix to share as I didn't write a full patch to elasticsearch given that, in my specific conditions, simply parsing the `jvm.options` file in bash was good enough. I could work on it later if the approach is approved.

Three actions are required:

1. `JvmOption

[2019-03-13 14:17] elasticmachine commented on #36359
Pinging @elastic/es-core-features

[2019-03-13 14:19] jaymode commented on #39658
I think there are a few things that could be done to handle more cases but not necessarily all:

1. No thread switch if auditing is disabled
2. If auditing is enabled and authentication success events are being emitted we switch immediately. I think same goes for access_granted
3. Make auditing methods asynchronous and switch if on a network thread and auditing. Similar to some work done for LDAP

[2019-03-13 14:19] jkakavas commented on #39981
This doesn't seem to be java 8 specific ( at least not entirely ) since it only fails with a java 8 fips runtime : https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(columns:!(build.url),index:b646ed00-7efc-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:%22180_locale_dependent_mapping%22),sort:!(pr

[2019-03-13 14:19] manikandanselva opened #39995 "Match Phrase Prefix Issue"
Hi

{
  "query": {
    "dis_max": {
      "queries": [
        {
          "match_phrase_prefix": {
            "message": "[12/Mar/2019"
          }
        },
        {
          "match_phrase_prefix": {
            "message": "[2019-03-12"
          }
        },
        {
          "match_phrase_prefix": {
            "message": " Mar 12 "
          }
        }
      ]
    }
  }
}

this is my f

[2019-03-13 14:44] jasontedor commented on #13462
No, that is not the last write time of the shard. It's roughly the last timestamp of when a retry occurred, it's deeply internal, for optimizations that we do inside the engine related to append-only indices.

[2019-03-13 14:56] #39640 closed

[2019-03-13 15:24] henningandersen commented on #20891
@nik9000 is this still relevant? Given the short life of such tasks, I guess the relevance is mainly debugging when something fails and therefore leaving it undocumented may be better than tying us into the format/response (though experimental)? Another minor issue with short lived tasks is that the tasks api may show multiple tasks running "at the same time" while they never did in reality (could

[2019-03-13 15:48] agentgt commented on #13930
@rjernst I'm curious did you not know about `<relativePath>` in Maven. I looked at the previous versions of the project you don't include `<relativePath>` which makes me think your entire hate for Maven could have stemmed from not knowing this feature.

From maven: https://maven.apache.org/pom.html#Inheritance

Thus if you had put the relative path to your parent pom in your submodules maven would

[2019-03-13 15:51] BastianHofmann opened #40000 "Synonym building fails if filter proceeded by compound word filter"
I'm using the official Docker image: docker.elastic.co/elasticsearch/elasticsearch:6.3.2

**Elasticsearch version** (`bin/elasticsearch --version`): 6.3.2

**Plugins installed**: []

**JVM version** (`java -version`): 10.0.2

**OS version** (`uname -a` if on a Unix-like system): Linux 596b10634157 4.9.93-linuxkit-aufs #1 SMP Wed Jun 6 16:55:56 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**Description

[2019-03-13 15:57] bpintea opened #40001 "SQL: GROUP BY with function group returns error"
This following statement works as expected:
```select convert(truncate(extract(YEAR from "timestamp")), SQL_BIGINT) as yr from "kibana_sample_data_flights" group by yr;```

When the `yr` is swapped with the group expression it replaces, an exception is raised:
[code]

[2019-03-13 15:57] elasticmachine commented on #40001
Pinging @elastic/es-search

[2019-03-13 16:20] jimczi commented on #40000
Thanks for reporting @BastianHofmann , this issue is already fixed by https://github.com/elastic/elasticsearch/pull/34331 so I hope you don't mind if I close it.
Starting in 6.6 we don't apply the decompounding when building synonyms so only the original term is used to match the synonym rule.

[2019-03-13 16:20] #40000 closed

[2019-03-13 16:33] markharwood opened #40002 "Incremental update tooling"
### Problem
Updating documents via script using `_update` or `_update_by_query` is useful but hard to do right.
It's useful because small sets of changes can be applied cheaply (no need to drag full docs to client).
However it's hard to write script because:
1) People need to understand painless and scripts can become verbose and hard to debug.
2) Document properties can be unexpected (missing ver

[2019-03-13 16:33] elasticmachine commented on #40002
Pinging @elastic/es-distributed

[2019-03-13 16:34] elasticmachine commented on #40002
Pinging @elastic/es-core-infra

[2019-03-13 16:39] davidkyle opened #40003 "[ML-DataFrame] GET Transform with a unknown ID does not return a 404"
`GET /_data_frame/transforms/a_transform_that_doesn't_exist`

Does not return a 404 instead an empty response is returned. More dubiously the log is filled with many error messages

[code]

[code]

[code]

And finally after thousands of lines the cause
[code]

[2019-03-13 16:40] elasticmachine commented on #40003
Pinging @elastic/ml-core

[2019-03-13 16:57] jimczi commented on #39995
Can you explain what the issue is ? It is hard to understand the problem with the current description.
The templates for new issue describes the information that you need to provide when reporting a possible bug:
[code]

[2019-03-13 17:11] #39904 closed

[2019-03-13 17:38] nik9000 commented on #26280
@bmcconaghy, how does Kibana know when to shift to ndjson? I figure the docs should use the same logic.

[2019-03-13 17:39] javanna opened #40005 "Error upper bound may be wrong when performing incremental reductions"
When reducing terms aggs results, we check if we already have a doc count error for a certain bucket by looking at its error see https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/InternalTerms.java#L245): if it's greater than zero we have already calculated it, while if we have zero it means we have not hence we ignore such

[2019-03-13 17:39] elasticmachine commented on #40005
Pinging @elastic/es-analytics-geo

[2019-03-13 17:40] javanna commented on #40005
ping @colings86 @polyfractal as we have chatted about this.

[2019-03-13 17:48] bmcconaghy commented on #26280
@nik9000 grepping the code it appears that console doesn't know about this either.

[2019-03-13 17:51] atorok commented on #39977
@elasticdog this is happening because our ubuntu image now has vagrant and we are picking that up but it's apparently not working.

[2019-03-13 17:59] nik9000 commented on #26280
@bmcconaghy, so, do you think we should look for `_bulk` or for json that looks like ndjson?

[2019-03-13 18:04] bmcconaghy commented on #26280
Not sure.  Is _bulk the only endpoint that takes ndjson?  If so, looking for _bulk seems fine.

[2019-03-13 18:08] nik9000 commented on #26280
I believe msearch needs it as well.

[2019-03-13 18:54] droberts195 commented on #26280
Is a change planned that will validate the content type more rigorously? If so then this could affect the [ML post data](https://www.elastic.co/guide/en/elasticsearch/reference/current/ml-post-data.html) endpoint too.

As it stands it’s not a major problem because the processing is the same (for all 3 of these endpoints) regardless of whether the content type is specified to be json or nd-json. Bu

[2019-03-13 19:22] #39980 closed

[2019-03-13 19:29] gwbrown commented on #39902
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/) that s

[2019-03-13 19:29] #39902 closed

[2019-03-13 19:54] jkakavas opened #40011 "Upgrade BouncyCastle dependency to 1.61"
We still use BouncyCastle in a couple or places, namely
- Ingest Attachment Processor
- CertificateTool ( Generating X509 Certificates and CSRs )

1.61 is [available](https://www.bouncycastle.org/latest_releases.html)

[2019-03-13 19:54] elasticmachine commented on #40011
Pinging @elastic/es-security

[2019-03-13 19:59] imotov commented on #38282
Since we didn't receive any feedback for almost a month, I am going to close this issue for now. Please, feel free to reopen if you have any additional information or can show a better way to reproduce this issue.

[2019-03-13 19:59] #38282 closed

[2019-03-13 20:16] gwbrown opened #40014 "Deprecate the Migration APIs"
The Migration APIs ([Migration Assistance](https://www.elastic.co/guide/en/elasticsearch/reference/current/migration-api-assistance.html) and [Migration Upgrade](https://www.elastic.co/guide/en/elasticsearch/reference/current/migration-api-upgrade.html)) were used in the transition from version 5.x of the stack to version 6.x, but are not being used for the 6.x to 7.x transition, and may or may no

[2019-03-13 20:16] elasticmachine commented on #40014
Pinging @elastic/es-core-features

[2019-03-13 20:20] henningandersen commented on #25718
Could also affect [ML post data](https://www.elastic.co/guide/en/elasticsearch/reference/current/ml-post-data.html).

[2019-03-13 20:23] henningandersen commented on #26280
@droberts195 there is an open issue on fixing this: #25718 . I believe it is not scheduled to be done, but is still under discussion. If it is done, it seems reasonable to expect that the REST spec will contain information on expected content type.

[2019-03-13 20:38] jakelandis commented on #39947
Indeed they do need an update. A quick check shows that many (most/all?) settings listed on that page are indeed dynamic but not listed as such. The page should be probably be changed to state all (but if any) settings are dynamic.

[2019-03-13 20:40] elasticdog commented on #39977
@atorok that is interesting...both VirtualBox and Vagrant were added into the Ubuntu 18.04 image to test nested virtualization, specifically I've been looking at running the packaging tests in GCP. The general gist is that it works, but is very slow. I've not experienced any direct failures after bringing up a VM like is shown in the output here, but would expect more of our images to have Virtual

[2019-03-13 21:02] jakelandis commented on #39979
@jdrossl - So the origin data contains HTML tags, and you wish to store a version without the HTML markup ?  If it is simple, like in the example, then [gsub processor](https://www.elastic.co/guide/en/elasticsearch/reference/current/gsub-processor.html) may get you what you want.

I would be [very hesitant](https://stackoverflow.com/questions/1732348/regex-match-open-tags-except-xhtml-self-contain

[2019-03-13 21:59] jasontedor commented on #40011
We also use this in the plugin tool.

[2019-03-13 23:04] rjernst commented on #39993
The add-file type was specifically added for GCS credential support. The plain `add` is for string (SecureStringSetting in the code) credentials, but for GCS the entire file is encrypted (SecureFileSetting in the code).

You are right the docs are not clear about that; it should be simple to fix. Additionally, long term I would like to have the type required by the setting be enforced when adding

[2019-03-13 23:12] jdrossl commented on #39979
hi @jakelandis, my use case is this: I have a field with HTML content, when indexing I use the `htmp_strip` filter to remove the HTML tags from the index and be able to full text search on the contents, however during highlighting I need to get snippets without any HTML tags. With the `default` encoder sites would break and with the `html` decoder users would get a lot of HTML stuff that they don'

[2019-03-13 23:24] Sandmannn commented on #39939
Hi, yes, lets close this issue if this is wrong place to address it. I confirm that it is most likely something specific to my machine.

[2019-03-13 23:57] bizybot opened #40018 "[CI] IndexLifecycleRunnerTests.testRunStateChangePolicyWithAsyncActionNextStep failed"
The test IndexLifecycleRunnerTests.testRunStateChangePolicyWithAsyncActionNextStep failed in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+multijob-unix-compatibility/os=oraclelinux-7/71/console

I could not reproduce this locally but with multiple iterations, it does reproduce sporadically.

The repro command was:
[code]

[2019-03-13 23:57] elasticmachine commented on #40018
Pinging @elastic/es-core-features

[2019-03-14 01:01] TomonoriSoejima opened #40020 "[docs] 6.6.0 release note has a typo"
https://www.elastic.co/guide/en/kibana/current/release-highlights-6.6.0.html#_support_for_multiple_elasticsearch_nodes says `Simply set elasticsearch.host`, but the correct parameter is `elasticsearch.hosts`

[2019-03-14 01:28] kiju98 opened #40021 "[docs] xpack.monitoring.history.duration doesn't accept month"
https://www.elastic.co/guide/en/elasticsearch/reference/current/monitoring-settings.html has
[code]
I tested with `1m` and `1M` to set it to 1 month on Elasticsearch 6.6.0 but they produced the following error:
[code]
Looks like both `m` and `M` are considered as minutes and I see it accepts `h` and `s`.

I think it would be better if it is added to document that `xpack.monitoring.history.duration

[2019-03-14 01:30] kiju98 commented on #40021
Pinging @elastic/es-docs

[2019-03-14 02:02] jasontedor commented on #40020
@TomonoriSoejima These are in the Kibana release notes and this is a Kibana setting. Would you please reopen this issue on the [Kibana](https://github.com/elastic/kibana) repository?

[2019-03-14 02:04] jasontedor commented on #40021
The way that we typically denote this in the docs is by linking to the `TimeValue` settings page which explains exactly what units are supported. That is what I think we should do here, and what I think we should do in general, to avoid repeating the same sentence over and over.

[2019-03-14 02:07] elasticmachine commented on #40021
Pinging @elastic/es-core-features

[2019-03-14 02:07] jasontedor commented on #40021
For anyone on the @elastic/es-core-features team that wants to pick this up, see `follow-request-body.asciidoc` for an example of how we denote this elsewhere in the docs.

[2019-03-14 02:30] bizybot opened #40022 "[CI] DataFrameFeatureSetTests.testUsage failed"
The test DataFrameFeatureSetTests.testUsage failed in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2524/console

Reproducible locally, will disable the test on master

The repro command was:
[code]

[2019-03-14 02:30] elasticmachine commented on #40022
Pinging @elastic/ml-core

[2019-03-14 03:04] bizybot opened #40024 "[CI] CloseIndexIT.testCloseIndex failed"
CloseIndexIT.testCloseIndex failed on
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+internalClusterTest/2283/console

Unable to reproduce locally with the following command:
[code]

[2019-03-14 03:04] elasticmachine commented on #40024
Pinging @elastic/es-core-features

[2019-03-14 03:29] #34332 closed

[2019-03-14 03:30] tvernum commented on #39981
Are your Java 8 FIPS and Java 8 Standard environments on the same JDK update?
I recently had some timezone tests that worked on `jdk1.8.0_201` but fail on `jdk1.8.0_111`

[2019-03-14 03:34] TomonoriSoejima commented on #40020
No problem and https://github.com/elastic/kibana/issues/33218 is created.

[2019-03-14 03:34] #40020 closed

[2019-03-14 03:40] bizybot opened #40025 "[CI] SamlAuthenticatorIT. testLoginUserWithAuthorizingRealm failed"
SamlAuthenticatorIT. testLoginUserWithAuthorizingRealm failed on
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu-16.04&&immutable/297/console

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=ubuntu-14.04&&immutable/71/console

[code]
Locally could not reproduce on 7.x or master with followin

[2019-03-14 03:40] elasticmachine commented on #40025
Pinging @elastic/es-security

[2019-03-14 04:30] reilee opened #40026 "[DOCS] Monitoring with metricbeat didn't mention master node setup is required."
In [Collecting Elasticsearch monitoring data with Metricbeat](https://www.elastic.co/guide/en/elasticsearch/reference/current/configuring-metricbeat.html)

I was following that manual but in the end I cannot see monitoring data in Kibana.
Finally I found that you must setup metricbeat on current master node first, or Kibana monitoring view cannot show anything.

It would be great if you can mentio

[2019-03-14 05:54] kunisen opened #40027 "[DOCS] Update docs for routing & seq no"
Currently we have `routing` documented here.
https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-routing-field.html

Which describes that `shard_num` depends on this formula.
`shard_num = hash(_routing) % num_primary_shards`

IIRC, it is coded in this src.
https://github.com/jpountz/elasticsearch/blob/38a384de5c31ed594ddc79b31e431c0eb73d0d17/src/main/java/org/elasticsearch/clus

[2019-03-14 05:56] elasticmachine commented on #40027
Pinging @elastic/es-distributed

[2019-03-14 05:56] elasticmachine commented on #40027
Pinging @elastic/es-docs

[2019-03-14 06:20] jkakavas commented on #40025
Yes probably, I'll look into it

[2019-03-14 06:38] jkakavas commented on #40025
The error means that the browser got a `200` when submitting the form instead of a `302` to the consent page.

This can happen in a few cases :

- The SAML Response would contain no attributes other than UID, so consent is not required
- There was a previous request with the same client and the consent is stored in the browsers local storage ( not possible with HttpClient I guess )
  ( For both th

[2019-03-14 06:48] hatcherfang commented on #31367
Hi @fbaligand,  Does the new documentation solve your case?

 The new documentation seems not complete for me.

Could you show me the JDBC example code?

[2019-03-14 06:55] jkakavas commented on #39981
Good point @tvernum . My standard is 1.8.0_191 while I had based FIPS on 1.8.0_171. But I guess in CI both are built by the same 8 version so these tests would be failing on java8 also.. I'll update my local one and investigate further nevertheless

[2019-03-14 07:03] bizybot opened #40029 "Allow non super users to create API keys"
A non-super user cannot create API keys and fails with the following exception:
`action [indices:data/read/search] is unauthorized for user [non-super-user]`

Expected Behavior:
The non-super user should be able to create API keys.

[2019-03-14 07:03] elasticmachine commented on #40029
Pinging @elastic/es-security

[2019-03-14 07:05] costin commented on #31367
@hatcherfang if you have questions, please use the forum not the issue tracker which is reserved for bug reports.
The documentation of JDBC including examples is available at: https://www.elastic.co/guide/en/elasticsearch/reference/current/sql-jdbc.html

[2019-03-14 07:17] bizybot opened #40030 "[CI] NodeConnectionsServiceTests. testConnectAndDisconnect & testOnlyBlocksOnConnectionsToNewNodes failed"
Multiple jobs failed for NodeConnectionsServiceTests#testConnectAndDisconnect & NodeConnectionsServiceTests#testOnlyBlocksOnConnectionsToNewNodes tests.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/445/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=zulu8,nodes=immutable&&linux&&docker

[2019-03-14 07:17] elasticmachine commented on #40030
Pinging @elastic/es-distributed

[2019-03-14 07:18] tvernum opened #40031 "Update privilege model for API keys"
The API Key actions are under the `cluster:admin/xpack/security` namespace.
The only cluster privileges that allow access to those actions are `manage_security` and `all`, both of which grant far more access than is actually required to create an API Key.

There should be a specific privilege to allow a user to create/delete their own API keys.

[2019-03-14 07:18] elasticmachine commented on #40031
Pinging @elastic/es-security

[2019-03-14 07:52] hendrikmuhs commented on #40003
This looks like 2 issues:

- non-404: sounds like a regression to me, which is strange as it's covered by a test, I need to check your circumstances
- failure spam: known issue about failure handling

[2019-03-14 07:55] jkakavas commented on #40025
I added a log entry in https://github.com/elastic/elasticsearch/commit/18d6499432b0975a5163149476ee5202625c1da3, next time this happens we can see what the issue is and resolve it

[2019-03-14 08:05] hendrikmuhs commented on #39994
This is not a bug (already per definition of an unreleased feature), we should disallow requesting a large number of transforms. There is simply no usecase to get 10k configs using 1 request.

The number of transforms of per page should be limited. Even if possible, it's bad from a design as the memory requirement for returning this large number puts the rest of the system at risk to go out of mem

[2019-03-14 09:01] thna123459 commented on #39993
Mixing two distinct types of data in a single keystore breaks credential management through Puppet, and I do not see how that can be fixed at this time. Should I open a bug report on `puppet-elasticsearch`? https://github.com/elastic/puppet-elasticsearch/blob/master/lib/puppet/provider/elasticsearch_keystore/elasticsearch_keystore.rb

[2019-03-14 09:04] manikandanselva commented on #39995
This also In search Query Ex : Search is .....AND message:("2019-03-13") But I got also given field of data in search result [14/Mar/2019:03:13:57 +0000]

[2019-03-14 09:19] #39738 closed

[2019-03-14 09:31] Bukhtawar commented on #17418
The problem we are trying to solve is most common as disks are more likely to go beyond high watermark up until the writes are blocked. Cases like allocation filtering or for that matter any other decider failing to allocate could be rare.
Once index creation is BLOCKED the client should see a 403 `FORBIDDEN` if index creates are failing. The administrator can check for blocks in the `/_cluster/se

[2019-03-14 09:44] droberts195 commented on #38785
@pheyos the `nginx` module has been removed from Kibana in 7.0.  Did you mean the `nginx_ecs` module?

[2019-03-14 09:52] kirvk548 commented on #17447
Hey Guys,

Have you tried changing the remote host from this format "host": "192.168.1.2:9200", to this format "host": "https://something.com" ?

Thanks for the help!

[2019-03-14 10:05] ywelsch commented on #40002
I wonder if ingest processors might be a way to provide such a DSL. Assume we have implemented a generic "tag" processor which abides to the 5 rules that you've described, we could write the following:

[code]

[2019-03-14 10:10] harshbajaj16 commented on #37098
Hi @original-brownbear,

I'm facing the same problem in 6.4.2. i just want to know that is there any workaround to solve this problem?

Regards,
Harsh Bajaj

[2019-03-14 10:15] martijnvg commented on #36761
This test hasn't failed in the last 3 days after the above tweaks were pushed. I will close this issue for now, please re-open if this test fails again for similar reasons.

[2019-03-14 10:15] #36761 closed

[2019-03-14 10:15] davidkyle commented on #40003
Closing this issue as it was fixed in #39934

[2019-03-14 10:15] #40003 closed

[2019-03-14 10:16] davidkyle commented on #40003
@hendrikmuhs Ignore this sorry I was working on a old commit

[2019-03-14 10:20] albertzaharovits opened #40039 "Unicode normalization for passwords"
_Backstory: I was reading this fine [blog post](https://withblue.ink/2019/03/11/why-you-need-to-normalize-unicode-strings.html) about unicode normalization._

The gist of the matter is that Unicode defines a code point for some characters é (U+0039) but also, to facilitate introduction from the myriad of input devices, defines "combo"s of characters, eg e (U+0065)  adjoined by  ́ (U+0301) which wo

[2019-03-14 10:20] elasticmachine commented on #40039
Pinging @elastic/es-security

[2019-03-14 10:20] colings86 commented on #40005
IMO the best way to fix this will be to change to using `null` as the indication the error was not previously calculated and make the variable a `Long`. Note that `-1` already has a meaning here in that it indicates that the error cannot be calculated because of the sort order used. I think it would be a bad idea to start encoding more negative numbers with meanings (e.g. `-2` means not calculated

[2019-03-14 10:24] astefan commented on #39738
master (8.0.0): https://github.com/elastic/elasticsearch/commit/300ae485dd08373727ca111a4d21276dd47d9a27
7.x (7.1.0): https://github.com/elastic/elasticsearch/commit/4d1305b6dfff3fc4222083b6fb0ae0ef0bafabda
7.0 (7.0.0): https://github.com/elastic/elasticsearch/commit/842c69a539a0dae3d73bd6bf498bc2a4d19bd01c
6.7 (6.7.0): https://github.com/elastic/elasticsearch/commit/e7197a215be61991fb87896d4f6dd4

[2019-03-14 10:27] davidkyle commented on #40022
@bizybot if possible can you please add the error and/or stack trace to the issue. The links to the build reports do expire at which point that information is lost.

The error message is:

[code]

[2019-03-14 10:33] javanna commented on #40005
sounds good @colings86 I can look into this.

[2019-03-14 10:50] davidkyle commented on #40022
The test also fails in 7.x with the same error. Muted in 59201915db3e14c2163983fdce8d7d5501a8867c

[2019-03-14 11:03] jkakavas opened #40041 "[CI] SecurityDocumentationIT testGetSslCertificates fails in FIPS"
This was unveiled when we started running integTestClusters with runtime java and happened a few times in the last hours:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8fips,nodes=immutable&&linux&&docker/72/console

The problem here is that when parsing the Certificate objects from files/keystores, the default SUN

[2019-03-14 11:03] elasticmachine commented on #40041
Pinging @elastic/es-security

[2019-03-14 11:23] droberts195 commented on #38785
On closer inspection I see that it _would_ have been the `nginx` module that caused this.  It doesn't exist in 7.0 now.  But I can reproduce the problem running 6.7 Kibana against 7.0 Elasticsearch, so there's something worth investigating here.  I think the bug is revealed by:

[code]

If the anomalies index doesn't exist then we create it.  If it does exist we add extra mappings.

But because 5

[2019-03-14 11:46] #39915 closed

[2019-03-14 12:06] ywelsch commented on #40027
This generalization of the formula related to the [shrink](https://www.elastic.co/guide/en/elasticsearch/reference/6.7/indices-shrink-index.html) / [split](https://www.elastic.co/guide/en/elasticsearch/reference/6.7/indices-split-index.html) functionality.

Shrinking is efficiently implemented by directly combining and merging Lucene segments from different shards. When shrinking an index from 10

[2019-03-14 12:21] kunisen commented on #40027
Very clear explanation and no any doubts now!
Thanks for the great write up!
I think it’s important to have experts explained this but not just I read something from code, and now my goal is achieved.
Really appreciate your help! @ywelsch

[2019-03-14 12:54] #40011 closed

[2019-03-14 12:54] DaveCTurner commented on #37098
@harshbajaj16 probably best to ask your question on the [discussion forums](https://discuss.elastic.co/c/elasticsearch) since this issue is now closed.

[2019-03-14 13:12] pheyos commented on #38785
@droberts195 I think when I noticed this the first time, the `nginx` module was still available in 7.0 (was removed a bit later).

[2019-03-14 13:21] droberts195 commented on #25718
This came back to life because of the discussion in #26280.

In my opinion it is not.  It will cause extra work and complexity for Kibana, extra work and complexity for the docs snippet framework and extra work and complexity for the language clients.  All this time adds up and surely as a company we have something more worthwhile to spend our time on.

So while it doesn't hurt to permit `applicat

[2019-03-14 13:38] maxozerov opened #40045 "Kibana6 - search bar & query features - strange work"
**Describe**:
Search in the search bar does not work  -  until the option is turned on/off
Options:  **"Turn on query features".**

**Elasticsearch version**:
`Version: 6.6.2, Build: default/deb/3bd3e59/2019-03-06T15:16:26.864148Z, JVM: 1.8.0_201`

**Plugins installed**:
`ingest-geoip`

**JVM version**:
```java version "1.8.0_201"```

**OS version**:
`Ubuntu 16.04.6 LTS`
`Linux 4.4.0-116-generic #

[2019-03-14 14:45] talevy commented on #40018
From the stacktrace, the two lines that look fishy to me are:

[code]

<details><summary>failing suite stacktrace</summary>
<p>

[code]

</p>
</details>

[2019-03-14 14:55] markharwood commented on #40002
We [rejected that idea](https://github.com/elastic/elasticsearch/issues/17895) a while ago because of the way we organise data nodes and ingest nodes separately.

[2019-03-14 15:02] jkakavas commented on #39753
These are still failing, latest: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/558/consoleText

[2019-03-14 15:07] joshbressers opened #40050 "Upgrade guava dependency"
The Guava dependency contains a security flaw in the versions of the library we ship
http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-10237

While we don't deserialize untrusted input, we should still consider updating this library at some point, the flaw gets triggered by security vulnerability scanners. We appear to ship multiple versions of the package

[code]

[2019-03-14 15:13] cbuescher opened #40051 "[CI] TransportSearchActionTests.testShouldMinimizeRoundtrips fails"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2539/consoleFull

[code]

[code]

[2019-03-14 15:13] elasticmachine commented on #40051
Pinging @elastic/es-search

[2019-03-14 15:17] #40051 closed

[2019-03-14 15:23] jkakavas opened #40053 "[CI] IndicesClientIT.testGetAlias failed in 7.0"
This failed once today : https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+intake/414/consoleText

[code]

and I could see

[code]

but I'm not entirely sure whether this is related. The
[code]

does not reproduce locally. I'm not muting this since it has failed only once before ( March 8 : https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.6+multijob-unix-compatibilit

[2019-03-14 15:23] elasticmachine commented on #40053
Pinging @elastic/es-core-features

[2019-03-14 15:23] cbuescher commented on #39980
@jakelandis this still seems to fail on 7.0 and 7.x, is the fix on those branches as well?
e.g.
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=zulu11,nodes=immutable&&linux&&docker/72/console

[2019-03-14 15:36] jkakavas commented on #38356
This failed again in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+packaging-tests/447/console, worker is ` worker-844165` , have we documented the steps to clean this up @hub-cap @danielmitterdorfer ?

[2019-03-14 15:36] jakelandis commented on #39980
@cbuescher - I am working on the back ports.  Just got a passing 7.x and will have 7.0 a bit later today.

[2019-03-14 15:45] gwbrown commented on #40014
After discussing this in the core/features team meeting, we've decided to deprecate the Migration APIs in 6.7 and remove in 7.0, with the Migration Upgrade API to be reinstated in the 7.x series if it is needed.

[2019-03-14 15:47] cbuescher opened #40055 "[CI] Zen1IT.testMixedClusterFormation failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+internalClusterTest/2440/console

I cannot reproduce this on 7.0 currently, but here's the details
[code]

[code]

[2019-03-14 15:47] elasticmachine commented on #40055
Pinging @elastic/es-distributed

[2019-03-14 15:55] dr0i commented on #39832
@mayya-sharipova Thx for this input - configuring log level per class sounds like the solution for my issue! I will try this.

Re: catching MapperParsingException: I had the impression that catching Exceptions of BulkRequests don't return this exception (at least not for version 5.6.3).

I will let you know if it works.

[2019-03-14 16:27] saxenark opened #40057 "Elastic Search as a Windows Service with network.host set to _global_"
Hi,

I want to know how to install ElasticSearch as a windows service with the network.host set so that all of my dev machines can access the service over 9200 port.

I figured out that we can do this with the -E network.host=0.0.0.0 using ElasticSearch.bat but can't understand how to do this when used as a windows service.

Thanks,

[2019-03-14 16:57] chrisronline opened #40059 "CCS: sibling pipeline aggregations don't work when minimizing roundtrips"
**Elasticsearch version** (`bin/elasticsearch --version`): latest master snapshot (hash: `8839a72`)

**Plugins installed**: []

**JVM version** (`java -version`): `java version "11.0.1" 2018-10-16 LTS`

**OS version** (`uname -a` if on a Unix-like system): `Darwin Kernel Version 18.2.0`

**Description of the problem including expected versus actual behavior**:

When performing a CCS search request

[2019-03-14 17:06] cachedout commented on #40059
@javanna and @jimczi This is a pretty serious bug for @elastic/stack-monitoring and is potentially impacting customers. We'd love some help tracking this down ASAP if you have a little bit of time. Thanks.

[2019-03-14 17:22] elasticmachine commented on #40059
Pinging @elastic/es-search

[2019-03-14 17:40] #39456 closed

[2019-03-14 17:42] jakelandis commented on #39979
Where and how do you do that duplication today ?

[2019-03-14 17:54] xrammit commented on #39905
Thanks @jimczi and @jporzelt for the explanation and the suggested solutions!

[2019-03-14 17:54] #39905 closed

[2019-03-14 18:01] jdconrad commented on #40057
@saxennark This would be more appropriate as a discuss issue.  Please use https://discuss.elastic.co/c/elasticsearch to ask your question.  Thanks!

[2019-03-14 18:01] #40057 closed

[2019-03-14 18:02] elasticmachine commented on #40050
Pinging @elastic/es-security

[2019-03-14 18:03] markharwood commented on #40002
This is working example of updating a web session with various properties:

	POST test/_doc/my_web_session1/_update
	{
	  "upsert": {},
	  "scripted_upsert": true,
	  "script": {
		"id": "incremental_update",
		"params": {
		  "commands": [
			{"add": {"field": "userAgents","value": "IE10"}},
			{"size": {"field": "userAgents", "resultField": "numBrowsers"}},
			{
			  "min": { "field": "start", "

[2019-03-14 18:10] yaronp68 opened #40063 "[Docs] Documentation missing for ingest node metrics"
IN the documentation there is a general phrase about ingest metrics under node stats. Could we document the ingest metrics returned by `GET _nodes/stats/ingest?filter_path=nodes.*.ingest`

[2019-03-14 18:10] elasticmachine commented on #40063
Pinging @elastic/es-docs

[2019-03-14 18:14] jdconrad commented on #40045
@maxozerov Thank you for submitting this issue.  This repository is for issues related directly to Elasticsearch.  Would you please re-submit this issue to the Kibana repository (https://github.com/elastic/kibana)?

[2019-03-14 18:14] #40045 closed

[2019-03-14 18:15] elasticmachine commented on #40063
Pinging @elastic/es-core-features

[2019-03-14 18:16] elasticmachine commented on #40026
Pinging @elastic/es-docs

[2019-03-14 18:17] jdconrad commented on #40026
@elastic/es-core-features Should this be moved to the beats repo?

[2019-03-14 18:23] #40041 closed

[2019-03-14 18:39] jakelandis commented on #40063
Specifically here: https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-nodes-stats.html#ingest-stats

"On top of these overall ingest statistics, these statistics are also provided on a per pipeline basis." is a bit vague.

We should be more explicit here that each pipeline has a `count`, `time_in_millis`, `current`, `failed`, and possibly provide helpful filter commands to loo

[2019-03-14 19:09] jasondu168 opened #40066 "Rollup jobs disappeared after data nodes disk resize"
**Elasticsearch version** (`bin/elasticsearch --version`):
```Version: 6.5.2, Build: default/rpm/9434bed/2018-11-29T23:58:20.891072Z, JVM: 1.8.0_201```
**Plugins installed**: []
```xpack```
**JVM version** (`java -version`):
[code]
**OS version** (`uname -a` if on a Unix-like system):
[code]
**Description of the problem including expected versus actual behavior**:
Some rollup jobs disappeared afte

[2019-03-14 19:12] elasticmachine commented on #40066
Pinging @elastic/es-analytics-geo

[2019-03-14 19:16] chrisronline opened #40067 "CCS: field collapsing doesn't work when minimizing roundtrips and remote index is empty"
**Elasticsearch version** (`bin/elasticsearch --version`): latest master snapshot (hash: `8839a72`)

**Plugins installed**: []

**JVM version** (`java -version`): `java version "11.0.1" 2018-10-16 LTS`

**OS version** (`uname -a` if on a Unix-like system): `Darwin Kernel Version 18.2.0`

**Description of the problem including expected versus actual behavior**:

When performing a CCS search request

[2019-03-14 19:18] cachedout commented on #40059
Potentially related: https://github.com/elastic/elasticsearch/issues/40067

[2019-03-14 19:20] elasticmachine commented on #40067
Pinging @elastic/es-search

[2019-03-14 19:23] polyfractal commented on #40066
Were these active and running jobs, or archived/deleted jobs?  How did you determine they were lost (`tasks` API?  get rollup jobs API?  Kibana UI?).

And was this the AWS ES service, or your own nodes on EC2 that you resized?

To answer your questions, jobs are persisted in two locations.  All active jobs are recorded in the cluster state as a persistent task, so that we can keep the task alive b

[2019-03-14 19:27] javanna commented on #40067
this seems to be related to #32125 as we minimize roundtrips by default from 7.0 on. I have tested field collapsing but there seems to be something that goes wrong with this request specifically, which I will look into. This issue can be worked around by passing the parameter `minimize_roundtrips` set to `false` until the problem is resolved.

[2019-03-14 19:41] jdu-mydevices commented on #40066
Were these active and running jobs, or archived/deleted jobs? How did you determine they were lost (tasks API? get rollup jobs API? Kibana UI?).
  -> `These are active, started and rollup finished jobs. Disappeared from Kibana UI -> Management -> Rollup jobs`

And was this the AWS ES service, or your own nodes on EC2 that you resized?
  ->  `my own nodes on EC2`

To answer your questions, jobs are

[2019-03-14 19:43] javanna commented on #40059
This manifests when trying to minimize roundtrips (see #32125). I have tested pipeline aggregations and they worked fine in my tests, but this one is clearly a bug that was missed which needs fixing. I can see how a bunch of pipeline aggs are affected by this though. Until this gets fixed, please provide the `minimize_roundtrips` parameter set to `false` to the search request.

[2019-03-14 19:45] chrisronline commented on #40059
@javanna I think the parameter is named `ccs_minimize_roundtrips`

[2019-03-14 19:46] javanna commented on #40059
yes it is thanks ;)

[2019-03-14 20:17] polyfractal commented on #39916
It seems this affects anything using multiple patterns, most notably it breaks indexing:

[code]
[code]

(`"2014-06-06T12:01:02.123"` indexes correctly if just `date_optional_time` is specified)

[2019-03-14 20:40] mark-vieira commented on #31496
@atorok I've removed the `stalled` label as I intend to progress this next week using your branch as a potential starting point.

[2019-03-14 20:48] jdrossl commented on #39979
In our application, we copy the field with a different name that will be indexed as a `keyword` and remove the HTML markup from the original field. So for queries & highlight we use the original field (to get the right results and no markup in the snippets) and for any other purpose we use the copied field with the original content.

This was the only solution we found and we ended up not using th

[2019-03-14 21:17] dnm1977 commented on #21625
Am I correct to think that this also means that any highlighting that uses term vectors in nested fields will also not work? E.g., when I set set 'term_vectors="with_positions_offsets"' on a nested field and then use the unified highlighter on that field, I get no highlights. (Even when not using a span query, just a simple Boolean.)

Having the ability to store term vector offsets to speed up hig

[2019-03-14 21:52] jimczi commented on #39979
Thanks for answering @jakelandis and @jdrossl for explaining ;). If you're already able to remove the markup in your application can you apply it on the highlighted response instead of duplicating the field at index time ? We could also allow custom encoder via plugins in order to allow any kind of transformations/removals but I think that the default encoders should remain simple. Encoders are no

[2019-03-14 22:01] #39939 closed

[2019-03-14 23:09] gwbrown commented on #40014
This also needs to deprecate the appropriate HLRC classes.

[2019-03-14 23:23] jdrossl commented on #39979
hi @jimczi, we are using `keyword` on the copy of the field (the original is being analyzed as text), I know the encoders don't have anything to do with the filters but if there was an encoder that removes the markup before inserting the highlight tags they would work perfectly together. There are a couple of reasons to not handle the snippets in the client side:
- snippets might not have the full

[2019-03-14 23:37] leguma opened #40077 "Synonym"
**Elasticsearch version**: 6.6.1
**Severity**: Very low
**Description**:
- Synonym file parse errors when valid.
- Synonyms ignored in lenient mode when they shouldn't be.

This incorrect behavior can occur when using a filter, such as a stop filter, before applying a synonym filter. In many cases, ignoring these rule is completely fine because the synonym in question truly is unreachable. However

[2019-03-14 23:54] elasticmachine commented on #40077
Pinging @elastic/es-search

[2019-03-15 04:34] shubhamjn commented on #22683
Anyone planing to pick up this issue.
I have a use case where the slow logs are getting exception

[es-d03-rm] [!!!org.elasticsearch.index.SearchSlowLog$SlowLogSearchContextPrinter@33d78e80=>org.elasticsearch.ElasticsearchException:com.fasterxml.jackson.core.JsonGenerationException: Can not start an object, expecting field name (context: Object)!!!]

This might be because the search request is pre

[2019-03-15 06:36] atorok commented on #39977
@elasticdog I'we been thinking about having a way to label images as "experiemntal"/ "beta" etc. to allow for experimentation in a way that limits the overall impact without putting a lot of burden on the team and infrastructure, so it should be something simple, setting up a separate image build or some complex versioning scheme would not help us.

I think we should add a "stable" label and requi

[2019-03-15 06:54] atorok commented on #39977
This would be fixed by #34095

[2019-03-15 07:00] jkakavas opened #40079 "repository-hdfs tests fail in a fips java runtime"
Example:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8fips,nodes=immutable&&linux&&docker/73/console

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8fips,nodes=immutable&&linux&&docker/73/console

[code]

This happens because the `hd

[2019-03-15 07:00] elasticmachine commented on #40079
Pinging @elastic/es-core-infra

[2019-03-15 07:01] atorok commented on #31496
For context we discussed this in the team and came to the conclusion that randomizing the class order might be not as important as we initially taught, so we will try to propose an implementation that doesn't take this into account.
    - the test ordering right now is not fully deterministic  based on the seed, there's balancing across JVMs based on historical timing data. This means that the ord

[2019-03-15 07:36] #39413 closed

[2019-03-15 07:45] DaveCTurner commented on #40055
Closed by #40065.

[2019-03-15 07:45] #40055 closed

[2019-03-15 08:04] #40030 closed

[2019-03-15 08:36] martijnvg commented on #40053
Additional debug information was added via: df60f6866affac359cf1e6db8ab4ee1d14621949
but that wasn't backported to 7.0 and 6.7. I will do that now, so that if this test fails again on these branches then we have more information.

[2019-03-15 08:40] jimczi commented on #39995
Thanks @manikandanselva, this is probably because you've set the `message` field as a `text` field. If you want to match `date` accurately you'll need to use the type `date` in your mapping, otherwise the query is analyzed and the default analyzer removes the punctuation (`-`, `/`, ...). We reserve github for bugs and feature requests so I hope you don't mind that I close this issue. We can contin

[2019-03-15 08:40] #39995 closed

[2019-03-15 09:06] jimczi commented on #34597
We discussed this issue internally and decided that we'll not implement this feature. The script sort implies that the script must return a value for every document, there are multiple strategies that can be implemented when a field is missing so it is more flexible to implement them directly in the script. However for the case where creating a missing value in the script is not possible (string s

[2019-03-15 09:06] #34597 closed

[2019-03-15 09:19] MosheMalin commented on #28494
Can it be controlled in 6.X somehow?
Alternatively, while viewing a dashboard, where can I find an indication that the results are partial?
It happens to me from time to time, and it may lead to false alarms.

[2019-03-15 09:25] #38785 closed

[2019-03-15 09:30] kutty-kumar commented on #32949
@shoaib4330 have u started working on this, if not then i will pick it up.

[2019-03-15 09:45] #39597 closed

[2019-03-15 09:46] MohamedHamouGisaia opened #40085 "geo_shape 'within' query regression in 6.6"
**Elasticsearch version**
`Version: 6.6.1, Build: default/zip/1fd8f69/2019-02-13T17:10:04.160291Z, JVM: 1.8.0_181`

**Plugins installed**:
`None`

**JVM version** :
`java version "1.8.0_181"`
`Java(TM) SE Runtime Environment (build 1.8.0_181-b13)`
`Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)`

**OS version**
`Linux tizintest 4.15.0-45-generic #48-Ubuntu SMP Tue Jan 29 16:28:13

[2019-03-15 10:03] markharwood commented on #28494
Yes, [at cluster and query level.](https://gist.github.com/markharwood/f013e8aa8963d772356ecb7c513f82e5) since 6.3.

This is what I see (Kibana 6.6) when partial results are allowed and there's a partial failure:
<img width="188" alt="Kibana" src="https://user-images.githubusercontent.com/170925/54423274-3241e300-4708-11e9-8d3e-d7cd804312d6.png">
The partial results are shown but with a warning me

[2019-03-15 10:12] davidkyle commented on #39858
Another instance https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2535/console

Does not reproduce
[code]

[test.log](https://github.com/elastic/elasticsearch/files/2970086/test.log)

There have been a number of instances of this test failing, muted on master 27346a076b5f3ca9a81dabbf1796182d3ffc7e00, 7.x  78a97543184262b522a014a12281db38d9e273f2 and 7.0 3499f3e6e8b311b57

[2019-03-15 10:21] davidkyle commented on #39617
The reproduce line from the build failure does not work but if I append `-Dtests.iters=100` then I repeatedly get failures

[code]

[code]

Note the difference between expected and actual is exactly 1 hour.

[2019-03-15 10:30] elasticmachine commented on #40085
Pinging @elastic/es-analytics-geo

[2019-03-15 11:10] dr0i commented on #39832
Uh - you are completeley right!
Even the Exceptions of BulkRequests _are indeed_  returned, as `WARN` via the `BulkResponse.class` (even also returning the `id` of the document). How could I miss that?
Sorry for this unnecessary question here and thanks again for your help!

[2019-03-15 11:10] #39832 closed

[2019-03-15 11:12] hendrikmuhs commented on #39974
@benwtrent

The idea with using `getValueAsString()` seems good to me. When we create the bulk index request we turn everything into a string anyway.

When double values are turned into strings they are written using scientific notation if the value is larger than `10**7`. Parsing scientific works fine except for the date parser.

Interestingly `getValueAsString()` uses the following implementatio

[2019-03-15 11:26] jkakavas commented on #39581
This was resolved in 6.6 in 7609e890ffec68176117171033d6ed46aea61044, that backported the fix that was applied to other versions too and 75705d6 was reverted. 6.7 should have been fixed already and the failures in this PR only mentioned 6.6 eitherway, so I reverted 2c10c93 also.

[2019-03-15 11:26] #39581 closed

[2019-03-15 12:01] davidkyle opened #40089 "[CI] Multiple failures in CcrRetentionLeaseIT"
Possibly related to #39509

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+internalClusterTest/2350/console

[code]

A number of errors like:

[code]

[The full test log](https://github.com/elastic/elasticsearch/files/2970878/test_log.txt)

[2019-03-15 12:01] elasticmachine commented on #40089
Pinging @elastic/es-distributed

[2019-03-15 12:16] #40022 closed

[2019-03-15 12:17] Ingramz opened #40091 "Multi Match Query documentation points to a dead end"
On [Multi Match Query](https://www.elastic.co/guide/en/elasticsearch/reference/6.6/query-dsl-multi-match-query.html) page, there's a line:

Also, accepts `analyzer`, `boost`, `lenient`, `slop` and `zero_terms_query`  as explained
in [Match Query](https://www.elastic.co/guide/en/elasticsearch/reference/6.6/query-dsl-match-query.html).

However when navigating to the Match Query page, there is no me

[2019-03-15 12:22] amirhadadi commented on #39890
We tested disabling field interning using reflection on JsonXContent.jsonFactory, effectively doing:

`jsonFactory.disable(JsonFactory.Feature.INTERN_FIELD_NAMES)`

And profiled with JVisualVM.
SearchSourceBuilder::parseXContent which was previously consuming 10% of total CPU time is  now down to 3%.

[2019-03-15 12:25] a139786 opened #40093 "Assertion in ReplicationTracker.java breaks build"
git clone
cd elasticsearch
./gradlew assemble
=======================================
Elasticsearch Build Hamster says Hello!
  Gradle Version        : 5.2.1
  OS Info               : Linux 4.4.175-94.79-default (amd64)
  JDK Version           : 11 (Oracle Corporation 11.0.2 [OpenJDK 64-Bit Server VM 11.0.2+9])
  JAVA_HOME             : /usr/java/jdk-11.0.2
  Random Testing Seed   : C3F65B31829A01

[2019-03-15 12:30] davidkyle commented on #38356
2 more failures

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+packaging-tests/449/console  (worker 844165)
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+packaging-tests/450/consoleFull
 (worker 854308)

It looks like worker-862475 is the only machine successfully building now after @danielmitterdorfer's clean up. Can you share the steps please

[2019-03-15 12:42] ywelsch commented on #40093
This has since been fixed (see fd70883e264), please pull the latest changes.

[2019-03-15 12:42] #40093 closed

[2019-03-15 12:56] DaveCTurner commented on #17418
I've raised this with the team and we again concluded that this is not something we'd want to proceed with, effectively for the reasons I raised above. If your clusters are exceeding the high watermark frequently enough for this to be a concern then _that_ is the thing you should be trying to address.

If, despite this strong recommendation, you remain convinced that this is the path you wish to f

[2019-03-15 13:38] davidkyle commented on #30290
`SplitIndexIT` failed with this error.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+internalClusterTest/2354/console

The assertBusy did not help:
[code]

Here's the reproduce line

[code]

[2019-03-15 13:56] pgomulka commented on #39916
I think @polyfractal suggestion would work best.
I noticed that these would work
[code]
[code]
Couldn't find this in javadocs, but looks like DateTimeFormatter's patterns with optional depend on ordering. Someone raised a JDK bug, but it was closed as a non issue with comment:
[code]
https://bugs.openjdk.java.net/browse/JDK-8188771

I don't think this is ideal, but we can workaround this with an a

[2019-03-15 14:11] davidkyle commented on #32827
Another failure in `testQueryRewriteDatesWithNow`  on 6.6

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.6+multijob-unix-compatibility/os=ubuntu-16.04&&immutable/172/console

[test.log](https://github.com/elastic/elasticsearch/files/2971434/test.log)

The reproduce line, obviously it does not reproduce

[code]

[2019-03-15 14:25] elasticdog commented on #34095
All worker images that are capable of running Docker do receive a `docker` label on them in Jenkins, so that can be used as a target for these particular jobs.

[2019-03-15 14:30] elasticdog commented on #39977
I definitely agree that it would be good to come up with some mechanism to have experimental issues without affecting the regular ones. It can be tricky to balance our own Packer build times and complexity, but I'll think about how we can introduce things like this more cleanly (I hadn't expected there to be any side effects to having this software baked into the images).

[2019-03-15 14:33] #30758 closed

[2019-03-15 14:49] davidkyle opened #40099 "[CI] Packaging test93ElasticsearchNodeCustomDataPathAndNotEsHomeWorkDir failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/564/console and https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/563/console

[code]

The Error:

[code]

[2019-03-15 14:49] elasticmachine commented on #40099
Pinging @elastic/es-core-infra

[2019-03-15 14:49] martijnvg commented on #40091
So phrase queries are performed with [match phrase query](https://www.elastic.co/guide/en/elasticsearch/reference/6.6/query-dsl-match-query-phrase.html) and not with the match query. The `boost` parameter is missing from the documentation page of match query (also match phrase and match phrase prefix query documentation).

[2019-03-15 14:54] elasticmachine commented on #39916
Pinging @elastic/es-core-infra

[2019-03-15 15:22] davidkyle commented on #40089
Muted in master 65e97325d9fd3413a4b925c356fbf8c02e29a25b, 7.x 4eb3683d65265bd30881468cdf98232c2a48c230 and 7.0 57705ec0cde31e75467a95b8f1291a3ab0b46dff

[2019-03-15 15:33] jkakavas commented on #40025
This failed in a PR : https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-2/10043/console and it looks like the reason is

The reason is that the following two values are supposed to be set in milliseconds (not seconds :/ ) and the attribute resolving phase was timing out while the authentication was successful.

[code]

[2019-03-15 15:44] jkakavas commented on #40099
This also failed in a PR: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request+packaging-tests-sample/11362/console

[2019-03-15 15:46] #34269 closed

[2019-03-15 15:58] jkakavas opened #40103 "[CI] full-cluster-restart:with-system-key:v6.6.3 fails in 7.x/7.0 in a FIPS JVM"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8fips,nodes=immutable&&linux&&docker/74/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8fips,nodes=immutable&&linux&&docker/74/console

This failed as the node didn't start

[co

[2019-03-15 16:01] jkakavas commented on #40103
This fails with
[code]

[2019-03-15 16:07] ywelsch commented on #38057
Conditional updates might be the better solution here (see `_version` field in https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update.html and https://www.elastic.co/guide/en/elasticsearch/reference/6.5/docs-index_.html#index-versioning). This also prevents the case where multiple users might be concurrently editing the same data and overriding each other's changes. The UI wil

[2019-03-15 16:26] davidkyle commented on #39753
Another
[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/563/console

[2019-03-15 16:38] davidkyle opened #40106 "[CI] SamlAuthenticationIT testLoginUserWithSamlRoleMapping failure"
2 recent failures both on the 7.x branch

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+periodic/209/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=zulu8,nodes=immutable&&linux&&docker/74/console

The error was the in both cases:
[code]

[code]

[code]

[2019-03-15 16:38] elasticmachine commented on #40106
Pinging @elastic/es-security

[2019-03-15 16:41] davidkyle commented on #40106
Possibly a duplicate of #40025

[2019-03-15 16:49] dnhatn opened #40107 "New master repeatedly reroute and fetch shard store of recovering replica"
If a master fails over and there's a replica performing phase1 of recovery, then the new master will repeatedly but fail to fetch shard store of the recovering replica until that replica completes phase 1. Some consequences of this:

- Spam log files over and over
- Flood the master node with many reroute task
- If there's an unassigned shard (same shardId with the recovering replica), it won't be

[2019-03-15 16:49] elasticmachine commented on #40107
Pinging @elastic/es-distributed

[2019-03-15 17:01] jkakavas commented on #40106
https://github.com/elastic/elasticsearch/pull/40102 will fix this too

[2019-03-15 17:17] ywelsch commented on #29368
Closing in favor of #34553

[2019-03-15 17:17] #29368 closed

[2019-03-15 17:24] ywelsch commented on #32139
@jpountz given that 6.5 is released, what needs to be done here?

[2019-03-15 17:33] jpountz commented on #32139
Closing, this is not relevant anymore.

[2019-03-15 17:33] #32139 closed

[2019-03-15 18:06] ywelsch commented on #33661
There is very little we can investigate on our end here, which is why I'm closing this one out. @gna582 do let us know if you have more news here. Thank you.

[2019-03-15 18:06] #33661 closed

[2019-03-15 18:08] floragunncom opened #40114 "HEAD variant of get indices aliases api hangs/blocks indefinitely"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.5.1+6.5.4 (and possibly others)

**Plugins installed**: []

**JVM version** (`java -version`):
n/a

**OS version** (`uname -a` if on a Unix-like system):
n/a

**Description of the problem including expected versus actual behavior**:
```curl -XGET http://localhost:9200/myindex/_alias``` works as expected but
```curl -XHEAD http://localhos

[2019-03-15 18:13] elasticmachine commented on #40114
Pinging @elastic/es-core-features

[2019-03-15 19:23] Bukhtawar opened #40115 "Factor GC overhead in circuit breakers"
### Problem Description
There are a bunch of circuit breakers that track for estimated bytes consumed for major memory contributors but there is still room for unaccounted memory #35564, #20837, #20250 etc. The newly introduced real circuit breaker #31767 isn't foolproof as large time gaps between reservation and actual allocation can cause few bulky concurrent request to cause OOM.

### Proposal

[2019-03-15 19:27] elasticmachine commented on #40115
Pinging @elastic/es-core-infra

[2019-03-15 19:40] gwbrown opened #40116 "transforms_crud.yml#data_frame/transforms_crud/Test basic transform crud failure on CI"
One of my PR builds hit this: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-2/10073/console

Does not reproduce locally with:
[code]

Failure info & Stack trace:
[code]

[Full build log saved for posterity](https://github.com/elastic/elasticsearch/files/2972641/consoleText.txt)

[2019-03-15 19:40] elasticmachine commented on #40116
Pinging @elastic/ml-core

[2019-03-15 19:47] not-napoleon commented on #38786
I'm removing the `feedback_needed` label here since it looks like our questions were answered.

[2019-03-15 20:01] floragunncom commented on #40114
Seems more like a glitch in the docs. After more investigation adding ```-I``` or ```--head``` to curl seems to make it work.

[2019-03-15 20:05] gwbrown commented on #40024
This build appears to have been lost.  From the build stats kibana, the stack trace is:
[code]

Looks like this might be a failure related to sequence numbers and the global checkpoint - adding the distributed team, could someone take a look?

[2019-03-15 20:06] elasticmachine commented on #40024
Pinging @elastic/es-distributed

[2019-03-15 21:06] dnhatn commented on #36712
Close in favor of https://github.com/elastic/elasticsearch/pull/38643.

[2019-03-15 21:06] #36712 closed

[2019-03-15 21:08] cdenneen commented on #15975
using the tasks api to see that a forcemerge might still be running doesn't really tell us anything as far as % completion to give estimation... when this is combined with something like curator to forcemerge a bunch of indexes that meet criteria it would be useful to know when these will end so they don't step on each other or cause other contention issues.

[2019-03-16 01:17] ppf2 opened #40122 "Provide an additional docs count metric on top level Elasticsearch documents in _cat/indices?"
This keeps coming up from time to time.  The count differences reported by various different APIs in Elasticsearch have often been a source of confusion.  Just a few examples:

https://github.com/elastic/elasticsearch/issues/25868
https://github.com/elastic/elasticsearch/issues/17319
https://github.com/elastic/elasticsearch/issues/27502
https://discuss.elastic.co/t/cat-indices-docs-count-is-way-ab

[2019-03-16 02:50] #40099 closed

[2019-03-16 11:01] costin commented on #39931
@broodfusion First off, thank you for the detailed issue report!
Can you please upgrade to 6.6.2?  It contains two fixes related to both negation and LIKE (https://github.com/elastic/elasticsearch/pull/39443) which might address your issue.

FWIW, I've tried your query against master and the query is generated correctly:
[code]

Thank you.

[2019-03-16 14:02] #40116 closed

[2019-03-16 14:09] jasontedor commented on #40114
Thanks for reporting!

This is unfortunate but known behavior for `curl`. When you send a `HEAD` request for `curl` via `-X HEAD` curl sends the `HEAD` method, but it acts like a `GET` so it sits there waiting for `Content-Length` bytes to arrive`. Since the server saw a `HEAD` request though, it would never send these bytes and `curl` will hang indefinitely waiting for them. As you've discovered,

[2019-03-16 14:09] #40114 closed

[2019-03-16 14:11] rvodden commented on #35057
I can trigger this behaviour by changing the IP address of the monitoring cluster. (Or by waiting for the IP of the aws ELB to change, in my case). I'm going to do some digging and see which part of the code is not honouring the DNS timeouts.

[2019-03-16 15:30] ollik1 opened #40125 "MLT queries with custom term frequencies"
**Elasticsearch version** (`bin/elasticsearch --version`): latest master snapshot, affects all elasticsearch versions with lucene 7.0 or later

**Plugins installed**: []

**JVM version** (`java -version`): openjdk version "11.0.2" 2019-01-15

**OS version** (`uname -a` if on a Unix-like system): Darwin Kernel Version 18.2.0

**Description of the problem including expected versus actual behavior**:

[2019-03-16 16:39] acarstoiu commented on #23874
Ran into this and had a look at the `BucketHelpers` class. I'd go for solution _2_ proposed above by @colings86, namely:
- rename with an IDE the `resolveBucketValue()` method to `resolveBucketNumericalValue()` - this should modify all uses, **except for** the _bucket_selector_ and _bucket_script_ aggregations
- inside `BucketHelpers`, create method `resolveBucketValue()` with the same parameter l

[2019-03-16 16:44] acarstoiu commented on #23874
Uhm... and I would replace the "high" with a "low" in that label.

[2019-03-16 17:49] jasontedor opened #40128 "CCR auto-follow patterns are lost after a master restart"
There is a blocking issue with auto-follow patterns, they can be lost after a master restart.

Start a single node and put an auto-follow pattern. Use `GET /_ccr/auto_follow` to verify that the pattern was put. Now restart the node and `GET /_ccr/auto_follow` and note the pattern is now missing. At this point, auto-follow functionality ceases to work until the pattern is put again.

[2019-03-16 17:49] elasticmachine commented on #40128
Pinging @elastic/es-distributed

[2019-03-16 19:37] broodfusion commented on #39931
Hi @costin  thanks for the response. However it looks like you're not using it with aggregate functions in the above query.

This works fine **without** aggregate functions, but when used in combination with aggregate functions such as `SUM()`, `COUNT()`, etc, it breaks. I just tried it with version 6.6.2 and it still doesn't work.

Try doing something like this:
[code]

### Output from Kibana

[c

[2019-03-16 21:23] jasontedor commented on #40114
Also, note the warning here:

[code]

[2019-03-16 21:36] eskibars opened #40131 "Docs for FIPS 140-2 has an edit_url artifact"
I haven't tried to dig in and tell where this is coming from or what it's intended to link to, but at the bottom of https://www.elastic.co/guide/en/elasticsearch/reference/current/fips-140-compliance.html#_limitations , the docs read

[2019-03-17 00:24] eskibars opened #40132 "Docs for keystore commands for email and jira actions incorrect"
The documentation for the email and jira actions for Watcher (https://www.elastic.co/guide/en/elastic-stack-overview/6.6/actions-email.html#gmail and https://www.elastic.co/guide/en/elastic-stack-overview/6.6/actions-jira.html)

leaves off the `add` part of the command.  For example, the docs on both of these pages read:

`bin/elasticsearch-keystore xpack.notification.email.account.gmail_account.s

[2019-03-17 07:43] droberts195 opened #40134 "[CI] JobResultsProviderIT testMultipleSimultaneousJobCreations fails"
`JobResultsProviderIT testMultipleSimultaneousJobCreations` failed in several builds, for example https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+intake/600/console

The error is always:

[code]

This occurs during the cleanup after the actual test is complete.

The test runs as part of this suite:

[code]

It never reproduces using the REPRO command in the failure emails.  I sus

[2019-03-17 07:43] elasticmachine commented on #40134
Pinging @elastic/ml-core

[2019-03-17 08:03] droberts195 commented on #40134
Muted by:

master: 7a2ff624ea745d93ebf467ef3cd03827905c0418
7.x: 64028f3d8fee6b581a08a78eda3244176369c819
7.0: 4a54dd6c831b74e601d56361f1ac6162c3222c34
6.7: f2d61d345b08c357aa3879915bde0462bb822474

[2019-03-17 08:25] DaveCTurner commented on #40107
Relates https://github.com/elastic/elasticsearch/pull/29140#issuecomment-471514501 and issues linked from there.

[2019-03-17 09:45] #40025 closed

[2019-03-17 11:03] #39555 closed

[2019-03-17 15:26] dnhatn commented on #32027
There's not much that we can do with the existing log. I have integrated #40133 which will dump the cluster state if ensureGreen is timed out.

[2019-03-17 15:26] #32027 closed

[2019-03-17 15:58] acarstoiu opened #40136 "The parent_id query should support multiple parent IDs"
Currently the `parent_id` query does not allow to specifiy multiple parent document IDs (that's why it's **not** called `parent_ids`). Such a query can, of course, be rephrased as a `has_parent` wrapped around an `ids` query.
But given that there's a substantial performance penalty, why not accept arrays of IDs as values for `parent_id.id` :question:

[2019-03-17 16:56] diegocsandrim commented on #35285
@tvernum can you give it a look? #40137
I have talked with @vikene and he let me work in the issue (response from email)
I have implemented your review sugestions from the PR #35432, with little changes to improve readability.

[2019-03-17 18:38] micoq commented on #27748
Hello @azuresky11,

Can you provide some details about the configuration, the queries and the dataset you used to run these tests ?
- OS, Elasticsearch, Java and plugin versions
- CPU / RAM / Storage
- involved queries in your tests (read only, writes, only indexing... ?)
- index settings (did you used other settings than `"index.store.type":"nativeunixfs"` in you second test ?)
- dataset (size, n

[2019-03-17 20:08] bsamartins commented on #34459
@atorok, are there any updates on merges / pieces that have merged?

I can take the PrecommitTasks

[2019-03-18 00:13] eskibars opened #40139 "License update docs can lead to parsing errors on Windows"
At https://www.elastic.co/guide/en/elasticsearch/reference/current/update-license.html we call out Windows instructions for adding/updating a license as

However, if the license is prettified json (as one I ran into was), gc outputs an array of strings rather than the full file as a single object, so you can get a situation where Elasticsearch can't parse the input.

There are 2 safer ways of doin

[2019-03-18 06:45] #39580 closed

[2019-03-18 07:33] jkakavas opened #40143 "Full Cluster Restart and Rolling Upgrade Tests failures in FIPS"
Tests started failing when we stared running integTests with the runtime Java and nodes ran in a FIPS JVM as the settings used JKS keystores for the key material. Example failures :

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8fips,nodes=immutable&&linux&&docker/78/console

and associated logs

[code]

Cluster tim

[2019-03-18 07:33] elasticmachine commented on #40143
Pinging @elastic/es-security

[2019-03-18 07:33] elasticmachine commented on #40143
Pinging @elastic/es-core-infra

[2019-03-18 07:34] jkakavas commented on #40143
Resolved in  #40105

[2019-03-18 07:34] #40143 closed

[2019-03-18 07:43] kutty-kumar commented on #39666
@vedantseta have you started working on this yet? if not i would like to pick this up.

[2019-03-18 07:44] dnhatn commented on #39565
I am able to reproduce this. I will work on the fix.

[2019-03-18 09:22] droberts195 commented on #40134
It's unfortunate that the exception doesn't say which index all shards failed for.

Based on previous experience of async effects of job creation interfering with cleanup in between tests it could well be the audit notifications generated by creation of the jobs that clash with deletion of the ML indices after the test completes.

The test could be changed to finish with an `assertBusy` that the n

[2019-03-18 09:43] elasticmachine commented on #40139
Pinging @elastic/es-security

[2019-03-18 09:44] elasticmachine commented on #40136
Pinging @elastic/es-search

[2019-03-18 09:45] elasticmachine commented on #40132
Pinging @elastic/es-core-features

[2019-03-18 09:46] elasticmachine commented on #40131
Pinging @elastic/es-security

[2019-03-18 10:02] elasticmachine commented on #40125
Pinging @elastic/es-search

[2019-03-18 10:05] elasticmachine commented on #40122
Pinging @elastic/es-core-features

[2019-03-18 10:20] ywelsch commented on #36189
@original-brownbear are you still investigating this one or should we close it as unfixed test-bug in 6.x?

[2019-03-18 10:27] original-brownbear commented on #36189
@ywelsch I'd close it, sorry for letting this fall off the radar. It seems to be some concurrency issue(s) with the test cluster in `6.x` and it looks like it's not entirely trivial to fix those since the fix in #39168 doesn't easily back port to `6.x` -> closing.

[2019-03-18 10:29] #38816 closed

[2019-03-18 10:39] astefan commented on #39513
After some digging, my test was faulty because, apparently, I was using a REST client that re-formatted the json output.

In reality, using `curl` or the Chrome browser revealed that the output is consistent  throughout all formats (which is expected and desirable) and the output is the default Java behavior for formatting numbers:

For the time being, we will leave this as is right now, but leave

[2019-03-18 10:43] bpintea commented on #39739
@astefan , @costin With a build from `[default/zip/be7ee7d/2019-03-15T09:34:08.151420900Z]` - so should be one day past the merge of #39738 - I still get the `products._id` listed in `sys columns table 'kibana_sample_data_ecommerce'`

[2019-03-18 10:47] astefan commented on #39739
I'm investigating.

[2019-03-18 10:49] DaveCTurner opened #40150 "Avoid blocking a thread waiting for connections"
Today we block a thread waiting for connections to open. Threads are a precious resource, and opening a connection can be time-consuming if the remote node is unresponsive. Although #39629 mostly alleviates the effects seen in #28920, it is still possible that a poorly-timed attempt by the `NodeConnectionsService` to reconnect to all the known nodes in the cluster state could saturate the small-ye

[2019-03-18 10:49] elasticmachine commented on #40150
Pinging @elastic/es-distributed

[2019-03-18 10:52] ywelsch commented on #33580
I think we should treat the auto-detection logic as best-effort and I've opened #40151 to that effect, enhancing the exception message to make it clear what needs to be done.

[2019-03-18 10:57] bpintea commented on #39739
@astefan , @costin With a build from `[default/zip/be7ee7d/2019-03-15T09:34:08.151420900Z]` - so should be one day past the merge of #39738 - I still get the `products._id` listed, both in CLI `sys columns table 'kibana_sample_data_ecommerce'` and driver mode -- field listed by a BI tool:
![Capture](https://user-images.githubusercontent.com/1562801/54525614-e6e03c80-4974-11e9-873b-3ade4974f62a.PNG

[2019-03-18 11:04] jkakavas commented on #40131
Hey @lcawl , this doesn't look like it's part of the asciidoc file, do you have any ideas why the `:edit_url:` is rendered as text ? IIUC, this is the "edit" icon that is rendered on the right hand side of each section and points to the asciidoc source in the repo, but this is the last part in this file so there is no section that follows here..

Could it be that this is missing/excessive white sp

[2019-03-18 11:08] markharwood commented on #40002
Entity attributes that we see as being of interest:

Attribute type| Update approach| Example use case
------------|------|-------
Last known state | Set `keyword` field with status of most recent event|[security credentials](https://discuss.elastic.co/t/pick-latest-child-records-of-each-parent-and-aggregate-data/172227), number of [still-running processes](https://discuss.elastic.co/t/searching-a

[2019-03-18 11:08] bpintea commented on #39739
Additional clarification: the issue in original interpretation (=as the field being listed) is still there. But the error returned when selecting the fields is now different (`[SqlIllegalArgumentException[Arrays (returned by [products._id]) are not supported]`), which is actually a different issue (and probably addressed accordingly, #39700).

[2019-03-18 11:18] matriv opened #40152 "SQL: Columns of type DATETIME are returned always at UTC"
The timezone set by the client (REST, JDBC, ODBC) is not used when selecting columns of data type DATETIME, instead `UTC` is always used. E.g.:
[code]

The same issue (UTC is always used) occurs also for all grouping queries

[2019-03-18 11:18] elasticmachine commented on #40152
Pinging @elastic/es-search

[2019-03-18 11:20] pgomulka commented on #39916
the alternative to the PR above is just to state in a documentation that patterns have to be in order (longest to shortest / most strict/least strict)

[2019-03-18 11:23] #40067 closed

[2019-03-18 11:47] astefan commented on #39739
@bpintea the second error message is correct, that's how it's supposed to happen imo. But, after [this PR](https://github.com/elastic/elasticsearch/pull/40113) we will display one value and not issue an error message anymore, for drivers.

Regarding the `_id` field, that's a sub-field, and user-defined and it should be returned by `SYS COLUMNS`, even for drivers. What we shouldn't return, and we d

[2019-03-18 12:09] maxozerov commented on #40045
@jdconrad yeah, sorry, mix up repo). Ok, I'm re-submit this issue to the Kibana repository.

[2019-03-18 12:44] kutty-kumar commented on #39666
@jasontedor  please check the above merge request.

[2019-03-18 12:46] bpintea commented on #39739
@astefan Sounds good. I'm, fine with having this issue closed then.

[2019-03-18 12:59] pdanysz commented on #22475
Dears,
I faced an issue with **elasticsearch.keystore** location when using **Elastic on Kubernetes clusters** and configuration are mounted via **ConfigMaps**. Due to this I have "read-only" fs of /etc/elasticsearch and because of that , ES is going to crash.

[code]

It will be great to have a settings for keystore location in elasticsearch.yaml to set directory outside of /etc/elasticsearch.

C

[2019-03-18 13:35] #39956 closed

[2019-03-18 13:44] polyfractal commented on #23874
Also related, recent discussions about exposing the string key of geo tiles: https://github.com/elastic/elasticsearch/issues/39957#issuecomment-472178949

[2019-03-18 14:08] DaveCTurner commented on #27427
This issue and the linked PRs seem to have stalled. I would like to close this to indicate that nobody is actively working on it any more. We're still happy to review PRs that improve the performance of cluster state applications involving rerouting.

[2019-03-18 14:08] #27427 closed

[2019-03-18 14:16] DaveCTurner commented on #23395
We have looked at this a few times and have been unable to reconcile it with our desire for dev mode and prod mode to be as close as possible in behaviour. Although it's a good idea we have also not seen a lot of further support for it. I would like to close this to indicate that we do not intend to work on this now, but you are welcome to leave further comments, including +1s indicating that this

[2019-03-18 14:16] #23395 closed

[2019-03-18 14:27] DaveCTurner commented on #34510
Thanks for opening this issue @dmitrymurashenkov. The same idea was more recently suggested in #39334 and we discussed that as a team and agreed it was a good idea. There's little point in having both issues open, so although this one was opened first we added our collective thoughts in
https://github.com/elastic/elasticsearch/issues/39334#issuecomment-467891057, so I am closing this as a duplicat

[2019-03-18 14:27] #34510 closed

[2019-03-18 14:34] DaveCTurner commented on #31253
I have marked this as `team-discuss` because I think it is a good idea and want to discuss with the team how we should approach this while preserving BWC.

[2019-03-18 15:10] droberts195 commented on #39187
I saw the same problem with the "netstore" data set.  Not only are the `model_bytes` numbers different, but because the decision on when to write `model_size_stats` documents depends on `model_bytes`, the number of `model_size_stats` documents can vary.  These two screenshots are from jobs that were run on the same machine and only differ only in the `job_id`:

![mss3](https://user-images.githubus

[2019-03-18 15:30] jpountz opened #40159 "Re-consider whether _forcemerge should honor max_num_segments over maxMergedSegmentSize"
Currently `_forcemerge` chooses to honor `max_num_segments` over the maximum segment size. So if the maximum segment size is 5GB (default) and you ask a 10GB shard to be force-merged then you will get a 10GB segment. It makes it hard to have a one-size-fits-all policy regarding the value of `max_num_segments` that should be provided: merging shards of 10GB down to 1 segment is probably fine, mergi

[2019-03-18 15:30] elasticmachine commented on #40159
Pinging @elastic/es-core-features

[2019-03-18 16:19] danielmitterdorfer commented on #39916
You're right but I think that's too trappy.

[2019-03-18 16:20] dnhatn commented on #37336
@ppf2 Thanks for reporting this.

Although it's possible to close then pause before unfollow, we indeed recommend users to pause then close before unfollow to avoid unnecessary noise.

[2019-03-18 16:20] #37336 closed

[2019-03-18 17:05] lcawl commented on #40131
The same problem exists in these pages:
https://www.elastic.co/guide/en/elasticsearch/reference/master/ciphers.html
https://www.elastic.co/guide/en/elasticsearch/reference/master/separating-node-client-traffic.html
https://www.elastic.co/guide/en/elasticsearch/reference/6.3/security-settings.html
...
Might be related to some clean up of the edit links (e.g. https://github.com/elastic/docs/pull/642

[2019-03-18 17:09] astefan opened #40162 "SQL: inconsistent results for YEAR method"
For the following test data:

[code]

and query `SELECT count(*), YEAR(certified) year FROM certification WHERE certified > 0 GROUP BY year` we get:

[code]

But for a slightly modified query (by adding another grouping): `SELECT count(*), YEAR(certified) year FROM certification WHERE certified > 0 GROUP BY year, certified` we get:

[code]

[2019-03-18 17:09] elasticmachine commented on #40162
Pinging @elastic/es-search

[2019-03-18 17:14] nik9000 commented on #40131
It [looks](https://github.com/elastic/built-docs/blob/bb5bf93e21275876affa8e42461c988a1418ac3c/html/en/elasticsearch/reference/master/ciphers.html#L723) to me like `edit_url` has been in `ciphers.html` for as long as I have the history for it.

[2019-03-18 17:28] astefan opened #40164 "SQL: passing an input to the CLI "freezes" the CLI after displaying an error message"
[code]

The message above will be shortly displayed in console before actually starting the SQL CLI in a semi-"frozen" mode (only CTRL+C will move the cursor to the next line nothing else will work).

[2019-03-18 17:28] elasticmachine commented on #40164
Pinging @elastic/es-search

[2019-03-18 17:31] lcawl commented on #40131
The problematic pages that I've found so far seem to be fixed by adding blank lines as in https://github.com/elastic/elasticsearch/pull/40161

[2019-03-18 17:34] dforegger commented on #29184
Is there any plan for this on the roadmap? From the earlier conversation, it sounds like this is desirable and there was work towards this a year ago, but I don't see any target release/milestones on the ticket.

At the risk of overstepping...: This has been one of the few areas where elastic falls well behind in feature-comparison with other search applications. Writing queries/indexing (and inde

[2019-03-18 17:43] gwbrown opened #40165 "Reproducible agg-ordering.testMultipleGroupingsAndOrderingByGroupsWithFunctions_3 failure on CI"
Failed on a [PR](https://github.com/elastic/elasticsearch/pull/40121) against 7.0 related to the migration assistant: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-2/10171/console

Reproduce line (reproduces for me):
[code]

Stack trace:
[code]

Build log: [consoleText.txt](https://github.com/elastic/elasticsearch/files/2979502/consoleText.txt)

[2019-03-18 17:43] elasticmachine commented on #40165
Pinging @elastic/es-search

[2019-03-18 17:49] astefan commented on #40165
I think I know what is this about. I've had this before: uppercasing/lowercasing a certain letter in a specific locale. And this one came up now because those are tests I just added today.

[2019-03-18 18:30] jaymode opened #40170 "NodeConnectionsServiceTests.testOnlyBlocksOnConnectionsToNewNodes failure in CI"
This failure did not reproduce for me locally, but the logs indicate there was a timeout waiting on a cyclic barrier.

Reproduce line:

[code]

Error:

[code]

It looks like there may be a different issue that caused this:

[code]

Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2602/console

[2019-03-18 18:30] elasticmachine commented on #40170
Pinging @elastic/es-distributed

[2019-03-18 19:14] jaymode commented on #34514
I came across a similar failure where one of these tests fail, https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+intake/617/console. In this case, the tls handshake times out after 10 seconds:

[code]

This did not reproduce locally.

[code]

@tbrooks8 @original-brownbear any thoughts?

[2019-03-18 19:45] jaymode opened #40174 "MockDiskUsagesIT.testRerouteOccursOnDiskPassingHighWatermark fails in CI"
The MockDiskUsagesIT#testRerouteOccursOnDiskPassingHighWatermark failed in CI since the node was expected to have 4 shards assigned to it but had 5. https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=immutable&&linux&&docker/81/console

Reproduce line (did not reproduce locally):

[code]

Watermark triggered:

[c

[2019-03-18 19:45] elasticmachine commented on #40174
Pinging @elastic/es-distributed

[2019-03-18 19:50] tbrooks8 commented on #34514
As I've mentioned in the past I think the name of this issue does not describe the reason for the failure. A `close_notify` during a handshake should be fine which is why we recently stopped logging that at warn level (although if it is a suppressed exception we will still see it depending on the top-level exception). I am in agreement that the SSL handshake timed-out after 10 seconds (based on th

[2019-03-18 19:54] jaymode commented on #39852
This test failed again, https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=openjdk12,nodes=immutable&&linux&&docker/81/console. It does not reproduce locally for me.

Reproduce line:

[code]

The failure with the additional output added by @original-brownbear is:

[code]

Output from testSnapshotWithStuckNode:

[code]

[2019-03-18 19:59] original-brownbear commented on #39852
Thanks @jaymode ! looks like we're leaving a dangling data file behind here. That's kind of interesting:

[code]

shouldn't be there. Looking into it shortly.

[2019-03-18 20:10] jaymode commented on #32773
This has reappeared in the 6.6 BWC tests
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.6+bwc-tests/313/console.

[code]

[2019-03-18 20:11] gwbrown commented on #40014
These APIs have been deprecated in 6.7 in https://github.com/elastic/elasticsearch/pull/40072, and removed in 7.0 and later by https://github.com/elastic/elasticsearch/pull/40075.

[2019-03-18 20:11] #40014 closed

[2019-03-18 20:13] #39437 closed

[2019-03-18 20:21] jaymode opened #40178 "FullClusterRestartIT#testWatcher failure in CI"
The testWatcher test in the FullClusterRestartIT class failed in CI, https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2595/console. This did not reproduce for me.

Reproduce line:

[code]

Error:

[code]

It looks like the test depends on versioning, but something else updates the watch between creation and the update; maybe execution of the watch?

[2019-03-18 20:21] elasticmachine commented on #40178
Pinging @elastic/es-core-features

[2019-03-18 20:25] polyfractal commented on #32773
Thanks for the ping.  Looks like it might be a missed backport.  Investigating

[2019-03-18 20:26] ZLightning opened #40179 "Support bare IP in ip_range fields"
**Describe the feature**:

The ip_range should have a default mask to accept bare IP addresses that are appropriate for the type (`/32` for IPv4 and `/128` for IPv6) rather than rejecting the input.  Using the example of an ip whitelist (as shown in the docs)
[code]
should be equally as valid as
[code]
They both represent a range starting and ending on a single IPv4 address, and it makes sense to

[2019-03-18 20:34] jaymode commented on #39977
Another failure on 7.x, https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+periodic/226/console

[2019-03-18 20:43] jaymode opened #40181 "MovAvgIT#testHoltSingleValuedField fails reproducibly"
The MovAvgIT#testHoltSingleValuedField fails reproducibly with a given seed.

[code]

Error:

[code]

Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+multijob-unix-compatibility/os=centos-6/81/console

[2019-03-18 20:55] jaymode opened #40182 "IndexingMasterFailoverIT.testMasterFailoverDuringIndexingWithMappingChanges fails in CI"
This test failed on 6.7 in CI due to an uncaught exception https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+intake/380/console.

[code]

Reproduce (does not reproduce locally):

[code]

[2019-03-18 20:55] elasticmachine commented on #40182
Pinging @elastic/es-distributed

[2019-03-18 20:57] dnhatn commented on #39588
I am on it.

[2019-03-18 20:59] jaymode commented on #38356
Another https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+packaging-tests/460/console. Is there something we can do to make this more reliable?

[2019-03-18 21:12] jaymode commented on #39688
This failed on 7.x as well, so I muted it there.

[2019-03-18 21:12] #40131 closed

[2019-03-18 21:29] jaymode commented on #40178
Muted on [master](267c3237958f83713a8b60b16e85452e7c2e69ab), [7.x](afaa7e60f90c3ef4ca55f20f866601addc20e64a), and [7.0](d26903d12513ad4fc38fb154edeefdfaf9ff2c6c).

[2019-03-18 21:33] jaymode commented on #40165
A few more failures on the 7.0 branch, https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+intake/450/console.

[code]

[2019-03-19 00:43] oliverhenlich commented on #39080
Hi @jdconrad,

Thanks for getting back on this. Have you had a chance to discuss possible options? Out of curiosity, what are the issues with the jdk defaults for generating random UUIDs. My understanding is that `java.util.UUID` uses `SecureRandom` internally. Is this problematic?

[2019-03-19 01:47] #40128 closed

[2019-03-19 03:26] gaojccn commented on #10776
这是给查询条件起个别名吗

[2019-03-19 03:32] azuresky11 commented on #27748
@micoq
This is my configuration：
1、CentOS Linux release 7.4.1708 (Core)，elasticsearch-6.6.0，openjdk11, plugin versions:native-unix-store-6.6.0-1.0.0
2、40U 20core, virtual machine created on the server. The memory size is 16g，storage is sata 4T.
3、Test case is segment merge(but i find only one core is used while i set 40U).
4、I tried this setting :"index.store.type":“mmapfs", It takes less time.
5、

[2019-03-19 04:15] elasticmachine commented on #40179
Pinging @elastic/es-search

[2019-03-19 04:17] elasticmachine commented on #40179
Pinging @elastic/es-core-features

[2019-03-19 05:40] #39753 closed

[2019-03-19 06:24] atorok commented on #34459
@bsamartins you will need #39605 for that

[2019-03-19 06:26] atorok commented on #34459
@bsamartins you will need the other PRs merge first as you won't be able to reference Groovy classes in Java code.

[2019-03-19 07:00] danielmitterdorfer commented on #39302
Not sure why this one did not close automatically but it is resolved by https://github.com/elastic/elasticsearch/pull/39791.

[2019-03-19 07:00] #39302 closed

[2019-03-19 07:45] #40059 closed

[2019-03-19 09:01] zhaoqiqang199 opened #40191 "Cluster MultiSearch query slow"
I've had a problem that's a problem lately.
When using MultiSearch queries, queries are fast if there is only one condition, slower if multiple conditions are used, and sometimes as slow as 5 seconds
The cluster is configured with 13 nodes and 64 Shard, with 36 indexes and 200 million documents in the cluster, of which the number of index documents to be retrieved is about 12 million.
The idea of

[2019-03-19 09:09] cbuescher commented on #40191
Hi @zhaoqiqang199 ! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2019-03-19 09:09] #40191 closed

[2019-03-19 09:19] jpountz commented on #32323
@danielkasen LUCENE-8688 will be fixed in Lucene 8.1. Thanks again for reporting.

[2019-03-19 09:48] romseygeek opened #40194 "IPFilterTests failures in CI"
[code]

This has failed six times in the last six weeks, but is not reproducible

Link to build log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu-16.04&&virtual/229/console

[2019-03-19 09:48] elasticmachine commented on #40194
Pinging @elastic/es-security

[2019-03-19 09:49] romseygeek commented on #40194
Other failures:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=opensuse/307/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.6+multijob-unix-compatibility/os=opensuse/179/console

[code]

[2019-03-19 09:51] romseygeek commented on #40194
The failures have all been in `multijob-unix-compatibility` jobs, on ubuntu or opensuse

[2019-03-19 09:53] DaveCTurner opened #40198 "Perform full join validation on new nodes"
The intention of join validation is that every cluster state the master publishes is "valid" - nodes that would make the cluster state invalid are prevented from joining the cluster.

When a node attempts to join an existing cluster, the master performs a full join validation for the new node _against the last-accepted cluster state at the time it received the join request_. However the cluster st

[2019-03-19 09:53] elasticmachine commented on #40198
Pinging @elastic/es-distributed

[2019-03-19 09:57] droberts195 commented on #39187
I tried making the sort order deterministic and it does _not_ completely fix the problem of non-deterministic results.  The following jobs differed only in `job_id` and were run with a special build that used `_id` as a secondary sort order:

![sort1](https://user-images.githubusercontent.com/7405510/54596695-181c4380-4a2d-11e9-9094-9e3815ab4ccb.png)
![sort2](https://user-images.githubusercontent.

[2019-03-19 10:00] romseygeek commented on #38356
And another https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+packaging-tests/461/console

[2019-03-19 10:03] astefan commented on #40001
After some digging, this is specifically related to binary functions (ROUND, TRUNCATE) that have the second parameter optional. No other math function or string function has this issue.

[2019-03-19 10:27] romseygeek commented on #30290
Two more `SplitIndexIT` failures:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+internalClusterTest/2803/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8fips,nodes=immutable&&linux&&docker/82/console

[2019-03-19 10:36] romseygeek commented on #39852
Another failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8,nodes=immutable&&linux&&docker/306/console

[2019-03-19 10:46] ujfjhz opened #40201 "searchAfter cannot work with terminateAfter properly"
elastic version : 6.4.2

Let's say page size is 10, shard count is 1, the matched total hits is 100.
If we set terminateAfter to 10, we can optain the first page. Then we use searchAfter to get the second page, will get nothing. It seems the docs before searchAfter offset also increased the collect count, so it terminate more earlier than it should be.

[2019-03-19 10:52] droberts195 commented on #39187
Printing the input to the C++ process shows that, after sorting on the Java side, the remaining difference must be coming from the C++ side:

[code]

The difference in input is only a single character out of 128474423 and it's the flush ID on a flush control message that comes right at the end of the input, after many `model_size_stats` documents have been written.

[2019-03-19 11:04] #33382 closed

[2019-03-19 11:12] romseygeek commented on #39105
This test has failed again on 6.7: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+internalClusterTest/2792/console

[code]

[2019-03-19 11:33] markharwood commented on #40002
### Data modelling issue: - representing sessions
When we're not lucky enough to have session IDs we might want to break an entity's activity stream into discrete chunks of activity that we could think of as sessions. Using IP address as an entity ID I was able to use an update script to summarise weblogs and detect new sessions for an IP (where there's at least an hour between current log record

[2019-03-19 11:44] DaveCTurner opened #40202 "Source filtering & pretty-printing munges floating-point values"
The JSON spec permits numbers of any length and precision, and we normally preserve the `_source` of documents verbatim so these numbers correctly round-trip through Elasticsearch. However, if source filtering or pretty-printing is enabled then Elasticsearch parses the JSON and manipulates it before returning it. This parsing process round-trips floating-point-like numbers (i.e. those that contain

[2019-03-19 11:44] elasticmachine commented on #40202
Pinging @elastic/es-search

[2019-03-19 12:14] javanna commented on #40202
I suspect the result here may change also depending on the content-type of the source, and on which content-type it gets converted to at query time.

[2019-03-19 12:36] DaveCTurner commented on #40202
Indeed:

[code]

Here `7ff0 0000 0000 0000` is `+Inf`, `405e c000 0000 0000` is `123.0` and `3ff3 c0ca 428c 59fb` is `1.2345678901234567`, all represented as IEEE 754 doubles.

However I think faithfully round-tripping through different content-types is probably not the expected behaviour: for instance CBOR, unlike JSON, doesn't seem to have a way to even represent arbitrary-precision numbers.

[2019-03-19 12:49] saiergong opened #40204 "elasticsearch rest client can not send request success after elasticsearch node restart"
ES version: 6.6.2
ES rest client version:6.6.2
jvm version:1.8.0_112

**Description of the problem including expected versus actual behavior**:
i use es rest client to send bulk request to es, and i use sniffer to detect my es cluster nodes.  At begin, everything is ok, but after i restart some of my es nodes, i can not send request to es at all.

**Steps to reproduce**:
 1. start my application,

[2019-03-19 13:13] #33256 closed

[2019-03-19 13:17] dnhatn commented on #7264
@debadair is this still on your agenda?

[2019-03-19 13:35] romseygeek commented on #39977
Another in 7x: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+intake/632/console

[2019-03-19 13:40] romseygeek opened #40205 "[CI] buildDockerImage fails when installing unzip"
This has happened a couple of times recently

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8,nodes=immutable&&linux&&docker/47/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=zulu11,nodes=immutable&&linux&&docker/82/consol

[2019-03-19 13:40] elasticmachine commented on #40205
Pinging @elastic/es-core-infra

[2019-03-19 13:49] jakelandis commented on #40179
Related: https://github.com/elastic/elasticsearch/issues/38064

[2019-03-19 14:17] ywelsch commented on #33580
Closed by #40151, which treats the URL auto-detection logic as best effort and improves the exception message to make it clearer that an URL needs to be explicitly passed in case it cannot be auto-deduced.

[2019-03-19 14:17] #33580 closed

[2019-03-19 14:45] AlexP-Elastic commented on #38461
@dakrone asked the cloud team to discuss our requirements, with a view to potentially replacing our snapshot logic down the road. I'm going to talk about how it currently works and then very quickly summarize in a list of (high level) requirements at the bottom:

* We take snapshots at user-specified periods
   * _actually an oft-requested user requirement (that we _haven't_ implemented, but shoul

[2019-03-19 14:58] thomasneirynck commented on #37206
This would be a prerequisite for enabling layer-fitting in the Kibana Maps-app. This is now not possible. cf. https://github.com/elastic/kibana/issues/33509

[2019-03-19 15:00] thomasneirynck commented on #7574
This is a requirement to be able to do layer-fitting on layers backed by `geo_shape` fields in the maps app. cf. https://github.com/elastic/kibana/issues/33509

[2019-03-19 15:07] #20891 closed

[2019-03-19 15:08] thomasneirynck commented on #21293
To give some context from the Kibana Maps app perspective.

The UX currently disables indices with `geo_shape` fields from being added as a grid or heatmap. It would help improve the symmetry between these data sources, and reduce some of the confusion as to why users cannot make heatmaps from e.g. points stored as a `geo_shape`. Adding this would also simplify the data modeling step, as users wou

[2019-03-19 15:18] nordbergm commented on #38461
#### Snapshot Resiliency
One of the major things for me is the snapshot resiliency work we've been doing for the past 6 months or more. This effectively boils down to the challenges S3 eventual consistency has caused us with corrupt snapshots, and the cool down periods we've had to introduce as a result.

* Every write operation to the repository (create snapshot, delete snapshot) has to be follow

[2019-03-19 15:18] matriv opened #40211 "SQL: Exception thrown for trivial GROUP BY and LIMIT"
```SELECT '1' FROM test GROUP BY 1' LIMIT <x>```
throws an exception:
```Encountered a bug; LocalExec['1'{c}#161=1] is a LocalExec but is not empty```

without the LIMIT it works fine.

[2019-03-19 15:18] elasticmachine commented on #40211
Pinging @elastic/es-search

[2019-03-19 15:22] ywelsch commented on #28523
@sherry-ger would you be interested in updating the docs, based on what's in the blog post?

[2019-03-19 16:07] jasontedor commented on #39375
Closed by #39734

[2019-03-19 16:07] #39375 closed

[2019-03-19 16:24] andrershov opened #40212 "Referencing stored scripts by id does not work inside watcher actions"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.5.0

**Plugins installed**: none

**JVM version** (`java -version`):

java version "11" 2018-09-25
Java(TM) SE Runtime Environment 18.9 (build 11+28)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11+28, mixed mode)

**Description of the problem including expected versus actual behavior**:
Referencing stored scripts by id does not work in

[2019-03-19 16:24] elasticmachine commented on #40212
Pinging @elastic/es-core-features

[2019-03-19 16:38] sherry-ger commented on #28523
Certainly @ywelsch

[2019-03-19 17:07] ywelsch commented on #19146
We had an internal discussion on this and, while generally useful, think that we currently cannot take this one on, in particular give it the proper testing, support and maintenance that we provide for the other plugins in the ES repo. This might be a better fit as a community plugin for now. As a clear indication that we're not going to work on this in the foreseeable future, I'm closing this iss

[2019-03-19 17:07] #19146 closed

[2019-03-19 17:12] ywelsch commented on #28523
Thanks, that will be much appreciated

[2019-03-19 17:14] henningandersen commented on #28452
@azsolinsky thanks for your interest in improving elasticsearch. We discussed this internally and do not currently intend to work on this in the foreseeable future. I will therefore close this issue. If you still have an interest in improving this, feel free to open a pull request for it.

[2019-03-19 17:14] #28452 closed

[2019-03-19 17:29] polyfractal opened #40214 "SearchResponseMergerTests#testMergeSearchHits fails reproducibly"
Ran into this on an unrelated PR, but seems to fail reliably on master:

[code]

[code]
Will followup with a mute.

[2019-03-19 17:29] elasticmachine commented on #40214
Pinging @elastic/es-search

[2019-03-19 17:45] matriv opened #40216 "SQL: Enhance timezone reference in extractors"
Currently `FieldHitExtractor`, `CompositeKeyExtractor` and `TopHitsAggExtractor` hold the `zoneId` as an attribute and include it in serialization/deserialization. Ideally `zoneId` should be held at a different level globally for all 3 of them and for the entire operation as the `zoneId` conceptually (and functionally) is not a property of the column to be extracted but of the entire operation (as

[2019-03-19 17:45] elasticmachine commented on #40216
Pinging @elastic/es-search

[2019-03-19 18:19] original-brownbear commented on #39852
I tracked this down now. The problem is that we are deleting a snapshot while a data node is writing shard files (when it should be aborted already).
If I artificially slow down the deleting on the `master` it fails every time because the data node will write the extra shard file `repos/tsrjWCInwK/indices/j_HRCLsWRiyTc5QZyQR9hQ/0/__0` before the master node tries to delete the index's folder. The

[2019-03-19 19:06] danielkasen commented on #32323
Any chance this will be back ported? As isn't 8.1 a long way out at this point? Just saw there was a vote for 8.0 the other day and trying to get a gauge of what version this would actually get released in and what month. Thank you for fixing this.

[2019-03-19 20:27] elvisases opened #40226 "Problem when creating an index not analyzed, to perform term searches in texts"
Verifying documentation yesterday I see that for my problem of looking for a string of characters by term I need to create in the index the field as not analyzed, but when doing it as it indicates this documentation generates error. This is the documentation https://www.elastic.co/guide/en/elasticsearch/guide/current/_finding_exact_values.html
This is the query they say they use.

PUT / my_store
{

[2019-03-19 20:30] loren opened #40227 "Highlighting on `match_phrase` with `index_phrases` enabled does not seem to work"
**Elasticsearch version** (`bin/elasticsearch --version`):

`Version: 6.6.0, Build: default/tar/a9861f4/2019-01-24T11:27:09.439740Z, JVM: 1.8.0_112`

**Plugins installed**: []

**JVM version** (`java -version`):

[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:
When I index a `text` field with `index_phr

[2019-03-19 20:31] elasticmachine commented on #40227
Pinging @elastic/es-search

[2019-03-19 20:34] dadoonet commented on #40226
The documentation you linked to says:

string does not exist anymore in 6.x.

But please ask your question on discuss.elastic.co where we can definitely help you.
This space is for confirmed bugs that has been discuss on discuss.elastic.co.

I'm closing the "issue".

[2019-03-19 20:34] #40226 closed

[2019-03-19 20:44] polyfractal commented on #40181
Tracked this down to small differences in the aggregated vs. test values, which accumulated to make big differences in the holt movavg.

As it turns out, this is because the test is using dynamic mapping, so the doubles are being mapped as floats and losing enough precision to cause issues.  Will have a test fix up shortly

[2019-03-19 20:50] micoq commented on #27748
@azuresky11

It's interesting :
By default, `nativeunixfs` uses the same IO method as `niofs` for reading segments in a merge context  (if you don't use directIO) whereas `mmapfs` uses the memory mapped file (both use the same method for writing).
`nativeunixfs` only uses the memory mapped file for search queries. This could explain the difference.

So `niofs` would be less efficient than `mmapfs'

[2019-03-19 22:04] polyfractal commented on #32773
Ok, backported to 6.6.  I believe that particular fix has been fully backported, so if it fails again it may be the issue @droberts195 mentioned... or something else.

Closing for now. :crossed_fingers:

[2019-03-19 22:04] #32773 closed

[2019-03-20 01:23] #36342 closed

[2019-03-20 01:44] wangxilong1991 commented on #30204
there is always a similar problem in 6.5.4
----------------------------------------------------------------
[2019-03-20T07:39:04,464][WARN ][o.e.i.e.Engine           ] [node-02] [test][2] failed engine [refresh failed source[api]]
org.apache.lucene.index.CorruptIndexException: compound sub-files must have a valid codec header and footer: file is too small (0 bytes) (resource=BufferedChecksumIndexI

[2019-03-20 01:48] triggerman86 opened #40235 "ILM Rollover Alias Issues"
Elasticsearch 6.6

When playing around with ILM, it appears ILM throws an error with the rollover policy I have defined (just as a test), when the alias is assigned via the _aliases API. The error in the response is noted below.

If I instead, apply the alias at index creation, everything works as expected. Not sure if this behavior is a misunderstanding on my part, or a potential bug.

Thanks.

S

[2019-03-20 01:48] elasticmachine commented on #40235
Pinging @elastic/es-core-features

[2019-03-20 02:31] thundercrawl opened #40236 "Data sync issue when action add/delete"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
6.5.4
**Plugins installed**: []
safeguard
**JVM version** (`java -version`):
sun jdk 1.8
**OS version** (`uname -a` if on a Unix-like system):
centos 7.3
**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the

[2019-03-20 03:49] jasontedor commented on #40236
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2019-03-20 03:49] #40236 closed

[2019-03-20 03:53] dakrone commented on #40235
@triggerman86 what happened is that when you initially created the index, it immediately attempted to execute the policy, but couldn't because the alias doesn't exist (since it was created shortly after the index).

You can use the [ILM retry](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/ilm-retry-policy.html) API to retry the operation which *should* retry the step, and ILM will se

[2019-03-20 05:15] Bukhtawar commented on #17418
Thanks @DaveCTurner do you think it would make sense to have a separate cluster health status for unassigned primaries with empty store indicating there is no data loss

[2019-03-20 05:47] astefan opened #40239 "SQL: column name for a CONVERTed function is incorrect"
[code]

[2019-03-20 05:47] elasticmachine commented on #40239
Pinging @elastic/es-search

[2019-03-20 05:52] astefan opened #40240 "SQL: CAST and CONVERT sporadically generate errors when grouped by"
[code]

And same goes for CAST to the same data type:

[code]

BUT, same query with a different type to be casted to works:

[code]

[2019-03-20 05:52] elasticmachine commented on #40240
Pinging @elastic/es-search

[2019-03-20 05:55] astefan opened #40241 "SQL: when GROUPed BY, the DAY_NAME function outputs incorrect results"
[code]

And without being GROUPed BY:

[code]

[2019-03-20 05:55] elasticmachine commented on #40241
Pinging @elastic/es-search

[2019-03-20 07:34] DaveCTurner commented on #17418
For the first idea I think you are misunderstanding the three levels of health. `RED` does not imply data loss, whether the primary has previously been allocated or not. Quoting [the docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-health.html):

Thus `RED` is the appropriate level of health when a primary shard is not allocated, whether it is empty or not.

I will rai

[2019-03-20 07:43] #39586 closed

[2019-03-20 08:03] original-brownbear commented on #13159
There is another scenario here that can lead to the same stale data that I found:

1. Create a index, foobar, with size X bytes
2. Start snapshotting cluster
3. Abort snapshot
4 .Temporarily disconnect datanode from master (via network partition or so) while it is writing shard data to repository
5. Master node finishes deleting snapshot

If in this scenario the data node continues to write segmen

[2019-03-20 08:05] original-brownbear commented on #13159
I opened https://github.com/elastic/elasticsearch/pull/40228 with a suggestion on how to write the tombstones to get a better handle on this situation.

[2019-03-20 08:21] bra-fsn commented on #40159
I just wanted to open a feature request for this today because I'm struggling with the exploding number of segments with a lot of deleted documents lingering around in very big shards, but the current forcemerge isn't really useful to solve this problem.
What you've described fits well for this case: if I want to, I could merge a big shard into one big segment, but I could break that out to smalle

[2019-03-20 08:36] jpountz commented on #40159
@bra-fsn I don't think this idea would help much with reclaiming deletes. What version are you using? Since Elasticsearch 6.5 we have better logic for reclamation of deleted documents in segments that reached the maximum segment size (5GB by default). Before 6.5 it wouldn't be unlikely that 50% of your documents would be deletes for an update-heavy use-case. (If you have follow-up questions, pleas

[2019-03-20 08:43] bra-fsn opened #40243 "Support dynamically setting index.codec on open indices"
Feature request:
According to [this blog post](https://www.elastic.co/blog/store-compression-in-lucene-and-elasticsearch) it's possible to set `index.codec` on the node level, so you can move shards onto a node with a different setting **and** when you call `_optimize`, it will be rewritten with the new codec.

The post doesn't mention any other restrictions (like you can't write to the shard whic

[2019-03-20 08:44] wangxilong1991 opened #40244 "compound sub-files must have a valid codec header and footer: file is too small"
**compound sub-files must have a valid codec header and footer: file is too small **:

**6.5.4** (`bin/elasticsearch --version`):

**plugin installed**
loaded module [aggs-matrix-stats]
loaded module [analysis-common]
loaded module [ingest-common]
loaded module [lang-expression]
loaded module [lang-mustache]
loaded module [lang-painless]
loaded module [mapper-extras]
loaded module [parent-join]
lo

[2019-03-20 08:45] jimczi commented on #40201
Hi @ujfjhz, we reserve github for verified bugs and feature requests so I hope you don't mind if I close this issue. I also see that somebody (is that you ? ;) ) asked the exact same question in the discuss [forum](https://discuss.elastic.co/t/searchafter-cannot-work-with-terminateafter-properly/172946) so I answered there.

[2019-03-20 08:45] #40201 closed

[2019-03-20 08:57] elasticmachine commented on #40243
Pinging @elastic/es-core-infra

[2019-03-20 09:00] bra-fsn commented on #40159
Running 6.6.2. Out of 20 billion (primary) docs I have around 1.5B deleted and this is with I do forcemerges on smaller indices regularly. I upgraded to 6.6.0 in February and the situation is really better with that version:
![image](https://user-images.githubusercontent.com/820331/54671274-e3c08a00-4af5-11e9-9897-566ac2ef0f67.png)
But getting rid of them is just a nice side effect (sorry for ment

[2019-03-20 09:05] astefan opened #40245 "SQL: tests improvement"
Am thinking here about a templating approach where, given a certain (simple) query, functions (from the FunctionRegistry) could be placed in these templates and tested.

For example:
`SELECT [function] FROM test GROUP BY [function]`
`SELECT [function] FROM test GROUP BY [function] ORDER BY [function]`
`SELECT [function] AS some_alias_name FROM test GROUP BY some_alias_name`
etc

Basically, pick up

[2019-03-20 09:05] elasticmachine commented on #40245
Pinging @elastic/es-search

[2019-03-20 09:15] vigyasharma commented on #39546
@DaveCTurner, @hpandeycodeit If this is still open, I'd like to pick it up.

[2019-03-20 09:24] ChesterZheng opened #40246 "date_histogram.extended_bounds is meaningless???"
"aggs": {
    "date_histogram":{
      "date_histogram": {
        "field": "sold_date",
        "interval": "month",
        "format": "yyyy-MM-dd",
        "min_doc_count": 0,
        "extended_bounds":{
          "min": "2017-01-01",
          "max": "2017-12-31"
        }
      }
    }
  }

The result is

{
  "took": 2,
  "timed_out": false,
  "_shards": {
    "total": 5,
    "successful": 5,

[2019-03-20 09:41] DaveCTurner commented on #39546
This is still open and we haven't heard from @hpandeycodeit in a while so please go ahead @vigyasharma.

[2019-03-20 09:44] matriv commented on #40244
Hello @wangxilong1991,

Have you checked your OS logs to see if there is anything wrong with the filesystem or a H/W issue with the discs?

[2019-03-20 10:03] elasticmachine commented on #40243
Pinging @elastic/es-distributed

[2019-03-20 10:18] matriv commented on #40246
This setting will allow you to build empty buckets for ranges outside of the the results of the query, see [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-histogram-aggregation.html#search-aggregations-bucket-histogram-aggregation-extended-bounds), but it doesn't work as a date range filter for your query.

You'll need to apply a proper filter with

[2019-03-20 10:18] elasticmachine commented on #40246
Pinging @elastic/es-analytics-geo

[2019-03-20 10:36] elasticmachine commented on #40244
Pinging @elastic/es-distributed

[2019-03-20 10:43] jpountz opened #40248 "Resolving queried indices runs in quadratic time with the number of queried indices"
Say you run a request against the index pattern `index-*`. First we resolve `index-*` to a list of concrete indices. But then we do work on each index that runs in linear time with the number of matched expressions, such as `IndexNameExpressionResolver#filteringAliases` which figures out whether some matched concrete indices require filtering because they were matched through an alias.

When query

[2019-03-20 10:43] elasticmachine commented on #40248
Pinging @elastic/es-search

[2019-03-20 10:43] DaveCTurner commented on #20760
We now have a limit on the number of shards per node in a cluster, thanks to #34892.

I've marked this as `team-discuss` because I would like to revisit the discussion about limiting the number of concurrent index creations, or applying another rate limit. I question how easy it would be to set this correctly. If using time-based indices then sometimes we might want to create many indices at the s

[2019-03-20 11:08] original-brownbear opened #40250 "Add Bulk Delete API to Blob Store Interface"
Continuing from #39656 here:

Currently deleting snapshots can be a very slow process if the delete entails removing a large number of blobs from the repository (i.e. when one or more indices that consistent of many files becomes unreferenced and has to be deleted).
The current implementation of the blob store only offers synchronous and sequential deletes of these blobs, which means that one need

[2019-03-20 11:08] elasticmachine commented on #40250
Pinging @elastic/es-distributed

[2019-03-20 11:30] droberts195 commented on #39187
Going back to the original problem raised in this issue, the naive choice of field for a secondary sort order would be `_id`.  However, this is inefficient for large indices, as it is not in the doc values.

Current best practice is to include a tie-breaker field for sorting in the documents to be sorted.  But since we do not control the input data we cannot enforce this.

#25797 contained an idea

[2019-03-20 11:42] DaveCTurner commented on #38654
Hi @jonaf, to be clear, you are interested in the performance of the following line that still exists in `master` today?

https://github.com/elastic/elasticsearch/blob/74ba9cedcb72b5b94836e91af1a22c596b1db29c/server/src/main/java/org/elasticsearch/cluster/metadata/MetaData.java#L1193

Specifically, you are saying that this is slow because your cluster has some 500k+ aliases and this means that eac

[2019-03-20 12:17] polyfractal commented on #40246
@matriv is correct, the `extended_bounds` option just "extends" the range to the specified bounds.  For example, this is useful if you want to display a full month's calendar, but there is only a single entry.  Extended bounds will make sure the entire month is returned in the response (with empty buckets) to simplify client-side rendering.  Otherwise the client would have to fill in all the empty

[2019-03-20 12:17] #40246 closed

[2019-03-20 12:22] astefan commented on #39931
Actually, the presence of `GROUP BY station.keyword` is enough to trigger the behavior, and not necessarily the use of a `COUNT` or `MAX`.

[2019-03-20 12:36] jrodewig commented on #7264
@debadair  @dnhatn  I can work on adding this.

[2019-03-20 13:13] triggerman86 commented on #40235
@dakrone Ahh I see what I have overlooked. Behaving as expected then. Thanks.

[2019-03-20 13:13] #40235 closed

[2019-03-20 13:24] droberts195 commented on #39187
@dimitris-athanasiou pointed out that we don't know the performance impact of sorting by many fields on all the possible input indices we may encounter in production.  Even if we measure it to be low impact in some internal tests it may turn out to seriously impact performance for some other cases.

Therefore a better way forward could be to add an optional secondary sort field to the datafeed con

[2019-03-20 13:26] DaveCTurner commented on #39259
Hi @andrejbl, the messages you are questioning are to be expected when a node shuts down while there is still ongoing indexing. They mean that the primary tried to replicate an indexing request but then discovered the replica was no longer there. This is normal.

The three messages you quote are not retries, they result from three different indexing requests. If an indexing request fails to reach

[2019-03-20 13:26] #39259 closed

[2019-03-20 13:30] javanna commented on #39613
I am leaning towards closing this, as #25152 is the issue where the possibilities have been discussed. We may not go with OpenAPI or Swagger after all, but I think that this issue has the exact same goal as #25152 , which is to have some kind of spec for request body to be provided in our APIs, and possibly for responses returned as well. Please feel free to reopen if you think that I misunderstoo

[2019-03-20 13:30] #39613 closed

[2019-03-20 13:50] bpintea commented on #39700
With a fresh build:
[code]
returns
[code]
and corresponding stacktrace:
[code]

[2019-03-20 14:13] bigdamhero opened #40259 "Javadoc Rest Client Bad Link for unreleased branches"
I found a bad link, I am unsure where this should be reported.

Page: https://www.elastic.co/guide/en/elasticsearch/client/java-rest/master/java-rest-high-javadoc.html

Bad link points to: https://artifacts.elastic.co/javadoc/org/elasticsearch/client/elasticsearch-rest-high-level-client/8.0.0-alpha1/index.html.

[2019-03-20 14:23] astefan commented on #34609
To take into consideration a similar problem like https://github.com/elastic/elasticsearch/issues/39931, for RLIKE as well.

[2019-03-20 14:29] dadoonet commented on #40259
Yeah. Those links are only working for released versions.
For example, this one is accurate: https://www.elastic.co/guide/en/elasticsearch/client/java-rest/7.0/java-rest-high-javadoc.html

[2019-03-20 14:30] elasticmachine commented on #40259
Pinging @elastic/es-core-features

[2019-03-20 14:35] DaveCTurner commented on #38939
We discussed this as a team. It was pointed out that the `ESLoggingHandler` mentioned above is Netty-specific, but could perhaps be moved into the core of Elasticsearch. It also produces a very large amount of logs which means it wouldn't always be possible to use if tracking down a problem that can only be reproduced in a production environment.

We decided that the following two actions would be

[2019-03-20 14:39] matriv commented on #34609
Would be nice to revisit the classes Like/RLike as well.
`RLike` has a String `pattern` field which also exists in the parent `RegexMatch` class.
Also the `Like` has a field of type `LikePattern` but with the same name `pattern` which might
cause confusion.

/cc @costin Was maybe a purpose on this ^^ ?

[2019-03-20 14:50] bpintea commented on #39700
Works as expected (once request param `field_multi_value_leniency` is set and true).

[2019-03-20 14:50] #39700 closed

[2019-03-20 15:09] ywelsch commented on #38932
We had a discussion on this today and would like to gather more feedback from the community about the filtering capabilities and their use cases. We feel generally positive though about adding simple filtering capabilities (for example index names and status). Sorting is already done today by most recent snapshot first, which looks to be sufficient for the purposes outlined in the opening post.

[2019-03-20 15:12] dliappis commented on #40205
Related to https://github.com/elastic/elasticsearch/issues/38832

[2019-03-20 15:26] Mpdreamz opened #40264 "Basic model on DFR similarity documents options no longer accepted"
https://www.elastic.co/guide/en/elasticsearch/reference/7.0/index-modules-similarity.html

`basic_model` still documents the following options:: `be, d, g, if, in, ine and p.` However atleast `d` is no longer supported.

The docs mention:

But it seems these options can no longer be used

[code]

[2019-03-20 15:28] dliappis commented on #40205
Closing as duplicate of #38832

[2019-03-20 15:28] #40205 closed

[2019-03-20 15:29] dliappis commented on #38832
Another occurrence has been raised in https://github.com/elastic/elasticsearch/issues/40205. The Docker caches didn't seem to get honored.

During a team discussion with @danielmitterdorfer / @rjernst and @mark-vieira we thought it may make sense to bring back this yum retries commit: https://github.com/elastic/elasticsearch/commit/6f52008222dc2e9090faa141be425049d9cd37c3 and backport it back to 7

[2019-03-20 15:41] jakelandis opened #40265 "Ingest Node: misleading deprecation notice"
Given the following pipelines:
[code]
^^ correctly results in a deprecation notice `#! Deprecation: Deprecated field [inline] used, expected [source] instead`

However, if adding/deleting/modifying a new pipeline (any pipeline) :
[code]
^^ will also result in `#! Deprecation: Deprecated field [inline] used, expected [source] instead`

This is misleading since the `test` pipeline doesn't even inclu

[2019-03-20 15:41] elasticmachine commented on #40265
Pinging @elastic/es-core-features

[2019-03-20 15:44] #39682 closed

[2019-03-20 15:52] polyfractal opened #40266 "Better document when BKD vs PrefixTree geoshapes are used"
BKD-backed geoshapes are enabled by default in 6.6+, but the legacy PrefixTrees can be used if any of the deprecated settings are configured (`precision`, `tree`, etc).

There are a few hints about this in the documentation, but it isn't immediately obvious and could be confusing for users.  Especially if they are migrating an existing index over to 6.6+ hoping to use the new BKD trees... but rein

[2019-03-20 15:52] elasticmachine commented on #40266
Pinging @elastic/es-analytics-geo

[2019-03-20 15:55] #32763 closed

[2019-03-20 16:01] jonaf commented on #38654
@DaveCTurner thanks for your reply. Having spent plenty of time with 2.4.6 codebase, I can say that it was true back then that `MetaData` is treated as immutable. The issues with concurrency actually *arise* from this assumption, though -- one way to optimize the performance is to re-use the `MetaData` object instead of creating new instances all the time, because the slowness occurs when a new `M

[2019-03-20 16:21] jkakavas commented on #40103
Fixed by https://github.com/elastic/elasticsearch/pull/40105

[2019-03-20 16:29] henningandersen commented on #24344
@nik9000 would it make sense to align this more with `update_by_query` and `delete_by_query` by adding a `scroll_size` parameter for the batch size instead? If we are then to remove source/query.size, we should do so for all 3.
Or is there a history to why we did not do this originally?

[2019-03-20 16:32] bravurasteve commented on #31347
Ideally, the user would have the option to also delete the index or not. I just experienced a case where I wanted to make a simple change to a rollup job to change the interval from "1h" to "60m" as a work-around to another issue, but the index itself was fine, so I don't want to have to recreate the index just because I wanted to change the job.

[2019-03-20 16:39] elasticmachine commented on #40264
Pinging @elastic/es-search

[2019-03-20 16:39] nik9000 commented on #24344
Yes, reindex's friends are `update_by_query` and `delete_by_query`. Whatever we do to one we should almost certainly do to all three.

We got where we are today because reindex and friends reuse most of the request parsing infrastructure for `_search`. At the time I didn't want to do major surgery to that request parsing infrastructure because I was new and scared.

[2019-03-20 16:40] andrejbl commented on #39259
@DaveCTurner - thanks for the clarification. Before I go further and open a discussion in the forum, there are two points I would like get clarity on from you, as I still consider this a wrong behaviour (and hence a bug):
1) The messages I've posted where not from when the node that shut down. They were actually from a live node that was not related to the node shutting down, but the failed indexi

[2019-03-20 16:40] matriv commented on #40264
@Mpdreamz Thanks for reporting this. Currently docs are not properly updated to reflect the upgrade to Lucene 8 snapshot.

[2019-03-20 16:41] bpintea commented on #39739
@astefan With a fresh build, for:
[code]
I now get back an(other) error:
[code]
and stacktrace:
[code]

[2019-03-20 16:50] Bukhtawar commented on #17418
Thanks @DaveCTurner I was referring to this [doc](https://www.elastic.co/guide/en/elasticsearch/guide/current/_cluster_health.html)

At least one primary shard (and all of its replicas) is missing. This means that you are missing data: searches will return partial results, and indexing into that shard will return an exception.

Please let me know what the team concludes on and if there is a obviou

[2019-03-20 16:54] Mpdreamz commented on #31979
I'm being hit by this on `7.0.0-beta1` a lot more then in previous versions.

I build a retry during our integration bootstrap around this call to retry 5 times which stabilized our tests on 6.x but on 7.x it seems to fail to yield a `200` more often.

[2019-03-20 18:10] jasontedor commented on #17418
@Bukhtawar That is referring to a situation such as /*/_search. Ignoring security, that is a search request that would expand to all indices and hit all shards. If your cluster is red, Elasticsearch will return partial results rather than failing the request. That is what is meant by "data is missing". Assuming there is a valid shard copy out there but currently unassigned, that data is not perman

[2019-03-20 18:12] elasticmachine commented on #24319
Pinging @elastic/es-core-infra

[2019-03-20 18:56] jkakavas commented on #39981
This still fails with a FIPS enabled JVM based on jdk1.8.0_201. Investigation ongoing

[2019-03-20 18:58] #40152 closed

[2019-03-20 19:05] fbaligand commented on #31347
I agree with @bravurasteve need!

[2019-03-20 19:18] Bukhtawar commented on #17418
Thanks @jasontedor for the clarification. I think as a customer I would also like to know by just looking at a RED cluster if I actually lost data and whether or not that's recoverable. Anyways the proposals that I'm trying to make is to minimize the possibility of a `RED` cluster if there isn't an obvious data loss. So if the cluster beyond high disk watermark continues to assign empty primaries(

[2019-03-20 19:27] rjernst commented on #38832
yum has a retries setting in yum.conf right? Why don't these retries work?

[2019-03-20 19:53] jrodewig commented on #14539
@bleskes I'll be picking this one up.

[2019-03-20 20:36] henningandersen commented on #23533
Can confirm this issue still exists on master. Works fine for local indexes, but must escape for remote.

[2019-03-20 22:04] bpintea opened #40282 "SQL: CAST failures for float value"
The following CASTs of a float value lead to failures:
* `SCALED_FLOAT`:
[code]
* same for `HALF_FLOAT`;
* any integer type:
[code]

[2019-03-20 22:04] elasticmachine commented on #40282
Pinging @elastic/es-search

[2019-03-20 22:26] ikaygorodov commented on #29184
As a temporary solution Maven Shade plugin could be used. Like it is listed for Low Level Client.

https://www.elastic.co/guide/en/elasticsearch/client/java-rest/master/java-rest-low-usage-shading.html

Example with shading all of dependencies is below.

    <build>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-

[2019-03-20 22:51] #40211 closed

[2019-03-21 01:38] wangxilong1991 commented on #40244
The OS logs is normal, i have allocate_empty_primary that index(test),thed status has change red to green, Today the problem is again,
Hard is SSD

GET /_cluster/allocation/explain?include_yes_decisions=true
"index" : "test",
  "shard" : 2,
  "primary" : true,
  "current_state" : "unassigned",
  "unassigned_info" : {
    "reason" : "ALLOCATION_FAILED",
    "at" : "2019-03-20T10:39:29.941Z",
    "f

[2019-03-21 02:29] #40029 closed

[2019-03-21 02:56] ChesterZheng commented on #40246
Thanks @matriv ,  I probably got it. I've appended a query filter to this sample, the result is what i want.

[2019-03-21 03:01] ChesterZheng commented on #40246
Thanks @polyfractal, I'll try to ask this kind of questions on th es forums next time.

[2019-03-21 04:54] #40194 closed

[2019-03-21 05:37] astefan opened #40289 "SQL: CI failure for JdbcResultSetIT.testGettingDateWithoutCalendar"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.6+intake/338/console

This is reproducible in 6.6 only: `gradlew :x-pack:plugin:sql:qa:single-node:integTestRunner -Dtests.seed=9F4601A0B84D0E0E -Dtests.class=org.elasticsearch.xpack.sql.qa.single_node.JdbcResultSetIT -Dtests.method="testGettingDateWithoutCalendar" -Dtests.security.manager=true -Dtests.locale=fr-FR -Dtests.timezone=Am

[2019-03-21 05:37] elasticmachine commented on #40289
Pinging @elastic/es-search

[2019-03-21 05:58] astefan commented on #39739
Hm, this seems to happen for `text` fields only? If I use `products._id.keyword` or `products.created_on` it works.

[2019-03-21 06:14] itiyamas opened #40290 "Optimize append-only indexing throughput by avoiding term searches for document id."
ES indexing flow decides if a request is append-only and then uses addDocs instead of updateDocs to improve indexing performance. Just before addDocs is executed, there is a defensive assertion check that searches for the document in lucene as a term query. This turns out to be an expensive call as this is the first time the query is issued which results in cache-miss.

I ran indexing benchmarks o

[2019-03-21 06:15] itiyamas commented on #40290
The tests were run a single i3.8xl EC2 machine.
ES Version: 6.6.2
Disk available for indexing 50 GB.
Heap size set to 32GB.

[2019-03-21 07:18] elasticmachine commented on #40290
Pinging @elastic/es-distributed

[2019-03-21 07:21] DaveCTurner commented on #40290
Hi @itiyamas, do you mean this line?

https://github.com/elastic/elasticsearch/blob/fe03d24229a2152e6bdb704a215577ab3304e41a/server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java#L1049

This does nothing when assertions are disabled, which is the usual configuration when performance is critical. Are you saying that this check is having an impact even when assertions are disabled?

[2019-03-21 07:43] itiyamas commented on #40290
Hey, you are right. I had assertions enabled for my domain. Closing it now.

[2019-03-21 07:43] #40290 closed

[2019-03-21 07:43] DaveCTurner commented on #38654
Yes, that line is within the `buildAliasAndIndexLookup()` method called on the line I quoted. Good, we're talking about the same thing.

Leaving the aliases/indices unchanged is a common case, so a simple fix that improves performance in only that case could well be preferable to a more involved change. As I said, we need to balance the complexity of any change against its benefits, and the benefi

[2019-03-21 07:46] DaveCTurner commented on #39259
@andrejbl these are both good questions for the forum, and we'll do our best to answer them there.

[2019-03-21 08:56] #40165 closed

[2019-03-21 09:01] astefan opened #40296 "SQL: retrieving a single value from a text field array fails with an exception"
Forked from https://github.com/elastic/elasticsearch/issues/39739 as this is a separate issue.

With a fresh build, for:
[code]
I now get back an(other) error:
[code]
and stacktrace:
[code]

[2019-03-21 09:01] elasticmachine commented on #40296
Pinging @elastic/es-search

[2019-03-21 09:01] astefan commented on #39739
This seems to be a separate issue, so I created #40296. Closing this one.

[2019-03-21 09:01] #39739 closed

[2019-03-21 09:20] wangxilong1991 commented on #40244
Today, i have see the lucene's source,
`CodecUtil.verifyAndCopyIndexHeader()`
the length of  segement_index is 0,then CodecUtil throws a Exception and is not handled
IndexWriter only deal with onTragicEvent'method
![image](https://user-images.githubusercontent.com/21128422/54742870-831c7480-4bfd-11e9-863a-a0975326a856.png)

 Throw anomaly all the way to elasticsearch source.
What bothers me is how

[2019-03-21 09:42] #39931 closed

[2019-03-21 10:24] atorok commented on #37617
I'm going to re-open this based on the discussion we had around  #38053 and #39515.
The mentioned  issue and PR add a minimal REST test for docker, but we decided we also want to run the relevant java packaging tests on a container running the docker image, either via changing the entry point or exec-ing into the container.
We expect most checks that deal with file location, permissions etc to be

[2019-03-21 10:26] atorok commented on #38053
We decided in the team that it's not worth to run the entire test suit. Instead we will only run a few minimal rest test and cover the rest with packaging tests as described in #37617.

[2019-03-21 10:42] amirhadadi opened #40304 "Java high-level REST client does not support sending the error_trace query parameter"
Currently there is no option using the high level REST client to change the error_trace query parameter.
It would be nice if it were configurable like SearchRequest::allowPartialSearchResults.

[2019-03-21 10:50] jpountz commented on #40244
Obviously there might always be bugs, but the logic to write headers and footers in all index files is done at a low level in Lucene and thoroughly tested, so I'm more leaning towards issues with the JVM, disk or filesystem.

Could you share the lengths of all files that have `_1hy4` as a file name?

You said that this issue happened _again_. On which file name have you had the problem last time?

[2019-03-21 11:02] wangxilong1991 commented on #40244
du -sb *|sort -nr
146717894	_49.fdt
84190973	_49_Lucene70_0.dvd
64079116	_49_Lucene50_0.tim
57253215	_49.dim
33253213	_49_Lucene50_0.doc
18267779	_10.fdt
17412213	_2m.fdt
17391362	_2x.fdt
17326284	_22.fdt
17139734	_u1h.cfs
16343110	_1e.fdt
16010927	_s.fdt
15296381	_d.fdt
14595116	_1s.fdt
11315282	_2c.fdt
11175250	_10_Lucene70_0.dvd
10785309	_2m_Lucene70_0.dvd
10739759	_2x_Lucene70_0.dvd
10476437	_

[2019-03-21 11:26] dadoonet opened #40305 "Update commons-logging to 1.2"
Would be nice if we can upgrade `commons-logging` library.

[code]

Asking that because I have a project which depends on `rest-client:7.0.0-beta1` which is using `commons-logging:1.1.3`.
Of course I can definitely solve the problem on my end but that'd be nice if we can depend on the latest versions (1.2 was released in Jul 05, 2014).

[code]

[2019-03-21 11:26] elasticmachine commented on #40305
Pinging @elastic/es-core-features

[2019-03-21 11:59] dadoonet opened #40308 "Remove explicit non needed deps from generated pom.xml"
In the `x-content` module we have explicitly declared a dependency on `snakeyaml`. See https://github.com/elastic/elasticsearch/blob/ddddbdfe6dffbac458d4d6997931271cf6d8fa85/libs/x-content/build.gradle#L37

But we are never using that library explicitly in our source code. That's a transitive dependency needed by `jackson-dataformat-yaml` I guess.

The problem I'm facing is that in my project I'm

[2019-03-21 11:59] elasticmachine commented on #40308
Pinging @elastic/es-core-infra

[2019-03-21 12:08] #40239 closed

[2019-03-21 12:33] alex101101 commented on #33651
Hi,

I am interested in looking into this issue.

I have already raised a Pull Request. Could someone please review it if they have time?

Thanks,
Alex

[2019-03-21 12:33] danielmitterdorfer commented on #39495
Closed by https://github.com/elastic/elasticsearch/pull/39553

[2019-03-21 12:33] #39495 closed

[2019-03-21 12:36] alex101101 commented on #39334
Hi @DaveCTurner,
Could I look into this?

[2019-03-21 12:40] DaveCTurner commented on #39334
Sure @alex101101, go ahead.

[2019-03-21 12:52] jpountz commented on #40244
Thanks, so muliple files are impacted. Do you have exceptions in the logs prior to the corruption? Is it possible that this node has hit a full disk (either actually full, or maybe the user that runs Elasticsearch is subject to quotas)?

[2019-03-21 12:59] #7264 closed

[2019-03-21 13:42] costin opened #40313 "SQL: Improve analysis/comparison of functions with optional arguments"
The Analyzer fails to take into account functions with optional arguments when doing basic comparisons: `ROUND(x) != ROUND(x, 0)`.
This makes sense since outside a function definition, it is impossible to determine what the rules however potentially this can be formalized by extending functions to indicate whether they have optional arguments and what these are.

The issue poses a problem when try

[2019-03-21 13:42] elasticmachine commented on #40313
Pinging @elastic/es-search

[2019-03-21 14:09] azuresky11 commented on #27748
@micoq
Which performance is better for niofs and mmapfs after installing the plugin? (For writing and aggregation)

[2019-03-21 14:13] jpountz commented on #40244
The sequence of how Lucene writes files in a new segment looks like this

1. Open stored fields files for writing (`.fdx`, `.fdt`).
2. As documents get indexed, buffer norms, the inverted index, doc values, etc. in memory and write stored fields on the fly.
3. Write buffered norms (`.nvm`, `.nvd`) (open the file, write data, close it)
4. Write buffered doc values (`.dvm`, `.dvd`)
5. Write buffered

[2019-03-21 14:17] jaymode commented on #40305
It would be worthwhile to see if we can get lucene to upgrade versions as well since I believe that the origin of the older version comes from lucene, https://github.com/apache/lucene-solr/blob/2ae4746365c1ee72a0047ced7610b2096e438979/lucene/ivy-versions.properties#L59

[2019-03-21 14:19] atorok commented on #38832
We should do the retires. I looked into it and the caching we do on images won't help us with this as I initially taught as we copy the Dockerfile ( even if we weren't the one used for the cache is still a different checkout ). We also have changing dependencies, as we just built the distirbution so we do want to regenerate the image.

[2019-03-21 14:19] dadoonet commented on #40305
I agree that'd be good. That said here the dependency is on the `rest-client` which does not depend on Lucene AFAIK.

[2019-03-21 14:37] inqueue commented on #31954
As the use of ingest pipelines picks up with Beats modules, so does the need to eventually purge older unused and unwanted pipelines. Having a `_cat` endpoint for pipelines could help with their discovery, like `_cat/templates` or `_cat/aliases`. `GET /_ingest/pipelines` from Kibana Dev Tools is ok, but it is only JSON output where sometimes only a list of pipelines is needed.

Consider an older c

[2019-03-21 15:15] micoq commented on #27748
@azuresky11
The plugin didn't change the behavior of `niofs` (`"index.store.type":"niofs"` in index settings) or `mmapfs` (`"index.store.type":"mmapfs"` in index settings).
It only be used if `"index.store.type":"nativeunixfs"` is set in the index settings.

Anyway, by default `mmapfs` is theoretically better than `niofs` on access time since it avoids an extra copy of data between the kernel spac

[2019-03-21 15:23] astefan commented on #39931
master (8.0.0): https://github.com/elastic/elasticsearch/commit/4e5d5af58a140573b8ee19d57c7839db7b779e3b
7.x (7.1.0): https://github.com/elastic/elasticsearch/commit/1a5ff058706ee737070ffa1a1c5d7b6c10b0b384
7.0 (7.0.0) : https://github.com/elastic/elasticsearch/commit/67a0116d56e7843d3ed2717218b8e09448a18234
6.7 (6.7.1): https://github.com/elastic/elasticsearch/commit/c1999c7b604793bc808b3685f1161

[2019-03-21 15:42] elasticmachine commented on #40304
Pinging @elastic/es-core-features

[2019-03-21 15:43] jdconrad commented on #39080
@oliverhenlich I'm still working on the best solution for this.  My understanding is that SecureRandom uses dev/random by default and in rare cases it's possible that dev/random blocks which is the main problem.

[2019-03-21 16:02] javanna commented on #40259
Links should work for released as well as unreleased versions, at least they used to, not sure what happened that breaks them, see https://raw.githubusercontent.com/elastic/elasticsearch/master/docs/Versions.asciidoc

[2019-03-21 16:04] javanna commented on #40259
Seems like master is in prerelease state, I think it should be set back to unreleased, thoughts @debadair @lcawl ?

[2019-03-21 16:16] mark-vieira commented on #40308
Then it should actually be declared as `runtimeOnly` since we don't need this at compile time.

If this is the case then I assume you are using Maven, which has different transitive dependency semantics than Gradle. It is preferring the "nearest" dependency rather than the newest one.

Unfortunately no, as this would then break anyone that depends on this library that _doesn't_ also explicitly bri

[2019-03-21 16:23] dadoonet commented on #40308
Thanks @mark-vieira for your answer.

Which is a bad practice IMHO.
I mean that in someone has in its code an `import` using `xyz` library, then he should always declare it explicitly. ie. let say the lib maintainer decides to remove completely using this lib and use its own implementation, the project won't compile anymore as soon as you're upgrading the lib.

Of course. By no mean, I said it is

[2019-03-21 16:26] ywelsch commented on #40243
There is another (non-obvious) technical limitation here. Lucene requires the codec to be set when the `IndexWriter` object, which is responsible for indexing into Lucene, is created (see https://lucene.apache.org/core/8_0_0/core/org/apache/lucene/index/IndexWriterConfig.html#setCodec-org.apache.lucene.codecs.Codec-). This means that dynamically changing this setting in Elasticsearch on an allocat

[2019-03-21 16:37] DaveCTurner opened #40323 "Feeding non-numeric data into a `long` field may consume excessive CPU"
I've seen a couple of cases where all the `write` threads are heroically trying to parse some very large numbers on the way into a `long` field, consuming far too much CPU in the process. The hot threads output reported many threads stuck doing `BigInteger` shenanigans such as this:

[code]

One example was at https://discuss.elastic.co/t/high-cpu-usage-in-elasticsearch-nodes/161504 and another wa

[2019-03-21 16:37] elasticmachine commented on #40323
Pinging @elastic/es-search

[2019-03-21 16:42] elasticmachine commented on #40204
Pinging @elastic/es-core-features

[2019-03-21 16:56] mark-vieira commented on #40308
This is exactly what we are doing, which is what is causing this issue to begin with. We don't rely on transitive dependencies in any of our projects. We explicitly declare all dependencies. So rather than rely on Jackson bringing in snakeyaml we exclude all transitive dependencies (thus the excludes in our generated POM) and explicitly declare snakeyaml as a direct dependency.

The problem you ar

[2019-03-21 17:03] bra-fsn commented on #40243
When is this created? I mean is it created on:
- index open (starting up, close/open)
- forcemerge/optimize
?
Could it be moved down in Lucene to make it possible to modify on the fly with an already created IndexWriter?
This could be like zfs, where modifying options takes effect only for newly written data. In this case the new codec would be used only when opening a new segment.

[2019-03-21 17:08] dadoonet commented on #40308
That's something I kind of disagree with. I mean that if the code does not explicitly declare an `import` on `snakeyaml` in its code, then we don't really depend on `snakeyaml`. I'd say it's like an implementation detail. Although I agree that we depend on it because it needs to be in the classpath to work. But for my own projects, I let the dependency manager (Maven) solve that for me.
But I gues

[2019-03-21 17:08] #40308 closed

[2019-03-21 17:16] original-brownbear commented on #35860
Small update here: This is reproducible by sending the same scroll request (same scroll id) concurrently. It seems both requests will use the same context in that scenario which leads to a race where the context is cleared on one thread while the other thread is still looping and checking for cancelled.

[2019-03-21 17:18] mark-vieira commented on #40308
That's fair. We are simply trying to make our resolved dependencies explicit. There are other ways to do this, like relying on dependency resolution rules to include resolved versions. This has it's own issues though, as these things don't get published in a POM so consumers won't use the same versions as us.

Which is why it should really be `runtime` scoped dependency, but it's a dependency none

[2019-03-21 17:27] Bukhtawar opened #40326 "Fault detection ping doesn't check for disk health"
### Problem
The fault detection pings are light-weight and mostly check for network connectivity across nodes to kick the nodes that are not reachable out of the cluster. In some cases one of the disk can become unresponsive in which case some APIs like `/_nodes/stats` might get stuck. The ongoing writes can be stalled till this state is detected by some other means and disk replaced. I believe th

[2019-03-21 18:03] Bukhtawar commented on #8193
Would it be better if before queuing the request up for master to process `TransportUpdateSettingsAction` validates if the request from previous execution has actually been acknowledged/succeeded and return a different response on subsequent retries.

[2019-03-21 18:29] #40181 closed

[2019-03-21 19:31] #40296 closed

[2019-03-21 19:33] jonaf commented on #38654
OK, thanks, @DaveCTurner ! I'll open a pull request against master in short order. I appreciate your attention to the issue!

[2019-03-21 19:58] jrodewig commented on #23059
@gauravmishra123 Let me know if you're still working on this.

If not, I can take it up. Thank you!

[2019-03-21 20:32] polyfractal opened #40331 "SegmentStats yaml test fails in mixed-cluster BWC"
Looks like it started failing after the [backport version change](https://github.com/elastic/elasticsearch/commit/b8f8ed7f89405b630d73505972d79e06befc8a59#diff-1280f38c9141fb09ef09489d91856342):

![image](https://user-images.githubusercontent.com/1224228/54782951-83654180-4bf6-11e9-87d8-7157311f10d5.png)

Seems to be failing pretty consistently so I'm going to mute the test.

[code]
[code]

[2019-03-21 20:32] elasticmachine commented on #40331
Pinging @elastic/es-distributed

[2019-03-21 21:40] costin commented on #40282
There are two issues here:
1. Indeed CAST accepts some ES data types but not all and that's inconsistent, I've got a fix for this already.
2. There are two issues here:

2a. one that the underlying exception gets propagated without being checked (this is a bug)
2b. not sure whether '0.0' to long should succeed or not since 0.0 is not an int. Basically the command implies two conversions - 0.0 (str

[2019-03-21 22:11] oliverhenlich commented on #39080
Thanks @jdconrad. Yeah that's why we start all our vms with `-Djava.security.egd=file:/dev/./urandom`.

[2019-03-21 22:11] robhui commented on #27046
I've run into the same issue on v5.4.1. Is there a possible fix short of upgrading?

[2019-03-21 22:44] mayya-sharipova opened #40334 "Upgrading mockito to newer versions in securemock"
Looks like `elasticsearch:securemock` is using an [old version](https://github.com/elastic/securemock/blob/master/pom.xml#L41) of mockito.

Using an older mockito version creates some warning in newer Java versions (Java 11):

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.mockito.cglib.core.ReflectUtils$2 (file:../.gradle/caches/modules-2/fi

[2019-03-21 22:46] elasticmachine commented on #40334
Pinging @elastic/es-core-infra

[2019-03-21 22:54] mark-vieira commented on #40334
We definitely should update at some point. There are other benefits to being on Mockito 2.x. There are some breaking changes though so it might not just be a simple version bump considering it's a major version change.

https://github.com/mockito/mockito/wiki/What%27s-new-in-Mockito-2#incompatible

[2019-03-21 23:11] cbuescher commented on #36934
@mariane-sm sorry for the long wait, I was just trying to reproduce this behaviour on 5.3 and 5.7 and couldn't see different results for multiple queries.
Since I don't know what "legacy_analyzer_indexing" does I used the "standard" analyzer for "default" and the "english" analyzer for "en". The responses from the "_analyze" endpoints where always as expected, even in multi-node scenarios and with

[2019-03-21 23:22] slmingol opened #40335 "Why doesn’t _cat/recovery honor the bytes=XX in the URI?"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

[code]

**Plugins installed**: []

**JVM version** (`java -version`):

[code]

**OS version** (`uname -a` if on a Unix-like system):

[code]

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

I'm trying to change the units for the following API call:

[code]

The

[2019-03-22 01:15] wangxilong1991 commented on #40244
The process of writing files  is awesome,Thanks,The disk is adequate ,thes is 1.7TB of empty space.
I suspect that the data or some particular action triggered this bug,
I will refer to your Suggestions later and have a look at elasticsearch-spark 20_2.11 source.
Simulate the scene again and see  can reproduce it
tail the system log and es log
I will give you feedback until I find out the problem

[2019-03-22 01:33] dforegger commented on #29184
Thanks. We'll keep that in mind if we run into any more dependency issues. Still hoping we'll see a lightweight client someday soon.

[2019-03-22 05:36] alex101101 commented on #39334
Thanks @DaveCTurner, I have just raised a pull request.  Could you please review it when you have time?

[2019-03-22 06:15] fbaligand commented on #29184
If you want a lightweight client right now, there is Jest :
https://github.com/searchbox-io/Jest

[2019-03-22 06:32] astefan commented on #40001
master (8.0.0): https://github.com/elastic/elasticsearch/commit/3e314f8fa4cb322e67949e80857561ce51268726
7.x (7.1.0): https://github.com/elastic/elasticsearch/commit/35fe05308e4485da3fee9f641e78de70ebf4d184
7.0 (7.0.0): https://github.com/elastic/elasticsearch/commit/b0d9017a8d737d15ee029cb828fc284857694dc8
6.7 (6.7.1): https://github.com/elastic/elasticsearch/commit/ac8ef99b4f789f6b3f690c145c20e1

[2019-03-22 06:33] astefan commented on #40296
master (8.0.0): https://github.com/elastic/elasticsearch/commit/faf02e0f42a101985619abc0d30753851605e01d
7.x (7.1.0): https://github.com/elastic/elasticsearch/commit/f9ab9afcc1d85ab77bfc10d46154964805cfc603
7.0 (7.0.0): https://github.com/elastic/elasticsearch/commit/8fb534a320b27cf7155b7e82016aad627f9f0ab8
6.7 (6.7.1):  https://github.com/elastic/elasticsearch/commit/a5d347d4e8db090de4ff31210f2eb

[2019-03-22 06:37] hendrikmuhs commented on #39974
For the record:

No matter what you choose `getValueAsString()` or `value()` you end up with a problem as either numbers get strings or dates become invalid. We need to know whether something needs to be quoted or not. There is no generic solution but we need to take the mapping and handle numbers and dates differently.

Solution: https://github.com/elastic/elasticsearch/pull/40220

[2019-03-22 07:27] costin opened #40344 "SQL: enhance sql-action project"
The `sql-action` project is shared internally across other projects however that needs revising since the project itself depends on Elasticsearch and thus, through indirection, makes any other dependency depend on it.

This issue is used for tracking two aspects in particular:

- [ ] removing dependency between `sql-cli` and `sql-action`; this is caused by a simple formatter which in turns pulls a

[2019-03-22 07:27] elasticmachine commented on #40344
Pinging @elastic/es-search

[2019-03-22 08:09] DaveCTurner opened #40347 "testPersistJobOnGracefulShutdown_givenTimeAdvancedAfterNoNewData fails in CI"
See for instance https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2681/console:

[code]

The following line does not reproduce:

[code]

Similar-looking failure at:

- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2682/console

Opening this issue to mute the test.

[2019-03-22 08:09] elasticmachine commented on #40347
Pinging @elastic/ml-core

[2019-03-22 08:22] DaveCTurner commented on #40347
Test muted in aab8d7bc0d96e040883abd7f10af66b1e4a1be35

[2019-03-22 08:29] wangxilong1991 commented on #40244
I suspect it might have something to do with the kernel
Problems always accompany this log with the same time
![image](https://user-images.githubusercontent.com/21128422/54809512-7a3fa780-4cbe-11e9-9a1e-a34c6b95b29c.png)
It's happening again today but not always
I don't know much about it，and this log is always been there。
At the time of the problem, there is this kernel log(3th times).The timing

[2019-03-22 08:34] elasticmachine commented on #40335
Pinging @elastic/es-core-features

[2019-03-22 08:38] elasticmachine commented on #40326
Pinging @elastic/es-distributed

[2019-03-22 08:45] jpountz commented on #40244
By any chance do you have other messages about your RAID controller in these logs?

[2019-03-22 08:46] bpintea opened #40348 "SQL: SYS TABLES: enumerate tables of requested types"
For the following request
[code]
the server answers currently with:
[code]
which is in fact an enumeration of the requested types, lacking any actual table information.
Expected would be to have the server list all available tables of the requested type, as this query currently yields:
[code]
(with schema support currently missing).

This corresponds to an ODBC client specifying all `NULL` for all

[2019-03-22 08:46] elasticmachine commented on #40348
Pinging @elastic/es-search

[2019-03-22 08:49] dliappis commented on #38832
Yes there is `retries` and [by default](https://linux.die.net/man/5/yum.conf) it's set to 10, however from what I've seen it only honors it for failures pertinent to specific package files and not earlier failures e.g. pulling the mirrorlist (`Timeout on http://mirrorlist.centos.org`).

[2019-03-22 08:51] DaveCTurner commented on #40326
Some initial thoughts:

Can local disks become unresponsive as you describe, or is this uniquely a failure mode of network-attached storage? We generally recommend against network-attached storage.

How exactly do you propose deciding that the disk has become unresponsive?

I don't think removing such a broken node from the cluster is the right way to react here. If it were still running then it w

[2019-03-22 08:53] davidkyle commented on #40347
This also failed on the 7.x branch. Muted in 1265a15b75fe8ce44fb426acd802b65fb2201506

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=zulu8,nodes=immutable&&linux&&docker/88/console

[2019-03-22 08:53] dliappis commented on #38832
I raised https://github.com/elastic/elasticsearch/pull/40349 resurrecting the retries

[2019-03-22 09:03] Bukhtawar commented on #40326
@DaveCTurner This has happened on i3.16xlarge (SSD-based instance storage)
Can a node before joining the cluster do checks locally to figure out a problem with disk  health and avoid sending out a join request to the master. This would avoid unnecessary disruptions.

[2019-03-22 09:09] #40106 closed

[2019-03-22 09:21] gamelife1314 opened #40351 "Highlighting does not work seemingly, why?"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.4.1

**Plugins installed**: [elasticsearch-analysis-ik]

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

Here is the DSL I used to search:

[code]

And here are the results：

[code]

Why does the highlight not work?

[2019-03-22 09:26] Bukhtawar commented on #40326
**An initial proposal**
I think it doesn't have to necessarily tie up with FD pings but can run as an observer thread on master to check for FS stats. If those stats over a period of time are indicative of a bad disk the observer thread can submit a task on master to remove the specific node from the cluster state. Each node before making a join request checks for FS stats before making a join req

[2019-03-22 09:36] DaveCTurner commented on #40326
Interesting.

This is the crux of the matter. How precisely do you propose to make this decision?

[2019-03-22 09:41] wangxilong1991 commented on #40244
`/var/log/messages`
Mar 22 11:28:01  systemd: Stopping User Slice of pcp.
Mar 22 11:30:01  systemd: Started Session 159982 of user root.
Mar 22 11:30:01  systemd: Starting Session 159982 of user root.
Mar 22 11:30:01  systemd: Started Session 159983 of user root.
Mar 22 11:30:01  systemd: Starting Session 159983 of user root.
Mar 22 11:30:13  puppet-agent[27446]: Retrieving pluginfacts
Mar 22 11:3

[2019-03-22 09:47] jkakavas opened #40352 "Document SAML APIs"
Document `_security/saml/prepare` ,  `_security/saml/authetnticate` ,  `_security/saml/logout` , `_security/saml/invalidate`  APIs so that it is easier for custom web applications (apart from Kibana) to use the Elasticsearch SAML Realm for authentication.

[2019-03-22 09:47] elasticmachine commented on #40352
Pinging @elastic/es-security

[2019-03-22 09:54] jkakavas opened #40353 "Change default NameID Policy for SAML Authentication requests"
We set `NameIDPolicy` to `urn:oasis:names:tc:SAML:2.0:nameid-format:transient` by default in our SAML Authentication Requests. Since `NameIDPolicy` is optional, we probably should not be making this explicit choice on behalf of the users and default to not setting it all. What's more we do tend to use `nameid-persistent` to map to `attributes.principal` in our config examples and this is a configu

[2019-03-22 09:54] elasticmachine commented on #40353
Pinging @elastic/es-security

[2019-03-22 10:38] piyush1337 opened #40356 "IndexShardRecoveryException[failed to recover from gateway]; nested: EngineCreationFailureException[failed to create engine]; nested: NoSuchFileException[/mnt/externaldrive/elasticsearch/nodes/0/indices/HMhWfsmASrevHvF6c8zE9g/0/index/_o76.si]"
Hi,

I am getting two shards unassigned and obviously the status is "RED"

I ran a cluster explanation API

failed shard on node [6PiZfydPRRi06v_8oISQaA]: failed recovery, failure RecoveryFailedException[[wazuh-archives-3.x-2019.03.21][0]: Recovery failed on {6PiZfyd}{6PiZfydPRRi06v_8oISQaA}{33L5TeBQRuqy7zQGXmLkNQ}{127.0.0.1}{127.0.0.1:9300}{ml.machine_memory=8112173056, xpack.installed=true, ml.m

[2019-03-22 10:46] jasontedor commented on #40356
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2019-03-22 10:46] #40356 closed

[2019-03-22 10:49] bpintea opened #40357 "SQL: floats precision and scale corrections"
This issue is proposing to change the reported `MAXIMUM_SCALE`, `MINIMUM_SCALE` and potentially `PRECISION` values in `SYS TYPES` answer.

* MINIMUM_SCALE
The floats are not variable precision in ES. Furthermore, according to ODBC's [SQLGetTypeInfo](https://docs.microsoft.com/en-us/sql/odbc/reference/syntax/sqlgettypeinfo-function), `If a data type has a fixed scale, the MINIMUM_SCALE and MAXIMUM_

[2019-03-22 10:49] elasticmachine commented on #40357
Pinging @elastic/es-search

[2019-03-22 11:38] bpintea commented on #40001
Just had a re-run of the query with a fresh build(`build[default/zip/4b45c1f/2019-03-22T11:14:28.484336600Z]`) and seems to still fail. I'm probably missing something, let me know please.
[code]

[2019-03-22 11:47] astefan commented on #40001
I hope I'm not mistaken, but this is a second bug, strictly related to CAST/CONVERT: https://github.com/elastic/elasticsearch/issues/40240. `ROUND` and `TRUNCATE` were failing not only in a `CONVERT` combination but with other functions as well. And, at the same time, CAST/CONVERT fail with other functions as well, not only ROUND and TRUNCATE. I chose to close this issue after making it clear it's

[2019-03-22 12:39] astefan opened #40358 "SQL: IP fields tests"
At the moment, the IP fields CSV tests are not enabled: https://github.com/elastic/elasticsearch/pull/40354/files#diff-37c99935a11f8b50577997cfa35e284bR47

Would be good to enable them and have a look  at the tests.

[2019-03-22 12:39] elasticmachine commented on #40358
Pinging @elastic/es-search

[2019-03-22 13:20] DaveCTurner commented on #39259
Hi @andrejbl I've not seen a post from you in the forum but perhaps I've missed it. Could you add a link to your thread here?

[2019-03-22 14:17] elasticmachine commented on #40351
Pinging @elastic/es-search

[2019-03-22 15:05] martijnvg opened #40366 "Remove disable Xlint warning from gradle files."
There are a number of `build.gradle` files that specifically disable -Xlint warnings for both production and test code. This should be avoided, because that can mask real bugs.

The following `build.gradle` files should be checked:
- [x] `./benchmarks/build.gradle`
- [x] `./client/client-benchmark-noop-api-plugin/build.gradle`
- [x] `./modules/ingest-common/build.gradle` #40505
- [x] `./modules/in

[2019-03-22 15:49] benwtrent opened #40368 "[ML] DataFrameTransformsCheckpointServiceTests.testExtractIndexCheckpointsInconsistentGlobalCheckpoints fails reproducibly"
Able to reproduce locally from master and 7.x:
[code]

Trace:
[code]

[2019-03-22 15:49] elasticmachine commented on #40368
Pinging @elastic/ml-core

[2019-03-22 15:51] gwbrown opened #40369 ":distribution:bwc:minor:buildBwcVersion fails on 7.0/7.x/master causing all internalClusterTest runs to fail"
This has been failing since we cut over to requiring JDK12 to build.

First failing build in:
7.0: https://elasticsearch-ci.elastic.co/view/Elasticsearch/job/elastic+elasticsearch+7.0+internalClusterTest/3029/
7.x: https://elasticsearch-ci.elastic.co/view/Elasticsearch/job/elastic+elasticsearch+7.x+internalClusterTest/2798/
master: https://elasticsearch-ci.elastic.co/view/Elasticsearch/job/elastic

[2019-03-22 15:51] elasticmachine commented on #40369
Pinging @elastic/es-core-infra

[2019-03-22 15:56] gwbrown commented on #40369
This is probably going to be fixed by https://github.com/elastic/elasticsearch/pull/40361

[2019-03-22 16:11] gwbrown opened #40373 "Failure during rolling-upgrade-multi-cluster:v6.7.0#leader#twoThirdsUpgradedTestCluster due to AssertionError"
Failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+periodic/246/console

This one didn't come with a reproduce line and isn't associated with a single test as far as I can tell, it happens in:
`:x-pack:qa:rolling-upgrade-multi-cluster:v6.7.0#leader#twoThirdsUpgradedTestCluster#wait`

Where getting `http://[::1]:35123/_cluster/health?wait_for_nodes=>=1&wait_for_status=yellow

[2019-03-22 16:11] elasticmachine commented on #40373
Pinging @elastic/es-distributed

[2019-03-22 16:22] gwbrown commented on #40347
This also failed on 7.0: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+multijob-unix-compatibility/os=oraclelinux-6/87/console

Muted on 7.0 with f38f7dce1e94d2f0f6e6f5e4db6dcf760fd0368c as well

[2019-03-22 17:07] gwbrown commented on #32506
This failed again on master:

Does not reproduce locally for me with:
[code]

Stack trace:
[code]

Full build log:
[consoleText.txt](https://github.com/elastic/elasticsearch/files/2997518/consoleText.txt)

[2019-03-22 17:25] gwbrown commented on #40347
And 6.7: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+multijob-unix-compatibility/os=fedora-28/85/console

Muted on 6.7 with 20e344a58df4a39cc09b7f5c7670f5fe04b797da

[2019-03-22 17:45] gwbrown commented on #40369
https://github.com/elastic/elasticsearch/pull/40361 has been merged so this should be fixed, I'll close this once we see some successful builds on CI.

[2019-03-22 18:48] matriv opened #40376 "SQL: Metric aggs on date fields return double"
```SELECT YEAR(MAX(date)) FROM test```

throws ClassCastException.

[2019-03-22 18:48] elasticmachine commented on #40376
Pinging @elastic/es-search

[2019-03-22 18:56] costin commented on #40376
Related to #39492

[2019-03-22 18:59] costin commented on #40376
I think this fixed #39429 as well.

[2019-03-22 19:12] gwbrown commented on #40369
This has been fixed by #40361

[2019-03-22 19:12] #40369 closed

[2019-03-22 19:13] nknize commented on #40085
I've opened [LUCENE-8736](https://issues.apache.org/jira/browse/LUCENE-8736) to address this issue.

tldr: The problem is related to how the ["crossing number" and "winding number"](http://geomalgorithms.com/a03-_inclusion.html) methods for detecting vertex containment (point in polygon) and edge crossings are applied in the triangle relation computation.

[2019-03-22 19:13] gwbrown commented on #40373
This happened again in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+bwc-tests/586/console

[2019-03-22 19:37] jasontedor commented on #40335
Thanks for the report and sorry for the issue.

Relates #17064

[2019-03-22 20:19] #39974 closed

[2019-03-22 20:51] slmingol commented on #40335
Also shows up in 7.0.0-alpha1/futurversion.

[2019-03-22 21:35] gwbrown opened #40385 "ml/set_upgrade_mode.yml#"Setting upgrade_mode to enabled" failure on CI"
Failed on 7.0 intake: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+intake/500/console (new intake commit is an unrelated docs change)

Reproduce line (does not reproduce locally):
[code]

Stack trace:
[code]

[2019-03-22 21:35] elasticmachine commented on #40385
Pinging @elastic/ml-core

[2019-03-22 22:08] #40282 closed

[2019-03-22 22:10] jasontedor commented on #40335
I opened #40379.

[2019-03-23 04:36] #34609 closed

[2019-03-23 05:20] astefan commented on #34609
master (8.0.0): https://github.com/elastic/elasticsearch/commit/7562d6eeeb77c04794002649fe726f4b3a9a398b
7.x (7.1.0): https://github.com/elastic/elasticsearch/commit/150d1332cf56337a1187fa01e6922d475a79f40a
7.0 (7.0.0): https://github.com/elastic/elasticsearch/commit/41eed003b2eacc790e0eff6592bb508ba63432e7
6.7 (6.7.1):  https://github.com/elastic/elasticsearch/commit/ca745dbb4f42e4256146ecdc3e941

[2019-03-23 06:06] original-brownbear commented on #32506
Just for future reference: the above is from https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java11,nodes=immutable&&linux&&docker/313/console

I'll give this another look :)

[2019-03-23 10:41] #40358 closed

[2019-03-23 11:37] greatbsky commented on #38019
this is my dependencies:
E:\MyWork1\basicModules>gradle :core-search-elastic:dependencies --configuration default

------------------------------------------------------------
Project :core-search-elastic
------------------------------------------------------------

default - Configuration for default artifacts.
+--- project :core-base
|    +--- joda-time:joda-time -> 2.10.1
|    +--- org.apache.c

[2019-03-23 13:11] #39492 closed

[2019-03-23 13:11] #40376 closed

[2019-03-23 13:38] #40373 closed

[2019-03-23 13:51] jasontedor commented on #40089
Closed by #40386

[2019-03-23 13:51] #40089 closed

[2019-03-23 15:42] matriv commented on #40376
Backported to `7.x` with 17b8b54d5e11c2edc0beeee7db790c6129a7aa91
to `7.0` with 46aeda98f88f04fd81790a029d0cc61f66c706ed
to `6.7` with eb195672f43a8b4662a9023283e4b9d68b919d21
to `6.6` with 6b8e84e78f81cf45110f6eb03d123e268a7bd3f3

[2019-03-23 15:42] matriv commented on #39492
Backported to `7.x` with 17b8b54d5e11c2edc0beeee7db790c6129a7aa91
to `7.0` with 46aeda98f88f04fd81790a029d0cc61f66c706ed
to `6.7` with eb195672f43a8b4662a9023283e4b9d68b919d21
to `6.6` with 6b8e84e78f81cf45110f6eb03d123e268a7bd3f3

[2019-03-23 15:59] #40289 closed

[2019-03-23 16:36] sscarduzio opened #40391 "ThreadContext's Transient headers are not transient"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.6.2, Build: default/tar/3bd3e59/2019-03-06T15:16:26.864148Z, JVM: 9.0.4

**Plugins installed**: [test-plugin]

**JVM version** (`java -version`):
java version "9.0.4"

**OS version** (`uname -a` if on a Unix-like system):
docker.elastic.co/elasticsearch/elasticsearch:6.6.1

**Description of the problem including expected versus

[2019-03-23 17:11] foreman3 commented on #34644
This would be very useful for many of our use cases, which involve generating metrics on "active" records, which have a start and end date.  A date_range_histogram would be great.

[2019-03-23 18:59] matriv commented on #40289
Backported to `7.x` with 143db10980c6e9ce6be3d4dd5a5b5b67e7f9e5ed
to `7.0` with 67661049503c9004fd48e10780470755a1543056
to `6.7` with 0dd8132cf733f1dcaf9159e215fae4b8b0226831
to `6.6` with a2e83fb4e002c657b5ba7a07f474fc46b62d9006

[2019-03-24 14:25] jasontedor commented on #40391
Heya, I think there are some misunderstandings here, sorry that these concepts are not clear nor particularly well documented. However, if you take a look at the class-level Javadocs for `ThreadContext` it might help clear some things up. You need to be stashing the current context, and transient merely means that the headers are not serialized across the network. Since there is not a bug here, I

[2019-03-24 14:25] #40391 closed

[2019-03-24 16:40] rjernst commented on #40334
As Mark surmised, it is not a simple version bump. I attempted this a few months ago. IIRC the difficulty was in the internal changes, since we must wrap in appropriate doPriv blocks.

[2019-03-24 17:31] dnhatn commented on #34950
We try to [move shards](https://github.com/elastic/elasticsearch/blob/abd861bb9191a3e3edd4f92f7d5c586dfa90281d/server/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/BalancedShardsAllocator.java#L628) to the target node (i.e., dBUFa2wKQMiz0s9AKZXg8g) after we set `index.routing.allocation.include._id: dBUFa2wKQMiz0s9AKZXg8g`. However, that move is [throttled](https://github.co

[2019-03-24 18:41] matriv commented on #40162
@astefan I don't get why this is an issue, it's expected behaviour.
You're adding the `certified` column which has unique value for all 7 entries.
If you add the `certified` to the select list: ```SELECT count(*), YEAR(certified) year, certified FROM test WHERE certified > 0 GROUP BY year, certified```  you get:
[code]

which is the expected result.

[2019-03-25 00:55] wangxilong1991 commented on #40244
Two days passed，Write with this SaveJsontoES(spark-es)'API has gone from green to red ……
![image](https://user-images.githubusercontent.com/21128422/54888785-370e5000-4edb-11e9-818c-f605ad859158.png)

[2019-03-25 03:58] tvernum commented on #34396
Do we specifically mean that it must use the PKI realm, or simply that it must have a validated client certificate?

[2019-03-25 04:33] ravi-kumar-yadav opened #40397 "Skip_duplicate in Autosuggest by custom-field"
**Elasticsearch version**:
Version: 6.5.0, Build: default/tar/816e6f6/2018-11-09T18:58:36.352602Z, JVM: 1.8.0_192

**JVM version**:
openjdk version "11.0.2" 2019-01-15
OpenJDK Runtime Environment 18.9 (build 11.0.2+9)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.2+9, mixed mode)

**OS version**:
Darwin Ravi-2.local 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16

[2019-03-25 04:52] ravi-kumar-yadav commented on #40397
@javanna: I saw a similar PR of yours where weights were not used to filter docs during skip-duplicate step (autosuggest). Could you please also look into my issue ?

[2019-03-25 05:20] Bukhtawar commented on #40326
For writes it could be if the `write` threadpool queue size is consistently high while the disk throughput(based on `/proc/diskstats`) is consistently very low. The interval and limits could be fine-tuned I believe. I agree this would need some brain-storming to precisely detect a disk health issue

[2019-03-25 07:13] astefan commented on #40162
Look carefully at the first and second tests results for YEAR. In the first one you have 2017, while in the second you don't but you have 2019. It's about how intervals work in ES and @costin mentioned this is the correct behavior, but imo it's an unexpected behavior from end user point of view and we'll probably hear about this some more in the future.

[2019-03-25 08:56] robcowart opened #40402 "Escape characters added to $variables$ break ability to set filters in URLs."
**Elasticsearch version** (`bin/elasticsearch --version`):

6.6.1 (worked in 6.2 and some later versions, not sure where the change occurred)

**Plugins installed**: []

None

**JVM version** (`java -version`):

Official container

**OS version** (`uname -a` if on a Unix-like system):

Official container

**Description of the problem including expected versus actual behavior**:

Using the generate

[2019-03-25 09:01] sscarduzio commented on #40391
Thank you @jasontedor, I followed up on this in the forum as suggested.
https://discuss.elastic.co/t/threadcontext-api/173694

[2019-03-25 09:20] droberts195 commented on #37117
Since the fixes of #39099 21 days ago the build stats link only shows one failure on 7.x and above.  (It has failed a few more times on 6.6 and 6.7, but they don't have that fix.)

That one failure was in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8fips,nodes=immutable&&linux&&docker/82/, which is on a FIPS JVM

[2019-03-25 09:20] #37117 closed

[2019-03-25 09:44] droberts195 commented on #39704
Fixes for the remaining problems listed in #29843 should be incorporated into any changes made for this issue.

[2019-03-25 09:55] droberts195 commented on #29775
I agree.

I don't think we should add any magic into the backend to silently switch to a different model snapshot.  It will lead to a support case where the user supplies a screenshot showing a discontinuity in anomaly detection and then we'll have to work out why that happened via a painstaking trawl of the cluster logs.

It's not _any_ node; it's the specific node that holds the `.ml-state` inde

[2019-03-25 09:55] #29775 closed

[2019-03-25 10:27] Mpdreamz opened #40403 "Date properties millisecond precision parsing changed in 7.x"
Given the following index:

[code]

Indexing milliseconds qualified with three digits works.

[code]

However using two it will fail:

[code]

[code]

Specifying less then 3 digits for milliseconds worked in previous Elasticsearch versions so this is  breaking change.

[2019-03-25 10:27] costin commented on #40164
Closed by #40321

[2019-03-25 10:27] #40164 closed

[2019-03-25 10:58] javanna commented on #40204
Can you elaborate on your choice around sniff interval (60 seconds) and sniff after failure delay (30 seconds)? Have you tried increasing the maxRetryTimeout even further? Have you tried sending requests later, do you keep on getting those timeouts or do requests at some point go back to normal?

[2019-03-25 11:04] elasticmachine commented on #40403
Pinging @elastic/es-search

[2019-03-25 11:15] javanna commented on #32125
All the steps listed above are not completed.

[2019-03-25 11:15] #32125 closed

[2019-03-25 11:54] markharwood commented on #38356
Another case: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+packaging-tests/480/

[2019-03-25 11:55] #40347 closed

[2019-03-25 12:02] davidkyle commented on #40385
The interesting errors come from [autodetect parsing](https://github.com/elastic/ml-cpp/blob/7.0/lib/api/CLengthEncodedInputParser.cc#L155)

[code]

The expected message format is
[code]

'number of fields' was read but parsing 'length of next field' failed. This suggests the input stream was corrupted somehow. From the messages I can't tell if the header list of field names was read or if it chok

[2019-03-25 12:22] tlinhart opened #40405 "Percolate query ignores "name" parameter"
**Elasticsearch version** (`bin/elasticsearch --version`): `6.5.4`

**Plugins installed**: `[analysis-icu]`

**JVM version** (`java -version`): `openjdk version "11.0.1" 2018-10-16`

**OS version** (`uname -a` if on a Unix-like system): `Linux 7a321a3f5b0f 4.4.0-119-generic #143-Ubuntu SMP Mon Apr 2 16:08:24 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

Deployed as a customized Docker image (following

[2019-03-25 12:35] #40139 closed

[2019-03-25 12:59] andrershov opened #40409 "Bulk requests ignore "coerce" option of dynamically created fields"
Suppose I’ve created an index my_index with no properties.
[code]
Now I perform the following bulk operation:
[code]
This bulk operation will partially fail with the following error:
[code]
This happens because before bulk there was no “my_number” field defined and both index operations try to create this field - one with the type long, another with the type float. One of them wins, the second one

[2019-03-25 12:59] elasticmachine commented on #40409
Pinging @elastic/es-search

[2019-03-25 13:19] elasticmachine commented on #40405
Pinging @elastic/es-search

[2019-03-25 13:21] colings86 commented on #40402
@robcowart It seems like this might be a problem you are seeing in Kibana? If so would you mind opening an issue on the [Kibana Repository](https://github.com/elastic/kibana/issues)?

[2019-03-25 13:21] elasticmachine commented on #40397
Pinging @elastic/es-search

[2019-03-25 13:25] robcowart commented on #40402
Well I guess that depends. If the $variables$ are generated by ML engine, which is part of Elasticsearch, and the escape characters are inserted there, then it is an Elasticsearch issue.

Can you confirm that the variables are not generated in any part of the Elasticsearch part of ML, and that the escape characters are not added until Kibana?

[2019-03-25 13:44] henningandersen commented on #27889
@geekpete thanks for the elaboration. As I understand it the use case is that you are reindexing from a source index (or multiple source indices) into a destination index. Upon completion of that operation you would like to update an alias from pointing to source to now point to destination? Are there more complex scenarios that need to be supported by scripting instead?

This would then be a post

[2019-03-25 13:50] danielmitterdorfer commented on #38356
As I've mentioned in https://github.com/elastic/elasticsearch/issues/38356#issuecomment-471509428, I did the following for all 5.6-related VMs (those are VMs that are located in the 5.6 Jenkins workspace):

[code]

To obtain the list of VMs managed by Vagrant, you can issue:

[code]

[2019-03-25 14:01] jrodewig commented on #39760
@cjcenizal I've opened up #40410 to address this in the current Elasticsearch docs: https://www.elastic.co/guide/en/elastic-stack-overview/master/actions-slack.html#configuring-slack

I believe this is actually old Watcher documentation:
https://www.elastic.co/guide/en/watcher/current/configuring-slack.html

Having trouble digging up the source docs, but I think it's worth updating there as well.

[2019-03-25 14:17] clement-tourriere opened #40413 "Add ignore_above option for ICUCollationKeywordFieldMapper"
ICUCollationKeywordFieldMapper is not derived from KeywordFieldMapper, but from FieldMapper, so it doesn't have the `ignore_above` configuration.

The use case is to be able to add a sort field for specific language, ignoring long values.
For the moment the only solution is to perform this check in the client and separate the `sort` field from the `keyword` field.

I can provide a PR for this feat

[2019-03-25 14:24] costin commented on #40240
The issue here is related to function identity and the reuse of `ExpressionId`:
1. since `CAST` is a keyword, the parser creates the function for it directly without having to resolve it. Since there are two declarations, there are two different functions ids which differ causing the folder to not find the match.
A potential solution here is to find the duplicate functions and replace it however t

[2019-03-25 14:30] peteharverson commented on #40402
@robcowart the custom URL functionality in the ML plugin is solely used on the Kibana side. It is still possible to use the `$variable$` syntax in the filters part of the URL. I wonder if you have hit an issue with escaping of certain characters which are being substituted for the `$variable$` parts of the drilldown URL, or if there has been a subtle change to the syntax of the URLs between 6.2 an

[2019-03-25 14:33] elasticmachine commented on #40413
Pinging @elastic/es-search

[2019-03-25 14:39] henningandersen commented on #22328
Confirmed that authorization is included in first request on master. Closing this issue.