[2015-04-03 20:13] jayswan opened #10422 "update script documentation examples to remove MVEL"
MVEL isn't supported by default in recent ES versions, but the documentation still uses MVEL script examples.

[2015-04-03 21:55] torrancew opened #10424 "http.publish_address should allow for more fine-grained configuration"
Our use case for this ticket involves an ES cluster with an Nginx proxy in front of the HTTP API, to enforce TLS mutual authentication. This works perfectly fine for simple use cases, however, when using the ruby client with some of its more advanced/robust features (specifically, reload_connections) we noticed that we would configure a client, it would make a request to determine cluster state, a

[2015-04-03 22:02] jpountz commented on #10417
When the query returns 0 results prematurely, do you have shard failures in the response?

[2015-04-03 22:05] jpountz commented on #10408
Can you give more information about your use-case? I would be interested to know more about the big picture to see how we can improve elasticsearch to address your needs.

[2015-04-03 22:29] hjz commented on #10417
We've seen shard failures before where 1 or 2 shards would fail and instead of 1000 results, it'll return 900 or 800.

Didn't log the shard failures this time, suppose all 5 shards failed, any idea why that would happen? I'll add logging for that and circle back.

[2015-04-04 00:12] harph opened #10425 "mlt does not support the q parameter."
More like this functionality completely ignores the *q* parameter. The results are the same with or without it.

According to the documentation: [http://www.elastic.co/guide/en/elasticsearch/reference/1.5/search-more-like-this.html](http://www.elastic.co/guide/en/elasticsearch/reference/1.5/search-more-like-this.html)

*"The API simply results in executing a search request with moreLikeThis query

[2015-04-04 01:04] rjernst commented on #10304
@devnull52, @patricksurry is correct (thanks!). Date fields internally store their value as an epoch based timestamp (in milliseconds). The fact that "key" comes back as an int in your first posted response shows the actual value is far to low (it should be much large to be a timestamp representing e.g. the year 1950).

I see your mappings have a format set for the field. IIRC, format won't work u

[2015-04-04 02:27] #10292 closed

[2015-04-04 02:38] #10297 closed

[2015-04-04 03:49] aphyr opened #10426 "A VM pause (due to GC, high IO load, etc) can cause the loss of inserted documents"
Following up on #7572 and #10407, I've found that Elasticsearch will lose inserted documents even in the event of a node hiccup due to garbage collection, swapping, disk failure, IO panic, virtual machine pauses, VM migration, etc. https://gist.github.com/aphyr/b8c98e6149bc66a2d839 shows a log where we pause an elasticsearch primary via SIGSTOP and SIGCONT. Even though no operations can take place

[2015-04-04 06:11] bleskes commented on #10426
Thx @aphyr . In general I can give a quick answer to, while we research the rest:

This is indeed the current plan.

[2015-04-04 08:29] JanJakes commented on #10408
Our use case might be a little bit special - we use it to store quadkeys (GeoHash is not suitable for us) and to spread items evenly on map tiles by Prefix Aggregation (currently simulated by filters). However, aggregating items by a prefix of certain length seems to be quite a legit and general use case - one might want to group items to buckets by their prefixes (see http://stackoverflow.com/que

[2015-04-04 08:36] javanna opened #10427 "Better migration path to new script parameters"
For 2.0 we modified and unified our script parameters with #7977 . This was done in a backwards compatible manner in 1.x, but broke backwards compatibility on master, as only new parameters are read on master. A note has been added to our migration docs, but I fear that is not enough.

We should consider being more polite to our users and tell them what they have to change in their request if they

[2015-04-04 08:37] javanna commented on #10427
Assigning this to you @colings86 ;)

[2015-04-04 09:35] radu-gheorghe opened #10428 "Missing ID for an update/delete operation causes the entire bulk to fail"
If one of the actions from a bulk requires an ID (update/delete) but doesn't have it, the entire bulk fails. For example:

[code]

I would expect the index operation to succeed and the delete/update operation to fail. Or maybe there's a good reason for failing the whole bulk that I don't see?

[2015-04-04 12:33] clintongormley commented on #10015
Hi @misterunknown

Can you provide the actual settings that you're using, explain what you expect their effect to be and what appears to be different?

There is no point in having a publish host/port that is not also bound.

[2015-04-04 12:38] clintongormley commented on #10022
Agreed - we're planning a big settings cleanup.  Closing as a duplicate of #6732

[2015-04-04 12:38] #10022 closed

[2015-04-04 12:48] clintongormley commented on #6141
@bsandvik did you just change those settings in the config file on an already running cluster?  Or did you do a full cluster restart?

[2015-04-04 12:49] devnull52 commented on #10304
Ryan, Patrick and David -- thanks for picking this up and responding
patiently. I did not read the documentation. I changed the mapping and
it worked like a charm.

On 4/3/15, Ryan Ernst <notifications@github.com> wrote:

[2015-04-04 13:13] clintongormley commented on #10034
Hi @songwie

Please ask questions like these on the mailing list.  The GitHub issues list is for bug reports and feature requests.  That said, you are looking for the terms aggregation

[2015-04-04 13:13] #10034 closed

[2015-04-04 13:14] clintongormley commented on #10036
Hi @wujiandong

I'd ask this on the Kibana list instead.

[2015-04-04 13:14] #10036 closed

[2015-04-04 13:15] clintongormley commented on #10037
Hi @gucasbrg

No, we have no control over query norm.  It is the same for every result anyway

[2015-04-04 13:15] #10037 closed

[2015-04-04 13:20] clintongormley commented on #10035
The right place for these discussions is the mailing list, rather than here.  @zerocoolys thanks for helping.  I'm going to close this issue

[2015-04-04 13:20] #10035 closed

[2015-04-04 13:22] kimchy commented on #10337
@spinscale here is some reference to the caching I was referring to, it revolves around DNS caching done in the JVM:

- http://wiki.apache.org/hadoop/NoRouteToHost
- http://docs.oracle.com/javase/8/docs/technotes/guides/net/properties.html
- http://serverfault.com/questions/459814/clearing-tomcats-dns-cache
- http://docs.aws.amazon.com/AWSSdkDocsJava/latest//DeveloperGuide/java-dg-jvm-ttl.html

We

[2015-04-04 13:25] clintongormley commented on #10003
Hi @sagarl

Any news on this?

[2015-04-04 13:30] kimchy commented on #10337
Btw, another reason why this can happen, and this is more connected to how nodes are serialized over the network. When a node starts up, it gets initialized with an address, and when the cluster state is published it gets streamed to the other node, and it uses the actual IP address to construct back the inet address, and not perform another lookup based on host name. So the IP address of a node i

[2015-04-04 13:32] clintongormley commented on #10044
Hi @ppf2

I don't think we should single out the doc types, but I agree that we should include the full filter that is being applied thanks to the alias.

[2015-04-04 13:34] clintongormley commented on #7574
@nknize just assigned this to you so you don't miss it

[2015-04-04 13:37] kimchy commented on #10135
@martijnvg ++ on parsing alias filters on search time each time, its cheap and safer

[2015-04-04 14:11] clintongormley commented on #10051
Hi @lukapor

I think you're running into this change: https://github.com/elastic/elasticsearch/commit/6079d88d433387933d55d6500e6aaa04d6a6b1ce

You can no longer prepend the field name with the type name, as it results in ambiguous field lookups.

[2015-04-04 14:11] #10051 closed

[2015-04-04 14:19] clintongormley commented on #9971
Hi @BHSPitMonkey

[2015-04-04 14:23] clintongormley commented on #9971
Hi @BHSPitMonkey

OK - I understand the requirement to include whole terms which are shorter than the `min_gram` (which are currently dropped from the token stream) but the same doesn't apply to words that are longer, because they will have ngrams applied anyway, for instance:

    DELETE t

    PUT t
    {
      "settings": {
        "analysis": {
          "tokenizer": {
            "my_ngrams":

[2015-04-04 14:28] clintongormley commented on #9971
Oh I think I've just got your point about including the whole token if it is above `max_gram`.

Hmm, the typical approach to this would be just to index the field twice: once with standard analyzer and once with ngrams, then to use a `multi_match` query in `most_fields` mode to query both fields at once.

@rmuir what's your take on this?

[2015-04-04 14:37] rmuir commented on #9971
I don't understand the aversion to multi fields approach here. with n=3/4 you already have two analysis fields stuck inside of one IMO (one at n=3, one at n=4). If you have another field with standardanalyzer, you have a lot of flexibility, e.g. you can query both at the same time, or just the standardanalyzer field for a more 'exact' query (e.g., user puts term in quotes).

Of course, this thing

[2015-04-04 14:38] clintongormley commented on #9971
@rmuir many thanks.  Closing

[2015-04-04 14:38] #9971 closed

[2015-04-04 14:40] clintongormley commented on #10055
Hi @Sameerkpatro

How are you configuring this?  The below works fine for me:

    PUT _template/test
    {
      "template": "logstash-*",
      "mappings": {
        "_default_": {
          "_ttl": {
            "enabled": true,
            "default": "5s"
          }
        }
      }
    }

    PUT /logstash-one/test/1
    {}

    GET logstash-one/_mapping

Btw, using TTL for logging is likel

[2015-04-04 14:44] clintongormley commented on #10057
Hi @tyyko

You should probably ask for suggestions about approaches to this on the mailing list instead.  Like with MySQL, you could use a separate index per client, then in your web front end, you could limit each user to just their index or indices.

[2015-04-04 14:44] #10057 closed

[2015-04-04 14:55] clintongormley commented on #10058
Hi @asanderson

Trying to extend the filtered query to say "also apply to this has-child subclause" doesn't make sense to me.  Things would suddenly get very complicated with action-at-a-distance.

If you want the condition to apply to the sub-clause, then you should include it in the sub-clause.  It'll still be able to use the cached filter.

[2015-04-04 15:03] clintongormley commented on #10061
Hi @Asimov4

We have been discussing it internally.  The biggest question is: what is the right datastructure? The answer depends on what people want to use the analyzed values for.

Could you talk about your use case(s)?

[2015-04-04 15:06] clintongormley commented on #8862
@Mpdreamz the `filter` on percolators is different - it's essentially just like a filtered query in that case.

[2015-04-04 15:13] clintongormley commented on #10065
Hi @drewbroadley

GET/POST _search both allow searches with or without body. Either of these can contain queries, post-filters, aggs, suggestions etc.  DELETE _query is delete-by-query, and all it accepts is a query, nothing else.

We're trying to reduce "synonyms" in the API, so I'm not keen to add more options - i think that would just add to the confusion.

Most people will be using one of the

[2015-04-04 15:13] #10065 closed

[2015-04-04 15:15] clintongormley commented on #10066
@bleskes any thoughts on this?

[2015-04-04 15:25] clintongormley commented on #10068
Hi @anjanpathak

I see that you're using the completion suggester.  I wonder if you have two fields with the same name in two different types in the same index, one mapped as a completion field and one not?  In your new installation, are you still using the completion suggester?  It may also be a bug that has already been fixed.

[2015-04-04 15:28] clintongormley commented on #10070
Hi @Chetane

I agree that ignore malformed just ignore your last document instead of throwing an exception. (It shouldn't try to coerce to a string, which makes no sense for a numeric field, but it should just ignore the illegal value).

[2015-04-04 15:40] clintongormley commented on #10038
Given the work happening in #8871 to have fields of the same name in different types always have the same mapping, perhaps this is something we can support after all?

[2015-04-04 15:51] #9809 closed

[2015-04-04 15:54] clintongormley commented on #9906
@astefan Can you show us the actual code that you're using here?  If you're able to provide a working recreation, even better.

[2015-04-04 15:58] asanderson commented on #10058
Again, it makes sense in the very real scenario where you have a common access control field for which you want to guarantee a filter is applied to all parent and child records.  The filters are already huge, so having to wrap the has_child subclause into a filtered query and copying the huge filter from the outer filtered query is very ugly.

[2015-04-04 16:00] shivangshah opened #10430 "Deleting a mapping should not delete data"
Hi,

I am just deleting the mapping so that I can recreate the mapping with different core types for some fields (especially when "updating a mapping type" doesn't really do much good on changing core types at all). And even if we don't care about the past data that does not mean it should just delete the data. At the very least this should be more of a configurable option rather than an internal

[2015-04-04 16:01] asanderson commented on #10058
So, good luck w/ implementing a common access control field strategy w/ Shield that applies to both parent and child documents, if you leave this closed.

[2015-04-04 16:02] clintongormley commented on #10119
Interesting idea.  First step though is actually detecting bad settings in Elasticsearch itself.  Very often we'll just ignore anything we don't understand.  Stalled by #6732

[2015-04-04 16:03] rmuir opened #10431 "Document docvalues option for boolean field in 2.0"
Similar to the doc fix for #9809, this got fixed for 2.0 in #7961

[2015-04-04 16:11] acarstoiu opened #10432 "Elasticsearch does not start due to NoClassDefFoundError with an older Marvel"
I upgraded Elasticsearch to _1.5.0_ but had the nasty surprise to not be able to start it anymore, due to a class that has disappeared in the meantime:
[code]
This is perfectly reproduceable with Marvel 1.2.1. The latest Marvel 1.3.x works well. I'm more interested in knowing **why** than in getting this issue solved.
#### How come a site plugin (i.e. without a single trace of Java in it) induces

[2015-04-04 16:15] rmuir opened #10433 "maven emits scary warnings"
At least with master (did not check other branches) I see this:

[WARNING] Some problems were encountered while building the effective model for org.elasticsearch:elasticsearch:jar:2.0.0-SNAPSHOT
[WARNING] 'build.plugins.plugin.(groupId:artifactId)' must be unique but found duplicate declaration of plugin org.apache.maven.plugins:maven-resources-plugin @ line 1104, column 21
[WARNING] 'build.plugi

[2015-04-04 16:17] dadoonet commented on #10433
@rmuir this should be fixed when we will merge the PR about parent project.
Parent project defines all plugins correctly.

[2015-04-04 16:17] rmuir commented on #10433
Ok, thanks for looking @dadoonet !

[2015-04-04 16:18] clintongormley commented on #10127
Hi @parapar

This appears to be a duplicate of #7357.  Btw, while parent-child seems to be a tempting way to model relationships like a relational DB, it is usually the wrong approach and ends up complicating things considerably.

[2015-04-04 16:18] #10127 closed

[2015-04-04 16:18] dadoonet commented on #10433
We can also fix it directly without merging my PR though.

[2015-04-04 16:19] rmuir commented on #10433
Yeah, I don't know the branches impacted or which ones you plan to merge your PR to. I just didn't want it to get missed.

[2015-04-04 16:20] dadoonet commented on #10432
Marvel is not a site plugin. It contains also a jar.

[2015-04-04 16:20] #10432 closed

[2015-04-04 16:23] mattweber commented on #10061
+1, case-insensitive sorting of string fields where you use the keyword tokenizer and lowercase token filter.

[2015-04-04 16:24] rjernst opened #10434 "[CI] Old index tests can take a long time to create replicas"
This seems to happen just for 0.90.13, when replicas is set to 2 (from a very cursory checking of the recent failures). When I run with the same seed on my local box, the test finishes fine.

Examples:
http://build-us-00.elastic.co/job/es_core_master_regression/1730/testReport/org.elasticsearch.bwcompat/OldIndexBackwardsCompatibilityTests/testOldIndexes/
http://build-us-00.elastic.co/job/es_core_m

[2015-04-04 16:24] dadoonet commented on #10433
+1! The original plan was to merge the PR in 1.5, 1.x and master.
Now 1.5 has been released, I think it will may be go to 1.x and master?

For info, PR is waiting for a review here: #9735 :)

[2015-04-04 16:25] clintongormley commented on #10129
Also, switching the domain to `download.elastic.co` should work

[2015-04-04 16:25] #10129 closed

[2015-04-04 16:26] rmuir commented on #10061
I tend to think @mattweber 's use case is an important one. But we should think of a way to solve it but where its not trappy if someone wants this. They should be able to have docvalues, but they should also not have norms and other things: it should still act 'not analyzed'.

There is a big difference to me between supporting that, and putting the entire tokenized contents of moby dick into a do

[2015-04-04 16:37] clintongormley commented on #10146
... or at least adding a synonym

[2015-04-04 16:49] clintongormley commented on #10152
Hi @cheramilm

It is not clear to me how you have configured your cluster, and whether it has even formed a cluster.  Could you provide more details please?

[2015-04-04 16:53] clintongormley commented on #10154
HI @truongduy134

By default, your index has 5 primary shards, so each of your two documents is sitting on a shard by itself.

See http://www.elastic.co/guide/en/elasticsearch/guide/current/relevance-is-broken.html

If you create your index as follows, then your example works as expected:

    PUT me
    {
      "settings": {
        "number_of_shards": 1
      }
    }

[2015-04-04 16:53] #10154 closed

[2015-04-04 17:03] rmuir commented on #10433
Well, for the record, that PR just looks fantastic to me. Consolidating that stuff should really make plugins easier and better tested. But I don't know enough about maven to really give you a competent review.

[2015-04-04 17:03] ignaciovazquez commented on #4847
+1

[2015-04-04 17:34] Asimov4 commented on #10061
The main use case I have in mind is performing top terms aggregations or significant terms aggregations to do keyword analysis on the text fields of the documents stored in our index. We use the [default language analyzers](http://www.elastic.co/guide/en/elasticsearch/reference/1.5/analysis-lang-analyzer.html) for these text fields.

[2015-04-04 17:35] clintongormley commented on #10177
How could we call node-start when the node is not running?

There used to be a restart API (briefly), but it was removed because it was problematic.  I'm not sure what the problem was, but it was big enough that the feature wasn't reliable, and it wouldn't help with upgrades anyhow.

I don't believe that this can be provided as part of Elasticsearch itself.

[2015-04-04 17:35] #10177 closed

[2015-04-04 17:36] clintongormley commented on #9469
Fixed by #10178

[2015-04-04 17:37] clintongormley commented on #9469
That PR wasn't merged. Reopening

[2015-04-04 17:41] clintongormley commented on #4836
This is definitely better on the new site, and more improvements will follow.

[2015-04-04 17:41] #4836 closed

[2015-04-04 17:43] clintongormley commented on #10181
@mikemccand any ideas about this?

[2015-04-04 17:49] clintongormley commented on #10156
+1 on removing it

[2015-04-04 17:57] clintongormley commented on #10192
Duplicate of #9466. Closing in favour of #8909

[2015-04-04 17:57] #10192 closed

[2015-04-04 18:10] clintongormley commented on #10197
Hi @usfhussam

No, this wouldn't be possible.  This sounds like some post-processing phases that should be done on the client side.

[2015-04-04 18:10] #10197 closed

[2015-04-04 18:30] mattweber commented on #10061
Another use-case is ICU collation.  Really any kind of minimal analysis that produces a couple tokens at most.

[2015-04-04 18:32] clintongormley commented on #10208
HI @sdba2

You deleted the index? or a mapping?  Deleting an index should be quick, but deleting a mapping could take a long time.  In fact, in master we've removed the ability to delete mappings.

If you deleted the index, then I'm surprised it took that long, but perhaps you have slow disks.

[2015-04-04 18:35] clintongormley commented on #5866
Reopening as the commit was backed out

[2015-04-04 18:37] clintongormley commented on #10142
Hi @SMUnlimited

Any chance you could upload some actual REST examples?  It's easier reading code than descriptions :)

[2015-04-04 18:55] rmuir commented on #10061
ICU collation IMO is different. its just a DV sort key: doesn't need tokens or an analyzer anymore, and thats how exposed in lucene since 4.2

[2015-04-04 22:04] mikemccand commented on #10181
Egads, that's way too many running merge threads!  @mashudong can you pull all threads (use /_nodes/hot_threads but pass threads=10000 so we get all of them not just the top 3 hot ones)?

[2015-04-04 22:04] r0goyal opened #10436 "Template not getting applied with ES version 1.4.1 - Works for 1.4.0"
Hi,

I have the following template

[code]

This template is applicable for all indexes and type - "document".

I am running an embedded instance in my java process for testing purposes.

When I am trying to index a document in the following method, above template is not getting applied -

[code]

However, when I am using BulkRequestBuilder and indexing same document, mappings are getting applied

[2015-04-05 01:30] erjiang opened #10437 "elasticsearch sometimes starts consuming a lot of CPU indefinitely"
I am running a logs server on AWS. The total CPU usage is typically 3-5%.

Sometimes, elasticsearch starts taking up much more CPU and stays at that level until I SSH into the server and restart it.

This below image shows what typically happens. At an arbitrary time, CPU load dramatically increases (even though there is no corresponding increase in new data) and stays there until I log in to the

[2015-04-05 06:11] RolphH commented on #9859
Is geopoint [null, null] considered to be invalid, then yes, there is a reason. In some occasions we don't have a geopoint (for example when your geoip database is not up-to-date and you cannot resolve an IP to a geopoint ). Result is [null, null]

[2015-04-05 08:00] truongduy134 commented on #10154
@clintongormley  : Thanks a lot for the explanation :+1:

[2015-04-05 08:45] kimchy commented on #10437
when the server is under high CPU load, can you first check if its the ES process, and if so, can you issue the hot threads api and post back the response of it here? http://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-nodes-hot-threads.html

[2015-04-05 09:17] clintongormley commented on #8693
The motivation for this issue has changed somewhat since we switched to doc values by default. Initially, we were trying to make it easier (and less confusing) to use doc values.  Now, with better defaults, users should only fiddle with these settings if they know what they're doing.

I suggest removing the `doc_values` setting altogether, and using just the `fielddata` settings as follows:

    f

[2015-04-05 09:20] clintongormley commented on #10222
Hi @l15k4

I've labelled this for discussion but as a side note, you should never be asking for 200,000 results in one request.  Instead you should use scrolling to just keep pulling batches of results until you have the requisite number.

[2015-04-05 09:44] clintongormley commented on #10223
I've added a warning to the docs explaining this.

[2015-04-05 09:44] #10223 closed

[2015-04-05 10:27] clintongormley commented on #9900
Hi @rhdip

A full recreation (including the index settings, mappings, how you index the attachment, and the doc itself) would be helpful.

[2015-04-05 11:12] clintongormley commented on #10107
It feels to me like the right place for this is logstash, which already does things like using the timestamp to determine which index the document should be sent to.  Logstash is an ETL pipeline, but Elasticsearch isn't.  I'd much rather not add this kind of complexity to ES.

[2015-04-05 11:15] clintongormley commented on #10255
Hi @Alix-Martin

Please reopen this issue on https://github.com/elastic/elasticsearch-py/issues

thanks

[2015-04-05 11:15] #10255 closed

[2015-04-05 11:18] clintongormley commented on #10256
Related to #10047

[2015-04-05 11:39] clintongormley commented on #10230
Hi @photonicworld

It does work, but you need to specify the full path to the nested field, ie `comments.author:`:

    DELETE t

    PUT t
    {
      "mappings": {
        "t": {
          "properties": {
            "comments": {
              "type": "nested",
              "properties": {
                "author": {
                  "type": "string"
                }
              }

[2015-04-05 11:39] #10230 closed

[2015-04-05 11:50] vanatteveldt opened #10438 "parameter script_file does not seem to work (but "script": "script_file_name" does)"
The documentation at http://www.elastic.co/guide/en/elasticsearch/reference/1.x/modules-scripting.html suggests that you can use a script stored in {{conf.dir}}/scripts/name.groovy by specifying "script_file": "name" in the query. However,  when I use "script_file" I get a NulllPointerException. However, using "script" and pointing to the script filename seems to work fine. So, it seems that the d

[2015-04-05 11:53] clintongormley commented on #10244
@jpountz this was the scrolling issue that I mentioned to you. Any way we can fix this without requiring logstash to upgrade it's version of ES?

[2015-04-05 11:57] clintongormley commented on #2401
Given @ppf2 's workaround in https://github.com/elastic/elasticsearch/issues/2401#issuecomment-85208238 it seems that we just need to default `match_mapping_type` to `*`?

[2015-04-05 11:57] clintongormley commented on #10271
@nknize any ideas?

[2015-04-05 11:59] clintongormley commented on #10277
The simple query string does not support field syntax by design, as it allows users to query any field that they like

[2015-04-05 11:59] #10277 closed

[2015-04-05 12:07] clintongormley commented on #10284
@colings86 was this from one of your changes?

[2015-04-05 12:13] ferdy-galema commented on #10277
Fair enough, fields can be supplied next to the query, but still then it's
not possible to query something like

pants:blue AND shirt:red

because all fields are thrown together in query. In this example I only
want people with blue pants and red shirts, which is not possible in a
single simple query. (According to what you are saying).

Please correct me if I'm wrong. In any case, thank you for y

[2015-04-05 12:17] clintongormley commented on #10277
No, you're correct.  But perhaps at this level, you want to build your own query parser that allows for the level of control that you're after.

[2015-04-05 12:27] clintongormley commented on #9716
@nknize can this issue be closed, or do you want to keep it open for now?

[2015-04-05 12:44] clintongormley commented on #10291
It looks like you need more memory.  Your heap is full.

[2015-04-05 12:44] #10291 closed

[2015-04-05 12:54] clintongormley commented on #10321
Hi @dhaworth

Are you sure that your shards have somewhere to go?  Try using the cluster reroute API with explain to understand why your shards are not being moved.

[2015-04-05 13:10] clintongormley opened #10439 "Update all examples to use full path names"
With #9670 in place, all doc examples which reference fields need to be updated to use full path names, as the short name variants will no longer work.

Should probably add a note to http://www.elastic.co/guide/en/elasticsearch/reference/master/api-conventions.html as well.

[2015-04-05 13:10] clintongormley commented on #10439
@debadair could you add this to your list please

[2015-04-05 13:11] clintongormley commented on #10439
Also need to remove any mention of using a `type.` prefix when using the full path name, as this no longer works (see #9492)

[2015-04-05 13:12] clintongormley commented on #10270
@rjernst actually, with #9670 in place, we need to use the full path name for all field references, not just nested queries.  I've opened #10439 for this.

[2015-04-05 13:12] #10270 closed

[2015-04-05 13:17] clintongormley commented on #9726
@renewooller this sounds like you are not using the new scroll ID returned with the previous scroll request.

[2015-04-05 13:25] clintongormley commented on #10338
@cmeury I wonder if the debug events are really fetch events?

Try setting `logger.index.search.slowlog` instead?

[2015-04-05 13:31] clintongormley commented on #10328
Closing as duplicate of #10044

[2015-04-05 13:31] #10328 closed

[2015-04-05 13:35] clintongormley commented on #10341
@esmaeilzadeh also see http://www.elastic.co/guide/en/elasticsearch/guide/current/relevance-is-broken.html

[2015-04-05 13:51] micherr commented on #10166
We've been investigating for a while and just decided to switch to thrift for transporting.
Do you plan any alternative in 2.0 in case of depreciation?

[2015-04-05 14:04] clintongormley commented on #10346
Nice demonstration. I confirm that this is a bug.

[2015-04-05 14:19] clintongormley commented on #9714
@dennisgorelik I see you have swap enabled.  Do you have mlockall enabled as well?  You can check with:

    GET _nodes/process

If not, then this could be the cause of your slow garbage collections. See http://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration.html#setup-configuration-memory for more

[2015-04-05 14:37] clintongormley commented on #10361
Hi @nithyanv

When I try out your examples, the `_ttl` looks correct.  I wonder if you ran an update request on this document?

[2015-04-05 14:38] clintongormley commented on #10362
Hi @dev-shubh

I suggest you ask this on the kibana list instead.

[2015-04-05 14:38] #10362 closed

[2015-04-05 14:41] clintongormley commented on #10348
Closing in favour of #6699

[2015-04-05 14:41] #10348 closed

[2015-04-05 14:50] clintongormley commented on #7441
@mikemccand any thoughts about this?

[2015-04-05 14:56] clintongormley commented on #10385
Duplicate of #6647

[2015-04-05 14:56] #10385 closed

[2015-04-05 15:30] clintongormley commented on #10150
Hi @szou-cp

Let's reduce the complexity of your example by (1) reducing the number of fields involved (because we don't know what is happening in those other fields), (2) reducing the number of shards involved (because the cutoff frequency is per shard, not per index, see https://www.elastic.co/guide/en/elasticsearch/guide/current/relevance-is-broken.html) and (3) working with a finite set of doc

[2015-04-05 15:53] bsandvik commented on #6141
@clintongormley I observed this during a rolling restart of the cluster.

[2015-04-05 17:26] clintongormley commented on #7803
@bleskes any ideas about this?

[2015-04-05 17:30] reardencode commented on #10061
:+1: for at least allowing doc_values on fields whose whose analyzer is guaranteed to only generate a single value.

[2015-04-05 17:30] clintongormley commented on #10397
@kumar007007 could you provide a simple curl recreation which demonstrates the issue please?

[2015-04-05 17:32] clintongormley commented on #10399
Hi @mausch

Any chance you can provide some simple code which replicates the problem?  Without more to go on, I doubt anybody will pick this one up...

thanks

[2015-04-05 17:44] clintongormley commented on #10402
@jpountz any ideas what should be changed here?

[2015-04-05 17:45] clintongormley commented on #10403
@faxm0dem nice idea, but I'm not sure how doable it is.  The allocation decider makes lots and lots of decisions, which ones do we choose to log?

@dakrone what's your take on this?

[2015-04-05 17:47] clintongormley commented on #10404
+1

[2015-04-05 17:52] clintongormley commented on #10217
@dakrone ++ - should we be doing this by using parseField and then later using https://github.com/elastic/elasticsearch/issues/8963 to warn about the deprecations?

[2015-04-05 17:55] clintongormley commented on #10392
@jeffreyji666 that's what the `count` represents.  What do you think is wrong?

btw, deep pagination is problematic in a distributed system.  there's a good reason that google only returns 100 pages of results.

[2015-04-05 18:19] clintongormley commented on #10415
@martijnvg what's your take on this?

[2015-04-05 19:00] clintongormley commented on #10424
Hi @torrancew

The ruby client should use the address provided in this output:

    GET /_nodes/http

You should be able to set an `https` flag in the ruby client itself, which will automatically use https:// for sniffed nodes instead of http.  eg see https://github.com/elastic/elasticsearch-ruby/tree/master/elasticsearch-transport#authentication

Either way, Elasticsearch doesn't know about https

[2015-04-05 19:00] #10424 closed

[2015-04-05 19:01] martijnvg commented on #10415
@tuxpiper I agree we should be able to be lenient towards a missing parent type.

@clintongormley The idea I had was adding a `_unmapped_fields` option to the search dsl. Which can have the: `ignore`, `warn` and `error` (default). This option shouldn't just apply for `has_child` and has_parent, but also `nested` and other queries rely on mapping settings.

This idea came from: https://github.com/e

[2015-04-05 19:02] clintongormley commented on #10417
@hjz can you provide the actual code you're using for scroll requests, plus any exceptions?

[2015-04-05 19:02] clintongormley commented on #10425
@alexksikes please could you take a look

[2015-04-05 19:12] clintongormley commented on #10428
Hmm. This is a parse validation which happens during the initial parse phase, as opposed to when the bulk request has been divided up into mini-bulks and forwarded to all nodes to succeed or fail as appropriate.

I can understand why it fails as it does today, but from a client perspective it makes it a bit harder to decided what to do here i suppose...

[2015-04-05 19:15] clintongormley commented on #10304
Great to hear it is resolved. Closing this issue

[2015-04-05 19:15] #10304 closed

[2015-04-05 19:19] clintongormley commented on #10430
HI @shivangshah

The ability to delete a mapping has been removed in master (see https://github.com/elastic/elasticsearch/issues/8877).  If you need to change the mapping, you need to reindex.

[2015-04-05 19:19] #10430 closed

[2015-04-05 19:22] shivangshah commented on #10430
@clintongormley but how do we update the mapping if there is no "delete" ? I understand the reindexing part. Right now if you don't delete and recreate you cannot update the core mapping of a field. How can you do it in master now?

[2015-04-05 19:23] clintongormley commented on #10058
You raise a good point...  How to completely exclude documents from all queries that match some filter.  Reopening for discussion

[2015-04-05 19:23] clintongormley commented on #10058
@uboness this may be of interest to you

[2015-04-05 19:24] clintongormley commented on #10430
@shivangshah you can't.  you have to reindex.  changing a mapping means that your existing indexed data will now be incorrect.  the only way to correct that data is to reindex it all.

[2015-04-05 19:27] shivangshah commented on #10430
@clintongormley So basically you can't delete, you can't update and you are stuck with whatever is created (by first document indexed or manually put mappings) for a given field mapping?

[2015-04-05 19:31] clintongormley commented on #10430
correct

[2015-04-05 19:33] shivangshah commented on #10430
got it .. and this will be release in v2.0 I am guessing ?

[2015-04-05 19:35] clintongormley commented on #10436
Hi @r0goyal

You've given us incomplete information, eg how you set the template up, what the document contains, what you mean by "the mapping is not applied" (ie all of it? or just some field mappings?) etc.

A simple recreation of the problem would be appreciated.

[2015-04-05 19:42] clintongormley commented on #10438
Hi @vanatteveldt

Thanks for reporting. This should be fixed already in #7977

[2015-04-05 19:42] #10438 closed

[2015-04-05 19:46] clintongormley commented on #6141
@bsandvik ok - so existing cluster settings where taken into account, rather than new settings from config files.  what you describe makes sense.

[2015-04-05 19:48] clintongormley commented on #10430
Yes, but even with delete-mapping today, it is trappy.  you can still have vestiges of old fields in old segments, even though you have deleted the mapping.  So the same advice still applied: you want to change a field? reindex your data

[2015-04-05 19:54] shivangshah commented on #10430
reindexing the data is not a problem. The problem is with reindexing the data in a whole different index by putting new mappings to it. That's just not a good solution. My feedback here would be let the clients update the mappings and just warn them to reindex the data .. I'd rather get all the data from the same index and reindex in the same one rather than going through the route of creating a n

[2015-04-05 19:55] clintongormley commented on #10080
@martijnvg any ideas here?

[2015-04-05 20:00] r0goyal commented on #10436
Hi @clintongormley

Following is the code snippet

[code]

With ES 1.1.1 to 1.4.0 in classpath, serializing metaData gives

[code]

However with ES 1.4.1 and above, only following mapping is present -
[code]
Please let me know if you need anything else as well.

[2015-04-05 20:07] clintongormley commented on #10103
@dakrone any thoughts about this?

[2015-04-05 20:19] clintongormley commented on #7445
Hi @gseng

Have you resolved this issue, or have anything further to report?

[2015-04-05 20:20] clintongormley commented on #9578
@radu-gheorghe @markharwood any follow up on this issue?

[2015-04-05 20:21] clintongormley commented on #9694
No further info. Closing for now

[2015-04-05 20:21] #9694 closed

[2015-04-05 20:21] clintongormley commented on #9701
No further info. Closing

[2015-04-05 20:21] #9701 closed

[2015-04-05 20:21] clintongormley commented on #9700
No further info. Closing

[2015-04-05 20:21] #9700 closed

[2015-04-05 20:22] clintongormley commented on #9681
HI @nikolaialex

Sorry for the delay. This looks like an issue that has been fixed by caching FS lookups.
thanks

[2015-04-05 20:22] #9681 closed

[2015-04-06 01:21] sylvae commented on #9226
@mikemccand
It seems that the segments api cannot get the segments info for the recovery shard:
https://gist.github.com/sylvae/338142923225cb8192c4#file-segments
Also,the other info:
file list in the recovery shard directory on target node:
https://gist.github.com/sylvae/338142923225cb8192c4#file-file-list
recovery stage:
https://gist.github.com/sylvae/338142923225cb8192c4#file-recovery
hot thread

[2015-04-06 03:41] #8629 closed

[2015-04-06 03:50] dennisgorelik commented on #9714
@clintongormley

We are running ElasticSearch on Windows Server 2012.
Unfortunately the article you suggested only describes how to disable memory swap on Linux.

Do you know how to disable swap for ElasticSearch on Windows?
That question left unanswered on StackOverflow for 8 months:
http://stackoverflow.com/questions/25297682/how-to-avoid-elasticsearch-process-being-swapped-on-windows-servers

I

[2015-04-06 03:55] UnderGreen opened #10440 "Problem with floating fields"
Have problem with Elastic 1.4.4. Query result without scripting:
[code]
Query result with scripting:
[code]
Result of`http://logstash.test:9200/logstash-2015.03.13/_mappings`:
[code]

[2015-04-06 04:13] radu-gheorghe commented on #9578
Nothing from me, I couldn't get a setup with master ES and the production data that was producing the issue in the first place :(

[2015-04-06 04:31] jeffreyji666 commented on #10392
I got it wrong. I will close this issue. thanks.

[2015-04-06 07:19] tuxpiper commented on #10415
That sounds good @martijnvg , having such option in the search dsl would work great for us.

Thanks for reviewing this!

[2015-04-06 07:27] hjz commented on #10417
Here's the query to start the scroll

[code]

Then subsequent looks up are done via:

[code]

I'll follow up with exceptions

[2015-04-06 10:57] sleighsoft opened #10441 "New Feature - sourceAsMap()/sourceAsString() for TermVectorsResponse"
I recently tried to get the result of a TermVectorsRequest as a map/json string and found no suitable function to do so.

GetResponse already has that feature: elasticsearch/src/main/java/org/elasticsearch/action/get/GetResponse.java

I managed to do convert the result into a string with the following code:

[code]

With:

[code]

to convert it into a map

or

[code]

to convert it into a string

[2015-04-06 11:21] rmuir opened #10442 "CopyOnWriteHashMap/Set tests are extremely slow"
Suite: org.elasticsearch.common.collect.CopyOnWriteHashMapTests
Completed on J0 in 153.03s, 4 tests

Suite: org.elasticsearch.common.collect.CopyOnWriteHashSetTests
Completed on J2 in 180.31s, 3 tests

I do not understand why we have our own copy-on-write hashmaps/sets, nor why we would need tests for them that take minutes to run?

[2015-04-06 12:48] nithyanv commented on #10361
We are populating using bulk input. Sometimes, we see overwrites (i.e) version is incremented some of our records may have same _id in the test data. But timestamp is the same even in these records. How does update affect _ttl?

[2015-04-06 13:08] ianribas commented on #10394
It seems the problem is the same stated on the "Limitations" sections of http://blog.mikemccandless.com/2012/04/lucenes-tokenstreams-are-actually.html (linked on the post referenced above): both the SynonymFilter and the QueryBuilder are not able to correctly handle the situation where the synonym and the original term have different lengths on "AND" queries.

I think this issue in Lucene relates

[2015-04-06 13:28] rmuir commented on #10394
Thanks for the reminder @ianribas , I had completely forgotten about this issue! As a start maybe we can fix QueryBuilder to make use of positionLength where available and formulate the queries better. The logic in that thing is kind of scary and hairy, but I will take a look.

[2015-04-06 13:34] ianribas commented on #10394
You're welcome, @rmuir. I looked around QueryBuilder a bit and the logic is really complex already. And I fear this situation will only add more special cases. Please let me know if I can be of any assistance.

[2015-04-06 13:42] rmuir commented on #10394
You are correct @ianribas that the code is unapproachable. But we can't give up on it and just let it stagnate.

A lot of the complexity is because the tokenstream api (used to consume the analysis chain) is awkward to use here (additional state must be kept because it can only be consumed "forward-only').

We could consider another approach, such as converting the tokenstream to an automaton (we

[2015-04-06 13:43] nknize commented on #9716
Unless @j0r0 has an outstanding issue I consider this resolved.  Lets give a day or so for further feedback.

[2015-04-06 15:20] mikemccand commented on #10394
TermAutomatonQuery is in sandbox just because it's so new and likely quite slow (missing optos like https://issues.apache.org/jira/browse/LUCENE-6396 that @rmuir just opened), but it can run arbitrary token-level automata (each transition is a token), including ones with cycles I think (which our token streams cannot produce).

But I think the original issue here is not about positional querying b

[2015-04-06 15:26] rmuir commented on #10394
That is exactly what it makes it difficult, to fix the non-positional case (AND/OR) and still defer the proximity case until we have better solutions. I think its still possible, but not without adding another specialized case there (e.g. "multiple positions and lengths"). I will investigate this as an intermediate solution, maybe its not so bad.

[2015-04-06 15:46] mikemccand commented on #7441
I agree the static "divide equally on all active shards" is not great since a shard receiving very low docs/sec is unreasonably getting as much IndexWriter buffer as a shard under intense indexing.

Ideally, the allowed RAM would somehow be dynamically shared/tracked across N IndexWriters such that once the total RAM used is too high, Lucene would pick the largest in-memory segment (across all N I

[2015-04-06 17:01] mikemccand commented on #9226
OK the file listing makes it obvious that the shard has waaaay too many segments, and then it's expected you'd see such a high CPU cost in seekExact.

But we need to get to the root cause of why no merging is happening and so many segments are building up during your translog replay.

Hmm I think I see one possible issue: in 1.x (fixed in 2.0 since we let Lucene do the merging again) we apparently

[2015-04-06 17:05] mikemccand opened #10444 "Core: don't allow index.merge.async_interval=0 to disable all segment merging"
I think we currently allow 0 here to mean "no segments are ever merged" ... I think we should disallow that?

[2015-04-06 17:11] mikemccand commented on #10444
Woops, I removed 2.0.0 fix version here ... this only applies to 1.x since this option is gone in 2.x.

[2015-04-06 17:11] avleen commented on #9226
To be clear, we never saw this behavior in 1.3. Only 1.4. Is there some
change between the two which we can point to?

On Mon, Apr 6, 2015, 13:01 Michael McCandless <notifications@github.com>
wrote:

[2015-04-06 17:13] mikemccand commented on #9226
I opened #10444 for this.

[2015-04-06 17:16] mikemccand commented on #9226
@avleen as far as I can tell, this code is the same in 1.3 vs 1.4, so I'm not sure this theory can explain what you're seeing ...

[2015-04-06 17:25] mikemccand commented on #9226
@avleen actually bloom filters (enabled in 1.3 and disabled in 1.4) could have masked this issue, since they would have somewhat hidden the cost of segment explosion.

[2015-04-06 17:28] jpountz commented on #10216
A new release is out, I'll upgrade the dependency soon. http://search.maven.org/#artifactdetails%7Ccom.tdunning%7Ct-digest%7C3.1%7Cjar

[2015-04-06 17:36] torrancew commented on #10424
@clintongormley Thanks, that clears up the https matter, but I'm still having trouble setting an http publish port that differs from the port Elasticsearch is listening on. What is the proper config key for that? Currently, we set `http.publish_port` in elasticsearch.yml, with no visible effect.

[2015-04-06 18:04] avleen commented on #9226
That makes a lot of sense. Thanks!

On Mon, Apr 6, 2015, 13:25 Michael McCandless <notifications@github.com>
wrote:

[2015-04-06 18:11] jpountz commented on #10442
This is super slow indeed, I will look into it.

The history here is that we used to use immutable maps that we would copy whenever we would need to make changes but it did not play well with dynamic mappings (O(n) field introduction, see https://github.com/elastic/elasticsearch/pull/6707) so we finally used these new classes (see https://github.com/elastic/elasticsearch/pull/7486) which are immut

[2015-04-06 18:22] clintongormley commented on #10417
@hjz I don't see where you are getting the scroll_id from the previous scroll request and using it for the next scroll request.

Normally there would be some `while` loop which does a scroll request, checks if there are any hits, then issues a new scroll request, using the `scroll_id` returned by the previous scroll request.

[2015-04-06 18:24] clintongormley commented on #10441
@alexksikes any thoughts?

[2015-04-06 18:26] clintongormley commented on #10361
@nithyanv an `update` request could mess with the TTL, depending on what you set.

Perhaps check the `version` of the document with the bad TTL value? See if it is `1` or higher.  Also try inserting a new document with the same timestamp, and see if it is also reflecting the wrong TTL?

It seems to work for me, so I'm trying to figure out what is different about your setup.

[2015-04-06 18:28] kumar007007 commented on #10397
// new index

POST testindex/test
{
  "searchtext": "dev1"
}

// creating template with  wrong type to create error

POST _search/template/git01
{
    "query": {
                 "match_all": {
                       "searchtext": {
                              "query": "{{P_Keyword1}}",
                              "type": "oooophrase_prefix"
                                      }

[2015-04-06 18:30] jpountz commented on #10289
I think logging a warning is the right thing to do here? What if someone creates a plugin to add a scripting engine called `swp`? I also like the simplicity of the way it works now, if we start adding complex exclusion patterns I'm afraid it would become harder to reason about what gets compiled and what not.

[2015-04-06 18:36] clintongormley commented on #10424
Hi @torrancew

If I start Elasticsearch as follows:

     ./bin/elasticsearch --http.publish_port 9506

then it listens to localhost:9200 but the HTTP port is set to :9506

    GET /_nodes/http

Returns:

    {
       "cluster_name": "elasticsearch",
       "nodes": {
          "OrGQUNFjQe6BWmPPE7_1XA": {
             "name": "Tyrannosaur",
             "transport_address": "inet[/192.168.2.184:93

[2015-04-06 18:48] torrancew commented on #10424
Thanks, this helps quite a bit, but I still have a few problems left to solve (or perhaps I'm doomed to not be able to use cluster enumeration?)

Primarily, I need to advertise a hostname, not an IP, for certificate validation to pass.
Past that, I see that I can set a scheme per-host when instantiating the Elasticsearch::Client instance, but I don't understand how that would carry over to hosts d

[2015-04-06 18:54] dennisgorelik commented on #9714
@clintongormley
1) Do you mean disable the page file for all programs in Windows?
http://lifehacker.com/5426041/understanding-the-windows-pagefile-and-why-you-shouldnt-disable-it

2) When do you think VirtualLock will be supported on Windows?
Couple of months? A year?

[2015-04-06 18:56] clintongormley commented on #10397
Hi @kumar007007

Your example didn't actually work, but it gave me enough to demonstrate the problem: existing templates never get reparsed, even when they are overwritten:

     # create test doc
    POST testindex/test
    {
      "searchtext": "dev1"
    }

     # Create bad template
    PUT _search/template/git01
    {
      "query": {
        "match": {
          "searchtext": {
            "

[2015-04-06 18:57] clintongormley commented on #10397
@MaineC coule you look at this one too please?

[2015-04-06 19:01] clintongormley commented on #10289
@jpountz how about only trying to compile recognised extensions? Makes more sense to me than compiling anything in the folder.

[2015-04-06 19:04] clintongormley commented on #10424
Elasticsearch internally deals only with IP addresses, not hosts, so I think you're out of luck there.  Sniffing is used when the client is part of the same network as the clusters.  This sounds like you have a determined list of proxies in front of Elasticsearch, which you could list specificially rather than relying on sniffing.

[2015-04-06 19:05] clintongormley commented on #9714
http://lifehacker.com/5426041/understanding-the-windows-pagefile-and-why-you-shouldnt-disable-it

Yes.  If all of you've got running is Elasticsearch, then the advice from that article doesn't apply.

Hopefully soon. We've been waiting for feedback from Windows experts, but I think we now have enough info to proceed.

[2015-04-06 19:08] dadoonet commented on #10289
+1 we should only compile expected extensions. My 0.05 cents.

[2015-04-06 19:20] dennisgorelik commented on #9714
@clintongormley
Aside of ElasticSearch we are running other programs on the same server (IIS, SQL Server).
It probably does not make sense to run single ElasticSearch on Windows platform.
If/when we move ElasticSearch into separate server then it would be a Linux server (less frequent reboots, no licensing fees, better configuration support in ElasticSearch).

[2015-04-06 19:46] rmuir commented on #10289
I see other places in the code that ignore hidden files here (using isHidden). I think we should be consistent about this stuff, if we are going to look for only certain extensions here, then we should nuke the isHidden checks in the other places.

[2015-04-06 19:47] jpountz commented on #10289
@clintongormley @dadoonet  What if you install elasticsearch on a new machine, move your scripts to `config/scripts` but forget to install the scripting plugin. You would get errors that the scripts could not be found while they are in the expected folder. I think I could easily get confused while the warning that we have in the logs today would clearly explain what the issue is?

[2015-04-06 20:08] hjz commented on #10417
Yes that what we do. I omittied some code there. Essentially

[code]

[code]

[2015-04-06 20:12] torrancew commented on #10424
@clintongormley thanks. In this case, our automation installs a local proxy per Elasticsearch cluster node, so the list is inherently as dynamic as the cluster itself. That said, we can probably make due with specifying the list, and maintaining it separately - we were just hoping that we could make the cluster do the work for us.

[2015-04-06 20:30] asanderson commented on #10058
Currently, it's a pain to have to rewrite an end-user's query to wrap all their queries and filters w/ a common access control filter.  There should be an easier way to do this.  From an API user perspective, the ideal solution would be to specify top-level pre_filter similarly to how easier it is to specify a post_filter. If agreed, then feel free to close this again and open up a new feature to

[2015-04-06 21:08] seang-es opened #10447 "Hanging transport connection thread on EC2"
Observed on 1.4.4, 1.5.0.

To repro:  Set up four-node cluster on EC2, 1 master, 2 data, 1 client only.  Under certain load test conditions with load driving against the client node only, the client node reaches a state where it can no longer handle indexing or query operations, and many administrative commands (_cat) fail.

_cat/indices and _cat/shards will fail 100% of the time.  _cat/nodes will

[2015-04-06 21:10] seang-es commented on #10447
The same tests performed by our customer on a non-EC2 cluster did not result in the same error.  This seems to be an edge case around EC2's networking and the load they are using to drive the client node.

Configuration is completely vanilla except for the use of unicast discovery.  No plugins installed.

[2015-04-06 21:37] grantr commented on #10107
The recent deprecation of rivers makes this statement more acceptable. Elasticsearch definitely was an ETL pipeline until then.

I still don't understand the resistance to this feature, but it seems pretty definite, so I'll close this. We'll implement it as a proxy most likely.

[2015-04-06 21:37] #10107 closed

[2015-04-06 21:55] afx114 commented on #10289
Sorry my request wasn't clear -- it's not the extension that is the issue, but the fact that it is a hidden file prefixed with the `.` character.  If your scripting engine was called `swp`, I think it would be fine to load `myScript.swp`.  But I think it is problematic to load `.myScript.swp` (notice the dot in the front).  Watcher shouldn't attempt to load dot-files files regardless of their exte

[2015-04-06 21:59] afx114 commented on #10289
Although, now thinking about it some more, I could see an situation where someone copies an existing script to `myScript.groovy.bak` or `myScript.groovy.20150406` and then creates a new version of `myScript.groovy`.  Does that mean watcher will compile both files?  What if we have 50 backups in the directory, will watcher compile them all?  Perhaps that is an argument for compiling only expected e

[2015-04-06 22:12] josephglanville commented on #9498
Overall +1 to this change for increasing durability of shards.

However once this change goes though one will need to either resort to RAID of some description of more shards to make up for the loss of spindles.

In light of this change having multiple shards allocated to the same node would actually be beneficial in terms of IO throughput but could anyone comment on any drawbacks of this? It seem

[2015-04-06 22:22] nornagon commented on #10447
I'm seeing what appears to be a similar issue. 1.4.4 and logstash 1.5.0rc2. I have 4 total nodes (m3.large), 3 data-only (data: true, master: false) and one client/master (data: false, master: false). Logstash (also hosted on ec2) is sending around 50 messages/sec via the "transport" protocol to the client node.

After a while, searches stop working and the client node no longer responds to `GET /

[2015-04-06 22:25] saffroy commented on #10072
Thanks @jpountz for working on this!
One question regarding your commit c7115f8: with 'numeric_resolution' set to 'seconds', will it parse a double (or string) value of 42.001 into 42001 ms or 42000 ms?

[2015-04-06 22:39] nornagon commented on #10447
The `/_cat/{nodes, shards, indices}` behaviour matches what @seang-es is seeing also (nodes succeeds sometimes, shards/indices fail always)

[2015-04-07 00:24] nornagon commented on #10447
Possibly related: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1317811

[2015-04-07 01:07] jtibshirani commented on #10356
If the request sounds reasonable, would you mind if I took a stab at this? I would plan to stick with the current behavior for interpreting orientation (since #5968 is still open).

[2015-04-07 01:15] jtibshirani opened #10448 "mappings are unexpectedly modified if analysis plugin is removed"
Say you're using a custom analysis plugin (perhaps one that defines a "canadian" analyzer), and add a mapping that refers to this analyzer, plus a document:

https://gist.github.com/jtibshirani/1ac46d1624655ba1b694

If you bring down the cluster, remove the plugin from each 'plugins' directory, then restart the cluster, Elasticsearch will throw a MapperParsingException, but then do a dynamic mappi

[2015-04-07 01:16] markwalkom commented on #10447
Just to note, @nornagon mentioned he was seeing no disconnects after he upgraded his kernel;

[2015-04-07 02:24] rmuir commented on #10394
Here is some progress:
* https://issues.apache.org/jira/browse/LUCENE-6400 SolrSynonymParser (its the syntax used here by ES) doesn't really construct the map correctly. positionsLengths are really not even available today in your situation due to this.
* https://issues.apache.org/jira/browse/LUCENE-6401 Refactor the big method :)

Even after these, there is more work for synonyms before it can do

[2015-04-07 06:56] shinyke opened #10450 "Is there someway to get parent doc with hitted children docs when using "has_children" to search"
Can I get return like this when using "has_children" to search :

[code]
[code]

"matched_children" is what I need. I hope to get parent docs with matched children docs. Is there someway to meet this requirement？

[2015-04-07 08:05] colings86 commented on #10284
@clintongormley yes, I think it might be due to https://github.com/elastic/elasticsearch/pull/9032. I'll assign it to myself and hopefully get a fix soon

@gmarz formatting numeric results can be useful to do things such as padding and rounding when required. The `format` parameter should work on terms, and histogram when the field is numeric. I will look into that as well as fixing this issue so

[2015-04-07 08:20] mikemccand commented on #10434
I think it's useful to have back compat indices with "many" segments: this uncovered one nasty lucene back-compat bug (now fixed), that was only tickled if merges kicked off immediately on upgrade.

[2015-04-07 08:24] bleskes commented on #10434
@mikemccand agreed it's well worth the extra time. We just need to figure out what exactly is slow there. If it ends being sane given the number of files, we'll just bump up the timeout.

[2015-04-07 09:44] tlrx commented on #10433
@dadoonet @rmuir my fault - I should have seen those warnings when merging #10330. By the way I'm not sure the parent project PR will fix thoses warnings so I created #10453.

[2015-04-07 09:46] dadoonet commented on #10433
@tlrx I agree. My initial thought was that there was duplicated maven plugins. Something I fixed while creating the parent project.
But, as Tanguy said, I would not have fixed the issue reported by @rmuir.

[2015-04-07 10:09] alexksikes commented on #10425
For your use case I would recommend switching to the MLT Query which, as being part of the query DSL, would allow you to filter out the results. What is meant in the documentation is that you can use any  of request body options of the search API but excluding a query, as the MLT API is already performing a query.

[2015-04-07 10:47] faxm0dem commented on #9212
I'm having an issue which awfully looks like this one on 1.4.2.
Everything went smoothly until I added 3 data nodes to my 6-node cluster.
I am seeing the new nodes fail (the old ones never do): they seem to deadlock, can't even do a `jstack` on them. Are you guys seeing deadlocks too on the failed node? (api times out)

[2015-04-07 10:52] jpountz commented on #10216
I tried to upgrade (see https://github.com/jpountz/elasticsearch/tree/upgrade/t-digest) but we have test failures due to the fact that the new cdf computation returns 100 even for values that are below the max value. For instance if I replay @colings86 's example above, I get the following response:

[code]

It returns 100 for 26 although the max value is 27. But maybe it's still better than what

[2015-04-07 10:54] rmuir commented on #10213
Upgrading only 3.x is short-sighted and will leave the same trap for userse for 2.0->3.0.

I do think only segments that are "out of date" should be upgraded. I do think its also nice to have an option to upgrade only the SUPER ANCIENT ones and maybe some tools and stuff can use that. But it should not be the default behavior.

[2015-04-07 10:55] kiryam commented on #6914
+1

[2015-04-07 10:57] colings86 commented on #10216
@jpountz I would agree, since t-digest is an approximate algorithm it may calculate the 100th percentile as a lower value that the actual data depending on how it buckets the data.

+1 on making the test a bit more lenient as well as improving the cdf computation

[2015-04-07 10:58] jpountz commented on #10216
OK, I'll do that then. Thanks for the feedback.

[2015-04-07 11:14] rmuir commented on #10213
I would go further too, if we add an 'ancient' only option (segments from previous lucene major version), and make sure logging and various stats apis etc scream bloody murder when users have ancient segments. Really make the user feel shame and humiliation for still having them around. Otherwise nothing will get done.

[2015-04-07 11:19] tuxpiper commented on #10415
@clintongormley @martijnvg  since the reception of the idea seems to be positive, we are looking forward to having a notion of when this behavior could be incorporated in ElasticSearch. Thanks!

[2015-04-07 11:39] #10442 closed

[2015-04-07 11:43] konradkonrad opened #10456 "Elasticsearch should raise a mapper exception when reserved "mapping fields" are used inside "properties""
Unfortunately it is possible to use ["top-level"/meta mapping properties](http://www.elastic.co/guide/en/elasticsearch/reference/1.x/mapping-fields.html), such as `_source`, `_all`, ... inside the `"properties": {}` portion of a mapping, without complaints. This allows for user errors that are easily missed.

Using the following mapping
[code]
will lead to:

[code]
Note, how the `_all`-"Field-Mapp

[2015-04-07 12:04] jpountz commented on #10072
I just checked: it would be parsed as 42000ms.

[2015-04-07 12:06] jpountz commented on #10072
Unfortunately, the abstraction we are using right now (`java.util.concurrent.TimeUnit`) cannot deal with fractions so making it parse as 42001 would require some work. I suggest that we merge the `numeric_resolution` change first and then open a new issue if better handling of double values is desirable?

[2015-04-07 12:13] clintongormley commented on #10289
Surely the error would be "unsupported language XXX" instead?

I think so.  We have had similar issues with config files, eg https://github.com/elastic/elasticsearch/issues/8040

[2015-04-07 12:21] clintongormley commented on #10450
See http://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-inner-hits.html#parent-child-inner-hits (new in 1.5.0)

[2015-04-07 12:21] #10450 closed

[2015-04-07 12:33] martijnvg commented on #10224
One note to @jpountz's note about memory usage for nested docs: Nested documents requires a full bit set for each nested field that is a parent of another nested field. This applies for both 2.0 and 1.x (the nested sorting is just an exception here).

[2015-04-07 12:34] clintongormley commented on #9212
@faxm0dem are you using Ubuntu? I'm wondering if this kernel bug might be at fault? https://github.com/elastic/elasticsearch/issues/10447#issuecomment-90303768

[2015-04-07 12:38] clintongormley commented on #10213
Agreed - it's just about adding the option to do the least work possible to get your cluster moving again.  This would be particularly useful when combined with the upgrade-old-segments-as-part-of-background-merge-process functionality that we've discussed.

[2015-04-07 12:42] clintongormley commented on #10456
Relates to #9059

[2015-04-07 12:42] nknize commented on #10356
@jtibshirani Absolutely. This is a good issue for getting started if you have not already contributed. Thanks for being sensitive to #5968. Just a heads up (although you shouldn't have this problem if you're mirroring the optimization from GeoDistanceFilter) be careful not to use any JTS or S4J functionality in the GeoPolygonFilter logic. This filter is used for ```geo_point``` types and does not

[2015-04-07 12:46] holm commented on #10224
We use the nested document feature to associate a personal "score" for each user to a document. We then use the score for the active user when sorting the results. For most documents only very few users will have a score, so the length of the nested documents are quite short.

I think having an eviction policy for the bitsets sounds like a good idea. Barring that, I would love to know if there are

[2015-04-07 13:09] nknize commented on #10271
I'm not sure why the docs have an example like this.  This is describing how to use a FilterBuilder not a QueryBuilder.  Here's the example using the FilterBuilder:

[code]
At the moment GeoShapeQueryBuilder does not accept a relation (everything boils down to ```CONTAINS``` || ```WITHIN``` || ```INTERSECTS```). This is primarily due to spatial query complexities in Lucene that haven't been cleane

[2015-04-07 13:21] nknize opened #10458 "[GEO-JavaApi] ShapeBuilder.new{Geometry} should accept initialization parameters"
Many of the static builder methods in ShapeBuilder are cumbersome to use. Below is an example for creating a newEnvelope

[code]

Java users should have the option to pass the coordinates as parameters:
[code]

Other static initializers like this would make the java api more "user-friendly" simply by adding parameters or parameter lists.

[2015-04-07 13:22] nknize commented on #10458
Spawned from #10271

[2015-04-07 13:22] roblovelock commented on #4847
+1
I am currently working arround this issue by running a script (probably not the most efficient)

"aggs" : {
                            "decimalValueHistogram" : {
                                "terms": {
                                    "field": "value",
                                    "script" : "_value % interval < 0 ? _value -((_value % interval) + interval) : (_value -  (_value %

[2015-04-07 13:29] konradkonrad commented on #10456
@clintongormley thx for labelling this!

While I totally agree on the relation to #9059, I believe this one should/could be addressed ahead of time, since atm there exists a set of should-be-reserved words: [Mapping » Fields](http://www.elastic.co/guide/en/elasticsearch/reference/1.x/mapping-fields.html)*)

As the `_all` example seems to show, there is also some validation already in place. I cann

[2015-04-07 13:31] nknize opened #10459 "[GEO] Add relations to GeoShapeQueryBuilder"
As of 1.5.0 and earlier spatial relation support is only available to ```GeoShapeFilter```. ```GeoShapeQuery``` returns any geometry that ```INTERSECTS || WITHIN || CONTAINS``` the search geometry.  In order for a user to achieve a spatial relation search a post filter must be used which will result in a traversal over the candidate result set.  This enhancement adds relation support to ```GeoShap

[2015-04-07 13:44] erjiang commented on #10437
Here is the output of hot_threads after elasticsearch started consuming extra CPU again. It is now consistently using approx 40-60% CPU up from 4-8% CPU.

[code]

Running it again, I get:
[code]

Please let me know what other information I can provide.

[2015-04-07 13:45] apogrebnyak opened #10460 "Unable to set custom default analyzer by reference."
Feature request.

I want to be able to have a common `ToXContext` object that sets up a custom analyzer, and then be able to set it as a default by reference, e.g. the request would look something like this:

[code]
If I try to do this, ES complains that `doublemetaphone_analyzer` is an unknown type.

Currently, the only way to use a custom analyzer as a default one, is to define it with the name

[2015-04-07 13:53] saffroy commented on #10072
I support your suggestion of opening a new issue on top of the above change, though for me it's mostly a convenience issue, ie. not really a big deal.

In my case, the annoyance was that I thought it would work without an extra step (seconds since epoch seemed like a common format to me, much more than milliseconds since epoch), until I found that I had to explicitly tell Logstash to convert from

[2015-04-07 14:04] sciphilo commented on #10408
I'd find this very useful too.  Right now I'd like to be able to aggregate on hierarchical paths such as /1/2/3 by specifying a prefix or a depth (for example a depth of 2 would be /1/2).

[2015-04-07 14:18] cmeury commented on #10338
No, the log entries are shown with ".query". I configured like this:

[code]

It was acknowledged and showed up when GETting the settings, but I still have entries like this in the slowlog file:

[code]

I tried setting `logger.index.search.slowlog` to `INFO` as well, did not change anything. Isn't it hierarchical anyway?

[2015-04-07 14:19] drej82 commented on #10216
The change I've made couldn't cause such behavior. I'm wondering if Ted made some other changes. The way it works, it should return values < 100 % for all neighbors of max, even for neighbors > max. Instead of relaxing the test, I'd suggest we find out the root cause.

Sent from my Windows Phone

-----Original Message-----
From: "Adrien Grand" <notifications@github.com>
Sent: ‎4/‎7/‎2015 3:59 AM
T

[2015-04-07 14:36] faxm0dem commented on #9212
@clintongormley no Scientific Linux 6 actually using openjdk-1.7.0

[2015-04-07 14:53] sylvae commented on #9226
@mikemccand @bleskes I have some questions,where and when es  start the async merging normally such as create a new index? And if we start the async merging on engine init,is it possible to fix this issue?Could it have some negative effects?

[2015-04-07 15:04] ostefano commented on #6730
Can someone confirm me that this is why `copy_to` inside `_id` mappings does not currently work?

[2015-04-07 15:17] bleskes commented on #7803
with 1.3.2 the file % shows of recovered bytes of the total shard size. That means it will bellow 100% if files are re-used. It's confusing and we changed in #9811 to make 100% to mean all bytes that needs to be recovered (instead of total bytes).

I think we can close this, as the class is now refactored and cleaned up.  If you still feel there are issues with it (or I missed something), please f

[2015-04-07 15:17] #7803 closed

[2015-04-07 15:43] rjernst commented on #6730
This change was made only to master. As far as I can tell, `copy_to` was never supported for the `_id` field.

[2015-04-07 15:48] mikemccand commented on #10444
Actually, I guess a value of 0 to disable async merges makes sense if you had set index.merge.force_async_merge to false (so Lucene can kick off its own merges)... and anyway this setting is gone in 2.0, so I don't think we should do anything for 1.x.

[2015-04-07 15:48] #10444 closed

[2015-04-07 16:02] dakrone commented on #10407
Hi @aphyr , I've been looking through the https://aphyr.com/media/es-create-loss.tar.gz logs that you provided, however, it looks like the history.edn timestamps are nanoseconds relative to the time that the test was started.

Could you add or modify the timestamps to be absolute instead of relative so we can correlate the logs from the ES instances to the Jepsen history?

[2015-04-07 16:19] javanna commented on #10038
yea, good point @clintongormley that makes sense. Or if we go for parsing filters at search time instead, we could turn off strict query parsing I believe: https://github.com/elastic/elasticsearch/issues/10135#issuecomment-89579164 .

[2015-04-07 16:31] LambdaDriver commented on #10259
I have encountered the same error on Solaris 11 SPARC using the zip file downloaded from the main site (elasticsearch-1.5.0.zip).

`SunOS logstash01.local 5.11 11.2 sun4v sparc sun4v`

I run using the following command
`elasticsearch-1.5.0/bin/elasticsearch --config /etc/elasticsearch/elasticsearch.yml -p elasticsearch.pid -d`

Pertinant environment info
[code]

[code]

[2015-04-07 16:43] babadofar commented on #9609
It would be interesting to have some numbers demonstrating why BM25F isn't necessary.
An alternative solution to  varying term frequencies across fields is described in this paper
[Robertson CIKM-2004] S. Robertson, H. Zaragoza, M. Taylor: Simple BM25 Extension to Multiple Weighted Fields. In Proc. of CIKM 2004.

http://www.hugo-zaragoza.net/academic/pdf/robertson_cikm04.pdf

[2015-04-07 16:51] rmuir opened #10465 "Simplify murmur3 type"
I don't think we should allow trappy options like indexed=true or docvalues=false for this field. Cardinality and range of values is enormous by definition.

[2015-04-07 16:52] pickypg commented on #10465
I think it would be great to default:

[code]

for

[code]

Doc values _should_ be true in 2.0 already, but it makes a lot of sense to not index the field by default as well.

[2015-04-07 16:59] bleskes commented on #9226
@sylvae it is started when recovery is finished (which is no good). @mikemccand is already working on a fix.

[2015-04-07 17:01] javanna commented on #4537
Rivers are deprecated, see #10345 .

[2015-04-07 17:01] #4537 closed

[2015-04-07 17:24] clintongormley commented on #10437
Hi @erjiang

Are you seeing any logs in syslog about "riding the rocket"?  See https://github.com/elastic/elasticsearch/issues/10447#issuecomment-90295492

[2015-04-07 17:25] nemonster opened #10466 "Require units be specified for time configuration"
Default units for attributes such as discovery.zen.ping_timeout are milliseconds, but the documentation often uses values in seconds when describing defaults.  Unless you specify the units when modifying one of these values, for instance using 30 vs. 30s you will wind up with 30 milliseconds, which was not intended.  Requiring a valid time unit when setting one of these should be required.  Altern

[2015-04-07 17:42] clintongormley commented on #10466
Related to #7633

[2015-04-07 17:51] blevine opened #10467 "Support ANT-like syntax in path_match for dynamic mappings"
Use case:

I'm indexing documents with nested objects where some of the objects include unique ids (GUIDS). I want all such id fields to be "not_analyzed." The id fields always have an '_id' suffix and these fields can appear at arbitrary levels in the document hierarchy. I'm trying to come up with a dynamic mapping template to address this so that any field of the form "*_id" regardless of the ne

[2015-04-07 18:00] clintongormley commented on #10467
Hi @blevine

Just `match` should work for you:

    DELETE test

    PUT /test
    {
      "mappings": {
        "test": {
          "dynamic_templates": [
            {
              "ids": {
                "match": "*_id",
                "mapping": {
                  "type": "string",
                  "index": "not_analyzed"
                }
              }
            }
          ]

[2015-04-07 18:00] #10467 closed

[2015-04-07 18:16] blevine commented on #10467
Too obvious ;-)  Thanks!

[2015-04-07 20:20] skearns64 commented on #9293
I think as part of derivatives, we should also consider optional time normalization when date histograms are in use, so I could report the derivative "per minute," regardless of whether my buckets are per-minute or one every 5 seconds. This will be a big help when trying to show consistent derivative values when zooming in or out of a graph.

[2015-04-07 20:25] bleskes commented on #10066
It's hard to say, but with 1.4.0, if a recovery was cancelled half way (due to OOM or what ever) and one was unlucky, you could end up with half baked files files and thus corrupted shard.  This was fixed in 1.5.0.

I'm not sure what we can do now to support / disprove this theory. If there is no other information I will go with a broken recovery and close it.

[2015-04-07 20:56] ericbernal commented on #10397
i have the same issue.. forcing us to resort to only managing templates from file and not index.
@MaineC show us some magic

[2015-04-07 22:15] kozaczynski opened #10469 "allow relocating primary shards on shared filesystems without failing the shard"
In the current implementation of replica shard when a primary shard is relocated to a different node the cluster enters red state for the duration of the shared storage handoff. That duration is proportional to the shard size.
The desired behavior is that the cluster doesn't enter the red state at all. An acceptable constraint is that for the duration of the storage handoff no documents can be add

[2015-04-07 22:16] rjernst commented on #10465
@pickypg I don't think it should be defaults, it should just be not allowed to have anything about `index: no` and `doc_values: true`.

[2015-04-08 02:15] spudbean commented on #1063
An alternate approach to "block until refresh" is "return a token that I can use to force consistency on my next query". On a PUT, ES could return some opaque consistency token. On subsequent queries, I can pass a "be consistent with" parameter and give it the token from my last PUT (or several such tokens). ES will block until the "refresh" for that token has occurred (it may have already occurre

[2015-04-08 02:23] shinyke commented on #10450
@clintongormley  Thx!!!! "inner_hits"  is  what I want. It's very helpful~

[2015-04-08 03:23] chenryn commented on #6914
+1

[2015-04-08 03:42] vishalshah-org commented on #7030
@clintongormley a bit curious why scripting isn't a better fit for advanced patching/merging needs? this would help keep the update api simpler, this would allow u guys to move forward with the simpler use cases folks want - ex #7332 and #5291... Just a thought. I do think however a patch language would be cool..

[2015-04-08 03:42] ppf2 commented on #10466
It sounds like there are backwards compatibility concerns around requiring a time units.  Have we considered implementing smarter defaults when whole numbers are detected for settings in the meantime?  For example, there are settings out there that can be dangerous when mistakenly set to whole numbers (and we have seen this happen in production environments), things like zen discovery and fault de

[2015-04-08 03:44] nirmalc commented on #10249
Also filtering by fields by url param might be good addition

[2015-04-08 09:02] #7325 closed

[2015-04-08 09:20] nick4eva commented on #8708
+1

[2015-04-08 09:34] clintongormley commented on #8693
After chatting to @jpountz and @s1monw about this, we have a new proposal.  Assuming doc values deliver on their promise, the long term intention will be to remove in-memory fielddata completely. (This assumes that we have a solution for analyzed string fields as well).

New proposal:

    doc_values:       true | false              # defaults to true for all but analyzed string fields
    fieldda

[2015-04-08 09:38] s1monw opened #10473 "Automatically wait for green / yellow if possible on index creation"
today index creation returns soon / immediately without waiting for green / yellow. I think we should for a better user experience. We really only ready for indexing and durability if replicas are assigned and started. At least we should do best effort here.

[2015-04-08 09:39] s1monw commented on #8693
+1 @rmuir WDYT

[2015-04-08 09:42] s1monw commented on #10473
seems like I had the same idea a while ago :+1:

[2015-04-08 09:42] #10473 closed

[2015-04-08 09:42] s1monw commented on #10473
https://github.com/elastic/elasticsearch/issues/9126

[2015-04-08 09:43] clintongormley commented on #8693
To clarify, `global_ordinals: lazy` means "build global ordinals only when they are required for a request", while `eager` means "build global ordinals on every refresh"

[2015-04-08 09:51] clintongormley commented on #7030
@vishalshah-org scripting obviously allows you to do whatever you want, which is fine.  That said, scripting today requires you to add a script to every node, which is quite clumsy.  It'd be nice to have a simple patch language that doesn't require you to expose scripting.

[2015-04-08 09:51] s1monw commented on #10469
I will look into this, yet the ` That duration is proportional to the shard size. ` is a property of the shared filesystem not of elasticsearch in this case.

[2015-04-08 09:57] #10347 closed

[2015-04-08 10:08] Nurza opened #10474 "[ELK] Elasticsearch errors when i add a scripted field in Kibana 4"
Hello, I'm using ELK with kibana 4.0.2 and elasticsearch 1.4.4 on ubuntu 14.04 and java version "1.8.0_40"
Java(TM) SE Runtime Environment (build 1.8.0_40-b25).

When I want to create a scripted field (example: ```doc['status'].value+42```) the web ui displays the message: ```Discover: An error occurred with your request. Reset your inputs and try again.```

And in ```/var/log/elasticsearch/elasti

[2015-04-08 10:10] Anand-J-Kadhi opened #10475 "Getting compilation error when parsing Timestamp from logs file"
Hi,
I am getting compilation error when trying to parse a timestamp in format '2013-02-03' i.e 'yyyy-MM-dd'. Actually i am trying to parse the timestamp in the logs file on 'http://grokdebug.herokuapp.com/' website with a input  :
2015-02-02 11:00:58
and pattern :
 date {
    match => [ "timestamp", "yyyy-MM-dd HH:mm:ss" ]
    }
 Whenever i use yyyy-MM-dd format i get compilation error. Attaching

[2015-04-08 10:55] clintongormley opened #10477 "Query string time zone not working"
I have following code:
[code]
First query result:
[code]
Second query result:
[code]

Shouldn't these results be the same?

(Copied from https://github.com/elastic/elasticsearch/pull/8164#issuecomment-90730355)

[2015-04-08 10:56] clintongormley commented on #10477
@dadoonet Opened this issue for you

[2015-04-08 10:58] clintongormley commented on #10474
Hi @Nurza

Please ask questions like these on the mailing list.  By default, the only scripting language enabled for dynamic scripts is "expressions", which doesn't handle non-numeric fields.  If you want to use groovy, you'll have to store your scripts in a file on the server.

[2015-04-08 10:58] #10474 closed

[2015-04-08 10:59] clintongormley commented on #10475
Hi @Anand-J-Kadhi

It sounds like you have a question with logstash, not Elasticsearch. Please ask your question on their mailing list instead.

[2015-04-08 10:59] #10475 closed

[2015-04-08 11:50] Anand-J-Kadhi commented on #10475
Sorry for the mispost, thanks i will post on this on Logstash.

[2015-04-08 12:02] mikiot opened #10481 "has_child applied on an alias does not work"
I am using elasticsearch 1.5.0 and I have a filtered alias.
The index contains 2 types A and B. B is a child to A. The filter extracts from the index all the types applying some conditions. B gets soft deleted (marked as deleted in the document with a flag) and does not show in the documents returned when searching the alias. But when I query for A that do not have B (using a has_child filter), al

[2015-04-08 12:31] clintongormley commented on #10481
Hi @mikiot

The `filter` (now renamed to `post_filter`) is only applied after aggregations are calculated.  This is not a bug, it is by design.  You would need to include the `has_child` clause in your main `query` for it to be applied where you want it.

[2015-04-08 12:31] #10481 closed

[2015-04-08 12:40] mikiot commented on #10481
But I use it in my main query (not in alias filter) and it does not wok. And my main problem are not aggregations, but the fact that if I do a simple filter on the alias it does not work and it should because this makes aliases pretty useless when using parent/child relationships.

[2015-04-08 12:56] jaymode opened #10483 "add profile name to TransportChannel"
The `NettyTransportChannel` has a profile name, which is the name of the profile that the channel belongs to. These profiles allow for binding to multiple addresses and/or ports.

After #10350 there is a new `TransportChannel` implementation, `DirectResponseChannel`, used in the netty transport, which does not have the profile information. This implementation should provide a profile name to make

[2015-04-08 13:04] clintongormley commented on #1984
Closing in favour of #10174

[2015-04-08 13:04] #1984 closed

[2015-04-08 13:05] clintongormley commented on #10481
Currently you have to include that filter clause anywhere that you use a `has_child` filter/query, otherwise it won't work.

Related: https://github.com/elastic/elasticsearch/issues/10058

[2015-04-08 13:09] clintongormley opened #10485 "Parse alias filters at search time"
Currently alias filters are parsed only when the alias is created.  This results in problems like:

* #8534 Needing to resolve `now` at search time
* #10135 Inability to support parent-child clauses

This would be solved by simply parsing alias filters at search time instead.

[2015-04-08 13:09] clintongormley commented on #10135
Closing in favour of #10485

[2015-04-08 13:09] #10135 closed

[2015-04-08 13:16] javanna commented on #10038
we now have an issue for parsing filters at search time, see #10485.

[2015-04-08 13:35] #10352 closed

[2015-04-08 14:12] martijnvg commented on #9958
@AlexKovalevich Thanks for sharing. It think this was fixed via #10263 (since it looks similar to the issue you describe). This will be included in 1.5.1. I can't be sure if this really fixed your issue, because there is no reproduction. If you like you can build from the 1.5 branch and see if the issue still occurs. This would help a lot.

[2015-04-08 14:18] bleskes opened #10487 "Dangling indices may not be imported if found on elected master node"
Dangling indices are indices that are found on disk but do not exist in the cluster state. To be safe, those are imported into the cluster state instead of automatically deleting them. This is done by reading their meta data and sending the master node a request to add them to the current meta data.

At the moment, this request may be lost if the dangling index is discovered on the master and the

[2015-04-08 14:27] bleskes commented on #10483
One more note that whether we use `__local__` or something else, we need to make sure we don’t allow people to use that name when configuring profiles in their settings (`transport.profiles.*`). It also seems we use `.client` in one place. `.local` then perhaps?

[2015-04-08 14:47] spencerwi opened #10488 "Possible missing dependency: Apache HttpCore 4.3.x"
When upgrading our dependencies, we encountered this error in our stack trace:

[code]

After checking through the pomfile for elasticsearch-cloud-aws, we didn't find any references to a specific version of Apache HTTPCore (so we weren't able to directly identify which version elasticsearch depends on).

We are using elasticsearch 1.5.0 and cloud-aws 2.5.0 (per the helpful README in cloud-aws!); w

[2015-04-08 14:50] polyfractal commented on #10002
Added in #10024

[2015-04-08 14:50] #10002 closed

[2015-04-08 14:59] mrec commented on #8788
We've just seen this issue for the second time. The first time produced only a single duplicate; this time produced over 16000, across a comparatively tiny index (< 300k docs). We're using 1.3.4, doing bulk indexing with the Java client API's `BulkProcessor` and `TransportClient`.

However, we're **not** using autogenerated ids, so from my reading of the fix for this issue it's unlikely to help us

[2015-04-08 16:04] kozaczynski commented on #10469
The duration comment is about the current behavior that we need to change. The cumulative effect of that behavior is that when we restore a large index with 30+ shards into a cluster that already has number of large indexes we see the cluster go in-and-out of the red state for an extended period of time.

[2015-04-08 16:14] tnesavich opened #10490 "URI search not returning results when &fields used"
Running into an issue with URI searches not returning expected results after upgrading from 0.90.9 to 1.4.1

The issue is that subfields are not returned when specified with "&fields".  I have confirmed that the data is there by doing the same search without the &fields specifications and get the Meter.geometry.coordinates.  I am not seeing anything in the release notes for 1.4.1 that indicate any

[2015-04-08 16:26] brwe commented on #8788
@mrec It would be great if you could open a new issue. Please also add a query that finds duplicates together with `?explain=true` option set and the output of that query like above.
Something like:

[code]

Is there a way that you can make available the elasticsearch logs from the time where you had the network issues?
Also, the output of
curl -s 'http://web605:9200/statistics-20141110/_segments?

[2015-04-08 16:40] rjernst opened #10491 "Change default script language to expressions"
Since we have non sandboxable dynamic scripts disabled by default, and the sandbox is being removed for groovy (#10480), I think we should change the default language to expression scripts.  This will at least be a better behavior out-of-the-box for users with simple scripts (e.g. #10474).

We should also consider moving groovy back to a separate plugin (separate issue, but just mentioning here).

[2015-04-08 16:51] erikringsmuth commented on #2401
+1

The workaround of adding `"match_mapping_type": "*"` to all fields works in the meantime.

[code]

[2015-04-08 16:57] dakrone commented on #10491
+1 for moving to expressions by default

I'm -1 on this, because it's still nice to have a "full-power" scripting language that doesn't require doing a node restart to use (just stick some scripts on disk and they are usable)

[2015-04-08 17:06] hkorte opened #10492 "Java API produces invalid search request with AggregationBuilders.topHits("topHitsAgg").setNoFields()"
The Java API allows to construct a top_hits aggregation without fields using the method setNoFields():

    AggregationBuilders.topHits("topHitsAgg").setNoFields()

This is translated to

    {"top_hits":{"fields":[]}}

Unfortunately, the top_hits aggregation does not support "fields". Executing a request built like that leads to a SearchPhaseExecutionException:

    ...Parse Failure [Unknown key

[2015-04-08 17:16] Fizzadar opened #10493 "cluster.routing.allocation.enable = None is ignored during rolling restart"
We are going through the process of making some changes to our ES cluster (adding new plugins/minor config tweaks). Following the process outlined at:
http://www.elastic.co/guide/en/elasticsearch/guide/master/_rolling_restarts.html, we set `cluster.routing.allocation.enable` to `none` before restarting each node; in the past (<1.4) this has worked a charm, and the shards from the restarted node ha

[2015-04-08 17:31] aphyr commented on #10407
Sorry, I've got a huge backlog at the moment and have to get slides prepped, but you can just flip https://github.com/aphyr/jepsen/blob/master/jepsen/src/jepsen/core.clj#L114 to use (System/currentTimeMillis) if you want unix timestamps. Be advised that Jepsen has facilities for lying to the database about what time it is--those aren't currently in play on the Elasticsearch tests, but I wouldn't r

[2015-04-08 17:37] spinscale commented on #10447
Hey,

indeed this is a kernel issue, which has been introduced in kernel 3.7. It is resolved upstream in 3.18 but I guess some vendors patched this in their own releases, ubuntu being one them, by fixing it in `3.13.0-46.75`

If you dont want to restart, you could also run `sudo ethtool -K eth0 sg off` - but this has a performance impact, as the kernel has to do things, that the NIC is supposed to

[2015-04-08 17:37] #10447 closed

[2015-04-08 17:45] lewchuk commented on #9876
+1 on adding the secondard reduces, will it be limited to a two level aggregation or can more levels be possible?

I'd suggest a modification to "Aggregation to calculate the (mean) average value of the buckets in a given aggregation" to be "Aggregation to calculate the any/all of the extended_stats values of the buckets in a given aggregation, e.g. after a terms aggregation". This allows each buc

[2015-04-08 18:14] polyfractal commented on #9876
@lewchuk The new functionality should be able to work in multi-level aggregations.  E.g. you can embed these new aggs at multiple levels in the aggregation tree.

Depending on the agg, they may have certain requirements which must be satisfied (e.g. a `derivative` must be embedded inside a histogram or date_histo, since it expects numerical series of numerical data); you'll receive a validation er

[2015-04-08 18:30] Asimov4 opened #10494 "NullPointerException for some shards when the _name field is set for a query"
Here's the query:
[code]
Here's the response:

[code]

There are no shard failures when I remove the _name attribute for my query.

[2015-04-08 18:51] tnesavich commented on #10490
Interesting thing to note. ... This issue is only for fields of Geo Point Type (geo_point)
http://www.elastic.co/guide/en/elasticsearch/reference/1.4/mapping-geo-point-type.html

Tests of other fields work.

[2015-04-08 20:55] dakrone commented on #10491
To clarify, I'm only -1 on removing Groovy if Expressions doesn't support everything we need, if we get it to the point that it does, I think removing Groovy to make it a plugin would be totally fine.

[2015-04-08 21:37] apogrebnyak commented on #10460
I think it's better to separate analyzer definition, and whether or not it is used by default, or not.

For some indexes I want to enable custom analysis on a few fields and use something else as a default for everything, for others I always want to use a custom analyzer as default.

Having been able to define `default` analyzer in terms of already defined custom analyzer leads to a better code re

[2015-04-09 01:42] lewchuk commented on #9876
@polyfractal Thanks for the clarification! Will be very excited to unleash the power of these new aggregations.

[2015-04-09 01:57] Singletone opened #10496 "Highlighting captures all fields regardless of a search query"
When searching for document with highlighting turned on all found keywords are highlighted regardless of a field. This means that when searching for some document with a **text** field "africa" and a **name** field "return" ES will highlight "africa" and "return" tokens in both text and title:

[code]

However "return" token has to be highlighted within **name** and "africa" within **text** field

[2015-04-09 06:45] sylvae commented on #9226
@mikemccand @bleskes I modified the code similar to #10463  and did some tests, the issue is no longer reproduce, shards recovered normally . I think this issue has already been fixed.Thank you.

[2015-04-09 06:55] bleskes commented on #9226
That's great news. Thank you for pointing us at the segment count (I.e., many small files). Let's wait until 1.5.1 is out (soon) and see how works for the others

On Thu, Apr 9, 2015 at 8:45 AM, sylvae <notifications@github.com> wrote:

[2015-04-09 07:02] misterunknown commented on #10015
Hi,

in our testing environment we try to limit access to elasticsearch via an Apache proxy. Therefore elasticsearch only listens on localhost (127.0.0.1:9200). Now we had the intention to build a cluster by adding another host. For cluster communication, elasticsearch should bind to another IP (e.g. 192.168.20.13). Our configuration looks like this:

    network.bind_host: 127.0.0.1
    network.p

[2015-04-09 07:33] javanna opened #10498 "Expose fine-grained metadata_read and metadata_write blocks settings"
The update indices settings api currently allows to add blocks to indices as follows:

`index.blocks.read` => block data reads
`index.blocks.write` => block data writes
`index.blocks.metadata` => block metadata reads and writes

We also have the `index.blocks.read_only` shortcut that allows to block data writes and metadata operations. As soon as #9203 is in the latter will only block data writes

[2015-04-09 07:37] javanna commented on #10496
Hi @Singletone what you describe is the default behaviour, you should be able to use the `require_field_match` option to enforce highlighting on the fields that hold query matches only. You can find that in the [documentation](http://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-highlighting.html#field-match).

[2015-04-09 07:37] #10496 closed

[2015-04-09 07:40] javanna commented on #10491
I agree with @dakrone .  The only reason why I am not totally sold on making expressions the default is that it can't do updates, but I see how it would at least work out-of-the-box for other usecases without requiring to use file scripts.

[2015-04-09 08:05] #10433 closed

[2015-04-09 08:16] s1monw commented on #10469
I think the issue with going in-and-out of the  red state here is mainly triggered by the restore operation. I think you should disable allocation for those indices or at least for the primary while you restore? Yet, I think it's a bug that we go red here or at least a not so nice impl detail. Yet, the only other downside (aside of a false-red kind of) of this is that you can't write to that index

[2015-04-09 08:37] clintongormley commented on #10345
Docs have been added to indicate that rivers are deprecated.  Still need to add deprecation annotations to the code

[2015-04-09 08:58] Bertg commented on #8708
:+1:

[2015-04-09 09:04] amarandon opened #10500 "Cannot put percolator query on geo_shape field"
Here is a script to reproduce the problem:

[code]

Everything goes as expected except the last request which returns:
[code]

Following the documentation, it seems that it should have worked. I'll try to figure out the problem and submit a patch (whether it turns out to be a documentation patch or a code patch), but it would be great if someone could confirm if it's a bug or a misuse from my end.

[2015-04-09 09:37] jpountz commented on #10402
It looks to me like an actual bug that we only find about now thanks to #9164. The transport thread waits for the action to be executed so that it can run the listeners, but my understanding is that we should never wait in transport threads?

@bleskes @s1monw Since you helped reviewing on #9164 could you have a look at this issue and confirm/infirm this is a real bug?

[2015-04-09 10:08] rhdip commented on #9900
Yes I am using the mapper-attachments plugin. The file I am trying to search can be any file word, excel etc.

I am providing the C# code. The UpdateIndex() method indexes the file name and its contents and the Search() method searches within the indexes.

The mapper class:

    public class AttachmentES
    {
        /// <summary>
        /// Index for Attachments table
        /// </summary>

[2015-04-09 10:08] #9900 closed

[2015-04-09 10:09] #9823 closed

[2015-04-09 10:16] #7526 closed

[2015-04-09 10:28] #10072 closed

[2015-04-09 12:45] frecar opened #10504 "Tribe using HTTP"
Hi, is it possible to make Tribe connect to clusters using HTTP?

I want to use a single connection when querying the clusters.

[2015-04-09 13:05] javanna commented on #10504
Hi @frecar can you please ask your question on the [mailing list](https://groups.google.com/forum/?fromgroups=#!forum/elasticsearch). We'd rather use github issues for bugs and feature requests. Thanks!

[2015-04-09 13:05] #10504 closed

[2015-04-09 13:17] robin13 opened #10506 "elasticsearch arguments -Xms and -Xmx do not work"
The documentation details these:
http://www.elastic.co/guide/en/elasticsearch/guide/master/heap-sizing.html
so it looks like they worked once, and IMO they should work again (environment variables aren't always easy to set), but it looks like it can't work the way the script currently calls exec:
https://github.com/elastic/elasticsearch/blob/master/bin/elasticsearch#L154

results in:

[2015-04-09 13:49] tpievila opened #10510 "ES barfs on 3D coordinates"
GeoJSON allows for altitude/elevation data in coordinates: "A position is represented by an array of numbers. There must be at least two elements, and may be more. The order of elements must follow x, y, z order (easting, northing, altitude for coordinates in a projected coordinate reference system, or longitude, latitude, altitude for coordinates in a geographic coordinate reference system)."

Un

[2015-04-09 14:56] mrec opened #10511 "Duplicate ids in index (without autogeneration)"
Opening a new issue as requested by @brwe in the comments to #8788.

We recently saw an unexpectedly high count on an index we're feeding. It's the second time we've seen this; the first time was only off by 1, but this time it was off by over 16,000 in an index that should contain less than 300k docs. Since the dataset is so small I pulled down everything (`_search?pretty=true&fields=&size=400000

[2015-04-09 15:28] tpievila opened #10512 "ES doesn't decode JSON escapes"
JSON allows any unicode codepoint in Basic Multilingual Plane to be represented with \u escape mechanism. Instead of handling the escape, ES seems to save the data as is. This causes problems later when searching. For example if the original document contained a field with \u00e4, a search like _search?q=name:\u00e4 would find it, but _search?q=name:ä or _search?q=name:%e4 doesn't.

If this is by

[2015-04-09 15:46] cameronkerrnz commented on #5324
+1. If my ELK stack can't help me to solidly point the finger at something --- because signals get weakened if I can't tell how significant the top-N things are --- then it becomes much harder to use Kibana (4) effectively. It effectively makes me want to keep Kibana 3 around.

[2015-04-09 16:35] nknize opened #10513 "[GEO] GeoShapeFieldMapper incorrectly acknowledges mapping changes"
GeoShapeFieldMapper does not overload ```merge()```, so the following request produces
 ```acknowledged: "true"``` from the ```AbstractFieldMapper```

[code]
This is misleading since changing field parameters has zero impact on the ```GeoShapeFieldMapper``` itself leading to a user thinking they're indexing at a higher precision when no change has occurred.  This is bad news for query expectations

[2015-04-09 16:37] nknize opened #10514 "[GEO] Modify GeoShapeFieldMapper to accept precision field updates"
Related to #10513  There are a couple enhancement discussion points here:
- GeoPointFieldMapper disallows any changes. This makes sense since changing any one of the parameters compromises the integrity of all existing commits.  Thus new commits require a full reindex.
- We should be able to allow the changing of precision on GeoShapeFieldMapper since each existing term is identified in the Prefix

[2015-04-09 16:38] rjernst commented on #10434
We fixed this by increasing the timeout for ensureGreen, as well as setting replicas to always be 1, instead of 1 or 2.

[2015-04-09 16:38] #10434 closed

[2015-04-09 16:45] brwe opened #10515 "[doc] Documentation not clear about uniqueness of ids in an index"
A document is uniquely identified by index, type and id. Two documents in an index can have the same id if they have different types. However, the documentation does not seem to explicitly say so anywhere. It would be good to describe this somewhere, probably in http://www.elastic.co/guide/en/elasticsearch/reference/1.x/docs-index_.html
similar to how it is described in the guide:
http://www.elast

[2015-04-09 16:48] javanna commented on #10434
I guess we should remove the `AwaitsFix` from 1.5 branch then (not sure why it was annotated that way on 1.5 only).

[2015-04-09 16:49] s1monw commented on #10434
@javanna I did this like 60 sec ago :)

[2015-04-09 16:52] brwe commented on #10511
@mrec thanks for these details! You have the same doc id in different types, one is "vessel", the other one is "other". It is actually fine to have two documents with the same id in different types in an index because documents are identified by type + id.
However, the documentation does not seem to explicitly state that anywhere. I opened issue https://github.com/elastic/elasticsearch/issues/1051

[2015-04-09 16:52] #10511 closed

[2015-04-09 17:11] rabidscorpio commented on #10493
I've also seen something similar with 1.5.0, when I set `cluster.routing.allocation.enable` to `all` after a restart, there's inevitably at least one shard that's relocating and a number of shards that are in initializing state for a while.  At the same time, the shards that became unassigned while the node was restarting take a long time to be reassigned to the node.  What used to take a few mins

[2015-04-09 17:47] schnittchen opened #10517 "indexed script not properly updated when used for sort"
I index a groovy script and use it w/ script_score. Everything is fine.
I update the script (I used PUT below, but POST does the same) with a new script that should produce different values (constant, for the sake of demonstration). I get old values instead (values below are from an older atan2(1,1) version).

Same if I -XDELETE on the endpoint before POST/PUTing the new script.

Restarting elasti

[2015-04-09 18:30] pickypg commented on #10417
@hjz Have you gotten any logs for this issue yet?

[2015-04-09 18:34] mikemccand opened #10518 "Use DisableFsyncFS in tests to avoid fsync most of the time"
Spinoff from #10516 where we fixed ElasticsearchMockDirectoryWrapper to skip fsync most of the time, but really the right way to do this is as Lucene did, at the filesystem level...

[2015-04-09 18:57] faxm0dem commented on #9212
FWIW deleting a couple of indices and closing others stabilized my cluster.
Can you tell us exaclty what is the limit of indices and/or shards per node below this bug won't be triggered? Also, will upgrading to 1.5.1 help?

[2015-04-09 18:59] martijnvg commented on #9958
@AlexKovalevich Now that 1.5.1 has been released can you check if the issue still occurs in your environment?

[2015-04-09 19:04] erjiang commented on #10437
We didn't see the "riding the rocket" message.

So far our best guess is that elasticsearch used up its available Java heap space, causing GC to continually run and consume cycles. That would explain why the problem would occur after a day or two and go away after restarting elasticsearch.

[2015-04-09 19:39] aochsner commented on #9248
It's been a long time since I tried this approach (I was the author of the linked user group post).  But when talking to someone at ElasticON, they said it sounds like a bug and to create an issue.  Was about to try do that and came across this issue.  Glad I'm not the only one.

Haven't gone through to try to recreate this on 1.4.4.  We are currently on 1.4.2.  We are running a 3 node cluster, 3

[2015-04-09 22:00] lewchuk commented on #3138
+1 for aliases of aliases, my usecase is multiple streams of time based data, I want to window alias each stream individually and have a combined alias for all my streams.

[2015-04-09 23:03] mrec commented on #10511
Hmm, I hadn't noticed that. It might not be an issue on Elastic's side, but it's definitely an issue on ours; the ids we supply **are** supposed to be globally unique across **all** types. I'll check some other duplicates and see if the same discrepancy applies to all of them; if so, something has gone badly wrong in another part of the system.

Thanks for the keen observiness.

[2015-04-09 23:05] Singletone commented on #10496
Hi @javanna Thanks for a tip. After turning require_field_match on everything works fine.

[2015-04-10 02:20] SephenXu opened #10520 "All shards failed to start!"
Hi all,

Since I use multiple paths, this problem often occurs when I restart the cluster, but sometimes this error has inexplicably disappeared. Tried deleting segments.gen files, seem to have no effect.

This is the Debug mode's log when opening one of the index ：    https://gist.github.com/SephenXu/66b92d51eaa63ac85579

jdk:1.6
elasticsearch version : v1.1.2
Really need your help!

Regards,
Sep

[2015-04-10 02:26] markwalkom commented on #10520
Please note that ES 1.1.X is not supported on Java 6. See https://www.elastic.co/subscriptions/matrix for more information.

Also the mailing list is your best option for these sorts of operational issues - https://groups.google.com/forum/#!forum/elasticsearch. Github is for code related problems or bugs.

[2015-04-10 02:26] #10520 closed

[2015-04-10 02:39] SephenXu commented on #10520
But the document said, for Java 6, ES versions < 1.2.0 is ok! When did it change?

[2015-04-10 02:41] markwalkom commented on #10520
Which document?

[2015-04-10 03:05] SephenXu commented on #10520
https://www.elastic.co/blog/elasticsearch-1-2-0-released
"Elasticsearch now requires Java 7 and will no longer work with Java 6."
Isn't meant that since 1.2.0, es no longer work with java 6, but not contained 1.1.x?

[2015-04-10 03:08] markwalkom commented on #10520
Supported and required are different things though.
1.2 won't run with java 1.6 at all. 1.1 will but it's not officially supported.

Also Java 6 has been end of life for years now.

[2015-04-10 04:19] bleskes commented on #9226
hi all, a short note to say 1.5.1 is out, including #10463 which has seemed to have helped @sylvae. It would be great if others can give it as spin and see whether it helps them as well. Hopefully we can drive this to closure.

[2015-04-10 04:25] twitchjorge commented on #9226
@bleskes thanks! I'll upgrade sometime next week and let you know how it goes

[2015-04-10 06:32] javanna commented on #10434
great, thanks @s1monw ;)

[2015-04-10 07:00] javanna opened #10521 "get field mapping api should check for metadata blocks"
The get field mapping api currently checks for data read blocks rather than metadata blocks. Seems like a bug given that the api allows to retrieve mappings and not data. This can be seen by adding a metadata block to an index and then calling the get field mapping api, which works while it should be rejected.

The problem might stem from the fact that metadata block currently means read and write

[2015-04-10 07:06] javanna opened #10522 "put warmer api should check for data read blocks too"
Put warmer api currently checks for metadata write blocks only. Given that it executes a search request before storing the warmer, to verify that the search request is valid, it should also check for data read blocks.

Will be solved with #9203

[2015-04-10 07:37] s1monw commented on #10520
give your logs you data is not present where you started elasticsearch did you delete any data files / directories?

[2015-04-10 07:41] alexksikes commented on #10441
I agree that would be a useful feature, that is having the choice between string or map representation for term vectors. This would be similar to GetResponse#getSourceAsString or GetResponse#getSourceAsMap, but on the term vectors returned, not on the source, right?

[2015-04-10 07:46] sleighsoft commented on #10441
Yes that's right.
I just mentioned it for better understanding.

[2015-04-10 09:00] javanna commented on #10517
this is caused by the same reason as #10397 . We are addressing it in #10526 .

[2015-04-10 10:39] abhijitiitr commented on #4915
+1

[2015-04-10 11:28] clintongormley commented on #10488
@dadoonet could you take a look at this please? (should probably move to https://github.com/elastic/elasticsearch-cloud-aws ?)

[2015-04-10 11:56] tlrx commented on #10488
As far as I know, elasticsearch has a transitive dependency on `httpcore` with the scope `test`:

[code]

This dependency is not required at runtime, so I don't see why this dependency should be declared in the pom file.

This issue is a duplicate of https://github.com/elastic/elasticsearch-cloud-aws/issues/200, maybe we can close this one and continue on the cloud-aws issue?

[2015-04-10 12:37] pulquero opened #10528 "Better highlighting fragment support for fields with list/array values"
If I have a document like {"prop":["a...", "b..", "c...", ...]} and perform highlighting with max_fragments=n it is entirely possible for all those fragments to come from just the first list entry. It would be helpful if there was some setting/option to set the max fragment size per list entry.

Even better would be if the json response contained some indication of which list entry each fragment c

[2015-04-10 12:42] tlrx opened #10530 "Internal: replace empty index block checks with global block checks"
While working on #9203 we noticed (see [comment](https://github.com/elastic/elasticsearch/pull/9203#discussion_r27642154)) that many `checkBlock()` methods were checking blocks on an empty index like this:

[code]

I think most of this kind of calls can be replaced by a global block check like:

[code]

[2015-04-10 12:43] javanna commented on #10530
+1 we might have to dig if that is indeed a 1:1 replacement, but for sure the different checkBlocks variants could be clarified a bit. I think if it's about index blocks they shouldn't accept empty indices ideally.

[2015-04-10 12:58] bleskes commented on #10426
We have made some effort to reproduce this failure. In general, we see GC as just another disruption that can happen, the same way we view network issues and file corruptions. If anyone is interested in the work we do there, the [org.elasticsearch.test.disruption](https://github.com/elastic/elasticsearch/tree/master/src/test/java/org/elasticsearch/test/disruption) package and [DiscoveryWithService

[2015-04-10 13:00] harph commented on #10425
Thank you @alexksikes That's exactly what I ended up doing.

[2015-04-10 13:58] clintongormley commented on #2401
@kimchy can you expand on what you mean here:

This patch:

             if (unmatch != null && patternMatch(unmatch, name)) {
                 return false;
             }
    -        if (matchMappingType != null) {
    -            if (dynamicType == null) {
    -                return false;
    -            }
    -            if (!patternMatch(matchMappingType, dynamicType)) {
    -

[2015-04-10 14:43] pquentin commented on #5174
To make things clear, #5137 was merged, and supporting wildcard in field names was abandoned because it was out of the scope of the PR. clintongormley provided a nice overview of the difficulties this would pose: https://github.com/elastic/elasticsearch/pull/5137#issuecomment-42740126.

[2015-04-10 15:46] dakrone commented on #4739
@rore when you are talking about the write consistency timeout, are you talking about the `?timeout=1m` parameter when sending the indexing request? Or are you talking about a different timeout entirely?

[2015-04-10 15:50] dakrone commented on #4755
I think we can add something like this to the indices level of the cluster health API, so something like:

[code]

(see the `has_quorum` key)

[2015-04-10 16:03] dakrone commented on #4915
We discussed this and one potential idea is to add the ability to specify a `start_term` for aggregations, that would allow the aggregation to skip all of the preceding terms, then the client could implement the paging by retrieving the first page of aggregations, then sending the same request with the `start_term` being the last term of the previous results. Otherwise the aggregation will still i

[2015-04-10 16:09] rjernst commented on #4945
Not analyzing the null value would mean you couldn't find documents with the null value from anything *but* the `missing` filter.

I don't think this is a problem with null values, but simply with the missing filter.  When using `null_value: true` in `missing`, it should analyze the value before running the filter.

[2015-04-10 16:13] clintongormley commented on #4945
True, hadn't considered that. I was thinking more of the case where you want to be sure that the null value is a concrete value that couldn't possibly appear in real values, eg `NULL` when all the real values are lowercased.

[2015-04-10 16:20] dakrone opened #10535 "Fully support IPv6"
Currently it's possible to configure ES with IPv6 in some places, however, we don't do tests or qualification for ipv6 for things like multicast (see: #4989).

We should determine the best way to support a full ipv6 environment. One way we could do this is the addition of a `net.use_ipv6: true` setting so that a user has to fully opt-in to ipv6, rather than a mix of both ipv4 and ipv6 that is comm

[2015-04-10 16:25] dakrone commented on #5074
@thejohnfreeman is this something you would be able to contribute? (along with tests). I'm concerned the same way that @javanna is about adding something we don't use ourselves and making it testable and maintainable.

[2015-04-10 16:28] dakrone commented on #5153
@spinscale can you comment on this? Is the need for this removing with transport profiles?

[2015-04-10 16:37] dakrone commented on #5174
We discussed this and agree that this would be very complex and should not be changed for the reasons specified in https://github.com/elastic/elasticsearch/pull/5137#issuecomment-42740126

[2015-04-10 16:37] #5174 closed

[2015-04-10 16:49] rjernst commented on #5328
As Igor said before, part of the problem is date fields have this dual behavior, where it can accept a formatted date, but also an epoch timestamp. However, in this case, the value being searched is passed as a json number. The only way we could interpret that with the original supplied format would be to write the number as a string and then try to parse. I don't think we should do this.

We coul

[2015-04-10 16:56] dakrone commented on #5359
We discussed this today and thought about the regex-based solution that Shay suggested in the linked issue, for example, if we supported full regexps in the template name with captured vars:

[code]

Then the alias for an index `logstash-2014-03-20` would be `logstash-2014`. I am concerned about running scripts during index creation (especially with dynamic scripts being disabled for Groovy).

@ja

[2015-04-10 16:58] dakrone commented on #5361
This can be visited as part of #10217

[2015-04-10 17:06] dakrone commented on #5369
We discussed this and this is really outside the scope of Elasticsearch itself, this is something that could be better implemented either as a plugin (listening to `clusterChanged` events and dynamically increasing/decreasing the replica count for an index) or as a client-side application that handled this. Additionally things like determining off-peak hours would be better suited to a process oth

[2015-04-10 17:06] #5369 closed

[2015-04-10 17:09] dakrone commented on #5774
Related to #9311

[2015-04-10 17:10] #9511 closed

[2015-04-10 17:11] dakrone commented on #5819
@areek can you comment on this? Is it still applicable with the new suggester stuff you're working on?

[2015-04-10 17:18] dakrone commented on #5889
This sounds interesting, however we discussed it and I think it would be better as part of revisiting the update API in general for API cleanups/enhancements. Marking this as "adopt me" right now and we will fold it into enhancing the update API in the future as well.

[2015-04-10 17:22] dakrone commented on #5925
@ppat I think this is the same issue as #10229, which can be solved by using [shard allocation awareness](http://www.elastic.co/guide/en/elasticsearch/reference/current/modules-cluster.html#_automatic_preference_when_searching_geting), in that case, ES will automatically try to limit search responses within a particular awareness attribute.

Hopefully this solves this issue, let me know if we corr

[2015-04-10 17:22] spinscale commented on #5153
@dakrone unsure about your question here, would rather say no. This looks to me as an abbreviation for the `TransportClient` configuration, that has nothing to do with the profiles on the server side. It's just about specifying the destination addresses as part of the settings instead of calling `TransportClient.addTransportAddress`

[2015-04-10 17:24] dakrone commented on #5967
@areek can you follow up with this?

[2015-04-10 17:29] dakrone commented on #6105
@spinscale is this something that is fixed by using sniffing on the transport client?

[2015-04-10 17:34] dakrone commented on #8633
Closing as duplicate of #8633

[2015-04-10 17:34] #8633 closed

[2015-04-10 17:37] dakrone commented on #8633
Whoops, meant to say closing as duplicate of #6170

[2015-04-10 17:38] dakrone commented on #6170
We discussed this and think this is a good idea, maybe we can perform this using some kind of Maven shading to make sure we have a clean cut between the internal and client APIs.

[2015-04-10 17:40] dakrone commented on #6171
@matthewbarr this sounds like a great idea, would you be willing to take a stab at a plugin?

[2015-04-10 17:42] YuriKap commented on #6170
:+1:

[2015-04-10 17:42] dakrone commented on #5153
@spinscale ahh okay, I misunderstood this to be on the server side instead of the client (duh, I see "client" in the title now), thanks for the clarification.

[2015-04-10 18:12] ppat commented on #5925
It's not the same issue. We're already  using shard allocation awareness to ensure that nodes do not end up on the same VM host machine. We also use shard allocation filtering to pin indices to nodes.

This request is adding another dimension at search time to target only hosts that match a specific regex. Since I created this issue about 12 months ago, I have found a work around at the cost of la

[2015-04-10 18:14] rjernst commented on #10494
@Asimov4 Can you provide your mappings?

[2015-04-10 18:18] polyfractal opened #10537 "Change default suggestion mode to `popular`"
The default suggest mode for Term and Phrase suggester is `missing`.  This can be problematic since typos in the index will prevent any suggestions will come back.  It's fine if you want that behavior, but as a default, it is a little user-unfriendly.

`popular` would probably make a better default, since it will (usually) provide good suggestions despite the presence of typos in the index.

Missi

[2015-04-10 18:30] polyfractal opened #10538 "Provide better visibility into cost of deeply nested aggregations"
As users start to leverage more complex and nested aggregations, they are more likely to run into performance problems due to the combinatorial explosion of nodes in the aggregation tree.

I'm unsure what exactly this would entail.  Perhaps the number of "operations" per layer in the hierarchy, or the number of buckets generated per layer (inclusive of lower layers).

It would be great to provide

[2015-04-10 19:40] #10513 closed

[2015-04-10 20:13] 2e3s commented on #4915
+1 for that. There are many thousands of unique terms by which we group, and gather statistics by subaggregations. It can be sorted by any of these subaggregations, so it's gonna be very costly anyway, but its speed with ES is currently bearable as well as its precision, and if not sending such big json data between servers and holding it with PHP (which isn't good at all as for now), it would be

[2015-04-10 20:36] #10510 closed

[2015-04-10 21:23] rashidkpc commented on #3303
**poke**

[2015-04-10 21:30] rjernst commented on #10522
Isn't the fact warmer validation works via an actual search request a problem with validation? Will the query parsing refactoring allow fixing this? I don't think doing a metadata write should require data read...

[2015-04-10 21:34] fozzylyon commented on #9958
@martijnvg I was running into the same issue and I can verify that 1.5.1 fixed it for me.

[2015-04-10 21:47] areek commented on #5819
The new Completion Field will support filters, so this is not applicable atm.

[2015-04-10 21:47] #5819 closed

[2015-04-10 22:08] pickypg opened #10542 "_cat/recovery should report translog replay progress"
`_cat/recovery` and `_recovery` should record the translog progress (percentage or otherwise) in terms of how much phase 3 of recovery has been processed.

For large shards, it can be painful watch automatic relocation's like:

[code]

The translog is ~20 GB in this example, so it's very hard to guess how long I will have to wait until it finishes replaying it on the target node.

[2015-04-10 22:17] ppf2 commented on #10542
May be related to https://github.com/elastic/elasticsearch/pull/10042

[2015-04-10 22:25] areek commented on #5967
In `missing` mode, the suggested term is only checked for existence at the local shard. The document(s) with the token `bay` are present only in certain shards.
In order to use the `missing` mode correctly in this situation, all the relevant document(s) should reside in the same shard (e.g. adding `routing=xyz` to all the index requests will do the right thing)

[2015-04-10 22:25] #5967 closed

[2015-04-10 22:35] pickypg commented on #10542
Yep! Didn't see that this made it into 1.5. The above was running 1.4.4.

[2015-04-10 22:35] #10542 closed

[2015-04-10 22:39] pickypg opened #10543 "Log Translog Recovery"
In addition to the awesome changes in #10042, we should also put similar metrics into the logs at `DEBUG` or `TRACE` levels. Something like

[code]

[2015-04-10 22:44] pickypg commented on #10543
Closed in favor of #10544

[2015-04-10 22:44] #10543 closed

[2015-04-11 01:03] rjernst commented on #10491
I think making it work out of the box is more important than extra work (changing the default) for those that already have to do work to enable scripts (either by writing them on each host or enabling dynamic).

[2015-04-11 06:58] bleskes commented on #9066
this was resolved with #9575, forgot to close at the time.

[2015-04-11 06:58] #9066 closed

[2015-04-11 07:02] ncolomer opened #10546 "Gauss decay function gives unexpected results"
Hi there,

We observed strange behavior when using the gauss decay function ([function score query](http://www.elastic.co/guide/en/elasticsearch/reference/1.x/query-dsl-function-score-query.html)) on a `date`field. It gives unexpected results (that no more look gaussian) when the date difference with `now` becomes too large, resulting into boosting docs that should not be. Here is a [graph](https:

[2015-04-11 07:28] JcRicaro opened #10547 "Data not being indexed after 2million"
We're having a problem with our system, new data aren't being index.

Anyone?

[2015-04-11 12:09] chenryn opened #10548 "Need a API to get exists script languages list of ES cluster."
https://github.com/elastic/kibana/pull/3558

Then we can select the language from the list in Kibana settings.

[2015-04-11 14:58] clintongormley commented on #10490
Hi @tnesavich

These days we prefer the `_source` parameter to extract the original values from the `_source` field, eg:

    https://newercontoso.comcustomer/v1/tapsandmeters?q=Meter.servicePointId:0865540026&_source=Meter.geometry.coordinates

If you want to retrieve the actual coordinates, you could set the `coordinates` field to `store:true`, in which case it'll return an array of indexed valu

[2015-04-11 17:57] lmgray commented on #9357
I've been chasing this one also with latest elasticsearch on RHEL 6 -- it seems if I cd /etc/rc.d/init.d and start elasticsearch using ./elasticsearch start, the script runs and limits/memlock stuff works as expected.  But when it's run as /etc/rc.d/init.d/elasticsearch start, it uses systemctl and the limits are not applied.

[2015-04-11 19:11] rore commented on #4739
Wow, this was opened a long time ago.

Yes, it's the timeout parameter on the index API.
I know you can pass it with the indexing requests, the point was to enable changing the default at the cluster level so you won't have to specify it on each request.
1m timeout can be disastrous at some scenarios as described.

[2015-04-11 19:14] mason opened #10549 "extended_bounds does not work on date histogram when index name is missing."
When using date histogram and extended_bounds feature, it doesn't prepend buckets with 0 count if queried without the index name. This doesn't work but still returns values that exist in db. For example, if we have 4 documents dated 2015-04-06, 2015-04-06, 2015-04-08, 2015-04-08

it would return only 4(2 with same date and 2 with zero counts) buckets instead of 4 + (2 months) of empty buckets.
[co

[2015-04-11 19:15] rore commented on #4755
Having it per index is still problematic to monitor. The idea here was that the global cluster health indicator will reflect the state. Like today, if you have only one index that isn't fully allocated the cluster health indicates it. But there's a big difference between a "yellow" that is caused by some not allocated replicates but still allows writes, and a "yellow" when there's no quorum and wr

[2015-04-11 19:18] mason commented on #10547
after 2 million what?

[2015-04-12 04:22] iemem15 opened #10550 "Marvel showing IOPS"
Marvel is not showing IOPS and also Elasticsearch in node stats doesn't show anything.
Elasticsearch 1.5 and Marvel the latest

[2015-04-12 04:51] markwalkom commented on #10550
Please use the mailing list for these sorts of problems - https://groups.google.com/forum/#!forum/elasticsearch

[2015-04-12 04:52] markwalkom commented on #10547
Please use the mailing list for these sorts of problems - https://groups.google.com/forum/#!forum/elasticsearch

[2015-04-12 04:52] #10547 closed

[2015-04-12 06:05] dm8tbr opened #10551 "Debian repositories don't work for e.g. armhf although packages are arch independent"
Following http://www.elastic.co/guide/en/elasticsearch/reference/current/setup-repositories.html#_apt
will yield this:
    W: Failed to fetch http://packages.elasticsearch.org/elasticsearch/1.5/debian/dists/stable/Release \
    Unable to find expected entry 'main/binary-armhf/Packages' in Release file (Wrong sources.list \
    entry or malformed file)

I'm not particularly familiar with the inner

[2015-04-12 08:09] markwalkom commented on #10551
We don't have ARM packages sorry. You can see what is supported here - https://www.elastic.co/subscriptions/matrix

If you have a JVM you can just use the tar.gz/zip.

[2015-04-12 08:15] dm8tbr commented on #10551
You do realize that I tested your packages on ARM and they work?
*"I know for sure that the packages, if downloaded and installed manually, work just fine on ARMhf."*

After all they are architecture independent. Of course it's your choice to pretend that they don't. Have a nice day.

[2015-04-12 08:18] markwalkom commented on #10551
I personally don't have ARM to test on, and I don't believe that we have infrastructure to do it either.
So unfortunately, for now, it's not supported.

[2015-04-12 09:17] ravlio commented on #10406
Finally, I have found a trick to solve problem with limitations. Simply we append each input word with set of random characters (5 chars length is enough to for getting unique words). Another hint is to make first character of appending numeric.

So the indexing now looks like:
[code]

The "**1**" digit prevents cases when word and random string form other words. For example, in some case  we can

[2015-04-12 10:34] coxchen commented on #9956
Hi @clintongormley

I trace the source code and found that, in **TTLFieldMapper.java**, the _timestamp in document source will be used to check expiration when updating a document. So the workaround for my issue is to **always provide the original _ttl value** when updating the document, even though I don't have the intention to update _ttl.

You can check my article for details: https://medium.co

[2015-04-12 10:56] kimchy commented on #10551
I think there are 2 levels here:

1. Make the packages work for this case, even though we don't continuously test on ARM.
2. Support ARM officially.

The first part, making our packages work and be installable in this case is worth it I think, @electrical can you maybe chime in into what we need to do here?

The second part is more complex. In order to officially support ARM, we need to make sure

[2015-04-12 12:31] dm8tbr commented on #10551
Thanks @kimchy, indeed at no point I was looking for official, or even commercial support, as @markwalkom implied.
Your architecture independent packages, as said earlier, install just fine and from my limited testing the resulting elasticsearch and logstash installations work well. Also because the packaging seems to explicitly work with armhf builds of openJDK for quite a while: https://github.c

[2015-04-12 12:41] rmuir commented on #10551
From the lucene side, I don't think ARM is possible to support, its not open source or in openjdk, as opposed to other platforms.

Aarch64 is different, its open source, etc. But personally i won't spend one iota of time on oracle "commercial" platforms, I don't know about anyone else.

[2015-04-12 12:53] dm8tbr commented on #10551
@rmuir I'm not sure I follow you. What isn't open source or in openjdk?
If this is about the JDK/JRE, I'm running openJDK on ARMv7 right now:
ii  openjdk-8-jre:armhf  8u40-b27-1  armhf   OpenJDK Java runtime, using Hotspot Zero
That's on what is soon to be released as Ubuntu 15.04, but 14.04 also has openjdk 7.
I couldn't care less about Oracle.

[2015-04-12 13:07] rmuir commented on #10551
I feel differently about zero/shark. Its open source.

However for other technical reasons I am suspicious about it, especially its level of testing, additional llvm dependency, etc. This configuration is still called `experimental` by IcedTea. Is it ready for prime time? If not, trying to get lucene's test suite working will not be a fun task.

[2015-04-12 14:23] clintongormley commented on #10015
Hi @misterunknown

You appear to be confusing publish/bind with transport/http.  Transport is for intra-node communication, which defaults to using port 9300. HTTP is for the REST interface, which defaults to 9200.

However, the bind address is the host/port that Elasticsearch listens to, and the publish address is the host/port the Elasticsearch publicises to other nodes, etc.

So I think what yo

[2015-04-12 14:23] #10015 closed

[2015-04-12 14:39] clintongormley commented on #10500
Hi @amarandon

I've just tried this on 1.5.0, and it works correctly.

    DELETE myindex

    PUT /myindex?pretty

    # Insert mapping with geo_shape type
    PUT /myindex/_mapping/mytype?pretty
    {
      "mytype": {
        "properties": {
          "location": {
            "type": "geo_shape",
            "tree": "quadtree",
            "precision": "1m"
          }
        }
      }
    }

[2015-04-12 14:54] clintongormley commented on #10402
@bleskes assigning to you

[2015-04-12 14:58] clintongormley commented on #10504
And for posterity: no, the tribe has to join the clusters as a client node, but you can send http requests to the tribe (which then forwards the requests over the transport layer)

[2015-04-12 15:02] clintongormley commented on #10506
@robin13 you can see that your custom settings have been added to the end of the command line parameters, and if you do:

    GET _nodes/jvm

you will see that your settings have taken effect

[2015-04-12 15:02] #10506 closed

[2015-04-12 15:07] amarandon commented on #10500
Hi @clintongormley Thanks for trying it out. I found out that the issue is triggered by having `index.percolator.map_unmapped_fields_as_string: true` in my config file. I'm in the process of migrating an app built against an earlier version and found out that I had to enable that option to keep it working because not all the percolator queries we record have corresponding mappings.

[2015-04-12 15:12] clintongormley commented on #10512
Hi @tpievila

Elasticsearch does support the `\u` escape, and stores strings as UTF8:

    DELETE test

    PUT test/test/1
    {
      "text": "\u00e4"
    }

    GET /test/test/_search
    {
      "aggs": {
        "indexed_terms": {
          "terms": {
            "field": "text"
          }
        }
      }
    }

The above returns:

    {
       "took": 2,
       "timed_out": false,

[2015-04-12 15:12] #10512 closed

[2015-04-12 15:24] clintongormley commented on #10493
@Fizzadar I've just tried this on 1.5.0. I started 4 nodes, created 4 indices, and then ran this:

    PUT _cluster/settings
    {
      "transient": {
        "cluster.routing.allocation.enable": "none"
      }
    }

Then I killed 3 nodes, which put the cluster into red state, then I restarted them and the cluster went yellow, as expected.  But it only went to green when I reenabled allocation.

[2015-04-12 19:04] bleskes commented on #4755
To me, yellow means “cluster is fully functional albeit not conforming to the required replication factor”. Red means that some operations can not be performed. With this definition in mind, I think we should signal an shard (and thus index & cluster) as red if one can not index into it due to the `write_consistency` settings (which also be `all` , and not `quorum`)

[2015-04-13 04:44] markwalkom opened #10557 "Include OS details in _nodes output"
It'd be handy if a call to _nodes gave you some basic information around the OS, things like;
* Vendor - Debian, RHEL, MS etc
* Version - 12.04, Win 7, RHEL 7 etc
* Release - point release info
* Architecture - x32, x64 etc

Dunno how possible this is with sigar, but it'd be awesome on the support side of things.

[2015-04-13 07:24] anshudutta opened #10559 "Highlighting targeted fields"
I am having problems highlighting targeted fields. Lets say I have a query as below
{
   "size": 10,
   "from": 0,
   "query": {
      "filtered": {
         "query": {
            "query_string": {
               "query": "subject:Librar? AND title:event"
            }
         }
      }
   },
   "highlight": {
      "fields": {
         "subject": {
            "number_of_fragments": 0

[2015-04-13 08:18] clintongormley commented on #9212
@faxm0dem there is no hard limit. Depends on many factors such as your hardware, the size of your mappings, the config (eg are you absolutely sure you have swap disabled?), etc.  And things will change again once we add cluster state diffs (https://github.com/elastic/elasticsearch/pull/10212).

[2015-04-13 08:34] polgl opened #10561 "TransportClient timeout Bug"
Hi,

After an OOM in one of multiple client nodes (data=false, master=false),
the java client (Transport client) can not connect to the other nodes that are still running.

The java client does not see that the node is down and still sends requests.

[2015-04-13 08:42] faxm0dem commented on #9212
Yes, swap is disabled and message about ES failing to lock memory is **not** present.
I had no failed node since closing indices. I now have about 1340 shards per node.
I'll report back when nodes are failing again

[2015-04-13 08:55] clintongormley commented on #9212
@faxm0dem 1340 shards per node is silly high, by any count.  it's difficult to say "no more than X" because there are so many factors involved, but I'd say that you're asking for trouble with so many.  Either you have too many nearly empty shards and you should use fewer shards per time period (or make your time period longer), or you should be looking at adding hardware.

[2015-04-13 08:58] clintongormley commented on #10437
OK, so sounds like memory pressure.  Are you using a lot of fielddata (ie per-doc field values loaded for sorting, aggs, or scripting)?  You can check with:

    GET /_nodes/stats/indices/fielddata?fields=*human&pretty

If so, consider switching those fields to use `doc_values: true` (which you can only do on a new index) to shift the memory use from your heap to the file system cache.  This will

[2015-04-13 09:27] faxm0dem commented on #9212
You're saying having larger indices would help? (I already have 100GB+ indices)

[2015-04-13 09:35] vanga opened #10564 "Snapshot operation stuck, delete command doesn't work"
We take snpashots every hour to AWS S3 directly using cloud-aws plugin
snapshot was stuck because of a reboot on master node during the snapshot, ES version 1.4.0, ArchLinux
Cluster was later upgraded to 1.4.2 at which point we noticed that there is a snapshot stuck
while trying to create a new snapshot
`{"error":"ConcurrentSnapshotExecutionException[[my_s3_repository:2015.04.13.09.16.42] a snapsh

[2015-04-13 09:41] clintongormley commented on #9212
@faxm0dem as always, "it depends" :)  Your use case, hardware, etc, etc is all so personal, that it is really hard to give good general advice.  Have a look at this for a good approach to figuring it out yourself: http://www.elastic.co/guide/en/elasticsearch/guide/current/capacity-planning.html

That said, just a couple of data points which will help:

* a shard is a Lucene index, which uses memor

[2015-04-13 09:43] clintongormley commented on #10488
@tlrx agreed. closing

[2015-04-13 09:43] #10488 closed

[2015-04-13 09:49] clintongormley commented on #10528
Hi @pulquero

An array of terms in Elasticsearch is indexed just like an analyzed string field, eg the text `The quick brown fox`, would get indexed in the same way as an array `[the, quick, brown, fox]`.

What you're asking for wouldn't make sense in the context of analyzed strings, as far as I understand. Realistically, I don't think there is any generic setting that we can support here.  Sorry.

[2015-04-13 09:49] #10528 closed

[2015-04-13 10:07] clintongormley commented on #5328
Another possibility would be to add `epoch` as a format, then users can control the order in which the epoch format is tried, eg:

     "format": "epoch|YYYY-mm-dd"

vs

     "format": "YYYY-mm-dd|epoch"

[2015-04-13 10:10] pulquero commented on #10528
That is not strictly true, because if I set num_fragments to 0, I get a fragment array the same length as my string field array. e.g. if I use highlight tags the following happens:

[the, quick, brown, fox] -> [<B>the</B>, <B>quick</B>, <B>brown</B>, <B>fox</B>].[the quick brown fox] -> [<B>the</B> <B>quick</B> <B>brown</B> <B>fox</B>].

So my current work-around is to have num_fragments=0, then p

[2015-04-13 10:12] wumingwuan opened #10565 "Upgrade From 1.4.2 to 1.5.1 (Exception: Could not find a state file to recover from)"
Hello,
When I upgrading our machine form 1.4.2 to 1.5.1.
copying data/config from 1.4.2  folder to 1.5.1 data/config folder.
when execute elasticsearch.bat, following exception throw and elasticsearch crash.

    [2015-04-13 17:50:07,869][WARN ][bootstrap                ] jvm uses the client vm, make sure to run `java` with the server vm for best performance by adding `-server` to the command line

[2015-04-13 10:14] clintongormley commented on #5361
Agreed - closing as a duplicate of #10217 and https://github.com/elastic/elasticsearch/pull/10531

[2015-04-13 10:14] #5361 closed

[2015-04-13 10:15] davidrapin opened #10566 "LinkageError causes ElasticSearch (and VM) to crash"
ES version: 1.4.4.
One of our clients is running ES in a virtual server (OVH VPS).
From what I understand, ElasticSearch stopped working after one hour with the following error.
This error was repeated a couple of times at the end of the log file, then the whole VM crashed.

[code]

[2015-04-13 10:31] clintongormley commented on #5925
I like this idea.  Would be good to support the same node selectors as we have here: http://www.elastic.co/guide/en/elasticsearch/reference/current/cluster.html

[2015-04-13 10:32] clintongormley commented on #10494
@Asimov4 and the stack trace in the elasticsearch logs please

[2015-04-13 10:33] clintongormley commented on #10537
+1

[2015-04-13 10:34] clintongormley commented on #10538
+1

[2015-04-13 10:38] clintongormley commented on #9958
awesome. @fozzylyon thanks for letting us know. closing

[2015-04-13 10:38] #9958 closed

[2015-04-13 10:42] colings86 commented on #10538
+1

[2015-04-13 10:44] clintongormley commented on #10546
@brwe could you take a look at this please

[2015-04-13 10:44] dwerder commented on #9582
This ticket should be renamed to "ES crash on OpenVZ"

It also discused in anouter Ticket at OpenVZ:

https://bugzilla.openvz.org/show_bug.cgi?id=3187

And also at https://github.com/elastic/elasticsearch/issues/4978

The crash has something to do with OpenVZ Kernel newer vzkernel-2.6.32-042stab100 and ploop.

**Quickfix**: dont use ploop (instead use simfs)

[2015-04-13 10:45] dwerder commented on #4978
same problem is discussed here: https://github.com/elastic/elasticsearch/issues/9582

[2015-04-13 10:50] dwerder commented on #10566
This duplicates: https://github.com/elastic/elasticsearch/issues/9582

[2015-04-13 10:54] electrical commented on #10551
Regarding the repository it is indeed limited to i386 and x86_64/amd64. you can however force it for your case in your repo config.

'deb [arch=amd64] http://packages.elasticsearch.org/elasticsearch/1.5/debian stable main'

[2015-04-13 11:07] davidrapin commented on #10566
Ok thanks! I tried finding related tickets based on the error messages but could'nt find any.

[2015-04-13 11:07] #10566 closed

[2015-04-13 11:22] clintongormley commented on #10550
Hi @iemem15

Make sure you have `sigar` in your `lib` directory.  You can check if sigar is being loaded by editing `config/logging.yml` and setting `logger.monitor: TRACE`

[2015-04-13 11:38] clintongormley commented on #9956
Hi @coxchen

Thanks for digging!  I've just tried my own (slightly different) test and see the `_ttl` increasing by leaps and bounds:

    DELETE activity

    PUT activity
    {
      "mappings": {
        "log": {
          "_timestamp": {
            "enabled": true,
            "path": "log_time",
            "store": true
          },
          "_ttl": {
            "enabled": true,

[2015-04-13 11:52] clintongormley commented on #10559
Hi @anshudutta

You're looking for `require_field_match`. See http://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-highlighting.html#field-match

[2015-04-13 11:52] #10559 closed

[2015-04-13 11:58] clintongormley commented on #10561
Hi @polgl

The problem is that a node that has OOM'ed still carries on running, so it is not actually down (unless you're saying that it as killed by the OOM killer?)

Essentially, there are only two things to do here:

* monitor for OOMs and kill a node that has one
* avoid OOMs (ie figure out why it occurred and avoid it in the future)

[2015-04-13 11:58] #10561 closed

[2015-04-13 12:03] clintongormley commented on #10564
@imotov any ideas here?

[2015-04-13 12:07] imotov commented on #10564
@clintongormley not sure I tried to reproduce the issue with cleanup script that @vanga described in https://github.com/imotov/elasticsearch-snapshot-cleanup/issues/2 but I cannot. The issue itself seems to be a duplicate of #9924 and should be fixed in 1.4.5.

[2015-04-13 12:08] clintongormley commented on #10564
thanks @imotov

@vanga sounds like you will need to upgrade.

[2015-04-13 12:08] #10564 closed

[2015-04-13 12:10] vanga commented on #10564
@clintongormley .. If I update to version > 1.4.5 , this issue will go away and i can start taking snapshots?

[2015-04-13 12:16] clintongormley commented on #10565
@s1monw what should be done here? delete the legacy file? or can the non-legacy file not be read for some reason, so we should bump up logging?

[2015-04-13 12:17] clintongormley commented on #10564
@vanga sounds like that is the case (but you'll need to upgrade to 1.5.1, as 1.4.5 has not been released yet)

[2015-04-13 12:21] s1monw commented on #10565
you are running windows here right? did you upgrade and downgrade again by any chance?

[2015-04-13 12:22] s1monw commented on #10565
or did you upgrade to 1.5.0 first for some reason?

[2015-04-13 12:24] VasilyAverin commented on #9582
Dear ElasticSearch developers,
I'm OpenVZ kernel developer, I'm investigate OpenVZ bug 3187 and would like to share results.
1) we got a number reports from different users, all complains on crash of ElasticSearch application inside  OpenVZ container. We have reproducer, on my test node it crashes ES in ~45 minutes after start.
2) We have collected few core dumps, java crashes in few different pla

[2015-04-13 12:36] adamcstephens commented on #9582
@dwerder We experienced this with simfs and not ploop, so that may not be a fix.

[2015-04-13 12:52] ppat commented on #5925
Multiple ways of being able to specify node names would indeed be great. In that link, it's not clear whether host names are supported (hopefully they are... Including use of wildcards with host name).

[2015-04-13 14:06] jakrol opened #10567 "Bulk update should support script_file"
Bulk update supports `script_id` to provide the name for an indexed script and `script` for inline script, but no `script_file` for using scripts stored in `config/scripts/`. When I tried to use `script_file` I got an

    {
      "error": "ActionRequestValidationException[Validation Failed: 1: script or doc is missing;]",
      "status": 400
    }

[2015-04-13 14:16] coxchen commented on #9956
Hi @clintongormley

Interesting, the log_time is some time in the future, making the _ttl growing with UPDATE.

[2015-04-13 14:39] s1monw commented on #9421
@kimchy do you recall why we can't read in that state?

[2015-04-13 15:30] nik9000 commented on #10528
Do you mean to say "it would be helpful if there was some option to set the maximum number of fragments per list entry"? As in "I only want one fragment per list entry but I want the top five fragments."  That wouldn't be inconceivable to implement using the [experimental highlighter](https://github.com/wikimedia/search-highlighter) but against the three built into Elasticsearch it'd be harder.  P

[2015-04-13 15:34] wilkinsona opened #10574 "Contrary to the javadoc, cluster health check fails with null indices"
In 1.4.4, the javadoc for `Requests.clusterHealthRequest` states that the `indices` parameter can "use `null` or `_all` to execute against all indices. However, passing `null` causes the health request to throw an exception that's caused by an NPE:

[code]

[2015-04-13 15:44] clintongormley commented on #10567
Hiya @jakrol

This is fixed in 1.5.0

[2015-04-13 15:44] #10567 closed

[2015-04-13 15:48] clintongormley commented on #10574
@luca what do we normally do here? Require `_all` or accept null?

[2015-04-13 16:27] spinscale commented on #9582
@VasilyAverin hey, how can we help you best? Take a look at the core dumps? Feel free to share them. If you want, just contact me a FIRSTNAME.LASTNAME@elastic.co (just check my profile for my full name) and I'll try to take a look at them or find another Elasticsearch developer

[2015-04-13 17:08] janryWang opened #10575 "Use suggester will throw some errors！"
This is my index's metadata.
[code]

This is my request

[code]

This is response.

[code]

I really can not find any way to solve this problem, please help me, I am very grateful！

[2015-04-13 17:17] VasilyAverin commented on #9582
@spinscale
Please take look at http://fe.parallels.com/c8fdcd56b823534a938983e64604e815/
I've uploaded hs_err* log files and started core dumps uploading, it will be finished in few hours.
I would like to know what do you think about possible reasons of this problem.
As kernel developer, I see that crashes are caused by incorrect data, but I can say nothing about nature of this corruptions and do

[2015-04-13 17:20] areek commented on #10575
Hi @janryWang,

You have to explicitly set the mapping for `title` to completion `type`. Here is a sample of how to setup and use the Completion Suggester:

[code]

For more configuration info, see [completion suggester] (http://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters-completion.html)

[2015-04-13 17:20] #10575 closed

[2015-04-13 17:28] wgodwin opened #10576 "Circuit Breakers not triggering before OOM on a node"
I will have to prepare the logfile as it has some confidential information in it, but I will post the basic rundown of what is happening.
Our situation is that the circuit breakers do not seem to keep us from throwing an OOM/"stop-the-world" GC event, causing the node(s) to become unresponsive and very quickly bringing down our cluster. We have seen this happen once a day for the last week. The li

[2015-04-13 18:04] iemem15 commented on #10550
Thanks I asked again in the groups, I enabled the logger.monitor and sigar is loaded, but I can't get info on IOPS

[2015-04-13 18:05] dharshanr commented on #10345
Is there a place to have a discussion on this? Looks like the problem has been punted rather than fixed. From a customer perspective it doesn't matter if the import code runs inside elastic or not - its more about importing data.

If stability was really an issue then a better solution would be to provide a standalone daemon that will be able to able to host the rivers and allow customers to impor

[2015-04-13 18:16] Asimov4 commented on #10494
Here's our mapping.
I just saw that it looks like someone indexed a query by mistake.

[code]

[2015-04-13 18:21] clintongormley commented on #10576
Hi @wgodwin

Please upload an example query which causes the OOM, plus the logs, and the output of these requests:

    GET /_nodes
    GET /_nodes/stats?fields=*

[2015-04-13 18:22] clintongormley commented on #10550
@iemem15 What OS are you on?  And please upload the output of:

    GET /_nodes/stats

[2015-04-13 18:25] clintongormley commented on #10494
@Asimov4 it's quite difficult to figure out what is going on when you've renamed all of the fields :)

Could you upload that stack trace, and possibly a simple but complete recreation?

[2015-04-13 18:40] Asimov4 commented on #10494
Sorry about that. I was trying to scrub the data. For the same reason, the stack trace is not published for security reasons in the stack I am troubleshooting.

I am also having a hard time writing an example that would highlight the problem. It looks like a tricky bug as the NullPointerException is triggered when some values are there or not.

For example:
`someField1:(someValue1 OR someValue2 OR

[2015-04-13 19:03] iemem15 commented on #10550
SLES 12 64 Bits
{
   "cluster_name": "tqcilproescluslog01",
   "nodes": {
      "qH3BfKZfQb2fizG7z-7Rbw": {
         "timestamp": 1428951784601,
         "name": "tqcilproesda05.cilos.sat.gob.mx",
         "transport_address": "inet[/10.57.140.81:9300]",
         "host": "tqcilproesda05",
         "ip": [
            "inet[/10.57.140.81:9300]",
            "NONE"
         ],
         "attributes":

[2015-04-13 19:23] breakaway9 commented on #10576
Clinton,
I can't post the text files here, but have zipped them up and stuck them on dropbox here:
https://www.dropbox.com/s/7vr7qeyay1judav/nodes.zip?dl=0

We'll get the query posted shortly.

[2015-04-13 19:33] janryWang commented on #10575
@areek Thank you very much! I made it!😄

[2015-04-13 19:38] clintongormley commented on #10576
@breakaway9 you posted `GET _nodes` request twice, but not the `GET _nodes/stats?fields=*``

[2015-04-13 20:05] breakaway9 commented on #10576
Sorry I had posted the results of "/_nodes?fields=*" here is the corrected version:
https://www.dropbox.com/s/sosznrtrkgec1e0/nodes_fields.txt.zip?dl=0

[2015-04-13 20:22] domofactor opened #10577 "ES having trouble parsing Hash of Array"
hey guys,

I noticed that ES was failing on the following message on versions 1.2.2 and 1.50 when using it as an Outputter in Logstash. Any Ideas?  Also, if I should be posting this elsewhere, please let me know! Thank You.

Message:
[code]

Error:
[code]

[2015-04-13 20:55] kiwigaffa commented on #8871
Thanks @clintongormley

Wasn't expecting it in the first cut, but did want to see whether it made sense, and get the gears turning for a later release :-)

[2015-04-13 21:16] heffergm opened #10581 "Endless re-syncing mappings"
We're running into an recurring issue of late where any change in cluster state (typically a node restart during an upgrade for example) results in the following errors streaming to the log of the currently elected master, as well as very high I/O on all eligible masters:

[code]

We are presently running 1.5.1, but we had the same issue on 1.5.0. I'm cannot say with certainty whether we experienc

[2015-04-13 21:24] szeitlin commented on #3303
yeah, I second this request. I just got one of these errors.

[2015-04-13 23:11] nedcampion opened #10583 "[GEO] False positive match using geo_shape"
Hi Elasticsearch Team,

I wanted to surface an issue regarding a geo query that seems to be giving me a false positive result. I have [a gist here that can be used to recreate what I am seeing](https://gist.github.com/nedcampion/0bbc30f2a999dc904ebf)

I am testing against 1.5.1. In short I create an index with a `geo_shape` field with the maximum precision, I then index a document containing a pol

[2015-04-13 23:38] kimchy opened #10584 "Test IndexingMemoryControllerTests#testIndexBufferSizeUpdateAfterCreationRemoval fails post #10452"
I was looking at a test failure to see if it relates to my change with the JVM stats aspect. Turns out it didn't, but managed to find the commit that did (#10452). Still did not chase it down into why. Running only the test on IntelliJ with ` -Dtests.seed=F617D748C91B4DD4` causes it to fail on my machine every time, but this for some reason doesn't repro it (still not sure why, weird):

[code]

[2015-04-14 02:47] imotov commented on #10577
Hash is a set of key - value pairs. I think your hash `{[1 , 2 , 3]}` is missing the key portion. It should be `{"arr": [1, 2, 3]}` to be a hash. Would you agree? Another question is why such hash is getting generated, and this would be a great question for the [logstash mailing list](https://groups.google.com/forum/#!forum/logstash-users).

[2015-04-14 02:47] wumingwuan commented on #10565
This my upgrade process.
1. backup 1.4.2 data/config folder.
2.copy 1.4.2 data/config to extracted 1.5.0 folder
3.execute 1.5.0/elasticsearch.bat  => exception throw
I thought maybe 1.5.1 fix this problem. so i download 1.5.1
and copy 1.4.2 data/config to extracted 1.5.1 folder =>same exception throw.
Finally, I download 1.4.4 for test.
and copy 1.4.2 data/config to extracted 1.4.4 folder =>workin

[2015-04-14 06:26] amarandon commented on #10500
@clintongormley Does it still for you with `index.percolator.map_unmapped_fields_as_string: true` in your config file?

[2015-04-14 07:15] faxm0dem commented on #9212
Thanks @clintongormley for this information. I was afraid to have too large shards using monthly indices, as reallocation would take ages on a 1G link, so I'm not sure how to handle this.
That being said, just some more info here I upgraded to 1.5.1 and it happened again on a 1.5.1 node (master was still 1.4.2).

[2015-04-14 08:06] faxm0dem commented on #9212
Note: my `indices.memory.index_buffer_size` is set to `30%`

[2015-04-14 08:21] dernasherbrezon opened #10587 "Use tanuki wrapper for running in debian"
It gives the following (the most valuable):
* autorestart
* bounce if JVM failed to respond to ping command. Usually when full GC consumes all CPU
(Full list of features at: http://wrapper.tanukisoftware.com/doc/english/introduction.html )

Tanuki wrapper could be easily integrated with init.d on debian:
* https://packages.debian.org/source/sid/service-wrapper-java it already contains start/stop s

[2015-04-14 08:40] faxm0dem opened #10588 "doc/log enhancement: disk watermark"
The documentation and key name of the cluster setting `cluster.routing.allocation.disk.watermark.low` is inconsistent with the message from the logfile. When value is set to default of `85%` (according to [documentation](http://www.elastic.co/guide/en/elasticsearch/reference/1.5/index-modules-allocation.html#disk)), the warning message says:

[code]

It is IMHO misleading

[2015-04-14 08:41] tlrx commented on #10587
Tanuki wrapper is a great tool but I'm a bit scared to use it with sysv-init or systemd scripts. For what I've [read)(http://wrapper.tanukisoftware.com/doc/english/prop-ping-timeout.html), there is a chance that in case of a "JVM ping timeout" the wrapper will restart a new JVM without maybe correctly shutting down the first one.

[2015-04-14 08:44] #10584 closed

[2015-04-14 08:57] dernasherbrezon commented on #10587
We used wrapper in production for a long time, but I never encounter such shutdowns. Wrapper just sends normal "kill -9" to JVM. Anyway, if JVM hangs it's not possible to correctly execute shutdown/restart.

Unfortunately I'm not aware about any plans for elastic packaging..As a suggestion I would create separate package configuration for debian. With https://github.com/tcurdt/jdeb and https://git

[2015-04-14 09:14] tlrx commented on #10587
Debian and RPM packages already exist and are released for every version of elasticsearch (see  https://www.elastic.co/blog/apt-and-yum-repositories). And yes, we're using jdeb :)

I don't like the ping timeout feature because it introduces something outside elasticsearch that can kill/restart a node while it's working or freezing. I'm curious to know what others think about this.

[2015-04-14 09:26] dling opened #10590 "Missing field filter not working"
I have an Elasticsearch 1.5.0 environment with 3 nodes and 3 shards of each index.

I have the following document indexed:

[code]

However when I make queries and combine it with using the missing field filter the actual missing field filter is not being used.

[code]

Response output for that query:

[code]

The query above should not return the document, since I am querying for document that ha

[2015-04-14 09:43] markharwood commented on #3303
@s1monw  is keen to overhaul the parser framework and so this issue is likely to be addressed as part of that activity. Currently all data nodes parse the same JSON query and generally report the same parse issues. In Simon's proposal only the receiving node performs parsing/validation and for valid queries sends out non-JSON representations of the query to data nodes for execution. This is a big

[2015-04-14 09:46] r0goyal commented on #10436
@clintongormley Any update on this ?

[2015-04-14 10:33] childe opened #10591 "expand_wildcards:closed does not work to indices with alias"
If the index logstash-2015.04.14 has an alias named logstash-2015.04.14-test,
I could get result from logstash-*/_settings?expand_wildcards=closed.

I am not sure if it is bug ?

[2015-04-14 10:43] s1monw commented on #3303
+1 to what @markharwood said. It's not helpful to add half baked solutions IMO we should get these exceptions when we parse the query and then we can render all the required things. Today we do that too late (on the executing node) and we are moving query parsing to the coordinating node (REST node) so we can throw the right exception and render more infos. I like to do these things right even if

[2015-04-14 12:11] missinglink commented on #10192
Sorry, late to the party on this one, I think you'll find that this is not a duplicate of #9466 but instead related to how your TokenStream expands synonyms.

For example, if you have a string which has ~26 tokens and they are expanded x10 times by synonym expansion or another method you get to a point where you have over 256 finite strings and :boom:

We have also encountered this issue in https:

[2015-04-14 12:38] clintongormley commented on #10494
@Asimov4 weird :)  appreciate the effort on trying to recreate

[2015-04-14 12:46] clintongormley commented on #10576
The info you've provided looks pretty normal, but then you've restarted some nodes.  Would be interested in that query.

Also, I think you're running more than one instance of ES per box?  If so, you should set `processors` to the number of processors/cores to give to each instance.

[2015-04-14 12:59] clintongormley commented on #10550
The output that you show is typical output when sigar is not loaded.

Please can you add the `logger.monitor: TRACE`, start a node, run `GET /_nodes/stats/fs` and upload the logs here.

[2015-04-14 13:16] clintongormley commented on #10581
@areek please could you take a look at this.  It appears to be the reordering of the `precision` field, as mentioned in #8937

[2015-04-14 13:17] clintongormley commented on #10583
@nknize please could you take a look

[2015-04-14 13:19] clintongormley commented on #10577
Yep - this is malformed JSON. You should try to find where this bad JSON is coming from

[2015-04-14 13:19] #10577 closed

[2015-04-14 13:20] dakrone commented on #10588
You're right, this should be pretty easy to fix by either standardizing on displaying the used space or free space everywhere.

[2015-04-14 13:20] nknize commented on #9716
Closing as non-issue

[2015-04-14 13:20] #9716 closed

[2015-04-14 13:22] clintongormley commented on #10500
@amarandon if you're using that option, then I'm not surprised it fails... A geoshape query can't work on a string field.  You need to have the field specified in the mapping before you can create a percolator which uses it.  Otherwise (with that setting enabled) it will assume that the missing field is a string, and... fail

[2015-04-14 13:22] nknize commented on #9871
Resolved in commit 0ed8d47f37b22aa4a2c03ef4c2d8c227d319f332

[2015-04-14 13:22] #9871 closed

[2015-04-14 13:30] nknize commented on #10583
This is related to #9691 (and similar #9860) a fix will be in place very very shortly.

tl;dr:  if you really want full precision you need to lower the distance_error_pct value. Be careful, you can quickly blow out memory.

In the meantime, if you want to get accurate results and preserve the most memory your best bet is to post-filter the results in the application layer (resultShape.relate(candi

[2015-04-14 13:41] clintongormley commented on #10587
In fact, we used to use the java service wrapper (see https://github.com/elastic/elasticsearch-servicewrapper) but decided against it because of the licensing.

[2015-04-14 13:41] #10587 closed

[2015-04-14 13:49] amarandon commented on #10500
@clintongormley But I do have the field specified in the mapping before I create the percolator which uses it. In the test script I provided, we create that mapping explicitly and even check that it's been properly created with a GET request before trying to create a percolator query against it. In other words the geo_shape field is not unmapped and shouldn't be affected by that option.

[2015-04-14 13:59] clintongormley commented on #10590
Hi @dling

First, you shouldn't be using `filter` here.  This filter is only applied AFTER your query has been run and aggregations have been calculated.  So it removes results from the `hits`, but the results will still be taken into account by aggregations.  Instead, you should use a `filtered` query.

Next, I note that you're querying the `content` index, but the document is actually in `conten

[2015-04-14 14:00] clintongormley commented on #10436
Can anybody who can read Java give some feedback here?

[2015-04-14 14:04] clintongormley commented on #10591
So the wildcard is matching the alias, which points to the closed index.  Interesting...

[2015-04-14 14:17] clintongormley commented on #10500
Gotcha!  And I can recreate, too.  Agreed, this is a bug.

@martijnvg please could you take a look

Here's the full recreation:

    PUT /myindex?pretty
    {
      "settings": {
        "index.percolator.map_unmapped_fields_as_string":true
      }
    }

    # Insert mapping with geo_shape type
    PUT /myindex/_mapping/mytype?pretty
    {
      "mytype": {
        "properties": {
          "loca

[2015-04-14 15:19] colings86 opened #10594 "Enforce non-null ValueFormat in Aggregations"
This was suggested by @jpountz in https://github.com/elastic/elasticsearch/pull/10571#issuecomment-92499177.

Off the back of #10571 it would be easier if the ValueFormat in aggregations was always non-null so that in the cases where null would currently be returned from the `ValuesSourceParser` it instead returns `ValueFormat.RAW`. This would mean that instead of checking for null AND `ValueForma

[2015-04-14 15:41] #10284 closed

[2015-04-14 18:37] daveharmon opened #10596 "Crash Error: "NoClassDefFoundError""
Hi all,
I'm working on getting started with elastic search (latest version).  All of my simple tests work great and the guide (which I have read several times and definitely completed every necessary step) is really helpful for general things.  However I plan on using elastic search as a dependency in a storm project so I need to deploy it to a single jar.  I've researched my error a lot and it se

[2015-04-14 19:41] rjernst commented on #10590
@dling Was your index created before 1.3? It may be the same issues as #10414 which was fixed in #10268 for 1.5.1.

[2015-04-14 20:41] iemem15 commented on #10550
Here it is
THis is the log https://gist.github.com/iemem15/d60fcee730cc31b19264
This is the stats output
https://gist.github.com/iemem15/2344b56f34a3e522f4ef

My logging.yml
https://gist.github.com/iemem15/6fb5a301e5d5190c42d8

Thanks,

2015-04-14 8:00 GMT-05:00 Clinton Gormley <notifications@github.com>:

--
Israel Elías Morales

[2015-04-14 22:13] danjensen6075 opened #10597 "My elastic search setup will not complete"
I am on a windows 8 machine.  I have the latest jdk package loaded.  I have elastic search 1.5.  My setup will not complete. What do I need to do?  Here are the results after running the elasticsearch.bat file:

C:\Users\jensedr\elasticsearch-1.5.1\bin>elasticsearch
[2015-04-14 14:29:55,547][INFO ][node                     ] [Robert Kelly] versi
on[1.5.1], pid[4544], build[5e38401/2015-04-09T13:41

[2015-04-14 23:16] saiprasadmishra commented on #10181
Hi All

I am seeing a similar issue in our ES version 1.3.2 also. Did you figure out why it has so many lucene merge threads....looks like threads are just started and not getting stopped.

[2015-04-14 23:18] saiprasadmishra commented on #10181
@mikemccand I am seeing 100s of lucene merge threads apart from 2 [merge] threads even though max_thread count was 1

curl -XPUT 'localhost:9201/index_v1/_settings' -d '
{
  "index": {
    "merge.scheduler.max_thread_count": 1
  }
}'

[2015-04-14 23:52] rashidkpc commented on #3303
Important to consider this isn't limited to query parsing. Simply moving validation to the coordinating node won't fix the premise of this ticket, which is that that REST errors are neither human nor machine readable. For example, invalid scripts will return a concatenated string leaving us with no way to tell the user what went wrong.

[code]

Or if a shard fails due to corruption, all we can tel

[2015-04-15 00:24] jdconrad opened #10598 "simply scripts to only support one file type in script engines"
In the onFileInit method as part of the class ScriptService it appears that an assumption is made that there will always only be one type of file for each of the ScriptServiceEngines that is available.  This can be simplified by only allowing one type of file per ScriptServiceEngine since that assumption is already made anyway.

[2015-04-15 00:55] ppf2 opened #10599 "Display full col name when header option is used with cat apis"
Currently, if you specify header options for the cat api using the `h=` and `v` options, eg. `http://localhost:9200/_cat/thread_pool?h=host,ip,bs,ba,bq,br&v`, it returns the short form for the header/column names in the verbose header output which is not that user friendly.  It will be nice to provide an option for it to display the full column name when header options are used.

[code]

[2015-04-15 00:58] ppf2 opened #10600 "Include pool and queue sizes in default cat thread_pool output"
Currently, the cat thread_pool api returns the following thread pool metrics by default for the bulk, index and search pools:

[code]

It will be helpful to also return the .size and .queueSize values.

[2015-04-15 01:16] ppf2 opened #10601 "Report max queue size reached for thread pools"
When tuning bulk thread pool queue sizes, it can be helpful if there is a way to report on the max queue size "reached" so far to help developers/admins plan ahead for further queue size increases where appropriate (without waiting for rejections to occur).

[2015-04-15 02:26] jeffreyji666 opened #10603 "NoNodeAvailableException: None of the configured nodes are available: []"
I build a es cluster with 2 nodes on EC2. and they are accessible by 9200 and 9300 port. I even do the telnet test on 9300 port, it is ok.

and I write the following code:

        params.put("cluster.name", "test");
        Settings settings = ImmutableSettings.settingsBuilder().put(params).build();
        client = new TransportClient(settings);
        String[] hosts = Config.getString("elastic

[2015-04-15 04:15] aphyr commented on #10426
Thanks for this, @bleskes! I have been super busy with a few other issues but this is the last one I have to clear before talks go! I'll take a look tomorrow morning. :)

[2015-04-15 05:20] dadoonet commented on #10597
Please ask questions like this on the mailing list. We can help you there.
Nothing looks strange in logs so you'll need to provide more details.

Not an issue closing.

[2015-04-15 05:20] #10597 closed

[2015-04-15 05:20] tatsushid commented on #9582
Hi guys, I'm also investigating the issue and I believe I found the one of the cause of it in sigar library.

Today, I saw odd `open` system calls from elasticsearch like

[code]

It seems the path name is corrupted gradually. This is processed at https://github.com/hyperic/sigar/blob/master/src/os/linux/linux_sigar.c#L1180 and I think the following has something wrong.

[code]

For example, if th

[2015-04-15 05:49] dadoonet commented on #10603
A better place for questions like this is on the mailing list as it's more a configuration issue than a bug.
I think it's a security issue. If you are running your code outside AWS, you need to open 9300 port to the outside as well.

Closing as not an issue.

[2015-04-15 05:49] #10603 closed

[2015-04-15 05:58] dadoonet commented on #10596
Does your final jar file contains the missing class? How does it look like?
Does it contain as well lucene classes we don't shade in Elasticsearch jar?
Try to add as a dependency as well all jars marked as optional in our pom.xml.

[2015-04-15 05:58] hp-NPH opened #10604 "master left problem"
Hi ,We have four nodes(1 master and data  node  &&  3 only data nodes) ,however,when the index increased to  134044389 ,our data nodes often left the cluster. After I looked the ES logs,I discovered that the GC time was too long .
        the  dropped data node log just like the following:
![tm](https://cloud.githubusercontent.com/assets/10142769/7152859/a814890c-e375-11e4-9434-7726da66bb83.png)

[2015-04-15 06:03] dadoonet commented on #10604
No problem with your english.
But Please ask question on the mailing list. We can help you there.
You should provide there also your full logs (use gist.github.com to share them).

Does not look like an issue. Closing.

[2015-04-15 06:03] #10604 closed

[2015-04-15 07:11] tlrx commented on #9582
@tatsushid awesome, thanks! According your explanation it seems you found the source of this issue :)

Do you think you can create an issue for the Sigar lib and link it here?

[2015-04-15 07:25] SMUnlimited commented on #10142
@clintongormley There is an example in the gist:

https://gist.github.com/SMUnlimited/86e03e8f59ac6a09935c

[2015-04-15 07:31] tatsushid commented on #9582
@tlrx OK, I'll create an issue for Sigar project

[2015-04-15 07:37] VasilyAverin commented on #9582
Dear Tatsushi,
thank you very much.
I believe this bug can happen inside simfs containers too,
according device file does not have partition number in end of name.
ct # ls /dev/simfs  -al
b-----x--- 1 root root 0, 24 May 14 10:51 /dev/simfs

On old openVZ kernels containers had no /sys/block directory.
When it was added on new kernels Sigar library was switched to using of IOSTAT_SYS handler
that

[2015-04-15 08:16] WellingR opened #10606 "Failure to recover shards after power outage"
We have ElasticSearch running on a single node. After a power outage, some of the shards could not be recovered. The log was filled with occurences of the log messages below.

Removing the *.recovering files in the elasticsearch data directories and restarting ElasticSearch fixed the problem.

I would be nice if ElasticSearch would ignore the corrupt data, and recover as much as is possible.

[2015-04-15 09:17] magnhaug opened #10607 "Acknowledged: false for successful delete operations"
When deleting a "large" index (13M documents), it gives "acknowledged: false", even though no warnings are logged. The index is correctly deleted from all nodes. When deleting a smaller index, it says "acknowledged: true".
What is the semantics here? If it was due to a timeout, I'd expect a "ProcessClusterEventTimeoutException".
As a user, I'd be less confused if the API would be consistent, so I

[2015-04-15 10:10] carljohnstone commented on #10345
Sorry I'm not hugely familiar with the code-base itself, but would it be possible to write a non-river plugin, that pulled in data from an external source than indexed it into Elasticsearch using the bulk-data APIs? Would you expect that to be any more stable than a plugin coded against the River classes? Eg is the actual problem the fact that these are plugins running within the ES server itself,

[2015-04-15 10:13] nellicus opened #10609 ""Failed to parse filter for alias/no field mapping can be found" with field declared in _default_ mapping when using _bulk"
This is very closely related to scenario described in #10038:
there is an index template with aliases using filter on some fields and a new events come in, failing to created the index when this doesn't yet exists (typical use case is logstash)

The difference here is that field used in index template to define the alias *is* declared under default mapping, but still , the problem happens if _bulk

[2015-04-15 10:23] mikemccand commented on #10606
Hmm, I think https://github.com/elastic/elasticsearch/pull/9797 should have
fixed this as of 1.5.0.  Are you sure you see the same problem in 1.5.0?

Mike McCandless

On Wed, Apr 15, 2015 at 4:16 AM, R Welling <notifications@github.com> wrote:

[2015-04-15 10:40] mikemccand commented on #10181
@saiprasadmishra can you also post all threads?

[2015-04-15 11:24] Nickology commented on #5324
+1

[2015-04-15 12:27] s1monw commented on #10598
+!

[2015-04-15 12:47] javanna commented on #10598
Hi @jdconrad you mean [here](https://github.com/elastic/elasticsearch/blob/master/src/main/java/org/elasticsearch/script/ScriptService.java#L486)? If that's the case that is not the assumption we are making there, we have to pick one type, which one doesn't matter, the call will return the same result for the same engine.

I am all for simplifying this in master, but I think we properly support mu

[2015-04-15 13:12] javanna commented on #10522
valid point @rjernst , I agree the inner search and requiring to read data as part of a metadata write operation might feel weird. That said this issue was meant to keep track of the missing check for blocks issue that was found in #9203, which we are fixing there. We can then open a new issue if we want to change how the put warmer api works internally.

[2015-04-15 13:18] javanna commented on #4755
I tend to agree with @rore here. We could improve the colors that we use depending on the cluster level `action.write_consistency` setting (note that it can be overridden per request though). I am not a big fan of returing `red` for an index that would be yellow but cannot be written into. Maybe a new color would help. I don't think this is ready to be an adoptme though, given that we are still di

[2015-04-15 13:23] rtkmhart commented on #8851
I've been seeing very similar behaviour in 1.4.1, where shard0 of an index is moving from node1 to node2 and shard1 is moving from node2 to node1. In my case we noticed because are shards are too big for sane movement, but that this happens at all is a bit bizarre. We're in the process of upgrading to 1.5.1 but if we see this again I'll bump this issue and open a support case.

[2015-04-15 13:26] javanna commented on #5359
what can I say? I don't like regexes... if I have to choose between groovy scripts and regexes...I might actually go with scripts... sorry.

[2015-04-15 13:52] rrphotosoft opened #10611 "elasticsearch using wrong jvm ,force?"
Hi,
I recently downloaded es 1.5.0.
When I try a simple bin/elasticsearch
I get the following:
    - RuntimeException[Java version: 1.7.0_51 suffers from critical bug https://bugs.openjdk.java.net/browse/JDK-8024830 which can cause data corruption.
Please upgrade the JVM, see http://www.elastic.co/guide/en/elasticsearch/reference/current/_installation.html for current recommendations.
If you absol

[2015-04-15 14:15] rmuir commented on #10611
Look and see if JAVA_HOME is set to an older one.

[2015-04-15 14:21] javanna commented on #10591
We used not to check the state of concrete indices after aliases resolution, which might explain this behaviour. That should be fixed with #9057 though. @childe which version of elasticsearch are you running on?

[2015-04-15 14:22] dling commented on #10590
Thanks a lot for the responses. Yes the index was indeed created on an earlier version, I believe before 1.3.

I will upgrade to 1.5.1 in the next few days and see how that works out, and if it doesn't solve it I'll upload the requested output.

[2015-04-15 14:35] dimitardenev opened #10613 "Enable SignificanceHeuristics which are aware of the term being scored"
We would like to implement custom significance heuristic for the significant_terms aggregation which are aware of the term being scored. In our use case the terms have part-of-speech tags as prefixes which we want to take into account when we compute the score.

Here is an example:
* the terms "blue" and "car" have the absolutely same document frequencies in the index
* blue is an adjective and is

[2015-04-15 14:55] tomas-edwardsson opened #10614 "Unable to update discovery.zen.minimum_master_nodes"
I've been trying to update `discovery.zen.minimum_master_nodes` on my elasticsearch cluster. It seems that nothing gets updated and nothing logged.

Running version 1.5.1

I also tried updating only `transient` which behaved the same way.
[code]

Checking the settings afterwards I get:
[code]

[2015-04-15 16:02] #10581 closed

[2015-04-15 16:02] #8937 closed

[2015-04-15 16:19] sgerlach opened #10615 "Timestamp querying, sliding window"
When querying Elasticsearch often users need to be able to look at a time window for a period of time. Currently, Kibana is handling this translation of window from "Last x Days" to the timestamp and adding the query parts
[code]
Would be an awesome feature to be able to add the relative times to the elasticsearch query and have elasticsearch do the timestamp processing
ie
[code]
or something like

[2015-04-15 16:26] dadoonet commented on #10615
I think you can do it using `now/d-1d` or `now-1h` for example.

have a look at http://www.elastic.co/guide/en/elasticsearch/guide/current/_filter_order.html

May be I misundertood your question or your question is more for Kibana project?

[2015-04-15 16:30] sgerlach commented on #10615
Nope, that's exactly what I meant! My search-foo is lacking this morning!

[2015-04-15 16:30] #10615 closed

[2015-04-15 16:35] daveharmon commented on #10596
Thanks for your reply dadoonet,
I figured it out,  I had been using the maven assembly plugin to achieve a single jar as shown above.  Instead I decided to go with the maven shade plugin (v2.3) via this issue: https://github.com/elastic/elasticsearch/issues/3350 and add a series of AppendingTransformer transformers to the configuration section that combine those three specific META-INF/services fi

[2015-04-15 16:39] dadoonet commented on #10596
Thanks for the heads up. Closing.

[2015-04-15 16:39] #10596 closed

[2015-04-15 16:42] dernasherbrezon opened #10616 "Unbounded threadpools in Netty"
There are unbounded thread pools exist in NettyTransport (https://github.com/elastic/elasticsearch/blob/1032429d31efce215a8c9abfe4a41830d821da72/src/main/java/org/elasticsearch/transport/netty/NettyTransport.java#L312)

I would expect them configured the same way index/search/&etc threadpools. Could create pull request if needed

This is related to #5152

[2015-04-15 16:53] rrphotosoft commented on #10611
Hi,
My java home variable is set to the correct java.
In both the .bashrc and the /etc/environment.

[2015-04-15 17:10] nknize opened #10617 "[GEO] Consolidate duplicate Bounding Box classes"
Aggregations, Filters, Builders all have some form of a Bounding Box implementation. This task is to consolidate all of these duplicate "rogue" classes into one (possibly in GeoUtils).

Note: this consolidation could eventually be replaced w/ an integration of the Apache SIS geometry package and using the Envelope geometry.

[2015-04-15 17:45] darylrobbins opened #10618 "Slow Search Requests For A Couple Seconds Every Minute"
Running ElasticSearch 1.5.1 under Java 7 and tried Java 8 as well.

I am seeing slow search requests (~2 seconds) at the exact same second every minute across all my Java/Transport Client nodes. I have ruled out GC and can't find any other background threads running at the time. There is also no other process affecting performance on the machines.

Here is our environment setup. We are running on

[2015-04-15 19:22] rjernst commented on #10598
Sure this is breaking, but I also don't see how this "feature" is actually helping anything.  +1 to break in master. And I would just remove the `javascript` type.

Do we also really need separate extension/type? They seem redundant? It seems like we could have one, and that is both the `lang` parameter value, as well as the extension for on disk scripts.

[2015-04-15 19:39] rmuir commented on #10611
The java version it prints out is the version it is reporting. So something about your environment is off, you are not using the java you think you are.

[2015-04-15 19:41] rjernst commented on #5359
Scripts seem much too complicated here. In fact we already basically support regexes in the `template` parameter (just with the only operator being `*`?), this would just extend them to be *real* regexes so that you could use pattern subs in other places.

[2015-04-15 20:05] rjernst commented on #10611
First, this won't work if you have indexed any documents (Lucene is not "forwards compatible", it has no idea how to read data written from a newer version).

But more importantly, the error is there because this is a serious bug that can cause index corruption. Ignoring it by trying to mask the problem is not going to save you from the potential corruption.

@rmuir is right, something is not righ

[2015-04-15 20:23] rrphotosoft commented on #10611
Hi guys,
Thanks for the input, but I'm not getting very far with this.
Where does ES look to determine the JVM?
I can't think of anything more than setting the JAVA_HOME variable.
If you have any suggestions on how I can try to debug this, it would be really useful.
Furthermore, with respect to forward compatibility, I won't be facing that, the data was originally indexed on 1.3.5, I wanted to upd

[2015-04-15 20:33] rjernst commented on #10611
Are you on a *nix machine? Try running these commands:
[code]

If you do not have JAVA_HOME set (are you sure it is set for the user running elasticsearch? is elasticsearch started via init.d?) then elasticsearch uses whichver java it finds on `PATH`.

[2015-04-15 20:45] rbraley commented on #5359
I think the regexes with captured vars would be sufficiently powerful to solve this problem. Would be fantastic if it worked with #7634 as well.

[2015-04-15 20:46] rjernst opened #10620 "Remove ability to specify default mapping on disk"
Having to set special files on every node seems like an anti-pattern for one of the main goals for ES (everything available through an API).  We already have the ability to set the default mapping through the API, and the code handling disk based default mappings just adds complication without benefit.  We should remove this for 2.0.

[2015-04-15 21:15] pauleil commented on #2917
Are there any plans to support this feature in the foreseeable future?

[2015-04-15 21:24] jpountz commented on #10620
+1

[2015-04-15 23:45] darylrobbins commented on #10618
This issue was actually unrelated to ElasticSearch after all. It was a problem with the load balancer configuration.

[2015-04-15 23:45] #10618 closed

[2015-04-16 03:06] imotov commented on #10614
@tomas-edwardsson how many master eligible nodes do you have in the cluster?

[2015-04-16 03:17] wumingwuan commented on #2230
+1

[2015-04-16 03:17] simpsora commented on #8283
Hi @bleskes, sorry for the radio silence.  We changed tactics on how we use marvel and are no longer using it with a proxy.  As such, I haven't had a chance to test out your suggestions.  However, I think the config you mention would have solved our problems.

[2015-04-16 04:16] markwalkom commented on #10005
I've been speaking to a few networking firms lately and it's dawned on me that microsecond level is going to be critical for IDS/network analytics.

[2015-04-16 07:38] javanna commented on #10598
I agree that we don't need multiple types. Breaking all scripting plugins is a bit scary but might be worth it here, on master only. Maybe @dadoonet and @uboness want to comment as well.

That said, @jdconrad if I got this right and what you found is not a bug, can you please update the title and description of the issue or open a new one? It feels weird that the whole (good) discussion started fr

[2015-04-16 07:57] WellingR commented on #10606
I will try to reproduce the issue again in 1.5.0

[2015-04-16 08:28] javanna commented on #10574
This is a bug, `null` becomes an empty array when the request goes through the wire, but if the request gets executed immediately on the node where it's created it causes NPE. In the context of cluster health empty indices means no indices (only the global cluster health is returned), it is probably appropriate to check for null in TransportClusterHealthAction where the NPE gets thrown.

[2015-04-16 08:36] jpountz opened #10625 "Remove XPostingsHighlighter"
This class is a fork of Lucene's PostingsHighlighter. Quoting its javadocs:

[code]

I don't think we can maintain such forks in the long term as reconciliating changes that come from Lucene upgrades with changes that we did ourselves might even be impossible at some point. So I think it's important that everything that we need gets merged back to Lucene's PostingsHighlighter and that we remove XP

[2015-04-16 08:47] jpountz opened #10626 "Remove XMoreLikeThis"
This class is a fork of Lucene's `MoreLikeThis` but already diverged quite a lot. If we want to be able to maintain this functionality in the long term, we need to merge improvements back to Lucene, otherwise at some point changes coming from Lucene upgrades will be impossible to reconciliate with changes of this fork.

[2015-04-16 08:53] childe commented on #10591
1.4.4
I thought logstash-*/_settings?expand_wildcards=closed would NOT get result of open indices. am I right?
logstash-2015.04.14  is open , but i got it from the api.

[2015-04-16 09:03] javanna commented on #10625
I agree this is a problem, it is impossible to maintain.

To give you some more background here, the idea behind this experiment was to support the postings highlighter in elasticsearch, but trying to make it work as similar as possible to the other highlighters in terms of supported options and the result they provide.

One problem was supporting `fragment_size: 0` which means highlighting the wh

[2015-04-16 09:13] javanna opened #10627 "Highlighting: require_field_match on by default"
The current default value for the `require_field_match` option is `false` for all highlighters. That means that when it comes to highlighting field names are pretty much ignored. Highlighted fragments will get returned if they contain occurrences of the terms extracted out of the query, regardless of which fields were queried. That seems like an odd default (not to mention this option is odd and s

[2015-04-16 09:14] javanna commented on #5381
I think we can close this, require_field_match should solve it. Also, in #10627 we are discussing whether we should change the default for it to be `true`.

[2015-04-16 09:14] #5381 closed

[2015-04-16 09:18] rsareth commented on #9357
Hi Imgray,

Thank you for your response. I've tested what you have done, but it hasn't worked for me.

I've checked :
 * file /etc/security/limits.conf has the correct lines
 * file /etc/sysconfig/elasticsearch has "MAX_LOCKED_MEMORY=unlimited"
 * file /usr/lib/systemd/system/elasticsearch.service has the limitMEMLOCK uncommented

And I've restarted the service like you did with the script /etc/rc

[2015-04-16 09:23] #10213 closed

[2015-04-16 09:28] abonuccelli-es commented on #10565
I am seeing this in my test system on Linux/1.5.0, though not right after upgrade, 1.5.0 has been running for a while with several stop/restart.
It's my test box where I do lot of test/hacking so not sure about sequence of events :/

[2015-04-16 09:32] javanna commented on #10591
I can confirm this is a bug, could repro with 1.5.1 too.

[code]

[2015-04-16 10:05] gondar commented on #8870
@clintongormley The way you describe it seems that default data model for logstash is broken then. In logstash multiple differing logs types are all placed in the same index (per day). If you enforce that all the same names need to have the same type you are effectively enforcing the same schema for all different logs from different sources.

@jordansissel any comments on that?

[2015-04-16 10:06] lmgray commented on #9357
Have you tried:

# cd /etc/rc.d/init.d
# ./elasticsearch start

I found running it that way it would run the init script vs. using systemd
and it would work.
That said, when I uncommented the limitMEMLOCK like in
/usr/lib/systemd/system/elasticsearch.service
systemd then worked so you seem to have a different problem than I had.

After you start it, try "cat /proc/pid/limits and see what the memor

[2015-04-16 10:15] rore commented on #8870
@gondar Awesome point.

[2015-04-16 10:47] bleskes commented on #10032
Discussing this we came up with a new and simpler plan, which works independently of the cluster update. This gist of it is to have a best effort operation to sync the commit points both primaries and replicas. This "synced flush" is guaranteed to succeed if there are no concurrent indexing operations but will fail gracefully if there are. The result is a marker (sync id) on lucene commit points w

[2015-04-16 10:52] s1monw commented on #10032
thx for updating @bleskes

[2015-04-16 11:07] markharwood opened #10628 "Numeric fields can't make use of Lucene ranking behaviours"
## Why you need this
I have a use case where I want the normal rules of Lucene relevance ranking to apply to numeric fields, the rules being
1) TF - repetition of a term in a doc
2) IDF - scarcity of the term in the index
3) norms - normalizing for the length of the field.

The use case might be a product recommendation engine where each doc represents a user and the field of interest is a list of

[2015-04-16 11:20] jpountz commented on #10628
I think we should just build a TermQuery manually with the help of NumericUtils?

[2015-04-16 11:27] tomas-edwardsson commented on #10614
I have 5 nodes, 3 with node.data: true and 2 with node.data: false

[2015-04-16 11:34] markharwood commented on #10628
How does that look from the user's perspective in the DSL?

[2015-04-16 11:39] jpountz commented on #10628
Maybe we don't need to change the DSL at all and can just fix our number mappers to generate a term query instead of a range on a single term. This way term queries against numbers would always be aware of the IDF?

[2015-04-16 11:41] markharwood commented on #10628
Nice.
Is there a behind-the-scenes overhead to representing IDs as integers in the index?
I'm thinking all of the trie-range encoding stuff that helps support efficient range queries. If we know something is an ID and therefore not subject to range queries maybe there's gains to be had there too?

[2015-04-16 11:53] martijnvg commented on #2917
Once the refactoring in #8134 is in, this is planned to be added. Like with the current refactoring the sorting by child or parent field should be added to the new Lucene query time join first.

[2015-04-16 11:53] jpountz commented on #10628
If you don't use range queries then you can just disable trie encoding by setting precision_step=MAX_VALUE. Other than that numeric terms use a fixed-length binary encoding which is more space-efficient than string for large numbers and less space-efficient for small integers such as "1". But net/net I don't think this would be a big difference.

[2015-04-16 12:07] kmcs commented on #10043
+1

[2015-04-16 12:15] bleskes commented on #9577
closing this for now. We have had field data cache clearing issues , which haven't failed in a while and fsync was taking a long time. It's not 100% clear that these are the cause for this issue, but this ticket has run stale. We can re-open if it fails again.

[2015-04-16 12:15] #9577 closed

[2015-04-16 12:34] mariusdw opened #10629 "Elasticsearch inner_hits query does not return second nested field in object field"
Hi All

Please refer to issue <a href="https://github.com/elastic/elasticsearch/issues/10334">10334</a> that was marked as fixed in the latest release (1.5.1). I have tested this today and it still doesnt work correctly. The ArrayOutOfBoundsException is gone, however I now get incorrect data back.  Only the first entry is returned regardless of which entry has matched the search request.

To Repli

[2015-04-16 12:51] bleskes commented on #8283
cool. I will close this then. If anything pops up, please re-open.

[2015-04-16 12:51] #8283 closed

[2015-04-16 12:56] martijnvg commented on #10629
@mariusdw agreed, that looks incorrect

[2015-04-16 13:20] markharwood commented on #10628
OK.

Would there be BWC concerns ie unexpected changes in relevance ranking for existing queries?

[2015-04-16 13:28] jpountz commented on #10628
Field mappers know the version of the index for which they have been created so we could handle bw compat if we want. But I don't think we should worry about it?

[2015-04-16 13:46] markharwood commented on #10613
Thanks for opening this issue. The solution will add an extra parameter to the SignificanceHeuristic.getScore(..) method with an object representing the term being scored.

We suggest that your custom heuristic simply wraps and calls a choice of existing heuristic, multiplying the result by your POS weightings for the given term. We don't want to complicate the Query DSL to support this nesting of