[2018-01-17 14:34] cbuescher commented on #25603
Can you post the complete search request, including the endpoint URL (with index, types etc...) you are using please, together with a "good" and a "bad" result. Are you querying across multiple indices or types? If so how many do you have, which ones do you expect the request to hit?

Can you do the same for a good and bad "ids" query result please? The above terms query isn't really

Does specify

[2018-01-17 14:54] jasontedor commented on #28213
@ywelsch I think this is closed by #28224?

[2018-01-17 15:26] ywelsch commented on #28213
yes, thanks @jasontedor

[2018-01-17 15:26] #28213 closed

[2018-01-17 15:39] philandrews-ixxus commented on #21692
Is this related to Docker hosting ES or just a change in ES behavior between versions?

[2018-01-17 16:36] CrazyPersonThirtyNine opened #28265 "Indexing documents for suggestion"
**Bug**: Indexing documents for suggestions results in exceptions.

**Elasticsearch version** : 5.3

**Plugins installed**: None.

**JVM version** (`java -version`): 1.8.X

**OS version**  Windows.

**Description of the problem including expected versus actual behavior**:
Expected normal indexing - It does index the documents in the end.
However it throws exceptions in Lucene and I'm not sure how

[2018-01-17 16:43] jasontedor commented on #27645
No additional feedback, closing.

[2018-01-17 16:43] #27645 closed

[2018-01-17 16:46] jasontedor commented on #18039
The build succeeds on JDK 9 now; in fact, we require compilation with JDK 9 since #28071.

[2018-01-17 16:46] #18039 closed

[2018-01-17 17:04] #27986 closed

[2018-01-17 17:09] DaveCTurner commented on #28265
Hi @CrazyPersonThirtyNine, could you make your "steps to reproduce" more precise, ideally something that we can run on a clean installation and see the problem you're trying to describe?

[2018-01-17 17:25] CrazyPersonThirtyNine commented on #28265
Ty for checking quickly, I've added more info as it wasn't so clear at first.

[2018-01-17 17:43] jimczi commented on #28254
Could you be more precise in the description of the feature ? What do you mean by child scoring ?
Is it `nested` sort: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-sort.html#nested-sorting ?
You can choose a sort mode already:
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-sort.html#_sort_mode_option
Are you proposing to add a `firs

[2018-01-17 18:14] pickypg opened #28269 "[Ingest] Ingest Node cannot find pipeline that exists"
I ran into an issue, which I cannot reproduce, where a set of ingest nodes were complaining that they could not find an ingest pipeline during an ordinary `_bulk` request that used it. This followed a single node cluster being upgraded from 6.1.1 to 6.1.2 by adding a new node, then decommissioning the old node. While trying to debug the issue, two other nodes were added, which were also ingest nod

[2018-01-17 18:14] pickypg commented on #28269
/cc @AlexP-Elastic

[2018-01-17 19:59] jcmcken commented on #12366
Is anyone else seeing any difference in any of the ES metrics when this occurs? We graph all of the ES node metrics via Grafana, and I just can't see any difference when this is happening vs. not.

[2018-01-17 19:59] mjustin opened #28272 "Elasticsearch Reference guide: Disable invalid options in the version select box"
I would like to request an enhancement to the Elasticsearch Reference guide.  Currently, when you select a version in the dropdown that does not exist, a dialog appears saying e.g. "This page is not available in the docs for version:5.5" and does not change the page to the selected version.  I think it would be a nicer usability feature if the invalid versions were instead disabled so it would be

[2018-01-17 21:19] jilucev commented on #18299
@baileyspace Try going into your elasticsearch folder and deleting the stored indices. I had two that were in conflict, and deleting them solved the issue.

``
 ~/elasticsearch-2.3.4/data/elasticsearch/nodes
``

 then delete each folder in the nodes directory.

[2018-01-17 23:41] jasontedor commented on #13867
I do not think this is a problem any longer.

[2018-01-17 23:41] #13867 closed

[2018-01-17 23:42] jasontedor commented on #28272
Thanks for the issue @mjustin. I understand the problem that you're facing and I agree that it's a poor usability experience. That said, this is not the right repository for this issue. Can I ask you to reopen this on [elastic/docs](https://github.com/elastic/docs) and the docs team will see what can be done about this?

[2018-01-17 23:42] #28272 closed

[2018-01-18 01:09] pickypg commented on #28269
Small update:

This happened again on the same cluster, which means that it had nothing to do with the upgrade. Also, the `DELETE` is not required; only the `PUT` of the ingest pipeline to replace it.

It _appears_ to be related to updating an unrelated ingest pipeline, but we have not yet figured out how to make it retrigger since doing it again (the person that did it was not trying to make it h

[2018-01-18 01:54] jasontedor commented on #26968
This will be closed by #28267, #28268, and #28278.

[2018-01-18 02:39] jasontedor commented on #28135
Relates #28278

[2018-01-18 06:45] bilalvdemir commented on #7574
Hi, this feature has complate?

[2018-01-18 08:23] #28250 closed

[2018-01-18 08:58] xgwu commented on #26269
@erik-stephens  Our Elasticsearch process eventually consumed over 100GB of memory got OOM killed by OS.  It's the only major process running on the box, so I think there is still something wrong.   After more investigation, I suspect it's related to java-bytebuffer-leak described in this blog ->[java-bytebuffer-lea]( http://www.evanjones.ca/java-bytebuffer-leak.html). I just added   -Djdk.nio.max

[2018-01-18 09:09] jkakavas opened #28287 "ThirdPartyAudit fails - JAXB"
Task `:plugins:discovery-ec2:thirdPartyAudit` fails [[1]](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.1+intake/183/console), [[2]](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.1+openjdk-java9-periodic/5/console), [[3]](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.1+intake/184/console),[[4]](https://elasticsearch-ci.elastic.co/job/elastic+el

[2018-01-18 09:46] jimczi commented on #28265
This is a duplicate of https://github.com/elastic/elasticsearch/issues/23121.
I hope you don't mind if I close this, I opened a pr to fix this bug:
https://github.com/elastic/elasticsearch/pull/28289
Empty completions should be ignored at indexing time.

[2018-01-18 09:46] #28265 closed

[2018-01-18 09:49] #28204 closed

[2018-01-18 09:57] liketic commented on #24088
Thanks @jpountz !
I've made some investigations about the usage of ```Bits```. From what I understand, we need to create a new interface to replace ```Bits```, which should have two method ```advanceExact()``` and ```length()```.
And also, I think the ```FieldData.docsWithValue``` can be also removed because we can wrap the original ```values``` directly. For example in class ```WithOrdinals```:
[

[2018-01-18 11:08] jkakavas opened #28291 "ThirdPartyAudit fails javax.xml.bind.Marshaller javax.xml.bind.helpers.DefaultValidationEventHandler"
A lot of `:plugins:ingest-attachment:thirdPartyAudit` tasks on 5.6 fail today due to

Looks like this is also related to the Java 9 upgrade, builds that have failed

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-unix-compatibility/os=amazon/571/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+periodic/1310/console
https://elasticsearch-ci.elast

[2018-01-18 12:02] hhovhann opened #28293 "Creating an index with mappings and analysis doesn't work"
Hi @kimchy, I saw https://github.com/elastic/elasticsearch/issues/767 is closed but my error is similar.

Elastic Search Version is 2.4.4

`The first example fails with MapperParsingException[Analyzer [bigrams] not found for field [displayName]];. `

What about the case when we are using `settings.json` in `resource` and spring data annotations (`@Setting(settingPath = "/settings/settings.json")`

[2018-01-18 12:25] colings86 commented on #28262
@SimonJonasGubler I'm not following completely on what you expect vs. what is returned in @DaveCTurner's example above. You said in your reply:

However in the example the `opt2` bucket does have a doc count of 1:

Could you maybe modify the response in @DaveCTurner's example so it shows what you expect to see?

To clarify a bit how the search request is being interpreted, the following describes

[2018-01-18 12:28] cbuescher commented on #28293
Hi @hhovhann! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2018-01-18 12:28] #28293 closed

[2018-01-18 12:28] jasontedor commented on #28291
These are infra issues that are being handled internally. Note these failures are only on the 5.6 and 6.1 branches. This is because the infra changes to support JDK 9 were applied to all CI branches when they should only have been applied to 6.x and master (where we applied the JDK 9 changes). Since there is no actionable item on this repository and this is being tracked internally, I am closing t

[2018-01-18 12:28] #28291 closed

[2018-01-18 12:29] jasontedor commented on #28287
These are infra issues that are being handled internally. Note these failures are only on the 5.6 and 6.1 branches. This is because the infra changes to support JDK 9 were applied to all CI branches when they should only have been applied to 6.x and master (where we applied the JDK 9 changes). Since there is no actionable item on this repository and this is being tracked internally, I am closing t

[2018-01-18 12:29] #28287 closed

[2018-01-18 12:35] hhovhann commented on #28293
Thanks,
Here is https://discuss.elastic.co/t/creating-an-index-with-mappings-and-analysis-doesnt-work/116048

[2018-01-18 13:16] colings86 opened #28295 "Upgrade t-digest to 3.2"
Version 3.2 of t-digest was release in August 2017. We should try to upgrade to this version: https://github.com/tdunning/t-digest/releases

[2018-01-18 15:14] SimonJonasGubler commented on #28262
@colings86 Sorry for the missunderstanding. I see now how the terms aggregation works. In a highlevel-view what I would like to achieve is to get a result like this:

- All outer documents which contain an inner document with "opt1" in the filterOptions
- An aggregation with the following counts
-- All outer documents which contain an inner document with "opt1" in the filterOptions
-- All outer do

[2018-01-18 15:39] colings86 commented on #28262
@SimonJonasGubler Thanks for the clarification, I think I understand what you are wanting to do now.

I have a couple more questions though if thats ok:
1. Are the number of possible values for `filterOptions` small?
2. Are the possible values for `filterOptions` known (as in do you know all the values there could be upfront)?
3. Do you use the fact that `innerModel` is nested in other queries?
4.

[2018-01-18 15:54] mjustin commented on #28272
Created: https://github.com/elastic/docs/issues/291.

[2018-01-18 15:56] jasontedor commented on #26968
Closed by #28267, #28268, and #28278

[2018-01-18 15:56] #26968 closed

[2018-01-18 16:11] tdoman opened #28299 "Azure snapshot request returns 500 error: "null_pointer_exception""
NEST 6.0.0-beta1
ES 6.1.1
repository-azure-6.1.1

I am able to successfully create the azure repository but when I attempt to take the snapshot like so:
[code]
I get the following response:
[code]

Here's the log:
[code]

[2018-01-18 16:17] dadoonet commented on #28299
@tdoman Thanks for reporting. Could you share what you have in `elasticsearch.yml` (please replace any secret by `XXXXX`)?
Also is that a fresh new installation? How did you create the repository?

[2018-01-18 16:19] dadoonet commented on #28299
Looking at the code, I see where this NPE is coming from but it seems to indicate that the Azure client can not be found.

[2018-01-18 16:29] tdoman commented on #28299
@dadoonet Ok, that'd be a good message in lieu of the NPE but I am able to successfully use the keys, etc. in other tools to access the blob storage.  Also, I had been successfully doing this w/ ES 6.0 so I'm not sure what changed.  Here's my repository creation request:
[code]
Here's the `elasticsearch.yml` config:
[code]

[2018-01-18 16:31] SimonJonasGubler commented on #28262
1. Unfortunately no. In our first implementation we tried to implement it with a global aggregation for each option with a complete filter. But for some cases there were many options so the query was very slow. That's why we tried the filters-Aggregation
2. The possible values are known.
3. Do you mean other queries than the one I described? No, we use the index only for this query. However there

[2018-01-18 16:35] dadoonet commented on #28299
I believe that you are seeing some deprecation notice may be? Anyway, to use the plugin in 6.1, you have to follow the guide here: https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-azure-usage.html

Define the key and secret:

[code]

Remove credentials from `elasticsearch.yml`.

Then you need to restart the node and you should be good.

Otherwise, you could may be do someth

[2018-01-18 17:06] jasontedor opened #28301 "Add cluster level setting to control the max size of warning headers in client HTTP responses"
Today warning headers returned on client responses can be unbounded in size without a user knob to control this. Such warning headers can accumulate rapidly on, for example, bulk indexing requests using deprecated fields (e.g., `string` for `keyword` and `text`) across many fields. This can cause problems when there is a proxy between clients which limits the buffer size for proxy responses. This

[2018-01-18 17:21] tdoman commented on #28299
@dadoonet Ah, ok I see, the configuration methodology changed between 6.0 and 6.1.  Ok, I'll try 6.1 approach out today and report back.  I **did** try your "might work" suggestion and it didn't.  :)  Thank you very much for the prompt response, I really appreciate it.

[2018-01-18 18:07] dadoonet commented on #28299
Yeah it changed but it is supposed to be backward compatible. That's why I marked this as a bug and also because a NPE is always bad. 😉

[2018-01-18 19:01] DaveCTurner commented on #28301
It's possible that the proxy rejects the headers because of their number rather than/as well as their total size. It might be useful to limit the number of headers too.

[2018-01-18 21:55] scottsom opened #28303 "Eagerly fetch future results while scrolling"
From looking over the logic for scrolling, I suspect that there should be a decent optimization opportunity by having scrolls eagerly retrieve results before they are requested. It seems that after Elasticsearch returns the scroll results, it isn't doing any work (related to the scroll) until the client makes the next request at which point it runs the query then fetches the results.

Instead of s

[2018-01-18 22:19] #27030 closed

[2018-01-18 23:48] tdoman commented on #28299
Sorry, I re-opened it so the NPE can be addressed.

[2018-01-18 23:48] talevy commented on #22117
@y0299 I'm not sure I completely understand

[2018-01-18 23:49] talevy commented on #27373
I'll take a look at this

[2018-01-18 23:52] talevy commented on #28269
@pickypg was ingest enabled on all the nodes?

[2018-01-19 01:06] adamhadani commented on #28109
@jpountz -

My current use case involves sparse vectors with dimensionality on the order of a few hundred dimensions. More specifically, typical number of non-zero entries  is expected to be << 100.

I suspect for a lot of use cases vectors could be expected to be one-hot encoded or integers, although for my current use case they can be floats in general.

Is this something that sounds like it can

[2018-01-19 01:12] AlexP-Elastic commented on #28269
All 3 nodes were ingest enabled, in addition: 2 of the nodes were data+master eligible, 1 of the nodes was master only (this is standard 2HA config for Cloud clusters)

[2018-01-19 04:31] jasontedor opened #28306 "Allow meta-plugins to declare a parent"
Meta-plugins should have the ability to declare one plugin as a parent plugin and all other plugins are then loaded into classloaders that are children of the classloader for that parent plugin. Thus with:

 - A
   - B
   - C

we would have the classloader hierarchy:
 - server
   - A
     - B
     - C

whereas today we have
  - server
    - A
    - B
    - C

[2018-01-19 05:29] tscung commented on #16082
I think it should be curl -XPUT localhost:9200/_cluster/settings -d '{"persistent" : {"cluster.routing.allocation.disk.threshold_enabled": false}}'

[2018-01-19 05:50] antonpious commented on #28206
@DaveCTurner  it could anything, even if we use another field like color within the document, the fact that this document say color=red, would always be in the same shard and the calls to obtain this document would go to the same node is the cause of the issue. If we now have X Documents identified by this field then the calls would always go to this node. So there should be another lever for us t

[2018-01-19 05:54] dadoonet commented on #28299
Thanks for confirming. I'm planning to address the issues indeed (backward comp and NPE). Let's keep that open.

[2018-01-19 06:42] githubyyf opened #28308 "range value int or float,result different"
es version: 5.4.0

1.range value type float
code:
GET /shops/baseShops/_search?_source=true&size=10
{"query":{"match_all":{}},"post_filter":{"bool":{"must":[[{"term":{"company_id":75}}],[{"term":{"manager_id":"3685"}}],[{"range":{"out_date":{"gte":1516291200.0,"lte":151698239.0}}}]]}},"sort":[{"created_at":"desc"}]}

result:
nothing
![image|690x185](upload://gZtSuP2du2PMBjqfR8tF9jTA2hf.png)

2.ran

[2018-01-19 06:49] dadoonet commented on #28308
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-01-19 06:49] #28308 closed

[2018-01-19 08:44] DaveCTurner commented on #28206
This is reasonably standard, and a quick survey of other sharded datastores will turn up similar design decisions. If you have an external identifier that you don't want to have an impact on the allocation of documents then you should simply store it in a different field.

[2018-01-19 09:17] ywelsch commented on #28206
Maybe also have a look at the `_routing` field: https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-routing-field.html

[2018-01-19 09:33] olcbean commented on #27784
@cbuescher can we remove it in 'this' major version (`7.0`) ?
Or should I open a tracking issue : to be removed in `8.0` or later?

[2018-01-19 09:47] cbuescher commented on #27784
@olcbean I'd say its okay to remove in 7.0 since your other PR deprecated the methods in 6.2. Since it isn't a lot of work to just remove them, just open a PR against 7.0 and if it turns out somebody else thinks otherwise we can still open a tracking issue.

[2018-01-19 09:59] DaveCTurner opened #28309 "Disk watermark validation rejects apparently valid sequence of updates"
[code]

On a fresh one-node cluster, the first of these operations succeeds but the second fails:
[code]

The result is:
[code]

This is surprising because the flood stage watermark was set to `99%` but the error message claims it is still `95%`. As expected, `GET _cluster/settings` yields:

[code]

Setting both watermarks together succeeds:

[code]

I see the same effect replacing `transient` wit

[2018-01-19 10:09] cyberstorm256 commented on #27763
+1

[2018-01-19 11:17] tlrx commented on #21463
Another instance:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=ubuntu/560

[consoleText.txt](https://github.com/elastic/elasticsearch/files/1646310/consoleText.txt)

[2018-01-19 12:52] spinscale commented on #27330
There are some differences in TZ handling we have to cater for. Jodatime has 593 tz ids, java time 600. java time adds a few new ones (starting with `SystemV` which seem not to be used at all), and those can be ignored. However, java time removes `EST, GMT+0, GMT-0, HST, MST, ROC`.

The general recommendation seems to be to use either offsets, like `UTC-08:00` or those region based names like `Ame

[2018-01-19 14:14] s1monw commented on #28303
I think the biggest issue here is that this suggestion assumes that there are no other users of the server. In reality server wouldn't sit idle here. It's not very obvious to me how much you would prefetch and if you'd use a dedicated thread to do it, when you trash the prefetched data and how much it would actually buy us to have such a complexity on the server side. On the client side I'd rather

[2018-01-19 14:14] #28303 closed

[2018-01-19 14:35] jpountz commented on #28120
Can you give more details about your use-case? Is there any reason why the `_search` API would not work?

[2018-01-19 14:36] jpountz commented on #28234
Closing in favour of #12366 where the discussion is happening.

[2018-01-19 14:36] #28234 closed

[2018-01-19 14:37] jpountz commented on #28070
We are discussing a related issue on #12366. We will come back to this one when we reach agreement on #12366.

[2018-01-19 14:41] ripjarphil commented on #28062
We're working on getting the heap dump. We had the `-XX:+HeapDumpOnOutOfMemoryError` flag set but we hadn't specified `-XX:HeapDumpPath`. We have this specified now so the next time we get and `OutOfMemory` exception we will have a heap dump.

Our master node became unresponsive yesterday as a result of long GC pauses, but it eventually recovered.
Once the master became unresponsive, the other nod

[2018-01-19 14:52] s1monw commented on #2869
we spoke about this in fixit friday to keep this issue going. We came up with a possible different way of looking at the problem. If we'd treat an index that has `n-all` set we could just consider it fully allocated as long as at least `max(1,n)` replicas are allocated. Since this is all the allocator can do at this point. We haven't fully flashed out the consequences and how hard it would be to d

[2018-01-19 15:08] scottsom commented on #28303
Ultimately your call on closing this but I will offer some rebuttal:

Yes, I was suggesting that dedicated thread(s) do the readahead. At the end of the query phase, you can signal another thread to start working on the next batch. Today you have to wait for the fetch phase to complete, the results to be returned to the client, the client to parse the results, and the client to request the next pa

[2018-01-19 16:24] dnhatn commented on #23422
@ywelsch Should we close this issue? Looks like that this is not an issue.

[2018-01-19 16:26] elisabeth-sorrell commented on #25179
@brusic Have you already started working on this?

[2018-01-19 16:56] serj-p commented on #25603
@cbuescher
[code]
results in
[code]

[code]
in
[code]

it seems it doesn't metter whether i provide index/type or not
[code]

[code]

[code]

[code]
reducing size to 0 does fix the issue:

[code]

[code]

same for ids query

[code]

[code]

[2018-01-19 17:07] ripjarphil commented on #28062
We're seeing a lot of GC pauses at the moment. The output of `hot_threads` is attached.
It looks like we're spending a lot of CPU time doing `merges` and `management`.

Is this normal? What could be the cause of this?

[hot_threads.txt](https://github.com/elastic/elasticsearch/files/1647351/hot_threads.txt)

[2018-01-19 17:18] ywelsch commented on #23422
right, closing

[2018-01-19 17:18] #23422 closed

[2018-01-19 17:23] matt-isett opened #28314 "Task Management Documentation - update example on taskID:1 and task_id:1(in update-by-query)"
**Elasticsearch version:**
5.X - 6.X

**Description:**
Document update needed change from taskid:1 to Nodeid:1 or just taskID which is Nodeid:taskid.

While reading update-by-query; the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/docs-update-by-query.html#docs-update-by-query-task-api) reference taskid as how to get the task information

    GET /_tasks/taskId:1

but does no

[2018-01-19 17:50] Kalle12345 commented on #27873
@jimczi I discovered it's not only unified highlighter that no_match_size chooses only the first value, even plain highlighter has this issue. Would you work on a fix for both the highlighters?

I will happily wait for a fix for this problem. Thanks in advance

[2018-01-19 18:38] suresk opened #28315 "Percolator query not returning document that the query matches"
**Bug Report**

**Elasticsearch version:** 6.1.0 (it appears as though the behavior is the same in 6.0.1, too)

**Plugins installed**: None that don't come out of the box.

**JVM version:** 1.8.0_131

**OS version:** macOS Sierra

**Description of the problem including expected versus actual behavior**

Percolator queries are not matching in instances that I expect them to. Playing around with the

[2018-01-19 19:06] talevy commented on #28269
strange. let me know if there is a way to recreate and I will see what is happening!

[2018-01-19 19:08] dakrone opened #28316 "Setting persistent settings causes transient settings not to be applied"
Given the following scenario in a multi-node cluster:

- apply some set of transient settings
- ensure settings are applied
- apply addition persistent setting
- transient settings are ignored but still available in cluster state

This is reproducible with the following:

- Create 6 nodes
- Create a "test" index (default settings)
- Apply transient settings to exclude 3 of the nodes by `_name` wit

[2018-01-19 19:47] dakrone commented on #28316
Looking into the root cause for this, it appears that the `affixMapUpdateConsumer` that's added in `FilterAllocationDecider` is called with an empty map when the persistent setting is added, so it's not passing the existing transient settings to the consumer

[2018-01-19 19:54] brusic commented on #25179
Quite honestly, I have forgotten about it since it was no longer needed for the project I was working for at that time. Since 6.x is out, I might give it a shot.

[2018-01-20 06:48] jgq2008303393 commented on #27977
Thanks for your reply and hope  ES can play better in this situation.

I don't express some information clearly. The cluster originally has 10 machines(20 nodes), then we add 5 new machines, so it is 15 machines totally.

[2018-01-20 14:26] BigbigY opened #28318 "elasticsearch6.0,xpack.ssl,Cross Cluster Search"
I installed elasticsearch6.0.0, and x-pack, and the cluster configured SSL. How do I need to solve the SSL authentication problem with my two clusters?
Thank you very much！

[2018-01-20 14:54] BigbigY commented on #28318
This is my execution on a cluster.
[code]
Here is the log：
[code]

[2018-01-20 21:34] Happyfeet01 commented on #28194
i have solved it myself. i used the wrong Java Version

[2018-01-20 21:34] #28194 closed

[2018-01-20 23:05] yehosef commented on #28120
I went into more detail in the forums at https://discuss.elastic.co/t/is-there-a-way-to-specify-routing-all-or-similar-for-get-requests/115439.

Basically my specific use case is that I have a parent-child relationship (stories and comments) and I don't know the id of the parent when requesting the child (which is common/normal).  Until now I had the documents stored not as parent-child and I'm us

[2018-01-20 23:09] yehosef commented on #28120
I don't think what I'm asking for is any big/major change.  You already support multiple routing id and I could, knowing the number of shards I have, experiment and find routing params to hit all the shards.  But that's hacky and shouldn't be needed, IMO.

[2018-01-21 02:11] jasontedor commented on #28318
Sorry that this repository is for open source Elasticsearch only. For X-Pack, we ask that you use the [forum](https://discuss.elastic.co).

[2018-01-21 02:11] #28318 closed

[2018-01-21 02:55] panffeng commented on #27983
Hi @polyfractal, I started writing codes for the aggregation. I will take the suggestions for 2 time series and multiple lags into consideration and implementation.

I got an issue here. It's about the aggregation type and the result position.

If the correlation is a sub aggregation of a date_histogram, then the correlation will extend [AbstractPipelineAggregationBuilder](https://github.com/elast

[2018-01-21 18:03] gavenkoa commented on #10005
I opened bug in Logback as its core interface also preserves data in millisecond resolution so precision is lost even earlier,  before ES: https://jira.qos.ch/browse/LOGBACK-1374

It seems that historical `java.util.Date` type is the cause of problems is Java world.

[2018-01-22 01:51] TruthyBoolish opened #28322 "Partial snapshots when deleted s3 files reappear in bucket"
**Elasticsearch version**: 5.6.5 and 6.1.2

**Plugins installed**: [discovery-ec2, repository-s3]

**JVM version** : 1.8

**OS version** : Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:
The s3 repository plugin occasionally produces partial snapshots due to throwing an exception while deleting a file from AWS s3 storage. This is a result of s3 only providin

[2018-01-22 02:25] antonpious commented on #28206
@ywelsch , This feature can only say at put time where the document should go, what is needed is the ability to move the document to a different shard after putting, in this case, we need to delete the document and then try to reindex it again by giving a different routing field value.

What is needed is a fundamental decoupling between documents and the shard allocation.
Shard placement is an int

[2018-01-22 05:34] antonpious opened #28323 "Hot and Warm architecture to be extended for Disk Allocation within Nodes"
In Elastic search one can store data, the data can be divided into multiple types, to name a few important data, data that is regular etc.
The current hot /warm feature splits the nodes which handle the hot and warm indices, which cause nodes to be reserved for hot and warm indices.  What this causes is having to have reservation on nodes for hot and warm leading to wastage of computing resource w

[2018-01-22 06:37] jeacott1 opened #28324 "is it possible to provide a raw json dsl query to HighLevelRestClient ?"
is it possible to provide a raw json dsl query to HighLevelRestClient ?
to be clear, by query here I mean the whole shebang, size, query, aggregations, etc.

I've tried
[code]

but it only ever ends in failure.
I can get it to work via the low level api, but not the high level api.

the low level api is a pita to work with. building query path strings etc and the responses all have to be hand pars

[2018-01-22 06:50] olcbean opened #28325 "[CI] Failure in `geo-bounding-box-query` docs"
Running locally `./gradlew check -Dtests.jvms=16` on ef76d99d863b5c5c136019087cc7f1fcc86e0fa7 the following error occurred  :
[code]

[code]
Reproduce with :
[code]
Note : I am not able to reproduce locally.

[2018-01-22 07:22] zyb1994 commented on #27389
Hi  bro , I also met this problem ,Did you finally solve it?

[2018-01-22 07:33] dadoonet commented on #28324
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-01-22 07:33] #28324 closed

[2018-01-22 07:58] dadoonet opened #28326 "High Level Rest client should use POST when we have body"
When elasticsearch is behind a Proxy and this Proxy does not support GET with body (which might be seen as a bug of the Proxy), people can't use our Java Rest Client as explained in https://discuss.elastic.co/t/es-cluster-via-proxy-ip-but-listener-timeout-after-waiting-for-30000-ms/116192/6

For example, the search Request here uses a GET method: https://github.com/elastic/elasticsearch/blob/b9851

[2018-01-22 08:05] martijnvg commented on #28315
Hey @suresk, I'm looking at the last 3 snippets here and in step 5 you're trying to store a percolator query with a `percolate` query. I'm not sure what you expect in step 6, but I don't expect that to match with the percolator query you stored in step 5. What would you expect in this case? A `percolate` query is used to matched stored percolator queries and not meant to be used inside a percolato

[2018-01-22 08:39] #26008 closed

[2018-01-22 08:51] suresk commented on #28315
Hi @martijnvg - Sorry! It was just a copy/paste error. I had the right description for that step, but grabbed the wrong JSON block. I've updated my issue - does it make more sense now?

[2018-01-22 09:32] colings86 commented on #27983
@panffeng note that a sibling pipeline aggregator does not need to extend [BucketMetricsPipelineAggregationBuilder](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/search/aggregations/pipeline/bucketmetrics/BucketMetricsPipelineAggregationBuilder.java) for the builder it can just extend [AbstractPipelineAggregationBuilder](https://github.com/elastic/elas

[2018-01-22 09:32] javanna commented on #28326
Makes sense. What I had in mind was to have an option that lets you choose between GET and POST, like other language clients do. Or switching to POST like you proposed.

[2018-01-22 10:59] clintongormley commented on #28303
Also see https://github.com/elastic/elasticsearch/issues/23022

[2018-01-22 11:35] DaveCTurner commented on #28326
The use of bodies in HTTP GET requests is a little unusual. Although the spec is not crystal clear on the subject, it is possible to read it in a way that means the body of a GET request can and should be ignored: https://stackoverflow.com/a/983458

[2018-01-22 11:42] #27807 closed

[2018-01-22 14:05] jeacott commented on #28324
consider this a feature request if the high level client really doesn't support this.
discuss on elastic.co sux, and so do most of the answers on it. far better off here or stackoverflow.

[2018-01-22 14:18] javanna commented on #28326
@DaveCTurner  I don't think this is the right place to discuss what our API should support. Our API supports both, we always had a preference for `GET` with body but we decided (years ago) to support `POST` too for clients and proxies that don't support `GET` with body. In our clients, we should follow what the API exposes, hence we should allow to choose between `POST and `GET` if the API allows

[2018-01-22 14:40] jpountz commented on #24088
@liketic This would work, but I would favor returning a `DocIdSetIterator` rather than a `DocValueBits` instance (meaning the dv instances can be returned directly). We will need to modify call sites to replace `boolean docHasValue = docsWithValue.get(docID)` with something like

[code]

Both options would work today, but if one day we need to iterate over all documents that have a value, the `Doc

[2018-01-22 14:59] DaveCTurner commented on #28326
Sorry, I didn't mean to open that debate. Supporting both on the API side seems fine. Just wanted to say that a proxy that doesn't pass the body through on a `GET` request shouldn't necessarily be considered buggy - it is more of a bug in the spec itself that this difference of opinion can exist. Using `POST` seems safer in situations that might involve a proxy: not only will it fix the OP's probl

[2018-01-22 15:25] jasontedor commented on #28326
Completely switching to `POST` for requests with bodies seems like the right approach to me. Since we support both `POST` in all such cases there's no need for the additional complexity of a toggle?

[2018-01-22 15:30] erdarun commented on #6638
Is anyone working on this feature?

[2018-01-22 15:31] fred84 commented on #27243
I want to take this issue. @jimczi could you please look at following example to verify that I'm correctly understand expected behaviour.

Example

Given we have following documents:

[code]

Query:

[code]

Expected result:

[code]

[2018-01-22 15:49] ao commented on #28200
@TwP I have submitted a PR for this: https://github.com/elastic/elasticsearch/pull/28328

[2018-01-22 16:20] Mpdreamz commented on #28326
All low level clients either allow you to either pass any HTTP method or expose all the API + allowed http method combinations.

Defaulting to `POST` for high level clients and **not** making this configurable makes sense though, it's also the approach the high level `c#` client `NEST` takes.

In some cases `NEST` is smart enough to revert back to a `GET` automatically e.g if only the query on the

[2018-01-22 16:57] jimczi commented on #27243
the rescoring should be applied to collapsed hits at the top level, not the `inner_hits`. Rescoring `inner_hits` should not be necessary, or at least considered as a different issue. The feature here would be to apply rescoring after collapsing but still on the top level documents. Looking at your example it would first collapse the top documents and then resort them using the rescore function.
Th

[2018-01-22 18:55] #28316 closed

[2018-01-22 19:13] martijnvg commented on #28315
@suresk I see what you mean, but the percolator query in step 5 hasn't been updated yet. Just to be sure that percolator should look like:

[code]

If that is the case then I can reproduce what you mean.

[2018-01-22 19:18] suresk commented on #28315
Yes, that is what I mean.. I'm not sure why it didn't update before, but it looks like it is updated now.

[2018-01-23 00:30] adamhadani commented on #24903
Reproduced as well.

I think expected behavior should be that all things being equal, a result item's score should be the longest "exact" matching prefix, *regardless* of fuzziness parameter setting.

One side effect of this is that if I query for `promo` and I have two documents in my index, `prom` and `promo`, the latter should be scored higher and come back as first result (which is more intuit

[2018-01-23 03:26] panffeng commented on #27983
Hi @colings86 , thanks. I will look into the class AbstractPipelineAggregationBuilder.

[2018-01-23 07:31] fred84 commented on #27243
@jimczi, below is updated example. Is it correct now?

Query:

[code]

Expected result:

[code]

[2018-01-23 07:33] tony0918 commented on #20952
Is that possible to apply a regex pattern to a field value to get substring extracted?

[2018-01-23 07:34] fightingaman opened #28331 "why es server connect to client，than throw connect timeout"
Elasticsearch: 5.2
JVM:1.8
OS:Linux

problem： I use es-rest client api，than the es-server throw connect timeout. It could be this.
I can't imagine why  es-server connect to client?
L :nodeMaster IPAddress , R: client IPAddress
![image](https://user-images.githubusercontent.com/19791332/35263129-972556ec-0052-11e8-90b9-39f8a0c1017f.png)

[2018-01-23 07:38] dadoonet commented on #28331
Please ask this question on discuss.elastic.co where we can give a better support. And please don't use images for code when posting there.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-01-23 07:38] #28331 closed

[2018-01-23 07:43] kunisen commented on #19858
any updates here?

[2018-01-23 08:08] martijnvg commented on #27763
Reopening this issue, because a qa test failed in another project, in this case the aliases were being expanded (via AliasesRequest#aliases(...)) before arriving in the transport action.

[2018-01-23 10:05] Jiangew commented on #22136
Using size parameter for Query and Terms Aggregations on 5.6.x
[code]
But every buckets do not match the size = 5, Why ？

[2018-01-23 10:36] martijnvg commented on #28315
I investigated this bug and this caused by the fact that minimum should matches are extracted incorrectly from nested queries. I will work on a fix. @suresk thanks for reporting!

[2018-01-23 11:02] liketic commented on #24088
@jpountz Thank you so much for you patient. I opened #28334 even though I don't have much confidence, especially for the ```nextDoc()``` method. Feel free to close it if it does not make sense. Looking forward to your reply. Thanks!

[2018-01-23 12:54] danrod1971 opened #28337 "upgrading 1.7.5 to 5X"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 2.4.6, Build: 5376dca/2017-07-18T12:17:44Z, JVM: 1.8.0_151

**Plugins installed**: [none]

**JVM version** (`java -version`):
Version: 2.4.6, Build: 5376dca/2017-07-18T12:17:44Z, JVM: 1.8.0_151

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus

[2018-01-23 13:12] colings86 commented on #28262
@SimonJonasGubler Sorry for the late response on this. I think I have a solution for your use case given your comment above. I think the following example script will work:
[code]

Note that the input documents are slightly different to the previous example. The key difference in the search request is adding a `filter` aggregation around the terms aggregation. This will only allow inner documents

[2018-01-23 13:30] bhavyarm opened #28340 "ES shut down with JVM crash from unified highlighter"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.0 BC1

**Plugins installed**: None

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system): Darwin Kernel Version 15.6.0: Sun Jun  4 21:43:07 PDT 2017; root:xnu-3248.70.3~1/RELEASE_X86_64 x86_64

**Description of the problem including expected versus actual behavior**: ES shut down all of a sudden with

[2018-01-23 13:35] dadoonet commented on #28337
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

[code]

You need to look at all breaking changes. In clear here, you will probably need to change your model and your mapping.
Which is actually a good news as from 6.0 you can't have multiple types per inde

[2018-01-23 13:35] #28337 closed

[2018-01-23 13:39] jasontedor commented on #28340
Does this reliably reproduce? Otherwise I think we will chalk this up to a JVM bug, this is an older version of JDK 8 after all.

[2018-01-23 13:44] bhavyarm commented on #28340
Logs again after the second crash(Will update my JVM and see whats up in an hour):
[code]
[hs_err_pid7086.log](https://github.com/elastic/elasticsearch/files/1656120/hs_err_pid7086.log)

[2018-01-23 14:14] #27923 closed

[2018-01-23 15:03] polyfractal commented on #27983
I think we should follow how other pipeline aggs and use the `gap_policy` parameter to control the behavior.  Defaulting to `skip` seems appropriate, and would behave as you mentioned: drop the pair if either values are missing/null.

The `insert_zero` gap policy probably won't get used much with this aggregation since it doesn't make sense, but it'll be consistent with the other aggs to support i

[2018-01-23 16:41] nik9000 commented on #26758
I'm going to snag this and see if I can reproduce it.

[2018-01-23 17:24] javanna commented on #18718
let's close this. The leak of hppc collections is as bad as leaking lucene etc. we may address these at some later stage but not now. We are currently adding support for all the needed API to the high level REST client, focusing on feature parity with the transport client.

[2018-01-23 17:24] #18718 closed

[2018-01-23 17:41] nik9000 commented on #26758
Of course I can't reproduce it. But I've pushed some code that'll give us more information the next time it fails....

[2018-01-23 17:48] nik9000 commented on #27820
This looks like the node hanging for an unreasonable amount of time. The failure isn't particularly reindex based either. And we haven't seen another thing like this since. I'm going to close this and we'll reopen if we see something similar.

[2018-01-23 17:48] #27820 closed

[2018-01-23 17:56] rpedela commented on #27243
@jimczi Are ```inner_hits``` rescored for the nested and parent/child queries?

[2018-01-23 17:59] jpountz opened #28343 "Can the multi-GET API be expected to return results in the same order as the request?"
This question was initially raised on discuss: can clients rely on the order of elements in the response, or do they need to make sure to read the `_index` and `_id` properties to match response items with request items?

https://discuss.elastic.co/t/multi-get-api-reference-and-results-order/116689

[2018-01-23 18:32] nik9000 commented on #28053
Ok. I can't reproduce this one but I have a theory and I'll push a clean up that might prevent this in the future. Might.

[2018-01-23 18:57] nik9000 commented on #28053
I pushed eded5bc4f3776c9841a4995972f29c6c07d81c46 to try and prevent this from happening again but it might not work. I wasn't able to reproduce locally so it is kind of a shot in the dark.

[2018-01-23 18:57] jpountz opened #28344 "Reject too long regexp strings"
Running a query like below results in a stack overflow error.

[code]

This is different from previous stack overflows that were due to the conversion to an automaton (https://issues.apache.org/jira/browse/LUCENE-7914). This one causes a stack overflow at parsing time, because the regexp string is absurdly long:

[code]

We should add protection against this, eg. maybe a hard limit of 100 chars?

[2018-01-23 19:40] elasticmachine opened #29858 "[Monitoring] HTTP Exporter should require the password when username is set"
*Original comment by @pickypg:*

Currently we allow the username to be set without the password in the HTTP Exporter. However, this results in a Basic Auth request like `elastic:null` (assuming `elastic` was the username), which is definitely not what the other side is going to expect for a blank password.

This was allowed in the first place because the Apache client accepts `null`, but since it

[2018-01-23 20:30] nik9000 commented on #28325
I took a look but couldn't reproduce. It looks like the test fails because, when it tries to go and execute the [setup block](https://github.com/elastic/elasticsearch/blame/master/docs/reference/query-dsl/geo-bounding-box-query.asciidoc#L8-L35) it finds that the index already exists and is read only. It isn't clear why it still exists because indices are cleared between tests.

[2018-01-23 21:17] nik9000 commented on #28325
I took a look but couldn't reproduce. It looks like the test fails because, when it tries to go and execute the [setup block](https://github.com/elastic/elasticsearch/blame/master/docs/reference/query-dsl/geo-bounding-box-query.asciidoc#L8-L35) it finds that the index already exists and is read only. It isn't clear why it still exists because indices are cleared between tests. But computers are we

[2018-01-23 22:22] zachdyer commented on #27424
I'm getting some broken cat urls when i use

`http://thecatapi.com/api/images/get?format=xml&results_per_page=20`

[2018-01-24 00:57] talevy opened #28347 "Shrink API should inherit (most of) original index's settings"
Currently, The shrunken target index inherits close to none of the original index's properties.

Since https://github.com/elastic/elasticsearch/issues/25035 and https://github.com/elastic/elasticsearch/pull/25380, other things are ignored.

At the moment, shrink relies on index templates, and just copies over mappings, and index.analysis.* and index.similarities.* from the original index.

It feel

[2018-01-24 03:47] Longcnttbkhn opened #28349 "Can't running elasticsearch after update ubuntu and java"
**Describe the feature**: I can't running elasticsearch after update ubuntu and java

**Elasticsearch version** (`bin/elasticsearch --version`): 2.4.1

**Plugins installed**: []

**JVM version** (`java -version`): OpenJDK 1.8.0_151

**OS version** (`uname -a` if on a Unix-like system): Linux 4.13.0-31-generic #34~16.04.1-Ubuntu  x86_64 GNU/Linux

**Description of the problem including expected ver

[2018-01-24 04:23] yawboateng opened #28351 "IllegalStateException on data nodes when upgrading 5.6.5 to 6.1.1"
So i was running 5.4, upgraded that to 5.6.5 (the official docker image on top of kubernetes), and used the migration assistant from the kibana ui to migrate the indexes but after upgrading the cluster to 6.1.1, the container is in a crash loop with the following logs:

[code]

Note: i have the basic license and do not use watcher. is there a way to recover from this state without losing any data?

[2018-01-24 07:45] sarvendras opened #28352 "ML X pack Job on Scripted field"
Hi Team,
Need your advice relating to creating machine learning job.
I am trying to create single metric job for detecting anomalies in mean of some scripted field(which is created with help of injected fields using lucence scripting) but we are getting below error while creating job.

Could not start datafeed for sadads [status_exception] datafeed [datafeed-sadads] cannot retrieve field [Scripted

[2018-01-24 07:52] dadoonet commented on #28352
I saw you opened that question there https://discuss.elastic.co/t/ml-job-on-scripted-field/116820/1

Which is the right place for this. I'm closing this "issue".

[2018-01-24 07:52] #28352 closed

[2018-01-24 08:26] ywelsch commented on #28351
You can delete the directory named `FbLIamfiTieF8hzOKJWbpQ` in your data directory (under `nodes/0/indices`, which is the watcher index that conflicts with the alias.

[2018-01-24 08:26] jpountz commented on #28349
Please describe the problem you are having, otherwise it's very hard to help.

[2018-01-24 08:38] ywelsch commented on #28343
I would say yes, as the REST tests currently rely on this property as well:

https://github.com/elastic/elasticsearch/blob/b10d16619098f99bdd56591004da68c5352b5acb/rest-api-spec/src/main/resources/rest-api-spec/test/mget/10_basic.yml#L16-L45

[2018-01-24 08:49] jimczi commented on #27243
No

@fred84 , yes your example is correct, though the best document per group in your case will depend on the order of the documents in the index since all documents have the same score for the query (the range query uses a constant score).

[2018-01-24 08:58] jimczi commented on #28344
I am +1 to add a limit but the stack overflow here is not due to the number of chars but rather to the number of regex operations (|, &, ...) present in the string. The parsing is recursive and consumes one stack frame per operation so it is valid to have a big string as long as it doesn't contain too many operators.

[2018-01-24 09:09] jpountz commented on #28344
I am fine with both options, but if we decide to add a limit on operators, I think this needs to be folded into the Regexp class, otherwise we will have to reverse engineer the parsing logic to count operators?

[2018-01-24 09:10] jpountz commented on #28343
Mostly because I couldn't see it explicitly stated in the docs. And since the response contains the `_index`, `_type` and `_id`, having the order maintained is not strictly required. There seems to be consensus so I'm making this an adoptme.

[2018-01-24 09:24] jimczi commented on #28344
We shouldn't allow big strings in regexps no matter how many operators they have. My comment was more about the fact that it should not fail in the current version if the number of operators is low but I am totally fine with an hard limit on the number of chars.

[2018-01-24 09:39] s1monw commented on #28347
++ sounds good to me

[2018-01-24 09:54] exorbit commented on #28349
I have the same problem since OS update this morning. Befor the update all was fine.

**Elasticsearch version** (bin/elasticsearch --version): 2.4.6

**JVM version** (java -version): 1.8.0_131

**OS version** (uname -a if on a Unix-like system): Linux dellXPS 4.13.0-31-generic #34-Ubuntu 17.10

**Description of the problem including expected versus actual behavior**:
./elasticsearch did nothing. N

[2018-01-24 09:59] simonwillnauer commented on #28349
can you folks give us some logging information otherwise everything is a shot in the dark

[2018-01-24 10:05] exorbit commented on #28349
There is no logging anymore. I start `./elasticsearch` in a terminal and after a second it comes back without any messages. Logfiles are empty also with DEBUG.
I also tried without any java params: `/usr/lib/jvm/java-8-oracle/bin/java -Dfile.encoding=UTF-8 -Des.path.home=/home/xxx/elasticsearch-2.4.6 -cp /home/xxx/programs/elasticsearch-2.4.6/lib/elasticsearch-2.4.6.jar:/home/xxx/elasticsearch-2.4

[2018-01-24 10:23] colings86 commented on #24368
This seed no longer reproduces on 5.6 and the test has changed significantly in 6.0+. Additionally I ran the test on the 5.6 branch with `-Dtests.iters=1000` and could not produce a failure so I'm going to close this issue

[2018-01-24 10:23] #24368 closed

[2018-01-24 10:29] DaveCTurner commented on #27966
This will be fixed by #28151.

[2018-01-24 10:30] reggieb opened #28354 "Unable to access localhost:9200 after linux kernal upgrade"
Bug report
=========

**Elasticsearch version**:
`Version: 2.4.1, Build: c67dc32/2016-09-27T18:57:55Z, JVM: 1.8.0_151`

**Plugins installed**: []

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
Linux Mint 18.3 Sylvia
Kernal 4.13.0-31-generic

**Description of the problem including expected versus actual behavior**:
I start elasticsearch with `sudo

[2018-01-24 10:34] reggieb commented on #28349
Sorry - when I started writing my bug report there was only the first entry and I wasn't sure this was the same bug. But looking at the two more recent entries, I think it is. I do have a related system log error. See https://github.com/elastic/elasticsearch/issues/28354

[2018-01-24 10:36] reggieb commented on #28354
The kernal log output follows every attempt to restart elasticsearch, and therefore I believe the two are related.

[2018-01-24 10:37] jasontedor commented on #28354
Sorry, but this looks like OS bug to me, not an Elasticsearch bug. I do not think there is anything actionable for us here and I suggest that you rollback your kernel.

[2018-01-24 10:38] #28351 closed

[2018-01-24 10:39] #28354 closed

[2018-01-24 10:41] jasontedor commented on #28349
I think you should check your kernel log messages (e.g., `dmesg`).

[2018-01-24 10:42] exorbit commented on #28349
Yep, this is the same issue with the same kernel output.
So, meltdown has killed my ES!

[2018-01-24 10:43] jasontedor commented on #28349
Sorry, this is not an Elasticsearch issue then. I suggest rolling back your kernel.

[2018-01-24 10:43] #28349 closed

[2018-01-24 10:45] exorbit commented on #28349
I also suspect the microcode update from intel is involved.

[2018-01-24 10:59] bexx4444 commented on #13654
Hi,

I'm particularly interested in the 7th feature you suggest but I can't find any information on whether this capability was added in the end. Is this now possible in MLT queries?

[2018-01-24 11:04] reggieb commented on #28354
As a follow up - rolling back to my previous kernal fixed the bug.

[2018-01-24 11:12] Longcnttbkhn commented on #28349
Thank for your support! But I used docker elasticsearch instead, hoping to fix the kenel soon.

[2018-01-24 11:14] jasontedor commented on #28349
The kernel is that of your underlying host, it does not have anything to do with the image.

[2018-01-24 12:51] dadoonet commented on #28349
For the record, another report of this here: https://discuss.elastic.co/t/kernel-update-on-ubuntu-17-10-causes-elasticsearch-to-panic/116865

[2018-01-24 12:55] exorbit commented on #28349
Running Linux with last kernel 4.13.0-25-generic and ES works fine again!

[2018-01-24 12:57] centic9 commented on #28349
Same for us, 4.13.0-25-generic works, upgrading to 4.13.0-31-generic fails.

[2018-01-24 13:01] chaudum commented on #28349
The crash is caused by a non-existant syscall, which has been removed in ES 5.6.4
This is the commit that fixes the bug: https://github.com/crate/elasticsearch/commit/b1d5e85dc4b4e52c6c1bbc62996eaca83ed2e96d

[2018-01-24 13:50] jpountz commented on #26674
I am leaning towards making it a "won't fix" since it is easy to work around and no longer an issue in 6.0 due to the fact indices can have at most one type.

[2018-01-24 13:54] jpountz commented on #22404
Implemented in #27145

[2018-01-24 13:54] #22404 closed

[2018-01-24 15:56] tdoman opened #28362 "persistent setting [discovery.zen.ping.unicast.hosts], not dynamically updateable"
ES: 6.1.1

In trying to move to cluster settings over having things in `elasticsearch.yml`, I'm trying set up my [ZEN discovery settings](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-discovery-zen.html) as documented as follows:
[code]

In response I get:
[code]
Is this setting still required to be in the `elasticsearch.yml` file?

[2018-01-24 16:07] c0da commented on #27533
Thank you again, @albertzaharovits ! Your workaround worked like a charm!

[2018-01-24 16:07] #27533 closed

[2018-01-24 16:14] ywelsch commented on #28362
yes, because of the chicken-and-egg problem. That setting is used to make sure that nodes can form a cluster. If it were to become a cluster setting, you would need the cluster to be up to set or change it.

[2018-01-24 16:14] #28362 closed

[2018-01-24 16:16] tdoman commented on #28362
@ywelsch Ok, thanks for the quick response, much appreciated.  Accordingly, I will also try not to count my chickens before they hatch.  ;)

[2018-01-24 16:24] exorbit commented on #28349
Any chance to have this fix in ES 2?

[2018-01-24 16:37] s1monw commented on #28349
we won't release another version of 2.x

[2018-01-24 16:46] elwerene commented on #27053
@martijnvg  Will you include this fix in a 5.x release as well?

[2018-01-24 17:18] mr-mos commented on #23943
@javanna Any news on this?

[2018-01-24 17:23] alexmorosmarco opened #28363 "Documentation of section "Limiting the number of nested fields" is not understandable and it is an important topic"
**Elasticsearch version** (`bin/elasticsearch --version`): 2.4 and all the following ones

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:
Hi, I write because i think there is an important part of the documentation that I see really weak because I think th

[2018-01-24 18:45] jasontedor commented on #28349
I am sorry, but that is not the issue. It *might* be a workaround for the issue (I have not verified), but it is not the bug. The bug is the kernel here. The error message is that the kernel tried to execute a page marked with NX, the kernel should never ever do that. Invoking a non-existant system call should not result in the kernel trying to execute a page marked NX, ever. Instead, invoking a n

[2018-01-24 21:53] kujon commented on #27037
https://github.com/elastic/elasticsearch/pull/28367 proposed solution here.

[2018-01-24 23:26] shirgall commented on #28354
We're looking into this. New kernels were rolled out for Meltdown and Spectre and they might have had an impact here.

[2018-01-24 23:28] shirgall commented on #28349
We're looking into this, the linux-azure kernel also has a similar issue. The Meltdown and Spectre changes may have introduced a regression.

[2018-01-24 23:53] jasontedor commented on #28349
Thanks @shirgall.

[2018-01-25 03:43] jasontedor commented on #27037
It was a deliberate choice when we introduced these stats that they match exactly what cones out of /proc/diskstats. The proposal here is a deviation from this that I am not keen to make. Also, it’s a breaking change. Note that the monitoring collector can make this change if we so desire but I prefer to leave this as-is.

[2018-01-25 05:31] rupanjanbaidya commented on #24069
I have set setConnectionRequestTimeout to 0, but still facing same issue. Elasticsearch version 6.0

[code]

[2018-01-25 06:59] robin13 commented on #27037
@jasontedor I understand the motivation to maintain consistency with the source, and the concern that any manipulation of the source values may introduce inaccuracies, but in this case I think the benefit of standardisation (and hence usefulness) of these values to other values in the stats output outweighs the concern of error by manipulation (converting kilobytes -> bytes is quite straight forwa

[2018-01-25 08:36] fpompermaier commented on #25741
Hi to all,
I have the same problem in an Apache Flink job where clients are created almost simultaneously on the same machine (if the number of slots per TaskManager is > 1).
Thus, that variable should not be static (IMHO)

[2018-01-25 09:20] stevedodson commented on #12366
Based on experience with *real-world* data sets I agree with the comments that it is often a constant challenge to maintain consistent schemas given application and configuration changes.

Elasticsearch clearly can be configured to be strict, but it's ability to ingest *unclean* data seems useful and popular.

As mentioned above this could be done on the client side. But if options such as dynamic

[2018-01-25 10:08] jpountz commented on #26499
This is the expected behaviour. You overrided the value of `dynamic_date_formats` so the old values are ignored. You would need to add `strict_date_optional_time` to the list of date formats.

[2018-01-25 10:39] elasticmachine opened #29860 "IndexUpgradeWatcherIT needs to be moved to a qa module"
*Original comment by @martijnvg:*

A follow up from LINK REDACTED.

After backporting LINK REDACTED to the 6.x branch, the `IndexUpgradeWatcherIT` in the upgrade plugin module failed, because it depends on watcher being installed in integration test cluster, that is not the code, only the upgrade plugin is. I think the right fix is for this test to become an qa test. However I couldn't find an exi

[2018-01-25 10:40] JD557 commented on #24123
This was an issue that was affecting us on 5.6.4 and the upgrade to 6.1.0 seems to have helped a ton (snapshots are about 30% faster).

Here's a redacted output from `_cat/snapshots`:

[code]

[2018-01-25 10:56] tlrx commented on #24123
@JD557 Thanks for the feedback!

[2018-01-25 12:46] jasontedor opened #28376 "Fix task ordering for checkstyle Java 9"
The checkstyle configuration here is broken:
 - we are not configuring checkstyle for Java 9
 - the source set for Java 9 is not configured until after we have configured the checkstyle task

This can lead to bad ordering:
[code]

so the `:server:checkstyleJava9` can fail with

[code]

[2018-01-25 13:34] #28326 closed

[2018-01-25 13:51] GurjinderSingh opened #28377 "failed to start after updating java"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 2.4.6, Build: 5376dca/2017-07-18T12:17:44Z, JVM: 1.8.0_161

**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux dhol

[2018-01-25 13:53] jasontedor commented on #28377
Duplicates #28349, duplicate #28354; you have a buggy kernel and you should rollback.

[2018-01-25 13:53] #28377 closed

[2018-01-25 14:40] snowzach opened #28378 "Allow use of search_after within terms aggregation"
I am using the terms aggregation to get unique values (nested terms aggregations actually) but with a very large number of unique terms it becomes problematic.

It would be great if one of the following would work:

1. The search_after on the outer query applied to the inner aggregation. Seeing as you can retrieve the outer results, I could see how this might not be desirable.
2. The terms aggrega

[2018-01-25 14:46] GurjinderSingh commented on #28377
thanks now working fine downgraded  to version 4.13.0-26-generic

Linux dhol 4.13.0-26-generic #29~16.04.2-Ubuntu SMP Tue Jan 9 22:00:44 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

thanks you

[2018-01-25 15:31] jasontedor commented on #28377
You're welcome.

[2018-01-25 15:48] jimczi commented on #28378
We have a new aggregation called `composite` that allows to paginate a terms aggregation easily. See https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-composite-aggregation.html

[2018-01-25 15:48] #28378 closed

[2018-01-25 16:36] skif48 commented on #28349
@chaudum indeed, I gotta say that upgrading to 5.6.4 fixed the problem.

[2018-01-25 17:58] jasontedor commented on #28349
No it didn’t. You have a buggy kernel, how can you trust it to do anything correctly?

[2018-01-25 19:18] deppi commented on #28349
If anyone is working with **GCP instances**, using Ubuntu 16.04 LTS, I downgraded the kernel from:
[code]
To:
[code]

To fix the issue with the GCP instances, I ran:
[code]
Then in google cloud console, restart the instance, then SSH back in then:
`sudo apt install 4.13.0-1006-gcp`

[2018-01-25 19:44] Sanne commented on #24069
@rupanjanbaidya I suppose you might have a "real" TimeoutException.

The problem I reported is about a situation which occasionally leads the client to throw a `TimeoutException` when it actually shouldn't, but it is still possible you are in the more normal situation in which such an exception is thrown for legitimate reasons.

[2018-01-25 20:08] wfhartford opened #28380 "High Level REST client fails to parse query results with certain script fields"
**Elasticsearch version** (`bin/elasticsearch --version`):
Elasticsearch Version: `Version: 6.1.2, Build: 5b1fea5/2018-01-10T02:35:59.208Z, JVM: 1.8.0_151`
REST High Level Java Client Verstion: 6.1.2

**Plugins installed**: X-Pack

**JVM version** (`java -version`):
Client Version:
[code]
Server Version:
[code]

**OS version** (`uname -a` if on a Unix-like system):
Client Version:
[code]
Server Ve

[2018-01-25 20:13] snowzach commented on #28378
@jimczi Thanks a lot. This is exactly what I needed. I saw this page but didn't quite get it before.

[2018-01-26 04:28] tamimcsedu19 opened #28384 "ElasticSearch 2.4.6 does not start at all without any error message Ubuntu 16.04"
**Elasticsearch version** (`bin/elasticsearch --version`): 2.4.6
* Java Version: java version "1.8.0_121"
* OS: Ubuntu 16.04
Trying to start elasticsearch 2.4.6 with `./elasticsearch` in the bin direcytory. It just closes and nothing happens. See the below screenshot

![screenshot from 2018-01-25 19-05-33](https://user-images.githubusercontent.com/5927446/35425209-1ed84e80-0294-11e8-8faf-732edc59c

[2018-01-26 04:38] dnhatn commented on #28167
@bleskes I am looking at this.

[2018-01-26 04:41] huangenyan opened #28385 "Different search result between adding AND between words and using default_operator"
**Elasticsearch version** :
[code]

**Plugins installed**: None

**JVM version**:
[code]

**OS version**: Both on my own laptop (macOS) and the server (Ubuntu)

**Description of the problem including expected versus actual behavior**:
Suppose I have the following 2 docs:
[code]
and
[code]
When I search using `/twitter/_search?&q=doe AND green AND tech`, both documents are returned. However, when I

[2018-01-26 08:45] tlrx commented on #11533
This test has been refactored in #27945, closing.

[2018-01-26 08:45] #11533 closed

[2018-01-26 10:09] colings86 commented on #21315
This seems to have been fixed by https://github.com/elastic/elasticsearch/pull/27880

[2018-01-26 10:09] #21315 closed

[2018-01-26 10:12] elasticmachine opened #29862 "SQL: correctness of SYS TABLES/COLUMNS results"
*Original comment by @costin:*

The two major _meta_ calls in JDBC and ODBC for discovery are get tables and get columns.
The latter in particular tends to be important as it describes a column type and properties through 18 fields in LINK REDACTED) and 24 in LINK REDACTED.

While JDBC ignores most of them, ODBC does not. This issue is about checking that the values returns properly describe the t

[2018-01-26 10:33] jasontedor commented on #28384
From your 5.6.6 output I can see the you're on kernel 4.13.0-31. This kernel has a bad bug, see #28349. You can check this by looking at your kernel logs (e.g., `dmesg`) after you try to start 2.4.6.

Duplicates #28349

[2018-01-26 10:33] #28384 closed

[2018-01-26 11:22] #28012 closed

[2018-01-26 11:44] cbuescher opened #28388 "[CI] RequestTests#testSearch fails with NPE"
Link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-unix-compatibility/os=centos/612/console

Failure:
[code]

Reproduce locally:
[code]

[2018-01-26 12:45] ywelsch commented on #28169
I think we can close this. The StackOverflowError should be addressed by #28195

[2018-01-26 12:45] #28169 closed

[2018-01-26 12:45] olcbean opened #28389 "Java high-level REST client docs"
Few of the API supported by the high-level REST client, do not have docs  :

- [x] ping (#29070)
- [x] exists (#29073)
- [x] multi get (#29095)
- [ ] multi search (#29144)
[code]

[2018-01-26 12:48] olcbean commented on #27147
Closed by #27302

[2018-01-26 12:48] #27147 closed

[2018-01-26 13:22] cbuescher commented on #26480
@tlrx I just saw a similar looking failure on 6.1 today. Can you take a look if this looks related and either open this issue again or create a new one if you think it is something else?
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.1+periodic/550/console

[2018-01-26 13:24] cbuescher commented on #28150
Another one: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+zing/83/console

[2018-01-26 13:26] ywelsch commented on #26480
The PR (#28130) was not backported to 6.1 (that was a conscious decision), so we can ignore that test failure.

[2018-01-26 13:38] s1monw commented on #28150
I was able to reproduce it and I think I know what the issue is. I will look into it and assign it to me.

[2018-01-26 13:45] leonardocaldas commented on #28315
Hey guys, I'm facing a similar problem with nested queries and percolator.

Just to be clear, this problem happens with any nested query, right? Because I have a simple percolate nested query that when executed against the index, it finds the document, but when used with the percolate query, no query is found for the document.

I'll leave my scenario here, so you guys can confirm it.

Elasticsearc

[2018-01-26 13:53] s1monw commented on #28150
close by 7957c9751cb98dc3c72797f26f952eb07f9329eb

[2018-01-26 13:53] #28150 closed

[2018-01-26 14:07] #28343 closed

[2018-01-26 14:22] jpountz opened #28390 "Query DSL should disallow setting boosts on inner span queries"
This is a follow-up of https://discuss.elastic.co/t/troubles-with-complex-span-query-term-boosting/116106.  It is a bit confusing that we are allowing boosts on inner span queries in spite of the fact that they will be ignored.

One idea to fix it is to make `SpanBoostQuery` a forbidden API (I'll bring up removing it from Lucene) and replacing usage of `SpanBoostQuery` with `BoostQuery`.

[2018-01-26 14:26] s1monw commented on #28390
++ to make the fix here first

[2018-01-26 15:06] jpountz commented on #27670
Fixed via https://github.com/elastic/elasticsearch/commit/0b102f63721472d7de89c21c78c9210aed90e7de.

[2018-01-26 15:06] #27670 closed

[2018-01-26 15:38] cbuescher opened #28393 "[Tests] Add test for SearchRequest empty ctor"
Follow up to #28391, maybe we can also get rid of the empty ctor.

[2018-01-26 15:42] nik9000 commented on #25453
I'll take a look at this now.

[2018-01-26 15:49] nik9000 commented on #24418
Sorry for getting back to you so late, no, I never managed to get more information on the failures. I'll dig around my email later today looking for any test failures like this.

[2018-01-26 15:50] colings86 opened #28394 "Scorer can be unexpectedly null in BestBucketsDeferringCollector when there is a sub agg which uses the score"
This was first raised on the forum: https://discuss.elastic.co/t/failed-shards-with-top-hits/116407/5

The details for reproducing this are still not fully known but I will update the issue with more information as I investigate it.

The query that caused the bug is a deeply nested aggregation with a top_hits leaf aggregation:
[code]

On 4 of the 5 shards involved in the request a NullPointerExcep

[2018-01-26 16:09] dakrone commented on #25335
While I wasn't able to reproduce this even running it hundreds of times, I did push a commit to add better assert messages to figure out which path is not being deleted correctly in hopes that it will provide more information if this fails again.

[2018-01-26 16:24] jpountz commented on #21658
I just looked at a recent failure (https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=oraclelinux/541/consoleFull) and see the following stack trace:

[code]

It surprises me because it looks like this can only happen if the map, the key mapper or the value mapper is null, and non of these options looks possible to me? Or do I miss something?

[2018-01-26 16:27] nrobert13 opened #28397 "no http response after 5 requests"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 2.3.5, Build: 90f439f/2016-07-27T10:36:52Z, JVM: 1.8.0_60

**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_60"
Java(TM) SE Runtime Environment (build 1.8.0_60-b27)
Java HotSpot(TM) 64-Bit Server VM (build 25.60-b23, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux test02 3.

[2018-01-26 16:32] nik9000 commented on #25453
I've pushed a patch that ought not to hide the real failure the next time it happens.

[2018-01-26 16:32] jpountz commented on #24345
Closing since it affects 2.x. Also I suspect this is a consequence of the fix of https://issues.apache.org/jira/browse/LUCENE-6914.

[2018-01-26 16:32] #24345 closed

[2018-01-26 16:36] nik9000 commented on #24418
I can confirm that this hasn't failed since I added the logging. I'm going to drop the logging and close. If it fails again we'll reopen it with a new data point.

[2018-01-26 16:38] nik9000 commented on #24418
Someone else seems to have already removed the test logging. Since we haven't had any failures recently I'm going to call this "fixed by someone who wasn't me while they were doing other work." Good for them!

[2018-01-26 16:43] nik9000 opened #28399 "Rest client's synchronous APIs throw less than useful exceptions"
The Java rest client's synchronous calls throw exceptions in "funny" ways that seem to come with all the disadvantages of async code. When they throw an exception they only have the stack trace from the innards of the http-async client and they don't get decorated with `suppressed` exceptions if thrown from inside of a `finally` block. This makes debugging failures difficult and I'm going to look

[2018-01-26 16:44] dnhatn commented on #21463
Another instance on 6.x https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=opensuse/598/consoleText

Log: [testUnassignedShardAndEmptyNodesInRoutingTable.txt](https://github.com/elastic/elasticsearch/files/1668450/testUnassignedShardAndEmptyNodesInRoutingTable.txt)

[2018-01-26 16:45] nik9000 commented on #27673
This is a duplicate of #28325. Probably. I'm going to spend some more time hunting this down with more data points.

[2018-01-26 16:45] #27673 closed

[2018-01-26 16:47] nik9000 commented on #28325
This sort of failure seems to happen in other tests too. See the issue I closed as a duplicate of this one. I still don't know why though.

[2018-01-26 16:51] cemremengu opened #28400 "Cluster does not report the exact issue"
Using `docker.elastic.co/elasticsearch/elasticsearch:6.1.2`.

I have a cluster consisting of 2 nodes with `discovery.zen.minimum_master_nodes=2`. Node 2 goes down and when try to execute a query on Node 1 via http, I begin to get a login popup followed by an authentication exception.

If I cancel login popup, it says `Security index is not on the current version - the native realm will not be oper

[2018-01-26 16:52] jasontedor commented on #28397
Version 2.3.5 is end of life and we no longer support it. I encourage you to upgrade to a supported version. Note that 2.4.x is still supported, but not maintained, and will be end of life at the end of February. This means we will support it, but if there is a bug here we will not fix it.

[2018-01-26 16:52] #28397 closed

[2018-01-26 16:53] jpountz commented on #25169
This one starts to be a bit old and is not a big deal so I'm closing. Please reopen if you disagree.

[2018-01-26 16:53] #25169 closed

[2018-01-26 17:03] dnhatn commented on #28167
This was fixed by https://github.com/elastic/elasticsearch/pull/28228

[2018-01-26 17:03] #28167 closed

[2018-01-26 17:08] dnhatn commented on #28153
Another instance on master https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=sles/1929/console

Log: [testShrinkIndexPrimaryTerm.txt](https://github.com/elastic/elasticsearch/files/1668514/testShrinkIndexPrimaryTerm.txt)

[2018-01-26 17:11] nik9000 commented on #28325
@olcbean is there any chance your hard drive filled up when this happened? It looks like this can happen if the drive that ES is running on fills up. We cut the cluster over to read only if there isn't very much space left on the device. We try not to do it in tests, setting the threshold for this to one byte, but it looks like this kicks in sometimes in our tests on CI as well.

[2018-01-26 17:22] dakrone commented on #28223
I looked into this, the failure isn't that a circuit breaker is being tripped (that's expected), it's that there are non-closed contexts:

[code]

[2018-01-26 17:51] olcbean commented on #28325
@nik9000 8.6G available. Yesterday I ran into the same issue, this time in
[code]
I haven't started any builds on this machine after the last failure so let me know if you need any logs.

[2018-01-26 19:03] #27607 closed

[2018-01-26 20:42] #28325 closed

[2018-01-26 21:11] adityasrini commented on #26981
I've found the max size and would love to do a PR on this. Can someone be so kind to guide me through this?

[2018-01-26 21:20] nik9000 commented on #26981
The simplest way is to go to the version of the docs for the master branch (https://www.elastic.co/guide/en/elasticsearch/reference/master/docs-update-by-query.html) and then click the "edit" icon in the top right. That should give you a web interface to make your change and open a PR.

If you want to clone the repository you can open `update_by-query.asciidoc` and make your change there. That is

[2018-01-26 21:27] adityasrini commented on #26981
I will look at all docs that need the change implemented and update them accordingly!

[2018-01-26 21:40] ywelsch commented on #25335
This is a known issue and a duplicate of https://github.com/elastic/elasticsearch/issues/21463
I suggested a fix 18 months ago (https://github.com/elastic/elasticsearch/pull/19338), noone liked it, so we are doomed to struggle with these failures forever.

[2018-01-26 22:27] jimczi commented on #28394
The example in the forum is not correctly formatted but the aggregation that fails with an NPE starts with:

[code]

The `breadth_first` mode of the `terms` aggregation doesn't handle the `global` context when scores are needed by a sub aggregation. This is the case here because of the `top_hits` aggregation that by default uses the `_score` as the `sort` criteria. This is resolved in 6x by https:

[2018-01-26 22:31] adityasrini commented on #26981
I did a search on "size" for this repo with Asciidoc results filtered out, and out of the many I felt like it made sense to document max sizes for the following documents: [`update-by-query.asciidoc`](https://github.com/elastic/elasticsearch/blob/0d11b9fe34c007fddc5cbf2c821ef226b7a0fc75/docs/reference/docs/update-by-query.asciidoc), [`reindex.asciidoc`](https://github.com/elastic/elasticsearch/blo

[2018-01-26 22:44] jimczi commented on #28394
I tested on 6x and it fails for another reason. We cannot access the score of children (`nested`) documents in the `breadth_first` mode. The `terms` aggregation is not aware that the execution is done in a `nested` context (where only the parent document matches the query) so we should force the `depth_first` mode when a `nested` sub-aggregation needs to access the score. I'll work on a pr and lin

[2018-01-27 00:12] shirgall commented on #28349
And on the Azure side, the “linux-azure” kernel 4.13.0-1007 was put out today and seems to have fixed this issue. Ubuntu updated all of the other kernels as well.

Thanks, --jrp

From: deppi <notifications@github.com>
Sent: Thursday, January 25, 2018 11:19
To: elastic/elasticsearch <elasticsearch@noreply.github.com>
Cc: Josh Poulson <jopoulso@microsoft.com>; Mention <mention@noreply.github.com>
Su

[2018-01-27 03:52] dnhatn commented on #27514
Another instance on master but did not reproduce for locally. https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/5547/console

[code]

Log: [testRefreshScopedSearcher.txt](https://github.com/elastic/elasticsearch/files/1669749/testRefreshScopedSearcher.txt)

[2018-01-27 06:59] shekharupland commented on #10005
Same use case, using kubernetes filebeat elasticsearch stack for log collection, but not having nano second precision is leading to incorrect ordering of logs.

[2018-01-27 08:34] olcbean commented on #28325
Thanks @nik9000 !

[2018-01-27 10:18] ywelsch opened #28405 "Safe commit is not safe"
Since #28181, a safe commit (instead of the latest commit) is used during peer recovery, which allows sequence-number based recoveries in more cases. A [recent test failure](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=oraclelinux/541/consoleFull) of `testAckedIndexing` shows, that under certain failure scenarios, an unsafe commit can be subseque

[2018-01-27 10:57] ywelsch commented on #21658
@jpountz While that failure is unrelated to the original failure for which this issue got opened, it led me to find another issue: #28405
As for the `NullPointerException`, I suspect that this is a concurrency issue due to the following preceding line:
[code]
The `temporalResponses` field is a `ConcurrentLinkedQueue`, and the `PingResponse.node` field is not final (and there is also no other final

[2018-01-27 12:00] penglongli opened #28407 "[BUG Report] About aggregations request with scroll, only the first results can be output?"
## Version
Elasticsearch:
[code]
Java:
[code]

OS:
[code]

Docker(It's a old version):
[code]

Also, we are using `elasticsearch:5` docker image

## Description

### What i want
I want to search 1 hour data from elasticsearch by `Range` and `Scroll`.

### What my steps

**First**
I Used `Range` And `Scroll ` search the first 10000 size data
[code]

And i got the data:

[code]

**Second**
Use `scro

[2018-01-27 12:02] dadoonet commented on #28407
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-01-27 12:02] #28407 closed

[2018-01-27 12:07] penglongli commented on #28407
@dadoonet Thanks,  i don't know whether it's a BUG. I will goto discuss.elastic.co

[2018-01-27 12:31] portante commented on #10005
Seems like we need to consider the collectors providing a monotonically increasing counter which records the order in which the logs were collected.  Nanosecond precision does not necessarily solve the problem because time resolution might not be nanosecond.

[2018-01-27 13:27] paixaop commented on #15612
Any news on this issue? Quarters are terribly important to analyze sales data.

[2018-01-27 15:05] elasticmachine opened #29863 "SQL: Align ShowTables / Show Columns results with Sys commands"
*Original comment by @costin:*

The introduction of system commands (LINK REDACTED LINK REDACTED) changed the way types and table types are returned in SQL, in particular the use of ES type names. `ShowTables` and `ShowColumns` need to be aligned to return results in the same manner.

[2018-01-27 16:52] bleskes commented on #28405
Thanks @ywelsch for the details.

If understand correctly, `C_problematic` was created way back from the beginning before the second recovery of the shard that went well. The funny thing is that we are supposed to have deleted it when we started from an older commit in the second recovery (see onInit in the CombineDeletionPolicy). This is on it's own a problem (I realize now) as we have no guarant

[2018-01-27 17:01] bleskes commented on #28405
Another thing that bugs me is that this problem (using unsafe commit as a basis for a seq# recovery) is a know limitation of ops based recovery that the safe commit logic tries to solve. The [build stats](https://build-stats.elastic.co/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-60d,mode:quick,to:now))&_a=(columns:!(_source),index:'build-*',interval:auto

[2018-01-27 17:23] bleskes commented on #28405
I did some more digging and the protection I described wasn't part of the original PR yannick linked to but rather https://github.com/elastic/elasticsearch/pull/28228 . I don't see any failures after that so I think we're good here.

I leave this issue open as:
1) I would like a validation of my logic. This concerns data loss and I think it should be double checked.
2) I want to discuss if we want

[2018-01-27 17:25] dnhatn commented on #28405
@ywelsch This is a great find.

The recent failures happened between [#28181] and [#28228].  But we need to prove that [#28228] actually fixed the issue. I sometime can reproduce this with a commit between these changes (for
 example `8eb2e632103bba3760cbfb7512cf8ec357aeba00`)

[code]

[2018-01-27 18:47] bleskes commented on #28400
It seems you're using Kibana ans well as Elasticsearch. I'm not sure you meant that something in the UI (Kibana) should change or something in Elasticsearch. I suggest you open an issue on our forums at http://discuss.elastic.co under the project that you feel is most relevant and then we can figure out what should go on github and where. I'm going close this now. We can always reopen if needed.

[2018-01-27 18:47] #28400 closed

[2018-01-27 22:24] dnhatn commented on #28405
I reproduced this without #28228 . The log shows that using "unsafe commit" is the actual cause as Yannick described. Here are some important steps from the log [ackedIndexing.txt](https://github.com/elastic/elasticsearch/files/1670594/ackedIndexing.txt)

- Shard `test:1` on `node_t1` starts peer-recovery with two commits and correctly starts with `c1`

[code]

- Shard `test:1` on `node_t1` starts

[2018-01-28 05:37] rjernst opened #28408 "ScriptDocValues getDate() on long field triggers AccessControlException"
In #22948 we added a deprecation warning when using `.date` on a long field. However, since scripts run in a reduced permission environment, the underlying call to log the message results in a security manager exception. We need to do this in a doPrivileged block.

See https://discuss.elastic.co/t/painless-script-appender-deprecation-rolling-java-security-accesscontaccess-denied/117313

[2018-01-28 05:37] rjernst commented on #28408
cc @nik9000

[2018-01-28 11:45] antonydandrea commented on #15613
Urgh this is so annoying, just because some people used to make it a relational database. It was so nice and easy to understand having multiple types under 1 index. Now what, I have to have multiple indexes?!

[2018-01-28 11:49] Klezer commented on #23199
Also experiencing the same behavior (ShardLockObtainException when the cluster is undergoing heavy load / heavy GC / shard allocation blocked). We are running ES on version 2.3.1. The only possible solution I read here is to disable the stats collection, right? any other ideas for a solution. Note that we could also upgrade to version 2.4, but could that make a difference in solving this issue?

[2018-01-28 11:52] Felk commented on #15613
@antonydandrea You can make a new field yourself and call it "type", or something that might fit even better, and filter by that. Or, if you store very distinct things, it makes sense to use multiple indices anyway. There are very good reasons for the removal of types the way they exist right now, as you can read in this thread

[2018-01-28 12:19] TomerGold1998 commented on #13351
+1 any update ??

[2018-01-28 12:24] antonydandrea commented on #15613
I am sorry, but there are also very good reasons NOT to get rid of it too. It was so easy having different documents with different mappings under a single manageable index.

[2018-01-29 01:08] Nao-Mk2 opened #28411 "Incorrect the number of hits return when use post_filter in scroll"
**Elasticsearch version**: 6.1.1

**OS version**: CentOS 7

**JVM version (java -version)**:
[code]

**Description of the problem including expected versus actual behavior:**
I use post_filter in scroll API. Elasticsearch returns correct hits.total.
However, when hits.hits array is empty, Elasticsearch returns incorrect the total actual number of retrieved documents.

**Steps to reproduce**:
*Temp

[2018-01-29 05:51] IamJeffG opened #28412 "A deleted synonym still yields search results"
**Elasticsearch version** 5.6.4
(via `docker -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" -e "xpack.security.enabled=false" docker.elastic.co/elasticsearch/elasticsearch:5.6.4`)

**Plugins installed**: []

**JVM version** (`java -version`): openjdk version "1.8.0_141"

**OS version** (`uname -a` if on a Unix-like system): `Linux 00aa6f7d916f 4.4.0-109-generic #132-Ubuntu SMP Tue Jan 9

[2018-01-29 06:01] dadoonet commented on #28412
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

It does not look like a bug to me because you did not reindex your documents and you are using bi-directional synonyms here which means that the inverted index contains all the versions of your term.

That's

[2018-01-29 06:01] #28412 closed

[2018-01-29 09:14] colings86 opened #28413 "Indexing "" in a geo_point field gives unexpected results"
The following script creates an index with a geo_point field and then indexes `""` in a document (along with a document with a valid geo_point) and then performs a geohash_grid aggregation on the index:
[code]

The output of the aggregation is:

[code]

The `""` value in document 2 is returned for the geohash `000` which maps to the point `[-89.29687500, -179.29687500]`. This is surprising for the

[2018-01-29 09:29] colings86 commented on #28413
Closing in favour of the already open https://github.com/elastic/elasticsearch/issues/23579

[2018-01-29 09:29] #28413 closed

[2018-01-29 09:53] SimonJonasGubler commented on #28262
Hi @colings86

Thank you very much, the query works also with the example from the first post. Conceptionally we need to add the filter from the main-query to the aggregation so that the nested documents are filtered before being aggregated. Is that correct? With this insight we can find a solution to our problem.

Kind regards

Simon

[2018-01-29 10:05] reeenz20 opened #28414 "org.elasticsearch.common.util.concurrent.EsRejectedExecutionException: rejected execution of org.elasticsearch.transport.TransportService"
Hi guys, I have this error on elasticsearch. The logs keeps on increasing. Urgently needed help here. Thank you! :)

org.elasticsearch.common.util.concurrent.EsRejectedExecutionException: rejected execution of org.elasticsearch.transport.TransportService$7@52bbdff1 on EsThreadPoolExecutor[search, queue capacity = 1000, org.elasticsearch.common.util.concurrent.EsThreadPoolExecutor@49c9d421[Running,

[2018-01-29 10:15] bleskes commented on #28405
I'm going to close this up as it has been fixed.

@dnhatn when you have a moment, let's discuss follow ups from this. Concretely I'm thinking about logging improvements to make debugging easier and committing upon deletions of commits.

[2018-01-29 10:15] #28405 closed

[2018-01-29 10:17] dadoonet commented on #28414
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-01-29 10:17] #28414 closed

[2018-01-29 10:25] centic9 commented on #28349
FYI, latest Ubuntu 17.10 kernel seems to have this fixed again via Kernel version 4.13.0-32

[2018-01-29 11:18] jpountz commented on #15613
@antonydandrea What do you find easier with one index with multiple types vs. either multiple indices or managing types on top of Elasticsearch as described by @Felk ?

[2018-01-29 11:43] otrosien commented on #28026
The solution does not seem to apply for transient settings. I'm getting acknowledgement from ES, but the invalid setting stays. (in my case `indices.store.throttle.type`)

[2018-01-29 11:46] cbuescher commented on #27306
Another one today, looks like it has some interesting details about the offending character in the trace message:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+periodic/1376/console

[code]

[2018-01-29 11:53] yaoayaoa commented on #25981
1.set utf-8:

   1.cmd
   2.chcp 65001
   3.close

2.set default code:

   1.cmd
   2.chcp 936
   3.right-hand button -> option -> discard old copies

[2018-01-29 12:18] cbuescher opened #28415 "[CI] InstallPluginCommandTests fails on Windows"
There are several instances of this failure across all branches on Windows, latest from today:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1182/console

[code]

[code]

Need to see if it is reproducable on Windows.

[2018-01-29 12:29] colings86 commented on #28262
Yes thats correct, I'm glad you have a solution now. I'm going to close this issue since we have confirmed there is no bug here. If you have further question please ask on the forum at https://discuss.elastic.co

[2018-01-29 12:29] #28262 closed

[2018-01-29 13:49] colings86 commented on #28411
@jimczi could you take a look at this?

[2018-01-29 14:00] mimi2204 opened #28420 "Deleted .kibana index and can't recreate it correctly (Your Kibana index is out of date, reset it or use the X-Pack upgrade assistant.)"
**Describe the feature**: .kibana index

**Elasticsearch version**: 6.1.0

**OS version**: centos

**Description of the problem including expected versus actual behavior**:

I deleted my .kibana index and when it is recreated by me (by adding an index pattern) or Kibana I get the following error:
`Your Kibana index is out of date, reset it or use the X-Pack upgrade assistant.`

P.S. I haven't upgr

[2018-01-29 14:02] jasontedor commented on #28420
There is a dedicated repository for [Kibana](https://github.com/elastic/kibana) where I think you will receive better guidance.

[2018-01-29 14:02] #28420 closed

[2018-01-29 14:03] leonardocaldas commented on #28315
Hey guys!

After running some more tests I realized what I was doing wrong. I confused the parameter "document_type" in the percolate query, thinking that I should inform the type which holds the queries, when in fact I should inform the type which holds the documents.

So please disregard my previous comment.

Thanks!

[2018-01-29 14:05] hub-cap commented on #26366
We have not received much feedback along the lines of shading, and [this](https://github.com/elastic/elasticsearch/blob/master/docs/java-rest/low-level/usage.asciidoc) takes care of instructions on how to shade, so I am going to close this. If someone comes across this and has feedback, please leave a comment so we can consider reopening / discussing.

[2018-01-29 14:05] #26366 closed

[2018-01-29 17:44] bleskes opened #28426 "testTranslogReplayWithFailure fails due a lingring store corruption"
testTranslogReplayWithFailure checks what happens when we hit exceptions during translog recovery. If we don't manage to be successful as we keep on hitting errors, we disable random error throwing and open the engine engine again, this time expecting it to work.

However, we refresh on flush at the end of translog recovery which apparently can result in the store being marked as corrupted and cau

[2018-01-29 18:46] soulis-siluos opened #28428 "Elastic indexes Document with field value larger than max long into a field mapped as long"
**Ingest Pipeline (all versions are 5.5.0)**

Metricbeat(CentOS 6.5)   >  Logstash(Ubuntu 16.04) > Elasticsearch(Ubuntu 16.04)

**JVM Version**
$ java -version
java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

**Description of the problem including expected versus actual behavior**
Using this pipeline i

[2018-01-29 19:45] mayya-sharipova commented on #28026
@otrosien how were you able to keep transient settings between versions? Did you do a rolling upgrade from 5.6 to 6.x?

[2018-01-29 19:55] cbuescher commented on #28415
Looks like something is wrong with the `testMetaPluginPolicyConfirmation` test that was recently added, I can reproduce the failure on Windows now with:

[code]

[2018-01-29 20:39] JoeZ99 commented on #27310
Length filter is also not allowed to be used as a filter in a normalizer definition. Any ideas of adding it??

[2018-01-30 00:43] pickypg opened #28432 "[DOCS] Time Units for Date Histogram Interval incomplete"
https://www.elastic.co/guide/en/elasticsearch/reference/6.1/common-options.html#time-units

The issue is that this table incomplete and inaccurate. Units below `ms` make no sense because we do not represent dates at a better resolution than milliseconds. Both `1micros` and `1nanos` (thankfully) result in `"Zero or negative time interval not supported"`.

However, there are other units that can be

[2018-01-30 00:43] pickypg commented on #28432
/cc @colings86 I remember talking to you about this a few years ago.

[2018-01-30 02:22] DR9885 commented on #28254
Sure, I have two documents (Securities and Offers), with a parent-child relationship. The end goal is to sort Securities by Offer Expiration, but only on the "cheapest" offer.

For Example, lets say we have the following data: (* is cheapest offer)

	- Security 1
		-- Offer 1, Price 2, Expiration 1/1/2017
		-- *Offer 2, Price 1, Expiration 1/1/2018
	- Security 2
		-- Offer 1, Price 3, Expiration 1

[2018-01-30 03:57] dnhatn opened #28435 "[CI] CorruptedFileIT#testReplicaCorruption fails on Windows"
CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1179/console
Log: [testReplicaCorruption.txt](https://github.com/elastic/elasticsearch/files/1676317/testReplicaCorruption.txt)

We intentionally corrupted every segment files in `#testReplicaCorruption`. This caused file-based recovery occurring as replicas could not to read commit snapshot. Ho

[2018-01-30 05:48] sccds opened #28436 "disk usage become very large after replace pathdata to a 2T hard disk"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 6.0.1, Build: 601be4a/2017-12-04T09:29:09.525Z, JVM: 1.8.0_151

**Plugins installed**: [x-pack, ik-anlyzer]

**JVM version** (`java -version`):
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

**OS version** (`uname -a` if on a

[2018-01-30 05:57] adichad commented on #28026
@otrosien 's teammate here. @mayya-sharipova Yes, we did a rolling upgrade of Elasticsearch. after the upgrade, the transient settings remained, but trying to either remove the unsupported setting or change any other setting in the transient set throws the error:
[code]

We can update any persistent settings because those were empty before the upgrade, but for the settings that exist in our transi

[2018-01-30 08:13] #28315 closed

[2018-01-30 08:19] martijnvg commented on #28315
@leonardocaldas Thanks for testing some more. You are right about the fact that this bug can occur  with other queries too. Basically if a percolator query contains duplicated clauses this error can occur. The fix in #28353 will prevent this bug from happening.

[2018-01-30 08:20] bleskes commented on #28026
@adichad which exact version are you using? I'm asking because as far as I can tell from glancing at the code, https://github.com/elastic/elasticsearch/pull/27671 should allow you to remove that setting.

[2018-01-30 08:57] jimczi commented on #28428
Thanks for reporting @soulis-siluos , this is fixed in 6.1 where we reject documents that contain out of range numbers:
https://github.com/elastic/elasticsearch/pull/26137

[2018-01-30 08:57] #28428 closed

[2018-01-30 09:03] #28426 closed

[2018-01-30 09:05] romseygeek commented on #28436
Hi @sccds, this question is better suited to the support forums at https://discuss.elastic.co - we try and keep github issues for bug reports and feature requests.  I'm going to close this issue here, but please do ask this on the forums instead.

[2018-01-30 09:05] #28436 closed

[2018-01-30 09:47] calvinpss commented on #16838
akashmpatel91@ You and your solution are life savior. I was looking for the solution since last few months and we decided to go with ES 2.x because of this issue. Now we can easily move to ES 5.x by keeping document model similar to yours.

Bunch of thanks to you from our entire team.

[2018-01-30 10:22] colings86 commented on #28432
This is tricky and there are a couple of things that I should explain here and we should explain (or explain better) in the docs.

Tl;dr: intervals are hard because time zones are hard and we have made some trade offs which we should probably clarify better in the docs (though its hard to without writing a book in just this subject). For the details of why keep reading the wall of text.

Firstly,

[2018-01-30 10:46] techninja24 opened #28439 "WordDelimiterTokenFilter does not produce expected tokens with split_on_case_change and preserve_original set to true"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.4.1, Build: 2cfe0df/2017-05-29T16:05:51.443Z

**Plugins installed**: []

**JVM version** (`java -version`):
 JVM: 1.8.0_151

**OS version** (`uname -a` if on a Unix-like system):
Windows 10

**Description of the problem including expected versus actual behavior**:
When using word delimiter token filter some expected tokens are n

[2018-01-30 10:55] cbuescher commented on #28415
Since this is failing consistently on all Windows builds on master, 6.x and 6.2 I will @AwaitsFix the `testMetaPluginPolicyConfirmation` test for now. @rjernst let me know if you disagree or have an idea for a fix.

[2018-01-30 11:00] otrosien commented on #28026
@bleskes the masters are on 6.1.1, the data nodes still on 6.1.0. `indices.store.throttle.type` is still a cluster-wide setting, so from my understanding #27671 doesn't apply.

[2018-01-30 11:03] techninja24 commented on #28439
Another  example could be -  Text = "Super-Duper-0-AutoCoder" has a token autocoder while "Super-Duper-AutoCoder" doesnot generate the token autocoder.

[2018-01-30 11:25] jasontedor commented on #27424
This was explored in #27598 and I do not think that there is much that we [should](https://github.com/elastic/elasticsearch/pull/27598#pullrequestreview-80061309) do here. The behavior would be odd if the index does not exist, or odd if there are unrecognized parameters in the request (do we ignore them? do we throw 404s? do we fail on the unrecognized parameters?). I think we should leave this as

[2018-01-30 11:25] #27424 closed

[2018-01-30 12:19] #28380 closed

[2018-01-30 12:19] #28393 closed

[2018-01-30 12:45] romseygeek commented on #28439
Hi @techninja24, this is better suited to the discussion forums at https://discuss.elastic.co - we try and reserve github issues for bugs and feature requests, and this is more of a question on the (admittedly deeply weird) behaviour of WordDelimiterFilter.  I'm going to close this, but do please ask this on the forums.

[2018-01-30 12:45] #28439 closed

[2018-01-30 12:47] kostasb opened #28441 "[DOCS] Alias with the same name as an index can block the upgrade process"
**Elasticsearch version**: upgrading from anything <5.6.3

**Description of the problem including expected versus actual behavior**:

With versions earlier than [5.6.3](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/release-notes-5.6.3.html) , Elasticsearch could end up with an alias with the same name as an index. For details, refer to https://github.com/elastic/elasticsearch/pull/26

[2018-01-30 13:27] nik9000 commented on #28408
Eep. This is a pretty terrible bug. I'll take a look at it soon-ish. There are 5 or 6 things ahead of it in my TODO list but I'll see about bumping it up.

[2018-01-30 13:42] sy-tian opened #28442 "ElasticSearch 5.1 support filed collapse and inner_hit?"

[2018-01-30 13:43] jasontedor commented on #28442
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2018-01-30 13:43] #28442 closed

[2018-01-30 15:01] DaveCTurner commented on #28432
What @colings86 said. Nothing longer than a second has a constant length in seconds, so you can't just map things to an equivalent number of seconds (milliseconds, whatever) without losing information. [ISO8601](https://en.wikipedia.org/wiki/ISO_8601#Durations) has a nice model for durations (except quarters) that's way too complicated for time units for timeouts etc. but might be a useful guide f

[2018-01-30 16:48] #28198 closed

[2018-01-30 17:39] cbuescher commented on #28415
Finally got to the cause of this. It turns out that the new test was iterating over a stream of files for an assertion via `Files.list(env.v2().pluginsFile())` which should be closed after use. This seems to be tolerated by most Linux implementations but Windows seems to be picky here. I will have a PR up shortly.

[2018-01-30 17:39] mayya-sharipova commented on #28026
@otrosien @adichad

`indices.store.throttle.type` setting was deprecated in 6.0 [1] , so after the upgrade it should have `archived` prefix added to this setting. Did you try to remove the archived version of this setting:

[code]

[1]https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_60_settings_changes.html#_store_throttling_settings

[2018-01-30 17:47] cbuescher opened #28446 "[CI] CRUDDocumentationIT.testUpdate fails on 5.6"
Link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-unix-compatibility/os=sles/629/console

[code]

[code]

[2018-01-30 17:56] jasontedor commented on #28415
Thank you for the persistence @cbuescher!

[2018-01-30 18:08] elasticmachine opened #29864 "[ML] Allow pure categorization jobs"
*Original comment by @droberts195:*

At present the only way to do categorization in ML is as part of anomaly detection.  In previous products we have had the ability to categorize log messages independently of anomaly detection.  There are situations when it can be useful to do this.

[2018-01-30 18:49] dnhatn commented on #28435
Another 6.2 instance on Windows https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+multijob-windows-compatibility/40/consoleText

[2018-01-30 19:10] olcbean commented on #27424
@jasontedor what about adding a short note in the docs that `help` should not be used with any other url params?

[2018-01-30 19:14] jasontedor commented on #27424
@olcbean That would be good.

[2018-01-30 22:47] nik9000 opened #28450 "awaitBusy returns a boolean!?!"
So I've been using `awaitBusy` incorrectly for a while and it looks like I'm not alone. I'd sort of figured it worked like `assertBusy` and would throw an exception if the thing didn't happen in time. It doesn't. It returns a boolean.

I scanned the usages and see a good 15% of calls to `awaitBusy` don't assert that the result is true. I figure most of those are bugs waiting to happen.

Most of th

[2018-01-30 22:54] nik9000 commented on #26758
I pushed 6f64e9728bdd1b6fd1a4c5e8648384e4ff00a472 to see if that'll track down the cause. Then it failed locally for me while I was testing the backport, tripping the new assertion! Maybe I found it!

[2018-01-30 23:11] #26758 closed

[2018-01-30 23:13] nik9000 commented on #26758
I'm going to let this one stay closed. It it occurs again I'll reopen.

[2018-01-31 00:58] sccds commented on #28436
@romseygeek Thanks, I will take care of it in the future

[2018-01-31 02:12] fhalde opened #28451 "index.translog.sync_interval is not dynamic setting"
[code]

The doc says the field is dynamic but it isnt

[2018-01-31 03:05] azsolinsky opened #28452 "More graceful handling of failure in DescribeInstances (ec2-discovery)"
If the DescribeInstances call fails from the EC2 Discovery plugin for any reason, the code just returns an empty list of nodes.  ~~This is bad because the code currently caches it until the refresh interval expires.~~ This is bad because the code uses the empty list of nodes immediately, and will try to make the call again on the next get, which potentially doesn't include any retry back-off.

htt

[2018-01-31 03:25] jasontedor commented on #28451
You have to close the index. Note that the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/6.1/index-modules.html) specify the settings that can be updated on an open index and `index.translog.sync_interval` is not among them.

[2018-01-31 03:25] #28451 closed

[2018-01-31 05:23] jasontedor commented on #28340
Any updates on this? Did you upgrade the JVM? Does the issue persist?

[2018-01-31 05:27] techninja24 commented on #28439
Thanks @romseygeek!

I did ask related questions [Question1](https://discuss.elastic.co/t/worddelimitertokenfilter-doesnt-seem-to-be-generating-expected-tokens/116476) and [Question2](https://discuss.elastic.co/t/worddelimitertokenfilter-used-twice-in-same-analyzer-with-different-configurations-causes-issues/116259) on the forum but there was no response.
This case seems like a genuine issue to me

[2018-01-31 08:20] #28415 closed

[2018-01-31 08:21] #27373 closed

[2018-01-31 08:24] #27514 closed

[2018-01-31 08:29] cbuescher commented on #28388
Closed by #28391

[2018-01-31 08:29] #28388 closed

[2018-01-31 08:30] AkopovaAnna commented on #22766
Hi @jomarl ;
I have also used mustache, and encountered with problems and exceptions, such as org.elasticsearch.script.mustache.SearchTemplateRequest cannot be cast to org.elasticsearch.script.mustache.SearchTemplateRequest". This is actual also in the simple examples used in elasticsearch template query search example.
As a result the search template query could not be build and execute. Could yo

[2018-01-31 08:37] harshbajaj16 opened #28454 "BUILD FAILURE-2.4.4 SNAPSHOT"
Hi,

can somebody look into below error which i'm getting on eclipse for 2.4.4 snapshot only.

INFO] ------------------------------------------------------------------------
[INFO] Building Distribution: Parent POM 2.4.4-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO] ------------------------------------------------------------------------
[INFO] Rea

[2018-01-31 09:17] colings86 commented on #26689
@martijnvg I think this problem is now solved as the test is skipped not when running against clusters which are < 5.6.0 (see https://github.com/elastic/elasticsearch/blob/5.6/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/10_basic.yaml#L4-L6). So this could be closed now?

[2018-01-31 09:37] dadoonet commented on #28454
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

2.4.4 has been released BTW.

[2018-01-31 09:37] #28454 closed

[2018-01-31 09:46] otrosien commented on #28026
@mayya-sharipova we tried all variations of removing that setting. Apparently it was not moved to `archived` when we upgraded. Is it somehow possible to trigger this?

[2018-01-31 10:33] javanna commented on #28380
thanks a lot for raising this and for the clear recreation @wfhartford !

[2018-01-31 13:10] bhavyarm commented on #28340
@jasontedor I did. But my system crashed and I had to wipe my OS and reinstall it. Now I have lots of disk errors and browsers crashing. ES crashes too but with a clear enough message about hardware problems. I haven't seen the above error I have logged.

[2018-01-31 13:23] jasontedor commented on #28340
I think we can close this as an issue on the underlying system.

[2018-01-31 13:23] #28340 closed

[2018-01-31 13:51] INRIX-Trang-Nguyen opened #28456 "Boolean queries with indexed geoshapes break on Elastic Search 6.0"
For repro steps, please see:

https://discuss.elastic.co/t/error-using-multiple-geospan-queries-as-bool-should-clauses/113945

The http 500 error occur sporadically under high concurrency (ES queries run as part of an EMR Spark job).

The same job without code changes run in ES 5.5 without issues.

[2018-01-31 13:59] jpountz commented on #28450
Agreed this is trappy.

If there are arguments to keep the boolean return value then I'd also like to rename to eg. `tryAwaitBusy` (in the same spirit as `tryLock`) so that it is more obvious there is a return value and it needs to be checked.

[2018-01-31 14:03] #28099 closed

[2018-01-31 14:03] #27992 closed

[2018-01-31 14:04] #15959 closed

[2018-01-31 14:13] jkakavas commented on #28456
Hi @INRIX-Trang-Nguyen, thank you for your report. We would appreciate if you can format your issue according to the template and offer clear steps for reproduction, as this would allow us to better triage this and offer a solution if necessary.

[2018-01-31 14:42] #24088 closed

[2018-01-31 15:11] #27966 closed

[2018-01-31 15:16] jimczi commented on #28456
This is a bug introduced in 6.0 that appears when more than one `geo_shape` query need to fetch pre-indexed shapes in an index. There is a race condition that can lead to an AIOOBE. I opened https://github.com/elastic/elasticsearch/pull/28458 to fix it.

[2018-01-31 15:32] tlrx commented on #26240
I'm working on a fix.

[2018-01-31 15:51] #27435 closed

[2018-01-31 15:53] asmita2201 commented on #28326
@javanna  Please advise when would this be released?

[2018-01-31 15:56] javanna commented on #28326
@asmita2201 you can check the labels of the PR that closed this issue: #28342 . It will be released with 6.3.0. Unfortunately the change went in a tiny bit too late for 6.2 .

[2018-01-31 15:58] javanna commented on #28326
@asmita2201 I am now wondering if we should have merged this as a bug and backported to 6.2 branch (at least it would be released with 6.2.1) and maybe also to 5.6 (it would go out with 5.6.8). I take it that this is a blocker for you?

[2018-01-31 16:11] asmita2201 commented on #28326
Actually I was trying to use 6.3.0 for this change and maven is not able to download the JAR. Is this available?
IF yes, can you please provide the actual JAR?

<dependency>
    <groupId>org.elasticsearch.client</groupId>
    <artifactId>elasticsearch-rest-high-level-client</artifactId>
    <version>6.3.0</version>
</dependency>

From: Luca Cavanna [mailto:notifications@github.com]
Sent: Wednesday

[2018-01-31 17:02] asmita2201 commented on #28326
@javanna  - YEs please treat that as a blocker. We are unable to get the right JAR for this.

[2018-01-31 17:34] aslamy opened #28462 "Bug: Unified Highlighter does not care about fragment_size"
I have:

Elasticsearch 6.1.2

Mapping:

[code]
[code]
Search:
[code]

Result:
[code]

Problem:
It seems that unified highlighter does not care about fragment size. When fragment_size is 1000 it should not split but it does split on first point (dot). I know if fragment_size = 0 then it not split, but that's not what I want.
I have fields with many sentence I want to split around 256 characters, bu

[2018-01-31 18:06] nik9000 commented on #28408
I had a look at this. I can't reproduce it, but from the stacktrace in the discuss post it *looks* like this isn't an "all the time" thing. It *looks* like this is triggered when log4j goes digging around in the filesystem which it doesn't do all the time. I'm going to open a PR that goes under the assumption that this is caused by that.

[2018-01-31 20:10] nik9000 commented on #28408
OK. I can reproduce "something" happening locally. If I leave the code as is it can break file rolling. But instead of failing the request the line fails to log. I can fix that with the fix that, I think, should fix this issue.

[2018-01-31 20:54] shribigb opened #28465 "Using reindex api with slices in creating child documents have different routing id from parent id"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.1.3

**JVM version** (`java -version`): 1.8-56

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 16 LTS

**Description of the problem including expected versus actual behavior**:

When creating child documents using reindex api with slicing and painless scripting, I noticed that value for routing id was different from the par

[2018-01-31 21:48] jimczi commented on #28462
This is expected. In this version the `unified` highlighter splits the text on sentence boundaries and creates one fragment per sentence or multiple fragments if the sentence is bigger than `fragment_size`.
Though we changed the behavior in 6.2 where it will be able to select all sentences that fit into `fragment_size`:
https://github.com/elastic/elasticsearch/pull/28132

[2018-01-31 21:48] #28462 closed

[2018-02-01 06:21] tvernum opened #28473 "Not all Java9 builds support --illegal-access=warn"
The conditional logic for enabling `--illegal-access=warn` assumes that all supported Java9 build VMs
support that option, but at least some of our OpenJDK CI builds don't

Found via: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+openjdk-java9-periodic/47/

[code]

Relates: #28437

[2018-02-01 07:12] MorrieAtElastic opened #28474 "Elasticsearch: custom word-splitting index setting which works in 5.X fails with error in 6.X "illegal_argument_exception""
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):6.1, 6.2

**Plugins installed**: []

**JVM version** (`java -version`):1.08

**OS version** (`uname -a` if on a Unix-like system): ubuntu14

**Description of the problem including expected versus actual behavior**:

The following  index-setting and mapping script works in versions 5.3.X  and 5.6.X but fails when r

[2018-02-01 07:12] rjernst commented on #28473
That build looks insanely old (2016?). I'm closing this as it looks like a CI infrastructure issue.

[2018-02-01 07:12] #28473 closed

[2018-02-01 08:01] #28456 closed

[2018-02-01 08:14] admlko commented on #26673
I'm still getting this with 6.2.1:
[code]

[2018-02-01 08:17] zzlxf opened #28475 "How to automatically expire elasticsearch6's index"
in elasticsearch2, metadata is _ttl can be index automatically expire,but elasticsearch6 is delete the metadata,so, if want to automatically expire index,how do it?
PUT my_index
{
  "mappings": {
    "my_type": {
      "_ttl": {
        "enabled": true,
        "default": "5m"
      }
    }
  }
}

[2018-02-01 08:23] dadoonet commented on #28475
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-02-01 08:23] #28475 closed

[2018-02-01 08:32] #28223 closed

[2018-02-01 08:58] colings86 commented on #28474
@romseygeek Would you be able to have a look at this?

[2018-02-01 09:18] INRIX-Trang-Nguyen commented on #28456
Awesome, thanks for the quick response and fix! Will this make it into ES 6.3?

[2018-02-01 09:23] jimczi commented on #28456
Yes it will.

[2018-02-01 09:39] romseygeek commented on #28474
Lucene 7.0 made the IndexWriter more aggressive about rejecting backwards offsets, which can cause exceptions in highlighting (https://issues.apache.org/jira/browse/LUCENE-7626).  To fix this, you should be able to replace `word_delimiter` with `word_delimiter_graph`, which has offset correction logic.

[2018-02-01 09:53] jpountz commented on #16895
FWIW I got a user asking for this to me in person recently, the main motivation being to have equally-sized cells.

[2018-02-01 10:33] javanna commented on #28326
@asmita2201 6.3.0 is not released yet, you can get a snapshot from `https://snapshots.elastic.co/maven/` . That said I wouldn't use a snapshot in production.

[2018-02-01 10:40] DaveCTurner commented on #16895
Relates https://github.com/elastic/elasticsearch/issues/28121

[2018-02-01 11:15] jimczi commented on #28465
The issue is caused by the inner map `file_flag_join ` in the `params` of the script.
If this inner map is copied in the context document and then modified to add new fields, this also modifies the original `params`. It works when slicing is off because you always override the new field with its new value but when multiple slices execute the same script they modify this inner map concurrently whic

[2018-02-01 11:18] droberts195 opened #28477 "[CI] Azul Zing JVM crashes on CentOS 7.4"
Some recent 6.2 builds have failed on the Azul Zing JVM on CentOS 7.4.

Some examples are:

* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+zing/33/consoleFull
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+zing/32/consoleFull
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+zing/31/consoleFull

The fatal error is:

[code]

I could not fi

[2018-02-01 11:30] zp-shadowolf opened #28478 "A problem involving parent-child documents and using top_hits"
Error Description
---

Index ptedata designed two documents, the session and user. User for the session's parent document. Two documents have same fields (only save the contents of different), only through an rs_type field to distinguish session or user. When aggs use top_hits return field content, but returned the following error.

Code
---

[code]

Error
---

[code]

Thank you very much for your

[2018-02-01 12:02] astefan commented on #28474
@romseygeek but this is still a bug, correct? And the use of `word_delimiter_graph` is only an workaround.

[2018-02-01 12:14] romseygeek commented on #28474
It's a pre-existing bug in `word_delimiter` that's only been exposed at index time recently, yes.  WordDelimiterFilter (the underlying lucene tokenfilter here) has been deprecated in favour of WordDelimiterGraphFilter, so it's unlikely to be fixed.  We should also deprecate it in elasticsearch, and point users to `word_delimiter_graph` instead.

[2018-02-01 13:25] jpountz opened #28479 "Should histograms return the next key after the last bucket?"
Follow-up to a `discuss` issue: https://discuss.elastic.co/t/to-get-end-date-of-week-in-date-histogram/116591/2

Displaying the value range that each histogram bar maps to can be problematic for the last bar of the histogram, since the histogram doesn't give the key that the next bucket would have. Is it something we should look into adding to the response?

[2018-02-01 14:57] golankopi commented on #27612
Hi, any updates on that issue?

In addition to much mentioned here,   **any** script created will be stored successfully:

[code]
will return:
[code]
and  `GET _scripts/foo`
will return:
[code]

[2018-02-01 15:30] #28446 closed

[2018-02-01 15:51] jimczi commented on #28411
Thanks for reporting and for providing a simple recreation @Nao-Mk2 .
The issue in your case appears only if you use a non-scoring query (wildcard query uses a constant score) and `post_filter` in a `scroll` context. I opened https://github.com/elastic/elasticsearch/pull/28459 to fix this.

[2018-02-01 16:17] pheyos commented on #16428
I would like to have support for AWS STS credentials (#19556 doesn't seem to resolve this).

As far as I understand, a session token is required when "MFA-Protected API Access" is activated on AWS [1]. Without support for session tokens all users affected by this policy are not able to access s3 via the plugin, so this would be an important improvement.
From my point of view the token should be in

[2018-02-01 16:20] dadoonet commented on #16428
I believe it's a valid ask. I believe that the implementation that described @jipperinbham is the right approach as well.
The question is more then about revocation of tokens. I'm not sure we can update live such a setting yet and it's probably something needed. Also the need of "reloading" a S3 client when credential are changing. Unless we just create a new client anytime we need to call S3...

[2018-02-01 16:23] pheyos commented on #16428
FWIW: The s3 input plugin for logstash seems to have support for session tokens [1].

[1] https://www.elastic.co/guide/en/logstash/current/plugins-inputs-s3.html

[2018-02-01 18:48] elasticmachine opened #30050 "[CI] packaging tests on opensuse: certgen test connection to master node using HTTPS"
*Original comment by @andyb-elastic:*

This test fails intermittently on opensuse-42. Doesn't reproduce

[code]

[code]

LINK REDACTED

LINK REDACTED

[2018-02-01 19:36] jbudz opened #28484 "Incorrect doc value timestamp"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.1.3

**Plugins installed**: None

**JVM version** (`java -version`): 9.0.1+11

**OS version** (`uname -a` if on a Unix-like system): macOS

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

[code]

[code]

[2018-02-01 19:37] jbudz commented on #28484
Noted at https://discuss.elastic.co/t/kibana-6-1-2-importing-month-of-february-as-january/118084

[2018-02-01 20:19] jimczi commented on #28484
Please ask question like this on discuss.elastic.co, we reserve github for verified bugs and feature request. Regarding the behavior, this is not a bug, `D` stands for day of the year and `d` for day of the month so your format is not correct. It should be `YYYY-MM-dd'T'HH:mm:ss.SSSZ` which yields the correct result.

[2018-02-01 20:19] #28484 closed

[2018-02-01 21:14] nik9000 commented on #28465
I think it'd be breaking to make those maps mutable but it is pretty tempting. It feels cleaner than making a copy every time though.

[2018-02-02 01:13] Nao-Mk2 commented on #28411
Awesome, thanks for the quick response and fix!

[2018-02-02 02:44] palanikumar-fci opened #28489 "Invalid stemmer class specified: Cjk"
**Describe the Bug**:
I configured Chinese store view in website using magento 2.1.7 EE and for catalog search im using Elastic search v 2.4.5. When triggering reindex documents are not getting generated in elastic search and receiving below error message.
java.lang.IllegalArgumentException: Invalid stemmer class specified: Cjk

**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 2

[2018-02-02 06:12] dadoonet commented on #28489
How did you create your analyzer?

[2018-02-02 06:54] palanikumar-fci commented on #28489
Hi Dadoonet,

 I'm newbie to this elastic search. I have not created any analyzer. I just created Chinese store in my magento website and triggered reindex. I could see the Chinese document cluster in elastic search dashboard. During this reindex I could see this error message in elastic search log.

FYI: Im having english & Japanese store configured in my website and both don't have any issues an

[2018-02-02 07:06] dadoonet commented on #28489
So please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-02-02 07:06] #28489 closed

[2018-02-02 07:08] martijnvg commented on #28478
@zp-shadowolf Can you tell what ES version you're using?
Do both user and session documents have `scene.scroll.*` fields and are do they use the same type of field mappings?

This type of error has been reported before and general validation mechanism is needed to prevent this error #23290, but I'm still unsure how this can happen in your case, because in previous reports a `nested` query was used

[2018-02-02 08:33] DaveCTurner opened #28492 "assertIngestDocument() is weaker than it appears"
It seems that `IngestDocumentMatcher#assertIngestDocument()` does not look at the content of its arguments too carefully. The following test does not pass:

[code]

Found during the course of https://github.com/elastic/elasticsearch/pull/28476

[2018-02-02 08:42] gfelot opened #28493 "Cannot set password for X-Pack we a Homebrew|MacOS install"
ES : 6.1.3 + X-Pack
Java 9.0.1
MacOS 10.13.3

I made a fresh install of ES and Kibana thanks to homebrew on MacOS.
I wanted to play with X-Pack and the differents modules but since v6 there is no the default user `elastic/changeme` credential.
Instead we have to launch `bin/x-pack/setup-passwords interactive|auto`.
But in the path `/usr/local/etc/elasticsearch/x-pack` or `/usr/local/Cellar/elastic

[2018-02-02 09:03] martijnvg commented on #27570
I think problem is that in `ESClientYamlSuiteTestCase#readVersionsFromCatNodes()` instead of picking the lowest node version, the highest version is picked. I think that should be changed:

[code]

If this change is made then in case of a mixed cluster these tests that are now disabled run successfully, because then these tests will only if the cluster has been completed upgraded.

[2018-02-02 09:47] markharwood opened #28494 "New default - make search results fail rather than return partial results"
7.0 represents an opportunity to make a break with our more lenient past where we would _always_ try return partial hits or aggregations in the event of failures.

When failures occur `hits` and `aggregations` are returned alongside the information that says how many shards failed or if the search timed out. The suspicion is that most client applications will pay little attention to these importan

[2018-02-02 10:04] DaveCTurner commented on #28479
I feel it'd be useful for each bucket to describe both of its bounds. The alternative is that you must assume that the upper bound of each bucket is the lower bound of the next one in the list, which needs a special case for the last bucket (as mentioned here), means that you must preserve the order of the list of buckets, and means you can't simply iterate through the buckets if you're doing some

[2018-02-02 10:16] arpitdadheech opened #28495 "Suggest term search result not proper in elasticsearch"
**Elasticsearch version** 6.1
**Plugins installed**: None
**JVM version** 1.8
**OS version** windows

 I want to use "Suggester" of its feature. I have dumped data in the format its required for suggester.

I have used these queries.

PUT /hotels
{
 "mappings": {
"hotel" : {
  "properties" : {
   "name" : { "type" : "keyword" },
   "city" : { "type" : "keyword" },
   "name_suggest" : {
     "type"

[2018-02-02 10:22] DaveCTurner commented on #28344
A limit seems like a good idea, but 100 chars seems overly restrictive. People do all sorts of [crazy things](http://www.ex-parrot.com/~pdw/Mail-RFC822-Address.html) with regexes, even though [they perhaps shouldn't](https://stackoverflow.com/a/1732454). Does each stack frame correspond to at least one character? If so, I'd have thought a few thousand characters would still be safe?

[2018-02-02 10:27] colings86 commented on #28495
@arpitdadheech , we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) instead.

The suggester will only match suggestions that start with the text provided in the search request. "Mercure Hotel Munich" is not returned because it does not start with `h`. You will probably want to look in

[2018-02-02 10:27] #28495 closed

[2018-02-02 13:04] elasticmachine opened #30051 "SQL: Make sure there aren't concurrency issues with JDBC's Debug"
*Original comment by @nik9000:*

JDBC is a single threaded, noncurrent API for the most part. At least, `Connection`s are. But our `Debug` class is static and *probably* needs to make sure it doesn't have concurrency issues. This might be as simple as an extra test and a few more `synchronized` blocks.

[2018-02-02 14:25] markharwood commented on #28494
This is an important choice to make so we will write a blog post explaining the pros and cons and invite opinions to be expressed here.

WE WOULD LIKE TO GAUGE FEEDBACK BY COUNTING REACTIONS SO.....

* if you want to change to errors-by-default then THUMB UP this comment
* If you want to stick with partial results then THUMBS DOWN this comment.

<img width="241" alt="new_default_-_make_search_resu

[2018-02-02 14:30] jpountz commented on #28479
Discussed in FixitFriday: we agreed to put the `from` (inclusive) and `to` (exclusive) bounds of each bucket in the response.

[2018-02-02 14:32] dakrone commented on #28450
We discussed this in fix-it-Friday and decided that we'd like to remove `awaitBusy` in favor of `assertBusy`

[2018-02-02 14:37] jpountz commented on #28344
We discussed it in FixitFriday: we'll implement it as a soft limit with a default value of 1000.

[2018-02-02 14:42] martijnvg commented on #28493
Hey @gfelot the `setup-password` script is located here: `/usr/local/Cellar/elasticsearch/6.1.3/libexec/bin/x-pack/setup-passwords`

It wasn't easy to find and I think the scripts added by xpack (and any other plugin) should be on the path like the other scripts (`elasticsearch`, `elasticsearch-keystore`, `elasticsearch-plugin`, `elasticsearch-translog`), but I don't how feasible that would be.

[2018-02-02 15:01] jimczi commented on #28254
Ok I thought you were talking of nested fields but if you use `parent/child` then the only way to sort by a child field is to use a function_score. I think you can achieve what you want by using a function_score like this (https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-has-child-query.html#_sorting):

[code]
and then use `inner_hits` with a different sort for the offers:

[2018-02-02 15:01] #28254 closed

[2018-02-02 15:35] DaveCTurner commented on #28323
We discussed this in our Fix-it Friday meeting. The recommended way to do this is simply to run two nodes on the same host, one using the fast disk and the other the slow one. There would be a bit of a benefit to supporting this within a single node, but the feeling was that this wouldn't outweigh the extra complexity it'd introduce.

[2018-02-02 17:11] MrOrz commented on #23719
I wonder if this statement is still valid for Elasticsearch 6.1.0:

In Elasticsearch 6.1.0, actually we **can read and write** nested objects in scripts, with no `include_in_root` nor `include_in_parent` in place.

## Proof of concept

1. Start a elasticsearch server on port 9200
2. Follow the [nested object guide](https://www.elastic.co/guide/en/elasticsearch/reference/current/nested.html) to set

[2018-02-02 17:13] markharwood opened #28499 "Scrolls - failing on partial results"
### A bug in the existing impl
In https://github.com/elastic/elasticsearch/issues/27435 we introduced an "allow partial search results" flag which if set to false should return errors rather than hits. This currently works on the first request to the `myindex/_search?scroll=1m` api but fails to fail on the subsequent `/_search/scroll` calls. This is a bug caused by the fact that SearchScrollAsyncA

[2018-02-02 17:26] edudar opened #28500 "Location awareness in low level RestClient"
Right now RestClient accepts a set of hosts it will rotate through doing client-side load balancing. When the server runs in AWS it's good practice to spread instances across multiple availability zones and to make requests within your availability zone preferably, falling back to out of zone requests when necessary. It would be good to have two sets of addresses RestClient rotates through. One is

[2018-02-02 17:40] dnhatn commented on #28435
Another instance on Windows with the same error. CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1199/console
Log: [window-replica-corruption.txt](https://github.com/elastic/elasticsearch/files/1690262/window-replica-corruption.txt)

[2018-02-02 17:48] MrOrz opened #28501 "Simple for-loop throws null_pointer_exception in painless"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.1.0 (build hash: `c0c1ba0`)

**Plugins installed**:
Using official docker image `docker.elastic.co/elasticsearch/elasticsearch:6.1.0`

**JVM version** (`java -version`):
Using official docker image `docker.elastic.co/elasticsearch/elasticsearch:6.1.0`

**OS version** (`uname -a` if on a Unix-like system):
Docker host machine: OSX 10.11.6

[2018-02-02 18:20] mayya-sharipova commented on #26998
@jasontedor Jason, I was studying your corresponding PR: https://github.com/elastic/elasticsearch/pull/26995/files

and I don't understand that why when we create an  IndexService in  `IndicesService.createIndexService`,  we don't validate archive settings as well. Current code:
https://github.com/elastic/elasticsearch/pull/26995/files#diff-97e5abcaadbacda4084c902214cd3654R437
[code]
Setting `igno

[2018-02-02 18:56] rjernst commented on #23719
@MrOrz nested documents are always available via _source. This issue is about accessing them from docvalues within a scoring script for search.

[2018-02-02 19:40] jpcarey opened #28502 "add task ID to slowlogs if `X-Opaque-Id` header was set"
**Describe the feature**: Add `X-Opaque-Id` header / task ID to slowlogs (if the value is set)

https://github.com/elastic/elasticsearch/pull/27764

[2018-02-02 19:43] elasticmachine opened #30052 "add task ID to audit logging if `X-Opaque-Id` header was set"
*Original comment by @jpcarey:*

Describe the feature: Add X-Opaque-Id header / task ID to security audit logging (if the value is set)

https://github.com/elastic/elasticsearch/pull/27764

[2018-02-02 20:34] DR9885 commented on #28254
I'm aware that some of this feature exists, but it's incomplete for my needs. function_score requires a score_mode of "min, max, sum, avg or none". However, when doing so, it scores all the children. I want it to ignore all but the first. So I'm asking for a Feature "score_mode" : "first"

So I can do something like the following:

`
        {
          "has_child": {
            "type": "offer",

[2018-02-02 20:55] nik9000 opened #28504 "Extract XContent from the elasticsearch server"
One day we'd like the high level rest client not to depend on Elasticsearch's server code. As a first step we're going to extract Elasticsearch's xcontent classes into a jar without dependencies.

* [x] Replace xcontent's explicit dependencies on Log4J with something pluggable and have the Elasticsearch server plug Log4J into it (@dakrone)
* [x] Separate xcontent from Lucene (@dakrone)
* [x] Separ

[2018-02-02 20:58] nik9000 commented on #28504
https://github.com/elastic/elasticsearch/pull/28449 and https://github.com/elastic/elasticsearch/pull/28488 started this process. It'll take a few more PRs to finish it.

[2018-02-02 21:01] nik9000 commented on #28504
As is https://github.com/elastic/elasticsearch/pull/28503.

[2018-02-02 22:13] imranansarij2ee commented on #16551
+1

[2018-02-02 22:15] jdconrad commented on #28501
@MrOrz Thank you for the bug report.  I was able to repro.  Will look into this soon.

[2018-02-03 01:23] MrOrz commented on #23719
I see. Didn't notice the difference in subjects.
Thanks for the explanation!

[2018-02-03 14:16] danielduduta opened #28508 "Error starting service when changing network.host"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.1.3, Build: af51318/2018-01-26T18:22:55.523Z, JVM: 9-Debian
**Plugins installed**: []
None
**JVM version** (`java -version`):
openjdk version "9-Debian"
OpenJDK Runtime Environment (build 9-Debian+0-9b181-4bpo91)
OpenJDK 64-Bit Server VM (build 9-Debian+0-9b181-4bpo91, mixed mode)
**OS version** (`uname -a` if on a Unix-like sys

[2018-02-03 19:56] #28408 closed

[2018-02-03 22:25] ImCarrot opened #28509 "all shards for all indices unassigned"
**Describe the feature**:

**Elasticsearch version** 5.6.2:

**Plugins installed**: None

**JVM version** 1.8:

**OS version** Amazon Linux:

I had a node that was shut down for a while (1 day). Now when I turn that node up and connect it to a master node and a client node, the cluster is formed but still all the shards of all indices remain unassigned. cluster health is `red` can this be an issue

[2018-02-04 05:24] zp-shadowolf commented on #28478
Very sorry, I did not think well, I  use the version is es6.1 now.

[2018-02-04 05:31] zp-shadowolf commented on #28478
Yes, es now can not use more than one type in the same index, so the user and session are using the same type, using the join method.

[code]

[2018-02-04 07:04] zp-shadowolf commented on #28478
@martijnvg

[2018-02-04 10:31] MorrieAtElastic commented on #28474
Customer reports that her problem was solved by using "word_delimiter_graph" and the Support Ticket is now closed. Based on the exchange above, I'll leave it to Engineering as to when to close this GitHub entry.

[2018-02-04 17:03] arpitdadheech opened #28511 "Suggester suggestion term result."
Elasticsearch version 6.1
Plugins installed: None
JVM version 1.8
OS version windows

I have used "Suggester" suggester.
I have dumped data as:-
{
	"first_name": "Demo",
	"last_name": "Demo",
	"nike_name":  "Aero",
	"suggest" : ["Demo", "Demo", "Aero"]
}

put datas/data/1
{
	"first_name": "Alex",
	"last_name": "Alex Ambrose",
	"nike_name":  "Demo",
	"suggest" : ["Alex", "Alex Ambrose", "Demo"]
}

[2018-02-04 18:03] dadoonet commented on #28511
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

You already asked this on discuss. Please keep the discussion there.

[2018-02-04 18:03] #28511 closed

[2018-02-04 18:09] mattweber commented on #28494
#27435 is tagged for 7x only, can we get this back ported to a 6x release so we can experiment?

[2018-02-04 19:48] gskema opened #28512 "Add code example of smoothing model parameter for phrase suggester"
https://www.elastic.co/guide/en/elasticsearch/reference/master/search-suggesters-phrase.html#_smoothing_models

This does not show what parameter should be used to configure the smoothing model. I assume it is `"smoothing": ...`. This should be added in the documentation. A code example would be even better.

[2018-02-04 19:57] gskema opened #28513 "Add an example of JLH usage in significant terms aggregation docs"
https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations-bucket-significantterms-aggregation.html#_parameters_5

Presumably one can select between `jlh`, `mutual_information`, `chi_square`, `gnd`, `percentage` or `script_heuristic`.

No usage example is provided for `jlh`, but it is mentioned later:

https://www.elastic.co/guide/en/elasticsearch/reference/master/search-ag

[2018-02-04 20:22] floragunncom commented on #27258
@jaymode ping

[2018-02-04 20:37] higee commented on #9669
+1

[2018-02-04 23:43] tvernum commented on #28494
@mattweber It looks like #27435 is incorrectly tagged.
It was backported to 6.x in https://github.com/elastic/elasticsearch/commit/6165676b369d51c9e4498c895460c89d4df741c5

@markharwood Can you confirm and update the version tags for #27435 ?

[2018-02-05 07:25] prismec commented on #13136
I am having this problem all the time - and it really causes a lot of headaches to us!

Here is an example of a stack trace (5.3.1) that does not show the origin of the failure.

[code]

[2018-02-05 09:26] #28508 closed

[2018-02-05 09:35] markharwood commented on #28494
My bad. Labelled the PRs but forgot the issue. This flag will debut in 6.3

[2018-02-05 10:26] ahadadi opened #28518 "Elastic search documentation about merge scheduling does not explicitly state that `index.merge.scheduler.max_thread_count` is a shard level property"
Elastic search documentation about [merge scheduling](https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules-merge.html) does not explicitly state that `index.merge.scheduler.max_thread_count` is a shard level property.
The documentation states that this is `The maximum number of threads that may be merging at once` but this is true only on a shard level.
Specifically, this

[2018-02-05 11:32] olcbean opened #28519 "Inconsistent Java formatters"
Having incomplete formatting rules makes PR review process difficult.

In [CONTRIBUTING](https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md) only two changes are mentioned, and `The rest is left to Java coding standards`. Unfortunately there are differences between Eclipse and IntelliJ defaults. Moreover there are 3 build-in profiles in Eclipse : all slightly different.

Here are

[2018-02-05 12:36] corradio opened #28520 "Points of LinearRing do not form a closed linestring"
When indexing a geo_shape, I get the following error:

[code]
I've attached the geometry.
[geo.txt](https://github.com/elastic/elasticsearch/files/1695084/geo.txt)

It correctly passes geoJSONLint:
![image](https://user-images.githubusercontent.com/1655848/35804801-8ae85830-0a79-11e8-949a-ec64f664b6cd.png)

**Elasticsearch version** : 6.1.3

Related to #12325

**Steps to reproduce**:

[2018-02-05 14:38] martijnvg commented on #27053
@elwerene This has been backported to the 5.6 branch and this fix will be included in the next 5.6.x release.

[2018-02-05 14:50] martijnvg commented on #27570
It turns out that the wrong version exclusion was used, I'll enable these test soon.

[2018-02-05 15:03] T3rm1 commented on #24419
So nobody decided to fix this severe problem before 6.0? For real? This is exactly what is causing hundreds of problems for me now. This should have been a blocker for the release.

[2018-02-05 16:01] elasticmachine opened #30053 "[CI] packaging tests on opensuse: test auto generated passwords with modified bootstrap.password"
*Original comment by @andyb-elastic:*

Test fails intermittently on opensuse, doesn't reproduce

LINK REDACTED

LINK REDACTED

[code]

[2018-02-05 16:49] MarcMagnin opened #28522 "Bulk index with invalid_index_name_exception reply a HTTP status 200."
Elasticsearch version: 5.6.2

Plugins installed: []

JVM version (java -version):

java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

OS version (uname -a if on a Unix-like system):

Linux Ubuntu16 4.4.0-92-generic #115-Ubuntu SMP Thu Aug 10 09:04:33 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Description of

[2018-02-05 18:13] jasontedor commented on #28511
@arpitdadheech Please do not ping people directly.

[2018-02-05 18:14] jasontedor commented on #28495
@arpitdadheech Please do not ping people directly.

[2018-02-05 18:48] jasontedor commented on #28519
This is okay, we will accept this for now until someday we implement automatic code-formatting on commit. I would prefer to close this issue since it is not actionable at this time.

[2018-02-05 18:48] #28519 closed

[2018-02-05 18:48] jasontedor commented on #28509
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2018-02-05 18:48] #28509 closed

[2018-02-05 18:49] jasontedor commented on #28502
Duplicates #9669

[2018-02-05 18:49] #28502 closed

[2018-02-05 19:03] jasontedor commented on #28477
This is being tracked internally through the infra team and is not actionable via this repository at this time. As such, I am going to close this issue.

[2018-02-05 19:03] #28477 closed

[2018-02-05 19:37] sherry-ger opened #28523 "GCP Discovery Plugin instructions using deprecated util"
**Elasticsearch version** (`bin/elasticsearch --version`):
Elasticsearch version: 6.1.3

**Plugins installed**:
GCE Discovery Plugin

**JVM version** (`java -version`):
1.8.0_151

**OS version** (`uname -a` if on a Unix-like system):
Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:

The instructions for [Setting up GCE Discovery](https://www.elastic.co/guide/

[2018-02-05 20:04] chitraj8 commented on #23580
I am trying to setup ES 5.6 with single node, but the startup process fails due to boostrap checks.
how to disable them?

[2018-02-05 20:17] scratchy opened #28524 "non existent setting not removeable but still in cluster"
After rolling upgrade from 6.0.0 to 6.1.3 im having issues to update cluster settings

for example running this

[code]

results in:

[code]

tried to remove (set `indices.store.throttle.max_bytes_per_sec` to null) which complains with 'its not valid since its not there anymore as well as removing the upper level with):

[code]

which gets acked:
[code]

but still the error from above persists. I'

[2018-02-05 20:34] jasontedor commented on #28522
The behavior here is by design. A 200 OK status code on a bulk response means that the coordinating node successfully parsed and executed the client request. You need to check the `errors` field to know if there were any errors handling the individual requests, and indeed parse the response body to know which documents failed and why.

[2018-02-05 20:34] #28522 closed

[2018-02-05 21:00] chitraj8 commented on #22899
For me it doesnt get the ES started :(

[2018-02-05 21:13] MarcMagnin commented on #28522
Thanks for your quick reply.
I understand it is intended to have such behavior but knowing that the coordinating node successfully parsed and executed the client request is not very needed because regardless of the 200 we have to look into the details of the response.

The problem I want to emphasis on is `invalid_index_name_exception` is something that will be solve and will never be triggered ag

[2018-02-05 21:14] scratchy commented on #28524
curl -XPUT 'localhost:9200/_cluster/settings?pretty' -H 'Content-Type: application/json' -d'
{ "persistent": { "*": null},"transcient:": {"*": null}}'

{
  "error" : {
    "root_cause" : [
      {
        "type" : "remote_transport_exception",
        "reason" : "[search-8][xxx:9300][cluster:admin/settings/update]"
      }
    ],
    "type" : "illegal_argument_exception",
    "reason" : "unknown s

[2018-02-05 21:28] jasontedor commented on #28522
Again, check the `errors` field in the response for a "quick" check as to whether or not there were any failures handling the individual requests.

[2018-02-05 21:50] jdconrad commented on #28501
This has been fixed.

[2018-02-05 21:50] #28501 closed

[2018-02-05 21:56] IamJeffG commented on #28412
Thanks for responding and my apologies for posting this in the wrong place.

For future friends who might find this, the way to accomplish your recommendation is by changing the field mapping as follows (both at index creation and when editing the index settings).  I confirmed it works well!

[code]

[2018-02-05 23:00] nik9000 commented on #28519
I think it'd be more correct to say "do whatever you and the reviewing agree reads the best" which isn't really a great state of events. But we aren't unique in having this problem. Having more standards would make PRs easier but they are hard because:
1. There are lots of times when you want to break the standards and we need to account for that.
2. We have a ton of code that wouldn't comply with

[2018-02-05 23:59] danlevy1 opened #28527 "Gradlew Run Just Sitting at 97%"
**Elasticsearch version** (`bin/elasticsearch --version`): Command not working in Terminal

**Plugins installed**: [none]

**JVM version**: 9.0.4

**OS version** : macOS 10.13.1

**Description of the problem including expected versus actual behavior**:

When I use the terminal to run `./gradlew run`, the progress bar stops at 97% every time. It says `97% executing` and just below it says `:distrib

[2018-02-06 00:04] nik9000 commented on #28527
`.gradlew run` should just run Elasticsearch and leave it open. The build will indeed sit around 97% done because the only remaining tasks are all "clean up". So this is working as designed. You should be able to work with Elasticsearch on port 9200.

[2018-02-06 00:04] #28527 closed

[2018-02-06 08:20] MarcMagnin commented on #28522
Again, there is nothing "quick" in the deserialization of a large message to check and error field.

[2018-02-06 08:34] ebuildy commented on #23580
@chitraj8 please read what @jaalcorn  just said with the single-node (or use the forum for questions).

[2018-02-06 08:41] sundag opened #28529 "GET _aliases API report error on version 6.x with index filter in URL"
Visit
`GET <some_name>/_aliases`
will list the aliases filtered with <some_name> in previous versions (tried on elasticsearch 5.x )
But after upgraded to elasticsearch 6.1.3. The API returns:
[code]
Is that a behavior change? Or regression between versions?

[2018-02-06 09:02] bleskes commented on #28522
@marcinpm in a healthy system, you *have* to check error message for things like rejections. What language are you using? We're developing assuming that when people are performance sensitive like that, they will use a forward only parser, making reading the error (which is the second field) light.

Re status codes - sadly there's no status code that will correctly reflect that the bulk was success

[2018-02-06 09:13] bleskes commented on #28522
sorry, I meant @MarcMagnin

[2018-02-06 09:37] olcbean commented on #28519
What I had in mind here was not to suggest 'enforcement' ( as it would be rather challenging at this stage and AFAICS no obvious benefits ). But rather introducing a simple formatter that should be used for new code to avoid unnecessary reformatting. Basically instead of

share a simple eclipse formatter ( which AFAIK can also be imported in IntelliJ )

[2018-02-06 10:15] jpountz commented on #27215
I reviewed the code and couldn't find the cause of the problem. Also I can't find any failures of this test since November 6th 2017, so I'll close.

[2018-02-06 10:15] #27215 closed

[2018-02-06 10:17] jpountz commented on #26689
Agreed with Colin, this seems to have been fixed in https://github.com/elastic/elasticsearch/pull/26713. Closing. Feel free to reopen if there are leftovers to fix.

[2018-02-06 10:17] #26689 closed

[2018-02-06 11:01] asmita2201 commented on #28326
@javanna can you advise how to access?
I get this page:
<Error>
<Code>NoSuchKey</Code>
<Message>The specified key does not exist.</Message>
<Key>maven/</Key>
<RequestId>ED6094AC6235E7A6</RequestId>
<HostId>
WqwhJ5VYiGtlOkX45a8VCFtGHD+DNdXqSAgxuUqhH40UK4VlomzfA4oVaeLkoP9I2cfCHxlb8yU=
</HostId>
</Error>

[2018-02-06 11:30] #27570 closed

[2018-02-06 11:41] clintongormley commented on #18922
Closed by #21009

[2018-02-06 11:41] #18922 closed

[2018-02-06 12:59] MarcMagnin commented on #28522
@bleskes Thanks for your answer!
Sorry @jasontedor I didn't catch the fact that we have a global error at the beginning of the response, hence a forward only parser will do the job in an acceptable timing.
Currently I'm working with some Golang code so I may give a try with this one: https://github.com/buger/jsonparser
Knowing that I'll probably just go with a very naive byte lookup at the beginni

[2018-02-06 13:01] martijnvg commented on #28478
@zp-shadowolf Can you share your mapping or at least the relevant portions of it?

[2018-02-06 13:55] Cornoualis opened #28533 "[X-PACK] [Monitoring] Improvement of "Disk Available" display"
**Feature request**

**Describe the feature**: Improve the "Disk Available" value on the main "Monitoring" page, by only counting the free disk space on nodes that have _node.data=true_ in their config.

**Elasticsearch version**: Version: 5.6.2, Build: 57e20f3/2017-09-23T13:16:45.703Z, JVM: 1.8.0_131

**Plugins installed**: [x-pack]

**JVM version** : 1.8.0_131

**OS version** : RHEL7

**Descript

[2018-02-06 13:56] MarcMagnin commented on #28522
I wrote this naive way to get it:
[code]

Sounds to be an efficient way to get the error. Any suggestion regarding this?

[2018-02-06 13:59] bleskes commented on #28522
@MarcMagnin to answer your question will need to dig deeper into the go semantics and your uscases. I suggest you take this to the forums on http://discuss.elastic.co as this goes out of scope for github (we keep it for issues and features requests)

[2018-02-06 14:09] ywelsch commented on #28452
@azsolinsky How did you determine for this to be the cause? Looking at `DiscoNodesCache`, which is the class that does the caching, it seems to account for the empty list. If the returned list is empty, no caching should be happening. The only possible fault I can find with the `DiscoNodesCache` class is that the `empty` variable might not be concurrency-safe.

[2018-02-06 14:49] ywelsch commented on #28529
5.x used to support both `_alias` and `_aliases`. This was changed in 6.x to only support `_alias`, see also https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_60_rest_changes.html#_indices_information_apis
and https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-aliases.html#alias-retrieving

[2018-02-06 14:49] #28529 closed

[2018-02-06 14:59] sowelie commented on #27205
There is a major flaw in the current high level rest client in my opinion. All of the methods that perform requests are marked final. This creates a problem when trying to mock the RestHighLevelClient. Perhaps an interface could be defined that the RestHighLevelClient can implement?

[2018-02-06 15:30] martini97 opened #28536 "Wrong percentile_ranks calculation"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.1.3, Build: af51318/2018-01-26T18:22:55.523Z, JVM: 1.8.0_16

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "1.8.0_161"
OpenJDK Runtime Environment (build 1.8.0_161-b14)
OpenJDK 64-Bit Server VM (build 25.161-b14, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux 053db24b9161

[2018-02-06 16:57] colings86 commented on #28536
This looks like a bug to me and I can reproduce it on master with this slightly simpler script (basically only indexes the documents that are actually in the problematic bucket:
[code]
This given the following response:
[code]

I'll create a test that uses T-Digest directly and see where the problem occurs.

[2018-02-06 17:07] colings86 commented on #28536
The following test fails because `state.cdf(50.0)` returns `-Infinity` (which gets converted to 0.0 in `InternalTDigestPercentileRanks.percentileRank(TDigestState, double)` :
[code]
This looks to be a bug in t-digest but I will dig into it further to find out where

[2018-02-06 17:17] elasticmachine opened #30056 "[CI] DatafeedJobsIT.testRealtime_GivenProcessIsKilled fails to stop process"
*Original comment by @dakrone:*

Seems like it failed to stop the process:

[code]

I was not able to reproduce this

[code]

LINK REDACTED

[2018-02-06 19:36] holgr opened #28538 "Unable to remove old plugins in ES 6.2.0 with elasticsearch-plugin"
**Elasticsearch version**:
Version: 6.2.0, Build: 37cdac1/2018-02-01T17:31:12.527918Z, JVM: 1.8.0_161

**Plugins installed**:
[ingest-geoip, ingest-user-agent]

**JVM version**:
openjdk version "1.8.0_161"
OpenJDK Runtime Environment (build 1.8.0_161-b14)
OpenJDK 64-Bit Server VM (build 25.161-b14, mixed mode)

**OS version**:
3.10.0-693.17.1.el7.x86_64 (CentOS 7.4.1708)

**Description of the prob

[2018-02-06 19:54] jasontedor commented on #28538
This reproduces. Thanks for the report.

As a workaround, you can downgrade to 6.1.3, remove the plugins, upgrade, and reinstall your plugins. I know this is terrible, but this is all I can offer right now until we have a release with a fix in place.

We will work on having a fix out as soon as possible.

[2018-02-06 19:56] holgr commented on #28538
@jasontedor Thanks for the quick response! :) Alternatively I should be able to remove them from $PLUGIN_PATH and then just install as usual?

[2018-02-06 19:57] dadoonet opened #28539 "elasticsearch-core 6.2.0 is not available on maven central"
When using the HL Rest Client, it pulls elasticsearch which [pulls elasticsearch-core](http://central.maven.org/maven2/org/elasticsearch/elasticsearch/6.2.0/elasticsearch-6.2.0.pom):

[code]

The later is not available on maven central: http://central.maven.org/maven2/org/elasticsearch/

[2018-02-06 20:05] jasontedor commented on #28538
My preference would be the downgrade/use the official tool/re-upgrade route; I do not want to encourage messing with the underlying files (e.g., some plugins add files in other locations, e.g., `bin`).

[2018-02-06 20:24] jasontedor commented on #28538
I have opened #28540.

[2018-02-06 21:16] aewhite commented on #26335
Sorry, late to the conversation on this but we use use `_primary` as a cache hitting optimization. Unless something has changed, ES can hit non-primary shards to answer search requests. By preferring primaries only then filter caches:

* Warm up faster
* Have a higher cache hit rate
* Are more "dense" (ie, a node only has to maintain primary caches)

[2018-02-06 21:19] floragunncom commented on #28539
we are also affected
<pre>
Could not find artifact org.elasticsearch:elasticsearch-core:jar:6.2.0 in central (https://repo.maven.apache.org/maven2)
</pre>

[2018-02-06 21:27] hub-cap commented on #28539
Im on it. Sorry for any noise. Should be fixed soon.

[2018-02-06 22:01] georgezoto opened #28541 "Enhancement on the Update by Query API"
Hello everyone,

Please bear with me, this is my first feature request for elastic.
I have combed the web, GitHub issues and the discussion forums but I haven't seen something close to this. So I need some expert opinion on how challenging this feature would be. In terms of benefits, the list just keeps growing as I will explain in detail.

**Challenge**:
I have a dataset of several thousands reco

[2018-02-06 22:14] nik9000 commented on #28541
I think you can use the current API to get something partly between that has some nice properties. One thing that jumps out at me about your bash solution is that you can monitor its progress quite well and you can resume it by restarting where you left off if you have to kill it. You could get something pretty similar but probably faster if you chunked the update by queries into buckets of 100 or

[2018-02-06 22:18] eherot commented on #24123
Is it possible that this might affect deletes as well? I'm running 5.6.3 and snapshot deletes are quite slow:
[code]
I don't know exactly what version of ES was used to make these snapshots but I don't think it was < 5.x.

[2018-02-06 22:28] tbrooks8 commented on #27306
I think this is a bug in the `ESLoggingHandler`. In order to handle `pings` we check if the message is 6 bytes long.

[code]

But in the case above, a ping and a follow message message has been read in one go. And therefore we a mishandling the ping. I will look into a PR to fix this.

[2018-02-06 22:38] #28538 closed

[2018-02-06 23:03] hub-cap commented on #28539
It has been released and is propagating its bits thru the æther now. Hopefully it will be in central in not too much longer.

[2018-02-06 23:36] Montesinnos commented on #28539
It seems to be work fine. Earlier this morning, dependencies were breaking. Since @hub-cap last post, this works and my code builds:
[code]

[2018-02-06 23:37] dakrone commented on #26968
I think this has recurred, there's another failure https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/585/console

[code]

The kernel version is 4.13.16-200.fc26.x86_64, though, since the ES version is 5.1.1 maybe there's not much we want to do about it? @jasontedor what do you think?

[2018-02-06 23:37] #28539 closed

[2018-02-06 23:40] jasontedor commented on #26968
Version 5.1.1 is suppose to be skipped here. See the changes in #28268.

[2018-02-06 23:41] jasontedor commented on #26968
Oh, I see the problem. It’s the verify version constants test. I will address.

[2018-02-06 23:43] majormoses commented on #20705
When we are talking about the limit of shards per node (averaged through the cluster) are we considering primary or do replica shards count as well?

[2018-02-07 02:51] EbolaWare commented on #26786
they do not mention running the install as root...

[2018-02-07 03:55] jasontedor commented on #26968
@dakrone I pushed d815f5fdd1237b2719ca5a2ce66ee0ba1e4da315 and cherry-picked this to all the places where it is relevant:
 - 6.x: d815f5fdd1237b2719ca5a2ce66ee0ba1e4da315
 - 6.2: e31736706a1fe6b06909b82e8a70bcd34d051ad1
 - 6.1: fbb6e1afb0d71cb0d387c76eed2ea680181e5126
 - 5.6: f8bc4322b811748e64f1c4752e5786ebdd7e299e

[2018-02-07 04:20] Delostik commented on #26240
this also happens on v6.1.3
I think it's a common failure on many versions.

[2018-02-07 06:03] SachithS commented on #25179
Hi there,
I'm first-timer to the project. Can I start working on this? Please guide me on this.

[2018-02-07 07:13] brusic commented on #25179
@SachithS I have already submitted a pull request for this issue. It is referenced above. It will require a breaking change, so I doubt it will be released before 7.0. Still awaiting on the comments to the PR.

[2018-02-07 08:17] tlrx commented on #24123
@eherot Some factors can affect the performance of a deletion, but I can't tell from your previous comment if the deletion took more time than usual on your platform or did you simply notice that the deletions were slow?

Many factors can slow down a snapshot deletion. The issue fixed by #27280 mostly impacts snapshot creation but it can affect deletion too as many files are updated during the del

[2018-02-07 08:41] cbuescher opened #28543 "[CI] Failure in SuggestStatsIT testSimpleStats"
Link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos/2018/console

[code]

Doesn't reproduce locally for me so far with:
[code]

[2018-02-07 09:15] bleskes commented on #26335
@aewhite you can better use a random string which will stick to a random copy (see https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-preference.html ). ES assumes primaries do just as much work as replicas when balancing the cluster. As noted about the `_primary` preference is dangerous. Anything that sticks to the primary may cause hot spots. I presume you have enough

[2018-02-07 09:25] SachithS commented on #25179
@brusic , thanks for letting me know. Will try to find a task to work on.

[2018-02-07 09:31] cbuescher commented on #28543
The particular assertion tripping here is checking `assertThat(suggestStats.getSuggestTimeInMillis(), greaterThan(0L)`)`. When I run this test on a somewhat bigger machine locally I cannot get it to fail but I get close to execution times as low as 5-7ms, so I think it is entirely possible that on faster machines this might occasionally get rounded to 0ms. I think we can relax the assertion to `gr

[2018-02-07 10:08] theragnarpatel commented on #25505
Feb 07 15:34:57 user systemd[1]: Started Elasticsearch.
Feb 07 15:35:12 user systemd[1]: elasticsearch.service: Main process exited, code=exited, status=1/F
Feb 07 15:35:12 user systemd[1]: elasticsearch.service: Unit entered failed state.
Feb 07 15:35:12 user systemd[1]: elasticsearch.service: Failed with result 'exit-code'.

[2018-02-07 10:37] marczerbo commented on #28002
Hello, just to tell that the workaround of jughead is working (probably was my fault on last tentative, sorry) and that I succeeded in using it in elasticsearch-py passing python "lang": None instead of keyword ‘null’ (see below for whom is interested).
Bye.

es.put_script (id="dummy_script",  body={ "script": { "lang": "painless", "source": "ctx._source.xxx = params.param1; …" } } )

es.update_by

[2018-02-07 11:19] martini97 commented on #28536
Thanks @colings86

[2018-02-07 11:51] pznamensky opened #28547 "elasticsearch doesn't honor queue size"
**Elasticsearch version**:
Version: 5.6.5, Build: 6a37571/2017-12-04T07:50:10.466Z, JVM: 1.8.0_161

**JVM version**:
openjdk version "1.8.0_161"
OpenJDK Runtime Environment (build 1.8.0_161-b14)
OpenJDK 64-Bit Server VM (build 25.161-b14, mixed mode)

**OS version** :
Linux 4.9.58-18.el7.x86_64 #1 SMP  x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior*

[2018-02-07 13:04] justinwyer commented on #28189
Had a look at this as a starting point for contribution. Looking how to implement this it looks like it would require:

- [ ] Adding a field to TranslogStats
- [ ] Adding a method to Translog
- [ ] Adding a field to Checkpoint

As this is labelled low hanging fruit I am wondering if I have thought about this correctly or not?

[2018-02-07 13:51] scottsom commented on #28189
I did an initial pass at an implementation for this and it is a bit trickier than it appears. The translog itself does not appear to track any timestamps. Instead, it is relying on the file system metadata (`Files.getLastModifiedTime(path)`) to figure out if a translog generation is a candidate for deletion. There is a similar method in Java to get the creation time (`Files.readAttributes(path, Ba

[2018-02-07 14:10] scratchy commented on #28026
having the same issue in #28524
were unable to rollback a force would be nice :(..

Since its a production cluster we also dont want to shutdown for this...

[2018-02-07 14:15] faxm0dem commented on #28026
If the official solution is what @jasontedor said, this should really make it to the [documentation on rolling upgrade procedure](https://www.elastic.co/guide/en/elasticsearch/reference/master/rolling-upgrades.html)

[2018-02-07 14:36] scratchy commented on #28026
This should not be the official solution for this.

Getting hell lot of errors downgrading / rollbacking ending in:

[2018-02-07 14:55] jasontedor commented on #28026
There is a misunderstanding here. This [comment](https://github.com/elastic/elasticsearch/issues/28026#issuecomment-355569742) that is being referred to as the "official solution" is not a solution. It is a proposal for how we should change Elasticsearch so that users can not end up in the situation that is causing so many problems here. It requires code changes to implement that solution and a ne

[2018-02-07 15:00] faxm0dem commented on #28026
Thanks @jasontedor for the clarification.
Is there a workaround for @scratchy who has a cluster with newly created indices, and who therefore cannot rollback?

[2018-02-07 15:13] cbuescher commented on #24886
I'm able to reproduce this on a virtual Windows 10 box, however the error looks a bit different (probably because using java 9.0.4). For

I get
[code]

And similarly for

[code]

[code]

So no direct mentioning of a `java.security.AccessControlException` here, although this could get wrapped somewhere. Since this fails only with particular seeds, I looked at what gets randomized in the underlying

[2018-02-07 15:26] cbuescher commented on #24886
@romseygeek pointed me to this [list of forbidden Windows 10 file names](http://kizu514.com/blog/forbidden-file-names-on-windows-10/) which `con` is on. So this issue seems to be a Windows only test issue that should only occur rarely. Since the randomization happens in Lucenes BaseDirectoryTestCase, this is probably also the place to fix this since it seems to be a more general problem with direc

[2018-02-07 15:36] cbuescher commented on #24886
The underlying issue is tracked in https://issues.apache.org/jira/browse/LUCENE-8163

[2018-02-07 16:26] #28543 closed

[2018-02-07 16:30] pangyikhei opened #28551 "org.elasticsearch.plugin:x-pack-security:6.2.0 transitive dependency not found on Elasticsearch Maven Repository"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.0

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_161

**OS version** (`uname -a` if on a Unix-like system): Windows 10

**Description of the problem including expected versus actual behavior**:

When trying to retrieve dependencies in my Gradle project that has a compile dependency on org.elasticsearch.client:x-pa

[2018-02-07 16:30] elasticmachine opened #30057 "Watcher: POST _xpack/watcher/watch/any_watch with any returns an NPE"
*Original comment by @spinscale:*

Trying to post a new watch without any body results in an NPE.

Happens in 6.1.3

[code]

returns

[code]

stack trace in the logs

[code]

[2018-02-07 16:31] jasontedor commented on #28551
This repository is for open source Elasticsearch only. Please use the [forum](https://discuss.elastic.co) for X-Pack.

[2018-02-07 16:31] #28551 closed

[2018-02-07 16:45] mayya-sharipova commented on #28026
@faxm0dem The current workaround is to remove archived settings by `PUT _cluster/settings { "persistent": { "archived.*": null } } `.   But it looks like deprecated settings have not been added `archived` prefix.  We will discuss in our next meeting possible workarounds from this.

[2018-02-07 17:03] hagna commented on #10551
It seems like the way to get this working is to install jvm and then dpkg install the .deb.

Java works

`root@raspberrypi:/home/pi# java -version
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-1~deb9u1-b12)
OpenJDK Client VM (build 25.151-b12, mixed mode)
`

But dpkg install reports these errors and does not put logstash in /opt/logstash/bin/logstash

`root@ras

[2018-02-07 17:24] azsolinsky commented on #28452
Ok, how did you determine no caching is happening if it returns an empty list?

https://github.com/elastic/elasticsearch/blob/139deb535a58de87c602888a121b2791bcd22df2/plugins/discovery-ec2/src/main/java/org/elasticsearch/discovery/ec2/AwsEc2UnicastHostsProvider.java#L239

https://github.com/elastic/elasticsearch/blob/139deb535a58de87c602888a121b2791bcd22df2/server/src/main/java/org/elasticsearch/c

[2018-02-07 18:07] strrrn commented on #28538
@jasontedor could you please provide the steps to downgrade 6.2 to 6.1.3 please. Until now I thought it isnt possible to downgrade elasticsearch

[2018-02-07 18:32] jasontedor commented on #28538
@strrrn Typically you can not. However, in the context of this bug Elasticsearch will not have successfully started (because an old plugin prevents that). This means that no changes would be made to files on disk (e.g., the cluster state) so the previously-installed version will still be able to read these files. This is why downgrading is safe here while typically it is not.

Regarding how to dow

[2018-02-07 18:35] polyfractal commented on #28541
I suspect there are a lot of gnarly edge-cases which would be non-trivial for the API to deal with.  E.g. handling partial, failed or rejected search responses, dealing with the real-time nature of search (one update may see a different value from the very next update), etc.  And latency would be a big concern, since updates now have to pend for a search to finish

[2018-02-07 18:39] polyfractal commented on #28533
Hi there @Cornoualis, thanks for the feature request.  Unfortunately, the issues in this repo are reserved for the open source Elasticsearch components, not X-Pack.  Would you mind moving your feature request to the [X-Pack forum](https://discuss.elastic.co/c/x-pack) instead?

Thanks!

[2018-02-07 18:39] #28533 closed

[2018-02-07 18:44] strrrn commented on #28538
@jasontedor thank you very much and for explaining the reason in detail!
The thread is located here https://discuss.elastic.co/t/how-to-downgrade-es-from-6-2-to-6-1-3/118904

[2018-02-07 18:54] polyfractal commented on #28518
I'm not sure I understand the issue?  The setting is an index-level configuration, in that you configure it on a per-index basis.  And the recommendation to decrease the number of merge threads if you're on a spinning drive is just to reduce IO contention, since spinning drives do not have nearly the random access IOPS that SSDs have.

What about the documentation should be updated?  Not trying to

[2018-02-07 19:17] ahadadi commented on #28518
This rephrase is exactly what I had in mind :)

[2018-02-07 19:30] elasticmachine opened #30058 "[CI] packaging tests on opensuse: test node to node communication"
*Original comment by @andyb-elastic:*

Test fails intermittently on opensuse

See also LINK REDACTED

[code]

LINK REDACTED

LINK REDACTED

[2018-02-07 19:42] polyfractal commented on #28385
Urgh, this is indeed confusing.  I'm not sure if there's a reason for this behavior, perhaps it just needs better documentation. @jimczi or @dakrone may know more.

The difference is caused by the interaction of Lucene's query parser and Elasticsearch's field expansion mechanism... and the order the ANDs are applied in.  I've rewritten your searches into query_strings for better readability and ra

[2018-02-07 19:48] polyfractal commented on #28524
I believe this is a duplicate of #28026?  E.g. known bug, and some deprecated settings weren't added to the "archived" set (https://github.com/elastic/elasticsearch/issues/28026#issuecomment-363831607) which needs fixing.

Closing in favor of #28026

[2018-02-07 19:48] #28524 closed

[2018-02-07 19:51] ahadadi opened #28555 "Add a node level limitation on the number of merging threads"
Currently there is no option to limit the number of merging threads per node.
The existing setting (index.merge.scheduler.max_thread_count) is a shard level setting, so even when set to 1 it's possible for #shards threads to merge together, hogging the CPU and hurting search latency.

[2018-02-07 20:22] jasontedor commented on #28547
I think this is a reporting problem only. The issue here is that we increment the size of the queued items, and then check if the capacity of the queue is exceeded. If the capacity of the queue is exceeded, we decrement the size, do not queue the item, and return to the caller that their offer to the queue was rejected. For the search thread pool, this leads to the thread pool task being rejected.

[2018-02-07 20:23] jasontedor commented on #28547
I submitted prematurely.

In short, I do not think there is a bug here. I think these tasks are correctly being rejected. Do you have evidence to the contrary?

[2018-02-07 21:03] polyfractal commented on #28555
Not my area of expertise (would be good to wait for someone else to weigh in), but I'm not sure this is possible from a technical perspective.  Each Lucene index (e.g. a shard) manages it's own merge scheduler and thus it's own thread pool.  I don't think we can share those threads across multiple IndexWriters.

But, I could be wrong.  :)

If you're having problems with merge load affecting search

[2018-02-07 21:14] pznamensky commented on #28547
We've got some graphs that corresponds to this issue for simular cluster.
As you can see, we've run out all search threads and requests are accumulating in queue.
And at the same time thread pool rejection rate remains about 1 per second.
Which is strange.
Also, what HTTP code is using in case when task is be rejected?
As I remember there were no 429 codes, only ones of 50x.
![es_queue](https://us

[2018-02-07 21:34] sowelie commented on #27205
@hariso I ended up creating an interface for the methods I needed, and subclassing RestHighLevelClient. Though, I guess there is an extension to mockito that can be used to mock final classes / methods. The pull you referenced doesn't explain why the methods have to be final. Do you know why this is?

[2018-02-07 22:02] jasontedor commented on #28555
To answer the immediate question, technically it would be possible.

[2018-02-07 22:41] jasontedor commented on #28547
Here is a failing test case that supports my theory:

[code]

This test works by occupying the threads with tasks that I do not let complete. Then, I stuff the queue with tasks. After that, all additional tasks should be rejected. While I am submitting tasks that will be rejected, I busy poll the number of queued tasks.

If my explanation is correct, I expect this test to fail because of the final

[2018-02-07 22:41] jasontedor commented on #28547
429.

[2018-02-07 22:57] rjernst commented on #28452
@azsolinsky The `empty` variable is set if the returned list is empty, which means `needsRefresh()` will always return `true`.

[2018-02-08 00:31] azsolinsky commented on #28452
Ok. Won't it still use the empty list for that call though as opposed to using the last good response? Suppose it stays throttled for 30 seconds?

On Feb 7, 2018, at 2:59 PM, Ryan Ernst <notifications@github.com<mailto:notifications@github.com>> wrote:

@azsolinsky<https://github.com/azsolinsky> The empty variable is set if the returned list is empty, which means needsRefresh() will always return

[2018-02-08 00:32] azsolinsky commented on #28452
Also that means there is a potential issue with retrying the call too much without exponential back off.

Jeff S

On Feb 7, 2018, at 2:59 PM, Ryan Ernst <notifications@github.com<mailto:notifications@github.com>> wrote:

@azsolinsky<https://github.com/azsolinsky> The empty variable is set if the returned list is empty, which means needsRefresh() will always return true.

-
You are receiving this b

[2018-02-08 00:43] jasontedor commented on #28547
Another important note here is that some search phases can *not* be rejected. For example, the can match search phase can [never be rejected so we force put into the queue these phases](https://github.com/elastic/elasticsearch/blame/v5.6.5/core/src/main/java/org/elasticsearch/action/search/InitialSearchPhase.java#L187-L191). This can also lead to the size exceeding the capacity.

[2018-02-08 01:27] jasontedor commented on #28547
Looking at your graph (thank you!) I think that the queue is behaving correctly here. I opened #28557 to address the reporting problem that I spotted. Otherwise, I think that there is not an issue here so I am going to close this one out.

[2018-02-08 01:27] #28547 closed

[2018-02-08 02:21] rjernst commented on #28452
I'm not saying the current behavior is good or correct, just that it will not "cache the empty list" as was originally stated in this issue.

[2018-02-08 02:27] azsolinsky commented on #28452
Ok, your point is taken. I took for granted that needsRefresh was being overridden, and thought it would not refresh on a second call. I updated the title. However, I think the behavior during throttling still needs to be addressed to protect the service from spikes calling the describe instance call API in the case of throttling.

[2018-02-08 06:44] pznamensky commented on #28547
@jasontedor, thanks for the explanation!

[2018-02-08 06:54] junkainiu opened #28560 "jvm heap size continuous increase"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.3.0
**Plugins installed**: []
None
**JVM version** (`java -version`):
1.8.0_66
**OS version** (`uname -a` if on a Unix-like system):
centos 7
Linux localhost.localdomain 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
**Description of the problem including expected versus actual behavior**:

We are

[2018-02-08 07:12] dadoonet commented on #28560
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-02-08 07:12] #28560 closed

[2018-02-08 07:40] ahadadi commented on #28555
@polyfractal I'm only familiar with indices.store.throttle.max_bytes_per_sec which has been [removed in 6.x](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_60_settings_changes.html#_store_throttling_settings).
Are you referring to some other setting?

[2018-02-08 07:41] ndegory opened #28561 "Plugin installation fails on Alpine"
Installing a plugin on ES 6.2.0 fails on Alpine:
[code]
_/opt/elasticsearch/bin/elasticsearch-env_ uses _mktemp_, with two different syntaxes for the coreutils version and the darwin version. Unfortunately _mktemp_ on Alpine Linux is provided by BusyBox and requires a different syntax.

[2018-02-08 08:41] colings86 commented on #28561
Alpine Linux is not a supported OS for running Elasticsearch (see https://www.elastic.co/support/matrix for a list of OSes that are supported). We had looked into supporting Alpine linux before specifically around using it in docker images but found many problems including https://github.com/elastic/elasticsearch-docker/issues/44#issuecomment-291172031 and ultimately decided that supporting Alpine

[2018-02-08 08:41] #28561 closed

[2018-02-08 09:47] justinwyer commented on #28189
Thanks for the insight! Implementation of the file create time with fallback to `System.currentTimeMillis()` is pretty straight forward, I am however struggling with the test implementation as the transaction log is created at the start of the test resulting in a creation time of  0 milliseconds ago. How are similar test cases handled in the elastic code base?

[2018-02-08 10:48] bleskes commented on #28189
@justinwyer thanks for your interest.

This seems reasonable.

Why do think we need something more? we already have something to get a stats object?

What were thinking to do here? I think we can use the current list of readers. Something like `org.elasticsearch.index.translog.Translog#sizeInBytesByMinGen` but using other properties of the readers.

I'd prefer to use exactly the same information t

[2018-02-08 11:01] bleskes commented on #28555
@jpountz any opinion? seems to me that a node level setting is more inline with what we do in other places, but I don't have a good grasp of the implications to Lucene.

[2018-02-08 11:21] cbuescher opened #28568 "[CI] TikaDocTests and AttachmentProcessorTests failing on oracle-java10-periodic"
The following tests fail reproducibly for the java-10 builds on master and 6.x:

I can reproduce this locally using Oracle Corporation 10-ea [Java HotSpot(TM) 64-Bit Server VM 10-ea+42] on master with

[code]

The failures look like:
[code]

Which just seems the documents are not parsed at all. Also I see several warning in the beginning of the test run:
[code]

Instances of recent failures:
https

[2018-02-08 11:55] Cornoualis commented on #28533
Hi @polyfractal ! Sure, I will! Have a nice day!

[2018-02-08 13:17] javanna commented on #28500
I believe this will be addressed by implementing a custom node selector once we have added support for them as part of #21888 .

[2018-02-08 13:22] javanna commented on #28326
@asmita2201 we just realized that some recent snapshots are missing in our snapshots repo. We are fixing that as we speak, will let you know once it's fixed so you can try again.

[2018-02-08 13:37] scottsom commented on #28189
The idea was the age of the oldest operation would be the current time minus the timestamp of the first operation in the oldest generation. Since there isn't a timestamp per operation then this can be approximated by the creation time of the oldest generation. This would tell you how long the translog has you covered for.

It sounds like I was over complicating it though, the last modified time on

[2018-02-08 13:59] cbuescher commented on #28568
Looks like the problem is hidden somewhere in  `TikaImpl#parse` which returns an empty result for the affected tests when run on jdk 10, while the results look okay on jdk 9. It probably makes sense to temporarily disable these tests on jdk 10 for now.

[2018-02-08 14:11] javanna commented on #27205
@sowelie some methods were made final because they are not meant to be subclassed. `RestHighLevelClient` is non-final as it can be extended by adding new methods to it (think of adding support for plugins that add custom endpoints to Elasticsearch). Such custom methods can use the existing internal `perform*` protected methods which are the core of the class itself. We don't want the core of this

[2018-02-08 14:24] jasontedor commented on #28561
@ndegory As @colings86 mentioned, we indeed do not support Alpine Linux. We resist making changes to our codebase for OS that we do not support. This is because without CI infrastructure in place, we can not maintain that code.

In this specific case, you can workaround this issue by setting `ES_TMPDIR` inside the container (use the `ENV` directive). This will bypass the use of `mktemp`.

I want t

[2018-02-08 14:56] polyfractal commented on #28555
@ahadadi Yep, ignore me... forgot that was removed.  I'm 0/2 on this ticket :)

[2018-02-08 15:18] martijnvg opened #28573 "Add support for specifying multiple ids in the percolate query"
Since 6.1, specifying multiple documents in a single percolate query was added.

It makes sense to also support specifying multiple ids:

[code]

and in case when fetching from multiple indices:

[code]

Not sure about the "ids" name in the above example.

Behind the scene mget should be used to fetch these documents.

[2018-02-08 16:49] dan-blanchard commented on #22576
Is there a way to tell ES that we would actually like `fielddata` enabled for some of these special fields? For example, we were using `_version` in a `function_score` to help boost by item popularity (much like [this discussion question](https://discuss.elastic.co/t/elasticsearch-5-6-x-using-version-in-a-function-score-query/119045)), but can no longer do that in ES 5.x.

[2018-02-08 17:10] ghavaun opened #28577 "@ghavaun/elastic"

[2018-02-08 17:22] jasontedor commented on #28538
We shipped [Elasticsearch 6.2.1](https://www.elastic.co/blog/elasticsearch-6-2-1-released) today with a fix for this issue.

[2018-02-08 17:32] elasticmachine opened #30059 "SQL: ODBC metadata that characterises one column in a result set"
*Original comment by @bpintea:*

Below is a listing of the items that clients would need to be able to access for every single column of a result set. The items are described briefly, a more complete description can be found at LINK REDACTED and LINK REDACTED.
Note that the LINK REDACTED is for the clients to use a restricted set if performing reading operations (versus an extended one when perfor

[2018-02-08 17:37] cbuescher opened #28578 "[CI] OOM on DateDerivativeIT using Zing"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+zing/113/console

Several OOM Failures like this:
[code]

[code]

[2018-02-08 18:05] dakrone opened #28579 "[CI] SizeBlockingQueueTests.testQueueSize fails on 6.x"
I am seeing this failure every once in a while:

[code]

When running *all* tests (I haven't been able to reproduce it running as a single test)

Related to #28557

[2018-02-08 18:16] dakrone commented on #28579
Here's one that just failed in our CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux/2025/console

[2018-02-08 18:34] cbuescher commented on #28579
I was just looking into this, I think I have a solution, will open a PR

[2018-02-08 18:52] scratchy opened #28583 "parsing issue"
Hello

having issues during inserts sadly i cant reproduce it.

Theres to much throughput that i can figure out whats exactly the document.

Heres how we feed the bulkProcessor:
[code]

The code above works without any trouble running it for different documents.

Also when i index the document with BulkProcessor again it seems not to happen anymore.

Running on 6.2.0, using BulkProcessor and GSON

[2018-02-08 19:25] #28583 closed

[2018-02-08 19:34] mayya-sharipova commented on #24416
The index sorting test still fails elastic/elasticsearch 6.x:

 Failure at [indices.sort/10_basic:143]: hits.hits.6._id didn't match expected value:
 hits.hits.6._id: expected [8] but was [5]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+oracle-java9-periodic/69/console
REPRODUCE WITH:
[code]

@jimczi  I have noticed that that you reverted back  : `number_of_replicas: 1`. Is t

[2018-02-08 21:13] darinhoward commented on #18416
I'd like to add this feature - but seems like Secure Settings pattern may not allow for it 6.x - https://www.elastic.co/guide/en/elasticsearch/reference/6.2/secure-settings.html.

Thoughts ?

[2018-02-09 01:31] chrisvanderpennen opened #28590 "Elastic 6.2.1 in a Windows 2016 container crashes on startup if path.data is a volume"
**Elasticsearch version** (`bin/elasticsearch --version`):
`Version: 6.2.1, Build: 7299dc3/2018-02-07T19:34:26.990113Z, JVM: 9.0.4` (just in case)
`Version: 6.2.1, Build: 7299dc3/2018-02-07T19:34:26.990113Z, JVM: 1.8.0_162`

**Plugins installed**: []

**JVM version** (`java -version`):
Oracle server JRE windows/x64, versions:
[code]
[code]
**OS version** (`uname -a` if on a Unix-like system):
Dock

[2018-02-09 02:16] dnhatn commented on #25773
I am looking at this.

[2018-02-09 03:40] dchang-novotec commented on #13673
Any updates on this feature going in?  There is a lot of interest in this feature making it in expressed in this PR: https://github.com/elastic/elasticsearch/pull/16843

[2018-02-09 03:51] erdarun opened #28591 "Snapshot/Restore API should have an option to be targeted for specific node in cluster"
**Snapshot & Restore API should have an option to target specific node in elasticsearch cluster.**:

[2018-02-09 03:55] xzer commented on #13136
yes, I also noticed that in the recent 5.x lib, this issue still exists...

[2018-02-09 04:03] tvernum commented on #28591
Can you please explain this with a bit more detail? What would this targeted node do?
Are you simply attempting to avoid the need for networked storage?

To snapshot an index, you need to snapshot all shards for that index, and those shards may be spread across multiple data nodes. It's not possible to snapshot from a single node except in very simplistic circumstances where all shards are availab

[2018-02-09 04:19] tvernum commented on #28568
Per https://github.com/elastic/elasticsearch/pull/28570#issuecomment-364330623, this seem to be due to a JDK change that adds a `getDeclaredMember` call inside `java.util.ZipFile`

[2018-02-09 06:40] berglh opened #28592 "Improve Verbosity of Elasticsearch cluster_block_exception Message Payload"
## Environment
Elasticsearch 5.5.1 & 6.1.1

## Proposal
Add the target index name in the response message of the cluster_block_exception

## Justification
Recently I have implemented a new policy of setting older indices as read-only to prevent things such as misdirected `delete_by_query` operations :unamused:. I also run Elastic Curator to close the oldest indices for period of seven days before

[2018-02-09 06:48] theragnarpatel opened #28593 "after installing x-pack into elastic search , local host as elasticsearch and kibana can not connect , error: elasticsearch in not connected , (plugin:elasticsearch@6.2.1 | Unable to connect to Elasticsearch at http://localhost:9200)"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2018-02-09 06:52] dadoonet commented on #28593
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-02-09 06:52] #28593 closed

[2018-02-09 07:03] theragnarpatel commented on #28593
Ok, appreciate that, sorry about that and  thankyou

[2018-02-09 07:58] justinwyer commented on #28189
I was thinking something similar I just wasn't sure where we would get a timestamp, but the oldest last modified of any generation makes sense, thanks!

Do we have a preference for time handling ie. using Joda `DateTimeUtils.currentTimeMillis` vs `System.currentTimeMillis()` if we use Joda then overriding the time provider is not allowed which means non deterministic testing.

So my question for t

[2018-02-09 08:01] colings86 commented on #28590
@jasontedor I'm assigning to you but there may well be someone else better suited to look at this so feel free to pass it on to them. Also maybe @Mpdreamz has some thoughts about what might be going on here?

[2018-02-09 08:51] albertzaharovits opened #28594 "SocketAccess using AccessController with permissions"
Java 8 defines a new [`AccessController#doPrivileged`](https://docs.oracle.com/javase/8/docs/api/java/security/AccessController.html#doPrivileged-java.security.PrivilegedExceptionAction-java.security.AccessControlContext-java.security.Permission...-) method that allows to specify a limited set of permissions, instead of granting all.

We have several `SocketAccess` classes scattered around plugins

[2018-02-09 08:53] dadoonet commented on #28594
I agree. That'd be nice also to allow OSS plugin developers to have access as well to this method.

[2018-02-09 09:01] colings86 opened #28596 "Should there be a global `max_concurrent_shard_requests` cluster setting?"
Search requests have a query parameter called `max_concurrent_shard_requests` which limits the number of shards that will be searched concurrently. At the moment this can be set per request and if not set it defaults to `min(256, nodeCount * default(index.number_of_shards))`. `default(index.number_of_shards)` means the default value of the `index.number_of_shards` settings which itself defaults to

[2018-02-09 09:08] MarneusCalgarXP opened #28597 "Error when upgrading with x-pack : FileAlreadyExistsException: /usr/share/elasticsearch/bin/x-pack/croneval.bat"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.1

```Version: 6.2.1, Build: 7299dc3/2018-02-07T19:34:26.990113Z, JVM: 1.8.0_161```

**Plugins installed**: [x-pack]

**JVM version** (`java -version`): OpenJDK 1.8.0 161 64bits

[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:

After uninsta

[2018-02-09 09:16] ZhiqinYang commented on #9951
me too

[2018-02-09 09:30] colings86 commented on #28597
The old version of the X-Pack plugin needs to be removed using `./bin/elasticsearch-plugin remove x-pack` before installing the new version of the plugin (between steps 9 and 10 in your recreation steps). Please see the following documentation for more information on the process of upgrading X-Pack:
https://www.elastic.co/guide/en/x-pack/6.2/xpack-upgrading.html

[2018-02-09 09:30] #28597 closed

[2018-02-09 09:46] Mikhail-Sveshnikov opened #28599 "Feature request: explicit unique count metric"
Redirected from:
https://discuss.elastic.co/t/explicit-unique-count-for-business-intelligence-tasks-no-chance/118641

Request to add a new metric that will allow to get an explicit unique count by field apart from existing approximate Unique Count that utilizes cardinality.

[2018-02-09 10:03] markharwood opened #28600 "[CI] LangPainlessClientYamlTestSuiteIT misses deprecation warnings"
Error in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/1157/console

An expected warning message failed to appear:

I took a look but it did not reproduce for me:

    ./gradlew :modules:lang-painless:integTestRunner -Dtests.seed=8E78B1E6509C9509 -Dtests.class=org.elasticsearch.painless.LangPainlessClientYamlTestSuiteIT -Dtests.method="test {yaml=painless/50_script_doc_v