[2017-03-28 08:09] olcbean commented on #23044
I have a quick question regarding the workflow that is / should be followed (I guess this is not the most appropriate place to ask but the dev discussion board has been deleted few months back...)

However, here is my question:

@DanielLyons178 was the first to say that he would like to work on the issue and according to the https://github.com/elastic/elasticsearch/pull/23701#issuecomment-28846957

[2017-03-28 08:11] clintongormley commented on #23727
the `bucket_selector` script is for selecting buckets.  In your first example, you have no bucket aggregation to produce buckets, so you have nowhere to use the `bucket_selector` agg.

In your second example, you're applying the `bucket_selector` agg to the wrong level.  Try this instead:

[code]

[2017-03-28 08:11] #23727 closed

[2017-03-28 08:15] olcbean commented on #23570
If OK I would like to give it a try.

[2017-03-28 08:16] clintongormley commented on #23751
Closing in favour of https://github.com/elastic/elasticsearch/issues/20426

[2017-03-28 08:16] #23751 closed

[2017-03-28 08:19] clintongormley commented on #23044
@olcbean people frequently volunteer but then don't end up completing, which is why we leave the `adoptme` label in place.  in this case, however, @DanielLyons178 is actively working on a PR here https://github.com/elastic/elasticsearch/pull/23061

[2017-03-28 08:53] Mpdreamz opened #23774 "%JAVA_HOME% resiliency on Windows"
Right now we break if:

* `JAVA_HOME` end with a trailing slash
* Path is already quoted in the variable.

We should either attempt to fix, or detect and exit with a more appropriate message explaining the issue and the fix.

[2017-03-28 08:57] marcovdkuur commented on #12366
+1

[2017-03-28 09:05] olcbean commented on #23044
@clintongormley thank you for the quick response and swift actions :)
I saw that @DanielLyons178 is currently working on the issue and that's why I picked this one to ask my question ;)

So just to confirm : In general an issue with `adoptme` label is a fair game until somebody volunteers to work on it. At this point the `adoptme` label should be ignored.
As I am looking to get my feet wet, may I

[2017-03-28 09:31] bleskes commented on #23570
@mjustin can you clarify what those things are? I want to double check that they are based implemented by listening to indexing operations.

[2017-03-28 10:03] olcbean commented on #22573
I would like to have a look at this issue iff @kunal642 is not already working on it.

[2017-03-28 10:07] kunal642 commented on #22573
@olcbean This is almost done. I have been a little busy, will raise the PR soon.

[2017-03-28 10:35] clintongormley commented on #23044
@olcbean any issue is open for taking, I'd just (a) choose something appropriate to your knowledge of Elasticsearch and Java and (b) check that there isn't a PR in progress from somebody else

[2017-03-28 11:14] apatrida commented on #20426
This will benefit the new [secure Kotlin script engine for Elasticsearch](https://github.com/kohesive/keplin) as well.  It can execute both text based scripts where we can compile the script to a different base class that handles the context interface, and also can ship client-side lambdas as binary inline scripts that are extensions to a receiver class which represents the context interface or th

[2017-03-28 11:33] jasontedor commented on #23570
@olcbean Before spending too much time on this, we have not come to a decision whether or not this feature should be implemented. I think we need to understand the use-case better, as evidenced by the questions that @bleskes has asked already.

[2017-03-28 12:17] clintongormley commented on #23745
If we were to change the default to `false`, the outcomes would be:

* You have to explicitly create an index (even an empty index) before indexing a document
* Or you have to have a template which matches the index

The downside of removing auto-create during development is small: you just run `PUT test` before continuing.

In production, you almost never want a completely unmapped index to sprin

[2017-03-28 12:19] nik9000 commented on #20426
Given how we work long running branches are a huge pain to maintain. No one is actively working on this at the moment. I was a few days ago, but that turned out to be a dead end: https://github.com/elastic/elasticsearch/pull/23744

[2017-03-28 12:27] #23720 closed

[2017-03-28 12:31] nik9000 commented on #23724
I can't reproduce this on 5.x and master and I merged https://github.com/elastic/elasticsearch/pull/23677 to it so I *think* this should be fixed, at least in 5.x.

[2017-03-28 12:31] #23724 closed

[2017-03-28 12:45] #22621 closed

[2017-03-28 13:05] javanna commented on #23745
Does this imply that we would still do the index creation automatically but only in case there is a matching template? So the index creation step will not be mandatory at all times?

[2017-03-28 13:06] nik9000 commented on #23702
Closed by b3dca364ced3b67c5fdb835ce9b4b5fdf5125a0e.

[2017-03-28 13:06] #23702 closed

[2017-03-28 13:07] clintongormley commented on #23745
Correct - if there is a matching template, the index can be created automatically (although we have spoken about setting in the template which allows this behaviour to be disabled).

Regarding the above para: why would you have a template if you don't want indices to be created automatically?  One possible reason: the rollover API.  Any others?

[2017-03-28 13:13] gmoskovicz opened #23775 "Painless and Working with Dates"
Some functionality in Elasticsearch requires one to parse dates to a custom format so we can return this in the output. Some examples of this would be:

- Scripted fields with a custom date format
- Scripted aggregation (though date histogram is better/easier)
- Watcher outputs (expose the date in a custom format)

It would be great to add some examples in the documentation around how to manipulat

[2017-03-28 13:29] javanna commented on #23745
Templates and indices may be created/managed by different people? Don't we want to still apply templates to indices that are manually created (although what is in the request has the precedence)?

[2017-03-28 13:29] clintongormley commented on #23745
fair enough

[2017-03-28 13:31] clintongormley commented on #23755
We should complain about unknown keys at the same level as `mappings`/`settings`

[2017-03-28 13:54] danielmitterdorfer commented on #23185
As I've written in my previous comment, there is not enough memory headroom for Lucene during indexing. As the other major contributor to memory allocations is Netty, this led me to investigate the impact of Netty's recycler again (see also #22452). Unless explicitly noted otherwise, this discussion applies to a heap size of 2GB (i.e. `-Xms2g`, `-Xmx2g`) which is currently the default heap size fo

[2017-03-28 14:17] #6731 closed

[2017-03-28 14:26] marcdeop commented on #23675
Hello,

These numbers are all expected: under normal operations, each node has 45-50k open contexts. On the current cluster, this adds up to ~600k open contexts on 12 nodes.

We do not close scrolls ourselves: we just wait until they expire and according to what @jasontedor  is saying, they’re expiring correctly.

Regardless of the optimizations that we have planned, lowering down to 30k-40k open

[2017-03-28 14:43] jasontedor commented on #23675
Why so many?

You should close these when you're done with them.

You say this like this is under dispute. This is not under dispute. Instead, I am trying to understand the situation.

[2017-03-28 14:44] #23629 closed

[2017-03-28 14:52] pmourlanne opened #23776 "Date histogram: offset not working as expected"
**Elasticsearch version**: 5.2.2

**Plugins installed**: none

**JVM version**: openjdk version "1.8.0_121"

**OS version**: docker container "elasticsearch:5.2.2"

**Description of the problem including expected versus actual behavior**:
Adding an offset to a date histogram with extended bounds does not behave like described in the documentation (https://www.elastic.co/guide/en/elasticsearch/refe

[2017-03-28 14:56] clintongormley commented on #23714
I really don't want to make this change contingent on anything else. It is a good solution in and of itself. Let's keep this issue on topic.

[2017-03-28 15:01] jasontedor commented on #23185
I'm confused, the recycler is disabled now and I do not see that you've enabled it. Did you mean buffer pool?

[2017-03-28 15:06] danielmitterdorfer commented on #23185
Yes, I meant the buffer pool and have corrected my comment above now. Thanks for double-checking!

[2017-03-28 15:09] jasontedor commented on #23185
Okay, now it makes sense; thank you.

[2017-03-28 15:12] jasontedor commented on #23675
So, to be clear here, it [can overflow](https://github.com/elastic/elasticsearch/issues/23675#issuecomment-288138483), that is not open to dispute. Instead, we need to understand the circumstances under which it can before concluding what to do about it (for which there are many options).

I maintain that you should be doing this and I want to see what impact that has on your cumulative scroll tim

[2017-03-28 15:13] #4877 closed

[2017-03-28 15:26] abeyad commented on #4877
@loren we have exposed the pattern keyword marker token filter from Lucene in ES: https://github.com/elastic/elasticsearch/issues/23600

With this, you could specify your minimum token length as a regular expression pattern

[2017-03-28 15:28] loren commented on #4877
Excellent! And a much more widely useful solution than I had expected. Thanks!

[2017-03-28 15:44] jdconrad opened #23777 "Improve Painless Documentation"
Painless documentation has been lacking for a while (serious understatement here).  This issue will lay out the plan and track the progress for improved docs.

Lang Spec - General lang spec for Painless
Examples - Show code for Painless
Bindings - Explain each available variable for the binding (context)

[ ] Lang Spec: Intro (being edited)
[ ] Lang Spec: Constants, Variables, and Types (being edi

[2017-03-28 15:49] jmwilkinson commented on #10005
This would be nice to have. We encounter a loss of precision when logging from a source generating at the microsecond level. We can get around this by using sequence numbers, but we would prefer not to have the loss of precision. When you're measuring hardware functions you want as precise time as possible.

[2017-03-28 15:50] ojundt commented on #23628
@jimczi, thanks for reopening. I'm able to access the failing queries but I'm afraid I'm not allowed to share them here. Mappings maybe. Is there something specific you are looking for or that I can test for you?

As far as I can see now the same query succeeds after a few minutes so it's hard to reproduce. I will have a closer look at the end of the week.

[2017-03-28 15:51] marcdeop commented on #23675
By how our search is designed and our load, this is expected. Again, we plan on optimizing this to have 30k-40k open contexts in total

Due to how the application is designed, we cannot really know when we are "done" with them. That is why we are relying on the expire time ( We have on the roadmap to reduce this expire time though ).

I apologize, in fact, we really appreciate the effort that you

[2017-03-28 16:01] benkhlifafahmi opened #23778 "Add loadbalancing between data location"
Hi,
I would like to suggest a new feature
where E.S will change location automatically when a data point is up
for e.g
if i put in the configuration
path.data = ["/mnt/first", "/mnt/second"...., "/mnt/storagen"]
path.limit = 90

Now E.S will store data in /mnt/first and when it reach 90% of that mounted disk ti will automatically balance the storage to the next one...

I'll be glad to see this fun

[2017-03-28 17:02] sherry-ger commented on #23529
Aligning read and write resolved the issue.  Closing.

[2017-03-28 17:02] #23529 closed

[2017-03-28 17:17] jasontedor commented on #23778
In Elasticsearch, we stripe across the `path.data` at the shard level (an entire shard will sit on a single disk). This is better than using one path at a time as it parallelizes use of the disks. Additionally, by the proposal here, using a disk until it is nearly filled means that we run dangerously close to not being able to add more data to a shard without it being moved to another disk. I do n

[2017-03-28 17:17] #23778 closed

[2017-03-28 18:26] tlrx commented on #23776
Thanks for reporting @pmourlanne. It looks like there's a strange behavior with extended_bounds combined with an offset.

I used the following scenario to reproduce on 5.2.2 and the last result does look strange to me too. @cbuescher worked on extended bounds, maybe you have an idea?

[code]
Aggregation with extended bounds and no offset returns:
<details>

[code]
</details>

And the same with off

[2017-03-28 19:03] cbuescher commented on #23776
I will look into this.

[2017-03-28 19:07] elasticmachine opened #29771 "HTTP API to return list of privileges?"
*Original comment by @ycombinator:*

Currently in the Add/Edit Role UI in Kibana, we show a list of cluster-level privileges like so:

<img width="501" alt="screen shot 2017-03-28 at 11 18 36 am" src="LINK REDACTED">

This list is currently LINK REDACTED. Consequently when new privileges are added in Elasticsearch X-Pack, there's a risk of them being missed from the Add/Edit Role UI in Kibana.

Wo

[2017-03-28 19:33] djschny commented on #23681
Would you mind elaborating how this is possible for non-trivial log ingestion? For example, when ingesting different kinds of logs (security, network, app, DB, etc.) into the same cluster usually these go into separate index patters. For example:

* logs-**app**-YYYY.MM.DD
* logs-**network**-YYYY.MM.DD
* logs-**security**-YYYY.MM.DD

Each of those will different mappings, shard settings, etc becau

[2017-03-28 20:04] benkhlifafahmi commented on #23778
@jasontedor  thanks , for your explication.

[2017-03-28 20:58] r0c opened #23780 "s3 repository with AWS instance profile not working"
**Elasticsearch version**: 5.2

**Plugins installed**: [repository-s3]

**JVM version**:
java version "1.8.0_102"
Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.102-b14, mixed mode

**OS version**: CentOS Linux release 7.3.1611 (Core)

**Description of the problem including expected versus actual behavior**:
I am using repository-s3 with aws insta

[2017-03-28 21:02] abeyad commented on #23780
Kindly ask any questions on the https://discuss.elastic.co forum we provide.  We reserve Github for bugs and feature requests.  Thank you.

[2017-03-28 21:02] #23780 closed

[2017-03-28 21:06] cmorss commented on #20257
I totally understand moving mappings up to the index level (basically removal of types), however we use strict mapping and there will be no way with this proposal that we'll be able to enforce which fields are allowed in a child vs a parent. If my understanding is correct, I'll be able to enforce mapping on the union of my logical children fields with logical parent fields, but if a field is logic

[2017-03-28 21:35] james08 commented on #23727
Thanks Clinton. I'm hoping a similar pattern will work with the nested structure. I'll give it a try.

[2017-03-28 21:49] portante commented on #10005
@jmwilkinson, at that frequency, don't we always need to record the total order since we can get multiple logs at the microsecond level these days?

[2017-03-28 23:02] jsgandalf commented on #22645
I'm also having the same issues... I'm trying to find empty values, and have set my index mapping to keyword (which technically does not analyze so it should pick up on the "" values)

[code]

[2017-03-29 00:56] jitran opened #23781 "Remapping Property Types"
**Elasticsearch version**: 5.1

**Plugins installed**: none

**Description of the problem including expected versus actual behavior**:

We're shipping logs to AWS Elasticsearch 5.1 using Fluentd. By default, most of our log properties are dynamically mapped to the string type. The Fluentd log collector does not let us define the mapping. It seems once the mapping has been created, it's not possibl

[2017-03-29 01:01] tvernum commented on #23781
Hi @jitran

Elastic uses GitHub to track identified issues, and feature requests. We have a [discuss forum](https://discuss.elastic.co) for questions and investigating problems.

Since this is a question about how Elasticsearch works, I'm going to close this issue and ask that you post it to the forum instead.

[2017-03-29 01:01] #23781 closed

[2017-03-29 01:32] toniov opened #23782 "Lookup mechanism has bad performance for large terms list"
According to the docs, Terms Query [lookup mechanism](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-terms-query.html#query-dsl-terms-lookup) is supposed to be used to filter a lot of terms.

I tested it with Elasticsearch version `2.3.4` with a 2 million documents index, and filtering with around 20 thousand terms make the query quite slow (more than 500ms).

There is a

[2017-03-29 02:47] nbqyqx commented on #23765
the query norm still has the side effect. I want the score 100 not  if all match the query

"_explanation": {
"value": 1.3867505,
"description": "sum of:",
"details": [
  {
"value": 1.3867505,
"description": "sum of:",
"details": [
  {
"value": 0.5547002,
"description": "ConstantScore(building_house_type_building_region_id: 	+), product of:",
"details": [
  {
"value": 40,
"description": "boost",

[2017-03-29 03:03] sudo-suhas commented on #23731
@javanna I have found another inconsistency in the documentation for Geo Distance Aggregation. Should I open an issue for it? I am worried that I might be spamming issues.

[2017-03-29 03:43] nbqyqx commented on #23765
I tried the boolean similarity found it can not be applied to range query either:
========
{
  "query": {
     "bool" : {
       			"disable_coord":"true",
                "should": [
                  {"term" : { "building_house_type_building_city_id" : "112", "boost":0 }},
                  {"term" : { "building_house_type_building_region_id" : "1195", "boost":40 }},
                  {"term" :

[2017-03-29 05:11] qzhJie opened #23783 "how to rename an index?"
**Elasticsearch version 5.0.1**:

**Plugins installed**: []

**JVM version**:

**OS version**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

[2017-03-29 05:11] dadoonet commented on #23783
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-03-29 05:11] #23783 closed

[2017-03-29 06:54] jpountz commented on #23782
I think we should set expectations in the docs indeed. Large terms filters are problematic in general, even if the lookup mechanism is not used.

[2017-03-29 07:30] danielmitterdorfer opened #23784 "BWC tests should use portable path separators"
**Symptom**

The `createClone` task in the `:distribution:bwc-zip` project creates its checkout directory with forward slashes: `String checkoutDir = "${buildDir}/bwc/checkout-5.x"`.

On Windows builds, we see the following faillure (see [example build failure](http://build-us-00.elastic.co/job/es_core_master_windows-2012-r2/5156/console)):

[code]

The checkout directory uses mixed path separator

[2017-03-29 07:43] Gacko opened #23785 "Restart on yum upgrade fails."
**Elasticsearch version**: 5.2.2 -> 5.3.0, maybe 5.2.1 -> 5.2.2 also.

**Plugins installed**: None but the default ones.

**JVM version**:
[code]

**OS version**: Not relevant. Well, any Linux distribution using `yum`.

**Description of the problem including expected versus actual behavior**:
Having `RESTART_ON_UPGRADE` enabled in `/etc/sysconfig/elasticsearch` automatically stops Elasticsearch on

[2017-03-29 08:04] jpountz commented on #23765
Query norm is only a feature of the `classic` similarity, so I suspect you are somehow opting in for it at index creation time by doing something like this:

[code]

If that is the case, just remove these index settings, which will cause Elasticsearch to use BM25 as the base similarity, which does not perform query normalization.

[2017-03-29 08:30] clintongormley commented on #23681
Correct

I meant a single valid template per use case.  That's only three templates, not thousands.

[2017-03-29 08:38] nbqyqx commented on #23765
I have no classic  similarity setting, instead using custom boolean similarity
=====
"settings": {
    "index": {
      "refresh_interval": "5s",
      "max_result_window" : 500000
    },
    "similarity" : {
      "custom_similarity" : {
        "type" : "essimilarity"
      },
      "boolean_similarity" : {
        "type" : "boolean"
      }
    }

[2017-03-29 08:43] jpountz commented on #23765
Oh sorry I'm seeing you are using Elasticsearch 2.3. I thought you were on 5.x since you were able to test the boolean similarity. Then you need to explicitly opt in for BM25. In order to do that, you should close your index, update the default similarity and open the index again. The update call should look something like that:

[code]

[2017-03-29 09:20] HatBoy opened #23786 "What are the factors that affect the performance?"
**Elasticsearch version**:5.1.1

**Plugins installed**: [ik]

**JVM version**:jdk1.8.0_11

**OS version**:CentOS release 6.8 (Final), 2.6.32-642.3.1.el6.x86_64

**Description of the problem including expected versus actual behavior**:
First, I have two same machine， everyone memery is 32G, this is my part of config:
192.168.1.5 jvm.options:
-Xms12g
-Xmx12g
-XX:+UseConcMarkSweepGC
-XX:CMSInitiating

[2017-03-29 09:33] dadoonet commented on #23786
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-03-29 09:33] #23786 closed

[2017-03-29 09:41] jpountz opened #23787 "Cannot recover from bad analysis settings"
This problem was reported at https://discuss.elastic.co/t/keyword-filter-requires-either-keywords-or-keywords-path-to-be-configured/80332/3. If you update analysis settings with an empty list of keywords in a keyword marker filter on a closed index, the index will fail to reopen and there does not seem to be any way to recover from this situation. This problem was reported on Elasticsearch 5.2 but

[2017-03-29 10:39] nbqyqx commented on #23765
It does work when I removed the field similarity setting and set the default similarity to BM25. :)
Thanks~

[2017-03-29 11:00] danielmitterdorfer opened #23790 "MultiClusterSearchYamlTestSuiteIT{p0=/10_basic/Index data and search on the old cluster} fails"
* Link to failed build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/757/console
* Reproduction line: `gradle :qa:multi-cluster-search:remoteClusterTestRunner -Dtests.seed=2C5B47B8A3E32364 -Dtests.class=org.elasticsearch.upgrades.MultiClusterSearchYamlTestSuiteIT -Dtests.method="test {p0=/10_basic/Index data and search on the old cluste

[2017-03-29 11:13] makeyang commented on #23546
how about add a breaker for in-memory datastructures when open index reader?

[2017-03-29 11:42] NeilRickards commented on #19134
Does ES actually have anything on that NFS mount - data, binaries, config, etc.?
If so, then failing when the mount is unavailable sounds reasonable (though ideally with more logging).
If, on the other hand, ES (or Lucene) is just enumerating all the mounts on the system and hanging, then that sounds like undesirable behaviour.

[2017-03-29 11:43] redserpent7 opened #23792 "Slow bulk updates"
Hi,

Recently I encountered an issue after migrating my cluster from 1.7 to 5.2. I have experienced extremely slow bulk updates to the extent where it took 1 week to update 1M files where in 1.7 those took minutes.

I have reported this on [Elastic Discuss](https://discuss.elastic.co/t/bulk-updates-are-extremely-slow-after-upgrading-to-5-2/79450/15). And did not get any valid answer for why I am e

[2017-03-29 12:09] jasontedor commented on #23792
Let's keep the discussion on the [forum](https://discuss.elastic.co/t/bulk-updates-are-extremely-slow-after-upgrading-to-5-2/79450/15) as cross-posting just fractures discussions making them harder to follow. We can reopen this if there is a verified bug.

[2017-03-29 12:09] #23792 closed

[2017-03-29 12:13] redserpent7 commented on #23792
@jasontedor If you'd like to. However I strongly believe this is a major bug with ES.

[2017-03-29 13:00] apatrida commented on #22380
@zplzpl why was this closed?  did you have a workaround?

[2017-03-29 13:29] jakommo opened #23793 "Confusing wording on preference docs"
Currently the [Preference](https://www.elastic.co/guide/en/elasticsearch/reference/5.3/search-request-preference.html) docs are saying:

The term `shard replicas` makes it sound like it would only use replica shards by default, while my understanding is it uses `a` shard, no matter if primary or replica.

From my discussion with @GlenRSmith and others, proposing to change it to something like:

to

[2017-03-29 13:44] murfee25 opened #23796 "source filtering on nested properties no longer returning empty[] when no nested documents."
**Elasticsearch version**: 5.2.2

**Plugins installed**: none

**JVM version**: 1.8.0_111

**OS version**: Windows 10

**Description of the problem including expected versus actual behavior**:
Just ungraded from 5.0.1 and now hitting this issue.
When a document contains no nested documents in its array property and we use source filtering to exclude any nested document property, the result is miss

[2017-03-29 13:50] thomasneirynck commented on #16895
Would this include also quad_keys, similar to Bing Maps (https://msdn.microsoft.com/en-us/library/bb259689.aspx)?

The tile-pyramids employed by most mapping services (Web Mercator, 2x2 division) are easier to work with from a front-end perspective than geohash-grids due to the uniform scaling horizontal/vertical across zoom levels.

So something like https://www.elastic.co/guide/en/elasticsearch/

[2017-03-29 15:19] mbystryantsev commented on #10047
@clintongormley, in elasticsearch 5.0+ `Template Query` marked as deprecated. How to reuse templates now?

[2017-03-29 15:23] jpountz opened #23798 "Log4j's ParameterizedMessage has a static ThreadLocal<StringBuilder>"
I was just looking at a heap dump from a user where some threads we holding strong references to very large string builders. The problem seems to come from Log4j's ParameterizedMessage which uses a static `ThreadLocal<StringBuilder>` in order to reuse memory when building messages. Unfortunately, the string builders never decrease in size, so this thing can only grow over time given that we use fi

[2017-03-29 15:27] jmwilkinson commented on #10005
@portante I'm afraid I didn't quite grok your question.

[2017-03-29 16:55] Tomassino commented on #23763
I found another variation of this problem when using the java api. To be honest I'm using scala and elastic4s, but that library is only a wrapper, so I suppose what I'm going to say also holds when using the java api directly (if you think that there could be a substantial difference, I could try to write a small java program to verify the issue). In the example above, even when using `removeAll`

[2017-03-29 18:26] jdconrad commented on #23763
@Tomassino When using def are the other numbers except for 1 removed or are all the numbers in the Java int range being left behind?  If only 1 is left that seems like a bug and would certainly be worth looking into more.  As for the java api versus curl, it's very possible that using java causes all the values to be longs in the params list.  If that's the case, we should probably find a way to a

[2017-03-29 19:01] jimczi commented on #23628
It can be anything so we'll need to narrow the scope. Can you share the query tree of the failing query, just the query types without the content:

[code]

I suspect that one of your inner query returns a `docID` greater than `maxDoc`. This should never happen so the query tree should filter the list of candidates to lookup.

[2017-03-29 20:00] rjernst commented on #23798
I wonder if we should add `ThreadLocal` to the forbidden list in third-party-audit? This won't stop us from using libraries with it, but it would make us aware, and we could then document in the excludes list why it is ok for each dependency.

[2017-03-29 20:13] #23784 closed

[2017-03-29 22:06] portante commented on #10005
Do folks believe that by having nanosecond precision in a time value each log entry emitted in sequence is guaranteed to get a different time value recorded for its timestamp?  @jmwilkinson?

To be sure we are able to reconstruct the original order of logs from a source we need to record a monotonically increasing sequence for them.  We can approximate with a ns precision timestamp, but I don't th

[2017-03-29 22:38] MentalMittal commented on #23761
Hi. This is my first-time contributing and would like to take up this issue. But the only problem is that I don't have any idea how to do this. Can someone help me in this?

[2017-03-29 22:39] jmwilkinson commented on #10005
@portante That's a good point. And I think I was mistaken about of loss of precision- elasticsearch retains the precision, it just isn't used in sorting. Which is fine if we need to use sequence numbers anyway.

[2017-03-29 22:52] saffroy commented on #10005
@portante Actual timestamps convey much more information than just sequence numbers, can be much easier to generate (eg. across multiple processes) and situations exist where a certain precision (microsecond, nanosecond) gives correct ordering sufficiently often to be useful.

I have a use case where we collect performance events from modules inside a running process and across distributed process

[2017-03-29 23:27] russellday opened #23806 "S3 Restore - Repo index files not refreshed"
**Elasticsearch version**: 5.1.1

**Plugins installed**: [discovery-ec2, repository-s3]

**JVM version**: 1.8.0_121"

**OS version**: Amazon Linux

**Description of the problem including expected versus actual behavior**:
We hit an issue with trying to restore a from a 2.3.2 ES cluster S3 Repository to a ES 5.1.1 cluster.

When two clusters have repositories pointing to the same S3 bucket, it look

[2017-03-29 23:30] abeyad commented on #23806
This is a known behavior.  Once you connect a 5.x cluster to a repository location, any 2.x clusters connected to the same repository should be setup to be `readonly`.  In fact, that's a general rule with snapshot repositories - only one cluster should be connected to a repository with write permissions, all other clusters connected to that same repository should be in read-only fashion.

[2017-03-29 23:30] #23806 closed

[2017-03-29 23:38] cheruvian commented on #23806
Agreed, however the use case presented here is a setup where the repo is readonly for the ES5 cluster.

Interestingly, the command to list snapshots does a write to the repo. Most likely in an effort to cache the index state.  This is what causes the problems since the index metadata file is then permanently stored on disk/in the cloud.

i.e. GET /_snapshot/repo_name on ES5 creates the index-x fil

[2017-03-29 23:40] abeyad commented on #23806
Actually, the issue here is that when a 5.x cluster connects to the repository, it has to update the snapshot files so it is in a format understood by 5.x (which is a bit different than 2.x) - that's the initial write that you're seeing.  That's why, once a 5.x cluster connects to a repository, the 2.x one should be set to read-only.

[2017-03-29 23:48] cheruvian commented on #23806
This makes ES5 migrations a little tricky then for users who want to test out ES5 while maintaining their ES2 infrastructure and ingestion until they are able to make a complete cutover. This sounds (to me) like a pretty common/reasonable use case.

I guess I'm ok with marking this as by design if we update [the docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshot

[2017-03-30 00:34] portante commented on #10005
@saffroy, you are correct.  I was not trying to convey otherwise, just stating that you cannot rely on timestamps for ordering logs flowing from a source.  That requires a monotonically increasing sequence number.  This is an old but [good paper](https://engineering.linkedin.com/distributed-systems/log-what-every-software-engineer-should-know-about-real-time-datas-unifying) on the topic.

[2017-03-30 01:02] jrubensteinsp commented on #23250
This is the single most important feature for our environment.  We have users that will run multiple searches in a row, and some are quite large.  The ability to tag their searches and cancel specific searches prior to the latest that is still running would be an incredible benefit.

[2017-03-30 01:27] abeyad commented on #23806
Its a fair point.  One suggestion is to use your 2.x cluster to take a single snapshot to a different S3 bucket (different repository), then connect your new 5.x cluster to this different S3 bucket so you can experiment with 5.x.  Not sure if this is feasible in your case.

I thought I had updated the docs on this but looks like I forgot to issue a PR for my branch.  Here is the PR to update the d

[2017-03-30 01:36] lusid commented on #23250
+1! Ability to abort specific prior searches on demand would be huge. I would gladly manage UUIDs on our end and pass them up to just be appended to the task at search time if that means I could do it through a single REST call. The ability to abort ES tasks has been a problem we have had since 0.90.

[2017-03-30 01:40] daedalus28 commented on #23250
👍 This is critical for our application because we have long-running analytic reports that sometimes are canceled by users, but the es cluster keeps going until it's done - and takes down the cluster in the process because users might immediately queue up different reports now that they've "canceled" the previous one.

[2017-03-30 03:56] chembohuang opened #23808 "how to access the _index object through painless inline"
i need the POSITIONS info,  it's ok to get it by the groovy language:
[code]
but how to get the _index object through painless and java?
i got compile error when turned lang to painess.

[2017-03-30 04:31] tvernum commented on #23808
Please ask this question on our [discuss forum](https://discuss.elastic.co/) where we can provide better support.
Elastic uses GitHub issues for confirmed bugs and feature requests which have been discussed on the forums.

Thank you.

[2017-03-30 04:31] #23808 closed

[2017-03-30 04:41] dadoonet commented on #23806
Interesting. Actually even if someone marks the 5.x repository as readonly the 5.x cluster will write files on the repository to upgrade it? If so I feel it like a bug. WDYT?

[2017-03-30 06:28] EvgeniySpinovSell commented on #10005
@portante Why not to have both tools in arsenal? I mean let's say for my case I can use nanosecond time precision and this would be sufficient to reconstruct logs. Somebody will have so many logs and they will be so dense that even nanosecond won't be enough. No problem, he will start to do this with sequence numbers. And will use both, nano seconds AND sequence numbers when required.

My impressi

[2017-03-30 06:34] nbqyqx commented on #23765
set the default similarity to my customized boolean similarity also get the expected result.
My question is why set the default similarity from classic to BM25 or mine will change the range query score?

[2017-03-30 06:42] jordansissel commented on #12829
Slightly related -- Logstash will also be moving its date filter to use java.time. We will share any lessons learned if we get to this first.

[2017-03-30 06:54] jordansissel commented on #10005
Broad declarations "occasional clock glitch  ... not an issue in practice" are not very helpful - while this may be your experience, but it has not been my experience.

Time is an amazing and interesting topic, but let's stay focused on the issue of date type precision in Elasticsearch, and not about measuring time or properties of time itself.

[2017-03-30 06:56] presto9292 opened #23811 "Request to add "ip range" field datatype"
Now that ES 5.2.0 introduced support for Numeric and Date Range field types, is it possible to add support for IP range field types , i.e. ipv4_range and ipv6_range

[2017-03-30 06:56] speedplane opened #23812 "Feature Request: Span Query Based on a Known Token Index"
It would be useful to be able to do a `span_query` relative to a particular token index.

For example:
- Find documents that mention `foo` within 10 tokens of the start of the document
- More generally: find documents that mention `foo` within `X` tokens of the `Y`th token in the document
- Even more generally: find documents that mention `foo` within `X` tokens of the token index stored in field

[2017-03-30 06:57] myrfy001 opened #23813 "Can rollover api add condition for absolute time?"
**Describe the feature**:
Now, the rollover api can roll to a new index after 1d, so, there is a problem(suppose all the time below is in UTC).

Suppose a new index name is `<logs-{now/d}-1>`and is create on `2017-01-01 23:59:59`, and then I want to roll it when each day begins, so I set up a crontab task to execute rollover api on `00:00:00` every day. Because the 24 hours has not been reached, s

[2017-03-30 07:05] speedplane commented on #16796
@clintongormley I agree that this is likely the solution. I use ES and did exactly this, see [here for an example](https://www.docketalarm.com/search/documents/?q=%22personal+injury%22+w%2F10+boat).

[2017-03-30 07:07] speedplane commented on #11328
@gcampbell-epiq I agree this would be nice, we ended up implementing something that does exactly that ([see example here](https://www.docketalarm.com/search/documents/?q=%22personal+injury%22+w%2F10+boat)). However, if this will largely be implemented for the legal space, it would make sense to use the query language that's largely been standardized across legal search engines rather than the Luce

[2017-03-30 07:45] gokulbsft opened #23814 "RestClient Asynchronous Connection Control"
How to control the number of connections created to Elasticsearch from RestClient performrequestasync method.

[2017-03-30 07:50] DongbinNie commented on #22742
Will the fix be backported to the 2.x version? thanks.

[2017-03-30 07:55] yogeshbelur opened #23815 "All threads hanged and not responding anymore"
**Elasticsearch version**:
2.4.1
**Plugins installed**: []

**JVM version**:
1.8
**OS version**:
Linux
**Description of the problem including expected versus actual behavior**:
I am running the es searh queries using transport client. After some time am running into a state where there are no response, i have taken the thread dump and i see all threads are parked waiting for a signal
**Steps to re

[2017-03-30 07:57] zhuqunzhou opened #23816 "Controller the threads number to transfer data from hot to warm."
**Elasticsearch version**:5.2.2

**Plugins installed**: x-pack

**JVM version**:1.8.0_111

**OS version**:CentOS Linux release 7.2.1511

**Description of the problem including expected versus actual behavior**:
Before `es5` i can use `cluster.routing.allocation.cluster_concurrent_rebalance` configuration to controller the threads number to transfer data from hot nodes to warm nodes.

But,`v5.2.2`

[2017-03-30 08:02] martijnvg commented on #23814
Hi @gokulbsft

Please ask questions like these in the forum instead: https://discuss.elastic.co/
The github issues list is reserved for bug reports and feature requests only.

Thanks

[2017-03-30 08:02] #23814 closed

[2017-03-30 08:11] #23096 closed

[2017-03-30 08:15] martijnvg commented on #23811
Ip ranges have recently been added to Lucene: LUCENE-7738
It should be available with Elasticsearch 6.0 (The lucene change hasn't been backed ported to the Lucene version that Elasticsearch 5.x uses)

[2017-03-30 08:37] Tomassino commented on #23763
No number in the Java int range is removed (e.g. 2147483647 is NOT removed, while 2147483648 is). It really seems that all values in parameters are taken as long, when using the java API, while for values in the document the type is inferred taking the value into account

[2017-03-30 08:49] #23816 closed

[2017-03-30 09:18] jpountz commented on #22742
It is backported but not released yet: https://github.com/elastic/elasticsearch/pull/23162.

[2017-03-30 09:38] weberhofer commented on #10632
I think this issue has been solved with ES 5.3

[2017-03-30 09:47] gingerwizard opened #23818 "Distinct Terms Aggregations"
Ticket to request a new terms aggregation capable of identifying distinct values in a field, based on a query restriction.  This aggregation would return values for a field in the matching document set, that **do not** exist in the **non matching** documents.  This can be used to answer questions such as "Give me the values for a field which are new in the last N minutes".

This feature request co

[2017-03-30 09:48] yogeshbelur commented on #23815
I have seen the same topic discussed in blog i don''t see any conclusions. My server is hung up now not serving anymore. so there must be something i should handle, not able to figure out what is that.

[2017-03-30 09:51] jpountz commented on #23798
+1 to auditing dependencies for threadlocals
I also opened an issue against log4j, suggesting that this threadlocal be removed: https://issues.apache.org/jira/browse/LOG4J2-1858.

[2017-03-30 09:54] yogeshbelur commented on #23815
and one more thing is SearchResponse searchResponse = setQuery.get()
the above call is not blocked, am getting the expected response and the main thread is not blocked

[2017-03-30 09:58] robin13 opened #23819 "Details of logger for each module"
It would be great to have information for each section of elasticsearch noting what the name of the logger is which you would make loglevel changes to to debug. I keep on looking and as far as I can tell it's not documented at all and the only way you have if you don't know is to enable debug for the root logger, then identify the entries you want, and update the logging output settings.

We have

[2017-03-30 10:05] DongbinNie commented on #22742
/_all/_cache/clear seems to work eventually after several GCs, as there's also weak reference referencing the cached Query.

![image](https://cloud.githubusercontent.com/assets/8368713/24499175/630609bc-1573-11e7-83ca-955799da2635.png)

[2017-03-30 10:11] cbuescher commented on #10632
@weberhofer thanks a lot, I just checked with 5.1 (which is based in Lucene 6.3) and 5.2 and it seems to be fixed. I will close this.

[2017-03-30 10:11] #10632 closed

[2017-03-30 11:12] martijnvg commented on #23815
@yogeshbelur There can be many reasons why the search api call is hanging on your application side. I'm happy to help if you open a new topic on the forum.

[2017-03-30 11:24] ismael-hasan opened #23820 "doc_values mapping cannot be updated (the documentation indicates they can be disabled)"
**Elasticsearch version**: 5.X

The documentation states that doc_values can be disabled in already created fields; this is not possible, doc_values cannot be enabled/disabled after an index is created.
cc/ @jimczi could you please confirm?

[Updating field mappings](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/indices-put-mapping.html#updating-field-mappings):

In general, the mapp

[2017-03-30 11:43] Hexta commented on #23760
@abeyad I performed queries to ES from Kibana Console. Kibana accesses ES through HAProxy with defined inactivity timeout (1m).
Delete snapshot request took more than 1m and HAProxy closed connection that caused retrying request by Kibana Console.

[2017-03-30 11:46] cilerler commented on #23250
Allowing to assign an ID _(not necessary unique one)_ for a search and be able to cancel it when its needed is crucial for heavy usage scenarios. 💡  Not having it is causing queuing up and leads to search rejections and it is literally ties our hand and becomes bottleneck in our operation. 😞 Please make this issue priority 🤗 Thanks in advance

[2017-03-30 11:50] weberhofer opened #23821 "Simple Query String Query: Allow ? and * parameters to be used as wildcard within a string"
It would be great if we could use "?" and "*" within a word to find e.g. all occurrences of "hello" and "hallo" searching for "h?llo". Or another example to search for "Kir*tan" to find "Kirgistan" and "Kirgisistan".

[2017-03-30 11:50] Hexta commented on #23760
Is it OK that delete snapshot request doesn't run asynchronously?

[2017-03-30 12:21] gmoskovicz commented on #7461
@clintongormley the default slowlog level is `TRACE`, but we can already control this by using `-1` in the threshold. Perhaps why could just remove the level settings for the slowlog and only configure this with the threshold?

Nowadays one can control this with the `level` setting, or `threshold` with `-1` or a specific value.

[2017-03-30 12:25] jpountz commented on #23818
It does not mean that nothing should be done, but I can see some similarities with the `significant_terms` aggregation, since this is looking at things that occur significantly more in a foreground set than in a background set.

[2017-03-30 12:37] skearns64 commented on #23818
I've done similar things for low cardinality fields (low-mid hundreds of distinct values). Applying the use-case to data representing "running processes on a server captured from metricbeat," I defined the problem as "alert me when there is a process name that has been seen in the last hour, that wasn't seen in the previous 30 days".
It's not a scalable solution, but I used an approach with a term

[2017-03-30 12:41] gingerwizard commented on #23818
@skearns64 yes the approach you descrive works for low cardinality fields. The approach outlined above (two stage query execution) discussed with @clintongormley works better for higher cardinality fields in theory - and is thus more scalable - provided the matching set is low.

[2017-03-30 12:53] cbuescher commented on #23821
Hi, this is already possible with the 'query_string' query. Is there a particular reason why you think this should be included in 'simple_query_string' as well?

[2017-03-30 12:59] olcbean commented on #23755
It looks like the top level keys for create index (`mappings` `settings`and `aliases`) are not verified.
I would like to have a go at it :)

[2017-03-30 13:04] yogeshbelur commented on #23815
https://discuss.elastic.co/t/all-threads-hanged-and-not-responding-anymore/80645

Can you help in the above thread.

[2017-03-30 13:28] dshishkov commented on #23250
It would be really useful to have some sort of control over canceling queries for my use cases too. Thanks for considering it.

[2017-03-30 13:31] clintongormley commented on #10005
Stalled on #12829

[2017-03-30 13:40] clintongormley opened #23823 "Ingest simulate should coerce `_id` to a string"
Passing an unquoted `_id` to simulate:

[code]

throws the following exception:

[code]

The `_id` should be coerced to a string.  In fact, so should `_index`, `_type`, `_routing`, `_parent`...

[2017-03-30 13:45] clintongormley opened #23824 "Better handling of inline scripts in ingest"
Anywhere that scripts are used, we allow writing an inline script in a short form, eg:

    { "script": {
        "lang": "painless",
        "inline": "ctx.foo='bar'
    }}

can also be written as:

    { "script": "ctx.foo='bar'"}

If I try this in ingest:

[code]

I get:

[code]

While I understand that all processors expect an object and so the short form may not be supported (although it'd be

[2017-03-30 14:07] clintongormley commented on #10047
@mbystryantsev we won't be supporting template embedding going forward

[2017-03-30 14:12] wangweij commented on #21534
@rjernst I can reproduce the problem here. It's 50s vs 92s on my laptop. I will try to look into it. I see your branch added 2 extra permissions. When a file is accessed, are you usually using the original path or the *real* path?

[2017-03-30 15:03] weberhofer commented on #23821
The query_string seems to be easier to use for average customers. It also allows me to limit the query on specific fields.

[2017-03-30 15:10] jakommo commented on #23793
Merged in https://github.com/elastic/elasticsearch/pull/23794, so closing. Thanks for the PR @GlenRSmith

[2017-03-30 15:10] #23793 closed

[2017-03-30 16:14] abeyad commented on #23760
My guess is that the request succeeded the first time, but for some reason there was a problem getting the response back from the proxy to kibana.  You could turn on debug logging for `org.elasticsearch.snapshots` and `org.elasticsearch.repositories` and we could see if there are any particular problems in ES with regards to deleting the snapshot.

The snapshot deletion executes asynchronously, bu

[2017-03-30 16:25] abeyad commented on #23806
@dadoonet No, if the 5.x repository is `readonly`, then the repository data will *not* be upgraded.

@russellday @cheruvian you *should* be able to set the 5.x repository to `readonly` and not have the data upgraded.  It was my understanding though that the 5.x repository was not set to `readonly`, causing the issue.  If you are setting the 5.x repository to `readonly` and its still upgrading the

[2017-03-30 16:26] abeyad commented on #23806
However, I'd still like to point out that while it should work, its not a setup we support.

[2017-03-30 16:39] erebus1 commented on #17116
Guys, do you plan to implement this feature?

[2017-03-30 16:44] #23448 closed

[2017-03-30 16:54] abeyad commented on #23806
I confirmed that if you connect the 5.x cluster to the repository in `readonly` mode from the very start, it will *not* upgrade the repository data.

[2017-03-30 17:20] nik9000 opened #23828 "Integration tests for reindex-from-remote from older versions"
#23805 and other issues have demonstrated that we really need integration tests for reindex-from-remote from older versions of Elasticsearch.  This isn't low hanging fruit because versions of Elasticsearch prior to 5.0 don't know how to spit out pidfiles so we can't use our standard Elasticsearch startup stuff.

[2017-03-30 17:30] nik9000 commented on #23761
Have a look in the `docs` directory in the Elasticsearch source code. The thing to make sure of is that the version numbers in the links line up. You can use `:elasticsearch-javadoc:` to reference the Elasticsearch javadocs root url.

[2017-03-30 17:40] abeyad commented on #23716
@jpcarey the steps you outlined above does *not* reproduce for me on 5.2.2.  Instead, for

[code]

I get:
[code]

For getting the status:
[code]

I get:
[code]

[2017-03-30 18:18] jpcarey commented on #23716
@abeyad I re-ran the steps I provided (without x-pack), and still get the error with 5.2.2 (fresh untar).  Reading the error, it is complaining about index `test1`, which is odd. I went back and made sure to add documents to the index, incase it was an issue around a blank index - same results.

macOS Sierra 10.12.3 (16D32)
java version "1.8.0_65"
Java(TM) SE Runtime Environment (build 1.8.0_65-b1

[2017-03-30 18:23] jpcarey commented on #23716
I just noticed you were getting the status for snapshot1 vs. 2?  The first one should be successful, since the index exists and can be backed up. The second backup should fail, since the index will be red (since allocation is set to none).  I had also tested that with an index that actually existed, where I went in and deleted shard directories to get the index to the red state - also failed the s

[2017-03-30 18:32] abeyad commented on #23716
@jpcarey I reproduced the problem - the issue is if you specify the snapshot to have only "bad" indices, then getting its status works fine.  If the snapshot contains a mix of good and bad indices, then I get the same error you got.

[2017-03-30 18:51] Chakrygin opened #23829 "Source filtering ("_source":false) don't work in collapse->inner_hits"
**Elasticsearch version**: 5.3.0

**Plugins installed**: []

**JVM version**:
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

**OS version**: Windows 10

**Description of the problem including expected versus actual behavior**:
Disabling "_source" retrieval (with setting it to false) don't work if used

[2017-03-30 19:09] PhaedrusTheGreek opened #23831 "Bool minimum_should_match with "should" clause clarity"
The [bool query docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/query-dsl-bool-query.html) aren't clear - it does say " In a boolean query with no must or filter clauses, one or more should clauses must match a document. ", but what it doesn't say is that when there IS a must or filter clause, then 0 should clauses must match.

Recommended adding something (to the _should_ clause

[2017-03-30 19:31] polyfractal commented on #23829
Thanks for the detailed report!  I can reproduce this on 5.x and master.

Although this is in the context of field collapsing, I suspect it's ultimately an `inner_hits` problem similar to https://github.com/elastic/elasticsearch/issues/21312.  I'm going to close this issue and add a link back to it from #21312 so that we can keep all the details about this bug in one place. :)

[2017-03-30 19:32] polyfractal commented on #21312
As reported by @Chakrygin in #23829 (see ticket for reproduction), this appears to be broken in field collapsing as well.  And also applies to disabling source entirely, not just various forms of filtering.

[2017-03-30 21:17] rjernst commented on #23828
Do you mean port files?  I had thought we had those in 2.x, but looking back you are right, it was not until 5.0. However, we could still have a fixture to start those older versions, we would probably want to explicitly pass in a randomly generated port (from a range). And we would need to have different cluster setup tasks, since both we won't be able to look for the ports files, and even config

[2017-03-30 21:41] JnBrymn-EB commented on #17116
This is becoming more important for upcoming work at Eventbrite.

[2017-03-30 22:36] talevy commented on #23787
I dug into this a little to learn more about how things work.

Looks like nothing in the MetadataUpdateSettingsService actually verifies the contents of these analyzers.

There is some verification code in place [here](https://github.com/talevy/elasticsearch/blob/4f694a3312a8bf57794ac9c3613ca6b5a2b52c58/core/src/main/java/org/elasticsearch/cluster/metadata/MetaDataUpdateSettingsService.java#L281)

[2017-03-31 00:37] nik9000 commented on #23828
Yes, I was thinking that older version of ES would be an independent
fixture and we'd feed it a port. We could check the logs for bind errors.
Or other things to make reasonably sure we don't get them.

On Thu, Mar 30, 2017, 5:17 PM Ryan Ernst <notifications@github.com> wrote:

[2017-03-31 02:07] MentalMittal commented on #23761
i thank you for giving me a response. I am very sorry but I don't see any links like   https://www.elastic.co/guide/en/elasticsearch/client/java-api/[VERSION]/transport-client.html which got to be changed. Can you tell me how to do that ?

[2017-03-31 02:09] rjernst commented on #23820
This behavior was changed in 5.0 (#16147) but the docs weren't updated. @ismael-hasan Would you be interested in opening a PR to change the docs?

[2017-03-31 02:20] davidklebanoff opened #23834 "Feature Request: Add The Ability To Normalize Query Scores"
The ability to normalize the relevance scores of documents on a per query basis would be incredibly useful. It would enable someone to meaningfully combine multiple queries in a bool query, without a single clause overtaking the others. This would be a huge improvement over boosting the individual queries.

I could see this being done via:

1. A new query type,
2. An addition to the [Function Scor

[2017-03-31 02:30] nik9000 commented on #23761
That is generated from one of the files in [here](https://github.com/elastic/elasticsearch/tree/master/docs/java-api).

[2017-03-31 03:10] anjishnu opened #23835 "Feature Request/Help : Terms Filter Execution/Caching Optimization"
In elastic search 1.4 there were different ways of optimizing cacheing for terms filters
https://www.elastic.co/guide/en/elasticsearch/reference/1.4/query-dsl-terms-filter.html

Is there any way to access these settings in ES 5.1? If so how? If not, how are terms filters cached now and how does one go about optimizing cacheing in this case?

[2017-03-31 03:10] anjishnu commented on #23835
If there's no way to configure the cache optimization - could we please have those knobs back?

[2017-03-31 04:14] rjernst commented on #23785
Can you please do an `ls` in `/usr/share/elasticsearch/lib/` and past the output here? It seems like the upgrade did not remove all previously installed files.

[2017-03-31 04:17] nik9000 opened #23836 "Examples on geo-shape doc page run node out of memory"
I was converting the examples on the geo-shape [page](https://www.elastic.co/guide/en/elasticsearch/reference/current/geo-shape.html) to `// CONSOLE` so they are automatically tested and noticed that they use a crazy amount of memory. We should certainly fix the docs, but we really need to prevent these from using so much memory like we do with aggregations or the NFA -> DFA construction.

To repr

[2017-03-31 04:43] rjernst commented on #21534
@wangweij

I believe we would be using the original path. For example, with `java.io.tmpdir` set to `./temp` (which we use in tests, each test runner creates a cwd for the jvm that is unique), we would be using paths that start with `./temp`, not the equivalent `$PWD/temp`.

[2017-03-31 06:33] Tobsucht opened #23838 "Phrase Suggester only provides suggestions for confidence=0"
**Elasticsearch version**:
[5.1.2]

**JVM version**:
java version "1.8.0_112"
Java(TM) SE Runtime Environment (build 1.8.0_112-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.112-b16, mixed mode)

**OS version**:
macOS 10.12.2

**Description of the problem including expected versus actual behavior**:
I'm using the following query to produce suggestions:

[code]

The problem is, that I'm not getti

[2017-03-31 06:40] dadoonet opened #23839 "null_value is not supported for text fields"
[code]

This is now failing in 5.x.

Either it's a bug and we should still support it or we should document it as a breaking change for people who are moving their `string` mapping to `text`.

Thoughts?

[2017-03-31 07:34] Chakrygin opened #23840 ""max_score" is null for query with field collapsing"
**Elasticsearch version**: 5.3.0

**Plugins installed**: []

**JVM version**:
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

**OS version**: Windows 10

**Description of the problem including expected versus actual behavior**:
"max_score" is null for query with field collapsing.

**Steps to reproduce*

[2017-03-31 07:50] colings86 commented on #23840
@Chakrygin Thanks for raising this. I'm managed to reproduce this using your steps above, thanks for the clear instructions.

@jimczi are you able to look at this?

[2017-03-31 07:58] colings86 commented on #23796
Full script to reproduce:
[code]

Note that in the above the source filtering is excluding `mynesteddocuments.intprop` which does not exist on any of the nested documents. If you instead exclude `intprop` (see below) the document with no nested docs is returned with `"mynesteddocuments": []`, so the `mynesteddocuments`array is only not printed when the source excludes is excluding fields in the ne

[2017-03-31 08:00] colings86 commented on #23796
Also note that this is not specific to nested documents. If you index the array as an embedded object (See below) you can reproduce the same thing:

[code]

[2017-03-31 08:01] jimczi commented on #23840
Thanks @Chakrygin
The `max_score` is filled if you set `track_scores` in the request:

[code]

Though we should always return `max_score` when the sort is based on relevancy like the standard search does. I'll work on a patch.

[2017-03-31 08:29] colings86 commented on #22768
I've opened https://github.com/elastic/elasticsearch/pull/23841 to improve the error message for this per https://github.com/elastic/elasticsearch/issues/22768#issuecomment-275670687. However, since the error can be seen when sorting as well as aggregating (and maybe in other cases too) I did not mention aggregating in the message

[2017-03-31 08:35] jpountz commented on #23835
Why do you need them back, is the current behaviour bad for your case? I'd rather improve the default behaviour to work better for you than add those knobs back. They made many queries slow by over-caching so I'd really like not to add them back.

[2017-03-31 08:46] simenflatby opened #23842 "Out of memory (invoked oom-killer)"
**Elasticsearch version**: `2.4.0`
**Plugins installed**: `[ "license", "marvel-agent" ]`
**JVM version**: `1.8.0_101`
**OS version**: `Ubuntu 16.04.1 LTS`
**Kernel version**: `4.4.0-67-generic #88-Ubuntu`

**Kibana version**: `4.6.0`
**Plugins installed**: `[ "marvel", "sense" ]`
**Filebeat version**: `5.2.2`
**nginx version**: `nginx/1.10.0 (Ubuntu)`

**Description of the problem including expec

[2017-03-31 08:52] jpountz commented on #23834
This is not something that can be done easily. This feature request makes the assumption that we are able to qualify how good a match is, which is not the case. This page gives some background about the issue https://wiki.apache.org/lucene-java/ScoresAsPercentages.

One way to work-around the issue could be to use `constant_score` queries, or the upcoming [`boolean` similarity](https://github.com/

[2017-03-31 08:55] Hexta commented on #23760
I inspected requests to ES HTTP service (using tcpflow). I saw that DELETE request performed twice - first immediately after starting the query in Kibana Console, and then after HAProxy timeout.

After setting HAProxy timeout to 5 minutes, 404 errors have gone away. But such configuration is vulnerable to slow DoS attack.

For ES client delete snapshot query acts like synchronous - DELETE request

[2017-03-31 08:59] IanvsPoplicola commented on #22768
Hi @colings86 , I've recently done a bit of work on this; I'd really appreciate some feedback if you could have a look at my changes!
Basically what it does is now every time TextFieldType's fielddataBuilder() method gets called while fielddata is disabled, it will check to see if there is any sub-field of keyword-type under the textfield, and will only replace the error message if such sub-field

[2017-03-31 09:01] #22768 closed

[2017-03-31 09:02] Dyakovvn commented on #21942
Hello! I have the same problem. I described it on the forum. When the precision_threshhold decreases to 100, the problem disappears. https://discuss.elastic.co/t/5-2-1-elasti-2-4-1/75357/28

[2017-03-31 09:06] colings86 commented on #22768
@IanvsPoplicola I'm not sure we need the logic to be complex here. I think always adding the message is ok. That way it makes it clear to the user whenever they see this that for text fields there are two way to aggregate or sort the data, either enable field data at the cost of using memory or use/add a keyword field. If we only show the message when the keyword sub field exists the users will no

[2017-03-31 09:07] IanvsPoplicola commented on #22768
Fair enough, thank you very much for the feedback!

[2017-03-31 09:20] NicolasYDDER opened #23845 "BulkIndexByScrollResponse on Java API is not exposing total."
**Elasticsearch version**: 5.2.2

**Plugins installed**: []

**JVM version**: openjdk version "1.8.0_66"

**OS version**: Windows 7

**Description of the problem including expected versus actual behavior**:
According the Java API documentation provided by the Elastic website https://www.elastic.co/guide/en/elasticsearch/client/java-api/5.2/java-docs-delete-by-query.html BulkIndexByScrollResponse i

[2017-03-31 09:22] colings86 commented on #23845
@nik9000 Do you think this is something we should add?

[2017-03-31 09:23] jpountz commented on #23839
I can think of use-cases for `null_value` on structured fields like numbers and keywords, but not for `text. It also introduces corner-cases, eg. should the `null_value` be analyzed or not? I'm leaning towards not supporting `null_value` on `text`.

[2017-03-31 09:27] clintongormley commented on #3890
We're reviving this effort

[2017-03-31 09:28] javanna commented on #23845
Some of these fields are exposed through `response.getStatus()`, e.g. `response.getStatus().getTotal()`. As far as I can see all of the information printed out at REST is also available in the java api. Maybe this is just a matter of improving javadocs.

[2017-03-31 09:29] colings86 commented on #15914
This is the same idea as https://github.com/elastic/elasticsearch/issues/3890 so will close in favour of it.

[2017-03-31 09:29] #15914 closed

[2017-03-31 09:29] dadoonet commented on #23839
I'm fine with that. I'm moving this issue from "bug" to "doc" as I think it should be clear in breaking changes.

[2017-03-31 09:33] NicolasYDDER commented on #23845
`getStatus()`is a protected method in case of BulkIndexByScrollResponse, so `getStatus().getTotal()` is not accessible from application-side.

[2017-03-31 09:34] jimczi commented on #16920
Index time boost are deprecated in Lucene:
https://issues.apache.org/jira/browse/LUCENE-6819 and the _all field is gone.

[2017-03-31 09:34] #16920 closed

[2017-03-31 09:36] colings86 commented on #19068
It seems like this was addressed in documentation in #19154 so I'll close this issue. If there is more to be done please reopen

[2017-03-31 09:36] #19068 closed

[2017-03-31 09:41] colings86 commented on #19805
No further feedback so I will close this for now, please reopen if you have developments on this

[2017-03-31 09:41] #19805 closed

[2017-03-31 09:45] colings86 commented on #21225
@gibrown are you still seeing issues with this on the latest releases?

[2017-03-31 09:47] colings86 commented on #23842
@simenflatby

Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2017-03-31 09:47] #23842 closed

[2017-03-31 09:48] clintongormley commented on #21312
@talevy could you take a look at this please?

[2017-03-31 09:50] colings86 commented on #21712
@jimczi is this still an issue?

[2017-03-31 09:51] colings86 commented on #21761
No further feedback so closing this issue, if you can still reproduce the issue please reopen and post a recreation script.

[2017-03-31 09:51] #21761 closed

[2017-03-31 09:52] colings86 commented on #22657
@jpountz is there anything to be done here?

[2017-03-31 09:53] colings86 commented on #22836
No further feedback, closing

[2017-03-31 09:53] #22836 closed

[2017-03-31 09:55] colings86 commented on #22867
I agree with @javanna here, we should only support registered types, closing this issue. If anyone objects please reopen and comment

[2017-03-31 09:55] #22867 closed

[2017-03-31 09:56] jpountz commented on #18680
There have been a number of changes that should make things better in 5.3/5.4 so I'm going to close that issue. I'm not saying it will now perform on par with 1.7, some queries are still going to be slower and others faster. When facing slow queries, it is also important to look a whether documents are modeled in a good way: the best speedups are obtained by modeling documents in a way that makes

[2017-03-31 09:56] #18680 closed

[2017-03-31 09:56] colings86 commented on #22914
@nknize I made this and adoptme as it seems like something that we intend to do

[2017-03-31 09:57] colings86 commented on #23208
@jpountz I made this an adoptme as it seems like something we intend to do rather than something that needs further discussion

[2017-03-31 09:59] javanna commented on #23845
@NicolasYDDER do you mean `BulkByScrollResponse`? I can't quite find the class that you mentioned, can you clarify this please?

[2017-03-31 09:59] colings86 commented on #23346
@jimczi it looks like the above issue was fixed in Lucene 6.5, should this be an adoptme now?

[2017-03-31 10:51] cbuescher commented on #21452
It seems this got resolved, so I will close this. Please reopen if I missed something.

[2017-03-31 10:51] #21452 closed

[2017-03-31 11:11] jimczi commented on #23346
No further work is needed, closing.
This issue is fixed in Lucene 6.5 and ES 5.4 has been upgraded to this version.

[2017-03-31 11:11] #23346 closed

[2017-03-31 11:15] clintongormley commented on #23839
it's not a breaking change - the `string` field has been removed and replaced with the `text`field, which doesn't support `null_value` (along with other things like `doc_values`)

[2017-03-31 11:20] clintongormley commented on #23760
We could add the `wait_for_completion` parameter to delete snapshot

[2017-03-31 11:32] jasontedor opened #23848 "Remove support for custom user/groups in packaging"
Our packaging tries to provide a way for users to customize the user/group for Elasticsearch.

It works okay for Sys V init (although installation does spew some errors that it turns out can be ignored).

It does not work at all for systemd, it requires some customization after installation.

We do not test either configuration.

I think permitting custom user/groups here is unnecessary complexity

[2017-03-31 11:43] Hexta commented on #23760
@clintongormley I think that would be great.

[2017-03-31 11:53] nik9000 commented on #23848
I didn't realize we had this ability. +1 to remove. I figure if you want
this you probably use the tar package already because you didn't know it
was possible with deb or rpm.

On Fri, Mar 31, 2017, 7:32 AM Jason Tedor <notifications@github.com> wrote:

[2017-03-31 11:59] jpountz commented on #22657
Agreed there is nothing left to be done. Closing.

[2017-03-31 11:59] #22657 closed

[2017-03-31 12:15] jpountz commented on #23835
Closing. If you know of cases that the current strategy makes wrong decisions, please open a new issue.

[2017-03-31 12:15] #23835 closed

[2017-03-31 12:22] nik9000 commented on #23838
The phrase suggester isn't likely to work very well without the special mapping described. Getting it to return useful values is really a delicate thing. I'd remove all the options and slowly read them.

In any case, this seems to be working as expected. That `"confidence": 1` says "find me terms that are more common on any shard than the query's terms". If you set the `size` to something large li

[2017-03-31 12:23] cbuescher commented on #23821
After discussion we decided that this is not something we're not keen on supporting. The functionality exists already with other queries, we want to increase the amount of options of the `simple_query_string`. Also the fact that wildcard queries can use a lot of memory and perform badly makes them less ideal for a "simple" query type.

[2017-03-31 12:23] #23821 closed

[2017-03-31 12:24] KiarashS opened #23849 "Install Elasticsearch Service in Windows"
Elasticsearch service can not install in windows, When I run blow command:
`.\elasticsearch-service.bat install`
This output displayed in the command prompt:
[code]

[2017-03-31 12:24] clintongormley commented on #23813
The idea of the rollover API is to free you from time based indices.  But you do have options:  either you can pass in your own index name when you call rollover, or you could use a pattern like `<logs-{now-1h/d}-1>`

[2017-03-31 12:24] #23813 closed

[2017-03-31 12:26] jasontedor commented on #23849
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. When you open a topic there, please provide the Windows version. As such, I hope you don't mind that I close this. We can reopen this if

[2017-03-31 12:26] #23849 closed

[2017-03-31 12:32] jasontedor commented on #23845
I tripped on the same thing as you @javanna, and @nik9000 helped me track it down.

The name of the class changed between 5.2 and 5.3 In 5.2, it's `BulkIndexByScollResponse` and `BulkIndexByScrollResponse#getStatus` is indeed protected there. However, in 5.3 the name of the class is `BulkByScrollResponse` and `BulkByScrollResponse#getStatus` is public. So, I think there's nothing to do here since

[2017-03-31 12:33] jpountz opened #23850 "Better ways to combine relevance signals"
Say you want to combine full-text scores with geo proximity. We offer `function_score` as a way to do that, but this is a very manual process, and it's hard to make sure those signals are combined in a way that actually makes sense. On the other hand, research has been conducted on that topic so we should look at how we could integrate better ways to combine relevance signals. I'm mentioning geo s

[2017-03-31 12:33] jpountz commented on #23834
We just discussed it in FixitFriday and decided to close it in favour of a new issue: #23850.

[2017-03-31 12:33] #23834 closed

[2017-03-31 12:34] dadoonet commented on #23839
I think it was not super clear to some users as reported in:

* https://discuss.elastic.co/t/equivalent-setting-for-following-mapping-in-elasticsearch-5-x/80104
* https://discuss.elastic.co/t/why-null-value-parameter-has-been-removed-for-text-field-type/79882

That's the reason I thought writing something about it in our doc because when I searched for `null_value` in our documentation, I went to

[2017-03-31 12:43] Tobsucht commented on #23838
I don't get it: what do you mean?

As you added below: the score of the inserted term is not returned.

Increasing the size changes nothing. For a confidence of "0" I get the list I posted above and with "1" it is empty.

Yes, but isn't that the case in my example?

[2017-03-31 12:48] javanna commented on #23845
thanks @jasontedor makes sense now!

[2017-03-31 12:51] clintongormley commented on #23796
This needs more investigation - need to figure out the edge cases before we can figure out how to make things more consistent.

What should we do with dots in field names eg `foo.bar.baz` and you exclude `foo.bar`?

[2017-03-31 12:53] clintongormley commented on #23775
Closing in favour of https://github.com/elastic/elasticsearch/issues/23777

[2017-03-31 12:53] #23775 closed

[2017-03-31 13:12] cbuescher commented on #18479
@jpountz Given that this isn't reproducible any more and #18010 was likely the cause, should we close this?

[2017-03-31 13:13] jimczi commented on #23764
That's the expected behavior. If you input an accent modifier in a standard tokenizer it will be kept as a token. The `icu_folding` will then removes that character leaving a blank token in the stream.
Everything works, you'll just build an inverted list for this empty token.
It is not expected to use a standard tokenizer on a binary input and even doing so does not yield any exception/bug so I'll

[2017-03-31 13:13] #23764 closed

[2017-03-31 13:22] #18479 closed

[2017-03-31 13:23] #23845 closed

[2017-03-31 13:25] clintongormley commented on #23839
OK - then we could add a list of fields which support `null_value` to that page

[2017-03-31 13:26] clintongormley commented on #23821
to add to this, the simple query string tries to keep the number of special characters low, and ?  is a character often found in text

[2017-03-31 13:30] #23820 closed

[2017-03-31 13:31] colings86 commented on #19053
No further feedback

[2017-03-31 13:31] #19053 closed

[2017-03-31 13:34] colings86 commented on #19247
No further feedback. If you write a script that replicates the issue on a recent release please reopen this issue

[2017-03-31 13:34] #19247 closed

[2017-03-31 13:34] #22438 closed

[2017-03-31 13:37] colings86 commented on #17744
No further feedback

[2017-03-31 13:37] #17744 closed

[2017-03-31 13:38] clintongormley commented on #17116
We've been rethinking this approach.  Apparently, according to research, the best way to combine scores is to add them together (which the bool query does, now that coordination and query norm are gone).

So we're looking at better ways of exposing primitives for incorporating non-textual scores into the overall score.

Closing in favour of https://github.com/elastic/elasticsearch/issues/23850

[2017-03-31 13:38] #17116 closed

[2017-03-31 13:38] colings86 commented on #19399
@clintongormley @Mpdreamz can this issue be closed? or is there still more to do?

[2017-03-31 13:41] colings86 commented on #17526
@bleskes is this still an issue? could this be closed?

[2017-03-31 13:41] colings86 commented on #19290
No further feedback

[2017-03-31 13:41] #19290 closed

[2017-03-31 13:42] nik9000 commented on #23838
Errr - re-add them, is what I mean.

I see. I'd missed that part. This seems like an issue then. The trouble is reproducing it locally so I can debug it. Is there any chance you can distill some of the input data to make a complete reproduction?

Could you try doing this with the `term` suggester instead? That might shed some light on the issue.

[2017-03-31 13:43] colings86 commented on #19224
@mkelkarbv are you still seeing this issue on recent releases on Elasticsearch?

[2017-03-31 13:43] colings86 commented on #19657
no further feedback

[2017-03-31 13:43] #19657 closed

[2017-03-31 13:44] colings86 commented on #19891
No further feedback. Please reopen if you have more information and this is still causing issues  for you on recent versions of Elasticsearch

[2017-03-31 13:44] #19891 closed

[2017-03-31 13:47] colings86 commented on #20121
Are you still seeing this issue with a recent version of Elasticsearch? If so, please provide details and reopen

[2017-03-31 13:47] #20121 closed

[2017-03-31 13:48] colings86 commented on #20154
No further feedback

[2017-03-31 13:48] #20154 closed

[2017-03-31 13:48] colings86 commented on #19866
@rtkbkish are you still seeing this issue?

[2017-03-31 13:50] colings86 commented on #19297
@jasontedor Is this still an issue? Could it be closed?

[2017-03-31 13:52] colings86 commented on #11371
No further feedback. Please reopen if you still see this issue in 5.x

[2017-03-31 13:52] #11371 closed

[2017-03-31 13:57] colings86 commented on #20854
@lizhecao are you still seeing this issue? If so please provide details and reopen the issue

[2017-03-31 13:57] #20854 closed

[2017-03-31 13:59] colings86 commented on #20928
@afsafs are you still seeing this issue? If so please provide as much detail about the issue and environment as you can and reopen

[2017-03-31 13:59] #20928 closed

[2017-03-31 14:01] colings86 commented on #21324
No further feedback. @JnBrymn-EB if you have a reaction script or more information please comment and reopen this issue

[2017-03-31 14:01] #21324 closed

[2017-03-31 14:02] colings86 commented on #21395
Closing as there doesn't seem like anything for us to do here.

[2017-03-31 14:02] #21395 closed

[2017-03-31 14:04] jasontedor commented on #19297
@colings86 Yes, this is still an issue and this should remain open.

[2017-03-31 14:05] colings86 commented on #21619
No Further feedback

[2017-03-31 14:05] #21619 closed

[2017-03-31 14:06] colings86 commented on #21870
No further feedback

[2017-03-31 14:06] #21870 closed

[2017-03-31 14:09] colings86 commented on #21970
No further feedback. @xxx111x1 if you have the exception then please paste it in a comment and reopen

[2017-03-31 14:09] #21970 closed

[2017-03-31 14:10] colings86 commented on #21967
No further feedback. @kadishmal if you are still seeing this issue could you try what @clintongormley mentioned above, paste the result in a comment and reopen.

[2017-03-31 14:10] #21967 closed

[2017-03-31 14:12] colings86 commented on #21580
No further feedback and not able to reproduce

[2017-03-31 14:12] #21580 closed

[2017-03-31 14:12] colings86 commented on #22218
No further feedback

[2017-03-31 14:12] #22218 closed

[2017-03-31 14:13] wangweij commented on #21534
Dumped all FilePermission checks of a test run into a log. The total number is 882642 with 29275 uniq ones. I'll write a test that simulate these 882642 checks tomorrow and see how it performs.

[2017-03-31 14:13] clintongormley commented on #21746
@tomsommer i think you were unlucky, you shouldn't normally see all data shift around.  Also, if your disks are near full, then shards shouldn't be moved TO that node, so I think we're OK here.

[2017-03-31 14:13] #21746 closed

[2017-03-31 14:15] makeyang commented on #6720
sorry to bother to propose some thoughts on this issue:

1. add mapping parameters: index_sort with values[no, asc, desc] for datatype[long,integer,short,byte,double,float] and index_sort_order with no-negative int value if and only if fields setting index_sort
2. these 2 parameters can't be modified once it is set for a index
3. index_sort_order is used to decide order of multi fields and 1 stand

[2017-03-31 14:15] dakrone opened #23852 "[CI] field collapsing on inner hits REST test failure"
Seeing a failure in CI related to field collapsing on inner hits:

[code]

From: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/773/console

I haven't been able to reproduce it, but here is the line:

[code]

[2017-03-31 14:15] dakrone commented on #23852
@jimczi I assigned you since I believe you are most familiar with field collapsing, but feel free to assign elsewhere if someone else is better suited.

[2017-03-31 14:16] colings86 commented on #19632
@nik9000 Is this still an issue? Could this be closed?

[2017-03-31 14:17] colings86 commented on #22481
No further feedback. @oceandiver if you have the full request (including the body) then please paste it in a comment and reopen this issue

[2017-03-31 14:17] #22481 closed

[2017-03-31 14:21] jimczi commented on #6720
@makeyang thanks.
I am planning to add the index sorting spec in the index settings rather than on the index mapping since you can define an index sort based on multiple fields.
Anyway I am currently iterating on this feature and I'll add updates (and link to the PR when I open it) to this issue so stay tuned !

[2017-03-31 14:22] #19632 closed

[2017-03-31 14:25] jasontedor commented on #23848
We discussed this in Fix-it-Friday and we are going to proceed with removing this functionality.

[2017-03-31 14:25] clintongormley commented on #20354
No useful suggestions presented - closing

[2017-03-31 14:25] #20354 closed

[2017-03-31 14:26] s1monw commented on #22494
no feedback - closing

[2017-03-31 14:26] #22494 closed

[2017-03-31 14:27] jasontedor commented on #22044
We are going to remove support for customizing the user/group. The packaging distributions will ship with elasticsearch/elasticsearch as the user/group. Users that wish to customize the packaging can use the Ansible role, or customize the archive distributions.

[2017-03-31 14:27] #22044 closed

[2017-03-31 14:33] colings86 commented on #18665
No further feedback. @bittusarkar if you have answers to the questions above please comment and reopen this issue

[2017-03-31 14:33] #18665 closed

[2017-03-31 14:34] colings86 commented on #21902
@jasontedor is this still an issue?

[2017-03-31 14:35] colings86 commented on #21902
@ANorwell are you still seeing this problem on the released versions of 5.x?

[2017-03-31 14:35] jasontedor commented on #21902
No additional feedback, closing.

[2017-03-31 14:36] #21902 closed

[2017-03-31 14:36] jasontedor commented on #21231
We are going to remove support for customizing the user/group. The packaging distributions will ship with elasticsearch/elasticsearch as the user/group. We are going to rely on the configuration management solutions or point users to customizing the archive distribution if they want to run with non-default user/group.

[2017-03-31 14:36] #21231 closed

[2017-03-31 14:37] colings86 commented on #16678
Sounds like this has been resolved. If I have that wrong please reopen

[2017-03-31 14:37] #16678 closed

[2017-03-31 14:42] colings86 commented on #22645
@jsgandalf could you provide the information @clintongormley asked for above as it will greatly help in recreating (and therefore understanding and solving) this issue you are seeing

[2017-03-31 14:44] colings86 commented on #22817
No further feedback.

[2017-03-31 14:44] #22817 closed

[2017-03-31 14:46] colings86 commented on #21583
No further feedback on this specific issue.

@yossicahen its probably worth opening a separate issue for what you are seeing. Please include as much information as you can and if possible include a recreation script for what you are seeing

[2017-03-31 14:46] #21583 closed

[2017-03-31 14:47] colings86 commented on #18775
No further feedback. Please reopen if this issue is still reproducable

[2017-03-31 14:47] #18775 closed

[2017-03-31 14:48] colings86 commented on #18312
No further feedback.

[2017-03-31 14:48] #18312 closed

[2017-03-31 14:49] clintongormley commented on #22380
@apatrida you can pass the template as a string instead of as json

[2017-03-31 15:02] JnBrymn-EB commented on #21324
Thanks. Sorry I didn't find the time to better repro this. It'll come up again if it's real.

[2017-03-31 15:10] Akrion commented on #23250
+1

[2017-03-31 15:11] JnBrymn-EB commented on #23850
Is there any documentation about the research? For instance, given the score for some `bool` query `A` and the score for some other `bool` query `B`, I would very much like to combine these scores in arbitrary ways. Adding, multiplying, some higher function, etc. Will that be possible.

I'm interested in helping with this, per my previous work with https://github.com/elastic/elasticsearch/pull/197

[2017-03-31 15:13] JnBrymn-EB commented on #17116
"coordination and query norm are gone" - do you have any documentation on that @clintongormley ?

[2017-03-31 15:18] Gacko commented on #23785
It does remove the old library and installs the new one but attemps to load the old, removed one.

[2017-03-31 15:31] gibrown commented on #19891
Sorry about that. I tried recreating this error and was still able to. We've rebuilt this index twice since this was opened (still on ES 2.3.3 though), but the error still is persisting. I was able to find a stack trace though:

`
Caused by: java.lang.ArrayIndexOutOfBoundsException: 1
	at org.elasticsearch.common.util.BigArrays$ObjectArrayWrapper.get(BigArrays.java:347)
	at org.elasticsearch.searc

[2017-03-31 15:37] gibrown commented on #21225
I can't get it to fail anymore on the existing index (on 2.3.3), presumably because the index has gotten too large and we have gone past whatever threshold/corner case was causing this.

[2017-03-31 15:46] imotov commented on #23250
@jrubensteinsp, @lusid, @daedalus28, @cilerler, @dshishkov, @Akrion it seems that you all work for the same company. We are trying to make sure that this feature covers a variety of use cases and it would be helpful for us to understand if you have multiple use cases for this feature at your company or all these comments are essentially about the same application. If you have multiple use cases, i

[2017-03-31 15:54] colings86 commented on #21225
@gjbrown ok, thanks for trying to reproduce it again. I'm going to close this for now as I don't think we are going to make any more progress unless we can reproduce it. If you (or anyone else) comes across this issue again please reopen this ticket and we will try again to get to the bottom of it.

[2017-03-31 15:54] #21225 closed

[2017-03-31 15:57] jasontedor commented on #23785
It's not trying to load an old one, it's checking the manifest of the jar that is actually executing and the manifest of that jar says it's an old version.

[2017-03-31 15:58] jasontedor commented on #23785
Can you please send us this jar?

[2017-03-31 16:06] andrewkroh opened #23856 "Add exclude_keys option to KV processor"
It would be nice to have an `exclude_keys` configuration option for the key-value processor in Ingest Node. `exclude_keys` would specify a list of keys that are not included in the final document even if they are present in the raw data parsed by the processor. There is already an [`include_keys`](https://github.com/elastic/elasticsearch/blob/v5.3.0/modules/ingest-common/src/main/java/org/elastics

[2017-03-31 16:09] jpountz commented on #23850
Admittedly I know very little about the topic but Google scholar seems to find resources when searching for `geo bm25` or `geo ranking`. @s1monw do you have pointers by any chance? I remember you mentioning this in a discussion a couple weeks ago.

[2017-03-31 16:11] Dimitrees commented on #23824
Hello, I am new to both your project and working with GitHub in general. Can I work on resolving this issue since its labeled as Low Hanging Fruit?

Thanks

[2017-03-31 16:37] pickypg commented on #22684
The indices will disappear once the time window rolls past their existence. For example, if you have "Last 15 minutes", then it will disappear after the 15 minutes have passed from it being deleted. Similarly, if you have the Last hour selected, then it would stick around for an hour.

The status of the index should change to N/A to acknowledge that it's no longer available.

[2017-03-31 16:37] #22684 closed

[2017-03-31 17:36] jsgandalf commented on #22645
Actually, when I reindex my database and rerun the query. It worked =)

The problem was that my field was type: text and NOT a keyword. Changed the index to keyword and reindexed:

[code]

I hope this helps someone who was as stuck as I was getting rid of those empty values.

[2017-03-31 18:04] uschindler commented on #22912
Hi @TheFireCookie,
here is the plugin source code and readme file. It is set up for Elasticsearch 5.3.0, but it is easy to compile with any 5.x version. Just change the version number in the POM.

https://github.com/uschindler/es-legacy-completion-plugin

[2017-03-31 18:06] MentalMittal commented on #23761
I have been looking at these files for 10 hours but I don’t get where is the link and what to write instead. I have read the asciidoc documentations and it says that the link will be after `link:` but there isn’t any `link:` in the files. Can you give me one example of what to change and to what? and the rest I can find and change.

[2017-03-31 19:07] b1naryth1ef commented on #20354
@clintongormley what exactly are you looking for in the form of suggestions? Might I offer the following solutions:

- Don't spam logs when the data disk is full
- Actually maybe just don't ever spam logs

[2017-03-31 19:17] saffroy commented on #10005
@jordansissel The entire paragraph was only meant to give another example of a situation where we would benefit from increased precision when storing timestamps in Elasticsearch, and the remark about clock glitch ("not an issue in practice, because it's performance data") was to be understood within this specific example. Sorry if I wasn't clear about that.

[2017-03-31 19:36] dizzzyroma commented on #23792
The same problem. Add comment to forum.

[2017-03-31 19:45] dakrone opened #23857 "[CI] open search contexts not cleared in reindex tests on 5.2 branch"
On the 5.2 branch of Elasticsearch CI has seen:

[code]

I've tried reproducing with

[code]

But it did not reproduce.

Originally seen at: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.2+multijob-unix-compatibility/os=oraclelinux/130/console

[2017-03-31 19:49] nik9000 commented on #23857
Looks like it could be fixed by https://github.com/elastic/elasticsearch/pull/23677 but I didn't want to push that back beyond 5.4 for fear of destabilizing those branches.

[2017-03-31 19:50] nullpixel1 commented on #20354
Wait what. In what world of production databases do people do this shit

[2017-03-31 20:15] dakrone commented on #23857
@nik9000 okay, do you think it'd be better to disable the test, or further backport that PR?

[2017-03-31 20:20] jasontedor commented on #23857
I think we can set the 5.2 branches to build on push only.

[2017-03-31 20:20] pickypg opened #23858 "Automatic Source Filtering from Filter Path"
I have recently found myself using `filter_path` a lot from REST API calls, which is incredibly useful for reducing the response size, not to mention making it easier to figure out what you actually want from it.

This got me thinking that it would be incredibly convenient to automatically add `_source` filtering when it's not explicitly done, to help to reduce bandwidth between nodes during the f

[2017-03-31 20:36] martinb3 commented on #23848
Hi @jasontedor -- as a maintainer of the Chef cookbook for elasticsearch, we generally look upstream for advice on how best to customize and deploy elasticsearch. In fact, maintaining forks of init scripts / unit files and merging in changes from upstream is something I'd really _love_ to avoid doing. It's been very prone to error in the past.

I urge you to reconsider pushing this responsibility

[2017-03-31 20:48] nik9000 commented on #23857
Since this looks like #23677 I'm ok not fixing it. That was really more of a testing issue than anything. I'd feel bad muting the tests because they are useful. I'd prefer going push only on the branches, but I can certainly backport if we think that is a better choice.

[2017-03-31 20:49] jasontedor commented on #23857
I've asked for the 5.2 branches to be set to push only, this is something that we should do anyway.

[2017-03-31 20:50] khionu commented on #20354
I think the underlying issue is that, on an exception that clear is saying "stop trying to use disk space"..... You're still doing something that is attempting to use Disk Space. While I would assume that that is a pretty obvious evaluation, I would further more assume that the course of action is also pretty obvious: this is not an exception that might go away the next time the function is ran, s

[2017-03-31 21:09] jasontedor commented on #23848
@martinb3 Thank you for your input here, I appreciate it. I share the same concern as you regarding forking scripts and configuration files, please see comments I left in elastic/ansible-elasticsearch#285.

You do not have to take on this responsibility if you do not want to, and based on your comments in #21231 it seems that you're okay with removing support for customizing the user/group? The me

[2017-03-31 21:15] rjernst commented on #20354
The disk that logs are written to is not necessarily the same that data is written to (which is where the exception above comes from).  Are you suggesting we should not try to log/output anything when there is a critical exception causing the system to exit?  If you have a concrete suggestion for cleaner behavior, please open a new issue detailing the feature request.

[2017-03-31 21:21] pickypg opened #23859 "[Percolator] Remove caching and support "now" in range queries"
With the changes to Percolator, we began caching the results of Percolated requests, but this prevents the use of `now` in `range` queries / filters.

It was decided to disable caching (for many reasons), which will then allow `now` to be used by the Percolator.

[2017-03-31 21:21] pickypg commented on #23859
/cc @clintongormley @martijnvg

If this is a dupe, sorry. I couldn't find anything related. Feel free to fix my description of the issue too.

[2017-03-31 21:22] martinb3 commented on #23848
Thank you for your response, @jasontedor -- I truly appreciate it!

Indeed, right now, we're simply not providing the functionality in systemd init scripts in the Chef cookbook. I'm okay with just leaving it as-is, but I was also thinking it would be a short term problem and eventually get resolved upstream.

We can always tell users to simply [provide their own unit file for systemd instead](http

[2017-03-31 21:38] jasontedor commented on #23848
I agree, we should clearly document this change and at least provide some guidance on what users that want to customize the user/group can do to meet that need.

I agree.

Thank *you*.

[2017-03-31 21:40] nullpixel1 commented on #20354
You could just make the logs not spammy.

Kill the process, and just simply say that it crashed because of no disk space

[2017-04-01 00:02] khionu commented on #20354
If the log writing was the source of the OOS Exception, b1nzy wouldn't have a 28GB log file filled with the exception spam.

I would do as NullPixel said, and I said in my second paragraph. If the program is encountering an issue that clearly means it's failing to operate properly, meaning, cannot be recovered while the process is live, you don't continue to operate.

I understand that enterprise-

[2017-04-01 02:29] viewsite opened #23860 "Elasticsearch persistent cluster settings not apply?"
Hi, i  have a question on  Cluster Update Settings

 i create a 2-node cluster and write some data to it.  The shards of index is distributed across two nodes.
then i put the setting below to the  cluster to exclude one node.

    curl -XPUT http://1.1.1.1:18437/_cluster/settings?pretty -d '
    {
      "persistent" : {
        "cluster.routing.allocation.exclude._ip": "1.1.1.1"
      }
    }'

an

[2017-04-01 03:39] myrfy001 commented on #23813
I think this will not solve the problem.
Suppose you use a roll over condition `1d`, and created the first index at `2017-01-01 12:00:00`, Although you can pass in your own index name when you call rollover, or you could use a pattern like `<logs-{now-1h/d}-1>`, but any call to the roll over api won't take action before 24 hours.

That is, every index with a date as prat of it's name will have mix

[2017-04-01 05:27] dadoonet commented on #23860
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Let's keep the discussion on https://discuss.elastic.co/t/elasticsearch-persistent-cluster-settings-not-apply/80683

Thanks!

[2017-04-01 09:19] fanyoujian opened #23861 "How to change the default number of “size” through the elasticsearch.yml ？"
this "size" default 10 ,how to change this to 20 or more ....

[2017-04-01 09:38] dadoonet commented on #23861
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-04-01 09:38] #23861 closed

[2017-04-01 10:31] Gacko commented on #23785
Just to clarify... `yum upgrade` removes files related to the old RPM or no longer included in the new RPM, installs news files from the new RPM and restarts Elasticsearch using systemd, right?

Is it possible the old JAR is still there when the `postinst` script is called and removed afterwards? Because the old JAR is missing after a simple `yum upgrade` without a `RESTART_ON_UPGRADE` triggered r

[2017-04-01 10:57] Gacko commented on #23785
Okay. Upgrade works using `apt`. Got to kickstart a virtual box with a `yum`-based distro...

[2017-04-01 11:15] jasontedor commented on #23785
There are complicated rules around what is preserved regarding config files, but the nut of the situation is other than data, logs, and config, all files are removed from the old installation. After installation, you are correct that a restart is performed with systemd or Sys V init.

No, the symptoms here are of a completely garbage jar, a jar whose manifest indicates it was built for 5.2.2, but

[2017-04-01 13:35] Gacko commented on #23785
I added the Elasticsearch YUM repository as described here https://www.elastic.co/guide/en/elasticsearch/reference/current/rpm.html, installed Elasticsearch using `yum install elasticsearch` (was version 5.2.2 at the time I did so), configured it to restart on upgrade and let it run for some time. The next time I did a `yum upgrade` it got updated to 5.3.0 and failed to restart.

Unfortunately I d

[2017-04-01 14:31] jasontedor commented on #23860
While this looks like a question, it appears to be a potential bug report. I think it's worth investigating whether or not this reproduces. If it does not reproduce then I agree that it should be closed and then we can direct to the forum.

[2017-04-01 16:14] jasontedor commented on #23860
This does not reproduce. I started two nodes, one on my laptop and one on my workstation. I created an index with two shards, no replicas. These shards allocated one on each node:

[code]

I put this setting:

[code]

The shard relocated:

[code]

[2017-04-01 16:14] #23860 closed

[2017-04-01 18:07] sneivandt commented on #23823
Is this what you are expecting for this case? I would also ask if it is frowned upon for me to submit PRs for multiple issues tagged "low hanging fruit" rather than letting other new contributors take them?

[2017-04-01 19:42] jasontedor commented on #23785
I understand that it will take you time to do this. Yet, without a reliable reproduction or at least the inciminating jar there isn't much we can do here since it does not reproduce. If you do have the time do this, it will be appreciated. Otherwise, we will have to close this as can not reproduce.

[2017-04-01 22:28] Gacko commented on #23785
I could not reproduce this using a fresh CentOS 7 installation. I'll backup my Elasticsearch installation the next time I do an upgrade from the official Elasticsearch repo using the production system which is running on Oracle Linux.

[2017-04-01 22:50] Phrozyn opened #23865 "Trailing comma in batch size reindex example"
For documentation of _reindex usage in
**Elasticsearch version**: 2.4

I'd like to remove the trailing comma
https://github.com/elastic/elasticsearch/compare/2.4...Phrozyn:patch-1#diff-b79a62e74f359eb1f0fb0ffc7e418104

[2017-04-01 23:43] nik9000 commented on #23865
Sure! Open a PR.

On Sat, Apr 1, 2017, 6:50 PM A Smith <notifications@github.com> wrote:

For documentation of _reindex usage in
*Elasticsearch version*: 2.4

I'd like to remove the trailing comma
2.4...Phrozyn:patch-1#diff-b79a62e74f359eb1f0fb0ffc7e418104
<https://github.com/elastic/elasticsearch/compare/2.4...Phrozyn:patch-1#diff-b79a62e74f359eb1f0fb0ffc7e418104>

—
You are receiving this becaus

[2017-04-02 00:57] jasontedor commented on #23865
Yes, a PR would indeed be appreciated here. To be clear though, an issue is not necessary for a PR, you can directly open and we will give it the attention it deserves!

[2017-04-02 03:41] alrooney opened #23866 "can't use elasticsearch with circleci because of bootstrap checks"
Currently you have a policy of enforcing bootstrap checks if not binding to localhost.  This prevents me from testing on circleci because the docker test setup there does not bind to localhost and starting the elasticsearch container fails due to
[code]
It would be nice if we could explicitly disable bootstrap checks.

[2017-04-02 03:45] jasontedor commented on #23785
Okay, thanks for reporting back, it's appreciated. If this happens again indeed a snapshot of the system in the before state will be helpful but even a copy of the jar in the after state will help tremendously. Cheers!

[2017-04-02 03:46] jasontedor commented on #23866
Relief is coming for the this scenario. See #23598.

[2017-04-02 03:46] #23866 closed

[2017-04-02 04:01] alrooney commented on #23866
Great.  Thanks.  Also figured out the transport trick.  I was able to use circleci by setting the transport.host to localhost as follows in the circleci config.yml:

[code]

[2017-04-02 04:23] jasontedor commented on #23866
That's right. If you do not need transport, that's the preferred and simplest option. :smile:

[2017-04-02 04:36] weberhofer commented on #23821
Thank you for taking it into consideration.

[2017-04-02 07:11] wangweij commented on #21534
The simulation on these 882642 checks shows the same behavior, i.e. jdk9 spends about 100% more time than jdk8. Of all the checks, 881303 are in the same directory ("core/build/testrun/integTest/J0/temp"). For jdk8 with a canonicalized path cache of size 200, 830696 checks (94.26%) are hits and 50607 (5.74%) are misses. The sub-directory names inside "tempDir-002/d?/nodes/?/indices" look like rand

[2017-04-02 09:58] itaydvir opened #23868 "ES 5.2.2 Data nodes heap suddenly jump to max, causing cluster crash"
**Elasticsearch version**: 5.2.2

**Plugins installed**: [analysis-kuromoji, analysis-smartcn]

**JVM version**: 1.8.0_65

**OS version**: Debian 3.16.36

**Description of the problem including expected versus actual behavior**:
ES 5.2.2 Data nodes heap suddenly jump to max (from 6GB to 15GB) causing cluster crash.
Cluster includes:
1) 3 master nodes
2) 5 data nodes (32GB RAM, 8 cores)
3) indices

[2017-04-02 12:21] kunal642 commented on #22573
@olcbean I wont be able to work on this issue as of now. Would u like to take it up?

[2017-04-02 13:42] kumar1005 commented on #23798
i would love to solve this issue.

[2017-04-02 16:53] olcbean commented on #22573
@kunal642 no problems, I will take this on.
Thank you for letting me know :smiley:

[2017-04-02 18:32] madchap commented on #13592
Just a quick note despite the issue being closed, I am not able to do something like (on 2.4.4). I am running under a coreos-kubernetes multi-vagrant setup.

[code]

Getting an error like, and then the container fails.
[code]

[2017-04-02 19:42] bleskes commented on #17526
I think we can close it... it's been a long while. Thanks for the ping @colings86 !

[2017-04-02 19:42] #17526 closed

[2017-04-02 20:04] bleskes commented on #23499
@jdoss it would be great if you can give specific examples of the aggregations you use, trying to pin pointing the ones that started using more information.

[2017-04-02 20:26] jasontedor commented on #13592
@madchap I tested this and works fine. Are you sure that you input it correctly? I ask because the exception message indicates that it parsed whatever you input as `[ '_local_'`.

[2017-04-02 22:29] madchap commented on #13592
@jasontedor I tried to catch that to verify it, but could not really as the container is getting destroyed before I can actually get to what is being held in my env variable.

But I tend to believe you're right -- there must be something odd with the env variable interpolation I am missing. Thanks for your confirmation too. I've put 0.0.0.0 for now as I need to move on onto other stuff.

[2017-04-03 01:07] TanyaPedersen commented on #23687
Hi,

I'm a student in my third year of a Bachelor of Information Technology degree.  I'm new to github and a first time contributer to open source.

I'd like to attempt to fix this issue, are there any further thoughts on whether main docs or def guide is the appropriate place for the changes?

- Tanya

[2017-04-03 03:57] jordansissel commented on #17006
On use cases, I see DFIR and USN mentioned. Would either of these use cases use aggregations, or just search and sorting? If you see aggregations necessary, can you state which ones and what the use case for that is?

Apologies if I am oversimplifying, but it seems like:

* For USN, searching for individual USN and also sorting is desired (for viewing the journal in the correct order).
* For DFIR,

[2017-04-03 03:57] jordansissel commented on #17006
(Oops, clicked the wrong button. Reopened.)

[2017-04-03 06:15] waheed1947 opened #23871 "index_failed_engine_exception Index failed for translog is already closed status 500"
ES Version : 2.3.3
Laravel version : 5.0

When we update indexes most of them updated successfully but some indexes not updated.
Share My Error Log

ServerErrorResponseException in Connection.php line 659:
index_failed_engine_exception: Index failed for [sources#10475977]
in Connection.php line 659
at Connection->tryDeserializeError(array('transfer_stats' => array('url' => '', 'content_type' => 'a

[2017-04-03 06:19] tvernum commented on #23871
If you are simply asking for assistance in solving a problem, please ask on our [discuss forum](https://discuss.elastic.co/) where we can provide better support.
Elastic uses GitHub issues for confirmed bugs and feature requests which have been discussed on the forums.

I'm going to close this issue now, but if it turns out that you have uncovered a bug, we can reopen it later. Note thought, that

[2017-04-03 06:19] #23871 closed

[2017-04-03 07:27] spinscale commented on #23728
another failure here, unable to reproduce with a few iterations as well, message is

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/2319/testReport/junit/org.elasticsearch.test.test/InternalTestClusterTests/testDifferentRolesMaintainPathOnRestart/

@bleskes, could you take a look?

[2017-04-03 07:37] jpountz commented on #17006
If the workload consists of exact search and sort (no aggs), then strings are the way to go indeed. The reason why I am interested in the workload is that Lucene provides better ways to index the data if range queries are important, but this only works with fixed-size data up to 16 bytes / 128 bits.

[2017-04-03 08:15] ywelsch commented on #23868
We need a heap dump here to see what's going on.

[2017-04-03 08:21] itaydvir commented on #23868
Dont have at the moment... I currently rolled back to 2.3.3
in the next couple of weeks i will build a parallel cluster with 5.2.2 in order to recreate issue without affecting production services.

[2017-04-03 08:58] #22728 closed

[2017-04-03 09:40] jpountz commented on #23798
@kumar1005 This is an upstream issue, so it would have to be addressed in Log4j2 directly.

[2017-04-03 13:04] jpountz commented on #23858
I'm worried it would add significant complexity for marginal gains since nodes of a given cluster must be on a local network.

I have a similar concern about complexity, but this time also about the fact it could make Elasticsearch look faster when source filtering is enabled, which will make users jump to the conclusion that the thing that makes Elasticsearch slow is the size of the produced resp

[2017-04-03 13:34] spinscale opened #23873 "CI: Test Failure SignificantTermsIT.testPartiallyUnmappedWithFormat"
Was unable to reproduce this locally, an NPE coming up, resulting in a failed shard response from a quick look...

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/782/consoleFull

[code]

@jpountz could you take a look?

[2017-04-03 14:01] colings86 opened #23874 "Can't use Date or String values in `bucket_selector` and `bucket_script` pipeline aggregations"
Reported via Discuss forum: https://discuss.elastic.co/t/bucket-selector-aggregation-on-date-histogram--key/80986

The `bucket_script` and `bucket_selector` aggregations use the `BucketHelpers.resolveBucketValue()` method to get the `bucket_path`  values from the buckets. That method requires that the return value is a `Double` so currently it is required that all the `bucket_path`s are numeric va

[2017-04-03 14:05] nik9000 commented on #23874
Bleh. I think this is a thing that'd be fixed pretty well with the script contexts we keep talking about. In that case we'd compile the script against one of a couple of interfaces (returning a double, returning a date, returning a string) and then adapt them to something useful for aggs. Or something like that.

Without them (because they aren't coming quickly) we could add a couple more instance

[2017-04-03 14:34] itrnka opened #23875 "could not add subquery to bool must query"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**:

**OS version**: linux

**Description of the problem including expected versus actual behavior**:
in older version was supported query in query in unlimited tree level, eg.:

[code]
it can not be simulated yet...

[2017-04-03 14:38] ywelsch commented on #23875
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this. We can reopen this if there is a verified bug here.

[2017-04-03 14:38] #23875 closed

[2017-04-03 14:40] joelstewart opened #23876 "feature request: add abort timeout for index operations"
The API support for timeout only sets how long to wait for the primary shard to become available to begin an indexing operation:

https://www.elastic.co/guide/en/elasticsearch/reference/2.4/docs-index_.html#timeout

But it does not have any effect on indexing that once started may take a long time to complete.

Would like to be able to pass in an abort timeout value that aborts indexing of a docum

[2017-04-03 14:48] clintongormley commented on #17116
@JnBrymn-EB they've been removed in Lucene 7 https://issues.apache.org/jira/browse/LUCENE-7347

query coordination was a hack to make TF/IDF work better in the face of poor TF saturation, and query norm (i believe) was essentially a failed experiment to try to make the scores from different queries comparable.

with those removed, the bool query now just does a simple sum, and boosting clauses is

[2017-04-03 14:49] ywelsch commented on #23876
Why does it take so long for indexing to complete? Indexing a document should usually be fast. Also, once a document has been indexed into the primary but not replicated yet to all replicas, we cannot just abort the request, as this will make the replicas go out of sync.

[2017-04-03 15:48] jpountz commented on #23363
@firstprayer yes, this is what it means. Maybe you can look at how other analysis components are exposed (grepping for their name through the code base should help)?

[2017-04-03 15:50] colings86 commented on #23874
I don't really want to add the instanceof checks directly to that method since, as I mentioned, the rest of the pipeline aggregations rely on the value being a number.

[2017-04-03 16:01] spinscale opened #23879 "CI: FilterAggregatorTests.testRandom fails reliably"
This one fails reliably for me on osx

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu/784/consoleFull

[code]

[2017-04-03 16:02] joelstewart commented on #23876
Our reason for the long index times is related to geo indexing.   https://github.com/elastic/elasticsearch/issues/22087

Some geoshapes just lock it up into hours of a CPU trying to get that geo shape indexed.   This causes a lot of problems, such if a client calls refresh on that index, it fills the refresh queue up.

[2017-04-03 16:02] #23728 closed

[2017-04-03 16:16] izenk opened #23880 "_msearch query filtering"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**:
java version "1.8.0_60"
Java(TM) SE Runtime Environment (build 1.8.0_60-b27)
Java HotSpot(TM) 64-Bit Server VM (build 25.60-b23, mixed mode)

**OS version**:
Ubuntu 14.04 x64

**Description of the problem including expected versus actual behavior**:
Send query to get some metrics (gathered by metricbeats), filter it and

[2017-04-03 16:18] JnBrymn-EB commented on #17116
Fascinating! I'll have to soak this in.

[2017-04-03 16:27] joelstewart commented on #23876
Remind me how replicas work?

If I remember, the translog is what is copied, and then indexing takes place on the replica as well.  I do see how timeouts then introduce a problem of what to do if it timesout on the primary - there is no guarantee it would timeout on the replica(s) as well.

I'll offer a couple ideas, recognizing each may have ramifications or difficulties:

1) perhaps there can be

[2017-04-03 16:32] jasontedor commented on #23876
I agree with @ywelsch.

Additionally, aborting a thread would require cooperation from the indexing thread all through the engine and inside Lucene, I do not think we want to add checks throughout as it will just increase the cost of indexing with a lot of added complexity.

[2017-04-03 16:34] jasontedor commented on #23876
I think that instead of adding support for timeouts through Elasticsearch and Lucene, we should instead work on improving the performance here which is what #22087 can hopefully serve as a catalyst for.

[2017-04-03 16:39] joelstewart commented on #23876
@jasontedor  I understand there are complexities, which is why it would be a non-default operating mode that would enable it (and it could be experimental without guarantees / support).

My only option now is to implement logic that will reject documents with linestrings that have some characteristics.  Trouble is, we don't really know when something is good or bad without having a deeper understa

[2017-04-03 16:41] jpountz commented on #23879
@colings86 Can you take a look?

[2017-04-03 16:46] ESamir commented on #23845
Our documentation is still using BulkIndexByScrollResponse  , we need to update it and use BulkByScrollResponse

[2017-04-03 18:48] jasontedor commented on #23876
No, complexity means on the implementation side to what is already very hairy code. Hiding it behind being off by default doesn't change the fact that I'm very cautious about making any of the code involved here even more complex. Adding it behind an experimental flag will not help, it's still code in the main path of execution that has to change.

[2017-04-03 18:59] jasontedor commented on #23876
There is no translog replication, documents are added to the translog when indexing is completed whether it's on the primary, or on the replicas after the primary has completed and the replica has indexed the same document.

Indexing requests will never be sent to the replica is the primary fails to index the document. We will be replicating failures, but only for the purpose of ensuring that the

[2017-04-03 19:00] jasontedor commented on #23876
I'm going to close this issue, I will reopen if it if there's a convincing argument presented that we should add timeouts here. Instead, I think we should figure out how to make indexing as fast as possible, including the case of geo points.

[2017-04-03 19:00] #23876 closed

[2017-04-03 19:02] jasontedor commented on #23868
There is nothing that we can do here without a heap dump nor a reproduction. Please open a new issue if you are able to reproduce this.

[2017-04-03 19:02] #23868 closed

[2017-04-03 19:03] rreverol opened #23882 "ingest-attachment consumes too much heap space"
**Elasticsearch version**: 5.3

**Plugins installed**: [ingest-attachment]

**JVM version**: 1.8.0_121

**OS version**: Windows 10

**Description of the problem including expected versus actual behavior**:

I am trying to index 300 pdf documents with sizes between 400.000 and 1.500.000 characters. I am running just one ES Node in my local machine with 16 Gb. I have tried with serveral max heap con

[2017-04-03 19:04] jasontedor commented on #23882
Can you share a heap dump?

[2017-04-03 21:52] jasontedor commented on #10920
This is for an old version of Elasticsearch, and we have not received any additional feedback so closing.

[2017-04-03 21:52] #10920 closed

[2017-04-03 22:31] philhagen commented on #17006
I second the DFIR-related cases and add that we are generally beholden to the data types present in our evidence - as more operating systems and applications move to use and store larger values, we must adapt.  Truncating or throwing away information because of data type issues is dangerous.

A corollary use case has been identified in a number of forensic tools that can not parse emoji or other u

[2017-04-03 22:58] jordansissel commented on #17006
@philhagen Thanks for the information. I have some questions (similar to what I commented on above)

What data are you storing? What operations are you doing on this data?

If the operations are search-and-sort, you can achieve this *today* with no changes to Elasticsearch by telling Elasticsearch to map your large-integers as strings. You'll get search capability and sort capability from this.

F

[2017-04-03 23:14] danzek commented on #17006
**What data are you storing?** Here's a couple examples of data the DFIR community frequently stores in Elasticsearch.

 - Microsoft Windows stores [FILETIME timestamps](https://msdn.microsoft.com/en-us/library/windows/desktop/ms724284(v=vs.85).aspx) as 100-nanosecond intervals since January 1, 1601 (UTC) in a [ULARGE_INTEGER](https://msdn.microsoft.com/en-us/library/windows/desktop/aa383742(v=vs.

[2017-04-03 23:26] yadnesh-aaxis commented on #17590
We need this feature as well.

[2017-04-03 23:40] philhagen commented on #17006
@jordansissel sure thing - always happy to help!
The store-as-string solution would be viable, but we often do range-based searches against the numbers (data transferred between x and y bytes), the 100ns-interval timestamps @danzek describes searched after <y> time, etc.
I could see the USN journals being a great candidate for storing as strings, however.  I can't (personally) think of a case wher

[2017-04-04 00:19] jordansissel commented on #17006
I'm gonna close my eyes and hand-wave a USN suggestion as a workaround: that today's USN date has a set number of digits that won't add a new digit for a while (I haven't done the math, but it should be on the order of years), so relative range queries on USN-as-string should be OK given they all have the same [hand waving intensifies] number of digits?

(This comment is partly to suggest a specif

[2017-04-04 00:40] jasontedor commented on #23882
I hope that you do not mind that I edited your post to format the logs (I wrapped them in triple backticks).

[2017-04-04 00:41] jasontedor commented on #23880
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-04-04 00:41] #23880 closed

[2017-04-04 01:12] jasontedor commented on #23865
Closed by #23878

[2017-04-04 01:12] #23865 closed

[2017-04-04 01:54] philhagen commented on #17006
I appreciate both workarounds and humor! :)

You're correct - for that particular value, the first digits would be sufficient (and, I've taken to this exact approach with a few cases where the really minute detail is not critical, truncating the number at a certain number of digits).

The big challenge though is not what we're seeing TODAY, it's what we might encounter in the future. I know that d

[2017-04-04 05:14] jonesn commented on #12366
+1

[2017-04-04 06:49] hijakk opened #23890 "Streaming aggregation results on a per shard or segment basis"
I am a data scientist working with relatively large volumes of data. One of the consistent complaints I've heard from my colleagues about Elasticsearch is the aggregations interface and the inability to scan/scroll for large volumes of results from, say, a terms aggregation.

If it's possible, I think a low level interface that would allow users to get complete results back from individual shards

[2017-04-04 07:01] clintongormley commented on #23876
@joelstewart @nknize is working on BKD based geoshapes in Lucene, which will be much more efficient than the current implementation.  This tackles the problem at its root rather than papering over it with a timeout.  Yes, it's not immediate, but it will be worth the wait.

[2017-04-04 08:16] clintongormley opened #23892 "Deprecate `:` in cluster and index names"
We use `:` in cross cluster search to separate the cluster name from the index name, eg `cluster:index`.  This can introduce ambiguity when you have an index named `cluster:index` (although this can be worked around by adding a cluster prefix: `my_cluster:cluster:index`.

Still, to avoid ambiguity, we should deprecate `:` in cluster and index names.

[2017-04-04 08:18] clintongormley opened #23893 "Wildcard cluster names for cross cluster search"
With cross cluster search today, each cluster has to be specified separately, eg

    GET one:*,two:*,three:*/_search

It would be good to be able to support wildcards:

    GET *:*/_search

By extension, (because it is how it works everywhere else), we should support pattern matching like:

    GET t*:*/_search

One complication is that `:` is an allowed character in index names today (although w

[2017-04-04 08:19] nilabhsagar commented on #23476
Hi, Any update on this feature?

[2017-04-04 08:23] bleskes commented on #23476
@areek @clintongormley can you voice an opinion?

[2017-04-04 08:25] clintongormley commented on #23687
Hi @TanyaPedersen

Thanks for the offer.  I'd add it to the reference docs section, probably just above this: https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping.html#mapping-limit-settings

[2017-04-04 10:01] ywelsch commented on #21534
@wangweij thank you for investigating the issue and looking into possible solutions. This is much appreciated.

[2017-04-04 12:19] glefloch commented on #23892
I'm interested into working on this issue.
By deprecating `:` in cluster and index names, do you mean logging something at startup (or at index creation time) if the name contains `:`, or should we throw an exception to prevent adding it?

[2017-04-04 12:44] jimczi commented on #23879
Fixed by https://github.com/elastic/elasticsearch/commit/c14be2074472478c0abafca51631e22960281b44

[2017-04-04 12:44] #23879 closed

[2017-04-04 12:45] Balajiswz commented on #18406
I am also hitting the same error when we try to define separate TMP folder for elasticsearch with similar configurations.

[2017-04-04 12:54] colings86 commented on #23879
@jimczi thanks :)

[2017-04-04 13:52] jasontedor commented on #23866
This is integrated now. We have added a new discovery type suitable for binding transport to an external interface for the purpose of testing the transport client against Elasticsearch in situations where might not have permissions to modify the configuration of the host to pass the bootstrap checks (for example, CI providers). To summarize the situation:
 - we have added a new discovery type call

[2017-04-04 13:53] jasontedor commented on #23580
We have added a new discovery type suitable for binding transport to an external interface for the purpose of testing the transport client against Elasticsearch in situations where might not have permissions to modify the configuration of the host to pass the bootstrap checks (for example, CI providers). To summarize the situation:
 - we have added a new discovery type called `single-node`
 - when

[2017-04-04 13:55] jasontedor commented on #21655
We have added a new discovery type suitable for binding transport to an external interface for the purpose of testing the transport client against Elasticsearch in situations where might not have permissions to modify the configuration of the host to pass the bootstrap checks (for example, CI providers). To summarize the situation:
 - we have added a new discovery type called `single-node`
 - when

[2017-04-04 15:08] TommySedin commented on #20367
When used in an index template, which {now} would be used? Server's OS clock or the @timestamp of the document that is being indexed?
We have a situation where we would like to create aliases per day on indices that might be per hour (very different amounts in different environments). Problem is, the timestamps aren't guaranteed to be "today".

(A substring match solution, something like #5359, wo

[2017-04-04 15:13] Mpdreamz commented on #19399
Leave it open just a tad we'll be doing a big doc update on our end next week so we have somewhere nice to point people for scroll and bulk helpers. cc @russcam

[2017-04-04 15:22] tbrooks8 commented on #23695
It looks like there was a failure related to this today. On the G1Gc master build.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/2327/console

gradle :core:integTest -Dtests.seed=8C71214509D0E0F4 -Dtests.class=org.elasticsearch.tribe.TribeIT -Dtests.method="testClusterStateNodes" -Dtests.security.manager=true -Dtests.jvm.argline="-XX:-UseConcMarkSweepGC -XX:+UseG1GC" -

[2017-04-04 15:47] tbrooks8 commented on #23700
It looks to me like this failed again today.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+2.4+periodic/2344/console

Suite: org.elasticsearch.bwcompat.BasicAnalysisBackwardCompatibilityIT
  2> REPRODUCE WITH: mvn verify -Pdev -Dskip.unit.tests -pl org.elasticsearch.qa.backwards:2.3 -Dtests.seed=3891813BCB76E3F6 -Dtests.class=org.elasticsearch.bwcompat.BasicAnalysisBackwardCompati

[2017-04-04 16:10] clintongormley commented on #20367
@TommySedin it would be the server's clock. If you want to use the document's timestamp, then you can change the index name using an ingest pipeline.   That said, I don't think that trying to ensure that all documents belong to the exactly correct index is worth worrying about. You can use a query to figure out whether a particular index is OK to delete or not, and the same thing for which documen

[2017-04-04 16:12] synhershko opened #23899 "Remove types?"
This may be a bit controversial perhaps, but I'd like to propose types to be removed in a future major release.

Historically, types were useful for separating documents with different structure within indexes. However, in recent versions this practically no longer holds - different document types cannot share the same field name if their mappings don't match.

In addition the only manageable unit

[2017-04-04 16:14] dadoonet commented on #23899
It's a duplicate of #15613 IMO. I'm closing but feel free to comment there or reopen.

[2017-04-04 16:14] #23899 closed

[2017-04-04 16:15] synhershko commented on #23899
Oh, well I guess great minds think alike ;) I'll paste my thoughts there then

[2017-04-04 16:16] synhershko commented on #15613
Historically, types were useful for separating documents with different structure within indexes. However, in recent versions this practically no longer holds - different document types cannot share the same field name if their mappings don't match.

In addition the only manageable units in Elasticsearch are documents and indexes. You can add and delete them. You cannot manage types. As such, the

[2017-04-04 17:14] tbrooks8 opened #23902 "CI: Test Failure SingleNodeDiscoveryIT on Windows"
There are multiple Windows builds failing on SingleNodeDiscoveryIT:

http://build-us-00.elastic.co/job/es_core_master_windows-2012-r2/5206/#showFailuresLink
http://build-us-00.elastic.co/job/es_core_master_windows-2012-r2/5207/#showFailuresLink

2> REPRODUCE WITH: gradle :core:integTest -Dtests.seed=89B8A7295A4D83B9 -Dtests.class=org.elasticsearch.discovery.single.SingleNodeDiscoveryIT -Dtests.nig

[2017-04-04 17:27] gmoskovicz opened #23903 "null_pointer_exception when retrieving the Cluster state"
**Elasticsearch version**: 5.3.0

**Plugins installed**: NONE

**JVM version**: 1.8

**OS version**: Mac

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. Uncompress Elasticsearch 5.3.0
 2. Uncompress the following file as the `/data` folder: [NPE.zip](https://github.com/elastic/elasticsearch/files/893962/NPE.zip)
 3. Run Elasticsearch
 4. Do `

[2017-04-04 17:31] jasontedor commented on #23903
The verb is `GET` to obtain the cluster state. Instead, this request should be rejected as method not supported see #15335. There is an open pull request for this, #17916. I'm closing this as a duplicate of #15335.

[2017-04-04 17:31] #23903 closed

[2017-04-04 18:14] thaDude commented on #19415
@nik9000

Dude...

Hello, the fact that ES 5.x `org.elasticsearch.client` transport artifact explicitly expects log4j2 2.7 made things quite hard for us. I don't understand the exact reason it's not using the slf4j API. Using `log4j-over-slf4j` is not an option since there will very likely be `log4j-slf4j-impl` in the class path to process the logs of "standard" libraries that don't make an explic

[2017-04-04 18:39] erebus1 commented on #23850
The possibility of combing function scores in arbitrary way, at least add and multiply, seems to be very useful. Looking forward for implementation.

[2017-04-04 19:33] tbrooks8 opened #23904 "CI: Test failure RelocationIT testIndexAndRelocateConcurrently"
This failed on 5.3 multijob-unix-compatibility. The tests passed when I ran them locally. When I searched, I could not find a recent issue for this test failure.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.3+multijob-unix-compatibility/os=sles/98/

``
2> REPRODUCE WITH: gradle :core:integTest -Dtests.seed=7A83A8E80EB06D97 -Dtests.class=org.elasticsearch.recovery.RelocationIT -

[2017-04-04 21:43] mkelkarbv opened #23908 "Provide a re-locatable rpm distribution"
**Elasticsearch version**: 5.2.2

**Plugins installed**: []

**JVM version**: 1.8.0-65

**OS version**: amazon linux

**Description of the problem including expected versus actual behavior**:

elasticsearch 5.2 ( or even 5.3) rpms are not relocatable. I think they should be re-locatable.

**Steps to reproduce**:
 1. download elasticsearch 5.2.2 rpm
 2. install via rpm --relocate

`rpm --relocate /

[2017-04-04 22:24] spalger commented on #23893
Do you think there is a reason Kibana shouldn't just execute all queries against `*:{index}`? At some point we want to give users more control about which clusters receive requests, maybe making it an index pattern level setting, but out of the gate I'm thinking Kibana might just add `*:` before every index in requests to es... Do you think that will be too costly or error prone?

[2017-04-05 02:28] jasontedor commented on #23908
Sorry, I think we are very unlikely to provide this functionality, we are trying to keep the packaging simple and I do not see the need to add support for what is already a very rarely used feature with little benefit to doing so.

In fact, the [Fedora packaging guidelines](https://fedoraproject.org/wiki/Packaging:Guidelines#Relocatable_packages) say this:

[2017-04-05 02:30] brusic commented on #15613
Many years ago, I created an issue asking for inclusion of custom index-level metadata. The work-around given was to use a custom type within the same index with a single document: https://github.com/elastic/elasticsearch/issues/1649

I always found multiple types in the same index to be kludgy (as highlighted by this issue), so I never implemented the suggested solution, but used aliases (had the

[2017-04-05 02:34] jasontedor commented on #23908
Oops, closed by hitting the wrong button; leaving this open for discussion.

[2017-04-05 02:45] tvernum commented on #23908
@mkelkarbv, Is it just the init.d niceties that are steering away from the zip file?
Because that's a problem that we can look at solving in other ways.

[2017-04-05 07:59] lukas-vlcek commented on #23687
@clintongormley Are there any mapping limit settings available for ES 2.x or they apply for ES 5.x and above only?

[2017-04-05 08:19] bleskes commented on #15613
@brusic I presume the [mapping meta field](https://www.elastic.co/guide/en/elasticsearch/reference/5.3/mapping-meta-field.html) will cover this, as the mappings will now be an index level thing. Is this correct?

[2017-04-05 08:44] cbuescher commented on #23890
@hijakk you can already restrict the search operation (and thereby also aggregations) to run only on selected shards using the `preference` [url parameter](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-preference.html), e.g by setting `?preference=_shards:1`. I doubt that ES is likely to expose access to any low-level operation on a segment basis though.

[2017-04-05 11:09] jasontedor commented on #23892
To be clear, the ambiguity is handled in the following way already today. If you try to search on `cluster:index`, there is a remote cluster aliased by `cluster`, and there is an index named `cluster:index`, then we fail the request and inform the user that they need to change the remote cluster alias to resolve the ambiguity.

[2017-04-05 11:36] jaymode commented on #23857
Same issue seems to be happening on the 5.3 branch as well. https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.3+multijob-unix-compatibility/os=ubuntu/101/console

Should we mute the test or remove the check in these branches if we're not planning on fixing the issue?

[2017-04-05 11:40] javanna commented on #23892
good point @jasontedor . I also wonder if we need to add any validation to the cluster name like in #23911 or rather in cluster aliases used for cross cluster search, that don't necessarily have to match with the remote cluster names.

[2017-04-05 12:06] jaymode commented on #23902
Another failure: http://build-us-00.elastic.co/job/es_core_master_windows-2012-r2/5213/console

[2017-04-05 12:09] javanna commented on #23892
the other bit that comes to mind is that the same validation should be applied to both index names and aliases, something that we happened to forget about in the past.

[2017-04-05 12:12] bleachzk opened #23916 "Install failed ~"
java.lang.UnsupportedOperationException: seccomp unavailable: requires kernel 3.5+ with CONFIG_SECCOMP and CONFIG_SECCOMP_FILTER compiled in
        at org.elasticsearch.bootstrap.SystemCallFilter.linuxImpl(SystemCallFilter.java:350) ~[elasticsearch-5.2.2.jar:5.2.2]
        at org.elasticsearch.bootstrap.SystemCallFilter.init(SystemCallFilter.java:638) ~[elasticsearch-5.2.2.jar:5.2.2]
        at o

[2017-04-05 12:14] #23916 closed

[2017-04-05 12:20] jasontedor commented on #23902
Closed by 24127bf41686e04eae9930aafad374c004b99b74

[2017-04-05 12:20] #23902 closed

[2017-04-05 13:06] ywelsch commented on #23904
The issue here is that a recovery can be cancelled (and thus restarted) even though the shard state has already been marked as `POST_RECOVERY` and the master possibly notified that recovery is completed. This can result in a `IndexShard` state where the `shardRouting` field has a `ShardRouting` object with state `STARTED` and the `IndexShardState` state is `RECOVERING`.

Relevant log lines:

[code

[2017-04-05 13:18] martijnvg opened #23917 "Inner hits should create weight once per request rather than per hit"
Today inner hits re-creates the weight each time inner hits are being computed and for more expensive queries this can significantly increase the fetch time of the search request.

Like this can be implemented by letting `InnerHitsFetchSubPhase` overwrite `hitsExecute(SearchContext, SearchHit[])` instead of `hitsExecute(SearchContext,HitContext)`.

Also perhaps other things can be reused, for exam

[2017-04-05 13:25] mkelkarbv commented on #23908
@jasontedor @tvernum  thank you for your responses!

@jasontedor  good to know! I think there is room for providing some functionality that rpms provide to other distros like zip file/yum.

@tvernum  Here is what I thought was nice about rpm distribution
1. necessary system settings ( max open files, vm.max_map_count ) are taken care of
2. init.d script for service management

In fact, if these th

[2017-04-05 13:29] ojundt commented on #23628
Thank you for your patience. I found a simpler query that I'm able to share with you with the same issues:
[code]

[2017-04-05 13:38] jaymode commented on #19388
@javanna you are correct. There is nothing left to do here.

[2017-04-05 13:38] #19388 closed

[2017-04-05 13:56] jimczi opened #23918 "Shingle filters that produce shingles of different size can create gigantic queries"
Shingle filters creates a graph token stream that the query parser is now able to consume.
Though when shingles of different size are produced the number of paths in the graph can explode.
This is also the case when `output_unigram` is set to true.
In 5.3 all paths are generated before building the query so a node can OOM easily on a single big input query. In 5.4 and beyond we detect the explosio

[2017-04-05 13:56] rholloway commented on #12366
Also an issue on ES 5.2.1. Very frustrating when dealing with some unexpected input that may possibly be malformed.

[2017-04-05 13:59] clintongormley commented on #23918
we should also update the docs to explain better config

i'd consider removing the min/max shingles settings in favour of a single size, and removing output_unigram too?

[2017-04-05 15:00] glefloch commented on #23363
@mikemccand can you explain me the difference between `SimplePatternTokenizer` and `SimplePatternSplitTokenizer`. The lucene javadoc of `SimplePatternSplitTokenizer` says:

  // find a clean way to share it:

Should we expose both tokenizer?

[2017-04-05 15:25] MarneusCalgarXP opened #23919 "Elastic 5.2.1 & x-pack : unable to define action.auto_create_index ?"
**Elasticsearch version**: 5.2.1

**Plugins installed**: [x-pack] (only monitoring enabled, withc basic licence)

elastic.yml:

[code]

**JVM version**: 1.8.0_101-b13

**OS version**: Centos 6 64bit

**Description of the problem including expected versus actual behavior**:
When trying to define

**Steps to reproduce**:
 1. add the following line in elastic.yml:
`action.auto_create_index: +.monitor

[2017-04-05 15:41] ojundt commented on #23628
It seems that above query only results in the IndexOutOfBounds when `query` is the empty string.

[2017-04-05 16:29] cbuescher commented on #23919
@MarneusCalgarXP thanks, I got the same error with your settings on 5.2.2, but
[code]
worked for me. However, I think watcher shouldn't perform those checks if it is disabled. Maybe @spinscale has an opinion on that?

[2017-04-05 16:33] spinscale commented on #23919
@cbuescher yes you are right, that should not happen. I will fix it on the x-pack side.

[2017-04-05 16:43] jaymode opened #23922 "CI: MinimumMasterNodesIT testMultipleNodesShutdownNonMasterNodes fails"
The testMultipleNodesShutdownNonMasterNodes test has failed intermittently in CI on master and 5.x. Looking back I see two types of failures. The first is:

[code]

Reproduce lines but neither reproduced for me:

[code]

[code]

Failures:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-unix-compatibility/os=amazon/655/console
https://elasticsearch-ci.elastic.co/job/elast

[2017-04-05 16:48] clintongormley opened #23924 "Add `search.remote.{name}.http_addresses` setting"
Users should be able to specify a preferred list of `http_addresses` when configuring a remote cluster for cross-cluster search.

Question: should this be `_addresses` or `_urls`?  The nodes may be behind HTTPS instead of HTTP, so should they be specifying `https://10.0.0.1:9200`?  or should we add `search.remote.{name}.https: true|false`?

[2017-04-05 16:48] clintongormley commented on #23924
@s1monw what do you think?

[2017-04-05 16:49] esequiasneto commented on #23182
I also have this problem and it was resolved by adding a painless script. I followed the complete query along with the script:

{
	"size": 0,
	"aggs": {
		"4": {
			"date_range": {
				"field": "base_iptv_terminal_data_inicio",
				"ranges": [{
					"from": "now-500h-3h",
					"to": "now-3h"
				}],
				"time_zone": "UTC"
			},
			"aggs": {
				"3": {
					"terms": {
						"field": "base_iptv_cana

[2017-04-05 16:52] clintongormley opened #23925 "Cross-cluster search remote cluster status API"
With cross-cluster search configured, Kibana needs to be able to:

* discover the names of the remote clusters
* discover the remote cluster's `http.publish_address`
* check if remote clusters are contactable

This is made more complicated by the fact that cluster settings can be `persistent`, `transient`, or `default` (configured in the `elasticsearch.yml` file).

Let's add a remote cluster statu

[2017-04-05 16:52] clintongormley commented on #23925
/cc @s1monw

[2017-04-05 17:40] initialcontext commented on #21942
I hit the same issue where a large cardinality query took down my datanodes with similar stack trace on ES 5.2.2. `precision_threshold` was default (I think 3000) at the time:

[code]

[2017-04-05 17:50] ajaybhatnagar opened #23927 "Incorrect documentation ES 5.3.3 - Indexing Performance Tuning"
Parameters index.refresh_interval, indices.memory.index_buffer_size are mentioned in the document for indexing performance tuning but they are not allowed in the configuration.
Ref: https://www.elastic.co/guide/en/elasticsearch/reference/current/indexing-buffer.html

[2017-04-05 18:25] eshkel opened #23928 "application hanging on OOME"
**Elasticsearch version**:
elasticsearch-5.1.1
**Plugins installed**: []
no
**JVM version**:
Java(TM) SE Runtime Environment (build 1.8.0_101-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.101-b13, mixed mode)
**OS version**:
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.1 LTS
Release:	16.04

**Description of the problem including expected versus actual behavior**:
Single node application han

[2017-04-05 18:34] jaymode commented on #21463
This test failed again today on master but with a different issue related to failing to delete a index file:

[code]

This did not reproduce for me but the line is:

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+java9-periodic/2048/consoleText

[2017-04-05 18:37] jasontedor commented on #23928
You should upgrade, you're on a version of Elasticsearch that does not disable the Netty recycler which is prone to the problem that you're experiencing here. See #22452.

If that does not fix your problem, you need to look at a heap dump (it should be produced when Elasticsearch OOMs) and see what is occupying all the heap.

Beyond this, Elastic provides a [forum](https://discuss.elastic.co) for

[2017-04-05 18:37] #23928 closed

[2017-04-05 20:00] nik9000 commented on #23696
These seem to have gone away?

[2017-04-05 20:00] #23696 closed

[2017-04-05 20:17] nik9000 commented on #23845
I pushed
https://github.com/elastic/elasticsearch/commit/c5910c0e352ebc6f89cb941268b9ab55cbef515a to fix it.

[2017-04-05 21:08] ojundt commented on #23628
Alright, after some confusion and further drilling down I was able to consistently reproduce the error with the following setup:

query (in query.json):
[code]

Setup:
[code]

Output:
[code]

Now you may argue that division by zero is stupid anyway. Agree, but I'd expect a much different error message. Also, if you change `-1 / doc['value'].value` by `1 / doc['value'].value` it suddenly works:

[c

[2017-04-05 21:35] lancemind commented on #23604
Do we know when this fix will be available?

[2017-04-05 21:38] jasontedor commented on #23604
It should be in the recently released 5.3.0.

[2017-04-05 22:38] lancemind commented on #23604
Thanks!  Guess I'm not on the right email list as I didn't know there was a release last week.

[2017-04-06 05:44] chaitu0292 opened #23932 "Elasticsearch giving failed to connect to discovered node"
**My java application log was filled up with below error.Any idea why this exception.ES version:2.4.2**

DEBUG transport:319 - [Rl'nnd] failed to connect to discovered node [{node-bla.bla.bla}{AjQO6FQ8S_u5F43exnmZPA}{bla.bla.bla:9300}{data=false, master=false}] ConnectTransportException[[node-bla.bla.bla][bla.bla.bla:9300] connect_timeout[30s]]; nested: ConnectTimeoutException[connection timed out

[2017-04-06 06:14] javanna commented on #23932
hi @chaitu0292

Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2017-04-06 06:14] #23932 closed

[2017-04-06 06:22] sikelong123 commented on #23199
I also encountered the same problem, but my log is like this：

java.lang.NullPointerException
        at org.elasticsearch.index.IndexService.closeShard(IndexService.java:409) [elasticsearch-5.0.0.jar:5.0.0]
        at org.elasticsearch.index.IndexService.createShard(IndexService.java:361) [elasticsearch-5.0.0.jar:5.0.0]
        at org.elasticsearch.indices.IndicesService.createShard(IndicesServic

[2017-04-06 06:24] sikelong123 commented on #22551
I'm not sure if this is related, but I just reported a similar looking error in #23199. I am using ES 5.0.0 though.

[2017-04-06 06:55] #23918 closed

[2017-04-06 07:02] sikelong123 commented on #23199
Did you solve the problem? @speedplane

[2017-04-06 07:15] spinscale commented on #23919
This will be fixed in the next patch release of Elasticsearch/X-pack 5.3 - thanks so much for reporting!

[2017-04-06 07:15] #23919 closed

[2017-04-06 08:11] martijnvg opened #23934 "ScriptFieldIT#testNativeScript failure"
[code]

Failure does not reproduce.

build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/79

[2017-04-06 08:14] martijnvg opened #23935 "GlobalIT#testWithStatsSubAggregator build failure"
[code]

[code]

Build failure does not reproduce.

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/797

[2017-04-06 08:18] martijnvg commented on #23695
This test failed again after @bleskes fix was applied: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+java9-periodic/2051/console

The failure is different, but I want to make sure that it has nothing do with the original failure or the fix itself before opening a new issue.

[code]

[2017-04-06 08:37] jpountz opened #23936 "Remove the V_2_* Versions constants"
Elasticsearch 6.x will only be compatible with 5.0+ so we should remove those version constants.

[2017-04-06 08:55] jpountz opened #23937 "InternalEngineTests is inconsistent with SeqNoFieldMapper"
InternalEngineTests does `final NumericDocValues values = leaf.getNumericDocValues(SeqNoFieldMapper.NAME);` while `SeqNoFieldMapper` creates this field using a `SortedNumericDocValuesField`. We should either change `SeqNoFieldMapper` to create `NumericDocValuesField` instances or `InternalEngine` to call `leaf.getSortedNumericDocValues`.

[2017-04-06 09:03] martijnvg opened #23938 "The createClone task fails on Windows"
[code]

I'm unsure what the cause of the problem is as it isn't printed in the console.

I was thinking that it perhaps can't find the `git` command, but that doesn't make sense otherwise the jenkins slave was unable to check out the repository in the first place.

Build urls:
* http://build-us-00.elastic.co/job/es_core_master_windows-2012-r2/5217/
* http://build-us-00.elastic.co/job/es_core_maste

[2017-04-06 09:30] sikelong123 opened #23939 "Red Cluster State: failed to obtain in-memory shard lock and closeShard NPE"
**Elasticsearch version**:
      5.0.0

**Plugins installed**: [null]

**JVM version**:
   "1.8.0_72"

**OS version**:
     Linux version 2.6.32-431.el6.x86_64 (mockbuild@c6b8.bsys.dev.centos.org) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-4) (GCC) ) #1 SMP Fri Nov 22 03:15:09 UTC 2013
**Description of the problem including expected versus actual behavior**:
  master node disconnected, rejoin,  fa

[2017-04-06 09:36] sikelong123 commented on #23939
The first problem: null pointer problem
Second questions: rejoin,java.io.IOException: failed to obtain in-memory shard lock

[2017-04-06 09:40] ywelsch commented on #23939
1) That NullPointerException is harmless, but has been fixed in #21084, which is in ES v5.0.2+. Please upgrade.
2) Is your cluster health still red? Does running `curl -XPOST 'localhost:9200/_cluster/reroute?retry_failed` solve the issue? If not, can you post the output of `curl -XGET 'localhost:9200/_cluster/allocation/explain`

[2017-04-06 10:07] sikelong123 commented on #23939
A lot of main shards are lost before reboot.No problem after the restart.

[2017-04-06 10:07] sikelong123 commented on #23939
@ywelsch

[2017-04-06 10:19] ChristopheBoucaut commented on #15994
Hi @jrots.

Did you test your use case with ES 5.* ? Can you confirm the improve ?

I have the same issue with ES 5.* and I don't found a "native solution" in ES.

Regards.

[2017-04-06 10:29] sikelong123 commented on #23939
old gc logs:
**firdt:**
[2017-04-03T08:18:52,492][WARN ][o.e.m.j.JvmGcMonitorService] [mogu015052] [gc][young][4633755][90625] duration [3.2s], collections [1]/[1.6m], total [3.2s]/[1.4h], memory [57.1gb]->[32.2gb]/[59.9gb], all_pools {[young] [24.7gb]->[266.6mb]/[24.8gb]}{[survivor] [515.9mb]->[0b]/[3gb]}{[old] [31.8gb]->[31.9gb]/[32gb]}
[2017-04-03T08:18:52,492][WARN ][o.e.m.j.JvmGcMonitorServic

[2017-04-06 10:49] bleskes commented on #23937
@jpountz Indeed an issue. I think this is addressed in https://github.com/elastic/elasticsearch/pull/23543/files#diff-2688948cc880616bb08050ed25eec96dR266 .

[2017-04-06 11:28] ywelsch commented on #23939
It's all explained in #23199:

When the cluster forms again after long GC / network disconnects, and the master allocates the shards to the problematic node, the node first has to properly shutdown the existing shard resources. This can take a while, depending on the operations that were previously running. This manifests in the ShardLock failures, as the new shard instance cannot be created while

[2017-04-06 11:28] #23939 closed

[2017-04-06 11:34] roelandvanbatenburg opened #23940 "Filter in bool-query unexpectedly sets the minimum_should_match to 0"
**Elasticsearch version**: 5.2.2

**JVM version**: Oracle Corporation/OpenJDK 64-Bit Server VM/1.8.0_121/25.121-b13

**OS version**: Linux/4.9.13-moby/amd64

**Description of the problem including expected versus actual behavior**:
There is unexpected behaviour when combining should clauses with filter clauses in a bool query.
The following queries return different results as the second case is en

[2017-04-06 11:59] cilerler commented on #23250
@imotov you are right, we all from the same company but we are accessing Elastic from different applications and we realized that we all suffering from the same issue.  "Not having a capability to cancel a query".

- Our customer facing application generates dynamic queries on the fly based on user interaction.
- Our ETL process is automatized system which depends on other actions taken on other a

[2017-04-06 12:14] cbuescher commented on #21475
I can look into this. Would deprecation in 5.x and removal in 6.0 be okay?

[2017-04-06 12:15] cbuescher commented on #21475
With removal I mean we would throw an exception if the find the parameter in new mapping definition.

[2017-04-06 12:21] martijnvg opened #23942 "SimpleLocalTransportTests#testConcurrentSendRespondAndDisconnect failure"
Fails because of a suite timeout and doesn't reproduce.

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.3+multijob-unix-compatibility/os=fedora/104

[code]

[2017-04-06 12:24] tsouza opened #23943 "Unclear error message when using custom "synonym" with Analyze API"
According to `synonym` filter comment:
[code]

Because of this limitation, if you try to use it like the following (which is a valid syntax since the Analyze API docs mentions it but with `stop` filter instead):
[code]

You will get the following error: `failed to find global token filter under [synonym]`

This is misleading since it is the same error that you get if you use an unknown token filte

[2017-04-06 12:34] TommySedin commented on #20367
@clintongormley In our largest environment, we have about 30 TB of live data in ~7 billion documents (transaction events). The frontend GUI that the 1st-line uses to follow the transactions runs searches on specific date-based indices to limit the sheer number of shards that has to be queried. Having all these documents end up in respective index is pretty important.

Preferably we'd use the Rollo

[2017-04-06 12:38] jasontedor commented on #23938
I logged into the slave, and the offending command runs fine from the command prompt. I pushed 2620200ff7d945c5bc17d2b854b4a6a92fd2120e to see if we can get some additional debug output here.

[2017-04-06 12:51] martijnvg opened #23944 "MultiClusterSearchYamlTestSuiteIT {p0=/10_basic/Index data and search on the mixed cluster} failure"
This failure doesn't reproduce.

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/799

[code]

[2017-04-06 13:10] martijnvg commented on #23944
@javanna Perhaps, let me check the node logs on slave machine.

[2017-04-06 13:24] martijnvg commented on #23944
This also seems to be caused by an failure during indexing, but it is a different one than in #23790

[code]

[2017-04-06 13:29] jpountz commented on #23937
Awesome, indeed!

[2017-04-06 13:51] s1monw commented on #23944
thanks for the investigation @martijnvg I was pretty puzzled when I looked at the logs

[2017-04-06 13:55] zpapez opened #23945 "Reindex - requests_per_second causes scroll to use fractional time value"
**Elasticsearch version**: 5.3

**Plugins installed**: []

**JVM version**: 1.8

**OS version**: MacOS

**Description of the problem including expected versus actual behavior**:
Remote reindex sends an invalid request to the source ES when `requests_per_second` is specified.

Problem is most likely in `org.elasticsearch.index.reindex.remote.RemoteRequestBuilders.java` method `scrollParams` calls `

[2017-04-06 14:56] s1monw commented on #23944
@martijnvg I think this should be assigned to somebody else?

[2017-04-06 15:00] Tobsucht commented on #23838
Ok, I've tried something different: I changed the mapping etc. to have the same set-up as in the documentation.

new Field:
[code]

My query looks like this:
[code]
The confidence is set to "1" => no result.
The confidence is set to "0", I will geht this:
[code]

Just for clarification: There is no suggestion missing. I'm looking for "bohrer" which is returned for confidence=0.

What I noticed is

[2017-04-06 15:01] hartfordfive commented on #12366
👍
Would definitely be great to enable the `ignore_malformed` property for object.   I've had many cases of mapping errors due to the fact that someone tried to index a string where a nested object should be and vice versa.

[2017-04-06 15:12] jasontedor commented on #23944
I'm closing this one, we are tracking it internally as a possible infrastructure issue: either bad hardware on the slave, or a JVM bug. It's looking less likely it's the former, and more likely it's the latter.

[2017-04-06 15:12] #23944 closed

[2017-04-06 15:15] cbuescher opened #23947 "Mapping deprecations warnings in logs but not in warning headers"
Not sure this is a bug, but I'm looking at deprecation warnings when creating new indices (settings, mappings). When I use the following in Console:

[code]

I see the following in `elasticsearch_deprecation.log`:

[code]

But I only get the following deprecation warnings in the warning headers (in Console):

[code]
I also checked the same with curl, I also get only the two setting warning headers

[2017-04-06 15:18] javanna commented on #23940
This works as expected, `filter` clauses are exactly like `must` clauses, except that they don't affect scoring (and they may be more performant thanks to caching). If you want to make your should clause mandatory, it should become a must clause (in case you want it to affect scoring).

Would you like to open a PR to improve our definitive guide and clarify what you found? The page you mentioned i

[2017-04-06 15:18] #23940 closed

[2017-04-06 16:06] jasontedor commented on #23947
This looks bad. It appears to have something to do with the mapping update happening on the cluster state update task thread. I'm discussing this one with @jaymode now.

[2017-04-06 16:39] nelsen-ninech commented on #22909
Thanks you very much !

[2017-04-06 16:47] brusic commented on #15613
@bleskes If the mapping meta field will be promoted to an index level setting, it would be perfect.

[2017-04-06 18:12] vbura opened #23951 "Path hierarchy aggregation"
@clintongormley As i saw in his example https://github.com/elastic/elasticsearch/issues/8896, but running on elasticsearch 5.3 i get this error

i saw that @alexshadow007 has the same issue
_Hello, any solutions to get this functionality in 5.x?_

{
   "error": {
      "root_cause": [
         {
            "type": "unknown_named_object_exception",
            "reason": "Unknown BaseAggregationBui

[2017-04-06 18:19] javanna commented on #23951
Hi @vbura

Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

Thanks

As far as I can see from the linked issue, that aggregation was never implemented, hence it does not work.

[2017-04-06 18:19] #23951 closed

[2017-04-06 18:32] ryanhadley commented on #17744
Sorry I didn't get back to you. But we discovered that we were just expecting things from Elasticsearch that we shouldn't have been expecting. Our cluster state was so large that things that should happen quickly were not happening quick enough. We solved this solution by drastically reducing our cluster state size with more condensed mapping and less indexes total.

The cluster state was so large

[2017-04-06 18:46] jasontedor commented on #23938
Okay, there was no extra logging. I logged into the slave again, and instead of running the offending git command, I instead went with running `gradle :distribution:bwc-zip:createClone`. This gave the incredibly helpful output:

[code]

I fixed this by issuing:

[code]

I'll get this updated on all of the slaves.

[2017-04-06 19:13] s1monw commented on #23924
why would we need this if we can get this through the API added in #23925

[2017-04-06 19:38] #23947 closed

[2017-04-06 19:58] jaymode commented on #23947
Good find @cbuescher

[2017-04-06 20:09] nik9000 commented on #23857
@jaymode the problem effects all the reindex-from-remote tests. I don't think muting the tests is a great choice. I'm not really sure what to do in situations like these.

[2017-04-06 20:12] jasontedor commented on #23857
I think that we should keep them running. These branches are push only, and the failures are seemingly rare. I'd rather there be some coverage than no coverage.

[2017-04-06 20:25] bleskes commented on #23937
cool. Closing then. Thanks for signaling it.

[2017-04-06 20:25] #23937 closed

[2017-04-06 21:03] MrGarry2016 commented on #22156
Any update on this? I got the same problem.

[2017-04-06 21:08] jasontedor commented on #22156
There's an open PR for it: #23439. This is not a simple issue.

[2017-04-06 21:22] jpountz commented on #23936
Duplicate of #21887

[2017-04-06 21:22] #23936 closed

[2017-04-06 21:24] jonstewart commented on #17006
Howdy, I come from the DFIR world, but know Lucene well so maybe can bridge the divide a bit. ES is quickly becoming a handy tool as we deal with a variety of structures, ever changing, and it's usually not too hard to convert them to json and ingest into ES for searching and sorting.

Many of these structures come from the filesystem. There we often encounter 64-bit and sometimes 128-bit integers

[2017-04-06 21:51] lancemind opened #23955 "Crashes after upgrading to 5.3.0"
**Elasticsearch version**:
{
  "name" : "MkZ0lPb",
  "cluster_name" : "elasticsearch",
  "cluster_uuid" : "t_EwPLkSRDWMrUAcaae9Uw",
  "version" : {
    "number" : "5.3.0",
    "build_hash" : "3adb13b",
    "build_date" : "2017-03-23T03:31:50.652Z",
    "build_snapshot" : false,
    "lucene_version" : "6.4.1"
  },
  "tagline" : "You Know, for Search"
}
**Plugins installed**: [
searchguard-5.3.0-11

[2017-04-06 22:03] dakrone commented on #23857
I thought 5.3 was still running periodically? We just released it, so it seems like it should be run periodically

[2017-04-06 22:09] jasontedor commented on #23955
There's nowhere near enough information to reproduce this. Also, please remove Search Guard and see if the issue still reproduces as we will want a minimal reproduction anyway.

Since Elastic prefers to use GitHub only for verified bug reports and feature requests, I'm going to close this issue. If you need help digging through this, you can try the [forum](https://discuss.elastic.co).

[2017-04-06 22:09] #23955 closed

[2017-04-06 22:10] billnbell opened #23956 "Set INDEX_MAPPING_TOTAL_FIELDS_LIMIT_SETTING of 0 as unlimited"
Can we set 0 as unlimited? It does not appear that this is the case?

[2017-04-06 22:10] jasontedor commented on #23857
Okay, I missed that there was a 5.3 dropped here but that doesn't change the fact that some coverage is better than no coverage, and this isn't that noisy.

[2017-04-06 22:11] jasontedor commented on #23956
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-04-06 22:11] #23956 closed

[2017-04-06 22:11] #23857 closed

[2017-04-06 22:34] KellyBennett opened #23957 "score_mode max not working on nested score function"
**Elasticsearch version**:
 5.1.2
**Plugins installed**: []

**JVM version**:
using docker image "ES_JAVA_OPTS=-Xms256m -Xmx256m"

**OS version**:
using docker image "ES_JAVA_OPTS=-Xms256m -Xmx256m"

**Description of the problem including expected versus actual behavior**:
Goal: Return stores ranked by 2 factors (A: a gauss decay function which scores a store on it's distance from a lat long. B: M

[2017-04-06 23:23] mkhan24 opened #23958 "Cannot implement org.elasticsearch.client.HttpAsyncResponseConsumerFactory interface"
The HttpAsyncReponseConsumerFactory 's access modifier as it sits in version 5.3.0 of Java REST Client libraries is package protected, i.e, no access modifier has been specified therefore users will not be able to implement it outside the org.elasticsearch.client package.

However, the javadoc for the org.elasticsearch.client.HttpAsyncResponseConsumerFactory says :

/**
* Factory used to create in

[2017-04-06 23:58] #22845 closed

[2017-04-07 00:11] wangweij commented on #21534
https://bugs.openjdk.java.net/browse/JDK-8177969 filed and I am working on a fix.

[2017-04-07 00:23] speedplane commented on #23812
Apologies, I mean we could use offset/position, not term vectors.

Sounds great!

Would I use the `span_range` here? If I normalize all dollar amounts to `$` during analysis, I would just be able to use a normal span query, right? This would not be an ideal solution, but would sort of work.

[2017-04-07 00:54] #23716 closed

[2017-04-07 01:23] vanthanh opened #23959 "How can I get all record not paging ?"
How can I get all record not paging

[2017-04-07 01:26] jasontedor commented on #23959
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-04-07 01:26] #23959 closed

[2017-04-07 02:47] rjernst commented on #21534
This is great news @wangweij. Thank you for your time investigating and fixing!

[2017-04-07 03:19] myrfy001 opened #23960 "Wrong behaviour deleting alias."
**Elasticsearch version**:
5.2.2
**Plugins installed**: []
head
**JVM version**:
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)
**OS version**:
Linux 3.10.0-229.el7.x86_64
**Description of the problem including expected versus actual behavior**:

With two index named `foo_foo` and `bar_bar` with the sa

[2017-04-07 06:45] #23859 closed

[2017-04-07 07:03] floragunncom commented on #23955
java.lang.StackOverflowError within java.util.regex.Pattern in bulk thread, this indeed looks like a bug (either in ES or in Search Guard)

<pre>[2017-04-06T20:10:15,489][ERROR][o.e.b.ElasticsearchUncaughtExceptionHandler] [] fatal error in thread [elasticsearch[MkZ0lPb][bulk][T#1]], exiting
java.lang.StackOverflowError: null
	at java.util.regex.Pattern$GroupHead.match(Pattern.java:4658) ~[?:1.8.0

[2017-04-07 08:15] javanna commented on #23958
hi @mkhan24 you are right, the buffer limit was supposed to be configurable but it is configurable only from within the `org.elasticsearch.client` package at the moment. I will fix that. In the meantime, the workaround is to implement the `HttpAsyncResponseConsumerFactory` interface and borrow the few lines of code needed from `HeapBufferedResponseConsumerFactory`.

[2017-04-07 08:42] jpountz opened #23963 "GatewayIndexStateIT.testIndexDeletionWhenNodeRejoins failure"
This failure does not reproduce at all for me, and might be specific to Windows. I have not disabled the test as this looks like a rare failure.

http://build-us-00.elastic.co/job/es_core_master_windows-2012-r2/5235/console

[code]

[2017-04-07 08:55] jpountz opened #23964 "ZenDiscoveryIT.testNodeFailuresAreProcessedOnce failure"
It does not reproduce for me and the test is a bit complex so I'm not sure which stack traces from the log are relevant. I did not disable the test as it looks like a rare failure.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos/803/consoleFull

[code]

[2017-04-07 08:56] jpountz commented on #23964
@bleskes I assigned it to you thinking you would know who the right person is.

[2017-04-07 08:57] jpountz commented on #23963
@s1monw I assigned it to you because I thought you would know who would be the right person to look at it.

[2017-04-07 09:14] jimczi commented on #23955
@floragunncom without a clear reproducible case we can't help you.
As @jasontedor suggested check first if disabling SearchGuard eliminates the problem.

[2017-04-07 09:21] olcbean commented on #23960
This looks like  a low hanging fruit. If so, I would like to have a look at it.

[2017-04-07 09:24] jimczi commented on #23960
@olcbean I just marked the issue as adopt me ;)

[2017-04-07 09:25] s1monw commented on #23924
I think we should keep it simple for now and just use what the node info gives us. @clintongormley can you close this if you are ok with it.

[2017-04-07 09:44] #23924 closed

[2017-04-07 09:45] jimczi commented on #23957
@KellyBennett I think this is fixed by https://github.com/elastic/elasticsearch/pull/22172 ?
Also can you provide a simpler recreation that reproduce the problem in v5.3. I don't think you need a  custom script and the gauss function to reproduce it ?

[2017-04-07 10:18] clintongormley commented on #23925
I chatted to @s1monw about how we should handle http vs https.  Cross-cluster search will only work if all or none of the clusters are using TLS.  Of course, it is possible that TLS is enabled on the transport layer but not on the HTTP layer.

Outcome of the discussion is:

* if kibana is using credentials, then assume https (as we should never pass creds in the open)
* if not using credentials, K

[2017-04-07 10:41] jimczi opened #23966 "query_string and simple_query_string cannot apply minimum should match consistently"
We apply the requested `minimum_should_match` on parsed queries produced by `query_string` and `simple_query_string`. Since these queries can target multiple fields we used to rely on the `disableCoord` property of the `Boolean` query. Now that coords are gone in Lucene 7 we are not able to distinguish queries with multiple positions like:

[code]

.... with single position queries on multiple fie

[2017-04-07 11:01] jasontedor commented on #23652
Given this is an NPE in an unusual place, I do not think there is much if anything to do here and we should close this issue as we are tracking these unusual failures elsewhere.

[2017-04-07 11:01] #23652 closed

[2017-04-07 11:06] jimczi commented on #23509
This is fixed by https://github.com/elastic/elasticsearch/pull/23920

[2017-04-07 11:06] #23509 closed

[2017-04-07 11:20] colings86 commented on #21887
We might need to change re-index slightly to allow this change.

The reindex from remote determines the version of the remote cluster and changes its behaviour based on whether `version < 2.0.0`, `2.0.0 <= version < 2.1.0` or `version >= 2.1.0` (e.g. [1]). It does this by parsing the string version from a call to `GET /` into an instance of `Version`[2].

Maybe we should have re-index (and maybe t

[2017-04-07 12:14] s1monw commented on #23966
do we have access to the place where we create the boolean queries so we can maybe wrap them or somehow mark them as eligible for minimum must match? Anyhow I removed the discuss label since we need to fix it either way ....

[2017-04-07 12:21] javanna commented on #23943
We discussed this as part of FixItFriday, we agreed that the error message is odd. Also, we were wondering why an index is required and whether we can remove that requirement. I could reproduce against 5.3.0.

[2017-04-07 12:27] tsouza commented on #23943
Removing the index requirement would be a big win!

[2017-04-07 12:31] nik9000 commented on #21887
Makes sense to me. We don't need the lucene version over rest. Or we
shouldn't, anyway. So long as they are comparable to each other that is
fine.

On Fri, Apr 7, 2017, 7:20 AM Colin Goodheart-Smithe <
notifications@github.com> wrote:

[2017-04-07 12:33] jimczi commented on #23927
I don't get what's wrong here. These settings are configurable per node for the index_buffer_size and per index for the refresh interval.

[2017-04-07 12:33] #23927 closed

[2017-04-07 12:44] ywelsch commented on #23964
I pushed 8522b43ce7

[2017-04-07 12:44] #23964 closed

[2017-04-07 12:50] jpountz commented on #23964
Thanks @ywelsch !

[2017-04-07 13:14] s1monw commented on #23943
I wonder if we should just special case it here too.. it's really a cyclic depdendency and I think this could fix is without too much trouble. I agree it's a bit of a hack:

[code]

[2017-04-07 13:36] ywelsch commented on #23922
The first failure happens for the following reason:
- 4 nodes (nodes 0, 1, 2, and 3) running with `minimum_master_nodes` set to 3
- we stop 2 nodes (node 0 and 3)
- wait for cluster block to be in place on all nodes
- start 2 nodes (node 4 and node 5) and do a `prepareHealth().setWaitForNodes("4")`
- then do a search request

The search request runs into the `ClusterBlockException` as the `prepare

[2017-04-07 13:36] #23922 closed

[2017-04-07 13:37] nik9000 commented on #23838
I'm going to see if I can reproduce this locally later this morning. I have some documentation to finish rewriting first but I'll see what I can see.

[2017-04-07 14:01] colings86 commented on #21887
@jpountz suggested we could use `Version.fromId()` in reindex to solve the above

[2017-04-07 14:03] nik9000 commented on #21887
That'd work for me.

[2017-04-07 14:16] mrec commented on #23714
Another (non-transitional) use case for this: we have a lot of examples where the master datasets for some indices/types define separate `FooVariant1` and `FooVariant2` fields while others don't make a distinction and so only have data for one of these. To support consistent searching across indices we currently use `copy_to` rules, but the data duplication is obviously wasteful; zero-cost aliases

[2017-04-07 14:17] jpountz commented on #23890
Hey @hijakk, the way that our current aggregation framework is designed makes it basically impossible to return results in a streaming fashion. That said, we are exploring alternative ways to compute aggregations which might allow to return results in a streaming fashion. However, this is something that we are only starting exploring now, no single line of code has been written and it's not even c

[2017-04-07 14:32] nik9000 commented on #23714
@rjernst, are you saying that if we had field aliases we could clean up the code around unmapped fields by mapping them to a field that explicitly doesn't index them? Or are you thinking of something at query time?

@mrec I think this feature would work for what you want. As envisioned the fields would have to be the same types for this to work.

@clintongormley I wonder if duplicating the old str

[2017-04-07 16:10] evanv commented on #23250
I would echo the need for being able to cancel long running queries. In MySQL land, a lot of times you'll have a daemon running `pt-kill` on the server https://www.percona.com/doc/percona-toolkit/2.1/pt-kill.html. One of the nicest features of pt-kill is it can kill queries that match a certain pattern while leaving others alone.

If you could associate a task id (especially one you have some cont

[2017-04-07 16:20] evanv commented on #23745
How would this work with the rollover API?

[2017-04-07 16:48] PortaltechGithub opened #23978 "termvector endpoint does not require id"
As you can read in the ES docs, it's also possible to use artificial documents to look up term stats. In my case i want to determine the "quality" of a word a user searched for. If i search for
**Example:**
I searched for: `Produktivitätsmanagement` decompounds in `produktivität` and `management` and `produkt`. From the termvectors component i got `doc_freq` and so on. The doc_freq for `produkt` i

[2017-04-07 17:19] KellyBennett commented on #23957
It was my misunderstanding. I was applying the score_mode to the scoring function in the nested query. Turns out I needed to have it at the query level.

Here's a stack overflow answer for any future googlers.
http://stackoverflow.com/a/43273122/2033515

[2017-04-07 17:42] javanna opened #23979 "QueryStringQueryBuilderTests.testExistsFieldQuery fails"
This test has been failing in the last few hours on both master and 5.x.

[code]

I suspect it may have to do with #23967.

[2017-04-07 17:43] javanna commented on #23979
@jimczi can you have a look please?

[2017-04-07 18:03] nik9000 commented on #23838
OK. I tracked this down to something to do with `collate`. Drop `collate` and you should get normal results. I'll figure out what is up with collate now though.

[2017-04-07 18:29] jasontedor commented on #23745
@evanv This is already possible (specifying a pattern) and solves the rollover problem too.

[2017-04-07 18:39] tylerfontaine opened #23981 "default.path.data included as a data path when path.data configured as yaml array"
**Elasticsearch version**: 5.3.0

**OS version**: Tried in Centos 7 and OS X, though I suspect it doesn't matter.

**Description of the problem including expected versus actual behavior**:
When using multiple data paths, or even specifying just a single data path as an array in yaml, elasticearch includes whatever is passed to it as default.path.data, such as when installed via RPM or DEB packages

[2017-04-07 18:49] jkelastic commented on #23231
@ppf2  thanks :D

[2017-04-07 19:08] nik9000 commented on #23838
Ok so here is what is going on. `prune` doesn't mean what it looks like it should mean. `prune: false` means "remove suggestions that don't match the query". `prune: true` means "return suggestions that don't match the query but set `collate_match: false`. I think that is backwards.

Anyway, if you set `prune: true` then you *should* see "borer" in the list suggestions with a score above the "bode

[2017-04-07 19:17] nik9000 opened #23983 "Phrase suggest's `prune` option looks backwards to me"
If you set the phrase suggester's `prune` option to `true` the responses aren't pruned by the collation process. If you set it to `false` they are pruned: [example](https://gist.github.com/nik9000/79a757b48fe9ea0c31333aa1fe18ed10). This seems backwards. I can't tell from the documentation exactly what is intended. I was just going by the meaning of the word "prune".

[2017-04-07 19:18] nik9000 commented on #23838
I filed #23983 so we could talk about what to do about prune....

[2017-04-07 19:19] s1monw commented on #23983
@areek WDYT

[2017-04-07 19:36] jimczi commented on #23979
Thanks @javanna
I pushed https://github.com/elastic/elasticsearch/commit/e32c16e3494c449d50f4a3479492434b854382fa

[2017-04-07 19:36] #23979 closed

[2017-04-07 19:39] jimczi commented on #23957
Not a bug then ;)
Thank you for the update

[2017-04-07 19:39] #23957 closed

[2017-04-07 19:52] bleskes commented on #23964
thanks*2 @ywelsch

[2017-04-07 20:08] jasontedor commented on #23981
I know what is happening here and I see a fix, I will open a PR soon. This is an incredibly unfortunate consequence of the fact that when a setting is specified as an array, we break it down into new keys `path.data.0`, `path.data.1`, ..., `path.data.n`, yet the default setting is applied as `path.data` none of the keys from the array setting override as is done with other default settings.

[2017-04-07 20:36] jasontedor commented on #23981
This is a *horrifically* bad bug, it appears to have been introduced in 5.3.0, and it means that shards can end up in `/var/lib/elasticsearch` even if a user did not intend for that to be the case because they configured `path.data` as an array but the packaging specifies `default.path.data`. If `/var/lib/elasticsearch` is sitting on the root partition because why not since the user wants the data

[2017-04-07 20:39] nik9000 commented on #23981
😭

[2017-04-07 21:47] tbrooks8 commented on #23893
I've nearly completed a basic PR for this. However, as I worked on it a number of questions came up for me.

1. Should this support any options like index wildcards do?

https://www.elastic.co/guide/en/elasticsearch/reference/current/multi-index.html

[code]

Those options do not necessarily make sense in context of cross cluster search. I guess I'm just asking if we want any options.

Such as wha

[2017-04-07 22:55] rodney757 opened #23990 "query_string query escaping reserved chars not working"
**Elasticsearch version**:
5.1
**Plugins installed**: []

**JVM version**:
1.8.0_60
**OS version**:
osx 10.12.3
**Description of the problem including expected versus actual behavior**:

 when trying to escape the reserved query_string characters, elastic returns an `Unrecognized character escape` error

**Steps to reproduce**:
1.
[code]
 2.
[code]
 3.
[code]

**Provide logs (if relevant)**:

[2017-04-07 23:33] rjernst commented on #22758
This still needs to be done for the discovery ec2 plugin.

[2017-04-07 23:46] #22599 closed

[2017-04-08 00:15] rjernst opened #23992 "Explicitly disallow default credential file loading in repository-gcs"
Google cloud storage has 2 ways to authenticate: by detection of the cloud environment, or by a plaintext file containing credential information.  Support for credential file is being added to the elasticsearch keystore, but the way in which the cloud environment is loaded is problematic for completely disallowing the plaintext credential file.  The google code to load the default credentials firs

[2017-04-08 01:40] nik9000 commented on #23981
If we just fix the config issue and someone upgrades one node at a time they shouldn't lose any data so long as they have replicas. The entire shard will have to recover from the primary, but that is a fairly normal thing. They'd have to manually clean up the shards in accidental data directory. Which isn't horrible, but it isn't great at all.

We could do more to try and copy the data or make too

[2017-04-08 01:44] jasontedor commented on #23981
That's the problem, we do not have complete control over this.

Yes, if they are aware of the problem and do not panic. Or they do not do something like practice immutable infrastructure.

Yes, but it's quite delicate.

Indeed, and therein lies the rub.

[2017-04-08 01:49] nik9000 commented on #23981
Yeah, I just wanted to start talking about this. I certainly don't claim to have answers. I guess I'm fairly sure that the person doing the upgrade is going to want to know if they are effected by this. Lots of people won't and 5.3.0 will just be a normal version for them. For the effected people, even if we handle the whole thing automatically, they are going to need to know.

[2017-04-08 01:57] jasontedor commented on #23981
Indeed, I need more people to talk to about this. I discussed some of the complexities with @dakrone earlier in the evening via another channel, and I've been thinking about it all night. Sorry that I haven't taken the time to write my thoughts down yet.

Another complexity that I thought of is that the fix for this has to live for the rest of the 5.x series lifecycle because someone can upgrade f

[2017-04-08 02:00] tylerfontaine commented on #23981
Do we have set limitations yet on rolling upgrades to 6.0? Would 5.3.0 ->
6.0 be allowed? If so, the fix has to carry over there as well.

On Fri, Apr 7, 2017, 8:58 PM Jason Tedor <notifications@github.com> wrote:

[2017-04-08 02:01] jasontedor commented on #23981
No, this is absolutely not allowed. You must upgrade from the latest 5.x that is released when 6.0.0 goes GA.

[2017-04-08 02:01] nik9000 commented on #23981
We'll make sure there is a 5.4 and so that doesn't have to happen.

So any detection we have will produce a false positive for them, right?

[2017-04-08 02:01] tylerfontaine commented on #23981
In fact, full cluster shutdown major version upgrades are even MORE dangerous in this instance. Because all of the shard disappear at the same time.

[2017-04-08 02:02] jasontedor commented on #23981
I think it has to be smart enough to not produce a false positive for them.

[2017-04-08 02:02] tylerfontaine commented on #23981
Just because a 5.4 exists, doesn't mean people will be there when they upgrade.

[2017-04-08 02:03] jasontedor commented on #23981
Indeed, that means that we need a fix in 6.0.0 as well, someone could full cluster restart from 5.3.0.

[2017-04-08 02:04] nik9000 commented on #23981
Right, sorry. They won't be able to do a rolling upgrade. Just a full cluster restart upgrade.

[2017-04-08 03:14] dadoonet commented on #23992
Is it possible to catch the SMException and throw in that case a better exception?

[2017-04-08 05:02] rjernst commented on #23992
That may be possible. I will experiment.

[2017-04-08 07:16] lizhecao commented on #20854
@colings86 3q for help. but now I can't provider details because the environment that time has been lost now. my solution is to copy the translog.ckp as the lost ckp file

[2017-04-08 08:28] hanumanthan commented on #23960
@jimczi I am a first timer and would like to work on this issue. Could you please share the file where I can start to look at ?

[2017-04-08 22:30] jasontedor commented on #23990
You need to escape the backslash so `\\|` instead of `\|`.

[2017-04-08 22:30] #23990 closed

[2017-04-09 02:47] owenludong opened #23996 "Transport response handler not found of id"
**Elasticsearch version**: 2.4.0

**Plugins installed**: [head  hq elasticfence]

**JVM version**: 1.7.0_79

**OS version**: centos 7

use elasticsearch 2.4.0 java sdk to put data, but some warn loggers in client and server, what happend?

log:

client: 2017-04-09 10:37:16,476 [elasticsearch[Butterball][transport_client_worker][T#4]{New I/O worker #13}] WARN  [org.elasticsearch.transport] - [Butte

[2017-04-09 07:50] bleskes commented on #23996
This typically happens when a response times out after a request time. If you have any more question, please use our forums on discuss.elastic.co as we keep github for feature requests and issues. If this turns out to be a problem, please feel free to reopen the issue.

[2017-04-09 07:50] #23996 closed

[2017-04-09 19:17] atomic77 commented on #22156
Not sure if it's helpful at this point, but if you need an easy way to reproduce this problem, I ran into this right away with an out-of-the-box [hadoop docker image](https://hub.docker.com/r/sequenceiq/hadoop-docker/) - in fact, all I was looking to do was to give the HDFS plugin a quick test drive.

[2017-04-10 05:44] astefan commented on #22285
Shouldn't this bug NOT have tag 5.1.1?

[2017-04-10 06:42] glefloch commented on #23673
Hi, I created a PR that document the new setting. Can you tell me if there is other places where it should be documented?

[2017-04-10 06:45] Tobsucht commented on #23838
Unfortunately it's not really helping:

[code]
returns nothing for confidence="0".
For "1" the result is:

[code]

But it helped in some way - what I'm noticing is the following: the score of "borer" is constantly decreasing while indexing data. And at some point it is making a pretty big jump from something like 0.0002 to 0.06 which explains the needed confidence value.
How is the score for the i

[2017-04-10 06:47] nilabhsagar commented on #23476
@areek @clintongormley Looking forward to know your opinion.

[2017-04-10 06:51] pammi22 opened #24002 "license issue"
hi.. i noticed this log, _license says it is expired. i am not using marvel,logstash or kibana so does it means i cant use this cluster? i am a beginner so your help would be appreciated. TIA
# LICENSE EXPIRED ON [Saturday, March 11, 2017]. IF YOU HAVE A NEW LICENSE, PLEASE
# UPDATE IT. OTHERWISE, PLEASE REACH OUT TO YOUR SUPPORT CONTACT.

[2017-04-10 07:20] ahr12 opened #24003 "Executed jar file not working for ElasticSearch"
ElasticSearch - 5.3.0
Ubuntu- 14.04
Hello,
I created the maven project for insert the data in ElasticSearch.It's working fine when I executed the code in eclipse.then I create the jar file with dependencies for this project.but when I executed the jar file I am getting the following errors -

Exception in thread "main" java.lang.ExceptionInInitializerError
	at org.elasticsearch.common.logging.Depr

[2017-04-10 07:29] tvernum commented on #24003
Hi @ahr12,
Elastic uses GitHub issues for tracking confirmed bugs and feature requests. We aren't able to help diagnose your problem through this site.

Please ask this question on our [discuss forum](https://discuss.elastic.co/) where we can provide better support.
When you post there, please provide more specific information about the way you are packaging/running your application. Those details

[2017-04-10 07:29] #24003 closed

[2017-04-10 07:32] s1monw commented on #24003
you are trying to build an uber jar but you don't forward the values in our manifest file. If you repackage / build uber jars you have to forward those as well. This hasn't been the case until 5.3.0 but our deprecation logger requires the build hash from what we build the binary in order to run. I am writing this in here since other might run into that as well.

[2017-04-10 07:50] spinscale commented on #23978
this looks like a [elasticsearch-php client](https://github.com/elastic/elasticsearch-php) issue. This repository is only for Elasticsearch Core issues. Can you open it there? I am sure that @polyfractal will take a look then.

Thanks so much!

[2017-04-10 07:50] #23978 closed

[2017-04-10 08:15] jpountz commented on #23890
Closing for now, we'll open a new issue if/when we have something along the lines of what I described in my previous message.

[2017-04-10 08:15] #23890 closed

[2017-04-10 08:53] bleskes commented on #23963
@abeyad  can you maybe look at this?

[2017-04-10 09:05] javanna opened #24005 "AsyncBulkByScrollActionTests. testScrollDelay sporadically fails"
This test failed a couple of times in the last few weeks in our CI.

From https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+nfs/161/ :

[code]

I haven't been able to reproduce this.

[2017-04-10 09:05] spinscale opened #24006 "YAML config file parsing behaviour changed between 5.x and master"
The root of this change is https://github.com/elastic/elasticsearch/pull/22225

The following configuration file works in 5.x (tested with a 5.4 snapshot from https://oss.sonatype.org/content/repositories/snapshots/org/elasticsearch/distribution/zip/elasticsearch/5.4.0-SNAPSHOT/), but throws an exception in master, tested with a snapshot from https://oss.sonatype.org/content/repositories/snapshots

[2017-04-10 09:14] javanna commented on #24005
One more recent failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+nfs/160 .

[code]

Both failures come from the same `elastic+elasticsearch+master+nfs` job, which seems suspicious.

[2017-04-10 09:15] javanna opened #24007 "IndexWithShadowReplicasIT.testIndexWithFewDocuments fails"
IndexWithShadowReplicasIT.testIndexWithFewDocuments fails every few days in our CI. Happens in both 5.x and master.

From https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/479/console:

[code]

Although we are going to remove shadow replicas in master, we should have a look at the failures and see whether there's anything that needs fixing in 5.x.

[2017-04-10 09:16] pangff opened #24008 "install elasticsearch 5.3.0 on unbuntu 16 get error"
install elasticsearch  on unbuntu 16 get error

[code]

[2017-04-10 09:24] javanna commented on #22120
one more failure of this test: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=sles/814/ .

Should I open a separate issue for it?

[2017-04-10 09:31] jpountz opened #24009 "NestedChildrenQuery references an IndexReader"
This can cause memory leaks if that query gets cached. Unfortunately we only have access to the right APIs to fix it once we upgrade to Lucene 6.5.1.

[2017-04-10 09:45] ywelsch commented on #22120
Thanks for the notification @javanna. I've pushed 12471c4f76 as a follow-up to a3cceb8a00 (see #23922), which should fix this. If more failures of this occur after this commit, feel free to open a separate issue.

[2017-04-10 09:45] martijnvg commented on #24009
Maybe we should use `ParentChildrenBlockJoinQuery` (was added in lucene 6.5) and remove `NestedChildrenQuery`?

[2017-04-10 09:46] javanna opened #24010 "RemoteClusterConnectionTests.testCloseWhileConcurrentlyConnecting sporadically fails"
From https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux/811:

[code]

I couldn't reproduce this failure.

[2017-04-10 10:00] jasontedor commented on #24008
At first glance, this does not look like a bug (since the package is known to install successfully in our packaging tests) but rather an issue with your environment. Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help ge

[2017-04-10 10:00] #24008 closed

[2017-04-10 10:02] s1monw commented on #23981
I think we should look into removing the default option here. It's too much magic IMO and we can give people a good error message in that case. We can even advice how to copy over stuff to the actual data directories OR do it ourself. We had code for this in 2.x that we can reuse when we moved away from rolling our own software raid.

[2017-04-10 10:14] jasontedor commented on #22285
Why do you say that @astefan? If you're looking for the versions that the issue is fixed in, you have to look at the labels on the corresponding PR: #22317.

[2017-04-10 10:16] astefan commented on #22285
I thought the labels on the GH issue show the fixed versions, not the affected ones?... I may be though remembering wrong :-).

[2017-04-10 10:24] jeantil commented on #23594
I have new information regarding this issue. After  our production cluster crashed twice despite having disabled shingling on the fields used in fuzzy searches we discovered that shingling alone was enough to trigger gc and out of memory errors even on very small indices.

On the provided index which contains all of 5 documents with 2 small fields each, the following query will crash a 1g heap ela

[2017-04-10 10:27] #23958 closed

[2017-04-10 10:33] mkhan24 commented on #23958
Hi @javanna , thanks for the changes. Is there a tentative timeline on the official release of 5.3.1 (I presume it's going to be part of that?)

[2017-04-10 10:35] jasontedor commented on #22285
The version labels on corresponding PRs mean that.

[2017-04-10 11:38] javanna commented on #24007
one more failure, this time from 5.x: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-darwin-compatibility/364

[2017-04-10 11:54] colings86 commented on #23935
I have tried reproducing this without success with the above reproduce command (no failure in 604 runs) and also just running the `gradle :core:integTest` repeatedly (no failure in 76 runs).

What is weird here is that usually on these failures there is a stack trace that shows where the unreleased resource has been referenced but this doesn't seem to be here for this failure.

I'm not really sure

[2017-04-10 12:08] jeantil commented on #23594
sounds like this could be linked to #23918
The second use case clearly seems related. What I am unsure about is if the initial issue (fuzzy vs non fuzzy for shingles) is a consequence of #23918  or if it's yet a different issue.

[2017-04-10 12:11] jeantil commented on #23918
@clintongormley 👍  for a doc on what a better config would be (if possible without altering the outcome of a request)

[2017-04-10 12:20] olcbean commented on #22573
@domosapien Can you please elaborate why you need `took` time for the `update` response? It would be interesting to know what is your use case.
Currently only `search` and `bulk` provide this information.

@clintongormley I am not sure if this request is not breaking ES implicit consistency. If there was took time for indexing, then it would be OK to have it also for update, but this is not the ca

[2017-04-10 12:34] nik9000 commented on #23838
To figure that out I'd need your data set.

On Mon, Apr 10, 2017, 2:45 AM Tobsucht <notifications@github.com> wrote:

[2017-04-10 12:40] javanna commented on #23958
hi @mkhan24 I am in the process of backporting the change to 5.x and 5.3. 5.3.1 should be out soon, but I cannot guarantee yet that this change will make it in. Stay tuned.

[2017-04-10 12:44] bleskes commented on #21463
@ywelsch can you take a look please?

[2017-04-10 12:56] glefloch commented on #23839
Hi, I just pushed a PR to fix this issue. Can you tell me how I could test the documentation, and generate HTML? Do I need to clone the `docs` project?
Also, are you ok with the list of field types? If there is any missing types or type that doesn't support `null_value` don't hesitate to tell me.

[2017-04-10 13:09] ywelsch commented on #21463
@jaymode It's the same issue (exposed in the stack trace):

#19338 suggests a fix.

[2017-04-10 13:21] abeyad commented on #23963
This test uses a `randomBoolean()` to either run the test with a regular index or with a shadow replica index.  This test run failed on a shadow replica index.  I'm thinking Windows is holding onto a file lock for the shadow replica and hence the index directory can not be deleted.  Regardless, since we are removing support for shadow replicas in https://github.com/elastic/elasticsearch/pull/23906

[2017-04-10 13:23] abeyad commented on #23963
I do think we should remove the shadow replica option for that test in the 5.x branch as well.

[2017-04-10 13:31] jpountz opened #24018 "Documents that trigger warning headers are very slow to index"
The deprecation of lenient booleans seems to have made parsing of lenient boolean values in documents many times (in the order of 1000x) slower. Here is a relevant stack trace from the hot threads API.

[code]

It is probably fine that lenient booleans are a bit slower to index, but the difference here is too much?

[2017-04-10 13:47] agastya71 opened #24019 "Search against index or index/type yields different results with Index containing Single Type"
**Elasticsearch version**: 2.3.3

**Plugins installed**: [kopf]

**JVM version**:1.8.0_45

**OS version**: Oracle Linux 7.0

**Description of the problem including expected versus actual behavior**: Document's score is not calculated consistently and causes inconsistent results in Version 2.3.3, this behavior is not observed in ES 2.1.1.  This problem is exposed in a couple of different ways.  Exe