[2022-06-09 08:38] davidkyle opened #87548 "Support NLP summarization models"
### Description

Add support for text summarization models such as [sshleifer/distilbart-cnn-12-6 · Hugging Face](https://huggingface.co/sshleifer/distilbart-cnn-12-6).

Summarization is a task which produces a synopsis or abridgement of a longer piece of text.

[2022-06-09 08:39] elasticmachine commented on #87548
Pinging @elastic/ml-core (Team:ML)

[2022-06-09 08:39] javanna commented on #85710
thanks for the ping @amitmbm !

I am not super familiar with this area, but I had a look and while it may look simpler to just validate that only supported keys are used when parsing the analysis settings, we currently have no way to determine which keys are supported by which analyzer/filter/etc, which is complex especially given that custom components can be plugged in.

It all starts at [Analys

[2022-06-09 08:40] elasticmachine commented on #85946
Pinging @elastic/es-docs (Team:Docs)

[2022-06-09 08:42] amitmbm commented on #85946
I agree with @romseygeek that updating the documentation is the best thing otherwise there will be a pushback for increasing complexity of KeywordTokenizer.
@javanna I would take this the task to update the document.

[2022-06-09 08:42] amitmbm commented on #85946
@javanna  @romseygeek can you please assign this issue to me?

[2022-06-09 08:42] pugnascotia commented on #87166
Do we not already have some prior art with `ESLoggerUsageChecker`? It's doing a similar thing, I think?

[2022-06-09 09:05] pgomulka commented on #87166
we do, but extending ESLoggerUsageChecker to work with String.format is a lot of work. This is because Logger would just allow for `{}` but String.format allows for a lot of different `%` quantifiers https://docs.oracle.com/javase/7/docs/api/java/util/Formatter.html
We would have to duplicate a lot of validation logic that is performed in String.format now and I wanted to avoid this. https://githu

[2022-06-09 09:30] amitmbm commented on #85946
@javanna @romseygeek Thanks for the inputs and bringing back attention to this long pending issue, As mentioned I would like to work on it, but I think we need to decide where to update the documentation, ie in the specifics `tokenizers` which  don't support `type` token filter, or add the list of these `tokenizers` in the [keep types token filter document](https://www.elastic.co/guide/en/elastics

[2022-06-09 09:34] dimitris-athanasiou opened #87551 "[ML] TrainedModelAssignmentClusterService should batch cluster state updates"
When we update the cluster state with changes to trained model assignment metadata we submit
 unbatched cluster state updates. We should revisit and batch them up as that is the better way of doing
this in terms of performance.

[2022-06-09 09:34] elasticmachine commented on #87551
Pinging @elastic/ml-core (Team:ML)

[2022-06-09 09:43] javanna commented on #85946
@amitmbm we don't have a way to formally assign the issue to you as you are not a member of the Elastic github org, but it is clear that you took it and are going to work on it based on previous comments. I would update the keep types token filter docs page adding a note that some tokenizers are not supported, with a list of the ones that we know are not.

[2022-06-09 09:45] amitmbm commented on #85946
@javanna perfect, expect a PR coming on your way soon 😄

[2022-06-09 10:02] pugnascotia commented on #87166
Sorry, I didn't mean to suggest that we extend `ESLoggerUsageChecker`, just that we have written code to do this sort of checking before.

[2022-06-09 10:24] javanna commented on #87513
I was able to reproduce this, the missing bit in the initial description of the problem were the mappings. There's a dynamic template that targets an object which triggers the issue once you index a document with an object that matches it:

[code]

Indexing the following minimal document against an index with the above dynamic template in the mappings causes the "Missing intermediate object" to be

[2022-06-09 10:42] original-brownbear opened #87555 "Add pagination to diagnostic APIs"
The Indices stats API does not scale well for very large index counts.
The response size can reach hundreds of MBs for tens of thousands of indices
and response times eventually go into the tens of seconds due to the
CPU time required for creating and serializing very large responses.

We discussed this during the many-shards sync and decided on introducing
pagination into the indices stats API to

[2022-06-09 12:17] n1v0lg commented on #72286
We have the same problem for the [GET roles API](https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-get-role.html) as well. I think adopting the same approach for roles as for usernames makes sense.

[2022-06-09 12:20] Fgerthoffert commented on #61550
+1

[2022-06-09 13:31] #83124 closed

[2022-06-09 13:39] rjernst commented on #84817
Thanks for your interest in Elasticsearch. We've discussed this issue, and have a couple thoughts.

if the heap usage in the jvm is above a limit?

The intent of the circuit breaker is to do exactly what you describe: trip on imminent OOM. It would be confusing to have another mechanism that also trips on high usage. Additionally, a simple query should still be able to get through (for example, ma

[2022-06-09 13:39] #84817 closed

[2022-06-09 13:40] GrandFisher commented on #83124
Thank you, I understand these knowledge that I don't know, if there are other similar documents please recommend to me,

[2022-06-09 13:44] rjernst commented on #45673
Given the recent consolidation of scripting logic into Java, I don't think this issue is possible anymore. My theory is that this could have occurred in the past when the jvm options parser was invoked before cd'ing to the ES_HOME dir in bin/elasticsearch-env. cd'ing to ES_HOME happens as soon as possible now, so there should always be a log dir (as we ship with an empty log dir in all distributio

[2022-06-09 13:44] #45673 closed

[2022-06-09 14:02] stu-elastic opened #87562 "Script: painless lookup npe for annotation"
I got an unexpected internal NPE when playing with this script.

[code]
[code]

[2022-06-09 14:02] elasticmachine commented on #87562
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-06-09 14:11] masseyke commented on #87442
Fixed by #87483

[2022-06-09 14:11] #87442 closed

[2022-06-09 14:11] #87502 closed

[2022-06-09 14:42] #87446 closed

[2022-06-09 15:23] fcofdez opened #87568 "[CI] SnapshotBasedIndexRecoveryIT testRecoveryConcurrentlyWithIndexing failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/bim7gxailj3vy/tests/:x-pack:plugin:snapshot-based-recoveries:internalClusterTest/org.elasticsearch.xpack.snapshotbasedrecoveries.recovery.SnapshotBasedIndexRecoveryIT/testRecoveryConcurrentlyWithIndexing

**Reproduction line:**
`./gradlew ':x-pack:plugin:snapshot-based-recoveries:internalClusterTest' --tests "org.elasticsearch.xpack.snapshotba

[2022-06-09 15:23] elasticmachine commented on #87568
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-09 15:48] stu-elastic opened #87569 "[CI] ReplicaShardAllocatorIT testPreferCopyCanPerformNoopRecovery failing"
These are suite timeouts.  Recovery fails and nodes cannot connect.  This is the second occurrence.

https://gradle-enterprise.elastic.co/scans/tests?search.timeZoneId=America/Chicago&tests.container=org.elasticsearch.gateway.ReplicaShardAllocatorIT&tests.test=classMethod#

Perhaps an exception is preventing ES from starting?

[code]

**Build scan:**
https://gradle-enterprise.elastic.co/s/v26inkue

[2022-06-09 16:08] jtibshirani commented on #87198
@trengrj thanks for raising this! This limitation was fixed in https://github.com/elastic/elasticsearch/pull/87267.

[2022-06-09 16:10] javanna commented on #87513
It's the same bug, thanks. It's to do with objects that are being created from within the definition of a dynamic template. I am working on this. If you want to work around it in the meantime, my suggestion would be to have one dynamic template per field instead of a big one per object. Ping me if you need help with this,

[2022-06-09 16:41] justincr-elastic commented on #87492
I started a PR to try and clarify the role mapping doc page.

https://github.com/elastic/elasticsearch/pull/87572

[2022-06-09 16:44] #86871 closed

[2022-06-09 16:44] #87183 closed

[2022-06-09 16:45] petrklapka opened #87573 "PK - Sync test - June 9 - #1"
### Description

Blah blah blah.  This is for testing Exalate triggering.

[2022-06-09 17:40] peppy commented on #87173
This also applies to ubuntu apt packages (7.17.x). Using 7.16.3 is a temporary workaround.

[2022-06-09 18:22] ingenium21 commented on #85876
oh nice.  Thanks Nerijus for the tip!

On Wed, Jun 8, 2022 at 11:06 AM Anthony Brandelli ***@***.***>
wrote:

[2022-06-09 18:27] #86814 closed

[2022-06-09 20:06] #86494 closed

[2022-06-09 20:06] #87332 closed

[2022-06-09 21:15] nik9000 commented on #87547
We try to keep github for bug reports rather than requests for help using Elasticsearch. It's probably better to open this on https://discuss.elastic.co/

For what it's worth, it looks like `indexOf` is returning `-1` because it can't find `-`. I don't really know why because the matches matched, but bugs are sneaky sometimes. Sorry!

[2022-06-09 21:15] #87547 closed

[2022-06-09 21:15] elasticmachine commented on #87494
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-09 21:16] elasticmachine commented on #87492
Pinging @elastic/es-security (Team:Security)

[2022-06-09 21:17] elasticmachine commented on #87345
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-09 21:18] elasticmachine commented on #87339
Pinging @elastic/es-search (Team:Search)

[2022-06-09 21:19] nik9000 commented on #87339
You'd probably want to add whatever incantation it needs to ignore version conflicts. That way it wouldn't stop if someone changes the documents after you issue the command.

[2022-06-09 21:19] elasticmachine commented on #87321
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-09 21:19] elasticmachine commented on #87321
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-09 21:20] elasticmachine commented on #87320
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-09 21:21] nik9000 commented on #87320
I'm not sure which label to give things related to the `_split` API so I've picked the `distributed` label because those folks own the CRUD operations. I'm sorry if it's the wrong folks. Please reassign when you know the right spot.

[2022-06-09 21:23] elasticmachine commented on #87311
Pinging @elastic/es-search (Team:Search)

[2022-06-09 21:35] jtibshirani commented on #87346
@WMPeople sorry you ran into this. We fixed it recently in https://github.com/elastic/elasticsearch/pull/85815, which will be available in the next minor release 8.3. It was also backported to 7.17 and will be available in 7.17.5.

[2022-06-09 22:07] n0othing opened #87580 "`EnrichPolicyMaintenanceService` can delete new enrichment index before it's promoted"
### Elasticsearch Version

7.17.4

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

RHEL 7

### Problem Description

During a subsequent enrichment policy execution, `EnrichPolicyMaintenanceService` can flag the new enrichment index as stale while it's being indexed to. This can lead to the new index being created a second time (due to `cause [auto(bulk api)]`), w

[2022-06-09 22:52] #43426 closed

[2022-06-09 23:03] elasticmachine commented on #87580
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-10 02:32] amitmbm commented on #87311
thanks @nik9000 , I would like to work on it, would raise a PR soon.

[2022-06-10 03:55] tmitanitky opened #87583 "Add delete_flag property for latest transform"
### Description

The latest transform is a great way to extract the latest documents from the source "history" index. Occasionally, we may want to use `delete_flag` on the history index to perform a logical delete and keep the delete history for a while.

Since there is no way to handle logical deletion in the current transform (in fact, it is feasible by tricking with `retention_policy` even now)

[2022-06-10 06:59] geekpete opened #87585 "Extend the Runtime Fields API to allow for removing fields via shadowing"
### Description

Provide for extended functionality with Runtime Fields to shadow an existing field for the purposes of hiding or removing it from to behave in the same way as if the field was not there.

Using the example from: https://www.elastic.co/guide/en/elasticsearch/reference/current/runtime-indexed.html

If you wanted to remove the `voltage` field you might shadow it to remove it like:

[

[2022-06-10 07:49] pugnascotia commented on #87512
Hello @ineo00048, it's not clear whether this is a bug report, feature request, or question. If you have a question about Elasticsearch, I encourage you to ask on [discuss.elastic.co](https://discuss.elastic.co/).

Note that you can use the Elasticsearch ODBC driver to access Elasticsearch data from Microsoft Power BI Desktop](https://www.elastic.co/guide/en/elasticsearch/reference/8.2/sql-client-

[2022-06-10 07:49] #87512 closed

[2022-06-10 08:24] yangxuanjia opened #87586 "Allow tweaking of primary allocations (ex excluding nodes/tags), follow #4201"
### Description

We have the same scenario, zone1 and zone2 are located nearly, but zone3 is located far.
So we want force primary not in zone3, or force primary only in zone1 and zone2.
So is there any suggest?

[2022-06-10 08:24] yangxuanjia commented on #87586
#4201

[2022-06-10 08:35] kunisen commented on #72854
FYI - I think we have addressed this issue in favor of https://github.com/elastic/cloud/issues/93379, which ended up with this PR (https://github.com/elastic/cloud/pull/99291) getting merged and now in public, for both tier with and without searchable snapshot:
https://www.elastic.co/guide/en/cloud/current/ec-disable-data-tier.html

[2022-06-10 09:36] danilansible commented on #87547
Thank you for the comment @nik9000 . Will do that.

[2022-06-10 15:20] DaveCTurner commented on #87586
A single Elasticsearch cluster isn't intended to work across high-latency links. See [these docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/high-availability-cluster-design-large-clusters.html#high-availability-cluster-design-large-clusters) for more information, particularly:

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticse

[2022-06-10 21:29] tfriesen commented on #86059
I'm getting this problem frequently on 8.2.0. I'm running a rather tight ES cluster on a homebrew Kubernetes cluster for testing purposes.

Logs:

`[2022-06-10T21:16:56,921][WARN ][o.e.t.TcpTransport       ] [merlin-es-es-hot-workers-0] exception caught on transport layer [Netty4TcpChannel{localAddress=/10.244.2.78:9300, remoteAddress=/10.244.3.34:44718, profile=default}], closing connection
java.

[2022-06-10 22:25] elasticmachine commented on #86059
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-06-10 22:51] tbrooks8 commented on #86059
I looked at this briefly and initially thought it looked like the breaker infrastructure. But then decided that it seems like the `used` has actually gone negative.

This breaker is used for http and transport. We also have decent protection in both cases to ensure that bytes are not released twice (hence going negative). So not sure what is happening here yet.

Nothing immediately comes to mind f

[2022-06-10 23:39] tfriesen commented on #86059
To be sure, part of the reason I'm seeing this frequently is that I'm often triggering circuit breakers. I've taken some steps to reduce the JVM heap pressure on my test cluster, we'll see if that helps.

Unfortunately, when this triggers, it causes the node to disconnect from the cluster temporarily. It then has to go through a shard recovery cycle when it rejoins. Not an ideal fail scenario.

I'

[2022-06-11 00:00] tbrooks8 commented on #86059
Actually looking more, this is being triggered when the parent limit is being hit. And the exception throws when writing log messages about the existing circuit breakers. So it is possible that this negative value is originating from a non-network breaker.

[code]

@tfriesen thanks for the info. Bytes used is stored as a long, but it is always possible a cast is happening at some place. We will in

[2022-06-11 00:01] tbrooks8 commented on #86059
I've added breakers as a label since it is possible that this issue is originating in a non-network breaker.

[2022-06-11 06:34] WMPeople commented on #87346
@jtibshirani
Thank you for the reply.
May I know the 8.3.x release date?

[2022-06-11 14:06] #87438 closed

[2022-06-13 00:18] trengrj commented on #87198
Thanks @jtibshirani, I tried a snapshot and https://github.com/elastic/elasticsearch/pull/87267 fixes Kibana discover for these indices.

[2022-06-13 04:20] PDTCCLF commented on #80407
I'd like to send a pull request to this issue.

[2022-06-13 06:14] loupipalien commented on #86041
I don't think it be a problem with reindxlocal reindex doesn't use REST client，remote reindex not retry

[2022-06-13 08:14] jpountz commented on #85893
Agreed, closing.

[2022-06-13 08:16] pgomulka commented on #82490
@yaauie as you mentioned. We rely on ecs-logging-java which is using `1.2.0` as `ecs.version`. The reason is that the `ecs-logging-java` do not use fields added after 1.2.0, so should only indicated the "minimum version supported"
see the discussion on this here https://github.com/elastic/ecs-logging/issues/44
I will close the issue for now

[2022-06-13 08:16] #82490 closed

[2022-06-13 08:27] javanna commented on #87585
I think I understand what you mean, but I would like to know more about what problem you are after solving here, especially as you mentioned field explosion and field_caps. Would you hide fields so that field_caps does not return them when called with `fields=*` ? Are there other aspects to this enhancement request that I am missing?

[2022-06-13 08:30] davidkyle opened #87591 "[CI] DocsClientYamlTestSuiteIT tests failing with "Expected a map containing acknowledged""
**Build scan:**
https://gradle-enterprise.elastic.co/s/wz6n46lrlw5g2/tests/:docs:yamlRestTest/org.elasticsearch.smoketest.DocsClientYamlTestSuiteIT/test%20%7Byaml=reference%2Fml%2Fcommon%2Fapis%2Fget-ml-info%2Fline_38%7D

**Reproduction line:**
`./gradlew ':docs:yamlRestTest' --tests "org.elasticsearch.smoketest.DocsClientYamlTestSuiteIT.test {yaml=reference/ml/common/apis/get-ml-info/line_38}" -D

[2022-06-13 08:31] elasticmachine commented on #87591
Pinging @elastic/ml-core (Team:ML)

[2022-06-13 08:36] davidkyle opened #87592 "[CI] DocsClientYamlTestSuiteIT test {yaml=reference/mapping/types/boolean/synthetic-source-boolean-example} failing"
Release tests are failing for the synthetic source mapping type. Is it behind a feature flag?

**Build scan:**
https://gradle-enterprise.elastic.co/s/on6j2n454vgqw/tests/:docs:yamlRestTest/org.elasticsearch.smoketest.DocsClientYamlTestSuiteIT/test%20%7Byaml=reference%2Fmapping%2Ftypes%2Fboolean%2Fsynthetic-source-boolean-example%7D

**Reproduction line:**
`./gradlew ':docs:yamlRestTest' --tests "o

[2022-06-13 08:36] elasticmachine commented on #87592
Pinging @elastic/es-search (Team:Search)

[2022-06-13 08:40] droberts195 commented on #87591
It's exactly the same problem as #80409 and #80622 - test fails because it expected an `AcknowledgedResponse`, but the test code clearly expects a different response and gets that different response that it expected.

There might be some clues in https://github.com/elastic/elasticsearch/issues/80409#issuecomment-962123639 and https://github.com/elastic/elasticsearch/issues/80409#issuecomment-96220

[2022-06-13 08:48] geekpete commented on #87585
The general idea would be the dynamic ability to delete a field without reindex, the potentially extreme use case for it could be preventing impact of something like field caps API by having that API return a much smaller payload with shadowed runtime field hiding in the case of hiding a large amount of fields.

For field explosion, it'd basically provide an alternative to removing an index from a

[2022-06-13 08:59] #87447 closed

[2022-06-13 09:01] gmarouli commented on #85783
Since there hasn't been any reaction to this issue, I will close the issue.

[2022-06-13 09:01] #85783 closed

[2022-06-13 09:07] javanna commented on #87585
I am still struggling to understand where this feature would help other than reducing the response size of field_caps, which can be reduced by trimming down the number of requested fields. I suspect this has to do with Kibana always asking for all fields, unfortunately.

You mentioned the scenario of "deleting a field without reindex", but the field would still be there, so what is the advantage o

[2022-06-13 09:13] javanna commented on #70085
This issue stalled over time, I believe due to the breaking nature of some of the needed changes. We have been discussing though adding support for loading from stored fields as well as doc_values , which is not a direct fix for the precision loss, but it could help if we avoided loading from _source in this specific case. Sounds like a hack, but I thought I would bring it up to see what others th

[2022-06-13 09:15] martijnvg commented on #87345
The `ignore_missing` parameter is about ignoring the error if the field defined by the `field` parameter (`client.ip` in this case) cannot be found.

I agree that allowing to ignore a missing databases (by not adding `tags`) should be possible. I just wonder whether that should be done by the current `ignore_missing` parameter or perhaps via a new parameter (`ignore_missing_database`?). So that th

[2022-06-13 09:15] davidkyle opened #87593 "[CI] MlDistributedFailureIT testFullClusterRestart failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/myalsc2z2ojgc/tests/:x-pack:plugin:ml:internalClusterTest/org.elasticsearch.xpack.ml.integration.MlDistributedFailureIT/testFullClusterRestart

**Reproduction line:**
`./gradlew ':x-pack:plugin:ml:internalClusterTest' --tests "org.elasticsearch.xpack.ml.integration.MlDistributedFailureIT.testFullClusterRestart" -Dtests.seed=71D6AD0C1F2BC9E6 -D

[2022-06-13 09:15] elasticmachine commented on #87593
Pinging @elastic/ml-core (Team:ML)

[2022-06-13 09:18] davidkyle commented on #87593
The missing task is the datefeed which is reported in the job's failed state:

[code]

Then in the logs we have:

[code]

[2022-06-13 09:21] javanna commented on #71773
We recently discussed this again, as well as potentially allowing the fields API to load from doc_values. We said it feels like the natural evolution of the fields API, although we would have to figure out some good heuristic for cases where multiple data structures are available as we need to choose where to load from. Also the format may not be exactly the same.

Another data-point: this could n

[2022-06-13 09:24] romain-chanu opened #87594 "Return the list of templates names applied to each index"
### Description

### 1. Existing functionalities

As of 7.17.x, 8.2.x, there is no API that returns the list of templates names applied to each index when an index was created.

1) For backing indices of data streams, we can use the [Get data stream API](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-get-data-stream.html). This returns the name of the index template used t

[2022-06-13 09:24] elasticmachine commented on #87594
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-13 09:28] #85946 closed

[2022-06-13 09:33] droberts195 commented on #87593
We should take this as an opportunity to make all our code robust when there temporarily isn't a master node.  We don't want anything to go into the failed state just because it happened to do something during the second or two when a new master was being elected.  Instead we should just try again next time there's a cluster state update.

These are all the places in the ML plugin where we get the

[2022-06-13 09:40] davidkyle opened #87595 "[CI] TransportAnalyzeIndexDiskUsageActionTests testRandomLimitConcurrentRequests failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/zy3maqdnytk64/tests/:server:test/org.elasticsearch.action.admin.indices.diskusage.TransportAnalyzeIndexDiskUsageActionTests/testRandomLimitConcurrentRequests

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.action.admin.indices.diskusage.TransportAnalyzeIndexDiskUsageActionTests.testRandomLimitConcurrentRequests" -D

[2022-06-13 09:40] elasticmachine commented on #87595
Pinging @elastic/es-search (Team:Search)

[2022-06-13 09:53] toby-sutor opened #87596 "[docs] Provide additional and more elaborate guidance for Log4j configurations"
### Problem Description
Given that the Elasticsearch components rely heavily on Log4j as a logging facility and the very high learning curve for Log4j customizations, it would be great if we could provide more Log4j configuration examples. We frequently see high frustration when users try to implement simple logging customizations.

Ideally, the documentation could be done in a building block fash

[2022-06-13 09:53] elasticmachine commented on #87596
Pinging @elastic/es-docs (Team:Docs)

[2022-06-13 09:56] henningandersen commented on #86765
The es-distributed team discussed this and arrived at requiring an `executor` parameter, filled in with `SAME` in the initial commit (possibly picking another one for known cases like the two cases above).

[2022-06-13 11:39] DaveCTurner commented on #87320
I think this is an expected consequence of [how index splitting works](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-split-index.html#how-split-works). This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to us

[2022-06-13 11:41] #87321 closed

[2022-06-13 11:43] elasticmachine commented on #87583
Pinging @elastic/ml-core (Team:ML)

[2022-06-13 11:43] #87453 closed

[2022-06-13 11:44] chen-ni commented on #86610
If nobody is working on this, can I take it? It could be my first open source contribution other than fixing typos...  :)

[2022-06-13 11:44] elasticmachine commented on #87596
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-06-13 12:25] wonderland14 commented on #16321
Is there any possible way or steps to not close the index while performing restore? If closing is the only way then it makes user life miserable to one by one closing indexes in order to perform restore.

[2022-06-13 12:25] axw commented on #87345
@martijnvg [the docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/geoip-processor.html) for `ignore_missing` state

This is not being upheld in the example above: the first document, which lacks `client.ip`, is being modified.

It may also be useful to have a separate flag to disable the `tags` addition in case of errors, but I still think either the behaviour of `ignore_missin

[2022-06-13 12:29] nik9000 commented on #87592
I'll have a look.

[2022-06-13 12:42] martijnvg commented on #87345
I missed that 2 documents were provided in the simulate api.
I agree, that the first document shouldn't have the `tags` field.

[2022-06-13 12:50] chen-ni commented on #86383
Hi, is anyone working on this? If not can I take it?

[2022-06-13 12:54] chen-ni commented on #86610
@DaveCTurner Got it, thanks!

[2022-06-13 13:06] #87592 closed

[2022-06-13 13:11] #87311 closed

[2022-06-13 14:14] vchaturv-ios opened #87605 "Cannot resolve symbol 'TermsBuilder'"
After upgrading elasticsearch version from 1.0.0 to 7.9.0(As match query does not support type). I am getting below issue.
'Cannot resolve symbol TermsBuilder'
![Screenshot 2022-06-13 at 7 43 58 PM](https://user-images.githubusercontent.com/64041660/173373604-a47f65dc-6d1d-4c76-a284-45031bc95b75.png)

Could we add 'TermsBuilder' support?

[2022-06-13 14:39] benwtrent commented on #87391
another failure: https://gradle-enterprise.elastic.co/s/lc3dqo4nmf2ki/

gonna mute this.

[2022-06-13 15:06] nielsbox opened #87608 "JWTRealm Auto Rotating JWKS"
### Elasticsearch Version

8.2.2

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Elastic Cloud

### Problem Description

According to the docs the JWT Realm will re-fetch the key if the signature is not valid using the current loaded JWKSet.
But this does not happen, as seen here: https://github.com/elastic/elasticsearch/blob/76be7bcdc060a1031a05aa21b1cfc8627b5e

[2022-06-13 15:23] #84788 closed

[2022-06-13 15:29] nielsbox commented on #87608
FYI, this bug also seems to accept tokens that were created using a possibly inferred/cracked JWKSet, there is a reason that Google rotates these keys. Restarting the instance seems to temporarily fix the issue

[2022-06-13 15:29] nielsbox commented on #87608
Created a support case with Elastic to expedite this.

[2022-06-13 15:37] pgomulka opened #87610 "Consolidate Strings helper classes"
### Description

we have multiple Strings helper classes at the moment. It would be great to merge them together or categorise them and name accordingly. Some might be worth moving into internal packages.

- [ ] libs/core  org.elasticsearch.core.Strings
- [ ] server org.elasticsearch.common.Strings
- [ ] server  org.elasticsearch.common.inject.internal.Strings
- [ ] x-pack/plugin/watcher org.elast

[2022-06-13 15:39] simps7b2 opened #87611 "Unassigned Shards After 8.2 Upgrade"
This is a cross-post from this forum question: https://discuss.elastic.co/t/unassigned-shards-after-upgrade-to-8-2/304717.

I am managing an Elasticsearch cluster deployed to our Azure environment. I am trying to upgrade our test single-node cluster from 7.x to 8.2. I have done the following:

- Upgraded to 7.17.3 and confirmed all shards were in working order
- Installed Kibana and walked through

[2022-06-13 16:01] jtibshirani commented on #87346
@WMPeople we don't share release dates on GitHub, but I can say that we're hard at work preparing the 8.3 release now. You could also check the previous release announcements (8.2, 8.1) to get a sense of the release cadence.

[2022-06-13 16:03] kshitijkuls commented on #87320
I don't think it's a user question, the things which are not working as expected then it's a bug, you can call it consequence.

I can definitely reach out to a forum to discuss a workaround for this bug but being a responsible contributor at least don't call it as a consequence because I can't tell this to my client it's not a bug it's a consequence.

Get Outlook for iOS<https://aka.ms/o0ukef>
___

[2022-06-13 16:03] pxsalehi opened #87612 "[CI] GeoShapeQueryTests testRandomGeoCollectionQuery failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/o53eofdiy4zi6/tests/:server:test/org.elasticsearch.search.geo.GeoShapeQueryTests/testRandomGeoCollectionQuery

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.search.geo.GeoShapeQueryTests.testRandomGeoCollectionQuery" -Dtests.seed=1283CBC9A6A14C18 -Dtests.locale=ms-MY -Dtests.timezone=America/Nipigon -Druntime.java

[2022-06-13 16:05] pxsalehi opened #87613 "[CI] LegacyGeoShapeQueryTests testRandomGeoCollectionQuery failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/o53eofdiy4zi6/tests/:modules:legacy-geo:test/org.elasticsearch.legacygeo.search.LegacyGeoShapeQueryTests/testRandomGeoCollectionQuery

**Reproduction line:**
`./gradlew ':modules:legacy-geo:test' --tests "org.elasticsearch.legacygeo.search.LegacyGeoShapeQueryTests.testRandomGeoCollectionQuery" -Dtests.seed=1283CBC9A6A14C18 -Dtests.locale=ar-MA

[2022-06-13 16:05] elasticmachine commented on #87613
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-06-13 17:34] dakrone commented on #87594
Only one composable index template may be applied to a given index

For indices that are not part of a data stream (because the information is already available for a data stream), you can use the [Simulate index API](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-simulate-index.html) to see the final mappings for an index. Is that sufficient for troubleshooting any potent

[2022-06-13 17:52] praveenvinay commented on #56769
+1

[2022-06-13 19:39] jtibshirani commented on #86875
@pryadko sorry for the slow reply. I discussed with the team, and confirmed that Elasticsearch should not be throwing "414 "Request-URI Too Long". This must be coming from some other place, like a web server. Maybe it's possible to change the server configuration to allow larger requests?

We also recognized how the change we made could cause inconvenience. In other places like `search` you can pa

[2022-06-13 19:58] elasticmachine commented on #87608
Pinging @elastic/es-security (Team:Security)

[2022-06-13 20:08] jbaiera commented on #86918
Adding context for the discussion that led to these settings: https://github.com/elastic/elasticsearch/issues/81839#issuecomment-1010030569

[2022-06-13 20:09] pryadko commented on #86875
@jtibshirani thank you for your answer.
Allowing larger requests on ES server doesn't really solve this issue because nobody guarantee that tomorrow we won't have "414 "Request-URI Too Long" for some combination of request, also I don't think it is good idea to configure ES server in such a way to allow actually any request with such long URI.

Do you have a plan to fix this? or it still continues

[2022-06-13 20:21] jbaiera commented on #86918
`xpack.stack.monitoring.history.duration` is not a settable configuration option in the Elasticsearch settings. This is just a pattern variable that we expand when loading the policy data in the registry at start up. The value is overridable with the similarly named `xpack.monitoring.history.duration` property, but this setting is deprecated and the retention selection is to set a lower bound for

[2022-06-13 20:46] breskeby opened #87620 "Setup elasticsearch dependency monitoring with Snyk"
We want to monitor the elasticsearch dependencies on a regular basis using Snyk to be able to recognise vulnerabilities faster and being able to proactively react on security issues within the production dependencies.

- [x] Setup Gradle plugin for monitoring dependencies in snyk ( [#88036](https://github.com/elastic/elasticsearch/pull/88036) )
- [x] Allow configuring snyk target reference and lif

[2022-06-13 20:59] jtibshirani commented on #86875
We don't have immediate plans to change this. The motivation for removing the ability to specify `fields` in the body was that we wanted only one way to specify the parameter. When there are multiple ways, it's unclear which one takes precedence (or if they're somehow merged together). This is part of our API design guidelines so we'd prefer not to undo that change.

We are still discussing the to

[2022-06-13 21:40] pryadko commented on #86875
@jtibshirani thanks,
I see it as a general issue for all APIs

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-search.html#search-search-api-query-params

I'm looking forward to your decision.

[2022-06-13 21:49] elasticmachine commented on #87611
Pinging @elastic/es-search (Team:Search)

[2022-06-13 21:51] gwbrown commented on #87411
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2022-06-13 21:52] simps7b2 commented on #87611
I did do some disk partitioning to accommodate a larger data partition before the upgrade. But ES was reporting all shards as online right before the upgrade, so I'm pretty sure that didn't have anything to do with it. I may get a chance to retry the upgrade in a couple weeks as I now have a fully healthy test cluster up and running on 17.x after I restored the old VM image.

[2022-06-13 21:52] gwbrown commented on #87154
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2022-06-13 21:53] #86779 closed

[2022-06-14 00:35] chen-ni commented on #86383
@DaveCTurner Can I take this one?

[2022-06-14 02:31] romain-chanu commented on #87594
Yes this is understood.

a) However, users may inadvertently configure composable index templates while indices should have used legacy index templates (think of system indices in ESS for monitoring, `.monitoring-es-7-2022.06.11`). If composable index template is configured, this will break the Stack Monitoring (because the incorrect mappings are applied).

b) This is why it would be useful for re

[2022-06-14 02:40] dnhatn commented on #87611
@simps7b2 We identified this bug and fixed it in Lucene 9.2. Please see https://issues.apache.org/jira/browse/LUCENE-10518 for the detail. The fix was released in Lucene 9.2, and will be included in Elasticsearch 8.3. We are sorry that we hit this bug. A workaround is to force merge unassigned shards with Elasticsearch 7.17 before opening them with Elasticsearch 8.2.

[2022-06-14 02:59] ViggoC opened #87624 "Shuffle traversal order of model nodes in decideAllocateUnassigned"
### Description

`BalancedShardsAllocator.Balancer#decideAllocateUnassigned` always traverse the model nodes in the same order. For time series indices, if node_num is the factor of shard_num or vice versa, same shard id will aways allocate to same node. And if may lead to data skew if the data is routed. So if it's better to shuffle the traversal order of model nodes to avoid this case.

![image]

[2022-06-14 04:13] chen-ni commented on #85222
Is anybody working on this? If not can I take it?

[2022-06-14 05:14] jtibshirani opened #87625 "Integrate ANN into `_search` endpoint"
Currently approximate nearest neighbor search is powered by its own `_knn_search` endpoint. We introduced ANN in a separate endpoint because there were big open questions around how it should integrate with the search API (for example around score combination, aggregations, pagination, etc.) We now have a better understanding on many of these topics and plan to integrate ANN into `_search`.

### P

[2022-06-14 05:22] elasticmachine commented on #87625
Pinging @elastic/es-search (Team:Search)

[2022-06-14 06:31] dyyTT opened #87626 "How to use nested type to store multiple vector fields and retrieve vectors"
### Description

How to use nested type to store multiple vector fields and retrieve vectors,Thanks

[2022-06-14 06:48] ywangd commented on #79632
@original-brownbear Should this be closed since the PR (#81237) was merged a while back?

[2022-06-14 06:51] original-brownbear commented on #79632
Right thanks for the ping Yang!

[2022-06-14 06:51] #79632 closed

[2022-06-14 07:17] AzharUddinSheikh commented on #21399
`missing authentication credentials for REST request [/.kibana_8.1.4/_doc/config%3A8.1.4]"}`
I am getting the same error in kibana version `8.1` it is supposed to pop up a login dialog box for asking `login` and `password`
as it asked in version `7.12`

`Developer guide`
executing command `yarn es snapshot --oss` & `yarn start --run-examples`

[2022-06-14 07:33] n1v0lg opened #87628 "[CI] XPackSettingsTests testRealmDomainSettingRegistrationDefault failing"
Not able to reproduce yet. Running locally produces a different failure:

[code]

Will figure out what I'm missing locally

**Build scan:**
https://gradle-enterprise.elastic.co/s/mjgbmn25mpqny/tests/:x-pack:plugin:core:test/org.elasticsearch.xpack.core.XPackSettingsTests/testRealmDomainSettingRegistrationDefault

**Reproduction line:**
`./gradlew ':x-pack:plugin:core:test' --tests "org.elasticsear

[2022-06-14 07:33] elasticmachine commented on #87628
Pinging @elastic/es-security (Team:Security)

[2022-06-14 07:36] ywangd commented on #87628
Err this is a fallout of https://github.com/elastic/elasticsearch/pull/87385

The feature flag no longer exists as such the collection size should always be 1.

[2022-06-14 07:50] n1v0lg commented on #87628
Oh wow I was just about to point to https://github.com/elastic/elasticsearch/blob/f5ceed19fc54ffd35f4dce9b7fe27e0aa4428f05/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackSettings.java#L268

You beat me to it!

[2022-06-14 07:56] n1v0lg commented on #87628
@ywangd thanks! Context always appreciated 🙌

[2022-06-14 08:03] brightgreat commented on #74334
@miss85246 您好，您的这个问题解决了吗？我遇到了和您一样的问题

[2022-06-14 08:32] droberts195 opened #87632 "[CI] DebMetadataTests test05CheckLintian failing"
This is an upgraded version of Lintian on Ubuntu 22.04 taking offence at the Intel MKL libraries not being linked against libc:

[code]

**Build scan:**
https://gradle-enterprise.elastic.co/s/tkvxgodtbhuzm/tests/:qa:os:destructiveDistroTest.default-deb/org.elasticsearch.packaging.test.DebMetadataTests/test05CheckLintian

**Reproduction line:**
`null`

**Applicable branches:**
master, 8.3

**Reprod

[2022-06-14 08:53] luigidellaquila commented on #87500
Related issues:
https://github.com/elastic/elasticsearch/issues/77055
https://github.com/elastic/elasticsearch/issues/87268

[2022-06-14 08:54] droberts195 commented on #87632
What Lintian is saying is not correct - MKL _is_ linked against libc, for example:

[code]

The ldd output looks the same as it does for our libraries, for example:

[code]

Presumably there's some low level difference in the way libc is linked that's causing the problem.

[2022-06-14 09:06] n1v0lg opened #87634 "[CI] bwcTestSnapshots,windows-2012-r2 fails with missing depedencies"
### CI Link

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.17+multijob+platform-support-windows/GRADLE_TASK=bwcTestSnapshots,os=windows-2012-r2/360/

### Repro line

None

### Does it reproduce?

Didn't try

### Applicable branches

7.17

### Failure history

_No response_

### Failure excerpt

Looks like flaky network at first glance but wanted to confirm:

[code]

[2022-06-14 09:06] elasticmachine commented on #87634
Pinging @elastic/es-delivery (Team:Delivery)

[2022-06-14 09:28] #87628 closed

[2022-06-14 09:30] droberts195 commented on #87632
It's possible to fix this as follows:

[code]

However, to then redistribute the fixed version would be a breach of the [MKL license](https://github.com/elastic/ml-cpp/blob/769008947c1f9be6e182d9cc5e011e43faf17a5b/3rd_party/licenses/MKL-LICENSE.txt#L5):

[2022-06-14 09:37] pugnascotia commented on #87634
Looks exactly like a network hiccup to me 👍

[2022-06-14 09:37] #87634 closed

[2022-06-14 09:58] lucabelluccini commented on #86918
Looking at the code, this setting is actually derived from the "old" history setting: https://github.com/elastic/elasticsearch/blob/98dc0eb1e67479835326daee3cf81fb80ba46881/x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/MonitoringTemplateRegistry.java#L245
Which is at https://github.com/elastic/elasticsearch/blob/255bf5056bdbae9cd594f7c3e965b96d33087a39/x-pack/plugin/cor

[2022-06-14 10:02] n1v0lg commented on #86664
I think the issue is still there:

https://gradle-enterprise.elastic.co/s/slgvdzpc72izk/tests/:server:internalClusterTest/org.elasticsearch.readiness.ReadinessClusterIT/testReadinessDuringRestartsNormalOrder?top-execution=1

Same test failure as for the original (`Expected exception IOException but no exception was thrown`)

[2022-06-14 11:39] original-brownbear commented on #86724
Just a missing backport fixed in #87639

[2022-06-14 11:43] n1v0lg opened #87640 "[CI] JdbcCsvSpecIT.testExtendedStatsAggregateFunctionsWithScalarsLargeInput"
### CI Link

https://gradle-enterprise.elastic.co/s/nzxd35p76pziy

### Repro line

./gradlew ':x-pack:plugin:sql:qa:server:single-node:javaRestTest' --tests "org.elasticsearch.xpack.sql.qa.single_node.JdbcCsvSpecIT" -Dtests.method="test {unsigned-long.testExtendedStatsAggregateFunctionsWithScalarsLargeInput}" -Dtests.seed=4F0B5C28954FD18 -Dtests.locale=ms -Dtests.timezone=Mexico/BajaSur -Druntime.

[2022-06-14 11:43] elasticmachine commented on #87640
Pinging @elastic/es-ql (Team:QL)

[2022-06-14 12:54] original-brownbear commented on #87501
This is caused by an overly optimistic assertion, fixed in 8.3+ already. I'll backport a fix to 8.2 as well.

[2022-06-14 12:56] original-brownbear commented on #87501
https://github.com/elastic/elasticsearch/pull/87649 fixes this

[2022-06-14 12:56] #87501 closed

[2022-06-14 12:56] joshdover commented on #61185
No plans currently, but would be curious to know why it needs to run in the final pipeline. That is generally reserved for any processors that need to run even if there are failures.

The proposal in https://github.com/elastic/kibana/issues/133740 will still allow for sharing pipelines across integrations, by using a `pipeline` processor in each data stream's custom pipeline that references the co

[2022-06-14 13:26] mhugo opened #87651 "Performance regression with geoshape queries in 7.10"
### Elasticsearch Version

7.10

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Linux hugods 5.10.0-13-amd64 #1 SMP Debian 5.10.106-1 (2022-03-17) x86_64 GNU/Linux

### Problem Description

When preparing a migration from ES 6.8 to ES 7.17, we found what looks like a performance regression on some shape queries.

After searching the ES commit that introduces thi

[2022-06-14 13:28] DaveCTurner commented on #87448
In #85777 we changed how port ranges are calculated, at least in integ tests. We should check whether that's now incompatible with how the REST tests compute their port ranges.

[2022-06-14 13:36] n1v0lg commented on #84700
Another one https://gradle-enterprise.elastic.co/s/u7flo66by74b2

[2022-06-14 15:04] n1v0lg opened #87655 "[CI] AllocationRoutedStepTests testExecuteAllocateNotCompleteOnlyOneCopyAllocated fails"
### CI Link

https://gradle-enterprise.elastic.co/s/s4d4zsit2cive

### Repro line

[code]

### Does it reproduce?

Yes

### Applicable branches

6.8

### Failure history

This first came up here:
https://github.com/elastic/elasticsearch/issues/49307

and was fixed forever ago:
https://github.com/elastic/elasticsearch/pull/51016

but it's now creeping up through java compatibility matrix tests for

[2022-06-14 15:04] elasticmachine commented on #87655
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-14 15:09] pgomulka commented on #86549
the refactoring is now done

[2022-06-14 15:09] #86549 closed

[2022-06-14 15:11] DaveCTurner opened #87656 "Min node version should persist across restarts"
Today the version barrier (#73358) applies after cluster recovery has completed, which means that the min node version can still go backwards in a full-cluster restart. However we may make changes to persistent state (e.g. `Metadata` and the contents of snapshot repositories) which depend on the min node version not going backwards. We should therefore record the min node version in the persisted

[2022-06-14 15:11] elasticmachine commented on #87656
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-14 15:27] DaveCTurner opened #87657 "Alternative to `POST _cluster/reroute?retry_failed` for plan changes"
We blindly run `POST _cluster/reroute?retry_failed` during plan changes to reset any failed-allocation counters as a last-ditch attempt to assign any unassigned shards. Yet, we should know that we're running a plan change and make better decisions in `MaxRetryAllocationDecider` and friends to make this API call unnecessary.

[2022-06-14 15:27] elasticmachine commented on #87657
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-14 17:18] dnhatn commented on #87611
Thanks @simps7b2 for the reply. I am closing this issue as it was fixed in https://issues.apache.org/jira/browse/LUCENE-10518.

[2022-06-14 17:18] #87611 closed

[2022-06-14 17:41] henningandersen commented on #87657
Related to #81231

[2022-06-14 19:21] justincr-elastic commented on #87492
Hello. This doc PR has been merged to clarify the role mappings doc page.

https://github.com/elastic/elasticsearch/pull/87572

[2022-06-14 19:41] elasticmachine commented on #87651
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-06-14 19:48] mayya-sharipova commented on #87626
@dyyTT Thank you for filing this issue.

When you say "multiple vector fields", do you mean multiple vector values for the same field in a document?  If yes, currently there is no way to do this at Elasticsearch. And there is already a [duplicate issue](https://github.com/elastic/elasticsearch/issues/86787)  on this.

Or do you really mean multiple vector fields? Then why do you need nested type f

[2022-06-14 19:49] elasticmachine commented on #87626
Pinging @elastic/es-search (Team:Search)

[2022-06-14 21:25] tarunnsingh commented on #45849
Nope this doesn't work.

[2022-06-14 22:06] jdconrad commented on #80504
I discussed this further with @jpountz today, and he suggested that we leverage the existing fielddataBuilder in MappedFieldType to do the fallback in the case when doc values are not enabled. He also suggested that fallback use the existing runtime fields infrastructure to generate the appropriate doc values from source.

I believe this is a good path forward but does require some additional plum

[2022-06-14 22:09] BruceZu opened #87671 "Cumbersome default value like boot and adjust_pure_negative"
### Description

In the test case to verify the `BoolQueryBuilder` result, I do not want to see the cumbersome default value like boot and adjust_pure_negative, I want to focus on the business logic only.
Especially when I check the  `BoolQueryBuilder` result where it is not all about must-not logic, the adjust_pure_negative still appears in the result of method `toString()`. So confusing and nois

[2022-06-14 22:18] mark-vieira commented on #87620
This would be my understanding as well. I think publishing test dependencies would only cause confusion for folks. From my perspective test dependencies are completely internal and have nothing to do with the delivered software. I'd argue we should explicitly omit them for that reason, completely independent of the level of effort of including this information.

[2022-06-15 00:21] elasticmachine commented on #81406
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-15 00:33] Leaf-Lin commented on #85222
Hi, @chen-ni , I have added the label by mistake, sorry for the confusion. This one has been assigned to @kingherc

[2022-06-15 00:34] Leaf-Lin commented on #86383
Hi, @chen-ni , I have added the label by mistake, sorry for the confusion. This one has been assigned to @kingherc and @pxsalehi

[2022-06-15 00:41] chen-ni commented on #85222
@Leaf-Lin Got it :)

[2022-06-15 00:41] chen-ni commented on #86383
@Leaf-Lin Got it :)

[2022-06-15 01:28] dyyTT commented on #87626
@mayya-sharipova  I have some dialogue text. I need to split each dialogue text into each sentence and convert it into vectors, so I want to store these vectors in the same field with nested type for easy query.

[2022-06-15 01:28] dyyTT commented on #87626
I have some dialogue text. I need to split each dialogue text into each sentence and convert it into vectors, so I want to store these vectors in the same field with nested type for easy query

[2022-06-15 01:29] dyyTT commented on #87626
@mayya-sharipova   I have some dialogue text. I need to split each dialogue text into each sentence and convert it into vectors, so I want to store these vectors in the same field with nested type for easy query

[2022-06-15 06:37] breskeby commented on #87620
Understood. So for now we will only monitor dependencies for now that are shipped with our distro and can be a potential security thread for our customers.

[2022-06-15 06:43] DaveCTurner commented on #81406
I wonder if we really need more control here, as opposed to changing how Elasticsearch computes its disk watermarks to better utilise larger nodes. Today ES (roughly) aims to keep 10% of disk free on each node, but if we say changed this to target `min(10%,100GB)` of free space then larger nodes would be better-utilised automatically without needing to adjust any settings.

[2022-06-15 07:03] henningandersen commented on #81406
I agree with David here, doing similarly to what we did for frozen tier on all tiers would in my mind effectively solve this problem.

Making it tier specific is not enough/ideal during a rolling up-size anyway.

[2022-06-15 07:59] fraf opened #87677 "Define a NWordGram analyser (similar to NGram analyser)"
### Description

Hi searchers,

I was reading the elastic search documentation about analyser/tokenizer/token filters possibilities. And I didn't found what I'am looking for. A tokenizer is missing : the NWordGram analyser.
Consider it exactly the as NGram or EdgeNGram tokenizer, but considers not per character analysis but per word analysis.
Of course, the concept of word delimiter would be possi

[2022-06-15 08:04] ruflin commented on #81246
Commenting on this from a pure user perspective. I stumbled over this when building a script for a runtime field. I used:

[code]

I get an error on the `message` field because of the above issue and had to convert it to:

[code]

For me the ideal experiences is that I don't have to know about the underlying implementation details of Elasticsearch to access the data. I want to just have 1 way to a

[2022-06-15 08:50] n1v0lg commented on #86668
One other thing to consider once we are further along is whether to involve Kibana for a UI update to the API keys management page. Not necessary for the initial release of this since target is internal use but could be a nice to have for customers in the future.

[2022-06-15 08:55] javanna commented on #86536
Now, one problem I see with what I suggested above is something that we've been aware of for some time but I tend to forget: there is currently no way to access the indexed variant of the field from a script if it is shadowed, as referring to it will always load the runtime field, and in this case it would even cause an error around trying to access the same field that you're defining a script for

[2022-06-15 10:00] jpountz opened #87684 "Move backing indices of data streams to LogByteMergePolicy"
### Description

Currently Elasticsearch uses `TieredMergePolicy` on all indices. This merge policy is a good default: it's good at picking balanced merges, reclaiming deletes, etc. However it has one non-negligible downside for time-based data: it can merge non-adjacent segments. This most often happens when computing merges on the largest level when `TieredMergePolicy` will use a greedy algorith

[2022-06-15 10:03] cbuescher commented on #87677
The functionality you are looking for already exists as the [Shingle Analyzer](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-shingle-tokenfilter.html). Please let us know if anything is missing there in terms of functionality, I will close this issue in the meantime.

[2022-06-15 10:03] #87677 closed

[2022-06-15 11:01] Leaf-Lin opened #87686 "[Telemetry] Report cluster health in _xpack/health"
### Description

The health issues of the cluster should be reported under `_xpack/health` and collected as part of the telemetry so that Elasticsearch health can be aggregated by health indicators to understand what are the common health issues.

The output may look like this `GET _xpack/health`:
[code]
The output above is very similar to the output of `_internal/health` but without any summary o

[2022-06-15 11:48] henningandersen commented on #87055
We discussed this in the es-distributed team and decided that this is a case where human intervention is necessary. We cannot rebootstrap the follower against the new leader index, since that may make the follower go back in time. We also cannot ignore this completely, since the follower will then be missing any new data that appeared.

This could be reported to users either through the existing a

[2022-06-15 12:35] pheyos opened #87688 "[Transform] Error when removing retention policy"
**Found in version**
- Observed in 8.2.3, but might exist longer

**Steps to reproduce**
On a multi node cloud cluster (might also work on a local multi node cluster):
- Create a transform with a retention policy
- Update the transform and remove the retention policy

**Expected result**
- The retention policy is removed

**Actual result**
- This sometimes results in an error:
[code]

**Additional

[2022-06-15 12:35] elasticmachine commented on #87688
Pinging @elastic/ml-core (Team:ML)

[2022-06-15 13:09] hendrikmuhs commented on #87688
seems like a missing entry in this location: https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackClientPlugin.java#L524

[2022-06-15 15:12] #46787 closed

[2022-06-15 17:37] #87569 closed

[2022-06-15 17:59] droberts195 commented on #87632
Yes, agreed.  I've opened #87706 to try to do this.  Tomorrow I'll get an Ubuntu 22.04 machine to try it on so that I can make sure I've got the syntax right.

[2022-06-15 18:10] ppf2 opened #87707 "Document cluster.metadata.display_name usage for Stack Monitoring"
Ref: https://github.com/elastic/elasticsearch/issues/33691

`cluster.metadata.display_name` can be set as a dynamic cluster setting to apply a custom name to the deployment name Stack Monitoring will display.  This seems like a good setting to document.  I have trouble finding reference to this setting in either Elasticsearch or Kibana documentation. Filing here because it is a cluster level setti

[2022-06-15 18:10] elasticmachine commented on #87707
Pinging @elastic/es-docs (Team:Docs)

[2022-06-15 18:16] nreese commented on #61299
I work on Kibana maps team and have a customer asking for runtime geo_shape support. Below is the use case.

Customer has geo-locations that are not precise GPS positions but rather a location with an error ellipse. The error ellipse is stored as a center lat/lon, semi-minor axis length, semi-major axis length, and an origination from north. The error ellipse centers are indexed as geo_points in e

[2022-06-15 18:30] nreese opened #87708 "geo-line aggregation outlieyer detection"
### Description

[Geo-line metric aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-geo-line.html) aggregates all geo_point values within a bucket into a LineString ordered by the chosen sort field. It would be very useful to have the aggregation remove outlier points to provide cleaner results.

For example, suppose geo_point values are GPS p

[2022-06-15 18:30] elasticmachine commented on #87708
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-06-15 18:34] ap-kulkarni commented on #81980
@mark-vieira Azul Zulu provides openjdk 8 distribution for m1 macs. I was able to make necessary changes in build files to fetch that instead of adoptium (for this specific platform only). If there aren't any licensing issues in using the zulu distribution, I would like to open PR for the same. Apologies, since this is not related to the original issue but couldn't find appropriate place to post t

[2022-06-15 18:36] nreese opened #87710 "geo-line aggregation line smoothing"
### Description

[Geo-line metric aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-geo-line.html) aggregates all geo_point values within a bucket into a LineString ordered by the chosen sort field. It would be very useful to have the aggregation smooth the results to provide a curved fit to account for measurement inaccuracies.

For example,

[2022-06-15 18:36] elasticmachine commented on #87710
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-06-15 20:33] mayya-sharipova commented on #87626
@dyyTT Thanks for explaining your use case.  This is a duplicate [duplicate issue](https://github.com/elastic/elasticsearch/issues/86787) on this.  So I will be closing this issue.

Feel free to add more about your use case in https://github.com/elastic/elasticsearch/issues/86787 (for example it would be useful to know if need to know which particular vector of the document was matched?).

[2022-06-15 20:33] #87626 closed

[2022-06-15 21:37] ppf2 opened #87713 "Document the Tika version packaged with our ingest-attachment plugin and link to appropriate Tika documentation"
As Enterprise Search starts to use the ingest-attachment plugin for web crawler, more users will be wondering what the supported mime type formats are for our ingest-attachment plugin.

Currently, our [ingest-attachment plugin documentation](https://www.elastic.co/guide/en/elasticsearch/plugins/8.2/ingest-attachment.html#ingest-attachment) does not mention what type of files are supported.  We gen

[2022-06-15 21:37] elasticmachine commented on #87713
Pinging @elastic/es-docs (Team:Docs)

[2022-06-15 21:47] dakrone commented on #87713
This will likely change soon, as we're currently pursuing #85474 but with the caveat of splitting some of the parsers between an included module and extending plugin.

[2022-06-15 21:47] elasticmachine commented on #87713
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-15 22:01] dakrone commented on #81406
Supporting a rudimentary syntax of *either*: `0.75` or `10%` or `100gb` or `min(10%,100gb)` or `max(10%,100gb)` (and then changing the default for our needs) seems like a reasonable thing to do for this to me also.

[2022-06-15 22:11] jtibshirani commented on #72067
In Lucene we're currently discussing the idea of storing each element at lower precision: https://issues.apache.org/jira/browse/LUCENE-10577.

This also popped up recently in a Discuss issue, where a user found kNN was using more memory than the available RAM: https://discuss.elastic.co/t/ann-search-performance-setup/307129

[2022-06-16 05:25] EVINDX opened #87714 "How do we recover from corruption in transaction log file?"
There has been corruption of transaction log in the environment due to which the indices are in red. Because of which we are unable to move forward with indexing new items and the backlog for the items to index keep increasing

**Adding the error details below**
{
"note" : "No shard was specified in the explain API request, so this response explains a randomly chosen unassigned shard. There may be

[2022-06-16 06:30] knyttl opened #87715 "Upgrade assistant: Check back here when it's time to upgrade to Elastic 8.0."
### Elasticsearch Version

7.17.3

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Debian 5.10.120-1 (2022-06-09) x86_64 GNU/Linux

### Problem Description

I would like to use the migration assistant to prepare migration to ES8, however the assistant says:

It is time :-)

![Screenshot 2022-06-16 at 8 27 22](https://user-images.githubusercontent.com/401107/17400

[2022-06-16 06:35] matschaffer commented on #58087
Many of the elastic repos (kibana, beats, logstash) have switch to `main` as the default branch. Elasticsearch seems to stand out as one of the few repos still on `master`.

Should we split out a sub-issue for renaming the elasticsearch branch?

I think we could do that with less disruption than renaming runtime concepts such as the `master` node role.

[2022-06-16 06:37] matschaffer commented on #58087
@iskounen for `reindex.remote.whitelist` I think `reindex.remote.allowlist` fits well and is proposed by this issue's description. Thanks for raising it!

[2022-06-16 06:38] matschaffer commented on #58087
Oh, I just noticed there's a `main` that tracks master. I'll try using it and provide feedback if I run into any issues.

[2022-06-16 07:23] Kushmaro commented on #87686
@Leaf-Lin I think its actually more worthwhile to pin point specific issues here. The point of this telemetry (in my mind) is to understand what *specific* issues are most common in ES (and in my viewpoint, on ES managed by ECK)

[2022-06-16 07:44] yanchaoguo opened #87718 "sort script not get _sore"
### Elasticsearch Version

8

### Installed Plugins

_No response_

### Java Version

8

### OS Version

linux

### Problem Description

[错误](https://upload-images.jianshu.io/upload_images/17243194-55ef2db81c792554.png)
通过使用sort script 引用_score进行排序时 搭配collapse， 无法获取_score数值， 去掉collapse可以

### Steps to Reproduce

none

### Logs (if relevant)

_No response_

[2022-06-16 07:45] yanchaoguo commented on #87718
https://upload-images.jianshu.io/upload_images/17243194-55ef2db81c792554.png

[2022-06-16 07:45] javanna commented on #86690
@nik9000 did you mean that we should add it in each response, or in the search stats like @martijnvg suggested? Also, we already have a count of skipped shards in the search response, isn't that enough? I would like to discuss this with the team, but first, how did you envision this additional count to fit in the existing info?

[2022-06-16 07:48] #86805 closed

[2022-06-16 07:55] pugnascotia commented on #81980
@ap-kulkarni Adoptium and OpenJDK both now provide `aarch64` builds for Mac OS. We switched to the latest OpenJDK release in #86554.

[2022-06-16 08:02] javanna commented on #33915
This issue has had no activity for quite some time. The behaviour of `skip_unavailable` has been [discussed](https://github.com/elastic/elasticsearch/issues/82407#issuecomment-1034724154) a few times, and I wish its naming was more explicit on making a cluster optional, instead of using the `unavailable` terminology. That said, it is not advisable to change its behaviour now to be more selective o

[2022-06-16 08:09] javanna commented on #53291
I can see how this behaviour can be surprising, but it aligns with how search, get and other API work: we have never guaranteed that once aliases are requested, the response won't refer to the corresponding concrete indices. It's always been the other way around: the response will refer to the concrete indices that hold the data. With that said I would close this with no further action. Please fee

[2022-06-16 08:16] DaveCTurner commented on #87714
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2022-06-16 08:26] DaveCTurner commented on #86059
I opened https://github.com/elastic/elasticsearch/pull/87687 which will at least prevent the underlying bug from causing such big problems in production.

[2022-06-16 08:31] javanna commented on #5368
It's been a long time since this issue was discussed last. The get field mappings API has effectively been replaced by the field caps API. We have not removed the API due to the breaking nature of such a change but we would expect users to rely on field_caps to inspect the fields and their capabilities. In case mappings need to be inspected instead, get mappings is the way to go. As for adding sup

[2022-06-16 08:31] #5368 closed

[2022-06-16 08:33] pugnascotia commented on #86664
Another failure: https://gradle-enterprise.elastic.co/s/kgg26kubj2wnw

[2022-06-16 08:35] pugnascotia commented on #87591
Another failure: https://gradle-enterprise.elastic.co/s/zpknjtc2hg4yc

[2022-06-16 08:41] #12173 closed

[2022-06-16 08:54] andreidan opened #87721 "Add user actions for the ilm,slm, and repository_integrity indicators"

[2022-06-16 09:19] ap-kulkarni commented on #81980
@pugnascotia This is specific to JDK 8 distribution for MacOS aarch64. Currently only Azul Zulu provides distribution for JDK8 for the said platform.

[2022-06-16 09:22] ywangd opened #87724 "Warn about flapping roles when activating user profiles"
When multiple realms are configured to be under the same security domain, the [recommendation](https://www.elastic.co/guide/en/elasticsearch/reference/master/security-domain.html#security-domain-realm-roles) is to have roles consistently configured across all these realms for the same username. Otherwise, the [ActivateUserProfile API](https://www.elastic.co/guide/en/elasticsearch/reference/current

[2022-06-16 09:22] elasticmachine commented on #87724
Pinging @elastic/es-security (Team:Security)

[2022-06-16 09:32] ywangd opened #87725 "Support ActivateUserProfile for a user with run_as"
Currently the [ActivateUserProfile API](https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-activate-user-profile.html) takes a user credential and creates/updates the profile document for the user. When Kibana is used in a proxy setup, where the true end-user is provided as the run-as header, it is not possible to call ActivateUserProfile for the true end-user (since Kiba

[2022-06-16 09:32] elasticmachine commented on #87725
Pinging @elastic/es-security (Team:Security)

[2022-06-16 09:34] n1v0lg opened #87726 "`TokenService` - remove code for BWC support for pre-`7.17` ES versions"
### Description

Throughout the evolution of the `TokenService`, we've ensured that access tokens created in older versions remain valid in newer versions of ES. Effectively, upgrades should remain "unnoticable" to end-users and not affect their Kibana sessions; access tokens created before a version upgrade (or during, if it was a rolling upgrade) should remain valid _after_ the upgrade.

As a re

[2022-06-16 09:34] elasticmachine commented on #87726
Pinging @elastic/es-security (Team:Security)

[2022-06-16 09:35] idegtiarenko commented on #81302
There was one more failure: https://gradle-enterprise.elastic.co/s/krnbc7iy5mfyu/tests/:x-pack:plugin:ccr:internalClusterTest/org.elasticsearch.xpack.ccr.RestartIndexFollowingIT/testFollowIndex?top-execution=1

It was caused by:
[code]

[2022-06-16 09:48] zannkukai opened #87728 "Nested query using wildcard filter with custom analyzer : query failed on `7.13.0`"
### Elasticsearch Version

7.13.0

### Java Version

10.0.2

### OS Version

MacOSX 12.4 (ElasticSearch on Docker)

### Problem Description

Hello,

In our project, we use a custom analyzer on identifiers field to remove hyphens. All our identifiers metadata are stored into nested fields with (at least) a `type` and a `value`.
So, to search on identifiers, we use a nested query with two criteria :

[2022-06-16 09:49] n1v0lg opened #87729 "`TokenService` clean up"
### Description

The `TokenService` could use some spring cleaning 🧹 🧹 🧹

It has evolved quite organically; a sizeable portion of the code is either (1) not actually used or (2) there for backwards compatibility with older ES versions (pre-`7.17`).

This issue tracks the various cuts we can make.

- [ ] Remove dead code (several areas, but here is an [example](https://github.com/elastic/elasticsea

[2022-06-16 09:49] elasticmachine commented on #87729
Pinging @elastic/es-security (Team:Security)

[2022-06-16 09:49] pugnascotia opened #87730 "[CI] CcsCommonYamlTestSuiteIT test {p0=search.highlight/50_synthetic_source/text multi fvh source order} failing"
Looks like the expect error message was returned by Elasticsearch, but the HTTP code was `2xx` instead of `[45]xx`.

**Build scan:**
https://gradle-enterprise.elastic.co/s/qlngbtm7snbq6/tests/:qa:ccs-common-rest:ccs-remote/org.elasticsearch.test.rest.yaml.CcsCommonYamlTestSuiteIT/test%20%7Bp0=search.highlight%2F50_synthetic_source%2Ftext%20multi%20fvh%20source%20order%7D

**Reproduction line:**
`.

[2022-06-16 10:09] elasticmachine commented on #87671
Pinging @elastic/es-search (Team:Search)

[2022-06-16 10:12] elasticmachine commented on #87715
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-16 10:14] DaveCTurner commented on #87448
The real-cluster tests set `http.port: 0` and `transport.port: 0` which causes them to pick some random ephemeral port. Maybe the ephemeral port range on some CI workers is too large and overlaps the port ranges used by `ESTestCase`? We could either fix that or pick specific port ranges for these nodes instead. I'll open an issue for the delivery team to consider.

[2022-06-16 10:16] pquentin commented on #87718
Thank you for your interest in Elasticsearch. There are few things to improve in your issue before we can consider it:

 * It should be in English
 * Your links should be valid: they currently give a 403 error. Please use GitHub to upload your images instead.
 * We also need steps to reproduce and the exact Elasticsearch version (eg. 8.2.1, not just 8).

Please reopen when the above is addressed.

[2022-06-16 10:18] elasticmachine commented on #87728
Pinging @elastic/es-search (Team:Search)

[2022-06-16 10:23] DaveCTurner opened #87734 "[CI] Real-cluster tests pick ports that clash with ESTestCase port ranges"
In https://github.com/elastic/elasticsearch/issues/87448 we saw a test failure because the failing test was using port 35677 which was also in use by a different test case. I think the other test case involved a real cluster since it had a build hash, and since we shouldn't have any clashes between `ESTestCase`-based tests running with different test workers thanks to #85777. As far as I can tell

[2022-06-16 10:23] elasticmachine commented on #87734
Pinging @elastic/es-delivery (Team:Delivery)

[2022-06-16 11:08] romseygeek commented on #87728
Applying analysis or not to wildcard queries on text fields has been a bit of a rollercoaster - see #53127 and then #71751 - and it's still not clear to me that we have the balance right.  I think you've been effected by #71751 in particular, which *stopped* applying analysis to wildcard queries on text fields, it having been inadvertently enabled previously.  We need to revisit all of this I thin

[2022-06-16 11:26] elasticmachine commented on #86974
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-16 11:34] pugnascotia opened #87738 "[CI] JdbcCsvSpecIT » test {unsigned-long.testMedianAbsoluteDeviationLargeInput}"
### CI Link

https://gradle-enterprise.elastic.co/s/ljbuxje5wvnwi

### Repro line

`./gradlew ':x-pack:plugin:sql:qa:server:security:without-ssl:javaRestTest' --tests "org.elasticsearch.xpack.sql.qa.security.JdbcCsvSpecIT" -Dtests.method="test {unsigned-long.testMedianAbsoluteDeviationLargeInput}" -Dtests.seed=8EEFD52BB968E6D2 -Dtests.locale=ar-IQ -Dtests.timezone=Pacific/Port_Moresby -Druntime.ja

[2022-06-16 11:34] elasticmachine commented on #87738
Pinging @elastic/es-ql (Team:QL)

[2022-06-16 11:38] zannkukai commented on #87728
thanks @romseygeek.
The solution using `query_string` seems work for our needs.
This is now the query I use :
[code]
It's working as excepted, but my old notation seems more elegant to read ;-)

[2022-06-16 11:38] #87728 closed

[2022-06-16 11:59] #15448 closed

[2022-06-16 12:13] nik9000 commented on #87730
Tricky. And it didn't fail in the PR either. I'll look.

[2022-06-16 13:08] wchaparro commented on #87651
@craigtaverner,  @iverase

[2022-06-16 13:12] #87688 closed

[2022-06-16 13:37] #57698 closed

[2022-06-16 13:42] wchaparro commented on #53238
closing as dupe of #58139

[2022-06-16 13:42] #53238 closed

[2022-06-16 13:52] wchaparro commented on #42894
@icemakegirl yes please, it is still relevant. Thanks!  feel free to ask if you need any help.

[2022-06-16 13:58] wchaparro commented on #42281
related: #82808

[2022-06-16 16:07] #87730 closed

[2022-06-16 16:35] lucabelluccini opened #87753 "Enrich indices auto expand to all data nodes. Should we reduce the expansion?"
### Description

Enrich indices have by default 0-all.
On big cluster (e.g. 40 data nodes), it means 40 shards per Enrich policy.

Could we make it smarter and for example expand to all data nodes with the ingest role?
This might limit the expansion to the nodes where ingestion might actually happen.

[2022-06-16 16:35] elasticmachine commented on #87753
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-16 16:40] elasticmachine commented on #87753
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-16 16:46] elasticmachine commented on #87605
Pinging @elastic/clients-team (Team:Clients)

[2022-06-16 17:01] DJRickyB opened #87754 "Add needs:triage label to external-contributor PRs"
### Description

In order to triage external-contributor PRs to appropriate teams, Elasticsearch engineers periodically view the [external-contributor](https://github.com/elastic/elasticsearch/pulls?q=is%3Apr+is%3Aopen+label%3Aexternal-contributor) label in open PRs. This works but can be visually challenging due to other labels in use to tell the difference between triaged and untriaged requests.

[2022-06-16 17:01] elasticmachine commented on #87754
Pinging @elastic/es-delivery (Team:Delivery)

[2022-06-16 17:46] andreidan opened #87757 "Last successful snapshot was {lastSuccess}"
Is it possible to read the SLM policies and compare `last_success` to current time.

- If (`last_success.time` - `current_time`) > `scheduled_frequency`+ `threshold` : red
- If (`last_success.time` - `current_time`) < `scheduled_frequency`: green

I added a `threshold` here to tolerate a possible delay.  We might want to tune this threshold because if the snapshot was a few minutes late, things mi

[2022-06-16 17:46] andreidan opened #87758 "Latest snapshot attempt failed"
This is related to `Last successful snapshot was {lastSuccess}`.

Imagine a scenario where "Latest snapshot attempt failed", and "last successful was 3 months ago" vs "Latest snapshot attempt failed", and "last successful was 40 mins ago".  The former is more severe and the latter is less severe.  Both of them need to make aware to users, but with a different impact/severity warning.

Cloud will l

[2022-06-16 18:05] ryanmorrisonlytics opened #87761 "7.16 _disk_usage API - NullPointerException"
### Elasticsearch Version

"version": { "number": "7.16.2",     "build_flavor": "default",     "build_type": "docker",     "build_hash": "2b937c44140b6559905130a8650c64dbd0879cfb",     "build_date": "2021-12-18T19:42:46.604893745Z",     "build_snapshot": false,     "lucene_version": "8.10.1",     "minimum_wire_compatibility_version": "6.8.0",     "minimum_index_compatibility_version": "6.0.0-beta1

[2022-06-16 18:17] masseyke commented on #86957
I can't reproduce this, and it hasn't happened again on our CI server since this time. I notice that something is going really slowly on these machines. I see a lot of `which is above the warn threshold of [5000ms]` warning messages in the logs on both machines, with some things taking over 1 minute. I'm wondering if something else was just going on with the CI box at the time, because it seems fa

[2022-06-16 18:28] javanna commented on #52735
We discussed this with the team. Although it is Elasticsearch that makes the decision of not providing `0` for minimum should match when there are only optional clauses, even if it was passed down the line, Lucene would still require for at least one required clause. Also, this can be easily worked around by adding one required match_all clause, hence we are opting for leaving things as they are.

[2022-06-16 18:28] #52735 closed

[2022-06-16 18:43] jtibshirani commented on #86875
@elastic/es-clients do you have a suggestion for how to move forward? We want to avoid making a breaking change, like removing the ability to pass `fields` through a URI parameter. I see two options:
* Re-add support for `fields` in the request body. This violates our convention of "one single way to pass a parameter", but follows the convention of "passing variable-length request components in th

[2022-06-16 18:49] javanna commented on #86690
We discussed this with the team and some concerns were raised about adding a new count in the search response. We already have the skipped shards that include the overall count of the skipped shards whether they were skipped directly on the coordinating node or when executing can_match. While it used to be quite important that queries avoid going to the shards when the coordinating node can suppor

[2022-06-16 18:49] #86690 closed

[2022-06-16 18:49] nik9000 commented on #86690
We talked about this in the search team and didn't seem super keen on doing it. We don't like that it exposes an internal detail (that we skipped on the coordinating node) but.... oh, @javanna just replied with better words than I was typing. I'm glad github sent me the update.

[2022-06-16 19:00] mark-vieira commented on #87448
This doesn't seem to be the case though. If it were, I'd expect to find that port in a `unicast_hosts.txt` file for one of thoese test distribution but that wasn't the case. However, I did see this port listed in the test output for `org.elasticsearch.reindex.DeleteByQueryBasicTests` which looking at the build timeline, did in fact overlap with `:server:internalClusterTest`.

[code]

[2022-06-16 19:01] mark-vieira commented on #87734
I don't think this was caused by a test cluster taking that port but by another unit test. See [my comment](https://github.com/elastic/elasticsearch/issues/87448#issuecomment-1158028326) in the linked issue.

[2022-06-16 19:06] javanna commented on #33586
Kibana evolved a lot over time, and I believe loads now dashboards differently, which makes me think that this feature request can be closed. Please feel free to comment or reopen if you think otherwise.

[2022-06-16 19:06] #33586 closed

[2022-06-16 19:12] javanna commented on #37146
Hi, do you still have this problem? Were you able to recreate it consistently? Also, I see that your client code was using the java API which has been replaced in the meantime, so maybe that is also a factor in whether this is still a problem.

[2022-06-16 19:26] javanna commented on #27170
As far as I understand, the solution that was proposed [here](https://github.com/elastic/elasticsearch/issues/12358#issuecomment-372735502) would address this issue as you would be able to define your dynamic templates plus an extra dynamic template at the end with a directive to not map matching fields. Closing as a duplicate of #12358 .

[2022-06-16 19:26] #27170 closed

[2022-06-16 19:59] javanna commented on #72899
Heads up: we have recently introduced the lookup runtime field, see #82385 . There is no relation with ingest processors, but it allows to retrieve related fields from an external index, similar to what is described above.

[2022-06-16 19:59] #72899 closed

[2022-06-16 20:23] javanna commented on #65636
This issue suggests creating a new field type, or automatically indexing the length of a field when requested. Like mentioned above, this could be obtained with a runtime field, or by specifying a script for a long field that calculates the length of a given indexed field loaded from doc_values. With that I am closing this issue, feel free to reopen or add comments if I missed something.

[2022-06-16 20:23] #65636 closed

[2022-06-16 20:30] javanna commented on #63482
heya @nik9000 , I am trying to understand how this could be implemented. You were suggesting to add a section for can match to the output of the profile API, or something along those lines?

[2022-06-16 20:31] beckyjmcdabq opened #87766 "7.17.1 Kubernetes/Helm Chart - Failing with master_not_discovered_exception"
We are deploying Elasticsearch version 7.17.1 to Kubernetes along with Fluentd and Kibana.  Everything runs fine for 3-6 days and we eventually get exceptions in the elasticsearch pod logs.  We are deployig using the "Official Elastic helm chart for Elasticsearch".

The endpoint:  https://elasticsearch.fqdn.gov/_cat/indices?v
shows:  {"error":{"root_cause":[{"type":"master_not_discovered_exception

[2022-06-16 20:34] javanna commented on #62956
Hello, sorry about our late reply. I am assuming you worked around this, hence I am closing this issue. Feel free to comment to add info if the suggested change is still of interest.

[2022-06-16 20:34] #62956 closed

[2022-06-16 20:37] javanna commented on #62783
Closing this issue as it did not have activity in more than a year and it seems it has been worked around.

[2022-06-16 20:38] elasticmachine commented on #61299
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-06-16 20:40] javanna commented on #59448
I am closing this issue due to lack of activity, please feel free to reopen or comment if the requested enhancement comes up again.

[2022-06-16 20:40] #59448 closed

[2022-06-16 20:47] nik9000 commented on #63482
I think that's what I was suggesting, yeah.

[2022-06-16 20:48] javanna commented on #56063
Question: given that we removed support for external values in #72448 , are we done with this issue? Where do we stand with the three items above that are not marked done, namely  deprecate and remove multifields on geo_point, deprecate and remove nested completion mappers, and remove ParserContext.switchParser() ?

[2022-06-16 20:53] #58357 closed

[2022-06-16 20:58] elasticmachine commented on #24087
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-06-16 21:06] javanna commented on #43704
No activity in 3 years, closing for now, feel free to reopen / comment if this enhancement request is still important, so that we can re-open the discussion around it.

[2022-06-16 21:06] #43704 closed

[2022-06-16 21:19] jtibshirani commented on #56063
No we aren't done with this issue unfortunately. Here is the discussion on why #72448 doesn't close the issue and what remains to be done: https://github.com/elastic/elasticsearch/pull/72203#issuecomment-827193394.

[2022-06-16 21:28] beckyjmcdabq commented on #87766
In looking at one of the elasticsearch-master pod logs, I see:

"type": "server", "timestamp": "2022-06-16T13:25:15,090Z", "level": "WARN", "component": "o.e.c.c.ClusterFormationFailureHelper", "cluster.name": "elasticsearch", "node.name": "elasticsearch-master-0", "message": "**this node is unhealthy: health check failed due to broken node lock**", "cluster.uuid": "D0Wo5puETIiSZOZNiDHaqg", "node.

[2022-06-16 21:29] elasticmachine commented on #48432
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-16 21:31] javanna commented on #48432
This seems to me like a problem that's specific to the reindex API. When you are indexing a document, either through the index API or the bulk API, you'd get back the error and it would be possible to associate it with what document caused it. I believe the reindex API should be adapted to do something similar, probably wrap the exception or have better reporting around errors.

[2022-06-16 21:35] javanna commented on #48063
Now that we have support for runtime fields as well as data streams, I would lean towards closing this issue in favor of #https://github.com/elastic/elasticsearch/issues/72142 . Feel free to reopen if you think otherwise.

[2022-06-16 21:35] #48063 closed

[2022-06-16 21:41] javanna commented on #49975
No activity in 2+ years, closing for now. If you still find this interesting, please leave a comment and we will consider re-opening the discussion.

[2022-06-16 21:41] #49975 closed

[2022-06-16 21:45] masseyke opened #87768 "[CI] StableMasterHealthIndicatorServiceTests testYellowWithTooManyMasterChanges failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/n2olvudhxfuq2/tests/:server:test/org.elasticsearch.cluster.coordination.StableMasterHealthIndicatorServiceTests/testYellowWithTooManyMasterChanges

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.cluster.coordination.StableMasterHealthIndicatorServiceTests.testYellowWithTooManyMasterChanges" -Dtests.seed=89621FE155F

[2022-06-16 21:45] elasticmachine commented on #87768
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-16 21:45] javanna commented on #49704
Gathering some context here and figuring out what has changed since this issue was opened: @elastic/es-clients how do the clients interact with mappings nowadays? Are they aware of field types and their options?

[2022-06-16 21:52] javanna commented on #48696
I agree on the need for a high-level search profile API, this is something that we recently had some discussions about. There is another issue logged with a very similar if not the same ask, hence I will close this issue in favor of #21073.

[2022-06-16 21:52] #48696 closed

[2022-06-16 21:54] javanna commented on #52337
This does not seem to have come up since we have introduced the allow expensive queries setting. We don't plan on making these improvements as this point, hence closing for now. Feel free to reopen / comment if you think these should be implemented.

[2022-06-16 21:54] #52337 closed

[2022-06-16 22:01] sethmlarson commented on #49704
They are! We've created the [elasticsearch-specification](https://github.com/elastic/elasticsearch-specification) which includes a TypeScript specification for [mapping types](https://github.com/elastic/elasticsearch-specification/tree/main/specification/_types/mapping).

[2022-06-16 22:01] javanna commented on #57231
No activity in about a year, closing for now. Feel free to reopen/comment if this comes up again.

[2022-06-16 22:01] #57231 closed

[2022-06-17 00:32] VamPikmin opened #87771 "single node replicas set to zero"
Apologies for posting here but I'm unable to find any answers regarding this

With every new upgrade of elasticsearch, currently 8.2.3 any new indices that get created seem to show up with replicas set to 1 even though I'm running a single node cluster, is there a setting that I'm missing somewhere that would enforce this globally, there used to be before the introduction of composable templates

[2022-06-17 02:20] yanchaoguo opened #87772 "script sort with "collapse" failed to get_ score variable"
### Elasticsearch Version

8.2.0

### Installed Plugins

_No response_

### Java Version

openjdk version "18" 2022-03-22

### OS Version

Linux product-es-v2-001.eqxiu.com 3.10.0-1160.62.1.el7.x86_64 #1 SMP Tue Apr 5 16:57:59 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### Problem Description

![错误截图](https://media.githubusercontent.com/avatars/24366668?orig=1&token=AC2HUWS7BS3I2IFEDXIL6KLCVP5OM)
I

[2022-06-17 02:29] sdavids13 commented on #38523
FYI here is what AWS OpenSearch does for inspiration: https://docs.aws.amazon.com/opensearch-service/latest/developerguide/custom-packages.html#custom-packages-updating

[2022-06-17 03:20] pickypg commented on #52735
Shouldn’t it at least be a bad request to set it as `0`?

[2022-06-17 05:28] geekpete commented on #87585
Perhaps with non-time based indices the ability to delete a field and have it not searchable (though still stored) could be more useful especially if reindex is particularly painful or inconvenient.

If we think this isn't really worth the probably considerable effort to build it due to less scape and lack of "force multiplier" value where other use cases and products/solutions can utilise this fe

[2022-06-17 05:30] liu-xiao-guo opened #87848 "The explanation of the code does not match the results"
At the link  https://www.elastic.co/guide/en/elasticsearch/reference/8.2/runtime-examples.html, there is a such a piece of code:

`PUT my-index-000001/_mappings
{
  "runtime": {
    "http.client_ip": {
      "type": "ip",
      "script": """
        String clientip=grok('%{COMMONAPACHELOG}').extract(doc["message"].value)?.clientip;
        if (clientip != null) emit(clientip);
      """
    }
  }

[2022-06-17 06:29] Henr1k80 commented on #38523
Last time I checked, any updates to the plugins required a restart of the deployment to sync the plugin files to the nodes.
Not a viable solution

[2022-06-17 07:00] ruflin commented on #59448
@joshdover I think the issue still partially exists as we write index patterns in view but not convinced this one here is the "right" solution.

[2022-06-17 07:19] henningandersen opened #87776 "Pre-validate removal of nodes"
### Description

When a cluster has RED health, a shard is not assigned to a node containing an in-sync copy of the data. If a node is to be removed from the cluster, there is a risk that the last remaining copy of such a shard is on that node. For that reason, orchestration systems typically do not proceed with changes involving node removals to the cluster while it is in RED state.

We propose t

[2022-06-17 07:19] elasticmachine commented on #87776
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-17 08:14] arteam opened #87777 "Make desired node operator only"
The new Desired Nodes API was introduced it #82975. We need to make it [operator-only](https://www.elastic.co/guide/en/elasticsearch/reference/8.3/operator-only-functionality.html#operator-only-functionality).

[2022-06-17 08:27] slobodanadamovic commented on #86958
Not sure why this issue has been reopened, when it [did not fail in the past 14 days](https://gradle-enterprise.elastic.co/scans/tests?search.relativeStartTime=P14D&search.timeZoneId=Europe/Zurich&tests.container=org.elasticsearch.xpack.security.authc.ldap.ActiveDirectoryGroupsResolverTests).

[2022-06-17 08:39] DaveCTurner commented on #87448
Oh interesting. Sorry for the misdiagnosis. These ports make no sense, they should all be within a specific 30 ports somewhere between 13301 and 36660, but in fact they're all over the place. Here's the culprit:

https://github.com/elastic/elasticsearch/blob/b60ccc4c9ac470235ead991c07631e8905824fb9/test/framework/src/main/java/org/elasticsearch/test/InternalTestCluster.java#L384-L385

🤦

That mean

[2022-06-17 08:46] arteam opened #87781 "Add the ability to run the Desired Nodes API in dry mode"

[2022-06-17 08:58] javanna commented on #87585
What I'm torn on is that hiding a field is considered to not have it returned by field_caps, which accepts a fields parameter to request specific fields. If trimming down field_caps output is all there is to it, I would much rather work on consumers filtering which fields request. I will mark this for discussion just to double check how the team feels about this. Thanks for your input!

[2022-06-17 09:02] lucabelluccini commented on #87753
I agree with the edge case with dedicated ingest. I thought to implement this only in case there are no ingest roles, but I agree for a distributed system is not the best.
Your suggestion to allow customizing the allocation tier preference is probably the best tradeoff.
Thank you for the quick triaging 🙇

[2022-06-17 09:16] javanna commented on #52735
Ideally, but this could break existing users, and the current behaviour has been documented for years. I can imagine that existing users are building queries dynamically and may end up with queries that are perfectly valid, and some that may end up with only should clauses and minimum should match set to `0` which would then cause an error. I am wondering if it's worth potentially breaking existin

[2022-06-17 09:18] javanna commented on #49704
looks good @sethmlarson , thanks for linking that. How is that spec kept up-to-date?

[2022-06-17 09:19] ruflin opened #87783 "Final pipeline for data streams"
Currently all data streams managed by Fleet have a final pipeline to help with host impersonation (see https://github.com/elastic/kibana/issues/97181 and https://github.com/elastic/kibana/pull/100973). The pipeline itself can be found [here](https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/server/constants/fleet_es_assets.ts#L86). Already during designing this feature some discussi

[2022-06-17 09:20] EmilBode commented on #60329
I just wanted to point out that 32766 may still be dangerous. Lucene has a maximum of 32766 **bytes**, not characters. At least the `ignore_above` parameter accepts a length in characters, and I've found that in some cases I had to set it to 8191, to prevent crashes when ingesting non-Latin (and long) texts.

Best case would be to specify a truncate_above value in bytes as well, but for now I'd be

[2022-06-17 09:21] ywelsch commented on #10346
I can confirm that the implementation of this feature (BlendedTermQuery) does indeed not take distributed stats into account.

Note that the cross_fields type blends field statistics in a way that does not always produce well-formed scores (for example scores can become negative). As an alternative, you can consider the [combined_fields](https://www.elastic.co/guide/en/elasticsearch/reference/curr

[2022-06-17 09:28] javanna commented on #63482
That makes sense, I see this implemented as part of # 21073 , hence I would lean towards closing this issue. Let me know if you think otherwise.

[2022-06-17 09:28] #63482 closed

[2022-06-17 09:34] bpintea commented on #87591
Another Ubuntu 22.04 failure: https://gradle-enterprise.elastic.co/s/wdswowev3o53g

[2022-06-17 09:47] bpintea opened #87784 "[CI] Leftover health-node task in docs test suite causes suite timeout"
**Build scan:**
https://gradle-enterprise.elastic.co/s/7t6tvecxnp4ka/tests/:docs:yamlRestTest/org.elasticsearch.smoketest.DocsClientYamlTestSuiteIT/test%20%7Byaml=reference%2Ftransform%2Fapis%2Fget-transform-stats%2Fline_275%7D

**Reproduction line:**
`./gradlew ':docs:yamlRestTest' --tests "org.elasticsearch.smoketest.DocsClientYamlTestSuiteIT.test {yaml=reference/transform/apis/get-transform-sta

[2022-06-17 09:47] elasticmachine commented on #87784
Pinging @elastic/ml-core (Team:ML)

[2022-06-17 10:10] joshdover commented on #87783
There is a way to do this via `kibana.yml` but it's less than an ideal experience and I don't think it's allowlisted on ESS: `xpack.fleet.agentIdVerificationEnabled: false`.

This will exclude the final pipeline from any packages that are installed (I believe it will trigger a reinstall of all packages when it's changed). It's also not granular, since it applies to all integration data streams.

[2022-06-17 10:36] bpintea commented on #87738
Happened again, https://gradle-enterprise.elastic.co/s/2uqqs6ltmzwlu
It seems to only occur with Java 19, does not repro locally with Java 18.

[2022-06-17 10:39] #87112 closed

[2022-06-17 10:49] bpintea opened #87788 "[CI] MetadataIndexTemplateServiceTests testFindV2TemplatesForDateMathIndex failing"
`failed to process cluster event (remove-index-template-v2 [*]) within 30s` -- not positive if actual test failure or environment-induced (slow machine?).

**Build scan:**
https://gradle-enterprise.elastic.co/s/zel3uos2s5uo6/tests/:server:test/org.elasticsearch.cluster.metadata.MetadataIndexTemplateServiceTests/testFindV2TemplatesForDateMathIndex

**Reproduction line:**
`./gradlew ':server:test' -

[2022-06-17 10:49] elasticmachine commented on #87788
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-17 10:52] elasticmachine commented on #87772
Pinging @elastic/es-search (Team:Search)

[2022-06-17 11:54] elasticmachine commented on #87784
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-17 11:55] droberts195 commented on #87784
This isn't a transform test failure.

65 tests in the suite have taken over 30 seconds to run because a health API task is never cleaned up between tests and the test framework waits up to 30 seconds for tasks to stop:

[code]

Then the test suite times out as a result.

[2022-06-17 11:57] droberts195 commented on #87784
I guess either the health tasks need to be cleaned up between docs tests, or else the wait for pending tasks to complete needs to ignore health tasks if they're supposed to be running throughout the docs tests.

[2022-06-17 12:00] astefan commented on #87738
The latest Java 19 ea (early access) is `openjdk-19-ea+26` released on June 10th. With `openjdk-19-ea+19` this test doesn't fail. Definitely related to the most recent release of Java 19.

[2022-06-17 12:11] ChrisHegarty commented on #87738
@astefan This test passes for me with `openjdk-19-ea+26`. Have you been able to reproduce?

[code]

[2022-06-17 12:15] astefan commented on #87738
@ChrisHegarty hm... I did see it fail for me.
Can you try one more thing please? Go to `SpecBaseIntegrationTestCase`, `test` method and add to this method the `@Seed` annotation with the second seed from the failure? Like this `@Seed("6BBEAF117948B2A")`. And then run the same test with the same seed in the `gradlew` command.

[2022-06-17 12:16] droberts195 commented on #87784
@gmarouli I think this is a side effect of #86131, which was merged yesterday.

If the health-node task is supposed to run forever during REST tests and not be stopped and restarted between each test then you probably want to change the default task filter in https://github.com/elastic/elasticsearch/blob/43b69b6f704da5b0a41f1785635f2c894bd9d2e5/test/framework/src/main/java/org/elasticsearch/test/r

[2022-06-17 12:18] sethmlarson commented on #49704
@javanna The process today is manual to keep specs up-to-date. We use integration tests to verify whether our specifications match requests and responses structure so any changes there will show up as a "failure" to match the structure.

[2022-06-17 12:19] #87513 closed

[2022-06-17 12:57] divyankgarg opened #87798 "Time taken by ELK stack to create indices"
How much time does it take to create indices using ELK services via docker-compose file?
We process total 450 files of total size of 4.6GB to create 450 indices. All these files are basically the log files. It takes around 8 hours to ingest the data from directory to ELK stack indices creation.
The server we are using is 16Gb RAM with 2T hard disk but still it is taking a lot of time to create ind

[2022-06-17 13:23] pugnascotia commented on #58087
@matschaffer we haven't forgotten about this and we're still planning to move to `main`, it's just a non-trivial change to our CI.

[2022-06-17 13:32] astefan commented on #87738
I don't think it's necessary, unless your curiosity and time allows it :-). As a wild guess, it may be related to how Java is parsing the value with "E" as a string/double and decides it's a String and not a number.

[2022-06-17 13:44] #87738 closed

[2022-06-17 13:48] javanna commented on #49704
Ok, thanks for the input @sethmlarson . I am now wondering if the suggested endpoint to expose field types and their options is still necessary. I believe that plugins are not covered by the specification linked above, but I am missing context on where this endpoint would be used and why plugins play a role. I will leave it open waiting for feedback on this cc @cjcenizal @jethr0null @sebelga

[2022-06-17 13:59] mayya-sharipova commented on #46202
Closing this issue as the work on vectors is mostly done in Lucene for ANN search.

[2022-06-17 13:59] #46202 closed

[2022-06-17 14:10] craigtaverner opened #87804 "Cartesian support for aggregations"

[2022-06-17 14:17] jkakavas commented on #85634
I don't think we've ever considered the removal of an OS package from our Docker images as a breaking change ( not one that I could find being referenced at least ) and in my view ( which, arguably, bears little importance here) we shouldn't consider this a breaking change.

Yes there wouldn't be a straightforward way to edit text files (`apt install vim-tiny` is just a step away), but less and ca

[2022-06-17 14:24] mayya-sharipova commented on #42811
Update on this issue:

-  Currently `script_score` query has all functionalities of the `function_score` query except the ability to execute several functions in parallel and combine their scores in different modes through `script_score` parameter
 -  We found `script_score` of `min`, `max`, `avg`, `multiply` to be very esoteric and not much used.  `script_score` of `sum` currently can be easily i

[2022-06-17 14:24] #42811 closed

[2022-06-17 14:27] javanna commented on #71550
The new _terms_enum API has been integrated in Kibana, and the remaining improvements listed in this issue don't see high priority at the moment. Closing for now as we are not planning on working on these anytime soon. Feel free to leave comments if you disagree.

[2022-06-17 14:27] #71550 closed

[2022-06-17 14:45] elasticmachine commented on #61300
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-06-17 14:46] javanna commented on #61300
@elastic/es-core-infra could you check that this still make sense and fits in the recent improvements around accessing fields from Painless scripts? Feel free to close if it's a high hanging fruit, it seemed like a good improvement at the time, but we never got to it.

[2022-06-17 14:59] cjcenizal commented on #49704
To be honest I don't 100% remember the context of this request. I _think_ it had to do with the Mappings Editor in Kibana Stack Management. We currently hardcode all expected mapping types and their allowed options on the client side, and this API would enable us to depend on ES as the source of truth instead.

[2022-06-17 15:03] mayya-sharipova commented on #27588
Closing this issue, as we have an alternative [proposal](https://github.com/elastic/elasticsearch/issues/52482)  for  first query that would allow us to deprecate function score if this proposal is adopted and implemented.

[2022-06-17 15:03] #27588 closed

[2022-06-17 15:04] #71934 closed

[2022-06-17 15:09] javanna commented on #56671
default mapping was deprecated in 7.x and removed in 8.x. I lean towards closing this issue, as it does not seem worthwhile to fix this on 7.x at this point.

[2022-06-17 15:09] #56671 closed

[2022-06-17 15:22] #71281 closed

[2022-06-17 15:25] #71280 closed

[2022-06-17 15:39] javanna commented on #64716
It's been a year and a half, and I think it would be more complex to rewrite these tests now than to keep the current complexity :) jokes aside, I feel like these tests are running fine as they are and we don't necessarily need to go back and change them. Please let me know if you think otherwise!

[2022-06-17 15:39] #64716 closed

[2022-06-17 15:44] bytebilly commented on #85634
That would have been my thinking too, before make it minor 🙂
I think it's fine since vim is generally not used by automated scripts but rather by interactive humans, but maybe a quick confirmation by @qhoxie may help to remove the concern.

Since removing vim would have relevant benefits, I think that once we're sure about the breaking change this is a good tradeoff.

[2022-06-17 17:22] dnhatn commented on #86690
@martijnvg You can intercept `CanMatchNodeRequest (via MockTransportService) and tracks the list of shards that aren't skipped on the coordinating node.

[2022-06-17 17:29] elasticmachine commented on #87761
Pinging @elastic/es-search (Team:Search)

[2022-06-17 19:04] whitfin commented on #72827
Thanks @javanna!

Just one more note on this but if it is decided to keep this unsupported, the docs at https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-scripting-using.html should be updated, specifically:

This in particular is what led me astray in expecting this to work on `runtime_mappings`.

[2022-06-17 21:08] jayaddison commented on #51967
Hi @mayya-sharipova - closing of the linked issue reminded me of this, and I noticed that there was an implementation in-progress at one point (#52387).  Are there any plans to introduce something like a `compound` query in ES in future?  (it's ok either way, I'm just curious)

[2022-06-17 22:37] matschaffer commented on #58087
On the plus side using the non-default `main` that exists already seems to be working fine, at least for what I've been doing this week.

[2022-06-18 02:09] kvokka commented on #49392
ES8 deprecated curator so elastic does not allow this feature, on the other hand, it [deprecated](https://github.com/elastic/curator/issues/1639) the tool which did this job.

This is a neat bonus which was discovered after the upgrade to ES 8.2

It would be great if you add this feature to ILM or at least bump the curator so it would start to work with the **current** ES version.

[2022-06-18 02:19] archon810 commented on #49392
Another vote from me on this matter. It's puzzling to have such a basic but important feature missing, and the very tool many have been using for the job completely left behind. Please implement in ILM or update the tool.

[2022-06-18 02:43] kvokka opened #87816 "ILM: Allow delete by space"
### Description

The issue itself is in place here for years, and all the details are in #49392

I have no idea why it was missed or forgotten and asking for an excuse for such an inappropriate reminder, but unfortunately, there are no other tools to do so (at least which I know)

Just hope that this one will not be buried in the backlog

[2022-06-18 03:05] romain-chanu commented on #87594
For the record, Elasticsearch logs (at least in version 7.x , 8.x) do return the list of (composable or legacy) index templates being applied at index creation:

[code]

It would be great to return the same list via some API (as explained in my earlier comment).

[2022-06-18 08:07] costin commented on #53291
Note this has security implications see https://github.com/elastic/elasticsearch/issues/75810 (and its related issues).
Essentially as it stands, there's information loss both in terms of mapping and security access.
To clarify the issue is about obtaining metadata about how the resolution happens in a matter that is CCS compatible.

[2022-06-18 12:25] eliezra236 opened #87818 "App Search Documents page doesn't render array correctly, only shows first item"
### Elasticsearch Version

8.2

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

irrelevant

### Problem Description

On App Search control panel, under Document, where I can see all my indexed documents, arrays are not rendered correctly.

This is how it shows on the page itself.
https://i.imgur.com/LygbVpn.png

Here is the full document, when spectated (clicking

[2022-06-18 14:42] jdixon-86 opened #87819 "Implement component template name mapping like you do on index templates"
### Description

When dealing with multiple namespaces it can become cumbersome to make sure you get all of the index templates cloned and then apply your ILM policy to them. This is why I am suggesting to implement some sort of name matching for component templates that will only apply if they match the index pattern even though they are on the index template.

Elastic almost hinted at this sort

[2022-06-18 19:36] mayya-sharipova commented on #51967
@jayaddison Thank you for your interest. We did not pursue this work till the end, as we had some other priorities to work on. We will try to re-discuss this topic and get back to it.

[2022-06-19 21:34] dnhatn commented on #87761
@ryanmorrisonlytics Thank you for reporting the issue. I've opened a fix for this in https://github.com/elastic/elasticsearch/pull/87826.

[2022-06-20 03:50] romain-chanu opened #87827 "Security index is created with custom mappings/settings resulting in upgrade issues"
### Elasticsearch Version

7.17.4

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Deployment in ESS

### Problem Description

### 1. Problem

1) This has been observed in Elasticsearch Service (ESS) and can be reproduced with the steps provided below.

2) User upgrades from version 7.17.4 to version 8.2.x and the Kibana upgrade fails with the following error mes

[2022-06-20 03:58] elasticmachine commented on #87827
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-06-20 06:57] heebj commented on #75909
Any news on this @lasagar ?

[2022-06-20 07:14] gmarouli commented on #87784
@droberts195 thank you for the analysis and the pointers. I will fix it.

[2022-06-20 08:16] ruflin commented on #77625
We are currently doing some efforts to better measure performance impacts of ingest pipelines especially around grok. Quite a few of these ingest pipelines could be converted to composite runtime fields eventually. The part I wonder is how with indexed composite runtime fields the performance can be measured? For ingest pipelines, we currently use the stats API.

[2022-06-20 08:58] aarju opened #87832 "[ML] Machine Learning datafeeds fail on remote clusters due to _has_privileges check"
### Elasticsearch Version

8.2.3

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Elastic Cloud

### Problem Description

On our Cross Cluster Search primary cluster we have several Machine Learning jobs and Datafeeds using the data on the remote clusters. This worked fine in 7.X, but it appears that they are all in a closed state in 8.2.3 due to the `_has_privil

[2022-06-20 09:05] hendrikmuhs commented on #40053
re-appeared with debug info: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+multijob+platform-support-unix/os=ubuntu-20.04&&immutable/820/console

https://gradle-enterprise.elastic.co/s/3o7gsvhaj34t4

[2022-06-20 09:13] hendrikmuhs opened #87833 "DateRangeIT fails with ZoneRulesException[Unknown time-zone ID: America/Nuuk]"
### CI Link

https://gradle-enterprise.elastic.co/s/b7ghqan6yijvw

### Repro line

gradlew ':server:integTest' -Dtests.seed=6168B8B64345658D -Dtests.class=org.elasticsearch.search.aggregations.bucket.DateRangeIT -Dtests.method="testSingleValueFieldWithDateMath" -Dtests.security.manager=true -Dtests.locale=bs-Latn-BA -Dtests.timezone=Asia/Seoul -Dcompiler.java=11 -Druntime.java=12

### Does it repr

[2022-06-20 09:13] elasticmachine commented on #87833
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-06-20 09:15] elasticmachine commented on #87832
Pinging @elastic/ml-core (Team:ML)

[2022-06-20 09:42] pebrc opened #87836 "Node shutdown should minimise unavailability by waiting for shard initialisation"
### Elasticsearch Version

8.2.0

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Docker/Kubernetes

### Problem Description

We had a test failure in the ECK operator that was caused, IIUC, by node shutdown not waiting for the only other replica to be initialised before allow a node to go down for restart. Because the replica was not initialised the cluster went

[2022-06-20 09:43] elasticmachine commented on #87836
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-06-20 09:47] hendrikmuhs commented on #86833
comeback:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+main+periodic+java-matrix/ES_RUNTIME_JAVA=openjdk19,GRADLE_TASK=checkPart1,nodes=general-purpose/182/consoleFull

the log does not contain information about the jdk used, so I can't say, whether the jdk version is still too old or the fix does not work.

[2022-06-20 09:48] #87784 closed

[2022-06-20 10:01] aarju commented on #87832
A workaround to this issue is to have a user with `superuser` privileges on the primary CCS cluster open the datafeeds. It appears that if you are running as `superuser` the `_has_privileges` check is bypassed.

[2022-06-20 10:06] hendrikmuhs commented on #85697
https://gradle-enterprise.elastic.co/s/ypguwuyqynrm2

[2022-06-20 10:34] EmilBode opened #87839 "Terms aggregation with custom order gives doc_count_error_upper_bound -1"
### Elasticsearch Version

7.16.2

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Docker 19.03.12 under Windows 10

### Problem Description

I ran a terms aggregation, when I noticed the aggregation returned a doc_count_error_upper_bound of -1. I don't think this should be possible, even though it's not a problem right now.

### Steps to Reproduce

Unfortunately

[2022-06-20 10:38] zez3 commented on #85692
This will simplify a lot the Integration development  not hawing to remember and correlate which type belong to which field.

[2022-06-20 11:12] DaveCTurner commented on #86974
The issue is that the victim might notice it's been removed from the cluster and start to attempt to rejoin before its applier service is blocked, but the join request is delayed in transmission so that it's processed between calling `masterTransportService.clearAllRules()` and `ensureStableCluster(2, masterName)` and therefore succeeds, joining the node back into the cluster.

It's very delicate

[2022-06-20 11:26] jayaddison commented on #51967
Thanks @mayya-sharipova, that makes sense.

At the risk of over-communicating: I've removed my upvote from this issue because I don't know for certain whether compound queries would address my [use case](https://github.com/elastic/elasticsearch/issues/42811#issuecomment-576440524).  I'll rephrase my problem as a feature request (linked to this one for the possibility of relevance) to try to gauge

[2022-06-20 11:58] droberts195 commented on #87832
The fact that it worked in 7.17 but not 8.2 is interesting.  We didn't change anything in the ML code between these two versions.

https://github.com/elastic/elasticsearch/issues/72715#issuecomment-832769999 contains this interesting snippet:

It makes me think this is how it was working for datafeeds in 7.x too.  And now datafeeds is broken in 8.2 transforms probably is too.

@elastic/es-security

[2022-06-20 12:11] DaveCTurner opened #87844 "ResourceWatcherService performs IO on main scheduler thread"
The `ResourceWatcherService` runs all its scheduled actions on `SAME`:

https://github.com/elastic/elasticsearch/blob/0699c9351f1439e246d408fd6538deafde4087b6/server/src/main/java/org/elasticsearch/watcher/ResourceWatcherService.java#L97-L99

Typically these actions are `FileWatcher` instances which check a file for changes and process the file if changes are detected. We shouldn't be doing this o

[2022-06-20 12:11] elasticmachine commented on #87844
Pinging @elastic/es-security (Team:Security)

[2022-06-20 12:21] hendrikmuhs opened #87845 "[CI] Example plugin tests fail to resolve org.elasticsearch:elasticsearch-logging:8.4.0-SNAPSHOT"
### CI Link

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+main+periodic+example-plugins/183/

### Repro line

cd plugins/examples; gradlew assemble

### Does it reproduce?

Yes

### Applicable branches

master

### Failure history

_No response_

### Failure excerpt

[code]

[2022-06-20 12:21] elasticmachine commented on #87845
Pinging @elastic/es-delivery (Team:Delivery)

[2022-06-20 12:31] #75515 closed

[2022-06-20 12:33] P-EB commented on #71205
One thing is for sure, elastic will lose some clients if they decide to keep putting their heads in the sand singing "lalalalala industrial standards lalalalala".

[2022-06-20 13:10] javanna commented on #54566
We have provided a work-around above, and linked the corresponding lucene issues. Please follow progress there, once the issue is fixed at the Lucene level, Elasticsearch will inherit the fix. Since there is nothing to do specifically at the Elasticsearch level, I am closing this issue.

[2022-06-20 13:14] pugnascotia commented on #69845
We haven't been able to reproduce this and no one else has reported the same issue, so I hope you don' mind if I close this for now. Feel free to reopen it if you have more information that might help us diagnose the problem.

[2022-06-20 13:14] #69845 closed

[2022-06-20 13:15] pugnascotia commented on #69207
We changed the Docker base to Ubuntu, so I don't think this issue applies any more.

[2022-06-20 13:15] #69207 closed

[2022-06-20 13:17] elasticmachine commented on #66133
Pinging @elastic/es-docs (Team:Docs)

[2022-06-20 13:23] pugnascotia commented on #49845
I don't think we'll ever do this. Our Vagrant setup is completely unmaintained and it's easy to spin up a CI Debian instance in GCP.

[2022-06-20 13:32] #87777 closed

[2022-06-20 13:37] scunningham commented on #87783
<<User can't disable the security check if they do not want to pay the performance impact>>
How have we measured this performance impact?  If this is causing significant performance issues, then I am concerned about the pipeline strategy in general.

[2022-06-20 14:16] kingherc commented on #85222
Hi @DaveCTurner , in your original description you have given a footnote of a kind of valid/acceptable setting for the seed hosts, where the single-node cluster mentions its own public address. Should we take into consideration this acceptable setting? Or should we always emit the periodic warning when the seed hosts are non-empty, and hint to removing the setting (even in the valid/acceptable set

[2022-06-20 14:39] DaveCTurner commented on #85222
Unfortunately yes I think we must ignore our own address before checking for a nonempty seed hosts. In ESS and ECK and so on I believe one-node clusters will be configured to discover themselves.

[2022-06-20 14:43] kingherc commented on #85222
@DaveCTurner thanks for the explanation! Finally, do we already store internally the cluster's own public address somewhere, so as to compare? Or should we figure it out programmatically?

[2022-06-20 14:44] pugnascotia commented on #38786
@rjernst is this issue addressed now that the CLI is implemented in Java, option handling happens in the CLI, and we set CLI-specific JVM options for a small heap etc?

[2022-06-20 14:48] DaveCTurner commented on #85222
You can get it from the `DiscoveryNode` object corresponding to the local node, which you can typically access via `transportService.getLocalNode()` or `clusterState.getNodes().getLocalNode()` (and probably many other paths too).

[2022-06-20 14:55] elasticmachine commented on #87848
Pinging @elastic/es-docs (Team:Docs)

[2022-06-20 14:56] dakrone commented on #40053
That failure is on 6.8, and it's extremely unlikely that we would backport any kind of fix that far back. For now I am going to close this again, if it re-occurs on 7.x or 8.x then we can look into it again.

[2022-06-20 14:56] #40053 closed

[2022-06-20 15:40] javanna commented on #57033
Given our current roadmap and near-term focus, we are unlikely to get to this request anytime soon. This issue has been open for 2 years with no action taken, and from our triage, it doesn't look like it blocks any critical feature or implementation. We'll go ahead and close it but please re-open or add a comment if you are awaiting its resolution.

[2022-06-20 16:39] rjernst commented on #38786
Yes, this should be addressed by the cli refactoring. Running any command on the cli now starts with a small heap, so it should not cause OOM the way it used to.

[2022-06-20 16:39] #38786 closed

[2022-06-20 17:03] fcofdez commented on #87389
There's a timeout in the logs due to some transient Azure issue:
[code]
Notice that the Azure SDK times out after `60s`, `RestClient#performRequest` retries the request after `60s` if it hasn't heard back from the server, see:
https://github.com/elastic/elasticsearch/blob/4d2929bb281fb984c0176a59f76a886552b95ff7/client/rest/src/main/java/org/elasticsearch/client/RestClient.java#L261-L289

In `ESRe

[2022-06-20 17:10] mark-vieira commented on #87448
I mean, if some of them are using dynamic port allocation by just choosing port `0` wouldn't that be expected? It seems to me we need to fix `InternalTestCluster` to use similar logic here, no?

[2022-06-20 17:14] DaveCTurner commented on #87448
Yes, we need to fix `InternalTestCluster` so that it picks ports from the right 30-port range between `13301` and `36600`, but then we also need the tests that use `transport.port: 0` to avoid this range.

[2022-06-20 17:48] #87761 closed

[2022-06-20 18:30] mark-vieira commented on #87448
I think the ephermal port range is something that can be configured on the host system but we'd have to confirm this.

[2022-06-20 19:11] javanna commented on #53291
Thanks for all the context, I am re-opening for discussion with the team.

I think what you were referring to for the CCS scenario is that the additional call to resolve aliases that can be made in the local cluster can't be sent to the remote cluster as that API does not support cross-cluster calls. So while you are able to work-around the problem in the local cluster, when CCS comes into play th

[2022-06-20 19:41] dakrone commented on #87327
This is because the XPack telemetry is intended to be machine-readable and indexed into a numeric field. The policy output is human-readable.

These APIs are not intended to be counterparts to each other, they have different functions. Can you share some more information about why you want to take the output of a telemetry/usage API and feed it into the create policy API?

[2022-06-20 20:00] justincr-elastic opened #87862 "Permission denied for `/etc/elasticsearch/certs/http_ca.crt` after install on Debian"
### Elasticsearch Version

8.2.2

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Ubuntu 20.04 LTS, and Ubuntu 22.04 LTS (Linux ncc-1701-d 5.15.0-39-generic #42-Ubuntu SMP Thu Jun 9 23:42:32 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux)

### Problem Description

I reproduced a `Security on by default` issue in [Discuss](https://discuss.elastic.co/t/new-install-error-s

[2022-06-20 20:00] elasticmachine commented on #87862
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-06-20 20:00] elasticmachine commented on #87862
Pinging @elastic/es-security (Team:Security)

[2022-06-20 20:03] elasticmachine commented on #87862
Pinging @elastic/es-delivery (Team:Delivery)

[2022-06-20 20:44] justincr-elastic opened #87864 "Docs: Remove `settings` from doc page `ccr-post-resume-follow.html`"
The doc page for CCR `resume_follow` API mentions `settings`.
- https://www.elastic.co/guide/en/elasticsearch/reference/current/ccr-post-resume-follow.html

I tried running the `resume_follow` API with `settings`, but I got `"[3:3] [cluster:admin/xpack/ccr/resume_follow] unknown field [settings]"`.

**Request**
[code]
**Response**
[code]

It appears that `settings` is not a valid parameter. It may

[2022-06-20 21:27] mark-vieira commented on #87734
I guess would just configuring these settings with a port range < 13301 work? ES would then choose a port within that range, yes?

[2022-06-20 21:29] mark-vieira commented on #87845
This should be resolved by https://github.com/elastic/infra/commit/7945030666f58968e9ade0f026980788bed59a75, we just need to wait for a successful snapshot build.

[2022-06-20 21:29] #87845 closed

[2022-06-20 21:34] #84161 closed

[2022-06-20 21:37] mark-vieira commented on #66133
This issue is missing some details such as the Elasticsearch version and packaging type. I assume this is a deb or rpm package since those use `/etc/elasticsearch` for configuration but we [_always_ create a keystore on installation](https://github.com/elastic/elasticsearch/blob/1d4534f848feb396c00cee09fc1d0aef24a529a2/distribution/packages/src/common/scripts/postinst#L127-L130) so I don't think t

[2022-06-20 21:37] #66133 closed

[2022-06-20 21:52] elasticmachine commented on #87864
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-20 22:43] elasticmachine commented on #87864
Pinging @elastic/es-docs (Team:Docs)

[2022-06-21 00:31] #86924 closed

[2022-06-21 02:38] pryadko commented on #86875
@jtibshirani thank you, I will try to help with this.

[2022-06-21 04:23] wangjie-fourth opened #87867 "Docs: local build distributions was output to `build/distribution/local...` not `distributions/archives`"
### Elasticsearch Version

latest master

### Installed Plugins

_No response_

### Java Version

17

### OS Version

windows

### Problem Description

i try build local distributions from latest source code with README.
when i run `./gradlew localDistro`, local build distributions was output to `build/distribution/local` not  `distributions/archives` as `README`.

### Steps to Reproduce

follow R

[2022-06-21 04:25] wangjie-fourth commented on #87867
![es_build_result](https://user-images.githubusercontent.com/46479343/174715839-68511742-9708-499b-8950-7e9597fd697d.png)

[2022-06-21 07:36] n1v0lg opened #87870 "Support updates of API key attributes (single operation route)"
Today, [API key](https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-create-api-key.html) attributes, including metadata and roles, are immutable, i.e., cannot be changed after an API key has been created.

There are use cases for API keys in which both the metadata and, importantly, the roles associated with an API key change. The current approach to solve this is rotatio

[2022-06-21 07:38] DaveCTurner commented on #87734
That will stop us binding to a port that another test thinks it owns indeed. I think we also use these ephemeral ports for outbound connections but AIUI this won't cause the same kinds of problem.

[2022-06-21 07:43] arteam commented on #48381
Started happening again (failed 5 times over the last week)
https://gradle-enterprise.elastic.co/s/4nqy4ic7pc2cc/tests/:x-pack:qa:full-cluster-restart:v7.3.1%23oldClusterTest/org.elasticsearch.xpack.restart.FullClusterRestartIT/testWatcher?top-execution=1

[code]

[2022-06-21 08:07] fcofdez commented on #87657
Maybe we should rely on the desired nodes for this?

[2022-06-21 09:14] #87715 closed

[2022-06-21 09:22] #85634 closed

[2022-06-21 09:25] pugnascotia commented on #85634
I've merged a PR to remove `vim-tiny`, which will go out in `v8.4.0` and `v7.17.5`.

[2022-06-21 09:25] #83311 closed

[2022-06-21 09:54] #86813 closed

[2022-06-21 10:20] lq920320 opened #87878 "bucket_sort's sort cannot read more three level path field. Is is not support ? Validation Failed: 1: No aggregation found for path [foo.bar.abc]"
### Elasticsearch Version

7.12.0

### Installed Plugins

_No response_

### Java Version

1.8

### OS Version

Linux x86_64 GNU/Linux

### Problem Description

action_request_validation_exception
Validation Failed: 1: No aggregation found for path [marketsAgg.filterMarket.marketSorted];

the search request json is :
[code]

the response:
[code]

BUT, when I request without bucket_sort's sort:

[c

[2022-06-21 10:20] lq920320 opened #87879 "bucket_sort cannot read more three level path. Is is not support ? Validation Failed: 1: No aggregation found for path [foo.bar.abc]"
### Elasticsearch Version

7.12.0

### Installed Plugins

_No response_

### Java Version

1.8

### OS Version

Linux x86_64 GNU/Linux

### Problem Description

action_request_validation_exception
Validation Failed: 1: No aggregation found for path [marketsAgg.filterMarket.marketSorted];

the search request json is :
[code]

the response:
[code]

BUT, when I request without bucket_sort's sort:

[c

[2022-06-21 10:20] lq920320 opened #87880 "bucket_sort's sort cannot read more three level path field. Is is not support ? Validation Failed: 1: No aggregation found for path [foo.bar.abc]"
### Elasticsearch Version

7.12.0

### Installed Plugins

_No response_

### Java Version

1.8

### OS Version

Linux x86_64 GNU/Linux

### Problem Description

action_request_validation_exception
Validation Failed: 1: No aggregation found for path [marketsAgg.filterMarket.marketSorted];

the search request json is :
[code]

the response:
[code]

BUT, when I request without bucket_sort's sort:

[c

[2022-06-21 10:24] lq920320 commented on #87879
repeat issue #87880

[2022-06-21 10:31] pgomulka commented on #83251
I spoke with @qhoxie and we agreed that the `>bug` label has to be discussed before we continue with this change as it might be breaking.
I was hoping to change both `event.dataset` and `event.datastream` to `elasticsearch.deprecation`.

We index deprecation to datastream by default and the datastream name is `.logs-deprecation-elasticsearch.default` which follow the pattern:
[code]

@ruflin you d

[2022-06-21 10:48] icemakegirl commented on #42894
@wchaparro The BaseAgregationTestCase file contains all the Agg framework tests and do I have to pass them to another file or are there other types of tests in it?

[2022-06-21 11:48] philbb commented on #87862
Thanks for looking into this. This issue has affected everyone I know who has tried to install ES recently.

[2022-06-21 12:25] #45010 closed

[2022-06-21 12:44] ruflin commented on #83251
1. I assume you would also change the target data stream which becomes `logs-elasticsearch.deprecation-default`? So you MUST change the data_stream.dataset field.
2. You can look at this in 2 ways. For the Beats data collection, I don't think it is a problem as the outcome is identical. Lets assume you use another tool for data collection, now you would suddenly have a different value which is not

[2022-06-21 12:59] kvokka commented on #49392
@dakrone As you rightfully noticed in the #87816 it is not appropriate to create the issue to raise the priority. But at least I know who to ask now.

In this case, may i kindly ask you to give some thoughts about this issue, or forward this issue to the right person, or share the trick which is valid for ES8 (cos curator is deprecated), or at least say that all the commenters here that we should

[2022-06-21 13:58] #87448 closed

[2022-06-21 13:59] DaveCTurner opened #87888 "[CI] FlushIT testFlushOnInactive failing"
Actually failed on a PR branch but the PR didn't touch anything in this area I think.

**Build scan:**
https://gradle-enterprise.elastic.co/s/oof57yigaovuk/tests/:server:internalClusterTest/org.elasticsearch.indices.flush.FlushIT/testFlushOnInactive

**Reproduction line:**
`./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.indices.flush.FlushIT.testFlushOnInactive" -Dtests.seed=38

[2022-06-21 13:59] elasticmachine commented on #87888
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-21 15:18] #84888 closed

[2022-06-21 16:26] itaydvir-wix opened #87894 "Tokens offset issue"
### Elasticsearch Version

8.2.3

### Installed Plugins

none

### Java Version

_bundled_

### OS Version

Darwin 20.6.0 Darwin Kernel Version 20.6.0

### Problem Description

The bug happens when indexing a text with a synonym and a word containing delimiter char in it (email for example). such text will throw the following error:

it happens with both `word_delimiter` and `word_delimiter_graph`

[2022-06-21 18:51] jkakavas commented on #87862
No, I think the `http_ca.crt` can ( and should be ) world readable. It was an oversight that we didn't do it in the first place, not a conscious design decision.

cc @albertzaharovits

[2022-06-21 20:41] dakrone commented on #87246
@jpountz thanks for adding the analysis; it sounds like this would be be a good change to make then, since we are getting documents to be smaller and smaller as we go.

[2022-06-21 20:57] nickpeihl opened #87903 "Geoline aggregation - add simplification option"
### Description

Asset tracking use cases such as GPS beacons on vehicles can create a lot of geo_points. When constructing a geo_line from a high cardinality set of points, it may be helpful to reduce the result set to only the points necessary to represent the line geometry. Two line simplication algorithms to accomplish this are [Ramer–Douglas–Peucker](https://en.wikipedia.org/wiki/Ramer%E2%80%

[2022-06-21 21:45] nreese commented on #87903
Similar to https://github.com/elastic/elasticsearch/issues/87710

[2022-06-22 00:12] lcawl opened #87905 "[DOCS] Add authorization info to transform and ML job APIs"
Relates to https://github.com/elastic/elasticsearch/pull/87884, https://github.com/elastic/elasticsearch/pull/87570, https://github.com/elastic/kibana/issues/134842, https://github.com/elastic/elasticsearch/pull/87950

The following API documentation is possibly affected:

- [x] [Create anomaly detection job](https://www.elastic.co/guide/en/elasticsearch/reference/master/ml-put-job.html) https://g

[2022-06-22 00:12] elasticmachine commented on #87905
Pinging @elastic/es-docs (Team:Docs)

[2022-06-22 00:12] elasticmachine commented on #87905
Pinging @elastic/ml-core (Team:ML)

[2022-06-22 02:37] Vasniktel commented on #43805
+1 for wildcard and numeric types. Also, is there a timeline for this?

[2022-06-22 04:54] halfcipher opened #87907 "Data too large ElasticSearch issue along with Readiness probe failed"
### Elasticsearch Version

latest

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Linux

### Problem Description

We have set up an EFK stack for our project and from yesterday kibana seems down. When we initially troubleshooted we have found the following errors:

```Readiness probe failed: Error: Got HTTP code 503 but expected a 200``` & ```Readiness probe fai

[2022-06-22 08:14] elasticmachine commented on #87880
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-06-22 08:15] elasticmachine commented on #87839
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-06-22 08:16] elasticmachine commented on #87804
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-06-22 08:24] iverase commented on #87907
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2022-06-22 08:24] #87907 closed

[2022-06-22 08:34] DaveCTurner opened #87911 "Stop calling ElasticsearchMappings#addDocMappingIfMissing from transport thread"
In #87679 we forbid calls to `Metadata#findMappings` on the latency-sensitive transport threads because it can be rather expensive. This method is called from `ElasticsearchMappings#addDocMappingIfMissing` which has 17 uses, all in ML-related code, and many of which seem to have no protection against happening on a transport thread. We work around this in that PR by adding some code that makes a d

[2022-06-22 08:56] iverase commented on #87651
I think this is a known issue, see https://github.com/elastic/elasticsearch/issues/67574.

Could you run your performance test [disabling stored fields](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/search-fields.html#disable-stored-fields)? That would tell us if you are hitting this issue.

[2022-06-22 09:24] iverase commented on #87788
similar failure in https://gradle-enterprise.elastic.co/s/r2llaatzf5zdi and https://gradle-enterprise.elastic.co/s/47gdawgxddk4s.
It seems the whole suite timed out, it does not reproduce locally.

[2022-06-22 09:38] iverase opened #87913 "[CI] TestingConventionsPrecommitPluginFuncTest skips convention check if no tests available failing"
It seems all suite is failing in windows.

**Build scan:**
https://gradle-enterprise.elastic.co/s/odbr7rn44bbja/tests/:integTest/org.elasticsearch.gradle.internal.precommit.TestingConventionsPrecommitPluginFuncTest/skips%20convention%20check%20if%20no%20tests%20available

**Reproduction line:**
`null`

**Applicable branches:**
master

**Reproduces locally?:**
Didn't try

**Failure history:**
https

[2022-06-22 09:39] lasiltan commented on #16551
I have a schema with a lot of object arrays. Being able to index them as nested objects and then have support for nested queries  in the query_string query would really make my day. Or support them in KQL and allow ES queries with KQL.

[2022-06-22 09:42] iverase opened #87914 "[CI] StableMasterDisruptionIT testRepeatedNullMasterRecognizedAsGreenIfMasterDoesNotKnowItIsUnstable failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/dp4oxnqg2vukm/tests/:server:internalClusterTest/org.elasticsearch.discovery.StableMasterDisruptionIT/testRepeatedNullMasterRecognizedAsGreenIfMasterDoesNotKnowItIsUnstable

**Reproduction line:**
`./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.discovery.StableMasterDisruptionIT.testRepeatedNullMasterRecognizedAsGreenIfMaste

[2022-06-22 09:42] elasticmachine commented on #87914
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-22 10:18] elasticmachine commented on #87867
Pinging @elastic/es-docs (Team:Docs)

[2022-06-22 10:18] elasticmachine commented on #87819
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-22 10:44] #87798 closed

[2022-06-22 10:44] kingherc commented on #85222
Hi @DaveCTurner ! In trying this case of a single-node cluster trying to join another one, I do see a warning already emitted:

org.elasticsearch.transport.RemoteTransportException: [other0][127.0.0.1:13302][internal:cluster/coordination/join/validate]
Caused by: org.elasticsearch.cluster.coordination.CoordinationStateRejectedException: This node previously joined a cluster with UUID [saM90swPSi-B

[2022-06-22 11:53] mhugo commented on #87651
@iverase Thanks for your answer.
I confirm disabling stored fields cancels the performance degradation observed here.

However ... disabling stored fields means we won't be able to retrieve values from `_source` anymore ?

[2022-06-22 11:59] BladeWise commented on #81451
I followed above suggestions and could create the missing template.

However, I am now facing an issue with .fleet-actions-results datastream and its index: it cannot be deleted, is never updated and the lifecycle policy fails when it tries to run (authorization error, like what happens without the header x-elastic-product-origin:fleet), see the image below:
![image](https://user-images.githubuser

[2022-06-22 12:12] iverase commented on #87651
I would hope that this issue should be less important in 7.17.

Lucene developers changed again the way stored fields are compressed to recover most of the lost [performance](https://issues.apache.org/jira/browse/LUCENE-9917) lost in version 8.1.0  which it is used from Elasticsearch 7.16 onwards. Do you still see such a degradation in 7.17?

[2022-06-22 12:23] iverase commented on #87818
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2022-06-22 12:23] #87818 closed

[2022-06-22 12:39] synhershko commented on #87894
@romseygeek I agree about not using synonym filter except the docs are pointing to the wrong direction :)

![image](https://user-images.githubusercontent.com/212252/175031033-c189cc24-01d1-4f93-8da0-020f7d671d7a.png)

[2022-06-22 13:00] kingherc commented on #85222
@DaveCTurner  In figuring things out, the warning I posted earlier was when I was trying to join another cluster with cluster.initial_master_nodes rather than discovery.seed_hosts. So no need to reply. Will continue investigating and learning in the meantime.

[2022-06-22 13:15] pgomulka commented on #83251
I also confirmed with Kibana team and they do not use `dataset = deprecation.{product} ` pattern
In fact they use "event.dataset : kibana.log` which is similar to what this issue is trying to do. There is no separate deprecation log in kibana.

[2022-06-22 13:37] DaveCTurner commented on #24306
You'll need to sort this out with Dell. See [these docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/snapshots-register-repository.html#self-managed-repo-types), particularly:

[2022-06-22 14:12] razorworks commented on #24306
I know. :/
Thanks for your assistance.

[2022-06-22 14:55] itaydvir-wix commented on #87894
there is no real reason that I can think of right now.
but since I'm in the process of upgrading ES, I wanted to make minimal changes to the system. but it looks like I have to choose some kind of a change.

[2022-06-22 14:55] mhugo commented on #87651
We initially detect the performance regression on 7.17.
After some quick tests, it seems indeed the regression is less important in 7.17 than in 7.10 but it is still not neglectable. I have to run some more tests to have more precise numbers though.

[2022-06-22 15:13] romseygeek commented on #87894
I'm intrigued as to how far your upgrading from - I think these checks were added in lucene 6, which would have been used in ES 5!

[2022-06-22 16:52] rjernst opened #87926 "Protect from stack overflow in document parsing"
Deeply nested json documents can cause stack overflow when parsing the document for indexing, which causes the node to crash. We should avoid this.

One way could be to catch StackOverflowError at the top level of document parsing. Since document parsing does not modify any eg mappings/etc while parsing, it should be safe to recover from this error. We have other code that does similar (eg in Pain

[2022-06-22 16:52] elasticmachine commented on #87926
Pinging @elastic/es-search (Team:Search)

[2022-06-22 17:33] jdconrad opened #87928 "Update allow list generation for Painless"
Our tools no longer work for generating allow list documentation and files required for monaco auto-completion. We should revisit these tools with the following in mind:

1. Should we update the navigation in the documentation for finding available classes and methods per context? Right now it's several layers deep to find any useful information.
2. Should we add these tools to execute as part of

[2022-06-22 17:41] #87768 closed

[2022-06-22 18:27] DaveCTurner opened #87931 "Make GetTrainedModelsStatsAction cancellable"
I encountered a Cloud cluster with an overworked master due (partly) to processing multiple calls to `GET /_ml/anomaly_detectors/_all/_stats` originating from an external Metricbeat monitoring process. Metricbeat imposes a 10s timeout after which it closes the HTTP connection and tries again. However, `GetTrainedModelsStatsAction` does not notice if the client connection closes (i.e. the REST hand

[2022-06-22 18:27] elasticmachine commented on #87931
Pinging @elastic/ml-core (Team:ML)

[2022-06-22 22:02] haynesgt opened #87936 "Support "wait_for" in _refresh endpoint"
### Description

Right now (v8.2), it is possible to wait for a refresh if you update documents in an index, but not otherwise.

I want to wait for a refresh without updating any document (this is to synchronize it with a thing that updates my application's cache with fresh search results with optimal performance).

Is this something that could or would be implemented?

[2022-06-23 03:00] #68588 closed

[2022-06-23 07:04] haji08-ksd commented on #85731
I agree this issue.

I setted es8.2.3, but still get cdfhimrstw

I tried
[code]

but still can get issue

[2022-06-23 07:55] droberts195 commented on #87931
Based on the Slack thread that went with this I think it's actually `GetJobsStatsAction` that was the problem, not `GetTrainedModelsStatsAction`.  But we should probably add cancellation capability to _all_ our stats actions that do more than one step internally to get the stats.

[2022-06-23 07:56] divyankm commented on #2863
+1

[code]

[2022-06-23 08:53] original-brownbear opened #87948 "[CI] MetadataIndexTemplateServiceTests classMethod failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/xu6ijk42rlpz6/tests/:server:test/org.elasticsearch.cluster.metadata.MetadataIndexTemplateServiceTests/classMethod

**Reproduction line:**
`null`

**Applicable branches:**
master

**Reproduces locally?:**
No

**Failure history:**
https://gradle-enterprise.elastic.co/scans/tests?tests.container=org.elasticsearch.cluster.metadata.MetadataIndexTem

[2022-06-23 08:53] elasticmachine commented on #87948
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-23 08:57] andreidan commented on #83759
There was another occurrence of this https://gradle-enterprise.elastic.co/s/ek3czwqfjdds6/tests/:server:test/org.elasticsearch.gateway.GatewayMetaStatePersistedStateTests/testDataOnlyNodePersistence

[2022-06-23 09:12] DaveCTurner opened #87952 "[CI] GatewayMetaStatePersistedStateTests testDataOnlyNodePersistence failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/ek3czwqfjdds6/tests/:server:test/org.elasticsearch.gateway.GatewayMetaStatePersistedStateTests/testDataOnlyNodePersistence

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.gateway.GatewayMetaStatePersistedStateTests.testDataOnlyNodePersistence" -Dtests.seed=D933DB43D05D85D5 -Dtests.locale=ro-RO -Dtests.timezone=Asia

[2022-06-23 09:12] elasticmachine commented on #87952
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-23 09:23] droberts195 commented on #87931
OK, I saw `/_ml/anomaly_detectors/_all/_stats` and that corresponds to `GetJobsStatsAction`.

But it looks like it really is `GetTrainedModelsStatsAction`.

@benwtrent as well as making the action cancellable it looks like we need a more efficient way to list which ingest pipelines a particular trained model is used in. It looks like it's instantiating _all_ the processors at the moment, then look

[2022-06-23 09:29] javanna commented on #87926
Thanks @rjernst for opening this. Did you notice this while looking at the code or did you encounter it when helping users, or ?Trying to assess how common it is for users to hit a stack overflow error when ingesting documents.

[2022-06-23 09:48] rudolf opened #87957 "Docs unclear that restoring a feature state also restores all other indices"
Although higher up in the docs we state:

regular data streams in a snapshot.

In [restore-feature-state](https://www.elastic.co/guide/en/elasticsearch/reference/current/snapshots-restore-snapshot.html#restore-feature-state) the documentation only mentions the feature state itself. So I assumed that the example would only restore the feature state, not all other indices too. I think we should upda

[2022-06-23 09:48] elasticmachine commented on #87957
Pinging @elastic/es-docs (Team:Docs)

[2022-06-23 09:48] eliezra236 commented on #87818
@iverase it's not a user question, there's literally a bug with the way it renders.
See the screenshots I attached, the view literally don't support array field, and it make it look like the field was not indexed correctly.

[2022-06-23 09:49] andreidan opened #87959 "[CI] MLModelDeploymentsUpgradeIT testTrainedModelDeployment failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/rrbldaxcklpvk/tests/:x-pack:qa:rolling-upgrade:v8.2.4%23twoThirdsUpgradedTest/org.elasticsearch.upgrades.MLModelDeploymentsUpgradeIT/testTrainedModelDeployment

**Reproduction line:**
`./gradlew ':x-pack:qa:rolling-upgrade:v8.2.4#twoThirdsUpgradedTest' -Dtests.class="org.elasticsearch.upgrades.MLModelDeploymentsUpgradeIT" -Dtests.method="testT

[2022-06-23 09:49] elasticmachine commented on #87959
Pinging @elastic/ml-core (Team:ML)

[2022-06-23 10:14] sebelga commented on #49704
Correct @cjcenizal. We were looking for

_a solution on how we are going to keep in sync with the API for the default values and the allowed parameters for each type_.

As everything is hard coded in the mappings editor, if a default value changes for a parameter or if a parameter is deprecated or added we are not automatically notified and the UI is out of sync with the API.

I don't think we lev

[2022-06-23 10:28] iverase commented on #87818
Hi @eliezra236,

Even if this is a bug it seems not related to Elasticsearch but with AppSearch. I kindly recommend you to post your issue in here https://discuss.elastic.co/c/enterprise-search where you should get proper support from the community.

[2022-06-23 11:40] benwtrent commented on #87931
Arg, when I first wrote this code, I was extracting from opaque maps. Then I figured "Ya know, we could build the ingest pipelines and just extract from there and not iterate maps...". Welp, Time to go back and find that old code... 🤦

[2022-06-23 12:03] gmarouli commented on #87948
This test failure is related to https://github.com/elastic/elasticsearch/pull/86131. Similar case like https://github.com/elastic/elasticsearch/pull/86131#issuecomment-1153853047. I am on it.

[2022-06-23 12:55] javanna opened #87969 "Reimplement field aliases as runtime fields"
Support for field aliases was added before runtime fields existed. Field aliases are mapped under properties, can only point to a field mapped under properties, and cannot be modified/removed. Also, field aliases don't play well with multi_fields.

Via runtime field, it is already possible to manually create a field alias: create a runtime field with a small script that returns the value of the fi

[2022-06-23 12:55] elasticmachine commented on #87969
Pinging @elastic/es-search (Team:Search)

[2022-06-23 12:56] javanna commented on #36418
I think this one is no longer a high hanging fruit and would be automatically fixed by resolving #87969 .

[2022-06-23 13:07] rjernst commented on #87926
I don’t imagine it is very common, but it is possible, therefore I opened this issue. Note that I don’t think the json has to be well formed, so it could occur as an error from the client side say with a bad loop that keeps opening a new child object when serializing a document.

[2022-06-23 13:39] martijnvg commented on #87948
Btw #87788 looks related. I will close that one in favour of this one.

[2022-06-23 13:40] martijnvg commented on #87788
Closed in favour of #87948

[2022-06-23 13:40] #87788 closed

[2022-06-23 13:46] andreidan opened #87971 "[CI] MixedClusterClientYamlTestSuiteIT test {p0=search.vectors/50_dense_vector_field_usage/Field usage} failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/zf3s3xs23esbm/tests/:qa:mixed-cluster:v8.0.1%23mixedClusterTest/org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT/test%20%7Bp0=search.vectors%2F50_dense_vector_field_usage%2FField%20usage%7D

**Reproduction line:**
`./gradlew ':qa:mixed-cluster:v8.0.1#mixedClusterTest' -Dtests.class="org.elasticsearch.backwards.MixedClusterClientYa

[2022-06-23 13:46] elasticmachine commented on #87971
Pinging @elastic/ml-core (Team:ML)

[2022-06-23 15:16] elasticmachine commented on #87971
Pinging @elastic/es-search (Team:Search)

[2022-06-23 16:04] jtibshirani commented on #36418
@javanna sorry if I'm missing something, how will making field aliases a runtime field (https://github.com/elastic/elasticsearch/issues/87969) automatically let aliases be deleted?

[2022-06-23 17:29] #87971 closed

[2022-06-23 17:32] jtibshirani commented on #87936
Hello @haynesgt, the `refresh` endpoint should already be synchronous. The docs (https://www.elastic.co/guide/en/elasticsearch/reference/8.2/indices-refresh.html) claim "Refresh requests are synchronous and do not return a response until the refresh operation completes". Are you seeing a different behavior?

[2022-06-23 17:52] mayya-sharipova commented on #52482
Relates to https://github.com/elastic/elasticsearch/issues/49761 but addresses in for more general use cases where filters can't be expressed through script.

[2022-06-23 18:17] rmatte commented on #41376
This is a very important feature.  Without this there's no way to track down which clients/scripts are abusing the scroll ids.  Would like to see some action on this seeing as it's been open since 2019 without any movement.  I also agree with geekpete that this should also support seeing stats for open Point In Time as well.

[2022-06-23 19:17] kilfoyle opened #87986 "[DOCS] Create docs for TSDS downsampling"
We should add a page in the TSDS section of the docs to explain downsampling.
More to come here.

[2022-06-23 19:17] elasticmachine commented on #87986
Pinging @elastic/es-docs (Team:Docs)

[2022-06-23 19:17] kilfoyle opened #87987 "[DOCS] Best practices for time series dimensions"
Defining dimensions for a time series data stream is non-trivial. We'll try to capture best practices and present them on a new page in the TSDS section of the Elasticsearch docs.

[2022-06-23 19:17] elasticmachine commented on #87987
Pinging @elastic/es-docs (Team:Docs)

[2022-06-23 21:29] jtibshirani commented on #87936
Thanks, I understand the request now. One other clarification -- could you give some context on why it's important to be able to wait for a refresh, but not trigger a new one through the `_refresh` call?

[2022-06-23 22:00] dakrone commented on #87246
We discussed this as a team today and decided that we're generally +1 on adding it. Our only concern was adding this field to our default policies when the ILM UI in Kibana doesn't support it (so it would be invisible there), so I've opened https://github.com/elastic/kibana/issues/135088 to hopefully get that part resolved as well.

[2022-06-23 23:39] haynesgt commented on #87936
I want to be able to do this:

update a document -> tell frontend if the update worked -> wait for refresh -> clear my cache

This can happen many times per second.

I want to avoid forcing too many refreshes since `Refreshes are resource-intensive`

I could just wait a second instead of waiting for a refresh, but I think in some cases a refresh could take longer? It is also nice to have the cache

[2022-06-23 23:59] elasticmachine commented on #87936
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-24 00:03] jtibshirani commented on #87936
Thanks for the additional information. I tagged the subteam who are experts in this area, hopefully they can take a look.

[2022-06-24 02:51] yeylatte opened #87998 "Date Histogram Aggregation by fixed interval"
### Elasticsearch Version

7.17.4

### Installed Plugins

_No response_

### Java Version

1.8.0

### OS Version

Linux

### Problem Description

I use date_histogram aggregation from Elasticsearch with fixed_interval of 7d in time range from 2022-06-18 to 2022-07-01(14days). my expected result is two buckets with two 7days interval start from 06-18. but actually i got 3 buckets, and first from 06

[2022-06-24 04:26] elasticmachine commented on #87998
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-06-24 05:03] wolframhaussig opened #88000 "Allow Processor-Plugins to provide information about parameters"
### Description

Currently, custom ingest processors are badly supported in Kibana as Kibana has neither information about installed plugins nor their parameters. With https://github.com/elastic/kibana/issues/129544 Kibana will hopefully support listing the installed processors but still cannot help the user in any way to configure it correctly. Compare the different UIs for custom processors and

[2022-06-24 05:42] divyankgarg commented on #87798
Sure close it. Thanks

[2022-06-24 06:33] przemekwitek opened #88001 "[Transform] Do not require `maintenance` permissions when using `retention_policy` in transform"
### Description

Currently, when we execute retention policy, we also refresh the destination index by setting:
[code]
on the DBQ request.
This can cause permission errors which are surprising to the user as the permissions are not required when the transform starts:
[code]

We still want the user to have the permissions to delete the documents. But we should execute `refresh` as the system user.

[2022-06-24 06:33] elasticmachine commented on #88001
Pinging @elastic/ml-core (Team:ML)

[2022-06-24 07:34] anubisg1 opened #88003 "anonymous use cannot access index data even with full permissions"
### Elasticsearch Version

8.2.3

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

ubuntu 22.04 , running kubernetes and ECK

### Problem Description

i enabled kibana anonymous user access.
the user has been assigned with the custom created anonymous role:

![image](https://user-images.githubusercontent.com/4518931/175483308-c84f8161-2038-4f0f-8aea-16287a5f1709.p

[2022-06-24 07:40] anubisg1 commented on #88003
it seems this is a problem related to the API keys permission, not to the user itself

[2022-06-24 07:40] #88003 closed

[2022-06-24 07:51] jpountz opened #88004 "Remove usage of SortedSetDocValues#NO_MORE_ORDS"
### Description

Lucene's `SortedSetDocValues` got a new `SortedSetDocValues#docValueCount` API that allows getting the number of values of a document without iterating through all values. We should change the iteration logic to use this count and consume `count` ords instead of iterating all ords until `NO_MORE_ORDS` is returned.

This should speed up some queries, e.g. `value_count` aggregations

[2022-06-24 07:51] elasticmachine commented on #88004
Pinging @elastic/es-search (Team:Search)

[2022-06-24 08:33] elasticmachine commented on #88000
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-24 08:40] #87771 closed

[2022-06-24 08:51] original-brownbear commented on #87766
@beckyjmcdabq there should be a warn level log line with the message "lock assertion failed" before the messages you pasted in your master pod logs. Could you find it and paste it here, it will tell us why the lock was broken. Likely it's a result of your volume being backed by nfs or some other network file system which tends to have compatibility issues with Lucene's file lock mechanism.
Thanks!

[2022-06-24 09:55] pgomulka commented on #86425
https://gradle-enterprise.elastic.co/s/t4zdgy27vfqva/tests/:x-pack:qa:third-party:active-directory:test/org.elasticsearch.xpack.security.authc.ldap.ADLdapUserSearchSessionFactoryTests/testUserSearchWithActiveDirectory

[2022-06-24 10:04] yqbboy commented on #86827
Is there anyone to reply to me?

[2022-06-24 10:11] pgomulka commented on #85912
another one https://gradle-enterprise.elastic.co/s/omji2hdwlwn6e

[2022-06-24 10:19] dimitris-athanasiou commented on #87959
Unfortunately this ^^ failure did not have the enabled logging yet so we've got to wait for another failure.

[2022-06-24 11:49] benwtrent opened #88010 "[ML] Make APIs cancellable for the ML and Transforms plugin"
Many of the ML APIs should be cancellable as they should not continue executing once the caller disconnects the HTTP connection.

Here is the list:

 * Denotes more important APIs to get done as they are heavier requests used by many automatic processes

For ML
 - [ ] Get calendar events
 - [ ] Get calendars actions
 - [ ] Cat datafeeds
 - [ ] Cat dataframes
 - [ ] Cat jobs
 - [ ] cat trained mode

[2022-06-24 11:49] elasticmachine commented on #88010
Pinging @elastic/ml-core (Team:ML)

[2022-06-24 13:37] mhugo opened #88014 "Tessellation issue with ES 7.17"
### Elasticsearch Version

7.17

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Linux 5.10.0-13-amd64 #1 SMP Debian 5.10.106-1 (2022-03-17) x86_64 GNU/Linux

### Problem Description

Some polygons with holes raise a tessellation error from Lucene ("Unable to tessellate ... Possible malformed shape detected").

This error has been fixed in ES 8.0/Lucene 9.0 (see

[2022-06-24 14:05] elasticmachine commented on #88014
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-06-24 14:42] joegallo opened #88018 "Contradictory response from _rollover in rare circumstances"
If two `_rollover` calls race, there's a scenario where we can return a rollover response like this from the one that loses the race:

[code]

That is, `rolled_over` is correctly `false`, but the `[max_age: 7d]` indicates `true`. That seems contradictory. Indeed, for the request that wins the race, the response's `conditions` map would be the same, but it would have `rolled_over` as `true`.

The c

[2022-06-24 14:47] beckyjmcdabq commented on #87766
The problem just happened again, this time after 7d23h of pod uptime.

I'm only getting partial logs but the following is repeated quite a bit:

{"type": "server", "timestamp": "2022-06-24T09:57:01,075Z", "level": "WARN", "component": "o.e.i.c.IndicesClusterStateService", "cluster.name": "elasticsearch", "node.name": "elasticsearch-master-1", "message": "[fluentd-000008][1] marking and sending sha

[2022-06-24 14:51] grcevski opened #88019 "DiffableUtils.diff should return an Immutable Map when used with a JDK Map"
### Description

When using the DiffableUtils.diff with a vanilla OpenJDK Map, instead of the legacy ImmutableOpenMap interface, we return a mutable map (generic HashMap), which isn't the expected behaviour of the API:

https://github.com/elastic/elasticsearch/blob/45c56b22f946733712ad6d92600411c0885594c5/server/src/main/java/org/elasticsearch/cluster/DiffableUtils.java#L85

We should wrap the map

[2022-06-24 15:25] slobodanadamovic commented on #87832
@droberts195 @dolaru

There were no changes to how `_has_privileges` works between 7.17 and 8.2. Due to https://github.com/elastic/elasticsearch/issues/67798 issue, this was never expected to work.

I followed steps to reproduce from https://github.com/elastic/elasticsearch/issues/87832#issuecomment-1160314247 and I was able to reproduce the same error on 7.17.4 cluster. Could it be that you were

[2022-06-24 15:56] javanna commented on #36418
@jtibshirani fair question, maybe I should have expanded a bit. I was thinking that once we have a good answer for aliasing a field with a runtime field that does not require a script, given that runtime fields can be removed this issue is solved. But it is solved only for users that are using the new way and it remains for folks that have field aliases in their mappings. We should then discuss wh

[2022-06-24 16:36] stu-elastic opened #88024 "[CI] StringMatcherTests testMultiplePatterns failing"
See: https://gradle-enterprise.elastic.co/s/e2od4yfepzv5s for a master build scan

**Build scan:**
https://gradle-enterprise.elastic.co/s/7wkwounehrlzs/tests/:x-pack:plugin:core:test/org.elasticsearch.xpack.core.security.support.StringMatcherTests/testMultiplePatterns

**Reproduction line:**
`./gradlew ':x-pack:plugin:core:test' --tests "org.elasticsearch.xpack.core.security.support.StringMatcherT

[2022-06-24 16:36] elasticmachine commented on #88024
Pinging @elastic/es-security (Team:Security)

[2022-06-24 17:23] swallez commented on #87327
There is no formally identified use case, we found this issue while testing the ILM and XPack API specifications that use [the same data structure for ILM phases](https://github.com/elastic/elasticsearch-specification/blob/367f257be7835046743e329d5741021ffe11c574/specification/ilm/_types/Phase.ts#L30). The `@esquirk` annotation there indicates an inconsistency that client libraries code generators

[2022-06-24 17:31] archoversight commented on #49067
Is there any documentation on how to configure the proxy? Other than TCP pass-through so that mTLS continues to function, how do we do health checking? Is a simple `connect()` based health check enough? Is there some other endpoint or payload we can send to validate that the node is ready to receive connections?

[2022-06-24 17:50] beckyjmcdabq commented on #87766
Looking a little more closely at the log.  Everything looks fine up until 06/24/2022.  Note these logs are in UTC time and local time is -6 hours from the times in the logs.  The last good log message was on 06/24/2022:05:52:39 (which would be just before midnight local time) - log line 119.

Then on log line 119, things start to get weird with the **GeoIpDownloader**

Log context:
[code]

We are

[2022-06-24 19:24] masseyke opened #88032 "[CI] ShuffleForcedMergePolicyTests testDiagnostics failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/uk4cuajaxninu/tests/:server:test/org.elasticsearch.index.engine.ShuffleForcedMergePolicyTests/testDiagnostics

**Reproduction line:**
`null`

**Applicable branches:**
master

**Reproduces locally?:**
Yes

**Failure history:**
https://gradle-enterprise.elastic.co/scans/tests?tests.container=org.elasticsearch.index.engine.ShuffleForcedMergePolic

[2022-06-24 19:24] elasticmachine commented on #88032
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-24 19:37] original-brownbear commented on #87766
This strongly indicates issues with the file system that Elasticsearch is mounted into. This is not an Elasticsearch bug in all likelihood and I would suggest investigating the Kubernetes setup to figured out what's breaking the file locks.
Hope you don't mind if I close here as there's nothing that can be done on our end.

[2022-06-24 19:37] #87766 closed

[2022-06-24 19:54] beckyjmcdabq commented on #87766
It's fine that it is closed.  Just some additional info ... we install Elasticsearch the exact same way on all of our Kubernetes clusters but this is the only cluster where we see this problem.  This cluster is on a different network and due to the cyclical nature of the problem, we assume it is the Antivirus software running on the actual PVs where the lucene index is stored.  Today we completely

[2022-06-24 20:08] javanna commented on #49704
I can imagine that the typescript types are not leveraged because they are a fairly recent thing. Now that we have that, it would be great to try to reuse and consolidate them. It makes a lot of sense to me that Kibana relies on the same mechanism that the language clients rely on. The question around plugins remains ( I assume they are not supported by the spec, but then how important is it that

[2022-06-24 20:08] #49704 closed

[2022-06-24 20:44] javanna commented on #81246
@ruflin that is the plan, the Painless team has been iterating on a new API to access field values from a script, that would transparently load values from where they are available, without users having to worry about this aspect.

[2022-06-24 21:26] jtibshirani commented on #36418
Yes thanks, I didn't understand that runtime fields could be easily removed. Should we close this out in favor of #87969? It feels like the best path forward for field aliases.

[2022-06-24 21:30] dakrone commented on #87959
I had another failure today: https://gradle-enterprise.elastic.co/s/rhoh2merwpz5o

[2022-06-24 21:38] javanna commented on #80504
We have re-discussed this with the team and decided to decouple the scripting needs (load doc_values or _source transparently, depending on what's available) from the idea of falling back to _source when doc_values are not available for sorting and aggregations.

We briefly discussed whether the script fields API should leverage field fetchers internally or the fielddata builder abstraction. It wa

[2022-06-24 21:43] elasticmachine commented on #88004
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-06-24 21:44] javanna commented on #81246
We discussed this issue with the team, and we said that scripts should load whole values for text fields, but without affecting for now existing consumers of text fields that rely on it returning all the different tokens (e.g. significant terms).

This goes along with the conclusions from the discussion on [falling back to loading from _source ](https://github.com/elastic/elasticsearch/issues/8050

[2022-06-24 21:45] javanna commented on #81246
@jpountz given that you open this issue specifically to address scripting needs, do you feel like we should discuss further what to do for text fields outside of scripting, or can we declare this issue resolved once scripts are able to transparently load whole values for text fields?

[2022-06-24 22:14] dylanmann commented on #82918
Hello, is there a plan to backport this to 7.17?  This bug is preventing us from upgrading past 7.13.

[2022-06-25 00:48] chen-ni commented on #85710
I would also like to help with this issue. Seems that `AnalysisRegistry.buildCustomAnalyzer` is not even covered by tests... Perhaps we should add one.

[2022-06-25 00:56] chen-ni commented on #83957
@michal-rozehnal Is there any update? I'd also like to help :)

[2022-06-25 05:38] chen-ni commented on #75511
@original-brownbear I'd like to work on this. Which module/class do you think is the right place to add these tests? Thanks.

[2022-06-25 18:10] tbrooks8 commented on #85951
Closing as this test has been removed on recent branches.

[2022-06-25 18:10] #85951 closed

[2022-06-26 02:06] LeonardoMMFontoura commented on #87757
Hey there. I would love to help with this issue. Can I work on it? Is there a way to reproduce the problem in the code? I mean get some more clarification, like which file would we need to change and etc.

[2022-06-26 08:38] Enerccio opened #88044 "Java 17 requirement on elasticsearch built as maven package breaks applications that rely on "org.elasticsearch.index.query" or "SearchSourceBuilder" package to function"
### Elasticsearch Version

8.2.2

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

doesn't matter

### Problem Description

As elasticsearch is now compiled for java 17 this breaks any java <=17 application that was using elasticsearch as dependency for building queries (such as any application using rest api) because now all classes from `org.elasticsearch.index.

[2022-06-26 09:16] michal-rozehnal commented on #83957
Hi, I was able to execute mentioned test but didn't find class `FiltersAggregatorBuilder`. Feel free to continue wit this issue, I will be few days away from keyboard.

[2022-06-26 09:52] chen-ni commented on #83957
@michal-rozehnal Sorry, I got some other stuff to do, won't be able to work on this. Please keep going :)

[2022-06-26 18:00] gilesagnel commented on #50481
Hi @wchaparro Can i pick this up?

[2022-06-26 23:03] dnhatn commented on #86827
Hi @yqbboy, I think this is related to https://github.com/elastic/elasticsearch/pull/40263. Can you upgrade to a newer Elasticsearch version with the fix? Thank you for your interest in Elasticsearch.

[2022-06-27 01:03] ywangd commented on #86425
@slobodanadamovic Do you want to take a look at this? On the surface it looks like this can be tackled with a similar approach taken for #87208.

[2022-06-27 05:42] slobodanadamovic commented on #86425
@ywangd Sure, I'll take a look.

[2022-06-27 05:43] slobodanadamovic commented on #86425
@ywangd Sure, I'll take a look.

[2022-06-27 08:09] pxsalehi commented on #88032
Since this does reproduce locally, I'd like to give it a try. @elastic/es-distributed In case this is blocking others, and you know a quick fix, please let me know.

[2022-06-27 08:47] iamorchid opened #88048 "failed to get data back using "@timestamp" as epoch_second in range query"
### Elasticsearch Version

8.2.0

### Installed Plugins

_No response_

### Java Version

openjdk version "11.0.2" 2019-01-15 OpenJDK Runtime Environment 18.9 (build 11.0.2+9) OpenJDK 64-Bit Server VM 18.9 (build 11.0.2+9, mixed mode)

### OS Version

Linux test 5.14.0+ #4 SMP PREEMPT Tue Sep 7 12:04:46 CST 2021 x86_64 x86_64 x86_64 GNU/Linux

### Problem Description

Within my data, there is a fi

[2022-06-27 09:07] biggerdamage opened #88049 "JsonpMappingException：MultiTermsAggregation: Unknown field 'order'"
### Description

when i try to sort in MultiTermsAggregation，i have this exception:
`co.elastic.clients.json.JsonpMappingException: Error deserializing co.elastic.clients.elasticsearch._types.aggregations.MultiTermsAggregation: Unknown field 'order' (JSON path: aggs.group.multi_terms.order) (line no=1, column no=239, offset=238)
	at co.elastic.clients.json.ObjectDeserializer.parseUnknownField(Obje

[2022-06-27 09:25] biggerdamage commented on #88049
PS: I can sort in multi terms aggregations successfully with GET request as mentioned in document
[Sub aggregation and sorting examples](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-multi-terms-aggregation.html#_sub_aggregation_and_sorting_examples)

[2022-06-27 09:32] javanna commented on #36418
makes sense, closing this in favour of #87969 .

[2022-06-27 09:32] #36418 closed

[2022-06-27 09:51] javanna commented on #87671
Makes sense. We have also figured that it's not great to print out all the default values, and this is not only a test issue. It causes problems for instance when slow queries are logged in the slowlog, as huge queries are logged including all of their default values which would be omitted. This will be addressed with #76515 . Bool query is already in the list.

[2022-06-27 09:51] #87671 closed

[2022-06-27 09:55] DaveCTurner opened #88055 "`IndicesClusterStateService#removeIndices` blocks on IO while aborting merges"
I saw an unstable cluster with lagging nodes, reporting the following thread dump:

[code]

Unfortunately the hot threads output was truncated at 10k characters for some reason so we can't see the whole picture, but these nodes are definitely struggling with slow IO and contemporaneous cluster instability.

[2022-06-27 10:16] pxsalehi commented on #88032
The failure seems to be a result of bumping Lucene to 9.3.0 (https://github.com/elastic/elasticsearch/pull/87932). One of the changes in 9.3.0 (Merge-on-refesh) also makes changes to the base test class used in this test, which means essentially merge-on-refresh is not always disabled in the default config we get from `newIndexWriterConfig` (https://github.com/apache/lucene/pull/921). I believe, t

[2022-06-27 10:18] zamazan4ik opened #88058 "Documentation typo"
Hi!

I have found a veeeery small typo in the documentation: https://www.elastic.co/guide/en/elasticsearch/reference/current/api-conventions.html#traceparent

Here `trade.id` shall be replaced with `trace.id`.

Related PR: https://github.com/elastic/elasticsearch/pull/88056

[2022-06-27 10:28] fcofdez commented on #88032
I think we still need more than 2 segments to test `ShuffleForcedMergePolicy` as it interleaves old and new segments during force merge. Even though it is not essential for the test as you mention I would prefer to keep the original intention (maybe we should add a comment mentioning why we expect > 2 segments). @pxsalehi

[2022-06-27 10:45] original-brownbear opened #88061 "Reproducible Failure in ConcurrentSnapshotsIT.testMasterFailoverDuringStaleIndicesCleanup"
### CI Link

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request+part-1/15849/consoleFull

### Repro line

./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.snapshots.ConcurrentSnapshotsIT.testMasterFailoverDuringStaleIndicesCleanup" -Dtests.seed=E1117F7A8434C9ED -Dtests.locale=es-PR -Dtests.timezone=America/Cancun -Druntime.java=17

### Does it reproduce?

[2022-06-27 10:45] elasticmachine commented on #88061
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-27 10:45] pxsalehi commented on #88032
Thank Francisco, I'll do that.

[2022-06-27 10:58] elasticmachine commented on #88044
Pinging @elastic/clients-team (Team:Clients)

[2022-06-27 11:00] elasticmachine commented on #88048
Pinging @elastic/es-search (Team:Search)

[2022-06-27 11:05] ywelsch commented on #88048
This is how it's documented (see https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-range-query.html#numeric-date). If you want the value to represent an epoch_second, you need to pass it as a String value (e.g. "1656327911") that will be parsed according to the set format.

[2022-06-27 11:05] #88048 closed

[2022-06-27 11:07] elasticmachine commented on #88049
Pinging @elastic/clients-team (Team:Clients)

[2022-06-27 11:16] benwtrent opened #88063 "[CI] TransformContinuousIT testContinuousEvents failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/d2xk4wogo6gdg/tests/:x-pack:plugin:transform:qa:multi-node-tests:javaRestTest/org.elasticsearch.xpack.transform.integration.continuous.TransformContinuousIT/testContinuousEvents

**Reproduction line:**
`./gradlew ':x-pack:plugin:transform:qa:multi-node-tests:javaRestTest' --tests "org.elasticsearch.xpack.transform.integration.continuous.Transf

[2022-06-27 11:16] elasticmachine commented on #88063
Pinging @elastic/ml-core (Team:ML)

[2022-06-27 11:41] przemekwitek commented on #85016
I'm closing this issue as the main objective mentioned in the title ("Decouple scheduling from retrying") is achieved.
The follow-up work will be handled in separate issues.

[2022-06-27 11:41] #85016 closed

[2022-06-27 11:59] benwtrent commented on #88063
The two failures I have seen in CI so far have only been `TermsOnDateGroupBy`. But, if one other continuous transform test fails, I am gonna mute the whole continuous transform suite.

This is most likely caused by: https://github.com/elastic/elasticsearch/commit/9b3eb691b48b075e6fdb04204facd2fa4fcd3bb4

Which is a fundamental change to how continuous transforms are scheduled and executed

[2022-06-27 12:10] przemekwitek commented on #88063
Thanks for muting
I've seen this failure being a result of my commit and I'm investigating right now.

[2022-06-27 12:18] benwtrent commented on #87959
Here are rolling upgrade logs from a recent failure: https://gradle-enterprise.elastic.co/s/iubebkebq7vsi

[rolling-upgrade.zip](https://github.com/elastic/elasticsearch/files/8991850/rolling-upgrade.zip)

It has debug and trace lines for inference/action, etc. in 8.

Note that the test is an upgrade from 8.2.4 -> 8.4.0 (there are multiple bwc tests ran in this suite)

I am muting the tests.

[2022-06-27 12:18] benwtrent commented on #87959
@dimitris-athanasiou ^

[2022-06-27 12:20] martijnvg opened #88069 "[CI] LongFieldMapperTests classMethod failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/jgl5kwxoebokm/tests/:server:test/org.elasticsearch.index.mapper.LongFieldMapperTests/classMethod

**Reproduction line:**
`null`

**Applicable branches:**
master

**Reproduces locally?:**
Didn't try

**Failure history:**
https://gradle-enterprise.elastic.co/scans/tests?tests.container=org.elasticsearch.index.mapper.LongFieldMapperTests&tests.te

[2022-06-27 12:25] gmarouli commented on #84811
**Requirement update**

We took into consideration all the concerns above and we came up with the following requirements which we believe is a good balance of reduced complexity and usefulness.

<div dir="ltr" style="margin-left:0pt;" align="left" id="docs-internal-guid-ca8e8358-7fff-c5cd-f1df-be36100d1daf">

Status | Meaning | Implementation
-- | -- | --
RED for data nodes | the disk is running o

[2022-06-27 12:53] gmarouli opened #88071 "[CI] FollowIndexSecurityIT testFollowIndex failing"
The test checks that no persistent tasks are left at the end of execution. However, with PR https://github.com/elastic/elasticsearch/pull/86131 we introduce a permanent persistent. If this task is created then this assertion will fail.

**Build scan:**
https://gradle-enterprise.elastic.co/s/zeq5gybrx7hgq/tests/:x-pack:plugin:ccr:qa:security:follow-cluster/org.elasticsearch.xpack.ccr.FollowIndexSec

[2022-06-27 13:24] joshdover commented on #81451
@BladeWise you need to add the `fleet_superuser` role to your user to be able to delete these indices or policies as mentioned in https://github.com/elastic/elasticsearch/issues/81451#issuecomment-1137275731. Your default superuser privileges will not have access to these indices.

[2022-06-27 13:45] kingherc opened #88075 "Improve single-node cluster warning for discovery seed hosts only if discovery.seed_hosts is not set"
### Description

PR https://github.com/elastic/elasticsearch/pull/88013 introduces a periodic check that logs a warning that a fully-formed single-node cluster has discovery seed hosts set. For the moment, we ignore this warning in cases where the configured seed hosts are default addresses. However, we would like to improve that and ignore the warning only if discovery.seed_hosts is not set. Some

[2022-06-27 13:46] elasticmachine commented on #88075
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-27 13:50] n1v0lg commented on #87726
We've discussed internally and agreed to move ahead with this. When we pick this up, we should give control plane folks a heads up on our plan.

[2022-06-27 14:12] #86186 closed

[2022-06-27 14:21] gmarouli commented on #88071
As long as the feature is behind the flag, this is not an issue yet

[2022-06-27 14:21] #88071 closed

[2022-06-27 14:22] lucabelluccini opened #88080 "[DOC] Remote clusters skip_unavailable and transport.ping_schedule are not compatible each other"
### Elasticsearch Version

7.16.1+

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

N/A

### Problem Description

After 7.16.1 (https://github.com/elastic/elasticsearch/pull/80589).

Defining a remote cluster with both `skip_unavailable` and `transport.ping_schedule` makes the searches on a not available remote cluster behave like `skip_unavailable` is set to `fa

[2022-06-27 14:36] elasticmachine commented on #88080
Pinging @elastic/es-docs (Team:Docs)

[2022-06-27 14:36] elasticmachine commented on #88080
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-27 15:17] elasticmachine commented on #34712
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-27 15:39] not-napoleon commented on #30268
We don't feel that there's enough benefit to this at this time.  If you need a value count, you can run a value count aggregation under the bucket.

[2022-06-27 15:39] #30268 closed

[2022-06-27 15:48] csoulios commented on #33041
The team discussed this issue and it looks this idea is far from the current approach for rollups/downsampling.

[2022-06-27 16:53] kingherc commented on #88075
Finally went another route to only show the warning if the seed_hosts configuration is set. The warning will not apply to other discovery methods (e.g., file).

[2022-06-27 16:53] #88075 closed

[2022-06-27 17:06] jayaddison opened #88086 "Feature request: sorting using the output of multiple script scores"
### Description

Hello Elasticians :wave:

As part of planning migration away from using [`function_score`](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-function-score-query.html) -- based on a sense from elastic/elasticsearch#42811 that it may be deprecated in future -- I'm looking for alternative query workflows to support search operations that involve a combination

[2022-06-27 17:22] BladeWise commented on #81451
That's what I did: I created the role, added it to my user, and fixed the template.
But I did not see a mention about deleting the index itself. Can you confirm that the index should be deleted too?

[2022-06-27 17:22] dnhatn commented on #88058
Hi @zamazan4ik, I am closing this issue as we will proceed with the PR in https://github.com/elastic/elasticsearch/pull/88056.

[2022-06-27 17:22] #88058 closed

[2022-06-27 18:02] nik9000 commented on #88069
I think I might have done this.

[2022-06-27 19:00] grcevski opened #88090 "[CI] DebMetadataTests test05CheckLintian failing on libtorch_cpu.so"
### CI Link

https://gradle-enterprise.elastic.co/s/2bezdlvc2ylgg/tests/:qa:os:destructiveDistroTest.default-deb/org.elasticsearch.packaging.test.DebMetadataTests/test05CheckLintian?top-execution=1

### Repro line

[bash, -c, lintian  /var/lib/jenkins/workspace/elastic+elasticsearch+pull-request+packaging-tests-unix-sample/PACKAGING_TASK/destructiveDistroTest.packages/os/ubuntu-20.04-packaging/dis

[2022-06-27 19:00] elasticmachine commented on #88090
Pinging @elastic/ml-core (Team:ML)

[2022-06-27 19:00] elasticmachine commented on #88090
Pinging @elastic/es-delivery (Team:Delivery)

[2022-06-27 19:08] benwtrent opened #88091 "[CI] EnrichAdvancedSecurityIT testBasicFlowIp failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/v4uctvzulp5ju/tests/:x-pack:plugin:enrich:qa:rest-with-advanced-security:javaRestTest/org.elasticsearch.xpack.enrich.EnrichAdvancedSecurityIT/testBasicFlowIp

**Reproduction line:**
`./gradlew ':x-pack:plugin:enrich:qa:rest-with-advanced-security:javaRestTest' --tests "org.elasticsearch.xpack.enrich.EnrichAdvancedSecurityIT.testBasicFlowIp" -D

[2022-06-27 19:08] elasticmachine commented on #88091
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-27 19:30] benwtrent opened #88093 "[CI] ConfigurationTests test10Install failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/3e4pcadoblml4/tests/:qa:os:destructiveDistroTest.default-windows-archive/org.elasticsearch.packaging.test.ConfigurationTests/test10Install

**Reproduction line:**
`null`

**Applicable branches:**
8.3

**Reproduces locally?:**
No

**Failure history:**
https://gradle-enterprise.elastic.co/scans/tests?tests.container=org.elasticsearch.packaging.t

[2022-06-27 19:32] dakrone opened #88094 "Add sorting support to diagnostic APIs"
### Description

Some of our APIs can be quite large depending on the number of indices or shards in the cluster. To assist a user (or ourselves) finding what they need from some of these APIs, it would be beneficial if we could sort the output of some of these APIs by certain criteria.

An example of this could look like:

[code]

This would also be very helpful for pagination (#87555) and filter

[2022-06-27 19:32] elasticmachine commented on #88094
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-27 19:37] dakrone opened #88095 "Add filtering support to diagnostic APIs"
### Description

Some of our APIs can be quite large depending on the number of indices or shards in the cluster. To assist a user (or ourselves) finding what they need from some of these APIs, it would be beneficial if we could filter the output of some of these APIs by certain criteria.

An initial thought is to support something akin to filter_path with very basic conditionals (`:, >, <, >:, <:

[2022-06-27 19:37] elasticmachine commented on #88095
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-27 20:02] mayya-sharipova commented on #88086
@jayaddison Thanks for filing this issue and explaining your use case.

I think a reason why you have not encountered similar requests is that  this kind problem is usually approached differently. If you have several features, instead of using multiple sort values on them, you try to combine them into a single score using different weights. For example `weight1 * number_of_matched_ingredients + we

[2022-06-27 20:37] mark-vieira commented on #88090
@droberts195 is this a change to included ML dependencies or is this another possible update to Lintian itself just complaining about more stuff?

[2022-06-27 22:00] jayaddison commented on #88086
Thanks @mayya-sharipova - my reply here might seem a bit repetitive, so my apologies in advance: I'd like to try to demonstrate some understanding of the weights and combination techniques you mentioned, and then to communicate the remaining concerns I have.

The query currently uses a boosting/weighting approach to make ingredients that appear earlier in the user's query [score more highly](https

[2022-06-27 22:31] grcevski commented on #88063
I'm hitting this in my CI job on TermsGroupByIT. https://gradle-enterprise.elastic.co/s/tx5a4pf7swuuo/console-log?task=:x-pack:plugin:transform:qa:multi-node-tests:javaRestTest

[2022-06-27 23:14] jayaddison commented on #88086
To clarify a detail about this paragraph: I didn't mean to imply that implementation of a feature like this would allow migration of all cases where `function_query` is currently used; it would allow removing it in the example query environment mentioned, but that likely does not generalize to many other usages.

[2022-06-28 01:55] #88024 closed

[2022-06-28 03:19] ADeeeee opened #88104 "More Database type support in GeoIP processor"
### Description

Hi team,

I was surveying to use another GeoIP database than the MaxMind ones in order to improve the quality of city names and faced Database Type not supported in ES.

The .mmdb file should be the same format as GeoLite2-City, which was written on the [web site
](https://db-ip.com/db/format/ip-to-city-lite/mmdb.html) and checked with mmdblookup by me. The only reason could be on

[2022-06-28 07:04] Xavifontv commented on #43464
Is the `key [query] is not supported in the metadata section` issue solvable?

[2022-06-28 07:11] luigidellaquila commented on #84700
Still failing: https://gradle-enterprise.elastic.co/s/mfofju4qvgkqg

[2022-06-28 07:14] original-brownbear opened #88108 "Reproducible Failure in RandomSamplerIT.testRandomSamplerHistogram"
Fails reproducible for me on master:

[code]

ends in

[code]

[2022-06-28 07:14] elasticmachine commented on #88108
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-06-28 07:25] henningandersen commented on #85243
Reopening this, since we only implemented one part of this: listing the shard-ids involved. We also want to add allocation explain information. I imagine the following:

1. If there are any shards in the unassigned list in the reason, let us pick the first one and add an allocation explain to the output.
2. Likewise, if there are any shards in the assigned list in the reason, let us pick the first

[2022-06-28 07:54] luigidellaquila opened #88109 "[CI] SplitIndexIT testSplitFromOneToN failing"
Failed only once this week.
The failure seems to be deterministic with this specific seed

**Build scan:**
https://gradle-enterprise.elastic.co/s/wb6ejiovyfz4g/tests/:server:internalClusterTest/org.elasticsearch.action.admin.indices.create.SplitIndexIT/testSplitFromOneToN

**Reproduction line:**
`./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.action.admin.indices.create.SplitIn

[2022-06-28 07:54] elasticmachine commented on #88109
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-28 08:07] fcofdez opened #88112 "[CI] DesiredNodesStatusIT testDesiredNodesStatusIsTracked failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/zvtegekf2ephk/tests/:server:internalClusterTest/org.elasticsearch.cluster.DesiredNodesStatusIT/testDesiredNodesStatusIsTracked

**Reproduction line:**
`./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.cluster.DesiredNodesStatusIT.testDesiredNodesStatusIsTracked" -Dtests.seed=E3567C775563B167 -Dtests.locale=zh-CN -Dtests.timez

[2022-06-28 08:07] elasticmachine commented on #88112
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-28 08:29] DaveCTurner commented on #88112
I believe this stray handshake request is coming from `HandshakingTransportAddressConnector#connectToRemoteMasterNode`. The connection will be closed at this point, but even in that case `TransportService#sendRequestInternal` adds the handler to `responseHandlers` before checking to see if the service is stopping, which means that it might get picked up by `doStop()` instead.

[2022-06-28 08:43] elasticmachine commented on #88104
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-28 09:31] slobodanadamovic commented on #86425
@ywangd

This test seems to be still failing on 8.3. The fix from https://github.com/elastic/elasticsearch/pull/87208 did not end on 8.3 branch (only on master at the time). Should I backport it to 8.3?

[2022-06-28 09:35] droberts195 commented on #88090
The 3 errors Lintian found were:

[code]

For the ones about the `RPATH` being `'$ORIGIN'` the thing that's wrong is not crystal clear. However, comparing what things look like before and after https://github.com/elastic/ml-cpp/pull/2316 shows the problem.

Before:

[code]

Lintian didn't complain about either of these.

After:

[code]

Lintian complains about the first one but not the second one.

[2022-06-28 09:36] ywangd commented on #86425
I think yes. We will keep maintaining 8.3 branch for a while (till 8.4 is GA at least, so 2 months away)

[2022-06-28 09:41] amitelastic commented on #51628
is it still in beta/experimental state?

[2022-06-28 09:43] luigidellaquila opened #88118 "[CI] Jar hell on fips compatibility matrix checks (ingest-attachment)"
### CI Link

https://gradle-enterprise.elastic.co/s/luobrp6alugn2

### Repro line

there is no repro line

### Does it reproduce?

Didn't try

### Applicable branches

8.4

### Failure history

_No response_

### Failure excerpt

The build reports the following:

[code]

The failure could be related to a recent refactoring of `ingest-attachment` plugin (see [this](https://github.com/elastic/elasti

[2022-06-28 09:43] elasticmachine commented on #88118
Pinging @elastic/es-data-management (Team:Data Management)

[2022-06-28 09:55] luigidellaquila opened #88120 "[CI] ConcurrentSeqNoVersioningIT testSeqNoCASLinearizability failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/hdrkqs5hmpp6k/tests/:server:internalClusterTest/org.elasticsearch.versioning.ConcurrentSeqNoVersioningIT/testSeqNoCASLinearizability

**Reproduction line:**
`./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.versioning.ConcurrentSeqNoVersioningIT.testSeqNoCASLinearizability" -Dtests.seed=FF0D42993DBCEB07 -Dtests.locale=es-HN -

[2022-06-28 09:55] elasticmachine commented on #88120
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-28 10:14] luigidellaquila commented on #88091
The same seems to happen for `testBasicFlowDouble`

https://gradle-enterprise.elastic.co/s/waeqkyokfrxmi/console-log#L10407

[2022-06-28 10:27] n1v0lg opened #88121 "Extract API key doc creation from `ApiKeyService`"
### Description

Both `newDocument` and `buildUpdatedDocument` should be moved into a dedicated builder class, out of `ApiKeyService`.

[2022-06-28 10:27] elasticmachine commented on #88121
Pinging @elastic/es-security (Team:Security)

[2022-06-28 10:27] michal-lyson opened #88122 "Metricbeat aws module cloudwatch metricsets is ignoring tags"
### Elasticsearch Version

8.2.3

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Darwin Kernel Version 21.4.0

### Problem Description

According to the documentation: https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-aws-cloudwatch.html

we can limit the number of aws cloudwath metrics fetched thanks to the tags.

Tags were working f

[2022-06-28 10:49] dimitris-athanasiou opened #88123 "[CI] IngestCommonClientYamlTestSuiteIT test {yaml=ingest/70_bulk/Update with pipeline} failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/5mfsk6jbt4apa/tests/:modules:ingest-common:yamlRestTestV7CompatTest/org.elasticsearch.ingest.common.IngestCommonClientYamlTestSuiteIT/test%20%7Byaml=ingest%2F70_bulk%2FUpdate%20with%20pipeline%7D

**Reproduction line:**
`./gradlew ':modules:ingest-common:yamlRestTestV7CompatTest' --tests "org.elasticsearch.ingest.common.IngestCommonClientYamlT

[2022-06-28 10:56] luigidellaquila commented on #88063
Another failure on `TermsGroupByIT`
https://gradle-enterprise.elastic.co/s/wtx3i3ty3jvia
Muting it as well

[2022-06-28 11:09] przemekwitek commented on #88063
Thanks for the reports.
I've just merged https://github.com/elastic/elasticsearch/pull/88116 which is supposed to fix these issues.
Let's see if they occur after this recent change.

[2022-06-28 11:43] DaveCTurner opened #88126 "Lag detection hot threads logs may be truncated"
If the lag detector's logger is set to `DEBUG` then the master will capture the hot threads on the lagging node and report them in its logs. However it's quite possible for this log message to be many kB in size, and log messages are apparently truncated at 10kB by default.

We should find another way to report this information to avoid hitting this size limit. Perhaps simply split the hot threads

[2022-06-28 11:43] elasticmachine commented on #88126
Pinging @elastic/es-distributed (Team:Distributed)

[2022-06-28 11:59] #88061 closed

[2022-06-28 12:23] luigidellaquila commented on #81302
New failure here https://gradle-enterprise.elastic.co/s/wa4gdqkqxacbe
Though, I don't see `connect listener queue is full` this time; the problem seems to be on cluster setup

[2022-06-28 12:28] martijnvg commented on #88123
#87719 was back ported to main, 8.3 and 7.17. But never to 8.2. However the 7x bwc tests downloads the 7.17 yaml tests and tries to run it on 8.2, and then this failure occurs, because this change was never committed to 8.2 branch.

I will mute this test, since it isn't supposed to run on the 8.2 branch.

[2022-06-28 12:32] hendrikmuhs opened #88128 "InternalAggregations lack memory accounting"
This is a summary of memory accounting shortcomings found w.r.t. the aggregation framework in #83055
Related issues: #65019, #67476

The problem statement is complex and requires some explanations. The sub-problems are marked with **P.{N}** below.

## Intro
### Lifecycle of an aggregation

Every aggregation basically runs through multiple stages, namely the collection phase (mapping), executed on