[2018-04-29 17:29] nyurik commented on #24587
I just submitted a pull request #30231 with [plus code](https://plus.codes/) support - I think that PR can be used as a step towards multi-hashing support.

[2018-04-29 17:29] nyurik commented on #16895
I just submitted a pull request #30231 with [plus code](https://plus.codes/) support - I think that PR can be used as a step towards multi-hashing support.

[2018-04-29 18:52] nomoa commented on #30201
Tested this by injecting an Error and the server properly crashed after logging the exception:
[code]

So I understand that it's not worth trying to make this Cache implementation resilient to such errors and having it in a deadlock state after these is not much a problem since the server should crash anyways.

I'll continue investigating as my first guess to explain the lock states seems to be wr

[2018-04-29 18:52] #30201 closed

[2018-04-30 05:05] keremcankabadayi opened #30242 "Index phrase query as percolator"
Hi! I'm having some issues about `elasticsearch-percolate`.

[code]
I described my problem [here](https://stackoverflow.com/questions/50084789/index-phrase-query-as-percolator) and [here](https://discuss.elastic.co/t/index-phrase-query-as-percolator/129932).

I just have curiosity it can be done or not. Maybe it's feature request, i don't know.
Thanks in advance for your help!

[2018-04-30 05:08] tvernum commented on #30242
Please leave the discussion of your issue to the forums.
We can open a feature request at a later date once we get to the bottom of your issue.

[2018-04-30 05:08] #30242 closed

[2018-04-30 05:41] bizybot opened #30243 "Kerberos support"
Support for Kerberos

Requirements:
- Single Sign-on for Kibana using Kerberos
- Using Kerberos for REST API clients

RFC: https://tools.ietf.org/html/rfc4559, https://www.ietf.org/rfc/rfc2478.txt

![Kerberos](https://gist.githubusercontent.com/bizybot/7ddf842ce5f1ca78a1afe6a4f08a31e3/raw/f9198214f6cff28f3ac1d7e28bd135a4cd36c938/Kerberos.jpg)

Typical Use case:
- User logs into her desktop with cr

[2018-04-30 05:41] elasticmachine commented on #30243
Pinging @elastic/es-security

[2018-04-30 07:37] ebuildy opened #30245 "Add grep support for cat APIs"
We ``grep`` often the output of ``_cat`` API to find what we are looking for, why not add a parameter to do this directly?

``curl http://localhost:9200/_cat/indices?grep=events-``

This will make possible:
* Usage on a browser
* Share relevant URL with the grep info

[2018-04-30 07:45] tvernum commented on #30245
What exactly are you grepping for?
If that's just an index name (which seems likely given that the output of `_cat/indices` doesn't contain much in the way of grep'able text) then you can just include the index patten in the URL:
Per: https://www.elastic.co/guide/en/elasticsearch/reference/6.2/cat-indices.html#cat-indices
You can do
[code]
(or `*events-*` depending on what you're trying to match)

[2018-04-30 07:47] asatsi opened #30247 "Remote cross cluster search stops working..."
**Elasticsearch version** (`bin/elasticsearch --version`):
$ bin/elasticsearch --version
Version: 6.2.2, Build: 10b1edd/2018-02-16T19:01:30.685723Z, JVM: 1.8.0_161

**Plugins installed**:
No external plugins installed.

**JVM version** (`java -version`):
"1.8.0_161"

**OS version** (`uname -a` if on a Unix-like system):
Linux myhostname 3.10.0-693.11.6.el7.x86_64 #1 SMP Thu Dec 28 14:23:39 EST 201

[2018-04-30 08:24] DaveCTurner commented on #29517
Closing due to lack of a response. If you can help us reproduce this then please comment and we'll re-open it.

[2018-04-30 08:24] #29517 closed

[2018-04-30 08:27] DaveCTurner commented on #27622
There were no objections to closing this in favour of #17213 so I'll do so. Please continue to feel free to leave comments indicating support (or otherwise) for this idea and we may revisit it in future.

[2018-04-30 08:27] #27622 closed

[2018-04-30 08:34] DaveCTurner commented on #20705
This is currently labelled `:Distributed/Allocation` but I think it's not a great idea to solve this in the allocator by refusing to allocate more than a certain number of shards per node. It seems like a better idea to check this on actions that create the shards-to-be-allocated:

I think, given [the above comment](https://github.com/elastic/elasticsearch/issues/20705#issuecomment-252213180), tha

[2018-04-30 08:35] elasticmachine commented on #20705
Pinging @elastic/es-core-infra

[2018-04-30 08:40] ebuildy commented on #30245
Ho it was a bad example ^^

What about finding all indices that are in yellow state? or using the _cat segments API.

[2018-04-30 08:51] bleskes commented on #30061
@talevy ++ , though it does depend on where we end up with the alias structures. If we end up going somewhere else than where things look to be heading now, we may need an atomic command (i.e., we need to dynamic visibility and/or late validation to make it work without a command)

[2018-04-30 09:11] chroje opened #30250 "Sum Aggregation leave out fractional part"
The field name  "zdl"
"zdl": {
    "type": "float"
}
but I exec sum aggregation show me a integer leave out fractional part
The command is

GET orcl-npmis_zw_ysdfmx_bak/_search
{
  "size": 0,
  "aggs": {
    "a1": {
      "terms": {
        "field": "jldbh.keyword",
        "order": {
          "a2": "desc"
        }
      },
      "aggs": {
        "a2": {
          "sum": {
            "field":

[2018-04-30 11:01] chroje commented on #30250
A new question is that the real result is 24662092.64 but show 24662092.75

[2018-04-30 11:12] mP1 commented on #30245
@ebuildy

That very first example is given on the link...

[2018-04-30 11:44] CodingFabian commented on #27205
Feedback from migrating a 2.x to 6.x client. The only thing that did not go smoothly is admin().indices() template things and one odd admin().validate().
Not sure if this is intended to vote, but if it is, I would vote for the template functions ;)

[2018-04-30 11:54] javanna commented on #27205
thanks for your feedback @CodingFabian

[2018-04-30 12:09] #16113 closed

[2018-04-30 12:32] DaveCTurner commented on #23395
I opened #30254 and #30256 to remove the `cluster.routing.allocation.disk.threshold_enabled` setting.

I'm not sure about the second point, however. There do not seem to be many (any?) other settings whose default values vary between production and development mode, so this behaviour may cause surprise.

One possible approach is to remove the default values for the watermarks in production mode, i

[2018-04-30 12:42] jasontedor commented on #23395
I agree that we should not do this.

[2018-04-30 13:06] astefan opened #30258 "Confusing error message when the aliased sub-field is not indexed"
Simple test:

[code]

This returns the following error message:
[code]

If the select is changed to `select author, name.not_indexed as name_not_indexed from library where match(name,'hyperion')` it returns results. Here the maybe-confusing `name as` is replaced with `author`.

If the select is `select name as real_name, name.keyword as name_not_indexed from library where match(name,'hyperion')` a

[2018-04-30 13:06] elasticmachine commented on #30258
Pinging @elastic/es-search-aggs

[2018-04-30 13:09] markharwood commented on #29467
An option for encoding annotations in text would be to use the markdown syntax.
So the original text appears in between `[ ] `  followed by a url-like syntax in between`( )` used to describe the entity value and type e.g.

     "text" : "They met with [Don junior](type=person&value=Donald%20Trump%20Jr) and ..."

Not that the `type` and `value` of the entity are http-encoded parameters.
Not also ma

[2018-04-30 13:12] astefan opened #30259 "SQL: Consider using stored_fields for "store: true, index: false" mapped fields"
Currently a stored, not indexed field is not returned at all:

[code]

But, Elasticsearch does offer a way to return those not indexed, stored fields using [`stored_fields`](https://www.elastic.co/guide/en/elasticsearch/reference/6.x/mapping-store.html#mapping-store):

[code]

[2018-04-30 13:12] elasticmachine commented on #30259
Pinging @elastic/es-search-aggs

[2018-04-30 13:31] nik9000 commented on #8990
The whole "throw an exception on unmapped field" behavior has grown on me somewhat. It is a little funky to because it isn't like any other map, but it is kind of useful to know that a field isn't mapped at all rather than if it doesn't have a value.

[2018-04-30 13:31] droberts195 opened #30261 "Causes of XContentParseException should be included in search for root_cause"
Following #29373 parse exceptions are now `XContentParseException` rather than `ParsingException`.  This has a major effect on the determination of the `root_cause` of an exception that is found during parsing due to the definition of `root_cause`.

The `root_cause` is determined by starting at the outermost exception and recursing through the causes until an exception is found that is _not_ an `E

[2018-04-30 13:31] elasticmachine commented on #30261
Pinging @elastic/es-core-infra

[2018-04-30 13:33] nik9000 commented on #30261
This seems like a legit thing to me. @dakrone do you want this or should I have a look?

[2018-04-30 14:06] ontology-rory commented on #30131
So after tweaking the code a bit I now have the following index structure

[code]

Previous, the mappings were very dynamic and in the worst case we could end up with 7500+ fields in the mapping :-(
Spun it round to a more KV-like pattern and then set the type to `text` for the value and _all_ field. The queries then work as expected.

[code]

Thanks for your helping me fix this - happy for you to

[2018-04-30 14:26] paullovessearch commented on #26335
I see. So you're saying to use the same preference value for _all_ queries, and not a random unique one for every query. Okay - so that makes sense.

And I presume that if the normal shard targeted by preference=X goes down, then the replica will be used? If so, then I completely agree that this is a fine solution. Thanks!

[2018-04-30 14:38] mayya-sharipova commented on #8990
Currently with PR #29611:
1. `doc['mapped_field_no_value']` returns `null`
2. `doc['unmapped_field']` throws 500.

I understand @nik9000 suggestion to distinguish between these cases, and don't return `null` for the 2nd case.

But I think it is incorrect to throw 500 Internal Server Error for the incorrect user action.  For the 2nd case, we can instead return `400 BAD_REQUEST` or `404 NOT_FOUND`

[2018-04-30 15:02] rjernst commented on #8990
Are you sure? It throws an IllegalArgumentException, which should map to a 400.

[2018-04-30 15:24] sophiec20 commented on #30261
This is a regression with respect to user experience. It's the sort of issue that results in more support calls which, once raised, will be difficult to diagnose. What are the chances of a fix for 6.3?

[2018-04-30 15:27] nik9000 commented on #30001
In `psql` it is "\r or \reset".

[2018-04-30 15:29] astefan opened #30266 "SQL: Consider adding the ID() (similar to SCORE())"
Coming from a background of heavily investigating Elasticsearch search related aspects, looking at different documents/rows and identifying them by ID, does help.

The classic example is the score given to different documents, even if they "seem" to contain the same "data". Usually, this happens because those documents live on separate shards (and most likely having different TF/IDF based on the d

[2018-04-30 15:29] elasticmachine commented on #30266
Pinging @elastic/es-search-aggs

[2018-04-30 15:31] nik9000 commented on #30001
For `psql` I always just hit `ctrl-c` though.

[2018-04-30 15:34] jasontedor commented on #30261
@nik9000 Would you pick this one up please?

[2018-04-30 15:34] jasontedor commented on #30261
We will assess and let you know.

[2018-04-30 15:37] JnBrymn-EB commented on #17116
@marcusklaas, I understand the math of logarithms( `score=A * B * C` sorts the same as `score=log(A * B * C)` and `log(A * B * C) = log(A) + log(B) + log(C))`) but I'm unclear how this helps. Do you have an example? For instance - if I want to multiply field values 3 fields together, then I would just use `score_mode=multiply`. But if I wanted to make an interesting combination of  field values li

[2018-04-30 16:08] markharwood commented on #16228
Doing this would require us to make a change that may have other benefits.
In order to pass flags the regex string would now need to be passed in as a JSON object rather than a simple string e.g

    "include": { "regex":"foo.*", "flags": .... }

I like the idea of forcing people to use an object with a property called "regex" because right now [it is too easy for users to run a regex by mistake.]

[2018-04-30 16:25] colings86 opened #30268 "Should we add a value_count to buckets in bucket aggregations?"
A few requests such as https://github.com/elastic/elasticsearch/issues/23384 have asked for a count of the values that have fallen into the buckets of a bucket aggregation rather than just the document_count. So if you had a document with the values [1,2,2,4] and you ran a histogram agg with interval 1 the response would be the following 4 buckets:
[code]
So the doc_count returns the number of doc

[2018-04-30 16:25] elasticmachine commented on #30268
Pinging @elastic/es-search-aggs

[2018-04-30 16:27] nik9000 commented on #30261
Sure. I'll start right now.

[2018-04-30 16:31] #25163 closed

[2018-04-30 16:31] colings86 commented on #23384
@sundarv85 We discussed this internally and I've opened https://github.com/elastic/elasticsearch/issues/30268 which suggests adding a value_count to the buckets which would return the number of values that fell into that bucket. I'm going to keep this issue closed in favour of that one which generalises to all bucket aggregations

[2018-04-30 16:43] jimczi commented on #30268
Just a note to say that it might look very easy to do for numeric doc values and scripts since the deduplication per document is done in the aggregator directly but for `keyword` doc values the deduplication for each document is done at index time so the frequency of the duplicated values is lost and we would need to check the postings (if the field is indexed) to retrieve the information. I don't

[2018-04-30 17:09] mayya-sharipova commented on #8990
@rjernst  Thanks, Ryan.  I see in the code `IllegalArgumentException`, but at the end a user will get 500 :

The following query:
[code]
returns:

< HTTP/1.1 500 Internal Server Error
< content-type: application/json; charset=UTF-8

[code]

[2018-04-30 17:43] nknize commented on #21191
Yes. The default is 50m

Confirmed

GeoHashPrefixTree:  Default Level == 9
QuadPrefixTree:  Default Level == 21

[2018-04-30 20:01] jasontedor commented on #30261
We will get this fixed in 6.3.0.

[2018-04-30 20:06] rjernst commented on #8990
The 500 is because SearchPhaseExecutionException assumes any shard failure is a 500. I think that needs to be (separately) fixed.

[2018-04-30 20:26] mustafaakin opened #30273 "Cannot order by Group By aggregation results in SQL"
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 7.0.0-alpha1-SNAPSHOT, Build: default/zip/707ba28/2018-04-27T09:12:51.745354Z, JVM: 1.8.0_144

**Plugins installed**: none

**JVM version** (`java -version`): java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

**OS version** (`uname -a` i

[2018-04-30 20:33] jtibshirani opened #30274 "When putting new dynamic templates, all existing templates are overwritten."
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.3

**Description of the problem including expected versus actual behavior**:

Putting new mappings for `dynamic_template` overwrites all existing templates, even templates that the put mappings request does not mention. This behavior conflicts with what's described in the dynamic templates documentation:

If we're happy with the behavi

[2018-04-30 20:33] elasticmachine commented on #30274
Pinging @elastic/es-search-aggs

[2018-04-30 20:34] bleskes commented on #29558
another one: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java10,nodes=linux/24/console

[code]
it looks like the http server the test sets up crashed, no info as to why (I logged onto the server and couldn't find anything telling in the build folder)

[2018-04-30 21:00] jtibshirani opened #30276 "Main example in the top-level mappings documentation doesn't render correctly."
See the 'Example mapping' section in https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping.html:

<img width="1606" alt="screen shot 2018-04-30 at 1 57 20 pm" src="https://user-images.githubusercontent.com/7461306/39449973-83d12260-4c7e-11e8-86e3-9d9267eef31d.png">

[2018-04-30 21:27] mayya-sharipova commented on #28725
To implement the correct `explain` in  `QueryRescorer` `explain` function, we need to check if a document was within the `window_size` - `N`.   This is difficult to check,  as documents can be resorted, and the top N documents are not necessarily the one for which rescoring was applied (in case for example `rescore_query_weight` is negative, they may be at the bottom).  We can potentially modify `

[2018-04-30 21:32] elasticmachine commented on #30276
Pinging @elastic/es-search-aggs

[2018-04-30 21:34] nik9000 commented on #30276
We do this kind of thing fairly frequently and it doesn't render well, yeah. I think this is more of a docs infrastructure bug than a search bug.

[2018-04-30 22:34] jtibshirani commented on #29200
I've started to look into fixing this. @colings86 there are a few points that would be helpful to clarify:
1. When combining mappings across index templates and create index requests, we do a ‘deep merge’, which attempts to recursively combine all map keys. This clearly differs from the normal way mappings are merged during a ‘put mappings’ request. From the documentation on index templates:

[2018-04-30 22:50] josenrihernand opened #30281 "Cannot allocate memory error, when I try to get the Elasticsearch version (v 5.6.8)"
Hello everyone,

I am in the process of configuring an Elasticsearch environment. After set up the parameters according to the documentation, I get an error message when I try to get the version, even though there is free memory at the OS level:

[root@ip-xx-xxx-xx-xx ~]# free -m (total memory: 8G, free memory: 2.8 G)
             total       used       free     shared    buffers     cached
Mem:

[2018-04-30 23:07] josenrihernand commented on #30281
I'd like to send additional info about this issue:

If I try to get the Elasticsearch version with 2G (intead of 4g) for Java Heap size, I get the version smoothly:

**ES_JAVA_OPTS="-Xms2g -Xmx2g"** /usr/share/elasticsearch/bin/elasticsearch --version
**Version: 5.6.8, Build: 688ecce/2018-02-16T16:46:30.010Z, JVM: 1.8.0_171**

However, if I try with 4G (which is the actually Heap Size of the JVM),

[2018-04-30 23:34] jasontedor commented on #30281
This is probably an environment issue and not an Elasticsearch issue. I would check your overcommit settings. Either way, Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hop

[2018-04-30 23:34] #30281 closed

[2018-04-30 23:42] josenrihernand commented on #30281
Ok @jasontedor , I will open the issue in the forum provided. thanks. This issue can be closed.

[2018-05-01 00:13] jdconrad commented on #23777
New PR for types clean up in the spec. (https://github.com/elastic/elasticsearch/pull/30283)

[2018-05-01 02:12] ashishguptak commented on #23430
Is this issue being worked-upon? If not, I would be interested in taking it up.

[2018-05-01 02:56] ashishguptak commented on #29714
Is this being worked upon? I can pick it up if not.

[2018-05-01 02:58] ashishguptak commented on #29678
Hello, Can I take up this issue?
any pointers are much appreciated.

[2018-05-01 03:01] ashishguptak commented on #29847
Hello, Can I take up this bug? any pointers are much appreciated

[2018-05-01 03:04] ashishguptak commented on #23059
hello, let me know if anyone is working on this.
I would be willing to take it up.

[2018-05-01 03:05] ashishguptak commented on #22573
Hello, is this issue being worked upon?
If not, I can take it up.

[2018-05-01 04:40] gauravmishra123 commented on #23059
Hi ashish
Thanks for your concern but I am already working on this issue.

[2018-05-01 04:41] astefan opened #30285 "SQL: implement COUNT(ALL|DISTINCT expression) to handle non-null values"
At the moment, there is no difference in handling between `COUNT(*)` and `COUNT(expression)` when it comes to non-null values (ie all values are considered). Whereas the `COUNT(ALL|DISTINCT expression)` should consider only non null values.

The current implementation generates and uses a query like the following to perform this select `select author,count(ip_addr) from ip_index group by author ha

[2018-05-01 04:41] elasticmachine commented on #30285
Pinging @elastic/es-search-aggs

[2018-05-01 05:35] jtibshirani opened #30286 "Completion suggester fails when empty regex query is provided."
**Elasticsearch version** (`bin/elasticsearch --version`): 6.3.0

**Description of the problem including expected versus actual behavior**:
Note that this issue only reproduces with Java assertions enabled.

When running completion suggestions with a context, the suggester fails when an empty regex is provided (`regex: ""`). In particular, it produces an assertion failure:

[code]

I haven't looke

[2018-05-01 05:39] elasticmachine commented on #30286
Pinging @elastic/es-search-aggs

[2018-05-01 06:17] astefan opened #30287 "SQL: COUNT(DISTINCT [field_name]) generates "Two sibling aggregations cannot have the same name" error"
Test index mapping with no documents:

[code]

The following query `select source,count(distinct country) from ip_index2 group by source having count(distinct country)>5` generates an error:

[code]

[2018-05-01 06:17] elasticmachine commented on #30287
Pinging @elastic/es-search-aggs

[2018-05-01 07:08] ashishguptak commented on #29847
thank you @tvernum for the inputs

[2018-05-01 07:33] tvernum commented on #29876
This was fixed in #29059

The issue isn't actually due to roles.yml being missing, or even due to anonymous access, it's that the missing file means that the `anon` role doesn't exist on some of the nodes, and that means the user has inconsistent privileges across the nodes.

X-Pack security requires that roles are consistent across nodes - things break quite horribly if you don't do that, as it m

[2018-05-01 07:33] #29876 closed

[2018-05-01 07:40] elasticmachine commented on #30222
Pinging @elastic/es-search-aggs

[2018-05-01 07:41] DaveCTurner opened #30288 "[CI] IllegalReferenceCountException in FullClusterRestartIT"
A failure in the BWC tests of 6.3 vs 5.0.2:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+bwc-tests/19/console

[code]

However, other tests in this fixture also seemed very slow:

[code]

Digging into the logs a bit, I find this which doesn't look right:

[code]

This is on the 5.0.2 node (running on JVM 10):

[code]

[2018-05-01 07:41] elasticmachine commented on #30288
Pinging @elastic/es-core-infra

[2018-05-01 07:43] elasticmachine commented on #30237
Pinging @elastic/es-distributed

[2018-05-01 07:45] elasticmachine commented on #30247
Pinging @elastic/es-search-aggs

[2018-05-01 07:49] colings86 commented on #30250
so the sum is actually showing the fractional part now?

The reason the actual sum might be different to the returned sum is detailed here: https://www.elastic.co/guide/en/elasticsearch/reference/6.2/search-aggregations-bucket-terms-aggregation.html#search-aggregations-bucket-terms-aggregation-approximate-counts

(This talks about the doc counts but the same reasoning extends to sub aggregations.

[2018-05-01 07:50] elasticmachine commented on #30250
Pinging @elastic/es-search-aggs

[2018-05-01 07:56] mP1 commented on #30286
please provide mapping, put documents and query for easy replay.

[2018-05-01 08:07] DaveCTurner opened #30290 "[CI] AssertionError: Accounting breaker not reset"
CI output: https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+6.2+multijob-windows-compatibility/682/console

[code]

Stack trace:

[code]

I see nothing else suspicious in the test output or in the logs on the worker. Sorry, not a lot to go on here.

[2018-05-01 08:07] elasticmachine commented on #30290
Pinging @elastic/es-core-infra

[2018-05-01 08:14] javanna commented on #30247
hi @asatsi did you find any related errors in the logs? We would need to know what the reason for the disconnection is. Hopefully you can find that in the logs and provide its stacktrace. Thanks!

[2018-05-01 08:16] colings86 commented on #30286
@mP1 the linked gist in the description appears to already have commands for reproducing the issue

[2018-05-01 08:32] DaveCTurner opened #30291 "[CI] MustacheException: Failed to get value for ctx @[query-template:1]"
CI output: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/1918/console

[code]

No `REPRODUCE WITH` line, but the logs contain this which could be the culprit:

[code]

[2018-05-01 08:32] elasticmachine commented on #30291
Pinging @elastic/es-core-infra

[2018-05-01 08:45] DaveCTurner opened #30292 "[CI] JdbcSqlSpecIT fails: "Expected more data...""
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux/2389/console

REPRODUCE WITH lines both reproduce a failure for me:

[code]

[code]

[2018-05-01 08:46] elasticmachine commented on #30292
Pinging @elastic/es-search-aggs

[2018-05-01 09:04] DaveCTurner commented on #30292
These test cases are read from a file which doesn't apparently have any way to mute individual cases, so I muted the whole suite in b9e1860f36b.

[2018-05-01 09:04] bleskes commented on #30237
@antonpious removing deletes can be expensive which is why Lucene is not aggressively doing it but rather tries to inline it with the normal merging process (it waits until segments are 10% deleted before trying to merge them away due to that). You do not have the option to only remove deletes from segments because it's inefficient - if you're already copying segment data, you might as well take t

[2018-05-01 09:04] #30237 closed

[2018-05-01 09:31] DaveCTurner opened #30295 "[CI] Packaging tests fail with connection failure on opensuse and sles"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/2645/console

REPRODUCE WITH line says:

```./gradlew :x-pack:qa:vagrant:vagrantOpensuse42#batsPackagingTest -Dtests.seed=7E7AE0563BF3B4A3 ```

The main problem seems to be

[code]

Unfortunately I can't find the server logs so can't see any more detail than this. Here's the relevant bit of the CI log:

[code]

[2018-05-01 09:31] elasticmachine commented on #30295
Pinging @elastic/es-core-infra

[2018-05-01 09:50] DaveCTurner commented on #30288
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/846/console

[2018-05-01 09:53] pmishev opened #30296 "Indexing CJK-encoded integer fails"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.6.8

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_161

**OS version** (`uname -a` if on a Unix-like system): 4.4.0-87-generic Ubuntu x86_64

**Description of the problem including expected versus actual behavior**:

Indexing a CJK-encoded integer in ES5 fails, while it works fine on ES2. It should at least be docum

[2018-05-01 10:34] DaveCTurner opened #30297 "[CI] Failed to start oldEs1Fixture: port not found"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu%20&&%20virtual/2390/console failed

Excerpt from log:

[code]

The message seems to be coming from the following line, possibly because that old version of Elasticsearch is failing to start up, but it looks like any other logs about this are lost.

https://github.com/elastic/elasticsearch/blo

[2018-05-01 10:34] elasticmachine commented on #30297
Pinging @elastic/es-core-infra

[2018-05-01 10:39] DaveCTurner commented on #30174
I think https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+periodic/39/console is also this:

[code]

[2018-05-01 10:45] DaveCTurner commented on #29893
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-unix-compatibility/os=debian/18/console looks like another instance of this

[2018-05-01 10:51] DaveCTurner opened #30298 "[CI] watcher_state: expected [started] but was [starting]"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-unix-compatibility/os=opensuse/17/console failed claiming

[code]

The REPRODUCE LINE does not reproduce this for me:

[code]

Full stack trace:

[code]

Might relate to #30118?

[2018-05-01 10:51] elasticmachine commented on #30298
Pinging @elastic/es-core-infra

[2018-05-01 11:26] DaveCTurner opened #30300 "[CI] Had to resort to force-closing job, something went wrong?"
https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+6.2+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java8,nodes=linux/25/console failed. The REPRODUCE WITH line does not reproduce this for me:

[code]

It seems that there was some confusion about the existence or otherwise of job `max-number-of-jobs-limit-job-130`:

[code]

This led to the following failure:

[code]

[2018-05-01 11:26] elasticmachine commented on #30300
Pinging @elastic/ml-core

[2018-05-01 11:43] romseygeek commented on #30296
Hi @pmishev , I'm surprised that this worked in ES 2.  I would have expected it to throw a NumberFormatException, unless you explicitly set `ignore_malformed` on the field mapping.

[2018-05-01 11:44] elasticmachine commented on #30296
Pinging @elastic/es-search-aggs

[2018-05-01 11:44] #30261 closed

[2018-05-01 11:49] DaveCTurner opened #30301 "[CI] testSecurityActionsByLicenseType: Failed to execute phase [query]"
In https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-unix-compatibility/os=fedora/16/console, `org.elasticsearch.license.LicensingTests#testSecurityActionsByLicenseType` failed. The `REPRODUCE LINE` doesn't reproduce a failure:

[code]

This stack trace appears, but there's nothing obviously related to it in the rest of the logs:

[code]

[2018-05-01 11:49] elasticmachine commented on #30301
Pinging @elastic/es-security

[2018-05-01 11:50] nik9000 commented on #30288
I've added the `blocker` label to this one. I don't think we can release with failing backwards compatibility tests.

[2018-05-01 11:50] DaveCTurner commented on #30301
Here are the logs related to this test: [consoleText.txt.gz](https://github.com/elastic/elasticsearch/files/1963668/consoleText.txt.gz)

[2018-05-01 11:56] mayya-sharipova commented on #23430
@ashishguptak I don't think anyone is working on this, please go ahead

[2018-05-01 12:02] DaveCTurner commented on #30288
This is apparently related to a bug in Netty that was fixed in https://github.com/netty/netty/commit/ee63d01cb15b0d3b29edf1b7345b52e225adc781.

Perhaps we should disable security or TLS when testing against affected versions?

[2018-05-01 12:35] nik9000 commented on #30297
I suppose we could start Elasticsearch 1.7 from a temp directory that doesn't have any spaces in its path.

[2018-05-01 12:45] jasontedor commented on #30297
That means leaving the build workspace on CI and I do not think that we should do that.

[2018-05-01 13:16] #27601 closed

[2018-05-01 13:18] mayya-sharipova opened #30303 "Add functions to the Script context for a new Script Score Query"
We are designing a new Script Score Query (SSQ) to replace [Function Score Query  (FSQ)](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-function-score-query.html).  The goal of SSQ is to have the same (and possibly more) functionalities as FSQ available only through  painless script.  For this, we would like to add the below functions to painless. They can be available e

[2018-05-01 13:43] DaveCTurner commented on #30297
I pushed 457ca640af587a2c185f566aa1aa7b19efaf6efb to `6.x` and d2ca16b4c7ea3b3b64b151c60dae10fea36a7a23 to `master`. It looks like this code was moved from elsewhere in `6.x` so I manually backported to 862d3d61c6a7f47b38c7920fbaf9a111fff56352 in `6.3` and fff2e09b099 in `5.6`.

[2018-05-01 13:47] nik9000 commented on #30297
Yeah. I don't like it either.

[2018-05-01 13:49] nik9000 commented on #30303
Painless is one of the few places where we can't use `Randomness` right now. It might be worth looking at when we do this.

[2018-05-01 13:50] DaveCTurner commented on #30288
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+bwc-tests/20/console is another

[2018-05-01 14:18] elasticmachine commented on #30273
Pinging @elastic/es-search-aggs

[2018-05-01 14:33] DaveCTurner commented on #30288
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+bwc-tests/18/console is another

[2018-05-01 15:00] colings86 commented on #30273
@costin could you take a look at this please? I think the order should be `_term` (which is implicitly ascending) rather than `asc`?

[2018-05-01 15:15] costin commented on #30273
Relates to https://github.com/elastic/elasticsearch/issues/29900
First off, thanks for trying out SQL.

For GROUP BY, composite aggs is used (not terms) which allows ordering _only_ on the grouping keys (see the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-composite-aggregation.html)).

Ordering on anything else, means the data has to be reshuff

[2018-05-01 15:30] colings86 commented on #30273
My bad, I didn't see the `composite` agg was being used above and just saw `terms`. Thanks for clarifying the issue @costin

[2018-05-01 15:45] tbrooks8 commented on #29885
Fixed.

[2018-05-01 15:45] #29885 closed

[2018-05-01 15:45] martinb3 commented on #28159
I'm confused about how removing ES_PATH_CONF actually solves this (aside from forcing both instances to use the same identical config). You're basically saying you can't share Elasticsearch homes at all any more, because elasticsearch-env will always use the default settings for the first instance?

[2018-05-01 15:46] tbrooks8 commented on #28729
Should be fixed now that it has been backported to 6.2.

[2018-05-01 15:46] #28729 closed

[2018-05-01 15:47] martinb3 commented on #24867
FWIW, this also broke the elasticsearch cookbook on v6.x+. It sounds like we should always remove /etc/sysconfig/elasticsearch or /etc/default/elasticsearch, and always write an elasticsearch-env file instead? Is that the way forward?

[2018-05-01 15:48] tbrooks8 commented on #29321
I just wanted to ping about this issue @s1monw. @jasontedor wanted me to investigate and the last comment I posted was the results of what I found. I'm not sure what action we want to take now (such as: preventing adding the current cluster in settings or if there is something about the "handshake node" concept that we need to change).

[2018-05-01 15:54] jaymode commented on #30199
@lcawl can you take a look at this?

[2018-05-01 15:56] DaveCTurner commented on #30174
Similarly https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/1016/console

[2018-05-01 16:06] DaveCTurner opened #30305 "[CI] ConnectionClosedException in RestClientSingleHostIntegTests"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=amazon/2390/console yielded a failure with this stack trace:

[code]

No `REPRODUCE WITH` line was given, and there's not obviously any further logs on the worker.

[2018-05-01 16:06] elasticmachine commented on #30305
Pinging @elastic/es-core-infra

[2018-05-01 16:17] DaveCTurner opened #30306 "[CI] HTTP Authorization failure in integTestCluster#wait"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/6224/console failed in `:x-pack:qa:multi-node:integTestCluster#wait`:

[code]

There is nothing of note in either of the nodes' logs, which are included in the CI log in full. No `REPRODUCE WITH` line was given.

[2018-05-01 16:17] elasticmachine commented on #30306
Pinging @elastic/es-core-infra

[2018-05-01 16:17] jguay opened #30307 "Watcher: support adding CA for SMTP"
Ability to pass an additional Certificate Authority for SMTP server. At the moment there is no setting which will enable to provide an additional CA for SMTP server connection

**Elasticsearch version** 6.2.4

**Steps to reproduce**:

Prerequisite : docker-compose in a recent version

 1. Download/unzip
[watcher-smtpOnSSLWithUntrustedCA.zip](https://github.com/elastic/elasticsearch/files/1964371/w

[2018-05-01 16:17] elasticmachine commented on #30307
Pinging @elastic/es-security

[2018-05-01 16:17] elasticmachine commented on #30307
Pinging @elastic/es-core-infra

[2018-05-01 16:31] DaveCTurner opened #30308 "[CI] ClassNotFoundException: org.elasticsearch.http.netty4.Netty4HttpChannel"
https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+6.2+matrix-java-periodic/ES_BUILD_JAVA=java9,ES_RUNTIME_JAVA=java9,nodes=linux/26/console failed with apparently a premature EOF in a classloader:

[code]

I couldn't see anything that obviously explains this in the logs or on the worker, but I didn't have a good idea what I should be looking for either. No `REPRODUCE WITH` line given

[2018-05-01 16:31] elasticmachine commented on #30308
Pinging @elastic/es-core-infra

[2018-05-01 17:13] DaveCTurner commented on #26335
Yes. `?preference=X` really chooses a preferred order of all the available shard copies to try in a search, and so will fail-over sensibly if a node goes down.

[2018-05-01 17:17] #30000 closed

[2018-05-01 17:52] jdconrad commented on #30303
I'm for adding a new context for this -- ScoringScript is good.  For now, the best way to add these methods is to add them as static methods to the ScoringScript class and whitelist them.  I will work towards adding a way to have methods be called without the static type qualifier, but that will take me a bit of a time.

[2018-05-01 18:05] rjernst commented on #30303
We removed these from scripting in 6.0, as they are for advanced users. I don't think we should add them back. Anyone wanting to do this should write a custom script engine (and thus have access to all of the Lucene API).

[2018-05-01 19:56] PnPie commented on #28831
Hi @ywelsch @nik9000,
I made a PR for this.

[2018-05-01 20:38] #29033 closed

[2018-05-01 21:18] jtibshirani commented on #30286
This should likely be fixed in Lucene -- filed an issue in the Lucene JIRA to track: https://issues.apache.org/jira/browse/LUCENE-8287

[2018-05-01 22:09] jtibshirani commented on #19147
I started to look into fixing this, but ran into a bug around completion suggestions with regex `"."`. In particular, using the regex prefix in a context suggestion leads to assertion failures in Lucene's `ContextQuery`.

I filed a Lucene issue with more details: https://issues.apache.org/jira/browse/LUCENE-8288. I'll plan to pick this back up once we get some clarity on the issue. Any alternative

[2018-05-02 01:04] #29729 closed

[2018-05-02 01:40] chroje commented on #30250
But where I use sum Aggregations is Metrics Aggregations instead of Bucket Aggregations, the result still wrong.

exec:
POST /orcl-npmis_zw_ysdfmx_bak/_search
{
  "query": {
    "term": {
      "jldbh": "0634090002765101"
    }
  },
  "aggs": {
    "sum_": {
      "sum": {
        "field": "zdl"
      }
    }
  },
  "_source": "zdl",
  "size": 100
}

return:
  "aggregations": {
    "sum_": {

[2018-05-02 03:07] dnhatn commented on #30204
@highmoutain Sorry a late response but there is no SLA.

The log shows that your index is corrupted. In particular "/mnt/esdata2/nodes/0/indices/fzJHAFdQQQO5zPL70D2b6g/18/index/_fhe2.cfe" is empty while it should not. This might possibly be related to your filesystem or hardware. Which filesystem are you using? Can you also please check your hardware?

[2018-05-02 05:46] rjernst commented on #30174
I opened a gradle discuss issue to hopefully get some help in what could be happening here.

https://discuss.gradle.org/t/not-all-maven-repos-searched/26796

[2018-05-02 06:48] rjernst commented on #30291
The test seems to have failed because the jvm died.

[code]

/cc @s1monw @spinscale

[2018-05-02 07:11] Tobsucht commented on #29051
+1

@byronvoorbach how do you do it without reopening the index? I'm also using search-time synonyms and I don't see a possibility to programmatically reload/flush my custom analyzer within my plugin or am I wrong?

[2018-05-02 07:13] asatsi commented on #30247
Hi @javanna ,

I do see many occurrences of the below log. I have snipped specific portion in the attached file.

[error.log](https://github.com/elastic/elasticsearch/files/1966214/error.log)

[2018-05-02 07:17] #29349 closed

[2018-05-02 07:18] tlrx commented on #20862
Closed by #29372

[2018-05-02 07:18] #20862 closed

[2018-05-02 07:38] tchiotludo commented on #28611
This feature is really useful, since nested is also not allow in sources of composite.
With out this features, we just can't use composite with nested document and must use deprecated terms aggregations with size = Infinity

[2018-05-02 07:53] colings86 commented on #30250
Yes but the sum aggregation is under the terms agg so as I explained before the fact that the terms aggregation is approximate (due to the reasons in the linked documentation) means that the sum aggregation (and any aggregations under the terms aggregation) will be approximate too. Note that you can use the `doc_count_error_upper_bound` in the terms aggregation response to determine how many docum

[2018-05-02 07:53] #30250 closed

[2018-05-02 08:10] tvernum commented on #29961
I took at look at how feasible this would be, and it runs into a problem with the way we handle bulk request (and, by consequence all DocWriteRequests as these get internally converted into Bulk)

If we assume as a given that we'd want to support this for bulk (and we should) then we have 2 places where the `AuthorizationService` could attempt to handle it
1. On first processing of the `BulkReques

[2018-05-02 08:13] tvernum commented on #29961
Pinging @elastic/es-security (because @elasticmachine has failed to do so)

[2018-05-02 08:47] #29494 closed

[2018-05-02 09:08] spinscale opened #30326 "[CI] x-pack vagrant opensuse tests failing: Cannot assign requested address"
Build URL: https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+6.2+packaging-tests/5/console

Does not reproduce locally (neither on osx/linux).

This message repeats a lot in the logs

[code]

It looks to me as if nothing is listening on localhost (but maybe on ipv6 instead?), I could not find any specific configuration for that on start up.

I saw that in commit 4de793bdb066df682070b

[2018-05-02 09:10] byronvoorbach commented on #29051
@Tobsucht I have a custom implementation of the SynonymFilter, which allows me to update synonyms without closing/opening the index. :)

[2018-05-02 09:34] spinscale commented on #30288
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/848/console is another

[2018-05-02 09:47] spinscale commented on #30288
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/849/console is another

[2018-05-02 10:14] albertzaharovits commented on #23992
Would granting `permission java.io.FilePermission "<<ALL FILES>>", "read"` inside the security policy file but then scoping/limiting **each** `doPrivileged` invocation inside the plugin with the appropriate [least permissions](https://docs.oracle.com/javase/8/docs/api/java/security/AccessController.html#doPrivileged-java.security.PrivilegedAction-java.security.AccessControlContext-java.security.Pe

[2018-05-02 10:29] Constantin07 commented on #27267
I'm facing the same issue but I'm using official Docker container and adding the CA certificate in Java keystore is inconvenient since now I'm bind mounting the certificates (CA, server.key, server.crt) in PEM format at container run stage.

[2018-05-02 10:45] spinscale commented on #30288
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+bwc-tests/22/console is another

[2018-05-02 11:09] colings86 commented on #28347
The process for removal is a little different than I envisaged (sorry for not mentioning this earlier, I had not thought about the removal process until @jasontedor opened https://github.com/elastic/elasticsearch/pull/30321 to implement it.

I had thought that we would:

* Add copySettings in 6.4.0 defaulted to false and add a deprecation warning if copySettings was not provided stating that the b

[2018-05-02 11:16] spinscale opened #30328 "[CI] XPackRestIT fails due to leftover tasks not finishing"
Source: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/1635/console

A couple of tests fail because monitoring still seems to be running and thus there are still pending tasks trying to index monitoring data.

[code]

None of the failed tests needed monitoring though

[code]

[2018-05-02 11:23] Mpdreamz opened #30329 "400 Bad Request always returns plain text"
On a cluster with no `x-pack` and version `6.2.4`:

[code]

[code]

Ideally it returns `application/json` as requested by the `Accept` header. This is how we currently return `405` and `406`

[code]

[code]

One could also argue  it should not be a `400` but a `404` if the resource does not exist:

[code]

[code]

[2018-05-02 11:30] Mpdreamz opened #30330 "Don't treat unknown prefixed routes as index names"
Today if you call a verb on a resource starting with the reserved `_` prefix it will fall through our routing

[code]

will return:

[code]

As its caught by the Get Index API.

I'd like to propose a generic handler for all requests that use an unknown special underscored API so that

[code]

all return a 404.

[2018-05-02 11:53] spinscale commented on #30328
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-unix-compatibility/os=debian/22/console is another one

[2018-05-02 11:55] bleskes commented on #29161
@ywelsch I'm moving the discussion about the relevance of https://github.com/elastic/elasticsearch/pull/30316 here - you mention that you had an indexing  operation that failed to complete? can you tell if it was indexing after the primary tried to relocate? if that seems likely then I would agree we can see #30316 as an explanation

[2018-05-02 11:59] cbuescher commented on #30296
I think I found the commit that changes this. In 2f8def11b5109eb80b47422a200bf7b7e07c8467 we moved from parsing input Strings with "Integer.parseInt()" to "Double.parseDouble()". While the former accepts the encoded integer, the later throws an exception:

[code]

[2018-05-02 12:32] cdekker opened #30334 "RestHighLevelClient exception handling: IOException vs ElasticsearchException"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.1.1

**Plugins installed**: N/A

**JVM version** (`java -version`): openjdk version "1.8.0_151"

**OS version** (`uname -a` if on a Unix-like system): 4.13.16-100.fc25.x86_64

**Description of the problem including expected versus actual behavior**:

The method `search` of the `RestHighLevelClient` throws a checked `IOException` which ne

[2018-05-02 12:43] aditya-agrawal commented on #30148
Hello, Can I take up this bug? any pointers are much appreciated

[2018-05-02 12:59] tvernum commented on #27205
I'll pick up NodesInfo because it seems to be the last of the **Important** APIs that hasn't been claimed.

[2018-05-02 13:08] markharwood commented on #30334
cc @elastic/es-search-aggs

[2018-05-02 13:16] tlrx commented on #30170
@MaxymVlasov Thanks for reporting.

I tried to reproduce locally (ie, not on an EC2 instance) and snapshots created on 5.2.0 can be listed and restored correctly on 6.2.3.

I have some questions:
- can you try to reproduce the behavior but not using EC2?
- do you have any error in logs or in the HTTP responses?

Also, it's very important to NOT have multiple clusters in different versions writing

[2018-05-02 13:38] OlivierPetri commented on #30211
Hi there, and thanks for your kind reply.

I confirm that
`doc['NRA'] + doc['NRB']`
works and
`ctx._source.NRA + ctx._source.NRB`
does not.

However the doc notation cannot be used in update or  update by query statements as stated [here](https://github.com/elastic/elasticsearch/issues/30210) and [here](https://github.com/elastic/elasticsearch/issues/29290). This means, that you have to do it manu

[2018-05-02 13:40] bleskes commented on #30204
/cc @elastic/es-search-aggs  as there are many Lucene devs there.

[2018-05-02 14:13] tlrx commented on #29423
@redlus Can you please provide the elasticsearch logs that contains the exception `IndexShardRestoreFailedException[Failed to recover index]`?

Also, according to #29649 your repository index was corrupted. Did you reproduce this behavior with a new repository?

[2018-05-02 14:24] dnhatn commented on #29392
@bleskes You're right - it's not related to the cluster state. I got a new failure that shows that actual reason.

Log: [flush.txt](https://github.com/elastic/elasticsearch/files/1967623/flush.txt)
CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+ccr+feature-branch-periodic/636/console

[2018-05-02 15:10] dnhatn commented on #29488
@danopia It would be helpful if you can provide this information.

- Did you use dynamic mapping updates?
- Did you use bulk index API? If so, was there any failure in bulk responses?

Thank you!

[2018-05-02 15:17] ajoliveira opened #30340 "Rollover API fails to update alias on index creation timeout"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.3 (docker / ECE 1.1.3)

**Plugins installed**: [x-pack, repository-s3, found-elasticsearch]

**JVM version** (`java -version`):
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux c4a4

[2018-05-02 15:18] spinscale commented on #30288
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+bwc-tests/23/console is another

[2018-05-02 15:28] mveitas commented on #30334
I ended up putting in some logic to extract the details of the exceptions and still working to tweak this a bit:

[code]

[2018-05-02 15:34] talevy commented on #30211
@OlivierPetri ah, I see. Since this is an update-script, it does not have access doc-values. I believe that the real issue here is that errors like this should come up at compilation-time, rather than runtime. I believe the explicit integer parsing is the only option

[2018-05-02 15:40] OlivierPetri commented on #30211
Allright and hello again. So from what I found, "coerce = false" just enforces what I named "STRICT" in my proposal, so an integer field has to be inserted as a json integer, and "coerce = true" does what I dubbed "LEGACY": It accepts a quoted number as an integer, but it will not cast it to an integer (which is what I'd understand as "coercion"), but retain the string value.

So with "coerce=true

[2018-05-02 15:41] spinscale commented on #30291
I dont think that this is a problem with the tests itself. Checking the `x-pack/qa/smoke-test-watcher/build/testrun/integTestRunner/temp/junit4-J0-20180501_081459_8628720121421837627595.events` file, it shows that all the tests ran successfully and the test suite completed.

But then the test runner seems to have a different opinion about that and thus emits this error message. These are the last

[2018-05-02 15:51] dakrone commented on #27205
@tvernum I put my name on it (NodesInfo) yesterday and I have a decent amount of work started on it, it previously had my name on it but I think you might not have refreshed because you overwrote my working on it

[2018-05-02 15:58] andyb-elastic commented on #30326
A little, the logs from other intermittent packaging test failures on opensuse (for example see https://github.com/elastic/elasticsearch/issues/30053#issuecomment-384137430) showed that the cluster was failing to start because of monitoring not initializing, which seemed to be caused by cluster state publishing timing out. I'll follow up with the distributed team

[2018-05-02 16:29] #30133 closed

[2018-05-02 16:35] #30017 closed

[2018-05-02 17:08] mellieA opened #30344 "Monitoring Exporter attempts to read closed SecureSettings"
Using 6.2.3 and secure monitoring settings below causes bootstrap errors below:

[code]

Keystore settings:
[code]

Is there any workaround?

Related to: https://github.com/elastic/x-pack-elasticsearch/issues/3950

[2018-05-02 17:08] mellieA commented on #30344
@tvernum I moved it here :)

[2018-05-02 17:13] talevy commented on #30211
you're welcome @OlivierPetri, thanks for bearing with the lack of compile-time checking around this! This will be fixed over time, as was mentioned in https://github.com/elastic/elasticsearch/issues/30210#issuecomment-385030360.

[2018-05-02 17:52] jasontedor commented on #30288
Closed by #30337

[2018-05-02 17:52] #30288 closed

[2018-05-02 18:31] elasticmachine commented on #30334
Pinging @elastic/es-core-infra

[2018-05-02 18:46] jbaiera commented on #29485
Fixed with #29514

[2018-05-02 18:46] #29485 closed

[2018-05-02 18:47] nik9000 commented on #30334
@javanna, what do you think?

[2018-05-02 19:34] mattweber commented on #29636
@romseygeek Can you please make interval sources pluggable while working on this?

[2018-05-02 21:19] inqueue commented on #2869
This issue can also manifest when decommissioning  a data node where, for example, the node is holding a `.security-6` copy and cluster level allocation filtering has been applied by `_ip`. Applying shard allocation filtering does not remove shards having auto-expand configured. While this is not a detrimental problem, it can cause confusion and it should be verified that any remaining shards on a

[2018-05-02 21:33] #14453 closed

[2018-05-02 21:45] bbansal commented on #27782
Hi,

Is this fixed in elasticsearch 6.2 ? I tried using 6.2 but I still see the same error. which release this will get fixed ?

[2018-05-02 21:52] tbrooks8 commented on #30134
This is complete. Closing.

[2018-05-02 21:52] #30134 closed

[2018-05-02 23:16] redlus opened #30351 "update_mapping timeouts cause replica inconsistencies and prevents synced _flush and force_merge commands"
Hi,

During bulk indexing to multiple indices and encountering multiple update_mapping timeouts (30s), some indices have shown inconsistencies between primaries and replicas.
The disk size of indices with these inconsistencies was considerably larger than as expected (as compared to similar data on indices from previous dates), and synced_flush or force_merge commands could not be completed.

**El

[2018-05-02 23:24] msymons opened #30352 "Update Jackson version to 2.8.11.2"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.0.0-alpha1
6.2.4
6.1.4

**Plugins installed**:
N/A

**JVM version** (`java -version`):
N/A

**OS version** (`uname -a` if on a Unix-like system):
N/A

**Description of the problem including expected versus actual behavior**:

Update jackson version from 2.8.10 to 2.8.11 to address [CVE-2018-7489](https://nvd.nist.gov/vuln/detail/CVE-2018

[2018-05-02 23:26] redlus commented on #29423
Hi @tlrx
Sadly, the logs from that timeframe are no longer available to :/

[2018-05-03 00:18] joshuar opened #30353 "Some Javadoc links are broken?"
**Elasticsearch version** (`bin/elasticsearch --version`): N/A

**Plugins installed**: N/A

**JVM version** (`java -version`): N/A

**OS version** (`uname -a` if on a Unix-like system): N/A

**Description of the problem including expected versus actual behavior**:

It looks like some of the links on the hosted Javadocs site are broken?  For example in the Constructor Detail on [this page](https://

[2018-05-03 00:29] jasontedor commented on #30352
We are not exposed to this vulnerability.

[2018-05-03 00:29] elasticmachine commented on #30352
Pinging @elastic/es-core-infra

[2018-05-03 01:50] ashishguptak commented on #23430
I see an exhaustive discussion thread on this - https://github.com/kblincoe/elasticsearch/pull/77.
Would like to know the current status. Also, I don't see unit tests around ContextIndexSearcher.class - Do you recommend adding them as a part of this activity?

[2018-05-03 02:13] ashishguptak commented on #30329
Can I pick up this bug? Any inputs will be appreciated.

[2018-05-03 02:16] elasticmachine commented on #30326
Pinging @elastic/es-core-infra

[2018-05-03 02:17] elasticmachine commented on #30329
Pinging @elastic/es-core-infra

[2018-05-03 02:17] elasticmachine commented on #30330
Pinging @elastic/es-core-infra

[2018-05-03 03:04] rjernst commented on #29898
This issue is no longer relevant, since x-pack is a module.

[2018-05-03 03:04] #29898 closed

[2018-05-03 04:10] rjernst commented on #12716
I think this was actually fixed by https://github.com/elastic/elasticsearch/commit/5413efc570dfed0db26ede2cc0ef6ab737417748 since we no longer double daemonize.

[2018-05-03 04:10] #12716 closed

[2018-05-03 05:13] rjernst commented on #29163
@jakommo We set `LimitNOFILE=65536` in our systemd service file. You mentioned you've seen this problem with users running tar/zip distributions. Since we only package our service file with rpm/deb, these users must be creating their own service file. I don't think we should document all the intricacies of systemd.  Instead, we should guide users to use the provided packages which come with servic

[2018-05-03 05:13] #29163 closed

[2018-05-03 07:01] cdahlqvist commented on #30188
@dakrone I can see this being appropriate if I have a mix of frozen and normal indices on a node (which may be a very common deployment pattern). If we however were to implement a dedicated frozen tier where some nodes only have frozen indices, would this then not perhaps be too retrictive?

[2018-05-03 07:11] DaveCTurner commented on #30351
I think what you are describing is the bug that is fixed by #30244, which will be released in v6.3.0, so I'm going to close this.

However, I'm not completely sure this explains the `ongoing operations on primary` message that required a close-and-reopen to clear. To avoid confusion with #30244 please could you open a thread on https://discuss.elastic.co issue about that, and include the output of

[2018-05-03 07:11] #30351 closed

[2018-05-03 07:15] elasticmachine commented on #30353
Pinging @elastic/es-core-infra

[2018-05-03 07:33] DaveCTurner commented on #30353
This does indeed seem to be the case. It looks like the docs for the classes in the [`org.elasticsearch.client`](https://artifacts.elastic.co/javadoc/org/elasticsearch/client/elasticsearch-rest-high-level-client/6.2.4/org/elasticsearch/client/package-summary.html) package provided by the `rest-high-level` module are there, but not those provided by `rest`.

[2018-05-03 08:05] DaveCTurner commented on #30295
@andyb-elastic saw a similar failure some time back and this failure included the Elasticsearch logs which said this:

[code]

Not sure why the Elasticsearch log wasn't included in the build failure above but it'd be mighty useful if it could appear in future.

If it is the same situation then this is failing to put a bunch of mappings within the 30 seconds timeout. It's not a network issue, since

[2018-05-03 08:10] Tobsucht commented on #29051
@byronvoorbach I thought there might be a "cleaner" solution ... :) Did it the same way now and it works. For everybody who wants to implement this using the ResourceWatcherService, this might help: https://discuss.elastic.co/t/instance-of-resourcewatcherservice/130285

[2018-05-03 08:10] atorok opened #30354 "Build produces Gradle deprecation warnings for sourceSets.main.output.classesDirs"
Here's one Example, but there are others throughout the build:

`./gradlew x-pack:plugin:monitoring:build --dry-run -Dorg.gradle.warning.mode=all --warning-mode=all --stacktrace`

[code]

[2018-05-03 08:10] elasticmachine commented on #30354
Pinging @elastic/es-core-infra

[2018-05-03 08:17] byronvoorbach commented on #29051
@Tobsucht yeah was hoping for that too.. Sadly, I couldn't use ResourceWatcherService because I had the requirement of posting a new version of synonyms to a new rest-endpoint in ES, instead of updating the local files on all nodes. Nice that you got it to work!

[2018-05-03 08:21] tvernum opened #30355 "Limit number of concurrent authentication requests when the cache expires"
Many of our realms extend CachingUsernamePasswordRealm which maintains a local (per node) cache of users and credentials so that we do not need to do a lookup on the underlying datastore for every request.

This is particularly important when the datastore is external, e.g. an LDAP directory. If the cache was not there we would need to do an LDAP bind (and potentially also group/metadata lookups)

[2018-05-03 08:34] chroje commented on #30250
thx

[2018-05-03 08:40] jimczi commented on #28725
The `window_size` is important because it ensures that pagination queries always rescore the same hits. If we remove it the pagination would rescore more documents on each page and this would yields different results (or duplicates) on each page.

The window_size should be small (100-1000 or something) so I think that's ok and I don't see how we could do it differently.

[2018-05-03 08:46] #30004 closed

[2018-05-03 08:59] DaveCTurner commented on #30354
Relates #27250

[2018-05-03 09:05] albertzaharovits commented on #30355
I haven't looked at the code yet, but I have qualms moving the blocking queue **before** the cache. If we are facing the surge, instead of the downstream LDAP server, we are inherently exposing ourselves to DOS . If the blocking queue is before the cache the DOS would impact all the users in the realm, if for example there's a misconfigured beats somewhere. Considering how realms are chained, a DO

[2018-05-03 10:08] tlrx commented on #29423
@redlus OK. I can't do much for now. I think that the corrupted index in #29649 just broke everything.

I can't reproduce this behavior locally and we have no log traces. I'm going to close this issue, and if it happens again then please reopen and adds any log and useful information.

[2018-05-03 10:08] #29423 closed

[2018-05-03 10:17] redlus commented on #29423
I understand, this probably is related to #29649. I believe it will not happen again after solving the aforementioned issue.

[2018-05-03 10:41] bleskes commented on #28314
@nik9000 @imotov I know this was a conscious choice from previous discussions. Care to comment?

[2018-05-03 10:52] bleskes commented on #29557
I believe this is the issue: https://github.com/elastic/infra/issues/4620 . Closing.

[2018-05-03 10:52] #29557 closed

[2018-05-03 11:55] DaveCTurner commented on #30353
It seems that `./gradlew javadoc` does not build docs on the 6.2 branch, but does work on 6.1, 6.3, 6.x and master. It was fixed in 6.3-and-later by #29173 - should this be backported to 6.2 perhaps?

[2018-05-03 12:11] javanna commented on #30353
thanks for digging @DaveCTurner ! I think it's quite important to fix this on 6.2 given that it's our current release and the javadocs links are currently broken. Hopefully backporting the change is possible.

[2018-05-03 12:47] erdalceylan commented on #20702
https://www.elastic.co/blog/elasticsearch-versioning-support

['retry_on_conflict'] = (number) Specify how many times should the operation be retried when a conflict

works for me

[2018-05-03 14:08] #30080 closed

[2018-05-03 14:13] #30292 closed

[2018-05-03 14:17] imotov commented on #28314
I think it should be just `taskId` as it was in the original version, because the entire thing is essentially a taskId. In other words, it should be: `GET /_tasks/taskId`. At the moment, the `taskId` is indeed represented as `nodeId:Number`, but this might change in the future releases, and we don't want to make it a documented "feature" that users rely on, only to break it in the future releases.

[2018-05-03 14:59] talevy commented on #28347
I've updated the description to reflect latest comments above ^ as well as an offline discussion had with @jasontedor and @colings86.

Originally, the description stated that we will deprecate the setting in `6.x` and had no mention of disallowing it to be set to `false`.

[2018-05-03 15:18] jaymode commented on #30355
DOS is a concern, but I think there are many other ways to DOS a cluster so I wouldn't consider that a reason to not *consider* a proposed solution.

I feel like there are two items to consider, number of concurrent authentications overall and number of concurrent authentications per user. The number of overall concurrent authentications can (and I think should) be handled at a higher level in the

[2018-05-03 16:01] bpintea commented on #30001
Sure, whichever solution works.
CTRL-C is maybe the most intuitive solution from user-standpoint (right now the CLI will treat CTRL-C as an enter, though).

[2018-05-03 16:39] #30306 closed

[2018-05-03 16:48] #21191 closed

[2018-05-03 16:48] jaymode commented on #30306
For closure, I pushed https://github.com/elastic/elasticsearch/commit/9573492a9ee7dc7c5f184e6be854ddc0d82608d8 to fix this failure after seeing https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu&&virtual/2397/console fail earlier today.

With the added debug logging we never see any authentication attempts on node-1. However, upon further rev

[2018-05-03 18:34] abolinhas opened #30368 "Lucene error after upgrade"
Hi,
I use the official guide to upgrade my elasticsearch from 6.0 to 6.2 https://www.elastic.co/guide/en/elasticsearch/reference/current/deb.html, but after upgrade I can't start the elasticsearch service, I get thi error
[....] Starting Elasticsearch Server:Exception in thread "main" java.lang.AssertionError: Lucene version mismatch this version of Elasticsearch requires lucene version [7.0.1]  b

[2018-05-03 19:12] imotov commented on #24944
So, this is a tricky one. The problem here is that expression likes `"loc": ["44", "55"]` to a human eye might look like a location with lon: 44 and lat: 55. However, elasticsearch interprets it as 2 locations: one with [geohash 44](http://geohash.org/44) and another with [geohash 55](http://geohash.org/55). So, instead of a single location somewhere in Central Russia, we get two locations near An

[2018-05-03 19:20] nyurik opened #30369 "gradlew :server:test does not work with debug-jvm option"
Using [./gradlew run --debug-jvm](https://github.com/elastic/elasticsearch/blob/master/TESTING.asciidoc#launching-and-debugging-from-an-ide), I can run ES and attach the debugger to it.  Yet if I use `./gradlew :server:test -D.... -D...` command with the `--debug-jvm`, it fails as unrecognized parameter.  What is the proper way to debug unit test execution?

[2018-05-03 19:21] redlus opened #30370 "Feature request: set timeout for update_mapping + define the cluster_task priority in the REST API"
Hi

We're experiencing #30244 on our 6.2.3 cluster on an almost daily basis, which has some severe consequences on cluster maintenance, indices disk size and rollover to warm / cold nodes. We've noticed that the chance of timing out an update_mapping operation greatly increases when during some of our maintenance operations on a cluster (e.g. opening new indices and deleting old ones).

Briefly, w

[2018-05-03 21:09] sinzin91 commented on #28322
@tlrx Will the fix from #30332 also be applied to ES v5.6.x?

[2018-05-03 22:55] rjernst commented on #30369
`--debug-jvm` is only meant for attaching to a running instance of elasticsearch. To debug unit/integ tests, I recommend running from within an IDE.

Please ask questions on [our forum](https://discuss.elastic.co/c/elasticsearch). We use github for feature requests and confirmed bug reports.

[2018-05-03 22:55] #30369 closed

[2018-05-03 23:07] karthikr77 opened #30373 "Debug log logs password in base64"
Enabling Debug log in elastic logs password (Ex. Watch http input password)  in the log file in base64. When the log file is shared for support or for any analysis, it is easy to decode the base64 encoded data to appropriate value. It could be good option to log password value using the encryption_key from keystore as encryption_key is managed.

**Describe the feature**:

**Elasticsearch version**

[2018-05-04 01:30] animageofmine commented on #8939
@dadoonet the support for months or years added? I attempted a '6M' date histogram, but doesn't look like it is supported.

[2018-05-04 02:16] jonassteinberg1 commented on #28026
6.2.4 has been released, fyi.

-random guy who ran into this *exact* problem

[2018-05-04 04:13] LarryLo commented on #27180
I've met the same issue but have no idea how to stop the snapshot stuck in INIT state.
Any suggestion? Thank you.

[2018-05-04 07:56] elasticmachine commented on #30373
Pinging @elastic/es-core-infra

[2018-05-04 08:04] costin opened #30377 "[CI] ml.integration.DeleteExpiredDataIT"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+periodic/56/console

Cannot reproduce it on my machine hence why I think it's a timeout failure.
From the logs:

[code]

[2018-05-04 08:04] elasticmachine commented on #30377
Pinging @elastic/ml-core

[2018-05-04 08:17] spinscale commented on #30373
I assume you mean, the base64 `Authorization` header is logged?

Just to be sure we are talking about the same log message. You are talking about something like

[code]

[2018-05-04 08:27] elasticmachine commented on #30370
Pinging @elastic/es-distributed

[2018-05-04 08:35] cbuescher commented on #8939
@animageofmine no it is not yet supported and we recently added documentation to make this clear: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-datehistogram-aggregation.html#search-aggregations-bucket-datehistogram-aggregation. Hope this helps.

[2018-05-04 08:39] DaveCTurner commented on #30370
First up, #30244 is merged into 6.3, and we are expecting 6.3.0 to be the next release, so making the changes described here will not relieve the issues you are experiencing any sooner.

30 seconds is a very long time to spend on any kinds of change to the cluster state, mapping updates and index creation included, and the fact that you are seeing these things time out regularly indicates some kin

[2018-05-04 08:52] regardfs opened #30380 "[BUG] @timestamp confused by accident in Table and JSON"
**Elasticsearch version** (`bin/elasticsearch --version`):

Use ```docker.elastic.co/elasticsearch/elasticsearch:5.5.2```

**Plugins installed**: [logtrail]

**Description of the problem including expected versus actual behavior**:
sometimes, the "@timestamp" is different in `JSON` and `TABLE`, it happened by accident, I could not figure out why....
in `JSON`:
![image](https://user-images.githubus

[2018-05-04 08:54] regardfs commented on #30380
The datatime is retrived from my log, the config in logstash pipeline is:
[code]

[2018-05-04 09:08] wmellouli commented on #25487
@jpountz & @colings86 I think, this is a very good new feature introduced in elasticsearch. Otherwise, users should apply manually the same normalizer before searching data with term-level query. **I updated the documentation** to cover this new feature [here](https://github.com/elastic/elasticsearch/pull/29656).

Related documentation pages are:
https://www.elastic.co/guide/en/elasticsearch/refer

[2018-05-04 09:13] spinscale commented on #30373
so, after a quick look, the `LoggingOutputStream` of the apache http client simply writes out anything that also gets written on the wire - nothing we can do on top of my head here, I'll keep taking a look if there is anything we can do

[2018-05-04 09:27] costin opened #30381 "[CI] watcher.t.i.ExecutionVarsIntegrationTests & WebhookIntegrationTests"
[code]
fails in
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu&&virtual/2400/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1598/console

Reproducible with:
[code]

or
[code]

[2018-05-04 09:27] elasticmachine commented on #30381
Pinging @elastic/es-core-infra

[2018-05-04 09:28] dadoonet commented on #30380
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-05-04 09:28] #30380 closed

[2018-05-04 09:31] dimitris-athanasiou commented on #30377
I found the problem that's causing this. Pushing a fix shortly.

[2018-05-04 09:46] #30377 closed

[2018-05-04 10:26] jasontedor commented on #29992
Relates #30325

[2018-05-04 10:26] jasontedor commented on #29992
This does not appear to be happening anymore.

[2018-05-04 10:26] #29992 closed

[2018-05-04 10:52] kervin521 opened #30385 "high rest client has low performance"
data size : 1MB
use api : bulk api

Rest Client|HighRest client
---------------------|--------------------------
use time:5s             | use time:20s

code example:
[code]
[code]

[2018-05-04 11:49] dadoonet commented on #30385
I'm surprised by this. I'm using myself the bulk processor from the high level rest client and I can easily index locally 12k+ doc/s.
You should open a discussion on discuss.elastic.co where we can better help I think.

[2018-05-04 12:04] bpintea opened #30386 "SQL: SYS TYPES adjustments for ODBC"
**Elasticsearch version**: master @ 65dbc17510

The ODBC driver uses [now](https://github.com/elastic/elasticsearch-sql-odbc/pull/5) the results return by `SYS TYPES` query to answer app's inquiries on column types. The following is a list of proposed changes that would be needed to stay inline with the [ODBC spec](https://docs.microsoft.com/en-us/sql/odbc/reference/syntax/sqlgettypeinfo-function)

[2018-05-04 12:04] elasticmachine commented on #30386
Pinging @elastic/es-search-aggs

[2018-05-04 12:07] jkakavas commented on #29899
Closing this as it has not failed again.

[2018-05-04 12:07] #29899 closed

[2018-05-04 12:09] jasontedor commented on #28600
This has not failed since changing to one shard. 😐

[2018-05-04 12:22] alexfrancoeur opened #30387 "[Watcher] Add support for the PNG report generated image_urls in the Slack action"
PNG export is currently targeted for reporting in 6.x. One of the major benefits I see for this use case is to add dashboard's or visualizations images to a Slack message. It'd be great if Watcher could support asynchronously generated images from our reporting architecture in the same fashion it supports report URL's with emails. We'd need to add the image generated from the report to the `image_

[2018-05-04 12:32] dcorking commented on #24961
The Upgrade Assistant in X-Pack doesn't seem to be able to handle this.

[code]
The breaking changes documentation [mentions the removed setting](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/removal-of-types.html#_migrating_multi_type_indices_to_single_type)

 But it doesn't mention how to use the Upgrade Assistant to deal with it.

A web search led me here.  But where is the right

[2018-05-04 12:33] costin opened #30388 "[CI] ml.integration.ModelPlotsIT"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+release-tests/29/console

Reproducible with
[code]

[2018-05-04 12:33] elasticmachine commented on #30388
Pinging @elastic/ml-core

[2018-05-04 12:50] dcorking commented on #24961
Good news. Although I was disappointed that the recommended upgrade path of the Upgrade Assistant's Reindex Helper didn't work (with the error reported above), I was able to successfully upgrade the internal index for Kibana from 5.6 to 6.2 following the manual instructions at https://www.elastic.co/guide/en/kibana/6.2/migrating-6.0-index.html

It only took a few seconds.

[2018-05-04 12:50] cbuescher commented on #28980
@TwP thanks for opening this bug, and sorry for the long wait to get back on this. I see the same bahaviour on 5.6.8 using your reproduction example. I also tried 6.2.4 (our latest release) and the filter in the function score query is not accepted. The problem must have been fixed somewhere along the 6.x line. I will try to see if I find an issue that shows which exact version this was fixed.

[2018-05-04 12:56] bleskes commented on #30370
As a temporary measure you can increase the timeout by setting `indices.mapping.dynamic_timeout` to something higher.  @DaveCTurner's advice is still sound - it's not healthy for the master to be unavailable to process requests. I suggest you follow up on the offer to figure things out there.

Understood. Other use cases may see it differently. Without an active primary, indexing can not continue.

[2018-05-04 12:56] #30370 closed

[2018-05-04 12:59] vanntomm commented on #21101
+1

[2018-05-04 13:01] droberts195 commented on #30388
The failure if you try to reproduce locally is:

[code]

This is due to the way the license key is injected into the build by CI but not recorded anywhere.

[2018-05-04 13:02] spinscale commented on #30387
Interesting use-case. The `reporting` attachment is a special type of an attachment, which allows us to trigger the creation and then keeps polling kibana until the creation is done (which means it is potentially a long running watch). The above two slack attachment parameters are just links that point to kibana - which means another component first has to keep polling until those images are ready

[2018-05-04 13:03] droberts195 commented on #30388
I'm pretty sure the reason this failed in CI was that it relies on a C++ change and there was only a snapshot build available for the required change.  I did a non-snapshot build of the 6.3.0 C++ about 3 hours ago, but this failed CI run started about 5 hours ago so wouldn't have used it.

Let's just see if https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+release-tests/30/console

[2018-05-04 13:15] s1monw commented on #30355
FYI I removed the _discuss_ label seems legit.

[2018-05-04 13:32] jpountz opened #30393 "Add an option to split on whitespace at query time on keyword fields"
Follow-up of #30131. We should add a way to configure keyword fields so that text would be split on whitespace at query time. In FixitFriday it was suggested that we do this by adding something like a `split_queries_on_whitespace` flag that sets a whitespace analyzer as a search analyzer when set to true. We also considered making it possible to configure a search analyzer, but it felt too flexibl

[2018-05-04 13:33] elasticmachine commented on #30393
Pinging @elastic/es-search-aggs

[2018-05-04 13:33] jpountz commented on #30131
I'll close as a non issue, but we agreed to follow up on the idea to make it possible to split keywords on whitespace at query time: #30393.

[2018-05-04 13:33] #30131 closed

[2018-05-04 13:34] s1monw commented on #29916
@GlenRSmith is this still valid?

[2018-05-04 13:36] tomcallahan commented on #30020
6.0 is already out

[2018-05-04 13:36] #30020 closed

[2018-05-04 13:36] s1monw commented on #30020
@spinscale I guess it's solved. if not please reopen it.

[2018-05-04 13:38] tomcallahan commented on #29700
Monitoring is in bugfix-only mode in favor of metricbeats, closing

[2018-05-04 13:38] #29700 closed

[2018-05-04 13:39] #29762 closed

[2018-05-04 14:10] tomcallahan commented on #30266
@costin - can you comment on this?

[2018-05-04 14:56] GlenRSmith commented on #29916
@s1monw Probably not, checking with picky.

[2018-05-04 15:01] #29916 closed

[2018-05-04 15:09] droberts195 commented on #30075
We had a support case where a customer had a huge number of results in a custom results index that was only being used by one job.  They got frustrated with the job deletion process as it was going to take around 15 hours.  However, because it was a dedicated results index the deletion could have avoided delete-by-query altogether and just deleted the index.  So when we fix this issue we should im

[2018-05-04 15:12] bpintea opened #30398 "SQL: SYS TABLES adjustments for ODBC: TYPE argument"
**Elasticsearch version**: master @ 65dbc17

With `TYPE` argument [now working](https://github.com/elastic/x-pack-elasticsearch/pull/4373) (as a fix for https://github.com/elastic/x-pack-elasticsearch/issues/4335), there are these two follow-up issues that have emerged:
* some applications use `TABLE` as filter (like Microsoft Query:`'TABLE','VIEW','SYNONYM'`). This will not match `BASE TABLE` and

[2018-05-04 15:12] elasticmachine commented on #30398
Pinging @elastic/es-search-aggs

[2018-05-04 16:04] khurram-aziz commented on #27312
A layered architecture is better; no doubt; but it can be overkill for some entry level scenarios / implementations; for instance here when my API server is misbehaving; I want to log incident/errors into Elasticsearch cluster "directly" (given the API server is already not working as expected)

This is the least that should be done and is quite logical after HTTP module, its CORS settings and ela

[2018-05-04 16:17] cbuescher commented on #28980
I also checked this on 6.0 and the problem is also fixed there. From the code it looks like in 6.x we always translate the `terms` query to a Lucene TermInSetQuery or something provided by the field mapper (in the field of integer values, we seem to use PointInSetQuery. @TwP I hope you don't mind if I close this issue as I don't think this is something that will be backported to 5.x, and also give

[2018-05-04 16:17] #28980 closed

[2018-05-04 21:28] andyb-elastic commented on #30326
This is in a different test but it's a similar kind of failure so documenting here

[build-2654-opensuse.txt](https://github.com/elastic/elasticsearch/files/1975946/build-2654-opensuse.txt)

Similar connection refused symptom

[code]

Another interesting response after it does connect at one point

[code]

[2018-05-04 21:47] jasontedor commented on #29642
This is deployed, closing.

[2018-05-04 21:47] #29642 closed

[2018-05-04 22:13] #30329 closed

[2018-05-04 23:01] karthikr77 commented on #30373
Thanks Alex for responding.

Assuming the client using ssl - the wire has additional encryption over it.
viz. Client ================= Server
     Raw - base64 - ssl =====> ssl offload - base64 decode - Authenticate
How does Server know that it has to do base64  decode?

Regardless, I assume you got the note here that a decode on logged text would lead to password leak.

[2018-05-04 23:26] pcsanwald opened #30405 "Add test for QueryExplanation serialization backwards compatibility"
See #30390, we should test backwards compatibility for `QueryExplanation` Serialization.

[2018-05-04 23:26] elasticmachine commented on #30405
Pinging @elastic/es-search-aggs

[2018-05-05 03:15] showmeall opened #30406 "6.2.4 install failed with RPM, but 6.0.0 is ok"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.4

**Plugins installed**: []

**JVM version** (`java -version`):
1.8.0
**OS version** (`uname -a` if on a Unix-like system):
Centos 7.2
**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, inclu

[2018-05-05 05:49] droberts195 commented on #30388
Build 30 worked - closing.

[2018-05-05 05:49] #30388 closed

[2018-05-05 09:55] dadoonet commented on #23366
@cbuescher As long as your test confirms it, I'm OK by closing this.

[2018-05-05 09:55] #23366 closed

[2018-05-05 10:18] akotlar commented on #30393
This relates to #23336 as well, and would serve as a perfectly good substitute for my use case

[2018-05-05 13:13] jasontedor commented on #30406
I think you have a broken download. Check:

[code]

I am closing this as unlikely to be a bug. Please use the [forum](https://discuss.elastic.co).

[2018-05-05 13:13] #30406 closed

[2018-05-05 13:54] costin commented on #30386
1. It might be a mistake in the JDBC spec but according to the javadocs, the [column names](https://docs.oracle.com/javase/8/docs/api/java/sql/DatabaseMetaData.html#getTableTypes--) are important.
The same page lists at the top that:

Which further indicates that naming (as oppose to indexing) is important. As such, I propose to leave this as is.

2. my understand of the spec is the type name shou

[2018-05-05 14:02] bleskes commented on #30370
@redlus I agree it's good to evaluate these priorities and as David already indicated we will discuss this internally. I'm more than willing to discuss the examples you gave but let's do on another thread on discuss.elastic.co . If we end up want to change something we can come back here.

All of that put aside, your use case feels abusive as you should not be seeing so many messages. I'm looking

[2018-05-05 15:52] KnowledgeGarden opened #30407 "Limit of total fields [1000] in index [topics] has been exceeded"
I am talking about this issue here: [https://discuss.elastic.co/t/6-fields-defined-in-my-mappings-how-is-it-possible-to-exceed-the-1000-field-size-limit/130536/8](https://discuss.elastic.co/t/6-fields-defined-in-my-mappings-how-is-it-possible-to-exceed-the-1000-field-size-limit/130536/8) where I give gists of my mappings -- roughly half dozen fields -- and log files.

Upgrading to 6.2.4 did not ma

[2018-05-05 17:05] KnowledgeGarden commented on #30407
The issue is, in fact, my code. A "document" is defined by at least one key field; omit that field and it appears that Elasticsearch treats the document as a new collection of fields. Instrumenting what you index turns out to be valuable.

[2018-05-05 17:05] #30407 closed

[2018-05-05 21:26] fbaligand commented on #29184
I'm happy to see that ES team is going in this direction : have a lightweight client that is independent from elasticsearch server jars.
Today, high level client v6.2.4 with all its JAR dependencies weigh 24 Mo. That's heavy for a client.

On the other way, some parts of elasticsearch core code are very useful to keep in high level client : these are all the query builders.
That's why I would love

[2018-05-05 22:07] fbaligand opened #30408 "Elasticsearch High Level Client : add support for java bean mapping"
Currently, on Elasticsearch High Level Client, when we index a document or search documents, we can provide or get the document source as a string or as a map ; but not as a java bean.
This would be great to support java bean as a possible source.

IMO, it is tedious to have to do manually the mapping bean to JSON or JSON to bean, each time we index or search a document.
The community client Jest

[2018-05-05 23:49] redlus commented on #30370
Hi @DaveCTurner and @bleskes,
I've opened a discussion with more information on our cluster in the link below:
https://discuss.elastic.co/t/creating-indices-and-update-mapping-tasks-take-way-too-long/130718

Thanks!

[2018-05-06 06:46] oxwangfeng commented on #30406
yes,it check sum error

[2018-05-06 08:15] Aviyoosh opened #30412 "Mapping - error illegal_argument_exception when defining new date format"
Kibana + Elastic version: 6.2.4
JDK version: 10.0.1
OS version: Win10

Hi,
I'm new to this world so please be gentle :)

when trying to add a date format, I generated both queries:
**this one worked:**
put /product/default/_mapping
{
  "properties": {
    "created": {
      "type": "date",
      "format": "strict_date_optional_time||epoch_millis"
    }
  }
}

**this one didn't work:**

PUT /produc

[2018-05-06 09:08] videetssinghai commented on #27583
I can work on this if nobody is working

[2018-05-06 10:44] bleskes commented on #21658
We have a know issue https://github.com/elastic/elasticsearch/issues/9967 about retries semantics. Fixing this will be hard. I don't see any other option but to relax the test. I'll push that change soon.

[2018-05-06 11:26] bleskes commented on #25026
This is almost a year old failure. I'm going to close it as I don't think it makes sense to chase it anymore.

[2018-05-06 11:26] #25026 closed

[2018-05-06 11:29] bleskes commented on #25335
closing in favour of https://github.com/elastic/elasticsearch/pull/29140

[2018-05-06 11:29] #25335 closed

[2018-05-06 11:31] bleskes commented on #26240
@tlrx is this test failure issue the only place we track this or can we close this one in favour of something that better describes the problem?

[2018-05-06 11:32] bleskes commented on #29157
@dnhatn what is the status of this one? do you know the root cause?

[2018-05-06 11:33] bleskes commented on #29392
@dnhatn cool. Any idea what the operation is?

[2018-05-06 11:53] timroes commented on #28727
Since this pops up rather often, I wanted to add another possible performance improvement suggestion.

Before starting aggregating the date histogram, we could actually check if the query had an overall date range filter applied. We could than check on the start and end date in that date range. If both of these dates are within the same daylight saving time period, we could actually use the offset

[2018-05-06 13:39] bLindStalker opened #30415 "jar hell in test classpath when running with JDK 1.8.0_171 on OS: WIN 10"
When I try to run test with elastic version 6.2.4 I got exception: found jar hell in test classpath
my code: https://github.com/bLindStalker/test-elastic/

Full exception:

java.lang.RuntimeException: found jar hell in test classpath
	at org.elasticsearch.bootstrap.BootstrapForTesting.<clinit>(BootstrapForTesting.java:92)
	at org.elasticsearch.test.ESTestCase.<clinit>(ESTestCase.java:190)
	at java

[2018-05-06 14:52] hmiyakoshi0803 commented on #30213
I have an error too.
And my elastic search node didn't start.
What is wrong?

[elasticsearch@dev01 kibana]$ yarn elasticsearch
yarn run v1.6.0
$ grunt esvm:dev:keepalive
Running "esvm:dev:keepalive" (esvm) task
starting up "dev" cluster
Keeping elasticsearch alive, to shutdown press command/control+c
INFO -  - cluster - Downloading & installing from "6.x" branch.
INFO -  - cluster - Installing plu

[2018-05-06 16:08] dadoonet commented on #30415
Have a look at https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md#configuring-ides-and-running-tests

Please ask questions on discuss.elastic.co

[2018-05-06 16:08] #30415 closed

[2018-05-06 19:33] aaronoah commented on #30213
There are many active changes on Kibana team, as my experience, when you upgrade your codebase against the master branch and use `yarn es snapshot` will sort it out.

[2018-05-07 02:04] dnhatn opened #30416 "[CI] SplitIndexIT fails with Lucene-7.4 snapshot"
This test starts failing more often after upgrading to Lucene-7.4 snapshot. Most of the failures are on Windows. It may relate to this Lucene failure https://elasticsearch-ci.elastic.co/job/apache+lucene-solr+master/27765/consoleText.

Error: `still has pending deleted files; cannot initialize IndexWriter`

[code]

Some CI instances:

1. https://elasticsearch-ci.elastic.co/job/elastic+elasticsearc

[2018-05-07 02:04] elasticmachine commented on #30416
Pinging @elastic/es-distributed

[2018-05-07 02:04] dnhatn commented on #30416
Ping @simonw and @elastic/es-search-aggs

[2018-05-07 02:10] dnhatn commented on #30416
I muted the test at https://github.com/elastic/elasticsearch/commit/9c77eab91553a989ee096786651bb6981b973c5c.

[2018-05-07 02:51] keenbo commented on #30116
Thanks for your reply very much! @jasontedor

**What is the error that you see?**

`{"error":{"root_cause":[{"type":"circuit_breaking_exception","reason":"[parent] Data too large, data for [<http_request>] would be [24548465868/22.8gb], which is larger than the limit of [23901529702/22.2gb]","bytes_wanted":24548465868,"bytes_limit":23901529702}],"type":"circuit_breaking_exception","reason":"[paren

[2018-05-07 02:56] keenbo commented on #30116
**I understand your reasoning, but this is not supported.**

OK, I know.
Since es's version >= 6.0, the replication method of es has been changed! I think I should deep in the replication implements of es firstly.

[2018-05-07 03:30] highmoutain commented on #30204
@dnhatn  hi, thanks for your reply.
filesystem is xfs.
I check through chechindex and /var/log/messages, there is no problem.
And this problem happens in 2 machines, so I do not think it's  a hardware problem.

Do I need check hard disk through other tools?

[2018-05-07 04:27] rationull commented on #29328
@colings86 @rjernst any feedback on this?

Other than changes to context parameter naming and writing a more detailed commit comment, I think any further changes as mentioned in the PR #30111 could be done in separate PRs to keep things simple. Plus any changes that come from your feedback, of course. If you’d rather I make progress on some of the outstanding items before merging this (to avoid le

[2018-05-07 05:28] mixalistzikas opened #30417 "Multi-fields with multiple analyzers doesn't work"
**Describe the feature**:

**Elasticsearch version** (5.4.2):

**Plugins installed**: ['elasticsearch-skroutz-greekstemmer', 'elasticsearch-analysis-greeklish']

**JVM version** (openjdk version "1.8.0_131"):

**OS version** (16.04.1-Ubuntu):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of

[2018-05-07 06:52] tvernum commented on #30355
I think there are valid use cases for either approach of limiting it globally, or per realm.
I _don't_ think we should implement both but I would like us to seriously consider which one we do.

Doing it globally allows us to segregate authentication (including CPU expensive tasks like passworkd hashing) from the other uses of the generic thread pool (& potenially freeing up some CPU time for other

[2018-05-07 07:07] tvernum commented on #27205
@dnhatn @jtibshirani (and others)
Can you make sure you refresh the page before editing the description - it looks like @dakrone's claim on `NodesInfo` has been lost again (as has mine) and based on the edit history, it would appear that one of you two might have accidentally done so.

[2018-05-07 07:35] #28322 closed

[2018-05-07 07:41] vigyasharma commented on #29531
Hi @bleskes,

Adding an example of what we observed with some follow up questions. Hope it provides more context for the problem we're trying to solve.

We had a 20 data node. 3 dedicated master node cluster serving production data, and 1 of the 20 data nodes had bad EBS, resulting in very slow writes on that node. This cluster was receiving bulk write traffic comprising mostly of index operations

[2018-05-07 08:37] martijnvg commented on #30227
This is fixed by #30238

[2018-05-07 08:37] #30227 closed

[2018-05-07 08:53] tjc808 commented on #28906
my issue is related, i think...

type":"pcap_file","_id":null,"status":400,"error":{"type":"parse_exception","reason":"Failed to parse content to map","caused_by":{"type":"json_parse_exception","reason":"Duplicate field 'ip_ip_addr'\n at

[2018-05-07 08:59] elasticmachine commented on #30408
Pinging @elastic/es-core-infra

[2018-05-07 09:05] bleskes commented on #29531
@vigyasharma thanks for explaining. It sounds like everything works as it should given the current trade offs in Elasticsearch. Elasticsearch does synchronous replication and waits on all active replicas of the relevant shard to index a document before acking the write. This is important to allow us to read from any single copy of the data. I'm not saying there aren't any options here but this is

[2018-05-07 09:12] tlrx commented on #28906
@tjc808 I don't think this is related to snapshot/restore feature but instead because you're indexing documents with duplicated fields. You can ask questions like these in the [Elastic forums](https://discuss.elastic.co/) instead.

[2018-05-07 09:33] fbaligand commented on #30408
I'm ready to discuss with you @javanna ! :)

[2018-05-07 10:06] javanna commented on #29539
This has been fixed as part of #29229 .

[2018-05-07 10:06] #29539 closed

[2018-05-07 10:25] javanna commented on #30417
hi @mixalistzikas , could you please post an example of a document that you indexed and which you would expect to get back with your query? It would be helpful to have a full recreation of the problem with curl statements if possible. Thanks!

[2018-05-07 10:31] javanna commented on #30385
hi @kervin521 , where do you measure the times that you posted?

It is expected that the high-level client is not as fast as the low-level client, as it uses the same low-level client that you have in your code but it also serializes the bulk request and parses back the bulk response. That said, the difference that you see is quite big so we do want to understand what causes it.

Do you use the sa

[2018-05-07 10:35] javanna commented on #30385
Also, @kervin521 note that if you already use a json library, it makes little sense to take the json, convert it into a string and feed the high-level client with that string. That's certainly going to slow things down, and that's also why I asked where you measured those times, I don't see log lines in your code or variables to keep track of time. Another question, could you post your bulk reques

[2018-05-07 10:35] elasticmachine commented on #30385
Pinging @elastic/es-core-infra

[2018-05-07 10:46] kripafixstream commented on #22056
Thanks so much this really help solve my problem !!!!

[2018-05-07 10:57] mixalistzikas commented on #30417
Document 1

`{
    "name": "Michalis",
}`

Document 2

`{
    "name": "Μιχάλης",
}`

Document 3

`{
    "name": "Γιώργος",
}`

Document 4

`{
    "name": "Giorgos",
}`

With the "greeklish_analyzer" it is possible even if I search for "Μιχάλης", also find document 1 "Michalis"

So If I search "Μιχάλης" I have to find Document 1 & 2

If I use the analyzer without the "fields" it works perfect. But

[2018-05-07 12:37] kostasb opened #30422 "[DOCS] Clarify scope of xpack.security.audit.index.settings"
**Elasticsearch version** v6.2

There have been reports from users who index audit logs to a remote cluster, that the index settings config option should be clarified that it only applies when used locally.

Users have been modifying this setting, expecting it to reflect to the remote cluster's index layout - which isn't the case. The remote index gets created with whatever is dictated by the temp

[2018-05-07 12:37] elasticmachine commented on #30422
Pinging @elastic/es-security

[2018-05-07 12:43] #29302 closed

[2018-05-07 12:45] costin commented on #30386
Hmm  - so it depends. It means I'll keep pester you about it :)

Only so that the answers are consistent. The end result, AFA the driver is concerned, is going to be the same.

Hmmm, This means it can be applied to `SCALED` float but not sure about the `HALF` one.

This note might be relevant:

Got it - I've changed this to `false` (which is actually correct as the spec indicates a primitive shoul

[2018-05-07 13:29] javanna commented on #30417
hi @mixalistzikas  thanks for getting back to me so quickly. I tried to reproduce this but everything look good to me. I have tried the following against 5.4.2:

- create the index:

[code]

- index some documents

[code]

- execute the search against `name.greeklish`

[code]

- 2 documents are returned, as expected

[code]

I would recommend to double check that the index you are querying really

[2018-05-07 13:29] #30417 closed

[2018-05-07 14:05] mixalistzikas commented on #30417
I execute your curls..... and.... Zero results.... Something strange happend here....

This is my Dockerfile

    FROM docker.elastic.co/elasticsearch/elasticsearch:5.4.2

    RUN /usr/share/elasticsearch/bin/elasticsearch-plugin install gr.skroutz:elasticsearch-skroutz-greekstemmer:5.4.2.1
    RUN /usr/share/elasticsearch/bin/elasticsearch-plugin install gr.skroutz:elasticsearch-analysis-greeklis

[2018-05-07 14:12] mixalistzikas commented on #30417
Your example works....  Thank you!!! I will find my bug

[2018-05-07 14:49] jakommo commented on #29163
Hey @rjernst, this isn't about users writing their own service file, but about users running the .tgz in a terminal for playing around / development.
I encountered this several times during our training's (where we use the .tgz), that the file descriptor bootstrap check fails and the instructions we have [here](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/setting-system-settings.htm

[2018-05-07 15:07] ywelsch opened #30424 "Run ESBlobStoreContainerTestCase tests against real blob store implementations"
ESBlobStoreContainerTestCase is an abstract class in test:framework that checks properties that all blob store implementation have to satisfy, for example that writing to a blob that already exists fails.

We currently run these tests only against mock implementations, not the actual services. Running against the actual services would validate that the blob store implementations are compliant to t

[2018-05-07 15:07] elasticmachine commented on #30424
Pinging @elastic/es-distributed

[2018-05-07 15:16] pandrese commented on #24944
@imotov Your proposal for a better error message would help a lot to pinpoint the problem.

It has been a while, but as far as I remember when you set "ignore_malformed" on the type mapping, my expected behavior would be that malformed value should be ignored, and not saved in the document.

[2018-05-07 15:23] pcsanwald opened #30425 "Changelog issue tracking"
our move to using `docs/CHANGELOG.asciidoc` has introduced a number of problems, we can use this meta issue to track various things that need to be fixed.

- [ ] cherry-picks are not clean. [recent change in master](https://github.com/elastic/elasticsearch/commit/beee5fe0043a71fe8967069e3b6200929095106e#diff-297418c07078d2b31d8e94a7d34b5255R110), Here is [how the cherry-pick ended up](https://gith

[2018-05-07 15:25] jesseamancio commented on #28855
I am dealing with this problem and I intend to downgrade ES to a sound release.
Anyone knows which previous version of ES is free of this bug ?

[2018-05-07 15:29] X1Dev opened #30426 "[ERROR] [elasticsearch[_client_][transport_client_boss][T#5]] Netty4Utils [Line:]- fatal error on the network layer"
Having this error for ES transport Client
Java code has  4 gb mem
and ES has  16 gb mem.

its failing  for  processing around 10000 messages/second
How to  solve following  this  issue

2018/05/05 07:03:33.677 [ERROR] [elasticsearch[_client_][transport_client_boss][T#5]] Netty4Utils [Line:]- fatal error on the network layer
        at org.elasticsearch.transport.netty4.Netty4Utils.maybeDie(Netty4U

[2018-05-07 15:49] andyb-elastic commented on #30295
Another similar one

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/2658/console
[build-2658-opensuse.txt](https://github.com/elastic/elasticsearch/files/1980526/build-2658-opensuse.txt)

[2018-05-07 16:35] bpintea commented on #30398
After looking into msqry and delving through postgresql's and mysql's drivers, I've found out that actually `BASE TABLE` would not work at all as argument for this catalog function: they expect `TABLE` only here. Confused (and too late in the process), I checked the [spec](https://docs.microsoft.com/en-us/sql/odbc/reference/syntax/sqltables-function) which states indeed that this argument can only

[2018-05-07 16:37] jasontedor commented on #30426
You didn't give any of the basic information requested in a bug report (version, etc.); it helps us help you when you give as much information as possible in a bug report, at least including the information that we requested in the template.

You're probably running out of memory but without the line from the log message that says `fatal error in thread [{}], exiting` and gives the cause, I can on

[2018-05-07 16:37] #30426 closed

[2018-05-07 16:53] andyb-elastic commented on #30295
And another

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/2660/console
[build-2660-opensuse.txt](https://github.com/elastic/elasticsearch/files/1980709/build-2660-opensuse.txt)

@DaveCTurner do you have a recommendation for any logging I can add to get more information about why the node is failing to process these cluster state events?

[2018-05-07 16:55] jasontedor opened #30428 "Core cache implementation can deadlock"
Here is a stack dump from a failing test:

[code]

I will push the failing test and mark it as awaiting fix by this issue.

[2018-05-07 16:55] elasticmachine commented on #30428
Pinging @elastic/es-core-infra

[2018-05-07 17:25] jdconrad opened #30430 "[CI] IndexUpgradeIT Failures Related to Licensing"
On 6.x the following 5 tests failed:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+release-tests/722/console

IndexUpgradeIT.testIndexUpgradeInfo -- fails consistently

Reproduce:
[code]

Stack:
[code]

IndexUpgradeIT.testIndexUpgradeInfoLicense - fails consistently

Reproduce:
[code]

Stack:
[code]

IndexUpgradeIT.testIndexUpgradeInfoOnEmptyCluster - fails consistently

Repro

[2018-05-07 17:25] elasticmachine commented on #30430
Pinging @elastic/es-core-infra

[2018-05-07 17:55] jdconrad opened #30432 "[CI] SplitIndexIT.testSplitIndexPrimaryTerm Failure on Windows"
Unable to reproduce the failure locally on Arch.  It looks like it may be a Windows file system issue based on the console log.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1612/console

Reproduce:
[code]

Stack:
[code]

[2018-05-07 17:55] elasticmachine commented on #30432
Pinging @elastic/es-core-infra

[2018-05-07 17:56] #23579 closed

[2018-05-07 17:57] DaveCTurner commented on #30295
The logs seem somewhat garbled - messages seem to be duplicated in a funny order. Nonetheless, this bit seems unusually slow:

[code]

On my laptop it takes <1s to make all the templates:

[code]

Perhaps this will shed a little more light into where the time is going:

[code]

[2018-05-07 18:02] cmcconnell1 commented on #29725
Thanks for creating this issue.
We too want to define/create roles with as minimal access as possible.
In this case, specifically for automated snapshots only.

I've read the ES docs, but not seeing what I think we need:
ref: https://www.elastic.co/guide/en/x-pack/6.2/defining-roles.html
ref: https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-roles.html

What I did find o

[2018-05-07 18:08] rjernst commented on #23992
@albertzaharovits I don't think we should add any permissions for this. Catching the security exception and "peeking" at it is one solution we might be able to use in order to give a better error message here, as suggested by @dadoonet. We should at minimum document the limitation (my last solution in the original description).

[2018-05-07 18:18] jdconrad commented on #30430
@jkakavas  Hey Ioannis, please feel free to re-assign this as appropriate, but I thought this might be related to some recent FIPS licensing changes you made.

[2018-05-07 18:31] jdconrad commented on #30301
Another (https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/1859/console)

[2018-05-07 18:36] ebernhardson opened #30433 "Support in-place update for single-valued non-indexed non-stored numeric doc value based fields."
I have a specific use case to push a weekly update to 1B documents of a floating point value. This represents the popularity of an item and is used at query time as part of the scoring calculation. Currently the best solution to this is to push bulk updates along with a script that noop's updates smaller than some amount that is a tradeoff between accuracy and % of index that is deleted and reinde

[2018-05-07 18:37] jdconrad commented on #30430
Another failure (https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/722/console)

[2018-05-07 18:56] jdconrad commented on #30174
Another one (I think):

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-unix-compatibility/os=ubuntu&&virtual/42/console

[2018-05-07 19:38] polyfractal commented on #30232
I haven't been able to replicate this locally yet, but it failed again three days ago with:

[code]

Going to work through the test and see if there's something obviously missing, or where additional logging could be added.

[2018-05-07 19:59] nik9000 commented on #30408
I expect doing this requires some extra dependencies to do the serialization and we have far too many in the high level client as it is. I wonder if we can provide an example of how to do it rather than build it in.

[2018-05-07 20:06] nik9000 commented on #28600
I had it on my list to check that today. Do you want to close this because it is *technically* gone but we've not really figured out the mechanism of action? I'm not 100% comfortable with that but I understand that I can't figure out all the mysteries.

[2018-05-07 20:10] nik9000 commented on #28314
+1. I changed it in the past so it'd parse when I converted the example to `// CONSOLE` so we'd execute it. We have better tools now, so I can revert it so it makes sense again.

[2018-05-07 20:14] jdconrad commented on #30432
Another (https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/1039/console) for 6.x this time.

[2018-05-07 20:26] #1873 closed

[2018-05-07 20:34] jcox commented on #25894
Not being able to specify an individual character like '_' in the edge_ngram tokenizer is particularly painful because the 'standard' ES tokenizer uses the UNIX Text Segmentation Algorithm, which _does_ include '_' as a word char, and it would be nice to be able to index with edge_ngram & search with standard.  Currently, you can't if you have strings like "foo_bar".

[2018-05-07 21:10] jdconrad commented on #29558
Another one: (https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=debian/1039/consoleFull)

[2018-05-07 21:11] jdconrad commented on #30305
I believe this issue is the same as (https://github.com/elastic/elasticsearch/issues/29558).  Closing in favour of the other.

[2018-05-07 21:11] #30305 closed

[2018-05-07 21:53] jpcarey opened #30441 "bootstrap.StartupException NPE using `xpack.watcher.encrypt_sensitive_data`"
**Elasticsearch version**: 6.2.4

**Plugins installed**: x-pack

**Description of the problem including expected versus actual behavior**: org.elasticsearch.bootstrap.StartupException NPE when configuring to use system_key.

**Steps to reproduce**:

 1. Fresh 6.2.4 + x-pack
 2. `$ echo -e "xpack.watcher.encrypt_sensitive_data: true\n$(cat config/elasticsearch.yml)" > config/elasticsearch.yml`
3. `

[2018-05-07 21:54] fbaligand commented on #30408
@nik9000
Well, given the current dependencies, there is already jackson-core, but indeed, it's not enough.
To do json-bean mapping, the only dependency to add is jackson-databinding.

IMO, the idea would be to add the following method to the API, for search :
`T SearchHit.getSourceAsBean(Class<T>)`

And this one to index a document :
`IndexRequest IndexRequest.source(Object source)`

What do you t

[2018-05-07 22:58] jdconrad opened #30443 "[CI] CoreFullClusterRestartIT NotMasterException"
Was unable to reproduce locally.  Pulled the two node log files.

(https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+bwc-tests/39/console)

[full-cluster-restart-node0-part1.log](https://github.com/elastic/elasticsearch/files/1981732/full-cluster-restart-node0-part1.log)
[full-cluster-restart-node0-part2.log](https://github.com/elastic/elasticsearch/files/1981735/full-cluster-resta

[2018-05-07 22:58] elasticmachine commented on #30443
Pinging @elastic/es-distributed

[2018-05-07 22:59] dnhatn commented on #29488
@danopia Thanks again. I think we have figured out the source of the issue and fixed it in https://github.com/elastic/elasticsearch/pull/30244. @bleskes WDYT?

[2018-05-07 23:14] LeeDr opened #30444 "[DOC] inconsistency with my_backup examples"
**Elasticsearch version** (`bin/elasticsearch --version`): Docs issue with
https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html

**Description of the problem including expected versus actual behavior**:

The **Repositories** section includes a few examples referencing `my_backup` like
`PUT /_snapshot/my_backup`
and
`GET /_snapshot/my_backup`

But in the **Shared F

[2018-05-07 23:15] jdconrad opened #30445 "[CI] TransportSamlLogoutActionTests.testLogoutInvalidatesToken PrivilegedActionException"
Was able to reproduce locally.

Reproduce:

[code]

Stack:

[code]

[2018-05-07 23:15] elasticmachine commented on #30445
Pinging @elastic/es-security

[2018-05-07 23:16] jdconrad commented on #30445
@tvernum Please feel free to re-assign as appropriate - noticed you were the last one with changes to these tests I believe.

[2018-05-07 23:40] jdconrad commented on #30432
Another (https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1613/console)

[2018-05-07 23:51] nik9000 commented on #30408
I still think we'd be better off giving examples of how to do it. `jackson-databinding` isn't something I want to force on folks.

[2018-05-07 23:52] dnhatn commented on #29488
You can fix the affected indices by rebuilding its replicas. This can be done by changing the `number_of_replicas` to 0 then restore to the original value.

[2018-05-08 00:00] tvernum commented on #30445
This is due to https://github.com/elastic/x-pack-elasticsearch/issues/2815
We have a workaround in most of the SAML tests, it looks like this one got missed.

Will fix.

[2018-05-08 00:39] dadoonet commented on #30408
It can be marked as optional IMO. So by default people won't have it but if they want to use methods Fabien proposed, they will need to explicitly add the dep in their project.
It also can be a SuperHighLevelClient :) (like what the .Net team has IIRC)

[2018-05-08 01:31] dnhatn commented on #29488
@danopia This is really fixed by https://github.com/elastic/elasticsearch/pull/30244. I hope you don't mind if I close this but feel free to reopen. We really appreciate your cooperation here.

[2018-05-08 01:31] #29488 closed

[2018-05-08 05:00] animageofmine commented on #8939
Thank you @cbuescher. Is there a plan to support it in future?

[2018-05-08 06:53] jtibshirani opened #30448 "Rendered search templates are allowed to be incorrectly formatted."
**Elasticsearch version** (`bin/elasticsearch --version`): 6.3.0

**Description of the problem including expected versus actual behavior**:
When issuing a request to render a search template, it doesn't seem as though inline scripts are verified to be well-formatted. When provided with a malformed script, the render template endpoint returns a successful response containing the invalid script.

It

[2018-05-08 06:58] fbaligand commented on #30408
I like @dadoonet suggestion : add Jackson-databinding as an optional dependency.
Like this, user can choose to add or not the dependency.

[2018-05-08 07:51] cbuescher commented on #8939
@animageofmine yes, this issue is still open. It's not a trivial change though, and since we are moving from joda-time to the new time library in java, I don't expect it to happen before that move.

[2018-05-08 08:10] elasticmachine commented on #30448
Pinging @elastic/es-search-aggs

[2018-05-08 08:11] elasticmachine commented on #30444
Pinging @elastic/es-distributed

[2018-05-08 08:11] elasticmachine commented on #30441
Pinging @elastic/es-core-infra

[2018-05-08 08:13] elasticmachine commented on #30433
Pinging @elastic/es-core-infra

[2018-05-08 08:13] elasticmachine commented on #30425
Pinging @elastic/es-core-infra

[2018-05-08 08:27] spinscale commented on #30441
Just to make sure I properly understand: Did you leave out `bin/elasticsearch-keystore add-file xpack.watcher.encryption_key <filepath>/system_key` on purpose or is the exception thrown the bug you reported, when you did not call this?

[2018-05-08 08:45] larschri opened #30449 "transport_serialization_exception in _nodes API with gcs.client.default.credentials_file"
**Elasticsearch version** (`bin/elasticsearch --version`):

sudo /usr/share/elasticsearch/bin/elasticsearch --version
Version: 5.5.2, Build: b2f0c09/2017-08-14T12:33:14.154Z, JVM: 1.8.0_144

**Plugins installed**: [repository-gcs]

**JVM version** (`java -version`):
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, m

[2018-05-08 08:55] jpcarey commented on #30441
@spinscale intentionally skipped adding the system_key to the keystore. I
would expect an error that it wasn’t properly configured, rather than a NPE.
On Tue, May 8, 2018 at 2:28 AM Alexander Reelsen <notifications@github.com>
wrote:

[2018-05-08 08:57] bleskes commented on #30443
@DaveCTurner , @ywelsch can one of you maybe look at this?

[2018-05-08 09:02] ywelsch opened #30451 "To fork or not to fork (javac)"
In order to speed up compilation on CI I think we should stop forking the java compiler. My tests on a 6 core machine show that this could give us a 2x speed-up.

Not forking for compilation:
[code]

Forking for compilation:
[code]

The code where we do forking has the comment

but I have not seen such issues. If we run `./gradlew clean compileJava compileTestJava --parallel` in a separate build s

[2018-05-08 09:02] elasticmachine commented on #30451
Pinging @elastic/es-core-infra

[2018-05-08 09:31] albertzaharovits commented on #23992
@rjernst understood, thanks for rephrasing it, looks more actionable now!
I was trying to provide a hussle free alternative for the folks running ES on google compute by leveraging the `doPrivileged` in Java 8.

[2018-05-08 10:20] shaopro opened #30452 "TTL deprecated"
TTL is awesome feature,however,it was deprecated  in V5 and I can not find a replacement(new feature) .Could anybody provide docments or solutions?
Thanks

[2018-05-08 10:29] dadoonet commented on #30452
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-05-08 10:29] #30452 closed

[2018-05-08 10:30] colings86 commented on #29328
@rationull I left comments on the PR and set it for CI testing

[2018-05-08 11:40] jasontedor commented on #30443
@ywelsch This only needs a backport of #30337. I will do this now.

[2018-05-08 11:42] bleskes commented on #30449
Thanks for reporting. I can confirm this is a problem in 5.2.2 and it reproduces nicely (thanks!). I can also confirm this isn't an issue any more with 5.6.5. I tried to find the changed that fixed this but failed. These things are very tricky and the problem is typically far from where the exception occurs. I'm going close this as fixed. I suggest you upgrade to avoid this. If it keeps occurring

[2018-05-08 11:43] jasontedor commented on #30443
Closed by fed949e0b8566760b65a09ffd17b63240fba2723

[2018-05-08 11:43] #30443 closed

[2018-05-08 11:47] DaveCTurner commented on #28906
The field name `ip_ip_addr` suggests you may be generating your data using an old version of `tshark` which had [a bug in its Elasticsearch output](https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12958#c55) that's now fixed.

[2018-05-08 12:10] DaveCTurner commented on #30449
I think it could have been https://github.com/elastic/elasticsearch/pull/25323.

[2018-05-08 13:13] #30148 closed

[2018-05-08 13:29] bleskes commented on #30449
@DaveCTurner confirmed. 5.5.3 fixes it. Thanks for the link,

[2018-05-08 13:33] DaveCTurner opened #30455 "Node filters are undocumented"
The [introduction to the cluster APIs reference documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster.html) indicates that it's possible to filter the target nodes and gives some examples of how to do so, but there seems to be no comprehensive description of all the possibilities here. In particular, the special filters `{data,master,ingest}:{true,false}` are not d

[2018-05-08 13:33] elasticmachine commented on #30455
Pinging @elastic/es-core-infra

[2018-05-08 13:34] atorok opened #30456 "UpgradeClusterClientYamlTestSuiteIT fails intermittently"
Discovered while building `#30367` [Failed](https://gradle.com/s/54rh47i5qtii2)

Reproducible using :
[code]
Saw different failures while trying to reproduce it in isolation:

[code]
and
[code]
First failure reproduced 3 times for, the second one only once, and got 3 successful runs as well.

[2018-05-08 13:34] elasticmachine commented on #30456
Pinging @elastic/es-distributed

[2018-05-08 13:44] jasontedor commented on #30456
These look like ML issues, I am reassigning.

[2018-05-08 13:44] elasticmachine commented on #30456
Pinging @elastic/ml-core

[2018-05-08 14:50] jasontedor commented on #30451
I raised #30462.

[2018-05-08 14:51] elasticmachine commented on #30449
Pinging @elastic/es-distributed

[2018-05-08 15:38] davidkyle commented on #30432
Another instance https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1615/console

[code]

But with different errors in the log file

[code]

[2018-05-08 15:54] imotov commented on #24944
That is the behaviour. As I tried to explain above `["5", "55.5"]` are parsed as 2 geohashes. The first geohash `5` is correct and stored as a geopoint `70°00'00.0"S 39°00'00.0"W` (geohash `50000`). The second value `55.5` is an incorrect geohash - it used to produce a confusing error `illegal latitude value [269.12109375] for loc`, after I merged #30376 it produces a more meaningful error `unsupp

[2018-05-08 15:58] dimitris-athanasiou opened #30464 "[ML] Improve log message when job is relocating"
When a job/datafeed is relocated there is a log warn message that looks like:

[code]

This comes from `DatafeedNodeSelector`.

Arguably, this is an ambiguous wording as opposed to something along the lines of:

[code]

I suggest rewording this message to make it clear why a datafeed cannot start.

[2018-05-08 15:58] elasticmachine commented on #30464
Pinging @elastic/ml-core

[2018-05-08 16:11] #30449 closed

[2018-05-08 18:44] MorrieAtElastic commented on #13913
The "nyc_restaurants" index in the Example demos in github is built by copying a tar'd snapshot directory onto a customer's server and then defining a repository and snapshot using that data and then restoring the index. See https://github.com/elastic/examples/blob/master/Exploring%20Public%20Datasets/nyc_restaurants/README.md#option-1-load-data-by-restoring-index-snapshot.

So I find myself confu

[2018-05-08 20:13] #30451 closed

[2018-05-08 20:28] polyfractal opened #30467 "[Rollup] Ordering by sub-agg fails due to name rewriting"
If an aggregation tries to order by a sub-aggregation, RollupSearch will fail because we rewrite the aggregation name internally (`foo` might be rewritten to `foo.max.value`).  For example:

[code]

Will throw:

[code]

This is trivially fixable for most of the metrics, we just need to do the rewriting.  I'm not quite sure how this will work for averages though, since an avg == two metrics which w

[2018-05-08 20:28] elasticmachine commented on #30467
Pinging @elastic/es-search-aggs

[2018-05-08 21:03] mellieA commented on #30344
@tvernum I  realize this is a similar but issue than #3950, any idea if there is any sort of workaround for a customer waiting to go into Prod for this?

[2018-05-08 21:28] krshnmr4 opened #30469 "Elasticsearch cluster zen.discovery.fd.ping_retries and zen.discovery.fd.ping_timeout not behaving as expected"
**Elasticsearch version** (2.4):

**Plugins installed**: []

**JVM version** (1.8.0_162):

**OS version** (Alpine 4.1.20 container):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

I have a 2 node cluster master_nodes = 2 and minimum master nodes=1 with zen.discovery.fd.ping_retries set to 12000 in order to tolerate extended network outages.

I

[2018-05-08 21:32] bpintea commented on #30398
Postresql's ODBC driver will only allow return results for `SYSTEM TABLE`, `TABLE`, `VIEW`, `FOREIGN TABLE`, as standard table types and `MATVIEW`, as specific type.
Anything else will be ignored; this is explicitly commented in the code: `NOTE: Unsupported table types (i.e., LOCAL TEMPORARY, ALIAS, etc) will return nothing`.

In a setup where MS Query connects to MS SQL Server through FreeTDS (ov

[2018-05-09 02:03] tvernum commented on #30344
The only workaround that I'm aware of is to not use secure settings with monitoring.
For now, the key(store) passwords would need to be kept in `elasticsearch.yml`

[2018-05-09 03:03] tvernum commented on #30445
This is because fb8adb4a1c6c3d8a4f8074dbffae7ee92e97e1cd didn't get backported correctly to 6.3/6.x.

I have now backported them as
- ae5ac44
- 485af9e

[2018-05-09 03:03] #30445 closed

[2018-05-09 03:04] jasontedor commented on #30469
There is a misunderstanding here. The timeout is about how long to wait if the node never replies, and the retry is how many times to retry after a timeout. If the socket breaks though, that's not a timeout, the connection to the node is broken. That's what you're seeing here. This isn't a bug.

Also, I notice that your IP address suggest that you're spanning a large geographical area and we do no

[2018-05-09 03:04] #30469 closed

[2018-05-09 03:41] krshnmr4 commented on #30469
@jasontedor That doesn't make sense to me. If you notice the timestamps, there is a 15 minute difference between when the nodes clustered and when they broke out of cluster.
Are you saying that the socket timeout is 15 minutes?

What is the actual utility for zen.discovery.fd.ping_retries and ping_timeout then?

Also, my nodes are right next to each other. Not geographically separated as you sugge

[2018-05-09 04:49] antonpious commented on #30162
Seems design wise the logic is correct. You are saying that by default both the primary and secondaries should be [allocated](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/shards-allocation.html#_shard_rebalancing_settings)  before the shard movement. If this is the case, why do we even need to set this setting.
`"cluster.routing.allocation.enable":` "none"
The cluster should first t

[2018-05-09 05:03] tvernum commented on #30162
"cluster.routing.allocation.enable": "none"
The cluster should first try to do what is the default, what else can cause the shard movement?

Forming a cluster is not an atomic step.

Assume you have a 5 node cluster, where all nodes are master eligible, and `minimum_master_nodes` is set 3 to (the recommended value for a cluster of that topology).

Then you have a working, viable cluster as soon as

[2018-05-09 05:29] antonpious commented on #30162
Yep, finally the details !!!, your explanation clearly explains the behavior that is happening.

We have a 7 node cluster and depending on the master setting  either 3 or 5 the cluster is formed and as soon as its formed the cluster is thinking and making its decision assuming something drastic has happened to the cluster and it needs to bring itself alive as fast as possible.

This also explains

[2018-05-09 05:40] intrakislay opened #30472 "Automatic merge of segments not happening"
I use Elasticsearch 5.4 . We have a lot of adds/edits/deletes. The Elasticsearch should be able to keep merging the segments.
But we see that number of deleted documents keep on increasing and the segments are not getting merged. We need to do force merge.
Many a time i see , deleted doc count > 60% and even after weeks, it doesnot automatically recover from this unless we do force merge on that i

[2018-05-09 06:33] ywelsch commented on #30162
Have a look at the [`recover_after_*` settings](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-gateway.html)

[2018-05-09 06:44] DaveCTurner commented on #30162
This thread is becoming increasingly off-topic for Github which we prefer to keep for bug reports and much more specific feature requests. There's not obviously any action required here and there seems to be some misunderstandings about how Elasticsearch is designed. I suggest we move to a thread on https://discuss.elastic.co to explore this further and only return to Github if a particular issue

[2018-05-09 06:44] #30162 closed

[2018-05-09 07:08] jamesspi opened #30474 "Feature Request - Add support for onezone_ia storage class in repository_s3 plugin"
Hi all,

Can support for the "onezone_ia" storage class be added to the repository_s3 plugin?

Thanks!
James

[2018-05-09 07:17] elasticmachine commented on #30474
Pinging @elastic/es-distributed

[2018-05-09 07:18] elasticmachine commented on #30472
Pinging @elastic/es-core-infra

[2018-05-09 07:25] dadoonet commented on #8939
Where did you see that quarter are or could be supported?

[2018-05-09 07:34] jpountz commented on #30433
We haven't exposed updateable doc values in Elasticsearch because they provide a trade-off that is hard to reason about. For instance say you update a single value of a single document. The next refresh will need to rewrite doc values for the entire segment that contains this document. If it would get exposed, there are chances that such updateable fields would be used for things like view counter

[2018-05-09 07:35] te701 commented on #25305
@mlasak many thanks for the information : I have copied a test envirronment to prepare the production system including the data folder and cluster wasn't working ..
Removing the data folder and restart of elasticsearch made the job.

[2018-05-09 07:41] #29282 closed

[2018-05-09 07:45] MorrieAtElastic commented on #13913
OK: it has been explained to me that what this enhancement is requesting is the ability to selectively identify a few snapshots within a repository and copy only them. What is being done in the nyc_restaurants example demo is that the entire repository is being moved.

Incidentally, I think the enhancement request has value and I would like to see it implemented.

[2018-05-09 07:45] #13913 closed

[2018-05-09 07:59] atorok opened #30475 "Gradle deprication warnings arround task inputs, outputs and mainClassName"
Running the build with `-Dorg.gradle.warning.mode=all --warning-mode=all`
produces:
[code]

[2018-05-09 07:59] elasticmachine commented on #30475
Pinging @elastic/es-core-infra

[2018-05-09 08:01] atorok opened #30476 "Gradle deprecation warnings: detecting annotation processors on the compile classpath"
Running the build with `-Dorg.gradle.warning.mode=all --warning-mode=all` produces:

[code]

[2018-05-09 08:01] elasticmachine commented on #30476
Pinging @elastic/es-core-infra

[2018-05-09 08:05] luxiaoxun opened #30477 "How to use the Java API to build an Aggregation from JSON in 6.2.4 ?"
In old version, we can do this:
[code]
But in 6.2.4, we only have these 2 APIs:
[code]
How to make the "set aggregation" from JSON string work correctly?
Thanks.

[2018-05-09 08:18] tlrx commented on #30444
Thanks @LeeDr, I created #30480

[2018-05-09 08:27] dadoonet commented on #30477
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-05-09 08:27] #30477 closed

[2018-05-09 08:40] davidkyle commented on #30456
Failures have been spotted on the 6.x and master branches. All failures on master occurred upgrading from 6.4 and on 6.x upgrading from 6.2.1, 6.2.3, 6.2.5 and 6.3.0.

I pulled the logs for one instance a unfortunately they don't provide much insight without debug level logging.

[mixedcluster.log](https://github.com/elastic/elasticsearch/files/1987005/mixedcluster.log)
[oldcluster.log](https://gi

[2018-05-09 08:48] spinscale opened #30481 "Watcher: Support reloadable keystore"
The [reload-secure-store-action feature branch](https://github.com/elastic/elasticsearch/tree/reload-secure-store-action) adds support for a reloadable keystore.

Watcher uses keystore settings for [Slack](https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/slack/SlackService.java#L31-L33), [Hipchat](https://github.c

[2018-05-09 08:48] elasticmachine commented on #30481
Pinging @elastic/es-core-infra

[2018-05-09 09:00] #24069 closed

[2018-05-09 09:04] askids opened #30482 "Elasticsearch windows service fails to register service stoppage event"
hi,

**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.1
**Plugins installed**: [X-pack basic, Readonlyrest 1.16.15, Search Guard SSL]
**JVM version** (`java -version`): JRE 64bit
java version "1.8.0_152"
Java(TM) SE Runtime Environment (build 1.8.0_152-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.152-b16, mixed mode)

**OS version** (`uname -a` if on a Unix-like system): Windows

[2018-05-09 09:06] droberts195 commented on #30456
I think the problem is one that we've had intermittently for ages.  I imagine something has recently changed elsewhere in ES or the test infrastructure that makes it more likely that a bug that has existed basically forever to be triggered.

To summarise we've had two theories about what might cause this:

1. Our results index has `async` durability.  We've done testing in the past that shows this

[2018-05-09 09:06] colings86 commented on #8939
@animageofmine @dadoonet quarters are indeed supported but only when using the interval `quarters` or `1q` you cannot use `3M` as quarters. 6 months would be possible to implement if we added a `half-year` option but we don't want to add loads of different options like that as it makes things pretty complicated.

Instead we would like to support arbitrary calendar intervals. The problem is that wi

[2018-05-09 09:11] dadoonet commented on #8939
Oh? Then I'm curious as well on how quarters are implemented? Specifically with years having a Feb 29th day.

[2018-05-09 09:27] dadoonet commented on #8939
Great explanation. Thanks @colings86

[2018-05-09 09:58] elasticmachine commented on #30482
Pinging @elastic/es-core-infra

[2018-05-09 09:58] jpountz commented on #30482
cc @elastic/microsoft

[2018-05-09 11:14] #28831 closed

[2018-05-09 12:27] #28885 closed

[2018-05-09 12:59] cjolif commented on #28885
which version(s?) of Elasticsearch will contain that fix?

[2018-05-09 13:05] ywelsch commented on #30456
How is that possible? I'm not aware of any option in ES that would allow you to only wait on acknowledgement from the primary.

[2018-05-09 13:05] bleskes commented on #30456
@droberts195 I'm not sure what you mean with:

ES does it all the time. Do you mean you don't ensure all replicas are fully allocated?

[2018-05-09 13:36] droberts195 commented on #30456
Yes, sorry, this is what I meant.  I think we need to add a `wait_for_active_shards=all` on some of our indexing operations.

[2018-05-09 13:39] bleskes commented on #30416
I muted the entire suit as we have similar failures in many tests.

[2018-05-09 13:41] bleskes commented on #30456
@droberts195 double checking, but you mean in tests only, right? I'm not sure that's the right move for production.

[2018-05-09 13:41] bleskes commented on #30432
closing in favour of #30416

[2018-05-09 13:59] #30432 closed

[2018-05-09 14:03] droberts195 commented on #30456
@bleskes if `wait_for_active_shards=all` is wrong for production then the way we could probably solve this in the tests is to wait for green status after each of the "old cluster" tests.  That should guarantee that both the primary and replica for our results index exist before we kill one of the nodes.

Our results index is created on demand from a template when the first result is indexed, and t

[2018-05-09 14:11] imotov commented on #17506
I have discussed this issue with @jdconrad. It looks like the most optimal way to deal with this issue is to address it as part of #24946. So, I am going to close it.

Superseded by #24946

[2018-05-09 14:11] #17506 closed

[2018-05-09 14:18] abarke commented on #16994
Setting this environment variable (via ES_JAVA_OPTS) saved my nuts!

`-Djava.net.preferIPv4Stack=true`

I was trying to get a elasticsearch 5.5 docker image working in Heroku and it was always trying to bind to a ipv6 bound_address. This would result in the following error:

`Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch`

After setting this value it f

[2018-05-09 14:42] bleskes commented on #30456
+1.  The problem with `wait_for_active_shard=all` in production is that it will block indexing when a node dies and a shard copy is lost until the it is completely rebuilt on another node (which may not exist). I think this is not acceptable.

[2018-05-09 14:57] alaphoid opened #30486 "The settings.index.mapping settings from the index template are not always being applied on index creation"
I am currently running the ELK stack ver 6.2.2 with x-pack on CentOS 7.x and I have been randomly seeing this issue on the three clusters I run that need a greater than 1000 total_fields.limit value.  Most days the index gets created with our set limit of 3000 and randomly it does not.  We created a monitor watching the Logstash logs for errors about the 1000 field limit.  Here is an example from

[2018-05-09 15:02] ywelsch commented on #22993
Fixed by #30423, in particular https://github.com/elastic/elasticsearch/pull/30423/files#diff-495f5ad1cf8822630b8ab7779926d8beR136 where we now don't expand `number_of_replicas` when an index is closed.

[2018-05-09 15:02] #22993 closed

[2018-05-09 15:07] elasticmachine commented on #30486
Pinging @elastic/es-core-infra

[2018-05-09 15:09] jpountz commented on #30486
Do I get it right that the total field limit setting doesn't get applied, but that other settings DO get applied? I'm also wondering whether you have several templates that match your index names, or only the `logstash` one?

[2018-05-09 15:29] alaphoid commented on #30486
Correct, the rest of the settings in the index template are applied successfully, and most days the field limit is as well.  I did output all the index templates and go through them, this is the only one that applies to logstash-*

[2018-05-09 16:13] alaphoid commented on #30486
Here is all the templates that exist on this setup:

$ curl -XGET 127.0.0.1:9200/_template
{".monitoring-logstash":{"order":0,"version":6020099,"index_patterns":[".monitoring-logstash-6-*"],"settings":{"index":{"format":"6","codec":"best_compression","number_of_shards":"1","auto_expand_replicas":"0-1","number_of_replicas":"0"}},"mappings":{"doc":{"dynamic":false,"properties":{"cluster_uuid":{"type

[2018-05-09 16:53] #28843 closed

[2018-05-09 16:59] jpountz commented on #28727
I agree this is a good idea. Unfortunately today queries and aggregations are kept completely unaware of each other so this would be hard to implement without adding unwanted dependencies.

Something less efficient than your proposal but that should cover a number of cases already would be to look at the min/max values that exist within the current shard and apply the optimization that you describ

[2018-05-09 17:04] jamieswogger opened #30488 "geo_polygon query using point does not properly validate longitude values"
**Elasticsearch version** (`bin/elasticsearch --version`): `5.6.3` (bug also appears to be on master)

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_161

**OS version** (`uname -a` if on a Unix-like system): Darwin

**Description of the problem including expected versus actual behavior**:
When using a `geo_polygon` query using points, I would expect any lon value `< -180` or

[2018-05-09 17:38] imotov opened #30489 "SQL: Add ability to specify NULL values in csv-spec tests"
I tried to write a csv-spec test today where one of the `string` columns was supposed to contain a `null`. It seems that there is no way to do it on the csvjdbc level, and the [feature request](https://sourceforge.net/p/csvjdbc/feature-requests/22/) for it is  almost a decade old. Should we disegnate some special value for string columns that would be treated as `null` during comparison instead of

[2018-05-09 17:38] elasticmachine commented on #30489
Pinging @elastic/es-search-aggs

[2018-05-09 17:41] bpintea commented on #30398
Issue described in .2 above addressed in https://github.com/bpintea/elasticsearch-sql-odbc/commit/13f4883cdb706a423d1a763969345cd61f23a64a

[2018-05-09 17:46] polyfractal commented on #29696
Think this was accidentally re-opened.  Closing.

[2018-05-09 17:46] #29696 closed

[2018-05-09 17:52] elasticmachine commented on #29994
Pinging @elastic/es-core-infra

[2018-05-09 18:27] jasontedor commented on #29994
We are doing this, closing.

[2018-05-09 18:27] #29994 closed

[2018-05-09 18:38] javanna commented on #28885
@cjolif See the labels in the corresponding PR (#29329). The fix will be in 6.3.1 .

[2018-05-09 19:54] ycombinator opened #30493 "Beats central management: index templates and built-in roles"
We are starting on a Central Management feature for Beats (https://github.com/elastic/beats/issues/7028). This will be an X-Pack feature and will require certain elements in X-Pack Elasticsearch, specifically:

### Index Templates

An index template for an internal index, say `.management-beats-agents`, that will be used to persist information from Beats agents when they enroll themselves or updat

[2018-05-09 19:54] elasticmachine commented on #30493
Pinging @elastic/es-security

[2018-05-09 20:27] nik9000 commented on #30489
We certainly can. I've wondered for a while if we aren't just better off
writing h2 based tests where the query we run in h2 doesn't match the es
one. I suppose it might be worth it if csvjdbc isn't getting maintained.

On Wed, May 9, 2018, 1:38 PM Elastic Machine <notifications@github.com>
wrote:

[2018-05-09 20:40] elasticmachine commented on #30488
Pinging @elastic/es-search-aggs

[2018-05-09 21:00] nik9000 commented on #30489
@imotov reminds me that we've had this conversation a few times before and decided against it each time. csvjdbc will get the job done. Yes, we can special case something like the string `:null:`.

[2018-05-09 21:45] imotov commented on #30488
Tested it in 6.x and it looks like the query with invalid longitude actually fails but with a quite convoluted error that is generated during polygon validation.

[2018-05-09 23:12] cmcconnell1 commented on #29725
Ran this by Elastic support and got the below validation / elastic API command and the reference to this issue.

Hopefully the below saves others some time as it wasn't clear to me what specific cred's and syntax were required for creating a snapshots user/role.
[code]

It would be very helpful to have requisite cred's like the above documented in the ES snapshot/roles docs.
I searched. but didn't

[2018-05-10 01:19] talevy opened #30503 "[CI] IntegTestZipClientYamlTestSuiteIT indices.split fails on windows tests"
Two rest tests keep failing due to timeouts on multijob-windows-compatibility.

links:

- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1620/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/1047/console

reproduce:

[code]

Only `test {p0=indices.split/20_source_mapping/Split index ignor

[2018-05-10 01:19] elasticmachine commented on #30503
Pinging @elastic/es-core-infra

[2018-05-10 01:33] jasontedor commented on #30503
I suspect this is the same as #30416; these tests should be skipped and folded into that single issue.

[2018-05-10 01:42] talevy commented on #29558
this has failed again:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux/2422/console

It has failed 12 times in the last 30 days. I am AwaitsFix'ing it for `master` and `6.x`.
It has also failed on `6.3`, but I am not sure whether it warrants muting it there, if others disagree
I'll add that too

[2018-05-10 02:29] talevy commented on #24931
This popped up again on current master:

reproduce with:

[code]

[code]

[2018-05-10 02:48] talevy commented on #30503
@jasontedor woops, didn't see the connection. I'll update the awaitsfix bugUrl links later and close this issue in favor of the other

[2018-05-10 03:25] tvernum opened #30505 "Add expire-after-write to roles cache"
The current [role store cache](https://github.com/elastic/elasticsearch/blob/72052c7/x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/CompositeRolesStore.java#L104-L109) has no automatic expiry except if full (which will rarely happen).

However that means that any inconsistencies that somehow find their way into the cache (through bugs, poorly timed node failures,

[2018-05-10 03:25] elasticmachine commented on #30505
Pinging @elastic/es-security

[2018-05-10 03:30] tvernum commented on #30505
Regarding _poorly timed node failures_:

We execute an acction to clear entries from the cache after they are updated in the native store
[(source)](https://github.com/elastic/elasticsearch/blob/72052c717a55ab189d8d8bc7029dc1c5d13aadb5/x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authz/store/NativeRolesStore.java#L196) but if the update occurs, and then the node fails, it'

[2018-05-10 04:05] tvernum commented on #30505
@bizybot
The `IndexOutOfDateChange` (which is being refactored by #30466, but the concept will still exist) is only dealing with index metadata. It captures the internal version marker of the index, to assist in upgrading etc. It does not change when the data inside the index changes.

At the moment, because we _theoretically_ (*) replicate the security index to every node, each node knows when th

[2018-05-10 04:29] talevy opened #30506 "[CI] InternalExtendedStatsTests.testReduceRandom fails assertion"
https://github.com/elastic/elasticsearch/issues/24931 popped up again on current master:

reproduce with:

[code]

[code]

[2018-05-10 04:29] elasticmachine commented on #30506
Pinging @elastic/es-search-aggs

[2018-05-10 04:46] talevy opened #30507 "[CI] SharedClusterSnapshotRestoreIT.testSnapshotSucceedsAfterSnapshotFailure fails"
This test reminds me of older SharedClusterSnapshotRestoreIT failure on CI, but what is unique about
this one is that it just recently popped up. Although it has only been encountered twice in CI in the past 90 day, those two times were this week.

link to CI:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=debian/1047/console

reproduce step:

[co

[2018-05-10 04:46] elasticmachine commented on #30507
Pinging @elastic/es-distributed

[2018-05-10 06:16] tvernum commented on #29755
_Note, this issue is specifically about how to make X-Pack based SSL config available in `_reindex`, not general reindex/SSL questions _

I propose that we do something based around the following

-  *Not* use `xpack.ssl.*` settings because:
   1.  these tend to interfere with other X-Pack features (like watcher connections to https URLs), which prompted us to change the docs in 42f9a990d17c220766

[2018-05-10 06:17] tvernum commented on #29755
ping: @elastic/es-security , @joshbressers , @eskibars

[2018-05-10 06:55] GounGG opened #30508 "es 5.5 update to es 6.6"
Error log:
[code]

elasticsearch source code:
[code]
请问这是版本升级引起的问题，还是传入type时使用了多个？
Is this a problem caused by version upgrade or is it used more than when you pass in type?

Thank you

[2018-05-10 07:02] tvernum commented on #30508
Could you please ask this question on our [discuss forum](https://discuss.elastic.co/c/elasticsearch) where we can provide better support. Those forums are designed to support the kinds of conversations that are necessary for this sort of troubleshooting and problem diagnosis.

Elastic uses GitHub issues for tracking clearly identified bugs and feature requests. Since there is no specific bug iden

[2018-05-10 07:02] #30508 closed

[2018-05-10 09:08] dynaxis commented on #22811
I reached here while considering use of CBOR or SMILE, since it was not clear from the docs whether they are supported in the Java REST clients.

Since I'm using my own binary encoding of docs in a separate stored field other than `_source` (FYI, it's similar to Google's FlatBuffers in spirit. I access some parts of the docs in the client side without parsing due to heavy client-side filtering and

[2018-05-10 09:16] DaveCTurner commented on #10793
I found a trap:

https://github.com/elastic/elasticsearch/blob/4b319d715183114efe56c3cd94202724e0fb963c/server/src/main/java/org/elasticsearch/repositories/RepositoriesService.java#L201-L204

This is checked twice in `MasterService.AckCountDownListener`: once in the constructor and once in `onNodeAck()`. We rely on the return value not changing in between those two calls.

This is, of course, surm

[2018-05-10 09:34] bleskes commented on #30507
@tlrx @ywelsch can one of you have a look?

[2018-05-10 09:52] genafox commented on #11947
Hi,
I`ve got the same error on elasticsearch 6.2.4:

Index:
`PUT phrase-suggester-test-index
{
  "settings": {
    "index": {
      "number_of_shards": 1,
      "analysis": {
        "analyzer": {
          "trigram": {
            "type": "custom",
            "tokenizer": "standard",
            "filter": [
              "standard",
              "shingle"
            ]
          },
          "r

[2018-05-10 10:29] Lee-Think opened #30515 "Question about BigDecimal"
I want to store decimal value into elasticsearch, but i found it's not supported. Why elasticsearch doesn't support this operation? And is there any way to store it?

[2018-05-10 10:45] jacool commented on #29561
We really see this as a bug rather than enhancement. Because when we search for a phrase and two highlights come back we would erroneously assume the phrase appears twice in the text. Moreover, our customers would be disappointed if clicking on the second highlight brought them to the same point in the text they've visited a second ago by clicking on the first highlight.

[2018-05-10 11:04] bodgit commented on #26961
I've just run into this same issue with a similar use case as https://github.com/elastic/elasticsearch/issues/26961#issuecomment-335770657; if I have two (or N) clusters that reference each other for CCS then if all clusters are stopped then they can never start. If I'm putting down the `elasticsearch.yml` with CM tooling then I'd prefer to be able to set the remote clusters in the configuration f

[2018-05-10 12:36] matt-isett opened #30517 "[DOC] Docker recommendation should be moved to Docker getting started section"
**Elasticsearch version** (`bin/elasticsearch --version`):
Current

**OS version** (`uname -a` if on a Unix-like system):
Docker

**Description of the problem including expected versus actual behavior**:
A Docker recommendation related to MEMLOCK was mentioned in a low level issue comment. This setting can have improved performance for running docker and should be added to the [Notes](https://www.

[2018-05-10 12:37] jkakavas commented on #30515
I'm going to close this since the relevant discussion happens in https://github.com/elastic/elasticsearch/issues/17006

[2018-05-10 12:37] #30515 closed

[2018-05-10 13:29] jasontedor commented on #30517
@matt-isett I am confused what is being asked for here that is not already in the docs? From the notes section that you link to:

[code]

This mentions `memlock`, this links to the [disable swapping](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/setup-configuration-memory.html) section of the Elasticsearch docs, and this includes Docker-specific instructions. What specifically do you

[2018-05-10 14:24] bpintea opened #30521 "SQL: SYS TYPES result ordering"
**Elasticsearch version**: master @ 65dbc17510

ODBC specifies the [order](https://docs.microsoft.com/en-us/sql/odbc/reference/develop-app/retrieving-data-type-information-with-sqlgettypeinfo) in which to return the [supported data source types](https://docs.microsoft.com/en-us/sql/odbc/reference/syntax/sqlgettypeinfo-function) back to the application: `the sort order [...] can be generalized as D

[2018-05-10 14:29] trippd6 commented on #21101
+1

[2018-05-10 15:06] dliappis commented on #30517
@jasontedor @matt-isett is asking a different thing here. Our existing documentation describes how to set `memlock` to unlimited **inside the container**, however, this will inherit the defaults that the Docker (systemd) service got started with. The `docker` systemd unit file does not set `LimitMEMLOCK`, so it inherits whatever is the systemd default (or things like `user@.service`) which _may_ e

[2018-05-10 15:14] #30488 closed

[2018-05-10 15:30] jasontedor commented on #30517
Thanks for clarifying @dliappis. A few comments:
 - we should not be recommending editing unit files, but instead adding an unit override (e.g., in `/etc/systemd/system/docker.service.d/`).
 - as the [disable swapping](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/setup-configuration-memory.html) that I link to mention, memory locking is not our preferred option, so we should be care

[2018-05-10 15:31] elasticmachine commented on #30517
Pinging @elastic/es-core-infra

[2018-05-10 16:05] matt-isett commented on #30517
@jasontedor thanks - fair enough. After reviewing the links; and testing out either style of settings limits, it achieves the same value. Closing the ticket.

[2018-05-10 16:43] dliappis commented on #30517
Agreed @jasontedor . My personal sentiment is that setting `LimitMEMLOCK=infinity` as the default in Docker sounds like opening the floodgates (not to mention that changing this in k8s maybe an more complicated thing). I will however defer to @jarpy 's opinion on the matter.

One minor comment:

Using `systemctl edit` will actually automatically create the unit override (e.g. as in the command in

[2018-05-10 16:50] jasontedor commented on #30517
Right; I'm trying to avoid us sowing confusion from:

The phrase that I think can lead to confusion here is "**the** Docker unit file" (emphasis added).

Agree. And if we document them all it ends up looking like we are highlighting this as important when it's not even the approach we recommend.

[2018-05-10 16:55] segbedzi commented on #30405
I would like to work on this, can I commence?

[2018-05-10 17:09] dliappis commented on #30517
Ah I see how what I said earlier could cause confusion. Apologies :)

[2018-05-10 17:14] #30002 closed

[2018-05-10 17:15] #30398 closed

[2018-05-10 17:25] pcsanwald commented on #30405
@segbedzi sure thing! I think you'll need to sign the [contributor agreement](https://www.elastic.co/contributor-agreement), and h[ere are instructions for getting started contributing](https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md). I'd be happy to help if you need any tips on this one. Thank you!

[2018-05-10 18:02] jtibshirani commented on #30298
The other test in the file `10_basic` also failed recently with the same stacktrace. I've included the information below for both builds on which it failed.

I'm going to mute both tests in this file, as they've each failed 8 times over the last 30 days. It looks like this suite may have a timing issue around start-up, and that these two tests in particular are especially prone to fail.

CI link:

[2018-05-10 18:12] tbrooks8 commented on #30141
I've been working on this. And adding a code path where we do not validate the node-id seems pretty straightforward. But I want to check, there is a public method `connectedNodes` which supposedly returns the discovery nodes that are currently connected. However, I want to point out that this data may not be accurate. It returns the data populated from the `LivenessResponse`, even though there is

[2018-05-10 18:54] imotov commented on #30489
Empty entry is mapped to an empty string.

[2018-05-10 20:56] jpountz commented on #30433
Yeah I'm unhappy that some users resort to using things like parent/child to solve this problem, by storing the frequently-changing values in small documents that they later join at search time. It introduces other issues. I wish we provided something better. Let me try to summarize the options that I am aware of:

**Use the `_update` API**
 - simple, but
 - need to reindex the entire document
 -

[2018-05-10 20:58] nik9000 commented on #8193
A bunch of us talked about this and we're all pretty sure a 202 is going to cause more unhappiness than a 503. While **technically** correct, a 202 is very likely to confuse people who'll just check for a 2xx code and then assume that the request was successful. It just feels like a huge trap.

503 is technically wrong too, because at some point the change request will probably be process. But I t

[2018-05-10 20:59] nik9000 commented on #14266
I'd like to do this, but later. I feel like asking folks to move to the high level rest client is enough breaking changes for the 6.x series. I'd like us to have another look at this for 7.0 or even 8.0 depending on timing.

While I'm thinking about this: I'm fairly sure we shouldn't do this as a "big bang" thing. It'll amount to a huge change that'll be impossible to review. We **should** (and do

[2018-05-10 21:07] jtibshirani commented on #28685
This test failed again -- build information below.

CI link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/1050/console

Command to reproduce:
[code]

Stack trace:
[code]

[2018-05-10 22:46] gibrown commented on #8193
That all makes sense. Ya I agree no great options. A better error message would help a lot.

[2018-05-10 22:48] spinscale commented on #30071
there is currently noone working on this, working on a PR is much appreciated!

[2018-05-10 23:16] jtibshirani commented on #30174
Another instance of the issue: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-unix-compatibility/os=debian/51/console

[2018-05-11 03:53] Lee-Think opened #30524 "How to use aggs query on decimal type field?"
I have read the issue #17006, it discussed storing decimal as string. But i want to use aggs query on the decimal type field, how can i do?

[2018-05-11 04:50] owenericsson opened #30525 "Old Heap is high and could never be GC even though there are no indices on the node"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):  5.3.2

**Plugins installed**: []

**JVM version** (`java -version`): JDK 8-update-91

**OS version** (`uname -a` if on a Unix-like system): CentOS 6

**Description of the problem including expected versus actual behavior**:

in recent we found one of our node in the cluster, in which the HEAP is very high. Unfor

[2018-05-11 05:38] davron112 commented on #4978
My version: elasticsearch: 5.6.4 (but not working 6.2.3)
I added elasticsearch.yml : `network.bind_host: "0.0.0.0"`
To set this value permanently, update the vm.max_map_count setting in /etc/sysctl.conf.
`vm.max_map_count=262144`
To verify after rebooting, `run sysctl vm.max_map_count`.
[code]

[2018-05-11 06:16] jtibshirani commented on #29392
A similar failure came up today -- the build information is below. While this is being resolved, I plan to mute `testSyncedFlushSkipOutOfSyncReplicas` and `testDoNotRenewSyncedFlushWhenAllSealed`.

CI link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-unix-compatibility/os=oraclelinux/55/console

Command to reproduce (does not reproduce for me locally):

[code]

Stack

[2018-05-11 07:03] bleskes commented on #29392
@dnhatn can you please prioritize this? Failing tests are not good.

[2018-05-11 07:17] #30386 closed

[2018-05-11 07:17] #30521 closed

[2018-05-11 07:30] ywelsch commented on #30507
@tlrx I've quickly looked at these failures and I think it's caused by #30332. As we now first write the new index shard snapshots file, a previous (older) failed attempt might block us from doing so:

[code]

This looks serious to me, and I think we should fix this asap before it gets released. I see two options:
1) similar to before, start deleting tmp files (`indexShardSnapshotsFormat.isTempBlo

[2018-05-11 07:41] martijnvg commented on #30524
Could you please ask this question on our [discuss forum](https://discuss.elastic.co/c/elasticsearch) where we can provide better support. Those forums are designed to support the kinds of conversations that are necessary for this sort of troubleshooting and problem diagnosis.

Elastic uses GitHub issues for tracking clearly identified bugs and feature requests. Since there is no specific bug iden

[2018-05-11 07:41] #30524 closed

[2018-05-11 07:41] colings86 commented on #30506
@polyfractal would you be able to take a look?

[2018-05-11 07:49] spinscale commented on #30298
indeed they do have a timing issue. This is fixed in #30403/#30118 for master and 6.x branches, which reduces the amount of code executed in an executor when watcher is starting up

[2018-05-11 07:59] ywelsch commented on #30507
I've opened #30528 as a fix.

[2018-05-11 08:11] martijnvg commented on #30525
Could you please ask this question on the forum, before coming to the conclusion that this is a bug in Lucene (or Elasticsearch) and opening a bug report? You're using an old version of Elasticsearch, I recommend at least using 5.6.latest (preferably 6.2.latest version if possible) and try to reproduce this problem again. We use GitHub issues for tracking clearly identified bugs and feature reques

[2018-05-11 08:11] #30525 closed

[2018-05-11 08:23] xwenyuan opened #30529 "float type losing precision when doing terms aggregation"
## Elasticsearch Version
5.3.2
## Issue feature
Step1: I have a field named "float_numbers" with the field type "float";
Step2: Then i inserted a value 0.62;
Step3: When i make terms aggregations to this field, i found it lost precision. As you can see below.
　　　**original value: 0.62**
　　　**key in buckets: 0.6200000047683716**
[code]
## Clue
I've found some info in this [discuss.](https://discuss

[2018-05-11 08:52] ywelsch commented on #2869
@inqueue I've opened #30531 to document this.

[2018-05-11 08:57] davidkyle commented on #30456
The failures are characterised by missing documents after a node has been upgraded, for example when a job is closed in the old cluster its model state is persisted but often this document cannot be found in the mixed cluster after a single node is upgraded. Here are some of the issues I believe may be the cause

1. Translog settings
The ML indices are configured with [index.translog.durability: a

[2018-05-11 09:07] colings86 commented on #26745
This hasn't failed since 12 Feb so I'm going to close it now and it can be reopened if we see it again

[2018-05-11 09:10] colings86 commented on #29242
This looks like its been fixed as it failed for three days in a row (25-27 March 2018) and hasn't failed since. I'll close this for now and hasn't failed since. If this fails again please reopen the issue

[2018-05-11 09:11] colings86 commented on #29456
@polyfractal can this be closed now? Did you push the second fix?

[2018-05-11 10:43] prashuMishra commented on #21134
I am also facing the same issue. My index is already created. so how to change that field from text type to keyword type.

[2018-05-11 10:56] javanna commented on #27205
Heads up: I have updated the description of this issue and rearranged the list of API based on recent discussions.

[2018-05-11 11:25] jovandeginste commented on #29657
@talevy thanks! For the time being, we patched journalbeat and do that processing part client side.

[2018-05-11 11:26] dnhatn commented on #29392
@bleskes Sorry for the delay. Looking at this now.

[2018-05-11 11:33] javanna commented on #22811
@dynaxis are you moving to the high-level REST client or low-level one?

[2018-05-11 11:48] mortenbock opened #30532 "[Doc] Issues with numeric callouts"
https://www.elastic.co/guide/en/elasticsearch/reference/master/search-analyzer.html

https://github.com/elastic/elasticsearch/blob/master/docs/reference/mapping/params/search-analyzer.asciidoc

There is something strange going on with the numeric callouts from the code sample and the bullets under it. It looks like it's the rendering that cannot handle it correctly, since the source document looks

[2018-05-11 12:15] elasticmachine commented on #30529
Pinging @elastic/es-search-aggs

[2018-05-11 12:16] elasticmachine commented on #30532
Pinging @elastic/es-search-aggs

[2018-05-11 12:34] #30507 closed

[2018-05-11 13:17] jpountz commented on #30529
Your number does lose precision, but not the way you think. This is due to how floating-point numbers work: `9.62` can't be expressed as `a * 2 ^ b` so neither doubles nor floats can represent it accurately.

If you print your float, then it will seem to work because the system prints the shortest string whose value is precise enough to distinguish it from adjacent float values. So you only happen

[2018-05-11 13:17] #30529 closed

[2018-05-11 14:58] javanna opened #30536 "Revise get aliases response"
The get aliases API response is somewhat unique. As some other API, it mixes errors with valid aliases returned, which makes it quite hard to reason about. I would like us to review whether we want to make any change.

The usual response is something like the following:

[code]

In case a requested index doesn't exist, an error gets returned (status 404):

[code]

When some requested aliases are n

[2018-05-11 14:58] elasticmachine commented on #30536
Pinging @elastic/es-distributed

[2018-05-11 15:41] dnhatn commented on #29883
Another instance: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/2676/console

Log: [sql-cli-test.txt](https://github.com/elastic/elasticsearch/files/1995955/sql-cli-test.txt)

[code]

[2018-05-11 15:42] elasticmachine commented on #29883
Pinging @elastic/es-core-infra

[2018-05-11 15:51] davidkyle commented on #30456
@ywelsch This is the reproduce command for the master branch it fails fairly frequently for me

[code]

[2018-05-11 16:01] nik9000 commented on #29883
This is a problem with the SQL test, not the packaging, I believe. The error report is fairly garbled but I see:
[code]

And
[code]

I *think* the index isn't being created properly by the test but I havne't a clue why.

[2018-05-11 16:01] imotov commented on #29196
Discussed this with @jpountz. This is indeed an intended behavior introduced in [LUCENE-7166](https://issues.apache.org/jira/browse/LUCENE-7166). Geopoints have limited precision and as a result they are rounded. Geopoints are always rounded down during index time. During the query time upper boundaries of the bounding boxes are rounded down, while lower boundaries are rounded up. As a result the

[2018-05-11 16:03] dnhatn commented on #30328
Another instance on 6.x: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=amazon/1052/console

Log: [pending-tasks.txt](https://github.com/elastic/elasticsearch/files/1996029/pending-tasks.txt)

Failed tests:
[code]

Error:

[code]

[2018-05-11 16:07] dnhatn commented on #29883
Thanks @nik9000 for the correction.

[2018-05-11 16:10] dynaxis commented on #22811
@javanna the high level one.

[2018-05-11 17:55] #24944 closed

[2018-05-11 17:58] tomcallahan opened #30542 "Watcher: Metadata inconsistencies lead to watcher errors"
We received the below stack trace from a user running 5.6.8, but we believe the issue is just as applicable on latest.

The crux of the issue is the dynamically-mapped metadata field inside of watch definitions.  Each watch may define the metadata field as it please, however this must all converge to a single schema in the watch history index.  In the example below, the customer has many watches,

[2018-05-11 18:01] elasticmachine commented on #30542
Pinging @elastic/es-core-infra

[2018-05-11 18:16] peterdm commented on #4707
Just stumbled on this limitation myself.  I'd like to echo @imotov 's suggestion from Oct 15, 2017.  (I'll paste below).

[code]

The usecase is based on the previously-mentioned 'google expectation' (or really any major search engine at this point) that can be approximated with a `default_operator: "OR"` accompanied by a high `minimum_should_match`.

The appeal of `simple_query_string` is in the

[2018-05-11 19:00] jasontedor commented on #30536
I agree, this does require some rethinking. This arose from #25043 which was a solution for #24644. To summarize:
 - our HEAD and GET responses were not aligned; HEAD should always match the output of GET only without the body (e.g., the status code and `Content-Length` header should be the same)
 - historically, HEAD alias was used to check for the existence of an alias and would 404 if an alias

[2018-05-11 20:11] nik9000 opened #30546 "Fold query-builder-bwc into full-cluster-restart"
It looks to me like `qa/query-builder-bwc`'s tests could run along with `qa/full-cluster-restart`. Could we fold those two projects together to save booting all the clusters once?

[2018-05-11 20:11] elasticmachine commented on #30546
Pinging @elastic/es-search-aggs

[2018-05-11 21:12] spinscale commented on #30542
The issue is not affects the watch history indices, but also affects the `.watches` index.

See https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/core/src/main/resources/watches.json#L55-L58 and https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/core/src/main/resources/watch-history.json#L596-L599

We should not make this searchable to avoid such conflicts. We also

[2018-05-11 21:28] jasontedor commented on #30308
I do not think this build failure is actionable. It appears that something catastrophic happened to a build artifact leading to a truncated class file. This is most likely an internal infrastructure issue and not a build issue. Closing.

[2018-05-11 21:28] #30308 closed

[2018-05-11 21:30] jasontedor commented on #29894
I think this is addressed by #27459.

[2018-05-11 21:30] #29894 closed

[2018-05-11 21:32] jasontedor commented on #28601
We have not seen this occur in awhile. We can reopen this if it occurs again. Closing.

[2018-05-11 21:32] #28601 closed

[2018-05-11 23:14] jasontedor commented on #29558
This was failing many times per day, and now since #30504 it has not failed at all. This increases my level of hope that we have solved this one.

[2018-05-12 00:10] dnhatn opened #30547 "[CI] SmokeTestMonitoringWithSecurityIT fails due to leaked thread"
SmokeTestMonitoringWithSecurityIT failed due to leaked threads.

[code]

- Instance: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1627/console

- Log: [testHTTPExporterWithSSL.txt](https://github.com/elastic/elasticsearch/files/1997121/testHTTPExporterWithSSL.txt)

[2018-05-12 00:10] elasticmachine commented on #30547
Pinging @elastic/es-security

[2018-05-12 00:15] jasontedor commented on #30547
This thread: `threadDeathWatcher-2-1` is a Netty thread. I think this should be recategorized as :Core/Networking issue.

[2018-05-12 00:15] elasticmachine commented on #30547
Pinging @elastic/es-core-infra

[2018-05-12 02:34] dnhatn commented on #29392
@bleskes
These tests failed because of ongoing operations on the primary which means someone was holding an index shard permit. I spent several hours on this but could not figure out the acquirer.

I have re-enabled these tests (in https://github.com/elastic/elasticsearch/commit/d96bc5b22766a3e5d2c7e5c0edfcf0265853e08d ) with a trace log of the permit holders when checking inflight operations. If

[2018-05-12 04:42] MichielVanderlee opened #30549 "Using IP in composite aggregate causes array_index_out_of_bounds_exception"
**Elasticsearch version**: 6.2  onAWS

**Plugins installed**: none

**JVM version**: unknown

**OS version**: unknown (AWS)

**Description of the problem including expected versus actual behavior**:

Executing a query with the following aggregate results in and error:
[code]

Error:
[code]

I wonder if the underlying cause is related to #20067

**Steps to reproduce**:

 1. Create a mapping with an

[2018-05-12 05:25] suchandbabu opened #30550 "[INFO ][o.e.m.j.JvmGcMonitorService] [node-1] [gc][5414000] overhead, spent [296ms] collecting in the last [1s]"
Hi,

I am using Elsticsearch5.5.3 with 4 node cluster( one node is just a coordinating node).

One of my node is showing 100% cpu usage always, and also I can see this below log message from elasticsearch.

[INFO ][o.e.m.j.JvmGcMonitorService] [node-1] [gc][5414000] overhead, spent [296ms] collecting in the last [1s]

16gb is the max and min memory assigned for jvm now.

Can someone please help me

[2018-05-12 06:17] dadoonet commented on #30550
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-05-12 06:17] #30550 closed

[2018-05-12 12:57] ywelsch commented on #30456
I have reproduced the issue and also have an explanation and fix in the works. The short version is that this is caused by my recent PR #30423 (sorry for that).

The steps that lead to this situation are as follows:
- 2 node cluster (minimum_master_nodes = 2), `.ml-state` index that has `durability: async` and uses auto-expand-replicas.
- The document `old-cluster-job_model_state_1526126821#1` is

[2018-05-12 13:52] richcollier opened #30551 "[ML] Model state docs are orphaned in .ml-state after job is deleted"
First reported on the discuss forum: https://discuss.elastic.co/t/ml-state-is-too-big/131561

I happened to look at my own setup and did also notice a few model states that belonged to jobs that no longer existed in my system.

![image](https://user-images.githubusercontent.com/7461287/39957956-940c4e9e-55c9-11e8-84cf-3536dcd89681.png)

There is no current job in my system called `test_kpi` - alth

[2018-05-12 13:52] elasticmachine commented on #30551
Pinging @elastic/ml-core

[2018-05-12 14:43] jasontedor commented on #30482
I do not think that you want to rely on the stop event being registered to monitor whether or not the Elasticsearch service is healthy. The problem here is that if, for example, there is a JVM crash then it is also the case that the stop method would not be called, the application is terminating abnormally. In this case, you would be left with the service not running yet no stop event being regist

[2018-05-12 14:43] #30482 closed

[2018-05-12 21:11] droberts195 commented on #30456
Thanks so much for investigating this @ywelsch. It would have taken us ages to work out what was happening.

[2018-05-12 21:15] GeoffreyOnRails commented on #24747
I understand the whole discussion as "we don't see valid use-cases" and "it's dangerous, users don't know what they're doing" when talking about interpolation/fill the blank.

Therefore, I'd like to present you my use case, to fill the discussion (maybe you'll have a better way to achieve it?) :

My purpose is to make sum (or average) of various time series (coming from multiple sensors), as the s

[2018-05-13 01:05] hth commented on #27205
I could not map High Level Rest API with [Filter Query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-filter-context.html) , can someone point me to right direction?

[2018-05-13 06:13] odmby commented on #25470
I just want to say that this change is very bad for most of our users who work via Kibana. For a long time they are working by querying lists of values in parenthesis (similar to "in" operator in SQL), and now all the behavior will change and they won't even be aware that they made an error. Why wasn't split_on_whitespace made configurable instead of making it work the exact opposite as it was up

[2018-05-13 09:04] odmby opened #30552 "Please make split_on_whitespace configurable"
In Elastic 6 the default for split_on_whitespace was changed from "true" to "false", while leaving no option for editing the configuration.
We are holding the system upgrade due to this issue, as we have dozens of end users working on Kibana and are copy-pasting large lists of values (100's of items) into the search bar and expecting to get results relevant to all of them (similar to "In" operator

[2018-05-13 11:00] waelc opened #30554 "elasticsearch on Centos 7"
Dears

I installed elasticsearch  and put configuration  in the end file  vi /etc/elasticsearch/elasticsearch.yml

[code]

after that , I try to start services but i get has  error

**systemctl status elasticsearch.service journalctl -l**

how i can solve this problem

[2018-05-13 12:57] jasontedor commented on #30554
There are crucial details missing from this such as what version of Elasticsearch this is, and how you installed Elasticsearch. Most importantly, direct information on how to reproduce would be helpful. That said, I see code here that I do not recognize:

[code]

This makes me believe this is a custom installation and we are unlikely to consider this a bug and support it. As we only handle verifie

[2018-05-13 12:57] #30554 closed

[2018-05-13 21:40] simionrobert opened #30555 "Deep Aggregation Support"
Hi.

I do have a question.

Does elasticsearch support deep aggregations? (nested aggregation in nested aggregation).  To make agg of a nested object inside a nested object. Specifically to count docs.
If so, please give me an example.

Thank you very much.

[2018-05-13 22:07] simionrobert opened #30556 "GeoIP functionality new index"
Hi.

Can geoip plugin create its geoip field to another index and leave behind, in the original place, some id to map ips to locations in the new index?

I am having issues with deep nesting agg and i want to make a workaround.

Thank you.

[2018-05-13 22:15] albendz commented on #30071
Simplistic scan over the code solution:

- remove final modifier on message and attachments, allowing them to be null
- rearrange code to provide multiple constructors to allow for variable number of parameters
- Support setters for message and attachments in case someone changes their mind later (Actual reason: provide setters for mutable fields that are optional within the constructor)

Based on

[2018-05-14 07:11] martijnvg commented on #30546
@nik9000 👍Just moving `QueryBuilderBWCIT.java` to `qa/full-cluster-restart` module should just work.

[2018-05-14 07:27] elasticmachine commented on #30549
Pinging @elastic/es-search-aggs

[2018-05-14 07:33] jimczi commented on #30549
This bug is already fixed for 6.3 by https://github.com/elastic/elasticsearch/pull/29370 which now uses the `ip` formatter to display the bucket key instead of the raw bytes.
Thanks for reporting @MichielVanderlee .

[2018-05-14 07:33] #30549 closed

[2018-05-14 07:35] MaxymVlasov commented on #30170
@tlrx Thanks for answer.
Are you using AWS S3 for snapshoting?

OK, I will try repoduce on local VM and then write what I got.

No.

Thanks for warning. But snapshots <5.4 in test looks like isolated from >=5.4 so all works fine.

[2018-05-14 07:43] tlrx commented on #30170
@MaxymVlasov Thanks. I'm wondering if your repository got corrupted at some point because of different versions writing to it. I'm going to close this issue for now, but please feel free to reopen if it appears again.

[2018-05-14 07:43] #30170 closed

[2018-05-14 07:45] romseygeek opened #30557 "[CI] Language analyzer docs failure"
These both reproduce:
[code]

[2018-05-14 07:45] elasticmachine commented on #30557
Pinging @elastic/es-search-aggs

[2018-05-14 07:46] jimczi commented on #30552
`split_on_whitespace` is an option for the `query_string` query only.  It doesn't work with a `match` query and was the source of all sort of confusions when the analyzer of the field needs to handle multi-words. The switch to a `query_string` that does not split on whitespace solved this issue. Though there are some valid cases where splitting on whitespace prior to analysis may be needed. For in

[2018-05-14 07:56] romseygeek opened #30559 "[CI] Packaging failure - "failed to obtain node locks""
Job details are here:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+packaging-tests/51/console

A node fails to start up, due to the following error:
[code]

[2018-05-14 07:56] elasticmachine commented on #30559
Pinging @elastic/es-core-infra

[2018-05-14 07:58] odmby commented on #30552
Thanks for the quick feedback jimczi.
As most of our fields are indeed keywords ("not analyzed") this could solve the issue, but it must work directly from the Kibana search bar, and not only as an optional flag when working directly with elastic.
When is this feature planned to be released? And just to I understand - is this something that needs to be added to each field in each index in the mapp

[2018-05-14 08:04] romseygeek commented on #30328
Another instance of this:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux/2430/console

[2018-05-14 08:06] odmby commented on #30552
And will we have to change the mapping of all the existing indexes for this to work?

[2018-05-14 08:17] micoq opened #30560 "[suggestion] Restore the removed option `index.compound_on_flush` to reduce write amplification ?"
Compound segment format helps to reduce the number of used file descriptors but to write this kind of segment (*.cfs *.cfe), Lucene first write a complete segment (*.fdx *.fdt ...), reread it and finally write the compound segment.

While it helps to reduce the number of file descriptors (2 files instead of ~14), this option increase the disk load and latency in heavy indexing environments.

In El

[2018-05-14 08:31] javanna commented on #27205
@hth please ask your questions on our forums at https://discuss.elastic.co/

[2018-05-14 08:41] romseygeek commented on #30013
Another instance:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java10,nodes=virtual&&linux/48/console

[2018-05-14 08:43] samimb commented on #12018
Was this ever solved? I'm trying to setup elastic in an iocage with Version: 6.2.4, Build: ccec39f/2018-04-12T20:37:28.497551Z, JVM: 1.8.0_162

The iocage is running directly on an SSD with /var/db/elasticsearch mounted as nullfs from the host on a mechanical drive.

[2018-05-14 08:45] dimitris-athanasiou commented on #30551
@richcollier Can you see any `model_snapshot` documents in the results index with `job_id` set to `test_kpi`?

[2018-05-14 08:49] romseygeek commented on #30174
And another one:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-unix-compatibility/os=fedora/60/console

[2018-05-14 08:51] jpountz commented on #30560
I never did any serious performance testing with these options but my assumption was that they wouldn't impact indexing performance much since compound files are only applied to small segments and the compound file is written right after the segment has been written, so intermediate files don't have time to make it to the disk, they only live in the filesystem cache.

Do all your 1700 shards recei

[2018-05-14 08:51] elasticmachine commented on #30560
Pinging @elastic/es-core-infra

[2018-05-14 08:52] spinscale commented on #30542
As a workaround for the watch history a user could retrieve the current template, and change the following for the metadata field to

[code]

[2018-05-14 08:52] jpountz commented on #30560
cc @danielmitterdorfer since this is performance/benchmark-related

[2018-05-14 09:13] romseygeek opened #30562 "[CI] IndexAuditUpgradeIT.testDocsAuditedInMixedCluster"
A number of failures on this one over the weekend:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-unix-compatibility/os=oraclelinux/63/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-unix-compatibility/os=debian/63/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-unix-compatibility/os=fedora/61/console

[2018-05-14 09:13] elasticmachine commented on #30562
Pinging @elastic/es-security

[2018-05-14 09:19] romseygeek opened #30563 "[CI] Netty ThreadDeathWatcher leak in security tests"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-windows-compatibility/63/console

[code]

Doesn't reproduce locally.

[2018-05-14 09:26] romseygeek opened #30564 "[CI] org.elasticsearch.xpack.security.transport.ServerTransportFilterIntegrationTests failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=debian/2432/console

Failed to set up a cluster, due to a combination of BindException and locking:
[code]
[code]

[2018-05-14 09:26] elasticmachine commented on #30564
Pinging @elastic/es-security

[2018-05-14 09:32] droberts195 commented on #30433
X-Pack Machine Learning currently does something very similar to the workaround in the original issue description when renormalizing anomaly scores.  After renormalization we bulk index the result documents where the anomaly score has changed significantly, but leave existing results untouched where the change to the anomaly score is small.

So any changes that are made as a result of this issue c

[2018-05-14 09:37] romseygeek opened #30565 "[CI] CoreFullClusterRestartIT.testNewReplicasWork fails with security exception"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+bwc-tests/49/console

[code]

[2018-05-14 09:37] elasticmachine commented on #30565
Pinging @elastic/es-security

[2018-05-14 09:42] jimczi commented on #30552
Probably. We still need to discuss internally but the option considered at the moment is to add a `split_queries_on_whitespace` option in the mapping option of the `keyword` field which defaults to false.
Though if you rely on whitespace splitting at query time I wonder how do you ensure that you don't index terms with whitespaces in your `keyword` field ? Could these fields be defined as `text` f

[2018-05-14 09:42] micoq commented on #30560
@jpountz We have only 96 active shards at a time: 3 daily indices with 16 shards and 1 replica for a total of ~700 GB per day (including replicas).

Each machine have a total of 64 GB (26 GB for the Heap, the rest is for the system and the filesystem cache).
`vm.dirty_background_ratio` is 10%

For the Lucene tests and the `index.compound_on_flush` option, I didn't used this cluster but a single ma

[2018-05-14 09:49] jpountz commented on #30560
96 active shards on 4 nodes only actually sounds like too many to me, but this wouldn't explain why you can also reproduce this with your standalone Lucene index.

[2018-05-14 09:55] javanna commented on #22811
@dynaxis thanks for your feedback. the Java high-level client supports storing and retrieving documents in any format supported on the server, namely json, yaml, cbor or smile. We don't document this though as we are considering removing support for binary formats on the server-side. cc @danielmitterdorfer maybe another idea for a benchmark .

[2018-05-14 10:19] tylercao opened #30566 "Restart ES node , encounter exception"
Hi

Recently ,   I am trying to restart ES node . but during restarting ES node , server was encounter the below exception

`ClusterBlockException[blocked by: [SERVICE_UNAVAILABLE/1/state not recovered / initialized]`

ES version :2.4.2
ES node : 5 nodes ,
Node setting : all nodes are  node.master: true. and node.data : true

[2018-05-14 10:25] odmby commented on #30552
We do have values with whitespaces, but when querying on them users place quotation marks.
However most of the usage is for lists of values that we know don't have whitespaces (e.g. lists of id's) that are copy-pasted by users to the search bar. We don't have an intention of splitting the keyword field - our queries in kibana are many times more similar to Terms Set Query than to a full text searc

[2018-05-14 10:33] s1monw commented on #30416
I opened #30567 for this

[2018-05-14 10:39] ritxos opened #30568 "Error while creating repository type:azure| RepositoryVerificationException"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 2.4.1

**Plugins installed**: [cloud-azure -->  2.4.1]

**JVM version** (`java -version`):openjdk version "1.8.0_171"

**OS version** (`uname -a` if on a Unix-like system): CentOS 6.7  x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

cloud azure plugin for

[2018-05-14 10:41] dadoonet commented on #30568
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-05-14 10:41] #30568 closed

[2018-05-14 11:35] spinscale commented on #30555
we try to use github for fixing bugs/talking about features only, so as Thomas said, please use our discussion forum (specifically the [Elasticsearch one](https://discuss.elastic.co/c/elasticsearch) for this kind of questions). Thank you!

[2018-05-14 11:35] #30555 closed

[2018-05-14 11:36] #30556 closed

[2018-05-14 11:37] spinscale commented on #30566
We try to use github for fixing bugs/talking about features only. Please use our discussion forum (specifically the [Elasticsearch one](https://discuss.elastic.co/c/elasticsearch) for this kind of questions). Thank you!

Also note, that the Elasticsearch version you are using is no longer maintained and does not even receive bug fixes anymore, so upgrading should be high on your priority list.

[2018-05-14 11:37] #30566 closed

[2018-05-14 11:45] jasontedor commented on #30482
It’s not that it *can’t*, it’s that we *won’t*. As I explained:

It’s a deliberate decision to not execute any shutdown code as we do not trust the state of the JVM.

[2018-05-14 13:15] elasticmachine commented on #30552
Pinging @elastic/es-search-aggs

[2018-05-14 13:18] jpountz commented on #25470
We are considering making it configurable on a per-field basis at #30393.

[2018-05-14 13:42] #29456 closed

[2018-05-14 14:12] fbaligand opened #30575 "percolate query : add 'document_index' option"
Since version 6.0, an index could have only one type.
For percolate use case, that's quite annoying, because 'query' mapping and 'document' mapping are different (it's clearly not the same thing).

That's why it would be great to add an option 'document_index' so that we can search queries in one index, and indicate that the submitted document matches another index mapping.

With this option, we c

[2018-05-14 14:42] sabi0 opened #30576 "Ability to add comments to a query"
Sometimes it is useful to be able to add some comments to a (large) query. Be it for describing a particular syntax in a query template or for documenting purposes in the query examples, like this:
![image](https://user-images.githubusercontent.com/11509875/40003466-b0e15b88-5793-11e8-89e0-8330fc4ba179.png)

Elasticsearch already does a great job of recognizing end-of-line comments in query JSON.

[2018-05-14 14:49] romseygeek opened #30577 "[CI] CorruptedFileIT.testCorruptFileThenSnapshotAndRestore failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=sles/2435/console

After a file is corrupted, snapshot should throw an error, but it seems to succeed instead.  Doesn't reproduce locally though.

[consoleText.txt](https://github.com/elastic/elasticsearch/files/2012515/consoleText.txt)

[2018-05-14 14:49] elasticmachine commented on #30577
Pinging @elastic/es-distributed

[2018-05-14 15:36] #29674 closed

[2018-05-14 16:14] mayya-sharipova commented on #23430
@ashishguptak Looks like a PR https://github.com/kblincoe/elasticsearch/pull/77 is stalled.  And yes, tests are necessary as a part of PR.

 @hchokshi  are you still working on this issue?

[2018-05-14 16:19] jasontedor opened #30579 "Drop Fedora 26 from and add Fedora 28 to packaging tests"
Fedora 26 is going end-of-life, and Fedora 28 is the new kid in town. This issue is a placeholder issue to drop Fedora 26 from the packaging tests, and add Fedora 28 to the packaging tests.

[2018-05-14 16:19] elasticmachine commented on #30579
Pinging @elastic/es-core-infra

[2018-05-14 17:27] elasticmachine commented on #30575
Pinging @elastic/es-search-aggs

[2018-05-14 17:46] elasticmachine commented on #30576
Pinging @elastic/es-search-aggs

[2018-05-14 18:07] #10096 closed

[2018-05-14 19:54] #29196 closed

[2018-05-14 20:13] #30199 closed

[2018-05-14 22:40] #29499 closed

[2018-05-14 23:55] dynaxis commented on #22811
@javanna Thank you for sharing it. If you are strongly considering removal of binary formats, then maybe it's safe not to try any of binary formats. Anyway I'll continue the migration to Java REST client since the current transport client is slated for removal. Thanks again.

[2018-05-15 00:18] jtibshirani opened #30597 "Authorization failure when indexing document with new mappings to alias."
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.4

**Description of the problem including expected versus actual behavior**:

If a user is allowed to write to an alias, but not its concrete index, then indexing a document with new mappings can produce the following authorization exception:
[code]

This behavior is confusing, because `write` permissions should allow for both indexing

[2018-05-15 04:02] willchu opened #30600 "Composite Aggregation and Sorting with a non source"
Hello,

Using Elasticsearch, I would like to construct a query that buckets my results but also allows for pagination. Based on this requirement, it seems that I need to use a composite aggregation.

However, I also would like to sort the results based on a field that is not one of the sources. It doesn’t seem like composite aggregation currently supports this. Is this correct? If you want to sort

[2018-05-15 04:35] tvernum commented on #30600
Could you please ask this question on our [discuss forum](https://discuss.elastic.co/c/elasticsearch) where we can provide better support. Those forums are designed to support the kinds of conversations that are necessary for this sort of troubleshooting and problem diagnosis.

Elastic uses GitHub issues for tracking clearly identified bugs and feature requests. Since there is no specific bug iden

[2018-05-15 04:35] #30600 closed

[2018-05-15 06:55] jdconrad commented on #23777
PR for casting clean up in the spec. ((https://github.com/elastic/elasticsearch/pull/30283))

[2018-05-15 07:32] tvernum opened #30603 "TemplateUpgradeService runs updates under existing ThreadContext"
The `TemplateUpgradeService` has a high level flow of:
- receive `ClusterChangedEvent`
- check preconditions (global block, master node, etc)
- gather necessary updates from registered upgraders (plugins)
- apply template updates on the generic thread pool.

However
- the `ClusterChangedEvent` comes in with the same `ThreadContext` as the action that triggered the event (which might be a node join

[2018-05-15 07:32] elasticmachine commented on #30603
Pinging @elastic/es-core-infra

[2018-05-15 07:32] elasticmachine commented on #30603
Pinging @elastic/es-security

[2018-05-15 07:57] palashkulsh commented on #5359
+1

[2018-05-15 08:35] #30506 closed

[2018-05-15 09:01] jamesdbaker opened #30604 "Ingest processor to copy the value of a field"
**Describe the feature**: Currently it is possible to rename an existing field using the [Rename processor](https://www.elastic.co/guide/en/elasticsearch/reference/current/rename-processor.html) as part of an ingest pipeline, but it would also be useful to be able to copy a field (without modification). I'm therefore proposing the introduction of a Copy processor that does just that.

The use case

[2018-05-15 09:08] jpountz opened #30605 "ObjectParser should throw XContentParseExceptions, not IAE"
ParsingException is nicer since it includes the place where the parsing error occurred.

[2018-05-15 09:08] elasticmachine commented on #30605
Pinging @elastic/es-core-infra

[2018-05-15 09:25] droberts195 commented on #30456
Maybe we could also do this just in the relevant ML tests?  Then we won't cause problems if somebody is trying to just reproduce a problem in, say, the monitoring or watcher tests and is not running the ML ones at all.

Also, what is the best way to confirm that the replicas of an index with `auto_expand_replicas` has had its replicas allocated?  Will `wait_for_no_initializing_shards` do it?  Or i

[2018-05-15 09:30] Dobatymo opened #30606 "windows elasticsearch.bat file has problems with certains paths"
Bug report:

**Elasticsearch version**: 6.2.4
**Plugins installed**: None
**JVM version**: 1.8.0_171
**OS version**: Windows 10 (1511)

**Description of the problem including expected versus actual behavior**:

I cannot start elastic search using `elasticsearch.bat`.
The error message is: `\Common was unexpected at this time.`

**Fix**

%JAVA% is assigned `C:\Program Files (x86)\Common Files\Oracl

[2018-05-15 09:51] #30416 closed

[2018-05-15 09:51] #30503 closed

[2018-05-15 09:55] ywelsch commented on #30456
right, I didn't think about that.

As the two problematic indices (`.ml-state` and `.ml-anomalies-shared`) are both created in the old cluster with 2 nodes, and the cluster can only function with 2 nodes due to minimum_master_nodes = 2, the auto-expansion functionality (based on #30553) will always have `index.number_of_replicas:1` in this cluster, even with nodes restarting. I think it's therefor

[2018-05-15 10:43] ruizmarc opened #30608 "Bucket path name resolution fails with siblings and child aggregations with the same name"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.4

**Plugins installed**: No plugins installed

**JVM version** (`java -version`):  java version "1.8.0_25"

**OS version** (`uname -a` if on a Unix-like system): Darwin Kernel Version 17.5.0

**Description of the problem including expected versus actual behavior**:

When trying to use a pipeline aggregation on a date histogram, bucket

[2018-05-15 10:51] #30430 closed

[2018-05-15 12:11] wuyunfeng opened #30611 "Elasticsearch process stuck on our machine(or virtual machine failure) which have a NFS mount point when NFS service failure（resulting in `df -h` stuck)"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):5.5.0

**Plugins installed**: [ik、repository-hdfs、repository-s3]

**JVM version** (`java -version`):1.8.0_131

**OS version** (`uname -a` if on a Unix-like system):CentOS 7.3

**Description of the problem including expected versus actual behavior**: Elasticsearch process stuck on our machine(or virtual machine fai

[2018-05-15 12:16] ywelsch commented on #30611
Shoud be fixed by https://github.com/elastic/elasticsearch/pull/24402. Can you check?

[2018-05-15 12:16] #30611 closed

[2018-05-15 12:20] elasticmachine commented on #30608
Pinging @elastic/es-search-aggs

[2018-05-15 12:28] elasticmachine commented on #30606
Pinging @elastic/es-core-infra

[2018-05-15 12:29] cbuescher commented on #30606
I found https://github.com/elastic/elasticsearch/pull/28753 which might be related but that should have been fixed in 6.2.3. Not sure if this is a different issue.

[2018-05-15 12:33] richcollier commented on #30551
@dimitris-athanasiou - there are no documents in `.ml-anomalies` for `job_id:test_kpi`