[2020-03-26 20:38] #54254 closed

[2020-03-26 21:04] devincheca opened #54303 "Ingest node attachment processor in a pipeline PDFs and Word Docs"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.1

**Plugins installed**: [ingest-attachment]

**JVM version** (`java -version`): 1.8.0_211

**OS version** (`uname -a` if on a Unix-like system): Windows 10 / Windows Server 2012/R2

**Description of the problem including expected versus actual behavior**:
base64 encoded PDF files and Word docs should index the contents through the pi

[2020-03-26 21:13] devincheca commented on #54303
If I may add a step 7.
 7. try uploading a PDF or Word doc and the base64 encoding will be indexed in a field called data without a field of attachment.content
I appreciate any help with this matter.

[2020-03-26 22:16] freakingid commented on #48427
Greetings. I ran in to this as well. Please see:
[Goodbye, types. Hello, typeless](https://www.elastic.co/blog/moving-from-types-to-typeless-apis-in-elasticsearch-7-0)

**Under "Stop using _default_ mappings"**

[2020-03-27 00:00] danhermann opened #54313 "Failures in "qa:mixed-cluster:v7.8.0#mixedClusterTest" tests"
We've had several failures from the `:qa:mixed-cluster:v7.8.0#mixedClusterTest` in a short period. Two examples are:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob+fast+bwc/4543/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob+fast+bwc/4542/console

[2020-03-27 00:33] jimczi commented on #51857
We've made several progress on this issue recently so apologies for not updating earlier.

While discussing the proposed change offline, we've decided to start with benchmarks to evaluate the effect of changing the default value.
We've started with the  `terms` aggregation and opened https://github.com/elastic/elasticsearch/pull/53216 to fix a performance bug.
In the meantime @nik9000 has changed

[2020-03-27 00:42] tvernum commented on #52314
That may be the inituition, but it's not the reality from a security point of view. A running job has the privileges of the user that created it. Different tasks run with different sets of privileges and may do different things.
I do not understand the desire to hide that or pretends it's not true.

I do not understand why introducing a new field, to record exactly the same information, and behave

[2020-03-27 00:55] voxon2 commented on #52850
Is this a feature or a bug? I'm wondering cause i'm trying to determine if these is negatively impacting the performance of my percolator queries.

[2020-03-27 00:55] russcam opened #54314 "Validate rest api specs as part of build"
https://github.com/elastic/elasticsearch/pull/54252 updates rest api specs to conform to [a JSON schema included in the PR](https://github.com/elastic/elasticsearch/blob/fccaf58fdf3e248300fbb16f4879f2b0db9ea9ac/rest-api-spec/schema.json).

The schema definition itself is intentionally loose in some places and could be stricter, but I think it would be prudent to discuss the definition separately t

[2020-03-27 00:55] elasticmachine commented on #54314
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-03-27 01:25] tvernum commented on #47759
Resolved by #52811

[2020-03-27 01:25] #47759 closed

[2020-03-27 02:42] ywangd commented on #54289
The problem is likely a racing condition between two threads handling the refreshing request. The following scenario is one possible way for it to happen:

When the 1st refresh request is _done updating_ the exsiting document but _before it can create the new document_ (can be simulated by adding `Thread.sleep` before this [line](https://github.com/elastic/elasticsearch/blob/7.6/x-pack/plugin/secu

[2020-03-27 02:49] cpitchford opened #54315 "Unable to create filtered alias, using range, data_nanos and negative offsets(now-7d)"
**Elasticsearch version** (`bin/elasticsearch --version`): OpenJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.
Version: 7.6.1, Build: default/docker/aa751e09be0a5072e8570670309b1f12348f023b/2020-02-29T00:15:25.529771Z, JVM: 13.0.2

**Plugins installed**: []

**JVM version** (`java -version`): openjdk version "13.

[2020-03-27 03:55] ywangd commented on #52314
I agree that the "system user" seems to be the right concept but lacks of concrete entity in these use cases. Privileges required by these jobs cannot be covered by a single system user since they always involve user data. My understanding is that we will never grant system users permissions for user indices. So it's not possible to assign a system user for it. Sure the superuser can do everything

[2020-03-27 03:57] jasontedor commented on #46025
I think that this issue can be closed now?

[2020-03-27 04:11] dnhatn commented on #54313
@stu-elastic I think this is related to https://github.com/elastic/elasticsearch/pull/54008. It wasn't backported but the wire version is 7.8.0 already. We need to backport that PR to 7.x or revert the change on master.

[2020-03-27 06:22] azasypkin commented on #54289
Thanks @ywangd, what you're describing matches pretty close to what we were observing in another issue where we had two almost concurrent requests with an expired token (non-essential request/response details are omitted, second column is packet/request number and third one is UTC timestamp). Copying here, jfr.

[code]

[2020-03-27 06:34] hendrikmuhs commented on #46025
I do not think so, but @droberts195 should know better. The task assigner for ML still needs to query the newly introduced role and assign jobs/datafeeds according to it iff a remote connection is required.

(FWIW: for transforms the issue is solved, we migrated to the new node role)

[2020-03-27 06:39] ywangd commented on #54289
@azasypkin Thanks for the detailed request/response log. It matches exactly to what I have suspected. The same access token `46ToAxZveGIwUTRYNVFpV1B1YVg0MFJRZDdR` was returned by both refresh requests and became valid just one second after it's initial failure.

Btw, this problem can happen regardless of the expiration time or whether the original token is expired or not.

[2020-03-27 06:39] tvernum opened #54317 "Add cache for application privileges"
When we added Application Privileges we intentionally didn't cache them because the semantics of a distributed cache can be tricky (we've had to tweak the user & roles caching logic several times) and we weren't sure how necessary it would be

We've recently seen a few places where that lack of caching had an impact, and it's probably time to bring it in.

[2020-03-27 06:39] elasticmachine commented on #54317
Pinging @elastic/es-security (:Security/Authorization)

[2020-03-27 06:49] bigshans opened #54318 "Unknow Plugin Error When Install Plugin"
**Elasticsearch version** (`bin/elasticsearch --version`):7.6.1

**Plugins installed**:  none

**JVM version** (`java -version`):1.8.0_242

**OS version** (`uname -a` if on a Unix-like system): Debian 9

I tried installing [ik](https://github.com/medcl/elasticsearch-analysis-ik) using elasticsearch-plugin. I used the command `/ usr / share / elasticsearch / bin / elasticsearch-plugin install. / El

[2020-03-27 07:27] tvernum commented on #54318
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests. The discussion forums are beter suited to these sort

[2020-03-27 07:27] #54318 closed

[2020-03-27 07:36] #54079 closed

[2020-03-27 08:11] przemekwitek commented on #54079
I closed this issue as now the Evaluate API does not throw any strange script-related errors in face of type mismatch situation.

This approach may be revisited in the future. I can imagine adding a validation where we would check upfront what the `actual` and `predicted` fields types are and deciding whether this evaluation request makes sense or not.
Also, we may think of matching in a smart man

[2020-03-27 08:30] martijnvg commented on #54188
@romseygeek Thanks for investigating this! + 1 To investigating a `MemoryIndex` with a `CacheHelper`.

[2020-03-27 08:50] elasticmachine commented on #54315
Pinging @elastic/es-search (:Search/Search)

[2020-03-27 08:50] elasticmachine commented on #54315
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-03-27 09:22] original-brownbear commented on #54313
I opened https://github.com/elastic/elasticsearch/pull/54321 to fix the version constant for now to get BwC tests unblocked.

[2020-03-27 09:23] #54257 closed

[2020-03-27 09:57] droberts195 commented on #46025
The state we are currently in is that if you have a cluster where some ML nodes can do cross cluster search and some ML nodes cannot then a datafeed that requires cross cluster search will eventually fail with this error: https://github.com/elastic/elasticsearch/blob/1fc0432b244624ef800b616324f1d4d5911fcba8/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ml/job/messages/Messages.java

[2020-03-27 10:00] javanna commented on #54235
++ on failing the request if the only shard counted successful was in fact skipped.

I also wonder if we should look at improving the `_shards` section long-term. I know there are edge cases and that `total` is not always the sum of `successful` and `failed`, but the fact that `skipped` are also counted as `successful` is possibly counterintuitive?

[2020-03-27 10:13] #54313 closed

[2020-03-27 10:53] original-brownbear commented on #52843
Fix incoming in https://github.com/elastic/elasticsearch/pull/54256

[2020-03-27 10:56] original-brownbear opened #54324 "[CI] Test Failure in org.elasticsearch.script.ScriptServiceTests.testContextCacheStats"
This just failed on CI, can't reproduce this locally though and haven't seen it before so not muting yet.

[code]

[2020-03-27 10:56] elasticmachine commented on #54324
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-03-27 11:02] droberts195 commented on #29774
The long term solution for restricting access to ML results by job is the Kibana "ML in Spaces" project.  Therefore I think this issue is obsolete.  We should not document any backend workarounds when the preferred solution will be via Kibana privileges.

[2020-03-27 11:02] #29774 closed

[2020-03-27 11:05] droberts195 commented on #29841
In 7.x all ML indices are now using 1 shard.  We have other issues to cover rollover when ML indices get too big.  The state index has ILM since 7.7 and #29946 discusses ways we could improve the situation for results.  Therefore I'll close this one.

[2020-03-27 11:05] #29841 closed

[2020-03-27 11:06] albertzaharovits commented on #52314
I do not understand the desire to hide that or pretends it's not true.

The privileges under which a task runs are **entirely specified** by the `roles` field.
The `username` field of audit entries indicates a slightly different thing, and what exactly that thing is should inform the name of the field, and even more, it's existence. I am arguing that changing the name of the `username` field would

[2020-03-27 11:35] droberts195 opened #54326 "[ML] Integrate data frame analytics with ML upgrade mode"
In 6.7 we added an "upgrade mode" to ML.  When ML upgrade mode is enabled, ML persistent tasks and endpoints are prevented from modifying ML internal indices.  The intention is that ML upgrade mode be enabled while ML internal indices are undergoing reindexing or other maintenance operations.  It can also optionally be enabled to reduce churn of ML persistent tasks during rolling upgrades.

The wo

[2020-03-27 11:35] elasticmachine commented on #54326
Pinging @elastic/ml-core (:ml)

[2020-03-27 11:48] droberts195 commented on #49889
I believe this is fixed in 7.7 and above by https://github.com/elastic/kibana/pull/59017

[2020-03-27 11:48] #49889 closed

[2020-03-27 12:02] zia-mking opened #54327 "Lost all Elastic Search Indexes."
Yesterday when I wake up then I get too many emails from clients that they are unable to see any data. Later I found it that all elastic search data is gone. Then I have to reindex all data and it takes too much time. I am unable to figure out why it happened. Here are log entries:

I am using these versions in my rails application:

-     elasticsearch (1.0.2)
-     elasticsearch-api (= 1.0.2)
-

[2020-03-27 12:26] droberts195 commented on #54326
While discussing this we thought of two more things:

4. The nightly maintenance task should not do anything when ML upgrade mode is enabled, as that can touch internal indices.  It should just reschedule itself to run the next day.
5. Maybe our CRUD actions can check for ML upgrade mode in the same way as they check for cluster blocks, returning a cluster block exception when ML upgrade mode is e

[2020-03-27 12:41] #54204 closed

[2020-03-27 12:47] joshdevins commented on #54110
@hendrikmuhs Definitely possible, but sometimes not practical. It can also be useful to change the "timeout" value and determine session semantics at read time rather than at write. So I suspect the guidance will indeed be to do this in the application/client, but there is still value in doing it after the fact.

[2020-03-27 12:55] costin opened #54334 "EQL: Introduce Substitute function"
While developing EQL functions, some(see #54135 & #53999) end up being translated into other expressions which replaces them during optimization.
To avoid code repetition this pattern should be formalized; for example by introducing a `Substitute` scalar function, that does not return a script nor a pipe and has a dedicated method for getting its replacement.

[2020-03-27 12:55] elasticmachine commented on #54334
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-03-27 12:57] msufa opened #54335 "Expose matching fields for a query in the search response"
**Describe the feature**:

Along with the search response, provide a list of document fields which caused each document to match the query.

This is a useful ML (Machine Learning) feature for training models used for e.g. ranking search results.

Additional features, which would be really useful in ML model training, would be textual match scores, such as:
* Term Frequency (TF) and separately Inve

[2020-03-27 12:58] original-brownbear commented on #53596
I wonder if this is just a `WindowsFS` issue along the same lines of https://github.com/elastic/elasticsearch/pull/52488. This has only happened twice (in two months and both time it was on `WindowsFS`) and it seems like we are stuck (but still doing work) on persisting cluster state/metadata on the data nodes when the test times out.

=> I'd close here given how rare this is. The only other alter

[2020-03-27 13:03] DaveCTurner opened #54337 "Failed transport handshake between 6.8 and 7.6 nodes may throw a fatal AssertionError"
Nodes send their transport handshakes with the version set to `Version.CURRENT.minimumCompatibilityVersion()`. For 6.8 nodes this is 5.6.0. When a 7.6 node receives a transport message, including a handshake, it responds using the same transport version. This means that a 7.6 node responding to a transport handshake claims to be sending a 5.6.0-compatible message. However, 7.6 nodes do not really

[2020-03-27 13:03] elasticmachine commented on #54337
Pinging @elastic/es-distributed (:Distributed/Network)

[2020-03-27 13:24] cawoodm opened #54341 "Edge-Ngram with Whitespace Tokenizer"
It seems to be impossible today to create an edge-ngram tokenizer which only tokenizes on whitespace so that given `hel.o wo/rld` we get the tokens `he`, `he.`, `hel.`, `hel.o`, `wo`, `wo/`, `wo/r`, `wo/rl`, `wo/rld`.

The problem seems to be that the `whitespace` setting breaks on non-whitespace as the documentation says:

If I have understood this correctly we need a `nonwhitespace` setting:

[c

[2020-03-27 13:26] cawoodm commented on #54341
It's also a question as to what the `whitespace` option is supposed to do: include only spaces as tokens??

[code]
result:
[code]

[2020-03-27 13:31] mayya-sharipova commented on #52416
There is another  failure of this test from Jan 27 but on different condition:
https://gradle-enterprise.elastic.co/s/j3kbaua2fjy6s

java.lang.AssertionError: hits.hits.1.inner_hits.sub_hits.hits.total didn't match expected value: |
hits.hits.1.inner_hits.sub_hits.hits.total: expected Integer [3] but was Integer [2]

Here in the second group for inner hits, a doc with  "_id" : "2",  "sort" : 6 was

[2020-03-27 13:59] ywelsch commented on #52223
I've not been able to reproduce the failure, but looked a bit at the cause. I think that it might be explained as follows:

- Flush is issued (afterWriteOperation) before global checkpoint is persisted
- This means that if the flush completes before the global checkpoint is persisted, that for the CombinedDeletionPolicy.onCommit(), the new commit is not considered safe
- That also means that when

[2020-03-27 14:30] cbuescher commented on #54327
Hi @zia-mking! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2020-03-27 14:30] #54327 closed

[2020-03-27 15:02] mark-vieira opened #54348 "Improve efficiency of packaging test execution"
Right now our Windows and Unix packaging test builds are not quite as efficient as they could be. The lifecycle tasks configured for the builds are very coarse and aren't platform specific. For example, when running on Windows, all the Linux archives are built and vice versa. We also kick off tests for unsupported platforms, relying only on `assumeTrue` statements in the tests to skip them. There

[2020-03-27 15:02] elasticmachine commented on #54348
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-03-27 15:09] jmlrt commented on #53426
Hi @pugnascotia,
Thank you for this feedback

Yeah, our charts aren't officially supporting Helm 3 yet as stated in ([elastic/helm-charts/elasticsearch#requirements](https://github.com/elastic/helm-charts/tree/master/elasticsearch#requirements)). I should have specified it in this issue 🤦‍♂ .
However, despite a few differences in command lines and other small difference, Elasticsearch is mostly co

[2020-03-27 15:17] mayya-sharipova commented on #52416
Another failure from Nov 1, 2019
https://gradle-enterprise.elastic.co/s/uztw7loist4la

Here there is also a missing document in the second group `1`  for inner hits, a doc with "_id" : "3", "sort" : 24.

[code]

[2020-03-27 15:23] stu-elastic commented on #54324
Taking a look, I just added this yesterday.

[2020-03-27 15:31] stu-elastic commented on #54324
[Muted](https://github.com/elastic/elasticsearch/pull/54352) for now.

[2020-03-27 15:32] dakrone commented on #54247
I'm going to close this since it's already been resolved.

[2020-03-27 15:32] #54247 closed

[2020-03-27 15:39] original-brownbear commented on #53596
Yea, I'm closing this. In the failed runs I'm seeing other tests take minutes as well. It's not like this test here is locking up, it's just that the others were so slow that this one ran into the time limit (after the others burnt through most of the 20min).
Running locally with the same seed doesn't take nearly as long (though still takes ~4min vs 1min for other FS impl) => I'd chalk these up to

[2020-03-27 15:39] #53596 closed

[2020-03-27 15:40] stu-elastic commented on #54313
Thanks, I'm backporting now.

[2020-03-27 15:53] mayya-sharipova commented on #52416
it looks like some docs were missed during collection in some cases during the initial query phase, or in other cases during inner_hits phase.

I am out of ideas how this could happen.

[2020-03-27 15:58] mark-vieira commented on #54180
There are a number of failures that seem to be specific to our MacOS agents. They typically look like this:

[code]

This doesn't happen locally for me on my MBP so it might be infra related but I don't know enough about these tests to infer what that might be. Seems isolated to `AsyncSearchActionTests`.

Let me know if I should open a separate issue for this.

[2020-03-27 15:59] javanna commented on #24036
This sounds a lot like #49028 where we are reconsidering this same problem.

[2020-03-27 16:01] DaveCTurner opened #54354 "Binding to the first free port in a given range is trappy"
Today `transport.port` and `http.port` accept a range of ports. At startup, Elasticsearch binds to the first available port in the range. This is useful for testing because it lets you stand up a number of nodes on a single host without any fancy configuration.

In a production environment with multi-node hosts this behaviour can be trappy, because it means you have no idea which specific node you

[2020-03-27 16:01] elasticmachine commented on #54354
Pinging @elastic/es-distributed (:Distributed/Network)

[2020-03-27 16:04] javanna commented on #54180
thanks for your comment @mark-vieira I will look into this.

[2020-03-27 16:18] mark-vieira commented on #54180
Ah, I forgot to include a link to an example build. Here you are @javanna.

https://gradle-enterprise.elastic.co/s/msim2zdegwhzg

[2020-03-27 16:25] elasticmachine commented on #54341
Pinging @elastic/es-search (:Search/Analysis)

[2020-03-27 16:25] stu-elastic commented on #54324
Issue was randomly selecting two contexts that were the same, so rate limit was being overridden.

[2020-03-27 16:27] matriv commented on #34774
Closing this as it has to do with multiple index types, feature which has been deprecated and removed in 7.x. The test is muted so it will not cause any further build failures.

[2020-03-27 16:27] #34774 closed

[2020-03-27 16:28] mark-vieira commented on #54314
Right now this depends on #54252 being merged.

[2020-03-27 16:33] cbuescher commented on #54341
Why can't you use a `whitespace` tokenizer and an `edge-ngram` filter?
[code]

That configuration is a bit weird, but yes, thats what it does. E.g.
[code]

returns two whitespace token. One can argue about how useful that is but the character class is usually used in conjunction with something else.

Hope this helps. For future request like this please use the support forums over at https://discus

[2020-03-27 16:33] #54341 closed

[2020-03-27 17:10] #54324 closed

[2020-03-27 17:13] jakommo commented on #51178
The last example here https://www.elastic.co/guide/en/elasticsearch/reference/7.6/ip-filtering.html#dynamic-ip-filtering suggests that `xpack.security.*.filter.enabled:` are dynamic settings, so even if we disable via elasticsearch.yml users could still enable it and look themselves out in case of  Elasticsearch Service.

[2020-03-27 17:52] jpountz commented on #54188
Too bad, thanks for checking though @romseygeek. I agree with the suggested next steps, though I don't think it should be a priority given how few queries use fielddata.

[2020-03-27 18:57] jbaiera commented on #50395
Checking in on the hdfs side of things - Upgrading from 11.0.2 to 24.1.1 is not going well. Additionally, The HDFS 3.x client is not backward compatible with HDFS 2.x services, which according to artifact download numbers on maven are still the most popular versions. We may have to wait on upgrading Hadoop for a bit.

Taking a look at the CVE, the AtomicDoubleArray class does not seem to be used o

[2020-03-27 19:01] ssmelov commented on #26472
Do you know if there is any design document for this new API?

[2020-03-27 19:49] krlm commented on #50109
@polyfractal @not-napoleon,  thanks for the info. I forgot that by default there's no upper and lower boundaries (which I've defined in the filter part of my query) for date histogram aggregation. This should do the job then.

[2020-03-27 19:58] elasticmachine commented on #54335
Pinging @elastic/es-search (:Search/Ranking)

[2020-03-27 20:46] imotov opened #54365 "MultiValuesSource Aggregations (including weighted_avg) ignore format"
To reproduce:

[code]

response:

[code]

It looks like the problem is caused by [MultiValuesSourceAggregationBuilder.resolveFormat](https://github.com/elastic/elasticsearch/blob/a90c1de8745681356a6516f4f22a8c40f71f6b12/server/src/main/java/org/elasticsearch/search/aggregations/support/MultiValuesSourceAggregationBuilder.java#L186) method that always returns RAW format.

Since the response type in

[2020-03-27 20:46] elasticmachine commented on #54365
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-27 21:30] jtibshirani commented on #54335
@msufa thanks for sharing this request. I had a couple questions to help us better understand your use case and what an API might look like:
* What does your query structure look like? Perhaps you are using `multi_match` to query across multiple fields?
* How would you use this field match, term frequency, and score information? Would it be inside a custom rescorer, or outside of Elasticsearch in

[2020-03-27 21:38] mark-vieira commented on #52606
This was resolved by #53747.

[2020-03-27 21:38] #52606 closed

[2020-03-27 22:43] jakelandis commented on #54314
https://github.com/networknt/json-schema-validator is the leading contender. These are the 3 mentioned in https://json-schema.org/implementations.html#validator-java (the same 3 mentioned above) https://github.com/networknt/json-schema-validator is the only one that has been updated to the latest version of the spec (released ~6months ago). It is also based on Jackson, which is a current dependenc

[2020-03-27 23:15] mark-vieira commented on #54314
👍to this btw. We already use are using YAML for test definitions. Going back and looking at the specs defines in JSON is rather gross.

Nice!

[2020-03-27 23:24] xzer commented on #49124
have you had a look of this:

https://hc.apache.org/httpcomponents-core-ga/httpcore-nio/apidocs/index.html

[2020-03-28 02:10] zacharymorn commented on #51972
@jasontedor I've opened a PR that implemented the idea above. Could you please take a look and let me know if it looks good to you? If so, may I get the specification of which x-pack index settings should be excluded from CCR?

[2020-03-28 07:51] karmi commented on #54314
Can you clarify this point, @mark-vieira ?

[2020-03-28 09:11] Subhadeep2707 commented on #54062
As per Contributing.md, I need to sign the Contributor License Agreement before submitting a PR. But my signing process fails with an 'Unable to start signing process. Please try again' error.

[2020-03-28 11:25] iluwa commented on #53792
I would like to work on this. May I?

[2020-03-28 11:34] nik9000 opened #54375 "Multi-version testing for cross cluster search"
I think we need a new qa style project to test cross cluster search where the versions differ. I think scenarios like these are pretty common:

Coordinating Node | Remote Cluster Gateway Node | Data Node
------------------|-----------------------------|----------
7.7.0             | 7.3.0                       | 7.3.0
7.3.0             | 7.7.0                       | 7.7.0
6.8.7             | 7.7.

[2020-03-28 11:34] elasticmachine commented on #54375
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-03-28 12:59] xtermi2 opened #54377 "Different behavior between TransportClient and RestHighLevelClient on msearch Requests when providing scroll parameter"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.1

**Plugins installed**: []

**JVM version** (`java -version`): the one provided in `docker.elastic.co/elasticsearch/elasticsearch:7.6.1`

**OS version** (`uname -a` if on a Unix-like system): `docker.elastic.co/elasticsearch/elasticsearch:7.6.1`
Host: `Linux XXX 5.3.0-40-generic #32-Ubuntu SMP Fri Jan 31 20:24:34 UTC 2020 x86_64 x86_

[2020-03-28 13:16] jasontedor commented on #46025
Thanks for clarifying @hendrikmuhs and @droberts195.

[2020-03-28 13:17] kaihekaihe opened #54378 "Document partly updating strategy"
Index has about 600+ columns，average size of doc is relatively big, Lucene firstly obtain the original doc from disk and then merge the old and the updating coulmns to a new one,finally flush to disk.
The dsik io usage rate of our 150+ nodes always reach nearly 99% while partly updating requests call frequently.

I want to optimize the partly updating strategy, only partly columns instead of all a

[2020-03-28 14:08] huuhau95 commented on #15292
a

[2020-03-28 15:47] #53215 closed

[2020-03-28 19:48] defensivedepth commented on #53603
Greetings All -

I have been following this thread closely, as it directly impacts the project I work on (@security-onion-solutions).

At this point, have any final decisions been made about how this should be handled?

[2020-03-28 21:38] nik9000 opened #54382 "auto date histogram error in mixed version cluster"
While working on the backport to #54161 I discovered a new and unique error that is almost certainly my fault:
[code]

[2020-03-28 21:38] elasticmachine commented on #54382
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-28 21:39] nik9000 commented on #54382
This isn't related to the change I'm backporting but the new test that I'm writing discovers it. The failure comes when running against a 6.8.8 mixed version cluster.

[2020-03-28 21:50] nik9000 commented on #54382
I'm totally unsure which version fix has this bug. I'll figure it out on Monday when I can concentrate on it properly.

[2020-03-29 12:32] jasontedor commented on #54378
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2020-03-29 12:32] #54378 closed

[2020-03-29 14:15] georgesouzafarias opened #54384 "[BUG] Problem to set path.logs on elasticsearch docker image"
**Elasticsearch version** : 7.6.1

**JVM version** : openjdk version "13.0.2" 2020-01-14

**OS version** : Linux master1 3.10.0-1062.18.1.el7.x86_64 #1 SMP Wed Mar 18 11:05:28 PDT 2020 x86_64 x86_64 x86_64 GNU/Linux

**Description**:

Greetings,

I am building an elasticsearch cluster with 3 masters, each host running imagem elasticsearch:7.6.1 on docker standalone.

Everything looks good, but I a

[2020-03-29 14:19] georgesouzafarias opened #54385 "[BUG] Problem to set path.logs on elasticsearch docker image"
**Elasticsearch version** : 7.6.1

**JVM version** : openjdk version "13.0.2" 2020-01-14

**OS version** : Linux master1 3.10.0-1062.18.1.el7.x86_64 #1 SMP Wed Mar 18 11:05:28 PDT 2020 x86_64 x86_64 x86_64 GNU/Linux

**Description**:

Greetings,

I am building an elasticsearch cluster with 3 masters, each host running imagem elasticsearch:7.6.1 on docker standalone.

Everything looks good, but I a

[2020-03-29 14:20] #54385 closed

[2020-03-29 15:11] jbogp commented on #54261
@polyfractal Thank you for replying, I agree it is a bit buggy, have you been able to reproduce it? Also I'll point out that the UI on kibana to create rollup jobs actually shows you the numerical fields of your index when creating the "terms" section (whereas it doesn't show the keyword fields in the histogram section), so it feels like it's definitely supposed to work :)

Hope this helps !

[2020-03-29 19:32] bsevindi commented on #38299
Any updates on this?

[2020-03-29 20:33] yao-ding opened #54390 "Undercounting of doc_counts in Terms agg V.S. scripted terms agg"
Elasticsearch version:
-- elastic.io 6.8.3 (version build date: 2019-08-29T19:05:24.312154Z)

Description of the problem including expected versus actual behavior:

I was experimenting a scripted terms agg that converts a field to String, because we have all data types at different times of the project (I know it's crazy but have to deal with it now).

Then I noticed a mismatch in bucket "doc_coun

[2020-03-29 22:40] dnhatn commented on #53594
I think this test failed because of the leftover from the other tests. However, I could not find it. I am closing this issue after adding debug logs to the test.

[code]

[2020-03-29 22:40] #53594 closed

[2020-03-30 00:54] tvernum opened #54391 "Cleanup Job for Invalidated API Keys"
Currently invalidated API Keys are never removed from the security index.

Some use cases will generate a lot of relatively short lived API keys, and an ever-increasing number of documents in the security index will be a problem.

We would like to keep the existing behaviour of only supporting soft-delete (invalidation) of API keys because it provides safety from an audit point of view - no one ca

[2020-03-30 00:55] elasticmachine commented on #54391
Pinging @elastic/es-security (:Security/Authentication)

[2020-03-30 02:51] congwensheng opened #54392 "snapshot errors"
hello:
i write a cronjob,to backup the elasticsearch data to the oss,it is verified that the  snapshot function works well,it works many days.but these days it does not work. The operating environment has not been changed,it confuse me .
i use the S3 repository plugin to snapshot,

the log for the master node elasticsearch is：

[2020-03-10T02:25:33,157][WARN ][o.e.r.VerifyNodeRepositoryAction] [el

[2020-03-30 08:26] martijnvg opened #54396 "[CI] Aggregation mixed cluster failure"
A serialization failure, because of an unknown named writeable in `MixedClusterClientYamlTestSuiteIT test {p0=search.aggregation/330_auto_date_histogram/basic}`

Failure:

[code]

Build url: https://gradle-enterprise.elastic.co/s/wdpjhc2oh534q/tests/77udqutc4yt34-blndfefc2cef2

Reproduce line: `./gradlew ':qa:mixed-cluster:v7.8.0#mixedClusterTest' --tests "org.elasticsearch.backwards.MixedClusterC

[2020-03-30 08:26] elasticmachine commented on #54396
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-30 08:46] Subhadeep2707 commented on #54062
I have submitted a pull request. Can you please review it and let me know? Thanks.

[2020-03-30 10:56] jimczi opened #54403 "Optimize date histogram on non-fixed timezones"
Today the `date_histogram` aggregation rewrites time zones into fixed offsets if the data in the shard is within a single transition. This optimization ensures that we don't need to check time zone transitions on every document.

While this optimization handles most of the cases, the alternative when it is not applicable is very slow since it requires to check for time zone transitions on every do

[2020-03-30 10:56] elasticmachine commented on #54403
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-30 11:34] jimczi commented on #54392
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2020-03-30 11:34] #54392 closed

[2020-03-30 11:34] jimczi commented on #54390
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2020-03-30 11:34] #54390 closed

[2020-03-30 11:39] benwtrent commented on #54180
This is still occurring (MacOS failures), had another failure this morning: https://gradle-enterprise.elastic.co/s/7rni7zuujym2m

[2020-03-30 11:45] jimczi commented on #54180
I seems that we have two types of failure here. One that fails with:
[code]
and another one that fails with:
[code]
They are maybe linked but the former is weird since it fails with a rest layer assertion on tests that should only use the transport client. I suspect that the leaked channels are coming from other tests that failed to cleanup their connections.  @javanna were you able to reproduce ?

[2020-03-30 11:47] BartolottiLuca commented on #40506
@jasontedor the link is not working anymore and I'm facing this issue, any suggestion?

[2020-03-30 11:52] jasontedor commented on #40506
@BartolottiLuca Sorry for that, I have corrected the link.

[2020-03-30 12:03] benwtrent commented on #54396
Many builds have failed due to this test over the past 24 hours.

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(_source),index:b646ed00-7efc-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'%22FAILURE%20MixedClusterClientYamlTestSuiteIT%20test%20%7Bp0%3Dsearch.aggregation%2F330_auto_

[2020-03-30 12:08] elasticmachine commented on #54377
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-03-30 12:10] #53946 closed

[2020-03-30 12:20] astefan opened #54411 "EQL: case sensitivity in ES EQL string functions"
At the moment, the documented string functions in eql (https://eql.readthedocs.io/en/latest/query-guide/functions.html) have an inconsistent behavior when it comes to case sensitivity. All of them, with the exception of **between** function deal with strings in a case insensitive way.

Case insensitive functions
- **arrayContains**
- **endsWith**
- **indexOf**
- **match**
- **startsWith**
- **stri

[2020-03-30 12:20] elasticmachine commented on #54411
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-03-30 12:29] benwtrent opened #54415 "[CI] Failure in BWC on debian 8 tests with `_cat/nodes`. Error: Values less than -1 bytes are not supported"
Multiple BWC tests fail in similar ways.

`Values less than -1 bytes are not supported: -44383772672b`

This occurs in BWC tests with 7.7.

Some failures:

https://gradle-enterprise.elastic.co/s/rpa3bpzgm7bkg

https://gradle-enterprise.elastic.co/s/or7qqkbuuazto

Here is one of the many stack traces:

Full stack trace
[code]

[2020-03-30 12:29] elasticmachine commented on #54415
Pinging @elastic/es-core-features (:Core/Features/CAT APIs)

[2020-03-30 12:34] benwtrent commented on #54415
Here are some nifty server logs:
[659.tar.gz](https://github.com/elastic/elasticsearch/files/4402671/659.tar.gz)

[2020-03-30 12:34] przemekwitek commented on #52149
Here is how the annotation looks like in the UI:
![image](https://user-images.githubusercontent.com/19312454/77912824-8e37c500-7293-11ea-9523-39c196d64d5a.png)

[2020-03-30 12:34] benwtrent commented on #54415
Related to PR: https://github.com/elastic/elasticsearch/pull/54259

[2020-03-30 13:07] elasticmachine commented on #54292
Pinging @elastic/es-search (:Search/Mapping)

[2020-03-30 13:12] cbuescher commented on #54292
Hi @ezimuel,
thanks for raising the issue. As far as I re-read the issues you pointed to above, we decided that `indices.exists` does not need to support the `include_type_name` since its response body is empty. This is why we opted for removing the deprecation warning starting with 6.8 instead (as you mentioned in https://github.com/elastic/elasticsearch/issues/43905).
I'm not sure what we can do

[2020-03-30 13:27] astefan opened #54419 "EQL: null handling in ES EQL"
EQL treats a non-existent value (that can be associated with a `null` to some degree) in a "lenient" way. For example, `length` will return `0` if there is an empty string or non-existent string. Should `length` return `null` instead of 0?

A more interesting scenario is the one of functions that return a boolean value (`startsWith` is one of them) that receive a `null` parameter? Should they retu

[2020-03-30 13:27] elasticmachine commented on #54419
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-03-30 13:31] ezimuel commented on #54292
Ok, do you confirm that `include_type_name` is only available in the mentioned endpoints?

Even if we don't release `6.7` anymore I can send a PR to update the API specification, since `include_type_name`is supported in `indices.exists` for `6.7`. This can be relevant for folks using the API specification for generating code (as I did) or for refence.

[2020-03-30 13:33] polyfractal commented on #54396
/cc @nik9000 related to recent pipeline work?

[2020-03-30 13:34] bpintea opened #54422 "SQL: add metadata with total number of rows in resultset"
Some client applications inquire the total number of rows in a result set before proceeding to fetching and processing of the rows. In case the REST answer contains no cursor, the drivers can provide the number of rows right away. If a cursor is present, however, the provided count is wrong.

Since ES/SQL has the count [readily available](https://github.com/elastic/elasticsearch/issues/52787), we

[2020-03-30 13:34] elasticmachine commented on #54422
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-03-30 13:41] benwtrent opened #54423 "SamlIdentityProviderTests.testIdPInitiatedSsoFailsWithoutSecondaryAuthentication fails with doc version conflict"
Build: https://gradle-enterprise.elastic.co/s/bcgyqo6mdefs4
Failure:
[code]

Reproduction line:
[code]

There are also references to channel already closed failures in the after test phase:
[code]

Maybe related to https://github.com/elastic/elasticsearch/issues/54285 ?

[2020-03-30 13:41] elasticmachine commented on #54423
Pinging @elastic/es-security (:Security/Authentication)

[2020-03-30 13:44] markharwood commented on #53603
We're still deciding. The options and their pros/cons here.

Option | implementation detail  | pros | cons
---|-----|---|----
1 index-time treatment | Wildcard field has the option of a normalizer (like `keyword` field) | Fast search, works with multiple query types | requires more disk space if both case sensitive and insensitive search required
2 query-time (via flags) |  Add case-sensitive flag

[2020-03-30 13:51] nik9000 commented on #54396
Maybe! I'll take a look now.

[2020-03-30 13:56] nik9000 commented on #54396
The test is actually new in the pipeline agg work. We didn't have any yaml tests for auto_date_histogram in the past.

[2020-03-30 13:56] cbuescher commented on #54292
Yes, those eight endpoint should be the only ones that support this parameter. I just checked the code on 7.x again and could map each of these APIs to a Rest*Action that evaluates the parameter at some point. I didn't check for older 7.x versions or 6.x but this should largely cover it:
API  | param usage ( as of 7.x, be3090138e791645b89e40fac52cf516f6d90f4d)
------------ | -------------
indices.

[2020-03-30 13:58] danielmitterdorfer opened #54425 "Bytes get corrupted on network layer"
**Elasticsearch version** (`bin/elasticsearch --version`): master(see below for details)

**Plugins installed**: none

**JVM version** (`java -version`): `OpenJDK Runtime Environment 18.9 (build 11.0.2+7)`

**OS version** (`uname -a` if on a Unix-like system): `Linux 4.13.0-45-generic`

**Description of the problem including expected versus actual behavior**:

When running a bulk-benchmark with th

[2020-03-30 13:58] elasticmachine commented on #54425
Pinging @elastic/es-distributed (:Distributed/Network)

[2020-03-30 14:48] markharwood commented on #51341
I think there's a broader issue here.
#### JSON value types are a poor predictor of elasticsearch type
The proposal is reliant on the shape of the JSON value dictating the type of the new field. Adrien's concern that value+count might be presented for values other than histograms may be an edge case but there is a much more common precedent for JSON values being a poor predictor of type - the humb

[2020-03-30 14:49] nik9000 commented on #54396
I've opened a PR that should fix this. It re-enables the test and fixes a serialization bug that feels like a likely suspect. I have *no* idea why this doesn't reproduce more consistently.

[2020-03-30 15:08] spinscale opened #54434 "Word Delimiter Graph: AAIOB in QueryBuilder.newSynonymQuery"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.1

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

[code]

The search results in the following exception

[code]

Source https://discuss.elastic.co/t/length-filter-array-index-out-of-bounds-exception/225261/2

[2020-03-30 15:11] matriv commented on #29875
@elastic/es-ql

[2020-03-30 15:11] matriv commented on #30258
@elastic/es-ql

[2020-03-30 15:12] matriv commented on #33519
@elastic/es-ql

[2020-03-30 15:12] matriv commented on #35077
@elastic/es-ql

[2020-03-30 15:12] matriv commented on #35135
@elastic/es-ql

[2020-03-30 15:13] matriv commented on #35139
@elastic/es-ql

[2020-03-30 15:13] matriv commented on #35151
@elastic/es-ql

[2020-03-30 15:13] matriv commented on #35152
@elastic/es-ql

[2020-03-30 15:13] matriv commented on #35200
@elastic/es-ql

[2020-03-30 15:14] matriv commented on #35472
@elastic/es-ql

[2020-03-30 15:14] matriv commented on #36055
@elastic/es-ql

[2020-03-30 15:14] matriv commented on #36056
@elastic/es-ql

[2020-03-30 15:14] matriv commented on #36060
@elastic/es-ql

[2020-03-30 15:15] matriv commented on #40640
@elastic/es-ql

[2020-03-30 15:15] matriv commented on #40692
@elastic/es-ql

[2020-03-30 15:15] matriv commented on #41597
@elastic/es-ql

[2020-03-30 15:15] matriv commented on #42411
@elastic/es-ql

[2020-03-30 15:15] matriv commented on #43163
@elastic/es-ql

[2020-03-30 15:16] matriv commented on #43766
@elastic/es-ql

[2020-03-30 15:16] matriv commented on #45251
@elastic/es-ql

[2020-03-30 15:16] matriv commented on #45915
@elastic/es-ql

[2020-03-30 15:16] matriv commented on #46396
@elastic/es-ql

[2020-03-30 15:16] matriv commented on #49391
@elastic/es-ql

[2020-03-30 15:16] matriv commented on #49636
@elastic/es-ql

[2020-03-30 15:17] matriv commented on #49672
@elastic/es-ql

[2020-03-30 15:17] matriv commented on #53359
@elastic/es-ql

[2020-03-30 15:17] matriv commented on #53445
@elastic/es-ql

[2020-03-30 15:17] matriv commented on #53565
@elastic/es-ql

[2020-03-30 15:23] dakrone commented on #54415
@gwbrown I think we may need a way to be more lenient for BWC when receiving values from other nodes, as otherwise users may run into this problem with mixed version clusters, what do you think?

[2020-03-30 15:37] #54396 closed

[2020-03-30 15:48] tbrooks8 commented on #54425
Thanks @danielmitterdorfer. I'll work to see if I can get this fixed soon. Otherwise I will revert.

[2020-03-30 15:49] stanpalatnik commented on #49124
@jbaiera Do you have a timeline of when the Elasticsearch library will use the recently released HTTP Components 5.0?

[2020-03-30 15:57] sandmannn commented on #24422
Hi, as mentioned in the discussion in the last commit #41656 I will not have capacity to contribute at least in the next 3-6 months starting from the April 2020. so as of now everybody is welcome to take over this broader refactoring.

[2020-03-30 15:57] markharwood commented on #52155
We discussed this today and came up with two additional proposals:

1) More pre-empting: like a document whose value has exceeded the `ignore_above` setting for a `keyword` field, we should avoid even trying to highlight fields that are [known to be unindexed](https://github.com/elastic/elasticsearch/issues/52155#issuecomment-597722380).
2) Better fallbacks - rather than only [flagging a field was

[2020-03-30 16:03] thomasneirynck opened #54441 "Cannot index GeoJson polygon from ArcGIS"
Cannot index this polygon into Elasticsearch (this is an extract from the file referenced here https://github.com/elastic/kibana/issues/61794)

There's two ways this fails (scroll down)

--------

1) the raw geometry (from the original ArcGIS generated file)

[code]

[code]

This fails with:

[code]

----

2) Reformatted though JSON-linter

Even though this is valid Json, re-running it through a f

[2020-03-30 16:04] dakrone commented on #54415
Oh nevermind! sorry @gwbrown, I read this as relating to the `TimeValue` change but this is bytes, so ignore this!

[2020-03-30 16:05] elasticmachine commented on #54441
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-03-30 16:08] jimczi commented on #50263
Sorry for the late answer @pvbahlst, we are not very happy with the way multi-fields are queried today so we're thinking of new ways to handle your use case more naturally.
However your issue is a valid one so we think that's it's worth providing a fix in the meantime.
I am going to mark this issue as adoptme because the workaround should be easy to implement but we don't have any plan to prioriti

[2020-03-30 16:10] elasticmachine commented on #54434
Pinging @elastic/es-search (:Search/Search)

[2020-03-30 16:10] jimczi commented on #54434
@cbuescher could you take a look ?

[2020-03-30 16:18] pbvahlst commented on #50263
Ok, thank you 😊

[2020-03-30 16:29] jdconrad commented on #49869
Closing in favor of #53702

[2020-03-30 16:29] #49869 closed

[2020-03-30 16:30] jdconrad commented on #53561
Done with #53348 and #53685

[2020-03-30 16:30] #53561 closed

[2020-03-30 16:35] cbuescher commented on #54434
This looks very similar to https://github.com/elastic/elasticsearch/issues/46272.
I will look into the details but I think this is a duplicate.

[2020-03-30 16:41] gwbrown commented on #54415
Ha, I made the same mistake at first, then started wondering if I'd done some work on preventing negative byte values and just forgotten. Happy to help if you want assistance, of course!

[2020-03-30 16:57] dolaru opened #54444 "[ML] Estimate model memory returns 500 when zero cardinality value is present"
Spotted in 7.7.0

When estimating model memory usage for an anomaly detection job, if the analysis config contains a detector that has `by_field_name` and `partition_field_name` specified, and one of the cardinality values is zero, the cluster responds with a `500`:
[code]

Steps to reproduce:
1. Send this API request:
[code]
2. Notice a `500` is returned.

[2020-03-30 16:57] elasticmachine commented on #54444
Pinging @elastic/ml-core (:ml)

[2020-03-30 16:59] jkakavas opened #54445 "ensureGreen() times out in IdpRestTestCase tests"
example: https://gradle-enterprise.elastic.co/s/mjzehzprhvqrc/console-log?task=:x-pack:plugin:identity-provider:qa:idp-rest-tests:integTestRunner

[code]

I also hit this in https://github.com/elastic/elasticsearch/pull/54215 where there are two test methods and this would always happen only on the second test of the two that would run. I traced it to the fact that the template was deleted after t

[2020-03-30 16:59] elasticmachine commented on #54445
Pinging @elastic/es-security (:Security/Security)

[2020-03-30 17:01] jbaiera commented on #49124
@stanpalatnik No timeline as of yet, though I'll add a personal todo item to start taking a look at it!

[2020-03-30 17:19] benwtrent opened #54448 "testCloseUnassignedFailedJobAndStopUnassignedStoppingDatafeed test failure"
Build link: https://gradle-enterprise.elastic.co/s/sbvr6vobv5ely

[code]

Reproduction line:
[code]

Looking at the logs, it seems as if the `.ml-state-*` index takes 15+ seconds to move from yellow to green state. This shouldn't cause problems for the job starting as we only look at primary shards.

It has only failed once, and it might be due to system resource constraints. Will mute if more fai

[2020-03-30 17:19] elasticmachine commented on #54448
Pinging @elastic/ml-core (:ml)

[2020-03-30 18:24] defensivedepth commented on #53603
Thanks @markharwood

I think that increased storage is an acceptable trade-off in this particular situation - my vote would be option 1).

There are two parts to solving this issue: 1) Development of the solution 2) Getting people to use the solution. If the solution is optional, it will become yet another esoteric setting that users will need to figure out.

TL;DR: It needs to be non-optional, or

[2020-03-30 18:33] jtibshirani commented on #53792
Thanks @AndyHunt66 for reporting this. I agree that we should throw an error when attempting to change the values for these parameters. The alternative is to add support for changing the value. This would allow for a situation in which some documents contain the values in the parent/ root but others do not, which is a strange index state and could cause confusion when querying against these fields

[2020-03-30 18:53] benwtrent opened #54459 "SnapshotResiliencyTests.testSnapshotWithNodeDisconnects test failure"
Test failure in 7.6 branch.

Build: https://gradle-enterprise.elastic.co/s/5qjrfa3ztjwis

[code]

Reproduce line:
[code]

Reproduced reliably on the 7.6 branch.

[2020-03-30 18:54] elasticmachine commented on #54459
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-03-30 19:13] original-brownbear commented on #54459
This is just a missing back-port of a test fix from a while back. I'll deal with this tomorrow, it's a test only issue :)

[2020-03-30 19:46] droberts195 commented on #54444
There are two parts to this:

1. What happens if the required cardinalities are missing?
2. What happens if the required cardinalities are supplied but are zero?

I will fix this as follows:

[code]

will return:

[code]

because it doesn't supply the required cardinalities.

But:

[code]

will return:

[code]

because it does supply the required cardinalities, but they are both zero (implying tha

[2020-03-30 20:00] shikhar opened #54464 "Well-defined order in which indexes included in a snapshot are snapshotted"
**Describe the feature**:

We have a pattern of using a "sidecar" index containing timestamps (physical timestamps or or logical timestamps like Kafka offsets) relevant to the indexing state of an Elasticsearch index.

To ensure all the relevant data represented by the sidecar index in the snapshot is present once the snapshot is restored, and indexing activity is able to resume in a way that ensu

[2020-03-30 20:02] IvanBoyko commented on #31099
We experience the same problem on 6.8.7

Is there any generic workaround how to delete stuck tasks?

[2020-03-30 21:02] rw-access opened #54465 "EQL: Implement string function"
Part of #51556
https://eql.readthedocs.io/en/latest/query-guide/functions.html#string

Probably the most straightforward function in EQL.

#### Function behavior
Validation requirements:
* One exact argument (isExact check)

**null** behavior:
* this function will never return null
* obj.toString()

[2020-03-30 21:02] elasticmachine commented on #54465
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-03-30 21:06] #52939 closed

[2020-03-30 21:56] javanna commented on #54377
heya @xtermi2 thanks for opening this issue.

I took some time to look into this and I was able to reproduce the problem. As far as I can see scrolling in msearch is not supported. At REST, the scroll parameter is not among the ones that we parse, and actually if you try this with curl you'll get back an error saying that "key [scroll] is not supported in the metadata section". You don't get back

[2020-03-30 21:56] #54377 closed

[2020-03-30 22:46] rw-access opened #54471 "EQL: implement number function"
Part of #51556
https://eql.readthedocs.io/en/latest/query-guide/functions.html#number
`number(input: str, [base: int]) -> int|float`

#### Function behavior
Validation requirements:
* Accepts isString()
* Return null if input is null
* Autodetect the base if none provided
    * input startswith "0x": 16
    * otherwise: 10
* Tries to parse as integer. If that succeeds, it's returned as an integer

[2020-03-30 22:46] elasticmachine commented on #54471
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-03-31 02:34] mark-vieira commented on #54314
Only that I find YAML much easier to grok and manipulate manually vs JSON. If we could support specs defined in YAML vs JSON that would be my preference, assuming all the supporting tooling is compatible.

[2020-03-31 03:47] jasontedor commented on #54464
There are no guarantees if the kind that you are looking for. At the highest level, the shards in a single snapshot request are snapshotted concurrently. The primary shards of the indices in a snapshot request could be allocated on different nodes. The nodes will not receive and act on the requests to start snapshots for the shards they are responsible for in any well-defined order, nor do the sna

[2020-03-31 03:47] #54464 closed

[2020-03-31 04:06] aishwaryabk commented on #53786
@rjernst Thank You.

This works.

[2020-03-31 04:41] zhuzhu9651 opened #54476 "Getting array_index_out_of_bounds_exception while set require_field_match=false"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
6.5.4

**Plugins installed**: No

**JVM version** (`java -version`):
openjdk version "11.0.1" 2018-10-16
OpenJDK Runtime Environment 18.9 (build 11.0.1+13)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.1+13, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
centos7.2

**Description of the problem inc

[2020-03-31 04:44] elasticmachine commented on #54476
Pinging @elastic/es-search (:Search/Search)

[2020-03-31 05:21] tvernum commented on #54445
This doesn't really make any sense. The line immediately before the failure is reading a document from that index. The index must exist ... perhaps it is yellow?

[2020-03-31 05:41] jkakavas commented on #54445
That is actually the case ( looking in my troubleshooting notes from last week and #54215 )

[2020-03-31 05:51] tvernum commented on #54445
Curious - I thought that cluster only had 1 node, and the index settings are to expand  replicas`0-1` so something isn't how I thought it would be.

But even then, why would it take more than 60s to get to green?

[2020-03-31 05:53] russcam opened #54478 "cat thread_pool size enum empty string value"
The cat thread_pool rest API spec defines a `"size"` param of type `enum` with possible values:

https://github.com/elastic/elasticsearch/blob/6fcb51dafcd5519937e7169aaec5b499aa88de36/rest-api-spec/src/main/resources/rest-api-spec/api/cat.thread_pool.json#L35-L46

This param is the only example within all the rest API specs with an empty string enum value. An empty string value may require special

[2020-03-31 07:17] original-brownbear commented on #54459
https://github.com/elastic/elasticsearch/pull/54480 will fix this, closing here :)

[2020-03-31 07:17] #54459 closed

[2020-03-31 07:22] DylanGriffith commented on #21185
Is there any way to configure this yet? It appears to be the bottleneck for us doing remote reindex as well and thus we are forced to use a very low batch size considering our cluster size.

[2020-03-31 07:24] zacharymorn commented on #37437
@jtibshirani I've created a draft PR for this. For the time being I chose to emit deprecation warning when the issue in question is detected. Please let me know if this looks good to you.

[2020-03-31 07:46] fdartayre commented on #51257
This is a breaking change that should at least be documented.

[2020-03-31 08:21] karmi commented on #54314
Well, even though the [_“Anyone who uses YAML long enough will eventually get burned when attempting to abbreviate Norway”_](https://noyaml.com) dictum sounds a little like a joke, it's not. I've been myself burned by the Go JSON parser decoding a key like `y` as `true` in the REST API tests, which use YAML.

YAML is simply too fragile for any serious specification, in my opinion. The fact that eg

[2020-03-31 08:44] Deltharis commented on #41655
Any news on this? Is there a way to resolve datemath using REST API or Java client/library?

[2020-03-31 08:53] 9ins opened #54483 "When I tried to upsert using UpdateRequest object with type as "UPDATE", I met reject message."
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
7.5.1

**Plugins installed**: []

**JVM version** (`java -version`):
1.8.0_242

**OS version** (`uname -a` if on a Unix-like system):
Windows 10

**Description of the problem including expected versus actual behavior**:
First of all, I did tried to upsert to Elastic Search with document. So I used org.elasticsear

[2020-03-31 09:01] cbuescher commented on #54476
This looks very similar to https://github.com/elastic/elasticsearch/issues/38170 and https://github.com/elastic/elasticsearch/issues/37525 to me, which should be fixed in 6.7.2 by https://github.com/elastic/elasticsearch/pull/41275. Can you try this scenario with a later version, either 6.7.2 or up or one of the 7.x versions and see if you still get the exception?

[2020-03-31 09:06] cbuescher commented on #54483
Hi @9ins! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and it's more likely this is a question than a bug report. In this case you are trying to put documents with differing types into the same index, which isn't supported any more since 6.x, see https://www.elastic.co/de/blog/remo

[2020-03-31 09:06] #54483 closed

[2020-03-31 09:51] HighOnWater opened #54484 "Elastic Search update by query not reflecting correctly updated number of documents"
Java version: 1.8.0_151
ES Version: 7.4
I am running an update by query call using the java rest [client](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/master/java-rest-high-document-update-by-query.html)

This is my code: (extracted only the relevant part and updated some fields in the painless script)

[code]

The above code works fine, with the relevant documents getting update

[2020-03-31 09:58] csoulios opened #54485 "[CI] JvmGcMonitorServiceSettingsTests.testNegativeSetting fails on CI"
Test JvmGcMonitorServiceSettingsTests.testNegativeSetting fails on CI and local master

To reproduce the failure:

[code]

[2020-03-31 10:02] elasticmachine commented on #54485
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-03-31 10:12] markharwood commented on #53603
That's the dilemma. We could up-front automatically optimise search for every conceivable query type (wildcard, exact-value-match, word-based matches, case sensitive, case-insensitive) but that would require multiple data structures which means more disk space. If users only want to pay for what they need they must opt in to these specialised field configurations or live with the limitations of an

[2020-03-31 10:16] cawoodm commented on #54341
Thanks, your help has enabled me to solve the problem.
I've posted my results in the forum on the [original question](https://discuss.elastic.co/t/elastic-edge-ngram-with-whitespace-word-breaker/225280).

[2020-03-31 10:36] romseygeek commented on #54445
This has just failed on 7.x as well - can we backport the mute?

https://gradle-enterprise.elastic.co/s/gidsxp5rxevea/tests/ypjwgchf3udh6-nee3awz3nsh5q

[2020-03-31 10:36] richiejarvis commented on #51257
@fdartayre It is a breaking fix I suppose?  Once fixed, it is back to how it was before afaik.

[2020-03-31 10:48] rw-access commented on #53603
I think this has been _understated_ in this thread. There's been some back and forth largely about what the _defaults_ are, but in my opinion this will largely come down to the mappings provided with ECS. Personally, I would lean towards conservative defaults within Elasticsearch and communicating well what those are and how to change them. It isn't necessarily fair to all users to be affected by

[2020-03-31 11:02] jkakavas commented on #54445
messed up labels so we'll need to wait a little more, but I backported the mute to 7.x and 7.7 @romseygeek

[2020-03-31 11:04] markharwood commented on #53603
Worth noting that while this is a win for avoiding reindexing it's a lose for the user attempting a case-sensitive search on a field indexed with lower-case. It's a break with the long-held principle of case-sensitivity being determined by choice of field names, not query flags.

[2020-03-31 11:18] christianskovholm opened #54491 "Build task :distribution:packages:buildNoJdkRpm fails"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.1

**Plugins installed**: None

**JVM version** (`java -version`): OpenJDK 13

**OS version** (`uname -a` if on a Unix-like system):

Linux christian-ZenBook-UX434FAC-UX433FAC 5.3.0-42-generic #34-Ubuntu SMP Fri Feb 28 05:49:40 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavi

[2020-03-31 11:37] rw-access commented on #53603
Yes support for 1 and 3 is perfect IMO.

With 2 and 3, it looks like its still the same transformation, but just a difference in whether it's applied to one field or all fields in the query.

Would the proposed `.lower`/`.nocase` virtual subfield be supported with both keyword _and_ wildcard? Both have independent value and many rules will not need wildcards, but still need case-insensitivity.

[2020-03-31 12:01] tvernum commented on #54445
A reminder to myself. Our current theory is that the template gets lost/dropped and so the index gets 1 replica, so on a single node cluster it's yellow not green.

But the question is why the template is being lost.

[2020-03-31 12:06] tvernum commented on #54445
And that's definitely the cause:
[code]
So, it looks like a bug in our code that isn't guaranteeing that the template is installed before we create the index.

[2020-03-31 12:14] JessedeJonge opened #54496 "The documentation to use Logstash pipelines for filebeat modules uses wrong module field"
In the [documentation](https://www.elastic.co/guide/en/logstash/current/logstash-config-for-filebeat-modules.html#parsing-nginx) for the Logstash configuration to recreate the same behaviour as the ingest pipelines for the filebeat modules the following IF statements are used:

[code]
However, the filebeat modules are placing the modulenames (nginx/system etc.) under `[event][module]`, rendering t

[2020-03-31 12:17] markharwood commented on #53603
That's possible but I'm concerned how other query types (term, terms, prefix) would be expected to behave on a keyword virtual field. With a wildcard field, all supported query types (wildcard/term/prefix etc) must be verified by retrieving the docvalue which is where we get the opportunity to lowercase on the fly if required. Some slowness is a built-in expectation for all query types so the cost

[2020-03-31 12:46] miskeenhijas commented on #43911
please add following lines

LimitNOFILE=65536

LimitMEMLOCK=infinity

TimeoutStopSec=0

[2020-03-31 13:07] tlapusan commented on #25564
Thanks @lobodpav
Thanks @

[2020-03-31 13:34] SledgeHammer01 opened #54501 "6.8.7 / #50208 causing problems in Spring Boot 2.2.6"
Hi,

Spring Boot 2.2.6 upgraded to Elastic client 6.8.7. Looks like #50208 is causing problems.

I am running on Windows 10 Pro x64 with JDK 11.0.6 and started getting this exception after upgrading.

[code]

[2020-03-31 13:51] #53853 closed

[2020-03-31 14:08] cbuescher commented on #46272
This came up again in #54434, so adding a summary of how this manifests in 7.6.

Basically this error can happen whenever a filter produces a tokenstream with a graph structure (here the word-delimiter-grapg), e.g. by splitting sth. like "3d" on numerics while keeping the original aswell (here  "3", "d" and "3d"), and a subsequent filter removes some of these tokens (here the length filter). The c

[2020-03-31 14:08] imotov opened #54503 "Transform support for t_test"
#54469 is adding a `t_test` metric aggregation that can perform paired and unpaired two-sample
t-tests.

[2020-03-31 14:08] elasticmachine commented on #54503
Pinging @elastic/ml-core (:ml/Transform)

[2020-03-31 14:11] cbuescher commented on #54434
@spinscale updated #46272 which is indeed the same issue, closing this in favour of the older issue.

[2020-03-31 14:11] #54434 closed

[2020-03-31 14:29] #54444 closed

[2020-03-31 14:33] peteharverson opened #54506 "[ML] Excessive precision in analytic model memory limit estimate from _explain endpoint"
When obtaining an estimate for the model memory limit for a data frame analytics job, the `explain` endpoint `/_ml/data_frame/analytics/_explain` returns the estimate in KB with very high precision. This often appears overly precise to the user, for example when viewed in the Create job flyout in the ML UI:

![image](https://user-images.githubusercontent.com/7405507/78038217-7ed47c80-7364-11ea-87c

[2020-03-31 14:33] elasticmachine commented on #54506
Pinging @elastic/ml-core (:ml)

[2020-03-31 15:07] #53855 closed

[2020-03-31 15:07] #53854 closed

[2020-03-31 15:16] hub-cap opened #54513 "Release tests failing on DockerYmlTestSuiteIT"
[build 1060](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/1060/) -- [build scan 1060](https://gradle-enterprise.elastic.co/s/r2fkflx3sr4rm)
[build 1059](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/1059/) -- [build scan 1059](https://gradle-enterprise.elastic.co/s/jlhouiqj73l44)
[build 1058](https://elasticsearch-ci.elasti

[2020-03-31 15:16] elasticmachine commented on #54513
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-03-31 15:32] stu-elastic commented on #50383
Related: https://github.com/elastic/elasticsearch/issues/49672

[2020-03-31 15:42] gwbrown commented on #54513
`{"error":"no handler found for uri [_index_template/*] and method [DELETE]"}`

I don't think we have any (released) APIs under `_index_template` so I did a quick check, looks like this might be related to index templates v2 - this is the only place I was able to find a reference to `_index_templates/*` with the DELETE verb:
https://github.com/elastic/elasticsearch/blob/5a98fc20e106c4f2acc1411c66b

[2020-03-31 15:54] stu-elastic commented on #49879
* [ ] Setup vscode/monaco and register a LSP server for painless
* [ ] See request frequency for LSP

[2020-03-31 15:58] gaobinlong commented on #54315
This issue maybe originated from this line in `MetaDataIndexAliasesService`:
https://github.com/elastic/elasticsearch/blob/5a98fc20e106c4f2acc1411c66bd8e796a8051d8/server/src/main/java/org/elasticsearch/cluster/metadata/MetaDataIndexAliasesService.java#L154

`nowInMillis` is set to 0 in `QueryShardContext`.

[2020-03-31 16:03] jimczi commented on #54315
This is correct @gaobinlong thanks for looking. Would you like to provide a pull request to fix this since you already found the issue ?

[2020-03-31 16:06] mark-vieira commented on #54314
If no one is screaming to use YAML instead of JSON for the specs I'm fine leaving things as-is

[2020-03-31 17:04] droberts195 commented on #54506
The fix for this may not be in UI code.  It may be better to do it in the C++.  I opened elastic/ml-cpp#1110 for discussion.

[2020-03-31 19:05] wdgrantham commented on #31549
Just hopping on here.  I've been migrating a very large MySQL database over to elastic search to improve search speed.  A key part of my application is allowing my users to pull lots of data from my database, and I've historically used offsets to ensure that they don't get duplicate records.

Now that I know that elastic search sql doesn't support offsets, I'm having to write some funky logic to d

[2020-03-31 19:15] joshFive commented on #53517
Will this manifest on the leader or the follower? I'm in a similar situation, that is taking the primary nodes offline.

[2020-03-31 19:48] chrisronline commented on #50032
Any update on when this might be available? Does 7.8 look realistic?

[2020-03-31 20:30] dnhatn commented on #53517
@joshFive This occurs on the follower.

[2020-03-31 20:36] nik9000 commented on #54403
I spent some time playing with this today. Good news:
1. `java.time` exposes everything we need.
2. We absolutely can make this faster by building a shard-local `lookup` that do a no single binary search per date on an array as big as all of the transitions that are in the shard - usually 1 or 2. We wouldn't even need to allocate any objects.
3. We have a ton of lovely test cases in `RoundingTests

[2020-03-31 20:56] astefan commented on #54419
A valid scenario that needs a solution: `file where opcode=0 and indexOf(file_name, 'plore') == 2 and not indexOf(file_name, '.pf')`
In this case `not indexOf` should return a boolean value. But `indexOf` is in fact a function that has an output of type number. In reality, `not indexOf` is a variant of `indexOf IS NOT NULL`.

[2020-03-31 21:43] hub-cap opened #54540 "org.elasticsearch.search.aggregations.bucket.histogram.InternalAutoDateHistogramTests.testReduceRandom fails"
[code]

[code]

[2020-03-31 21:49] elasticmachine commented on #54540
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-31 21:54] msufa commented on #54335
Thank you for moving this forward @jtibshirani. Answering your questions:

The query structure varies a lot. In some simple cases, or with new functionality, it's feasible to write the queries in a way that would enable the use of named queries. This is well known functionality to us and we managed to get good results with it in some specific areas.

Some queries are quite complicated, matching ac

[2020-03-31 22:55] astefan opened #54544 "EQL: implicit boolean casting"
EQL has two scenarios for values/functions involved in comparisons or logical expressions:
- `... where indexOf(file_name,"A") > 0`
- `... where pid>10000 and indexOf(file_name,"A")`

The first scenario compares the output of the function with a value and this works as is currently.
The second scenario assumes an implicit boolean casting of the functions' value comparison with NULL. As such, the s

[2020-03-31 23:06] ywangd opened #54545 "[CI] MixedClusterClientYamlTestSuiteIT test {p0=bulk/60_deprecated/Deprecated parameters should produce warning in Bulk query}"
Edit: This started to fail again since 6.8.8 was created and seems to related #53923. Probably need to disable it for 6.8.8. Asking @henningandersen to take a look.

Branch 6.8: The failure can be reproduced locally with
[code]

Build Job:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+default-distro+bwc/BWC_VERSION=6.8.8,nodes=centos-7&&immutable/714/console

Failure email:
htt

[2020-03-31 23:06] elasticmachine commented on #54545
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-03-31 23:22] ywangd commented on #54540
Two more failures just now:
* https://gradle-enterprise.elastic.co/s/l5k2n2rq7sz2k
* https://gradle-enterprise.elastic.co/s/wsp272zisq7ie

Can be reproduced locally with
[code]

Sample failure message:
[code]

[2020-03-31 23:27] nik9000 commented on #54540
Baz is muting this and I'll look in the morning. Oddly, I tracked this
particular seed failing back to December.

On Tue, Mar 31, 2020, 19:22 Yang Wang <notifications@github.com> wrote:

[2020-03-31 23:40] hostalp commented on #28619
Please fix this finally, it's an easy fix in the `/usr/share/elasticsearch/bin/elasticsearch-env` file.

[2020-03-31 23:48] ywangd commented on #53360
This started to fail for "darwin-compatibility" since March 27 for `master`, `7.x` and `7.7`. On CI, all tests of this class fail all the time for "darwin-compatibility", see following trend:

https://gradle-enterprise.elastic.co/scans/tests?list.size=50&list.sortColumn=startTime&list.sortOrder=desc&search.buildToolType=gradle&search.buildToolType=maven&search.startTimeMax=1585698495283&search.sta

[2020-04-01 00:23] ywangd opened #54548 "[CI] CoreWithSecurityClientYamlTestSuiteIT test {yaml=indices.get_index_template/10_basic/Get index template} etc"
The following tests failed for the first time since they are [added](https://github.com/elastic/elasticsearch/pull/54039) on March 28:
[code]

They were fine since added and have [succeeded 825 times and this is the first failure](https://gradle-enterprise.elastic.co/scans/tests?list.size=50&list.sortColumn=startTime&list.sortOrder=desc&search.buildToolType=gradle&search.buildToolType=maven&search

[2020-04-01 00:23] elasticmachine commented on #54548
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-04-01 00:25] s-nel opened #54549 "Inconsistent errors in bulk API"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.1

**Plugins installed**: []

**JVM version** (`java -version`): Elastic Cloud

**OS version** (`uname -a` if on a Unix-like system): Elastic Cloud

**Description of the problem including expected versus actual behavior**:

The bulk API may respond with errors per bulk request item, or it may fail the entire request, and it's unclear a

[2020-04-01 01:11] junjun-zhang opened #54550 "Unable to create filtered alias with terms lookup"
**Elasticsearch version** (`bin/elasticsearch --version`):
OpenJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.
Version: 7.6.1, Build: default/deb/aa751e09be0a5072e8570670309b1f12348f023b/2020-02-29T00:15:25.529771Z, JVM: 13.0.2

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "11.0.1

[2020-04-01 01:12] junjun-zhang commented on #54550
not sure whether it's related to #54315

[2020-04-01 01:17] ywangd commented on #54548
This is already fixed by #54541

[2020-04-01 01:17] #54548 closed

[2020-04-01 01:27] ywangd commented on #54485
Failed again on 6.8 and **can be reproduced locally**

[code]

Build scan:
https://gradle-enterprise.elastic.co/s/obd4misgqhycs

Sample error message:
[code]

[2020-04-01 02:08] gaobinlong commented on #54315
@jimczi I'm glad to do that.

[2020-04-01 02:13] tvernum commented on #54445
Update: I can reproduce this if I rename `ManageServiceProviderRestIT` to `ZManageServiceProviderRestIT` so that it runs after `WildcardServiceProviderRestIT`.

I wonder if something is causing them to run in a different order in CI sometimes, but not when I try to reproduce it.

At least now I have something that I can work on fixing.

[2020-04-01 02:15] ywangd commented on #54180
I commented and re-openned #53360. But decided to move it here since this issue is more recent and active. I do want to emphasize that the errors are not just for testCancellation as it says in the title. In fact, the new failures do not even include testCancellation. They are for the following test methods:

[code]

It started to fail for "darwin-compatibility" since March 27 for `master`, `7.x`

[2020-04-01 02:15] ywangd commented on #53360
I am closing this issue as recent discussion is in #54180

[2020-04-01 02:15] #53360 closed

[2020-04-01 02:23] ywangd commented on #54415
Another failure today:
https://gradle-enterprise.elastic.co/s/wthzhjyetha7c

Seems to be specific 7.x and debian08

https://gradle-enterprise.elastic.co/scans/tests?list.size=50&list.sortColumn=startTime&list.sortOrder=desc&search.buildToolType=gradle&search.buildToolType=maven&search.startTimeMax=1585699386158&search.startTimeMin=1585094586151&search.tags=CI&search.tzOffset=660&tests.container=or

[2020-04-01 02:23] zhuzhu9651 commented on #54476
Thank you. I updated to 6.7.2, and the problem is solved.

[2020-04-01 03:19] elasticmachine commented on #54478
Pinging @elastic/es-core-features (:Core/Features/CAT APIs)

[2020-04-01 03:30] elasticmachine commented on #54550
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-04-01 03:43] dnhatn commented on #52223
We still do not have enough info for this test failure. I've enabled the debug logs of the engine in this test. I am closing this issue again. Please reopen when it fails.

[2020-04-01 03:52] tvernum commented on #54445
I am now 99% convinced that this is due to:

1. The order to test execution being non-determinisitic. It's file system dependent, so it's mostly alphabetical, but not guaranteed to be so.
2. The template being deleted between tests (because it's [not yet listed as a x-pack system template](https://github.com/elastic/elasticsearch/pull/54215/files#diff-f7bdad16f322fc2d554401ea074400b5)).

When `Man

[2020-04-01 05:20] jkakavas commented on #54445
Corresponds to what I've been seeing in #54215 and explains why this is solved by retaining the template when wiping stuff between tests. You can even replicate this by duplicating `testCreateAndDeleteServiceProvider` in the `ManageServiceProviderRestIT`, this would fail consistently he second time around.

Shouldn't the https://github.com/elastic/elasticsearch/blob/3cc2c80e4c5f7cb41905c68b6f8e2ca

[2020-04-01 06:19] tvernum commented on #54445
As discussed in our sync, we never reset `templateInstalled` if the template is removed. That field is really tracking _have-we-done-the-work-of-installing-the-template-yet_, and wasn't intended to catch the case where an external process deletes the template after we installed it.

[2020-04-01 06:24] ywangd commented on #54545
This started to fail since 6.8.8 is created. Three failures so far. Before these, similar failures were fixed by [skipping these tests up to version 6.8.7](https://github.com/elastic/elasticsearch/pull/53923).

@henningandersen Could you please check whether the skipping versions should be incremented to 6.8.8?

[2020-04-01 06:25] elasticmachine commented on #54545
Pinging @elastic/es-distributed (:Distributed/CRUD)

[2020-04-01 06:57] LoadingZhang opened #54554 "time parameter not take effect in cat task api"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.1

**Steps to reproduce**:

 1. GET _cat/tasks?v&time=s
 2. GET _cat/tasks?v&time=m
 3. GET _cat/tasks?v&time=h

the unit of `running_time` would not changed by `time` parameter.

[2020-04-01 07:15] ywangd opened #54555 "[CI] SamlIdentityProviderTests.testIdpInitiatedSso fails with "SERVICE_UNAVAILABLE/1/state not recovered / initialized""
A few methods in the class could fail with the same underlying reason of "SERVICE_UNAVAILABLE/1/state not recovered / initialized". The reason is that [registerServiceProvider](https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/identity-provider/src/test/java/org/elasticsearch/xpack/idp/action/SamlIdentityProviderTests.java#L267) is called before [ensureGreen](https://github.com/el

[2020-04-01 07:15] elasticmachine commented on #54555
Pinging @elastic/es-security (:Security/Security)

[2020-04-01 07:47] elasticmachine commented on #54554
Pinging @elastic/es-core-features (:Core/Features/CAT APIs)

[2020-04-01 07:55] javanna commented on #54180
Thanks @ywangd you are right that there isn't a proper issue for the failure that you saw. I opened a PR: #54520 . The reason why you don't see `testCancellation` fail is because it's muted due to its failures ;)

[2020-04-01 07:56] ywangd opened #54557 "[CI] branch-consistency verifyVersions fails for master, 7.x, 7.7 and 7.6"
The gradle tasks checks maven central and can see 7.6.2 is [available](https://search.maven.org/artifact/org.elasticsearch/elasticsearch/7.6.2/j) there and failed the task with:
[code]

I think we need add 7.6.3 to both Version.java and bwcVersions files

Build scans:
* https://gradle-enterprise.elastic.co/s/tt7tck6rh4qtk
* https://gradle-enterprise.elastic.co/s/o2lzbhyowkrtm
* https://gradle-ente

[2020-04-01 07:56] elasticmachine commented on #54557
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-04-01 08:04] martijnvg commented on #54549
Thanks for opening this issue @s-nel. I agree that the no write alias error should be handled the same as the index not found error, since other items may have a different `index`.

[2020-04-01 08:04] elasticmachine commented on #54549
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-04-01 08:22] martijnvg commented on #54554
[code]

[code]

This should return the running time in seconds, not in ms.

[2020-04-01 08:25] cbuescher commented on #54476
Thanks for the feedback, closing then.

[2020-04-01 08:25] #54476 closed

[2020-04-01 08:28] martijnvg commented on #54501
It looks like you run your app with assertions enabled (`-ea` flag when running `java`). This is not recommended for production. Can you run with assertions enabled and check if everything is working correctly?

We use assertions in the client code for testing purposes only in our build.

[2020-04-01 08:30] martijnvg commented on #54491
Can you share whether you made modifications to your local clone and if not, from what git branch you're running the gradle command?

[2020-04-01 08:40] cb29 opened #54561 "Error HTTP 504 Gateway timeout"
Hello,

Inside a react app, i have several requests to my ES cluster.
These requests use _search and/or _msearch to fetch datas from different index.

My cluster is on ES 7.3.2, CORS are enabled, and have 4GB of memory.

Sometimes, when I load a page with the react app, I get HTTP 504 errors Gateway Timeout and only a part of the react app is rendered. If I reload the page all is ok...strange beha

[2020-04-01 08:46] original-brownbear commented on #54561
Hi @cb29

Elasticsearch itself does not return `504` errors. This is a problem with your react application (or some other part of your infrastructure). Maybe it's handling a slow response from ES improperly (that would be my best guess)?

I'm closing here since we limit Github to feature requests and bug reports and this isn't an Elasticsearch issue.

[2020-04-01 08:46] #54561 closed

[2020-04-01 09:02] jkakavas commented on #54555
Solved in https://github.com/elastic/elasticsearch/pull/54215/files#diff-2d6e04d0396ee829c618397c58aae1b9R114, will close once #54215 is merged

[2020-04-01 09:34] ywangd commented on #50313
Had a few more failures for `7.7` release-tests today that are related to this. In addtion to `RegressionIT`, they also failed for the following classes (50+ failed methods in total):
* `ClassificationIT`
* `DatafeedJobsRestIT`
* `MlJobIT`
* `InferenceIngestIT`

The `RegressionIT.testWithOnlyTrainingRowsAndTrainingPercentIsFifty` however failed with **timeout** error (`Test abandoned because suite

[2020-04-01 09:53] jloleysens opened #54564 "[Watcher] Enable partial updates to a watch"
**Describe the feature**:

The `_watcher` API provides a mechanism for creating and updating watches (https://www.elastic.co/guide/en/elasticsearch/reference/7.7/watcher-api.html). After a watch has been created this endpoint can be used to update the watch in its entirety.

However, if we have watch with a webhook action that contains a redacted password field:

[code]

users must re-enter the pa

[2020-04-01 10:01] ratinhoo opened #54566 "Doc.Value crashes for Script Queries as part of Bool Queries"
**Elasticsearch version** : 7.6.1

**Plugins installed**: []

**JVM version**: 1.8.0_144

**OS version**:  Windows 10/Windows Server 2008

**Description of the problem including expected versus actual behavior**:

After upgrading from 6.8.0 to 7.6.1 we often have the problem that some shards fail, because of a null pointer exception in doc.value access in a script query. This problem only occurrs,

[2020-04-01 10:01] chenrenfei commented on #31549
Why not consider pagination by sql？
and provide an example？

[2020-04-01 10:04] jkakavas commented on #54445
Resolved in #54215

[2020-04-01 10:04] #54445 closed

[2020-04-01 10:08] astefan opened #54568 "EQL: review functions"
After https://github.com/elastic/elasticsearch/issues/51556 is done, we should have a general look at the implementations and:
- add more tests
- abstract away common parts
- maybe implement decisions (if different than actual implementation) following https://github.com/elastic/elasticsearch/issues/54411 and https://github.com/elastic/elasticsearch/issues/54419

[2020-04-01 10:08] elasticmachine commented on #54568
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-04-01 10:09] lizozom commented on #53100
Thank you for posting such a detailed meta issue!
I have some questions on this -
 * Do you have any thoughts on whether Kibana users be aware of data streams? Or should it be abstracted away?
 * In ES, will there be a common API that retrieves either an index or a data stream by name? Or should an API consumer always query both?
 * If it's the latter, who's to prevent someone from creating an ind

[2020-04-01 10:10] nachogiljaldo opened #54569 "Add a consolidated source of health information for clusters"
**Describe the feature**:

Currently Elasticsearch provides an `/_cluster/health` endpoint that includes some information about the health of the cluster.

However, there are many more health data points that can be relevant and it would be very useful to have a consolidated point to fetch them.

Some things from the top of my mind:
- per node
  * memory usage
  * CPU usage
  * disk usage
  * task

[2020-04-01 10:10] nachogiljaldo commented on #54569
cc @henningandersen

[2020-04-01 10:14] echotj opened #54570 "Couln't start Elasticsearch. Exiting.No Error"
**Describe the feature**:
Hello,I have a trouble of this "Couln't start Elasticsearch. Exiting" and No Error report.And search the logs.canot find any error.How to solve this problem. And the elk's version is 6.8,
and the elasticsearch.yml ：
network.host: 0.0.0.0
and the vm.max_map_count  is setted.

 * Starting periodic command scheduler cron
   ...done.
 * Starting Elasticsearch Server
   ...don

[2020-04-01 10:44] astefan commented on #54465
What is the main use case for this function?

[2020-04-01 10:45] astefan commented on #54419
Another interesting scenario - [the `string` function](https://github.com/elastic/elasticsearch/issues/54465) - where, if the object to be represented as a string is `null`, the "null" string is returned, instead of `null` object.

[2020-04-01 11:33] cbuescher commented on #54570
Hi @echotj! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2020-04-01 11:33] #54570 closed

[2020-04-01 11:36] elasticmachine commented on #54564
Pinging @elastic/es-core-features (:Core/Features/Watcher)

[2020-04-01 12:54] mariaral commented on #40366
@pugnascotia I just created another PR removing the Xlint exclusions from the following files:

- x-pack/plugin/rollup/build.gradle
- x-pack/plugin/monitoring/build.gradle
- x-pack/qa/rolling-upgrade-basic/build.gradle

Can you take a look? It seems that I cannot assign you as a PR reviewer. Also, can you update the current issue by ticking the files from where the exclusions were removed in my pr

[2020-04-01 12:56] henningandersen commented on #54545
Thanks @ywangd , I fixed this in #54560.

[2020-04-01 12:56] #54545 closed

[2020-04-01 13:12] selfuryon commented on #43262
Hello! I have the same issue, but case is worse:
* `aaa 1111` -> wrong parse, expected
* `1111 aaaa` -> parse as `1111`, unexpected

**Steps to reproduce**:

Reqeust:
[code]
Response:
[code]

Why it is worse? As Example, if you have multiline outputs and some of them can start from numbers.
Especially, in kubernetes, where some logs can be in json but others not. Example, cp-kafka with some statis

[2020-04-01 13:33] DaveCTurner commented on #54354
We discussed this today and broadly agreed. We may want to get rid of port ranges altogether, they make life complicated and we are not convinced of their value to the OOTB experience.

I will speak to some training folk since I know we use this feature in today's training courses.

[2020-04-01 13:36] SledgeHammer01 commented on #54501
The stack trace above is from mvn (mvnw) clean install. 6.8.7 fails, 6.8.6 passes. No other changes. 6.8.7 should pass a mvnw clean install test, no?

[2020-04-01 13:43] jasontedor commented on #54151
There is a general problem here, not specific to the enrich indices, relating to auto-expand replicas and how it interplays with other allocation settings (e.g., #2869). Therefore, we are re-adding the distributed label, and treating this as a distributed problem.

[2020-04-01 14:01] droberts195 commented on #46025
We discussed this and decided that it's too much of a complication to try to support ML jobs that require cross cluster search when only a subset of ML nodes can handle them.  It would make assignment much harder.  If we claimed to support it then people could legitimately question why we assigned jobs that _didn't_ require CCS to the subset of nodes that supported it and then later found ourselve

[2020-04-01 14:01] #46025 closed

[2020-04-01 14:06] DaveCTurner commented on #54151
We discussed this today and think it would be a good idea to ignore the same-host allocation decider and the allocation awareness decider if using auto-expand replicas with an upper bound of `all`. Both of these deciders aim to achieve resilience by avoiding a concentration of shards on a single failure domain (host or zone) but you can't really get more resilient than the case where there's a cop

[2020-04-01 14:06] elasticmachine commented on #54151
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-04-01 14:16] DaveCTurner commented on #54354
I confirmed with the training folk that this feature is no longer needed in today's training courses.

[2020-04-01 14:29] jkakavas opened #54582 "OpenID Connect realm should support more client authentication methods"
Client Authentication methods are used by OICD Clients to authenticate to the Authorization Server when using the Token Endpoint. We currently support only `client_secret_basic`

See https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication

[2020-04-01 14:29] elasticmachine commented on #54582
Pinging @elastic/es-security (:Security/Authentication)

[2020-04-01 14:56] droberts195 commented on #54067
We discussed this and decided to add a `node` field instead.  The value will be an empty string if the job is not assigned to a node when the open/start call returns, and we will document why this can happen.

[2020-04-01 16:10] stu-elastic opened #54593 "Document debugging bad script cache settings"
Public documentation on setting [the script cache](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-scripting-using.html) configuration values is sparse.

New documentation should focus on:
* When you should change these values?
* How do you know when the values are too low?
* How do you know when the values are too high?
* What inspection APIs are useful for above?

[2020-04-01 16:10] elasticmachine commented on #54593
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-04-01 16:10] elasticmachine commented on #54593
Pinging @elastic/es-docs (>docs)

[2020-04-01 16:10] stu-elastic commented on #54593
We need this for both the general and the context-specific versions of these settings.

[2020-04-01 16:11] droberts195 commented on #50313
The most recent problem in the 7.7 release tests was caused by another Java/C++ mismatch.  This is resolved now and the 7.7 release tests after the 3 that failed succeeded: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.7+release-tests/29/

It didn't fail in between 2 and 25 days ago, so I think all the various problems are now resolved and I will close this now.

[2020-04-01 16:11] #50313 closed

[2020-04-01 16:57] costin opened #54597 "EQL: Grammar improvements"
In its current state the EQL grammar resembles the python version to support as much parsing as possible.

However it's clear that some cases cannot be supported so the question is whether we should:

1. allow them in the grammar and throw an error when they occur
This is the most friendly approach however the costly in terms of maintenance and it's worth evaluation whether said features are actua

[2020-04-01 16:57] elasticmachine commented on #54597
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-04-01 17:10] rw-access commented on #54597
I think if anything, this shows how insufficient our test suite is. We have examples of both in the EQL analytics library, and internally. A quick search shows both permutations: https://eqllib.readthedocs.io/en/latest/search.html?q=maxspan&check_keywords=yes&area=default#

We'd have to create additional units if we wanted to require integer-only maximum spans. I think it's more desirable and clea

[2020-04-01 17:21] cjcenizal opened #54599 "API endpoint for simulating indexing a document(s)"
The ES UI team has heard from various users that a common workflow for creating indices and index templates involves leveraging ES's dynamic mappings:
1. Index a document into a temporary index
2. Copy the mappings that were dynamically generated
3. Create a "production" index or index template by using these mappings as a starting point and then editing them

We can make this process simpler by p

[2020-04-01 17:21] elasticmachine commented on #54599
Pinging @elastic/es-ui (:ES-UI)

[2020-04-01 17:39] rjernst commented on #54557
These failures happened before the version in 7.6 branch was bumped to 7.6.3, and they pass locally now, so the next run of the consistency check CI job should pass.

[2020-04-01 17:39] #54557 closed

[2020-04-01 18:24] ywelsch commented on #54425
@tbrooks8 @danielmitterdorfer can this be closed now?

[2020-04-01 18:30] albertzaharovits commented on #41910
In https://github.com/elastic/elasticsearch/pull/53352 I've raised a PR with an implementation of the encrypted `BlobStoreRepository` which follows the "DEK reuse" strategy discussed over at https://github.com/elastic/elasticsearch/pull/50846#issuecomment-594063727 . I would like to try and explain the whole of functionality, as it currently stands.

Encrypted snapshots are implemented as a new re

[2020-04-01 18:53] #54485 closed

[2020-04-01 20:04] imotov commented on #48739
It is still reproducible in master, where it triggers the following assertion:
[code]

[2020-04-01 20:19] rw-access commented on #54465
The `string` and `number` functions #54471 were added to EQL to facilitate comparisons across types.

The test examples were clearly silly, but still tested the function with uncomplicated examples. Ideally, both functions will be rarely used, and every field transformation is done at index time. One use case within ES, is for functions to fill in those gaps when data wasn't ingested right, or inc

[2020-04-01 20:30] gwbrown commented on #52223
This failed again in 7.x. [Build scan](https://gradle-enterprise.elastic.co/s/iemte3g4p4rxo/tests/kyv2y2z3r4v7k-q3s77yitlygly?open-stacktraces=WzBd), [Jenkins](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob+fast+part1/4268/)

[2020-04-01 21:00] elasticmachine commented on #54566
Pinging @elastic/es-search (:Search/Search)

[2020-04-01 21:06] gwbrown opened #54614 "SimpleQueryStringBuilderTests.testToQuery fails reproducibly on 6.8"
[Build scan](https://gradle-enterprise.elastic.co/s/5x7i4fm5wrhc4/console-log?task=:server:unitTest)
[Jenkins](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+multijob+fast+part1/472/)

Per build-stats this has happened a couple times on 6.8, but not on any other branch.

Reproduce line (does reproduce locally):
[code]

Error:
[code]

[2020-04-01 23:38] tvernum opened #54621 "Kerberos Docs should state that HTTPS is required (for tokens)"
Doc: https://www.elastic.co/guide/en/elasticsearch/reference/7.6/kerberos-realm.html

Like SAML and OIDC, Kerberos auth requires that the token service is enabled.

In prod mode, the token service is tied to `xpack.security.http.ssl.enabled` - it is automatically turned on when HTTPS is turned on, and bootstrap checks prevent the token service from being enabled when HTTPS is off.

In effect, this

[2020-04-01 23:38] elasticmachine commented on #54621
Pinging @elastic/es-security (:Security/Authentication)

[2020-04-01 23:38] elasticmachine commented on #54621
Pinging @elastic/es-docs (>docs)

[2020-04-02 00:08] gwbrown commented on #54151
Enrich indices will be system indices, so if Enrich requires a shard copy on every node, by definition that will be a requirement for some system indices. I believe there are some others that would benefit from that treatment as well.

How allocation for system indices is something we’ve been thinking about but have not yet reached a conclusion on, in part because of radically varying requirements

[2020-04-02 01:04] axw commented on #51341
A bunch of us in the Elastic Observability team met yesterday and discussed this issue, and the broader issue we're setting out to address: to standardise how we index metrics across Metrics, APM, etc.

@exekias put forward an alternative proposal, which would index metrics using a naming convention like:
 - `metric_name.value` (gauge/point-in-time value metric)
 - `metric_name.counter` (counter/m

[2020-04-02 03:59] tvernum commented on #54555
@jkakavas Your change was to the RestTestCase, but this failure is in the IntegTest case.
I think #54622 is the real fix.

[2020-04-02 05:38] danielmitterdorfer commented on #54425
Yes, we don't see any such corruptions in our benchmarks now. Thanks for addressing this so quickly.

[2020-04-02 05:38] #54425 closed

[2020-04-02 06:44] weizijun opened #54626 "can update use TransportBulkAction with a single item instead?"
**Describe the feature**:
As index and delete use TransportBulkAction with a single item instead.
Can update  also use TransportBulkAction with a single item instead?

**Elasticsearch version** (`bin/elasticsearch --version`): master

[2020-04-02 07:48] saiergong opened #54627 "primary shard size much bigger than replica"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.2.0

**JVM version** (`java -version`): 1.8.0_102

the primary shard size much bigger than the replica, like below, but the documents number is same：

![image](https://user-images.githubusercontent.com/4198386/78222645-2504bb80-74f8-11ea-85ed-2ee7b4ed3aba.png)

use segment api , i found the primary shard only has one segment (because i i

[2020-04-02 07:50] iverase opened #54628 "Enable geo_distance and geo_bounding_box queries on geo_shape field type"
Following the development in #48928, we should enable `geo_distance` and `geo_bounding_box` queries over `geo_shape` field type.

[2020-04-02 07:50] elasticmachine commented on #54628
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-04-02 08:34] elasticmachine commented on #54564
Pinging @elastic/es-ui (:ES-UI)

[2020-04-02 09:36] christianskovholm commented on #54491
Pretty sure i used master. However, i tried to clone again and then i received an error saying i needed to update to Gradle 6.3. I upgraded, and then the build went fine.

[2020-04-02 09:36] #54491 closed

[2020-04-02 09:45] cbuescher commented on #54626
Hi @weizijun! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2020-04-02 09:45] #54626 closed

[2020-04-02 09:51] droberts195 commented on #43830
I think I understand this now.

There are some installations where the `normalize` process starts up _incredibly_ slowly, and we get a timeout on trying to connect the first named pipe.  At that point the Java code assumes that `normalize` process failed to start, but it _did_ actually start, just incredibly slowly.

When the next set of quantiles is received the Java code will fire up a new `norm

[2020-04-02 09:53] phlegx opened #54629 "Policy name for beats not working anymore in 7.6.1"
In packetbeat.yml I used to have this configuration to map all indices to my default ilm policy:

[code]
Actually this was working but after upgrading to `7.6.1` the new indices of packetbeat (and my other beats) are no more linked to this policy.

Has there something changed. Do I need to set this differently now?

[2020-04-02 10:08] pugnascotia commented on #40366
@mariaral thank you, I've updating this issue and I will review the PR 👍

[2020-04-02 10:26] costin commented on #54597
I found only *one* use of a rule that uses `with` before `by` or 1/9 or 11%.
I'm not sure the complexity in the whole ecosystem is trivial as any tool that looks for the pattern would have to take it into account.

How many units do you think are needed?
In terms of readability 10ms is better than 0.01s/sec, 15ms vs 0.015s or 3s vs 0.05m.
I'm +1 on adding ms as a unit for precise control than supp

[2020-04-02 10:36] cbuescher commented on #54614
This fails due to is a rarely triggered edge case that was fixed on 8.0 and 7.2 by https://github.com/elastic/elasticsearch/pull/43199 that wasn't backported to 6.8. Will do that now.

[2020-04-02 10:49] Erni commented on #37981
Another user here that has been confused with the `max_size` parameter on the `rollover` action. As it is not, it´s hard to understand if this is the maximum size per shard, or the maximum shard of the **sum** of the index Primary shards.

[2020-04-02 11:08] cbuescher commented on #54614
Closed with https://github.com/elastic/elasticsearch/commit/acb4224d47cee6f8443bd9b2a33c99c3004189b9

[2020-04-02 11:08] #54614 closed

[2020-04-02 11:11] DaveCTurner commented on #54627
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2020-04-02 11:11] #54627 closed

[2020-04-02 11:20] phlegx commented on #54629
I will close this here and ask on the beats project.

[2020-04-02 11:20] #54629 closed

[2020-04-02 11:33] DaveCTurner opened #54637 "Updating/removing in-use repository results in 500 Internal Server Error"
If you try and update or remove a repository while it's in use you get a reasonable exception message, `trying to modify or unregister repository that is currently used`, but the exception itself is an `IllegalStateException` which maps onto a `500 Internal Server Error`:

https://github.com/elastic/elasticsearch/blob/95a7eed9aa35f47b228e402508709b5bd6703cf4/server/src/main/java/org/elasticsearch/

[2020-04-02 11:33] elasticmachine commented on #54637
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-04-02 11:34] elasticmachine commented on #54569
Pinging @elastic/es-core-features (:Core/Features/CAT APIs)

[2020-04-02 11:35] elasticmachine commented on #54484
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-04-02 11:41] matriv commented on #54384
@georgesouzafarias

Thank you very much for your interest in Elasticsearch.

This appears to be a user question and definitely not a bug,
so we'd like to direct these kinds of questions to the [forums](https://discuss.elastic.co/).
If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community i

[2020-04-02 11:41] #54384 closed

[2020-04-02 11:43] elasticmachine commented on #54218
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-04-02 11:45] javiramos1 opened #54638 "simple_query_string logical operators error"
**Describe the feature**:

Logical operators do not work in the ```simple_query_string``` search compared to ```query_string```

**Elasticsearch version** 7.0.1

**Plugins installed**: []

**JVM version** (`java -version`): docker image elasticsearch:7.0.1

**OS version** (`uname -a` if on a Unix-like system): docker image elasticsearch:7.0.1

**Description of the problem including expected versus

[2020-04-02 11:47] elasticmachine commented on #54303
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-04-02 12:15] #43830 closed

[2020-04-02 12:24] martijnvg commented on #54151
Thanks. I was leaning in the same direction too. I think the allocation deciders that you mentioned should implement the `shouldAutoExpandToNode(...)` method? (similar to what a happened to filter allocation decider in #48974)

Yes. Enrich was built with the assumption that not all enrichments/lookups are going to be local. Especially in the case with clusters that only have dedicated ingest nodes

[2020-04-02 13:15] saragri31 commented on #54582
Hi,
Regarding authorization_code flow, support of `client_secret_post` would be useful as it's still used by many OPs (including ours). `client_secret_jwt` and `private_key_jwt` would be nice to have.

Support of PKCE flow (Authorization Code flow extension) would be also a great asset as it's more secure and now widely recommended.
See [(https://tools.ietf.org/html/rfc7636)]

[2020-04-02 13:20] colings86 commented on #54597
We removed fractional time values from other areas of Elasticsearch because it brings serialisation round trip issues and rounding issues. I'd prefer to also not allow fractional values in EQL for similar reasons. I also think we may find it very hard to support in EQL exactly because the search API does not allow fractional values.

[2020-04-02 13:24] colings86 commented on #54597
I think allowing flexibility for the user is a good thing but it needs to be weighed with the cost of providing ambiguous or surprising behaviours. It's also mot a great experience if there are two similar but subtly different ways of doing something and it's not very clear to the user which to use in which instance. I'm not saying this is the case here but rather than flexibility comes at a cost

[2020-04-02 13:26] elasticmachine commented on #54638
Pinging @elastic/es-search (:Search/Search)

[2020-04-02 13:27] matriv commented on #54638
@javiramos1

Could you please use the [validate query API](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-validate.html) to check your query? maybe use the `?explain=true` as well.

[2020-04-02 14:05] williamrandolph commented on #54415
It also appears that the affected tests are `UpgradeClusterClientYamlTestSuiteIT` and `MlConfigIndexMappingsFullClusterRestartIT#testMlConfigIndexMappingsAfterMigration`. \

Now that we have an error trace on the response, there's a stack trace in the failing response for the ML test that we didn't have when this ticket was filed:

[code]

It appears that this error happens when `OsStats.Mem` has

[2020-04-02 14:09] javiramos1 commented on #54638
I added the response in the description

[2020-04-02 14:10] #53801 closed

[2020-04-02 14:24] matriv commented on #54638
Why do you use it twice: `(\"Hair Connections\" | \"Hair Connections\")` ?

[2020-04-02 14:24] williamrandolph commented on #54101
Looks like we missed the 7.7 branch — this is on `7.x` and `7.6`. Opening a quick backport PR: https://github.com/elastic/elasticsearch/pull/54646

[2020-04-02 14:29] paulcarey commented on #33079
Hi, I'm just pinging to see if there's been any progress on this issue (or #33204) ? Thanks.

[2020-04-02 14:30] javiramos1 commented on #54638
This is from an user, so no idea why they did that but without it we have the same issue.

[2020-04-02 14:35] matriv commented on #54638
Another thing is that for the simple query the [boost is only supported per field](https://www.elastic.co/guide/en/elasticsearch/reference/7.6/query-dsl-simple-query-string-query.html#simple-query-string-boost)
unlike the more complicated things you can do with [boost in query string query.](https://www.elastic.co/guide/en/elasticsearch/reference/7.6/query-dsl-query-string-query.html):

Boosts can

[2020-04-02 14:37] matriv commented on #54638
@javiramos1

Thank you very much for your interest in Elasticsearch, but as this appears to be a user question,
we'd like to direct you to the [forums](https://discuss.elastic.co/). for further discussion. If you can stop by there, we'd appreciate it.
This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://dis

[2020-04-02 14:37] #54638 closed

[2020-04-02 14:55] karussell opened #54649 "add min_doc_count for cardinality aggregation"
Returning the unique values for an aggregation is nice and works well. Now it would be an improvement to exclude entries that have a too low document count. See [discussion](https://discuss.elastic.co/t/225753).

[2020-04-02 14:57] jmlrt commented on #53426
@pugnascotia
I created https://github.com/elastic/helm-charts/issues/553 to revisit the `readinessProbe` and we may get some ECK feedback when we'll work on it.

Do you have other feedback to add for Elasticsearch chart or can we close this issue?

[2020-04-02 15:22] rw-access commented on #54597
My main point bringing in the SQL example was to show that it has the exact same problem with `NOT 5`, so it wasn't a unique problem to EQL.

I think we can reorganize the grammar for boolean expressions if that makes it easier to maintain, follows better practice, etc. But I'm wary of making destructive changes. One plus-side for catching `not 5` in the verifier is that we have more informative e

[2020-04-02 15:24] elasticmachine commented on #54649
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-04-02 15:29] pugnascotia commented on #53426
I don't have any more feedback.

[2020-04-02 15:34] jimczi commented on #24349
Closed by #53533 , thanks @Hakky54 !

[2020-04-02 15:34] #24349 closed

[2020-04-02 15:34] williamrandolph opened #54654 "[CI] master/7.x release tests TransportPutAutoscalingPolicyActionIT fails with "unknown setting [xpack.autoscaling.enabled]""
## Issue

On **release tests only**, `TransportPutAutoscalingPolicyActionIT` fails with the message `java.lang.IllegalArgumentException: unknown setting [xpack.autoscaling.enabled] please check that any required plugins are installed, or check the breaking changes documentation for removed settings`.

Example gradle report: https://gradle-enterprise.elastic.co/s/inpkmrheishha
Example jenkins repor

[2020-04-02 15:34] elasticmachine commented on #54654
Pinging @elastic/es-distributed (:Distributed/Autoscaling)

[2020-04-02 15:35] jkakavas commented on #54582
Thank you for the feedback @saragri31, PKCE is designed to help public clients ( i.e. RPs that are not able to securely store a client id and client secret ). In the elastic stack case, `client_id` is stored in the elasticsearch.yml and `client_secret` is stored in the keystore so in my opinion there is no reason at this moment to support `PKCE`.

[2020-04-02 15:36] not-napoleon opened #54655 "Value Scripts that change the field type are broken"
In #45395 we changed values source resolution to prioritize field type when we could, but this breaks the case where a user wants to use a value script to change the type of the underlying field, e.g. replacing a number with a string.

[2020-04-02 15:36] elasticmachine commented on #54655
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-04-02 15:38] jmlrt commented on #53426
Great! So I'll close this issue. Thank you for your review 👍

[2020-04-02 15:38] #53426 closed

[2020-04-02 15:48] jasontedor commented on #54654
Closed by db572afda8cbead464e1bb1f08a028d4201e464d

[2020-04-02 15:48] #54654 closed

[2020-04-02 15:51] jrodewig opened #54657 "Improve collapsible sections in nodes and cluster stats API responses"
With elastic/docs#1789, we improved the API reference template to include better collapsible sections for nested objects.

We should update the response docs for the following APIs to match:

- [ ] [Cluster stats](https://www.elastic.co/guide/en/elasticsearch/reference/master/cluster-stats.html)
- [ ]  [Node stats](https://www.elastic.co/guide/en/elasticsearch/reference/master/cluster-nodes-stats.

[2020-04-02 15:51] elasticmachine commented on #54657
Pinging @elastic/es-docs (>docs)

[2020-04-02 15:52] jrodewig commented on #54657
@lcawl  I've listed you and I as assignees here. Feel free to work on this if wanted but no obligation.

If you do start working on one, please just add a note here so we can avoid duplicating efforts. Thanks!

[2020-04-02 15:57] jrodewig opened #54660 "[DOCS] Improve "avoid scripts" section in "Tune for search speed""
The [tune for search speed](https://www.elastic.co/guide/en/elasticsearch/reference/master/tune-for-search-speed.html#_avoid_scripts) docs give the following advice regarding scripts:

While not inaccurate, this advice lacks nuance and doesn't explain the tradeoffs between index/search time. The painless and expressions engines references are also outdated.

### Proposed solution

We could expand

[2020-04-02 15:57] elasticmachine commented on #54660
Pinging @elastic/es-search (:Search/Search)

[2020-04-02 15:57] elasticmachine commented on #54660
Pinging @elastic/es-docs (>docs)

[2020-04-02 16:18] danielharada opened #54662 "Windows update license documentation invokes deprecated/removed '_xpack' path"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.6

**OS version** (`uname -a` if on a Unix-like system):
Windows

**Description of the problem including expected versus actual behavior**:
Our [Update License API docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/update-license.html) for Windows lists the following endpoint for updating the license: `http://<host>:<p

[2020-04-02 16:34] elasticmachine commented on #54662
Pinging @elastic/es-docs (>docs)

[2020-04-02 16:34] elasticmachine commented on #54662
Pinging @elastic/es-security (:Security/License)

[2020-04-02 16:43] not-napoleon opened #54665 "Scripted metric should fail gracefully on unsupported return types"
Scripted Metric aggregation running against an invalid return type can fail since it does not know how to serialize unknown types returned from scripts

[2020-04-02 16:43] elasticmachine commented on #54665
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-04-02 16:47] not-napoleon opened #54666 "Support Set types in Scripted Metric"
Scripted metric currently only supports primitives, Strings, Maps, and Arrays for return types.   Sets seem like a logical addition to this list, as basic java container types.  It might seem surprising to a user for HashMap to work but HashSet not to.

[2020-04-02 16:48] elasticmachine commented on #54666
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-04-02 16:57] lcawl opened #54667 "[DOCS] Implement collapsible sections for nested objects in Elasticsearch APIs"
We have created a stylesheet to make it easier to delineate nested objects in the API reference pages: https://github.com/elastic/docs/pull/1786

We have already implemented it in machine learning APIs like https://www.elastic.co/guide/en/elasticsearch/reference/master/get-dfanalytics-stats.html and https://www.elastic.co/guide/en/elasticsearch/reference/master/ml-put-job.html

It involves setting

[2020-04-02 16:57] elasticmachine commented on #54667
Pinging @elastic/es-docs (>docs)

[2020-04-02 17:04] Hakky54 commented on #53555
@andreidan javanna points out that this feature needs to be implemented properly and especially for the async client. The implementation in the pull request covers also the async client as the integration test will be executed for sync and async client, but do you think we missed something that javanna asked for or did we covered everything?

[2020-04-02 17:29] williamrandolph commented on #51206
There have been three of these in a row on the 6.8 Darwin compatibility job:

Latest one - [Jenkins](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+multijob-darwin-compatibility/608/), [Gradle Enterprise](https://gradle-enterprise.elastic.co/s/365v43rmzikkw)

[2020-04-02 17:44] jrodewig commented on #54657
Closed in favor of https://github.com/elastic/elasticsearch/issues/54667

[2020-04-02 17:44] #54657 closed

[2020-04-02 17:57] bpintea opened #54671 "SQL: SYS TABLES to list indices as TABLE for internal clients"
The current (c495d220ac8f) implementation will report the indices as `BASE TABLE` unless a legacy mode is enabled; this mode is triggered by a listing of the tables with a ~wildcard (`%`)~ `TABLE` type filter. In case this filter is absent, the listing will be done with the table type of `BASE TABLE`.

However:
* the [ODBC documentation](https://docs.microsoft.com/en-us/sql/odbc/reference/syntax/s

[2020-04-02 17:57] elasticmachine commented on #54671
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-04-02 17:58] stu-elastic commented on #53536
We're gonna explore implementing the JSON parsed values as their own Numeric class and handling the conversions.

Local changes, such as adding a `long` to a parameter list should not convert the entire `List` to `List<Long>`.  Modelling JSON's data type directly is the least surprising path forward.

[2020-04-02 18:07] stu-elastic commented on #23525
This was https://github.com/elastic/elasticsearch/issues/29286, prior to 6.4 the script would return a default value, which was impacting the aggregated denominator.

From 6.4 on, users must explicitly check for existence of any values.

[2020-04-02 18:07] #23525 closed

[2020-04-02 18:11] matriv opened #54674 "SQL: Check and optimize (if possible) DATE_TRUNC"
`DATE_TRUNC` uses `java.time` operations to achieve the truncation to the specified unit.
Check if it's possible to optimize execution by using implementations in `Rounding`.

Check: #54403

[2020-04-02 18:11] elasticmachine commented on #54674
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-04-02 18:12] stu-elastic commented on #23719
This was #29286, prior to 6.4 the script would return a default value, which causes this behavioral mismatch.

From 6.4 on, users must explicitly check for existence of any values.  This issue is no longer relevant.

[2020-04-02 18:22] stu-elastic commented on #23719
In `LeafDocLookup` we should not return an assessor for nested or Object fields.  Then when executing the script we can raise the appropriate error.  It's possible to do this all within the `get` method of `LeafDocLookup`.

[2020-04-02 18:24] stu-elastic commented on #25179
If https://github.com/elastic/elasticsearch/pull/28368 remains stalled, we should add this feature ourselves since it'd be useful for admins and potentially kibana.

[2020-04-02 18:28] williamrandolph commented on #52125
I don't believe we should reopen this issue, but I want to note for the record that this still seems to be happening: https://gradle-enterprise.elastic.co/s/3mj7lhs3dztds

[2020-04-02 18:38] williamrandolph commented on #52223
And again, in 7.x: [Build scan](https://gradle-enterprise.elastic.co/s/uog6w447rdpmu), [Jenkins](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_RUNTIME_JAVA=zulu8,nodes=general-purpose/607/)

[2020-04-02 18:52] #39497 closed

[2020-04-02 18:52] #54540 closed

[2020-04-02 18:59] stu-elastic opened #54677 "Painless: Removing "lexer-hack" for scripting context free lexing and parsing"
In order to pre-parse a script and resolve the types and identifiers against different contexts, say to ensure a stored script compiles for some context (see: #27612), we'll need to resolve the ambiguities between types and identifiers.

Let's get the taxonomy of ambiguities listed here before we discuss solutions.

[2020-04-02 18:59] elasticmachine commented on #54677
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-04-02 19:00] stu-elastic commented on #27612
This is one of the goals of https://github.com/elastic/elasticsearch/issues/53702 the issues in https://github.com/elastic/elasticsearch/issues/54677 need to be resolved first to move forward.

[2020-04-02 19:02] original-brownbear commented on #52125
Annoyingly enough all the failures listed here have `WindowsFS` in common. See https://github.com/elastic/elasticsearch/issues/52000 ... I wonder if snapshotting as an action somehow stresses `WindowsFS` more that much more than other tests that it repeatedly triggers this slowness. I'll look into that if it comes up too often.

[2020-04-02 19:05] brusic commented on #25179
I've been done with the code for a while now.

[2020-04-02 19:18] williamrandolph commented on #54448
I've got another failure here: https://gradle-enterprise.elastic.co/s/drhcl3kg6b7sq

It doesn't reproduce locally.

[2020-04-02 21:06] williamrandolph opened #54683 "[CI] WatcherYamlRestIT fails with field [watcher.count.active] is not greater than [$watch_count_active]"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2020-04-02 21:13] williamrandolph opened #54685 "[CI] WatcherRestYamlIT fails with AssertionError"
## Issue

A failure has come in on 7.7 for `org.elasticsearch.smoketest.WatcherYamlRestIT`, `{p0=watcher/usage/10_basic/Test watcher usage stats output}`. This might relate to #53177, but then again, maybe not. I'm not muting for now since this seems rare.

## Build links

Gradle build scan: https://gradle-enterprise.elastic.co/s/einlpavry2h2a
Jenkins build: https://elasticsearch-ci.elastic.co/job

[2020-04-02 21:13] elasticmachine commented on #54685
Pinging @elastic/es-core-features (:Core/Features/Watcher)

[2020-04-03 05:26] #54555 closed

[2020-04-03 06:24] Hailei opened #54699 "fail engine:lucene commit fail due to max_seq_no decode error"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 7.5.1

**Plugins installed**: []

**JVM version** (`java -version`):openjdk version "13.0.1" 2019-10-15

**OS version** (`uname -a` if on a Unix-like system):Linux n19-062-134 4.9.0-0.bpo.6-amd64 #1 SMP Debian 4.9.88-1+deb9u1~bpo8+1 (2018-05-13) x86_64 GNU/Linux

**Description of the problem including expected ve

[2020-04-03 06:41] SivagurunathanV commented on #54062
@Subhadeep2707 Please let me know if you are still working on this issue? or can I take this up?

[2020-04-03 06:57] martijnvg commented on #53100
Hey @lizozom apologies for my slow response.

Currently the get data stream returns zero or more data stream, and for each data stream it contains the name, timestamp field, current generation (still needs to be added) and a list of index name/uuid tuples (indices that are part of the data stream). For additional information about these indices the get index api needs to be used.

Not beyond what

[2020-04-03 08:20] elasticmachine commented on #54699
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-04-03 08:22] #54683 closed

[2020-04-03 08:53] sventschui opened #54703 "Support SNI on transport TLS connection"
**Describe the feature**:

The transport connection should support SNI when configured to use TLS

**Elasticsearch version** (`bin/elasticsearch --version`):

[code]

**Plugins installed**: default rpm install

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system): CentOS 7

**Description of the problem including expected versus actual behavior**:

I expec

[2020-04-03 08:58] charlie-wasp commented on #32452
It seems that offered solution doesn't work anymore? According to the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-composite-aggregation.html#_pipeline_aggregations) for 7.6:

[2020-04-03 09:06] ratinhoo commented on #54566
I have now a 100 % reproduction of the problem:

**Steps to reproduce:**

1. `PUT index1/_doc/1
{
  "a":"a1"
}`
2. `PUT index1/_doc/2
{
  "a":"a2"
}`
3. `DELETE index1/_doc/1`
4. `GET index1/_search
{
 "query": {
        "bool": {
         "should": [
          {
           "match_all": {}
          },
          {
           "bool": {
            "must": [
             {
              "script": {

[2020-04-03 09:12] #53872 closed

[2020-04-03 09:47] astefan commented on #54703
I believe this is already supported as part of https://github.com/elastic/elasticsearch/issues/32517 with docs being added with https://github.com/elastic/elasticsearch/pull/40281.

[2020-04-03 09:47] elasticmachine commented on #54703
Pinging @elastic/es-distributed (:Distributed/Network)

[2020-04-03 09:47] elasticmachine commented on #54703
Pinging @elastic/es-security (:Security/Network)

[2020-04-03 10:06] sventschui commented on #54703
Hi @astefan. Thanks for the fast reply. To clarify things: I do not want to configure a remote cluster. I try to setup a coordinator only node that connects to the other ones through a k8s ingress that requires SNI. When configuring the nodes in `discovery.seed_hosts` the connection fails as the k8s ingress (haproxy) can not detect the pod to route to since SNI headers seem to be missing

[2020-04-03 10:22] lucabelluccini opened #54708 "Node exits with org.elasticsearch.bootstrap.ElasticsearchUncaughtExceptionHandler when using HashSet in scripted metric"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.1

**Description of the problem including expected versus actual behavior**:

I'm trying to run a scripted metric which makes use of `HashSet` in `painless`.
I expect to obtain an answer or an error to the request.

Instead, the node **stops**.

This seems to be related to the fact Elasticsearch doesn't know how to serialize an `HashSe

[2020-04-03 10:22] elasticmachine commented on #54708
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-04-03 11:08] mayya-sharipova commented on #54566
I can confirm the bug, and will investigate.

[2020-04-03 11:29] ChinaXing opened #54711 "how to prevent steal read"
if client read sent to a replica which not included in sync-set.
and the replica's route is outdated. send to a steal sync-replica will cause steal read

how to prevent this situation ?

[2020-04-03 12:28] astefan commented on #54711
Thanks very much for your interest in Elasticsearch.
This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

[2020-04-03 12:28] #54711 closed

[2020-04-03 12:31] original-brownbear opened #54714 "Snapshot Can Become Stuck if Master Circuit-Breaks on Shard Snapshot Update Message (TransportMasterNodeAction does not retry)"
Currently, the message that data nodes send to master when they are done snapshotting a shard is not exempt from the circuit breaker.
That means that if a data node sends a `[internal:cluster/snapshot/update_snapshot_status]` message and the master drops it because of the circuit breaker, the data node will not resend it unless master fails over.
This in turn leads to the master never finalising t

[2020-04-03 12:31] elasticmachine commented on #54714
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-04-03 14:08] ywelsch commented on #54714
There are other actions similar to `TransportMasterNodeAction` that suffer from similar issues, e.g. `ShardStateAction`. Assume for example that a primary fails to replicate a write to a replica, and therefore reaches out to the master to mark the replica as stale. If the master is circuitbreaking, the primary will fail itself (ReplicationOperation.onNoLongerPrimary), which is just horrible.

[2020-04-03 14:12] ywelsch commented on #54703
@sventschui can you explain why you're setting up nodes that way? Nodes in a cluster are supposed to be part of the same network. Nodes in a cluster also need to be able to bidirectionally establish connections amongst each other. It sounds to me that what you're trying to do (unidirectional connect) would be better accomplished with the remote cluster feature.

[2020-04-03 14:15] mayya-sharipova commented on #54415
Recent failures for today on `debian-8` and 7.x:

Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=debian-8&&immutable/667/console
Build scan:  https://gradle-enterprise.elastic.co/s/zgglcpzvad2m6

Failing tests:
org.elasticsearch.upgrades.UpgradeClusterClientYamlTestSuiteIT test {p0=old_cluster/10_basic/Create a task result record in the old cl

[2020-04-03 14:29] ywelsch commented on #54699
This is very odd. I can only explain this as a bit-flip that must have occurred before writing out the respective segment. Perhaps check your hardware? Any ideas, @jpountz?

[2020-04-03 14:37] dimitris-athanasiou commented on #52654
No failures of this appeared for over a month now. Closing for now.

[2020-04-03 14:37] #52654 closed

[2020-04-03 14:40] benwtrent commented on #53236
The underlying C++ issue (which might have been to blame) has been closed. The test is no longer muted, sloe closing this issue as fixed.

[2020-04-03 14:40] #53236 closed

[2020-04-03 14:42] mayya-sharipova opened #54722 "LicenseServiceClusterTests testClusterRestartWithLicense failed on 7.7"
The recent failure on 7.7
There were a number of failures for this test on 7.x and 7.6 before Feb 14

Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.7+matrix-java-periodic/ES_RUNTIME_JAVA=openjdk14,nodes=general-purpose/17/console
Build Scans: https://gradle-enterprise.elastic.co/s/uag3qsrtvt3y6

./gradlew ':x-pack:plugin:core:test' --tests "org.elasticsearch.license.LicenseS

[2020-04-03 14:42] elasticmachine commented on #54722
Pinging @elastic/es-security (:Security/License)

[2020-04-03 15:22] polyfractal commented on #54649
Hm interesting.  So I think this would end up needing a change to all metric aggs, not just cardinality.  Today, the only aggregations that support `min_doc_count` are bucketing aggs.  To some degree this is an artifact of history: `min_doc_count` was added so that certain pipeline aggs (like a derivative) would function correctly because "gaps" in buckets start to introduce weird effects.

That s

[2020-04-03 15:29] markharwood opened #54725 "Add support for regex queries on new wildcard field"
This feature is largely about building good approximation queries on the ngram index to limit the number of documents that need verification using an automaton built from the regex.

Lucene's [Regexp.toStringTree()](https://github.com/apache/lucene-solr/blob/master/lucene/core/src/java/org/apache/lucene/util/automaton/RegExp.java#L731) method gives a good template for walking a parsed regex query'

[2020-04-03 15:29] elasticmachine commented on #54725
Pinging @elastic/es-search (:Search/Search)

[2020-04-03 15:38] karussell commented on #54649
Thanks for the quick update. I'm also open for any suggestion how one could implement this via existing tools like the scripted metric.

Is this the right approach?
[code]
I'm currently getting a NPE but if I know that I'm on the right track I'll continue investigating.

[2020-04-03 16:14] #53999 closed

[2020-04-03 16:32] polyfractal commented on #32452
@charlie-wasp the documentation was updated due to discussions about composite + pipeline in general (https://github.com/elastic/elasticsearch/issues/32692#issuecomment-517810517).

Some pipelines work with composite, some do not work at all, and some _technically_ work but can give bad data (like a derivative that would span between composite pages).  While we decide what to do with composite and

[2020-04-03 16:45] polyfractal commented on #54649
Will reply over at the Discuss thread :+1:

[2020-04-03 17:22] jkakavas opened #54733 "SamlServiceProviderDocumentTests.testXContentRoundTripWithAllFields fails"
https://gradle-enterprise.elastic.co/s/orte4xd75yhpk/console-log?task=:x-pack:plugin:identity-provider:test

[code]

Attempted to fix it with 2a38b9a31e2670e4a31d19657812774a8e936d33 but this has the same issue exactly. Muting this until we can find a proper solution on Monday

[2020-04-03 17:22] elasticmachine commented on #54733
Pinging @elastic/es-security (:Security/Security)

[2020-04-03 17:47] markharwood commented on #54725
Hmm I had something working in eclipse but the build process packages jars in a way that means I don't have the privileged access to Regexp internals :(
Will need to take another look next week.

[2020-04-03 18:03] nik9000 commented on #51857
I wonder if the number should be different for searches with aggs vs searches without them. Aggs *are* the most expensive thing to reduce but they are also the biggest thing to keep around.

[2020-04-03 18:38] mayya-sharipova opened #54744 "TransportAnalyticsStatsActionTests fail on master"
./gradlew ':x-pack:plugin:analytics:test' --tests "org.elasticsearch.xpack.analytics.action.TransportAnalyticsStatsActionTests.test" \
  -Dtests.seed=C06A02480587257E \
  -Dtests.security.manager=true \
  -Dtests.locale=es-PY \
  -Dtests.timezone=Africa/Luanda \
  -Dcompiler.java=13

Test with this seed reproducibly fails for me.

As the test overall doesn't fail, only with this particular seed, I

[2020-04-03 18:44] mayya-sharipova commented on #54744
Actually, there were quite a number of failures so the test was muted.

[2020-04-03 18:52] jgregmac commented on #52513
Bummer!  I am having this problem as well.  It is preventing delivery of Watcher alerts to our ticketing system as the receiving system insists on strict adherence to RFC2392 Message-ID uniqueness.

[2020-04-03 19:12] williamrandolph opened #54745 "Remove the ability to disable BASIC licensed features"
Many of our basic-license features are important building blocks of higher-level features. For example, Machine Learning can use Index Lifecycle Management to easily manage internal indices. However, if it's possible to disable these basic plugins, then the higher-level features need to account for the case when the basic plugins are disabled, and sometimes even re-implement what those plugins can

[2020-04-03 19:39] mark-vieira opened #54749 "Remove requirement to manually manage all third-party dependencies"
We currently explicitly disable transitive dependency resolution for all third-party dependencies. This means for all third-party dependencies, we have to explicitly state their transitive dependencies, and the transitive dependencies of those, and so on. While this is perhaps not a huge task when initially setting up a project, it becomes a problematic maintenance cost because something as simple

[2020-04-03 19:39] elasticmachine commented on #54749
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-04-03 19:39] mark-vieira commented on #54749
cc @rjernst @jasontedor

[2020-04-03 19:46] jbaiera commented on #52453
There was a failure today that was related to https://github.com/elastic/elasticsearch/issues/33326, which looks like this issue replaces.

https://gradle-enterprise.elastic.co/s/dhqipxj2iuyfc

[2020-04-03 19:59] mayya-sharipova commented on #53177
Another failure of SmokeTestWatcherWithSecurityClientYamlTestSuiteIT on 7.x today, which doesn't reproduce for me.

./gradlew ':x-pack:plugin:watcher:qa:with-security:integTestRunner' --tests "org.elasticsearch.smoketest.SmokeTestWatcherWithSecurityClientYamlTestSuiteIT.test {yaml=watcher/usage/10_basic/Test watcher usage stats output}" \
  -Dtests.seed=21A43F67890E43A9 \
  -Dtests.security.manage

[2020-04-03 20:06] mayya-sharipova commented on #52223
And again, in 7.x: [Build scan](https://gradle-enterprise.elastic.co/s/kjzklafae6dii), [Jenkins](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob+fast+part1/4334/console)

[2020-04-03 21:11] #54744 closed

[2020-04-03 22:31] dakrone opened #54759 "[CI] Failure in {p0=ml/data_frame_analytics_crud/Test put regression given negative lambda}"
Looks like the cleanup from clearing ILM policies:

[code]

Failure is at: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-2/20842/testReport/junit/org.elasticsearch.xpack.test.rest/XPackRestIT/test__p0_ml_data_frame_analytics_crud_Test_put_regression_given_negative_lambda_/

I believe the ML-installed ILM policy needs to be added to this list:

https://github.com/elasti

[2020-04-03 22:31] elasticmachine commented on #54759
Pinging @elastic/ml-core (:ml)

[2020-04-03 22:33] rw-access opened #54760 "EQL: Use recognized time units for sequences"
Relates to #54597 and #54680

The above issues raised concerns with using floating point for time units.
In a similar note, we should also consider only using known time units in ES (nanos, micros, ms, s, m, h, d).

One question with this is: what do we want the deprecation path to follow for existing EQL in the Endpoint Platform? Since these changes can be made without changing the grammar, we ca

[2020-04-03 22:33] elasticmachine commented on #54760
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-04-03 23:27] mark-vieira commented on #54749
It's worth also noting here that while this issue is labeled `:Core/Infra/Build`, whatever solutions we come up here are going to require a team-wide effort to implement. Whenever we decide to "flip the switch" here (and we _could_ do this incrementally), folks are going to have to go back and audit their module dependencies to decide what stuff belongs and what doesn't. This is best done by code

[2020-04-03 23:29] rjernst commented on #54749
Thanks for writing this up Mark. The summary of the current situation and reasons for doing so is good. I see some nice advantages to switching back (eg removing no longer relevant deps) to using transitive dependencies, but under the requirement that the protections we want are still in place in other ways.

I would like to add that we also do not want automatic conflict resolution. Instead we wa

[2020-04-03 23:31] mark-vieira commented on #54749
Indeed. The nice thing is that transitive dependency management, and explicit conflict resolution are not mutually exclusive. We can (and should) have the dependency resolution engine sort out the dependency graph for us and still have it scream when it runs into conflicting modules requiring manual intervention.

[2020-04-04 00:55] hariseldon3141 commented on #54628
@iverase Excuse my ignorance, but how does this differ from #53468

[2020-04-04 10:56] Hailei commented on #54699
@ywelsch  thanks for your explain, I will check hardware with our sys team next Tuesday

[2020-04-04 14:52] #54662 closed

[2020-04-04 16:19] original-brownbear opened #54766 "Test Failures in org.elasticsearch.xpack.slm.SLMSnapshotBlockingIntegTests"
Running `org.elasticsearch.xpack.slm.SLMSnapshotBlockingIntegTests` in a loop I can easily reproduce failing tests from race conditions around aborting a snapshot that is in state `INIT`.

Example failure:

[code]

Fix incoming in https://github.com/elastic/elasticsearch/pull/54765

[2020-04-04 16:19] elasticmachine commented on #54766
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-04-05 01:40] linkmust commented on #41189
my version is 7.3.0 ,has similar problem ,how to resolve

[2020-04-05 13:31] cpmoore commented on #51199
+1 for this feature
For my use case, there are certain indexes where I want to take the number_of_replicas down to 0 after the index is rolled over, however I want to ensure a snapshot exists before I do this (just in the event that the worker node where that index resides is lost beyond recovery)
Therefore i need the snapshot taken as soon as the index is rolled over, but before the index setting

[2020-04-05 15:14] costin commented on #54759
This issue is showing up in various places, e.g.
https://gradle-enterprise.elastic.co/s/slg3bb53z3jrg/tests/fcijb24gqtmna-vijn253lceb7m?open-stacktraces=WzFd
[code]

I also got bit by it locally through:
[code]

[2020-04-05 17:04] #54759 closed

[2020-04-05 21:30] Subhadeep2707 commented on #54062
@SivagurunathanV I am not working on this issue. Please go ahead.

[2020-04-06 03:35] mathewTH commented on #52640
Is this still being worked on?

[2020-04-06 06:06] bigshans opened #54781 "_update_by_query sometimes not effect"
**Elasticsearch version** (`bin/elasticsearch --version`):7.6.1

**Plugins installed**: [ik]

**JVM version** (`java -version`):1.8.0_242

**OS version** (`uname -a` if on a Unix-like system): Debian 9

I met a stange thing, that `_update_by_query` sometimes fails to update but return sucess. There is no problem with a single request but there is a problem online. I suspected that it was a multi-p

[2020-04-06 06:50] iverase commented on #54628
@hariseldon3141 no problem as I can see where your confusion is coming from.

The only query supported by geo_shape field is currently the geo_shape query. In #53466 we added the capability of building geo distance queries on geo shape fields when using the current default indexing strategy which means that you can now build a geo_shape query using a CIRCLE shape (see #39237).

In this change we p

[2020-04-06 07:24] P1llus opened #54783 "[Ingest Pipeline][Set Processor] Add argument for null value check"
**Describe the feature**:
With an increasing focus on Observability and Security, most of the processing of data is being moved to Ingest pipelines through beats.
Since ingestion rates are always a top priority on these cases, there is one argument in the set processor that always has to be set currently with a painless condition that would be great having as a boolean argument in Elasticsearch in

[2020-04-06 07:32] elasticmachine commented on #54783
Pinging @elastic/es-core-features (:Core/Features/Features)

[2020-04-06 07:49] dimitris-athanasiou commented on #52223
Ang again, in 7.x: [Build scan](https://gradle-enterprise.elastic.co/s/hlikqhqbmp4t4), [Jenkins](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+release-tests/1101/console)

[2020-04-06 08:01] dimitris-athanasiou opened #54786 "[CI] InferenceIngestIT.testPipelineIngest occasionally fails"
Jenkins: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_RUNTIME_JAVA=zulu11,nodes=general-purpose/614/console

Build scan: https://gradle-enterprise.elastic.co/s/q4hcgpbmvcn3g

Failure:

[code]

Reproduce with:

[code]

I couldn't reproduce locally.

[2020-04-06 08:01] elasticmachine commented on #54786
Pinging @elastic/ml-core (:ml)

[2020-04-06 08:33] roncohen opened #54789 "[API Keys] Last used"
One of the advantages of API Keys to manage access control is that they are cheap to create and maintain, so you often end up creating several of them.

To aid in manage them, it's very useful to know when an API Key was last used.

Other systems have this kind of feature and it proves indispensable in maintaining tight access control and good API Key hygiene. Without last used, retiring an API Ke

[2020-04-06 08:47] cbuescher commented on #54781
Hi @bigshans! Unfortunately that is exactly the right way to ask this kind of more general usage questions. This question is initially better suited to the support forums over at https://discuss.elastic.co since we want to keep using Github issues only for bug reports and feature requests only.

Reading your description above I think you might want to try adding a little more detail to you questio

[2020-04-06 08:47] #54781 closed

[2020-04-06 09:10] markharwood commented on #54725
One workaround is to change Lucene's Regexp class. It already has a "toStringTree" method but I propose adding another similar method but which creates a BooleanQuery rather than a string representation. This query can be used as an approximation to limit the set of documents visited with an automaton - something like this:

	public Query toApproximation(ExpressionMatcher matcher) {
	   ... // wal

[2020-04-06 09:27] dimitris-athanasiou commented on #54448
Another failure: [Build scan](https://gradle-enterprise.elastic.co/s/an5gdgc6jst4a), [Jenkins](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.7+matrix-java-periodic/ES_RUNTIME_JAVA=zulu11,nodes=general-purpose/23/console)

Will proceed to mute.

[2020-04-06 10:26] #54766 closed

[2020-04-06 10:55] mayya-sharipova commented on #52416
Another failure on Apr 3 on 7.x windows.

Are all the test failures on windows?
[code]

Build scan:  https://gradle-enterprise.elastic.co/s/zh4vk2ddkfdc2

java.lang.AssertionError: Failure at [search/110_field_collapsing:67]: hits.total didn't match expected value:
hits.total: expected Integer [6] but was Integer [3]

[code]

[2020-04-06 10:59] #54448 closed

[2020-04-06 12:02] davidkyle commented on #54162
I pushed a fix to wait on the ml templates in the newly formed cluster in #54162 and the test is unmuted in the backport #54801

Leaving this issue open for now as I am not certain the fix addresses the root cause

[2020-04-06 12:09] vkocubinsky opened #54802 "Wrap a query with constant score change the size of result from 1 to 0 , es 6.8.8"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.8.8, Build: default/tar/2f4c224/2020-03-18T23:22:18.622755Z, JVM: 1.8.0_192
**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_192"
Java(TM) SE Runtime Environment (build 1.8.0_192-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.192-b12, mixed mode)
**OS version** (`uname -a` if on a Unix-like sys

[2020-04-06 12:15] jeethsam commented on #48427
I ran into the same issue. Is there a fix for this apart from 'not using default mapping'?

[2020-04-06 12:26] jimczi commented on #54802
This is the documented behavior in [`6.8.8`](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/query-dsl-bool-query.html) (see the important section called "Bool query in filter context"). Although, we agree that this behavior can be confusing, which is why we've decided to deprecate it in 6.x and to make the breaking change in `7.x`: https://github.com/elastic/elasticsearch/pull/35354
Y

[2020-04-06 12:26] #54802 closed

[2020-04-06 12:40] ywangd commented on #53939
Authorization is performed on each node. While we can reduce the size required by API key cache on each node by adding more nodes (with sticky sessions), the role cache on each node will likely need to cater for all keys. This is another reason that role cache could use further optimisation.

[2020-04-06 13:34] dimitris-athanasiou opened #54807 "[ML] Serialization error on get DF analytics stats action when no id is set"
The issue can be reproduced by calling

[code]

on a multi-node cluster.

The problem is that the request id will be null and the serialization code expects it to be non-null.

[2020-04-06 13:34] elasticmachine commented on #54807
Pinging @elastic/ml-core (:ml)

[2020-04-06 13:52] dimitris-athanasiou opened #54810 "[CI] TransformConfigurationIndexIT.testDeleteConfigurationLeftOver failures"
Jenkins: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.7+matrix-java-periodic/ES_RUNTIME_JAVA=openjdk14,nodes=general-purpose/23/console

Build scan: https://gradle-enterprise.elastic.co/s/skpba3jxaypqk

Failure:

[code]

Reproduce with:

[code]

Cannot reproduce locally.

[2020-04-06 13:52] elasticmachine commented on #54810
Pinging @elastic/ml-core (:ml/Transform)

[2020-04-06 13:54] cbuescher commented on #46272
Some intermediate results: The way we build the Automaton doesn't always deal well with deleted tokens.

Without the length filter and deleting the tokens the Automaton we build in `GraphTokenStreamFiniteStrings` has the following four token and transitions:

[code]

When the two single-letter token get deleted we currently create four states with the following transitions:

[code]
Later after rem

[2020-04-06 13:54] dimitris-athanasiou commented on #54415
Another failure: [Jenkins](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=debian-8&&immutable/673/console), [Build scan](https://gradle-enterprise.elastic.co/s/n6t6bpszksaug)

[2020-04-06 13:59] bpintea commented on #52536
Proposal dropped for the convenience of possibly later adding more `client_id`s.

[2020-04-06 13:59] #52536 closed

[2020-04-06 14:23] #54807 closed

[2020-04-06 14:24] droberts195 commented on #54810
The server side log shows this:

[code]

The most likely sequence seems to be:

1. One thread in production code indexes the very first transforms notification
2. This causes the index to be created
3. Before the primary shard has been allocated a test code thread coincidentally searches for notifications
4. This test code thread gets the error that all shards failed

The test code is using the `i

[2020-04-06 14:33] a03nikki opened #54815 "[DOCS] Update `node.processors` settings on the "Thread Pool" page"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.4+

**Description of the problem including expected versus actual behavior**:

The documentation still lists the deprecated name instead of current name for the setting.

**Steps to reproduce**:
https://www.elastic.co/guide/en/elasticsearch/reference/7.6/breaking-changes-7.4.html#deprecate-processors

https://www.elastic.co/guide/en/elas

[2020-04-06 14:33] elasticmachine commented on #54815
Pinging @elastic/es-docs (>docs)

[2020-04-06 14:44] matriv commented on #46396
Hi @verkhovin,

Apologies for stalling this issue, there has been some important refactoring meanwhile in #49693
that could change the approach of catching the duplicate aliases. Would you have time to work again on this? We would be happy to provide guidance if so.

[2020-04-06 14:59] costin commented on #49594
Parsing and model at: https://github.com/elastic/elasticsearch/pull/54227

[2020-04-06 15:08] dimitris-athanasiou opened #54817 "[CI] DockerTests.test101AllFilesAreGroupZero failures"
Jenkins: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.7+multijob+packaging-tests-unix-gcp/os=opensuse-15-1-packaging/35/console

Build scan: https://gradle-enterprise.elastic.co/s/ob4ef4u754wzk

Failure:

[code]

Reproduce with:

[code]

I couldn't reproduce the error locally.

[2020-04-06 15:09] elasticmachine commented on #54817
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-04-06 15:20] jpountz commented on #37437
I thought we were already checking this here: https://github.com/elastic/elasticsearch/blob/c94ebefbc67f342157ce9e7a8dd7a7fd9d07b409/server/src/main/java/org/elasticsearch/index/mapper/MapperMergeValidator.java#L61. But obviously we're not, I wonder whether this validation logic is buggy.

[2020-04-06 15:51] patelvp commented on #54667
Working on cluster reroute and explore. Hope nobody is looking into it.

[2020-04-06 15:51] dnhatn opened #54822 "[CI] Component and index template composition fails"
This suite failed twice today with unexpected warnings:

- https://gradle-enterprise.elastic.co/s/scuh7v42y5tmw
- https://gradle-enterprise.elastic.co/s/q3dqfp6meyy64

[code]

[2020-04-06 15:51] elasticmachine commented on #54822
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-04-06 16:00] #50990 closed

[2020-04-06 16:05] mayya-sharipova commented on #52857
We have decided for now NOT to re-introduce `sparse_vector`. But we will be looking into potentially introducing a linear operation into `rank_feature` query.

[2020-04-06 16:22] jrodewig commented on #54288
Closing in favor of #54411.

[2020-04-06 16:22] #54288 closed

[2020-04-06 16:23] bpintea opened #54826 "SQL: harmonise returned fields in metadata about columns and wildcard selection"
`SYS COLUMNS` metadata query about a table can return currently a set of fields which is different from the one returned by a `SELECT * ...` query, the later not returning all subfields as separate columns. Some BI tools notice this difference and warn the user.

This issue is meant as a collector of notes where this behavior can actually cause any problems.

[2020-04-06 16:23] elasticmachine commented on #54826
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-04-06 16:46] Kamna09 opened #54827 "Sizes of shard are incorrect"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.1.1

**Plugins installed**: None

**JVM version** (`java -version`):
openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-b08)
OpenJDK 64-Bit Server VM (build 25.242-b08, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux ip-xxx-xxx-xxx-xxx 4.14.165-103.209.amzn1.x86_64 #1 SMP Sun Feb 9 00:23:26

[2020-04-06 16:55] jbaiera opened #54829 "[CI] IndexRecoveryIT.testRecoverLocallyUpToGlobalCheckpoint fails intermittently"
Got this error on CI today in the 7.7 branch. Looks like it has failed a few times in the last month or so on a few PR builds.

The failure:
[code]

Scan: https://gradle-enterprise.elastic.co/s/c5ubooujvkxoy

[2020-04-06 16:55] elasticmachine commented on #54829
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-04-06 16:57] dnhatn commented on #52223
I am looking at this issue now.

[2020-04-06 17:14] astefan commented on #54411
Following our discussion about this:
- we decided to add a request parameter that should enable/disable case sensitivity in a query. The default (if the parameter is not specified) should be case insensitive in line with the current behavior in the EQL endpoint.
- the **`between`** function, if its use is minimal, should have the optional parameter (case sensitive) removed altogether and behave li

[2020-04-06 17:27] DaveCTurner commented on #54827
I do not think this can be explained by "stale metadata" since these sizes are calculated by adding up the sizes of the files on disk. I think it much more likely that shard `[3]` really was 1GB in size due to some older segments which the force-merge cleared up.

However your force-merge operation will have destroyed the information we needed to do any further investigation, so I think there's no

[2020-04-06 17:27] #54827 closed

[2020-04-06 17:29] Kamna09 commented on #54827
@DaveCTurner , Thanks for quick reply!
Can you please let me know, what all information I should capture when this issue occurs again?

[2020-04-06 17:31] DaveCTurner commented on #54827
I would start with `GET _cat/segments` and a listing of the actual files on disk together with their sizes, but that may not be enough.

[2020-04-06 18:18] jtibshirani commented on #37437
I looked into this a bit more -- the issue is that when building the root `ObjectMapper`, we attempt to merge together fields with the same name: https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/index/mapper/ObjectMapper.java#L143

So if there is no field mapper conflict as in the original example, the merge succeeds and the object mapper will contain a s

[2020-04-06 18:47] mellieA opened #54835 "[ILM] Can't change number of replicas to 0 in warm phase if auto_expand_replicas is set"
The APM template has auto_expand_replicas set. When a user has a hot-warm deployment with only a single warm instance, they want to change the number of replicas to 0 in the warm phase. This never happens when auto_expand_replicas is enabled.

Steps to reproduce:

- Configure a hot/warm deployment in Elastic Cloud
- Edit the APM ILM policy to add a warm phase in Kibana. Set the number of replicas

[2020-04-06 18:47] elasticmachine commented on #54835
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-04-06 18:48] mellieA commented on #54835
@Dakrone opened this issue as requested :)

[2020-04-06 19:14] giladgal commented on #54218
The ask makes sense to me. It might be useful to include it in a query that gets all shapes that are bigger than a certain minimum threshold and within given geo bounds.

[2020-04-06 19:24] dnhatn commented on #52223
I've opened https://github.com/elastic/elasticsearch/pull/54839.

[2020-04-06 19:26] EmilioEduardo commented on #41649
Hi!

Any news on this feature? Really useful for our use case here!

Regards.,
Emilio Moreira | Zaig

[2020-04-06 20:20] jdconrad opened #54844 "Check for package versus type clash in Painless whitelist"
Currently, it is possible to add a type that also matches a package name creating possible issues with matching appropriate types within Painless scripts. We need to add protections against this when loading a Painless whitelist.

[2020-04-06 20:37] aleksmaus opened #54846 "EQL: implement math functions: add, divide, module, multiply, subtract"
- [ ] **add** `(number, number) -> number`
- [ ] **divide** `(number, number) -> number`
- [ ] **modulo** `(number, number) -> number`
- [ ] **multiply** `(number, number) -> number`
- [ ] **subtract** `(number, number) -> number`

[2020-04-06 21:01] imotov opened #54847 "Add analytics plugin usage stats to _xpack/usage"
In 7.6.2 _xpack/usage is returning
[code]
and in master we get:
[code]
We should add cumulative stats for each aggregation instead.

[2020-04-06 21:01] elasticmachine commented on #54847
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-04-06 21:12] nik9000 commented on #54847
Oops.

[2020-04-06 21:45] #54334 closed

[2020-04-06 22:18] jtibshirani commented on #37437
I did some testing and found that if we changed this behavior, we could keep these related behaviors the same:
* A dynamic mapping update would still work given a document like above that defines the same field twice. This is because we merge dynamic mapping updates together in `DocumentParser#createDynamicUpdate` before constructing the combined update.
* As expected, you could still define a fie

[2020-04-07 00:25] Shubhangi2901 commented on #53856
Hi @astefan I would like to work on this issue.

[2020-04-07 00:27] astefan commented on #53856
Hi @Shubhangi2901. Thank you for your interest in implementing this feature, but there is a PR already created for it and ready to be merged: https://github.com/elastic/elasticsearch/pull/54543

[2020-04-07 01:59] dnhatn commented on #54829
I think the test failed because a file-based recovery was performed instead of an operation-based. We need more info to debug this. I've added more assertions in https://github.com/elastic/elasticsearch/commit/3a6e0135e65e3ad4271e25bd63ab8d6e7d5fc33c. I am closing this issue. Please reopen when it fails again

[2020-04-07 02:35] jasontedor commented on #54789
@roncohen What level of resolution would you think is appropriate here? For example, if hourly okay? Without this, we end up making an update on *every* access, which would become expensive.

[2020-04-07 02:35] elasticmachine commented on #54789
Pinging @elastic/es-security (:Security/Authentication)

[2020-04-07 02:41] jasontedor commented on #54815
I opened #54855.

[2020-04-07 02:44] Greentash commented on #43911
Please, In which file, do i add these lines?

[2020-04-07 03:25] SivagurunathanV commented on #54062
#54857 https://github.com/elastic/elasticsearch/pull/54857

[2020-04-07 04:55] xjtushilei commented on #36752
https://github.com/elastic/elasticsearch/pull/54854  related

[2020-04-07 04:57] auspicacious commented on #29714
Hi, I'm fairly new to Elasticsearch but I've been looking at this issue, and I think it could use some clarification. Some use cases already seem to be covered.

For instance, working off of master right now, let's say I make a bulk update request to two indices, but the user only has permissions to write to one of them. The API provides some helpful feedback:
[code]

On the other hand, if the use

[2020-04-07 07:00] roncohen commented on #54789
@jasontedor I think hourly as a start would be perfectly fine. Even daily, if that helps.

[2020-04-07 07:00] Shubhangi2901 commented on #54846
Hi @aleksmaus I would like to work on this issue.

[2020-04-07 07:18] jpountz commented on #37437
Thanks for digging. I agree we should preserve the ability to define mappings like this.

[2020-04-07 07:58] hendrikmuhs opened #54862 "[Transform] add throttling based on configuration parameter"
Running transform can increase load on the cluster. Especially in _batch_ mode and for the _first checkpoint_ of a continuous transform this can have bad side effects on the cluster.

Transform should support throttling similar to [reindex](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html#docs-reindex-throttle). Throttling is configured _in reindex_ with the settin

[2020-04-07 07:58] elasticmachine commented on #54862
Pinging @elastic/ml-core (:ml/Transform)

[2020-04-07 08:43] #53738 closed

[2020-04-07 08:54] ollik1 opened #54865 "Java sniffer client breaks when "Accept-Encoding" is used as a default header"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.3.2

**Plugins installed**: []

**JVM version** (`java -version`): openjdk version "11.0.6" 2020-01-14 LTS

**OS version** (`uname -a` if on a Unix-like system):Linux 4.9.87-linuxkit-aufs #1 SMP Wed Mar 14 15:12:16 UTC 2018 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**: When using the Java sni

[2020-04-07 08:59] sebgl opened #54867 "TLS certs may not be picked up if updated at ES startup"
Elasticsearch version: any (observed with 6.8.5 and 7.6.1)

I think we spotted a bug where TLS transport certificates are not picked up by Elasticsearch, if they are updated on disk around the same time Elasticsearch starts. See [this issue in ECK repository](https://github.com/elastic/cloud-on-k8s/issues/2823).

It's not easy to reproduce, but we observed it happening several time across multiple

[2020-04-07 09:17] jpountz commented on #51857
My inclination would be to try hard to have the same number all the time. I've been hit by moving parts like that a couple times when digging performance issues.

[2020-04-07 09:29] jpountz commented on #54699
I have the same interpretation as Yannick. The `^H` character is for backspace, which is ascii character `8`, which is how the number 8 is encoded as a variable-length integer. So it expects a string of length 8, which is consistent with your other segments file which also has a maximum sequence number of length 8.

The `^@` character in the middle of the sequence number is definitely wrong. I'm l

[2020-04-07 10:04] elasticmachine commented on #54867
Pinging @elastic/es-security (:Security/Network)

[2020-04-07 10:07] elasticmachine commented on #54865
Pinging @elastic/es-core-infra (:Core/Infra/REST API)

[2020-04-07 10:49] jasontedor commented on #52640
@muachilin Did you still want to work on removing the dedicated endpoints from master (8.0.0)?

[2020-04-07 12:20] henningandersen commented on #50520
No further feedback received. @lijiang1983 if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2020-04-07 12:20] #50520 closed

[2020-04-07 12:27] hello4usharath opened #54881 "java.lang.IllegalStateException: Received message from unsupported version: [2.0.0] minimal compatible version is: [5.6.0]"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
6.1.4
**Plugins installed**: []
NA
**JVM version** (`java -version`):
openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-b08)
OpenJDK 64-Bit Server VM (build 25.242-b08, mixed mode)
**OS version** (`uname -a` if on a Unix-like system):
Centos 7
**Description of the problem including expected

[2020-04-07 12:33] ywangd commented on #54867
There are two reasons for it to happen, one major and one minor:

* The [high frequency watcher](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/watcher/ResourceWatcherService.java#L111) of `ResourceWatcherService` has an initial delay of [5 seconds](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/watcher/Resou

[2020-04-07 12:33] crisdarocha opened #54883 "Index Lifecycle Management not removing exclude for tags defined in the index template"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.0

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_191

**OS version** (`uname -a` if on a Unix-like system): Darwin Kernel Version 18.7.0

**Description of the problem including expected versus actual behavior**:

If we add an allocation exclude to a certain tag in the index template, this tag is not removed by Ind

[2020-04-07 12:34] elasticmachine commented on #54883
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-04-07 12:45] droberts195 opened #54887 "[CI] denying access as action [internal:admin/tasks/ban] is not an index or cluster action"
An ML test failed in https://gradle-enterprise.elastic.co/s/d5tipghjjliwc

The error was:

[code]

However, the server side logs (downloadable from https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_RUNTIME_JAVA=adoptopenjdk11,nodes=general-purpose/616/gcsObjects/) show the following error was the root cause:

[code]

That message is from `x-pack/qa/rollin

[2020-04-07 12:45] elasticmachine commented on #54887
Pinging @elastic/es-distributed (:Distributed/Task Management)

[2020-04-07 13:23] cbuescher commented on #54881
Hi @hello4usharath! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead.

In this particular case, please note:

This means th

[2020-04-07 13:23] #54881 closed

[2020-04-07 13:29] stevedodson commented on #53798
This is a great concrete example we can base a enhancement on. @tveasey @grabowskit @hendrikmuhs - this overlaps with pre-existing requests to extend transforms, please link if you have the references.

[2020-04-07 13:35] tlrx opened #54891 "[CI] InternalTTestTests.testReduceRandom fails"
The test InternalTTestTests.testReduceRandom failed today on CI:

[code]

It does not reproduce using:
[code]

Build scan: https://gradle-enterprise.elastic.co/s/u67n6adwithdq

[2020-04-07 13:35] elasticmachine commented on #54891
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-04-07 14:17] spinscale opened #54897 "Specifying a negative `from` value in a Search returns different hard-to-interpret error messages"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.2

**Description of the problem including expected versus actual behavior**:

When specifying a negative `from` value in a search request, the exceptions do not contain a proper hint, of what is wrong, same for the `size` value. Also, specifying different values returns different exceptions:

**Steps to reproduce**:

[code]

[code]

Th

[2020-04-07 14:18] aleksmaus commented on #54846
Hi @Shubhangi2901, thank you for your interest in contributing to Elasticsearch. I have already started working on this issue.
There is plenty of other interesting issues to tackle for this project though. To find one, please check the `good first issue` label for example:
https://github.com/elastic/elasticsearch/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2020-04-07 14:47] nik9000 commented on #54891
I've likely caused this with #54776. @imotov, would you like me to look at it or do you want it?

[2020-04-07 14:58] imotov commented on #54891
@nik9000 I assumed it's me but I didn't start looking into it, so if you have time, please go ahead.

[2020-04-07 15:14] #52223 closed

[2020-04-07 15:36] nik9000 commented on #54891
I'll pick it up now.

[2020-04-07 15:49] nik9000 commented on #54891
Should be fixed by 12cf663a51f9d5201e3b2715aaf81f787056ac2c. Let me know if that causes anyone any trouble.

[2020-04-07 15:49] #54891 closed

[2020-04-07 16:24] chrisronline commented on #53308
Per an offline chat with @jakelandis, we are going to go in a different direction and will not need this work.

[2020-04-07 16:24] #53308 closed

[2020-04-07 16:24] chrisronline commented on #53311
Per an offline chat with @jakelandis, we are going to go in a different direction and will not need this work.

[2020-04-07 17:05] #54815 closed

[2020-04-07 17:15] jtibshirani commented on #48427
As @freakingid mentioned, in 7.x you must remove the default mapping from index templates. No other fix is necessary.

To clarify one aspect that can be confusing -- issuing a normal 'get templates' call in 7.x won't show the default mapping, even if it's defined. To see all mappings that are defined, including the default mapping, you should pass the `include_type_name` parameter:

[code]

[2020-04-07 17:20] #54506 closed

[2020-04-07 17:55] erickmp07 commented on #52640
@jasontedor If he didn't, I'd like to work on it.

[2020-04-07 18:00] jasontedor commented on #52640
@erickmp07 Thanks. Let's give @muachilin some time to reply. If there's no reply by this time tomorrow, it's yours.

[2020-04-07 18:02] mark-vieira commented on #51206
Not sure what was happening but the last two darwin builds have passed so I'm going to close this for now. We can reopen if these start timing out again.

[2020-04-07 19:18] ravisanwal commented on #33036
We restructure (group and partition etc.) our data before upload to optimize bulk uploads and control/throttle it. We restructure it according to where the data will eventually land. For some cases we use `routing to shard mapping` or this. Currently due to lack of access to `number_of_routing_shards`, we resort to using `_search_shards` api to get this mapping, instead of using `OperationRouting`

[2020-04-07 19:18] #54660 closed

[2020-04-07 19:22] ravisanwal commented on #33036
I can elaborate more on why we do the restructuring, but essentially it is to ensure that we impose predictive indexing load on each node in the cluster, which is had to control with randomly distributed data that sprays documents to index, all over the cluster.

[2020-04-07 19:49] cjcenizal commented on #54599
One question that we should address is whether this endpoint should respect the dynamic mappings setting if it's been disabled for the cluster.

[2020-04-07 20:23] Shubhangi2901 commented on #54628
Hi @iverase I would like to work on this issue

[2020-04-07 21:04] pugnascotia opened #54925 "Docker packaging tests for ARM"
We have a suite of tests for our Docker image in the `DockerTests` class, which can be run via:

    ./gradlew :qa:os:destructiveDistroTest.default-docker

This task is configured to depend on a Docker export task, which itself depends on a Docker build task. This works fine. However following #53936, now we can build Docker images for ARM, with:

    ./gradlew distribution:docker:buildAarch64Dock

[2020-04-07 21:04] elasticmachine commented on #54925
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-04-07 21:35] jaymode commented on #54867
I see this as more of a general issue since not only security could be affected:

1. Starting of the resource watcher service. It should be one of the first items constructed and started within a node IMO.
2. Ensuring that when an item is added to be watched we capture the relevant stats so we can detect a change between add and first poll

[2020-04-07 21:50] mark-vieira commented on #54925
Looking at this again we already sort of have such alias tasks. The behavior though is that it runs _all_ tests, ignoring those not applicable to the current platform. So just `destructiveDistroTest` will run all packaging tests, skipping those that don't apply to the current machine (ex: skips docker tests on Windows).

We have more specific versions of these tasks as well, such as `destructiveDi

[2020-04-07 22:18] james-crowley opened #54930 "Proposal for Introducing s390x and ppc64le Packages"
I wanted to start a discussion about introducing packages for `s390x` and `ppc64le` architectures.

I saw a couple of amazing PRs by @jasontedor, #53914, #53926, #53936, #54856, which outlined the process for adding a new architecture in this case it was `arm64`.

From my brief scan of the changes @jasontedor made, it seems like the code is extendable to allow other architectures.

https://github.

[2020-04-07 22:20] jtibshirani commented on #48427
I merged #54915 to add debugging information to the migration docs. It also updates the error message to link to those docs.

[2020-04-07 22:20] #48427 closed

[2020-04-07 22:43] jtibshirani commented on #52843
This just failed again on 7.x intake: https://gradle-enterprise.elastic.co/s/rim27jxqybchu. The errors looks to be the same:

[code]

[2020-04-07 23:38] elasticmachine commented on #54865
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-04-07 23:58] rjernst commented on #54925
In fact, we already have these tasks for every distribution, right now, it is just that like Mark said, we assume all are x86. We should just need another loop in DistroTestPlugin.

[code]

[2020-04-08 00:26] Shubhangi2901 commented on #10617
Hi @nknize if this issue is still open i would like to work on this! :)

[2020-04-08 00:49] rjernst commented on #54930
Thanks for your interest in contributing. While Jason's PRs do show how one would add another architecture to the Elasticsearch build, the decision on when to add such support is more complicated. We prefer to not take on contributions that we do not intend to support because it can end up being confusing to our users, and it's difficult for us to maintain. In the case of ARM, while we do not yet

[2020-04-08 00:49] #54930 closed

[2020-04-08 01:35] zacharymorn commented on #37437
I'm trying to follow the discussion but feel I might have some context/knowledge gap.

From my quick reading of dynamic mapping, it seems to be trigged by index document update. But I was previously under the impression that the fix to this issue is to detect the nested field definition duplication for explicit index creation or mapping updating. So they seems to be on different code patch.

Am I

[2020-04-08 02:09] aleksmaus commented on #54132
Done.

[2020-04-08 02:09] #54132 closed

[2020-04-08 02:09] aleksmaus commented on #54135
Done.

[2020-04-08 02:09] #54135 closed

[2020-04-08 02:09] aleksmaus commented on #54136
Done.

[2020-04-08 02:09] #54136 closed

[2020-04-08 04:39] jamshid commented on #20640
This would be a great feature, any chance?
I want the convenience of automatically creating an index but only if the cluster has the template defining the settings and schema that my application needs.

[2020-04-08 04:45] muachilin commented on #52640
Hi! @erickmp07 @jasontedor I would like to work on it! Thank you :)

[2020-04-08 06:30] elasticmachine commented on #54897
Pinging @elastic/es-search (:Search/Search)

[2020-04-08 07:10] hajimurtaza commented on #23839
So then how do I handle null or empty strings in text fields?

[2020-04-08 07:49] karmi opened #54937 "The `indices.delete_index_template` REST API doesn't accept `_all`"
The [`indices.delete_index_template`](https://github.com/elastic/elasticsearch/blob/master/rest-api-spec/src/main/resources/rest-api-spec/api/indices.delete_index_template.json) doesn't accept the `_all` value for name, to delete all index templates, but it does accept an asterisk:

[code]

To make it consistent with the other APIs, it should accept `_all`?

[2020-04-08 07:55] elasticmachine commented on #54937
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-04-08 08:22] iverase commented on #54628
Hi @Shubhangi2901,

great, please feel free to open a PR addressing  the issue.

Thanks!

[2020-04-08 09:04] original-brownbear opened #54940 "Add Dry-Run Option to Snapshot Restore API"
We should add a `?dry-run` flag to snapshot restore to allow for validating that all indices in a restore will be restorable before/without actually executing the restore.

The API could return an empty `org.elasticsearch.action.admin.cluster.snapshots.restore.RestoreSnapshotResponse` without any `RestoreInfo` if all indices are can be restored.
If there is an issue with the restore, we should thr

[2020-04-08 09:04] elasticmachine commented on #54940
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-04-08 09:32] pugnascotia commented on #54925
OK, so if I add in an extra loop for architecture, and also a way of say "No, I really want $ARCH for the Docker stuff", then that would probably get us most of the way there. Thanks all.

[2020-04-08 10:24] cbuescher commented on #54897
This behaviour suprised me since we already [check for negative from values](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java#L360) in our SearchSourceBuilder setters and even have [rest tests](https://github.com/elastic/elasticsearch/blob/master/rest-api-spec/src/main/resources/rest-api-spec/test/search/30_limits.y

[2020-04-08 10:29] DaveCTurner opened #54944 "Better procedure for backup of a snapshot repo"
The integrity of the files in a snapshot repository is vitally important. If the contents of any file in the repository are altered after it was first written then one or more snapshots may become unrecoverable.

Many snapshot repositories have very good integrity: corruption of files in the major public cloud providers' blob stores is almost unheard-of. However, if you are using your own filesyst

[2020-04-08 10:29] elasticmachine commented on #54944
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-04-08 10:33] DaveCTurner commented on #52622
I do agree with this, but this raises further questions about how exactly they should do that. Today we don't have a good answer for that -- "avoid storage that might corrupt your data" isn't really helpful, and we don't have a good procedure for taking backups of the repository itself. I opened https://github.com/elastic/elasticsearch/issues/54944 for this point.

[2020-04-08 11:09] romseygeek commented on #54725
Another option would be to add a more generic Regexp walker method, and refactor both the toStringTree() and toAutomaton() methods to use it.  Something like:
[code]

[2020-04-08 11:53] matriv opened #54947 "SQL: [Test] Allow assertion with millis and nanos"
Currently we cannot assert millis or nanos in the integration `.csv-spec` files as they are always parsed as 0. For millis parsing it's easy to adjust the `timestampFormat` according to the docs: http://csvjdbc.sourceforge.net/doc.html, but for nanos this is not possible since the library is using SimpleDateFormat which doesn't support nanos.

Maybe we should consider using our own implementation

[2020-04-08 11:53] elasticmachine commented on #54947
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-04-08 13:01] saragri31 commented on #54582
Hi @jkakavas
Thanks for your precision.
I didn't notice PKCE is designed for Native Mobile App, I was just thinking using this flow could be easier as you don't have to deal with `client_id` nor `client_secret`.
Indeed, within Elastic stack it's not something mandatory at the moment.
Regards

[2020-04-08 13:06] original-brownbear commented on #52843
This is missing a few backports I'm working on at the moment, will close once those are in in a bit. Sorry for the noise.

[2020-04-08 13:46] DaveCTurner commented on #52622
@fkelbert I forgot to say that your opinion on #54944 would be helpful to hear, given the context of this discussion.

[2020-04-08 14:15] hendrikmuhs opened #54957 "[Transform] transform tasks should preserve parent task id"
Task ids are a way to express a relationship between related internal requests.

Transform is not making use of it at the moment.

Related: #54943

[2020-04-08 14:15] elasticmachine commented on #54957
Pinging @elastic/ml-core (:ml/Transform)

[2020-04-08 14:27] chrisronline commented on #53761
To add to this issue, I get two different errors on master (1eb0047f4f191b516fa9e4a0845aa8606f2bfffb) from the endpoint based on security configs.

With:
[code]
Hitting `http://localhost:9200/_security/user/_has_privileges` yields:
[code]

With all settings commented out in `elasticsearch.yml`, hitting `http://localhost:9200/_security/user/_has_privileges` yields:
[code]

Is there a timeframe for

[2020-04-08 14:47] cbuescher opened #54958 "Dissallow some search body parameters to be negative"
This follows up to #54953. Currently we check several following search parameters for illegal values in their SearchSourceBuilder setters, e.g. negative values throw IAE for:
* size
* terminateAfter
* trackTotalHits

We use those validations when parsing the above as request parameters, but we don't check values when parsing the search request body, e.g.

[code]
Throws an "illegal_argument_excepti

[2020-04-08 14:47] elasticmachine commented on #54958
Pinging @elastic/es-search (:Search/Search)

[2020-04-08 15:22] #54822 closed

[2020-04-08 15:26] droberts195 commented on #54957
The most important sub-tasks to parent correctly are those that run with the credentials of the user who configured the transform.  #52314 is trying to stop these confusing the audit log.  The ones that run as an internal user are not so important.  So if we want to change the parenting cautiously over a number of PRs then the tasks that run with real user credentials should be done first.

/cc @a

[2020-04-08 15:31] cbuescher commented on #54958
@elasticmachine update branch

[2020-04-08 15:32] bkis commented on #48105
I have the same problem using Elasticsearch 7.6.2 - is there anything I can do?

[2020-04-08 15:42] DaveCTurner commented on #54151
No, it's kind of the opposite of that. The filter allocation decider overrules auto-expand replicas, whereas I'm proposing having auto-expand replicas overrule allocation awareness/same host.

[2020-04-08 15:50] lrynek commented on #42811
@mayya-sharipova Thanks for your answer! 👍 ... and sorry for the delayed response on my side 😏

In the meanwhile we had decided to use `sum` value of `score_mode` configuration in our `function_score` queries, so I would like to assure that future changes in ElasticSearch API won't affect this usage we have now 👉 see the example query we do // and its explanation from ES:

## Example
### Request
<

[2020-04-08 16:10] rjernst commented on #53761
There isn't any timeframe for when this will become consistent. Doing so will require a thorough analysis of all security rest handlers. In the mean time, having Kibana be aware of the possible outcomes sounds like a good idea.

[2020-04-08 16:15] matriv opened #54962 "SQL: Implement DATE_PARSE"
Implement DATE_PARSE(<date_str>, <pattern_str>) function
which allows to parse a date string according to the specified
pattern into a date object. The patterns allowed are those of
`java.time.format.DateTimeFormatter`.

Follows: #54960

[2020-04-08 16:15] elasticmachine commented on #54962
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-04-08 16:16] matriv opened #54963 "SQL: Implement TIME_PARSE"
Implement TIME_PARSE(<time_str>, <pattern_str>) function
which allows to parse a time string according to the specified
pattern into a time object. The patterns allowed are those of
java.time.format.DateTimeFormatter.

Follows: #54960

[2020-04-08 16:16] elasticmachine commented on #54963
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-04-08 16:21] matriv opened #54964 "SQL: Implement to_char(date/time/datetime, pattern)"
Implement `to_char` according to the PostgreSQL spec: https://www.postgresql.org/docs/9.1/functions-formatting.html by translating to the java.time patterns used in `DATETIME_FORMAT`.
Follows: #54832

[2020-04-08 16:21] elasticmachine commented on #54964
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-04-08 16:22] matriv opened #54965 "SQL: Implement FORMAT function"
Implement `FORMAT` according to the SQL Server spec: https://docs.microsoft.com/en-us/sql/t-sql/functions/format-transact-sql?view=sql-server-ver15#ExampleD by translating to the java.time patterns used in `DATETIME_FORMAT`.

Follows: #54832

[2020-04-08 16:22] elasticmachine commented on #54965
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-04-08 17:19] OrangeDog commented on #53124
No activity on the APM ticket for a month. Still an issue in 7.6.2.

[2020-04-08 17:28] DaveCTurner commented on #52871
For example, the following commands ...

[code]

... yield the following logs ...

[code]

[2020-04-08 17:29] jrodewig opened #54970 "EQL: Support for multi-value fields"
Our support for [array values][4] (AKA multi-value fields) in EQL functions is not consistent:

- The [`startsWith`][0] and [`endsWith`][1] functions uses only the first array item.
- The [`wildcard`][2] function uses only the last array item.

### Proposal
We should consider not supporting array values in EQL at all, similar to [SQL][3]. At the least, this could be documented.

[0]: https://www.e

[2020-04-08 17:29] elasticmachine commented on #54970
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-04-08 17:33] wnojopra commented on #2661
I came across this thread while looking for a way to reduce the response from Bulk API. A few days later, I discovered the [filter_path](https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.html#common-options-response-filtering) parameter that drastically reduced the response size for my large bulk requests. This seems to have existed since [2015](https://github.com/elas

[2020-04-08 17:48] jimczi commented on #49091
All the blockers have been merge in 7.7, hence closing. We'll create new issues for improvements related to async search in the future.

[2020-04-08 17:48] #49091 closed

[2020-04-08 18:44] williamrandolph commented on #54745
I should note that removing the ability to disable `slm` may cause bring back some issues we have seen in testing: https://github.com/elastic/elasticsearch/issues/50302

[2020-04-08 18:47] Jaraxal opened #54975 "Elasticsearch unable to use P-384 Elliptic Curve certificates"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 7.6.1, Build: default/tar/aa751e09be0a5072e8570670309b1f12348f023b/2020-02-29T00:15:25.529771Z, JVM: 13.0.2

**Plugins installed**: N/A

**JVM version** (`java -version`):
openjdk 13.0.2 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 13.0.2+8)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 13.0.2+8, mixed mode, sharing)

[2020-04-08 18:47] elasticmachine commented on #54975
Pinging @elastic/es-security (:Security/Network)

[2020-04-08 19:49] mark-vieira commented on #54513
@danhermann It looks like we are now running into a similar error due to the merge of #54728. Should we do something similar to #54517 and be more lenient when cleaning up data streams in the rest tests as well?

https://gradle-enterprise.elastic.co/s/shkpegiom4rw2/tests/gkkty2gnquabk-4juckqsqlr3fc?open-stacktraces=WzBd

[2020-04-08 19:53] danhermann commented on #54513
@mark-vieira, that PR was temporarily commented out in master, so I think the same should happen in `7.x`. I'll put a PR up shortly.

[2020-04-08 19:56] danhermann commented on #54513
Actually, I think https://github.com/elastic/elasticsearch/pull/54959 is what you need here?

[2020-04-08 19:59] mark-vieira commented on #54733
It seems `testStreamRoundTripWithAllFields` is failing for the same reason. I've muted it as well in `master` (3b84f8ad68975c7caa15adf81b2ee4c6f0b768ff) and `7.x` (0fa8a14bcb7261987c8ac9fc80b3db834c9274b2).

[2020-04-08 20:02] mark-vieira opened #54981 "[CI] S3BlobContainerRetriesTests.testReadBlobWithPrematureConnectionClose failing"
This test has been failing regularly:

[code]

https://gradle-enterprise.elastic.co/s/t6wgno34wbqao/tests/gharp3fr6cqlc-fpge25xilemlw

As [mentioned in Slack](https://elastic.slack.com/archives/C0D8ST60Y/p1586371835370500?thread_ts=1586371746.370400&cid=C0D8ST60Y), @original-brownbear is looking into this, just though it was worth having a documented issue for posterity and so test triage isn't in

[2020-04-08 20:02] elasticmachine commented on #54981
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-04-08 20:07] mark-vieira commented on #54981
This has been causing some noise so I went ahead and muted in `master` (df395cad51a62610ebd852211ea3abaf8fda140f) and `7.x` (264bfaca567573a8163ef0579bd63af4c499a785).

[2020-04-08 20:16] jrodewig opened #54982 "[DOCS] Split off developer guide for ES plugins"
The [Elasticsearch Plugins and Integrations guide](https://www.elastic.co/guide/en/elasticsearch/plugins/master/index.html) targets two audiences:

- End users selecting and installing a plugin
- Developers interesting in creating their own plugin

To provide better information to both these audience, it may be helpful to split the Plugins and Integrations guide into two separate guides for end us

[2020-04-08 20:16] elasticmachine commented on #54982
Pinging @elastic/es-core-infra (:Core/Infra/Plugins)

[2020-04-08 20:16] elasticmachine commented on #54982
Pinging @elastic/es-docs (>docs)

[2020-04-08 20:16] EmersonDing commented on #24547
@nik9000 Hi. Any progress made on auto slicing with `reindex-from-remote`?

[2020-04-08 20:30] mark-vieira commented on #54513
Yep, thanks @danhermann. Looks like that should clear things up as well.

[2020-04-08 20:34] mark-vieira opened #54986 "[CI] ModelLoadingServiceTests.testMaxCachedLimitReached failing"
This test started failing occasionally a couple of days ago starting around April 6th on `master`. Didn't reproduce for me locally though.

[code]

https://gradle-enterprise.elastic.co/s/jgxusxpctpphs/tests/7bifs6bt3pimq-zvg6hwacrq4zu

[2020-04-08 20:34] elasticmachine commented on #54986
Pinging @elastic/ml-core (:ml)

[2020-04-08 20:34] mark-vieira commented on #54986
I've muted this in `master` with d7956eedf0a988049f18a80ae103deaa3f7a598a.

[2020-04-08 20:37] Jaraxal commented on #54975
Here are the steps for creating the certificates.
[openssh_ecc.zip](https://github.com/elastic/elasticsearch/files/4452675/openssh_ecc.zip)

[2020-04-08 21:14] costin opened #54988 "Add Join section to EQL responses"
The EQL REST response currently has no section for `join`s, only `sequence`s. Since the two are quite similar (in fact identical in content and differ only in names), it's just a matter of flagging the type of join (`join` or `sequence`) in the response:
[code]

Relates #49634

[2020-04-08 21:14] elasticmachine commented on #54988
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-04-08 21:23] nik9000 commented on #24547
@EmersonDing I never implemented slicing reindex-from-remote. In the years since I last touched this issue I took a year long hiatus from contributing to Elasticsearch full time to work on our docs infrastructure. And now that I'm back to contributing to Elasticsearch consistently I'm spending most of my time on aggs and reindex is owned by other folks who are looking at more sweeping improvements

[2020-04-08 21:29] vlastv commented on #53570
Similar problem #53534

[2020-04-08 21:43] jdconrad opened #54991 "Add Painless null type"
Currently, Painless uses instanceof checks on the user tree ENull node to determine in a parent if a child is a null value. We need to add a null type marker in the same way we have a def type marker so we can handle the null type appropriately.

[2020-04-08 21:43] elasticmachine commented on #54991
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-04-08 21:50] EmersonDing commented on #24547
@nik9000 I see. Can you refer me to anyone who's working on reindex atm, or any ticket more related to reindex with remove or slice? I'm interested in the progress about this feature.

[2020-04-08 23:41] #53856 closed

[2020-04-08 23:44] mark-vieira opened #54995 "[CI] S3BlobContainerRetriesTests.testReadRangeBlobWithRetries reproducibly fails"
This looks like a newly added test and it has failed twice today. I was able to reproduce this failure locally in both `master` and `7.x`.

[code]

https://gradle-enterprise.elastic.co/s/zrusrq7cnhdve/tests/gharp3fr6cqlc-bfqjgyjdiiyka

[2020-04-08 23:44] elasticmachine commented on #54995
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-04-08 23:46] mark-vieira commented on #54995
Since this reproduces I've muted this test in `master` and `7.x`.

[2020-04-09 00:58] cjcenizal opened #54996 "_ccr/info should return parameters for paused follower indices"
Kibana allows users to edit paused follower indices, which is problematic because the API doesn't return the `parameters` information which we surface to the user as "Advanced settings". This creates a buggy UX because it appears to the user as if any changes they've made to the parameters have disappeared.

A solution would be to change the `_ccr/info` API to provide the same response regardless

[2020-04-09 00:58] elasticmachine commented on #54996
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-04-09 00:58] elasticmachine commented on #54996
Pinging @elastic/es-ui (:ES-UI)

[2020-04-09 01:40] miskeenhijas commented on #43911
Add those lines in the ES service file.

[2020-04-09 06:30] Hailei commented on #54699
Thanks,I will close this issue

[2020-04-09 07:37] tvernum commented on #53607
My concern is that the seems like a potential mismatch between the proposed solution (per role) and the purposes for needing this (supporting security & observability).

Most security & observability searches happen in real time inside Kibana. I am working on the assumption that the needed "expensive queries" fall into that category.
If that's the case, then the queries run in the context of the u

[2020-04-09 08:08] #54981 closed

[2020-04-09 08:08] #54995 closed

[2020-04-09 08:19] joshdevins commented on #54335
@jtibshirani or @msufa I'm wondering if you could add an example or two to help illustrate what the response might look like for a complex query DSL. I think this was one of the concerns we had about the feature — how best to organize the response given a complex query DSL.

[2020-04-09 08:20] Bernhard-Fluehmann opened #55003 "Elastic MSI GA"
**Describe the feature**:
MSI Installer packages exist since v6.8 but are still labeled as beta which leads to some confusion.
Since it is the standard way to install software on windows, please make it GA and officially support it.
Thank you very much.

**Elasticsearch version** (`bin/elasticsearch --version`):
6.8 to 7.6

[2020-04-09 09:47] bilbof commented on #54335
This would be very useful. One can try to parse the explain score for a given query:document pair to obtain this information, but it would be more accurate and efficient for these scores to be provided in the way @msufa describes.

[2020-04-09 12:04] somdevmehta commented on #23796
Do we have any update on this issue ?
I can see that the changed source filtering behavior still exists in the latest version 7.3.6.

Can we not implement flag based configuration where the user can choose between new and old behavior ?

[2020-04-09 12:53] #54699 closed

[2020-04-09 13:32] fhalde opened #55013 "Restore on backup cluster is taking a lot of time"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.2.0

**Plugins installed**: []

**JVM version** (`java -version`): JDK 12 (bundled)

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 14.04.5 LTS

**Description of the problem including expected versus actual behaviour**:

We recently migrated to 7.2.0 ES and setup a backup cron that takes snapshot of production every 2hr and

[2020-04-09 13:48] DaveCTurner commented on #55013
I think it's likely that this is a user question rather than a bug report; we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://discuss.elastic.co/