[2018-08-17 16:35] danielkasen commented on #32924
This also doesn't explain why the translog copy process is so slow. Feels like the transport layer could be copying them in parallel.

[2018-08-17 16:54] #32834 closed

[2018-08-17 17:06] jkakavas opened #32959 "[CI] ScriptedMetricIT testInitMapWithParams fails"
Failed in master twice : https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2549/console

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2548/console

[code]

Reproduces locally also.

It looks like it fails because of the changes merged today in https://github.com/elastic/elasticsearch/pull/31597

[2018-08-17 17:06] elasticmachine commented on #32959
Pinging @elastic/es-search-aggs

[2018-08-17 17:06] danielkasen commented on #32917
Wonder if this is caused by restarting a master node at the same time. Not sure why the TRACE outputs aren't showing up, but I had it happen again and can even see the nodes rejoining with the same ID:

[code]

[2018-08-17 17:36] bpri opened #32961 "Elasticsearch installed with RPM fails to restart after yum update"
Bug report

**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.3.2, Build: default/rpm/053779d/2018-07-20T05:20:23.451332Z, JVM: 1.8.0_181

**Plugins installed**: [ingest-user-agent, ingest-geoip]

**JVM version** (`java -version`):
1.8.0_181

**OS version** (`uname -a` if on a Unix-like system):
RHEL 7.5

**Description of the problem including expected versus actual behavior**:

[2018-08-17 17:57] ikonst commented on #32932
@javanna the cluster is otherwise healthy - it's used extensively for ELK in my organization (in a federated fashion).

When I reproduce this issue, the pattern is always:
1. First search request succeeds, returning N results and `scroll_id`.
2. Second attempt (using `scroll_id`) fails entirely, with a long array of "missing" nodes. Those nodes' IDs always belong to the clusters I federate to, and

[2018-08-17 18:00] danielkasen commented on #32917
Here are my current settings btw:
[code]

[2018-08-17 18:13] rjernst commented on #32961
Plugins can come from anywhere, including the local filesystem, and their source is not tracked by Elasticsearch. So we do not have the information necessary to upgrade them (nor would this work in the non-packaged case of zip/tar). The need to manually upgrade plugins is mentioned in [upgrade documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/rolling-upgrades.html) (se

[2018-08-17 18:13] #32961 closed

[2018-08-17 18:15] dnhatn commented on #32089
I've muted this test as we should have enough information with the latest failure.

[2018-08-17 20:21] benwtrent opened #32966 "[CI] PainlessDomainSplitIT fails after multibucket"
To recreate

[code]

**Update** On master after the restructure the reproduce command is now
[code]

See failing build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request/15432/consoleFull

[2018-08-17 20:34] benwtrent commented on #32966
In my investigation some strangeness arises when gathering records.

The test assumes that non-anomalous data is returned when gathering the record information. However, only the anomalous `bar.com` entries are ever returned.

See https://github.com/elastic/elasticsearch/blob/647705e00a118bbafb3258d451beeee9a26c90bc/x-pack/qa/ml-single-node-tests/src/test/java/org/elasticsearch/xpack/ml/transforms

[2018-08-17 22:18] rationull commented on #32959
This is my mistake -- an oversight in my changes to ScriptedMetricIT. There's a hole where a shard with 0 documents in it will cause a failure because the assertions rely on a side effect from the map script. I will submit a PR with a fix.

[2018-08-17 23:04] vivdesh commented on #31425
@jasontedor Yes. this is fixed in the jdk11. http://hg.openjdk.java.net/jdk/jdk11/rev/7339b9e38182
Could be backported to jdk10u, but not sure about it.

[2018-08-17 23:45] rationull commented on #29328
Sanity check @rjernst @nik9000 there are some leftover script files in `docs/src/test/cluster/config/scripts/` my_[init,map,combine,reduce]_script.painless that look like they're defunct (replaced by yaml in build.gradle). They still have references to the old _agg params. Looks like they can be removed instead of modified. Agree?

[2018-08-17 23:48] jasontedor commented on #31425
Thanks for your support @vivdesh. It’s no problem for us if this problem remains in JDK 10, we have disabled by default the use of AVX-512 there, and will re-enable it for JDK 11.

[2018-08-17 23:48] #31425 closed

[2018-08-17 23:50] rjernst commented on #29328
Yes those can be removed. They are from when we had file scripts.

[2018-08-18 06:46] #28858 closed

[2018-08-18 19:38] kevinaud commented on #32949
I'm interested in working on this

[2018-08-19 00:13] nikoncode commented on #31863
My idea - skip optimization, doesn't work after e5d18ad45cc9530ec4a7f8b0328e8bc65dafc344 commit.

[2018-08-19 11:18] mhmen opened #32977 "Persian characters sort problem"
Hi
Elasticsearch sort doesn't provide correct order for some Persian characters like گ چ پ ژ.

[2018-08-20 03:53] martijnvg commented on #32453
@dnhatn Great catch! 🎉

[2018-08-20 05:26] atorok commented on #32977
@mhmen it would be helpful if you could provide a short, complete reproduction that indexes documents then highlights the incorrect behavior.

I had to install fonts to see the characters from the example, in case anyone else doesn't have the fonts, these are:

  | Unicode character | Oct | Dec | Hex | HTML |
  |----------------------|---------|-------|-------|-------|
  | arabic letter gaf | 0325

[2018-08-20 05:32] martijnvg commented on #31318
Implemented via #31751

[2018-08-20 05:32] #31318 closed

[2018-08-20 05:43] atorok commented on #31911
No further feedback received. @konkol  if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2018-08-20 05:43] #31911 closed

[2018-08-20 05:46] atorok commented on #23329
No further feedback received. @volodymyrpavlenko let us know if you get to check this out and we can look at re-opening this issue.

[2018-08-20 05:46] #23329 closed

[2018-08-20 07:07] DaveCTurner commented on #32977
If it helps, a small reproduction looks like the following, in an empty cluster with the `analysis-icu` plugin:

[code]

The resulting order is the same as the order of the unicode code points, which is presumably incorrect, but it'd be awfully helpful to know what the expected order of these documents is.

[2018-08-20 07:46] elasticmachine commented on #32934
Pinging @elastic/es-core-infra

[2018-08-20 07:55] #32959 closed

[2018-08-20 09:30] renicon commented on #25152
would it be possible provide a plugin like this one or to pick this one up and update it for current version? https://github.com/timschlechter/swagger-for-elasticsearch

@timschlechter stopped updating it due to too many changes so not sure if there is enough value vs. the effort of updating it. Maybe someone who has used this in the previous versions and found it useful can comment more.

[2018-08-20 10:59] dimitris-athanasiou commented on #32966
This test is doing count by `domain_split` with a bucket_span of 1h. The data spans 100 buckets. It indexes 1 doc per bucket with a certain domain. Then on the 65th bucket, that domain is not in. Instead, there are 100 docs of a different domain. The test expects 2 anomalies: one for the new domain that has a count of 100, and one for the other domain which has a count of zero when a count of one

[2018-08-20 11:41] jpountz opened #32981 "Remove `max_score` from search responses"
Either you are sorting by score and then the maximum score is the score of the first result, or you are sorting by a field and then the maximum score doesn't give any useful information.

[2018-08-20 11:41] elasticmachine commented on #32981
Pinging @elastic/es-search-aggs

[2018-08-20 11:41] jpountz opened #32982 "Remove support for `track_scores`"
The `track_scores` allow users to tell Elasticsearch to compute scores of top hits and the maximum score when sorting by a field. This has a significant performance overhead and maintenance cost, yet I doubt that this is very useful: the score is only useful for ranking, so if you don't use it for ranking then it isn't useful?

[2018-08-20 11:41] elasticmachine commented on #32982
Pinging @elastic/es-search-aggs

[2018-08-20 12:06] benwtrent commented on #32966
Doing some experiments, if the number of documents is 2 per bucket, then we do get both anomalies. Though the missing domain probability is extremely small.

[code]

[2018-08-20 12:44] u238 commented on #28619
Hi, any news about this?

[2018-08-20 12:59] AdiJurca opened #32984 "SQL: consider adding conditional expression support"
At the moment there is no way of doing conditional expressions in SQL.

Having at least the CASE statement and COALESCE as described here

https://www.postgresql.org/docs/9.4/static/functions-conditional.html

would be of great help.

[2018-08-20 13:01] jamesdbaker opened #32985 "JarHell check fails for Java 9 libraries (module-info.class)"
**Elasticsearch version**:

6.3.2, Build: default/zip/053779d/2018-07-20T05:20:23.451332Z, JVM: 9.0.4

**JVM version**:

java version "9.0.4"
Java(TM) SE Runtime Environment (build 9.0.4+11)
Java HotSpot(TM) 64-Bit Server VM (build 9.0.4+11, mixed mode)

**OS version**:

Linux dendesk-0260147 4.15.0-32-generic # 35~16.04.1-Ubuntu SMP Fri Aug 10 21:54:34 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**D

[2018-08-20 13:52] elasticmachine commented on #32984
Pinging @elastic/es-search-aggs

[2018-08-20 13:53] elasticmachine commented on #32985
Pinging @elastic/es-core-infra

[2018-08-20 14:28] nik9000 commented on #32289
@original-brownbear this failed again for me:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu&&virtual/2623/console

I can get it to fail in a loop:
[code]

[2018-08-20 14:40] nik9000 opened #32986 "[CI] TranslogWriter.assertNoSeqNumberConflict failure"
[This](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2559/console) build failed with a translog sequence number conflict assertion. The changes in the build don't *look* to be associated. Unsurprisingly, this doesn't reproduce for me locally.

[code]

[2018-08-20 14:40] elasticmachine commented on #32986
Pinging @elastic/es-distributed

[2018-08-20 14:53] original-brownbear commented on #32289
@nik9000 right, seems this is a different failure though, not a buffer leak. I'll take a look at it regardless in a bit though :)

[2018-08-20 14:58] dnhatn commented on #32986
Thanks @nik9000. I will look into this.

CI Log: [duplicate_seqno.txt](https://github.com/elastic/elasticsearch/files/2302838/duplicate_seqno.txt)

[2018-08-20 15:28] atorok commented on #32985
@jamesdbaker  I was able to reproduce this with log4j 2.10 but not  2.11 which elasticsearch uses since   0a67cb413333b2fa3f53ee2fc54408767e3b66c6 . Since this is just for testing you could probably configure your pom to use it as a workaround. I will open a PR to fix jar hell soon.

[2018-08-20 15:34] benwtrent opened #32989 "[ML] Change close job API to accept payload body vs just query params"
As it stands right now, calls against `_xpack/ml/anomaly_detectors/<job_id>/_close` accept only query parameters for `force`, `timeout`, and `allow_no_jobs`.

This endpoint is the odd one out as the rest of the `POST` endpoints expect those options inside the request payload.

We should add the support for a payload body with those options and deprecate the query param utilization.

This does chan

[2018-08-20 15:34] elasticmachine commented on #32989
Pinging @elastic/ml-core

[2018-08-20 15:50] jaymode commented on #31046
I suggest we ship with both outputs enabled for 6.x and remove the old output for 7. I think there is even a possibility that we can programmatically get the appenders for that logger, see if the old format is enabled, and log the deprecation message in 6.x. Existing consumers will work and the beats consumer will work as well with the downside of more disk usage and i/o.

[2018-08-20 15:54] jamesdbaker commented on #32985
@atorok - Thanks, I will check when I'm back in the office tomorrow. In my case though, I'm not sure log4j was the problem as the two JARs it's referencing don't include log4j. I think it's a more generic Java 9 problem. That said, hopefully whatever fix you put in place will solve both.

I'll let you know the outcome of the workaround tomorrow.

[2018-08-20 16:05] tbrooks8 commented on #32289
The reopening of this issue should be fixed by #32991

[2018-08-20 16:58] nik9000 opened #32993 "HLREST: Machine learning tests leave ML state after they've finished"
[This](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2561/console) build failed because the ML tests leave the cluster in a state where it recreates the `.ml-notifcations`. This interferes with other tests that expect an empty cluster. I *think* the right thing to do to fix this is to open source the ml state cleaner and move it into the test framework and use it in t

[2018-08-20 16:58] elasticmachine commented on #32993
Pinging @elastic/es-core-infra

[2018-08-20 17:17] dimitris-athanasiou commented on #32993
We've been aware we'd have to clean up. We were waiting to have the basic APIs to do so using the HLRC itself. We're set to do it now. I'll raise a PR tomorrow.

[2018-08-20 17:38] jgr opened #32995 "Overeager highlighting behavior when shingling"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.4

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_172

**OS version** (`uname -a` if on a Unix-like system): Darwin Kernel Version 17.7.0

**Description of the problem including expected versus actual behavior**:

When highlighting a query that uses shingling, we expect only words from the query to be highlighted.

[2018-08-20 17:39] nik9000 commented on #32993
Awesome!

[2018-08-20 17:53] #32574 closed

[2018-08-20 18:01] elasticmachine commented on #32995
Pinging @elastic/es-search-aggs

[2018-08-20 19:13] #32089 closed

[2018-08-20 20:21] szkumorowski opened #32999 "Geohash_grid aggregation with unique and max field doesn’t respect unique results"
ES version 6.4.2

Aggregation geohash_grid  should take into account results from sub-aggregations, instead of it it uses the whole dataset from index

Example:
geohash_grid should return geohashes for last positions for distinct devices:

Mapping:

     deviceId: {type: 'keyword'},
     geoPoint: {
        type: 'geo_point'
     },
     timestamp: {type: 'date', format: DateUtil.ES_FORMAT},

Data

[2018-08-20 21:04] cbryanvest commented on #32444
I have a request asking for something similar. [https://elastic.my.salesforce.com/5006100000PCtPG](https://elastic.my.salesforce.com/5006100000PCtPG)

[2018-08-20 21:37] cdenneen opened #33001 "Plugin install with redirect 301 URL HTTP->HTTPS"
Tested this with 5.6.9 and 6.3.2 and if you run a `elasticsearch-plugin` with --batch http://url and that url redirects to https it will fail to install the plugin.
If you switch the URL to https it works as it avoids the 301 redirection.

Not sure if it's java or what part is not handling the 301 redirection but it seems like basic functionality it should support.

[2018-08-20 21:57] adeshp commented on #32883
After debugging our indexing processing, below observations:
We index using bulk api, there is a good amount traffic coming into elastic search for indexing at any second in a day. I run the rollover job at 12 am UTC everyday,  and if traffic is coming to elastic search (content to be indexed) and rollover is in progress, then the bulk API is creating the index from the Alias sent as its parameter

[2018-08-20 22:15] jtibshirani opened #33003 "Flattened object fields design + implementation"
Main issue: #25312
Feature branch: https://github.com/elastic/elasticsearch/tree/object-fields

**Note:** this field type was previously called `embedded_json`, so many PRs + comments will refer to that name.

**Motivation**

Documents sometimes contain large objects, where only a small number of the fields are frequently used in searches. By default, we create dynamic mappings for all key-value p

[2018-08-20 22:30] tbrooks8 commented on #32289
#32991 has been merged. Closing.

[2018-08-20 22:30] #32289 closed

[2018-08-21 01:33] spinwang commented on #32930
thanks @astefan!

Just curious if there plan to identify a solution in the near future?

[2018-08-21 02:57] elasticmachine commented on #33001
Pinging @elastic/es-core-infra

[2018-08-21 03:07] martijnvg opened #33007 "[CCR] Auto follow patterns"
## Tasks

- [x] Implement auto follow patterns feature as described (minus tasks below). #33118
- [x] Add license checks to to put and delete apis. Also add a license check to `AutoFollowCoordinator` to not try to auto follow if license is expired. Otherwise we fail when follow api gets invoked and then errors get messy, while it does not have to be that way. (@jasontedor) (yes) #33496
- [x] Ensur

[2018-08-21 03:07] elasticmachine commented on #33007
Pinging @elastic/es-distributed

[2018-08-21 05:19] pluk opened #33009 "Stop-words not removed in simple_query_string when more then one field"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.3.1

**Plugins installed**: []

**JVM version** (`java -version`): java version "1.8.0_102"

**OS version** : ArchLinux

**Description of the problem including expected versus actual behavior**:
Like in #28855 stop-words not removed in simple_query_string but when we use more than one field

**Steps to reproduce**:
1.
PUT /simp_idx
[code

[2018-08-21 06:06] wuyunfeng opened #33010 "UpdateRequest.fromXContent or JsonXContentParser.nextToken loop forever resulting http_server_worker thread too busy to accept any connections."
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):5.5.0

**Plugins installed**: []

**JVM version** (`java -version`):1.8

**OS version** (`uname -a` if on a Unix-like system):Linux es-node-1 3.10.0-693.21.1.el7.x86_64, 6core, 30G memory

**Description of the problem including expected versus actual behavior**:  curl -XGET http://localhost:8200 stuck until reset

[2018-08-21 07:27] csandanov opened #33014 "Disabling xpack in version 6.3"
**Elasticsearch version** (`bin/elasticsearch --version`):
[code]

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system): Alpine Linux 3.8

**Description of the problem including expected versus actual behavior**:

I maintain [alpine-based elasticseach image](https://github.com/wodby/elasticsearch) and since the version 6.3 I got the following error during

[2018-08-21 07:28] mtbikerjc commented on #12309
I could use this feature too.  Is there a way to implement something like this using another bucket aggregation? (E.g., scripted metric aggregations?)

[2018-08-21 07:45] elasticmachine commented on #33009
Pinging @elastic/es-search-aggs

[2018-08-21 07:50] elasticmachine commented on #33003
Pinging @elastic/es-search-aggs

[2018-08-21 07:51] s1monw commented on #31877
I created a PR to expose this setting on `_msearch` and opened a kibana issue to expose it. I will keep this issue open until we have code committed in both elasticsearch and kibana.

[2018-08-21 07:53] elasticmachine commented on #33010
Pinging @elastic/es-core-infra

[2018-08-21 07:54] elasticmachine commented on #33014
Pinging @elastic/ml-core

[2018-08-21 08:03] atorok commented on #32985
@jamesdbaker that's right, I was referring to the example from stack overflow. You could put the meta-info class in different packages to avoid the jar hell. The fix I did will fix you're project as well.

[2018-08-21 08:06] tvernum commented on #33014
As of 6.3, the default distribution of Elasticsearch automatically includes X-Pack.
You can also install a "OSS" version of Elasticsearch that does not include X-Pack - see https://www.elastic.co/downloads/elasticsearch-oss

Note though, that we explicitly don't support Alpine Linux (due to issues with musl libc), so it's possible that a future release of Elasticseach-OSS might also break on Alpin

[2018-08-21 08:06] elasticmachine commented on #33014
Pinging @elastic/es-core-infra

[2018-08-21 08:09] davidkyle commented on #33014
Hi @csandanov,

Github is used for feature requests, bug reports and submitting PRs. The discuss forum you linked to is the best place to ask these kind of questions.

I'm closing issue, as @tvernum said you can use OSS elasticsearch if you don't wish to use x-pack otherwise please ask the question in the [x-pack forum](https://discuss.elastic.co/c/x-pack)

[2018-08-21 08:09] #33014 closed

[2018-08-21 08:28] ctrlaltdel commented on #31877
@s1monw looks good, thanks a lot for taking care of this issue :)

[2018-08-21 08:39] csandanov commented on #33014
@tvernum thanks

btw, the musl issue that was originally reported has been fixed a while ago https://github.com/elastic/elasticsearch-docker/issues/76#issuecomment-410942407

[2018-08-21 08:55] markharwood commented on #12309
Kind of. It would rely on the client app doing all the foreground vs background comparisons to find the interesting "movers".
In psuedo-code the agg would look like this:

    query: foreground_query
    aggs:
        term grouping agg
                metric eg sum
        global agg
            term grouping agg
                metric eg sum

Note the term grouping agg is repeated - it appears in

[2018-08-21 09:03] jimczi commented on #32848
@jinhucheung I am not able to reproduce with the example document. Could you please provide the document that is causing the exception ?

[2018-08-21 09:32] jpountz commented on #25312
These are compelling arguments towards a dedicated indexed object field indeed. I guess we could still make it work on `object` fields by adding the list of fields that are indexed as kv-pairs to the mapping, but that would also defeat the purpose of this feature?

[2018-08-21 09:34] mtbikerjc commented on #12309
Thanks for the quick reply!  I’ll look into using a grouping agg and global agg.  I was thinking about using the map-reduce features of scripted metric aggregations, but your suggestion sounds easier.

Essentially I want to evaluate the term frequency values so they’re weighted by each doc’s confidence score (instead of just counting the docs they exist in); a term grouping agg should be able do i

[2018-08-21 09:43] jpountz commented on #25312
Or alternatively, we could prevent (both dynamic and explicit) mapping updates to `object` fields that are indexed so that we could ensure that data is never split across two fields? To be clear, I'm not actually recommending it and still need to weigh pros and cons, I'm mostly adding it to make sure that we explore all options.

[2018-08-21 09:58] lemonostif commented on #32951
To add some details to this, with a little search I found [this](https://www.elastic.co/blog/an-introduction-to-elasticsearch-sql-with-practical-examples-part-2) blog post that proves that this is an acceptable use case. Looking at the org.elasticsearch.xpack.sql.execution.search.SearchHitRowSet class, I think that the way the constructor sets up the innerHint property needs a second thought, sinc

[2018-08-21 10:17] jpountz commented on #33003
The initial example on #25312 suggests that object fields would be indexed like text since it indexes `city: "New York"` as `[ "city:new", "city:york" ]` but your plan here doesn't mention analysis and gives examples with fields that are usually indexed as keywords like `referer` and `content-type`. Which route do we want to follow? Keyword-like indexing could be achieved with a `keyword` analyzer

[2018-08-21 10:43] #31835 closed

[2018-08-21 10:59] jimczi commented on #32452
I checked how we could implement `min_doc_count` for the `composite` aggregation and found out that this would require a big refactoring since we don't keep track of all buckets but only those that are in the top N. Adding this feature would defeat the purpose since we'd need to keep **all** buckets and make the selection (based on `min_doc_count`) at the end. Since this would use a lot of memory

[2018-08-21 10:59] #32452 closed

[2018-08-21 11:07] jimczi commented on #28922
Sorry for the delay @nikoncode , this issue slipped through the cracks. I opened https://github.com/elastic/elasticsearch/pull/33019 to fix it.

[2018-08-21 11:10] chester89 commented on #32452
@jimczi I see. can you tell me if there's any query in ES that would allow me to count unique field values with count condition on them (e.g. count unique users that visited site more than X times in particular period)? [here's my SO question](http://bit.ly/2wjbx3s)

[2018-08-21 11:16] ywelsch commented on #32192
Fixed by #32315

[2018-08-21 11:16] #32192 closed

[2018-08-21 11:17] ywelsch commented on #32468
@bizybot any news on this?

[2018-08-21 11:41] jimczi commented on #32452
Nope I don't see a scalable way to do that in a single aggregation. One solution is to count unique users on client side using the `composite` aggregation. You can retrieve the buckets page by page and do the counting based on the doc count. You'll need multiple requests to paginate over the `composite` aggregation but the retrieval of each page is optimized (the `composite` aggregation doesn't ne

[2018-08-21 12:03] elasticmachine commented on #32993
Pinging @elastic/ml-core

[2018-08-21 12:11] dimitris-athanasiou commented on #32993
I've been thinking about which is a better option: reuse `MlRestTestStateCleaner.java` from server or write a new cleaner in the client library. While it is nice to reuse the server cleaner, it will only be a temporary solution. We are heading towards a hard split between the client and the server side, so we will not be able to keep reusing it. However, it might be a good idea to do that at first

[2018-08-21 12:37] jasontedor commented on #32986
This stack trace is deeply confusing and I would go so far as to say impossible:

[code]

Is the output jumbled together?

[2018-08-21 13:08] jinhucheung commented on #32848
@jimczi I am sorry for the late response

The following is a document that is causing this exception

[code]

here is a [raw_code_pieces.zip](https://github.com/elastic/elasticsearch/files/2306293/raw_code_pieces.zip)

I highlight the code_pieces content cause the exception.

When I changed `jcseg` into another analyzer such as `standard`,  or changed `offsets-strategy` into  `plain-highlighter`,

[2018-08-21 13:42] romseygeek commented on #29631
Rather than implementing this as a REST API, we'll look into exposing it via highlighter plugins, so that encoding issues won't be a problem.

[2018-08-21 13:42] #29631 closed

[2018-08-21 14:14] tomcallahan commented on #30065
This may have been addressed in the watcher refactoring, closing until we see it again

[2018-08-21 14:14] #30065 closed

[2018-08-21 14:16] jasontedor commented on #29220
Duplicates #27306

[2018-08-21 14:16] #29220 closed

[2018-08-21 14:19] jasontedor commented on #29997
Closed by #30118

[2018-08-21 14:19] #29997 closed

[2018-08-21 14:41] jpountz opened #33028 "Do not compute hit counts by default"
**Context**
Lucene 8 introduces optimizations that allow to compute top hits more efficiently by skipping documents that do not produce competitive scores. We would like to enable this behavior by default so that users can opt in if they need accurate total hit counts, which are costly, rather than the other way around.

Not returning a hit count at all is problematic for traditional search UIs wi

[2018-08-21 14:41] martijnvg commented on #33007
I've updated the description of this issue to remove the fact that auto follow patterns are stored as dynamic cluster settings and use dedicated apis to manage auto follow patterns instead.

When auto follow patters are updated then existing leader indices matching with these patterns need to marked as followed (it is expected that only newly created indices should be followed automatically). In o

[2018-08-21 14:41] elasticmachine commented on #33028
Pinging @elastic/es-search-aggs

[2018-08-21 14:44] tomcallahan commented on #29953
@jaymode  In our test backlog meeting today we decided to just delete this test; can you do so or assign someone?

[2018-08-21 14:46] jasontedor commented on #29953
I pushed a commit to an internal repository to remove this test.

[2018-08-21 14:46] #29953 closed

[2018-08-21 14:59] jasontedor commented on #29879
I pushed a commit to an internal repository to address this.

[2018-08-21 14:59] #29879 closed

[2018-08-21 15:00] jpountz commented on #29880
We discussed this test and agreed to enable it again as it made little sense to use that this one would fail but not `testMonitoringBulk`.

[2018-08-21 15:02] #32267 closed

[2018-08-21 15:03] ywelsch opened #33030 "Move file-based discovery to core/server"
Some of our integration tests as well as the REST tests currently use the unicast hosts list setting for node discovery. This list is statically defined at node startup, which makes it very inflexible. For the `AbstractDisruptionTestCase`s, for example, we do port scanning to find free ports in order to fix the ports used by each node so that we can properly setup the unicast hosts list before sta

[2018-08-21 15:03] elasticmachine commented on #33030
Pinging @elastic/es-core-infra

[2018-08-21 15:03] elasticmachine commented on #33030
Pinging @elastic/es-distributed

[2018-08-21 15:35] jaymode commented on #29953
Thanks @jasontedor

[2018-08-21 15:49] benwtrent commented on #32989
This is fixed through https://github.com/elastic/elasticsearch/pull/33000

[2018-08-21 15:49] #32989 closed

[2018-08-21 17:12] #32993 closed

[2018-08-21 17:43] DaveCTurner commented on #33030
The issue here is that we should not simply drop the file-based discovery plugin, because this would be a breaking change to any scripts that provision ES plus this plugin. I propose:

- in 6.x, move the implementation of `FileBasedUnicastHostsProvider` into `server`, but leave the `discovery-file` plugin in existence as an empty plugin that logs a deprecation warning if used.

- in 7.0, remove th

[2018-08-21 18:53] byronvoorbach commented on #29426
@HonzaKral I think I choose a poor example, as my actual problem occurs with Dutch language.
@jimczi This is a way better explanation of the same issue as I've been having. This change in synonym  analysis is limiting the way synonyms can be used.

[2018-08-21 18:59] #32857 closed

[2018-08-21 19:27] nik9000 commented on #29880
This consistently fails for me in 6.x:
[code]

[2018-08-21 19:56] nik9000 commented on #29880
I'm fixing this test and will push an update.

[2018-08-21 20:05] tmortensen opened #33036 "index setting number_of_routing_shards does not show up in settings of newly created index. But you can split an index if you set this value."
**Elasticsearch version** (`bin/elasticsearch --version`):
"version" : {
    "number" : "6.2.3",
    "build_hash" : "c59ff00",
    "build_date" : "2018-03-13T10:06:29.741383Z",
    "build_snapshot" : false,
    "lucene_version" : "7.2.1",
    "minimum_wire_compatibility_version" : "5.6.0",
    "minimum_index_compatibility_version" : "5.0.0"
  }
**Plugins installed**: []
repository-s3 6.2.3
x-pack-

[2018-08-21 20:12] #33009 closed

[2018-08-21 20:15] #28922 closed

[2018-08-21 20:55] tmortensen commented on #33036
Will this always be this way ? It makes it challenging to confirm if our template has applied the correct setting if we can not query that setting via the API

[2018-08-21 21:37] polyfractal opened #33041 "[Rollup] Support range aggregations"
I think we can support _some_ range aggregations on the existing data that we collect.  E.g. if the ranges specify are compatible with the bucketing intervals collected by the `date_histogram`/`histogram`, ranges will work as expected.

We could also implement new groupings specifically for the range aggregation.  It's a little less convenient, less efficient, and still has issues with bucket comp

[2018-08-21 21:37] elasticmachine commented on #33041
Pinging @elastic/es-search-aggs

[2018-08-21 21:44] nik9000 commented on #29880
I pushed https://github.com/elastic/elasticsearch/commit/f311680176bd68d74308bd5173d9703a8c45f263 . That doesn't fix the failure for which this test was originally created but it does get it passing again. Now we can get back to hunting the rare failure.

[2018-08-21 21:57] jtibshirani commented on #33003
Thanks @jpountz for your thoughts.

I agree — in the potential use cases we’ve seen, the data is better modelled as keywords than text. The most critical feature is the ability to filter by an exact match on key-value pairs, and performing aggregations and sorting on the values would also be nice. A couple examples of these use cases:
-  a user can have a number of metricbeats, each of which conta

[2018-08-21 22:31] tbrooks8 commented on #32517
- [ ] DiscoveryNode as an argument instead of only the address
- [ ] SSL is configured to pass on SNI values we read them from DiscoveryNode and by default only use the hostname
- [ ] SNI names for a DiscoveryNode via node.attr.server_names or some other attr since these are available in the discovery node

[2018-08-21 22:34] tbrooks8 commented on #32517
Hi @s1monw next I am going to add a optional SNI server_name to the discovery node and if it is present add it to the `SSLEngine` in the security netty transport. Do we want a setting that must be enabled to use the server_name if it is present?

[2018-08-21 22:35] elasticmachine commented on #32517
Pinging @elastic/es-core-infra

[2018-08-21 22:39] tbrooks8 commented on #32517
Oh - I see that there is an attribute map already. So You want the SNI server name to go in the map with a key `sni_server_name`?

[2018-08-21 23:08] jtibshirani commented on #33003
I also wanted to clarify a point that was a bit fuzzy to me until I did an initial prototype. Under the proposed implementation, we are planning to index the entire JSON blob as a lucene field, and apply a special analyzer to create tokens that resemble keywords. This is in contrast to an approach where we create a new field mapping for each key in the object (which I think would be messy and nega

[2018-08-21 23:54] jibbe commented on #32267
you rock @jasontedor !! thankyou.

will build new images of master and test shortly.

[2018-08-22 00:44] aesgithub commented on #31479
Hi Adrian, do you see a path forward? Any PRs that are relevant to the patch?

[2018-08-22 02:13] jasontedor commented on #33036
@tmortensen Heya, I am so sorry for the lack of clarity. That I left the issue open means that I think we should do something about this, yet it is not clear to me exactly what that is yet. We will expose this because I agree with you that it is important.

[2018-08-22 02:17] elasticmachine commented on #33036
Pinging @elastic/es-core-infra

[2018-08-22 02:37] zhuhuizj commented on #30467
hi @polyfractal ，we're testing the rollup feature on es 6.3.2. I found max/min sub-aggs can be used in orderby, but avg still not work. Do we plan to fix this?

[2018-08-22 03:54] jasontedor commented on #32267
Thanks a lot for that @jibbe. Please let us know how the testing goes, this use-case is important to us.

[2018-08-22 06:17] cawoodm opened #33048 "Rollup fails with: ElasticsearchParseException: failed to parse date field"
ELK 6.3, Windows

We are using the RollUp API to process tomcat access logs. The logs have a "timestamp" field formatted as follows (mapping):
[code]
The Rollup fails with the following message:

`ElasticsearchParseException: failed to parse date field [0] with format [date_time]`

We don't have any other problems with the field timestamp (e.g. in Kibana).

Rollup Job (/accessPerformance5):
[code]

[2018-08-22 06:52] tlrx commented on #26240
This has been fixed by the recent work on the lazy repository initialization in #31606

[2018-08-22 06:52] #26240 closed

[2018-08-22 07:02] jimczi commented on #33048
Thanks @cawoodm , this is fixed by https://github.com/elastic/elasticsearch/pull/31890 which will be part of the next release (6.4.0).

[2018-08-22 07:02] #33048 closed

[2018-08-22 07:37] cdahlqvist opened #33049 "Alternative schemes for Elasticsearch generated document IDs?"
I have recently run some benchmarks simulating dense nodes, and have noticed that heap usage related to storage of document IDs is the main driver behind heap usage for at least some types of data. To see how different types of document IDs perform/behave, I created [a Rally challenge](https://github.com/elastic/rally-eventdata-track/blob/master/eventdata/challenges/large-shard-sizing.json#L162) b

[2018-08-22 07:56] C0FFEEC0FFEE opened #33051 "Show name of cluster in e-mails sent by default watches"
**Show name of cluster in e-mails sent by default watches**:
The e-mails sent by the default watches (cluster status, nodes change, version mismatch) should contain the name of the cluster in the subject line for ease of filtering them.

[2018-08-22 08:14] franekrichardson commented on #33030
@DaveCTurner yes thats very manageable for us :+1:

[2018-08-22 08:21] pkaramol opened #33053 "Get extended information about index mappings (templated or not)"
# Feature Request

**Describe the feature**:

Unless I am wrong, currently there is no way of knowing if an index mapping was

a) auto generated by elastic search during the process of documents' fields discovery

b) enforced by a guideline in the `output` plugin as e.g. in the following example:

[code]

When one performs `GET index_name` in `kibana` he does get a mappings json field but how can

[2018-08-22 09:54] comdotwang162 opened #33054 "what does Rewriteable.rewriteAndFetch do?"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
6.2.0
**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:
I would like to know what does Rewriteable.rewriteAndFetch do? why twice?

Note of SearchService  method rewriteShar

[2018-08-22 10:11] javanna commented on #33054
hi @comdotwang162 we reserve github issues for verified bugs or feature requests. Could you please ask your question on our forums at https://discuss.elastic.co/ ?

[2018-08-22 10:11] #33054 closed

[2018-08-22 10:36] colings86 commented on #33041
I think supporting ranges at query time is a good idea. I think we should separate out the index time question into a different issue as that requires more work and I'm personally not sure we could implement it in a way thats easy to explain to the user

[2018-08-22 10:38] elasticmachine commented on #33053
Pinging @elastic/es-search-aggs

[2018-08-22 10:39] colings86 commented on #33053
@pkaramol Could you explain why its important to you to know if the field was defined in an index template or not? I would like to understand the use case

[2018-08-22 10:39] elasticmachine commented on #33051
Pinging @elastic/es-core-infra

[2018-08-22 10:41] elasticmachine commented on #33049
Pinging @elastic/es-search-aggs

[2018-08-22 10:43] colings86 commented on #33049
It would be useful to know the indexing speed for each of these options too since we would want to be clear with the user whether choosing a particular option also influences the indexing speed as well as heap usage and index size

[2018-08-22 10:54] Dlorite opened #33055 "ElasticSearch discover all cores in a kubernetes pod instead the cores given in a statefulset"
Hi, we have a cluster of elasticsearch v.5.2.2. in kubernetes with 20 workers and 3 electable masters dedicated. This cluster have machines with 8 cores but in our statefullset we have set the workers with only 2 cpu core in guarantee mode. The problem comes when the workers think they have 8 cores and the bulk thread pool has a size of 8 too. Then all workers are working more than they can ingest

[2018-08-22 10:55] pkaramol commented on #33053
It would give prompt feedback on whether the template was applied properly;

today I run in the following case:

I had a template applied to index pattern "somename*"
I had another template applied to index pattern "*some_pattern*"

Then it just so happened that a few index had the name "somename_some_pattern"

It took me some time to figure out that the above situation was giving precedence to th

[2018-08-22 11:02] polyfractal commented on #33048
Thanks for the confirmation @jimczi.  This was originally asked on the forums and I was thinking it was #31890, but wanted @cawoodm to post here with more details so we could check for sure.

Thanks @cawoodm for following up!

[2018-08-22 11:54] javanna commented on #32932
hi @ikonst are all your nodes on the same version? It seems to me that the node that you are using as coordinating node for your scroll search is on 5.6 or later, while the remote nodes are on a previous version, probably 5.5 which is the version you mentioned in the description of this issue. Scroll searches are supported when using cross-cluster search only from 5.6 on, see #25094 . I think that

[2018-08-22 12:01] spinscale opened #33058 "Watcher: 5.x/6x Upgrade breaks with watches with stored scripts and lang field"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.x

When a user adds a watch in 5.x, that contains a script and the script section contains a `lang` field, the watch will be broken after upgrading to 6.x. The original PR adding this check was done in [#25610](https://github.com/elastic/elasticsearch/pull/25610)

#### Reproduction

Have a 5.x node where you add this script and this watc

[2018-08-22 12:01] elasticmachine commented on #33058
Pinging @elastic/es-core-infra

[2018-08-22 12:16] spinscale commented on #31853
this also affects users with watches that were created in 5.x and now fail under 6.3

[2018-08-22 12:46] original-brownbear commented on #32863
Looking into it, I can reproduce it  by running the test in a loop (like 1/5k runs only though)

[2018-08-22 12:55] thomasbratt opened #33060 "X-Pack support for Java high level REST client (feature request)"
X-Pack only supports the Java transport client, which will be removed in future release.

This feature request is to ask for X-Pack support in the Java high level REST client.

References:

"We plan on deprecating the TransportClient in Elasticsearch 7.0 and removing it completely in 8.0."
https://www.elastic.co/guide/en/x-pack/current/java-clients.html#transport-client

"If you want to use a Java

[2018-08-22 12:58] jasontedor commented on #33060
Heya, thanks for your interest! We agree this is very important, and is actively being worked on across the team. In fact, we have an existing issue for this where we are tracking completeness of the APIs. See #29827. I hope you do not mind then that I close this issue as a duplicate of that one.

[2018-08-22 12:58] #33060 closed

[2018-08-22 12:58] elasticmachine commented on #33060
Pinging @elastic/es-core-infra

[2018-08-22 13:38] thomasbratt commented on #33060
@jasontedor no that's perfect thanks. Don't know why I could find it earlier :)

[2018-08-22 14:09] jpountz commented on #31479
I have some ideas but I don't like them much due to the complexity that they would introduce... Looking at your patch again, I'm wondering that a simple improvement would be to stop caching on the field name? Said otherwise have a cache of an arbitrary number of `SortedNumericDocValuesField`, `LongPoint`, etc. and don't enforce that a given field name always reuses the same instance? This is not g

[2018-08-22 14:34] s1monw commented on #32517
yeah I'd make this attribute optional. ie by default we would just use the hostname and if the attr is present we use it as well.

[2018-08-22 15:35] jpountz commented on #33003
I'm curious how this will work in practice as mixing up pre/post tags with a JSON structure sounds challenging? The other thing that worries me a bit is that if we want to support any highligter that is able to use indexed offsets or term vectors, then when we extract the JSON object from the source document at search time, we must make sure that it produces exactly the same string as what was pas

[2018-08-22 15:38] not-napoleon commented on #22302
Hi @gauravmishra123 , I was thinking about picking up this issue since it seems you haven't had a chance to get to it.  If you're still working it, please let me know.  Thanks!

[2018-08-22 16:28] cdahlqvist commented on #33049
@colings86 I can set up and run [this challenge](https://github.com/elastic/rally-eventdata-track/blob/master/eventdata/challenges/document_id_benchmark.json) against an Elastic Cloud cluster for comparison. It indexes the same amount of data using the following 3 main ID schemes:

* Autogenerated IDs
* UUIDs (uuid4)
* UUID (uuid4) prefixed by hex-encoded epoch

Id generation happens [here](https:

[2018-08-22 16:37] polyfractal opened #33065 "[Rollup] Managing index lifecycle"
Today, a Rollup job will store its results in a single rollup index.  There is currently no provision for handling jobs that generate such a large volume that they need multiple indices to scale even the rollup data.

There are a couple routes we can take... it's not clear to me what the best is.  Current Rollup limitations make it tricky too.

## Wait for ILM
Easiest option... wait for ILM (#2982

[2018-08-22 16:37] elasticmachine commented on #33065
Pinging @elastic/es-search-aggs

[2018-08-22 16:59] polyfractal commented on #33041
Agreed.  Once we get #32052 merged, I think implementing query-time ranges should be reasonably straightforward.  That PR does most of the heavy lifting wrt validating time intervals, so we can just piggyback on that and validate the ranges too.

[2018-08-22 17:05] polyfractal commented on #30467
@zhuhuizj I looked into this the other day, and I'm afraid there's no quick fix for sorting the `avg` aggregation.

What we need is an average aggregator that can extract the count from the document, instead of just incrementing the count for each value.  That way we could perform the avg in a single agg instead of two like today, and it'd also allow us to sort.

A while back, I merged a new `weig

[2018-08-22 17:08] ikonst commented on #32932
Confirming, our remote nodes are on 5.5. This will be taken care of as part of our update to 6.x. Thanks for looking into this!

[2018-08-22 17:08] #32932 closed

[2018-08-22 19:27] not-napoleon commented on #22302
@gauravmishra123 sounds good.  If you get stuck or have a question, feel free to leave a note here and I'll do my best to help.

[2018-08-22 20:23] svanschalkwyk opened #33067 "regexp does not follow recognized regex if "." or "/" are in the query"
Elasticsearch version 6.1.5

**Steps to reproduce**:
This is the query
[code]
it should match
http://inside.com/pages/sales/reporting/customer_reporting_data.aspx
as per online regex evaluator.
The last "\." raises an error:
[code]
When I don't escape the final ".", nothing is matched.
Issue seem to stem from using a "/" anywhere in the regex, escaped or not.

[2018-08-22 21:03] damm commented on #19148
However with machine learning GPU support sounds quite interesting.

[2018-08-22 21:37] #32589 closed

[2018-08-22 21:38] yanjunh opened #33068 "Configurable disk size"
**Describe the feature**: Currently ES allows configuring number of processors. (https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-threadpool.html#processors) Can we also allow configuring the disk size so ES will only use the space configured?

[2018-08-22 21:48] jasontedor commented on #33068
I don't think we will add a feature like this since this is easily and correctly handled at the OS level where you can use partitioning and logical volumes to do the same. Importantly every OS that we support has a feature for this. This is distinguished from the processors setting wherein even if you use OS functionality for thread affinity, the JVM does not know that it is limited in the cores i

[2018-08-22 21:48] elasticmachine commented on #33068
Pinging @elastic/es-core-infra

[2018-08-22 21:51] nik9000 opened #33069 "Docs: We should have examples of allocate_empty_primary and allocate_stale_primary"
On [this](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-reroute.html) page we describe a few cluster reroute commands but we don't have examples of `allocate_empty_primary` and `allocate_stale_primary`. i know they are dangerous APIs that intentionally lose data, but if the disk that has the data on it is *gone* you want to run them and it'd be really nice to have a writt

[2018-08-22 21:51] elasticmachine commented on #33069
Pinging @elastic/es-distributed

[2018-08-22 21:51] elasticmachine commented on #33069
Pinging @elastic/es-docs

[2018-08-22 22:13] jasontedor commented on #33067
You need two `\\` as in `\\/` and `\\.`. This is because there will be two levels of interpretation of the backslashes. The first by the JSON parser (to get you to `\.`) and then by the Lucene regular expressions engine.

[2018-08-22 22:13] #33067 closed

[2018-08-22 22:18] blaklaybul opened #33071 "Docs: Reindex API - Works with Cancel Task API"
On the [Reindex API](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html#docs-reindex-cancel-task-api) docs page, it says that any reindex can be cancelled using the task cancel API, like so:

1. `POST _tasks/task_id:1/_cancel` - this fails, see below \*.

However, on the [Task Management API](https://www.elastic.co/guide/en/elasticsearch/reference/current/tasks.html#

[2018-08-22 22:37] ebernhardson opened #33072 "Limit the maximum number of concurrent shard searches issued by an msearch request."
The msearch API currently allows limiting the maximum number of concurrent searches performed. I'm interpreting this feature as having the goal of limiting the maximum concurrent load generated by the msearch request. I'm defining maximum concurrent load as the maximum number of threads consumed from search thread pools across cluster at any point in time.  When clusters are fairly uniform the num

[2018-08-22 23:27] jtibshirani commented on #33003
I don't think I've dug enough into the details of highlighting to understand the concerns, but my takeaway is that it may be tricky to find a robust approach (and we should be open to punting on it for v1).

[2018-08-23 01:04] talevy opened #33074 "ILM: IndexLifecycleRunner should not spam logs with warnings when policy is misconfigured"
When an index sets its `index.lifecycle.name` to an invalid one

* The system will make it look like things are being managed correctly... when really there is no real policy of that name
* the IndexLifecycleRunner will spam the logs looking for the first step with messages of this nature:

[code]

**reproduce with**

[code]

It is a very simple thing to happen, and the logs are not useful in help

[2018-08-23 01:04] elasticmachine commented on #33074
Pinging @elastic/es-core-infra

[2018-08-23 01:33] zhuhuizj commented on #30467
I see. thanks for your response:)

[2018-08-23 01:36] yanjunh commented on #33068
Yes it's different from Processors override in the way that OS always reports the correct volume size. This feature is for easy collocating on RAID-0 volume without the need to manage partitions and mountable volumes.

[2018-08-23 01:53] shinux85 opened #33075 "elasticsearch-6.3.1 Installation on RHEL 7.5 server"
**Describe the feature**:elasticsearch-6.3.1 Installation on RHEL 7.5 server

**Elasticsearch version** (`bin/elasticsearch --version`):elasticsearch-6.3.1

**Plugins installed**: []

**JVM version** (`java -version`):openjdk version "1.8.0_181"

**OS version** (`uname -a` if on a Unix-like system):Linux elk01 3.10.0-862.el7.x86_64 #1 SMP Wed Mar 21 18:14:51 EDT 2018 x86_64 x86_64 x86_64 GNU/Linux

[2018-08-23 05:08] whirlys commented on #30774
I found this problem is caused by IDEA. Open `Edit Configurations` --> check ` Include dependencies with Provided scope `, then it works. You can find more details in my blog. [教你编译调试Elasticsearch 6.3.2源码](http://laijianfeng.org/2018/08/%E6%95%99%E4%BD%A0%E7%BC%96%E8%AF%91%E8%B0%83%E8%AF%95Elasticsearch-6-3-2%E6%BA%90%E7%A0%81/)

[2018-08-23 05:34] cdahlqvist commented on #33049
@colings86 I ran the challenge overnight and got the following average indexing throughout when indexing 100 million documents against a single 32GB Elastic Cloud node:

* Autogenerated IDs: **25.5k EPS**
* UUIDs (uuid4): **18.9k EPS**
* UUID (uuid4) prefixed by hex-encoded epoch: **22.2k EPS**

I used these document ID types as an example and am not suggesting we necessarily use one of them. The

[2018-08-23 05:52] vladimirdolzhenko commented on #33069
It will appear indirectly due to work of another dangerous piece: https://github.com/elastic/elasticsearch/issues/31389

it requires put a new allocation id and therefore provide command on how to `allocate_stale_primary` or in the worst scenario even `allocate_empty_primary`

[2018-08-23 05:59] zhisheng17 commented on #30774
good job, solve my problem @whirlys

[2018-08-23 05:59] DaveCTurner commented on #33049
One of these characteristics is that we know the provenance of an autogenerated ID, so we know whether we can skip the checks for the existence of another document with the same ID. With externally-provided IDs we always have to check. Importantly, this is independent of the format of the ID.

[2018-08-23 06:12] cdahlqvist commented on #33049
@DaveCTurner Excellent. I assume that means that if we created an alternate autogenerated ID format that has a different heap usage profile, it would by default also be faster as we also for this format would be able to skip the checks?

[2018-08-23 06:14] tvernum opened #33076 "[DOCS] Roles API docs refer to "native" realm, which is misleading"
Our docs for the roles API refer to roles in the native realm.
This is confusing for 2 reasons:

1. Realms are for users, not roles. Technically roles don't live in realms and the 2 are quite separate. It sometimes leads customers to
   (a) think that native users can only have "native" roles, and file users can only have file roles.
   (b) that you have to have the native realm enabled in order t

[2018-08-23 06:14] elasticmachine commented on #33076
Pinging @elastic/es-security

[2018-08-23 06:43] ecarmonaatcubewisedotcom commented on #23097
Hi There,
Maybe I come back late on this conversation, but I was able to fix this issue by setting JAVA_HOME in the elasticsearch-env.bat

[2018-08-23 06:48] vikaslinux opened #33077 "Elastic Search high level client not encoding + symbol properly in Get Request"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.3.0

**Plugins installed**: [Kibana, Cerebro]

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): Linux kernel 4.9.93-0.1 #1 SMP Thu Jun 21 13:50:19 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
Use res

[2018-08-23 07:03] SeekerGalahad commented on #31236
@hongbeiti
My version 5.6.0.
it works, thx

[2018-08-23 07:35] MovGP0 commented on #27330
Support for [JodaTime](http://www.joda.org/joda-time/) and [NodaTime](https://nodatime.org/) time formats is really important for me.

For all business applications I have worked on, it is way more important to have **validateable data types** and algorithmic correctness, than issues like having very „high precision“, „better performance“, or „no dependency on external libraries“.

Having addition

[2018-08-23 07:39] jpountz commented on #33049
The 2x factor is probably a coincidence. However it's expected that patterns that compress well also require more memory. Memory usage is due to the FST that records shared prefixes of terms per block of 25-40 terms, so the number of prefixes that are recorded in the FST doesn't depend too much on the pattern, but the length of the recorded prefixes does.

Even in the worst case, these numbers are

[2018-08-23 07:41] consulthys commented on #1063
Another possibility is using this plugin https://github.com/ForgeRock/es-change-feed-plugin and subscribe to indexation/deletion events as they happen.

[2018-08-23 07:52] #31798 closed

[2018-08-23 07:58] jpountz commented on #33003
I agree that complexity of the implementation is fine, I'm more concerned about the API as we should strive to have as few switches as possible, especially for a v1. To me the question of this switch boils down to the problem that we are trying to solve: either we want to allow users to actually index objects, in which case indexing raw values makes sense, or we want to allow users to avoid the ov

[2018-08-23 08:04] #26299 closed

[2018-08-23 08:05] elasticmachine commented on #33077
Pinging @elastic/es-core-infra

[2018-08-23 08:08] #32735 closed

[2018-08-23 08:38] elasticmachine commented on #33072
Pinging @elastic/es-search-aggs

[2018-08-23 08:38] astefan opened #33079 "SQL: improve the nested documents handling"
At the moment, when a query needs to touch nested documents, it is creating a `nested` query for each `where` clause. Something like the following (simplified) for the `select groupName from my_index where user.first = 'Alice' and user.last = 'Smith'` query (where `user` is a `nested` field):

[code]

Which is a perfectly valid query for a `nested` documents scenario: get all documents where at le

[2018-08-23 08:38] elasticmachine commented on #33079
Pinging @elastic/es-search-aggs

[2018-08-23 08:39] elasticmachine commented on #33055
Pinging @elastic/es-core-infra

[2018-08-23 08:48] astefan opened #33080 "SQL: generated nested documents queries return incorrect inner_hits"
In a scenario involving a `nested` field, the inner_hits results can be incorrect.
[code]

When selecting all fields, a row is output for each nested doc.
[code]

But if we add a where clause that's satisfied by a combination of the nested docs, then only a single row for a single nested doc is returned.

[code]

This is like this because for multiple `nested` queries that have `inner_hits`, if th

[2018-08-23 08:48] elasticmachine commented on #33080
Pinging @elastic/es-search-aggs

[2018-08-23 08:57] astefan commented on #32930
@spinwang probably not in the near future.

[2018-08-23 09:20] vladimirdolzhenko opened #33081 "[CI] RestrictedTrustManagerTests fails"
[code]

logs:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java8fips,nodes=virtual&&linux/255/console

steps to reproduce
[code]

I was not able to reproduce it locally.

[2018-08-23 09:33] vladimirdolzhenko opened #33082 "[CI] Bundled signatures resource not found: jdk-unsafe-11 for java8/java10"
Build fails with

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/254/console

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/255/console

[2018-08-23 09:33] elasticmachine commented on #33082
Pinging @elastic/es-core-infra

[2018-08-23 09:36] rishabh-traveloka opened #33084 "Fuzziness not working with custom analyzer in "multi_match""
**Describe the feature**: Fuzziness

**Elasticsearch version** (`bin/elasticsearch --version`):6.0

**Plugins installed**: []None

**JVM version** (`java -version`):1.8

**OS version** (`uname -a` if on a Unix-like system): EC2

**Description of the problem including expected versus actual behavior**:

When my custom analyzer generates two or more tokens , fuzziness is not applied and results are

[2018-08-23 09:39] jimczi commented on #33028
Another question that popped up is whether we should return "precise" lower bounds or just indicate the lower lower bound. If `track_total_hits` is set to 100 for instance, returning `123+` doesn't bring much more than returning `100+`. The lower bound computed on each shard is not an approximation so any result above 100 can be misleading, a simple `term` query that can skip a lot of documents ma

[2018-08-23 10:19] vladimirdolzhenko commented on #33082
another one

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java10,nodes=virtual&&linux/255/console

[2018-08-23 10:38] wuyunfeng commented on #33010
Netty4HttpServerTransport at module netty4, set the parent and child EventLoopGroup with one:
            serverBootstrap = new ServerBootstrap();
            serverBootstrap.group(new NioEventLoopGroup(workerCount, daemonThreadFactory(settings,
                HTTP_SERVER_WORKER_THREAD_NAME_PREFIX)));
this setting will result in the ServerSocketChannel acceptor run in the http_server_worker#1 thr

[2018-08-23 10:39] wuyunfeng commented on #33010
@elastic/es-core-infra

[2018-08-23 10:43] jkakavas commented on #33081
This fails locally too ( in a FIPS JVM )

Error is `java.security.cert.CertPathValidatorException: Could not validate certificate: certificate expired on 20450904132213GMT+00:00"`. The date is clearly in the future but the format seems off and this points me to `-Dtests.locale=th-TH-u-nu-thai-x-lvariant-TH` being the culprit here. In fact it passes with any other `-Dtests.locale`.
The fact that th

[2018-08-23 10:45] vladimirdolzhenko opened #33086 "[CI] GraphExploreResponseTests.testFromXContent fails"
[code]

logs: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/2602/console

the result of https://github.com/elastic/elasticsearch/pull/33025

it is fully reproducible locally in `6.x` branch with
[code]

[2018-08-23 10:46] elasticmachine commented on #33086
Pinging @elastic/es-core-infra

[2018-08-23 11:19] #32863 closed

[2018-08-23 11:47] s1monw commented on #33028
I don't like changing the meaning of `total` or make it a string. We already return `"total" : -1` if `track_total_hits` is false. We can add an additional parameter `at_least` to inform the user how many hits we can have at least. We can also add this easily to 6.x. From my perspective this would only guarantee best effort. On the request end I am in favor of option 1.

[2018-08-23 12:46] polyfractal commented on #33028
I'm also not a fan of the options where the meaning of `total` is context-dependent.  I'd rather have a new field.  In both cases you need to conditionally check two things, but at least this way incorrect assumptions are quickly noticed (`total: -1`) and it doesn't change the meaning of `total`.

It's also a bit more graceful upgrade path.  UIs might be showing a bad value (`-1`) but it doesn't b

[2018-08-23 12:50] polyfractal commented on #30467
No problem!  We'll ping this thread if we have any progress or updates to share, so feel free to subscribe to it for updates.

[2018-08-23 12:58] jpountz commented on #33084
Thanks for reporting this bug. Can you provide example mappings and documents that fail to match with this query?

[2018-08-23 12:58] elasticmachine commented on #33084
Pinging @elastic/es-search-aggs

[2018-08-23 13:06] astefan opened #33092 "SQL: Implement missing date/time scalar functions"
This is part of https://github.com/elastic/elasticsearch/issues/30007.
Functions considered for implementation:
- [x] CURRENT_DATE( )
- [x] CURRENT_TIME[( time-precision )]
- [x] CURRENT_TIMESTAMP[( timestamp-precision )]
- [x] CURDATE()
- [x] CURTIME()
- [x] DAYNAME( date_exp )
- [x] MONTHNAME( date_exp )
- [x] NOW( )
- [x] QUARTER( date_exp )

[2018-08-23 13:06] elasticmachine commented on #33092
Pinging @elastic/es-search-aggs

[2018-08-23 13:43] atorok opened #33093 "the Elasticsearch build should be the record of truth for maven publications"
There have been a number of release manager failures recently because the elasticsearch build no longer producing some poms.
There's no way to write a test for this from the ES side, on the other hand we have the example plugin tests that would detect any non published dependencies ( non published transitive dependencies of published artifacts ) - but only if these don't generate a pom. These test

[2018-08-23 13:43] elasticmachine commented on #33093
Pinging @elastic/es-core-infra

[2018-08-23 13:54] nicky1038 opened #33095 "Validate API with empty query returns HTTP code 400 instead of 200 and "valid": false"
Elasticsearch 5.6.10.

Request

[code]

Results in:

[code]

But it should return 200 and just say this query is not valid, e. g.

[code]

Results in:

[code]

Please fix it also in 5.6.x as we currently cannot easily upgrade to 6.x.

[2018-08-23 14:01] #33086 closed

[2018-08-23 14:02] markharwood commented on #33086
Fixed in 6.x 6a92a3555c48d4a7a77b1e457657f61c08e104ee and master f860e589a629bd89f24f022a50c8a2fcb7a77673

[2018-08-23 14:05] Mpdreamz commented on #33028
+1 to an additional property. `total` can already be skewed in the case of partial results (if `allow_partial_search_results` is not true (default false)) which throws people. A new property on the response is more explicit.

On the request side can we create a new property e.g `track_total_hits_upto=NUMBER` or `total_accuracy=NUMBER` and deprecate`track_total_hits=BOOL` instead of reusing `track_

[2018-08-23 14:12] vladimirdolzhenko commented on #33086
thanks @markharwood

[2018-08-23 15:05] dakrone commented on #33095
I tried this out on master, it's still a bug but with a different error, instead, no response is sent (the connection is just closed) and we fail to send the error message:

[code]

[2018-08-23 15:05] elasticmachine commented on #33095
Pinging @elastic/es-search-aggs

[2018-08-23 16:48] javanna commented on #33095
Besides the missing response above which is pretty bug, I would say at first glance that it's ok for the validate query API to require a query to be provided. Looking at the code though, I see that the request has a match_all default, which sounds like maybe something has changed at some point in the REST layer where we end up setting null to the request while we should leave the default that is a

[2018-08-23 16:57] colings86 opened #33100 "Java high-level REST client completeness for ILM APIs"
**Note: these APIs are on the `index-lifecycle` branch at the moment so will need to be implemented on that branch until its ready to merge to master, see https://github.com/elastic/elasticsearch/issues/29823**
- [x] Put lifecycle (@gwbrown) https://github.com/elastic/elasticsearch/pull/33250
- [x] Get lifecycle (@gwbrown) https://github.com/elastic/elasticsearch/pull/33323
- [x] Delete lifecycle

[2018-08-23 16:57] elasticmachine commented on #33100
Pinging @elastic/es-core-infra

[2018-08-23 17:39] DaveCTurner opened #33101 "Docs build fails due to missing nexus.png"
I checked out the https://github.com/elastic/docs/ repo at `../docs` (relative to my ES root checkout) and tried to build the reference manual with

    ../docs/build_docs.pl --doc docs/reference/index.asciidoc --chunk 1 --out ~/temp/asciidoc/ --open

This failed as follows:

[code]

Looking at the actual docs I think the image in question is [here](https://github.com/elastic/elasticsearch/blob/d5

[2018-08-23 17:39] elasticmachine commented on #33101
Pinging @elastic/es-docs

[2018-08-23 17:54] nik9000 commented on #33069
A small group of us talked about this and ended up pretty split but ultimately decided that the documentation that we have now is what we're going to stick with. The argument went like this:

We consider these command dangerous to copy and paste and execute.

But we consider these commands genuinely useful in certain circumstances: when you know you've lost data and there is no way to get it back,

[2018-08-23 17:54] #33069 closed

[2018-08-23 18:17] nicky1038 commented on #33095
@dakrone @javanna First of all, thank you for such a quick response.

@javanna Provided request body contains a field named "query", and its content is even a valid JSON (though it is empty), and my need is to find out if this JSON contains a valid query. Emptiness is not. I think this is enough and ES should respond with ```"is-valid": false``` but not with server error.

[2018-08-23 18:50] timvisher commented on #21943
This just happened again with the 6.4.0 release of filebeat.

[code]

Compared to a few days ago:

[code]

[2018-08-23 19:29] DaveCTurner commented on #32917
Could you provide all the logs from the master node for the period around `2018-08-17T16:53:01,874`, from before you started shutting nodes down until after the cluster had recovered? If they're too large to include in full, use https://gist.github.com.

[2018-08-23 19:29] rpardini opened #33105 "immediately after 6.4.0 released, apt repository missing all older versions (eg, 6.3.2)"
**This is a bug regarding the APT repositories only, not ES itself!**

**Elasticsearch version** (`bin/elasticsearch --version`): 6.4.0

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:
[code]

**Steps to reproduce**:

Doing an `apt update` after 6.4.0 makes older versions unavailable from the apt repo.
Th

[2018-08-23 19:31] jakelandis commented on #32789
Closing as better alternatives for these use cases have been discussed.

[2018-08-23 19:47] bnm22 commented on #32365
+1

I am having the exact same issue.

Version 6.3.0

[2018-08-23 20:00] spinscale commented on #32807
indeed, fixed in 6.4.0

[2018-08-23 20:00] #32807 closed

[2018-08-23 20:15] #32256 closed

[2018-08-23 20:29] nik9000 commented on #33105
We're aware of this and working to bring them back. Sorry!

[2018-08-23 20:33] polyfractal commented on #33065
@colings86 and I chatted about this some.  Enabling this via ILM is a good long-term goal.  With that in mind, ILM would likely invoke this sort of behavior with the Rollover API.  From Rollup's point of view, that would look the same as an external Rollover event, so if we enable that behavior we can A) let users do it manually today and B) be ready to work with ILM when it's ready.

We'll need t

[2018-08-23 21:10] bnumber1 commented on #32365
+1

[2018-08-23 21:10] bnumber1 commented on #32365
+1

[2018-08-23 21:17] jasontedor commented on #21943
@timvisher This is addressed now.

[2018-08-23 21:30] Conky5 commented on #33105
The older versions should be back now, apologies!

[2018-08-24 00:59] jtibshirani commented on #33003
That is a nice way to frame it! I am thinking of it as the former (providing a true 'object' field). I think it fits better with the use cases/ data we’ve seen, which center on indexing opaque JSON objects (metric beats, user-provided blobs of data, etc.). To me, the most compelling use for this feature is in being able to work with object data that is difficult to model otherwise, and not just sa

[2018-08-24 01:41] #33105 closed

[2018-08-24 02:13] bnm22 commented on #32365
Do we have any workaround ideas for this issue?

[2018-08-24 02:51] jtibshirani opened #33112 "Boxplot Aggregation"
(Previous title: 'Interquartile Range Aggregation')

The interquartile range is a common robust measure of statistical dispersion. Compared to the standard deviation, the IQR is less sensitive to outliers in the data, with a breakdown point of 0.25. Along with the median, it is often used in creating a [box plot](https://en.wikipedia.org/wiki/Box_plot), a simple yet common way to summarize data an

[2018-08-24 02:51] elasticmachine commented on #33112
Pinging @elastic/es-search-aggs

[2018-08-24 04:38] rishabh-traveloka commented on #33084
@jpountz ,
**Mapping** - Any Mapping with analyzer containing stemmer (generated two tokens for chinepe => chinep/chinese)

**Documents Not Matching:** Document containing "chinese"

I cannot provide exact documents/mapping. Thanks for understanding.

[2018-08-24 04:41] tvernum commented on #32699
I don't think this is a high priority, and I'm not sure there's really any demand for making it configurable (especially since browsers are supposed to handle this themselves).
I'd keep it simple and go with option 1. We can make it configurable if there are requests, but we have real requests from users that would have a higher priority requests right now.

[2018-08-24 04:43] kaushikbbr opened #33115 "Elasticsearch WebUI page display issue"
Hi Team,

**Describe the feature**:
The cat indices API gives us the tabular form of all the indices present in elastic search very intuitively. But when the same is viewed on mobile or a tablet the lines get wrapped with respect to the screen.

It would be real nice and informative if we have a scroll bar rather and the lines un-wrapped.

Please kindly update if possible!

View on Laptop screen
!

[2018-08-24 04:58] elasticmachine commented on #33115
Pinging @elastic/es-core-infra

[2018-08-24 04:58] tvernum commented on #33115
Hi @kaushikbbr

The `_cat/` APIs are designed to be used in command line tools like `curl` rather than through the browser, so they are just plain text and it is your browser that is deciding how to format the output (wrapping _vs_ scrolling), as their is not HTML involved.

I'll leave this issue open so that the team that looks after these APIs can comment, but I think it's unlikely that we'll be

[2018-08-24 05:03] jasontedor commented on #33115
Heya, this is an unfortunate experience indeed. This is Chrome that is the culprit here though. Here's an explanation:
 - the cat APIs are not intended to be used from a browser, instead from the command line and with plain text tools; this is why they serve text/plain content type, and there is no HTML or styling involved
 - however, I understand the appeal of using these APIs from the browser, a

[2018-08-24 05:03] #33115 closed

[2018-08-24 06:29] jain108shubhamtbt opened #33117 "why does alias name point to more than one index ?"
Please help me .

[2018-08-24 06:31] tvernum commented on #33117
Could you please ask this question on our [discussion forum](https://discuss.elastic.co/c/elasticsearch) where we can provide better support. Those forums are designed to support the kinds of conversations that are necessary to understand and resolve your question.

Elastic uses GitHub issues for tracking clearly identified bugs and feature requests. Since there is no specific bug identifed in you

[2018-08-24 06:31] #33117 closed

[2018-08-24 07:00] rpardini commented on #33105
Confirmed working again, thanks.

[2018-08-24 07:02] jain108shubhamtbt commented on #33117
ok,

thanks

[2018-08-24 08:17] nachogiljaldo opened #33119 "flood_stage not working with x-pack security"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.3.2 (but the same symptoms appear with 6.0.1 and 6.4.0, although I did not debug them).

**Plugins installed**: [discovery-file, repository-s3]

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
Linux 4efa9a510327 4.4.0-66-generic #87~14.04.1-Ubuntu SMP Fri Mar 3 17:32:36 UTC 2017 x86_64 x86

[2018-08-24 08:19] elasticmachine commented on #33119
Pinging @elastic/es-distributed

[2018-08-24 08:19] elasticmachine commented on #33119
Pinging @elastic/es-security

[2018-08-24 08:50] faxm0dem opened #33121 "stuck at minimum_master_nodes setting after rolling upgrade"
Doing a rolling upgrade from 5.3.2 to 5.6.6 I am stuck with the following situation while trying to update the `minimum_master_nodes` setting:

[code]

So I can't change it back to `null`. However it's still there:

[code]

Is there a way to solve this without a full cluster restart ?

[2018-08-24 08:53] pakein opened #33122 "put template mapping without type can throw exception"
when put template , use `addMapping(String type, XContentBuilder source)` , source miss type,  document parsed automatic add the type , but not write into meta file, and  the request is success.

when master restart, read mapping from meta file fail.
`
if (mapping.size() == 1) {
                                String mappingType = mapping.keySet().iterator().next();

[2018-08-24 09:09] spinscale commented on #33058
we talked about this and this is our way forward:

We will fix the upgrade helper to also take care of this. Currently the upgrade helper just removes the `_status` by using a script in the reindex action.

This script needs to be extended to do the following

1. Check if the `condition` is a script based one. If `true` check if the script is using a `lang` parameter and optionally remove this par

[2018-08-24 09:11] faxm0dem commented on #33121
once all nodes are in 5.6.6 I was able to unset the setting:

[code]

[2018-08-24 09:11] #33121 closed

[2018-08-24 09:16] tveasey commented on #32966
Agreed this does seem odd. I think this warrants investigation as to what is happening inside the model. I suspect based on Ben's last comment that this might be a numerical issue: something over/underflowing and not being handled properly (probably taking a log). I'll look into this.

[2018-08-24 09:18] astefan opened #33123 "[CI] org.elasticsearch.xpack.security.authz.ReadActionsTests testEmptyAuthorizedIndicesSearchForAllDisallowNoIndices failure"
This test method seems to have been [failing before here](https://github.com/elastic/x-pack-elasticsearch/issues/2552#issuecomment-410660412) and [here](https://github.com/elastic/elasticsearch/issues/30098).

And just like before, it doesn't reproduce for me locally at all.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA

[2018-08-24 09:18] elasticmachine commented on #33123
Pinging @elastic/es-security

[2018-08-24 09:46] SantoshKumarA commented on #26959
I think the issue still exists with latest Elasticsearch documentation as well.. In my case I'm using High level rest client and faced this and solved it by adding appropriate Elasticsearch dependency version as well..
https://stackoverflow.com/questions/52000939/java-exception-while-using-elasticsearch-rest-high-level-client

[2018-08-24 09:49] javanna commented on #26959
HI @SantoshKumarA what would you suggest correcting in the documentation? I would love to fix it if there's a mistake but I don't see what is wrong in it. Thanks!

[2018-08-24 10:11] astefan opened #33124 "[CI] org.elasticsearch.xpack.core.scheduler.SchedulerEngineTests.testListenersThrowingExceptionsDoNotCauseOtherListenersToBeSkipped failure"
This reproduced for me locally in 5 out of 100 iterations. My failed tests' seeds:

[code]

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2587/console

[code]

The test class involved in the failure was added 3 days ago in [this commit](https://github.com/elastic/elasticsearch/commit/ad0a965db9af15c49618a2f65c847ad4bbae1547).

@jasontedor can you have a look a

[2018-08-24 10:57] cdahlqvist commented on #33049
@DaveCTurner helped me set up a build where I could test a few different permutations of the current autogenerated ID format. Of the 6 variations I tested (auto-v2 - auto-v7), a few seemed to perform significantly better than the existing scheme.

![screen shot 2018-08-24 at 09 55 28](https://user-images.githubusercontent.com/2804455/44580936-cad83c00-a793-11e8-94d1-56bb089367f8.png)

The `auto-v4

[2018-08-24 11:48] jasontedor commented on #33124
Closed by 9fddf7e6a3ce13597d21c61d9818e301016b7b03

[2018-08-24 11:48] #33124 closed

[2018-08-24 12:29] astefan opened #33128 "[CI] org.elasticsearch.upgrades.MultiClusterSearchYamlTestSuiteIT multiple failures"
Three tests in this class had several failures in the last 24hrs:
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/2315/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+default-distro/274/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/2320/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch

[2018-08-24 12:29] elasticmachine commented on #33128
Pinging @elastic/es-core-infra

[2018-08-24 12:29] astefan commented on #33128
@s1monw could these failed tests be related to [this PR](https://github.com/elastic/elasticsearch/pull/32988)?

[2018-08-24 13:09] jasontedor commented on #33068
We discussed this in our weekly team discussion meeting and we agree that we should not implement this functionality. We feel that the OS is the right place to manage this.

[2018-08-24 13:09] #33068 closed

[2018-08-24 13:20] spinscale opened #33129 "Watcher: Expose more information when watcherservice reload has happened"
Right now, we are essentially blind to get more/verbose information when a reload has happened, how many watches have been reloaded, what was the reason for the reload.

This makes debugging issues very hard, especially when there is someone checking for duplicate watch executions. Is this really a bug, or have shards been moved around and thus a reload was triggered? Sometimes it is hard to tell

[2018-08-24 13:27] markharwood commented on #33053
As a general point on prevention, use of `strict` in template mappings can help limit the introduction of new fields. It can be applied at various levels in a document hierarchy to limit the fields introduced.

If you can't prevent unwanted field introduction with `strict` then there are a number of strategies that can aid the detection of the offending template source:
1) On index creation the li

[2018-08-24 13:27] #33053 closed

[2018-08-24 13:38] ruflin commented on #33053
@markharwood There is no public issue for 3) yet. @jpountz Should we start one or too early?

[2018-08-24 13:42] jpountz commented on #32982
Discussed in FixitFriday: this change makes sense to us but we'd like to get more feedback from users before committing to it.

[2018-08-24 13:42] jpountz commented on #32981
Discussed in FixitFriday: this change makes sense to us but we'd like to get more feedback from users before committing to it.

[2018-08-24 13:47] markharwood commented on #28494
Update - we are not proposing making this breaking change in 7.0
We'd like to gather more feedback first. We have a blog lined up designed to promote discussion and gather feedback more generally.

[2018-08-24 13:51] jaymode commented on #32699
I'm good with option one with a specific handling for sorting WWW-Authenticate headers that is not configurable.

[2018-08-24 14:02] albertzaharovits commented on #23992
This has been resurrected in today's FixItFriday. Indeed, documenting the limitation, as proposed by @rjernst is the way forward. Adding security privileges only for the sake of a friendlier run time error is not convincing anyone.

I will follow-up with the docs PR.

[2018-08-24 14:18] mayya-sharipova commented on #31927
@aditya-agrawal  We have an urgent need for this PR, as we are preparing for Lucene 8 upgrade. Do you think you will be able to submit a PR within several days?

If not, no problem, we can work on it ourselves.

[2018-08-24 14:55] DaveCTurner commented on #27677
We updated the docs to recommend using `persistent` throughout the full cluster restart docs in #29670, and in the rolling upgrade docs in #29671, so I think this issue is resolved.

[2018-08-24 14:55] #27677 closed

[2018-08-24 15:15] astefan opened #33134 "[CI] org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT termvectors/50_nested/Termvectors on nested fields should return empty results"
This failed multiple times in the last 24 hours, it seems to have started failing after this commit: https://github.com/elastic/elasticsearch/commit/8f16696fe12bd406327b0f715f513a33c642ec37
I reproduced this locally only once, when I ran the entire suite, as below. But I wasn't able to reproduce this constantly (even with the entire suite).

[code]

https://elasticsearch-ci.elastic.co/job/elastic+

[2018-08-24 15:15] elasticmachine commented on #33134
Pinging @elastic/es-distributed

[2018-08-24 15:18] elasticmachine commented on #33134
Pinging @elastic/es-search-aggs

[2018-08-24 15:20] akotlar commented on #25861
My position hasn't changed, it is clear that this is a needless complication.

Thanks for the ingestion pipeline tip.

[2018-08-24 15:26] astefan commented on #33134
No longer applicable. [This commit](https://github.com/elastic/elasticsearch/commit/6f1ee76443c4d04095bce2c34a8cb474c5854e4a) reverted a previous one that added the faulty test.

[2018-08-24 15:26] #33134 closed

[2018-08-24 15:39] mayya-sharipova commented on #21625
Reopening, as disabling term_vectors on nested fields breaks backward compatibility. We need to investigate more how to address it.

[2018-08-24 16:10] DaveCTurner opened #33135 "String settings leniently accept lists"
For example, the following `elasticsearch.yml` ...

[code]

... starts up a node called `[node-a, node-b]`:

[code]

In fact this is what's happening in #30946. The following API call...

[code]

... sets `cluster.routing.allocation.exclude._name` to the string `[elasticsearch-data-0]`, which then does not match the node called `elasticsearch-data-0` so the allocation is not filtered as expected.

[2018-08-24 16:10] elasticmachine commented on #33135
Pinging @elastic/es-core-infra

[2018-08-24 16:12] DaveCTurner commented on #30946
It seems that string settings in general also accept, and silently munge, lists. I opened #33135 to track this more general problem so I think there is no more action required here.

[2018-08-24 16:12] #30946 closed

[2018-08-24 17:28] rjernst commented on #26959
@SantoshKumarA An explicit elasticsearch dependency should not be necessary, as it is a transitive dependency of the high level rest client. You can see this in the [published pom for 6.4.0](https://search.maven.org/artifact/org.elasticsearch.client/elasticsearch-rest-high-level-client/6.4.0/pom). Can you please open a [discuss issue](https://discuss.elastic.co) for your problem? We can better hel

[2018-08-24 17:40] danielkasen commented on #32917
I've lost those logs, but it basically happens every time I do a rolling restart of a handful of nodes at once. Here is the latest one: https://gist.github.com/danielkasen/c9c5ac66236724f71dde0d4ca7a29d57#file-production-elasticsearch-logs-log

[2018-08-24 18:36] nik9000 commented on #33128
I muted the "with security" version of these tests.

[2018-08-24 18:51] #29933 closed

[2018-08-24 18:51] #29712 closed

[2018-08-24 18:58] elasticmachine commented on #33122
Pinging @elastic/es-core-infra

[2018-08-24 19:08] DaveCTurner commented on #32917
Thanks. These logs are a slightly weird combination of copious `DEBUG` messages from things we haven't asked for like `o.e.i.m.MapperService` and `o.e.i.c.b.BitsetFilterCache`, and yet no `DEBUG` or `TRACE` messages from the places we need, which is puzzling. I have just confirmed by experiment against a 6.3.2 cluster that

[code]

does indeed cause a lot more output when nodes join and leave the

[2018-08-24 19:11] loekvangool commented on #30025
Has this been superseded by https://github.com/elastic/elasticsearch/issues/30243 and thus, closable? Many ERs are linked to this one and its predecessor: https://github.com/elastic/x-pack-elasticsearch/issues/424

[2018-08-24 19:46] jaymode commented on #30025
Yes this one is superseded by #30243. Closing.

[2018-08-24 19:46] #30025 closed

[2018-08-24 19:47] jaymode commented on #32739
@bizybot can you please track down this failure?

[2018-08-24 19:47] elasticmachine commented on #32739
Pinging @elastic/es-security

[2018-08-24 19:48] jaymode commented on #32468
@bizybot can you please provide an update here?

[2018-08-24 19:49] jaymode commented on #32699
I removed the team-discuss from this issue since we have a way forward. I also removed the 6.5 label as we typically don't use version labels on issues but more on PRs.

[2018-08-24 20:43] rafaelglater commented on #32652
@kramarz I was also having trouble with non-nested fields (which I realized later, after opening this bug). Since my needs couldn't wait for this bug fix, I changed my code to request term vectors field by field separately and assigning "zero" in the cases where I got an error... This was time-consuming, by the way... Good to know it's fixed in version 6.4. I'll give a try. Thank you for letting m

[2018-08-24 20:43] #32652 closed

[2018-08-24 21:41] dnhatn commented on #32986
I opened https://github.com/elastic/elasticsearch/pull/33141.

[2018-08-25 09:18] pakein commented on #33122
I use 6.3.0， i read the code of 6.4.0, it seems have the same problem

my code， the client api addMapping（type，XContentBuilder ） is confused，it seems XContentBuilder do not need the type
[code]

contains  ***** is my comment
MetaDataIndexTemplateService.validateAndAddTemplate
[code]

MappingService
[code]

when read meta from file , check mapping size == 1, so read meta fail.

[code]

[2018-08-25 10:28] aditya-agrawal commented on #31927
@mayya-sharipova yes I will try to complete this in few days.

[2018-08-25 10:32] s1monw commented on #33049
I have a general question, are you comparing the memory consumption of optimized indices? If not I think the numbers are misleading. It would be good to clarify this.

[2018-08-25 10:45] ddorian opened #33145 "Don't use global ordinals on join-field when _id is guaranteed to be integer"
In many cases, the _id are guaranteed to be integer/long since they come from another db. In those cases, we can use a doc_values(long) to make the join_field() and not use global ordinals.

Makes sense ?

[2018-08-25 10:51] cdahlqvist commented on #33049
No, these numbers are not for optimized indices. I have just indexed ~25GB of data and refreshed before recording statistics. I agree this is one of the tests we should run, but also feel forcemerging is not always a realistic option when you are running with quite large shards as per our best practices for logging and metrics use cases, so gains without forcemerging are also of interest even if t

[2018-08-25 10:53] s1monw commented on #33049
this is a misconception IMO. We try to compare the memory consumption of a certain ID format. If you end up with a lot more segments in a certain case due to some indexing patterns and your other ID has  only half the segments you might think it takes 1/2 the memory but in fact it's the same or even more. If you want to compare the numbers you have to compare apples against apples and therefor for

[2018-08-25 10:57] cdahlqvist commented on #33049
Agreed. I will rerun it and record stats before and after a forcemerge.

[2018-08-25 18:41] #31840 closed

[2018-08-25 21:25] #32930 closed

[2018-08-26 06:50] leeeboo opened #33150 "The cache metrics always 0"
**Elasticsearch version** (`bin/elasticsearch --version`):6.4.0

**Plugins installed**: [analysis-ik]

**JVM version** (`java -version`):1.8.0_181

**OS version** (`uname -a` if on a Unix-like system):CentOS 7 4.18.3-1.el7.elrepo.x86_64

**Description of the problem including expected versus actual behavior**:

We have all cache metrics 0, such as:

/_stats/request_cache?human

[code]

**Steps to

[2018-08-26 12:39] weizijun opened #33151 "java.lang.IllegalStateException: Message not fully read (response) for requestId [4504014635], handler"
Describe the feature:

Elasticsearch version (bin/elasticsearch --version):
2.3.3

Plugins installed: []
delete-by-query
license
marvel-agent

JVM version (java -version):
Java HotSpot(TM) 64-Bit Server VM (build 25.77-b03, mixed mode)

OS version (uname -a if on a Unix-like system):
2.6.32-573.18.1.el6.toav2.x86_64 #1 SMP Sun Jul 17 12:44:29 CST 2016 x86_64 x86_64 x86_64 GNU/Linux

Description of

[2018-08-26 15:05] srinivasulurao opened #33152 "No 'Access-Control-Allow-Origin' header is present on the requested resource."
Hi,

I have been using the elasticsearch 6.3.2 and it seems like this version still needs some corrections to handle the "Allow Cross Origin" problem. I was simply using an ajax call to fetch the data from the elasticsearch, no matter whichever dataType i use, it was throwing the error for me.

here is my code.
[code]
I even tried adding the  following config setting in the elasticsearch.yml, but

[2018-08-26 15:17] #33152 closed

[2018-08-26 17:44] jasontedor commented on #33151
Heya, sorry to hear that you’re having trouble. Though for us 2.3.3 is end-of-life and we no longer support it. If you can reproduce this issue on a supported version we would take a look.

[2018-08-26 17:44] #33151 closed

[2018-08-26 18:35] jasontedor commented on #33150
Please see the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/6.4/shard-request-cache.html) for the request cache. This is expected if your search requests do not have `size` set to `0` or if you are not explicitly using the request cache on requests without `size` set to `0` with the parameter `request_cache` set to `true`.

[2018-08-26 18:35] #33150 closed

[2018-08-27 05:14] tvernum commented on #32777
I have a prototype of how this could work within `_has_privileges` here: https://github.com/tvernum/elasticsearch/tree/app-priv/any-resource

If the `resources` array is `null`, it will be implied to be the set of resources that have been granted to the user.

[2018-08-27 05:47] #33082 closed

[2018-08-27 08:29] luyuncheng opened #33159 "Search Performance Improving In Concurrency Searcher?"
**Describe the feature**:
I Checked ES6.x and other version which before 6.3.2, Every query use just one thread to execute query in one shard. Every IndexSearcher do search function in one thread, and they have to search each sub reader in one loop, at same time,  every Collector doesn't concurrent use LeafReader.  I wonder why not use SearcherManager and Concurrent Collector?

[2018-08-27 08:33] jimczi opened #33160 "Postings based completion suggester"
### Context

The `completion` suggester is a good fit for applications that have a strong a-priori weighting for each suggestion.
It is optimized for speed to provide a search experience based on what the user has already typed in. However searching for suggestions cannot be mixed with filters on other fields. Users can configure `context`s to add some filtering on top of this suggester but this f

[2018-08-27 08:33] elasticmachine commented on #33160
Pinging @elastic/es-search-aggs

[2018-08-27 09:40] DaveCTurner commented on #30197
I think this can be achieved in Elasticsearch today by tuning the log4j configuration to write more verbose logs to an appender with a sufficiently enthusiastic rollover policy and a short retention window.

Of course this still imposes the overhead of formatting all the extra messages and writing them out. I think it's essential to format the messages eagerly in any case: if not, the objects need

[2018-08-27 10:36] costin opened #33162 "SQL: Multiple indices pattern"
While SQL supports multiple indices, ES [indices patterns](https://www.elastic.co/guide/en/elasticsearch/reference/current/multi-index.html) is not, in particular index exclusion or the date expression.
To some degree this is related to #31837, as it involves the validation and discovery of the indices.

[2018-08-27 10:36] elasticmachine commented on #33162
Pinging @elastic/es-search-aggs

[2018-08-27 10:44] cbuescher commented on #33101
@DaveCTurner I have found I had to add `--resource=x-pack/docs/` for quite a while now, does this help? I think I had a chat about it with docs team at some point, cannot find the exchange though atm.

[2018-08-27 10:48] cbuescher commented on #33101
Found the exchange I had about this with @lcawl in https://github.com/elastic/docs/pull/372. @DaveCTurner Does this help?

[2018-08-27 11:04] khosrojerdi commented on #20633
I know it is quite late to put a comment here but I need help in same area.
For using the azure as my repository, I need to use https://***.blob.core.cloudapi.de/ instead of "https://***.blob.core.windows.net/" but I could not find any where to set this host!
I am using elastic search version 5.5.1.

Right now, I am getting the following error:
java.net.UnknownHostException: ***.blob.core.windows.

[2018-08-27 11:11] ekalgolas commented on #24847
@mrec @colings86 This is already fixed in master. The doc now states:

The familiar boolean operators `AND`, `OR` and `NOT` (also written `&&`, `||`
and `!`) are also supported but beware that they do not honor the usual
precedence rules, so parentheses should be used whenever multiple operators are
used together. For instance the previous query could be rewritten as:

`((quick AND fox) OR (brown

[2018-08-27 11:38] albertzaharovits commented on #33145
@ddorian Can you please elaborate on what exactly are you suggesting as an optimization?
I get it is something related to disabling global ordinals in the case of a join relation, but I cannot fathom exactly for what field to disable global ordinals for and in which case that is supposed to improve performance.

[2018-08-27 11:42] elasticmachine commented on #33145
Pinging @elastic/es-search-aggs

[2018-08-27 11:48] dvdeurse opened #33163 "Null Pointer when using tophits on double nested field"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.3.2

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_171

**OS version** (`uname -a` if on a Unix-like system): Alpine 3.8

**Description of the problem including expected versus actual behavior**:

Prerequisites to reproduce the problem:
* a mapping with a double nested structure, where at least two fields are presen

[2018-08-27 12:05] albertzaharovits commented on #33159
@luyuncheng You seem to be in the know of Lucene datastructures and you are suggesting a concurrency improvement. Although I cannot help with an answer, I will label this issue in the hope it will garner more qualified attention.

In the mean time, may you please elaborate your question a bit:

Where use it? In place of what? Does this improvement sits in the Elasticsearch or the Lucene land?

[2018-08-27 12:06] elasticmachine commented on #33159
Pinging @elastic/es-search-aggs

[2018-08-27 12:08] ddorian commented on #33145
@albertzaharovits in cases where the _id you're joining is a `number` since aggregations on `number` don't need global ordinals.

[2018-08-27 12:11] ddorian commented on #33145
From the docs
question parent:
[code]
answer child:
[code]

We can set an option, that guarantees that all `_id` are `number`, and then don't use global-ordinals on the join field.

[2018-08-27 12:29] atorok commented on #31897
After spending some more time on this, the custom logger doesn't offer an acceptable solution as it replaces the default logging, which we would need to re-implement to get the same functionality - displaying stack traces for `GradleExceptions` will explore using build scans instead.

[2018-08-27 12:29] #31897 closed

[2018-08-27 12:59] luyuncheng commented on #33159
@albertzaharovits As a example in es6.3.2, and lucene7.3.1, when QueryPhase do the searcher.search(query, queryCollector) job, it jump to Lucene IndexSearcher's search function. this function is lower-level search API.  All the search operation only in one thread like Read Segment, Collect field etc. However, another search API with collectorManager it can slice LeafReader which is multi thread. i

[2018-08-27 13:03] jkakavas opened #33168 "Handle extra headers in PEM encoded private key files"
Openssl adds some extra headers ( `Bag Attributes` and `Key Attributes` ) to keys that it exports from `PKCS#12` containers, i.e
[code]

This information is redundant as the notion of `Bags` is relevant only for `PKCS#12` and can be disregarded, so we should ensure that `PemUtils` can read private key files even when this is present in a PEM  key file.

[2018-08-27 13:03] elasticmachine commented on #33168
Pinging @elastic/es-security

[2018-08-27 13:09] li-boxuan opened #33169 "[DOCS] CONTRIBUTING.md has a typo"
In section https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md#contributing-to-the-elasticsearch-codebase, it seems the position of comma is wrong.

should be

[2018-08-27 13:48] astefan opened #33170 "Multi nested inner_hits failing with NPE if _source is filtered"
[code]

The scenario above fails with the following stack trace, but if I remove the `includes` block, it returns the matching document:

[code]

[2018-08-27 13:48] elasticmachine commented on #33170
Pinging @elastic/es-search-aggs

[2018-08-27 14:00] astefan commented on #33080
Another scenario showing the complex world of nested queries is here: https://discuss.elastic.co/t/sql-surprising-results-with-multiple-levels-of-nesting/145862

[2018-08-27 14:02] jkakavas commented on #33168
Bags and attributes are discussed in https://tools.ietf.org/html/rfc7292 . Openssl  seems to support adding the `Bag Attributes` and `Key Attributes` from the safe bug and the cert bag:

https://github.com/openssl/openssl/blob/7d38ca3f8bca58bf7b69e78c1f1ab69e5f429dff/apps/pkcs12.c#L670

but there seems to be no specification that explicitly defines how these attributes are to be presented in a key

[2018-08-27 14:18] jasontedor commented on #33169
Closed by c41c614527c70e54245df848ab17e23359837566.

[2018-08-27 14:18] #33169 closed

[2018-08-27 14:18] jasontedor commented on #33169
Thanks a lot for the report @li-boxuan. I have pushed a correction for this.

[2018-08-27 14:28] pcsanwald commented on #29827
CCing @costin to decide on whether or not we need to include SQL REST endpoint in HL REST client and update this issue with that decision.

[2018-08-27 14:56] #32831 closed

[2018-08-27 15:46] jaymode opened #33175 "UnboundID SDK catches throwable and rewraps hiding a fatal error"
As with some other libraries used in our codebase, the unboundid ldap sdk catches throwable in places and re-wraps what could be a potentially fatal error in an LDAPException:

https://github.com/pingidentity/ldapsdk/blob/0eac394a077323485b850a90e55f926bc035023f/src/com/unboundid/ldap/sdk/LDAPConnectionPool.java#L1623-L1675

We should raise an issue with the upstream library to ask that they stop

[2018-08-27 15:47] jasontedor commented on #33175
😱

[2018-08-27 16:01] jpountz commented on #32570
Even though this won't solve all issues, we agreed to implement the above proposal (https://github.com/elastic/elasticsearch/issues/32570#issuecomment-412450417), which will remove some surprises. We should also document that scaled floats are prone to floating-point accuracy issues, the fact that our docs use scaling factors of 100 or 1000 which might suggest like this is actually a decimal type.

[2018-08-27 16:08] lcawl commented on #33101
For up-to-date documentation build commands, see https://github.com/elastic/docs/blob/master/doc_build_aliases.sh

[2018-08-27 16:26] mayya-sharipova commented on #24910
Closing this ticket, as there is no further user feedback.

[2018-08-27 16:26] #24910 closed

[2018-08-27 16:29] mayya-sharipova commented on #21625
@gronostajo  @fbaligand @rbower54
We would like to learn more about your use case of requesting _termvectors on nested fields? What is your application for them? Thanks.

[2018-08-27 16:44] vanessasoutoc opened #33177 "@nds"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2018-08-27 16:48] nik9000 commented on #33177
It looks like this was opened in error because it is empty.

[2018-08-27 16:48] #33177 closed

[2018-08-27 17:00] nik9000 opened #33179 "fips builds don't pass forbidden api tests"
Ever since https://github.com/elastic/elasticsearch/commit/82d10b484a20514e70f6d773544ffea62e57f711 the forbidden API checks have been failing on the fips builds. It isn't clear if this is a problem with the build or it is revealing a real problem with our fips compliance. I'm assigning to @atorok to investigate because he made the commit that broke the builds. If it turns out that this is a probl

[2018-08-27 17:01] elasticmachine commented on #33179
Pinging @elastic/es-core-infra

[2018-08-27 17:04] elasticmachine commented on #33163
Pinging @elastic/es-search-aggs

[2018-08-27 17:04] nik9000 commented on #32686
Another one!

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java11,nodes=virtual&&linux/263/console

[2018-08-27 17:27] fbaligand commented on #21625
Hi,

I have a complex analyzer (numerous filters), that extracts one term from a big text.
I want to see what is the result term for a given document.

[2018-08-27 17:41] pcsanwald opened #33181 "AutoDateHistogramAggregatorTests is slow"
This test class can occupy around 40% of `:server:test` time.

[code]

[2018-08-27 17:41] elasticmachine commented on #33181
Pinging @elastic/es-search-aggs

[2018-08-27 18:29] nik9000 opened #33185 "Watcher: Mysterious rolling upgrade failure"
[This](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/6925/console) rolling upgrade build failed fairly mysteriously. This is what the failure looks like:

[code]

This is in the "old" cluster so the cluster state is empty, but we still get an error as though the watch was running.

[2018-08-27 18:29] elasticmachine commented on #33185
Pinging @elastic/es-core-infra

[2018-08-27 18:29] metalmumu commented on #33009
I still have this issue with 6.3.1
I've tested with 6.4.0 and still here

[2018-08-27 18:36] jimczi commented on #33145
That's an interesting idea but `global ordinals` are also used because they provide a dense mapping.
For queries for instance we use a bitset to record the global ordinals of the parent that matches the query and then use this bitset to filter children. Without a dense mapping we'd need to use a `Set` to record the `Integer` (assuming that the ids are integers) and this would require a lot of memo

[2018-08-27 18:37] jimczi commented on #33009
@metalmumu the fix is not released yet, the pr is marked with 6.4.1 and 6.5.0.

[2018-08-27 18:48] metalmumu commented on #33009
This issue is still not fixed, tested it with 6.3.2 and 6.4.0

[2018-08-27 18:51] metalmumu commented on #33009
Do you know when 6.4.1 will be released?
Or could you tell me if there is a version 6.x without this bug?

[2018-08-27 19:17] ddorian commented on #33145
Hmmm, this maybe can be fixed with a per-shard dictionary.
Don't know how that works and it's cons.

Have no other idea for now.

[2018-08-27 19:39] s1monw commented on #33128
fixed by https://github.com/elastic/elasticsearch/commit/679aa9422de77c65679b7ce2642a18e0be8014a8

[2018-08-27 19:39] #33128 closed

[2018-08-27 19:59] #32986 closed

[2018-08-27 20:51] jaymode commented on #33175
I opened https://github.com/pingidentity/ldapsdk/issues/49 for the library maintainers' consideration; PingIdentity does not accept third party contributions for the ldapsdk so this is not something we could submit a patch for.

[2018-08-27 21:47] jakelandis opened #33188 "ingest: Documentation improvements for ingest node"
- [x] document the use of `tag` [1] (@jakelandis) https://github.com/elastic/elasticsearch/pull/35091
- [x] call out which field/processors support templating [2] #34536 (@jakelandis)
- [x] raise visibility of the plugin processors [3]  (@jakelandis) https://github.com/elastic/elasticsearch/pull/35048
- [x] default pipeline and index settings [4] #34500 (@jakelandis)
- [x] Pipeline processor : htt

[2018-08-27 21:47] elasticmachine commented on #33188
Pinging @elastic/es-core-infra

[2018-08-27 21:57] rjernst commented on #33001
HttpURLConnection should follow redirects by default. What output do you get from `elasticsearch-plugin` that indicates the installation failure is because of a failure to follow the redirect?

[2018-08-27 22:01] rjernst commented on #33030
@ywelsch What about adding file based discovery as a dependency of the test framework? It would slightly complicate the file based discovery unit tests, but we didn't add it to server in the first place for a reason right?

[2018-08-27 22:03] jasontedor commented on #33030
That’s not enough, it needs to be available as production code for external-to-us  reasons.

[2018-08-27 22:32] rjernst commented on #33030
That was not in this issue description? I only see test uses.

[2018-08-27 22:37] lquerel commented on #15731
Happy to see that you finally integrated this feature.

[2018-08-27 22:40] jasontedor commented on #33030
@rjernst I will reach out to discuss.

[2018-08-27 23:05] rjernst commented on #27330
@MovGP0 The joda time project encourages users to migrate to the the java time api. From a maintainability perspective, we are moving to java time to both eliminate an external dependency and ensure bugs are fixed.  From a format support perspective, joda time and java time are very similar. There are a only a handful of format specifiers that changed, and the year of century mentioned above is th

[2018-08-28 00:49] tomcallahan commented on #33188
This is a great list @jakelandis .  Is this issue a good place for @eskibars to discuss some documentation items as well or do you want to keep this one tightly scoped?

[2018-08-28 07:03] jkakavas commented on #33179
`:x-pack:plugin:security:cli:` is the only module that has a compile and runtime dependency in BouncyCastle ( it was split out of security for that exact reason ).

We already do not run tests in a FIPS JVM,
https://github.com/elastic/elasticsearch/blob/71d5c66fd384aaebfb83e0b24920df984eb9f09b/x-pack/plugin/security/cli/build.gradle#L23-L25
so should we also disable forbiddenApi ?

[2018-08-28 07:04] #31715 closed

[2018-08-28 07:30] tvernum commented on #32777
I now also have a prototype of a brand new API `GET /_xpack/security/user/_privileges`
https://github.com/tvernum/elasticsearch/tree/list-privileges

This returns a user's full set of privileges with 2 caveats:
1. It doesn't attempt to represent the conditions on `"global"` privileges. e.g. It will claim that the `kibana` user has the `cluster:admin/xpack/security/privilege/*` cluster privilege, e

[2018-08-28 07:39] leeeboo opened #33191 "/_nodes/stats/indices/query_cache query_cache always empty"
Elasticsearch version (bin/elasticsearch --version):6.4.0

Plugins installed: [analysis-ik]

JVM version (java -version):1.8.0_181

OS version (uname -a if on a Unix-like system):CentOS 7 4.18.3-1.el7.elrepo.x86_64

Description of the problem including expected versus actual behavior:

We have all cache metrics 0, such as:

/_nodes/stats/indices/query_cache

[code]
**Steps to reproduce**:

elastic

[2018-08-28 07:50] atorok commented on #33179
Forbidden APIs used to be ran with the JVM running Gradle and I switched to running it with run-time java, which in this case is FIPS. I would like to understand why the forbidden patterns are triggered, maybe we could selectively disable rules instead of disabling it all.

[2018-08-28 07:57] tvernum commented on #32777
@elastic/es-security - your input is appreciated here.

**TL;DR** :
- [Option 1](https://github.com/tvernum/elasticsearch/tree/app-priv/any-resource) : Extend `_has_privileges`
- [Option 2](https://github.com/tvernum/elasticsearch/tree/list-privileges) : Add a new API

---

First a bit of background. @kobelb spoke to me about this a few weeks ago, and we agreed that since ES is now in the business

[2018-08-28 07:58] greenx opened #33192 "Checking the existence of the index by mask."
I tried to check the existence of indexes by mask.
Elasitsaarch always returns "200".
[code]
[code]
ES 5.6.9

[2018-08-28 08:04] spinscale opened #33193 "Painless: BWC breaking parsing change in 6.3.0 onwards"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.4.0/6.3.2 (works in 6.2.4)

**Description of the problem including expected versus actual behavior**:

Parsing of scripts seems to have changed from 6.2 onwards, meaning that requests and watches that worked on 6.2 will suddenly break in 6.3 and above.

**Steps to reproduce**:

Run this script field with 6.3 and you will get

[code]

Thi

[2018-08-28 08:04] elasticmachine commented on #33193
Pinging @elastic/es-core-infra

[2018-08-28 08:30] cawoodm commented on #33048
Yaaay, it works in 6.4.1!

[2018-08-28 08:37] javanna commented on #29880
New failure, same as the original one: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/265/console . I wasn't able to reproduce it.

[2018-08-28 08:55] jimczi commented on #33048
@cawoodm  did you mean 6.4.0 ?

[2018-08-28 10:34] elasticmachine commented on #33192
Pinging @elastic/es-core-infra

[2018-08-28 10:35] markharwood commented on #33192
Reproduced in 6.4

[2018-08-28 10:40] javanna opened #33197 "TokenBackwardsCompatibilityIT fails on 6.x"
`TokenBackwardsCompatibilityIT#testTokenWorksInMixedOrUpgradedCluster` fails on 6.x.

The reproduce line does not quite work (the test gets skipped for me due to a failling assumption), but I was able to reproduce with the same seed executing from `x-pack/qa/rolling-upgrade/with-system-key` the following command: `../../../../gradlew check -Dtests.security.manager=true -Dtests.locale=nl-BE -Dtests

[2018-08-28 10:40] elasticmachine commented on #33197
Pinging @elastic/es-security

[2018-08-28 10:43] ahadadi opened #33198 "Primary shard recovery time slower in 6.3.2 than 5.6.7"
**Elasticsearch version** (6.3.2)

**Description of the problem including expected versus actual behavior**:
When upgrading from 5.6.7 to 6.3.2, we've noticed that relocating a primary shard takes longer.
It seems that in 6.3.2, when relocating a primary shard to a different node, translog operations are being replayed. This happens even if the shard on the source node was successfully flushed, wh

[2018-08-28 11:04] javanna commented on #29244
Another recent failure like these: https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+5.6+multijob-windows-compatibility/2289/console .

[2018-08-28 11:05] markharwood commented on #33191
You may want to review [the difference between request caching and query carching](https://discuss.elastic.co/t/shard-request-cache-vs-node-query-cache/91046/2?u=mark_harwood).
Note that query caching only kicks in [under certain conditions](https://github.com/apache/lucene-solr/blob/master/lucene/core/src/java/org/apache/lucene/search/UsageTrackingQueryCachingPolicy.java#L174)

Can you clarify wh

[2018-08-28 11:05] elasticmachine commented on #33191
Pinging @elastic/es-search-aggs

[2018-08-28 11:08] cawoodm commented on #33048
Oh yes! 6.4.0

[2018-08-28 11:10] elasticmachine commented on #33198
Pinging @elastic/es-distributed

[2018-08-28 11:16] jasontedor commented on #33198
We replay the translog operations so that the relocated shard has a history of operations in its translog too. This history is important for operations-based recoveries (when a shard temporarily goes offline and only needs to replay some operations to catch up). By default, we are now retaining 512 MB or twelve hours of translog files for these purposes. We are making some improvements here as we

[2018-08-28 11:26] DaveCTurner commented on #33030
I was not aware of a non-test-related reason for doing this. I am also not aware of the reasons why we kept it out of `server`. Moving it in seems benign - it's a small piece of code and does nothing unless configured - but that is not a convincing argument if there are other ways to achieve the same ends.

Are there other plugins that are available to integ and REST tests? I ask so I can look at

[2018-08-28 11:31] jasontedor commented on #33192
When you issue a wildcard request, there are various flags on the request that control how the wildcard is expanded. The default is strict expand open which means that any concrete indices must exist, wildcards expand to open indices only, and it is allowed that no indices are resolved. This is why `d2oc-*` can expand to no indices. If you don't want this behavior, you need to use different flags:

[2018-08-28 11:31] #33192 closed

[2018-08-28 11:33] javanna opened #33199 "SnapshotShardsServiceIT#testRetryPostingSnapshotStatusMessages fails on 6.4"
`SnapshotShardsServiceIT#testRetryPostingSnapshotStatusMessages` failed twice in the last week or so on 6.4:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java10,nodes=virtual&&linux/49/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+periodic/189/console

I was not able to reproduce this.

[cod

[2018-08-28 11:33] elasticmachine commented on #33199
Pinging @elastic/es-distributed

[2018-08-28 11:35] jasontedor commented on #33030
There are non-test production use-cases, for example Cloud providers and Docker. One of the big advantages of file-based discovery is that we reload the file when discovery is needed so that hosts can be dynamically added. This is unlike the unicast host list which is not dynamic. That it is a file is also convenient for deployment.

I am not either. And I do not see a compelling reason to keep it

[2018-08-28 11:37] jimczi opened #33200 "CompletionFieldMapper should ignore null values"
Today the `completion` field throws an exception if the json input is an explicit `null` value.
The other field types just ignore these inputs so I don't see a reason why we should do differently here.
This would also allow unsetting suggestions in the partial update case.

[2018-08-28 11:37] elasticmachine commented on #33200
Pinging @elastic/es-search-aggs

[2018-08-28 11:48] javanna opened #33201 "Execution failed for task ':test:fixtures:krb5kdc-fixture:extractJar'"
This one failed four times in the last ten days. Last two failures are:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos/2628/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos/2637/console

Looks like a test infra problem:

[code]

[2018-08-28 11:48] elasticmachine commented on #33201
Pinging @elastic/es-core-infra

[2018-08-28 11:48] DaveCTurner commented on #33030
Makes sense, thanks @jasontedor.

[2018-08-28 11:53] greenx commented on #33192
It is clear, but not logical.
And in the docs not a word.
IMHO, then defalult value for this request must "false".
P.S. In the examples "-XGET" superfluous. -I ~= -X HEAD.

[2018-08-28 12:50] jasontedor commented on #33192
We have a page on [API conventions](https://www.elastic.co/guide/en/elasticsearch/reference/6.4/multi-index.html). What the docs do not spell out is the defaults, but in most cases it is the strict expand open that I mentioned (which translates to `allow_no_indices=true` and acts on open indices only.

I agree, if I could do it over it would be the default. At this point it would be a massive brea

[2018-08-28 12:52] #33198 closed

[2018-08-28 12:55] #31651 closed

[2018-08-28 13:15] paulcarey opened #33204 "SQL array handling is inconsistent"
The following applies to Elasticsearch 6.3.

Selecting array fields is not handled consistently and should be revised.

If a document contains an array of primitive (e.g. string, number), an attempt to project that field will fail with an error like `Arrays (returned by [values]) are not supported`. This behaviour is unnecessarily restrictive. There may be a misconception over SQL or JDBC array su

[2018-08-28 13:28] alexfrancoeur commented on #30287
I've run into this with queries in Canvas as well

[code]

[2018-08-28 13:29] jakelandis commented on #33188
@tomcallahan @eskibars - please add/discuss at will. This is meant to be more of a meta issue and changes will come in multiple pr's.

[2018-08-28 13:31] javanna commented on #32827
Although on a different test method in the same test class, I think this is the same failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=virtual&&linux/265/console . I can't repro either.

[code]

[2018-08-28 13:42] jimczi commented on #33200
Thanks @tony-dillon , we cannot assign issue to users but feel free to work on it. I'll remove the adoptme label.

[2018-08-28 14:38] jaymode opened #33205 "Reduce the need to reload roles from index"
If the roles.yml file is changed, the Security code takes the heavy handed approach of invalidating all cache entries rather than those that use changed roles. This should be a rare occurrence but in a busy cluster this is problematic since any roles stored in a index will need to be reloaded, which means a search (or get if only one name is requested) needs to be executed and shares the same thre

[2018-08-28 14:38] elasticmachine commented on #33205
Pinging @elastic/es-security

[2018-08-28 14:43] jaymode commented on #33197
Sorry for the noise. This is due to my bad backport yesterday. I pushed d9044c71b331373358be62236336fe5290229528

[2018-08-28 14:43] #33197 closed

[2018-08-28 14:59] jdconrad commented on #33193
@spinscale Will take a look soon.

[2018-08-28 16:01] costin commented on #33204
Thanks for the detailed (and formatted) issue - it's really appreciated.

The root issue with arrays comes from ES - the mapping doesn't indicate whether a field is an array (has multiple values) or not so without reading _all_ the data, ES-SQL cannot know whether a field is a single or multi value.

As you pointed, one way to handle that is through explicit statements though each (including `LATE

[2018-08-28 16:03] yaronp68 opened #33207 "[BUG] Roles table is different in design than other management tables"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
6.4
**Plugins installed**: []

**JVM version** (`java -version`):
10
**OS version** (`uname -a` if on a Unix-like system):
macOS 10.13.6
**Description of the problem including expected versus actual behavior**:
ROles table is centered and not spreaded-out like other management tables
![image 1](https://user-image

[2018-08-28 16:04] yaronp68 commented on #33207
opened by mistake in elasticsearch

[2018-08-28 16:04] #33207 closed

[2018-08-28 16:42] jdconrad commented on #33193
Posted a fix (https://github.com/elastic/elasticsearch/pull/33212)

[2018-08-28 16:45] BobBlank12 commented on #31853
Would this also cause watches created by an ML job in 6.3 to not execute properly as well?  Error is:
[2018-08-27T20:40:51,497][ERROR][org.elasticsearch.xpack.watcher.input.search.ExecutableSearchInput] failed to execute [search] input for watch [ml-ml-test], reason [cannot write xcontent for unknown value of type class java.time.LocalDateTime]

[2018-08-28 16:46] jaymode opened #33213 "Run LDAP tests against 389-ds"
Currently our LDAP tests are run against an OpenLDAP fixture. A recent announcement shows the RHEL and SLES are withdrawing support for OpenLDAP in favor of 389-ds. This issue is being opened to discuss testing against the 389-ds server in addition to OpenLDAP testing.

[2018-08-28 16:46] elasticmachine commented on #33213
Pinging @elastic/es-security

[2018-08-28 17:02] polyfractal opened #33214 "[Rollup] Support for data-structure based metrics (Cardinality, Percentiles, etc)"
We would like to support more complex metrics in Rollup such as cardinality, percentiles and percentile ranks.  These are trickier since they are calculated from data sketches rather than simple numerics.

They also introduce issues with backwards compatibility.  If the algorithm powering the sketch changes in the future (improvements, bug-fixes, etc) we will likely have to continue supporting the

[2018-08-28 17:02] elasticmachine commented on #33214
Pinging @elastic/es-search-aggs

[2018-08-28 17:41] jaymode commented on #33175
This has been addressed in the upstream library by commit https://github.com/pingidentity/ldapsdk/commit/9b012d25b8555a5eddb6fd47aafe6b931abe8fe6. We'll still want a stop-gap until a version with said commit is released and we upgrade to it.

[2018-08-28 17:50] robert-blankenship commented on #31165
Getting the same issue, on Java 8 u181. We have containers running on multiple appliances, each with identical hardware.

[2018-08-28 19:27] albendz commented on #32804
I'm wondering if I can pick this up.

Also, is there a way for us to provide a trivial script that they can reference in this call? It would just be a way to reduce error for users if they try and fail to write a trivial script by providing them with one.

[2018-08-28 19:48] #31775 closed

[2018-08-28 20:16] jdconrad commented on #33193
This is fixed.

[2018-08-28 20:16] #33193 closed

[2018-08-28 22:34] joshuar opened #33219 "Redact any *.password settings found in /_cluster/settings when fetching that endpoint"

[2018-08-28 23:02] #33219 closed

[2018-08-28 23:19] gwbrown opened #33220 "Add User-Defined Cluster Metadata"
It would be useful to have user-defined, cluster-wide metadata can be set and accessed by users, particularly users who run multiple clusters.  Example use cases include:

1. An organization with multiple clusters, each under a different administrator, could set `"administrator": "joe@example.com"` to quickly identify the owner of each cluster.
2. An organization with different clusters for Testin

[2018-08-28 23:19] elasticmachine commented on #33220
Pinging @elastic/es-core-infra

[2018-08-28 23:27] kovyrin commented on #33220
/me following

[2018-08-29 00:36] casper1149 opened #33221 "[HighLevelRest] UpdateRequest with Script works incorrectly"
Hello,

Elasticsearch version: 6.4.0

Documentation: https://www.elastic.co/guide/en/elasticsearch/client/java-rest/6.4/java-rest-high-document-update.html#java-rest-high-document-update

JVM version: 1.8.0

OS version: MacOSX 17.6.0 Darwin Kernel

I have an index with next mapping
[code]

I indexed a simple document
[code]

In order to update the "steps" array I created next query
[code]

And it

[2018-08-29 02:15] thomas-tomlinson commented on #32924
I ran into a similar though put issue (assuming that your 8Mbs is actually 8MB/s) on recovery no matter what I set the max_bytes_per_sec (including -1).  Turns out I had the transport.tcp.compress set to true which was the throttle.  Changing that to false made an instant difference and now the bottleneck is either the max_bytes_per_sec setting or the underlying hardware infrastructure.

[2018-08-29 03:07] xgwu commented on #33191
@markharwood   We experienced similar issue since upgrading a cluster from 6.2.4 to 6.3.1.  All query cache stats stayed zeros according to metrics monitored.
![image](https://user-images.githubusercontent.com/10510416/44762932-76f69a00-ab7b-11e8-93c4-ab80cd2c2fd2.png)

The cluster is serving quite high query traffic that involves term/prefix/wildcard/ range filters.  It just makes no sense there

[2018-08-29 03:34] rationull commented on #29328
With the deprecation/bwc removal commit on master I think there's no more work to be done under this task. @rjernst @colings86 do you agree?

[2018-08-29 05:34] paulcarey commented on #33080
I just wanted to highlight an issue listed in the original discussion where a result that should be returned disappears entirely, depending on the projection.

Original query

    POST _xpack/sql?format=txt
    {
      "query": "select groupName from my_index where user.first = 'Alice' or user.last = '???'"
    }

Original result

     groupName
     ---------------
     fans

Modified query with

[2018-08-29 06:01] sergpsu opened #33225 "Scroll by indices mask fails"
I'm using this scroll API query to search multiple indices:
-XPOST activity_stats*/type1,type2,type3/_search?scroll=1h '--some query data--'
it gives me required amount of records, but following

_search/scroll?scroll=1h&scroll_id=$scrollId

returns 404 error:
array(6) {
        ["type"]=>
        string(25) "index_not_found_exception"
        ["reason"]=>
        string(13) "no such index"

[2018-08-29 06:55] cbuescher opened #33227 "[CI] LogStructureFinderManagerTests#testFindCharsetGivenBinary fails reproducibly"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/2636/console

I can reproduce locally on 6.x with:
[code]

Error:
[code]

[2018-08-29 06:55] elasticmachine commented on #33227
Pinging @elastic/ml-core

[2018-08-29 07:05] cbuescher opened #33228 "[CI] SimpleKdcLdapServerTests.testClientServiceMutualAuthentication fails reproducibly"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.4+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java10,nodes=virtual&&linux/65/console

This reproduces locally for me on 6.4:
[code]

Error looks like:
[code]

[2018-08-29 08:00] #31853 closed

[2018-08-29 08:06] DaveCTurner commented on #32924
I think this warrants some further investigation, although I will reiterate @dnhatn's recommendation to reset the translog retention settings back to their defaults. Ops-based recoveries are quicker because they can sometimes avoid reading and transmitting too much data rather than because they are inherently faster: in fact replaying operations from the translog is quite a bit more expensive than

[2018-08-29 08:11] xgwu opened #33229 "Huge number of translog files created during hot index recovery"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.4.0
**Plugins installed**: []

**JVM version** (`java -version`):
1.8.0_152-b16

**OS version** (`uname -a` if on a Unix-like system):
Linux SVR13912HW2288 3.10.0-693.21.1.el7.x86_64 #1 SMP Wed Mar 7 19:03:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
When recovery t

[2018-08-29 08:32] elasticmachine commented on #33221
Pinging @elastic/es-core-infra

[2018-08-29 09:03] #31842 closed

[2018-08-29 09:09] colings86 commented on #32804
@albendz If you'd like to work on this that would be great

We could potentially provide a trivial script int eh documentation but honestly I'm not sure its worth it as the output of the aggregation is not going to be very useful if the user doesn't provide combine and reduce scripts that are specific to their use case.

[2018-08-29 09:10] ekalgolas commented on #33181
Can I work on this?

[2018-08-29 09:12] colings86 commented on #29328
@rationull yep you are right, this can be closed now. Thanks again for your work on this

[2018-08-29 09:12] #29328 closed

[2018-08-29 09:22] astefan opened #33230 "SQL: when security is enabled and the CLI is started without username and password the error message is confusing"
The SQL CLI can be started with `username:password@host:port` type of command to be able to specify the username and password.

But, if this is done and the authentication fails, the error message is confusing/not true:

[code]

Using `-d` one can see the true reason as a stack-trace, but the error message is still incorrect.

[2018-08-29 09:33] DaveCTurner commented on #33101
Thanks @lcawl, that's exactly what I was looking for.

[2018-08-29 09:33] #33101 closed

[2018-08-29 09:35] #33168 closed

[2018-08-29 10:03] cbuescher opened #33231 "[CI] GraphExplorer.testFromXContentWithFailures fails"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=fedora/1258/console

This reproduces locally for me with:
[code]

Error:
[code]

Looks quite similar to #33086 which should be fixed on 6.x. and master, this is another test method though. @markharwood Do you immediately see what is wrong here, since you already fixed a very similar looking issu

[2018-08-29 10:03] elasticmachine commented on #33231
Pinging @elastic/es-search-aggs

[2018-08-29 10:03] rahularora1993 opened #33232 "Incorrect default 'Node Query Cache' size"
**Elasticsearch version**:2.3.4

**Plugins installed**: None

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:
*Expectation*
Either of the following conditions should have been met :
Node query cache size = 10% of the allocated heap space to jvm
Node query cache coun

[2018-08-29 10:27] hrr888 commented on #31197
My cluster is also affected by this bug. Workaround helps only for a few days, then circuit breaker hits the limit again, and I bump it up few percent more. Rolling restart doesn't help.

[2018-08-29 11:00] dschneiter commented on #13935
I just tried it with ES 6.4 but have no luck getting it to work...

[2018-08-29 11:42] costin opened #33237 "Field caps: return intermediate fields not just leaves"
Currently fieldCaps API returns only the leave fields without any info on 'compound' field such as `object` or `nested` or `join`.
To wit, given an inner field, say `a.b` it is impossible to determine what type `a` is.

[2018-08-29 11:42] elasticmachine commented on #33237
Pinging @elastic/es-search-aggs

[2018-08-29 12:30] casper1149 commented on #33221
Just to provide more information, I tried to use the low level client and it works as expected
[code]

[2018-08-29 13:11] cristinaluengoagullo commented on #29630
Hi! I know this issue is closed, but before creating a new one I wanted to ask. After asking in the Elastic forum, they told me the problem would be solved in a future version. I tried with the newest (6.4.0) and I still get the same error :( is it supposed to be fixed already?
Thanks!

[2018-08-29 13:15] #33231 closed

[2018-08-29 13:40] polyfractal commented on #31988
@hzjiangjian any update?  Otherwise I think we can close this, I'm fairly sure it was an instance of https://github.com/elastic/elasticsearch/issues/30608#issuecomment-389326863

[2018-08-29 13:56] #33227 closed

[2018-08-29 14:06] DaveCTurner commented on #32484
This sounds like it could be achieved today with a combination of the X-pack [monitoring](https://www.elastic.co/guide/en/elastic-stack-overview/6.4/xpack-monitoring.html) and [alerting](https://www.elastic.co/guide/en/elastic-stack-overview/6.4/xpack-alerting.html) features, and indeed there is [an example of a watch that sends email when the cluster membership changes here](https://github.com/el

[2018-08-29 14:06] #32484 closed

[2018-08-29 14:11] DaveCTurner commented on #31929
Thanks for your questions @bra-fsn, this kind of discussion is a good way to show us where our docs might be improved. If there's anything more that we can clarify then don't hold back. I'm closing this now as there's been no activity for a while and there's no further action to be taken at the moment.

[2018-08-29 14:11] #31929 closed

[2018-08-29 14:20] markharwood commented on #33231
In follow up tests porting this fix I discovered another variant with seed 57C56B8D4FCC8802
- this seed randomises the "connections" array as opposed to the "vertices" array.
I added "connections" to the list of fields that shouldn't be randomised in 6.x and master

[2018-08-29 14:20] metalmumu commented on #33009
I've tested all 6.x version, the bug is since 6.0 ....

[2018-08-29 14:43] #33179 closed

[2018-08-29 15:04] chakravarthy392 opened #33242 "Elastic search 6.4.0 test case execution failed due to an exception."
**Elasticsearch version** (`bin/elasticsearch --version`): v6.4.0

**JVM version** (`java -version`): openjdk version "10.0.2-adoptopenjdk"

**OS version** (`uname -a` if on a Unix-like system): Linux ubuntu 4.4.0-21-generic #37-Ubuntu SMP Mon Apr 18 18:33:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
Elastic search build is s

[2018-08-29 15:09] pmoust commented on #33112
subscribe

[2018-08-29 15:19] iahmad-khan opened #33244 "Live API for Elasticsearch"
**Describe the feature**:

Is there any Live API available with installation ( live documentation for REST requests that gets installed with local cluster so that users can don't have to copy paste and search things on internet ) ? There is Dev Tools but it doesnt provide live API. It will make things super easy if there is a live API gets installed with elasticsearch and is available as new tab i

[2018-08-29 15:43] albertzaharovits commented on #30052
X-Opaque-Id has been added to the audit logging in https://github.com/elastic/elasticsearch/pull/31878 and https://github.com/elastic/elasticsearch/pull/32260 .
Task Id is still TODO but should not be accessible to implement, see https://github.com/elastic/elasticsearch/blob/6daf8115d6b0b7a4b6e11230fe25dcce11bffa4a/x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/filter

[2018-08-29 16:02] costin opened #33246 "SQL: Refactoring/Removing Unsupported type"
Currently SQL supports a subset of the core ES types, throwing an exception when handling a field with a different type (considered unsupported).
This might be improved by having a more lenient approach for unsupported types; by checking their aggregatable and searchable capabilities, SQL can decide if and how it can use them.
It might not be exact about their type but it can fall back to treating

[2018-08-29 16:07] elasticmachine commented on #33246
Pinging @elastic/es-search-aggs

[2018-08-29 16:26] markharwood commented on #29467
### Re-think: clients want types
I had a chat with @colings86 and we agreed annotation type **is** [useful to client apps](https://github.com/elastic/elasticsearch/pull/30364#issuecomment-415338872).
More generally, structured fields could also use some [entity type metadata](https://github.com/elastic/kibana/issues/22486) - hopefully the annotation's idea of token type would align with entity typ

[2018-08-29 17:12] jakelandis commented on #33188
added a few items above. @original-brownbear if you pick up any of these please put your name next to it so we don't collide.

[2018-08-29 18:17] jasontedor commented on #31197
Elasticsearch 6.2.0 introduced the accounting circuit breaker to account for segment memory usage: #27116. This means that for installations having a large number of shards, it would be expected that this breaker would start tripping on them when it previously was not. All that we have done here is do a better job of accounting for memory and can therefore break now in more situations. This is a g

[2018-08-29 18:17] #31197 closed

[2018-08-29 20:31] cbuescher opened #33249 "[CI] Several failures in LicensingTests"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java10,nodes=virtual&&linux/268/console

No local reproduction possible so far:
[code]

There are NoNodeAvailableExceptions in the log like this
[code]

But there are also Warnings like this about missing master nodes:
[code]

So I suspect something is also wrong in

[2018-08-29 20:31] elasticmachine commented on #33249
Pinging @elastic/es-core-infra

[2018-08-29 20:31] elasticmachine commented on #33249
Pinging @elastic/es-security

[2018-08-29 21:30] cbuescher opened #33251 "[CI] Failure in DiscoveryDisruptionIT.testClusterFormingWithASlowNode"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java8fips,nodes=virtual&&linux/268/console

This doesn't reproduce locally unfortunately:
[code]

Errors:

There are lots of NodeNotConnectedExceptions in the log that look like this:
[code]

After that masters leave and apparently cannot be reelected:
[code]

Final

[2018-08-29 21:30] elasticmachine commented on #33251
Pinging @elastic/es-distributed

[2018-08-30 00:01] hub-cap commented on #33221
Hi,

First off, thank you for a great report and reproduction steps. I went ahead and built out a quick test for this, and found out what you are running up against.

A JsonNode is Iterable. Our XContentBuilder is assuming that any Iterable is an array in [json](https://github.com/elastic/elasticsearch/blob/master/libs/x-content/src/main/java/org/elasticsearch/common/xcontent/XContentBuilder.java#

[2018-08-30 01:11] dnhatn opened #33256 "Should we fail engine immediately after a delete fails?"
This is a spin-off of https://github.com/elastic/elasticsearch/pull/33217#issuecomment-416980172.

Today when a delete operation on a primary fails, we won't immediately fails that shard but "replace" that delete by a NoOp. While this approach sounds correct, its benefit is questionable. What can we recover after a delete fails? If nothing, should we just fail a shard immediately?

Let's revisit t

[2018-08-30 01:11] elasticmachine commented on #33256
Pinging @elastic/es-distributed

[2018-08-30 01:46] #21248 closed

[2018-08-30 04:31] jasontedor commented on #33244
Please forgive my ignorance, but what is a live API? I followed the link to YouTube and I'm sorry to say that I do not have the time to watch a thirty minute video in the hopes to find out. A quick explanation here would help us address your request more adequately and quickly.

[2018-08-30 04:32] jasontedor commented on #33242
Thanks very much for your interest in Elasticsearch.

This does not appear to be a bug. The reason I say this is because our build are green right now, so this failure is likely environmental.

Instead, this appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use Gi

[2018-08-30 04:32] #33242 closed

[2018-08-30 05:43] #33030 closed

[2018-08-30 06:05] hrr888 commented on #31197
Maybe I don't understand something, but how simple request can allocate so much memory:

  curl -X GET 'http://localhost:9200/_cat/health?v'

  {"error":{"root_cause":[{"type":"circuit_breaking_exception","reason":"[parent] Data too large, data for [<http_request>] would be [18213502664/16.9gb], which is larger than the limit of [18193693409/16.9gb]","bytes_wanted":18213502664,"bytes_limit":181936

[2018-08-30 06:11] jkakavas commented on #33251
Can't reproduce locally either.

`java.io.IOException: Invalid keystore format` exceptions are unrelated, see https://github.com/elastic/elasticsearch/issues/32737#issuecomment-412523189

Also not sure why
[code]

didn't fail the build at that time..

[2018-08-30 07:27] danielmitterdorfer commented on #31197
@hrr888 it is not that this particular request allocates so much memory. Circuit breakers are hierarchical so the "parent" breaker accumulates the reserved memory of the other circuit breakers. It is likely that one of the other circuit breakers (see [docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/circuit-breaker.html)) is already reserving a lot of memory and this request j

[2018-08-30 07:32] #23992 closed

[2018-08-30 07:36] hrr888 commented on #31197
Ok, thanks for explanation. But then, this error message is somewhat misleading.

[2018-08-30 08:41] #32985 closed

[2018-08-30 08:48] colings86 opened #33265 "Should the index lifecycle plugin name be changed to "ilm""
We changed all the ILM endpoints from using `index_lifecycle` to `ilm` but the name of the ILM plugin is still `index_lifecycle`. We should maybe change this to `ilm` as well?

/cc @jasontedor @talevy @dakrone

[2018-08-30 08:48] elasticmachine commented on #33265
Pinging @elastic/es-core-infra

[2018-08-30 08:59] jpountz commented on #33049
I tweaked UUIDTests to run some simulations with various patterns for `_id`, indexing rates and numbers of documents. `auto-v2` and `auto-v4` are described above. `original` is the original flake id format which puts the timestamp first, then mac address, then sequence id. `current` is the current pattern that we use for `_id`. `common bytes first` optimizes for disk usage by putting shared bytes

[2018-08-30 09:22] TheoVitkovskiy opened #33266 "How to apply aggregations to collapsed/grouped results?"
In the documentation for field collapsing it states: The collapsing is applied to the top hits only and does not affect aggregations.

My question:

Is there a way to apply aggregations to collapsed/grouped results? I just want the numbers next to the different item attributes reflect the results the user sees on the page.

[2018-08-30 09:33] cdahlqvist commented on #33049
@jpountz That is very interesting. The `common bytes first` approach seems very promising, especially as gains seem to improve with increased indexing rate. It would be useful to see the numbers for the same number of documents indexed at a variety of indexing speeds, e.g. 1k, 2k, and 4k EPS, for comparison.

It would also be interesting to see if/how changing the MAC address (primary shard reloca

[2018-08-30 09:42] atorok commented on #33201
Looking at the logs, `:test:fixtures:krb5kdc-fixture:jar` never ran, despite  the `extractJar` task having `dependsOn jarTask`. Indeed checking on the build machine, the Jar is not there, only the src and doc jars are.  I suspect this is a bug in Gradle around lazy task evaluation  introduced in 4.8 and publicized in 4.9. We recently updated to 4.10 which might have fixed it.

In general it's very

[2018-08-30 09:49] jpountz opened #33267 "Support per-field metadata"
It would sometimes be useful for ingestion tools to be able to associate metadata with fields that could later be leveraged by visualization tools such as Kibana to provide a better out-of-the-box experience. One example that got mentioned a number of times for instance is the ability to know the unit of a field. One way to do it would be by giving Elasticsearch the ability to associate metadata p

[2018-08-30 09:49] elasticmachine commented on #33267
Pinging @elastic/es-search-aggs

[2018-08-30 09:57] romseygeek commented on #33266
You should be able to get what you need by using a top_hits aggregation - see https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-top-hits-aggregation.html#_field_collapse_example

This appears to be a user question, and we'd like to direct these kinds of things to the forums. If you can ask further questions there, we'd appreciate it. This allows us to use

[2018-08-30 09:57] #33266 closed

[2018-08-30 10:25] iahmad-khan commented on #33244
Hi,

A live API is a web UI to all the POST and GET requests to the REST interface supported by the service. In this case  the users just click a partcular GET or POST , it shows the short info about what it does , the parameters it takes , the possible response codes and an option to try it out where user plugin the values if needed and click execute , under the hood it makes the query and posts

[2018-08-30 10:25] romseygeek commented on #33225
Hi,

I think you need to check that `$scrollId` is being pasted back in correctly - `index_not_found_exception` suggests that elasticsearch can't parse what is being sent back as the scroll_id.

We try to reserve Github issues for feature requests and bug reports, and use https://discuss.elastic.co for usage issues.  I'll close this ticket, but please feel free to open a discussion there instead.

[2018-08-30 10:25] #33225 closed

[2018-08-30 10:52] jasontedor commented on #33265
Yes, I thought we discussed this and I only did not pick it up with the initial index_lifecycle -> ilm change because

[2018-08-30 10:57] colings86 commented on #33265
ok, I'll open a PR for this shortly

[2018-08-30 11:02] jasontedor commented on #33265
Would you clarify what you mean by the name? Looking now at the commit I pushed, I think I addressed what I think is the name of the plugin to `ilm`.

[2018-08-30 11:06] markharwood commented on #29467
My vote for the above is option 2 - stripping types. The other options use type in the index and rely on a client that holds and understands entity types for each field - I don't think Kibana is going to be that smart in the short term.
I propose the docs still offer "untyped" examples of markup and the code stays as-is, stripping any  type info from values (which in my view is the least-worst of

[2018-08-30 11:12] colings86 commented on #33265
Sure, I mean:

https://github.com/elastic/elasticsearch/blob/index-lifecycle/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/XPackField.java#L35

This is used in the `GET _xpack` API as the name of the feature.

Much lower priority but we should probably also change:

https://github.com/elastic/elasticsearch/blob/index-lifecycle/x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack

[2018-08-30 11:18] jasontedor commented on #33265
Yes, we should definitely change those. By the name, I was referring to the name of the project (`ilm`) and the archive name (`x-pack-ilm`) and what appears in the startup logs:

[code]

[2018-08-30 11:31] NikitaDuggal opened #33269 "elasticsearch.exceptions.RequestError: RequestError(400, 'illegal_argument_exception', 'Limit of total fields [1000] in index [pv3] has been exceeded')"
I am indexing around 80000 documents  with 2 GB of data size from mongodb to elastic search index using Python. After indexing 16000 documents i receive this error.
 Note : I have been using elasticsearch locally on my computer and not cloud.

Can you please let me know what exactly can be the issue and how can it be resolved?

[2018-08-30 11:31] jasontedor commented on #33269
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2018-08-30 11:31] #33269 closed

[2018-08-30 11:58] colings86 commented on #33265
I opened https://github.com/elastic/elasticsearch/pull/33270#issuecomment-417293410 to address this

[2018-08-30 12:39] albertzaharovits commented on #32777
Here is what I reckon:
The existing `_has_privileges` **works** with resource patterns, but the response contains the resource pattern, instead of the actual resources under that pattern that have been checked. (I have not tested because I am hitting some problems with the put privilege call that gets routed to the index call handler). If this is the case, I think we should keep it like this. Even

[2018-08-30 13:07] jpountz commented on #33049
Here are some more numbers. 50M documents are indexed in every case. I also ran the test with 5 different mac addresses, which gives numbers for a shrinked index and probably a worst-case scenario for a shard that gets relocated while indexing.

| Format    | # mac addresses | indexing rate (EPS) | Disk per doc (bytes) | Memory per doc (bytes) |
| ------------- | ------------- | ------------- |---

[2018-08-30 13:07] elasticmachine commented on #33244
Pinging @elastic/es-core-infra

[2018-08-30 13:15] #33163 closed

[2018-08-30 13:15] #33170 closed

[2018-08-30 14:35] costin commented on #29827
The decision (for the time being at least) is to not provide SQL REST endpoints in HL .

[2018-08-30 14:55] cdahlqvist commented on #33049
Based on this, the `original` scheme actually looks superior (roughly on par with `current` at lower indexing rates), at least as long as additional disk usage is acceptable. I think trading a bit of additional disk usage for reduced heap usage is the right trade-off though, as heap space is precious and in limited supply.

[2018-08-30 15:04] s1monw commented on #33199
@imotov I feel like you are the only one who can shed some light on this? It seems we fail with and exception [here ](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java#L670) but the issue is that the file is there but is empty ie. has length of `0`. Now further [down](https://github.com/elastic/elasticsearch/

[2018-08-30 15:05] s1monw commented on #33199
I assigned it to you to make sure it's been taken care of. Feel free to pass it on if needed.

[2018-08-30 15:14] polyfractal commented on #33185
Pasting from an old issue (in old xpack repo) with a similar error.  I think it was a concurrency issue for the other one but was never resolved.

In that issue, @DaveCTurner followed up with:

[code]

[2018-08-30 15:37] DaveCTurner commented on #33199
I see three calls to `writeBlob` that I think should be `writeBlobAtomic`:

https://github.com/elastic/elasticsearch/blob/2bb4f3837113952488a9c71773107b024b756d14/server/src/main/java/org/elasticsearch/repositories/blobstore/ChecksumBlobStoreFormat.java#L153

https://github.com/elastic/elasticsearch/blob/f4e9729d647add3d42b5bdd091278dcb3af727af/server/src/main/java/org/elasticsearch/repositories/b

[2018-08-30 15:43] jasontedor commented on #32900
Closed by b28044cef6064ab89406077f3364eadcc349d30f

[2018-08-30 15:47] #32900 closed

[2018-08-30 16:00] jaymode commented on #32777
+1 to option 2 with one request.

I think this should be addressed. We have a way that we represent conditional privileges in a role and I think the output of any API should also indicate that there is a condition on said privilege.

[2018-08-30 17:11] wfhartford commented on #32626
I've been encountering this issue when sorting on timestamp and `_id` in order to page through a large query result using the search after feature. Is there a recommended way to achieve this without sorting on `_id`? Issue #11887 seems to suggest that sorting on `_uid` would be preferred, but that results in the warning:
[code]

[2018-08-30 17:15] bmcconaghy opened #33275 "Allow ILM's Shrink Action to progress successfully on indices with 1 shard"
When a user specifies the shrink action and the index it is supposed to shrink already has only 1 shard, this error crops up:

        "failed_step": "shrink",
        "phase": "warm",
        "action_time": "1535643967009",
        "rollover_alias": "thing-alias",
        "phase_time": "1535643367314",
        "step_info": "{\"type\":\"illegal_argument_exception\",\"reason\":\"can't shrink an ind

[2018-08-30 17:16] elasticmachine commented on #33275
Pinging @elastic/es-core-infra

[2018-08-30 18:30] dnhatn commented on #32299
Another instance: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2645/consoleText

[2018-08-30 19:01] talevy opened #33282 "ILM: fix `after` rendering to xcontent"
we currently ignore the TimeValue string representation and use our own that forces it to be represented in seconds. This is not user friendly, since our time-scale is often way beyond seconds.

The offending code: https://github.com/elastic/elasticsearch/blob/ba8d4eba8b227a153550ce5a2c30f83a1f5ca1f8/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/indexlifecycle/Phase.java#L131

[2018-08-30 19:01] elasticmachine commented on #33282
Pinging @elastic/es-core-infra

[2018-08-30 19:20] ramneetb commented on #29847
Hi, Can I take this up ?

[2018-08-30 19:46] tbrooks8 opened #33285 "Fix AbstractSimpleTransportTestCase for security transports"
The `AbstractSimpleTransportTestCase` provides common tests for different transport implementations. Right now a number of the tests rely on opening plaintext sockets. These tests do not work for implementations that enable TLS/SSL. A subclass of `AbstractSimpleTransportTestCase` should be introduced that uses SSL socket implementations for the tests so that they can function with security transpo

[2018-08-30 19:46] elasticmachine commented on #33285
Pinging @elastic/es-security

[2018-08-30 19:48] costin opened #33287 "SQL: Replace Scroll with search_after"
SQL currently uses scroll API for queries which works but requires state on the server.
An alternative to it is using search_after, which is stateless the downside being it's a live cursor any updates to the data will be picked up, which can affect ordering.

Considering in 7.x there are more improvements scheduled for this area, to give it more of a snapshot approach, plus aligning the composite

[2018-08-30 19:48] elasticmachine commented on #33287
Pinging @elastic/es-search-aggs

[2018-08-30 19:49] costin opened #33288 "SQL: disable track total hits"
In the vast majority of cases, SQL doesn't need to track the total amount of hits - as such it should disable it to optimize the query execution (especially in the case of `composite`).

[2018-08-30 19:49] elasticmachine commented on #33288
Pinging @elastic/es-search-aggs

[2018-08-30 20:26] jdconrad commented on #22829
This is something that we will do.  We are still coming up with the best way to implement this.

[2018-08-30 20:33] jdconrad commented on #21732
I'm going to close this as we now have the Painless Execute API (https://github.com/elastic/elasticsearch/pull/29164) that should cover this issue.

[2018-08-30 20:33] #21732 closed

[2018-08-30 20:35] polyfractal commented on #22089
Chatted about this on Fixit Thursday.  Some of this has changed since the ticket was opened (e.g. `SearchSourceBuilder` now exposes aggregations as a public method).  Would be nice if the builders were consistent, but since the TransportClient going away soon and the HLRC taking over, this is probably a moot point?

@costin think it's ok to close?

[2018-08-30 20:38] lanerjo commented on #32955
+1
`WHERE visit.app.appName IN ('appA', 'appB')` <- does not work
`terms: {visit.app.appName: [appA, appB]}` <- expected translation of above

`WHERE visit.app.appName = appA OR visit.app.appName = appB` <- very very very inconvenient workaround

[2018-08-30 20:38] lanerjo commented on #32948
+1

[2018-08-30 21:05] rjernst commented on #17411
We discussed in FixItThursday and I have a couple suggestions:

* Bwc should be easy, I believe, as it is really about ensuring existing users have a period where they can be informed about these problems without failing. This is exactly what the deprecation logger is for, and there should be exactly one place where this validation occurs (`RootObjectMapper.findTemplateBuilder`).
* The case of mat

[2018-08-30 21:08] rjernst commented on #23530
We discussed this in FixItThursday, and we think this is an extremely advanced use case which does not warrant an extension point. It would require re-opening up the system to custom codecs, which we previously had and removed. If there are changes that would allow improvements to the use case described here, they should be proposed and made in Lucene.

[2018-08-30 21:08] #23530 closed

[2018-08-30 21:13] #30287 closed

[2018-08-30 21:32] eskibars commented on #23584
Hey @cmk1523 -- I'm curious if you have specific statistics you'd like to see and any background on them?

[2018-08-30 21:38] jasontedor commented on #30197
We discussed this during our weekly team discussion meeting (Fix-it-Friday) and concluded that we should not introduce this functionality:
 - we think that the cost and complexity this feature is not worth it given that we do not see it being used much, and our assumption that most of the time when an "interesting" situation occurs an operator is not going to have time to grab the logs before they

[2018-08-30 21:38] #30197 closed

[2018-08-30 21:56] ycombinator opened #33290 "Create `xpack.monitoring.elasticsearch.collection.enabled` setting"
Currently, Elasticsearch collects its own monitoring metrics and ships them to the monitoring cluster (which may be local or remote). The longer-term plan for Elastic stack monitoring is for Metricbeat to run along side Elasticsearch, collect monitoring data by calling Elasticsearch APIs and ship this data to the monitoring cluster.

As a prerequisite to asking users to setup Metricbeat for monito

[2018-08-30 21:56] elasticmachine commented on #33290
Pinging @elastic/es-core-infra

[2018-08-30 22:00] casper1149 commented on #33221
Hi,

thank you for the code pointers and explanation. The proposed solution works like a charm. So probably this bug can be closed.

[2018-08-30 22:00] #33221 closed

[2018-08-30 23:37] #33251 closed

[2018-08-31 00:51] cmk1523 commented on #23584
Geovariance and ranges would be nice. Geovarinace could possibly help in determining if something is moving or not. Perhaps this stuff: https://www.mathworks.com/help/stats/geostat.html

[2018-08-31 01:10] talevy opened #33291 "[CI] SmokeTestWatcherWithSecurityIT.testSearchTransformInsufficientPermissions Failure"
[code]

stacktrace

[code]

[2018-08-31 01:10] elasticmachine commented on #33291
Pinging @elastic/es-core-infra

[2018-08-31 01:27] r32rtb commented on #31197
Since upgrading to 6.4.0 I have no longer seen this issue. 6.4.0 appears to be much more stable.

[2018-08-31 02:11] #29530 closed

[2018-08-31 02:13] tvernum opened #33292 "Allow a realm to be authorization only"
With the introduction of `authorization_realm` (and existing `run_as`) functionality, it would be helpful to be able to configure a realm to perform lookup only, but not authenticate.

See: https://github.com/elastic/elasticsearch/pull/33262#issuecomment-417395628

The proposed design is to add a `authentication.enabled` flag in the config (default `true`), which would be readby `RealmConfig`, and

[2018-08-31 02:13] elasticmachine commented on #33292
Pinging @elastic/es-security

[2018-08-31 02:42] 942391815 commented on #27003
how did you resloved it ?

[2018-08-31 03:28] atorok commented on #33093
Replaced by release-manager#420

[2018-08-31 03:28] #33093 closed

[2018-08-31 03:58] eskibars commented on #23584
Thanks.  Do you have some specific use cases in mind that you could share?

[2018-08-31 05:04] sergpsu commented on #33225
scrollId is NOT PASTED. Curl syntax is used here just for clarity. Actually it is php script, and yes i'm sure scroll id is POSTED back correctly

[2018-08-31 06:45] Ethan-Zhang commented on #32312
why not ask question in [https://discuss.elastic.co/c/elasticsearch](url). will get more answer.

[2018-08-31 06:47] huangjava opened #33293 "De-counting statistics are biased"
Other ways to solve the problem of distinct-statistical accuracy？

[2018-08-31 07:36] chenchuangc commented on #31985
thank you very much , i have solved it from another way that i use nginx front the elasticsearch server  ,in this way i can find the response time of each elasticsearch server ,thank you very much

[2018-08-31 07:37] #31985 closed

[2018-08-31 07:40] spinscale commented on #32481
Specifying `params` instead of the URL is the correct way to do this.

Closing this one.

[2018-08-31 07:40] #32481 closed

[2018-08-31 07:53] astefan commented on #33293
Hi @huangjava,

Thanks very much for your interest in Elasticsearch.
This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elas

[2018-08-31 07:53] #33293 closed

[2018-08-31 08:25] costin opened #33294 "SQL: Consistency between LIKE pattern and table pattern"
Through #33278, the `tableIdentifier` has been extended to allow ES-like multi-index patterns. However this is not supported by all commands, such as `SHOW TABLES` which only allow SQL `LIKE` pattern.
Both should be supported across the board for consistency and also capabilities so :
`SHOW TABLES LIKE "foo%"` and `SHOW TABLES 'foo*,-foobar*` work.

(note that while SQL `LIKE` only allows inclusio

[2018-08-31 09:47] iverase opened #33298 "Disable cache when profiling requests"
Today, profiled search requests can use the cache, which can lead to very different profiling times if the same query is profiled twice or you can have a slow `took` time but a fast profile result . Profiling should never really use the cache at all because of the nature of profiling.

Related with #29024 although what is here proposed is that the profile works as if the query was never cached. Th

[2018-08-31 09:49] iverase commented on #29024
@polyfractal I have just opened an issue with the opposite case (slow `took`and fast profile) , the question is if profiling should use the cache at all?

[2018-08-31 09:55] elasticmachine commented on #33298
Pinging @elastic/es-search-aggs

[2018-08-31 10:26] #33230 closed

[2018-08-31 10:39] hrr888 commented on #31197
@jasontedor Explanation you gave make it all clear. Maybe it's my poor understanding of English. The `https://www.elastic.co/guide/en/elasticsearch/reference/current/circuit-breaker.html#circuit-breaker` say:

"Across" is for me as "if any breaker has own limit greater than parent, then parent has precedence", but it not implies that parent is applied to sum of all allocated memory, as @danielmitt

[2018-08-31 10:57] colings86 commented on #33282
I'll have a PR up for this shortly

[2018-08-31 12:00] colings86 commented on #33282
@bmcconaghy This should be fixed shortly in https://github.com/elastic/elasticsearch/pull/33304

[2018-08-31 12:01] #33265 closed

[2018-08-31 12:01] colings86 commented on #33265
fixed in #33270

[2018-08-31 12:51] spinscale opened #33308 "Monitoring: Add monitoring watch to display disabled allocation in Kibana"
A common pitfall when doing a rolling upgrade is to [disable shard allocation](https://www.elastic.co/guide/en/elasticsearch/reference/6.4/rolling-upgrades.html) as outlined in our docs, but then forget to reenable it again when the upgrade is done.

We could add another watch to monitoring, that actually is checking for this.

This would require changes in the `ClusterStatsMonitoringDoc`, which a

[2018-08-31 12:51] elasticmachine commented on #33308
Pinging @elastic/es-core-infra

[2018-08-31 12:54] jimczi opened #33309 "Forbid negative query scores"
Negative scores are not allowed in Lucene 8 so we should make sure that we don't produce any deliberately. The following is an (hopefully) exhaustive list of places where negative values should be forbidden in es 7 and deprecated in 6x:
* [x] Query boosts should always be positive (#34486)
* [ ] Field boosts should always be positive.
* [x] `script_score` function should return positive scores. (#

[2018-08-31 12:54] elasticmachine commented on #33309
Pinging @elastic/es-search-aggs

[2018-08-31 13:08] nik9000 commented on #33201
This reproduces consistently for me on 6.x on my desktop. If you want access I can give it. But if you are removing the tasks you probably don't need it.

[2018-08-31 13:17] iahmad-khan opened #33311 "Full Backup API"
**Describe the feature**:

Hi,

Its not practial to manage many snapshots , that grow in number with time , and restoring things is not practial from many snapshots. Can there be a full backup API endpoint please.

Thanks

[2018-08-31 13:18] javanna commented on #33201
I have exactly the same on my box, whenever I build 6.x. I talked to Alpar about it yesterday. His PR should address it.

[2018-08-31 13:39] bpintea opened #33312 "SQL: SYS TABLES adjustments for ODBC: enumeration of catalogs and table types"
**Elasticsearch version**: master @ 014b277

ODBC's API allows enumerating a data source's available catalogs, schemas, and table types. This is done through [SQLTables](https://docs.microsoft.com/en-us/sql/odbc/reference/syntax/sqltables-function) function. The function is invoked with different arguments configuration in order to get back the desired set: catalogs only, schemas only or table typ

[2018-08-31 13:39] elasticmachine commented on #33312
Pinging @elastic/es-search-aggs

[2018-08-31 13:40] astefan commented on #33311
Hi @iahmad-khan,
What do you mean by "full backup API endpoint"? What should this endpoint handle?

[2018-08-31 14:05] iahmad-khan commented on #33311
@astefan It should take a complete backup of all the indices/shards and store it in the repo.

[2018-08-31 14:15] astefan commented on #33311
This is already possible by creating a new repository and snapshotting all the indices. The first snapshot is always a full snapshot, the subsequent ones are incremental.

Previous snapshots can also be deleted. If the number of snapshots grows with time and becomes unmanageable, you can delete older snapshots. I will close this for now, as I don't think having a separate endpoint for a full backu

[2018-08-31 14:15] #33311 closed

[2018-08-31 14:15] elasticmachine commented on #33311
Pinging @elastic/es-distributed

[2018-08-31 14:18] #32078 closed

[2018-08-31 14:39] iahmad-khan commented on #33311
But for that we have to manage many repositories , and also manually delete data from those backend repos , becuase deleting snapshot doesnt delete the bucket or sub directories in that. It is extremely painful. Having a separate end point for creating full backup will be more cleaner and avoid the pain of managing multiple repos.

[2018-08-31 14:54] colings86 commented on #30912
I'm going to close this as its not 12 weeks since we've seen a failure and without logs there isn't much we can do. If this reproduces on CI please re-open and add the relevant info

[2018-08-31 14:54] #30912 closed

[2018-08-31 15:01] cbuescher commented on #32733
@ahadadi thanks for this observation, I agree and opened #33315. Lets see what others think.

[2018-08-31 15:06] Ghost93 commented on #29595
Hi,
We are looking to manipulate a score of terms lookup query using the amount of matched terms and could not find a way of doing so.
Maybe we could achieve something similar using lookup terms set query with manipulation of the ```minimum_should_match_script``` field.
Any chances the Elastic team reconsiders this?

[2018-08-31 15:56] colings86 commented on #29467
Sounds good to me 👍

[2018-08-31 16:05] chrislujan opened #33316 "ES 6.4 unable to start after rollover"
**Elasticsearch version** (`bin/elasticsearch --version`):
elasticsearch.noarch                6.4.0-1
**Plugins installed**: []
n/a
**JVM version** (`java -version`):
java version "1.8.0_91"
Java(TM) SE Runtime Environment (build 1.8.0_91-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.91-b14, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux 3.10.0-693.el7.x86_64 #1 SMP T

[2018-08-31 16:36] dnhatn opened #33317 "Combine skippedOperations and overriddenOperations to a single metric"
Today we have two metrics for a similar thing in the Translog#Snapshot.

[code]

[code]

We can easily get this wrong with these two metrics. For example:

[code]

Should we collapse these two metrics to a single one?

[2018-08-31 16:36] elasticmachine commented on #33317
Pinging @elastic/es-distributed

[2018-08-31 16:47] #30098 closed

[2018-08-31 16:47] #33123 closed

[2018-08-31 16:52] dnhatn opened #33318 "[CI] InnerHitsIT suite fails"
This test suite starts failing after we integrated soft-deletes into Elasticsearch.

I cannot reproduce locally with this command:

[code]

CI instances:
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2656/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2654/console

[2018-08-31 16:52] elasticmachine commented on #33318
Pinging @elastic/es-distributed

[2018-08-31 18:34] lcawl opened #33319 "[DOCS] Re-enable code snippet testing for rollup APIs"
Related to https://github.com/elastic/elasticsearch/issues/30665 and https://github.com/elastic/elasticsearch/pull/31450

The code snippets in the rollup documentation was disabled because they ceased working after they were moved to the docs folder.

Per https://github.com/elastic/elasticsearch/pull/31450#issuecomment-399143262, we need to move RollupRestTestStateCleaner over to the test framewor

[2018-08-31 18:34] elasticmachine commented on #33319
Pinging @elastic/es-search-aggs

[2018-08-31 18:34] elasticmachine commented on #33319
Pinging @elastic/es-docs

[2018-08-31 18:58] talevy opened #33320 "[CI] SmokeTestWatcherWithSecurityIT.testSearchInputHasPermissions flaky failures"
master and 6.x have been running into many instances of this test failing

here is one reproduce snippet that doesn't always reproduce

[code]

[2018-08-31 18:58] elasticmachine commented on #33320
Pinging @elastic/es-core-infra

[2018-08-31 19:06] elasticmachine commented on #33316
Pinging @elastic/es-core-infra

[2018-08-31 19:06] jasontedor commented on #33316
Thanks for the report, this looks serious. We will take a look.

[2018-08-31 19:10] tbrooks8 commented on #33320
Thanks for doing this. I was just about to mute these tests myself.

[2018-08-31 19:11] tbrooks8 commented on #33320
Failure here: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java11,nodes=virtual&&linux/273/console

[2018-08-31 19:13] tbrooks8 commented on #33320
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java10,nodes=virtual&&linux/273/console

[2018-08-31 19:22] dnhatn opened #33321 "Resize should validate/carryover soft-deletes settings"
We should carryover and validate the soft-deletes settings when shrinking/splitting an index.

[2018-08-31 19:40] tbrooks8 commented on #33320
I also muted `testSearchTransformHasPermissions` and `testIndexActionInsufficientPrivileges` because they also appear to be failing.

[2018-08-31 19:40] jasontedor commented on #33321
This *should* be automatic starting in 7.0.0, yet requires manual intervention in the 6.x series. See #30255; in 7.0.0 `copySettings` can not be set to `false`.

[2018-08-31 19:46] dnhatn commented on #33321
@jasontedor Thanks for the pointer.

[2018-08-31 19:46] skumar4120 opened #33322 "bulk upsert is not working correctly"
I am doing bulk upsert in the ES index and this is deleting the old document and creating new document for the given record

Function to create bulk update satements:

async function toBulk(data: any, index: string, action: string, body: any) {
    if (index === process.env.ES_INDEX) {
        body.push({
            update: {
                '_index': process.env.ES_INDEX,
                '_type'

[2018-08-31 22:46] dnhatn opened #33326 "[CI] watcher/usage/10_basic/Test watcher usage stats output fails"
`watcher/usage/10_basic/Test watcher usage stats output` fails with an unexpected `watch_count_active`.

[code]

I can reproduce this locally with this command:

[code]

CI instances:
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/6956/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/2371/console

[2018-08-31 22:46] elasticmachine commented on #33326
Pinging @elastic/es-core-infra

[2018-08-31 22:48] polyfractal commented on #32773
Thanks Adrien.

I _think_ this test is fixed now.  But if it fails again, I'll re-evaluate how we're doing things in the test and see if there's a way to rewrite it to be less flaky.

Sorry for the noise everyone!

[2018-08-31 23:16] tbrooks8 commented on #32124
Reopening as I think there was another failure related to this today:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=virtual&&linux/273/console

[2018-08-31 23:17] tbrooks8 commented on #32124
[code]

[2018-09-01 01:58] dnhatn commented on #33249
Another instance:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/2375/console

[2018-09-01 03:11] jasontedor commented on #33191
I can confirm that this is a bug, I know what the issue is and will open a fix soon.

[2018-09-01 06:47] leeeboo commented on #33191
@jasontedor thanks

[2018-09-01 11:36] scathatheworm commented on #27073
Is this fixed on 6.x? Ran into this issue yesterday on 5.6.10

[2018-09-01 13:52] dnhatn opened #33330 "[CI] testSyncerOnClosingShard fails with soft-deletes"
Acquiring a searcher on a closing shard should not throw an `IllegalStateException`.

[code]

Reproduce command:

[code]

CI instances:
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/6960/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/274/console

[2018-09-01 13:52] elasticmachine commented on #33330
Pinging @elastic/es-distributed

[2018-09-01 14:42] cdahlqvist commented on #33049
One additional use case that would be useful to simulate is when we have a long retention period and overshard during indexing (low indexing rate and multiple MAC addresses active during the same time period) and then use the shrink index API to merge these into fewer shards.

[2018-09-01 18:42] albendz commented on #32804
I can see that these scripts are used here: https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/search/aggregations/metrics/scripted/ScriptedMetricAggregationBuilder.java

I'm having trouble finding where the entry point to the API is defined. My IntelliJ config is a little messed up with the nested projects and while I work that out, a pointer to the API sp

[2018-09-01 23:43] GobindaGobinda opened #33334 "Error: failed to compare string that has uppercase letters as value of a field in search query with match."
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.0

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system): Ubunutu 16.0

**Description of the problem including expected versus actual behavior**:
I found that when we run the search query for string which has Uppercase and Lowercase characters, it

[2018-09-02 01:03] dnhatn commented on #33334
You're using a [term query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-term-query.html) which finds documents that contain the **exact** term specified in the inverted index.

I am closing this as we use Github for bug reports and feature requests. Please ask questions on https://discuss.elastic.co where we can give you a better support.

[2018-09-02 01:03] #33334 closed

[2018-09-02 01:12] GobindaGobinda commented on #33334
The **exact** value that is stored in field is the word that starts with the uppercase "Gobinda".
whereas the search term only works with the lowercase not while putting the word with uppercase.

[2018-09-02 03:27] dnhatn commented on #33334
@GobindaGobinda Which [analyzer](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-analyzers.html) do you use?  Let's continue the discussion on https://discuss.elastic.co/ as we use Github for bug reports and feature requests.

[2018-09-02 12:57] jasontedor commented on #18073
Templates overwrite indeed, and this has always been the behavior.

Yup, you figured it out!

[2018-09-02 14:08] chakravarthy392 commented on #33242
Hi @jasontedor , I am getting the same issue with [openJDK10-hotspot](https://adoptopenjdk.net/?variant=openjdk10&jvmVariant=hotspot) and [OracleJDK10](http://www.oracle.com/technetwork/java/javase/downloads/jdk10-downloads-4416644.html). May I know which variant of Java you have used!

[2018-09-02 16:00] MovGP0 commented on #27330
@rjernst I'm mostly concert about reinventing the wheel (aka. 'not invented here syndrome'). Usually it's better to just use and contribute to a library where possible, rather than developing something as complex as handling international time calculations yourself.

Not sure how far the Java Time API has evolved to handle Joda Time's use cases.

[2018-09-02 16:33] jasontedor commented on #27330
@MovGP0 As @rjersnt mentioned, Joda is [deprecated](http://www.joda.org/joda-time/), no longer developed, and users are encouraged to move to `java.time`:

[2018-09-02 18:58] jasontedor commented on #33242
There should be no problem with either of those. Would you open a topic on the forum?

[2018-09-02 23:14] dnhatn opened #33337 "[CI] CCR: testFollowIndexAndCloseNode fails"
`testFollowIndexAndCloseNode` fails on 6.x:

[code]

This may be the actual reason.

[code]

CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/2388/console
Log: [testFollowIndexAndCloseNode.txt.zip](https://github.com/elastic/elasticsearch/files/2343829/testFollowIndexAndCloseNode.txt.zip)

[2018-09-02 23:14] elasticmachine commented on #33337
Pinging @elastic/es-distributed

[2018-09-03 02:06] zjcnb opened #33339 "es6报错"
项目中，出现了如下的错误，只能重启了服务，解决了这个为难。不知道是什么问题造成的

Exception in thread "elasticsearch[_client_][generic][T#22823]" java.lang.NoClassDefFoundError: Could not initialize class org.elasticsearch.transport.TransportException
orders-search-service_orders-search-service_1 | 2018-09-03T01:52:47.838041043Z 	at org.elasticsearch.transport.netty4.NettyTcpChannel.sendMessage(NettyTcpChannel.java:101)
orders-search-se

[2018-09-03 05:03] chakravarthy392 commented on #33242
Yes @jasontedor , I have opened an issue @ https://discuss.elastic.co/t/elastic-search-6-4-0-test-case-execution-failed-due-to-an-exception/146615

Seems it is not an issue with java/gradle version as mentioned in https://github.com/elastic/elasticsearch/issues/28601#issuecomment-365242949 , but the strange thing is I am getting the issue with v6.4.0 only whereas v6.3.2 TCs are getting executed on

[2018-09-03 06:10] jmnarloch opened #33341 "Make the JAR hell check optional"
**Describe the feature**: I wish to be able to disable jar hell check completely. Currently this is a to much nuclear option to have it work in every possible client developer environment. The problem that I am facing is that I am not able to make the tests running because of Mockito dependencies. The problem is that I don't own all of my 3-rd party dependencies and if any of the packages either d

[2018-09-03 06:50] appadesai opened #33342 "Memory leak in RestClient when elasticsearch takes more than 30 seconds to respond"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.1.2, Build: 5b1fea5/2018-01-10T02:35:59.208Z, JVM: 1.8.0_181

**Plugins installed**: [] None

**JVM version** (`java -version`):
 1.8.0_181

**OS version** (`uname -a` if on a Unix-like system):
CentOS Linux release 7.5.1804 (Core)

**Description of the problem including expected versus actual behavior

[2018-09-03 07:11] atorok opened #33343 "[Build] Gradle 5.0 deprecation: should not remove tasks"
Gradle deprecated removing a task if it's added as a dependency.
[code]

"Provider to the Task instance" is part of the delayed task ( a.k.a lazy task ) improvements added in 4.8, documented and refined in 4.9, and in this case it's not something we can control as the initial `test` task is represented as a provider, we have no control to change that, we also don't have control to prevent adding i

[2018-09-03 07:11] elasticmachine commented on #33343
Pinging @elastic/es-core-infra

[2018-09-03 07:17] atorok commented on #33343
Relates to #31496

[2018-09-03 07:18] #33201 closed

[2018-09-03 07:52] colings86 commented on #32804
@albendz It should be a case of adding some checks in [`ScriptedMetricAggregationBuilder.doBuild`](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/search/aggregations/metrics/scripted/ScriptedMetricAggregationBuilder.java#L196) so an exception is thrown if we try to build without a combine or reduce script provided in the builder.

The Aggregation builde

[2018-09-03 08:13] jimczi opened #33344 "[CI] LuceneChangesSnapshotTests#testUpdateAndReadChangesConcurrently fails"
`LuceneChangesSnapshotTests#testUpdateAndReadChangesConcurrently` fails occasionally on master and 6x. I reproduce locally with the following seed (the failure doesn't occur on each run though but I was able to reproduce after a few ones):
[code]

[2018-09-03 08:13] elasticmachine commented on #33344
Pinging @elastic/es-core-infra

[2018-09-03 08:15] jimczi commented on #33344
I muted the test in master and 6.x:
https://github.com/elastic/elasticsearch/commit/2fa75b4438fe33d4e39d5e932e0231f76a4c7514

[2018-09-03 08:26] jimczi opened #33345 "[CI] IndexShardTests#testIndexCheckOnStartup fails"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=fedora/1268/console

Reproduce locally with:
[code]

[2018-09-03 08:26] elasticmachine commented on #33345
Pinging @elastic/es-core-infra

[2018-09-03 08:47] elasticmachine commented on #33191
Pinging @elastic/es-security

[2018-09-03 08:47] elasticmachine commented on #33322
Pinging @elastic/es-core-infra

[2018-09-03 08:48] elasticmachine commented on #33342
Pinging @elastic/es-core-infra

[2018-09-03 08:49] elasticmachine commented on #33341
Pinging @elastic/es-core-infra

[2018-09-03 08:53] original-brownbear commented on #33342
@appadesai

Do individual objects never get released (i.e. if you add logic to your tests that eventually stops the firing of requests in a hot loop) or is the overall number of these futures simply never going down?

It seems the former would be a problem while the latter is some what expected with the way the async HTTP client works in the background (you can enqueue requests quicker than they a

[2018-09-03 09:09] #32733 closed

[2018-09-03 10:06] appadesai commented on #33342
The objects eventually get cleaned up if I stop sending the requests but this behavior is not seen when there is continuous requests to ElasticSearch under load. The cleanup happens quickly if the timeout is increased to 100 seconds even with continuous load.

I am not sure what are you referring to as former and latter.

[2018-09-03 10:13] original-brownbear commented on #33342
@appadesai

Interesting, will take a look :)

[2018-09-03 11:49] original-brownbear commented on #33342
@appadesai I can't find any different behaviour here depending on the timeout. Waht's the Java code you use for testing here? (maybe you're leaking resources somehow in your tests and trigger the different behaviour that way?)

[2018-09-03 12:46] pieterlukasse opened #33350 "org.elasticsearch.action.search.SearchPhaseExecutionException while loading snapshot"
**Elasticsearch version**
5.6.10 using docker. See yaml section from `docker-compose` below:
[code]

**Plugins installed**: []
See dockerfile

**JVM version**
See dockerfile

**OS version**
See dockerfile

**Description of the problem including expected versus actual behavior**:

While restoring a snapshot into a new elasticsearch installation, I get the following error:
[code]
**Steps to reproduc

[2018-09-03 14:19] elasticmachine commented on #33344
Pinging @elastic/es-distributed

[2018-09-03 14:50] #33200 closed

[2018-09-03 15:06] #33345 closed

[2018-09-03 15:58] #33318 closed

[2018-09-03 16:06] mayya-sharipova opened #33359 "Introduce guards against too many clauses in SpanQuery"
Running `query_string` query with `"type" = "phase"`  leads to java.lang.OutOfMemoryError.
This happens when a query string produces a lot of tokens which results in `spanOR` query with a huge number of `spanNear` clauses.

Step to reproduce:
**Elasticsearch version** (`bin/elasticsearch --version`): 6.4/6.3.2

[code]

This query leads to OOM:

[code]

[2018-09-03 16:08] mayya-sharipova commented on #33359
Analyzing a shorted version of their query string:

[code]

results in:
[code]
The 20-letters word "ああああああああああああああああああああ", results in 39 tokens.

Searching a shortened version of their query string:

[code]
results in a massive Span query:
[code]

A longer version of this query string will produce much more clauses.

[2018-09-03 16:09] elasticmachine commented on #33359
Pinging @elastic/es-search-aggs

[2018-09-03 16:10] mayya-sharipova commented on #33359
Adding a discuss label, as I am not sure if still want to work with Span queries after Alan introduces his match queries.

[2018-09-03 16:19] astefan opened #33361 "SQL: grouping by a CASTed value doesn't work"
The following query (where `hire_date` is of type DATE) will throw an exception - `SELECT CAST(YEAR(hire_date) AS VARCHAR) FROM test_emp GROUP BY CAST(YEAR(hire_date) AS VARCHAR) LIMIT 1`:

[code]

whereas aliasing the CAST and using the alias inside the GROUP by works - `SELECT CAST(YEAR(hire_date) AS VARCHAR) c FROM test_emp GROUP BY c LIMIT 1;`

Trying the failing query from above with the `tra

[2018-09-03 16:19] elasticmachine commented on #33361
Pinging @elastic/es-search-aggs

[2018-09-03 17:39] jimczi commented on #33359
@mayya-sharipova I opened https://issues.apache.org/jira/browse/LUCENE-8479 in Lucene.
The `QueryBuilder` should detect these bad queries and throw TooManyClauses when the expansion of a phrase query produces too many paths. Note that the JapaneseTokenizer can create big graphs depending on the value of `nbest_cost`, in the provided example setting this option to 10,000 is causing issues when phra

[2018-09-03 18:56] #31263 closed

[2018-09-03 19:10] albendz commented on #32804
Thank you for those pointers. I will focus on adding validation in the builder.

[2018-09-03 19:15] albendz commented on #32804
Another question: should it be combine AND reduce scripts, combine OR reduce scripts, or combine XOR reduce scripts?

[2018-09-03 20:16] jkakavas commented on #29851
Closing this as all subtasks have been concluded.

[2018-09-03 20:16] #29851 closed

[2018-09-03 21:28] costin commented on #33312
Raised #33364 to address the issues above (the code was in place but the if did not match).
To clarify one behavior - based on the current understand/implementation of the ODBC spec, `SYS TABLES` is equivalent to `SYS TABLES TYPE` and `SYS TABLE TYPE '%'` meaning the possible table types are returned.
This is based on https://docs.microsoft.com/en-us/sql/odbc/reference/develop-app/value-list-argum

[2018-09-03 23:25] vgoklani opened #33365 "Problems running via docker-compose"
Hello - could you please review my docker-compose file, as I'm getting a ton of errors.

docker-compose file:

    version: '2'

    services:
        elasticsearch:
          container_name: elasticsearch
          restart: always
          image: docker.elastic.co/elasticsearch/elasticsearch:6.3.2
          ports:
            - "127.0.0.1:8200:9200"
            - "127.0.0.1:8300:9300"

[2018-09-03 23:29] jasontedor commented on #33365
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2018-09-03 23:29] #33365 closed

[2018-09-04 01:54] jubyvictor commented on #32763
I would like to work on this.

[2018-09-04 02:15] lysdyt opened #33366 "ddddd"
dddd

[2018-09-04 02:30] #33366 closed

[2018-09-04 02:46] hzjiangjian commented on #31988
@polyfractal  OK. Just close this.

[2018-09-04 03:40] jasontedor commented on #33341
Sorry, I understand it can be painful, but we are simply not going to relax this at all. We have lived with the JAR hell checks for many years now and despite the pain that they can cause, we firmly believe it's best for our project that they be mandatory.

Also, depending on the kind of test that you're running, you might be best served by running a standalone integration test (i.e., one that sta

[2018-09-04 03:40] #33341 closed

[2018-09-04 03:45] jmnarloch commented on #33341
My other question is, did you manage to run the tests with coverage, I am pretty sure that this isn't working as well, as the same instrumented classes are going to be on the classpath.

[2018-09-04 03:46] jmnarloch commented on #33341
So I don't want to start unnecessary heated discussion, this is not my point. But the original requests it to make the client opt out of it, not disable it by default.

[2018-09-04 03:48] jmnarloch commented on #33341
[code]

This is exactly what I am doing, my class inherits from ESIntegTestCase, which by itself inherits from  ESTestCase. ESTestCase is responsible for kicking out the Bootstrap which will eventually check the classpath.

[2018-09-04 04:05] elasticmachine commented on #33350
Pinging @elastic/es-distributed

[2018-09-04 05:03] atorok commented on #33341
@jmnarloch I think what @jasontedor means is to run elasticsearch by executing the jar, or using the docker images ( I have used the Gradle docker compose plugin to start elasticsearch before running the tests ). We don't know your exact  scenario  so this may or may not work for you.

[2018-09-04 05:09] emanzaman commented on #14149
Hi, I am facing the same issue:
1. Restarted my elastic search cluster from one node to three nodes. But the cluster status is now red as shown below:
`$> curl "localhost:9200/_cat/health"
1536037434 06:03:54 graylog-uat red 3 2 13 12 0 0 1 0 - 92.9%
`
2. After some investigation, I landed upon the cluster allocation API and here is the output:
`$> curl -X GET "localhost:9200/_cluster/allocation/e

[2018-09-04 05:13] atorok commented on #33341
@jasontedor as a side note, the jar hell check from  `ESIntegTestCase` may be redundant as we have a Gradle task that does that for the test classpath before running the test, we may actually be able to save some time during testing by not doing it (I did not check how significant). Of course this would be a breaking change since some users of `ESIntegTestCase` will expect the jar hell check to ha

[2018-09-04 05:43] appadesai commented on #33342
[ESClientTest.zip](https://github.com/elastic/elasticsearch/files/2347268/ESClientTest.zip)

@original-brownbear I have uploaded test code that should help you reproduce the issue.

You will have to install nodejs from https://nodejs.org/en/download/ and start the dummy server as follows
    `bin/node node_app.js`

I have added two timeouts in the test client code (ESClientTest.java)
	private fina

[2018-09-04 07:51] colings86 commented on #32804
We should throw an exception if there is no reduce scripts. We should also throw an exception if there is no combine script. I think these two checks can be separate checks though, i.e.:
[code]

[2018-09-04 08:01] teuneboon opened #33369 "Can't set action.auto_create_index to any value(too restrictive)"
**Elasticsearch version**: 6.4.0

**Plugins installed**: []

**JVM version**: OpenJDK 1.8.0_181

**OS version**: Linux 3.16.0-5-amd64 #1 SMP Debian 3.16.51-3+deb8u1 (2018-01-08) x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
When I try to set `action.auto_create_index: false` I get the following error when starting Elasticsearch:

`Caused by: java.lang.

[2018-09-04 10:15] droberts195 commented on #32836
#29769 could also be considered while changes are being made for this issue.

[2018-09-04 10:16] droberts195 commented on #31134
Closed by #31134.

[2018-09-04 10:16] #31134 closed

[2018-09-04 11:04] bpintea commented on #33312
I guess there were some typos: SYS TABLE TYPE**S** and SYS TABLE**S** TYPE?
(I've noticed I did a c&p error in the expected output for the table types my initial post too, showing the wrong query, which I've just corrected.)

In respect to the equivalence, conceptually yes, `SYS TABLES TYPE '%'` is equivalent to `SYS TABLE TYPES` in that an enumeration of supported table types is returned (but ofc

[2018-09-04 11:50] jasontedor commented on #33341
As @atorok mentions, this is exactly what I am suggesting that you do not do. Within Elasticsearch, we are disfavoring the use `ESSingleNodeTestCase` and `ESIntegTestCase`. They are really for when we need low-level control of components within Elasticsearch. For all other test use-cases, we prefer to use standalone integration tests where we startup a real cluster of Elasticsearch and use that fo

[2018-09-04 12:08] cdekker commented on #33036
I found that calling the _split API with an incorrect number of destination shards returns the `number_of_routing_shards` value in the error message. Far from fool proof, but it seems to be the only workaround that I could come up with.

[2018-09-04 12:35] droberts195 opened #33376 "[ML] Allow users to annotate ML anomaly results"
It would be nice if a user who knows the reason for an interesting feature in the ML results to be able to annotate this.

To enable this we could add a new `annotation` result type, similar to this:

[code]

By making the detector index optional, the annotation can apply to either the whole job or just a specific detector.

Unlike other ML results, instead of `timestamp` and `bucket_span` annotat

[2018-09-04 12:35] elasticmachine commented on #33376
Pinging @elastic/ml-core

[2018-09-04 12:43] s1monw commented on #30560
we haven't got much feedback I am closing this.

[2018-09-04 12:43] #30560 closed

[2018-09-04 13:02] dnhatn opened #33379 "[CI] CCR - testValidateFollowingIndexSettings fails"
I have not looked into the failure. I open this issue so that we can mute the test.

CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=sles/2651/console

Log: [validate_follow_setting.txt.zip](https://github.com/elastic/elasticsearch/files/2348569/validate_follow_setting.txt.zip)

Reproduce command:

[code]

[2018-09-04 13:02] elasticmachine commented on #33379
Pinging @elastic/es-distributed

[2018-09-04 13:36] jpountz commented on #24362
We discussed it, this issue incorporated two things:
 - the need to identify root documents efficiently, which @s1monw addressed as explained above
 - the removal of the `_type` field, which still needs to be addressed

We agreed to rename `_type` to `_nested` to address the second point.

[2018-09-04 13:37] jpountz opened #33382 "Expose proximity boosting"
In addition to static features (ctr, pagerank, url length) it is common to also want to boost by recency or geo-distance, which are going to perform differently on every request depending on the current time or on the location of the user that runs the query.

Lucene just added support for efficient [boosting by recency](https://issues.apache.org/jira/browse/LUCENE-8340) and plans to add something

[2018-09-04 13:37] elasticmachine commented on #33382
Pinging @elastic/es-search-aggs

[2018-09-04 13:54] #33294 closed

[2018-09-04 13:57] jakelandis commented on #29880
Another failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1852/console

Unable to reproduce on Linux. (I don't think this is a Windows specific failure)
[code]

[2018-09-04 14:48] original-brownbear commented on #33342
Ok, I can confirm that the behaviour here is somewhat sub-optimal.
If we set a timeout smaller than the time taken by the request, then we will not interrupt the request at all only throw an exception from `org.elasticsearch.client.RestClient.SyncResponseListener#get`.
=> we're leaking memory here if we are retrying requests by user code quicker than they time out on the HTTP client level because

[2018-09-04 14:49] delvedor opened #33383 "Yaml tests: catch error regex"
Hi everyone!

While writing the integrations tests for [`elasticsearch-js`](https://github.com/elastic/elasticsearch-js), I got an [error failing](https://github.com/elastic/elasticsearch/blob/7f7e8fd733d3f98e7422288099b530610b4c4d1e/rest-api-spec/src/main/resources/rest-api-spec/test/search/115_multiple_field_collapsing.yml#L43-L54), and I’m struggling to understand why.
The test expects me to ca

[2018-09-04 15:09] exe-dealer opened #33384 "invalid empty json on 404 INDEX/_doc/ID/_source"
GET /existing-index/_doc/notexisting-id/_source
returns empty body when document is not found.
Empty string is invalid json but content-type of response is `application/json; charset=UTF-8`
it whould be better if response body will be `null` to make json parser happy