[2019-06-05 08:16] pgomulka commented on #42835
It is related to https://github.com/elastic/elasticsearch/pull/40100 where I changed the logic for parsing composite date formats (with `||`) . I wrongly assumed that formats for round up can not have composite formats.

[2019-06-05 09:00] #38390 closed

[2019-06-05 09:27] rightaway commented on #42785
Limitations of multi-get api is described in the linked issue https://github.com/elastic/elasticsearch/issues/3458#issuecomment-26591217.

[2019-06-05 09:32] #42666 closed

[2019-06-05 10:10] markharwood commented on #42753
In addition to the `match_phrase` and `and` problems listed above, we also have a _scoring_ issue when the example query above is relaxed to an `or`:

	  "match": {
		"name.shingle": {
		  "operator": "or",
		  "query": "fit bit"
		}
	  }

In my example dataset the 23 `fitbit` docs are nowhere to be seen in top search results - nearly 1,000 docs with just the word `fit` rank higher because the IDF

[2019-06-05 11:05] markharwood commented on #42753
Maybe this is a Lucene issue?
The determination that[ tokens at the same position means synonym ](https://github.com/apache/lucene-solr/blob/master/lucene/core/src/java/org/apache/lucene/util/QueryBuilder.java#L533) is questionable.

Shingles add tokens to the same position but are not generally used to imply synonymity (and therefore the same score) - they are used to:
 a) improve performance of

[2019-06-05 11:16] leonav0408 commented on #40134
@droberts195 Thanks for some more pointers for me to reproduce. I will take a look at it and get back.

[2019-06-05 11:22] Bukhtawar commented on #42105
Typically not all the 200 shards start at the same time(due to varying sizes) and once one shard does start, master queues up a `shard-started` event. The task is processed by master in batches and there could be multiple such batches owing to the different times at which they get queued up(say some shards start after master starts processing the batch of shards already started).
Now coming to the

[2019-06-05 11:55] jpountz commented on #9034
I wanted to check how much it would save so I played with the following patch, which stores every top-level json field in its own stored field, so I played with the following patch:

[code]

It doesn't pass all tests but it's enough to experiment. The approach is pretty conservative: the order of fields is conserved, and values are stored exactly as they were provided in the original source, it mi

[2019-06-05 12:11] jimczi commented on #42785
Yes, along with the reasons why we don't want to support this and the possible workarounds.
The ordering of documents in the response is controlled by the `sort` criteria. I understand that the `_ids` query can be thought differently since each id can match at most 1 document. Though this is the search API, not a multi get API, so I don't see why one query should dictate the behavior of the whole

[2019-06-05 12:12] DaveCTurner commented on #42105
Ok I think I see. You seem to be saying that the master is receiving a stream of relatively few `shard-started` events over a longer period of time, which is starving the mapping updates of time on the master. Am I understanding this correctly?

If so, I don't think adjusting the priority of mapping updates will solve this problem. Even if mapping update tasks were top priority they'd still have t

[2019-06-05 12:45] Bukhtawar commented on #42105
Yes that seems correct

I understand there is no pre-emption, but the mapping update in the midst of streams of `shard-started` event will not need to be put on hold. It would be served once the ongoing cycle of shard allocation completes instead of waiting on the storm of events to finish. There is a significant time gap here.

IMHO shard relocation should have relatively low priority as compared

[2019-06-05 12:48] jpountz commented on #13377
Good catch @mariha it has been addressed indeed.

[2019-06-05 12:48] #13377 closed

[2019-06-05 12:57] jpountz commented on #21134
This can't be changed on an existing index, you would need to create a new index with correct mappings, and reindex to it, possibly via the reindex API.

[2019-06-05 13:03] hackerwin7 commented on #31197
same issues in 7.1.0, there is a internal server error in /_stats/fielddata
[code]

[2019-06-05 13:20] markharwood opened #42892 "English-minimal analyzer has bad plural stemming"
Benchmarks on real data have steered me towards this token filter as other forms of stemmer are generally too aggressive  for ecommerce (e.g. `loafers==loaf`).
Good plural-stemming is ideally what is required because most user searches are plural and yet product descriptions are singular (e.g. "dresses" search should match product "red dress").

Good examples of plural stemming by this filter incl

[2019-06-05 13:20] elasticmachine commented on #42892
Pinging @elastic/es-search

[2019-06-05 13:23] jimczi commented on #42753
We disallow graph queries (taking `position_length` into account) for `analyzer` that contains a shingle filter that index unigram or more than 1 size of shingles. This is a conscious choice to avoid paths explosion when building the query. Each starting of shingle creates a new path that interleaves with pathes of other shingle size (unigram included) so the number of clauses that we need to buil

[2019-06-05 13:30] fkelbert commented on #42422
Sorry @DaveCTurner . Is just didn't get around to look into this further.

The search results order is the same for me. However, I would argue that elastic.co should be the very first hit.

The underlying problem I really see is that in the field we too often encounter clusters with all nodes having all roles (default) and `minimum_master_nodes: 1` (default) (I am aware that this problem will go a

[2019-06-05 13:34] polyfractal opened #42893 "Replace Agg integration tests with AggregatorTestCase"
Similar in spirit to https://github.com/elastic/elasticsearch/issues/36015, but with the goal of removing unecessary metric/bucket agg IT.  Unlike the pipeline aggs, it should be very straightforward to replace, and I think we can probably remove most of the existing `ESIntegTestCase` tests

Some of these aggs do already have an `AggregatorTestCase`, so we should evaluate if the IT has something t

[2019-06-05 13:40] jpountz commented on #42892
Is there a general rule, we can't just remove the `e` before the `s` all the time? E.g. `forces`, `votes`, `xylophones`, etc.

If this is a hard problem, maybe an alternative would be to recommend using a synonym filter for those terms that get frequently misstemmed. A good list to start with could be added to our docs.

If we want to change the behavior of this stemmer, I'd rather make a new one

[2019-06-05 13:42] elasticmachine commented on #42893
Pinging @elastic/es-analytics-geo

[2019-06-05 13:45] markharwood commented on #42892
I can do some digging but for a start I would expect `*ss` `*tch` `*x` are always patterns that would always remove the `es` part of a plural.

[2019-06-05 13:57] DaveCTurner commented on #42422
Thanks @fkelbert, I see what you mean. I don't know what kind of SEO magic we might need to do to displace the top hit, but I think we can work your suggestion into the page.

[2019-06-05 13:58] polyfractal opened #42894 "Remove BaseAggregationTestCase in favor of AbstractSerializingTestCase"
Many aggregation builders use [`BaseAggregationTestCase`](https://github.com/elastic/elasticsearch/blob/master/test/framework/src/main/java/org/elasticsearch/search/aggregations/BaseAggregationTestCase.java) (which extends [`AbstractBuilderTestCase`](https://github.com/elastic/elasticsearch/blob/master/test/framework/src/main/java/org/elasticsearch/test/AbstractBuilderTestCase.java)) to check xcon

[2019-06-05 13:58] elasticmachine commented on #42894
Pinging @elastic/es-analytics-geo

[2019-06-05 14:04] jasontedor opened #42895 "Enable building with the JDK 13 compiler"
We continually advance to the latest compiler as new versions of the JDK are released. However, we are prevented from trying to build with JDK 13 at this time since Gradle does not yet support JDK 13 (gradle/gradle#8681). This is a placeholder to enable building with the JDK 13 compiler when upstream addresses the issues that are preventing Gradle from supporting JDK 13.

Relates 18e74cb92e4cf977d

[2019-06-05 14:04] elasticmachine commented on #42895
Pinging @elastic/es-core-infra

[2019-06-05 14:09] sd1998 commented on #24422
@rjernst Can I work on this issue?

[2019-06-05 14:15] markharwood commented on #42892
Probably for a different issue, but it would be good to consider how we name token filters and deal with BWC.
We end up with a proliferation of analyzer/tokenizer names: e.g. "english_light", "english_minimal" and now perhaps "english_better_minimal" as we evolve.
Perhaps it would be useful to let the names convey the intention (eg stemming plurals only) but also include a version number component

[2019-06-05 14:22] markharwood commented on #42753
Thanks for the detail, Jim. I appreciate the multi-path concerns.

The approach being taken by the user that led me to this is to pre-process query strings and rewrite.
Essentially they want to promote valid phrases in the query to logical "musts" and leave the rest of the query string terms as `shoulds`. This seems like a good strategy for a typical ecommerce site that doesn't rely on maintenance

[2019-06-05 14:42] cbuescher commented on #42473
Note from a discussion with the team: we should also try to look into making the behavior for `terms` and `phrase` suggesters similar to this, meaning there is no difference in response between running a suggestion on a on a new index with no documents to running it on an index with documents that don't produce any suggestions.

[2019-06-05 14:54] ruflin commented on #31244
@jasontedor I wanted to bump this issue here as we started to discuss again around bytes and duration fields in Elasticsearch in the context of ECS and adding metrics: https://github.com/elastic/ecs/pull/480

[2019-06-05 15:12] mark-vieira commented on #42532
Had [another instance](https://scans.gradle.com/s/54s4z6jxbnndc/console-log?task=:modules:percolator:integTestRunner) of this even with the "fix". I'm quite certain it's still an issue with testclusters overriding the bundled integ-test netty JARs, just certain why it's still happening. Continuing to investigate.

[2019-06-05 15:21] ywelsch commented on #41899
Logs are gone and no recent failure of this. Closing this waiting for next failure.

[2019-06-05 15:28] yrodiere opened #42898 "scaled_float offers 53-bit precision instead of the usual 64-bit precision of longs"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.1.1, but probably every earlier version that supports `scaled_float` too (confirmed on 5.6, 6.7, 7.0 at least)

**Plugins installed**: []

**JVM version** (`java -version`): using the docker container, so I don't know. Probably 8?

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expect

[2019-06-05 15:30] fgdgtz183 opened #42899 "Elasticsearch 2.4.3 very high cpu usage"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 2.4.3

**Plugins installed**:
delete_by_query,head,ik

**JVM version** (`java -version`):
Version:1.8.0_121
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux version 4.4.0-93-generic (buildd@lcy01-28) (gcc version 4.8.4 (Ubuntu 4

[2019-06-05 15:30] yrodiere commented on #42898
Hi,

I'm submitting this as an issue to get some opinion.

The problem is impacting our ability to index `BigDecimals` in Hibernate Search, so I'd be more than happy to try and contribute a fix if the issue is deemed valid.

[2019-06-05 15:44] #42340 closed

[2019-06-05 17:00] mark-vieira commented on #42532
Ok, my initial fix was insufficient. I'm _fairly_ confident_ #42900 will sort out the issue once merged.

[2019-06-05 19:05] sandmannn commented on #24422
@sd1998  you can review https://github.com/elastic/elasticsearch/pull/41656, which was there for some time

[2019-06-05 19:18] #42493 closed

[2019-06-05 20:02] #26921 closed

[2019-06-05 20:36] mark-vieira commented on #42532
Alright, changes from #42900 are in. Let's let that percolate out to everyone's branches and see if that clears up the issue.

[2019-06-05 20:43] mark-vieira opened #42905 "FsRepositoryTests#testSnapshotAndRestore reproducibly fails"
Only two failures I can see so far but this reproduces locally with the reported reproduction line:

**master:** https://scans.gradle.com/s/iyzbahgiwlozo/tests/nfxodyych4uas-q3xmc2ojf2vps
**7.x:** https://scans.gradle.com/s/623accnw2wayg/tests/nfxodyych4uas-q3xmc2ojf2vps

[2019-06-05 20:43] elasticmachine commented on #42905
Pinging @elastic/es-core-infra

[2019-06-05 20:46] elasticmachine commented on #42905
Pinging @elastic/es-distributed

[2019-06-05 20:47] mark-vieira commented on #42905
Test has been muted in both `master` and `7.x`.

[2019-06-05 20:58] jasontedor commented on #42899
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2019-06-05 20:58] #42899 closed

[2019-06-05 20:59] original-brownbear commented on #42905
Doesn't look like this was introduced by a very recent change, it fails all the way back to `7.2`, tracking it down now.

[2019-06-05 21:02] mark-vieira commented on #42905
Thanks @original-brownbear. There's only been 2 failures in the past 30 days and they both happened this week. Perhaps simply coincidence.

https://build-stats.elastic.co/goto/ea44de95a90f31fa5b9dc5a90fd89a32

[2019-06-05 21:02] original-brownbear commented on #42905
This is the new test added in https://github.com/elastic/elasticsearch/pull/42213 and it never passed for this seed.

[2019-06-05 21:03] original-brownbear commented on #42905
So no coincidence there :) it's new.

[2019-06-05 21:09] henryptung commented on #42813
@jimczi Hey, so there are some delays on my end regarding CLA stuff, but would it be possible for you or an ES dev to make the change instead? It's pretty straightforward, basically just about piping down a hook for initializing query cache + caching strategy through `QueryShardContext`.

On a separate side note, we also just ran into https://github.com/elastic/elasticsearch/commit/3d5f113ada63b91

[2019-06-05 21:49] cjcenizal commented on #35928
Closed by https://github.com/elastic/elasticsearch/pull/41502

[2019-06-05 21:49] #35928 closed

[2019-06-05 22:06] cjcenizal opened #42908 "[Rollup] Allow deletion of a running rollup job"
Related to https://github.com/elastic/elasticsearch/issues/39845. Currently, if you try to delete a running rollup job you get a 500 error with the explanation "Could not delete job [job-name] because indexer state is [STARTED].  Job must be [STOPPED] before deletion." Can we update the `DELETE` endpoint to stop the job before deleting it?

CC @sebelga @polyfractal

[2019-06-05 22:06] elasticmachine commented on #42908
Pinging @elastic/es-analytics-geo

[2019-06-06 03:11] debadair opened #42914 "[DOCS] Add Homebrew installation instructions"
Update the installation info to:

- Add brew as an installation option on the main [install page](https://www.elastic.co/guide/en/elasticsearch/reference/current/install-elasticsearch.html)
- Add a topic called "Install Elasticsearch on macOS with Homebrew" for the brew instructions and give it the anchor [[brew]]

To use brew to install the stack components, users will first need to “tap” the Ela

[2019-06-06 03:11] elasticmachine commented on #42914
Pinging @elastic/es-docs

[2019-06-06 04:28] bputt opened #42916 "Add sql rest support for prepared statement"
**Describe the feature**:
When issuing an SQL query via REST, it would be helpful to implement prepared statement support to help address potential for malformed queries/sql injection.

Example:
[code]

[2019-06-06 05:35] lovelivestyle1102 opened #42918 "actionGet interrupted"
when i use the client.prepareGet().execute().actionGet() api to get the result,there is a IllegalStateException future got interrupted.

[2019-06-06 06:45] elasticmachine commented on #42898
Pinging @elastic/es-search

[2019-06-06 07:50] elasticmachine commented on #42916
Pinging @elastic/es-search

[2019-06-06 07:51] tvernum commented on #42918
Hi @lovelivestyle1102
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests. The discussion forums
are beter suited to these sorts of t

[2019-06-06 07:51] #42918 closed

[2019-06-06 08:16] pgomulka commented on #42010
closed by #42659 (7.x) and #41956 (6.8)

[2019-06-06 08:16] #42010 closed

[2019-06-06 08:51] ywelsch commented on #42350
Can we close this now @original-brownbear?

[2019-06-06 09:08] original-brownbear commented on #42350
@ywelsch The main test failing here was the one that is currently handled in https://github.com/elastic/elasticsearch/issues/42577 and the PR reenabling it is still in the works https://github.com/elastic/elasticsearch/pull/42774. I guess we can revisit this if it comes up again after the test is reenabled and close it for now?

[2019-06-06 09:19] itiyamas commented on #40450
@s1monw I ran this on an index with 1 second refresh interval, which is why I saw good improvements.  A relaxed frequency of refresh interval will increase the tail latency even further but for a smaller percentile of requests. Increasing the bulk clients even further showed a much better improvement- close to 20%.

[2019-06-06 09:59] ywelsch commented on #37567
With the transport client going away, I don't think it makes sense to spend too much effort on this test. The issue I've identified is not causing any harm, it just does not report disconnects as quickly.

[2019-06-06 09:59] #37567 closed

[2019-06-06 10:08] junawaneshivani opened #42926 "Pre-built packages for ppc64le architecture contribution"
Hi all, I have been able to build elasticsearch 6.5.4, logstash 6.5.4 and kibana 6.5.4 from source on ppc64le architecture. I would like to find out how can I contribute to make the .deb packages available for ppc64le architecture here https://artifacts.elastic.co/packages for direct installation. Any help would be highly appreciated.

[2019-06-06 10:52] jkakavas commented on #40170
@DaveCTurner reopening this as it failed in 7.2 today.

Build scan : https://gradle.com/s/7tnm3bnt4szh6
Console log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=openjdk12,nodes=immutable&&linux&&docker/3/console

[2019-06-06 11:05] jkakavas commented on #42215
Another failure today, muted this in 6.7, 6.8, 7.1, 7.2, 7.x, master

[2019-06-06 11:14] jkakavas opened #42932 "SetSingleNodeAllocateStepTests.testPerformActionAttrsRequestFails failure"
Failure:
[code]

REPRODUCTION:

Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.1+multijob-unix-compatibility/os=centos-6/7/console
Build Scan: https://gradle.com/s/aqpaa6z36kiei

This reproduces locally in all versions, I'll mute it.

[2019-06-06 11:14] elasticmachine commented on #42932
Pinging @elastic/es-core-features

[2019-06-06 12:04] ywelsch commented on #35499
I've had a look here. The issue is that because remote connections are not established synchronously when registering a new remote host, the check to `GET /_remote/info` races connections being established. This is the same in 6.8 and 7.x/master. The difference is how the remote info is reported. On 6.8, `seeds` is returning an empty list when there isn't a connection to any node yet, whereas 7.x/

[2019-06-06 12:04] #35499 closed

[2019-06-06 12:05] #18747 closed

[2019-06-06 13:21] hendrikmuhs opened #42941 "[Transform] Add support for missing_bucket in group_by"
By default documents without a value for a given group_by are ignored. Like composite aggs it would be nice to support `missing_bucket` in group_by.

Side effect: Progress reporting ignores missing values, progress calculation must be changed accordingly when implementing this feature.

[2019-06-06 13:21] elasticmachine commented on #42941
Pinging @elastic/ml-core

[2019-06-06 13:52] paulcarey commented on #33204
That's a bit disappointing as it's about nine months since this issue was first raised.

At this point I'm heavily committed to both nested documents and ES SQL. I realise no commitments had been provided, but stating that there probably won't be any work on this in the near future is not reassuring.

Regarding the new ideas that arose in your internal discussions, are these something you could sh

[2019-06-06 13:53] javanna commented on #36337
Thanks for getting back to us. I would tend to close this issue given that you found a way to implement it and we got no other requests around this. Please leave comments if you think we should reconsider.

[2019-06-06 13:53] #36337 closed

[2019-06-06 13:55] elasticmachine commented on #42926
Pinging @elastic/es-core-infra

[2019-06-06 13:56] javanna commented on #42496
Closing due to lack of feedback, feel free to reopen or add a comment with the requested info so we can have another look at it.

[2019-06-06 13:56] #42496 closed

[2019-06-06 14:16] s1monw commented on #40450
I didn't get to re-running this yet. I will for sure make some effort.

[2019-06-06 14:16] polyfractal commented on #42493
@tools4origins I just merged a PR to make the ctor protected, so I think this should be accessible for plugin authors now.

[2019-06-06 15:19] not-napoleon opened #42949 "Refactor ValuesSource and related classes"
The aggregations framework defines several similar but subtly different classes & enums to represent what type of data an aggregation operates on.  Their correct usage and interaction is not obvious, especially to new developers.  This refactoring aims to make input type specification for aggregations easier to understand.
## Plan
To replace the assorted hard coded `ValuesSource` references, we wa

[2019-06-06 15:19] elasticmachine commented on #42949
Pinging @elastic/es-analytics-geo

[2019-06-06 15:25] jkakavas opened #42950 "CcrRetentionLeaseIT.testRetentionLeaseRenewedWhileFollowing failure"
REPRO:
[code]
[code]

Log:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+multijob-unix-compatibility/os=fedora-29&&immutable/8/console
Build Scans:
https://gradle.com/s/fcrkcq7mi433a
https://gradle.com/s/4sefd5lta3pws
https://gradle.com/s/jmdi2vpgy5ikq

[2019-06-06 15:25] elasticmachine commented on #42950
Pinging @elastic/es-distributed

[2019-06-06 15:31] jasontedor commented on #42926
Thank you for your interest and offer to contribute. At this time though, we do not intend to support `ppc64le`. We prefer to not take on contributions that we do not intend to support because it can end up being confusing to our users, and it's difficult for us to us maintain.

[2019-06-06 15:31] #42926 closed

[2019-06-06 15:50] VRYasa opened #42953 "ES crashing multiple times, over 1Billion docs a day, indexing rate falling from 25k/s to 2k/s"
**ES crashing multiple times, over 1Billion logs a day, indexing rate falling from 25k/s to 2k/s**:

**GET /** output:
{
  "name": "es-ingest-3",
  "cluster_name": "CT",
  "cluster_uuid": "IEasdfasfsdfaf",
  "version": {
    "number": "6.1.2",
    "build_hash": "asdfasdf",
    "build_date": "2018-01-10T02:35:59.208Z",
    "build_snapshot": false,
    "lucene_version": "7.1.0",
    "minimum_wire_co

[2019-06-06 16:08] DaveCTurner commented on #42953
Hi @VRYasa, I think this question is better suited for the [discussion forums](http://discuss.elastic.co/c/elasticsearch). Although you might be reporting a bug I think it more likely that this is a question about how to use Elasticsearch, and your description of the problem is not precise enough for us to investigate further.

[2019-06-06 16:08] #42953 closed

[2019-06-06 16:08] metaruslan opened #42957 "Fuzzy queries don't use distributed frequencies with dfs_query_then_fetch"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.4.2 in my linux VM, but I could also reproduce it in 7.1.1 with the official docker image on docker for Mac (examples below are for 6.4.2)
**Plugins installed**: []
None
**JVM version** (`java -version`):
1.8.0_121
**OS version** (`uname -a` if on a Unix-like system):
Linux mapr-vm 4.14.101-91.76.amzn2.x86_64 #1 SMP Tue Feb 19 17:51:33 U

[2019-06-06 16:11] VRYasa commented on #42953
Thanks for the response. I have posted it there. https://discuss.elastic.co/t/es-crashing-multiple-times-over-1billion-docs-a-day-indexing-rate-falling-from-25k-s-to-2k-s/184628

[2019-06-06 16:34] bputt opened #42959 "Add if support for sql query"
**Describe the feature**:
It would be helpful to enable support for IF statements in the SELECT portion of the SQL query

Examples:
[code]

[2019-06-06 17:18] jakelandis commented on #42409
All tests in SmokeTestWatcherWithSecurityIT failed. It is likely that all share the same root cause.

[code]

<details>
<summary>Relevant Failure with repro lines:</summary>
<pre>
10:45:18 org.elasticsearch.smoketest.SmokeTestWatcherWithSecurityIT > testSearchInputWithInsufficientPrivileges FAILED
10:45:18     org.elasticsearch.client.ResponseException: method [POST], host [http://[::1]:45978], UR

[2019-06-06 17:23] jimczi commented on #42898
This is fixed by #42554, hence closing

[2019-06-06 17:24] jimczi commented on #42898
Oups wrong issue, sorry

[2019-06-06 17:24] jimczi commented on #42361
This is fixed by #42554, hence closing

[2019-06-06 17:24] #42361 closed

[2019-06-06 17:43] jimczi commented on #42898
We could do the parsing from the string representation but I don't think that this field should be used to index `BigDecimal`. The field expects a number represented as a double so anything that requires more accuracy is rounded to a double first. This is also consistent with what we do for the other numeric types. Can you explain how and why you want to index `BigDecimal` with `scaled_float` ?

[2019-06-06 17:49] #28053 closed

[2019-06-06 18:21] #42813 closed

[2019-06-06 18:42] elasticmachine commented on #42959
Pinging @elastic/es-search

[2019-06-06 18:44] elasticmachine commented on #42957
Pinging @elastic/es-search

[2019-06-06 18:49] ebadyano commented on #41789
@elastic/es-core-features

[2019-06-06 19:32] kyrill007 commented on #42957
Ruslan and I are working on this problem together.  Ruslan provided excellent debugging info above, but let me try to provide an executive summary below to grab your full attention. First, we’re working on a system where ES queries have to retrieve duplicate documents. It is thus crucial for us to have consistent scoring and thus we’ve enabled **dfs_query_then_fetch**. It works very well, yet we’v

[2019-06-06 20:20] ycombinator opened #42967 "[DOCS] Add CCR Stats Collector to Monitoring Collectors page"
This page lists all Monitoring collectors that run within Elasticsearch: https://www.elastic.co/guide/en/elasticsearch/reference/current/es-monitoring-collectors.html.

We should add documentation for the CCR stats collector as well, viz. https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/collector/ccr/StatsCollector.java

[2019-06-06 20:20] elasticmachine commented on #42967
Pinging @elastic/es-core-features

[2019-06-06 20:36] dnhatn commented on #42881
Fixed in #42956.

[2019-06-06 20:36] #42881 closed

[2019-06-06 20:43] rjernst commented on #40179
After a followup fix-it-day discussion, we have decided against this proposal. In addition to the already existing ability to pass a single value by using `/32` or by specifying both `gte` and `lte` (as works for any range field type), the possibility to muddy the user intention is too great. For example, if we were to start accepting these values without the suffix, one might suggest masks should

[2019-06-06 20:47] #40179 closed

[2019-06-06 21:07] jasontedor commented on #42790
We discussed this during our weekly fix-it meeting. We think this is a worthwhile addition although we are doubtful about overloading hot_threads for this purpose. Instead, we discussed the possibility of adding a dedicated threads API that would give basic reporting about threads (stacktraces, etc.) and could include deadlock detection, basically bring `jstack` into Elasticsearch.

[2019-06-06 21:46] tbrooks8 commented on #31908
Closed as this should be fixed at this point. @SergSlipushenko this should be fixed in 7.2.

[2019-06-06 21:46] #31908 closed

[2019-06-06 21:51] gwbrown commented on #40638
This has been implement in https://github.com/elastic/elasticsearch/pull/41281.

[2019-06-06 21:51] #40638 closed

[2019-06-07 06:25] yrodiere commented on #42898
Ok, here is an explanation.

When using a `BigDecimal` in an application, we typically want more precision than a `double`. Otherwise, we'd just pick `double`.

`scaled_float` is the only floating-point type advertising a precision higher than that of a `double`, since it is described as "indexed as a long", which could theoretically give 64 bits of precision.

Also... even though Elasticsearch is

[2019-06-07 07:27] hendrikmuhs opened #42978 "[ML-DataFrame] Checkpoint information is wrong for stopped dataframes"
For stopped data frames the checkpoint information is taken from the stored stats document in the internal index rather than calculated. The stored information is always empty, therefore it always reports 0:

[code]

**Solution**:

- [ ] calculate checkpoint information the same ways as it's done for started data frames
- [ ] do not persist checkpoint information in the state-and-stats document in

[2019-06-07 07:27] elasticmachine commented on #42978
Pinging @elastic/ml-core

[2019-06-07 07:37] jimczi commented on #42898
As said above we treat this field as if it was indexed with doubles this is why you can use it in aggregations where values are translated back to doubles. With more precision we'd need to treat them differently in aggregations or even worse drop the support for it. I understand that not supporting  `BigDecimal` is an issue for you but I also don't think that `scaled_float` is the solution, not no

[2019-06-07 07:53] jimczi commented on #42957
There are multiple points to clarify here. First of all, the `fuzzy` query uses a rewrite strategy that blends the frequencies of the extracted terms. For instance the fuzzy terms `gender1` is expanded into `gender1` and `gender2` and the query uses the max doc count of both term to compute the score of documents that contain `gender1` or `gender2`. This is why the first query (with only 1 shard)

[2019-06-07 08:40] henningandersen opened #42979 "[CI] InternalEngineTests.testLookupSeqNoByIdInLucene fails after prune ID merge policy"
My PR build failed:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-1/193/testReport/org.elasticsearch.index.engine/InternalEngineTests/testLookupSeqNoByIdInLucene/

with:
[code]

I can easily reproduce this with the seed DDA237697902E2F7. I cut down the test case to following (which indexes a doc, does a refresh, deletes the doc and then merges, loosing the ability to

[2019-06-07 08:40] elasticmachine commented on #42979
Pinging @elastic/es-distributed

[2019-06-07 08:40] henningandersen commented on #42979
ping @s1monw

[2019-06-07 09:34] yrodiere commented on #42898
I'm certainly not asking for support for `BigDecimal`, which I only mentioned to explain my use case. I fully understand it would require a lot of work and cannot be implemented completely.
I'm not even asking to change querying, storage or aggregations.
I'm just proposing to fix a parsing issues that prevents from taking advantage of a 64-bit precision that is *already there*, and is not being ex

[2019-06-07 10:17] #42661 closed

[2019-06-07 11:02] henningandersen commented on #42244
Build scan for last reported failure is here: https://scans.gradle.com/s/elpabmodig2jm

[2019-06-07 11:22] jimczi commented on #42898
I agree that the change is simple, we could just parse the input with BigDecimal directly rather than using a double first. However as said above my main concern is that we'll lose the precision in scripts and aggregations (where we use doubles) so it would only help for sorting and querying which is deceptive for users. I don't think that the maintenance is an issue here, it is more about the con

[2019-06-07 12:20] ywelsch commented on #40867
@dnhatn is this test fixed now by flushing at the end of peer recovery? If that's not sufficient, should we just explicitly flush in the test before we restart the node?

[2019-06-07 12:25] jimczi commented on #42743
Ok then you might be affected by this bug:
https://github.com/elastic/elasticsearch/issues/41022

It is fixed in `6.7.2` so can you try to upgrade and see if this fixes the issue ?

[2019-06-07 12:26] #42905 closed

[2019-06-07 12:34] #42950 closed

[2019-06-07 12:37] matriv commented on #42959
@ebadyano The functionality has been introduced with: #41420.

The function is actually called `IIF` (as in MS-SQL server) and you can find the documentation [here](https://www.elastic.co/guide/en/elasticsearch/reference/7.2/sql-functions-conditional.html#sql-functions-conditional-iif).

Another alternative is to user the ANSI-SQL [CASE](https://www.elastic.co/guide/en/elasticsearch/reference/7.2/

[2019-06-07 12:37] #42959 closed

[2019-06-07 12:40] svagner opened #42983 "Long time for elect new master after existing leader unavailable"
**Elasticsearch version**: 7.0.1 (e4efcb5)

**Plugins installed**: []

**JVM version**: build 1.8.0_191-b12

**OS version**: Linux masterv7-1003 3.10.0-957.12.2.el7.x86_64 #1 SMP Tue May 14 21:24:32 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
Long time for elect new master when existed master became unavailable (> 1m)
Also weir

[2019-06-07 12:54] romseygeek commented on #42743
@misrasuraj can you get the full stack trace from the `illegal_argument_exception` you were seeing when using `explain`?  That sounds like a different bug that we need to look into.

[2019-06-07 13:03] dnhatn commented on #42979
To make `LocalCheckpointTracker#contains` work correctly, we started restoring the LocalCheckpointTracker from an index commit (in #34474). However, that change causes both FollowingEngine and InternalEngine wrongly to ignore deletes. We fixed the issue by using  _id of soft-deletes to resolve the indexing strategy (#35230). Sadly, the new PrunePostingsMergePolicy would make the problem appear aga

[2019-06-07 13:07] ywelsch commented on #41054
There's another recent failure here: https://scans.gradle.com/s/ihktsg6wdryoi

While the console output on the build scan does not contain the full assertion failure (it's just the top-level message, not the suppressed exceptions, not sure why, perhaps @atorok or @mark-vieira know?)  but the e-mail fortunately has the full stack trace, repeated here:

[code]

It looks like the retention lock from

[2019-06-07 13:40] henningandersen commented on #42979
I wonder if we can remote the work in #35230, since we now initialize
[code]
(#41161)

According to comments here https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java#L265 that initialization is an alternative solution to #35230? Sounds plausible, but I guess there could be something I am missing?

[2019-06-07 14:17] henningandersen commented on #42244
This second CI failure can be reproduced with the seed from above on both 7.2 and master. The problem seems to be long and complex histories (many timeouts) making the linearizability checker choke on it. We could improve the caching strategy for large histories, but this specific problem does not appear with the unresponsive network simulation fix from #42579 so will leave this for now.

[2019-06-07 14:52] elasticmachine commented on #42983
Pinging @elastic/es-distributed

[2019-06-07 15:22] #41015 closed

[2019-06-07 16:22] dolaru opened #42995 "[ML] Data frame cannot be deleted if it was stopped while it was finishing"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.3.0 and 8.0.0

**Plugins installed**: ['repository-gcs']

**JVM version** (`java -version`): openjdk 11.0.2

**OS version** (`uname -a` if on a Unix-like system): Darwin Kernel Version 18.6.0

**Description of the problem including expected versus actual behavior**:
From Slack discussions:

Based on investigations so far, it looks like t

[2019-06-07 16:22] elasticmachine commented on #42995
Pinging @elastic/ml-core

[2019-06-07 16:24] jakelandis commented on #42583
Looks like this happened two more times this week:
June 7: https://scans.gradle.com/s/llv7in7mn3yik/failure?openFailures=WzBd&openStackTraces=WzFd#top=0
June 5: https://scans.gradle.com/s/vyb24zgqbeulg/failure?openFailures=WzBd&openStackTraces=WzFd#top=0

[2019-06-07 16:47] jrodewig opened #43003 "[DOCS] Rename `// TESTRESPONSE[_cat]`"
The [README](https://github.com/elastic/elasticsearch/blame/master/docs/README.asciidoc#L65) states that `// TESTRESPONSE[_cat]` is for testing `_cat` API responses.

When that was originally written, I believe only `_cat` APIs provided responses in a non-JSON format. However, the SQL REST API can now also provide responses in non-JSON formats.

Let's rename `// TESTRESPONSE[_cat]` and expand the

[2019-06-07 16:53] jakelandis commented on #42979
another failure on master: https://scans.gradle.com/s/6tkiqql4r3jra/tests/nfxodyych4uas-rx2ilcccihjwi?openStackTraces=WzBd

[2019-06-07 16:55] polyfractal commented on #42908
I'll need to look again, but we ended up with that arrangement because (at the time) it was technically going to be unpleasant to stop then delete the job.  Issues with the async nature of the indexer basically.  But I agree it'd be a better user experience, will investigate again.

[2019-06-07 17:10] benwtrent opened #42996 "NPE in Lucene when running DeleteByQuery"
**Elasticsearch version** (`bin/elasticsearch --version`):
Versions v8.0.0 and v7.3.0

**JVM version** (`java -version`): Most likely numerous versions. Specifically tested against openjdk 11.0.2

**OS version** (`uname -a` if on a Unix-like system): Darwin Kernel Version 18.6.0

**Description of the problem including expected versus actual behavior**:

When running a DeleteByQuery with a terms qu

[2019-06-07 17:10] elasticmachine commented on #42996
Pinging @elastic/es-distributed

[2019-06-07 17:13] dnhatn commented on #42996
ping @s1monw

[2019-06-07 17:21] ebadyano opened #42997 "Add null check for ParentJoinFieldMapper in ChildrenAggregationBuilder.joinFieldResolveConfig"
A user received a NPE. It was reproduced on 6.3.1 with the following stack trace:
[code]

in `ChildrenAggregationBuilder.joinFieldResolveConfig`

[code]
`ParentJoinFieldMapper.getMapper` returns null when there is no parent-join field in the mapping. We already check to see if `parentIdFieldMapper` is null and use an unmapped. Should probably be doing the same for `parentJoinFieldMapper` as well.

[2019-06-07 17:21] elasticmachine commented on #42997
Pinging @elastic/es-analytics-geo

[2019-06-07 17:36] jakelandis commented on #42829
This has failed 131 times in the past 4 days
<img width="1331" alt="image" src="https://user-images.githubusercontent.com/976291/59122415-533d5d00-8920-11e9-8e3a-edad66e3a0c3.png">

I'm not sure https://github.com/elastic/elasticsearch/pull/42719 addressed the issue.

cc @mark-vieira @atorok

[2019-06-07 17:39] benwtrent commented on #42995
This is being caused by:  #42996

closing

[2019-06-07 17:39] #42995 closed

[2019-06-07 18:09] kat257 opened #43001 "Reorganize stack troubleshooting docs"
https://www.elastic.co/guide/en/elastic-stack-overview/7.2/troubleshooting.html

Support is adding a substantial troubleshooting doc for security, which raised a question around reorganizing the stack troubleshooting docs to make them easier for customers to review.

In addition, discuss creating a linked Troubleshooting section for all docs.

[2019-06-07 18:26] mikijov commented on #3138
+1

I run a large Elastic platform, 1.5TB of RAM worth of clusters, so you can believe me when I tell you that I have many many indices. To keep the platform healthy we need to start automating some index management tasks and we need either alias-to-alias or index-renaming to allow us to transparently manage indices without disrupting users. Basically our problem is that we need two layers, one fo

[2019-06-07 19:17] telendt opened #43002 "NullPointerException in ElisionFilter on _analyze"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 7.1.1, Build: default/docker/7a013de/2019-05-23T14:04:00.380842Z, JVM: 12.0.1
(but happens in older versions too)

**Steps to reproduce**:

[code]

output:
[code]

**Provide logs (if relevant)**:

[code]

**Few words of context**:
Elision filter seems to work fine to me in regular analyzer (created at the index creation time), so

[2019-06-07 19:20] elasticmachine commented on #43003
Pinging @elastic/es-docs

[2019-06-07 19:49] elasticmachine commented on #43002
Pinging @elastic/es-search

[2019-06-07 19:54] henryptung commented on #42813
@jimczi Actually, sorry for unfamiliarity here - what's the usual cadence for legacy patch releases? Just curious re: scheduling whether we should wait for an artifact or try to hack around it in the meantime.

[2019-06-07 20:03] amogh-jrules commented on #42997
Hi can I be assigned this issue?

[2019-06-07 20:05] henningandersen commented on #42979
We discussed my suggestion above on another channel and came to the conclusion that doing this would violate the invariant that LocalCheckpointTracker is a cache of the checkpoint information in lucene.

Instead we can fix this during ID pruning by not pruning out IDs after local-checkpoint of safe commit.

[2019-06-07 21:10] DaveCTurner commented on #42983
This sounds like the issue fixed by #39629. Are you running your nodes in containers? Can you set

    logger.org.elasticsearch.cluster.service: TRACE

and reproduce the problem, then share the full logs including stack traces?

That message looks normal to me.

[2019-06-07 21:16] DaveCTurner commented on #42983
Also, what is the response from `cat /proc/sys/net/ipv4/tcp_retries2`?

[2019-06-08 03:45] jasontedor commented on #42997
We can not assign issues to non-members (GitHub restriction), though you are free to submit a pull request for this.

[2019-06-08 04:30] dnhatn commented on #42979
I have muted this test on master and 7.x

[2019-06-08 20:50] ffknob opened #43012 "Join field type throwing "current_type [join], merged_type [ObjectMapper]" in 7.1.0"
**Elasticsearch version**:
7.1.0

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "10.0.2" 2018-07-17
OpenJDK Runtime Environment (build 10.0.2+13-suse-lp150.7.1-x8664)
OpenJDK 64-Bit Server VM (build 10.0.2+13-suse-lp150.7.1-x8664, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux berlin 4.12.14-lp150.12.25-default #1 SMP Thu Nov 1 06:14:23 UTC

[2019-06-08 21:56] DaveCTurner opened #43013 "AutodetectMemoryLimitIT#testTooManyPartitions fails with too large a model"
The following PR build failed: https://scans.gradle.com/s/yksgfi2gpxock/console-log?task=:x-pack:plugin:ml:qa:native-multi-node-tests:integTestRunner#L5 reporting the following:

[code]

Looking at the build stats I see 17 failures of this test over the last 24 hours, all against `master`, but nothing prior to that.

[2019-06-08 21:56] elasticmachine commented on #43013
Pinging @elastic/ml-core

[2019-06-08 22:12] DaveCTurner commented on #43013
Muted in 4810d3b5b20896d5740cf0a2940494779b07f461.

[2019-06-09 01:49] liza-mae opened #43014 "Elasticsearch is failing on windows"
**Elasticsearch version (bin/elasticsearch --version):** 7.2 Snapshot
build_flavor: oss, build_type: zip, build_hash: ef5176a

**JVM version (java -version):** 12.0.1

**OS version (uname -a if on a Unix-like system):** Windows 2016

**Description of the problem including expected versus actual behavior:**

Elasticsearch is throwing a fatal error after Kibana is started.

**Steps to reproduce:**

[2019-06-09 01:53] #40867 closed

[2019-06-09 08:27] zakjan commented on #16895
Hexagonal geo aggregation (Uber H3) support in ES would be a great feature, equal area buckets help with data visualization UX.

[2019-06-09 13:46] ffknob commented on #43012
I just got it to work by including the type `_doc` in the URL... Actually that's how the examples for the `join` datatype in 7.x are written, but I completely ignored it because I thought types were completely gone in 7.x...

[code]

Still a bug?

[2019-06-09 14:30] dnhatn commented on #40867
@ywelsch I fixed the [assertion](https://github.com/elastic/elasticsearch/pull/43010) in ReadOnlyEngine and verified these tests. We are good here.

[2019-06-09 14:31] dnhatn commented on #42979
I am working on this solution.

[2019-06-09 15:10] jasontedor commented on #43014
@liza-mae I suspect this is addressed by 2b6262957c04384261242eb8fcfe12180d4a36ed but it is hard to say without more information from the stacktrace. Can you share it?

[2019-06-09 18:47] liza-mae commented on #43014
@jasontedor The log is attached:

[Untitled document.txt](https://github.com/elastic/elasticsearch/files/3269839/Untitled.document.txt)

[2019-06-09 18:49] chobo2 opened #43018 "Can't Start Elastic Search"
Hi

Not sure if this is a bug or if I missed something. I installed on my windows 10 machine elastic search vis the MSI instaleld.

I used [this tutorial](https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started-install.html) (thought it seems a bit out of date)

I am not trying to start it all up but I get this

[code]

[2019-06-09 19:08] jasontedor commented on #43014
Thanks @liza-mae. That’s the same issue indeed, closing this as addressed by #43008.

[2019-06-09 19:08] #43014 closed

[2019-06-09 20:04] amogh-jrules commented on #42997
Okay! I am working on it

[2019-06-09 20:50] dnhatn commented on #33852
Another instance: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+intake/35/consoleText

[code]

[2019-06-09 23:52] gwbrown commented on #43018
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2019-06-09 23:52] #43018 closed

[2019-06-10 05:09] original-brownbear commented on #34514
@tbrooks8 @jaymode it looks like the last failure with this `close_notify` exception was on Mar. 21st, maybe we can close this? If my memory serves me correctly, we did fix a few performance issues with CI at the end of March so maybe @tbrooks8 's theory `1` was correct here (obviously it could be a million other things :))?

[2019-06-10 05:41] russcam opened #43020 "geo_shape orientation always returned as "LEFT" or "RIGHT""
Relates: #42608

**Elasticsearch version** (`bin/elasticsearch --version`): 7.0.0. But have tested as far back as 5.6.15

**Plugins installed**: []

**JVM version** (`java -version`):

java version "1.8.0_201"
Java(TM) SE Runtime Environment (build 1.8.0_201-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.201-b09, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):

Windows 10 Pro

[2019-06-10 06:01] #42858 closed

[2019-06-10 06:39] atorok commented on #42583
I looked at the amazon workers but did not see any red flags. No leaked processes,  resource usage looks normal, couldn't see anything that would explain these failures.

[2019-06-10 06:43] atorok commented on #42583
The failures from above are on `7.2` which doesn't have 5e0a162ed66 to convert the tests to use testclsuters. Master doesn't get as far due to #4274. Hopefully testclusters will offer a bit more logging if this continues to fail.

[2019-06-10 07:26] #39546 closed

[2019-06-10 07:51] jimczi commented on #43012
In 7.x `POST my-index/1` means add a document in an index named `my_index` of type `1`. This should result in an error with a message like:
[code]
but it seems that we check the field first even though we know that the mapping update will fail (because only one type is allowed per index). This should be considered as a bug because the error message is misleading but as you already noticed the corr

[2019-06-10 07:52] elasticmachine commented on #43012
Pinging @elastic/es-search

[2019-06-10 08:02] jimczi commented on #42996
This is related to the number of `slices` that the DBQ should run with. When the number of slices is not a factor of the number of shards the reindex family will split the work into separate tasks that use the `_id` field to segregate documents. This can work only if the postings for the `_id` field are preserved which is not the case anymore for indices with soft deletes enabled (due to https://g

[2019-06-10 08:06] huangdeyao opened #43023 "java.lang.NoSuchMethodError: org.elasticsearch.action.index.IndexRequest.ifSeqNo()"
Elasticsearch version:
7.1.1

Plugins installed: []

JVM version (java -version):
openjdk version "1.8" 2018-07-17
OpenJDK Runtime Environment (build 10.0.2+13-suse-lp150.7.1-x8664)
OpenJDK 64-Bit Server VM (build 10.0.2+13-suse-lp150.7.1-x8664, mixed mode)

OS version (uname -a if on a Unix-like system):
centos7.0

Description of the problem including expected versus actual behavior:
I tried to c

[2019-06-10 08:13] henningandersen commented on #42996
Notice that the use of `_id` is explicitly mentioned on the scroll search reference docs here:

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-scroll.html

I think those would be affected too?

[2019-06-10 08:16] elasticmachine commented on #43020
Pinging @elastic/es-analytics-geo

[2019-06-10 08:21] jimczi commented on #42996
Yes, the check should be implemented in the `_scroll` API since that's what all reindex commands use.
The default for `_scroll` is to not use any slicing but we should add a note in the documentation and a check in the code that `slice` are not used on indices that can remove the postings for the `_id` field.

[2019-06-10 08:22] romseygeek commented on #43023
Hi @huangdeyao, it looks as though you're pulling in an old version of the core elasticsearch jar somehow - running `mvn dependency:tree` should show you what versions are being used when running the code.

[2019-06-10 08:22] droberts195 commented on #43013
This is most likely caused by elastic/ml-cpp#491.  Since that is due to be backported to 7.x I also backported the mute for this failure to 7.x in 68339f90e9b2ec84c70f4f064f9f0599791b265f.

[2019-06-10 08:23] svagner commented on #42983
Hi! It is running in common NS (not in container).
```net.ipv4.tcp_retries2 = 5``` But I'm not sure that it is related with any retransmission (I didn't notice any abnormal retransmission rate). There is tcp info for connection between 2 masters:
[code]
 I'll be able to reproduce issue with trace logging tomorrow.
Thanks a lot for your help!

[2019-06-10 08:25] dadoonet commented on #43023
I suspect he is using SpringBoot 😉.  In which case I'd look at https://github.com/elastic/elasticsearch/issues/41929#issuecomment-490372123. HTH

[2019-06-10 08:26] henningandersen opened #43024 "[CI] openjdk13 full-cluster-restart failures"
Builds using openjdk13 fail during full-cluster-restart testing against 7.1.2. I can reproduce this locally using:

[code]

`node0` fails to start using java 13 due to:

[code]

Example failures:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=openjdk13,nodes=immutable&&linux&&docker/12/console
https://elasticsearch-ci

[2019-06-10 08:26] elasticmachine commented on #43024
Pinging @elastic/es-core-infra

[2019-06-10 08:27] romseygeek commented on #43023
Thanks @dadoonet - I'll close this one in favour of #41929 if you don't mind @huangdeyao.

[2019-06-10 08:27] #43023 closed

[2019-06-10 08:35] svagner commented on #42983
For more information there is config for master nodes:
/etc/elasticsearch/elasticsearch.yml
[code]
/etc/elasticsearch/unicast_hosts.txt:
[code]
All DNS queries are coming to local dns cache.

[2019-06-10 08:46] DaveCTurner commented on #42983
[code]

I recommend against setting these away from the default. With your config, you will see an unnecessary master election if the master spends even a few seconds in GC.

[code]

Good. This means the connection to the master should be detected as failed around 5-6 seconds after executing `echo c > /proc/sysrq-trigger`, triggering an immediate master election. IMO this is a better way to detect

[2019-06-10 09:16] huangdeyao commented on #43023
thinks;
This is the solution. add  dependencies on pom.xml
[code]

[2019-06-10 09:17] huangdeyao commented on #41929
thinks;
i got it
[code]

[2019-06-10 09:37] singhprashant1998 opened #43027 "Couldn't map data retrieved from elasticsearch document?"
I have a elastic search document which reads:

`private String city;

	private String mobileNumber;

	private String professionType;

	private double monthlyIncome;

	private String designation;

	@Field(type = FieldType.Date, format = DateFormat.custom, pattern = MosaicConstants.DATE_PATTERN)
	@JsonFormat(shape = JsonFormat.Shape.STRING, pattern = MosaicConstants.DATE_PATTERN)
	private Date birth

[2019-06-10 09:44] henningandersen commented on #42829
Fails on both 7.x and master. Can reproduce locally using:
[code]
Failed 80+ times since Friday.

[2019-06-10 09:55] romseygeek commented on #43027
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2019-06-10 09:55] #43027 closed

[2019-06-10 10:08] henningandersen commented on #41256
Backported muting of testMultiProject to 7.1.

[2019-06-10 10:23] henningandersen opened #43029 "[CI] GoogleCloudStorageThirdPartyTests.testListChildren failed"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+third-party-tests-gcs/8/console

failed with:
[code]

Seems it fails on every build. Missing the credentials to reproduce locally.

Did not mute, since I think this does not affect PR builds.

[2019-06-10 10:23] elasticmachine commented on #43029
Pinging @elastic/es-distributed

[2019-06-10 10:26] #13152 closed

[2019-06-10 10:58] mayya-sharipova commented on #11726
The linked Lucene issue is still open, which is where this needs to be fixed.

[2019-06-10 11:00] romseygeek commented on #43002
Elision filter needs an 'articles' setting to work properly, which is missing from the `analyze` HTTP call you're making.  It definitely shouldn't be producing an NPE though, it should give a more informative error at construction time.

[2019-06-10 11:22] shubh49 commented on #42997
@amogh-jrules Are you working on this? If not, i am willing to take this up.

[2019-06-10 11:42] henningandersen opened #43034 "[CI] GatewayIndexStateIT.testRecoverBrokenIndexMetadata failed"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=zulu8,nodes=immutable&&linux&&docker/12/testReport/org.elasticsearch.gateway/GatewayIndexStateIT/testRecoverBrokenIndexMetadata/

failed with:

[code]
but the underlying cause is likely this:
[code]
I were unable to reproduce this, tried with zulu8 too, but no luck. Leavin

[2019-06-10 11:42] elasticmachine commented on #43034
Pinging @elastic/es-distributed

[2019-06-10 12:12] romseygeek commented on #32433
@jpountz I think this can be closed?

[2019-06-10 12:20] sophiec20 opened #43037 "[ML] Add data frame create_time and version"
Understanding when the data frame is created is useful for operational management so we understand how long a job has existed and for filtering out job messages that were applicable to a prior incarnation of the job.

Understanding the version of elasticsearch that the data frame was created on, will help us with support and bwc fixes.

Please add to the `create_time` and `version` to `GET _data_f

[2019-06-10 12:20] elasticmachine commented on #43037
Pinging @elastic/ml-core

[2019-06-10 12:32] sukumaar commented on #42232
@ojasgulati I was stuck at some exception so halted working on it. Thanks for working on it.

[2019-06-10 12:35] lucabelluccini opened #43038 "Watcher: providing interval in time units which lead to fractional time breaks Watch retrieval and execution"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.7.1

**Plugins installed**: None

**JVM version** (`java -version`): OpenJDK 8, 12

**OS version** (`uname -a` if on a Unix-like system): N/A

**Description of the problem including expected versus actual behavior**:

When we want to schedule a `report` using Watcher, we can provide an `interval` for the attempts.
The content of the `int

[2019-06-10 12:35] elasticmachine commented on #43038
Pinging @elastic/es-core-features

[2019-06-10 13:13] eskibars commented on #41273
It is indeed!

[2019-06-10 13:16] henningandersen opened #43040 "[CI] ShardSizeTermsIT.testNoShardSizeTermOrderDouble"
Failed on master once here:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/18/console

with:
[code]
Reproduction line:
[code]
did not work out for me, neither did more extensive test running (1000+ runs).

Given that this only failed once, I left it unmuted in case further test failures could provide valuable input.

[2019-06-10 13:17] elasticmachine commented on #43040
Pinging @elastic/es-analytics-geo

[2019-06-10 13:25] #43029 closed

[2019-06-10 13:30] DaveCTurner commented on #28026
The situation described in the OP is still true today (e.g. for upgrades from snapshots built from `7.x` to `master`) but the other points raised in this thread seem to have been addressed by #28888.

Do we still consider this a bug? We could say that if you upgrade your cluster without addressing all the deprecation warnings first then there is a risk that some things may not work for you. In thi

[2019-06-10 13:33] #43003 closed

[2019-06-10 13:51] manoj4321 opened #43041 "Elasticsearch over HTTPS Channel"

[2019-06-10 13:52] #43041 closed

[2019-06-10 13:55] Winterflower opened #43042 "[ML] DataFrame job creation allows invalid index name which results in failure to start DF job"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 8.0.0-SNAPSHOT, Build: default/tar/bd6c85b/2019-05-19T09:51:54.080246Z, JVM: 12.0.1

**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_201"
Java(TM) SE Runtime Environment (build 1.8.0_201-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.201-b09, mixed mode)

**OS version** (`uname -a` if on a Unix-

[2019-06-10 13:55] elasticmachine commented on #43042
Pinging @elastic/ml-core

[2019-06-10 13:57] dolaru opened #43043 "[ML] Data frame ID string should be validated"
**Elasticsearch version** (`bin/elasticsearch --version`):  7.2.0

Currently, data frame ID string are not validated when the data frame is created. We probably want something similar to what's
currently in place with ML job IDs, which is:
 - only allow lowercase alphanumeric (a-z and 0-9), hyphens or underscores
 - must start and end with alphanumeric
 - maximum length of 64 characters

[2019-06-10 13:57] elasticmachine commented on #43043
Pinging @elastic/ml-core

[2019-06-10 14:02] manoj4321 opened #43044 "Elasticsearch over HTTPS Channel"
Hello,
I am currently working on communication of elasticsearch, fscrawler and kibana over HTTPS channel. I am pretty much successfull in it. For this, I used self signed certificates and followed the documentation given on home site of elasaticsearch.

Problem is that, I am able to access HTTPS service of elasticsearch from a different working station (let's say machine X) which in the same netwo

[2019-06-10 14:20] liza-mae commented on #43014
Thanks @jasontedor confirmed it is fixed in latest snapshot for 7.2

[2019-06-10 14:26] sophiec20 commented on #43042
From a usability perspective, waiting until `_start` is a bit late to error on. It is much more useful to receive the informative error message upon transform creation.

The error on start looks like this:
[code]

[2019-06-10 14:27] henningandersen opened #43048 "[CI] AzureDiscoveryClusterFormationTests leaks threads"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java12,nodes=immutable&&linux&&docker/11/testReport/org.elasticsearch.discovery.azure.classic/AzureDiscoveryClusterFormationTests/classMethod/

failed with:

[code]

I were unable to reproduce this locally with the reproduction line:

[code]

Following warnings at the end

[2019-06-10 14:27] elasticmachine commented on #43048
Pinging @elastic/es-distributed

[2019-06-10 14:30] romseygeek commented on #43044
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2019-06-10 14:30] #43044 closed

[2019-06-10 14:53] henningandersen commented on #30699
This failed again here:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora-29&&immutable/23/testReport/org.elasticsearch.xpack.watcher.transport.action.activate/ActivateWatchTests/testDeactivateAndActivate/

with:
[code]

Gradle scan link:

https://scans.gradle.com/s/jkajvplgqp2w6

Reproduce line:

[code]
(did not reproduce locally for me).

[2019-06-10 15:16] astefan commented on #41135
There's more than a week of waiting on this one. I am not aware of a similar issue and will close this one, as per my previous message.

[2019-06-10 15:16] #41135 closed

[2019-06-10 15:50] sophiec20 opened #43052 "[ML] GET _transform only returns 100"
Found in 7.2.0-BC5

`GET _data_frame/transforms/_all` will only return up to 100 documents.

`GET _data_frame/transforms/_all?size=200` will return up to 200 documents.

If I had 105 data frame transforms, and I ran `GET _data_frame/transforms/_all` without specifying the size, then unfortunately the response does not give any indication that I need to page through the results. As a consequence, t

[2019-06-10 15:50] elasticmachine commented on #43052
Pinging @elastic/ml-core

[2019-06-10 16:10] sophiec20 commented on #43043
Note that trying to stop or get a named data frame will fail if the data frame ID contains a `comma`. However `GET .../_all` will show this. Consistency in behaviour is required. Limiting to follow the anomaly detection validation pattern will allow us to more easily enforce consistency and also allow us to use the data frame id as the default dest index in the UI.

All the data frames in the foll

[2019-06-10 16:28] benwtrent commented on #43043
I agree that the ID should be validated on PUT, I created a PR to restrict it similarly to ML jobs as it handles these scenarios already.

ID length is also an issue as we create DOCs by concatenating the ID with some prefix and doc IDs have a length limit of 512 bytes

[2019-06-10 16:28] #40689 closed

[2019-06-10 16:31] #41054 closed

[2019-06-10 16:32] dnhatn commented on #39850
Fixed in #42600.

[2019-06-10 16:32] #39850 closed

[2019-06-10 16:47] benwtrent commented on #43052
A couple of thoughts:

* The UI should support pagination (made note in the related issue)
* We should return the total count of the transforms that match the id pattern supplied. The `count` field in the response is actually supposed to be the total number of IDs matched, not the length of the array of objects (if code comments are to be believed) https://github.com/elastic/elasticsearch/blob/ebd

[2019-06-10 16:50] original-brownbear commented on #43048
Think this was just a broken CI (super slow) run.
The logs contain:

[code]

and it seems the IT cluster didn't even form properly (timeout on cluster formation). I opened #43057 regardless to make the situation a little more stable and failures easier to interpret.

[2019-06-10 17:02] dnhatn commented on #39509
I opened #43054 for the latest failure.

[2019-06-10 17:22] Bukhtawar opened #43058 "Make index.routing.allocation.total_shards_per_node resilient to node drops"
**Problem Description**
With the setting enabled on the index if there are node failures this setting can cause primary shards to go unassigned and cluster to go RED.

**Proposal**
Provide a knob to honor this setting as a best case when all primary shards are assigned so that there is no total data loss.

[2019-06-10 17:24] dnhatn commented on #41237
I opened #43059.

[2019-06-10 17:31] mark-vieira commented on #42532
We've not had an incidence of this in 4 days now so I think we can call this solved.

[2019-06-10 17:31] #42532 closed

[2019-06-10 17:35] elasticmachine commented on #43058
Pinging @elastic/es-distributed

[2019-06-10 17:43] dakrone commented on #42206
I tested the scenario that you described @GoodMirek, but I was unable to reproduce any scenario where the date didn't work correctly for shrunked indices.

[2019-06-10 17:51] GoodMirek commented on #42206
@dakrone Thanks for your effort. I have no further ideas why and how that happened.

[2019-06-10 17:51] #42206 closed

[2019-06-10 17:58] andrewvc opened #43061 "Post-scripts for Continuous Dataframes"
**TL;DR It would be useful to be able to specify a painless script that can transform docs before indexing when using dataframes**

Continuous data frames are really powerful for a number of non-ML use cases. They're great
for turning time series data into entity centric data. We plan on using this feature to build a snapshot of what things look like 'now' for uptime.

One limitation of data frame

[2019-06-10 17:58] elasticmachine commented on #43061
Pinging @elastic/ml-core

[2019-06-10 18:00] Bukhtawar commented on #43058
Essentially a knob to control
1. unassigned_primaries
2. all_unassigned

[2019-06-10 18:21] jasontedor commented on #43024
This looks like a build bug, we should not be trying to start the BWC nodes with JDK 13, but instead the minimum supported runtime (in this case, JDK 8). We can not guarantee that older versions of Elasticsearch are forward compatible with newer versions of the JDK.

[2019-06-10 18:45] jasontedor commented on #43024
Or, even better, using the bundled JDK.

[2019-06-10 18:53] gwbrown commented on #41740
Fixed via https://github.com/elastic/elasticsearch/pull/42909

[2019-06-10 18:53] #41740 closed

[2019-06-10 18:58] jimczi commented on #42813
This [link](https://www.elastic.co/fr/downloads/past-releases#elasticsearch) should give you an idea of the cadence of releases, however we don't communicate around release dates so I can only say that we would like to release 6.8.1 "soon".

[2019-06-10 19:19] henningandersen commented on #43048
I think the heap dump and OOM is expected and not part of this issue. It is provoked by WhenThingsGoWrongTests.testOutOfMemoryError. I downloaded the heap dump and it contains only around 26MB live data. Also, the message

[code]

just means that the max array size limit of the JVM is exceeded (typically max is Integer.MAX_VALUE minus a few).

[2019-06-10 19:50] jloisel commented on #40534
Same boat here. Makes it impossible to properly unit test the code => I have to wrap each client to hide it behind an interface which is then mockable. Questionable design here.

[2019-06-10 21:07] Sukesh-Alluri commented on #15653
+1

[2019-06-10 21:30] dnhatn commented on #41268
I opened https://github.com/elastic/elasticsearch/pull/43067.

[2019-06-10 21:34] #41237 closed

[2019-06-10 21:43] benwtrent opened #43068 "[Data Frame] Bad date_histogram format causes infinitely running indexer"
# Problem
Users have the ability to shoot themselves in the foot without much warning with Data Frames.

Example:
[code]
This is a valid data frame definition, but the format of the key for the composite aggregation buckets has too few "time significant digits". This will result in many buckets that have the exact same pivot key. Two issues result from this:

* The data frame will happily run fore

[2019-06-10 21:43] elasticmachine commented on #43068
Pinging @elastic/ml-core

[2019-06-10 21:48] #42820 closed

[2019-06-10 21:56] jasontedor commented on #43024
I opened #43071.

[2019-06-10 23:48] jen-huang opened #43074 "Snapshot status API returns different timing information than snapshot info API"
Snapshot info API returns the following stats for a given snapshot:
[code]

Snapshot status API returns the following overall stats for the same snapshot:
[code]

Note that the `start_time_in_millis` values are different. The overall duration is also different, if `time_in_millis` is meant to represent the same duration as `duration_in_millis`.

I'm not sure if this is a bug or expected behavior.

[2019-06-10 23:49] elasticmachine commented on #43074
Pinging @elastic/es-distributed

[2019-06-11 06:55] ywelsch commented on #42996
Can't this still work, even with #40741, which just drops the `_id` field on soft-deleted docs? Given that reindex and friends care about livedocs, there's no reason for this slicing functionality not to work anymore if only postings of soft-deleted docs are pruned. I wonder if this is rather a bug in `TermsSliceQuery` which assumes that there's always a terms index for the given field.

[2019-06-11 07:02] jimczi commented on #42996
Good call @ywelsch , I misread the change and assumed that all postings for the `_id` field were removed. If it's only for soft deleted documents then slicing should work and the `TermsSliceQuery` just need to verify that the segment contain entries for the `_id` field. I'll work on a patch.

[2019-06-11 07:18] ywelsch commented on #43034
@henningandersen can you enable TRACE logging for this test? This sounds potentially very dangerous (as if the doc got dropped).

[2019-06-11 07:27] tvernum opened #43079 "Better error messages for common TLS problems"
We have a goal of making TLS easier (see #41182).

One of the concrete ways that we can do that is to improve the error messages that users get when TLS fails.
This is a meta issue to track the various scenarios that we would like to improve.

### Overall goals
- Failures should be as early as possible. If we can detect a configuration problem at node start-up, then we should.
- Messages should ex

[2019-06-11 07:27] elasticmachine commented on #43079
Pinging @elastic/es-security

[2019-06-11 07:41] original-brownbear commented on #43074
This is indeed a little strange. For the snapshot status API we return a serialized `org.elasticsearch.action.admin.cluster.snapshots.status.SnapshotStatus` which calculates the timings from the individual shard stats.
On the other hand, for the snapshot info API we return a `SnapshotInfo` which has the concrete start time stored in it. I think we should simply make the snapshot status API load th

[2019-06-11 08:11] #40900 closed

[2019-06-11 08:13] #28512 closed

[2019-06-11 08:38] svagner commented on #42983
Hi! There is logs from nodes 1001,1002,1004,1005 (1003 was master, crashed) while:
[code]
https://gist.github.com/svagner/f803434e4e4251a98001f1ccc48342e4

[2019-06-11 09:02] #41908 closed

[2019-06-11 09:09] DaveCTurner commented on #42983
Thanks. Your logs are ambiguous because they don't include stack traces, nor the name of the component emitting the log message. They are at least consistent with the problem solved by #39629; for instance, here's a 30-second wait before a "failed to connect" message.

[code]

Closing this as a duplicate of #29025, but if the problem persists after upgrading to 7.2.0 we can continue to investigate

[2019-06-11 09:09] #42983 closed

[2019-06-11 09:18] droberts195 opened #43086 "[CI] Failure in FlushIT.testSyncedFlushSkipOutOfSyncReplicas"
`FlushIT.testSyncedFlushSkipOutOfSyncReplicas` failed in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/23/console

The error is:

[code]

This did not reproduce locally for me using:

[code]

The failure looks very similar to #29392, but since that was closed over a year ago I'm guessing the root cause of this is different and reopening that old issue wouldn't

[2019-06-11 09:18] elasticmachine commented on #43086
Pinging @elastic/es-distributed

[2019-06-11 09:23] droberts195 commented on #43034
This failed again in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/111/console

Since you're adding extra logging to investigate I'll leave it unmuted until it fails with the extra logging.

[2019-06-11 09:31] henningandersen commented on #43034
The stack trace of this new incident is slightly different, but is likely to be another symptom with the same cause:

[code]

[2019-06-11 09:33] ywelsch commented on #43086
I increased test logging in c077f8c3c48

[2019-06-11 10:03] jimczi commented on #42996
Thanks to Yannick I pushed a fix in https://github.com/elastic/elasticsearch/pull/43078 and we don't need to do anything in the scroll or reindex family since slicing should work as usual. Sorry for the confusion.

[2019-06-11 10:06] NerdSec commented on #42824
This seems to be the same issue we are facing in our prod environment.

[2019-06-11 10:27] droberts195 commented on #41721
The failure in the docs integration tests that was reported in https://github.com/elastic/elasticsearch/issues/41721#issuecomment-498524471 is still a problem, for example https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8fips,nodes=immutable&&linux&&docker/14/console

[code]

This is also using Java 8:

[code]

[2019-06-11 10:39] #41268 closed

[2019-06-11 11:12] jimczi commented on #40743
Sorry @amirhadadi this felt through the cracks. This is indeed a bug so I opened https://github.com/elastic/elasticsearch/pull/43095

[2019-06-11 11:19] markharwood commented on #24991
A quick test with 6.6 and Kibana Console shows it's split fairly evenly between Yes and no:

YES ignore_above
YES boost
YES coerce
YES copy_to
YES dynamic
YES fielddata
YES eager_global_ordinals
YES ignore_above
YES ignore_malformed
YES index_options
YES fields
YES null_value
YES position_increment_gap
N/A properties (new fields can be added, existing fields params as per this list)
YES search_ana

[2019-06-11 11:32] Ammie1 commented on #23398
Solved the nested update on below YouTube video
https://www.youtube.com/watch?v=A3aldCB6i0A

[2019-06-11 11:55] droberts195 opened #43096 "[CI] Many multijob-unix-compatibility CI runs fail due to absence of Docker"
Many multijob-unix-compatibility builds are failing with the error:

[code]

Some examples are:

* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux-7/27/console
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos-6/27/console
* https://elasticsearch-ci.elastic.co/job/elastic+elas

[2019-06-11 11:55] elasticmachine commented on #43096
Pinging @elastic/es-core-infra

[2019-06-11 11:58] droberts195 commented on #43096
This also affects 7.x, for example https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=oraclelinux-7/28/console

But not 7.2 or earlier.

[2019-06-11 12:11] ywelsch commented on #43058
primary shards with an existing store are already force-allocated, independently of the `total_shards_per_node` setting.

This is simply not true. Please provide an actual example before making such claims.

[2019-06-11 12:59] droberts195 opened #43097 "[CI] TimeoutCheckerTests.testWatchdog failed"
`TimeoutCheckerTests.testWatchdog` failed in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=opensuse/27/console

The error was:

[code]

Does not reproduce locally using:

[code]

[2019-06-11 12:59] elasticmachine commented on #43097
Pinging @elastic/ml-core

[2019-06-11 13:25] s1monw commented on #42445
just for clarification, we don't use the translog anymore for primary replica sync, right? do you mean something else?

[2019-06-11 13:30] droberts195 commented on #43086
A similar failure occurred in a 6.8 build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+multijob-unix-compatibility/os=fedora-29&&immutable/27/console

[code]

The repro command was:

[code]

This didn't reproduce locally on my 6.8 branch.

[2019-06-11 14:03] atorok commented on #43096
Thanks for opening the issue @droberts195 this works as designed, we should bail when we try to build the docker images and no docker is available ( we have technical reasons for the not having it on the workers that don't have it btw ).
The test tasks that depend on docker are auto disabled when docker is not present, but not the image build itself. So `check` doesn't trigger the image build, but

[2019-06-11 14:09] DaveCTurner commented on #42445
Today we read operations from the translog on the primary during peer recovery. For a while we had moved to reading them from Lucene but we reverted that in #38904.

[2019-06-11 14:19] #43024 closed

[2019-06-11 14:29] droberts195 commented on #42409
In https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/110/console just one test failed, but it's the same as one of the failures in https://github.com/elastic/elasticsearch/issues/42409#issuecomment-499587589 and failed with the exact same reason as the first failure in https://github.com/elastic/elasticsearch/issues/42409#issuecomment-499587589.

The failure is:

[code]

[2019-06-11 15:07] #41396 closed

[2019-06-11 15:08] hackery opened #43100 "Reindexing from index with doc type to non-typed mapping fails"
**Elasticsearch version** 6.8.0:
**Plugins installed**: None
**JVM version** Oracle 1.8.0_201
**OS version** Linux example 3.10.0-693.21.1.el7.x86_64 #1 SMP Wed Mar 7 19:03:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

We're working through the process to migrate to 7.x and remove any document types. All indices we have, have (always had) only one type (e.g. "events" or "transactions"). Trying a rei

[2019-06-11 15:09] jonmcnamaradale opened #43101 "Typo in documentation"
https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/typescript_examples.html

console.og(result.body.hits.hits)
should be
console.log(result.body.hits.hits)

[2019-06-11 15:10] ywelsch opened #43102 "Force merge with only_expunge_deletes does not honour max_num_segments"
Force merge requests where `only_expunge_deletes` is set to `true` do not honour other request parameters such as `max_num_segments`. We should throw an exception when those two parameters are set at the same time, given that we can't do both.

[2019-06-11 15:10] elasticmachine commented on #43102
Pinging @elastic/es-distributed

[2019-06-11 15:15] ywelsch opened #43103 "Inconsistent segment stats with soft-deletes"
Segment stats are currently inconsistent when it comes to (soft-)deletes. The number of deletes are counted in a different way for non-searchable committed segment infos than for searchable ones, e.g. soft-deletes are not treated as deletes in committed segment infos.

We should make sure to have segment infos record the number of soft deletes as well, so that we return consistent numbers, and pre

[2019-06-11 15:15] elasticmachine commented on #43103
Pinging @elastic/es-distributed

[2019-06-11 15:23] #40778 closed

[2019-06-11 15:33] javanna opened #43105 "Cancel search request when its underlying connection gets closed"
Every search request is associated with an internal task that can be found through the list tasks API. Such task can be cancelled and throughout the execution of a search request we make the best effort of stopping it whenever the corresponding parent task has been cancelled by calling the cancel task API.

From a user perspective, cancelling a query could be made easier. One has to call list task

[2019-06-11 15:33] elasticmachine commented on #43105
Pinging @elastic/es-search

[2019-06-11 15:38] #43097 closed

[2019-06-11 15:40] #42244 closed

[2019-06-11 15:40] javanna commented on #33852
heya @dnhatn at first glance this seems like a different failure? This is a connect timeout, while historically we have had latches awaits time out here on this test.

[2019-06-11 15:47] atorok commented on #41721
@jkakavas any taught about the docks failure ? It's distinct from the failing example plugins test.

[2019-06-11 15:52] elasticmachine commented on #43101
Pinging @elastic/es-docs

[2019-06-11 15:53] Bukhtawar commented on #43058
@ywelsch you are right a single node failure can't cause RED but a second node failure will, if all the nodes had a shard-copy of an index and I take back the unassigned primary shard part(apologies for a false alarm). First failure will cause the cluster to go YELLOW as the limit would be breached on other nodes(which otherwise would have allocated a replica on the remaining node). The second fai

[2019-06-11 15:55] elasticmachine commented on #43100
Pinging @elastic/es-distributed

[2019-06-11 15:55] elasticmachine commented on #43100
Pinging @elastic/es-search

[2019-06-11 16:01] jkakavas commented on #41721
Indeed, the failures are different:

- The `BCFKS KeyStore corrupted: MAC calculation failed.` indicate that we are using a BCFKS keystore (i.e. we are in a fips JVM ) but we haven't passed the `-Djavax.net.ssl.trustStorePassword` and `-Djavax.net.ssl.keyStorePassword`

- The `Caused by: org.gradle.api.resources.ResourceException: Could not get resource 'https://jcenter.bintray.com/org/locationtec

[2019-06-11 16:04] jasontedor commented on #41396
The implementation for this is complete.

[2019-06-11 16:09] #37558 closed

[2019-06-11 16:12] #43042 closed

[2019-06-11 16:13] atorok commented on #41721
We should be doing that in `BuildPlugin:157` but looks like it doesn't work. I'll take a look

[2019-06-11 16:15] droberts195 commented on #41742
This test is still timing out in the 6.8 `darwin` builds:

* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+multijob-darwin-compatibility/13/consoleText
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+multijob-darwin-compatibility/14/consoleText

The test waits for green status after stopping one node in a 4 node cluster.  The cluster never reaches green stat

[2019-06-11 16:48] droberts195 opened #43112 "[CI] SimpleQueryStringBuilderTests.testToQuery failure"
`SimpleQueryStringBuilderTests.testToQuery` failed in a 7.2 build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=zulu8,nodes=immutable&&linux&&docker/13/console

The error is:

[code]

This reliably reproduces on the 7.2 branch using this command:

[code]

So it seems like a seed-specific failure.

[2019-06-11 16:48] elasticmachine commented on #43112
Pinging @elastic/es-search

[2019-06-11 17:38] metaruslan commented on #42957
@jimczi thank you very much for the explanation and for updating the title!

Let me ask a couple of follow-up questions to get the full understanding:
1. So, the behavior with 1 shard is correct on both docFreq and docCount?

2. You wrote:

But docCounts are all 3's for the 1 shard query.  Did you mean docFreq?

3. As I understood your explanation misspellings score a little lower due to de-boost,

[2019-06-11 17:39] benwtrent commented on #43061
@andrewvc this seems like something a `pipeline` would do right? It seems to me that since we are bulk indexing documents, we should be able to push them through a user-defined `pipeline` at index time.

What do you think?

[2019-06-11 17:47] andrewvc commented on #43061
@benwtrent yes! That's a good idea. That includes painless as an option as well, but I wonder if we could even get away with zero painless with this.

[2019-06-11 19:53] #41757 closed

[2019-06-11 21:02] imotov opened #43123 "[CI] Possible race condition in DataFrameUsageIT.testUsage"
This just failed on my CI machine. I cannot reproduce it locally and I don't see any failures in CI (at least not yet). My branch included #42955 as the last commit, so it might be related.

[code]

[2019-06-11 21:02] elasticmachine commented on #43123
Pinging @elastic/ml-core

[2019-06-11 21:52] dnhatn commented on #43103
I opened https://github.com/elastic/elasticsearch/pull/43126 to propose the fix for the delete count issue.

[2019-06-11 21:55] #39509 closed

[2019-06-11 22:11] dnhatn commented on #41071
Another instance https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.1+multijob-darwin-compatibility/15/consoleText.

[code]

[code]

[2019-06-12 01:13] benwtrent commented on #43123
@imotov https://github.com/elastic/elasticsearch/pull/43136 addresses this race condition and cleans up this test given the new behavior...

Sorry for failing your PR build :(

[2019-06-12 03:42] heirish opened #43137 "[Sniffer] add cluster_name check in ElasticsearchNodesSniffer"
Seems now high level rest client with sniffer enabled doesn't check the cluster name when sniffing.
That would cause a problem if elasticsearch is deployed in environments using Docker containers where IP addresses could change.

for example,  client was connect to cluster A, then cluster A is down and a new cluster B is started,
and cluster B occupies some IP that cluster A had.
If cluster name i

[2019-06-12 04:22] blueabysm commented on #31197
Same issue in 7.1.1.
I am new to Elasticsearch. I use ES cluster as a log center. Yesterday this issue made ES lose logs, many alerts related to this were triggered. I deleted indices 5 days ago (actually my cluster has just run a week) this morning, ES cluster finally receives logs normally.

After read this thread, I know that it is the expected behavior of ES. Is there any suggestion to avoid r

[2019-06-12 04:26] tvernum commented on #32306
This should be able to use the [ssl-config](https://github.com/elastic/elasticsearch/tree/6.7/libs/ssl-config) jar to support the full range of `ssl.*` options that the rest of the stack uses, without pulling in any additional dependencies (ssl-config depends only on elasticsearch-core, which is already an sql-cli dependency via elasticsearch-cli).

[2019-06-12 06:32] yjhkhnuje opened #43138 "Received handshake message from unsupported version: [5.0.0] minimal compatible version is: [6.7.0]"
[2019-06-12T14:31:21,839][WARN ][o.e.t.TcpTransport       ] [es] exception caught on transport layer [Netty4TcpChannel{localAddress=/192.168.1.190:9300, remoteAddress=/192.168.1.192:34658}], closing connection
java.lang.IllegalStateException: Received handshake message from unsupported version: [5.0.0] minimal compatible version is: [6.7.0]
	at org.elasticsearch.transport.InboundMessage.ensureVers

[2019-06-12 06:40] dadoonet commented on #43138
Apparently you are trying to mix versions like 5.x and 7.x.
This can come from server or from deprecated TransportClient I think.

Anyway that'd be better to talk about it on discuss.elastic.co as this is clearly not a bug but expected.

[2019-06-12 06:40] #43138 closed

[2019-06-12 07:00] ywelsch commented on #41721
more failures here:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8fips,nodes=immutable&&linux&&docker/16/console

[code]

[2019-06-12 07:19] ywelsch opened #43139 "[TEST] testDataFrameTransformCrud failing"
Might be related to https://github.com/elastic/elasticsearch/pull/42955

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora-29&&immutable/30/console

https://gradle.com/s/e5jniskvmff3s

[code]

[2019-06-12 07:19] elasticmachine commented on #43139
Pinging @elastic/ml-core

[2019-06-12 07:29] elasticmachine commented on #43137
Pinging @elastic/es-core-features

[2019-06-12 07:56] ywelsch opened #43141 "[TEST] SslMultiPortTests failing on 7.x"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=openjdk13,nodes=immutable&&linux&&docker/16/consoleText

https://gradle.com/s/zudrwwx3tyrgi

Relevant exception:

[code]

The fix might be to use `java.specification.version` instead of `java.version` for parsing, or directly use `JavaVersion.current()`

[2019-06-12 07:56] elasticmachine commented on #43141
Pinging @elastic/es-security

[2019-06-12 08:21] jimczi commented on #42957
Yes, this behavior is expected.

Yep sorry for the confusion

This is an old documentation (2.x mainly), as I explained in my previous comment we use blended statistics for all the fuzzy terms and associate a boost to each value depending on the levenshtein distance to the original term. You can check the original issue that introduced this behavior here: https://issues.apache.org/jira/browse/LUCE

[2019-06-12 08:26] #24256 closed

[2019-06-12 08:36] cbuescher commented on #43112
Note: reproduces on 7.2 but not on 7.x for me with the above seed.

[2019-06-12 09:00] sophiec20 commented on #43043
@benwtrent Can we get the lowercase check in place please. One of the goals was to confirm with job_id .. and also in the UI to use the transform name as the default dest index.

[2019-06-12 09:25] cbuescher commented on #43112
The problem is an edge case where the above query is marked as cachable, but out test logic says its not, most likely because of the `"query" : "NoWt"` part. Maybe we need to be more carful with random string generation here.

[2019-06-12 09:29] ywelsch opened #43143 "[CI] SearchAfterIT#testsShouldFail failing"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=debian-9/32/console

https://gradle.com/s/n73yaa6tdwp34

Relevant log lines:

[code]

[2019-06-12 09:29] elasticmachine commented on #43143
Pinging @elastic/es-search

[2019-06-12 09:31] jloisel commented on #40534
I ended up wrapping the client like this:

[code]

Then, providing a Spring configuration which instantiates the wrapper:

[code]

And the wrapper itself:

[code]

[2019-06-12 09:31] ywelsch opened #43144 "[CI] SearchQueryIT#testQuotedQueryStringWithBoost failing"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=oraclelinux-6/32/console

https://gradle.com/s/zw3nmldyl5kn2

Relevant log lines:

[code]

[2019-06-12 09:31] elasticmachine commented on #43144
Pinging @elastic/es-search

[2019-06-12 09:47] ywelsch commented on #42583
More 7.2 failures here:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+multijob-unix-compatibility/os=amazon/31/consoleText

[code]

The node in question is only getting as far as

[code]

The CI timestamps show the following:

[code]

Just looking at the minute of the hour timestamp, this makes it look like the 40 second wait count is starting way before the ES process is even

[2019-06-12 09:50] dadoonet commented on #40534
Thanks @jloisel for sharing your solution.

[2019-06-12 09:56] ywelsch opened #43146 "[CI] S3BlobStoreRepositoryTests#testSnapshotAndRestore failing"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=ubuntu-18.04&&immutable/32/console

https://gradle.com/s/afowvrupoagpq

[code]

Another test is using same snapshot name:

[code]

Not sure why #42511 has not fixed this, and how the repo content of one test leaks into another test.

Longer random snapshot names (see `randomAsciiName`) would probably h

[2019-06-12 09:56] elasticmachine commented on #43146
Pinging @elastic/es-distributed

[2019-06-12 09:59] ywelsch commented on #43146
My mistake, #42511 was not properly backported

[2019-06-12 09:59] #43146 closed

[2019-06-12 10:04] ywelsch opened #43147 "[CI] TestingConventionsTasksIT#testTestsInMain failing"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=fedora-29&&immutable/31/console

https://gradle.com/s/nh5levvgurs3y

Relevant log lines:

[code]

There have been multiple of these today, which is why I'm opening the issue here.

[2019-06-12 10:04] elasticmachine commented on #43147
Pinging @elastic/es-core-infra

[2019-06-12 10:23] ywelsch commented on #41071
@tbrooks8 can you have a look?

[2019-06-12 10:28] original-brownbear commented on #43086
I can easily reproduce this on `master` in just a few runs (~10).

[2019-06-12 10:28] DaveCTurner commented on #42105
This is not true, because (as I said) the enqueued tasks aren't executed fairly.

I do not share this opinion. Starting shards promptly is vital for resilience, and I think it is correct to prioritise resilience over indexing performance as we do today. I will re-iterate that the thing that's slowing your indexing down is your use of dynamic mapping updates, which means that your indexing process

[2019-06-12 10:28] #42105 closed

[2019-06-12 10:31] ywelsch commented on #43086
Please do share your full TRACE logs then, I can't get this to reproduce on my machine.

[2019-06-12 10:34] original-brownbear commented on #43086
[failed.log](https://github.com/elastic/elasticsearch/files/3280902/failed.log)

here you go :)

[2019-06-12 11:07] original-brownbear commented on #43086
Sorry the first one was truncated in the beginning ... this one is full.

[failed 2.log](https://github.com/elastic/elasticsearch/files/3281025/failed.2.log)

[2019-06-12 11:36] original-brownbear commented on #43086
This is the response that trips the assertions:

![Screenshot 2019-06-12 at 13 34 28](https://user-images.githubusercontent.com/6490959/59348295-0211dc80-8d17-11e9-85e2-5a55568f9b04.png)

[2019-06-12 11:56] radoondas opened #43151 "[Documentation] Watcher ssl/tls settings do not fallback to defaults as we state in the docu"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.X

**Plugins installed**: [] not relevant

**JVM version** (`java -version`): not relevant

**OS version** (`uname -a` if on a Unix-like system): not relevant

**Description of the problem including expected versus actual behavior**:
In the documentation [here](https://www.elastic.co/guide/en/elasticsearch/reference/7.1/notification-sett

[2019-06-12 12:01] ywelsch commented on #43086
The  relevant lines in the logs are:

[code]

The problem seems to be that there are two concurrent synced flushes going on at the same time, which makes them fail. One is triggered by the test, the other is triggered by one of the nodes itself when it becomes inactive (see first line of second paragraph).

I don't understand how the shard can become inactive, given that it has an inactive time of

[2019-06-12 12:12] ywelsch commented on #43139
test muted in master, 7.x and 7.2

[2019-06-12 12:13] blaklaybul opened #43152 "[ML] Add data frame scripted fields for group_by fields"
It would be useful to be able to create a group by field upon data frame creation with the use of a painless script, as in the following example:

[code]

This would enable multindex-style groupby operations, and having the individual fields acted on by the script available in the data frame would allow for multindex-style querying as well.

e.g. (pandas):

[code]

[2019-06-12 12:13] elasticmachine commented on #43152
Pinging @elastic/ml-core

[2019-06-12 12:19] original-brownbear commented on #43086
@ywelsch thanks, that helped me find it :) We're mixing up ns and ms precision timestamps for the values we assign to `org.elasticsearch.index.engine.Engine#lastWriteNanos` so the conditional for the inactive timeout is incorrectly tripped. I'll open a PR shortly :)

[2019-06-12 12:35] droberts195 commented on #42583
There was a failure yesterday that I didn't log an issue for as I thought it was a one-off, but which also falls under the heading of "Amazon Linux is shockingly slow at starting up a cluster": https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+multijob-unix-compatibility/os=amazon/28/console

The failing task in that build was `:x-pack:plugin:ml:qa:native-multi-node-tests:integTest

[2019-06-12 12:38] jloisel commented on #40534
Sure no problem. Of course, it would be much nicer if the client would have exposed only interfaces. Even other classes like `SearchRequest` are causing mocking issue because its class is `final`. In that case, i'm instantiating the real object.

[2019-06-12 12:43] romseygeek opened #43157 "Reproducible failure in SearchTemplateRequestTests"
[code]

[code]

Fails on master, passes on 7x

[2019-06-12 12:43] elasticmachine commented on #43157
Pinging @elastic/es-core-infra

[2019-06-12 12:48] atorok commented on #43147
This is being tracked and worked on the infra side.

[2019-06-12 12:48] #43147 closed

[2019-06-12 12:54] atorok commented on #42583
We did have similar issues with timeouts ( even trough those affected internal clusters tests not rest tests ) due to audit, that's why we added `audit_rate_limit=500 ` and why we have all those messages. I tested the change on all platforms on the GCP CI workers and it was fine. I did not test on amazon.

/cc @abs @Crazybus

[2019-06-12 12:59] ywelsch commented on #42979
Given the benchmark results, another option might be to recreate the version map in addition to the local checkpoint tracker. The version map would then truly reflect all operations above local checkpoint at all times.

[2019-06-12 13:03] droberts195 commented on #42583
What's the infra view on [disabling transparent huge pages](https://blog.nelhage.com/post/transparent-hugepages/)?  The `khugepaged` daemon has used 317 minutes of CPU time in the `top` output.  _If_ that occurs during cluster startup then it might explain the horrific slowness.

[2019-06-12 13:14] elasticmachine commented on #43151
Pinging @elastic/es-core-features

[2019-06-12 13:37] #40743 closed

[2019-06-12 13:41] #42473 closed

[2019-06-12 14:01] metaruslan commented on #42957
Perfect! Thank you so much!

[2019-06-12 14:20] astefan opened #43163 "SQL: selecting a sub-field and all subfields generates error"
Issue reproduced on `demo.elastic.co`:
[code]

Gives:

[code]

[2019-06-12 14:20] elasticmachine commented on #43163
Pinging @elastic/es-search

[2019-06-12 14:23] DaveCTurner commented on #28026
We discussed this today and agreed that we are happy with the behaviour as it stands, so this can be closed.

[2019-06-12 14:23] #28026 closed

[2019-06-12 14:26] atorok commented on #42583
We could do that to save on some CPU time, but not sure it will help with this issue, some of our other platforms also have it enabled and we are not seeing this problem there:
[code]

[2019-06-12 14:31] atorok commented on #42583
#26551 has some additional info on THP

[2019-06-12 14:41] atorok commented on #42453
After giving it more taught, i think we do need to run tests for example plugins, or at least for one of them, we don't have a way to test that the  infrastructure to do so ( cluster formation, testclsuters, etc ) works when used in an external project.

[2019-06-12 14:46] taku333 commented on #39024
What happened to this matter?

[2019-06-12 14:52] droberts195 commented on #43068
An alternative approach for "Check if the interval and the format have the same time fidelity" might be to first format `Instant.EPOCH` to a string using the supplied date format.  Then format `Instant.EPOCH.plus(interval)` (converting `interval` to a `TemporalAmount` to pass to [`plus`](https://docs.oracle.com/javase/8/docs/api/java/time/Instant.html#plus-java.time.temporal.TemporalAmount-)) to a

[2019-06-12 15:04] mud5150 opened #43165 "Add Force Merge to hot lifecycle phase"
**Add Force Merge to hot lifecycle phase**:
For time series data it makes sense that you may want to do a force merge on an index in the hot phase after rollover occurs. Seems pretty straight forward but if you want more information LMK.

[2019-06-12 15:07] #43139 closed

[2019-06-12 15:20] jimczi commented on #43068
We don't separate the raw key from the string representation in the response of the composite aggregation. In the "normal" `date_histogram` we have `key` that contains the raw timestamp and `key_as_string` that contains the timestamp formatted with the provided `format`. We could have the same mechanism in `composite` but I wonder why we expose the `format` option in the data frame ? Is it just be

[2019-06-12 15:29] matriv opened #43168 "SQL: Apply a hard limit when ordering on grouping keys"
To be consistent with the hard limit (currently 10,000 - double check) that we apply when we order by a grouping key, e.g.:
[code]
we should add the same hard limit when we also order by an aggregate function, since the same mechanism (priority queue) is used in both cases e.g:
[code]

[2019-06-12 15:29] elasticmachine commented on #43168
Pinging @elastic/es-search

[2019-06-12 15:36] #42664 closed

[2019-06-12 15:38] cbuescher commented on #41745
This appear to have failes again on master on May 4th (https://scans.gradle.com/s/ftmdnpa26cdty#tests)
and the 7.2 branch on May 26nd (https://scans.gradle.com/s/vcnmxcdmlqsdu#tests). At least the later might have
the improved logging from (https://github.com/elastic/elasticsearch/pull/42572), although I'm not entirely sure that
has been backported to the 7.2 branch.

[2019-06-12 15:42] cbuescher commented on #41745
Looks like the logging from #42572 wasn't backported to 7.2. unfortunately. I'll take a look if the logs reveal anything interesting anyway.

[2019-06-12 15:44] benwtrent commented on #43034
Something similar happened in my PR today. Looked for additional trace logs, did not see any. Not sure if my PR had the trace log change or not. https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-1/554/

[2019-06-12 15:57] cbuescher commented on #41745
The test logs from the latest failure on 7.2

[code]

[2019-06-12 16:30] elasticmachine commented on #43165
Pinging @elastic/es-core-features

[2019-06-12 16:57] dakrone commented on #43165
@mud5150 will doing a hot phase with a `rollover` action and then having a "warm" phase with no `min_age` set so that it performs the force merge immediately after the rollover happens work? You can do that currently. Is there a reason the force merge would need to happen in the hot phase?

[2019-06-12 17:23] #43086 closed

[2019-06-12 17:58] mark-vieira commented on #42453
I'm fine with keeping the coverage in some form. But it should be outside of normal of the normal CI intake pipeline so we aren't paying that cost for the majority of work that doesn't affect `build-tools`.

[2019-06-12 18:49] imotov opened #43173 "SQL: Handling of coerced WKT polygons"
WKT parser in SQL cannot handle polygons that were represented in WKT and are not closed, which can be stored if `coerce` flag in mapping is set to `true` but then cannot be retrieved in SQL. That's not an issue for polygons stored in GeoJSON. To reproduce:
[code]

The last command will return an error:

[code]

[2019-06-12 18:49] elasticmachine commented on #43173
Pinging @elastic/es-analytics-geo

[2019-06-12 18:49] elasticmachine commented on #43173
Pinging @elastic/es-search

[2019-06-12 20:30] original-brownbear commented on #41745
@cbuescher I'm on PTO starting effectively right now so I might not get to this but: feel free to backport this to 7.2 to get a better shot a catching the deadlock here. If you back port the logging improvements though, please make sure to back-port exactly https://github.com/elastic/elasticsearch/pull/42572 and not the underlying commit to `master` since the backport has a bug fix to this logging

[2019-06-12 20:32] benwtrent commented on #43068
@jimczi two reasons:
* One is that it is supported in `composite` and in `date_histogram`.
* Certain use cases do benefit from having a formatted time value. Especially in the data exploration scenario where the pivot is completed and they desire to see the resulting table. Having a formatted timestamp is much more human readable than a raw timestamp.

[2019-06-12 22:02] jtibshirani commented on #39754
Looking at the logging statement `Unexpected hit count, was expecting 12 hits but got: ... `, it seems there is an unexpected result from the `tasks` index:

[code]

This looks like a very similar issue to #35644, which we fixed in #37302 by making sure to wait for tasks to terminate in the high-level REST tests. The specific task causing the problem is related to xpack upgrades, and was likely a

[2019-06-12 22:02] #39754 closed

[2019-06-13 00:38] #40624 closed

[2019-06-13 02:36] 101alex opened #43183 "Partial network partitioning leads to cluster unavailability."
**Elasticsearch version**: 6.8.0

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_212

**OS version** (`uname -a` if on a Unix-like system): OS[Linux/4.4.0-145-generic/amd64]

**Description of the problem including expected versus actual behavior**:

I have a cluster of 5 nodes (node1, node2, node3, node4, node5). Their ids are in the following order (this is critical for maste

[2019-06-13 02:48] Leaf-Lin opened #43184 "Watcher: getting painless script errors having null in email admin watches"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.1.1
**Plugins installed**: no
**JVM version** (`java -version`): On Elastic Cloud

**OS version** (`uname -a` if on a Unix-like system): On Elastic Cloud

**Description of the problem including expected versus actual behavior**:
I thought this has been fixed in https://github.com/elastic/elasticsearch/pull/32923.
But I noticed a cluster

[2019-06-13 02:48] elasticmachine commented on #43184
Pinging @elastic/es-core-features

[2019-06-13 03:09] liujin1993 opened #43185 "date histogram cache?"
We hava huge amount of date histogram query, so i want to know whether the partial result of date histogram query can be cached.
For example, i query avg(cost) of last 1 hour group by 1m interval at 01:00, and then i do a same query at 01:01. Can the result of 00:01~01:00 be cached? It can save CPU resource in a great measure
Thanks!

[2019-06-13 04:26] dnhatn commented on #42979
Great suggestion. I am working on this alternative. It will be ready soon.

[2019-06-13 06:11] atorok commented on #42453
I'm not entirely convinced. One could make a point for a number of other features or plugins resulting in each plugin having it's own CI setup.

[2019-06-13 06:44] elasticmachine commented on #43183
Pinging @elastic/es-distributed

[2019-06-13 06:48] DaveCTurner commented on #43183
Can you describe more precisely what "partial network partition" means in this context? Which nodes can communicate with each other? Is the partition symmetric or asymmetric?

I think this is fixed in 7.x by #32006, and we're unlikely to take any action to address this in the 6.x series. Can you reproduce it in a more recent version?

[2019-06-13 08:43] markharwood commented on #43185
Issues opened here are intended to be bug reports or feature requests.
If you are looking for general advice in using elasticsearch please use our [discuss forums ](https://discuss.elastic.co/c/elasticsearch)

[2019-06-13 08:43] #43185 closed

[2019-06-13 08:46] cbuescher commented on #41745
Backported #42572 to 7.2 branch with 44f2db8344ea13f1 to get better logging there as well.

[2019-06-13 08:54] jimczi commented on #43068
Ok so I guess this is for the preview page since the resulting table should be an index where the format  should be compatible with the format defined on the target `date` field. Would it be possible to apply the formatting outside of the composite ? We can use `DateFormatter.forPattern` to create the `DateFormatter` and then apply something like `formatter.format(resolution.toInstant(value).atZon

[2019-06-13 09:01] #42835 closed

[2019-06-13 09:16] cbuescher commented on #43112
For this query in particular:
[code]
the test framework assumes it should be cacheable (the check in https://github.com/elastic/elasticsearch/blob/7.2/server/src/test/java/org/elasticsearch/index/query/FullTextQueryTestCase.java#L39 lowercases the query term before checking the prefix for "now") but in reality the JavaDateMathParser (and also the legacy Joda one) only handle now (and thus flip the

[2019-06-13 09:30] jimczi commented on #43112
Do you have an example of this ? I could not think of a case where we'd modify the original term before  feeding it to an analyzer.

I agree, if this turns too complicated we can ensure that the random query string doesn't start with `now` but I'd like to understand first why the current solution couldn't work if we don't ignore the case.

[2019-06-13 09:38] jimczi commented on #43112
We discussed offline and since we also randomize the forced `analyzer` that is used there is a chance that we lowercase the term. So +1 to remove the randomization to check if a query is cacheable and to make dedicated tests for it on  all full-text queries.

[2019-06-13 09:47] Theoooooo commented on #31197
I got the same issue after upgrading from 6.6.0 to 7.1.0 on a single node cluster with 3Gb of heap. Every 3 request, i hit the Heap Limit and have to wait.

But i also got another ES cluster with 3 nodes, fresh install of he 7.1.1 and i never got this problem.
Seems like this issue appear with the upgrade i did.

[2019-06-13 10:02] howardhuanghua commented on #39531
Very useful enhancement. @tbrooks8 , so except SSL, update xpack.security.enabled config also needs full cluster restart? Do we have plan to enhance this part?

[2019-06-13 10:14] sophiec20 opened #43194 "[ML] Data frame silently fails to index if aggs return a string"
Found in 7.2.0-BC5

The following data frame preview contains a typo in `responsetime`. Composite aggs returns `avg(resposetime)` as a string `"NaN"` .

[code]
returns
[code]

The data frame silently fails to index these values resulting in an entirely empty dest index.

However there are no errors in elasticsearch logs. There are no warnings or errors in data frame notifications, and the stats ma

[2019-06-13 10:14] elasticmachine commented on #43194
Pinging @elastic/ml-core

[2019-06-13 10:23] s1monw commented on #40450
I did run this with current master and I see a smallish improvement with this parameter set:

[code]

[2019-06-13 10:39] romseygeek commented on #40450
It does look better in terms of indexing throughput and segment count.  It's interesting that the index size is so much bigger, but I guess that may be due to differences in merging?

[2019-06-13 10:53] pgomulka commented on #41440
Another failure :
[code]
https://scans.gradle.com/s/es6lo3sc42bxg

[2019-06-13 11:05] pgomulka commented on #42502
interestingly the change was backported to 7.1 but I the issue reapeared
[code]
does not reproduce locally for me

https://scans.gradle.com/s/q2vcb5fa2ocyu

[2019-06-13 11:23] pgomulka opened #43195 "IndexStatsIT.testConcurrentIndexingAndStatsRequests failing test"
on 7.1 the test failed once
[code]
does not reproduce
https://scans.gradle.com/s/jywbjmkjzylke/

stacktrace:
[code]
unlikely that the test itself created same index twice. Could it be that the cleanup was missed somehow?

[2019-06-13 11:45] danielmitterdorfer opened #43196 "[CI] "Can't create extra config file" in Graph QA test"
We see the following failure in CI when running the Graph QA tests:

[code]

* Reproduction line: `./gradlew :x-pack:plugin:graph:qa:with-security:integTest`

* [CI link](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+intake/140/console)
* [Build scan link](https://scans.gradle.com/s/7ece5veus4wpa/failure?openFailures=WzBd&openStackTraces=WzJd#top=0)
* Failure frequency: This st

[2019-06-13 11:45] elasticmachine commented on #43196
Pinging @elastic/es-core-infra

[2019-06-13 11:48] dennis87 commented on #19885
is it possible to accomplish it without using script_score? ( groovy disabled )

[2019-06-13 12:09] romseygeek opened #43198 "Add wildcard and prefix intervals"
We should expose the `wildcard` and `prefix` IntervalSource implementations
as providers in elasticsearch.

[code]

Span queries also allow you to wrap regexp and term range queries, and we can
consider adding these here as well, although they will also require some work in
lucene.

The `prefix` source can piggy-back on text fields `index_prefixes` functionality to
rewrite to simple term intervals

[2019-06-13 12:09] elasticmachine commented on #43198
Pinging @elastic/es-search

[2019-06-13 12:11] ywelsch commented on #42502
what makes you think it's the same issue? Because it's the same test failing?

This is a different assertion error in a different place (see below), for which we should create a fresh issue instead of resurrecting an unrelated old one. I understand it's not always easy to figure out whether it's the same cause or a different one, but if the error message changes, please add that information to the

[2019-06-13 13:08] davidkyle commented on #43194
I can't reproduce this on master or the 7.2 bc6. I can see documents written to the index with a `null` value for the `mean_respose` field:

[code]

[2019-06-13 13:27] cbuescher opened #43200 "Add dedicated Q.B. cache tests instead of generic testing in AbstractQueryTestCase#testToQuery"
In relation to occasional failures like #43112 and while looking into a fix in #43199 I had some discussions
about if its really a good idea to test the caching behaviour of all query builders in general in
`AbstractQueryTestCase#testToQuery` like we currently do. Doing this for all kinds of randomized query builder
parametrizations requires sometimes non-trivial edge-case handling in either the q

[2019-06-13 13:27] elasticmachine commented on #43200
Pinging @elastic/es-search

[2019-06-13 13:31] cbuescher commented on #43200
One potential disadvantage of removing the general checks from `AbstractQueryTestCase#testToQuery` would be that sub-test implementors might miss the need for dedicated cache tests, but that can maybe be enforced otherwise.

[2019-06-13 13:58] polyfractal commented on #42258
Hmm, tried to get this fixed and think I'm going to need some help.  @dimitris-athanasiou, it seems that the mixed cluster `40_ml_datafeed_crud#Test Old Cluster with Aggs` test throws either [one or two deprecation warnings](https://github.com/elastic/elasticsearch/blob/master/x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/40_ml_datafeed_crud.yml#L29), which means we

[2019-06-13 14:06] benwtrent opened #43201 "[ML] Support CCS for data frame transforms source index"
Since it is possible to search and aggregated with CCS, it should be possible to use a remote index (given that security is properly set up) as a `source.index` in data frames.

There are a handful of things preventing this currently:
 * The local cluster cannot get the mapping information from a remote index. We should move to using `_field_caps` for determining potential mapping types
 * We also

[2019-06-13 14:06] elasticmachine commented on #43201
Pinging @elastic/ml-core

[2019-06-13 14:54] droberts195 commented on #43052
Yes, agreed, this is how to solve the problem of knowing whether it's worth trying to get another page.

[2019-06-13 15:19] dnhatn commented on #43103
At first glance, these numbers would be useful. However, soft-deletes and hard-deletes are exclusive. If soft-deletes is enabled, we won't have hard-deletes (except situations where we hit non-abortable exceptions during indexing) and vice versa.

[2019-06-13 15:20] nikfot commented on #28590
Interesting workaround. Did you build it exactly the way you mention? Because I tried it, but i had a problem with java_home on the elasticsearch image
`could not find java in JAVA_HOME or bundled at C:\elasticsearch\jdk
`
Any ideas?

[2019-06-13 15:23] sophiec20 opened #43203 "[ML] If stopping _all data frames, then querying _all stats is not correct"
Found in 7.2.0-BC5

1. Create and start 100 data frame transforms (same transform, incrementing id,  scripted, and can be on small source indices) - give them time to complete
2.  Check in UI - all transforms are visible in list and show 100% progress
3. Run `POST _data_frame/transforms/_all/_stop`
4. Check in UI - the first 10 transforms show 100%, the rest shows 0%

For example, this system cont

[2019-06-13 15:23] elasticmachine commented on #43203
Pinging @elastic/ml-core

[2019-06-13 15:31] sophiec20 commented on #43043
closing - `transform_id` is now validated in the same way as `job_id`.

@dimitris-athanasiou please apply to data frame analytics.

[2019-06-13 15:31] #43043 closed

[2019-06-13 15:33] tbrooks8 commented on #41071
My best guess is that this is similar to this: https://github.com/envoyproxy/envoy/issues/1446/

[2019-06-13 15:49] pgomulka commented on #40678
seems like the issue was reintroduced after recent change
@bizybot would you be able to have another look?

I noticed this failing on 6.8, 7.2, 7,x and master
https://scans.gradle.com/s/n54lswxrj4kxa

[2019-06-13 16:01] rjernst commented on #42453
I agree with @mark-vieira this should be a separate CI job. This is not something likely to break very often. We can have simple integ tests that check the build tools work as expected which are run always, that use fake projects in testkit, mimicking external behavior, and have a separate test task for running the example plugins builds in this way. This is similar to how we have `packagingTest`

[2019-06-13 16:13] mark-vieira commented on #42453
You say this in jest, but honestly I would be in favor of moving this direction and away from such a monolithic CI setup as we have now 😉

[2019-06-13 16:13] a4chet commented on #28590
Most likely your Java unzip location is not the same as mine so your ENV JAVA_HOME is incorrect

[2019-06-13 16:14] mark-vieira commented on #42453
👍

[2019-06-13 16:14] atorok commented on #40624
I think we also have something on the workers to generate entropy now, so we might not need to change our config at all just re-enable the fixture, sorry I missed it that this was never re-enabled.  See the linked infra ticket for more information.

[2019-06-13 16:18] atorok commented on #43196
This happens on `7.x` because of a missing back-port (5e0a162ed66).
Now fixed by back-porting that change.

[2019-06-13 16:18] #43196 closed

[2019-06-13 16:34] sophiec20 commented on #43194
I'll retry on BC6.

Note that we have also seen silent failures when the deduced mapping was `half_float` and the `sum(value)` overflowed. cc @benwtrent

[2019-06-13 19:21] #42851 closed

[2019-06-13 20:04] benwtrent commented on #43194
@sophiec20 yes, 7.3 is now writing an audit when there are bulk indexing issues. If desired, it can be backported to 7.2. However, I am not sure that is necessary because the UI is not displaying audit messages yet.

[2019-06-13 21:59] matriv commented on #42851
`master`: 19909edcfdf5792b38c1363b07379783ebd0e6c4
`7.x`: 3c73602524aa9a160e2ec7e263bc97095f4dd411
`7.2`: 75f5546a7323fb79300df8510ca20bdb11604b50
`7.1`: 029f5927d34a52136bdb699ad4a756632ee5115f
`6.8`: e24f89d339586c89d279d6a0e99583d60eb9a2dc

[2019-06-13 22:41] DaveWHarvey commented on #17213
I have a different problem I'm trying to solve, but I see a possible tweak to what is being discussed here as a solution.   On Kubernetes, a node/pod may want to terminate because of a rolling upgrade or because the underlying worker node is being replaced.   The pod gets a "pre stop hook", and we have coded this to add the node to the exclusion list (and to periodically retry that in case another

[2019-06-14 00:10] mud5150 commented on #43165
It could work, however in my particular instance all phases are in use. In my instance "hot" servers hold 28 days of data. Warm servers (slower disks) hold the rest of the year and still get a good amount of user queries. Cold nodes have slow disks and high ratio of storage to memory, use frozen indices, etc. It's not a problem for me to have curator force merge the index after the rollover happen

[2019-06-14 06:28] 101alex commented on #43183
A partial network partitioning is a network partitioning where two groups of nodes cannot communicate with each other, while there is a third group of nodes that can communicate with both.

I just realized that I accidentally wrote node3 instead of node1 in some places in the original post, sorry.

In my case the three groups are:
g1: node2.
g2: nodes 1, 4, and 5.
g3: node3

g1 members cannot comm

[2019-06-14 06:28] lukelee1987 opened #43221 "Why it reflected I run elasticsearch using root when I am not."
[code]
Hi I am running using a normal user account but why is reflected I should not run using root?

[2019-06-14 07:23] #42502 closed

[2019-06-14 07:26] ywelsch commented on #43195
Relevant log lines:

[code]

Similar to https://github.com/elastic/elasticsearch/issues/42502#issuecomment-501676072, this is unrelated to the actual test case. The nodes seem to be freezing during the test, with fault detection of the 2 nodes noticing that the respective other is not responding. This does not look to be anything specific to this test, and rather indicates an infrastructure proble

[2019-06-14 07:26] #43195 closed

[2019-06-14 07:29] tvernum commented on #43221
Hi @lukelee1987
Thanks very much for your interest in Elasticsearch.

I don't see anything in your log related to running as `root`. Your node failed to start because you failed the [heap size bootstrap check](https://www.elastic.co/guide/en/elasticsearch/reference/7.1/_heap_size_check.html)
[code]

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](h

[2019-06-14 07:29] #43221 closed

[2019-06-14 07:31] atorok commented on #43096
The problem here is that the build fixture task is explicitly enabled, overriding the configuration done in the plugin. The plugin disables it because no docker is available but the build scripts turns it back on.

[2019-06-14 07:36] atorok commented on #43096
Since this is a simple one liner change that's not covered by PR checks I pushed 83182d6f219  directly to fix it.

[2019-06-14 07:36] #43096 closed

[2019-06-14 07:38] lukelee1987 commented on #43221
Hi tvernum ,

May I know in this case I have to change the -Xms and -Xmx ?

Is there any guideline on how much should I put? Now I am putting at -Xms6g / -Xmx8g.
But it seems there is no changes.

ERROR: [1] bootstrap checks failed
[1]: initial heap size [2147483648] not equal to maximum heap size [32210157568]; this can cause resize pauses and prevents mlockall from locking the entire heap

Kindl

[2019-06-14 08:10] tvernum commented on #43221
This appears to be a user question, and we'd like to direct these kinds of things to the forums. If you have any further questions about this issue, we'd appreciate if you would stop by there to ask your question.

[2019-06-14 08:10] nikfot commented on #28590
Sorry, my bad. I forgot to mention I tried elasticsearch 7.1.1 instead of 6. I just took a look at the ES 6 elasticsearch.bat and it has these commands at the end:

`%JAVA% %ES_JAVA_OPTS% -Delasticsearch -Des.path.home="%ES_HOME%" -Des.path.conf="%ES_PATH_CONF%" -cp "%ES_CLASSPATH%" "org.elasticsearch.bootstrap.Elasticsearch" !newparams!`

While the elasticsearch.bat in ES7 looks like this:
`%JAVA

[2019-06-14 08:11] pgomulka opened #43223 "DiscoveryNodeRoleIT.testExplicitlyHasAdditionalRole fails on 7.x"
The test is failing on 7.x with following stacktrace:
[code]

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:'2019-06-11T22:00:00.000Z',mode:absolute,to:'2019-06-15T21:59:59.999Z'))&_a=(columns:!(_source),index:b646ed00-7efc-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:DiscoveryNodeRoleIT),sort:!(process.time-start,desc))

[2019-06-14 08:15] pgomulka commented on #42502
@ywelsch apologies, I probably should have spend more time investigating this failure before reopening. I wrongly assumed that same testmethod and a recent change/fix would mean that this could be the same problem.

[2019-06-14 08:29] sophiec20 commented on #43194
@benwtrent Not worth a backport to 7.2 at this time. Do these failures get counted by `_stats`?

[2019-06-14 08:41] pgomulka commented on #43223
is passes for this seed
[code]

[2019-06-14 08:52] DaveCTurner commented on #43183
Ok, this is a situation that master elections in 6.x and earlier are known not to tolerate, but in which 7.x and later clusters will still be able to elect a master. It also doesn't seem very likely to occur in the wild. It's always possible to find a partition that results in unavailability (e.g. disconnect all pairs of nodes) so we must make choices about the kinds of partition that are reasonab

[2019-06-14 08:52] #43183 closed

[2019-06-14 08:53] pgomulka commented on #43223
@jasontedor would you be able to have a look into this test?

[2019-06-14 09:14] #43112 closed

[2019-06-14 10:12] medivn opened #43228 "The node reports an error during the recovery process"
elasticsearch version:6.2.4
The node reports an error during the recovery process. From the code point of view, it is because there is no judgment whether the string is empty, but why does the Translog have such abnormal data that causes the error?
 The log is as follows

[code]

[2019-06-14 10:33] DaveCTurner commented on #17213
@DaveWHarvey you're right that relocations are really copies from the _primary_ to the new location, and the concurrent recovery limit is enforced on a node-by-node basis, so you might get up to `2*#nodes` concurrent recoveries at any time, but I don't understand why this is an issue for you. Each node should only see 2 concurrent recoveries, and that's what I expect to be the bottleneck. What are

[2019-06-14 10:45] elasticmachine commented on #43228
Pinging @elastic/es-distributed

[2019-06-14 10:57] peteharverson commented on #43052
Note that the data frame `_stats` endpoint also uses a default size of `100`:

[code]

For a system with over 100 transform stats docs, both the above return 100 docs, with `count` returned as `100`.

[2019-06-14 11:26] #43168 closed

[2019-06-14 11:27] markharwood commented on #42892
According to the javadocs it's called  "S stemmer"

I took the [signal media million news dataset](https://research.signal-ai.com/newsir16/signal-dataset.html) and used[ this script](https://gist.github.com/markharwood/b1b7a7af8105efa8097156761dda2617) to benchmark my proposals. I measured the recall gain that could be had from removing the extra "e" for a number of suffixes.
In the tables below i

[2019-06-14 11:51] matriv commented on #43168
`master`: 079e012fdea68ea0a7daae078359495047e9c407
`7.x`: 9cd89c3453d50b28949179f5a3afde7cb735bf4e

[2019-06-14 11:53] ywelsch commented on #43228
The NullPointerException is a bug that was fixed in later versions (https://github.com/elastic/elasticsearch/pull/33141). Please upgrade.

[2019-06-14 12:15] benwtrent commented on #43194
@sophiec20 no, it will only write a `warning` log entry.

[2019-06-14 12:21] benwtrent commented on #43052
Cool, I will get a PR together for fixing this behavior in 7.3. Returning the total count of docs makes sense :)

[2019-06-14 12:23] Asgoret commented on #10981
@jasongoodwin ELK don't work in OKD 3.11 (Openshift) correctly because there is no support of H2\grpc protocols.
See: https://github.com/elastic/kibana/issues/7104 and https://github.com/openshift/origin-aggregated-logging/issues/1465

[2019-06-14 12:46] DaveWHarvey commented on #17213
@DaveCTurner A rolling upgrade could be implemented by disabling shard allocation or by  moving shards.   The former creates a high risk of data loss if there is 1 replica,  requires synchronization to ensure only one node is acting at a time (but I need a statefulSet per AZ to support multiple availability zones),  will cause transient search failures when the node goes down,  and does not work f

[2019-06-14 13:33] pgomulka commented on #43223
closed by #43225

[2019-06-14 13:33] #43223 closed

[2019-06-14 14:29] jpountz commented on #40115
We discussed it in FixitFriday and made the following points:
 - the real-memory circuit breaker is expected to already helping with this since GC pressure typically correlates with high-memory usage
 - the problem is that circuit breakers don't intercept all memory allocations, some of the linked issues are about deserializing mappings for instance, which doesn't try to let circuit breakers know

[2019-06-14 14:29] #40115 closed

[2019-06-14 14:39] ppanero commented on #10996
Hello @rjernst  @clintongormley @konradkonrad

First of all please spare my life for commenting on an anciently dead issue. I have an issue with this and suggesters. Due to the nature of a federated datamodel, the are three fields:

``_data`` where the searchable data goes
``_suggest`` where the desired data for "search-as-you-type" is copied to
``_didyoumean`` where the desired data for "did-you-

[2019-06-14 14:51] nmilford commented on #29561
Just chiming in to keep it lively.  We two have an open initiative that is affected by this.  It would be delightful to see it addressed.

[2019-06-14 15:41] benwtrent commented on #43052
https://github.com/elastic/elasticsearch/pull/43241 <- PR so that the count is the total count given the id pattern.

[2019-06-14 16:12] mark-vieira commented on #42829
Looks like #42745 cleared this up. We haven't had an instance of this particular issue since June 10th. The above linked CI job is still failing but for another issue which will be sorted out by #43232.

[2019-06-14 16:35] tbrooks8 commented on #34514
Yeah I think we should close it. @jaymode ?

[2019-06-14 16:37] tbrooks8 commented on #42499
I think this might be similar to #41071

[2019-06-14 16:47] kat257 opened #43244 "Add explanation of relocating shard state."
https://www.elastic.co/guide/en/elasticsearch/reference/current/cat-shards.html
Issue raised:
Cristina Albu [12:17 PM]
I was researching the possible shards statuses and found 3 types: `Starting`, `Initializing` and `Unassigned`. But folks also talk about `Relocating` and `Unavailable`. Are their statuses on their own or do they fall under `Unassigned`’? Also, are there any other that I am missing

[2019-06-14 16:47] elasticmachine commented on #43244
Pinging @elastic/es-core-features

[2019-06-14 16:48] jaymode commented on #34514
Agree on closing.

[2019-06-14 16:48] #34514 closed

[2019-06-14 16:54] dakrone opened #43245 "ILM may get stuck waiting for segment count to reach expected number"
When ILM attempts a force merge it immediately moves to a step that waits until the segment count reaches the expected number. However, it's possible for a force merge to silently stop (for example, if the shard being merged moves to a different node the force merge does not continue on the new node).

This can lead to the index being stuck indefinitely in the the `SegmentCountStep`.

[2019-06-14 16:54] elasticmachine commented on #43245
Pinging @elastic/es-core-features

[2019-06-14 17:07] dnhatn commented on #42499
Yes, let's close this in favour of #41071.

[2019-06-14 17:07] #42499 closed

[2019-06-14 17:11] jpcarey commented on #43079
related https://github.com/elastic/elasticsearch/issues/32688

[2019-06-14 19:10] pkg01 commented on #34822
Hi @refayathaque ,
How/where did you change the mapping from `text` to `keyword`?

[2019-06-14 19:31] jakelandis opened #43251 "Possible stack overflow in failure scenerio in Cross Cluster Replication"
While investigating an issue with CCR where both the leader and follower were overwhelmed. (especially the follower with long GC's, nodes dropping from cluster, etc.)  A stack overflow exception was logged. The full exception is [here](https://gist.github.com/jakelandis/9ef72d6bff8a7e3d33922a9cde0c4063) (it is too long to include as part of the issue)...here are the highlights:

[code]
Digging thr

[2019-06-14 19:31] elasticmachine commented on #43251
Pinging @elastic/es-distributed

[2019-06-14 21:35] dakrone opened #43253 "ILM prohibits stopping when in shrink action instead of shrink step"
When attempting to stop ILM, ILM checks to see if any of the indices are currently shrinking to avoid stopping during this operation. However, the check for this is too coarse-grained, checking to see if the index is in the "shrink" action instead of the actual "shrink" step (where the actual shrink call is issued).

This can lead to issues where an index is in the shrink but doing something innoc

[2019-06-14 21:35] elasticmachine commented on #43253
Pinging @elastic/es-core-features

[2019-06-15 01:32] #37846 closed

[2019-06-15 08:39] Muniinder commented on #33766
Hi @DaveCTurner
I am trying to build elasticsearch from master and getting the same result as yours. and I also got malware
prompt. i.e. Adwind.U file is being downloaded. What to do in this case?

[2019-06-15 09:39] DaveCTurner commented on #33766
As mentioned [above](https://github.com/elastic/elasticsearch/issues/33766#issuecomment-422013052) this was caused by Windows Defender misbehaving, and the fix was to disable it.

[2019-06-15 11:37] ajupazhamayil opened #43258 "Aggregation on integer field returns float"
**Elasticsearch version**: 7.1.1

**JVM version** : openjdk version 11.0.3

**OS version**: Ubuntu-18-04

**Description of the problem including expected versus actual behaviour**:
I have made an index with a property type integer and inserted a value. But when I try to do aggregation like min/max It results in a float value.

**Steps to reproduce**:
Create index:
[code]

Insert value:
[code]

Fin

[2019-06-15 17:35] amogh-jrules commented on #42997
I am working on it, as i said. about to submit a pull request

[2019-06-15 18:51] nkakouros opened #43260 "CLI tools output errors on stdout"
**Elasticsearch version** (`bin/elasticsearch --version`): `Version: 7.1.1, Build: default/deb/7a013de/2019-05-23T14:04:00.380842Z, JVM: 12.0.1`

**Plugins installed**: none

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system): `Linux earth-elk 4.15.0-1033-gcp #35-Ubuntu SMP Fri May 17 13:27:54 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

**Description of t

[2019-06-16 06:52] e-orz commented on #31197
@Theoooooo
With my case it happens with fresh install.
What is the GC type, CMS or G1GC?

[2019-06-16 09:56] original-brownbear opened #43261 "Failure in org.elasticsearch.search.suggest.SuggestSearchIT.testEmptyShards"
This failed on local CI for me on master 7870ae2f16f38514d0bcc93ed22031e87f69785d:

[code]

stderr:

[code]

stdout:

[code]

[2019-06-16 09:56] elasticmachine commented on #43261
Pinging @elastic/es-search

[2019-06-16 17:47] phillbaker opened #43262 "Ingest JSON processor parses starting object instead of failing"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.2.3

**Plugins installed**:
analysis-icu
analysis-kuromoji
analysis-phonetic
analysis-seunjeon
analysis-smartcn
analysis-stempel
analysis-ukrainian
elasticsearch-jetty
ingest-attachment
ingest-user-agent
mapper-murmur3
mapper-size

**JVM version** (`java -version`):
OpenJDK 64-Bit Server VM 12.0.1

**OS version** (`uname -a` if on a Unix

[2019-06-16 21:21] albertzaharovits commented on #34396
Thanks @tvernum and @jkakavas for the valuable feedback! There is a lot to unpack, so rather than individually answering each question and suggestion I will try to elaborate on the proposals.

Generally, I think we (me, Tim and Ioannis) are all OK with extending the PKI realm to delegate authentication *inside the Stack* by having Kibana pass the client cert from the TLS handshake to ES in exchang

[2019-06-17 00:46] tvernum commented on #43260
I've re-titled this issue because it applies to all Elasticsearch CLI tools, for example:
[code]

The problem is that we default to using the Java `Console` class for CLI tooling, because it provides better support for things like reading passwords. However, it does not provide support for writing to stderr.

I suspect we could build a hybrid `Terminal` that wrote primary output to the Console, bu

[2019-06-17 00:47] elasticmachine commented on #43260
Pinging @elastic/es-core-infra

[2019-06-17 01:20] tvernum opened #43264 "Support HTTP-POST binding for SAML logout"
At the moment we only support the `HTTP-Redirect` binding for Logout (and `HTTP-POST` for Authentication).

This is because it is the [recommendation in the SAML 2 Interoperability Profile](https://kantarainitiative.github.io/SAMLprofiles/saml2int.html#_responses_2) that SPs and IdP use `HTTP-Redirect` for logout. An early (unreleased) implementation of our logout code used POST because we already

[2019-06-17 01:20] elasticmachine commented on #43264
Pinging @elastic/es-security

[2019-06-17 06:19] jpountz commented on #43258
There has been a related discussion at #9545. This is due to the fact that numeric aggregations always use doubles as internal representations of the values they are working on, yet this can be problematic with long fields, since doubles can't represent their entire range.

One thing that made this issue hard to solve was the transport client, now that we are removing it in favor of the rest clien

[2019-06-17 06:20] elasticmachine commented on #43258
Pinging @elastic/es-analytics-geo

[2019-06-17 07:51] tvernum commented on #34396
I think this mixing different concepts.

SAML assertions are typically sent via an intermediary, thus they are inherently subject to replay attacks. The design of a SAML assertion is intended to counter this risk by including time constraints that make the assertion fail if replayed at a later date, but the primary need for this is because the assertion may travel via an untrusted channel (e.g. th

[2019-06-17 08:03] tvernum commented on #34396
That said, I think we're at the point where we can and should get into some implementataion.
I think the only current points of contention are:
- what metadata (timestamp) Kibana would need to send alonside the certificate chain
- whether that payload requires a signature
- what additional validation we would perform on
   - the payload (metadata)
   - signature (if any)
   - connection (does it r

[2019-06-17 08:10] martijnvg commented on #43251
Maybe inside the `AutoFollower#finalise(...)` method, the call to `AutoFollower#start()` should be done on another thread?

Most of the times forking into another thread is not needed, because the thread the autofollower is on is different, but as this stacktrace shows, in error conditions this may not be the case. So perhaps we should fork into another thread in order to avoid stackoverflow in th

[2019-06-17 08:21] jimczi commented on #43261
@cbuescher this seems to be related with https://github.com/elastic/elasticsearch/pull/42927, can you take a look ?

[2019-06-17 08:26] #40546 closed

[2019-06-17 08:26] #41742 closed

[2019-06-17 08:51] markharwood commented on #42892
Another bizarre choice in s-stemmer is to avoid any stemming of `ees` (ie the trailing `s` is not removed).
Tests on the signal media 1m news dataset shows this overlooks a lot of valid words.
The only `ees` words that are not plurals here are `raess` (a Bollywood movie) and `drees` and `dees` (names), all of which when index as stemmed would not clash with other common English words. I recommend

[2019-06-17 09:14] original-brownbear opened #43266 "Precommit Task Leaks Docker Containers and Fails to Run without Docker"
In current `master`, running `./gradlew precommit` results in Docker containers leaking as such:

[code]

Also, without Docker or `docker-compose` available on a machine the build now fails with:

[code]

as a result.

[2019-06-17 09:14] elasticmachine commented on #43266
Pinging @elastic/es-core-infra

[2019-06-17 09:23] ywelsch commented on #41071
@tbrooks8 interesting find. How do you think we should fix this? Should we just log a warning on OS X and move on? Could we possibly delay setting the option until we're fully connected?

[2019-06-17 09:48] zwbVsA opened #43270 "term query OOM"
**Describe the feature**:

**Elasticsearch version 6.5.3

**Plugins installed**: []

**JVM version1.8(`java -version`):

**OS version linux 3.10.0-862.11.6.el7.x86_64

**Description of the problem including expected versus actual behavior**:

every day has 1000W data，i query one month using termQuery cause OOM.
this is the dsl
{
	"from": 0,
	"size": 10,
	"query": {
		"bool": {
			"filter": [
				{

[2019-06-17 10:06] droberts195 opened #43271 "[CI] Internal data frame indices can cause unrelated docs tests to fail"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+intake/84/console failed due to the `.data-frame-notifications-1` index existing in a docs test that didn't expect it to exist:

[code]

I imagine we had similar problems previously with ML internal indices leaking into unrelated docs tests.  We should look at how that was solved and implement something similar for data frame intern

[2019-06-17 10:06] elasticmachine commented on #43271
Pinging @elastic/ml-core

[2019-06-17 10:06] elasticmachine commented on #43271
Pinging @elastic/es-docs

[2019-06-17 10:15] markharwood commented on #42892
Another proposal:
The `*ies -> *y` rule should only apply to words longer than 4 characters.
In tests on the news dataset this proposal loses nothing  but gains matches on `pies -> pie`, `lies->lie` and `ties->tie`.
The only 2 letter `*y` word of consequence in English is `by` and does not have a plural.

[2019-06-17 10:25] elasticmachine commented on #43261
Pinging @elastic/es-distributed

[2019-06-17 11:15] centic9 opened #43275 "Elasticsearch 7 reports a different key_as_string for dayOfWeek for date_histogram aggs than Elasticsearch 6 did"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.7.2 and 7.1.1

**Plugins installed**: []

**JVM version** (`java -version`): Java HotSpot(TM) 64-Bit Server VM/11.0.1/11.0.1+13-LTS

**OS version** (`uname -a` if on a Unix-like system): Windows 10

**Description of the problem including expected versus actual behavior**:

We are looking at upgrading from Elasticsearch 6.x to 7.x and one

[2019-06-17 12:05] DaveCTurner commented on #39585
Another failure: https://scans.gradle.com/s/okxtr6zgle3mk/console-log?task=:server:integTest#L3306

[2019-06-17 12:31] Sanjaygk opened #43277 "'gt' gives unexpected results."
Elasticsearch version: 7.0.0

**OS version** (`uname -a` if on a Unix-like system):
Linux <hostname>  3.10.0-957.el7.x86_64 #1 SMP Thu Nov 8 23:39:32 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
The elasticsearch query,
[code]

returns,

[code]

Returns zero hits, but if i do change the range to "now-2w" it returns hits. this is

[2019-06-17 13:37] markharwood commented on #42892
`oes` plurals are not treated at all by the "S" stemmer.
I beleive a positive uplift can be had by removing the `es` part of the suffix.
In the table below I contrast the popularity of the full `oes` term, an aggressive `o` stemmed form and a less aggressive `oe` stem in the million news articles dataset.
The aggressive stem back to the `o` word looks to be the most useful stemming rule to employ

[2019-06-17 14:02] elasticmachine commented on #43262
Pinging @elastic/es-core-features

[2019-06-17 14:05] DaveCTurner commented on #43270
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/) that s

[2019-06-17 14:05] #43270 closed

[2019-06-17 14:12] andrershov commented on #41549
Got testAddressInterfaceLookup failure here. Thanks to @original-brownbear PR #42109, we now know the name of the failing interface - veth141ef02.

[code]

[2019-06-17 14:44] #43245 closed

[2019-06-17 15:15] DaveCTurner commented on #43277
Relates https://discuss.elastic.co/t/search-api-returns-zero-hits/185963 /cc @henningandersen.

This behaviour looks to be deliberate, although I will admit that I find it surprising too. The `gt` vs `gte` applies to the integer number of time periods added or subtracted, so `"gt": "now-2w"` means the same as `"gte": "now-1w"` and, crucially, only returns hits from the last 7 days. Similarly, `"gt

[2019-06-17 15:16] elasticmachine commented on #43275
Pinging @elastic/es-analytics-geo

[2019-06-17 15:26] ywelsch commented on #43103
ok, sounds good.

[2019-06-17 15:26] #43103 closed

[2019-06-17 15:31] jasontedor commented on #41549
@andrershov This is not the same as the issue opened and addressed here, note the stack trace is coming from test-only code, and doesn't touch the production code that was at play here, and addressed in #41758. Instead, this test code was changed in #42109 exactly to uncover the interface that was failing. Since this is a separate issue, can you please open a new one?

[2019-06-17 15:31] #41549 closed

[2019-06-17 15:35] DaveCTurner commented on #43275
This reproduces for me. It looks like Joda (and hence Elasticsearch ≤6) maps Monday to `1` whereas Java (and hence Elasticsearch ≥7) maps Sunday to `1`.

[2019-06-17 15:35] elasticmachine commented on #43275
Pinging @elastic/es-core-infra

[2019-06-17 15:39] markharwood commented on #42892
It's possible that the EnglishMinimalStemmer's implementation of the original algorithm has a bug.

This is the original S-stemmer description:
![image](https://user-images.githubusercontent.com/170925/59616454-5dc7d580-911c-11e9-80b0-c7a59458c5a7.png)

The notes accompanying the table state :

For the `ees` and `oes` suffixes I think EnglishMinimalStemmer misinterpreted the rule logic and consequ

[2019-06-17 15:43] dakrone opened #43287 "[CI] DocsClientYamlTestSuiteIT {yaml=reference/search/request/sort/line_514} failed on master fails due to geo distance mapper failure"
In the geo sort documentation, the query failed in the test:

[code]

The build scan is at https://scans.gradle.com/s/ublvsm4jfwhjs/tests/jbm2x6tnwtxku-5qgvxxvgu23yc

The reproduce line is:

[code]

But it did not reproduce for me.

Full failure:

<details>
<pre>
:docs:integTestRunnerorg.elasticsearch.smoketest.DocsClientYamlTestSuiteIT » test {yaml=reference/search/request/sort/line_514} (0.331s)

[2019-06-17 15:43] elasticmachine commented on #43287
Pinging @elastic/es-analytics-geo

[2019-06-17 16:13] droberts195 opened #43289 "[ML] BasicDistributedJobsIT.testFailOverBasics_withDataFeeder failed"
`BasicDistributedJobsIT.testFailOverBasics_withDataFeeder` failed in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+multijob-unix-compatibility/os=opensuse/51/console

The error was:

[code]

The REPRO command was:

[code]

The relevant section of the log was:

[code]

[2019-06-17 16:13] elasticmachine commented on #43289
Pinging @elastic/ml-core

[2019-06-17 16:19] droberts195 commented on #43289
I am pretty sure the problem here is that the random node that was shut down was the master node and when a new master node was elected it had an empty ML memory tracker.  This led to the assignment of the job to a new node being deferred until after a memory tracker refresh.  Then the job should get reassigned either when there is another cluster state update or when a timer triggers.  There were

[2019-06-17 16:20] albertzaharovits opened #43290 "Make response filter_path work with the flat_settings option of _cluster/settings"
I wish to filter the output from the `_cluster/settings` API with `filter_path`. For example, this works like this
[code]
But if I want to flatten the settings like this
[code]
it no longer works (returns empty).

Generally, can `filter_path` be made to traverse dot names and work in a mix scenario of dot names and objects?

[2019-06-17 16:20] elasticmachine commented on #43290
Pinging @elastic/es-core-infra

[2019-06-17 20:30] mark54g opened #43296 "Rollover API errors out with NPE in some cases"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.0.1

**Plugins installed**: []

**JVM version** (`java -version`): OpenJDK 12.0.1

**OS version** (`uname -a` if on a Unix-like system): Unknown

**Description of the problem including expected versus actual behavior**:
ILM job to create rollover indices when the index hits 500GB

**Steps to reproduce**:
ILM calls rollover API

**Provide

[2019-06-17 20:52] elasticmachine commented on #43296
Pinging @elastic/es-core-features

[2019-06-17 21:08] dvisztempacct commented on #37043
Hi all :)

I see that PR #39770 has been merged!

Any idea when / which release this will be a part of?

But I notice that it was merged into a feature branch, and it does not appear that that branch has been merged into master.

What does the roadmap look like for this?

Thanks!

[2019-06-17 21:24] jbaiera commented on #32789
Hey all,

Here's the summary of decisions and action items from the policy index cleanup meeting this Friday:
* Decision: Old indices should be removed in a background process
  * Reasoning: A PolicyRunner could fail for any reason at any time (master changes, OOM, Cosmic Rays, etc.) and is linked to user action (The execute api). The process of cleaning up old indices should be always running. If

[2019-06-17 23:27] jimczi commented on #43277
Thanks for reporting @Sanjaygk. This is an actual bug that was introduced with the move to Java Time. The logic that we apply to exclude rounded values (`now/M`) is also applied to simple operation like `now-1M` in the Java date math parser. So instead of adding 1ms to get the values greater than `now-1M` we also add 1M to the result of the operation. I opened https://github.com/elastic/elasticsea

[2019-06-18 00:43] bbfsdev opened #43308 "Synonym graph causes strange score on match_phrase query"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.1.1 (also at 6.7.2).
FYI, the bug **don't exist at 6.5.4**.

**Plugins installed**: No plugins.

**JVM version** (`java -version`):
openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-b04)
OpenJDK 64-Bit Server VM (build 25.212-b04, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux bbdev6.local

[2019-06-18 01:07] talevy commented on #43271
Assuming this is due to pending tasks, do you think it can be resolved the same way Rollup Jobs are in ESRestTestCase#wipeCluster?

[2019-06-18 01:46] russcam opened #43309 "Use Azure Storage SDK 12 in Azure Repository plugin"
**Describe the feature**:

repository-azure plugin uses the azure-storage SDK 8 to interact with Azure Storage:

https://github.com/elastic/elasticsearch/blob/349d2ce153d4be78bf0d8ae2472bfc88e18530c1/plugins/repository-azure/build.gradle#L26

[SDK 8 is legacy](https://github.com/azure/azure-storage-java/tree/legacy-master) and superseded by [Azure Storage SDK 11](https://github.com/Azure/azure-sdk

[2019-06-18 01:55] wuxiangli91 commented on #31197
just use:
ES_JAVA_OPTS="-Xms10g -Xmx10g" ./bin/elasticsearch

since the default heap is 1G, if your data is big ,you should set it bigger

[2019-06-18 02:40] Mr-WangZhe opened #43310 "How to send query contains NOT | AND | OR?"
I use org.elasticsearch.client to query string contains NOT, but I get the response about {"error":{"root_cause":[{"type":"query_shard_exception","reason":"Failed to parse query [(allnames:((NOT ) OR (NOT* )))]", can you help me to resolve it?

 Thanks!
Jack

[2019-06-18 02:41] Mr-WangZhe commented on #43310
I know that NOT | AND | OR are conditions, but how can we query string contains them?

[2019-06-18 02:58] dnhatn commented on #43310
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/) that s

[2019-06-18 02:58] #43310 closed

[2019-06-18 03:00] elasticmachine commented on #43308
Pinging @elastic/es-search

[2019-06-18 05:55] s1monw commented on #40450
yeah it's likely due to merging. I don't think this is a significant change in indexing, about 5% I think it would be even better combined with another change that you worked on @romseygeek

[2019-06-18 06:06] elasticmachine commented on #43309
Pinging @elastic/es-distributed

[2019-06-18 06:20] Arghyadeb commented on #25894
Plus one from me.
I want a hyphen `-` to be considered as a char.

[2019-06-18 06:29] ruflin opened #43312 "Add support for remote indices in index alias (use CCS)"
An index alias can contain one or multiple indices. But today it's not possible to add an index or an index pattern of a remote cluster. It would be nice to add support for this as it would allow to expose cross cluster search capabilities through an alias. One use case here is for example if logs exists on multiple clusters, on a central cluster all the remote clusters could be set up. Instead of

[2019-06-18 06:37] original-brownbear commented on #43309
Just a note on this:
I already looked into this a bit. Unfortunately, as it stands right now it's pretty hard to make the SDK v11 work in our security environment. It sets up its own Netty+Jackson infrastructure and doesn't have the APIs to customize it enough to make it run with our security manager. We will probably need some changes made to the Azure SDK to become compatible.

We have a TODO fo

[2019-06-18 07:37] tlrx commented on #43309
@original-brownbear Could you create an issue in the Azure SDK repository to explain what would be needed?

[2019-06-18 07:49] original-brownbear commented on #43309
@tlrx sure will do once I have all the details of this worked out. It's on my list of TODOs :)

[2019-06-18 07:57] pgomulka opened #43314 "UpgradeClusterClientYamlTestSuiteIT timing stats test failures"
Looks like this is a new test introduced on the 17th June. It fails frequently on master https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(columns:!(_source),index:b646ed00-7efc-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'UpgradeClusterClientYamlTestSuiteIT%20AND%20%22Test%20get%20old%20cluste

[2019-06-18 07:57] elasticmachine commented on #43314
Pinging @elastic/ml-core

[2019-06-18 08:08] droberts195 commented on #43314
The "stash dump on failure" from the console log (https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/205/console) shows the problem:

[code]

It's because the tests run in a random order and one of the others deletes the job.

Given the random ordering and the fact that the test needs to be skipped in some combinations of old and new versions I think the only solution is t

[2019-06-18 08:09] #43289 closed

[2019-06-18 08:12] przemekwitek commented on #43314
Thanks for analyzing that, @droberts195 ! I agree with the conclusion and will do exactly that.

[2019-06-18 08:36] elasticmachine commented on #43312
Pinging @elastic/es-core-features

[2019-06-18 09:20] pgomulka opened #43318 "QueryStringQueryBuilderTests testToQueryFuzzyQueryAutoFuziness falilure"
Failed only once on 7.x, but is reproducible
https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(columns:!(_source),index:b646ed00-7efc-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:QueryStringQueryBuilderTests),sort:!(process.time-start,desc))

https://scans.gradle.com/s/fajagcab7d2ko/tests/nfxody

[2019-06-18 09:20] elasticmachine commented on #43318
Pinging @elastic/es-search

[2019-06-18 09:20] edisonywh opened #43319 "Elasticsearch not working on macOS Catalina with file permission error"
**Elasticsearch version** (`bin/elasticsearch --version`):
`Version: 6.8.0, Build: oss/tar/65b6179/2019-05-15T20:06:13.172855Z, JVM: 1.8.0_121`

**Plugins installed**: []

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
I'm running on **macOS Catalina Beta**

`uname -a` -> `Darwin Coconut 19.0.0 Darwin Kernel Version 19.0.0: Thu Jun 13 21:52:56 PDT

[2019-06-18 09:42] pgomulka commented on #43318
could it be failing because it generated a query with a logical operator "OR", this will also fail for "AND", "NOT"

[2019-06-18 09:51] leiguorui opened #43321 "Elasticsearch-7.1.1 installation with docker fails"
**Describe the feature**: java.io.FileNotFoundException: /tmp/elasticsearch-10755302243287928856/controller_log_1

**Elasticsearch version** (`bin/elasticsearch --version`): 7.1.1

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

 1.docker pull docker.elastic.co/elasticsearch/elasticsearch:7.1.1
 2.docker run -p 9200:9200 -p 9300:9300 -e "discover

[2019-06-18 09:54] jimczi commented on #43318
Yep that's the issue. I don't think we need to produce a random string here so we could change the test to always use the same letter in the sequence (`aa`, `aaa`) to avoid any reserved keywords.

[2019-06-18 10:12] droberts195 commented on #43271
I had a look through the main data frame transforms API reference documentation and testing is skipped for all the console snippets, so the problem cannot be originating there.  This means it must be coming from the data frame transform HLRC docs tests.

`DataFrameTransformDocumentationIT.cleanUpTransforms()` is supposed to be doing something very similar, albeit only for the HLRC docs tests rathe

[2019-06-18 10:23] danielmitterdorfer commented on #43319
Thanks for your report. This appears to happen because of a new feature in MacOS Catalina (10.15) called "Dedicated system volume" ([source](https://www.apple.com/macos/catalina-preview/features/)) that changes the data directory from `/usr/local/var/lib/elasticsearch/nodes` to `/System/Volumes/Data/usr/local/var/lib/elasticsearch/nodes` and Elasticsearch is unaware of this path remapping.

I don'

[2019-06-18 10:23] elasticmachine commented on #43319
Pinging @elastic/es-core-infra

[2019-06-18 10:34] danielmitterdorfer commented on #43321
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2019-06-18 10:34] #43321 closed

[2019-06-18 10:55] pgomulka opened #43324 "DataFrameTransformIT.testGetStats failure - date formatting error on 7.x"
the tests fails non reproducibly
[code]
https://scans.gradle.com/s/7ewwtblzmrbtc/tests/43nmsh6ur4gh6-t7wzgf4duds5a

Assertion stacktrace
[code]

From logs that looks suspicious
[code]

[code]

[2019-06-18 10:55] elasticmachine commented on #43324
Pinging @elastic/es-core-infra

[2019-06-18 10:56] Mpdreamz opened #43325 "Analyze explain returns camelCase properties"
Namely: `positionLength` & `termFrequency` these should be snake cased.

[code]

[2019-06-18 10:57] elasticmachine commented on #43324
Pinging @elastic/ml-core

[2019-06-18 11:06] pgomulka commented on #43324
Not sure how this `''` timestamp could end up here. Could this be a left over from previous tests?
All the tests are using the same index `transform-source`. Would randomizing the suffix of that index help here? (can't reproduce :[ )
the test that run just before is `testCreateDelete`

[2019-06-18 11:08] elasticmachine commented on #43325
Pinging @elastic/es-core-features

[2019-06-18 11:08] danielmitterdorfer commented on #43325
@Mpdreamz can you please also include the version for which you are experiencing this?

[2019-06-18 11:21] Mpdreamz commented on #43325
Sorry, this has been there since inception till now so omitted it. Last tested on `7.0.0`

[2019-06-18 11:37] ttran1904 commented on #32163
Hi @cyberdak

I am having the same issue, too. I was wondering where did you check for your bad memory on your file and erase it. Thank you so much.

[2019-06-18 11:50] 35penguins opened #43327 "SQL CSV results fail with null_pointer_exception"
**Elasticsearch version** 7.1.1

**Plugins installed**: sql

**JVM version**: 1.8.0_131

**OS version**: 2.6.32-754.10.1.el6.x86_64

**Description of the problem**:

When paging over SQL results using CSV format, querying subsequent pages will result in 500 error with reason null_pointer_exception. Other formats, such as YAML, do not fail in this way.

We first encountered the issue in 6.6.1, but

[2019-06-18 11:58] #43314 closed

[2019-06-18 12:00] ywelsch commented on #43048
can we close this?

[2019-06-18 12:05] original-brownbear commented on #43048
@ywelsch no I don't think so. Even if #43057 made this much less likely we still had a node hanging on shutdown here and we made no changes to the shutdown logic itself. I'll look into this again shortly and see if this happened in any build that included my changes.

[2019-06-18 12:14] ywelsch commented on #43034
I've looked at the TRACE logs [here](https://scans.gradle.com/s/q5hfrkebinres/console-log/raw), and what's surprising is that the node that's restarted does not call `flushAndClose` on the shard (which this test relies upon). When I run it locally, `flushAndClose` gets reliably called. The conditions are also all correct when the method that is called is deciding between a no-flush close and a flu

[2019-06-18 12:16] ywelsch commented on #42979
@dnhatn Can we close this one now?

[2019-06-18 12:17] ywelsch commented on #42051
ping @andrershov

[2019-06-18 12:20] edisonywh commented on #43319
Thanks for the quick reply!

I tried what you suggested, and while I could see that the folders are `/Users/edisonywh/elasticsearch/data` are being created, it still throws the same error when I try `elasticsearch`

[2019-06-18 12:21] eedugon opened #43328 "Unsupported setting in keystore preventing elasticsearch to start"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.7

**Plugins installed**: [N/A]

**JVM version** (`java -version`): 1.8

**Description of the problem including expected versus actual behavior**:
A user who was trying to configure a remote xpack monitoring exporter added the setting `xpack.monitoring.exporters.shared.auth.password` to the keystore.

The setting, together with the rest

[2019-06-18 12:22] elasticmachine commented on #43328
Pinging @elastic/es-core-infra

[2019-06-18 12:48] elasticmachine commented on #26963
Pinging @elastic/es-docs

[2019-06-18 13:35] elasticmachine commented on #43327
Pinging @elastic/es-search

[2019-06-18 14:03] #43173 closed

[2019-06-18 15:47] fax4ever opened #43338 "Normalize the sort missing values"
**Describe the feature**:

Normalize the sort missing values if a normalizer is defined for the field.

**Elasticsearch version** (`bin/elasticsearch --version`):

7.0.0

**Plugins installed**: []

**JVM version** (`java -version`):

java version "1.8.0_171"
Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.171-b11, mixed mode)

**OS version** (`unam

[2019-06-18 15:53] elasticmachine commented on #43338
Pinging @elastic/es-search

[2019-06-18 16:23] Theoooooo commented on #31197
@e-orz What's GC Type ?

@wuxiangli91 And what if you have limited ressources available ? That's making non sense but it's also right in the same time

[2019-06-18 16:33] imotov commented on #35059
@russcam Thanks for pointing this out. I opened #43340 to fix that .

[2019-06-18 16:37] DaveCTurner commented on #33185
In today's `master` I found a bunch of tests that are being skipped and which link to this issue:

[code]

It looks like GitHub interpreted the phrase `This initial PR does not attempt to fix #33185.` wrongly 🤦‍♀ . Re-opening.

[2019-06-18 16:41] DaveCTurner opened #43342 "upgraded_cluster/30_ml_jobs_crud fails with "No known job with id 'old-cluster-job'""
The following build failed: https://scans.gradle.com/s/crky52pgtdybm/console-log?task=:x-pack:qa:rolling-upgrade:v7.3.0%23upgradedClusterTestRunner

[code]

I tried the given `REPRODUCE WITH` line locally but it did not reproduce this failure.

[2019-06-18 16:41] elasticmachine commented on #43342
Pinging @elastic/ml-core

[2019-06-18 16:43] DaveCTurner commented on #43342
Muted in 631c63ca237.

[2019-06-18 16:48] tbrooks8 commented on #41071
We could delay setting the socket options until connection is complete. That would require a little reworking how how things are now. Possibly just add a connection complete future to set them.

I'll think about it submit a PR sometime this week.

[2019-06-18 18:17] #43318 closed

[2019-06-18 18:43] j-klemm opened #43345 "Indexing failures at startup (ES & Kibana 7.1.1 with Docker Swarm)"
I can move this to Kibana repo if this issue is better suited for it, but the errors are coming through the ES error logs.
**See the screen capture that I attached, that's the best way to see the problem!**
[Screen.Recording.2019-06-11.at.2.52.46.PM.zip](https://github.com/elastic/elasticsearch/files/3302951/Screen.Recording.2019-06-11.at.2.52.46.PM.zip)

**The issue**
When using ElasticSearch & K

[2019-06-18 19:34] original-brownbear opened #43347 "[CI] Failure in org.elasticsearch.smoketest.DocsClientYamlTestSuiteIT "reference/mapping/params/ignore-above/line_10""
This just failed on `master`:

[code]

Build scan is here: https://scans.gradle.com/s/cva4xmrp5vg4i/

[2019-06-18 19:34] elasticmachine commented on #43347
Pinging @elastic/es-search

[2019-06-18 19:40] carsonhynes opened #43348 "[Feature Request] In-Place Updates"
Many of the documents my company loads into Elasticsearch have massive text fields (upward of 500MB) that we need indexed. While these large fields are mostly static for the life span of the index, we frequently push updates to much smaller indexed fields.

Whenever an update is pushed for one of these documents, the entire document is flagged for reindex. This is problematic due to the fact that

[2019-06-18 20:31] vigyasharma opened #43350 "Constraints to de-prioritize nodes from becoming shard allocation targets"
## The Problem
In clusters where each node has a reasonable number of shards, when a node is replaced, (or a small number of node(s) added); all shards of newly created indexes get allocated on the new empty node(s). It puts a lot of stress on the single (or few) new node, deteriorating overall cluster performance.

This happens because the `index-balance` factor in weight function is unable to of

[2019-06-18 21:12] dnhatn commented on #43348
This feature was requested and discussed at https://github.com/elastic/elasticsearch/issues/30433.

[2019-06-18 21:12] elasticmachine commented on #43348
Pinging @elastic/es-distributed

[2019-06-18 21:15] dnhatn commented on #43348
Thanks very much for your interest in Elasticsearch.

I am closing this issue for a similar request is being discussed on another thread already. You can participate and track the progress of this feature at #30433.

[2019-06-18 21:15] #43348 closed

[2019-06-18 21:16] elasticmachine commented on #43350
Pinging @elastic/es-distributed

[2019-06-18 22:22] #42932 closed

[2019-06-18 23:42] #41943 closed

[2019-06-19 03:29] ry1015 opened #43356 "Create user dynamically (Python)"
Hi All,

It seems on version 7 the default user and password has been removed. Is there a way to create a user and role with xpack security turned on?

Thanks,
Ryan

PS. I tried file based authentication but elasticsearch keep using the security realm as reference thus my user isn't authenticated.

[2019-06-19 04:09] elasticmachine commented on #43356
Pinging @elastic/es-security

[2019-06-19 04:09] tvernum commented on #43356
Hi @ry1015,
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests. The discussion forums
are beter suited to these sorts of troubleshoo

[2019-06-19 04:09] #43356 closed

[2019-06-19 04:14] Neel-Gagan opened #43357 "Master Node of ES Cluster is down"
ES 6.4.3 . i had a cluster with two nodes my master node configured over a Virtual Machine is crashed. prior to the Crash the The monitoring of the cluster showed indexed data as 20 GB. which has reduced to half when i view in the other node which was part of cluster. is it normal or some data might have been lost due to crashing of Master node.

[2019-06-19 04:20] tvernum commented on #43357
Hi @Neel-Gagan
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests. The discussion forums are beter suited to these sorts of troubles

[2019-06-19 04:20] #43357 closed

[2019-06-19 06:42] bkazez commented on #43319
I'm having the same error on macOS Catalina beta 2 (19A487l), with the default path.data or a custom one.

[2019-06-19 07:35] jpountz commented on #37043
@dvisztempacct Hi Don, we don't know yet when it will be released. The idea looks promising but it also has some worst-case scenarios that makes sorting perform slower than a naive sort, for instance if you search for the most recent documents and the index is ordered by increasing timestamp (either explicitly via index sorting, or implicitly because index order correlates with timestamp - which i

[2019-06-19 07:45] przemekwitek commented on #43342
AFAICT this is a duplicate of https://github.com/elastic/elasticsearch/issues/43314 which I fixed yesterday with https://github.com/elastic/elasticsearch/pull/43315.

I will unmute the test now

[2019-06-19 08:11] DaveCTurner commented on #43342
Thanks @przemekwitek, yes, that does look to be the same issue. I'll close this.

[2019-06-19 08:13] DaveCTurner commented on #43342
Oh wait, they're still muted. I'll let you close this once they're unmuted.

[2019-06-19 08:19] przemekwitek commented on #43342
They are muted as I'm waiting for the CI in https://github.com/elastic/elasticsearch/pull/43358 to pass

[2019-06-19 08:57] 2DSharp commented on #43325
Hi, there seems to be a `positionLength` property org.elasticsearch.action.admin.indices.analyze. Could changing that solve the issue?

As I can see that multiple tests depend on it, will it be feasible enough to change this?

[2019-06-19 09:49] ernestas-vinted commented on #31545
@bleskes any progress?

[2019-06-19 09:49] #43342 closed

[2019-06-19 11:50] DaveCTurner commented on #43058
The resilience of an index to arbitrary node failures is a function of its `number_of_replicas` setting. If you need your cluster to be resilient to any two nodes failing then you must set `number_of_replicas` to at least 2. You can also use allocation awareness to make the cluster more resilient to correlated failures of multiple nodes.

It's important to respect the `total_shards_per_node` setti

[2019-06-19 11:50] #43058 closed

[2019-06-19 12:13] rugenl opened #43368 "Monitoring in Kibana for ingest pipelines similar to logstash pipelines"
It would be nice to have monitoring for ingest pipelines similar to that for the logstash pipelines.

[2019-06-19 12:19] astefan commented on #41557
Had a first look at this one, but I can't see how this could fail unless something did go wrong on the CI infra. And can't reproduce locally either. @dnhatn should I allow this test to run again and maybe a future failure to reveal more on the environment around the failure?

[2019-06-19 12:26] piedro opened #43369 "endpoint did not support AWS China region"
it doesn't work with the  endpoint=s3.cn-north-1.amazonaws.com.cn,
but it still works with the endpoint =s3.***.amazonaws.com, sush as s3.ap-northeast-1.amazonaws.com

[2019-06-19 13:04] #41210 closed

[2019-06-19 13:15] elasticmachine commented on #43369
Pinging @elastic/es-distributed

[2019-06-19 13:17] original-brownbear commented on #43369
When you say doesn't work, how actually does that manifest? Are you using an S3 bucket that is hosted in a Chinese region or are on that is outside of China? It seems the latter is the case here and afaik AWS has separations in place between their regions outside of China and the Chinese regions (see https://www.amazonaws.cn/en/about-aws/china/) .

[2019-06-19 13:34] stevenmwade commented on #14102
This problem seems to still exist in 6.4 except it returns a 400 instead of a 404.

[2019-06-19 13:55] dnhatn commented on #41557
@astefan Thanks for looking. Please unmute the test and add whatever log that you need.

[2019-06-19 13:56] #42979 closed

[2019-06-19 14:19] joshbressers commented on #38573
Hi @Zamiell,

Apologies for the delay.

We don't have any updates on this issue yet. It's on the list, but we don't have this work scheduled right now.

[2019-06-19 14:23] AlexGorshunov commented on #32444
UP

[2019-06-19 14:34] ZeTo12 opened #43375 "The launch of Elasticsearch as a Windows Service should use the bundled JDK"
From version 7 Elasticsearch is available with a bundled JDK.

The installation as Windows Service using 'elasticsearch-service.bat' still assumes that the environment variable %JAVA_HOME% is set.

After the service installation the path of the JVM to start Elasticsearch as a Windows Service is '%JAVA_HOME%\bin\server\jvm.dll'. When starting the variable %JAVA_HOME% is resolved. In most cases this

[2019-06-19 14:41] gboddin opened #43376 "7.1.1 : Geoip module : database_file is not configurable"
While trying to create a pipeline with custom mmdb files ( aka GeoIP2-City.mmdb ) it fails :

So from https://www.elastic.co/guide/en/elasticsearch/reference/7.1/geoip-processor.html#geoip-processor we're doing a :

[code]

Returns :

[code]

So far we've been trying to put the mmdb files in :

/usr/share/elasticsearch/config/ingest-geoip ( as per the doc )
/usr/share/elasticsearch
/etc/elasticsea

[2019-06-19 14:42] gboddin commented on #43376
We're running Elastic's Debian packages on Debian 9

[2019-06-19 14:56] e-orz commented on #31197
@Theoooooo I meant the garbage collection type. The default is CMS (concurrent mark and sweep) and the newer one is G1GC that should require less tweaks but might only be suited for larger heaps.

[2019-06-19 15:42] not-napoleon commented on #42949
# Notes from discussion on 2019-06-19

## `ValuesSourceType.ANY`
There are some aggregations, e.g. Value Count and Cardinality, which actually do accept any input type.  We need to continue to support this use case in some way, although it doesn't need to be specifically via `ValuesSourceType.ANY`.  We proposed using an array or enum set of `ValuesSourceType`s to represent the valid input types fo

[2019-06-19 15:57] Grinnz opened #43380 "spurious JAVA_HOME deprecation warning on RHEL6 with RPM"
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 6.8.0, Build: default/rpm/65b6179/2019-05-15T20:06:13.172855Z, JVM: 1.8.0_131

**Plugins installed**: ['analysis-icu']

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system): Linux ... 2.6.32-696.18.7.el6.x86_64 #1 SMP Thu Dec 28 20:15:47 EST 2017 x86_64 x86_64 x86_64 GNU/Linux (Red Hat En

[2019-06-19 16:06] Grinnz commented on #43380
Note that I cannot currently upgrade to 7.0 because https://github.com/elastic/elasticsearch-perl is not yet compatible.

[2019-06-19 16:35] #42157 closed

[2019-06-19 17:01] rjernst commented on #43380
Java home should be set to the java installation directory, not the java binary location.

[2019-06-19 17:02] jasontedor commented on #43376
I am so sorry for the lack of clarity and precision in the documentation regarding this. The correct location in which to place this files when installed via a package manager on Debian 9 is `/etc/elasticsearch/ingest-geoip`. So the docs should say `$ES_CONFIG/ingest-geoip`.

[2019-06-19 17:07] jasontedor commented on #43376
I opened #43383.

[2019-06-19 17:19] jasontedor commented on #43380
To expand on what @rjernst is saying, if you have Java installed at `/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.212.b04-0.el6_10.x86_64/` then you would set `JAVA_HOME` to `/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.212.b04-0.el6_10.x86_64/`, not `/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.212.b04-0.el6_10.x86_64/bin/java`. This is because Elasticsearch looks for `java` at `JAVA_HOME/bin/java`. If it fails to fi

[2019-06-19 17:20] albertzaharovits commented on #43345
Hi @j-klemm ,

Thank you for the effort you put in reporting this issue!
This does indeed look like a Kibana issue, because Kibana owns the user's prefs (the index pattern). But it looks like smth tries to build an alias named `.kibana` which is a reserved index used internally. Can you think of smth in your setup that might be causing this?
Given that I suspect smth on Kibana's end, I would try t

[2019-06-19 17:21] jasontedor commented on #43375
@rjernst Can you take a look?

[2019-06-19 17:25] #43376 closed

[2019-06-19 17:26] albertzaharovits commented on #43368
Hi @rugenl ,

Can youmplease elaborate on what parameters would you like to monitor for an ingest pipeline?

[2019-06-19 17:28] #43380 closed

[2019-06-19 17:52] jbaiera commented on #43324
Another instance of this today but on 7.2. Same assertion error:

Scan: https://scans.gradle.com/s/sytohsmljec54
Jenkins: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8,nodes=immutable&&linux&&docker/30/

[2019-06-19 17:54] jbaiera commented on #43324
This has been failing intermittently for at least the last week. I'm going to go ahead and mute this test.

[2019-06-19 17:56] original-brownbear opened #43387 "Multiple Test Failures from Blocked accept0 Syscalls (Debian CI Runs only)"
The following build: https://scans.gradle.com/s/4prwec7zf6pba/  failed in a very strange way.
Seemingly all nodes of the internal test cluster keep getting stuck in in accept calls on non-blocking server sockets.
The build log is full of failed connections and the following stuck thread reporting:

[code]

It is not immediately clear to me how we could get into these calls blocking. It doesn't see

[2019-06-19 17:56] elasticmachine commented on #43387
Pinging @elastic/es-distributed

[2019-06-19 17:58] #43061 closed

[2019-06-19 18:21] Grinnz commented on #43380
But why is the message occurring when JAVA_HOME is not set? Should it not work out of the box without deprecation messages?

[2019-06-19 18:25] jasontedor commented on #43380
Because it's falling back to finding `java` on the path. That is what is deprecated. In Elasticsearch 7.0+, we bundle a JDK and if `JAVA_HOME` is not set, we use that, and if `JAVA_HOME` is set we don't and use `JAVA_HOME` instead. But picking up `java` on the path is no longer supported.

[2019-06-19 18:27] Grinnz commented on #43380
Then the deprecation message is confusing: it says to specify JAVA_HOME, when in fact the correct action is to not do anything and live with the spurious messages until then.

[2019-06-19 18:30] Grinnz commented on #43380
FWIW, I also tried setting `JAVA_HOME=/usr/lib/jvm/jre-1.8.0-openjdk.x86_64` and the warning still occurs.

[2019-06-19 18:31] jasontedor commented on #43380
Can you show that `/usr/lib/jvm/jre-1.8.0-openjdk.x86_64/bin/java` exists?

[2019-06-19 18:32] Grinnz commented on #43380
It is the location referred to by /etc/alternatives/java and thus /usr/bin/java.
[code]
(I also tried with the referred directory)

[2019-06-19 18:41] henningandersen commented on #43387
I am not sure, but this might be related to: #37543, where we also had threads hanging inside accept for no apparent reason. #39031 tried to improve this, but there were still issues after that.

[2019-06-19 18:41] Grinnz commented on #43380
I will also note that this deprecation notice is not occurring on CentOS 7, with the same upgrade path and JAVA_HOME still not specified.

[2019-06-19 19:12] polyfractal commented on #43040
Chatted briefly about this failure in weekly meeting.  Haven't looked at it yet, but whenever we get to it we should probably add checks for shard failures.  E.g. a shard failure would return partial results and fail assertions.

Probably applies to many such agg tests.

[2019-06-19 19:19] original-brownbear commented on #43387
@henningandersen it seems the linked issue only affects `6.x` though right? This happened on `7.x` where we have a different network implementation based on non-blocking IO.

That said, I'm wondering if our `close` logic that potentially closes channels outside the transport thread cloud be at fault here again ... it seems it is possible for us to close the selector on a non-transport thread, whic

[2019-06-19 19:35] original-brownbear commented on #43387
One interesting find regarding the `close` behavior I came across now is that if I block for like 10s in `org.elasticsearch.common.concurrent.CompletableContext#addListener` (inside the listener) then my  selector loop goes into a stat where it can't even be interrupted it seems:

[code]

(note that this is OSX though and KQueue might show different behavior here than EPoll). I'll have to look int

[2019-06-19 19:35] ppf2 opened #43391 "Doc: 6.7 CCS compatibility table wrapping issue"
This only affects v6.7.  Subsequent doc versions do not have this problem.

The gateway nodes [compatibility](https://www.elastic.co/guide/en/elasticsearch/reference/6.7/modules-remote-clusters.html#gateway-nodes-selection) table is wrapping (browser zoom at 100%) so the entries in the table look strange.

![image](https://user-images.githubusercontent.com/7216393/59794672-57596b00-928e-11e9-9421-

[2019-06-19 19:35] elasticmachine commented on #43391
Pinging @elastic/es-docs

[2019-06-19 19:36] henningandersen commented on #43387
Yeah, I am also in doubt, but find multiple overlapping symptoms:

- Happened to multiple threads in the JVM.
- Accept involved
- Close maybe involved here too.

But clearly there are many differences (network implementation, blocking vs non-blocking and more). I am not saying it is related, but wanted to bring this up in case it brings about new ideas of where the problem lies.

[2019-06-19 19:40] original-brownbear commented on #43387
This is by far the weirdest and most suspicious part. Those threads each come with their own selector and I don't see those transport threads sharing any monitor either ever ... but I also don't know of any system/kernel/... issue that would cause this behavior.

[2019-06-19 19:40] dvisztempacct commented on #37043
@jpountz Thanks for the update :)

In the meantime, is there another way to accomplish this kind of optimization? Right now for a large number of matching documents, my relational databases are much faster options than ES for some of my queries.

[2019-06-19 19:46] #43253 closed

[2019-06-19 19:47] jbaiera opened #43392 "StableMasterDisruptionIT.testStaleMasterNotHijackingMajority failing in CI"
In the last 6 days (since about June 13), there's been an uptick in failures pertaining to this test case.

The offending assertion looks like its:

[code]

Failing with:

[code]

Gradle Scan from 13th: https://scans.gradle.com/s/tfwcqwg266oam
Scan from today: https://scans.gradle.com/s/2edje7yces7zc

[2019-06-19 19:47] elasticmachine commented on #43392
Pinging @elastic/es-distributed

[2019-06-19 19:50] jimczi commented on #43308
We use `span` queries here in order to avoid the combinatorial explosion on multi-word synonyms (see https://issues.apache.org/jira/browse/LUCENE-7699 for some context).
 The score for `span` queries is computed from all terms that appear in the query even if only a small portion of them matches in the document. So it is expected that a query with a lot of multi-word synonyms have a bigger score t

[2019-06-19 19:56] #43296 closed

[2019-06-19 20:42] rjernst commented on #43380
With JAVA_HOME set, can you do `ls -l $JAVA_HOME/bin/java`?

[2019-06-19 20:56] Grinnz commented on #43380
I'm not sure I follow - it's set in /etc/sysconfig/elasticsearch, not my local environment. If I set it in the (sudo) environment, it does not warn.

[2019-06-19 21:09] kcm commented on #23874
Just ran into this issue in the field where we'd like to use a `string` key in a bucket selector to filter by name prefix. 👀

[2019-06-19 21:24] jasontedor commented on #43380
Can you start Elasticsearch, with `JAVA_HOME` set in `/etc/sysconfig` as you think it is, grab the PID of the Elasticsearch process, `cat /proc/<pid>/environ | tr '\0' '\n' | grep JAVA_HOME` and share the output. And then, as @rjernst asks, check `ls -al $JAVA_HOME/bin/java` where `$JAVA_HOME` is the value from the previous command (from the environment of the Elasticsearch process).

[2019-06-19 21:34] Grinnz commented on #43380
[code]

[2019-06-19 22:38] gwbrown opened #43401 "ILM Shrink action will not retry allocation in a timely manner if it cannot find a suitable destination node"
When ILM's Shrink action attempts to choose a node to hold a copy of all shards in an index prior to a Shrink, but cannot find any suitable nodes (because, for example, no nodes satisfy the existing allocation requirements), it will not retry until a new master node is elected.

This is because `SetSingleNodeAllocateStep` is an `AsyncActionStep`, which is designed to be run only once.  However, be

[2019-06-19 22:38] elasticmachine commented on #43401
Pinging @elastic/es-core-features

[2019-06-19 22:39] jasontedor commented on #43380
I am at a loss to explain what is going on here, thanks for being patient with us as we collect information from you. Can you share a little more? How are you starting Elasticsearch? I assume it's `service Elasticsearch start`? Can you show the output that prints the deprecation message including the context surrounding it (e.g., if it shows up on `stdout` after you issue `service elasticsearch st

[2019-06-19 22:42] rugenl commented on #43368
My thought is replicate what there is for logstash pretty closely,

For the cluster, show a summary each pipeline by name and event count (and failed) events for the interval, maybe with the option to suppress pipeline when event count is zero.  Click on the pipeline and get a logic layout with count/failed for each processor.

Do the same for each node, of course those stats would be limited to t

[2019-06-19 22:58] Grinnz commented on #43380
I am using `sudo service elasticsearch start`. It does not show up when doing that, but on any other command such as `sudo /usr/share/elasticsearch/bin/elasticsearch --version` or `sudo /usr/share/elasticsearch/bin/elasticsearch-plugin list`.

[2019-06-19 23:05] jasontedor commented on #43380
Okay, now this is making a lot more sense. Those CLI tools do not read `/etc/sysconfig/elasticsearch`. You have to set `JAVA_HOME` in the environment that you're running in.

[2019-06-19 23:10] Grinnz commented on #43380
Indeed, if I unset JAVA_HOME in /etc/sysconfig/elasticsearch (as default) then `service elasticsearch start` also exhibits the warning.

[2019-06-19 23:30] Grinnz commented on #43380
This leaves me with two questions: 1) Why isn't the warning occurring on CentOS 7? 2) Can the deprecation message be clarified? Or is it even useful? The only action I would need to take is if I wanted to keep using the system installed java after upgrading, I would need to set it in /etc/sysconfig/elasticsearch and add it to the environment in some way for all of my sudo commands. It does not fee

[2019-06-19 23:52] jasontedor commented on #43380
I don't know how your environment is setup so we can not explain this. I assure you there is nothing that is OS-specific in this logic. I would look on your end to see if `JAVA_HOME` is set via a login profile, for example.

We believe it's useful since it's a breaking change for users relying on using `java` from the path.

[2019-06-20 01:04] original-brownbear commented on #43309
I raised https://github.com/Azure/azure-sdk-for-java/issues/4009 and https://github.com/Azure/azure-sdk-for-java/issues/3999 in the Azure SDK repo now. Those two issues are definitive blockers here as far as I can see. There could be more that are hidden underneath, but it's not that likely judging by my experiments so far (turning off the security manager and hacking around the serialization issu

[2019-06-20 02:36] piedro commented on #43369
Install the software in the AWS cn-north-1 Region, and  copy the data between  S3 and ES

[2019-06-20 02:40] original-brownbear commented on #43369
@piedro your bucket is hosted in a Chinese region but you can only access it via non-Chinese endpoints?
What is the exact exception you're seeing?

[2019-06-20 03:30] tbrooks8 opened #43406 "Reindex from remote query can be serialized incorrectly"
Currently when you reindex from remote, the query is stored in a serialized format with a content type. When `ReindexRequest` is serialized, it attempts to serialize the query using the content-type that xcontent is being serialized to. This might be different and can throw an exception.

It does look like the `RemoteInfo` always stores the query as JSON so ensuring that it is serialized as JSON i

[2019-06-20 03:30] elasticmachine commented on #43406
Pinging @elastic/es-distributed

[2019-06-20 05:42] russcam opened #43407 "Remove "suggest" from Indices Stats and Node Stats REST API specs"
Whilst going through https://github.com/elastic/elasticsearch/pull/29635, I've noticed that the REST API spec for node stats contains  `"suggest"` as an `index_metric` value

https://github.com/elastic/elasticsearch/blob/0a16e410d0eb96a931fb3dee02834d69ed917041/rest-api-spec/src/main/resources/rest-api-spec/api/nodes.stats.json#L23

and indices stats contains `"suggest"` for a `metric` value

http

[2019-06-20 07:11] #43327 closed

[2019-06-20 07:40] hanmin-es opened #43408 "The elasticsearch node often dead with excption of java.lang.OutofMemory:Java heap space"
the test environment of our elastic cluster has 4 nodes, the version of java is 1.8.0_101,the version of elastic is 5.4.3 , we configure the xmx =20g, xms=20g in the jvm.option. the gc mode we use is G1GC.
in our 4 nodes elastic cluster,we insert into the elastic cluster with 10000 datalog per second.the size of each datalog is about 2-3KB, and the segment cache of es cluster is 6.9Gb.
during the

[2019-06-20 08:06] #37799 closed

[2019-06-20 08:06] kleinlain opened #43409 "rollover index mac_docs property not working as expected?"
**Describe the feature**:

Hello,

I attended Elastic{on} in Berlin yesterday, and was asked the nice people at the AMA booth, but they could not instantly help me and told me to reproduce it, and post it here, so here goes:

**Elasticsearch version** (`bin/elasticsearch --version`): 5.6.2

**Plugins installed**: XPack Security

**JVM version** (`java -version`): 1.8.0_191-b12

**OS version** (`un

[2019-06-20 08:33] henningandersen commented on #41068
Backported this to 7.2 too, since these test-failures still show up here and this was clearly intended to go there too.
Failure:
https://scans.gradle.com/s/2r5a6flov3bfu/tests/kyv2y2z3r4v7m-f6hbue3yhtsqi

[2019-06-20 08:37] yjhkhnuje commented on #43138
But I did not modify the task, just extract the installation, at 7.x I understand that TransportClient is deprecated, but I took the installation package and installed it directly.

[2019-06-20 08:50] astefan commented on #42583
This is one issue I rarely, also, struggle with locally when running all the tests.

Another one of these:

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+multijob-unix-compatibility/os=oraclelinux-7/61/console

[2019-06-20 09:59] ywelsch commented on #43392
The test is using `LongGCDisruption`, which suspends threads using `Thread.suspend()`. The nodes properly detect that `node_t1` is unavailable, but do not succeed in electing a new leader amongst themselves as they look to be unable to communicate with each other. It looks like pausing `node_t1` is blocking the event loop threads on the other nodes. @original-brownbear @tbrooks8 thoughts?

Relevan

[2019-06-20 10:22] jasontedor commented on #43409
Rollover conditions are only executed when you call the rollover API, the condition is not continuously monitored otherwise. That is rollover provides primitives, and then on top of this you have to coordinate calls to the rollover API via cron or some other automation. Additionally, we offer index lifecycle management functionality which enables you to set a policy, and then index lifecycle manag

[2019-06-20 10:24] jasontedor commented on #43408
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2019-06-20 10:24] #43408 closed

[2019-06-20 10:26] huazai023 opened #43412 "Highlight exceptions when field type is array"
**Elasticsearch version**: 6.2.4

**Plugins installed**: [elasticsearch-analysis-ansj(6.2.4),elasticsearch-analysis-pinyin(6.2.4)]

**JVM version**: 1.8.0_172

**OS version**: Linux SZD-L0097945 2.6.32-696.18.7.el6.x86_64 #1 SMP Thu Jan 4 17:31:22 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem:**

Highlight exceptions when field type is array.

We first encountered the issue

[2019-06-20 10:28] kleinlain commented on #43409
uh, yes this helps a lot, unfortunately this block you quoted, is not part of the 5.6 (which we are still using) version of the documentation.

Is there a recommendation how to handle this with 5.6? besides the obvious upgrade? ;)

thanks a lot, at least it clarifies the whole issue

[2019-06-20 10:30] astefan opened #43413 "[CI] DieWithDignityIT fails sporadically"
Couldn't reproduce it, but it did fail several times in the last few months.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.1+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=corretto8,nodes=immutable&&linux&&docker/31/console

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.1+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=zulu12,nodes=im

[2019-06-20 10:30] elasticmachine commented on #43413
Pinging @elastic/es-core-infra

[2019-06-20 10:36] shlok007 commented on #39526
Hey @andrershov , Can you help me out with the way to apply ILM policy to existing indexes until we have the proper documentation in place? I am struggling on how to do that. Thanks.

[2019-06-20 10:37] jasontedor commented on #43409
Yes, sorry, index lifecycle management is not available in GA form until 6.7. Prior to that, you would have to use a cron job or something similar for automation.

You're welcome. I'll close this issue out then.

[2019-06-20 10:37] #43409 closed

[2019-06-20 10:53] gboddin commented on #43376
Files are now in /etc/elasticsearch/ingest-geoip :
[code]

Pipeline creation stills says :

[code]

We haven't restarted the node yet, and will give it a try.

I see the geoloc module might be LazyLoaded on ingest node. Could it be that it's because we're issuing the pipeline creation command on a non-ingest node ?

Thanks

[2019-06-20 10:57] jasontedor commented on #43376
Hi, you will need to restart the nodes indeed.

This is fine, the request will be routed to a master node, and then ingest nodes will receive a cluster state update from the master with the new pipeline definition.

[2019-06-20 11:08] gboddin commented on #43376
We had a last : `expected database [GeoLite2-ASN.mmdb] to not exist in [/etc/elasticsearch/ingest-geoip]` to fix but it's working flawless ! Thanks for the support.

[2019-06-20 11:14] jasontedor commented on #43376
You're welcome!

[2019-06-20 11:36] ywelsch commented on #43392
Relates https://github.com/elastic/elasticsearch/issues/43387

[2019-06-20 12:00] Theoooooo commented on #31197
@e-orz How do you check which version is used by java with elasticsearch ? ( i assume it's java ^^)

[2019-06-20 12:14] astefan opened #43417 "[CI] Windows build fails due to absence of Docker"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/33/console

[code]

Similar - https://github.com/elastic/elasticsearch/issues/43096 - but this time on Windows.

[2019-06-20 12:14] elasticmachine commented on #43417
Pinging @elastic/es-core-infra

[2019-06-20 12:15] henningandersen commented on #24457
We still have failures from this test though with different errors, for instance this one:

https://scans.gradle.com/s/npcyedhjecs2m/tests/kyv2y2z3r4v7m-f6hbue3yhtsqi?openStackTraces=WzBd

A notable warning here is:

[code]

which does look similar to #43387. Backported #42617 to 7.2 to maybe get a bit more info out if this happens again.

[2019-06-20 12:16] original-brownbear commented on #43392
@ywelsch yea it certainly looks like pausing the nodes is to blame here most likely. It seems to me like that's the only action we take that could affect multiple selectors at once. I'll look into this shortly, if I remember correctly there were some issues with suspending threads and socket channels in JDK8.

[2019-06-20 12:32] astefan commented on #43413
Muted this test in 7.x, 7.2 and 7.1

[2019-06-20 12:54] cbuescher opened #43423 "JsonGenerationException in CloseIndexResponse.ShardResult.Failure#toXContent"
The nested CloseIndexResponse failure class generated json deserialization exceptions in recent tests:

https://scans.gradle.com/s/3lwde6ivrfrmu/console-log/raw?task=:qa:mixed-cluster:v7.3.0%23mixedClusterTestRunner

[code]

I suspect the failure class to not implement `ToXContentObject` correctly to generate a self-contained json object like all Failure classes should.

[2019-06-20 12:56] henningandersen commented on #24457
Checked all the recent failures of this test and they fall into following categories:

1. Network unresponsive disruption, none of those since #42579 was merge, though this is only 9 days ago (so need more time to be conclusive on that part).
2. Global checkpoint not in sync, should be fixed by #41068, now in 7.2 too.
3. The above symptom (twice in the last week, both on 7.2, once on debian 8 and