[2017-09-28 15:07] bleskes commented on #26818
This sounds like an issue that is better opened on the kibana repo: https://github.com/elastic/kibana . Can you please post there?

[2017-09-28 15:07] #26818 closed

[2017-09-28 15:40] #26812 closed

[2017-09-28 19:18] nguyenlp opened #26821 "Update documentation regarding why `ignore_unavailable` isn’t doing what the documentation says it should."
**Describe the feature**:

[code]

[code]

Unless I am missing something here, so from what it looks like, the `ignore_unavailable` option allows these indices to be skipped, when set to `true` which doesn’t look like that’s the case here?

If we’ve removed this option or changed the way it works, the documentation is wrong.

It’s _supposed_ to work that way, according to the documentation, but cl

[2017-09-28 19:21] ligyxy opened #26823 "Fix documents about inline script"
I am following the document of Update API, Scripted Updates section, https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update.html#_scripted_updates

But when running the first sample query, I get error "[script] unknown field [source], parser not found", and I realize that the script code should be under "inline" field instead of "source".

[code]

[2017-09-28 19:34] tdoman commented on #26728
@tlrx So the problem w/ the Keyword Analyzer is that I need case insensitivity.  Upon further review, I've discovered that the "icu_normalizer" we're using achieves exactly what we need with regard to case but that the "icu_folding" filter is what impacts the Japanese characters.  I'm running tests now but it looks like simply removing the "icu_folding" filter from the custom `tag_analyzer` will a

[2017-09-28 20:03] nguyenlp commented on #26821
Please disregard, this is working.

It was erroring out with of the `"number_of_replicas" : 0` on closed index.

[2017-09-28 20:03] #26821 closed

[2017-09-28 20:08] dnhatn commented on #26493
@jasontedor, I have some questions to discuss with you.

1. Is a combination of `(_version, _primary_term)` strong enough to guarantee the uniqueness? The reason I prefer using `_version` over `_seq_no` because `_seq_no` is increased for every write operation on a shard while `_version` is for a document level.

2. Is it good to break this into several smaller steps:
    - [x] Returns `_primary_te

[2017-09-28 20:11] rjernst commented on #26823
You are reading docs for the current version (ie 5.6.2). `source` works in that version (and using `inline` is deprecated and removed in 6.0).

[2017-09-28 20:11] #26823 closed

[2017-09-28 20:27] epixa commented on #26429
@Bargs and I talked about this a bit, and he's going to proceed with deprecating expressions in Kibana scripted fields in 6.1 and removing them entirely from master.

@rjernst Can you add a hack for this in 6.x so the existing behavior starts working again?  Kibana is currently pinned to a month old commit of Elasticsearch in CI, so I'd like to undo that asap.

[2017-09-28 21:18] alexshadow007 commented on #25244
@s1monw
Is [SearchOperationListener::onNewScrollContext(SearchContext context)](https://github.com/elastic/elasticsearch/blob/ce8533e2515a51769fbf16bad745dd2bf65890c3/core/src/main/java/org/elasticsearch/index/shard/SearchOperationListener.java#L98) good place to add verifying for limit or not?

[2017-09-28 21:46] rjernst commented on #26429
Sure, this comment from you is enough of an agreement. I'll work on a PR soon. :)

[2017-09-28 21:55] epixa commented on #26429
Awesome, thanks

[2017-09-29 01:43] kervin521 opened #26826 "Has it have cat api of transport (java client)?"
e.g

http Rest mode :
get    /cat/indices?v

java Transport mode?

[2017-09-29 02:05] dnhatn commented on #26826
We prefer to use Github for bug reports and feature requests. Please ask general questions at [our forum](https://discuss.elastic.co/). There's an active community there that should be able to help get an answer to your question.

[2017-09-29 02:05] #26826 closed

[2017-09-29 02:21] liketic commented on #25867
@nik9000 This can be closed because I can't find `BulkIndexByScrollResponse ` in doc.

[2017-09-29 03:18] liketic commented on #25861
@Nablyy If you're not working on this, can I take this?

[2017-09-29 08:30] DaveCTurner opened #26828 "Forbid negative values for index.unassigned.node_left.delayed_timeout"
Negative values for `index.unassigned.node_left.delayed_timeout` could be expected to mean "never" whereas in fact they mean "0". "Never" is not a useful value for this, so we should just reject negative values here.

[2017-09-29 08:47] anhzhi opened #26829 "float datatype casting different in the painless script"
With groovy script, float datatype casting is as my expected
[code]

When using painless script, the float  datatype casting is different
[code]
Then I have to add explicit datatype casting:
"inline": "doc['http.in_bytes'].value***1.0**/100"

[2017-09-29 09:23] dsafaric opened #26830 "Lucene CustomScoreQuery not enumerating long primitives"
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 5.6.1, Build: 667b497/2017-09-14T19:22:05.189Z, JVM: 1.8.0_144

**Plugins installed**: [custom plugin]

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): #39~16.04.1-Ubuntu SMP Wed Sep 13 09:02:42 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected ve

[2017-09-29 09:27] pozhidaevak commented on #24898
Thanks, @nik9000.
It seems that `_update_by_query` uses static function `RestUpdateByQueryAction::parseScript(Map<String, Object>)` to parse script tag. This function is used only in this place.
I haven't found parsing of `script` field in `RestUpdateAction` class.
I'll try to find the solution that reuses the same code as in other parts of the project.
For now, I think the best way is to initiali

[2017-09-29 09:42] jimczi commented on #26830
@dsafaric I answered on the forum directly, thanks for opening the discussion. I am going to close this issue because we reserve github for confirmed bugs and feature requests, we can continue the discussion on the forum.

[2017-09-29 09:42] #26830 closed

[2017-09-29 09:50] tlrx commented on #26728
Yes, that's what I suspected, maybe I should have suggested to remove this one first. ICU or Ascii folding converts some chars to their "simplified" version. In Latin languages, "ä" is changed to "a" for example.

Note that starting from 5.6, it's possible to use normalizers with `keyword` analyzers. They can be used to lowercase tokens (see https://www.elastic.co/guide/en/elasticsearch/reference/

[2017-09-29 10:47] greentruff opened #26833 "Cross cluster search sometimes fails"
**Elasticsearch version**: Version: 5.6.2, Build: 57e20f3/2017-09-23T13:16:45.703Z, JVM: 1.8.0_144

**Plugins installed**: []

**Description of the problem including expected versus actual behavior**:
When doing a cross-cluster search on a remote alias, the remote master will drop encounter a serialization error and will drop the connection with a remote node.

The client receives the following er

[2017-09-29 11:27] costin opened #26834 "Upgrade ANTLR to 4.5.3"
Currently painless depends on ANTLR-4.5.1-1 which is not only old but also a patch release to 4.5.1. Upgrading to 4.5.3 provides some bug fixes and a stable enough version that didn't require any patching :)

[2017-09-29 11:37] liketic commented on #26007
@ppf2 @bleskes I sent a PR #26835 Could you help to take a review? Thanks.

[2017-09-29 13:55] cbuescher opened #26836 "Provide more information about cause of deprecation log messages"
Currently, the deprecation log can be quite useful to spot features and queries that are deprecated and will be removed in a future major version, but especially with deprecated query syntax it can be hard to figure out the query what caused the warning to be triggered.
We also already add warning headers to the request, so clients will also be informed about the deprecation, but may choose to ign

[2017-09-29 14:51] dannymurphygfk commented on #25603
I ran the tool against all shards for the empty index... all report
"No problems were detected with this index."

Closing the empty index and reopening didn't fix the issue either.

I even ran the tool on the "real" test index against all of it shards, it logs how it checks each segment etc... but the outcome was still "no problems were detected with this index".

I don't see anything else remarka

[2017-09-29 14:57] jasontedor commented on #21499
Closed by #22822

[2017-09-29 14:57] #21499 closed

[2017-09-29 16:11] dadoonet opened #26840 "Build is failing with Gradle 4.2"
Not sure what causes it but when I run:

[code]

I'm getting (tested on 5.6, 6.0 and 6.x branches):

[code]

Note that on 6.0 and 6.x the message is a bit different as it fails when running `bin/elasticsearch-keystore`. I checked manually the directory and I'm able to run `bin/elasticsearch-plugin` or `bin/elasticsearch-keystore` manually.

[code]

Running with `gradlew` works:

[code]

gradlew re

[2017-09-29 18:34] dedemorton opened #26842 "Example in high level rest client doc is incorrect"
The following feedback was received through a customer contact form:

2017-09-28 03:26:47
Documentation in: https://www.elastic.co/guide/en/elasticsearch/client/java-rest/master/java-rest-high-getting-started-initialization.html The code snippet is wrong, it's missing .buid()

[2017-09-29 19:34] cbuescher commented on #26842
This documentation on master is correct, the API has slightly changed between the alpha and beta releases but the current docs reflect the state of the current RC. On 5.6 the documentation is also correct. The API is different there though, in as far as the RestHighLevelClient constructor takes a low level RestClient as argument, not a RestClientBuilder like on the 6.0 branch.

[2017-09-29 19:34] #26842 closed

[2017-09-29 21:42] dakrone opened #26843 "Creating a repository with chunk_size: null causes snapshots to be corrupted"
Performing these operations:

[code]

On doing the restore, the index will be corrupt and fails with all kinds of:

[code]

[2017-09-30 10:22] modeyang commented on #19333
how to deal with that when confront this issue ?  help !!

[2017-09-30 15:32] liketic commented on #23824
@talevy I opened a PR as I thought. Please add your comments or close it if it does not make sense. Thanks. 😄

[2017-09-30 23:01] yeikel commented on #26840
I can confirm this is happening. I was able to build in 4.1

Gradle 4.2
------------------------------------------------------------

Build time:   2017-09-20 14:48:23 UTC
Revision:     5ba503cc17748671c83ce35d7da1cffd6e24dfbd

Groovy:       2.4.11
Ant:          Apache Ant(TM) version 1.9.6 compiled on June 29 2015
JVM:          9 (Oracle Corporation 9+181)
OS:           Windows 10 10.0 amd64
----

[2017-10-01 00:54] liketic commented on #22928
@tlrx Is this need to fix? I think I can take this. Thanks.

[2017-10-01 01:15] liketic commented on #22823
@Mpdreamz What's I need to do if I want to fix this? Thanks very much!

[2017-10-01 15:11] bkazez commented on #26771
Fixed https://github.com/elastic/elasticsearch/pull/26848

[2017-10-02 08:06] jpountz opened #26850 "Move everything that depends on JTS to a module"
It is easy today to accidentally depend on jts either directly or via spatial4j. Maybe we should move everything that depends on it to a module and remove the dependencies on spatial4j and jts from core?

[2017-10-02 08:12] dadoonet commented on #26850
![image](https://user-images.githubusercontent.com/274222/31068876-3b495900-a75a-11e7-8815-0a59da24316f.png)

[2017-10-02 08:27] jpountz commented on #26829
I suspect this is because painless and groovy obey different promotion rules when dividing, which is not necessarily a bug. cc @jdconrad

For the record, `doc['http.in_bytes'].value/100.0` should work too.

[2017-10-02 09:30] lostpebble commented on #20266
Hi everyone,

Running into this issue today as well. Just deployed some nodes onto Kubernetes on GKE - provisioned some SSDs for each data node. But when I check the node stats it's showing `spin: true` for the disk under `fs`. Otherwise, all the other stats of the drives are correct (the size etc.) so I think it must be seeing the correct SSD drives but just not detecting them as such.

They are

[2017-10-02 09:47] s1monw commented on #26850
+1

[2017-10-02 09:54] cbuescher commented on #25603
Hi @dannymurphygfk,

now that you are able to reproduce the issue on an empty index, would it be possible to provide us a copy of empty index shards? I'd like to see if I can recreate the problem locally using your faulty empty index shards. I think it should work if you zip the empty index ids data directory on each of the three nodes of your test cluster and attach it to this issue. I'm not sure

[2017-10-02 12:06] liketic opened #26851 "SnapshotStatus.toString() always returns a error message"
The method `toString` of class `SnapshotStatus` always got a error message:
`{ "error" : "Can not start an object, expecting field name (context: Object)"}`.

The `toString`:

https://github.com/elastic/elasticsearch/blob/dbea83a1d017bd85ba4e9cdf7e910ce5be7b0610/core/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/status/SnapshotStatus.java#L162

The `startObject()` of `builder` cal

[2017-10-02 13:49] dannymurphygfk commented on #25603
As requested the copy of the shards from the empty index.
[my_index.zip](https://github.com/elastic/elasticsearch/files/1349090/my_index.zip)

[2017-10-02 15:24] greentruff commented on #26833
I have experimented with this issue a bit more and I have noticed that the behavior does not seem linked to aliases. Instead, it seems linked to whether the gateway node the client node communicates with has the data being requested. I'll update the issue description accordingly.

[2017-10-02 15:25] javanna commented on #26833
thanks a lot for opening this issue @greentruff . I was just able to reproduce this. I will dig and find out what causes it.

[2017-10-02 15:27] greentruff commented on #26833
Ok thanks @javanna. If it helps at all, I was able to reproduce the issue more reliably by having a single gateway node which is not a data node.

[2017-10-02 15:28] javanna commented on #26833
Attaching the stacktrace for future reference:

[code]

[2017-10-02 15:55] jdconrad commented on #26829
@jpountz is correct in this case.  This is not a bug in Painless, Groovy promotion rules are different.  The script he suggested is the correct way to do this.

[2017-10-02 15:55] #26829 closed

[2017-10-02 16:28] liketic commented on #21495
@ywelsch Can I work on this?

[2017-10-02 16:31] bleskes opened #26855 "[CI] SimpleNioTransportTests.testHandlerIsInvokedOnConnectionClose failure"
This seems like a legitimate failure where SimpleNioTransport does not behave as expected. It reproduces with:

[code]

Giving:

[code]

@tbrooks8 do you mind taking a look?

[2017-10-02 16:32] bleskes commented on #26855
CI link https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/199/console

[2017-10-02 16:39] tbrooks8 commented on #26855
Thanks @bleskes . I was able to reproduce, so I'll investigate.

[2017-10-02 19:31] c-varberg opened #26858 "Delete By Query Request Run on Alias needs Security Rights to Base Index"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.1

**Plugins installed**: ["xpack"]

**JVM version** (`java -version`): 1.8.0_131

**OS version** (`uname -a` if on a Unix-like system): CentOS 7.3.1611

**Description of the problem including expected versus actual behavior**:

In order to run the _delete_by_query on an alias the user needs "delete" privileges to the actual index. I w

[2017-10-02 19:54] jasontedor commented on #26858
This repository is for open source Elasticsearch only. We do not handle X-Pack issues here, only in the X-Pack category on the [forum](https://discuss.elastic.co). Would you please open a topic there?

[2017-10-02 19:54] #26858 closed

[2017-10-02 20:07] c-varberg commented on #26858
Thanks for the help jason. I'll move it over to the forum

[2017-10-02 21:12] tbrooks8 commented on #26855
Fixed by d80ad7f0975c7d1cee8f52528589f193364d33cf.

[2017-10-02 21:12] #26855 closed

[2017-10-02 21:41] jdconrad commented on #26834
I'll try to look at this next week.

[2017-10-02 22:19] jdoss commented on #26576
We are seeing this randomly too on `5.4.1`

[code]
We have pretty large indexes and on pretty busy nodes. Shouldn't it try to retry this shard if it fails to upload?

[2017-10-02 22:42] jacksontbryan commented on #21291
This just nailed me as well.   There is a chain of issues all closed with a recommended work around at the very bottom of the thread in #26407.  It appears that it isn't going to be "fixed" to have an option to AND contexts.

The recommended work around is to create a combined context.  This will not work for me because I am doing a geography and category combined and its ORing it right now which

[2017-10-02 22:53] rjernst opened #26859 "span_multi broken with numeric range query"
In #23119 range queries were optimized when doc values are present (which are enabled by default). However, the new query type (IndexOrDocValuesQuery) returned in this case by NumberFieldMapper.rangeQuery is not handled by SpanMultTermQueryBuilder. It is unclear to me if span_multi can even be supported with a non-term based query, but in that case should probably pass along this information in pa

[2017-10-02 22:54] rjernst commented on #26859
/cc @jpountz @jimczi

[2017-10-03 02:50] jasontedor commented on #20266
@lostpebble In 2.x we default to assuming SSD and set the thread counts accordingly and expect users on spinning discs to adjust down accordingly. The SSD detection is for reporting purposes only and in fact as of right now we’ve removed it in 6.0.0.

[2017-10-03 03:49] jonkblack commented on #26834
It looks as though 4.7 is also a drop in replacement, tests ran on my machine with no errors.

[2017-10-03 05:24] pkmital commented on #20757
Also struggling to use this!  Any help would be appreciated.

[2017-10-03 07:52] jimczi commented on #26859
The `span_multi` does not support numeric range query but it accepts term range query.
In es the range query builder cannot differentiate a range query over numerics or terms until the inner build of the Lucene Query. This is why a `span_multi` accepts an inner range query and only fails at build time when it discovers that the range query is not a `TermRangeQuery`:
https://github.com/elastic/elas

[2017-10-03 07:56] darshandoshi27 opened #26861 "null_pointer_exception 500 error"
I am getting below error in Heroku when i deployed my code. Please help me

  <- 500
  {
2017-10-03T07:51:58.485013+00:00 app[web.2]:     "error": {
2017-10-03T07:51:58.485014+00:00 app[web.2]:       "root_cause": [
2017-10-03T07:51:58.485014+00:00 app[web.2]:         {
2017-10-03T07:51:58.485015+00:00 app[web.2]:           "type": "null_pointer_exception",
2017-10-03T07:51:58.485015+00:00 app[web

[2017-10-03 08:46] dadoonet commented on #26861
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

Looks like an empty bulk post you sent from your client. But let discuss that on discuss

[2017-10-03 08:46] #26861 closed

[2017-10-03 08:48] prehor opened #26862 "Unable to download Elasticsearch 6.0.0-rc1 tarball SHA1"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.0.0-rc1, Build: b9c0df2/2017-09-25T19:11:45.815Z, JVM: 1.8.0_144

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "1.8.0_144"
OpenJDK Runtime Environment (build 1.8.0_144-b01)
OpenJDK 64-Bit Server VM (build 25.144-b01, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
CentOS Linux

[2017-10-03 08:51] jasontedor commented on #26862
Starting with 6.0.0-rc1 we do not produce sha1 anymore, instead [sha512](https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-6.0.0-rc1.tar.gz.sha512).

[2017-10-03 08:51] #26862 closed

[2017-10-03 09:09] darshandoshi27 commented on #26861
Thanks for quick response
Posted there :https://discuss.elastic.co/t/null-pointer-exception-500-error/102534

[2017-10-03 09:28] ywelsch commented on #21495
@liketic sure

[2017-10-03 12:29] DCleymans opened #26863 "Suggester does not return top weighted documents"
[code]

When using the context suggester with weighted results, the search suggest api does not return the top weighted documents for a search term.

I notice a difference in the top ranked documents when I request more documents.

We have an index with artist documents and song documents, all for autocompletion purpose. The artists mapping looks like this:

[code]

When I request the top 3 sugges

[2017-10-03 13:04] dnhatn commented on #26863
Please ask questions on [https://discuss.elastic.co](https://discuss.elastic.co) where we can give a better support. We use Github for bug reports and feature requests. Thank you.

[2017-10-03 13:04] #26863 closed

[2017-10-03 14:44] rustycore commented on #19952
@alkanarslan after using ("client.transport.sniff", false) the exception still occurs

[2017-10-03 14:56] javanna commented on #25210
this can be closed!

[2017-10-03 14:56] #25210 closed

[2017-10-03 15:14] yalok commented on #21399
Just after curl, add `--user elastic:changeme`

[2017-10-03 15:14] jdoss opened #26865 "Restoring a snapshot from S3 to 5.6.2 results in a hung and incomplete restore."
**Elasticsearch version** (`bin/elasticsearch --version`):

[code]
**Plugins installed**:

[code]

**JVM version** (`java -version`):

[code]
**OS version** (`uname -a` if on a Unix-like system):

[code]

**Description of the problem including expected versus actual behavior**:

We have had about twenty indexes that are stuck in a red state after trying to restore a snapshot taken from elasticsear

[2017-10-03 16:58] dlvovsky commented on #9685
Sorry to post here, but we're suffering from the same thing in v.1.7.6., and I can't find your post nor the response anywhere.  If someone can point me to this post in the mailing list, I'd be much obliged.

[2017-10-03 17:32] thomas11 commented on #26787
Not sure if you're automatically notified @jpountz, I submitted PR 26856. Thanks!

[2017-10-03 17:32] sksamuel opened #26867 "Tribe plugin dependency not available on elasticsearch maven"
The 6.0.0-rc1 build for x-pack-security requires x-pack-api which in turn requires tribe.
[code]
However this is not available.
https://artifacts.elastic.co/maven/org/elasticsearch/plugin/tribe/6.0.0-rc1/tribe-6.0.0-rc1.pom

Other plugins like netty4 are,
https://artifacts.elastic.co/maven/org/elasticsearch/plugin/transport-netty4-client/6.0.0-rc1/transport-netty4-client-6.0.0-rc1.pom

[2017-10-03 17:56] rjernst commented on #26859
Thanks @jimczi. I was confused, nothing to see here. :)

[2017-10-03 17:56] #26859 closed

[2017-10-03 18:29] risdenk opened #26868 "java.lang.SecurityException: "putProviderProperty.SaslPlainServer" and "insertProvider.SaslPlainServer" for :Plugin Repository HDFS"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.6.2, Build: 57e20f3/2017-09-23T13:16:45.703Z, JVM: 1.8.0_121
and
Version: 6.0.0-rc1, Build: b9c0df2/2017-09-25T19:11:45.815Z, JVM: 1.8.0_121

**Plugins installed**:
* repository-hdfs
* x-pack

**JVM version** (`java -version`):
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-tdc1-b13)
Java HotSpot(TM) 6

[2017-10-03 18:30] risdenk commented on #26868
This relates to #26513 in that the work required is probably very similar.

[2017-10-03 18:31] risdenk commented on #26868
@jbaiera - FYI on this since you looked at #26513

[2017-10-03 18:32] risdenk commented on #26868
My first hunch from looking through the code previously is it relates to:

https://github.com/elastic/elasticsearch/blob/5.6/plugins/repository-hdfs/src/main/java/org/elasticsearch/repositories/hdfs/HdfsSecurityContext.java#L63

It looks like the permissions are added to the policy file (and being properly picked up) but not being passed in the context.

I don't have a test case for this right now

[2017-10-03 20:54] vseryakov commented on #25225
Gives an error: Comparator type [CUSTOM] for field [latlon] is not supported in 5.5 and 5.6,

the query is:

{ query: { bool: { must: { query_string: { query: '(status:Ready)' } }, filter: { geo_distance: { distance: 5000, latlon: [ 150.98081635595673, -34.194085878589426 ] } } } }, sort: [ { _geo_distance: { latlon: [ 150.98081635595673, -34.194085878589426 ], order: 'asc', unit: 'm', distance_ty

[2017-10-03 20:54] jasontedor commented on #26851
For reference we do not require an issue to open a PR. You can open a PR and explain the issue within the PR and that is preferred since it reduces the number of notifications. We really only need issues opened for bugs that aren’t immediately going to see a PR.

[2017-10-03 20:59] vseryakov commented on #20875
Gives an error: Comparator type [CUSTOM] for field [latlon] is not supported in 5.5 and 5.6, when using search_after

the query is:

[code]

the latlon field is type of geo_point

[2017-10-03 21:13] varundbest opened #26872 "AccessControlException Despite plugin-security.policy"
Elasticsearch Version: 5.4.0
java version "1.8.0_131"

Code :-

However when I run this code before it, it doesn't get any error but mine does :-

I do have

In my plugin-security.policy and other code which relies on "accessDeclaredMembers" works fine but this one doesn't.

[2017-10-03 21:16] dadoonet commented on #26872
You opened it on discuss which is the right place for this. Let’s keep the discussion at https://discuss.elastic.co/t/accesscontrolexception-despite-plugin-security-policy/102614/1

Closing

[2017-10-03 21:16] #26872 closed

[2017-10-03 21:21] jbaiera commented on #26868
Hi again @risdenk. Thanks for opening this issue.

Since HDFS takes a lot of liberties in regards to what permissions it has during operation (forking processes, reflective calls, access to user principals), we try to limit the permissions it has during regular operations to be a subset of all the permissions in the policy file (which includes all permissions it needs during the client's first set

[2017-10-03 23:16] isapir opened #26873 "Windows Service Does Not Read Config from Custom Path"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 5.6.2

**Plugins installed**: []

**JVM version** (`java -version`): 1.8u144

**OS version** (`uname -a` if on a Unix-like system): Windows 2008R2

**Description of the problem including expected versus actual behavior**:

Installing the service with a custom config directory does not work.

**Steps to reproduce*

[2017-10-03 23:51] liketic commented on #26851
Got it. Thanks.

[2017-10-03 23:53] jasontedor commented on #26873
Okay, I can reproduce this and I see the bug. I will come up with a fix. Thanks for the report.

[2017-10-04 00:10] jasontedor commented on #26873
@isapir I opened #26875; would you be able to verify that this fixes your issue?

[2017-10-04 00:35] pickypg opened #26876 "date_histogram does not support extended_bounds with dynamic ranges"
While trying to use `extended_bounds` with the `date_histogram`, I ran into an issue where I could not supply `now`.

[code]

The use case here is detecting unexpected gaps in the data. But the problem is that `min` and `max` expect the value to be parsed solely as a `long`.

- `ExtendedBounds.PARSER` is the cause here https://github.com/elastic/elasticsearch/blob/2bdeee88402cf40c66ec889ba5b05a617

[2017-10-04 07:27] larsuhartmann opened #26877 "Elasticsearch 5.6.2 crashes on CentOS 7"
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 5.6.2, Build: 57e20f3/2017-09-23T13:16:45.703Z, JVM: 1.8.0_144

**Plugins installed**: []

**JVM version** (`java -version`): openjdk version "1.8.0_144"

**OS version** (`uname -a` if on a Unix-like system): 3.10.0-693.2.2.el7.x86_64

**Description of the problem including expected versus actual behavior**:

Elasticsearch won't s

[2017-10-04 07:30] tvernum commented on #26877
How did you install elasticsearch-5.6.2 ?

- Did you upgrade an existing installation?
- Did you install from a `.zip`, `.tgz` or `.rpm`?

[2017-10-04 07:30] larsuhartmann commented on #26877
i upgraded using yum update using the official centos repo

[2017-10-04 07:30] larsuhartmann commented on #26877
also downgrading to 5.6.0 seems to "fix" the problem

[2017-10-04 07:32] tvernum commented on #26877
It looks like you didn't upgrade your plugins.
The upgrade instructions are here: https://www.elastic.co/guide/en/elasticsearch/reference/5.6/rolling-upgrades.html
Step 4 requires that you install new versions of all plugins.

[2017-10-04 07:38] tvernum commented on #26877
I'm going to close this because it doesn't look like it's actually a bug.
Please re-open it if the problem still exists after you reinstall your plugins,

[2017-10-04 07:38] #26877 closed

[2017-10-04 07:39] larsuhartmann commented on #26877
Calling /usr/share/elasticsearch/bin/elasticsearch-plugin  list

gives me:
mapper-attachments
WARNING: plugin [mapper-attachments] is incompatible with version [5.6.2]; was designed for version [5.6.0]

[2017-10-04 07:41] larsuhartmann commented on #26877
Thanks for your help!

[2017-10-04 07:55] #26801 closed

[2017-10-04 08:08] tomsommer commented on #19739
The documentation still hasn't been changed on this, and no agreement has been found.

To me, it sounds like `index.unassigned.node_left.delayed_timeout` as a general best-practice should be raised to a enough-time-to-restart-a-server value.

Is the suggestion per https://github.com/elastic/elasticsearch/issues/19739#issuecomment-239147439 to set `cluster.routing.allocation.enable = primaries` and

[2017-10-04 09:42] spinscale commented on #26769
the same test also failed on the master branch today, with a rolling upgrade on 6.1.0

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+bwc-tests/399/console

[2017-10-04 10:01] jasontedor commented on #26873
Closed by #26875

[2017-10-04 10:01] #26873 closed

[2017-10-04 14:51] s1monw commented on #25506
closing see #26385 for the rational. thanks everybody involved and especially @fred84 for working with us. I really hope it was a good experience nevertheless

[2017-10-04 14:51] #25506 closed

[2017-10-04 15:10] spinscale opened #26882 "Mustache: Newlines in scripts are ignored in some cases"
**Elasticsearch version** (`bin/elasticsearch --version`): master and below

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

I added the following test in `MustacheTests` to show the issue

[code]

The second example, which does not contain any other characters, except the value and the newline will not print out the newline at all. Adding a seco

[2017-10-04 15:22] danielmitterdorfer commented on #26867
Thanks for reporting @sksamuel.

@hub-cap, @rjernst could you please check why the tribe artifact is missing? I compared the build files of both modules and I guess that the tribe module is missing a config option:

[code]

[2017-10-04 15:27] jasontedor commented on #26867
We know why it's missing. The bigger question is whether or not it's needed and we can remove this as a dependency for the transport clients (I think so?).

[2017-10-04 16:01] danielmitterdorfer commented on #26865
That sounds like two problems to me:

* State handling during recovery seems to be inconsistent / not to agree
* File system issues

Can you please tell which file system you've used? Also, as you are on EC2: Did you configure EBS volumes or instance storage on the nodes?

[2017-10-04 16:01] danielmitterdorfer commented on #26865
Also @imotov may have further ideas.

[2017-10-04 16:07] andreas-p opened #26883 "default.data.path tried although data.path defined"
With 5.6.2 on Debian9, I configured data.path to point to a dedicated partition.
When starting the service, it will fail stating "Unable to access 'default.path.data' (/var/lib/elasticsearch)" which is the distribution's preferred location, but was removed to prevent trouble.

Seems there are still some remnants after the https://github.com/elastic/elasticsearch/issues/23981 cleanup.

[2017-10-04 16:09] isapir commented on #26873
@jasontedor I can understand your argument about "default" vs. values in `elasticsearch.yml` for `logs` and `data` directories, but how does that apply to the `config` directory?

The `config` directory can not be overridden in `elasticsearch.yml` because `elasticsearch.yml` is read from the `config` directory.

[2017-10-04 16:13] jdoss commented on #26865
These are on AWS I3 servers with NVMe SSD instance storage. We are using XFS with LUKS on these disks.

[2017-10-04 17:52] rjernst commented on #26867
I think this is simply a misconfiguration in xpack. It pulls in tribe and netty4 in order to reuse code from them, but it does not actually have an added runtime dependency on them, and certainly this does not transpose to the x-pack transport-client.  I'm going to close this as it is not an elasticsearch oss issue.

[2017-10-04 17:52] #26867 closed

[2017-10-04 17:52] nik9000 opened #26885 "Remove unused dependencies from high level rest client/transport client"
One day we'd like to have a far fewer dependencies in the high level rest client but right now it depends on Elasticsearch core and all of the "client" module jars. I think a good first step for us would be to remove all of the dependencies from the client jars that aren't really needed.

I don't know how this plays out with the transport client and the high level rest client depending on the same

[2017-10-04 18:02] sksamuel commented on #26867
You've closed this without a solution? Or are you saying its user error?

[2017-10-04 18:05] rjernst commented on #26867
@sksamuel This is a problem with xpack. This repo is for open source elasticsearch. We will fix this internally with xpack, as the xpack transport client should not depend on tribe at all.

[2017-10-04 18:07] sksamuel commented on #26867
I understand. Thanks.

On 4 Oct 2017 19:06, "Ryan Ernst" <notifications@github.com> wrote:

[2017-10-04 19:33] ZLightning opened #26886 "Simplify underscore requirements in parameters"
**Describe the feature**:  When updating a document through the update API, we have to specify parameters like retry_on_conflict without a leading _ in query-string parameters, but on the bulk API, we have to include the parameter as _retry_on_conflict in the action/meta line.  Remembering when to use _ can be confusing to the user.  This is even more true when using a library like elasticsearch.j

[2017-10-04 20:04] fsosa commented on #26885
Great timing! We were just discussing this exact problem as we were planning out our migration from a custom Lucene engine to Elasticsearch. We originally hoped to use the high-level rest client, but the dependency on elasticsearch core, and transitively on Lucene, prevented us from doing so. It seems that our only option is to use the low-level rest client.

Although our migration situation may n

[2017-10-04 20:39] #26833 closed

[2017-10-04 22:19] astral303 commented on #21105
It seems unreasonable to take away convenience and DRY in the name of dubiously-useful index template validation. The end result is that I will have to code the template merging myself.

[2017-10-04 23:05] jasontedor commented on #26873
@isapir That's not right, in 5.x you can start Elasticsearch with a configuration file that points to another configuration file via `path.conf` (this is no longer the case in 6.x).

[2017-10-05 00:52] ppf2 commented on #16561
https://github.com/apache/lucene-solr/tree/master/lucene/analysis/common/src/resources/org/apache/lucene/analysis/snowball

[2017-10-05 02:07] hteleb commented on #20841
I have a problem on this, I am using Amazon ElasticSearchService, eventhough i set "split_on_whitespace":false" but still split phrase into tokens as per query validation as follows:

{
               "query_string":{
                  "query": "imperial college london",
                  "fields": ["audoc.affilnav"],
                  "split_on_whitespace":false,
               }
            }

"

[2017-10-05 02:38] hteleb commented on #20841
"split_on_whitespace" does not work when include wildcard

 {
               "query_string":{
                  "query": "imperial colle?e london",
                  "fields": ["audoc.affilnav"],
                  "split_on_whitespace":false
               }
            }

"explanation": "+(audoc.affilnav:imperial audoc.affilnav:colle?e audoc.affilnav:london)"

[2017-10-05 06:39] sscarduzio commented on #24199
how?

[2017-10-05 06:54] javanna commented on #26833
hi @greentruff thanks again for reporting this. Turns out it was happening only when search went to a single shard. When have an optimization there to perform query and fetch in the same round rather than in separate rounds, but the proxying layer didn't support that optimization hence whenever you went through a gateway node, the response couldn't be serialized back to the coordinating node.

[2017-10-05 07:01] #18348 closed

[2017-10-05 07:05] ebsaral opened #26888 "query_string is not behaving as expected with analyzer?"
Hello, I want to be able to able to search Japanese inputs as well as English. I don't want to use the plugin, because I just want to do partial search within a Japanese input. Therefore please do not suggest `kuromoji`.

ElasticSearch version: `5.6.1`

The problem is that, I want to use `simple` analyzer for my index and I think I achieved that with `elasticsearch-dsl`.

First problem (and also a

[2017-10-05 07:19] jimczi commented on #26888
Hi @ebsral,
Elastic uses GitHub issues for tracking confirmed bugs and feature requests.
Since you're asking for advices, please make a post on our discuss forum where we can provide better support on how to setup queries and mapping for Elasticsearch:
https://discuss.elastic.co/c/elasticsearch

Thank you.

[2017-10-05 07:19] #26888 closed

[2017-10-05 07:48] danielmitterdorfer commented on #26865
Thanks for the feedback. I also talked to @imotov. As this is about S3 snapshot could you please have a look @tlrx?

[2017-10-05 07:49] ntwobike opened #26889 "Installation fails in debian"
I'm getting this when i try to update, any thoughts?

[code]

[2017-10-05 08:06] iksnalybok opened #26890 "DateIndexNameProcessor does not support unix epoch format"
Elasticsearch+Filebeat 6.0.0-rc1.

[DateIndexNameProcessor](https://github.com/elastic/elasticsearch/blob/v6.0.0-rc1/modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DateIndexNameProcessor.java) expects the date to be a String. At line 64: `String date = ingestDocument.getFieldValue(field, String.class);`.

The log4j2 json logger outputs timestamp as unix_ms epoch (e.g. `{"timeM

[2017-10-05 08:15] greentruff commented on #26833
Thanks a lot for the speedy fix !

[2017-10-05 08:24] ywelsch commented on #26865
There is a bit of confusion between the snapshot and the restore APIs on this issue:

@jdoss When you say

you're actually showing the result of the (successfully completed) snapshotting process, not the restore process (same mistake for showing the details).

The `/_cat/recovery` output also is consistent with the cluster health. It shows that shards 0 to 3 have successfully recovered. Shard 4 (t

[2017-10-05 08:29] tlrx commented on #26192
Another instance today : https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/4530/

See [consoleText.txt](https://github.com/elastic/elasticsearch/files/1358547/consoleText.txt)

[2017-10-05 09:13] liketic commented on #21946
Hi @ppf2 Can I work on this? I think at least, we can put the exception message to source. Any thoughts about this? Thanks. 😃

[2017-10-05 10:51] jasontedor commented on #26883
There should be an underlying cause, for example a filesystem permissions issue. This is expected though. If we can’t access the directory, we can’t verify the problem in #23981 is not present, so we fail. You need to read the cause and fix the problem. This is not a bug.

[2017-10-05 10:51] #26883 closed

[2017-10-05 10:57] #26851 closed

[2017-10-05 10:59] andreas-p commented on #26883
IMHO trying to access a directory that is configured away by path.data *is* a bug.
The workaround was to create a read-only the directory /var/lib/elasticsearch again.

[2017-10-05 11:08] jasontedor commented on #26883
In 5.6 it’s not a bug because we are trying to verify whether or not the consequences of a previous bug are present. The system is operating as intended.

[2017-10-05 11:08] jimczi commented on #25225
`search_after` fails when you set `unit` to `m` due to an internal optimization. Sorry I missed this case and thanks @vseryakov for spotting !
I opened https://github.com/elastic/elasticsearch/pull/26891

[2017-10-05 12:44] walterra opened #26893 "`sum` and `stats.sum` return different values when `doc_count` is `0`."
**Elasticsearch version**: 7.0.0-alpha1-SNAPSHOT, Build: 9e36764/2017-10-03T12:16:42.018Z

**Plugins installed**: [x-pack]

**JVM version**: 1.8.0_144

**OS version**: macOS 10.13

**Description of the problem including expected versus actual behavior**:

You get different results for e.g. a distinct `sum` aggregation vs. the `sum` within the `stats` aggregation. For a `doc_count` of `0`, the `sum

[2017-10-05 13:56] floragunncom opened #26894 "Can not start an object, expecting field name (context: Object) for ClusterHealthRequest"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.5.1

**Plugins installed**: []

**JVM version** (`java -version`):
1.8.0_102 Oracle Corporation

**OS version** (`uname -a` if on a Unix-like system):
Mac OS X x86_64 10.10.5

**Description of the problem including expected versus actual behavior**:
XContentHelper.toString() outputs `Can not start an object, expecting field name (context

[2017-10-05 14:18] dandrestor commented on #21101
@clintongormley Good point. Perhaps a good idea would be having an index-wide setting for a default pipeline, with some parameters controlling for which operations the default applies? (By operations I mean index or update or whatever.)

[2017-10-05 14:23] elasticmachine opened #29814 "[CI] CoreFullClusterRestartIT.testRecovery() failed with mismatch while checking for translog recovery"
*Original comment by @tlrx:*

The test `CoreFullClusterRestartIT.testRecovery()` failed on Jenkins today:
LINK REDACTED

This looks similar to another failure that occurred earlier today (LINK REDACTED) but the error is different:
[code]

And it does not reproduce locally:
[code]

See LINK REDACTED

[2017-10-05 14:31] jimczi commented on #26894
Hi @floragunncom ,
This issue is fixed in 6.1 by https://github.com/elastic/elasticsearch/pull/25866
For 5.5 you'll need to copy the new method in `Strings.toStrings` to use it in your code.

[2017-10-05 14:31] #26894 closed

[2017-10-05 15:07] jimczi commented on #20841
@hteleb see https://github.com/elastic/elasticsearch/issues/8026#issuecomment-334493730
We have the discuss forum for question like this.

[2017-10-05 15:41] cbuescher commented on #25603
Thanks for the copy of the shards, I imported them into a local three node 5.2.2 cluster (I think thats the version you're running in Dev), but unfortunately I'm not able to reproduce the issue like this. So the "bad" state that your cluster is in when returning the wrong "hits.total" is probably an in-process thing. This would also explain why closing/opening the index doesn't make the issue disa

[2017-10-05 17:22] risdenk commented on #26868
Yea I'll try to get to reproducing this cleanly, but likely won't be till next week. I will most likely focus on 6.0.0 to reproduce since that environment has no one on it (and also is closest to master to make PRs easier).

My hunch in case this gives any ideas. It looks like the error is with a single repository from a quick glance at the logs. The first repository is initialized just fine. The

[2017-10-05 17:24] shtrih opened #26898 "_analyze works differently, compared to the index"
**Elasticsearch version** (`bin/elasticsearch --version`): `5.6.2`

**Plugins installed**: []

**JVM version** (`java -version`):
[code]
**OS version** (`uname -a` if on a Unix-like system):
`Linux vagrant-ubuntu-trusty-64 3.13.0-86-generic`

**Description of the problem including expected versus actual behavior**:
`_analyze` does not detect synonyms, but the index does if there is a comma in the

[2017-10-05 18:14] stuvie opened #26899 "document JVM option MaxFDLimit for macOS max file descriptors"
**Should Document macOS-specific JVM Setting for max file descriptors:**

**Elasticsearch version**: 6.0.0-rc1

**Plugins installed**: [n/a]

**JVM version**: java version "1.8.0_45"

**OS version**: macOS Sierra version 10.12.6

**Description of the problem including expected versus actual behavior**:

As a newcomer to elastic search, I was very frustrated when my server was running out of file d

[2017-10-05 18:56] jasontedor commented on #26899
Closed by #26900

[2017-10-05 18:56] #26899 closed

[2017-10-05 20:23] saeedansari opened #26904 "org.elasticsearch:elasticsearch is missing in maven dependency page"
**High Level Rest Client 5.6** documentation is missing a maven dependency in this page
[Maven Repository](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/java-rest-high-getting-started-maven.html).
[code]

The dependency is mentioned in [dependency page](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/java-rest-high-getting-started-dependencies.html)

[2017-10-05 21:51] dadoonet commented on #26904
I don’t understand. If you are using Maven then this dependency is coming as a transitive one.
No need to specify it IMO.

[2017-10-06 00:53] patrobinson opened #26906 "TransportException when calling `_snapshot/repo/_all` on non-master"
**Elasticsearch version** : `Version: 5.4.3, Build: eed30a8/2017-06-22T00:34:03.743Z, JVM: 1.8.0_131`

**Plugins installed**: s3-repository

**JVM version**:
[code]

**OS version**: `Linux ip-10-200-7-5 4.4.0-1020-aws #29-Ubuntu SMP Wed Jun 14 15:54:52 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

**Description of the problem including expected versus actual behavior**:

Executing `curl localhost:9200

[2017-10-06 01:02] jasontedor commented on #26906
The node 10.200.7.5 will hopefully have a stack trace in its logs. If so, can you share it here? If not, can you send the request again with the URL parameter `?error_trace=true`?

[2017-10-06 01:05] patrobinson commented on #26906
No stack trace on the master node, here's the error_trace
[code]

[2017-10-06 01:06] patrobinson commented on #26906
My guess is this is because of the sheer size of the response body (over 10 million characters)

[2017-10-06 01:51] risdenk commented on #26868
So I have a new hunch from reviewing the stack trace in more detail. I think this has to do with HDFS NameNode high availability. The code being executed is to create a failover proxy between two NameNodes. I don't think this is tested in the test framework since only a single NameNode is used. I am going to try switching the active NameNode in the cluster and see if that makes a difference as wel

[2017-10-06 04:02] chrishough commented on #23866
I have been trying your example with no luck, thoughts on https://stackoverflow.com/questions/46597848/circleci-2-ruby-rails-elastic-search

[2017-10-06 04:18] tvernum commented on #23866
Please don't append new problems onto closed github issues - the difficulty you are facing has nothing to do with this particular issue. I realise that probably isn't clear to you - you're just facing an problem with circle-ci and this is a circle-ci ticket, but that's exactly why you shouldn't just add these comments onto someone else's issue until you actually know that it's the same problem.

I

[2017-10-06 04:24] chrishough commented on #23866
Will do, I appreciate your guidance as I have been battling this for awhile now and figured that SO post would be great for the community.

[2017-10-06 07:01] jgq2008303393 opened #26907 "XContentBuilder.ensureNoSelfReferences has an impact on performance"
Hi, all.
    When using pipeline to parse log, I found that XContentBuilder.ensureNoSelfReferences has an impact on performance. This method cost about 17.36% of the total CPU resource.

    My ES version is 5.5.2. The jstack result is as follows:

[code]

[2017-10-06 07:03] ywelsch commented on #26906
I think that you're encountering a bug fixed by https://github.com/elastic/elasticsearch/pull/26127
Please upgrade to 5.6 and check if you still encounter the same issues.

[2017-10-06 07:47] elasticmachine opened #29815 "[Monitoring] Ensure Phone Home Stats are not altered"
*Original comment by @tlrx:*

The current test in monitoring only checks that `XPackFeatureSet.Usage` are rendered as part of the monitoring documents of type `cluster_stats`, but it does not check the `actual content ` of the usages and instead relies on security/watcher/etc unit tests to test the correct rendering of their specific `XPackFeatureSet.Usage`.

Since the monitoring Phone Home featur

[2017-10-06 08:02] jpountz commented on #26907
For the record, this sanity check is important important so that poison documents cannot fail an entire cluster.

However maybe there are ways that we could speed it up a bit, eg. by
 - not doing the check again for sub maps/lists
 - doing a preliminary test of whether the depth of the structure is >= 5 (for instance, any reasonable number would work) and only actually accumulate ancestors in a ha

[2017-10-06 08:18] javanna commented on #26904
@saeedansari can you clarify please? Like David said, the dependency is transitive, you shouldn't need to declare the dependency on elasticsearch explicitly.

[2017-10-06 08:21] jimczi commented on #26898
The `_analyze` API splits the input text on comas and analyzes each split independently when you provide the text as a request parameter in the url.
This format is deprecated in 5.x and removed in 6 so you should use json in the request body instead:
https://github.com/elastic/elasticsearch/pull/20686

[code]

[2017-10-06 08:21] #26898 closed

[2017-10-06 12:11] martijnvg commented on #26890
@iksnalybok Thanks for sharing this bug! I'll fix this soon.

[2017-10-06 13:10] jasontedor commented on #26907
It's interesting that `System#identityHashCode` is at the top of the stack here. I want to make sure this is not an artifact of JVM behavior (for example, we've seen issues in the past where users have set the JVM code cache too small and `System#identityHashCode` ended up showing up as hot). Can you confirm the JVM flags that you're running with? These will show up as a log line when you start El

[2017-10-06 13:26] s1monw commented on #26885
While it's a long term goal to get rid off most of the dependencies we would need to move all the shared stuff into a higher level JAR and depend on it in the REST client and core. I don't see this happening for a long time and the high level REST client wasn't aiming to solve this problem it in-fact didn't make the situation worse since TransportClient had the exact same issue. Unless we can extr

[2017-10-06 13:26] #26885 closed

[2017-10-06 13:44] s1monw commented on #26802
We spoke about this in fixit-friday. While this optimization is doable on the client side (for now) we would like to first look into a more generic optimization that would hold a secondary (engine-private)  index reader that is used internally that would not pay the price of refreshing caches, load global ords, rebuild parent-child relationships etc. It would also mean that we can honor the refres

[2017-10-06 13:46] nknize commented on #22087
tldr: try setting `tree` to `quadtree` and `distance_error_pct` to `0.001`

In short @schlosna is correct. There are a few things going on here that cause slow shape indexing. One is related to the number of terms (quad cells) and number of vertices. The more terms the more calls to `jts.relate` (which is slow). The more vertices the slower `jts.relate` becomes. Another is related to heap consumpt

[2017-10-06 13:48] saeedansari commented on #26904
Sorry guys, I should have mentioned Gradle, but mistakenly I went with Maven. I use gradle and when I was only having following dependency:
[code]
For creating RestHighLevelClient getting following error:
[code]

And NamedXContentRegistry is part of elasticsearch core dependency.

Sorry for ambiguity. Should I edit the ticket?

[2017-10-06 13:50] s1monw commented on #25244
@alexshadow007 I wonder if we should rather put it directly into SearchService where we create the context?

[2017-10-06 13:53] s1monw opened #26912 "Explore using a engine-private IndexReader for realtime-get etc."
This is a spinoff from #26802 where we potentially pay a big price on rebuilding caches etc.  when updates / realtime-get is used. We are refreshing the internal reader for realtime gets which causes for instance global ords to be rebuild. I think we can gain quite a bit if we'd use a reader that is only used for GETs and not for searches etc. that way we can also solve problems of searchers being

[2017-10-06 14:00] markharwood commented on #26836
Currently the logging for deprecation happens "down low" in the call stack and is missing some of the context that would be required for this more detailed logging.
Rather than pushing added query context down into the call stack the suggestion is we move the actual logging up higher in the call stack "on the way out" where the code has access to more context (who the user is, what query was being

[2017-10-06 14:04] clintongormley commented on #26886
Discussed in FixItFriday.  We agree that we should make this consistent with where these parameters are used in other APIs, eg:

* `_index`, `_type`, and `_id` would keep their underscores, because that is how the fields are named
* params like `version` and `retry_on_conflict` would be without underscores as that is how they are used in other APIs
* `_source` would be with underscore also because

[2017-10-06 14:09] javanna commented on #26904
@saeedansari with that dependency only you shouldn't even be able to find `RestHighLevelClient` in your classpath. You are depending on the low-level REST client rather than the high-level one. Please have a look at https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/java-rest-high-getting-started-maven.html .

[2017-10-06 14:09] #26904 closed

[2017-10-06 14:31] #24086 closed

[2017-10-06 14:49] #26779 closed

[2017-10-06 15:04] colings86 commented on #26836
We should be careful about logging the request body here, for large requests (such as bulk) it could be very slow.

[2017-10-06 15:20] JeffDownie opened #26913 "ECS Task IAM profile credentials ignored in repository-s3 plugin"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.6.2

**Plugins installed**: [repository-s3]

**JVM version** (`java -version`): Doesn't seem to matter

**OS version** (`uname -a` if on a Unix-like system): Doesn't seem to matter

**Description of the problem including expected versus actual behavior**:

When using the repository-s3 plugin from within an ECS Task that has an [ECS Task

[2017-10-06 15:26] imotov commented on #26865
@jdoss access to snapshots would really help, but if this is not possible would you be able to try reproducing this issue with additional logging enabled and send us the logs files?

[2017-10-06 15:46] martijnvg opened #26915 "How to expose the new Lucene CoveringQuery in the query dsl?"
Lucene 7.1 comes with a new query, called the [CoveringQuery](https://issues.apache.org/jira/browse/LUCENE-7621). This is neat query that is like a bool query with should clauses but instead of global minimum should match for all documents it allows a minimum should match per document. I wonder how this new query can best be exposed in the ES query dsl?

It can be exposed in the `bool` query itsel

[2017-10-06 15:54] debraj-manna commented on #24575
I am seeing a similar exception in 2.3.1. Below is the exception:-

[code]

Is the issue not fixed in 2.3.1?

[2017-10-06 15:58] jpountz commented on #26787
Fixed by #26856

[2017-10-06 15:58] #26787 closed

[2017-10-06 16:02] martijnvg commented on #26307
I worked on integrating the [CoveringQuery in the percolator](https://github.com/martijnvg/elasticsearch/commit/c714748e856ba4190e5f7ab5c1f25d73e3c41c0a) and it is a good fit! I tested this change out on a percolator query set and the query time was reduced by 3 times.

I did run into two challenges:
* Currently all the extracted terms from the document to be percolated are being put in a `TermInS

[2017-10-06 16:09] jpountz commented on #26307
Maybe we should still use a `TermsQuery` when percolated documents are large?

[2017-10-06 16:16] martijnvg commented on #26307
and than fallback using a constant `LongValuesSource` instance set to 1  as `minimumNumberMatch`?

[2017-10-06 16:44] jimczi commented on #26915
Is it possible to extract the should clauses from the original bool query to build the `CoveringQuery` and then add this `CoveringQuery` as a should clause behind the scene ?
I prefer this option because it means that we can extend `minimum_should_match` to support this covering query automatically (without adding a new query).

It could also be a script since it's a value source ?

[2017-10-06 16:53] postmodem commented on #11432
+1, our project uses a lot of self-referential relations. Would love if this was supported.

[2017-10-06 18:32] jbaiera commented on #26868
@risdenk That would make sense - After perusing the failover code, I found that when creating an HA-enabled client the HDFS Client code does not perform any operations or create any connections. Instead, the place where all that initialization would normally occur in a non-HA case is chopped off and done lazily when the user code initiates the first operation.

Quick question: Are you using this H

[2017-10-06 19:14] olcbean commented on #24829
hey @Mpdreamz @javanna
This should be a fairly simple fix for 5.x and I would like to have a go at it. I figured I will ask before doing the work, as the issue does not have an `adoptme` tag.
Thanks!

[2017-10-06 19:27] jasontedor commented on #26551
As I mentioned in another channel, we should make the THP recommendation independent of any kernel bugs that may or may not be present.

As far as NUMA, our recommendations here require gathering more data and running some experiments. I don’t think we should base our recommendations on the basis of one data point (that might be fixed in different kernel versions).

[2017-10-06 19:46] jdoss commented on #26865
@ywelsch I was following the documentation https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html#_monitoring_snapshot_restore_progress which states to use the

`curl -XGET 'localhost:9200/_snapshot/my_backup/snapshot_1?pretty'`

and

`curl -XGET 'localhost:9200/_snapshot/my_backup/snapshot_1/status?pretty'`

Which is pretty confusing mashing the snapshot and recove

[2017-10-06 20:08] patmanh opened #26917 "Unable to delete backup repository"
**Elasticsearch version** (`bin/elasticsearch --version`):

`Version: 2.1.1, Build: 40e2c53/2015-12-15T13:05:55Z, JVM: 1.7.0_79`

**Plugins installed**: []

[code]

**JVM version** (`java -version`):

[code]

**OS version** (`uname -a` if on a Unix-like system):

`Linux ip-10-0-0-230 3.13.0-48-generic #80-Ubuntu SMP Thu Mar 12 11:16:15 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

**Description of the

[2017-10-06 20:51] risdenk commented on #26868
@jbaiera - Yes all of our HDFS repository for 5.x and 6.x are readonly right now for testing (prevent someone from making a snapshot). We use 2.x to write to the HDFS repositories right now. We will switch from readonly to read/write for 5.x when we finish deployments.

[2017-10-07 00:58] misval commented on #19415
@ctron , thanks a lot!

[2017-10-07 01:46] jgq2008303393 commented on #26907
JVM arguments is as follows:
[code]

[2017-10-07 01:47] jgq2008303393 commented on #26907
I only change -Xms and -Xmx

[2017-10-07 03:21] s4sarath opened #26919 "Queries register with index not_analyzed , expects the entire document passing against the percolator to be not_analyzed ."
So , after so much of digging around , I came to ask it over here . Let me start  with a simple use case .

    curl -XPUT 'localhost:9200/my-index?pretty' -H 'Content-Type: application/json' -d'
    {
        "mappings": {
            "doctype": {
                "properties": {
                    "message": {
                        "type": "text"                     }
                }

[2017-10-07 03:26] risdenk commented on #26868
I was able to reproduce this with a nice portable Docker implementation with NameNode HA. It reproduces with 5.6.2 and 6.0.0-rc1. It doesn't look like this has anything to do with readonly. The failure occurs with a read/write repository. The NameNode HA state is important. The error occurs when the first NameNode contacted is in Standby mode and must failover to the active NameNode. This is lazil

[2017-10-07 04:39] liketic commented on #25551
@jpountz Maybe this could be closed..

[2017-10-07 05:47] davidlmorton opened #26921 "Using phonetic analyzer affects queries with fuzziness"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.6.2 and 6.0.0-rc1 (maybe others)

**Plugins installed**: [analysis-phonetic]

**JVM version** (`java -version`): official docker containers from docker.elastic.co

**OS version** (`uname -a` if on a Unix-like system): Linux ubuntu-xenial 4.4.0-96-generic #119-Ubuntu SMP Tue Sep 12 14:59:54 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Descr

[2017-10-07 08:10] s1monw commented on #26912
Relates to #15768

[2017-10-07 09:27] cbuescher commented on #26641
Documentation added on 5.6 and 6.0 branch, added support for overriding `max_token_length` ob 6.x and 7.0.

[2017-10-07 09:27] #26641 closed

[2017-10-07 10:08] Sumaccamus commented on #25954
`sudo find /Path/to/your/elasticsearch-folder -name ".DS_Store" -depth -exec rm {} \;`

[2017-10-07 10:24] #26919 closed

[2017-10-07 11:38] olcbean commented on #25737
Hey @javanna, can I give this one a try if you are not working on it? my thinking is to enforce not only the `params` but also the required `parts`.

[2017-10-07 17:39] jasontedor commented on #26493
Let’s return to this one in the future after we have addressed some other issues first.

[2017-10-07 19:53] PnPie commented on #26886
Hello,
We are going to remove all the leading underscore in _Bulk API_ for the parameters like `version`, `routing` etc. ? or we just add support for the two format like `_version/version`. The latter is what we do currently, and not only in _Bulk API_, and also in for example _Multi Get API_, the body of _More Like This Query_ and _Term Vectors_

[2017-10-07 20:05] olcbean opened #26923 "Inconsistent API spec for `*_script`"
Looking into #25737 I notice that the `*_script` rest-api-specs [1] definition of path parts as required  is inconsistent with others rest-api-specs.

For example [index](https://github.com/elastic/elasticsearch/blob/master/rest-api-spec/src/main/resources/rest-api-spec/api/index.json) defines two different `paths` : `"paths": ["/{index}/{type}", "/{index}/{type}/{id}"]` and sets `index` and `type

[2017-10-08 07:01] shaharmor commented on #17997
We need this as well to create pre-aggregated indices for bigger time intervals.

[2017-10-08 15:03] #26335 closed

[2017-10-08 19:09] risdenk commented on #26868
Looks like adding the following to `MiniHDFS.java` might help. Would need to address the fixed ports still. It would be nice to able to specify the ports dynamically in the yml files for the rest-api-spec tests.

[code]

[2017-10-09 01:08] jasontedor commented on #24829
Closed by #26875

[2017-10-09 01:08] #24829 closed

[2017-10-09 07:04] martijnvg commented on #26915
I prefer this option because it means that we can extend minimum_should_match to support this covering query automatically (without adding a new query).

I think that might just work. In the case other clauses are specified too then we need to set `BooleanQuery.Builder#setMinimumNumberShouldMatch(...)` to 1 in order to let it behave as expected? (otherwise the should clauses become completely opti

[2017-10-09 07:21] jimczi commented on #26915
True or we can add the converted `covering` query as a `must` clause.

[2017-10-09 07:40] czjxy881 commented on #11322
+1

[2017-10-09 07:55] jpountz commented on #26921
Fuzziness is not applied because the phonetic filter has `replace: false`, which creates synonyms under the hood. The parsed query is `Synonym(last_name:KNR last_name:conner)`. @jimczi Do you have an opinion as to whether this should be fixed / documented?

Here is a Console recreation if someone needs to iterate on it:

[code]

[2017-10-09 08:02] javanna commented on #25737
go for it @olcbean , thanks!

[2017-10-09 08:17] colings86 commented on #26893
We should change the Stats aggregation so the value of `stats.sum` when no documents are collected is 0 like `value_count`

[2017-10-09 08:59] clintongormley commented on #26915
Had a brainstorm with @martijnvg, @jpountz, and @colings86.

I'm not crazy about adding this to the `bool` query as:

* this is a specialist use case
* I can't think of example where you would want your queries to cover multiple fields
* the `bool` query is a staple, so adding extra options makes it harder for a new user to get to grips with it

The typical use case is: I am querying a list of val

[2017-10-09 09:10] tlrx commented on #24575
I didn't test in 2.3.1 since the fix fixed a bug introduced in #22828 for 5.4.0. It's possible that this bug exists in 2.3.1 but this version is EOL and not supported anymore.

[2017-10-09 09:13] ywelsch commented on #25053
Another failure, this time due to another reason (I suspect #26791):

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/4580/consoleFull

[code]

The original failure in this ticket was fixed by https://github.com/elastic/elasticsearch/commit/4b813adf522a76128736658ac69e2731363abd77

[2017-10-09 09:15] debraj-manna commented on #24575
ok thanks for the update.

Sent from GMail on Android

On Oct 9, 2017 2:42 PM, "Tanguy Leroux" <notifications@github.com> wrote:

[2017-10-09 09:16] ywelsch commented on #25053
Other tests are also failing in this class for the same reason:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/588/consoleFull

[2017-10-09 11:09] javanna commented on #26923
hi @olcbean I think your thoughts are spot on, if we validate use of `required` we also need to fix those tests.  @jdconrad can you shed some light on the scripting APIs and these inconsistencies please?

[2017-10-09 12:00] lengerad opened #26928 "Java High Level Rest Client allowing "delete by query""
**Describe the feature**:
I run into a case where I want to simply remove all documents witch specific date field (let's say "delete all documents where timestamp inserted is older than one day"). So far I found out that in JHLRest client documentation, the only possibility is to delete documents by ID, does it mean that I have to fetch all the IDs which meet the condition and delete them?

Would

[2017-10-09 12:06] javanna commented on #26928
hi @lengerad thanks for opening this issue. For now the temporary solution would be to use the low-level REST client to send the delete by query request. You can probably build the query and some of the request body through the current java API objects, then send the output over to Elasticsearch as a `byte[]`. Unfortunately the response has also to be parsed manually from a `byte[]`.

[2017-10-09 12:12] ywelsch commented on #26907
Instead of explicitly checking for self references, it might be simpler/faster to track the current stack depth of the structure that's being used to populate the xcontentbuilder and just check that it does not pass a certain threshold (e.g. 100). This could be done for example by overloading some of the methods with an internal method that takes an additional "stack depth" parameter (`map(...)`,

[2017-10-09 12:15] wirtsi commented on #16838
@martijnvg Thanks for clarifying this

[2017-10-09 12:26] clintongormley commented on #21101
I think I could get behind the following:

* an index setting which specifies the default pipeline to use for `index` or `create` operations only
* `update` operations would not use the default pipeline
* specifying `?pipeline=foo` in an index request would result in the `foo` pipeline being applied instead of the default pipeline
* specifying `?pipeline=` in an index request would result in no pi

[2017-10-09 14:09] imotov commented on #26865
@jdoss I think I  might actually get by with just 2 files from your snapshot repository that contain no actual data (just a list of files that index consisted of at the time of the snapshot, their sizes and checksums). The files I am interested in are `indices/logstash-2017.09.20/4/index-*` (it might be also located in `indices/crXjrjtwTEqkK6_ITG1HVQ/4/index-*`) and `snap-snapshot_0.dat` or `snap-

[2017-10-09 14:15] clintongormley commented on #26886
Yes.  We make it consistent with how these parameters are used elsewhere (obviously with a deprecation period).

thanks for pointing those out.  we should do the same in these APIs

[2017-10-09 14:21] clintongormley commented on #20875
@vseryakov that seems to be a completely different issue.  please open a new issue for that

[2017-10-09 14:25] clintongormley commented on #20875
Closing this issue as `optimize_bbox` was deprecated in 2.2 and has been removed completely in 6.0

[2017-10-09 14:25] #20875 closed

[2017-10-09 14:29] tuespetre commented on #11322
@rmm5t good points, your 'wish syntax' looks nice!

[2017-10-09 15:38] #13148 closed

[2017-10-09 15:50] clintongormley commented on #17511
See https://github.com/elastic/elasticsearch/issues/23714

[2017-10-09 15:53] jdconrad commented on #26923
Sure.  Sounds like a bug that was introduced due to maintaining backwards compatibility at some point.  Now, that there's only a single path for each delete/get/put script commands it probably makes sense to add required for id.

[2017-10-09 15:54] jdoss commented on #26865
@imotov I have sent you the requested files.

[2017-10-09 16:31] jordansissel commented on #22563
Ingest Node and Logstash are showing no signs of convergence in the past two years, so I'm content to close this with the assumption that it doesn't need to happen. We can open a new issue if something similar comes up.

[2017-10-09 16:31] #22563 closed

[2017-10-09 17:27] imotov commented on #26453
@s1monw can you shed some light on it?

[2017-10-09 17:33] imotov commented on #26453
I spoke to Simon and it looks like it removing leniency here was intentional. I will update docs.

[2017-10-09 17:46] rjernst commented on #21101
It seems like this could easily be a malformed request. For this corner case (that someone wants to get around the default pipeline), one could create a dummy pipeline that does nothing and specify that explicitly here? Then specifying pipeline with an empty string can return an error?

[2017-10-09 17:47] rjernst commented on #21101
Or, have a specially named value called `_none`?

[2017-10-09 17:52] imotov commented on #26453
@nachogiljaldo one thing that I wasn't able to reproduce in this issue is the error message that you pasted in the original report. I am getting the correct error message on 5.6.2.
[code]
instead of `cannot restore index [.....] because it's open` that you are getting. Were you getting this error before you closed the indices, and the error from the log files - after?

[2017-10-09 18:28] jimczi commented on #26921
This is not the first time that this issue is reported so I agree that we should do something to support this use case. The `SynonymQuery` has been added in 2.x to handle cases where multiple terms appear in the same position. The `SynonymQuery` tries to score the terms as if you
 had indexed them as one term and gives similar score to documents that match different `synonym`. This is confusing be

[2017-10-09 19:07] jbaiera commented on #26868
Thanks for the footwork toward getting a reproduction. I think you might have hit the nail on the head - If the repository already exists and the leading namenode steps down, allowing a different one to take it's place as leader, the ensuing connection failover would require a whole new client to be initialized underneath the failover manager.

I'm working on getting this all to place nice in the

[2017-10-10 00:01] rjernst commented on #20298
Note that a fix for this issue existed in #20464, but needs to be revived to be mergeable.

[2017-10-10 00:02] #26429 closed

[2017-10-10 02:14] andyb-elastic commented on #20715
Hi @huynhquocbao92, we use github for bug reports and feature requests. Questions like this are best asked in [the forum](https://discuss.elastic.co/c/elasticsearch)

[2017-10-10 02:14] #20715 closed

[2017-10-10 02:40] andyb-elastic commented on #26889
It looks like this is resolved, please let us know if you're still seeing it.

[2017-10-10 02:51] dnhatn commented on #25053
The new failures were fixed by https://github.com/elastic/elasticsearch/commit/84742690cdfaa2b632e23646e5dca1007c0fe81e

[2017-10-10 06:19] xzer opened #26938 "query cache used memory calculating is not correct, which cause non-stopping old gc."
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 5.4.3

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_131

**OS version** (`uname -a` if on a Unix-like system):Debian 3.16.43-2

**Description of the problem including expected versus actual behavior**:

We have a cluster with 6 nodes, and with 2gb query cache size configured: [indices.queri

[2017-10-10 07:11] tlrx commented on #26913
I agree with your analyse, it looks like the repository-s3 plugin must be adapted for this use case.

[2017-10-10 07:17] tlrx commented on #26917
Hi @patmanh, we reserve Github for bug reports and feature requests only. So I'm closing this issue in favor of the topic you created on Discuss. Thank you!

[2017-10-10 07:17] #26917 closed

[2017-10-10 07:25] futurechallenger opened #26939 "`TermsAggregationBuilder` is not right for high level rest client."
in High Level Rest Client doc [here](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/5.6/java-rest-high-search.html#java-rest-high-document-search-request-building-aggs), in section **Requesting Aggregations**. There's a type error! `TermsAggregationBuilder` should be `TermsBuilder`.
[code]

[2017-10-10 07:29] sudpaw commented on #26938
I think `indices.queries.cache.count` takes precedence over the size. It is set to 10K by default. We have seen similar issues and reducing this has helped keeping the heap usage in check. I cannot say how much you should reduce this though. Try with some numbers to find out. This requires rebooting the node.

[2017-10-10 07:33] nick4u commented on #22400
I have tons (about 1,5GB/day) of errors like that :
[code]
coming from IIS logs

could anyone help me make appropriate logstash mutate/filter removing from field "clientip" string ("fe80::d1bb:dad5:6c5:95a4%12") everything past "%" including "%" sign?

[2017-10-10 07:39] xzer commented on #26938
[code]

before we clear the query cache, we got stat as above (from one node), it has 2.3k count of cached objects, but it obviously  has hit the memory size limit since it keeps the memory usage at 2GB, and the almost same stats on all nodes.

As you explained, if the count takes precedence, I think the memory usage will not keep at just 2GB level, or I misunderstand it?

[2017-10-10 08:00] tlrx commented on #26939
`AggregationBuilders.terms()` returns an instance of `TermsAggregationBuilder` as you can [see here](https://github.com/elastic/elasticsearch/blob/5.6/core/src/main/java/org/elasticsearch/search/aggregations/AggregationBuilders.java#L283). I don't think the documentation is wrong, I don't see any interface or class named `TermsBuilder`.

[2017-10-10 08:04] dadoonet commented on #26939
Agreed with @tlrx. I'm closing. Feel free to add comment if we missed anything here.

[2017-10-10 08:04] #26939 closed

[2017-10-10 08:05] #26890 closed

[2017-10-10 08:05] rjernst commented on #26913
I believe we need to upgrade to aws sdk 1.11 in order to support this. We do not use the default credentials chain because it uses insecure methods of passing credentials (env vars, sysprops and plaintext files). So after upgrading, we will need to create our own chain that includes iam+instance profile.

[2017-10-10 08:08] dadoonet commented on #26913
Wasn't that the goal of #26479?

[2017-10-10 08:09] dadoonet commented on #26913
Sorry I meant #25552

[2017-10-10 08:12] rjernst commented on #26913
@dadoonet Yes. However, that PR undoes the secure credentials work (adding back the default credentials provider).

[2017-10-10 08:16] dadoonet commented on #26913
Very true @rjernst. I did not review it yet cause travels. Wanna add your thoughts on https://github.com/elastic/elasticsearch/pull/25552/files#diff-68ff507ea23f19b8d4b5cc0e8d1826bfR172?

[2017-10-10 08:18] danny-su opened #26941 "suggest_mode = “always” of term suggester doesn't work."
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.6.2, Build: 57e20f3/2017-09-23T13:16:45.703Z

**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Darwin danny-mac.local

[2017-10-10 08:33] JeffDownie commented on #26913
Ah! I must have missed that PR when searching for if the issue already existed!

[2017-10-10 09:17] jeancornic opened #26942 "NullPointerException on `/_cat/indices` when cluster RED"
**Elasticsearch version**: Version: 5.6.1, Build: 667b497/2017-09-14T19:22:05.189Z

**Plugins installed**: []

**JVM version**: 1.8.0_144

**OS version** (`uname -a` if on a Unix-like system):
Linux NodeB 4.4.0-1013-aws #22-Ubuntu SMP Fri Mar 31 15:41:31 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

We have a cluster with 6 node

[2017-10-10 09:18] jeancornic commented on #26942
Is that an expected behaviour? Would it help against this kind of issue to have dedicated master nodes?

It's hard to say how we could reproduce unfortunately. Maybe you guys have a better idea.

[2017-10-10 10:08] xzer opened #26943 "request limit breaker does not calculate estimated_size_in_bytes correctly, which causes all the aggregations failed"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 5.4.3

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_131

**OS version** (`uname -a` if on a Unix-like system): Debian 3.16.43-2

**Description of the problem including expected versus actual behavior**:

we have 6 nodes cluster and we noticed that the estimated_size_in_bytes of request brea

[2017-10-10 11:44] davidlmorton commented on #26921
I don't know how much my vote matters, but I would prefer that it were fixed rather than simply documented.  Detecting that this is happening and issuing a warning or error would be preferable to silently ignoring the fuzziness setting too.  I would personally be okay with the disjunction max solution's side effect.  Would the synonyms only be under a disjunction max query in the case where fuzzin

[2017-10-10 12:54] Mpdreamz opened #26944 "Inner hits _source is now always wrapped in path to parent"
Prior to 6.x the `_source` of an inner hit was always rooted to the child object that you were referencing.

Given the following super simple document where `children` is `nested`

[code]

The inner hits for `children` used to look like this:

[code]

Now in 6.x the context of source has changed the root of the child. Note the additional `children` key. If it was N levels deep the actual source of

[2017-10-10 12:56] #26454 closed

[2017-10-10 13:06] nik9000 commented on #26885
All I wanted to do in this is:

By that I mean remove from the dependencies list in the high level REST client the dependencies that it doesn't need to function. I just want that list to be better curated then it is now.

[2017-10-10 13:17] nik9000 commented on #25867
Thanks for the ping! I'll close.

[2017-10-10 13:17] #25867 closed

[2017-10-10 13:21] javanna commented on #26885
@nik9000 an example of what is not needed and can be removed?

[2017-10-10 13:25] Mpdreamz commented on #26923
`context` also needs to be documented instead of `lang` here: https://github.com/elastic/elasticsearch/blob/master/rest-api-spec/src/main/resources/rest-api-spec/api/put_script.json#L14-L18

[2017-10-10 13:35] nik9000 commented on #26885
I'm not sure to be honest. I know in the case of the transport client we bring in the low level rest client because we depend on Reindex's client jars. I don't think those are needed for the transport client. At least, they shouldn't be. I'm not sure how much time we want to spend on the transport client but it is an example how this sort of things happens. If we've already done all this for the h

[2017-10-10 13:59] SimoneCafiero opened #26945 "/_snapshot endpoint API documentation"
Hi guys,
is there a complete documentation of the following API endpoint:

- /_snapshot

I would like to know if it's possible to edit backup metadata names (snap-CUSTOM_NAME or meta-CUSTOM_NAME instead of having a random String where CUSTOM_NAME is) and eventually how to do that through any API parameter. So any documentation of that endpoint would be very helpful.

[2017-10-10 14:01] dadoonet opened #26946 "Index analyzers are accepted/ignored even if not set under `settings`"
Here is a script I can run without problem on 6.0.0-rc1:

[code]

It's actually incorrect as we should set analyzers within settings instead:

[code]

I'd expect that we reject the former. But we accept it and store it in index settings:

[code]

Gives:

[code]

[2017-10-10 14:39] Mpdreamz opened #26947 "Clear Cache API rest spec not up to date"
[code]

[code]

https://github.com/elastic/elasticsearch/blob/6.0/rest-api-spec/src/main/resources/rest-api-spec/api/indices.clear_cache.json#L49

`recycler` is no longer allowed but still documented.

[2017-10-10 15:07] jpountz opened #26948 "Format doc values fields"
Follow-up of #22146, which has been stalled for a long time and probably needs to be re-done entirely now.

Currently docvalues_fields return the values of the fields as they are stored
in doc values. I don't like that it exposes implementation details, but there
are also user-facing issues like the fact it cannot work with binary fields.
This change will also make it easier for users to reindex i

[2017-10-10 15:22] jpountz commented on #26938
The thing is that the count of the setting is the number of unique queries that may be cached while the stats' `count` is the number of (query, segment) pairs that are cached, which is typically larger than the number of unique queries that exist in the cache.

I have seen that memory accounting issue recently as well and I can't think of a good way to fix it: we could fix some queries to report m

[2017-10-10 15:33] jasontedor commented on #26947
Can you submit a PR @Mpdreamz?

[2017-10-10 15:35] jasontedor commented on #26945
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-10-10 15:35] #26945 closed

[2017-10-10 15:48] dnhatn commented on #26942
This happens when a primary shard is being relocated. I think, we can reproduce as follows.

1. Have 2+ nodes running
2. Create an index with `number_of_replicas >= 1, number_of_shards = 1`
3. Continuously execute `GET /_cat/indices`
4. Shutdown a node that contains the primary shard

[2017-10-10 15:49] dnhatn commented on #26942
@jasontedor, Can I start working on this?

[2017-10-10 15:50] jasontedor commented on #26942
@dnhatn Please do.

[2017-10-10 16:23] risdenk commented on #26868
@jbaiera - Sounds good. Thanks for digging in further. I think I have the minimum required configs necessary to make HDFS HA work (in the docker-compose.yml) and for an Elasticsearch HDFS repository to use HDFS HA in `run_test.sh` under the variable `HDFS_CONFIGS`. Let me know if you need anything else to help test this out.

[2017-10-10 16:28] Mpdreamz commented on #26947
@jasontedor thank you forgot to assign myself.

[2017-10-10 17:28] ppf2 opened #26951 "Range query's from/to values get recorded as null in slowlog"
5.5

I came across this when using the high level rest client where we rewrote a range query's gte/lte to its internal representation of (from/to).

[code]

It looks like slowlog doesn't know how to handle range query's from/to and recorded its values as nulls.

[code]

[2017-10-10 20:37] adoerrES opened #26955 "Support Matrix should address Ubuntu "LTS" support"
Upon confirming that the supported Ubuntu versions in the support matrix also apply to the "LTS" (Long Term Support) versions of Ubuntu, the matrix should explicitly list the LTS support.

Currently just the Ubuntu version number is listed, leaving users to wonder if the LTS versions are supported.

https://www.elastic.co/support/matrix

https://wiki.ubuntu.com/LTS

[2017-10-10 21:04] #26942 closed

[2017-10-10 22:34] jasontedor commented on #26955
I'm confused, the support matrix explicitly lists 14.04 and 16.04, these are synonymous with the most recent LTS releases of Ubuntu. I don't think anything needs to change here?

[2017-10-11 01:10] xzer commented on #26938
I think there are things to do:

- at least, the document should contain warning that asks user to check the real memory usage under the real work load

- Since the memory size cannot be calculated correctly, why we just get rid of the configuration item? A wrong calculated size will only mislead users and cause unexpected failure.

- Also, we can add a api such as '/_cache/analyze', which can dum

[2017-10-11 04:18] jordansissel opened #26957 "Improve "jar hell" message"
[code]

"jar hell" is not an actionable message. As an Elasticsearch plugin author and a user, this message doesn't inform me as to the problem and what action needs to be taken.

I propose new messaging:

[code]

[2017-10-11 07:50] vnikolaenko opened #26959 "java.lang.ClassNotFoundException: org.elasticsearch.common.xcontent.NamedXContentRegistry"
Hello!
I used [official guide](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/5.6/java-rest-high-getting-started-maven.html) to install RestHighLevelClient. Elasticsearch 5.6.2
Gradle:

But after start i have

in:
new RestHighLevelClient(RestClient.builder(new HttpHost("localhost",9300,"http")).build());

I tried to add

[2017-10-11 08:02] dadoonet commented on #26959
First you should follow the guide. It mentions port 9200 not 9300.
Then it’s better to ask for help on discuss.elastic.co instead.

Check also that gradle or your ide imported all needed libs.
If your still have a problem, create a sample project, push it to GitHub, paste the link in a discuss.elastic.co new thread.

Thanks

[2017-10-11 08:02] #26959 closed

[2017-10-11 08:22] Canappeco opened #26960 "java.lang.NoClassDefFoundError: org/elasticsearch/common/transport/TransportAddress"
**Describe the feature**:
I am using `mvn package` to build a jar and want to run the main function in the jar. `mvn package` is successful, but when I run `java -classpath ./target/socket-server-1.0-SNAPSHOT.jar cn.zmhappy.es.Server`, something bad happened as follow:
[code]

my pom.xml:
[code]

I try to search in `~/.m2/repository/org/elasticsearch/`, but I can't find `common` under this directo

[2017-10-11 08:24] nicpalmer opened #26961 "Cross-cluster-search - failed to update seed list for cluster"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.0.0-rc1, Build: b9c0df2/2017-09-25T19:11:45.815Z, JVM: 1.8.0_121

**JVM version** (`java -version`):
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Darwin hostname 16.7.0 Darwin

[2017-10-11 08:33] h3 commented on #17459
For the googlers, I also get this error when setting an invalid value for `discovery.zen.ping.unicast.hosts`.

Make sure it matches the value of `network.host` (but in a list).

[2017-10-11 08:45] dadoonet commented on #26960
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-10-11 08:45] #26960 closed

[2017-10-11 09:05] martijnvg opened #26962 "Limit the number of nested documents"
There is already a limit on the number of nested fields per index (#14983). However that doesn't stop anyone from adding many nested json objects to a nested field inside a single document.

I believe we should add at least a soft limit to the number of nested Lucene documents that we index per json document. This to avoid a node going OOM when a single document contains too many nested json objec

[2017-10-11 09:37] Mpdreamz opened #26963 "[Docs] breaking change: Script API no longer accepts script as string"
The deprecated 2.x way of indexing scripts with the `lang` as part of the url allowed scripts to still be specified as strings too in 5.x but obviously no longer in 6.x as the deprecated urls are gone as well.

https://www.elastic.co/guide/en/elasticsearch/reference/2.4/modules-scripting.html#_indexed_scripts

[2017-10-11 09:55] javanna commented on #26961
The idea of cross cluster search is that you have a node pointing to one or more remote clusters. In your case you are creating a bi-directional connection between the two single node clusters which is not quite what we had in mind when we built cross cluster search. What is the usecase there?

Also, when you register a remote cluster such cluster needs to be up. Hence if you configure the remote

[2017-10-11 09:55] #26961 closed

[2017-10-11 10:43] clintongormley commented on #26944
Just chatted to @martijnvg about this. It does feel more practical to return the nested `_source` without the prefix.  Either way, it's a breaking change (which already landed in 6.0.0-beta2 in https://github.com/elastic/elasticsearch/pull/26102).  I really wouldn't want to break this again in 7.0.  My inclination is to fix this in rc2.

/cc @mattweber

[2017-10-11 10:45] nicpalmer commented on #26961
The example I listed was just to prove the 'issue'.(After review I see that it could be misinterpreted, so apologies for that!)  The behaviour would be the same, if I did this, for 3,4,n clusters.

When I deploy Elasticsearch to new environments via our pipelines, I will want them to be cross-cluster enabled, off the bat. Given that we have DC's in multiple regions, it makes sense not to join thos

[2017-10-11 10:47] martins77 commented on #26836
Will add also here what I said in Elastic support case:
     Proposal would be to add addition config parameter to elasticsearch.yml file.
     It could launch advanced logging to another file beside existing one.
     But this time log not only existing message, but also query, or at least first X characters.
It could be enough to track down who is using deprecated features and queries

[2017-10-11 10:56] javanna commented on #26961
One of the strong points of cross cluster search is that the node where you register the remote clusters doesn't really join the remote clusters. It only checks that what you are registering exists and it can connect to it. The requirement is to register the remote cluster when that's online though. This relates a bit to what we discussed in #26118, where we will make clusters optional (meaning on

[2017-10-11 11:14] tlrx commented on #22928
@liketic Yes, it's still something that can be improved.

[2017-10-11 11:31] jimczi commented on #26951
The slowlog records the query **after** rewriting, in 5.x queries are rewritten on the coordinating node and on the shards which is why they can differ from the original query when printed in the slowlog. In your example I suspect that the shard rewrote the range query to an open bound query because we detected that the provided range would match all documents in that shard. Open bounds range quer

[2017-10-11 11:31] #26951 closed

[2017-10-11 12:09] quijote opened #26966 "Elasticsearch does not start when launched from a symlinked directory."
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 5.6.3, Build: 1a2f265/2017-10-06T20:33:39.012Z, JVM: 1.8.0_144

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_144

**OS version** (`uname -a` if on a Unix-like system): Windows 10

**Description of the problem including expected versus actual behavior**:
Elasticsearch does not start when launched from a symli

[2017-10-11 12:23] javanna commented on #18848
We have recently removed this page from our docs as it was outdated and we had no plans to maintain it. See #26902 .

[2017-10-11 12:23] #18848 closed

[2017-10-11 12:24] javanna commented on #26885
I think that we want to focus on the high level REST client only at this point and leave the transport client untouched unless we find bugs there.

I am afraid that users will read this issue as it happened above as "let's remove the Elasticsearch dependency from the high level REST client" which is a totally different story that will take a long time to accomplish. Unfortunately the Elasticsearch

[2017-10-11 12:34] Canappeco commented on #24003
@s1monw I have the same problem. I am sorry but I can understand what you mean. Can you give some more details to solve this problem?

[2017-10-11 12:44] iksnalybok opened #26967 "DateProcessor does not support unix epoch format"
This issue is similar to #26890, but affects the DateProcessor instead of the DateIndexNameProcessor.

Error is
[code]

To reproduce (tested with local build 7.0.0-alpha1-SNAPSHOT, commitId d97b21d1da627678f5a97673c742f2088fa65a6b), follow the exact same steps as #26890, except that the definition of the pipeline is:
[code]

[2017-10-11 12:49] ywelsch opened #26968 "BWC tests failing on newer kernel versions"
BWC tests are currently [failing on CI](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+bwc-tests/236/consoleFull) due to an [inability to correctly parse v2 cgroups in older ES versions](https://github.com/elastic/elasticsearch/pull/23493). The reason it shows now is that CI is running newer Linux kernels (>= 4.5) now (e.g. 4.12.13-300.fc26.x86_64).

Example failures:

https://e

[2017-10-11 12:49] Canappeco commented on #24003
@ahr12 have you solve this problem? I have the same problem with you , can you give me some help?

[2017-10-11 13:33] colings86 commented on #22748
Looks like this is fixed by #23638, closing

[2017-10-11 13:33] #22748 closed

[2017-10-11 13:37] adoerrES commented on #26955
Multiple users weren't sure that the version numbers listed were synonymous with the LTS releases for those versions.

There seems to be an implicit understanding that the Ubuntu releases on the matrix apply to LTS releases, so the request was just to mention LTS explicitly on the matrix for those who weren't sure (unless its problematic to do so).

[2017-10-11 13:40] dliappis commented on #26968
From a CI PoV I can only see two options:

1. Limit the eligible CI targets for executing the BWC tests to distributions committed to run an [LTS Linux kernel](https://www.kernel.org/category/releases.html). Just the other day, there was an announcement that all new [LTS kernels will be supported for 6 years](https://www.theregister.co.uk/2017/10/03/linux_kernel_long_term_support_extended_from_two

[2017-10-11 13:51] derickson commented on #26915
@clintongormley  @skearns64  I like the DSL proposal.  It's a somewhat separate topic, but think it will be important to make sure there is a way to use X-pack security templating of an array from user security object metadata to put data into the "terms" field.  I think this currently not possible for other query types.  Might make sense to ask for this to be a test case for the X-Pack team.

We

[2017-10-11 13:52] derickson commented on #26915
having the default value for min_should_match_percent be 100% would make sense to me

[2017-10-11 13:55] centic9 opened #26969 "Snapshots to S3 Repository in 5.x cause a much higher object churn/GC than previous versions"
Elasticsearch version: Ok on 2.3.3, Not Ok on 5.3.3
Plugins: S3, EC2
JVM: 1.8.0_102
OS Version: Linux ip-10-176-42-66 4.9.32-15.41.amzn1.x86_64 #1 SMP Thu Jun 22 06:20:54 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
heap size [4.6gb], compressed ordinary object pointers [true]

We have a number of Elasticsearch nodes in multiple clusters on EC2 instances. Previously we were running version 2.3.3, but l

[2017-10-11 13:56] jpountz commented on #26915
I think min_should_match as a percentage might bring some confusion as to whether the number that matters is the number of query terms of the number of terms in the document?

[2017-10-11 14:06] centic9 commented on #26969
It seems in Elasticsearch 2.x the BufferSize was 5MB:

    `public static final ByteSizeValue MIN_BUFFER_SIZE = new ByteSizeValue(5, ByteSizeUnit.MB);`

[2017-10-11 14:43] clintongormley commented on #26915
The standard minimum should match syntax already supports this (at least based on the number of terms in the query): https://www.elastic.co/guide/en/elasticsearch/reference/5.6/query-dsl-minimum-should-match.html

A script could be used to do something similar on the document side.

true, although the standard min should match syntax already supports percentages, so it'd be weird to prevent that i

[2017-10-11 16:08] tlrx commented on #26969
@centic9 Thanks for your report and analysis.

Some background around the buffer_size setting: long time ago, we saw users having connection issues like timeouts when snapshoting or restoring using S3. It often involved large files, so in 1.4 we changed the implementation and introduced the S3OutputStream in order to use the _Multipart Upload API_ provided by AWS. This API allows to send large fil

[2017-10-11 16:11] ahr12 commented on #24003
@Canappeco now, I am using the elasticSearch 2.3.0 which haven't any problem with the urban jar.

[2017-10-11 16:15] #23824 closed

[2017-10-11 16:20] jasontedor commented on #26955
For clarity, there isn't an LTS release for those versions, those versions are LTS releases. This is what I mean by "synonymous".

[2017-10-11 16:29] ppf2 commented on #26951
Thanks @jimczi Thx for the explanation on how we treat the query internally!  I am wondering if there's anything we can do from a user experience point of view.  Slowlogs are often used to identify what queries are being sent from the application.  So showing nulls instead of what the user provided may throw users off when analyzing slowlogs.  It will be helpful to document this behavior in the sl

[2017-10-11 16:32] jasontedor commented on #26951
I think knowing where a query in the slow logs is coming from is best solved orthogonally to how the query is presented in the slow logs. Instead, we have been thinking about adding some metadata or allowing users to add metadata that would help them.

[2017-10-11 17:29] jimczi commented on #26951
I agree with Jason, it would be simpler to associate metadata with a request that you can search in the slowlog directly.
Relates to https://github.com/elastic/elasticsearch/issues/8547

[2017-10-11 17:33] dadoonet commented on #26969
@tlrx FYI about S3 SDK update there is this pending PR: #25552

[2017-10-11 17:48] centic9 commented on #26969
Thanks for the detailed explanation, so setting the buffer-size back to 5mb should mostly revert this behaviour, right?

I am surprised that nobody else seems to run into this, but maybe our machines use a small heap compared to most other setups (We have many smaller separate clusters).

We did see some failures to send the data to S3 in 2.3.3, but as we retry it every hour anyway, it was not a b

[2017-10-11 17:48] rjernst commented on #26957
"jar hell" is a well known term within the Java community.  Additionally, I have a couple problems with changing the wording:
* It is not meant for users. If a plugin author ships a version with jarhell, they have much bigger problems. We don't (and shouldn't) try to catch every runtime bug a plugin author might have made and wrap with user messaging.
* Wordy exception messages do more harm than g

[2017-10-11 18:00] jordansissel commented on #26957
Hello. I have written Java off-and-on for 15 years. I have worked here for 4 years. I was unfamiliar with the meaning of this term until I filed this ticket yesterday.

So I don't know what "well known" means in your context, but it is not well-known to me.

I am confused. As a user, I received this information. Why deliver a message to a user when you did not intend it?

I have had success doing

[2017-10-11 18:36] jasontedor commented on #26957
It's definitely an interesting data point given your background and something we should keep in mind in revisiting the messaging here. This is not something that I would expect users to be familiar with, especially as our user base continues to expand. It is a common problem that Java developers face and why there are all sorts of tricks like shading and dependency exclusion, and the primary reaso

[2017-10-11 18:44] Mpdreamz opened #26974 "[Docs] breaking change: ids query no longer accepts aliases for type"
https://www.elastic.co/guide/en/elasticsearch/reference/6.x/breaking_60_search_changes.html

Should list the fact that ids query `type` parameter no longer `types` and `_type`.

https://github.com/elastic/elasticsearch/blob/5.5/core/src/main/java/org/elasticsearch/index/query/IdsQueryBuilder.java#L54
https://github.com/elastic/elasticsearch/blob/6.0/core/src/main/java/org/elasticsearch/index/query

[2017-10-11 18:50] javanna commented on #26974
good catch @Mpdreamz . Relates to #26508.

[2017-10-11 19:10] jordansissel commented on #26957
I am doing an experiment with x-pack-elasticsearch. I added a dependency in build.gradle (tealess) which transitively depends on `netty-all`. Elasticsearch ships with `netty-buffer` and jar-hell triggers at *install time* due to the overlapping java class definitions.

As a developer, I did this, `gradle assemble` and it was successful (no errors). Then, as a user, I installed the plugin and recei

[2017-10-11 19:24] BradHarris opened #26975 "Bulk write to multiple aliases throws 500 error starting in 5.5.3"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.3

**Plugins installed**: x-pack (it comes with the docker version of ES)

**JVM version** (`java -version`):
openjdk version "1.8.0_141"
OpenJDK Runtime Environment (build 1.8.0_141-b16)
OpenJDK 64-Bit Server VM (build 25.141-b16, mixed mode)

**OS version** (`uname -a` if on a Unix-like system): docker image uses centos:7
Linux cf214

[2017-10-11 19:28] rjernst commented on #26957
`gradle assemble` only compiles and builds the jar. It does no checks. `gradle check` runs all tests. `gradle build` is synonymous with `gradle assemble check`. So if you want to build and test, use `gradle build`. This is not elasticsearch specific, it is standard gradle workflow.

I don't see how the latter statement is true. You *tried* installing the plugin, and it failed. As @jasontedor said,

[2017-10-11 19:36] jordansissel commented on #26957
I think it is a bug that someone can build an invalid plugin. Citing standard-workflow doesn't do any services to a user (hi!) who is confused by this messaging.

We have an opportunity to enforce this *in* gradle, do we not? Can we? There seem to be a lot of spoken policies that could be enforced programmatically at build-time.

What I am trying to say is we have tooling that permits invalid plug

[2017-10-11 19:48] rjernst commented on #26957
We already *do& check this. It is one of the tasks run by the `precommit` task, which is run with `gradle check`. As I said, `assemble` is *by design* only meant to build. It does not even build tests.   Your argument is equivalent to complaining that `gradle jar` doesn't run tests. The task is meant to build a jar. not do other things. `gradle assemble` is meant to assemble the artifacts, not run

[2017-10-11 19:51] rjernst commented on #26957
The exception message says exactly what is wrong. What I have proposed is improved messaging in the plugin installation, which is the only place a user could see this, due to a bad plugin being shipped by a plugin author. This exception happening during ES startup is only possible if a user has mucked with the installation, which I do not think we need to improve error messaging for.

[2017-10-11 19:59] ankitachow opened #26976 "Alias [test-schema-active-logs] has more than one indices associated with it [[......]], can't execute a single index op"
Elasticsearch 5.4.1
Rollover API problem

We are using Rollover to create new index upon a document count condition is reached.

But while ingestion is happening, if we run the rollover API, getting below error:
"Alias [test-schema-active-logs] has more than one indices associated with it [[test-schema-000004, test-schema-000005]], can't execute a single index op"

From Rollover API understanding

[2017-10-11 20:07] jasontedor commented on #26975
This issue is an X-Pack issue, it happens inside the authorization service for bulk requests. We only handle open source issues here. May I ask you to please open a topic on the [forum](https://discuss.elastic.co) in the X-Pack category where we handle closed source issues (you can link to that topic from here)?

[2017-10-11 20:07] #26975 closed

[2017-10-11 20:12] dnhatn commented on #26976
@ankitachow, Please ask questions on [https://discuss.elastic.co](https://discuss.elastic.co) where we can give you a better support. We use Github for bug reports and feature requests. Thank you.

[2017-10-11 20:17] dadoonet commented on #26976
TBH it sounds like a bug to me. But would be great if @ankitachow shares a full script to reproduce all the steps done.

@ankitachow could you do that?

[2017-10-11 20:26] ankitachow commented on #26976
@dadoonet Sure see below steps.

We are ingesting data through ES-Hadoop connector continuously. Below are the steps conducted in production:
1.	Data ingested with a template having below information
a.	write & search alias
b.	no. of shards = no. of nodes
c.	best_compression
2.	Rollover based on certain doc count
3.	Shrink the index. The template of the compressed index has
a.	No. of shards = 1
b.

[2017-10-11 20:55] dadoonet commented on #26976
The error you are getting seems to indicate that 2 indices are defined behind the write alias.
This should not happen.

Do you call `_rollover` API only from one single machine? Or is it executed from different nodes?
Can you share the elasticsearch logs when the problem appears? I mean some lines before the problem and some lines after if any.

[2017-10-11 20:59] jordansissel commented on #26957
I would value improved messaging for users.

For authors, I still wish for the tooling to not produce jar-hell'd
packages.

On Wed, Oct 11, 2017 at 12:52 PM Ryan Ernst <notifications@github.com>
wrote:

[2017-10-11 21:12] ankitachow commented on #26976
The template for the test-schema is as follows:
{
  "template": "test-schema-*",
  "settings": {
    "number_of_shards":   13,
    "number_of_replicas": 0,
	"refresh_interval" : "30s",
	"codec":"best_compression"
  },
  "aliases": {
    "test-schema-active-logs":  {},
    "test-schema-search-logs": {}
  },
  "mappings":{
		"test-log":{
			"_all":{"enabled": false},
			"properties":{ .....

So, rol

[2017-10-11 21:22] jasontedor commented on #26957
It’s not a conflict with Elasticsearch. The Netty transport is modularized, so sits in a separate classloader from X-Pack. What you’re facing is that X-Pack depends on Netty as well, and that’s why you have JAR hell within your modified X-Pack.

This is not a problem. Plugins are isolated into separate classloaders and the JAR hell checks are per classloader (including the parent classloaders). Re

[2017-10-11 22:03] jasontedor commented on #26957
We would accept documentation for this in the Elasticsearch plugin docs, I think that's a great suggestion. We would not accept a link to it from the error message, we do not want links in our software that could break.

[2017-10-12 02:42] ajturner commented on #6616
Is there any update on the status of this feature? It's not been in Lucene since 2014, but no update in Elastic since 2015.

[2017-10-12 03:43] minseclab opened #26979 "document wrong text"
https://www.elastic.co/guide/en/elasticsearch/reference/current/_the_search_api.html

At the page bottom, the request type is not POST ,but GET

[2017-10-12 03:46] #26979 closed

[2017-10-12 06:24] centic9 commented on #26969
FYI, setting the buffer_size back to 5mb makes the situation look much better for us. We now see count of allocations of byte[] are 5 times up (5000 compared to 1000), but overall allocation is only 1/60th compared to before (94GB compared to 1.49GB). GC-Logs are gone as well.

=> Seems the 100m buffers are much too large for the required transfer-size most of the time and thus a lot of useless al

[2017-10-12 08:10] tlrx commented on #26969
That makes sense, but note that the number of requests against the S3 service might be increased too (ie, watch if you don't exceed your S3 limits as it can have extra costs)

That was the purpose of #21299, to adapt the size of the buffer, but the real issue is that the buffer is fully allocated even if there's only few bytes to send... and this is a bug.

Anyway, thanks a lot for your feedback,

[2017-10-12 08:20] sladeos opened #26980 "Http compression only working when using localhost"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.2, 5.6.0, 5.6.2

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_131, 1.8.0_144

**OS version** (`uname -a` if on a Unix-like system): 4.4.0-97-generic #120-Ubuntu SMP Tue Sep 19 17:28:18 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux. Windows 10.

**Description of the problem including expected versus actual behavior**:
E

[2017-10-12 08:26] lilizhaolilizhao commented on #26271
@tlrx  ok, thanks.

[2017-10-12 08:33] dadoonet opened #26981 "Update By Query documentation mentions size parameter but never explains it"
In https://www.elastic.co/guide/en/elasticsearch/reference/5.6/docs-update-by-query.html

The thing is that `size` parameter exists but is not documented.

[2017-10-12 09:12] tlrx commented on #26980
Quick test I did on 5.6.2:

[code]

Now testing with curl with no `Accept-Encoding` header on `http://localhost:9200`,` http://127.0.0.1:9200`, `http://192.168.1.15:9200` and  `http://laptop:9200` all return the same response headers:
[code]

The test but with `Accept-Encoding: gzip` header returns:

[code]

I have the same result if I use ` http://127.0.0.1:9200`, `http://192.168.1.15:9200` and

[2017-10-12 09:51] sladeos commented on #26980
It indeed compresses on hosts other than localhost when issuing the requests with curl, however when using postman or a web browser it does not. Not really sure what this could be caused by.

[2017-10-12 09:55] tlrx commented on #26980
I'm going to close this issue then.

[2017-10-12 09:55] #26980 closed

[2017-10-12 11:30] tomsommer commented on #23199
I had a similar problem, with 4 shards jumping around with the error:

`from primary shard with sync id but number of docs differ: 3232205 (XXX, primary) vs 3232204(YYYY)
`
It didn't increment the error counter on the index and it always tried to allocate to the same node that failed.

Sètting `cluster.routing.allocation.enable` to `none` and then to `all` fixed the problem, maybe it resets some i

[2017-10-12 11:48] sladeos commented on #26980
Any insight as to why it only compresses responses when sending with curl and not with postman, chrome, firefox, etc. would be greatly appreciated.

[2017-10-12 11:59] tlrx commented on #26980
These tools adds extra headers to the HTTP request. You can see that on Firefox or Chrome by opening the "Development Tools" and look at the network tabs. curl won't alter the HTTP request so it is the easiest way to send appropriate headers and see the HTTP response.

[2017-10-12 13:08] martijnvg commented on #26967
@iksnalybok Thanks for reporting this! This bug will be fixed soon.

[2017-10-12 14:53] buinauskas opened #26989 "Query with shingles outputs nothing compared to 2.x"
So this comes out of SO question, which can be located here: https://stackoverflow.com/questions/33581029/extract-keywords-multi-word-from-text-using-elastic-search/

However the query no longer works in 5.x.x.

Notes: I've changes `string` to `text` data type and `index_analyzer` just to `analyzer`.

Index structure:
[code]

Dummy data:
[code]

I'd expect this query to return results, that are be

[2017-10-12 15:08] jpountz opened #26990 "More than one level of nesting with include_in_parent + include_in_root can lead to duplicate fields"
Say your mappings look like this:

[code]

Then we make sure to only copy to the root if it is different from the parent document. However if you start having more than one level of nesting:

[code]

Then `foo.bar` will copy fields to both the root and parent since parent != root. And then foo will copy fields to its parent, which is the root as well. So fields of `foo.bar` will end up twice in th

[2017-10-12 15:11] jpountz opened #26991 "Make query parsers automatically add missing `nested` queries."
`include_in_parent` is currently not used as much as a feature than as a workaround in order to not always have to provide a nested query when searching for nested data.

We should look into making query parsers automatically add `nested` queries when the queried fields are under a `nested` object which doesn't have `innclude_in_parent` or `include_in_root` set. This will help deprecate `include_i

[2017-10-12 15:19] #15768 closed

[2017-10-12 15:19] #26912 closed

[2017-10-12 15:31] s1monw commented on #26802
@imotov I got the index reader change in I was talking about. While batching up those kind of updates might be a two sided sword I am still interested in seeing how it would look like code wise, would it be as simple as sorting the updates by ID and use insertion order as a secondary sort and then run them all consecutively? I think it can be as simple as checking if the previous ID is the same an

[2017-10-12 16:06] AlexWerz opened #26992 "Force a new master election for rolling restart"
Force a master election to eliminate downtime during rolling restart.

Whenever I need to restart a cluster I follow the rolling restart guide provided here https://www.elastic.co/guide/en/elasticsearch/reference/current/rolling-upgrades.html

Bascally:
1. wait for green status
2. Disable shard allocation
3. restart node
4. enable shard allocation
5. wait for green status
6. repeat with next node

[2017-10-12 16:07] tlrx opened #26993 "Remove S3OutputStream in favor of TransferManager"
Related to #26969, the AWS SDK has improved since Elasticsearch 1.4 and I think it's more than time to remove the `S3OutputStream` class and to replace it by other utilities provided by the AWS SDK. I'd like to replace it with `com.amazonaws.services.s3.transfer.TransferManager` (from AWS SDK v1.11.211) which takes care of uploading objects using one or multiple requests, potentially by executing

[2017-10-12 16:32] martijnvg commented on #26991
Related to #11322

[2017-10-12 16:50] bleskes commented on #26992
During master elections nodes will serve reads requests and indexing requests will wait (but not return) for a new master to be elected. Master election takes between 3 to 5 seconds, but it sounds like you're experiencing something else. I would suggest starting with investigating why that is (if you need help please feel free to post something on our forums at discuss.elastic.co). I'm going to cl

[2017-10-12 16:50] #26992 closed

[2017-10-12 19:05] turp1twin commented on #10043
Any update on this? Would be really, really good to have this feature!

[2017-10-12 20:25] jbaiera commented on #26868
@risdenk Wanted to check in here again to say that I have the HDFS fixture spinning up a topology of HA Namenodes in the integration test environment, and was able to get a very very crude reproduction of the error. The biggest challenge with this bug is finding a way to get the Namenode to failover automatically during the integration test run - as right now I'm pulling all the levers by hand. On

[2017-10-12 21:09] andyb-elastic commented on #26741
Here's roughly my roadmap for this since it's probably too much for one pull request

- [ ] Add windows images for server 2012-r2 and 2016 for tests to the vagrantfile and vagrant test plugin. Allow an alternate windows image to be used by setting an environment variable. Don't run any tests on these boxes just yet

- [ ] Create the groovy project that will be the new portable packaging tests. Add

[2017-10-12 21:32] rjernst commented on #26741
May I suggest `qa/packaging`? `qa/vagrant` was annoying for many reasons :). After all of them are transitioned, I think we can (and should) remove the remapping we do of the vagrant mount back to `/vagrant`

[2017-10-12 21:37] jasontedor commented on #26741
We should not enable these by default, and the boxes should not be mentioned in the Vagrantfile. The boxes that we are going to use are "closed source". We do not refer to "closed source" in the open source code base. We should not require open source users to specify an environment variable to get around running these on boxes they can not see. All that we should do is enable these to run if you

[2017-10-12 21:46] jasontedor opened #26998 "Opening indices with broken index settings"
Today we are lenient with index settings, we do the following things:
1. We will open an index even if it contains an index setting that we do not recognize because we do not do any index settings validation when opening an index.
2. We will upgrade an index and archive unrecognized settings; this is bad in the following scenario:
  a. a user installs a plugin that provides an index setting
  b. a

[2017-10-12 21:47] jasontedor commented on #26998
I opened #26955 to address the first case. I would like to have a broader discussion about this.

[2017-10-12 22:07] andyb-elastic commented on #26741
Sounds good, that seems cleaner 👍

Agree, they won't run by default (when `vagrant.boxes` is unset). I think they should run with `vagrant.boxes=all`, and I can add options for `linux-all` (the current behavior of `all`) and `windows-all`

I see why we wouldn't want to mention the images explicitly in the Vagrantfile (although it looks like vagrant doesn't complain about not finding the image unti

[2017-10-12 22:09] jasontedor commented on #26741
Thanks @andyb-elastic, this sounds good to me now.

I prefer properties too (we can do the `-P` thing that we already do.

Thank you for clarifying, I wanted to make sure the MSI is out of scope here (and belongs elsewhere, in the MSI repository).

[2017-10-12 22:11] imotov commented on #26802
@s1monw yes, I think this rearrangement shouldn't cause any differences in the final result of the bulk operation (at least on the level we can have any guarantee about). We will have to have a special handling for deletes (clean buffer), but otherwise that should optimize one of the issues.

We will still have an issue of indexing the same record over and over again and sending multiple copies of

[2017-10-12 22:14] javanna commented on #26941
hi @danny-su I suspect that this is not a bug, rather a misunderstanding of how the suggestion API works. May I ask you to ask this question in our [forum](https://discuss.elastic.co/) please instead, maybe asking why it doesn't work as you expect it to work rather than assuming that it doesn't work? We'd like to use github issues only for feature requests or verified bugs. Thanks!

[2017-10-12 22:14] #26941 closed

[2017-10-12 22:18] jasontedor commented on #26802
Can you clarify what you mean here? We have to send these operations to maintain the semantics of the translog as an operation log and for semantics of sequence IDs.

[2017-10-12 22:19] javanna commented on #26989
heya @buinauskas aren't you using `my_analyzer_keyword` instead of `my_analyzer_shingle` for the field that you are querying. From the mappings that you posted, `my_analyzer_shingle` is unused. That would be why the query doesn't work as you expect. I would expect this same mapping with string instead or text not to work on 2.x either. I am closing this as I don't think this is a bug, but feel fre

[2017-10-12 22:19] #26989 closed

[2017-10-12 22:24] javanna commented on #26336
Closing for lack of feedback. We will certainly reopen once we get back more info on this.

[2017-10-12 22:24] #26336 closed

[2017-10-12 22:30] imotov commented on #26802
@jasontedor yes if we reindex the same record again and again on the primary shard, we have to send it to replicas as many times. I was just thinking, maybe, if we can index it on the primary only after all sequential operations on the same record are performed we will need to send only one copy to replicas. But as I said, we don't need to bundle that in, it is a somewhat separate optimization.

[2017-10-12 22:34] jasontedor commented on #26802
@imotov For a shard-level bulk request, we still send a single bulk request to the replicas containing the results of all the indexing operations on the primary. That is, a shard bulk request is a single replication operation.

[2017-10-12 22:43] imotov commented on #26802
@jasontedor yes, the question here is, if a bulk request contains 100 script updates on the same record do we need to send 100 slightly different copies of this record to replicas or we can just send the final version and ignore all intermediate states on both primary and replicas?

[2017-10-12 22:51] jasontedor commented on #26802
On the replica we can not do that, if we apply an operation the primary, we have to send it to the replica and we can not coalesce operations from the primary to the replica as doing so would violate operation and sequence ID semantics.

[2017-10-13 06:03] buinauskas commented on #26989
@javanna of course, let me add some extra information! I've also tried to add `my_analyzer_shingle` as a `search_analyzer`.
[code]

And then explicitly specified `my_analyzer_shingle` to be analyzer during search. Like that:
[code]
However search still does not return expected results.

How that's more clear now. Thank you!

[2017-10-13 06:51] liketic commented on #22552
Hi @jpountz Is this still worth to contribute? Thanks.

[2017-10-13 06:51] liketic commented on #23430
Hi @clintongormley Is this still worth to work?

[2017-10-13 07:41] tlrx commented on #26741
Thanks @andyb-elastic, this plan looks good. Once the new packaging test project is available, we should make sure to involve many developers to convert the tests from bats to the new format. That will help to parallelize the work and spread the knowledge at the same time (we did this before when migrating settings to a new API or when adding integration test for aggregations).

[2017-10-13 08:24] buinauskas commented on #26989
I'll do as suggested @javanna Thank you!

[2017-10-13 10:18] YinChunGuang opened #27002 "slowlog transient"
It got wrong when I update the slowlog by transient,
Can I update the common config like slowlog  by transient.
Thanks！

PUT _cluster/settings
{
  "transient" :
        {
          "index.indexing.slowlog.threshold.index.warn": "10s"
        }
}

{
  "error": {
    "root_cause": [
      {
        "type": "illegal_argument_exception",
        "reason": "transient setting [index.indexing.slowlog.thr

[2017-10-13 10:23] JaydenRansom opened #27003 "[5.4.3] IndexNotFoundException[no such index ]"
1.My elasticsearch version is 5.4.3.
When i tried to add a alise on an exist index through Java API like below:
[code]
It reported:
[code]

I can find the index within http://host:9200/_cat/indices.
Thanks for your help.

[2017-10-13 10:25] jasontedor commented on #27002
Please follow our contributing guidelines and our issue template when opening an issue or a feature request. For example, you're missing specifying the Elasticsearch version here, and our issue template explains that we do not answer general questions here. Instead, we request that you ask general questions on the [forum](https://discuss.elastic.co). As such, I am going to close this issue as it i

[2017-10-13 10:25] #27002 closed

[2017-10-13 11:24] clintongormley commented on #23430
@liketic it is (i'm the wrong person to ask about how to do it though :) )

[2017-10-13 11:27] clintongormley commented on #6616
@nknize is working on a new BKD-backed geo-shape field in Lucene, so we definitely won't be making changes like this to the existing geo-shape fields.  I don't know whether scoring-on-overlap will be a feature of the new field type.  Perhaps Nick can comment?

[2017-10-13 11:49] clintongormley opened #27004 "Add size-based check to rollover API"
Initially, we added just a doc-count and date-based check to the rollover API.  We avoided a size-based check because it could be wildly inaccurate if multiple merges are in progress on different shards of the index.

We could make a more reasonable estimation by converting from segment sizes to # of docs which makes us less prone to merges etc. Could we sample the avg doc size on disk from existi

[2017-10-13 12:08] ywelsch commented on #25863
As a continuation of this issue and #26293, we analyzed and discussed this issue further per e-mail with @bra-fsn, where he provided us with additional logs, heap dumps, and where he tested customized ES versions to provide more insight into the issue. We found two issues:

- Our Netty plugin was not properly propagating failures back to its callers when writing to a broken or already closed chann

[2017-10-13 12:11] novenzhen opened #27005 "run elasticsearch-7.0.0-alpha1-SNAPSHOT in intellij idea on windows,get error"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2017-10-13 12:15] ywelsch commented on #26293
Good news: We think that we've found the issue causing the recoveries timing out / shard initialization getting stuck. With the help of @bra-fsn, we identified two issues in our networking implementation. A more detailed description (with workaround) of this is provided on @bra-fsn's original ticket:
https://github.com/elastic/elasticsearch/issues/25863#issuecomment-336434632

Upgrading to the upc

[2017-10-13 12:18] dadoonet commented on #27005
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-10-13 12:18] #27005 closed

[2017-10-13 12:20] javanna opened #27006 "Cross Cluster Search: remote clusters need to be available when registered in config file only"
Today when we register a remote cluster for cross cluster search we try to connect to it straight-away. If the remote cluster is not available and it is configured in the `elasticsearch.yml` of the CCS node, such node won't start. On the other hand, when a remote cluster is registered through the cluster update settings API we still try to connect to it but a connection failure won't impact the re

[2017-10-13 12:21] javanna commented on #26961
heya @nicpalmer I did some more digging and I was wrong when I said that remote clusters need to be available at registration time in any case. When registered through the cluster update settings API, remote clusters don't actually need to be up for the registration to succeed. I opened #27006 for discussion and I will amend my comments above.

[2017-10-13 12:50] Nefelim4ag opened #27007 "ElasticSearch fail on startup if found empty state file for index"
ES 5.6.3

openjdk version "1.8.0_141"
OpenJDK Runtime Environment (build 1.8.0_141-8u141-b15-1~deb9u1-b15)
OpenJDK 64-Bit Server VM (build 25.141-b15, mixed mode)

Linux ids 4.12.0-0.bpo.1-amd64 #1 SMP Debian 4.12.6-1~bpo9+1 (2017-08-27) x86_64 GNU/Linux

Some times after server crash, ES can found files like:
/ES/ES_STOR_00/nodes/0/indices/9UbB7kLtQ4mBJxPCzgHjZQ/_state/state-30.st
with zero size

[2017-10-13 12:53] nicpalmer commented on #26961
Hey @javanna
Thanks for letting me know, I'll follow #27006 and see where this goes!

All the best,
Nic!

[2017-10-13 13:19] s1monw commented on #27006
We spoke about this during fixit-friday and we agree that given that we now have `search.remote.connect` we should rather remove the ability to specify remote clusters in the  `elasticsearch.yaml` altogether. The original purpose was to allow certain nodes to act as CCS nodes but now we have a setting to do that.

[2017-10-13 13:43] bleskes commented on #26802
@jasontedor if I get the suggestion the idea is to do one get from the engine, apply multiple updates and the indexed the versioned results once. This will result in one write operation to the engine with one issues seq#. I think that's fine?

All that said - I'm really not happy with the state of the TransportBulkShardAction and it's complexity. I think we should figure what we want to do there (

[2017-10-13 13:53] jasontedor commented on #26907
Thanks for confirming @jgq2008303393, it's unlikely to be the source of the problem here then. We will need some benchmarks to validate any of the suggested approaches.

[2017-10-13 14:16] Mpdreamz commented on #26915
Huge +1 to your initial suggested exposure @martijnvg

[code]

Also liking the `covering` addition to the `match` family.

It's super explicit and does not complicate `bool` further.

Can the `terms_set` suggestion be in addition to the the `covering` query and maybe renamed to `covering_terms` to signal its relation like `match_` family? This way we don't assume usecases and keep our tradition of

[2017-10-13 14:16] jasontedor commented on #27007
These state files are written atomically. That is, when we are going to write a new state file out to disk, we first write the new state file to temporary file, then we fsync the file to disk, then we atomically move the temporary file into its permanent location (the underlying filesystem must support atomic move, there is no fallback here), then we fsync the directory to disk. Seeing a zero-leng

[2017-10-13 14:16] #27007 closed

[2017-10-13 14:28] Nefelim4ag commented on #27007
@jasontedor , thanks for explain! :)

[2017-10-13 14:31] jpountz commented on #26915
Discussed in FixitFriday: if we support the `minimum_should_match` option, then there would be two ways to do the same thing (with `bool` or this new query), plus there is potential confusion around what the percentage applies to, so we'll start by just supporting `minimum_should_match_field` and `minimum_should_match_script` and then adapt the API based on the feedback from users.

[2017-10-13 14:32] jasontedor commented on #27007
@Nefelim4ag You're most welcome.

[2017-10-13 15:12] jasontedor commented on #26998
We are going to proceed with the following plan:
 - remove the leniency on opening indices with unrecognized settings and instead such an index will be closed with the unrecognized settings archived
 - we will not open any index with archived settings
 - users can remove archived settings via the wildcard `archived.*`

[2017-10-13 15:30] lmenezes opened #27008 "Discrepancy on node id on _cat apis?"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.0.0-rc1 and 5.6.2

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_92

**OS version** (`uname -a` if on a Unix-like system): Darwin nb-lmenezes 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64

**Description of the problem including expected versus actual b

[2017-10-13 16:05] jasontedor commented on #27008
This is intended by design. The node ID you are looking at in nodes stats API is a persistent node ID. The output you are looking at in cat nodes is the node name which is derived from the node ID as a shortened version of the persistent node ID unless you set the node name explicitly. You can get the full node ID in the cat nodes output by passing a URL parameter (check which with `?help`).

[2017-10-13 16:05] #27008 closed

[2017-10-13 16:18] lmenezes commented on #27008
@jasontedor Sorry, my example was bogus.

Now, output of ```http://localhost:9202/_cat/nodes?format=json&h=id,name```

[code]

[2017-10-13 16:24] jasontedor commented on #27008
This is still intentional. If you want the full ID on the cat nodes API you have to pass `?full_id=true`.

[2017-10-13 16:25] jasontedor commented on #27008
So a full example to get the full node ID would be: `GET /_cat/nodes?h=id&full_id=true&v`

[2017-10-13 16:25] lmenezes commented on #27008
@jasontedor Thanks! Is this documented anywhere and I just missed it?

[2017-10-13 16:28] jasontedor commented on #27008
@lmenezes I do not think you missed anything, I think that it is not documented sadly. I will fix this.

[2017-10-13 16:31] lmenezes commented on #27008
👍 and thanks again!

[2017-10-13 17:44] jasontedor commented on #27008
You're welcome. I opened #27009.

[2017-10-13 18:10] pereirapleandro commented on #25601
Please, we have news about this issue?
We would like use this feature on our application 😊

Thank's!

[2017-10-13 18:20] #26923 closed

[2017-10-13 18:59] risdenk commented on #26868
@jbaiera thanks for the update. If there is a branch/PR that you want me to look at let me know. I've been around the Hadoop stuff quite a bit.

[2017-10-13 20:11] james-daily commented on #26743
We have the same issue: multiple indices (with different mappings) but comparable fields.  For example, we would like to compare `index1.type1.title` to `index2.type2.description`.

As it is we have to construct an artificial document, which means 1) sending a lot of information over the wire and 2) slower queries because Elasticsearch has to re-analyze the fields every time.

[2017-10-13 21:11] alexshadow007 commented on #23210
@jimczi Lenient parameter is ignored in `multi_match` query only for `cross_fields` type ([code](https://github.com/elastic/elasticsearch/blob/4bce7271659889d839388d7df5c61a6d2a5c3c7a/core/src/main/java/org/elasticsearch/index/search/MultiMatchQuery.java#L245)).
Is this desirable behavior? There is [test case](https://github.com/elastic/elasticsearch/blob/cdd7c1e6c26474721a1513c83ab3ca6473e9f9ef/c

[2017-10-14 09:14] paulkeogh opened #27011 "Bug in Windows Installer elasticsearch 6 RC-1"
**Elasticsearch version** (`bin/elasticsearch --version`): 6 RC-1

**Plugins installed**: None

**JVM version** (`java -version`): 1.8.0_144

**OS version** (`uname -a` if on a Unix-like system): Windows 10

**Description of the problem including expected versus actual behavior**:
The link "Open Elasticsearch in the browser" in the final step of the Windows installer navigates to the network host

[2017-10-14 09:42] dadoonet commented on #27011
But when you bind to 0.0.0.0 you need to make sure you pass bootstrap checks.
I believe you don’t here and elasticsearch does not start. Am I right ?

[2017-10-14 10:33] paulkeogh commented on #27011
It appears to start fine;  From 127.0.0.1:9200 I see;

{
  "name" : "development",
  "cluster_name" : "elasticsearch",
  "cluster_uuid" : "bNMvBsFuRxum0r3L7KzvMg",
  "version" : {
    "number" : "6.0.0-rc1",
    "build_hash" : "b9c0df2",
    "build_date" : "2017-09-25T19:11:45.815Z",
    "build_snapshot" : false,
    "lucene_version" : "7.0.0",
    "minimum_wire_compatibility_version" : "5.6.0",

[2017-10-14 10:47] jasontedor commented on #27011
There is a repository for the Windows installers: [elastic/windows-installers](https://github.com/elastic/windows-installers). Would you please reopen there?

[2017-10-14 10:47] #27011 closed

[2017-10-14 12:23] jasontedor commented on #26955
I'm closing this since I do not think there a change is needed here (again, 14.04 and 16.04 are LTS releases), and this is not the repository to address these concerns anyway.

[2017-10-14 12:23] #26955 closed

[2017-10-14 12:40] liketic commented on #22928
@tlrx Thanks for your reply. So the target is removing `metadataToXContent()` and only support `addMetadata()`?

[2017-10-14 16:47] Serkan-devel opened #27013 "Rewrite Elasticsearch in Rust"
**Describe the feature**:

A rewritten elastic stack in rust has the capability to run as fast as C++ and written as safe as Java.

**Elasticsearch version** (`bin/elasticsearch --version`): elasticsearch:5.5-alpine (docker)

**Plugins installed**: [redis, async, redis-async]

**JVM version** (rustc 1.19.0 (0ade33941 2017-07-17)):

**OS version** (Linux Kernel 4.10.0-37-generic #41~16.04.1-Ubuntu

[2017-10-14 17:00] dadoonet commented on #27013
😄

We have no plan like this.
I'm closing if you don't mind

[2017-10-14 17:00] #27013 closed

[2017-10-14 21:14] jyotiskab opened #27014 "Storing JSON array as string in elasticsearch"
I am observing some strange behavior coming out of Elasticsearch (using 5.2) and it's impossible to debug-- as there are no errors thrown nor am I able to find similar issues/documentation online.

I'm storing a JSON array as a "string" in elasticsearch (using python's json.dumps()) -- long story short, I have to do it this way. However, when I do a DSL query, only the JSON arrays (stored as a sin

[2017-10-14 21:50] dakrone commented on #26943
@xzer I tried to reproduce this, but without any luck. Can you elaborate on perhaps the type of data (an example document and mapping would be great) and query/aggregations that you are running?

[2017-10-15 07:26] #27014 closed

[2017-10-15 07:26] jyotiskab commented on #27014
I didn't realize the keyword had an ignore_above. Resolved.

[2017-10-15 09:22] dadoonet commented on #27014
Thanks for giving a closure to this.

Next time could you please ask your questions on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-10-15 13:19] gorefbitim commented on #14891
I know it's a while, but had the same problem - disk space went down with almost no new data. Finally I used the following command:
$ curl -XGET 'localhost:9200/_cat/indices?v'

To find the about 180mb is chewed up by X-Pack monitoring service per day, but it's only for the last 7 days.

Have you find other related interesting stuff ?

[2017-10-15 17:09] George35mk opened #27018 "I have this error when i try to remove a tag from tag array can somewone explain why i have this error"
I Try to remove an item from array

This is how is look on the database

[code]
## My python code

[code]

[2017-10-15 21:04] PnPie commented on #27004
Hi,
I would really like to have a try on this, I made some tests by calculating the _size/doc_ from segments information and it was pretty similar to the actual _size per document_ got from indices stats api after merges etc.
So if we do as this, for the `RolloverAction`, we also need to retrieve the segments information through `_segments` api using the `Client` interface. As currently the rollov

[2017-10-15 21:29] #27018 closed

[2017-10-16 08:12] jasontedor commented on #26966
We do not allow writes through symlinks, only reading through symlinks (e.g., we will follow a symlink to a configuration file). To workaround this, you can try setting path.data to `D:\temp\elastic\elasticsearch-5.6.3\data` explicitly in which case we will grant Elasticsearch write permissions to this directory.

[2017-10-16 08:12] #26966 closed

[2017-10-16 11:48] hartmant opened #27020 "Force visualizations to align on a dashboard based on their values in an axis."
![kibana alignment](https://user-images.githubusercontent.com/3840815/31610567-cd9ffb82-b278-11e7-861c-bcc48f5e69c9.jpg)

**Feature: option to align visualizations on a dashboard**:
Many dashboards feature visualizations with a Date Historgram on the X-axis. As these visualizations are aligned horizontally, the DateTime values themselves do not necessarily align properly.
See the image attached wh

[2017-10-16 11:56] jasontedor commented on #27020
This repository is for open source Elasticsearch. For Kibana issues, you want [elastic/kibana](https://github.com/elastic/kibana).

[2017-10-16 11:56] #27020 closed

[2017-10-16 13:18] nerophon opened #27021 "[Docs] Docker page should include examples of how to create a cluster with custom ports"
The docker page is here:
https://www.elastic.co/guide/en/elasticsearch/reference/5.6/docker.html#docker

It currently describes how to setup Elasticsearch on a single node, but there isn't sufficient detail about how to get nodes to form a cluster. Port mapping, especially, is non-trivial in docker installs using manual orchestration.

Here is an example of launching a couple of docker nodes with

[2017-10-16 13:33] soumendrak commented on #21917
For me, it got fixed after adding JAVA_HOME as a system variable.

[2017-10-16 13:40] jasontedor commented on #21917
I think this is fixed in recent versions of Elasticsearch. Please upgrade and if the issue persists, we can reopen this issue.

[2017-10-16 13:40] #21917 closed

[2017-10-16 15:33] tsuthers-ccpgames opened #27023 "multi_match ignores type when expanding phrase_prefixes"
Hi all, a quick set of commands for you:

[code]
Observe the following excerpt from the output:
[code]

Intuitively, I expected the multi_match to execute over just the contractors type, and thus would not expect "bob" from the managers type to be in the set of documents queried by multi_match, but it seems I am mistaken.

Note that the constant score stuff is not required to repro this. I include

[2017-10-16 16:22] smithsimonj opened #27024 "MGET API docs wrong for type"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.1

**Plugins installed**: [mapper-murmur3]

**JVM version** (`java -version`): java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

**OS version** (`uname -a` if on a Unix-like system): Darwin simon-smith.local 16.7.0

[2017-10-16 20:42] dadoonet commented on #27024
I just tested it and it works well:

[code]

Gives:

[code]

You are probably doing something wrong.

If you can't find is wrong, please ask on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-10-16 20:42] #27024 closed

[2017-10-16 21:13] PnPie commented on #26990
Hello,
The duplicated fields you mean is which part exactly ? I've had a look at the document fields of indexed data and also the objectMappers in the `DocumentMapper`, it seems I didn't find the duplications ?

[2017-10-17 00:51] cfx1 opened #27027 "Typo in exception error message"
Elasticsearch 5.6.3

OpenJDK Runtime Environment (build 1.8.0_144-b01)
OpenJDK Server VM (build 25.144-b01, mixed mode)

Linux localhost.localdomain 2.6.32-696.13.2.el6.i686 SMP Thu Oct 5 20:42:25 UTC 2017 i686 i686 i386 GNU/Linux

IndicesAliasesRequest::ConstructingObjectParser has a typo in the following exception message:
`throw new IllegalArgumentException("Too many operations declared in on o

[2017-10-17 01:20] kervin521 opened #27028 "how to custom analyzer with transport of Java?"
e.g.

{
    "settings": {
        "analysis": {
            "filter": {
                "default_stopwords": {
                    "type": "stop",
                    "stopwords": ["a","an","and","are","as","at","be","but","by","for","if","in","into","is","it","no","not","of","on","or","such","that","the","their","then","there","these","they","this","to","was","will","with"]
                }

[2017-10-17 01:21] dadoonet commented on #27028
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-10-17 01:21] #27028 closed

[2017-10-17 01:24] kervin521 commented on #27028
I can't access discuss.elastic.co,and it is not custom analyzer test in elasticsearch.

[2017-10-17 02:46] jerome-918 commented on #22189
Give an advision: please make sure the node opens the port 9300.

[2017-10-17 04:33] jasontedor commented on #27027
Thanks for the report. There’s an open pull request for this: #27025.

[2017-10-17 05:39] medcl commented on #27028
@kervin521 the documentation is here: https://www.elastic.co/guide/en/elasticsearch/client/java-api/current/java-admin-indices.html
if you can't visit discuss.elastic.co, you may visit https://elasticsearch.cn/

[2017-10-17 05:53] winlans opened #27029 "Create mapping suspend"
When I use curl to create mapping for index, curl will hang there, there will not be any corresponding, and will not stop operation.

[2017-10-17 06:57] davidbkemp opened #27030 "Range datatype documentation should include term query example"
I love the fact that there is now a range datatype, but the documentation on how to use it could possibly be improved by explaining that range datatype fields can be matched against using term queries.

The example on
https://www.elastic.co/guide/en/elasticsearch/reference/current/range.html
could be extended with another query like the following:

[code]

The documentation for Term Query could al

[2017-10-17 07:53] jasontedor commented on #27029
There’s not enough information here to debug this. Let’s take this to the [forum](https://discuss.elastic.co). When you open a topic there, can you provide version and `jstack` output from the Elasticsearch process that you sent the request to when the request is hung. You can link to the topic from here. We can reopen this issue if there is a bug here.

[2017-10-17 07:53] #27029 closed

[2017-10-17 07:53] liketic commented on #24992
@nik9000 I think this can be close because I can find the dependency:
https://github.com/elastic/elasticsearch/blob/3664ede9b5452180606cda01f532028091657e6f/core/build.gradle#L47

[2017-10-17 08:14] hello4usharath opened #27031 "ES not able to start"
[code]

[2017-10-17 08:15] hello4usharath commented on #27031
Java version
openjdk version "1.8.0_144"
OpenJDK Runtime Environment (build 1.8.0_144-b01)
OpenJDK 64-Bit Server VM (build 25.144-b01, mixed mode)

[2017-10-17 09:04] dadoonet commented on #27031
Did you change any settings? What are they? How are you launching elasticsearch? How did you install it?

[2017-10-17 09:13] jasontedor commented on #27031
I’ll take this one @dadoonet, it’s a problem with the cgroups on the system for this user.

[2017-10-17 09:34] #20179 closed

[2017-10-17 10:25] hello4usharath commented on #27031
What exactly cgroup means?

On Oct 17, 2017 2:47 PM, "Jason Tedor" <notifications@github.com> wrote:

[2017-10-17 10:36] sumanthrao commented on #26886
I would like to work on this if no one is working.

[2017-10-17 10:49] hello4usharath commented on #27031
Is this Linux parameters?

On Oct 17, 2017 2:47 PM, "Jason Tedor" <notifications@github.com> wrote:

[2017-10-17 10:56] hello4usharath commented on #27031
How can we fix cgroup issue?

On Oct 17, 2017 2:47 PM, "Jason Tedor" <notifications@github.com> wrote:

[2017-10-17 12:23] lukas-vlcek opened #27033 "[Doc] (v2.4.x) KeepAlive for Generic thread pool set to 30s?"
The documentation for [cached](https://www.elastic.co/guide/en/elasticsearch/reference/2.4/modules-threadpool.html#_literal_cached_literal) thread pool type reads:

While [there is the default value set to 5m](https://github.com/elastic/elasticsearch/blob/v2.4.6/core/src/main/java/org/elasticsearch/threadpool/ThreadPool.java#L454) explicitly isn't this in fact [already set to 30s](https://github.c

[2017-10-17 13:30] dakrone commented on #26948
Just a random aside, but it used to be the case with Kibana that they relied on
the non-formatting of doc_values for displaying data. For example, with dates
they used to ask for `fielddata_fields`/`docvalues_fields` of the date to get it
back in the epoch long format, rather than `YYYY-mm-dd:HH:mm:ss,SSS` (Kibana may
have since changed not to use it, I just wanted to leave a warning that we
shoul

[2017-10-17 14:29] rindybo opened #27036 "about sliced scroll"
can i use sliced scroll with sort?

[2017-10-17 14:29] robin13 opened #27037 "node_stats.fs.io_stats.total.write_kilobytes -> node_stats.fs.io_stats.total.write_bytes"
**Describe the feature**:

When trying to make graphs of the stats `node_stats.fs.io_stats.total.write_kilobytes` and using Kibana formatting Bytes can get the nice automatic adjustment to MB / GB etc. but it is all off by a factor of 1024 because the original field is `write_kilobytes` and not `write_bytes`. It would seem more standard to have the data available as a bytes value so that no mutati

[2017-10-17 14:54] jasontedor commented on #27036
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-10-17 14:54] #27036 closed

[2017-10-17 19:54] ppf2 opened #27038 "Add soft limit on number of tokens produced by analyzers"
Per discussion with @jpountz , it is unlikely that we can implement a circuit breaker on the memory used by the _analyzer api when generating tokens.  But we may be able to implement a soft limit on the number of tokens produced which is directly related to memory usage.

[2017-10-17 20:42] nik9000 commented on #24992
I'm glad it is fixed now!

[2017-10-17 20:42] #24992 closed

[2017-10-17 22:05] jpountz commented on #26948
Absolutely, this is actually the reason that I delayed the merging since it required synchronization with Kibana at a time when I had few free cycles.

[2017-10-17 22:39] orinn248 commented on #26886
I'm looking into this as well

[2017-10-17 22:44] marshall007 commented on #10058
@clintongormley are there any workarounds for this issue? We have a similar situation where we're trying to apply boolean `{ should, filter }` queries at both the parent and child levels. We would essentially want to treat the parent/child `should` and `filter` sub-queries as if they were siblings on the same boolean query.

I tried something along these lines, but you are not allowed to have dupl

[2017-10-17 23:02] winlans commented on #27029
https://discuss.elastic.co/t/use-curl-to-create-mapping-suspend/104213

[2017-10-17 23:43] kislyuk commented on #10070
This bug is NOT a duplicate of #11513. This bug is about the fact that the documentation for `ignore_malformed` is incorrect and misleading. Just because the particular example referenced here (long vs. other numerics) was addressed, doesn't mean the problem went away (for example, it remains with strings vs. objects, etc). At minimum, there should be a warning in the documentation for `ignore_mal

[2017-10-17 23:47] kislyuk commented on #12366
:+1: relates to #10070

[2017-10-18 00:34] grantholly commented on #27007
I'm having a similar issue:

`
ES 5.6.0
java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)
CentOS Release 7.3
`

I had a node die with an OutOfMemoryError.  When I tried to restart the nodes, they could not start back up and were complaining about being unable to read an index state file.

`
[2017-10-17T13

[2017-10-18 04:50] publicaddm commented on #13351
+1

[2017-10-18 06:41] jimczi commented on #23210
@alexshadow007 thanks for looking, `lenient` should not be ignored for `cross_fields`, this is a bug.
This issue is marked with `adoptme` so feel free to open a PR for it.

[2017-10-18 07:37] mayya-sharipova commented on #26886
@sumanthrao @orinn248 I have already finished the implementation on this, will create a PR soon

[2017-10-18 08:01] jasontedor commented on #26886
Thanks @mayya-sharipova, I’m removing the [adoptme](https://github.com/elastic/elasticsearch/labels/adoptme) label.

[2017-10-18 08:58] PammyS commented on #26893
I will be happy to fix this issue! Please assign it to me

[2017-10-18 09:34] winlans opened #27041 "please view this issue"
https://discuss.elastic.co/t/use-curl-to-create-mapping-suspend/104213

[2017-10-18 10:04] dadoonet commented on #27041
Please don’t ping here and leave the process happening on discuss. After some days you can ping again on discuss only.

Thanks

[2017-10-18 10:04] #27041 closed

[2017-10-18 11:03] shaharmor opened #27042 "[6RC1] - Fatal error when trying to do a big scroll request"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.0.0 RC-1

**Plugins installed**: []

**JVM version** (`java -version`):
[code]
**OS version** (`uname -a` if on a Unix-like system):
`Linux elasticsearch-data-hot-002 4.11.0-1011-azure #11-Ubuntu SMP Tue Sep 19 19:03:54 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

**Description of the problem including expected versus actual behavior**:
We

[2017-10-18 12:04] dadoonet commented on #27042
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

Here the error is explicit:

[2017-10-18 12:16] jasontedor commented on #27042
This is not a question. This is a bug.

[2017-10-18 12:18] shaharmor commented on #27042
@dadoonet I know that it said the scroll size is too big, but why crash the entire process?

[2017-10-18 12:19] dadoonet commented on #27042
Yeah I'm sorry. I read it to fast and missed that super important part:

(shame on me)

[2017-10-18 12:44] jasontedor commented on #27042
@shaharmor It’s a bug, we are recursing too deeply when there are a lot of skipped shards.

[2017-10-18 13:54] #27027 closed

[2017-10-18 15:14] dakrone opened #27044 "Track Lucene segment used memory in circuit breaker accounting"
In order to make breakers more accurate, we should track the amount of memory used by Lucene segments in one of the breakers. This allows us to reduce the amount of "unknown" memory that is not tracked by the breakers and thus circuit-breakable.

[2017-10-18 15:37] cbuescher commented on #21407
I think closing this is okay, the verbose version should be fine for all we are trying to do now.

[2017-10-18 15:37] #21407 closed

[2017-10-18 21:39] jpountz commented on #27044
Does it also mean that we should also bump the threshold of the parent breaker?

[2017-10-18 22:54] mdmarek opened #27046 "Curl /_cat/indices causes null pointer exception"
**Elasticsearch version**
[code]

**Plugins installed**: []
[code]

**JVM version** (`java -version`):
[code]

**OS version**
[code]

**Description of the problem including expected versus actual behavior**:
Request indices via a curl, like so:
[code]

The expected result is a table of indices in the cluster, but instead a null pointer exception is returned:
[code]

**Steps to reproduce**:
 1. ssh

[2017-10-19 02:50] YDHui opened #27047 "kibana and elasticsearch not support x-pack roles when use tribe node"
Hi,when i use a single es cluster with kibana,it support add roles or modify roles by kibana or  by http api,but when i use tribe node with kibana, it can't support add roles with a error show that 'tribe node can't add roles',but i set a prefer node in tribe node settings.Is there a method to solve this problem?On the other way,is there some plan to support tribe node modify roles in es? THX

[2017-10-19 03:15] chendaoqiu opened #27048 "query search set preference custom value are ignored？"
Elasticsearch version: 5.4.1
Elasticsearch setup: 9 node cluster
JVM version: openjdk version "1.8.0_131"
cluster elasticsearch.yml:
cluster.routing.allocation.awareness.attributes: zone
cluster.routing.allocation.awareness.force.zone.values: zone1,zone2
node.attr.zone: zone1 or zone2

cluster node：
3 master node
4 data node
2 client node

Elastic search preference set to custom value, document st

[2017-10-19 03:32] dadoonet commented on #27048
Would be better asking this question on discuss.elastic.co where we can give a better support and provide more details like a full reproduction script to understand exactly what you are doing.

Thanks!

[2017-10-19 04:47] adichad commented on #23199
Also seen multiple times on a cluster running ES 5.5.1

[2017-10-19 05:48] tvernum commented on #27046
@mdmarek What was the status of your cluster when this was happening?

We recently fixed (https://github.com/elastic/elasticsearch/pull/26953) an issue (https://github.com/elastic/elasticsearch/issues/26942) where a NPE would occur if a primary shard was missing (and the cluster was red).

[2017-10-19 06:23] jasontedor commented on #27047
This repository is for open source Elasticsearch only. For X-Pack issues, please use the [forum](https://discuss.elastic.co).

[2017-10-19 06:23] #27047 closed

[2017-10-19 07:30] Vishnugmavelil commented on #25269
Hi team,
I'm getting the same error
`{
          "index" : "flux-logs-2017-03-13",
          "index_uuid" : "flux-logs-2017-03-13",
          "shard_id" : 0,
          "reason" : "IndexShardSnapshotFailedException[Failed to perform snapshot (index files)]; nested: IOException[Unable to upload object indices/1k3K1k9iSBmbryh6f4h52g/0/__2u]; nested: AmazonS3Exception[MD5 local [8rfAjlj9lrbT5EoTfkPqag

[2017-10-19 07:39] #27048 closed

[2017-10-19 08:25] danielmitterdorfer commented on #27033
You are right. The node info API shows:

[code]

The confusing part is that the default for the `cached` thread pool *type* is 5 minutes but the only thread pool that can use that thread pool type is the `generic` pool which overrides it to 30 seconds. I have removed that confusing part now from the docs.

[2017-10-19 08:25] #27033 closed

[2017-10-19 08:29] #23210 closed

[2017-10-19 08:52] dakrone commented on #27044
@jpountz I don't know yet. This will definitely need testing!

[2017-10-19 09:09] jpountz opened #27049 "Make it easier to optimize search with better analysis"
We have a number of filters that can help make search faster:
 - shingles for faster phrases
 - ngrams for infix search
 - edge n-grams for prefix/suffix search

Yet leveraging them to improve search speed typically makes Elasticsearch much harder to use since query parsers are not aware of whether these filters are in use.

To give the example of prefix search, I'm wondering whether we should add

[2017-10-19 10:06] #26944 closed

[2017-10-19 11:28] asafm commented on #24038
Happened to me too, so it's good that it was here :)

[2017-10-19 12:40] elasticmachine opened #29820 "Custom privilege definition on roles"
*Original comment by @jaymode:*

In order to support security for other components of the stack, we will provide a primitive on the roles that exist in elasticsearch. This primitive is a new entry or entries alongside the current indices and cluster entries. The entries would contain an array of arbitrary string values.

If other applications in the stack need the ability to get a view of the curr

[2017-10-19 13:12] nik9000 commented on #27049
I'd played with something like this a few years ago. It looked like it worked then but I never got around to finishing it. I do really like the idea of automatically optimizing these when the user asks for extra data to be indexed.

I'm curious what the advantage of using a prefix is to using a separate Lucene field under the covers. Lower overhead, certainly, but you have to make sure that things

[2017-10-19 13:25] jpountz commented on #27049
This is something we need to think about indeed. I initially thought about a single field so that you would not pay 2x the price for analysis, but maintaining multiple fields would avoid potential issues with wildcard/fuzzy indeed, as well as probably making things simpler, especially if you want to optimize for both phrase and prefix queries on the same field.

[2017-10-19 14:21] mdmarek commented on #27046
@tvernum Thank you for responding. I saw those other issues, which is why I posted this one. The version of Elasticsearch we are using, 5.5.2, seems like it should be covered by those fix.

In light of that, I though that this might be a regression, and the issue is not actually fixed.

The answer your question, the cluster is in green, and was in green when I ran those commands. I just ran it aga

[2017-10-19 14:27] pickypg commented on #27046
@mdmarek

That PR was merged only into 5.6.4, which is unreleased. It is happening because of this line:

https://github.com/elastic/elasticsearch/blob/v5.5.2/core/src/main/java/org/elasticsearch/index/search/stats/SearchStats.java#L211

For some reason the `scrollTimeInMillis` is negative for at least one index for some reason. Given that you have 500 primaries, I have no idea which index is at f

[2017-10-19 14:29] tvernum commented on #27046
The fix I referenced is in `5.6.4` which has not been released yet.
However, since your cluster is healthy and all shards are assigned, I don't think it is the same problem, we'll investigate further.

Thanks.

[2017-10-19 14:32] mdmarek commented on #27046
@pickypg Oddly enough I can run that command, here is the sequence:

[code]

[2017-10-19 14:33] mdmarek commented on #27046
@tvernum @pickypg Thank you for clarifying which version will contain the fix.

[2017-10-19 16:01] jasontedor commented on #27046
Can you share the output of `GET /_stats/search?level=shards?`?

[2017-10-19 17:25] mhko opened #27052 "Out of range query against field of long type gets clipped"
We are running ES v5.6.3. When issuing a search query against a field of long type, we noticed that values are clipped to LONG_MAX/MIN when the value is out of range for the long type.

To reproduce

1.
[code]

2. Index a document with Long.MAX_VALUE (9223372036854775807).

3. Issue a search against the field "long" with a out-of-range values

_search/?q=long:9223372036854775808
_search/?q=long:92

[2017-10-19 17:51] ppf2 opened #27053 "Include _index and _id for root search hit of nested -> top hits aggregation"
This issue (https://github.com/elastic/elasticsearch/issues/18091) reported against inner hits prompted a breaking change on 5.0+ (https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_50_search_changes.html#_inner_hits):

However, it looks like we missed one use case when implementing the breaking change.  The above also affects top hits aggregation under a nested agg.

Take th

[2017-10-19 18:33] moneydance opened #27054 "Elastic Search java.lang.ArrayIndexOutOfBoundsException at ToXContent on initialization of client"
Stack Trace:
Caused by: java.lang.ExceptionInInitializerError
        at com.fmrco.sai.sod.common.elasticsearch.config.ElasticConfig.client(ElasticConfig.java:33) ~[ElasticConfig.class:?]
        at com.fmrco.sai.sod.common.elasticsearch.config.ElasticConfig$$EnhancerBySpringCGLIB$$724c099.CGLIB$client$2(<generated>) ~[ElasticConfig.class:?]
        at com.fmrco.sai.sod.common.elasticsearch.config

[2017-10-19 18:58] nik9000 commented on #27054
Weird! Something about the exception is really funny. This is the [line](https://github.com/elastic/elasticsearch/blob/v5.5.2/core/src/main/java/org/elasticsearch/common/xcontent/ToXContent.java#L45) in the stack trace:
[code]

It doesn't look like it can throw that exception in a sane world.

What does "runs perfectly fine locally but breaks when I attempt to deploy the war on our server" mean? W

[2017-10-19 20:37] sschepens opened #27055 "RestHighLevelClient fails to parse ShardSearchFailure on Scroll"
When Scrolling, `ShardSearchFailures` returned by ElasticSearch return no `index`, this in turn makes `RestHighLevelClient` fail to parse them, because `Index` [requires name not to be null](https://github.com/elastic/elasticsearch/blob/5.6/core/src/main/java/org/elasticsearch/index/Index.java#L53)

We're seeing the following exceptions:
[code]

We're in the process of migrating our `TransportClie

[2017-10-19 20:48] moneydance commented on #27054
Yeah that line had me even more confused. I'm developing in spring boot. Running the jar locally in an embedded tomcat instance seems to work fine. Furthermore when I build the application into a war and run that jar on a local tomcat instance everything again is great. It's only when I go to deploy that war on the tomcat instance on our server do i get this error.

[2017-10-19 23:02] dakrone commented on #16763
With #26654 and #27039, the distribution problem should be fixed now.

This doesn't add the API to relocate shards between `path.data` paths though, that would be a different thing.

[2017-10-19 23:04] mdmarek commented on #27046
@jasontedor Here is the output of `GET /_stats/search?level=shards`

[code]

[2017-10-19 23:28] lukas-gitl commented on #22040
And this wasn't a feature request? Same question... I'll post back here if I find something for the next person :)

[2017-10-20 04:55] liketic commented on #16228
Hi @colings86 Is this still worth to contribute? Thanks . 😄

[2017-10-20 05:38] cexmmaqsood opened #27057 "Number of fragments in highlight field mapping"
**Elasticsearch version**: 5.4

**Description of the problem including expected versus actual behavior**:

In 1.7, I was able to define the property `number_of_fragments` in the field mapping. In the documentation examples I see, this property is always set in the query. When upgrading to 5.4, I started getting the following error:
`Mapping definition for [fields] has unsupported parameters:  [num

[2017-10-20 05:56] tvernum commented on #27057
Hi @cexmmaqsood

Elastic uses GitHub issues for tracking bugs and feature requests. For questions such as these, we ask that you use our [discuss forum](https://discuss.elastic.co/) instead.
The forum is better suited to providing this sort of support.

Since 5.4 is working as documented, I hope you dont mind if I close this issue, and leave the dicussion to the forums.

Thank you.

[2017-10-20 05:56] #27057 closed

[2017-10-20 07:21] Eduard3000 opened #27058 "Bug: Elastic 5.6.3, Pattern Matcher not matching"
My guess this is a Bug: In Elastic 5.6.3:
java -version
openjdk version "1.8.0_141"
OpenJDK Runtime Environment (build 1.8.0_141-8u141-b15-1~deb9u1-b15)
OpenJDK 64-Bit Server VM (build 25.141-b15, mixed mode)
OS: 4.9.0-4-amd64 #1 SMP Debian 4.9.51-1 (2017-09-28) x86_64 GNU/Linux
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"

Issue:
scripted field Pattern.Matcher noch working:
**Steps to reproduce**:

[2017-10-20 09:51] joachimdraeger commented on #25269
Hi,

the fix is in 5.4.3+

Cheers
Jo

On Thu, Oct 19, 2017 at 8:31 AM, Vishnugmavelil <notifications@github.com>
wrote:

[2017-10-20 09:54] arkkanoid opened #27059 "Use synonym in Keyword field"
Hi,
I'm trying to create a new mapping to include synonyms in a keyword field.  To do that, I use a normalizer:

    {
        "mappings": {
          "my_index": {
            "properties": {
              "name": {
                "type": "keyword",
                "normalizer": "synonym"
              }
            }
          }
        },
        "settings": {

            "analysis": {

[2017-10-20 10:47] ZombieSmurf commented on #22471
A workaround for the problem could be using `"ignore_malformed": true` for the fields with the bad data.

[2017-10-20 13:11] vrizopoulos commented on #24123
@jjfalling , any progress with this? s3 snapshot speed is still slower in comparison for both backup and restore on 5.6

[2017-10-20 13:54] ChrisGreenaway opened #27060 "Docs: UTF-8 character can take up 4 bytes"
**Elasticsearch version** (`bin/elasticsearch --version`): master

**Plugins installed**: N/A

**JVM version** (`java -version`): N/A

**OS version** (`uname -a` if on a Unix-like system): N/A

**Description of the problem including expected versus actual behavior**:

ignore-above.asciidoc says "If you use UTF-8 text with many non-ASCII characters, you may want to set the limit to 32766 / 3 = 1092

[2017-10-20 14:01] nik9000 commented on #27060
@clintongormley git blame says you wrote this. @ChrisGreenaway is right, 4 bytes is possible, but not common. It [looks like](https://en.wikipedia.org/wiki/Plane_(Unicode)#Supplementary_Multilingual_Plane) 4 bytes is fairly rare unless you are dealing with fairly special text. Or emoji.

[2017-10-20 14:10] cexmmaqsood commented on #27057
@tvernum I would think this is an issue just because it's something that works on a previous version, doesn't work on a newer version, and isn't documented.

[2017-10-20 14:14] nik9000 commented on #27059
@arkkanoid I don't believe there is a way to use `synonym` in a normalizer right now. I believe the problem is that synonyms are allowed to emit more than a single token which violates the `keyword` contract. It feels like it'd be ok if we could guarantee that the `synonym` filter doesn't emit more than one synonym. Which ought to be possible in theory.

Can you explain what you want to use it for

[2017-10-20 14:16] saijone opened #27061 "Snapshot failed in deleting missing files during cleanup"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 5.4.3

**Plugins installed**: [a custom repository plugin]

**JVM version** (`java -version`): 1.8.0_131

**OS version** (`uname -a` if on a Unix-like system): Oracle Enterprise Linux 6 with Redhat kernel

**Description of the problem including expected versus actual behavior**:
We are using a custom repository p

[2017-10-20 14:18] nik9000 commented on #27052
@mhko I'm with you, this seems strange. It feels like it shouldn't return the document at all.

[2017-10-20 14:31] arkkanoid commented on #27059
Im my case, I store the country in one field. For example it could be 'usa', 'united states' or 'united states of america'). I mapped this field as a keyword. Then I aggregate this data and it appears 'usa', 'united states' or 'united states of america' as different values.
I would like to count those values as the same one.

For this reason I though that using synonyms would be a good approach.
T

[2017-10-20 14:43] nik9000 commented on #27023
So normally we'd bounce you to the forums because this is totally "how types work" but it is a great example of why types are a problem. And you wrote such great reproduction steps it'd be a shame not to keep this here for people that find this issue in the future.

So, types are just a field added to the document and we automatically set up filters based on the URL. The whole point of types initi

[2017-10-20 14:43] #27023 closed

[2017-10-20 14:50] nik9000 commented on #27059
You could use a pattern replace char filter like I suggested. It feels like `synonym` should be fine here but it doesn't work. I've marked this for discussion so someone more familiar with the goals of normalizers can answer whether or not Elasticsearch should allow synonyms in normalizers in the future.

[2017-10-20 14:56] nik9000 commented on #22769
@Pyppe can you open an issue for the deprecation warning with the `; charset UTF-8` thing? That seems like a thing we should discuss and I think it deserves its own issue.

[2017-10-20 15:04] dadoonet commented on #27059
You can always use a `text` field with `fieldata: true` as a workaround IMO.

[2017-10-20 15:06] dadoonet commented on #27059
BTW may that this use case would fit in an `ingest-synonym` plugin which would be able to use a standard synonym file as input?

[2017-10-20 15:13] scottsom commented on #27052
As the author of the offending commit, I feel obligated to chime in.

There are unfortunate problems that happen to the precision when coercing types of such large numbers with truncation. I noted the lost precision of large doubles but overlooked the impact and breaking change on the handling of whole numbers beyond Long.MAX_VALUE, so that's my mistake.

While you could probably add some logic he

[2017-10-20 15:35] nik9000 commented on #27059
Yeah, I think that `ingest-synonym` would work well here. It isn't an option now because it doesn't exist, right?

[2017-10-20 15:36] garyui commented on #10959
I agree - closing and reopening the index , or restarting each node in the cluster, one by one, is very painful.  Anything that you can do to relieve this painful process would be well received!

[2017-10-20 15:43] dadoonet commented on #27059
No it does not exist. It's a proposal as you marked the issue as `discuss`. 😃

[2017-10-20 15:52] nik9000 commented on #27059
++

[2017-10-20 15:58] scottsom commented on #27052
Thinking about this some more, if #25861 does still want to accept "1.0", which `Long.parseLong` will reject then it would still have to fallback to something like `Double.parseDouble`, so not as simple as relying on the fix for that issue.

[2017-10-20 15:59] parapar opened #27062 "Plugins failed complaining on single index operations"
I have a plugin that is working on 5.2. The plugin performs extra processing on the search results. When migrating to 5.6.3 first the requests to the plugin failed because a validation layer says that the request to the endpoint of the plugin can not contain wildcards in the index name. As I want to use the plugin  over results from multiple indices I defined an alias for those indices and now the

[2017-10-20 16:27] nik9000 commented on #27062
It looks like from the stack trace your plugin is trying to write to multiple indices at one time in a single index request. That isn't supported. I can't see your plugin in the stack trace at all so it is hard to figure out what the actual problem is here.

For what it is worth the plugin APIs aren't considered stable. I've been saying for three years that we're two years away from having stable

[2017-10-20 16:34] parapar commented on #27062
Hi nik, thx for your comment. The plugin is a private one, but the trace does not show any component of the plugin, seems to be a new checking previous to the doExectute of the particular TransportAction of the plugin that is launching that error. The plugin is not writing anything, is only processing SearchRequests, the documentation says that search is multi index, and it has been so until now.

[2017-10-20 16:40] robin13 opened #27063 "[DOCS] Document data flow for reindexing"
I have learned that all of the documents flow over the coordinating node for the `_reindex` API.  This is not necessarily intuitive, and that knowledge may influence the decision of which node to send the query to.  Could this please be documented in the [appropriate page](https://www.elastic.co/guide/en/elasticsearch/reference/master/docs-reindex.html)

[2017-10-20 16:40] scibi opened #27064 "Unable to index IPv6 network address - '2001:db8::/48' is not an IP string literal."
**Elasticsearch version** (`bin/elasticsearch --version`):

[code]

**Plugins installed**:

[code]

**JVM version** (`java -version`):

[code]

**OS version** (`uname -a` if on a Unix-like system):

Debian 9.2

[code]

I'm trying to index IPv6 network addresses. Unfortunately ES returns an error: `'2001:db8::/48' is not an IP string literal`.

**Steps to reproduce**:

1. Create template:

[code]
2

[2017-10-20 17:35] Pyppe opened #27065 "Deprecation warning when having charset in the request `Content-Type`"
**Elasticsearch version**: 5.6.3

**Plugins installed**: []

**JVM version**: 1.8.0_144

**OS version**: macOS Sierra 10.12.6 (Darwin Kernel Version 16.7.0)

**Description of the problem including expected versus actual behavior**:
We get a deprecation warning if using `Content-Type: application/x-ndjson; charset=UTF-8` header for the Bulk API. That is, the server only checks if the `Content-Type

[2017-10-20 17:36] Pyppe commented on #27065
Opened this issue as a result of https://github.com/elastic/elasticsearch/issues/22769#issuecomment-338230868.

[2017-10-20 18:44] carrino commented on #23306
+1  Was using indices query with aliases, also.

[2017-10-20 20:28] scibi commented on #27064
Ok - I've checked documentation once again and looked at the code. IP networks are supported only in queries. So I'm I guess this issue should be changed to feature request...

[2017-10-20 23:53] carrino commented on #23306
In addition to the alias problem even if you pass all the indexes the alias could resolve to, I found another issue.

Before, the IndicesQuery would fully encapsulate the inner query and it would not get parsed on an index of the wrong type.  This means you could do a query one index with some fields and another index with another set of fields wrapping each in an IndicesQuery.

If you convert thi

[2017-10-21 08:40] HarelM opened #27067 "Maintain a NuGet package"
### Describe the feature ###
Maintain a [NuGet](https://www.nuget.org/) package.

**Justification**:
I'm using ES as part of my open source project.
The setup of this project requires the presence of ES.
In order for the setup instruction to be simpler I decided to store the binaries of ES as part of my repository (which is a bad practice) - I'm doing this since I write in C# and can't use java pa

[2017-10-21 09:20] jasontedor commented on #27067
We are not going to do this as this is not a common way of distributing Java-based software.

[2017-10-21 09:20] #27067 closed

[2017-10-21 10:09] jasontedor commented on #27046
Thanks for reporting, I see the issue. I will open a fix shortly.

[2017-10-21 10:31] jasontedor commented on #27046
I opened #27068.

[2017-10-21 10:32] jasontedor commented on #23675
This will be fixed by #27068.

[2017-10-21 10:38] marcdeop commented on #23675
Looking forward to seeing it fixed!

Thanks a lot @jasontedor

[2017-10-21 11:18] #27046 closed

[2017-10-21 11:19] HarelM commented on #27067
Thanks for the quick response!
I hope you won't mind if I maintain suck a package for my project needs.
Planning on calling it `IsraelHiking.ElasticSearch`.

[2017-10-21 11:19] jasontedor commented on #23675
Closed by #27068

[2017-10-21 11:19] #23675 closed

[2017-10-21 12:40] uschindler commented on #23306
Hi @carrino: I agree with you. I had the same problem. I don't fully understand why the Elasticsearch team deprecated the indices query. It is very useful and a "term query on the index field" is by far no replacement!!!

I'd suggest to unddo the deprecation and keep the query as is. Otherwise I have to write a plugin that restores the query, which is way stupid. The whole class is only a few line

[2017-10-21 13:18] Mpdreamz opened #27070 "DELETE document response on missing index has changed since 6.x beta"
Given `index` does not exist.

[code]

Used to return (atleast late as `6.0.0-alpha1`) :

[code]

But now returns:

[code]

[2017-10-21 15:39] eslearner opened #27071 "Elastic Search - White Space Analyzer Issue"
I would like to get help on using the whitespace analyzer.
Here is the code snippet I am using ....
-------------------------------------------------
curl -XPUT 'http://localhost:9200/myindex/' -d '
{
    "settings": {
        "number_of_shards": 1,
        "number_of_replicas": 0
                },
 "mappings":  {
  "wikipage": {
   "_all": {"type" : "string", "index" : "analyzed", "analyzer" : "

[2017-10-21 15:44] jasontedor commented on #27070
This is intended behavior, see #24518.

[2017-10-21 15:44] #27070 closed

[2017-10-21 16:06] jasontedor commented on #27071
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-10-21 16:06] #27071 closed

[2017-10-21 16:12] jasontedor commented on #27067
One note: it’s “Elasticsearch”, not “ElasticSearch”. 😀

[2017-10-21 16:18] russcam commented on #27067
@HarelM We are working on extracting the framework that we have as part of the .NET client for running integration tests against Elasticsearch. This framework can download Elasticsearch zip archives and run them. See https://github.com/elastic/elasticsearch-net/issues/2767

[2017-10-21 18:11] HarelM commented on #27067
This looks promising, but is 5 month old. :-/
Also I have a Windows service that runs on my production environment and a small cmd for dev so I only need the binaries themselves as a NuGet package. Although a code that downloads the relevant zip might be better, not sure though...

[2017-10-21 18:43] russcam commented on #27067
@HarelM let's have the discussion on the other issue please.

[2017-10-21 20:12] tsouza opened #27073 "Dangling indices living in non-data nodes are detected and auto-imported"
**Elasticsearch version** (`bin/elasticsearch --version`):
[code]

**Plugins installed**: []

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system): `Darwin Thiagos-MacBook-Pro.local 17.0.0 Darwin Kernel Version 17.0.0: Thu Aug 24 21:48:19 PDT 2017; root:xnu-4570.1.46~2/RELEASE_X86_64 x86_64`

**Description of the problem including expected versus actual b

[2017-10-21 20:59] HarelM commented on #27067
@russcam Sure, no problem, posted there my thoughts and current work.

[2017-10-22 00:29] nik9000 commented on #18160
@tlrx Finished this in 643eb286dcb18b4f2b59c0f5b3a554ffd2b35ca2. Thanks everyone doing all this work! 🍰

[2017-10-22 01:05] #18160 closed

[2017-10-22 01:27] geekpete commented on #18160
Amazing effort! Awesome.

On 22 Oct 2017 10:30 a.m., "Nik Everett" <notifications@github.com> wrote:

[2017-10-22 12:17] kkewwei commented on #24199
I see the source code and knows that the code loading those plugins is in node.java, In node.java, es will load plugin from ${path.home}/modules, so I copy the modules dictory from root code to it ,and it is solved.

[2017-10-22 14:32] liketic commented on #21489
Hi @jpountz @jasontedor Is this worth to contribute? Thanks in advance. 😄

[2017-10-22 14:55] liketic commented on #19078
@dadoonet Maybe this can be closed? 👍

[2017-10-22 14:56] liketic commented on #19040
@colings86 Can I continue to work on this? Thanks in advance. 😄

[2017-10-23 01:37] cicisoso commented on #15731
any plan updated about weighted average?  @jpountz  will you put this feature in next release?

[2017-10-23 06:55] jpountz commented on #15731
It's currently labelled as an `adoptme` meaning it is waiting for someone to pick it up.

Probably not.

[2017-10-23 07:33] #26967 closed

[2017-10-23 07:57] colings86 commented on #19040
@liketic if you are able to raise a PR for this then that would be great, thanks

[2017-10-23 07:59] colings86 commented on #26893
@PammyS We are not able to assign issues to users that are not part of the Elastic org but feel free to open a PR to fix this. Thanks

[2017-10-23 09:32] nmeisels commented on #9669
+1 This would be extremely useful

[2017-10-23 10:06] olcbean commented on #23774
Hi @Mpdreamz,
I noticed this issue has been open for a while, and since it was a quick fix I just put together a solution in PR #27077. Could you please take a look? Thanks!

[2017-10-23 10:17] olcbean commented on #23774
I quickly tested with `JAVA_HOME` ending with `/` or `\` and the service is correctly installed and started.

@Mpdreamz what issue did you encounter with  `/`?

[2017-10-23 10:44] javanna commented on #27055
hi @sschepens thanks a lot for opening this issue and for the analysis that alright headed me in the right direction. We did have an integration test for the `SearchContextMissingException` case but it didn't cover partial failures, where the target comes back null. I am going to open a PR with a fix.

[2017-10-23 12:11] spinscale commented on #27064
we support the [ip_range datatype](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/range.html), which allows you to store ranges in a slightly different way. Would that work for you?

We still could consider this a feature request to automatically create a range out of the above notation I assume.

[2017-10-23 12:11] #26938 closed

[2017-10-23 12:34] jpountz commented on #21489
I was going to answer "yes" but the current code in master makes me think that it might be fixed already as `EpochTimeParser` seems to handle the case that the time is provided using scientific notation. Unless the issue occurs higher up in the stack.

[2017-10-23 12:36] jgaedicke opened #27079 "use routing and preference of original SearchRequest in collapse innerhits requests"
We use the collapse feature with inner_hits as described here : https://www.elastic.co/guide/en/elasticsearch/reference/5.6/search-request-collapse.html

Is there a reason why the routing and preference settings of the main search request are not used for the inner hit queries. I think it would be a valid optimization to preserve these settings.

see org.elasticsearch.action.search.ExpandSearchPha

[2017-10-23 12:38] liketic commented on #21489
@jpountz Thanks.

[2017-10-23 13:52] AviralSri opened #27081 "Running elasticsearch source code in eclipse luna"
OS: Windows 7 Professional
Eclipse Luna, JDK 1.8, apache-maven-3.3

Hi,
I have imported elasticsearch 2.1 branch from github in eclipse luna. Then converted it into a maven project.
Configured eclipse to use external apache-maven-3.3.1
Java Compiler compliance level has been set to 1.8

During maven install I am getting below errors:

[INFO] Scanning for projects...
[INFO] ------------------------

[2017-10-23 14:07] dnhatn commented on #27081
@AviralSri Sorry to hear that you have the problem with the setup. Please ask this question on https://discuss.elastic.co where we can give you a better support. We use Github for bug reports and feature requests. Thank you.

[2017-10-23 14:07] #27081 closed

[2017-10-23 16:05] DaveCTurner commented on #27060
I agree - pretty common to see emoji these days. I opened #27083.

[2017-10-23 16:13] hub-cap commented on #27003
Hi, Id like to investigate a bit more to see if this is a bug. Can you give me a little more information with the code that does the alias creation? Does this index already exist, or are you creating it in the code as well? If you are creating it, then please post as much of that code as well.

If this is an existing index, I would like to know what the values of the strings in the above snippet f

[2017-10-23 17:05] RTodorov opened #27084 "Add lookup capability to geo_distance query / Support `lat/lon` as lookup field"
Since `more_like_this` query does not support geospatial fields, one way of implementing it would be to use a normal query where we could "join" the fields via lookup.

For example, I have a restaurant that makes sushi and I want to find related places nearby. I'd like to be able to do something like this:

[code]

This query means that I'm looking for places with the same category as sushiplace12

[2017-10-23 18:06] RomainXie commented on #21648
@borissmidt
Try to save a template with {{#tojoin}} will get a error back.
My template is

[code]

The error message:

[code]

After change the template like below, the syntax is correct. But I can not get the result.

[code]

A test call:

[code]

Is something I missed?
My version is 5.6.3

Thanks

[2017-10-23 18:35] dnhatn commented on #21648
@RomainXie please ask questions at https://discuss.elastic.co/. Thank you.

[2017-10-23 19:35] dnhatn commented on #25053
I think this should be closed by https://github.com/elastic/elasticsearch/commit/84742690cdfaa2b632e23646e5dca1007c0fe81e

[2017-10-23 19:35] #25053 closed

[2017-10-23 21:40] morphers82 opened #27088 "bulk update with scripted_upsert returns document_missing_exception"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.0.0-rc1
Standard Ubuntu 16.04 Install

**Description of the problem including expected versus actual behavior**:
bulk update with scripted_upsert returns document missing error

{"took":1,"errors":true,"items":[{"update":{"_index":"kp","_type":"kp","_id":"1","status":404,"error":{"type":"document_missing_exception","reason":"[kp_vol][1]:

[2017-10-23 22:01] morphers82 commented on #27088
to make it work, i had to put the "upsert" with empty array into the post:

{"scripted_upsert":true,"script":{"id":"keywordsalesvolume","params":{"kpid":1}},"upsert":{}}

[2017-10-23 22:01] #27088 closed

[2017-10-23 22:05] talevy commented on #24024
I've opened #27089, hope to close all the holes in it soon and push this forward

[2017-10-23 23:21] rcrezende commented on #26780
This comes from a feature in a custom ES ui-client when we rewrite the user defined dates with templates.

For instance, a template could be:
```{{timefilter.time.from}}||/d+1d```

Then the template variable ```{{timefilter.time.from}}``` would be resolved to whatever the user selects in the UI. That allows users to define generic expressions for date range filters that would be dynamically resolv

[2017-10-24 05:19] AviralSri commented on #27081
Ok, dnhatn. I will do so

[2017-10-24 07:13] javanna commented on #27037
I think that both `read_kilobytes` and `write_kilobytes` should be rather printed out as `byteSizeField`s so that they adhere to the `human` flag. That would make them be bytes as default and optionally an additional human-readable field.

[2017-10-24 07:41] koundinyagoparaju commented on #11432
+1, We too are facing a similar issue due to self-referential relations. Hoping to see this feature soon!!

[2017-10-24 08:36] original-brownbear commented on #26990
Gave this a go in https://github.com/elastic/elasticsearch/pull/27072 :)

[2017-10-24 08:37] original-brownbear commented on #25601
Gave this a go in https://github.com/elastic/elasticsearch/pull/27075 :)

[2017-10-24 08:50] #27060 closed

[2017-10-24 09:14] subbu-sw commented on #26576
Same is noticed on es 5.5.0 as well. Has anyone identified any workaround, or s3-client settings that will prevent these failures?
`
{
  "snapshots": [
    {
      "snapshot": "curator-20171023215205",
      "uuid": "k5FKxN4USoiYS-c6Uj7vBg",
      "version_id": 5050099,
      "version": "5.5.0",
      "indices": [
        ...,
      ],
      "state": "PARTIAL",
      "start_time": "2017-10-23T21:5

[2017-10-24 09:49] DaveCTurner commented on #27060
Thanks for the report, @ChrisGreenaway, much appreciated.

[2017-10-24 09:51] ChrisGreenaway commented on #27060
You are welcome. Thanks for fixing it.

[2017-10-24 10:05] thkoch2001 opened #27092 "GCS repository does not use new handlers for failed request for every new request"
Google Cloud Support was contacted by a customer who sees many 503 errors when doing snapshots to Google Cloud Storage (GCS). We believe to have tracked down the bug to an incorrect initialization of HttpRequest in [GoogleCloudStorageService](https://github.com/elastic/elasticsearch/blob/master/plugins/repository-gcs/src/main/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageService.java).

[2017-10-24 10:07] clintongormley commented on #11432
I'll leave this open but, to set expectations: it is highly unlikely that we will be able to support self-referential types, as it would require coming up with a whole new way of storing parent-child relationships.

[2017-10-24 10:15] clintongormley commented on #27004
@dakrone Do you have any thoughts about how to implement this?

[2017-10-24 11:01] mayya-sharipova commented on #26472
Will this API also allow to go backward certain doc, for example using `search_before`?  or for retrieving a previous page, we can use `search_after` with a reverse sort order?

[2017-10-24 13:15] dnhatn commented on #26840
Fixed by https://github.com/elastic/elasticsearch/pull/27087

[2017-10-24 13:16] jasontedor commented on #26840
This is not fixed, the build is still failing with Gradle 4.2. We have to figure out whether it's a problem on our end, or Gradle's end and address either way.

[2017-10-24 13:48] cbismuth commented on #13260
Seems to be a good starting point for contributing :+1:

[2017-10-24 14:13] jpountz commented on #26472
I think your idea to go backwards is the right one. Alternatively, clients could remember sort values associated with previously visited pages so that they can go back efficiently. So we don't need to add any new API/option?

[2017-10-24 15:01] bschneiders commented on #18406
I encountered this issue on 5.3.3-1 on RHEL 7.4 when relocating multiple ES directories.  I was modifying jvm.options to add -Djava.io.tmpdir=... with a custom directory.  I eventually solved it when I realized that the system still uses /etc/elasticsearch/jvm.options on RHEL7 even if you relocate default.path.conf.  I was modifying copies of jvm.options in my new configuration directories at firs

[2017-10-24 15:54] jasontedor commented on #18406
In 5.x you can set `ES_JVM_OPTIONS` to point to a custom jvm.options file. In 6.x we will do this automatically based on the value of `ES_PATH_CONF` (the only way to customize the configuration path location there).

[2017-10-24 16:11] mrunalpagnis-RS commented on #23218
how to resolve this?

[2017-10-24 16:40] dakrone commented on #23218
@mrunalpagnis-RS the fix is available in 5.2.2+, 5.3.0+, and 5.4.0+, if you upgrade it should be resolved.

[2017-10-24 16:52] scuhzq opened #27097 "exit(1)"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2017-10-24 17:01] dakrone commented on #27004
Definitely!

Since `TransportRolloverAction` runs on the master node, it should be able to
access `ClusterInfoService` directly, where we keep periodically-updated sizes
for all shards in the cluster. I'd grab all the shards for a particular index
and average the size of the primary and replica to account for merge overhead.

Personally I think inspecting the `/_segments` sizes is going to be over

[2017-10-24 17:02] dakrone commented on #27097
It appears this issue was opened in error, closing.

[2017-10-24 17:02] #27097 closed

[2017-10-24 18:29] lukas-gitl opened #27098 "Incorrect Documentation: nested_path"
It is not clear when one should use `nested_path`. We've had some issues with this. More details in next post.

[2017-10-24 18:38] CpuID opened #27099 "Cross Cluster Search: expose remote list of indices"
It would be ideal if the `/_cat/indices` and/or the `/.../_aliases` + `/.../_mapping` endpoints supported Cross Cluster Search to expose available indices etc.

### `_aliases` and `_mapping`

These ones should be pretty straightforward.

Current scenario example:

[code]

Ideally you would want something like:

[code]

### `_cat/indices`

You may need to add some kind of parameter for `/_cat/indic

[2017-10-24 18:48] eskibars opened #27100 "Improve error message for missing template pattern"
**Describe the feature**:
We currently provide a fairly unhelpful message when somebody is missing `index_patterns`

[code]

returns

[code]

The message is fairly difficult to decipher as a new user.  It made more sense in 5.x when the name of the parameter was `pattern`, but in 6.x, we've moved to `index_patterns`.  The `1` also isn't clear to a new user.

**Elasticsearch version** (`bin/elastic

[2017-10-24 18:55] rahul-contentsphere opened #27101 "Disk space full, addition of a new disk and data folder path in elasticsearch.yml does not start ES"
**Elasticsearch version** (`bin/elasticsearch --version`): 2.1.1

**Plugins installed**: [No]

**JVM version** (`java -version`):  1.8.0_91

**OS version** (`uname -a` if on a Unix-like system): SLES 11 SP4 : Linux elastic-test 3.0.101-63-default #1 SMP Tue Jun 23 16:02:31 UTC 2015 (4b89d0c) x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
I

[2017-10-24 18:55] CpuID commented on #27099
Technically the same as `/.../_aliases` would be useful for `/.../_mapping` as well.

[2017-10-24 20:00] rcrezende opened #27103 "have an query/aggregation execution plan and avoid dispatch requests to nodes/shards whenever is possibl"
By running a top_hits aggregation I realized that some query optimizations could be applied.

I ran:
[code]

and sorted the top hit by field_xyz, which is not on every index.
But as part of the request we filter with:

[code]

But response fails execution on every shard when field_xyz is not present.

Would be possible to not even dispatch the query to those shards since no record will match anywa

[2017-10-24 21:11] MacMcIrish commented on #27098
The issue was actually not related to boolean search, but to nested search. Here is a short outline of the problem and our solution.

We would like to request the documentation (https://www.elastic.co/guide/en/elasticsearch/guide/current/nested-sorting.html) to be updated to better reflect how and when someone should use the `nested_path`

It's mentioned that the field is mandatory in https://www.

[2017-10-24 22:11] mayya-sharipova commented on #26472
Right, we don't need another API/option for going backwards if docs are returned in the stable sorted order; in this case we can just reverse the the sort order.
When you were saying "clients could remember sort values associated with previously visited pages", what are these "sort values"? Are these docs as in `search_after` parameter?

[2017-10-25 03:12] shanehenry commented on #26889
I am still seeing this issue when running 'sudo apt-get update && sudo apt-get install elasticsearch'

[2017-10-25 03:19] jkryanchou commented on #2902
+1

[2017-10-25 08:30] #26028 closed

[2017-10-25 08:36] javanna commented on #15472
Quick update: the Java high-level REST client no longer requires a `ThreadPool` but rather a lighter weight `Scheduler` which wraps a `ScheduledThreadPoolExecutor`. Given that we don't intend to spend time on fixing this in the transport client, and the current solution for the REST client is good, I am closing this issue.

[2017-10-25 08:36] #15472 closed

[2017-10-25 08:37] s1monw commented on #27004
@dakrone I am not sure this is what we want here. We would like to allow the user to specify an index size in order to roll over but in oder to make this work well we need to translate this to # of documents since we would love to know what would be the size of an optimized single shard index since this is the goal here IMO. So ClusterInfoService won't be enough for this unless we add an `estimate