[2016-08-30 08:30] MyNameIsFei opened #20227 "how can i"
**Elasticsearch version**:

**Plugins installed**: []

**JVM version**:

**OS version**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

[2016-08-30 08:32] MyNameIsFei opened #20228 "how can i install marvel in windows？"
`E:\kibana-4.5.4-windows\bin>kibana plugin -i marvel -u file:///E:/kibana-4.5.4-windows/temp/marvel-2.3.4.tar.gz
Installing marvel
Attempting to transfer from file:///E:/kibana-4.5.4-windows/temp/marvel-2.3.4.tar.gz
Error: ENOTFOUND
Plugin installation was unsuccessful due to error "No valid url specified."`

[2016-08-30 08:35] #20227 closed

[2016-08-30 08:36] ywelsch commented on #20228
GitHub is reserved for bug reports and feature requests. The best place
to ask a general question is at the Elastic Discourse forums at
https://discuss.elastic.co

[2016-08-30 08:36] #20228 closed

[2016-08-30 08:37] chenchunji commented on #16713
-

1.

[2016-08-30 08:53] zaobao commented on #16838
Even if nested aggregation is treated as a single bucket aggregation in ES, this request still doesn't work because "Ordering on a single-bucket aggregation can only be done on its doc_count".

[2016-08-30 09:14] ywelsch commented on #18919
Closed by #20023

[2016-08-30 09:14] #18919 closed

[2016-08-30 09:40] jasontedor commented on #20225
This has already been addressed in master by #20207, but will not be backported to 2.4 (it's not a bug, it's not a new feature, just an annoyance when you're looking at thread names).

[2016-08-30 09:40] #20225 closed

[2016-08-30 09:42] jasontedor commented on #20224
This has already been addressed in master, and will not be backported to 2.4 (there is no bug here).

[2016-08-30 09:42] #20224 closed

[2016-08-30 12:52] sfcgeorge commented on #20180
I've tried 2.3.5 with 6 more test cases and this does appear to be fixed. Still can't figure out what triggers it on 2.2.2.

I don't know your backport policy but I guess this can probably be closed.

[2016-08-30 12:55] jasontedor commented on #20180
Thanks for checking on 2.3.5 @sfcgeorge. The 2.2 line will not see a backport for this. Currently we are maintaining the 2.3 series and will continue to do so until the 2.4 series is released.

[2016-08-30 12:55] #20180 closed

[2016-08-30 13:16] MaineC opened #20231 "Add support for templating to rank-eval"
Problem: In it's current state the rank-eval request API forces the user to repeat complete queries for each test request. In most use cases the structure of the query to test will be stable with only parameters changing across requests, so this looks like lots of boilerplate json for something that could be expressed in a more concise way.

[2016-08-30 13:19] MaineC commented on #20231
Proposal: Use templating/ ScriptServices to enable users to submit only one test request template and let them only specify template parameters on a per test request basis.

Input from @martijnvg: "So in general, if templating is required, an api can just call the ScriptService and create a Script with ‘mustache’ as language. This way there is no hard compile time dependency to mustache. But when

[2016-08-30 13:21] MaineC commented on #20231
Example of an API request:

    GET /index/type/_rank_eval/template
    {
        "spec_id": "human_readable_id",
        "template": "string that constitutes a search request template",
        "requests": [{
            "id": "human_readable_id",
            "params": { ... params to the request to check ... },
            "ratings": { ... mapping from doc id to rating value ... }
         }],

[2016-08-30 13:29] abeyad commented on #20148
@s1monw yes, i'm closing, we enhanced the implementation of this delete in #20220

[2016-08-30 13:29] #20148 closed

[2016-08-30 13:41] KIVagant commented on #10671
Thank you, @imsaar . I got same problem on Debian 8 with ES 1.6.2 started with openjdk "1.8.0_102"

[2016-08-30 14:05] neilime commented on #9571
Hi,

I have the same issue, please will it be fixed ?

An example to reproduce the issue :

Mapping :
[code]

Data :

[code]

Elasticsearch query :

[code]

What we expect to retrieve from elasticsearch response :

* number = xxxx                                      => 4        (participations 1,2,4,5)
* number_empty                                     => 1        (participation 3)
* participatio

[2016-08-30 14:08] clintongormley commented on #19948
@tpraizler you wanted a way of measuring how much reduction you had made in the mappings. Just compare the size of the responses

[2016-08-30 14:15] #20064 closed

[2016-08-30 14:19] djschny commented on #17614
For folks that have small datasets this is still useful and does not hurt anything to my knowledge. I do not understand why this is being removed as well. I plead to have this kept and enhance the docs and/or add a check based upon the size or cardinality of the field perhaps.

[2016-08-30 14:28] AGirin opened #20232 "Elasticsearch unstable after upgrade from 1.7.2 to 2.3.5 - multiple issues"
**Elasticsearch version**: 2.3.5

**Plugins installed**: [head, kopf, cloud_aws, marvel, license]

**JVM version**: 1.8.0_51

**OS version**: CentOS 6.6

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. Cluster has 21 nodes. Previous version (1.7.2) worked with no issues for more than a year.

What we see is huge spike in write IOPS per node (5

[2016-08-30 14:48] jasontedor commented on #20232
These looks like general questions rather than a bug report and Elastic reserves GitHub for verified bug reports and feature request. The best place to ask general questions is the [Elastic Discourse forums](https://discuss.elastic.co).

This is probably due to fsyncing per request. If you're not using bulk requests, use bulk requests. If are you using bulk requests, you could look at increasing t

[2016-08-30 14:48] #20232 closed

[2016-08-30 15:16] centic9 commented on #20163
I could actually come up with sort of a small workaround for "Long" and "Date" fields when using terms-aggregations via the "value_type" that is originally intended for scripts, but is evaluated always and thus allows to "coerce" the type of the value accordingly.

It has the "side effect" of making the returned value for the "missing" value as "Long" even if the field is not yet created as field

[2016-08-30 15:28] AGirin commented on #20232
So... How do we fix init script? I looked at all the messages in #19297 and followed ALL references to other  numerous issues and have yet to see the fix. Is this still an open issue? Hard to believe it is not fixed - the problem was reported in 2015.

[2016-08-30 15:31] jasontedor commented on #20232
Yes.

That's not how things work.

[2016-08-30 16:12] dakrone commented on #14046
@haizaar that's the intention, yes

[2016-08-30 16:37] clintongormley commented on #19885
I think you mean that the candidate should have at least 4 (50%) of the skills mentioned in the job (8)?

This you can do by adding a field to the job document specifying how many skills are required, eg:

    PUT jobs/job/1
    {
      "skills": [
        "one",
        "two",
        "three",
        "four"
      ],
      "number_of_skills": 4
    }

    PUT jobs/job/2
    {
      "skills": [

[2016-08-30 16:37] #19885 closed

[2016-08-30 18:09] jeffknupp commented on #20031
Will this block the 5.0 release (it seems as though it should, since resiliency is one of the features being heavily touted in the new version)?

[2016-08-30 18:28] stianl opened #20236 "Test classes in default package using ElasticsearchIntegrationTest throws NPE"
**Elasticsearch version**: 1.6.2 (same code present on master branch)

**Plugins installed**: []
**JVM version**: NA
**OS version**: NA

**Description of the problem including expected versus actual behavior**:

Test classes in default package that subclasses `ElasticsearchIntegrationTest.java` will throw an NPE in `LoggingListener.java`

**Steps to reproduce**:
 1. Create a test class in the defa

[2016-08-30 18:31] apidruchny commented on #20161
There is a very easy workaround (adding "filter" element under "not"). I am going to close this issue. Thanks for looking at this issue. Following works:
[code]

[2016-08-30 18:31] #20161 closed

[2016-08-30 18:38] s1monw commented on #20236
can you create a PR for this against master?

[2016-08-30 19:28] golubev opened #20237 "Add support for "missing" parameter to the terms aggregation "order""
It would be nice to be able to use `missing` parameter when ordering a terms aggregation - just [like the  `missing` parameter in the `sort`](https://www.elastic.co/guide/en/elasticsearch/reference/2.3/search-request-sort.html#_missing_values).

My use case: I want to order my buckets by the `min_price` for each bucket
[code]
But when I am trying to do that, I get:
[code]
Some announcements (bucke

[2016-08-30 19:57] stianl commented on #20236
Yes, I'll do that.

[2016-08-30 20:37] jsmilkstein opened #20238 "Upgrading to ES2.3.4 caused date field mapping to change"
**Elasticsearch version**: 1.5.2 -> 2.3.4

**Plugins installed**: None

**JVM version**:

**OS version**: CentOS 7 (various)

**Description of the problem including expected versus actual behavior**:
We had a date field which mappings enforced through applying a template like:
"normalDate": {
                  "type": "date",
                  "format": "dateOptionalTime",
                  "store

[2016-08-30 20:53] dakrone commented on #20238
@jsmilkstein I believe this is because the mappings have been updated to include that format, which was implicit before (it's now explicit), see: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/breaking_20_mapping_changes.html#_default_date_format

1.5 supported sending epoch_millis before, it was just never returned in the mapping.

[2016-08-30 20:53] #20238 closed

[2016-08-30 21:02] jsmilkstein commented on #20238
Then you would suggest being explicit with our date format in the template file now?  It’s just strange because it was never that way before, and isn’t with new indices, but all existing indices got that format appended.

From: Lee Hinman [mailto:notifications@github.com]
Sent: Tuesday, August 30, 2016 2:55 PM
To: elastic/elasticsearch <elasticsearch@noreply.github.com>
Cc: Jarod Smilkstein <Jarod

[2016-08-30 21:05] dakrone commented on #20238
If you are able, being explicit will always be easier to reason about than dynamic mapping

This is so they did not suddenly break a client that might be sending timestamps like `{ "normalDate": 182991892 }`, the mappings are just explicit about supporting this now (they always did in 1.5)

[2016-08-30 21:55] rjernst opened #20240 "Rest test runner should be stricter on test file resolution"
The rest test runner currently tries all kinds of variations on paths to find yaml tests. But we only ever actually have tests under `/rest-api-spec/test`, and we don't use a mix of filesystem and jar based resolution (at least since switching to gradle). We should remove this multiple ways of resolving and keep it simple.

[2016-08-30 22:02] jasontedor commented on #19930
We [do not support](https://www.elastic.co/blog/elasticsearch-the-server) embedding Elasticsearch nodes.

[2016-08-30 22:02] #19930 closed

[2016-08-30 22:03] jasontedor commented on #19305
We [do not support](https://www.elastic.co/blog/elasticsearch-the-server) embedded Elasticsearch nodes.

[2016-08-30 22:03] #19305 closed

[2016-08-30 22:03] jasontedor commented on #16726
We [do not support(https://www.elastic.co/blog/elasticsearch-the-server) embedded Elasticsearch nodes.

[2016-08-30 22:03] #16726 closed

[2016-08-30 22:14] djschny opened #20241 "handling of json payloads with duplicate field names"
**Elasticsearch version**: 5.0.0-alpha5

**Plugins installed**: []

**JVM version**:

**OS version**:

**Description of the problem including expected versus actual behavior**:

Considering the following request/response:

[code]

[code]

Elasticsearch accepts the request and Elasticsearch accepts the request with a "last one wins" rule.

If this command is placed in Kibana Console, then it shows

[2016-08-30 22:32] dakrone commented on #20241
I *think* I recall us discussing it and enabling the detection on Jackson was a non-trivial amount of overhead for JSON parsing, but maybe someone else knows the history more.

Related: https://github.com/elastic/elasticsearch/issues/19614

[2016-08-30 23:34] rayward commented on #8547
Would love to see this attached to the slow query log so that I can trace bad queries back to an originating http request.

[2016-08-31 00:03] ruckc commented on #19930
@jasontedor since when?  I've been embedding elasticsearch for four years now.  Looking at elasticsearch's history ["site:elastic.co embedded"](https://www.google.com/search?q=site%3Aelastic.co%20embedded) there is a significant amount of information floating about how to do it for previous versions, and existing external open source products doing it.  When was embedding deprecated?

[2016-08-31 00:12] rjernst commented on #19930
@ruckc In the blog post @jasontedor linked to: https://www.elastic.co/blog/elasticsearch-the-server

[2016-08-31 00:22] ruckc commented on #19930
@rjernst Thanks. I love how that was written today.  Didn't see the original link due to color/contrast issues.

[2016-08-31 01:12] jasontedor opened #20243 "Update logger usage check for Log4j 2"
The logger usage check was designed for the ESLogger API, which was a simplified wrapper around the Log4j API. This check is useful, but the ESLogger wrapper will be removed after #20235 instead exposing the Log4j 2 API directly. The Log4j 2 API is significantly more complicated and the logger usage check will need to be updated for this API.

[2016-08-31 02:32] itplayer commented on #7513
I hope this setting can be a cluster-wide setting.
The reason is, if a node client setting is true(or lack of setting), but other nodes in cluster is false, then unexpected result happen.

[2016-08-31 03:16] garyelephant opened #20245 "corrupted disk should be removed automatically if index couldn't be written in for a long time"
If disk encounters disk error ,such as input/output err,  this corrupted disk should be removed automatically from es node if index couldn't be written in for a long time.

Currently ops must update config and restart es node.

[code]

[2016-08-31 03:40] childe opened #20246 "standard analyzer bug when processing "number,number" ? [2.3.2]"
**Elasticsearch version**: 2.3.2

**Plugins installed**: []

**JVM version**: sun 1.8.0_77

**OS version**: CentOS release 6.4 (Final)

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

1. create index

[code]

2. test analyzer with _analyze api

[code]

3. post one document to testindex
[code]

4. terms aggregation

[code]

[2016-08-31 05:30] ceeeekay opened #20247 "5.0.0-alpha5 - Strange _cat/indices output"
**Elasticsearch version**: 5.0.0-alpha5
**Plugins installed**: none
**JVM version**: openjdk-8-jre-headless:amd64
**OS version**: Ubuntu 14.04.4

When checking _cat/indices, some indices were listed without doc and store.size stats. At first glance these appear the same as closed indices, but health and stats columns show green/open.

[code]

Closing and opening the affected indices resolves the i

[2016-08-31 05:44] martijnvg commented on #20171
I removed the discuss label here. Since the proposed change here makes sense to me.

[2016-08-31 05:50] #2960 closed

[2016-08-31 07:11] ctrimble opened #20248 "Artifact IDs under org.elasticsearch.client too generic."
The Maven Artifact IDs under [org.elasticsearch.client](http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.elasticsearch.client%22) are very generic and could cause naming conflicts.  Most other elasticsearch artifacts are prefixed with `elasticsearch-`.  These artifacts should follow the same practice.

Version: 5.0.0-alpha5

This issue is related to this [discussion](https://discuss.elastic.c

[2016-08-31 07:38] javanna commented on #20241
I think that it's very helpful if the kibana console shows this as an error, regardless of what elasticsearch does with this request. We said we would try to see whether we can start rejecting such requests but we first have to measure how big of an impact it is, and/or maybe explore doing it only for some apis where performance matters less. Closing in favour of #19614 .

[2016-08-31 07:38] #20241 closed

[2016-08-31 07:54] jpountz commented on #2960
Thanks @martijnvg !

[2016-08-31 08:16] synhershko commented on #11346
Hey, has there been any progress on this? ideally we'd want to trust ES in timing out queries, but given these finding we just can't and do crazy things client-side instead.

[2016-08-31 09:22] jpountz commented on #20246
This is actually a "feature" of the _analyze API which splits the input text on commas, so it sees your input text as a two-values array: ["106614", "106607"]. The `standard` analyzer analyzes `106614,106607` down to a single token, is the aggs suggest.

[2016-08-31 10:40] sarathrs opened #20250 "Request Circuit Breaker not limiting memory usage"
**Elasticsearch version**: 2.3.4

**Plugins installed**: []

**JVM version**: 1.7.0

**OS version**: Ubuntu 12.04.5 LTS, Also reproduced in Centos

**Description of the problem including expected versus actual behavior**:
We are using elasticsearch 2.3.4 with 1GB of heap allocated. When we execute elasticsearch dismaxquery which has 200K multimatch queries memory usage of elasticsearch inreases to

[2016-08-31 10:53] slava-vishnyakov commented on #4847
So, is this available only in `v5.0.0-alpha5` ? No backport?

[2016-08-31 11:25] clintongormley commented on #20231
I'm on the fence about this one.  Should it be a single template specified at the top level, or should you be able to specify a different template per request.  Certainly the former would be a common use case, but the latter is more flexible (if more verbose).  But perhaps a UI would solve the verbosity.

[2016-08-31 13:09] failedguidedog commented on #17724
@clintongormley Just to let you know, I'm having this issue with repositories for older elasticsearch releases (specificaly 1.7). Unfortunately I can't use a newer version at this time, so a fix for those repos would be very much appreciated.

[2016-08-31 13:12] jpountz commented on #4847
This required a very large refactoring (see diif stats on the PR) so I am leaning towards not backporting in order to not destabilize the 2.x series so close to the release of 5.0.

[2016-08-31 13:16] slava-vishnyakov commented on #4847
@jpountz, got it, thanks! Very useful feature indeed!

[2016-08-31 13:56] Hossrod commented on #4847
Woot, thanks!!

[2016-08-31 14:17] childe commented on #20246
@jpountz I do not think _analyze API always splits input on commas. You can use any analyzer in _analyze API and they will give different results. Both my test and the example in document (https://www.elastic.co/guide/en/elasticsearch/reference/2.3/indices-analyze.html
) proves this.

I am curious why the standard analyzer behaves differently between the 2 API.
And I think _analyze API should give

[2016-08-31 14:47] martijnvg opened #20257 "Typeless parent/child"
Related to #15613

Types are going to be removed. The parent/child is tightly coupled to types, so that needs to be changed. Parent/child still needs to distinguish between a parent or a child document, so the idea is that a new meta field type name `_join` will be allow that. This new field would replace `_parent` meta field. Each `_join` meta field type would maintain an indexed field to disting

[2016-08-31 14:56] jpountz commented on #20246
It does split on commas, try to run this for instance:

[code]

It returns two tokens in spite of the fact that the keyword analyzer was used.

[2016-08-31 15:02] #19832 closed

[2016-08-31 15:09] clintongormley commented on #20245
Duplicates of #18417 and #18279

[2016-08-31 15:09] #20245 closed

[2016-08-31 15:15] clintongormley commented on #20250
@danielmitterdorfer could you take a look at this please?

[2016-08-31 15:34] clintongormley commented on #20246
Hmmm I don't like this feature much, although it is consistent with other multi-valued query string params.  I'm tempted to remove the comma splitting.  Multiple values for `text` can always be provided in the request body.

[2016-08-31 15:58] #20216 closed

[2016-08-31 16:21] markharwood commented on #11346
The timer has a default resolution which can be configured using the setting `thread_pool.estimated_time_interval`. The error margins for measuring elapsed time are therefore subject to +/- errors of this value. The default setting is 200ms so the results are as expected for the given request.

[2016-08-31 16:21] #11346 closed

[2016-08-31 16:28] mkw commented on #19055
I have configured an anonymous user for shield with limited monitoring privileges.  Consequently,  I get back a 403, not a 401, when making anonymous requests.  This prevents the commons http client from responding with the correct credentials.

There should be a way to force pre-emptive authentication, either by setting credentials in the configuration manually (and letting the RestClient manage

[2016-08-31 16:41] imotov opened #20259 "Phrase suggester test in docs fails with wrong score"
It [failed](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=opensuse/109/console) with the error below and it's not reproducible. Opening an issue hare in case it's a real race condition that affects suggester scoring.

[code]

[2016-08-31 16:45] childe commented on #20246
@jpountz @clintongormley  Thanks so much!
I finally understand what you mean :)  My poor English!

[2016-08-31 17:03] jaymode commented on #19055
@mkw you can also set `shield.authc.anonymous.authz_exception: false` in your `elasticsearch.yml` to have the response be a 401 instead of the 403. This should allow you to use the client as is today.

[2016-08-31 17:31] javanna opened #20262 "ByteSizeValue supports values that can't be serialized"
I noticed that `ByteSizeValue` allows any input value, including negative values.
 When it comes to serializing it though, we use `writeVLong` which starts with an assertion `assert i >= 0;`. I suspect this is the reason why in some cases we do not use `ByteSizeValue` instance but plain long values instead, in places like `OsStats` (because we default to `-1` which cannot be serialized) and we end

[2016-08-31 17:31] pickypg opened #20263 "Support println in Painless"
Without a full debugger, the fallback approach for Painless is currently to throw exceptions with messages that the scripting engine has to catch. This can be limiting without planning (maintaining a string and throwing at the end) ahead since it's one-and-done.

It would be convenient to support `println` as a pass-thru to `System.out` (if not a the internal logger, but that touches the file syst

[2016-08-31 17:34] pickypg opened #20264 "Support assert in Painless"
Similar to #20263, but as a simplification of the process for throwing an exception. If we do choose to allow assertions, then we should only allow them in the form that supplies a string with them.

[code]

This would make it easier for end users to throw exceptions without having to try to figure out what exception(s) are supported.

[2016-08-31 17:36] nik9000 commented on #20263
Having some way to get messages back to the user from an embedded scripting languages isn't without [precedent](https://www.postgresql.org/docs/9.1/static/plpgsql-errors-and-messages.html). I'd prefer dumping the results to a logger and/or throwing them back at the user.

[2016-08-31 17:39] nik9000 commented on #20262
I think either? If we write with vlong we really should validate the values are >= 0. We default to `-1` in `OsStats`, not 0. Maybe we should just default to a null `TimeValue`?

[2016-08-31 17:40] nik9000 commented on #20262
I do think it is a bit weird to allow negative bytes, though not super weird. Think of the answer to "how many bytes would be left free after I assigned this shard to my node with a full disk?" It'd be a negative number in bytes....

[2016-08-31 17:41] ppf2 commented on #20263
Plus it's will be *extremely* helpful for debugging Watcher scripts :)

[2016-08-31 17:57] kjelle opened #20266 "Elasticsearch 2.2.0 doesn't detect SSD in Docker 1.10.3"
**Elasticsearch version**: 2.2.0

**Plugins installed**: [license, marvel-agent]

**JVM version**: 1.8.0_51

**OS version**: CentOS 7.2.1511

**Description of the problem including expected versus actual behavior**:
Elasticsearchs says I am running spins:true with SSDs.

**Steps to reproduce**:
1. Use SSDs, launch a docker container with docker 1.10.3 and add the SSDs as volumes.
2. Launch Elastic

[2016-08-31 18:00] nik9000 opened #20268 "Explain analyze docs have "Coming in 2.0.0""
The explain analyze docs have "Coming in 2.0.0" even though 2.0.0 has been out for a long while now.

https://www.elastic.co/guide/en/elasticsearch/reference/current/_explain_analyze.html

[2016-08-31 18:09] javanna commented on #20262
in #20255 we will also have potentially `0` as a default for cumulative memory values. I think that -1 should rather be null, and we should use `writeOptionalWriteable` for that. Not sure where negative values may actually make sense, but accepting something that we won't serialize seems really wrong, so I am leaning towards changing serialization here first of all (at least 0 does make sense for

[2016-08-31 18:11] nik9000 commented on #20262
vlong can write 0 though, so that is ok?

[2016-08-31 18:20] mkw commented on #19055
@jaymode Thanks!  That is very helpful and vasty superior to manually adding a default "Authentication" header.

[2016-08-31 18:43] #20268 closed

[2016-08-31 18:53] mkw commented on #19055
I may have spoken too soon: While using the challenge/response mechanism is clearly more secure than pre-emptive authentication, it forces a double round-trip for every request because Apache HC will only cache authentication for the duration of an HttpClientContext.  Simple searches are quick enough that the extra request really adds up.

[2016-08-31 19:52] javanna commented on #20262
yes, forget about that bit... >= 0 is not the same as > 0 :) sorry for the noise there.

[2016-08-31 20:22] jasontedor commented on #20236
Closed by #20269

[2016-08-31 20:22] #20236 closed

[2016-08-31 20:58] rjernst commented on #15071
@kdubezerra It looks like the [fat jar plugin](https://github.com/musketyr/gradle-fatjar-plugin) is able to handle properly merging `META-INF/services` as was described in this issue.

[2016-08-31 21:36] rjernst commented on #20164
@MaineC using `gradle install` is the "old" way. With unified release, we now use the maven-publish gradle plugin, which provides `gradle publishToMavenLocal`. However, this does not quite work yet as how we generate the client jar's is a bit of a hack at the moment. I will work on fixing this, but using `hasClientJar = true` is the way to go, it just does not yet work with installing into maven .

[2016-08-31 23:32] jordansissel commented on #10005
@jcollie My understanding of the discussion in this issue is that there is no specific resistance. We have been discussing the costs/benefits of various implementation options. Hopefully this helps clarify things.

[2016-08-31 23:57] jdconrad commented on #20264
I'll take a look into adding this early next week.  I don't think it should be too difficult.

[2016-09-01 00:06] nik9000 commented on #20264
Thinking out loud, will this asset be always on like groove's assert or
optional like java's? What would that mean to scripts? It should probably
throw some exception/error that can't be caught be the scripts but is
caught by you so it doesn't take down the node or otherwise be weird. It'd
just be a script error to the rest of elasticsearch?

On Aug 31, 2016 7:57 PM, "Jack Conradson" <notification

[2016-09-01 00:13] djschny opened #20272 "mapper.allow_dots_in_name is node level configuration"
**Elasticsearch version**: 2.4

**Plugins installed**: []

**JVM version**: 1.8.0_92-b14

**OS version**: Mac 10.11.5

**Description of the problem including expected versus actual behavior**:
The setting of `mapper.allow_dots_in_name` is a node level configuration setting as opposed to a cluster/dynamic setting. However I'm failing to think of a reason why it would be an advantage to have the val

[2016-09-01 02:01] nich07as commented on #17614
I've worked with a few customers who uses the ascending count to determine what are the least popular items and also the occasional outliers. Agree that it might be inaccurate over large datasets but would be helpful on smaller samples and doesn't hurt to keep it around as @djschny suggests.

[2016-09-01 02:13] jasontedor commented on #20264
throw some exception/error that can't be caught be the scripts but is
caught by you so it doesn't take down the node or otherwise be weird.

I think that's what `PainlessError` can be used for.

[2016-09-01 02:16] geekpete commented on #20263
How about provide a logging facility but for safety just log to an elasticsearch index.

This would allow other cool use cases such as alerting/monitoring on script activity or custom output.

Imagine you want to do profiling of a script as part of a larger overall pipeline monitoring effort, this would allow you the granularity of APM type detail from within your script.

[2016-09-01 03:01] jdconrad commented on #20264
@nik9000 @jasontedor Using ```PainlessError``` is probably the correct way to do this.  The only reservation I would have is if there is a reason for there to be a difference between something that is user generated versus something that is internal to Painless, but ultimately it would end up being identical code anyway if we made a second version of the error.

[2016-09-01 03:34] #16030 closed

[2016-09-01 03:34] #17697 closed

[2016-09-01 03:41] JoyceYy opened #20273 "change exist field from analyed to not_analyzed"
**Elasticsearch version**:1.73

I want to change exist field from analyed to not_analyzed,is it possible?I try to modified it,but got exception as follow:

`{"error":"MergeMappingException[Merge failed with failures {[mapper [referer] has different index values, mapper [referer] has different tokenize values, mapper [referer] has different index_analyzer]}]","status":400}
`

[2016-09-01 06:01] jccq commented on #17614
The point is.. what is the replacement really? sure its inaccurate but is
there any other way to achieve something like this? i dont think so. Thus
the big damage in removing vs... simply explaining the limitation.

On Thu, Sep 1, 2016 at 3:02 AM, nich07as <notifications@github.com> wrote:

--
Giovanni Tummarello
CEO - SIREn Solutions

[2016-09-01 06:40] srikanthsk opened #20275 "[ERROR] Failed to execute goal org.apache.maven.plugins:maven-remote-resources-plugin:1.5:process (default) on project parent: Resources archive cannot be found. Could not find artifact org.elasticsearch:rest-api-spec:jar:2.3.5-SNAPSHOT in oss-snapshots (https://oss.sonatype.org/content/repositories/snapshots/)"
**Elasticsearch version**:

**Plugins installed**: []

**JVM version**:

**OS version**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

[2016-09-01 06:43] srikanthsk commented on #20275
https://oss.sonatype.org/content/repositories/snapshots/org/elasticsearch/rest-api-spec/

ES-V-2.3.5 is not available in the repository

how do i fix this..help me out
any other way to build elastisearch source code?

[2016-09-01 07:01] danielmitterdorfer commented on #20250
@clintongormley Yes, I can have a look.

[2016-09-01 07:09] tlrx commented on #20262
Duplicate of #19809

ByteSizeValue as well as TimeValue need more love as well as the whole Stats stuff. I plan to work on this as soon as possible and @abeyad proposed his help too

[2016-09-01 08:22] javanna commented on #20262
thanks for pointing that out. although #19809 seems broader than this one it definitely covers this issue, closing in favour of #19809 .  Let's just not forget that once we fix all this we can probably stop creating ByteSizeValue instances on demand to work around the fact that -1 cannot be serialized.

[2016-09-01 08:22] #20262 closed

[2016-09-01 08:27] mahehss opened #20277 "How do I get max of all the selected records in function score"
I wanted to use gauss function like below to change the relevance algo.

"gauss": {
            "price": {
              "origin": "50",
              "offset": "50",
              "scale":  "20"
            }
          },
          "weight": 2

My problem is that prices of the products varies significantly so I am not able to use any fixed origin(
e.g. lets say that prices of the products vary fr

[2016-09-01 08:27] jpountz commented on #20273
This cannot be done on an existing index, you would need to reindex.

[2016-09-01 08:27] #20273 closed

[2016-09-01 08:32] s1monw commented on #20263
I don't think the script should do ANY IO whatsoever. I wonder if we should have a size limited logger buffer that we can log out after the script is executed? I also think it should be disabled by default and only enabled if a flag is passed to the script compilation such that we optimize it away in the common case

[2016-09-01 08:39] jpountz commented on #20272
The motivation against making it a cluster setting is that it exposes you to a lot of unknowns and thus setting this option should not be just "allowing dots in fields names seems legit, let's do that". Dots in field names in 5.0 work well, I am not saying there are no bugs, but at least we know how we can make it work. On the other hand on 2.4, dots in field names are really a hack and this escap

[2016-09-01 08:52] MaineC commented on #20164
@rjernst Thanks for the clarification (and the patience with explaining). Let me know when things are working, I'll go and backtrack to the docs that let me to believe that I should be using `gradle install` and update those then.

[2016-09-01 08:56] MaineC commented on #20231
I'm not quite sure what the benefit of specifying a template per request would be. Do you have an example use case for clarification?

[2016-09-01 08:59] bleskes commented on #19913
catching up, I think there some things to clarify:

1) The *main* use case for `_version` now is to deal with out of order delivery on replicas. This is relevant for concurrent changes to the same document (which doesn't happen for the append only case) but also when we recover a shard (replayed operation from the primary translog are concurrent to index requests).
2) Now that we are going to have

[2016-09-01 09:11] bleskes opened #20279 "TRA waits when an index doesn't exist but fails immediately when shard is not found"
TransportReplicationAction currently has an inconsistency in how it deals with requests that refer to things that don't exist (which is different than not available).

1) When an index is not found in the cluster state, we go into a retry loop where we wait for the index to appear.
2) When a request comes in for a shard that doesn't exists (i.e., the shard id is higher than the number of shards )

[2016-09-01 09:14] dadoonet commented on #20275
2.3.5 has been released: https://www.elastic.co/downloads/past-releases/elasticsearch-2-3-5

That's why you can't find it as a snapshot.

Please ask your questions on discuss.elastic.co instead.

[2016-09-01 09:14] #20275 closed

[2016-09-01 09:21] jpountz commented on #20257
I'm not sure we need to retain the notion of types, maybe we could go with something like below? You say that `parent_type` is used for the name of the internal join field, bu we could directly use the name of the join field directly for that? (in that case `question-to-answers`)

[code]
Something else that made me wonder when reading your proposal is that users generally do not like modifying the

[2016-09-01 09:43] s12v commented on #4915
+1

[2016-09-01 09:47] tugberkugurlu commented on #4915
@s1monw see https://github.com/elastic/elasticsearch/issues/4915#issuecomment-234869316

[2016-09-01 09:50] tugberkugurlu commented on #4915
@jpountz have you seen https://github.com/elastic/elasticsearch/issues/4915#issuecomment-235358947, do you need more info?

I can understand this cannot be supported in generic case, would be good to have some docs which highlight some workarounds. For example, this makes sense: https://discuss.elastic.co/t/large-results-sets-and-paging-for-aggregations/20653/2

into the memory you should just get

[2016-09-01 10:01] tugberkugurlu commented on #4915
@felixbarny how long do you spend loading that data into your client? Sorry, I haven't done the calculation for my thing but I have the similar issue here.

[2016-09-01 10:09] felixbarny commented on #4915
I haven't measured to be honest, but it's still moderately fast.

[2016-09-01 10:09] martijnvg commented on #20257
When thinking about this refactoring I thought we needed to distinguish between the different documents (in case of multiple join fields), but when answering this question I realize we don't :) ,
because all documents in the same index will have different ids. (currently that is not the case as ids are only unique within a single type)

The reason I moved away from metadata is that besides the `pa

[2016-09-01 10:15] bleskes commented on #20279
one more note - when converting an index name to an `Index` instances, we always have to wait in the case the index is not there. The reason is that, sadly,  a create index operation can finish successfully without all nodes knowing about it. Since we can then accept a follow up indexing request on arbitrary nodes, which should also give a chance for lagging cluster state to arrive. Practically th

[2016-09-01 10:39] #7513 closed

[2016-09-01 11:06] clintongormley commented on #20266
Determining this is only attempted on linux today (https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/env/ESFileStore.java#L57). I'm wondering if Docker is not considered to be Linux by `org.apache.lucene.util.Constants`.

Or maybe it is and the check fails further down in the process.  Could you investigate this method and see what is different about Docker

[2016-09-01 11:42] danielmitterdorfer commented on #20250
First of all, this is a great reproduction scenario. Thanks a lot.

In my tests, the majority of memory (around 570MB) was allocated in [org.elasticsearch.search.query.QueryPhase.execute(SearchContext, IndexSearcher)](https://github.com/elastic/elasticsearch/blob/2.3/core/src/main/java/org/elasticsearch/search/query/QueryPhase.java#L384) which calls Lucene's `IndexSearcher`. As - at this point - L

[2016-09-01 11:44] jpountz commented on #20257
This is a very good point.

[2016-09-01 11:46] danielmitterdorfer commented on #20250
Btw, also the new in-flight request circuit breaker (added in 2.4) will not help because the actual request is just roughly 8MB large (so this is not the problem).

[2016-09-01 12:19] theely commented on #20114
@clintongormley Looks like we were able to replicate the issue and we may also have isolated the problem. The node enters in a faulty behaviour under heavy usage of the following update script:
[code]
Is it possible that this script is causing the issue? It is executed concurrently several times per second.

In the mean time we are extending the Docker image to use the Java 8 JDK (see previous com

[2016-09-01 12:35] jpountz commented on #20250
I think the problem is more about expectations than naming since users seem to expect it to be a 100% correct thing while it is only a best-effort in practice (we cannot intercept every object allocation). But its goal **is** to abort requests that may use too much memory?

[2016-09-01 12:36] sumitjainn commented on #15797
@vikasdp No, multi level/path nesting does not work in the sort clause.

[2016-09-01 12:45] rjernst commented on #20263
I agree we should not do any IO. I think exceptions are the way to go for debugging. They are immediate, and don't require pouring through a log file.

[2016-09-01 12:54] rjernst commented on #20257
I think we should do this. It is already a deficiency in the pluggability of Metadata fields. And I like @jpountz suggested api.

[2016-09-01 12:56] tchiotludo opened #20281 "Global aggregation and Nested & Children"
I'm working on a faceted search.
I want to return with aggregation the number of facets for all filters.
If the user choose 1 filter, I want to display all others possible value.

The possible way is see on the doc is :

- [Scoping Aggregations](https://www.elastic.co/guide/en/elasticsearch/guide/current/_scoping_aggregations.html)
- [Filter Bucket](https://www.elastic.co/guide/en/elasticsearch/gu

[2016-09-01 12:59] kjelle commented on #20266
Code from `org.apache.lucene.util.Constants`;
https://github.com/apache/lucene-solr/blob/master/lucene/core/src/java/org/apache/lucene/util/Constants.java#L40

I ran a small java program using the same `System.getProperty("os.name")`
`$ docker exec elasticsearch-container-data-01 /bin/sh -c "cat /tmp/PrintLinux.java"
public class PrintLinux {
    public static void main(String[] args) {
        St

[2016-09-01 13:15] nik9000 commented on #20263
I like the size limited buffer returned to the user. Using a compilation flag to skip it entirely is cool I think as well.

I think this is lower priority than the assert proposal because asserts are so very nice and immediate.

[2016-09-01 13:32] kjelle commented on #20266
There seems to be an expcetion when calling toRealPath in spinsLinux (https://github.com/apache/lucene-solr/blob/master/lucene/core/src/java/org/apache/lucene/util/IOUtils.java#L506)

Using the IOUtils.spinsLinux directly;
[code]

[2016-09-01 13:38] jimferenczi commented on #20250
Maybe we can add a limit for the number of disjuncts in the DisjunctionMaxQuery ? This would be similar to the BooleanQuery which throws an exception if the number of clauses is greater than 1024 (by default).
I also tried with the BM25 similarity and it's worst, the query needs more than 400MB just for the norms (we allocate an array of 256 floats for each term query => 400,000*256*4).

[2016-09-01 13:41] jpountz commented on #20250
+1 @jimferenczi

[2016-09-01 13:46] mehmetonler opened #20282 "Doc[‘field_name’] returns unexpected big number"
Hey,
I am using ES 1.7.  I run the following query and I expect to get 15 which is current popularity for it. but it returns 4607464916994563600.

[code]

Result:

[code]

This occurs on one of my the production machine. The others work just fine. Because of this bug, search results get really weird. Any ideas, why this is happening?

[2016-09-01 13:50] jpountz commented on #20282
This is a known 1.7 issue: the popularity field was dynamically mapped as a double on one shard and as a long on another shard. Then shards moved around and long bits got interpreted as doubles or vice-versa. This is fixed as of 2.0. If you cannot upgrade, the only workaround is to configure mappings explicitly.

[2016-09-01 13:50] #20282 closed

[2016-09-01 14:08] mehmetonler commented on #20282
how can I configure mappings explicitly, for existing data

[2016-09-01 14:20] jayswan commented on #17614
We use this extensively to find outliers in log data. Usually in large data sets you can filter out the most common items before performing the aggregation, so loss of accuracy isn't a big problem.

Removing this feature is a huge problem for logging use cases -- nearly crippling, IMO.

[2016-09-01 14:26] jpountz commented on #20282
It cannot be fixed after mappings have been created, the workaround I indicated only works for newly created indices. In short, you should avoid relying on dynamic mappings ot 1.7.

[2016-09-01 14:33] dadoonet opened #20283 "Remove `token_filter` in _analyze API"
When you define an analyzer, we only support `filter` instead of `token_filter`. See https://www.elastic.co/guide/en/elasticsearch/reference/master/analysis-custom-analyzer.html

But the `_analyze` API still supports both forms. I suggest that we remove support for `token_filter` in `_analyze` API.

See also #17843.

[2016-09-01 14:34] dadoonet commented on #20283
@johtani WDYT?

[2016-09-01 14:37] johtani commented on #20283
+1

[2016-09-01 14:49] pickypg commented on #20263
In practice, I find that people aren't actually using the log file, so much as the standard out aspect of it as they make attempts at refinement/correction _or_ they're tailing the log to get the same effect.

As such, I really like the size-limited buffer idea. Perhaps we only expose the logger to scripts that explicitly request it via a request-level parameter?

[code]

[2016-09-01 15:12] jayswan commented on #17614
Furthermore: in exploratory log analysis the exact content of the tails often doesn't matter as much as the general _kinds_ of things in the tails.

As an example, I just used this feature to reduce the set "interesting" documents in an index of about 6 million logs from 1.5 million to about 100 over the course of 5 minutes by iteratively excluding categories of things I found in the tails.

[2016-09-01 15:13] henrikjohansen commented on #17614
@colings86 @jimferenczi ... this is a rather poor decision for a number of use-cases where finding rare occasions is important. It severely impacts security analytics for example.

[2016-09-01 15:18] s1monw commented on #20283
++

[2016-09-01 15:19] nik9000 commented on #20263
We could make it a noop if `"logger": false` so people can use the same scripts and not pay the cost when they aren't debugging.

[2016-09-01 15:22] colings86 commented on #17614
I want to explain this a bit more as I don't think its really clear on the description above (apologies for that)

The problem here isn't that the counts can be wrong, the problem is that there is currently no bound on how wrong the counts can be (and no way to know what the error might be). To explain this consider the following example.

Imagine we are looking for the top 5 terms in a field acro

[2016-09-01 15:26] djschny commented on #20272
I do not understand how it being a System property that needs to be make any of the unknowns different or worse. I person has to make a conscious decision to change this setting. They have to look it up and find out what the setting is and where to do that.

However it is trappy with the current way because a user could get into a situation where the setting was not set on a subset of nodes and th

[2016-09-01 15:27] djschny commented on #17614
This is still relevant and accurate when you are searching an index with only 1 shard correct?

[2016-09-01 15:28] s1monw commented on #20272
it's the fact that its different from anything else that this is a workaround and can cause serious issues with your mapping. The fact that we won't do any harm if the setting is not provided is why I think this is not a problem. it's an upgrade path for affected users. users that didn't have that problem should really not have an easy time to enable it.

[2016-09-01 15:31] clintongormley commented on #17614
@djschny we're not building a product that only works on one shard and breaks at scale.  This is a really important part of how we make decisions: whatever we build must scale.

[2016-09-01 15:31] nik9000 commented on #20264
My instinct would be to make a `PainlessAssertionError` and a `PainlessExecutionError` (or something) and have them both extend `PainlessError`. But I wouldn't be surprised if my instincts were way off.

[2016-09-01 15:44] jpountz commented on #20246
No worries. However I'm tempted to keep this one open. Like @clintongormley suggested, maybe we should stop splitting on commas.

[2016-09-01 15:51] cbuescher commented on #20259
fyi, I was curious an ran the snippets from https://www.elastic.co/guide/en/elasticsearch/reference/master/search-suggesters-phrase.html manually on a local node running es-alpha5. About half of the time I get a result with  `"score": 0.40765354`, the other times I get `"score": 0.5962314`. I don't have enough knowledge of the inner workings of phrase suggestion scoring but maybe @areek can shed s

[2016-09-01 15:51] colings86 commented on #17614
Personally I think it's trap-ish regardless of what we name it. If the index has 20 shards and 19 of them have 1000 docs containing a particular term but 1 has only 1 document then the term is _likely_ to be returned as rare even though it is in fact not even slightly rare. That seems very trappy to me whatever we call the option. Consider also in that case you could get into the situation where t

[2016-09-01 16:47] nik9000 opened #20286 "Allow plugins to register sub-Commands of elasticsearch-plugin"
Right now Elasticsearch plugins that want ship scripts have to deal with locating the configuration of Elasticsearch so they can run properly. On the other hand in 5.0 Elasticsearch will ship the `elasticsearch-plugin` command that already does this. If we could allow plugins to register `subcommands` of `elasticsearch-plugin` then they wouldn't need to duplicate all that effort.

We certainly cou

[2016-09-01 16:49] nik9000 commented on #20286
The neat thing about doing this is that it'd let us nuke the funny bin handling that we do in the plugin installer.

[2016-09-01 17:00] dakrone commented on #20250
I agree with Adrien that the expectation is certainly that something named "request" breaker will encompass all memory used by a request. I don't think it should be renamed, though, we may want to try and fold different allocations (like the dismax allocations) into it if possible so it eventually grows to be a true request breaker.

If we know the size of an array for each term, is it possible fo

[2016-09-01 17:05] imotov commented on #20286
I think this is a very elegant solution for the problem. The users script in x-pack is 90% copy of the code of previous version of the elasticsearch's plugin script.

[2016-09-01 17:07] jdconrad commented on #20263
I lie somewhere between @s1monw and @rjernst positions on this.  I would like to provide a better debug environment for some of the more complex scripts, but at the same time I'm hesitant to allow a user to do any kind of logging even to just a buffer given how easy it is to abuse something like this.

[2016-09-01 17:11] dakrone commented on #20286
This sounds interesting but how would this work for non-plugin scripts? If we are going to make them sub-commands of a script, why not make them part of the `elasticsearch` script rather than the `elasticsearch-plugin` script?

[2016-09-01 17:12] dakrone commented on #20286
And actually, why not make `plugin` a subcommand of the `elasticsearch` script altogether so there is only a single script that has to be managed/maintained?

[2016-09-01 17:13] nik9000 commented on #20286
I have no problem with that. I just proposed adding them to `elasticsearch-plugin` because it is a script we already have and the commands come from plugins. It is a fairly week argument, I know.

[2016-09-01 17:15] dakrone commented on #20286
Not all the commands come from plugins, now that we have the translog truncate tool

[2016-09-01 17:18] dakrone commented on #20286
Another thing that I am unsure about is security permissions, do the `bin/elasticsearch` and `bin/elasticsearch-plugin` classes have different security allowances?

[2016-09-01 17:20] jdconrad commented on #20264
@nik9000 I'm good with this solution.

[2016-09-01 17:22] nik9000 commented on #20286
The required permissions would be all about what commands you execute. To install or remove plugins you need to run as root (in deb and rpm installations) because we couldn't come up with a way to make those directories non-writeable to the Elasticsearch user. To run elasticsearch you'd need to be the elasticsearch user (in deb and rpm installations). I guess translog tool needs to be the ES user

[2016-09-01 17:26] nik9000 commented on #20286
Another argument for doing it this way is to limit the scope of this particular change. I've marked this as both breaking and blocking 5.0.0 so I want to be somewhat careful about committing to a big rework even if it is a better idea.

[2016-09-01 19:33] djschny commented on #17614
I can completely understand that for investing time into new features. But this feature is pre-existing and it does have usefulness. If we follow this at such a strict line then we should deprecate and remove terms aggregation in general and also cardinality because they have similar behavior to what is discussed here in regards to accuracy and scalability (as defined here). However I assume (or h

[2016-09-01 20:01] jgminer opened #20289 "Two fields, type Long, behaving differently on query aggregation"
**Elasticsearch version**: 2.3.5

**Plugins installed**: [head, kopf, cloud_aws, marvel, license]

**JVM version**: 1.8.0_51

**OS version**: CentOS 6.6

**Description of the problem including expected versus actual behavior**:

When querying two different fields, both with identical type "Long" (based off of the _mapping API endpoint), one returns all zeros, the other returns the proper decimal.

[2016-09-01 20:21] dakrone commented on #20289
Can you provide the documents this aggregation is running over so we can try to reproduce?

This doesn't really make sense to me, you said that the field is of type `long`, but you are only sending values between 0 and 1? This seems like something that should be a `double` or `float`?

[2016-09-01 20:33] jgminer commented on #20289
I cannot provide the documents exactly as written, however I will try to explain better what I think happened.

When these documents were first created, these fields each would have had the value '0', leading to Elasticsearch assigning the analyzed fields as `long`. However, later on the documents started seeing values that were decimals for the same index, but they were stuck with the old analyze

[2016-09-01 23:35] jdconrad commented on #20129
The two main issues got merged so I'm closing this.

[2016-09-01 23:35] #20129 closed

[2016-09-02 06:17] russcam opened #20293 "Documentation for field_masking_span query"
It looks like [`field_masking_span` query](https://github.com/elastic/elasticsearch/issues/471) has been supported for a long time but [remains undocumented](https://www.elastic.co/guide/en/elasticsearch/reference/master/span-queries.html).

It should be included in the documentation for the latest 1.x, 2.x and 5.x releases.

[2016-09-02 06:18] russcam commented on #20293
See https://github.com/elastic/elasticsearch-net/pull/2231

[2016-09-02 06:57] #11508 closed

[2016-09-02 08:54] jpountz commented on #17614
@djschny Even though these aggs are potentially inaccurate, there is a fine line between returning a good estimation and a number that is not unlikely to be completely off. The motivation here was to remove a trap. Now, there seems to be significant push back so I'd be fine to reconsider and solve it by documentation, but please please please do not put in into the same bucket as sorting by descen

[2016-09-02 08:54] dadoonet opened #20294 "Reintroduce default log level for AWS APIs"
When we introduced LOG4J2 (see #20235), we forgot to add back the default log levels for some APIs:

[code]

When starting Elasticsearch 5.0.0 with ec2 plugin, it now prints some logs we were hiding previously:

[code]

[2016-09-02 09:20] dropje86 opened #20295 "bootstrap mlockall | memory_lock bug?"
**Elasticsearch version**: v2.4.0

**Plugins installed**: [marvel]

**JVM version**: 1.8.0_72

**OS version**: Ubuntu Trusty

**Description of the problem including expected versus actual behavior**:
When I start an Elasticsearch node with the bootstrap.mlockall: true option it starts swapping like crazy within 30 seconds and eventually dies. When I use bootstrap.memory_lock: true Elastic keeps ru

[2016-09-02 09:33] jasontedor commented on #20295
Duplicates #17605

[2016-09-02 09:34] dadoonet opened #20296 "Can not start ec2 discovery on 5.0.0"
I'm testing ec2 discovery with alpha6-SNAPSHOT (e5ff3da) and I'm getting this error which seems to be related to LOG4J.

[code]

[2016-09-02 09:34] dadoonet commented on #20296
@jasontedor What do you think?

[2016-09-02 09:39] dadoonet commented on #20296
When I remove ec2 plugin, elasticsearch starts normally.

When I install ec2:

[code]

Elasticsearch stops without any message:

[code]

I'm using

[code]

[2016-09-02 09:51] jasontedor commented on #20296
I think that Log4j is trying to log some exception that is thrown, but does not have permissions to access `sun.nio.ch`. I think that this is just hiding the real exception. Can you grant `java.lang.RuntimePermission` `accessClassInPackage.sun.nio.ch` and see what the real exception here is?

[2016-09-02 09:57] clintongormley commented on #20068
@Bargs @epixa Could you give us some examples of how people use script fields? Do people use them to extract values from the source, or from doc values?

[2016-09-02 10:02] clintongormley commented on #19149
Done

[2016-09-02 10:02] #19149 closed

[2016-09-02 10:03] dadoonet commented on #20296
For the record, I'm not able to reproduce all that locally with:

[code]

I'm going to make the suggested change and deploy on ec2 again to get more details if possible.

[2016-09-02 10:07] dropje86 commented on #20295
@jasontedor thanks for the quick reply. Evidence of swapping was coming from `top`. However, I spoke too soon. This, after some time, also occurred with memory_lock set. Sorry for the inconvenience, I'll close this one.

[2016-09-02 10:07] #20295 closed

[2016-09-02 10:09] clintongormley commented on #17220
Discussed in FixitFriday, agreed with https://github.com/elastic/elasticsearch/issues/17220#issuecomment-199682001,, especially given that having logs in a standard place makes it easier for our diagnostic tools to capture them

[2016-09-02 10:11] martijnvg commented on #20122
This was discussed during fixitfriday and came up with the following:
* Upon storing / serialising the script the language is always going to be persisted. (even if the default language is used)
* The `lang` parameter is not going to be required upon creation of the script.
 * The default lang for already stored scripts (for example in percolator query) is going to be groovy. This would actually h

[2016-09-02 10:14] jasontedor commented on #20295
Okay, please see #17605 regarding why Elasticsearch can still swap even with memlock in use.

[2016-09-02 10:15] clintongormley commented on #20195
Discussed in FixItFriday - essentially we're competing with other services, so we could change our file to `90-` then another service could change theirs to `99-` etc.  There is no consistent way of enforcing this.  And perhaps Elasticsearch settings are overwriting things that are important for other services.

So we don't think we should do anything here.  The good news is that, if another servi

[2016-09-02 10:15] #20195 closed

[2016-09-02 10:54] shyam-aryan commented on #20019
Hi @areek - any update please?

[2016-09-02 11:32] johtani commented on #20246
@clintongormley @jpountz how about deprecating request parameters?

[2016-09-02 11:36] zcola opened #20298 "java.lang.NullPointerException in Tribe node"
**Elasticsearch version**:2.3.4

**Plugins installed**: [ 'analysis-ik', 'kopf', '	license', 'marvel-agent' ]

**JVM version**:Java HotSpot(TM) 64-Bit Server VM (build 25.66-b17, mixed mode)

**OS version**:Debian 8

**Description of the problem including expected versus actual behavior**:
[code]
**Steps to reproduce**:
* When the timer expires night to clean index, tribe node may not work properl

[2016-09-02 12:40] clintongormley commented on #20266
Apparently you can choose to mount drives in Docker - try adding an entry to fstab?

[2016-09-02 12:51] clintongormley commented on #10005
It requires replacing Joda time with Java time, which is something we would like to do but it is a big project.

[2016-09-02 12:59] clintongormley commented on #20277
Hi @mahehss

Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2016-09-02 12:59] #20277 closed

[2016-09-02 13:00] clintongormley commented on #20231
I was thinking about comparing different templates, but eg with the same parameters.  Thinking about it again I think what you're doing here makes more sense.

[2016-09-02 13:11] jasontedor commented on #20114
@theely It looks like you might not be returning the `client` to the pool or am I misunderstanding your script?

[2016-09-02 13:14] clintongormley commented on #20281
Hi @tchiotludo

Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2016-09-02 13:14] #20281 closed

[2016-09-02 13:20] tlrx commented on #20114
You could also use script parameters so that the script will be compiled once and then cached and reused.

In the current state it is compiled every time source & lastVisit changed (every time this code runs). The compilation produces many objects that need to be garbage collected and the fact that the script changed at almost every execution put a lot of pressure on the script cache.

[2016-09-02 13:35] theely commented on #20114
@jasontedor No the class name ElasticsearchPoolUtil  is misleading, in fact getClient() is sharing a singleton instance of a ES's Client object. If I am not mistaken this is the suggested approach, since the ES Client is thread safe.

We are testing a slight variation of the script that is updating the nested objects using a for loop instead of the .each() method.

[code]

![screen shot 2016-09-02

[2016-09-02 13:36] clintongormley commented on #20289
This is easily explained with the following example:

    PUT t/t/1
    {
      "one": 0,
      "two": 0
    }

    PUT t/t/2
    {
      "one": 1,
      "two": 0.9
    }

    PUT t/t/3
    {
      "one": 0.5,
      "two": 0.5
    }

    GET t/_search
    {
      "docvalue_fields": [
        "one",
        "two"
      ],
      "aggs": {
        "one": {
          "avg": {
            "field": "one

[2016-09-02 13:36] #20289 closed

[2016-09-02 13:43] jasontedor commented on #20114
You should definitely rename that class as it's terribly misleading. :cry: The clients that we provide are thread-safe so your usage is fine then.

I think then that your issue is the issue that @tlrx pointed out.

No, it gets compiled to bytecode at runtime.

[2016-09-02 14:04] jgminer commented on #20289
@clintongormley Thanks for the clear, concise explanation and example. That makes sense given the type `long`.

[2016-09-02 14:05] dmitry commented on #20131
Really need this feature, as score calculation in each filter slows down our search. What can I do to push it forward?

[2016-09-02 14:33] #15972 closed

[2016-09-02 14:34] Bargs commented on #20068
@clintongormley definitely doc values up until now. Since Lucene expressions only support numerical data I don't think there was ever much point in accessing source. In fact, it looks like Kibana throws an error if you try to access _source in an expression script. With painless there might be more reason to use source, but it's hard to say how users will leverage it.

An additional (possible) com

[2016-09-02 14:37] theely commented on #20114
@jasontedor, @clintongormley Indeed looks like the issue was caused by the problem @tlrx pointed out.
My explanation is that by doing high usage of the Update API and using a script with "embedded" parameters ES **was quickly filling the heap with thousands of compiled groovy scripts instances**. After deploying the new script version that makes proper use of the parameters (shame on me 😅) the hea

[2016-09-02 14:42] tlrx commented on #20114
As far as I remember the script cache is limited to 100 scripts. Once reached, every new script evicts the oldest one. This is what I meant by "putting pressure on the cache". The number of class/objects created by Groovy is difficult to contain (note: it creates classes for closure/lambdas too) but in newer version of Elasticsearch (see #19694) we added script compilation throttling to avoid too

[2016-09-02 14:42] clintongormley commented on #20114
thanks for letting us know @theely

btw, we've added a circuit breaker in 5.0 which would have caught this issue: https://github.com/elastic/elasticsearch/pull/19694

[2016-09-02 14:42] #20114 closed

[2016-09-02 14:45] nik9000 commented on #20068
In scripts it is possible. Groovy supports it now and painless doesn't. It is always much, much, much slower than using doc_values. It is a speed vs flexibility tradeoff vs education thing.

[2016-09-02 14:46] clintongormley commented on #20293
I'm actually wondering if we should remove the `field_masking_span` query, which seems like it is a  poor man's `nested`, but relying on term positions in different fields (see https://lucene.apache.org/core/2_9_4/api/core/org/apache/lucene/search/spans/FieldMaskingSpanQuery.html)

[2016-09-02 14:52] dadoonet commented on #20296
So the real exception is:

[code]

Was caused by a bad configuration in `elasticsearch.yml` file.

I'm still having an issue which happens when I have ec2 installed but I don't define any configuration in `elasticsearch.yml`. Full logs here: https://gist.github.com/dadoonet/56108d664bbc79379f578c2d4288df70

In my console, I have:

[code]

And the process immediately stops.

[2016-09-02 14:53] dadoonet commented on #20296
Apparently, as soon as I add `network.host: _ec2_` the process starts. I still have the same trace though.

[2016-09-02 14:59] s1monw commented on #20068
I am personally convinced we should never access _source in an aggregation. I think the majority of the users do NOT understand what that means ie.  decompressing the ENTIRE document to access a single field. I don't really think kibana should expose it that way sorry. I am -1 on accessing _source in aggs via painless

[2016-09-02 15:04] clintongormley commented on #20246
@johtani good idea - will make things simpler.  Also deprecate plain text bodies at the same time - should be JSON only

[2016-09-02 15:05] dadoonet commented on #20296
New test with 2 nodes:

[code]

When I start the second node, I'm getting:

[code]

The process immediately dies.

I have no clue about what is happening there.

[2016-09-02 15:08] dadoonet commented on #20296
When on server `172.31.7.122`, I'm running:

[code]

And the node running on `172.31.7.123` dies with nothing in logs but this in the console:

[code]

[2016-09-02 15:09] clintongormley commented on #20298
@zcola you're sure you're using 2.3.4 on both tribe nodes and clusters? I ask because this should have been fixed by https://github.com/elastic/elasticsearch/pull/18545

[2016-09-02 15:16] pfreixes commented on #20178
I have just realized that the page about cardinality has a graphic with the relative error [1], I guess using a specific random corpus, where you can do the maths. In my environment a 2K field cardinality with a 10K threshold wouldn't get issues at all, only in exceptional cases.

Even though, IMHO There is room to implement a deterministic algorithm for low-cardinality fields instead of a discret

[2016-09-02 15:24] loren opened #20302 "OutOfMemoryError thrown from the UncaughtExceptionHandler at startup"
**Elasticsearch version**: 5.0.0.alpha5
**Plugins installed**: [none]
**JVM version**:
java version "1.8.0_31"
Java(TM) SE Runtime Environment (build 1.8.0_31-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.31-b07, mixed mode)

**OS version**:
Mac 10.11.6 & CoreOS

**Description of the problem including expected versus actual behavior**:
Elasticsearch seems to throw an OOM error at startup whenev

[2016-09-02 15:28] yevhen commented on #20293
@clintongormley could you please elaborate more on this? We are using 2 separate fields to analyze the same content with morphology and exact. The posistions are completely equal in both fields so we can safely use FieldMaskngQuery, and we don't need scoring at this point. How would `nested` help us in this case? Thanks!

[2016-09-02 15:28] dadoonet commented on #20296
Ok. Forget about all that mess. Was mainly caused by not enough memory...
As for GCE, I was using a 512mb instance which does not seem to be enough. It runs fine with a 1Gb instance (even if I'm still using 256m heap size).

I'm closing this issue. May be we should keep it open though until we have a fix for the LOG4J2 issue?

[2016-09-02 15:28] #20296 closed

[2016-09-02 15:39] loren commented on #14441
Running into the [same issue](https://discuss.elastic.co/t/waiting-for-unicast-hosts-to-resolve-in-5-0-0-alpha5/58609) on 5.0.0 in a Mesos environment.

My workaround/hack is to introduce a delay before the elasticsearch process starts up so that the DNS entries have time to get established.

[2016-09-02 16:01] clintongormley commented on #20131
@jpountz is there any reason why the `_score` is not available in a post_filter?

[2016-09-02 16:06] clintongormley commented on #20068
Agreed.  Question is whether script fields should be able to access source?  I believe executable scripts don't expose doc values today, while search scripts don't expose source.  Script fields are in no-man's land between the two:  it should have access to both.

[2016-09-02 16:11] clintongormley commented on #20302
@jasontedor could you take a look at this please?

[2016-09-02 16:15] clintongormley commented on #20293
@yevhen ok i may have misunderstood the use cases.  my understanding was that it was a workaround for multiple corresponding values in each field, eg:

    {
      "users": [
       { "first_name": "john", "last_name": "smith" },
       { "first_name": "jack", "last_name": "white" },
      ]
    }

which ends up being indexed as:

    users.first_name: john, jack
    users.last_name: smith, white

[2016-09-02 17:03] #20283 closed

[2016-09-02 17:49] jasontedor opened #20304 "Log4j can lose critical exceptions"
Start two nodes of Elasticsearch, intentionally binding to the same port:

[code]

Wait for this instance to start, then from another terminal:

[code]

The second node will fail to bind, as expected. However, instead of displaying an already bound exception, Log4j fails in the presence of the security manager and loses the original exception instead producing:

[code]

This is due to Log4j attemp

[2016-09-02 17:50] jasontedor commented on #20304
I will submit a patch to Log4j for this. Depending on their release plans, I will add a hack to get around this.

[2016-09-02 18:12] jasontedor commented on #20304
I submitted https://issues.apache.org/jira/browse/LOG4J2-1560 to Log4j.

[2016-09-02 18:15] jasontedor commented on #20296
Superseded by #20304

[2016-09-02 19:58] mkelkarbv opened #20308 "ES keeps bouncing shards around and it doesn't seem to end for a long time"
**Elasticsearch version**: 1.7.3

**Plugins installed**: cloud-aws

**JVM version**: openjdk version "1.8.0_65"
OpenJDK Runtime Environment (build 1.8.0_65-b17)
OpenJDK 64-Bit Server VM (build 25.65-b01, mixed mode)

**OS version**: Amazon linux 3.14.35-28.38.amzn1.x86_64

**Description of the problem including expected versus actual behavior**:

Elasticsearch keeps moving shards around infinitely

[2016-09-02 22:10] martijnvg commented on #20257
@rjernst @jpountz I've updated the description of the issue to match with Adrien's proposal.

[2016-09-02 22:17] jasontedor commented on #20294
It was intentional, I do not think it belongs in the main configuration file, but we can add it to the plugin configuration file since I added support for multiple configuration files.

I opened #20313

[2016-09-02 22:34] nknize opened #20314 "Cut over geo_point fields to use Lucene's new LatLonPoint on new indexes"
With the new BKD Point based numeric and geo types available in Lucene 6, this task will cut over the ES `geo_point` type (and respective query parser/builders) to use Lucene's new `LatLonPoint` and `LatLonDocValuesField` for new indexes. To maintain backwards compatibility existing indexes will continue to use their respective field types and query classes (strings and `CustomGeoPointDocValuesFie

[2016-09-03 03:04] zcola commented on #20298
@clintongormley Yes, All nodes are running Version 2.3.4 ，Not just `_cat/indices` return 500，
In the tribe node  request some index return 404. And are upgrading from 2.3.2 to 2.3.4, such problems (small chance) appears, we do not know there is no correlation?

[2016-09-03 10:01] theely commented on #20114
@clintongormley and @tlrx I am not sure circuit breaker will solve the issue. I am afraid it will only mitigate it and make it harder to debug. In this case the issue has been easily discovered since many scripts were compiled per second. But in a different scenario let say a new script per minute gets compiled or even less the circuit breaker will not prevent the script cache and the heap to grow

[2016-09-03 10:41] #20294 closed

[2016-09-03 13:37] tchiotludo commented on #20281
Hi @clintongormley,

It's a feature request :smile:
It's just that I'm not sure at 100 % that the global aggregation is not supported with children & nested, so I write the issue like a question.

[2016-09-03 14:07] jasontedor commented on #20302
This reproduces on 5.0.0-alpha5 but not master for me. I think that it might be due to the massive stack trace from Guice that is attempted to be logged and I think our recent switch to Log4j 2 resolves the `OutOfMemoryError`. Can you please verify @loren?

[2016-09-03 14:27] jasontedor commented on #20302
I've verified this is addressed by #20083, which was an incremental improvement made while working on Log4j 2.

[2016-09-03 14:27] jasontedor commented on #20302
Closed by #20083

[2016-09-03 14:27] #20302 closed

[2016-09-04 07:12] miltonh26 commented on #12189
I know this issue has been closed, but here is a solution that worked for me:
$ sudo sed -i '/elasticsearch/d' /var/lib/dpkg/statoverride
Reference: http://askubuntu.com/questions/506043/how-do-i-remove-a-user-from-the-dpkg-statoverride-file

[2016-09-04 15:08] jasontedor opened #20318 "ClusterSettingsIT#testLoggerLevelUpdate fails if logging level is set to debug"
The test `ClusterSettingsIT#testLoggerLevelUpdate` fails if the logging level is to debug. This is due to the assertion expecting info level after the logging level is reset to its default, but this should be debug in this case.

[2016-09-04 15:10] jasontedor commented on #20318
Pushed 433cae47ed7834397bf854536ecdde77505a0cad for now.

[2016-09-04 16:54] ejsmith commented on #19146
Will this support using an Azure Scale Sets to discover member nodes?

[2016-09-04 17:18] paulognr opened #20319 "NoClassDefFoundError SmileParser$Feature"
**Elasticsearch version**: 2.4.0

**Plugins installed**: []

**JVM version**: 1.8.0_101

**OS version**: Windows 10

Hi.

I'm using wildfly-swarm (2016.8.1) (fraction jaxrs-cdi) and elasticsearch 2.4.0.
When I need to use a SearhResponse happens the error described below:

Caused by: java.lang.NoClassDefFoundError: Failed to link com/fasterxml/jackson/dataformat/smile/SmileParser$Feature (Module "

[2016-09-05 01:01] jazoom opened #20321 "Every time Elasticsearch is updated it fails to start"
**Elasticsearch version**: 2.0 - 2.4

**Plugins installed**: [cloud-aws, head, kopf]

**JVM version**: 1.8.0_101

**OS version**: Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:
Elasticsearch servers are updated via Ansible script:

[code]

This updates Elasticsearch just fine, but the old version of cloud-aws hangs around. This causes Elasticsearch to fail

[2016-09-05 01:30] dadoonet commented on #20321
Please prefer asking questions on discuss.elastic.co.

Yes it's the expected behavior. You need to upgrade the plugin as well.
Don't start Elasticsearch before upgrading the plugin.

[2016-09-05 01:35] jazoom commented on #20321
This isn't just a question. I actually thought this was a bug since even if I (manually) update the plugin it still doesn't work. I could find nowhere in the documentation to suggest that plugins should be removed before updating them.

[2016-09-05 01:48] dadoonet commented on #20321
Fair enough. The only moment we explained that is in dev guide: https://www.elastic.co/guide/en/elasticsearch/plugins/2.4/plugin-authors.html

We should add this in the main plugin doc probably.

Reopening to fix the doc.

[2016-09-05 01:57] jazoom commented on #20321
That sounds like a good idea. I never wanted to author a plugin so I didn't read the dev guide. This knowledge would have saved me quite a lot of debugging time.

[2016-09-05 03:08] johtani commented on #20246
@clintongormley deprecating in v5.0 and remove in v5.1 is OK? or deprecating v2.4.1?

[2016-09-05 05:42] javanna commented on #20248
@rjernst thoughts?

[2016-09-05 05:47] dadoonet commented on #20248
I think we should do it for any library which could be used outside Elasticsearch nodes.

So +1 here.

[2016-09-05 06:32] dadoonet commented on #19737
Do we have any veto on this?
It's "just" about renaming. Should I try to get that before 5.0.0 Beta or GA? Or do we prefer doing this for 6.0?

@clintongormley @s1monw what do you think?

[2016-09-05 07:36] bleskes commented on #20308
The "Suspect illegal state: trying to move shard from primary mode to replica mode" message typically suggest split brain. Did you set `minimum_master_nodes`? Can you check the current master for all nodes during such an event by calling `GET _cat/master`?

[2016-09-05 07:43] tlrx commented on #20114
I agree, the circuit breaker won't resolve the issue but in the case of Groovy it will prevent to create too many objects in a short time frame and then remove pressure on both cache and heap.

I agree too, Groovy scripts can lead to many object/class creation. In your case you may be interested in moving to Native scripts or Painless.

I don't see a full cache as an issue. What concerns me is the

[2016-09-05 08:37] baiyunping333 commented on #4915
mark! I need this feature.

[2016-09-05 09:26] yevhen commented on #20293
@clintongormley sure, no problem. Where to add docs?

[2016-09-05 09:56] baiyunping333 opened #20322 "I want to implement a elasticsearch Data Migrator!"
I want to implement a elasticsearch Data Migrator. the [elasticsearch-dump](https://github.com/taskrabbit/elasticsearch-dump) is very slow. What is the best way that is doing this!

[2016-09-05 10:11] jimferenczi commented on #20322
Hi @baiyunping333 ,

Please ask questions like these in the forum instead: https://discuss.elastic.co

The github issues list is reserved for bug reports and feature requests only.
thanks

[2016-09-05 10:11] #20322 closed

[2016-09-05 11:56] MaineC commented on #20231
That makes a lot of sense to me. IIRC in some earlier iteration of the API we even had support for specifying multiple templates at once.

I'm wondering if it would be fine for users to be required to send one rank-eval request per template they want to test. Given the above API proposal those requests would only differ in the template section, so all the rest could be automatically generated/ cop

[2016-09-05 12:23] sadokmtir commented on #4915
I want to get the second 10 buckets from an aggregation. How can I do that ??
Is the pagination supported yet ???

[2016-09-05 12:25] felixbarny commented on #4915
Nope. You have request for 20 buckets :(

[2016-09-05 12:28] sadokmtir commented on #4915
But this is only a very humble example to make it possible. But in reality it would be like results from 1000 buckets per page. So, as I see it is not possible to do that through aggregation in elastic-search ??

[2016-09-05 12:31] bleskes opened #20323 "File based Unicast Host Provider"
The unicast host list determines the list of port and ips an Elasticsearch node ping when it starts up and tries to find the cluster. The same list is used upon master lost and election start.

It has been long requested to be able to update this list via an API. That presented a challenge since, unlike other setting changes, this information can not be easily serialized in the cluster state as it

[2016-09-05 12:34] felixbarny commented on #4915
That's right. It's currently not possible. That's what this issue is about. But it seems to be very hard to implement because the operation may be distributed across many nodes/shards.

[2016-09-05 12:49] felixbarny commented on #4915
Because this feature is by **far** [the most requested one](https://github.com/elastic/elasticsearch/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc), I feel like elastic should care more about it.

Maybe write a blog which explains why it is difficult to implement and what the alternatives are. Additionally, it would be great if they would post one update per month here about the state o

[2016-09-05 14:50] romychs opened #20325 "JDBC Input plugin slowly eating PGA memory on Clobs"
**Elasticsearch version**: 2.3.5

**Plugins installed**: [none]

**JVM version**: Oracle 8u102

**OS version**: RHEL 6

**Description of the problem including expected versus actual behavior**: I am use jdbc input plugin to transfer log messages from oracle table to ES. Input configured like:
jdbc {
    type => "cdr-prod"
    jdbc_driver_library => "/app/logstash/lib/ojdbc7.jar"
    jdbc_driver_cl

[2016-09-05 14:54] s1monw commented on #20325
hmm not an elasticsearch pluign, you might wanna go to logstash instead https://github.com/elastic/logstash

[2016-09-05 14:54] #20325 closed

[2016-09-05 15:53] bpolaszek commented on #4915
Hi everyone,

I'm trying to switch a BI application from Solr 5.4 to ElasticSearch 2.3.5, and this was a feature I was using in Solr - https://cwiki.apache.org/confluence/display/solr/Result+Grouping

It would be great if Elastic implements it :)

[2016-09-05 16:34] jasontedor opened #20326 "Elasticsearch logger names"
When using Log4j and other Java-based loggers, the name of a logger tied to a class is the fully-qualified name of the class. For Elasticsearch, this would be `org.elasticsearch...` (e.g. the logger tied to `Bootstrap` would be `org.elasticsearch.bootstrap.Bootstrap`). However, Elasticsearch has long had a feature that drops the `org.elasticsearch` (so the logger for `Bootstrap` becomes `bootstrap

[2016-09-05 16:46] awislowski commented on #19487
Test was renamed. From MultiNodeBackwardsIT to Backwards50ClientYamlTestSuiteIT in the commit: 9270e8b22b2df5ae09726464419c179e18d9a3a7

Now test is successful:
[code]

It could be closed

[2016-09-05 18:43] dadoonet commented on #20326
I'm +1 to require `org.elasticsearch` and basically use everything standard.
It was super nice but I think we should drop this "feature".

Big +1 on my end.

[2016-09-05 18:59] bleskes commented on #20326
@jasontedor can you please clarify this:

PS. I will be sad if we can't come up with a consistent way, without options, to not have those long package names in our default logs. These were there for the embedded use case / embedded transport clients. With those going away it would be great if we can somehow keep the conciseness of the current default server logs.

[2016-09-05 19:26] jasontedor commented on #20326
@bleskes The Log4j pattern layout lets us control the precision of the logger name that is emitted. For example, we can specify `%c{-2}` and this will drop the first two levels in the hierarchy so `org.elasticsearch.bootstrap` becomes `bootstrap`. The downside to this approach is that `io.netty.buffer.ByteBufUtil` drops the `io.netty` and is just `buffer.ByteBufUtil` losing that it comes from Nett

[2016-09-05 19:29] jasontedor commented on #20326
Note that there's another discrepancy which is that we drop the class name from all loggers (so `org.elasticsearch.bootstrap.Bootstrap` becomes `bootstrap` because of the front and back truncation of the log name). This is again inconsistent with how log names from other components are treated (e.g., it's `io.netty.buffer.ByteBufUtil` including the class name).

[2016-09-05 19:51] jasontedor commented on #20326
Personally, I'm fine with how it is now. I put this up for discussion as @dadoonet asked in another channel and I do think it's worth ensuring we have consensus on this as we are wrapping up the Log4j 2 conversion.

[2016-09-05 20:45] nik9000 commented on #20326
I'm ever so slightly in the camp of doing it the standard way instead of
our funny, but maybe slightly easier way. But not so much in favor of it
that I think it is worth spending a lot of time on.

On Sep 5, 2016 3:51 PM, "Jason Tedor" <notifications@github.com> wrote:

[2016-09-05 20:52] jasontedor commented on #20326
To be clear, our easier way has problems. The one that I noted above about not being able to control the logging level for Elasticsearch only, we've effectively equated Elasticsearch with the root logger. The other is that it's impossible to control the log level for a single class, it's package-level only. This can be problematic for large packages, especially as we me to compress packages.

Eith

[2016-09-06 05:07] obudiman opened #20330 "failed to parse setting: percentage value not recognized."
**Elasticsearch version**: 5.0.0_alpha5

**Plugins installed**: x-pack 5.0.0_alpha5

**JVM version**: OpenJDK Runtime Environment (build 1.8.0_101-b13)

**OS version**: Linux 4.4.11-23.53.amzn1.x86_64

**Description of the problem including expected versus actual behavior**:

Elasticsearch failed to start with the following error message:
[WARN ][bootstrap                ] [elk5a_node01] uncaught

[2016-09-06 07:36] synhershko commented on #11346
Ok thanks @markharwood , we will run tests again with this in mind.

[2016-09-06 08:05] colings86 opened #20333 "GeoPolygon Query: Illegal shift value, must be 32..63; got shift=0"
Raised on the Discuss forum: https://discuss.elastic.co/t/geopolygon-query-illegal-shift-value-must-be-32-63-got-shift-0/59850

Steps to reproduce:

[code]

This is not an issue on master but can be reproduced on 2.3.5 and 2.4.0.

Stack trace:

[code]

[2016-09-06 08:05] colings86 commented on #20333
@nknize would you be able to take a look at this?

[2016-09-06 08:20] colings86 commented on #20330
I reproduced this on the current master branch. It looks like this (ability to specify the cache sizes as a percentage) might have been accidentally removed when we cut over to the new settings infrastructure.

[2016-09-06 08:24] yevhen commented on #20293
@clintongormley ping :)

[2016-09-06 09:55] javanna commented on #19809
With #20255 and #20327 we added serialization tests. The only missing tests are for `NodeIndicesStats` and all `CommonStats` and subobjects. They need to be reworked I think so that they can be made `Writeable`, immutable and easily testable. They are quite hard to unit test at the moment. I left a TODO [here](https://github.com/elastic/elasticsearch/pull/20327/files#diff-06b2ca5560d0b41e4bbd2b212

[2016-09-06 10:23] Gramler commented on #18667
I ran into this problem when my mapping type I used to create the mapping (map1) and the mapping type I passed when writing to the index (map2) was different. It then creates a new mapping on the fly for the "map2" that is a String, or Double, depending on the type of geoPoint info I had in there. Anyway... it then falls over with the given error message when it tries to write to the index

So dou

[2016-09-06 11:51] javanna commented on #10974
I think we did enough here. We will improve this when we need to (aka when we find more bugs that our tests didn't catch). But I think we are in a very good place!

[2016-09-06 11:51] #10974 closed

[2016-09-06 12:49] ajayar commented on #17537
Hi @brwe , I am using ES 2.4.0, and the query is of below nature, and I still get that error. So, is this issue still open?

{
"query": {
      "function_score": {
        "query": {
          "bool" : {
            "filter" : [  {"geo_bounding_box" : { ... }  ]
          }
        },
        "functions": [  { "gauss": { "Location_GP": { ... } }  } ]
      }
    },
    "highlight": { }
}

[2016-09-06 13:01] russcam commented on #20293
@yevhen The documentation is built with the asciidoc build process in the [docs repo](https://github.com/elastic/docs). The source for the `master` branch of the elasticsearch docs is in
https://github.com/elastic/elasticsearch/tree/master/docs/reference, with the span queries living in https://github.com/elastic/elasticsearch/tree/master/docs/reference/query-dsl.

Once an asciidoc file is added f

[2016-09-06 13:32] lassizci commented on #19297
Struggling with this as well on systemd system. the problem with `Type=simple` is that there's no mechanism to know whether the service started or not. It has to be found out afterwards with `status`. `ExecStartPost` could have some sleep in which case if ES (hopefully) dies during the sleep, the startup failure would be reported, but then again, arbitary sleeps aren't always reliable. There seems

[2016-09-06 14:00] nik9000 commented on #20286
Ok - this's been open for a bit and only positive comments - maybe @clintongormley can have a look? I've marked it as blocking for 5.0.0 because it'd be nice to have the cleanup in case we write any more scripts in the 5.x branch, but maybe it should be in 6.x instead? I'm not really sure.

[2016-09-06 14:09] brwe commented on #17537
@ajayar I cannot reproduce the failure on 2.4.1 Could you paste the whole query including the actual geo points and the full error message please? Stacktrace should be in the elasticsearch log.

[2016-09-06 14:55] brwe opened #20342 "elsticsearch-plugin list results in error message if there are no plugins installed"
**Elasticsearch version**: latest master (2b43c6db3a5bdd822e14b091925bae609b4e286e)

**Plugins installed**: []

**Description of the problem including expected versus actual behavior**: When I run

`elsticsearch-plugin list`

with no plugin installed I would expect the list returned is empty. Instead I get:

[code]

[2016-09-06 15:14] dadoonet commented on #20342
That's indeed happening with a new installation of elasticsearch when elasticsearch has never been launched.
Once elasticsearch is launched, it creates the missing `plugins` dir.

[2016-09-06 15:18] dadoonet commented on #20342
Looking at the code it was intentional to fail instead of reporting an empty list and eventually log the fact that the dir is missing.
@rjernst Do you remember this?

[2016-09-06 15:37] jasontedor commented on #20326
The more I think about this, the more I'm becoming convinced that the two detriments I've pointed out outweigh the benefits of not having to type `org.elasticsearch` and that we should make this change. Others?

[2016-09-06 15:37] nik9000 commented on #20199
Yeah - my proposal is to chop it to the first 50 failures in the response. We'd log all failures but only return the first 50.

I agree that that `.tasks` index should exactly match the result we return.

[2016-09-06 16:02] jasontedor commented on #20286
I don't think we should do this, at least not for 5.x, it's too big of a change and there are ramifications to think through carefully:
 - what if two plugins try to register the same command
 - we will probably end up with a support burden for third-party plugins subcommands
 - the plugin commands do not run with the Java security manager but it should if we are going to start talking about third

[2016-09-06 16:12] nik9000 commented on #20286
`elasticsearch-env` solves the problem as well but I didn't like that solution as much because it means yet more infrastructure that diverges on Windows and Linux.

Your points about not doing it right now are valid. I'm happy to switch it to 6.0. If we go with `elasticsearch-env` we can ship that with an earlier version of Elasticsearch without a problem.

Security in particular is a bit of a mix

[2016-09-06 16:20] dakrone commented on #20286
I agree with not doing this for 5.0, I think this is far too large a change to introduce this late. I also think the `elasticsearch-env` solution works totally well too

[2016-09-06 16:43] loren commented on #14441
I see there's already a "blocker" label on the issue, but I'll throw in that it's a blocker for the stuff I'm working on, too.

[2016-09-06 16:57] #20122 closed

[2016-09-06 17:29] djschny commented on #20199
Chatted with @nik9000 and it looks like chopping at 50 will suffice and those wanting to look at all of the failures can centrally get that information from the logs of the coordinating node handling the API call. More graceful handling of all of this can be added in the future as usage patterns become more known.

[2016-09-06 17:41] javanna commented on #14413
I double checked and I think we are not using `SearchParseElement` ourselves as each of our search sections has its own `fromXContent` method now, but plugins still need the interface to provide their parsing code for the ext section. We may want to revise a bit this code though and make it clear that it's needed only for plugins.

[2016-09-06 17:47] rjernst commented on #20286
I don't think we should do this, even for 6.0. It would require an entirely new api for a plugin to define these commands, but we should not be promoting scripts for anything! Scripts are something that should be one off. They only operate on a single node, and plugins should strive to add apis for their maintenance. A shared shell script to include would be an acceptable compromise IMO.

[2016-09-06 18:45] rjernst commented on #20342
I remember there is leniency for the dir not existing in the plugin manager because, IIRC, of tests not explicitly creating the plugins dir. I think we should add that and keep this a hard failure? All the packages should already have a plugins dir created right?

[2016-09-06 18:47] rjernst commented on #20342
Perhaps it is also the zip/tar.gz that don't have an empty plugins dir (seems that might be the case here). I think we can add that so all the packages don't get this failure.

[2016-09-06 19:28] softwaredoug opened #20345 "Add minhash token filter"
It would be nice to be able to use the minhash token filter, using [minHash token filter](https://issues.apache.org/jira/browse/LUCENE-6968) added to Lucene.

The minhash algorithm implements locality-sensitive hashing. Basically, every token is hashed into a hash table. The hash table is then sampled to generate a smaller set of representative tokens.

This has several applications
- Dimensionali

[2016-09-06 19:29] mkelkarbv commented on #20308
@bleskes we set minimum_master_nodes = 2 ( we have 3 master eligible nodes).
I cross-checked nodes to see if they were pointing to current master, and they were. The cluster is not around anymore. If I can get some guidance on what additional info to collect, I can collect it and report back the next time this happens.

[2016-09-06 19:31] softwaredoug commented on #20345
weird this wasn't linked, associated [PR](https://github.com/elastic/elasticsearch/pull/20346)

[2016-09-06 19:43] romychs commented on #20325
Excusez-moi, you're right :)

[2016-09-06 19:47] jasontedor commented on #20345
Duplicates #20149

[2016-09-06 19:47] #20345 closed

[2016-09-06 19:49] djschny commented on #20323
Can it be a URL? That way folks to point it git repo URL, file on disk, apache hosted file, etc. to make global updating for the cluster much easier.

[2016-09-06 19:53] nik9000 commented on #20323
I feel like a local file is the most stable thing and the best thing if you have any sort of configuration management system. I get that we could get http for free with the JVM but this opens up a whole can of worms I'd rather not deal with like "what about https? what about certs? what about `git://`?"

[2016-09-06 19:55] jasontedor commented on #20323
These can't easily be watched, but a file on disk can. And if we could connect to arbitrary resources via a URI, now we have a whole ton of complexity to worry about if the service is down. Finally, every respectable configuration management system can source from these suggestions and push updated configs to the relevant nodes. I really think can and should just keep it simple here.

[2016-09-06 19:58] bleskes commented on #20323
+1

Note that urls can bring a whole can of worms? what if they time out? how long should we wait? should we cache last results? etc.

We don't really need to watch (although possible) - we can just read the file content when a ping round starts.

[2016-09-06 20:01] s1monw commented on #20323
++ to keep it simple! The way to manage a file in a central / global way is know and proven, let's not reinvent the wheel.

[2016-09-06 20:37] dadoonet commented on #20342
Indeed. If doable, I'm +1 to have plugins dir in our archives.

[2016-09-06 21:51] kalyc opened #20352 "Accessing data in _source field"
**Elasticsearch version**: 1.7

I am building a custom plugin that uses single value aggregation in ElasticSearch.
Currently I aggregated analyzed text as the data and would like to use the raw text instead. I know that _source field stores the raw text. Is there any way that I can access it directly in the plugin - without having to create a separate "raw" field?

Any help on how should I go abou

[2016-09-06 22:03] nik9000 commented on #20352
We like to keep github issue for actual features and bugs and have discussions like this on discuss.elastic.co.

That being said 1.7 is very old given the pace at which Elasticsearch moves. A lot has changed since then. Have a look at how the highlighters get access to the _source. You can also look at how the fetch phase works.

[2016-09-06 22:03] #20352 closed

[2016-09-07 01:38] b1naryth1ef opened #20354 "Log filled with `Caused by: java.io.IOException: No space left on device` errors on data drive free space consumption"
**Elasticsearch version**: 2.3.2

**Plugins installed**: []

**JVM version**: Java(TM) SE Runtime Environment (build 1.8.0_72-b15)

**OS version**: Ubuntu 14.04.5 LTS (3.19.0-59-generic)

**Description of the problem including expected versus actual behavior**:

Just had our data drive run out of space on a 1-node elastic instance which caused the logging partition to be filled by a 28GB log file

[2016-09-07 01:59] markwalkom opened #20355 "Geodistance aggregation across multiple contigious geolines"
I have a map of a journey that I have taken, I have points on this journey that I can join to show the path I have taken. I'd now like to be able to measure the lengths of the lines between each point and provide a sum of those and say "this trip was N metres long" within Elasticsearch.

I am not sure if this would be a pipeline agg or a base level one (ie at geobounds level) but it seems like a p

[2016-09-07 06:16] talevy commented on #19995
@djschny I've update the PR to include these, except for `rename`. I feel that `ignore_failure` captures the escape behavior well enough for that case (only other way it would fail is if you supply an invalid path as the destination)

[2016-09-07 07:38] #20149 closed

[2016-09-07 07:47] colings86 commented on #14413
Yep, the `SearchParseElement` is now only used for plugins which add a custom fetch sub phase. We should work on a way to replace this with the builder system we have for the rest of the search request. When I looked at doing that before I think it got tricky but unfortunately I don't remember what made it tricky

[2016-09-07 07:54] #20330 closed

[2016-09-07 08:10] makeyang opened #20357 "['"
**Elasticsearch version**:

**Plugins installed**: []

**JVM version**:

**OS version**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

[2016-09-07 08:15] dadoonet commented on #20357
Opened by mistake I guess?

[2016-09-07 08:15] #20357 closed

[2016-09-07 08:30] eromoe opened #20358 "How to fix date field value(change field value from int to string)"
I used python ship data from mongodb to elasticsearch.

There is a timestamp field:

        "update_time" : {
            "type": "date",
            "format": "yyy-MM-dd HH:mm:ss||yyyy-MM-dd||epoch_millis"
        },

`epoch_millis`  is used for timestamp.

After everything done, I used `range` to query doc in date range. But nothing return. After some researching, I thought the problem was: pyt

[2016-09-07 08:56] motherhubbard opened #20359 "Missing documents from Percolation requests"
**Elasticsearch version**:

2.3.2

**Plugins installed**:

[]

**JVM version**:

java version "1.8.0_91"
Java(TM) SE Runtime Environment (build 1.8.0_91-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.91-b14, mixed mode

**OS version**:

CentOS Linux release 7.2.1511 (Core)

**Description of the problem including expected versus actual behavior**:

We are submitting a percolation request to poten

[2016-09-07 10:07] Doweig opened #20361 "Cluster nodes version, API missing"
**Elasticsearch version**: 2.3 / 2.4

**Description of the problem including expected versus actual behavior**:

Hello guys,

I'm trying to get all the nodes version from API but I can't find a way to do it.

First there is:
`http://localhost:9200/_nodes/stats` which provide a quite verbose list of information, settings and statistics for each node, however no ES version

Second:
`http://localhost

[2016-09-07 10:10] Doweig commented on #20361
`_nodes` is doing the job, my bad 💃

[2016-09-07 10:10] #20361 closed

[2016-09-07 11:57] djschny commented on #19995
Cool thanks @talevy

However from an external user perspective, consistency would be better. Externally `ignore_missing` feels like a global setting that would apply to all processors (regardless of how it is implemented internally).

To have to set it one way on some processors and another way on others just seems odd IMO.

[2016-09-07 12:04] MaineC opened #20363 "Extend rank evaluation response to include information useful for ranking debugging"
This relates to #19195

We already track which documents were seen in the actual response to our test queries to help with further debugging, guide further annotation efforts etc.

Open question: Would it be helpful to also track which of the annotated documents made it into the respective responses? If so, which information should we include - document id, title, some user definable field, someth

[2016-09-07 12:09] MaineC opened #20364 "Add "explain" to rank evaluation"
This relates to #19195

After playing with the rank evaluation API as is the first question that seems to come up is "Where does this specific evaluation metric value come from? What factors contributed to it? How was it computed?"

@bleskes and @colings86 made the suggestion to add support for "explain" to answer these questions.

[2016-09-07 12:13] MaineC opened #20365 "Add support (or at least namespacing) for requesting more than one metric per request"
This relates to #19195

As most likely the largest part in completing a rank evaluation request is with retrieving results for test queries it might make sense to support computing more than one metric at a time. While we might get away with postponing the complete implementation we should look at request/response formats and add additional name spacing where needed.

[2016-09-07 12:21] beiske opened #20366 "Maximum verbosity GC logging in a parseable format"
I would like it to be possible to specify in the log config that Elasticsearch should output gc details on every observation to a custom log file. I would also want this output to include all details monitored and be in a format suitable for parsing with Logstash or similar tools.

Some of the details I'm interested in are:
- Fill ratio for each pool, before and after gc
- GC counts per type (majo

[2016-09-07 12:23] soulne4ny commented on #14928
+1

It is quite surprising that `bucket_script` is so much different from other aggregations that ordering aggregation buckets by `bucket_script` is impossible. `order` clause just does not see a `bucket_script` name.

[2016-09-07 12:29] jasontedor commented on #20366
So we have these metrics available today, but we log these to the main Elasticsearch log file.
 - the ability to log every event can be controlled by tuning the thresholds to zero
 - the ability to specify a custom log file should be manageable through the Log4j configuration (but I'll ensure this is the case)
 - the format is not easily parseable
 - the log lines for GC overhead are separate from

[2016-09-07 12:47] jasontedor commented on #20323
Sure, that's fine, but I do think it's operationally more friendly to emit a log line communicating that the new configuration file was picked up.

[2016-09-07 13:05] MaineC commented on #19746
Closed with merging #20140

[2016-09-07 13:05] #19746 closed

[2016-09-07 13:16] muradm commented on #20323
Does this feature intended to close the gap with discovery tools like Consul, Etcd etc? If yes or no, what is the intended use case?

[2016-09-07 13:16] ESamir opened #20367 "Add support for date math on aliases name"
Elasticsearch support date math in the index name like

[code]

It will create an index for the next day es_security_00365-2016.09.06-0
but if we use the date math when we create an alias it doesn't  work

[code]

You will get

[code]

If elasticsearch support date math for alias name you will get

[code]

Relates to https://github.com/elastic/elasticsearch/issues/5359

[2016-09-07 14:00] bogdanzafirov opened #20369 "Fuzziness in multi_match query ranks typos over exact matches"
**Elasticsearch version**: 2.3.0

**Plugins installed**: [head, decompound, naturalsort]

**JVM version**: 1.8.0_03

**OS version**: Linux Mint 18

**Description of the problem including expected versus actual behavior**: When performing a multi_match query with fuzziness enabled results with typos have higher score than exact matches. The expected behavior should give exact matches higher score t

[2016-09-07 14:09] polyfractal opened #20370 "`multi_value_mode` on Terms Aggregation"
Today, all terms in a multi-valued field are aggregated.  Sometimes users want to prioritize the terms in some fashion, so that only one (or several) of the terms are aggregated while the rest are ignored.  This is more complicated than just inclusion/exclusion filtering, since it needs to be evaluated on a per-document basis in context of the other tags.

This can be useful if the document should

[2016-09-07 14:35] colings86 commented on #20370
actually to clarify, my position on the feature was slightly different to this. My suggestion was that the multi_value_mode option would support `[ 'all', 'min', 'max', 'sum', 'avg', 'script' ] and the value(s) used for the aggregation would be the result of the chosen option applied to the values for the field in each document. For example:
* All - would work as it does now, each value in the doc

[2016-09-07 14:40] polyfractal commented on #20370
Ah, oops, thanks for the clarification :)

Downside to min/max/sum/avg is that it assumes numeric input, so it wouldn't work/be useful for string fields?

[2016-09-07 15:21] #19956 closed

[2016-09-07 15:30] clintongormley commented on #20298
@areek could you take a look at this please?

[2016-09-07 15:38] sderungs opened #20371 "Feature Request: Decent Logstash and Kibana service wrapper for Windows"
We have a entirely Windows-based environment with no options to setup dedicated Linux VMs for Elastic Stack. Elasticsearch comes with a well functioning service wrapper.
Unfortunately, Logstash and Kibana don't...
To be able to install Logstash and Kibana as a service on Windows one has to use some other service wrapper - like for example the Non-Sucking-Service-Manager (https://nssm.cc/), which i

[2016-09-07 15:41] dadoonet opened #20372 "ArrayIndexOutOfBoundsException in WriteRequest with TransportClient 5.0.0-alpha5"
**Elasticsearch version**: 5.0.0-alpha5
**Plugins installed**: []
**JVM version**: 1.8
**OS version**: Mac OS
**Description of the problem including expected versus actual behavior**:

Error when injecting data from a TransportClient (in Java)

**Steps to reproduce**:

Basically, I have a node running at 127.0.0.1:9300:

[code]

Then I'm starting a client like this:

[code]

And indexing with:

[c

[2016-09-07 15:49] clintongormley commented on #20319
Hi @paulognr

We don't support running Elasticsearch as embedded.  See https://www.elastic.co/blog/elasticsearch-the-server

[2016-09-07 15:49] #20319 closed

[2016-09-07 15:53] cbuescher commented on #20363
First of all I'd find it usefull to get a breakdown of the total 'quality_level' according to the contricution of each individual search request. Something like this:
[code]
This introduces an additional array on the top level (`partial_results`, name open to suggestions) which contains the partial metric result and any additional "explain" like information. The later might differ for each metric.

[2016-09-07 15:53] clintongormley commented on #20321
@jazoom fancy sending a docs PR?

[2016-09-07 15:54] clintongormley commented on #20246
@johtani deprecate in 5.0 (including deprecation logging), and remove in 6.0

[2016-09-07 15:57] dadoonet commented on #20371
I think you are talking about:

* https://github.com/elastic/kibana/issues/6218
* https://github.com/elastic/logstash/issues/4005

Closing as elasticsearch has that already.

[2016-09-07 15:57] #20371 closed

[2016-09-07 16:06] awislowski commented on #18873
I have made a PR fixing this issue.

[2016-09-07 16:18] clintongormley commented on #20286
I agree with @rjernst and @jasontedor's comments.  It seems unnatural to try to force all scripts into the `elasticsearch-plugin` command.  The `elasticsearch-env` include is by far my preference.

[2016-09-07 16:30] talevy commented on #19995
I can't disagree there, I am all for consistency. It is just not the case that _all_ processors
operate by extracting information from one field.

Although, this may be a common theme (extracting data from one field) for many (if not all) of the existing processors, this is more of a coincidence rather than a rule.

Since processors are can be as flexible as "fetch data from somewhere else, and in

[2016-09-07 16:33] bleskes commented on #20323
Care to describe the specifics of that gap? Without it it's hard to give a definitive answer.

[2016-09-07 16:36] dadoonet opened #20375 "Building 5.0.0 SNAPSHOTs and using TransportClient in other projects in hard"
I'm trying to build a SNAPSHOT version of the latest master to be able to integrate it in a Test project.

After cloning the elasticsearch repo, I'm running:

[code]

It works well.

Then I'm creating another project (https://github.com/dadoonet/legacy-search) where I want to use this SNAPSHOT version I just built.
In my  `pom.xml`, I'm writing:

[code]

But sadly, some artifacts are not available

[2016-09-07 16:37] clintongormley commented on #20354
@b1naryth1ef What do you think we should do instead?

[2016-09-07 16:43] clintongormley commented on #20355
This doesn't fit in with the execution model of aggs or search.  There's no sense of order in which a journey could be expressed. it'd be much easier to just get back the docs with the lat/lon points then calculate the distance client side.

[2016-09-07 16:43] #20355 closed

[2016-09-07 16:46] djschny commented on #19995
I'm all fine with not making it a global/common property. No problem there and understand the concern.

However for the `rename` processor I believe it should still be applied there. In addition to the consistency item mentioned, it would help distinguish between situations where the field was missing and there was an actual error. For example as a user I would want a document that did not have th

[2016-09-07 16:48] dadoonet commented on #14617
Closing. See discussion on #20340.

[2016-09-07 16:48] #14617 closed

[2016-09-07 16:52] talevy commented on #19995
++ I'll add it to the rename

[2016-09-07 16:55] clintongormley commented on #20358
Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2016-09-07 16:55] #20358 closed

[2016-09-07 16:57] clintongormley commented on #20359
@motherhubbard do you have a search timeout?  Anything in the logs about why certain shards failed?

Interesting that no shards failed, yet not all shards returned.  @martijnvg any idea how this could occur?

[2016-09-07 17:44] rjernst commented on #20375
This is a known issue which I am working on fixing. I described the problem in #20164, but to summarize, `gradle install` is the "old" way of doing things. With the changes made for unified release, we should be using `gradle publishToMavenLocal`. However, that currently will not quite work either, due to how we hacked in transport client plugins. I am working on simplifying all this.

[2016-09-07 18:06] marshall007 opened #20376 "Allow specifying `type` in search templates"
Currently, specifying the `type` parameter in a search template results in:

[code]

Our search templates look something like this:

[code]

It's unclear to me whether this is a bug or intended behavior. In particular, for queries that include a `has_child/parent` clause, it doesn't really make sense that we would be able to define the child type but not the parent type in the search template. In

[2016-09-07 18:12] jasontedor commented on #20372
I think that we need to see the contents of the byte array representing `person` here, there are plenty of tests using effectively exactly the same code that you have here. Can you double-check your serialization of `person` or provide a unit test that reproduces this without an external dependency.

[2016-09-07 18:37] ppf2 commented on #20038
Not sure if this is the only case where a document can end up potentially bringing down the shard.  But this is a good opportunity to look at this in a broader view to see if having document isolation or similar (as a generic implementation) will be beneficial here. cc: @abeyad

[2016-09-07 18:41] abeyad commented on #20038
I don't believe a few bad documents or bad processing of documents should ever bring an entire shard down, so i'm +1 on finding a robust solution for this.  It won't be a trivial problem to solve, though we do handle similar issues in ES through various mechanisms (e.g. circuit breaker for too heavy aggregations, etc)

[2016-09-07 19:12] dadoonet commented on #20372
I will. Just for the record, same code works with alpha4.

[2016-09-07 19:14] dadoonet commented on #20375
Great news! Thanks Ryan for working on that!

[2016-09-07 19:21] jasontedor commented on #20372
That's fine, but we can't debug this until we have a byte array that reproduces the issue.

[2016-09-07 22:46] #19769 closed

[2016-09-07 23:34] jdconrad commented on #20264
Working through this -- after speaking with @rjernst ideally we need a way to disable asserts so they end up being no-ops.  I can see two ways of addressing options:
1) add something to the beginning of Painless scripts that allows optional options such as <asserts=true,option=value,...> -- this is nice because it means minimal API changes to scripting in ES and easily allows new options to be add

[2016-09-08 01:36] nik9000 commented on #20264
Yeah, I agree with the noop thing. Can it be done with the compilation
parameters? I thought that was a thing you'd piped through a while back. I
know those still have to be piped through the API, but some of the
infrastructure is there?

On Sep 7, 2016 7:34 PM, "Jack Conradson" <notifications@github.com> wrote:

[2016-09-08 02:04] ppf2 opened #20379 "Add node name to decider trace logging"
The allocation decider logging at TRACE level can sometimes be helpful to determine why a shard is not getting allocated on specific nodes.  Currently, we [only log the node id](https://github.com/elastic/elasticsearch/blob/165565a8174975d26b5da83f864db48d469f5925/core/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/AllocationDeciders.java#L77) for these messages.  It will be he

[2016-09-08 04:19] rayward opened #20380 "index.merge.scheduler.max_thread_count is not validated correctly, can break indexing"
**Elasticsearch version**: 2.3.4 / 2.4.0

**Plugins installed**: kopf

**JVM version**:

version: "1.8.0_102",
vm_name: "OpenJDK 64-Bit Server VM",
vm_version: "25.102-b14"",
vm_vendor: "Oracle Corporation",

**OS version**:
Debian 8.5
Linux 8e884c0e66a2 4.4.15-moby # 1 SMP Thu Jul 28 22:03:07 UTC 2016 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

ES

[2016-09-08 06:18] gm42 commented on #10767
Is this advice still valid? I will open a discussion topic.

[2016-09-08 07:06] motherhubbard commented on #20359
@clintongormley, thanks for getting back to me.

I did consider the timeout, we are using the default so 30 seconds. As it took 99ms (and I've got other examples taking 7ms) I thought it probably wasn't that. I can add some more logging to see how long the request was in flight for but I thought I'd throw it out there first

[2016-09-08 07:08] motherhubbard commented on #20359
It's probably worth saying we have 5 shards per index, just for info. So in the call above we were querying over 3 indices.

[2016-09-08 07:09] motherhubbard commented on #20359
And the logs are silent, nothing at all in them

[2016-09-08 07:13] martijnvg commented on #20359
@motherhubbard Did you notice shards not being available (perhaps due to nodes briefly leaving the cluster)?

[2016-09-08 07:16] bleskes commented on #20308
@mkelkarbv I would set the logs to `DEBUG` and if possible the `cluster.service` log to `TRACE`. That will help for sure.

[2016-09-08 08:08] s1monw commented on #20372
@dadoonet any chance that you transport client is still alpha4 and the server is alpha5? can you check you are using the right jar on the client?

[2016-09-08 08:44] tlrx opened #20381 "Use buffering in XContentBuilder.field(String,Text)"
As a possible improvement, the method `XContentBuilder.java` method could use buffering instead of working on byte arrays if it is supported by Jackson.

This issue is created after a `TODO` in [XContentBuilder.java](https://github.com/elastic/elasticsearch/blob/bd93c7054c4c9ef3309e55c2e6eabbff983e469c/core/src/main/java/org/elasticsearch/common/xcontent/XContentBuilder.java#L346-L348) so that we

[2016-09-08 08:47] bleskes commented on #20372
The liveness request from the client will fail due to minCompatibleVersion checks, preventing alpha5 from speaking to alpha4.

[2016-09-08 08:50] javanna commented on #14413
I opened #20382 to clean things up a bit. Closing this one then.

[2016-09-08 08:50] #14413 closed

[2016-09-08 08:55] jimferenczi commented on #20380
Thanks for reporting @rayward
I opened https://github.com/elastic/elasticsearch/pull/20383 which fails the update (and the index creation) if the merge settings are not valid

[2016-09-08 09:03] clintongormley commented on #11070
Fixed by https://github.com/elastic/elasticsearch/pull/19394

[2016-09-08 09:03] #11070 closed

[2016-09-08 09:08] clintongormley commented on #11401
This is at least partially solved by:

* #17133 - limiting the size of inflight requests
* #17396 - limiting the number of shards in a request to 1000
* #9311 - hard limit on `from`/`size`
* #19394 - circuit break on aggregation buckets

It would still be possible to overwhelm a client node by requesting too many enormous documents as hits, but the chances are greatly reduced

[2016-09-08 09:08] javanna commented on #17331
Given that this extension point was never really there, and there was no much activity on this issue either, I would go for leaving things as they are (no extension point) and eventually add what we need to add later when needed. Closing.

[2016-09-08 09:08] #17331 closed

[2016-09-08 09:16] alex-voigt commented on #8786
+1
any news?

[2016-09-08 09:21] jimferenczi commented on #20376
Please ask questions like this in the forum https://discuss.elastic.co/c/elasticsearch first.
What you're asking is already possible. You can add the type in the path or your request:
[code]
... or you can add a clause in your boolean query:
[code]

[2016-09-08 09:21] #20376 closed

[2016-09-08 10:24] javanna commented on #14190
I am looking into this. I would love to remove all of the `SearchRequestBuilder` setter methods that end up setting stuff to the `SearchSourceBuilder` object, which should rather be set explicitly using `setSource` only and using `SearchSourceBuilder` directly to provide query, size etc.

This would remove all the inconsistencies mentioned in this issue, but it turns out to be a huge change for ja

[2016-09-08 10:25] jasontedor commented on #19444
Superseded by #20380

[2016-09-08 10:25] #19444 closed

[2016-09-08 10:41] javanna commented on #14192
I wonder if this should be doen for 6.0. That way we could stay with what we have in 5.0 and cause less upgrade pain to java api users. We plan to make java api an internal only thing in 6.0 so renaming is going to be much less problematic at that point. I will label 6.0.0 rather than 5.0.0

[2016-09-08 10:43] javanna commented on #9962
Given what we plan on doing for the java api (deprecate soon, use only internally in the future) I am wondering if it makes sense to invest time on this issue. I would vote for closing.

[2016-09-08 10:47] #20380 closed

[2016-09-08 11:01] nik9000 commented on #14192
I'm comfortable waiting until 6 for this.

On Sep 8, 2016 6:41 AM, "Luca Cavanna" <notifications@github.com> wrote:

[2016-09-08 11:47] motherhubbard commented on #20359
This is not a clustered environment, just a single
Node

[2016-09-08 15:20] yevhen commented on #20293
@russcam done

[2016-09-08 15:51] muradm commented on #20323
Elasticsearch currently relying on zen unicast discovery, where I have to provide list of hosts in advance. But in automated environment I don't know actual IP addresses or hosts that will be assigned to servers, containers, VMs etc. Explaining my last case:

This basically leads for such ugly configurations like below.
[code]
This is a snippet from long `docker-compose.yml` file. With current Ela

[2016-09-08 16:04] jdconrad commented on #20264
@nik9000 There is a <String,String> map in compile that we added to be able to remove a custom script engine that wasn't otherwise necessary.  There are a couple other issues that need to be solved depending on the route we go.  Global versus script-only options, are they all one or the other?  (Both even?) And, will there be any issues with caching since if we don't go with option one, something

[2016-09-08 16:10] nik9000 commented on #20264
Right. That map probably needs to be part of the cache key in addition to any other plumbing we'd have to do if we used the map.

[2016-09-08 17:01] Analect opened #20390 "ingest-attachment pipeline is rejecting documents where chars count > default 100k"
**Elasticsearch version**: 5.0 alpha5

**Plugins installed**: [aggs-matrix-stats, ingest-common, lang-expression, lang-groovy, lang-mustache, lang-painless, percolator, reindex, transport-netty3, transport-netty4, discovery-ec2, ingest-attachment, lang-javascript, lang-python]

**JVM version**: JVM[Oracle Corporation/OpenJDK 64-Bit Server VM/1.8.0_102/25.102-b14]

**OS version**:  Linux/4.2.0-18-g

[2016-09-08 17:08] jasontedor opened #20391 "Remove support for cluster name in data path"
In Elasticsearch 5.0.0, including the cluster name as part of the data path was deprecated. New clusters did not use the cluster name as part of the data path, but existing clusters were still supported with the intention of removing support for this in Elasticsearch 6.0.0. This issue is a tracker issue for the removal of that support.

Relates #18554, relates ef2ff1aeabad8f8425adc4683796b7c08dbfa

[2016-09-08 17:43] benzitohhh opened #20392 "Highlighting no longer works for Lucene-style wilcard queries within a function-score."
**Elasticsearch version**: 2.4.0

**Plugins installed**: None

**JVM version**: 8

**OS version**: MacOSX, Linux

Highlighting no longer works for Lucene-style wilcard queries within a function-score.

This was working ok in v2.3.4, but is not working since v2.4.0

I think this may be related to this change: https://github.com/elastic/elasticsearch/pull/18183

For example, previously the below was

[2016-09-08 18:15] marshall007 commented on #20376
@jimferenczi sorry, I was already aware of the other mechanisms for filtering by `type` in your query. I was specifically noting in this issue that lack of support for the `type` field in search templates seems like an inconsistency.

[2016-09-08 18:19] clintongormley commented on #20367
I'm not sure about doing this.  First I don't want to complicate adding aliases.  Second we could introduce unexpected behaviour such as when running this command at midnight, ending up with the alias and index having different days.

With the new [rollover-and-shrink](https://www.elastic.co/blog/managing-time-based-indices-efficiently) pattern for indexing, the user decides when to check whether

[2016-09-08 18:49] clintongormley commented on #20369
Actually this is quite different.  Issue 3125 is about having many occurrences of the correct term and few occurrences of an incorrectly spelled term, and having the incorrectly spelled term rank over the correct term.

The problem with your  example is this: combining fuzziness with an edge-ngram field is a bad idea.  Here's why:

    PUT t
    {
      "settings": {
        "number_of_shards": 1,

[2016-09-08 18:49] #20369 closed

[2016-09-08 19:05] s1monw commented on #20372
@bleskes I might be wrong but it seems like if you use sniffing it's not doing that. And if we don't use the handshake connect but we should? @dadoonet do you use sniffing?

[2016-09-08 19:05] marshall007 commented on #9711
@clintongormley @lukas-vlcek I couldn't find any currently open issues still related to this problem, but it definitely exists. There's no straight-forward solution to the trailing comma problem that arises in situations like these:

[code]

[code]

I think one of two things needs to happen for this to be solved across the board:

1. Have the JSON parser ignore trailing commas (at least in the con

[2016-09-08 19:18] clintongormley commented on #20293
@yevhen i don't see a pull request for this in our repo?  Did you create one?

[2016-09-08 19:20] dadoonet commented on #20372
I don't but IIRC one of my tests it was impossible to use a client version alpha4 with a node running alpha5.

But I'll double check all that tomorrow.
And I'll try to reproduce with a test as suggested by Jason.

[2016-09-08 19:24] clintongormley commented on #20264
I really like the idea of being able to enable/disable asserts per script, eg with the options at the beginning of the script.  Typically you want to debug a single script, rather than turning on asserts for all scripts in your cluster.

[2016-09-08 19:29] nik9000 commented on #20264
Right. I was thinking something like:

[code]

[2016-09-08 19:30] clintongormley commented on #20392
@jimferenczi would you mind taking a look?

[2016-09-08 19:32] nik9000 commented on #9711
I'm totally in favor of us being as standard as possible but, man, I'd love the json parser to ignore trailing commas! I'd like it but I don't know if it is the right thing for Elasticsearch. I like all kinds of silly stuff.

[2016-09-08 20:04] pickypg commented on #20171
merged in #20343 and #20353

[2016-09-08 21:03] abeyad commented on #20323
The goal is indeed to enable specifying the hosts for unicast discovery via a separate file, and have that file be dynamically updated outside of Elasticsearch (for example, if the IP addresses of some of your hosts changed and you want to re-publish the list of unicast hosts to ping during discovery, it would now be possible with this plugin).

[2016-09-08 21:31] yevhen commented on #20293
@russcam but isn't the current PR is not the right one? :)

I did the commit https://github.com/YouScan/elasticsearch/commit/d51ade78d800b7abda5e7d79967fdb32d273927d which you can see referenced by the current PR (#20293)

[2016-09-08 21:32] yevhen commented on #20293
Should I make a separate PR?

[2016-09-08 21:53] russcam commented on #20293
@yevhen You've referenced this issue but would you be able to open a [PR with your change](https://github.com/elastic/elasticsearch/pulls), referencing this issue?

[2016-09-08 22:23] yevhen commented on #20293
this https://github.com/elastic/elasticsearch/pull/20395

[2016-09-08 23:15] rayward commented on #20380
Thanks for the quick fix!

[2016-09-09 07:17] goodfella1408 commented on #12366
Facing this in elasticsearch 2.3.1 . Before this bug is fixed we should atleast have a list of defaulting fields inside mapper_parsing_exception error so that the app can choose to remove them . Currently there is no standard field in the error through which these keys can be retrieved -

"error":{"type":"mapper_parsing_exception","reason":"failed to parse [X.Y.Z]","caused_by":{"type":"json_parse_

[2016-09-09 07:21] dadoonet commented on #20372
Ok. @s1monw is right. Apparently I had in my classpath an old version of something.
I looked at my local .m2 `transport-netty4-client` pom and it was having dependencies on a netty version built by us SNAPSHOT version. Not sure why this happens but here is what I did:

* remove all files in `.m2/repository/org/elasticsearch`
* run `mvn clean install` on my project
* start again

And everything is

[2016-09-09 07:21] #20372 closed

[2016-09-09 07:24] s1monw commented on #20372
now the question is why was this client able to connect to the node at all?

[2016-09-09 07:26] s1monw commented on #20372
;)

[2016-09-09 07:27] dadoonet commented on #20372
@s1monw I think that I was having both versions of the libs on the classpath? That might explain why I was able to use `PreBuiltTransportClient` class (which came only in alpha5 - transport jar).
And I guess that elasticsearch jar alpha4 was still on the classpath.

[2016-09-09 07:28] s1monw commented on #20372
oh man, jar hell? I guess you should enable jarhell checks in your app. I will use this as an example for everybody complaining in the future.

[2016-09-09 07:29] dadoonet commented on #20372
Definitely

[2016-09-09 08:17] clintongormley opened #20397 "Disable regular expressions in Painless by default"
Painless is designed to be fast and safe.  The one chink in its armour is Java regular expressions.  A pathological regular expression could run in quadratic time or even throw a StackOverflowError.

I think we should disable Java regular expressions by default and add a setting which allows them to be enabled.

Nice to have: support Lucene regular expressions for matching without capturing, as th

[2016-09-09 08:32] martijnvg commented on #20359
@motherhubbard Maybe if you increase the logging of the percolator you can see more and we can perhaps figure out what is going wrong.

Can you send the following request (which changes log levels at runtime):

[code]

and send back any error / stacktrace that may show up?
If you don't see any errors while you have percolator partial results then you can try setting the log levels to `TRACE`.

[2016-09-09 08:55] clintongormley commented on #9711
@marshall007 as of 2.4.0, there is now a `toJson` template helper which should do the right thing.  See https://www.elastic.co/guide/en/elasticsearch/reference/2.4/search-template.html#_converting_parameters_to_json

[2016-09-09 08:56] #20171 closed

[2016-09-09 08:59] s1monw commented on #19562
@jasontedor can we have a dedicated issue for that last checkbox open here?

[2016-09-09 09:04] s1monw commented on #20397
I don't know how complex it would be but maybe we can enable lucene regular expressions by default and only if the user enables it allow complex ones?

[2016-09-09 09:05] clintongormley commented on #20286
Fix it Friday agrees with the `elasticsearch-env` approach.  I think this can be closed.

[2016-09-09 09:05] #20286 closed

[2016-09-09 09:10] jasontedor opened #20398 "Enable Netty 4 advanced leak detection in tests and fail the build if there is a leak"
Netty has pooled and unpooled byte buf alloactors. The pooled allocator uses reference counting to track when a byte buf can be returned to the pool, and leak detection to ensure that byte bufs are properly accessed/released. Netty has different levels of detection from disabled to paranoid (check every access). We should enable leak detection in tests and fail the build if a leak is detected.

Re

[2016-09-09 09:11] jasontedor commented on #19562
@s1monw I opened #20398.

[2016-09-09 09:11] s1monw commented on #19562
w00t

[2016-09-09 09:12] clintongormley commented on #17767
@abeyad any further news on this?

[2016-09-09 09:17] jasontedor commented on #19562
Closing since the last remaining item has a dedicated issue, #20398.

[2016-09-09 09:17] #19562 closed

[2016-09-09 09:34] colings86 commented on #20370
We discussed this in FixItFriday and agreed that the numeric use case is appealing for this (i.e. https://github.com/elastic/elasticsearch/issues/20370#issuecomment-245300544). The feeling was that the string fields case couldn't be solved much easier than having the simple script the @polyfractal has given in the gist above so using the terms aggregation for this specific priorities case would be

[2016-09-09 09:47] clintongormley commented on #20367
Discussed in Fix it Friday - for consistency's sake we should add support for date math to aliases.  Need to ensure that a single `now` value is used for the whole request.

[2016-09-09 09:59] makeyang commented on #20379
I checked the code and found out that it's mainly logged only with node name, like below code:
logger.warn("Unable to retrieve node FS stats for {}", nodeStats.getNode().getName());
logger.trace("sending diff cluster state version [{}] with size {} to [{}]", clusterState.version(), clusterStateDiffBytes.length, discovery.localNode().getName());

so how about we only log node name here ?
if u guys

[2016-09-09 10:14] jasontedor commented on #20326
We discussed this during Fix-it-Friday and have agreed that we should let the logger names be the full name of the class (e.g., `org.elasticsearch.cluster.service.ClusterService`).

[2016-09-09 10:40] lukas-vlcek commented on #9711
@clintongormley Clint, how does it handle case when the input "clauses" array is empty? Would it render empty "must" array in final JSON? I.e. `{"query":{"bool":{"must": []}}}`.

[2016-09-09 10:41] clintongormley commented on #20379
@bleskes @dakrone thoughts?

[2016-09-09 10:46] clintongormley commented on #9711
@lukas-vlcek yes:

    GET _render/template
    {
      "inline": "{\"query\": { \"bool\": { \"must\": [ {{#toJson}} clause {{/toJson}} ]}}}",
      "params": {
        "clauses": []
      }
    }

returns:

    {
      "template_output": {
        "query": {
          "bool": {
            "must": []
          }
        }
      }
    }

[2016-09-09 10:58] polyfractal commented on #20370
Just to play devil's advocate, I'm not sure numerics alone justify the extra complexity added to the code by introducing this feature.  A script to average/min/max the numerics in a multivalued field is not terribly different from that needed to handle strings, and it's probably a bit simpler.

I guess I'd vote that if the string version is fine as a script, the numerics are probably fine as well

[2016-09-09 11:01] lukas-vlcek commented on #9711
@clintongormley ok, so the `{{#toJson}} my_id {/toJson}}` in `inline` value needs to match `my_id` found in `"params": { "my_id": [ ... ] }`.

BTW, the doc contains typo: `{{toJson}}` should be `{{#toJson}}`, see the beginning of the paragraph.

Thanks.

[2016-09-09 11:05] jimferenczi commented on #20392
@clintongormley, I opened https://github.com/elastic/elasticsearch/pull/20400

[2016-09-09 11:07] clintongormley commented on #9711
thanks @lukas-vlcek - fixed

[2016-09-09 11:21] motherhubbard commented on #20359
Sure, I'll get back to you when I have something interesting ;-) cheers

[2016-09-09 11:28] colings86 commented on #20370
That's a good point. Maybe we should discuss this more

[2016-09-09 12:26] nik9000 commented on #20397
A node level setting or something sent with the request like we're talking about for assert? If a node level setting then a dynamic one or a static one?

Lucene's syntax is not a drop in replacement for java. It'd be nice if we only had a single regex syntax but I can see the allure as I know they are safe.

I'm also happy to investigate any alternative that lets us ship a safe regex engine out of

[2016-09-09 13:40] oleg-andreyev commented on #15537
Issue seems still persists on v2.4.0:

[code]

[code]

[2016-09-09 14:02] tchiotludo opened #20401 "CardinalityAggregation with _parent field and nested childs"
CardinalityAggregation with count on _parent field failed in this kind of case :

- When you have : User is parent for Address : CardinalityAggregation for _parent fields works well and return count of parent
- When you have : User is parent for Address that is also parent for address_child : CardinalityAggregation for _parent fields return the count of children, not the parent one.

Tested on ES

[2016-09-09 14:23] jasontedor commented on #15537
@oleg-andreyev This is a completely different issue. You're hitting a `TooComplexToDeterminizeException` inside Lucene, which we do not serialize, hence the wrapper. Hence the message:

It looks like you have a regular expression that is too complex? I suggest opening a discuss thread on the [Elastic Discourse forums](https://discuss.elastic.co) if you have additional questions.

[2016-09-09 14:29] nik9000 commented on #20397
Whatever we do, I'm happy to take the issue.

[2016-09-09 15:59] marshall007 commented on #9711
@clintongormley are you suggesting that I move the full `aggs` clauses into the `params`? Sort of defeats the purpose of using search templates in the first place, doesn't it?

[2016-09-09 16:13] jdconrad commented on #20264
I would prefer just adding the options to the beginning of the script because it requires no change to the REST API, and naturally fits the existing cache without modification.  This isolates the change to only Painless.

[2016-09-09 16:35] clintongormley commented on #9711
No I'm not - I'm suggesting that you use `toJson` to render your array, instead of using mustache loops.  the docs have an example

[2016-09-09 16:40] marshall007 commented on #9711
@clintongormley in my example, I'm building an object body. Do `aggs` support some sort of array notation that I'm unaware of?

[2016-09-09 17:07] kellihall commented on #18317
I agree.  I'm trying to install it as a service on Windows (as I did with earlier ES versions), but getting error message noted above.  Please be sure to document this issue and how to resolve.

Thanks!
- Kelli

[2016-09-09 17:12] jasontedor commented on #18317
@kellihall It was documented in #18324 and is currently available in the [Installing Elasticsearch as a Service on Windows](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/windows.html#windows-service) section of the docs. :smile:

[2016-09-09 17:20] kellihall commented on #18317
That worked!  I added -Xss1m to the jvm.options file in the config folder and re-ran the 'service.bat install' command.  It is now installed and running as a service in windows.
Thanks so much!!

[2016-09-09 17:23] jasontedor commented on #18317
@kellihall You're very welcome.

[2016-09-09 17:46] clintongormley commented on #9711
@marshall007 oh i see what you're doing now.  you're stuck with crappy mustache loops i'm afraid.

[2016-09-09 18:01] marshall007 commented on #9711
@clintongormley yea and there is literally no solution to removing the trailing comma from the last element in the loop without doing insane things in your `params`. It would be really trivial for you guys to hack it together on the backend by doing something like this on any array `field`s specified in `params`:

[code]

Then you could do this in the template:

[code]

[2016-09-09 18:28] clintongormley commented on #20397
I think it should be a static node level setting, like the settings which enable/disable scripting.

Yeah, the bugger is that the regex syntax is already used by Java rx.  I don't know how feasible it would be to have `/.../` to mean Lucene rx, but (eg) have `java/.../` mean Java rx.

[2016-09-09 18:31] nik9000 commented on #20397
I think because we've marked it experimental we should allow ourselves to do this if we think it is right. I don't think it'd be impossible to do something like that.

[2016-09-09 18:54] nik9000 commented on #20397
Ok - I've self assigned this. I'll make the setting soon-ish.

[2016-09-09 20:01] abeyad commented on #17767
@clintongormley None of these tests have failed since this issue was reported on April 14.  I propose we close this unless something else manifests.

[2016-09-09 21:34] #20052 closed

[2016-09-10 00:03] jdconrad commented on #20397
Just to note, here's the regex that @clintongormley mentioned that was causing the slowness
```'xxxxxxxxxxxxxxxx'=~/(x*x*)+y/```

[2016-09-10 00:46] djschny commented on #19995
Saw that the PR merged, thanks! However I noticed `ignore_missing` defaults to `false`. From my experience thus far working with pipelines to perform tasks, majority of the time I need `ignore_missing` to be `true`.

Were there any particular considerations into why defaulting to `false` was chosen?

[2016-09-10 13:37] ajayar commented on #17537
Sorry for the delay. Please check the details below:

[code]
`

[2016-09-10 14:11] jasontedor commented on #20179
No feedback, closing.

[2016-09-10 15:44] lucab commented on #20179
I was hoping that `please do not invoke random/unimplemented syscalls` didn't need any further feedback and explanations, but it looks like I was wrong.

Also, I'm not too happy that you started dragging this further down to "please bring more cases and feedback", given the multiple rationales I provided beforehand.

Anyway, as it looks like you explicitly require more details as to why this ES be

[2016-09-10 18:15] jasontedor commented on #20179
Of course it requires explanation, and incredulity is not warranted here. We have valid reasons for doing what we do, you have valid reasons for suggesting that we think about it differently, and the only way to find common ground is to have a dialog.

We are not going to get far at all if you can't see my questions as seeking to further understand what you're doing and thinking so we can reconsid

[2016-09-11 11:41] marfago opened #20408 "NPE when fetching source from an index with _source disabled"
**Elasticsearch version**: 2.4.0

**Plugins installed**: [Marvel,Head,License,Delete-by-query]

**JVM version**: 1.8.0_91

**OS version**: linux ubuntu 14.04 - 4.5.7

**Description of the problem including expected versus actual behavior**:

I have 8 indexes, called url-0,url-1,...,url-8 with around 1B documents.
The template for each index is

    {
        "template" : "url-*",
        "settings

[2016-09-12 07:13] cuthbe opened #20410 "2.4 and support for Netty 4"
We are trying to upgrade our ES to 2.4 but when we do we are getting jar conflicts with the very old Netty version running on 2.4, I think it is picking up 3.6? Any chance this is going to be updated?

[2016-09-12 07:15] tlrx commented on #20408
This looks very similar to #20093

[2016-09-12 07:16] s1monw commented on #20410
this is coming in 5.0 and will not be backported. see https://github.com/elastic/elasticsearch/issues/3226

[2016-09-12 07:16] #20410 closed

[2016-09-12 07:18] cuthbe commented on #20410
Wow thanks for the quick response. Okay so hang ten for 5.0 then.

[2016-09-12 07:20] s1monw commented on #20410
@cuthbe it's not too far out but I can't give you an exact date. Given the fact that we already branched 5.0 out is a good sign :)

[2016-09-12 07:21] cuthbe commented on #20410
Thanks for the update. Looking forward to the update.

[2016-09-12 08:50] marfago commented on #20408
Yes I agree.  It affects v2.4 too.

[2016-09-12 09:32] javanna commented on #20408
thanks for pointing this out. Fixed by #20093 . Fix will be part of the next 5.0 release. 5.0.0-alpha5 is still affected.

The problem manifested only when _source was asked for explicitly. I am not too happy with not returning any error and simply skipping the _source part of the request, I would have rather thrown an error there. Thoughts?

[2016-09-12 09:45] tlrx commented on #20408
I hate to say that but I think it should be configurable on a per request basis? When querying multiple indices you might want to return `foo` for some docs and `bar` for other docs while searching on a third field. And sometimes you query well defined indices and a missing source field must just throw an error in that case.

[2016-09-12 10:02] javanna commented on #20408
@tlrx what should be configurable? The behaviour? Either throw an error or skip without barfing? I am afraid I don't follow why skipping some part of the request that cannot be performed would help. You are going to run into problems when reading the response anyway as some part will be missing.

[2016-09-12 10:05] motherhubbard commented on #20359
I ran with debug over the weekend but it was as quiet as a mouse. I've just bumped it up to TRACE which is now a lot busier. I'll let you know when I have something to report.

[2016-09-12 10:16] brwe commented on #17537
@ajayar Thanks a lot for the example, that was very helpful. The example works fine for me on 2.4 but on 2.3.5 (where this error should not occur either) the query fails for me. I will open another pr to address this.
However, we must still figure out why you get this error on 2.4. too.
Can you run the example again and then also add the output of
```GET test_idx/_settings?human```

[2016-09-12 10:17] marfago commented on #20408
In my case, _source is disabled but some fields are still stored. So it is definitely still possible to retrieve some fields event though _source is disabled.

[2016-09-12 10:21] javanna commented on #20408
@marfago then you should use `fields` rather than `_source`. `_source` will always try to extract fields out of the source field and will return only those rather than the whole source. Fields will instead get the stored fields from lucene directly. Not sure whether the spark integration supports any of this.

[2016-09-12 10:29] MaineC commented on #14192
Sounds like a good plan to me as well.

[2016-09-12 10:35] Inkromind commented on #11709
We ran into this issue when one of our nodes was being restarted. It was receiving requests before it was fully initialized and so it threw a ClusterBlockException. The request was not retried with another node.

Is anything going to happen with @kimchy s changes (for which I couldn't find a pull request) or should we catch this exception ourselves and retry (with the possibility that our request

[2016-09-12 11:14] maxcom commented on #19036
This happened after OOM killer killed Elasticsearch. Maybe ES can automaticly remove this lost temp file on startup?

[2016-09-12 11:31] marfago commented on #20408
@javanna :thank you for the clarification.
What if:
1)keep as default the current behaviour, just handling/wrapping the NPE with a more meaningful message/exception
2)introduce a boolean query parameter (a sort of ignore_disabled_source) in order to change behaviour and silently ignore indexes with disabled _source
3)open a new issue in elasticsearch-spark for handling the "fields" parameter.

[2016-09-12 12:07] javanna commented on #20408
the current behaviour after the fix is "ignore the _source parameter if _source is disabled", I don't like that

I tend to be against this, I don't think it is worth adding yet another request parameter for such an edge case, in the spirit of #11172.

thanks for doing that ;)

[2016-09-12 12:21] tlrx commented on #20408
This is a very good point @javanna and the rationale behind #11172 is good too. I agree we should throw an error here but I'd like to be sure how we handle similar case with `fields` or `stored_fields`.

[2016-09-12 12:23] javanna commented on #20408
thanks Tanguy, maybe @clintongormley has some opinion too on this

[2016-09-12 12:42] #3839 closed

[2016-09-12 12:59] s1monw commented on #20408
++ to what @javanna said. If you disable source and you use a feature that needs it you fail. Hard!

[2016-09-12 13:02] s1monw commented on #19036
I am not sure, if your OOM Killer kicks in at that early stage something is really fishy. It's such an exceptional situation that we should require human interaction? I mean we can maybe throw a better exception but messing with it seems dangerous?

[2016-09-12 13:16] nomoa opened #20413 "position_increment_gap should be allowed for analyzed fields where positions are not stored"
In #19510 position_increment_gap is no longer allowed on fields where position are not stored.
It's a breaking change that prevents some indices running on 2.3.4 to be upgraded to 2.4.

Initially I thought that it could break some use cases with the shingle token filter but it does not appear to be the case.

The problem here (I think) is that a breaking change has been introduced into the 2.4 bra

[2016-09-12 13:32] david206 opened #20414 "Add Named Queries to explanation"
**Describe the feature**:
When adding `_name` to query, the name will be visible on the explanation (on the same level as the hit it matched on), in addition to the `matched_queries` field. This will make explanation of complicated queries more readable.

[2016-09-12 13:56] #20392 closed

[2016-09-12 13:56] motherhubbard commented on #20359
I've managed to capture some trace information as requested but I cant see that it sheds much light on the problem (at least to my untrained eye).....
Heres the top of the response to my code:
*************** {"took":54,"_shards":{"total":10,"successful":5,"failed":0}

Heres the corresponding lines from the trace:
'''[2016-09-12 12:55:19,606][TRACE][action.percolate         ] [Ezekiel Sims] Adding

[2016-09-12 13:57] cbuescher opened #20417 "Rank Eval: Simplify request structure, leave out 'key' parameter for rated documents"
This is a simplification @polyfractal suggested as feedback to our current form of the ranking API. Currently we specify each rated document like this:
[code]
The `key` parameter can be dropped in favour of:
[code]

[2016-09-12 14:51] marfago commented on #20408
@javanna and @s1monw In my use case (see the description), the first query succeeds returning an apparently valid scrollId, then the second query fails because the _source is disabled.
I think it should fail earlier, preventing the scrollId to be created.

[2016-09-12 15:03] javanna commented on #20408
I see what you mean @marfago , I am afraid what you request is not that easy to achieve on our end, but I will check whether we already have some validation mechanism in place that we can leverage. The problem is that we throw the error once we try and fetch fields from the source, which is part of the fetch phase. The first phase of search, query, works without any issue. Once the top hits need t

[2016-09-12 16:12] jdconrad opened #20426 "Custom Call Signature Per Script Context"
We should make each context execute scripts based on exactly what gets passed in and returned.  This eliminates a huge number of potential boxes for something like scoring that returns a double value out of a script.  This may also eliminate a large number of hash look ups as certain parameters will be passed directly into the method instead of accessed from a map.  Over millions of documents thes

[2016-09-12 16:36] #20408 closed

[2016-09-12 16:47] nik9000 commented on #20426
I agree with the idea of having the context at compile time. Are you thinking you'd have to pass in a `Class` and we'd would analyze the publicly visible getters? Something more explicit and less magic? Like a `Map<String, ContextField>` where `ContextField` has `Method` references for getting and (optionally) setting?

[2016-09-12 16:55] jdconrad commented on #20426
@nik9000 I can't say this is 100% thought-through yet as I need to go through the code and figure out what the contexts should be (I don't think the existing ones completely fit all the cases), but as I think you've seen in the past from me I prefer explicit over magic typically :) .  I was thinking more along the lines of perhaps an interface per context with the signature that must be implemente

[2016-09-12 17:11] nik9000 commented on #20426
That makes sense. I think it'd be pretty cool to say "here is some text that a user sent me, please compile it and return something that implements this interface". We wouldn't have to pass in there `ctx` objects any more at all which'd be cool.

I like the flexibility of letting the user of the script engine specify the interface that it needs. It lines up pretty well with "what can this script e

[2016-09-12 17:17] jdconrad commented on #20426
@nik9000 Exactly what I was thinking!  As a bonus, I really think this will help clean up the ScriptService quite a bit too.

[2016-09-12 17:17] nik9000 commented on #20426
++

[2016-09-12 17:23] jdconrad commented on #20397
@rjernst I know you had some ideas about the way options should be implemented for languages... Curious to hear your thoughts since whatever option is added here would likely be how other options are done in the future as well (asserts, loop counter, etc.)

[2016-09-12 17:34] nik9000 commented on #20397
I think this one has to be a node level non-dynamic setting because it is part of the sandbox protections. I'd love asserts to be a request level setting because it is part of the debugging process. I guess I just think those are different things.

[2016-09-12 17:43] jdconrad commented on #20397
^^ Agreed these are different.  I realize that I have done all of zero settings work so I will defer on this to others that know that code better than I do.

[2016-09-12 17:44] motherhubbard commented on #20359
It's probably worth saying that we are using the mpercolate interface also

[2016-09-12 17:48] Nokel81 opened #20428 "Have more than one global analyzer"
Version: 2.3.5

In this version it is possible to set an analyzer to be the default one, and to set them per field. It would be very useful if you could have other analyzers which could be specified in the query.

[2016-09-12 18:00] nik9000 commented on #20397
I think this is a more general problem. It'd be nice if `elasticsearch.yaml` could contain just the connection information and you could use the API to configure all the settings but this doesn't play nice with settings that we don't want to be changed easily like this one. So far for those settings we've just made them non-dynamic so they must be read from `elasticsearch.yaml` and lived with the

[2016-09-12 18:01] rjernst commented on #20397
I don't view loop counter as something we need to "protect" with security. DOS isn't something we can really protect against (and there are already numerous other ways to do this on an open cluster, for example with nasty prefix queries).

As far as asserts other debugging features, I don't think these should be flags at all. Instead, they should not be available in scripts for real apis (eg in sc

[2016-09-12 18:03] nik9000 commented on #20397
I think the goal of issues like this one are to do more to protect against it.

[2016-09-12 18:19] rjernst commented on #20397
I disagree. I think the goal of issues like this are to not have trappy features that perform poorly.

[2016-09-12 18:23] nik9000 commented on #20397
If that were the goal then we'd expose this setting on the request level or at least make it dynamic. Or maybe remove regex support entirely. Instead @clintongormley wants this static so it can be tightly controlled by an administrator.

[2016-09-12 18:31] nik9000 commented on #20397
I've pushed #20427 to master which makes the non-dynamic setting we talk about in the top of the issue. I've reopened this because we're still hashing out if that is *exactly* what we want. If it turns out to be what we want we can close then. If not then we can implement it on top of the start I've made in #20427.

[2016-09-12 20:06] dakrone commented on #20379
I don't think it'd be bad to add the name, should be a very small change to do

[2016-09-12 20:06] chaitu0292 opened #20430 "ClusterBlockException after restarting ES"
Exception in thread "main" ClusterBlockException[blocked by: [SERVICE_UNAVAILABLE/1/state not recovered / initialized];]
	at org.elasticsearch.cluster.block.ClusterBlocks.globalBlockedException(ClusterBlocks.java:154)
	at org.elasticsearch.cluster.block.ClusterBlocks.globalBlockedRaiseException(ClusterBlocks.java:144)
	at org.elasticsearch.action.search.AbstractSearchAsyncAction.<init>(AbstractSea

[2016-09-12 20:16] dakrone commented on #20430
Hi,
We reserve Github issues for feature requests and bug reports. If you are having problems please us https://discuss.elastic.co instead!

In your case, it looks like your cluster has not yet recovered the cluster state (it's likely still starting up) before you are sending requests to the cluster.

[2016-09-12 20:16] #20430 closed

[2016-09-12 20:16] bleskes commented on #20379
It's trace logging, which typically means the more information you have, the better. I would say just log the whole DiscoveryNode object

[2016-09-12 21:46] jdconrad commented on #20426
So I began to modify the code to allow context at compilation for script engines that would like it, and ran into an issue with stored scripts.

In RestPutStoredScriptAction we add handlers like this:

[code]

[2016-09-12 22:01] #20391 closed

[2016-09-12 22:29] rjernst commented on #20426
Changing to just key on id in the stored scripts api sounds right to me. The cache is based on script id alone right?

[2016-09-12 22:31] jdconrad commented on #20426
The cache is based on both id and lang.  And with context added, it would be based on all three.

[2016-09-13 05:18] johtani opened #20436 "Backwards50ClientYamlTestSuiteIT test {p0=cluster.stats/10_basic/cluster stats test} fails occasionally"
`Backwards50ClientYamlTestSuiteIT` `test {p0=cluster.stats/10_basic/cluster stats test}` fails occasionally with the following assertion error:
[code]

Latest build where this occurred: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/2231/consoleFull

Reproduce with:
`gradle :qa:backwards-5.0:integTest -Dtests.seed=E2ADCCE8E05826B1 -Dtests.class=org.elasticsearch.back

[2016-09-13 06:43] spinscale commented on #20436
that wont be reproducible with the seed, as it's solely dependent if the system running the tests on, does not have any memory available (just ran into this locally)... Checking for the value being not null should be sufficient

[2016-09-13 07:50] s1monw commented on #20426
you can still add an optional parameter here even with keeping this URL?

[code]

I am not sure if that is sufficient but I thought I'd bring it up.

++ on this issue in order to get good performance from scripts we have to require this and I really wonder if we should make it non-optional and require it for all scripts. Existing ones can still use `Unknown` or `All`? We have the infra to do this

[2016-09-13 08:02] s1monw commented on #20264
to me this is all a question of how do we expose this. I had a chat with @jdconrad and @rjernst the other day about `asserts` and `println` in painless and there are a couple of concerns mainly around abuse. We are calling a script a gazillion times such that adding the slightest slow component has a huge impact. The design goal of this language was performance and security. I'm 100% convinced we

[2016-09-13 08:27] MaineC opened #20438 "RankEval: Drop spec_id field from request format"
For context: Currently every rank eval request comes with a [spec_id](https://github.com/elastic/elasticsearch/blob/feature/rank-eval/modules/rank-eval/src/main/java/org/elasticsearch/index/rankeval/RestRankEvalAction.java#L52).

@polyfractal asked: "What's the purpose of the "spec_id" top-level field?  It looks like one spec_id corresponds to a set of requests.  Is it possible to have multiple "s

[2016-09-13 08:30] MaineC commented on #20363
This got a ++ from @polyfractal - "to "breakdown" contribution mentioned in #20363.  I can guarantee users will ask to see that info :)"

[2016-09-13 08:31] MaineC commented on #20364
Suggestion from @polyfractal  - Seconding Boaz' suggestion to add a flag which allows returning the source document.   Looking into the future for automation, it'd be super useful for a UI to present the source of unknown docs so the user can rank them, without executing a secondary mget to retrieve all the docs.  I agree it should be off by default.

[2016-09-13 08:33] MaineC opened #20439 "RankEval: Fetch specifications/ annotations from an index"
Some feedback from @polyfractal

Re: size of request json.  I also think it'd be useful  (phase two feature, no need for it now!) for this API to support fetching the specification(s) from an index.  I don't think it's outside the responsibility of the API.  A secondary tool/UI could do it, but the point is to reduce complexity of the request, persisting the specification, and reducing network ove

[2016-09-13 08:34] MaineC opened #20440 "Add Mean Average Precision to list of supported rank eval metrics"
Suggestion from @polyfractal - Mean Average Precision might be a nice metric to ship in addition to the others

[2016-09-13 08:35] MaineC opened #20441 "RankEval: Will we run into folks running rank eval on a fully labelled corpus?"
Question from @polyfractal  I wonder if we'll run into folks who have an entirely labelled dataset (I'm thinking ML folks, not IR), who may be interested in metrics like f-score, AUC of ROC curve, etc?  Just a thought for far-future discussions, no need to spend many cycles thinking about now.  Sorta ties into what was mentioned about using scroll for bigger datasets, etc

[2016-09-13 08:37] MaineC commented on #20441
While I myself like AUC of ROC curve and friends very much I wonder how for any practical purpose people would come up with a fully labelled corpus and store that inside of ES.

[2016-09-13 09:30] xxwikluo opened #20444 "Cluster node unresponsive after parallel search"
**Elasticsearch version**: 2.3.1

**Plugins installed**: [head (+ our custom plugin)]

**JVM version**: 1.8.0_40

**OS version**: 2.6.32-358.23.2.el6.x86_64 (Linux)

**Description of the problem including expected versus actual behavior**:
Hi, we're developing a custom plugin in Java with some restActions and we're experiencing some cluster node hangs/unresponsiveness after running some of our cus

[2016-09-13 09:36] bleskes commented on #20444
We try to reserve github for issues. For discussion/questions/help requests, I would ask you to use http://discuss.elastic.co

A quick glance at your code shows at least one thing that's wrong: you need to deal with failures and respond to channel in your `public void onFailure(Throwable e) {}  `. I guess that's why you don't hear back from the node.

I'm closing this. If the above doesn't work, p

[2016-09-13 09:36] #20444 closed

[2016-09-13 10:28] cbuescher commented on #19744
@MaineC should we close this? We use int-value ratings now and added threshhold options for metrics that need binary labels.

[2016-09-13 10:31] #20417 closed

[2016-09-13 10:36] xxwikluo commented on #20444
Well, the lacking onFailure is only this test endpoint, the actual endpoints at least drops some stack traces like:

[code]

But thanks for the reply will go search/ask in the forums.

[2016-09-13 10:54] motherhubbard commented on #20359
Ok we are also using a comma separated list of indices on the mpercolate request which may be the ultimate problem I guess.
So an example will be a POST to /_mpercolate:
{ "percolate": { index: "alerts_index1,alerts_index2", type: "mytype" }

It looks like it should work but I guess ultimately it doesnt and i'm guessing its taking a rand 5 shard responses? Is this approach supported?

[2016-09-13 11:01] clintongormley commented on #20426
I love the idea but i would prefer it if it were implicit (ie not user specified).  Also, I think that specifying eg `aggs` is insufficient as some aggs scripts return doubles and some return strings/objects.

How about this:

We have a number of contexts defined internally, eg returns_double, whatever.  When we execute (eg) a file script, we pass in the context plus the script file name to the sc

[2016-09-13 11:08] martijnvg commented on #20359
Yes, the `index` option support only a single index. The `index` option is used to fetch the document to percolator. If no document can be found you should see an error when reading the mpercolator response. So I don't think that this is causing the problem being described here. Regardless of that you should use a single index only in the `index` option.

[2016-09-13 11:12] clintongormley commented on #17767
sounds good, closing

[2016-09-13 11:12] #17767 closed

[2016-09-13 11:18] MaineC commented on #19744
Closing as #20303 pretty much solves this issue.

[2016-09-13 11:18] #19744 closed

[2016-09-13 11:20] javanna commented on #15741
fixed in 2.4 branch with https://github.com/elastic/elasticsearch/commit/6e5260d2c493a1461f9180b5004eceddce1e89c9.

Also added specific tests in master: https://github.com/elastic/elasticsearch/commit/7894eba2b3fd17bd035b91ec02c1205ef738d6e0.

[2016-09-13 11:20] #15741 closed

[2016-09-13 11:23] clintongormley commented on #20401
Hi @tchiotludo

This is a known issue with parent-child, and is the result of how it is implemented: the _parent field contains the parent id (if the doc is a child) and the doc's own id (if the doc is a parent). This isn't going to change, but in 5.0 we no longer allow access to the `_parent` field as it is an internal field that should be used for joining only.

As a workaround, all I can sugges

[2016-09-13 11:23] #20401 closed

[2016-09-13 11:25] clintongormley commented on #19995
because it is explicit.  we tell you by default if there is a problem, but we give you the tools to deal with it as you need.

[2016-09-13 11:27] #20293 closed

[2016-09-13 11:27] nik9000 commented on #20426
I suppose the nice thing about knowing the context up front is that you can
compile the script in the context right away and get useful error messages.

I, too, had envisioned this be done when the script is first used and not
at storage time, but I'd jack likes it at storage time that is fine with me
so long as we can work it out. I wonder if we can do this at first usage
time in one PR so we and

[2016-09-13 11:41] #17473 closed

[2016-09-13 11:44] clintongormley commented on #20413
@nomoa thanks - yeah it wasn't the intention to introduce a breaking change in a minor upgrade.

@rjernst we should add a bwc layer so that we can upgrade these indices.  will need to apply to 5.0 as well i think (correct @jpountz ?)

[2016-09-13 11:51] spinscale commented on #20436
fixed in https://github.com/elastic/elasticsearch/pull/20434

[2016-09-13 11:51] #20436 closed

[2016-09-13 11:57] motherhubbard commented on #20359
Ok, ill split out the indices in to separate requests, no worries.

I'm happy to close this issue, unless you think this sort of request should result in an error being thrown?

Thanks for your help.

[2016-09-13 11:58] nik9000 commented on #20264
This sounds like we'd need to add a new API for every script calling context. I think that dovetails well with the more strict registration of search contexts that came up in #20426 but I'm a bit weary of adding so many APIs.

[2016-09-13 12:09] #17220 closed

[2016-09-13 12:11] judewood opened #20446 "Index creation with dynamic mapping is order sensistive"
**Elasticsearch version**: 1.7.1

**Plugins installed**: []

**JVM version**:

**OS version**:

**Description of the problem including expected versus actual behavior**:
Creating an index appears to be sensitive to the order that settings and mappings are specified in.

**Steps to reproduce**:
 1. Create an index with the following body

[code]

 then get its mappings Response is

[code]

 2.If th

[2016-09-13 12:14] dadoonet commented on #20446
I sent your JSON document to https://jsonformatter.curiousconcept.com/ and I can't parse it.
Are you sure it's what you put here?

[2016-09-13 12:15] dadoonet commented on #20446
I believe you wanted to use:

[code]

[2016-09-13 12:17] dadoonet commented on #20446
With the right JSON document, I can't reproduce your problem.
Closing.

Please ask on discuss.elastic.co next time you have a doubt.

[2016-09-13 12:17] #20446 closed

[2016-09-13 12:51] nik9000 opened #20447 "Range query should tell you it doesn't support more than one field if you send two fields"
Reported [here](https://discuss.elastic.co/t/bug-when-searching-on-int-double-and-date-range-combined/60373):

[code]

responds with this error:

[code]

But it really should say something about not supporting two fields.

I'm unsure of the affected version.

[2016-09-13 12:54] judewood commented on #20446
Thank you.  You are correct I had an extra } in the body.

[2016-09-13 12:54] erikvanderschaaf commented on #20447
ElasticSearch version is 2.3.1

[2016-09-13 12:58] nik9000 commented on #20447
Thanks @erikvanderschaaf! I've attached that label which will give us a starting place.

[2016-09-13 12:59] jimferenczi commented on #20447
This is fixed in master:
https://github.com/javanna/elasticsearch/commit/6d90a87f5461e19e1bb3a74883c2db87dcca0c07

... though there are more issues than just two fields in the range query in this example. I don't understand how we ended up with the parse exception about date field.

[2016-09-13 13:05] nik9000 commented on #20447
It is probably worth adding a test case around the date vs number stuff, but, yeah, if this is fixed in the master/5.0/5.x branches I'm ok closing this as "already fixed, not yet released."

[2016-09-13 13:09] javanna commented on #20447
I confirm that I fixed this type of error with range and some other queries with similar problems, but I did that in master only. We could backport but most of the parsing code has changed in master and we have good unit tests for queries, while in 2.4 we only have integration tests. Not sure it is worth the effort to backport.

[2016-09-13 13:14] nik9000 commented on #20447
I don't think so, not at this point.

[2016-09-13 13:30] #20447 closed

[2016-09-13 13:31] nik9000 commented on #20447
@javanna already fixed this but I pushed a test case that mimics @erikvanderschaaf's issue to master (7888dbfb313cc3ef95e7250173e52a3599228a1b) just to be super sure we don't break it again one day.

[2016-09-13 14:52] s1monw commented on #20426
I mean that magic applied here is really nice until it doesn't work. Then all kinds of ugly stuff happens. What if a script can't compile for a certain context? Do we reject it when it's added? I think we should? Do we require the contexts that it's valid for in such a case?
I really wonder if we are trying to be too user friendly on the wrong end here?

[2016-09-13 15:00] Nokel81 opened #20449 "Filters not working when applied to an analyzed field"
**Elasticsearch version**:
2.5.3
**Plugins installed**: []

**JVM version**:
JVM: 1.8.0_91
**OS version**:
macOSX El Capitan 10.11.2
**Description of the problem including expected versus actual behavior**:
With an elasticsearch database with a model with specific analytics for each field the custom filter described in the elasticsearch.yml file does not seam to be applied to the field when queryi

[2016-09-13 15:20] rjernst commented on #20426
Implicit here is not actually user friendly: it means the user can write a broken script that uses something not available, but not find out until runtime. For file scripts, this is inevitable, since they are loaded completely asynchronously. However, for stored scripts, I think this is important feedback to have as soon as possible, rather than when later (possibly a different) user hits an error

[2016-09-13 15:40] nknize opened #20450 "Cut over geo_point distance sort to use LatLonPoint.newDistanceSort"
Since switching `geo_point` type to use lucene's `LatLonPoint` field, sorting by distance should use the more efficient `LatLonDocValuesField.newDistanceSort` available in lucene instead of the built in ES logic.

[2016-09-13 16:38] #18873 closed

[2016-09-13 16:44] jdconrad commented on #20426
The contexts that are there would only be the starting point, but once we make the changes to handle custom signatures with the existing contexts, it should be easier to add more.  I think that's the time to go through all the uses of compile and then figure out which contexts make sense and add them.  I envision us having an interface for each context's signature, and having a subclass of Compile

[2016-09-13 16:47] jdconrad commented on #20426
@s1monw I actually did consider adding more handlers, and I do believe that's the easiest way to do that, but @rjernst was thinking it might be better to only have the API cache on an ID (just the name) for a stored script and possibly file scripts too, and that would require a JSON blob to take in other pieces like lang and context.

[2016-09-13 16:53] brandonkearby commented on #19055
Hi Guys, I'm a little late to the party, but started working on a high level rest client. My company has been stuck on 1.4 due to the size of our codebase and number of clients in production. This low level REST client sparked the idea...  [https://github.com/brandonkearby/elasticsearch/tree/rest-client]
What I did was backport the low level rest client into the 1.4 branch and renamed it to Intern

[2016-09-13 17:20] #20314 closed

[2016-09-13 17:44] rjernst commented on #20426
Adding more handlers isn't good for a couple reasons:
* It is confusing because really the id should be globally unique. Right now we have IMO a difficult to use api to reference stored/file scripts in that you must also specify the language. We should be able to lookup a stored script simply by its id.  Changing the handlers to `/_scripts/{id}` will make it clear all scripts share the same namesp

[2016-09-13 17:49] ppf2 opened #20454 "Native script example looks up field values using source"
The example code snippet provided [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-scripting.html#native-java-scripts) uses source() for field lookups.  For most cases, using doc().get is much more efficient.

Suggestions:
1.  Update the documentation to provide a doc() lookup example
2.  Also add a link to our native script examples [here](https://github.com/imotov/e

[2016-09-13 17:51] rjernst commented on #20454
It is *always* more efficient. It is just in some cases, doc values are not available (eg in an update or ingest script).

[2016-09-13 18:09] areek commented on #20298
@zcola Assuming you are running `_cat/indices` against the tribe node and getting the `NullPointerException` transiently after removing/closing indices in some underlying cluster.

The tribe node keeps track of all the indices for underlying clusters, when you remove or close indices, the cluster state (of the underlying cluster) gets updated and then the tribe node updates its state subsequently.

[2016-09-13 18:54] #20155 closed

[2016-09-13 20:18] s1monw commented on #20379
fixed by #20437

[2016-09-13 20:18] #20379 closed

[2016-09-13 20:38] abeyad opened #20458 "Add documentation for the file-based discovery plugin"
We introduced a file-based discovery plugin in https://github.com/elastic/elasticsearch/pull/20394. This issue is to add documentation to the docs for it.

[2016-09-13 20:40] abeyad opened #20459 "Add integration test(s) for file-based discovery plugin"
In the interests of time, the file-based discovery plugin developed in https://github.com/elastic/elasticsearch/pull/20394 does not have any true integration tests to ensure that the `unicast_hosts.txt` file was read and used in a real cluster setting.  This was tested manually.  This issue is to add integration tests for this.

[2016-09-13 21:11] talevy commented on #19995
Closing since this has been added to the discussed processors here: https://github.com/elastic/elasticsearch/pull/20194

[2016-09-13 21:11] #19995 closed

[2016-09-13 21:19] dakrone commented on #20449
The `keyword` tokenizer does not change the case of the originally indexed terms; in order to match them, you will need to match the case in your query. If you want to have case-insensitive matching you need to use the `lowercase` token filter.

[2016-09-13 21:19] #20449 closed

[2016-09-13 21:22] Nokel81 commented on #20449
Sorry, I copied the wrong filter, I was using the "lowercase" filter, I will change my original post

[2016-09-13 21:23] dakrone commented on #20449
Can you include a document and what query you are using so we can try to reproduce this?

[2016-09-13 21:26] elliott-davis commented on #16428
incase anyone else runs across this - It looks like it was resolved in #19556

[2016-09-13 21:29] Nokel81 commented on #20449
Document:
[code]
Query:
[code]

This does not find the document

[2016-09-13 21:41] dakrone commented on #20449
You have typos in your configuration, causing it to not have the effect you intend, here's a correct configuration:

[code]

I would recommend against putting this into `config/elasticsearch.yml` though, as it is disallowed in elasticsearch 5.x. So I'd recommend you put it into either an index template or in the index settings itself.

[2016-09-14 00:52] #20323 closed

[2016-09-14 00:53] #20458 closed

[2016-09-14 01:35] jasontedor commented on #18689
LGTM.

[2016-09-14 02:46] #20326 closed

[2016-09-14 04:05] BeccaMG commented on #12366
I used a workaround for this matter following the recommendations from Elasticsearch forums and official documentation.

Declaring the mapping of the objects you want to index (if you know it), choosing `ignore_malfored` in dates and numbers, should do the trick. Those tricky ones that could have `string` or `nested` content could be simply declared as `object`.

[2016-09-14 05:50] dobariya opened #20465 "Add option to take structure of source index for destination index in Reindex API"
I was trying Reindex API and found that if destination index is not available then it will create a new index with auto mapping,settings etc.If possible can we have an option asking whether to use source index structure for new index.So if the destination is not available then it will directly create the new index with full source index structure

Thanks

[2016-09-14 06:31] ktgiang opened #20466 "Elasticsearch does not start if the configured shared repository path is unavailable on windows"
**Elasticsearch version**:

2.3.1

**Plugins installed**: []

**JVM version**:

Version 8 Update 51

**OS version**:

Windows 7 Enterprise, SP1

**Description of the problem including expected versus actual behavior**:

Expect that the elasticsearch will start-up and just log an error even when the path.repo is not available.

Instead the elasticsearch logs an exception and crashes.

**Steps to re

[2016-09-14 06:44] markwalkom opened #20467 "Provide an easier way to list templates"
Currently to get a list of the templates you have to call `_templates`, which then returns (usually) a large JSON result you need to parse.
This isn't the easiest way to find out what exists when you want to do a quick check or help someone troubleshoot.

Would be possible to add a `_cat/template`  output that listed something like name, index pattern (ie the `template value`) and the order so tha

[2016-09-14 06:55] sdmmemberx1 commented on #16392
I am facing the same

[2016-09-14 06:55] dadoonet commented on #20466
That's the right behavior to have. Elasticsearch fails if you defined something which can not work.
What else would you expect?

Closing as I don't think it's an issue. Feel free to reopen or comment.
BTW a better starting place for discussion is discuss.elastic.co.

[2016-09-14 06:55] #20466 closed

[2016-09-14 07:00] tlrx commented on #20467
It sounds like a good idea, maybe `_cat/templates` (plural) to be consistent with other cat actions. I think it could also display the recent `version` @pickypg added some time ago.

[2016-09-14 07:12] makeyang commented on #20367
@clintongormley
does aliases in tempate should support this feature?
I checked the code and try to fix this in this way for create index:
1. each time try to resolve indexname with context
2. then resolve aliases with the same context, which has now value

but this aproach is hard to support aliases in template

[2016-09-14 07:22] makeyang commented on #20467
+1 and can anybody give it a adoptme tag?

[2016-09-14 07:57] nellicus commented on #16392
my tribe config

[code]

was getting

[code]

I was able to workaround adding a security exception (use this at your own risk)

[code]

then

[code]

[2016-09-14 08:03] s1monw commented on #20465
@dobariya I am not sure if we should do this since your source index will likely have legacy mappings and settings? You should rather work with templates or create the structure yourself? Maybe we should warn you instead and ask if we should auto-create the index unless specified ie. fail the reindex if the target doesn't exist?

[2016-09-14 08:36] bleskes commented on #20465
apart for playing around, what is your use case for this? typically one would reindex because they need to upgrade something/change settings etc.  Also, you need to be aware then when not locking your mapping new mapping may be introduced between the creation of the target index and when the scroll search of the reindex process starts making this not a completely trivial feature to add.

[2016-09-14 08:44] dobariya commented on #20465
@bleskes :I have a huge index around 100 million but from that we only need some documents to play around.To get those some documents i would need to apply filter every time rather i thought to create a new index and put those some documents using reindex api so this way i will only have few documents and will not have to search on entire index.

[2016-09-14 08:48] bleskes commented on #20465
hmm. makes sense although, since it's just a simple one liner in any script language to get the mapping and create a new index with it, I'm not sure it's worth making the reindex API more complex. Note that you also almost surely want to change the number of shards of the target index if it's going to be small.

[2016-09-14 08:58] s1monw commented on #20465
@dobariya I wonder if it makes sense to allow to clone and index without data ie. pimp the create index API. I really think that's a better primitive and you can just call this with source and target index name before you fire off reindex?

[2016-09-14 09:04] bleskes commented on #20465
@s1monw I thought about that too, and we can do - but I think it should have the semantics of take the given index setting as a template and apply the given request on top of it (so you can change things like number of shards).

[2016-09-14 09:15] s1monw commented on #20465
@bleskes that is bascially what `_shrink` does. I think we can generalize it

[2016-09-14 09:34] francescoinfante opened #20470 "multi_match with type phrase_prefix query doesn't return all the results on the field _all"
**Elasticsearch version**: 2.4.0

**Plugins installed**: []

**JVM version**: 1.8.0_91

**OS version**: OS X 10.11.6

**Description of the problem including expected versus actual behavior**:
When I try the following query:

[code]
It doesn't return documents that contains `hel` as prefix but only documents that contains `hel` as a token.

**Steps to reproduce**:
 1.
[code]
 2.
[code]
-> It doesn'

[2016-09-14 09:48] dobariya commented on #20465
@bleskes yes we can also have option to give shard size if its small.So can i conclude we are getting this update?

[2016-09-14 10:07] jimferenczi commented on #20470
Thank you for the detailed report @francescoinfante

I opened https://github.com/elastic/elasticsearch/pull/20471

[2016-09-14 10:23] #20359 closed

[2016-09-14 11:21] pvgoddijn commented on #7601
i just found this bug due to a related 'error'

When doing a bulk update with only one record (without the trailing newline) there a error is thrown.
(not very clear this is about a missing newline but it is)

{"error":{"root_cause":[{"type":"action_request_validation_exception","reason":"Validation Failed: 1: no requests added;"}],"type":"action_request_validation_exception","reason":"Validation

[2016-09-14 12:03] nik9000 commented on #20465
Stuff like this is why I'm weary adding a general "make a new index with this index's settings". It is really "make a new index with this index's setting except these three settings". I feel like lots of folks are going to have a different list of three things and they are better off just making the index themselves.

I like this idea.

[2016-09-14 12:10] nik9000 commented on #20467
Makes sense to me. Anyone object to me giving it the low-hanging-fruit and adoptme tags like @makeyang mentioned?

[2016-09-14 12:57] clintongormley commented on #20428
You can specify any analyzer in any query that supports analysis

[2016-09-14 12:57] #20428 closed

[2016-09-14 13:56] javanna opened #20478 "RolloverIT#testRollover causes assertion to fail in IndexShard#prepareForIndexRecovery"
Here is the build failure:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/171/consoleFull

It seems potentially serious, the assertion `assert currentEngineReference.get() == null;` in `IndexShard#prepareForIndexRecovery` fails. I couldn't reproduce with same seed, nor with multiple iterations. It may just be a rare timing issue.

[2016-09-14 13:56] javanna commented on #20478
@areek I see that you worked on this test originally, would you mind having a look please?

[2016-09-14 14:05] mbarker opened #20479 "Custom analyzer filter scope"
**Elasticsearch version**: 2.4.0

**Plugins installed**: [kopf]

**JVM version**: 1.8.0_60

**OS version**: OSX 10.11.6 locally, reproducible on CentOS 7.2.1511 as well

**Description of the problem including expected versus actual behavior**:

After upgrading to 2.4.0 our templates are no longer functioning from 2.3.3.

We have our template split up into several templates so we can specify defaul

[2016-09-14 14:07] javanna commented on #8998
I think the `@Test` annotation is gone, as we removed all those in master. Problem solved. I tried to find what tests need to be refactored but I am not sure. @nknize can you shed light on this or close this issue if nothing needs to be done?

[2016-09-14 14:09] cuibty opened #20480 "windows 10 run error"
run elasticsearch.bat
Invalid initial heap size: -Xms${packaging.elasticsearch.heap.min}
Error: Could not create the Java Virtual Machine.
Error: A fatal exception has occurred. Program will exit.

java version "1.8.0_102"
Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.102-b14, mixed mode)

Windows 10（1067）Pro x64
ElasticSearch 1.7.5

[2016-09-14 14:18] javanna commented on #7854
This was opened long ago but I am not sure I follow what the problem was and what should be done. Serialization issue caused by transport client and nodes running on the same jvm? A transport client needs to have its modules registered, if that doesn't happen it will throw error. Maybe we didn't have enough tests or those weren't using the transport client simply but only client nodes?

[2016-09-14 14:19] dadoonet commented on #20480
I downloaded 1.7.5 from https://www.elastic.co/downloads/past-releases/elasticsearch-1-7-5
I can't find this `-Xms${packaging.elasticsearch.heap.min}`. From which site did you download elasticsearch?

[2016-09-14 14:21] javanna commented on #9749
IndexLookupIT was moved out of the messy tests package with #19621. Its tests still rely on scripting though. Is there anything that needs to be done? Especially given that, AFAIK, we decided to remove `IndexLookup` ?

[2016-09-14 14:24] jasontedor commented on #20480
This does not reproduce for me on a fresh install of Elasticsearch 1.7.5 on Windows 10. I downloaded the [zip packaging](https://www.elastic.co/downloads/past-releases/elasticsearch-1-7-5). The line that you point out does not appear in the batch files. I do not think there is a bug here, I think that you have a bad package or an environmental problem. Feel free to open a topic on the [Elastic Dis

[2016-09-14 14:24] #20480 closed

[2016-09-14 14:49] brwe commented on #9749
I don't think so. Closing.

[2016-09-14 14:49] #9749 closed

[2016-09-14 14:53] javanna commented on #13157
As part of the search refactoring, we introduced quite some tests around query / search request serialization. As part of those we generate a random builder, call `toXContent` against it, parse it, then check that the generated query is equivalent to the initial one. I think this achieves the goal without string comparisons as we compare only the java objects through the equals method (that are al

[2016-09-14 14:55] javanna commented on #13260
I think we all agree that we should improve test coverage and write many more unit tests. We've been doing that for a while and things have improved already quite a bit, yet there's always a lot to be done on this matter. Does it still make sense to keep this issue open? Seems like this is a common goal to keep in mind with each single PR that we open, nothing concrete that can be done at the mome

[2016-09-14 14:57] s1monw commented on #13260
any chance to get accurate numbers?

[2016-09-14 14:58] javanna commented on #13686
@dadoonet is this still valid? Maybe we should have a network feature in our rest tests so that this test is run only when we know we have network?

[2016-09-14 15:07] nik9000 opened #20482 "Completion suggester docs claim `_source` filters the source but this isn't implemented"
I found this while going through snippets that aren't marked `// CONSOLE`. In this case the [this](https://github.com/elastic/elasticsearch/blame/master/docs/reference/search/suggesters/completion-suggest.asciidoc#L201-L222) snippet looks to suggest something that isn't implemented.

[2016-09-14 15:09] nik9000 commented on #20482
I know @jimferenczi's been working on source filtering lately but the completion suggester is @areek's baby. It looks like this is simply a case of the parsing not being implemented which isn't super difficult to fix so I expect anyone can take it.

[2016-09-14 15:21] javanna commented on #13260
you bring up a very valid point, I just noticed that in our TESTING.asciidoc we still refer to maven in the coverage analysis section, I guess that won't work :)

[2016-09-14 15:42] SKumarMN commented on #19471
I too encounter the same issue

ES 2.3.2 with mapper-attachment plugin

[2016-08-31 08:56:03,867][ERROR][org.apache.pdfbox.pdmodel.font.PDSimpleFont] Can't determine the width of the space character using 250 as default
java.security.AccessControlException: access denied ("java.io.FilePermission" "/opt/weblogic/.fonts" "read")
	at java.security.AccessControlContext.checkPermission(AccessControlCon

[2016-09-14 15:44] nik9000 commented on #20482
I can also take this if everyone else is busy!

[2016-09-14 15:47] javanna commented on #18159
@nik9000 this is still valid right?

[2016-09-14 15:51] javanna commented on #19291
@abeyad news on this? Looks like a security manager problem happened only once and never again.

[2016-09-14 15:52] nik9000 commented on #18159
I *think* so. I just forgot about it. I can pick it up again soon though.

[2016-09-14 15:54] javanna commented on #16318
this failed once last January and never again. Shall we close while we see if it happens again? Also from the explanation above it seemed not directly related to profiling so maybe similar things have happened in other tests too... not sure. WDYT @bleskes ?

[2016-09-14 15:58] javanna commented on #19896
This was fixed by #19969

[2016-09-14 15:58] #19896 closed

[2016-09-14 16:03] clintongormley commented on #20479
@johtani Could you take a look at this please?

[2016-09-14 16:08] SKumarMN opened #20483 "Mapper-attachments -java.io.UnsupportedEncodingException - FlateFilter: stop reading corrupt stream due to a DataFormatException"
**Elasticsearch version**: ES 2.3.2

**Plugins installed**: [mapper-plugin]

**JVM version**: jdk 1.8

**OS version**: Linux /windows 7

Unable to parse certain office documents using mapper-attachment plugin

**Steps to reproduce**:
 1.Index office documents/PDF's
 2.
 3.

**Provide logs (if relevant)**:

[2016-08-31 08:59:56,296][WARN ][org.apache.tika.parser.microsoft.AbstractPOIFSExtractor] Ig

[2016-09-14 16:16] clintongormley commented on #20465
What about:

    PUT {new_index}/_from/{old_index}
    ... any settings, mapping, alias overrides...

This API would also delete the old version created, index uuid, etc settings

[2016-09-14 16:35] dadoonet commented on #20483
Can you report this to Tika project and provide your office file which is failing?
We can't fix that in Elasticsearch itself.

[2016-09-14 16:35] #20483 closed

[2016-09-14 16:38] jimferenczi commented on #20482
I don't think it is worth implementing this since the _suggest endpoint will be deprecated in 5.0 (https://github.com/elastic/elasticsearch/pull/20435) and that it works with the _search API ?

[2016-09-14 16:44] nik9000 commented on #20482
Perfect! So long as we use the _search API in the docs we're all good then.

[2016-09-14 16:52] bleskes commented on #16318
I’m good with closing.

[2016-09-14 16:55] #16318 closed

[2016-09-14 17:22] MrMarvin opened #20485 "deb init script PATH overwrite - cant find java"
**Elasticsearch version**: 2.4.0 (from packages.elastic.co Ubuntu repos)

**JVM version**: 1.8 sun JRE

**OS version**: Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:

When starting ElasticSearch (installed in the above mentioned fashion) via the supported way using the `system` command, the invoked init script fails to detect an installed JavaRE if it is n

[2016-09-14 17:26] abeyad commented on #19291
@javanna I think this can be closed, you're right and I was never able to reproduce it.

[2016-09-14 17:26] #19291 closed

[2016-09-14 17:35] #15845 closed

[2016-09-14 17:45] clintongormley commented on #20485
@tlrx could you take a look at this please?

[2016-09-14 19:28] alexlitvak13 opened #20486 "Scripting: GeoPoint.distanceInMiles is broken when GeoPoints come from an array"
**Elasticsearch version**: 2.4.0
**JVM version**: 1.8
**OS version**: Elastic Cloud

**Description of the problem including expected versus actual behavior**:

distanceInMiles() is not recognized when GeoPoints come from an array.  Expected behavior is that the geo distance methods would operate on individual GeoPoints regardless of where they originate.

Error Message: No signature of method: org

[2016-09-14 21:09] #18689 closed

[2016-09-14 21:14] dakrone commented on #20397
@nik9000 can we remove the blocker label from this since we've pushed something addressing this?

[2016-09-14 21:24] nik9000 commented on #20397
I suspect we should, yeah.

[2016-09-14 21:28] dakrone commented on #15613
@clintongormley I believe this:

Is resolved (from the 5.0 checkboxes):

[code]

So I *think* this is no longer blocking for 5.0, is that correct? (I didn't want to check the box if there was something else missing)

[2016-09-14 22:19] MrMarvin commented on #20485
Also there was a similar [SO question back in 2014 in which one comment](http://stackoverflow.com/questions/26693437/java-not-found-by-elasticsearch-on-centos-6-6-all-path-variables-are-set-and-wo?rq=1) assumes that the load order of `/etc/profile/` vs elasticssearchs init script at system start up might be the tipping point why we do not solely rely on JAVA_HOME. is this the case? Still, this doe

[2016-09-14 22:38] KodrAus commented on #15613
As an Elasticsearch user and someone who's spent the last few months working on a type mapping client implementation this sounds good to me. From what I can tell from the conversation so far: types aren't _really_ going away, they're just being shifted up to the index level, so the index determines the shape of its one document type, right?

[2016-09-14 23:06] dakrone commented on #15613
That's pretty much correct, once we eventually add support for `_type: {enabled: false}` (and a user uses it) it will be one type per index. The only trickiness will be parent/child which @martijnvg has been working on in https://github.com/elastic/elasticsearch/issues/20257

[2016-09-15 00:42] rjernst commented on #19359
I've been thinking on how to allow looking at index stats for "advanced scripts", but without needing IndexLookup and I think the answer falls in line with #19966. Without IndexLookup, the script engine api will still take the LeafReaderContext (which is currently used to construct the LeafIndexLookup).  Replacing native scripts with advanced users simply writing script engines means they would st

[2016-09-15 06:40] markwalkom opened #20495 "Human friendly output for "dynamic mapping is disabled" errors"
**Elasticsearch version**: 5.0.0alpha5

**Plugins installed**: [x-pack]

**JVM version**: Oracle 1.8.0_101

**OS version**: Ubuntu 14.04

**Description of the problem including expected versus actual behaviour**: When disabling dynamic mapping and then sending a field to said index that isn't defined, you get a large stack trace. It'd be nicer if we had a clean error for this instead.

**Steps to

[2016-09-15 07:50] Mpdreamz commented on #20199
this ties into the discussion here: https://github.com/elastic/elasticsearch/issues/17545

But the default for all of our long running tasks should be non-blocking IMO.

This would be the better default even for curl users in a 5.0 world where the above returns a task id result where they can track the progress.

I don't like the implied contextual defaults proposed in https://github.com/elastic/e

[2016-09-15 07:59] arpanshah29 commented on #13819
^ + 1

[2016-09-15 09:22] clintongormley commented on #19901
Done, eg see https://www.elastic.co/guide/en/elasticsearch/reference/2.4/analysis-pattern-tokenizer.html#analysis-pattern-tokenizer

[2016-09-15 09:22] #19901 closed

[2016-09-15 10:51] GlenRSmith opened #20498 "Is disabling refresh a good idea?"
I've recently encountered a heavy logging use case where a single node among about 10 data nodes had extremely high bulk rejection rates and GC issues.

It turned out that all of the refresh interval settings were completely dependent on the node setting, and the one node experiencing issues was set to "-1".

Adding the intentional refresh interval to the index templates remediated the problem.

I

[2016-09-15 11:00] hmanner opened #20499 "The existence of any non-plugin file in the plugins directory will prevent Elasticsearch from starting"
**Elasticsearch version**: 2.2.0

**OS version**: Windows 10 and Windows Server 2012

**Description of the problem including expected versus actual behavior**:

The existence of any non-plugin file in the plugins directory will prevent Elasticsearch from starting. This happened for us in production after someone by mistake left a zip-file with a github download for a plugin. This needs to become m