[2015-08-27 12:11] electrical commented on #13138
Validation commands:

RPM:
[code]

DEB:
[code]

[2015-08-27 12:13] clintongormley commented on #13140
Hi @tommoholmes10

Please ask questions like this in the forum http://discuss.elastic.co/ (and I'd provide more information when you do, otherwise you're unlikely to get a response)

[2015-08-27 12:13] #13140 closed

[2015-08-27 12:28] spinscale opened #13141 "Analzyer configuration for filters is too lenient"
If you accidentally specify `filters` instead of `filter`, because the `_analyze` API wants you to specify filters using the `filters` parameter, you will be able to create the index, but without filters being applied.

[code]

will return `FOO`

Happened on 1.7

[2015-08-27 12:40] electrical commented on #13138
Forgot to mention 1 thing. we also need to add the following to the `deb/pom.xml` at the signing part:

`<signRole>builder</signRole>`

[2015-08-27 13:05] spinscale commented on #13141
reason for this seems to be that we load the content as settings, without actually checking it.. easy to reproduce, from then on debugging

[code]

[2015-08-27 13:38] electrical commented on #12716
With the rpm init script we place a lockfile before starting ES and remove it afterwards.
If someone would try a second startup it would find the lockfile and abort directly.
It should be a fairly easy fix to implement this in the ubuntu/debian init script as well.
Since more things are moving to systemd this will not pose an issue later.

[2015-08-27 13:48] RanadeepPolavarapu commented on #13064
@martijnvg How could I replicate that query correctly using top level `inner_hits`?

[2015-08-27 13:50] nik9000 commented on #13123
I'm honestly with him too. I see that things like postgresql and mysql start on install and register themselves to start on restart and I wrinkle my nose. Apparently this is debian policy though. I can't find where in the [policy](https://www.debian.org/doc/debian-policy/) it says that but the internet seems to think its in there somewhere.

I'm fine with saying "We've thought this through. We kno

[2015-08-27 14:03] nik9000 commented on #13138
Not offering RPM or DEB packages would be a blow for adoption. I might not be here if it weren't for the deb package and from what I can tell these packages are widely used.

I'm with that its certainly a pain to build them though.

Because no one has turned on the vagrant tests in Jenkins.... They are there and test the rpm but I don't think they'd check the gpg signing. We could certainly test a

[2015-08-27 14:38] nik9000 opened #13143 "migration_x_x.asciidoc never merges cleanly"
I get lots of version conflicts around files like migration_x_x.asciidoc. It seems like this comes from people constantly tacking new things on the end. Could we, maybe, build this file by cating together a directory of scripts or something like that? Something where git is going to be able to merge easily.

[2015-08-27 15:09] brackxm opened #13145 "no inFilter alternative in 2.0"
It is strange that QueryBuilders.inQuery() is removed in 2.0.
The documentation states that filters from FilterBuilders are available in QueryBuilders.
However that is not the case for FilterBuilders.inFilter().
Apparently QueryBuilders.inQuery() has been removed as it was deprecated. However FilterBuilders.inFilter() was not deprecated.
Code using FilterBuilders.inFilter() but not QueryBuilders.i

[2015-08-27 15:15] martijnvg commented on #13113
@iwhitfield looking at your hot threads dump and it seems that a lot of time is spent at loading  parent/child field data and global ordinals. Have you tried configuring eager global ordinals loading?
(https://www.elastic.co/guide/en/elasticsearch/guide/current/parent-child-performance.html#_global_ordinals_and_latency)

[2015-08-27 15:19] tegansnyder commented on #12606
I'm still encountering this issue. It doesn't look like the rpm has been updated on your website.

I quick peak at `elasticsearch-1.7.1.noarch.rpm` reveals:
[code]

Per the commit @a370e2d2261c7e08e4b6d4f29cf7aacf4d8f5414 it should read more like:
[code]

[2015-08-27 15:20] nik9000 commented on #13145
Bleh. Sorry about that. it looks like `inFilter` and was just an alias for `termsFilters` and `inQuery` was just an alias for `termsQuery`. So in 2.0 there is just `termsQuery` and you should just use it if you want that "in any of these terms" behavior.

I'm going to close this because this bug report should be enough of a trail for people to follow to successfully migrate. If it isn't I'll add a

[2015-08-27 15:20] #13145 closed

[2015-08-27 15:22] #11282 closed

[2015-08-27 15:34] dadoonet opened #13146 "Add support for ICUTokenizerFactory and customizing the rule file in ICU tokenizer"
_From @rslinckx on October 21, 2014 10:35_

There has been a commit in lucene (http://svn.apache.org/viewvc?view=revision&revision=1416629) that adds a ICUTokenizerFactory which allows to create a ICUTokenizer with a special config argument enabling the customization of the rule based iterator by providing a custom rules files.

Is it possible to expose that argument in the elasticsearch icu plugi

[2015-08-27 15:34] dadoonet commented on #13146
_From @d-claassen on August 27, 2015 11:32_

Is there any progress on this? This could also help us with keywords like c++, c# and R&D. With the current tokenizer, all these special characters are being removed.

[2015-08-27 15:35] dadoonet opened #13147 "ICU backwards compatibility"
_From @clintongormley on May 10, 2014 13:50_

Currently, if ICU changes, it could mean needing to reindex all your data.  The ICU docs have this to say:

Versioning

Sort keys are often stored on disk for later reuse. A common example is the use of keys to build indexes in databases. When comparing keys, it is important to know that both keys were generated by the same algorithms and weightings. O

[2015-08-27 15:36] dadoonet opened #13148 "Add icu_collation field type"
_From @clintongormley on May 7, 2014 15:40_

Collation fields are used just for sorting - they don't need to be indexed or stored.

We can use a new `icu_collation_key` field type which accepts the same parameters as the ICUCollationKeyAnalyzer, and isn't indexed but stores its values as doc values, using  ICUCollationDocValuesField.

This field type would need to serialize its sort keys as base64

[2015-08-27 15:36] dadoonet commented on #13148
_From @clintongormley on May 10, 2014 13:45_

Also, should throw an error if the named collation is not found.  Currently this is unchecked:

[2015-08-27 15:37] dadoonet commented on #13148
See also #6077

[2015-08-27 15:37] dadoonet commented on #6077
See also #13148

[2015-08-27 15:38] dadoonet opened #13149 "Expose ICUCollationKeyAnalyzer"
_From @clintongormley on May 7, 2014 15:12_

The `icu_collation` filter is deprecated, and should be replaced by the ICUCollationKeyAnalyzer (exposed as the `icu_collation_key` analyzer).   However, I would recommend making some changes at the same time:

Use `locale` instead of `language`/ `country`/ `variant`, eg :
- `en`
- `en_US`
- `de_DE@collation=phonebook`
- `zh_CN@collation=pinyin`

Keep `

[2015-08-27 15:38] dadoonet commented on #13149
_From @clintongormley on May 7, 2014 15:45_

There is an issue with binary sort values. See http://github.com/elasticsearch/elasticsearch/issues/6077

[2015-08-27 15:49] dadoonet opened #13150 "[doc] Stempel: no information how to reimplement the analyzer"
_From @merito on June 11, 2015 8:16_

Hi,

I would like to reimplement the analyzer, for example add my synonyms, but there is no available filter list, for official language analyzers you can find it here - [elastic documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-lang-analyzer.html#english-analyzer). Could you add this to the docs?

_Copied from original is

[2015-08-27 15:49] dadoonet commented on #13150
_From @mod3st on June 17, 2015 14:55_

+1

[2015-08-27 15:49] dadoonet commented on #13150
_From @jeanbelhache on July 16, 2015 7:42_

+1

[2015-08-27 15:52] brackxm opened #13151 "2.0 java api changes"
Some not yet documented java api changes.

GetAliasesResponse.getAliases().keysIt() returns a guava UnmodifiableIterator iso a elasticsearch one

ImmutableSettings removed; use Settings.builder() iso ImmutableSettings.builder()

InetSocketTransportAddress(String, int) removed

[2015-08-27 15:54] iwhitfield commented on #13131
@colings86 I'll dump my index, although I'm not sure the index is the issue, let me get back to you ASAP.

[2015-08-27 15:56] dadoonet opened #13152 "[doc] provide more examples for smartcn analysis"
_From @twn39 on August 14, 2015 8:14_

Hi, I'm from china, and recently learning the elasticsearch, but I found it's hard to configure the smartcn analysis.I google this but find little documents. Could you help me or give me some documents, thank you very much.

_Copied from original issue: elastic/elasticsearch-analysis-smartcn#44_

[2015-08-27 15:56] dadoonet commented on #13152
I agree we should add more doc. in the meantime, you can read this https://github.com/elastic/elasticsearch-analysis-kuromoji

[2015-08-27 15:56] dadoonet commented on #13152
_From @twn39 on August 14, 2015 12:23_

thanks

[2015-08-27 15:57] colings86 commented on #13131
@iwhitfield no, I don't think the index is the issue either but having the curl recreation will make it alot easier to reproduce the issue and work out whats going on

[2015-08-27 15:59] iwhitfield commented on #13131
@colings86 sure thing, I'll get that to you - I just have to remove some private info in there, but I'll get it to you shortly.

[2015-08-27 16:00] colings86 commented on #13131
@iwhitfield ok great, thanks :)

[2015-08-27 16:08] dadoonet opened #13154 "[analysis] Kuromoji: updating user dictionary"
_From @gabriel-tessier on July 17, 2015 2:56_

Hi,
I need to update the user dictionary and I usually open close the index to make the change apply.
One question: Is it the only way to update the dict cause in case of typo (missing a , or one bad space) in the file the index don't open at all and on production server it's not an option.
first question (for confirmation): is it the good way to do?

[2015-08-27 16:08] dadoonet commented on #13154
_From @johtani on July 29, 2015 9:25_

Hi,
Now, I think we don't have a way to reload the dict without open/close.
Because, the settings of mappings is load only in a timing to create index.
Question about "an option like check config for apache". Does this mean checking only user dictionary?

[2015-08-27 16:08] dadoonet commented on #13154
_From @gabriel-tessier on July 29, 2015 10:56_

Hi, thanks for the reply,

Question about "an option like check config for apache". Does this mean checking only user dictionary?
I don't know what it's better and how it's works from inside but concerning the plugin yes it can be a useful option.
When you said only user dictionary does it also include synonyms files, stop words, mapping etc... or it

[2015-08-27 16:08] dadoonet commented on #13154
_From @johtani on July 30, 2015 9:27_

Yes, if index close and open, then it can make the search on this index more slow.

However, if you update the dictionary several time a day, you have to re-index the existed data before updating the dictionary.
Changing the dictionary means changing the output of tokens.
Some words can not match documents using old dictionary.

BTW, I think it is useful that

[2015-08-27 16:08] dadoonet commented on #13154
_From @gabriel-tessier on July 30, 2015 9:45_

Hi,

Cool!! Thanks a lot!

it's re-index __after__ updating the dictionary??

Thanks again it'll be very helpful!

[2015-08-27 16:08] dadoonet commented on #13154
_From @johtani on July 30, 2015 9:46_

Yes, "after updating the dictionary".

[2015-08-27 16:18] stephane-bastian opened #13155 "2.0.beta1 - Exception "path.home is not configured" when starting ES in transport and client mode"
Hi,
I just installed the new beta version 2.0.0-beta1 and ran some code that used to work with ES 1.7.0.
I got an exception where it complained that "path.home is not configured".
Is this something new? Why would I need to configure anything beside the cluster name in transport mode?

Thanks

[code]

[2015-08-27 16:24] loren commented on #12606
I think this fix is getting rolled into 1.7.2.

[2015-08-27 16:38] grantr opened #13156 "_cat should not default to verbose"
https://github.com/elastic/elasticsearch/pull/8927 changed _cat apis to be verbose by default in ES 2.0, based on motivation from https://github.com/elastic/elasticsearch/issues/8922.

The motivation for the change was easing the cluster state inspection experience for users unfamiliar with the command line and ES docs. A noble goal. I certainly empathize with these users.

The opposition argued t

[2015-08-27 16:56] dakrone opened #13157 "Add a way to validate XContent rendering produces valid JSON/YAML"
It's common in tests to have a method that tests serialization and deserialization of the actual Java objects, however, it's quite possible to make a mistake in the `toXContent` method that does not produce either valid JSON or YAML. Right now the only real way to do this is with a REST test (other than a lot of string comparison in a unit test), which is a lot of overhead for something like this.

[2015-08-27 17:26] jasontedor commented on #13125
That's exactly right.

[2015-08-27 17:28] iwhitfield commented on #13131
@colings86 ok here's a gist - I hope I got everything you need: https://gist.github.com/iwhitfield/86b3193280bdd1d4edf2

I decided to keep the names as-is, rather than rename them to "eventX" because it'd just make it harder for you to read :)

`raw_data_dump.json` can be loaded by https://github.com/taskrabbit/elasticsearch-dump if you have it accessible to you, otherwise `raw_data_sense.txt` sho

[2015-08-27 17:29] tegansnyder commented on #12606
@loren good to know. Thanks.

[2015-08-27 17:40] iwhitfield commented on #13113
@martijnvg yeah, we have - here's my mapping for my child documents:

[code]

Maybe I did something incorrectly?

[2015-08-27 17:50] nik9000 commented on #13156
I agree with @grantr on this one. The _cat API was built for computers and followed the grand unix tradition of the defaults being right for computers instead of people. We got used to `du -h` and `ls -lh` and, in our cranky unix way, love them. As we love the _cat api.

[2015-08-27 17:51] grantr commented on #13156
I should mention that in general breaking changes seem carefully considered, and I appreciate that. This is an unusual case.

[2015-08-27 17:55] dakrone commented on #13156
And FWIW, even though I authored the original breaking change, I'm okay with either direction as long as it is best for the general userbase

[2015-08-27 17:56] kimchy commented on #13156
I vote to default back to non verbose mode

[2015-08-27 18:32] nkvoll opened #13159 "Crashing during snapshot deletion might result in unreferenced data left in repository"
It's currently possible to end up with unreferenced data in a snapshot repository, given the following steps:
1. Create a index, `foobar`, with size `X bytes`
2. Snapshot cluster
3. Start deleting the snapshot, crash after deleting `snapshot-{}` and `metadata-{}` files
4. Delete index `foobar`
5. Snapshot cluster again

Normally, step 5 would cause the files no longer referenced by any snapshots d

[2015-08-27 18:34] jeremybmerrill opened #13160 "bad groovy script delete-by-query makes shard unrecoverable"
An index is now unrecoverable because I ran a Groovyscript delete-by-query against it, and the query errored out. That query is below.

[code]
[2015-08-27 18:30:11,309][WARN ][cluster.action.shard     ] [Schemer] [daily_worker][1] received shard failed for [daily_worker][1], node[6fa-STJgTT6z-uQbzIDErA], [P], s[INITIALIZING], unassigned_info[[reason=ALLOCATION_FAILED], at[2015-08-27T18:30:11.274Z]

[2015-08-27 18:36] clintongormley commented on #13141
Yeah, this should be part of the big settings cleanup in https://github.com/elastic/elasticsearch/issues/6732

[2015-08-27 18:36] #13141 closed

[2015-08-27 18:43] clintongormley commented on #13143
I've just spent a long time rewriting the 2.0 migration docs and breaking them up into separate pages, see https://github.com/elastic/elasticsearch/tree/master/docs/reference/migration/migrate_2_0

This change may account for the conflicts, but it should make conflicts less likely in the future.

The migration docs need to be as readable as any other page in the docs, I really don't want some long

[2015-08-27 18:43] #13143 closed

[2015-08-27 18:50] s1monw commented on #13138
Let me clarify I do want to ship RPM and .deb but  the current state of affairs is not even near good. If we have test but they don't run and they apparently didn't even run on a RC then the are not an improvement in this situations. @electrical your comments regarding the commands are not fixing the issue. I had these commands ready as well but thanks anyway. I feel like the current state of thes

[2015-08-27 18:57] nik9000 commented on #13143
Yeah. I get that. I just find that whenever I have a pull request that's been sitting around for more than a few days it merges cleanly _except_ for migration_2_0 or migration_2_1. I remember you're work to move the change into multiple docs and it helped. But I'm seeing it again with 2.1. I'll poke this with a concrete example if it happens again.

[2015-08-27 19:01] theocincotta opened #13161 "Snapshots not working."
Hello,

This could be a user issue, but I'm having issues creating snapshots. I've added the path to elasticsearch.yml.  Any ideas on who to fix this?

Thanks!

#path
path.repo: ["/data/elasticsearch/backups"]

#command
curl -XPUT 'http://localhost:9200/_snapshot/new_backup' -d '{
     "type": "fs",
     "settings": {
         "compress" : true,
         "location": "/data/elasticsearch/backups"

[2015-08-27 19:04] martijnvg commented on #13064
@RanadeepPolavarapu the following query should work:

[code]

Downside that It is more verbose, because the query needs to be repeated on each nested level. When the embedded query dsl `inner_hits` syntax also properly supports multiple level of nested object fields and parent child relations then your query should work too.

[2015-08-27 19:05] theocincotta commented on #13161
I'm running elasticsearch 1.6.2.

[2015-08-27 19:05] imotov commented on #13161
@theocincotta In order to register the shared file system repository it is necessary to mount the same shared filesystem to the same location on all master and data nodes. Please see [Snapshot and Restore](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html#_shared_file_system_repository) documentation for more information.

[2015-08-27 19:12] theocincotta commented on #13161
Thanks!

On Thu, Aug 27, 2015 at 12:06 PM, Igor Motov <notifications@github.com>
wrote:

[2015-08-27 19:14] theocincotta commented on #13161
Is it possible to just backup one index from one node without dealing with
mounting a filesystem on all the nodes?

On Thu, Aug 27, 2015 at 12:12 PM, Theo Cincotta <theocincotta@gmail.com>
wrote:

[2015-08-27 19:19] imotov commented on #13161
@theocincotta we are using github for bug reports and feature requests. A much better place to ask questions about Elasticsearch and get help with elasticsearch issues is our discussion forum https://discuss.elastic.co/. At the moment you have to either share a filesystem or use S3 or azure repository to backup to S3 or azure.

[2015-08-27 19:19] #13161 closed

[2015-08-27 19:33] theocincotta commented on #13161
Gotcha. Thanks!

On Thu, Aug 27, 2015 at 12:19 PM, Igor Motov <notifications@github.com>
wrote:

[2015-08-27 19:39] jeremybmerrill commented on #13160
Workaround: Turn off scripting entirely in your elasticsearch.yml by adding `script.disable_dynamic: true` (or commenting out the `script.disable_dynamic: false`).

[2015-08-27 19:59] nik9000 commented on #12674
Now that I'm looking at source transforms it looks half finished. There is support in the Java api to transform on load. But there isn't support in the REST api for it. It'd be so much less confusing if that were possible. Not that it'd be well loved, but less confusing.

[2015-08-27 20:01] nik9000 commented on #12674
I suspect when I first wrote transform I just didn't think about the rest API for that.

[2015-08-27 20:05] s1monw commented on #13160
hey @jeremybmerrill thanks for opening this. On the one hand this is a huge disaster and I am sorry for it. But this is exactly on of the reasons why we moved delete by query our of core and made is slowish but not prone to these problems. I will use this as an example in the future :)

as far as I can tell you recovered your index with your workaround, right?

[2015-08-27 20:26] s1monw commented on #13093
this is actually not true. We test that all over the place. Embedded ES doesn't have Boostrap as it's entry point. If you want to embed ES you should use `NodeBuilder.java` and start from there. Every Integration we run against `InternalTestCluster` test is basically embedding Elasticsearch an it works just fine without opening up bootstrap. Bootstrap should be private as much as possible it's bas

[2015-08-27 20:26] #13093 closed

[2015-08-27 20:27] rjernst commented on #13093
@nickminutello Bootstrap is an internal implementation detail, and using it was never officially supported. As Clint mentioned, we don't (officially) test or support running Elasticsearch embedded. Can you elaborate on *why* you need to run it embedded? Is it to run node client? Are you running a single node standalone? Something else?

[2015-08-27 21:14] s1monw commented on #13014
so to be clear the change here is what is default in previous version of elasticsearch. We never lookup the hostname from the IP. for the transport client you should be all fine here but nodes in the cluster might be different. the node will likely drop out of the cluster and then rejoin with the new IP? to enable that host name resolution you had to enable an undocumented setting so I don't think

[2015-08-27 21:15] jeremybmerrill commented on #13160
Hi @s1monw, thanks for your response. Yeah, saw it's deprecated, but didn't realize I'd end up in this sort of trouble...

I'm not sure if, were I to re-enable dynamic scripting, my index would still be broken. But, yeah, I'm back up and running.

[2015-08-27 21:23] s1monw commented on #13160
@jeremybmerrill if you `_flush` your index all DBQ in your translog should be processed and you should be fine again.. I'd recommend you not running these kind of queries in DBQ

[2015-08-27 21:36] jeremybmerrill commented on #13160
I'll give that a try. POST to `/index/_flush`, right?

Yep, learned my lesson :) Will probably stay away from this DBQ thing from now on.

[2015-08-27 22:15] TinLe commented on #12814
This is becoming very urgent.   Our tribe nodes are crashing on an hourly basis now due to GC.   Essentially they become unresponsive, nothing in log until we bounce them, the while dying, there will be a few lines in log that say they are hitting GC.

We are already using maxheap of 31GB on 64GB dedicated tribe nodes.   I have also tested on 256GB nodes, with various maxheap from 64GB, 96GB, 100G

[2015-08-27 22:18] mpereira commented on #10538
+1

[2015-08-27 22:24] TinLe opened #13167 "Param settings for tribe in elasticsearch.yml config"
It would be useful to have a bunch of knobs, settings we can set, specifically with tribe nodes.

Some settings that come to mind:

. how many indices we want to keep track of per downstream clusters.

. how "recent" the indices, e.g. we're only interested in last 2 days(48hrs) indices from each cluster.

. how often tribe node poll/query downstream for updates, how many tries before giving up, ti

[2015-08-27 23:15] pablocastro opened #13168 "Recovery fails to handle truncated translog files on NTFS"
As captured in #9699 the translog can get truncated during a power failure or a system crash. The actual details of what a partial write looks like depend on the filesystem among other things, and the fix to that bug addresses partial writes that are seen when this failure happens in ext4 (xfs seems to expose a similar behavior) .

In NTFS a partial write often looks different. If the failure happ

[2015-08-27 23:36] iwhitfield commented on #13131
Have verified that this is the case consistently after reloading an index on my installation of ES1.7.1, and on another installation of ES1.6.1. So @colings86, you should be able to replicate with my dataset and script.

[2015-08-28 00:10] #7831 closed

[2015-08-28 00:10] #11753 closed

[2015-08-28 01:25] rayward opened #13169 "Mapping conflict error upgrading from 1.7 to 2.0"
[code]

The field in question is:

[code]

This is the relevant analyzer configuration:

[code]

This field is defined on 2 out of 6 types that I have and is identical for those two types.

[2015-08-28 01:29] rayward commented on #13169
Also getting a similar error on a `_parent` field which I have on only one type.

[code]

Also, the migration plugin only had informational messages (eg. `required` on `_routing`), nothing that would stop an upgrade.

[2015-08-28 02:02] ppf2 opened #13171 "AWS Request ID and x-amzn-RequestId messages at the INFO level"
Log file from end user using AWS Cloud plugin 2.7.0.  Seems like these messages are more appropriate at the DEBUG level?

[code]

[2015-08-28 02:10] makeyang opened #13172 "type question"
0. sorry, I am in china and I don't know why I can't visit discuss.elastic anywhere. I can't visit it neither in Company nor in my home.so I post my question herer.
1. since type is a logical concept and in Lucene index, it is only a indexed field. why conceptial bounding it with index? I asked because many users tend to index all kinds of data into one index and fetch it by id, which is time cost

[2015-08-28 07:53] Shadocko opened #13174 "Analyze issues with copy_to target fields"
Hello,

I'm experiencing strange issues with analyze on fields used as targets for copy_to.
The analyze API always return trivial results but the analyzers from the copy_to origin field seem in some cases to be used either at index or query time, instead of the ones defined for the copy_to target.

Since I'm not 100% sure this is a bug, I opened a thread on SO with a simple test case showing the b

[2015-08-28 08:04] EgorZhuk commented on #4756
+1

[2015-08-28 08:10] dadoonet commented on #13174
The french analyzer seems to return another result then the one your are expecting:

[code]

Gives:

[code]

That explains why it does not match your clement query.

So IMO it's not an issue with the "copy_to" feature here.

Closing for now. Feel free to reopen if you think it's an issue.

[2015-08-28 08:12] dadoonet commented on #13174
BTW, I tried to analyze `clement` and it gives:

[code]

[2015-08-28 08:21] dadoonet commented on #13174
I was expecting the standard tokenizer not to break `clément` at the first `é`. Reopening to make more tests.

[2015-08-28 08:42] dadoonet commented on #13174
Ok. My platform test is badly setup. If I use curl instead of running that from the browser, then I'm getting expecting results.

[code]

[code]

And

[code]

Gives:

[code]

So no bug IMO with the `copy_to` feature but you probably need to adjust the `french` analyzer to meet your needs instead of using the default configuration: https://www.elastic.co/guide/en/elasticsearch/reference/current/ana

[2015-08-28 08:42] #13174 closed

[2015-08-28 09:04] clintongormley commented on #13156
It makes sense to have it default to verbose when typing ad-hoc commands, which is probably something we could change in Sense instead.

OK, let's revert this change.

[2015-08-28 09:12] clintongormley commented on #13155
Discussed this on FixItFriday.  The client node is a real node, and should require everything that any other node requires.  (Need to add docs for this).

The transport client should be light weight and shouldn't require any config etc.  So let's not require path.home for the transport client, and not load any config by default.  If the user needs to load a config file, then that should be explici

[2015-08-28 09:14] bleskes commented on #13155
as a temporary work around, if you are using the transport client, you can turn off config file loading by calling `TransportClient.Builder#loadConfigSettings(false)`

[2015-08-28 09:18] clintongormley commented on #13154
I'm not sure there are any action points to take away from this issue.  It looks like a duplicate of others, to do with synonyms etc.  Closing

[2015-08-28 09:18] #13154 closed

[2015-08-28 09:28] clintongormley commented on #13123
Discussed in FixItFriday. Agreed that we shouldn't touch the run levels.

[2015-08-28 09:28] #13123 closed

[2015-08-28 09:32] clintongormley commented on #13116
Discussed in FixItFriday.  Setting mlockall by default when a user isn't expecting it could be dangerous.  Rather let them configure it, along with the heap size etc

[2015-08-28 09:32] #13116 closed

[2015-08-28 09:32] yuz11 opened #13175 "discovery.zen.ping.unicast.hosts can't deal with an url?"
here's the deal:
I try to use the unicast function to organize a cluster.As I get 6 servers,so I try to write those ips to the /etc/hosts of all the servers by script(etc. 1.1.1.1 es.com),then config elasticsearch.yml " discovery.zen.ping.unicast.hosts: ["es.com"]".hoping es will find out the ips by this url.
of course,this action bring out no result.Then I have to config like "discovery.zen.ping.

[2015-08-28 09:39] dadoonet commented on #13110
Hi,

We discussed this today during our fixit friday meetup and this is something we won't support in elasticsearch itself.
You should always check if your index have been restored correctly before switching an alias.

If you are using curator, may be this is a feature which can be supported there?

[2015-08-28 09:39] #13110 closed

[2015-08-28 09:44] clintongormley commented on #13065
There are people who add thousands of fields in a single document, which could make the logging a bit overwhelming.  Also, we don't currently have the infrastructure to do this - not a low hanging fruit.  We'd probably need to log all mapping changes.  This would need to be TRACE level as it could be way too much.

What is the problem that would be solved by adding this logging?  The log message d

[2015-08-28 09:54] markwalkom commented on #13065
It's just an informational thing, keeping users aware of what's changed rather than having to figure out some other way of tracking this (eg VCS).

[2015-08-28 09:56] clintongormley commented on #13047
The problem here is that, while a replica may exist, we have no idea whether the replica is the same as the primary or not (unless the replica is sync flushed).  So we may end up having to copy over the whole primary (while still keeping the replica around just in case) which could push you over the limit.

I think what should happen here is

* existing primaries should be recovered automatically

[2015-08-28 10:22] Shadocko commented on #13174
Sorry, I overlooked the fact that the default french analyzer did not yield the same results for "clément" and "clement". I'm having a slow week...

[2015-08-28 10:30] bleskes commented on #13065
I think this is a good request and we have had ways to deal with verbosity in the past (log the first X fields in debug, all in trace). The tricky part is the implementation as we don’t have the right information available at the right place at the moment (the mapping merge produces a new mapping without telling you what changed).

[2015-08-28 11:18] gingerwizard opened #13176 "Percolator - Provide ability to not evaluate all queries when requesting N Hits"
Currently percolator allows you to control the number of matches with a size parameter.  However, it always reports the total number of matches and thus is forced to evaluate all queries irrespective of the size.  On larger percolator deployments, the total number of matches is sometimes not required and only the

Request the addition of a total_hits parameter.  If true, all queries will be evalua

[2015-08-28 11:22] gingerwizard commented on #13176
@martijnvg

[2015-08-28 11:33] gingerwizard opened #13177 "Percolator - Utilise Replicas to parallelise percolations on _mpercolate"
Percolator currently does not utilise replicas fully on an mpercolate request.  Documents are batched and sent to 1 candidate within a replica group.  This ticket proposes increasing use of replicas within a single request for greater parallel execution.  Given Percolator is largely CPU bound (provided there is sufficient memory for queries) this should increase throughput and reduce total executi

[2015-08-28 11:35] gingerwizard commented on #13177
@martijnvg suggested this was worth consideration
@polyfractal may have some interesting thoughts re this especially regards the relationship between latency and throughput.

[2015-08-28 11:41] s1monw commented on #13160
correct!

I suggest if you need the functionality to use scan & scroll and delete by id using bulk. that's how the new plugin in 2.0 works

I am closing this for now...thanks!

[2015-08-28 11:41] #13160 closed

[2015-08-28 11:45] alexanderkjall commented on #10758
Verified that the latest version have .asc files in maven central. Big thanks to everyone involved.

[2015-08-28 11:47] s1monw commented on #10758
w00t!! @alexanderkjall thanks for raising this in the first place

[2015-08-28 12:02] clintongormley commented on #13143
Not always possible but perhaps adding the breaking change into a particular section, instead of just appending, will make conflicts less likely

[2015-08-28 12:11] bleskes commented on #13155
bleh, it turns out I was wrong. Disabling loading the config settings still results in the exception (we throw it before checking the settings). Sorry for the noise.

[2015-08-28 12:16] colings86 commented on #13131
@iwhitfield Sorry, it took me a little while to realise what the code in your script is doing.

You are trying to store the DocLookup object in your `_agg` object but this will not work. This object does not represent a particular document, it is an object that can be used to access particular fields for the current document. When the aggregation moves onto the next document the DocLookup object s

[2015-08-28 12:16] #13131 closed

[2015-08-28 12:17] clintongormley commented on #12814
Honestly, I don't see a clear path to making this work.  The tribe nodes need to have the cluster state from all clusters in order to be able to do their job.  The tribe joins each cluster as a client node. Query slowness is basically down to network latency and the slowest node across all clusters.

Sorry, but I can't give you a magic solution here.

[2015-08-28 12:29] clintongormley commented on #13168
Hi @pablocastro

The translog has changed dramatically in 2.0.  It is now fsynced after every request, and has checkpoints which are written and fsynced after the translog fsync.  The checkpoint file is designed to fit into a single block and so writing it should be atomic.

See https://github.com/elastic/elasticsearch/pull/11143 and specifically https://github.com/elastic/elasticsearch/pull/11143

[2015-08-28 12:37] clintongormley commented on #13169
Hi @rayward

Thanks for testing out the beta, and for reporting these bugs.  I think the analyzer problem will be fixed by https://github.com/rjernst/elasticsearch/commit/2e4a053b4283f941999e5ab580f3883c36c952b7 but the _parent issue needs further investigation.

To reproduce, create this index on 1.x:

    PUT /test
    {
      "mappings": {
        "parent": {},
        "child": {
          "_pa

[2015-08-28 12:43] clintongormley commented on #13171
@dadoonet what do you think?

[2015-08-28 12:48] dadoonet commented on #13171
I guess the use changed the log level at some point.
`com.amazonaws.http` package is supposed to be `WARN`

In master: https://github.com/elastic/elasticsearch/blob/master/distribution/src/main/resources/config/logging.yml#L12
In 1.7: https://github.com/elastic/elasticsearch/blob/1.7/config/logging.yml#L8

@ppf2 could you check what is the user `logging.yml` file?

[2015-08-28 12:51] clintongormley commented on #13172
Hi @makeyang

Types are essentially ways of grouping related fields together, nothing more.  In the past, types could have different mappings for fields of the same name but that is no longer supported (caused a lot of issues).

So yes, you could quite happily store different types in different indices.  Types can make sense in a scenario such as the following:

You have a million documents of typ

[2015-08-28 12:51] #13172 closed

[2015-08-28 13:43] ycombinator commented on #13172
Hi @makeyang,

Sorry to hear that you cannot access discuss.elastic.co. Would you mind running a couple of commands from the command line and reporting their results here (I'm assuming you are on a Linux/Mac system but let me know if you are on Windows)?

1. `dig discuss.elastic.co`

2. `curl -v http://discuss.elastic.co`

Thanks!

[2015-08-28 13:54] nik9000 commented on #13172
Yeah! Part of the point of moving to discus.elastic.co was to make it work in China.

[2015-08-28 14:05] nik9000 commented on #13138
I'm going to try to enumerate the issues so we can fix them:

1. We don't run the rpm and deb tests consistently. I've opened an issue with the Elastic infrastructure folks for this. And made sure its obvious that I consider it an important issue.
2. The deb/rpm tests don't cover artifact signing.
3. Artifact signing with maven is jangly and doesn't actually work properly right now.

Is that all?

[2015-08-28 14:14] dhollinger commented on #13138
@s1monw , while you are right in that you shouldn't offer broken packages, I can definitely tell you there are multiple organizations I have had involvement with that wouldn't even consider Elasticsearch if there are packages that can be installed and tracked using a package management system such as YUM or APT.

Tracking installed software tends to be an audit requirement in many (but not all) or

[2015-08-28 14:25] iwhitfield commented on #13131
@colings86 that makes perfect sense, thank you for summing it up so quickly :) I knew it must be something with the way things are referenced. Thank you!

[2015-08-28 14:26] astefan opened #13178 "fielddata_fields for _all doesn't display all the terms"
Tested in 1.7.1.
For the following test

[code]

the result is

[code]

where it should have been actually `"_all": ["abc", "def", "ghi"]`.

[2015-08-28 14:39] clintongormley commented on #13175
I'm unclear on what you're asking here.  This seems to work for me. if I configure /etc/hosts to have, eg:

    1.2.3.4   abc.foo.com
    1.2.3.5   abc.foo.com
    1.2.3.6   abc.foo.com

and set `discovery.zen.ping.unicast.hosts` to `abc.foo.com`, then it tries all three IPs

[2015-08-28 14:43] clintongormley commented on #13176
For consistency, perhaps support the `terminate_after` parameter instead.  See https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html

[2015-08-28 14:48] clintongormley commented on #13177
Not sure this would be effective in production scenarios.  Typically, you'll be doing multiple mpercolate requests.  Each mpercolate request would end up on a single shard, but because you're running multiple requests, you already have parallelization (without the added cost of fanning out). If all you're doing is one mpercolate request, then probably latency isn't as important.

It's the same as

[2015-08-28 14:57] clintongormley commented on #13178
The background to this bug: meta-fields typically contain a single value only, while other fields may contain zero or more values. So meta-fields are special cased to return just the first value (and in 2.0, to return their values at the "top" level, instead of within the `fields` element).

`_all` is an exception to this rule and should probably be treated as an ordinary field.  really, returning

[2015-08-28 14:59] gingerwizard commented on #13177
MPercolate currently just acts a network optimisation.  The most common application seems to be to buffer N documents and send them off for percolation in one go.  This is particularly applicable when users are percolating prior to indexing.  Its unlikely they are running multiple percolate requests in parallel therefore, and hence not utilising the full capacity of their cluster with respect to C

[2015-08-28 15:08] polyfractal opened #13179 "Top-level pipeline aggs are not validated"
If a pipeline is defined as a top-level agg (e.g a `sum_bucket` at the very root), it won't have any parent aggregations and thus sidesteps the current parser validation in AggregatorsParser.  The final clause which deals with top-level pipelines needs extra logic to validate pipelines ... but it will likely require some changes since the current pipeline validation methods require an agg parent.

[2015-08-28 15:17] nik9000 commented on #9311
We should make sure that the error message returns a reference to scan/scroll too.

I'm grabbing this because I keep hearing about it being trouble.

[2015-08-28 15:36] tmartensen commented on #11599
This still doesn't work for me when using Kibana 4.1.1 and Elasticsearch 1.7.1. Is there something else that needs to be done to existing indexes?

[2015-08-28 15:40] clintongormley commented on #11599
@tmartensen you shouldn't have to do anything, as long as we're talking about the same exception.  More details?

[2015-08-28 15:55] s1monw commented on #13138
@dhollinger I think you are not getting it right here at all I am sorry

if you get something that wipes your entire data because we shipped it just for the sake of it I'd be very unhappy. I am listening to all the rants and dangerous statements here until this is either removed or properly tested then we can release again. This is the mindset we have to live to ship good software either it's test

[2015-08-28 15:58] tmartensen commented on #11599
I'm still getting the same exception after upgrading to 1.7.1. I'm trying to log SOAP messages that are larger than normal, but not outrageously large, as seen bellow by filtering on the `org.springframework.ws.client.messagetracing*` logger name, and by a custom class that has much shorter messages.

[code]

[2015-08-28 15:59] #13156 closed

[2015-08-28 16:02] TinLe commented on #12814
I agree that it is a hard problem.   We've solved it in Galene,and it took some effort.

https://engineering.linkedin.com/search/did-you-mean-galene

Federation/aggregation of tribe is a hard problem and require internal re-architecting.

[2015-08-28 16:02] s1monw commented on #13138
@nik9000 I think we should add to the list:
 - tests and/or release scripts must verify that packages are signed and fail if not.
 - test must verify that packages are cleanly un-installable
 - test must verify that packages can be upgraded from a previous version including the index if it already exists. (don't wipe any data)
 - test must verify that packages load all relevant user provided confi

[2015-08-28 16:07] nik9000 opened #13182 "bats tests should verify that packages are signed"
The bats tests currently simply install the rpm and debs an exercise them. They should also check that they are signed.

This is part of #13138.

[2015-08-28 16:09] s1monw commented on #13182
@nik9000 I am not sure we can easily do this our bulids don't sign the builds at all? maybe they should?

[2015-08-28 16:10] nik9000 commented on #13182
Something like that, yeah. Maybe some self signed certificate stuff. We can figure it out.

[2015-08-28 16:10] s1monw commented on #13182
yeah I wonder if the release script and the smoke tester should do it for now at least?

[2015-08-28 16:11] nik9000 opened #13183 "Packaging tests should verify upgrades from some previous version"
Right now the bats tests install elasticsearch on a clean system. They should also test that the packages can be upgraded without losing data. Both across major and minor versions.

[2015-08-28 16:12] nik9000 commented on #13138
[ ]  tests and/or release scripts must verify that packages are signed and fail if not. #13182
[x] test must verify that packages are cleanly un-installable - already done
[ ] test must verify that packages can be upgraded from a previous version including the index if it already exists. (don't wipe any data) #13183

[2015-08-28 16:13] nik9000 commented on #13138
You mean like the user can modify /etc/elasticsearch/elasticsearch.yml and /etc/defaults/elasticsearch and things happen? They already do some of that.

[2015-08-28 16:14] nik9000 commented on #13182
Makes sense to me.

[2015-08-28 16:15] s1monw commented on #13138
yeah pretty much - like provide a template / script on the FS and it's loaded ie. all paths are configured correctly.

[2015-08-28 16:18] nik9000 opened #13184 "bats tests should create a script and a template on the filesystem and verify that they work"
This is mostly for the rpm and deb but probably also should be done for the tar tests.

Part of #13138

[2015-08-28 16:19] nik9000 commented on #13138
[ ] provide a template / script on the FS and it's loaded ie. all paths are configured correctly. #13184

[2015-08-28 16:20] s1monw opened #13185 "Don't allow users to modify merge settings"
this is extremely expert and even experts don't touch it. I really wonder if we should allow this at all and if so should we rather provide some kind of optimized profile for `[THROUGHPUT, SEARCH_PERFORMANCE, READ_ONLY]' or something like this?

[2015-08-28 16:27] jimmyjones2 commented on #11599
Fix worked for me, after remembering to upgrade the client node

[2015-08-28 16:27] nik9000 commented on #13185
I like the idea of an optimized profile! I think its much much less trappy. Especially if you can transition from one to the other and the "right things" happen.

[2015-08-28 16:31] bleskes commented on #13185
+1

On Fri, Aug 28, 2015 at 6:27 PM, Nik Everett <notifications@github.com>
wrote:

[2015-08-28 16:31] tmartensen commented on #11599
@jimmyjones2 what does that entail? I've upgraded the index through the upgrade API for the offending indexes.

[2015-08-28 16:34] clintongormley commented on #11599
It means: make sure you upgrade all Elasticsearch nodes, including the client nodes (if you're using them)

[2015-08-28 16:38] tmartensen commented on #11599
I see. I'm using ES unclustered at the moment, straight out of the box.

[2015-08-28 16:41] polyfractal commented on #13185
+1

I can count on one hand the number of clusters helped by merge settings tweaks.  In contrast, you see clusters obliterated by even relatively small merge tweaks all the time.

[2015-08-28 16:42] nik9000 commented on #13156
Fixed in master and 2.0 branches.

[2015-08-28 17:30] clintongormley commented on #13185
+1

[2015-08-28 17:35] mikemccand commented on #13185
+1

At a minimum we should stop documenting these settings; I think we should do that today for 2.0.

This fits well with other recent simplifications (removing `SerialMergeScheduler`, merge policy control (always use the default `tiered`).

Optimized profiles is a great idea but I think there are challenges.  E.g. increasing `index.merge.policy.segments_per_tier` and/or decreasing `index.merge.po

[2015-08-28 17:51] pickypg opened #13187 "Enable -XX:+UseCompressedOops By Default"
To go along with our suggestion that heaps should never exceed the 32 GB barrier, we should softly enforce it by explicitly enabling `-XX:+UseCompressedOops`, which is on by default for heaps under the supported limit and off when you cross the limit. By enabling it manually, a JVM above the barrier _should_ fail to start (unfortunately, I don't have a machine with enough RAM to test this on).

[I

[2015-08-28 18:10] jasontedor commented on #13187
An Oracle JVM will warn but not fail if `-XX:+UseCompressedOops` is set and in conflict with the heap size:

    13:59:30 [jason:~/src/oops] 1 $ java -Xmx32g -XX:+UseCompressedOops Oops
    Java HotSpot(TM) 64-Bit Server VM warning: Max heap size too large for Compressed Oops
    Hello, oops!

You can also see how it will be on if you're under the threshold:

    14:00:04 [jason:~/src/oops] $ java

[2015-08-28 18:27] nik9000 commented on #13187
Can we get at `UseCompressedOops` from Java or is that lost to us?

[2015-08-28 18:37] arosso commented on #283
+1 - This one causes us some major issues with continuous deploys to dev/qa/prd. What we've found with Java and PermGen, is that if there is even the smallest leak of an object, upon a reload *all* classes will be leaked. Basically the classloader can't release the dependency tree of the web app. Even with a PermGen of 512Mb we cannot redeploy our web app more than once before things blow up. All

[2015-08-28 19:26] nik9000 commented on #12558
I'm just going to swap `*` in for `+` to handle those cases where there isn't one set. I'm also adding a test for the help. Its not perfect but better than leaving it disabled.

[2015-08-28 20:12] martijnvg commented on #13177
I think adding this optimisation at some point does make sense (not high priority). Instead of parallelising   the mpercolate request up to `primary_shard` times, a mpercolate request can be parallelised `primary_shard * num_replica` times. Multiple mpercolate requests can be send at the same time, but this is something that we can solve nicely on the ES side and then clients don't have to worry a

[2015-08-28 20:19] eskibars opened #13190 "Overlap calculations in geo"
It would be useful to be able to return the net overlap/disjoint areas on a geo_shape query, so as to determine similarity of the queried shape to the indexed document.

[2015-08-28 20:35] albarki opened #13191 "get the most critical messages in ELK stack"
Hello
i have an ELK stack up and running, all things is OK, but i need to move forward to send some alerts to the sysadmins to begin to work in the errors that comes from all servers.
SO i want to write a query to get top 10 critical unique messages stored in Elasticsearch, then i will send an alert regarding each messages.
I tryied this query but it give me a wrong data
[code]

Regards

[2015-08-28 20:57] tegansnyder opened #13192 "Inner Hits returning all records, size option not working as expected"
I'm relatively new to Elastic Search, but finding it extremely pleasant to work with so far. I have ran into a particular interesting problem detailed below.

##### Mapping
Below is my mapping. I'm using a few nested fields. My data is product data that rolls up to a product code. Many variations of product names can have the same product code. For this reason I used a nested type when mapping.

[

[2015-08-28 22:32] djwmarks commented on #7464
+1

[2015-08-28 23:56] hjhart commented on #6732
+1 for being able to delete index settings.

[2015-08-29 00:32] pablocastro commented on #13168
Thanks for looking at this.

For 1.7, given that most production users are still on it, would you consider a fix that's specific to this codebase? I would be happy to send a pull request if that helps.

For 2.0, let me catch up on all the changes you guys did first so I can comment with appropriate context.

In the meanwhile I'd love to see if we can make a 1.7 fix happen.

[2015-08-29 09:08] lmenezes opened #13196 "Problem installing plugins without checksums"
trying to make kopf work with 2.0-beta1 but I just got:

[code]

is this the expected behaviour? I will add checksums if necessary, but going from specified branch to master branch in case no checksum is found doesn't seem like the expected outcome(but maybe it is...)

[2015-08-29 09:13] dadoonet commented on #13196
I think you're right. It's a bug IMO.

In the meantime, could you add to your repo a checksum file? May be not doable with github though...

[2015-08-29 09:17] lmenezes commented on #13196
yeah, will try that in the afternoon, need to leave now. thanks :)

[2015-08-29 09:52] dadoonet commented on #13196
You can actually run:

[code]

So you don't have to provide the checksum file for now.

[2015-08-29 09:57] dadoonet commented on #13196
I see what is happening. We expect to get a `FileNotFoundException` when we download a checksum file if this one does not exist but we get a `IOException`:

[code]

https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/common/http/client/HttpDownloadHelper.java#L156-156

Will propose a fix.

[2015-08-29 10:14] dadoonet commented on #13196
Weird...

We have a stacktrace:

[code]

This code is supposed to unwrap the `FileNotFoundException` but it does not:

[code]

`unwrapCause()` does not work in our case because we don't have any `ElasticsearchWrapperException` here:

[code]

I guess this happened when we removed most of the elasticsearch exception and replaced them with standard java exceptions. @s1monw WDYT?

[2015-08-29 11:36] clintongormley commented on #8617
Closing in favour of #283

[2015-08-29 11:36] #8617 closed

[2015-08-29 11:42] clintongormley commented on #13191
Hi @albarki

The place to ask questions like these is in the forums: https://discuss.elastic.co/

Also, when you do, I'd suggest providing some example data and explaining why you think the results are wrong and what results you expect instead.

[2015-08-29 11:42] #13191 closed

[2015-08-29 11:57] clintongormley commented on #13192
Your document format is incorrect.  Nested objects are for arrays of objects, while you're passing a single object with a multi-value string field.  Change the structure to this and your query works as expected:

PUT products_en/products/1
    {
      "PRODUCT_CODE": "A00023ABCDEF",
      "PRODUCT_NAMES": [
        {
          "NAME": "TEST PRODUCT NAME VERSION ABCDEFGH TYPE 1VB"
        },

[2015-08-29 11:57] #13192 closed

[2015-08-29 13:38] bitonp commented on #11425
2G Ram seems very low. Java requires half of that, so thats 1G gone... and Isuspect you are swapping the rest.
Add to that the fact that you have data and readers on teh same nodes, its probably gettiing a bit insane. we are on AWS and regularly index 140m-250m per day, using 32G machines. we have Kibana reading for 20+ graphs simultabeously... indexing queries off mysql databases. I suspect that

[2015-08-29 14:49] jasontedor commented on #13187
It can be obtained from a management bean on the OpenJDK line of JVMs.

The IBM JVM has a similar concept (compressed pointers below 25 GB heaps) but uses a different flag. I'm not familiar enough with that VM to know kind of introspection is available at runtime (I suspect it's possible, I just don't know).

That said, I'm just not sure if this is a path that we should go down.

[2015-08-29 14:57] tegansnyder commented on #13192
@clintongormley thanks for pointing out my formatting issue. This resolved my issue.

[2015-08-29 16:21] pheaver commented on #10290
Yup, I'm also unable to build a package because of this.

[2015-08-29 16:31] clintongormley commented on #13196
thanks for reporting this @lmenezes

[2015-08-29 16:32] s1monw commented on #10290
can you guys use the shaded jar?

[code]

[2015-08-29 16:41] pheaver commented on #10290
Oh, I'm not familiar with that. Do you know how I would use that in sbt?

[2015-08-29 16:41] s1monw commented on #10290
I don't know sbt but how do you use elasticsearch?

[2015-08-29 16:42] s1monw commented on #10290
`libraryDependencies += "org.elasticsearch.distribution.shaded" % "elasticsearch" % "2.0.0-beta1"` according to http://search.maven.org/#artifactdetails%7Corg.elasticsearch.distribution.shaded%7Celasticsearch%7C2.0.0-beta1%7Cjar

[2015-08-29 17:30] pheaver commented on #10290
So the shaded package is only available as 2.x? I'm not sure if that will work.

Also, I'm using https://github.com/sksamuel/elastic4s, which maybe has a dependency on the non-shaded elasticsearch, so even when I try the shaded package I still get errors about conflicting versions of elasticsearch.

[2015-08-29 17:59] s1monw commented on #10290
yeah the 1.x dev branch is closed we are mainly focusing on 2.x now

[2015-08-29 20:45] #7990 closed

[2015-08-29 21:02] #13196 closed

[2015-08-30 03:46] h3idan opened #13200 "how to change a existing analyzer in Elasticsearch?"
Now that's existing analyzer：
[code]
I want to remove "filter", and it'll be this:
[code]
I have tried to update the settings, like this: https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-update-settings.html#update-settings-analysis

But it's invalid, how should I do? Is it a bug?

[2015-08-30 07:33] dadoonet commented on #13200
Please ask questions on discuss.elastic.co.

You can not change an existing analyzer and you basically need to reindex.

[2015-08-30 07:33] #13200 closed

[2015-08-30 10:35] tarunsapra commented on #13151
+1

[2015-08-30 11:46] clintongormley commented on #13151
@dadoonet could you add these to the java API docs and migration docs please?

[2015-08-30 15:23] tarunsapra opened #13201 "Pipeline Aggregation documentation issue"
Hi ES team,

I downloaded the Beta release of ES 2.0.0 and was trying out the max_bucket and min_bucket pipeline aggregations, but a small Typo in the documentation present online made it a bit tricky to try out the aggregations, in the following links
https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations-pipeline-max-bucket-aggregation.html
https://www.elastic.co/guid

[2015-08-30 16:39] kiryam opened #13202 "Cant add listener to ShardIndexingService if index failed"
ShardIndexingService has functionality for add listener on events preIndex and postIndex
In my project (https://github.com/kiryam/elasticsearch-top) I try to monitor current running index actions. Simple add to Queue if preIndex and remove if postIndex. But if I get failedIndex - index action will freeze in Queue.
<pre>public Engine.Index preIndex(Engine.Index index) {
        totalStats.indexCurr

[2015-08-30 18:09] kiryam commented on #13202
Also ShardSlowLogIndexingService don't write slowlog message if indexing will failed

[2015-08-30 18:18] kiryam commented on #13202
<pre>
public ParsedDocument index(Engine.Index index) throws ElasticsearchException {
        writeAllowed(index.origin());
        index = indexingService.preIndex(index);
        try {
            if (logger.isTraceEnabled()) {
                logger.trace("index [{}][{}]{}", index.type(), index.id(), index.docs());
            }
            engine().index(index);
            index.endTime(Syste

[2015-08-30 18:52] s1monw commented on #13168
the 2.0 code is pretty much a rewrite I don't think we should backport this and for a bugfix release such a change is too big anyway. We closed 1.x dev branches so not much is going to happen there. We have to move on and make sure folks move to 2.0 asap to get all the other goodies too. I don't think we should spend much time on fixing 1.7 but rather invest and test 2.0 instead.

[2015-08-30 19:02] kiryam commented on #13202
https://github.com/elastic/elasticsearch/pull/13203

[2015-08-30 19:14] #13017 closed

[2015-08-30 20:03] tarunsapra commented on #13201
https://www.elastic.co/guide/en/elasticsearch/reference/2.0/search-aggregations-pipeline-cumulative-sum-aggregation.html as well

[2015-08-31 00:32] jasontedor opened #13204 "Convert upgrade action to broadcast by node"
Several shard-level operations that previously broadcasted a request per shard were converted to broadcast a request per node in #12944. Upgrade action should be converted to this new model as well.

Relates #7990, #12944

[2015-08-31 01:08] makeyang commented on #13172
@ycombinator
dig discuss.elastic.co

; <<>> DiG 9.8.2rc1-RedHat-9.8.2-0.30.rc1.el6_6.3 <<>> discuss.elastic.co
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 17178
;; flags: qr rd ra; QUERY: 1, ANSWER: 2, AUTHORITY: 0, ADDITIONAL: 0

;; QUESTION SECTION:
;discuss.elastic.co.		IN	A

;; ANSWER SECTION:
discuss.elastic.co.	5	IN	CNAME	hosted-elastic.discours

[2015-08-31 02:43] rjernst commented on #12620
We should fix any code that is calling `bytes()` after `close()`. This sounds very broken and error prone!

[2015-08-31 05:23] xzer commented on #13136
The exception message contains the response body which described what is wrong at shard side, I replaced the error messages by dots in the paste. The problem is not what is wrong with the query, the point is we do not know where the wrong query is created at the client side source.

I will try the 2.0 later.

[2015-08-31 06:07] rjernst commented on #13169
I agree the first issue described should be fixed by #13206.

The issue with `_parent` is a known issue, and unavoidable at this time (without further refactoring of how mappings work). @clintongormley There are two types in your example, `parent`, and `child`. Because parent is added first (types are added one at a time), it gets the default `_parent` setup with lazy loading. When the second `chi

[2015-08-31 06:27] xuzha opened #13207 "Position-increment-gap doc need to be updated"
After we changed default `position_increment_gap` to 100, the example below in this [doc](https://github.com/elastic/elasticsearch/blob/master/docs/reference/mapping/params/position-increment-gap.asciidoc) is outdated.

[code]

[2015-08-31 08:38] spinscale opened #13209 "Improvement of package/artifact deployment"
We need to work on improving our artifact deployments. Collected several thoughts about this

* Should the RPM be signed or not as part of our deployment. If the RPM is not signed, older RPM based distributions will not have a problem to install. As we do sign our artifacts now as part of the mvn deployment (which adds an .asc file), this should not be a problem in terms of integrity. @electrical

[2015-08-31 09:16] ycombinator commented on #13172
@makeyang Thanks, could you follow the redirect in the curl response and issue the following command next, please?

`curl -v https://discuss.elastic.co`

[2015-08-31 09:53] #12748 closed

[2015-08-31 10:02] #13204 closed

[2015-08-31 10:52] archie-sh commented on #2917
would really like to see this implemented

[2015-08-31 10:59] jimmyjones2 opened #13210 "Adding path to path.data loses shards"
With a simple one node Elasticsearch 1.7.1 instance, with a few indicies, I added another directory to path.data. When I restarted Elasticsearch, a number of the indicies were unavailable. Is this expected behaviour?

[2015-08-31 11:48] #13201 closed

[2015-08-31 11:54] clintongormley commented on #13169
@martijnvg could you comment on https://github.com/elastic/elasticsearch/issues/13169#issuecomment-136276860 please?

[2015-08-31 12:08] clintongormley commented on #13210
Hmmm no it is not.  I managed to replicate this by creating 4 indices, then shutting down, adding a new data path and starting. One index wasn't assigned properly.  Restarting fixed the issue.

note: now is not a good time to switch to multi data paths as the implementation is changing completely in 2.0: a single shard will no longer be striped across multiple data paths, instead one shard will be

[2015-08-31 12:37] jaymode opened #13212 "Allow plugins to be specified using NodeBuilder"
With the removal of `plugin.types` in #13055, there is no longer a way to specify plugins to load for a node client other than creating a plugins directory and putting all of the plugins in that directory. We should add a `addPlugin` method to the `NodeBuilder` class so that plugins can be specified by their class.

[2015-08-31 12:43] JohanHolman opened #13213 "Changing index settings during restore doesn't work as expected"
Suppose we have a index with extra index_settings "read_only: false".

[code]

Need to close the index to restore it.

[code]

Changing index settings during restore: settings index.blocks.read_only: true"

[code]

it looks it's restored including the extra index_settings settings "read_only: true"

[code]

## But, it's not read only!!!

[code]

It it possible to make it read-only?

[code]

Yes

[

[2015-08-31 12:46] jimmyjones2 opened #13214 "Behaviour different with custom _all"
With the following simple query, I get different results with a custom_all to the other cases:

[code]

| test | description | result count |
| --- | --- | --- |
| test1 | custom _all | 1 |
| test2 | disabled_all | 2 |
| test3 | include_in_all | 2 |
| test4 | normal | 2 |

I thought this might be because one of the documents doesn't add anything to the custom _all field, but neither does one of th

[2015-08-31 12:48] nik9000 commented on #13207
@clintongormley did you start working on this?

[2015-08-31 12:55] nik9000 commented on #13187
The trouble with the path we are on is that this is one of the first things you'll want to know when helping people with high memory usage issues. Its not required by any means but its kind of "advanced" not to use it. I mean, its one of those things that you want to have tested and profiled before doing in a high traffic environment.

I could see us adding a setting that stopped elasticsearch if

[2015-08-31 13:01] nik9000 commented on #12674
Just changed issue to remove rather than break into a plugin because:
1. Its hard to break into a plugin in satisfactory ways. I made an effort and it was just making the problem worse. See #13164.
2. So far as I know no one is really using this in the way it was intended to be used. People are using it as a simple transformation pipeline but its really really really not for that and that causes a

[2015-08-31 13:16] kimchy commented on #13212
Agreed, seems like we missed this? @rjernst I think we should?

[2015-08-31 13:22] rmuir commented on #13187
What relies on this: where are jazillions of objects being created? In most cases at least lucene datastructures are using large byte[] or addressing into memory mapped files.

[2015-08-31 13:28] jasontedor commented on #13187
Are you sure that this is correct?

To be clear, I think that we merely recommend it as a performance optimization and to avoid heaps getting too large increasing the likelihood of long-running garbage collection cycles destroying the cluster.  But I don't see that as a reason to completely prevent users that think they need very large heaps from having them. And given that, I don't see the need t

[2015-08-31 13:33] nik9000 commented on #13187
I haven't dug into it. Its an old, old bit of advice. Honestly @pickypg will probably know better than I what happens without it.

I am 100% sure its recommended.

That is a good point - if its really just a question of GC pauses then Elasticsearch shouldn't bother checking the flag.

[2015-08-31 13:34] kimchy commented on #13187
Historically, I recommended heaps smaller than 30gb in order to get compression since both ES and Lucene ended up allocating a lot of objects (and non paged ones). It also served as a relatively safe number for not going crazy when it comes to heap size and GC.

Now, many of the data structures, in both Lucene and ES, are properly paged and "bulked", and with doc values, this starts to become less

[2015-08-31 13:40] jasontedor commented on #13187
It seems that we've reached some consensus that we shouldn't add this. I'm going to close this issue unless someone thinks otherwise?

[2015-08-31 13:40] #13187 closed

[2015-08-31 13:40] nik9000 commented on #13187
Fine by me.

[2015-08-31 13:42] rmuir opened #13216 "improved backwards compatibility tests"
Now that 2.0beta1 is released, we could try to prototype some more realistic backwards compatibility testing.

Some scheme like this might work:
- qa/backwards-20beta1-rest: starts up bin/elasticsearch from current code, but runs the packaged rest suite from 2.0 beta1 against it (it is included in that test jar already). So its similar to what we do in distribution tests, just with different test

[2015-08-31 13:44] nik9000 commented on #13216
++

I wonder if we can have a policy to prevent combinatorial explosion?

[2015-08-31 13:46] rmuir commented on #13216
What do you mean by a policy? I don't see combinatorial explosion... this would be 2 scenarios for each version. Whatever versions we are supposed to be compatible with, I think we should test.

[2015-08-31 13:50] nik9000 opened #13217 "bats tests should force the virtualbox provider"
The vagrant tests use vagrant boxes that are only available with virtualbox but don't specify it so people that have configured vagrant to use some other virtualizer by default will get failures. They should just force virtualbox.

[2015-08-31 13:50] s1monw commented on #13216
++

[2015-08-31 13:56] nik9000 commented on #13216
I could see us doing:
* 2.0.0-beta1 + current
* 2.0.0 + current
* 2.0.0-beta1 + 2.0.0 + current
* 2.0.1 + current
* 2.0.0 + 2.0.1 + current
* 2.0.0-beta1 + 2.0.0 + 2.0.1 + current

And that list getting very long very quick. If we stick to just having two different versions at a time that is "policy" enough for me. Though we might want to have one rainbow test where we do all the versions or somet

[2015-08-31 13:57] rmuir commented on #13216
why would we do that? I don't think we need to support a cluster with a mix of 3 versions. What is the use case for that?

I only see this:
* 2.0.0-beta1 -> current
* 2.0.0 -> current
* 2.0.1 -> current

[2015-08-31 14:02] nik9000 commented on #13216
Its mostly a mistake to use three versions at once. People do it. I've heard of it happening in scenarios where people are using the java client and when people don't upgrade their dedicated master nodes properly.

I do get your point about only testing the two versions at once. You still get a lot of test cases but its not so bad as I was envisioning.

[2015-08-31 14:15] rmuir commented on #13216
You can even reduce this by just doing previous -> current. Its less thorough but better than nothing.

[2015-08-31 14:17] nik9000 commented on #13216
I could see that as the normal thing to run before sending a pull request and the wider range being normal to run nightly or something.

[2015-08-31 14:25] #13106 closed

[2015-08-31 14:39] vineet85 opened #13220 "ElasticSearch running query string query on multiple fields"
I have a mapping which consists of a parent child relationship between documents and fields. I want to write a query that matches the parent using the query string query only if 2 fields match the query.

Quoting from the documentation on Multi Field (https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#_multi_field_2)

Is there any way to do a search u

[2015-08-31 15:50] jasontedor opened #13224 "Remove Guava as a dependency"
This is a list of the imports from Guava that can be found in core Elasticsearch today. Let's check these off as we go and reference the corresponding issues and pull requests. Most of these will be relatively straightforward with the most serious ones being replacing the caching layer. Those will probably require full issues and careful review cycles.

- [x] remove `import com.google.common.annot

[2015-08-31 15:58] spinscale commented on #13209
Took a first look at `deb-s3`. Like it so far. All you need is an unsigned debian package, specify this debian package on the command line, which upload its automatically, and then asks for the passphrase to sign the `Release` file. No need for complex syncing like done in our scripts right now.

Uploading works like this

[code]

There are a couple of commands for verifying:

[code]

Couple of th

[2015-08-31 15:59] nik9000 commented on #13224
I think some of these may be worth importing directly - `Splitter` and `Joiner` come to mind. They are cute and convenient. We should just be careful not to drift from Guava's source or upgrades will be difficult.

I think other of these - `newHashMap`, `newHashSet`, `filtering`, etc, are worth banning and removing entirely because they just aren't that useful. The `new*` methods in particular are

[2015-08-31 16:06] Judyccb opened #13225 "elasticsearch can not response to head"
elasticsearch version is 1.4.4
http://XX.XX.XX.XX:9200/_status
500 Internal server error
Why? Is the version of the head too old?

[2015-08-31 17:13] clintongormley commented on #13214
Hmmm, interesting finding... The reason for it is that `_all:*` and `foo:*` get rewritten as different queries:

    GET /test*/_validate/query?explain
    {
      "query": {
        "query_string": {
          "query": "*",
          "default_field": "_all"
        }
      }
    }

returns:

    "explanation": "ConstantScore(*:*)"

while:

    GET /test*/_validate/query?explain
    {
      "query

[2015-08-31 17:35] clintongormley commented on #13207
@nik9000 not yet :) just added to my list

[2015-08-31 17:37] nik9000 commented on #13207
I'm happy to grab it if you want.

[2015-08-31 17:44] clintongormley commented on #13220
Hi @vineet85

Please ask questions like these in the forum instead. https://discuss.elastic.co/

thanks

[2015-08-31 17:44] #13220 closed

[2015-08-31 17:47] clintongormley commented on #13225
@Judyccb have a look at the exception in the logs (or in the response body).  Please ask questions like these in the forum

[2015-08-31 17:47] #13225 closed

[2015-08-31 17:52] electrical commented on #13209
Important thing is that both the repo it self and the packages are signed and that we also are able to have multiple versions of ES in the repo and available ( most tools don't allow for that )

As a side note; we will have the need soon for 2 different signed rpm's. one with the V3 signature ( centos5 / SLES ) and one with V4 signature ( Centos6+, opensuse, etc )
This will also need to be a separ

[2015-08-31 18:07] jordansissel commented on #13209
@spinscale regarding apt/yum facilities, @drewr and I have been looking (as time permits) at some hosted repository options that may meet our needs (packagecloud, etc). I'd be cool if we used the same solution for all our hosting, but I would consider "where are the rpm/debs posted?" a separate problem from how the packages are constructed.

[2015-08-31 18:40] jimmyjones2 commented on #13214
Thanks @clintongormley. I originally found the issue when using Kibana, as when viewing all documents in Discover, I couldn't see all the documents!

[2015-08-31 19:10] jasontedor commented on #13224
Removing the v2.1.0 label; I suspect that some of these will stick around for convenience until we migrate to Java 8 and can replace uses of things like `Iterables.filter/Predicate` with `Stream.filter/native Predicate`.

[2015-08-31 19:22] #4665 closed

[2015-08-31 19:57] craigwi commented on #12759
I created a pull request https://github.com/elastic/elasticsearch/pull/13228 containing the changes I had made to the elasticsearch-cloud-azure plugin.

Craig.

[2015-08-31 20:58] javanna opened #13229 "Locale parsing issues"
In the query-refactoring branch we noticed weird behaviours related to parsing locales. The two queries affected are query_string and simple_query_string, as they allow users to set the `locale` used where applicable, depending on the type of lucene query that gets parsed.

Both queries in master parse the locale through our own `LocaleUtils#parse` method and print it out using`Locale#toString` wh

[2015-09-01 00:09] mbuhot opened #13230 "inner_hits from has_parent not populated when _parent field requested"
Using elasticsearch 1.7.1.
When `"fields" : ["_parent"]` is included in a query, it stops the results of `"has_parent" : { ...,  "inner_hits" : {}}` being included in results.

Minimal repro script that demonstrates the problem:

[code]

The output of the script is:

[code]

[2015-09-01 02:09] vacri opened #13231 "Mask issues in /var/lib/elasticsearch/elasticsearch/"
I have a fresh debian 8 system taking elasticsearch 1.7.1 from the repos, running on openjdk. Elasticsearch wouldn't start because it couldn't write to `/var/lib/elasticsearch/elasticsearch/`, which was owned by the ES user, but whose permissions were 655 - no executable bit for the user means that ES couldn't create the subdir `nodes`.

I fixed this with `chmod +x /var/lib/elasticsearch/elasticse

[2015-09-01 02:30] vacri commented on #13231
Closing ticket for now - the ansible playbook has custom config for managing ES. I need to look at that in more detail, sorry.

[2015-09-01 02:30] #13231 closed

[2015-09-01 07:39] markwalkom opened #13234 "Document all possible logging packages"
In `logging.yml` you can set things like `gateway: DEBUG` or `discovery: TRACE`.

It'd be great if we could document all of these packages that ES exposes as there's quite a few that we don't mention.

[2015-09-01 07:43] #10781 closed

[2015-09-01 09:02] colmaengus opened #13236 "Issue with time_zone in date_histogram aggregations"
Hi folks,

We are currently using the date_histogram pre_zone/post_zone parameters and would like to change to using time_zone since the others are deprecated.
However they produce different results when using an hour interval.

To see this I created an index with four documents
[code]

Using the pre_zone parameters
[code]
gives
[code]

Using the time_zone parameter
[code]

gives
[code]

Changing

[2015-09-01 09:05] #10948 closed

[2015-09-01 09:48] jpountz opened #13237 "Deprecate eager/lazy norms loading"
Given that norms become disk-based in Lucene 5.3, having the ability to eagerly or lazily load them doesn't make much sense anymore.

[2015-09-01 09:50] brwe opened #13238 "Timeout for refresh and flush"
In https://github.com/elastic/elasticsearch/pull/13068 we changed refresh and flush to work like write requests: refresh and flush requests go to the primary first and are then replicated. One difference to before is though that if a shard is not available (INITIALIZING for example) we wait a little for an indexing request but for refresh we don't and just give up immediately.
Before, refresh requ

[2015-09-01 09:51] rmuir commented on #13237
or it could be implemented more appropriately, e.g. https://issues.apache.org/jira/browse/LUCENE-6549

[2015-09-01 10:23] brwe commented on #13238
changed timeout to 1m here: 05b48b904d55a237d69db3de28c7069cab901a7b This should stop the test failures.

[2015-09-01 10:37] #13022 closed

[2015-09-01 11:17] markwalkom opened #13241 "Document transport.ping_schedule"
This was added in #10189 and added in 1.6 and above.

Per the title it'd be great to have this added into official docs :)

[2015-09-01 11:44] #13241 closed

[2015-09-01 11:47] rmuir commented on #9978
You create a separate chain (analyzer) for multitermqueries by iterating thru the query analysis chain. implicitly the tokenizer should be keywordtokenizer.

imagine query analysis chain is: lowercase + snowball. you look at lowercase (http://svn.apache.org/viewvc/lucene/dev/branches/branch_5x/lucene/analysis/common/src/java/org/apache/lucene/analysis/core/LowerCaseFilterFactory.java?view=markup)

[2015-09-01 11:49] javanna commented on #9978
As a side note, if we remove this option we should be able to remove the locale parameter from simple_query_string and query_string as well, that would help with solving #13229 .

[2015-09-01 11:53] clintongormley commented on #13229
@javanna how (and how often) does it break bwc?

[2015-09-01 12:00] WellingR opened #13242 "Percolator with groovy script fails when doc_values are enabled"
Tested on Elasticsearch 1.7.1.

Prepare the mapping and percolator as follows:

[code]

This script tests for a match, it keeps looping silently as long as the expected result arrives. When an unexpected result arrives it's printed and the loop terminates:

[code]

Unfortunately the script fails instantly.

[code]

Elasticsearch logs the following stacktrace
[code]

This issue does not occur when

[2015-09-01 12:01] javanna commented on #13229
Some locales that used to get properly parsed might not get parsed correctly anymore. I am not sure how widely these options are used, especially in queries. Maybe removing this option as stated in #9978 would be the best solution.

[2015-09-01 12:04] rmuir commented on #13229
Yes, using the user's already configured analysis chain rather than applying additional configuration (lowercase_expanded_terms, locale, etc) that is still limited to only case is really a better way to go IMO.

If we solve that issue then if they have turkishlowercase, it gets used, if they use asciifolding, it gets used, and so on, and people stop getting confused about why wildcards "don't work

[2015-09-01 12:23] martijnvg commented on #13169
@rjernst @clintongormley I think it may work. I'm going to try out if making the `_parent` optional is working out.

[2015-09-01 13:07] costin opened #13245 "When JNA is not found, leave the warning but don't show the stracktrace"
Using a default install on windows, one gets:
[code]
The stracktrace is confusing - it looks like there's something fatal/wrong with Elasticsearch when that is not the case.
Considering the warning is properly displayed, there's no value in showing the stracktrace as well even more so in the logs which are user-friendly (as opposed to focused on devs).

[2015-09-01 13:09] clintongormley commented on #13236
@cbuescher could you take a look at this please?

[2015-09-01 13:11] #13207 closed

[2015-09-01 13:34] rmuir commented on #13245
What default install? JNA works with the .zip file just fine on windows, if its not working, then there is a misconfiguration and we should understand why its not working?

[2015-09-01 13:35] clintongormley commented on #13242
In master this fails with:

    "failed to run inline script [doc[\"name\"].value.contains(\"a\")] using lang [groovy]: IllegalStateException[unexpected docvalues type NONE for field 'name' (expected one of [SORTED, SORTED_SET]). Use UninvertingReader or index with docvalues.]"

[2015-09-01 13:43] costin commented on #13245
I'm not using the zip (just checked and it starts fine) but the jar to start an embedded server (to be used in integration tests as seen in the stacktrace above).
Looking at the pom, JNA is marked as an optional dependency which might be the reason why it is not being downloaded and added to the classpath. Which is fine.
And brings us to the initial report - the warning is in place and the stacktr

[2015-09-01 13:44] rmuir commented on #13245
But the stacktrace is necessary to determine what is wrong when it does not work: and logging should be 100% geared at elasticsearch.jar being used as a server, nothing else, since thats its purpose.

[2015-09-01 13:55] rmuir opened #13247 "windows as service does not work"
Trying to follow https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-service-win.html doesn't work with master.

I get this error "The data area passed to a system call is too small"

[2015-09-01 13:56] rmuir commented on #13247
I think this functionality is also untested.

[2015-09-01 13:58] costin commented on #13245
Maybe I'm misunderstanding then the use of JNA. Since it's marked as optional and there's a warning it can't be found, my assumption was that it is just that, optional - nice to have but not mandatory. in other words, ES can run just fine without.
If that is not the case, then JNA should marked as non-optional in the POM (resulting in its download).

As for the stacktrace, in this case it indicate

[2015-09-01 13:59] steinar opened #13248 "Scripts handle newline before a plus sign incorrectly"
I would expected the following (unescaped) script to return `3`, but instead `2` is returned:
[code]

It appears everything before `\n+` is ignored. By removing newline before the plus sign, `3` is correctly returned:

[code]

This is undocumented and IMO incorrect behaviour. I assume this changed when we upgraded to *1.7.0*.

[code]

[2015-09-01 14:10] rmuir commented on #13245
No, the stacktrace is super valuable, it tells you what is happening here:
[code]

So this could be avoided when "using elasticsearch.jar as something other than a server" by changing BootStrapInfo to have booleans set to false, and having bootstrap logic change them to true on success. This way any ProcessService initialization won't cause Natives.class to be loaded.

See, stacktrace is good :)

[2015-09-01 14:16] martijnvg commented on #13169
Internally removing  the _parent field from DocumentMapper works out for the old p/c implementation, but not for the new implementation (that uses doc values and Lucene's JoinUtil). The disabled `_parent` for parent types is used to write to a doc values join field and if the parent field is removed has_child/has_parent won't be able to work because parent docs don't write to the join field.

Just

[2015-09-01 14:19] costin commented on #13245
Agreed. I was paying attention only to the `ClassNotFound` which was redundant considering the previous warning:

[code]
It turned out it was something else related to JNA.

[2015-09-01 14:41] rjernst commented on #13242
IIRC, doc values is not supported in MemoryIndex.

[2015-09-01 14:43] s1monw commented on #13242
it's not supported though

[2015-09-01 14:47] balaji006 commented on #12055
Delete .recovery file inside the translog folder

Eg:/es/elasticsearch-1.7.1/data/[elasticsearch_clustername]/nodes/0/indices/[indexname]/2/translog/

[2015-09-01 14:48] balaji006 commented on #9699
Delete .recovery file inside the translog folder

Eg:/es/elasticsearch-1.7.1/data/[elasticsearch_clustername]/nodes/0/indices/[indexname]/2/translog/

[2015-09-01 15:10] clintongormley commented on #13242
Could one possibility be to ignore the doc values setting when creating the in-memory index?

[2015-09-01 15:33] jpountz commented on #13242
I think this is what already happens today. Then the issue arises at search time because fielddata tries to load through doc values (because the mappings say this is how it should get it) but they are missing so `doc[\"name\"].value` returns `null` instead of the document value, hence the NPE.

[2015-09-01 15:51] clintongormley commented on #13247
@gmarz would you be able to take a look at this?

[2015-09-01 15:52] clintongormley commented on #13248
@steinar could you tell us what script language you're using and provide a recreation please?

[2015-09-01 16:06] spinscale commented on #13209
@jordansissel absolutely, I think package construction will be hard to unify across projects, and at best switching the underlying repository should only replace a single call to a tool for each package. We can still go with the above tools and switch whenever needed to push things to packagecloud or whatever we opt for

[2015-09-01 16:17] ramo85 commented on #9699
Am 01.09.2015 16:49 schrieb "balaji006" <notifications@github.com>:

[2015-09-01 16:20] spinscale commented on #13209
Spent some time testing [rpm-s3](https://github.com/crohr/rpm-s3) today

## Installation

* Prerequisites: `yum`, `deltarpm` and `boto`: `apt-get install yum python-deltarpm python-boto`
* Clone the github repo: `git clone https://github.com/crohr/rpm-s3 --recurse-submodules`
* Set env vars: `export AWS_ACCESS_KEY="key"` and `export AWS_SECRET_KEY="secret"`
* Change your `.boto` file (see issues w

[2015-09-01 16:26] pickypg opened #13249 "Prioritized Replica Recovery is reversed by date"
Prioritized allocation enables the recovery in the order of `index.priority` > `index.creation_date` > `index.name` (reversed). However, I've found that when allowing it to work based on `index.creation_date` (the default mechanism), it does it in the reverse of the expected order **relative to replicas**.

It's easy enough to reproduce with enough daily indices by manually deleting the replicas f

[2015-09-01 16:32] diegossilveira opened #13250 "Distributed Search issue"
When using a Scripted Metric Aggregation, we're facing some weird result inconsistencies:

The `init_script`:
[code]

The `map_script`:
[code]

The `combine_script`:
[code]

The `reduce_script`:
[code]

The `query`:
[code]

This `query` sometimes give us aleatory failures like this:

[code]

Is there something we're missing or is that a issue with Elasticsearch?

[2015-09-01 16:42] seang-es opened #13251 "Relative data path on Windows can report incorrect disk size"
To repro:

On Windows, set path.data to a relative path.  'data' for example.
Use Powershell to run a remote execution to remotely start Elasticsearch.

With a relative path set, the system reports a disk available size of '-1'.  If the absolute path is set in the configuration, disk available size is correct.  When started locally, the disk available size is also correct.

This may only need a do

[2015-09-01 17:07] felipegs commented on #13250
we are using elasticsearch 1.7.1

[2015-09-01 17:07] clintongormley commented on #13249
@s1monw could you take a look at this please?

[2015-09-01 17:09] clintongormley commented on #13251
@tlrx could you look at this please? See if it is the same after your changes in master?

[2015-09-01 17:13] clintongormley commented on #13250
@colings86 could you take a look at this please?

[2015-09-01 17:15] clintongormley commented on #13178
Had a chat to @nik9000 about highlighting and the `_all` field.  I think we should leave things as they are for now, and revisit this once we have a better story around highlighting.

[2015-09-01 17:36] gmarz commented on #13247
I get the same thing as well:

[code]

I'll start digging...

[2015-09-01 17:41] nik9000 opened #13254 "Packing tests should start elasticsearch with all plugins installed and give them a perfunctory check"
After we merge #13076 we'll install all the plugins and make sure the files are in the right place which is a step in the right direction but not quite enough to verify that they work. We should also verify that they are loaded by starting elasticsearch and checking if it picked them up.

[2015-09-01 18:03] steinar commented on #13248
This is using the default Groovy language.

Example query which exhibits the described behaviour:
[code]

For the query above, all results have `"score": 3`.

If we remove the newline character `\n`, all documents have `"score": 6`.

[2015-09-01 18:09] s1monw commented on #13249
I don't understand what you are testing here. I can't see the priorities you are giving, I don't see if the replicas where allocated before and if not there will be no ordering as far as I can tell. I don't see if primaries got allocated first and I wonder what you expected to see sorry it's unclear.

[2015-09-01 18:10] nik9000 commented on #13247
Very much. I was looking at getting vagrant tests for this too but it'd be very different than the existing bats tests. And I'm not sure what the licenses are for running windows VMs for testing. If someone can point me to something that makes it clear that window's license lets people spin up VMs for testing then I'll dig more into it and try to use the same technique we use for linux. Without ba

[2015-09-01 18:11] nik9000 commented on #13249
I'm not familiar with the screenshot source but it looks like the indexes are recovering oldest to newest rather than newest to oldest. But I'm likely reading that wrong.

[2015-09-01 18:18] pickypg commented on #13249
@s1monw

Replica recovery order with 2 nodes.

1. I throttled recovery as shown.
2. I took the second node offline.
3. I deleted all of its `.marvel-*` indices from the offline node.
4. I restarted the offline node and watched recovery.

I only set `index.priority` after seeing the images above. I picked arbitrary indices in the middle of the group and gave higher values for them individually (e.g

[2015-09-01 18:22] s1monw commented on #13249
if you don't let the gateway allocator fetch any replicas to recover it won't respect priorities and will leave the rest to the shard balancer. The balancer will do it's own sorting at this point. This has never been implemented

[2015-09-01 18:44] #13112 closed

[2015-09-01 19:10] rjernst commented on #13248
I don't think json allows line breaks within strings?

[2015-09-01 19:11] rjernst commented on #13248
At least not directly like that. I think it needs to be maybe `\\n`?

[2015-09-01 22:17] dakrone opened #13259 "`beforeIndexShardCreated` listener for indexModule called twice"
If I have a plugin that registers a listener for `beforeIndexShardCreated` via the `indexModules` endpoint, as so:

[code]

And then does:

[code]

I expect that the listener's `beforeIndexShardCreated` method will only be called once for each newly created shard, however, in some cases, it is called twice.

Here's how I reproduced this:
- Install plugin on all ES nodes
- Start 3 ES nodes
- Create

[2015-09-01 22:27] prikha commented on #6732
+1 *)

[2015-09-01 23:28] alvinchow86 commented on #11118
Allso seeing this issue, in my case multi-level nested documents (as in https://github.com/elastic/elasticsearch/issues/13064). Would be great to get a solution to this.

[2015-09-02 00:32] steinar commented on #13248
To clarify, the following query correctly returns `"score": 6` since it does not contain `\n<operator>`:
[code]

[2015-09-02 01:01] rmuir opened #13260 "Improve unit test coverage"
See the following coverage reports:
- Unit tests: http://people.apache.org/~rmuir/es-coverage/unit-tests/
- Integ tests: http://people.apache.org/~rmuir/es-coverage/integ-tests/
- Combined: http://people.apache.org/~rmuir/es-coverage/combined/

Unit tests are in sad shape (48%). We should improve this. Integ tests should be really simple and we should do all the heavy lifting with unit tests so th

[2015-09-02 01:05] rmuir commented on #13260
See https://github.com/elastic/elasticsearch/commit/517f00b048cb4446665b3090fa12c7ec670bf6ab for how i generated these.

Be careful to `clean` in between for now, or you will just keep appending sessions. You will see 4 sessions in the unit and integ reports respectively, thats because i run tests with 4 jvms. You see 8 in combined because it just appended the integ data after running the unit tes

[2015-09-02 01:21] Andy-Peng commented on #13155
service.bat also have the same problem.

[2015-09-02 02:04] rayward opened #13261 "Increasing filter cache size invalidates the cache"
We're currently tuning our caches and I've noticed that when we increase it it causes the entire cache to get emptied out.

I would think this would only be necessary if the cache size was reduced, not increased.

This impacts performance of production environments while data gets re-cached again.

[2015-09-02 02:14] ramo85 commented on #9699
https://www.google.de/chrome/browser/desktop/

<https://ssl.gstatic.com/docs/doclist/images/icon_11_image_list.png>   My
Data Manager Service

[2015-09-02 04:16] rmuir opened #13264 "Locking in NodeEnvironment is completely broken"
after the lucene 5.3 upgrade, i looked at how ES uses lucene's filesystem locking. most places are ok, obtaining a lock and doing stuff in a try/finally. However NodeEnvironment is a totally different story. Can we fix the use of locking here?

1. `deleteShardDirectorySafe` is anything but safe. it calls `deleteShardDirectoryUnderLock` which doesn't actually delete under a lock either!!!! It calls

[2015-09-02 05:34] ramo85 commented on #9699
Am 01.09.2015 16:49 schrieb "balaji006" <notifications@github.com>:

Eg:/es/elasticsearch-1.7.1/data/[elasticsearch_clustername]/nodes/0/indices/[indexname]/2/translog/

[2015-09-02 06:42] s1monw commented on #13264
so we need to clarify the naming here, we actually delete under lock but it's not the IW lock it's a shard lock that we maintain internally per  Node.

[code]

the `. Why? Why? Why?` is especially interesting and I think you should talk to the guy who reviewed the change: `https://github.com/elastic/elasticsearch/pull/11127` He said:

`yes, I am +1 for this approach. Maybe we can add a line to the

[2015-09-02 06:49] rmuir commented on #13264
Yes, I remember this, but now is our chance to fix it, so locking is as good as we can make it. It seems we are broken because of the placement of the lock files being underneath what is deleted, but that is something fixable.

Its 2.0, there is no constraint about back compat here, so I think its time to fix it correctly.

Additionally we spent lots of time, and added lots of paranoia in lucene t

[2015-09-02 06:49] s1monw opened #13265 "Detecting exising indices and shards is broken"
Today we rely on FS operations to find the indices on disk or to find the shards for an index. This is super error prone and requires String parsing. We should on each level `index` -> `shard` know exactly what to expect and don't use directory listings which are expensive and subject to change. There should be a metadata file on each level that is atomically written that we open and see what we h

[2015-09-02 07:01] s1monw commented on #13264
I think we should make this straight forward and add a `/locks` directory to each root path we are using. This directory can then be full of locks and will never be deleted. The crucial part is that it has to be on the same mount as the actual data it protects otherwise it will likely not help at all in the shared FS case.

[2015-09-02 07:33] jpountz commented on #13261
@rayward This is true indeed, and necessary since the cache needs to make decisions at creation time based on the total amount of space that is available.

For this reason and a couple others, we removed the ability to configure the cache size in 2.x.

[2015-09-02 07:33] #13261 closed

[2015-09-02 07:43] falkorichter commented on #13125
here is my solution, hopefully it helps people that come across the same problem:

[code]

[2015-09-02 07:46] #9421 closed

[2015-09-02 07:51] kimchy commented on #13155
I chatted to @rjernst about it a bit, and he suggested something that I agree with. In the case of `TransportClient`, we can simply not bind or handle `Environment`. I like the simplicity of this approach, but we need to double check with our plugins to make sure that the ones that make sense in the context of a transport client will still work (/cc @jaymode).

There is a whole other question arou

[2015-09-02 07:56] kimchy commented on #13155
@Andy-Peng service.bat should work unrelated to TransportClient, can you open a new issue with what fails for you in this context?

[2015-09-02 08:01] rmuir commented on #13155
service.bat problems might be related to https://github.com/elastic/elasticsearch/issues/13247

[2015-09-02 08:05] Andy-Peng commented on #13247
It is added to the system after the service (win7), run service.bat start, reported the same mistakes.

[2015-09-02 08:14] rmuir commented on #13264
yeah, i think something along those lines: though is 'never deleted' a problem with ppl that have tons and tons of shards cycling through? accumulating a bunch of 0-byte files sounds dangerous and eventually the directory is gonna crap its pants.

Deleting an NIOFS lock file is especially tricky and we just don't do it ever in lucene (we leave the lock file around). I dont know how to fix that wit

[2015-09-02 08:14] Andy-Peng commented on #13155
Sorry, I made a mistake.

[2015-09-02 08:20] jpountz commented on #13169
Maybe the bug is that `loading` should be allowed to be different across types? The `_parent` field actually stores data in a field that depends on the type name (_parent#type) so having different settings per type does not introduce inconsistencies at the Lucene level?

[2015-09-02 08:21] #10885 closed

[2015-09-02 09:17] colings86 opened #13266 "Test Failure: SearchQueryIT.testIssue3177 - forced merged attempted on closed index"
Build URL: http://build-us-00.elastic.co/job/elasticsearch-20-strong/311/testReport/junit/org.elasticsearch.search.query/SearchQueryIT/testIssue3177/

Cannot reproduce locally

Reproduction command:
[code]

Stack trace for failure:
[code]

[2015-09-02 09:36] colings86 opened #13267 "Test Failure: ClusterInfoServiceIT.testClusterInfoServiceCollectsInformation - data path in shard routing was null"
Build URL: http://build-us-00.elastic.co/job/es_core_master_centos/7253/testReport/junit/org.elasticsearch.cluster/ClusterInfoServiceIT/testClusterInfoServiceCollectsInformation/

reproduce command:
[code]

stack trace:
[code]

[2015-09-02 10:01] spinscale commented on #13209
Worked on a python script, that is using the local mvn repository and compares its contents to a remote destination (like a staging repo)

Script is doing the following steps

* Scans the local maven repo for all files in /org/elasticsearch
* Opens a HTTP connection to the staging repo
* Executes a HEAD request for each file found in step one
* Compares the content-length response header with the

[2015-09-02 10:13] colings86 commented on #13250
@felipegs I'm going to try and reproduce this to see what might be going on buy in the mean time would you be able to do the following:

* Confirm that the same errors happen when the `responseTime` agg is removed? (I expect it to be the case but asking for completeness
* Confirm whether the errors occur when the `filters` aggregation is removed and the `scripted_metric` aggregation is run on its

[2015-09-02 10:48] colings86 commented on #13250
I have managed to reproduce the issue using the steps in this gist: https://gist.github.com/colings86/0ee1159ee113e4992457

This is done on a 2-node cluster running version 1.7.1.

It seems that for me the error consistently occurs and it always on the same 2 shards.

I have a look into what is causing this now

[2015-09-02 11:03] colings86 commented on #13250
So the problem seems to be with the way you are initialising `_combine` in the `combine_script`. To initialise an empty map you should use `_combine = [:]` and then populate that map as you are currently (see http://www.groovy-lang.org/groovy-dev-kit.html#Collections-Maps for more details). By using `{}` i think (I'm not an expert in groovy) you are creating a new object type in groovy which Elast

[2015-09-02 11:03] #13250 closed

[2015-09-02 11:14] colings86 commented on #13250
I've updated the documentation for the `scripted_metric` aggregation to be clearer on what types are valid to return from the scripts: https://github.com/elastic/elasticsearch/commit/1d9905a798e350f4a732790cb8731df8ab016059

[2015-09-02 12:45] #13075 closed

[2015-09-02 12:50] AIsaac08 commented on #8089
+1

[2015-09-02 12:50] #12891 closed

[2015-09-02 12:56] diegossilveira commented on #13250
Thank you for the reply @colings86! We will make some tests and I will let you know if we find some other problems.

[2015-09-02 13:31] nik9000 commented on #13209
I'm about to pick up #13182 and this looks related. At least the signing part. I haven't read all of your notes yet but maybe we should talk some?

[2015-09-02 13:54] dakrone commented on #13265
+1 to moving away from parsing things from disk

[2015-09-02 14:07] trekr5 opened #13269 "Adding back decommissioned nodes..."
Hello,

I'm hoping that someone can help me...

I've used the following command:-
        curl -XPUT localhost:9200/_cluster/settings -d '{  "transient" : {        "cluster.routing.allocation.exclude._ip" : "10.0.0.1"
          }
         }'

to decommission a node from a cluster. That went fine with no problems and ES excluded it and didn't put any shards or replicas on it which is the expected b

[2015-09-02 14:15] henrikno commented on #10933
I'm still experiencing lost documents when restarting nodes in 2.0.0-beta1.
I'm doing a series of bulk insertions with WriteConsistencyLevel.ALL.
I check both BulkResponse.hasFailures and shardInfo.getFailed(), and if any of them fail I retry that bulk until it succeeds.
I run 3 nodes (minimum master nodes 2) on localhost. While indexing I stop them with Ctrl-C, wait a bit and start them again, wa

[2015-09-02 15:01] marksheinbaum commented on #9699
stop

From: ramona85 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: elastic/elasticsearch <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, September 1, 2015 at 10:35 PM
To: elastic/elasticsearch <elasticsearch@noreply.github.com<mailto:elasticsearch@noreply.github.com>>
Cc: Mark Sheinbaum <msheinbaum@silverspringnet.com<mailto:msheinbaum@silverspringnet

[2015-09-02 15:52] javanna opened #13272 "combine different query boost values"
With #11744 we made sure that every query in our DSL supports the `boost` and `_name` fields, meaning that those fields always get parsed and applied to the corresponding lucene query (done in the query-refactoring branch). When dealing with a compound query though, there might be multiple boost values specified in the query like in the following case:

[code]

The example above contains for insta

[2015-09-02 15:58] rmuir commented on #13272
I am a little confused about the example, is it because of the query/filter refactoring for 2.0?

Historically, setting boost on `filtered` should work as lucene's FilteredQuery supported that (and multiplied the boost into the inner weight itself).

But now filtered is really gone, its replaced by BooleanQuery. So IMO that boost on `filtered` should be applied to booleanquery which is the impleme

[2015-09-02 16:00] udoprog opened #13273 "How will Java clients survive the 1.x -> 2.x upgrade?"
I'm raising this out of concern for the up and coming 2.0 release.

Currently, java clients communicating with an elasticsearch cluster use the following dependency.

[code]

This is a _very large_ package, essentially containing all the code necessary to operate an elasticsearch node. What clients typically are interested in is the TransportClient code.

A major version bump is allowed to carry i

[2015-09-02 16:06] rjernst commented on #13169
Maybe the problem is we aren't using this name in map of field types? If we use that as the key, instead of `_parent` we won't have any conflicts.

[2015-09-02 16:14] jpountz commented on #13272
Why wouldn't it be a filtered query? (or rather a boolean query now) This is something that query rewriting will happily simplify when rewriting the query (single-clause boolean queries rewrite to the wrapped clause, and merge boosts by multiplying them) so I don't think we should try to optimize things at parsing time?

[2015-09-02 16:27] rmuir opened #13274 "fail if publish host is set to wildcard address"
or probably broadcast/multicast/etc.

In the case of wildcard (e.g. 0.0.0.0), this is ok as a *bind_host* for listening only. But for a publish_host these addresses will be problematic. we should just fail.

separately, If you specify `Des.network.bind_host=0.0.0.0` es will seemingly do the semi-right thing and pick a publish host like 127.0.0.1. But this should be special cased as well, because j

[2015-09-02 16:48] rmuir commented on #13274
I think we can do two cases. We can handle `0.0.0.0` just like we handle multiple addresses today, using the same logic we'd use if you picked a hostname that resolved to all the addresses on your machine. we pick by v4/v6 preference, then by reachability.

For multicast and broadcast we should fail, thats just a misconfiguration.

[2015-09-02 16:56] nik9000 commented on #13183
Ok - so for time's sake we might not want to be super duper thorough on this and just test an upgrade from 1.7 to the branch being built or something like that. We could certainly _try_ to do all the others but that is already covered by `OldIndexBackwardsCompatibilityIT` so this would duplicate a ton of effort. We're really just trying to verify that we keep the data on package upgrade.

[2015-09-02 16:59] brwe commented on #13266
The test fails because optimize is called and no errors are expected but optimize fails because a shard is relocating. Here is how:

First of all, when a shard relocates while optimize is called the call might fail with
`ForceMergeFailedEngineException[force merge failed]; nested: AlreadyClosedException[this IndexWriter is closed]` if:

- the optimize request was send to a shard that is currently

[2015-09-02 17:16] rakesh91 commented on #12011
Even i am seeing the same issue, after upgrade from 1.4 to 1.6 version and made replication 0 from 1. So I upgraded to 1.7, then this issue stopped. But, now cluster keeps going down, by giving "shard failure" error and eventually node getting disconnected.

Had never seen this issue while it was in 1.4 version.

[2015-09-02 17:24] ajaybhatnagar opened #13277 "Elasticsearch 2.0.0beta1 does not start if ES_GC_LOG_FILE value is set in init file."
No logs generated for ES (in Debug mode) or system log. process does not start at all. Commenting the line , elasticsearch starts with no issues. Tried creating directory path and empty file with full permission on gc.log ES_GC_LOG_FILE=/var/log/elasticsearch/gc.log, still unable to start with no error message any where.

[2015-09-02 17:29] bradvido opened #13278 "Searching multiple aliases using wildcard and ignore_unavailable=true throws index closed exception"
Each of my `logstash-YYYY.MM.DD` indices has a filtered alias added to it named `error_messages-YYYY.MM.DD`.  Any that are older than 30 days are closed.

I'm seeing strange behavior when trying to do a match_all query on `error_messages-*`.

This is using the Java  transport client. ES version 1.6.0.
[code]
So I set `IndicesOptions.lenientExpandOpen()` to ignore unavailable indices and got a diff

[2015-09-02 17:31] w33ble opened #13279 "Use of queryString in Bool Filter docs"
In the [Bool Filter docs](https://www.elastic.co/guide/en/elasticsearch/reference/1.7/query-dsl-bool-filter.html), the query string parameter is presented as `queryString`, but elsewhere in the docs ([query filter](https://www.elastic.co/guide/en/elasticsearch/reference/1.7/query-dsl-query-filter.html), for example), the parameter is presented as `query_string`. Kibana also uses `query_string` to

[2015-09-02 17:31] abtpst opened #13280 "Custom Analyzer does not work"
I am trying to create a new index in Elastic Search as follows

  PUT /abtest2
    {
      "settings":{

       "analysis":{

         "char_filter":{

           "replaceJunk":{

             "type":"pattern_replace",
             "pattern":"[^\\d+]",
             "replacement":""
           }
         },

          "analyzer":{

     "dateAnalyzer":{

     "type":"custom",
     "tokenizer":"stan

[2015-09-02 17:33] javanna commented on #13272
sorry the main example was around filtered query which is deprecated now, but this is not caused by the filter refactoring, it is not a lucene issue at all, it is something that we do in elasticsearch while parsing queries and converting them back to lucene queries... have a look [here](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/index/query/FilteredQu

[2015-09-02 18:06] clintongormley commented on #13280
Hi @abtpst

Analyzers are for strings, not for date fields.  In 2.0 this mapping would give you an exception.

[2015-09-02 18:06] #13280 closed

[2015-09-02 18:18] clintongormley commented on #13169
@rjernst you mean internally, rather than in the API?  Using it in the API would make it difficult to explain

[2015-09-02 18:21] s1monw commented on #13266
this allocation is a corner case that I tried to special case in the shard allocator here: https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/cluster/routing/allocation/allocator/BalancedShardsAllocator.java#L647

in the last allocation round we have wo shards left:

[code]
ideally we would put both on `-----node_id[iUkDDsM2T-OGXFNYdljzBQ][V]` but it already

[2015-09-02 18:29] s1monw commented on #13274
sounds good to me

[2015-09-02 18:37] rjernst commented on #13169
Yes, I mean internally.

[2015-09-02 18:42] nik9000 opened #13283 "Phrase suggester documentation doesn't mention shingle filter"
If you run the phrase suggester against a field without the ngram filter applied to it then the phrase suggester reverts to behavior similar to the term suggester. It just doesn't work properly. We should add an example of setting up the mapping properly to use the phrase suggester to the docs on it.

[2015-09-02 18:44] abtpst commented on #13280
thanks Clinton, but even if i change it to string, it still does not remove the - character

[2015-09-02 18:48] abtpst commented on #13280
even if i set the pattern to be just -

"replaceJunk":{ "type":"pattern_replace", "pattern":"-", "replacement":"" }

[2015-09-02 18:50] nik9000 commented on #13283
Err - I had the filter wrong. Its the shingle filter and it does mention it but not very prominently.

[2015-09-02 19:02] nknize opened #13285 "Refactor ignore_malformed and coerce options from geo_point field type to mapper"
The ```geo_point``` type ```ignore_malformed``` and ```coerce``` properties are currently part of the GeoPointField.  This is inconsistent with other core types.  This issue refactors these options from the GeoPointFieldMapper.GeoPointFieldType class to the GeoPointFieldMapper.Builder.

[2015-09-02 19:33] alexkavon commented on #6107
So a reindexing should take care of this then?

[2015-09-02 19:33] dakrone opened #13286 "Vagrant packaging tests should test uninstall, then reinstall"
A user on IRC ran into a problem on debian where after doing an `apt-get purge` of the elasticsearch package, then re-installing it, debian complained loudly about being unable to remove/re-add the "elasticsearch" user.

For our vagrant tests, we already test installing the package, but we should test removing it, then re-installing so we can see these issues as part of packaging bugs.

[2015-09-02 19:34] rmuir commented on #13272
ok I get it. Looks like we do a lot of "rewrite()" type logic in the parser itself and it has some bugs where it drops boosts. I just see that as a bug: in general for cases like that, multiply the boosts.

[2015-09-02 19:44] nik9000 commented on #13234
It'd be great if we could generate that documentation....

[2015-09-02 19:53] polyfractal opened #13288 "[Docs] Integration Testing Tips / Guidlines"
If you are new to Elasticsearch, there are some subtle issues that can trip you up while writing integration tests:
- Need to wait for newly created indices to reach green before indexing/searching
- Should call explicit refresh after indexing but before searching
- DFS might be needed if you are checking scoring order or something similar
- Change cluster name to something unique
- How to complet

[2015-09-02 20:23] martijnvg opened #13290 "Fail quick when executing master level write operations via a tribe node"
If a master level write operation is executed via a tribe node then we should fail quick with a descriptive error instead of waiting for the master timeout the expire (1m).

It is clearly documented that master level write operations are not allowed to be executed via a tribe node, but failing how we do currently is not super clear.

Also when indexing into an index that does't exist yet an error

[2015-09-02 20:48] martijnvg opened #13292 "Tribe node initialisation issue"
If the tribe node has started then sometimes api calls can fail for a while until the tribe node has finally all the information of all the other clusters it has been configured with. This can take a while sometimes.

Concrete scenario:
1) Start cluster
2) Create index and wait for yellow
3) Start cluster
4) Create index and wait for yellow
5) Start tribe node
6) Execute index call. This hangs som

[2015-09-02 20:52] #13202 closed

[2015-09-02 21:31] ajhalani commented on #2157
Any chance there has been any update on this?? The default "english" analyzer exposed this issue so easily.

[2015-09-02 21:41] daguy666 commented on #7464
+1

[2015-09-02 21:52] kiwiz commented on #7464
+1

[2015-09-02 21:54] programmer11 commented on #10697
I am having the same issue as above. Could you tell me the resolution to it?

[2015-09-02 21:57] markwalkom commented on #10697
Please use the forums - https://discuss.elastic.co

[2015-09-02 22:32] dakrone commented on #13277
@ajaybhatnagar when I specify it on the command line, I get this error:

[code]

Which file are you putting it in? It could be the same error but just not being printed to the right place.

Note that even if I specify a super simple log filename ("foo"), I still get the same error, so I think this is a bug:

[code]

[2015-09-02 22:44] m4dc4p commented on #10290
2.0.0 isn't even out of beta. Please fix this issue. It's super annoying. Just do a point release! (1.7.2)

[2015-09-02 23:05] natefox opened #13297 "Deleting closed shadow replica index doesnt delete off disk"
Using 1.7.1 and shadow replicas. When I close an index that was created with these settings `{"index.shadow_replicas": "true","index.data_path": "/data/es"}` the index and its data is not deleted.
If the index is open, the data is deleted off disk but the top most directory (eg: `/data/es/0/myindex-2015-09-01`) still exists.
Obviously 'normal' indices are completely deleted whether they've been cl

[2015-09-03 01:39] markwalkom opened #13298 "Better management of deletion for yellow/red indices"
When an index that is red/yellow - perhaps due to the node that holds the other shards having an outage - is deleted we only delete the currently available shards along with the index. However if the missing node comes back we then recover whatever shards existed on it via dangling indices.

It seems that if a user requests an index to be deleted, having those other shards come back is aberrant  b

[2015-09-03 04:09] #13277 closed

[2015-09-03 05:34] markwalkom commented on #13234
Gotta start somewhere :p

[2015-09-03 05:36] markwalkom commented on #13234
I just realised I had already raised this in #10211

[2015-09-03 05:36] #13234 closed

[2015-09-03 05:52] faxm0dem opened #13300 "rpm postun scriptlet failing 1.6.0-1"
[code]

OS is either RHEL6 or RHEL7

[2015-09-03 06:52] markwalkom opened #13301 "Mention node restart after plugin removal"
[Here](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-plugins.html#_removing_plugins) we tell users the command to use to remove a plugin, but we should also mention that *most* plugins also require a restart of the node. Just as we do for the installation part :)

Via [the forums](https://discuss.elastic.co/t/removing-marvel-indices-from-elasticsearch/28488/3).

[2015-09-03 07:34] s1monw commented on #13264
yeah we won't have a way around that I guess. I think what we can do is to have an `$index_name.lock` that you need to own to make changes to the `$index_name_$shardId.lock` which also allows to delete it. That reduces the set to the number of indices. We can safely delete the `$index_name.lock` once the last shard of the index is deleted?

[2015-09-03 07:44] rmuir commented on #13264
Why do that? just have global.lock. Its only needed around the actaul *acquire* and *release+delete*. Its not gonna cause a concurrency issue.

Doing this in a more fine grained way makes zero sense.

[2015-09-03 07:44] s1monw commented on #13297
@dakrone  can you please take a look at this?

[2015-09-03 07:57] xuzha commented on #13224
Just came across to google.io tonight, not sure if @jasontedor or others has been working on it.

[2015-09-03 07:57] s1monw commented on #13264
having an index level lock make sense to have here anyway since we also have index metadata we want to protect from concurrent modifications. All I was saying here is that we might be able to get away with not locking the global lock as long as we are in the context of an index.

[2015-09-03 07:59] dadoonet commented on #13301
Indeed. It makes sense.

Do you plan to send a PR for this Mark?

[2015-09-03 08:01] markwalkom commented on #13301
Yeah. Just out at the minute :)
On 3 Sep 2015 6:00 pm, "David Pilato" <notifications@github.com> wrote:

[2015-09-03 09:12] ron-totango opened #13304 "Unable to delete child documents by query that uses “has_parent”"
Hi,

I'm using the query below in my search to find all users without parents.
The search works as expected, but delete by query fails with **has_parent] query and filter unsupported in delete_by_query api**

I've searched and it seems that it should be supported.

[code]

[2015-09-03 09:39] alexksikes opened #13305 "Test Failure: AwarenessAllocationIT.testAwarenessZones"
Build URL: http://build-us-00.elastic.co/job/elasticsearch-20-win2012/131/testReport/junit/org.elasticsearch.cluster.allocation/AwarenessAllocationIT/testAwarenessZones/

Reproduce:
[code]

Stack trace:
[code]

[2015-09-03 09:49] javanna commented on #10217
I've just updated the description of this issue and added all the other search sections that will need to be refactored, along with queries and aggregations.

[2015-09-03 09:54] martijnvg commented on #6107
@alexkavon Yes, once upgraded to 2.0.x a reindex would use the new p/c implementation.

[2015-09-03 10:39] ccfontes commented on #4978
Also getting:
[code]
on `OpenVZ`, but already running `Elastic 1.7.1`. Shouldn't this issue be solved already?

[2015-09-03 11:48] dakrone commented on #13297
@natefox I'm definitely able to reproduce this now, thanks for opening this, I'll take a look!

[2015-09-03 12:18] #13274 closed

[2015-09-03 13:46] martijnvg commented on #13169
@rjernst @jpountz I like the idea of internally mapping the _parent field under a name that takes the type into account. I quickly checked this and this seem to work out. Both the upgrade works without an error and has_child/has_parent queries work.

However after running some more tests, I realized that there are other issues. One can include the `_parent` field in the search hits, query by `_par

[2015-09-03 13:53] dakrone commented on #13286
Here is an example of a failure during packaging: http://pastie.org/private/bhbxkdimbt10wkmed7pfw

[2015-09-03 14:01] jpountz commented on #13169
Hmm, so maybe we should be able to have 2 field types? One called _parent that would only be stored and another one called _parent#type that would only be doc-valued?

[2015-09-03 14:12] martijnvg commented on #13169
Right, that would solve it, just not sure how to would like. The ParentFieldMapper can only produce one `MappedFieldType`. We then need to add another field mapper?

Taking a step back, maybe just allowing the the `loading` part of field data settings to be different is okay for 2.0? This is a much smaller change. We can then work on a  better fix for 2.x and 3.0. The fact that `ParentFieldMapper`

[2015-09-03 14:27] electrical commented on #13286
fyi, i do installs and uninstalls ( purge ) with the puppet module and never ran into this issue.

[2015-09-03 16:10] rmuir opened #13315 "InnerHitsIT has java 8 compatibility problems"
When compiled with source level=8 this test fails.

[2015-09-03 16:13] rmuir opened #13316 "DiscoveryWithServiceDisruptionsIT frequently hangs completely"
Looks like this:

HEARTBEAT J3 PID(22805@beast): 2015-09-03T12:01:58, stalled for  891s at: DiscoveryWithServiceDisruptionsIT.testReadOnPostRecoveryShards

Its a big time-waster when trying to get changes in, because it forces me to totally restart mvn verify.

[2015-09-03 16:30] rmuir opened #13317 "What is core/src/main/assemblies/common-bin.xml doing?"
Is this just dead stuff? what do we need this for. distribution logic is all in distribution/....

At least if we need to keep it for some screwed up reason, can we avoid listing all the dependencies again?

[2015-09-03 16:30] brwe commented on #13316
I muted the test for now. sorry, I did not get around to it today.

[2015-09-03 16:52] jasontedor commented on #13315
This is due to the improvements in [target-type inference](http://openjdk.java.net/jeps/101) in Java 8. I'll open a pull request that addresses.

[2015-09-03 16:54] rmuir commented on #13315
great, thanks for looking into this!

[2015-09-03 17:02] dadoonet commented on #13317
I probably forgot to remove it.

[2015-09-03 17:04] rmuir commented on #13317
cool, if we don't need it, lets nuke it. then its one less place when managing dependencies.

[2015-09-03 17:10] #13315 closed

[2015-09-03 17:11] jasontedor commented on #10799
This was closed by #13314.

[2015-09-03 17:11] #10799 closed

[2015-09-03 17:13] dadoonet commented on #13317
I'll remove it. I think it should be fixed in 2.0, 2.x and master.

[2015-09-03 17:16] sherry-ger commented on #12804
I could not reproduce this with both multicast and unicast on ES version 1.7.1

[2015-09-03 17:40] TinLe commented on #12804
I saw this issue on ES 1.4.5 and earlier.   I am in the process of
qualifying 1.7.1 in our environment.   It may have been fixed after 1.4.5.

Tin

On Thu, Sep 3, 2015 at 10:16 AM, sherry-ger <notifications@github.com>
wrote:

[2015-09-03 17:51] rmuir opened #13319 "if an index cannot be created, its bogusly retried in a loop"
This sucks horribly when upgrading lucene, because people scatter asserts in the code to remind us to upgrade things, but then tests just silently hang.

If there is an exception e.g. coming from IndexShard, then why in the hell does it do this?

[2015-09-03 17:54] dakrone opened #13320 "RestUtils.decodeQueryString does not correctly handle fragments"
For example, this is a simple unit test that fails:

[code]

[2015-09-03 17:57] nik9000 commented on #13182
Well that was a trip!
https://github.com/mojohaus/rpm-maven-plugin/issues/11
and
rpm from homebrew is a bit wonky and needs love:
[code]

[2015-09-03 18:08] dadoonet commented on #13317
Sounds like https://github.com/elastic/elasticsearch/blob/master/core/src/packaging/common/scripts/postrm does not make sense either...

[2015-09-03 18:12] #13129 closed

[2015-09-03 18:13] jpountz commented on #13279
Fixed via #13281

[2015-09-03 18:13] #13279 closed

[2015-09-03 18:14] jpountz commented on #13272
@javanna Can it be closed now that #13312 is merged or is there more stuff to do?

[2015-09-03 18:16] jpountz commented on #13245
@costin so should we close now?

[2015-09-03 18:22] javanna commented on #7295
This issue will be solved when we get #11189 in, which is a good fix but needs a proper test written for it. With that fix we will return a reliable last failure at least. That said #11258 (or something along those lines) would improve things even better, as it would treat the request as a single cluster state update task. The annoying part in fact is that we have one single failure in the respons

[2015-09-03 18:22] javanna commented on #13272
@jpountz I have a little more things to do, will close when done

[2015-09-03 18:31] rmuir opened #13322 "license checker's update adds es jars then gets mad about them later"
e.g. if i run it for analysis-kuromoji:
[code]
Now it will later fail because of analysis-kuromoji itself... is there something we can improve here?

[2015-09-03 18:39] dadoonet commented on #13322
Thanks for raising that.

@clintongormley could we use the same ignore option as we have when checking files?
Is it only a documentation issue?

BTW may be we should add a new antrun job to help running that in an easier way than using the command line?

[2015-09-03 18:41] rmuir opened #13323 "create a script for lucene snapshot upgrades"
This is a little painful right now, as far as updating the sha's everywhere etc, which change every lucene snapshot.

I have the feeling it might cause a ton of jenkins fails etc if we don't make it a bit easier. i think it can just be a shell script that runs the correct maven commands (generate distribution/zip with `mvn package`, run license checker update, then for each plugin: generate its zi

[2015-09-03 19:00] #13322 closed

[2015-09-03 19:02] clintongormley commented on #13322
@rmuir I changed the output which says "run this command to update the SHAs" to include the prefix of jars to ignore, eg in this case it'd be:

    check_license_and_sha.pl --update plugins/analysis-kuromoji/licenses/ plugins/analysis-kuromoji/target/releases/analysis-kuromoji-2.0.0-beta2-SNAPSHOT.zip analysis-kuromoji

[2015-09-03 19:03] rmuir commented on #13322
thanks!

[2015-09-03 19:04] rmuir commented on #13323
Now that #13322 is fixed this one should be relatively straightforward. I'll try to look into it if nobody beats me to it.

[2015-09-03 19:24] rmuir opened #13325 "Expose lucene FingerprintFilter"
I felt bad leaving this one out (not adding a factory) in https://github.com/elastic/elasticsearch/pull/13324, but I figure @markharwood probably already has ideas about what he wants to do.

[2015-09-03 19:29] jpountz opened #13326 "The delete-by-query plugin wraps all queries in a `query` element"
The delete-by-query plugin wraps all queries in a `query` element, so the parsed queries are wrapperd in a QueryWrapperFilter in the end. This does not change the matching documents but prevents me from removing the `query` query which is deprecated (which takes a query and turns it into a filter).

[2015-09-03 19:45] rmuir opened #13327 "can't bind to all interfaces with some docker configurations?"
At least in one of our jenkins servers we have:
[code]

Is this normal? The fact it has a broadcast address like that (which looks totally bogus), means that if the user configures 0.0.0.0, we will fail. I can fix the logic to deal with it in several ways (the interface is not marked up, we can not do the check explicitly for a wildcard address) but if anyone understands this I'd love to know why

[2015-09-03 19:45] rmuir commented on #13327
Relevant jenkins fail: http://build-us-00.elastic.co/job/es_g1gc_master_metal/16773/

[2015-09-03 19:51] #12745 closed

[2015-09-03 19:52] dmehra commented on #12745
We did additional experiments on our end and validated that ES behaves as expected in our expansion scenario - thank you!

[2015-09-03 19:52] drewr commented on #13327
It's not only `docker0`, might be an issue with LXC in general. This is on Ubuntu 15.05 Vivid:

[code]

[2015-09-03 19:54] rmuir commented on #13327
ok, its just intended as a safety check to prevent the user from making a mistake. I'll remove the broadcast check completely since apparently these containers don't understand how networking works.

[2015-09-03 20:09] rmuir opened #13329 "old plugin repos need a note that they have moved into the main ES repo"
Stuff like https://github.com/elastic/elasticsearch-cloud-aws is confusing, because it doesnt mention that the plugin moved to main ES repository for the 2.0 release. Users only see "master: build from source" and probably think we have done nothing at all.

I think we should have at the very top of the README files for all the plugins we have moved in, some note that points you to their new locat

[2015-09-03 20:15] #13327 closed

[2015-09-03 20:25] markharwood commented on #13325
Yep, I'd like to add a factory plus a pre-defined analyzer that chains fingerprint TokenFilter with lowercase, stopword filters etc as per [OpenRefine's fingerprint algo](https://github.com/OpenRefine/OpenRefine/wiki/Clustering-In-Depth)

[2015-09-03 20:37] dan-blanchard commented on #4839
I was very surprised to see that `more_like_this` doesn't support `cutoff_frequency`, since that seems like it would be one of the places where this could be very helpful.

[2015-09-03 20:41] #13317 closed

[2015-09-03 20:46] dadoonet commented on #13329
I agree. I started this for analysis plugins (see https://github.com/elastic/elasticsearch-analysis-phonetic/commit/96bf53cb25c6accde96adc73e0295170d29d9b43) but I still need to do it for other repos...

Thanks for the heads up. Assigning this to me.

[2015-09-03 21:06] dadoonet opened #13332 "[cloud-aws] signer type option does not work"
Reported at:

* https://github.com/elastic/elasticsearch-cloud-aws/issues/242
* https://github.com/elastic/elasticsearch-cloud-aws/issues/223

This option does not work for EC2 like API or S3 like API.

We need to find a way to fix it and also to test it. A simple way for manually testing could be by using Google Storage S3 compatible API: https://cloud.google.com/storage/docs/migrating?hl=en

[2015-09-03 21:23] costin commented on #13245
Has there been any update to address/prevent the exception from occurring? I'm not clear whether @rmuir's solution is in place or not.

[2015-09-03 22:04] #13285 closed

[2015-09-03 22:59] rmuir commented on #13245
i havent done anything yet. it would have the disadvantage of being a little harder to follow: these booleans wouldn't be static final and would be modified/set elsewhere and hard to track where they are coming from...

[2015-09-03 23:43] jordansissel opened #13334 "Multiple wildcards don't seem to work"
Tested v1.7.0 and v2.0.0-beta1

Put some data:

[code]

Ask about the indices:

[code]

[2015-09-03 23:51] nick125 commented on #13334
Looking at IndexNameExpressionResolver, it looks like it treats expressions that end in wildcards differently than expressions with wildcards elsewhere:

[code]

In this case, it will ignore any wildcards that occur elsewhere in the expression and not expand them, as evident by a query like such:
[code]

[2015-09-04 00:56] qwerty4030 opened #13335 "snapshot restore ignore_unavailable not working"
The `ignore_unavailable` option for snapshot restore documented [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html#_restore) does not appear to be working:
[code]
[code]
Getting this error on 1.7.1, but it works on 1.4.5.

[2015-09-04 03:32] camilojd commented on #11264
I'd like to work on this issue.

Should `trackScores` be set after `PercolatorService.parseRequest()` in `percolate()`, or as part of `parseRequest()` itself?

[2015-09-04 07:11] dadoonet opened #13336 "[build] mvn javadoc:javadoc fails with Java 8"
Based on @jprante comment here https://github.com/elastic/elasticsearch/pull/13314#issuecomment-137662468

[2015-09-04 07:48] jpountz opened #13337 "Test failure: org.elasticsearch.search.aggregations.pipeline.PercentilesBucketIT.testNested"
http://build-us-00.elastic.co/job/es_core_master_centos/7343/testReport/junit/org.elasticsearch.search.aggregations.pipeline/PercentilesBucketIT/testNested/

[code]

[2015-09-04 07:57] dfaropennetwork opened #13338 "Problems with Apache reverse proxy and elasticsearch plugins"
I've problems with mi reverse proxy configuration, i need not open 9200 port to the outside.

I put my apache configuration for the kibana side:

<IfModule mod_proxy.c>

  ProxyRequests On
  ProxyPreserveHost On

/# Redireccion para kibana
  ProxyPass "/logs" http://serverhostname:5601
  ProxyPassReverse "/logs" http://serverhostname:5601

/# Redireccion para elasticsearch

  ProxyPass "/els"  htt

[2015-09-04 08:37] clement-tourriere opened #13340 "Problem with geo_point and script_fields/fielddata_fields"
Hi,

Using fielddata_fields with geo_point raises an exception when running at least two instances of Elasticsearch.

To reproduce it :

- run two instances of elasticsearch (on the same machine)
- run the gist : https://gist.github.com/clement-tourriere/8d06a0985f859666ae532
- You maybe need to run the search request twice to see the error

A patch could be : https://gist.github.com/clement-tourr

[2015-09-04 08:47] jpountz commented on #13337
The issue is due to the fact that the parser keeps state. So if you pass some percents in a percentiles_bucket agg, and then create another percentiles_bucket agg whithout specifying percents, it will reuse the ones that were previously set. In that case, it reuses the percents from another test that makes sure that we fail when percents are out of range.

I will mark the test with @AwaitsFix

[2015-09-04 09:07] clintongormley commented on #13290
+1

[2015-09-04 09:15] dadoonet commented on #13114
Any chance you could upgrade to 1.7 and update aws plugin to 2.7.1?

[2015-09-04 09:21] brwe commented on #13298
I think this is the same issue as in https://github.com/elastic/elasticsearch/issues/10054 . Having a timeout would be a lot of hassle and seems dangerous to me.
This should be documented better though.

[2015-09-04 09:53] clintongormley commented on #13214
Discussed in FixItFriday, we agree that:

* `"*"` always means match all documents
* `"field:*"` means find all documents that contain a non-null value in the field (incl empty string)

[2015-09-04 09:59] clintongormley commented on #13212
@kimchy @rjernst do we have a plan for this yet?

[2015-09-04 10:03] clintongormley commented on #13210
Tested this out in master and it works correctly.  Given that this config change (after creating indices) is probably not usual, and there is a workaround, i'm going to close this as won't fix.

[2015-09-04 10:03] #13210 closed

[2015-09-04 10:04] clintongormley commented on #13210
(by master i meant 2.0 and above)

[2015-09-04 11:05] jpountz commented on #6720
We probably want to have https://issues.apache.org/jira/browse/LUCENE-6766 first.

[2015-09-04 11:07] nilsga commented on #12041
This issue happende again today (still on 1.5.2), with the same sequence of errors as described earlier. It does indeed look very similar to https://github.com/elastic/elasticsearch/pull/12487. We lost four shards (2 x primary and replica) in this crash, and both primary and replica were located on the nodes that went OOM. After nodes had been restarted, the files and directories for shard 4 and 5

[2015-09-04 11:31] glammers1 commented on #1063
+1

[2015-09-04 12:19] javanna commented on #13229
seems like the way forward would be to remove these `locale` parameter from query_string and simple_query_string, where we encountered issues. The remaining question is what we should do with date fields in mappings, which do allow to specify a locale too. Moving to parsing using `forLanguageTag` seems to break things, but leaving as-is is buggy. @rmuir what would you suggest?

[2015-09-04 12:35] #13337 closed

[2015-09-04 13:09] martijnvg opened #13345 "Check mapping compatibility ignored when upgrading"
A 2.0 node starts even though there is a conflicting mapping.

Steps to reproduce:
1. Start a 1.7.1 node
2. Add an index with field type conflict and add a few documents:

[code]

3. Stop the 1.7.1 node
4. Start a 2.0.0-beta2-SNAPSHOT node
5. Two things can happen.

a) It fails with an error that I can't update like this:

[code]

b) The node starts with a conflicting mapping

6. If it fails to st

[2015-09-04 14:11] laundrei opened #13346 "Avoid write outage when deploying to master node"
Whenever I do a rolling deployment there is a small spike in write errors when deploying to the current master node.  I get this error message:
Could not complete the operation due to- blocked by: [SERVICE_UNAVAILABLE/2/no master]

I'm guessing this means that some writes are timing out while waiting for a new master to be elected.  Is there anyway to force a master node election before brining do

[2015-09-04 14:41] iTonych opened #13347 "ES shards red status after old indices removing"
Hi guys. We was removed old indices files and now ES dont work properly.
In ES log we find:
"failed to fetch index version after copying it over"
And we find solution - https://github.com/elastic/elasticsearch/issues/4674
But it didnt helped:)
Some shards are red. Also ES log file growing and growing and growing.
I never worked with ES before and have no idea how to fix it.
http://localhost:9200/_

[2015-09-04 14:49] imotov commented on #13345
This is tricky one. In order to check the correctness of the mapping MetaDataIndexUpgradeService [loads and applies one type](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/cluster/metadata/MetaDataIndexUpgradeService.java#L329) at a time and checks it for conflicts with already loaded mappings. If it loads the parent first and then the child, it gets Map

[2015-09-04 15:52] truemped opened #13348 "MLT with IDs and Aliases mismatch"
Hi,

I have a question that could be a bug but I don't know if I am having the wrong expectation.

Suppose I have the following setup:

    IndexA
        Doc1 {'text': 'lucene beta'}
        Doc2 {'text': 'lucene release'}
    IndexB
        Doc3 {'text': 'elasticsearch beta'}
        Doc4 {'text': 'elasticsearch release'}
    Alias all -> IndexA, IndexB

When I query against the `all` alias like

[2015-09-04 15:59] iTonych commented on #13347
1.4.0 elasticsearch version
1.4.2 logstash verison

[2015-09-04 16:01] eskibars opened #13351 "Distance from [lon,lat] to geo_shape"
Currently, we can do distance math for filter (geo_distance) and sort (_geo_distance) from a given [lon,lat] to a geo_point.  We cannot do this currently for a [lon,lat] to the surface of a geo_shape object (distance "N").  There's a bit of a workaround for the geo_distance filter: you can create a circle of a specified radius M and check for an "intersects" relation.  However, there are some case

[2015-09-04 16:25] abrisse commented on #10005
:+1: for this feature

[2015-09-04 16:47] martijnvg commented on #13169
Yesterday we discussed that _parent field should use an unique internal field type name per type. So that when the mapping compatibility check is performed no check would fail since each field would be unique and having different field data settings wouldn't matter.

Making that change has one important implication the `_parent` field can't used directly in many places in all the APIs. The most no

[2015-09-04 17:10] nezda opened #13352 "Terms Agg filtering values using array of values works but not documented"
#6782 which I think was fixed in 1.5 series is not reflected in the current docs of https://www.elastic.co/guide/en/elasticsearch/reference/1.7/search-aggregations-bucket-terms-aggregation.html#_filtering_values.  Could borrow content from https://www.elastic.co/guide/en/elasticsearch/reference/1.7/search-facets-terms-facet.html#_excluding_terms

[2015-09-04 18:47] martijnvg commented on #13304
Parent child queries aren't supported in the delete by query api: https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-delete-by-query.html#limitations

Also the delete by query api has been replaced with the delete-by-query plugin in 2.0:
https://www.elastic.co/blog/core-delete-by-query-is-a-plugin?q=delete%20by%20query

[2015-09-04 18:47] #13304 closed

[2015-09-04 19:02] imotov commented on #13345
After some research, it looks like applying types in alphabetical order will not really help us that much. If we could figure out initial type creation order we could have followed it every time we validate the mapping. But since this order is not preserved, there is little value in enforcing a completely different order later on. It looks like the only way to prevent the issue above is to make su

[2015-09-04 19:12] eskibars commented on #13340
Hi @clement-tourriere the gist you provided in here provides a 404 (looks like you added an extra "2" at the end of the URL).  https://gist.github.com/clement-tourriere/8d06a0985f859666ae53 should be the correct URL. Correct me if I'm wrong here please :)

[2015-09-04 19:35] #13183 closed

[2015-09-04 20:56] nik9000 commented on #13074
This is mostly cleaned by now.

[2015-09-04 20:56] #13074 closed

[2015-09-04 21:09] nik9000 commented on #13286
I can't reproduce the issue either - the `statoverride` thing makes me thing the user is seeing #12189.

[2015-09-04 21:10] nik9000 commented on #13286
But I'll still add purge/reinstall to the tests just to verify that that works. It should and we don't do it in a single test run.

[2015-09-04 21:34] timcharper opened #13356 "`org.elasticsearch/elasticsearch/jars/elasticsearch-1.7.1.jar` contains `org/joda/convert/ToString.class`"
This looks like a mistake. With the rest of the embedded Joda libraries, you've prefixed the namespace with `org.elasticsearch`; however, there are two files that made their way through are are being bundled directly in `elasticsearch` itself:

- `org/joda/convert/FromString.class`
- `org/joda/convert/ToString.class`

This caused a packaging conflict for us, which we were able to resolve by tellin

[2015-09-04 22:02] morgango opened #13359 "Add a "conditional install" option to plugin for easier automation"
I have been working with Docker quite a bit lately, and have found that there are some difficulties with using Elastic's commercial plugins within Docker.  Not any technical incompatibilities, per se.  But, here is the issue that comes up because of different operational assumptions.
1. The "[official Elasticsearch image](https://github.com/dockerfile/elasticsearch)" for Docker does not include pl

[2015-09-04 22:03] #13297 closed

[2015-09-05 07:37] clement-tourriere commented on #13340
You're right, the correct link is the one without the '2' at the end. Sorry about that, I thank you for pointing this  out

[2015-09-05 10:39] bleskes commented on #13346
since 1.4, master election takes 3 seconds. During that time nodes will only serve reads but writes will stall, waiting for the election to complete. We could relatively easy add an API to force a new master election but that will still take 3s and the old master is likely to re-elected. We could, in theory, introduce a clean master hand-off to another node but this is tricky and I think that are

[2015-09-05 10:45] clintongormley commented on #13248
Groovy doesn't require line terminators, so your script is being parsed as:

    1+2;
    return 3;

A trailing operator indicates that the line continues on the next line.  Alternatively, you can use `\` to indicate that the line continues:

    1+2 \
    +3;

[2015-09-05 10:45] #13248 closed

[2015-09-05 10:59] clintongormley commented on #13269
Hi @trekr5

This will do it for you:

    PUT /_cluster/settings
    {
      "transient": {
        "cluster.routing.allocation.exclude._ip": ""
      }
    }

[2015-09-05 10:59] #13269 closed

[2015-09-05 12:05] clintongormley commented on #12011
@rakesh91 @zombiepig01  what exceptions are you seeing in your logs?

are you deleting an index then creating a new index with the same name?

[2015-09-05 12:06] clintongormley commented on #13278
@javanna any ideas here?

[2015-09-05 12:11] clintongormley commented on #13280
@abtpst Please ask questions like these in the forum http://discuss.elastic.co/

[2015-09-05 12:16] clintongormley commented on #13288
@polyfractal in TESTING.asciidoc?

https://github.com/elastic/elasticsearch/blob/master/TESTING.asciidoc

[2015-09-05 12:31] clintongormley commented on #13300
Closed by https://github.com/elastic/elasticsearch/pull/12630

[2015-09-05 12:31] #13300 closed

[2015-09-05 14:53] Unitech opened #13361 "number_of_pending_tasks keeps increasing indefinitely"
I had to restart the master elasticsearch, the status was red, then after some time the status went yellow (I guess primary shards went assigned).

Now when I'm doing the query `curl http://x.x.x.x/_cluster/health?pretty` I can see that **the "number_of_pending_tasks" keeps increasing (now it is at 200k)**

I had a look at the pending tasks and I can see that it is mainly this tasks that get buffe

[2015-09-05 16:11] bleskes commented on #13361
This is the task that gets executed when deleting shard copies that are no longer assigned to the node. Can you check what the currently executing task is? it's marked with `executing: true`.

Also - what is the max time in queue? are thy all low-ish (10m)?

The task queue is unbound. What operations due you get this error from? by the queue capacity , I would guess that these are indexing request

[2015-09-05 16:11] bleskes commented on #13361
and of course, what version of ES are you using?

[2015-09-05 16:13] otisg commented on #6720
@jpountz would this help in the typical ELK case where one indexes logs (older first, then newer ones) and typically short in the opposite order - first new ones, then old ones?

In other words, with a typical ELK case where logs are being indexed would the natural indexing order already result in ideally sorted index, or would one have to run something (whatever LUCENE-6766 and this ES issue expo

[2015-09-05 16:35] Unitech commented on #13361
After that all shards got assigned, 10minutes after the `number_of_pending_tasks` went from 2 millions to around 50k automatically :)

Sometimes using ES without deep knowledge about it can be quite stressful in case of outage, but it so performant!

I'm using elasticsearch 1.6,

I think I can close the issue, thanks for your help

[2015-09-05 16:35] #13361 closed

[2015-09-05 16:44] jpountz commented on #6720
I don't think index sorting would be appealing for time series: typical ELK deployments are interested in ingestion speed and running aggregations and none of them would benefit from index sorting as it adds overhead at index time and aggregations can't be early-terminated.

In my opinion, this would be more useful for pure search use-cases that only need to fetch the top docs and have a low to mo

[2015-09-05 17:12] ryancutter commented on #9290
For future people who come across this issue - adding a node or heap space is certainly the best solution but there is also a setting (indices.breaker.fielddata.limit) which can be overridden [as documented here](http://techieroop.com/circuitbreaking-exception-data-too-large-for-field-parentchild-id-cache/).

[2015-09-05 17:18] #13356 closed

[2015-09-05 17:20] timcharper commented on #13356
Thank you!

[2015-09-05 17:41] bleskes commented on #13361
thanks for coming back with the info. If you don't mind I would like to know more- what you describe shouldn't happen under normal circumstances. How many shards & nodes do you have in your cluster? Do you run on local disks or shared file system? I also understand you don't have dedicated master nodes at the moment. Is that correct?

On Sat, Sep 5, 2015 at 6:35 PM, Alexandre Strzelewicz
<notifica

[2015-09-05 19:47] jimmyjones2 opened #13362 "Template not applied to some documents"
I've distilled this from logstash, it appears that the template is not applied to the last document in some cases, so the value of field2 (cat) doesn't get included in all, so the following query:
[code]
returns both documents the first time, then after waiting 20s when additional fields are added to the same document and the index recreated, only one is returned.

[code]

[2015-09-05 20:12] amontalenti commented on #6914
+1

[2015-09-05 21:49] dadoonet commented on #13359
I understand.

Would it be possible to run something like the following instead? (not tested)

[code]

Could this work in your case?

[2015-09-06 06:51] xuzha opened #13363 "[cloud-aws] Remove duplicated cloud.aws settings"
As we split cloud-aws plugin into two separate plugins, I think we don't need to keep both `cloud.aws` and `cloud.aws.[s3|ec2]` settings in two separate settings.

For example we have both `cloud.aws.protocol` and `cloud.aws.ec2.protocol` for ec2, they are totally same now.

[2015-09-06 06:56] dadoonet commented on #13363
I don't think so.

From a end user perspective, giving only once my settings should be enough. And it could apply to s3 and ec2 (most of the cases).

But would love to hear also what others think.

[2015-09-06 12:25] clintongormley commented on #4839
@dan-blanchard MLT already has `min_term_freq` and `max_query_terms`.  Not sure what benefit cutoff freq would bring?

[2015-09-06 12:28] clintongormley commented on #13329
I think we should probably disable github issues on each plugin repo, once the "see core" notice has been added to the README

[2015-09-06 12:39] clintongormley commented on #13338
Hi @dfaropennetwork

Please ask questions like these on the forums instead http://discuss.elastic.co/

You don't actually say what the problem was, but possibly it is something to do with your CORS settings.  See the docs here https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-http.html

[2015-09-06 12:39] #13338 closed

[2015-09-06 12:45] clintongormley commented on #13298
The only way we could prevent these indices from being imported would be to remember every index that has ever been deleted in the cluster state, which could very quickly get out of hand.  If you delete an index while nodes are missing, then you should expect some weird behaviour.  ++ to mentioning explicitly in the docs.

[2015-09-06 13:11] clintongormley commented on #13348
Hiya @truemped

Bad expectations and thus bad test :) (btw, providing the recreation in curl/sense syntax makes it easier to run).  To explain:

    PUT test1
    {
      "settings": {
        "number_of_shards": 1,
        "number_of_replicas": 0
      }
    }
    PUT test2
    {
      "settings": {
        "number_of_shards": 1,
        "number_of_replicas": 0
      }
    }

    PUT test1/test/1

[2015-09-06 13:11] #13348 closed

[2015-09-06 13:15] clintongormley commented on #13347
Hi @iTonych

The correct place to ask questions like these is in the forums: https://discuss.elastic.co/

It looks like the index is corrupt.  You should delete it.  Deleting via the API should work but failing that, just delete the shard on disk.  I also recommend upgrading.

[2015-09-06 13:15] #13347 closed

[2015-09-06 13:21] clintongormley commented on #13169
@martijnvg ++

[2015-09-06 13:28] clintongormley commented on #13352
@markharwood looks like your doc changes in https://github.com/elastic/elasticsearch/pull/7529 got lost somehow?

[2015-09-06 13:33] clintongormley commented on #13345
@imotov agreed.  I think this is only an issue for the `_parent` field, which should be dealt with in #13169

[2015-09-06 13:33] #13345 closed

[2015-09-06 13:44] clintongormley commented on #13340
Hi @clement-tourriere

Thanks for the good recreation.  I can confirm that this is still broken in master.  Would you like to send a PR?

[2015-09-06 13:50] clintongormley commented on #9290
Also, indices created in 2.0 or later will store the parent_id as doc values not in-memory fielddata

[2015-09-06 14:14] benbiti commented on #5359
+1

[2015-09-06 14:20] clintongormley commented on #13362
Hi @jimmyjones2

I'm guessing you're on a version before 1.6?  There is a bug (which appears to be fixed in 1.6.0) but it is different from what you describe. It can be reproduced as follows:

    DELETE *
    DELETE /_template/repro

    PUT /_template/repro
    {
      "template": "repro",
      "mappings": {
        "_default_": {
          "include_in_all": false,
          "_all": {

[2015-09-06 14:20] #13362 closed

[2015-09-06 16:24] jimmyjones2 commented on #13362
@clintongormley Running 1.7.1 and that shows the issue. Tried 2.0beta1 and that worked fine.

The reason I used the keyword analyzer is I've got mutliple fields containing filenames which can contain spaces and I didn't want the additional terms created that the default analyzer of _all would, but I didn't realise *all* the terms marked with include_in_all got merged - thanks for clearing that up!

[2015-09-06 16:55] gmile opened #13364 ""http.max_content_length" setting ignored?"
I'm unable to specify the `http.max_content_length` setting via either of the following:

[code]

If changing HTTP settings dynamically is prohibited, can this be documented please?

**Update**. Just found from logs that it's indeed not dynamically updatable:

[code]

Please, **update the documentation or close the ticket at will**.

[2015-09-06 17:16] rakesh91 commented on #12011
@clintongormley when cluster go down, in master

[2015-09-04 15:40:43,172][WARN ][cluster.action.shard     ] [esmaster2] [logstash-2015.09.04][9] received shard failed for [logstash-2015.09.04][9], node[2eOY2_zxRwiNtbZRmVxL5g], [P], s[INITIALIZING], unassigned_info[[reason=CLUSTER_RECOVERED], at[2015-09-04T10:10:34.254Z]], indexUUID [pGvcrpH3SzSlX46yYiqQcw], reason [shard failure [failed to create

[2015-09-07 00:35] nik9000 opened #13366 "Packaging tests should use jdk 8 on master"
Master requires Java 8 so we'll need to use the jdk packages for Java 8 there.

We should continue to use Java 7 in 2.0 and 2.x because that is the minimum requirement.

[2015-09-07 01:12] nik9000 commented on #13224
Can we talk about `com.google.common.base.Preconditions`? I kind of like it for times when you don't want an `assert`. I find its generally less clutter-y than lots of `if`s.

[2015-09-07 01:23] makeyang commented on #13172
@ycombinator
curl -v https://discuss.elastic.co
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Discuss Elasticsearch, Logstash and Kibana | Elastic</title>
    <meta name="description" content="Discussion forums, mailing lists, and user groups for Elasticsearch, Logstash, Kibana, Shield, Marvel, and other products in the Elastic ecosystem.">
    <meta name="author"

[2015-09-07 01:24] nik9000 commented on #13359
This seems like a fine thing to do. Can we just make plugin WARN if you try to install a plugin you already have?

As a workaround can you try to something like:
[code]

[2015-09-07 01:27] makeyang opened #13367 "SearchResponse question"
SearchResponse has a method called getTookInMillis()
I'd like to ask how this timecost is calculated?
I mean if it is the timecost between it hits the server and leaves the server with timecost when it is waited in queue if search worker thread is full or only the timecost between query and fetch without queue time?
if it is the later, how to get the complete search timecost?

[2015-09-07 01:28] nik9000 commented on #6720
I suspect it'd be faster to answer "find me the last 10 things that match this query" which is pretty useful. You'd have to not care about the count of total matches and I'm not sure if that outweighs the index time cost. I don't know this feature well so I can speak to what that index time cost amounts to.

[2015-09-07 01:31] nik9000 commented on #13346
Do you mean [this](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html#timeout)?

[2015-09-07 01:37] rjernst commented on #13224
Do we need more than `checkArgument`? We can replace all the `checkNotNull` with `Objects.requireNonNull`. And `checkArgument` is a super simple method...doesn't seem worthwhile to keep an entire complex library around just for that.

[2015-09-07 03:17] jasontedor commented on #13224
@nik9000:

Have you seen the comment regarding the use of these method in the [Javadocs](http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/base/Preconditions.html#checkArgument(boolean)), specifically:

Reducing object churn in Elasticsearch is immensely important because a garbage collection cycle is no different than a network partition from a failure perspective. Increasi

[2015-09-07 03:17] jasontedor commented on #13224
@rjernst:

+1

[2015-09-07 03:27] jasontedor commented on #13224
This should not be taken as a judgement on Guava. Guava is a popular library, and for good reasons. But the rationale here is rather simple:

* A lot of the benefits of Guava have been supplanted by additions to the JDK in JDK 7 and JDK 8 (e.g., the diamond operator, lambdas, and streams).
* We are no longer shading dependencies in the Elasticsearch jar (see #13252).
* We do not have a proper Java

[2015-09-07 03:59] makeyang opened #13368 "es 0.90.2 plus jdk6.0_25-b06 crashed on production"
hs_error_pid.log as below:
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007fd05cb3a628, pid=117184, tid=140505275176704
#
# JRE version: 6.0_25-b06
# Java VM: Java HotSpot(TM) 64-Bit Server VM (20.0-b11 mixed mode linux-amd64 )
# Problematic frame:
# J  org.elasticsearch.common.io.stream.HandlesStreamOutput.writeString(Ljava/lang/String;)V
#
# I

[2015-09-07 04:57] dadoonet commented on #13368
This version is not maintained anymore.
Upgrade!

[2015-09-07 04:57] #13368 closed

[2015-09-07 05:15] iTonych commented on #13347
Thanks @clintongormley ! It works)

[2015-09-07 07:01] dadoonet commented on #13329
@clintongormley It makes sense. I'll do that.

[2015-09-07 07:02] dfaropennetwork commented on #13338
OK thx i'll see the CORS setting.

[2015-09-07 07:16] dadoonet opened #13369 "Python Module Access"
_From @theNewFlesh on February 18, 2015 22:23_

It would great if you could implement either:
1) The ability to specify a Python file (that may import other modules) which is executed with the
     relevant Elasticsearch variables (doc, _doc, _source, etc) instead of a Python expression.  This will
     involve invoking the exec function instead of the eval function.
OR
2) Python expressions to ha

[2015-09-07 07:17] dadoonet opened #13370 "Referencing previous initialised variables raises a NullPointerException"
_From @pedrocunha on March 26, 2015 15:5_

Hello,

The following search request raises a NullPointerException complaining foo is not defined:

[code]

This is similar to https://github.com/elastic/elasticsearch-lang-python/issues/19 but in this case I'm trying to reference the variable just initialised. I'm using ES 1.4.3 and python plugin 2.4.1. I've tried both 1.5 ES version and the plugin snaps

[2015-09-07 07:17] dadoonet commented on #13370
Actually your python script does not return anything. When function_score API tries to access the value, it generates a NPE.
I think we need to catch it properly in elasticsearch core code itself.

What are you trying to achieve here? Could you illustrate your example with a more concrete use case?
Also, could you put here the full stack trace?

cc @brwe Do you think we should detect that in elast

[2015-09-07 07:17] dadoonet commented on #13370
_From @pedrocunha on March 30, 2015 8:41_

Ok, some context. My cluster has currently around 1M docs which are used to search. We apply a bunch of filtering and in the end we use the script score to compute some business logic. The script is multi-line and written in groovy. Irrelevant whitespace and comments are then stripped, cached and then sent to ES as a dynamic script (which then ES caches i

[2015-09-07 07:17] dadoonet commented on #13370
_From @pedrocunha on April 7, 2015 10:32_

Any new feedback on this? Thanks.

[2015-09-07 07:31] dadoonet commented on #12721
@clintongormley What is the status on this?

[2015-09-07 07:59] dadoonet commented on #13329
I updated and disabled issues for:

* https://github.com/elastic/elasticsearch-analysis-icu
* https://github.com/elastic/elasticsearch-analysis-stempel
* https://github.com/elastic/elasticsearch-analysis-kuromoji
* https://github.com/elastic/elasticsearch-analysis-phonetic
* https://github.com/elastic/elasticsearch-analysis-smartcn
* https://github.com/elastic/elasticsearch-lang-javascript
* https

[2015-09-07 07:59] #13329 closed

[2015-09-07 08:50] truemped commented on #13348
Hey Clinton,

thanks for the response. I don't really understand the difference between the `ids` and `multi get` query, even though the former one is deprecated now. My understanding of MLT in this case was a two phase algorithm, in which I ask ES to retrieve a certain document, create queries from it and search on the provided indices. Obviously it does so in the `multi get` version so I think t

[2015-09-07 09:31] jpountz commented on #13367
Please use [the forums](http://discuss.elastic.co) to ask questions.

[2015-09-07 09:31] #13367 closed

[2015-09-07 10:09] iravid commented on #13361
Hi @bleskes, I'd like to chime in since I'm seeing the same issue. I'm running a cluster of 5 nodes on AWS, with around 28k shards. We're running on EBS volumes. ES version is 1.5.2.

The issue started after adding the 5th node (due to the shard rebalancing, I assume). During debugging, I noticed that pending tasks rises indefinitely; counting the tasks by type using _cat/pending_tasks resulted in

[2015-09-07 11:02] cbuescher commented on #13236
@colmaengus thanks for pointing this out, you are right that in ES 1.7 changing `time_zone` doesn't have an impact on the bucket key yet. This was changes with https://github.com/elastic/elasticsearch/pull/9744 and will be working in the upcoming 2.0 release.

In 1.7. `time_zone` is basically still working like `pre_zone` in that it shifts bucket boundaries for day intervals and larger but doesn't

[2015-09-07 11:07] clintongormley commented on #13155
@rjernst are you working on this?

[2015-09-07 11:57] angel-smile opened #13371 "failed action with response of 400, dropping action"
Hi,

For the following log:

Job Start Summary: jobid=2291646.r-man2 project=p08 user=rnt651@raijin1 queue=express-node ncpus=16 mem_requested=8gb walltime=16:00:00 cpu_hrs=768.0 jobfs_local=8gb jobfs_global=None

When I trim ':' with logstash kv filter, the log can be passed to ES, but then the walltime becomes '160000'.

kv {
          trim => "<>:"
          field_split => " "
          prefix

[2015-09-07 12:39] brwe commented on #13238
We discussed it ( @bleskes  @clintongormley ) and decided the timeout of 1m is OK.

[2015-09-07 12:39] #13238 closed

[2015-09-07 12:58] nik9000 commented on #13224
I wasn't clear - I'm not advocating that. I'm advocating that we consider importing Preconditions, or at least portions of it rather than rewriting them all at the call sight.

I like this argument much better. To me it goes like this:
1. We want to reduce our object allocation rate.
2. `checkArgument` and its ilk always attempt to make your code more readable at the cost of potentially more alloc

[2015-09-07 13:13] laundrei commented on #13346
So my cluster consists of 3 dedicated master nodes and 30 data nodes.  When doing rolling deployments I deploy to the master nodes first and then the data node.  I only see that error when deploying to the master nodes.

I didn't realize that master election is only supposed to take 3 seconds, perhaps it is taking longer than usual for some reason.  Btw I am using elastic search 1.7.1.  Also I am

[2015-09-07 13:31] jasontedor commented on #13224
@nik9000:

1. We want to reduce our object allocation rate.
2. `checkArgument` and its ilk always attempt to make your code more readable at the cost of potentially more allocations.
3. This is often a fine tradeoff but for Elasticsearch its never what we want because of point 1.
4. Its worse because the places where it is a fine tradeoff aren't always obvious in Elasticsearch. Put another way, it

[2015-09-07 13:47] bleskes commented on #13346
@nik9000 yeah, I meant that for indexing requests.

@laundrei thank you for the extra info. let me know how long the election takes or if you find anything of interest in the logs.

[2015-09-07 14:24] clintongormley commented on #13348
get and multi-get don't work on aliases which point to multiple indices.  that's not get.  That's a search.  If you don't know which indices your documents are in, then you need to do a search instead. No way around it.

[2015-09-07 14:27] clintongormley commented on #13371
Hi @angel-smile

It sounds like you have a mapping issue somewhere, which should be visible in the elasticsearch log.  That said this doesn't sound like a bug.  You should ask this (with more details, eg the log message) in the forums instead: http://discuss.elastic.co/

[2015-09-07 14:27] #13371 closed

[2015-09-07 14:29] alexksikes opened #13375 "Should scripts have context?"
It would be nice if scripts could have some kind of context in which all the necessary imports would be performed as well as some global variables initialization. This is necessary, for example, when we want to evaluate a machine learning model in say an aggregation. The context would be loading the model together with its vectorizer only once, so that it could be evaluated repeatedly while perfor

[2015-09-07 15:00] alexksikes opened #13377 "Use only one way of specifying routing, version and version_type"
Today we have a couple of ways of specifying the routing, version, and version
type of a given document request.

Beyond camelCase, we use:

`_routing` or `routing`
`_version` or `version`
`_version_type` or `version_type`

This makes the use of ParseField difficult for these parameters, as the camelCase of say `_routing` isn't `routing`. We should probably settle on using only one, or make ParseF

[2015-09-07 15:05] trekr5 opened #13378 "Trying to remove filtering on cluster but isn't working..."
Hi,

I'm seeking assistance with this question.

I'm trying to force shards onto a node but first performed a cluster api settings call with the following response:-

    {"persistent":{},"transient":{"cluster":{"routing":{"allocation":{"require":{"*":" "," *":" "},"exclude":{"_ip":""}, "include":{"_ip":""}}}}}}

This filtering is preventing the force allocation of shards occurring.

How do I remo

[2015-09-07 15:32] Unitech commented on #13361
My setup is one master (with data) and 2 slaves. I've approximately 24k shards.

The ES master was not responding to some queries (/_cat/indices for example). So I stopped the 2 slaves and then I restarted the master. I put back online the 2 slaves and I waited about 2hours but the shard assignement was taking too much time, so I tuned some recovery configuration options and it was faster.

I know

[2015-09-07 15:33] markharwood commented on #13352
@clintongormley Don't think I dropped anything here?

The opening paragraph says ` based on regular expression strings or arrays of exact values.`
I'm not sure we need to provide an example of what an array of strings looks like here?

[2015-09-07 16:27] nezda commented on #13352
Mea culpa - I didn't read text carefully and was looking for the example in separate section from regexes like it was in Facet docs (which I personally prefer).

[2015-09-07 16:55] spinscale opened #13379 "CI: BulkIT.testBulkUpdate_largerVolume fails one of its GetRequests"
http://build-us-00.elastic.co/job/es_core_2x_strong/28/

The issue is reproducible most of the time running this seed (on osx), further parameters having no influence already removed:

[code]

When not running in `local` mode, this does not occur, also adding `waitForRelocations` makes it vanish, but I am not sure, if this is the underlying issue here.

[2015-09-07 17:30] ejain commented on #12523
Just ran into this issue when upgrading from 1.5.2 to 1.7.1. Had to replace `QueryBuilders.termQuery(field, value)` with `QueryBuilders.matchQuery(field, Long.parseLong(value))`.

[2015-09-07 17:36] brwe commented on #13266
We ( @bleskes and I) discussed further about the fact that we get a failure at all for optimize while relocating. Before I wrote

But actually, optimize should not fail at all just because a shard is relocating. The reason why we get a failure is that the Exceptions returned by the call because a shard is closed are not all handled the same. I made a pr to fix this (#13380).

However, while discus

[2015-09-07 18:04] clintongormley commented on #13236
I've updated the 2.0 documentation for `time_zone` in date histograms to demonstrate more clearly how it will work: https://www.elastic.co/guide/en/elasticsearch/reference/2.0/search-aggregations-bucket-datehistogram-aggregation.html#_time_zone

We're not going to change this in 1.7, so I'm going to close this issue

[2015-09-07 18:04] #13236 closed

[2015-09-07 19:15] colmaengus commented on #13236
Thanks for the clarification guys.

On Mon, Sep 7, 2015 at 7:05 PM, Clinton Gormley <notifications@github.com>
wrote:

[2015-09-07 20:19] mikesparr commented on #11283
@clintongormley I'll jump into forum but ran into same issue. Trying to figure how to run ES from command line so I can control it with Supervisord.

[2015-09-08 00:05] saurajeet opened #13382 "Mapped Boolean field saving string values"
[code]

Tried on latest: 1.7.1

According to my usecase the second document should fail by Mapper Exception telling cannot match string "No this not a seller" to boolean type.

I read though this https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-core-types.html#boolean
The doc says any string is finally treated as True. But i can see the final persisted doc contains the strin

[2015-09-08 00:33] rjernst commented on #13155
@clintongormley I just opened a PR for this: #13383

[2015-09-08 01:16] dadoonet commented on #13382
Your source document contains the original text but true is indexed.

For example if you search "seller" with a TermQuery on seller field, you won't get it.

Do the same with a String type and you'll get the result.

I think there is an opened issue...

[2015-09-08 01:18] dadoonet commented on #9835
@clintongormley should we close this one as 2.0 does not support rivers ?

[2015-09-08 01:59] xuzha commented on #13332
@dadoonet  could we close this, is there any more work need to be done?

[2015-09-08 02:14] makeyang commented on #13172
@ycombinator
curl -v https://discuss.elastic.co
the result is in the link below:
https://github.com/makeyang/grocery/blob/master/discuss.html

when I open with browser, the pic is in the link below:
https://github.com/makeyang/grocery/blob/master/discuss.png

please help to resolve this

[2015-09-08 02:16] makeyang commented on #13367
@jpountz
as I mentioned in https://github.com/elastic/elasticsearch/issues/13172, I can't visit discuss.elastic.co. before I can, can you help to answer this question?

[2015-09-08 03:43] Andy-Peng commented on #13247
2015-09-08 11:37:45 Commons Daemon procrun stderr initialized
Java HotSpot(TM) 64-Bit Server VM warning: Using the ParNew young collector with the Serial old collector is deprecated and will likely be removed in a future release
Exception in thread "main" areSettings(InternalSettingsPreparer.java:97)
	at org.elasticsearch.common.cli.CliTool.<init>(CliTool.java:107)
	at org.elasticsearch.common.cli

[2015-09-08 03:45] Andy-Peng commented on #13247
elasticsearch-2.0.0-beta1 , I used the jdk 1.8_25,report this error in win7 service.

2015-09-08 11:37:45 Commons Daemon procrun stderr initialized
Java HotSpot(TM) 64-Bit Server VM warning: Using the ParNew young collector with the Serial old collector is deprecated and will likely be removed in a future release
Exception in thread "main" areSettings(InternalSettingsPreparer.java:97)
	at org.elas

[2015-09-08 03:56] masaruh opened #13386 "Some stats for deleted indices shouldn't be accumulated"
For example, `open_contexts`. When there are open search contexts when an index is being deleted, the count is accumulated in `OldShardsStats` and it keeps growing.
(It looks it's because [freeing context](https://github.com/elastic/elasticsearch/blob/4173b00241cf9522427eeb81e9451619fe334c76/core/src/main/java/org/elasticsearch/search/SearchService.java#L175-L189) is called after [it collects old

[2015-09-08 05:08] dadoonet commented on #13332
Sure. Next time in your commit message, add "Closes #XXXX" and Github will close it for you. :)

[2015-09-08 05:08] #13332 closed

[2015-09-08 07:07] dadoonet commented on #13171
@ppf2 Did you get an answer from the user?

[2015-09-08 07:31] bleskes commented on #13361
@iravid those task are expected. They are the last protection in a set of checks we do before deleting data from disk. More specifically, when a shard is moved from node A to B, node A will not delete it's copy until it get's a confirmation from B and all other nodes that have a copy of the shard (typically, 1 node if you have 1 replica) that they shard is active is OK. I can see how in the case o

[2015-09-08 07:51] durandx opened #13389 "code return of bin/elasticsearch script should be compatible with init.d deamon"
The script under "/bin/elasticsearch" is not compliant with the init.d deamon.

Version tested: 1.5.2
https://github.com/elastic/elasticsearch/blob/1.5/bin/elasticsearch#L162

For example if your JVM crash at startup (for example you want to allocate much HEAP than the JVM can handle with ES_HEAP_SIZE) this script will exit with EXIT_SUCCESS (0).

This will lead to incorrect behaviour of init.d.

[2015-09-08 07:59] #13352 closed

[2015-09-08 08:11] tlrx commented on #13266
I noticed that Indices Stats API, when executed at shard level, throws a ShardNotFoundException if the shard has no routing entry (see code [here](https://github.com/elastic/elasticsearch/blob/6e2dc7302366e9af861efa23b850999cd83748aa/core/src/main/java/org/elasticsearch/action/admin/indices/stats/TransportIndicesStatsAction.java#L99-L102)).

Exceptions are then accumulated at `TransportBroadcastBy

[2015-09-08 08:14] clintongormley commented on #13378
Hi @trekr5

I'm afraid you're stuck...  Currently there is no way to unset these settings, you have to override them with new settings.  Fortunately, you made them transient settings instead of persistent settings, so a full cluster restart will remove them.

[2015-09-08 08:14] #13378 closed

[2015-09-08 08:19] tlrx commented on #13305
This test fails regularly the last 3 weeks:

-----

Build URL	http://build-us-00.elastic.co/job/es_core_master_window-2012/1711/
Project:	es_core_master_window-2012
Randomization: 	8u11,network,heap[1024m],-server +UseConcMarkSweepGC -UseCompressedOops +AggressiveOpts
Date of build:	Mon, 07 Sep 2015 21:32:27 +0000
Build duration:	2 hr 46 min

-----

Build URL	http://build-us-00.elastic.co/job/es_c

[2015-09-08 08:26] clintongormley commented on #9835
Yes. Closing

[2015-09-08 08:26] #9835 closed

[2015-09-08 09:24] barravi commented on #5359
+1

[2015-09-08 09:54] jpountz commented on #13375
I am a bit worried that we have the temptation to go in two opposite directions with scripts:
 1. making them simple, safe and fast, potentially at the cost of flexibility (#13084)
 2. making them more flexible (eg. this issue)

If you ask me, I think 1 is more important. 2 might not be completely incompatible with 1 but I think we should do 1 before 2 if we don't want to end up in a situation whe

[2015-09-08 09:57] jpountz commented on #13382
See #11503. We use the same logic for parsing booleans in documents and in settings.

[2015-09-08 10:40] clintongormley commented on #13389
Given that we have to background the task, any ideas what changes we can make to achieve what you are after?

[2015-09-08 10:42] rmuir commented on #13389
This is already fixed for 2.0

[code]

[2015-09-08 10:42] #13389 closed

[2015-09-08 10:47] majormashup commented on #10052
Switching to doc_values for every field is probably a bad idea. Looking at the documentation linked above I can see that doc_values will remove some load from the JVM heap however will increase disk I/O. I think the wise choice here is to find a good balance between field data and doc value.

[2015-09-08 11:07] clintongormley commented on #13352
@markharwood turns out it was my fault - i removed the example you had from the 1.x docs.  Added back here: https://github.com/elastic/elasticsearch/commit/63f4af5090bd77c77b3cde0bc46df360d88107dc

[2015-09-08 11:22] clintongormley commented on #10052
@majormashup sure doc values will take more I/O, but that is much better than stressing the heap.  doc values on all fields (except analyzed string fields) is the default in 2.0. This is to provide the best experience out of the box.

Of course, if you have fields that you never plan on using for sorting, aggs, or in scripts, then you can disable doc values for them and save I/O and disk space.

[2015-09-08 11:54] nellicus opened #13392 "2.0.0-beta1 Init script startup fails silently when hitting java.lang.UnsupportedClassVersionError (unsupported JVM)"
OS info
[code]

Java info
[code]

Download and Install deb (probably affects other packages)
[code]

Launch service
[code]

removing -b flag , from /etc/init.d/elasticsearch
[code]

to

[code]

to make this surface

[code]

This is really bad user experience and it would be very desirable at least to catch this output and present it to the user.

[2015-09-08 12:02] majormashup commented on #10052
@clintongormley - thanks very much.

[2015-09-08 12:43] brwe opened #13394 "inner hits: huge number in "size" makes node go OOM even with very few docs"
spin off from https://discuss.elastic.co/t/difficulty-in-formulating-query-for-my-usecase/28773/4

The below example will make elasticsearch 1.7.1 OOM. I assume this is similar to https://github.com/elastic/elasticsearch/issues/12510 ?

[code]

[2015-09-08 12:49] martijnvg commented on #13394
@brwe Yes, this is similar to #12510 and should be solved in the same as was done in `top_hits` aggregator.

[2015-09-08 12:51] jochen-st commented on #13247
I found that changes in elasticsarch.in.bat related to ES_GC_OPTS environment variables caused JAVA_OPTS environment variable to contain "  " two consecutive spaces. These are converted by service.bat into ";;" two consecutive semicolons. This causes procrun to stop adding Java options to service and service start fails with:

    Java HotSpot(TM) 64-Bit Server VM warning: Using the ParNew young c

[2015-09-08 12:57] jasontedor commented on #10933
@henrikno Thank you for bringing this issue to our attention. We approach these matters with the utmost seriousness. We are currently taking steps to reproduce, diagnose and resolve the issue that you report. If you have any additional information that you think will be helpful, please send it our way.

[2015-09-08 13:05] gmarz commented on #13247
@jochen-st yea, that's one of the issues with the script.  The other, which you're running into now has to do with the fact that the new elasticsearch CLI now requires a [start](https://github.com/elastic/elasticsearch/blob/master/distribution/src/main/resources/bin/elasticsearch.bat#L46) argument, which the service doesn't pass.

I'm working on a fix and will open a PR shortly.

[2015-09-08 13:13] tstibbs opened #13395 "elasticsearch pings other hosts on its own port"
I have two elasticsearch nodes, one of which is a client node (called `nodeA`, running on `serverA`), and one of which is a master (called `nodeB`, running on `serverB`). NodeA has tcp port `9317` and nodeB uses port `9310`.

I have noticed that when the client node (nodeA) starts up, it tries to contact nodeB, but it uses nodeA's port. This seems very strange to me, just because one node is runni

[2015-09-08 13:31] clintongormley commented on #13394
will also be helped by https://github.com/elastic/elasticsearch/pull/13188

[2015-09-08 13:34] #13249 closed

[2015-09-08 13:37] clintongormley commented on #13395
Hi @tstibbs

Given that serverA knows nothing about serverB (other than its IP address), why do you think it would try to ping on any port other than the locally configured `transport.tcp.port`?

I think it finally succeeds in connecting thanks to multicast (which you appear not to have disabled).

If you want it to use unicast to connect to a node which is running on a different port, then you sh

[2015-09-08 13:40] nellicus commented on #13392
will try this on 2.x

[2015-09-08 13:48] bleskes commented on #10933
@henrikno another quick question to help us go in the same direction you did.  How long did you wait after starting a node and before killing the next one? Was the cluster fully recovered from the previous restart? (i.e., green)

[2015-09-08 14:11] tstibbs commented on #13395
Thanks @clintongormley for the quick response. For some reason I thought that missing out the port in the hosts list caused it to do something like a multicast ping but directed to a specific host. It sounds from your response like missing out the port simply causes it to use the locally-configured port number, is that correct?

[2015-09-08 14:27] nknize opened #13397 "Migrate from Spatial4J/JTS to Apache SIS"
JTS is LGPL which causes licensing issues for `geo_shape` field types. This issue migrates all spatial4j and jts dependencies to the lucene sister project, Apache SIS. Doing so will provide coordinate unwrapping, reference system support, WKT, and ISO geo standards out of the box, completely removing superfluous spatial code from Elasticsearch.  There are a few gaps in SIS' spatial relation logic

[2015-09-08 14:28] clintongormley commented on #13395
Correct.  I'll close this issue as it seems resolved

[2015-09-08 14:28] #13395 closed

[2015-09-08 14:32] ilanrivers commented on #11579
Is this issue going to be done? It seems as if a field can be added to indicate if the search term is an exact match with an word in the index and that solves the problem.

[2015-09-08 15:01] gmarz commented on #13247
@jochen-st sorry, just realized I misread your comment and that you already discovered that the script doesn't pass the `start` param.  I just opened the above PR to address the startup issues.

The stopping issue is a bit more involved.  Apache Commons Daemon requires a static stop method (--StopMethod) in order to shutdown gracefully.  This use to exist (`org.elasticsearch.bootstrap.Elasticsearc

[2015-09-08 15:15] jasontedor commented on #10933
@henrikno Can you clarify the process you followed for stopping nodes in the cluster?

Did you kill all of the nodes, and then restart them one by one?

Or did you kill a node, restart it, and then proceed to the next one? And if this is what you did, see the [question](https://github.com/elastic/elasticsearch/issues/10933#issuecomment-138565239) that @bleskes asked earlier.

[2015-09-08 15:26] jmacdonald92 opened #13400 "Allow field data to be stored on disk for analyzed string fields"
Hello, sorry if there are already issues related to this topic.

I am wondering if it would 1) be possible 2) be a good idea to allow the fielddata data structure to be stored on disk and loaded into the file system cache when needed, similar to doc_values. I know that allowing doc_values storage for analyzed string fields would not work for performance reasons (way too many values per document, f

[2015-09-08 15:30] tlrx commented on #13305
After looking at the test and the logs, it looks like all failures have the same scenario.

I try to explain my understanding, hopefully I'm not completely wrong:

The four nodes are started in an asynchronous manner with min.master.nodes set to 3. Node_t0 starts first and try to find other nodes on localhost with unicast. While it tries successive ports,  node_t1, node_t2 and node_t3 also start (

[2015-09-08 15:30] gmarz opened #13401 "Windows service doesn't stop properly"
After addressing the issues in #13247 and getting the service to start.  Stopping the service in 2.x/master no longer works either and fails with the following error:

[code]

[Apache Commons Daemon procrun](http://commons.apache.org/proper/commons-daemon/procrun.html) requires a stop method (`--StopMethod`), [which use to exist](https://github.com/elastic/elasticsearch/blob/1.7/src/main/java/org/

[2015-09-08 15:51] rmuir commented on #13401
I think its fine, as long as we add comments about how its used? There were tons of methods like this in bootstrap: I probably removed a bunch of them. Technically, this one just needs to call Bootstrap.INSTANCE.stop() I think.

[2015-09-08 16:01] javanna commented on #13272
We can close this now.

[2015-09-08 16:01] #13272 closed

[2015-09-08 16:20] henrikno commented on #10933
@jasontedor: I first assumed that with WriteConsistencyLevel.ALL I would need to check ```bulkItemResponse.hasFailures()``` to detect failures.
Then I added a check for ```shardInfo.getFailed() > 0``` in my test, but it did not help (I assumed successful + failure = total).
But when I also added a check for ```shardInfo().getSuccessful() != shardInfo.getTotal()``` it helped a lot, and makes the re

[2015-09-08 17:20] pcerioli commented on #3138
+1 I would love to see this feature added as well.

[2015-09-08 17:21] ppf2 commented on #13171
Unfortunately, haven't received logging.yml from them yet.  Since the default for that package is WARN, we can probably close this since there is probably not much we can do about com.amazonaws logging these at their INFO level.

[2015-09-08 17:34] clintongormley commented on #13171
thanks @ppf2 . Closing for now

[2015-09-08 17:34] #13171 closed

[2015-09-08 17:44] nknize commented on #12056
This worked for me in 2.x. @pickypg can you confirm? @clintongormley Would you like me to diff with 1.7.x and backport a patch?

[2015-09-08 17:47] #13286 closed

[2015-09-08 17:57] pickypg commented on #12056
@nknize Confirmed that this appears to work in 2.0.0-beta1.

[2015-09-08 18:36] nik9000 opened #13403 "Master branch shouldn't attempt to detect java 7 directories for JAVA_HOME"
Elasticsearch's master branch need Java 8 and so it shouldn't be looking for Java 7 directories for its Java home. See https://github.com/elastic/elasticsearch/blob/master/distribution/deb/src/main/packaging/init.d/elasticsearch#L47 for an example of a place where it does that.

[2015-09-08 19:16] bleskes commented on #10933
@henrikno thanks for the extra info. At the moment we are still trying to understand what you exactly did - so we can try to reproduce. Can you describe the procedure? I'm looking for something like:

1) Run code in gist.
2) Kill node with -9.
3) Start node again.
4) Wait till node joins cluster/cluster is green.
5) Repeat from 2 for another node

 You mention your cluster was red - which is inter

[2015-09-08 19:26] #13151 closed

[2015-09-08 19:28] dadoonet commented on #12791
We removed the shaded module so it's not an issue anymore... :p

Closing

[2015-09-08 19:28] #12791 closed

[2015-09-08 19:28] eskibars commented on #10004
+1

[2015-09-08 19:34] rmuir opened #13404 "Remove intellij jar hell leniency"
Its confusing to people that we are lenient to jar hell when running under intellij: thats totally an intellij bug, but by allowing it, people think that jar hell check is "optional" or that we don't execute it in tests, which we totally do in maven and jenkins.

This leniency needs to be removed.

[2015-09-08 19:38] s1monw commented on #13404
+1 I think it makes sense to run tests in IDEs the same way as we run in maven. I will try to figure out how to fix intellij and post a guide here.

[2015-09-08 19:49] mikemccand commented on #13404
+1

[2015-09-08 19:52] synhershko opened #13406 "[Feature Request] Add NoMatchQuery to support better templating experience"
Consider the following query, which is constructed using Mustache on the client side:

[code]

When hasIp && someCondition or !hasIp && !someCondition everything works as expected (because `minimum_number_should_match` causes empty should clause to effectively be a NoMatchQuery). For the case where !hasIp && someCondition, this Mustache template is going to render invalid JSON (trailing comma righ

[2015-09-08 19:54] rjernst commented on #13404
+1

[2015-09-08 20:06] gmarz commented on #13401
Thanks @rmuir, I've updated #13398 to include this as well.

[2015-09-08 20:28] #13155 closed

[2015-09-08 21:17] jpountz commented on #13377
Please no. :-)

+1 on settling on just one

[2015-09-08 21:23] #12856 closed

[2015-09-08 21:31] jpountz commented on #13400
What kind of text do you analyze? If this is simple text that you just happen to normalize (lowercasing, removal of accents, etc.), this other issue should allow you to enable doc values on it: #12394

[2015-09-08 21:33] jpountz commented on #13382
Closing this issue as a duplicate of #11503.

[2015-09-08 21:33] #13382 closed

[2015-09-08 21:39] jpountz commented on #13367
@makeyang when the coordinating node receives the request, it stores the current timestamp. Later, after the coordinating node got all required data from all shards, it computes the delta between the current timestamp and the start time. So the only things that it does not contain are the time it takes to send the initial request to elasticsearch and serialize the response back to the client.

[2015-09-08 21:55] jmacdonald92 commented on #13400
Sorry I was not clear about that. The primary use of the field is terms aggregation to find the top tokens in a slice of the data. We analyze the data using the standard analyzer. So basically, the only type of data that will not have doc_values as the default post #12394.

I know that allowing doc_values for tokenized string data would have terrible performance. I was wondering if it would be pos

[2015-09-08 22:04] jpountz commented on #13400
OK, so this is actual full text content and wouldn't be covered by #12394.

Indeed doc values are good to store string fields when documents have at most a couple values. Full text makes it harder because there can be a lot of variance in the number of terms that each document has, which is hard to store efficiently.

[2015-09-08 22:08] rmuir commented on #13400
Fielddata is just as bad, it just blows up memory faster. Again, frequencies are lost so its just a bad idea for tokenized text.

[2015-09-08 22:13] brwe commented on #13379
I think this is a bug in `InternalEngine.flush()`. When we flush we call `refresh()` and `translog.commit()` in the wrong order here: https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/index/engine/InternalEngine.java#L759
This leaves a short gap in which we can't get a document from translog and index.
The test fails reliable for me but when I switch the ord

[2015-09-08 22:46] jmacdonald92 commented on #13400
I am either fundamentally miss-understanding how fielddata works in the context of aggregations or @rmuir and I are not talking about the same thing/use case.

As far as I understand, when Elasticsearch performs an aggregation it has to un-invert the stored index first. By default it does this with field data, but this process causes a latency spike if the field data isn't in the cache, since the

[2015-09-08 22:56] rmuir commented on #13400
Thats the issue though, frequencies are important for tokenized text. I think somehow for whatever reason, your use case is ok with this, but generally speaking it is the wrong datastructure. I dont think we should try to provide enhancements around fielddata or docvalues support for that reason alone.

[2015-09-08 23:19] thebabelfish commented on #12644
I encountered the same issue using logstash to import some postgis data.   Wanted to note that the geojson data passed the postgis st_isvalid(<column>) despite having duplicate coordinates which I confirmed do exist in my data.

I then bypassed logstash and single indexed the document with the invalid geojson and elaticsearch took it without error.  It was only when I bulk indexed (whether through

[2015-09-09 00:42] jmacdonald92 commented on #13400
I agree 100% that frequencies are important for tokenized text and that for that reason (among others) fielddata and docvalues are not a great format for storing and using an un-inverted index of tokenized text. What has me confused is that, as far as I know, fielddata is the only format Elasticsearch currently uses for that purpose.

At the end of the day, the thing I really care about is reducin

[2015-09-09 01:37] makeyang commented on #13367
@jpountz
thank you very much.

[2015-09-09 01:46] rkalyankumar commented on #8939
for more than 1 year, let's say 2 year interval the interval should be specified as 730d (365 * 2) & it works well. I have tested this until 3650d (10 year intervals) & works good.

[2015-09-09 02:00] ramo85 commented on #9699
https://console.developers.google.com/storage/browser/takeout-eu/20150818T055549Z/1108462567876711962/bd597f69-ec64-49da-97ff-a9269715e12c/1/23e2771e-f7f1-4831-b1e4-f64944c31501/

Von Samsung Mobile gesendet

[2015-09-09 02:12] ycombinator commented on #13172
Hi @makeyang, we don't have a solution yet but here's a quick update on our progress:

We have contacted the nice people who make Discourse, the software powering the https://discuss.elastic.co forums. We have sent them your (and others') findings. They are proving to be very helpful so thank you very much for providing those to us.

Based on the `ERR_CONNECTION_RESET` errors in the browser consol

[2015-09-09 02:45] ramo85 commented on #9699
Hey,

ich habe gerade WhatsApp auf mein Android heruntergeladen.

Das ist eine Smartphone Messaging App, mit der ich ohne SMS direkt mit meinen Freunden und Kontakten chatten kann. Die App kann Bilder, Videos und andere Multimedia-Daten senden.

WhatsApp ist für Android, iPhone, Windows Phone, BlackBerry und Nokia erhältlich. Man muss sich keine PIN oder Benutzernamen merken - es funktioniert wie

[2015-09-09 02:57] shikhar commented on #10933
I've argued this elsewhere, the `WriteConsistencyLevel` check should be applied in the more intuitive sense, on the # of replicas the request actually succeeded on _after_ processing, rather than # of replicas available to take the write.

[2015-09-09 03:06] shikhar commented on #6482
v2.0 seems like a good opportunity to fix this :-)

The main argument I have heard here is the out-of-the-box experience, which can be addressed by making the default `number_of_replicas` 0.

[2015-09-09 03:32] makeyang commented on #13172
@ycombinator
thanks for you guys' effort

[2015-09-09 05:24] snowwolf007cn commented on #10421
Oops, I have the same problem

[2015-09-09 06:22] 759803573 opened #13411 "can not get document id in Scripted Metric Aggregation"
I have same error data in ES.
The error field is word_count. Its value is calculated by field(sentence).
so I want to get these document id ,then use bulk to update.
use  Scripted Metric Aggregation  I can get _index and _type   ,but can not get _id.

+ for example I can get _index and _type

[code]
+ but the _id is null

[code]

now I use script filter get these ids ,but it is not convenient to u

[2015-09-09 06:49] bleskes commented on #6482
@shikhar the one node experience is one argument. The other is being fault tolerant when loosing a node (and it's replicas). If we remove the exception of quorum for the two data copies case, (i.e., primary and replica) people won't be able to index when they loose a node, until the replica is re-constructed on another node - which may take a long time depending on shard size. To avoid this, one w

[2015-09-09 06:51] bleskes commented on #10933
@shikhar we are still trying to figure out what exactly happened here. I'm all for discussing WriteConsistencyLevel but let's please do it on the other ticket. This ticket is already complex.

[2015-09-09 07:34] s1monw commented on #13379
whoa!!! good catch we need a get and commit stress test... that reproduces this problem in isolation

[2015-09-09 07:48] whythecode opened #13413 "Term Filter: `now` operator - documentation missing?"
It seems up from version 1.7, the `now` operator is no longer accepted. I haven't been able to find any documentation for this though. Did I overlook something? And is that a correct assumption?

Thanks!

[2015-09-09 07:54] whythecode commented on #13413
Hmmm - actually, I think I went crazy for a second there... it probably never actually worked.

[2015-09-09 07:54] #13413 closed

[2015-09-09 07:57] kaliseo commented on #5399
Ohhh !! Thanks a lot for this tip ! It helped me a lot !

[2015-09-09 08:03] WellingR commented on #13242
I have seen a similar issue when I use a `geo_point` with both `geohash_prefix` and `doc_values` enabled. A `geo_distance` filter never seems to match when doc_values are enabled. Does this have the same cause or is this a separate issue?

[2015-09-09 08:28] s1monw commented on #13404
running this patch with IntelliJ 14 passes without a jarhell.
[code]

I think we are good to go

[2015-09-09 08:46] makeyang commented on #13172
@ycombinator
today, I can visit discuss.elastic.co
thank you very much.

[2015-09-09 08:53] saurajeet commented on #11503
thanks @jpountz for taking time to find the right place for the issue i filed.
+1 for "true" or "false" in stricter parsing.

[2015-09-09 08:55] rjernst commented on #11503
I started a branch here:
https://github.com/rjernst/elasticsearch/tree/booleans_are_simple

But there are many tests that need to be fixed. Anyone feel free to pick it up and base future work on.

[2015-09-09 08:57] lmqwudi commented on #9333
hi, amruthkesav , do you have already resolve this problem?I got the same problem and I can not find the solution.

[2015-09-09 09:01] fakeh opened #13415 "org.apache.lucene.util missing from elasticsearch-2.0.0.beta1 jar"
Hi,
I'm not sure what the intention is regarding wrapping Lucene packages, but the util package (at least?), which is used by Environment is missing from the jar.
Best, Dan.

[2015-09-09 09:20] dadoonet commented on #13415
I don't understand.

Environment class uses `org.apache.lucene.util.Constants` which is part of Lucene core.

In which context are you seeing an error? Can you describe what you are doing?