[2017-04-10 13:54] alexbrasetvik commented on #24018
Looks like anything that results in `extractWarningValueFromWarningHeader` will be slow. Looks like the regex can cause a lot of backtracking - https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/common/logging/DeprecationLogger.java#L206

[2017-04-10 13:57] clintongormley commented on #23893
No, those options applies to the underlying indices (and any wildcard expansion of those)

Same as today, ignore them

No, let's keep this simple

This is tricky... Today, you can define an alias for the local cluster, in which case `*:foo` would work just fine.  I think that we will probably end up defining `_local_` or something similar as a default alias in the future.  I'd say for now, let the

[2017-04-10 14:00] jasontedor commented on #24018
I have assigned this one to myself as there's a broader problem here, namely the extraction of the warning value from the warning header.

[2017-04-10 14:28] spinscale commented on #24019
please keep the discussion in the forum and provide information there (no mappings/index creation examples to replay were provided, no exact queries, no mention if using a preference changed behaviour, screenshots instead of gists make it really hard to follow the problem - if the reporter was you, otherwise opening a new discuss post makes most sense IMO)

[2017-04-10 14:28] #24019 closed

[2017-04-10 14:33] jasontedor commented on #24006
I think it's fine as this is a good change, and the effort to work this is minimal. I think that it just needs to be documented so I opened #24022.

[2017-04-10 14:34] jpountz commented on #24009
+1!

[2017-04-10 14:58] #24006 closed

[2017-04-10 15:03] dakrone commented on #24007
For master, shadow replicas are going away entirely in #23906, I'll take a look at the 5.x failure

[2017-04-10 15:22] jasontedor commented on #23981
Today this is used to support the packaging. I think that we can remove this if we instead ship the elasticsearch.yml with the distribution packaging to include explicit values path.data, path.logs, and path.conf. Sadly, I think that as a result of the situation here, we can not do this until 7.0.0.

[2017-04-10 15:33] dakrone commented on #24007
I marked it as AwaitsFix in master until it is removed also

[2017-04-10 15:37] #24009 closed

[2017-04-10 15:40] nik9000 commented on #23983
I talked with folks like @clintongormley and @jimczi and we think the simplest way to "fix" this is to rename `prune` to something else, like `preserve_when_not_found` or something. That is a thing we can do in a backwards compatible way. The name `prune` would still work until 6.0 or something.

[2017-04-10 16:08] clintongormley commented on #23594
@jeantil this does indeed look like a duplicate.  Basically, it's bad practice to mix variable length shingles (or ngrams) in a single field.  You have shingles of length 1, 2, and 3!  With the new graph analysis of shingles in Lucene 6.x, this results in an explosion of possible combinations, hence the OOM.

The fix in #23918 is to disable graph analysis in the presence of mixed length shingles,

[2017-04-10 16:11] domosapien commented on #22573
We would like it for metrics/logs for each call since it's outside of our system. It seemed strange to me that it's only partially implemented, as the call took a certain amount of time regardless of back end processing/consistency. I'm not asking for an update call to tell me how long was spent indexing if it doesn't wait for the refresh, I would just like to know how long the api call itself too

[2017-04-10 16:22] kujon opened #24023 "[2.4] Cryptic error messages for pipeline aggregations when the aggregation name matches the aggregation type"
Consider the following aggregation:

[code]

The only unusual thing here is that its name happens to be the same as one of the aggregation types, but it works just fine. That is until you add a pipeline aggregation:

[code]

ES fails to reduce the search and blows up with the following message:
[code]

Should something be done about those error messages being a little bit more descriptive? Should

[2017-04-10 16:25] jeantil commented on #23594
Note that in my case the shingling is applied to the query string not to the fields (though the resulting shingles are still matched against multiple fields) ...
Is it still bad practice to mix variable length shingles in that case ?

This was initially setup as a way to boost partial exact matches ( a sub string of the query is exactly the content of a field) over fuzzy matches since fuzzy and id

[2017-04-10 16:49] nik9000 commented on #23945
Fixed by #23953. Should be fixed in 5.4.0.

[2017-04-10 17:11] clintongormley commented on #23594
yes.  fuzzy just makes it worse

that should no longer be the case.

to a keyword indexed field?  why would you do that?

[2017-04-10 17:43] nik9000 commented on #24005
These are caused by using the system time in the test. There was a burble around the time of these test failures. @dakrone warned me against using it when I wrote the test but I didn't listen. I was wrong.

I'll open a PR that removes the system time.

[2017-04-10 18:17] javanna commented on #21463
I believe UpdateNumberOfReplicasIT.testAutoExpandNumberReplicas1ToData failed here for the same reason: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-unix-compatibility/os=debian/668 .

[2017-04-10 18:18] talevy opened #24024 "Ingest Date Processor should support templated timezone/locale"
There are times that clients ingesting into ES set variable date information.
It would be useful to have these fields in the DateProcessor be template-strings so
that these clients can appropriately configure the pipeline based on data in the
document's fields.

For example: Beats supports this now: https://github.com/elastic/beats/pull/3902 (and modules discussion: https://github.com/elastic/beat

[2017-04-10 18:27] javanna opened #24026 "GoogleCloudStorageBlobStoreRepositoryTests.testSnapshotAndRestore failure"
Failure was on 5.x branch: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-unix-compatibility/os=fedora/668.

[code]

The `NullPointerException` seems to be while indexing, here is the stacktrace:

[code]

[2017-04-10 18:28] javanna commented on #24026
Not too sure who to assign here but maybe @ywelsch would like to have a look given that the problem is when indexing. Feel free to reassign or further dispatch it.

[2017-04-10 18:36] javanna opened #24027 "GoogleCloudStorageBlobStoreRepositoryTests : NPE in ZenDiscovery.findMaster"
Some of the `GoogleCloudStorageBlobStoreRepositoryTests` tests failed at the same time in this run:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-intake/995 .

I found some NPEs when trying to find a master in the logs, here is the stacktrace:

[code]

[2017-04-10 18:37] javanna commented on #24027
@boaz could you have a look at this or further dispatch it?

[2017-04-10 18:38] abeyad commented on #24026
Seems like one of those strange JVM exceptions.  In this case, the stack trace for the NPE is coming from an end curly brace (`}`): https://github.com/apache/lucene-solr/blob/releases/lucene-solr/6.5.0/lucene/core/src/java/org/apache/lucene/index/DocumentsWriterPerThread.java#L190

[2017-04-10 18:48] abeyad commented on #24027
This also seems to be one of those strange JVM exceptions.  `FindOps.java` line 190 appears to be the start of the `OfRef<T>` class definition.

[2017-04-10 18:50] bleskes commented on #24027
the ZenDiscovery line is
[code]

it *might* be that `ZenPing.PingResponse::node` returns null

[2017-04-10 18:50] bleskes commented on #24027
@abeyad can you dig a bit in that direction?

[2017-04-10 18:51] jasontedor commented on #24026
I think we can close this since we're tracking it elsewhere.

[2017-04-10 18:51] #24026 closed

[2017-04-10 18:52] abeyad commented on #24027
@bleskes I am closing this as we are tracking these JVM exceptions elsewhere.

[2017-04-10 18:52] #24027 closed

[2017-04-10 19:08] javanna commented on #24026
thanks for clarifying, I was ready to blame my IDE for linking to the wrong source code :) I will watch out for these NPEs.

[2017-04-10 19:28] jeantil commented on #23594
well we are still having issues with https://github.com/elastic/elasticsearch/issues/22745 which is not a bug but is still an issue for our relevancy.

It is an attempt to be able to boost exact submatches. it is fairly hard to isolate a precise case, all the more so since I don't have our non-regression testsuite and dataset at hand.

consider the following documents (completely contrived I don't

[2017-04-10 19:52] ph opened #24028 "_bulk request with `action.auto_create_index` configured doesn't return the right bulk response"
**Elasticsearch version**: 5.3.0

**Description of the problem including expected versus actual behavior**:

When whitelisting index name using the `action.auto_create_index` and sending a bulk request to ES with a forbidden index name doesn't return the expected bulk response.

The response is missing a **items** fields, allowing us to check if each document succeeded or not

more details at http

[2017-04-10 20:38] mkelkarbv commented on #23908
@jasontedor @tvernum  what do you guys think about adding stuff I mentioned in zip distribution? For now, I have created my own init.d script and code around managing system/environment settings, but I think that could be supplied OOTB with a small setup script..

[2017-04-10 20:53] oxymor0n opened #24031 "POST-ing to /_all/_open and /_all/_close break wildcard expansion"
Calling `POST /_all/_open` when there is no closed index or calling `POST /_all/_close` when there's no open index breaks the wildcard expansion of `_all` and `*`, causing ES to return a 404 message saying it couldn't find an index whose name is the unexpanded value.

On the other hand, calling `POST /your_index/_open` and `POST /your_index/_close` (i.e. using the exact name of the index) when `yo

[2017-04-10 20:57] oxymor0n opened #24032 "POST /_cat/indices causes a NullPointerException"
When I made the mistake of using POST instead of get when querying `/_cat/indices`, ES returns a 500 message saying it has encountered an NPE.

To replicate, run the following cURL command against the official ES Docker image:

[code]

[2017-04-10 21:01] jasontedor commented on #24032
This should result in method not allowed (cf. #15335) but instead the request gets routed to the index handler which NPEs because there is no content in the request. There is an open pull request for this, #17916. I'm closing this as a duplicate of #15335.

[2017-04-10 21:01] #24032 closed

[2017-04-10 21:37] jasontedor commented on #23908
I think that we are unlikely to do that for the archive distributions. I think the need for scripts to set up the system, environment, and service scripts is served well by the packaging distributions and the use of these in the archive distributions would be minimal. Doing this would be adding a lot of maintenance overhead for a need that I think is already met.

[2017-04-10 21:55] #24005 closed

[2017-04-10 22:11] mkelkarbv commented on #23908
@jasontedor by "packaging distributions", which specific ones you are referring to? I can't use rpm as is, so my only option is to use ZIP which lacks stuff that I mentioned earlier...

[2017-04-10 22:14] javanna commented on #24031
Hi @oxymor0n what would you like Elasticsearch to do in those case instead? You are opening/closing an index, which is an operation that cannot be performed if no closed/open index matches the provided expression. You would prefer those apis to be a no-op in those cases, rather than returning an exception?

[2017-04-10 22:14] jasontedor commented on #23908
By the packaging distributions I mean the RPM and the deb distributions.

Because it's not relocatable?

Which we are unlikely to add because I think that most people that want these things just use the RPM or the deb.

[2017-04-10 22:17] rjernst commented on #15613
@brusic Since `_meta` is part of the mappings, and not part of a document, it is already per index.

[2017-04-10 22:19] jasw opened #24035 "Query String Query escaping spaces do not work"
**Elasticsearch 2.3.5**:

**Plugins installed**: [head, search guard]

**1.8.0_74-b02**:

**32~14.04.1-Ubuntu**:

**Query String Query escaping spaces do not work**:

**Steps to reproduce**:
According to this document: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html

 A space may also be a reserved character. For instance, if you have a synonym list wh

[2017-04-10 22:22] rjernst commented on #23714
@nik9000 Possibly. I just realized my original thought could be done now, regardless of aliases. That is, instead of having the current "unmapped fields" logic on the coordinating node, we could require adding a dummy empty field on older indexes for that name.

[2017-04-10 23:14] spalger opened #24036 "Could field value access be simplified?"
Accessing fields that are outside of source is pretty complex right now. There are options like `docvalue_fields`, `fieldata_fields`,  and `stored_fields` but using these options requires knowing and understand the mappings, along with several elasticsearch settings.

It's probably best that user's know how their data is indexed and that they request exactly what they want, but for applications it

[2017-04-11 00:47] ShihaoJing opened #24038 "Large json body causes broken pipe error"
Hi,  I am a newbie to elastic search. I need to index many large csv documents (about 150MB).
My plan is to create a mapping like this:
[code]
For 'data' field,  this will be the json string converted from csv file.
When I was trying to post a new json to elastic search, it gave a following error:
[code]
Can anyone help me with this issue? Thanks!

[2017-04-11 01:03] jasontedor commented on #24038
I suspect that your problem is that you need to increase the `http.max_content_length` which defaults to only 100 MB. If you're sending 150 MB down the pipe and you haven't increased this setting, then Elasticsearch is going to close the connection.

Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports a

[2017-04-11 01:03] #24038 closed

[2017-04-11 03:30] tbrooks8 commented on #23893
@clintongormley I was looking at this today and was not able to figure out exactly what you're referencing. Are you saying that you would do something like this in the config:

`search.remote.local_cluster_alias.seeds: "127.0.0.1:9300"`

[2017-04-11 05:25] elnur commented on #15613
Should really mention this in the docs or somewhere else. I had to google for hours to figure out this index-vs-type dilemma and only stumbling upon this ticket has finally made it all clear.

[2017-04-11 05:56] olcbean commented on #24035
As the fields are not analyzed, then the pattern `"*a\\ b\\ c\\ clean*"` will not match `"A B C Cleaning"`. Can you try applying `"tokenizer": "lowercase"` or changing your pattern to `"query" : "*A\\ B\\ C\\ Clean*"`?

[2017-04-11 06:19] s1monw commented on #23981
that is a critical issue, I think we have to find a way to either fix it reliably or we need to drop stuff and I am not hesitating to even do this in a minor if it means dataloss or anything along those lines.

[2017-04-11 06:58] jpountz commented on #23873
This is one of the impossible NPEs we have seen recently in our Fedora testing environment.

[2017-04-11 06:58] #23873 closed

[2017-04-11 07:00] jpountz commented on #23790
This is one of the impossible NPEs we have seen in our Fedora testing environment.

[2017-04-11 07:00] #23790 closed

[2017-04-11 07:03] #23683 closed

[2017-04-11 07:05] #9411 closed

[2017-04-11 07:05] jpountz commented on #14832
The field stats API is getting replaced by field caps, which do not expose stats. Closing.

[2017-04-11 07:05] #14832 closed

[2017-04-11 07:17] paulohss commented on #23732
Hi @jdconrad

I use ES 5.1.2 and I'm trying to compute day of week and time of day from a date field and consider timezone at the same time.

my first script is `def d = doc['my_field'].date; d.addHours(10); d.getDayOfWeek();`

The error message is can't find addHours() method

[code]
If I change script to `MutableDateTime d = doc['my_field'].date; d.addHours(10); d.getDayOfWeek();` The error mess

[2017-04-11 07:24] #23925 closed

[2017-04-11 07:31] #21887 closed

[2017-04-11 07:32] jpountz commented on #24036
To me this is the reason why we have `_source`. I think of `docvalue_fields` (formerly `fielddata_fields`) and `stored_fields` as expert options for the case that the overhead of `_source` is not worth the simplicity it brings. Unfortunately, that indeed requires a closer relationship between the client application and mappings.

[2017-04-11 08:26] spinscale commented on #24035
also, this does not look like a bug report. Please discuss issues like these in the dedicated [Elasticsearch discussion forum](https://discuss.elastic.co/c/elasticsearch), as github issues is intended for bug reports only. Thanks a lot!

[2017-04-11 08:26] #24035 closed

[2017-04-11 08:47] colings86 commented on #24023
@kujon I tried reproducing your bug on both the master branch and on the 2.4.4 release of Elasticsearch and I wasn't able to get the error you got above, instead the aggregations completed successfully. The script I used was:

[code]

Could you try running the above script on your environment and see if the error reproduces?  Could you also confirm the exact version of ES that you are running (e.g

[2017-04-11 08:55] loriling commented on #19952
@Zhaokung
I just found that i have closed my ES server，it works fine after i reopen it...

[2017-04-11 09:09] elasticmachine opened #29772 "[Monitoring]Extra metrics for Elasticsearch nodes"
*Original comment by @marius-dr:*

From discuss thread:

https://discuss.elastic.co/t/more-thread-pool-and-circuit-breaker-metrics/80943

List of metrics mentioned by the user:
- max bulk queue size between the nodes
- estimated_size_in_bytes & tripped for circuit breaker
Also, he did point us to this repo:
https://github.com/justwatchcom/elasticsearch_exporter/pull/37

^ @bohyun-e

[2017-04-11 09:21] #23904 closed

[2017-04-11 09:35] jasw commented on #24035
@olcbean Thanks for the reply. That was a bad example but case does not matter.  "*A\\ B\\ C\\ Clean*" do not match either.
@spinscale I get your point but I do think its a bug. The documentation specifically covered this test case but did not give the expected result. It is at least a bug in the documentation.  So please leave it open. Thanks Jason

[2017-04-11 10:07] jasontedor opened #24041 "Painless EqualsTest#testBranch(Not)?EqualsDefAndPrimitive fails on Windows"
These two tests are currently failing on Windows only.

[2017-04-11 10:15] prasadkhandagale commented on #16551
+1

[2017-04-11 10:22] jasontedor commented on #24041
To silence these tests on Windows I pushed:
5.3: d0a79613eb6aba0b7c4f7bb4998c659aa23c373f
5.x: 0800005bcd56f77b0f494531b98eb4924ba14ae6
master: 653619079c476948ef8b4e9e9030063b69609fb3

[2017-04-11 11:17] slixurd opened #24043 "TransportSerializationException occurs when requesting stats"
ES Version : 2.3.4
JDK: 1.7.0_76
ThreadPool is not modified
8 Nodes( 8 Core 16G mem)

When requesting /_stats, it will encounter failure
the request missing a lot of information (such as the infomation in indices.poi.primaries) with failure message
[code]
And there is error stack in log
[code]

[2017-04-11 11:32] nik9000 commented on #24041
Thanks! I'm probably a day out from being able to look at them.

On Tue, Apr 11, 2017, 6:22 AM Jason Tedor <notifications@github.com> wrote:

[2017-04-11 11:50] bleskes opened #24044 "`Add transient remote cluster based on the preset cluster and check remote info` fails"
Error:

[code]

Here is the stash:

[code]

It looks like it failed to fetch remote information.

Reproduction line doesn't work, but this one fails every few runs:

[code]

Build link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-unix-compatibility/os=centos/673/console

[2017-04-11 12:04] gbhati opened #24045 "copy_to doesnt work within nested document"
**Elasticsearch version**: elasticsearch-5.2.1

**Plugins installed**: [No]

**JVM version**: jdk1.8.0_25

**OS version**: Windows/Red Hat Enterprise Linux Server release 7.3

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 Sample Mapping for replicating the issue

[code]

Sample data

[code]

Now Output of stored_fields is unexpected

[code]

I

[2017-04-11 12:58] ywelsch commented on #24007
OK, I think I know what's going on:

- Async shard fetching is started for all 3 nodes (`node_t0`, `node_t1`, `node_t2`) :

[code]

- Node `node_t1` is restarted while async fetching is going on
[code]
- In the cluster state update where `node_t1` is removed, it's `NodeEntry` is being removed from the `cache` field in the `AsyncShardFetch` class.

- While `node_t1` rejoins, a new `NodeEntry` is ad

[2017-04-11 13:09] sorinescu commented on #12366
👍

[2017-04-11 13:39] spinscale commented on #24043
thanks for your report. A couple of more information would be great, can you paste the output of

[code]

Just out of curiosity: there was no other exception before this happened the first time (like an OOM for example)?

[2017-04-11 13:42] jelmerk commented on #22689
Reopening this issue would be more helpful than being pedantic

[2017-04-11 13:47] spinscale commented on #24045
if you use the `include_in_root` flag, this works, see this example

[code]

I am actually unsure, if this is a bug or a feature, I think @martijnvg might be able to help out

[2017-04-11 13:52] jasontedor commented on #22689
It suddenly occurred to me here what the problem is. You're using JUnit 4.12 in your POM, we only grant permissions to JUnit 4.11 in Elasticsearch 5.2.1 (we have since upgraded to to JUnit 4.12 in the 5.x and master branches). If I make the following change:

[code]

The test passes fine. Either use the same version of JUnit as we declare, or grant the additional permissions to JUnit 4.12.

[2017-04-11 13:52] #22689 closed

[2017-04-11 13:57] HonzaKral opened #24047 "NullPointerException when trying a url with a typo"
I tried url with a typo (`_focemerge`) by accident and got a NPE:
[code]

**Elasticsearch version**:5.3.0

**Plugins installed**: x-pack 5.3.0

**JVM version**: 1.8.0_121

**OS version**: linux 4.9.21-1-lts

**Steps to reproduce**:
 1. `curl -X POST --user elastic:changeme localhost:9200/git/_focemerge`

**Provide logs (if relevant)**:
[code]

[2017-04-11 14:14] jasontedor commented on #24047
This should result in method not allowed (cf. #15335) but instead the request gets routed to the index handler which NPEs because there is no content in the request. There is an open pull request for this, #17916. I'm closing this as a duplicate of #15335.

[2017-04-11 14:14] #24047 closed

[2017-04-11 14:15] oxymor0n commented on #24031
Hello @javanna, thank you for responding.

IMHO the behavior in the case of closing/opening `_all`or `*`-patterns should be consistent with the current behavior of opening/closing an individual index (which returns `{acknowledged: true}` regardless of whether that index is already opened/closed).

Alternatively, the error message should be changed and documented. As it is at the moment, it's not i

[2017-04-11 14:17] jasontedor commented on #24047
Sorry, too fast to judge there. This one is a little different. This one is getting routed to the type handler. Instead, this is being addressed by #23497.

[2017-04-11 14:55] clintongormley commented on #23893
@tbrooks8 yes you can do that today, but actually @s1monw wants to remove this and to replace it with a `_local_` predefined alias, used just for cluster name matching

[2017-04-11 15:29] jdconrad commented on #23934
@imotov I'm not very familiar with native scripts, is this something you would be comfortable looking at?

[2017-04-11 15:39] imotov commented on #23934
@jdconrad I don't think the problem is with native scripts here (which are trivial in this case). It looks like a request breaker issue and @dakrone is probably the best person to take a look at it.

[2017-04-11 15:40] s1monw commented on #24044
fixed by e30a275bfe4728cdd9bd05387299d1b6968fa5d2

[2017-04-11 15:40] #24044 closed

[2017-04-11 15:44] mausch commented on #10767
Just found this issue, seems to be very similar to one I create a while ago: https://github.com/elastic/elasticsearch/issues/13469

[2017-04-11 17:27] #22024 closed

[2017-04-11 17:29] kunal642 commented on #23960
@myrfy001 i cannot replicate the issue. I have followed the step and i am able to query bar_bar with the alias foo.

[2017-04-11 17:30] simpleopen commented on #14299
Hi, @clintongormley ,

Tentatively,  I think I have a user case of @yiguolei 's proposal. The feature of disk usage quota per data path can help prevent a single point of issue from causing all-cluster data loss incident. Do you think we can maybe revisit this discussion, and get your feedbacks?

We have a self-hosted Elasticsearch cluster, accepting log feeds from multiple sources. Due to a Logst

[2017-04-11 17:45] jimczi commented on #23960
@kunal642 the last step of the reproduction has a typo. I can reproduce the problem with the following request:

[code]

[2017-04-11 17:52] hanoch commented on #22917
@nknize will be good to have this enhancement included with the next release (v5.4)

[2017-04-11 18:11] rjernst commented on #23732
@paulohss Please don't ask questions on a closed issue. Elastic maintains a [forum](https://discuss.elastic.co) for questions; github is reserved for verified bug reports and feature requests.

[2017-04-11 18:56] jasontedor opened #24050 "Add test for deploying transport client in Wildfly"
A lot of users deploy the transport client inside an application container like Wildfly. This is broken for a lot of users starting in 5.3.0 due to a chain of initializations that ultimately lands in Build which given some deployment models will fail during static initialization. I think this an important use-case for our users, and we should have a qa module that tests deploying the transport cli

[2017-04-11 19:07] nik9000 commented on #24050
We should probably also add tests for the high and low level rest client in wildfly while we're at it.

[2017-04-11 20:41] asuiu commented on #10043
+1

[2017-04-11 21:13] jasw commented on #24035
@spinscale Also FYI,  I posted this question a week ago on the discussion forum https://discuss.elastic.co/t/query-string-query-escaping-spaces-in-v2-3/81254 with no reply.   But I do also believe it is worth a bug report as explained above. Thanks

[2017-04-12 02:29] pickypg opened #24057 "Build Field Stats-based Resolution into Search API"
I recently found myself using a tool that could not easily send `_field_stats` requests to prefetch the "right" indices for a given index pattern and a set of values. I worked around it by going the classic route of feeding it the raw index pattern and being done with it.

However, it got me thinking: could we build the index resolution aspect that tools like Kibana get from using `_field_stats` d

[2017-04-12 03:11] slixurd commented on #24043
1. _cat/node
[code]
The same error also result in the data loss
Only the local node return information
Error stack:
[code]

2. plugin
[code]

[2017-04-12 04:15] joshuar opened #24058 "[docs] Should we document that the docker container expects the "elasticsearch" user to uid=1000"
Do we need to document that the Docker image by default has the `elasticsearch` user mapped to uid 1000?  This can cause issues in certain situations where the host OS has a different user with uid 1000. Mainly, this causes permission issues with the volumes. I can see that using a container orchestration tool could mitigate this problem and could be considered a best practice when using these ima

[2017-04-12 07:19] tsullivan commented on #10959
Would this possibly alleviate the current pain point requirement to close and re-open the index to re-read the synonym database?

[2017-04-12 08:47] cbuescher commented on #21665
Closing this after discussion with @jpountz in https://github.com/elastic/elasticsearch/pull/23684. We agreed that the error we currently throw in this edge case is okay and we should change the test to avoid running into this in our randomization.

[2017-04-12 08:47] #21665 closed

[2017-04-12 08:47] grapemix opened #24062 "Cannot start elasticsearch because of java.security.AccessControlException"
**Elasticsearch version**:
5.3.0 thru deb

**JVM version**:
openjdk-9-jre-headless & openjdk-8-jre-headless

I tried both, but still no luck

**OS version**:
Ubuntu 16.04 in aws

**Description of the problem including expected versus actual behavior**:
Cannot even start elasticsearch. I saw a bug from https://github.com/elastic/elasticsearch/issues/18761
But installing openjdk-9-jre-headless | ope

[2017-04-12 08:51] spinscale commented on #24062
the elasticsearch.log shows version `2.2.0`, see

[code]

are you sure you did a full upgrade to 5.3.0 - maybe there are some leftovers?

[2017-04-12 09:14] byronvoorbach opened #24063 "Source filtering in new field collapsing feature (Elasticsearch 5.3)"
Hi.

While trying out the new 'field collapsing' feature in ES 5.3, I noticed that source filtering is handled differently than when source filtering is applied inside the top query element. I created a gist to show off an example:

https://gist.github.com/byronvoorbach/bc3d73c77aaa7ddaa96ee47a9ba886fc

In short: 'collapse' feature needs an explicit include/exclude during source filtering where as

[2017-04-12 09:20] grapemix commented on #24062
That is totally my problem. The elasticsearch service started from systemd is unable to output to my log and hence cause log file data contamination. Besides, don't ever try to modify the group from the systemd service file. It just not working and cause a lot of trouble.

The bright side is I just tested bunch of combination of elasticsearch vs jdk.

es 2.2.0 works w/ openjdk-8-jre-headless in ub

[2017-04-12 09:20] #24062 closed

[2017-04-12 09:30] olcbean commented on #24031
[code]
and
[code]
will both result in `"reason": "no such index"`

[code]
will result in `"acknowledged": true`

Looking in master it seems that `_all` will not be resolved. It is treated as a concrete index name instead of a meta one.

@javanna Could you specify what the correct behavior should be?

----
I would like to have a go at this once the correct behavior is defined.

[2017-04-12 09:43] carabloomfield commented on #21291
I'm also migrating from 2.x to 5.x and have come across this issue.  Any updates?

[2017-04-12 10:40] Hronom commented on #22438
Is this available in Kibana 5.3.0 ?

[2017-04-12 10:46] cbuescher opened #24064 "Clarify how rounding 'extended_bounds' should work in 'date_histogram'"
Working on #23789 we came upon some issue around `extended_bounds` in `date_histogram` when some rounding is used. The behaviour seems to be a bit unclear, so thats what this issue is about.

Currently, when using `interval` rounding of e.g. a day and providing extended bounds that are not rounded values, we round them down, e.g.:

[code]
[code]

To me that seems like a good behaviour because it l

[2017-04-12 10:54] webattitude commented on #19983
@jpountz any advancement about this ?

[2017-04-12 12:37] speedplane commented on #23199
@sikelong123 Not I didn't, I just saw it pop up yesterday again. As a work-around, I added a cron job that calls `/_cluster/reroute?retry_failed` every few hours.

[2017-04-12 12:40] s1monw commented on #24063
@byronvoorbach good catch, do you wanna try to work on a PR for this, we are happy to help if you are up for it?

[2017-04-12 12:48] nik9000 commented on #24058
It feels weird that the elasticsearch-docker docs are in the Elasticsearch project. We should probably fix that at some point. I don't really have an opinion on the question at hand though.

[2017-04-12 12:48] byronvoorbach commented on #24063
Hey @s1monw!

I'm leaving for Sweden the next couple of days, so won't have time for it till after the Easter weekend. Would be happy to work on a PR when I come back if that's not too late for you guys!

[2017-04-12 12:54] jasontedor commented on #24058
I think that having the installing from Docker docs alongside the installing from other distributions docs makes sense.

[2017-04-12 12:59] s1monw commented on #24063
@byronvoorbach just check in when you come back and see if it's been worked on... we will see how quickly we can get to it. You are welcome to help. Enjoy the trip ;)

[2017-04-12 13:12] byronvoorbach commented on #24063
@simonw Will do, wouldn't mind helping out! And thanks!

[2017-04-12 13:16] nilabhsagar commented on #22357
Any opinion on the above suggestion?

[2017-04-12 13:36] jimczi commented on #23966
I think we can just replace the boolean queries with DisjunctionMaxQuery. We already have an option for that in `query_string` called `use_dis_max`. When set to false (the default) we create boolean queries to merge queries targeting different fields and that makes `minimum_should_match` harder to apply. Instead we could still use a DisjunctionMaxQuery but with the tiebreaker set to 1.
The scoring

[2017-04-12 13:37] nexeh commented on #22374
Why was this issue closed?

[2017-04-12 13:40] nik9000 commented on #24058
Yeah, it does. We could get them to *look* like that even if the source of the document is in the docker project but maybe it just isn't worth it. I'm certainly not going to block docker docs changes because I want them in another place. That'd be silly.

If you think we should document this the user name then I'm fine with it.

[2017-04-12 13:40] byronvoorbach commented on #24063
@simonw you got me excited to look into the codebase, and I found the issue. Just a single line change is needed to get it to work.

Should I open up a PR or is it faster to note down the change here?

[2017-04-12 14:02] jasontedor commented on #24058
In my mind it is indeed not worth it. Let's consider the situation last year when we changed command-line parsing to change `-D` to `-E`. If the Docker docs had existed here at this time, they would need to be updated along with this change. By being in this repository, that kind of maintenance is easier (command-line tools will find the necessary places).

I'm still pondering this one.

[2017-04-12 14:17] rtkbkish commented on #19866
Yes

[2017-04-12 14:22] packet-rat commented on #24058
re: Do we need to document that the Docker image by default has the elasticsearch user mapped to uid 1000? This can cause issues in certain situations where the host OS has a different user with uid 1000. Mainly, this causes permission issues with the volumes. I can see that using a container orchestration tool could mitigate this problem and could be considered a best practice when using these im

[2017-04-12 14:27] s1monw commented on #24063
no go ahead and open a PR please @byronvoorbach

[2017-04-12 14:40] imotov commented on #21942
Maybe we should revisit #19215

[2017-04-12 14:41] yuloh opened #24065 "JSON Schema for mappings?"
Hi,

I'm new to Elasticsearch and building out mappings.   I'm writing the JSON files before loading them into Elasticsearch.

If there was a [JSON Schema](http://json-schema.org) defining the request body my IDE [could provide Intellisense and validation](https://code.visualstudio.com/docs/languages/json#_intellisense-validation) which would be super helpful.  Right now I have to try loading the

[2017-04-12 14:54] Sanne commented on #24050
Hi all,

I work on the Hibernate Search project, and we do use the Elasticsearch client on WildFly. We also run integration tests of course.

I had a chat recently with @javanna and promised him that I'd reach out to see if we could contribute the WildFly module structure I'm creating and the related integration tests directly to the Elasticsearch community.

By "module structure" I mean we're rep

[2017-04-12 14:54] surekhabalaji opened #24066 "snashot getting stuck on a shard V2.3.1"
**Elasticsearch version**: 2.3.1

**Plugins installed**: []
lucene version 5.5.0

**JVM version**: open jdk 1.8.0

**OS version**: CentOS

**Description of the problem including expected versus actual behavior**:

I have setup a cluster with two ElasticSearch servers and have the NFS repo setup on the first server(master) and have the NFS mount setup on these two servers. I created the snapshot re

[2017-04-12 15:17] Sanne opened #24069 "TimeoutExceptions on REST Client - with fix proposal"
**Elasticsearch version**:

5.3

**Plugins installed**: N/A

**JVM version**: All

**OS version**: Any

While running integration tests for the Hibernate Search project we noticed some requests failing for TimeoutException on rather slow machines. I initially thought it was a "just a timeout", but investigating I actually identified a problem caused by the default configuration applied by the Elas

[2017-04-12 15:25] jasontedor commented on #24065
Have you considered looking at [Console (in Kibana)](https://www.elastic.co/guide/en/kibana/current/console-kibana.html) for auto-completion while writing these mapping files? You might find that this already meets your needs.

As far as the specific proposal here, my take is that unless there is a very clear, large benefit from this we should be reluctant to add formal JSON schemas. The reason I

[2017-04-12 15:31] byronvoorbach commented on #24063
@s1monw Done! https://github.com/elastic/elasticsearch/pull/24068

[2017-04-12 15:47] abeyad commented on #24066
Do you have any information in the log files that you can share that would be pertinent?

Also, could you kindly create a post on the [discussion](https://discuss.elastic.co/) forum and I'll be happy to help you there.  We reserve Github for known bugs or feature requests, so until we discuss and eliminate the possibility of the issue being in NFS etc, lets move it to the discussion forums please.

[2017-04-12 16:05] surekhabalaji commented on #24066
@abeyad , I created a post on the discussion forum for this
https://discuss.elastic.co/t/snashot-getting-stuck-on-a-shard-v2-3-1/82191

[2017-04-12 16:06] abeyad commented on #24066
@surekhabalaji great, thanks, I'll respond there.  In the meantime, I'll close this issue and if we determine there is a bug in Elasticsearch, we can re-open.

[2017-04-12 16:06] #24066 closed

[2017-04-12 16:33] abeyad commented on #24045
Assigning to @martijnvg to confirm the behavior of `include_in_root`.  As an aside, it looks like `include_in_root` and `include_in_parent` may be deprecated in favor of `copy_to`: https://github.com/elastic/elasticsearch/issues/12461

[2017-04-12 17:09] abeyad commented on #24069
@javanna can you take a look at this, or otherwise delegate?

[2017-04-12 17:11] nik9000 opened #24072 "Gradle 3.5 doesn't seem to work"
I tried out gradle 3.5 today while debugging some windows issues. It blows up on progress logger stuff. Here is an example of it running in CI:
http://build-us-00.elastic.co/job/ES%20Server%205.x%20on%20Windows%202012%20R2/15/consoleFull

[2017-04-12 17:20] olalonde commented on #17809
@rfyiamcool wondering the same here... did you figure this out?

[2017-04-12 17:42] nik9000 commented on #24041
This didn't reproduce on windows 10 so I'm trying out "Windows 2012 r2" which is the image that this failure occurred on:
http://build-us-00.elastic.co/job/ES%20Server%205.x%20on%20Windows%202012%20R2/15/consoleFull#gradle-task-1686

[2017-04-12 17:53] dliappis commented on #24058
This has been on my radar for a bit. We do document it, albeit not so directly, in [an important note](https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#_b_bind_mounted_configuration) in the bind mounts section (`-v` stuff) as well as in the [customized image section](https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#_c_customized_image).

Nevert

[2017-04-12 18:50] jasontedor commented on #24058
I'm good with this. Do you want to open a PR @dliappis?

[2017-04-12 18:58] dliappis commented on #24058
Thanks @jasontedor I will do that.

[2017-04-12 19:35] nik9000 commented on #24041
Didn't reproduce for me with the same windows version and the same jvm version. I'm not really sure what is up. I'm going to go away for a few days but when I come back I might reenable and have another look.

The failures look to be on gradle 3.5 so maybe it is https://github.com/elastic/elasticsearch/issues/24072 ? Not sure.

[2017-04-12 19:47] jasontedor commented on #24041
We have failures on 3.3 also.

[code]

[2017-04-12 21:19] olalonde commented on #22814
Does that mean that the documentation here is incorrect? https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-scripting-using.html#reload-scripts

It mentions setting `resource.reload.interval`.

[2017-04-12 21:21] pratiksanglikar commented on #23268
Is anyone working on this issue?
If not, can I pick up this issue as my first contribution?

[2017-04-12 21:26] nik9000 commented on #24041
Discovered.  If you provide `-XX:+AggressiveOpts` then the test will fail. It relies on the size of the `Integer` cache. I can now reliably fail locally.

And now I'm going to go away for a few days. So I can write the fix but can't merge it because I won't be about to baby sit it.

[2017-04-12 21:31] abeyad commented on #23268
@pratiksanglikar I don't believe anyone is currently working on it, you are welcome to pick this up.  Thank you!

[2017-04-12 22:07] oxymor0n commented on #24031
I've just became aware of the `allow_no_indices` and `expand_wildcards` options (they weren't mentioned in the Open/Close Index API documentation) - sorry if my unfamiliarity with these API conventions caused some confusion 😓

Setting `allow_no_indices=true` result in a different error if there is no closed index:

[code]

Only a combination of `allow_no_indices=true&expand_wildcards=all` results

[2017-04-12 22:36] pratiksanglikar commented on #23268
@abeyad Thank you!
I'll pick up this issue.

[2017-04-12 22:43] jasw commented on #24035
@spinscale @kimchy Can you please reopen this ticket? Thanks

[2017-04-12 23:42] csouthwell commented on #21627
If your using Lein (w/clojure) how can you resolve the META-INF like using shade in maven?

[2017-04-13 00:01] tvernum commented on #21627
@csouthwell I think you're going to need to ask some Leiningen experts, the ES team doesn't have expertise in how to do things that we don't support, in a build tool that we don't support. Sorry.

My advice would be to hit stackoverflow (or a lein specific forum) and ask how to add specific entries to the manifest when running `lein uberjar`

[2017-04-13 02:00] timhng commented on #24035
@spinscale , I agree with @jasw. This does appear to be a bug or documentation problem. I'm desperate to see this issue resolved. I'm trying to solve the same problem! Can this please be re-opened. Thanks.

[2017-04-13 03:31] ApprenticeMythology opened #24080 "could not find commonTermsQuery api definition for elasticsearch 5.1.1"
i just begin to use elasticsearch 5.1.1, but i could not find commonTermsQuery api definition, detail below:
//set cluster name
			Settings settings = Settings.builder().put("cluster.name", "es5-cluster").build();
			TransportClient client = new PreBuiltTransportClient(settings)
					.addTransportAddress(
							new InetSocketTransportAddress(InetAddress.getByName("127.0.0.1"), 9300));// 127.0.0.1

[2017-04-13 03:33] jasontedor commented on #24080
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-04-13 03:33] #24080 closed

[2017-04-13 06:43] #22358 closed

[2017-04-13 07:13] jasw opened #24082 "Query String Query no way to escape spaces in version 2.3.5 and 2.4.0, but not on 5.0"
**Elasticsearch 2.3.5 and 2.4.0**:

**Plugins installed**: []

**1.8.0_74-b02**:

**32~14.04.1-Ubuntu**:

**Query String Query escaping spaces do not work**:

**Steps to reproduce**:

1. start elastic search 2.3.5 or 2.4.0
2. create index 'my_index' and a type 'city' with normal string mapping and a raw 'not_analyzed' mapping
[code]
3. add two documents with city='A B C Cleaning' and city='Cleanin

[2017-04-13 07:17] #23640 closed

[2017-04-13 07:23] jasw commented on #24035
@timhng @spinscale  New ticket raised here #24082 with more details and process to reproduce. You should be able to tell it is indeed a bug. Thanks

[2017-04-13 07:30] developerworks commented on #14928
+1

[2017-04-13 07:44] danielmitterdorfer commented on #24082
Hi @jasw! I just ran the reproduction scenario on a fresh install of Elasticsearch 2.4.4 and Elasticsearch 5.0.0. Both versions behave identical, so I cannot confirm your claim that Elasticsearch 5.0.0 behaves differently. Also, the query does not do what you think it does. Hence, I'll close it as it is not a bug.

However, I think I have a solution for your problem and will soon follow up on the

[2017-04-13 07:44] #24082 closed

[2017-04-13 07:45] danielmitterdorfer commented on #24035
_Note: I'm cross-posting my comment from #24082 also here so this ticket is self-contained_

I just ran the reproduction scenario on a fresh install of Elasticsearch 2.4.4 and Elasticsearch 5.0.0. Both versions behave identical, so I cannot confirm your claim that Elasticsearch 5.0.0 behaves differently. Also, the query does not do what you think it does. Hence, I'll close it as it is not a bug.

[2017-04-13 08:21] colings86 opened #24083 "InternalTopHistTests fails with a particular seed on master"
Reproduce command:
[code]

error:
[code]

It looks like in this case we have 1 shard to reduce which has an unmapped top hits response. The test expects the max score to be `Float.MIN_VALUE` but the actual max score is `Float.NaN`. Maybe the test should be checking if there are any hits an setting the expected max score to `Float.NAN`?

/cc @nik9000  does that sound sensible to you?

[2017-04-13 09:11] jasw commented on #24082
@danielmitterdorfer  Thank you very much. Thats really insightful.   I think my question has been addressed by your suggest perfectly. However, I tried to use the 2.4 fresh installed elastic search docker (the 2.4 version points to 2.4.4) and 5.0 version (points to 5.3.0). The behaviours for the same search on the same date did give different answers.

Note, I am very happy for this ticket to be c

[2017-04-13 09:47] heiterzhang opened #24084 "colon seperate"
the test as below
"
tody we go to  gdp: debug:DS::MimiFailInfo:return
"

when i search use **MimiFailInfo:return** to  search  ,it returns normally;
bu when i use  part of this words , such as use  **MimiFailInfo** ,it returns empty？？？

[2017-04-13 09:56] danielmitterdorfer commented on #24084
Hi @heiterzhang. Please ask questions like these in the forum instead: https://discuss.elastic.co/ The Github issues list is reserved for bug reports and feature requests only. Thanks!

When you create a post on Discuss, please include a small self-contained example to reproduce the scenario you are asking about. Otherwise, it is next to impossible to answer your question.

[2017-04-13 09:56] #24084 closed

[2017-04-13 10:54] danielmitterdorfer commented on #24082
I can confirm that the behavior you describe has changed with Elasticsearch 5.1.1 but as we've both found out there your requirements are best met by a different query.

I am not sure what you mean by "escaping part"? Do you mean that we should document that double quotes need t be escaped when used within a JSON string?, i.e. this:

[code]

[2017-04-13 12:58] javanna commented on #23740
I am reopening this as we could improve our docs and add some more explanation about how partitioning works.

[2017-04-13 13:43] jpountz opened #24086 "Remove UnsortedNumericDoubleValues"
This class is a work-around for the fact that multi-valued numerics expect values to be delivered in order. However this attempt to not deliver values in sorted order has the downside of adding a new abstraction that also needs to support computing the min or max values per document. We should remove it and sort values on the fly.

[2017-04-13 13:51] jpountz opened #24087 "Decouple MultiValueMode"
`MultiValueMode` does two things at once: it selects the min/max/median/sum value when documents have multiple values, but also returns a missing value when documents do not have a value. Decoupling would make things cleaner, easier to test and would eg. allow to remove the hack from the matrix stats aggs that need to treat `NEGATIVE_INFINITY` as a missing value since we do not expose ways to sele

[2017-04-13 13:56] jpountz opened #24088 "Move away from `oal.util.Bits` to represent documents that have a value"
This is a remainder of the old doc values API, that used this abstraction to represent documents that have a value. Instead we should use an sequential API like `advanceExact`. See the `FieldData.docsWithValue` methods.

[2017-04-13 14:23] bleskes commented on #19866
@rtkbkish many many things changed in this area of the code. There are known problems, many of them has been fixed and some are on the process of being fixed. This is a problem we take seriously and we can work to figure out what exactly the issue in your case. Some questions:

1) Which version are you on today?
2) Do you see this same with 5.3.0?
3) Do you see any networking issues / disconnects

[2017-04-13 14:35] rtkbkish commented on #19866
1. We are currently on 2.3.3
2. We haven't made the jump to 5.3. The migration from 1.x to 2.x was so time-intensive that the next migration keeps getting delayed.
3. Networking issues/disconnects are very rare. Does not explain frequency of issue.
4. We generate the IDs. It is a bulk update operation.

[2017-04-13 14:48] bleskes commented on #19866
Can we re-iterate on how often you see this? Also - do you see any shard failures?

What kind of update do you do?

[2017-04-13 16:27] scampi opened #24091 "return docs.count property of _cat/indices as a number"
With the request `curl -XGET 'localhost:9200/_cat/indices/.kibi*?format=json'`, some fields are returned as strings but would make more sense to be returned as a number. Specifically, the fields are:

- docs.count
- docs.deleted
- pri/rep (primary/replicated ?)

See response of the previous request below:

[code]

I am using the ES instance below:

[code]

[2017-04-13 16:55] dliappis commented on #24058
I created https://github.com/elastic/elasticsearch/pull/24092

[2017-04-13 18:17] bleskes commented on #23963
+1

[2017-04-13 18:19] olcbean commented on #24091
If this is an enhancement i would like to give it a try.

[2017-04-13 18:24] jasontedor commented on #24091
@olcbean This one requires a decision (whether or not we should do it), and care because it would be a breaking change.

[2017-04-13 20:20] davidklebanoff commented on #14965
I believe this may be possible if creator has a field type of "keyword" and then form your query like:

[code]

[2017-04-13 20:26] abeyad opened #24094 "[TEST] ReindexClientYamlTestSuiteIT multiple slices with wait_for_completion failure"
I could not get it to reproduce, but this is the reproduction line:
[code]

The failure message:
[code]

See https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.1+multijob-unix-compatibility/os=fedora/201/console

[2017-04-13 21:00] abeyad commented on #21062
@nik9000 The test failed again, this time a _cat/recovery test:   - org.elasticsearch.smoketest.DocsClientYamlTestSuiteIT.test {yaml=reference/cat/recovery/line_16}

See https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.3+multijob-intake/192/console

[2017-04-13 21:08] abeyad commented on #23695
Another failure today:
[code]

See https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=debian/839/consoleFull

[2017-04-13 21:08] abeyad commented on #23695
Reopening as the issue is still failing
/cc @bleskes

[2017-04-13 21:27] ppf2 opened #24096 "Doc: Clarify count for index.mapping.total_fields.limit"
https://www.elastic.co/guide/en/elasticsearch/reference/5.3/mapping.html#mapping-limit-settings

The maximum number of fields in an index. The default value is 1000.

Currently, documentation simply says `index.mapping.total_fields.limit` is the max number of fields in an index.  For end users who are looking at the mappings api output and doing a count for validation, they will notice that ES wil

[2017-04-13 23:15] nik9000 commented on #21062
If you assign it to me I can have a look on Monday. Every "method" that
fails on this is its own unique issue, just like with the yaml rest tests.

On Thu, Apr 13, 2017, 5:00 PM Ali Beyad <notifications@github.com> wrote:

[2017-04-14 02:49] surajr commented on #15315
Even I reduced to -Xms1g and -Xmx1g and it works just as before

[2017-04-14 03:06] haiz opened #24100 "Order and Partition doesn't work as expected"
I have a list of items that includes a field named: **fid**

It is an integer field
[code]

One fid has one or more documents.
One document belongs to only one fid.

First, I need to get the top five **fid**s that is greater than 54 then make them an ascending order.

[code]

And I got the result:

[code]

Five fids I got: 55, 56, 57, 58, 59.

But when I use partition in order to make pagination,

[2017-04-14 03:12] heiterzhang opened #24101 "colon seprate problem?"
lasticsearch version: "2.3.1"

Plugins installed: [null]

JVM version:"1.8.0_65"

OS version: "CentOS Linux release 6.2 (Final)"

Description of the problem including expected versus actual behavior:

Steps to reproduce:
1.import this message "tody we go to gdeliveryd: debug:DS::MidasFailInfo:ret=0" in ES
2.search
3.when i search use MidasFailInfo:ret ,it returns normally;
bu when i use part of th

[2017-04-14 03:14] jasontedor commented on #24101
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-04-14 03:14] #24101 closed

[2017-04-14 07:56] ywelsch opened #24103 "[TEST] Netty hangs on node startup"
Test failure:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/2443/consoleFull

Relevant log lines:

[code]

[2017-04-14 08:04] javanna commented on #24069
thanks @Sanne it is not the first time that I bump into this `TimeoutException`. Thanks a lot for all the research. Would you like to open a PR with the suggested fix?

[2017-04-14 08:24] olcbean commented on #24091
Oh, that's exactly what I meant by "if this is an enhancement" 😉

[2017-04-14 08:41] javanna commented on #24031
I agree the behaviour is a bit confusing. The indices options are well applicable to read requests, to decide which indices to expand to and whether a request should throw an error or an empty response when no indices match the provided expression.

That said, in case of open and close index, these api really need at least one index to perform the action against. That is why when you set `allow_no

[2017-04-14 09:39] olcbean opened #24104 "Delete index : inconsistent behavior when using a concrete index and a wildcard"
In the corner case when the index does not exist, delete index with a concrete index will throw and if a wildcard is used, the request will succeed.
[code]
[code]

[code]
[code]
Note : in the above example `test*` can  be replaced with `*` or `_all` (result will be `"acknowledged": true`

Is this the intended behavior?

---
At the same time I think it contradicts the behavior for `_open` and `_clo

[2017-04-14 10:01] liuguangmin opened #24105 "Elasticsearch 5.3.0 update happend Negative longs unsupported, use writeLong or writeZLong for negative numbers [-1]"
**Elasticsearch version**:5.3.0

**Plugins installed**: [ik,mmseg,pinyin,x-pack]

**JVM version**:java_1.8 -Xms2g -Xmx2g

**OS _version**:Linux
****
**Description of the problem including expected versus actual behavior**:
update elasticsearch5.2.2 to elasticsearch5.3.0, In this process,the index status cannot get ,because in the index status message contains negative -1 so invoke the org.elastics

[2017-04-14 10:03] ToujouAya opened #24107 "Create mapping"
**Elasticsearch version**: 5.3.0

**Plugins installed**: []

**JVM version**:  1.8.0_121

**OS version**: windows 10

**Description of the problem including expected versus actual behavior**:
There is my mapping code created in PHP
`'mappings' => [
                'items' => [
                    'attributes' => [
                        'type' => 'string'
                    ]

                ]

[2017-04-14 10:04] jasontedor commented on #24107
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-04-14 10:04] #24107 closed

[2017-04-14 10:09] anatoly21 opened #24108 "Percolator: High memory usage issue when nested query is registered"
ES version: 5.2.2.
JDK: 1.8.0_65
OS version: Ubuntu 14.04.4

We faced high memory usage issue when using percolator.
Dedicated index is configured for percolator.
It works as expected and JVM heap usage picture is

![without_nested_queries](https://cloud.githubusercontent.com/assets/27484990/25040396/b5e6e152-2111-11e7-92db-3182e11dc73c.JPG)

After registering a nested nested query the picture cha

[2017-04-14 10:50] martijnvg commented on #24108
@anatoly21 Just double checking: So after registering a single percolator query that has a `nested` query this memory issue happens? Also I assume that search requests (containing `percolate` queries) are being executed. Do you have a lot of these search requests or just a few?

[2017-04-14 11:07] anatoly21 commented on #24108
Yes, this issue occurs after registerering a single nested query. The attached pictures show results after execution of about 300 000 search requests (percolate queries).

[2017-04-14 11:16] martijnvg commented on #24108
@anatoly21 Thanks, are the search requests (with `percolate` query) similar? If possible can you share the search request (or at least how this query is structured)? I like to figure out if the `percolate` query itself gets cached.

[2017-04-14 11:17] jasontedor commented on #24105
Can you share the current output of `/_stats/search?level=shards`?

[2017-04-14 11:26] liuguangmin commented on #24105
I remove node.ingest:false from ES cluster coordinating node ,the error disappear
but I don't understand why

[2017-04-14 11:27] jasontedor commented on #24105
Because that requires a node restart and cleared the offending stats.

[2017-04-14 11:29] martijnvg opened #24110 "Don't fetch source by default for nested inner hits?"
Elasticsearch has to do an expensive trick to the _source for nested inner hits during the fetch phase. The _source isn't stored with the nested document, but with the root document, so when fetching the _source for inner hits, it gets parsed and the relevant nested part gets extracted and included in the response for that inner nested hit. This can add a significant tax on the search request, esp

[2017-04-14 11:42] liuguangmin commented on #24105
sorry   I might have said something wrong
 the question is below：
before I modify ,I set the data node config:
node.master: false
node.data: true
node.ingest: true

I modify ago
node.master: false
node.data: true
node.ingest: false

and I move "node.ingest: true "to coordinating node
and the  coordinating node's config is:
node.master: false
node.data: false

[2017-04-14 12:20] martijnvg commented on #24110
Discussed this at fix-it-friday and source computation can be much cheaper if take this into account when implementing #23917, so for now we shouldn't change the default here. If #23917 doesn't give the desired performance improvements we can reconsider.

Also we should better document the cost of fetching source for nested inner hits and the fact that one can just use stored fields for nested doc

[2017-04-14 12:23] djschny commented on #23893
Very happy to see this as this was the very first thing I tried to do when 5.3.0 was released and I was testing out the behavior. Look forward to it coming.

However I'm confused and trying to understand why `*:logstash-*/_search` is not desirable to match indices on the cluster of the coordinating node of the request? IMO this would be a default behavior majority of folks would want.

Instead it

[2017-04-14 12:26] jpountz commented on #24057
Actually we are following a different route. We recently made efforts that make requesting indices that do not contain any matching documents not an issue anymore by incrementally reduce responses that come from shards (#23946). So our new recommendation would be to just request all indices that match the index pattern and let Elasticsearch deal with it.

[2017-04-14 12:26] #24057 closed

[2017-04-14 12:44] anatoly21 commented on #24108
Mapping has a lot of keyword fields, therefore the attachment is a simplified version.

[env.zip](https://github.com/elastic/elasticsearch/files/922050/env.zip)

[2017-04-14 12:50] martijnvg commented on #23392
Discussed this at fix-it-friday and it makes sense to include suppressed exceptions in the rest response. Further more it makes sense to include suppressed exceptions by default, it shouldn't blow up the response, because the stacktraces aren't rendered by default.

[2017-04-14 12:51] jasontedor commented on #24091
We discussed this during Fix-it-Friday. The non-cat APIs that provide the corresponding data here do provide these values as numerics and we think that that's what users should use if they need the data in such a format. We also discussed whether or not we should continue to support non-plain text output for the cat APIs. I will close this issue and open a issue for a separate discussion on that p

[2017-04-14 12:51] #24091 closed

[2017-04-14 14:38] javanna commented on #18238
We now always return deprecation warnings as headers, it is up to clients to act on them e.g. log them or even throw an error. We have been testing since then deprecations from both unit tests and yaml tests: we assert by default that no deprecated functionality is used, and we declare exceptions in case we want to test the deprecations themselves, to verify that they are properly raised.

I am no

[2017-04-14 14:57] ywelsch opened #24112 "[TEST] DocsClientYamlTestSuiteIT test {yaml=reference/aggregations/metrics/scripted-metric-aggregation/line_56}"
Test failure:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.4+multijob-unix-compatibility/os=fedora/8/console

Relevant log lines:

[code]

[2017-04-14 15:00] nik9000 commented on #24112
I'll have a look on Monday. Feel free to skip if it is consistent.

On Fri, Apr 14, 2017, 10:57 AM Yannick Welsch <notifications@github.com>
wrote:

[2017-04-14 15:02] martijnvg commented on #24108
Thanks for reporting @anatoly21 and this is indeed a bad bug.

This problem is quite easily reproducible and affects all 5.x releases.
The cause of the memory issues / OOM is that the index reader for the memory index isn't closed,
which then causes the cache entries in `BitsetFilterCache` to never get cleaned up.

Prior to 5.0 the percolator had its own search context (PercolateContext), which al

[2017-04-14 15:08] anatoly21 commented on #24108
Thank you.

[2017-04-14 15:11] HenleyChiu commented on #22551
Could running Kibana cause index stats collection to run, and if so would disabling Kibana "fix" this issue?

[2017-04-14 15:13] HenleyChiu commented on #22551
@jasontedor By "disabling stats collection" you mean set this config value to false: xpack.monitoring.enabled ?

[2017-04-14 15:14] javanna commented on #24065
We discussed this as part of FixItFriday. We have REST spec for urls and params, but we have no spec for request and response bodies. It would be nice to have a body spec not only for the mappings API, but for all of our API. That could help the knowledge base in sense, and help high level clients generating requests and reading responses back. It could also be used as some sort of documentation.

[2017-04-14 15:14] #24065 closed

[2017-04-14 15:19] tbrooks8 commented on #23893
@djschny I can give you the development perspective and then maybe @clintongormley can add anything if he wants.

Currently you have to manually define aliases for remote clusters either in the config or with settings requests. Those aliases are are what we use for matching.

The problem is that we do not have a predefined alias for the local cluster. So while we could add behavior to always searc

[2017-04-14 15:34] javanna commented on #24104
thanks for raising this @olcbean ! Indeed the Delete api is a no-op in case the index expression doesn't match any index. I think this is the intended behaviour, but it is odd that the default is lenient, as we throw an exception against a non existing concrete index, but we don't if an index expression doesn't match anything. That is because ignore_unavailable is set to `false` by default, while

[2017-04-14 15:37] spalger commented on #22438
@Hronom follow https://github.com/elastic/kibana/issues/11014

[2017-04-14 15:37] javanna commented on #24104
Feel free to send a PR @olcbean and ping me for review.

[2017-04-14 15:44] javanna commented on #24031
We discussed this as part of FixItFriday, and we would like to align open/close index api to the (desired) behaviour of the delete index api as explained in https://github.com/elastic/elasticsearch/issues/24104#issuecomment-294175335. Specifically, we would like to make open/close a no-op in case there are no matching indices in case `allow_no_indices` is set to `true`. That said, the default beha

[2017-04-14 15:44] javanna commented on #24031
Once more, @olcbean feel free to send a PR and ping me for review.

[2017-04-14 15:49] jklap opened #24113 "Request breaker leaking on connection dropped/reset"
**Elasticsearch version**: 5.2.2

**Plugins installed**: [search-guard-5]

**JVM version**: OpenJDK 1.8.0_121

**OS version**: Red Hat Enterprise Linux Server release 7.3 (Maipo)

**Description of the problem including expected versus actual behavior**:

We are currently running Elastic with fluentd pushing in log data via a bulk index. Yesterday we ran some large tests (~1 million rows of log dat

[2017-04-14 16:12] jasontedor commented on #24113
I do not doubt you have the version correct but I must double check, are you sure that you're on version 5.2.2 everywhere? I must double check because I think we fixed this exact issue in 5.2.2 (cf. #23310). Does this reproduce *without* search-guard-5 installed?

[2017-04-14 16:18] #24018 closed

[2017-04-14 16:29] jklap commented on #24113
Always good to double check.

Problem with having a dev instance.

Production, where this problem is occurring, is running **5.2.1**

I should be able to bump production up to 5.3 this coming week and can verify it's addressed there!

[2017-04-14 16:35] jasontedor commented on #24113
Okay, this is a *huge* sigh of relief for me, and I appreciate you double checking and reporting back. The bug definitely exists in 5.2.1, I think what you're experiencing is definitely fixed in 5.2.2 so if you upgrade there or even to 5.3.0 you'll get the fix. I would really appreciate you verifying after upgrading when you have a chance. This was an incredibly nasty bug to track down!

[2017-04-14 16:39] jasontedor commented on #22551
@HenleyChiu Yes, if you're using X-Pack monitoring, it will collect stats and that's how you would disable it to stop this issue (or you can upgrade to 5.1.2 where we have fixed this).

[2017-04-14 16:52] olcbean commented on #24104
@javanna thanks :)
I will change the delete to a no-op in both cases.

[2017-04-14 17:21] DimitrisParaskevaidis commented on #24087
I was thinking about decoupling all anonymous classes, to separate files. I would make sure that tests should succeed after all small steps.

[2017-04-14 17:52] pickypg opened #24116 "HTTP _bulk allows "_id": "" to set empty _id"
Tested on master, 5.3, 5.2, 5.0, and 2.3:

[code]

This creates **two** documents:

[code]

This should create 3 documents, all with flake IDs (like the third document here). It's a bug because you can't actually `GET` a document with an empty `_id`.

[code]

spits out:

[code]

[2017-04-14 18:05] jasontedor commented on #24116
It's always been like this (at least back to the 1.x series), it's not just a since 5.x thing. I do agree it's problematic though, for example you can not get such a document via the get API.

Maybe, or perhaps it should simply be rejected as an invalid request?

[2017-04-14 18:06] pickypg commented on #24116
@jasontedor

Yeah, I've been slowly testing more and more builds.

That works for me too, specifically because individual indexing requests with a blank `_id` are rejected:

[code]

[2017-04-14 18:09] jasontedor commented on #24116
The reason I think that it should be rejected is because allowing `_id: ""` is a form of leniency. An application bug could easily accidentally introduce `_id: ""` on a request and if I were an application developer accidentally introducing such a bug I would want Elasticsearch to reject it. We already have a way to specify auto-generated IDs: do not send an explicit ID on the request, I don't thi

[2017-04-14 18:21] gmoskovicz commented on #24116
Agree that we should reject empty ID's. By the way, the issue is only with empty ID's, because if it's a space, you can still get the document by ID:

[code]

[code]

TBH, not sure if it should be rejected, or treated like it needs to auto-generate the ID. That's another option, right?

[2017-04-14 18:29] jasontedor commented on #24116
Yes, I do not think that we should reject a space as the `_id` as those can still be obtained exactly as you say.

I do not think so, that would be a breaking change.

[2017-04-14 18:31] jasontedor commented on #24116
The issue of `_id` being empty however is already broken, there's nothing to break but rather to fix.

[2017-04-14 18:50] davidklebanoff opened #24117 "Update the More Like This Query documentation for the unlike parameter"
Update the documentation on the ["More Like This Query" page](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-query.html#_document_input_parameters) to make it clear that the "unlike" parameter can use the Multi GET API, just like the "like" parameter.

Also, in the 1st example on the page the "like" parameter is being used like I imagine "like_text" is supposed to be

[2017-04-14 19:01] davidklebanoff commented on #24117
Nevermind. It's not immediately obvious from the documentation, but I believe this can be achieved with the current API design. Perhaps clearer documentation on [this page](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-query.html#_document_input_parameters) could make it more apparent that unlike parameter can also use the Multi GET API.

[2017-04-14 19:15] jasontedor commented on #24116
I opened #24118.

[2017-04-14 19:23] davidklebanoff opened #24119 "Add independent boosting of More Like This Query's like vs unlike parameters"
The More Like This Query has parameters for querying documents both **like** and **unlike** given text or documents. It would be nice if these parameters (like and unlike) could be boosted individually so that a balance of false-negatives vs false-positives can be configured through fine tuning of the two parameters.

[2017-04-14 19:25] djschny commented on #23893
Thanks for the clarification @tbrooks8, I misinterpreted and didn't realize that the adding of localhost in the remote clusters list was more a temporary workaround until the longer term `_local_` is available.

Thanks!

[2017-04-14 19:44] #23848 closed

[2017-04-14 19:45] jasontedor commented on #23848
Thank you @dakrone!

[2017-04-14 19:58] HenleyChiu commented on #23199
@speedplane Are you running Kibana or X-Pack too by any chance?

[2017-04-14 20:04] speedplane commented on #23199
@HenleyChiu Yup. Kibana 5.2 with monitoring enabled. Not the full X-Pack. Here's the relevant section from my `kibana.yaml` if it helps:

[code]

[2017-04-14 20:09] HenleyChiu commented on #23199
I saw your comment on issue 22551: https://github.com/elastic/elasticsearch/issues/22551

They seemed to have ignored the 2nd comment by the OP about the ShardLockException. They mentioned disabling monitoring fixes the IllegalStateException, but I wonder if disabling it also fixes the ShardLockException as well?

[2017-04-14 20:26] yuloh commented on #24065
Alrighty,  Thanks for the quick response and all the info!

[2017-04-14 20:44] seang-es opened #24120 "Preserve log4j2.properties in RPM/deb installation"
It looks like the packaging scripts currently preserve elasticsearch.yml, jvm.options, and logging.yml.  log4j2.properties is not in the list of preserved files, so if it is customized it will be overwritten during an upgrade.

[2017-04-14 23:29] jasontedor commented on #24120
This does not sound right, we [mark](https://github.com/elastic/elasticsearch/blob/v5.3.0/distribution/build.gradle#L407) it as a configuration file and I'm pretty sure that we have a test for it. I will check on Monday.

[2017-04-14 23:31] jasontedor commented on #24120
What version was the upgrade from and to?

[2017-04-15 00:20] zcola opened #24122 "A node "Received response for a request that has timed out, sent [24704ms] ago, timed out [9704ms] ago, action [cluster: monitor / nodes / stats [n]]," stuck entire cluster"
**Elasticsearch version**:
2.4.4
**Plugins installed**: []
analysis-ik, graph, kopf, license, marvel-agent, repository-hdfs
**JVM version**:
ocr 1.8.0_66
**OS version**:
Debian 8
**Description of the problem including expected versus actual behavior**:
A node restores the entire cluster from time to time or rejoins the cluster after a few minutes from the cluster
**Steps to reproduce**:
 1.Such as

[2017-04-15 01:05] abeyad commented on #23199
@HenleyChiu If you are encountering the `ShardLockObtainException` frequently, it could be a cascading effect as a result of that bug.  The `ShardLockObtainException` itself can happen as a result of other causes too though, so its no guarantee, but given that #22551 causes frequent disconnects of the node, which can lead to `ShardLockObtainException` if the cluster is unstable, then its probably

[2017-04-15 11:19] jjfalling opened #24123 "Slow snapshots to S3"
**Elasticsearch version**: 2.4.2

**Plugins installed**: [] Cloud AWS / Repository S3

**JVM version**: OpenJDK 1.8

**OS version**: Debian 8

**Description of the problem including expected versus actual behavior**:

Snapshots to S3 are significantly slower then transferring files to S3 using the AWS cli. Uploading a test file using the AWS cli gets ~230mb/s but the snapshots get only around an a

[2017-04-15 12:18] bandikishores commented on #22374
@nexeh When must/must_not are present, then minimum_should_match should be set. I added this attribute and it worked as expected.
Hence closed the issue.

[2017-04-15 12:48] jasontedor commented on #24120
I tested this and everything behaved as expected. Specifically, I installed Elasticsearch 5.2.1, edited the log4j2.properties, upgraded to Elasticsearch 5.2.2, and the modifications that I made were still present. I then upgraded to Elasticsearch 5.3.0, and the modifications that I made were still present. The reason that I tested a second upgrade is because we shipped a new log4j2.properties file

[2017-04-15 12:49] jasontedor commented on #24120
@seang-es We will need more details including a reproduction to further triage this one.

[2017-04-15 14:07] olcbean commented on #24104
Errr I meant to write exactly the opposite :)

I will proceed to change the default for `allow_no_indices` to a `false` in 6.0, and also adjust `delete` not matching an index to
 - throw when `allow_no_indices` is false
 - become a no-op when `allow_no_indices` is true

[2017-04-15 14:36] #24116 closed

[2017-04-15 15:42] javanna commented on #24104
hey @olcbean the second part was about open/close rather than delete right?

[2017-04-15 17:40] shakdoesgithub commented on #21500
Hi, Is there a workaround for this? We are using AWS ES and they are on ES Version 5.1 and we're not sure when they'll migrate to a fixed version of ES. We are running into this issue, any help would be awesome!

[2017-04-15 18:48] olcbean commented on #24104
Well, I thought for both:) Maybe I misunderstood you, @javanna. Let me elaborate a little bit.

If I just change the default for `allow_no_indices=false` then both `DELETE test` and `DELETE test*` will throw (ok) but
`DELETE test?allow_no_indices=true` throws as
`DELETE test*?allow_no_indices=true` will succeed.

So the change will simply push the inconsistency to appear only when the `allow_no_in

[2017-04-15 22:20] vineet01 commented on #18272
If someone else is facing the same ..

I got the same error as OP with:

- Elasticsearch 5.2.2,
- Oracle JDK 1.8.0_112,
- Noexec on /tmp,
- Selinux in enforcing mode,
- Explicitly defined path for jna.tmpdir without noexec,
- CentOS 6.8

The reason of failure was that the system user with which ES was running did not have an existing home directory.

Once I created the homedir, it started as expec

[2017-04-16 02:00] bigdrum commented on #21825
What's the alternative of geo_distance_range? The document "Distance aggregations or sorting should be used instead" is kind of vague.

[2017-04-16 09:55] niels1189 opened #24124 "Logstash unable to convert date to string correctly"
**Elasticsearch version**: 5.3.0

**Plugins installed**: N/A - (Elasticsearch, Kibana & Logstash setup)

**JVM version**: 1.8.0_121

**OS version**: Ubuntu 16.04.2 LTS

**Description of the problem including expected versus actual behavior**: Expected conversion from date to string to allow parsing of invalid dates.

**Steps to reproduce**:
 1. Attempt to import data with valid & invalid dates (i.

[2017-04-16 10:21] dadoonet commented on #24124
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-04-16 10:21] #24124 closed

[2017-04-16 16:17] niels1189 commented on #24124
https://discuss.elastic.co/t/logstash-unable-to-convert-date-to-string-correctly/82499
Thread created, hoping this is a solvable issue.

[2017-04-16 18:08] sumitsaxena21 opened #24125 "Painless throws null pointer in parsing analyzed field"
**Elasticsearch version**: 5.1

**Plugins installed**: [painless]

**JVM version**: 1.8

**OS version**: AWS Elasticsearch

**Description of the problem including expected versus actual behavior**:

There is a bug in painless script. If sort field is not present in all the documents then it is throwing null pointer exception while executing below script
[code]
I have 100 documents and few document

[2017-04-16 18:55] nik9000 commented on #24125
Lack of a script_stack element is certainly a bug. NPE might be yours. I
have a few more script_stack issues to look at next week, so I'm happy to
look I to this one. Any chance you could figure out if the document that
causes this exception has a bill id.keyword field?

On Sun, Apr 16, 2017, 2:08 PM sumitsaxena21 <notifications@github.com>
wrote:

[2017-04-17 04:06] ertaoxu opened #24127 "Kibana does not support using tribe nodes as the primary elasticsearch connection."
my tribe node config:

node.name: elk-tribe-1
node.master: false
node.data: false
path.data: /data/es_data/
path.logs: /data/es_log/
network.host: 10.200.0.51
tribe:
  es1:
    cluster.name: xg-ops-elk-javaes-cluster
    discovery:
      zen:
        ping:
          unicast:
            hosts:
              - xg-ops-elk-javaes-1:9300
              - xg-ops-elk-javaes-2:9300
              - xg-ops-

[2017-04-17 05:00] masaruh opened #24129 "Context suggester's context doesn't work on keyword type"
**Elasticsearch version**:
5.3.0

**Description of the problem including expected versus actual behavior**:
When contest field specified by `path`  is `text` type, it works as expected. However, if it's set to `keyword` type, context is set to empty/null.

**Steps to reproduce**:
https://gist.github.com/masaruh/f217c26cf9b52ca71381b088f0e78630

It looks it's because when [CategoryContextMappng rea

[2017-04-17 07:55] dadoonet commented on #24127
Let's keep the discussion there: https://discuss.elastic.co/t/kibana-does-not-support-using-tribe-nodes-as-the-primary-elasticsearch-connection/82524/1

[2017-04-17 07:55] #24127 closed

[2017-04-17 08:21] vsiv commented on #24129
I can reproduce this as well on 5.3. I too am curious whether this is expected behavior.  Thanks.

[2017-04-17 08:26] jayqie opened #24130 "Can Field Collapsing provides total number of distinct group"
**Describe the feature**:
In the elasticsearch document, I find "The total number of hits in the response indicates the number of matching documents without collapsing. The total number of distinct group is unknown."

Now I want to know the total number of distinct group, can you provide this kind of feature in the next release?

[2017-04-17 08:43] vsiv commented on #24129
There is also a bug in the documentation. The first mapping should not have path configured since its consuming direct category values at index time.

https://www.elastic.co/guide/en/elasticsearch/reference/current/suggester-context.html

[2017-04-17 11:03] #23981 closed

[2017-04-17 11:28] pinguo-gongjunheng opened #24131 "elasticsearch 5.3.0 scroll slice api has unexpected results"
**Elasticsearch version**: 5.3.0

**Plugins installed**: [x-pack, es-discovery]

**JVM version**: oracle jdk8

**OS version**: ubuntu 16.04

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
* count on entire index
[code]
result:
[code]
* count on on shard 0
[code]
result:
[code]
* create slice scroll with shard 0:
[code]
result:
![image](https://cl

[2017-04-17 13:25] cbuescher commented on #24100
Elastic provides a [Discourse forum](https://discuss.elastic.co) for asking general usage questions like this and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-04-17 13:25] #24100 closed

[2017-04-17 16:05] nik9000 commented on #24125
Your script is throwing the NPE. I think you can work around it by checking
the null first. Even when I fix the bug your script still won't work
because it expects all documents to have an id.

On Mon, Apr 17, 2017, 11:13 AM sumitsaxena21 <notifications@github.com>
wrote:

[2017-04-17 16:30] 0xCAB commented on #24119
Looking at `MoreLikeThisQueryBuilder` and related classes, it seems the terms extracted from the `unlike` part are skipped from the final MLT query. The boost (if set) is applied to the remaining terms coming from the `like` part.
Could you elaborate on your idea? Do you suggest leaving "skipTerms" in the query and applying a different boost to them?
Maybe another approach would be to add terms fr

[2017-04-17 17:19] davidklebanoff commented on #24119
My initial intent was to allow a configurable balancing act between documents matching a combination of `like` and `unlike` ids specified in the query. However, if terms in the documents specified in the `unlike` section are skipped altogether like you describe, this raises an even bigger divergence from my desired/expected behavior.

I would expect 'unlike' documents to simply have an opposite ef

[2017-04-17 17:37] polyfractal opened #24134 "[TEST] AckIT#testOpenIndexAcknowledgement: at least one shard failed CheckIndex"
Could not reproduce this, even after a couple thousand iterations.  This test seems to sporadically fail every few months.

@simonw struggling to figure out who best to handle this, dropping in your lap sorry :/

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-unix-compatibility/os=fedora/693/consoleFull

[code]

[code]

[code]

[2017-04-17 17:44] #24041 closed

[2017-04-17 18:00] #23736 closed

[2017-04-17 18:12] eseli opened #24136 "Unexpected 'MatchNoDocsQuery' in Validate API explanation when using analyzer with common_grams"
**Elasticsearch version**: 5.3.0

**Plugins installed**: []

**JVM version**: 1.8.0_121

**OS version**: centos 7.3.1611

**Description of the problem including expected versus actual behavior**:

This began with our recent upgrade to version 5.3.0. (from 2.3.3)

Using the validate API for this match_query:

[code]

Provides this a 'MatchNoDocsQuery ' response as a query explanation:

[code]

I ex

[2017-04-17 18:28] elasticmachine opened #29773 "Watcher: Auto creation warning message on watcher history indices is misleading"
*Original comment by @ppf2:*

Customer is already using the pattern `+active-nginx-access-*,.kibana,.security,.monitoring*,.watches,.triggered_watches,.watcher-history*`

But we are still throwing the warning message:

[code]

This is because we are hardcoding only LINK REDACTED worth of watcher history indices that are allowed to be auto-created.  So we attempted to warn users that if they want m

[2017-04-17 18:57] nik9000 opened #24137 "Vagrant based bats tests should refuse to run outside of vagrant"
The bats tests are super destructive and require root. They really should only ever be run inside a machine provisioned by the `Vagrantfile`. We could use something like https://stackoverflow.com/questions/28887046/how-to-tell-if-i-am-inside-a-vagrant-host#28909819 so they refuse to start if they aren't in vagrant.

[2017-04-17 19:50] bdwyertech commented on #23236
👍

[2017-04-17 20:03] polyfractal opened #24139 "[TEST] NPE in UpgradeClusterClientYamlTestSuiteIT#"Test rolling upgrade for stored scripts between the old namespace and the new namespace""
Does not reproduce for me.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-intake/1028/console

[code]

[code]

Seems to have been caused by an NPE with the script query:

[code]

[code]

Which is weird, because that NPE seems to be here:

[code]

And I'm not sure how that NPEs?  This was on Fedora 25 / Java 1.8.0_121, perhaps this another one of those flaky NPE cases?

[2017-04-17 20:11] aleph-zero opened #24140 "[Docs] Define centroid"
I suspect that many will not know what a **centroid** is. The docs for the **geo centroid aggregation** should define what this is.

https://www.elastic.co/guide/en/elasticsearch/reference/5.3/search-aggregations-metrics-geocentroid-aggregation.html

[2017-04-17 20:33] nik9000 commented on #21062
That last failure was just a timing burble. I've pushed b2b1f2f37f24363b18d1e5559f538d94b0892847 so we'll be ok with such burbles in the future.

[2017-04-17 21:29] pickypg commented on #17247
This is now defunct with the desire to avoid template inheritance. Closing.

[2017-04-17 21:29] #17247 closed

[2017-04-17 22:39] pickypg commented on #24057
@jpountz Will this effectively lead to the original usage of field stats? Naturally it's still a useful API for what it does, but is that the intent?

[2017-04-17 22:41] rjernst opened #24143 "Deprecate and remove path style access setting in s3 repository"
This setting should not be necessary, since we completely control our internal use of the s3 client. We should always use path style access.

[2017-04-17 22:53] nik9000 commented on #24094
It *looks* like one of those creepy null pointer exceptions on fedora. The build is gone and it doesn't reproduce too. So I'm gonna close this and hope we catch the next one. Or we get to the bottom of fedora's NPEs....

[2017-04-17 22:53] #24094 closed

[2017-04-17 23:01] nik9000 commented on #24112
[code]

It lost half the docs.....

[2017-04-17 23:04] jasontedor commented on #24139
Thanks for digging @polyfractal. I agree this is another spooky NPE and I don't think we need a separate issue for these as we are currently tracking it elsewhere.

[2017-04-17 23:04] #24139 closed

[2017-04-18 01:27] nik9000 commented on #24112
This build has long since gone off the CI machine and I don't have enough information for now. It looks like the shard we wanted to query was not available and I don't have enough information to track down why.

[2017-04-18 01:27] #24112 closed

[2017-04-18 01:27] #24140 closed

[2017-04-18 02:18] #8362 closed

[2017-04-18 02:59] jasontedor commented on #24131
@jimczi Can you take a look?

[2017-04-18 02:59] jasontedor commented on #24130
@jimczi Can you take a look?

[2017-04-18 03:01] jasontedor commented on #24136
@colings86 Can you take a look?

[2017-04-18 03:02] jasontedor commented on #24129
@colings86 Can you take a look?

[2017-04-18 03:03] jasontedor commented on #24122
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-04-18 03:03] #24122 closed

[2017-04-18 03:04] jasontedor commented on #24123
@tlrx Can you take a look?

[2017-04-18 03:38] pinguo-gongjunheng commented on #24131
if need any other information please contact me feel free.

[2017-04-18 08:19] nilabhsagar commented on #23476
Hi, Any update on this feature?

[2017-04-18 08:26] jimczi commented on #24131
@pinguo-gongjunheng I am not able to reproduce. When I set the preference on a specific shard, the search returns results from this shard only even when I use the slicing. I tried the following reproduction:

[code]

I tried with ES 5.3.0 and it works as expected. Did I miss something in your example that triggers the problem ?

[2017-04-18 08:59] liuguangmin opened #24151 "elasticsearch highlight lose Chinese right bracket"
I user ES highlightCompont ,encounter a problem
my hightlight's config below:(the highlighter type:plain)
"number_of_fragments": 1,
"fragment_size": 150,
"no_match_size": 150,
"require_field_match": False，
“field”:"title"

my request is http://127.0.0.1:9900/search/iyiou?query=信良记&debug=1&fields=title

And the response:
{
"status": "WARN",
"resultdata": [
{
"itemid": 41859,
"title": "首发丨餐饮供应链品牌<fo

[2017-04-18 09:09] jimczi commented on #24136
The `CommonGramsQueryFilter` has a bug introduced with the release of 5.2.0. The fix is in Lucene and will be part of the next bugfix release for 5.3: eg. 5.3.1:
https://issues.apache.org/jira/browse/LUCENE-7698
Unfortunately the bug is not on the validate API but rather on the query builder which creates an empty query when common grams is used. There is no workaround so only the upgrade to 5.3.1

[2017-04-18 09:09] #24136 closed

[2017-04-18 09:14] jimczi commented on #24130
@jayqie the total number of distinct group is unknown simply because it would be too costly to compute. The `collapsing` is done on the `top_hits` only in order to provide a fast and accurate solution. Returning the accurate number of distinct groups would defeat the purpose as it would be slow and costly to compute.
Though you can use the `cardinality` aggregation in the same query to get an appr

[2017-04-18 09:14] #24130 closed

[2017-04-18 09:31] PortaltechGithub commented on #23978
Sry, next time i double check the repo!!!

[2017-04-18 09:36] javanna commented on #24104
sounds good @olcbean you got it :)

[2017-04-18 09:38] giocaputo opened #24152 "Keyword type: aggregation case insensitive"
I have a problem with keyword type:
can i aggregate a a file with a keyword type wihout losing the case and sorting case insensitive?

Using the normalizer and lowercase filter lose the the case.
using the text type  must enable fielddata that can consume a lot of heap space, especially when loading high cardinality

**Elasticsearch version**: 5..2

[2017-04-18 09:39] colings86 commented on #24129
I've reproduced this on the current master branch and to me it looks like a bug. @areek are you able to take this?

[2017-04-18 09:45] jimczi commented on #24152
Please ask questions on the forum; Elastic reserves GitHub for verified bug reports and feature requests.
For your issue since aggregations and sorting use the `doc_values` to extract the value for each document you'll have to use a copy field with a different config for the field sort.

[2017-04-18 09:45] #24152 closed

[2017-04-18 10:02] orange-jacky opened #24153 "update script error"
**Elasticsearch version**:
elasticsearch-2.3.5.tar.gz

**Plugins installed**: []
modules [reindex, lang-expression, lang-groovy], plugins [license, delete-by-query], sites []

**JVM version**:
java version "1.8.0_65"
Java(TM) SE Runtime Environment (build 1.8.0_65-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.65-b01, mixed mode)

**OS version**:
[search@search-02 es1]$ lsb_release  -a
LSB Versi

[2017-04-18 10:29] jasontedor commented on #24153
This does not reproduce:

[code]

Typically when we see these kinds of problems, it's due to security manager permissions. Have you modified your security permissions? It's clear that there is a reproduction step that you are leaving out. If you could open a post on the [forum](https://discuss.elastic.co), someone could try to work through the issue with you. Since Elastic reserves GitHub only for

[2017-04-18 10:29] #24153 closed

[2017-04-18 11:03] jimczi commented on #24151
Thanks @liuguangmin
For no-highlight snippets  the `plain` highlighter discards any character after the last detected word that fits into the `match_no_size` window. This is why `) ` is missing in the highlight response.
The `fvh` has a different behavior and keeps all characters as long as they are in the `match_no_size` range.
In 5.3.0 we've added a new highlighter called `unified` that should i

[2017-04-18 11:03] #24151 closed

[2017-04-18 11:35] Sanne commented on #24069
@javanna sure, it's trivial but I'm happy to send a PR. I hope you won't need a reproducer? Developing one to run reliably would take much more time.

[2017-04-18 11:40] javanna commented on #24069
@Sanne I see what you mean, send the fix and I will see whether it's possible to write a test for it or not.

[2017-04-18 11:49] liuguangmin commented on #24151
THx I have solve the problem

[2017-04-18 12:55] polyfractal commented on #24139
:+1:

[2017-04-18 12:55] jasontedor commented on #24050
I agree with this @nik9000. I started on a subproject that includes the transport client (#24147), and I think that the low-level and high-level REST clients can easily be added to that as follow-ups.

[2017-04-18 13:09] javanna commented on #22645
thanks for getting back to us. Closing.

[2017-04-18 13:09] #22645 closed

[2017-04-18 13:11] javanna commented on #23281
No further feedback. Closing.

[2017-04-18 13:12] #23281 closed

[2017-04-18 13:14] javanna commented on #23429
Closing due to lack of feedback. Feel free to reopen whenever you can provide the requested info that would help diagnosing the issue.

[2017-04-18 13:14] #23429 closed

[2017-04-18 13:17] clintongormley commented on #21825
yes

[2017-04-18 13:17] javanna commented on #23893
@tbrooks8 should this issue be closed?

[2017-04-18 13:18] javanna commented on #23856
@talevy what do you think?

[2017-04-18 13:21] javanna commented on #24117
hi @davidklebanoff would you be willing to send a PR to clarify our docs?

[2017-04-18 13:28] clintongormley commented on #23893
Closed by https://github.com/elastic/elasticsearch/pull/23985

[2017-04-18 13:49] javanna commented on #23610
Thanks for opening this @mrec . Good find, the transport client ends up exposing internal objects and state that is not available otherwise through REST.

Once you move to REST, we will only be able to return what we get back via the REST layer, hence the java REST client will only return what all the other REST language clients do.

We are making the effort to reuse the same request and response

[2017-04-18 13:49] #23610 closed

[2017-04-18 13:52] jpountz commented on #23798
This has been fixed upstream and should be fixed in log4j 2.9.

[2017-04-18 13:57] #23731 closed

[2017-04-18 13:58] hellokangning opened #24159 "Still use default jvm.options even start with -Edefault.path.conf"
**Elasticsearch version**:
5.3

**Plugins installed**:
[x-pack]

**JVM version**:
openjdk version "1.8.0_111"
OpenJDK Runtime Environment (build 1.8.0_111-8u111-b14-3~14.04.1-b14)
OpenJDK 64-Bit Server VM (build 25.111-b14, mixed mode)

**OS version**:
Ubuntu 14.04, and install Elasticsearch with Debian Package.

**Description of the problem including expected versus actual behavior**:

`/etc/elas

[2017-04-18 14:18] jasontedor commented on #24159
Setting `path.conf` controls the path of the Elasticsearch configuration file, it is never parsed until the JVM has already started where it's too late to find `jvm.options` (and I'm opposed to complicating the startup scripts to parse this before starting the JVM). If you want to specify a different path for jvm.options, you have to set the environment variable `ES_JVM_OPTIONS` to the full path o

[2017-04-18 14:18] #24159 closed

[2017-04-18 14:53] orange-jacky commented on #24153
In fact,I countered this issue today,i build two cluster,one is produce ,the other is develop,the same os ,the same es and the same configure. The produce is ok,and the dev has the issue. It makes me fuzzyed

[2017-04-18 16:11] marshall007 commented on #15448
@colings86 I think you're saying that the intended behavior is for `includes` to take precedence over `excludes`, but this does not appear to be the case (at least in `v2.4.3`).

The following query, for example, returns an empty `_source` object in all cases:

[code]

I think there are a few issues here:

1. It appears that by specifying a value for `includes`, the default behavior becomes "omit

[2017-04-18 16:15] talevy commented on #23856
this makes sense, I'll get to it soon!

[2017-04-18 17:26] laurikari commented on #21283
We would definitely use this.

[2017-04-18 19:35] mrec commented on #23610
I'm not sure what interface you'll be reusing in this case. `SearchResponse.getAggregations()` doesn't type things beyond the uselessly vague `Aggregation`, so you need to cast it to *something*. Currently I'm casting it to `Percentiles` which is already an interface and exhibits the behaviour described. I'm not casting to or otherwise relying on `InternalTDigestPercentiles` outside of unit test s

[2017-04-18 20:49] javanna commented on #23610
Of course some casting will be needed, `Percentiles` is the interface that we are implementing, so casting to it will be ok. But we will only be able to return what gets returned via REST through its `Percentiles.percentile(double percent)` as you figured, rather than anything that is exposed through the internal state that is only serialized back via transport layer and not available when using R

[2017-04-18 21:03] nik9000 commented on #24125
@sumitsaxena21 your words talk about a sort but your example is an aggregation.

[2017-04-18 21:05] nik9000 commented on #24125
Ah, bucket sort script.

[2017-04-18 21:12] nik9000 commented on #24125
OK. I still can't reproduce this. Here is the script I'm using:
[code]

I get a null pointer exception all right, but it has an obvious script_stack:

[code]

As far as I can tell this is working perfectly. If you want to handle null in the script that is up to you. Like this:
[code]

Can you put together a complete reproduction, like the one I pasted in the top of this comment? Without something

[2017-04-18 21:34] jdconrad opened #24165 "CI Failure: org.elasticsearch.discovery.zen.ElectMasterServiceTests.testHasEnoughNodes"
Reproduce locally.

CI Failure:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=amazon/856/console

Reproduce With:
gradle :core:test -Dtests.seed=C6257E620EBB86EE -Dtests.class=org.elasticsearch.discovery.zen.ElectMasterServiceTests -Dtests.method="testHasEnoughNodes" -Dtests.security.manager=true -Dtests.locale=it -Dtests.timezone=Europe/Brusse

[2017-04-18 22:02] zarucki opened #24166 "Separator not added when adding raw values within array context in XContentBuilder"
Not confident enough to fix it myself and submit as pull request.

Failing test case to add to XContentBuilderTests:
[code]

When run on master I get:

[2017-04-18 22:07] #20240 closed

[2017-04-18 22:17] jdconrad opened #24167 "CI Failure: org.elasticsearch.recovery.RelocationIT testIndexAndRelocateConcurrently"
Unable to reproduce locally.

CI Failure:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos/852/consoleFull

Reproduce With:
gradle :core:integTest -Dtests.seed=4856A7A6357BA799 -Dtests.class=org.elasticsearch.recovery.RelocationIT -Dtests.method="testIndexAndRelocateConcurrently" -Dtests.security.manager=true -Dtests.locale=sk -Dtests.timez

[2017-04-19 00:45] nik9000 commented on #24125
I wonder if this is http://jawspeak.com/2010/05/26/hotspot-caused-exceptions-to-lose-their-stack-traces-in-production-and-the-fix/

[2017-04-19 02:16] ertaoxu commented on #24127
Thanks

[2017-04-19 05:49] pinguo-gongjunheng commented on #24131
badly our cluster has re-create by ops, in new cluster we can not reproduce this issues either. just close it and re-open if we enable reproduce

[2017-04-19 05:49] #24131 closed

[2017-04-19 05:49] dizzzyroma opened #24172 "multiple update of one document in one _bulk too slow"
Hi,

Multiple update of one document in one _bulk is too slow

Example:

[code]

**Elasticsearch version**: 5.3, 5.2

**Plugins installed**: []

**JVM version**: 1.8.0_121-b13

**OS version**:Ubuntu 16.04.2 LTS

bulk request with 75 updates takes near 6 seconds on our test index that runs on c3.xlarge (4 CPU, 8 GB, documents in inex 14860619, index size 20GB) .
bulk request with 150 updates takes

[2017-04-19 07:20] rjernst commented on #13967
Python scripting has been removed in master (6.0).

[2017-04-19 07:20] #13967 closed

[2017-04-19 07:20] rjernst commented on #13370
Python scripting has been removed in master (6.0).

[2017-04-19 07:20] #13370 closed

[2017-04-19 07:33] rjernst commented on #24072
The final release of gradle 3.5 works for me on master. I'm closing this, but please reopen if you can reproduce.

[2017-04-19 07:33] #24072 closed

[2017-04-19 08:21] fbaligand commented on #23227
Hi @clintongormley, @jpountz, @nik9000, @jimczi

I just submitted a PR which adds the new boolean option "enable_position_increments", as described by @nik9000.
By default, option value is true (which means that positions increments are counted).
And if option is set to false, only result tokens (after full analysis) are counted.

[2017-04-19 08:43] jpountz commented on #23798
According to them, 2.9 is not going to happen anytime soon. Forking the fixed class does not seem easy either as it relies on several pkg-private classes, so I'm leaning towards waiting for 2.9 to be released since I don't have the cycles to do any better.

[2017-04-19 09:06] carlholmboe commented on #11328
I am curious to know the status on support for SpanQueryParser in ES.
My company, Retriever, is doing media monitoring on behalf of our customers in the Nordic countries by means of a large number of predefined queries.
These can be very complex as they are set up by our professional staff.
We are currently using Fast ESP Alerting and plan to migrate to ES Percolator.
Many of the queries contains

[2017-04-19 09:24] danielmitterdorfer commented on #24165
Also on 5.x: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.4+multijob-unix-compatibility/os=fedora/17/console

[2017-04-19 09:29] danielmitterdorfer commented on #24165
This is fixed by https://github.com/elastic/elasticsearch/commit/92af92ab97de454cf5141506fea07bd8f2c4edee (5.x) and https://github.com/elastic/elasticsearch/commit/8758c541b35bda1a6494ba703b450517027d5e9f (master).

[2017-04-19 09:29] #24165 closed

[2017-04-19 09:33] jimczi commented on #24172
In 5.x the global ordinals are built during the refresh:
https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-parent-field.html#_global_ordinals
This is a trade off to make sure that the first query with parent/child on the new searcher can run fast. You can disable this behavior as explained in the documentation or you can disable refresh when you're bulk updating your index.
A

[2017-04-19 09:33] #24172 closed

[2017-04-19 10:29] danielmitterdorfer opened #24179 "RemoteClusterConnectionTests.testCloseWhileConcurrentlyConnecting sporadically fails"
Failure trace ([source](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/2507/console)):

[code]

* Affected branches (based on builds that failed in the past): master, 5.3
* Reproduction: `gradle :core:test -Dtests.seed=45ECFED169707D4D -Dtests.class=org.elasticsearch.action.search.RemoteClusterConnectionTests -Dtests.method="testFilterDiscoveredNodes" -Dtests.securit

[2017-04-19 11:07] eirc opened #24181 "Shard allocation by disk"
**Describe the feature**: Ability to separately configure shard allocation by disk on same node.

What I'd like to achieve is to route some shards to spinning disks and some to SSDs. Currently this can be achieved by routing shards on the node level and having full nodes with only one type of disk or the other.

Is this restriction necessary? Could the API and backend provide the functionality of

[2017-04-19 11:39] jimczi commented on #24172
My previous comment is not entirely true. The refresh is triggered by the updates itself so disabling the refresh would not solve your problem. In 5.x we rely on refresh to update a document that is not flushed yet:
https://github.com/elastic/elasticsearch/pull/20102
This change coupled with the fact that we eagerly load the parent/child ordinals on refresh makes your ingestion rate slow. I'd sugg

[2017-04-19 12:00] jasontedor commented on #24181
You can do this per index by setting `path.shared_data` and then using the index setting `index.data_path`. Per shard does not make much sense (yes, with custom routing it could but we are still not going to go down that path of more complexity).

[2017-04-19 12:00] #24181 closed

[2017-04-19 12:07] aanchal9 commented on #15685
Is this still an issue or is it resolved?

[2017-04-19 12:12] nik9000 commented on #15685
I believe this is resolved. I'll double check but I believe we can close
it.

On Wed, Apr 19, 2017, 8:08 AM aanchal9 <notifications@github.com> wrote:

[2017-04-19 12:12] #24058 closed

[2017-04-19 12:17] eirc commented on #24181
Wow thanks hadn't realized that! Sorry for the useless issue then :)

[2017-04-19 12:28] jasontedor commented on #24181
You're welcome. I think it's not useless, it will help future passerbys from search engines looking for the same as this is not well-known functionality. We do need to rename the setting `path.shared_data`, it is poor with its legacy being in shadow replicas which are deprecated in the 5.x series and have been removed for 6.0.0.

[2017-04-19 12:31] dliappis commented on #24058
Closed by #24092

[2017-04-19 12:31] eirc commented on #24181
Yea I was just reading the deprecated shadow replicas documentation. As I understand it these settings were added to enable that feature but after it's removal the settings will stay and will be be able to be used for other usages such as mine?

[2017-04-19 12:40] jimczi commented on #6720
Index time sorting has landed in master:
https://github.com/elastic/elasticsearch/pull/24055

There are still missing pieces that we need to add in order to make index sorting useful:

- Documentation regarding when to (not) use index sorting and how

- Early termination for queries that rely on the index sort

- Faster sorted scroll queries when the query sort matches the index sort.

[2017-04-19 12:51] marius-dr commented on #21101
+1 for this. It helps users that were affected by the removal of _timestamp field.

[2017-04-19 12:53] jasontedor commented on #24181
That's our intention, yes.

[2017-04-19 12:53] dizzzyroma commented on #24172
Thanks for answer I create thread for this https://discuss.elastic.co/t/multiple-update-of-one-document-in-one--bulk-too-slow/82885
I research it

[2017-04-19 12:57] aanchal9 commented on #15685
Ok thanks.

On Wed, Apr 19, 2017 at 5:42 PM, Nik Everett <notifications@github.com>
wrote:

[2017-04-19 12:58] aanchal9 commented on #3890
Is it still an issue?

[2017-04-19 13:02] javanna commented on #3890
@aanchal9 yes it is, there is a PR open that closes it (#23844). Why are you asking?

[2017-04-19 13:08] danielmitterdorfer opened #24185 "integTestCluster times out in :modules:percolator"
failure trace ([source](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/2509/consoleFull)):

[code]

This looks like the node failed to start (the next log line I'd expect is `[INFO ][o.e.d.DiscoveryModule    ] [node-0] using discovery type [zen]`) and then timed out after 60 seconds (which is the currently configured timeout in `ClusterFormationTasks`).

[Full conten

[2017-04-19 13:20] aanchal9 commented on #3890
It was assigned to me on CodeTriage so I asked.

[2017-04-19 13:24] aanchal9 commented on #6810
Is it still an issue?

[2017-04-19 13:35] jimczi commented on #6810
We're moving away from the `plain` highlighter and plan to deprecate it in favor of the `unified` highlighter. Therefore I am closing this issue due to lack of activity, please open a new issue targeting the `unified` highlighter if you're still after this feature.

[2017-04-19 13:35] #6810 closed

[2017-04-19 13:39] jasontedor commented on #3890
If you're looking for an issue, instead of using CodeTriage, I would recommend looking at our contributing guidelines, and finding issues that have at least the adoptme label, and the low-hanging-fruit label if you're just getting started.

[2017-04-19 13:44] scottf commented on #21774
Any suggestion on WHAT to set the heap size and thread stack size? The documentation link says nothing about appropriate values. Also, I wonder why good defaults are not set, or even where there is a discussion about these settings.

[2017-04-19 13:52] scottf opened #24187 "Failed to start elasticsearch service"
I have the same questions posted in https://github.com/elastic/elasticsearch/issues/21774

Unfortunately 21774 is closed and DOES NOT answer the question. It points us to documentation

[code]
on HOW to change the values, but does not indicate WHAT appropriate values are. Also, WHY are there no reasonable defaults that run.

This doc on heap size doesn't help either.
[code]

Also my JAVA_HOME is p

[2017-04-19 14:08] jasontedor commented on #24187
It's not clear exactly what your issue is, you should post a complete issue instead of having to surmise it by following links to other issues. I see your question:

Heap size is up to your use case, stack size is configured by default now assuming a 64-bit platform. You can change these in the [jvm.options file](https://www.elastic.co/guide/en/elasticsearch/reference/5.3/setting-system-settings.h

[2017-04-19 14:09] jasontedor commented on #21774
@scottf Open a topic on the [forum](https://discuss.elastic.co) if the [guidance](https://github.com/elastic/elasticsearch/issues/24187#issuecomment-295282939) given in #24187 is not enough for you.

[2017-04-19 14:39] danielmitterdorfer opened #24189 "org.elasticsearch.http.netty4.Netty4ClientYamlTestSuiteIT.test fails"
Example build failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.1+multijob-unix-compatibility/os=oraclelinux/206/consoleFull

Example trace:

[code]

* Branch 5.1
* Reproduction line: `REPRODUCE WITH: gradle :modules:transport-netty4:integTest -Dtests.seed=14C8E6DEC5497F59 -Dtests.class=org.elasticsearch.http.netty4.Netty4ClientYamlTestSuiteIT -Dtests.method="test {yaml=crea

[2017-04-19 14:57] jasontedor commented on #24189
The JVM crashed with a segmentation fault in a compiler thread:

[code]

[2017-04-19 14:57] #24189 closed

[2017-04-19 14:58] aanchal9 commented on #3890
Ok thanks. That is of great help. Will look into contributing guidelines.

On 19 Apr 2017 7:09 p.m., "Jason Tedor" <notifications@github.com> wrote:

[2017-04-19 15:08] danielmitterdorfer opened #24191 "DiscoveryWithServiceDisruptionsIT.testIsolatedUnicastNodes: failed to reach a stable cluster of [4] nodes"
Example build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.1+multijob-unix-compatibility/os=debian/206/consoleFull

Exception trace:

[code]

* branch: 5.1
* reproduction line: `gradle :core:integTest -Dtests.seed=5DB24F622A86708D -Dtests.class=org.elasticsearch.discovery.DiscoveryWithServiceDisruptionsIT -Dtests.method="testIsolatedUnicastNodes" -Dtests.security.manager=true -

[2017-04-19 15:12] thaDude opened #24192 "gcs-repository snapshot creation times out systematically"
**Elasticsearch version**: 5.2.2
**Plugins installed**: x-pack, repository-gcs, custom update plugin
**JVM version**: 1.8.0_121
**OS version**: Debian 8.7

**Description of the problem including expected versus actual behavior**:
`gcs-repository` snapshot creation times out systematically after 20-30 mins with 1-2 shards of 63 not being snapshot correctly. It is not always the same index/shards th

[2017-04-19 15:28] jdconrad commented on #24167
@bleskes Will do.

[2017-04-19 15:41] abeyad commented on #24192
@thaDude I responded on the discussion forum post, so I'm closing this one as we reserve github for confirmed bug reports and feature requests, so we can re-open this if we determine that you're issue is a bug in Elasticsearch itself.

[2017-04-19 15:41] #24192 closed

[2017-04-19 16:43] scottf commented on #24187
maybe point me to that"active community"????
also, why doesn't the default configuration work on 64bit windows?

[2017-04-19 16:53] jasontedor commented on #24187
I did, I linked to the [forum](https://discuss.elastic.co).

It does, I don't know why you think that it doesn't.

It is solved, that issue is from 5.0.0 when we did not ship with the thread stack size set by default and it's likely that the user only needed to set that via the jvm.options. We never heard back from the user after recommending this.

Again, I encourage you to open a topic on the [f

[2017-04-19 17:29] jasontedor commented on #24185
So it's strange that the node appears to hang on startup, yet it's still alive or sending it `SIGKILL` would have failed. I think that we should take a stack dump before killing a node in this situation so we have more insight into why it's hanging.

[2017-04-19 17:39] rjernst commented on #24185
I opened #24193 so we can get jstack output when cluster startup times out.

[2017-04-19 18:42] jasontedor commented on #24185
I think we should treat this as addressed by #24193, there's nothing special about startup here (no special settings or plugins or anything) just a general startup hang that we need to watch for but there's nothing to do to address without more information.

[2017-04-19 18:42] #24185 closed

[2017-04-19 19:37] ajays1991 opened #24194 "sort on value in nested_path and nested filter fails to sort on bool filter with must"
Hi,

I would like to learn more  about the following nested_filter support for sort for sort using  nested_path to give higher value for sort with documents having nested document that  should match to bool filter.

**Query with bool filter**
[code]

**Expected Response**
[code]
My observations is that i tired following query i get the exception `parsing_exceptions` with this message `no [query] r

[2017-04-19 20:09] nik9000 commented on #20989
https://www.elastic.co/guide/en/elasticsearch/reference/current/painless-api-reference.html

[2017-04-19 20:09] #20989 closed

[2017-04-19 20:21] hemant-elastic opened #24196 "jvm.dll not found - when running elasticsearch on Windows"
**Elasticsearch version**: 5.3.0

**Plugins installed**: []

**JVM version**: 1.8.131 (JRE)

**OS version**: Windows 7

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. NO JAVA_HOME set.
 2.Public JRE is in the PATH
 3. Run elasticsearch.bat

**Provide logs (if relevant)**:
C:\ESearch\CoreDeveloper>elasticsearch\bin\elasticsearch
Error: missing

[2017-04-19 20:28] jasontedor commented on #24196
It looks like you only have the client JVM installed, you need the server VM (or remove the `-server` flag from the JVM options).

Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to any follow-up questi

[2017-04-19 20:28] #24196 closed

[2017-04-19 20:49] hemant-elastic commented on #24196
Not at all. Sorry about the wrong place of putting it.

On Wed, Apr 19, 2017 at 1:29 PM, Jason Tedor <notifications@github.com>
wrote:

[2017-04-19 21:02] jasontedor commented on #24196
You're welcome.

[2017-04-19 21:24] scottf commented on #24187
Please don't tell me to not get excited. I've been writing software for 25 years, and I already burned an entire day before even writing here. The service version fails, the command line version runs.
Whether or not the original issue 21774 was from an old version, it makes no difference. The error messages and issue was EXACTLY the same, so apparently it is NOT fixed.

But because you won't admit

[2017-04-20 02:32] liuguangmin opened #24199 "run the elasticsearch source code in eclipse,console print:Unsupported transport.type []"
**Elasticsearch version**:5.3.0

**Plugins installed**: []

**JVM version**:1.8.0_121

**OS version**:win7

l get elasticsearch source code(gradle project) import eclipse(my eclipse is neo.3 release)
when i run org.elasticsearch.bootstrap.Elasticsearch.main()method in eclipse
the console printf:
[2017-04-20T10:21:35,231][WARN ][o.e.b.ElasticsearchUncaughtExceptionHandler] [] uncaught exception in

[2017-04-20 02:34] jasontedor commented on #24199
If you try to run it like this, you won't have any modules on the classpath that provide a networking implementation. The security manager violations come from not having a jvm.options file that disables Log4j 2 from using JMX.

[2017-04-20 02:34] #24199 closed

[2017-04-20 02:38] jasontedor commented on #24199
Also, the reason that it worked in 5.0.1 but not in 5.1.1 and beyond is because we removed local transport which provided a default implementation.

[2017-04-20 03:21] liuguangmin commented on #24185
@jasontedor

dear jasontedor I just ask you question a moment : when I solve the problem I get another question like this
I copy the elasticsearch executable file's modules to the elasticseach source(the gradle project) code's modules  when I run again: the below print:

[2017-04-20T11:12:51,779][INFO ][o.e.e.NodeEnvironment    ] [mdkCxIS] using [1] data paths, mounts [[Windows7_OS (C:)]], net usa

[2017-04-20 05:17] elasticmachine opened #29774 "[DOCS] Document how to restrict access to some ML job results"
*Original comment by @lcawl:*

Per LINK REDACTED

"...Additionally you need the read index privilege on the index storing the results. The machine_learning_admin and machine_learning_user roles provide the necessary combination of cluster and index privileges to use this API.

The reason for the extra privilege requirement is that it gives administrators who want to restrict users to seeing the re

[2017-04-20 06:26] Newbie111985 opened #24201 "[how to] setup high availability env with elasticsearch cluster"
**Elasticsearch version**: 5.1.2

**Plugins installed**: [None]

**JVM version**: jdk 1.8

**OS version**: OEL 6 64-bit

**Description of the problem including expected versus actual behavior**:
This is not a bug report. I want to setup an elasticsearch cluster consisting of 3 nodes. Each node is master eligible and can contain the data. I also need to achieve high availability with this elastic s

[2017-04-20 06:42] olcbean commented on #24201
This space is reserved for issues and feature requests.

For general support and help resolving issues, please post on the [discussion forum](https://discuss.elastic.co/c/elasticsearch).

[2017-04-20 07:06] Newbie111985 commented on #24201
Thanks for the inputs. I am closing this issue.

[2017-04-20 07:06] #24201 closed

[2017-04-20 07:49] JalehD opened #24203 "Documentation for reindex API is not available for JAVA API"
Elasticsearch version: 5.0 +

Please add documentation for Reindex API to java docs :

https://www.elastic.co/guide/en/elasticsearch/client/java-api/current/java-docs.html

[2017-04-20 09:22] bleskes commented on #24187
@scottf your tone of voice is not acceptable here and will definitely not help to get someone to look at your issue faster. The amount of years you spent developing software is totally not relevant here.

Memory settings of ES is a more complicated issue and is not windows specific. There are resources on that online. A quick search gets you [this](https://www.elastic.co/guide/en/elasticsearch/gui

[2017-04-20 10:01] Mpdreamz commented on #24187
Happy too, on vacation now though so will park it until next week.

[2017-04-20 10:47] devikiranr commented on #23476
Filtered Auto Suggestions on nested model had spawned out of a genuine requirement from a Product in our organization. We are currently using our fork of the Elasticsearch main repo for this and are having to merge with the release branch on every release of Elasticsearch. Hoping to have a good discussion on this and move ahead in the right direction. We have the code, analysis , benchmark numbers

[2017-04-20 11:21] jasontedor commented on #24187
@scottf Would you please also provide the output of:
 - \logs\elasticsearch-service-x64-stdout.2017-04-19.log
 - \logs\elasticsearch-service-x64.2017-04-19.log

(or the most recent ones as the date will have rolled over if you attempt to start Elasticsearch again)?

Also, can you please execute `elasticsearch-service manager` and show the contents of the Java tab, provide the value of `echo %JAVA_

[2017-04-20 12:21] clintongormley commented on #23476
Why can't you just use `copy_to` to copy the nested values up to the top level?  As in:

[code]

Then you can just use `product_name` and `product_type` as your context fields.

[2017-04-20 12:22] makeyang opened #24211 "[feature request]hash index in lucene layer"
it's really a lucene issue.
**Describe the feature**:
let's say I build a image search engine with ES and all I care about is point-query latency based on image feature.
I dont' want term index and I want term dictionary to be constructed as a hashmap which can be load into memory.

[2017-04-20 13:18] #23893 closed

[2017-04-20 13:56] vineet01 opened #24215 "ES 5.2.2 Heap spikes on aggregations, causing OOM"
The issue is similar to the one reported in https://github.com/elastic/elasticsearch/issues/23868.

Tested on oracle JDK 1.8.0_112, 1.8.0_91 with mock data loaded in both 2.3.3 and 5.2.2 clusters running on the same system.
Mappings and doc counts are exactly same for both instances. (62K docs).

Aggregations are being performed on raw fields which are not_analyzed.

Configuration:

- 4GB Max heap

[2017-04-20 14:33] pmourlanne commented on #24064
The behaviour of rounding down you describe is the one used in Elasticsearch 1.7
If I understand correctly, rounding up would give results like this :

[code]

This means that any data that was between `2017-04-10T06:00:00Z` (the start of the extended bounds) and `2017-04-10T23:59:59Z` would not be included in the results. And we get an additional bucket starting on `2017-04-14T00:00:00.000Z` whic

[2017-04-20 15:02] clintongormley commented on #23839
`null_value` is already listed under the fields that support it.  creating two way links will just lead to linkrot.  closing

[2017-04-20 15:02] #23839 closed

[2017-04-20 15:40] jpcarey opened #24217 "rollover `max_docs` uses doc count from both primary and replica/s"
**Elasticsearch version**: 5.3.0

The rollover `max_docs` value uses the doc count from both primary and replica/s.  It should be based upon the primary only, since the replica count can be changed.

(start two nodes, to allow the default 1 replica to allocate)
[code]
change the replica count to 0:
[code]

[2017-04-20 16:03] larsf opened #24218 "TESTING.asciidoc say gradle assemble doesn't run tests - which isn't true"
**Elasticsearch version**: 5.3

**Plugins installed**: []

**JVM version**: 1.8

**OS version**: centos 7.2

**Description of the problem including expected versus actual behavior**:
The TESTING.asciidoc says gradle assemble does not run any tests, but the output from gradle clearly shows that it does:
....
08:43:53 :core:namingConventions
08:44:04 :core:thirdPartyAudit
08:44:04 :core:precommit
08

[2017-04-20 16:08] nilabhsagar commented on #23476
By using copy_to we loose the relationship between nested entities field.
Consider below Mapping and a sample document

**Mapping**

[code]

**Docuement-1**

[code]

**Docuement-2**

[code]

Once the document is indexed, the suggestion context values will be as below
**Docuement-1**

"ProdType": ["TypeA","TypeB"]
"ProdName": ["UHC Choice Plus","UHC Choice Plus EPO"]

**Docuement-2**

"ProdType": [

[2017-04-20 16:21] jasontedor commented on #24218
@larsf I think that something is not right here, this does not reproduce for me, and you can see that none of the test tasks are output via a dry run:

[code]

Are you sure that you're executing the assemble task or are not in some other way triggering tests?

[2017-04-20 16:25] tmpace commented on #16551
+1

[2017-04-20 16:39] gibrown commented on #22478
Heh, and now we've found a case where my workarounds don't work: "Game of Thrones".

Any updates here? I guess I could just adjust to edgengrams starting from 1 char just seems likely to cause lots of inefficiencies.

Shingle tokens sounds interesting (and maybe improves relevancy) but will also significantly increase index size.

[2017-04-20 16:59] gibrown commented on #22478
Another idea (for anyone following along). I could have one edgegrams field per language and then specify a language analyzer that has stop words for that language. Would fix the worst cases, but still not fix something like "pi".

[2017-04-20 17:05] billnbell commented on #17006
This could also solve the range issue on UUID-4. Which I would be a huge fan of.

[2017-04-20 17:14] scottf commented on #24187
I made a clean install of 5.3.0 and ran `elasticsearch-service install` then elasticsearch-service start`.
I see the log shows a possible JAVA_HOME issue, so maybe the way the install runs it doesn't pickup JAVA_HOME and the path to the dll correctly. I verified that it is in fact set. But notice I had to quote the path for the dir command, since "Program Files" contains a space. This result match

[2017-04-20 18:36] nik9000 commented on #16314
I took a stab at this and even with my best efforts I really wasn't able to get it small enough. So I did some brainstorming with @rjernst and @jdconrad and we decided it'd be best to have a running list of things we're going to to do complete the split. This is the list, I expect we'll add to it as we come up with more things.

* [ ] Add `ScriptService#compileTemplate` and cut some script compila

[2017-04-20 18:39] rjernst commented on #16314
@nik9000 I moved your list to the issue description and marked this as a meta issue. Thanks!

[2017-04-20 18:58] larsf commented on #24218
Sorry - amazing what our brains get stuck on. There was "gradle build" in the script I was using 10 lines higher than the gradle assemble I put in to build it - closing the issue

[2017-04-20 18:58] #24218 closed

[2017-04-20 19:48] jasontedor commented on #24218
Wetware indeed! No worries at all.

[2017-04-20 19:51] jasontedor commented on #24185
@liuguangmin I don't see what your question has to do with this issue, can I ask you to open a topic on the [forum](https://discuss.elastic.co)?

[2017-04-20 20:05] jimczi commented on #23227
jenkins please test this

[2017-04-20 20:11] gmoskovicz opened #24224 "Highlight tags not working with Percolator - Unified Highlighter"
**Elasticsearch version**: `5.3.0`

**Plugins installed**: [x-pack]

**JVM version**: All

**OS version**: Mac

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

[1] Create a test index

[code]

[2] Add a percolator query

[code]

[3] Perform a search operation with highlighting

[code]

Result:

[code]

[2017-04-20 20:26] ppf2 opened #24225 "IndexShardRestoreFailedException returning from the snapshot _status api"
These are returned from the snapshot _status api (examples from 1.x and 2.x) when retrieving the status of a previous snapshot.  It happens to have missing metadata files so it is throwing the exceptions below.

[code]

[code]

The above exceptions are misleading since it references IndexShardRestoreFailedException and index_shard_restore_failed_exception.  Given that the _status api is only for s

[2017-04-20 20:33] jasontedor commented on #24201
@olcbean We sincerely appreciate your contributions here but comments like the one that you make above are probably best left for maintainers.

[2017-04-20 20:41] KoenDG opened #24226 "Static code analysis shows a whole bunch of performance/memory optimization possibilities, would this be appreciated."
I asked on the IRC what the best way to approach this is, and "just post an issue and ask" was it. So here goes. I was told there will be no biting :P

I forked the project, had Intellij do its static code analysis on it and it had a whole bunch of results under the performance/memory issue categories. These are small and relatively bigger things, depending on the situation.

These are things like

[2017-04-20 22:02] jprante commented on #24226
A first step could be to share your findings, by posting it somewhere.

Because I'm also interested in any hints from "code quality measures", I could also try to run Sonarqube / Findbugs over the code base.

[2017-04-20 22:53] #23227 closed

[2017-04-20 23:12] jasontedor commented on #24187
Can you please check that the system has the environment variable `JAVA_HOME` set by going to `System Properties` -> `Environment Variables` -> `System Variables`. I can reproduce your *exact* issue if `JAVA_HOME` is not set here. Please set it and point it to `C:\Program Files\Java\jdk1.8.0_131` and verify that it fixes your issue?

[2017-04-21 00:05] KoenDG commented on #24226
I'll have the test suite run again overnight and then post it again after I get back from work. I'm from Belgium so I'm in a GMT+1 timezone.

I don't have a personal blog, never felt the need. Also, posting it here first felt like the right way of going about it.

Now, we're talking thousands of notifications and it is advised to look at them individually because the analyzer looks for general pat

[2017-04-21 02:29] majunzhe opened #24227 ""POST’ing Search Template as REST API causes Elastic to fail on start""
Origin question [Link](https://discuss.elastic.co/t/posting-search-template-as-rest-api-causes-elastic-to-fail-on-start/82552)  https://discuss.elastic.co/t/posting-search-template-as-rest-api-causes-elastic-to-fail-on-start/82552

I am also getting the same exception.

[2017-04-21 02:48] liuguangmin opened #24228 "when I run the elasticsearch source, the console is print version [6.0.0-alpha1-SNAPSHOT] is a pre-release version of Elasticsearch and is not suitable for production"
@jasontedor

hi jason ,yesterday(China) I have ask you a question about run the elasticsearch source code in my local eclipse,
my elasticsearch : 5.3.0
     jdk:1.8
     system:win7
I do allow this step:
(1) import elasticsearch 5.3.0 source code into eclipse
(2) I down executable file from https://www.elastic.co/downloads/elasticsearch, I down the file is elasticsearch-5.3.0.zip ,I copy the file

[2017-04-21 02:54] liuguangmin commented on #24185
@jasontedor
ok I have @jasontedor  another theme you could see ,great THX

[2017-04-21 02:56] jasontedor commented on #24228
Please don't ping people directly. Please post questions on the forum. Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-04-21 02:56] #24228 closed

[2017-04-21 03:15] liuguangmin commented on #24228
sorry sorry

[2017-04-21 03:55] makeyang opened #24229 "[docs request]Bool Query should document ADJUST_PURE_NEGATIVE_DEFAULT"
doc usage of parameter: ADJUST_PURE_NEGATIVE_DEFAULT

[2017-04-21 05:18] vineet01 commented on #24215
Another heap dump with a 1 day query in 5.2.2 on a time-series index with 6771187 docs.
No OOM/GC on the same in 2.3.3.

https://www.dropbox.com/s/xxx5qopk51vhuly/java_pid8504.hprof.bz2?dl=0

[2017-04-21 06:51] tback opened #24231 "Cannot remove plugin from docker container"
It seems uninstalling plugins from the official docker image is broken.

My colleagues were unable to reproduce this error on debian stretch with btrfs.

I'm opening this issue in response to @jasontedor https://github.com/elastic/elasticsearch/pull/23548#issuecomment-295793139

**Elasticsearch version**:
5.3.1

**Plugins installed**: [x-pack]

**JVM version**:
[code]

**OS version**:
macos sierra

[2017-04-21 07:06] olcbean commented on #24201
@jasontedor
My bad, did not mean to overstep.

[2017-04-21 07:07] nbqyqx opened #24232 "Score in Different Shards are not Compatible"
**Elasticsearch version**:
2.3.3 BM25 Similarity
**Plugins installed**: []

**JVM version**:
open jdk 1.8
**OS version**:
mac os
**Description of the problem including expected versus actual behavior**:
Score in different shards are not Compatible. For the same query ```"match" : {  "building_house_type_name" : "test" }``` we may need get the same IDF for the different shards. So that the doc scor

[2017-04-21 07:14] tback commented on #24231
**Elasticsearch version:**
5.3.1

**Plugins installed:** [x-pack]

**JVM version**:
(Same base image, same jvm version)
[code]

OS version:
debian jessie 64bit
[code]

** Steps to reproduce **
This is also easily reproduced on the vagrant base box debian/jessie64.
[code]

Then, on the machine
install docker
[code]
logout && login again (so the new group becomes effective

Create Dockerfile with sa

[2017-04-21 07:23] clintongormley opened #24233 "Clear scroll API should support single scroll ID"
The [clear scroll API](https://www.elastic.co/guide/en/elasticsearch/reference/5.3/search-request-scroll.html#_clear_scroll_api)  currently expects an array of scroll IDs when passed in the body.

The following fails with "Unknown parameter [scroll_id] in request body or parameter is of the wrong type[VALUE_STRING]":

[code]

We should also accept a single string value.

[2017-04-21 08:02] makeyang opened #24235 "[feature request]provide a unique key search in query DSL"
**Describe the feature**:
1. based on below talk:https://lists.gt.net/lucene/java-user/349926
if es can provide this DSL

[2017-04-21 08:06] KoenDG commented on #24226
This is the result for the `core` folder: http://i.imgur.com/GvDaLQa.png

[2017-04-21 08:39] dmarkhas commented on #23792
@jasontedor there are multiple reports regarding this issue (the original thread mentioned here, as well as [this one](https://discuss.elastic.co/t/elasticsearch-bulk-update-is-extremely-slow/78258/10) and [this one](https://discuss.elastic.co/t/cluster-e22dce-bulk-updates-are-extremely-slow/82181?source_topic_id=79450), which is actually reproducing this behavior on Elastic Cloud), and there isn'

[2017-04-21 08:58] redserpent7 commented on #23792
@jasontedor its kind of alarming that no one from Elastic is considering this an issue. We are not talking about milliseconds delay differences been ES 5 and older versions. We are taking in minutes here, and in my case it was hours.

[2017-04-21 09:01] jpountz commented on #24235
The GET and index APIs already work this way.

[2017-04-21 09:01] #24235 closed

[2017-04-21 09:06] glefloch commented on #24233
Hi, can I work on this issue?

[2017-04-21 09:07] makeyang commented on #24235
the primary key is not the doc id. actually it's much a unique key to be straightforward

[2017-04-21 09:09] jpountz commented on #24215
This looks like a side-effect of #19215. I don't think there is anything to be fixed here, you are just running a very costly aggregation: the fact that you sort on the value of the cardinality aggregation forces Elasticsearch to compute the cardinality for every bucket. And since we changed the default to be more accurate, this uses more memory than before. I would just recommend that you set the

[2017-04-21 09:09] #24215 closed

[2017-04-21 09:18] vineet01 commented on #24215
As mentioned above, would that also apply to short range queries  (1 day) ?
I get same result on a 1 day query performed on a time-series index (on basis of @timestamp) field.

[2017-04-21 09:25] jpountz commented on #24235
This behaviour cannot be implemented at the query level. Because of updates, the same value could still occur multiple times in an index, it is just that at most one of them would not be deleted. However queries do not care about deleted documents, they return all matches regardless of whether they are deleted or not and then deleted docs are applied on top. So there isn't really a way to do this.

[2017-04-21 09:44] maoxiajun commented on #10437
`26.2% (131ms out of 500ms) cpu usage by thread 'elasticsearch[xxx][search][T#62]'
     10/10 snapshots sharing following 10 elements
       sun.misc.Unsafe.park(Native Method)
       java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)
       java.util.concurrent.LinkedTransferQueue.awaitMatch(LinkedTransferQueue.java:737)
       java.util.concurrent.LinkedTransferQueue.xfer(LinkedTr

[2017-04-21 09:52] gsouf commented on #15800
Hi @nik9000
The link you sent is not working anymore, would you like to update it please?

[2017-04-21 10:01] jasontedor commented on #23792
I think what you're all seeing is due to the fact that in 5.0.0 a refresh is forced if a get is since the last update to the document but the update has not been made visible to search yet. This obviously has an impact on performing frequent updates to the same document. This is documented in the [migration docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.x/breaking_50_document_api_

[2017-04-21 10:13] makeyang commented on #24235
below is the code in method: loadDocIdAndVersion of VersionsAndSeqNoResolver class:
for (int i = leaves.size() - 1; i >= 0; i--) {
            LeafReaderContext context = leaves.get(i);
            LeafReader leaf = context.reader();
            PerThreadIDVersionAndSeqNoLookup lookup = getLookupState(leaf);
            DocIdAndVersion result = lookup.lookupVersion(term.bytes(), leaf.getLiveDocs()

[2017-04-21 10:13] redserpent7 commented on #23792
@jasontedor unless i am missing something, I do not see how this applies to my case in particular  where only a single update is being issued to a document. And even then, refresh is relatively fast, only a couple of seconds on my clusterre, which does not explain why it would take a full hour to update 100 documents in bulk and a several milliseconds when pulling the document to another server up

[2017-04-21 10:19] redserpent7 commented on #23792
@jasontedor and BTW my current resolution to the bulk update delays included pulling the document using the get API which according to the document you provided will issue a refresh on the cluster the same way bulk updates work. So i do not see why bulk updates would get delayed for several seconds while using get/insert takes no time at all

[2017-04-21 12:12] clintongormley commented on #24119
As @0xCAB said, the `unlike` terms are stripped from the `like` terms before querying.  For the example you use, you could combine the MLT query with either the function score query or use negative boosting in the boosting query.

[2017-04-21 12:12] #24119 closed

[2017-04-21 12:14] jasontedor commented on #23792
I see three distinct reports here (please forgive me if I'm missing any):
 - the original [report](https://discuss.elastic.co/t/bulk-updates-are-extremely-slow-after-upgrading-to-5-2/79450/15)
 - [Elasticsearch bulk update is extremely slow](https://discuss.elastic.co/t/elasticsearch-bulk-update-is-extremely-slow/78258/)
 - [Cluster “e22dce” bulk updates are extremely slow](https://discuss.elastic

[2017-04-21 12:27] clintongormley commented on #24064
Discussed in FixItFriday. Rounding down seems to make sense

[2017-04-21 12:27] #24064 closed

[2017-04-21 12:47] jasontedor commented on #23908
We discussed in Fix-it-Friday and have decided that we are not going to do this for reasons provided previously.

[2017-04-21 12:47] #23908 closed

[2017-04-21 12:50] clintongormley commented on #23519
@billscheidel please could you provide a pasteable recreation with create index (and mappings), create documents, and search.  It'd be much easier to figure out that way

[2017-04-21 12:54] colings86 commented on #23531
As @jpountz mentions this can be done with a filters aggregation. I don't think there is much that we could do that would improve the performance over what the filters aggregation would provide

[2017-04-21 12:54] #23531 closed

[2017-04-21 13:03] clintongormley commented on #23502
Discussed in FixItFriday.  Today, a query with a missing geoshape etc returns enough info in the exception to allow the application to do the right thing. We're reluctant to add this when we haven't heard requests for it before, although the feature has been there for a long time. Every added feature means more opportunities for bugs and unintended consequences.

I'll leave this open to see if it

[2017-04-21 13:06] jimczi commented on #23536
This is fixed by https://github.com/elastic/elasticsearch/issues/23918 which disable graph queries when a shingle filter is detected.

[2017-04-21 13:06] #23536 closed

[2017-04-21 13:06] colings86 opened #24244 "Should we remove histogram extended bounds"
Extended bounds are tricky and can perform in unexpected ways when combined with other features (such as offset, see [1]). The original use-case for adding this was for taking the verbatim output of aggregations and feeding it into a charting library, but these days charting libraries need the data transformed anyway giving an opportunity to deal with extending the bounds and also have lots of opt

[2017-04-21 13:17] tlrx commented on #24166
XContentBuilder.rawValue() is a method used to directly write a BytesReference in the XContentBuilder's output stream. It is used in very specific cases within Elasticsearch when we don't want to copy over or rebuild an object and most of the time it should not be used at all outside these specific cases.

I guess in your case you could use the writeRawField() method which takes care of update the

[2017-04-21 13:17] #24166 closed

[2017-04-21 13:36] zarucki commented on #24166
Ok sorry, fair enough. I got confused by javadocs in com.fasterxml.jackson.core.JsonGenerator where it says:
[code]

[2017-04-21 13:51] liuguangmin opened #24246 "When I run the elasticsearch source, theconsole is print version [6.0.0-alpha1-SNAPSHOT] is a pre-release version ofElasticsearch and is not suitable for production"
hi Team , I have ask your a question about run the elasticsearch source code in my local eclipse,
my elasticsearch : 5.3.0
jdk:1.8
system:win7
I do allow this step:
(1) import elasticsearch 5.3.0 source code into eclipse
(2) I down executable file from https://www.elastic.co/downloads/elasticsearch, I down the file is elasticsearch-5.3.0.zip ,I copy the file modules from elasticsearch-5.3.0.zip to

[2017-04-21 13:53] jasontedor commented on #24227
I think there's indeed a real issue here starting in 5.3.0, maybe related to #22206?

[2017-04-21 13:58] jasontedor commented on #24246
I don't understand why you keep posting the same question despite my request that you post this on [forum](https://discuss.elastic.co). I think that you're running against master with modules that were built against 5.3.0, that is flat out not going to work. Again, we reserve GitHub for bugs and feature requests, you can use the forum for questions.

[2017-04-21 13:58] #24246 closed

[2017-04-21 14:10] clintongormley commented on #23476
Hi @nilabhsagar

We discussed this in our FixItFriday session today.  This is a problem that could be worked around by combining the various nested fields into a single top-level context (eg combining `ProdType` and `ProdName` into a single context).

While this may not be as convenient as your suggestion, we are not keen to expand the completion suggester in this direction.  It is already a compl

[2017-04-21 14:10] #23476 closed

[2017-04-21 14:11] elasticmachine opened #29775 "[ML] Check the model snapshot to restore and use next candidate if not valid"
*Original comment by @dimitris-athanasiou:*

In the case when a node fails in the middle of persisting state, it is possible that we end up with a model snapshot that does not have all its corresponding model state documents. We should check for this while restoring a snapshot and we should implement a strategy to choose a suitable substitute when the designated snapshot is not valid.

[2017-04-21 14:19] liuguangmin commented on #24246
this is because today I following you advise put the problem to the formum , but nobody response.what's more I can run the executable file is normal but the source code is run  unnormal,the modules is same,
I compile the modules source ,and put the jar to the source code ,but the question is alive, I solve the problem a day ,but I can find a best way , so I think this is may be a source code probl

[2017-04-21 14:20] liuguangmin commented on #24246
so great sorry

[2017-04-21 14:29] jasontedor commented on #24246
I found your [post](https://discuss.elastic.co/t/when-i-run-the-elasticsearch-source-theconsole-is-print-version-6-0-0-alpha1-snapshot-is-a-pre-release-version-ofelasticsearch-and-is-not-suitable-for-production/83140), it's from eleven hours ago. There is no SLA on the forum, your expectation that you receive a response so quickly, or even at all, is not reasonable and needs to adjusted. Please fo

[2017-04-21 14:31] jasontedor commented on #24246
Please see our [guidelines](https://www.elastic.co/community/codeofconduct):

[2017-04-21 14:36] liuguangmin commented on #24246
OK great sorry ，I will follow our community guidelines.THX,
Forgive me before failing to comply with community regulations， I will remeber and obey the guidelines

[2017-04-21 14:48] nik9000 opened #24247 "_uid field doesn't support regexes"
I'm opening this discuss issue in response to a forum [post](https://discuss.elastic.co/t/regex-over--uid-field/83222).

It looks like you used to be able to run a regex query on `_uid` but you can't anymore. Do we want to allow it again?

[2017-04-21 14:55] bleskes commented on #24247
+1 . If people really need this they can also have an id field or use scripted queries (in combination with something else to reduce scope)

[2017-04-21 15:00] nik9000 commented on #24247
Makes sense to me.

[2017-04-21 15:00] #24247 closed

[2017-04-21 15:11] scottf commented on #24187
I already noted that I checked it. Plus it's windows, and I didn't set it manually in my command window so this demonstrates it:
[code]

![sys](https://cloud.githubusercontent.com/assets/215946/25283804/05628828-2683-11e7-920b-ede4020c932b.jpg)

[2017-04-21 15:45] jasontedor commented on #24187
@scottf That's the user variables, not the system variables. The command prompt output would not show what I'm looking for, and neither does your screenshot.

[2017-04-21 15:53] dadoonet opened #24248 "Add ingest parallel processor"
Today all processors within a pipeline are executed in a sequential order which means that you need to wait for the result of processor 1 before running processor 2.

Which is very good when a processor depends from the previous one.
But in some cases, you would just like it to be as fast as possible and as you don't have dependencies between some processors, you would like to execute it in parall

[2017-04-21 16:24] jasontedor commented on #24231
Thanks for the report @tback. I've found the source of the issue; it's a combination of renaming not working on the lower layer of a union filesystem and a bug in the JDK. Briefly the JDK tries to do the following:
 - if it's an atomic move, try to rename the source to target and if that fails with `EXDEV`, throw atomic move not supported
 - if it's not an atomic move, try to rename the source exc

[2017-04-21 16:42] polyfractal opened #24250 "[TEST] SIGSEGV during mapper-attachment tests"
JVM exception.  @dadoonet dunno if this info is useful to you or even how to reproduce.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-unix-compatibility/os=oraclelinux/711/console

[code]

[code]

[2017-04-21 16:50] polyfractal commented on #24250
Jason tells me that issues for segfaults is largely an exercise in futility unless they repeat.  Closing!

[2017-04-21 16:50] #24250 closed

[2017-04-21 16:51] #24050 closed

[2017-04-21 17:09] jasontedor commented on #24050
@Sanne Thanks for the offer, but I do not think we will pull something like that into this repository. I don't think that anyone here would be able to maintain it, and we have a philosophy that if we can not maintain something we should not pull it in. I think that a standalone project would suffice though, and be a useful contribution to the Elasticsearch community.

[2017-04-21 17:11] rjernst commented on #24248
I don't think we should complicate ingest with multiple threads. Right now ingest operates in either the index or bulk threadpool. I would not want to consume additional threads there which should be dedicated to processing parallel index/bulk/ingest requests.

[2017-04-21 17:18] scottf commented on #24187
Moving the property to the "system" area did the trick, the service started.
Either the java installer put it in "user" properties or I did, so it does not go automatically to the system area. Just something to note I suppose.

[2017-04-21 17:21] jasontedor commented on #24187
I'm glad that you got it sorted out.

I will see if there is room for improvement in the docs here.

[2017-04-21 17:21] #24187 closed

[2017-04-21 18:33] jasontedor commented on #24231
I've opened #24252. We are going to try to get this into a 5.3.2 release (do not take that as a guarantee). I've built a new Docker image locally based off this change and the issue no longer reproduces.

[2017-04-21 18:43] gmoskovicz opened #24253 "Soft Limit for Max number of shards per node"
Nowadays one can create as many shards as you want in a node. Elasticsearch will try to allocate the shards in the nodes, and if you have too many shards you can hit different type of issues:

1. Too many open files (File Descriptor Issues).
2. High memory usage.
3. Large cluster states

I think that if we add a Soft Limit for the number of shards per node, we could be at least preventing [1] and

[2017-04-21 18:43] mrec opened #24254 "Enhancement: Range agg specified as max bucket count rather than explicit ranges"
**NOTE:** This is very similar to #9572 about `histogram`, and is probably similarly blocked by #12316, but I didn't want to hijack that one given that it's a different aggregation. I also couldn't see any mention of the "swamping" problem described below as the second motivation.

A [range aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/5.3/search-aggregations-bucket-range-ag

[2017-04-21 18:45] igbelousov opened #24256 "query with must_not:exists:field returns incorect result when value is greater then ignore_above"
**Elasticsearch version**: 5.3.0

**Plugins installed**: [xpack]

**JVM version**: 8

**OS version**: centos 6

**Description of the problem including expected versus actual behavior**:
Filtering documents with missing particular field is not working,
 when value of that field is crossing boundary of ignore_above

**Steps to reproduce**:
1. create index with 3 keyword fields having ignore_above=10

[2017-04-21 18:51] martijnvg commented on #24248
I agree with Ryan that we should not do this. This would make the ingest infrastructure too complex.

On top of this parallelism with ingest and indexing in general is achieved by concurrent index/bulk requests.

[2017-04-21 18:56] nik9000 opened #24257 "Snapshot and restore and shrink do not play well together"
The simplest way to reproduce locally is with `gradle run` and then:

[code]

Kibana will give you "socket hang up" error because Elasticsearch has tripped an assertion and killed itself:
[code]

If you run without `-ea` then the shrunken index won't allocation properly because of the `index.routing.allocation.initial_recovery` setting. That setting cannot be cleared.

[2017-04-21 19:46] winstonewert opened #24259 "Referencing _score in scripted metric causes NullPointerException"
**Elasticsearch version**: 5.3.1

**Plugins installed**:  None

**JVM version**: openjdk version "1.8.0_111"

**OS version**: Ubuntu 16.04.1 LTS

**Description of the problem including expected versus actual behavior**:

I send the following query:

[code]
I expect it to give me a total over all the scores, Instead I get:

[code]
Sample from the log:
[code]

[2017-04-21 19:50] #24231 closed

[2017-04-21 20:35] tuckerpm commented on #9307
In my current scenario, getting 1 would solve our problem and be much better than reindexing all of our data.

[2017-04-21 20:38] nik9000 commented on #24257
Clarification: if you run without `-ea` it won't recover properly unless the old node is around. But that is still a problem because then you can't snapshot in one cluster and restore to another. Or you can't restore after that node has been decommissioned.

[2017-04-21 20:45] nik9000 commented on #24257
Good luck!

[2017-04-21 21:02] jasontedor commented on #24187
I opened #24260.

[2017-04-21 22:42] NatKarmios commented on #24259
I'd be happy to take a look at it.

[2017-04-21 22:48] winstonewert commented on #24259
I went ahead an attached a debug to my elasticsearch instance, and I believe I've found the problem:

https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/search/aggregations/metrics/scripted/ScriptedMetricAggregator.java#L66

The mapScript parameter should be leafMapScript. The LeafBucketCollectorBase ignore the values parameter unless it implements ScorerAwar

[2017-04-21 22:56] #24028 closed

[2017-04-22 07:47] davidbkemp opened #24267 "Bool Query doc should state disable_coord has no effect when using default similarity"
**Elasticsearch version**: 5.3.0

**Plugins installed**: []

**JVM version**: N/A

**OS version**: N/A

**Describe the feature**:
The Bool Query documentation https://www.elastic.co/guide/en/elasticsearch/reference/5.3/query-dsl-bool-query.html
currently states "The bool query also supports disable_coord parameter"
It fails to mention that the disable_coord parameter has no effect unless the defau

[2017-04-22 09:16] davidbkemp opened #24268 "Scoring doc should warn about precision"
**Elasticsearch version**: 5.3

**Plugins installed**: []

**JVM version**: N/A

**OS version**: N/A

**Describe the feature**:
The documentation on scoring should warn of the consequences that scores are represented as single precision floating point numbers and hence only have 24 bits of precision.  For example constant score queries assigning scores from 100,000,001 to 100,000,010 will all resu

[2017-04-22 11:28] m31collision opened #24269 "Unloadable indices feature"
Hello guys!

I want to propose you implementation for unloadable indices feature. This issue implements what has been requested and discussed in #10869, #23546.

I opened separate pull request (m31collision/elasticsearch#1) in forked repo, please, have a look. Of cource, it is not ready for pulling here and it is implemented for 2.3 version only because we use mainly this version on our prods. It

[2017-04-22 11:52] pvledoux commented on #13592
@madchap Did you could resolved that issue? I have a similar problem, I tried different things with no luck:

-network.host=_eth0_ #works

but

- network.host=[_eth0_,'192.168.100.40','X.X.X.X']

is not working. It tried with single quotes, double quotes around _eth0_.

[2017-04-22 17:37] #24227 closed

[2017-04-22 17:38] madchap commented on #13592
@pvledoux, no I eventually did not after having tried what I think is every possibility. I haven't investigated any further. Maybe something related to the particular docker environment in my case?

[2017-04-23 01:07] nik9000 opened #24272 "InternalTestCluster can set SCRIPT_CACHE_SIZE_SETTING to 0 which breaks at least one test"
`BulkWithUpdatesIT`, and maybe others, attempt to do a *bunch* of scripting operations. Enough that, if the cache is turned off, the script compilation limit will kick in and kill the test. You can reproduce this with `@Seed("1700EBAFCDE6C8B9")` on `BulkWithUpdatesIT`.

I don't know the right solution here. We could change it so the cache is never turned off 100%, but, unless we prevent that in co

[2017-04-23 02:20] RkirkCBD opened #24273 "Add Fix for java.lang.NoClassDefFoundError: com/graphbuilder/curve/Point fatal error in 5.3"
**Elasticsearch version**:5.3

**Plugins installed**: [ingest-attachment]

**JVM version**:8.0.121

**OS version**:

**Description of the problem including expected versus actual behavior**: java.lang.NoClassDefFoundError: com/graphbuilder/curve/Point fatal error is occurring in 5.3 release.  There was a patch, see #23214,  but it wasn't pushed to 5.3

[2017-04-23 05:34] vinayathimmappa commented on #21118
@jasontedor  Thanks for the detailed explanation. Is there a way , i can set some ENV variable so that command line also works with .deb ? This would easily resolve everyone's concern in here.

[2017-04-23 08:49] dadoonet commented on #24273
Closed by dc4888e21c06eeccc2e6a27de4c6c82bd6a73958

Thanks for reporting and I'm very sorry it happened.

[2017-04-23 08:49] #24273 closed

[2017-04-23 10:08] jillesvangurp commented on #21544
An alternative approach to using maven or gradle plugins is using docker. I implemented some integration tests last week using docker-java. I wrote a simple Junit rule called EsRule for this that pulls and launches a docker container with elasticsearch. Works great whether you are running tests from an IDE or a build and you can launch whatever you need with this approach. I made it so that it reu

[2017-04-23 14:12] dliappis commented on #24231
Thanks for taking care of this @jasontedor and reporting it @tback. I've taken a note to add an acceptance test for removing plugins in our docker image building acceptance tests. This will most likely land in 5.4.0 where we have introduced a [more flexible acceptance test framework](https://github.com/elastic/elasticsearch-docker/tree/switch-to-centosbase/tests).

[2017-04-23 16:56] dmarkhas commented on #23792
@jasontedor , based on the migration docs, this behavior for the GET API can be disabled by passing realtime=false. Is it possible to implement this for the update API?

[2017-04-23 18:20] n0othing opened #24275 "_field_stats call on geo_point field broken after upgrading from 2.4.4 -> 5.3.1"
**Elasticsearch version**: 2.4.4/5.3.1

A `_field_stats` call on a type `geo_point` field throws an exception for an index that was created in `2.4.4` and upgraded to `5.3.1`. I also reproduced this on going from `2.3.3` -> `5.3.0`.

This causes Kibana to not properly grab the index mappings when defining an index pattern rendering all fields as neither searchable nor aggregatable.

**Steps to rep

[2017-04-23 19:52] jimczi commented on #24275
This seems to be a deserialization error with geo_point encoding in 2.x. @nknize can you take a look ?

[2017-04-23 19:59] tanero commented on #11709
I receive the same error, when I have connected with TransportClient from java api,  If the node went down and start again, exception occurs.

[2017-04-23 23:49] asettouf commented on #15518
I made my first ever pull request to contribute to this enhancement based on what was suggested in that topic. Please do let me know if there is anything wrong with it (pretty likely I guess) as it is my first time making one.

[2017-04-24 00:31] jasontedor commented on #15518
I do not think we should log a message here, we already make it clear in the logs the bound addresses. I think the particular issue here is best left to the documentation.

[2017-04-24 00:31] #15518 closed

[2017-04-24 02:39] makeyang opened #24277 "[feature request]smart client"
**Describe the feature**:
hbase client will fetch metadata from zookeeper and then execute read/write operation based on metadata(routing table)
so if ES will implement this process:
1. each ping will get routing table based on client's config(whether enable fetch routing table or not) and server's config(allow client to fetch routing table or not)
2. if client can get routing table, then some ope

[2017-04-24 02:46] makeyang opened #24278 "[feature request]make request cache more memory efficiency"
**Describe the feature**:
nowadays when eable request cache, each node hold the request results by its own.
so can we make it more memory efficiency by below ways:
1. if enable request cache, can we route request to node by request hash so that same request will route to same node, therefore, they can use/hit the same cache
2. we don't route request but at the time we fetch/put cache, we make a di

[2017-04-24 02:49] makeyang opened #24279 "[feature request] add some doc/index size metrics"
**Describe the feature**:
can we add max/min/ave doc size in index request?
can we add max/min/ave doc size in search response?

[2017-04-24 06:54] jpountz commented on #24267
+1 I think it should actually state that the `disable_coord` parameter _only_ has an effect with the `classic` similarity.

[2017-04-24 07:39] jpountz commented on #24235
The difference is that `lookup.lookupVersion` checks the live docs while queries are not allowed to. I'm wondering what kind of query you are running to expect speedups from the kind of optimization. I'm afraid the gains that such an optimization would have would be drowned into the overhead that query execution brings in general like the retrieval of statistics, interaction with the cache or crea

[2017-04-24 07:50] wangweij commented on #21534
Fix now in jdk9+166. Please take a try.

[2017-04-24 07:51] makeyang commented on #24235
https://lists.gt.net/lucene/java-user/350168
actually there are some scenario that really focus on primary key search and therefore can afford to sacrifice other scenario such as agg/index etc.
so I wonder if u guys can support this hash index in lucene.

[2017-04-24 07:57] jpountz commented on #24278
I agree setting the `preference` with each search request can help make better use of the request cache. There are also similar benefits with the query cache, as well as more consistent scoring if you make sure that a given user always goes to the same shard copies. I'm not totally sold on using the hash of the request as a default preference as I can imagine it would not be desirable all the time

[2017-04-24 08:00] pvledoux commented on #13592
@madchap Yes I'm docker too. I will investigate on at side when I have more time.

[2017-04-24 08:24] jpountz commented on #24235
Can you explain more in details why you cannot use your PK as a document id?

[2017-04-24 08:34] makeyang commented on #24235
let me give a example: my data is user info which is put ES for search. and the same data is in database.
this user info has user id which is generate in database and this user info also has ssn, which is unique for sure.
we need both these fields search for certain secnario.
so yeah, I can have pk, but at most I can only have one pk and left the other one to do unique key search.

[2017-04-24 08:45] markharwood commented on #24279
Thanks for the suggestion.

This requirement makes sense to me (but see below for concerns/workarounds)

I'm not sure what the purpose is of providing this as part of an index request?  The client provides an average of what?

As for providing max/min/ave lengths in the search response, many elasticsearch users have very large numbers of small, same-sized machine-generated documents. For them this

[2017-04-24 08:51] javanna commented on #24277
Hi @makeyang we moved away from the concept of a client that has knowledge of internals of the cluster, even in Java (that used to have the node client which sounds similar to what you describe). We are rather working on having the Java client go through REST like all of the other language clients, so that ideally the client shares a minimal part of the server code only, and doesn't use any intern

[2017-04-24 08:51] #24277 closed

[2017-04-24 09:01] makeyang commented on #24277
if it's for time being, why close it rather than put it high-hang fruit and at least open it for community to discuss and implemet it?

[2017-04-24 09:02] javanna commented on #24277
Because we are not interested in having such a client in our repo for the reasons mentioned above.

[2017-04-24 09:06] jpountz commented on #24235
OK I see. Would it be an option to use the `ssn` as an id and store the database id as a regular field then (assuming your performance requirements are on `ssn` lookups).

More generally I think we would need more evidence that there are needs for unique keys before we start implementing this feature as it is not a simple change.

[2017-04-24 10:07] icode commented on #17895
has not support???????

[2017-04-24 10:13] clintongormley commented on #24253
Duplicate of https://github.com/elastic/elasticsearch/issues/20705

[2017-04-24 10:13] #24253 closed

[2017-04-24 10:26] markharwood commented on #24256
This behaviour is inconsistent with the analyzer-based forms of content filtering.

* As is stated [in the docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.3/query-dsl-exists-query.html) - an analyzer that strips a field of all tokens will still match an `exists` clause.

* However the `ignore_above` form of length-filtering will _not_ match an oversized field - it considers an over

[2017-04-24 10:26] antdavidl opened #24283 "Wrong checking of #23981 bug"
**Elasticsearch version**: 5.3.1
**JVM version**:  openjdk-1.8.0.131-2.b11.el7_3
**OS version**: CentOS 7.3.1611 (Core)

**Description of the problem including expected versus actual behavior**:
I had just updated from 5.3.0 to 5.3.1 and then the node didn't like to start up. The logs indicates that there were indexes in the default folder where they should not be. However, this is exactly the fol

[2017-04-24 10:34] ywelsch commented on #23695
I've looked into this failure (which is unrelated to the first one that was fixed here). What I think is happening here is that the tribe node `node_sm0/LfM1LgAAQACUzI9-AAAAAA` is being shutdown by the test while a publishing round (that adds the node to `cluster_2`) is not completed yet (i.e. the node itself knows that it became part of the cluster, and the test shuts the tribe node down, but ano

[2017-04-24 10:34] #23695 closed

[2017-04-24 10:39] abhishek5678 commented on #13192
Hello Good Afternoon everyone,
when i am applying the query then it's not working.inside this it's showing like that no [query] registered for [filtered].if anyone knows about that then please help me

[2017-04-24 11:16] markharwood commented on #24232
[Yes](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-search-type.html#dfs-query-then-fetch) :)

[2017-04-24 11:16] #24232 closed

[2017-04-24 11:35] Sanne commented on #24050
@jasontedor np, makes perfect sense.

I'm still tinkering on it as we figure out some details for Hibernate Search needs, I certainly plan to extract it into a standalone project: that would allow me to make a new release as soon as a new Elasticsearch release is published.

I merely don't want to keep it into the Hibernate Search repository, as this would tie it up to our release cycles, making i

[2017-04-24 11:36] markharwood commented on #24229
Personally this parameter and its default setting feels like a "just do the right thing" choice.
It does what you normally need to do to make Lucene Boolean queries work with only negative clauses.

I'm struggling to conceive of a scenario where the user would want to override this default. Can you supply an example as it would be a useful explanation to go along with the documentation? If we have

[2017-04-24 12:18] gmoskovicz commented on #20705
I would say that ~500/600 shards per node is a good limit.

[2017-04-24 12:39] ywelsch commented on #24191
After a network disruption was healed, the node that was separated from the cluster did not rejoin it, as it previously was the master and batch-removed all nodes from its cluster state when it got partitioned away. As it only had itself on the unicast ping list, it could not find the nodes of the previous cluster. This behavior has been changed/fixed in 5.2 (the node does not make changes to disc

[2017-04-24 12:39] #24191 closed

[2017-04-24 12:48] markharwood commented on #24254
As you suggest this is likely blocked because we would need multiple phases to select the appropriate bucketing strategy for use across multiple indices/shards.

Putting aside the challenges of implementing this efficiently, I imagine there would need to be some extra client criteria to control the aesthetics of derived buckets. Given a website that sells spoons, cars and houses they would need fl

[2017-04-24 13:17] cbuescher opened #24287 "Small inconsistency in stats aggregation rest output vs. java api"
While working on adding parsing for the `stats` aggregation I noticed a small difference between the output of the formatted
`count` value in the Java API vs. the rest output. The xContent output of `InternalStats` writes formatted "as_string"-fields for
all calculated statistics (min/max/avg/sum) except for the count. Using the Java API and `getCountAsString()` (which is also
part of the `Stats`

[2017-04-24 13:19] cbuescher commented on #24287
@colings86 do you think we can add this field in v6.0.0 or do you think this needs fixing at all? We can also ignore it as an edge case but if possible I'd like to fix it.

[2017-04-24 13:25] elzozz commented on #24283
Same issue here.
Upgraded from 5.3.0 to 5.3.1 and had explicitly configured data path.
Unfortunately I don't have the data on default path, so I'm one node down until a patch is out

[2017-04-24 13:30] antdavidl commented on #24283
Well @elzozz,
according to what you are commenting, it could be that the but at 5.3.0 has really affected you, setting some indexes in the wrong (default) folder. In this case, it would be a different scenario to the one I was commenting (in my case, it was a clear false negative).

If this is your case, you have to manually fix this moving these indexes to the real data folder.

Check https://www

[2017-04-24 13:31] #24283 closed

[2017-04-24 13:34] markharwood commented on #24211
Here's where to raise Lucene issues: https://issues.apache.org/jira/browse/LUCENE

[2017-04-24 13:34] #24211 closed

[2017-04-24 13:35] jasontedor commented on #24283
@elzozz I think that @antdavidl is correct here.

[2017-04-24 13:35] jasontedor commented on #24283
@antdavidl Thanks for reporting, we will get this fixed in the next patch release (5.3.2).

[2017-04-24 13:36] elzozz commented on #24283
@antdavidl
Well the paths are the same in the error logs, so I think it's the same issue ;)
`[2017-04-24T15:12:01,365][ERROR][o.e.n.Node] [elastic-master-01] detected index data in default.path.data [/elastic-data/nodes/0/indices] where there should not be any
[2017-04-24T15:12:01,366][INFO ][o.e.n.Node] [elastic-master-01] index folder [eSpOBkgsSB24W1M_z5gbCA] in default.path.data [/elastic-data/

[2017-04-24 13:37] blommish commented on #22406
I get the same error

Have these settings for my bulkProcessor
[code]

Can't really find out what is causing the following

[code]

[2017-04-24 13:46] elzozz commented on #24283
As a workaround if you don't have the data at default path '/var/lib/elasticsearch'. just create a symlink to the default path and comment out the explicit path.data definition in the config file

[2017-04-24 13:48] ruflin opened #24288 "Expose snapshot index through API for S3"
Elasticsearch allows to fetch snapshot information in two different ways. Either a specific snapshot of a repository or a pattern can be specified, or info for all snapshots can be retrieved:

[code]

Having S3 as the snapshot location this means 1 request to get the repository index file from S3 and 1 request for each snapshot. This means each time `_all` is called `N+1` request are made to S3.

[2017-04-24 13:50] jasontedor commented on #24283
I think there's some confusion here. You say:

If you have `default.path.data` and `path.data` set to the same thing, as it appears that you do, then the above statement can not be true and you see the issue that you're seeing. If there's data in `path.data`, then since it appears you have `default.path.data` set to the same path, there must be data in `default.path.data`.

[2017-04-24 13:51] markharwood commented on #24194
"How do I ?" type questions are best handled on the [discuss forum](https://discuss.elastic.co/c/elasticsearch). In your case it looks like the nested filter does not echo the path defined in the nested path as in the [example docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.3/search-request-sort.html#nested-sorting). Either way, create a new topic on the discuss forum to explore th

[2017-04-24 13:51] #24194 closed

[2017-04-24 13:53] colings86 commented on #24287
I don't think we should add a `count_as_string` field here as I don't think it would make sense since trying to format a count of e.g. `3` as a date etc. does not produce a meaningful result.

IMO we should remove the `getCountAsString()` field form the java class in 6.0.0 and deprecate it in favour of `String.valueOf(getCount)` in 5.x

[2017-04-24 13:54] jasontedor commented on #24283
@elzozz Can you please describe your precise situation. It appears that you have `path.data` and `default.path.data` both explicitly configured to the same data path, and that you are not using the default `default.path.data` configuration of `/var/lib/elasticsearch` from the packaging?

[2017-04-24 14:07] elzozz commented on #24283
@jasontedor Sorry, It's Monday and I can't seem to compose a normal sentence ;)
In my configuration I only have defined the `path.data: /elastic-data` nothing else related to `path`
By default path, I meant /var/lib/elasticsearch, as configured by default by package manager

[2017-04-24 14:13] jasontedor commented on #24283
Then I do not understand how you're running into this issue if `default.path.data` is the default `/var/lib/elasticsearch` from the packaging and `path.data` is explicitly configured elsewhere, and I don't understand the log message that you provided. If `default.path.data` indeed has the default value from the packaging, the log message that you shared above would not say that `default.path.data`

[2017-04-24 14:23] splitice commented on #24283
I'm too seeing this with a fresh install of an els 5.3.1 cluster which was performed using the elastic ansible file.

in my elasticsearch config path.data is set to /var/lib/elasticsearch/els13-els13
systemd starts elasticsearch with /usr/share/elasticsearch/bin/elasticsearch -p ${PID_DIR}/elasticsearch.pid --quiet -Edefault.path.logs=${LOG_DIR} -Edefault.path.data=${DATA_DIR} -Edefault.path.conf=

[2017-04-24 14:25] elzozz commented on #24283
Here are the config files, maybe it provides with more info.

[elk-master-01.zip](https://github.com/elastic/elasticsearch/files/952055/elk-master-01.zip)

[2017-04-24 14:37] jasontedor commented on #24283
@splitice I peeked at the Ansible role; it appears they are setting the [configured data paths in the service definition](https://github.com/elastic/ansible-elasticsearch/blob/0.2/templates/systemd/elasticsearch.j2#L10) *and* in the [configuration file](https://github.com/elastic/ansible-elasticsearch/blob/0.2/templates/elasticsearch.yml.j2#L19). I wouldn't necessarily consider this a bug although

[2017-04-24 14:41] jasontedor commented on #24283
@elzozz I don't see `default.path.data` configured in the configuration files that you shared. Can you also share `/etc/default/elasticsearch` or `/etc/sysconfig/elasticsearch` (the former for a Debian-based system, the latter for an RPM-based system) and maybe `/usr/lib/systemd/system/elasticsearch.service` if you're on systemd and otherwise `/etc/init.d/elasticsearch`)?

[2017-04-24 15:33] colings86 commented on #24259
Could you explain your use-case a bit? Combining scores in an aggregation is not generally that useful as the value of a document's score is not meaningful outside of being compared to another document's scores.

Also, in your case it seems like you could use the sum aggregation with a script returning the score to achieve the same result as you are trying to do with the scripted_metric aggregatio

[2017-04-24 15:52] winstonewert commented on #24259
Obviously, the aggregation presented in the example is really silly. Its a bug report, I'm showing the simplest case that fails.

My actual case involves aggregating the score into different buckets (possibly multiple per document) based on the other fields in the document.

You can already aggregate over the scores using the non-scripted metrics, so it makes little sense to me to object to doing

[2017-04-24 16:40] ctindel opened #24296 "Need to document SSL enablement for Slack Alerts"
**Elasticsearch version**:

5.3

**Plugins installed**: []

x-pack

**JVM version**:
Oracle 1.8.0 121

**OS version**:

Linux

**Description of the problem including expected versus actual behavior**:

Alerting to slack via https works fine (the hook is something like https://hooks.slack.com) but if you turn on SSL for elasticsearch, for some reason this affects the way that our rest client valida

[2017-04-24 16:40] #24287 closed

[2017-04-24 16:50] ywelsch commented on #21534
Initial testing shows very promising results (performance on-par with "Java 8" mode). Thank you for this fix @wangweij!

[2017-04-24 16:56] liuguangmin opened #24297 "Elasticsearch Multivalue Fields The statistics contain the number of values"
hi team
 I want to konw How to count the number of value in a multi-valued field in elasticsearch ?
for example field  A is multi-valued
doc1 : A:[1,2,3],
doc2: A:[2,3]
doc3: A:[4,5]
doc4: A:[1,3],
doc5:A:[1]
 and so : doc1_countA = 3,
              doc2_countA = 2
              doc3_count = 2
              doc4_count = 2
              doc_count = 1
so how to count in elasticsearch ? have any plug

[2017-04-24 17:03] cbuescher commented on #24297
Elastic provides a [forum](https://discuss.elastic.co) for asking general "How to" questions like this and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-04-24 17:03] #24297 closed

[2017-04-24 17:07] colings86 commented on #24259
Ok, fair enough. I was asking because I am interested to know of a use case that aggregates scores and in that use case what those aggregated scores represent which is useful/meaningful.

This is true. I guess my point here was whether it actually makes sense for aggregations on scores to be supported in any aggregation, but thats probably better left for a separate issue.

I hadn't seen your [PR]

[2017-04-24 18:08] nullpixel opened #24299 "[Feature Request] Make elastic search crash after `Caused by: java.io.IOException: No space left on device`, rather than spamminng logs"
**Describe the feature**: As per #20354, logs are spammed with `Caused by: java.io.IOException: No space left on device` when the disk space runs out. Why not make it leave a **single message** in the logs, then just **crash**? As the disk is full, the database cannot run anyway, so rather than spamming logs, just adapt a simpler approach.

This is a production database, and I wouldn't expect my l

[2017-04-24 18:09] nullpixel1 commented on #20354
Got sick of this being left, opened #24299

[2017-04-24 18:39] #24296 closed

[2017-04-24 18:39] elasticmachine opened #29777 "Need to document SSL enablement for Slack Alerts"
*Original comment by @ctindel:*

**Elasticsearch version**:

5.3

**Plugins installed**: []

x-pack

**JVM version**:
Oracle 1.8.0 121

**OS version**:

Linux

**Description of the problem including expected versus actual behavior**:

Alerting to slack via https works fine (the hook is something like LINK REDACTED) but if you turn on SSL for elasticsearch, for some reason this affects the way that

[2017-04-24 19:17] gjbh-idematica commented on #10346
I also ran into this bug. It would be great if it could be solved.

[2017-04-24 20:42] igormarqs commented on #24283
i foudn this topic i this solve for me.

https://discuss.elastic.co/t/elasticsearch-restart-failed/83357/7?u=igormarqs

[2017-04-24 20:52] elasticmachine opened #29778 "Remind users to include the @ symbol when applying license file"
*Original comment by @ppf2:*

Seems to be a common mistake out there.  Some admins tend to leave out the @ symbol before the path for the curl command that applies the license.  Perhaps we can put an Important note or highlight the importance of not leaving out the @ before the filepath in the docs?

https://www.elastic.co/guide/en/x-pack/current/installing-license.html

[2017-04-25 04:35] lovewanli opened #24301 "Continuous spaces become one blank space"
When I put this in elasticsearch 5.3.1 and I get those,all Continuous spaces become one blank space,why this happen ?As a database this sure not happen.

please help me fix this.

{
  "filePath": "/cpic/dep       loy/Aladdin/main       /log/AllRece_20170413.log",
  "logText": "2017-04-20 08:00:45,468                                   kkk oooh          dddd               dddd

[2017-04-25 04:40] dadoonet commented on #24301
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-04-25 04:40] #24301 closed

[2017-04-25 04:48] johnyannj opened #24302 "[feature request] Is it necessary to add a quick recovery configuration item like "indices.recovery.fast""
when shard become very large,   restart one cluster will waste too much time,

I know the primary shard become started is very fast.

but the cluster become green from yellow is very slow, become  replica shard need recovery：

Especially the first phase of recovery.

Sometimes we need fast recovery services, not too concerned about data consistency。

I recommend adding a configuration item: “indic

[2017-04-25 06:12] Gacko commented on #23785
I just upgraded from 5.3.0 to 5.3.1. Different JAR, same behavior:

[code]

Where do you want me to put the 5.3.0 backup?

[2017-04-25 06:29] elzozz commented on #24283
@jasontedor Here are the config files and I think I found the issue in my case.
In `/etc/sysconfig/elasticsearch/` DATA_DIR was set to /elastic-data, the same path as in `elasticsearch.yml` data.path parameter. As mentioned by @igormarqs the startup script then adds the `-Edefault.path.data=${DATA_DIR} ` line to the command line. So the default.path.data is indeed defined, but not from the `elasti

[2017-04-25 07:38] colings86 opened #24303 "[TEST] Docs tests for reference/docs/delete/line_10 fails on 5.x"
Build URL:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+java9-periodic/2260/console

Looks like some fields in the response are not present in 5.x (does not reproduce on master, have not tried earlier branches):
[code]

Reproduce command (reproduces consistently):
[code]

[2017-04-25 07:39] colings86 commented on #24303
@bleskes @jasontedor could one of you take a look

[2017-04-25 07:39] ywelsch commented on #24302
Just skipping phase 1 would leave replicas in an inconsistent state. There are better solutions though:
[Synced flush](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-synced-flush.html) should give you instant recoveries if there is no write activity on the indices. For indices that continuously receive writes, Elasticsearch 6 will have fast replica recoveries that also gua

[2017-04-25 07:39] #24302 closed

[2017-04-25 08:10] colings86 opened #24304 "[TEST] Failures on NFS due to requests not being acked"
Build URL:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+nfs/204/consoleFull

There are two failures in `AliasRoutingIT` here but they are probably related so I put them in one issue. This test in on NFS so I assume that is a factor here given I can't reproduce this locally. It should also be noted that after this test was run other tests ran but then a node in the test clus

[2017-04-25 08:15] colings86 commented on #24303
Oops, hadn't seen that @nik9000 is already looking at this

[2017-04-25 08:27] colings86 commented on #24304
Another failure:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+nfs/203/consoleFull

This time the tests are different but the AssertionError is the same (not acked). Also in this build the node did not seem to fail later with the fileLock errors.

[code]

[2017-04-25 08:38] colings86 commented on #24179
Another case of this but on a different test method: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/2570/console

reproduce command:
[code]

As well as the above exception it also throws the following which is strange becasue 5.0.0 > 2.0.0:
[code]

[2017-04-25 09:10] jasontedor commented on #24283
@elzozz Indeed, you have both `path.data` configured and `default.path.data` configured the same path (which differs from the default provided by the packaging). That explains why are you also impacted by this issue.

[2017-04-25 09:10] martijnvg commented on #24299
I don't think that crashing the node is the best approach when there is no space left on device. The node can still serve read requests and if indices are removed/relocated (or in this case old log files are removed) then there should be sufficient space to handle write requests.

In case of log files filling up, maybe ES should try to prevent this by capping the size of the log file, for example

[2017-04-25 09:18] clintongormley commented on #24299
Also, a disk might fill up because of a big merge.  As soon as that fails, disk space could be freed up again allowing the node to continue working.

[2017-04-25 09:21] s1monw commented on #24304
I wonder if this is related to running checkindex on so many shards and slow disks:
[code]

each checkindex (per-shard) takes 2 seconds which piles up quickly and that means the ack times out. I wonder if we should opt-out of this on the NFS builds to speed things up?

[2017-04-25 09:30] colings86 commented on #24303
Test is now muted by https://github.com/elastic/elasticsearch/commit/f2e31cdeefc4e03f5202951643b1c6e746817d10

[2017-04-25 09:34] colings86 opened #24305 "DELETE ME"

[2017-04-25 09:43] jasontedor commented on #23785
@Gacko This is different than the problem that you reported before yet seemingly similar.

There's something very puzzling about your system, I do think this is ultimately specific to your environment and not a problem with the packaging (and again, this doesn't reproduce for me where I just tried on Oracle 7, and it doesn't reproduce in our packaging tests which we test across a variety of OS (e.

[2017-04-25 09:43] johnyannj commented on #24302
hi, synced flush dont resolve problem.

first:

when shard is too large, the document num is  often inconsistent.
although the syncid is same but document num is different.  source node recovery will return error, and target node will remove local data and recovery whole shard from primary shard:

RecoverySourceHandler.java

[code]

[2017-04-25 09:50] colings86 commented on #24305
Opened in error

[2017-04-25 09:50] #24305 closed

[2017-04-25 09:56] apepper opened #24306 "AWS Cloud plugin: Creation of S3 snapshot sometimes raises MultiObjectDeleteException"
**Elasticsearch version**: 2.4.4

**Plugins installed**:
 * `cloud-aws` (`2.4.4`)
 * `elasticsearch-head` (`master-20170214`)
 * `elasticsearch-kopf` (`2.1.2`)
 * `license` (`2.4.4`)
 * `marvel-agent` (`2.4.4`)

**JVM version**: `jdk-8u121`

**OS version**: Amazon Linux `2016.09`

**Description of the problem including expected versus actual behavior**:

We are doing regular snapshots of our elast

[2017-04-25 09:58] khionu commented on #24299
In that case, it might be best to put a hold on the operations that are unable to complete.

A queue, that will retry at a much lower rate, until operations are successful, would appease the concerns of being available for read and waiting for disk to be freed, without causing undue spam. For an exception that requires manual intervention, a retry rate of once a minute would be acceptable, in my o

[2017-04-25 10:05] jasontedor commented on #24303
I think that the wrong branch was muted here (master) whereas this is failing on 5.x because `_primary_terms` and `_seq_no` are not part of the doc write response there. I pushed 2e9d91ecc4b0ef5a88ef257ca32070d32d47e305 to fix the broken test in 5.x, and I pushed f2e31cdeefc4e03f5202951643b1c6e746817d10 to revert the skip on master.

[2017-04-25 10:06] jasontedor commented on #24303
Closed by 2e9d91ecc4b0ef5a88ef257ca32070d32d47e305

[2017-04-25 10:06] #24303 closed

[2017-04-25 10:07] colings86 commented on #24303
@jasontedor thanks for catching that and fixing it

[2017-04-25 10:18] serg3ant commented on #8595
It seem to happen when bulk is empty

[2017-04-25 10:46] colings86 opened #24308 "[TEST] Builds can hit the max compilations limit"
Build URL:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.3+multijob-unix-compatibility/os=centos/143/console

This build failed because it exceeded 1000 inline script compilations per minute. Given that our tests use a mock script engine, should we increase this limit for tests that extend `ESIntegTestCase`?

[2017-04-25 11:24] clintongormley commented on #24256
`ignore_above` prevents any analysis of a long text field.  Perhaps using the [limit token count token filter](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-limit-token-count-tokenfilter.html) would be a better fit for text fields

[2017-04-25 11:29] clintongormley commented on #24279
You can use the [mapper-size plugin](https://www.elastic.co/guide/en/elasticsearch/plugins/current/mapper-size.html) for this

[2017-04-25 11:29] #24279 closed

[2017-04-25 11:31] ywelsch commented on #24167
The test encounters a local checkpoint mismatch, probably because the translog is missing an entry (replica cannot advance local checkpoint).

Relevant log lines:

[code]

I'll have to dig deeper what's causing this /cc: @jasontedor
More recent failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux/883/consoleFull

[2017-04-25 11:32] clintongormley commented on #24275
@n0othing also note that field stats is deprecated in favour of the new field caps API (5.4)

[2017-04-25 11:33] clintongormley commented on #23792
No, because updates need to be sure they have the latest version of the doc to avoid losing changes

[2017-04-25 11:37] clintongormley commented on #24269
@m31collision i suggest opening a PR here and marking as WIP, otherwise nobody will see it

[2017-04-25 11:43] #24233 closed

[2017-04-25 11:55] s1monw commented on #24299
I agree killing the node might not be the right thing here while I can see it as a viable solution for some usecases. Out of the box I'd like us to rather detect that we are close to full disk and then simply stop write operations like merging and indexing. Yet, this still has issues since if we have a replica on the node we'd reject a write which would bring the replica out of sync in that moment

[2017-04-25 11:58] clintongormley commented on #24248
+1

[2017-04-25 11:58] #24248 closed

[2017-04-25 12:03] Gacko commented on #23785
Ok, thank you very much. I'll keep this in mind the next time I update and disable RESTART_ON_UPGRADE. The problem itself won't a big deal to me in the future since we're going to move over to Docker soon and I just wanted to make sure this is not related to Elasticsearch.

[2017-04-25 12:03] #23785 closed

[2017-04-25 12:06] clintongormley commented on #24244
Ping @spalger

[2017-04-25 12:06] jasontedor commented on #23785
Indeed, I appreciate the additional information you provided today. I feel very confident in saying that this is not an Elasticsearch issue.

[2017-04-25 12:22] uboness commented on #24244
I'm really on the fence here... this was quite a highly requested feature when we had facets and it was one of the reasons we added it to aggs. I don't think much has changed since then wrt how users use the data (either directly or to plot it using a charting lib). Also, from a pure feature/functional perspective I think it's a valid ask to compute a history for a given timeframe. In most cases,

[2017-04-25 12:37] ywelsch commented on #24302
No, this has nothing to do with shard size. It should only happen in the scenario described [here (Section "Replicas can fall out of sync when a primary shard fails")](https://www.elastic.co/guide/en/elasticsearch/resiliency/master/index.html).
This will be properly fixed by the work mentioned above (#10708) in Elasticsearch 6 and should lead to very quick recovery times.

[2017-04-25 12:44] vmarchaud commented on #23842
@simenflatby Hello, we've got the exact same issue : elasticsearch is killed by the oom-killer, the only difference is the kernel version for us too, i was wondering if you found a solution ?

[2017-04-25 13:20] simenflatby commented on #23842
@vmarchaud Yes, I have solved it. Have a look here: https://discuss.elastic.co/t/out-of-memory-invoked-oom-killer/80795

[2017-04-25 13:25] nik9000 commented on #24303
Thanks! I thought I'd pushed a fix for this before bed but it looks like I didn't. I'm sorry!

[2017-04-25 13:31] nik9000 commented on #24308
I wonder if this is a duplicate of #24272?

[2017-04-25 13:33] colings86 commented on #24308
I does seem related

[2017-04-25 14:01] eticzon commented on #24217
Hi @jpcarey, @clintongormley! I'd like to adopt this issue, if that's OK.

[2017-04-25 14:23] colings86 opened #24313 "GceDiscoverTests fails with thread leak"
build URL:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.3+multijob-unix-compatibility/os=opensuse/144/consoleFull

Reproduce command:
[code]

stack trace:
[code]

[2017-04-25 14:51] clintongormley commented on #24217
@eticzon great

Thanks for showing interest in contributing to Elasticsearch.

Here's a guide to how to go about it: https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md

[2017-04-25 14:51] spalger commented on #24244
Kibana absolutely could take more control of this client side, but I'm pretty sure that moving away from extended_bounds client side won't be a trivial change.

 - Kibana no longer exposes an option to run date_histograms with extended bounds
 - date_histograms on older visualizations will continue to request it (bwc)
 - extended bounds options is available for numeric histograms
 - Timelion reque

[2017-04-25 14:54] Bargs commented on #24275
We've had a couple reports of this affecting Kibana users already. Because we use field stats to figure out the searchable/aggregatable status of fields this effectively breaks Kibana for any index patterns containing a geo_point field after upgrading to 5.3.1.

https://github.com/elastic/kibana/issues/11379
https://github.com/elastic/kibana/issues/11377
https://github.com/elastic/kibana/issues/95

[2017-04-25 15:11] nullpixel1 commented on #24299
Yeah, so you cannot write to the disk if it's full, but spamming the logs isn't the way to go.

Could do a "read only" style mode where it just says it went into read only because of no disk space. there's no need to spam the logs; even with a cap

[2017-04-25 15:14] jasontedor commented on #24299
This is not necessarily true, the logs could (and should!) be on a separate mount, they could have log rotation applied to them, etc.

[2017-04-25 15:16] jasontedor commented on #24299
I agree but I'm unsure if disk-full qualifies as such a disaster situation since it's possible to recover.

[2017-04-25 15:20] jpountz opened #24314 "Add doc values to range fields"
If we add doc values to `range` fields and build doc-values-based range queries, then we could leverage `IndexOrDocValuesQuery` in order to use doc values when they are expected to be more efficient than points.

Related to #23182

[2017-04-25 15:23] jasontedor commented on #24299
In a concurrent server application, there are likely many disk operations in flight, expecting a single message is not realistic. As others have mentioned, this situation can be recovered from so crashing on disk-full should not be a first option.

[2017-04-25 15:45] nilabhsagar commented on #23476
Hi @clintongormley,

The suggestion for combining the fields into a single top-level context inherently has a complexity which we have addressed with this feature request. By using the solution provided by us, a user of ES nested model will be:

- Able to use this functionality by just using simple mapping and query.
- No coding effort will be required to create and copy context fields.
- Able to

[2017-04-25 16:06] nikkelj commented on #15425
+1, I was using an index management scheme that was open loop deleting potentially existent indices based on time range.  This then creates thousands of ghost indices that cannot be deleted, and completely kills the cluster performance.  Poor behaviour.

[2017-04-25 16:58] jpountz commented on #23546
If we do this, I'd like to make sure we are addressing an actual problem rather than the symptom of some mis-configuration (eg. too many shards in a cluster). Also how much memory are we talking about, and where is it spent? Maybe the right fix is to make Lucene indices more memory-efficient.

[2017-04-25 17:09] trevan commented on #23546
@jpountz, improving memory usage of Lucene could work for me as well.

This is really a cost issue.  It is really cheap to add more disk for cold storage indices (we have it over iSCSI which is slow but these are indices that only used once a day at most).  But to add additional RAM, it costs a bit.

https://discuss.elastic.co/t/why-is-my-heap-usage-always-high/45017/9 is my discuss question to se