[2015-03-01 10:37] javanna commented on #9931
I had a look and I see something different. The json response that I print out as a string before any parsing is the following:

[code]

As far as I can see the expression lang is responsible for returning the integer field as a float. The java REST runner just uses the same parser that elasticsearch uses internally, which tries and detect the different numeric types and does see the difference be

[2015-03-01 11:50] shastox commented on #9582
Sorry.

ALL configuration is default, becide of:

/etc/default/elasticsearch: ES_HEAP_SIZE=4g
/var/elasticsearch/logging.yml: es.logger.level: DEBUG

There are no nodes.

ES works ~20 days withouth crashing, but yesterday it down every 5-10mins. This problem is in few diffrent servers.

/proc/sys/vm/max_map_count - exists: 65530

[2015-03-01 13:59] perseo-dev commented on #9752
ok, thank you very much!

[2015-03-01 14:16] jimmyjones2 opened #9934 "Min or max aggregation of date returns floating point number"
A min or max aggregation of a date field returns a floating point number, epoch milliseconds, despite it being internally stored as a long. Should it really return an long? In some rare cases, will floating point not return an entirely accurate answer?

[2015-03-01 18:01] nithyanv opened #9935 "Wildcard queries and regex don't run on indices (_id)s"
Hi,

I have been trying to run wildcard queries against .kibana indices on ES 1.4.4. I am querying on _id. While prefix query runs, wildcard queries don't.

Example

Gives results, but

Gives me an empty result.

[2015-03-01 18:08] kennycason commented on #6914
+1

[2015-03-01 20:09] clintongormley commented on #9911
Closed by #9932

[2015-03-01 20:09] #9911 closed

[2015-03-01 20:25] clintongormley commented on #9931
@javanna you are right - this is a Perl issue.  It silently converts `23.0` in the JSON into an integer (which is why it logged the integer in the trace logs).  Apologies for the noise - I'll probably have to work around this with a range check.

[2015-03-01 22:56] costin commented on #9483
@clintongormley @bleskes Raised PR #9939

[2015-03-02 07:11] MiteshShah opened #9940 "How to set index.query.bool.max_clause_count ?"
Hello All,

I'm added following line in `/etc/elasticsearch/elasticsearch.yml`
[code]

After restart ES i was not find the above value:
[code]

Any help on this

[2015-03-02 08:38] colings86 commented on #9754
@clintongormley yeah I think it can as the script module documentation has been updated to reflect the preferred naming

[2015-03-02 08:38] #9754 closed

[2015-03-02 08:54] miccon commented on #8730
@clintongormley the issue did not reappear. But at that time we had many failing shards after the upgrade (#9140) causing many cluster operations on the master. Meanwhile we have upgraded all our indices to lucene 4.10.2

[2015-03-02 09:03] greg0ire opened #9941 "Ubuntu update breaks ES ?"
Friday, at ~ 9 a.m. UTC, an update popped in and everyone in my office did it. Here is the apt log for this update :

Upgrade: multiarch-support:amd64 (2.19-10ubuntu2.2, 2.19-10ubuntu2.3), cups-core-drivers:amd64 (1.7.5-3ubuntu3, 1.7.5-3ubuntu3.1), cups-server-common:amd64 (1.7.5-3ubuntu3, 1.7.5-3ubuntu3.1), nscd:amd64 (2.19-10ubuntu2.2, 2.19-10ubuntu2.3), libcups2-dev:amd64 (1.7.5-3ubuntu3, 1.7.5

[2015-03-02 09:05] miccon commented on #8881
@clintongormley no news to report here. The issue did not reappear on our cluster.

[2015-03-02 09:09] #9802 closed

[2015-03-02 09:21] justnick21 commented on #8886
@clintongormley if i manage to reproduce it on a a small test dataset i will reopen or raise again. thanks.

[2015-03-02 09:27] #9931 closed

[2015-03-02 09:45] tlrx commented on #9774
@grantr thanks to share your thoughts.

I agree with you and I also think that the automatic JAVA_HOME detection is maybe not a such good idea. We are currently modifying the scripts to make them more uniform and we will remove this detection loop from the init script. If really needed, one could add it in the `/etc/default/elasticsearch` to set JAVA_HOME.

To me, the right behavior is: use `JAVA_

[2015-03-02 09:50] gurvindersingh commented on #9212
We have seen the similar behavior and it is related to large number of shards allocated per node. So if you reduce the number of shards issue will go away. But I still think it is an issue with ELS. As having large number of shards should not simple force node to disconnect. I do get the point that a single shard is like a single lucene copy. It was working before as people reported in 1.1.x or 1.

[2015-03-02 09:58] clintongormley commented on #9940
The setting in the config file won't show up in the index.  It is a node level setting.

[2015-03-02 09:58] #9940 closed

[2015-03-02 10:00] clintongormley commented on #8730
OK @miccon, thanks for letting us know.  I'm going to close this issue for now then, feel free to reopen if you see similar issues again.

[2015-03-02 10:00] #8730 closed

[2015-03-02 10:11] clintongormley commented on #9941
@greg0ire @clebeaupin you upgraded all of these packages (including libc) while still running Elasticsearch?  Did you restart Elasticsearch and continue to see these problems?

[2015-03-02 10:11] clintongormley commented on #8881
thanks @miccon - I'll close this issue for now then

[2015-03-02 10:11] #8881 closed

[2015-03-02 10:13] clintongormley commented on #8886
thanks @justnick21

I'll close this issue for now then

[2015-03-02 10:13] #8886 closed

[2015-03-02 10:17] clebeaupin commented on #9941
Yes ElasticSearch was running during the upgrade.
After the upgrade, I restarted my computer and I still got the same issue.
To continue to work with ElasticSearch, I had to install it on a separate virtual machine that was not upgraded with the last version of libc6. I have not test it again on my local computer.

[2015-03-02 10:24] cbuescher commented on #7673
This is fixed on 1.4 and 1.x with https://github.com/elasticsearch/elasticsearch/pull/9790 I think.

[2015-03-02 11:08] colings86 commented on #9927
@clintongormley this should have been solved in https://github.com/elasticsearch/elasticsearch/pull/7534 (pushed only to master). If we have missed a case this issue should be re-labelled as a bug

[2015-03-02 11:22] s1monw commented on #9498
moved out to 2.0 for now

[2015-03-02 11:28] bleskes commented on #9212
@gurvindersingh we spent quire a bit of time and found the source of regression (see https://github.com/elasticsearch/elasticsearch/pull/9683#issuecomment-74345290) . We used to cache an in memory representation of the file system. That caching removed to simplify the code base (considerably) but a side effect was that FS metadata calls have to be made on each stats (like total file size etc.). Th

[2015-03-02 11:35] cbuescher commented on #9814
On branch 1.4 with dff19cb and on 1.x with 8391b51

[2015-03-02 11:50] clintongormley commented on #9941
@clebeaupin could you provide more info about what you saw going wrong?  at the moment it's in the "it doesn't work" category...

[2015-03-02 11:50] clintongormley commented on #9941
a recreation would be great...

[2015-03-02 11:51] clintongormley commented on #9927
@colings86 it is fixed in master - thanks, closing

[2015-03-02 11:51] #9927 closed

[2015-03-02 12:04] gurvindersingh commented on #9212
@bleskes Thanks for the information. I can see that upcoming patches might solve this problem. Is there any plan to port those changes back to 1.3 or 1.4 branch. As it seems to be targeted for 1.5 and 2.0 mainly.

[2015-03-02 13:40] brwe opened #9945 "[TESTS] Make sure test end with ..Tests"
We currently filter test classes by suffix `Test` or `Tests` (https://github.com/elasticsearch/elasticsearch/blob/master/pom.xml#L495), but there is no automation in place to guarantee that test classes actually end with this suffix. As a result, some tests did not run on CI without anyone noticing (see for example https://github.com/elasticsearch/elasticsearch/commit/600cb886da0b8a4adae9a3a0eb688

[2015-03-02 13:48] javanna commented on #9945
+1 I think we should rather take `ElasticsearchTestCase` as the base class though.

[2015-03-02 13:57] martijnvg commented on #9945
Or if a test class has '@Test' then the class name must end with *Test

[2015-03-02 14:02] javanna commented on #9945
@martijnvg I'm afraid we don't use the `@Test` annotation consistently though... we better look also for method names that start with `test` if we take that approach.

[2015-03-02 14:13] martijnvg commented on #9945
Yes, we take this approach we should also look for method names starting with `test`. I think we either should the test method name consistently or the test annotation, but that is a different discussion.

[2015-03-02 14:14] sqpdln commented on #5324
+1

[2015-03-02 14:15] sfaribault commented on #9941
Hi, I also experienced this issue.
I managed to work around it by decommenting this line in elasticsearch.yml:
discovery.zen.ping.multicast.enabled: false

I found this error in my logs :
failed to connect to master [[Bart Hamilton][7livEvjOQ8uCTGOeMuAH2A][ubuntu-parallels][inet[/192.168.0.13:9300]]], retrying...
   org.elasticsearch.transport.ConnectTransportException: [Bart Hamilton][inet[/192.1

[2015-03-02 15:05] colings86 commented on #9791
@clintongormley yep this would fit into the new agg features in https://github.com/elasticsearch/elasticsearch/issues/9876, although it would probably need to be done through the scriptable implementation.

Closing in favour of that issue (#9876)

[2015-03-02 15:05] #9791 closed

[2015-03-02 15:18] christtonk opened #9948 "Empty document allows multiple usage of same "_id""
My test scenario is the following:
I am using parent <=> child relations in order to connect my documents. Usually I am using empty documents where I set the "_id" field as parent. All children are connected to this document.

What I figured out is: If a document is empty I can save the same document with the same "_id" multiple times. Also this document shows up multiple times in the index. If I

[2015-03-02 15:19] zmathe commented on #9791
Thank you very much for adding this to the new aggregation framework!

[2015-03-02 15:29] clintongormley commented on #9948
@christtonk Can you provide a recreation demonstrating what you are doing please?  If you're using different parent IDs for each child document, then this is expected.

[2015-03-02 15:30] javanna commented on #9730
Not sure I get what you mean, `ExistsRequestBuilder` has a couple of `setQuery` methods too. But I also see no difference between `ExistsRequestBuilder` and `SearchRequestBuilder`, they (mis)behave the same way as far as I can see. Can you double check that if you do the same with `SearchRequestBuilder` it works as you'd expect?

As for using builders to get requests back. Whatever you do with a b

[2015-03-02 15:54] colings86 commented on #9878
Exception logged on server is listed below. This is strange as it seems that the top hits aggregator is being run on the 'scroll next' call when it should only be run on the initial scan.

[code]

[2015-03-02 15:55] colings86 commented on #9878
The issue can be reproduced on the 1.4 branch but not on the master branch. I haven't checked any other versions.

@estin could you confirm which version of Elasticsearch you are running?

[2015-03-02 15:59] estin commented on #9878
1.4.4

docker image - https://github.com/dockerfile/elasticsearch

curl -XGET 'http://localhost:9200
[code]

[2015-03-02 16:02] christtonk commented on #9948
@clintongormley I am using the Java API ... I will extract the code that looks suspicious to me ... just need some time.

[2015-03-02 16:14] clintongormley commented on #9948
If you could provide the demonstration as curl statements, it would be easier.

[2015-03-02 16:23] christtonk commented on #9948
@clintongormley Somehow I cannot reproduce it with curl statements ... but with my Java Code I can

[2015-03-02 16:26] efontana opened #9950 "Logs being sent to a closed index cause logstash to lock up"
When sending logs (via logstash) if the log is sent to a closed index, there is no good error message reported and it causes logstash to lock up? Is there a solution for this?

[2015-03-02 16:32] #9945 closed

[2015-03-02 16:35] s1monw commented on #9945
thanks so much @brwe for finding this... `das glück des tüchtigen...`

[2015-03-02 16:46] sylvae opened #9951 "Very high disk read io when bulk"
We have about 95 nodes in our cluster,and index have 89 shards.
We send bulk requests to these nodes random,total about 1 million per seconds.

Every thing is good except some nodes(about 5~10) have very high disk read io:
Device:         rrqm/s   wrqm/s     r/s     w/s   rsec/s   wsec/s avgrq-sz avgqu-sz   await  svctm  %util
sdh               0.00     0.50 19739.00   18.00 573624.00  3128.00

[2015-03-02 16:58] brwe commented on #8995
@clintongormley hm. I would feel a little awkward writing a commit message that says "This setting has no effect whatsoever and will be removed from the mapping immediately but Clinton has this module...." . So, I am more leaning towards not adding it.

[2015-03-02 17:06] kimchy commented on #8995
Just a note regarding persisting back the object mapping, we don't write the type object in the mappings most of the times (to try and save space, at least that was the initial thought behind it), since `properties` is enough to know its an object (if there weren't properties, we do write type object, see `ObjectMapper#toXContent`). This happens on any object mapping.

[2015-03-02 17:16] pickypg commented on #9890
@clintongormley The intended use case is effectively to page an enormous string field, while still supporting highlighting.

[2015-03-02 17:26] clintongormley commented on #8995
@brwe :D  - I just mean that I ran into the same thing as the OP...  The one thing is that today it is inconsistent.  It is accepted at field level, but not at root level.

[2015-03-02 17:36] clintongormley commented on #9950
Hi @efontana

Trying to index into a closed index returns a 403 status code and:

    { "error" : "IndexClosedException[[my_index] closed]", "status": 403 }

...which seems pretty self-explanatory.  Perhaps logstash isn't checking for this error but should be?

@jordansissel ^^

[2015-03-02 17:36] grantr commented on #9774
Great, thanks @tlrx! I'll follow the release notes to see when I can remove the `JAVA_HOME` override from our `/etc/default/elasticsearch`.

[2015-03-02 17:39] jordansissel commented on #9950
This belongs on logstash, not elasticsearch. @efontana can you move this to logstash-plugins/logstash-output-elasticsearch?

[2015-03-02 17:49] nik9000 commented on #9890
Not to steal any thunder from elasticsearch itself but I'm happy to work with you at https://github.com/wikimedia/search-highlighter - I can't really tell what you are looking for but you might want to have a look at the [Segmenter](https://github.com/wikimedia/search-highlighter/blob/master/experimental-highlighter-core/src/main/java/org/wikimedia/search/highlighter/experimental/Segmenter.java) i

[2015-03-02 17:56] clintongormley commented on #9890
@pickypg how many highlighted snippets (or fragments) are you intending to retrieve from each doc?  If you want (eg) the best 5 snippets, then you'd be better of by indexing the string with `index_options` set to `offsets`, and using the postings highlighter (see http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/search-request-highlighting.html#postings-highlighter)

That way E

[2015-03-02 18:00] ajhalani commented on #8953
Since upgrading to v1.3.7 from v1.2.2, our master re-elect time has gone from few milliseconds to 3seconds pause, plus ~0.5 seconds..

During this time, we sometimes see failures in ES request on other machines than the master and get error - {"error":"ClusterBlockException[blocked by: [SERVICE_UNAVAILABLE/2/no master];]","status":503}

We don't use multicast, but unicast. I think it's related to

[2015-03-02 19:54] martijnvg opened #9953 "[CI Failure] DiscoveryWithServiceDisruptionsTests.isolatedUnicastNodes"
http://build-us-00.elasticsearch.org/job/es_g1gc_1x_metal/5192/consoleText

[code]

[2015-03-02 21:26] bleskes commented on #8953
@ajhalani this shouldn't be the behavior in 1.3.7 but is in 1.4.0 where we added a pinging round of 3s by default  - see http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/modules-discovery-zen.html#master-election for more info. Can you double check your ES version?

[2015-03-02 21:28] ajhalani commented on #8953
You are right, it's v1.4.1..

[2015-03-02 21:30] bleskes commented on #8953
@ajhalani cool thx. If you have a timeout <~3s on the requests it will explain what you see. I suggest you  increase it a bit.

[2015-03-02 21:41] ajhalani commented on #8953
Well the request (_bulk index) didn't timeout, it failed immediately. We don't set any timeout setting, using the default settings..

[2015-03-02 23:56] #8710 closed

[2015-03-02 23:56] #9270 closed

[2015-03-03 03:26] coxchen opened #9956 "Hitting AlreadyExpiredException from updating document that has valid _ttl"
Hi,

I hit the AlreadyExpiredException from updating document with valid _ttl, i.e. _ttl greater than 0.
Here is my index mapping (simplified), both **_timestamp** and **_ttl** are enabled, and _timestamp is provided with *customized path*:

[code]

I did some experiments as [documented in this article](https://medium.com/@coxchen/document-obsolescence-in-elasticsearch-c5973dd9e68d) and found that

[2015-03-03 05:05] scottbessler opened #9957 "Feature Request: ability to limit which fields are included for each "hit""
I am running a `_search` (with a sort) and hoping to just get the _id's back. Unfortunately I get a ton of extra, mostly redundant, and mostly useless fields that I can't seem to disable.

[code]

It would be great if I could return JUST an array of `{"_id":"..."}` or even better, an array of the id values themselves.

[2015-03-03 05:53] perryn opened #9958 "multiple 'children' aggregations interfere with each other"
If you have two sibling aggregations that make use of the 'children' aggregation, then the second aggregation seems to count each document twice.

Here is a cut-down example

I have a mapping that has parent documents of type 'datastreams' with child documents of type 'readings'

I ran this, which has two identical sibling aggregations:

    curl -XGET 'https://blahblahblah/index/datastreams/_sear

[2015-03-03 07:55] Pyppe opened #9959 "Single endpoint for getting all configuration settings"
I'd really like to see a single endpoint (e.g. `localhost:9200/_configuration`) for getting all of the configuration settings (usually defined in `elasticsearch.yml`) that a running Elasticsearch process uses.

This would be really helpful validating configurations in more complex environments.

[2015-03-03 08:16] christtonk commented on #9948
OK, figured out what is happening and I think the mistake is on my side: I am using routing extensively. What I am able to do is: inserting the same document into the same index with the same "_id" but with different routing information twice without getting a document already exists exception. What I understood so far is that this is the correct behavior.

[2015-03-03 08:57] martijnvg commented on #9958
Hi @perryn on what version of ES are experiencing this interference issue? Also are you able to reproduce on a smaller scale?

[2015-03-03 09:03] clintongormley commented on #9950
thanks @jordansissel - closing

[2015-03-03 09:03] #9950 closed

[2015-03-03 09:03] mewwts commented on #9814
Thanks @cbuescher.

[2015-03-03 09:17] clintongormley commented on #9956
Hi @coxchen

The `_ttl` is added to the `_timestamp`, so you need to update both otherwise it uses the old `_timestamp` as a base.

[2015-03-03 09:18] clintongormley commented on #9957
Closing in favour of #7401

[2015-03-03 09:18] #9957 closed

[2015-03-03 09:19] clintongormley commented on #9959
Closing in favour of #6732

[2015-03-03 09:19] #9959 closed

[2015-03-03 09:21] clintongormley commented on #9948
Yes, this is correct.  The default `_routing` value is the `_id`, so if you change that (by specifying a parent or routing value) then it is up to you to ensure that you don't reuse the same `_id` on a different shard.

[2015-03-03 09:21] #9948 closed

[2015-03-03 09:21] #9769 closed

[2015-03-03 09:31] kubz commented on #3138
+1

[2015-03-03 09:42] mausch commented on #9778
I'm seeing this in 1.4.2 too.

[2015-03-03 10:41] bleskes commented on #9791
@zmathe I may be totally missing something but in your aggs examples, I see that the kibana version does a date histogram first, then prodcut terms aggs and then sums the quantity.

The request under

is different. It does terms aggs first, then date histogram, then summing the quantity. I wonder if just changing the agg order in kibana will also give you what you want?

[2015-03-03 10:44] bleskes commented on #9212
@gurvindersingh FYI I back ported the change to 1.4

[2015-03-03 10:51] bleskes commented on #8953
@ajhalani write requests shouldn't fail but wait for the 3s to complete (read requests are not blocked). The default timeout is 1m, did you change it? I also suggest that page I referred to - it explains why added the 3s gossiping round.

[2015-03-03 11:25] setaou opened #9961 "Translog stored at the wrong place"
When using option --default.path.data at startup and configuring path.data with a different path in /etc/elasticsearch/elasticsearch.yml, indices are correctly stored in the path defined in elasticsearch.yml, but translogs are still stored in the path defined by --default.path.data.

Removing --default.path.data solves the problem, but when using packages for ES, it involves modifying /etc/init.d/

[2015-03-03 11:56] gurvindersingh commented on #9212
Thanks @bleskes

[2015-03-03 12:03] javanna opened #9962 "Java Api: every request, builder and response to implement toString() consistently"
Follw-up of discussion we had in #9944. After #9201, we should look into having consistent `toString()` implementations for all of our requests (I think builders will be gone by then) and responses.

Topics to discuss: when it comes to search requests we currently print out only part of the requests in json format. I'd propose to move away from json format in general, which is trappy as it makes u

[2015-03-03 12:51] clintongormley commented on #6418
+1

[2015-03-03 12:56] clintongormley commented on #9951
what version of ES are you using?  And do the hot nodes have more primary shards than others?  Also, how many shards per node in total?

[2015-03-03 13:05] javanna commented on #6418
As for the more generic settings, I am wondering about conflicts. Of course more specific settings take precedence. But which one takes precedence between conflicting script_type based setting and operation based setting?

Let's say we have:

[code]

Should it get expanded to the following?

[code]

If so, it means that operation based settings take precedence over script_type based settings. Mayb

[2015-03-03 13:07] mvdz commented on #8879
Hello @martijnvg, I've taken another look at this and implemented a workaround that appears to be the same as what you describe. It does seem to work for me, could you take a look at it?

https://github.com/mvdz/elasticsearch/commit/04707f7fd25bc545aae00e34d7a0e443096b8456

I understand this isn't the real fix, but hopefully it can lead to something better. Also it only works for Groovy scripts, w

[2015-03-03 13:43] dapi commented on #2230
+1

[2015-03-03 13:44] zmathe commented on #9791
@bleskes  Changing the order does not work in Kibana, because there is an extra step (which calculates the averages), which can not be done in ES. I had to do this extra step in the client side (in the JS).
Changing the order will give the correct buckets, but I do not want to sum the quantity I want to have the
avg. In the following short example I am going to explain the problem.
The dataset I u

[2015-03-03 13:45] zmathe commented on #9791
I am sorry the screen shot is missing in the previous post:
![screen shot 2015-03-03 at 14 27 48](https://cloud.githubusercontent.com/assets/981448/6463585/d15fb6bc-c1b3-11e4-913d-7ddc9163abbf.png)

[2015-03-03 13:47] niemyjski commented on #2230
+1

On 3/3/15, Danil Pismenny <notifications@github.com> wrote:

--
Thanks
-Blake Niemyjski

[2015-03-03 13:50] adamcstephens commented on #9582
I've been experiencing this same issue on CentOS on top of Virtuozzo (Parallels openvz). I debugged this for a few days before giving up and moving the ES cluster to KVM.

Something has changed, either in the VZ or ES stack, or both, to cause this to no longer be stable. We ran this configuration for 10 months before it started crashing consistently but at a random runtime.

I have a dev system, a

[2015-03-03 13:51] sylvae commented on #9951
I am using ES 1.4.2. I have set  "index.routing.allocation.total_shards_per_node": "3", so the
number of the primary shards is almost the same. We create one index per day, and import today's data to it. Every index has 89 shards and 1 replic. Also, no search at the time.

[2015-03-03 14:33] shastox commented on #9582
Thank you,  adamcstephens. The problem is, but the reasons are not clear.

[2015-03-03 14:34] jillesvangurp opened #9964 "reloading cluster state using PUT /_cluster/settings"
I was experimenting with ways to make elasticsearch reload its cluster state to e.g. detect and fix dangling indices that I created by copying or moving indices. Elasticsearch detects and fixes those on start up.

Then I figured it probably does this as well when you update the cluster settings and indeed it does, which is nice. This provides me a way to copy/move/rename indices without a cluster

[2015-03-03 14:52] coxchen commented on #9956
Hi @clintongormley

Thanks for your reply.

Sorry for the confusion. I didn't update the _timestamp field (or log_time in my example), instead I did partial update to the **log_count** field with:

[code]

I just want to update fields **other than** the _timestamp filed or _ttl field, so I don't see why I hit the AlreadyExpiredException.

[2015-03-03 15:05] daniel-menard opened #9965 "[doc] query string syntax : small typo in range example"
Hi!

Reading the docs, I think I found a small typo on page http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#_ranges_2:

Shouldn't it be `count:[1 TO 5}`?

(but I would love if ".." was supported!)

[2015-03-03 15:20] dakrone opened #9966 "Add another test for reading a truncated translog"
Follow-up to #9797

[2015-03-03 15:32] #9699 closed

[2015-03-03 15:41] rashidkpc commented on #3303
Any additional thoughts on the `?pretty` method of returning developer/machine friendly errors? I'd love to at least get the name of the exceptions involved in an array. Ideally with key information points about each. But at least the names of the exceptions.

[2015-03-03 15:45] rashidkpc commented on #7401
With the removal of groovy by default I'm fine with something as simple as JSONPath

[2015-03-03 15:47] podopie commented on #9929
All I've done is use brew to install the specific elasticsearch version; I imagine when uninstalling a previous version of elasticsearch (latest), the brew uninstall likely did not clean up completely?

[2015-03-03 15:51] podopie commented on #9929
personal note, will close:
brew uninstall doesn't delete data/logs/plugins folders, so I deleted those specifically to clean up the install, and everything seems to now be working. Appreciate the callout, @dadoonet

[2015-03-03 15:51] #9929 closed

[2015-03-03 16:06] choweiyuan commented on #9699
This happened for me with 1.4.1, will this be fixed in 1.4.x?

[2015-03-03 16:29] dakrone commented on #9699
@choweiyuan yes, I am planning on backporting this to the 1.4 branch

[2015-03-03 16:31] choweiyuan commented on #9699
Thanks @dakrone !

[2015-03-03 17:17] brwe opened #9967 "Disconnect between coordinating node and shards can cause duplicate updates or wrong status code"
A document update can be sent to any node in the cluster (coordinating node) and this node will forward it to the ode that has the shard (the executing node). If the update fails, then under certain conditions the coordinating node tries to send the the update again (for example https://github.com/elasticsearch/elasticsearch/blob/master/src/main/java/org/elasticsearch/action/support/replication/Tr

[2015-03-03 17:41] ajhalani commented on #8953
We didn't change the timeout. The indexing request didn't wait for timeout, so it looks like a timing issue
"Timeline" -

[2015-02-25 04:03:31,927][DEBUG][cluster.service          ] [ny1.node] processing [zen-disco-master_failed ([nj2.node][RGXiGOUIQYSkaGhPX1dDDg][nj2][inet[/10.126.159.169:9301]]{datacenter=nj, master=true})]: done applying updated cluster_state (version: 30470)

[2015-02-25 04:03

[2015-03-03 18:54] clintongormley commented on #6418
Yes, I think the order should be: lang > source > operation

[2015-03-03 19:01] clintongormley commented on #9956
@coxchen It means that the document has actually expired, but not yet been deleted. Expired docs are only removed every 60 seconds.

[2015-03-03 19:04] clintongormley commented on #9965
thanks @daniel-menard

you're correct, i've fixed the docs.

[2015-03-03 19:04] #9965 closed

[2015-03-03 19:31] X17 commented on #7401
@rashidkpc  Hey, did you rolvedd it or found the answer?

[2015-03-03 19:43] clintongormley opened #9970 "Roadmap for 2.0"
* [x] #8312 Use doc values by default
* [x] #8870 Field/type mapping refactor
* [x] #9876 Perform computation on aggregations
* [x] #6295 Update cluster state using diffs
* #10217 ~~Refactor query and filter, agg, suggester parsing/serialization~~ (bumped to 3.0)
* [x] #8963 Warn when using deprecated syntax
* #3226 ~~Upgrade to Netty 4~~
* [x] Lucene 5.1
* [x] Lucene 5.2
* [x] #12768 Tests and pa

[2015-03-03 20:38] BHSPitMonkey opened #9971 "Add option for nGram tokenizer to always tokenize whole word"
It would be great if the nGram tokenizer came with an option to force creation of a whole-word token for cases when the word length falls outside the min-gram/max-gram range. Currently, we have to resort to a dual-mapping approach to make sure these tokens get created, which limits how we can construct per-field queries.

[2015-03-03 21:06] ajhalani opened #9972 "Indexing request failure during master re-elect"
Using v1.4.1 on 2 clusters, one 8-node(1 primary, 3 replica) and a 2-node cluster (1 primary, 1 replica). When we shutdown the master, it takes 3-3.5 seconds to elect new master. During this time we see indexing failure on the still online node with response -

For e.g timeline for 2 node cluster - two machines es1 and es2(old master which was shut down)
[code]

We are using default settings for t

[2015-03-03 21:20] ignaciovazquez commented on #9713
Hi,

Is this something you are able to fix or shall we look into RSS River alternatives?

Thanks!

[2015-03-03 21:30] dadoonet commented on #9713
You should consider logstash rss input plugin. RSS river is on my TODO list but TBH I don't have enough time to fix and release those days.

[2015-03-03 22:15] jdutton opened #9973 "Wildcard search on not_analyzed field behaves inconsistently"
I am seeing inconsistent behavior with wildcard searches that makes no sense.  I've created a Play to reproduce the issue I'm seeing here - https://www.found.no/play/gist/e452c1d68d6465540d85

For two simple documents:

name: "7000"
---
name: "T100"

With a simple not_analyzed mapping:

type:
    properties:
        name:
            type: string
            index: not_analyzed

The query for "nam

[2015-03-03 22:17] jdutton commented on #9973
Sorry for the terrible formatting.  The YAML snippets got butchered by markdown.

[2015-03-03 22:35] dakrone commented on #9973
Here's a reproduction (just copying here in case the link doesn't work someday)

# Create an index<a id="sec-1" name="sec-1"></a>

    DELETE /9973
    {}

    POST /9973
    {
      "settings": {
        "number_of_shards": 1,
        "number_of_replicas": 0
      },
      "mappings": {
        "doc": {
          "properties": {
            "name": {
              "type": "string",

[2015-03-03 22:55] maaand commented on #9758
Is there a work-around for this? -- other than running http client on all nodes

[2015-03-03 23:15] dakrone commented on #9973
Interestingly, using an actual wildcard query here does the right thing (as well as using a `simple_query_string` query), so the issue is only with the `query_string` query:

[code]

[2015-03-03 23:23] perryn commented on #9958
Hi @martijnvg

The above was seen on 1.4.4 but I was also able to reproduce the issue on a smaller scale on 1.4.2.

I ran the same query as above and got the following result

    {
      "took" : 4,
      "timed_out" : false,
      "_shards" : {
        "total" : 5,
        "successful" : 5,
        "failed" : 0
      },
      "hits" : {
        "total" : 600,
        "max_score" : 0.0,
        "

[2015-03-03 23:41] dakrone commented on #9973
@jdutton okay, @s1monw figured out what was going on here - since the `name` field is not analyzed, the token is "T100", however, the `query_string` query has the `lowercase_expanded_terms` option, which defaults to `true`, which causes it to search for "`t*`" instead of "`T*`".

This works as intended for me:

[code]

[2015-03-03 23:48] dakrone commented on #9961
@setaou I haven't been able to reproduce this yet, but I am trying to. What version of ES are you using and what operating system are you using? It sounds like you are using either the RPM or DEB package as well?

[2015-03-04 00:05] dharshanr opened #9974 "Zen Ping_timeout inconsistent documentation"
http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/modules-discovery-zen.html

Is the default value 3s or 30s?

"ping_timeout - How long to wait for a ping response, defaults to 30s."

"The discovery.zen.ping_timeout (which defaults to 3s) allows for the tweaking of election time"

[2015-03-04 00:19] athanikkal commented on #9699
Thanks @dakrone for fixing this promptly. Looking forward to the next 1.4.x release with this fix.

[2015-03-04 02:20] jdutton commented on #9973
OK, wow thank you all for the help and fast response.  In my case I was really filtering, and this was a surprising and undesirable behavior.  But then again, in other cases (e.g. search bar) lowercasing would be the desired behavior.

I have to do some soul searching now on how to change my application :-)  Thanks again for the help!

[2015-03-04 02:20] #9973 closed

[2015-03-04 02:37] rmuir commented on #9973
for the record, i think we should remove this lowercasing option completely in parsers, disable it, and let the analysis chain take care. For multitermqueries, its a little tricky, which subset of the filters should be used? For example lowercasing is reasonable, stemming is not.

But lucene already annotates each analyzer component deemed to be "reasonable" for wildcards with a marker interface (

[2015-03-04 02:59] coxchen commented on #9956
Hi @clintongormley

Nope, it's not that case. The document I'd like to update still has valid _ttl (>> 0).

I first found this issue in a production system I'm working on. In that case, I had a document with _ttl originally set to **7d**, and I got the AlreadyExpiredException from updating that document on the **fourth day**.

I did some experiments, which you can read the details at https://mediu

[2015-03-04 03:34] coxchen commented on #9956
@clintongormley

Below is the result of my experiments, showing how _ttl of document changes over time.

![ttl_change_chart](https://cloud.githubusercontent.com/assets/503112/6477649/c19516c0-c260-11e4-9195-e42f1dd9564f.png)

I have four documents indexed in ES with the following settings

[code]

- /activity/log1/1 is *green* curve
- /activity/log1/2 is *yellow* curve
- /activity/log2/3 is *blue*

[2015-03-04 04:22] xueye commented on #9726
+1 started getting this, I'm on version 1.4.4; there are no requests in my app logs, I can't even figure out what's got ES spinning and causing these things but I generated about 10,000 lines of logs with this same error.

[2015-03-04 06:02] mkliu opened #9975 "All index info lost when the original master machines are not participating in master election"
It appears to be as resiliency problem, and i haven't seen it mentioned any place obvious so hopeful it could get fixed.

We had a problem recently about master nodes failing, so I enabled my data nodes to serve as master too - dualnode. However, even though the cluster name is the same, i don't see any of my previous indexes anymore! After quite a while I realize probably because the global clust

[2015-03-04 08:16] s1monw commented on #9973
@rmuir +1 to remove the option can you open an issue?

[2015-03-04 08:53] setaou commented on #9961
@dakrone Thanks for working on this bug. I am using ES 1.4.4 on Ubuntu 14.04 using the official ES deb package.
Here is the config file with which I can reproduce the problem : https://gist.github.com/setaou/7a65a242251f897aab35 .

After testing on a vanilla install with this config file and a very simple index (the example at https://github.com/elasticsearch/elasticsearch#indexing), I discovered

[2015-03-04 11:53] saleese opened #9976 "Docs: Are there outdated APIs (e.g., DateHistogram) in Java API docs?"
I am checking the APIs in Java API docs, and it seems that I found outdated APIs. I hope some contributors may confirm whether the followings are outdated or not:

1. QueryBuilders.queryString
https://github.com/elasticsearch/elasticsearch/blob/master/docs/java-api/search.asciidoc. The page includes the following code snippet:
MultiSearch API …

[code]
==> I found that the QueryBuilders class does

[2015-03-04 12:23] dadoonet commented on #9976
Thanks for reporting this. I'll check that. We might have missed some part of the doc while doing #8667

Note that depending on elasticsearch version you are using, API might change.

Current production version is 1.4 and Java Guide is here: http://www.elasticsearch.org/guide/en/elasticsearch/client/java-api/current/index.html

But if you compare to master source code, you need to look at document

[2015-03-04 12:44] dibeesh commented on #9191
@hero007asd , @clintongormley @rjernst Any update on this. Am also facing the same problem when sorting an integer parameter Elastic search 1.3.7
Mapping
{
   "outboxprov1": {
      "mappings": {
         "deleted_user": {
            "properties": {
               "status": {
                  "type": "integer"
               }
            }
         }
      }
   }
}
Query
POST /outboxprov1/delet

[2015-03-04 12:46] dibeesh opened #9977 "Elastic search sort on number filed gives error"
Facing problem when sorting an integer parameter Elastic search 1.3.7, status variable is causing problem, I have status field with different mapping in another collection. Does this effect?
Mapping
{
"outboxprov1": {
"mappings": {
"deleted_user": {
"properties": {
"status": {
"type": "integer"
}
}
}
}
}
}
Query
POST /outboxprov1/deleted_user/_search
{
"sort": [
{
"status": {
"order": "desc"
}
}
]

[2015-03-04 13:45] rmuir opened #9978 "Remove lowercase_expanded_terms option"
for the record, i think we should remove this lowercasing option completely in parsers, disable it, and let the analysis chain take care. For multitermqueries, its a little tricky, which subset of the filters should be used? For example lowercasing is reasonable, stemming is not.

But lucene already annotates each analyzer component deemed to be "reasonable" for wildcards with a marker interface (

[2015-03-04 13:45] rmuir commented on #9978
background: #9973 (i copied my comment here)

[2015-03-04 14:15] natenash203 opened #9979 "Sum Aggregation On Nested Doc Not Handling Negative Numbers"
I have a an index with 30M documents, spread across 4 nodes, 30 shards, with 2 replicas each. Each document has a nested mapping type "a", representing a transaction log entry. Each transaction log entry has a positive or negative dollar value and a timestamp. When I attempt to bucket the nested objects using the date range and sum aggregations, the sum aggregation appears to break on transactions

[2015-03-04 14:39] jayc89 commented on #8708
+1

[2015-03-04 17:37] apilgrimda opened #9983 "Getting Elasticsearch to work on Windows 2008 64bit"
I am following the below link and when I try to open http://127.0.0.1:9200/ i get a pop-up asking for a program to open 127_0_0_1.json. Please help!!

Thank you

[2015-03-04 17:41] amalrajcharles commented on #9787
Hi,

I had not restarted the elasticsearch service. The settings works as expected.

Thanks

[2015-03-04 17:41] #9787 closed

[2015-03-04 17:57] ppf2 opened #9984 "Ability to restore specific shard(s) from snapshot"
Shard corruption is not common but it can happen and we have seen situations where both primary and replica shards got corrupted.  When this occurs, it will be nice to be able to restore specific shard(s) or a single shard via snapshot restore without having to restore the entire index which can take a long time esp. for indices that are TBs in size (eg. 20+ TB)

[2015-03-04 19:25] mikemccand commented on #6025
Alas, deleteByQuery is not throttled when merges are falling behind.

[2015-03-04 19:38] mikemccand commented on #6025
I'll make this operation throttled like we do for index/create ops.

However I'm doubtful this is "enough" to always prevent segment explosion, i.e. https://github.com/elasticsearch/elasticsearch/issues/7052 is a better (trickier) long term solution.

[2015-03-04 22:42] MKA-MKA opened #9987 "Global Settings/Mapping for an Index - not_analyzed and whitespace"
Hello,
I want to globally set the following for all current string fields and future(new) string fields on an Index while creating that Index.   Thanks. Mka

"index": "not_analyzed",
"analyzer":"whitespace"

[2015-03-04 23:04] rvller opened #9988 "ES 1.2.4 is crashing suddenly"
Full dump: https://gist.github.com/rvller/beca1245584e8158a50f

Stack: [0x00007f2e3cbb1000,0x00007f2e3cbf2000],  sp=0x00007f2e3cbf06b0,  free space=253k
Native frames: (J=compiled Java code, j=interpreted, Vv=VM code, C=native code)
J 2442 C2 sun.nio.ch.SelectorImpl.select(J)I (34 bytes) @ 0x00007f2e5d6602e8 [0x00007f2e5d6600e0+0x208]
J 2561% C2 org.elasticsearch.common.netty.channel.socket.nio.Ab

[2015-03-04 23:08] martijnvg commented on #8879
thanks for sharing this @mvdz! I'll take a look at it, maybe I did something wrong.

[2015-03-05 01:38] fredfp commented on #9730
@javanna what I cannot find is a setQuery() on SearchRequest. Same problem with ExistsRequest, I see no setQuery().

And yes, I use SearchRequestBuilder in multiple locations (via Client.prepareSearch()) then get the SearchRequest using SearchRequestBuilder.request() and all work fine.

[2015-03-05 07:45] johtani commented on #9987
Hi,

You should better ask on the mailing for question. We could help you in a better way than here because this space is reserved for issues and feature requests.
Mailing list is here. http://www.elasticsearch.org/help

That said, I believe you should look at http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/indices-templates.html#indices-templates
And
http://www.elasticsearch

[2015-03-05 07:45] #9987 closed

[2015-03-05 08:26] javanna commented on #9730
@fredfp you need to do that in two steps:

[code]

or

[code]

I hope this clarifies things. This confusion, as well as the issue that experienced when retrieving the request from builders will be cleared up with #9201. In the meantime I would recommend to use requests directly instead of builders in your case.

[2015-03-05 09:52] martijnvg commented on #8640
Another build failure: http://build-us-00.elasticsearch.org/job/es_core_14_centos/3004/

[2015-03-05 09:57] martijnvg opened #9991 "[CI Failure IndicesRequestTests#testFlush"
http://build-us-00.elasticsearch.org/job/es_core_14_medium/1262/

[code]

[2015-03-05 10:20] martijnvg commented on #9646
The suite timed out again: http://build-us-00.elasticsearch.org/job/es_core_master_metal/8071

[2015-03-05 10:20] tstibbs commented on #9766
@clintongormley yeah, I noticed the docs say you can use fields, but it doesn't tell you where to put the `fields` element within the `inner_hits` element - I've tried a whole bunch of different places but can't make any of them do anything other than give me a parse error. Looking at `InnerHitsParseElement` and `InnerHitsQueryParserHelper` etc I can't see it looking for fields so I think probably

[2015-03-05 11:04] martijnvg commented on #9646
Just running this test takes 10 minutes, so it possible that it times out on a machine that runs the entire build.

[2015-03-05 11:18] colings86 opened #9995 "Change QueryTemplateParser to use script naming convention"
At the moment the QueryTemplateParser uses `query`, `file` and `id` for inline, file and indexed scripts respectively. Since the naming convention for scripts is now `script`, `script_file` and `script_id` (enforced by using the ScriptParameterParser) we should change this API to follow the same convention. We may want to keep `query` as an option for inline scripts as it makes sense in this conte

[2015-03-05 13:27] hydrogen18 commented on #8965
I took a look at this recently. The parsers are neatly organized into separate parsers. For the 'query phase' there is a parser for each possible type of query (match, fuzzy, regexp, etc.) that identifies itself and exposes its parsing logic through a simple interface.

The problem is that between the dependency injection and the massive context objects that are passed around it is a very difficul

[2015-03-05 14:50] martijnvg opened #9997 "Add timeouts to refresh, flush and optimize apis"
At the moment when the refresh, flush and optimize apis are executed and there is a cluster block (for example no master block) then these apis fail immediately. It would be nicer if those apis would wait for a defined timeout period and see if the cluster block is resolved within that period. This should be similar in how deal with cluster blocks in the index, update and delete apis (which have a

[2015-03-05 15:16] colings86 opened #9999 "Aggregation to calculate the bucket which has the minimum value in a given aggregation"
This aggregation will take the output of any multi bucket sibling aggregation and find the bucket with the minimum value of a specified sub-metric (or the doc_count). The output of the aggregation will be the minimum value and an array of keys for the buckets with that value.

[2015-03-05 15:16] colings86 opened #10000 "Aggregation to calculate the bucket which has the maximum value in a given aggregation"
This aggregation will take the output of any multi bucket sibling aggregation and find the bucket with the maximum value of a specified sub-metric (or the doc_count). The output of the aggregation will be the maximum value and an array of keys for the buckets with that value.

[2015-03-05 18:04] javanna commented on #6418
Just noticed that `mustache` and `native` are treated as special scripting engines since they are considered safer than others. Turns out that currently we always considered them both enabled, even if dynamic scripting is completely off.

That means that our default settings should be different only for `mustache` and `native`, they would have everything enabled by default.

We could have a proble

[2015-03-05 18:15] clintongormley commented on #9995
Or `query_file` and `query_id`?  Not sure it is obvious to users that "templates" are a form of scripting.

Also, we can leave `file` and `id` and just mark them as deprecated, no?

[2015-03-05 19:03] rjernst commented on #6418
`native` scripts are by definition not dynamic.  Why would these settings ever affect them?

[2015-03-05 19:04] clintongormley commented on #6418
Hmm... good point. Native scripts can't be defined dynamically anyway, so it's really just templating.  The default will be that dynamic mustache and expressions are on, but everything else is off.  So I think there is no real need to set `script.dynamic: false`.  So if somebody sets it, we'd do what they say and disable mustache and expressions too.

[2015-03-05 19:04] mallikarjuna91 opened #10001 "minimum_should_match not working as expected in case of fields containing synonyms"
Here is my settings and mappings

Settings

    PUT test3
    {
      "settings": {
        "analysis": {
          "analyzer": {
            "my_analyzer": {
              "filter": [
                "lowercase",
                "english_stemmer",
                "my_synonyms"
              ],
              "tokenizer": "standard"
            }
          },
          "filter": {
            "my_s

[2015-03-05 19:34] dakrone commented on #6418
If we do that, we also need to be extra sure to document that search templates will not work if dynamic scripting is disabled (just a reminder)

[2015-03-05 19:34] tcucchietti commented on #9876
Big +1 on this!

[2015-03-05 20:08] rtremaine commented on #9876
+1

[2015-03-05 20:46] bleskes commented on #8595
@mausch FYI - the trailing space issue is fixed in marvel 1.3.1 , released today.

[2015-03-05 20:47] bleskes commented on #9758
hi all. A short note to say this issue is fixed with Marvel 1.3.1 released today. I'm going to close this. Please let me know if something doesn't work as you expect.

[2015-03-05 20:47] #9758 closed

[2015-03-05 21:02] polyfractal opened #10002 "Aggregation to calculate the moving average on a histogram aggregation"
This aggregation will calculate the moving average of sibling metrics in histogram-style data (`histogram`, `date_histogram`).  Moving averages are useful when time series data is locally stationary and has a mean that changes slowly over time.

Seasonal data may need a different analysis, as well as data that is bimodal, "bursty" or contains frequent extreme values (which are not necessarily outl

[2015-03-05 21:20] cooniur commented on #9988
Is it because of SELinux? (enabled in CentOS7 by default)

[2015-03-05 21:23] sagarl opened #10003 "NodeNotConnectedException after upgrading to ES 1.4.1 version"
[Link to Google Group Conversation] (https://groups.google.com/forum/#!starred/elasticsearch/sy8K-48bwbU)

Hi,

We recently upgraded one of our ES Clusters from ES Version 1.1.0 to 1.4.1.

We have dedicated master-data-search deployment in AWS. Cluster settings are same for all the clusters.

Strangely, only in one cluster (6 nodes); we are seeing that nodes are constantly failing to connect to Ma

[2015-03-05 21:43] rashidkpc opened #10004 "Weighted centroid for geohash_grid"
Currently when using the geohash_grid we get back a a grid. This is useful, but when drawing a map the best assumption we can make is that the data all falls square in the middle of the, well, square. For example, When mapping a geohash grid over California, a large portion of the population of the Bay Area tends to appear lost at sea when using lower precision geohash_grids.

It would be great to

[2015-03-05 22:21] btecu commented on #9602
I'm having the same issue. I've restarted my master and the other node (slave) become the master, but my slave now doesn't get any shard. have **n** shards assigned on master and **n** unassigned shards (slave doesn't have anything).

Ideas?

[2015-03-05 22:28] jordansissel opened #10005 "Date type has not enough precision for the logging use case."
At present, the 'date' type is millisecond precision. For many log use cases, higher precision time is valuable - microsecond, nanosecond, etc.

The biggest impact of this is during sorting of search results. If you sort chronologically, newest-first, by a date field, documents with the same date will probably be sorted incorrectly (because they match). This is often reported by users seeing event

[2015-03-05 22:30] maaand commented on #9758
@bleskes can you point me to the configuration doc for Marvel-1.3.1 ?
I've upgraded marvel plugin and  set http.enabled = false  (on my ES datanode)
and now my es log is filling up with warning..
[2015-03-05 14:27:09,336][WARN ][marvel.agent.exporter    ] [xxxx_search_cluster] http server is not enabled no hosts are manually configured

[2015-03-05 22:33] limabetalabs opened #10006 "Filtering term with "_" doesn't work"
I'm trying to make a query like this:

{
  "query" :{
    "filtered" :{
      "query" :{
          "multi_match" : {
            "query" : "Vonder Carregador de Baterias CBV 0900 - 110V",
            "fields" : [ "nome^10", "descricao" ],
            "operator" : "or"
          }
       },
       "filter" : {
         "bool" : {
           "must" : [
             {"term" : { "ativo" : 1 }},

[2015-03-05 22:54] jordansissel commented on #10005
I know Joda's got a precision limit (the Instant class is millisecond precision) and a year limit ("year must be in the range [-292275054,292278993]"). I'm open to helping explore solutions in this area.

[2015-03-05 22:58] bleskes commented on #9758
Marvel ships data over http. It can be configured using a list of host/ip + port, in the case you want to send the data to a dedicated monitoring cluster (recommended) or it defaults to shipping the local cluster. This error message indicates that no hosts explicitly configured (first use case) and that the local http server is turned off, so data can not be shipped there either. If you want to st

[2015-03-05 23:34] pickypg opened #10007 "script_file does not work with _update"
Running with 1.4.4, when trying to update an existing document, one cannot use the undocumented `script_file` because it complains of a validation error (expecting "script" or "doc").

[code]

Fails due to:

[code]

As a workaround, you can supply the script file directly using the `script` parameter (even with dynamic scripting disabled for Groovy because it recognizes that it is a file).

[code]

[2015-03-05 23:35] ppf2 opened #10008 "Ability to track status of optimize api"
Optimize is an intensive process and can run for many hours.  It will be nice to provide a way to track its status (esp. when we switch to a sync operation in the future: https://github.com/elasticsearch/elasticsearch/pull/9640).

This is likely dependent on task management:
https://github.com/elasticsearch/elasticsearch/issues/6914

[2015-03-06 00:00] synhershko commented on #10005
What about consequences to field_date size? even with docvalues in place, cardinality will be ridiculously high. Even for those scenarios which need this, this could be an overkill, no?

[2015-03-06 01:26] jonathanaf1 commented on #9422
@clintongormley I switched to a different search, which works nicely, but I'd still like to know how to fix this so that I can test it in the dev environment. @dadoonet @dakrone or anyone else have any advice?

[2015-03-06 01:39] fredfp commented on #9730
Thank you @javanna!

I had never heard of SearchSourceBuilder but now this makes perfect sense to me and it indeed allows to completely avoid using request builders.

Now, I don't know if you want to keep this issue open. I still find it weird that using SearchRequestBuilder....setQuery().request() works but ExistsRequestBuilder...setQuery().request() doesn't.
It is not anymore an issue for me as

[2015-03-06 04:33] vvcephei commented on #7743
Hey @jtjferreira

I had to put the project aside for longer than I wanted to focus on some
other major es projects at work, but I'm getting back into it for now. I'm
updating the dependency to ES 1.4.4, and I'm going to start with just get()
and index() to get a round-trip going. Once that is in place, I'll
publicize my repo and post a link to it here so everyone can get a more
concrete look at wh

[2015-03-06 04:34] silentmoose commented on #9988
Have we tested on different operating systems? It seems a logging class that uses the system properties util would be handy to make debugging much easier.

[2015-03-06 06:13] dadoonet commented on #9422
Do you know what is the exact request sent by CirrusSearch? Any chance you could share it with the logs of your node?

[2015-03-06 07:07] kwongb98 opened #10009 "index disappearing issue on 1.4.4"
Hi there, I'm using elasticsearch v1.4.4 (oracle jvm 1.7.0_75) but strange issues occurred.

I have a index which consists of one parent doc type and 25 different types of child doc type.
After create index 400 billion documents, garbage collect did't work and elasticsearch was terminated abnormally.

![image](https://cloud.githubusercontent.com/assets/9878011/6521399/b2a72de0-c41a-11e4-9400-69058

[2015-03-06 08:00] javanna commented on #9730
thanks for your feedback @fredfp , I do agree that this is annoying, but since we might have the same problem in other apis and we are going to refactor all this with #9201 I will just close this issue in favour of #9201, where this problem will be taken care of.

[2015-03-06 08:00] #9730 closed

[2015-03-06 08:56] colings86 commented on #9995
@clintongormley yep, good point. It should be noted that ScriptParameterParser can still be used for this since it accepts arbitrary prefixes as well as the default `script` prefix. As for deprecation, yes we can but as will the script options we could also deprecate in 1.5 and remove in 2.0?

[2015-03-06 09:07] jpountz opened #10011 "Scripting: Java API does not match the REST layer"
The REST layer has the `script`, `script_id` and `script_file` options that can be used to configure scripts that are respectively inline, indexed or in a file in `config/scripts`. However, the Java API only accepts a `String script` parameter, which makes the reference documentation confusing for users of the Java API.

For examples, see eg. ScriptSortBuilder for sorting or StatsBuilder for aggre

[2015-03-06 09:07] javanna commented on #6418
@rjernst good point. Weird, but the fact that native scripts are not dynamic is an implementation detail of the native engine. You execute the script as it was dynamic (providing its name as `script: my_script`), then the engine knows that what you provided is not a script but the identifier of a script that is already compiled somewhere...

@clintongormley right but as I described above native sc

[2015-03-06 09:11] javanna commented on #10011
+1 we should streamline this to any builder/api that can execute scripts and make the java api more similar to the REST layer...

[2015-03-06 09:17] colings86 commented on #10011
+1 From 1.4.5 onwards we will have a ScriptParameterParser class to ensure consistent parsing of script parameters, so it seem logical to also have a ScriptParameterBuilder to ensure consistent building of script parameters

[2015-03-06 09:20] colings86 commented on #10007
@pickypg This should be fixed from 1.4.5 onwards with the addition of the ScriptParameterParser. would you be able to run the same test on the HEAD of the 1.4 branch an confirm?

[2015-03-06 09:41] ZeAleks opened #10012 "Settings = 3 Shards => Result = 5 shards"
Hi there,

I don't know if it is really an issue or if it is a misconfiguration on my side but here is my problem.
I configured an index settings that way :

GET iislog/_settings
{
   "iislog": {
      "settings": {
         "index": {
            "creation_date": "1425458515905",
            "number_of_shards": "3",
            "number_of_replicas": "1",
            "version": {
               "c

[2015-03-06 09:51] s1monw commented on #10012
hey Alek, you pasted `GET iislog/_settings` but cat shows an index called `iislogs` <== note the plural `s`? does it matter?

[2015-03-06 09:55] ZeAleks commented on #10012
Hi Simon,

I really feel stupid now :(

Thank you !

[2015-03-06 09:55] #10012 closed

[2015-03-06 10:14] uboness commented on #10011
Why not just have a `Script` construct that is both `ToXContent` and exposes a static `parse` method... Then we can use it everywhere and clean up the code (we recently added it in alerts.... Would love to have it in core)

[2015-03-06 10:28] s1monw commented on #10012
no worries, thanks for reporting back

[2015-03-06 10:30] s1monw commented on #10006
please use the mailing list for questions like this. The issue tracker is only for bugs and features.

thanks!

[2015-03-06 10:30] #10006 closed

[2015-03-06 10:33] s1monw commented on #10009
can I see some of your configurations ie. what kind of store do you use? Are you using ` "index.store.type": "memory"` by any chance?

[2015-03-06 13:30] misterunknown opened #10015 "network.bind_host affects network.publish_host"
Hi,

I am experiencing problems trying to seperate the bind and the publish host address. Obviously the configuration option "network.publish_host" hast no effect, but elasticsearch binds also the publish port (9300) on the interface configured either in "network.host" or "network.bind_host". I am using elasticsearch 1.4.4.

Can anyone reproduce this bug?

Cheers,
Marco

[2015-03-06 13:51] brwe opened #10017 "Race condition in lifecycles of DiscoveryService and Discovery"
A fresh master does (rarely) not send the first cluster state due to a race condition in lifecycles of `DiscoveryService` and its member `Discovery`. In `DiscoveryService.doStart()` the `Discovery` is started but the lifecycle for `DiscoveryService` is started only after that. This is why when the first cluster state reaches `DiscoveryService.publish` the lifecycle might or might not have started.

[2015-03-06 14:15] bradvido commented on #10011
Being able to specify the script language and script parameters is important too. I can't figure out any way to do it with the 1.4.4 Java API and the StatsBuilder class.

[2015-03-06 15:02] brwe opened #10018 "[CI] IndicesStoreIntegrationTests.indexCleanup"
http://build-us-00.elasticsearch.org/job/es_core_1x_regression/1415/

Related to https://github.com/elasticsearch/elasticsearch/pull/9985

[2015-03-06 15:03] kimchy commented on #10018
I looked at it, not obvious..., seems like the shard got moved, but ended up not being deleted. Seems unrelated so far to my change.

[2015-03-06 15:34] phil2396 opened #10019 "Groovy upsert nested script no longer working on 1.4.4"
Hello,

I am using the bulk processor with the Update API of the ElasticSeach Java package. I'm running an upsert script which inserts records within a nested field of a document.

"if (ctx._source.records.contains(data)){ctx.op='none'; }else {ctx._source.records+=data;}"

I am running the following script on a 1.4.2 cluster and it works perfectly using the 1.4.4 client Java API.

However since I

[2015-03-06 15:47] dakrone commented on #10019
@phil2396 do you have the error or exception that you are getting back from Elasticsearch when you use the update API?

Dynamic scripting for Groovy was disabled in 1.4.3, which may be what you are seeing.

[2015-03-06 15:51] phil2396 commented on #10019
@dakrone I don't see any errors from elasticsearch using the Update API. I will follow the procedure here http://www.elasticsearch.org/blog/running-groovy-scripts-without-dynamic-scripting/ and see if that fixes the issue.  I update later today.

Thank you

[2015-03-06 16:02] mtbottle opened #10022 "Lack of warning for parsing incorrect parameters in elasticsearch.yml"
There is a lack of warning for incorrectly parsed configurations. In this case I set invalid values for the following configurations in elasticsearch.yml :

[code]
But elastic search starts and I am able to see the following cluster nodes:
[code]
The only indication when I get that there is a problem is when I try to run other commands to access the data in the cluster. This is the error that I ge

[2015-03-06 16:12] ywelsch-t commented on #6372
Hey @bleskes, I'm working with @bluelu and @miccon

After some more analysis, there are two reasons why initial shard allocation is slow for us. First, the `LocalGatewayAllocator` is slow. It will hopefully be adressed as part of #9502. Second, the `BalancedShardsAllocator` is slow. In the following, I will detail why this is the case for our setup.

Assume nodes of type A and B (could be SSD and

[2015-03-06 16:46] phil2396 commented on #10019
Using the Java API 1.4, I cannot specify file parameter to use the script on disk.

= > UpdateRequest.java

@dakrone

[2015-03-06 17:02] dakrone commented on #10019
@phil2396 you should be able to use `UpdateRequestBuilder` for this:

[code]

[2015-03-06 17:09] phil2396 commented on #10019
Thank you

@dakrone

[2015-03-06 17:09] #10019 closed

[2015-03-06 17:28] emmanuelmathot commented on #7574
Great

[2015-03-06 20:03] clintongormley commented on #9679
New proposal:

Remove the `_timestamp` field
-----------------------------------------
The only added purpose to the timestamp field is to allow a timestamp to be auto-generated. The user may well want more than one auto-generated field, so we shouldn't restrict this ability to just a single field.

Add auto-generated timestamps to ordinary date fields
---------------------------------------------

[2015-03-06 20:10] polyfractal commented on #9679
Related discussion from a while back: https://github.com/elasticsearch/elasticsearch/issues/7732

Co-opting `null_value` into a "default" could make it tricky to differentiate "nullness" from "missing" from "default" at query time.

If `null_field` gets dynamic capabilities, I think it'd be important to have the equivalent for `missing_field`, so the user can fine-tune how and when values are gene

[2015-03-06 20:27] gibrown commented on #8193
@s1monw sorry for the slow response, I broke my GH notifications. :)

408 maybe makes sense if I can resend the request and will eventually get a 200.

Could also be a 202 Accepted response. Ideally I shouldn't have to do anything more for the request to complete processing. I guess there are cases where you want to know that it has completed though. Maybe if it has actually completed there should

[2015-03-06 20:45] #9772 closed

[2015-03-06 20:46] gibrown commented on #6141
We've had the disk threshold allocation disabled since this incident so we wouldn't run into it.

We're not currently on 1.4.x yet either, but are planning an upgrade in a month or two. I'll add trying the disk allocation to our list.

[2015-03-06 22:29] greenboxal opened #10025 "Illegal instant due to time zone offset transition"
When issuing a date_histogram with `America/Sao_Paulo` as timezone, the query fails with the following stack trace:

Stack Trace:
[code]

Please note that this is a very critical bug, we're already running on master due to another ElasticSearch bug(#9491).

[2015-03-06 23:44] rjernst commented on #10025
@cbuescher can you take a look?

@greenboxal You should absolutely never be running on master (or 1.x).  These are based on snapshots of Lucene, and those snapshots use as yet unreleased versions of Lucene's index format.  There are zero backcompat guarantees when you do this.

Only use officially released versions of Elasticsearch (which are based on officially released version of Lucene).

[2015-03-06 23:57] greenboxal commented on #10025
I can't use a stable release as #9491 fix didn't land in any released version(at least when we started using master). Without that fix when the DST went off all date histograms(interval=1d) broke showing one day with 24 hours and another day on the same date with 1 hour of duration.

[2015-03-07 06:46] mkliu commented on #8823
+1111
This bug really burnt me! We had multiple master node, but there was one time all master nodes are down, so I promote one data node as master node. And all data are gone! It freaked the hell out of me. And because people are still ingesting data, the data are overwritten. By the time I realize what's happening, it's already too late, we lost lots of data...

[2015-03-07 08:59] #9576 closed

[2015-03-07 09:17] bleskes commented on #8193
The 4xx region indicates client side errors, so I don't feel 408 describes the situation correctly, despite of the timeout name. +1 to 202 (accepted for processing but not completed)

[2015-03-07 14:09] shokurov commented on #9293
+1

Would it be also possible to run filters, for example, on top_hits? It would be really beneficial if the whole bucket was available as a single document for filtering.

An example application case would be to get sequence chains grouped by a field (say latest transactions by customer) and then filter them for specific subsequences (customer purchased item Y in 3 months after item X).

[2015-03-07 16:10] halilim opened #10027 "Add min_doc_count support to range aggregations"
Currently, range aggregations doesn't have `min_doc_count` support AFAIK. As a temporary solution client-side filtering could be used but being able to filter out empty buckets from range aggregations (and from other aggregations if possible) would be neater.

[2015-03-08 19:05] cbuescher commented on #10025
We started to use Joda times utility method for local to UTC time conversions in the Rounding classes. It seems that doing this with a the "strict" option set to true makes Joda time to throw excepetions when using this conversion on local time stamps that would fall in the DST gaps when DST is switched on. I could reproduce this on 1.x, but it also seems to affect the 1.4 and master branch where

[2015-03-08 19:58] s1monw opened #10032 "Allow to seal an index"
In a lot of use cases indices are used for indexing only for a limited amount of time. Ie. in the daily index use case indices are created with a highish number of shards to scale out indexing and then after a couple of days these indices are idle in terms of writing. Yet, we still keep all the resources open since we are accepting writes at any time. This not necessary in a lot of cases and would

[2015-03-08 20:00] kimchy commented on #10032
++, I think the improved recovery part idea is a killer. I wonder if we can re-use one way or another the read only flag we have today on an index.

[2015-03-08 20:06] bleskes commented on #6372
Thx @ywelsch-t . This is a great reproduction. We'll look at it as soon as possible.

[2015-03-08 20:11] bleskes commented on #10032
nice

[2015-03-08 20:20] bleskes commented on #6372
@ywelsch-t quick question in the meantime, can you elaborate on what you did:

[2015-03-08 20:25] s1monw commented on #10032
@kimchy I think we can. To me it's a 2 staged process, first we switch the index read only using the flag we have and once we are there and the cluster state has been published we seal the index which causes the actual optimizations to happen. so I think we can just reuse it?

[2015-03-08 20:46] kimchy commented on #10032
@s1monw ++, exactly what I was thinking about, and we have the flag recorded in the cluster state, so might need to record it somewhere else as well to make sure nothing went in, ++.

[2015-03-08 22:55] clintongormley commented on #9971
Hi @BHSPitMonkey

I think you mean the edge-ngram tokenizer, rather than the ngram tokenizer.  When using `token_chars' to break up the string into words, you can just make the max_ngram as big as you need, which will serve your purpose.

[2015-03-08 23:19] kadaan commented on #9226
This issue started within the last several days in our cluster.

We are using daily indices and running Elasticsearch 1.4.2 on Windows Server 2012 with OpenJDK 7u44.  One server which is hosting a replica shard for the 2015.03.07 is stuck trying to recover the translog.  The index is no longer being updated as all indexing is happening in 2015.03.08.  There are ~500 documents indexed per second.

[2015-03-08 23:59] clintongormley commented on #9972
Hi @ajhalani

Please could you provide your config file, your cluster settings, and the code that you are using to index documents.

thanks

[2015-03-09 00:02] clintongormley commented on #9974
These refer to two different settings:

    discovery.zen.ping_timeout  (default 3s)
    discovery.zen.fd.ping_timeout (default 30s)

[2015-03-09 00:02] #9974 closed

[2015-03-09 00:07] clintongormley commented on #9975
Hi @mkliu

Yes agreed. We are working on a change which will write the cluster state to data-only nodes too, to avoid this problem.  See https://github.com/elasticsearch/elasticsearch/pull/9952

[2015-03-09 00:07] #9975 closed

[2015-03-09 00:16] clintongormley commented on #9191
@dibeesh @Hoannv this is likely caused by relying on dynamic mapping, and a field is being added with different mappings on different shards.  When the shard with the "wrong" mapping is moved to another node, the official mapping is applied, which doesn't reflect the data written to disk.

You can work around this by creating your mappings manually before indexing.  This issue will be resolved by

[2015-03-09 00:17] clintongormley commented on #9977
@dibeesh please see https://github.com/elasticsearch/elasticsearch/issues/9191#issuecomment-77784022

[2015-03-09 00:17] #9977 closed

[2015-03-09 00:17] bleskes commented on #9226
@kadaan thx for the detailed info. A couple of quick questions (I'll look at things at more details later)

Is the recovery complete now? it seems so from the shard stats (shard 0 has two started copies), but it also misses one shard (15 of 16)

Do you by any chance monitor it? any idea if it was big before going into the recovery or it became big during the recovery? going through 20GB of operati

[2015-03-09 00:23] clintongormley commented on #9979
@martijnvg @jpountz any idea where things might be going wrong here?

[2015-03-09 00:28] clintongormley commented on #9983
Hi @apilgrimda

Please ask questions like these on the mailing list. The github issues list is for bug reports and feature requests.

[2015-03-09 00:28] #9983 closed

[2015-03-09 00:30] clintongormley commented on #9988
@rvller What changed on your system?

[2015-03-09 00:37] clintongormley commented on #8965
@hydrogen18 worthwhile comments. You may be interested in this prototype which, i think, addresses some of your concerns? https://github.com/elasticsearch/elasticsearch/pull/9901

[2015-03-09 00:40] hydrogen18 commented on #8965
@clintongormley Thanks for the heads up. It looks promising.

[2015-03-09 00:46] clintongormley commented on #10001
Hi @mallikarjuna91

The reason for this is revealed by doing a validate-query request, which returns:

    "+(name:image name:image) +(name:somethinghere name:skincare)"

The term `image` is being expanded by your synonyms filter to `[ [image,image], [skincare] ]`, and "skincare" is in the same position as whatever other query term is specified, so both positions always match.

You have to be very

[2015-03-09 00:46] #10001 closed

[2015-03-09 00:51] clintongormley commented on #10003
Hi @sagarl

Does the problem disappear if you stop monitoring the cluster? ie no marvel, no kopf, no other tool which is requesting nodes info or stats? I'm wondering if it is related to this: https://github.com/elasticsearch/elasticsearch/pull/9683

[2015-03-09 01:08] kwongb98 commented on #10009
Oops,  I set "index.store.type": "memory" as you expect...
thank you, for your advice

[2015-03-09 01:08] #10009 closed

[2015-03-09 01:21] s1monw commented on #10009
thanks for clarifying.. we removed it in 1.5 actually to prevent these problems

[2015-03-09 01:28] kadaan commented on #9226
@bleskes Recovery is not complete.  Debugging is not enabled.  The source node translog is still 20GB.  You can see the hot_threads result at: https://gist.github.com/kadaan/ba3dcf3b9fe7b7bd5a79.js

### Maximum Total Translog Size
We don't have this broken out by shard_id
![maxtotaltranslogsize](https://cloud.githubusercontent.com/assets/1904898/6548659/8c07a8f0-c5bd-11e4-80b3-ed79da4266dc.png)

[2015-03-09 02:07] bleskes commented on #9226
Thx @kadaan that chart is potentially super useful. It shows the translog size before and during the recovery. One thing I'm confused about is the scale of the y axis. If I read it correctly it shows the translog max size is 200mb, which makes lots of sense since that's the default setting. I expected to see 20GB there somewhere.

[2015-03-09 02:38] kadaan commented on #9226
@bleskes it confuses me too. I filtered to my cluster and index name and this is what I got.  Is there any other way to verify the translog size over time?

[2015-03-09 02:51] bleskes commented on #9226
@kadaan can you check if there is a smaller translog file next the big one? I wonder if the big translog is a leaked left over (see comment [above](https://github.com/elasticsearch/elasticsearch/issues/9226#issuecomment-74873737) )

[2015-03-09 03:08] kadaan commented on #9226
@bleskes There is only one translog file in that folder. I can check later tonight if it is open by Elasticsearch.

[2015-03-09 03:58] songwie opened #10034 "keyword statistics"
Please how can I collect top 10 keywords,for example
request
1. apple
2. apple
3. footbal
4. computer

the frist keyword is apple

[2015-03-09 05:45] kadaan commented on #9226
@bleskes I fixed the link to the hot_threads result.

[2015-03-09 06:02] bleskes commented on #9226
@kadaan thx (I figured it out before). Stack trace doesn't show anything exiting. The flush thread, in charge of trimming the translog, is idling and not stuck. Can you share some more details about how you've built the translog size chart? it looks like kibana. How do you collect the data?

[2015-03-09 06:03] rtoma commented on #9226
I thought ES recommands Java 7u55 and higher because of data corruption bug in lower. You are using  u44. Maybe related?

Op 9 mrt. 2015 om 06:46 heeft kadaan <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

@bleskes<https://github.com/bleskes> I fixed the link to the hot_threads result.

-
Reply to this email directly or view it on GitHub<https://github.com/el

[2015-03-09 06:16] shaman478 opened #10035 "ES startup failed"
Hello all,

We are running ES 1.4.2 on SLES 11 SP2 with Graylog2, today we found ES log show the error information as below:

[2015-03-09 07:16:14,655][WARN ][cluster.routing.allocation.decider] [Hulk] high disk watermark [10%] exceeded on [bXcrFjuTRjayaGF4ZK7hpg][Hulk] free: 742mb[6.9%], shards will be relocated away from this node
[2015-03-09 07:16:14,655][INFO ][cluster.routing.allocation.decid

[2015-03-09 06:17] wujiandong opened #10036 "es count With kibana4 hits quantity is different？"
HI guys
curl localhost:9200/nginx-2015.0301-08*/_count

{"count":3463956,"_shards":{"total":5,"successful":5,"failed":0}}

![image](https://cloud.githubusercontent.com/assets/3368758/6550621/9d5c017e-c666-11e4-86ff-2450110a8c99.png)

ES return count is 3463956,but kibana4 is 2,947,387 hits,why?

[2015-03-09 07:04] kadaan commented on #9226
@bleskes We have a process that queries /_stats every so often and inserts the data into a different Elasticsearch cluster.  Java.exe is still locking the translog:
[code]
I confirmed that there was only one file in the translog folder:
![translogfolder](https://cloud.githubusercontent.com/assets/1904898/6550836/c9e80574-c5eb-11e4-85f1-baa2dff42fb6.png)

@rtoma Yes, we would like to move to 7u55.

[2015-03-09 07:05] zerocoolys commented on #10035
hi, there are 4 unassigned shards, what is your index configuration? how many shards ,how many repl?
what is your index status of these 4 shards?

[2015-03-09 07:13] shaman478 commented on #10035
@zerocoolys

thanks for your reply, the index configuration as below, we are keeping  the default parameter so there are don't taken effect

#index.number_of_shards: 5
#index.number_of_shards: 1
#index.number_of_replicas: 0

and could you please kindly tell us how to check the index status? thanks a lot

B.R
Lance

[2015-03-09 07:48] gucasbrg opened #10037 "Disable queryNorm function in search client"
diasble coord as lucene funtion
            public float coord(int overlap, int maxOverlap) {
                return 1;
            }
es can set as BoolQueryBuilder bqb = QueryBuilders.boolQuery();
		       bqb.disableCoord(true);
can ES has diasble  queryNorm as lucene function
            public float queryNorm(float sumOfSquaredWeights) {
                return 1;
            }
in search client

[2015-03-09 07:56] shaman478 commented on #10035
Hello we found one index on "red" status, is ok or not?

http://153.95.192.128:9200/_cat/indices?v

health status index         pri rep docs.count docs.deleted store.size pri.store.size
green  open   graylog2_2128   4   0       1015            0    366.2kb        366.2kb
green  open   graylog2_2140   4   0       1009            0    351.3kb        351.3kb
green  open   graylog2_2123   4   0

[2015-03-09 08:15] andersosthus opened #10038 "Failure to create Filtered Alias on empty index with template mappings"
Hi,

ES 1.4.x gives the error ```[repro] Strict field resolution and no field mapping can be found for the field with name [testfield]``` when I try to create an alias on an empty Index that has template mappings.
This works fine in ES 1.3.x.

I see in the guide (http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/indices-aliases.html#filtered) that in 1.4.0.beta1 there was added

[2015-03-09 08:35] zerocoolys commented on #10035
"red" is not ok , your "red" index's primary shards are not recovery ok.
have you check the es logs? any output?

[2015-03-09 08:39] rvller commented on #9988
@clintongormley really nothing was changed before this starts happening. Same indecies on the same ES. Currently it's up and running.
Can it be related to the SELinux as @cooniur mentioned?

[2015-03-09 08:40] shaman478 commented on #10035
@zerocoolys

we only checked the startup log which as below, no further information, does have other log can be check? thanks a lot.

[2015-03-09 15:34:24,866][INFO ][node                     ] [Flubber] version[1.4.2], pid[1428], build[927caff/2014-12-16T14:11:12Z]
[2015-03-09 15:34:24,866][INFO ][node                     ] [Flubber] initializing ...
[2015-03-09 15:34:24,873][INFO ][plugins

[2015-03-09 08:46] zerocoolys commented on #10035
@shaman478

please show me the graylog2_2142 index status, 3ks.

=============

BTW,

![image](https://cloud.githubusercontent.com/assets/2757581/6551990/9703bb18-c67b-11e4-8611-69cfd05bf857.png)

default shards is 5, but why 4? does pri means "primary"?

[2015-03-09 08:54] shaman478 commented on #10035
@zerocoolys

Index graylog2_2142 status as below:
{"cluster_name":"graylog2","status":"red","timed_out":false,"number_of_nodes":1,"number_of_data_nodes":1,"active_primary_shards":0,"active_shards":0,"relocating_shards":0,"initializing_shards":0,"unassigned_shards":4}

as you know we don't used the default shards setting on ES,  Graylog2 configuration parameter defined the "default shards" is 4

[2015-03-09 09:45] zerocoolys commented on #10035
@shaman478

change the log level to debug and check the graylog2_2142 index log.

try to close this index and reopen it. Have you check the index files , could be broken?

[2015-03-09 09:57] shaman478 commented on #10035
@zerocoolys

I don't know the index is works fine or not, many thanks.
root@fitl05v128:/usr/share/elasticsearch/bin > curl -XPOST 'http://153.95.192.128:9200/graylog2_2142/_open'
{"acknowledged":true}

root@fitl05v128:/usr/share/elasticsearch/bin > curl -XPOST 'http://153.95.192.128:9200/graylog2_2142/_close'
{"acknowledged":true}

root@fitl05v128:/usr/share/elasticsearch/graylog2/nodes/0/indices/

[2015-03-09 10:10] shaman478 commented on #10035
@zerocoolys

We just checked the index status after we open & close this problem index, looks like it's works!

but graylog can't connect to ES as well..

ERROR: Could not successfully connect to Elasticsearch, if you use multicast check that it is working in your network and that Elasticsearch is running properly and is reachable. Also check that the cluster.name setting is correct.

health statu

[2015-03-09 10:13] ywelsch-t commented on #6372
See https://github.com/ywelsch-t/elasticsearch/commit/3b9e5b2d06c722e41b7b743dda2e25ddad21d1ee

- With a profiler, I found that the two biggest pain points were `BalancedShardsAllocator.Balancer.balance()` and `BalancedShardsAllocator.Balancer.allocateUnassigned()`
- Both methods now only consider the nodes which have the right `node-type` for the relevant shard/index.
- The hack assumes that `nod

[2015-03-09 10:25] zerocoolys commented on #10035
@shaman478

for cluster status, if you close the problem index, it will ok  :)

for graylog2, I am not familiar with it. Does it use Zen multicast discovery es nodes ?

But if you can access ELK through http, so I think es could be OK for connection , might check the network.

[2015-03-09 11:18] ywelsch-t commented on #6295
Hey @imotov, I'm working with @bluelu.

A more immediate patch to reduce the cluster state size which we plan to apply looks as follows: As we have many indices with the same mapping, deduplicating the index mappings reduces the cluster state to 1/3 of its size.

[2015-03-09 13:26] bleskes commented on #9226
@kadaan thx. I don't see how the java version is relevant. Can you take another _stats?level=shard call for this index ? I want to see if the size in bytes becomes non - zero (see #10041):

[code]

It's unlikely to be the race condition in the PR, but you never know (and I can't see anything else at the moment)

also can you post a chart based on the total number of the operations?

[2015-03-09 14:16] polgl commented on #8823
Can the deletion be delayed for a longer period by setting a high value for `gateway.local.dangling_timeout` (couple of days maybe?)?

[2015-03-09 14:22] polgl commented on #9794
This is a BUG in the Java API: the list with listed nodes never gets updated and thus never contains the right IDs.

[2015-03-09 16:12] s1monw commented on #10032
adding this is also going to make full-cluster restart as well as rolling restarts likely instant. Even for the non-timeseries data / logging case for full restarts we can seal all the indices, shutdown, restart & unseal. This also works for rolling restarts if folks can afford having read only indices which I think is reasonable im most cases since the restart will be pretty fast. very promising!

[2015-03-09 16:14] s1monw commented on #8823
@polgl we remove the deleting and always import now since https://github.com/elasticsearch/elasticsearch/pull/10016 is pushed to 2.0

[2015-03-09 16:25] jsuchal opened #10043 "Support min_children & max_children for nested docs"
I am opening this as a separate issue since the previous issue was closed with support for parent-child docs (https://github.com/elasticsearch/elasticsearch/issues/6019#issuecomment-77785163).

We would love to have support for min_children & max_children or similar also for nested filters. http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/query-dsl-has-child-filter.html#_min_m

[2015-03-09 17:26] polgl commented on #8823
I'm running 1.4 and can not update now, so i would prefer to change the settings and have more time to react.

[2015-03-09 17:34] kadaan commented on #9226
@bleskes I have updated the chart in the prior post with the max operations.  The translog.size_in_bytes is still zero for that index (though that index is essentially read-only now).

[2015-03-09 18:04] martijnvg commented on #10043
+1 we should add this! I think we should also open an issue for this in Lucene, because the `nested` query uses the `ToParentBlockJoinQuery` Lucene query do the actual work.

[2015-03-09 18:49] martijnvg commented on #10043
I opened: https://issues.apache.org/jira/browse/LUCENE-6354 to get this in Lucene

[2015-03-09 18:50] kadaan commented on #9226
@bleskes As the shard has still not finished initializing, is there anything that can be done to mitigate the issue now?

[2015-03-09 20:51] sagarl commented on #10003
Thanks @clintongormley ... I'll try doing that and will update the thread.

[2015-03-09 21:16] ajhalani commented on #9972
Sure, put it at [https://gist.github.com/ajhalani/4b439e9dfa2a9bfd1b5e] .

[2015-03-09 21:16] bleskes commented on #9226
@kadaan Thx again. Doubling checking - what time zone is the chart? you mentioned the recovery started at 3/7/2015 11:05:52. Am I correct to interpret the chart as saying the translog was already at 40m?

Regarding mitigating the issue now - the only thing to do is [disabling allocation](http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/modules-cluster.html), [cancelling the re

[2015-03-09 21:32] kadaan commented on #9226
@bleskes All dates should be in PST.  Yes, it looks like the translog was at 40m when the recovery started.

[2015-03-09 21:34] bleskes commented on #9972
@ajhalani thx. Can you also post the c++ code for the request?

PS.  I don't see minimum_master_nodes set anywhere do you set it somewhere?

[2015-03-09 21:37] bleskes commented on #9226
@kadaan OK, that explains the super long recovery. There is just too much to do. I'll do some more digging. It's very peculiar that the translog size is 0 while there are clearly operations in it. Do you mind sharing your elastisearch.yml file, the cluster settings and the settings of this specific index?

[2015-03-09 21:45] kadaan commented on #9226
@bleskes How does one flush manually?

[2015-03-09 21:47] bleskes commented on #9226
@kadaan see http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/indices-flush.html#indices-flush

[2015-03-09 21:51] kadaan commented on #9226
@bleskes Once I disabled the allocation of the shard to the target node, a new translog file appeared in the source node.  After flushing the index, the 20G translog file is gone and there is a new, much smaller one, in it's place. I re-enabled shard allocation and it is recovering the shard on the target.

[2015-03-09 21:53] bleskes commented on #9226
@kadaan good. The problem is the fact that the translog grew to begin with. Can you share the settings as above?

[2015-03-09 22:08] nfx commented on #5089
It's just for the ease of use - applications collect ids as lists and it's easier to pass them directly inside of method calls

[2015-03-09 22:54] kadaan commented on #9226
@bleskes Interestingly, we were having another issue where our ingestion of events had slowed to a crawl.  It had gotten so bad that yesterdays index was only 1/6th the size it should be and today's has only 1/100th.  After performing the above action, not only is the recovery working, but ingestion seems to be catching up.

Why does translog recovery seem to run so slowly?  It still seems very sl

[2015-03-09 22:56] ajhalani commented on #9972
We are not using that option currently.. We saw this issue with both 2-node and 8-node cluster if that helps decide if lack of this option is causing issue.

It's difficult to share internal C++ existing code,  will have to check with folks around if it's okay.. Could we debug without the code, as I mentioned it's doing a http _bulk index request..

[2015-03-09 23:17] sagarl commented on #9212
@bleskes Just wanted to confirm that you back ported the changes to 1.4.5 and the patch won't be available for prior 1.4.x versions (eg. 1.4.1) .. is that correct ?
If yes, what's the timeline of releasing 1.4.5 ?
How about [#9683] (https://github.com/elasticsearch/elasticsearch/pull/9683) ? Will it be back ported to 1.4.5 too ?
I have filed [#10003] (https://github.com/elasticsearch/elasticsearch

[2015-03-09 23:54] ppf2 opened #10044 "Add alias filter to slowlog entries"
When using filtered aliases filtered by type, it will be helpful for slowlog to report the types queried.   Currently, it returns `types[]`.

[code]

[2015-03-10 04:50] lkebin commented on #9232
@clintongormley Why not talk about it at here ?

[2015-03-10 05:06] lkebin commented on #9232
@clintongormley Can you post the url about this question on the google groups ?

[2015-03-10 07:35] emmanuelmathot commented on #7574
Any planned date for release?

[2015-03-10 10:13] synhershko commented on #9649
@dadoonet it was fixed in https://github.com/elasticsearch/elasticsearch/commit/6f7253c5242e7fb94d959ce291c88f93887e3bde -- comments are supported when passed in source, they just don't get persisted to store hence aren't retrieved.

I'm on the fence on this one. Commenting using proper comments on code seems to be enough, and the fact they are being stripped by the deserializer on ES's end so nev

[2015-03-10 10:22] drorata commented on #9649
@synhershko I disagree with you. Having under the hood access is not always granted to the "user" and it could be very helpful to be able to have easy access to what the developers had in mind. It is not terribly important, and there are loads of workarounds, but it is still nice to have integrated into the ES.

[2015-03-10 10:28] synhershko opened #10047 "[Feature] Query template modularity (or, re-using template queries in template queries)"
It would be super useful to have the ability to reuse query templates from other query templates, e.g.

[code]

It will then be the user's responsibility to make sure one change to a template doesn't break other templates, and that required params are all satisfied across all used templates.

In particular I see this being asked for over and over again by various clients, as their queries are grow

[2015-03-10 10:35] synhershko opened #10048 "[Feature] Reciprocal decay"
Support for a reciprocal decay function will be highly useful for one use-case I'm helping with:

(1/x)^c where c is a constant and x is the parameter to the decay function (datetime field etc).

/cc @brwe

[2015-03-10 10:36] drax68 commented on #9226
Found workaround for translog sync, which works for me:

curl -XPUT localhost:9200/index_name/_settings -d '{"index":{"translog.flush_threshold_size": "5000mb"}}'

5000mb or any value more than expected translog size (but translog transfer still very slow).

[2015-03-10 10:43] synhershko opened #10049 "[Feature][function_score] Execute a function on scores in score_mode"
Currently `score_mode` only supports a basic set of operations on scores provided by the functions executed in function score query: `multiply`, `sum`, `avg`, `first`, `max`, `min`.

It will be very useful to have the ability to execute a more involved function on them instead, e.g.: `_score1 + _score3 - _score2*_score5`, where scores can be numbered or names after the functions order / names.

[2015-03-10 10:52] 91pavan opened #10050 "ElasticSearch fails when kibana makes request over https"
Apache2 has SSL module on to make connections to localhost over https

Kibana config:

[code]
ElasticSearch config:

[code]

When we access kibana over https, we get all types of exceptions:

[code]

[code]

Any help much appreciated.

[2015-03-10 11:46] gurvindersingh commented on #9212
#9709 fixes #9683 too. Atleast the comments on the 9709 shows that. 9683 was closed in favor off 9709. Check out both of them, may be I am wrong ;)

[2015-03-10 12:01] synhershko commented on #9649
@drorata fwiw this is supported in Elasticsearch since it doesn't validate the input http://fadefade.com/json-comments.html

[2015-03-10 13:34] drorata commented on #9649
I'm afraid I didn't understand your comment.

[2015-03-10 14:20] lukapor opened #10051 "Function score on ChildrenQuery execute diffrent in master version"
Hi, I am testing new master version of elasticsearch and have one question.

I am using some statistics (store in usagestatistics object) which is child object of lets say document object. I implemented sort by most user used document by function score on child query. In a version 1.4.x it is ok, on master version i got error on some shard where i dont have childs (error below). It is any option t

[2015-03-10 15:33] amitdaniel86 opened #10052 "Elasticsearch crashed with same error"
Hey ,

First of all this is the error :

[2015-03-10 14:59:24,165][WARN ][indices.breaker          ] [log1-01] [FIELDDATA] New used memory 64378163272 [59.9gb] from field [@timestamp] would be larger than configured breaker: 64356483072 [59.9gb], breaking
[2015-03-10 14:59:24,166][DEBUG][action.search.type       ] [log1-01] [logstash-2015.03.09][0], node[Tm4cqA_iQHOrY-rMhPR7Dg], [P], s[STARTED]: F

[2015-03-10 16:02] sylvae commented on #9951
I have found the reason，it was not the ES's bug.It was because of too much memory fragmentation and memory recall.

[2015-03-10 16:02] #9951 closed

[2015-03-10 16:13] 91pavan commented on #10050
Sorry guys for opening the issue, managed to fix it by replacing the localhost part with actual IP of the machine!

Closing this one!

[2015-03-10 16:13] #10050 closed

[2015-03-10 17:17] dakrone commented on #10052
@amitdaniel86 this exception is not crashing Elasticsearch, this exception means that Elasticsearch prevented you from loading too much data into memory and causing your server to go out of memory, you can see from this line:

Caused by: org.elasticsearch.ElasticsearchException: org.elasticsearch.common.breaker.CircuitBreakingException: [FIELDDATA] Data too large, data for [@timestamp] would be la

[2015-03-10 23:28] cxxr commented on #9924
:+1: ran into this a few times.

[2015-03-10 23:46] s1monw opened #10053 "Recovery should wipe the shard state file before starting recovery"
When we start recovery of a shard we should wipe the state file of the copy if it's present otherwise gateway allocating can get confused interpreting a shard that is not fully recovered ie. due to a recovery failure as a valid copy since we only write the state when the shard is started.

[2015-03-10 23:47] s1monw commented on #10053
@brwe can you take care of this?

[2015-03-10 23:52] bleskes commented on #10053
I wonder if the correct time to wipe any _state file is before the temp file rename. Until then, the recovery doesn’t mess with any non-temp files. If the recover is cancelled, we leave the target shard intact.

[2015-03-11 00:37] BHSPitMonkey commented on #9971
1. Actually, no; I meant the ngram tokenizer.
2. Raising the `max_gram` (and/or lowering the `min_gram`) setting is outside the question. The problem is that, once you've decided on a min/max which suit your needs (a decision based on the specific partial-matching needs and taking storage complexity into account), you still want words outside of this window to match in their entirety.

For example

[2015-03-11 01:52] masaruh opened #10054 "Deleted index comes back"
Reproduction:

1. Create two nodes cluster, node1 and node2 (both are master eligible)
2. Create an index
3. Stop node2
4. Delete the index
5. Stop node1
6. Start node1 and node2
7. Deleted index comes back

[2015-03-11 03:03] markwalkom commented on #10054
This is 1.4.4 according to @masaruh

[2015-03-11 03:26] masaruh commented on #10054
Forgot to mention it's not dangling index.

It can be reproduced by:
1. Create three nodes cluster, node1 and node2 are master eligible and node3 is data only node.
2. Create index
3. Stop node2
4. Delete the index
5. Stop node1 and node3
6. Start node1, node2 and node3
7. Deleted index comes back

It looks old cluster state on node2 is imported on restart during `LocalGateway.performStateRecovery

[2015-03-11 07:50] Sameerkpatro opened #10055 "Regarding TTL Settings"
I am getting an Error as below while configuring ELK.Caused by: org.elasticsearch.index.mapper.MapperParsingException: Root type mapping not empty after parsing! Remaining fields:   [logstash-* : {_ttl={enabled=true, default=500}}] [_default_ : {dynamic_templates=[{string_fields={mapping={index=analyzed, omit_norms=true, type=string, fields={raw={index=not_analyzed, ignore_above=256, type=string}}

[2015-03-11 09:07] Chetane opened #10056 "[Bug] Unexpected behavior when indexing boolean values"
There is inconsistent behavior when saving boolean json values as boolean, or as text. The occurring parse error is cryptic and confusing.

Repro steps (assumming the `tweets` index doesn't exist):

1. Insert a first record:

[code]

2. Insert a boolean as a string
[code]
The error is expected, as auto-mapping has decided that `key` is a `number`, not a `boolean`

3. Insert a boolean as boolean

[

[2015-03-11 09:13] amitdaniel86 commented on #10052
Can you help me to understand why the @timestamp field trying to load more than 60GB of data ?
Maybe i have another issue to solve.

Thanks for your help !!! @dakrone

[2015-03-11 10:19] tyyko opened #10057 "Data separation and access control - collect logs of multiple tenants"
Please don't point me at the new product 'shield' as is not open-source :(

If I will use ELK stack to collect logs from different tenants(example: all websites/web application hosted by me)
How can I provide my 'clients' the possibility to check and query their logs without seeing the others?
How can I assure that is not possible to a user to see the logs not related to his applications?
Should I

[2015-03-11 14:54] asanderson opened #10058 "filtered query w/ has_child query and filter applied to child documents"
Enable a filtered query to apply filter to both parent and child documents but return parent documents for has_child query.

e.g.
curl -X PUT "http://localhost:9200/foobar" -d "{\"mappings\":{\"Foo\":{},\"Bar\":{\"_parent\":{\"type\":\"Foo\"}}}}"

curl -X PUT "http://localhost:9200/foobar/Foo/1" -d "{\"foo\":\"abc\",\"access\":\"yes\"}"

curl -X PUT "http://localhost:9200/foobar/Bar/2?parent=1" -d

[2015-03-11 15:25] zijian1981 opened #10059 "sub aggregation of metric aggregation"
Is  it  possible to support sub  aggregation of  metric aggregation ?
For  example ,term agg→mean  agg →max agg

[2015-03-11 16:17] shivangshah commented on #10038
+1. I have the exact same problem. I have more details here:
http://stackoverflow.com/questions/28977610/elastic-search-filtered-aliases-with-unmapped-fields

[2015-03-11 16:33] dakrone commented on #10052
@amitdaniel86 field data is loaded for a field when that field is used for facets, aggregations, or when sorting on the field, so it could be any (or all) of those three.

[2015-03-11 17:32] ppf2 commented on #9881
There is an increasing # of Kibana 4 users running into this (https://github.com/elastic/kibana/issues/2782)

[2015-03-11 17:44] tostasqb commented on #6914
+1

[2015-03-11 18:11] ppf2 opened #10060 "Page cache recycler using >10% of heap"
From talking to @jpountz , the page cache recycler is not supposed to use > 10% of heap.  We are seeing it use more than 10% in one of the heap dumps received (ES 1.4.1).  Filing this ticket to track. Thx @jpountz !

![image](https://cloud.githubusercontent.com/assets/7216393/6603370/e918cc18-c7de-11e4-813a-e4565d822ab4.png)

![image](https://cloud.githubusercontent.com/assets/7216393/6603356/ddf4

[2015-03-11 18:14] jpountz commented on #10060
For the record, this is on a 30.1GB heap.

[2015-03-11 18:56] Asimov4 opened #10061 "Add support for doc values for analyzed fields"
We would like to use doc values for analyzed fields.

The doc mentions that it is not possible:
http://www.elastic.co/guide/en/elasticsearch/guide/current/doc-values.html

Will that eventually be supported?

[2015-03-11 19:54] brunson opened #10062 "Data Corruption reported from ES but not Lucene"
After a rolling upgrade from 1.3.9 to 1.4.4 I'm left with ~270 shards in 206 (of 1082) indices that ES is reporting are corrupted for primaries and all replicas and seems unable to recover them, but the lucene CheckIndex tool can find no problem with the underlying data.

Here's a sample log message from ES:

[2015-03-11 13:40:45,047][WARN ][cluster.action.shard     ] [Murmur II] [logstash-2014.01

[2015-03-11 20:11] Mpdreamz commented on #8862
Should we do the same for percolator requests:

http://www.elastic.co/guide/en/elasticsearch/reference/current/search-percolate.html

and rename its `filter` to `post_filter`? or does its `aggs` behave slightly different from `_search`'s aggs?

[2015-03-11 21:19] ppf2 opened #10063 "Provide stats on memory used in queues"
Would be nice for node stats to also report the amount of memory used by items in a thread pool queue (esp. for the bulk thread pool with increased queue size).

[2015-03-11 21:37] nithyanv opened #10064 "Scripting Issues generating compound _id from fields"
Hi,

I am trying to generating compound _id from _source fields.

curl -XPUT http://localhost:9200/_template/my_tplt -d '{
"template" : "my*",
"order":    1,
"settings" : {
"index.cache.field.type" : "soft",
"index.refresh_interval" : "5s",
"index.store.compress.stored" : true,
"mapping.allow_type_wrapper": true
},
"mappings" : {
"_default_" : {
"_all" : {"enabled" : false},
"_timestamp" : {"enabl

[2015-03-11 21:46] drewbroadley opened #10065 "Interoperability of /_query and /_search with GET/POST/DELETE"
Hi there,

I've got an issue where /_query POST creates something, yet you need to use /_query to DELETE from a Query DSL search.

It would be great to have it so /_query is interoperable with /_search, unless I'm missing something in the documentation it would make sense for this.

I'm proposing that /_search becomes an alias to /_query (eventually removed) and then you can do the folllowing:

GE

[2015-03-11 22:33] avleen opened #10066 "OOM causes index corruption on replicas"
v 1.4.3

Our cluster started doing very heavy garbage collection, probably due to an expensive query.
In the process of this, all nodes in the cluster OOM'd.
After restarting the entire cluster, we found that a number of replicas were giving errors when trying to bring shards up. This is the log from the master during recovery:
[code]

When the node OOM'd, this is the stack trace we saw:
[code]

M

[2015-03-11 22:47] gmenegatti commented on #9984
+1

[2015-03-11 23:58] mikemccand opened #10067 "Core: remove delete-by-query"
This method is exceptionally trappy.  I think we should remove it and add it back only once we can do it safely.

It secretly does a refresh with each request, which means it makes changes visible if maybe you didn't want to (https://github.com/elastic/elasticsearch/issues/3593).

It also means if you call this while concurrently index you can easily blow up the number of segments in the shard (me

[2015-03-12 04:10] anjanpathak opened #10068 "Red indexes with nullpointer exception"
We are having problem while serving query. We were running ES 1.2.1 on Cent OS installed as RPM package and suddenly started getting errors while querying. The log showed this:

    [2015-03-09 18:35:25,102][INFO ][cluster.metadata         ] [Morpheus] [thedealspoint] update_mapping [publicDeals] (dynamic)
    [2015-03-09 18:35:25,131][WARN ][index.engine.internal    ] [Morpheus] [thedealspoint][0

[2015-03-12 07:17] avleen opened #10069 "Prioritizing shard recoveries"
Feature request:

When multiple shard replicas need recovery (eg, when you restart the whole cluster), it can be beneficial to get some indices green before others.
In the Logstash case, getting the most recent indices by date.
In other cases, there may be application demands on which index you really need back first.

Being able to set a specific priority on indices, or have it automatically dete

[2015-03-12 07:40] synhershko commented on #9649
@drorata you can still "have comments", sorta, by duplicating the field in the input like demonstrated in the link I provided. The first instance of the field will be ignored.

[2015-03-12 07:46] drorata commented on #9649
@synhershko and will this pseudo-comment be returned when executing `_mapping`?

[2015-03-12 07:49] Chetane opened #10070 "[Bug] 'ignore_malformed' does not always work, and occasionally throws an exception"
The idea behind `ignore_malformed` setting, is to ensure all records being added get added to the index, even if some of the JSON attribute use an invalid data type (compared to the index's expected mapping). This is particularly useful with dynamic JSON document, where it's most important that all objects are "added" (rather than rejected via exception).

However, there are some cases where malfo

[2015-03-12 07:54] synhershko commented on #9649
Actually I'm not sure, good point

[2015-03-12 09:26] bsander opened #10071 "Bug when fvh highlighting a phrase query on an ngrammed field"
Not really sure how to accurately describe this bug. I've narrowed it down to a combination of the following elements:
- Fast Vector Highligter
- Phrase query with slop
- Performing a search where at least one of the words is a prefix of another word in the query (in the case below: `in` and `internet`.

Steps to reproduce:

[code]

This results in the following error on es 1.4.4:

[code]

As said

[2015-03-12 14:45] theanimal666 commented on #9726
+1 here the same getting this error on 1.4.4

[2015-03-12 15:22] cameronevans opened #10072 "Date format using seconds since epoch"
We currently use seconds since epoch to store dates in Elasticsearch. However, this is interpreted as milliseconds since epoch and stores them internally as such.

Example: 10/Feb/2015:17:54:07 in seconds (1423590847) becomes 01/17/1970 11:26:30

Unfortunately this issue means that we have to use date histogram facets instead of aggregations in order to use the "factor" field to convert it accordi

[2015-03-12 16:15] rtoma opened #10073 "Restarting node 1.4.4 cluster resulted in red state, with dangling indices"
Hi,

How to recover from the following?
[code]

This morning (~6 hours ago) we restarted one node (not master). After restart the following was in the logging. Cluster is now in red state, because primary and replica shards are unassigned.

[code]

Please advice.

[2015-03-12 18:10] nesah opened #10074 "Need additional line in config file, to work tutorial's example."
I'm afraid to say, I wrote bellow 'additional line' in ' elasticsearch/config/elasticsearch.yml
', to work tutorial's example about 'Updating Documents' by 'script'.
So, it is needed to add an explanation in tutorial.

// additional line
script.groovy.sandbox.enabled: true

// error
{
  "error" : "ElasticsearchIllegalArgumentException[failed to execute script]; nested: ScriptExceptio
n[dynamic scr

[2015-03-12 18:51] s1monw commented on #8823
@polgl you can modify the settings yourself and just to import always?

[2015-03-12 18:53] s1monw commented on #10069
once we fixed https://github.com/elastic/elasticsearch/issues/10032 this will be much easier since we can recover unsealed shards first or even last since all the sealed once are instant and you problem will be going away entirely.

[2015-03-12 18:55] s1monw commented on #10073
please use the mailing list for questions like this. this is only for dev issues/bug.

Regarding your question, if you don't use those indices why don't you just delete them?

[2015-03-12 18:55] #10073 closed

[2015-03-12 18:56] simonbrandhof commented on #10067
If delete-by-query is removed, then how would you truncate an index ? Deleting and creating again the index requires to know metadata, which is not always possible.

[2015-03-12 18:57] s1monw commented on #9726
when you are using scan/scroll are those requests taking a long time to finish ie. are you keeping the scroll request open a long time before going back to get the next batch? can you tell me a bit more about the usage pattern?

[2015-03-12 19:00] s1monw commented on #10071
hmm can you do me a favor and try simple analyzer for both search and index? It seems like the suggest analyzer is messing with positions here...

[2015-03-12 19:40] bowlby commented on #5324
+1

[2015-03-12 20:30] polgl commented on #8823
Hi, I did some tests and it seems like our cluster does not show this behavior.
We have a single dedicated master node, if this node does not have an index in the meta data / cluster state. nothing happens. The data nodes don't delete any files (the dangling indices part in the code is not executed). That sounds ok, I can live with that.

Thanks for you help

[2015-03-12 20:54] mikemccand commented on #10067
Deleting the entire index is much faster than delete-by-query of all docs in the index.  But if that's not an option I suggest you run scan+scroll of your query to get all hits and then do bulk-request deletes of the returned ids.

[2015-03-12 21:10] prog8 opened #10077 "Bug in PageCacheRecycler?"
I hit a problem where PageCacheRecycler seems to be too big. I have an impression this is bigger than the limit. Default page.limit.heap is 10% and default weights for byte/long/int/float/double are 1/1/1/1/1. This implies that for 30G heap NONE of pages should be bigger than 600MB if I'm not wrong.

Looking into PageCacheRecycler.maxCount method calculates higher values for bigger data types. If

[2015-03-12 21:11] gdeconto commented on #7401
+1 on adding a feature that would allow me to remove the "_index", "_type", "_id" and "_score" fields from the output.  the output is needlessly bloated by this sort of chaff

[2015-03-12 21:19] bsander commented on #10071
Yes, I tried that too while chasing down this thing. If all analysis on the field is changed to `simple` the problem doesn't occur.

[2015-03-12 21:53] theanimal666 commented on #9726
in my case the strange thing is that i did not use scan or scroll at all.
ES is running using docker containers on two AWS t2.small Machines - it is a dev/test environment.

[2015-03-12 22:13] kiwigaffa commented on #8871
We have a lot of indices, each of which has a large set of mappings. While no two sets of mappings are identical, for most of our indices there is considerable overlap. Being able to share mappings between indices would help us reduce the total cluster state size.

More concretely, imagine that we have 10 indices (a-j) all being written to, and we cycle each of those  indices every hour (i.e. crea

[2015-03-12 22:16] s1monw commented on #10067
In this case I recommend to just read the metadata from the index and put it in your create request, then delete the index and you are done with it.

[2015-03-12 22:17] s1monw commented on #10067
@mikemccand I am not sure if we should do this in 1.5 but deprecating it I think is a no brainer?

[2015-03-12 22:43] jpountz commented on #10060
This looks related to #10077

[2015-03-12 22:50] mikemccand commented on #10067
Yeah my plan is deprecate in 1.5 and remove in 2.0.

[2015-03-12 22:51] jpountz commented on #10077
You are totally right! Would you like to open a pull request? I'm just asking in case you would like to do it since you already did the investigation but if you have no time for it, I'll happily do it.

[2015-03-12 22:51] jpountz commented on #10060
I just verified #10077 . This is very likely the cause of this issue.

[2015-03-12 22:51] #10060 closed

[2015-03-12 23:42] kadaan commented on #9226
@bleskes In the _recovery results what unit is "translog"."recovered" in?  It it bytes? Documents?  Something else?  This happened again today and while I caught it early, the translog was still 2gb for the single shard that was restoring.  Additionally, all indexing stopped in the cluster.  From my standpoint, it is not acceptable that a single restoring shard can cause all indexing to halt on th

[2015-03-12 23:48] bleskes commented on #9226
@kadaan sorry for not getting back to you yet. I will!. Quick answer to the latest comment, plus some questions to be able to answer yours.

Documents

Double check I understand - the translog was 2gb when the recovery started? if not , can you check how big it was. Do you still have the issue where the _stats end point report zero translog size in bytes, while operations are high?

All cluster st

[2015-03-13 00:03] kadaan commented on #9226
@bleskes That helps to know it is documents.  At least I know the transfer rate isn't super slow.  I didn't see what the result from _stats was this time.  I believe all indexing stopped as kopf was not reporting any increase in documents for ~30 minutes.  That said, since the indices are time based (the shard recovering was on the latest index) most changes are on the index in question.  The prio

[2015-03-13 00:21] bleskes commented on #9226
@kadaan oh man, this is painful. Can you check your stats collection?

[2015-03-13 00:29] kadaan commented on #9226
@bleskes FYI, our cluster is healthy now.  I can check that later tonight or tomorrow.

[2015-03-13 01:26] nik9000 commented on #10071
My Experimental highlighter doesn't seem to mind that use case.  I imagine its something with the FVH.  I'll do a bit of debugging.

[2015-03-13 01:39] nik9000 commented on #10071
Looks like the FVH just messes up the fragments somehow: ```subInfos=(ininternet((30,32)(30,38)))/1.0(0,100)```

[2015-03-13 01:54] nik9000 commented on #10071
It puts the "in" part of the match on top of the "internet" part of the match....

It does that because ```in``` is a prefix of ```internet```.....

The experimental highlighter doesn't mind these because it contains a filter that removes overlaps like this.

I think the right thing to do here is to stop FieldTermStack from spitting out overlaps.  Or to teach BaseFragListBuilder to merge the overl

[2015-03-13 05:42] kadaan commented on #9226
@bleskes The index that had the problem is no longer being written to.  _stats for that index are at: https://gist.github.com/kadaan/ba3dcf3b9fe7b7bd5a79#file-repo2_stats_index  The next index is being written to, but it still reports translog size in bytes of 0: https://gist.github.com/kadaan/ba3dcf3b9fe7b7bd5a79#file-repro2_stats_index_-1

[2015-03-13 05:53] kadaan commented on #9226
@bleskes Is there some other information I can be prepared to capture, or some logging I can enable to assist in figuring out why indexing grinds to a halt when a shard is stuck in a translog restore which will "never" complete?

[2015-03-13 07:27] agiletestware opened #10078 "elasticsearch.bat fails to start"
D:\elasticsearch-1.4.4\elasticsearch-1.4.4\bin>elasticsearch.bat
The system cannot find the path specified.

No error message. Not really what the batch file does not start.

[2015-03-13 08:30] rtoma commented on #10073
Hi Simon,

I guess I used to much 'I need support' trigger words?

My issue was: holy crap, ES is dropping indices after a restart of a single node. This sounds like a bug right?

Anyways I've done some more digging and think I have found something interesting for you. It seems that the dangling indices got deleted by curator. Some 7 hours later one node got restarted and the deleted indices reapp

[2015-03-13 09:13] drax68 commented on #9226
Before this change translog on target node was spinning around 200Mb and sync was never finished. After this change sync was finally successfull with translog > 200Mb at source node.

[2015-03-13 10:20] bharvidixit commented on #8312
@clintongormley what i enable doc_values=true for the metadata _id field? Will i have some effect?  "_id": {
          "store": true,
          "index": "not_analyzed",
          "doc_values": true,
          "path": "id"
        }

[2015-03-13 10:24] engineee commented on #2230
+1

[2015-03-13 13:02] rtoma commented on #10073
FYI, restarted the node 001 again and now no more zombie indices.

[2015-03-13 13:30] ajaybhatnagar opened #10079 "Marvel reports incorrect document count and store size."
See the query result which says about 45M docs and 94GB  as size, Marvel graph have these values nearly half of actual values.
health status index       pri rep docs.count docs.deleted store.size pri.store.size
green  open   test_insert   5   1   44999486            0    188.2gb         94.1gb

![doccount](https://cloud.githubusercontent.com/assets/8180763/6639123/2c67705c-c963-11e4-86ac-333760152

[2015-03-13 13:48] prog8 commented on #10077
I'd be glad if you can prepare the change. Thanks!

[2015-03-13 14:02] bleskes commented on #10079
Thx for reporting. Just to make sure we put some things aside, I want to double check you have a single node cluster (the image is from a node stat chart while the cat call looks like it comes from an index stats). If not, the marvel chart just shows the shards assigned to that node, not the entire index.

Also - can you check what the `_nodes/stats` api reports when calling ES directly? look for

[2015-03-13 14:23] dadoonet commented on #10078
I would bet that JAVA_HOME is not set or "java" command can not be found.
Could you check your Java settings?

[2015-03-13 14:26] ajaybhatnagar commented on #10079
Thanks for prompt review. I just wiped the whole cluster and will be running the same test again provide requested details. For info,  the cluster had 5 data nodes, one index , 5 shards and one replica. Each data node had one primary and one replica shard.

If I understood correctly, the info is only for the node (i.e. documents stored on the node). Rough estimates (assuming balanced distribution)

[2015-03-13 14:30] bleskes commented on #10079
Yeah. I think this means the marvel stats are OK?

The dashboard is called node stats and you get to it by clicking on a node. The chart is under "Indices Store" which needs to be clicked open. What would you suggest renaming the chart to in order to make it clearer, given this context?

[2015-03-13 15:01] ajaybhatnagar commented on #10079
Suggested titles for the two charts
Documents on <Host> and
Doc. Size on <Host>
where <Host> is the actual hostname in cluster.

[2015-03-13 16:11] hydrogen18 opened #10080 "Indices statistics reports -1 memory usage for percolator of index"
I am trying to gauge how much memory is used by the percolator on an index. I noticed that the statistics report for each index a 'percolate' value. I am using the `elasticsearch-ruby` client to query the Elasticsearch cluster.

[code]

As you can see I get back `-1`  as the size. I have ~15000 queries so I would expect this to be non-zero. Is this just not implemented, or does it have a special m

[2015-03-13 16:44] parasb opened #10081 "Switching from Facets to Aggregations problems in Elastic Search"
We were using facets in elastic search. But since they are deprecated now, We are trying to use aggregations now. The code snippet for both the approaches are

https://gist.github.com/parasb/751baf0fca2a7682a8d1

Refering the code snippet for facets,  we pass 2 IMEIs in should array of facet 0, it returns the result corresponding to those IMEIs in facet 0 & we pass 1 IMEI in should array of facet

[2015-03-13 17:11] jpountz commented on #10077
No problem, I will!

[2015-03-13 17:21] jpountz commented on #10081
Sorry but I'm not sure to understand the issue here. That said, maybe the answer to your question is in our facets to aggregations migration guide? http://www.elastic.co/guide/en/elasticsearch/reference/current/search-facets-migrating-to-aggs.html#_facet_filters

Closing the issue as it sounds to me like a question rather than a bug.

[2015-03-13 17:21] #10081 closed

[2015-03-13 17:32] bleskes commented on #10079
yeah. These are a bit tricky as they don't scale when people view data for multiple nodes. I hear you though and I'll think about possible improvements here. I'm closing this for now, as the stats seems correct. Please feel free to reopen if I missed something.

[2015-03-13 17:32] #10079 closed

[2015-03-13 17:37] s1monw commented on #10073
@rtoma sorry for moving so quickly. If you stop a node, delete indices and start that node after that again you will get those indices back. That is just a safety feature to not wipe your data without asking you to do it. I am afraid that this is a feature rather than a bug. It's just safer to bring them back and let the user decide. you can opt out of this feature but in 2.0 we make it non-opt-ou

[2015-03-13 18:35] mtuchi opened #10085 "setup elasticsearch on a server"
Am new in elastic search, i am building a search engine for my website using elasticsearch and php.
i want to update my project in my hosting server everything works perfectly in my localhost (my PC) but when i update the project in my hosted server this is what i get

<code>
Fatal error: Uncaught exception 'Elasticsearch\Common\Exceptions\Curl\CouldNotConnectToHost' with message 'couldn't connect

[2015-03-13 19:29] dadoonet commented on #10085
Hi @mtuchi

You should better ask this on the mailing list. We can definitely help you there.
Provide there more details about what you are exactly doing. I don't see why you are using CURL from PHP but may be I am misunderstanding your trace here.

Closing as it's not an issue but more a usage question.

[2015-03-13 19:29] #10085 closed

[2015-03-14 08:47] feifeiiiiiiiiiii opened #10090 "How optimize elasticsearch query slow?"
In my use scene(5.6TB data, 13 Node),  I will use many "query_string" to find result, I hope quickly return query result, query filters as follow,
[code]

[2015-03-14 10:34] dadoonet commented on #10090
Please ask questions on the mailing list. We can  definitely help you there.

Prefer using filters each time you can. Basically each time you don't require to compute a score (filter results by a given Term or a Range of values...)
It will be really much faster.
Use a filtered query and split the "full text" part of your search and the other part.

Closing as not an issue.

[2015-03-14 10:34] #10090 closed

[2015-03-14 10:36] babadofar commented on #9314
I would add the synonyms at query time, constructing a query using boost, function score or similar, where you can set weights for matching towards individual terms.

[2015-03-14 12:15] rtoma commented on #10073
@s1monw not a problem. I seem to be unable to relay the issue.
Its not:
- stop
- delete
- start
- issue

But:
- delete
- stop
- start
- issue

So this is not the dangling issue, but more that an index delete did delete its data, but not its metadata on disk.

[2015-03-14 18:11] udoprog opened #10091 "No easy way to access score when using a ValuesSourceMetricsAggregationBuilder-based aggregation"
I attempted to implement the aggregation documented at the bottom of [this article](http://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-top-hits-aggregation.html). Since dynamic scripting is disabled by default, I was not able to find an easy way to implement it.

The solutions I've discovered so far are:

* Enable dynamic scripting via `script.disable_dynami

[2015-03-14 18:13] theQuazz commented on #10091
:+1:

I have tried using a Lucene Expressions to solve this problem, but it look like the language doesn't support this use case yet

[2015-03-14 18:16] dakrone commented on #10091
@rjernst how hard would it be to add super simple support for `_score` to expressions?

[2015-03-14 21:06] synhershko commented on #9884
Closing this for now, will reopen if I can come up with a minimal repro

[2015-03-14 21:06] #9884 closed

[2015-03-14 22:00] dakrone commented on #9853
@petecheslock okay, curator [3.0.0](https://github.com/elastic/curator/releases) was released, which batches these requests instead of sending them one-at-a-time. This should fix this for the case when the tag is not set on a node and it keeps taking longer and longer, because it will only cause a single cluster state update.

I'm going to close this for now, feel free to re-open or open a new iss

[2015-03-14 22:00] #9853 closed

[2015-03-15 01:02] agiletestware commented on #10078
yup, you were right. Maybe a better error message in the future

[2015-03-15 01:02] #10078 closed

[2015-03-15 15:06] bleskes opened #10096 "Move IndicesStatsRequest to expose CommonStatsFlags directly"
Currently IndicesStatsRequest has a method per possible index metric. Internally theses are stored using a `CommonStatsFlags` object. This means that every time we add a stat we need to remember to add a method and remember to map it in `RestIndicesStatsAction` rather we should just expose the underlying flag, just like `NodesStatsRequest.indices()` allowing for some automation in the mapping.

[2015-03-15 15:34] petecheslock commented on #9853
Thanks @dakrone 👍

[2015-03-15 20:58] rvller commented on #9988
here is what. I've updated ES to 1.4.3. So it creashed again:

Full log here: https://gist.github.com/rvller/3cea11802f861f9e9233

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGILL (0x4) at pc=0x00007f2e991ce1f0, pid=30884, tid=139837175879424
#
# JRE version: Java(TM) SE Runtime Environment (7.0_72-b14) (build 1.7.0_72-b14)
# Java VM: Java HotSpot(TM) 64-Bit Server

[2015-03-15 20:58] rjernst opened #10098 "Type level fielddata settings should be checked more aggressively"
Parsing of the fielddata doesn't happen in the type parser, but instead in the AbstractFieldMapper constructor.  We should move this up to the type parser where other settings are validated.

[2015-03-15 20:59] rvller commented on #9988
I 've updated ES to 1.4.3. So it crashed again...

See full log: https://gist.github.com/rvller/3cea11802f861f9e9233

 A fatal error has been detected by the Java Runtime Environment:
  SIGILL (0x4) at pc=0x00007f2e991ce1f0, pid=30884, tid=139837175879424

 JRE version: Java(TM) SE Runtime Environment (7.0_72-b14) (build 1.7.0_72-b14)
 Java VM: Java HotSpot(TM) 64-Bit Server VM (24.72-b04 mixed mo

[2015-03-15 21:26] s1monw commented on #10053
@bleskes agreed.. we should remove it before we rename the first file.

[2015-03-15 21:31] s1monw commented on #10073
yeah we fixed several things related to this in 1.5 that makes sure we delete the metadata even if the index data can not be deleted. We should likely go further and write tombstones instead of deleting to make sure even if we can't delete we mark indices as deleted

[2015-03-16 01:03] bzbetty opened #10099 "TimeBasedUUIDGenerator relies on getMacAddress which doesn't work in Azure WebJob"
Trying to penny pinch in Azure by running Elastic Search as a WebJob.

Azure Websites are fairly locked down and don't allow you to enumerate network addresses (at least that's my theory).  I assumed this wouldn't be needed if I bind to a specific IP but it appears the TimeBasedUUIDGenerator also uses the machines Mac Address.

[03/15/2015 23:56:11 > 6e43bd: ERR ] Exception in thread "main" java.l

[2015-03-16 02:52] Yashin-s opened #10101 "service stops after a couple of hours"
Hello,
I am running elasticsearch on my linux vps server. While starting the service, it is ok but I am getting the following stuffs :

root@vps15042 [~]# sudo service elasticsearch start
error: permission denied on key 'vm.max_map_count'
Starting elasticsearch: [ OK ]
root@vps15042 [~]# log4j:WARN No appenders could be found for logger (common)
log4j:WARN Please initialize the log4j system proper

[2015-03-16 02:58] #10025 closed

[2015-03-16 03:13] tlrx commented on #10101
@Yashin-s thanks for reporting.

I think there are few problems here. The first one is that the logging system hasn't been initialized so we can't really know why the elasticsearch node has been stopped.

The second one is that you start elasticsearch with the root user while executing a `sudo` command. If possible, I recommand to remove completely elasticsearch and reinstall it, then starting it

[2015-03-16 03:24] jpountz commented on #8312
@bharvidixit Actually we are also thinking about having doc values enabled on `_uid` too. This way, random sorting (which mostly merges a seed with a hash of the _uid to be reproducible) would not need to load fielddata on the _uid field (which takes a lot of memory all the time since this field is unique by definition). And it could also help have consistent pagination by tie-breaking on the `_ui

[2015-03-16 03:29] #10077 closed

[2015-03-16 04:13] jpountz commented on #9979
The exponent of the sum is suspicious (-321), it's typically what you would get when interpreting bits of a small long as a double. For instance `Double.longBitsToDouble(2000)` returns 9.88E-321. So I'm wondering if this could be this mapping issue we have seen a couple of times where shards would mistakenly interpret long as doubles because of inconsistent mappings across shards.

[2015-03-16 04:37] jpountz commented on #9979
I quickly tried to reproduce the issue with no success. Here is the script I used:

[code]

[2015-03-16 04:40] jpountz commented on #10072
I agree an option on date fields to interpret numbers as seconds since epoch instead of milliseconds would make sense.

[2015-03-16 04:42] jpountz commented on #10072
Dates would still be stored as milliseconds since Epoch internally, which should be fine since Lucene doc values have gcd compression exactly for this use-case: it would figure out that all values share a common divisor and use it for compression.

[2015-03-16 04:43] jpountz commented on #9979
@natenash203 Could you let us know which elasticsearch version you are running and whether you rely on dynamic mappings?

[2015-03-16 04:48] jpountz commented on #10027
This is something we started discussing on https://github.com/elastic/elasticsearch/issues/8110. The issue has been closed since it probably had too much scope, but essentially we are thinking/working on adding the ability to do more stuff at reduce time (when all shard responses get merged) and filtering of the reduced buckets could certainly be done this way. Hopefully this would also allow to h

[2015-03-16 09:17] maf23 opened #10103 "DIsk based allocator should take into account the amount of disk space which can be reused"
Assume we have a node where the disk usage is above the low watermark. If we restart this node then no shards will be allocated on it since the disk usage is above the low watermark.

It would be better if the disk based allocator could realize that it can throw away or at least reuse the space which is currently used for outdated shard copies on the node.

[2015-03-16 10:11] nikonyrh commented on #10005
Couldn't you just store the decimal part of the second in a secondary field (as a float or long) and sort by these two fields when needed? You could still aggregate based on the standard date field but not at a microsecond resolution.

[2015-03-16 10:33] runningman84 commented on #10032
+1

[2015-03-16 12:59] Yashin-s commented on #10101
I've uninstalled elasticsearch completly. I previously installed it through yum. I've now followed the instructions on http://tecadmin.net/install-elasticsearch-on-linux/ to install the 1.4.4 package. But I am still getting the same error on start. Below is the output. Also, how do I log as elasticsearch user ? I am accessing the VPS via putty.

root@vps15042 [/usr/share/elasticsearch/elasticsearc

[2015-03-16 14:25] natenash203 commented on #9979
@jpountz Currently running 1.4.4. However, I am pretty sure I was running 1.4.0 when I initially created the index, set the mappings, and indexed the data.

W/re to mapping, I use a mix of explicit and dynamic mappings. The field in question however, is mapped dynamically.  Currently, the index is reporting it's mapped as a double.

For reference, the range of possible values for the "v" field go

[2015-03-16 15:33] kadaan commented on #9226
@bleskes This is happening again as we speak. Is there any data I can collect to assist in troubleshooting?

[2015-03-16 16:14] jpountz commented on #10077
It's been fixed and the fix will be in 1.5 and future versions. Thanks for reporting this bug and investigating!

[2015-03-16 16:24] bleskes commented on #9226
@kadaan sadly the size being 0 is a red haring - see #10105 - just a little issue.

Let me explain how recovery works, in answer to your previous question. It follows 3 "phases". Phase 1 is about syncing/copying files lucene files, by taking a point in time snapshot of the files. Phase 2 replays all the operations of that happened during phase 1. Indexing can still go on during phase 2, which mean

[2015-03-16 16:26] jpountz commented on #9979
OK, then I probably know what happened:
 - two documents have been indexed on two different shards at about the same time
 - one shard mapped the field as a long and the other one as a double
 - the double mapping was the first one propagated to the master node so it "won"
 - later the shard mapped with a long has been relocated to somewhere else where the field was mapped as a double and so its i

[2015-03-16 16:26] #9979 closed

[2015-03-16 16:35] Yashin-s commented on #10101
On this installation, it is quiting after I close my SSH connection. How can I keep it ongoing?

[2015-03-16 16:41] colings86 opened #10106 "[DOCS] Warn about the caveats with aliasing aliases"
Aliases are just tags on indices and not constructs in their own right. At the moment you can create an alias using aliases by doing the following:

[code]

This makes it look like `thisWeek` points to `today` which points to `2015-01-07`. What actually happens is that `2015-01-07` gets two aliases: `today` and `thisWeek`. This works absolutely fine but anyone using this method needs to be aware t

[2015-03-16 16:43] kadaan commented on #9226
How does one do: can you check using your stats history how big the translog was when the recovery started?

[2015-03-16 16:45] bleskes commented on #9226
@kadaan I was hoping you can use the same same stats history you used to do the chart in https://github.com/elastic/elasticsearch/issues/9226#issuecomment-77787748 .

[2015-03-16 16:54] kadaan commented on #9226
![translogstats](https://cloud.githubusercontent.com/assets/1904898/6671441/5e56b292-cbc2-11e4-9577-5ea678fec8b9.png)

[2015-03-16 16:57] nik9000 commented on #10032
This is great!  Our use case wouldn't allow us to seal an index outside of a rolling restart window or some other temporary maintenance action but we can absolutely get away with sealing them all for an hour or so.

So this is a great solution for us!

[2015-03-16 16:58] bleskes commented on #9226
@kadaan when did the recovery start, do you know?

[2015-03-16 17:08] kadaan commented on #9226
@bleskes Correct me if I'm wrong, but the start_time_in_millis reported in the _recovery call is from the start of the unix epoch (01/01/1970) and is in UTC. Also, before Phase 1 starts on a shard (if there are not enough concurrent recoveries allowed) do all writes go to the translog?

If so, that means recovery started right around when this index was beginning to be written to, 4:57am.  In whic

[2015-03-16 17:13] tlrx commented on #10101
Here is how I usually proceed:
- uninstall everything is needed
- check if java is correctly installed
- install elasticsearch with YUM
- check if the `elasticsearch` user has been created
- check if /var/log/elasticsearch, /var/lib/elasticsearch, /etc/elasticsearch directories are created
- check if elasticsearch user has read/write privileges on these directories
- start elasticsearch as a servi

[2015-03-16 17:18] synhershko commented on #10032
+1, especially if sealing is reversible (which https://github.com/elastic/elasticsearch/issues/10032#issuecomment-77884867 implies)

[2015-03-16 17:20] bleskes commented on #9226
@kadaan

That's correct.

Not exactly. All writes go to the translog all the time. Under normal operations we flush it once it reaches 200mb (or 30m have passed since the last flush). However, if there is an ongoing recovery we can not flush because we need it for the replay.

The blocking of translog flush only happens for shards that are under active recovery. If a shard "waits" for it slot to s

[2015-03-16 17:22] grantr opened #10107 "Run script on write to multi-index alias"
Indexing into multi-index aliases would be super useful. What if it were possible to define a script on an alias that runs on incoming documents and emits an index name? Sort of like an alias filter.

For example:
[code]

In real life, the script would probably be defined in a file instead of dynamic. If the script doesn't return a valid index name, the usual "multiple indices matched" error could

[2015-03-16 17:22] kadaan commented on #9226
@bleskes The recovery started at 4:57am.  Let me confirm that sending that info will be okay.

[2015-03-16 17:28] jpountz commented on #10098
+1

[2015-03-16 17:33] jpountz commented on #9809
A quick look at the code looks like doc values should already be supported on ip fields. Is it just a documentation issue or did you try to use doc values on an ip field and it failed?

[2015-03-16 17:40] jpountz commented on #9545
Not only the interface is an issue but also the internal implementation: for simplicity we handle everything as doubles. We could potentially fix the min and max aggs, but I don't think eg. the sum aggregation is fixable since you can easily overflow a long while a double gracefully loses accuracy as the sum increases.

I don't know how many users are affected by this issue. It is only an issue in

[2015-03-16 17:40] dakrone commented on #10107
@grantr this is going to be tough because the `doc['timestamp']` would be loaded from field data or doc_values, however, the document doesn't yet exist in the index, so there's nowhere to load field data from?

[2015-03-16 17:43] jpountz commented on #9225
It did not work on 1.4 because of a merging issue. This is fixed now and will be available in 1.4.5. Sorry for the annoyance.

[2015-03-16 17:43] #9225 closed

[2015-03-16 17:44] dakrone commented on #10107
In order to support this, I think we would need to parse the document itself and provide a way of accessing it (perhaps just using `_source` would work, I don't know) in a script.

[2015-03-16 17:44] grantr commented on #10107
@dakrone The index request has the document in hand, so it doesn't have to come from the index. I figured it could be passed to the script somehow.

[2015-03-16 17:53] dakrone commented on #10107
@grantr yeah, it would be the `_source` equivalent (pre-analysis) instead of `doc` equivalent (post-analysis)

[2015-03-16 17:59] rmuir commented on #10062
Is the data sensitive? The example shard you have here seems pretty small. If you can share the data files I can dig deeper into it.

[2015-03-16 18:00] grantr commented on #10107
@dakrone that's fine. the `doc['timestamp']` example was just pseudocode. I wouldn't expect the document to have already gone through the indexing pipeline. I expect 99% of the use cases for this would be looking at dates and numbers, and the other 1% at non-analyzed strings.

[2015-03-16 18:17] seallison opened #10109 "cat health not respecting 'ts' parameter"
The _cat/health endpoint [is documented](http://www.elastic.co/guide/en/elasticsearch/reference/current/cat-health.html) that the timestamp can be disabled in the output. This is not working for me in 1.4.4:

[code]

[2015-03-16 18:17] stonith commented on #9809
I guess it's a documentation issue, I didn't bother trying it as the docs didn't list IP types as a supported type. I can submit a PR to update the doc if it's already supported.

http://www.elastic.co/guide/en/elasticsearch/guide/current/doc-values.html

[2015-03-16 18:32] brupm commented on #8110
:+1:

[2015-03-16 18:40] astefan commented on #9906
Not easily reproduceable, heavy searching with scrolling scenario is needed for this. ES 1.4.1.

[2015-03-16 18:46] s1monw commented on #10062
@brunson if you are up for it can you maybe share the content of the `checksums-*` file in your index directory? or maybe upload them somewhere?

[2015-03-16 19:06] dadoonet commented on #10109
I agree that the documentation is incorrect here as we don't support this `ts=0` option.

For now, you can run:

[code]

@drewr Are we supposed to support this `ts=0` option?

[2015-03-16 19:11] bradvido commented on #3138
I have many use cases for this as well, especially since aliases can be filtered -- it would be nice to "nest" those filtered aliases instead of repeating the same common filters in each alias.

[2015-03-16 19:54] brunson commented on #10062
Let me check on the contents of the index, I don't believe it's sensitive.

I've got 3 (of 6) nodes with a checksum file for that shard, two are the same size and one slightly smaller, they all have different shas.  Would seeing all 3 be helpful?

[2015-03-16 19:56] s1monw commented on #10062
yeah please gimme all of them

[2015-03-16 19:57] s1monw commented on #10062
and if possible can we get the entire shard as a zipfile?

[2015-03-16 20:17] brunson commented on #10062
Definitely.  Can I give you a download link privately?

[2015-03-16 20:20] s1monw commented on #10062
sure `simon` at `elastic` dot `co`

[2015-03-16 21:14] natenash203 commented on #9979
After looking at #8688, that looks right to me. When I initially indexed, my "v" values were sometimes floats and sometimes doubles. I index at about 1000 docs/sec so with 30 shards, it's entirely possible, one shard dynamically mapped a float and another mapped a double.

I will reindex with an explicit mapping and go from there. Thanks much for the help.

[2015-03-16 21:14] kadaan commented on #9226
@bleskes Sent info to you

[2015-03-16 22:18] javanna opened #10113 "Mapping transform doesn't support file and indexed scripts"
Looks like the mapping transform feature supports dynamic scripts only. When submitting the following request:

[code]

the mapping stored in the cluster state becomes the following, hence it loses the information about where the script should be loaded from:

[code]

Might relate to #9995.

[2015-03-16 22:48] clintongormley opened #10114 "Deprecate replication:async"
Async replication clashes with index sealing (#10032).  Another downside of async replication is that clients cannot be sure that changes have reached the replica. The benefits of async replication can be achieved simply by having more clients (threads or forks).

Let's deprecate this in 1.5

[2015-03-16 22:49] dakrone commented on #10114
+1 to deprecate in 1.5, remove in 2.0

[2015-03-16 23:16] DanyHubGit opened #10115 "Change cluster name not indexes"
Hi, I have a problem with changing elasticsearch cluster name.
If I change the cluster name (tag cluster.name) in elasticsearch.yml file config, elasticsearch doesn't create any index, when receive the input by logtash.
If I reset the elasticsearch cluster name with the default value of standard configuration (elasticsearch), elasticsearch server restart to create indexes.

Are there any steps or

[2015-03-16 23:20] dadoonet commented on #10115
You should ask questions on the mailing list instead of here.

That said, it's IMO a misusage of logstash. You need also to change the cluster name in LS output (depending on the elasticsearch output type you are using).

Closing as it's not an issue.

[2015-03-16 23:20] #10115 closed

[2015-03-16 23:38] rjernst commented on #10114
+1

[2015-03-17 00:00] s1monw commented on #10114
+1

[2015-03-17 00:26] #6241 closed

[2015-03-17 00:42] seang-es opened #10118 "Change upgrade docs to avoid rolling upgrades"
Rolling upgrades are causing problems with data corruption in some cases.  Updating documentation to recommend full cluster stops during upgrades.

Also adding recommendation to halt writes/flush data before restarting to reduce recovery time.

[2015-03-17 00:44] tamsky opened #10119 "add command-line configuration check command"
I'd like to run a command that confirms:
  The contents of my `elasticsearch.yml` does not result in an exception being thrown at startup due to a configuration item value being invalid.

An example of this pattern can be found in the bind nameserver:
`named-checkconf /etc/named.conf`

This would allow configuration automation tools to validate files after modification but before restarting the se

[2015-03-17 03:59] Yashin-s commented on #10101
Thanks for your reply.
I've followed your instructions and set new privileges to elasticsearch user which was no present on the /etc/elasticsearch directory
As a non-linux user, I have one more question.
When I did "su elasticsearch", it tells me user has not been setup. After some research on the net I did

$ sudo chsh -s /bin/bash elasticsearch

Now when I do "su elasticsearch", and then "sudo s

[2015-03-17 05:22] javanna commented on #10106
yeah tricky bits @colings86 , least we can do is documenting this. I wonder if we should just prevent users from creating aliases against aliases till we properly support it as this seems like a trap.

[2015-03-17 06:17] s1monw commented on #10062
@brunson thanks so much for sending me all these information. I tried your shards on 1.5.0-snapshot and it recovered just fine. this is very likely to be caused by https://github.com/elastic/elasticsearch/issues/8587 so you will have a fix for this in the upcoming 1.5.0 release which should be very soon given that I branched today.

[2015-03-17 06:17] #10062 closed

[2015-03-17 06:24] javanna commented on #10038
Templates per se are fine, this happens because the `_default_` type doesn't hold actual mappings, but mappings that will get applied whenever a new type is created. A new type is created either when you issue a put mapping or when you index the first document under a new type.

There are a couple of workarounds for this: index a dummy document that contains the field that you want to filter on be

[2015-03-17 07:04] andersosthus commented on #10038
Hi,

Yeah, I did that workaround when I encountered this issue, and it's no problem, at least not for us. But the documentation should then maybe clarify this explicitly, especially since this is a change in behaviour from 1.3.x, since I think a lot of people, including myself, thought that the ```_default``` mapping in templates worked like regular mappings :)

[2015-03-17 07:44] kadaan opened #10121 "Recovery Priority"
It would be really useful for time based indices to be able to indicate recovery priority so that we can indicate that the latest index should be recovered first.  This will allow us to resume indexing more quickly.

[2015-03-17 07:47] kadaan opened #10122 "Dead Master Resulted In Red Cluster Health"
The master node on our cluster died, which resulted in a cluster with red health.  All shards were unassigned and had to be recovered.  The failure of the master node should not result in a dead cluster.

[2015-03-17 07:57] kadaan opened #10123 "Balance Shard Recovery"
When recovering it appears that the choice of which shards to recover concurrently does not lead to a deterministic and sensible order.  For example, in a cluster where the indices have 3 replicas (for a total of 4 copies of data) and 4 shards, within a single index all of shard 1 can be recovered before shard 2.  Additionally, across indices within the same cluster, it would be preferable to ensu

[2015-03-17 07:58] kadaan commented on #10121
Related to: elastic/elasticsearch#10123

[2015-03-17 07:58] kadaan commented on #10123
Related to: elastic/elasticsearch#10121

[2015-03-17 08:03] kadaan commented on #10118
While I understand your reasoning for removing the recommendation, this will require an outage to upgrade ES, which for many use cases will not be acceptable.  Being able to upgrade a live system and in a backwards compatible way (and being able to roll back the changes if needed) should be a core principle for all distributed systems.  Without that ability, customers will be much more reticent to

[2015-03-17 08:05] kadaan commented on #10121
Duplicate of: elastic/elasticsearch#10069

[2015-03-17 08:05] #10121 closed

[2015-03-17 08:09] kadaan commented on #10069
#10032 may not address the full request as certain indices may be more important for a business then others.  Ideally, ES could take this priority into consideration when determining which shards to recover given limited recovery resources.

[2015-03-17 10:07] thrane opened #10125 "Sum Aggregation script does not work in version 1.4.4"
We have a query where we do a lot of aggregation. The query looks like this:
{
  "aggs": {
    "mileage": {
      "extended_stats": {
        "field": "mileage"
      }
    },
    "retailPrice": {
      "stats": {
        "field": "retailPrice"
      }
    },
    "sum": {
      "sum": {
        "script": "doc['mileage'].value * doc['retailPrice'].value"
      }
    }
  },
  "query": {
    "filtere

[2015-03-17 10:44] OElesin opened #10126 "Unable to install plugins"
I want to install some river plugins on my elasticsearch instance but because I installed elasticsearch via deb, I cannot locate the bin directory. Please how do I go about this?

[2015-03-17 10:49] JLVeiga commented on #10126
If you’ve installed the .deb package, then the plugin exectuable will be available at /usr/share/elasticsearch/bin/plugin

[2015-03-17 11:01] OElesin commented on #10126
Found it.Thanks

[2015-03-17 11:01] #10126 closed

[2015-03-17 11:21] parapar opened #10127 "Parent/child failing when using the same type in child and parent"
I am trying to model a employee hierarchy where every employee can be a manager of a team of employees and, at the same time, she can be part of a team managed by other employee:

curl -XPOST 'http://localhost:9200/manager_employee' -d '{
   "mappings": {
       "employee": {
           "_parent": {
               "type": "employee"
           },
           "properties": {
               "name": {

[2015-03-17 12:46] synhershko commented on #9279
Huge -1, unfortunately I'm only seeing this now

Using `_analyzer` has made my life a lot easier when dealing with multi-lingual content. I've explained an example of possible usage and why field per language may not be sufficient in length here: https://skillsmatter.com/skillscasts/4968-approaches-to-multi-lingual-text-search-with-elasticsearch-and-lucene

To me, for full-text search, this is one

[2015-03-17 13:11] #10125 closed

[2015-03-17 14:15] thrane commented on #10125
This is not an issue after all. It was due to the fact that we didnt set script.groovy.sandbox.enabled: false in our elasticsearch.yml. After setting this it works as usual

[2015-03-17 14:20] shivangshah commented on #10038
I would like to add here that even if _default is not considered an actual mapping and is applied when a document is indexed/a new mapping is explicitly put, it would still make sense for a filtered alias to also be able to look up the same mapping from _default, especially when in most cases you create a filtered alias when you already know your data (just like you put mappings in _default becaus

[2015-03-17 14:43] #9368 closed

[2015-03-17 14:54] misterunknown opened #10128 "Left replicas on former cluster node"
Hi everyone,

we recently seperated a two-node-cluster into two single elasticsearch instances for testing porposes. In the cluster, every index had 5 shards and 1 replicas. Now, we set the number of replicas to zero and restarted the node. The problem is that the "replica shards" remain unassigned. How can we delete these shards? They cannot be reassigned, because there is only a single node left

[2015-03-17 15:20] misterunknown commented on #10128
Hi,

I had to set the number of replicas individually for every existing index. Now everything works fine :)

Greetings,
Marco

[2015-03-17 15:20] #10128 closed

[2015-03-17 15:55] javanna commented on #9659
looking at other similar issues (e.g. #10011), I am confused on whether it should be `file` or `script_file`. In any case, we should replace `script` as that only works in 1.x for bw comp reasons.

[2015-03-17 16:06] javanna commented on #10038
@shivangshah it's subtle, but the `_default_` mapping is just a fallback mechanism to avoid repetitions throughout different types. When the concrete mapping gets created (e.g. when creating the index), you could have a field with same name but a different date type, which takes precedence over the default one. That affects how the filter gets parsed so that it properly works depending on the data

[2015-03-17 16:19] kadaan commented on #9226
@bleskes Can you explain how the translog recovery step works?  Does the target node make api requests for batches of translog operations from the source node?  Does the translog file get streamed from the source to target?  Or is it some other way?

[2015-03-17 16:22] shivangshah commented on #10038
@javanna Actually yes. I see your point now. A pre-defined filtered alias would be a problem if the concrete mapping of a specific type is different than the default.
So now here's another question. Assume that people who know their data and want "default pre-defined filtered aliases" based off of the default mappings, is that a feasible feature request? Would it make sense to have something like

[2015-03-17 16:41] kadaan commented on #9226
@bleskes I also noticed that translog recovery does seem to always block indexing.  Today I had another shard recover and get stuck in the translog phase, blocking indexing.  I performed the proscribed fix (disabled allocation, cancel recovery, flush translog, enable allocation).  After this the node started recovery.  The difference is this time, while the node is in the translog recovery stage,

[2015-03-17 16:53] bleskes commented on #9226
@kadaan Ok. thx. yeah, that happens if phase3 takes too long. Still trying to figure out what's the cause of this.

[2015-03-17 16:54] kadaan commented on #9226
@bleskes Cool.  We really appreciate you looking into this.  Could you point me at the code which does the translog recovery?

[2015-03-17 16:58] groovecoder opened #10129 "download.elasticsearch.org: ERROR: no certificate subject alternative name matches"
Sorry I couldn't see a repository specifically for the elasticsearch.org site. We have a travis install script that uses `wget` to get the elasticsearch `.deb` from download.elasticsearch.org:

https://github.com/mozilla/kuma/blob/3ae992e8f1552c227b26aa02954035da8014043e/scripts/travis-install#L18

But we just started to get this error today from [our Travis builds](https://travis-ci.org/mozilla/k

[2015-03-17 17:03] csezheng opened #10130 "add time zone setting for relative date math for date range aggregation"
Hi,

The following issue has been resolved for the range filter/query.
https://github.com/elastic/elasticsearch/issues/3729

Is it possible to add something similar to date range aggregation? The default date is UTC time by default, but we need to use now in PST time zone.
[code]

[2015-03-17 17:11] rkh commented on #10129
see https://github.com/travis-ci/travis-ci/issues/3394#issuecomment-82483124 for explanation and workaround

[2015-03-17 17:27] javanna commented on #10038
I am marking this issue for discussion. I do see your point @shivangshah , I am just not sure how we can get there. The feature you are requesting turns around the `_default_` mapping as we would need to  lock down the mappings for those fields and make sure that the parsed filter is always consistent with the actual mapping for the field. That would mean that instead of a fallback mechanism we wo

[2015-03-17 17:31] andersosthus commented on #10038
@javanna Btw, what changed in 1.4 that changed this, since it worked in 1.3 ?

[2015-03-17 17:34] javanna commented on #10038
Good question @andersosthus ! Nothing changed around the default mappings. We made alias filters parsing stricter, have a look at #6664 . The reason for it is that you really want to make sure that the filters gets properly parsed based on the mapped data type.

[2015-03-17 17:36] andersosthus commented on #10038
Ok, thanks @javanna. That explains why this "worked" in 1.3 :)

[2015-03-17 18:24] schlitzered commented on #9212
i also have this issue with ELS 1.4.4. here is a call to _nodes/_local/stats:

[root@ip-10-0-5-102 logs]# time curl 'localhost:9200/_nodes/_local/stats'
{"cluster_name":"syslog","nodes":{"2MfX3MGIQB-aIvFJZ1U4QA":{"timestamp":1426616443943,"name":"i-3e2c42d8","transport_address":"inet[ip-10-0-5-102.eu-west-1.compute.internal/10.0.5.102:9300]","host":"ip-10-0-5-102","ip":["inet[ip-10-0-5-102.eu-west

[2015-03-17 18:27] rookie7799 commented on #9212
We are having this same issue on 1.4.4 as well, in our case, however, this is being triggered by long running aggregation query (which triggers fielddata population)

[2015-03-17 18:42] davidvgalbraith commented on #4915
Hey! I too would like paging for aggregations. That's all.

[2015-03-17 18:56] cbuescher commented on #7673
The fix for this will be in the next release (either 1.4.5 or 1.5).

[2015-03-17 18:56] #7673 closed

[2015-03-17 20:58] brwe commented on #10053
Just for reference, here is the relevant test failure: http://build-us-00.elasticsearch.org/job/es_core_1x_small/1800/

[2015-03-17 21:05] colings86 commented on #10059
What would you expect the output of this to be? if you want to calculate the mean and max of a field for each terms bucket you can do the following:

[code]

Does this fit what you wanted to do?

[2015-03-17 22:38] s1monw commented on #9922
forgot to close this... this was fixed by #9925

[2015-03-17 22:38] #9922 closed

[2015-03-17 22:45] s1monw commented on #9496
@bleskes I moved this out to 1.6

[2015-03-17 22:53] s1monw commented on #6622
this has been removed in 2.0 already so I am just closing this

[2015-03-17 22:53] #6622 closed

[2015-03-17 23:09] shivangshah commented on #10038
@javanna : How about make it more of a configurable flag just like many other configurations handled by the clients ?

[2015-03-17 23:35] rishi-freshbooks opened #10132 "Unable to add user using shield"
I have installed license and shield, and get this stack trace:
[code]

Any ideas

[2015-03-18 00:02] allenmchan commented on #10118
If elasticsearch needs a full down to be upgraded, that means that the logstash ecosystem would screech to a halt as well. I sure hope this recommendation is just temporary and ES devs are working hard to make upgrades possible without full cluster down.

[2015-03-18 01:50] s1monw opened #10133 "Restore doesn't prefix restore index settings with `index.`"
When creating an index we allow to omit `index.` ie. `number_of_replicas` will also be accepted. If we do this during restore the setting is silently ignored.

[2015-03-18 05:42] s1monw commented on #10114
@clintongormley can you deprecate it in the docs please for 1.5

[2015-03-18 05:44] s1monw commented on #9281
@bleskes we worked on this afaik - is this still present in 1.5?

[2015-03-18 10:59] mikiot opened #10135 "Alias with filter is not reliable"
I am using elasticsearch 1.4.4 and I want to create a filtered alias.
The index contains 3 types A, B and C. B and C are children to A. The filter extracts from the index all the types applying some conditions.For one of the types (let set it's A) the filter contains a nested and a has_child filter.
The alias gets created and works fine until I try to update the filter. I need to update the filter

[2015-03-18 11:41] cmims commented on #9353
+1

[2015-03-18 13:30] Yashin-s commented on #4978
hi nvucinic, have you been able to find a solution ? I am getting exactly the same issue. I cannot set the max_map_count, and I get an error during elasticsearch start. It starts well but then dies and I also get the error message "elasticsearch dead but pid file exists"

[2015-03-18 13:33] javanna commented on #10132
Hi @rishi-freshbooks which version of elasticsearch are you using?

[2015-03-18 13:35] javanna commented on #10135
Hi @mikiot can you please post a complete curl recreation of the issue you are facing so we can have a look at what's causing it?

[2015-03-18 13:36] rishi-freshbooks commented on #10132
Hi @javanna, I am using 1.4.4 with Java 1.7.0_75

[2015-03-18 13:42] javanna commented on #10038
I don't think this can be just a flag since it's a completely different feature compared to the current behaviour...

[2015-03-18 13:43] Yashin-s commented on #10101
Thanks for the instructions, I've already uninstall and re-install the plugin several times but I keep getting the same issue. I think that it has something to do with virtual memory setting. My vm.max_map_count is only 65,530 compared to the 262,144 that es is trying to assign. It may be that it is resulting in OOM exceptions. I cannot change vm.max_map_count either to test it, since I do not hav

[2015-03-18 13:44] prachicsa opened #10137 "Getting exception in indexing data using node client"
Hi,

I have used transport client before for the same cluster and same index, which works fine. I want to use node client now. I tried the following:

[code]

[2015-03-18 14:17] dadoonet commented on #10137
You should ask this on the mailing list.

It is most likely caused by your node which can not join the cluster. Might be firewall issue or multicast disabled...

Closing as not an issue.

[2015-03-18 14:17] #10137 closed

[2015-03-18 14:44] nik9000 commented on #10118
+1

This is pretty nightmarish for those of us with site search powered by Elasticsearch.  We do plan to build a second cluster in a backup data center that we could fail over to.  But that is many months away.

This is also pretty different than the story that I heard at Elasticon regarding sealed indexes making rolling restarts faster and simpler.  We were planning on doing them _more_ often wit

[2015-03-18 14:46] onthefloorr opened #10138 "_ttl problem"
Dear Elasticsearch,

We use the elasticsearch's _ttl feature which is not clear to us. The next is written in the latest documentation :

Expired documents will be automatically deleted regularly. You can dynamically set the indices.ttl.interval to fit your needs. The default value is 60s .
The deletion orders are processed by bulk. You can set indices.ttl.bulk_size to fit your needs. The default

[2015-03-18 15:02] s1monw commented on #10118
I think this PR needs some clarification. IMO the relevant versions that are risky to upgrade are 1.3.x and 1.4.x where a lot of checksum problems were uncovered. We had false positives on old lucene 3.x segments as well as truncation issues due to the way recoveries worked. In the upcoming release (planned for next week) of Elasticsearch `1.5.0` all known issues related to this are resolved and i

[2015-03-18 15:06] drewr commented on #9353
:+1: This is true for `_cat/thread_pool` as well. Will fix.

[2015-03-18 16:48] javanna commented on #10132
that sounds good @rishi-freshbooks . how did you install elasticsearch? Is the `lib` directory containing the elasticsearch jar in `$ES_HOME/lib`? Does the current user have access to it?

[2015-03-18 16:55] brwe commented on #10018
Here is what happens:
When we delete shards we first check if all expected copies of this shard are actually up and running somewhere else (IndicesStore.deleteShardIfExistElseWhere()). This check checks for STARTED and RELOCATED. In the test we relocate a shard from one node (node_1) to another (node_3) but at the moment node_1 checks if enough shards available the shard is still in POST_RECOVERY

[2015-03-18 16:59] SMUnlimited opened #10142 "Removing duplicates from merged aggregation results"
**Scenario 1**
This is a very simplified scenario but captures the problem we are facing.

We have a team lead document with a field for “Primary Product” and a field for “Secondary Product”.  We want to show the distribution of all products amongst team leads. To do so we would do a term aggregation on “Primary Product” and a term aggregation on “Secondary Product”.

As this is the same products

[2015-03-18 17:00] rishi-freshbooks commented on #10132
I installed elasticseach through "yum install elasticseach".
`$ES_HOME = /usr/share/elasticsearch`

`$ES_HOME/lib` does have the jar.

Current user does have read access:
[code]

[2015-03-18 17:04] javanna commented on #10132
the lib directory doesn't contain `1.4.4` but `elasticsearch-1.2.2.jar`, that is why you get that error and the creation of users fail. Also...not related but important too, do you really need to install elasticsearch as root? That doesn't seem like a great idea to me.

[2015-03-18 17:08] rishi-freshbooks commented on #10132
My apologies! What a silly a mistake, I was toggling between environments (one has 1.4.4 and the other 1.2.2)... you are right.

I agree;  it does not need to be installed as root; should create a elasticsearch user.

Thanks!! Closing ticket.

[2015-03-18 17:08] #10132 closed

[2015-03-18 18:32] javanna commented on #10132
Glad to hear you found the issue, thanks for letting us know!

[2015-03-18 18:52] cfeio commented on #9669
+1 This would be very useful in troubleshooting where slow queries are coming from

[2015-03-18 18:59] rmuir opened #10145 "master/1.x branch does not compile with java9"
master works fine. Maybe there is a real bug here, e.g. wildcard imports, and a new class in java9 causes a conflict? This is why i hate wildcard imports :)

Otherwise it could be a compiler bug or something:

main:
     [echo] Using OpenJDK Runtime Environment 1.9.0-internal-rmuir_2015_03_18_00_27-b00 Oracle Corporation
[INFO] Executed tasks
[INFO]
[INFO] --- maven-antrun-plugin:1.7:run (invalid-

[2015-03-18 19:02] joealex commented on #9498
+ This is a very common scenario when you have very large clusters and multiple disks on each node. Some disk is bound to fail every few days. We had a bunch of disk failures across some days and took some time to figure out the cause was due to shards striped across multiple disks. When it runs it is perfect since the load is balanced and the multiple disk spins are utilized. We had to shutdown t

[2015-03-18 19:59] rmuir commented on #9143
index sizes were increased in #10143

There is still a lot to do:
* ensure stuff in translog.
* ensure indexes have some pending deletes.
* ensure there are both cfs/nocfs segments / merges have happened.
* increase types of mappers used (numeric, date, text, string, etc).
* use multiple data paths.
* improve verification in the test (numDocs is correct, etc)

[2015-03-18 20:01] joealex commented on #9970
#6295 will be pretty important to have for very large clusters and have the flexibility to keep adding Nodes

#8312 is very much awaited along with #9498 which seems like got moved to 2.0 ?

[2015-03-18 20:12] nik9000 commented on #9498
+1 on doing this.

I'm not sure how this can be nicely automated.....  I think the optimal process involves slowly moving away from this by moving shards off of a node (a few nodes?), taking it out of the cluster, reformatting its multiple disks to proper raid, adding it back to the cluster, and letting the cluster heal.  I suppose in many respects its similar to replacing the disks entirely.  We

[2015-03-18 20:25] drewr commented on #10109
This was originally supported, but got lost somewhere.

The feature really needs to be a `RestTable` enhancement that can add timestamp to any API (and possibly leave it off by default).

[2015-03-18 20:34] rpedela opened #10146 "rename UNICODE_CHAR_CLASS to UNICODE_CHARACTER_CLASS in regex flags"
The documentation states that one should use the Java Pattern API flags for ES regex. However I received an error when I used ```UNICODE_CHARACTER_CLASS```. Looking at the source, ```UNICODE_CHAR_CLASS``` is used instead. Can this be renamed to match the Java Pattern API?

See #2895 for the source code.

[2015-03-18 21:50] aschokking commented on #9791
We've been running into this exact same problem with summed averages.

[2015-03-18 21:51] aschokking commented on #9876
:+1:

[2015-03-18 21:55] aschokking commented on #9876
Is it possible to do these awkwardly now using scripted aggregations? Is that something Kibana4 can take advantage of if they are there?

[2015-03-18 21:57] shivangshah commented on #8870
Going on the record here, we have the exact same usecase as @rore mentioned above. The details of the usecase can be found here as well : http://stackoverflow.com/questions/29041509/field-names-with-the-same-name-across-types-having-different-index-type-in-elast/29053553#29053553

TL;DR: Our types and fields per each type are not regulated at the Application level. Customers can create new types a

[2015-03-18 22:04] shivangshah commented on #8870
Also, we CANNOT have an index per type because you have no idea how many types are going to get create per customer (and ofcouse you can have thousands of customers). So now, in that case, in one index you can have multiple "types". Now lets say a type is "customer" and another type is "Company". They both can easily have a field name called "random" which can be of different core types. Moving th

[2015-03-18 22:13] polyfractal commented on #9876
@aschokking Nope, there's no way to hack this right now...if you want this functionality, you currently have to build it client-side yourself.

This new functionality essentially adds one or more extra `reduce` phases to the aggregation framework.  For example, currently you can get the average price per day for the last 30 days (`date_histogram` bucket with a `avg` metric).  But you can't get the

[2015-03-18 22:50] brwe commented on #10054
This is actually expected behavior. When a master eligible node joins a cluster then all information is has about indices from it's last cluster state are imported as well. This is a safety measure to make sure that a master with an empty cluster state (for example because the data folder of a master eligible node was deleted and it becomes master after full cluster restart) does not cause all ind

[2015-03-18 22:54] kaidad commented on #8870
We are in the exact same position as @shivangshah and @rore. It really feels like the abstraction around doctype is completely broken if it doesn't provide isolation at the mapping level.

[2015-03-18 23:40] zijian1981 commented on #10059
No,i want to calculate the max value from all the mean value

[2015-03-18 23:42] markwalkom commented on #10059
You cannot do this at this stage. Once you get an aggregation result you can only sub-aggregate that, not do a different aggregation across those results.

[2015-03-18 23:42] AshwinJay commented on #8870
It came as a shock to us to see that this seemingly basic feature is broken. This is the equivalent of saying that the 2 SQL statements in an RDBMS are not valid because the data type of ```time``` conflicts with another table:

```CREATE TABLE employee_timesheet ( time datetime, ... );```

```CREATE TABLE stop_watch ( time int, ... );```

[2015-03-18 23:59] ppf2 opened #10149 "Update documentation to warn about potential issues with conflicting field definitions"
http://www.elastic.co/guide/en/elasticsearch/reference/current/mapping.html#all-mapping-types

Based on comments in https://github.com/elastic/elasticsearch/issues/8870 and the known issues around not having validation today on same field name across multiple types in an index, it sounds like it is more appropriate to have a more forceful warning vs. a recommendation - until alternatives are avail

[2015-03-19 00:30] szou-cp opened #10150 ""minimum_should_match" does not work with "cutoff_frequency""
total documents: 20675074

term, document count, divided by total documents
![image](https://cloud.githubusercontent.com/assets/8093917/6722281/616744d2-cd94-11e4-87b0-d4a81de4e1d9.png)

Elasticsearch 1.4.1

Query 1
---

[code]
return me 3316 documents, I expected 3312 documents.

Query 2
---

[code]
return me 100270 documents, I expected less than 3312 documents.

Query 3
---

[code]
return me 10

[2015-03-19 02:03] aschokking commented on #9876
Thanks for clarifying @polyfractal, that makes sense.

[2015-03-19 03:31] xgwu commented on #9226
We've been facing the same issue recently and it happens quite frequently.  Currently there is one replica shard **stuck** in translog stage.  The shard size is about 29GB.
I checked the source node, there is a translog file of size 3.3GB and is creasing.   By looking at output of  _recovery api, I found the recovered translog moves very slowly, only about 100/s。
The cpu usage of the box is abnorm

[2015-03-19 04:06] xgwu commented on #9226
As soon as that replica shard started translog phase on the other target host, cpu usage jumped closing to 100% again.  I'm trying @kadaan 's workaround to see if that expedite the recovery progress.

[2015-03-19 04:23] ajhalani commented on #9226
We have been facing this issue sometimes during our node restarts as well. A shard which is undergoing active indexing takes forever to recover, as translog recovery is absurdly slow.

I think it started since v1.3.x. After spending a while stuck(almost) in recovery, the shard starts to fail indexing and after a while whole ES becomes unresponsive. This was a post I created in google groups a whil

[2015-03-19 04:48] kadaan commented on #9226
@xgwu Not sure if they need it, but can you try collecting similar info to what I collected.  Also, let me know if the step that I listed are unclear and I can clarify.

[2015-03-19 04:49] kadaan commented on #9226
@ajhalani Any idea what your ingestion rate for that shard is (via _stats?level=shards)?  How about the translog recovery rate as determined by _recovery?

[2015-03-19 04:54] ajhalani commented on #9226
I didn't gather the stats, but our ingestion rate wasn't much.. Will gather next time.

[2015-03-19 05:57] kadaan commented on #9226
@ajhalani Curious how it will compare to ours.  Our daily indices are around 60GB.

[2015-03-19 06:29] xgwu commented on #9226
I just tried to facilitate that replica shard recovery with below operations carried out:
1. disable replica shard allocation
2. cancel replication of the shard
3. flush the index containing the shard
4. reenable replica shard allocation

Now the shard is being replicated to another node. But still stuck in translog recovery phase. Two hours has passed and there is no sign it will catch up.

Here

[2015-03-19 06:36] bleskes commented on #9226
@xgwu Thx for the info. Do you also see high cpu on the source node? Can you run hot threads on that one too?

On Thu, Mar 19, 2015 at 7:30 AM, xgwu <notifications@github.com> wrote:

[2015-03-19 06:48] cheramilm opened #10152 "Tribe/Query node doesn't work in pure IPv6 environment"
In pure IPv6 environment, we configure query node and send query request to query node, and found it  doesn't work and requests finally send to 127.0.0.1, we run the request:
http://masternode:9200/_nodes/is_query:true/settings?pretty

would return some result like:

    {
      "cluster_name": "ElasticsearchCluster",
      "nodes": {
        "-eddeG7aRtOowARRz-QJRA": {
          "name": "ES-Query

[2015-03-19 06:51] clintongormley opened #10153 "Describe types as "partition by" instead of tables"
We often describe types as "like a database table" (eg http://www.elastic.co/guide/en/elasticsearch/reference/master/glossary.html#glossary-type), when really they are closer to "PARTITION BY" in Oracle.  We should update this description, especially in the light of #8870

[2015-03-19 07:00] truongduy134 opened #10154 "cutoff_frequency in match query does not work as expected"
I use cutoff_frequency in match query to exclude stopwords. However, the cutoff_frequency does not seem to behave as mentioned in Elasticsearch documentation.

Steps to reproduce the problems: (I used Elasticsearch Sense plugin)
1) Index the following 2 documents with standard analyzer:
POST /me/test
{ "text": "the test" }
and
POST /me/test
{ "text": "the building" }

2) Query:
GET /me/test
{
   "

[2015-03-19 07:07] xgwu commented on #9226
CPU usage on source host is quite normal. I don't capture hot threads on source host and right after I commit the last comment,  the translog recovery completed.

But now I saw 3 translog files on source host under the translog directory.

Why weren't the old translog files got cleared out?

[2015-03-19 07:12] ppf2 commented on #10153
+1 and linking a related one:  https://github.com/elastic/elasticsearch/issues/10149

http://www.elastic.co/guide/en/elasticsearch/reference/master/mapping.html also has a brief note on mapping type is like a database table.  It does describe it as not a complete isolation, but perhaps we can remove the reference to database table.

[2015-03-19 08:10] kadaan commented on #9226
@xgwu when I do these steps, the old translog files are cleared after the flush. Then, after re-enabling shard allocation, the translog file will start to grow.  This growth will continue while the shard is assigned to a node.

So, for me it works as follows:
1. Notice that indexing has stopped
2. See that shard is recovering and in translog phase
3. Verify source translog file is "huge"
4. Disabl

[2015-03-19 08:27] bleskes commented on #9226
@xgwu this is an issue with 1.4.2 - 4  (fixed with #9760 ). We are working on making 1.5 ready. It has many fixes in this area, plus a lot more translog related information in the _recovery + _stats API.

I'm curious about :

Can you say more about what you saw? also can you confirm the ES version you use?

@ajhalani the google groups issue you mentions shows stack traces of delete by query operat

[2015-03-19 08:54] rtoma commented on #10032
+100 for 'instant recoveries'

[2015-03-19 08:55] bleskes commented on #10032
@synhershko yeah. the plan is to allow to unseal as well, making it a viable upgrade/full restart strategy (if you can afford stopping indexing).

[2015-03-19 09:07] iohannis commented on #7030
Also looking for a solution to this, having an index with rental properties availability data (as nested objects part of the property) that we update multiple times daily. Question is how we replace the array of nested objects with new ones, so the field values are not simply merged (keeping obsolete availability dates for the properties)?

I have been working just about a month with implementing

[2015-03-19 10:20] xgwu commented on #9226
@bleskes when cpu usage became excessive high,  I saw sys% raised to  20% - 30%, normally it's under 10%.
![2015-03-19 17 45 49](https://cloud.githubusercontent.com/assets/10510416/6728141/7c15dec8-ce62-11e4-84b4-97fc5e54f15e.png)

I feel this is caused by high number of interrupts per second, it increased by 50% when translog recovery phase started.
![2015-03-19 17 51 14](https://cloud.githubuser

[2015-03-19 10:23] bleskes commented on #9226
@xgwu thx. I'll dig more into the code later. Can you confirm your ES version?

[2015-03-19 10:25] xgwu commented on #9226
@bleskes This is to confirm that our ES version is 1.4.4

[2015-03-19 10:29] bleskes commented on #9226
@xgwu thx. Just as a side note - recovery can easily take a couple of hours. It's throttled by design. The reports of it sometimes taking 20hs or more is what worries me.

[2015-03-19 11:07] bauneroni commented on #4915
I'd also love to see this someday but I do understand the burden (haven't used that word in a long time) and costs to implement this. This feature would be quite handy for my client's application which is operating on ~250GB+ of data.

Well, yeah.. what he^ said :+1:

[2015-03-19 11:07] javanna opened #10156 "What should we do with groovy sandboxing?"
Our groovy engine supports sandboxing, which can be enabled/disabled through settings. Sandboxing was disabled by default from `1.4.3` on though since we found out that it could be worked around (see also https://www.elastic.co/blog/running-groovy-scripts-without-dynamic-scripting).

At this point I wonder if it makes sense to maintain the sandboxing that we currently have, as we know it's not eff

[2015-03-19 11:44] #9423 closed

[2015-03-19 11:47] javanna commented on #9659
@pickypg are you working on this? If not I am happy to take this over, just let me know ;)

[2015-03-19 12:01] javanna commented on #10138
Hi @onthefloorr I think this would get a better answer if you ask it on the mailing list. If it then turns out to be a bug or a feature request you can then move it here to github. Closing for now.

[2015-03-19 12:01] #10138 closed

[2015-03-19 12:06] paolociccarese opened #10158 "Defining Grandparents aggregations, getting a NullPointer"
I am using Elasticsearch 1.4.4.
I am defining a parent-child index with three levels (grandparents) following the instructions in the document: https://www.elastic.co/guide/en/elasticsearch/guide/current/grandparents.html
My structure is Continent -> Country -> Region

MAPPING
--------------
I create an index with the following mapping:

    curl -XPOST 'localhost:9200/geo' -d'
    {
      "mappin

[2015-03-19 14:30] #10074 closed

[2015-03-19 14:33] javanna commented on #10074
Thanks @nesah I just added a note mentioning that dynamic scripting needs to be enabled in order for the script based update to work.

[2015-03-19 14:37] clintongormley commented on #10114
Deprecated in the docs for 1.5.0, and removed from the docs and REST spec in 2.0.

Still needs to be removed in the code.

[2015-03-19 15:24] javanna commented on #10064
I think this question would be better answered in the mailing list. That said, you cannot change the `_id` of a document through a script. I suppose that AUwKuP4ndtjQr1ZnsG_U is the auto generated id for your document, since you didn't specify one in the url, and A0001nithya the result of the script.
Not sure about the last bit on the my_message field, maybe you can share some more details on the

[2015-03-19 15:24] #10064 closed

[2015-03-19 15:34] 0xgeert opened #10163 "Return `matched_queries` for named queries in percolator"
I've got a bunch of multi-match percolator queries, which are named queries as well. It would be great to be able to get a response of matched queries including `matched_queries` when percolating. e.g.:

[code]

Is this something that's planned?

[2015-03-19 15:36] javanna commented on #9846
I second @dadoonet , I would even disable the `_all` field for this usecase and use the `copy_to` to have your own custom catch_all field(s), which will hold only the content that you want it to contain.

[2015-03-19 15:53] rmuir commented on #10145
We hit a similar issue in lucene when upgrading. @uschindler is filing a bug at oracle.

[2015-03-19 16:13] colings86 commented on #10059
@zijian1981 there is an issue open for this kind of thing (https://github.com/elastic/elasticsearch/issues/10000) which is being considered as part of https://github.com/elastic/elasticsearch/issues/9876

[2015-03-19 16:30] uschindler commented on #10145
I submitted a bug report! Its is not yet visible, I will report back. The problem is caused by the diamond operator with -source/target 1.7. The diamond's real type is deducted not from left side of assignement as JLS spec says, but instead from the parameter passed to the constructor (e.g. new HashSet<>(otherSet)). In that case it takes type from otherSet which is wrong.

[2015-03-19 16:34] rmuir commented on #10145
Thanks for digging Uwe. I tried to understand the problems, I felt like i was looking at c++ compiler errors with tons of templates :)

[2015-03-19 16:34] uschindler commented on #10145
Link to Lucene: http://mail-archives.apache.org/mod_mbox/lucene-dev/201503.mbox/%3C066501d06256%242f949300%248ebdb900%24%40thetaphi.de%3E

[2015-03-19 17:51] javanna commented on #9082
Hi @faxm0dem I just marked this for discussion, sorry it took a while to get to it.

I do see your point, although I am not sure since removing aliases is not that destructive...well it depends on how you look at it I guess. You don't lose any data by removing an alias, but you might cause problems to applications and users relying on aliases. The thing is that the request does contain the explici

[2015-03-19 17:53] nknize opened #10164 "[GEO] GeoPointFieldMapper.validate_* overwritten on merge"
During a merge the ```validate_lat``` and ```validate_lon``` parameters for the ```geo_point``` field mapper are being overwritten by the incoming field mappings.  This can cause problems during search where invalid geo_points (which were formerly acceptable) are no longer acceptable causing exceptions when parsing the (now invalid) geo points.

[2015-03-19 18:28] javanna commented on #6653
Heya @dakrone are you working on this? If not can you elaborate on what you mean? Where should the script name be available but it isn't?

[2015-03-19 18:46] javanna commented on #8629
Seems related to #6172 if not exactly the same.

[2015-03-19 18:56] clintongormley opened #10166 "Deprecate thrift and memcached transports"
The thrift and memcached transport layers were experimental, but in the end didn't buy us much.  Memcached is very limited in scope, supporting only a portion of the REST API, and thrift has much the same throughput as HTTP.

Deprecate in 1.5, and remove in 2.0

[2015-03-19 18:58] javanna commented on #6428
@dakrone did you make any progress on this? I am curious on what you had in mind, and whether it is still doable or not.

[2015-03-19 19:00] ajhalani commented on #9226
@bleskes : Thanks. We do-do a lot of deletes, so your explanation makes sense. So is the slow-down only due to re-playing local translog(with deletes) on the restarting node?? Even if I flush before node shutdown, other nodes in cluster are still indexing so they will still have translog by the time the node is brought back online..

[2015-03-19 19:03] javanna commented on #10163
Hi @gebrits why no storing them as different queries in the percolator index? Can you elaborate on the usecase?

[2015-03-19 19:09] nik9000 commented on #6428
@shadow000fire, a static variable would work pretty poorly given that it could be run on multiple requests across multiple threads.  A ThreadLocal would have leakage issues, I think.  OTOH a native script might just be able to use a class variable - I haven't checked but I imagine the class is built once per request.  There _should_ be something for native scripts though.

@javanna, the writable s

[2015-03-19 19:12] javanna commented on #8633
relates to #6170

[2015-03-19 19:50] bsandvik commented on #6141
When upgrading from 1.4.2 to 1.4.4 I observed that the settings we have in elasticsearch.yml related to allocation are not being honored:

[code]

After a node restart when ES decided it was time to rebalance the cluster, I only saw two concurrent rebalancings going on. But when I manually set it to 16 using the API

[code]

[2015-03-19 19:56] #10166 closed

[2015-03-19 20:03] nknize opened #10170 "[GEO] Deprecate 'validate_*' options in GeoPointMapping"
No need to carry 3 validate options in GeoPointFieldMapping. This is just causing confusion so next version of ES will deprecate the validate_lat, validate_lon option and simply use validate.  The following version will remove validate_{lat|lon} altogether.

[2015-03-19 20:45] mrsolo commented on #10166
http://build-eu-00.elastic.co/view/Clients/job/es-py_core/ thirft/memcached disabled

[2015-03-19 21:23] gebrits commented on #10163
hi @javanna, Each multi-match query is bound to a single user for notification purposes (e.g.: sending out a mail). If I were to split out the multi-match in various queries, my notification client code would get a a bit more complicated. I.e.: having to track the results of all queries matching the same user, wrapping up the results, constructing a mail based on the aggregate results, deduping, e

[2015-03-19 21:37] dakrone commented on #6428
@javanna I haven't made any progress on this yet, feel free to grab it :)

[2015-03-19 21:45] #10114 closed

[2015-03-20 01:29] masaruh commented on #10054
Thanks @brwe. Makes sense.

[2015-03-20 01:29] #10054 closed

[2015-03-20 01:30] kevinkluge opened #10176 "build docs to PDF and post"
I've heard a few requests for a PDF version of the docs.  The prototype generated content was pretty good, but was missing branding.  This issue is to track building these docs regularly and adding some amount of branding (e.g. a header or footer).

[2015-03-20 03:56] jzinner opened #10177 "Cluster API feature request: Node Startup"
We have Node Shutdown API points. http://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-nodes-shutdown.html

But to instrument the Rolling Restart discussed at the bottom of the page^^ -- I need a Node Start API as well.

Please consider writing a Node Start API  -- this will make cluster management possible from the Cluster API

Cheers,

[2015-03-20 06:50] piotrjurkiewicz commented on #10166
I use memcached transport in production for storing log messages and I am able to achieve far more higher throughput than with HTTP REST API.

Furthermore, memcached protocol can work in connectionless mode. This plugin can be fairly simple extended to allow binding to UDP and DGRAM sockets. Memcached client libraries already support that. This would make possible to use ES in connectionless mode.

[2015-03-20 07:39] javanna commented on #4836
This seems to be solved with the new website... unless I am missing something :)

Thoughts @clintongormley ?

[2015-03-20 07:46] javanna commented on #5155
I agree that the get warmer api should be changed to return 404 when the warmer doesn't exist.

[2015-03-20 08:04] javanna commented on #6428
I marked this for discussion, I am personally not sure we should support something like this, it sounds scary, but maybe it's just me. Also, if we do we need to find a way to make it work for all of the different engines.

[2015-03-20 08:36] #9123 closed

[2015-03-20 08:50] mashudong opened #10181 "Seeing too many merge threads (Elasticsearch 1.3.4)"
There are 562 merge threads in a hprof dump of our elasticsearch process, we have no merge related configs, the default max number of merge threads seems to be 3 (http://www.elastic.co/guide/en/elasticsearch/reference/1.3/index-modules-merge.html),
then how could I control the number of concurrent merge threads?

![image](https://cloud.githubusercontent.com/assets/3242209/6748485/0f287612-cf21-11e

[2015-03-20 08:55] tlrx commented on #10101
Hi @Yashin-s,

I close this issue because it seems to be more a configuration problem than a bug. Could you please post your question on the mailing list https://groups.google.com/group/elasticsearch/? It will be easier and there are more people there to help you.

[2015-03-20 08:55] #10101 closed

[2015-03-20 09:09] javanna opened #10182 "Benchmark api in master"
We currently have the benchmark api in the master branch. We are going to refactor it once #6914 is in, which may take a while. I don't think it will make it into `2.0`.

This issue is just a reminder to back out the current benchmark api code before we release `2.0`, unless ready by then.

[2015-03-20 09:11] clintongormley commented on #10182
Can we remove the code now and just put it in a separate branch?

[2015-03-20 09:12] javanna commented on #10182
Sure I can take care of this. WIll create a new branch from master and then remove any reference of it from master. Makes sense?

[2015-03-20 09:36] bleskes commented on #10182
+1

[2015-03-20 09:47] bleskes commented on #10054
A common failure here is people forgetting to configure min_master_nodes or recover_after, do a full cluster restart (or what ever) while adding new nodes to the cluster. If one of the new nodes gets elected as master before the older nodes join, it will not wait for them and iniitialize an empty cluster state (thinking it’s alone in a fresh cluster). We need this protection to make sure that we d

[2015-03-20 10:32] bleskes commented on #9226
@ajhalani that is correct. If other nodes are still indexing, those operations have to be replayed. The stack trace in the discussion you linked to shows it was a local recovery (not from another shard). In these cases it will help. delete by query is heavy, if possible I would model my data such that it is not needed (like an index per day, where you can just delete old indices). PS - we can cont

[2015-03-20 10:39] javanna commented on #10182
I did some digging, we already have a branch for this, which is ahead of master, where the refactoring of the benchmark api was taking place till it stalled waiting for #6914 :

https://github.com/elastic/elasticsearch/tree/feature/bench

No need to recreate a new branch then, everything should be there. Will just go ahead and remove the benchmark api from master if nobody objects.

[2015-03-20 10:42] aqlu opened #10183 "Snapshot sometimes lose some shards data"
I used 1.4.2 version of elasticsearch,  each index is 10 shards,  when use snapshot to backup indices sometimes lose shards.

Some of the information listed below：

[code]
result is snapshot successful for 10 shards; but  when i restore this snapshot, ES report many exception:

[code]

I jump to the backup directory, found miss "0" directory for index "logstash-2015.03.15".
[code]

[2015-03-20 11:06] bleskes commented on #9281
I think all of this is cleaned up (I did a lot of work there). The setup is very specific, so I would love to get  a confirmation from @bax1989 , once 1.5 is out.

[2015-03-20 11:11] bleskes commented on #9496
This should be fixed with https://github.com/elastic/elasticsearch/pull/9902

[2015-03-20 11:11] #9496 closed

[2015-03-20 11:16] bleskes commented on #10122
Indeed it shouldn’t. Can you give some more information? Typically a new master should be elected and take over the role of the old master…

[2015-03-20 12:21] lmenezes commented on #10007
@colings86 I ran into the same issue today, and with latest from 1.4 branch it works correctly.
For previous version of 1.4, sending the script_file parameter on the URL also works. Problem was just that while reading the body, the scirpt_file parameter was missing.

[2015-03-20 12:46] javanna commented on #6539
This is not possible with multicast discovery, cause the tribe node has to have access to both clusters and needs to be able to distinguish between the two.

That said, it works with unicast discovery out of the box. Let's say the two clusters are on separate networks, the tribe node has access to both and points to them this way:

[code]

there is not even need to specify the cluster name for the

[2015-03-20 13:05] mikiot commented on #10135
2. I notices that sometimes when I run a search on the alias I receive this
"QueryPhaseExecutionException[[esbug][0]: query[ConstantScore(+cache(org.elasticsearch.index.search.nested.NonNestedDocsFilter@16c808f0) +BooleanFilter(BooleanFilter(+cache(_type:person) +QueryWrapperFilter(ToParentBlockJoinQuery (filtered(ConstantScore(cache(address.number:[2 TO 2])))->random_access(_type:__address))) +Cu

[2015-03-20 14:18] spinscale opened #10186 "Recover from DNS outage on startup"
If you start an elasticsearch node, that has trouble with DNS, it will never recover from this and continue spitting exceptions, even if the DNS problems are fixed. The reason for this is, that in `UnicastZenPing` constructor we have the following code:

[code]

`transportService.addressesFromString(host)` calls `InetSocketAddress` which in turn tries to resolve the applied hostname and fails, thu

[2015-03-20 14:30] javanna commented on #6787
Sorry it took ages to get to this. I spent some time looking at this, we can call it a bug, or just asking too much of highlighting :)

The meaning of `requireFieldMatch` is different from what is expected here. It is really only about field names, not really matching queries. By default (`require_field_match: false`) the field name gets ignored, for instance with the following document

[code]

t

[2015-03-20 14:53] javanna commented on #9579
Hi @brwr it would be fantastic if you can have a look at it, sorry it took a while to get back to you. `RestGetSourceAction` seems exactly where things go wrong trying to print out the yaml document. Let me know if you have any other question.

[2015-03-20 15:00] dakrone commented on #6653
@javanna when exceptions are thrown in a script, it's nice to know in the logs which script (if it came from on disk) the error came from, I believe right now we use:

[code]

Which works for dynamic scripts (maybe we want to rename it "dynamic-script1.groovy" or something to be extra clear. The on-disk ones should have their name clearly in the exception/logging.

[2015-03-20 15:00] #9739 closed

[2015-03-20 15:01] javanna commented on #9739
Thanks @ppf2 I have pushed the change that you suggested. Feel free to send a PR next time instead ;)

[2015-03-20 15:04] dakrone commented on #10156
hmm.. good question, I wonder though whether someone with an extremely narrow use-case for scripts could still use the sandbox by only whitelisting exactly what methods they need?

Other than that, if it's not useful I'm +1 on removing it, we can always re-add it later if needed.

[2015-03-20 15:15] javanna commented on #10163
I am on the fence to be honest :) I always imagined this usecase with multiple alerts/queries per user and assumed that indeed the different matching queries would need to be aggregated on the client side. It feels cleaner this way to me, but I don't have a super strong opinion. I marked this for discussion, we'll see what other folks think about it. Thanks for describing your usecase!