[2015-08-11 07:46] s1monw commented on #12783
@uboness I totally understand where you are coming from. The last couple of months elasticsearch has undergone some massive changes since we are basically not able to cope with the amount of classes and abstractions, number of packages etc. It's largely grown over the years and taking several steps back here is a reasonable thing to do. So what does this mean, we mainly folded classes into larger

[2015-08-11 08:06] colings86 commented on #12792
It also may be useful for people who only want to interact with Elasticsearch using the Java API and therefore have no need for the HTTP protocol

[2015-08-11 08:14] markwalkom commented on #12792
To me, allowing this is akin to keeping _shutdown.
Sure it is useful for a few people, but disabling it breaks too much stuff to be really worth it.

[2015-08-11 08:17] dadoonet commented on #12792
@markwalkom I think you should ask also the question on discuss.elastic.co to see how many users actually are disabling http, for which use case and invite them to comment on this issue.

[2015-08-11 09:15] cbuescher commented on #12122
After revisiting this, I think that the current behaviour of the SpanMultiTermQuery parser of throwing a QueryParsingException when the wrapped query is a range query on a date field makes sense. As noted in #12123 even if we rewrite LateParsingQuery, the target date field does not contain positional data, so this kind of query shouldn't work. Closing this with as 'won't fix'

[2015-08-11 09:15] #12122 closed

[2015-08-11 09:44] clintongormley commented on #12794
++

[2015-08-11 10:07] dadoonet opened #12799 "[test] failures in MovAvgUnitTests with seed 571CCDD579600679"
I just ran on the latest master branch `mvn clean verify` from the root dir and it failed in core module with those tests:

[code]

[2015-08-11 10:13] dadoonet commented on #12799
Probably a local issue. Closing...

[2015-08-11 10:13] #12799 closed

[2015-08-11 10:15] dadoonet commented on #12799
Argh... This moment you discover you were working in an outdated dir containing an outdated version of the project! What a shame... :)

[2015-08-11 10:37] #12718 closed

[2015-08-11 10:39] ml4spark commented on #12644
Hi Nick, have you had a chance to take a look? Our upgrade to a newer version (and security fixes) is blocked until we have this resolved. Thanks

[2015-08-11 10:52] dadoonet commented on #12791
I can confirm and reproduce the issue.

Funny thing: when you do that again from root dir but "resume from" smoke-test-shaded module, you don't hit the issue...

`mvn clean verify -rf :smoke-test-shaded` gives `BUILD SUCCESS`

[2015-08-11 10:55] #12794 closed

[2015-08-11 10:55] #12239 closed

[2015-08-11 11:29] dadoonet commented on #12791
I found a way to quickly reproduce the issue.

[code]

It makes obvious that when shaded is added to the reactor, it fails then smoke tests.
Working on it...

[2015-08-11 12:05] spinscale commented on #12479
so, removing `JAVA_OPTS` and `ES_JAVA_OPTS`  settings still pass all integration tests... and works under CentOS, going to create a PR after testing the debian package

[2015-08-11 12:07] dadoonet commented on #12791
So the difference between both execution plan is obviously the `projectArtifactMap`:

The wrong one when you run `org.elasticsearch.distribution.shaded:elasticsearch,:smoke-test-shaded`

[code]

The right one:

[code]

Trying to find a fix now...

[2015-08-11 12:15] dadoonet commented on #12791
Adding here some notes on how to quickly debug that (might help for the future).

Just run:

[code]

[code]

and

[code]

[code]

[2015-08-11 12:19] sergeant72 commented on #12644
+1

[2015-08-11 12:36] clintongormley commented on #12778
Hi @charlesmims

I think this change would be a mistake.  Master nodes, like data nodes, should all be of similar quality, otherwise if one "better" master node fails, then another "worse" master node tries to take over, you could end up just crashing your cluster regardless.

Dedicated master nodes make sense once your cluster is big enough.  They can use cheaper, smaller hardware than the data n

[2015-08-11 12:36] #12778 closed

[2015-08-11 13:40] clintongormley commented on #12790
Hi @ajeis

Thanks for reporting.  This is indeed a bug.  Confirmed on master with the REST api.  Also `version.created` should not be settable either:

    PUT x
    {
      "settings": {
        "index": {
          "creation_date": "1439300111000",
          "version": {
            "created": "2000123"
          }
        }
      }
    }

    GET x/_settings

Returns:

    {
       "x": {

[2015-08-11 13:40] colings86 opened #12804 "Tribe node does not retry connection to clusters after startup"
This issue was raised in a discuss.elastic.co topic: https://discuss.elastic.co/t/child-node-never-connected-if-offline-at-startup-of-tribe/27193

If a cluster is not started when the tribe node starts, it will fail to connect, log a warning and then never try to connect to that cluster again. Other clusters in the tribe work as expected but when the first cluster comes back online the tribe node

[2015-08-11 13:45] nknize commented on #12644
@ml4spark can you (or anyone else experiencing this behavior) provide an example shape that throws the exception? In short the behavior is related to #9511 where the ```ShapeBuilder``` formerly failed on valid interior rings, or constructed incorrect base polygons due to shape ambiguity (a nasty form of silent spatial data corruption).

To eliminate these issues (especially the latter), we made th

[2015-08-11 13:58] clintongormley commented on #12644
I think we should definitely add `ignore_malformed` (default `false'), however I think it should behave in a consistent manner with all other uses of it: don't throw an exception but ignore the invalid value completely.

Using it to paper over invalid data is trappy and leads to hard to debug problems later on.  Either the data is valid, in which case you can query it, or it isn't, in which case y

[2015-08-11 14:04] clintongormley commented on #12795
Hi @Bondza

Groovy uses BigDecimal for these operations, which are cast to strings by Elasticsearch.  This will work too:

    ctx._source.ctr = (double) ctx._source.clicks / ctx._source.loads;

@dakrone Was #6609 supposed to fix this? if not, is it fixable?

[2015-08-11 14:07] sathieu opened #12805 "Unable to create Time-based index pattern with wildcard"
`[logs-*-]YYYY.MM.DD` doesn't match logs-syslog-20150811.

This comes from https://github.com/elastic/kibana/blob/1e555c5961686c1d51693506e97fb2da8e483a1a/src/ui/public/index_patterns/_mapper.js#L104:
[code]
Workaround is to use `return true`

[2015-08-11 14:08] dakrone commented on #12795
#6609 was only to fix constants (like `1.3`) being compiled as BigDecimals by Groovy, I think this is the Groovy math itself doing this on division.

I'm not sure if it's fixable, I can do some research to see if it is.

[2015-08-11 14:08] sathieu commented on #12805
NB: Here we have:
[code]

[2015-08-11 14:12] sathieu commented on #12805
A bit better:
[code]

[2015-08-11 14:13] #12755 closed

[2015-08-11 14:16] ml4spark commented on #12644
Hi Guys, can you help me configure elasticsearch logging such that it provides the information about which document causes the issue. We have many TBs of data and it seems this issue is very seldom. I only know in which shard (~200GB) the issue was encountered based on the above message. We could modify/fix/delete the offending information if the log returned the document id of the offending docum

[2015-08-11 14:21] sathieu commented on #12805
NB: Consider the above patch public-domain. you can merge it (I won't sign the CLA).

[2015-08-11 14:28] sathieu commented on #12805
Oups, this should be in kibana instead.

[2015-08-11 14:30] sathieu commented on #12805
Moved to https://github.com/elastic/kibana/issues/4633

[2015-08-11 14:30] #12805 closed

[2015-08-11 15:11] spinscale commented on #12712
how exactly should this be implemented for automated tests? Would we have another project in `qa/` that installs/removes plugins with custom paths using custom `./integration-tests.xml` files?

Or do we have more `<ant antfile` calls in the `pom.xml` of the `smoke-test-plugins` that just installs plugins into different paths?

[2015-08-11 15:28] jaymode commented on #12651
I like this idea, but do we have a plugin in this repository that has a `bin` and `config` dir inside it? I think some of the tests look for that so we may need to add a test one with those directories or something

[2015-08-11 15:30] uboness commented on #12651
+1 on ditching watcher... and +1 on a plugin with `config` and `bin` dirs

[2015-08-11 15:36] dadoonet commented on #12651
I guess we can add that to the jvm example plugin: https://github.com/elastic/elasticsearch/tree/master/plugins/jvm-example
?

[2015-08-11 15:41] nik9000 commented on #12651
I've already started....

[2015-08-11 15:41] nik9000 commented on #12651
https://github.com/elastic/elasticsearch/pull/12787

[2015-08-11 15:45] spinscale commented on #12564
closing in favor of [#12651](https://github.com/elastic/elasticsearch/issues/12651)

[2015-08-11 15:45] #12564 closed

[2015-08-11 16:16] clintongormley commented on #12677
Closed by #12710

[2015-08-11 16:16] #12677 closed

[2015-08-11 16:26] Bondza commented on #12795
I thought that it might have something to do with how Elasticsearch handles BigDecimal. Unfortunately it made my query scripts cause an exception later on.

It is a bit confusing though, since the field which it assigns is not of type string. It thought that would cause an exception since there is a mapping set for that field?

It would be awesome if it was fixable! :)

[2015-08-11 17:24] #12753 closed

[2015-08-11 17:37] smflorentino commented on #12256
PR #12274 merged to master.

[2015-08-11 17:37] #12256 closed

[2015-08-11 17:49] rjernst commented on #12790
`version.created` is set in tests (to check backcompat behavior) *a lot* (at least within mapping tests).

[2015-08-11 17:51] HarishAtGitHub commented on #12135
@clintongormley , I was not able to exactly do what you asked for but I made the exception little more understandable .
Is the following ok ?
[code]

I introduced two exceptions IncomparableException.java and BucketTypeMisMatchException.java,
so as to better understand exceptions instead of just throwing class Cast exception which can be anything.  I threw IncomparableException in StringTerms.java

[2015-08-11 17:54] dadoonet commented on #11798
@colings86 I'm unsure if we still have to fix that. WDYT?

[2015-08-11 17:55] dadoonet opened #12809 "Remove `cloud.account` and `cloud.key` settings"
_From @dadoonet on February 27, 2015 15:21_

`cloud.account` and `cloud.key` settings are not documented as we use `cloud.aws.access_key` and `cloud.aws.secret_key` settings instead.

We can deprecated those settings in `es-1.4` branch and remove them in `master`.

_Copied from original issue: elastic/elasticsearch-cloud-aws#183_

[2015-08-11 17:55] dadoonet commented on #12809
@imotov WDYT?

[2015-08-11 17:55] dadoonet commented on #12809
_From @imotov on February 27, 2015 15:35_

Personally I like `cloud.account` and `cloud.key` more (mostly because they are shorter). But I can see how this can cause some confusion. Not sure.

[2015-08-11 17:55] dadoonet commented on #12809
Yeah. If we want to mix within a node azure settings and aws settings (let say backup in two places), I think it's better to prefix setting name.

[2015-08-11 17:55] dadoonet commented on #12809
_From @kimchy on February 27, 2015 15:43_

we do support both, right? I mean, sure, we can simplify and not provide too many options to configure things and be more explicit around the actual aws settings

[2015-08-11 17:55] dadoonet commented on #12809
we do support both today. But the simplest form `cloud.account` is not documented AFAIK.

[2015-08-11 17:55] dadoonet commented on #12809
_From @nikolay on February 27, 2015 20:17_

@imotov With AWS, "account" and "access key" are two different things, so, `cloud.account` will be misleading.

[2015-08-11 18:18] clintongormley commented on #12135
@HarishAtGitHub that sounds like progress!  One thing to mention is that we have reduced the number of exceptions in master, so we wouldn't  be keen on adding new ones.  I'm guessing you're developing against 1.7?  Rather target master.  If you want to open a PR to get some feedback about what you've done so far, feel free.  May save some development time.

[2015-08-11 18:26] dmehra commented on #12745
Ok, my nodes are now at 88%,89%,86%,88% and 73% full. On all of them, all shards report STARTED state according to `curl -XGET 'http://localhost:9200/_cat/shards?v'`, i don't see any relocating shards.

However, I have figured out where the logs are; I now understand that only the ES master node logs about the watermark (not the nodes on which the watermark is in fact exceeded), and my master node

[2015-08-11 18:31] HarishAtGitHub commented on #12135
I am working on my [fork](https://github.com/HarishAtGitHub/elasticsearch) which is just 62 commits behind actual master .
and my build says elasticsearch-2.0.0-beta1-SNAPSHOT . so I think it is almost new ...
yes I saw many exceptions like [here](https://gist.github.com/HarishAtGitHub/ae7fc8a69563964e2b97) , but I found nothing suited my requirement , so went on with a new one .
may be I am wrong

[2015-08-11 20:32] imotov commented on #12665
In case of UNC paths you need to specify at least the machine name and the share name as a prefix. So, it should be:

[code]

The `repo.path` setting should be set on all master and data nodes.

[2015-08-11 20:47] nik9000 opened #12811 "Warn users when their bulk requests are too large"
Its not super clear how many documents is the right number to send in a bulk request. I imagine its because it depends on lots of things - mapping, document size, lots of stuff. I imagine sometimes Elasticsearch can _tell_ when the user's sent too many documents. In those times we should log a warning or send a warning back to the user or something.

I'm not super clear on how this would work beca

[2015-08-11 20:57] #4485 closed

[2015-08-11 21:00] shikhar opened #12812 "Synced flush missing from Java client API"

[2015-08-11 21:12] s1monw commented on #12812
@shikhar we did this on purpose since it's really a last resort API that should only be run by an admin manually ie. via rest. I think we should keep it like this, what's your usecase?

[2015-08-11 21:18] thomax commented on #8434
Have any of these other efforts given results? JSONPath or JSONPath-like functionality would be very useful to me, so I'd be very interested to hear about this.

[2015-08-11 21:25] sherry-ger opened #12814 "Hierarchical Tribe Nodes"
We are hoping hierarchical tribe nodes to solve the following issues:

1. Tribe start up is slow, especially for the "top level" tribe, which talk with all 30 clusters cross a number of data centers. It would take up to 10 minutes before a tribe node is fully up and ready to answer queries.  The idea is each data center would form its own tribe in order to buffer some of the slowness.
2.  Query sl

[2015-08-11 21:27] rjernst opened #12815 "Add weight to AllocationDecider"
AllocationDeciders (plural) currently take all the AllocationDecider instances in a set. While the order does not matter for a "yes" decision (because it must be unanimous), a "no" or "throttle" decision could be optimized if cheaper deciders were allowed to run first.

Adding a weight, with a default of 1.0 (easy since AllocationDecider is an abstract class), would allow expensive deciders to inc

[2015-08-11 21:28] dakrone commented on #12815
@rjernst we do optimize the order of the AllocationDeciders to have the cheapest ones run first and short-circuit on "NO" answers, are you saying we should have the allocation deciders decide the weight themselves?

[2015-08-11 21:29] s1monw commented on #12815
@dakrone I think that is not true - it's a set so it order is undefined?

[2015-08-11 21:33] rjernst commented on #12815
Yeah, the injected AllocationDeciders ctor takes a set of AllocationDecider instances, so no order that I see. @dakrone Yes, I think the deciders should give their own weight. They are should be self aware of their expensiveness.

[2015-08-11 21:33] dakrone commented on #12815
Ahh okay, I thought I remembered a commit changing that. Frustrating that we can't inject an ordered list by default with Guice. +1 to weight then.

[2015-08-11 21:55] cooniur opened #12816 "Java SDK: LongTerms.Bucket#getKeyAsText should return the string value for date aggregation"
`TL;DR;` For example, when querying for the following aggregation on field `createDate` (which is a Date field):

    {
      "size": 0,
      "query": { "match_all": {} },
      "aggregations": {
        "DATE_TERMS": {
          "terms": {
            "field": "createDate",
            "size": 10
          }
        }
      }
    }

The response in JSON is:

    "DATE_TERMS": {
        "doc_coun

[2015-08-11 21:58] alecklandgraf commented on #4847
+1

[2015-08-11 22:17] dakrone commented on #12745
@dmehra it looks to me like your servers are undergoing the desired behavior, once they get about 85% percent full, they won't allow any new shards to be allocated to the node (the low watermark) and if they get over 90% full (the high watermark), shards are relocated away from the node in order to prevent them from going over the disk limit.

It's totally possible for a node to be over 85% (as lo

[2015-08-11 22:19] TinLe commented on #12814
Adding more information.   The "clusters" consist of independent ELK cluster per data center.  Currently we have three main data centers (that's 30 x 3 = 90 ELK clusters).

A cluster is an ELK cluster that consumed log data for a specific set of services/applications.  These services/application run in all data centers.   Per security policy, log data generated in each data center must stay within

[2015-08-11 23:39] pickypg opened #12817 "Normalized/Shared Mapping"
### Problem

Currently, for anyone that uses time-based indices, they will run into repeating their mapping--ideally using a template--for each split of the index.

This can be wasteful and it's hard to manage from ORM tools and tools like Kibana where a mapping of 300 days with 100 fields becomes 30,000 fields. To display content generated from these kind of indices requires somehow looping acros

[2015-08-12 02:07] shikhar commented on #12812
@s1monw some of our indexing activity is periodical rather than NRT (e.g. every minute or every hour). We tend to bounce our clusters quite often so it'd be great to be synced as much as possible, and for the indexers that are running every minute the 5 min auto-sync is too long. For now I am thinking of adding a curl to perform the synced flush in the indexer script (they're cronned), but being a

[2015-08-12 04:57] #12781 closed

[2015-08-12 05:39] apanimesh061 opened #12819 "Are these ES bugs or just wrong implementations by me?"
I have set the maximum shingle size as 3 for my index. When I am done with indexing I find that the shingles :
1. `yield`
2. `_ yield`
3. `_ _ yield`

have the same start and ending offsets. So, if I would need the original sub-string I will always get `yield`!! Why is that and can it be corrected?

Another thing that I noticed is that the offsets of the shingles like:
1. `_ yield _`
2. `yield _`

[2015-08-12 06:40] #12560 closed

[2015-08-12 08:05] colings86 commented on #12819
This question has already been posted on the forums here: https://discuss.elastic.co/t/are-these-es-bugs-or-just-wrong-implementations-by-me/27228

Please keep the discussion in one place as it will avoid the conversation getting split between two threads which makes it hard to follow both for current participants and for people looking for the same information in the future.

[2015-08-12 08:13] HarishAtGitHub commented on #12135
@clintongormley as per your suggestion . I have made a pull request https://github.com/elastic/elasticsearch/pull/12821 with a detailed commit log, explaining why I did it like this .

this is just PATCH-1 . this will be extended so that other terms can also handle the exceptions on comparing the same way ...

Please let me know if the approach is ok, so that I can continue.

[2015-08-12 08:17] dadoonet commented on #12622
Closing in favor of #12786

[2015-08-12 08:26] colings86 commented on #11798
@dadoonet both the projects still declare the sonatype parent pom as their parent but I have no opinion on whether that is actually an issue. Feel free to close if you think its ok as is

[2015-08-12 08:27] alexksikes opened #12822 "SearchQueryIT#testIndicesQuerySkipParsing fails until we refactor nested"
This is reminder issue to that SearchQueryIT#testIndicesQuerySkipParsing cannot be ran successfully until we have refactored nested queries. The test is marked as AwaitsFix for now.

[2015-08-12 08:29] colings86 commented on #8434
So far just response filtering has been implemented (https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.html#_response_filtering) which uses a simplified syntax for referencing paths in JSON.

[2015-08-12 09:11] dadoonet commented on #11798
Thanks @colings86. Closing as your "eclipse" initial issue has been fixed.

[2015-08-12 09:11] #11798 closed

[2015-08-12 09:35] clintongormley commented on #12665
@imotov could you add this to the docs please?

[2015-08-12 09:55] spinscale commented on #12749
checked the code. There are no write permissions checks for `bin/$PLUGIN/` and `config/$PLUGIN/` - also you are right, we copy the plugin into the plugins directory and then try for `bin` and `config` directory, hoping all is fine...

[2015-08-12 09:58] clintongormley commented on #12819
@colings86 actually i think this is worth discussing here.  there may be things we can improve.  Reopening

[2015-08-12 10:02] clintongormley commented on #12819
@apanimesh061 As a start, try getting rid of the word delimiter filter (first time i've seen it used twice???) but it is known to mess up the analysis chain.  Don't try to put every analysis variation into a single field - you just end up with garbage.  Instead break it down into a few fields used for different purposes, eg one with standard analyzer, one with stopwords and stemmer, etc

I'd be in

[2015-08-12 10:14] spinscale commented on #12750
Implementation detail: When running `mvn install` the creation of the checksums results simply in `.md5` and `.sha1` suffixes appended to the file...

Impl: We simply should GET that URL as well... `http://.../analysis-kuromoji.zip.sha1`

* If checksum file exists, compare the checksum with the downloaded file. If these differ, exit. If these match, print a message telling that checksums were ok
*

[2015-08-12 10:40] agjs commented on #9031
https://jsbroadcast.com/elastic-search-cors/

[2015-08-12 11:03] clintongormley commented on #9031
@agjs please don't enable `jsonp` - that introduces a security issue.

Cors works correctly as documented here: https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-http.html

This issue was, as @devinrsmith pointed out, related to #9706.  Closing

[2015-08-12 11:03] #9031 closed

[2015-08-12 11:44] clintongormley opened #12829 "Investigate moving from Joda to java.time"
Today we use a forked version of Joda for performance reasons.  This can lead to problems with class loading (eg #10290, #3557, #4660), and requires us to have hacks to ensure that our version of Joda is loaded first.

We should investigate the possibility of replacing Joda with java.time.  One roadblock would be the need to reimplement the dateOptionalTimeParser, which doesn't have an equivalent

[2015-08-12 12:23] apanimesh061 commented on #12819
@clintongormley I am pretty sure issue [#4307](https://github.com/elastic/elasticsearch/issues/4307#issuecomment-130239252) is related to this.
I have updated the settings as asked:

[code]

[2015-08-12 12:30] #12738 closed

[2015-08-12 13:26] rikkit commented on #12665
@imotov That doesn't appear to work.

My config is now:

[code]

Restarting nodes and testing with ```\\\\ERUSS001L\\snapshots\\test``` gives the same error as before:

[code]

Also, you mean "path.repo", right? Not "repo.path"?

[2015-08-12 13:31] gavelino commented on #12726
Hi, polyfractal,

Thank you for your comments. We really appreciate the feedback. Our research is under development and the answers we are receiving for this survey will help to better interpret the results and improve our approach. Below, I tried to answer some of yours complains and questions.

As you can see in list below, most of the core contributors elected by you are in the top-10 list gene

[2015-08-12 14:18] clintongormley commented on #12719
@jasontedor please could you try to tackle this one

[2015-08-12 14:18] clintongormley commented on #12063
@brwe please could you look at this TODO

[2015-08-12 14:24] dadoonet commented on #12719
@clintongormley @jasontedor FYI I'm currently working on ec2 mock

[2015-08-12 14:28] qasimkhans opened #12834 "save result in variable."
Hi,
       i just started using your PAMI. i can see Events and Actions results on screen. how can i save events and actions result in variable and save them in DB. is there any discussion form of PAMI?

Thanks,

[2015-08-12 14:33] imotov commented on #12665
@rikkit yes, I meant `path.repo`. I tested it on my windows box with both yaml and json configuration files  and it worked fine. When a error like this is returned to the user, a more complete error message should be logged into the log file. Could you post this error here?

[2015-08-12 14:48] s1monw commented on #12719
@dadoonet can you sync with @jasontedor on this please

[2015-08-12 14:56] clintongormley commented on #12834
Sorry @qasimkhans but I've never heard of PAMI.  I think you've got the wrong project.

[2015-08-12 14:56] #12834 closed

[2015-08-12 15:20] rikkit commented on #12665
@imotov OK, I messed up...  :no_mouth: . I've got it working now. Thanks for your help!

[2015-08-12 15:34] dadoonet opened #12835 "[cloud-gce] update to GCE API v1-rev71-1.20.0"

[2015-08-12 16:05] #12622 closed

[2015-08-12 16:05] #12835 closed

[2015-08-12 16:11] imotov commented on #12665
Converting it into a documentation issue then, so I don't forget to update docs.

[2015-08-12 16:29] rsomcio opened #12836 "ES Cluster heap usage spikes up after index rolls over"
ES cluster heap usage spikes up and cluster health is red.  Theres nothing obvious in the the logs except for GC messages when the spike occurs.

![screen shot 2015-08-12 at 8 44 16 am](https://cloud.githubusercontent.com/assets/5067728/9229647/ffbf9ede-40d2-11e5-82c5-036a366115c0.png)

[2015-08-11 16:53:48,533][WARN ][monitor.jvm              ] [es101a] [gc][old][1653310][18240] duration [13s], c

[2015-08-12 16:38] #12665 closed

[2015-08-12 16:44] clintongormley commented on #12836
Hi @rsomcio

This sounds very much like you are loading a whole lot of fielddata when your index rolls over.  Whatever it is, your heap is full.  You either need to use less heap or add more nodes.  It doesn't sound like a bug. I suggest looking for advice in the forums: https://discuss.elastic.co/

[2015-08-12 16:44] #12836 closed

[2015-08-12 16:51] rsomcio commented on #12836
@clintongormley Great.  Thanks.

[2015-08-12 17:06] #12714 closed

[2015-08-12 17:09] guangchen06 commented on #12648
Any updates here?

[2015-08-12 17:43] dakrone opened #12838 "mvn test reproduction lines do not work"
When a test fails we print out the reproduction line, with the recent refactoring of the maven build logic, the line no longer works.

For example:

[code]

Specifically: `Failed to execute goal org.apache.maven.plugins:maven-failsafe-plugin:2.18.1:verify (verify) on project elasticsearch: No tests were executed!`

Setting `-DfailIfNoTests=false` in the line does not work either.

[2015-08-12 17:50] dakrone commented on #12838
This issue is killing me because in order to test a specific failure I need to run the **whole** `mvn verify` and wait for it to fail (or pass)

[2015-08-12 18:02] clintongormley opened #12839 "Mapping conflict exception not bubbling up to root cause"
A mapping conflict such as:

    PUT my_index
    {
      "mappings": {
        "type_one": {
          "properties": {
            "text": {
              "type": "string",
              "analyzer": "standard",
              "search_analyzer": "whitespace"
            }
          }
        },
        "type_two": {
          "properties": {
            "text": {
              "type": "string"

[2015-08-12 18:15] clintongormley opened #12840 "`update_all_types` missing from REST spec and tests"
The `update_all_types`  parameter needs to be added to the REST test api spec, and should have tests added otherwise clients won't know about it.

[2015-08-12 18:23] nik9000 commented on #12648
I'm still deep in non highlighting stuff and don't have much time to
contribute over the next week and a half anyway. Even when I do I'm not
sure if this will be my highest priority.
On Aug 12, 2015 10:09 AM, "Guang.Chen" <notifications@github.com> wrote:

[2015-08-12 18:35] #12776 closed

[2015-08-12 19:57] AndreasTurowski opened #12841 "Highlighting and sub documents"
I need a tip, please! We append several attachments to our elastic document. Alle attachments are stored in an array of sub documents called "ANY_BLOB". This is mapped to the "attachment" type. Per mapping we add a Field "Reference" to the ANY_BLOB sub document mapping. This is stored and retrieved well. But if we use the "highlight"-feature, we got the highlighting of some of the "ANY_BLOB"s, no

[2015-08-12 21:36] nknize commented on #10004
@rashidkpc I expect this feature to be in for 2.0beta2. It currently depends on feature branch: https://github.com/elastic/elasticsearch/tree/enhancement/LuceneGeoPointField-Integration which is blocked by elastic/infra#315.

In the meantime here is an example of the output:
[code]

The centroid is a GeoJSON compliant point - so lon, lat ordering.

You can try this out if you want, just clone my w

[2015-08-12 21:47] djschny opened #12842 "stats aggregation returns 500 error when performed over an invalid field"
Performing a stats aggregation over a string field throws 500 error with an exception as opposed to a simplified error stating the the field specified is not valid for a stats aggregation.

I would expect a 400 for example since the client to fix their request before retrying it. Additionally it would help if the error message was more indicative of the problem as opposed to a SearchPhaseExecution

[2015-08-12 22:59] TheBreeze commented on #4915
+1

[2015-08-12 23:15] ppf2 opened #12843 "Move free disk log entries to TRACE level when there is plenty of free disk space"
For messages like the following where it is nowhere near the disk threshold, it will be nice to log them at the TRACE level.  Even at the DEBUG level, it is too noisy and can drown other important debug messages.  For example, I am looking at this single day log file that has 53K+ log entries like the one below:

[code]

[2015-08-12 23:28] TheBreeze commented on #4915
To do this on the client side, as others have mentioned, you'll need to keep track of the previously matched terms and exclude them. This will always require N + 1 (where N is page) queries in order to ask for an arbitrary page of buckets. Here's a working example implementation (client-side) in Ruby:

[code]

[2015-08-13 03:39] nandini-r commented on #283
@clintongormley Elastic search version i am using is 1.4.3 .  Sorry for the late reply

[2015-08-13 04:52] nik9000 commented on #12841
If this is parent/child then I don't know the answer. If it is just that
you have a list of documents then you can look at the experimental
highlighter. It has a feature that will return sibling fields but there are
tons of caveats to how it works. Try it but be very careful to read the
docs.
On Aug 12, 2015 12:57 PM, "AndreasTurowski" <notifications@github.com>
wrote:

[2015-08-13 05:12] AndreasTurowski commented on #12841
THX! You mean this one?
https://github.com/wikimedia/search-highlighter <https://github.com/wikimedia/search-highlighter>

[2015-08-13 05:31] nik9000 commented on #12841
Yup. The docs I was describing are
https://github.com/wikimedia/search-highlighter/blob/master/docs/fetch_fields.md

On Thu, Aug 13, 2015 at 1:12 AM, AndreasTurowski <notifications@github.com>
wrote:

[2015-08-13 06:51] ajeis commented on #12790
Where would the fix for this be - IndexSettingsModule, InternalIndicesService, IndexSettingsService or somewhere else? I am still fairly new to the codebase.

[2015-08-13 07:32] markwalkom opened #12847 "Show more details of closed indices in _cat/indices"
From [this forum post](https://discuss.elastic.co/t/size-of-closed-index/27302).

While we let users know an index is closed using `_cat/indices`, it'd be handy if we could show them things like the number of shards, docs and store size.

[2015-08-13 07:46] rjernst opened #12848 "Make sure elasticsearch.bat works with spaces"
When we added spaces to integration test paths, the distribution integ tests started failed on windows. I changed the paths back to not contain spaces (ie quieted the test), until we can fix the windows batch file.

The first hurdle is just getting the batch file to run when spaces are in the *path* to the batch file. I have not yet found the magic ant incantation. My latest attempt looks like thi

[2015-08-13 07:48] rjernst commented on #12848
To see the failures, you can change `integ.scratch` and `integ.deps` to contain spaces in pom.xml.

[2015-08-13 07:50] HarishAtGitHub commented on #12790
Hi , I already started working on this issue. I am also a beginner (let's join hands)..
I think I spotted the issue ...
I thinks it's [here](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java#L331-L339) ...

Investigating why they are fetching it from settings
not sure if it was done intentionally for some purp

[2015-08-13 08:07] masaruh commented on #12795
Groovy returns `BigDecimal` for integer division (http://docs.groovy-lang.org/latest/html/documentation/core-syntax.html#integer_division) and it's serialized as `String` as described in #12385.

Best bet would be to cast/parse yourself...

[2015-08-13 08:27] focusme opened #12849 "Tests fail when building ES"
I've checked out ES source with v1.7.2 tag and when I try to build tests fail with the following tests:

This happens on win7 with Java 8 + Maven 3.3.3

Tests with failures (first 3 out of 12):
  - org.elasticsearch.index.codec.postingformat.ElasticsearchPostingsFormatTest.testDocsAndFreqsAndPositionsAndOffsetsAndPayloads
  - org.elasticsearch.index.codec.postingformat.ElasticsearchPostingsFormatT

[2015-08-13 08:32] s1monw commented on #12849
please try running tests on master

[2015-08-13 08:32] #12849 closed

[2015-08-13 09:10] HarishAtGitHub commented on #12790
I fixed it and it started working ..
input settings
[code]

new index settings
[code]

But the ramifications are something to be worried about ..... Now I understand what @rjernst
is talking about in https://github.com/elastic/elasticsearch/issues/12790#issuecomment-129989979
it caused

[2015-08-13 09:29] clintongormley commented on #12819
@apanimesh061 when I said "full JSON replication" I meant: a series of curl commands that i can copy and paste, along with "this request produces this output, while i think it should be this instead".  otherwise I have to spend time trying to guess which parts you think are wrong.

[2015-08-13 09:30] rjernst commented on #12790
Well it is not just for tests, that setting is inserted so we know when the index was created for things like backcompat checks, and also feature behavior. For example, when the `_field_names` was added back in 1.3, that setting helped determine for which indexes the new field should be added (those created on or after 1.3).

[2015-08-13 09:38] clintongormley commented on #12654
I'll take this and work on rest tests for the non-cloud plugins.  Cloud plugins will be dealt with by #12719

[2015-08-13 09:43] clintongormley commented on #12689
Closed by #12710

[2015-08-13 09:43] #12689 closed

[2015-08-13 10:10] #11571 closed

[2015-08-13 10:12] dadoonet opened #12852 "[qa] multinode tests fails when you run low on disk space (85%)"
Indeed, we check within the test suite that we have not unassigned shards.

But when the test starts on my machine I get:

[code]

[code]

I think that for those tests we need to disable low watermark.

[2015-08-13 10:12] clintongormley commented on #12842
Agreed, should be a 400 - probably need a wider review of exceptions too

[2015-08-13 10:22] clintongormley commented on #283
@nandini-r  OK - lots has changed since then, I would upgrade and see if the problem still exists.  Please let us know either way.

[2015-08-13 10:27] clintongormley commented on #12841
This question is better suited to the forums: https://discuss.elastic.co/

Closing

[2015-08-13 10:27] #12841 closed

[2015-08-13 10:42] clintongormley commented on #12847
I don't think it is feasible. The only way to get this information is to open the index. About the only thing we could change is to include the primary and replica settings for closed indices (because those come from the cluster state). However, there is no guarantee that they reflect what is on the disk.  You could delete the closed index and add another with the same name and different settings,

[2015-08-13 10:44] HarishAtGitHub commented on #12790
This version.created seems like a bit dangerous entity to play with .
I just was playing with the version number and unfortunately I gave version. created as 1 ..
it accepted without any problem.. but then when I stopped it and restarted ... <b>it could not start</b> . It was throwing [errors](https://gist.github.com/HarishAtGitHub/6072670467d7d768ebf3) that I "The index [demo6] was created before

[2015-08-13 10:45] markwalkom commented on #12847
There's no chance we can keep some sort of data in cluster state on this?
I think it'd be very useful, even if not just for _cat.

[2015-08-13 10:55] runarmyklebust commented on #9970
Does this mean that the suggested removal of having to separate filter and queries are postponed to v3? Would be nice to know, since it will impact our development plans.

[2015-08-13 10:59] clintongormley commented on #9970
@runarmyklebust no - that's already merged.  the query refactoring is about the java api and where requests get parsed: coordinating node or shard level.  unrelated to the query/filter merging

[2015-08-13 11:42] clintongormley commented on #12462
Closed by #12462

[2015-08-13 11:42] #12462 closed

[2015-08-13 11:44] clintongormley commented on #11926
Closed by #11932

[2015-08-13 11:44] #11926 closed

[2015-08-13 11:45] clintongormley commented on #11744
Closed by #11974

[2015-08-13 11:54] runarmyklebust commented on #9970
Ok, thanks a lot, got me a bit worried there.

[2015-08-13 12:03] HarishAtGitHub commented on #12790
Pull request for date replication : https://github.com/elastic/elasticsearch/pull/12854

[2015-08-13 12:09] javanna commented on #11744
sorry @clintongormley I still have a couple of things to do so I can close this :) the four changes left listed above. will reopen and work on this.

[2015-08-13 12:24] HarishAtGitHub commented on #12790
Ok .. what is the final take on version.created ?

apart from that is my comment https://github.com/elastic/elasticsearch/issues/12790#issuecomment-130609798 a valid one ?
Is it good to allow such a dangerous property out .
Why I am asking this is .. anything that can easily Fool/Trick/Ruin the system is dangerous and should be avoided ? So by that logic the comment seems valid ...

or can it be i

[2015-08-13 12:26] #11510 closed

[2015-08-13 12:32] s1monw opened #12855 "SharedClusterSnapshotRestoreIT#renameOnRestoreTest fails randomly"
here is an example: http://build-us-00.elastic.co/job/es_core_master_oracle_6/1706/consoleFull

I will mute the guy now

[2015-08-13 12:39] cristiboariu commented on #7758
+1

[2015-08-13 12:43] nkvoll commented on #12462
Do I understand it correctly if the current fix just adds retries? What if the repository is down for an hour after the cluster starts, but the snapshot/restore API is not used during this time?

As a user, I'd expect it to be able to work lazily, i.e, it's fine to log that it's not available during startup etc, but if it's available when it's used, I'd expect it to "just work".

[2015-08-13 12:51] tomasfalt commented on #11749
Any news about this? I have similar problems and a solution to this would help me a lot.

[2015-08-13 13:38] nknize opened #12856 "Expose points_only option through geo_shape field mapper"
```SpatialPrefixTreeStrategy``` includes an option for optimizing ```geo_shape``` types when the user expects to index points only. With a slight decrease in performance and increase in index size, when compared its ```geo_point```, counterpart this option will treat a ```geo_shape``` structure similar to a ```geo_point``` with the added benefit of being compatible with other ```geo_shape``` types

[2015-08-13 14:11] dakrone commented on #12795
Yes, I tried to find a way where we could automatically change Groovy's integer division, but unfortunately it doesn't look like there's a programmatic way to do it from a Transformer (unlike the constant expressions where we can).

I think right now best bet is to cast to `(double)` as Clint mentioned.

[2015-08-13 14:58] clintongormley commented on #12795
thanks @dakrone . Closing

[2015-08-13 14:58] #12795 closed

[2015-08-13 16:52] dadoonet commented on #12791
Reopening as the change has been reverted

[2015-08-13 21:04] dakrone commented on #12750
@spinscale I'm looking at this, it looks like we don't actually provide sha1 or md5 files for our own plugins? I am just curious if there's an already-available plugin I can use for manual testing of this.

[2015-08-13 21:28] dakrone commented on #12750
Also, I guess nevermind on our own plugins, I can run a local server and test it with a URL that way, I was just curious if we already hosted the checksum files.

[2015-08-13 21:36] #12784 closed

[2015-08-13 21:40] spinscale commented on #12750
no, this is since 2.0...

[2015-08-13 23:09] pickypg opened #12865 "Template allows creation of index with 0 primary shards"
If you create a template with `number_of_shards` set to 0, then it accepts it and the eventual index fails. Attempted in ES 1.7.1. (If you try to do this directly with the index, then it will appropriately block the attempt.)

[code]

Once created, the cluster is in a red state because no primaries are allocated, which is kind of odd on its own because no primaries are missing.

[code]

When tryin

[2015-08-14 00:17] pablod opened #12866 "Terms aggregation unexpected results"
We are facing an unexpected behavior with a term aggregation.
We are getting different results whether we use a term facet or its term aggregation equivalent.

Steps to reproduce:

#### Test case 1
***Add  some test data:***
[code]

***Term facet and aggregation for the same field:***
[code]

***Results:****
[code]

We would expect both terms facet and aggregation results to show count/doc_count:

[2015-08-14 02:58] shaozhengmao opened #12867 "Can't create repository"
hi all,

i have a problem like this :  https://github.com/elastic/elasticsearch/issues/11463
but first there is not  have a user 'elasticsearch'
i just operate es with root . so I think it is not a problem with permission.
so i come here and commit this question.

my es version 1.6.0.

curl -XGET 'http://localhost:9200'
{
  "status" : 200,
  "name" : "Stingray",
  "cluster_name" : "elasticsearch",

[2015-08-14 05:52] xuzha commented on #12839
I'm not sure if this is a bug.
The root causes here block looks like correct. Inside of it, there could be a caused_by key-value pair like this:

[code]

We skip it on purpose, [here] (https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/rest/BytesRestResponse.java#L130)

[2015-08-14 06:01] rjernst commented on #12839
I don't think it is a bug, but a choice that was made. The root_cause stops at a subclass of ElasticsearchException, I believe. Perhaps @s1monw can elaborate on why we don't go down to the original root cause (the IAE here)?

[2015-08-14 06:56] #12867 closed

[2015-08-14 07:39] HenrikOssipoff opened #12869 "Socket appender logging to unavailable Logstash node kills Elasticsearch node"
We experienced an issue today in our production cluster, after a cluster upgrade from 1.6.x to 1.7.1.

(In all of the below, our "Elasticsearch cluster" is a 3 node setup running production data for our e-commerce platform, whereas our "Logstash cluster" is a different setup with other Elasticsearch nodes and the Logstash service)

Our whole Elasticsearch cluster is set to have a socket appender l

[2015-08-14 07:55] Bondza commented on #12795
Alright, casting works fine so I'll remember this the next time I need to do some scripting in Elasticsearch.

Thanks for the help!

[2015-08-14 07:58] xuzha commented on #12842
We should have a better error message here.

And should we just treat every ClassCastException is a 400 rather than 500?  If user send correct request and get 400, OK, you find a bug we are going to fix it.

[2015-08-14 09:11] vrepsys opened #12871 "Unable to find a field mapper for field in nested query using field_value_factor"
Here's the mapping:
[code]

Then doing a nested query using a field_value_factor fails with an error
[code]
The error: **"nested: ElasticsearchException[Unable to find a field mapper for field [weight]]"**

Interestingly, if there's one book in the index with tags - there's no error and the query works well.

**Why is this happening? how can I prevent the error when there are no books with tags in

[2015-08-14 10:11] clintongormley opened #12873 "Add epoch_ms to dynamic dates with format `yyyy/MM/dd`"
When creating date fields dynamically:

    PUT my_index/my_type/1
    {
      "date_one": "2015-01-01",
      "date_two": "2015/01/01"
    }

the date matching `strict_date_optional_time` adds the `||epoch_millis` format as an alternative, but the date matching `yyyy/MM/ss` doesn't:

    {
       "my_index": {
          "mappings": {
             "my_type": {
                "properties": {

[2015-08-14 10:18] clintongormley opened #12874 "Murmur3 fields should not be indexed"
PUT my_index
    {
      "mappings": {
        "my_type": {
          "properties": {
            "foo": {
              "type": "murmur3"
            }
          }
        }
      }
    }

    GET my_index/_mapping/*/field/foo?include_defaults

return: `{"index": "not_analyzed"}`

[2015-08-14 12:02] javanna commented on #12145
Closed by https://github.com/elastic/elasticsearch/commit/1cfe580cb7c9da5657efcaaf2513ff07bcf93a0d

[2015-08-14 12:02] #12145 closed

[2015-08-14 13:12] jpountz commented on #12871
I suspect this is because you gave `weight` instead of `tags.weight` as a field name. For such questions however, please use the [forums](https://discuss.elastic.co/) instead of creating a Github issue. We aim at using Github issues only for confirmed bugs and feature requests.

[2015-08-14 13:12] #12871 closed

[2015-08-14 13:23] jpountz commented on #12866
Indeed in 1.x we have issues because 1.7 tries to allow paths to be prefixed by the name of the path. But then it leads to inconsistencies when a document has the same type as a top-level property, like `mention` in your case. See https://github.com/elastic/elasticsearch/issues/8872 for more information.

[2015-08-14 13:23] #12866 closed

[2015-08-14 13:26] jpountz commented on #12842
I don't think we can generalize that class-cast exceptions are user-input errors rather than internal errors. We should just better validate that fields have the expected type.

It might be harder with scripts as scripts can do pretty much anything, but I assume that if we can make it work well on fields, that would be a good start already.

[2015-08-14 13:27] jpountz commented on #12839
+1 on improving exception rendering to try to better expose the actual root cause of the issue

[2015-08-14 13:32] vrepsys commented on #12871
There's a related question on stackoverflow since a long time ago that gets upvotes, but nobody can answer: http://stackoverflow.com/questions/27274240/function-score-query-with-field-value-factor-on-not-yet-existing-field

Also this issue very similar to this: https://github.com/elastic/elasticsearch/issues/10948
But it is not clear if and how it's been resolved.

Are you sure this is not an issu

[2015-08-14 14:58] dadoonet opened #12880 "Add Google Cloud Storage Repository"
_From @dadoonet on January 28, 2014 21:18_

We want to have Snapshot and Restore available for Google Storage Repository.

_Copied from original issue: elastic/elasticsearch-cloud-gce#11_

[2015-08-14 14:58] dadoonet commented on #12880
_From @merrellb on April 17, 2014 17:42_

Is this the same as Google Cloud-Datastore (https://cloud.google.com/products/cloud-datastore/)?  Definitely would be a great addition (and add feature parity with the AWS plugin)

[2015-08-14 14:58] dadoonet commented on #12880
_From @dspiteself on June 7, 2014 17:29_

+1

[2015-08-14 14:58] dadoonet commented on #12880
_From @benjamin-smith on July 16, 2014 16:6_

+1 !!!

[2015-08-14 14:58] dadoonet commented on #12880
_From @danielschonfeld on July 21, 2014 0:2_

Is this in the works at all?

[2015-08-14 14:58] dadoonet commented on #12880
@tlrx Wanna take it?

[2015-08-14 14:58] dadoonet commented on #12880
_From @tlrx on October 24, 2014 13:21_

@merrellb this issue concerns Google Cloud Storage, which is a cloud based object storage service.

Google Datastore is more a NoSQL data storage service.

[2015-08-14 14:58] dadoonet commented on #12880
_From @tlrx on October 31, 2014 16:45_

@dadoonet @imotov @s1monw I'll be glad if you can review this

[2015-08-14 14:58] dadoonet commented on #12880
_From @vvasanth86 on February 18, 2015 17:28_

Would this be available soon? Thanks!

[2015-08-14 14:58] dadoonet commented on #12880
_From @pires on March 6, 2015 16:3_

+1

[2015-08-14 14:58] dadoonet commented on #12880
_From @thekantian on March 30, 2015 12:55_

What's blocking getting this in? Just spun up an ES cluster in GCE and right now I have 2 choices for backup (I think):

1) rsync files to GCS (the old way of backups, don't get any of the snapshot/restore goodies)
2) set up NFS shared folder on all machines and use as a target (tons of overhead that I don't want to deal with).

Given that GCS exists, wo

[2015-08-14 14:58] dadoonet commented on #12880
_From @tlrx on March 30, 2015 13:0_

@thekantian I apologize for the time it takes but be sure it's still on the road. Some internal classes in elasticsearch have changed multiple times the last few months, making this difficult to test and merge. Now things are stabilized it should not take too much time to be merged.

As soon as it is merged we would be happy to have testers :)

[2015-08-14 14:58] dadoonet commented on #12880
_From @thekantian on March 30, 2015 13:5_

No apology necessary! Thanks for the update - I was just wondering if there was anything I could do to help move it along since I'm sure it will improve the Google Cloud platform experience for ES a lot for us all!

[2015-08-14 14:58] dadoonet commented on #12880
_From @pires on March 30, 2015 14:6_

Great news :+1:

[2015-08-14 14:58] dadoonet commented on #12880
_From @hussein-vastani on April 17, 2015 13:40_

+1
Hoping to see this land soon! My current GCE project has a dependency on this. Thank you.

[2015-08-14 14:58] dadoonet commented on #12880
_From @soundofjw on May 5, 2015 23:26_

Who do we buy :beers: for to see this completed? @tlrx ? :)

[2015-08-14 14:58] dadoonet commented on #12880
_From @simonmorley on May 6, 2015 0:49_

+1

[2015-08-14 14:58] dadoonet commented on #12880
_From @ghost on July 1, 2015 19:18_

+1 !

[2015-08-14 14:58] dadoonet commented on #12880
_From @akleiman on July 1, 2015 19:20_

+1

[2015-08-14 14:58] dadoonet commented on #12880
_From @fvantin on July 1, 2015 19:57_

+1

[2015-08-14 14:58] dadoonet commented on #12880
_From @MaxDaten on July 11, 2015 12:39_

+1

[2015-08-14 14:58] dadoonet commented on #12880
_From @psychonaut on August 13, 2015 9:27_

+1

[2015-08-14 14:58] dadoonet commented on #12880
_From @vishalshah-org on August 14, 2015 12:12_

any updates on this, we are paying big time $$ to backup to S3 from our google cloud infrastructure :( any help appreciated!
thanks.

[2015-08-14 15:46] s1monw commented on #12855
here is another one http://build-us-00.elastic.co/job/es_core_master_centos/6515/consoleFull
@imotov can you take a look?

[2015-08-14 16:30] djschny commented on #12842
+1 @jpountz, I would assume scripts to be out of scope. Not enough gain for the amount of work it would take to handle all cases, etc.

[2015-08-14 17:12] clintongormley opened #12889 "Remove the `network` option from nodes info/stats"
As of https://github.com/elastic/elasticsearch/pull/12054, there is no longer a `network` section in the nodes info and stats requests. The following should no longer work:

    GET _nodes/network
    GET _nodes/stats/network

[2015-08-14 17:43] jaymode opened #12891 "Requests do not always propagate headers/context when retrieving indexed scripts"
In #11060 (issue #10979), the request headers and context of the originating request were copied to all sub-requests. In doing some testing on master, I noticed that in the `ScriptService#getScriptFromIndex` the headers and context were not being copied due to the lack of a `SearchContext`. To see what calls were affected, I added an assert to check if the context was null. When doing so the follo

[2015-08-14 18:56] jasontedor commented on #12838
It's worse than the test reproduction commands not working; at the moment even running a single test class is broken.

[2015-08-14 18:58] s1monw commented on #12838
hmm this is only broken from top level right? can't you just go into the project and run mvn verify from there?

[2015-08-14 19:01] dakrone commented on #12838
If you make changes to the `core` project and want to test a plugin however, this won't work because it pulls a snapshot of ES instead of using the local copy?

[2015-08-14 19:03] jasontedor commented on #12838
@s1monw No, it looks like it no longer supports running integration test classes:

`12:57:34 ⏚ [jason:~/src/elastic/elasticsearch] master ± mvn clean verify -Dtests.class=org.elasticsearch.search.query.SearchQueryIT`

`[INFO] Elasticsearch Core ................................. FAILURE [ 36.993 s]`

`[ERROR] Failed to execute goal com.carrotsearch.randomizedtesting:junit4-maven-plugin:2.1.16:junit

[2015-08-14 19:11] s1monw commented on #12838
I ran `mvn install` which also puts stuff int he local repo so it won't download it. not ideal but it works well for me and not really an overhead.  -Dskip.unit.tests=true

try `mvn clean verify -Dtests.class=org.elasticsearch.search.query.SearchQueryIT  -Dskip.unit.tests=true`
I will look into making this simpler

[2015-08-14 19:31] jasontedor commented on #12838
@s1monw That doesn't work, it is still skipping integration tests (I think because of the way that the plugin is configured (test phase, doesn't include **/*IT.class which is a consequence of the test renaming)).

[2015-08-14 19:53] dakrone opened #12896 "Remove URL from PluginManager"
We should be using `URI` instead.

It'd be great to eventually get `new URL(...)` in the forbidden APIs also.

[2015-08-14 20:30] #12750 closed

[2015-08-14 20:52] #12838 closed

[2015-08-14 21:34] uschindler commented on #12829
Strong +1

[2015-08-14 21:41] rjernst commented on #12896
+1

[2015-08-14 21:42] jasontedor opened #12900 "Accumulate validation errors when validating index templates"
Currently when validating index templates we do not accumulate multiple validation errors. This is mostly a usability issue as in the case of multiple validation errors, we force the user to resubmit their template over and over to iterate through the validation errors. A better approach would be to accumulate these validation errors and report them all to the user.

This issue comes at the [sugge

[2015-08-14 21:43] #12865 closed

[2015-08-14 21:56] craigwi commented on #12759
The pull request I submitted back in June solves this: https://github.com/elastic/elasticsearch-cloud-azure/pull/93.  I learned on a call today that my release notes, which describes this in detail, was not surfaced well.

I added the release notes to the pull request: https://github.com/elastic/elasticsearch-cloud-azure/pull/93.

Craig.

[2015-08-14 22:00] juntezhang commented on #4915
+1

[2015-08-14 22:07] dadoonet commented on #12759
@craigwi see also discussion which happened at https://github.com/elastic/elasticsearch/issues/12760

[2015-08-14 23:06] rjernst commented on #12790
@HarishAtGitHub `version.created` is an internal setting. It is not meant to be set by a user (and thus not documented). In an ideal world, there would be some separate section of the settings (probably outside the `settings` key) which would be used for these internal settings. However, I think this is currently difficult to change. In the meantime, the answer may be something like a "clone" inde

[2015-08-14 23:11] craigwi commented on #12759
The idea of chained repositories in #12760 is not a replacement for the feature discussed here and implemented by my pull request.

Azure storage accounts, when set up with replication of "READ-ACCESS GEO REDUNDANT" automatically replicate to a specific secondary region.  In the case of a storage account "in" US West, the secondary region is (always) US East.  To read from the secondary endpoint f

[2015-08-15 00:33] ppf2 opened #12902 "total_indices in slowlog"
Take the following example with 2 indices ([test] is a 5 shard index, [test_1] is a 1 shard index).

When running a query against both indices, eg. `GET test,test_1/_search`, the following returns:

[code]

If the users look at `[test_1][0]` entry, they will wonder why the query is hitting 6 shards when test_1 only has a single shard.  This is because total_shards is reporting the total number of

[2015-08-15 06:40] s1monw opened #12905 "InnerHitsIT#testRandomNested fails randomly"
[code]
http://build-us-00.elastic.co/job/es_core_master_debian/6915/consoleFull
http://build-us-00.elastic.co/job/es_core_master_suse/1424/consoleFull
http://build-us-00.elastic.co/job/es_core_master_oracle_6/1756/

I will mute the test

[2015-08-15 07:46] IUnknownPtr commented on #2230
+1

[2015-08-15 07:52] clintongormley opened #12906 "Ensure `localhost` works on IPv4 and IPv6"
Today we use `localhost` in all of our curl examples, but Elasticsearch is binding to either `127.0.0.1` or `::1`, and `localhost` may not work.

We should try to bind to both.

[2015-08-15 08:06] clintongormley commented on #12869
Hi @HenrikOssipoff

Thanks for reporting.  Could you add the details about how you set up the socket appender logging? Wondering if this is related to #12542

[2015-08-15 08:07] sbeaupre commented on #11129
I think this does not work for the same reason @nik9000 mentioned in this discussion:
https://discuss.elastic.co/t/mapping-transform-only-for-creating-new-and-not-for-updating/27312/9

[2015-08-15 08:18] clintongormley commented on #12871
@vrepsys your mapping is incorrect.  You used `fields` instead of `properties`.

    PUT books-index
    {
      "mappings": {
        "books": {
          "properties": {
            "tags": {
              "type": "nested",
              "properties": {
                "name": {
                  "type": "string"
                },
                "weight": {
                  "type": "float"

[2015-08-15 08:26] clintongormley commented on #12891
@colings86 please could you take this.

[2015-08-15 08:29] vrepsys commented on #12871
Thank you!

[2015-08-15 08:33] clintongormley opened #12907 "Output PluginInfo only when in verbose mode"
When installing a plugin, the plugin manager outputs PluginInfo by default, which I think it should only do in verbose mode.  Extra points for formatting the info nicely:

    .........................................................................................................DONE
    PluginInfo{name='cloud-aws', description='The Amazon Web Service (AWS) Cloud plugin allows to use AWS API for

[2015-08-15 08:56] clintongormley commented on #12790
I'd definitely like to see a list of "banned" settings, things that can only be set internally.

[2015-08-15 11:57] jprante commented on #12792
Beside of using Elasticsearch by Java API only, I like the feature of disabling HTTP port to protect data nodes in a private network from tampering with them by sending spurious HTTP requests. The disabling of HTTP also assures that HTTP-based overhead (including HTTP client traffic and workload) is not present on that nodes, which may be of some importance in a team environment with distributed t

[2015-08-15 13:59] clintongormley commented on #11878
I've completely rewritten the mapping docs in master - should be much easier to understand now.

https://www.elastic.co/guide/en/elasticsearch/reference/master/mapping.html

[2015-08-15 13:59] #11878 closed

[2015-08-15 15:59] navneet83 commented on #12843
I'll take this one and work on it.

[2015-08-15 16:04] #12046 closed

[2015-08-15 16:04] #12579 closed

[2015-08-15 17:41] clintongormley commented on #8448
Given that rivers have been removed in master, I'm going to close this one.

[2015-08-15 17:41] #8448 closed

[2015-08-15 22:22] icecrime opened #12912 "Querying on a date range"
I'm quite new to Elastic Search, and trying to store and visualize time-series data. I've removed Kibana from the equation, and I'm down with the following behavior that I can't explain.

A document is indexed with what seems to be a proper timestamp:

[code]

Querying with a date range which does include this document:

[code]
Gives me no result:

[code]

Relevant timestamps:
- Query lower bound

[2015-08-15 22:26] steeve commented on #12912
does it work when you replace `query_string` with a `match_all` query ?

[2015-08-15 22:27] icecrime commented on #12912
@steeve Mmm good point but no, same result.

[2015-08-15 22:30] icecrime commented on #12912
Also something that might be relevant here: my mapping has

[code]

[2015-08-15 22:31] steeve commented on #12912
Try and remove `store` from you mapping

[2015-08-15 23:48] dadoonet commented on #12912
Please use discuss.elastic.co for questions. We'll be happy to help there.

Thanks!

[2015-08-15 23:48] #12912 closed

[2015-08-16 02:46] rmuir opened #12914 "multicast is sent over all interfaces by default"
Migration guide says:

Elasticsearch now binds to the loopback interface by default (usually
`127.0.0.1` or `::1`). The `network.host` setting can be specified to change
this behavior.

But this is a little confusing, because it still sends multicast packets over all interfaces (224.2.2.4). Instead, when we are only bound to loopback interface, I think we should use a link-local scoped address (e.

[2015-08-16 03:02] rmuir opened #12915 "-Des.network.host=_eth0_ binds to ipv6 link-local address"
Try this on two linux machines:

bin/elasticsearch -Des.network.host=_eth0_

You will see that it binds to a link-local ipv6 address:

[2015-08-15 22:59:25,266][INFO ][org.elasticsearch.http   ] [Timberius] bound_address {inet[/fe80:0:0:0:f66d:4ff:fe90:ce0c%2:9200]}, publish_address {inet[/fe80:0:0:0:f66d:4ff:fe90:ce0c%eth0:9200]}

Nodes do get multicast packets from each other, but the address is

[2015-08-16 03:45] rmuir commented on #12914
Hmm i'm not sure its as simple as the address, and thats not working from OS X to OS X.

Linux seems ok.

This problem seems to be OS X specific. I'm not sure the current logic around `discovery.zen.ping.multicast.defer_group_to_set_interface` to try to coerce OS x to do the right thing is working. Setting it to false doesn't change anything.

[2015-08-16 05:52] abhas9 commented on #2230
+1

[2015-08-16 09:02] HarishAtGitHub commented on #12790
Ok ... seems like a critical thing ...
so why should the creation_date replication patch wait for this ?
can we review that patch and pull if it deserves a pull ?
and track the version.created separately ?

[2015-08-16 10:44] clintongormley commented on #7288
This is now closed by #11438, #12421, and #11417

[2015-08-16 10:44] #7288 closed

[2015-08-16 10:45] clintongormley commented on #7352
The meta-fields have been locked down so that the configuration they expose is minimal.  Closing

[2015-08-16 10:45] #7352 closed

[2015-08-16 10:47] clintongormley commented on #7946
This has been resolved in other tickets

[2015-08-16 10:47] #7946 closed

[2015-08-16 10:54] #8870 closed

[2015-08-16 10:58] clintongormley commented on #9061
@bleskes is this still relevant?

[2015-08-16 11:01] bleskes commented on #9061
yes. it is. Added an adopt me label.

[2015-08-16 11:03] clintongormley commented on #9878
Fixed in master. Closing

[2015-08-16 11:03] #9878 closed

[2015-08-16 11:08] clintongormley commented on #10491
I don't think we should make another change to the default scripting language until we have a proper replacement which works across the board.  Closing this for now.

[2015-08-16 11:12] clintongormley commented on #11455
@jaymode @uboness anything more to do here?

[2015-08-16 11:43] HarishAtGitHub opened #12918 "Small code Refactor - shard variable dependency from processFirstPhaseResults as shard is no more needed"
this is a small commit to remove the
shard variable dependency from processFirstPhaseResults as shard is no more
needed here . it only deals with the results obtained from the synchronous search on each shard.
It is [here](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/action/search/type/TransportSearchTypeAction.java#L361)

[2015-08-16 11:44] HarishAtGitHub commented on #12918
pull request : https://github.com/elastic/elasticsearch/pull/12917

[2015-08-16 14:09] s1monw commented on #12905
I muted the entire InnerHitsIT test I suspect this is related to https://github.com/elastic/elasticsearch/pull/12261 which changed lately

[2015-08-16 15:27] dakrone commented on #12914
When I originally added `discovery.zen.ping.multicast.defer_group_to_set_interface` it was because though OSX would bind to `lo0`, it wouldn't send the multicast packet throw that interface (using `en0` instead) so it couldn't discover other nodes bound to 127.0.0.1. I verified the behavior with tcpdump, but perhaps it has been since fixed.

[2015-08-16 15:39] rmuir commented on #12914
Yeah, its not behaving the same as linux machines: those seem fine. Keep in mind its tricky to verify with tcpdump, in most cases I think you need to join the multicast group for tcpdump to show the packets. Its easier to just bring up an ES node on another machine in the ethernet network and see if its getting multicast packets.

[2015-08-16 17:33] dakrone commented on #12915
Confirmed this locally, when I do `bin/elasticsearch -Des.network.host=_wlp3s0_` it binds to the link-local IPv6 address (`bound_address {inet[/fe80:0:0:0:8638:35ff:fe5e:93ce%2:9300]}`) even though this is not a loopback interface. Interestingly enough, it sends multicast **from** the IPv4 address for the `wlp3s0` interface, see:

[code]

Since this affects 2.0, what do you think about defaulting

[2015-08-16 17:38] nik9000 commented on #12915
We could absolutely add more tests around this with vagrant. Spin up a
couple of machines with a private network and have more bats tests. I don't
know if we can do osx vms though.
On Aug 16, 2015 10:33 AM, "Lee Hinman" <notifications@github.com> wrote:

[2015-08-16 17:40] dakrone commented on #12915
We should also test IPv6-**only** machines to ensure we have no hard requirement on IPv4-specific behavior.

[2015-08-16 17:48] jasontedor commented on #12915
We can technically do OS X VMs but we can't legally do OS X VMs until we provision some Mac hardware for our CI infrastructure and run OS X as the host OS. Tests utilizing these VMs could only run on this hardware.

From the [OS X 10.10 EULA](http://images.apple.com/legal/sla/docs/OSX1010.pdf):

[2015-08-16 17:54] nik9000 commented on #12915
It looks like there are a couple of OSX boxes in vagrant atlas too. So that
should be possible.

Nik

On Sun, Aug 16, 2015 at 10:48 AM, Jason Tedor <notifications@github.com>
wrote:

[2015-08-16 18:00] dakrone commented on #12906
Related to https://github.com/elastic/elasticsearch/issues/12914 and https://github.com/elastic/elasticsearch/issues/12915

[2015-08-16 19:48] rmuir commented on #12915
One problem with that i simple stuff like `localhost` isn't going to work. Stuff like curl is simply not going to care. When I played with this issue, i ended out with all kinds of interesting situations: advertising 127.0.0.1 on ethernet multicast, advertising ipv6 over ipv4, etc.

I think it was buggy all along but hidden by the fact that things were binding to all interfaces or whatever before?

[2015-08-16 21:59] #12905 closed

[2015-08-16 23:17] mockiemockiz opened #12920 "2 nodes using same configuration file."
Hi, I'm learning elasticsearch and trying to run multiple nodes or 2 services of elasticsearch. the both work smoothly but the both use the same config file even I already point the another one to use different config file.

[code]

as you can see above :

[code]

but it seems the node ignore `/etc/elasticsearch/elasticsearch1.yml` file. I'm using ubuntu and this is my service file https://gist.gi

[2015-08-16 23:18] markwalkom commented on #12920
Please join us in #elasticsearch on Freenode or at https://discuss.elastic.co/ for troubleshooting help or general questions.

We reserve Github for confirmed bugs and feature requests :)

[2015-08-16 23:18] #12920 closed

[2015-08-16 23:43] markwalkom commented on #9357
Just wanted to poke the bear here to see if we can get this resolved, it's a performance hit that should be simple to fix and it'd be great to see in 2.0.

[2015-08-17 03:25] xuzha commented on #12889
Here's a quick fix.

[2015-08-17 05:38] KennFalcon opened #12923 "The differences between filter and query?"
There are some same points between filter and query when I use Java api. What are the differences between them? When we send the same request, which one can return the response faster?

[2015-08-17 05:40] markwalkom commented on #12923
Please join us in #elasticsearch on Freenode or at https://discuss.elastic.co/ for troubleshooting help or general questions.

We reserve Github for confirmed bugs and feature requests :)

[2015-08-17 05:40] #12923 closed

[2015-08-17 05:53] chenryn commented on #12415
I got the same problem again:

[code]

[2015-08-17 07:36] #12135 closed

[2015-08-17 07:38] #12842 closed

[2015-08-17 08:48] wadekun opened #12925 "common.network failed to resolve localhost"
in linux:

[root@Search bin]# ./elasticsearch
[2015-08-17 16:39:06,294][INFO ][node                     ] [Vivisector] version[1.7.1], pid[8548], build[b88f43f/2015-07-29T09:54:16Z]
[2015-08-17 16:39:06,300][INFO ][node                     ] [Vivisector] initializing ...
[2015-08-17 16:39:06,451][INFO ][plugins                  ] [Vivisector] loaded [analysis-ik], sites [head, kopf]
[2015-08-17 16

[2015-08-17 08:55] nandini-r commented on #283
@clintongormley I tried with 1.7.1 and still the same log appears

[2015-08-17 08:55] wadekun commented on #12925
modify the hosts

[2015-08-17 09:01] SalahAdDin commented on #12925
jajajajajajajjajaja

[2015-08-17 09:11] krisb78 opened #12926 "Shards stuck in INITIALIZING"
I have a fairly large index (~3.5 million documents, with nested fields, some of the docs are quite large) where the documents are being updated a lot.

A while ago the cluster went into the yellow state and I'm seeing a number of shards stuck in the "INITIALIZING" state:

[code]

Naturally, I can't optimize this index anymore:

[code]

Here's an excerpt from the log file that may shed some light

[2015-08-17 09:14] #12925 closed

[2015-08-17 10:17] tommoholmes10 opened #12928 "How to install license shield"
I want to update my shield because time it's expiry
when I run
``
curl -XPUT -u admin 'http://localhost:9200/_licenses' -d @license.json
``
I have message like this
``{"error":"ElasticsearchParseException[Failed to derive xcontent from (offset=0, length=0): []]","status":400}``

[2015-08-17 10:19] markwalkom commented on #12928
You should really chat to the Elastic support team about this, because assistance for installing licensed plugins is covered with your subscription :)

[2015-08-17 10:25] tommoholmes10 commented on #12928
Okee thanks

[2015-08-17 10:31] markwalkom commented on #12928
I've asked someone from the Shield team to drop in, however I would encourage you to contact the Support team ASAP to get this resolved, especially if your license is expired.

[2015-08-17 10:50] markwalkom opened #12930 "Preregistered templates ignores custom es.config"
While [the docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-template.html#pre-registered-templates) refers simply to `config/scripts`, it doesn't actually use `es.config` if you pass that in yourself, and instead relies on `$ES_HOME/config/scripts`.

Here's an example, even with a valid script (ie not an empty one) it just ignores the config path;
[code]
You can see it

[2015-08-17 10:51] jaymode commented on #12928
@tommoholmes10 is your license file empty? I was able to reproduce the exception you got with an empty license file, which is to be expected.

[2015-08-17 10:59] clintongormley commented on #12926
Are you setting the cluster timeout somewhere? I'm seeing `timeout setting [60ms]` while the timeout in the code is 60 seconds.  Also, what logs are you seeing in the other nodes (eg `cubitsearch-2`) about why recovery is failing?

[2015-08-17 11:11] espenwa commented on #12804
Would it be possible to re-evaluate the 2.1.0-scheduling of this issue? A very simple timed retry every x minutes would do wonders for the usability of the tribe-feature.

[2015-08-17 11:28] feifeiiiiiiiiiii opened #12932 "agg question"
I create `two type` in a `index`, mapping as follows:

`userinfo` mapping
[code]

`wx` mapping
[code]

`type wx` field `userinfo` and `type userinfo` use the `same name`, then I use `aggs` in `wx` field `userinfo.country`, but don't get results

why??

[2015-08-17 11:36] HarishAtGitHub commented on #12790
FYI: I just started to work on this on "version.created" part . I will update my progress in a day ....
what is the timeline for this issue completion(as I see 2.0 tag in this thats y asking this Q) ?
Is it ok for a person(me) who has has a week experience in code base do this ?

If you want this to be done by experts I am fine , as I don't want to be a blocker . No worries ...
I am fine with any

[2015-08-17 11:38] jaymode commented on #11455
@clintongormley I think we still need to cleanup the code a little, (copied the first bullet from above):

* Consolidate code that handles replacing the placeholders to one place. Right now we have it in the Settings and the InternalSettingsPreparer. This logic is really internal and should not be exposed in the Settings

We also didn't decide on the `config.ignore_placeholders` setting. Maybe @ub

[2015-08-17 11:41] jpountz commented on #12932
I suspect this is due to the fact elasticsearch allows types to be part of paths, which introduces ambiguities. For instance with "userinfo.country", it's not clear whether it is the country field of the userinfo type or the userinfo.country field of the wx type. In 2.x providing the type will not be supported anymore: https://github.com/elastic/elasticsearch/issues/8872

[2015-08-17 11:41] #12932 closed

[2015-08-17 11:47] markwalkom commented on #12928
It looks like you have also raised this on our forums - https://discuss.elastic.co/t/license-shield/27493/3

I'll close this as Github is for bugs or feature requests, not support.

[2015-08-17 11:47] #12928 closed

[2015-08-17 11:49] krisb78 commented on #12926
I'm setting the `timeout` param on bulk requests to "60", I'm assuming it's coming from there.

Here's what I see in the logs on cubitsearch-2:

[code]

[2015-08-17 12:00] krisb78 commented on #12926
Also, I changed the timeout on these bulk requests to `60 * 1000` and am now seeing:

[code]

[2015-08-17 12:01] bleskes opened #12934 "PluginManagerUnitTests.testSimplifiedNaming fails due to an unexpected url"
See: http://build-us-00.elastic.co/job/es_g1gc_master_metal/15392/testReport/junit/org.elasticsearch.plugins/PluginManagerUnitTests/testSimplifiedNaming/

[code]

My guess this relates to the latest refactoring work on the build system.

[2015-08-17 12:03] krisb78 commented on #12926
Every now and then I'm also seeing things like:

[code]

[code]

[2015-08-17 12:23] HarishAtGitHub commented on #12790
May be this should also be removed from the docs [here](https://www.elastic.co/guide/en/elasticsearch/reference/1.6/indices-create-index.html#_creation_date)

[2015-08-17 12:26] clintongormley commented on #12930
I think we should remove the `-Des.config` option.  It points just to the config file itself, not the config directory.  If the specified path is relative then it looks for it under `path.config`.

Setting `--path.config` is the correct way to specify a custom config dir

[2015-08-17 12:33] clintongormley commented on #12926
You're setting it to 60 milliseconds, not 60 seconds. Try `60s`.

[2015-08-17 12:34] bleskes commented on #12415
@chenryn sorry for not getting back to you - I was out for two weeks. The flag is something internal and is not serialized to the rest api. You can see it if you connect via the Java API. You say you don't use any plugins. Is there anything else in your deployment that may be unusual? Do you embed ES? Can you reproduce this by any chance with a small setup you can share?

[2015-08-17 12:35] bleskes commented on #12934
This was fixed already but the commit (https://github.com/elastic/elasticsearch/commit/ee4bdf45423c52b2baf2e5b610122d97c9ce2687 ) wasn't cherry-picked to master. Fixed.

[2015-08-17 12:35] #12934 closed

[2015-08-17 12:46] #12889 closed

[2015-08-17 12:50] krisb78 commented on #12926
Yep, done that, please see above.

[2015-08-17 12:54] clintongormley commented on #12926
ok, looks like the root of the problem is here:

    Caused by: org.apache.lucene.store.LockObtainFailedException: Can't lock shard [joint_user_summary_v1][5], timed out after 5000ms

This looks like a duplicate of #12011.  I think the only thing you can do here is to restart your nodes (one by one).  We're still trying to figure out what is causing this issue.

[2015-08-17 12:54] #12926 closed

[2015-08-17 13:02] krisb78 commented on #12926
I did restart all of them a couple of times, but it didn't help...

Thanks for your prompt responses though, I'll be keeping an eye on https://github.com/elastic/elasticsearch/issues/12011

[2015-08-17 13:03] dadoonet opened #12935 "[snapshot] support multiple credentials in elasticsearch.yml"
Based on https://github.com/elastic/elasticsearch-cloud-azure/pull/93#issuecomment-131810017

We need to support in  `elasticsearch.yml` multiple credentials.
We could imagine that as a generic feature whatever repository type you want to use.

Let say that we can now create something like:

[code]

Then when we create the repo, we can specify which credentials we want to use:

[code]

[2015-08-17 13:05] fransflippo commented on #12338
I will work on a PR for amending the documentation (probably in https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-transport.html). If there's a production deployments page I'll see if I can add a comment about setting keepalive there as well.

[2015-08-17 13:37] rmuir commented on #12906
I'm working on this: I've made progress but need a few more hours to have something to show.

[2015-08-17 14:46] gibrown commented on #7288
@clintongormley thanks to you and everyone else for these improvements.

[2015-08-17 15:58] nik9000 opened #12941 "Elasticsearch doesn't want to stop"
I did a large-ish bulk load on my laptop over the weekend of about five million documents into Elasticsearch 1.7.1. They were large-ish so I set the refresh_interval to `-1` during the load process and to `1s` after it was finished. I also sent a `_flush` to the index after all the documents were loaded so I could send a `_count` and get accurate numbers.

Anyway, after that I tried to stop Elasti

[2015-08-17 18:37] s1monw commented on #12941
do you have a stack dump from this?

[2015-08-17 18:39] nik9000 commented on #12941
Those two links above are stack dumps of the threads that I think are the trouble. I can take a stack dump of the whole thing though.

[2015-08-17 18:40] nik9000 commented on #12941
https://gist.github.com/nik9000/85b3172585a7a47e2ee5

[2015-08-17 18:46] s1monw commented on #12941
this helps I will update you with ideas later!

[2015-08-17 19:17] nik9000 commented on #12651
Ok! All done. The tests all use the jvm-example plugin and no longer try to use watcher. They deserve some more refactoring and we should really be installing all the plugins to make sure they make it. But I'll do that under #12717.

[2015-08-17 19:18] #12651 closed

[2015-08-17 19:20] nik9000 commented on #12651
Silly closed icon! I didn't reject this issue! I fixed it in four different pull requests!

[2015-08-17 19:22] s1monw commented on #12941
I acutally think we always had that problem but since https://github.com/elastic/elasticsearch/pull/10833 it's showing. We forced -9 basically before. In master / 2.0 this issue is gone since we don't call maybeMerge

[2015-08-17 19:23] rmuir opened #12945 "multicast ping should work over ipv6"
followup to #12942

Currently this is only going to work over ipv4, due to the address used. We should support a pure v6 environment: maybe it works today if you use a -D to change the address, but it sorta defeats the purpose of not requiring configuration:)

However, I think its best to get #12914 straightened out on the OS X first, to eliminate any confusion.

[2015-08-17 19:24] mikemccand commented on #12941
Thanks @nik9000, what's happening is merges are falling way behind (laptop hard drive), and in ES 1.x we let Lucene's CMS do hard throttling of new merges in this case.

But in 2.0 this should be fixed with the Lucene upgrade just before https://github.com/elastic/elasticsearch/pull/8643 ... if you can re-run your test with 2.0 beta that would be great :)

[2015-08-17 19:28] nik9000 commented on #12941
I'll do that.

I have two questions then:
1. Is it ok that 1.7-ish can get into a state where their init/systemd scripts won't kill them? I imagine its helpful to have this issue be google-able but is that enough?
2. In the case of my load going on right now can I safely `kill -9` elasticsearch? I suspect so, but it took a long time and I just want to make sure.

[2015-08-17 19:29] s1monw commented on #12941
by that time yes

it was always the case just hidden

[2015-08-17 19:33] pickypg opened #12946 "[Docs] Provide List of Expected Exceptions"
With the introduction of structured exceptions, it would be great if we could start to list all _expected_ exceptions and what they mean to the catcher (e.g., can they retry? should they retry?).

I think it should start simple with Search exceptions and Indexing exceptions, then build out from there. Perhaps we should even have an error code system to make looking them up easier?

[2015-08-17 19:46] #12906 closed

[2015-08-17 19:46] #12915 closed

[2015-08-17 19:47] #10170 closed

[2015-08-17 20:14] pickypg commented on #12279
I definitely agree that, in general, the difference between a replica and a primary shard is practically none (minus the fact that the primary must also wait for a response). In the above screenshot, there are zero updates taking place and there are no shadow replicas in play.

I completely agree, especially about it being a hard problem. Unfortunately, in the above picture, it was doing the recov

[2015-08-17 20:46] dennisgorelik commented on #11919
Uptime: 20.6d
ElasticSearch server has been working without reboot for over 3 weeks already.
That means that parameterizing query helped preventing timeouts and need for rebooting ES Server (by preventing memory leaks from constant ElasticSearch queries parsing).

[2015-08-17 21:32] nik9000 commented on #12941
Indeed - this problem doesn't happen in the 2.0 branch. Elasticsearch sits there for a few seconds after being killed, obviously trying to finish something off, and then dutifully dies. Sometimes it logs a nice error about jobs being submitted to killed thread pools. It still dies. Which is great.

[2015-08-17 21:32] #12941 closed

[2015-08-17 21:45] zombiepig01 commented on #12011
I am seeing this same issue on my (small) cluster.  I bulk-index about 200M documents with index.refresh_interval:-1 and index.number_of_replicas:0.  Shortly after setting index.number_of_replicas:1, I started seeing the failed shard errors.  Seems to be repeatable.  Let me know if I can send any info that might help.

[2015-08-17 22:47] jb-san opened #12949 "Can't i find children of parent"
[code]
Why doesn't this work ? I can find the children of post with id = 1 but not 2

[2015-08-17 23:27] jb-san commented on #12949
never mind found the documentation about the routing

[2015-08-17 23:27] #12949 closed

[2015-08-17 23:36] markwalkom commented on #8786
Any way we could get this into an early 2.X release?

[2015-08-18 00:37] rmuir commented on #12914
There is a JDK bug here.
When the address is a loopback address, we should set TTL=0, so that no packets leave the machine.
However, this does not work on OS X.

Its the exact same issue as https://bugs.openjdk.java.net/browse/JDK-6250763, just that was only fixed on Linux, not fixed on OS X, even with recent java 9 builds.

if i set TTL to 0, and try to send to an IPV4 address, I still send multi

[2015-08-18 01:20] lokeshhctm opened #12950 "Can we move in-memory index to disk dynamically?"

[2015-08-18 02:34] #12855 closed

[2015-08-18 05:42] pataditya commented on #8708
+1

[2015-08-18 05:56] s1monw commented on #8708
I think we can close this @bleskes since we now allocate them fresh on the corrupted node from the primary?

[2015-08-18 07:02] jimhooker2002 commented on #12907
Got a fix for this.  I'll submit the pull request later today.

[2015-08-18 07:32] s1monw commented on #12855
thanks igor!!

[2015-08-18 07:47] HarishAtGitHub commented on #12790
Hi,
    I  raised a PR for version.created problem : https://github.com/elastic/elasticsearch/pull/12854

Please give feedback and I can refactor the patch.

Note about Test case results:
*********************************

I built and all tests PASSED except the "Smoke test shaded jar"
see build log here: https://gist.github.com/HarishAtGitHub/aa8539a5c56cb4ad48b9
. and I hope this has nothing to

[2015-08-18 10:05] jpountz commented on #12950
No. Besides, the memory store will be removed in 2.0.

[2015-08-18 10:05] #12950 closed

[2015-08-18 10:07] brwe commented on #12712
I made a pr with the first option (another project in qa/ that installs/removes plugins with custom paths) here: #12954.
I wonder if a bats test for this would be better though. Maybe @nik9000 has an opinion on this?

[2015-08-18 10:09] #12874 closed

[2015-08-18 10:43] bleskes commented on #8708
+1 to close this.  A corrupted shard should be replaced with a fresh copy now.

[2015-08-18 11:23] #12852 closed

[2015-08-18 11:25] clintongormley commented on #11919
thanks for letting us know.  We have added the number of script compilations to the stats API so that this problem will be easier to diagnose in the future https://github.com/elastic/elasticsearch/pull/12733

[2015-08-18 11:25] #11919 closed

[2015-08-18 11:39] jpountz commented on #12918
Fixed via #12917

[2015-08-18 11:39] #12918 closed

[2015-08-18 12:03] lexand commented on #11419
Salutations
have the same issue but cannot determine why

newly created index
insert 50 random documents (one text field per each doc) with autogenerated _id

Search without scroll
[code]
[code]

But search with scroll returns next
[code]
[code]

And totally 32 documents are returned

[code]
ES Version
[code]
Index settings
[code]

[2015-08-18 12:20] lexand commented on #11419
hmm

but when I requested scroll with  'scroll' => '1m'
[code]
i got all 50 documents

[2015-08-18 12:45] dennisgorelik commented on #11919
1) Do you plan to allow Garbage Collector to release memory from old ES queries compilations in case if there are hundreds of thousands of ES queries compilations (like we had)?
In our case it was easy to switch to parameterized query. But it is not always that easy.
Robust product should be able to work well with constantly changing queries.

2) Does slowlog still need to be fixed?
My guess is th

[2015-08-18 13:07] hisuwh commented on #12410
Any progress on this? Just ran up against this again.
Main problem is that I'm using the filters aggregation to create multiple filters.

The only other way to do this is to have multiple aggregatoins but this is going to get a lot more complicated.

[2015-08-18 13:19] hisuwh commented on #12410
What I have had to (which I personally think is horrible)

'''

{
   "aggs": {
      "applications": {
         "nested": {
            "path": "Applications"
         },
         "aggs": {
            "another_aggregation": {
               "filter": {
                  "term": {
                     "Applications.SomeFlag": true
                  }
               },
               "aggs": {

[2015-08-18 13:57] mouzt opened #12958 "Can't specify parent if no parent field has been configured"
type=scenic_quote  mapping:
[code]

type=scenic_schedule  mapping:

[code]

got error
Can't specify parent if no parent field has been configured

how can I resolve this question?
gratefully

[2015-08-18 15:00] mouzt opened #12960 "parent/child no matches found error"
got a error no matches found error
[code]
then put child doc
[code]
then got error:
no matches found: localhost:9200/scenic_index/homes/11?parent=1233

mapping:
[code]

gratefully

[2015-08-18 15:18] HarishAtGitHub commented on #12391
FYI: Just now started working on this .... Will record my observations soon .

[2015-08-18 15:45] jbghoul opened #12962 "SearchSourceBuilder.field() method is not accessible through TopHitsBuilder"
The class TopHitsBuilder provides addFieldDataField() method which calls directly SearchSourceBuilder.fieldDataField(), but there is no way to access to SearchSourceBuilder.field() through TopHitsBuilder.

[code]

Could it be possible for TopHitsBuilder to have a new public method addField() that calls SearchSourceBuilder.field()  ?

[2015-08-18 15:56] clintongormley commented on #11419
@lexand you are not using the new scroll ID from the previous scroll response.  Please ask questions like these on the forum instead: http://discuss.elastic.co/

[2015-08-18 16:21] pickypg opened #12963 "Replicate Closed Indices"
Closing an index is a good way to save memory and to remove unneeded indices from your cluster without deleting the data. It can also help to improve performance if you have an extremely long retention period where you rarely query the oldest info. This allows indices to be opened on-demand, then closed when you are done.

However, there's a small problem with closed indices: they aren't replicate

[2015-08-18 16:21] clintongormley commented on #12958
@mouzt what exception? what version of ES? what were you trying to do?

Please ask questions like these on the forum http://discuss.elastic.co/ (but still provide the details above so that people have enough information to understand what the actual problem is)

[2015-08-18 16:21] #12958 closed

[2015-08-18 16:22] clintongormley commented on #12960
Please ask questions like these on the forum: http://discuss.elastic.co/

[2015-08-18 16:22] #12960 closed

[2015-08-18 17:18] blakeparker commented on #11116
It would be very helpful to also add back the ability to disable compression as well.  We have our ES nodes virtualized and stored on a Pure Storage array that does inline dedup and compression, however the ES compression completely breaks its dedup features.

[2015-08-18 17:32] dadoonet commented on #12651
@nik9000 Why did not you push your change to 2.0 branch? On purpose?
cc @clintongormley

[2015-08-18 17:38] rjernst commented on #12963
Isn't the way to do this to take a snapshot?

[2015-08-18 17:39] tdoman commented on #4756
+1, has this been addressed yet?  i must be able to use the alias.

[2015-08-18 17:44] pickypg commented on #12963
Snapshots are always the ultimate disaster recovery scenario and they are absolutely the best solution, but you don't even know that you need to restore from the snapshot until opening the index fails due to missing shards for closed indices.

[2015-08-18 18:09] bleskes commented on #12963
I think there is merit to this issue (although it requires a big but doable conceptual change - closed shards). The main use case for closed indices is an easy-to-access archive. It’s good for the cluster to react if one the archived copies is lost (server blows up) and make sure we create a new copy of the data.

[2015-08-18 18:50] nik9000 opened #12969 "detect_noop on index api"
Currently you can send the same data over and over again to the index api and the document will be reindexed even if it hasn't changed. Maybe we should not reindex it? We're already looking to default detect_noop to true for the update api (#11282) so this isn't that big a change conceptually.

[2015-08-18 19:35] HarishAtGitHub commented on #12391
made a pull request : https://github.com/elastic/elasticsearch/pull/12971

Note : The problem will go away here  geo distance . But will be present in a number of other parsers.

may be  each other parser can be fixed as and when some one reports.(as the number of locations depending in token variable is huge)

[2015-08-18 19:36] dakrone commented on #4989
I believe this is fixed by https://github.com/elastic/elasticsearch/pull/12942

[2015-08-18 19:36] #4989 closed

[2015-08-19 01:30] TinLe opened #12975 "Add /_cat/clusters for tribe nodes"
This is an enhancement request.  It would be nice to have something like a /_cat/clusters API for tribe nodes to return the list of clusters the tribe node know about.  Also good to know those that are connected and healthy vs those that are not connected/not healthy.

I am currently using /_cat/nodes?h='h,i,n' and look in node name for node name that has a '/' in it to figure out the tribe cluste

[2015-08-19 01:32] markwalkom commented on #12975
Great idea!

[2015-08-19 04:55] ppf2 commented on #4707
@dakrone @clintongormley Here is another [use case](https://gist.github.com/ppf2/e56c34151113115c1266) from the field.  Is this a bug or not currently supported (a feature)?  Don't think default_operator:AND will help here since the use case is to return both documents in the example. thx

[2015-08-19 09:14] michielhn commented on #11715
@nknize can you elaborate how this would look like in the future? I am practically looking for the same solution w/o having to redefine the log output from our applications.

[2015-08-19 09:30] #12873 closed

[2015-08-19 09:32] jpountz commented on #11116
The ability to disable compression won't come back. By the way it only applied to a part of the index (stored fields and term vectors), while it has never been possible to disable compression on the terms dictionary, postings, position data, doc values, etc. According to the documentation, PureStorage does deduplication of blocks of 512 bytes and uses LZO for compression so I don't think that disa

[2015-08-19 10:59] cbuescher commented on #12715
Merged #12775 with master, @clintongormley let me know if an when this should go to the release branch. It should be backported together with #12879 in this case.

[2015-08-19 11:58] rmuir commented on #12914
I'm closing this: nothing can be done except to fix the JVM. it must make the correct system calls.

[2015-08-19 11:58] #12914 closed

[2015-08-19 12:44] electrical opened #12984 "1.7 and 2.0 missing snapshot rpm packages"
1.7 and 2.0 branches are missing the rpm snapshot packages.

[2015-08-19 13:10] s1monw commented on #12984
can you provide example URLs for this please? It's not clear which misses what, thanks

[2015-08-19 13:14] electrical commented on #12984
https://s3-eu-west-1.amazonaws.com/build.eu-west-1.elastic.co/origin/1.7/nightly/JDK7/elasticsearch-latest-SNAPSHOT.deb exists for example for the 1.7 branch but there is no rpm equivalent.
For 2.0 branch

https://s3-eu-west-1.amazonaws.com/build-eu.elasticsearch.org/origin/2.0/nightly/JDK7/elasticsearch-latest-SNAPSHOT.noarch.rpm is empty because there rpm is not generated and the symlink we crea

[2015-08-19 13:23] dadoonet commented on #12984
It's a bug. Maven profiles are executed first then inner properties are evaluated.

We defined:

[code]

And

[code]

When the `profile` part is evaluated, `packaging.rpm.rpmbuild` has not been set yet.
So we end up to evaluate `<exists></exists>`.

That's why this profile is never executed, and the rpm module is not added to the reactor.

I'll come with a fix.

In the meantime, running `mvn deplo

[2015-08-19 13:23] Avricot opened #12987 "Opening an index with a missing analyzer stopword file result in a node unavailability"
Is it ok that opening an index with a missing analyzer stopword file returns {"acknowledged":true} and enter in a loop searching/waiting for the missing file, resulting in a global node unavailability ?
I think it should just return an error, keep the index closed and the node healthy.

Test :

        echo "le\nla\nles\n" > /home/quentin/stopwords_fr.txt

        read -d '' POST <<EOF
        {"s

[2015-08-19 13:26] colings86 opened #12988 "Cardinality Agg wrongly accepts sub aggregation"
On the REST API you can construct a request for a cardinality aggregation which has a sub-aggregation.  This should not be allowed since the Cardinality aggregation is a metrics aggregation.

[code]

This returns
[code]

It should instead throw an error response back.

[2015-08-19 13:30] jasisz commented on #8877
Just digged to that PR from the annoucment about removing delete by query and delete mapping in Elasticsearch 2.0. As far as I understand the problem is that the field name is stored directly in index and it is not possible to use it later with different type settings.

So how it will behave if in one index I have two types with mappings that have different types for the field named e.g. `height`

[2015-08-19 13:37] #12988 closed

[2015-08-19 13:58] vvcephei commented on #10417
I have had some trouble with this as well. Sadly, it's been long enough that I won't be able to remember the details for debugging. (I just happened to see this issue while looking for something else.)

What I can say is that I've been able to (as far as I can tell) eliminate the possibility of missing data during a scroll by counting the number of documents I've seen and checking at the end of th

[2015-08-19 14:10] vvcephei commented on #9172
This is something that we'd dearly love to see as well. In fact, we would be satisfied with just a regular full query log. We almost took a crack at implementing it and sending a PR, but decided just to update and use the Jetty plugin instead.

We were a little apprehensive about using the 0ms slow query log, as we have pretty high query volume (8k requests/sec), and we weren't sure we could trust

[2015-08-19 14:29] vvcephei opened #12992 "Log slow queries as json, not binary."
In the Java client, you can compose the query either by adding String source chunks or by using another builder, like the Aggregation builder and adding the aggregation to the query. There is a quirk, though: if you use a builder, the only way to contribute it to the query is to first turn it into a byte[]. When you do this, the query ultimately gets logged as half-json, half-binary-string in the

[2015-08-19 14:45] nirmalc commented on #9172
+1 , @clintongormley is this "adoptme" one ? we need this feature too  and open to working on it .

[2015-08-19 14:49] rmuir opened #12993 "elasticsearch listens on udp port 54328 on all network interfaces by default"
This is unrelated to sending multicast packets "too far" (#12914), which is an OS-X specific bug.

This is the client side bind (See MulticastSocket ctor), and happens on linux.

Unfortunately, because linux `lo0` address does not support multicast, this is the only reason discovery works out of box today. You cant listen on `lo0` only.

[2015-08-19 16:42] #12278 closed

[2015-08-19 17:08] acassaignemondeca opened #12996 "Ordering Significant Terms aggregation"
Hello,

from a discussion on Elastic forum it seems impossible to order results from a Significant Terms aggregation, the 'order' parameter is not handled.

Is it possible to add 'order' as in the Terms aggregation ?

Best regards,
Arnaud

[2015-08-19 17:31] roytmana commented on #12721
@clintongormley is the plugin the same as transport-wares project that allows embedding elastic into a servlet application? I assume it is not the same but if it is, I would like to keep it very much as we and quite a few people I know use it for small embedded single node elastic deployments

[2015-08-19 17:54] jasontedor commented on #2028
The scan search type will be deprecated by #12994 in favor of a scroll search ordered by `_doc` (optimized in #12983). This deprecation obviates the need to address this issue.

[2015-08-19 17:55] #2028 closed

[2015-08-19 18:07] kurtado opened #12998 "Ability to set default geo_point value"
Spoke with @nknize about the possibility of setting a default geo_point lat/lon value, and he said it would be possible to add this feature.

[2015-08-19 18:28] kjelle commented on #6914
+1

[2015-08-19 18:30] kjelle commented on #10008
+1

E.g. im optimizing a 24shard index from 1127 segments down to max_num_segments=1... it would be nice to see that it is actually moving forward, estimate how long it will take etc.

[2015-08-19 18:58] cmfatih opened #13000 "Question: Tribe node and search.queue?"
I have a question... Let's say we have 3 tribe nodes, 10 data nodes and # of replicas is 1 for each shard. How tribe nodes balance requests? Or even does it balance requests? Sometimes I see that while one node over loaded by search queries, the other node (which has replica of that shard) just sits and do nothing. Would be using only one tribe node help in this case? Or they are not related at al

[2015-08-19 19:23] pickypg opened #13002 "Add Build info to the plugin properties by default"
When debugging, it's often nice to see things like the build time and commit hash of the current build to find accidental differences. With the new plugin properties, we can add that information by default:

[code]

This can be added to the build without requiring any additional properties.

[2015-08-19 19:28] inqueue opened #13003 "API to show the number of index fields"
I have seen a few issues where having a count of fields across indices would have been helpful to have for troubleshooting indexing performance, OOME, etc. Although this information can be gathered from mappings, it could be useful to show a count of index fields akin to what Lucene's CheckIndex tool displays per segment.
[code]
Does this functionality exist in another API?

[2015-08-19 19:39] pickypg opened #13005 "Show build hash/timestamp for plugins in verbose mode"
Based on @dadoonet's comment in #13004

[2015-08-19 20:10] ddombrowskii commented on #4915
+1

[2015-08-19 20:29] juntezhang commented on #4915
I think paging should be supported when count is not used in the aggregations. For example, I am using the Terms Aggregation to get a distinct set of values of a field only. I do not need the counts. However, since my distinct set of values is huge, paging is needed for performance. I am trying to solve this with script-based filtering by creating groups of the values to speed up the aggregation,

[2015-08-19 21:03] kjelle commented on #7464
+1

[2015-08-19 21:35] jimhooker2002 commented on #4665
This looks like the fix to me: https://github.com/jimhooker2002/elasticsearch/compare/master...jimhooker2002:issue-4665

I'll rebase and submit a pull request unless anyone has any comments before I do that.

[2015-08-19 21:45] nik9000 commented on #12651
Do we need it in 2.0? I was going by the mantra of "don't push anything we don't need there". I think I have quite a few bats changes just in master that aren't in 2.0 yet. I can push them if you think its important. For the most part it'd probably work just fine to test 2.0-beta-whatever changes by staging them in the testroot or changing the elasticsearch.verion in master.

[2015-08-19 21:51] nik9000 commented on #12992
This seems like a fair request to me.

[2015-08-19 22:25] dadoonet commented on #12651
I don't know. While merging some of my PR from master to 2.0 branch, I just discovered that was not merge and that 2.0 branch still wants to install shield for vagrant tests.

Not a big deal to me. Was just asking if it was intentional not to merge it or just that you forgot :)

[2015-08-19 22:37] pickypg commented on #13002
Closed in favor of content already existing in the `MANIFEST.MF` file.

[2015-08-19 22:37] #13002 closed

[2015-08-19 22:39] xuzha commented on #12809
Do we still need to discuss about this? If nobody objects,  I'm going to merge this change soon.

[2015-08-19 22:56] alexkavon commented on #6107
Is this still happening for 2.0?

[2015-08-19 23:20] pickypg commented on #3922
I wonder why we even need this setting. The analysis process should take care of lowercasing, if it's desirable for the fields in question, which is not a query-global decision, and it should otherwise not touch the entry.

[2015-08-19 23:21] pickypg commented on #3922
Highly related to #9978

[2015-08-19 23:30] trejkaz opened #13006 "Some URLs in the reference docs prevent selecting the version of the docs you're viewing"
If you search for "elasticsearch api" on Google, one of the hits you get back is this one:

![screen shot 2015-08-20 at 9 26 47 am](https://cloud.githubusercontent.com/assets/43236/9372068/b94d06e8-471d-11e5-8516-d9819b661987.png)

So I went there: https://www.elastic.co/guide/en/elasticsearch/reference/1.4//index.html

Then I tried to view the docs for 2.0 by changing the combo box. It reloads th

[2015-08-20 01:20] sarwarbhuiyan opened #13008 "documentation error in snapshots docs - repo.path should be path.repo"
https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html

repo.path should be path.repo

[2015-08-20 01:58] #13008 closed

[2015-08-20 02:25] jasontedor opened #13009 "Enforce version format for java.version for plugins"
Currently we implicitly enforce a version format on the `java.version` property for plugins via `JarHell.checkJavaVersion`. We should explicitly enforce this version format and specify it in the documentation.

[2015-08-20 04:59] dadoonet commented on #13006
Agreed. Sounds like it's caused by the double `//` before `index.html`.
If you remove it, then you can change the version using the dropdown menu.

[2015-08-20 05:16] trejkaz commented on #13006
Yeah, figured that out after comparing with a colleague who said the problem wasn't happening for him. Sent him the link - happened for him. Removed the extra slash on mine, started working properly.

Still, the double-slash version is in the Google index now, and perhaps a 404 or a redirect would be a better treatment of it, rather than the page loading but then failing to work correctly.

[2015-08-20 05:39] thihy opened #13011 "Wrong in 'search-suggesters-completion' doc?"
Link: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters-completion.html

The `length` in response should be 1, not 4?

[code]

[2015-08-20 06:20] rjernst commented on #12998
What do you mean by default? `null_value` like we have for other field types?

[2015-08-20 06:46] jimhooker2002 commented on #4665
I've pinged https://github.com/s1monw over email (original submitter of the code) to take a quick look at my diff and help ensure some level of sanity.  I'm a little bit worried about the comment I removed, specifically the part about repeated log statements.  Hopefully Simon can verify I didn't just introduce a regression.

[2015-08-20 07:21] xuzha commented on #12620
I think we could remove this test.

[code]

[2015-08-20 07:24] kjelle opened #13012 "optimize one shard failed - caused by org.apache.lucene.store.BufferedChecksumIndexInput cannot seek backwards"
Hello.

Im running ES v1.7.1 on ubuntu 14.04 servers. I write data to an alias for "today's index" (storm-YYYY-MM-DD). I have 24 nodes, and today's index have 24 shards and 0 replicas. At midnight I update my aliases, and issue a "curator optimize --max_num_segments 1" on "yesterday's index" and enable 3 replicas. I update "yesterday's index" _settings with setting "index.store.throttle.type" to n

[2015-08-20 07:46] #12984 closed

[2015-08-20 08:40] LxiaoGirl commented on #7464
How to use this?

[2015-08-20 09:20] barakcoh commented on #9106
+1

Marvel is causing us a sub-second `red` status *every day* at midnight and it's quite annoying to constantly see it in the `Shard Allocation` section. We also have the above alert in place. If it happens to query the cluster at that exact time people will get a Twillio call in the middle of the night which is less than ideal.

[2015-08-20 09:32] cbuescher commented on #12715
Also merged #12775 with 2.0 (d236192c49a8941525e201e01edc781e5fc13dae). @clintongormley I think I can close this? Otherwise please reopen.

[2015-08-20 09:32] #12715 closed

[2015-08-20 10:01] mikelrob commented on #4915
^^^^^ +1

[2015-08-20 12:52] jpountz commented on #12486
Closed via https://github.com/elastic/elasticsearch/pull/12994. Scan are now deprecated in favour of regular scrolls.

[2015-08-20 12:52] #12486 closed

[2015-08-20 14:17] s1monw opened #13014 "Remove support for address resolving in InetSocketTransportAddress"
We shouldn't do any hostname resolving inside ES even though it's disabled by default we should't do it at all. it's simpler and more reliable to just use IPs. This will essentially remove `network.address.serialization.resolve` which is false by default.

this is a followup from #12999

[2015-08-20 14:26] s1monw opened #13015 "Move LocalTransport under `src/test`"
I am not sure why we have this sitting here in production code. We should be able to disable clustering without this etc. I think this stuff belongs under `src/test`

[2015-08-20 15:54] tlrx opened #13017 "Using enabled:false on document type throws exception in tests"
In integration tests, using `enabled: false` on a root document type makes document indexing fails.

Here is the mapping I use:
[code]

But then indexing a document throws a MapperParsingException with the following stack:
[code]

The assertion is located in the `DocumentParser` class:

[code]

When assertion are disabled, everything is OK. I did a simple test to reproduce the issue here:
https://

[2015-08-20 16:29] rjernst commented on #13017
This seems like a bug maybe? why are we not consuming the token there?

[2015-08-20 16:39] tlrx commented on #13017
Looks like it has been introduced by #11414

[2015-08-20 17:06] rjernst commented on #13015
+1

[2015-08-20 17:16] rjernst commented on #13017
I think you misunderstood. The assertion code is correct, it means there was leftover stuff at the end of parsing. But *why* is there leftover stuff in this case. what is the document you are sending, I only see the mapping in the original description? My hunch is, we need to fully consume the parser for mappings that are disabled.

[2015-08-20 17:28] rmuir opened #13019 "make multicast zen discovery a plugin"
Followup to #12999 which explains the rationale.

[2015-08-20 17:51] tlrx commented on #13017
What I don't get is why I can create this mapping and index documents in elasticsearch but cannot do exactly the same thing in integration tests.

Here is the document I index: https://github.com/tlrx/elasticsearch/commit/94712121dd524c48f2dc40c787efd1eb6375d799#diff-82784da2187574da5398ae215c8a6795R276

This test fails on my computer and I don't get why.

[2015-08-20 17:57] rjernst commented on #13017
Assertions are enabled in tests, but not when running with bin/elasticsearch.

[2015-08-20 18:00] rmuir commented on #13017
Why isn't this a real check

[2015-08-20 18:03] tlrx commented on #13017
@rjernst Yes I know, but the test I linked to seems good to me and I don't see why this assertion throws up. Can you please have a quick look to the code and/or try to reproduce?

[2015-08-20 18:28] #12993 closed

[2015-08-20 19:43] pickypg opened #13021 "Put a limit on type name length"
Index names already have a character limit of 255 characters or less. This should also be applied to types.

[code]

I cannot think of a legitimate use case for obscenely large type names and using them as keys is a mistake. If a user were to actually want this, then they can add a `not_analyzed` string field (perhaps `keyword` field in the future!) to support this behavior without abusing the typ

[2015-08-20 19:50] s1monw commented on #13021
+1

[2015-08-20 19:50] s1monw commented on #13021
`throw new InsanityException("what do you expect?")`

[2015-08-20 19:50] rjernst commented on #13021
There was a PR last year some time to limit lots of names in length and characters. @dakrone what ever happened to that?

[2015-08-20 20:11] jasontedor opened #13022 "Enforce supported Maven versions"
We should enforce specific Maven versions that our builds are known to be compatible with. Currently we are known to have issues with the Maven 3.0.x line (during RPM packaging) and the Maven 3.3.x line (in the shaded smoke test). We will enforce a Maven version in [3.1.0,3.3.0) and consider these to be our supported Maven versions.

[2015-08-20 20:39] tlastowka commented on #11543
@BZen
Its probably still a mapping issue.  The first time I saw the 400 error was using the json codec, but it wasn't the codec at fault.  Pipe this through the json codec, and then output to elasticsearch.  First will be fine.  Second will cause an error:

--this will be fine--
{ "gets_mapped_as_string" : "string" }
{ "gets_mapped_as_string" : 1 }

--this will cause an error--
{ "gets_mapped_as_i

[2015-08-20 20:44] ppf2 commented on #10335
This is helpful not just for troubleshooting the networking use cases Alex mentioned.  Imaging debugging query execution where the query is isolated to a specific index and will only hit a shard on a specific node, it will be helpful to be able to *dynamically* enable debug/trace loggers for just this one node without having to turn it on for all nodes.

[2015-08-20 21:10] #13014 closed

[2015-08-20 22:20] imotov commented on #9924
This should be solved by #11450. Closing.

[2015-08-20 22:20] #9924 closed

[2015-08-20 23:21] rtrujill007 commented on #2230
+1

[2015-08-21 02:53] rmuir opened #13028 "straight up garbage in elasticsearch.yml does not cause error or even warning."
I added this:
[code]

Nothing happens.

[2015-08-21 05:18] rmuir opened #13030 "create unit tests for StartupException"
Followup to #13029 . We can probably at least test parts of this, maybe refactor some of it out to static methods, or whatever. we can print to bytearray and assert stuff... it would be an improvement.

[2015-08-21 06:01] makeyang opened #13031 "java native client, date range query and got exception"
my mapping:

[code]

my source data to index:

[code]

my query:

[code]

my exception:

[code]

can anyone help me out of this?

[2015-08-21 06:21] #13019 closed

[2015-08-21 06:34] #11271 closed

[2015-08-21 06:40] rmuir commented on #10675
Fixed by #12999

[2015-08-21 06:40] #10675 closed

[2015-08-21 06:44] rmuir commented on #10535
closed by and #12942 and #12999

[2015-08-21 06:44] #10535 closed

[2015-08-21 06:58] dadoonet commented on #13031
Hey. Please join us on discuss.elastic.co for questions like this.

I think you should simply do this:

[code]

[2015-08-21 06:58] #13031 closed

[2015-08-21 07:05] jimhooker2002 commented on #4665
OK, I've rebased to my repos master branch and this is now part of an existing pull request.

https://github.com/elastic/elasticsearch/pull/12968

[2015-08-21 07:33] jsmucr commented on #283
We're dealing with this issue as well. This pretty much spoils any attempts to hot swap new versions of our application automatically.

[2015-08-21 08:07] #12809 closed

[2015-08-21 08:19] xuzha commented on #12391
I think we just need to print fieldname to keep consistency with other exceptions.

[2015-08-21 09:09] makeyang commented on #13031
@dadoonet
first of all, I can't visit discuss.elastic.co. I don't know why. sorry for bother.
And still I have question about this situation.
same mapping, same source data to index and if I got this kind of date format string: 2015-08-21T08:35:13.890Z, how do I do date range query?

[2015-08-21 09:22] dadoonet commented on #13031
@makeyang Where are you located? I mean are you aware of any firewall within your company?

Not sure exactly about the use case here but you can define multiple date formats. Elasticsearch will try the first one, then the second, then will fail... Read this: https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-date-format.html

[2015-08-21 10:05] faxm0dem commented on #8786
:+1:

[2015-08-21 12:08] #12900 closed

[2015-08-21 12:30] #12441 closed

[2015-08-21 12:31] #13009 closed

[2015-08-21 13:19] #13021 closed

[2015-08-21 13:21] HarishAtGitHub commented on #12391
Hi Friend @xuzha ,

that is what has been done ..
my PR takes care of
1) what u said
2) REMOVING the unnecessary CRYTIC parts in the message that distracts users.
3) changing the message into a READABLE one
4) changing all the places in that Geo Distance where such error can occur in future. and changing all into readable one. (with a NOTE: in the commit msg stating wherelse it can occur)
5) also

[2015-08-21 13:38] rmuir commented on #13028
it also causes all configuration to be silently ignored.

How could be done any worse?

[2015-08-21 13:42] rmuir commented on #13028
There is a storm coming. I will break backwards compatibility, whatever it takes to fix this.

[2015-08-21 13:47] jasontedor commented on #13028
+1

[2015-08-21 14:56] rmuir opened #13040 "Use StartupException more consistently in Bootstrap for consistent console error formatting."
I noticed this when testing https://github.com/elastic/elasticsearch/pull/13039

We only use this exception today after we startup, but we should probably try to use it during startup too.

[2015-08-21 15:07] #13028 closed

[2015-08-21 15:32] jasontedor opened #13042 "Do not permit multiple settings files"
In #13039 it was discussed that we should not permit multiple settings files. Allowing multiple settings files just [adds complexity](https://github.com/elastic/elasticsearch/pull/13039#discussion_r37642154) for the user to reason where a particular setting came from.

[2015-08-21 15:40] rmuir opened #13044 "make Bootstrap package private, Elasticsearch.main() calls Bootstrap.doMain()"
Today its Elasticsearch.main() -> Bootstrap.main() -> Bootstrap.doMain(), and they are all public.

Its too much and adds a unnecessary stack frame to any exceptions to the console. We can also reduce exposed surface area of the scary stuff in Bootstrap by making the whole class package private.

And we should only have one entry point to start ES.

[2015-08-21 16:28] #13042 closed

[2015-08-21 18:05] ppf2 opened #13045 "Provide case insensitive option for mapping char_filter"
mapping char_filter is currently case-sensitive, can be helpful to provide a configurable option for it to perform the replace action in a case-insensitive manner.

https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-mapping-charfilter.html?q=char%20filter

[2015-08-21 18:10] rmuir commented on #13045
What is the use case? The only purpose of a charfilter is to "hack" the text before the tokenizer, and most tokenizers don't care about case.

[2015-08-21 18:58] ppf2 commented on #13045
Thanks for the feedback, sounds like this is not what the mapping char_filter is intended for so I will close this one out :)  For this particular use case, the end user is trying to use a keyword tokenizer and have some of the terms have synonyms (which doesn't work with keyword), so they are using char_filter as an alternate option.  Workaround here can be to do a -> z, A-> z in the char_filter,

[2015-08-21 18:58] #13045 closed

[2015-08-21 19:06] jimmyjones2 opened #13047 "On disk replicas not used after node restart if hit low disk watermark"
Today I needed to restart a node in my Elasticsearch 1.7.1 cluster for a firmware update. It's used with time based indices. The disks are over 85% full, but they won't fill for a while so was planning on adding more storage next week. However when I restarted the node, it wouldn't serve any shards as the disk was over the 85% threshold, yet the shards were already on disk and all but the latest t

[2015-08-21 19:07] lokeshhctm opened #13048 "need clarification for mmapfs?"
How can we increase virtual memory on linux?
But if use mmapfs, how it works? In case we have 100 indexes and each of size like 2-3 GB.
In case we have memory up to like 20 GB and in such case will elasticsearch handle, how many will stay in memory and how memory will remain on disk and in this case, mmapfs is not an option?

[2015-08-21 19:47] nik9000 commented on #12674
Moved to 2.1. I'll totally pick this up early next week but there is 0 chance it'll make it into 2.0.

[2015-08-22 01:55] kvramana opened #13052 "Getting java.lang.NoSuchFieldError run time error on field JRE_IS_64BIT"
My environment: I am using ES 1.7.1, with jdk1.7.0_72, on a Linux x86-64 bit platform, and in its lib directory, there is this jar called lucene-core-4.10.4.jar.

A simple ES transport client, using its JAVA API, produces this error stack trace:
java.lang.NoSuchFieldError: JRE_IS_64BIT
        at org.apache.lucene.util.RamUsageEstimator.<clinit>(RamUsageEstimator.java:145)
        at org.elasticse

[2015-08-22 04:10] kvramana commented on #13052
Closing it, i figured that an older version of lucene-core.jar got ahead into classpath, removed it and it's working as it should.

[2015-08-22 04:10] #13052 closed

[2015-08-22 04:21] #13044 closed

[2015-08-22 20:11] andrestc commented on #10574
I think I will take a shot on this one. Should we treat null as "_all"?

[2015-08-22 22:01] rjernst opened #13059 "Rethink plugin modules and services"
We currently allow creating modules per node, per index, and per shard. It is unclear if any plugins actually use this, or conceivably need it (see https://github.com/elastic/elasticsearch/pull/13034#discussion_r37699770).

There are two reasons for modules:
* Some extension points require constructing a class which gets an injected existing service to add custom functionality (for example, adding

[2015-08-22 22:01] #12783 closed

[2015-08-23 00:28] andrestc commented on #10948
I will take a shot at this one.

[2015-08-23 17:03] sawyercade commented on #6141
Bringing some attention back to this bug, we're experiencing the same issue as well. We set cluster_concurrent_rebalance to 0 using the cluster settings api, and relocations are still being allowed to happen. What's really interesting is that the cluster_concurrent_rebalance setting is being checked both in the allocator (I'm using the datarank/tempest allocator plugin) and in the ConcurrentRebala

[2015-08-23 19:10] martijnvg commented on #6107
@alexkavon yes, doc values support for parent/child will be included in the first 2.0 release. If you want to try it out, just make sure that you create a new index once upgraded to 2.0. The doc values support is only enabled on indices created on or after version 2.0. Indices that existed before the upgrade to 2.0 will remain to work and perform in the same way they did on previous 1.x releases.

[2015-08-24 00:01] TomArrow commented on #4978
has this problem been solved? i am stuck with a vserver from german strato, running debian 7, getting the 'vm.max_map_count' error. i doubt i can change the file system.

any idea what the problem is?

solution or path to solution would be much appreciated.

[2015-08-24 00:11] chibenwa commented on #2230
+1

[2015-08-24 01:44] RanadeepPolavarapu opened #13064 "Multi level nested objects `inner_hits` not working (only root level working)"
Hi,

Here is the mapping:

    {
        "mappings": {
            "people": {
                "properties": {
                    "cars": {
                        "type": "nested",
                        "properties": {
                            "manufacturers": {
                                "type": "nested",
                                "properties": {

[2015-08-24 01:57] markwalkom opened #13065 "Explicitly mention applied dynamic mapping changes"
When mapping is updated dynamically we get something like this;

[code]

It'd be super awesome if we provided a bit more information for the user to be aware of what is updated/had changed in their field structure. I am thinking something like this;

[code]

[2015-08-24 04:57] spinscale commented on #4978
please read #9582, that should help you, with newer elasticsearch releases you can set `bootstrap.sigar: false`. 2.0 wont have this problem at all due to sigar being removed

[2015-08-24 08:06] #10404 closed

[2015-08-24 09:31] TomArrow commented on #4978
added `bootstrap.sigar: false` to /etc/elasticsearch/elasticsearch.yml.
unfortunately, that does not help. here is my long output. is this the same issue or should i open up / follow another request?

[....] + [ -z  ]

Starting Elasticsearch Server:+ return

sysctl: permission denied on key 'vm.max_map_count'

[FAIL+ /usr/bin/tput rc

 failed!

[2015-08-24 09:37] Yashin-s commented on #4978
Hello, just for your information, I was unable to solve the problem on the original server. Under the recommendation of someone, I migrated to another server. The current server has much less RAM and is running on Ubuntu. I started Elasticsearch only once several months ago, and it's still doing good...

[2015-08-24 09:39] alexander-st opened #13067 "Error NoMethodError: undefined method scoped'"
Dear elastic community,

I tried to install elasticsearch with the plugin for Redmine some time ago. I retried yesterday following the instruction from https://github.com/Undev/redmine_elasticsearch1
Point 6. of the instruction is not working at my machinge. I get the following message:

C:\Bitnami\redmine-3.0.2-0\apps\redmine\htdocs>bundle exec rake redmine_elastics
earch:reindex_all RAILS_ENV=pr

[2015-08-24 09:40] TomArrow commented on #4978
thanks for the note, Yashin-s. unfortunately that is not an option at this moment. i also do not feel like randomly trying out various servers without ever knowing what the problem was in the first place.

[2015-08-24 09:51] TomArrow commented on #4978
i tried to start the daemon proces directly, this is what came out:

    root@h922069:/var/log/elasticsearch# /usr/share/elasticsearch/bin/elasticsearch -d -p /var/run/elasticsearch/elasticsearch.pid --default.config=/etc/elasticsearch/elasticsearch.yml --default.path.home=/usr/share/elasticsearch --default.path.logs=/var/log/elasticsearch --default.path.data=/var/lib/elasticsearch --default.path.

[2015-08-24 09:58] jasontedor commented on #4978
This means that you're trying to run classes targeting JDK 7 on a JVM that doesn't support JDK 7 class files.

[2015-08-24 09:59] new-gen23 commented on #12144
Sorry, had no time to follow the problem. Data was logrotated and is gone. Can not replicate the issue. Please close this ticket.

[2015-08-24 09:59] #12144 closed

[2015-08-24 10:07] TomArrow commented on #4978
perfect, solved. thank you.

[2015-08-24 10:29] clintongormley commented on #9126
This wait-for-quorum should be extended to the open-index API, eg see #12987

[2015-08-24 10:29] clintongormley commented on #12987
Hi @Avricot

Agreed - I've added a note to #9126 as i think this should be part of that change.  Closing in favour of #9126

[2015-08-24 10:29] #12987 closed

[2015-08-24 10:31] clintongormley commented on #8877
@jasisz in 2.0 we explicitly forbid creating fields of the same name with conflicting mappings, for the same reason

[2015-08-24 10:42] clintongormley commented on #9172
It looks like this has been marked as discuss for a while, but hasn't actually been discussed yet :)

Just some thoughts to get the discussion going:

* Doc values by default in 2.0 will help with many cases of OOM/slow GC (but not all)
* Often slow GCs are the compound result of a number of requests, rather than a single bad request (although one bad request can be responsible)
* The top-searches

[2015-08-24 10:44] clintongormley commented on #12996
@markharwood could you comment on this?

[2015-08-24 10:48] clintongormley commented on #13000
Hi @cmfatih

Please use the forums for questions like this http://discuss.elastic.co/.  The tribe nodes behave like any other client nodes: they round-robin requests around all copies (primary and replicas) of a shard.

[2015-08-24 10:48] #13000 closed

[2015-08-24 10:51] clintongormley commented on #13003
Hi @inqueue

Given that this is a one-off (and seldom used) diagnostic which can be answered already via the mapping API, I'm not sure it is worth adding a dedicated API.  Probably something we could add to https://github.com/elastic/elasticsearch-support-diagnostics instead, no?

[2015-08-24 11:19] clintongormley commented on #3922
Closing in favour of #9978

[2015-08-24 11:19] #3922 closed

[2015-08-24 11:30] #13006 closed

[2015-08-24 11:33] #13011 closed

[2015-08-24 12:27] clintongormley commented on #13017
this is a bug.  The following fails with assertions enabled:

    PUT my_index
    {
      "mappings": {
        "my_type": {
          "enabled": false
        }
      }
    }

    PUT my_index/my_type/1
    {
      "foo": "bar"
    }

The whole type is disabled, which means the _source should be stored but nothing should be indexed.  It looks like we're just skipping parsing completely instead o

[2015-08-24 13:05] mikemccand commented on #13012
This is a spooky exception; I haven't seen it before.  It means that when reading from a segment in order to merged stored fields, we somehow attempted to seek backwards, which should never happen because merging only iterates through the docs "in order" 0 .. maxDoc.

I've committed more verbosity to this particular exception message in Lucene so we'll know "how far backwards" in the future, but f

[2015-08-24 13:34] nik9000 commented on #283
I've stolen this issue from @kimchy and added it to my queue of things to look it. Its not particularly high on that list but I'll get to it eventually. If anyone feels like working on it then please comment. Or just self assign if you have that power.

[2015-08-24 13:42] tko opened #13071 "Can't use complex params with lang=expression scripts?"
I'm trying to port the following simple inline function_score / script_score script from groovy to expression to avoid the need for dynamic scripting with potential security holes:
[code]

However when ported to expression:
[code]
I get a surprising
[code]
error whever I try to access the map, even with hardcoded `indirect_score['hello']` script. Primitive params seem to recognized just fine howev

[2015-08-24 13:55] clintongormley commented on #13040
Closed by #13041

[2015-08-24 13:55] #13040 closed

[2015-08-24 13:56] nik9000 opened #13074 "Clean the use of `run` in bats tests"
In the bats tests we do a lot of
[code]
but that is kind of an abuse of the Bats' `run` feature and we should clean these up.

The idea behind `run` is that it'll store `$?` in `$status` and stdout in `$output`. Its super useful if you want to assert something about what a command logs to stdout or you expect some non-zero return status. But if you don't care about stdout beyond logging the comman

[2015-08-24 13:57] nik9000 commented on #9172
I'm a fan of this request. In a previous life we did this logging on the client side and used it to find a few bugs.

But it'll still be visible in the logs. The logs might not be the right tool for identifying what is causing them but this could be helpful.

Its more black-box-ish than a log at start and stop. Logs around the query starting and stopping are more bullet proof I think.

This is pro

[2015-08-24 13:59] clintongormley commented on #13048
Hi @lokeshhctm

Please ask questions like these on the forum instead: http://discuss.elastic.co/

[2015-08-24 13:59] #13048 closed

[2015-08-24 13:59] nik9000 opened #13075 "Clean up skip_not_* in bats tests"
Right now we liberally sprinkle things like `skip_not_rpm` and `skip_not_sysvinit` in our tests. This isn't a problem but we could save a lot of copy and paste if we move these skips to the `setup` functions for the tests.

[2015-08-24 14:04] jpountz commented on #13067
This error is not related to elasticsearch. You should ask this question to the elasticsearch-redmine project.

[2015-08-24 14:04] #13067 closed

[2015-08-24 14:27] jpountz commented on #12969
I think the trade-off is more complicated than on the update API, since the index API never needs to fetch the source which is a costly operation (random seek) while the update API needs to do it anyway in order to patch the document.

[2015-08-24 14:45] clintongormley commented on #13071
Hi @tko

This is a limitation of the expressions language, which is very fast, but very limited.  You can save your groovy scripts as script files instead.

[2015-08-24 14:45] #13071 closed

[2015-08-24 14:46] jpountz commented on #10651
Closing: this only applies to scan scrolls which are now deprecated. Regular scrolls are never closed automatically so running a DELETE always returns a 2xx code. https://github.com/elastic/elasticsearch/pull/12994

[2015-08-24 14:46] #10651 closed

[2015-08-24 14:48] jpountz commented on #7926
Fixed via #11978

[2015-08-24 14:48] #7926 closed

[2015-08-24 14:52] markharwood commented on #12996
There are typically a huge number of "candidate" terms produced by significant terms. What determines the final set is the statistical significance of their frequencies. If we introduced another sort order then they would no longer be "significant" terms in the intended sense.
It is possible to plug-in custom significance heuristics which alter the score but we [deliberately limited the scope] (ht

[2015-08-24 15:29] tko commented on #13071
Yeah, I was trying to avoid having to change to our deployment process as well. Oh well.

FWIW without knowing anything about the internals it's rather surprising that dictionary-like access sometimes works (`doc['field']`) and other times doesnt (`someparam['field']`) -- it seems like all the pieces should be there, though I can easily imagine many reasons they haven't been wired up equally.

[2015-08-24 15:41] inqueue commented on #13003
Hi @clintongormley,

I suppose I am expecting to find a field count somewhere in the _cat API, maybe in _cat/indices or perhaps _cat/segments|shards. I could not find a clean way retrieve this information from mappings without parsing its output, which we can do with es-support-diagnostics.

To gather this information, would you suggest properties or something like ```GET */_mapping/field/*```? Ot

[2015-08-24 15:45] clintongormley commented on #12969
I agree with @jpountz on this.  If you want this functionality you should use the update API instead

[2015-08-24 15:45] #12969 closed

[2015-08-24 15:47] clintongormley commented on #12996
thanks @markharwood  - makes sense. closing

[2015-08-24 15:47] #12996 closed

[2015-08-24 15:52] nik9000 commented on #12969
Fair enough.

[2015-08-24 16:06] mikemccand opened #13079 "Same setting with different values in elasticsearch.yml should be an error"
I hit this while smoke testing the 2.0.0 beta RC.

Today, if you have the same setting in `config/elasticsearch.yml` more than once, I think the last one silently "wins".

But I think this is too lenient/trappy?  E.g. someone may open the file, insert what they think is a new setting, but then it doesn't "take" because that setting already appears later in the file.

I think we should make this a

[2015-08-24 16:21] nik9000 commented on #13079
+1

[2015-08-24 16:24] rjernst commented on #13079
+1

Not only for different values, but the same setting twice should be an error too. We should fail early, before the user tries to change the setting (in just one place) and then hits the proposed error here.

[2015-08-24 16:25] rjernst commented on #13017
I have a test reproducing the issue and am investigating.

[2015-08-24 16:25] jasontedor opened #13081 "Consolidate duplicate logic in RoutingTable all*ShardsGrouped"
The methods [`RoutingTable#allActiveShardsGrouped`](https://github.com/elastic/elasticsearch/blob/119e9ba138e6f2a8c09e4e9d12ef67eee57b7986/core/src/main/java/org/elasticsearch/cluster/routing/RoutingTable.java#L164-L187) and [`RoutingTable#allAssignedShardsGrouped`](https://github.com/elastic/elasticsearch/blob/119e9ba138e6f2a8c09e4e9d12ef67eee57b7986/core/src/main/java/org/elasticsearch/cluster/r

[2015-08-24 16:29] acassaignemondeca commented on #12996
Thank you for your responses and sorry not to have responded earlier.

Actually I am using Kibana and the Significant Terms table is not sorted by descending number of occurrences. Without changing anything in the result and the way it is computed, my request is to have the result sorted by count of occurrences as a post-treatment step.

Here is my use case:

Kibana Significant Terms table:
![sign

[2015-08-24 16:29] mikemccand commented on #13079
++

[2015-08-24 16:30] jdconrad opened #13084 "Create a new scripting language"
ElasticSearch needs a scripting language that can be used dynamically while remaining secure.  While Lucene Expressions covers those two points it does not meet the needs of many scripts due the following behavior:

1) Expressions is designed to only work effectively with numerical values. Elasticsearch requires a language that can handle strings, dates, and possibly data structures such as map an

[2015-08-24 16:52] clintongormley commented on #13084
w00t

[2015-08-24 16:54] uboness commented on #13084
w00t indeed

[2015-08-24 16:58] uboness commented on #13084
this is super important aspect. beyond the basic native operations in the lang, the only other functions that will be available are those that we pre-register with the language (register in code that is). So this mechanism needs to be generic and not hard coded for the math/geo functions.

[2015-08-24 19:17] rjernst commented on #13071
What you are trying to do is a hash lookup, which is slow when doing per document.  In this case, I assume your "somefield" field is a string? `doc` is setup as a special variable which binds to field accessors at compile time, so that looking up for each doc is like saying "lookup this field number in docvalues/fielddata". But your example is trying to get the value of a string field (already som

[2015-08-24 20:06] tko commented on #13071
Strings, yes, though could just as easily be numbers.

I just meant that syntactically the `doc` access looks _very much_ like hash lookup which (to someone with zero knowledge of expressions limitations) rather implies that hash lookup is supported in general. I may very well have missed the relevant documentation and made too many assumptions, but now that I know it simply won't work I'm good an

[2015-08-24 20:09] nik9000 commented on #12717
Ok -I have a pull request to install all the plugins in vagrant - after that is merged I could try starting with them all installed an running smoke tests __but__ I think we should think about time here - it already takes 7 minutes to go through these tests on two operating systems. Could we get away with just verifying that the plugin installer puts the files in the right spots and do some kind o

[2015-08-24 20:37] ehclark opened #13088 "matched_queries is empty when filtered query with nested filter is missing must_not clause"
The matched_queries item in the response is missing when using a filtered query with nested filter that does not have a must_not clause.

ES version 1.5.2

Steps to reproduce:

Create index and mapping
[code]
Add a document
[code]
Nested filter query with only a must clause
[code]
Returns result - no matched_queries item as expected
[code]
Nested filter query with an additional must_not clause tha

[2015-08-24 20:46] nik9000 opened #13089 "delete-by-query documentation url incorrect"
https://github.com/elastic/elasticsearch/blob/master/plugins/delete-by-query/rest-api-spec/api/delete_by_query.json refers to https://www.elastic.co/guide/en/elasticsearch/reference/master/docs-delete-by-query.html which is a 404.

[2015-08-24 20:50] martijnvg commented on #13064
@RanadeepPolavarapu the `inner_hits` syntax in the query dsl doesn't support proper nested. For now you should use the top level `inner_hits` syntax: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-inner-hits.html#top-level-inner-hits

This issue is related to this ticket: #11118
Although this ticket is about parent/child inner hits, the the nested inner_hits in the

[2015-08-25 00:27] nickminutello opened #13093 "Make Bootstrap.java startup validation accessible for embedded use"
Many of the methods are non-public.

Some of the startup validation is mixed with actually starting a node.

[2015-08-25 00:51] #13079 closed

[2015-08-25 03:31] masaruh opened #13094 "Return error for invalid search exists api query"
If you send invalid query like this:
[code]

it returns `{"exits": false}` while it logs exception like:
[code]

Shouldn't it return error in this case?

[2015-08-25 06:10] alexander-st commented on #13067
Thank you for your response!
I will try to get an answer from the plugin developers.

[2015-08-25 06:43] nandini-r commented on #283
@clintongormley  @nik9000  Wanted to mention this : Not sure if those threads are getting closed slowly because when I try adding delay of say 20-30 s , logs are not seen when I stop webapp . Though it is sometimes reproducible when I use 'reload' webapp option.

[2015-08-25 07:07] markharwood commented on #12996
This indeed is a [Kibana issue] (https://github.com/elastic/kibana/issues/2018)

[2015-08-25 07:22] rubensegovia commented on #4915
+1

[2015-08-25 08:17] kjelle opened #13095 "RecoveryFailedException: NegativeArraySizeException when marking and sending shard"
Elasticsearch version: 1.7.1 - 24 data nodes, 3 masters, 3 clients.

[code]

[2015-08-25 08:18] kjelle commented on #13012
To allow the cluster to function properly I excluded that node from allocation so no data resides on the RAID0 for this node atm.

I coincidentally checked dmesg on the server and it seemed to be a disk problem for the RAID0 partition used by _l06-data-02_ (sdc1) at the same time as the Exception appeared.

[code]

Why it tries to seek backwards I cannot say.

But - after this Exception, and movin

[2015-08-25 08:25] clintongormley commented on #4707
@ppf2 Actually, your example works as expected if you use the `simple_query_string` (you used the `query_string`query instead).  As a query string query, you would need to change:

    "(name:Android) OR NOT (status:approved)"

to:

    "(name:Android) OR (NOT status:approved)"

[2015-08-25 08:29] s1monw opened #13096 "Generate list of built-in plugins"
we maintain a list of build-in plugins in multiple places like in the PluginsManager as well as in the `qa/smoke-test-plugins` project. We will soon add a third after #13078 is merged. We should try to generate it somehow from our build files.

[2015-08-25 08:32] jpountz commented on #13094
+1

[2015-08-25 09:06] #13081 closed

[2015-08-25 09:20] cbuescher commented on #10195
Has been addressed by by #13082, so closing here.

[2015-08-25 09:20] #10195 closed

[2015-08-25 09:50] bra-fsn opened #13099 "doc_values doesn't work with keyword tokenizers"
I've tried enabling doc_values on a keyword tokenized string field (lowercase and icu_collation filter is tried) and it fails with:
[code]

I guess this should be a perfectly valid combination.

Examples used:
[code]
and
[code]

elasticsearch version 1.7.1, icu plugin: 2.7.0

[2015-08-25 09:58] #13089 closed

[2015-08-25 10:00] clintongormley commented on #13064
Closing as duplicate of #11118

[2015-08-25 10:00] #13064 closed

[2015-08-25 10:02] jasontedor commented on #13099
Currently, doc values are not supported on analyzed string fields. There is an [open issue](https://github.com/elastic/elasticsearch/issues/12394) to address this situation in a future release of Elasticsearch.

Relates #10061 and #12394.

[2015-08-25 10:02] #13099 closed

[2015-08-25 10:19] clintongormley commented on #13093
Hi @nickminutello

Currently we don't test embedded Elasticsearch at all, which means that it is not a supported configuration.  We have just gone through a large number of changes to lock Bootstrap down, to simplify the code and configuration, and to make startup more reliable, so any changes that we make now will have to be carefully considered.

Could you be more specific about what you need ch

[2015-08-25 10:31] kjelle commented on #6732
+1 for ability to delete persistent/transient index settings.

[2015-08-25 10:34] clintongormley commented on #13095
This looks a lot like file corruption, presumably related to the RAID error that you mentioned in #13012

                                final int BUFFER_SIZE = (int) recoverySettings.fileChunkSize().bytes();
                                final byte[] buf = new byte[BUFFER_SIZE];

[2015-08-25 10:56] magdalene opened #13100 "using default_operator "AND" causes query_strings actually containing AND to return wrong results"
If I have a query string like "one AND two OR three", I expect the results to be the same as one of "(one AND two) OR three" or "one AND (two OR three)" but it seems like they are actually the same as "one OR two OR three".

Also, if the default_operator is AND, actually I expect "one two OR three" to work either like "(one AND two) OR three" or "one AND (two OR three)" -- but instead it works lik

[2015-08-25 11:05] kjelle commented on #13095
@clintongormley I'v decomissioned our node with the faulty RAID0 and wiped indices and reloading all the data to see if the problem will go away. It seems to be that if an index has resided on the faulty RAID0 all seems well unit this shard is relocated, or I try to generate a replica from it. Let's see if removing one of my nodes reveals anything new.

[2015-08-25 11:06] bra-fsn commented on #13099
@jasontedor: ah, thanks, I couldn't find it.

[2015-08-25 11:15] sarwarbhuiyan commented on #13100
https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html?q=query_string#_boolean_operators

Especially, "While the + and - only affect the term to the right of the operator, AND and OR can affect the terms to the left and right."

By the way, there are several problems with your specific queries:
1. Since you are prefixing your query with text: already, is

[2015-08-25 11:16] kjelle commented on #13095
We'll at the same time remove RAID0 and stripe using multi path in ES yaml.

[2015-08-25 11:20] clintongormley commented on #13100
The problem is that the query string does not use pure boolean logic.  It is intended to be used as a query, not as a filter.  Queries have required matches (must) and optional matches (should) which are not required but improve the score if they are present.

Worth reading this blogpost to understand more: https://lucidworks.com/blog/why-not-and-or-and-not/

[2015-08-25 11:20] #13100 closed

[2015-08-25 11:21] clintongormley commented on #13100
As @sarwarbhuiyan said, you're better off using the query DSL if you want real boolean logic.

[2015-08-25 11:25] clintongormley commented on #13095
@kjelle note that there is a big change in multi-path coming in 2.0.  In 1.x, the files from a single shard are striped across multiple paths, which means that failure on any one path can corrupt all shards on that node.  In 2.0, each shard is written to a single data path only, so failure of that path will only affect the shards on that path.  When first upgrading to 2.0, segment files are moved

[2015-08-25 11:27] kjelle commented on #13095
@clintongormley thanks for that info. I decided on RAID0 to be able to utilize the whole IOPS of 6 disks as one, instead one by one (as you mention for 2.x). We'll see how it performance, and switch back if necessary

[2015-08-25 11:46] magdalene commented on #13100
Thanks! You're probably right it's better to simply always use +/- but at this point that would require us to (further) translate user queries.

However, I still don't understand the default_operator behavior -- why for the query "x AND y OR z" is the behavior different when the default_operator is "AND" vs. when it's not specified (and from the docs I understand defaults to OR)?

To answer @sarwa

[2015-08-25 11:51] magdalene commented on #13100
Also according to that linked doc page (unless I understood incorrectly, again!) "a AND b OR c" should be equivalent to "(a AND b) OR c" because AND takes precedence -- and in case the default_operator is unspecified, it seems to be, but in case the default_operator is AND, it is not. This is the behavior I am trying to understand/work around.

[2015-08-25 12:03] clintongormley commented on #13100
The answer is explained in that blog post, to quote:

Frankly, these rules are just too hard to remember.  This is one of the many reasons I don't like using the `query_string` query at all.  Here's another reason.  Look at these two queries for example:

    http://foo   # finds an empty regex in field `http` and `foo` in the `_all` field
    http://foo/  # throws a malformed regex exception

If

[2015-08-25 12:04] martijnvg commented on #13088
@ehclark some bugs were fixed some time ago (#11880) with matched queries and inner docs and this particular issue is fixed in the next 2.0 beta release

One note, the field used in the `term` query is incorrect and should be `nestedDoc.field1` instead of `field1`.

[2015-08-25 12:22] clintongormley commented on #13088
Closing as duplicate of #11880

[2015-08-25 12:22] #13088 closed

[2015-08-25 12:28] dadoonet opened #13102 "Security Manager behave differently between 2.0 and 2.1"
Based on discussion which happened here: https://github.com/elastic/elasticsearch/pull/13001#issuecomment-134245012

I was doing some tests for the mapper attachment plugin which consist basically of reading an encrypted PDF document. This should raise an exception with a message like `The supplied password does not match either the owner or user password in the document`. See disabled test for mo

[2015-08-25 12:30] bleskes opened #13103 "Allow validating that settings update doesn't produce invalid combinations"
User can change their (dynamically updatable) cluster settings through the cluster settings API. To make sure the new settings make sense, we have an internal validation infra structure that can reject illegal values (for example, a negative value where a positive is expected). However, the current infrastructure only allows you to validate each entry of the new settings (in the context of the cur

[2015-08-25 12:31] magdalene commented on #13100
Thanks so much for explaining!

[2015-08-25 13:06] harshita1931 commented on #13094
hello everyone :)
I am new to open source programming and I want to learn the same. I wanted to do some bug fixing so as to get an idea of how things are done. I saw this issue and want to work on it. Kindly help me by telling me in brief how to start on this. I would be greatly thankful to you all :)

[2015-08-25 13:34] kristoffer-dyrkorn commented on #12041
We have not been able to recreate the issue and cannot spend further resources on trying. So I am afraid we cannot reach a final conclusion on what went wrong.

We will however upgrade now.

[2015-08-25 13:50] clintongormley commented on #12041
thanks @kristoffer-dyrkorn - closing for now.

[2015-08-25 13:50] #12041 closed

[2015-08-25 14:25] brwe opened #13104 "log message [favicon.ico] IndexNotFoundException[no such index]"
I get this randomly in my logs with master (bfa3e47):

[code]

I cannot reproduce this but it seems this happens when the node starts up and I fire a query like `http://localhost:9200/test/_search`.

[2015-08-25 14:41] tomharrisonJG opened #13105 "Prompted for 'tFormat' username when attempting to remove node from cluster"
Hi

I'm trying to remove a node from our cluster and have tried running the following curl command via windows powershell with curl installed.

      curl  -XPUT http://localhost:9200/_cluster/settings -d {
           \"transient\":
        { \"cluster.routing.allocation.exclude._ip\":\"10.50.14.120\" }
    }

I run the command and then get 'Enter host password for user 'tFormat':

This isn't a us

[2015-08-25 14:46] dadoonet commented on #13104
Sounds like related to this change: 91d16f45c65e07e727d290d30665885a16fe1a39

[2015-08-25 15:06] nik9000 commented on #13096
`qa/vagrant/pom.xml` has a list too. Sadly I don't think there is much we can do about automating the list in maven. @rjernst this is probably more fuel for the burn maven with fire movement.

[2015-08-25 15:10] nik9000 commented on #13074
@brwe, this is the other in flight bats change.

[2015-08-25 15:17] clintongormley commented on #13104
Fixed by fb7142cdfb0b1458d12db0c737e4c56443bc407e

[2015-08-25 15:17] #13104 closed

[2015-08-25 15:23] s1monw commented on #13104
this is your browser but it will only do it once - we now log exception on the accepting node if the user doesn't ask for stacktraces...

[2015-08-25 15:25] clintongormley opened #13106 "Disk usage should report min/max values for multiple paths"
Nodes using multiple paths for the `data/` directory should report the min and max available space across paths.  The min space should be used to decide when to move shards away, while the max space can be used to decide when to move shards to the node.

[2015-08-25 15:42] TwizzyDizzy opened #13107 ""hostname -s" not available in at least Solaris 10"
Hi folks,

I just encountered an issue with elasticsearch 1.7.1. I tried to upgrade from ES 1.4.4 to 1.7.1.

ES does run as unprivileged user.

Error output while starting:

It seems that in contrast to 1.4.4 there is line 151 of

which tries to export the environment variable "HOSTNAME". The value is assigned via "hostname -s" which is not available in Solaris.

This feature seems to have been in

[2015-08-25 15:58] henrikno opened #13108 "VersionConflictEngineException with scrolling search"
We do a scan/scoll search, looking for document to update, with version enabled on search results.
For each hit, we update some fields, then index the document providing the same version as the one we got on the hit. Sometimes we get VersionConflictEngineException because the document was updated in the mean time, but this time it is "stuck" (same document fails for several hours).

[code]

How ca

[2015-08-25 16:04] clintongormley commented on #13105
This isn't anything that we have in Elasticsearch. Either you have some proxy in front of Elasticsearch, or if you're using Shield then I'd suggest contacting your support team.

[2015-08-25 16:04] #13105 closed

[2015-08-25 16:08] clintongormley commented on #13107
Hi @TwizzyDizzy

Any ideas what we could use instead on Solaris?

[2015-08-25 16:08] henrikno commented on #13108
Sorry, it was a bug in our code which searched in one index and indexed in another (reindexing using aliases, which was swapped).
Rubber ducking helps.

[2015-08-25 16:08] #13108 closed

[2015-08-25 16:35] xuzha commented on #12562
Do we need this in 2.0?

[2015-08-25 16:55] kenden commented on #13014
Hi @s1monw,
Could you explain why we shouldn't do any hostname resolving inside ES?
What if we use for example AWS Route53 to point to the IPs of an Elasticsearch cluster?
(Ex: "myaddress.myserver. -> 10.0.10.51)
If the IP address is changed to, say 10.0.10.59, AWS clients will still be trying to access the old IP address and get a NoNodeAvailableException.

[2015-08-25 17:03] ppf2 commented on #4707
Ah got it, thx @clintongormley for the tip!

[2015-08-25 18:03] nik9000 commented on #13107
Looks like we have a working patch so I removed feedback_needed. Then I thought better of it. @TwizzyDizzy, can you try `hostname | cut -d. -f1` on a solaris 10 box?

[2015-08-25 18:09] TwizzyDizzy commented on #13107
Hi @nik9000,

thanks for getting back to me that fast!

This should totally work, but let me check it at work tomorrow to be totally sure. I somehow remember some glitches with either the delimiter or the field number, when it comes to the exact syntax.

Will get back to you tomorrow :)

Cheers
Thomas

[2015-08-25 18:27] cooniur commented on #12816
@colings86 Is anyone interested in this topic?

[2015-08-25 18:27] jasontedor commented on #13107
@TwizzyDizzy I've tested Elasticsearch with `hostname | cut -d. -f1` on a Solaris VM. You should be able to get by with replacing `hostname -s` with `hostname | cut -d. -f1` in the `elasticsearch` and `plugin` scripts in the `bin` subfolder of the Elasticsearch home. I've opened #13109 to get this into mainline.

[2015-08-25 18:32] TwizzyDizzy commented on #13107
Ah well, if you've tested it in a VM then I guess it's fine.

Cheers
Thomas

[2015-08-25 18:37] s1monw commented on #13014
What if we use for example AWS Route53 to point to the IP of an Elasticsearch cluster?
(Ex: "myaddress.myserver. -> 10.0.10.51)
If the IP address is changed to, say 10.0.10.59, AWS clients will still be trying to access the old IP address and get a NoNodeAvailableException.

sorry I don't understand what you are referring to. This change disables the potential reverse lookup for IP -> hostname tha

[2015-08-25 18:46] imotov commented on #7859
Closed by #9400

[2015-08-25 18:46] #7859 closed

[2015-08-25 18:51] #13107 closed

[2015-08-25 20:00] mkliu opened #13110 "Please add alias creation for snapshot _restore API"
The most frequent scenario for using _restore API is when something is wrong, and index needs to be restored. But in order to restore, we need to delete the old index.

What happens in most cases is the original index is
1. Old index in red state.
2. Old index was wiped out, data is repopulated and an index is created with the same name.

In this case, especially #2, it's actually not OK to delete

[2015-08-25 20:07] nik9000 commented on #7268
Almost there - I've merged #12544 to 2.0 and master but I'll need another small tweak to master to make it compatible with the 2.0. I should have developed this against 2.0 and forward ported it to master. I did the opposite. But it'll be ok.

[2015-08-25 21:47] kenden commented on #13014
But don't we use InetSocketTransportAddress to set up a TransportClient?
https://www.elastic.co/guide/en/elasticsearch/client/java-api/current/transport-client.html
Sorry if I'm getting this wrong.  This seems related to this issue:
https://github.com/elastic/elasticsearch/issues/10337

[2015-08-25 22:01] #7268 closed

[2015-08-25 22:34] spalger opened #13112 "IP fields cause mapping conflicts"
While using the 2.0 branch, @jbudz and I are noticing that `_default_` mappings always cause unresolvable type conflicts.

This is the mapping we are testing with:
[code]

And the documents that we are sending:
[code]

But the bulk fails with `"Mapper for [ip] conflicts with existing mapping in other types:\n[mapper [ip] is used by multiple types. Set update_all_types to true to update [search_ana

[2015-08-26 00:30] iwhitfield opened #13113 "How should I optimize children aggregation usage?"
It appears that the children aggregation is not cached (correct term?) using v1.6, as it is consistently taking the same amount of time for my query.

Here's an example of my aggs:

[code]

Now, if I remove the child piece and run it (with no cache), and then rerun - there is an instant speedup. If I add the child piece back, and run it multiple times, it always takes the same amount of time. Is i

[2015-08-26 00:35] nickminutello commented on #13093
I'm looking at master.

More specifically:
- make Bootstrap class public
- have a method called, say, prepare() which calls initializeNatives(), initializeProbes(), JarHell.checkJarHell(), JVMCheck.check(), clientJvmWarning()**,
- setup() then just has to call prepare().
- all the startup/init/validation in 1 place.
- but also, those running elastic embedded, can perform the same.

\** this method

[2015-08-26 01:40] andrestc commented on #8938
I will take a shot at this one.

[2015-08-26 01:57] simpsora commented on #8283
Hi, just a followup on this, I was able to get Marvel working behind a proxy as you described above, by modifying the `elasticearch` config entry to include a path.

Perhaps when Marvel is updated to use Kibana 4 this will become easier.

Thanks for the tip!

[2015-08-26 03:09] andrestc commented on #8938
@markharwood, @clintongormley I think i got this one almost finished but I'm having a hard time figuring out how to write a test for this and also how to manually test. Any tips on how to generate a failure that should increment the counter?

I found some related tests on [IndexStatsIT](https://github.com/elastic/elasticsearch/blob/71a3bdb8e8c89b8a17f6828ac4dcba73a99d6637/core/src/test/java/org/el

[2015-08-26 03:14] niraj8241 opened #13114 "Snapshot error while snapshotting to AWS S3"
Hi All,

I am using ES 1.5 version with Cloud-AWS plugin 2.5.1. I am trying to create a snapshot but i see the following error in the logs.

[code]

Any suggestion would be really appreciated. I am kinda stuck as of now.

Regards
Niraj

[2015-08-26 04:35] dadoonet commented on #13114
Which exact commands you run?

[2015-08-26 04:41] niraj8241 commented on #13114
curl -XPUT 'http://localhost:9200/_snapshot/niraj' -d '{
    "type": "s3",
    "settings": {
        "bucket": "xxxxxx",
        "region": "us-east"
    }
}'

This was for snapshot

curl -XPUT 'http://localhost:9200/_snapshot/s3/niraj123'

[2015-08-26 04:42] dadoonet commented on #13114
Closing as also opened here: https://discuss.elastic.co/t/nosuchfielderror-instance-while-elasticsearch-backup/28060/2

Will reopen if it's an issue.

[2015-08-26 04:45] dadoonet commented on #13114
What does your elasticsearch.yml look like?

[2015-08-26 04:47] dadoonet commented on #13114
Also do you have other plugins or run elasticsearch embedded?

[2015-08-26 05:09] niraj8241 commented on #13114
Below is my elasticsearch.yml file

action:
  disable_delete_all_indices: true
bootstrap:
  mlockall: true
cloud:
  aws:
    access_key: xxxxxxxxxxxxx
    secret_key: xxxxxxxxxxxxxxx
cluster:
  name: elasticsearch
discovery:
  zen:
    minimum_master_nodes: 2
    ping:
      multicast:
        enabled: false
      unicast:
        hosts:
             - xxxxxxxx:9300
             - xxxxxxxx:9300

[2015-08-26 05:36] dadoonet commented on #13114
Reopening.

I'll try to reproduce.

In the meantime, could you uninstall watcher, try again ?
Same with marvel then ?

[2015-08-26 06:35] niraj8241 commented on #13114
Yeah i did. But still the same

[2015-08-26 06:39] dadoonet commented on #13114
And you restarted the nodes, right?

[2015-08-26 06:47] niraj8241 commented on #13114
yes i did on all the nodes.

[2015-08-26 07:01] jpountz opened #13115 "Deprecate `min_score`"
Quoting [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-min-score.html): "Note, most times, this does not make much sense, but is provided for advanced use cases".

Besides, it can be implemented easily with a script query, which will be as efficient and more flexible since you can put it anywhere in the query tree.

[2015-08-26 07:13] jpountz commented on #13113
parent/child is a bit tricky to cache: most of the things we cache are cached per segment but this doesn't work with parent child since the addition of a new document in segment A can change matching documents on segment B. So parent/child operations are never cached in elasticsearch 1.x. Elasticsearch 2.x makes it a bit better since there will be some caching happening if your index does not chan

[2015-08-26 07:13] #13113 closed

[2015-08-26 07:15] s1monw commented on #12562
+1 for 2.0

[2015-08-26 07:18] dadoonet commented on #13114
So I checked AWS Plugin 2.5.1. It's bundled with `httpclient:jar:4.3.5` and `httpcore:jar:4.3.2`.

[code]

Could you run:

[code]

[2015-08-26 07:21] kjelle commented on #13012
@mikemccand: We have reconfigured the entire cluster. We are now running 24 RAID0's and assign 6 partitions to each ES node (4 ES nodes per server). Waiting to see if/when the bug comes back.

[2015-08-26 07:30] niraj8241 commented on #13114
ls -l plugins/cloud-aws

-rw-r--r-- 1 root root  481641 Aug 26 05:42 aws-java-sdk-core-1.9.23.jar
-rw-r--r-- 1 root root 1838789 Aug 26 05:42 aws-java-sdk-ec2-1.9.23.jar
-rw-r--r-- 1 root root  252285 Aug 26 05:42 aws-java-sdk-kms-1.9.23.jar
-rw-r--r-- 1 root root  540472 Aug 26 05:42 aws-java-sdk-s3-1.9.23.jar
-rw-r--r-- 1 root root   58160 Aug 26 05:42 commons-codec-1.4.jar
-rw-r--r-- 1 root roo

[2015-08-26 07:32] niraj8241 commented on #13114
Just to mention. as a part of triaging i downgraded my cloud-aws plugin to 2.5.0 to match the ES version of 1.5.0

[2015-08-26 08:04] martijnvg commented on #13113
@iwhitfield If you aggregation and data is relative static, you may want to check out the request cache, which can cache the entire shard level search response.

The reduce the time the first search request with the `children` agg after each refresh is taking, you can configure eager global ordinals loading on the `_parent` field.

In 2.0 for the `children` agg mainly the on heap memory footprint

[2015-08-26 08:11] tlrx commented on #13017
@rjernst Thanks for the work you have done :) Unfortunately I reopen this bug because indexing a document (like @clinton suggested) now fails with a `NullPointerException` (I tested on latest snapshot - build e8834cc78c13a507e2851908f8d51489e7888570).

As far as I understand the code it seems that your fix skips the document parsing when the type is disabled. So field mappers like `UidFieldMapper`

[2015-08-26 08:21] gingerwizard opened #13116 "Enable MLock By Default"
Ticket proposing having bootstrap.mlockall: true in the default configuration distributed with Elasticsearch.  Recommended setting for most production installations.

[2015-08-26 08:31] dadoonet commented on #13114
So only 3 nodes in the full cluster and you don't embed elasticsearch in another JVM or so ?

[2015-08-26 08:31] TwizzyDizzy commented on #13107
Just for the full picture: the

part works on my machine, too.

Cheers
Thomas

[2015-08-26 09:27] makeyang opened #13117 "what is default index value for number?"
don't find int in reference doc

[2015-08-26 09:31] clintongormley commented on #13112
@rjernst could you take a look please

[2015-08-26 10:06] clintongormley commented on #13093
thanks @nickminutello

[2015-08-26 10:09] clintongormley commented on #8938
@andrestc try indexing a document with eg a string where an integer should be, or using ?version= which should result in a conflict exception

[2015-08-26 10:23] clintongormley commented on #13116
I don't think we should do this by default, as there are a couple of problems:

1. The ulimit needs to be set by the user to allow Elasticsearch to mlockall, which *could* be done in the RPM/deb but not in tar.gz/zip
2. We can easily cause an OOM on a box if we lock memory when the user is not expecting it.

[2015-08-26 10:31] clintongormley commented on #13117
The docs for mapping have been improved in 2.0.  See https://www.elastic.co/guide/en/elasticsearch/reference/2.0/dynamic-field-mapping.html

[2015-08-26 10:31] #13117 closed

[2015-08-26 10:55] huntc commented on #10933
I think that what I'd like to see is ES only return OK when things are indeed OK. If things are not OK then allow that to push back to the client. I'm left wondering if part of this issue is related to ES accepting requests when it is not in a position to process them. WDYT?

[2015-08-26 11:14] clintongormley commented on #10933
Let's say you have configured an index to have 2 replicas per shard.  The write `consistency` defaults to `quorum`, so the indexing request will only be accepted if at least the primary and one replica are live. So far so good.

However, let's say that the document is indexed on the primary, then the only live replica dies before it can be indexed on the replica.  In 1.x, the indexing request is r

[2015-08-26 11:30] clintongormley commented on #13110
You can't create an alias with the same name as an index, so (if i understand scenario 2 above) you wouldn't be able to use the data from index `foo` plus the data from index `restored_index_foo` via an alias called `foo`.

Instead, you should **always** use aliases to point to the real index name.  That way you can restore your index and update the alias to point to both indices (and not have to

[2015-08-26 11:49] kjelle commented on #13095
@clintongormley the problem is with the code in v1.7.1. If you set equal to or higher than 2048mb (2147483648 bytes) you go pass max int for a *32bit Java int* (2147483647) which results in *-2147483648*.

An interesting observation is that the Exception hits after a while (5minutes+ and after 15ish percent) and not initially

I see that in the [v2.0 branch of RecoverySourceHandler](https://github

[2015-08-26 12:25] clintongormley commented on #13095
OK, that was changed in https://github.com/elastic/elasticsearch/pull/12919

According to the settings you provided in the description, you'd only set `indices.recovery.file_chunk_size` to `512kb`. Did you try setting it to a different too-high value?

Either way, we should probably add some validation around that setting.

[2015-08-26 12:27] kjelle commented on #13095
@clintongormley yes, i was setting it up to 2048mb.

[2015-08-26 12:40] brwe commented on #12063
todo has been taken care of in #12961. can we close this?

[2015-08-26 12:41] #12391 closed

[2015-08-26 13:00] clintongormley commented on #12063
Looks like it, thanks @brwe

[2015-08-26 13:00] #12063 closed

[2015-08-26 13:33] #12840 closed

[2015-08-26 13:38] nik9000 commented on #13107
Thanks!

[2015-08-26 13:50] clintongormley commented on #13112
Actually, this isn't about default mappings, it is a problem with fields of type `ip`.  This request will replicate the same problem:

    PUT my_index
    {
      "mappings": {
        "one": {
          "properties": {
            "field": {
              "type": "ip"
            }
          }
        },
        "two": {
          "properties": {
            "field": {
              "type": "ip"

[2015-08-26 14:03] jpountz commented on #1889
top_children has been removed, and hash_child/has_parent now have a basic explain output that gives the join value

[2015-08-26 14:03] #1889 closed

[2015-08-26 14:07] nik9000 opened #13120 "Move from oss-parent to nexus-staging-maven-plugin"
According to sonatype's [docs](http://central.sonatype.org/pages/apache-maven.html#deprecated-oss-parent) the oss-parent module is deprecated and they recommend you use nexus-staging-maven-plugin as documented on that page.

[2015-08-26 14:07] jpountz commented on #2118
@s1monw Do you mean we should have a dedicated "phrase" query in addition to the match phrase query?

[2015-08-26 14:08] nik9000 commented on #13120
@rjernst - there are [docs](http://central.sonatype.org/pages/gradle.html) for Gradle too. Just in case. You know.

[2015-08-26 14:11] martijnvg commented on #2082
this is no longer inconsistent

[2015-08-26 14:11] #2082 closed

[2015-08-26 14:15] jpountz commented on #3371
I don't think we should add more parameters to the update API for something that can be easily addressed from client side. Additionally, `_ttl` already has traps, I'm on the fence about adding even more traps.

[2015-08-26 14:15] #3371 closed

[2015-08-26 14:19] jpountz commented on #3569
Fixed via https://github.com/elastic/elasticsearch/pull/11712

[2015-08-26 14:19] #3569 closed

[2015-08-26 14:25] jpountz commented on #4318
Closing: we removed the execution option in 2.0. Range execution through fielddata might come back, but with automatic detection of whichever is more efficient as opposed to using an option.

[2015-08-26 14:25] #4318 closed

[2015-08-26 14:34] jpountz commented on #4349
Yes it is! I opened https://issues.apache.org/jira/browse/LUCENE-6764 on the Lucene side, but even if it gets in using 1 byte instead of 4 would still be useful.

[2015-08-26 14:37] jpountz commented on #4420
I don't think we should make the update API more complicated. It is easy to get the previous source by issuing a GET first, then running the update on the same version of the document and retrying in case of conflict.

[2015-08-26 14:37] #4420 closed

[2015-08-26 14:43] jpountz commented on #4945
I see `null_value` as something that is quite specific to structured data. Not sure how much sense it makes on analyzed string fields?

[2015-08-26 14:47] jpountz commented on #5249
Now that we have a `filters` aggregation, I'm tempted to just recommend it instead if someone needs different include/exclude behaviour than the range aggregation. Opinions?

[2015-08-26 14:58] jpountz commented on #6173
The benchmark API efforts have been discontinued.

[2015-08-26 14:58] #6173 closed

[2015-08-26 14:58] dadoonet commented on #13120
++ i was not aware of that. Thanks Nik!

[2015-08-26 14:59] jpountz commented on #6228
The benchmark API efforts have been discontinued.

[2015-08-26 14:59] #6228 closed

[2015-08-26 14:59] jpountz commented on #6252
The benchmark API efforts have been discontinued.

[2015-08-26 14:59] #6252 closed

[2015-08-26 15:04] jpountz commented on #6408
Closing in favour of https://github.com/elastic/elasticsearch/issues/6580

[2015-08-26 15:04] #6408 closed

[2015-08-26 15:12] jpountz commented on #7311
Closing as `and` is now deprecated anyway.

[2015-08-26 15:12] #7311 closed

[2015-08-26 15:20] nik9000 commented on #13120
I wasn't either until this morning. It should be reasonably simple to do for anyone that is used to maven's maven-ness. You'll need access to sonatype's elasticsearch oss repository to test this though.

[2015-08-26 15:22] jpountz commented on #8322
Sorry that I missed the previous pings. We haven't had the need to use caches for "regular" aggregations and I don't want to make the framework more complicated.

[2015-08-26 15:22] #8322 closed

[2015-08-26 15:23] niraj8241 commented on #13114
Sorry I didn't get your question. What does this mean embed elastic search in another JvM?

[2015-08-26 15:25] jpountz commented on #8425
Closing: too many indices will cause various problems anyway.

[2015-08-26 15:25] #8425 closed

[2015-08-26 15:30] dadoonet commented on #13114
If you don't understand that means you probably don't do it ! :)

Well sometimes Java developers embed ES in their Java web application. I guess you don't use Java for programming, right?

[2015-08-26 15:34] rjernst commented on #13112
@clintongormley Yes, it affects ip field type. The problem is how the search analyzer for ip fields is setup. For other numeric fields, it sets up an index analyzer for the numeric precision, and a search analyzer for the "max" value, and generally has constants for each possible precision. However, ip fields create these (even the "max" on for search analyzer) on the fly every time. This exposed

[2015-08-26 15:41] iwhitfield commented on #13113
@jpountz @martijnvg thanks for the infos - what's the request cache, is that the query cache? If so, I have rolling time ranges in my filters so that probably wouldn't work, right?

To what @jpountz said, is it possible (because my indices are time based), that I can just merge old segments to have a single segment? Would that help, either currently or 2.0?

[2015-08-26 15:46] nik9000 opened #13122 "Packaging tests should verify that dab and rpm don't register elasticsearch to start on restart or start elasticsearch after install"
We intend for neither the deb nor the rpm to start elasticsearch on install nor register elasticsearch to start on restart. We should test that.

We know this that debian policy is for packages to do both of those things but we think that that would be the wrong choice for elasticsearch, even if it is confusing to debian users.

[2015-08-26 15:46] adermlx commented on #13113
i am fresher

[2015-08-26 15:49] nik9000 opened #13123 "deb package should register elasticsearch to start on restart"
The default for DEB packages is to register the thing they install to start on restart. Elasticsearch should do that too.

[2015-08-26 15:50] nik9000 commented on #13123
@clintongormley I'm not 100% sure this is new.

[2015-08-26 16:05] knoxxs commented on #2230
+1

[2015-08-26 16:47] yangjm commented on #4915
@jpountz Proposed solution works only when we already know the terms before the page being visited. Please think about when there are thousands of terms, on the UI user jump directly from page 1 to 500.

+1

[2015-08-26 17:04] falkorichter opened #13125 "search Request performance drops significantly when setting size to Integer.MAX_VALUE"
We are updating some data in our els store. The data has a creation timestamp so we fetch buckets of 1 hour length from the database. Therefore we need to fetch all items from this date bucket. Since we don´t know how many items could be in the bucket, we se the size of search to Integer.MAX_VALUE.

We´re seeing a dramatic drop in performance when setting the hit size that high. When we set the si

[2015-08-26 17:32] lygstate opened #13126 "How to building rpm package for elasticsearch?"
I want to building my own rpm package for elasticsearch

[2015-08-26 17:38] jpountz commented on #8916
The class loader does not seem to have enough memory to load all classes.

[2015-08-26 17:38] #8916 closed

[2015-08-26 17:40] jpountz commented on #13113
On 1.x there is nothing you can do, we explicitly prevent parent/child queries from being cached. On 2.x this should be possible if the index is (mostly) static, and merging everything down to a single segment will also help.

[2015-08-26 17:48] jasontedor commented on #13126
@lygstate Only in case you are not aware [Elastic](https://www.elastic.co) does provide [repositories](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-repositories.html#_yum) with prebuilt RPMs.

If that's not sufficient, do you want to build off of master, or some other branch of the elasticsearch source code repository?

[2015-08-26 18:00] jpountz commented on #9039
I don't think we can do much about it: there are so many ways that an application that has access to elasticsearch can bring a cluster down. File descriptors are only one out of many potential issues.

[2015-08-26 18:00] #9039 closed

[2015-08-26 18:06] jpountz commented on #9064
Fixed via #11483

[2015-08-26 18:06] #9064 closed

[2015-08-26 18:12] nik9000 commented on #13123
Ok - it is new. 1.7.1 doesn't auto start on restart. You have to add it to the runlevels yourself. The [reference](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-repositories.html) even tells you how.

I've added the discuss label. It seems like for the most part deb packaged start their services on install but that isn't a super popular thing. Some packages don't do it and

[2015-08-26 18:16] jasontedor commented on #13123
I do not think that we should do this. It has the potential to expose un-configured or misconfigured instances of Elasticsearch. We provide the [instructions](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-service.html#_debian_ubuntu) in our setup page and that should be sufficient for those that are ready to configure this.

[2015-08-26 18:20] jpountz commented on #9312
Is it worth doing in Elasticsearch when most writes that we perform are done through Lucene?

For the record, this sounds pretty hard to do to me. There are some files that we don't know in advance how much we are going to write, eg. stored fields of flushed segments, but even for merges this is much more complicated than summing up the size of the merged segments... So I am quite skeptical about

[2015-08-26 18:30] nik9000 commented on #13125
I'm pretty sure this is a duplicate. I'll hunt down what this is a duplicate of. OTOH you've left a workaround so thanks for that.

[2015-08-26 18:31] jpountz commented on #9072
The way I see it is that if you want to have your indices stored in HDFS at all costs, then this is your only option. On the other hand, we are already seeing performance issues with some (supposedly) good network-attached storage, so I don't think having indices stored in HDFS would be a better story. From an elasticsearch perspective, the best you can do is to use a good local drive. If you use

[2015-08-26 18:31] jasontedor commented on #13125
Have you considered using a [scroll](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-request-scroll.html)? I would advise against setting the result `size` so large given the data structures etc. that are allocated to handle result sets.

Note that such a request opens a "scroll context" that will enable you to continue to fetch the results of the initial search request.

[2015-08-26 18:34] nik9000 commented on #13125
Yeah - this is really much better than your workaround. I'd love for this to be less of a thing - for elasticsearch to reject requests that are unreasonably large with a helpful message pointing you to scroll. And for some requests to be streamable. But neither of those are implemented yet. I thought there were issues opened for them but I've misplaced them.

[2015-08-26 18:38] clintongormley commented on #13125
See https://github.com/elastic/elasticsearch/issues/9311 and https://github.com/elastic/elasticsearch/issues/11511

Definitely a duplicate, and scrolling is the right answer

[2015-08-26 18:38] #13125 closed

[2015-08-26 18:38] nik9000 commented on #13125
There we go. Thanks.

[2015-08-26 18:41] iwhitfield commented on #13113
@jpountz that's awesome, looking forward to 2.0. Even given the optimum scenario for use of the cache, should still not be expecting the same level of caching other aggregations receive?

[2015-08-26 18:44] jpountz commented on #13113
@iwhitfield sorry my last reply was more targeted at parent/child queries. For aggregations, you should already be able to get caching working if you use the query cache (renamed to request cache in 2.0 to better describe what it does). But this cache only works with search_type=COUNT and is invalidated everyt time there is a refresh operation happening.

[2015-08-26 18:47] iwhitfield commented on #13113
@jpountz ah, I can't do that because I've got moving time based filters in my queries sadly.

So... I'm a little confused, because the caching & speed of has_child is fine in my testing, it's purely the children aggregation that's being a pain - is that just the nature of the join, and as good as it's going to get (i.e. never speeds up)?

[2015-08-26 18:50] jpountz commented on #9726
Closing due to lack of feedback

[2015-08-26 18:50] #9726 closed

[2015-08-26 18:57] niraj8241 commented on #13114
:) yaah i am poor sys admin who doesn't do java programming.

[2015-08-26 19:04] jpountz commented on #10153
+1 I think this is the right way to describe types.

[2015-08-26 19:07] jpountz commented on #10260
Closing: this is harder than I expected.

[2015-08-26 19:07] #10260 closed

[2015-08-26 19:14] jpountz commented on #10181
Closing due to lack of feedback

[2015-08-26 19:14] #10181 closed

[2015-08-26 19:17] jpountz commented on #10383
Norms are going to be disk-based as of Lucene 5.3 (probably Elasticsearch 2.1) soI'm wondering that being able to drop norms is not that useful anymore, and probably not worth the complexity?

[2015-08-26 19:20] jpountz commented on #10437
Closing due to lack of feedback

[2015-08-26 19:20] #10437 closed

[2015-08-26 19:23] jpountz commented on #13113
If it's very slow, any change that you can capture the node hot threads while the aggregation is running?

[2015-08-26 19:25] jpountz commented on #10494
Closing due to lack of feedback

[2015-08-26 19:25] #10494 closed

[2015-08-26 19:26] jpountz commented on #10493
Closing due to lack of feedback

[2015-08-26 19:26] #10493 closed

[2015-08-26 19:28] mohittt8 opened #13129 "Match phrase prefix query seems to ignore boost value."
There seems to be no effect on score on changing boost value on match_phrase_prefix query.

My query is:
<pre><code> "query": {
        "bool": {
            "should": [
                {"match_phrase_prefix": {
                        "firstName": {
                            "query": "is",
							"boost":2.0
                        }
                    }} ,
                    {"match_phrase_p

[2015-08-26 19:28] jpountz commented on #10466
Fixed via https://github.com/elastic/elasticsearch/pull/11437

[2015-08-26 19:28] #10466 closed

[2015-08-26 19:29] jpountz commented on #10576
Closing due to lack of feedback

[2015-08-26 19:29] #10576 closed

[2015-08-26 19:31] iwhitfield commented on #13113
@jpountz yeah I can try get that info for you, is there anything else which would be helpful?

I mentioned above that that set of aggregations (without the children aggregation) takes a little while to start with, but if I run it again it's milliseconds fast. I'm just trying to achieve the same, but the children aggregation is consistently the same amount of time regardless of how many times it ha

[2015-08-26 19:32] jpountz commented on #10781
+1

[2015-08-26 19:35] jpountz commented on #13113
Not really. This aggregation is known as slow and I suspect there is nothing that can be done about it. Just wanted to see the hot threads to confirm it's not something else.

[2015-08-26 19:35] jpountz commented on #10767
Closing. As @clintongormley pointed out, this can be improved a lot by just formulating the query differently.

[2015-08-26 19:35] #10767 closed

[2015-08-26 19:39] nik9000 commented on #10153
Its certainly a ton better than tables. +1

[2015-08-26 19:40] jpountz commented on #10758
This seems to be fixed in master.

[2015-08-26 19:40] #10758 closed

[2015-08-26 19:42] jpountz commented on #10860
Closing: supporting this would be tricky and very prone to memory leaks due to existing segments referencing old caches through their close listeners.

[2015-08-26 19:42] #10860 closed

[2015-08-26 19:42] jpountz commented on #10707
Closing due to lack of feedback

[2015-08-26 19:43] #10707 closed

[2015-08-26 19:47] jpountz commented on #11232
Closing due to lack of feedback

[2015-08-26 19:47] #11232 closed

[2015-08-26 19:49] iantruslove commented on #8486
(hopping on the "+1 to this feature" bandwagon)

[2015-08-26 19:50] jpountz commented on #11337
Fixed via https://github.com/elastic/elasticsearch/pull/12068

[2015-08-26 19:50] #11337 closed

[2015-08-26 19:50] jpountz commented on #11092
Closing due to lack of feedback

[2015-08-26 19:50] #11092 closed

[2015-08-26 19:52] mpereira commented on #8486
+1

[2015-08-26 19:59] jpountz commented on #11645
Closing for the reasons that Robert gave.

[2015-08-26 19:59] #11645 closed

[2015-08-26 19:59] jpountz commented on #11738
Fixed.

[2015-08-26 19:59] #11738 closed

[2015-08-26 20:04] jpountz commented on #12250
Closing as there have been lots of changes since then, but if you have such issues again can you please open a ticket with the name of the test that failed as the title? Thanks.

[2015-08-26 20:04] #12250 closed

[2015-08-26 20:12] jpountz commented on #12726
Thank you for bringing this up. Even though your analysis is probably right that we need to better share knowledge about this code base, I think things tend to get better over time. I'm closing this ticket but feel free to bring it up again on the forums if you want to discuss it more.

[2015-08-26 20:12] #12726 closed

[2015-08-26 20:19] jpountz commented on #13015
+1

[2015-08-26 20:21] jpountz commented on #13126
Closing as this is not an issue report.

[2015-08-26 20:21] #13126 closed

[2015-08-26 20:42] iwhitfield commented on #13113
@jpountz here's a grab of the hot_threads API: https://gist.github.com/iwhitfield/ceefcccf83a4f20aa0de

[2015-08-26 22:19] #12562 closed

[2015-08-26 22:31] xuzha commented on #12562
Thanks guys, merged the changes into master and 2.0.

[2015-08-26 23:05] rjernst commented on #10149
With #8870 complete, the documentation has been updated to reflect that field types must match for the same field across document types. I don't think there is anything more to do here. Please reopen if you feel the documentation is still missing something.

[2015-08-26 23:05] #10149 closed

[2015-08-26 23:27] iwhitfield opened #13131 "Native (search) script parameters are being overwritten (scripted_metric agg)"
**Disclaimer**: apologies in advance if it turns out I just did something stupid, but I've been banging my head against it and it makes no sense to me.

Got a weird one here. I'm writing a simple native script for the `scripted_metric` aggregation to group `DocLookup` objects by the `_parent` field of the documents being used. The problem is that the `_agg` object (part of my `params`) is being ov

[2015-08-26 23:33] iwhitfield commented on #13131
Also, if you copy the logging of `_agg.get(checkedSid)` to the very start of `run()`, you can see that `event1` is already gone by the time `run()` is next called - so it must be something outside of the script above (unless there's something bizarre with references going on that I'm missing?).

[2015-08-27 00:43] eskibars opened #13132 "Inconsistent handling of string numerics in geo aggregation "precision" parameter"
The setup:

    curl -XPUT http://127.0.0.1:9200/my_index -d '{
      "mappings": {
        "my_type": {
          "properties": {
            "my_loc": { "type": "geo_point" },
            "my_num": { "type": "integer" }
          }
        }
      }
    }'

    curl -XPUT http://127.0.0.1:9200/my_index/my_type/1 -d '{ "my_loc": [0,0] }'
    curl -XPUT http://127.0.0.1:9200/my_index/my_type/2 -d

[2015-08-27 01:24] lygstate commented on #13126
@jasontedor I wanna to building from the 2.0-beta1 branch, and I want to building it by my own.

[2015-08-27 01:48] rayward opened #13134 "Defining default_index and default_search analyzers sets type-level index and search analyzers"
The migration plugin is complaining that I have type-level analyzers configured for all my types:

analyzer, search_analyzer and index_analyzer settings have been removed and will use the index defaults instead, in type: foo.

I've pinned it down to the `default_index` and `default_search` definitions on the index analysis settings.

[code]

[code]

[code]

[code]

Is the how the intended behaviou

[2015-08-27 02:28] xzer opened #13136 "SearchPhaseExecutionException does not keep the original call stacktrace information"
When I send a query which failed at server side, I will got a SearchPhaseExecutionException with description "Failed to execute phase [query], all shards failed; shardFailures {[JuFndtmqRW2...".

Unfortunately the thrown SearchPhaseExecutionException is built from an async action without the call stack trace information of where the wrong/failed query was required. All of what we can get is just a

[2015-08-27 03:46] rjernst commented on #13134
@rayward You can certainly still define a default analyzer. Previously there were two different levels of default analyzer you could set. The first was on the entire index. The second was on each type. The latter was removed with 2.0 (see the reasoning in #8874), but the default analyzer can still be set on the entire index.

If you remove the `_index` suffix from your analyzer name (that is going

[2015-08-27 04:05] rayward commented on #13134
@rjernst thanks for clarifying, I think it's just a bit confusing because I never explicitly specified the type-level analyzers on the mapping, ES picked it up from from the index level settings.

I'm not even sure how to even remove them actually (perhaps because they're not actually set on the

[code]
[code]

Nor will it even let me change it:

[code]

The mapping still looks the same:

[code]

[2015-08-27 04:12] rjernst commented on #13134
It sounds like the get mappings on 1.x always output the type level if it was "set", even if by specifying an index level default. I think this should actually work when upgrading (it will just be ignored). It looks like this is a test index. Would you mind trying the upgrade and reporting back? @clintongormley can speak to how we might improve the migration plugin to detect this situation (and no

[2015-08-27 04:13] rjernst commented on #13134
I'll reopen for now, until we determine how to improve the migration plugin and/or if there is work needed to allow the upgrade error free in this case.

[2015-08-27 07:24] s1monw commented on #13015
I think the transport part is harder than expected since I think for the embedded case where you don't want anything to connect to ES you need this kind of transport. Yet, the discovery part I think should just go into src/test or maybe even should be deleted altogether. It's there today to speed things up but it would be awesome if we could make our default (zen) fast enough instead.

[2015-08-27 07:48] javanna commented on #10494
As a side note, in the query-refactoring branch we have improved how `_name` and `boost` work and also prevented any NPE from being thrown when either of them is set and the query ends up being null, which is most probably the case here.

[2015-08-27 08:45] s1monw opened #13138 "RPM build is broken and should be better tested"
in the past we had so many problems with RPM and it building, testing verification etc. You have to have a specific OS to even build a valid package (at least that was the case but who knows until you install it) The maven task claims to sign the RPM but doesn't and `rpm -K` happily passes if the package is unsigned. To work around this we have to sign the rpm after the fact with some cryptic rpm

[2015-08-27 08:57] #10787 closed

[2015-08-27 09:16] MaineC commented on #13126
YMMV depending on the distribution you use. As a starting point I'd suggest reading the RPM HowTo of the Linux documentation project:

http://www.tldp.org/HOWTO/RPM-HOWTO/build.html

Also the tool "alien" might help you with converting between rpm/tar/tar.gz formats.

[2015-08-27 09:33] clintongormley commented on #4945
@jpountz agreed - closing

[2015-08-27 09:33] #4945 closed

[2015-08-27 09:35] clintongormley commented on #5249
@jpountz would there be any difference in performance?

[2015-08-27 09:46] clintongormley commented on #13123
I'm with @jasontedor here - I don't think we should make ES autostart ourselves.  Up to the user.

[2015-08-27 09:52] markwalkom commented on #13138
We can't not offer RPM....

[2015-08-27 09:52] clintongormley commented on #9072
@jpountz agreed - this issue seems to have lost momentum, and there's certainly no interest in supporting this from our side, so I'm going to close this issue.

[2015-08-27 09:52] #9072 closed

[2015-08-27 10:09] electrical commented on #13138
I tried out the rpm signing process and still works.
Will have to check how the release script is being called and if all required arguments are being passed.

[2015-08-27 10:16] eugene-dm commented on #12722
Unfortunately experimental highlighter doesn't work correctly with phrases search, so waiting for resolution of this bug in core of elasticsearch.

[2015-08-27 10:17] electrical commented on #13138
The pre-release script sets `-Dgpg.keyname="%s"` which should be `-Dgpg.key="%s"`
because of this the signing didn't happen..

[2015-08-27 10:25] #8991 closed

[2015-08-27 10:25] #11744 closed

[2015-08-27 10:25] electrical commented on #13138
deb package is not signed either so will have to fix that as well. will update when i found all params / commands.

[2015-08-27 10:53] clintongormley commented on #13129
Boost does seem to be ignored by the match_phrase_prefix query:

    PUT t/t/1
    {
      "one": "foo",
      "two": "bar"
    }

    GET t/_search?explain
    {
      "query": {
        "bool": {
          "should": [
            {
              "match": {
                "one": {
                  "query": "foo",
                  "boost": 5
                }
              }
            },

[2015-08-27 10:53] clintongormley commented on #13129
This is also broken in master

[2015-08-27 11:08] clintongormley commented on #13131
@colings86 could you take a look at this please?

[2015-08-27 11:12] clintongormley commented on #13136
Hi @xzer

From the above it looks like it is missing the real reason for the failure, which presumably was either reported in response to the request or somewhere else in the logs.  2.0 has made a number of changes to exception reporting and stack trace logging.  Could you give 2.0.0-beta1 a go and let us know if it has addressed your needs?

[2015-08-27 11:14] s1monw commented on #13138
folks this is too cumbersome I hate to say it but fixing the arguments is not fixing the problem it's just continuing to fool around.

[2015-08-27 11:15] s1monw commented on #13138
@electrical I wonder why it's `gpg.key` their documentation states otherwise: http://www.mojohaus.org/rpm-maven-plugin/adv-params.html

[2015-08-27 11:16] electrical commented on #13138
@s1monw `<keyname>${gpg.key}</keyname>`
this made me try out -Dgpg.key and works.

[2015-08-27 11:17] clintongormley commented on #13134
@rayward thanks for pointing this out.  I'll move the issue to the migration repo and address this there

[2015-08-27 11:17] clintongormley commented on #13134
This issue was moved to elastic/elasticsearch-migration#23

[2015-08-27 11:17] #13134 closed

[2015-08-27 11:56] colings86 commented on #13131
@iwhitfield Could you post (maybe in a gist) of a Sense or curl recreation of this issue, including the commands for creating the index, indexing the events, and and search request for the scripted metric aggregation that uses your native script above?

[2015-08-27 11:56] falkorichter commented on #13125
I think I got the solution. Scroll to get a snapshot of the request that I can work with, then scroll through the list and collect all the items.

I´ll post my working solution when I find time testing and finishin it. Thx for the good hints and answers. :bow:

[2015-08-27 12:04] tommoholmes10 opened #13140 "Cannot Delete In server"
I hosted my elastic in AWS but, I cannot delete index.
my elasctic version 1.7.1

[2015-08-27 12:09] electrical commented on #13138
I was able to build rpm and deb packages signed and well with the following options:

`-Drpm.sign=true -Ddeb.sign=true -Dgpg.passphrase=password -Dgpg.key=key`