[2015-10-30 15:58] mikemccand commented on #14319
@s1monw master doesn't have the bug either ... I'm not sure why.

[2015-10-30 16:27] rmuir opened #14392 "Add missing gradle test-resources for plugin metadata"
About half plugins' tests won't work from IDEs at the moment, because the plugin metadata is not configured as a test resource.

In maven we created a separate test resource folder for plugin metadata:
https://github.com/elastic/elasticsearch/blob/2.x/plugins/pom.xml#L253-L257

Then we copied two resources to it:
* plugin descriptor file (with resource filtering populating it)
* plugin security po

[2015-10-30 16:34] #12674 closed

[2015-10-30 16:38] ksujeet opened #14394 "ES v1.7.1 Returning almost similar results on every page"
[code]

This a sample query which I am trying to run on ES and Its running well but when I select the from as 1 the results of this are similar to what I got the previous set the only exception is that the first result is excluded.

Example of my issue:
Page    Results
0          1-10
2          2-11 (Expecting 11-20)

Could you please point me in the direction where I am going wrong?
@kimchy , @s

[2015-10-30 16:54] nik9000 commented on #14361
@rmuir - do you want some help looking at this? I assigned it to you because you said you were looking at it but if you haven't yet I can grab it.

[2015-10-30 16:55] rmuir commented on #14361
please!

[2015-10-30 16:55] nik9000 commented on #13930
Ok - I'm going to look at the vagrant tests.

[2015-10-30 17:12] jst2cu opened #14395 "Find file containing the keyword"
Is there any module in elasticsearch to find the file containing the search keyword and get the contents of the file with the keyword

[2015-10-30 17:16] ksujeet commented on #14395
Take a look at this,
https://www.elastic.co/guide/en/elasticsearch/reference/1.4/mapping-attachment-type.html
https://github.com/elastic/elasticsearch-mapper-attachments

[2015-10-30 17:20] mediaon opened #14397 "Script_field returns different array value in the 2.0 version"
This behaviour is reproducible in v1.7.3 and 2.0.0.
Request:
    GET /my_index/object/_search
    {
      "script_fields": {
        "last_updates": {
          "script": "list=[];list.push(key:'test');list"
        }
      }
    }

Response:
1.7.3
  "fields": { "last_updates": [[ {"key": "test"}]]}
2.0
  "fields": {"last_updates": [ {"key": "test"}]}

[2015-10-30 17:26] dadoonet commented on #14395
+1 and ask questions on discuss.elastic.co

[2015-10-30 17:26] #14395 closed

[2015-10-30 17:44] nik9000 commented on #13216
So #13477 makes a start on this - it moves the dependency resolution to maven and sets up a reasonably simple way to add new versions and things like that. It doesn't do the following things that we really should do:
* Launch all elasticsearch using `bin/elasticsearch` - no internal nodes at all.
* Run the rest tests against the mixed version cluster.
* Other stuff I haven't thought about much lik

[2015-10-30 17:52] nickminutello commented on #14117
The issue occurs when one node JVM is 1.8 and the other is 1.7 (see above).

However, is it the case that this is just exposing the _actual_ bug (relying on Object.equals()) above?

[2015-10-30 17:58] #14394 closed

[2015-10-30 18:50] jasontedor commented on #14117
Is it possible for you to either take the 1.7 system to 1.8 or the 1.8 system to 1.7 and see if the issue reproduces? This still feels like a cross JVM version serialization issue to me. Mixing minor version is generally okay (not 100%, e.g., 6u45 and 7u21) but crossing major versions seems ripe for trouble.

[2015-10-30 19:34] monotek opened #14399 "Increased load and later es crash after update to 2.0"
I have 3 data nodes on Ubuntu 14.04 (KVM), Oracle Java 8, 2 Cores and 8 GB of RAM.
2 Replicas. About 20 million documents. Heap size 4 GB.

After updating from 1.7.3 to 2.0 my load increases from around 0.5 to 3 - 4.

In the beginning it was even worse because of relocation but now it should more or less idle but the load is much bigger as with 1.7.3

[2015-10-30 19:38] astefan opened #14400 "NullPointerException logged as WARN"
Test case:
- start a 1.7.2 node with `cluster.name: es172`
- then start a 2.0.0 node on the same machine with `cluster.name: es200`

The 2.0 node will start properly and work properly but during startup a NullPointerException is logged:  [es200.txt](https://github.com/elastic/elasticsearch/files/24532/es200.txt)

[2015-10-30 20:21] dakrone commented on #14400
This does reproduce (with 1.7.3 and 2.0.0)

[2015-10-30 20:27] dakrone commented on #14370
@ppf2 it sounds reasonable to me to have a sensible default to the limit. Do you know how deep these mappings went? Could we reasonably pick "100" as the limit for nesting?

[2015-10-30 20:27] dakrone commented on #14352
What about `force_empty_primary` to indicate that the newly created shard will in fact be empty?

[2015-10-30 20:30] ppf2 commented on #14370
@dakrone Will send you a sample offline.  I think we can choose a default, and also expose this as a configurable setting?

[2015-10-30 20:31] dakrone commented on #14350
+1, it seems bad that we never actually had a commit on the 2.0 branch where the version was 2.0.0, it went from 2.0.0-SNAPSHOT to 2.0.01-SNAPSHOT.

@clintongormley I feel like this should be part of the release process, to actually have a "Release 2.0.0" commit that immediately precedes the tagging. Someone should always be able to do `git checkout v2.0.0` and build elasticsearch-2.0.0.tar.gz

[2015-10-30 20:32] nik9000 commented on #14352
`accept_data_loss`?

[2015-10-30 20:41] rjernst commented on #14370
100 seems crazy high to me. `foo.bar.baz.a.b.c.d.e.f.g` is already 10 levels deep and that is crazy...

[2015-10-30 20:43] dakrone commented on #14370
@ppf2 We don't need a sample, I was just curious the number of levels it went down (not the actual mapping)

[2015-10-30 20:59] dakrone commented on #12566
I think this may have been fixed by https://github.com/elastic/elasticsearch/pull/12678 , @mkliu can you confirm?

[2015-10-30 21:00] spalger opened #14404 "/_field_stats returns date values as strings"
The `max_value` and `min_value` provided by the `/_field_stats` api currently provide strings values for date fields rather than milliseconds from epoch.

This feels like a bug to me, I expect them to resemble the results of a `max` or `min` aggregation:

`/_field_stats`
[code]

max aggregation:
[code]

[2015-10-30 21:01] dakrone commented on #6755
Closing this as we no longer shade dependencies.

[2015-10-30 21:01] #6755 closed

[2015-10-30 21:03] dakrone commented on #10611
Closing since we have not heard back in over 6 months.

[2015-10-30 21:03] #10611 closed

[2015-10-30 21:03] dakrone commented on #9988
Closing since we have not heard back in over 6 months.

[2015-10-30 21:03] #9988 closed

[2015-10-30 21:03] rashidkpc commented on #14404
This is really important for post request sorting. ISO8601 will sort fine, but users that have alternative formats may find their strings don't sort as expected

[2015-10-30 21:03] dakrone commented on #10068
Closing since we have not heard back in over 6 months.

[2015-10-30 21:03] #10068 closed

[2015-10-30 21:07] #12843 closed

[2015-10-30 21:12] dakrone opened #14405 "Expose ClusterInfo in nodes' stats"
Currently the only way to diagnose/debug issues with the gathered cluster info (disk and shard sizes) is to turn on verbose logging for the `cluster` namespace.

We should expose this in the nodes stats API so people can see the amount of free/used disk that is measured by Elasticsearch.

[2015-10-30 21:32] nik9000 opened #14406 "Forwardport BWC test fixes to gradle branches"
Once gradle has stabilized on master we'll need to forward port https://github.com/elastic/elasticsearch/pull/13477 to those branches. Normally forwardporting/backporting doesn't merit its own issue but in this case we'll be committing to the maven branches long before we'll be able to commit to the gradle branches.

[2015-10-30 22:44] ppf2 commented on #14370
@dakrone In this case, easily > 500 levels :open_mouth:

[2015-10-30 22:46] jpountz commented on #11511
Another protection to add: check mapping depth #14370

[2015-10-31 03:55] gujason721 opened #14408 "Elasticsearch 2.0 configuration publish host doesn't work"
Hi,
In my configuration, I added following entries in elasticsearch.yml based on https://www.elastic.co/guide/en/elasticsearch/reference/2.0/modules-http.html

http.publish_host: xx.xx.xx.xx

http.publish_port: 9200

However, it doesn't work as in ES 1.7.

Only setting network.host: xx.xx.xx.xx allows for remote http connection.

[2015-10-31 07:37] girirajsharma opened #14412 "`mvn clean package -DskipTests` fails due to forbidden-apis check on elasticsearch master branch."
Following stacktrace is logged:
[code]

[code]

It seems that the check `[forbidden-apis] Reading API signatures` is failing,
[code]
forbidden-apis check fails in case of both java-8-oracle as well as java-7-oracle.

[2015-10-31 07:44] javanna commented on #14412
We just moved to gradle as the build management system for elasticsearch. See #13930. We recently removed also pom files I believe, so at this point maven should not even try and build the project as it is not a maven project anymore and the error should be clearer. Have a look [here](https://github.com/elastic/elasticsearch/blob/master/README.textile#building-from-source) as well for more info.

[2015-10-31 07:44] #14412 closed

[2015-10-31 08:24] javanna commented on #14191
Also #14384 and #14270 made the same changes to `ExplainRequest`, `ExplainRequestBuilder`, `ValidateQuery` and `ValidateQueryRequestBuilder`. These should be documented the same way as we do it for the search request.

[2015-10-31 09:10] javanna opened #14413 "Deduplicate search sections parsing code"
When we moved query parsing on the coordinating node (see #10217), we added a new `SearchSourceBuilder#fromXContent` method that given an `XContentParser` and the current `QueryParseContext` parses and creates a new `SearchSourceBuilder` object. The parse code ends up duplicating what we already have in our `SearchParseElement` classes. We made a choice not to refactor these initially as they depe

[2015-10-31 09:37] martijnvg commented on #14404
@spalger @rashidkpc Right, the data format being returned depends on the configuration in the date field in the mapping, but that isn't good for sorting, so lets change the format slightly to also include the milliseconds from epoch.

[2015-10-31 10:03] javanna opened #14414 "Expand testing of queries"
Similar to what we attempted with #11608, we should find a way to expand the range of queries that we test against in our query tests. Our random query generator currently generates a query out of a very limited set of supported queries. Also those queries are always leaf queries. See https://github.com/elastic/elasticsearch/blob/master/core/src/test/java/org/elasticsearch/index/query/RandomQueryB

[2015-10-31 10:04] javanna commented on #14414
@cbuescher ping I thought this might interest you as you've been working on query testing, or maybe @MaineC as well.

[2015-10-31 11:47] monotek commented on #14399
After some time one of the nodes has even higher load (> 20), the other 2 nodes get load 0.1 and elasticsearch does not work anymore:

Syslog for the node with the high load says:

Oct 30 21:13:03 es1 kernel: [22200.884124] INFO: task jbd2/vdb1-8:307 blocked for more than 120 seconds.
Oct 30 21:13:03 es1 kernel: [22200.892344]       Not tainted 3.13.0-66-generic #108-Ubuntu
Oct 30 21:13:03 es1 ker

[2015-10-31 12:35] javanna opened #14416 "ShapeBuilder impls to implement Writeable"
At the GeoShapeQueryBuilder holds the ShapeBuilder as a bytes reference, meaning that it won't be parsed on the coordinating node but on each data node. This was done to speed up the query refactoring but should be revisited at this point. Parsing on the coordinating node would be better, it means that ShapeBuilder implementation would need to implement `Writeable` and override `equals` and `hashc

[2015-10-31 13:07] marcinkubica opened #14417 "ES 2.0.0. Marvel not found"
Yes there was #14349 for ES 2.0.0-rc1 however it's identical for ES 2.0.0

# curl localhost:9200
{
  "name" : "Deadpool",
  "cluster_name" : "kibanadev",
  "version" : {
    "number" : "2.0.0",
    "build_hash" : "de54438d6af8f9340d50c5c786151783ce7d6be5",
    "build_timestamp" : "2015-10-22T08:09:48Z",
    "build_snapshot" : false,
    "lucene_version" : "5.2.1"
  },
  "tagline" : "You Know, for

[2015-10-31 13:12] tlrx commented on #14417
You should run:
[code]

The documentation may help you: https://www.elastic.co/guide/en/marvel/current/getting-started.html

[2015-10-31 13:12] #14417 closed

[2015-10-31 13:53] marcinkubica commented on #14417
Cheers mate.

[2015-10-31 15:49] bleskes commented on #14399
In 2.0 we change the default behavior of the translog to fsync on every operation. Before it was fsync-ing every 5 seconds (by default), in order to strike a good balance between performance and durability (i.e., data loss when all shard copies loose power). We recently measured the impact fsync has on bulk operation and have discovered that it was greatly reduced in the years since the 5 second d

[2015-10-31 16:03] bleskes commented on #14352
I like the fact that `force_empty_primary` takes ownership of the implication and is clear about what's going to happen. `accept_data_loss` is more lenient and says I'm willing, if needed to run the risk. IMHO it's too subtle.

[2015-10-31 19:33] monotek commented on #14399
thanks for the hint. i will have a look into bulk indexing of the php library i use too.

i also had some help from the forum:
https://discuss.elastic.co/t/elasticsearch-crashes-after-update-to-2-0/33437/8

indeed it seems that it was an io problem.

my path.data dir was already an own partiton which mounts a glusterfs volume via libgfapi to prevent context switches of fuse mounts. it looks like t

[2015-10-31 19:33] #14399 closed

[2015-11-01 04:14] sunchanras commented on #14179
@jpountz
Regarding to https://issues.apache.org/jira/browse/LUCENE-6850 , was it fixed on ES 2.0 ? So I can set up test again.
Thank.

[2015-11-01 10:06] bleskes commented on #14319
I did some digging and this has to do with the fact that index shards are created with old index settings. IndexShard get's it's index setting using guice and the `@IndexSettings` annotation. This is supposed be supplied by [IndexSettingsProvider](https://github.com/elastic/elasticsearch/blob/1.7/src/main/java/org/elasticsearch/index/settings/IndexSettingsProvider.java) , which in turn asks `Index

[2015-11-01 12:28] nik9000 commented on #14179
@sunchanras that looks like its in Lucene 6.0, 5.4. Elasticsearch [2.0](https://github.com/elastic/elasticsearch/blob/2.0/pom.xml) uses Lucene 5.2.1. Elasticsearch [2.1](https://github.com/elastic/elasticsearch/blob/2.1/pom.xml) will Lucene use 5.3.0. Elasticsearch [2.2](https://github.com/elastic/elasticsearch/blob/2.x/pom.xml) and [3.0](https://github.com/elastic/elasticsearch/blob/master/gradle

[2015-11-01 12:33] mikemccand commented on #14319
Option 1 sounds scary (I don't like rabbit holes).  Option 2 seems like a biggish change to make on a bug fix branch?  We could simply leave this bug unfixed in 1.x and encourage users who hit it to upgrade to 2.x?

[2015-11-01 15:09] jasontedor commented on #14319
Since a workaround exists in the 1.x line, this seems to me to be a sensible option.

[2015-11-01 15:13] bleskes commented on #14319
note that the work around is likely to to work but not guaranteed. Sometime shard creation is throttled/disabled (see test) and  then it doesn't.

There is the option of just doing the on liner change in 1.7 to make index shard get a new setting every time and only the bigger change (i.e., remove the provider and the annotation) in 2.x .

[2015-11-01 16:22] harpreetsb opened #14422 "Elasticsearch not accessed via publicIP:9200"
hi, we have setup new server, the version 1.7.2 was working perfect and was accessible from public IP address as well.
After upgrading to  version 2.0 i can do
curl -X GET 'http://localhost:9200' vai SSH but
http://<public-IP>:9200 gives me "unable to connect"

[2015-11-01 16:28] dadoonet commented on #14422
Elasticsearch now binds on localhost so you can only access it from the local machine.

See network.host settings.

[2015-11-01 16:28] #14422 closed

[2015-11-01 16:45] harpreetsb commented on #14422
could you guide me in specific direction, Links.

[2015-11-01 16:48] dadoonet commented on #14422
https://www.elastic.co/guide/en/elasticsearch/reference/2.0/modules-network.html

[2015-11-01 19:39] andrejserafim opened #14423 "Starting checked out elasticsearch cluster"
According to https://github.com/elastic/elasticsearch/blob/master/TESTING.asciidoc it can be done by running [run.sh](../blob/master/run.sh) or [run.bat](../blob/master/run.bat), but those guys use mvn.

I see there's been a push to move from maven: #13930. And there's an item there to create a gradle task for this.

I'm new to gradle and the build of elasticsearch, but could folks explain how the

[2015-11-01 20:25] kabcampbell commented on #10746
Hi all,
I am running up against the hard-coded limit to the number of context categories that a suggestion can have, as referenced in [#9466](https://github.com/elastic/elasticsearch/issues/9466). Is that limit still on track to be removed? Is this version of the completion suggester to be included in elastic 2.1?
Thanks!

[2015-11-01 22:34] nik9000 commented on #14423
We should certainly fix run.sh and run.bat but in what you are doing is
fine.

If you import the project in eclipse you should be able to use the run
configuration sitting in dev-tools. It night also be broken by the move to
gradle, as that was just a few days ago and we had a bazillion things to
make work and certainly missed a few, like run.sh.

Untaring the distribution is the most real thing y

[2015-11-01 22:59] dcalixto commented on #14347
i got the same issue:
es.config is no longer supported. elasticsearch.yml must be placed in the config directory and cannot be renamed.
after update to 2.0 version. i'm using homebrew

[2015-11-01 23:03] dcalixto opened #14424 "Homebrew-installed Elasticsearch fails on startup"
after update to 2.0 did not start anymore now shows:

**es.config is no longer supported. elasticsearch.yml must be placed in the config directory and cannot be renamed.**

i'm using homebrew, someone get the same issue?

[2015-11-02 00:33] ssoulless commented on #14424
Yes me I have exact same issue...

[2015-11-02 00:45] ssoulless commented on #14347
Hi I just can't start elastic search, I did a new fresh install with home-brew and when I try to start with the command:

[code]
it show the message: es.config is no longer supported. elasticsearch.yml must be placed in the config directory and cannot be renamed.

Is there a quick fix I can use for just run elasticsearch?? I need it quickly help.

[2015-11-02 02:02] martijnvg opened #14425 "Benchmark the ingest plugin"
The ingest plugin should be benchmarked with at least the `grok` and `geoip` processors (likely to be the most used, but are also the processors that are the more complex compared to the `date` or `mutate` processors).

The benchmark should be based on a real world use cases.

[2015-11-02 03:32] Sen commented on #14424
I have same issue too, any solution?

[2015-11-02 03:37] ssoulless commented on #14424
Well a quick fix is to downgrade to 1.4, I had an urgency then I did that.

If you are using home-brew do the following:
[code]
[code]
It will install the previous version of elastic search that does not have this issue, then you can start elastic search without any problem:
[code]

[2015-11-02 03:52] harpreetsb commented on #14408
yes same problem, cat access it via public ip

[2015-11-02 03:54] harpreetsb commented on #14422
can you tell me the specific settings. i did
'network.host : PUBLIC IP'
but did not work

[2015-11-02 04:00] Sen commented on #14424
@ssoulless brew just rollbacked to 1.73, fixing local elasticsearch formula file works too

[2015-11-02 05:03] giovannibonetti opened #14426 "Feature request: Update nested objects directly with the HTTP API"
I have searched during some time for a practical way to update nested objects without having to touch the parent ones. The best I could find so far in the official docs was this link that explains how to [use scripts to make partial updates](https://www.elastic.co/guide/en/elasticsearch/guide/current/partial-updates.html#_using_scripts_to_make_partial_updates). This approach has a few downsides:
-

[2015-11-02 05:14] kausalyb commented on #10415
@clintongormley @martijnvg we would like to know the possible timeline of this feature will be into elastic search.
 My issue is same as mentioned this link https://github.com/elastic/elasticsearch/issues/10882.
Until then , I would be helpful if you can suggest any workaround for this.

[2015-11-02 05:55] dadoonet commented on #14422
What did you do exactly? I'd suggest that you open a thread on discuss.elastic.co with all details and logs.

[2015-11-02 06:53] harpreetsb commented on #14422
solution found
[code]

[2015-11-02 07:46] markwalkom opened #14429 "Update node.(other) docs"
[Here](https://www.elastic.co/guide/en/elasticsearch/reference/2.0/modules-node.html) we only list `node.data` when there is `.master` as well.

We should reflect this in the docs as a I've seen a few people ask about this just recently.

[2015-11-02 08:04] arinto commented on #14429
+1. Original discussion thread is [here](https://discuss.elastic.co/t/dedicated-master-nodes-in-elasticsearch-2-0/33485).

[2015-11-02 08:06] tlrx commented on #14347
You can use
[code]

where `--path.conf` refers to a directory that contains the `elasticsearch.yml` file and all other  logging,plugins etc configurations files.

With elasticsearch 1.x, it is possible to start elasticsearch and set the configuration *file* with parameters like `--config`, `-Des.config`, `-Delasticsearch.config` but it is also possible to configure the configuration *directory* wi

[2015-11-02 09:18] baelter commented on #11594
Also an issue on manjaro

[2015-11-02 09:54] zappeee commented on #14424
I have the same problem, though I've installed via apt-get / dkpg.

[2015-11-02 11:08] lipixun commented on #11118
Will this issue be fixed at 2.x? Really looking forward to see the nested inner hits in query dsl.

[2015-11-02 11:18] bleskes commented on #14338
Recovery of a replica is triggered by the master publishing a cluster state. Sometimes that  cluster state is processed by the target node first  and only then by the source node. The target node then initiates the recovery by sending a message to the source node. If that message arrives before the source node has processed the cluster state, it will respond with a `DelayRecoveryException`. This s

[2015-11-02 11:45] colings86 commented on #11145
@dakrone yes, we should now be able to do this since with the refactoring work we have ended up implementing ToXContent on the SearchRequest object (and all its attributes).

[2015-11-02 12:51] nik9000 commented on #14424
You could just stop using the parameter.... It's no longer supported
because the config dir option gives you as much flexibility in a slightly
different way and it is much simpler for us to support.
On Nov 2, 2015 4:54 AM, "zappeee" <notifications@github.com> wrote:

[2015-11-02 12:55] zappeee commented on #14424
I would if I just knew where it was used :)

I did a find on my machine and cannot find it anywhere, so any help would be appreciated!

[2015-11-02 13:18] jasontedor commented on #14424
It's coming from the p-list that the Homebrew formula is building. I'll open up a pull request in the Homebrew project to fix several issues that I see with the formula.

[2015-11-02 13:21] nik9000 commented on #14424
@zappeee, it looks like you aren't using homebrew - if you want to contact me directly I can connect with you outside the ticket and we can track down where the setting comes from for you. My email is in my github profile.

[2015-11-02 13:49] nik9000 commented on #14408
Sorry, I don't understand what you mean. Could you rephrase it?

[2015-11-02 13:52] rmuir commented on #14408
I think the confusion stems from `publish_XXX` not being listed in the documentation separately as an "advanced option". Setting the publish host does not change binding at all, it only changes what the node "advertises" and is only intended for special proxy/firewall situations. In 99% of cases people should not be changing it.

[2015-11-02 13:56] nik9000 commented on #14408
To make this as clear as possible: in almost all cases what you should change is the `host` setting. Not `bind_host` or `publish_host`.

Honestly https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-network.html could do with a rewrite to mention `host` first and way lower down mention that you can, in extraordinary situations, bind to a different host than you publish.

[2015-11-02 13:58] rmuir commented on #14408
+1

[2015-11-02 14:08] nik9000 commented on #13484
I've resolved this particular issue using a service that runs inside maven to do the forking. I've started using #13216 to collect all issues and ideas for improvement for the backwards tests. I believe that the backwards tests need to be able to fork so they can perform rolling restarts. The tests could really do more but I'm collecting those things in #13216.

[2015-11-02 14:14] nik9000 commented on #14361
Ryan told me he'd grab this so I'm assigning it to him.

[2015-11-02 15:04] rmuir opened #14438 "check-invalid-patterns in 2.x maven builds should ignore build/"
Otherwise switching git branches from master (on gradle) is very annoying, since some ant build reports in build/reports will have problems.

I'm not sure this task should really be running on `${basedir}` anyway: at least in a blanket way and then excluding build files and stuff. Maybe it is enough to only explicitly run on a few things like `src` and `*.xml` to ensure there are not any nocommits

[2015-11-02 15:41] lukas-vlcek opened #14439 "[DOCS] Possible typo Apache Spark vs. Apache Storm"
May be it is just a typo, but why the first paragraph here refers to Apache Spark while it is inside Apache Storm part?
https://www.elastic.co/guide/en/elasticsearch/hadoop/current/requirements.html#requirements-storm

[2015-11-02 16:04] wkruse opened #14441 "Unicast hostname failing to resolve blocks cluster from starting"
Hi folks,

there seems to be a regression from **1.7.3** to **2.0.0** regarding the `gateway.recover_after_time` setting.

[code]

I run Elasticsearch on three nodes (Docker hosts). The DNS names are not immediatly available. In **1.7.3** the cluster stabilizes after a couple of minutes. In **2.0.0** the container crashes directly.

[code]

[2015-11-02 16:17] dakrone commented on #14441
@wkruse it looks like this doesn't have anything to do with the `gateway.recover_after_time` setting. In 2.0.0 the networking is more strict regarding networking settings. In your case, one of your unicast hosts, `02.elasticsearch` fails to resolve to an IP address.

[2015-11-02 16:32] jprante opened #14442 "Elasticsearch _bulk endpoint fails if data contains UTF-8 Byte Order Mark"
This looks like a regression because it worked on 1.x

perl -e 'print "\xEF\xBB\xBF"' > test.dat
echo '{ "index" : { "_index" : "test", "_type" : "type1", "_id" : "1" } }' >> test.dat
echo '{ "field1" : "value1" }' >> test.dat

hexdump -C test.dat

[code]

Elasticsearch 2.0.0

[code]
curl -XPOST '0:9200/_bulk' --data-binary @test.dat

fails with

[code]

Server log

[code]

[2015-11-02 16:39] girirajsharma commented on #14439
The following PR https://github.com/elastic/elasticsearch-hadoop/pull/588 fixes above issue.

[2015-11-02 17:17] ywelsch opened #14445 "Delayed allocation can miss a reroute"
The issue I focus on is described in #14010, #14011. Reproduced it using an integration test and I think I found a program flow leading to this issue.

Assume cluster where setting for delayed allocation is 1 minute. Now a node goes down. Shard becomes unassigned. In `RoutingService.clusterChanged()` (master node), `nextDelaySetting` is 1 minute (= smallest delayed allocation setting). The variabl

[2015-11-02 17:34] dakrone commented on #14445
Let me see if I understand this:

- 00:00 Nodes goes down, 1 shard unassigned (shard A)
- 00:00 Routing service sees a 1 minute delay in assigning the shard and schedules a reroute in 1 minute
- 00:30 Another node goes down, 1 additional shard unassigned (shard B)
- 00:30 Routing service sees a 1 minute configured delay, but does nothing
- 01:00 Scheduled reroute is executed, shard A is assigned (

[2015-11-02 17:48] seang-es opened #14446 "DOCFIX: Shield reference docs list all privileges, but do not define all of them"
https://www.elastic.co/guide/en/shield/current/reference.html

Some items, such as 'exists' are listed as part of 'manage' and are in the complete list of privileges, but do not have specific definitions of their own.  All listed privileges should have definitions as well to avoid ambiguity.

[2015-11-02 17:54] girirajsharma commented on #14211
Makes sense to me. `--system` flag wasn't introduced in CentOS prior to CentOS 6.0 [http://www.freebsd.org/cgi/man.cgi?query=useradd&apropos=0&sektion=8&manpath=CentOS+6.0&arch=default&format=html]
Although, these days almost all linux distributions have the support of both the flags.
May be I can fix this if the use of flag `r` instead of `system` is preferred.

[2015-11-02 18:32] DragosBobolea commented on #4915
+1

[2015-11-02 18:41] ppf2 commented on #11511
Limit the max value that can be set for queue_size for our search, bulk, index, etc.. thread pools so users can't set them to unlimited, millions, etc..?

[2015-11-02 18:56] jasontedor opened #14448 "Limit the maximum queue_size for fixed thread pools?"
Dynamically adjustable `queue_size`s for thread pools can in general be a useful feature for users to tune depending on their cluster utilization. However, as `queue_size` tends to `Integer.MAX_VALUE`, the value of this turns negative. So perhaps we should set a upper bound on `queue_size` beyond which it can not be set?

Relates #11511, relates #14367 (cf. [comment](https://github.com/elastic/ela

[2015-11-02 19:37] rjernst opened #14450 "Cleanup plugin properties generation"
This currently has 2 problems since the switch to gradle:
1. It depends on compiling, so that it can check for the existence of the given classname for jvm plugins. Instead, we should check for the .java file as compile is heavyweight.
2. The generation currently does not use the template file as it did in maven. This was just me not understanding the equivalent of maven filtering for gradle at th

[2015-11-02 19:38] #14392 closed

[2015-11-02 20:30] packplusplus opened #14453 "ES 2.0 rpm does not create /home/elasticsearch"
Causes issue if you try to run a cron job as the ES user. Issue on centos 6, package from the repo.

[code]

[2015-11-02 21:00] s1monw commented on #14319
@mikemccand in master I trashed this Provider @bleskes is talking about entirely. New shards are guaranteed to see the latest settings.

[2015-11-02 21:02] MaineC commented on #8964
Ran into a question when going through the query parsers:

Look at https://www.elastic.co/guide/en/elasticsearch/reference/1.4/query-dsl-ids-query.html - we've documented a query option called "type".

In the current implementation here: https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/index/query/IdsQueryParser.java we accept all of _type, types and type f

[2015-11-02 21:16] rjsm commented on #10793
I would assume any cluster that this would be an issue on is under config management.  You can update the elasticsearch.yml under the node, and then tell to not be master eligible.  If it unexpectedly restarts, it'll pick up the intended configuration from the file. I'm transitioning my cluster to dedicated masters here shortly.

[2015-11-02 21:18] lazymachinist opened #14455 "min_score doesn't seem to prune irrelevant results"
Scenario: to do significant_terms aggregation on a random subset (10%) of the results. The goal is to speed up computation of the aggregation by taking only a portion of the results.
Issue: setting up score in script_score and applying min_score doesn't seem to influence the final result. The following query has 44k results in the database, and all of them seem to get aggregated.

query:

[code]

[2015-11-02 21:19] #14450 closed

[2015-11-02 21:34] markwalkom opened #14456 "Node level total_shards_per_node"
A customer has asked for this to accompany `index.routing.allocation.total_shards_per_node` as they are seeing rather uneven allocation.

While this might sound reasonable for larger systems with a lot of indices and shards (which they have), there are still potential issues with implementing this so I wanted to start a discussion.

(Thanks to @dakrone as well)

[2015-11-02 21:54] ppf2 opened #14457 "Unicast hosts port range breaking change in ES 2.0"
There is a breaking change in ES 2.0 where we changed the unicast.hosts specification.

There are 2 issues with this change:

1) This is missed in our breaking changes "network changes" documentation:
https://www.elastic.co/guide/en/elasticsearch/reference/2.0/_network_changes.html

While the new syntax is documented in the [Zen discovery](https://www.elastic.co/guide/en/elasticsearch/reference/2.

[2015-11-02 22:13] talevy commented on #14425
@martijnvg, where would these benchmarks run?

Also, I was thinking of introducing `JMH` micro-benchmarks to help with improvements to the grok processor. Specifically, I was exploring different regex engines to see if it makes sense to stick with Joni. Do you feel this type of micro-benchmarking belongs in the source, or should I keep this outside in a separate project?

[2015-11-02 23:02] langjai0 opened #14458 "ElasticSearch 2.0 install"
Anyone getting problems installing the new elastic search 2.0?

I'm getting the "Exception in thread "main" java.lang.Runtimeexception: don't run as root"

[2015-11-02 23:08] imotov commented on #14298
@dadoonet it seems to be a common problem with NFS mounts. Not really sure how to deal with it though. This problem is now detected during repository validation, but it's still somewhat confusing.

[2015-11-03 00:23] sinneduy opened #14459 "Debian install pointed at 2.0 installs 2.0.0-beta2"
[code]

To install 2.0.0, you have to 2.x in the echo, like so:

[code]

[2015-11-03 00:32] jasontedor commented on #14459
This is covered in the [repositories documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-repositories.html) and in the list of [packaging changes](https://www.elastic.co/guide/en/elasticsearch/reference/2.0/_plugin_and_packaging_changes.html#_repository_naming_structure_changes).

[2015-11-03 00:32] #14459 closed

[2015-11-03 00:36] sinneduy commented on #14459
@jasontedor have you guys considered removing 2.0 as a valid install?  I think that would help a little

[2015-11-03 01:04] dadoonet commented on #14458
Sounds like you are trying to run elasticsearch as root user which is forbidden, security wise?

[2015-11-03 01:04] #14458 closed

[2015-11-03 01:06] markwalkom commented on #14456
I totally missed it, but we have something in 2.0 that does this.

https://www.elastic.co/guide/en/elasticsearch/reference/current/allocation-total-shards.html

[2015-11-03 01:46] sweetest commented on #13155
I'm still seeing this with elasticsearch 2.0.0, Mac OS Yosemite.

maven dependency

        <dependency>
            <groupId>org.elasticsearch</groupId>
            <artifactId>elasticsearch</artifactId>
            <version>2.0.0</version>
            <scope>compile</scope>
        </dependency>

code that triggers error

        node = NodeBuilder.nodeBuilder().data(true).settings(

[2015-11-03 02:03] rjernst commented on #13155
@sweetest That is expected since you are starting a node. The PR that closed this removed the need for `path.home` to be specified for `TransportClient`s. But any node needs to have `path.home`.

[2015-11-03 02:03] jasontedor commented on #13155
That's not building a client node, that's building a data node for which `path.home` *must* be configured (how else will the node where to put its data).

[2015-11-03 02:04] martijnvg commented on #14425
Initially adhoc from our dev machines and maybe later somewhere else but automated.

The idea I had was to start a full cluster (at least one data/master node and an ingest node) and run the benchmark against that. I haven't thought about micro benchmarks, but we add them maybe to a separate repository?

No idea yet. Would be great if just have a real sample set (~10GB or something like that) of l

[2015-11-03 02:17] #14294 closed

[2015-11-03 02:35] adichad commented on #12461
2.0 gives the following exception on trying to put an existing mapping that worked with 1.7.x:
`org.elasticsearch.index.mapper.MapperParsingException: Mapping definition for [title] has unsupported parameters:  [include_in_root : true]`
so maybe this is already merged in 2.0.0 and can be closed? Also would be helpful to mention this and the recommended alternative approach (copy_to) with an exampl

[2015-11-03 03:19] feifeiiiiiiiiiii opened #14461 "ES type question"
I set a `dynamic template` mapping, a field define as follow

[code]

I insert a data (`distr_pan.v` setting a `Integer` value), I found the `dis_pan` type change to `long`

[code]
Not typecasting  in insert data to ES?

[2015-11-03 05:48] xuanyuanking commented on #14298
@imotov @dadoonet
My solution of this problem in production is only give all the ${index_name}/${shard_num} dir 777 permission in FsBlobStore, that make different shards in different user can write BlobStoreRepo.
Should we add a config item like "repositories.fs.open_write_permission" and control this? If you think this is nessisary, I want to give a PR on it.

[2015-11-03 06:34] rjernst opened #14464 "Maven to gradle Integ test parity"
A few small nice features of the ant/maven integ tests were lost with the move to gradle, noted here:
https://github.com/elastic/elasticsearch/pull/14460#issuecomment-153227207

This issue is to add these back:
* random tmpdir for cwd
* space in ES home path
* space in plugin files source path
* jps check for already running ES

[2015-11-03 06:51] nithyanv opened #14465 "Elasticsearch not accessible after moving from 1.4.4 to 2.0.0"
Hi,

I removed  elasticsearch 1.4.4. using rpm. (It was installed using rpm package)

Then installed 2.0.0 using rpm again and started it as below.

Logs show no error or exceptions

[2015-11-03 12:12:48,781][INFO ][env                      ] [Atalon] using [1] data paths, mounts [[/ (/dev/mapper/vg01-LogVol00)]], net usable_space [37.2gb], net total_space [90.6gb], spins? [possibly], types [ext4]

[2015-11-03 06:54] feifeiiiiiiiiiii opened #14467 "About field type change question?"
I found `field type` changed, template setting type is `float`, but now change `long`, what causes?
[code]

[2015-11-03 07:00] dadoonet commented on #14465
Try `curl -XGET http://127.0.0.1:9200`

And join us on discuss.elastic.co for questions.

[2015-11-03 07:00] #14465 closed

[2015-11-03 07:06] #14461 closed

[2015-11-03 07:07] nithyanv commented on #14465
I tried curl -XGET http://127.0.0.1:9200 and got below

[2015-11-03 07:08] nithyanv commented on #14465
There are no changes in the log. No connection seems to be getting established there.

[2015-11-03 07:29] dadoonet commented on #14465
Try with `curl -XGET http://127.0.0.1:9200/`

[2015-11-03 07:30] nithyanv commented on #14465
@dadoonet Still the same :-(

[2015-11-03 07:34] dadoonet commented on #14465
Any chance elasticsearch is not running anymore?
May be you have firewall weird setup?

[2015-11-03 07:43] jrots opened #14469 "Using binary type and doc_values=true makes doc() lookups completely unusable"
(ES 2.0 )
In the documentation it states that you can fetch binary doc_values by using "doc_values": true, for that type: https://www.elastic.co/guide/en/elasticsearch/reference/current/binary.html.
When trying to fetch this in a java plugin I always get unsupported_operation_exception, thrown by UnsupportedOperationException, BytesBinaryDVAtomicFieldData line 104:
you can reproduce it by creating

[2015-11-03 07:45] nithyanv commented on #14465
I checked that

Will check with my team about any firewall issue.

[2015-11-03 07:46] danielmitterdorfer commented on #11657
I've looked into this and thought how it could be implemented. The problem is that currently the cluster health status is calculated on a variety of parameters (see `ClusterHealthResponse`). The cluster health status is only evaluated when a cluster health REST request is handled. So this calculation is triggered by some user action but not based on an event from within ES itself currently.

So we

[2015-11-03 07:48] dadoonet commented on #14465
There is absolutely no reason if elasticsearch is running and if elasticsearch tells `publish_address {127.0.0.1:9200}, bound_addresses {127.0.0.1:9200}, {[::1]:9200}` that nothing is answering at http://127.0.0.1:9200 (you can run that in a browser BTW)

[2015-11-03 07:53] nithyanv commented on #14465
I know! This is so strange. It is running fine as a test, in a local windows installation. Already tried through browser.

[2015-11-03 07:54] nithyanv commented on #14465
We have set up ETC hosts as well.

[2015-11-03 08:43] robin13 opened #14470 "Wildcard search for field does not return all fields if store:false"
If fields are not stored (`"store":false` in mapping), it is still possible to query fields using the `"fields":[ "foo", "bar" ]` query syntax as the fields are taken from the `_source`.
If however you use a wildcard : `"fields": [ "*" ]` then no fields are returned.

[2015-11-03 08:46] castorm commented on #14267
+1

[2015-11-03 08:51] tlrx commented on #14470
I think we should update the documentation to make it more explicit that `"fields":["*"]` only returns stored fields and won't extract all fields (stored or unstored) from `_source`.

[2015-11-03 09:19] #14467 closed

[2015-11-03 09:20] jpountz commented on #14442
This is due to the fact that detection used to fallback to json when we could not recognize either cbor, smile or yaml. But now we only recognize json if we detect a sequence of spaces followed by a '{'. So I guess we should also accept the common BOMs as first bytes.

[2015-11-03 09:47] jpountz commented on #14455
I tried it locally and it worked for me with elasticsearch 2.0. Which version are you running?

[2015-11-03 09:56] jpountz commented on #14469
I'm curious what your use-case is, for now the only use-case I knew about for doc values on binary fields was an image plugin for elasticsearch (#5669) and doc values were consumed directly through the plugin, bypassing the scripting layer.

[2015-11-03 10:26] albanm opened #14475 "Inner hits not returning deep fields values"
Hello,

I try to fetch inner hits with specific fields. Everything works fine when the fields are at the root of the nested document, but it doesn't when the field has a composed key with some dots.

I have this with ElasticSearch 1.7.2.

Here is a simple script to illustrate the problem:

[code]

[2015-11-03 10:35] albanm commented on #14475
FYI storing the individual field doesn't seem to change anything.

[2015-11-03 10:55] ywelsch opened #14476 "Test with @SuppressLocalMode and discovery.type=local diverges"
Currently there is a test (`ClusterServiceIt.testMasterAwareExecution`) on Jenkins that does not terminate.

http://build-us-00.elastic.co/job/es_core_master_medium/2568
(reported by @nik9000)

It seems to be not related to cluster state, but more related to test setup, namely interplay of @SuppressLocalMode and put("discovery.type", "local”). This means that we have combination of node.mode = net

[2015-11-03 11:01] cbuescher commented on #13884
Reopening this issue since the fix proposed in #14186 was too fragile. Discussed with @javanna and @jpountz, at this point we think the options are either fixing this in lucenes SimpleQueryParser so that we can apply minimum_should_match correctly on the ES side or remove this option from `simple_query_string` entirely because it cannot properly supported.

[2015-11-03 11:06] jrots commented on #14469
Well I have an index that contains +/- 100M documents, the data that is indexed are "persons" and a typically search is :
find users that are around me, but the sorting needs to be done dynamically:
Each "person" has answered x questions with some answers.
I need calculate a "matchscore" on the fly for the persons I find, basically the overlap of my questions with the persons I find.
There are abo

[2015-11-03 11:15] jjfalling opened #14478 "Non java bin plugins on 2.0"
The existing support plugin is a bin plugin in bash and powershell. It the plugin-descriptor.properties allows for either site plugins (which require a _site folder) or java plugins with need to provide classes to load. So it appears this breaks the ability to use non-java pin plugins.

[2015-11-03 11:57] cbuescher commented on #13884
Trying to sum up this issue so far:

* the number of should-clauses returned by `SimpleQueryParser` is not 1 for one search term and multiple fields, so we cannot apply `minimum_should_match` correctly in `SimpleQueryStringBuilder`. e.g. for `"query" : "term1", "fields" : [ "f1", "f2", "f3" ]` SimpleQueryParser returns a BooleanQuery with three should-clauses. As soon  as we add more search terms,

[2015-11-03 12:15] tlrx commented on #14357
The offending bug is located [here](https://github.com/elastic/elasticsearch/blob/v2.0.0/core/src/main/java/org/elasticsearch/plugins/PluginsService.java#L132) where it used the name defined in the plugin's class rather than the name defined in the plugin's properties file.

This is already fixed in 2.x, 2.1 and [master](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/e

[2015-11-03 13:03] danielmitterdorfer commented on #11391
I had a look at it and I see basically these options:

1. We can implement our own globbing from scratch
2. We can use a copy of `com.google.common.jimfs.GlobToRegex` (licensed under ASL 2.0) and base our implementation on that, which would then match internally using a regex.
3. We can change the format of the property `tests.rest.blacklist` and allow only regexes

In case 1, I'm not sure whether

[2015-11-03 13:20] 208rishabh opened #14480 "Delete only a particular field and value"
Hi,

I want to delete only one particular field and value in elasticsearch using elastic4s library. However, all I see everywhere is different mechanisms to delete the whole document. Can anyone help? is this supported?

[2015-11-03 13:23] javanna commented on #14308
`query_binary` and `filter_binary` have been removed as part of #14433. Only `aggs_binary` is left, which will be removed as part of the aggs refactoring that is being worked on. assigning @colings86 who is on it.

[2015-11-03 13:38] bleskes commented on #11657
I'm +1 on have a generic method to calculate the cluster status (it is fairly encapsulated in ClusterHealthResponse ). Note that status change only happens after specific events. Going from green to yellow to red happens on shard failures and nodes leaving the cluster. Going from red to yellow to green happens on shard started event. We can just do the calculation there and do some logging there (

[2015-11-03 14:05] nik9000 commented on #14267
This is neat!

I see how doing this as a pipeline buys you sorting - and how it "automatically" solves the problem of merging the results from multiple shards. I guess the cost of doing it as a pipeline aggregation is that:

1. Its more confusing. @gingerwizard's use cases are all about documents. Doing it as a pipeline would actually have you detecting gaps in buckets.
2. It pushed lots of work t

[2015-11-03 14:10] danielmitterdorfer commented on #11657
Thanks for your thoughts. I'll give it a shot and ping you.

[2015-11-03 14:28] bleskes commented on #14319
Unless someone objects soon, I'll assume we're going with:

1) One line fix to index shard in 1.7 to have an injected index settings.
2) removal of the provider in 2.x.

[2015-11-03 14:30] nik9000 commented on #11657
I wonder if we could go so far as to _always_ log something at those events and raise the log level if the cluster state changed. Something like
[code]

That way if you switched to DEBUG level logging you'd see this stream of events and it'd be really obvious which one might impact the cluster state. I kinda figure we already have logging at these events so it'd be a matter of hunting them down.

[2015-11-03 14:30] jasontedor commented on #14319
2) removal of the provider in 2.x.

+1

[2015-11-03 14:31] bleskes commented on #11657
@nik9000 I think we can defiantly do better but watch out with logging cluster states. They can be *huge*.

[2015-11-03 14:32] nik9000 commented on #11657
Oh I didn't mean the whole thing! I just meant the health. Yeah. I know full well that they can take up megabytes of text.....

[2015-11-03 14:33] nik9000 commented on #11657
And I've fixed the comment so it looks like what I meant the first time around.

[2015-11-03 14:36] rmuir commented on #14478
Is there really a fourth type of plugin (we already have site, jvm, site+jvm)?

or can maybe this plugin just have a simple site folder that has a single file that says "please use the shell scripts for diagnostic functionality"

[2015-11-03 14:37] mikemccand commented on #14319
OK wonderful!

+1

[2015-11-03 15:51] meatheadmike commented on #14441
Is there an option to turn off the exception that occurs when host resolution fails? In 1.7 I used to set up a list of hosts and then add them as needed (it is "elastic" search after all). But now in 2.0 I have to have all of my hosts preconfigured with DNS or I get an exception and ES wont even start :(

[2015-11-03 16:34] wkruse commented on #14441
I've had it similar to @meatheadmike. CoreOS cluster and DNS service discovery per Elasticsearch container. The current solution is to use the hostnames for unicast.

[2015-11-03 17:01] davmrtl opened #14486 "Range bucket in pipeline aggregations"
Hi,

Should be great to be able to perform a grouping of computed values using the pipeline aggregation range bucket.

Thanks,

David

[2015-11-03 17:20] lazymachinist commented on #14455
Hi Adrien,

This is the version:
"version" : {
    "number" : "2.0.0",
    "build_hash" : "de54438d6af8f9340d50c5c786151783ce7d6be5",
    "build_timestamp" : "2015-10-22T08:09:48Z",
    "build_snapshot" : false,
    "lucene_version" : "5.2.1"
  },
Can you print en example query that worked (i.e. returned results based on a portion of original matches)?

[2015-11-03 17:42] dakrone commented on #14441
I think the unicast hosts not resolving shouldn't fail the node starting up, what do you think @bleskes ?

[2015-11-03 17:51] meatheadmike commented on #14441
Here's the current scenario and why it's an issue to me...

I spin up my nodes in Openstack. When I spin up a new node, I name it right then and there. So the DNS name doesn't exist prior. Neither does the IP address.

My current solution is to feed a list of potential node names in to a bash script, cycle through them and remove the ones that don't respond prior to creating the discovery.zen.ping

[2015-11-03 17:53] dgriff20 opened #14487 "Elasticsearch 2.0 tar.gz Not in gzip format"
Hi,

I just downloaded 2.0.0 as per the instructions in Elasticsearch Reference [2.0] » Getting Started » Installation. When I go to unzip the file with tar -xvf elasticsearch-2.0.0-rc1.tar.gz, I get the response "tar: This does not look like a tar archive

gzip: stdin: got in gzip format
tar: Child returned status 1
tar: Error is not recoverable:exiting now"

Any idea what might be going wrong?

[2015-11-03 17:55] #13917 closed

[2015-11-03 17:59] reflection commented on #14487
I think you might be missing a 'z' option:
```tar -xzvf elasticsearch-2.0.0-rc1.tar.gz```

[2015-11-03 18:00] nik9000 commented on #14487
The link over on https://www.elastic.co/guide/en/elasticsearch/reference/2.0/_installation.html is wrong.

[2015-11-03 18:01] dgriff20 commented on #14487
reflection -  Tried it with the z added and unfortunately, I receive the same error.

[2015-11-03 18:03] dgriff20 commented on #14487
nik9000 - Do you know the correct link? The one provided did download an elasticsearch-2.0.0-rc1.tar.gz file.

[2015-11-03 18:05] nik9000 commented on #14487
[This](https://download.elasticsearch.org/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.0.0/elasticsearch-2.0.0.tar.gz) should do. What does the file you have look like? I tried it using the link there and it downloaded a little xml file.

[2015-11-03 18:05] federico-peralta-schaffner opened #14488 "v2.0.0 security manager with groovy scripts"
Please see this question:
http://stackoverflow.com/questions/33503890/elasticsearch-2-0-0-security-manager-with-groovy-script#

When using `JsonOutput.toJson()` in an update (inside an inline groovy script), I'm getting a security exception:

    Caused by: java.security.AccessControlException: access denied ("java.util.PropertyPermission" "groovy.json.faststringutils.write.to.final.fields" "read"

[2015-11-03 18:06] jpountz opened #14489 "Refuse to load fields from _source when using the `fields` option"
Spin-off from #14474. The `fields` option is intended to load stored fields. However it will try to load these fields from the source if they are not stored. This causes confusion because then eg. wildcards don't work.

We should deprecate the ability to load fields from _source and remove it in 3.0.

[2015-11-03 18:08] dgriff20 commented on #14487
I'll give that version a shot. Closer inspection shows the same for me. Seems like an XML renamed to tar.gz. Strange. Thanks for the help!

[2015-11-03 18:14] rmuir commented on #14488
on the side: you don't want to enable write to final fields (see https://github.com/elastic/elasticsearch/issues/8175)

Can you elaborate more on this? It seems strange for a script to have to do this serialization.

[2015-11-03 18:35] #14361 closed

[2015-11-03 18:46] nknize commented on #9008
@hudsonb @natebrunette with the 2.0 release there is now a ```points_only``` option in the ```geo_shape``` field mapper that optimizes performance for a points only ```geo_shape``` field. Performance is comparable to a ```geo_point``` field with ```geohash : true``` and you can use all of the same queries available for ```geo_shape``` types.

[2015-11-03 18:47] chilladx opened #14491 "Mapping conflict error upgrading from 1.5 to 2.0"
When trying to start the master node of my cluster, just after the upgrade from 1.5 to 2.0 (yeah, that's a big jump), I get this error log:

[code]

Unfortunately, I don't have the detailed description of the field or the relevant analyzer configuration for the field, but as its name states, it's a timestamp from logstash, so it should look like one of these:
- "dd/MMM/yyyy:HH:mm:ss Z"
- "YYYY-MM-

[2015-11-03 18:49] #9008 closed

[2015-11-03 18:59] hudsonb commented on #9008
If I'm understanding correctly, I should change my fields which are mapped as geo_points to fields mapped as geo_shapes w/points_only?

Luckily for me, I can do this as I'm in the process of upgrading to ES 2.0 and we will be reindexing all of our data.

I still think the ticket is valid however. I haven't assessed the technical feasibility of it, but it seems if you have a geo_points field with g

[2015-11-03 19:02] mattjanssen commented on #9008
Does geo_shape w/points_only allow for distance sorting? Like geo_point does?

[2015-11-03 19:22] federico-peralta-schaffner commented on #14488
@rmuir Thanks for the prompt reply!

I don't want to enable writes to final fields. The problem is that the `FastStringUtils` Groovy class attempts to check the `groovy.json.faststringutils.write.to.final.fields` system property (this is Groovy code, not mine, please check `FastStringUtils` line 37). There the security error occurs, since the current security policy is not allowing to read system

[2015-11-03 19:22] jasontedor commented on #14424
I've opened Homebrew/homebrew#45644 to address this and other issues. Thank you for bringing them to our attention.

[2015-11-03 19:37] nknize commented on #14014
@danni this check is per the [OGC SFA](http://www.opengeospatial.org/standards/sfa) and  [ISO 19107:2003](http://www.iso.org/iso/catalogue_detail.htm?csnumber=26012) standard.

Of course any software package can interpret the standard as they wish. Below is how we interpret:

Particularly:

Once you have exported the offending polygon you can try "repairing" using the following packages https://gi

[2015-11-03 19:50] majormoses commented on #14400
I saw this when I tried an upgrade a dev cluster. I no longer have that cluster around though so I cant provide any more insight other than I was able to see the same issue.

[2015-11-03 20:00] mehmetgunturkun opened #14495 "Awkward Load Average on ES"
Hello everyone,

I have already created couple of threads on discuss.elastic.co but nobody replied and still couldn't find the main reason of that much high load average.

Threads are as follows, you can check all scenerio:
https://discuss.elastic.co/t/ngram-analyzer-and-huge-cpu-usage-under-50-req-sec/32797
https://discuss.elastic.co/t/many-slow-queries-and-high-cpu-load-on-load-test-50req-sec/32

[2015-11-03 20:02] jasontedor opened #14496 "Compilation failing on Java 9 early access build b90"
Core compilation is failing due to modified type inference rules in JDK 9 early access build b90.

[code]

[2015-11-03 20:06] ajaybhatnagar opened #14498 "ES 2.0.0 fails to start if the Marvel exporter agent is configured."
Elasticsearch 2.0.0 able to start without these lines in the yml file. Plugins license and marvel agent installed on the ES node. There is no error logs generated either except for gc.log. Monitoring nodes listed are reachable from the ES node and running OK with Kibana/Marvel.

As per documentation (https://www.elastic.co/guide/en/marvel/current/installing-marvel.html) following config was used
m

[2015-11-03 20:19] rmuir opened #14499 "gradle build should enforce minimal jvm version"
Its very unintuitive today: this happens often on accident because i switch JAVA_HOME to java 7 when backporting (and sometimes forget to switch it back).

But in general, users may not be aware java 8 is required. Currently exceptions look like this:
[code]

[2015-11-03 20:25] rmuir commented on #14488
Hi, thanks for the report. I opened a PR for this: https://github.com/elastic/elasticsearch/issues/14500

Separately, I'm not sure its the best to do json serialization like this inside a script... but it is not dangerous to allow the properties in question to be read.

[2015-11-03 20:32] bleskes commented on #14489
+1

On 3 nov. 2015 6:06 PM +0000, Adrien Grand<notifications@github.com>, wrote:

[2015-11-03 20:36] nik9000 commented on #14489
It was a great backwards compatibility step when going from 0.90.x to 1.x but I agree, it can go in 3.0.

[2015-11-03 20:39] carlitux opened #14501 "Ubuntu init script fails to start the instance"
I had to change this line in /etc/init.d/elasticsearch:114

[code]
To

[code]

Maybe not the best solution but now I have it working

[2015-11-03 20:40] nik9000 commented on #14501
Which version of Elasticsearch and which version of Ubuntu?

[2015-11-03 20:43] carlitux commented on #14501
elasticsearch 2.0.0 and ubuntu trusty 14.04.3

[2015-11-03 20:50] nik9000 commented on #14501
I just checked it again and it works for me. I don't have that line in /etc/init.d/elasticsearch. 114 is a blank line. Is there any chance this is a leftover from a previous install?

[2015-11-03 20:59] carlitux commented on #14501
@nik9000 sorry I doble checked and it is added by ansible.

[2015-11-03 20:59] #14501 closed

[2015-11-03 21:29] #14488 closed

[2015-11-03 21:56] #14496 closed

[2015-11-03 22:06] rmuir opened #14502 "crank permgen for qa/bwc (2.x maven)"
with java 7 by default, I get build failures with the permgen we have set. Maybe this stuff can be optimized, or for now we can just crank the value.

[code]

[2015-11-03 22:09] nik9000 commented on #14502
This is a new one for me! I certainly don't see these.

If we wanted to raise the permgen we'd have to fork the ExternalNodeService from maven - we probably should anyway but I couldn't figure out a way for maven's exec plugin to block waiting for the service which is supposed to run in the background during integration steps. Or bump maven's permgen.

[2015-11-03 22:10] rmuir commented on #14502
yeah i was suggesting to bump maven's permgen, i think its a simple solution? its already bumped in pom.xml, we just bump it more.

[2015-11-03 22:11] rmuir commented on #14502
hmm i'm wrong, we are just bumping for the tests which do forking...grrr

[2015-11-03 22:21] nik9000 opened #14503 "Elasticsearch publishes an address/port combination to which it isn't bound"
It looks like you can convince Elasticsearch to publish an address/port combination to which it isn't bound. I'm not 100% sure the cause but it produces fun output like:
[code]

I checked for a few minutes and didn't see the place where elasticsearch makes sure that its bound both ipv4 and ipv6 under the same port. So maybe it doesnt?

[2015-11-03 22:21] nik9000 commented on #14503
Found in 2.2.0. I'm not sure how far back it goes nor how important it is.

[2015-11-03 22:24] rmuir commented on #14503
the whole point of having a publish address is to lie about what you are bound to. Its a really expert option like that, you do it if you are behind static NAT or something and have that firewall mapping you via a different ip/port.

personally, i'm not sure its needed at all really, if some code is reworked (e.g. i talk to you on the address you talked to me on). but in any case, this is intentio

[2015-11-03 23:17] rmuir commented on #14503
I spoke with @nik9000 about this on always on: there are competing problems. One is that automatic publish address selection is just address section, does not select the port number: which could happen if someone binds to [::1]:9200 and 127.0.0.1:9201 (something running on the last one). So in this case, things are simply wrong.

The other is that publish can be manually specified for expert cases

[2015-11-04 00:51] bijaybisht opened #14506 "Issues with retrieving a long with more that 16 digits."
Using Elasticsearch version 1.5.2.

1. Create an document.
curl -XPOST "http://localhost:9200/sports2/_bulk" -d'
{"index":{"_index":"sports2","_type":"athlete"}}
{"name":"Michael", "birthdate":"1989-10-1", "sport":"Baseball", "rating": ["5", "4"],  "location":"46.22,-68.45", "long": 111111111111111111}

2. Query it
curl -XGET "http://localhost:9200/sports2/_search" -d '
{
    "query": {
        "q

[2015-11-04 02:08] marcinn opened #14507 "ElasticSearch API is not RESTful"
As mentioned in #2688 Elasticsearch HTTP API is not RESTful, but ES manual says something else: https://www.elastic.co/guide/en/elasticsearch/reference/current/api-conventions.html

An example of adding index alias:

This is NOT a restful call:
[code]

But this could be RESTful:
[code]

or something like that could be RESTful too (but we known URI while creating new resource, so example with PUT i

[2015-11-04 03:46] markwalkom opened #14508 "Typo in parent/child top_children release notes"
Minor typo [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/_parent_child_changes.html#_literal_top_children_literal_query_removed).

[2015-11-04 03:59] markwalkom opened #14510 "Misplaced mapping.date.round_ceil comment"
[Here](https://www.elastic.co/guide/en/elasticsearch/reference/current/_setting_changes.html#_log_messages_truncated) we talk about log messages, but then jump into;

Is this misplaced?

[2015-11-04 04:48] synhershko opened #14511 "Unable to set query options when using QueryBuilder.setSource(String)"
(Using the Java client version 1.5.2)

[code]

Will render essentially to a MatchAllQuery. This happens because the code paths for the two usages differ. If any of `setExplain`, `setVersion` or the rest of the methods for setting query options are called, the code in `SearchSourceBuilder.innerToXContent(XContentBuilder, Params)` is called and as a consequence invalidates the query that was passed

[2015-11-04 05:26] martijnvg opened #14512 "CreateIndexIT.testCreateAndDeleteIndexConcurrently test failure"
Failed today: http://build-us-00.elastic.co/job/es_core_master_centos/8366/
Doesn't reproduce here locally.

Also this failed before recently:
http://build-us-00.elastic.co/job/es_core_master_centos/8341/ (2 nov)
http://build-us-00.elastic.co/job/es_core_master_centos/8306/ (1 nov)

Before that I can't find any failures for this test, so maybe this failure has been introduced recently?

[2015-11-04 06:43] martijnvg opened #14513 "RareClusterStateIT#testDelayedMappingPropagationOnPrimary test failure"
build url: http://build-us-00.elastic.co/job/es_core_master_strong/5442/

The following reproduce line made the test fail once locally:

[code]

But now I can make it fail again...

This test also failed yesterday: http://build-us-00.elastic.co/job/es_core_master_small/5436/
Before that I can't find any other failures.

[2015-11-04 07:16] colings86 opened #14514 "org.elasticsearch.bwcompat.BasicBackwardsCompatibilityIT fails on 2.x and 2.0 on Windows"
Example failures:

http://build-us-00.elastic.co/job/es_core_2x_window-2008/193
http://build-us-00.elastic.co/job/es_core_2x_window-2012/156
http://build-us-00.elastic.co/job/es_core_21_window-2008/70

Reproduce command:
[code]

Failure message:
[code]

[2015-11-04 07:17] colings86 commented on #14514
@nik9000 would you be able to look at these failures? It looks to be only affecting the windows builds

[2015-11-04 08:08] #13132 closed

[2015-11-04 08:25] danielmitterdorfer commented on #11391
Just a quick update: After some discussion with different developers, we've decided to check with @jaymode when he's back again. I'll assign myself for now.

[2015-11-04 08:31] #12596 closed

[2015-11-04 08:40] javanna commented on #14511
In 1.x or 2.x, the way to achieve what you need is via the `extraSource`, which is what we use internally to pass along options that have been provided as part of the URL.

This is a bit of a flaw of the current java api when it comes to search, as it allows you to provide the whole source as a bytes array (or string, or map). At that point you can't really ask also for it to be modified by provid

[2015-11-04 08:40] #14511 closed

[2015-11-04 09:38] karmi opened #14516 "Add information about index status (open/closed/etc) to the "Get Index" API"
Since the "Index Status" API has been deprecated in #4854, there is not a convenient way to check whether the index exists, and is closed or open (coming from discussion in the Ruby's client repository, elastic/elasticsearch-ruby#224).

It would be nice to add the information to the ["Get Index"](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-get-index.html) API, so the us

[2015-11-04 10:18] robertsmarty opened #14517 "Receiving "Multiple entries with same key" error when cycling in and out new nodes on elasticsearch 2.0.0"
Hi,

I'm testing my cluster and cycling in new nodes and cycling out old ones however after waiting a couple of hours shards and replicas haven't sorted themselves out. When listing the status of all shards via GET /cat/_shards I receive...

{
    "error": {
        "root_cause": [
            {
                "type": "illegal_argument_exception",
                "reason": "Multiple entries with

[2015-11-04 10:40] dineshbugide commented on #14498
The above thing worked for me but I am not able to interact with the server using the URL:
http://localhost:9200/_plugin/marvel

[2015-11-04 10:44] s1monw commented on #14517
can you look at the nodes log file and paste me the stacktrace for this exception?

[2015-11-04 10:47] jpountz commented on #14491
If I read the exception correctly, your `logstash-2015.10.18` index has a `timestamp` field which is mapped as a `string` on one type and as a `date` on another type, which is something that elasticsearch can't cope with. In elasticsearch 1.x this issue would be silent and only trip when trying to search/sort/aggregate on a field. In Elasticsearch 2.0, we detect these inconsistencies more proactiv

[2015-11-04 10:47] bleskes commented on #14513
I briefly looked at this and can add some pointers to where the problem lies. Basically the publish address is combination of a host of the ipv4 bound address and the port of ipv6 :

[code]

The result publish address is actually the address another node is bound to, which causes confusion :)

Somewhere in `NettyTransport#bindServerBootstrap(java.lang.String, java.net.InetAddress, org.elasticsearc

[2015-11-04 10:52] mikemccand commented on #10746
Hi @djschny, you are correct, that payloads are moving out of the FST to disk.

However, with this PR, we 1) pull the payloads from doc values, which is much more efficient than loading from re-parsing `_source` or loading stored fields, and 2) we do so eagerly in a single pass (no second fetch phase), though this may change in the future if we merge suggest into search implementation.

Also, the

[2015-11-04 10:52] jpountz commented on #14480
This can be achieved by running a scripted update. It would look something like this:

[code]

See https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update.html for more information.

[2015-11-04 10:52] #14480 closed

[2015-11-04 10:56] bleskes commented on #14441
I'm a bit wary of this as it may also mean a configuration typo and which will cause the node from joining the cluster and one needs to go grep the logs to find out what's going on...

Normally the answer would be to make the unicast host dynamically updatable. This doesn't work cleanly here because those settings can not be persisted in the cluster state - they are used before a node joins the cl

[2015-11-04 11:05] bleskes commented on #14507
When you say it's restfull, I presume you refer to the url structure. Agreed that for the example you gave the structure of the API is not the simplest construction. The reason is that the aliases API is capable of executing multiple API swaps in an *atomic* fashion. This is important to do stuff like index version where you want switch the alias from the older version your index to the new one wi

[2015-11-04 11:09] robertsmarty commented on #14517
Is this what you're after?

[2015-11-04 21:04:30,269][INFO ][rest.suppressed          ] /_cat/shards Params: {}
java.lang.IllegalArgumentException: Multiple entries with same key: [cloudtrail-2015.10.16][0], node[2yaILlgNTX24_lrlf77gIg], [P], v[25], s[STARTED], a[id=wtXiTTw9T4C9KHucOIQKGA]=org.elasticsearch.action.admin.indices.stats.CommonStats@4e720ea0 and [cloudtrail-2015.10.16][0], node[2yaILl

[2015-11-04 11:14] jpountz commented on #14469
Thanks for explaining the use-case.

Unrelated to binary doc values but I'm wondering that storing the questions ids directly could be a better option both in terms of storage and runtime. You could take ids from the shortest array and then use galloping search to find common ids in the other array?

Otherwise I agree that we should either document the limitations with doc values on binary fields

[2015-11-04 11:23] marcinn commented on #14507
I understand that. Maybe just RESTful principles does not fit ES API requirements. ES API does not have to be RESTful, and then shouldn't be named like that.

On the other side there is room for atomic and RESTful operations. Just create resource with representation of these operations, for example `http://localhost:9200/alias-operations` and PUT a collection of AliasOperation entities, defined as

[2015-11-04 11:36] bleskes commented on #14507
@marcinn I don't think I follow you and see where this will be structurally different than the current API (also adding IDs to these action is an overkill - these are one off and are executed immediately ). Can you describe more complete requests/interactions?

[2015-11-04 11:38] bleskes commented on #14513
it seems we are already tracking this here: https://github.com/elastic/elasticsearch/issues/14503

[2015-11-04 11:39] bleskes commented on #14503
FYI we have a related build failure: https://github.com/elastic/elasticsearch/issues/14513

[2015-11-04 11:41] marcinn commented on #14507
I didn't expect following a RESTful principles. I'm just asking to remove "RESTful" adj. from website and documentation. ES API is not RESTful and probably never be.

[2015-11-04 12:17] jjfalling commented on #14478
The _site folder would be a potential workaround. In the long term are
moving away from having the diagnostics tool as a plugin so this won't
affect us. However I was under the impression that we intended to have
a bin type of plugin in 1.x.

[2015-11-04 12:21] bleskes commented on #14448
I thinks makes sense.

[2015-11-04 12:22] nithyanv opened #14519 "Jboss initiated client node not killed off in Elasticsearch 1.4.4"
Hi,

My web application is using an ES Node client. The ES server is a single node. Since we are in development stage, it was noticed that when we restarted JBoss for any reason the previous instance of ES Node client still appears in that ES server's cluster view.

Is there a time out that we can set?

What happens if I use multiple JBoss Instances in a cluster using the same cluster? Do the virt

[2015-11-04 12:22] rmuir commented on #14478
I am not sure where that impression came from, but i can tell you that adding that folder is 1000x safer and easier than adding another plugin type and complicating all those codepaths.

We already have unnecessary types to support today (e.g. jvm+site) and I don't think we need add any more for any reason.

[2015-11-04 12:23] bleskes commented on #7318
we should probably revisit this now that we have a different execution model for indices stats etc (#7990) . Reopening ....

[2015-11-04 12:24] DKribl opened #14520 "Multiple Types for @timestamp field"
Hey,

Since I updated Elasticsearch to 2.0, I get following Error:
[code]

Hope you can help me guys!
Greetings

[2015-11-04 12:52] sts commented on #5359
+1

[2015-11-04 13:27] clintongormley commented on #10928
No further feedback. Closing

[2015-11-04 13:27] #10928 closed

[2015-11-04 13:30] felixbarny commented on #13625
+1

[2015-11-04 13:35] colings86 opened #14521 "org.elasticsearch.percolator.RecoveryPercolatorIT.testSinglePercolator_recovery"
Out of memory Error caused the failure:

http://build-us-00.elastic.co/job/es_core_21_strong/198/

reproduce command:
[code]

Error:
[code]

[2015-11-04 13:36] nickminutello commented on #14117
Running both on 1.8 reproduces this bug, so the JVM mismatch is a bit of a red herring.

[2015-11-04 13:42] danielmitterdorfer commented on #14319
I've implemented the fix for 1.7 (see PR #14522). I am about to work on removing the provider in 2.x.

[2015-11-04 13:44] nickminutello commented on #14117
The root cause exception is:
[code]
But I can see now that the bug that is the subject of this issue is not actually in elastic - but in commons-io?

Fundamentally, the **private ObjectStreamClass verify(ObjectStreamClass streamClass)** is broken.
The CLASS_WHITELIST.contains(aClass) and PKG_WHITELIST.contains(aClass.getPackage()) is unlikely to work.

[2015-11-04 13:52] djschny commented on #10746
I agree as well. Where my concern lies is in the 20%:
* We don't have concrete numbers (that I'm aware of) to validate the expectation
* For the 20% of folks (made up number following the 80/20 rule with our userbase) that need that blistering performance, that it will hurt them and they won't have an option to choose the old approach.

Generally speaking I tend to always follow the "golden rule"

[2015-11-04 14:23] luke3141 opened #14523 "No 'status' response in 2.0.0-beta2"
In ES 1.7 & earlier, a standard request curl `localhost:9200` would return something like:

    {
      "status" : 200,
      "name" : "Svarog",
      "cluster_name" : "elasticsearch",
      "version" : {
        "number" : "1.7.3",
        "build_hash" : "xxx",
        "build_timestamp" : "2015-10-15T01:01:01Z",
        "build_snapshot" : false,
        "lucene_version" : "4.10.4"
      },

[2015-11-04 14:31] chilladx commented on #14491
Many thanks, @jpountz . So I'll clause this issue, as it's not a bug, but a problem in my data. I'll try to downgrade back to 1.5.x, update my mappings, and then upgrade again to 2.0.

[2015-11-04 14:31] #14491 closed

[2015-11-04 14:31] nik9000 commented on #14514
I started yesterday actually. This is caused by #14503. I can reproduce it on linux too using -Djava.net.preferIPv4 or whatever its called. I'm still seeing if I can create a non-bwc recreation for that issue.

[2015-11-04 14:40] cbuescher opened #14524 "[CI failure] DateHistogramTests, "The datetime zone id 'CET' is not recognised""
Cannot reproduce this so far, but there are test failures in
* org.elasticsearch.messy.tests.DateHistogramTests.testDSTBoundaryIssue9491
* org.elasticsearch.messy.tests.DateHistogramTests.testIssue8209

http://build-us-00.elastic.co/job/es_core_2x_small/1726

[code]

and

[code]

[2015-11-04 14:41] adarshchacko opened #14525 "Unable to store / update urls without \ (backslashes)"
We are using Elasticsearch with Laravel 4.2 and we need to maintain a database containing documents with urls as one of the fields. Everything works fine as far as the storing of the values for other fields are concerned.The problem starts when we begin to index or store urls in these documents.

The / (forward slash) in the url is escaped (accompanied by a backslash) which is causing a lot of pro

[2015-11-04 14:58] dadoonet commented on #14523
You should rely on HTTP status code instead.
That's the reason it was removed as it tells the same thing.

[2015-11-04 14:58] #14523 closed

[2015-11-04 15:10] adarshchacko commented on #14525
We were using curl in php to call elasticsearch which was the root cause of the problem.

Thanks

[2015-11-04 15:10] #14525 closed

[2015-11-04 15:15] cbuescher commented on #14524
Looking at DateTimeZone#forID, it seems like Joda couldn't look up the zone from the internal Provider class that Joda loads at startup and holds the time zone data. This seems pluggable, but there are two providers in Joda already, UTCProvider which only knows UTC time zone and ZoneInfoProvider, which should be used by default. This one seems to gets loaded using the class loader from "org/joda/t

[2015-11-04 15:52] hub-cap opened #14527 "delete-by-query failing with Shield enabled"
On Found we are testing the delete-by-query plugin in 2.0.0. I have enabled the plugin and when I issue a delete via _query, I get the following response.

[code]

[2015-11-04 15:53] tlrx commented on #14527
Helpful quote from @javanna :

[2015-11-04 15:53] cbuescher commented on #14524
Another one: http://build-us-00.elastic.co/job/es_core_2x_debian/530/

[2015-11-04 16:07] majormoses commented on #14441
This poses a problem for anyone using CM such as chef or puppet. With the way it currently is if a node is rebooting that means that either you must deregister it from CM and bootstrap on launch again or the ES service on any node cant be (re)started until the machine comes back up. Both of these seem to be far more common an issue than a misconfiguration of a list of hosts, or ips.

[2015-11-04 16:12] jjfalling commented on #14478
Sounds reasonable.

[2015-11-04 16:12] #14478 closed

[2015-11-04 16:33] rmuir commented on #14441
The same logic to fail on invalid host was in 1.7, but it was just buggy:

https://github.com/elastic/elasticsearch/blob/1.7/src/main/java/org/elasticsearch/discovery/zen/ping/unicast/UnicastZenPing.java#L141-L143

From what I remember, hostname resolution at a lower level had several bugs, in such a way that unknown hosts wouldn't always deliver exceptions, e.g. be silently treated as a wildcard

[2015-11-04 16:40] rmuir commented on #14441
It might have been silent conversion to 127.0.0.1 instead, can't remember which. The problems were something sneaky, like an unexpected null value -> InetAddress.getByName(null) -> 127.0.0.1 or something like that. http://docs.oracle.com/javase/7/docs/api/java/net/InetAddress.html#getByName%28java.lang.String%29

[2015-11-04 16:42] designermonkey opened #14528 "Exceptions in general"
Hi guys,

I'm using the elasticsearch-php library to build applications with, and there is one thing that really bugs me; Exceptions.

Now @polyfractal and the other contributors have done an exceptional job there, but they can't be blamed for poor exception output. What I mean is that the main exception I get is a `BadRequest400Exception`, which is pretty generic, and has to be because the value

[2015-11-04 16:43] designermonkey commented on #14528
And on a slight tangent, the exception above is because of a missing mapping, yet elasticsearch never even tells me that, it balks on the fact it can't use a nested path. Surely, the missing mapping is the issue, not the path?

[2015-11-04 16:52] dakrone commented on #14506
@bijaybisht I'm unable to reproduce this:

    DELETE /sports2
    {}

    POST /sports2/athlete?refresh
    {
      "birthdate": "1989-10-1",
      "location": "46.22,-68.45",
      "long": 111111111111111111,
      "name": "Michael",
      "rating": [
        "5",
        "4"
      ],
      "sport": "Baseball"
    }

    {"acknowledged":true}
    {"_index":"sports2","_type":"athlete","_id":"AVDT

[2015-11-04 16:56] dakrone commented on #14528
@designermonkey what version of ES are you using? With 2.0 REST exceptions are now rendered in a structured way, to make it easier to extract useful information out of them. Additionally, we are working on parsing queries on the coordinating node, which will reduce the amount of shard failures (only a single exception instead of an exception for each shard)

[2015-11-04 17:03] rmuir commented on #14441
The other big problem was use of https://docs.oracle.com/javase/7/docs/api/java/net/InetSocketAddress.html#InetSocketAddress%28java.lang.String,%20int%29, but then not dealing with the 'unresolved' case correctly or at all across the codebase. Then the return method of `null` from the unresolved address would be treated the same as `0.0.0.0` for some methods.

If we want to change the behavior for

[2015-11-04 17:30] Alino commented on #4915
+1

[2015-11-04 17:38] bijaybisht commented on #14506
1.5.2

[2015-11-04 17:49] dakrone commented on #14506
Sorry, I see now that you had it in the original post, my bad for missing it.

I retried the same reproduction (same as above) with 1.5.2, however, the field comes back as `"long": 111111111111111111,`, do you have a client or anything that may be interfering with it?

[2015-11-04 18:05] JulioV opened #14532 "The package is of bad quality"
I'm getting the message "The package is of bad quality" after trying to install elasticsearch in a 64-bit Elementary OS 0.3.1 Freya distribution with the latest elasticsearch deb package. The error has the following details:

Lintian check results for /home/user/Downloads/elasticsearch-2.0.0.deb:
E: elasticsearch: dir-or-file-in-var-run var/run/elasticsearch/

[2015-11-04 18:06] synhershko commented on #14511
Thanks Luca.

Just to make sure, you mean:

[code]

Right?

With regards to your plans for 3.0, we do need to have support to load queries from JSON files. This has many use cases, for example allowing other teams to submit PRs for query changes of various parts of the system and only teaching them JSON and a subset of the DSL. Or an easier way to maintain and track changes. Or using Mustache loca

[2015-11-04 18:14] dakrone commented on #14532
I looked into this: https://lintian.debian.org/tags/dir-or-file-in-var-run.html

"/var/run may be a temporary filesystem, so any directories or files needed there must be created dynamically at boot time."

@electrical thoughts?

[2015-11-04 18:15] dgriff20 opened #14533 "Failed to Created Node Environment"
When trying to run Elasticsearch for the first time I am receiving the following error...

"Exception in thread "main" java.lang.IllegalStateException: Failed to created node environment
Likely root cause: jave.nio.file.AccessDeniedException: /etc/elasticsearch-2.0.0/data/elasticsearch/nodes"

In looking into the Elasticsearch folders, "nodes" doesn't even exist. Did this somehow unpack incorrectl

[2015-11-04 18:16] nik9000 commented on #14532
I believe we create the directories we need in `/var/run` on startup. So its not telling us anything we didn't already know, at least.

[2015-11-04 18:19] bijaybisht commented on #14506
I also have 1.7.3 version installed on the server and I see the same behavior.  I have tried curl, kibana and chrome plugin to retrieve; all exhibit the same thing.

[2015-11-04 18:30] dakrone commented on #14506
I am testing with a version of your script:

[code]

And here is the output I am getting with 1.7.3:

[code]

If you run this exact script, do you see the same issue?

[2015-11-04 18:49] bijaybisht commented on #14506
This works, I don't see the issue. My bad that I mentioned curl. It also works when I do a get from the browser it works well. I think the issue is related with Kibana (Both on safari and chrome)
<img width="1239" alt="screen shot 2015-11-04 at 10 49 20 am" src="https://cloud.githubusercontent.com/assets/4120848/10948292/c750775c-82e1-11e5-8c4b-626400cb130a.png">
 and the chrome plugin.

[2015-11-04 18:54] bijaybisht commented on #14506
I also notice that the response from the server is fine (developer tools in chrome), its just the display which is an issue in the case of the chrome plugin, guess both the chrome plugin and the kibana are using the same library.

[2015-11-04 19:48] rmuir commented on #14533
unix file permissions are incorrect in this case.

[2015-11-04 19:51] jordansissel commented on #14520
@DKribl Logstash, by default, will set the `@timestamp` field to be a date. Based on your error, this looks like an expected failure that is _new_ to Elasticsearch 2.0 because in 2.0, ES will enforce more safety controls on conflicting mappings.

This may be easiest to resolve on discuss.elastic.co since I think this is a configuration problem (the way Logstash may be configured? or whatever you h

[2015-11-04 20:08] designermonkey commented on #14528
I'm on 1.7 and not sure about upgrading yet. Any breaking changes to know about? Can an existing index be upgraded?

[2015-11-04 20:15] dgriff20 commented on #14533
rmuir - Thank you for your response. I'm a bit confused on how that could happen. I downloaded everything under my profile and believe I am the owner. At any rate, what would be a good way to fix it?

[2015-11-04 20:44] polyfractal commented on #14528
BTW, this is what the exception would look like under 2.0:

[code]

There are indeed breaking changes, specifically around mappings which might cause some trouble.  You can read about them here:  https://www.elastic.co/guide/en/elasticsearch/reference/2.0/breaking-changes-2.0.html

The new [Migration Plugin](https://github.com/elastic/elasticsearch-migration) should help identify potential issues

[2015-11-04 21:02] spalger opened #14534 "Builds don't include the build_hash or build_timestamp"
Builds of master don't include the build_hash or build_timestamp that usually are available. Is it possible to get this info back?

Output of `http://localhost:9200/`
![image](https://cloud.githubusercontent.com/assets/1329312/10951721/a439a70c-8304-11e5-8111-af5dddbc57a2.png)

[2015-11-04 21:27] bijaybisht commented on #14506
Raised an issue on kibana. Closing this one.

[2015-11-04 21:27] #14506 closed

[2015-11-04 23:15] ppf2 opened #14538 "Highlighter causing overflow of boolean max clause count"
The following appears to be the case where the wildcard query (in this case, entered by a Kibana user) caused enough Lucene rewrites so that it overflows the boolean max clause count of 1024 by default.  While we could potentially workaround this by increasing the max clause count in Lucene/ES, it is not the ideal workaround given the memory implications.

This appears to be a highlighter issue ba

[2015-11-05 00:23] ppf2 opened #14539 "Clarify recovery vs. relocation in documentation"
Somewhere in our documentation, it will be nice to clarify that relocation is a form/type of recovery, so that the [recovery settings](https://www.elastic.co/guide/en/elasticsearch/reference/master/recovery.html#recovery) actually apply to both shard recoveries and relocations (even though the parameter name of these settings refers to "recovery" only).

[2015-11-05 00:44] joshuar commented on #14453
The value of HOME used when creating the elasticsearch user should probably be set to something other than /home/elasticsearch that exists and has executable permissions for the elasticsearch user.

In the interim, you can just set HOME to something else, like `HOME=/` to get your cron jobs running again.

[2015-11-05 02:12] packplusplus commented on #14453
I just have the puppet role create /home/elasticseach. Its a packaging bug, creating a user with the wrong home directory set. Either create the home directory, or like you said,  set home to /var/lib/elasticsearch or whatever.

[2015-11-05 03:00] rmuir opened #14541 "gradle build should pass tests.jvm.argline -> junit4 argline"
This is only being passed to integration tests today, but not unit tests.

Its used by jenkins to pass randomization parameters, and useful when developing to pass args to the jvm (e.g. enable additional debugging)

[2015-11-05 03:26] rfyiamcool opened #14542 "request dsl fields problem"
request body ,  keyword  = ['benz','join','','']
[code]
res
[code]

[2015-11-05 03:30] rfyiamcool commented on #14542
Thanks U
[code]

[2015-11-05 03:30] #14542 closed

[2015-11-05 04:20] dobariya opened #14543 "Elastic Server Crash"
I have three elastic servers all masters having total 32 GB ram each,16 GB allocated to elastic servers.
From last two days all elastic servers crashes

Am using virtual environment with network file system to store data and logs
java version :8.60
Elastic search version is 1.7.0
Indices count:around 300
Total documents in whole elastic search : around 60 million

Below is my config

cluster.name:

[2015-11-05 04:28] rmuir commented on #14543
You are using ES on windows with a network filesystem. I don't recommend this: or you will run into this bug: https://bugs.openjdk.java.net/browse/JDK-6415680

Nothing we can do on our side here, it needs to be fixed in the JDK. Feel free to use the bug information to report it there (they will likely just close it as dup):

[code]

[2015-11-05 04:29] #14543 closed

[2015-11-05 04:45] dineshbugide commented on #9236
I am using marvel 2.0.0 with elasticsearch 2.0.0 but my marvel is not starting

[2015-11-05 05:05] dadoonet commented on #9236
@dineshbugide send your questions to discuss.elastic.co and provide all details there.

Also please read the marvel documentation as it changed a lot in 2.0.

[2015-11-05 05:17] danielzxz commented on #4915
+1

[2015-11-05 05:42] martijnvg opened #14544 "RecoveryWhileUnderLoadIT#recoverWhileRelocating test failure"
These fails sometime on CI on 2.x and 2.0 branches only:
* http://build-us-00.elastic.co/job/es_core_2x_metal/428/ (most recent)
* http://build-us-00.elastic.co/job/elasticsearch-20-oracle-jdk6/1477/
* http://build-us-00.elastic.co/job/elasticsearch-20-centos/397/

In the last part of the test, after bumping up the number of replicas the the expected number of documents seem not to be the same on

[2015-11-05 05:56] aanm opened #14545 "Bad docs for installing marvel with offline"
The following steps:
[code]
don't work on elasticsearch:2.0.0 docker image
source: https://www.elastic.co/guide/en/marvel/current/installing-marvel.html#offline-installation

Output:
[code]

Expecting:
* license and marvel-agent to NOT be downloaded
* bin/kibana to be present

[2015-11-05 05:59] dadoonet commented on #14545
To run marvel Kibana application you need to have Kibana! :)

May be we should add a line telling that to users?

[2015-11-05 06:00] aanm commented on #14545
@dadoonet So this doesn't work with docker where you have a container for kibana and a container for elasticsearch?

[2015-11-05 06:02] aanm commented on #14545
@dadoonet ah, it means for kibana I need to install marvel on its container. But still the `bin/plugin install license file:///path/to/file/license-2.0.0.zip` should be `bin/plugin install file:///path/to/file/license-2.0.0.zip`.
Thanks

[2015-11-05 06:17] dadoonet commented on #14545
Agreed. Same for marvel-agent BTW

[2015-11-05 06:43] talevy opened #14548 "[Ingest Plugin] continue_on_failure parameter"
It would be nice to have a flag for ingest pipelines that run during index/bulk requests to allow for some configuration of how errors are handled during ingestion.

Currently, any exception that is caused during an ingest pipeline, the pipeline halts and the document being ingested is not indexed. Some environments may prefer to not block on such failures and continue to index the failed document

[2015-11-05 07:10] martijnvg commented on #14548
@talevy maybe we should name the param `continue_on_failure`?

[2015-11-05 07:14] talevy commented on #14548
deal! I'll update

[2015-11-05 07:32] rfyiamcool opened #14550 "cant not max id"
use this DSL to request , result is  OK  。 IN elasticsearch 1.7

[code]
And , Result in elasticsearch 1.5  is  error info .   I make sure id in es is Long type.

[code]

[2015-11-05 07:55] martijnvg opened #14552 "Strict pipeline / processor configuration validation"
Processor configuration validation should be strict:
* Improper use of options should result in failure.
* Use of non existing options should result in failure too.

Also the configuration validation should happen within the put pipeline api. Right now no validation happens, and the nodes running this plugin will fail silently in the background (pipeline doesn't get added and an error is printed i

[2015-11-05 07:58] rmuir opened #14553 "remove transport profiles and the 87 ways to configure network settings"
Transport profiles:

These are really complicated, its hard for anyone to digest NettyTransport, and they lead to bugs like https://github.com/elastic/elasticsearch/pull/14535 (i think that is damage from the last time they were touched).

Overengineered and unnecessary, in a place where simplicity is key: no brainer.

Other network settings:

Every other setting looks like this:
        this.maxC

[2015-11-05 07:59] #14541 closed

[2015-11-05 09:49] designermonkey commented on #14528
That is so much better :) Thanks for the info guys.

@polyfractal would this require an upgrade of the php lib to v2 as well?

[2015-11-05 10:13] electrical commented on #14532
@JulioV Lintian it self follows a set of very arbitrary rules that are set by Debian that have no impact it self on the package.

An other discussion was a while ago about the Logstash packages at https://github.com/elastic/logstash/issues/2011

If there are real operational issues with the packages we can look at those and fix them of course.

[2015-11-05 10:28] DKribl commented on #14520
Hey,

thanks for the quick response. Unfortunately the errors increased massively after updateing, so I wasn't able to use my ELK stack anymore. Had to downgrade to 1.7. I will now use a clean ELK Stack to collect new data! This issue can be closed now, thanks :+1:  :-)

[2015-11-05 10:29] #14520 closed

[2015-11-05 10:35] cbuescher commented on #14524
Added Logging confirmed that Joda uses the UTCProvider instead of the ZoneInfoProvider that usually should load the time zone data file:
[code]
UTCProvider is the last fallback when loading the Provider in `DateTimeZone#getDefaultProvider()`, before that it should succeed in loading resources from "org/joda/time/tz/data" in the joda-jar. So either the jar is broken or it doesn't even find it, whic

[2015-11-05 11:24] Shamanoid opened #14555 "Elasticsearch lat/lon to geohash conversion issue"
ES:
[code]

Logstash:1.4.2

We do receive location as a string in our logs (JSON formatted) as `"appLocation":"51.506411,-0.08811"`

 - Logstash script :
[code]

- Kibana display data as well formatted geo_point :
Index settings tab :
`geoip.location  	geo_point`
Discover tab :
`geoip.location = 51.506411, -0.08811`

- Elasticsearch mapping :
[code]
- Elasticsearch document query returns :
`"geoip

[2015-11-05 11:48] vandzi commented on #4915
+1

[2015-11-05 11:52] colings86 opened #14556 "mGET API doesn't have an option to not return metadata fields"
In the GET API you can specify the URL as `/{index}/{type}/{id}/_source` and it will return only the _source in the response (i.e. will not return the metadata fields such as _id and _type). This is done by the RestGetSourceAction and is only available in the REST API (AFAIK).

This option does not seem to be available on the mGET API. You cannot set /_source on the request to exclude the metadata

[2015-11-05 12:22] rmuir commented on #14553
I recommend just having this as a breaking change for 3.0: I will work on removing this stuff. Its a new major release and thats why we have the ability to introduce breaking changes.

This stuff is really bad and causing a lot of problems.

[2015-11-05 13:08] javanna commented on #14511
Yes @synhershko your code snippet looks good, that is what I meant. Note that the source is not just the query but the whole search request which supports also other sections than the query  (e.g. aggs, highlighting etc.).

As for your request to parse json as part of the java api, there might be a way in the future, we will discuss that but to me it is yet another reason why we should have a java

[2015-11-05 13:28] buinauskasevaldas opened #14558 "Phrase suggester collate doesn’t work in search template"
First of all, I'm using Elasticsearch 1.7.3

I'm facing issues with `collate` in Phrase Suggester.

Please see this reproduction:

    PUT /test/test/1
    {
      "CompanyName": "coca-cola"
    }

    POST /test/_search
    {
      "size": 0,
      "suggest": {
        "DidYouMean": {
          "text": "coce",
          "phrase": {
            "field": "_all",
            "size": 50,

[2015-11-05 13:41] ycombinator commented on #9558
Also requested by @icedfish. He is also interested in a related feature: to be able to automatically warm up the top X queries (same as Clint's comment above), but I could not find a separate public issue for this related feature request so mentioning it here.

[2015-11-05 14:15] andreufirefly opened #14560 "can't install sqlite plugin"
Hi all, I'm trying to install the sqlite plugin (using Elasticsearch 2.0.0 on Ubuntu 14.04).
I followed the [docs] (https://www.elastic.co/guide/en/logstash/current/plugins-inputs-sqlite.html#plugins-inputs-sqlite) but I get the error shown below.
[code]
Any advice on how to install the plugin would be very appreciated.
Thanks

[2015-11-05 14:22] chilladx commented on #14491
Just for the record, here is the fine manual about this: https://www.elastic.co/blog/great-mapping-refactoring

I'm in the "Conflicting field mappings" case, where, as stated by @jpountz , the only option is to reindex the data.

[2015-11-05 14:31] aleszoulek opened #14561 "publish_address should default to bound_address"
When `network.publish_host` is not specified in a configuration, ES should try to reuse the value set for `network.bind_host`.

The current behaviour is that for following configration
[code]

The ES node will bind to correct network interface, but it will publish a different one (not sure how it's currently determined - ?first non-loopback inet? ). Which doesn't seem to make much sense.

Relevant

[2015-11-05 14:35] rmuir commented on #14561
This stuff is fixed in 2.0. basically the code in 1.x is geared around the default of binding to `0.0.0.0`, so that logic there for publish address "works in most cases".

In 2.0, if you don't set publish address, we look at the actual addresses bound, sort them by ipv4/ipv6 stack preference, then by reachability scope, and select the first one.

[2015-11-05 14:35] nik9000 commented on #14561
This is indeed confusing. You are supposed to set `network.host` 99% of the time and ignore the other two. But the docs aren't great there.

[2015-11-05 14:39] rmuir commented on #14561
Agreed, besides the problems in 1.x, I think its good for publish host selection to check bind_host before host in case the user did just this. There is no need to default publishing to host directly, to something we potentially didnt bind to, unless someone explicitly set publish host.

[2015-11-05 14:41] bikeholik commented on #14267
+1

[2015-11-05 14:48] fangjian0423 commented on #4915
+1

[2015-11-05 15:01] clintongormley commented on #14387
Hi @PhaedrusTheGreek

Could you add the exact commands etc that you used to test.  I'm on a poor network and can't view the video.

thanks

[2015-11-05 15:13] aleszoulek commented on #14561
That's my fault indeed. I should have be more careful when reading an example configuration. I've seen the "Network And HTTP" section and the first option that's there is `#network.bind_host:` and this is what I've set. If I'd read the rest of the config file, there's just few lines bellow:
[code]

Although it would be nice if it did what @rmuir described (check bind_host in publish host selection

[2015-11-05 15:18] polyfractal commented on #14528
Nope, no upgrade required.  The ES-PHP 1.x branch never tried to deserialize the error response, since sometimes ES would send back non-JSON exceptions (mostly with older versions of ES iirc).  So you'll just get back a blob of (structured) JSON using the ES-PHP 1.x branch.

If you know you're always querying a 2.x branch of Elasticsearch, you should be able to safely `json_decode()` the exception

[2015-11-05 15:18] rmuir commented on #14561
Yeah, if its easy to do that check, we should do it. anything we can do to make it less confusing.

The documentation really needs improvement here (we've seen other problems). Basically network.host should be the recommended way, and the bind/publish stuff should be buried to the bottom of the page in some kind of advanced options section: you shouldn't mess with that unless you have a more compl

[2015-11-05 15:32] JulioV commented on #14532
There are some problems. Apparently, the deb package create several directories:

- /etc/default/elasticsearch
- /etc/init.d/elasticsearch
- /etc/elasticsearch
- /run/elasticsearch
- /usr/share/doc/elasticsearch
- /usr/share/lintian/overrides/elasticsearch
- /usr/share/elasticsearch
- /usr/share/elasticsearch/bin/elasticsearch
- /var/lib/elasticsearch
- /var/log/elasticsearch

When I try to run  "

[2015-11-05 15:33] polyfractal commented on #14550
Are you trying to execute an aggregation?  That syntax looks like an aggregation, but you've placed it under the `query` parameter.  Try:

[code]

[2015-11-05 15:35] damienalexandre commented on #13084
Great stuffs! One issue I have with scripting in Elasticsearch is that is really hard to test and debug a script; We need, IMO:

- a way to play a script against any indexed document (maybe an API `index/type/123/_script`?)
- a debug mode, maybe integrated in `?explain` to show:
  - the count of instructions (specially if you limit them)
  - all the available variables
  - the return value, un-edi

[2015-11-05 15:36] PhaedrusTheGreek commented on #14387
The relocating shards seems to be recoveries, not rebalances.   I infer this because when i set the following, I see them all happening at once.

[code]

This is what i'm seeing after restarting a node - shards moving on and off.

[code]

TRACE logs show a lot of this:

[code]

[2015-11-05 15:38] electrical commented on #14532
Hi,

Those errors are indeed expected since the init script + defaults file set different values with the bin/elasticsearch script to give the right paths to the config file at /etc/elasticsearch
See https://github.com/elastic/elasticsearch/blob/master/distribution/deb/src/main/packaging/init.d/elasticsearch#L101-L102 for those details.

If none of those options are given then it uses indeed the c

[2015-11-05 15:39] designermonkey commented on #14528
Thanks for the feedback. I really do wish I had time to help you out there, family and heavy work commitments leave me with no time :(

[2015-11-05 15:39] #14528 closed

[2015-11-05 15:41] PhaedrusTheGreek commented on #14387
As for the exact command for testing, all that i am doing is starting up 3 nodes, and restarting one with
[code]

Then watching things move around with

[code]

[2015-11-05 15:42] polyfractal commented on #14486
What would you like to do with the values in the range buckets?  Do you mainly want to do group metrics like `min`/`max`/`avg`, etc?  Or also "sequential" operations like `moving_avg`?

I ask because the first set would be relatively simple, whereas the second is much more complicated.  Operations like a moving average rely on the previous data to be evenly spaced and contiguous.  We currently hav

[2015-11-05 15:53] JulioV commented on #14532
Should I look to "/etc/init.d/elasticsearch"? Because is empty as well.

[2015-11-05 16:07] electrical commented on #14532
Not sure if "Elementary OS" does anything funky. I just did a test install on Ubuntu 14.04 and works fine including init script.

[2015-11-05 16:20] dadoonet commented on #14560
It's a logstash plugin. Not elasticsearch.

[2015-11-05 16:20] #14560 closed

[2015-11-05 16:40] martijnvg commented on #14552
added to feature branch

[2015-11-05 16:40] #14552 closed

[2015-11-05 16:47] Shamanoid commented on #14555
Solved :
[code]

[2015-11-05 16:47] #14555 closed

[2015-11-05 16:55] JulioV commented on #14532
Maybe, it is supposed to be based on Ubuntu but it might be an internal issue. Either way, I just downloaded the ES zip file and ran it without problems.

[2015-11-05 17:16] jdconrad commented on #13084
@damienalexandre Thanks for the feedback here.  Points 1, 2, and 4 are all solid ideas, and hopefully somewhere down the road we will have time to spec and code some incarnation of them.  For point 3, it's very unlikely that we will ever log anything from this language as we really don't want to write any files because it would mean that we have to open up security to allow this to happen.

[2015-11-05 17:17] nik9000 commented on #14538
I honestly don't know if the highlighter respects the rewrite configuration - without trying it I'm 60% sure it does but that isn't saying much. For what its worth the experimental highlighter doesn't have to rewrite most wildcard queries so it won't hit this particular problem.

[2015-11-05 17:18] nknize opened #14562 "Add Dedicated Backward Compatibility Testing to GeoPointV2"
This issue is to add testing which ensures that geopoint doc values work correctly under the following scenarios:

* pre-2.2 index with only pre 2.2 segments
* pre 2.2 index with a mix of pre and post 2.2. segments
* post 2.2 index

[2015-11-05 17:45] ppf2 commented on #14538
The experimental highlighter (https://github.com/elastic/elasticsearch/pull/5767) was added as a doc change.  As Nik noted above, this alternate highlighter does not rewrite wildcard queries so it will not run into this issue.  This is a request to enhance the out of the box highlighter for it to also handle wildcard queries in a more efficient way like the experimental highlighter.

[2015-11-05 19:33] nik9000 commented on #13930
I've got the vagrant tests working as well as I can without rpm and deb packages so I'm going to start work on fixing the deb package.

[2015-11-05 19:50] jillesvangurp opened #14565 "date parse error on range query in es 2"
I have a weird problem where Java 8 adds a plus sign to iso dates if the year is more than 4 characters

[code]

Before Elasticsearch 2.0 passing this into a range query on a date field was no problem either way but this started breaking during the migration to es 2:

This filter:

[code]

Now generates the following error:

[code]

The workaround is obvious and already implemented on my side (-1

[2015-11-05 20:01] rileytj opened #14566 "java.lang.IllegalStateException: Type names equal for class LongFieldType and TTLFieldType"
In class MappedFieldType method checkTypeName the above exception is thrown in the cases when the other class is an inherited child of the parent class as in the case of the TTLFieldType which inherits LongFieldType.

This check

 } else if (getClass() != other.getClass()) {

should be changed to maybe "instance of"

https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elast

[2015-11-05 20:04] benjfield opened #14567 "Cluster discovery does not work if plugins are not identical"
In this scenario:

A cluster with plugins installed (in this case license and marvel), appears to be working correctly. When a node without these plugins trys to connect to the cluster, the connection does not work correctly. Here is the logs:

http://pastie.org/private/bokrdcgsjncicplwzm0rg

Here is a trace log:

https://gist.github.com/benjfield/87f19d8c6c5afec124cc

From the nodes with the plug

[2015-11-05 20:13] ppf2 commented on #14075
+1  esp. since node clients are not compatible between 1.x and 2.x versions.

[2015-11-05 20:16] lynneker7 commented on #14565
I have similar problem but a little different. In ElasticSearch 2.0 latest.

Document:
<pre>
<code>
{
    "date": "2015-11-05T05:33:54.431Z",
    "product_id": "27d898e783a16492cafc25a0f9a415d67970b811"
 }
</code>
</pre>
Query
<pre>
<code>
{
  "query": {
    "bool": {
      "must": [
        {
          "match_all": {}
        }
      ],
      "filter": [
        {
          "terms": {

[2015-11-05 20:47] rjernst commented on #14566
This needs to stay an exact equality check. ttl and long are not exactly the same. They could have different underlying field type settings available. The data types of fields must be exactly identical across document types.

[2015-11-05 20:47] #14566 closed

[2015-11-05 21:05] allthedrones commented on #14343
We were able to verify that disabling warmers (even with no warmers defined) caused heap usage to drop from ~90% to ~30%, with no discernable difference in performance ... so there is definitely a bug or undocumented performance consideration here. This was cluster wide for 8 data nodes with 28G of heap space, so it's an enormous impact.

[2015-11-05 21:31] bogdanovich opened #14568 "Cross-index bool filter with has_child doesn't work properly"
Here is the test case setup: http://paste2.org/wMdx7nv5
There is a contact -> event parent-child association.
test_event_1 index has the following data:
[code]
test_event_2 has the following data:
[code]

The following query should only return `contact_id: 3`, but instead returns `contact_id: 1, 2, 3`

The query:
[code]

Here is the query result: http://paste2.org/n5vwfc5x
Tested on ES 1.4 and 1.7

[2015-11-05 21:58] jillesvangurp commented on #14565
@lynneker7 that looks like the problem is with your query. Change lte to gte and you should see the document since the timestamp is after the queried timestamp.

[2015-11-05 22:11] ppf2 opened #14569 "Include plugin descriptor requirement in breaking changes documentation"
ES node no longer starts up when there is a plugin that does not have the plugin-descriptor.properties set.  While this requirement is documented [here](https://www.elastic.co/guide/en/elasticsearch/plugins/current/plugin-authors.html#_plugin_descriptor_file) and the behavior of the node not starting up at all is intended, it will be helpful to include it also as a breaking change (eg. here:
https

[2015-11-05 22:15] rileytj commented on #14566
I understand what you are implying but if this stays exactly as it's written one could never submit a TTL value in the form {"_ttl": 1000}. In this case the value is a type long but the field class does not align.

[2015-11-05 22:28] ronlepper commented on #14566
I'm having a similar problem after upgrading my test suite to use the elasticsearch 2.0 jars.  So how would you necessarily set TTLFieldType so that is not a long field type?  Would it need to be in timestamp form?

[2015-11-05 22:45] rjernst commented on #14566
@rileytj That should not be the case, `_ttl` is a builtin field. The mapping is not dynamically added, so whether the value is passed as a string or a number in json, it should coerce to a number.

@ronlepper Overriding the builtin `_ttl` field is not supported right now. If you need custom ttl behavior, you will need to implement this yourself. But TTL is generally a bad practice: use time-based

[2015-11-05 22:53] jasontedor commented on #14424
Closed by Homebrew/homebrew#45644.

[2015-11-05 22:53] #14424 closed

[2015-11-05 23:11] ericjohnston1989 opened #14570 "multi_explain"
Would it be possible to have an API to request an explain response for multiple document ids at once? There is a bulk API, a multi_get API, and a multi_search API already. From what I can tell, the only options I have right now are

a) Issue multiple explain requests at once
b) Perform a search with explain=true and an additional ID filter

Neither of these are ideal.

Thanks!

[2015-11-05 23:54] rileytj commented on #14566
https://github.com/elastic/elasticsearch/issues/11882

[2015-11-06 00:21] robertsmarty commented on #14517
Update on this. Doing more testing I have found that the cluster does eventually go to a green state however the same error still exists when using GET /cat/_shards

[2015-11-06 01:17] kt97679 opened #14573 "elasticsearch fails to start tribe node"
Hi folks,

I'm trying to start tribe node using following config:
<pre>
transport.tcp.port: 9301
http.port: 9201
network.host: 0.0.0.0
path.data: /var/lib/elasticsearch/
path.logs: /var/log/elasticsearch/

tribe:
    kibana:
        cluster.name: logstash-kibana
        discovery.zen.ping.multicast.enabled: false
        discovery.zen.ping.unicast.hosts: ["127.0.0.1"]
    els:
        cluster.name

[2015-11-06 01:38] jtal commented on #13155
Doesnt it just use path.data to know where to put the data?

How does one set path.home? When I google it I just find this thread and the directory layout docs.

Also, I am trying to create a client node and get the same error.

[code]

[2015-11-06 02:49] jasontedor commented on #13155
Yes, and by default that is `${path.home}/data`.

Are you sure that you're using the released version of Elasticsearch 2.0.0?

[2015-11-06 04:37] lipixun opened #14574 "Wrong matched query in inner hits"
hi, all

I found the matched query in inner hits is not correct in some cases.

Suppose we have two documents: P for parent document, C for child document. A query looks like:

    {
        "or": [
       {
            "has_child": {
                "type": "C",
               "query": {
                   A query named q1
               },
               "name": "xxx"
           },
           {

[2015-11-06 08:19] hawkwang opened #14575 "same field names may raise confliction with different type and analyzer"
Here is the statement about how this happens, see as follows:
=============================================================
curl -XPUT 'localhost:9200/company?pretty' -d '
{
  "mappings": {
    "basic": {
      "properties": {
        "id" : {"type" : "string", "index" : "not_analyzed"},
        "title" : {
            "type" : "string",
            "fields": {
                "raw": {

[2015-11-06 08:32] s1monw commented on #14575
Of cause, I can change the second one to "name", and that is fine.

yes that's the reason, even though they seem to be isolated they are not. You have to either specify the same analyzer and type or use a different name.

[2015-11-06 08:32] #14575 closed

[2015-11-06 08:51] robin13 opened #14576 "Documentation for output of stats API"
There is a lot of information in the stats API, but little of it is documented, and confusion arises...

e.g.
_all.primaries.docs.count shows all the documents lucene sees, which may be different to the documents elasticsearch sees with a simple search if there are nested documents being used. (I think this statement is true... but is it?)

[2015-11-06 08:57] s1monw commented on #14524
yet another one - all on 2.x http://build-us-00.elastic.co/job/es_core_2.x_oel_6/1056/

[2015-11-06 09:02] whdwsl opened #14577 "subclass of ActionFilter.Simple was invoked twice"
hi, guys,   i wrote a Filter whice extends ActionFilter.Simple ,  and override the method : apply(String action, ActionResponse response, ActionListener listener).  when i invoke method: client.prepareSearch,  the apply method  was invoked twice whice is not i wanted, once is enough. is there sth i missed ?  here is my code :

public static class LoggingFilter extends ActionFilter.Simple {

[2015-11-06 09:05] ywelsch commented on #14476
This is again #14535

[2015-11-06 09:17] #14476 closed

[2015-11-06 09:17] #14503 closed

[2015-11-06 09:17] #14513 closed

[2015-11-06 09:17] #14514 closed

[2015-11-06 09:25] s1monw commented on #14524
@cbuescher I think I know why this fails... when you look at the latest failure I pasted above you can see that:

[code]

both run in JVM J0. If you run `GroovySecurityTests` on it's own you can see this in the sys.err:

[code]

it tires to load this without permissions and since it's a static block It will never be re-run. The simple fix would be to load that class before we fire up that test sta

[2015-11-06 09:32] s1monw commented on #14524
on 2.x this reproduces the issue:

[code]

[2015-11-06 09:33] cbuescher commented on #14524
@simonw I see so when GroovySecurityTests is run before the other it messes up the resource loading? Those DateHistogramTests not using groovy scripting should be moved back to core anyway, I was going to do that but didn't want to cover this test failure by it. Should I move the tests or is this something that should somehow be fixed in the test setupt as well?

[2015-11-06 09:34] s1monw commented on #14524
IMO we should force load that class during bootstrap AND during EsTestCase initialization

[2015-11-06 09:38] s1monw commented on #14524
This could work but I'd like to consult @rmuir here first
[code]

[2015-11-06 09:39] s1monw commented on #14524
@cbuescher can you just put `org.joda.time.DateTimeZone.getDefault();` into the `GroovySecurityTests` for now to make this stop failing...

[2015-11-06 09:40] cbuescher commented on #14524
@s1monw before any tests are run?

[2015-11-06 09:40] s1monw commented on #14524
just put it in a static block for now

[2015-11-06 10:07] cbuescher commented on #14524
Pushed this to 2.x, although it never failed on master so far your reproduction makes it fail there also. Will put this also on master and check if the problem also exists on 2.1.

[2015-11-06 10:24] s1monw commented on #14556
We discussed this today and we all agreed that we don't like the inconsistency. On the one hand this is a nice usecase for response filtering (https://github.com/elastic/elasticsearch/pull/14390) but it would still have `_source : {}` in the response. On the other hand having dedicated REST handlers is not nice either so I wonder if we can implement this as a general feature on GET and push the re

[2015-11-06 10:27] s1monw commented on #14532
thanks for reporting this issue. We don't officially support this OS but if you feel like submitting a PR for this please go ahead. I will close this issue for now since we don't have the resources to work on it any time soon.

[2015-11-06 10:27] #14532 closed

[2015-11-06 10:32] s1monw commented on #14448
there is another issue I closed lately related to this: https://github.com/elastic/elasticsearch/issues/3890
I think we can do much better by computing some sensible limit based on the throughput and make that the default?

[2015-11-06 10:35] s1monw commented on #14448
but hey we maybe should do both.... Lets just do 1024 and be done with it

[2015-11-06 10:49] s1monw commented on #14387
I assigned it to @ywelsch we will look into this and come back to you shortly. In the meanwhile can you show all the commands you are executing especially the one that: `Set allocation: none`

[2015-11-06 10:54] s1monw commented on #14373
can you try passing the truststore as a cmd argument like this:
[code]

I didn't try this out though just an idea

[2015-11-06 11:29] rmuir commented on #14524
this is really a bug in groovy though: its missing an AccessController.doPrivileged block

Can you open an issue with them so we don't have the hack forever?

[2015-11-06 11:30] rmuir commented on #14524
sorry, joda-time rather.

[2015-11-06 11:30] rmuir commented on #14524
I think if we switch to java time, which runs in the jdk, we won't have issues like this.

[2015-11-06 11:31] muka commented on #12644
+1

[2015-11-06 11:31] muka commented on #9511
+1

[2015-11-06 11:33] krisb78 commented on #13676
I'm trying to upgrade from 1.7.2 to 2.0.0 and I run into this issue.
I have 2 client nodes, 3 master nodes and 5 data nodes in the cluster.

I upgraded ES to 2.0.0 on one of the client nodes, installed the new version of the cloud-aws plugin as described here: https://www.elastic.co/guide/en/elasticsearch/plugins/current/cloud-aws.html (naturally, I removed the previous version first).

When I'm r

[2015-11-06 11:34] tearsakura opened #14581 "On Backup and Restore can I filter terms on Index?"
Something like:

curl -XPUT 'http://xxxxxx:9200/_snapshot/20151106/snapshot_3' -d '{
  "indices": "metrics-*",
  "query": "env=pro",
  "ignore_unavailable": "true",
  "include_global_state": false
}'

[2015-11-06 11:36] s1monw commented on #14524
I opened an issue

[2015-11-06 11:38] s1monw commented on #14581
please use our discuss list for questions like this https://discuss.elastic.co/ this is only for feature requests and bugs.

the answer to your question is no you can't

[2015-11-06 11:38] #14581 closed

[2015-11-06 11:48] martijnvg opened #14582 "[ingest] The fields geoip adds should be configurable"
Also the geoip processor adds the ipfield, which is redundant, because it is the same as from the configured `ip_field`.

[2015-11-06 12:19] lynneker7 commented on #14565
@jillesvangurp Sorry you're absolutely right. Thanks

[2015-11-06 13:15] bangert opened #14584 "NPE onNodeFailure"
Hi,

we may have tried something stupid here:

[code]
"Det Røde Lyn" is a windows machine.

all nodes have "Gulle" configured as unicast host
[code]
when Gulle shutdown the cluster broke down and the following shows up in the log of the stuart node. The logfile of the other nodes in the cluster dont show a similar NPE.

We have been unable to reproduce this, but thought you might be interested in

[2015-11-06 13:33] bangert commented on #14584
hm, we were actually able to reproduce this.
This time, all remaining nodes showed the same NPE, while the new master node (Det Røde Lyn) actually showed it twice (approx. 10 seconds between the two)

[2015-11-06 13:46] jeantil commented on #9103
@clintongormley @markharwood while checking up on the status for #10391 I noticed it was merged and thus FLT is not available anymore in 2.0.0.
The lucene patch seems to have been accepted does it mean this issue is resolved and we can hope to have a ranking on the normal fuzzy query which doesn't rank typos over exact matches ?

This sentence in particular suggests there may be more work to be do

[2015-11-06 13:46] jasontedor commented on #14584
I think that this is happening because immediately before the request and the master leaving the cluster, allocation was disabled. When the master leaves the cluster, the shards assigned to that node will not be reassigned. As such, the shards that were on the master will be in the cluster state but not associated with a node that is in the cluster state. When `sendNodeRequest` tries to look up th

[2015-11-06 13:51] jeantil commented on #11442
@nik9000 just out of curiosity, is the "experimental" highlighter now considered `production ready` ?

thanks

[2015-11-06 14:30] eliranmoyal opened #14585 "delete-by-query plugin usage inside a plugin"
Hey,
I'm having trouble upgrading my plugin to support elasticsearch 2.0.0
The plugin used deleteByQuery so i referenced the delete-by-query from maven and everything compiled well. even worked on tests.

But, after installing the plugin , calling a function that used deletebyQuery caused an exception:
no_class_def_found_error
org/elasticsearch/action/deletebyquery/DeleteByQueryRequestBuilder

so

[2015-11-06 14:42] s1monw commented on #14585
this is not supported. Plugins can't depend on other plugins. the delete by query functionality is only available via the rest layer at this point. I will need to discuss this with others how we can make stuff like this work but at this point it's not supported

[2015-11-06 15:16] PhaedrusTheGreek commented on #14387
This is the exact command I used:

[code]

And I would see something like this on all nodes:

[code]

Shard relocations / recoveries begin after relocation is reenabled like this:

[code]

[2015-11-06 15:28] bleskes commented on #14387
A short update - @clintongormley and did researched this. It has to do with a race condition between the gateway allocator and the cluster balancer. When the node comes back/allocation is enabled the gateway allocator goes and asks the node for information about it's shard store. This is done async. While that request is in flight, the balanced allocator thinks the node is empty and assigns shards

[2015-11-06 15:54] dakrone commented on #13676
This is a duplicate of  #14400

[2015-11-06 16:16] jpountz commented on #14499
+1 I just fell into the trap and it took me some time to figure out the root problem

[2015-11-06 16:44] polyfractal commented on #14335
At least for the aggregation `filter` case, can we just default to `DocValuesTermsQuery` on the Elasticsearch side?  It seems like the agg filter will always satisfy the case of "just matching" instead of iterating?

I've been running into a lot of slow aggs due to `filter` agg buckets lately.  Rewriting it is usually non-trivial (have to move some filters to the query, convert some to `terms` agg

[2015-11-06 16:55] javanna commented on #14548
I think this flag is needed to decide whether to go on with following processors in the pipeline and still index the current document. It nicely applies to the index api, and the bulk api in the context of each single document.

What currently happens when something fails while indexing using bulk though, is that we fail the whole request, which doesn't seem convenient. I think ideally we should b

[2015-11-06 17:00] aanm commented on #14359
@clintongormley But why? Is it difficult to solve that? I mean, if elasticsearch is a document oriented database why can't save json documents since json supports dots in field names?

[2015-11-06 17:10] #14584 closed

[2015-11-06 17:20] rjernst commented on #14359
@aanm Json does not support dots in field names (at least not so far as not using quotes); using a dot implies the part before the dot is an object. The problem with this in elasticsearch is ambiguity, and indeterminism. When a user passes say "foo.bar" as a field name, should that be an object field "foo", with a "bar" field, or a single field "foo.bar"? What happens when a field "foo.bar" exists

[2015-11-06 17:33] #14499 closed

[2015-11-06 17:40] new-player opened #14589 "Not able to start elasticsearch service"
I migrated from v1.7.1 to 2.0.0. Had some issues with this version. When I migrated back to previous version I got this error.

############################################################################

[2015-11-06 23:02:47,214][ERROR][bootstrap                ] Exception
org.elasticsearch.common.inject.CreationException: Guice creation errors:

1) Error injecting constructor, org.elasticsearch

[2015-11-06 18:57] s1monw commented on #14387
@bleskes makes sense to me - I will take a look at implementing this.

[2015-11-06 19:17] nik9000 commented on #11442
It's been in production at WMF, my old job for over a year now. It's
serving millions of diverse requests a day without any problem. But its not
an elastic supported plugin. I keep bringing it up because I wrote it. I'm
sorry to make things complicated!

I honestly don't know what the future holds for the plugin.
On Nov 6, 2015 8:51 AM, "Jean Helou" <notifications@github.com> wrote:

[2015-11-06 19:21] PhaedrusTheGreek commented on #14387
Tested these workarounds with good results:

1.x

[code]

2.0

[code]

[2015-11-06 19:26] amontalenti commented on #4915
+1

[2015-11-06 19:50] aanm commented on #14359
@rjernst Thanks for the reply. Exactly! It supports as far I use quotes, which I do. I think, if a user says 'foo.bar' it's wrong and should cause an exception but if the user says '"foo.bar"' (see the double quote) elastic should consider a single field "foo.bar".

Nothing, they are different things ' "foo.bar" ' is a field.

[2015-11-06 19:54] rjernst commented on #14359
But now you have two fields, with the same path. Remember that fields in 2.0 must be specified using their full path. The field "foo.bar" has the same path as that with object field "foo" and sub field "bar".

[2015-11-06 19:57] diranged commented on #14359
Hey guys this is a pretty amazingly painful change. We have 30 days worth of indexed data from our Flume pipeline ... and you guessed it, all 30 indexes have a `flume.syslog.status` field ([FLUME-2838](https://issues.apache.org/jira/browse/FLUME-2838)).

We're going to get around this temporarily by actually striping this header out with our custom ElasticSearch Sink ... but even that is going to

[2015-11-06 20:01] rjernst commented on #14359
@diranged Sorry, it cannot. The major improvements to mappings in 2.0 were to eliminate the possibility of ambiguity in fields. That cannot be made optional as the inner workings of mappings now depend on that uniqueness.

[2015-11-06 20:04] diranged commented on #14359
@rjernst and without dumping and re-indexing ~9 billion events, we can't *change* the field name of previously indexed data.. right?

[2015-11-06 20:05] hudsonb commented on #13155
I am having the same issue when creating a Node(Client):

[code]

Results in "path.home is not configured"

[2015-11-06 20:07] s1monw commented on #14359
this can't be done differently. You guys ran into a long standing bug that we fixed. Waiting 30 days is not the end of the world. Changes like this must be done at some point, if you make it lenient you just end up with more trouble. If you wait 30 days you will be able to go to 2.1 even which might be even more stable.

[2015-11-06 20:08] rjernst commented on #14359
@diranged Yes, you will need to reindex.

[2015-11-06 20:11] rjernst commented on #13155
Adding `path.home` when building a node would be done like this:
[code]

[2015-11-06 20:12] jtal commented on #13155
Yes I'm fairly sure but is there a way I can have the client report what version it is from within the app?

Also, looking at the 2.0.0 source code constructor for Node (line 128) this happens:

        Environment tmpEnv = InternalSettingsPreparer.prepareEnvironment(pSettings, null);

Then Environment constructor requires path.home (line 96):

        if (settings.get("path.home") != null) {

[2015-11-06 20:13] dadoonet commented on #13155
Yes the doc needs to be fix.

[2015-11-06 20:18] rjernst commented on #13155
Set it to any directory. If you are explicitly setting other dirs like path.logs, then nothing should be written to it.

[2015-11-06 20:20] aanm commented on #14359
@rjernst Okay, can provide me a path example?

[2015-11-06 20:24] rjernst commented on #14359
@aanm "path" is the term used for the full canonical name for a field. This includes any object fields it is part of, from the root of the mappings. "foo.bar" is the path (ie the full canonical name) for an object field called "foo", with a subfield "bar".

[2015-11-06 20:27] aanm commented on #14359
@rjernst Okay "foo.bar" is not supported, how about "foo\.bar"?

[2015-11-06 20:30] dgriff20 commented on #14533
Additional errors in here read...

log4j:WARN No appenders could be found for logger (bootstrap)
log4j:WARN Please initialize the log4j system properly.

Then it goes on to be unable to access a folder that does not exist yet.

Unable to access 'path.logs' (usr/share/elasticsearch.logs)

Interestingly, if I make that directory, it moves on and stops at the NEXT directory it can't make/find.

[2015-11-06 20:34] rjernst commented on #14359
Escaping is not supported at this time. I won't see it will never be supported, but it is sufficiently complicated enough with all the places we access/use field names that it would be a largish change IMO.

[2015-11-06 21:26] dakrone opened #14593 "Add shard allocation explain API to explain why shards are (or aren't) UNASSIGNED"
# Idea<a id="sec-1" name="sec-1"></a>

Relates to a comment on [#8606](https://github.com/elastic/elasticsearch/issues/8686) and supersedes [#14405](https://github.com/elastic/elasticsearch/issues/14405).

We currently have the `/_cluster/reroute` API, that, with the `explain` and
`dry_run` parameters allow a user to manually specify an allocation command and
get back an explanation for why that s

[2015-11-06 21:29] seang-es commented on #14593
This would be an extremely helpful feature for us.  We get tons of cases where the customer has unassigned shards and does not know why, and until we get logs from them, we have no answer.  A quick answer would help the user self-diagnose.  If it could be linked with _cat/shards to give us a single coherent display showing what's unassigned and why, it would be incredible.

[2015-11-06 21:32] ppf2 commented on #14593
Finally, great to see this API being discussed and planned!  Linking https://github.com/elastic/elasticsearch/issues/9471 as well.

+1 on a single API to get all the information/causes on why a shard cannot be unassigned.   It doesn't look like this one will cover the corruption scenario and the user will have to use the other API (https://github.com/elastic/elasticsearch/pull/11545)?  Having a si

[2015-11-06 21:34] GlenRSmith commented on #14593
:+1: How about the request body have properties that allow interrogation based on shard states?

[2015-11-06 21:37] dakrone commented on #14593
I'm not sure what you mean by this, can you elaborate?

[2015-11-06 21:41] GlenRSmith commented on #14593
Skip the step of finding the unallocated shards and asking about each of them individually, and just

[code]

Not a literal proposal of form, but gets my intent across, I think.

[2015-11-06 22:30] markharwood commented on #9103
(Lucene) fuzzy queries should rank sensibly now in 2.0. However I'm unclear on the behaviour of match query and synonyms so I would not suggest closing this issue without further investigation.

[2015-11-06 23:47] digital-wonderland opened #14594 "Field names cannot contain the . character in Elasticsearch 2.0"
Starting with Elasticsearch 2.0 field names can not contain the ```.``` character anymore.

I like to use ```.``` as separator in field names while using ```_``` instead of camel casing - i.e. ```docker.label.some_stuff``` instead of ```docker_label_some_stuff``` since it makes the parsing much easier.

Any chance field names with a ```.``` will be allowed in Elasticsearch 2.x?

See also https://d

[2015-11-07 02:29] andyrhee commented on #6732
+1

[2015-11-07 08:22] tkaprol commented on #4915
+1

[2015-11-07 15:59] polyfractal opened #14600 "Allow bucket_script to operate on SingleBucketAggregation objects"
Currently, the `bucket_script` pipeline is only capable of working with MultiBucketAggregations such as `histo` or `range`.  But there are a variety of use-cases where it would be nice to use it with a SingleBucket, like a filter.  It fails because the BucketScriptAgg attempts to cast the InternalFilter into a MultiBucketAgg and fails.

[code]

[code]

You can skirt the issue by using a `filters`

[2015-11-07 16:08] polyfractal opened #14601 "Allow BucketScript to operate as a sibling pipeline"
I've run across a number of scenarios where it would be useful to execute a `bucket_script` as a sibling, instead of a parent pipeline.  For example:

[code]

I keep running into this when trying to calculate ratios: you generate a number of metrics across potentially several aggs, then you just want to calculate a ratio of those metrics.  Often you end up in a situation where there is no bucket t

[2015-11-07 21:09] #14464 closed

[2015-11-07 23:11] rmuir opened #14603 "Plugin should fail if it does not set 'name'"
Gradle is currently defaulting this based on the directory name, that is mega-trappy.

this is not one of those cases to save "a line of build" instructions. This should be explicit.

[2015-11-07 23:48] #10746 closed

[2015-11-08 01:19] #14603 closed

[2015-11-08 10:48] noamgal opened #14606 "Connection refused after upgrading to elasticsearch-2.0"
Hi
After upgrading to elasticsearch-2.0 I'm failing to connect to the cluster.
When I do
[code]
I get
[code]

If i do the same with some other elasticsearch cluster ver. 1.7.0 I get
[code]

tried other actions such as ``` curl 'my-new-elasticsearch-dns:9200/_cat/indices/' ```
and got same failure result.

Also the cluster (one single node) is up, but having some problems with the log:
[code]
don't

[2015-11-08 11:29] dadoonet commented on #14606
Probably because you did not set network.host so it's bound to localhost only.

[2015-11-08 11:29] #14606 closed

[2015-11-08 13:10] clintongormley opened #14607 "Document wildcard for network interfaces in Network Settings"
_From @inqueue on October 30, 2015 20:42_

Can we add documentation to [Network Settings](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-network.html) that illustrates how to configure binding Elasticsearch to all network interfaces; i.e., using a wildcard?

elasticsearch.yml:

[code]

All interfaces are listening:
[code]

We do not want to necessarily encourage this confi

[2015-11-08 13:10] clintongormley commented on #14607
_From @inqueue on October 30, 2015 21:20_

I should note this configuration is not any different than versions prior to 2.x. The difference is Elasticsearch no longer binds to all interfaces by default which can be very unexpected if going to 2.0 from an upgrade for example. See [Breaking Changes in 2.0](https://www.elastic.co/guide/en/elasticsearch/reference/2.0/_network_changes.html) for more de

[2015-11-08 13:10] clintongormley commented on #14607
_From @jprante on October 31, 2015 13:56_

A note regarding IPv6 address syntax would be helpful, too.

To bind to all IPv6/IPv4 addresses, you can use
[code]

To bind to IPv4 loopback (localhost) only, you can use
[code]
together with `JAVA_OPTS="$JAVA_OPTS -Djava.net.preferIPv4Stack=true -Djava.net.preferIPv4Addresses"`

To bind to IPv6 loopback (localhost) only, you can use
[code]

[2015-11-08 13:10] clintongormley commented on #14607
_From @inqueue on October 31, 2015 18:46_

Thank you @jprante for your contributions.

In my observations, this binds to all IPv6/IPv4 just like `network.bind_host: 0`:

[code]

[2015-11-08 13:10] clintongormley commented on #14607
_From @jprante on October 31, 2015 19:25_

You must set `JAVA_OPTS="$JAVA_OPTS -Djava.net.preferIPv4Stack=true -Djava.net.preferIPv4Addresses"` to ES start script to disable IPv6, then `network.bind_host: "0.0.0.0"` is IPv4 only (and all IPv6 networking will give `java.net.SocketException: Protocol family unavailable`)

[2015-11-08 13:10] clintongormley commented on #14607
_From @inqueue on October 31, 2015 19:29_

Ah, just as you mentioned in your previous comment @jprante. Thanks!

[2015-11-08 13:10] clintongormley commented on #14607
_From @markwalkom on November 2, 2015 5:59_

+1 on this, be great to provide more clarification for users.

[2015-11-08 13:10] clintongormley commented on #14607
Moving this issue to the elasticsearch repo

[2015-11-08 13:19] rmuir commented on #14607
I don't think we should encourage this: then things like 'localhost' won't work as the user expects, and thats probably why they want to do this anyway.

This stuff has more to do with mapped addresses, and not those settings, there is only wildcard, and there is only disabling ipv6 completely, so i would let it be. The networking documentation is confusing enough already.

[2015-11-08 16:46] clintongormley commented on #14533
@dgriff20 it sounds like you're using a package to install Elasticsearch, but then starting it with bin/elasticsearch directly, instead of using the system start/stop scripts.

[2015-11-08 16:46] #14533 closed

[2015-11-08 17:14] clintongormley commented on #14593
I like the idea a lot, but I'd reorganise things a bit, especially so it works better in the 500 node case.  I think the disk usage stats should also be available in the nodes stats API. In this API, I'd perhaps include the disk (relevant?) usage stats in the disk usage decider, rather than in a separate section (ie put it where it is relevant).

Perhaps default to a non-verbose output which doesn

[2015-11-08 17:17] clintongormley commented on #14594
No.  Dots are used in paths all over the place, to represent keys in an object.  The fewer decision trees there are in the code, the less likely we're going to forget to implement something in a new area of code.

You could use dashes or slashes or a number of other characters instead.

[2015-11-08 17:17] #14594 closed

[2015-11-08 18:09] clintongormley commented on #13484
@nik9000 sounds like this one can be closed?

[2015-11-08 18:11] clintongormley commented on #14438
Closed by #14492

[2015-11-08 18:11] #14438 closed

[2015-11-08 18:12] clintongormley commented on #14439
This issue was moved to elastic/elasticsearch-hadoop#600

[2015-11-08 18:12] #14439 closed

[2015-11-08 18:31] clintongormley commented on #14446
@jaymode could you take a look at this?

[2015-11-08 19:01] clintongormley commented on #12461
@adichad I think you have the parameter in the wrong place, these params still work in 2.0:

    PUT my_index
    {
      "mappings": {
        "my_type": {
          "properties": {
            "foo": {
              "type": "nested",
              "include_in_root": true,
              "properties": {
                "bar": {
                  "type": "string"
                }
              }

[2015-11-08 19:21] clintongormley commented on #14475
There is a discrepancy between how paths are specified for `fields` and `_source`:

`fields` can only return stored fields as inner hits:

    PUT /test
    {
      "mappings": {
        "article": {
          "properties": {
            "comments": {
              "type": "nested",
              "properties": {
                "content": {
                  "type": "string",
                  "st

[2015-11-08 20:29] clintongormley commented on #14495
hi @mehmetgunturkun

Let's keep this discussion in https://discuss.elastic.co/t/many-slow-queries-and-high-cpu-load-on-load-test-50req-sec/32624/8 for the moment.  We can open an issue here if we find a bug

[2015-11-08 20:29] #14495 closed

[2015-11-08 20:34] clintongormley commented on #14501
@carlitux btw, changing that option to `--Des...` is just ignoring the option.  A `-Des` option needs to appear at the beginning of the command line.  Alternatively, use `--max-open-files true`.

That is a one-off test anyway, which these days can be replaced by examining the nodes info API.

[2015-11-08 20:48] #14508 closed

[2015-11-08 20:54] #14510 closed

[2015-11-08 21:04] clintongormley commented on #14516
You can use the cluster state API instead:

    GET _cluster/state/metadata/my_index

or even:

    GET _cluster/state/metadata/my_index?filter_path=metadata.indices.*.state

[2015-11-08 21:04] #14516 closed

[2015-11-08 21:34] clintongormley commented on #14397
This looks to me like something that changed in Groovy, but leaving it open for further comments.

[2015-11-08 21:46] clintongormley commented on #14350
These days we do an internal release candidate before putting the release live. While we're checking it, the (eg) 2.0 branch can move on.  I think what we can do is to add a commit with the new version and tag that, even though it will be one commit off the (eg) 2.0 branch.

[2015-11-08 21:50] clintongormley commented on #14370
Closing in favour of #11511

[2015-11-08 21:50] #14370 closed

[2015-11-08 22:17] clintongormley commented on #14426
Hi @giovannibonetti

Unfortunately, your proposal would be too limited to be generically useful.  We've had discussion about something like this before in #7030, but it hasn't made any progress yet.  Btw, you can store scripts as files in your config directory and use those without enabling dynamic/inline scripting (and going from JS to groovy is not too hard :) )

[2015-11-08 22:17] #14426 closed

[2015-11-08 22:32] clintongormley commented on #14498
@dineshbugide Marvel UI is now a Kibana app.  The docs explain how to set it up.

@ajaybhatnagar you need to tell us more about how you installed, configured, and started elasticsearch.

[2015-11-08 22:41] clintongormley commented on #14507
@marcinn Providing a description that most people will understand is a lot more important than being 100% semantically accurate.  Closing

[2015-11-08 22:41] #14507 closed

[2015-11-08 22:43] clintongormley commented on #14519
Hi @nithyanv

This sounds like a question for the forums: http://discuss.elastic.co/

[2015-11-08 22:43] #14519 closed

[2015-11-08 23:07] jprante commented on #14607
@rmuir My concern is that users use wildcards and forget about IPv6. localhost works fine if there is a setting in `/etc/hosts/` like

[code]
and most OS provide these defaults. A hint would be helpful so users can correctly restrict ES to bind to localhost, whether they want IPv4, IPv6, or both.

[2015-11-08 23:10] clintongormley commented on #14453
On 2.0 it doesn't look like we're setting the home directory, no? https://github.com/elastic/elasticsearch/blob/2.0/distribution/src/main/packaging/scripts/preinst#L67

Is this user not a hangover from a previous installation?

[2015-11-08 23:10] tarass commented on #13445
This somehow wasn't affecting us prior to 2.0, but now Java clients can't join cluster as a full client Node because they don't have a license plugin. The worst part is that this was a "silent" behavior.

[2015-11-08 23:15] joshuar commented on #14453
If we don't set the home directory, I think it defaults to whatever the base home directory is in /etc/default/useradd plus the username.  So usually this ends up being `/home/username`, even for system users.

[2015-11-08 23:35] rmuir commented on #14607
They can forget about ipv6 all they want: out of box, binding to 0.0.0.0, ::, or even ::FFFF:0.0.0.0 are all equivalent: they all behave the same and bind to "wildcard" (means both v4 and v6) without any confusing -D's.

[2015-11-09 00:27] marcinn commented on #14507
So, @clintongormley, are you trying to say that people (or maybe only ElasticSearch users) are too dumb to see the difference? Is it o.k. when you're calling the bike a motorcycle? Have you heard about HATEOAS?

Just write "JSON over HTTP". It will be enough and more accurate. If you're not familiar with RESTful please read some about RESTful principles and architecture first, or maybe ask Roy Fie

[2015-11-09 01:22] rjernst commented on #12366
Sorry for the delayed response, I lost this one in email.

@clintongormley I think it is probably worth making the behavior consistent, and it does seem to me finding an object where a specific piece of data is expected constitutes "malformed" data.

@andrestc A PR would be great.

[2015-11-09 02:06] rjernst commented on #13775
@bwsawyer Could you elaborate on this? Were you somehow overriding ObjectMapper?

Part of the refactorings were to decouple parsing for a single field type, from parsing the entire document. Before, parsing the document was mixed back and forth between "object" parsing, and concrete fields. This decoupling meant moving part of ObjectMapper to a new class, DocumentParser, which was dedicated to par

[2015-11-09 04:03] camilojd commented on #14442
Hello,
I have a fix for this, and sending a PR now (all tests run OK).

Do I have to send a separate PR to backport the fix to 2.x?

Thanks!

[2015-11-09 06:49] martijnvg commented on #14548
I think there is no doubt about whether we need this option.

I agree that in the bulk api providing item level granularity control for this flag is tricky, because we we can't set the failure response item in the bulk response. We can only decide whether to delegate to the bulk api. To achieve this I think we also need to have logic in `IngestActionFilter#apply(String, ActionResponse, ActionListe

[2015-11-09 08:15] whybangbang opened #14613 "function score gauss min score"
we have use es in many case,and gauss function is our love,but gauss function don't have the min score,if the score_mode is multiply(default) ,one score is zero,and the doc's score will be zero

[2015-11-09 08:26] jeantil commented on #11442
@nik9000 thanks for your answer I'll have a look again :)

[2015-11-09 08:31] bangert commented on #14584
Awesome work! Thanks.

[2015-11-09 08:48] jpountz opened #14614 "Gradle requires JAVA_HOME to be set"
I get the following error when running the build:

[code]

which is due to the following problem:

[code]

And indeed at ClusterFormationTasks.groovy:282 we have the following

[code]

So if JAVA_HOME is not set then Groovy won't know whether to use the File(File, String) or the File(String, String) constructor. Could we just expect jps to be on the PATH or at least detect JAVA_HOME automatically

[2015-11-09 09:10] noamgal commented on #14606
@dadoonet
Thanks, working.
Afaik it wasn't mandatory on elasticsearch 1.7.
Are there any more changes required for ever. 2.0.
If yes - where can I find the list of all things? thanks

[2015-11-09 09:19] dadoonet commented on #14606
In the breaking changes documentation I guess ?

[2015-11-09 09:21] martijnvg commented on #14475
@clintongormley @albanm The reason why there is a discrepancy between `fields` and `_source` is just because the two are differently implemented. The `fields` requires the field to exist in the mapping and therefor the full path needs to be provided, whereas `_source` doesn't require that and just retrieves the relevant bits from the _source (map of maps).

This discrepancy is noticeable when usin

[2015-11-09 09:22] clintongormley commented on #14558
That's one approach.  Another is simply to escape the `{}` as:

    "query": "\\{\\{suggestion\\}\\}",

[2015-11-09 09:22] #14558 closed

[2015-11-09 09:39] clintongormley commented on #14550
Yep, looks like bad syntax.  Closing

[2015-11-09 09:39] #14550 closed

[2015-11-09 09:47] clintongormley commented on #14257
I'm going to close both PRs #14444 and #14449 which both just link to the guide.  Instead, let's just copy the relevant text into the ref docs.

[2015-11-09 09:52] RicherdLee opened #14615 "ElasticSearch index unix timestamp"
Hi team~
My data  containing a timestamp field whose value is an integer representing the number of seconds since epoch (php unix timestamp),like 1440494956
I've been reading ES docs and have found this:

http://www.elasticsearch.org/guide/reference/mapping/date-format.html

But it seems that if I want to submit unix timestamp and want them stored in a 'date' field (integer field is not useful for

[2015-11-09 10:05] danielmitterdorfer commented on #9170
@markwalkom Is this ticket still valid? The columns "jdk" and "version" are available in the cat API, they are just not included by default. Does that solve your problem or do you want to appear those two columns by default?

[2015-11-09 10:06] martijnvg opened #14616 "[Ingest] Dealing with ingest load"
Pipelines will have different performance characteristic depending on the number of processors, what processors have been configured and the type of documents are being enriched (a log or a complex document with many fields).

A pipeline should be able to use a different thread pool than the default ingest thread pool. Also it should be possible to run pipelines on specific nodes (or _not_ on spec

[2015-11-09 10:10] martijnvg opened #14617 "[Ingest] Add search processor"
The search processor should be able to run any search request to the local or external cluster (using the new http client) and enrich document with the returned search response.

[2015-11-09 10:19] albanm commented on #14475
The behavior that I noticed is still a bug I think. Let's forget _source, and just look at my initial example. The field "content" was successfully extracted from _source and returned without being stored nor prefixed by "comments.", while "user.id" was not.

By the way I switched to using _source filtering as I now see that my problem is with a deprecated functionality:

["This functionality has

[2015-11-09 10:24] dadoonet commented on #14615
Please post user questions on discuss.elastic.co. We can better help you there.

[2015-11-09 10:24] #14615 closed

[2015-11-09 10:30] segalziv opened #14618 "Many Unclear Warnings after upgrade to v1.7.3: "no index mapper found for field""
After upgrading to 1.7.3, I see many warning in the log file:

[2015-11-09 10:15:33,919][WARN ][index.codec              ] [data_xxx] [index-name] no index mapper found for field: [field-name] returning default doc values format

[2015-11-09 10:15:31,798][WARN ][index.codec              ] [data_xxx] [index-name] no index mapper found for field: [field-name] returning default postings format

I've

[2015-11-09 10:40] #12962 closed

[2015-11-09 10:42] jpountz commented on #14442
@camilojd No need to send multiple PRs, we will take care of backporting.

[2015-11-09 10:49] clintongormley commented on #14567
Yes, you need to install the licensing plugin on all nodes.  The transport client doesn't require licensing though.

[2015-11-09 10:49] #14567 closed

[2015-11-09 10:52] #14470 closed

[2015-11-09 10:53] bleskes opened #14620 "BulkProcessor should have OOB support for handling EsRejectedExecutionException"
The [BulkProcessor](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/action/bulk/BulkProcessor.java) is handy wrapper around the bulk API. It aggregates incoming requests and sends them in one bulk once enough requests have been accumulated, or some time have passed. At the moment it passes any failures to the user via a listener.

It would be great if have

[2015-11-09 10:54] mikemccand commented on #14620
+1

[2015-11-09 10:54] jpountz commented on #14620
+1

[2015-11-09 10:54] ESamir commented on #14620
+1

[2015-11-09 10:55] robertsmarty commented on #14373
Works perfectly!

[2015-11-09 10:55] #14373 closed

[2015-11-09 10:56] s1monw commented on #14373
awesome! @clintongormley should we add this to some documentation

[2015-11-09 10:59] clintongormley commented on #14343
The top warmer is used to warm up data structures that are per shard, not per segment.  eg parent-child global ordinals, any fields with global_ordinals set to eager, etc.

If you're not seeing any performance impact, then perhaps you have mappings like the above which aren't actually being used?

[2015-11-09 11:01] s1monw commented on #14620
+1

[2015-11-09 11:09] #14442 closed

[2015-11-09 11:11] clintongormley commented on #14568
The parent-child relationship only works in a single index.  The child docs need to be in the same shard as the parent doc.  The contact doc with ID 1 in the test_event_1 index is completely independent of the contact doc with ID 1 in the test_event_2 index.

This is working exactly as expected.

[2015-11-09 11:11] #14568 closed

[2015-11-09 11:18] #14569 closed

[2015-11-09 11:23] benjfield commented on #14567
Can this error message be improved to tell you this? Me and a guy on IRC spent the best part of the day working through potential issues on this before we discovered this problem. I'm also not sure this is documented on the website.

[2015-11-09 11:24] clintongormley commented on #14570
Hi @ericjohnston1989

The options you list are correct.  We won't add a bulk explain API as it signals the wrong intent.  Explain is a heavy operation and is intended for debugging only, not for use in production at scale.

[2015-11-09 11:24] #14570 closed

[2015-11-09 11:30] clintongormley commented on #14517
What version(s) of Elasticsearch are you using?

[2015-11-09 11:36] clintongormley commented on #14573
You're specifying the custom config file location incorrectly.

See https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_20_setting_changes.html#_custom_config_file

[2015-11-09 12:04] clintongormley commented on #14574
It'd be much easier to answer your question if you provided a complete example demonstrating exactly what you're doing.

I've come up with my own example which demonstrates that it works correctly:

    PUT test
    {
      "mappings": {
        "parent": {

        },
        "child": {
          "_parent": {
            "type": "parent"
          }
        }
      }
    }

    PUT test/parent/1

[2015-11-09 12:04] #14574 closed

[2015-11-09 12:28] ziyasal opened #14622 "Elasticsearch configuration(MAX_LOCKED_MEMORY) is not working properly"
## Problem
I have problem with `MAX_LOCKED_MEMORY` property. I set the `MAX_LOCKED_MEMORY` property unlimited in the ES configuration file where under the `/etc/init.d`. [ES document](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-service.html) says so. Anyway, after that I execute the following command to see the values for ES user
[code]
then I got this result

[code]
as y

[2015-11-09 12:30] clintongormley commented on #10971
Also see https://github.com/elastic/elasticsearch/issues/14565 - Java8 prepends a plus sign to years > 9999

[2015-11-09 12:39] clintongormley commented on #14589
Once you have upgraded to a new version, you can't go back.

[2015-11-09 12:39] #14589 closed

[2015-11-09 12:41] new-player commented on #14589
Then how can I completely remove it.

[2015-11-09 12:56] wbowling commented on #10492
This is probably fixed by #12962 as top hits now supports "fields".

[2015-11-09 13:03] nik9000 commented on #14614
I fixed this once before. I can do this again!

[2015-11-09 13:04] clintongormley commented on #14613
@whybangbang I'm afraid I don't understand what you mean.  Perhaps an example will help? `min_score` is not per function, it is per function-score query

[2015-11-09 13:07] jpountz commented on #14614
That would be great. Thanks @nik9000 !

[2015-11-09 13:10] clintongormley commented on #14475
It's a bit more complicated than that :)  Before 2.0, you could reference fields either with just the name, or with the full path.  `content` was actually being retrieved from the source field, and could be found because you used the short name.  `user.id` however is neither the short name nor the full path.

[2015-11-09 13:10] #14475 closed

[2015-11-09 13:12] danielmitterdorfer commented on #14620
I'd like to tackle this. However, I have a couple of questions:

I have not understood why a listener is needed. Would it also be ok if we made `BulkProcessor` itself capable of backing off and retrying? I think this could simplify usage.

Btw, I have also two questions about this part of `BulkProcessor#execute()`:

[code]

I think `Thread.interrupted()` should be `Thread.currentThread().interrupt

[2015-11-09 13:12] clintongormley commented on #14615
In 2.0, you can use `epoch_second`.  See https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_20_mapping_changes.html#_date_fields_and_unix_timestamps

[2015-11-09 13:17] #13484 closed

[2015-11-09 13:17] clintongormley commented on #14618
Hi @segalziv

It looks like you upgraded from an old version and are running into this change: https://github.com/elastic/elasticsearch/pull/7604

You will need to reindex into a new index without those custom mappings

[2015-11-09 13:17] #14618 closed

[2015-11-09 13:34] clintongormley commented on #14373
@s1monw added in https://github.com/elastic/elasticsearch/commit/fe473ed24ed240f2edbe7c71b3f3b5e8e5f58f7d

[2015-11-09 13:36] clintongormley commented on #14567
Yes, there's already an issue open for that: https://github.com/elastic/elasticsearch/issues/13445

sorry, should have linked to it

[2015-11-09 13:42] clintongormley commented on #14622
@ziyasal the config file is only called for bin/plugin or when running the init scripts. It doesn't change the values for the default profile of the elasticsearch user.

[2015-11-09 13:42] #14622 closed

[2015-11-09 14:05] albanm commented on #14475
Ok, thanks for the explanations !

[2015-11-09 14:44] syllogismos commented on #10345
@tchcxp how well did updating data in elasticsearch from app layer work, instead of relying on mongodb river.

[2015-11-09 14:49] jpountz commented on #14335
I'm a bit torn here. I certainly agree with Robert that I don't want to get back to the previous situation where we were trying to do too much on top of Lucene and often ended up making worse decisions than the ones that Lucene would have made by itself. Given that the new query improvements (improved cost API, two-phase iteration, etc.) only landed into the hands of our users two weeks ago, I sug

[2015-11-09 14:57] krisb78 commented on #14400
In my case (as described under https://github.com/elastic/elasticsearch/issues/13676), the new client node upgraded to 2.0.0 fails to join the 1.7.2 cluster (i.e, I'm not trying to run two nodes on the same machine):

Im getting a number of these:
[code]
...

And then eventually:

[code]

[2015-11-09 15:09] polyfractal commented on #14335
Works for me, I certainly don't know enough about how all the components fit together to have a well-educated opinion.  :)

[2015-11-09 15:18] segalziv commented on #14618
@clintongormley Thanks for answering fast!

The index is a daily (logs) index, which was created in 1.7.3. to begin with. So I can't understand how reindexing will help.

I have to add that there were some mapping race condition warnings on this index, which feels related:

[2015-11-09 09:41:23,932][WARN ][action.bulk              ] [data_xxx] failed to perform indices:data/write/bulk[s] on remote

[2015-11-09 15:22] joschi commented on #1203
Publishing the Javadoc artifacts on Maven Central along with the main artifacts would enable services like [Javadoc.io](http://www.javadoc.io/) to be used and to view the Elasticsearch Javadoc online: http://www.javadoc.io/doc/org.elasticsearch/elasticsearch/1.7.3

[2015-11-09 15:43] rjernst commented on #14614
I have a fix for this in a branch, the problem is intellij. I had this check a long time ago, but removed because it caused problems for intellij users (but not for me because I have java home set for intellij). My current fix simply ignores the check when intellij runs gradle, but I'm apprehensive about that. Maybe others have an opinion?

[2015-11-09 15:48] nik9000 commented on #14614
Can you make IntelliJ blow up loudly and _tell_ the user how to set JAVA_HOME?

[2015-11-09 15:53] rjernst commented on #14614
Yes and no. Certainly the error can be customized for intellij. But setting is complicated and I'm not even sure myself the exact steps to go through (I did it many months ago for another reason).

[2015-11-09 16:16] dakrone commented on #14400
This is expected, 2.x and 1.x nodes are not compatible, you'll need to do a full cluster upgrade to use 2.0.

This issue is the NullPointerException logged when the two try to communicate.

[2015-11-09 16:22] ywelsch opened #14625 "Disruption rules in MockTransportService should match all bound addresses of a node"
Currently, disruption rules apply only to the main bound address of a node. As consequence, integration tests that use Network Partitions must currently ensure that nodes are bound to a single local interface (e.g. 127.0.0.1 / IPv4) in order to correctly work. This is ugly as it requires setting `network.host` explicitly to `127.0.0.1` in all such tests.

Implementation details:
UnicastZenPing cre

[2015-11-09 16:55] rmuir opened #14627 "evaluate gradle leniency of dependency versions"
I was surprised to hit problems with my IDE (see https://github.com/elastic/elasticsearch/pull/14626)

Basically, when running 'gradle test', gradle sees jar hell (test framework has commons-codec:1.6 and tika has commons-codec:1.9) and it silently "upgrades" test-framework to 1.9

Of course, for the IDE, where you have linked individual projects, this trick does not work for it, and thats why jar

[2015-11-09 16:58] rmuir commented on #14627
At the very least, this causes real harm in that it makes IDEs more difficult to support. If this leniency was not happening, then 'gradle test' would have failed, rather than doing the automagic version upgrade.

[2015-11-09 17:08] rmuir commented on #14627
I pinged @rjernst and he told me he wanted to disable this, just didnt have time to go thru all the deps.

I'll take a stab.

[2015-11-09 17:12] bleskes commented on #14625
Thanks for digging @ywelsch . Makes sense.

[2015-11-09 17:23] richardhundt opened #14628 "Groovy scripting: java.lang.ClassFormatError: Illegal class name"
Hi there,

the Groovy scripting service generates a hex sha1 digest of the script content which is used as a class name during compilation.

In version 1.7 (and probably current as well), if the digest happens to start with a digit, then scripts fail to run, throwing a ClassFormatError. I've only observed this with script files (i.e. under config/scripts).

My current workaround involves adding ar

[2015-11-09 18:22] jelmd opened #14630 "elasticsearch/distribution/src/main/packaging/scripts/preinst is plain wrong"
elasticsearch-2.0.0.deb

elasticsearch/distribution/src/main/packaging/scripts/preinst is plain wrong, because (at least on debian/ubuntu systems) the ES_ENV_FILE (/etc/default/elasticsearch) is not yet in place/configured and therefore this script now modifies the system in a manner, which might not be allowed per system/org policy!!!

If you wanna try, e.g. on ubuntu:

[code]

[2015-11-09 18:23] #14456 closed

[2015-11-09 18:25] #14614 closed

[2015-11-09 18:29] jolynch opened #14631 "1.7.X Reroutes seem really fragile"
I've been trying to get 1.7.3 into production, but I've been having difficulty getting reroutes to work quite right. Originally the issue was that our custom discovery plugin did not call reroute properly on node join and leave**, but even now it appears we run into tons of issues where nodes leave and their shards are never re-assigned until either another node joins or some other membership chan

[2015-11-09 19:05] kt97679 commented on #14573
Hi @clintongormley , thanks for quick response. As you can see from the description I've provided I was using option -Ddefault.path.conf. I tried again same command with option --path.conf and now I'm getting different error message:
<pre>
# sudo -u elasticsearch /usr/share/elasticsearch/bin/elasticsearch --path.conf=/etc/tribe-elasticsearch/ --path.logs=/var/log/elasticsearch
log4j:WARN No append

[2015-11-09 19:15] #14423 closed

[2015-11-09 19:22] dakrone commented on #14593
I think this is doable, but is more complex because the stats are only available to the master node, so they're much harder to retrieve.

This is similar to what I proposed, show all "NO" decisions (showing only the first one doesn't help since it could be a red herring for people to fix) and eliding all the "YES" decisions by default.

The ClusterInfoService gathers shard sizes every 30 seconds w

[2015-11-09 19:23] kt97679 commented on #14573
Looks like config is ignored completely. If I specify all options via command line I still get exception like above:
<pre>
# sudo -u elasticsearch /usr/share/elasticsearch/bin/elasticsearch --path.conf=/etc/tribe-elasticsearch/ --path.logs=/var/log/elasticsearch --path.data=/var/lib/elasticsearch/ --transport.tcp.port=9301 --http.port=9201 --network.host=0.0.0.0 --tribels.cluster.name=logstash-dat

[2015-11-09 19:29] djschny commented on #10746
Was this prematurely closed? I'm still pretty concerned about removing the payloads ability the users have now without concrete numbers that show the speed is the same.

[2015-11-09 20:02] areek commented on #10746
@djschny This was closed as the feature is merged to master and will be available for v2.2, but is still open for discussion. I will benchmark the feature and update this issue with the benchmark results.

[2015-11-09 21:03] dakrone commented on #14593
Hmm... we could add a `public ToXContent supplementaryInfo()` method to the `AllocationDecider` method that would allow certain deciders to return any additional information. Interesting idea...

[2015-11-09 21:27] s1monw commented on #14373
awesome thanks @clintongormley

[2015-11-09 21:31] s1monw commented on #14628
oh boy, do you wanna open a PR to fix this? I also wonder if you have a reproduction for this issue so we can add a test?

[2015-11-09 21:42] danielmitterdorfer commented on #13568
+1. Unbounded growth for finite resources is a recipe for disaster.

[2015-11-09 22:08] xuzha opened #14633 "Timeout waiting for connection from pool"
We have a few Found customers met this issue, and has the following error log:
[code]
I suspect this is because `repository-s3` plugin doesn't close s3 objects. According to the [AWS SDK document]
(http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/s3/AmazonS3.html#getObject(com.amazonaws.services.s3.model.GetObjectRequest)), we should execute `object.close()` in order to

[2015-11-09 22:09] robertsmarty commented on #14517
2.0.0 and still have the error when accessing GET /cat/_shards so can provide more info. Status of the cluster is green. I deleted the index above to clear the error however I now have it on a different index.

[2015-11-09 22:21] s1monw commented on #14517
thanks, can you paste the output of `GET localhost:9200/_stats` please

[2015-11-09 22:43] zackehh opened #14637 "Native Scripts not being detected properly"
So I previously had scripted_metric working with `native` lang scripts on 1.7.x, but after upgrading to 2.x, these scripts no longer work:

[code]

I haven't changed the code for the plugin except extending `Plugin` over `AbstractPlugin`:

[code]

Might I be doing something incorrectly?

[2015-11-09 22:59] roytmana commented on #12721
+1

[2015-11-09 23:37] markwalkom commented on #9170
Docs are now inline with output, so happy to close :)

[2015-11-09 23:37] #9170 closed

[2015-11-10 00:15] rjernst commented on #14637
How are you adding your native script? You need to do so with a plugin which registers the script.

[2015-11-10 00:18] zackehh commented on #14637
@rjernst gah! I was previously defining it this way:

[code]

Didn't realise this was no longer available. I refactored to using `plugin.types` and all is well now.

[2015-11-10 00:18] #14637 closed

[2015-11-10 00:22] rjernst commented on #14637
@zackehh `plugin.types` was always meant for tests, and is already gone for 2.1.

The correct way to add a native script is with the ScriptModule, like so:
[code]

[2015-11-10 00:24] robertsmarty commented on #14517
![stats](https://cloud.githubusercontent.com/assets/4920375/11050813/72f71aec-879d-11e5-8069-eb1b40596687.jpg)

Trying to upload this txt file as jpg as I don't seem to be able to save to repo. Please rename to txt to open.

[2015-11-10 00:41] zackehh commented on #14637
@rjernst then I'm confused. The above is what I do in production, but my tests use the embedded Elasticsearch - how do I get that to read my plugin? The only thing to work so far (on 2.0) is `plugin.types`.

[code]

[2015-11-10 00:45] rjernst commented on #14637
@zackehh `plugin.types` is still there in 2.0. For 2.1, there is a new `nodePlugins()` method which integ tests override to add plugins for tests.

[2015-11-10 00:49] zackehh commented on #14637
@rjernst cool, thank you - do you happen to have a docs link for that?

[2015-11-10 00:53] rjernst commented on #14637
https://github.com/elastic/elasticsearch/blob/2.1/core/src/test/java/org/elasticsearch/test/ESIntegTestCase.java#L1718

[2015-11-10 00:55] zackehh commented on #14637
@rjernst awesome, appreciate it! :)

[2015-11-10 01:11] robertsmarty opened #14638 "bin/kibana plugin --install marvel --url [url] unable to validate cert path for local https"
Hi,

Our deployment automation has an internal repo for all elasticsearch related artifacts. I'm currently receiving...

Error: self signed certificate in certificate chain
Plugin installation was unsuccessful due to error "Not a valid url."

when accessing this internal repo over https. Is there any way to configure a trust store for kibana plugin downloads?

This is similar to https://github.com

[2015-11-10 01:54] RicherdLee commented on #14615
@dadoonet ,thanks ,I will post my questions on discuss.elastic.co next time.

[2015-11-10 01:54] RicherdLee commented on #14615
@clintongormley ,thanks for your help,it works for me

[2015-11-10 02:35] royrusso opened #14641 "Dates and epoch_millis as floats"
Attempting to migrate to 2.x, I've encountered a strange problem with range filters not able to match any of the mappings I try holding epoch_millis. Maybe related to #10971

Given a document with a time_stamp field in the mapping:

[code]

With some data:

[code]

I would expect the following to match:

[code]

The above returns no document, even though there are thousands that should respond. Re

[2015-11-10 03:29] royrusso commented on #14641
I seem to have tracked it down... On indexing, my epoch timestamps are float format, ie. 1390798800000.0

ES is ignoring them, perhaps because of...

[code]

I would've expected ES to "coerce" the float to an int and treat it as a epoch_millis, but instead it seems to be ignoring them altogether.

Not sure if this is the expected behaviour, so feel free to open/close the issue depending.

[2015-11-10 03:56] lipixun commented on #14574
All right, here is a complete query which I sent to es:

[code]

We have a document type es_emr which is the child document of es_visit and we are searching the es_visit by the above query.

It's obviously that the q1 and q2 are exactly the same query in this case, but they're searched with a different term query in each has_child query.

q1 is searched with doc_type == 'XXX' and q2 is searched wi

[2015-11-10 04:04] lipixun commented on #14574
The returned es raw result:

[code]

[2015-11-10 04:22] ssickles commented on #8486
+1

[2015-11-10 04:51] martijnvg commented on #14582
Pushed via #14640

[2015-11-10 04:51] #14582 closed

[2015-11-10 05:51] dadoonet commented on #14638
Could you open this in kibana github repository ?

[2015-11-10 05:51] #14638 closed

[2015-11-10 06:52] richardhundt commented on #14628
Sure, I'll open a PR and have a test case.

[2015-11-10 07:01] martijnvg opened #14644 "[Ingest] Allow document metadata to be modified via the mutate processor"
The mutate processor should be able to modify the meta data (index, type, id etc.). This should be configured in the `meta` section of the `mutate` processor. The following meta data properties should be able to be modified in the `meta` section:  `_index`, `_type`, `_id`, `_routing`, `_parent`, `_timestamp` and `_ttl`.

Mustache templates should be used in order to refer to actual field values in

[2015-11-10 07:49] astefan commented on #14387
Was this present in ES versions before 1.6?

[2015-11-10 08:05] s1monw commented on #14628
thank you!

[2015-11-10 08:05] martijnvg opened #14646 "[Ingest] Compare processor"
The compare processor is able to execute specific chains of processors based on how a value condition within document being processed evaluates.

This processor can be configured with a list of conditions. Each condition needs to be configured with a path to extract the value in the document being processed from, an operation (<, <=, ==, >, >=) and an expected value. The processor has two list of

[2015-11-10 08:09] s1monw commented on #14387
no I don't think so since back then we fetched data synchronously so this couldn't happen.

[2015-11-10 08:09] talevy opened #14647 "[Ingest] Add comparison processor for supporting conditionals in pipeline definition"
The Ingest Pipeline should support the ability for conditional branching of processor execution.

The proposal here is to define a `CompareProcessor` which will accept a list of conditions that must all be met for specific processors to be executed. This processor would have a `conditions` parameter that would accept various boolean operators, such as `gt`, `lt`, `gte`, `lte`, `eq`, `neq`. If all

[2015-11-10 08:15] martijnvg commented on #14646
Superseded by: #14647

[2015-11-10 08:15] #14646 closed

[2015-11-10 08:23] ppf2 commented on #5359
Another common use case that will benefit from extending support for aliases is shared indices with routing.  Would be helpful to be able to generate these dynamically using a template (for some deployments, can be thousands+ of them).

[code]

[2015-11-10 08:50] Robitx opened #14648 "Problematic numbers using regex for numeric fields"
Using regex query for a numeric field (eg. long type) fails for certain numbers (eg. 34).

{"query":{"query_string":{"query":"some_numeric_field:/34/"}}}

Non regex query works fine.

{"query":{"query_string":{"query":"some_numeric_field:34"}}}

It might be connected to ASCII (34 is ").

[2015-11-10 08:53] richardhundt commented on #14628
Umm... has groovy scripting been removed from 2.x? I can see it in master, but now I'm not sure whether it'll be around in future. Which branch d'you want me to work against?

[2015-11-10 08:59] richardhundt commented on #14628
nvm, it seems to have moved to core

[2015-11-10 09:14] dadoonet commented on #14633
@xuzha I totally agree with your findings.

[2015-11-10 09:21] bleskes opened #14649 "Output test failure log to a file"
When running the test suite I sometimes put the output into a file, so I can grep / less it later. Here is what I tried to do with the new gradle build:

[code]

Sadly, the test file only contains the fact that a test failed, but not the log output nor the reproduction line.

[code]

Please educate me if I'm doing this wrong. O.w. it would be great if we can come up with a way to do this.

[2015-11-10 09:33] dadoonet commented on #14633
I looked at the code but apparently there is no real way today to close the `S3Object`. Actually `BlobContainer` interface needs an `InputStream` with:

[code]

When we use it for example in BlobStoreRepository class we call:

[code]

There is no way here to call `S3Object#close`. I think we should may be add a `closeInputStream()` method or something like this in `BlobContainer` interface. @imoto

[2015-11-10 10:37] sb1977 commented on #12358
+1 for the rule to ignore a field in dynamic templates

[2015-11-10 11:06] s1monw commented on #14628
yeah it's in `plugins/lang-groovy` now. Please make the PR against master

[2015-11-10 11:06] #14387 closed

[2015-11-10 11:41] nickminutello commented on #11811
Pretty please?

[2015-11-10 12:21] richardhundt commented on #14628
I've managed to create a failing test in 1.7, and reproduced in 2.0 but not in master.

Turns out master doesn't use `GroovyClassLoader.parseClass()` anymore. There's a comment [here](https://github.com/elastic/elasticsearch/blob/master/plugins/lang-groovy/src/main/java/org/elasticsearch/script/groovy/GroovyScriptEngineService.java#L174).

So it looks like it's fixed.

For posterity, this only fai

[2015-11-10 12:21] #14628 closed

[2015-11-10 14:59] davmrtl opened #14656 "'bucket_script' not supported as a top-level aggregation?"
Hi,

Why is the 'bucket_script' not supported as a top-level aggregation?

I have to produce a top-level ratio of sums... The following code gives me an error:

[code]

It gives me the following error:

[code]

How can I get it working?

Thanks!

[2015-11-10 15:12] TwentyOneSolutions commented on #14575
Is there a blog post or some article explaining this?  I'm trying to upgrade from ES1.7.1 to ES2.0.0 and I'm getting this error, and I don't understand what `Set update_all_types to true` means.  Where do I set `update_all_types`?

[2015-11-10 15:51] SHSE opened #14657 "Sum aggregation hangs on a random shard"
The aggregation query stucks on a random shard (different each time we restart the cluster). There is no errors in logs. It just doesn't return anything (hanging until you close connection).

BUT, if you replace `field: foo` by `script: doc['foo'].value` everything works fine.

Iterating over the shards (settings `preference=_shards:X`) show that the query hangs only on one particular shard.

Elas

[2015-11-10 16:00] rjernst commented on #14649
@bleskes Have you tried redirecting stdout and stderr? Gradle outputs its stuff to stderr (this is why tasks can do `println` and the output is not caught). It should detect the output is not to a terminal and omit the progress line.

[2015-11-10 16:03] rmuir commented on #14649
I think its confusing too though fwiw, i expect stdout to go to stdout. is it possible to not use gradle logging here?

[2015-11-10 16:05] rjernst commented on #14649
AFAIK, gradle logging goes to stderr (or maybe it is error logs go to stderr and info logs go to stdout?). I'll do some more testing to see for sure..

[2015-11-10 16:23] EECOLOR opened #14659 "`copy_to` does not work for nested objects"
I am trying to copy a field from the parent object into a nested object in order to perform a filtered sort. This however seems to have no effect.

A complete description can be found here: http://stackoverflow.com/questions/33618467/how-to-add-properties-from-a-root-object-in-a-nested-object-for-sorting

[2015-11-10 16:33] rmuir commented on #14649
but can we skip gradle logging all together and just send it directly to stdout?

[2015-11-10 16:37] bleskes commented on #14649
the screen is long gone, but if memory serves, there was indeed some gradle output there but not the failed logs...

[2015-11-10 16:56] rjernst commented on #14649
@bleskes Are you saying the test file only had that single summary statement of the test failures, and your screen had nothing else for tests at all?

[2015-11-10 16:59] bleskes commented on #14649
@rjernst It had more things like the test summary (so many tests run etc.), but nothing about the failure (it had the stalled test messages)

[2015-11-10 17:10] javanna commented on #14647
Should we try and expand a bit more on what can be a condition and what syntax should be supported there? For instance can there be field values on the right side or only constants?

I would probably change naming, if it's an if why call it compare? and I think true_processors and false_processors might get confusing, why not use simply if and else and maybe call the processor "condition" or somet

[2015-11-10 18:08] pickypg commented on #14453
@clintongormley I don't think that the file has changed since 1.6 at least https://github.com/elastic/elasticsearch/blob/1.6/src/packaging/common/scripts/preinst#L67

Before that, it was using the specific scripts: https://github.com/elastic/elasticsearch/blob/1.4/src/rpm/scripts/preinstall

-----

I went ahead and installed ES 1.4.3, 1.7.3, and ES 2.0.0 (in reverse order) onto a CentOS 7 VM via `

[2015-11-10 18:34] imotov opened #14662 "Migrate elasticsearch-native-script-example to the main repo"
I am currently maintaining a separate project that demonstrates how to build different native scripts for [elasticsearch-native-script-example](https://github.com/imotov/elasticsearch-native-script-example). I think it would make sense to add this project to the main repo similarly to [jvm-example](https://github.com/elastic/elasticsearch/tree/master/plugins/jvm-example). We just need to makes sur

[2015-11-10 18:38] xuzha commented on #14633
@dadoonet I took another look this morning

I think this is fine in master, in `Streams.copy(blob, out)` we do close inputstream after use. `S3object.close()` is just close the `inputstream`, so I think this issue is fine in 3.0.

But in 2.x and 2.1 `google.common.io.ByteStreams` do not close the streams. That are not liberated after `readSnapshotList()`

[2015-11-10 18:55] dadoonet commented on #14662
++

[2015-11-10 19:00] dadoonet commented on #14633
Interesting. Indeed we found with @imotov today when looking at the code that calling actually `S3object.close()` is useless and won't fix the issue but we did not look at 2.x branch I guess! Awesome. Do you think you'll have time for a PR or do you want me to look at it on tuesday?

[2015-11-10 19:03] xuzha commented on #14633
Thanks @dadoonet, I could make a PR for this later today.

[2015-11-10 19:15] miah commented on #8786
We've hit 2.0 release. ES is still on log4j 1.2, which means we still have to follow this hack workaround.

[2015-11-10 19:23] rcoh opened #14664 "Category completion suggestion -- support "and" instead of "or""
Currently if you have a completion context mapping defined, you can search for mappings that fall into `category_a` OR `category_b`, eg. `red` or `blue`
[code]
However, I want to be able to find keys that are both `red` _and_ `blue`. Is there something fundamentally different about this, or is it a relatively simple change?

[2015-11-10 19:47] #14527 closed

[2015-11-10 20:11] miah commented on #8786
Also should point out that the logstash jsonevent jar doesn't work with ES 2.0 in my experience. Logs are produced (in our non-json aka console logs) until the node has finished starting, then _all_ logging ceases.

[2015-11-10 21:24] talevy commented on #14647
I was thinking of enabling the same mustache templating that is introduced [here](https://github.com/elastic/elasticsearch/issues/14644).

an example templated field value: `{{ctx._source.department}}`

This would enable fields to be compared to other fields.
[code]

do you propose something more similar to this syntax?

[code]

[2015-11-10 21:32] rcoh commented on #14664
Nevermind, turns out you can do:
[code]
and it works! a bit surprising, but I'm not complaining :-)

[2015-11-10 21:36] xuzha commented on #14633
@dadoonet, we do close the stream in 2.x,  within the `try {}` block.

I double checked. This should be a false alarm. I'm sorry, closing the issue.

[2015-11-10 21:36] #14633 closed

[2015-11-10 21:52] tlrx commented on #14453
In ES 1.6 an effort has been made to unify the behaviour of package & install scripts among the different Linux distributions and I think the change has been made at this time. Elasticsearch does not need any home directory to work so it is not created by the scripts.

Depending of the distribution, `su -` does a bunch of things and among them it tries to change directory to user's home which does

[2015-11-10 22:43] packplusplus commented on #14453
I don't know what the original version of ES was installed on that cluster, but somewhere along the line /home/elasticsearch was created. It was a cron job failing on a redeploy that kicked out the message.

If it's not expected to create it, then I guess it's not a bug. If I look at most other "system type" users in RHEL/CentOS they normally set the homedir to / in the passwd file, or in the case

[2015-11-10 23:50] ppf2 commented on #9375
+1 on timeout/exception column, we have seen this quite a lot in the field, and it is a pain for admins (esp. those with very large clusters) for these apis will not come back, and they will have to go find out which node(s) are "bad" and have to be potentially restarted.

[2015-11-10 23:57] masaruh opened #14670 "Shard relocation happens while cluster is yellow"
This is _cluster/health output after one of nodes restarted:

[code]

It says cluster is in `yellow` status but it is relocating shards.
This cluster doesn't have custom `cluster.routing.allocation.allow_rebalance` configuration. So, it should be using `indices_all_active`.

No relocation should happen in this case?

[2015-11-11 00:04] dakrone commented on #14670
@masaruh all the shards have initialized, so there isn't a reason why relocation wouldn't be allowed. Also, just because the cluster is yellow doesn't mean that the particular index relocating isn't green?

[2015-11-11 01:39] jasontedor opened #14671 "Do not allow stale replicas to automatically be promoted to primary"
Consider a primary shard `P` hosted on node `p` and its replica shard `Q` hosted on node `q`. If `p` is isolated from the cluster (e.g., through node failure, a flapping NIC, or an excessively long garbage collection pause), indexing operations can continue on `q` after `Q` is promoted to primary; these indexing operations will be acknowledged to the requesting clients. If `q` is subsequently isol

[2015-11-11 01:58] masaruh commented on #14670
All primaries have initialized but not all shards are, right?

It says:
[code]

I expect relocation happens only when cluster state is green.

[2015-11-11 02:03] dakrone commented on #14670
@masaruh ahh okay, I see what you are saying, my mistake for misinterpreting it :)

[2015-11-11 03:33] #14627 closed

[2015-11-11 05:30] rmuir opened #14673 "remove hacks in 2.1 branch fixed by lucene 5.3.1"
Followup to https://github.com/elastic/elasticsearch/pull/14669

There is a TODO in IndexShard.java that should be dealt with (I think its a workaround for some bad behavior of caching around MatchAllDocsQuery that is fixed in this 5.3.1 upgrade)

**For the future, I would greatly prefer if we did not add version-based asserts to IndexShard.java like this**

This class masks all exceptions complet

[2015-11-11 05:37] rmuir commented on #14673
I marked this as a blocker, i think its a better solution than adding those asserts? This way, the cleanup still takes place, but its easier since you can iterate (e.g. upgrade lucene, without having to also make a bunch of other scary changes all at once, just to make tests pass)

[2015-11-11 07:34] rmuir commented on #9312
There is no method in java to do this (e.g. `posix_fallocate` and so on is not exposed). If there were, I'd be more interested in its uses for improving reliability on disk full in critical places (like the old lucene segments.gen could have used it, and probably the current transaction log code).

This would need to be added to the JDK first.

Separately, in lucene we still couldn't use this for

[2015-11-11 07:34] #9312 closed

[2015-11-11 09:39] s1monw commented on #13319
I added only the assertion back in master and ran `IndexShardTests.java` with this output:

[code]

you will now see this in master once per shard but after 30 sec the test times out and all is well. This is purely caused by guice which is gone in master. I am closing this

[2015-11-11 09:39] #13319 closed

[2015-11-11 10:06] hzruandd opened #14676 "ES returned back items are not equal the hits total number"
query:
GET /floriation/provider_goods/_search
{"query": {"bool": {"minimum_should_match": 0, "should": [], "must": [{"match": {"provider_goods_category_id": "1"}}]}}, "size": "20", "from": 0, "fields": ["id"]}
results:
{
   "took": 3,
   "timed_out": false,
   "_shards": {
      "total": 5,
      "successful": 5,
      "failed": 0
   },
   "hits": {
      "total": 16,
      "max_score": 1,
      "

[2015-11-11 11:04] ywelsch opened #14679 "Test Failure: SearchQueryIT.testConstantScoreQuery - all shards failed"
Build URL: http://build-us-00.elastic.co/job/es_core_master_debian/7823/testReport/junit/org.elasticsearch.search.query/SearchQueryIT/testConstantScoreQuery/

Cannot reproduce locally

Reproduction command:

[code]

Stack trace:
[code]

[2015-11-11 11:54] antmat commented on #8486
+1

[2015-11-11 12:59] bleskes commented on #14671
Thanks @jasontedor . can we also update the resiliency page?

[2015-11-11 13:06] antmat opened #14680 "Ordering aggregation buckets by script"
Hi!
It would be great if we can order aggregation buckets by some sort of scripting, because it seems, that metric aggregation is not enough. My case is - I need to group documents by buckets, then determine in each bucket maximum and minimum timestamp and sort buckets by this difference. I could manage to do it if substract min aggregation result from max_aggregation result or even using 0 and 10

[2015-11-11 13:14] AlexMiroshnikov commented on #14680
+1, I find it useful too.

[2015-11-11 14:03] BorisKozo opened #14683 "lang-javascript plugin cannot find script files on Ubuntu"
I am trying to run a script from a file within a query and get the following error:
````ElasticsearchIllegalArgumentException[Unable to find on disk script my_script];````

I have the file my_script.js in the scripts directory. If I change the lang to groovy and create a file called my_script.groovy the query works as expected.

The same query works fine on a windows machine with lang='js'.

I tri

[2015-11-11 14:26] jaymode opened #14684 "transport client created by plugin cannot load plugin classes"
In 2.0, if a plugin has code that creates a transport client and specifies the plugin using the `plugin.types` setting, the transport client cannot be created due to a ClassNotFoundException.

[code]

results in:

[code]

This fails since the classloader used by the `PluginsService` does not know about the plugin jars and therefore plugin classes.

I've verified that this is not a problem in 2.1 s

[2015-11-11 14:30] jprante opened #14685 "Switching from log4j to slf4j breaks ES 2.0 bin/plugin"
When using slf4j instead of log4j, the ES 2.0 plugin tool breaks with

[code]

There is a strict dependency on log4j in the `PluginManagerCliParser` which should not be there.

`EsLoggerFactory` handles support of log4j, slf4j, and jdk logging gracefully at https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/common/logging/ESLoggerFactory.java#L33-L48

Reprodu

[2015-11-11 14:36] rhealitycheck opened #14686 "Watcher/License plugins killed Elasticsearch cluster"
So we've been having issues with watcher, which we installed to test out alerting on our Staging cluster. And this week we've had our Staging cluster completely die, unable to connect to any master node for longer than 5 mins at a time. Looking through the logs we found:

    [2015-11-10 16:48:28,531][INFO ][license.plugin.core      ] [CHIVLXSTG045] license for [watcher] - valid
    [2015-11-10 16

[2015-11-11 15:22] krisb78 opened #14690 "Newrelic agent with 2.0.0"
Posting this in case its related to https://github.com/elastic/elasticsearch/issues/13785

I'm trying to run ES 2.0.0 with a newrelic agent, but I'm getting

[code]

See complete log below:

[code]

I tried setting a custom java policy for my `elasticsearch` user by creating `/usr/share/elasticsearch/.java.policy` with the following content:

[code]

, but to no effect.

I also tried to add the ab

[2015-11-11 15:34] jasontedor commented on #14671
@bleskes Added to the Resiliency page in #14681.

[2015-11-11 15:44] gmarz opened #14691 "Percentiles aggregation: method parsing issues"
Currently, although tdigest is the default method, `compression` can only be set if it's wrapped in a `tdigest` object:

[code]

Otherwise, the following exception is thrown: `Unexpected token VALUE_NUMBER in [load_time_outlier].`

The [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/2.0/search-aggregations-metrics-percentile-aggregation.html#search-aggregations-metrics-perc

[2015-11-11 15:47] SHSE commented on #14657
It looks like the reason was `mlockall = true` and two ElasticSearch instances per host.

After setting `mlockall` to `false` everything works fine.

[2015-11-11 16:07] christian-m commented on #2917
@martijnvg so, what means *in the near future*?

[2015-11-11 16:20] gingerwizard opened #14692 "Support Accessing Parent Document Values in Aggregations from Scripts"
Provide the ability to access values from parent documents in child aggregations, specifically in aggregation scripts.

[2015-11-11 16:21] gingerwizard commented on #14692
@colings86 used to track the work we discussed.

[2015-11-11 17:23] vananiev commented on #14628
We had this problem on elasticsearch-1.7.3 too. Thanks for explanation.

[2015-11-11 17:25] pickypg opened #14694 "Do not concurrently run the same request on the same shard"
Under worst case conditions, a request that is bad for the system, thereby taking a long time to process, often gets repeated as a user--or even an automated system--becomes impatient while they await their response. If an **exactly** duplicated request comes into the same node to run on the same shard (otherwise it's not an exact match of course), then it would be ideal in all but one scenario to

[2015-11-11 17:36] rmuir commented on #14690
We can fix it, here is the deal:

1. existing 1.x startup scripts had a bug that would add `CWD` to `CLASSPATH` (https://github.com/elastic/elasticsearch/issues/12000). Java classloaders are lenient, so this went undetected forever. In many cases such as running as a service, `CWD` would be `/`, which is terrible: it would mean total read access to all files on the system. So we initially (and sti

[2015-11-11 17:40] rmuir commented on #14690
By the way, this is the best way to workaround it in the meantime: https://docs.oracle.com/javase/tutorial/ext/basics/install.html

[2015-11-11 17:44] rmuir commented on #14690
Yeah, we don't read from any of the standard locations and add to our policy. Its worth looking at too, since what you did probably should have worked, but i want to investigate first, just concerned about what kind of stuff might be in these standard locations on various distros etc.

[2015-11-11 17:57] krisb78 commented on #14690
Thanks a lot, I'll try the workaround.

[2015-11-11 18:08] krisb78 commented on #14690
FTR, I also tried to pass in the policy explicitly by adding `-Djava.security.policy=/usr/share/elasticsearch/.java.policy` to `ES_JAVA_OPTS`, but it didn't work either.

[2015-11-11 18:20] bleskes commented on #14671
Thanks Jason!

On 11 nov. 2015 4:35 PM +0100, Jason Tedor<notifications@github.com>, wrote:

[2015-11-11 18:26] rmuir commented on #14690
yeah, I see this is the mechanism newrelic support recommends to their users: https://discuss.newrelic.com/t/flux-scheduler-not-able-to-load-newrelic-jar/2114

so its less about us changing our classpath logic I think, changing that would only mean a more confusing exception follows (like newrelic not having access to connect somewhere, write to its log file, something like that).

its more about

[2015-11-11 19:12] rmuir commented on #14690
its kind of a downer, on java 7 < update 51:
[code]

After update 51 the SocketPermission improves into two (they broke back compat here and changed how listen ports are checked, yet kept stopThread for back compat?!?!?!):
[code]

On java 8 and 9 the RMI is cleaned up and removed, but ephemeral port remains. Looks like in 9 they work on cleaning up their own house with permissions to jdk internals

[2015-11-11 19:38] nknize commented on #12644
Thanks to all for the discussion. I'm closing this as a non-issue. For future reference I am including excerpts from the [OGC SFA](http://www.opengeospatial.org/standards/sfa) and  [ISO 19107:2003](http://www.iso.org/iso/catalogue_detail.htm?csnumber=26012) standard that we use for processing ```geo_shape``` types. Not all geo processing packages interpret the spec the same, and adding leniency te