[2018-03-14 09:06] elasticmachine commented on #29033
Pinging @elastic/es-search-aggs

[2018-03-14 09:06] jpountz opened #29050 "Add a switch to disallow slow queries"
It has been requested a couple times that we add a switch to disable the use of slow queries. This is typically useful to administrators who would like to prevent some users from using most resources on a cluster.

What a slow query is still needs to be refined but I think we could start with the following definition:
 - multi-term queries that don't enforce at least the 5 first chars (eg. prefix

[2018-03-14 09:06] elasticmachine commented on #29050
Pinging @elastic/es-search-aggs

[2018-03-14 09:07] jpountz commented on #11511
Most of the work has been done, and items that have not been done have an assigned issue so I'll close this issue. Thanks everyone!

[2018-03-14 09:07] #11511 closed

[2018-03-14 09:08] jpountz commented on #25312
cc @elastic/es-search-aggs

[2018-03-14 09:11] elasticmachine commented on #27059
Pinging @elastic/es-core-infra

[2018-03-14 09:11] martijnvg commented on #16266
The `level` parameter logic should be moved from `ClusterHealthResponse#toXContent(...)` method to `ClusterStateHealth` constructor so that we would never serialize indices level stats during node to node serialization. Also `ClusterHealthRequest` should get a getter/setter for the level logic.

Currently this is the default.

Note that in the rest client the `level` parameter can be specified as

[2018-03-14 09:11] jpountz commented on #27059
cc @elastic/es-core-infra since it was decided to handle this with ingest

[2018-03-14 09:12] elasticmachine commented on #16266
Pinging @elastic/es-core-infra

[2018-03-14 09:12] elasticmachine commented on #26294
Pinging @elastic/es-search-aggs

[2018-03-14 09:13] jpountz commented on #17411
cc @elastic/es-search-aggs

[2018-03-14 09:14] jpountz commented on #22322
cc @elastic/es-search-aggs

[2018-03-14 09:14] rjernst commented on #28899
This is due to PluginBuildPlugin.configureDependencies. clientJar creation currently just copies the server module jar. We will likely need to add a hack for this in addClientJarPomGeneration manipulate the pom directly and convert these back to optional. Alternatively, we could try just removing these from configureDependencies. I don't recall what errors I saw originally, but that was long befor

[2018-03-14 09:15] jpountz commented on #10005
cc @elastic/es-search-aggs

[2018-03-14 09:15] jaisharma639 commented on #29047
I've updated my query, the brace must have gone off while formatting my question. This is not a syntax error, i've tried this in kibana and python client both. @colings86

[2018-03-14 09:16] martijnvg commented on #19414
This has been fixed a long time ago in master.

[2018-03-14 09:16] #19414 closed

[2018-03-14 09:17] cbuescher commented on #29050
I talked to a user just recently and they built their own solution for sth. similar (I think it was a plugin) that basically intercepts each search request, inspects the query tree and then rejects some queries by a customizable rule that is application-dependent. Maybe this is too flexible for a start but might be worth thinking about later or as an alternative.

[2018-03-14 09:18] jpountz opened #29051 "Updateability of search-time synonyms"
We need a way to update synonyms that:
 - allows to change search-time synonyms without reopening
 - makes sure to not allow updating index-time synonyms, which could essentially corrupt the index

[2018-03-14 09:18] elasticmachine commented on #29051
Pinging @elastic/es-search-aggs

[2018-03-14 09:19] jaisharma639 commented on #24484
Does my comment above make sense? Would you suggest a better way of handling this on client side @clintongormley ?

[2018-03-14 09:19] colings86 commented on #29047
Another issue I can see with your query is that this is not valid JSON:
[code]
JSON requires that objects are key-value pairs and does not have the concept of a set, an object that just contains a key is not valid. You need to use an array to specify the list of terms you want to match in your terms query.

[2018-03-14 09:21] jpountz commented on #23336
cc @elastic/es-search-aggs
Relates #29051

[2018-03-14 09:22] jpountz commented on #28948
cc @elastic/es-search-aggs

[2018-03-14 09:23] jpountz commented on #25445
@martijnvg Looks like "Document how to deal with wildcard and prefix queries." would be a low hanging fruit?

cc @elastic/es-search-aggs

[2018-03-14 09:25] jaisharma639 commented on #29047
I understand that set is not json serializable,but that's my exact point. Why would someone like to store the variants of a field in a list instead of set (on client side)? While doing a terms query, i do not obviously care about the order of elements, neither i want to have redundant elements. So why is elasticsearch imposing a restriction of using lists wherever arrays are required? Is this a te

[2018-03-14 09:26] gkozyryatskyy opened #29052 "NullPointerException on snapshot"
**Elasticsearch version**: 5.6.8 (Docker image docker.elastic.co/elasticsearch/elasticsearch:5.6.8)

**Plugins installed**:
[code]

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:
I have an s3 snapshot repo
[code]
When im trying to snapshot im getting `java.lang.NullPo

[2018-03-14 09:29] jpountz commented on #28573
Actually I'm not sure we should make it simpler. It makes it look like it is more efficient that getting on client-side and then passing multiple docs, while it isn't?

[2018-03-14 09:31] jimczi commented on #3588
The bug mentioned in the issue is fixed in Lucene:
https://issues.apache.org/jira/browse/LUCENE-5191
I am also closing this issue because I don't think we should provide a way to define custom encoders.
We have a simple `html` encoder that should be enough for most of the cases and if more complex encoding is required the solution is to rewrite the raw snippets (created by the `default` encoder)
i

[2018-03-14 09:31] #3588 closed

[2018-03-14 09:33] jpountz commented on #28025
cc @elastic/es-search-aggs

[2018-03-14 09:34] colings86 commented on #29047
Elasticsearch exposes a JSON API, therefore we support the data types that are set out in the JSON spec. If we add a set type to the API it would no longer be a JSON API and clients would not be able to use JSON parsing libraries like jackson to serialise and de-serialise requests and responses which would be bad for users. Additionally we would not be able to use the jackson library to serialise

[2018-03-14 09:37] colings86 commented on #21968
@synhershko 6.0 and 6.1 are not maintained as of the release of 6.2 and therefore do not receive bug fixes.

The 5.6 branch is maintained but only to receive critical bug fixes. Although this enhancement is a big improvement the change for it was not straight-forward and back-porting this change to 5.6 would be tricky and high risk and we don't back port enhancements to bug fix releases as a rule.

[2018-03-14 09:38] jaisharma639 commented on #29047
How about type casting such objects to json serializable objects before sending them to json parser? Each request and response goes through this layer on ES side before being parsed to json.

[2018-03-14 09:39] elasticmachine commented on #29052
Pinging @elastic/es-distributed

[2018-03-14 09:48] martijnvg opened #29053 "Add ingest processor to percolator that rewrites queries"
Follow up from #17071

The percolator needs a ingest processor that performs the QueryBuilder rewrite. At the moment the query builder rewrite happens in the `PercolatorFieldMapper` which means each shard copy performs this rewrite. Most of the time this isn't a problem, but in the case that a query builder does a remote fetch (`geo_shape` query using indexed shape) there is a chance that the quer

[2018-03-14 09:48] elasticmachine commented on #29053
Pinging @elastic/es-search-aggs

[2018-03-14 09:49] martijnvg commented on #17071
The bug has been fixed and the potential follow up work that can be done has been described in #29053.

[2018-03-14 09:49] #17071 closed

[2018-03-14 09:51] colings86 commented on #29047
If you mean doing this casting/conversion in the python client then this might be doable but you would need to raise an issue on the [elasticsearch-py repository](https://github.com/elastic/elasticsearch-py/issues)

[2018-03-14 09:51] kervin521 opened #29054 "index.merge.scheduler.max_thread_count error in elasticsearch.yml"
elasticsearch guid link :https://www.elastic.co/guide/cn/elasticsearch/guide/current/indexing-performance.html

in elasticsearch.yml setting:
index.merge.scheduler.max_thread_count: 1

but it startup error :

Found index level settings on node level configuration.

Since elasticsearch 5.x index level settings can NOT be set on the nodes
configuration like the elasticsearch.yaml, in system properti

[2018-03-14 10:02] jaisharma639 commented on #29047
Thanks @colings86 , i'll follow up in elasticsearch-py issues

[2018-03-14 10:04] jimczi commented on #24224
This issue is fixed in 6.x, hence closing.

[2018-03-14 10:04] #24224 closed

[2018-03-14 10:12] jimczi commented on #26515
The `unified` and `plain` highlighter have a setting to limit the number of tokens that are allowed to be re-analyzed:
https://github.com/elastic/elasticsearch/issues/27517
This limit has been added to point users to strategies that doesn't require to re-analyze the text if they try to apply highlighting on big fields. Regarding the memory consumption for the re-analysis, the `unified` highlighter

[2018-03-14 10:12] #26515 closed

[2018-03-14 10:16] colings86 commented on #29053
When we implement this we should add a check in `PercolatorFieldMapper` that checks the query does not contain any async actions that have not been performed. We do this with search already and it outputs and error with `async actions are left after rewrite` if there are any fetches that have not been completed when the rewrite is finished.

Having this check will make sure that users who forget t

[2018-03-14 10:22] romseygeek commented on #26456
cc @elastic/es-search-aggs

[2018-03-14 10:23] romseygeek commented on #22263
cc @elastic/es-search-aggs

[2018-03-14 10:24] romseygeek commented on #27208
cc @elastic/es-search-aggs

[2018-03-14 10:26] jimczi commented on #25378
Closing this in favor of https://github.com/elastic/elasticsearch/issues/5172 which has a different scope but I assumed that this is what @clintongormley had in mind in the previous comment.
Regarding the original issue to **not** highlight some part of the query, the `highlight_query` option should work fine as long as you don't need to highlight the same field multiple times (with different `hig

[2018-03-14 10:26] #25378 closed

[2018-03-14 10:27] romseygeek commented on #10846
This is really an issue in the lucene CommonGramsFilter, so should probably be raised there?

cc @elastic/es-search-aggs

[2018-03-14 10:32] romseygeek commented on #24752
This is the same bug as #28894, which in turn is caused by https://issues.apache.org/jira/browse/LUCENE-8186

[2018-03-14 10:32] #24752 closed

[2018-03-14 10:36] romseygeek commented on #13935
This will be fixed when we upgrade to lucene 7.3

cc @elastic/es-search-aggs

[2018-03-14 10:36] #8902 closed

[2018-03-14 10:37] colings86 commented on #29054
Hi @kervin521, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) instead. Thank you!

This is not a bug. As the error explains, since 5.x we do not allow settings that start with `index.*` to be set in the elasticsearch.yml file. You will need to remove these settings from the elasti

[2018-03-14 10:37] #29054 closed

[2018-03-14 10:38] romseygeek commented on #26497
Fixed by #26097

[2018-03-14 10:38] #26497 closed

[2018-03-14 10:39] XANi commented on #27109
6.0 wasn't even released I reported this bug... why I even bother tracking down that crap

[2018-03-14 10:47] romseygeek commented on #13152
cc @elastic/es-search-aggs

[2018-03-14 10:48] nadre commented on #27552
Another usecase would be to add related terms to a document if the document is short, also known as document expansion.

I created a plugin for now:
https://github.com/nadre/elasticsearch-delimited-tf-token-filter

[2018-03-14 10:48] romseygeek commented on #25518
cc @elastic/es-search-aggs

[2018-03-14 10:51] romseygeek commented on #4704
cc @elastic/es-search-aggs

[2018-03-14 10:53] #11591 closed

[2018-03-14 10:55] romseygeek commented on #15543
The HTMLStripCharFilter now only has a single parameter, `escaped_tags`, and this is now documented.

[2018-03-14 10:55] #15543 closed

[2018-03-14 10:55] Mpdreamz opened #29057 "GC logging location not found when CWD is on a different drive on Windows"
When starting `elasticsearch.bat` from a different drive the gc logging location `-Xloggc:logs/gc.log` in `jvm.options` will yield the following warning on standard error:

e.g our teamcity working directory is on `T:` and therefore conceptually starting elasticsearch as followed:

Since our (.NET team) automation bails out on standard error messages this was killing our `6.2.x` NEST integration t

[2018-03-14 10:56] romseygeek commented on #16489
cc @elastic/es-search-aggs

[2018-03-14 10:59] reda-alaoui commented on #28984
https://issues.apache.org/jira/browse/MCOMPILER-328?focusedCommentId=16398365&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-16398365 confirms that Maven get the automodule name directly from the JDK.

That would mean that Gradle computes the module name itself, which is more brittle.

[2018-03-14 11:12] reda-alaoui commented on #28984
I created a Gradle equivalent:
https://github.com/Cosium/jigsaw-elasticsearch-gradle
I reproduce the same issue as Maven.

Therefore:
- this issue still stands
- the Gradle consumer module that I added in the PR has another issue

[2018-03-14 11:14] martijnvg commented on #15589
Closing... determining the size in bytes for script params requires extra overhead that determining the size of a normal index request has not.

[2018-03-14 11:14] #15589 closed

[2018-03-14 11:15] cawoodm commented on #27226
In case anyone (like me) lands here with the same error: check that you're not trying to run multiple instances of Logstash on the same port!

[2018-03-14 11:31] DaveCTurner commented on #20716
Sounds good to me.

[2018-03-14 11:31] #20716 closed

[2018-03-14 12:00] vincentarnaud90 commented on #28996
Hi, I made some further testing. It seems to work fine using TCP instead of UDP, so we will see to switch protocol in syslog configuration.
I also made a test inside a simple plugin (implementing an action filter which log something) to see if I can do something in there. Since it has it's own security policy, I though I might add the 'connect' permission. It didn't work as well (need to set permi

[2018-03-14 12:18] elasticmachine opened #29877 "[CI] SmokeTestWatcherWithSecurityIT.* failing"
*Original comment by @ywelsch:*

The tests in SmokeTestWatcherWithSecurityIT have been failing daily for the last few weeks.

- testSearchInputWithInsufficientPrivileges:
LINK REDACTED

- testIndexActionHasPermissions:
LINK REDACTED

Output:

[code]

[2018-03-14 12:29] dnhatn commented on #26976
You should remove alias `[active-fusion-logs]` from the index template ` [fusion-logs]`.

[code]

[2018-03-14 12:34] ywelsch commented on #28600
more failures here: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+oracle-java10-periodic/171/console

[2018-03-14 12:37] elasticmachine commented on #28984
Pinging @elastic/es-core-infra

[2018-03-14 12:41] Somnath-Guthula commented on #26976
Oh. Great. That worked. I am not sure how I missed that out. Thanks! @dnhatn

[2018-03-14 12:44] mlasak commented on #25305
Awesome. Stumbled upon similar problem (using ec2-discovery) now. On the forum the discussion on this is closed unanswered. Ok, let's see how many hours i will spend on this :(

[2018-03-14 12:57] javanna commented on #16266
I wonder if this is still relevant given that the transport client is deprecated. This is one of those situations where we filter the output on the REST layer but given that the transport client doesn't go through REST, some flags are not available and the output comes back unfiltered. This is similar e.g. in get aliases API and others, but the high-level REST client behaves like the other clients

[2018-03-14 12:58] greenx opened #29058 "a typo in the documentation?"
In exapmle https://www.elastic.co/guide/en/elasticsearch/reference/5.2/_profiling_queries.html
[code]
But in text other digits.
[code]

[2018-03-14 12:59] elasticmachine commented on #27401
Pinging @elastic/es-core-infra

[2018-03-14 12:59] martijnvg commented on #16266
So in the low level client one can pass down custom query string parameters, but I didn't see how this is possible in the high level rest client. As the `level` parameter is not part of `ClusterHealthRequest` class. This is the main reason why I left it open.

[2018-03-14 13:18] jasontedor commented on #28594
Per the discussion in #28874 I am closing this issue.

[2018-03-14 13:18] #28594 closed

[2018-03-14 13:18] elasticmachine commented on #28594
Pinging @elastic/es-core-infra

[2018-03-14 13:42] ywelsch opened #29060 "[ci] testPrimaryReplicaResyncFailed fails"
CI failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=sles/800/consoleFull

Output:

[code]

/cc: @elastic/es-distributed

[2018-03-14 13:43] romseygeek commented on #23722
Just tried this out on 6.2.2 and it still seems to take a long time.

@elastic/es-search-aggs

[2018-03-14 13:47] dadoonet commented on #25305
@mlasak Please open a discussion in the forum and we can probably help there.

[2018-03-14 13:48] romseygeek opened #29061 "Deprecate word_delimiter tokenfilter in favour of word_delimiter_graph"
WordDelimiterFilter is already deprecated in lucene, and can mess up offsets and highlighting (see #28474 and #3511)

[2018-03-14 13:49] romseygeek commented on #28474
I'm closing this for now, and have opened a new issue to deprecate word_delimiter (#29061)

[2018-03-14 13:49] #28474 closed

[2018-03-14 13:49] elasticmachine commented on #29061
Pinging @elastic/es-search-aggs

[2018-03-14 13:51] romseygeek commented on #22823
cc @elastic/es-search-aggs

[2018-03-14 13:51] elasticmachine commented on #29058
Pinging @elastic/es-search-aggs

[2018-03-14 13:52] cbuescher commented on #26974
Closed by #29017

[2018-03-14 13:52] #26974 closed

[2018-03-14 13:53] elasticmachine commented on #29019
Pinging @elastic/es-search-aggs

[2018-03-14 13:54] romseygeek commented on #24396
I've been thinking about ways of doing this for keyword normalizers, one way would be to have a specialised AttributeSource that throws an exception when a tokenfilter adds a PositionLengthAttribute.

cc @elastic/es-search-aggs

[2018-03-14 13:55] romseygeek commented on #28803
cc @elastic/es-search-aggs

[2018-03-14 13:55] romseygeek commented on #27290
cc @elastic/es-search-aggs

[2018-03-14 13:55] elasticmachine commented on #18613
Pinging @elastic/es-core-infra

[2018-03-14 13:57] bleskes commented on #29052
@tlrx have you seen this before?

[2018-03-14 13:58] romseygeek commented on #25894
cc @elastic/es-search-aggs

[2018-03-14 13:58] romseygeek commented on #27704
@elastic/es-search-aggs

[2018-03-14 13:59] cbuescher commented on #29058
@greenx thanks for noting this
The error you mentioned has been corrected since the 5.3 version (e.g. https://www.elastic.co/guide/en/elasticsearch/reference/5.3/_profiling_queries.html) and we usually don't correct all of the older documentation branches for minor issues like this, so I hope you don't mind me closing this.

[2018-03-14 13:59] #29058 closed

[2018-03-14 13:59] mlasak commented on #25305
Ok, i'll do that. But meanwhile i found the reason for the issue. I'll will document the problem and the solution on the forum so people can benefit from it. Thanks.

[2018-03-14 13:59] jasontedor commented on #22548
I looked into reenabling this test on JDK 9. Now the test can execute successfully, but it fails on the last assertion. @jpountz has graciously agreed to investigate.

[2018-03-14 13:59] romseygeek commented on #18267
cc @elastic/es-search-aggs

[2018-03-14 14:01] romseygeek commented on #27552
cc @elastic/es-search-aggs

[2018-03-14 14:02] romseygeek commented on #26921
cc @elastic/es-search-aggs

[2018-03-14 14:04] jpountz commented on #12829
Closing in favour of #27330.

[2018-03-14 14:04] #12829 closed

[2018-03-14 14:05] romseygeek commented on #13150
cc @elastic/es-search-aggs

[2018-03-14 14:05] byronvoorbach commented on #29051
+1

Myself, I solved this by creating a custom plugin that allows for uploading new synonyms. Not ideal but it works. Would be great if this could be built in! (Actually for all query-time resources: stopwords, common grams, etc..)

[2018-03-14 14:09] romseygeek commented on #26100
cc @elastic/es-search-aggs

[2018-03-14 14:10] romseygeek commented on #20757
cc @elastic/es-search-aggs

[2018-03-14 14:10] romseygeek commented on #15827
cc @elastic/es-search-aggs

[2018-03-14 14:12] #28002 closed

[2018-03-14 14:13] romseygeek commented on #20038
We have some safeguards for regexes coming in 6.3 (eg #28542), so I think this can be closed.

[2018-03-14 14:13] #20038 closed

[2018-03-14 14:15] romseygeek commented on #27291
cc @elastic/es-search-aggs

[2018-03-14 14:16] romseygeek commented on #22962
cc @elastic/es-search-aggs

[2018-03-14 14:23] olcbean opened #29062 "[?] REST : Split `RestUpgradeAction` into `RestUpgradeAction` and `RestUpgradeStatusAction`"
Currently `RestUpgradeAction` handles two distinct actions, each one having a separate request, response and transport level action.
Should these actions be separated into two dedicated rest actions?

| rest endpoint | request | transport action | response |
| --- | --- | --- | --- |
| `GET _upgrade` | UpgradeStatusRequest | upgradeStatus | UpgradeStatusResponse |
| `POST _upgrade` | UpgradeReques

[2018-03-14 14:35] bleskes commented on #21095
Good question. I'll bring it up for discussion. Thanks for the ping.

[2018-03-14 14:35] elasticmachine commented on #21095
Pinging @elastic/es-distributed

[2018-03-14 14:49] gkozyryatskyy commented on #29052
If this helps, all the snapshots, Im trying to remove, done on elasticsearch 5.4.0 version.

Also I have 4 different environments with same elasticsearch version and configs, but this problem I experienced just on single environment... So I think the problem is in specific snapshot...

[2018-03-14 15:01] qq253498229 opened #29065 "Update search.asciidoc"
[[java-search-terminate-after]]
=== Terminate After

The maximum number of documents to collect for each shard, upon reaching which the query execution will terminate early.
If set, you will be able to check if the operation terminated early by asking for `isTerminatedEarly()` in the
`SearchResponse` onject:

onject => object?

[2018-03-14 15:20] dadoonet commented on #12449
If I understood correctly and my memory recalls it well, RDMA is like a specific network card which is available on some specific VMs on Azure (running on Windows only).

So the goal here was to use this specific card (and its associated IP address) and use it as the address we want to bound elasticsearch to. So we can benefit from a faster communication between nodes hopefully.

[2018-03-14 15:21] nik9000 commented on #20381
@tlrx is this still worth investigating? It seems like we're plenty busy already but if you think it'll provide a lot of benefit we should do it. I'll close it for now but if you think it is worth doing please reopen it.

[2018-03-14 15:21] #20381 closed

[2018-03-14 15:22] nik9000 commented on #18238
@Mpdreamz and @javanna, it's been almost a year since the last comment. Is this still an important thing? I'm going to close this for now because we seem to have done ok without it for a while but if you think it is important please reopen it.

[2018-03-14 15:22] #18238 closed

[2018-03-14 15:25] nik9000 commented on #25272
This has sat open for most of a year without a comment. We've got a ton to do so I don't think we'll be working on making x-content types pluggable any time soon. I think if someone gets interested in this in the future we can reopen it and discuss again, but for now I think the right thing to do is close this as "won't fix any time soon".

[2018-03-14 15:25] #25272 closed

[2018-03-14 15:27] elasticmachine commented on #12449
Pinging @elastic/es-core-infra

[2018-03-14 15:29] DaveCTurner commented on #12449
Ok, the address to which we bind is in scope for `:Core/Network` so I think it's right to add that label; @elastic/es-core-infra please feel free to remove or otherwise modify this issue.

[2018-03-14 15:39] peteharverson opened #29066 "Inconsistent return value across metric aggregations when no docs in bucket contain field"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version 6.2.2

**Description of the problem including expected versus actual behavior**:
Different metric aggregations are returning different values when none of the documents in the bucket contain the field used in the aggregation. `avg`, `min` and `max` for example return `null`, whereas the `percentiles` agg returns `NaN`. I would expe

[2018-03-14 16:02] jasontedor commented on #29062
Yes!

[2018-03-14 16:06] jasontedor commented on #29057
Are you sure that's the problem here? We change directory to the home directory for Elasticsearch exactly for this reason: https://github.com/elastic/elasticsearch/blob/v6.2.1/distribution/src/main/resources/bin/elasticsearch.bat#L53. Do you instead maybe not have a `logs` directory under `C:\Users\teamcity\AppData\Roaming\NEST\6.2.1\elasticsearch-6.2.1`? Since we package one, maybe it was removed

[2018-03-14 16:07] nik9000 commented on #28600
I shelled into the node that ran https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+oracle-java10-periodic/171/console and it *did* log the deprecation warning that the test claimed wasn't returned:

[code]

So the error is somewhere between the deprecation logging and returning the deprecations. Weird!

[2018-03-14 16:08] imotov commented on #29052
It reminds me of #26127, but it was fixed in 5.6.0 and in 26127 it was failing because failure reason was null, but it looks like it fails here because snapshotId [is null](https://github.com/elastic/elasticsearch/blob/5.6/core/src/main/java/org/elasticsearch/repositories/RepositoryData.java#L357). So, it is probably a different issue.

[2018-03-14 16:17] tlrx commented on #29052
@gkozyryatskyy Would it be possible that, at a given time, two environments accessed to the same repository to write a snapshot?

[2018-03-14 16:30] jpountz commented on #28573
cc @elastic/es-search-aggs

[2018-03-14 16:33] gkozyryatskyy commented on #29052
@tlrx theoretically yes.. this is **dev** environments =( Someone can up few news with one snapshot configs...

[2018-03-14 16:34] DaveCTurner commented on #9538
[RFC 7159 section 8.2](https://tools.ietf.org/html/rfc7159#section-8.2) says:

The right thing to do here is undefined, but I'm inclined to think that accepting it is best. One possible reason to support this is that Windows pathnames are allowed to include unpaired surrogates, so rejecting them could trip up anyone who is trying to store Windows pathnames in Elasticsearch, e.g. for security audit

[2018-03-14 16:38] nik9000 commented on #9538
Yeah. In this case I'm going to close as "won'tfix" with the guidance: "don't put invalid utf-8 in the index if you can't handle it".

[2018-03-14 16:38] #9538 closed

[2018-03-14 16:42] martijnvg commented on #21627
Closing issue. The paragraph about shading has been removed: ab2d74c0014b658f2b63e78055616a38e6cc8dd2

[2018-03-14 16:42] #21627 closed

[2018-03-14 17:06] jasontedor commented on #29065
Closed by 56ee723859be3bad7cfb616080a7c8013f64682c

[2018-03-14 17:06] #29065 closed

[2018-03-14 17:42] elasticmachine commented on #29066
Pinging @elastic/es-search-aggs

[2018-03-14 18:07] #28942 closed

[2018-03-14 18:26] DaveCTurner commented on #12273
Relates https://discuss.elastic.co/t/replica-shards-do-not-get-assigned-not-consistent-even-though-they-can/123968/4

[2018-03-14 18:38] Gago993 opened #29071 "inner_hits does not work for nested filters when searching multiple indices"
**Elasticsearch version**
Version: 6.2.2, Build: 10b1edd/2018-02-16T19:01:30.685723Z, JVM: 1.8.0_73

I'm trying to search multiple indices which both have nested objects. To keep it simple I will use this example. In the query I use "inner_hits" property.

[code]

So this query gives an error

[code]

But when I add "ignore_unmapped": true inside each "inner_hits": { "ignore_unmapped": true } ever

[2018-03-14 19:35] nikhilbarar commented on #28740
Is this issue still open? I'd like to pick this up.

[2018-03-14 19:40] nikhilbarar commented on #21045
Is this issue accepted?

[2018-03-14 19:42] nikhilbarar commented on #28950
Is this issue fixed?

[2018-03-14 19:42] nikhilbarar commented on #28995
Is this issue accepted?

[2018-03-14 19:43] paulokuda opened #29072 "[CorruptStateException] Failed to read local state, exiting..."
I've been using `elasticsearch@2.4`, but recently started using `elasticsearch@5.6` for another project. On my mac, I was able to upgrade to `5.6` without any issues; however, downgrading seems to be giving me troubles.

Any docs/tips on how to remove corrupted state files when downgrading 3 versions?

[2018-03-14 20:00] nik9000 commented on #28995
We consider it a real issue worth fixing, so, yeah.

[2018-03-14 20:55] talevy commented on #28950
@nikhilbarar not yet. It will most likely be closed and associated to the Pull Request that implements the fix itself.

[2018-03-14 20:57] talevy commented on #21045
@nikhilbarar the exact details may not have been hashed out, but since this issue was recently tagged with `adoptme` then yes, it has been accepted as something to look into fixing

[2018-03-14 21:02] #28131 closed

[2018-03-14 21:04] nik9000 commented on #20502
I poked around at this a bit this afternoon and it seems to work properly. Strange, because I totally remember it failing for me in the past.

[2018-03-14 21:04] #20502 closed

[2018-03-14 22:41] jasontedor commented on #19508
This turned out to be wrong. 😄

I opened #29075.

[2018-03-14 23:19] #27401 closed

[2018-03-14 23:53] spinscale commented on #13959
aged out. closing.

[2018-03-14 23:53] #13959 closed

[2018-03-15 00:17] milan15 commented on #29008
@bleskes in storeStats, added line to fail shard with message and passing IOException reference. let me know if anything is wrong/missing here.

[2018-03-15 01:19] jasontedor commented on #29072
Sorry @paulokuda, downgrading is not possible once the on disk local state has been re-written in a new format on a higher version.

[2018-03-15 01:19] #29072 closed

[2018-03-15 01:36] jasontedor commented on #21772
This particular issue is not actionable. It is something that we will keep in mind as we introduce new deprecation messages.

[2018-03-15 01:36] #21772 closed

[2018-03-15 02:51] qwerty4030 commented on #25820
@cbuescher Unfortunately I don't have access to this cluster anymore. I was hoping the stacktraces would be enough to figure it out. Hopefully its fixed in a later version!

[2018-03-15 02:54] jasontedor commented on #14630
@jelmd Yes, it's unclear. The initial problem statement is:

We no longer source the environment file, therefore it does not matter whether or not it is in place. You say something about violating system policy, but it is not clear what is being violated, and how sourcing the environment file relates to that. Your next [comment](https://github.com/elastic/elasticsearch/issues/14630#issuecomment-15

[2018-03-15 03:00] jasontedor commented on #12449
I do not see a compelling case to add support for RDMA as the technology has limited acceptance and usage. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the proposal (including +1s).

[2018-03-15 03:00] #12449 closed

[2018-03-15 06:29] martijnvg commented on #25445
@jpountz I forgot to update this ticket. I added docs about this topic via #27831.

[2018-03-15 06:49] seanziee opened #29079 "Composite aggregation doesn't allow filter aggregation"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.2

I'd like to define a filters under the composite aggregation but it seems not allowed. Why not? I could really use it!

Which aggregations are allowed under the composite agg?

[code]
Error:

[code]

[2018-03-15 06:54] rjernst commented on #28740
@nikhilbarar Please feel free to open a PR for this (or any other issues marked with `adoptme`. Thanks  for picking this up!

[2018-03-15 07:02] rjernst commented on #28996
Please see the [plugin author help docs](https://www.elastic.co/guide/en/elasticsearch/plugins/current/plugin-authors.html#plugin-authors-jsm) on security policies.

[2018-03-15 07:14] SebC99 commented on #21101
@clintongormley Why do you want to restrict something optional?
I mean letting default pipeline be used in updates could be very useful for calculated fields (in our case suggest fields for completion), while those who wants to use a pipeline only at index time could still do it manually with index parameters.
Or we could specify a default one for index and a default one for update?
Again, as usin

[2018-03-15 08:05] milan15 commented on #29062
@olcbean @jasontedor am beginner here, got excited, went through code and tried to understand proposed changes (and underlying code) and below are the steps that i thought will need to be taken.
1) Split RestUpgradeAction class, create new class RestUpgradeStatusAction. Move handleGet code to new class and made other changes accordingly.
2) ActionModule#initRestHandlers -Add (or register) handler

[2018-03-15 08:14] cbuescher opened #29080 "[CI] GetResultTests testToAndFromXContent() failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=oraclelinux/803/console

I can reproduce with
[code]
and will look into it

[2018-03-15 08:14] elasticmachine commented on #29080
Pinging @elastic/es-search-aggs

[2018-03-15 08:18] cbuescher commented on #29080
Most likely related:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=debian/803/console

[code]

[2018-03-15 08:22] tlrx commented on #29052
@gkozyryatskyy I've seen similar issue when two different clusters are accessing the same S3 repository (more exactly, the same S3 bucket): one environment is creating a snapshot while another environment is deleting a snapshot. This is a quite rare situation, as the creation and deletion must be executed exactly at the same time, but it can still happen, specially when there's a lot of indices/do

[2018-03-15 08:57] MathiasMeuleman opened #29081 "Elasticsearch server analysis with SonarQube"
I have been analyzing the Elasticsearch repo with use of SonarQube, and the following results emerged when running it on the server package:

![sonarqube-results](https://user-images.githubusercontent.com/9725373/37452781-e415a0fa-2835-11e8-90a3-65b04ad9d05c.png)

Analyzing the different issues and code smells that are presented, a large number of them are explainable with the choices that are mad

[2018-03-15 09:28] DaveCTurner commented on #16763
@dakrone I'm tempted to close this as there hasn't been overwhelming interest in it and I don't think we are planning on working on sub-node allocation decisions in the foreseeable future. WDYT?

[2018-03-15 09:45] markharwood commented on #21135
@cyrilleverrier that sounds like a question for the [discuss forums ](https://discuss.elastic.co/c/elasticsearch)  and not the same topic as the original question.

@veesahni are you still in need of this feature? We haven't come across many people with this sort of requirement. I'm not sure what the 300 filters represent and who maintains them but obviously if they were instead applied on ingest

[2018-03-15 09:59] reda-alaoui commented on #28984
After much debugging !

# Classpath vs Modulepath in Java 9

The modulepath should contain all modular jars. That includes jars containing well defined `module-info.java` and jar *eligible* to automodule.
Elasticsearch is not currently eligible to automodule because it violates some Jigsaw encapsulation about Java services.

The classpath contain all the remaining jars.

A jar in the module path c

[2018-03-15 09:59] colings86 commented on #29079
You can't add the `filters` aggregation as a `source` in the `composite` aggregation as it only accepts `term`, `histogram` and `date_histogram` sources. However you can have a `filters` aggregation as a sub-aggregation as below:
[code]
This means that although the `filters` aggregation is not involved in selecting the "page" for the aggregation it will still be returned for every bucket of the `c

[2018-03-15 10:00] elasticmachine commented on #29079
Pinging @elastic/es-search-aggs

[2018-03-15 10:20] cbuescher commented on #29080
These failures are cause by changes made in #28972 which seems to have changed some assumptions about how SMILE and CBOR write `byte[]` values. I'm not sure if the test assumtions are wrong or something in the xContent serialization changed unintentionally, I'll open a PR shortly that adjusts the test setup slightly but will probably disable the failing tests in the meantime.

[2018-03-15 10:39] markharwood commented on #17590
If I understand the requirement correctly the idea is to take the results of a `terms:user>sum:credit` agg tree and invert it into a `range:credit>terms:user` tree. I can see this works for the `sum` leaf but it sounds complex (for users and implementors) if we have other sibling or grandparent aggs to worry about as well.
Putting aside the complexity, I worry about the accuracy issues in the exam

[2018-03-15 10:43] markharwood commented on #17590
@cwurm - closing because this was long-standing "high hanging fruit" in terms of implementation complexity and with the accuracy concerns this looks undesirable. We can always re-open if we decide to revisit this.

[2018-03-15 10:43] #17590 closed

[2018-03-15 11:13] markharwood commented on #18596
cc @elastic/es-search-aggs

[2018-03-15 11:23] bleskes commented on #18279
@evanv I agree it's not the same thing. As the discussion above indicates, we feel adding hot swappiness on the path level will come at a too high of price. Elasticsearch currently works on the level of a node - shard copies are spread up across nodes and if a shard fails the master will try to assign it to another node. We can do better there and start tracking failures per node so we can stop al

[2018-03-15 11:24] bleskes commented on #29008
@evanv I responded on the other issue.

@milan15 the direction looks good. Can you open an PR and we can iterate there? I would love to have some testing but I wanted to first do some research to give you guidance. You'd need some kind of a mock directory implementation that throws exceptions. If you open a PR, I can offer help there if needed.

[2018-03-15 11:39] elasticmachine commented on #29071
Pinging @elastic/es-search-aggs

[2018-03-15 11:45] elasticmachine commented on #28980
Pinging @elastic/es-search-aggs

[2018-03-15 11:47] zhishan01 opened #29084 "How to get match score of a query match itself"
hi, there,
Elastic search scores have a wide range. I want normalize it by a normalization factor, which is obtained by query match itself, Is anybody deal with this before? please help me

[2018-03-15 11:51] cbuescher commented on #29084
This is currently not possible in elasticsearch itself, see https://github.com/elastic/elasticsearch/issues/23834 for details.

[2018-03-15 11:51] #29084 closed

[2018-03-15 12:03] markharwood commented on #11728
cc @elastic/es-search-aggs
Some of the script examples in this old issue are outdated but master still accepts `field` and `script` params together when it should be one or the other.

[2018-03-15 12:09] DaveCTurner commented on #28781
The following settings appear on lines removed in f123a53 and not in the `docs/` folder of `master`:

[code]

Of these, the following still seem to be valid settings:

[code]

The following do not seem to be valid settings, but are still mentioned a test:

[code]

https://github.com/elastic/elasticsearch/blob/5904d936fabfa25b832b757461efa6b0d3e9acb9/server/src/test/java/org/elasticsearch/indices/r

[2018-03-15 12:18] olcbean commented on #29062
@milan15 thanks for your interest!
Sounds good to me - that would have been my initial steps too :+1:

[2018-03-15 12:20] Mpdreamz commented on #29057
Opened https://github.com/elastic/elasticsearch/pull/29086 to fix this. `cd` does not change drives unless `/d` is also provided.

[2018-03-15 12:21] niemyjski commented on #20859
@jasontedor Do you have an example of how one would query by change changes api to see all changes since x time?

[2018-03-15 12:27] javanna commented on #27679
Closing, we are not going to address this for the time being, we can always reopen once we are ready and want to get back to this. It is unfortunate that people end up not using our client due to this, as we have retries in case of failure, support for sniffing etc.

[2018-03-15 12:31] cbuescher commented on #28965
@edovac upon a quick glance at your example, it seems to me that you could use the [filters aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-filters-aggregation.html) for your purpose. On the first level you would create one e.g. for the locations (using a terms query for each, for example) and then use a filters sub-aggregation with the perso

[2018-03-15 12:32] elasticmachine commented on #28965
Pinging @elastic/es-search-aggs

[2018-03-15 12:36] elasticmachine commented on #24800
Pinging @elastic/es-distributed

[2018-03-15 12:48] cbuescher commented on #28974
@pickypg this seems to come from monitoring, any ideas if or how we should improve documentation? I have the impression the current logging is already pointing in the right direction, not sure if either the log or the docs can be improved? Assigning to you in lack of a proper area label...

[2018-03-15 12:51] dadoonet commented on #13618
Yes.

Indeed but if not set we can just fill that list with the current zone only which is I believe what users are doing most of the time I guess: deploying in one single zone.

[2018-03-15 13:08] veesahni commented on #21135
@markharwood yes, still need this one.

We have a bayes classifier implemented on top of ES.  We index a bunch of documents that contain a large text body field (i.e. lots of tokens) and other metadata fields that are used for filtering.  Then, given N words (decided on the fly), the client retrieves the number of docs where the words appear in the body field (i.e. each turns into a separate term

[2018-03-15 13:27] javadevmtl commented on #28974
IMHO the log is a bit missleading because it tells you that x-pack is not installed. When it is.

Maybe there's a way to disable monitoring just for the upgrade?

Also is there a prefered order of upgrade when multinode cluster is involved?

[2018-03-15 13:29] DaveCTurner commented on #21095
Relates #28781.

[2018-03-15 13:29] javadevmtl commented on #28974
Also I would like to add the nodes did not join until all masters where 6.2.2 and the last 6.1.2 master was turned off.

[2018-03-15 13:38] martijnvg commented on #23076
Closing this issue since the rest client has a better way to allow applications to deal with error logging via a failure listener.

[2018-03-15 13:38] #23076 closed

[2018-03-15 13:45] DaveCTurner commented on #13618
Ah right. I was thinking more about AWS availability zones of which it's best to use more than 1, but if that's a common way to use GCE then that makes sense.

[2018-03-15 13:57] elasticmachine commented on #28323
Pinging @elastic/es-distributed

[2018-03-15 13:57] elasticmachine commented on #27622
Pinging @elastic/es-distributed

[2018-03-15 13:58] elasticmachine commented on #24530
Pinging @elastic/es-distributed

[2018-03-15 13:58] elasticmachine commented on #23395
Pinging @elastic/es-distributed

[2018-03-15 13:59] elasticmachine commented on #18723
Pinging @elastic/es-distributed

[2018-03-15 14:00] elasticmachine commented on #18417
Pinging @elastic/es-distributed

[2018-03-15 14:00] elasticmachine commented on #18321
Pinging @elastic/es-distributed

[2018-03-15 14:00] elasticmachine commented on #17963
Pinging @elastic/es-distributed

[2018-03-15 14:03] DaveCTurner commented on #17418
Since #7513 was closed by #20274 I think this can be closed too.

[2018-03-15 14:03] #17418 closed

[2018-03-15 14:04] elasticmachine commented on #14016
Pinging @elastic/es-distributed

[2018-03-15 14:07] elasticmachine commented on #2869
Pinging @elastic/es-distributed

[2018-03-15 14:07] elasticmachine commented on #7155
Pinging @elastic/es-distributed

[2018-03-15 14:07] elasticmachine commented on #8178
Pinging @elastic/es-distributed

[2018-03-15 14:07] elasticmachine commented on #10103
Pinging @elastic/es-distributed

[2018-03-15 14:17] elasticmachine commented on #23244
Pinging @elastic/es-distributed

[2018-03-15 14:19] elasticmachine commented on #11490
Pinging @elastic/es-distributed

[2018-03-15 14:33] edovac commented on #28965
@cbuescher thanks :)

It's working as expected.
At first i didn't fully understand the flexibility of filters aggregation. The syntax is a little verbose, but as long as it works it's ok ;)

[2018-03-15 14:33] edovac commented on #28965
Cosing the issue

[2018-03-15 14:33] #28965 closed

[2018-03-15 14:34] jpountz commented on #29015
Actually the axiomatic similarities are not exposed.

[2018-03-15 14:37] emillykkejensen commented on #27765
Is there a fix to this issue? And can anyone point me towards where I set allow_insecure_settings to true?

[2018-03-15 14:39] vincentarnaud90 commented on #28996
Ok thanks, I should have read the doc, sorry.

[2018-03-15 14:46] colings86 commented on #29079
The difference is that the composite aggregation allows you to page through all the terms in personname.keyword whereas the terms aggregation would only provide the top N terms.

What is it that you are hoping to get from having the filters aggregation in the sources section of the composite aggregation?

[2018-03-15 14:53] markharwood opened #29091 "Automated query rewriting - deciding on Phrase vs AND vs OR for a search."
Given a user's search input e.g. `bump stocks` a search system needs to choose if this should be treated as a phrase, ANDed or ORed.
Often the advice given is _"use all three - Lucene scoring will sort out the ranking"_. This may work well on ranking the hits but consider that all the aggregations e.g. timelines or category counts will be messed up if you over-match. For this reason it is common p

[2018-03-15 14:53] elasticmachine commented on #29091
Pinging @elastic/es-search-aggs

[2018-03-15 14:54] seanziee commented on #29079
I only put one filter in there but a real example there are a couple.. I'd like to do the pagation through all the terms with filters instead of categorizing by term. I can't get my aggregation from the field itself, I need to get to filtering by the value of the fields.

I know this sounds nuts, but is there a way you can think of where I can do a composite agg but then limit my results only to t

[2018-03-15 15:05] colings86 commented on #29079
No, the intention of the composite agg is to provide a way to systematically page through all results. Inn order to get the top 10 results you would need to use the terms aggregation with a filters sub-aggregation. If you then need to flatten the response for use in your visualisation this flattening will need to be done client side.

[2018-03-15 15:13] talevy commented on #19601
closing since it has not been needed for almost two years

[2018-03-15 15:13] #19601 closed

[2018-03-15 15:15] talevy commented on #21050
Closing due to staleness. Anyone that stumbles upon this again, feel free to re-open this issue

[2018-03-15 15:15] #21050 closed

[2018-03-15 15:19] elasticmachine commented on #21101
Pinging @elastic/es-core-infra

[2018-03-15 15:20] talevy commented on #21247
Closing since the complexity of this outweighs the benefits and the existing solution of copying functionality

[2018-03-15 15:20] #21247 closed

[2018-03-15 15:23] elasticmachine commented on #21248
Pinging @elastic/es-core-infra

[2018-03-15 15:24] talevy commented on #21444
Closing due to staleness

[2018-03-15 15:24] #21444 closed

[2018-03-15 15:27] elasticmachine commented on #21745
Pinging @elastic/es-core-infra

[2018-03-15 15:28] elasticmachine commented on #22147
Pinging @elastic/es-core-infra

[2018-03-15 15:34] talevy commented on #22176
Closing and will discuss the possibility of using WhichBrowser with the Logstash team

[2018-03-15 15:34] #22176 closed

[2018-03-15 15:39] #22548 closed

[2018-03-15 15:41] talevy commented on #22825
Looks like this was resolved and concluded that there are syntax issues

[2018-03-15 15:41] #22825 closed

[2018-03-15 15:45] talevy commented on #22982
Closing this in favor of https://github.com/elastic/elasticsearch/issues/23032

[2018-03-15 15:46] elasticmachine commented on #23032
Pinging @elastic/es-core-infra

[2018-03-15 15:47] elasticmachine commented on #23086
Pinging @elastic/es-core-infra

[2018-03-15 15:48] elasticmachine commented on #23134
Pinging @elastic/es-core-infra

[2018-03-15 15:49] talevy commented on #23207
Closing since this has not been needed

[2018-03-15 15:49] #23207 closed

[2018-03-15 15:54] talevy opened #29094 "Add a language-detection processor to Ingest Node"
There are requests and existing solutions for providing language-detection
support within the ingest pipelines.

request: https://github.com/elastic/elasticsearch/issues/23246,
Alex's external plugin: https://github.com/spinscale/elasticsearch-ingest-langdetect

it would be nice to provide this as a separate processor within Elasticsearch as a module or plugin.

[2018-03-15 15:54] talevy commented on #23246
Closing in favor of https://github.com/elastic/elasticsearch/issues/29094

[2018-03-15 15:54] #23246 closed

[2018-03-15 15:56] dakrone commented on #16763
@DaveCTurner I agree, I think this can be closed for now as we've addressed a portion of it.

If anyone disagrees let us know and we can revisit!

[2018-03-15 15:56] #16763 closed

[2018-03-15 15:57] talevy commented on #23467
Although this would be convenient for some, the intention of the simulate pipeline is to reduce the complexity only to the pipeline in question. Closing

[2018-03-15 15:57] #23467 closed

[2018-03-15 15:58] #23718 closed

[2018-03-15 16:00] talevy commented on #23726
Closing due to the lack of infrastructure for properly handling this.

Feel free to re-open if this comes up again

[2018-03-15 16:00] #23726 closed

[2018-03-15 16:04] talevy commented on #25513
Fixed in https://github.com/elastic/elasticsearch/pull/27089

[2018-03-15 16:04] #25513 closed

[2018-03-15 16:12] talevy commented on #25850
This variable `maxLength` is not exposed as a configurable variable in Tika: https://github.com/apache/tika/blob/9130bbc1fa6d69419b2ad294917260d6b1cced08/tika-core/src/main/java/org/apache/tika/sax/SecureContentHandler.java#L72-L75.

Closing since this change needs to happen in the Tika project

[2018-03-15 16:12] #25850 closed

[2018-03-15 16:16] elasticmachine commented on #26085
Pinging @elastic/es-search-aggs

[2018-03-15 16:18] talevy commented on #26085
Hi @lnryan, apologies for the super late response. I hope this problem was resolved on your end. I believe this is a mapping issue. The `_timestamp` field was possibility indexed as an object initially in one document, and then as a string field in another. This is considered to be a mapping conflict.

[2018-03-15 16:18] #26085 closed

[2018-03-15 16:21] talevy commented on #27059
Closing in favor of a new issue to introduce the Ingest Translate Processor

[2018-03-15 16:21] #27059 closed

[2018-03-15 16:22] talevy opened #29096 "Add Logstash-filter-translate as an Ingest Processor"
It is nice to apply data enrichment to documents during ingest with the help of an in-memory
map from one field value to another.

https://www.elastic.co/guide/en/logstash/current/plugins-filters-translate.html

[2018-03-15 16:22] elasticmachine commented on #29096
Pinging @elastic/es-core-infra

[2018-03-15 16:25] gkozyryatskyy commented on #29052
@tlrx
Thank you a lot for your responses!

- Is there any way to understand that it is my case?
- How can I do a "hotfix" for this? Should I delete all the snapshots and create new one? Or I can delete some specific one? Or I can cleanup something from s3 bucket?
- It any case, I think will be nice, to make some fix in the code for this to not cause NullPointer.. But it is on you.. =)

[2018-03-15 16:37] jasontedor commented on #28996
If the TCP connection is terminated and Log4j needs to reconnect, this will not work because on the reconnect the security manager will be in place and reject the connection.

Additionally, I do not think you want to be synchronously writing to a network while logging. This can impact the entire system anywhere. We do not currently support the asynchronous appenders.

More broadly, I would say tha

[2018-03-15 16:39] rjernst commented on #27765
@emillykkejensen This issue is not yet fixed. I've marked it as `adoptme` as it I don't know of anyone working on this at the moment.

Regarding allow_insecure_settings, please ask questions like this on [our forum](https://discuss.elastic.co/c/elasticsearch). We use github for feature requests and confirmed bug reports. Given that, since the setting was mentioned above, I will respond here: you s

[2018-03-15 17:17] jpountz commented on #16489
Like Clint I'm on the fence about expanding the set of characters that can be trimmed. I feel like `pattern_replace` is a fine solution. I'm closing this issue since we haven't reached consensus over the 2+ years that this issue has been open. Please reopen if you feel strongly that we should do something here.

[2018-03-15 17:17] #16489 closed

[2018-03-15 17:24] elasticmachine commented on #28910
Pinging @elastic/es-distributed

[2018-03-15 17:25] jpountz commented on #10846
Closing in favour of https://issues.apache.org/jira/browse/LUCENE-8209.

[2018-03-15 17:25] #10846 closed

[2018-03-15 17:26] markharwood commented on #29091
@qhoxie - Colin GS said you might have an interest in this. Would welcome any input.

[2018-03-15 17:26] markharwood commented on #27983
cc @elastic/es-search-aggs

[2018-03-15 17:33] jpountz commented on #29081
Is there a link where we can know more about the details? In general we'd be happy to fix whatever might end up being a problem to users. Things like unused imports need more discussion: removing them might help a bit with readability or naming collisions but it will also be one more entry in the history of many files and might introduce conflicts in a number of PRs. If we do that, we might need t

[2018-03-15 17:56] mayya-sharipova commented on #27401
We have reverted the commit for this PR, as  Windows tests were failing: https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+master+multijob-windows-compatibility/1536/console

[code]

Citing Jason Tedor here:

[2018-03-15 18:04] jpountz commented on #28873
For the record, we also said we'd like to stop allowing aggregations on the first scroll page, and instead allow users to acquire point-in-time snapshots so that they can run multiple queries against a consistent view of the index, which is the only point of allowing to run aggs and scroll on the same request today: #26472.

[2018-03-15 18:09] markharwood commented on #22537
But inaccurate. It would fail to provide a globally accurate count for each thing as it loses the key to sum thing1's counts from multiple shards. Given the typical randomised routing of documents to shards each thing's reported global number of actions would be, roughly speaking, 1/numShards of its true value.

The problem keeps coming back to the age-old issue of attempting behavioural analysis

[2018-03-15 18:09] #22537 closed

[2018-03-15 18:10] jasontedor commented on #20859
@niemyjski The changes API is not available today (#1242). You would not query for changes since a given time, but rather all changes above a certain sequence number.

[2018-03-15 18:57] evanv commented on #18279
Thank you for explaining. I see what you're saying. I feel like this ticket shouldn't be called "Hot swappable data paths" and instead be a bug report along the lines of "ES shouldn't allocate shards to dead disks." I think the later is still true, albeit far more complicated. I also feel like the docs recommending multiple file paths should be caveated that RAID0 might be a better option, dependi

[2018-03-15 19:01] elasticmachine commented on #18279
Pinging @elastic/es-core-infra

[2018-03-15 19:16] MathiasMeuleman commented on #29081
It is interesting you mention you would be happy to fix whatever might be a problem to _users_, but what would you happy to fix that might be a problem to _developers_? Removing unused imports was just an example, but probably one of the easier fixable issues here. Setting constraints like failing builds on violations is a way to solve it, but probably it would be easier to enforce these rules as

[2018-03-15 19:31] redlus opened #29097 "Elasticsearch 6.2.2 nodes crash after reaching ulimit setting"
Hi,

We're experiencing a critical production issue in elasticsearch 6.2.2 related to open_file_descriptors. The cluster is an exact replica (as much as possible) of a 5.2.2 cluster, and documents are indexed into both clusters in parallel.
While the indexing performance of the new cluster seems to be at least as good as the 5.2.2 cluster, the new nodes open_file_descriptors is reaching record-bre

[2018-03-15 19:35] milan15 commented on #29008
@bleskes i did it here #29078 . thanks for offering your help.

[2018-03-15 19:57] tlrx commented on #29052
That's not easy - do you think that your case is similar to the situation I explained in https://github.com/elastic/elasticsearch/issues/29052#issuecomment-373296702? If so, they we have an explanation.

I think that the best fix would be to create a new repository, in a different S3 bucket (or a sub path of the same bucket, see `base_path` option), and have a single cluster that can write snapsho

[2018-03-15 19:59] elasticmachine commented on #23014
Pinging @elastic/es-core-infra

[2018-03-15 20:14] rjernst commented on #28867
We have no control over that really. I don't think gradle has any desire to make Test extendable. As I said before, I did start there when creating RandomizedTestingTask.

We should have a new task in buildSrc under org.elasticsearch.gradle.precommit which is then setup in PrecommitTasks.

Currently, I run these in Intellij for specific test classes when I want to ensure something is covered.

[2018-03-15 20:33] dadoonet commented on #23246
#29094 is not exactly the same thing. I mean that Tika has this feature that can be exposed here directly.

For example here is how Im' doing that in FSCrawler: https://github.com/dadoonet/fscrawler/blob/master/tika/src/main/java/fr/pilato/elasticsearch/crawler/fs/tika/TikaDocParser.java#L136-L148

We can do both IMO.

[2018-03-15 20:53] talevy commented on #10063
closing due to this being stale and no interest for this feature from the community.

[2018-03-15 20:53] #10063 closed

[2018-03-15 20:57] nik9000 commented on #11777
I don't believe this is actually a bug. `boundary_chars` is for finding the boundary of a snippet to restore, not the boundary of each token to highlight. The tokens to highlight are based on the analyzer that you use.

For what it is worth we mostly don't do anything with the fast vector highlighter, preferring the unified highlighter these days because it is receiving active work.

[2018-03-15 20:57] #11777 closed

[2018-03-15 20:58] talevy commented on #11841
I believe the behavior has slightly changed over time. Today this is the expected behavior:

https://github.com/elastic/elasticsearch/issues/28875#issuecomment-370891928

Closing

[2018-03-15 20:58] #11841 closed

[2018-03-15 20:58] jasontedor commented on #13830
Today this can be solved client side by storing the last sequence number and then polling the shard level stats for the current number; if it is higher, there must have been a change. Closing.

[2018-03-15 20:58] #13830 closed

[2018-03-15 21:18] talevy commented on #23246
sorry, I was not clear. @martijnvg and myself discussed this offline and came to the conclusion that this should just be handled in a separate processor.

If you feel strongly that this should work within Tika, then that is fair. Please re-open if you feel that way

[2018-03-15 21:19] dmfenton commented on #11841
@talevy That wasn't a very helpful closing message. I don't see anything in that comment that shows the ability to aggregate or return a calculated geohash.

[2018-03-15 21:25] talevy commented on #11841
@dmfenton I apologize I misunderstood the original intent of this issue.

There is no auto-tuning of precision that is available, but by running a cardinality aggregation
on the keyword-valued geohash multifields (potentially scripted to check cardinality against each precision 1-12) to find out how many buckets you expect

[2018-03-15 21:28] dmfenton commented on #11841
@talevy thank you very much for the follow up. Can I actually return the calculated geohash from the source document?

[2018-03-15 21:37] talevy commented on #11841
@dmfenton
this is what I meant

calculating expected number of buckets per-precision for geohashes:
[code]

If you would like to retrieve the geohash, you must update the example mapping to explicitly [store](https://www.elastic.co/guide/en/elasticsearch/reference/6.0/mapping-store.html) the value of `gisPoint.geohash`

example:

[code]

[2018-03-15 21:38] talevy commented on #11841
Let me know if that answers your questions! once again, I apologize for the incorrect evaluation of this issue when closing

[2018-03-15 21:57] Mikilll94 opened #29099 "Build failed - problem with Java version"
When I am running ./gradlew assemble, I've got:

[code]

**JVM version** (`java -version`):

java version "9.0.4"
Java(TM) SE Runtime Environment (build 9.0.4+11)
Java HotSpot(TM) 64-Bit Server VM (build 9.0.4+11, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):

Windows 10

**Description of the problem including expected versus actual behavior**:

I got this error also when I ha

[2018-03-15 22:10] jasontedor commented on #29099
You need to set `JAVA_HOME` to point to your JDK 9 installation.

[2018-03-15 22:59] jasontedor commented on #29099
I opened #29101 which I hope is an improvement on the message here so that developers are less confused in the future.

[2018-03-15 22:59] #28953 closed

[2018-03-15 23:11] rjernst commented on #19474
I opened #29102

[2018-03-15 23:57] rjernst commented on #19474
This can be achieved with `-Dtests.es.path.data=</path/data>`

[2018-03-15 23:57] #19474 closed

[2018-03-16 00:58] #29099 closed

[2018-03-16 01:23] jasontedor commented on #29097
Would you please take the PID of an Elasticsearch process and as the number of open file descriptors grows capture the output of `ls -al /proc/<PID>/fd` and send the output to me privately (first name at elastic.co)? You might want to repeat this a few times as it grows and grows so we can diff and easily see what it is growing on.

When you say the node is crashing, do you have logs for this?

[2018-03-16 01:24] elasticmachine commented on #29097
Pinging @elastic/es-core-infra

[2018-03-16 01:35] #23484 closed

[2018-03-16 01:49] jasontedor commented on #28996
Closing as won’t fix.

[2018-03-16 01:49] #28996 closed

[2018-03-16 01:53] umeshdangat commented on #29021
The reason for the difference in `positionIncrementGap` is because for the index based case [NamedAnalyzer](https://github.com/elastic/elasticsearch/blob/99f88f15c5febbca2d13b5b5fda27b844153bf1a/server/src/main/java/org/elasticsearch/index/analysis/NamedAnalyzer.java#L46) is used which overrides  getpositionIncrementGap() vs for the non-index based case StandardAnalyzer is used directly from lucen

[2018-03-16 02:04] dnhatn commented on #19913
Closing this as we now have implemented seq# and append-only.

[2018-03-16 02:04] #19913 closed

[2018-03-16 02:15] dnhatn commented on #8369
This issue can be avoided if read-modify-index are executed on the client side. Closing.

[2018-03-16 02:15] #8369 closed

[2018-03-16 02:26] redlus commented on #29097
Hi Jason,

I've sent you several files with the output of `ls -al /proc/<PID>/fd ` on timestamps along 17 minutes, during which the open file descriptors increased from ~99k to ~105k.

Nodes reaching the ulimit actually crash the process. Here are the last few logs of a node which crashed:

java.nio.file.FileSystemException: /mnt/nodes/0/indices/-mwGJUcDRXKRtezeXPaZSA/1/index: Too many open files

[2018-03-16 02:42] dnhatn commented on #21038
Closing this because there has been no update (or similar reports) on this issue. Moreover, we have improved the resiliency of translog a lot recently.

[2018-03-16 02:42] #21038 closed

[2018-03-16 02:44] dnhatn commented on #27838
I opened #29103 to propose an enhancement.

[2018-03-16 03:31] strong666 opened #29104 "Update the type of the field"
I used the head plugin to update the type of the index field, but it never successful.

![1521170940 1](https://user-images.githubusercontent.com/26668306/37502405-8318d1ea-290d-11e8-8be9-5ec3dbcccbae.png)
![1521171045 1](https://user-images.githubusercontent.com/26668306/37502406-83420d9e-290d-11e8-8a3f-95800a3b67ea.png)

[2018-03-16 04:09] bittusarkar opened #29105 "Incorrect documentation about multiple awareness attributes"
**Elasticsearch version**: 5.4.1

**Plugins installed**: N/A

**JVM version**: 1.8.0_72

**OS version**: Windows 10

**Description of the problem including expected versus actual behavior**: The documentation [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/allocation-awareness.html) is misleading. Copying it below:
[code]

**Steps to reproduce**:
1. Set up an Elasticsearch c

[2018-03-16 06:30] dadoonet commented on #29104
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

In general, you can't update a data type and you need to reindex.

[2018-03-16 06:30] #29104 closed

[2018-03-16 06:43] #24203 closed

[2018-03-16 07:50] dadoonet commented on #29094
Note that Tika is also providing a different library for lang auto detection:

* Alex's plugin uses `com.youcruit.com.cybozu.labs:langdetect:1.1.2-20151117`
* Tika uses `org.apache.tika:tika-langdetect` which uses behind the scene `com.optimaize.languagedetector:language-detector:jar:0.5`

While we are building an official lang-detect plugin, I think we should evaluate the pro/cons of the 2 libs (

[2018-03-16 08:41] bleskes commented on #18279
Yes please, though I tried to find what you meant and couldn't.

I think this one https://github.com/elastic/elasticsearch/issues/18417 covers it? If you agree, feel free to comment there.

[2018-03-16 08:52] farin99 commented on #29097
from running: `sudo lsof -p <es process>`
90% of the file descriptors are from translog-xxxxx.tlog files. Seems like elastic never deletes these files

[2018-03-16 09:00] markharwood commented on #21135
If you're doing this sort of text analysis have you considered using the [significant text ](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations-bucket-significanttext-aggregation.html)aggregation? Some of the features that can help:

1) Works with the sampler aggregation to analyze only the highest-scored docs.
2) Works with a diversified-sampler aggregation to avoi

[2018-03-16 09:13] markharwood commented on #28479
cc @elastic/es-search-aggs

[2018-03-16 09:14] markharwood commented on #17154
cc @elastic/es-search-aggs

[2018-03-16 09:28] markharwood commented on #16228
cc @elastic/es-search-aggs

[2018-03-16 09:37] gkozyryatskyy commented on #29052
@tlrx
Thank you a lot for your responses!

If this info helps you, Im able to delete/snapshot to this repo with elasticsearch 5.4.0. So it is not just S3 problem... Theoretically, snapshot logic can be reverted to 5.4.0 version and will work.

So for now, Im thinking to delete everything with older db version and start creating new snapshots with new db version... Changing the bucket or base path

[2018-03-16 09:52] strong666 opened #29107 ".elasticsearch.bootstrap.StartupException"
elasticsearch It is ok to report the error after restart.

![1521193864 1](https://user-images.githubusercontent.com/26668306/37514380-c18aed52-2942-11e8-9bc7-0bf7f36164d9.png)

[2018-03-16 09:52] markharwood commented on #21999
Just tried on 6.0 release and does not reproduce (the Mango bucket is present for the second query).
Suggest upgrading and will close this issue but can reopen if there are still concerns.

[2018-03-16 09:52] #21999 closed

[2018-03-16 10:00] #29107 closed

[2018-03-16 10:04] lmenezes commented on #24910
@markharwood Are there plans to work/fix this? Would you welcome a PR and guide a bit how this should actually work? :)

[2018-03-16 10:05] markharwood commented on #21097
Closing for same reasons as https://github.com/elastic/elasticsearch/issues/17590 and https://github.com/elastic/elasticsearch/issues/22537
The recurring anti-pattern is that terms aggregations are being (ab)used to join related distributed data on very high-cardinality fields as a a form of mass data gathering and then the feature request is for some form of pipeline aggregation on the coordinati

[2018-03-16 10:05] #21097 closed

[2018-03-16 10:14] javanna commented on #11053
@elastic/es-search-aggs

[2018-03-16 10:15] javanna commented on #15115
@elastic/es-search-aggs

[2018-03-16 10:16] bleskes commented on #29097
@farin99 can you describe how many active shards you have on each nodes - i.e., how many shards receive index operations in a 12 hours period ?

[2018-03-16 10:17] javanna commented on #13178
Support for the `_all` field has been removed, closing.

[2018-03-16 10:17] #13178 closed

[2018-03-16 10:22] javanna commented on #27935
We were unable to identify the cause here, most likely a client problem. Closing, but feel free to reopen if you find out more.

[2018-03-16 10:22] #27935 closed

[2018-03-16 10:23] javanna commented on #25719
This was addressed with #25734

[2018-03-16 10:23] #25719 closed

[2018-03-16 10:23] ArielCoralogix commented on #29097
Hey @bleskes
Answering for @farin99 here - we have a few hundreds of active shards per node.

[2018-03-16 10:26] javanna commented on #24422
@elastic/es-search-aggs

[2018-03-16 10:28] javanna commented on #16704
The field stats API has been removed, closing.

[2018-03-16 10:28] #16704 closed

[2018-03-16 10:30] javanna commented on #20707
This seems to have been fixed by #21947. After that though the field stats API has been removed.

[2018-03-16 10:30] #20707 closed

[2018-03-16 10:31] javanna commented on #27170
@elastic/es-search-aggs

[2018-03-16 10:32] javanna commented on #16018
@elastic/es-search-aggs

[2018-03-16 10:34] javanna commented on #14565
@spinscale any comments on this? cc @elastic/es-search-aggs

[2018-03-16 10:36] javanna commented on #11750
@elastic/es-search-aggs

[2018-03-16 10:39] javanna commented on #21862
@elastic/es-search-aggs

[2018-03-16 10:40] javanna commented on #21356
I wonder if it's not too late to fix this, cc @elastic/es-search-aggs

[2018-03-16 10:41] javanna commented on #24362
@elastic/es-search-aggs

[2018-03-16 10:45] javanna commented on #12366
@elastic/es-search-aggs

[2018-03-16 10:48] javanna commented on #26674
@elastic/es-search-aggs

[2018-03-16 10:49] javanna commented on #27239
@elastic/es-search-aggs

[2018-03-16 10:50] javanna commented on #11172
@elastic/es-search-aggs

[2018-03-16 10:50] javanna commented on #22886
@elastic/es-search-aggs

[2018-03-16 10:52] gkozyryatskyy commented on #29052
@tlrx
Ok, here is hat I did:
- I create temp FS repo and backup there
- I manually delete everything from backup bucker with backup path prefix
- I run new, first snapshot in same repo/bucker/path prefix and it was succeeded.

[2018-03-16 10:54] javanna commented on #22209
Given the explanation from @martijnvg above and the fact that parent child works now without requiring multiple types under the same index, I am closing this issue.

[2018-03-16 10:54] #22209 closed

[2018-03-16 10:55] javanna commented on #16380
@elastic/es-search-aggs

[2018-03-16 11:02] javanna commented on #19008
This was fixed by #22200.

[2018-03-16 11:02] #19008 closed

[2018-03-16 11:03] javanna commented on #23796
@elastic/es-search-aggs

[2018-03-16 11:05] javanna commented on #22683
@elastic/es-search-aggs

[2018-03-16 11:05] javanna commented on #17348
@elastic/es-search-aggs

[2018-03-16 11:09] javanna commented on #27187
@elastic/es-search-aggs

[2018-03-16 11:09] javanna commented on #11432
@elastic/es-search-aggs

[2018-03-16 11:10] javanna commented on #16796
@elastic/es-search-aggs

[2018-03-16 11:12] javanna commented on #17045
@elastic/es-search-aggs

[2018-03-16 11:20] hrach977 commented on #27205
Hi all,
just a small question:  Isn't the UpdateSettingsRequest supposed to implement also ToXContentObject, besides the IndicesRequest.Replaceable?

[2018-03-16 11:26] markharwood commented on #8626
Closing - looks to use segment-level DocValues now

[2018-03-16 11:26] #8626 closed

[2018-03-16 11:27] markharwood commented on #19040
cc @elastic/es-search-aggs

[2018-03-16 11:28] markharwood commented on #9571
cc @elastic/es-search-aggs

[2018-03-16 11:29] markharwood commented on #19546
cc @elastic/es-search-aggs

[2018-03-16 11:30] jasontedor commented on #29057
Closed by #29086

[2018-03-16 11:30] #29057 closed

[2018-03-16 11:30] markharwood commented on #26220
cc @elastic/es-search-aggs

[2018-03-16 11:30] milan15 commented on #29062
@olcbean i did above changes and tested rest layer and it gave below error. but when i try to reproduce it using given command, don't receive error anymore. any pointers here? let me know if you want me to open PR to see my changes.

ERROR   0.44s | IntegTestZipClientYamlTestSuiteIT.test {p0=index/20_optype/Optype} <<< FAILURES!

  2> mar. 16, 2018 7:06:55 F.H. com.carrotsearch.randomizedtesting.T

[2018-03-16 11:39] #28994 closed

[2018-03-16 11:41] javanna commented on #18892
@elastic/es-search-aggs

[2018-03-16 11:44] elasticmachine commented on #29105
Pinging @elastic/es-distributed

[2018-03-16 11:45] markharwood commented on #17614
Since 5.2 elasticsearch has had support for [partitioning](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/search-aggregations-bucket-terms-aggregation.html#_filtering_values_with_partitions) in the terms aggs.

For those searching for low-frequency events with accuracy they should use multiple search requests, using  an appropriate choice for number of partitions (the documentation fo

[2018-03-16 11:45] javanna commented on #20554
@elastic/es-search-aggs

[2018-03-16 11:48] amnons77 commented on #29097
Hey @bleskes,
1. We have about 2600 shards that received an index operations in a 24H period.
2. We tried to change the "index.translog.retention.age" to 30m for the indexes who holds that shards and it didn't reduced the amount of "open_file_descriptors".

[2018-03-16 12:36] amnons77 commented on #29097
@bleskes
Sorry, my previous comment described the number of open shards on this entire cluster. We have about 100 open shards per node per 12 hours.
Btw, this same setup works in parallel now (data fan out) on version 5.2 with no issues and about 5000 open file descriptors while the 6.2 cluster already exceeded 150,000 for some of the nodes.

[2018-03-16 13:15] HorsonLiu opened #29110 "Why ScriptDocValues.Doubles is sorted ?"
mappping:
`{ "settings" : {
        "index" : {
            "number_of_shards" : 1,
            "number_of_replicas" : 0
        }
  },
  "mappings": {
    "obj_type": {
      "properties": {
        "feature_value": { "type": "double" },
      }
    }
  }
}
`

doc:
`{"feature_value":[0.5, 0.1, 0.3]}`

In self-defined SearchScript, I use ((ScriptDocValues<List<Double>>) getDoc().get(field)).get(0)

[2018-03-16 13:23] romseygeek commented on #29110
We prefer to use github for bug reports or feature requests, for more general questions or support please use our discussion forums at http://discuss.elastic.co.

Multivalued docvalues are stored as sorted at the lucene level, so lose their original ordering when indexed.  If you need to preserve the ordering, you could try encoding the values in a binary field and retrieving them from BinaryDocVa

[2018-03-16 13:23] #29110 closed

[2018-03-16 13:34] #26504 closed

[2018-03-16 13:38] olcbean commented on #29062
@milan15 Thanks!
AFAICS you ran into a timeout ( `Suite timeout exceeded` ) in the index rest api test for optype. I do not think that it is related to the changes you did for this issue ;)
Maybe unrelated question, but are you running on Windows? ( @nik9000 : do you have an idea why the timeout is reached ? )

If you want you can open a PR ( even if it is still "work-in-progress" ), then a member

[2018-03-16 13:39] #29014 closed

[2018-03-16 13:50] ahadadi commented on #28518
@polyfractal any thoughts about this?

[2018-03-16 14:27] nik9000 commented on #7442
I requested this *forever* ago and lived without it for years. As much as I still think it'd be useful that fact that no one has commented on this in years kind of weakens my case. If some one else thinks this is useful we can reopen, but for now, I think we should close this.

[2018-03-16 14:27] #7442 closed

[2018-03-16 14:36] bleskes commented on #29097
@amnons77 ok, if trimming the retention policy doesn't help we need figure out what's going on. Let's takes this to the forums to sort out. Can you post a message, including the output of nodes stats on http://discuss.elastic.co and link it here? once we know what it is we can, if needed, come back to github

[2018-03-16 15:02] dakrone commented on #11684
This has already been resolved in a different change, the API now returns "result": "updated" or "result": "noop" so I am closing this

[2018-03-16 15:02] #11684 closed

[2018-03-16 15:09] bleskes commented on #8369
To be clear, for future readers, the issue this plan tries to side step still exists - updates put an unproportional load on the primary. People that encounter it  can work around it by doing updates from the client as Nhat indicated. We're currently re-evaluating the plan as described above, which is why the issue is closed.

[2018-03-16 15:16] #27838 closed

[2018-03-16 15:20] vincentarnaud90 commented on #28996
Hi, thanks for the answer, we will see how we can do it outside elasticsearch then.

[2018-03-16 15:33] lukas-vlcek opened #29113 "No core value reported for scaling thread pool type"
**Elasticsearch version** (`bin/elasticsearch --version`): >= 5.x

**Description of the problem including expected versus actual behavior**:

This is probably documentation related issue. There are a few places where the documentation mentions that the scaling thread pool uses the `core` value for the minimum value. For example:

- [Doc for scaling thread pool](https://www.elastic.co/guide/en/elas

[2018-03-16 15:34] ArielCoralogix commented on #29097
Hey @bleskes I am referring to the ticket opened by our colleague @redlus on the Discuss forum: https://discuss.elastic.co/t/elasticsearch-6-2-2-nodes-crash-after-reaching-ulimit-setting/124172
Also, Lior ran  'GET /_stats?include_segment_file_sizes&level=shards' and send the result files from 3 different times to @nhat which is also active on that thread.

[2018-03-16 15:35] markharwood commented on #17588
As noted on https://github.com/elastic/elasticsearch/issues/17614#issuecomment-373689578, one possible policy is to error if numTermsReturned < `size` requested and point out the use of [partitioning](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/search-aggregations-bucket-terms-aggregation.html#_filtering_values_with_partitions) as a way to get accurate-within-partition results.

cc

[2018-03-16 15:38] markharwood commented on #17600
Revisiting after some time - still fails on master.

cc @elastic/es-search-aggs

[2018-03-16 15:40] markharwood commented on #15892
cc @elastic/es-search-aggs

[2018-03-16 15:44] markharwood commented on #23003
The root cause of this (out of range numerics held in the index) looks to have been addressed by https://github.com/elastic/elasticsearch/pull/25826

Closing, but feel free to reopen if the issue remains.

[2018-03-16 15:44] #23003 closed

[2018-03-16 15:45] markharwood commented on #18691
cc @elastic/es-search-aggs

[2018-03-16 15:50] markharwood commented on #20667
Revisiting - looks like added docs needed and/or a new `shift` param.

cc @elastic/es-search-aggs

[2018-03-16 15:59] talevy commented on #23246
right, I am not committed to any specific library yet. I don't know if spinscale/elasticsearch-ingest-langdetect is using the best or worst library out there. Whichever is used, a new processor sounds like a good idea for this

[2018-03-16 16:39] DaveCTurner commented on #29105
Thanks for the detailed instructions. A slightly simpler test is not to involve node `n2` at all, which is almost in the test suite:

[code]

This seems like the desired behaviour so I agree it's the docs that need fixing.

[2018-03-16 16:50] markharwood commented on #23384
The logic for leaf and bucket aggregations is by necessity, different.

"Bucket" aggregations like `histogram` work by assigning docs to buckets and maintaining a doc count for each bucket.

Given these two docs:

    {  "myvalue": 1 }
    {  "myvalue": [1, 2, 2, 4] }

.. the histogram agg correctly reports the following doc counts:

     [
        { "key": 1,  "doc_count": 2  },
        { "key":

[2018-03-16 17:10] markharwood commented on #20773
cc @elastic/es-search-aggs

[2018-03-16 17:16] markharwood commented on #22265
cc @elastic/es-search-aggs

[2018-03-16 17:21] markharwood commented on #26122
cc @elastic/es-search-aggs

[2018-03-16 17:23] markharwood commented on #12411
cc @elastic/es-search-aggs

[2018-03-16 17:24] markharwood commented on #17652
cc @elastic/es-search-aggs

[2018-03-16 17:31] markharwood commented on #24910
I know there was some discussion recently on changing/improving FunctionScore - perhaps by beefing up the context passed to scripts such that common functions like `gauss` would be accessible to scripts. @colings86 - do you have any input on these plans?

[2018-03-16 17:41] markharwood commented on #9528
Related: https://github.com/elastic/elasticsearch/issues/28479 where we agreed to add from and to for each bucket.

cc @elastic/es-search-aggs

[2018-03-16 17:44] markharwood commented on #23182
cc @elastic/es-search-aggs

[2018-03-16 17:45] mayya-sharipova commented on #23658
cc @elastic/es-search-aggs

[2018-03-16 17:45] jasontedor commented on #29113
We report the same thread pool info for all thread pools. That is, all thread pools, regardless of type, report a `min` and `max` (as well as their `name` and `type`, and `keep_alive` and `queue_size` when applicable) . For a scaling thread pool it is `min == core` and `max == size`. For a fixed thread pool it is `min == size` and `max == size`.

[2018-03-16 17:46] markharwood commented on #17589
cc @elastic/es-search-aggs

[2018-03-16 17:46] mayya-sharipova commented on #25427
cc @elastic/es-search-aggs

[2018-03-16 17:48] aguyinmontreal commented on #28816
@mayya-sharipova

Are you sure it accepts `US`, `CHINA`, `JAPAN` as language tags?

I thought it was `ENGLISH` , `FRENCH` , `GERMAN` , `ITALIAN` , `JAPANESE` , `KOREAN` , `CHINESE` , `SIMPLIFIED_CHINESE` , `TRADITIONAL_CHINESE`  and `CANADA_FRENCH`.

https://docs.oracle.com/javase/8/docs/api/java/util/Locale.html#forLanguageTag-java.lang.String-[Locale] (see _Field Detail_ section)

[2018-03-16 17:49] markharwood commented on #21293
cc @elastic/es-search-aggs

[2018-03-16 17:50] mayya-sharipova commented on #25427
Duplicate of https://github.com/elastic/elasticsearch/issues/28605, which is already implemented an merged.

[2018-03-16 17:50] #25427 closed

[2018-03-16 17:58] scottsom opened #29118 "Snapshot stuck in IN_PROGRESS"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.1.1

**Plugins installed**: [analysis-icu, analysis-kuromoji, analysis-phonetic, analysis-smartcn, analysis-stempel, analysis-ukrainian, mapper-size, repository-s3]

Also a few custom plugins that add monitoring, security, and one that initiates a snapshot periodically.

**JVM version** (`java -version`): 1.8.0_144

**OS version** (`unam

[2018-03-16 18:03] mayya-sharipova commented on #27292
cc @elastic/es-search-aggs

[2018-03-16 18:27] veesahni commented on #21135
A sampler of some kind could be used to speed things up at the cost of some accuracy.

We haven't experimented with the significant text aggregation.  Although it's not directly helpful in this case, it's application would be interesting in building a classifier.

Thanks for the tips!  Today, we keep things reasonably fast by limiting the docs that need to be queried.  Ultimately, it would be idea

[2018-03-16 18:34] #19508 closed

[2018-03-16 18:52] mayya-sharipova commented on #3511
We are closing this issue for now, as nothing we can do for it at the Elastic Search level. The problem should be fixes with Lucene's  char filter and word delimiter filter.

[2018-03-16 18:52] #3511 closed

[2018-03-16 18:56] mayya-sharipova commented on #27814
I closing it in favour of #16451

@liketic @olcbean  Nobody is working on #16451, please feel free to work on it, by indicating on github that you would like to work on this issue.

[2018-03-16 18:56] #27814 closed

[2018-03-16 19:08] potatman commented on #28254
Hi @jimczi I am hitting this bug as well for a similar use case.  I'm afraid the approach in https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-has-child-query.html#_sorting doesn't help in these sorts of cases.  Any chance this could be reopened and get fixed?  Function_score doesn't work when you need to sort based on a value in a specific child doc.   It just takes the lo

[2018-03-16 19:46] scottsom commented on #29118
The cluster restart got it working again:

[code]

So it probably would have been sufficient to just restart the two data nodes holding the failed shards as indicated by `_cluster/state`.

[2018-03-16 20:08] polyfractal commented on #28889
Heya @LucidObscurity.  So we chatted about this, and I'm afraid we don't have a great solution.  We generally agreed this is a valid feature that would be nice to have, but we're conflicted on how to implement it.  No one was overly keen on extending the `extended_bounds` syntax, since that opens up a number of technical issues.

The main issue is that most aggregations know nothing about the cont

[2018-03-16 20:38] evanv commented on #18279
I may be recalling incorrectly, or it may have been a blog post. In any event, I'll poke around and add a note to the docs on "things to watch out for" vis a vis multiple data paths.

https://github.com/elastic/elasticsearch/issues/18417 does cover my concern yes. Thanks for taking the time to explain your reasoning on this one. I wasn't following you at first, but it's very clear now what you're

[2018-03-16 22:15] lukas-vlcek commented on #29113
So the thing is that in settings part you say `core` but what you get back from the API is `min`. It is confusing but I think I get it now.

[2018-03-16 22:32] jdconrad commented on #27875
@martijnvg Is this something that you're actively or planning to work on?  Just don't want to double up work :)

[2018-03-16 22:36] jdconrad commented on #27612
Discussion with @rjernst -- we may be able to compile against each existing context when a stored script is entered to ensure that at least one context will successfully compile.  As a follow up possibly even marking which contexts are good for use with the stored script.

[2018-03-16 22:47] LucidObscurity commented on #28889
Thanks @polyfractal. I did really like your `"parent_bounds"` suggestion since it's simple and I can't imagine why anyone would want to extend past the parent.

I wound up rolling a little .net core web api to get around this and some other issues (like grabbing only business hours or excluding weekends without corrupting any windowed statistics) which sits in-between the kibana vega visualization

[2018-03-16 22:50] mayya-sharipova commented on #28816
@aguyinmontreal Thanks, I will double check for this!

[2018-03-16 23:32] elasticmachine commented on #10626
Pinging @elastic/es-search-aggs

[2018-03-16 23:36] elasticmachine commented on #26308
Pinging @elastic/es-search-aggs

[2018-03-16 23:38] talevy commented on #25551
@jimczi can this now be safely done after your refactor?

[2018-03-16 23:38] elasticmachine commented on #25551
Pinging @elastic/es-search-aggs

[2018-03-17 00:50] debadair commented on #6352
The relevant topic is now at: https://www.elastic.co/guide/en/elasticsearch/reference/current/settings.html

[2018-03-17 00:51] debadair commented on #7264
Should be added to the stack glossary: https://www.elastic.co/guide/en/elastic-stack-glossary/current/terms.html

[2018-03-17 00:56] debadair commented on #10515
Obsoleted by the removal of types.

[2018-03-17 00:56] #10515 closed

[2018-03-17 01:05] jasontedor commented on #29113
Yeah, I am sorry for the confusion, it is something that has bothered be that we use this single thread pool info class to represent the underlying information regardless of the thread pool type. I looked into it once before and walked away because I did not see a clean way to refactor this.

[2018-03-17 01:06] imotov opened #29122 "Upgrade JTS to 1.14.0"
JTS 1.14.0 has number of bug fixes and will switching to it should simplify geo sql testing.

[2018-03-17 01:06] elasticmachine commented on #29122
Pinging @elastic/es-search-aggs

[2018-03-17 01:06] debadair commented on #11830
At a minimum, we should add an example of multi-level nested queries to https://www.elastic.co/guide/en/elasticsearch/reference/6.2/query-dsl-nested-query.html. A higher level discussion of using nested objects would also be helpful.

[2018-03-17 01:08] elasticmachine commented on #29113
Pinging @elastic/es-core-infra

[2018-03-17 01:11] debadair commented on #11920
Closing this as the Transport Client is on it's way out.

[2018-03-17 01:11] #11920 closed

[2018-03-17 01:12] jasontedor commented on #29113
I opened #29123. Now we get:

[code]

[2018-03-17 01:25] debadair commented on #12499
The docs link to the support matrix as of 5.0: https://www.elastic.co/guide/en/elasticsearch/reference/5.0/setup.html#supported-platforms

[2018-03-17 01:25] #12499 closed

[2018-03-17 01:45] debadair commented on #13866
Removed as of 2.0.

[2018-03-17 01:45] #13866 closed

[2018-03-17 01:52] debadair commented on #13974
The Snapshot & Restore info was reworked in 6.0, but not with pictures.

[2018-03-17 01:58] jasontedor commented on #29097
The translog for four of your shards (from three distinct indices) is behaving in an unanticipated way. Could you please share the index settings for:
 `DN_QfOruR5SMVRavPDnRfw`
 `rRrAxVZzSye4W_-exBocCA`
 `r-cR4xWkSFinkKg_RqiDsA`

(from `/{index}/_settings`). I do not know the name of the indices that these correspond to, you will have to backtrace.

And can you also share the shard stats for these

[2018-03-17 02:01] debadair commented on #14081
As of 2.0, Elasticsearch settings are always specified in YAML. From 5.0 onward, security settings are specified in YAML or the Elasticsearch keystore.

[2018-03-17 02:01] #14081 closed

[2018-03-17 02:03] debadair commented on #14457
No longer updating 2.x docs.

[2018-03-17 02:03] #14457 closed

[2018-03-17 02:15] debadair commented on #15389
Fixed.

[2018-03-17 02:15] #15389 closed

[2018-03-17 02:16] debadair commented on #15427
No longer updating 1.x docs.

[2018-03-17 02:16] #15427 closed

[2018-03-17 02:26] debadair commented on #16113
The topic has been reworked in https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-reroute.html, but it looks like we could make additional clarifications regarding the implications for the replicas.

[2018-03-17 02:44] debadair commented on #16561
We should link to the Lucene docs.

[2018-03-17 02:47] #29113 closed

[2018-03-17 02:47] debadair commented on #16888
Opened as a doc infra issue: https://github.com/elastic/docs/issues/325

[2018-03-17 02:47] #16888 closed

[2018-03-17 02:53] debadair commented on #17034
The _all field is deprecated.

[2018-03-17 02:53] #17034 closed

[2018-03-17 03:01] debadair commented on #17491
The information from the 6.2 breaking changes should be rolled into the GC Logging topic.

[2018-03-17 03:27] debadair commented on #19574
No longer updating Marvel docs.

[2018-03-17 03:27] #19574 closed

[2018-03-17 03:39] debadair commented on #19792
No longer mentioned in the docs & mentioned in 5.0 breaking changes. https://www.elastic.co/guide/en/elasticsearch/reference/5.0/breaking_50_mapping_changes.html#_literal_geo_point_literal_fields

[2018-03-17 03:39] #19792 closed

[2018-03-17 04:41] milan15 commented on #29062
@olcbean @nik9000 Thanks! i thought the same and no i am using macOS. and i am too wondering if it's an environment issue as when i ran multiple times it fails only sometimes with same error.

will open a PR so code can also be looked at.

[2018-03-17 14:35] dnhatn commented on #29097
I opened #29125 to propose a fix for this.

[2018-03-17 14:58] dnhatn commented on #29097
The problem is that one replica got into an endless loop of flushing.

[2018-03-17 14:58] elasticmachine commented on #29097
Pinging @elastic/es-distributed

[2018-03-17 16:32] elasticmachine commented on #29118
Pinging @elastic/es-distributed

[2018-03-17 16:34] jasontedor commented on #29081
These get missed without automation that enforces them which entails exactly failing the build.

[2018-03-17 16:36] jasontedor commented on #21463
@bleskes Can you [help](https://github.com/elastic/elasticsearch/issues/21463#issuecomment-355978536) find a path forward on getting this build failure resolved? I know that #19338 was proposed previously; can we take another look?

[2018-03-17 20:49] jasontedor commented on #28026
We integrated a change (#28888) that will automatically archive any unknown or invalid settings on any settings update. This prevents their presence for failing the request and once archived they can be deleted.

[2018-03-17 22:33] jasontedor commented on #16891
@refactormyself The PR (#26353) that you reference was never merged. If you want to reopen yours, someone will review it.

[2018-03-17 22:34] elasticmachine commented on #16891
Pinging @elastic/es-search-aggs

[2018-03-17 22:44] refactormyself commented on #16891
PR #29127 now openend

[2018-03-18 03:50] aguyinmontreal commented on #28816
@mayya-sharipova  And also, please let me know if `ENGLISH` is the default value or if there's no default value at all.  Thanks

[2018-03-18 09:25] kunna commented on #21101
+1

[2018-03-18 09:28] maverick220 opened #29128 "6.2.2 timestamps could be out of order"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.2

**Plugins installed**: None

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system): Windows

**Description of the problem including expected versus actual behavior**:
In 6.2.2, we are seeing an issue if 2 (or more) log messages came out with the same *millisecond* in their timestamp, their order in

[2018-03-18 10:07] dadoonet commented on #29128
I think it's a duplicate of #10005 where nanoseconds could help. So I'm going to close it.

If you don't think it is, please open a question on discuss.elastic.co where we can discuss about it.

[2018-03-18 10:07] #29128 closed

[2018-03-18 10:20] maverick220 commented on #29128
Don't think this is the same. I'll revert to the elastic.co board.

[2018-03-18 10:25] olcbean commented on #29062
BTW I ran your PR locally on a linux host and it passed all tests!

[2018-03-18 10:27] dadoonet commented on #29128
@maverick220 Sure?

From #10005

Isn't what you reported?

[2018-03-18 14:43] liketic commented on #28950
Hi @nik9000 When I trying to reproduce this on master, I got:
[code]

[2018-03-18 16:19] bleskes commented on #16113
@debadair I think this covers it:

Would you agree?

[2018-03-18 17:15] rationull commented on #28819
@rjernst What should the behavior be if script params and aggregation params are provided with the same name?

I'm inclined to think that should cause an error at `ScriptedMetricAggregatorFactory` construction time. If conflicts must be silently allowed then I think the aggregation level params have to win (at least for `_agg` to ensure it keeps the same identity across all the scripts that are ru

[2018-03-18 18:20] rjernst commented on #28819
I think an error is the right thing. Right now, anything passed into params at the script level is ignored, so any errors that result of this change could only happen if a user is already either passing in params in both the script and one level up, or they are passing in `_agg`/`_aggs` at the script level, and they really should be notified that this is completely broken from what they are trying

[2018-03-18 18:39] rationull commented on #28819
Thanks, that makes sense. Agree that the aggregation status/results are really part of the context, not part of the parameters -- that does sound like a better design.

`ScriptedMetricIT` has a few test cases where the same params are being passed in at both the aggregator and script level (looks like by accident) so we'll get easy test coverage of the new error case :)

I will clean up my progres

[2018-03-18 18:41] rationull commented on #28819
(Another option is we could treat _agg/_aggs as a special case to disallow passing at the script level, but given your long term change suggestion that is not really moving in the right direction in general. Even passing non-"special" params in at both the aggregate and script level seems more like a confusing mistake than an important use case.)

[2018-03-18 21:26] rjernst commented on #28819
/cc @colings86 for your thoughts on the approach discussed here.

[2018-03-19 01:26] elasticmachine commented on #23858
Pinging @elastic/es-search-aggs

[2018-03-19 01:26] elasticmachine commented on #28390
Pinging @elastic/es-search-aggs

[2018-03-19 01:28] elasticmachine commented on #28068
Pinging @elastic/es-search-aggs

[2018-03-19 01:30] elasticmachine commented on #25168
Pinging @elastic/es-search-aggs

[2018-03-19 01:46] talevy commented on #16993
@epixa @clintongormley do we want to continue with this?

looks like this issue was opened requesting the doc-count to be easily accessed from within a plugin ( https://github.com/elastic/elasticsearch/issues/18312)

Since there is a concern that scroll-ids have the ability to grow larger than max-header-size, we
are left with discussing the benefits of just adding the hit count to the response he

[2018-03-19 01:46] elasticmachine commented on #16993
Pinging @elastic/es-search-aggs

[2018-03-19 01:48] elasticmachine commented on #27376
Pinging @elastic/es-search-aggs

[2018-03-19 02:18] HorsonLiu commented on #29110
Thank you !
With cmd 'curl -XGET http://<ip>:<port>/<index>/<type>/<ID>' I got the 'feature_value' in original order. So I didn't think docvalues was stored as sorted.

[2018-03-19 02:23] liudunxu commented on #25306
@mohitrajvardhan17 yes, the three es hosts are reachable.I think it may be something wrong with the es instance's load. I have checked the es instance‘s log,When the server is under full GC, the error occurs frequently. Then I expand the cluster to six instances.And now it seldom happens.

[2018-03-19 06:15] ashutoshningot commented on #9063
CORS ERROR: Reson "kbn-version and content-type missing".

[2018-03-19 06:30] prahlad574 opened #29131 "elasticsearch is not running"
root@:/# service elasticsearch start
 * Starting Elasticsearch Server                                                                                                                                 [ OK ]
root@:/# service elasticsearch status
 * elasticsearch is not running
this is the issue i am facing. earlier port 9200 is to be in close wait state. i thought closing it forcely will resolve my i

[2018-03-19 06:43] strong666 opened #29132 "location geo_point"
My field has a geo_point type, and when I insert the data, 111.9168341,37.0269508, can't be inserted, but changed to 40.715, -74.011, which is a new success.
![1521441788 1](https://user-images.githubusercontent.com/26668306/37581505-e0c37ca0-2b83-11e8-8238-e937ef43e02c.png)

[2018-03-19 07:04] #29105 closed

[2018-03-19 08:56] colings86 commented on #19474
@rjernst this is great, thanks for pushing this change

[2018-03-19 09:09] abhaysharma419 commented on #28137
Thanks !!

[2018-03-19 09:20] dadoonet commented on #29132
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

And there, just copy code but not images please.

[2018-03-19 09:20] #29132 closed

[2018-03-19 09:22] dadoonet commented on #29131
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-03-19 09:22] #29131 closed

[2018-03-19 09:24] colings86 commented on #28819
Agreed that an error would be the best approach for handling colliding keys in the params. I also agree that now we have script contexts it would be much better to expose the `_agg` and `_aggs` variables there rather than abusing the params for this.

[2018-03-19 09:44] ahmadazimi opened #29133 "Node's shards not synced after restarting"
**Elasticsearch version**: 6.2.2, Build: 10b1edd/2018-02-16T19:01:30.685723Z

**Plugins installed**: []

**JVM version**: 1.8.0_144

**OS version**: Ubuntu, Linux 4.4.0-104-generic

I have 3 replica with 8 shards in each one. I've indexed documents when all of nodes are alive, then after I restarted a node, that node never synced and always its `primary` is `false`.
I've testing multiple stop and

[2018-03-19 09:53] albertzaharovits opened #29135 "Reloadable secure settings for plugins"
EDITED:
The [reload-secure-store-action](https://github.com/elastic/elasticsearch/tree/reload-secure-store-action) branch tracks the progress of making some of the plugins' secure settings reloadable.

Passwords and access keys of the clients used internally for remote calls are stored as [secure settings](https://www.elastic.co/guide/en/elasticsearch/reference/current/secure-settings.html) inside

[2018-03-19 09:53] elasticmachine commented on #29135
Pinging @elastic/es-core-infra

[2018-03-19 10:16] colings86 commented on #29133
the `primary` flag is not an indication that the shard copy is in sync, it is an indication that the particular shard copy for that shard is considered to be the copy that leads the shard group and receives indexing requests first. at any one time only one shard copy in each shard will be a primary. Also after a restart it is expected that any shard copies on the restarted node will no longer be p

[2018-03-19 10:16] #29133 closed

[2018-03-19 10:33] ahmadazimi commented on #29133
@colings86 Thank you for your complete reply.

[2018-03-19 12:35] epixa commented on #16993
@talevy I don't have strong opinions about this anymore. Without the scroll id, the utility of the feature is diminished a lot, since you really need to parse the body anyway. The hit count alone does make it a little easier to consume even still, but I leave it to the ES team to decide whether that is valuable enough to introduce.

[2018-03-19 13:57] imotov commented on #29118
It would have been sufficient to just restart the node where the shard was stuck in the ABORTED state.

[code]
Did you have any node automatic node restarts or master node disconnects/switches while this snapshot was executed?

[2018-03-19 13:59] cbuescher opened #29136 "[CI] DieWithDignityIT testDieWithDignity fails on master and 6.x"
This seems to be failing once in a while since at least March 14th:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1373/console

Recently on master:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1394/console

I cannot reproduce it locally so far:
[code]

Failures look like this:
[code]

[2018-03-19 14:07] nik9000 commented on #29136
@cbuescher did you notice if all the failures were on Windows?

[2018-03-19 14:08] cbuescher commented on #29136
@nik9000 you are right, they are. Didn't notice this until now.

[2018-03-19 14:08] nik9000 commented on #29136
Neat! I'll take this one.

[2018-03-19 14:09] cbuescher commented on #29136
Quick search shows 14 similar looking failures since 14th or march, all on windows.

[2018-03-19 14:16] gingerwizard commented on #16938
I'd like to propose we repopen this with the emergence of GDPR. This encourages data owners to pseudonimize fields using hashing algorithms - typically users will want to hash a field (overwriting the value) with a salt - to minimise the possibility of using rainbow tables for reversal in the event the data is lost. @MikePaquette

[2018-03-19 14:28] markharwood commented on #26570
cc @elastic/es-search-aggs

[2018-03-19 14:29] markharwood commented on #18412
cc @elastic/es-search-aggs

[2018-03-19 14:45] nik9000 commented on #29136
I did a little digging. It looks like this is caused when the other side closes its connection while we're waiting on our buffer to fill up. We totally expect that in this test. It feels to me like we should throw a `ConnectionClosedException` but upstream does not agree:
https://issues.apache.org/jira/browse/HTTPASYNC-134

So I'm going to catch this exception and "expected".

Alternatively we cou

[2018-03-19 14:49] markharwood commented on #23193
Since https://github.com/elastic/elasticsearch/pull/27581 elasticsearch should now have the necessary safeguards to prevent an OOM situation.

Generally speaking we strive for consistency in our APIs and "1d" is a valid number but having said that it is also a very common choice of interval for data histograms. The consequences of getting the wrong choice of histogram should not now  be catastroph

[2018-03-19 14:52] #23392 closed

[2018-03-19 14:54] n1im opened #29139 "Sudden data loss!"
**Elasticsearch version**  : 5.6.8

**Plugins installed**: [] No plugins

**JVM version** (`java -version`): 8

**OS version** (`uname -a` if on a Unix-like system): Linux Centos 7

**Description of the problem including expected versus actual behavior**:

I have an elastic search cluster of 1 node in my environment.

The cluster was running fine from months.

Today all of a sudden I saw no data i

[2018-03-19 14:54] martijnvg commented on #19335
This issue has been open for a while, but not a lot has happened with it. I will close this issue for now, because it is a high hanging fruit and there are currently no plans to work on this improvement, also another approach that @ywelsch suggested is easier to get started. Please feel free to leave feedback on the proposal (including +1s).

[2018-03-19 14:54] #19335 closed

[2018-03-19 14:58] nik9000 commented on #13474
We've lived without these for a long time, I think we're safe closing this. If anyone is interested in doing this feel free to have another look!

The backwards compatibility tests have changed a *ton* since this was written.

[2018-03-19 14:58] #13474 closed

[2018-03-19 15:02] markharwood commented on #21942
cc @elastic/es-search-aggs

[2018-03-19 15:07] martijnvg commented on #20824
While this is still idea is still valid, nothing has happened with it for almost 1.5 year. Closing this for now and hopefully in the future stats api get refactored in such a way that this idea is possible.

[2018-03-19 15:07] #20824 closed

[2018-03-19 15:11] dadoonet commented on #29139
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

Here apparently "someone" asked to delete some indices:

[code]

[2018-03-19 15:11] #29139 closed

[2018-03-19 15:16] elasticmachine opened #29879 "IndexUpgradeWatcherIT.testPreTriggeredWatchesUpgrade failures"
*Original comment by @jpountz:*

This test fails quite regularly on the 5.6 branch. Here is a recent failure: LINK REDACTED

[code]

The seed doesn't reproduce. I'll disable the test.

[2018-03-19 15:37] n1im commented on #29139
Will do.
Is there a way to trace back to the someone who asked to delete ?

[2018-03-19 15:38] dadoonet commented on #29139
X-Pack security (commercial plugin) helps to:

* prevent that
* have audit logging on who did what

But better to discuss that on discuss.elastic.co. Thanks

[2018-03-19 15:43] markharwood commented on #21135
I guess what's unusual about this scenario is that ordinarily the need to "trim" results is related to aggregations that promote discovery e.g. a `terms` agg on a field may be used to discover previously unknown actors (e.g. find the top 50 customer accounts) and it is necessary to trim the potentially millions of candidates.
In the case of the `filters` agg, the client must provide known filter d

[2018-03-19 15:44] nik9000 commented on #28950
Oops! I meant to use `missing` as an example of an aggregation that doesn't exist. But it does exist! Here is a better example:
[code]

[2018-03-19 15:59] mayya-sharipova commented on #19830
cc @elastic/es-search-aggs

[2018-03-19 16:48] gingerwizard commented on #16938
Initially, i don't think we need to support hashing objects. The ability to support primitives i.e. strings and numerics is sufficient. Adding a salt to a value allows us to add resiliency to brute force reversal techniques - this would be consistent with the logstash fingerprint filter also. Finally id add documents have multiple fields which will need fingerprinting.  Each of these will need to

[2018-03-19 17:22] #28756 closed

[2018-03-19 17:37] polyfractal commented on #16938
If just a simple hash is needed, we have the [murmur3](https://www.elastic.co/guide/en/elasticsearch/plugins/current/mapper-murmur3-usage.html) plugin.  You can `copy_to` the various fields you need hashed, either as a combined field or individually.

Admittedly, murmur3 is not cryptographically secure, and we don't allow it to be salted.  But if GDPR just requires simple simple hashing functional

[2018-03-19 17:47] talevy commented on #16938
@polyfractal

I have multiple questions:

1. what if someone doesn't want to index the original value?
2. aren't we semi-deprecating mapper plugins?
3. Ingest feels like the right place to do this; and, an implementation here is in line with our [dream] goal of keeping IngestNode and Logstash feature-compatible.

*disclaimer: I am implementing [logstash-filter-fingerprint](https://github.com/logst

[2018-03-19 17:50] veesahni commented on #21135
I agree with your assessment as to why you don't see this requested much.

We're leveraging ES's parallel querying capabilities to implement an algorithm.  The results under each bucket are minimal (we just need doc counts).  The client code to handle the filtering isn't that complex (in a modern language, it doesn't take much to sort and filter hundreds of buckets).  Accordingly, we implement the

[2018-03-19 17:52] dadoonet commented on #16938
@talevy why did you close this issue then? Is that unrelated ?

[2018-03-19 17:54] gingerwizard commented on #16938
@polyfractal we are trying to conceal the original value in` _source`. I appreciate your original intent was for these hashes to provide additional value within the index e.g. for clustering.  Here we would actually mask the value in the source and use the hashed value in visualisations.

[2018-03-19 17:56] talevy commented on #16938
@dadoonet new information came to light 😄and I am not going to implement the full description of this issue with regards to the structured-fingerprinting approach.

[2018-03-19 18:00] polyfractal commented on #16938
@talevy @gingerwizard

1. Good point, I wasn't thinking about it in the context of security where you actually want to obscure the original value, instead of just adding hash functionality for search/filtering
2. I have no idea tbh :)
3. Agreed!  Since changing the actual source is required for the security context, it'd make most sense to do it in Ingest.  Esp. since there is a logstash analogue

[2018-03-19 18:01] colings86 commented on #21135
This feature has been added in https://github.com/elastic/elasticsearch/pull/27152 and is available in version 6.1 onwards

[2018-03-19 18:01] #21135 closed

[2018-03-19 18:02] #29136 closed

[2018-03-19 18:03] dadoonet commented on #16938
@talevy do we have another opened issue or is it just a matter of days/hours to have a PR on it so we can wait for the description in the PR?

[2018-03-19 18:03] talevy commented on #16938
I'll open a PR with a description of its features and link to this issue to preserve a breadcrumb to this discussion

[2018-03-19 18:08] jimczi commented on #22357
cc @elastic/es-search-aggs

[2018-03-19 18:12] jimczi commented on #24903
cc @elastic/es-search-aggs

[2018-03-19 18:13] jimczi commented on #19147
cc @elastic/es-search-aggs

[2018-03-19 18:14] jimczi commented on #13692
cc @elastic/es-search-aggs

[2018-03-19 18:16] jimczi commented on #23012
cc @elastic/es-search-aggs

[2018-03-19 18:16] jimczi commented on #10537
cc @elastic/es-search-aggs

[2018-03-19 18:17] #28770 closed

[2018-03-19 18:17] jimczi commented on #26585
cc @elastic/es-search-aggs

[2018-03-19 18:18] jimczi commented on #24655
cc @elastic/es-search-aggs

[2018-03-19 18:22] jimczi commented on #18657
The completion suggester has been rewritten in 5 and the same recreation would now yield to no result. I am closing this since we don't have release on 2.x anymore.

[2018-03-19 18:22] #18657 closed

[2018-03-19 18:34] jimczi commented on #14261
The suggester will generate suggestions for terms on shards that do not contain them no matter what the min frequency is:
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters-phrase.html#_direct_generators
You should use another mode and filter the results with the `confidence` option which is more fine grain. I am closing this issue because the suggester is working as

[2018-03-19 18:34] #14261 closed

[2018-03-19 18:35] jimczi commented on #28865
cc @elastic/es-search-aggs

[2018-03-19 18:36] jimczi commented on #21291
cc @elastic/es-search-aggs

[2018-03-19 18:36] jimczi commented on #7209
cc @elastic/es-search-aggs

[2018-03-19 18:37] jimczi commented on #27431
cc @elastic/es-search-aggs

[2018-03-19 18:37] jimczi commented on #28512
cc @elastic/es-search-aggs

[2018-03-19 18:37] jimczi commented on #23983
cc @elastic/es-search-aggs

[2018-03-19 18:43] jimczi commented on #20259
cc @elastic/es-search-aggs

[2018-03-19 18:45] elasticmachine opened #29880 "MonitoringIT testMonitoringService fails in CI"
*Original comment by @jaymode:*

The `MonitoringIT#testMonitoringService` fails (but not reproducibly) in CI due to not finding documents that the test expects:

[code]

Failure links:
LINK REDACTED
LINK REDACTED
LINK REDACTED
LINK REDACTED

I am muting this test on master and 6.x. Assigning to @pickypg and @tlrx based on git history.

[2018-03-19 18:48] nik9000 commented on #28770
@lcawl this should be fixed in master and 6.x.

[2018-03-19 19:03] elasticmachine opened #29881 "Remove index audit trail in favor of filebeat"
*Original comment by @albertzaharovits:*

Right now Security has the capability to index the audit events trail on the local or a remote cluster.
**I want to moot the removal of this in favor of filebeat.**
The standing logging audit trail will remain the only auditing option. It could possibly be improved with a syslog appender.
**This way, logging audit trail will handle the durability of the au

[2018-03-19 20:04] dnhatn commented on #14009
Any document id will be handled correctly with a proper url encoding.

[2018-03-19 20:04] #14009 closed

[2018-03-19 20:09] dnhatn commented on #29060
CI Log: [resync-test.txt](https://github.com/elastic/elasticsearch/files/1826741/resync-test.txt)

[2018-03-19 20:19] mayya-sharipova commented on #28816
@aguyinmontreal Thank so much for your feedback. I was wrong, I have updated the PR accordingly: https://github.com/elastic/elasticsearch/pull/28802/commits/f6e1990784f86d75445dc56563105aee7cea92ad

[2018-03-19 20:20] bolivia opened #29145 "elasticsearch 6.2.1 Docker crash"
Hi,

my Docker Conainer with elasticsearch 6.2.1 does not start anymore.

**Elasticsearch Version** 6.2.1

**plugins**
aggs-matrix-stats
analysis-common
ingest-common
long-expression
long-mustache
long-painless
mapper-extras
parent-join
percolator
rank-eval
reindex
repository-url
transport-netty4
tribe
ingest-geoip
ingest-user-agent

**Java** 8 Updated 161

**OS** Windows 10 1709 16299.309

**Desc

[2018-03-19 20:28] WydD opened #29148 "Confusing documentation on Query String Query on the split by whitespace behaviour"
**Elasticsearch version**: 6.2.2 (but all 6.x is affected)

Hi everyone,

In the reference documentation for Query String Queries https://www.elastic.co/guide/en/elasticsearch/reference/6.2/query-dsl-query-string-query.html it is said the following

And right after this, we can find the documentation of the default_operator parameter:

Because the split by whitespace is not available anymore direc

[2018-03-19 20:42] dadoonet commented on #29145
Did you change some settings ?

[2018-03-19 21:08] jpountz commented on #29050
We discussed this in the search meeting and agreed on the following points:
 - this sounds useful
 - we want to start simple - finer-grained tuning will be done in follow-ups
 - the way it is wired should make it easy to bind the right to execute slow queries with roles of the logged user in the future

[2018-03-19 21:16] elasticmachine commented on #22993
Pinging @elastic/es-core-infra

[2018-03-19 21:44] andyb-elastic commented on #26323
@elastic/es-search-aggs

[2018-03-19 22:00] scottsom commented on #29118
@imotov No restarts or disconnects as far as I can tell from the logs & metrics. The master node was replaced 17 hours into the snapshot but I'd assume the problem had already happened at that point since our snapshots don't take that long.

I only see 2 log statements on the data node with the ABORTED shard (`arLNOMBtRnSu_dMZMxVxiw`) when looking at a few hours of logs leading up to and during th

[2018-03-19 22:16] andyb-elastic commented on #27461
This still occurs on master

[code]

[code]

Local search on the "remote" cluster
[code]

Search for the same index on the remote cluster

[code]

@elastic/es-search-aggs

[2018-03-19 22:22] imotov commented on #29118
Is there anything in the master logs around the same time?

[2018-03-19 22:52] scottsom commented on #29118
The logs are almost entirely low disk watermark warnings.

[code]

Note: both of these warnings are for the nodes that had shards marked as FAILED & ABORTED.

[2018-03-19 23:07] aguyinmontreal commented on #28816
@mayya-sharipova  Alright! Thanks!

I'm not sure what `The default value is https://docs.oracle.com/javase/8/docs/api/java/util/Locale.html#ROOT[ Locale.ROOT].` means though... Are you saying that the default value is different from one computer to the other?

[2018-03-19 23:19] mayya-sharipova commented on #28816
@aguyinmontreal I can only cite Java's documentation on this.  In case a `boundary_scanner_locale` is not specified in the request, [Locale.ROOT](https://docs.oracle.com/javase/8/docs/api/java/util/Locale.html#ROOT) will be used in
 [Java's BreakIterator](https://docs.oracle.com/javase/8/docs/api/java/text/BreakIterator.html). You can look at Java's BreakIterator source code to see how Locale.ROOT

[2018-03-19 23:28] andyb-elastic commented on #23594
Since it looks like some changes have been made that mitigate this issue (#23918 disables graph analysis for mixed-length shingles, and #27211 adds soft limits for shingle sizes) I'm going to close. Additional feedback is always welcome

[2018-03-19 23:28] #23594 closed

[2018-03-19 23:28] andyb-elastic commented on #23594
@elastic/es-search-aggs

[2018-03-19 23:36] aguyinmontreal commented on #28816
@mayya-sharipova Alright! Thanks for this clarification.

[2018-03-20 00:17] jasontedor commented on #29145
You have tried to set something to `fals` but that is not a value that we parse for booleans.

[code]

[2018-03-20 00:17] #29145 closed

[2018-03-20 00:42] dnhatn commented on #14224
This feature request is an interesting idea but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the

[2018-03-20 00:42] #14224 closed

[2018-03-20 01:01] dnhatn commented on #22723
Nik' suggestion solved user's request already.

Moreover, given comments from Nik, we prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the proposal (including +1s).

[2018-03-20 01:01] #22723 closed

[2018-03-20 01:10] elasticmachine commented on #14224
Pinging @elastic/es-core-infra

[2018-03-20 02:36] djjsindy commented on #28920
@DaveCTurner
Thank you for your discussion.We discussed last week and very much appreciated this universal solution.
1. It might be possible in the kind of clean partition. Our business is very large and our applications are often deployed in multiple racks and multiple cities. This can ensure the disaster recovery of the rack level or city level. For example, the rack outage or network disconnect

[2018-03-20 02:47] david-sitsky opened #29152 "org.elasticsearch.xpack.notification.email.Account$1.run(Account.java:55) should cast to CommandMap not javax.activation.MailcapCommandMap"
Kibana version: 5.5.0

Elasticsearch version: 5.5.0

Server OS version: Linux 4.4.0-93-generic #116-Ubuntu SMP Fri Aug 11 21:17:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Browser version: Chrome

Browser OS version: Linux

Original install method (e.g. download page, yum, from source, etc.): download

Description of the problem including expected versus actual behavior:

When ES cluster was in a

[2018-03-20 03:04] #22870 closed

[2018-03-20 03:05] joshuar opened #29153 "Make reindex.remote.whitelist a dynamic setting?"
I'm not sure why the `reindex.remote.whitelist` setting needs to be in elasticsearch.yml only? It would be useful to make this setting dynamic, which can be changed via the cluster settings API.  That would make it easy to do one-off exports of data between clusters and/or helpful in environments where IP addresses, ports or hostnames are themselves dynamic.  Is there a reason this setting current

[2018-03-20 03:10] tvernum commented on #9063
@ashutoshningot, Could you please ask you question on our [discuss forum](https://discuss.elastic.co/c/elasticsearch) where we can provide better support. Those forums are designed to support the kinds of conversations that are necessary for this sort of troubleshooting and problem diagnosis.

[2018-03-20 06:53] elasticmachine opened #29882 "Improve error messages if non-native user tries to change password"
*Original comment by @tvernum:*

At the moment if a non-native user (e.g. File realm) tries to change their own password you get:
[code]

If a superuser tries to change that user's password they get:
[code]

Neither message is an accurate description of the root cause which is that the user is not a native (API-managed) user.

[2018-03-20 08:08] jpountz commented on #25168
@osman No updates for now.

[2018-03-20 09:08] jpountz commented on #26850
It ended up being more challenging than I thought. I'd suggest to revisit it once shape indexing doesn't require JTS anymore.

[2018-03-20 09:25] DaveCTurner commented on #29152
This repository is for open-source Elasticsearch issues only. Please use the [X-pack forums](https://discuss.elastic.co/c/x-pack) so that this can be handled in the right way.

That said, I expect the answer will be that custom `CommandMap` implementations are not supported:

[2018-03-20 09:25] #29152 closed

[2018-03-20 09:26] DaveCTurner commented on #29148
Pinging @elastic/es-search-aggs

[2018-03-20 09:28] elasticmachine commented on #29153
Pinging @elastic/es-core-infra

[2018-03-20 09:40] DaveCTurner commented on #28920
You're welcome @djjsindy. Thank you in turn for your help in digging into the issue.

Note that although we opened those issues, no work on them is currently scheduled so we have marked them with the `adoptme` label. PRs are welcome.

Sure. Something like a single-node failure a short time before a whole-rack failure would be troublesome: no matter how long you wait after the single-node failure,

[2018-03-20 09:40] #28920 closed

[2018-03-20 09:40] #26947 closed

[2018-03-20 09:46] elasticmachine commented on #10267
Pinging @elastic/es-distributed

[2018-03-20 09:50] DaveCTurner commented on #10267
This is an interesting idea but since its opening we have not seen enough feedback that it is something we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback (including +1s).

[2018-03-20 09:50] #10267 closed

[2018-03-20 09:51] DaveCTurner commented on #7155
This is an interesting idea but since its opening we have not seen enough feedback that it is something we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback (including +1s).

[2018-03-20 09:51] #7155 closed

[2018-03-20 09:53] DaveCTurner commented on #8178
This is a known issue to do with the interaction of shard allocation settings, but since its opening we have not seen enough feedback that it is something we should work on. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed pleas

[2018-03-20 09:53] #8178 closed

[2018-03-20 09:55] DaveCTurner commented on #11490
This is an interesting idea, but since its opening we have not seen enough feedback that it is something we should work on. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback (including +1s).

[2018-03-20 09:55] #11490 closed

[2018-03-20 09:56] DaveCTurner commented on #12279
This is an interesting idea, but since its opening we have not seen enough feedback that it is something we should work on. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback (including +1s).

[2018-03-20 09:56] #12279 closed

[2018-03-20 09:59] DaveCTurner commented on #13667
This issue hasn't seen any activity in quite a long time, and seems to be about a fairly specialised situation. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback (including +1s).

[2018-03-20 09:59] #13667 closed

[2018-03-20 09:59] DaveCTurner commented on #14011
This is an interesting idea, but since its opening we have not seen enough feedback that it is something we should work on. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback (including +1s).

[2018-03-20 09:59] #14011 closed

[2018-03-20 10:00] DaveCTurner commented on #13780
This is an interesting idea, but since its opening we have not seen enough feedback that it is something we should work on. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback (including +1s).

[2018-03-20 10:00] #13780 closed

[2018-03-20 10:00] DaveCTurner commented on #14289
This is an interesting idea, but since its opening we have not seen enough feedback that it is something we should work on. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback (including +1s).

[2018-03-20 10:00] #14289 closed

[2018-03-20 10:02] DivyaMalini commented on #25786
@jimczi , as per our discussion at ElasticOn18, I am using this thread to continue investigation on why move to unified highlighter, is contributing to _perf issues at high scale_ that we are dealing with.

The thread already has info on the mapping etc. Do let us know if you need any other data to help us understand the degradation in perf.

[2018-03-20 10:05] DaveCTurner commented on #10103
As I understand it, the situation described here is a transient problem around a node restart in the sense that the cluster sorts itself out eventually once it works out what data it no longer needs. As such, since its opening we have not seen enough feedback that it is something we should work on. We prefer to close this issue as a clear indication that we are not going to work on this at this ti

[2018-03-20 10:05] #10103 closed

[2018-03-20 10:07] DaveCTurner commented on #18723
This is an interesting idea, but since its opening we have not seen enough feedback that it is something we should work on. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback (including +1s).

[2018-03-20 10:07] #18723 closed

[2018-03-20 10:12] DaveCTurner commented on #14158
Closing this as there's no further action needed here. Possibly this will be revisited during the Zen 2 work.

[2018-03-20 10:12] #14158 closed

[2018-03-20 10:14] DaveCTurner commented on #18573
Closing this as it is superseded by the changes we have planned in the Zen 2 project.

[2018-03-20 10:14] #18573 closed

[2018-03-20 10:17] DaveCTurner commented on #22108
Closing this as it is superseded by the changes we have planned in the Zen 2 project.

[2018-03-20 10:17] #22108 closed

[2018-03-20 10:29] cbuescher opened #29157 "[CI] InternalEngineTests testSegmentsStatsIncludingFileSizes fails"
Single failure on 6.x so far:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+aggressive-opts/821/consoleFull

Unfortunately I couldn't reproduce locally:
[code]

The error assertion message looks like this:
[code]

Looking at the test in question it seems like the previous engine refresh should increase the segment stats, which seems to be true in most cases. Not sure if the ass

[2018-03-20 10:49] cbuescher opened #29159 "[CI] InternalAdjacencyMatrixTests testReduceRandom fails"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=debian/821/console

This fails reproducibly on master and 6.x (haven't tried earlier branches):
[code]

Faiure:
[code]

[2018-03-20 10:49] elasticmachine commented on #29159
Pinging @elastic/es-search-aggs

[2018-03-20 10:54] bolivia commented on #29145
Of course I noticed the error message, but I did not change anything.

Where could I look?

[2018-03-20 10:58] jpountz commented on #28803
LUCENE-8197 was just pushed and should be available in Lucene 7.4. So hopefully we'll be able to integrate it soon.

[2018-03-20 11:01] colings86 commented on #29159
@markharwood could you take a look at this?

[2018-03-20 11:04] elasticmachine commented on #29157
Pinging @elastic/es-distributed

[2018-03-20 11:10] bleskes commented on #28206
I agree with the sentiment. Shards are an internal detail and from a user perspective the documents are store in an in index. How to a document is assigned to a shard is internal to the system (although we expose some tooling to allow people to optimize some use cases). Elasticsearch choice of shard is designed as a function of the document id. Once placed, documents are never re-assigned a shard

[2018-03-20 11:10] #28206 closed

[2018-03-20 11:10] markharwood commented on #29091
I've experimented with some query rewriting strategies for searches on news data.

### Cohesion scoring approaches - establishing the gold standard.
I chose to use the list of significant terms from an _exact-phrase_ match as the gold standard against which sloppier query variations are compared. The assumption is always that this is a strong starting query. A weak or ambiguous query is _can_ be d

[2018-03-20 11:11] elasticmachine commented on #27427
Pinging @elastic/es-distributed

[2018-03-20 11:17] elasticmachine opened #29883 "[CI] Problems in Sql-Cli tests during packagingTest"
*Original comment by @cbuescher:*

Link to build failure:
LINK REDACTED

Not reproducable so far with:
[code]

Problems seem to be starting with problems setting up the kibana user in SQL-Cli tests:
[code]

There seem to be problems connecting to port 9201 from the tests also:
[code]

[2018-03-20 11:19] bleskes commented on #24457
@ywelsch I think the idea of the local flag is to make sure that all nodes have processed the fact that the cluster is stable. I think a better way is to first reach out to the master and then validate all nodes have applied at least as high a cluster state version. Does that make sense?

[2018-03-20 11:28] bleskes commented on #23199
I have opened https://github.com/elastic/elasticsearch/pull/29160 containing the [suggested](https://github.com/elastic/elasticsearch/issues/23199#issuecomment-280390691) doc change. I'm going to close the issue as it have become a catch for people to note that run into the shard locking exception. This can be caused by many reasons, each of them, once sorted out, should be tracked in a dedicated

[2018-03-20 11:28] #23199 closed

[2018-03-20 11:30] bleskes commented on #21568
@ywelsch can you advice on the state of things here? It seems that the unbound nature of the queue hasn't been addressed (though it's tricky as to what we should do imo).

[2018-03-20 11:31] bleskes commented on #21471
We are working on addressing this as part of the node validaing in zen 2. @ywelsch @DaveCTurner do you have this captured in another place so we can close the issue?

[2018-03-20 11:33] kabike commented on #26941
I also think this is a bug.

[2018-03-20 11:35] elasticmachine commented on #20834
Pinging @elastic/es-distributed

[2018-03-20 11:36] cbuescher opened #29161 "[CI] RelocationIT testIndexAndRelocateConcurrently fails"
Link to build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-java-periodic/ESJAVA=java9,ESRUNTIME=openjdk10,nodes=linux/11/console

Doesn't reproduce locally so far:
[code]

This looks like the cause of the failure:
[code]

[2018-03-20 11:36] elasticmachine commented on #29161
Pinging @elastic/es-distributed

[2018-03-20 11:41] jasontedor commented on #29145
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. If you post there, someone will try to help you. I should remark though, you should provide a full reproduction for this, something that another member of the community can run on their machine that reproduces the issue exactly. Y

[2018-03-20 11:41] bleskes commented on #20308
There has been no feedback for a while. I'm closing this for now.

[2018-03-20 11:41] #20308 closed

[2018-03-20 11:50] bleskes commented on #19789
@ywelsch This seems to be still an issue where failing to read a disk on a data node can lead to endless shard fetching. I tend to open an issue which is dedicated to that. Do you agree?

[2018-03-20 11:53] bleskes commented on #19660
While being a valid idea, it hasn't seen any interest in the last (almost) 2 years and we have no concrete plans to implement. I'm going to close it for now. We can re-open if the need occurs.

[2018-03-20 11:53] #19660 closed

[2018-03-20 11:55] bleskes commented on #19624
I haven't heard of this being an issue in practice in the last years (it is a valid one though). Since we have no concrete plans of implementing it and are actually doubting whether to keep the dangling indices feature, I'm going to close the issue as won't fix for now. If the need arises we can reopen.

[2018-03-20 11:55] #19624 closed

[2018-03-20 12:01] bleskes commented on #15611
Closing as duplicate of https://github.com/elastic/elasticsearch/issues/21471 . The link in the description doesn't work but glimpsing at the current code it seems that the custom metadata is only leniency we have.

[2018-03-20 12:01] #15611 closed

[2018-03-20 12:02] bleskes commented on #15643
The information of nodes historically being part of the cluster is covered by our monitoring efforts. I feel such an analysis is better done there.

[2018-03-20 12:02] #15643 closed

[2018-03-20 12:11] bleskes commented on #15896
This issue is w.r.t to resending of shard failed message on each incoming cluster state. This can cause an barrage of shard failed messages. It is unneeded as ShardStateAction is now more resilient and should take care of all the retries (network failures, master loss , etc)

[2018-03-20 12:19] bleskes commented on #12847
shard stores should give you insight into closed indices if the ignore unavailable is set to false. I think that given the lack of interest for this feature and the possible workaround, I'm going to close this as won't fix.

[2018-03-20 12:19] #12847 closed

[2018-03-20 12:19] DaveCTurner opened #29162 "[CI] Index synced flush rest test sees 409 Conflict"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+intake/162/consoleText

[code]

    REPRODUCE WITH: ./gradlew :qa:mixed-cluster:v5.6.9-SNAPSHOT#mixedClusterTestRunner -Dtests.seed=8FC9D8CFC41D4733 -Dtests.class=org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT -Dtests.method="test {p0=indices.flush/10_basic/Index synced flush rest test}" -Dtests.security.manager=true

[2018-03-20 12:19] elasticmachine commented on #29162
Pinging @elastic/es-distributed

[2018-03-20 12:19] astefan commented on #21844
@jpountz do you think this change (which basically says that using `minimum_should_match: [value_greater_than_0]` with only `must` statements will match no documents) should be documented somehow? It is not clear from the three docs I looked at - [`bool` documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-bool-query.html), [`query_string` documentation](https:/

[2018-03-20 12:23] elasticmachine commented on #26258
Pinging @elastic/es-search-aggs

[2018-03-20 12:25] bleskes commented on #23631
@nik9000 I presume this is no longer relevant?

[2018-03-20 12:26] bleskes commented on #22866
I'm closing this for now as it has been stale for a while. If the need arises to do this, we can' revisit.

[2018-03-20 12:26] #22866 closed

[2018-03-20 12:27] bleskes commented on #21768
Closing as the issue description is too broad to be actionable (doesn't mean it isn't valid). Some of it has been picked up already.

[2018-03-20 12:27] #21768 closed

[2018-03-20 12:28] bleskes commented on #21511
/cc @elastic/es-search-aggs

[2018-03-20 12:39] bleskes commented on #12475
Closing as this is as a lot have changed around index deletion  and importing of deleted indices. I don''t think there's any point of chasing it down.

[2018-03-20 12:39] #12475 closed

[2018-03-20 12:40] bleskes commented on #12471
closing as we now have a full cluster restart tests.

[2018-03-20 12:40] #12471 closed

[2018-03-20 12:41] bleskes commented on #12314
I haven't seen a lot of issues of this in recent history. It's also a complex thing to do. Closing for now. If it bubbles up again we can reopen.

[2018-03-20 12:41] #12314 closed

[2018-03-20 12:43] bleskes commented on #11582
I'm closing this as it isn't clear what actually happened and we've had no feedback for a while.

[2018-03-20 12:43] #11582 closed

[2018-03-20 12:47] gmoskovicz commented on #21844
I think that we need to improve the documentation. There is no indication of this change, and looking at the current behavior it changed since 2.x.

[2018-03-20 12:50] bleskes commented on #16911
@nik9000 can you comment on where we stand on this one? Thanks.

[2018-03-20 13:02] DaveCTurner commented on #29162
It looks like a serialisation failure, and #29103 did change the wire format. I'm not yet clear how this results in the problem seen here, but I'm backing it out to allow for further progress.

[code]

[2018-03-20 13:04] dnhatn commented on #29162
@DaveCTurner I am looking at this.

[2018-03-20 13:08] #28376 closed

[2018-03-20 13:10] jasontedor commented on #28809
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2018-03-20 13:10] #28809 closed

[2018-03-20 13:10] jakommo opened #29163 "Improve documentation on how to set up file descriptors if a graphical environment + systemd is used"
From time to time I see issues with file descriptor changes in `/etc/security/limits.conf` not being picked up, if the user runs a GNU/Linux system with a graphical environment and runs Elasticsearch from `tgz/zip` distribution.

It looks like newer distributions that run with `systemd` and a GUI require additional settings to be applied.
We already document that the limits need to be changed in `

[2018-03-20 13:53] dakrone commented on #4739
This feature request is an interesting idea but since its opening we have
not seen enough feedback that it is a feature we should pursue. We prefer
to close this issue as a clear indication that we are not going to work on
this at this time. We are always open to reconsidering this in the future
based on compelling feedback; despite this issue being closed please feel
free to leave feedback on the

[2018-03-20 13:53] #4739 closed

[2018-03-20 13:55] dakrone commented on #11700
Since it has been over two years with no movement on this issue, I am going to close it. If it's something others find useful please do speak up!

[2018-03-20 13:55] #11700 closed

[2018-03-20 13:56] dakrone commented on #14556
This feature request is an interesting idea but since its opening we have
not seen enough feedback that it is a feature we should pursue. We prefer
to close this issue as a clear indication that we are not going to work on
this at this time. We are always open to reconsidering this in the future
based on compelling feedback; despite this issue being closed please feel
free to leave feedback on the

[2018-03-20 13:56] #14556 closed

[2018-03-20 14:04] elasticmachine opened #29884 "[CI] CoreWithSecurityClientYamlTestSuiteIT frequently times out"
*Original comment by @cbuescher:*

There are a couple of test failures related to CoreWithSecurityClientYamlTestSuiteIT recently. They errors look somewhat different but from the logs it appears some tests are alway timing out. I haven't found any hint of the cause of this yet in the logs but want to file this to group these failures together.

Some recent ones:

LINK REDACTED

Doesn't reproduce f

[2018-03-20 14:06] dakrone commented on #16641
This feature request is an interesting idea but since its opening we have
not seen enough feedback that it is a feature we should pursue. We prefer
to close this issue as a clear indication that we are not going to work on
this at this time. We are always open to reconsidering this in the future
based on compelling feedback; despite this issue being closed please feel
free to leave feedback on the

[2018-03-20 14:06] #16641 closed

[2018-03-20 14:22] dakrone commented on #17446
I think since it has been 2 years and we haven't done this, we can close it.

This feature request is an interesting idea but since its opening we have
not seen enough feedback that it is a feature we should pursue. We prefer
to close this issue as a clear indication that we are not going to work on
this at this time. We are always open to reconsidering this in the future
based on compelling feedb

[2018-03-20 14:22] #17446 closed

[2018-03-20 14:27] dakrone commented on #17620
We haven't touched this in a year and it's received no +1s, so I believe this can be closed.

[2018-03-20 14:27] #17620 closed

[2018-03-20 14:27] mwanamziki commented on #27226
@cawoodm asking, how do you check for multiple running instances of logstash ?

[2018-03-20 14:28] dakrone commented on #19103
Closing this as we no longer are working on the 1.x branches and they are far past the EOL cycle.

[2018-03-20 14:28] #19103 closed

[2018-03-20 14:31] dakrone commented on #17548
@Mpdreamz since this has been untouched for so long, is this still something you need?

[2018-03-20 14:33] cbuescher commented on #28685
Another one:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+multijob-windows-compatibility/250/console

[2018-03-20 14:34] dakrone commented on #21230
This feature request is an interesting idea but since its opening we have
not seen enough feedback that it is a feature we should pursue. We prefer
to close this issue as a clear indication that we are not going to work on
this at this time. We are always open to reconsidering this in the future
based on compelling feedback; despite this issue being closed please feel
free to leave feedback on the

[2018-03-20 14:34] #21230 closed

[2018-03-20 14:35] dakrone commented on #21221
This feature request is an interesting idea but since its opening we have
not seen enough feedback that it is a feature we should pursue. We prefer
to close this issue as a clear indication that we are not going to work on
this at this time. We are always open to reconsidering this in the future
based on compelling feedback; despite this issue being closed please feel
free to leave feedback on the

[2018-03-20 14:35] #21221 closed

[2018-03-20 14:39] dakrone commented on #28053
I searched through my mail and wasn't able to find another failure from this after the push Nik made, so I am closing this for now.

[2018-03-20 14:47] dakrone commented on #26981
I believe the latest version of the documentation explains the "size" parameter much better, so I am going to close this. If someone disagrees please let us know or open a new issue.

[2018-03-20 14:47] #26981 closed

[2018-03-20 14:49] dakrone commented on #26466
This feature request is an interesting idea but since its opening we have
not seen enough feedback that it is a feature we should pursue. We prefer
to close this issue as a clear indication that we are not going to work on
this at this time. We are always open to reconsidering this in the future
based on compelling feedback; despite this issue being closed please feel
free to leave feedback on the

[2018-03-20 14:49] #26466 closed

[2018-03-20 14:52] dakrone commented on #26192
Haven't seen these failures for quite a while, so closing this for now.

[2018-03-20 14:52] #26192 closed

[2018-03-20 14:54] dakrone commented on #26153
@andyb-elastic is this something you are still working on?

[2018-03-20 14:54] dakrone commented on #25453
Haven't seen this fail in a long time, so closing this.

[2018-03-20 14:54] #25453 closed

[2018-03-20 14:58] dakrone commented on #25718
@javanna is this still something we want to pursue? My original trepidation still stands

[2018-03-20 14:59] dakrone commented on #24898
This should be closed by #26841

[2018-03-20 14:59] #24898 closed

[2018-03-20 15:00] dakrone commented on #24344
@nik9000 it's been almost a year, is this something we're still considering?

[2018-03-20 15:02] dakrone commented on #23745
It appears that a consensus was reached on this issue, does this need further discussion @jasontedor or can it be marked "adopt me"?

[2018-03-20 15:05] polyfractal commented on #20665
Closing in favor of https://github.com/elastic/elasticsearch/issues/21293.

The request in #21293 seems very similar (aggregating over `geo_shapes` to provide a heat map of sorts), but should be more general since it's a bucketing aggregation instead of just a metric.

[2018-03-20 15:05] #20665 closed

[2018-03-20 15:08] adityasrini commented on #26981
Shall I close my PR?

[2018-03-20 15:14] javanna commented on #25718
I would think we should do something about it @dakrone but I would discuss this with the core/infra team so that we reach a final decision.

[2018-03-20 15:21] javanna opened #29169 "Broadcast responses always return 200 - OK"
Besides `RefreshResponse`, all our `BroadcastResponse`s always return `200`, despite they may contain shard failures. Should we change that to not ignore the status from the response? Here is a list of the API that are affected:

- upgrade
- upgrade status
- indices segments
- clear cache
- flush
- validate query
- recovery
- indices stats
- force merge

Only the refresh response calls the followi

[2018-03-20 15:21] elasticmachine commented on #29169
Pinging @elastic/es-core-infra

[2018-03-20 15:24] elasticmachine commented on #23745
Pinging @elastic/es-core-infra

[2018-03-20 15:32] dakrone commented on #29153
@joshuar if it were dynamic, a malicious user could dynamically add a host to `reindex.remote.whitelist` and then continually request that the original ES server try to contact whatever host was added, essentially turning ES into a server that makes http connections on behalf of the malicious user. I don't think this should be a dynamic setting.

[2018-03-20 15:44] jkelastic opened #29170 "Improve documentation on Windows SSL / TLS ES 6.X / setup"
**Elasticsearch version** ES 6.X

**OS version** Windows Server 2012 R2 / Windows Server 2016

**Description of the problem including expected versus actual behavior**:

There seem to be a lack of / lack of details on Windows SSL / TLS setup documentation. For Windows / Linux some notes to add to the current setup doc link below would be

https://www.elastic.co/guide/en/elasticsearch/reference/6.2

[2018-03-20 15:44] elasticmachine commented on #29170
Pinging @elastic/es-core-infra

[2018-03-20 15:50] polyfractal commented on #27544
@elastic/es-search-aggs

[2018-03-20 15:52] elasticmachine commented on #24587
Pinging @elastic/es-search-aggs

[2018-03-20 16:14] andyb-elastic commented on #26153
@dakrone not actively, we're waiting on a new API from #26472. I think we can close this as that feature isn't on the roadmap yet. Additional feedback is always welcome.

In the meantime, users encountering this problem with scrolls should use `search_after` if they can accept not having a point-in-time-view like scrolls provide.

[2018-03-20 16:14] #26153 closed

[2018-03-20 16:58] ywelsch commented on #21568
With the fixes done for 1) and 2), we have not gotten recent reports of this OOM kind anymore. As updates are not hogging memory anymore, remaining issues due to the unbounded nature of the pending cluster tasks queue have manifested in the form of the master node becoming slow/unavailable/CPU-bound when running into a high number of pending tasks. Other open issues capture work that helps with av

[2018-03-20 16:58] #21568 closed

[2018-03-20 17:00] elasticmachine opened #29885 "[CI] IllegalStateException: expiryDate in rolling-upgrade-basic:v6.3.0-SNAPSHOT#mixedClusterTestCluster"
*Original comment by @cbuescher:*

LINK REDACTED

[code]

[2018-03-20 17:07] jasontedor commented on #29162
Please silence this test, it is blocking other effort.

[2018-03-20 17:08] ywelsch commented on #19789
This could also be seen as falling under the umbrella of #18417, even if the issue technically happens before the shard is even allocated to the broken FS / node. How about closing this one and adding a comment to the linked issue?

[2018-03-20 17:52] elasticmachine opened #29886 "Handling of params specified in path setting"
*Original comment by @ppf2:*

The documentation for request.path started specifying the following in the x-pack 6.2 documentation:

It will be helpful to have some indication/warning for the end user at watch config validation time when params are specified as part of the path though because the http call will still work except that it will disregard all the options in the url.

For example:

[cod

[2018-03-20 17:59] cbuescher opened #29175 "[CI] MasterDisruptionIT testMasterNodeGCs fails ocassionaly"
Seen today:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=centos/824/console

and a couple of days ago:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.1+aggressive-opts/10/console

Not reproducable locally so far:
[code]

There are several timeouts in the log:
[code]

Later I see this exception.
[code]

[2018-03-20 17:59] elasticmachine commented on #29175
Pinging @elastic/es-distributed

[2018-03-20 18:03] ropetin commented on #11609
FYI, this is still an on-going issue.  I have just run into it with 6.2.2 about 30 minutes ago.  Filesystem snapshots are still a supported feature, correct?  So unless anyone fixed the root issue (they haven't) the problem will still be there.   I can't fix the code, but I can fix the documentation maybe.  Which documentation are you referring to when you mention accepting changes?

[2018-03-20 18:16] dnhatn commented on #29162
I've backported #29103 to 6.2 and corrected the BWC versions in 5.6.9.

[2018-03-20 18:44] rjernst opened #29176 "Add back environment variable to add to ES classpath"
Back in 2.1, we removed the ability to set the classpath for elasticsearch (https://github.com/elastic/elasticsearch/pull/13880). This change was motivated by both buggy setting of the classpath env var by our start scripts, as well as misconfiguration by users. The assumption was users should not muck with the classpath; instead they they should write plugins which are given the property Security

[2018-03-20 18:44] elasticmachine commented on #29176
Pinging @elastic/es-core-infra

[2018-03-20 18:49] rjernst opened #29177 "Lock down cli scripts classpath"
The cli scripts currently all use a `*` classpath of the lib directory in the elasticsearch installation. This means not only the jars that come with elasticsearch, but any others that are dropped into the lib dir, will be used. This issue is to discuss building explicit classpaths at distribution build time, which explicitly list the jars we ship with. Based on the outcome of #29176, we would als

[2018-03-20 18:49] elasticmachine commented on #29177
Pinging @elastic/es-core-infra

[2018-03-20 19:45] mayya-sharipova commented on #22478
@gibrown  Can you please confirm what tokens do you expect when you index ""Is this déjà vu?"
Are you expecting ngrams (3-15) as well?

"Is t"
"Is th"
...
Can you index using edge ngram tokenizer?
And if you need original tokens as well, can you use  another field for this?

`keyword_repeat` is specifically designed to be followed by some stem filter.  It is not relevant for edge ngrams.

[2018-03-20 19:45] mayya-sharipova commented on #22478
cc @elastic/es-search-aggs

[2018-03-20 19:59] mayya-sharipova commented on #14414
cc @elastic/es-search-aggs

[2018-03-20 20:17] andyb-elastic commented on #21055
It looks like duplicate names are still allowed in master, both with `name` explicitly provided or not. This sounds like something we likely still want to do

@elastic/es-search-aggs

[2018-03-20 20:28] gibrown commented on #22478
For edgengrams on "Is this déjà vu?" I would only expect the following tokens:
"is","thi","this","dej","deja","vu"

"is t" and "is th" would not be in the index.

No we are using the icu_tokenizer. We are doing indexing across all languages. Technically we should even be using special tokenization for Japanese, Korean, and Chinese so we can get the tokenization correct there.

Thanks for taking a

[2018-03-20 20:30] mayya-sharipova commented on #22478
@gibrown If you find the workaround, would you mind if I close this issue?

[2018-03-20 20:52] anthraxx opened #29178 "missing git release tag 6.2.3"
Apperantly the git tag for 6.2.3 is missing (as announced downloadable on the website).

It would be gorgeos to keep that in sync, i believe a simple push was forgotten :cat:

cheers

[2018-03-20 20:54] gibrown commented on #22478
I still think that some way to index edgengrams from X-Y plus also the original token would be a very worthwhile improvement. I would use it if it were available. I still think the keyword_repeat is the closest approximation. My workaround breaks if i am trying to do a phrase match. For instance: `"is this dej"`

Technically what I would love is a clearer language that lets me have multiple flows

[2018-03-20 21:21] andyb-elastic commented on #17076
It looks like this works on master, no longer throwing an NPE as described

@elastic/es-search-aggs

[2018-03-20 21:21] #17076 closed

[2018-03-20 21:29] TsapAndrii opened #29179 "connection reset by peer"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2018-03-20 21:30] #29179 closed

[2018-03-20 21:30] Mpdreamz commented on #17548
This would introduce a breaking change in `6.x` now so not immediately. I definitely want to reopen this discussion for `7.x` but more than happy to kick off a new ticket then.

cc @elastic/es-clients

[2018-03-20 21:32] elasticmachine commented on #29178
Pinging @elastic/es-core-infra

[2018-03-20 21:33] TsapAndrii commented on #29179
misclick, sorry)

[2018-03-20 21:34] #17548 closed

[2018-03-20 21:35] jasontedor commented on #29178
Thanks for noticing, thanks for opening an issue, we are sorry for the delay and are on it.

[2018-03-20 21:36] andyb-elastic commented on #27740
@elastic/es-search-aggs

[2018-03-20 21:43] hub-cap commented on #29178
https://github.com/elastic/elasticsearch/tree/v6.2.3

tyvm for the submission!

[2018-03-20 21:43] #29178 closed

[2018-03-20 21:44] anthraxx commented on #29178
no worries, thanks a lot for the fast response, handling and appreciation. awesome

[2018-03-20 21:47] andyb-elastic commented on #20985
From the discussion here it sounds like this isn't something we currently want to implement. We're always open to reconsidering in the future based on feedback, which is always welcome.

@elastic/es-search-aggs

[2018-03-20 21:47] #20985 closed

[2018-03-20 21:51] andyb-elastic commented on #16551
@elastic/es-search-aggs

[2018-03-20 22:28] #23499 closed

[2018-03-20 22:30] jasontedor commented on #29169
Relates #23059, relates #28522

[2018-03-20 22:40] jasontedor commented on #29169
Good issue to discuss @javanna.

I think that we are doing the right thing here; a 200 OK from the coordinating node means: I got your request, it checked out okay, and I didn't blow up dutifully forwarding the request to other node(s) in the cluster nor in parsing their response(s), and here is a response back. I think we should reserve a 400 reply from the coordinating node for a bad request tha

[2018-03-20 22:50] hijakk opened #29180 "Elastic Official NiFi processors"
Apache [NiFi](https://nifi.apache.org/) is an increasingly commonly used Extract/Transform/Load engine. It has some different use cases than Logstash, and is quite popular in some sectors.

It has some NiFi community maintained processors for interacting with Elasticsearch, but per feedback from Elasticon, some folks who have considered NiFi have decided not to use it due to gaps between the curre

[2018-03-20 23:05] andyb-elastic commented on #12315
@elastic/es-search-aggs

[2018-03-20 23:34] tbrooks8 commented on #14848
@debadair - Is this issue still in progress? Or have the docs been updated since this was created?

[2018-03-20 23:57] tbrooks8 commented on #20250
@jimczi - Is this still something we want to do? This issue has not been active in a while.

[2018-03-21 00:09] andyb-elastic commented on #24910
@elastic/es-search-aggs @mayya-sharipova @polyfractal

[2018-03-21 00:24] andyb-elastic commented on #22776
@elastic/es-search-aggs

[2018-03-21 00:49] andyb-elastic commented on #27130
@elastic/es-search-aggs

[2018-03-21 05:15] #22056 closed

[2018-03-21 05:47] kabike opened #29181 "suggest_mode in term suggester not working correctly"
**Elasticsearch version** :Version: 6.1.1, Build: bd92e7f/2017-12-17T20:23:25.338Z

**Plugins installed**: []

**JVM version** :java version "1.8.0_151"

**OS version** :Linux dev24.mr 3.10.0-514.26.2.el7.x86_64 #1 SMP Tue Jul 4 15:04:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
Suggest_mode in term suggester not working corr

[2018-03-21 08:09] YavorTelerik opened #29182 "Inner_hits in update_by_query"
Hi,
Is it possible to access inner_hits in script when using update_by_query?
I am not able to do it currently. The idea is to update fields on nested documents that meet certain criteria in the query part of the update_by_query.

[2018-03-21 08:30] martijnvg commented on #21878
@spiegela Apologies for leaving this bug report unattended. Currently the request that you were making is working as expected. I will close this issue, since it has been reported a long time and many things have changed in the meantime. Feel free to open another issue if you still manage to reproduce this error on a recent ES version.

[2018-03-21 08:30] #21878 closed

[2018-03-21 08:51] martijnvg commented on #27037
Closing, because it is better to not deviate from what `/proc/diskstats` returns. Dashboards and other tools than need byte level granularity can perform a simple multiplication.

[2018-03-21 08:51] #27037 closed

[2018-03-21 08:58] DaveCTurner opened #29183 "Misplaced closing brace in stats output"
I received an output from `GET /_stats?level=shards` from Elasticsearch 6.2.2 which was corrupt because the final closing brace was included far too early. I cannot share the whole file, but here's the offending brace and the end of the file where it should have appeared:

Lines 29525-29535:
[code]

Hex dump:
[code]

Lines 422734-422740 (end of file):
[code]

Hex dump:
[code]

I am still to invest

[2018-03-21 08:58] elasticmachine commented on #29183
Pinging @elastic/es-core-infra

[2018-03-21 08:59] jimczi commented on #29181
The `missing` option is applied per shard, in your example you create an index with 5 shards and only one document contains `humane` so the 4 other shards can return a suggestion for this term.
Currently there is no way to discard a suggestion if the input exists in at least one shard.
Closing as duplicate of #7472

[2018-03-21 08:59] #29181 closed

[2018-03-21 09:12] yrodiere opened #29184 "Elasticsearch High Level Client has a transitive dependency to Lucene"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.3

**Plugins installed**: N/A

**JVM version** (`java -version`): any

**OS version** (`uname -a` if on a Unix-like system): any

**Description of the problem including expected versus actual behavior**:

The Elasticsearch High Level Client seems to depend on internal Elasticsearch code, and ends up having a transitive dependency to Lu

[2018-03-21 09:14] elasticmachine commented on #29182
Pinging @elastic/es-search-aggs

[2018-03-21 09:18] dadoonet commented on #29184
See a related discussion here: https://github.com/elastic/elasticsearch/issues/23331#issuecomment-286335508

[2018-03-21 09:20] jimczi commented on #29182
`update_by_query` uses the original `_source` of the document so only this data is accessible in the update script. There is no easy way to link an inner_hits result with a an entry in the `_source` and you cannot update nested documents partially (an update must resend all nested documents even those that did not changed) so the logic to update only some parts of the `nested` documents is not com

[2018-03-21 09:20] #29182 closed

[2018-03-21 09:32] gsmet commented on #29184
@dadoonet I can see how the end goal would be to not depend on Elasticsearch itself but AFAICS from the issues it does not seem to be something we would have early.

Trimming down the dependency tree could be a good first step, that can be done right away without requiring too much work as it would just require adding some exclusions.

[2018-03-21 09:35] dadoonet commented on #29184
IIRC it's because some builders depends on Lucene and some other classes like Version as you mentioned. So excluding Lucene is just not that easy.

But that's my 2 cents on this. I prefer having @javanna answering :)

[2018-03-21 09:37] elasticmachine commented on #29184
Pinging @elastic/es-core-infra

[2018-03-21 09:40] scampi opened #29185 "Visibility of methods and/or classes"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.2

There exists public methods which take an object as parameter that is package private, thus making it impossible for plugins to actually use that method.

As an example:

- the [SearchTransportService.sendExecuteQuery](https://github.com/elastic/elasticsearch/blob/v6.2.2/server/src/main/java/org/elasticsearch/action/search/SearchTra

[2018-03-21 09:46] jimczi commented on #29180
Hi,
we don't provide anything related to third party ingestion in Elasticsearch directly. For this purpose we use other components of the stack (beats and logstash for instance). You should open an issue in these repos directly. We can also help you in the forum (https://discuss.elastic.co/t) if you want to write such processors by providing advices on the best way to send data to es. For these re

[2018-03-21 09:46] #29180 closed

[2018-03-21 09:48] elasticmachine commented on #19720
Pinging @elastic/es-core-infra

[2018-03-21 09:59] garvitlnmiit opened #29186 "Functionality to pass request context in performRequestAsync and retrieve it from the listener's response"
**Describe the feature**: Functionality to pass request context in performRequestAsync and retrieve it from the listener's response

**Elasticsearch version** (`bin/elasticsearch --version`): All

**JVM version** (`java -version`): All

**Description of the problem including expected versus actual behavior**: Currently, if I call performRequestAsync() method then I won't be able to pass request co

[2018-03-21 10:01] jimczi commented on #29185
This class is not meant to be used outside of the package where it is declared so it should not be needed inside a plugin. Out of curiosity why do you think that you need it ?

[2018-03-21 10:01] elasticmachine commented on #29185
Pinging @elastic/es-core-infra

[2018-03-21 10:06] kabike commented on #29181
thanks

[2018-03-21 10:09] jimczi commented on #29186
Hi @garvitlnmiit ,
can you be more specific regarding your feature request.  The title does not describe what you want to achieve or the functionality that you want.
From what I understand from the title you can already provide specific headers in your request, is it not enough ?

[2018-03-21 10:09] elasticmachine commented on #29186
Pinging @elastic/es-core-infra

[2018-03-21 10:12] garvitlnmiit commented on #29186
Hi @jimczi Please check now, I have described the issue.

[2018-03-21 10:16] jimczi commented on #29186
Sorry but I don't understand why this would be useful. Can you describe a use case for this functionality ?

[2018-03-21 10:25] garvitlnmiit commented on #29186
@jimczi

Let's say for a request I call Elasticsearch asynchronously and on receiving the response I want to call another service which takes this response and original request context. For this, I need to know the request context at the time of response.

Request context could be anything which we want to pass on further like order_id, user_id, user_id etc.

[2018-03-21 10:30] jimczi commented on #29186
Well you can do what you want with the listener since it's just an interface. You can save the context in the listener and use it when `onResponse` is called ?

[2018-03-21 10:30] #29185 closed

[2018-03-21 10:31] garvitlnmiit commented on #29186
But for that, I will have to create a new listener for each request, isn't it?

[2018-03-21 10:40] droberts195 commented on #29162
This is still failing when testing for BWC against 6.0.0 in the 6.2 branch: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+bwc-tests/178/consoleText

I think there is a problem in this method that was added in f10a3edbf12f7d4633f2e4e65db04fd39e805448, as it assumes that _all_ variants of 6.0 support the new functionality whereas in reality only 6.0 HEAD does.  Released versions

[2018-03-21 10:41] jimczi commented on #29186
Well probably, depending on what you do with this context and the action that you takes on the listener. I think it's better to discuss this in the forum first (https://discuss.elastic.co/c/elasticsearch), we reserve github for bugs report and feature request but I think that your request can be handled with the current framework. For these reasons I hope you don't mind if I close this issue, If y

[2018-03-21 10:41] #29186 closed

[2018-03-21 10:42] #29159 closed

[2018-03-21 10:53] olee commented on #24898
And what about the `doc` parameter that `_update` accepts but not `_update_by_query`?

[2018-03-21 10:55] garvitlnmiit commented on #29186
@jimczi Can answer the concerns?

[2018-03-21 10:57] garvitlnmiit commented on #29186
Using your approach, a new listener object would get created for every request. Don't think this is a scalable approach?

If you know how this can be handled then let me know else re-open the issue.

[2018-03-21 11:05] jimczi commented on #29186
Creating a new listener object for each request is not an issue, you cannot have millions of queries per second in the same client so I don't see how it could be a scaling issue. Creating a tiny object per request shouldn't affect your throughput.

[2018-03-21 11:12] garvitlnmiit commented on #29186
@jimczi

Still not a satisfactory explanation.

You really don't think the need for having that functionality in the listener itself?

Can you pull in someone from your team who can provide some better explanation rather than saying use more resources?

[2018-03-21 11:15] jimczi opened #29190 "TopHitsAggregation should honor `index.max_result_window`"
We have an index setting that limits the number of top hits that can be retrieved in a single request.
By default it limits the `from` + `size` options to be less than `10,000`. Though this limit is not applied to TopHitsAggregation which can use whatever size and from they want. We should check this setting and fail the query if the provided `from` + `size` are greater than this limit.

[2018-03-21 11:18] jimczi commented on #29190
cc @elastic/es-search-aggs

[2018-03-21 11:21] droberts195 commented on #29162
I think this is a blocker for release of 6.2.4.  If the 6.2 branch were released in its current state then the shipped product would not work in a mixed version cluster with released builds of 6.0 and 6.1.

[2018-03-21 11:32] jimczi commented on #29186
The listener is an interface that you need to implement, I really don't see why you could not implement this functionality even if you want to reuse the same listener for multiple requests. My answer is not to add more resources but that you can do whatever you want with this listener, we don't enforce anything. Adding a complex object passing to this interface in es is just out of the scope, for

[2018-03-21 11:36] garvitlnmiit commented on #29186
@jimczi

I think you are not getting it completely, Can you ask someone else to comment on this issue ?

[2018-03-21 11:41] elasticmachine commented on #9438
Pinging @elastic/es-core-infra

[2018-03-21 11:43] elasticmachine commented on #19468
Pinging @elastic/es-core-infra

[2018-03-21 11:47] elasticmachine commented on #16162
Pinging @elastic/es-core-infra

[2018-03-21 11:50] hub-cap commented on #18819
After chatting with @s1monw we prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the proposal (including +1s).

[2018-03-21 11:50] #18819 closed

[2018-03-21 11:51] hub-cap commented on #9997
This feature request is an interesting idea but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the

[2018-03-21 11:51] #9997 closed

[2018-03-21 11:54] hub-cap commented on #19468
We have a new way to report potential vulnerabilities, and it is explained [here](https://www.elastic.co/community/security). If you feel there is a concrete violation you have found, please report it. Im CC'ing @elastic/security so they are aware of the closing of this issue.

[2018-03-21 11:54] #19468 closed

[2018-03-21 12:01] DaveCTurner commented on #29162
I think 5.6.9 is similarly blocked, although I don't think we have tests for that. @bleskes @dnhatn do you think we should carry on trying to fix the BWC implications of #29103 or would it be better to back out and regroup first?

[2018-03-21 12:04] colings86 commented on #29186
@garvitlnmiit please do not dismiss peoples comments in this way and ask for others to comment. This is an open community where anyone is encouraged to comment and should be able to do so without fear of being dismissed. Not getting a response you hoped for from one developer is not a acceptable reason to dismiss their comments.

As @jimczi says there is no reason for us to add this context object

[2018-03-21 12:07] garvitlnmiit commented on #29186
Ok. I was just looking for another opinion from your team.

[2018-03-21 12:21] dnhatn commented on #29162
@DaveCTurner and @droberts195 I am looking at this.

[2018-03-21 12:25] s1monw commented on #16162
I was suggesting a disk utility if you repair the index by dropping corrupted segments. I think for your use-case and API is just fine.

[2018-03-21 12:26] droberts195 commented on #29162
I muted the failing tests on the 6.2 branch in fc91822d351170dcb28025b03d83852031611c8a.

But if you check out the commit before the muting, it can be reproduced like this:

[code]

[2018-03-21 12:38] hub-cap commented on #20367
This feature request is an interesting idea but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the

[2018-03-21 12:42] xing00lian commented on #11506
赞

[2018-03-21 12:43] hub-cap commented on #19862
This feature request is an interesting idea but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the

[2018-03-21 12:45] s1monw commented on #29186
@garvitlnmiit I do agree with @jimczi here that passing a dedicated listener should do the job just fine. I don't think there is any need to pass additional objects. Having a pattern like this is quite common and is considered best practice:

[code]
I hope this can clarify your concerns.

[2018-03-21 12:45] hub-cap commented on #20210
Closing this for lack of detail. There is definitely a limitation to the number of aliases for a normal deployment.

[2018-03-21 12:45] #20210 closed

[2018-03-21 12:50] hub-cap commented on #20367
After some more internal chat w/ teammates, we are going to leave this issue open for now.

[2018-03-21 12:50] elasticmachine commented on #20367
Pinging @elastic/es-core-infra

[2018-03-21 12:51] elasticmachine commented on #20640
Pinging @elastic/es-core-infra

[2018-03-21 12:54] elasticmachine commented on #3861
Pinging @elastic/es-core-infra

[2018-03-21 12:54] niemyjski commented on #20367
Thank you!

Thanks
-Blake Niemyjski

On Wed, Mar 21, 2018 at 7:51 AM, Elastic Machine <notifications@github.com>
wrote:

[2018-03-21 12:55] elasticmachine commented on #17426
Pinging @elastic/es-core-infra

[2018-03-21 13:03] hub-cap commented on #20903
This feature request is an interesting idea but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the

[2018-03-21 13:03] #20903 closed

[2018-03-21 13:05] hub-cap commented on #20988
This feature request is an interesting idea but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the

[2018-03-21 13:05] #20988 closed

[2018-03-21 13:05] garvitlnmiit commented on #29186
@s1monw I had already implemented this way, the discussion here is about the scalable approach.

[2018-03-21 13:06] elasticmachine commented on #21105
Pinging @elastic/es-core-infra

[2018-03-21 13:07] elasticmachine commented on #21337
Pinging @elastic/es-core-infra

[2018-03-21 13:11] elasticmachine commented on #22829
Pinging @elastic/es-core-infra

[2018-03-21 13:12] dnhatn commented on #29162
Talked to @bleskes, we agreed to include #29103 in 6.2.4+ but not in 5.x. I am making the change soon.

[2018-03-21 13:13] clintongormley commented on #17426
This is unlikely to happen in the foreseeable future.  I'm going to close for now

[2018-03-21 13:13] #17426 closed

[2018-03-21 13:26] elasticmachine commented on #23481
Pinging @elastic/es-core-infra

[2018-03-21 13:28] s1monw commented on #29186
you mean you are concerned that this additional object per request keeps you from scaling? I wonder if this is premature optimization in your case. The JVM is very good at allocating these object fast and since they are short living they should be collected very quickly. I am not sure I follow what you mean by scalable approach.

[2018-03-21 13:30] snowzach opened #29191 "Allow enabling doc_values on meta fields (specifically _field_names)"
We would like the ability to enable doc_values on meta fields (specifically _field_names)

In our situation we don't control all the fields and we want to be able to look up the field names in a subset of documents (filtered by a query) We can do this with mapping but it ends up with all fields and not just the subset we are interested in.

Older versions used to support this and it would be great

[2018-03-21 13:34] garvitlnmiit commented on #29186
@s1monw Yes, you got it right. But still I am not able to convince myself as the number of requests is too much in my case (~ 1million per minute)

[2018-03-21 13:50] bleskes commented on #29169
We bump every once in a while into the fact that there is no status code for "partial results". As @jasontedor  noted we had similar discussions for the bulk API. I'm +1 on Jason's suggestion - "bundled" requests' status should reflect the result of coordination. For individual sub-request people should look at the body.

[2018-03-21 13:56] awick commented on #17426
What about the original ask of renaming a closed index?

[2018-03-21 13:57] jimczi commented on #29191
Starting in 6.1 (https://github.com/elastic/elasticsearch/pull/26930) we don't populate the `_field_names` field for fields that have `doc_values` or `norms` activated (so all default field).
This means that it contains only a subset of the fields (and most of the time it will be empty).
This field should be considered as internal and queries should not try to directly interact with it. It was add

[2018-03-21 13:57] #29191 closed

[2018-03-21 13:59] bleskes commented on #18417
We have another, non trivial, of instance of this in shard fetching. When it hard fails on a node (rather then succeeding by finding a broking copy) we currently redo the fetching. This is an easy way around networking issue but can be poisonous on disk failures (for example).

[2018-03-21 13:59] bleskes commented on #19789
works for me. Added a comment to #18417

[2018-03-21 13:59] #19789 closed

[2018-03-21 14:36] jimczi commented on #29180
I am sure there is a chance for further discussions but in another repo or in another call ;). We reserve this github for feature requests regarding Elasticsearch and verified bugs.

[2018-03-21 14:46] elasticmachine commented on #25718
Pinging @elastic/es-core-infra

[2018-03-21 14:57] javanna commented on #29169
See https://github.com/elastic/elasticsearch/commit/39e7c3091244ac1d77d8c482ef870e95c428d946 for the commit that introduced returning error if there are shard failures for refresh API. Not sure what the implications could be of changing this back. Seems like the `getStatus` method should have been added in `RefreshResponse` rather than `BroadcastResponse`?.

When it comes to API like refresh and f

[2018-03-21 15:05] tlrx commented on #7939
We looked at this today with @ywelsch and we came up with the idea of reusing the date math expression resolver that already exists for indices.

This way we could create a snapshot like
[code]
and it would be resolved to `snapshot-2018.03.21`.

[2018-03-21 15:20] tlrx commented on #9488
We talked about this today with @ywelsch and this is still something we want to do. We think that the repository could be registered as it is today, but the existence of the filesystem/bucket/whatever could be delayed to the first access to the repository.

[2018-03-21 15:31] tlrx commented on #9806
@s1monw can you please tell us if that's still something that needs to be done?

[2018-03-21 15:41] ywelsch commented on #11083
I talked with @tlrx about this: We think that this feature is targeting an archiving solution, and less useful for how snapshot/restore is used right now. We have no immediate plans to work on this, which is why I'm closing this issue.
@mellieA can you elaborate on the use cases where you would like to have list of associated files?

[2018-03-21 15:41] #11083 closed

[2018-03-21 15:51] dstrop opened #29193 "sort by preferred nested object"
running docker image docker.elastic.co/elasticsearch/elasticsearch:6.2.3

queries bellow do not return same result
I am trying to sort by nested object, and if main user matches my nested filter, sort by it.
It works as expected if i leave must empty, but any condition in must results in should being ignored

<details><summary>queries</summary><p>

[code]
</p></details>

<details><summary>Steps to

[2018-03-21 16:02] tlrx commented on #11128
We talked about this today with @ywelsch and it seems that all cloud based storage providers supported for snapshot/restore (Amazon S3/Azure Storage/Google Cloud Storage) now provide server side encryption and secured transfers over the network using HTTPS. We don't have immediate plan to add our own encryption system in elasticsearch so I'm going to close this issue. Please feel free to comment o

[2018-03-21 16:04] dakrone commented on #25718
We discussed this today a bit in the core/infra team meeting, but no conclusion we reached, a quick summary of the points/questions:

- Do we want to standardize on a spec that isn't a registered media type?
- Is it worth making this breaking change for the minor (if any) benefits it would provide?
- Should we come up with our own `application/elasticsearch-awesome-format` media type so we can con

[2018-03-21 16:07] ywelsch commented on #11148
I'm closing this issue as we're going to tackle the problem from a different angle. In the future, we plan on having a more index-centric view of snapshots. Instead of asking what indices are in a snapshot, you could ask what snapshots exist for an index and do manipulation at index level. This would address the issues mentioned here.

[2018-03-21 16:07] #11148 closed

[2018-03-21 16:12] ywelsch commented on #11214
We have no immediate plans to work on this so I'm going to close the issue. Please feel free to comment or +1 here if you want to add your point of view.

[2018-03-21 16:12] #11214 closed

[2018-03-21 16:15] ywelsch commented on #12105
Discussed with @tlrx: We don't expect this to happen very often, and when it happens, the stack trace usually helps to figure out the issue. We are in favour of better error reporting (for all components), but don't think an open issue is required for this.

[2018-03-21 16:15] #12105 closed

[2018-03-21 16:18] tlrx commented on #12434
Retries have been removed in #23952 so I'm closing this one.

[2018-03-21 16:18] #12434 closed

[2018-03-21 16:19] elasticmachine opened #29887 "[CI] WebhookIntegrationTests testWebhookWithBasicAuth failed"
*Original comment by @droberts195:*

The test failed for 6.2 in LINK REDACTED

The REPRO command is:

[code]

This does not reproduce locally for me.  It looks like a race condition where it's still creating the watcher indices during the test.  The log contains this:

[code]

[2018-03-21 16:20] nealvale commented on #25887
I feel that this is going to cause issues because of the following:

If I need to do a contains search over something like "AA-PP-001-002"  I will be restricted by it.  For instance - min ngram = 3, max ngram = 4
Would result in - AA-, A-P, .....  AA-P, A-PP, ....
I would not find a string like AA-PP - or P-001
And I don't see any suggested alternatives.  I saw the extreme case of max = 6000. Clea

[2018-03-21 16:29] jimczi commented on #25887
The solution implemented just adds a setting to limit the allowed diff between `min_ngram` and `max_ngram` to 1 by default. You can just this setting at your discretion ;)

[2018-03-21 16:29] colings86 commented on #25887
Note that as detailed in the linked PR (#27411), these limits are backed by an index level setting that can be changed if needed, in the case of ngrams the setting is `index.max_ngram_diff` which controls what the maximum difference between max_ngram and min_ngram can be. The intention with these limits is to help cluster administrators have limits on the usage of their cluster that are sensible f

[2018-03-21 16:32] colings86 commented on #25887
Also note the in your example a query for say `AA-PP` would, after analysis of the query, search for `AA-`, `AA-P`, `A-P`, `A-PP`, `-PP` which would all be present in a document containing a field with `AA-PP-001-002` sincee the ngram analysis would be done at both index and search time

[2018-03-21 16:33] tlrx commented on #12448
Quoting the [Azure Storage documentation](https://docs.microsoft.com/fr-fr/rest/api/storageservices/put-blob):

After looking at the code with @ywelsch it appears that the current Azure repository implementation forces a `64mb` chunk size but the Azure SDK seems to take care of using the right API depending of the size of the blob. We think that the chunk size limitation should be removed and more

[2018-03-21 16:37] tlrx commented on #12450
We don't create Azure container anymore (see #22858)

[2018-03-21 16:37] #12450 closed

[2018-03-21 16:40] jimczi commented on #29193
Hi @dstrop we reserve github for verified bugs and feature requests, your question should be raised on the forum https://discuss.elastic.co/c/elasticsearch and if during the discussion we find something that does not work as expected we can open a more detailed issue.
Regarding your query, the `must` clause is always mandatory even if you have a `minimum_should_match` of 0 so all documents `must`

[2018-03-21 16:40] #29193 closed

[2018-03-21 16:47] dstrop commented on #29193
ok, maybe it would be good idea to stipulate as such in issue guidlines

[2018-03-21 16:48] ywelsch commented on #12500
@geekpete The S3 plugin supports the `storage_class` setting that can be set to `STANDARD_IA` for the infrequent access storage.
We explicitly forbid the `GLACIER` storage class, as writing a snapshot currently also potentially involves reading a lot of metadata files (low retrieval time, high costs). As such, I'm closing this issue. Please feel free to comment or +1 here if you want to add your p

[2018-03-21 16:48] #12500 closed

[2018-03-21 16:50] tlrx commented on #12699
This issue is opened for some time now and has no updates. While we think it's still good to have more testing cases we consider that this is very low priority and we should focus on other issues or add more integration tests. I'm going to close this issue, but feel free to comment and add your opinion.

[2018-03-21 16:50] #12699 closed

[2018-03-21 16:56] tlrx commented on #13159
We talked about it today with @ywelsch and we still think that this is a real issue. We don't have any plan about it yet but this is something we need to think about for the future of the snapshot/restore functionality.

[2018-03-21 17:01] jimczi commented on #29193
ask a general question is at the Elastic [forums](https://discuss.elastic.co).
    GitHub is not the place for general questions.

We have this in the issue template and we encourage users to post on the forum first when they are not sure that the issue they have is a question or a real issue. I hope you don't mind that I closed your issue, the important point is that we're willing to help you but

[2018-03-21 17:18] tlrx commented on #13673
We don't have immediate plan to add client side encryption to the S3 repository plugin but we understand that many users required it. The pull request that has been proposed here has been reverted and would need a major refactoring to be added to new versions of elasticsearch.

We're tracking the client side encryption for all the cloud-based repository plugins in #11128 so I'm going to close this

[2018-03-21 17:18] #13673 closed

[2018-03-21 17:27] mayya-sharipova commented on #24910
@csben Thanks for your input, and you are right about the code!  We still need to discuss the idea of negative weights though.

@lmenezes The only reason we would to hold off with PRs for function score is we may redesign Function score. We have a new issue for this: https://github.com/elastic/elasticsearch/issues/27588

[2018-03-21 17:28] andyb-elastic commented on #20209
@elastic/es-search-aggs

[2018-03-21 17:31] Sue-Gallagher commented on #20625
Fixed per Deb Adair 3/20/2018

[2018-03-21 17:31] #20625 closed

[2018-03-21 17:33] Sue-Gallagher commented on #20765
Fixed per Deb Adair 3/20/2018

[2018-03-21 17:33] #20765 closed

[2018-03-21 17:37] polyfractal commented on #28050
@elastic/es-search-aggs

[2018-03-21 17:37] Sue-Gallagher commented on #21127
Fixed per Deb Adair 3/20/2018

[2018-03-21 17:37] #21127 closed

[2018-03-21 17:39] polyfractal commented on #16231
It does indeed look like this issue is obsolete, I can't find any `java.util.Regex` either.  Closing! :)

[2018-03-21 17:39] #16231 closed

[2018-03-21 17:51] s1monw commented on #29186
I am pretty sure that extra object is not going to cut it. Do you have some numbers of the impact?

[2018-03-21 17:52] mayya-sharipova commented on #12565
As 2.x reached end of life, and  we are not going to backport this improvement, I am closing this issue.

[2018-03-21 17:52] #12565 closed

[2018-03-21 17:58] polyfractal commented on #23414
Should be largely unblocked at the moment (range fields have doc values, they are enabled by default now as of https://github.com/elastic/elasticsearch/pull/24823, etc), and I think it's a feature we'd like to support eventually.

Adding `adoptme` tag though, since I don't think it is on anyone's immediate plate of work.

Note: the error message from trying to aggregate on a range_field is rather

[2018-03-21 18:00] polyfractal commented on #22868
@elastic/es-search-aggs

[2018-03-21 18:02] tbrooks8 commented on #27258
Fixed by #29194. Will be in the v5.6.9 release. Thanks for the issue.

[2018-03-21 18:02] #27258 closed

[2018-03-21 18:27] mayya-sharipova commented on #14223
Closing, as "minimum_should_match" has been removed from terms query in: https://github.com/elastic/elasticsearch/commit/d7cd5ce60d0589562ff8f64c88e7c989c155a7ac

[2018-03-21 18:27] #14223 closed

[2018-03-21 18:36] kdward commented on #23182
The fact that range fields don't work in aggregations should probably be documented as a warning on either the description of the range types, in the aggregation documentation, or both.  Without documentation to the contrary a user would naturally expect a date histogram to work on their data that has been mapped as a date range.

[2018-03-21 18:53] andyb-elastic commented on #15797
This was implemented in https://github.com/elastic/elasticsearch/pull/26395

Documentation can be found at https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-sort.html#nested-sorting

[2018-03-21 18:53] #15797 closed

[2018-03-21 19:07] andyb-elastic commented on #23022
@elastic/es-search-aggs

[2018-03-21 19:33] nealvale commented on #25887
@colings86 - Thanks for your reply.  Ok thats great I was under the impression that the deprecation message indicated that the diff would eventually disappear and we would be forced into using the max diff of 1.  As long as this is just a cautionary message I am fine.

[2018-03-21 19:44] andyb-elastic commented on #12512
It looks like the timekeeping mechanism mentioned here has changed - `TransportSearchAction` now creates a `SearchTimeProvider` [when beginning search execution](https://github.com/elastic/elasticsearch/blob/f8830b7b43e51935134817269dcebe4766338ace/server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java#L180).

Since there hasn't been activity here I'll close this issue - l

[2018-03-21 19:44] #12512 closed

[2018-03-21 20:15] mayya-sharipova commented on #27588
https://github.com/elastic/elasticsearch/issues/15670 has another idea in the topic of  normalizing scores: add bbility to set percentage influence of each function in function score query

[2018-03-21 20:15] mayya-sharipova commented on #15670
Closing this in favour of https://github.com/elastic/elasticsearch/issues/27588, where one of the desired features could be to normalize the score.

[2018-03-21 20:15] #15670 closed

[2018-03-21 20:22] mloho opened #29196 "Geo point on the edges of the bounding box not considered?"
**Elasticsearch server version**: `{"number": "5.6.6","lucene_version": "6.6.1"}`
**Elasticsearch client version**: `6.2.1`

**Plugins installed**: `[{
"name": "x-pack",
"version": "5.6.6",
"description": "Elasticsearch Expanded Pack Plugin",
"classname": "org.elasticsearch.xpack.XPackPlugin",
"has_native_controller": true
}]`

**JVM version**: `1.8.0_151`

**OS version**: Linux ubuntu 4.4.0-116-g

[2018-03-21 20:28] elasticmachine commented on #29196
Pinging @elastic/es-search-aggs

[2018-03-21 20:40] mayya-sharipova commented on #28385
cc @elastic/es-search-aggs

Do we think that this query is  **INCORRECTLY** rewritten:

[code]
into
[code]

This query instead of translating to find me a document where:
 `doe` is in any field AND `green` is in any field AND  `tech` is in any field,

should be translated into find me a document where:
`doe` AND `green` and `tech` occur together in a single field, which could be any field of the d

[2018-03-21 20:41] andyb-elastic commented on #20101
From the discussion here and the lack of activity it looks like this isn't something we currently want to implement, so I'm going to close this issue. Additional feedback is always welcome and we'll reconsider if there's interest from the community

[2018-03-21 20:41] #20101 closed

[2018-03-21 20:56] floragunncom commented on #27267
@nik9000 @PhaedrusTheGreek @javanna ping

[2018-03-21 21:08] jimczi commented on #28385
@mayya-sharipova this is the expected in any version of es. The `query_string` parses the input around operators and analyze each piece of text independently so `doe`, `green` and `tech`are parsed separately and produce one query each which is a max disjunction over the fields that the query targets (in this case all fields since `fields` is empty). What changed in 6.x is that if you omit the oper

[2018-03-21 21:08] #28385 closed

[2018-03-21 21:30] mayya-sharipova commented on #28385
@jimczi thanks so much for elaborating on this

[2018-03-21 21:53] andyb-elastic commented on #24855
@elastic/es-search-aggs

[2018-03-21 22:02] andyb-elastic commented on #10043
@elastic/es-search-aggs

[2018-03-21 22:06] mayya-sharipova commented on #22989
cc @elastic/es-search-aggs

Still need to document better the details of working of  `analyze_wildcard`