[2019-02-17 14:34] dadoonet commented on #38944
Got the same issue. Posting here a workaround in case someone else is getting this.

[code]

[2019-02-17 14:53] vaish1707 opened #39008 "Parse error with CompositeAggregation"
Parse error with CompositeValuesSourceBuilder extending DateHistogramValuesSourceBuilder

**Elasticsearch version** (`bin/elasticsearch --version`): 6.5.4

**Plugins installed**: []

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): Mac OS

**Description of the problem including expected versus actual behavior**:

I have tried to achieve composite aggreg

[2019-02-17 20:32] dnhatn opened #39011 "[CI] testRetentionLeaseIsRenewedDuringRecovery fails"
`CcrRetentionLeaseIT#testRetentionLeaseIsRenewedDuringRecovery` is failing frequently.

Some CI instances:

- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/744/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/1383/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/744/console

[co

[2019-02-17 20:32] elasticmachine commented on #39011
Pinging @elastic/es-distributed

[2019-02-17 20:36] dnhatn commented on #39011
I have muted this test in master, 7.x, 7.0 and 6.7.

[2019-02-17 22:26] jasontedor commented on #39011
Thanks @dnhatn, I will take a look soon.

[2019-02-17 23:28] tvernum opened #39018 "Cannot run Kibana upgrade assistant (7.x=>8.0) on Security Index"
The Kibana upgrade assistant reindexes to a single `_doc` type in preparation for the full removal of types.
The security index cannot handle this because it explicitly indexes into the `doc` type.

We hope and expect that there won't be a standard "security index" in 8.0, rather it will be migrated to a special "system index" with a different internal API that will have different feature/compatib

[2019-02-17 23:28] elasticmachine commented on #39018
Pinging @elastic/es-security

[2019-02-18 02:49] SmithMatthew commented on #22573
@zeeshan58 Feel free to work on it. I am not working on this card anymore. You may already be aware, but this is more in depth than just checking how long a method call runs. I forget the exact details, but I remember looking into this briefly and finding more was required than I expected. Not to scare you away but just to let you know that I would not necessarily consider this a good first issue.

[2019-02-18 05:16] DaveCTurner commented on #39000
Could we also do this by briefly obtaining an operation block between initiating tracking and capturing the phase 2 snapshot, if the primary is a CCR follower? The versioned replication group proposal has the advantage of not blocking operations, but I'm not sure we need to avoid this.

[2019-02-18 05:28] tvernum commented on #37117
Another failure:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/1412
[code]

[code]

Since there's an approved PR that might fix this, I'm not going to mute the test, but if we can't get that fix in soon we'll need to.

[2019-02-18 05:33] tvernum commented on #38356
Still failing
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+packaging-tests/373/console
[code]

[2019-02-18 05:58] bizybot opened #39023 "[CI] DatafeedConfigProviderIT#testHeadersAreOverwritten fails in CI"
The DatafeedConfigProviderIT#testHeadersAreOverwritten failed here:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+internalClusterTest/757/

I could not reproduce this locally with following:

[code]

[2019-02-18 05:58] elasticmachine commented on #39023
Pinging @elastic/ml-core

[2019-02-18 06:27] faxm0dem commented on #8786
it's quite ironic that ES can't output structured logs (anymore) ;-)

[2019-02-18 06:32] elasticmachine commented on #38998
Pinging @elastic/es-search

[2019-02-18 06:39] taku333 opened #39024 "[DOC][Mapping]Version only sentences."
I think that it is difficult to understand sentences only with the next version.
When you mouse over it will display sentences.
Please consider whether it is better to change.

https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping.html
![image](https://user-images.githubusercontent.com/16697482/52932410-efa01b80-3392-11e9-80a5-e48fd7b48fdf.png)

[2019-02-18 06:40] elasticmachine commented on #39008
Pinging @elastic/es-analytics-geo

[2019-02-18 06:47] #38944 closed

[2019-02-18 06:58] agonzalezgaliana commented on #30720
Finally we were able to bypass the problem by removing the double percent signs around JAVA_HOME in the call to the service manager. In this way we resolve the path before service starts running.

`--Jvm "%JAVA_HOME%%JVM_DLL%"`

[2019-02-18 07:12] martijnvg commented on #37681
Thanks @bizybot, I'm going to take a look at this failure.

[2019-02-18 07:14] tvernum commented on #38944
The required jar file is available as `modules/reindex/elasticsearch-ssl-config-7.0.0-beta1.jar` in the elasticsearch 7.0.0-beta1 install.
It depends on elasticsearch-core (as a compile dependency) and nothing else.

The build has been corrected so this will be published to maven in future releases.

[2019-02-18 07:19] perlun commented on #31982
@vladimirdolzhenko @danielmitterdorfer Thanks for writing this! It helped me debug a similar (but likely unrelated) issue in our app (which is using the ES client). For whatever reason, it had gone berserk during the weekend, spawning 9400 threads which made the machine fail in new thread creation for the same user account.

`ps -o nlwp,pid -fe` helped me spot this, so I could kill the bad process

[2019-02-18 07:19] liuhamglin opened #39028 "ERROR: X-Pack Security is disabled by configuration"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --6.6.0`):

**Plugins installed**: [
**JVM version** (`java -8`):

**OS version** (`windows-10` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index creation, m

[2019-02-18 07:26] tvernum commented on #39028
@liuhamglin Thank you very much for your interest in Elasticsearch.

It is hard to reach an exact diagnosis of your issue from the information you have provided but I believe this functionality is working correctly, and there is likely to be a configuration issue in your local setup.

We prefer to direct these kinds of things to the [forums](https://discuss.elastic.co/), as those discussion forums

[2019-02-18 07:26] #39028 closed

[2019-02-18 07:56] martijnvg commented on #37681
I think during the test the follower cluster may end up with seed nodes to itself instead of the leader node. The remote cluster service fails and the shard follow node task fails because of that too, causing not all of the expected documents to be replicated.

[code]

[2019-02-18 07:58] liuhamglin commented on #39028
elasticsearch-setup-passwords auto

Unexpected response code [404] from calling GET http://127.0.0.1:9200/_xpack/security/_authenticate?pretty
It doesn't look like the X-Pack security feature is enabled on this Elasticsearch node.
Please check if you have enabled X-Pack security in your elasticsearch.yml configuration file.

ERROR: X-Pack Security is disabled by configuration.

[2019-02-18 07:59] #39023 closed

[2019-02-18 08:04] liuhamglin commented on #39028
![7tch5m b 9o1qlhu hi_wa](https://user-images.githubusercontent.com/18131476/52936264-989c4580-3396-11e9-8d4c-71eca560469f.png)
I've configured xpack security to be enabled in the configuration file, but I don't see it in kibana

[2019-02-18 08:17] jkakavas commented on #38868
Adding the failure in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+multijob-unix-compatibility/os=opensuse/24/console as a data point

[2019-02-18 08:21] danielmitterdorfer commented on #31982
Thanks for the kind feedback @perlun and glad to hear this has helped you. :)

[2019-02-18 08:26] elasticmachine commented on #39024
Pinging @elastic/es-docs

[2019-02-18 08:26] danielmitterdorfer commented on #39024
@debadair this is probably done via docs infrastructure. Any thoughts on this one?

[2019-02-18 08:32] henningandersen commented on #37543
There are 3 main ways this could potentially happen (TcpTransport/MockTcpTransport).
1. The synchronization around serverChannels is not complete and thus close might not see all channels.
2. The generic() thread pool is shutdown before we get to doStop
3. Close on the socket does not break accept (JVM bug).

3 sounds unlikely. I tried provoking it but were not successful.
2 I could not find any i

[2019-02-18 08:43] jpountz opened #39030 "Abusive usage of closeWhileHandlingException"
`closeWhileHandlingException` is dangerous: it swallows all exceptions and might prevent actual problems from being surfaced. For instance I was just looking at a weird problem that boiled down to a `NullPointerException` in a `close()` method that was ignored because the instance was closed with `closeWhileHandlingException`.

It is always wrong to call `closeWhileHandlingException` unless alread

[2019-02-18 08:43] elasticmachine commented on #39030
Pinging @elastic/es-core-infra

[2019-02-18 08:56] jkakavas commented on #38877
This looks like it has been resolved by #38930 as [all the latest failures](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-1y,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'class:org.elasticsearch.smoketest.DocsClientYamlTestSuiteIT'),sort:!(time,desc)))  ar

[2019-02-18 09:07] jkakavas opened #39032 "DocsClientYamlTestSuiteIT {yaml=reference/indices/flush/line_77} failures"
Happened over the weekend, 3 times in pull requests

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request+oss-distro-docs/11482/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request+oss-distro-docs/11479/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request+oss-distro-docs/11478/console

It doesn't reproduce locally

[

[2019-02-18 09:15] #38623 closed

[2019-02-18 09:45] yadygarovadt commented on #31770
@talevy Hello, I'm sorry I can't share the file that's causing this issue due to job issues, well, perhaps in public, but i could possibly share that troubled file PM only, and I can tell you that file size was less than 1 mb. We have a temporal solution to solve this issue, but not on ES side.

[2019-02-18 09:54] alexwizp opened #39041 "Rollup search: search is not working by mixed indexes"
Regression, it worked before.

**Steps to reproduce:**
1) Add some of our default sample data e.g. 'Sample eCommerce orders'  (index: kibana_sample_data_flights)
2) Create a Rollup job by that index. In my example I've created a rollup-index with name: test.
3) Try to search by two indexes:
       GET kibana_sample_data_flights,test/_rollup_search

**Expected result:** I expect to see data by mixe

[2019-02-18 10:20] HFarah opened #39047 "Painless script_exception : _source : null_pointer_exception"
Hello,
I am working with version elasticsearch 6.5.4, I added a  new field to my existing index and I want to give it a value equal to the sum of some other fields. I used the following query in Kibana but it does not work, only the first field of the addition operation is recognized :

POST my_index/_update_by_query
{
 "script": {
    "lang": "painless",
    "source": "ctx._source['num_attractivi

[2019-02-18 10:59] martijnvg commented on #38779
The persistent task is suppose to fail with `IndexNotFoundException`; this happens, only in a place were this kind of exception is not handled correctly. If the shard follow task fails with a fatal exception (which `IndexNotFoundException` is) then index replication should stop and the fatal exception field should be set, so that later via ccr stats api the fatal exception can be inspected.

At sh

[2019-02-18 11:08] danielmitterdorfer commented on #39047
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/) that s

[2019-02-18 11:08] #39047 closed

[2019-02-18 11:12] jasontedor commented on #39032
That’s puzzling. Anyway, this goes away with #39004. See: https://github.com/elastic/elasticsearch/pull/39004/files#diff-31f3afe6b50f556a95a396324be535e5L107

[2019-02-18 11:36] elasticmachine commented on #39041
Pinging @elastic/es-analytics-geo

[2019-02-18 11:37] elasticmachine commented on #39032
Pinging @elastic/es-core-features

[2019-02-18 11:41] elasticmachine commented on #39032
Pinging @elastic/es-distributed

[2019-02-18 11:51] #32741 closed

[2019-02-18 12:05] droberts195 commented on #30290
Is it the case that "Accounting breaker not reset" generally means "An index existed when we expected no indices to exist"?

#38952 is obviously a case of this, but it cannot explain the early failures of this test as the `.ml-annotations` index was only introduced in 6.6 and this issue pre-dates that.  But looking at the tests that _did_ cause early failures of this assertion, they're all in area

[2019-02-18 12:35] atorok commented on #36928
I would rather not teach the reproduction printer about  the different tasks we use to have them substituted by `check`. We should make sure that the tasks themselves have the proper inner dependencies. Like this was said before, this is a non trivial fix for something we are replacing with testclusters, so I am going to close this.

[2019-02-18 12:35] #36928 closed

[2019-02-18 13:04] Rukas commented on #31032
@spinscale @hub-cap Any word on whether or not this will be supported in a future release?

[2019-02-18 13:40] droberts195 commented on #38796
I stopped looking when I found this, but that doesn't mean it's the only place that fails to work when `.ml-config` is an alias.  We need to find usages of the relevant constant and review each place where it's used to ensure the code will work whether `.ml-config` is a concrete index or an alias.

[2019-02-18 13:42] droberts195 commented on #38796
#38821 shows the similar change that was made for results indices.

[2019-02-18 13:45] jpountz commented on #37117
Agreed, this should have been muted earlier.

[2019-02-18 13:51] vivekprm commented on #39041
Would like to work on this..

[2019-02-18 14:05] #38952 closed

[2019-02-18 14:14] martijnvg commented on #38949
The `IndexFollowingIT#testFollowIndexWithConcurrentMappingChanges` test fails for the same reason as above. The follower index can't get into a green state:

[code]
Error in the logs:

[code]

Error in the cluster state:

[code]

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+intake/156/console

I'm going to mute this test as well.

[2019-02-18 14:27] jpountz commented on #26674
I'm going to close it now that multiple types per index is not supported anymore.

[2019-02-18 14:27] #26674 closed

[2019-02-18 14:30] martijnvg commented on #38949
This is another instance of the test failure in the previous commit: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/462/console

[2019-02-18 15:03] jasontedor commented on #39030
Note that try-with-resources has one danger which is that can suppress an error into an exception. That is, suppose an exception is thrown in the try block, and a fatal error is thrown while closing the try-with resource. Then that fatal error will be suppressed into the initial exception. This means, for example, that an `OutOfMemoryError` can be suppressed by `try-with-resources`. See [JLS 14.20

[2019-02-18 15:10] ankit22550 opened #39061 "Time zone not same"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
 6.4
**Plugins installed**: []
6.4
**JVM version** (`java -version`):
1.8
**OS version** (`uname -a` if on a Unix-like system):
Centos
**Description of the problem including expected versus actual behavior**:
Hello Team,
my logs coming on multiple time zone and when I create the alert file using a command option

[2019-02-18 15:49] danielmitterdorfer commented on #39061
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/) that s

[2019-02-18 15:49] #39061 closed

[2019-02-18 16:21] hendrikmuhs commented on #37117
Unfortunately https://github.com/elastic/elasticsearch/issues/37117 hasn't fixed the issue.

This build has the fix but still fails:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/465/consoleFull

[2019-02-18 17:01] jpountz commented on #37117
Thanks @hendrikmuhs I'll look.

[2019-02-18 17:04] megusta420 opened #39065 "Weird error using AWS Elasticsearch with Laravel and this package"
Also using this one package: https://github.com/elasticquent/Elasticquent

Here is my dotenv:

I'm getting this error while trying to add an index:

But! All works okay when I'm creating index/adding json document to AWS ES directly via rest client without any additional headers which described in exception! What am I missing?

[2019-02-18 17:14] dnhatn commented on #39065
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/) that s

[2019-02-18 17:14] #39065 closed

[2019-02-18 18:13] droberts195 opened #39067 "6.7 BWC layer for Java time formats in mappings does not default timezone to UTC"
It is documented that timestamps parsed by mappings that do not explicitly specify a timezone are considered to be UTC.  In the master branch this behaviour from the days of Joda time seems to have been preserved in the new Java time parsing.  However, in the 6.7 BWC layer trying to rely on the default of UTC timestamps parsed by mappings results in an exception.

Steps to reproduce.

First, to sh

[2019-02-18 18:13] elasticmachine commented on #39067
Pinging @elastic/es-core-infra

[2019-02-18 21:52] #38588 closed

[2019-02-18 21:52] #39032 closed

[2019-02-18 22:02] albertzaharovits opened #39077 "[CI] GatewayMetaStateTests.testAtomicityWithFailures"
The following has failed in a PR build:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-1/8533/console

[code]

**It reproduces!**

I will follow up with the mute, and I will take a swing at it!

[2019-02-18 22:02] elasticmachine commented on #39077
Pinging @elastic/es-distributed

[2019-02-18 22:13] nakulm95 commented on #28611
+1 for the request. Would be extremely helpful to have this capability ported to 6.3 as well so there's a way to paginate term bucket documents in an efficient manner

[2019-02-18 22:23] oliverhenlich opened #39080 "Whitelist java.util.UUID.randomUUID() in painless scripts"
This is a feature request to have `java.util.UUID.randomUUID()` whitelisted in painless scripts.

Has this method been intentionally left off the whitelist? If so, why?

Here are several attempts I've made to understand why this method is not whitelisted and to find workarounds for it. In a nutshell, I need to use it in a reindex call.

* I've tried to get input from @nik9000 and @markwalkom in th

[2019-02-18 22:39] fredgalvao commented on #28611
@jimczi Sorry to ping you, but I fear this could go unnoticed for 7, which would be very sad.

Composite aggregations have the incredible power to actually make Elasticsearch amazing at aggregation level analytics, which is something that people (me included) have to currently work around to be productive. Setting `"size": Long.MAX_VALUE` on `terms` aggregations to paginate on the application leve

[2019-02-18 23:04] jimczi commented on #28611
No and we never had such plan ;) We added the support for `nested` aggregations because otherwise it is impossible to paginate over `nested` fields but I don't see why bucket aggregations would be useful. The `composite`  aggregation must be the root aggregation to allow pagination, that's the design. Can you explain why you'd need to use the `composite` as a sub-aggregation (other than switching

[2019-02-18 23:20] tvernum commented on #29758
@albertzaharovits Are you working on this issue?
If not can you unassign yourself so that someone else can pick it up?

Thanks

[2019-02-18 23:21] albertzaharovits commented on #29758
I was not working on it... I missed it, I was looking only through >test-failure labels :(

[2019-02-18 23:22] tvernum commented on #29758
Thanks - I found it by searching for `@AwaitsFix` on master.

[2019-02-18 23:43] fredgalvao commented on #28611
I didn't mean to imply there was such plan, but the original topic seemed broad enough to cover them all, my bad. But I digress.

Sure, I'll try.

Many of our queries here target many indexes at the same time, so that we can do "joins" in memory on the application side without requiring N>1 steps/queries (that would elevate complexity on our side a bunch).

So let's say I have indexes `iA` and `iB

[2019-02-19 01:28] dnhatn commented on #39000
I am working on this.

[2019-02-19 01:37] markwalkom opened #39084 "[ML] File Data Visualiser - only use a single shard"
**Describe the feature**:
When Data Visualiser creates a new index, it should use one shard.

Given the 100MB limit, it doesn't make sense to use the default of 5. I know we are changing the default in Elasticsearch as well, but it still makes sense to be explicit.

[2019-02-19 01:37] elasticmachine commented on #39084
Pinging @elastic/ml-core

[2019-02-19 02:45] #29758 closed

[2019-02-19 03:21] tvernum opened #39087 "BootStrapTests.testLoadExistingWatchesUponStartup fails"
This test is annotated `@AwaitsFix` on an old issue that was theoretically resolved by c65528b9f68701e8106ea119ec354e67246b531a.

However it still fails (inconsistently) on master if the annotation is removed.

[2019-02-19 03:21] elasticmachine commented on #39087
Pinging @elastic/es-core-features

[2019-02-19 03:23] tvernum commented on #39087
I only raised this issue to make it clear that I'm looking at that existing `@AwaitsFix` in case anyone else stumbled on to it.

[2019-02-19 03:48] tpmccallum commented on #38242
Interesting ... I see that Google now provide a public Ethereum smart contract analytics dataset.

https://cloud.google.com/blog/products/data-analytics/ethereum-bigquery-public-dataset-smart-contract-analytics

Any further thoughts or developments on this @colings86 @jpountz @elasticmachine ?

Many thanks
Tim

[2019-02-19 04:46] codebrain opened #39090 "Replace environment variables in jvm.options file."
The `elasticsearch.bat` file replaces the `${ES_TMPDIR}` token with the environment variable stored in `!ES_TMPDIR!`:

https://github.com/elastic/elasticsearch/blob/dfecb256cb566de2913cd00a040e289f80040428/distribution/src/bin/elasticsearch.bat#L47

The `elasticsearch.exe` makes a similar replacement, as demonstrated here:

https://github.com/elastic/windows-installers/blob/b63a3e290c4cc4d90e5a3f9

[2019-02-19 05:04] codebrain opened #39091 "GC logs in relative path - logs/gc.log - not using path.logs setting"
`jvm.options` file always writes gc logs to `logs/gc.log`, which is written to the `jvm.options` file in a distribution by the following gradle task: https://github.com/elastic/elasticsearch/blob/9a34b20233b7b780dc14c9781c998d7f34f2333e/distribution/build.gradle#L444.

`logs/gc.log` is a relative path based on where the invocation of the Elasticsearch process happens. For example, Elasticsearch st

[2019-02-19 06:30] atorok commented on #38800
Fixed in #39074

[2019-02-19 06:30] #38800 closed

[2019-02-19 06:46] atorok commented on #39030
we should put `closeWhileHandlingException` on the forbidden APIs  list once we eliminate it's usage.

[2019-02-19 06:48] ywelsch commented on #39000
yes, that would also work. Blocking indexing should be avoided as much as possible though, and I would also like to avoid having CCR specific recovery code. I have given this a few more thoughts and think that another simpler solution is possible.

The replication group to be used is currently sampled after indexing into the primary (see `ReplicationOperation` class). This means that when initiati

[2019-02-19 06:59] elasticmachine commented on #39080
Pinging @elastic/es-core-infra

[2019-02-19 06:59] danielmitterdorfer commented on #39080
@jdconrad can you please have a look at this one?

[2019-02-19 07:08] elasticmachine commented on #39091
Pinging @elastic/es-core-infra

[2019-02-19 07:09] elasticmachine commented on #39090
Pinging @elastic/es-core-infra

[2019-02-19 07:13] jtibshirani commented on #28652
From my understanding, @jimczi’s review in #29042 made two overall recommendations:
1. Unlike `terms` aggregations, we should always choose `breadth_first` because we expect the `significant_terms` aggregation to run on high cardinality fields.
2. Also unlike `terms` aggregations, the user should not be able to specify `collect_mode`. We can avoid exposing this 'expert' option, and just pick a sen

[2019-02-19 07:36] martijnvg opened #39093 "[CI] ShardFollowTaskReplicationTests#testRetryBulkShardOperations"
This test failed, because the history between leader shard and follower shard is inconsistent.

[code]

Reproduces with:

[code]

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8,nodes=immutable&&linux&&docker/26/console

[2019-02-19 07:36] elasticmachine commented on #39093
Pinging @elastic/es-distributed

[2019-02-19 07:53] #38779 closed

[2019-02-19 07:56] hendrikmuhs commented on #38708
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+branch-consistency/126/console

[2019-02-19 08:03] hendrikmuhs commented on #36813
another one: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/1485/consoleFull

[2019-02-19 08:21] hendrikmuhs commented on #36189
muted the test for 6.6

[2019-02-19 09:05] jimczi commented on #39008
The support for `missing_bucket` was added in Elasticsearch 6.4.0 so you should upgrade your nodes to a version that is on or after this version or downgrade your client to the same version.

[2019-02-19 09:31] jpountz commented on #39030
@jasontedor Thanks for pointing it out. This got me wondering why our uncaught exceptions handler doesn't look at suppressed exceptions as well?

@atorok I'm wondering whether we need to go that far. It doesn't feel too bad to me when it is used for its intended goal of ignoring closing-related (io|runtime) exceptions while the main exception is being dealt with or propagated.

[2019-02-19 09:31] jpountz commented on #38242
We are keeping an eye on this feature, but it is not on the short-term roadmap.

[2019-02-19 10:05] vaish1707 commented on #39008
Thanks , I'm using AWS elasticsearch service . I upgraded it to 6.4 and it worked . Thanks a lot

[2019-02-19 10:07] jpountz commented on #37117
So it looks like there was an issue with ongoing search requests, but it's not what we have seen in the above test failures (or at least not the only problem that we have seen) given that the stack trace suggests that all indices were already closed when the node got closed. I've opened another pull request (#39099) which fixes some minor issues that I don't expect to be the root cause of what we

[2019-02-19 10:13] jimczi commented on #39008
Thanks @vaish1707

[2019-02-19 10:13] #39008 closed

[2019-02-19 10:28] droberts195 commented on #37117
Since the `MlMemoryTracker` is the thing that's causing search requests to be started while the node is closing it's probably best if I make `MlLifeCycleService.stop()` tell the `MlMemoryTracker` not to start any more searches and wait for in-progress searches to complete (even though "completion" will sometimes mean failing because the other nodes in the cluster have been shut down).

Since `Node

[2019-02-19 10:30] alexwizp opened #39103 "Rollup search: search by rollup job created with '1m' interval is not working properly"
**Steps to reproduce:**

1. Add some of our default sample data e.g. 'Sample Data Flights'  (index: kibana_sample_data_flights)
2. Create a Rollup job by that index. In my example I've created a rollup-index with name: r20 **(important: set '1m' interval for your data_histogram field )**
3. Try to search by multiple intervals: 2m, 3m, etc. **It works only for 1m!**

**Expected result:**  search by

[2019-02-19 10:45] jpountz commented on #37117
No worries at all @droberts195. I feel like we have an actual bug that the current behavior of `MlLifkeCycleService` is only more likely to expose. +1 to stop firing new requests in stop() though.

[2019-02-19 10:46] hendrikmuhs opened #39105 "[CI] testRetentionLeasesSyncOnRecovery fails"
**IMPORTANT** : This test is still muted on master and failure applies to several versions.

Relates to https://github.com/elastic/elasticsearch/issues/38764 - but I think this is _a new issue_.

Old fix: https://github.com/elastic/elasticsearch/commit/5fad38ed51f7a86bfba9323c6d4295537fcc3eb1

Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+periodic/77/console

The test comp

[2019-02-19 10:46] elasticmachine commented on #39105
Pinging @elastic/es-distributed

[2019-02-19 10:49] hendrikmuhs commented on #36813
again: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/1498/console

I will mute this test for now

[2019-02-19 11:09] flash1293 opened #39107 "date_histogram aggregation fails for date_nanos and noon utc timezone"
When trying to apply a date_histogram aggregation with a timezone which isn't utc (tested with `Europe/Berlin`) on a `date_nanos` field, elasticsearch responds with a `unsupported_operation_exception`.

Tested version: 7.0 snapshot

Steps to reproduce:
1. Create an index like described in the docs: https://www.elastic.co/guide/en/elasticsearch/reference/7.0/date_nanos.html
2. Execute the following

[2019-02-19 11:10] elasticmachine commented on #39103
Pinging @elastic/es-analytics-geo

[2019-02-19 11:33] deimsdeutsch opened #39109 "Add Euclidean Distance Support Like Solr [Enhacement] + Cuda Support"
I am doing machine learning which involves the manipulation of matrix's and over time we have store multiple such double arrays i.e arrays with 1024 dimensions and calculating Euclidean between millions of such arrays takes a toll on a front end application and should be handled by the database. Also doing such computation on the CPU will be time consuming and will take more than 10-20 seconds thi

[2019-02-19 11:55] elasticmachine commented on #39107
Pinging @elastic/es-search

[2019-02-19 11:56] colings86 commented on #39107
@flash1293 can you look int eh ES server logs and paste the stack trace for the `UnsupportedOperationException` please?

[2019-02-19 12:13] DaveCTurner commented on #39000
That's a pretty subtle interplay of different components, but it does make sense.

[2019-02-19 12:28] djptek commented on #15616
Updates to #23009 are here https://github.com/elastic/elasticsearch/commit/952c62893e4bcc61e11cd954d4edfd420807a7ca
pending review

[2019-02-19 12:28] flash1293 commented on #39107
@colings86

[code]

[2019-02-19 12:31] alexwizp commented on #39103
Probably I found answer here: https://www.elastic.co/guide/en/elasticsearch/reference/master/rollup-job-config.html#_date_histogram_2 (Calendar vs Fixed time intervals)

But again could someone clarify if I created Rollup Job using Calendar time interval (e.g. 1m) can I search by Fixed interval (2m)?

[2019-02-19 12:44] jimczi commented on #39103
No you can't, if you need to query with different fixed intervals you should use `60s` as explained in the docs you linked.

[2019-02-19 13:01] alexwizp commented on #39103
Thanks

[2019-02-19 13:01] #39103 closed

[2019-02-19 13:05] jasontedor commented on #39105
Note the test that is failing here is `testRetentionLeasesSyncOnRecovery`, not `testRetentionLeasesSyncOnRemove`.

[code]

[2019-02-19 13:08] jasontedor commented on #39105
Also, the maps are not equal, there is a timestamp difference.

[code]

[code]

[2019-02-19 13:11] #39067 closed

[2019-02-19 13:35] hendrikmuhs commented on #38470
related: #38805

Because ILM is a module that can be turned off, any dependency introduced must also add checks to prevent combinations like "ILM:off" + "Dependent Module:on"

[2019-02-19 13:46] elasticmachine commented on #39109
Pinging @elastic/es-analytics-geo

[2019-02-19 13:47] colings86 commented on #39107
@jpountz @polyfractal could one of you take a look at this one?

[2019-02-19 13:47] elasticmachine commented on #39107
Pinging @elastic/es-analytics-geo

[2019-02-19 13:48] jpountz commented on #30290
Memory is given back to the circuit breaker via a segment core (the immutable part of a segment, ie. everything but deletes and dv updates) closed listener. So the meaning is rather that an index was still _open_.

Our logic regarding closing indices is a bit subtle due to ref-counting: if there is an ongoing request while a reader is closed, then the close() call only decrements a counter and the

[2019-02-19 13:50] jasontedor commented on #39105
I found the issue, test bug. I will push a fix shortly.

[2019-02-19 13:55] hendrikmuhs commented on #38805
Note: Monitoring integration tests use a `LocalStateMonitoring` plugin which adds Watcher to the plugins it loads for the test. This has the same problem: Watcher but no ILM. The log is full of errors although the tests run fine which is questionable. Would be good if this runs clean again:

[code]

[2019-02-19 14:18] jpountz commented on #39107
So we were assuming that date fields only produced direct doc-value iterators, which is no longer the case with `date_nanos` due to the fact that they need to divide all values by 1M. In my opinion the right fix would be to extend `nextDoc` to delegate to the wrapped doc-value iterator (the one that stores nanos).

[2019-02-19 14:21] imotov commented on #38282
@Destroy666x any comments?

[2019-02-19 14:32] s1monw commented on #37185
we just spoke about this again and decided to close it since we added infra to prevent it in #37467

[2019-02-19 14:32] #37185 closed

[2019-02-19 14:37] javanna commented on #33852
Closing this one as  it has not failed in a month or so. I think that infra changes have helped with this.

[2019-02-19 14:37] #33852 closed

[2019-02-19 14:38] original-brownbear commented on #37965
Turns out this was a separate issue after all, fix incoming in #39118

[2019-02-19 14:41] svola commented on #38467
@eydin You could have a look at this technique for text classification with the MLT query.

https://www.elastic.co/blog/text-classification-made-easy-with-elasticsearch

[2019-02-19 14:46] martijnvg commented on #38695
Looks like this test failure has been fixed by the above commits.

[2019-02-19 14:46] #38695 closed

[2019-02-19 14:51] jimczi commented on #38467
We discussed this internally and we think that there are multiple ways to achieve this kind of classification task, the link above is one example. Since this is difficult to choose one way or another (it will depend on the data and the use case) we think that this kind of task should be done client side.
I am also curious of what the @elastic/ml-core team think here considering that classification

[2019-02-19 14:54] jimczi commented on #38861
We discussed this internally and we think it's a good way to promote the usage of the `index_prefixes` option on `text` fields. However we think that it would be better to add an hard limit to the number of expanded terms rather than a limit on the number of characters. The idea would be to throw an error if the expansion returns more than N terms, this limit could be applied by default to any wil

[2019-02-19 14:57] jimczi commented on #31116
This issue is not related to test-failure anymore and the bug is tracked by #33936 so I am closing it.

[2019-02-19 14:57] #31116 closed

[2019-02-19 14:58] original-brownbear commented on #37275
Fixed one (potentially not so special) case that leads to this failure in https://github.com/elastic/elasticsearch/pull/39118

[2019-02-19 15:01] jimczi commented on #32492
@polyfractal should we close this issue ?

[2019-02-19 15:11] DaveCTurner commented on #39030
When I first came across this method I was confused by its name. _Handling_ exceptions sounds like a good thing, so from its name this method sounds innocuous, but as you say it is dangerous. Also the following constraint isn't obvious from the API it offers:

I think we can make a better API to avoid this confusion in future. How about adding an `Exception` parameter (so that you cannot call it u

[2019-02-19 15:15] masoudjahromi opened #39120 "Update problem in version 6.1: Update API does not work as expected"
in version 6.1, when I want to update the age field, it deletes the other fields in the index and only age field will be remain. this problem doesn't occur in version 6.0.

- $endpoint->getURI()

[code]

- $endpoint->getBody()

[code]

[code]

[2019-02-19 16:45] martijnvg opened #39126 "[CI] XPackUsageIT#testXPackCcrUsage failure"
[code]

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+intake/140

[2019-02-19 16:45] elasticmachine commented on #39126
Pinging @elastic/es-distributed

[2019-02-19 17:07] droberts195 commented on #39084
@jgowdyelastic I think this would be a UI side change - basically instead of defaulting the index settings to `{}` when importing default them to `{ "number_of_shards": 1 }`.

As @markwalkom says, the biggest benefit of doing this would be in 6.6.2 and 6.7.x.  That would actually cause us to put less burden on customer clusters.  Given how simple the change is I think it's worthwhile.  It's not gr

[2019-02-19 17:31] original-brownbear opened #39128 "Log a Warning if NioSelector Thread is Blocked for an Extendend Period of Time"
Inspired by https://github.com/elastic/elasticsearch/pull/39118 (dead-lock in transport callback that wasn't so easy to track down).

Currently the resolve the callback listeners passed to e.g. `org.elasticsearch.action.ActionRequestBuilder#execute(org.elasticsearch.action.ActionListener<Response>)` in the the same thread that calls `Selector.select`. This has the unfortunate issue, that if the op

[2019-02-19 17:31] elasticmachine commented on #39128
Pinging @elastic/es-distributed

[2019-02-19 17:31] #31724 closed

[2019-02-19 18:32] #37201 closed

[2019-02-19 18:41] tsullivan opened #39136 "Incorrect date formatting in License Expiration logs"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
8.0.0-SNAPSHOT
[code]
**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):
Docker
[code]

**Description of the problem including expected versus actual behavior**:
Log message gives info on when my X-Pack license will expire, and the date string as f

[2019-02-19 18:45] jkakavas commented on #29846
Reopening this as it was not addressed, but rather muted. I cannot reproduce this locally so I will be unmuting this after https://github.com/elastic/elasticsearch/pull/39092 is merged and assign this to me so I can keep an eye for possible failures

[2019-02-19 18:49] hub-cap commented on #38964
It looks like [this](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/cluster/metadata/IndexNameExpressionResolver.java#L232-L236) is where the resolution is happening and failing. I think we should check to see if any indices exist and if not, throw a `IndexNotFoundException(String message, String name)`, and put some information in the message regarding

[2019-02-19 18:53] talevy opened #39138 "IngestService may compile too many scripts during Pipeline creation at startup"
The IngestService will recover its internal/compiled pipelines from cluster-state
at startup. Since each Pipeline.create can potentially compile a new script, creating
too many pipelines at once can trigger the max compilations limit of the script service.

Since `IngestService#innerUpdatePipelines` is called as part of a ClusterStateApplier's
`applyClusterState`, it is not able to fail the node.

[2019-02-19 18:54] elasticmachine commented on #39138
Pinging @elastic/es-core-features

[2019-02-19 18:55] talevy commented on #39138
one thing to note is that this is a speculative bug. I have not re-created the issue, but I do not see why it would not be the case that things fail

[2019-02-19 19:15] #38711 closed

[2019-02-19 19:37] ycombinator opened #39143 "Update Cluster Alerts watches for hits.total change"
Monitoring creates watches for its Cluster Alerts feature. The definitions for these watches can be found in this folder: https://github.com/elastic/elasticsearch/tree/master/x-pack/plugin/monitoring/src/main/resources/monitoring/watches.

Some of these watches rely on `hits.total` being a scalar value. For example:

https://github.com/elastic/elasticsearch/blob/1aa10c4b27221bb38d2ee37f683557858ae

[2019-02-19 19:37] elasticmachine commented on #39143
Pinging @elastic/es-core-features

[2019-02-19 19:45] jasontedor commented on #39091
That's not quite right. For the package distributions, the default is `/var/log/elasticsearch/gc.log`.

I would prefer that we not get into the business of parsing `elasticsearch.yml` outside of Elasticsearch itself. *Maybe* someday when we have JVM-based launcher, but most definitely not in a world where we would have to do that parsing in command line scripts.

Note that there is more complexity

[2019-02-19 19:51] elasticmachine commented on #39136
Pinging @elastic/es-security

[2019-02-19 19:58] jakelandis commented on #39143
For `7.0` we will send `rest_total_hits_as_int` per https://github.com/elastic/elasticsearch/pull/36697, and plan to address removing this during `7.x via https://github.com/elastic/elasticsearch/issues/38387.

The change here is essentially taking the change on https://github.com/elastic/elasticsearch/pull/36697 back to `v6.7.0` to allow 6.7 data clusters to talk to a 7.0 monitoring cluster corre

[2019-02-19 20:07] chrisronline commented on #37592
FWIW, kibana should now be [using the updated endpoint](https://github.com/elastic/kibana/pull/29465) as of 7.0

[2019-02-19 20:28] lcawl opened #39150 "Document //TEARDOWN"
https://github.com/elastic/elasticsearch/pull/34716 adds //TEARDOWN
... but it is not documented in https://github.com/elastic/elasticsearch/tree/master/docs

It should be added there for everyone to be aware of its existence.

[2019-02-19 20:35] talevy commented on #29880
that ILM failure in the node should be unrelated. open issue for it here https://github.com/elastic/elasticsearch/issues/38805

[2019-02-19 20:44] talevy opened #39151 "ReindexWithSecurityClientYamlTestSuiteIT fails in FIPS mode"
reproduction:

[code]

failed tests:

[code]

stacktrace:

[code]

certificate expired?

some CI links:

- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8fips,nodes=immutable&&linux&&docker/25/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,E

[2019-02-19 20:44] elasticmachine commented on #39151
Pinging @elastic/es-security

[2019-02-19 20:53] elasticmachine commented on #39150
Pinging @elastic/es-core-infra

[2019-02-19 21:02] #38937 closed

[2019-02-19 21:03] jkakavas commented on #39151
This should be solved by https://github.com/elastic/elasticsearch/pull/38938

[2019-02-19 21:10] talevy commented on #37103
This may not be the same problem, but a similar issue with fetching JDK was run into here:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+multijob-unix-compatibility/os=fedora-28/25/console

[code]

looks like it timed out reaching the URL?

[2019-02-19 21:27] #39087 closed

[2019-02-19 21:31] talevy commented on #39126
I've muted these tests in the tagged versions, fyi ^

[2019-02-19 21:38] talevy commented on #36782
happened again!

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2097/console

[2019-02-19 21:41] talevy commented on #36782
here are some logs including the DEBUG logs that were exposed after unmuting

[code]

[2019-02-19 21:48] talevy commented on #38898
another instance https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=openjdk12,nodes=immutable&&linux&&docker/25/console

[2019-02-19 22:09] Tiedye commented on #32690
Any update?

[2019-02-19 22:17] dnhatn commented on #39000
@ywelsch This is brilliant 🎉

[2019-02-19 22:22] jdconrad commented on #36782
@talevy thanks, will continue to investigate

[2019-02-19 22:46] jaymode commented on #38875
Maybe I am missing something, but it does not look like watcher uses the SchedulerEngine as of 0c7c2f521c88293b909483235aa1c0c0b9444801. I see uses by the LicenseService, DataFrame, IndexLifecycleService, and Rollup.

LicenseService is an AbstractLifecycleService and shuts the SchedulerEngine down. I am not seeing DataFrame or Rollup shutting it down. IndexLifecycleService may have a race where an

[2019-02-19 22:55] gwbrown commented on #35503
After lots of trying, (10s of thousands of runs of this test) under various conditions, including on a heavily-loaded system, on 6.x and master, I have not been able to reproduce this failure once. This test isn't muted, and while it has failed a few times on CI within the past year, it has only failed with this failure once, and the other times were before some significant Watcher refactorings.

[2019-02-19 23:35] jakelandis commented on #37592
@chrisronline - thanks ! I tested this shortly after that PR was merged and looked good on the ES side.

Closing.

[2019-02-19 23:35] #37592 closed

[2019-02-19 23:43] Eunovo commented on #38964
I would like to solve this as my stater issue. How do I get started?

[2019-02-20 00:05] dakrone commented on #38994
Related: #39160

[2019-02-20 00:15] jakelandis opened #39163 "Index Lifecycle Management does not have a lower bound on poll_interval"
Index Lifecycle Management has a polling interval that is configurable. The default is 10 minutes but may be changed via the dynamic `indices.lifecycle.poll_interval` setting.

Currently there is no lower bound, which if set too low could consume more compute resources that are reasonably required. We should enforce a lower bound of 1000ms (1s).

To reproduce:
[code]
(watch the log file)

[2019-02-20 00:16] elasticmachine commented on #39163
Pinging @elastic/es-core-features

[2019-02-20 01:19] talevy commented on #29880
another instance: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/1537/console

CI logs for above run: [logs.txt](https://github.com/elastic/elasticsearch/files/2882572/logs.txt)

[2019-02-20 01:59] jtibshirani commented on #37882
I wasn't able to make progress debugging this locally, so I unmuted the test and enabled logging on both master + 6.x.

[2019-02-20 04:13] SoftCreatR opened #39165 "Cannot update on Debian"
[code]

When trying to open it in the browser:

[code]

[2019-02-20 04:17] jasontedor commented on #39090
Over the years it would be that we have tried to greatly simplify our packaging. When we had `N > 1` ways of doing things, we tried to make it one. Where we had great flexibility to serve use cases at the edge, we removed them. We have done this effort all in the name of removing the surface area of bugs, and focusing on the most common uses of our software. This had pervaded the evolution of our

[2019-02-20 04:32] tvernum commented on #39136
Relates: https://github.com/elastic/elasticsearch/issues/27330

@spinscale @rjernst
There are two joda/java time changes that affect this, 1 of them is easy to solve, the other less so.
1. _Easy_: In Joda 4+ characters means "full format". In Java-Time 4 characters means "full format", but 5 characters means "narrow format" (a single letter), so `MMMMM` used to mean "full month name", but now mean

[2019-02-20 07:09] jkakavas commented on #39151
Note that reproduction needs `-Dtests.locale=th-TH ` as this is what triggers the error

[2019-02-20 07:18] jkakavas commented on #39151
This _is_ fixed by #38938. I backported the fix to 7.x

[2019-02-20 07:37] #39151 closed

[2019-02-20 07:42] tvernum commented on #39165
I don't have a debian box handy to test on right now, but the URL is working for me.
[code]
[code]

It's possible that it took some time to be available in the CDN - we'll look into what might have happened there - but in the mean time can you confirm whether it's now working?

[2019-02-20 07:44] elasticmachine commented on #39165
Pinging @elastic/es-core-infra

[2019-02-20 07:47] user34545 commented on #39165
Hi @tvernum
I tried what you did:
`$ curl --head 'https://artifacts.elastic.co/packages/6.x/apt/pool/main/e/elasticsearch/elasticsearch-6.6.1.deb'
HTTP/2 404
content-type: application/xml
accept-ranges: bytes
date: Wed, 20 Feb 2019 07:45:02 GMT
via: 1.1 varnish
age: 56951
x-served-by: cache-hhn1536-HHN
x-cache: HIT
x-cache-hits: 42
x-timer: S1550648702.206627,VS0,VE0
server: ElasticInfrastructure

[2019-02-20 07:53] jkakavas commented on #29846
There is a strong indication that this failing test is resolved by #39092 also ( see https://github.com/elastic/elasticsearch/pull/39092/files#r257895150 ). I re-enabled the test and will close this

[2019-02-20 07:53] #29846 closed

[2019-02-20 08:02] SoftCreatR commented on #39165
For me, it's working now.

[2019-02-20 08:02] tvernum commented on #39165
It looks like there could be a CDN issue then.
My request was served from `151.101.30.222` / `cache-syd18934-SYD`

Yours was `151.101.66.222` / `cache-hhn1536-HHN` so it looks like the content hasn't made it to the Frankfurt (HHN) CDN servers.
I'll follow up.

[2019-02-20 08:44] parkhekishor1988 opened #39170 "Aggregation Serialization Issue for getKeyAsNumber() method in aggregation bucket"
**Elasticsearch version** :6.3.2

**JVM version** : 1.8

**OS version**: windows 10

**Description of the problem including expected versus actual behavior**: I am using a term aggregation for the field. I got an expected result. I was trying to convert as JSON(Jackson Mapper).
I am getting a number format exception. After the debugging,  I found the method, getKeyAsNumber() which being call for S

[2019-02-20 08:48] DaveCTurner opened #39171 "Failed to register an accepted channel"
A user running 6.5.1 on Ubuntu 18.04 with OpenJDK 1.8.0_191 [reports the following exception](https://discuss.elastic.co/t/failed-to-register-an-accepted-channel/169156):

[code]

They say:

[2019-02-20 08:48] elasticmachine commented on #39171
Pinging @elastic/es-distributed

[2019-02-20 09:00] astefan commented on #39170
@parkhekishor1988 not 100% sure I understand, not necessarily the issue, but how you tested this? The steps you mentioned are executed inside Java code or? If so, can you share that code or, if not, provide more details about the reproduction method? Sorry, but it's not clear to me.

[2019-02-20 09:11] peterhassing commented on #39171
Hi,
I'm the one who ran into this issue.
If you need any additional info please let me know.

[2019-02-20 09:23] #38068 closed

[2019-02-20 09:25] #38775 closed

[2019-02-20 09:41] jkakavas opened #39172 "MinimumMasterNodesIT#testThreeNodesNoMasterBlock failures"
Failed in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+internalClusterTest/940/consoleText

This [has failed 16 times](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-60d,mode:quick,to:now))&_a=(columns:!(_source),index:b646ed00-7efc-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:testThreeNodesNoMaste

[2019-02-20 09:41] elasticmachine commented on #39172
Pinging @elastic/es-distributed

[2019-02-20 10:14] martijnvg commented on #39126
This is a test bug, sometimes index following has not yet started. The `messages-20200101` gets auto followed and we only check for the existence of the corresponding follower index and not whether index following has really started. The pause follow index api fails if there are no shard follow tasks to stop.

The fix is to ensure that index following is active.

Not that this is test problem, is

[2019-02-20 10:26] elasticmachine commented on #39120
Pinging @elastic/es-distributed

[2019-02-20 10:27] elasticmachine commented on #39170
Pinging @elastic/es-analytics-geo

[2019-02-20 10:31] user34545 commented on #39165
Hi @tvernum,
I can confirm that this works now.

[2019-02-20 12:01] #31615 closed

[2019-02-20 12:05] #34648 closed

[2019-02-20 12:07] astefan commented on #38068
master (8.0.0): https://github.com/elastic/elasticsearch/commit/38fbf9792bcf4fe66bb3f17589e5fe6d29748d07
7.x (7.1.0): https://github.com/elastic/elasticsearch/commit/92206c85676e2158d781f8785280d49a25c35e38
7.0 (7.0.0): https://github.com/elastic/elasticsearch/commit/42255a1e095c787b7051739a75b9d7a9c2d1b3a9
6.7 (6.7.0): https://github.com/elastic/elasticsearch/commit/19071e8d05d565f99abf4abdb20ffc

[2019-02-20 12:09] astefan commented on #38775
master (8.0.0): https://github.com/elastic/elasticsearch/commit/822a21f29491f295b22dacd04b747781a69ffa61
7.x (7.1.0): https://github.com/elastic/elasticsearch/commit/c1018db4048c704655820005b7f175f0e0039e44
7.0 (7.0.0): https://github.com/elastic/elasticsearch/commit/ac36b7f0a2282dee0a2fc4f40ba4758a30532a2d
6.7 (6.7.0): https://github.com/elastic/elasticsearch/commit/8829d5de0e7892a0d08a509f7651c8

[2019-02-20 12:29] jasontedor opened #39181 "ILM needs to account for the possibility that removing the retention leases on the leader can fail"
When ILM is managing a following index, it will attempt to perform an unfollow action on the follower. It can be however that the unfollow action succeeds to make the index into a non-following index, yet the unfollow action completes with an error. This can occur if the follower was not able to remove the retention leases on its leader (e.g., a network connectivity issue). ILM on the following si

[2019-02-20 12:29] elasticmachine commented on #39181
Pinging @elastic/es-distributed

[2019-02-20 12:29] elasticmachine commented on #39181
Pinging @elastic/es-core-features

[2019-02-20 12:59] atorok commented on #39165
CC @elastic/infra

[2019-02-20 13:10] #39093 closed

[2019-02-20 13:35] jpountz commented on #39109
@deimsdeutsch Can you give us more information on what your use-case is? For instance are you trying to compute the nearest neighbors to a query vector?

[2019-02-20 14:38] jasontedor commented on #38939
We have a built-in way to dump packets here. Set `logger.org.elasticsearch.transport.netty4.ESLoggingHandler` to `trace`. It is ideal to set both `logger.org.elasticsearch.transport.TransportLogger`  and `logger.org.elasticsearch.transport.netty4.ESLoggingHandler` to `trace`. This gives output like:

[code]

[2019-02-20 14:45] jasontedor opened #39185 "CcrRetentionLeaseIT#testUnfollowFailsToRemoveRetentionLeases is failing frequently"
This test is failing, expecting an exception and sometimes but not always one is not thrown. 🤷‍♀️

This is a placeholder to enable muting the test.

[2019-02-20 14:50] #38763 closed

[2019-02-20 14:54] jasontedor commented on #39185
This test is muted in 6.7, 7.0, 7.x, and master.

[2019-02-20 15:10] DaveCTurner commented on #38612
We discussed this today as a team and concluded that this idea has merit but would on balance be a bad idea. We rely heavily on the detailed semantics of the filesystem to operate on the files under each shard as a whole, and splitting the files across multiple filesystems would make this tricky-to-impossible to do correctly. In the distant past we _did_ allow shards to span disks and some of us s

[2019-02-20 15:10] #38612 closed

[2019-02-20 15:16] markharwood commented on #29880
Adding a [build-stats link ](https://build-stats.elastic.co/app/kibana#/discover/5b56f0e0-3106-11e9-b7e7-170d507f4045?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-2y,mode:quick,to:now))&_a=(columns:!(_source),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:e58bf320-7efd-11e8-bf69-63c8ef516157,key:project,negate:!f,params:(query:elasticsearch,type:phrase),type:phrase,

[2019-02-20 15:16] #38629 closed

[2019-02-20 15:25] original-brownbear commented on #37345
This will be resolved by #39168

[2019-02-20 15:29] DaveCTurner commented on #38932
We started to discuss this today but timed out before reaching any meaningful conclusion. We will revisit it at a later date.

[2019-02-20 15:36] markharwood commented on #36761
Two other instances [recently](https://build-stats.elastic.co/app/kibana#/discover/5b56f0e0-3106-11e9-b7e7-170d507f4045?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-1y,mode:quick,to:now))&_a=(columns:!(_source),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:e58bf320-7efd-11e8-bf69-63c8ef516157,key:project,negate:!f,params:(query:elasticsearch,type:phrase),type:phras

[2019-02-20 15:39] polyfractal commented on #32492
Yeah, I'll go ahead and close.  We can reopen if it pops up again (fingers crossed)

[2019-02-20 15:49] polyfractal commented on #38877
Works for me.  Note that I didnt get a chance to backport these last week (looks like Tal put up some backports yesterday while I was out), so non-master branches may keep failing with this error until the backports merge.

[2019-02-20 15:49] polyfractal commented on #35295
Note: the fix was merged into master, but backports are still pending.  I'll leave a note here once all backports are done so we can track if new instances of the error pop up after the fix is in.

[2019-02-20 15:59] polyfractal commented on #39041
@alexwizp What version is this on?  Master?  Can you share the full stack trace from the server?

[2019-02-20 16:14] pheyos opened #39187 "[ML] Make sort order for datafeeds deterministic"
For some datasets / job configurations the final `model_bytes` value is not 100% deterministic. This might be because of the fact that the document order in the datafeed is not deterministic for documents with identical timestamps.
Deterministic behaviour in this place would help QA to recognize "real" changes in the `model_bytes`.

Suggestion: Make the sort order for datafeeds 100% deterministic.

[2019-02-20 16:14] elasticmachine commented on #39187
Pinging @elastic/ml-core

[2019-02-20 16:27] albertzaharovits commented on #38676
Suppose we have integration tests for a built-in role, using some default index pattern.

If the user wishes to use a different index pattern, instead of documenting the permissions required for the new role that they should be creating, could we better document the workflow:
_get role_ - _change index pattern_ - _put new role_ - _update native users to use new role_ - _update role mappings to use

[2019-02-20 16:33] danielmitterdorfer commented on #39090
We discussed this in this week's core/infra sync and we share the general sentiment of the comment above but we're definitely happy to hear more feedback about this.

[2019-02-20 16:33] #39090 closed

[2019-02-20 16:33] danielmitterdorfer commented on #39091
We discussed this in this week's core/infra sync and we share the general sentiment of the comment above but we're definitely happy to hear more feedback about this.

[2019-02-20 16:33] #39091 closed

[2019-02-20 16:37] babadofar commented on #7574
Apparently Kibana believes this has been fixed already. See this bug report
https://github.com/elastic/kibana/issues/31589

[2019-02-20 17:09] #39185 closed

[2019-02-20 18:33] Bukhtawar commented on #24299
Can we not re-evaluate the blocks when disk frees up rather than letting the end user worry about blocks.

[2019-02-20 18:37] #32190 closed

[2019-02-20 18:51] inqueue commented on #24299
Hi @Bukhtawar this is worth discussion. Will you file a new issue for it?

[2019-02-20 19:14] talevy commented on #38877
backports were merged. We should be able to give it another 24HRs before making a decision since the failures were common enough. If they are persisting, they should show up soon

[2019-02-20 19:35] jaymode commented on #34514
Also failed a little over a week ago, https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/1975/console. @tbrooks8 any thoughts on what's going on in these tests?

[2019-02-20 19:53] mark-vieira opened #39201 "CcrRetentionLeaseIT#testUnfollowFailsToRemoveRetentionLeases is consistently failing"
This test seems to be consistently failing again in a number of branches.

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-1h,mode:quick,to:now))&_a=(columns:!(branch),filters:!(),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:kuery,query:'test%20:%20%22testUnfollowFailsToRemoveRetentionLeases%22'),sort:!(time,desc

[2019-02-20 19:58] talevy opened #39202 "CcrRetentionLeaseIT#testUnfollowFailsToRemoveRetentionLeases failure"
exception:

[code]

This reproduces locally (occasionally)

[code]

CI links:

- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+intake/188/console

[2019-02-20 19:58] elasticmachine commented on #39202
Pinging @elastic/es-distributed

[2019-02-20 19:58] mark-vieira commented on #39201
This test has been muted in `master`, `7.x`, `7.0` and `6.7` branches.

[2019-02-20 20:02] talevy commented on #39202
Closing as duplicate of #39201

[2019-02-20 20:04] #39202 closed

[2019-02-20 20:50] #37587 closed

[2019-02-20 21:34] imotov commented on #38867
I am able to reproduce it locally more or less reliably (1 time out of 200 runs). I will dig.

[2019-02-20 21:59] dakrone commented on #30290
I opened a PR to do that in #39211

[2019-02-20 22:25] jakelandis commented on #39143
Looking at this again today and this isn't issue due to the way `rest_total_hits_as_int` is implemented in 7.x. The parameter [is always sent](https://github.com/elastic/elasticsearch/blob/v7.0.0-beta1/x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/support/search/WatcherSearchTemplateRequest.java#L317) irregardless if it is defined inside the search template (defaulted to true

[2019-02-20 22:25] #39143 closed

[2019-02-20 22:28] talevy commented on #37356
related issue popped up today

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.6+release-tests/209/console

[code]

[code]

[2019-02-20 23:53] tvernum commented on #32299
I have enabled `x-pack/qa/smoke-test-watcher` again.
I have covered the issues that I know about, but there's a comment above

I don't have logs for all those, so it's possible that some still exist.
Please re-mute this test if it turns out to still be flaky.

[2019-02-21 01:01] talevy opened #39218 "special case sparse/dense vector yaml tests failing"
reproduces all the time with this test seed: `756AA81A7A89C347`.
seems to pass most of the other times

[code]

CI link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu-18.04&&immutable/256/console

relevant stacktrace for dense failure:

[code]

stacktrace for sparse failure:

[code]

[2019-02-21 01:01] elasticmachine commented on #39218
Pinging @elastic/es-search

[2019-02-21 01:33] talevy opened #39220 "ElasticsearchNodeCommandIT#test3MasterNodes2Failed test failure"
reproduction command.

note: this is flaky, it does not always fail, but seems to fail a few times in CI

[code]

CI links:

- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2158/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+internalClusterTest/656/console

relevant logs:

[code]

attached logs: [20190220171036-41D8C99A-log-5527-8514729157

[2019-02-21 01:33] elasticmachine commented on #39220
Pinging @elastic/es-distributed

[2019-02-21 01:38] talevy commented on #29880
should we re-mute this now that we collected more data? looks like it is happening
often enough to interrupt PRs

[2019-02-21 02:44] tvernum commented on #35361
@talevy I see this was re-muted in #38995
Are you still looking or does it need fresh eyes?

[2019-02-21 03:03] jasontedor commented on #39030
@jpountz In general I think it is a bug if an exception lands in the uncaught exception handler. It runs the risk of a listener not being notified of a failure, and that can be catastrophic. For errors though, we don’t catch them in the codebase now, and the purpose of this handler is to catch them and kill the node. I have long considered the possibility of asserting that anything caught in the h

[2019-02-21 04:17] talevy commented on #35361
@tvernum you can take a look at it if you'd like. I intended on returning to the investigation tomorrow, but am not married to it

[2019-02-21 04:21] tvernum commented on #30699
@hub-cap Are you still working on this?
I have a plan for how to rework it to avoid the sleep and skip the inactive watch records, if you don't have something in progress.

[2019-02-21 04:32] parkhekishor1988 commented on #39170
Hi,
**Yes, I using JAVA code for aggregation.**
**Below is test code to reproduce an issue, But code is working for fine with Search query only**,

import java.io.IOException;
import org.elasticsearch.action.search.SearchRequest;
import org.elasticsearch.action.search.SearchResponse;
import org.elasticsearch.search.aggregations.AggregationBuilders;
import org.elasticsearch.search.aggregations.Buck

[2019-02-21 07:13] jiangtao007 opened #39222 "[ERROR][o.e.b.ElasticsearchUncaughtExceptionHandler] [db-3] fatal error in thread [elasticsearch[db-3][clusterApplierService#updateTask][T#1]], exiting"
![image](https://user-images.githubusercontent.com/26705490/53149681-5dde1b80-35e9-11e9-9a5a-f45f1e4b1462.png)

[2019-02-21 07:42] alexwizp commented on #39041
Double checked on master. Cannot reproduce it now.

[2019-02-21 07:42] #39041 closed

[2019-02-21 07:47] jiangtao007 commented on #39222
hi,I don't know what has happened to my ES.I have build a ES cluster,when i imported data to the ES,one of the nodes stopped and now i can not  start it . is there anyone cloud help me ?thanks a lots

[2019-02-21 07:55] dadoonet commented on #39222
You should ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

[2019-02-21 08:23] babadofar commented on #37206
What is the status on this? I really need this for my maps. Anything I could help you out with? the @elastic/es-analytics-geo repo is not public, I guess.

[2019-02-21 08:36] #39084 closed

[2019-02-21 08:40] colings86 commented on #39222
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2019-02-21 08:40] #39222 closed

[2019-02-21 08:41] elasticmachine commented on #39201
Pinging @elastic/es-distributed

[2019-02-21 09:29] jeremeyjiang opened #39226 "Elasticsearch 6.5.4 sql how to use scroll"
My index is really large.I'm wondering ow to search by scroll in SQL.

[2019-02-21 10:35] droberts195 opened #39229 "[ML] Filter platform native code when building platform-specific distributions"
Now that Elasticsearch has platform-specific distributions (starting in version 7.0) it doesn't make sense to ship the ML C++ binaries for all platforms in every distribution.

We should change the code that builds the distributions to filter the ML `platform` sub-directories that are not for the correct platform.

(Note: this needs to be done at the point of building the distributions because it

[2019-02-21 10:35] elasticmachine commented on #39229
Pinging @elastic/ml-core

[2019-02-21 10:46] martijnvg opened #39230 "Improve error messages in ccr during rolling upgrade"
CCR is likely to fail or not work correctly during a rolling upgrade or when clusters are running with mixed node versions. In case of unidirectional index following, if the follow cluster is upgraded before the leader cluster, index following will remain to function while a rolling upgrade is performed. However if the leader cluster is upgraded before the follower cluster or in case of bi-directi

[2019-02-21 10:46] elasticmachine commented on #39230
Pinging @elastic/es-distributed

[2019-02-21 11:13] albertzaharovits opened #39233 "Has Privileges with action names"
When defining privileges, inside a role definition, one has the option to specify action names instead of the canonical privilege name. For example, for index privileges, one can specify `indices:admin/delete` instead of `delete_index`, or similarly, `indices:admin/create` instead of `create_index`. In the **authorization scope** they are equivalent. This option, however, exists as an alternative

[2019-02-21 11:13] elasticmachine commented on #39233
Pinging @elastic/es-security

[2019-02-21 11:19] mayya-sharipova commented on #39109
@deimsdeutsch  Adding a new Euclidean distance function to a [dense_vector] (https://www.elastic.co/guide/en/elasticsearch/reference/master/dense-vector.html) is very easy, but it will be again use CPU.  I don't think we currently have plans for using GPU for calculations, it may require a lot of investigations.

[2019-02-21 11:52] naithagoni opened #39235 "Delete elasticsearch old indices based on created_time"
I have a question regarding deleting the indices by date_formant(created date). I am using elasticsearch 6.4

For example, I have a indices structure as below:

logstash-2019.03.21
logstash-2019.03.20
logstash-2019.03.15
logstash-2019.03.10
logstash-2019.03.12
I want to delete the indices (not the documents) let say 3 days older`

NOTE: I have also used different ways, for example.

using date mat

[2019-02-21 12:09] deimsdeutsch commented on #39109
@jpountz
Image similarity. Not nearest neighbor but https://stackoverflow.com/questions/1401712/how-can-the-euclidean-distance-be-calculated-with-numpy

@mayya-sharipova
You people have no idea how many people would want this feature. Almost every smart city project would be using this on PetaByte scale.

[2019-02-21 12:27] hudsonb opened #39237 "geo_shape queries no longer accept circle in 6.6.0"
Upgrading from 6.5.1 to 6.6.0 all of our `geo_shape` queries which use a Circle are broken.

Attempting to use a Circle in a `geo_shape` query now throws an `UnsupportedOperationException` with the message: "CIRCLE geometry is not supported".

I tested these same queries on a developer machine that was still running 6.5.1 and they execute without issue.

[2019-02-21 13:04] jasontedor commented on #39235
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2019-02-21 13:04] #39235 closed

[2019-02-21 13:09] elasticmachine commented on #39237
Pinging @elastic/es-analytics-geo

[2019-02-21 13:20] #37275 closed

[2019-02-21 13:20] #37965 closed

[2019-02-21 13:20] #37345 closed

[2019-02-21 13:31] pranavrth opened #39239 "AND operator and minimum_should_match not working with custom analyzer having pattern capture filter"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.4.1

**Plugins installed**: none

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): windows

**Description of the problem including expected versus actual behavior**:

I created a custom pattern capture analyzer for one of the field. It creates 2 tokens most of the times. But when I am trying t

[2019-02-21 13:32] pranavrth commented on #39239
In the explanation and profiling of the query, I found that a SynonymQuery is being generated. I feel something is wrong here.

[2019-02-21 13:33] dadoonet commented on #39239
That question has been asked in https://discuss.elastic.co/t/match-query-on-field-with-custom-analyzer-not-working-properly-with-operator-or-minimum-should-match/169393 where I believe we should continue the discussion instead.

[2019-02-21 13:37] benwtrent commented on #38708
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+branch-consistency/128/console

[2019-02-21 13:42] joeykhashab commented on #27924
+1, right now to support multi region installations I have to add custom logic to lookup the correct endpoint and then change this parameter during startup of the ec2 instance.

[2019-02-21 14:04] benwtrent opened #39242 "[CI] SplitIndexIT failure in master"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=openjdk12,nodes=immutable&&linux&&docker/255/consoleFull

Unable to reproduce no matter how many times it is ran. Even tried running the whole `SplitIndexIT` suite with the given parameters to see if it was somehow test interactions, but it would not reproduce.
[code]

[2019-02-21 14:04] elasticmachine commented on #39242
Pinging @elastic/es-core-features

[2019-02-21 14:05] albertzaharovits commented on #39077
@andrershov I am going to relabel this and unassign myself.
Judging by your comment in https://github.com/elastic/elasticsearch/pull/39117#issuecomment-465518436 the test is better to be left disabled rather than changed. It might change when the code in main also changes.
I don't think the `>test-failure` label is suitable for these types of "known issues". For a lack of a better one, I have adde

[2019-02-21 14:14] albertzaharovits commented on #39242
I believe this should be ascribed to https://github.com/elastic/elasticsearch/issues/30290 for which a potential fix in https://github.com/elastic/elasticsearch/pull/39211 has been approved.

Closing this as duplicate, please reopen if somebody feels otherwise.

[2019-02-21 14:14] #39242 closed

[2019-02-21 14:15] benwtrent commented on #39242
@albertzaharovits excellent! Thanks for pointing that out. I will make sure additional related failures point to that fix.

[2019-02-21 14:21] benwtrent commented on #38832
Re-occurred in build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+periodic/89/console

[2019-02-21 14:24] benwtrent commented on #35686
Failed again in build:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=centos-7&&immutable/30/consoleFull

[code]

[2019-02-21 14:46] albertzaharovits opened #39244 "[CI] DissectParserTests.testBasicMatchUnicode"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+intake/240/console

**This reproduces:**
[code]

[code]
I'll be subtly snatching this from the ~ @elastic/es-search team~ @elastic/es-core-features  , and try to fix it!

[2019-02-21 14:46] albertzaharovits commented on #39244
And mute, ofc!

[2019-02-21 14:50] benwtrent opened #39245 "CcrRepositoryIT.testIndividualActionsTimeout failing"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+multijob-unix-compatibility/os=ubuntu-18.04&&immutable/30/consoleFull
[code]
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=openjdk12,nodes=immutable&&linux&&docker/29/consoleFull
[code]
Cannot reproduce locally.

Two builds failing due to this test, same e

[2019-02-21 14:50] elasticmachine commented on #39245
Pinging @elastic/es-distributed

[2019-02-21 15:03] imotov commented on #37356
That looks like a different issue. The original issue was caused by lucene indexing and this issue is caused by parsing. I will take a look.

[2019-02-21 15:04] vigyasharma commented on #17213
@ywelsch, @DaveCTurner -- Will `shard-resource-cost` have a default value for new shards, or is it an optional setting? Will it also be used for the weight function?

It is very difficult to **predict** the resource footprint of a shard. Assign too high a value and we declare an underutilized node exhausted, keep it too low and we overwhelm our nodes. Moreover, these values must change with indexi

[2019-02-21 15:15] dakrone commented on #39226
Hi,
We reserve Github issues for feature requests and bug reports. If you are having problems please use https://discuss.elastic.co instead!

[2019-02-21 15:15] #39226 closed

[2019-02-21 15:17] benwtrent commented on #38188
Looks like 7.0 missed the backport: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+multijob-unix-compatibility/os=ubuntu-14.04&&immutable/30/console

[2019-02-21 15:19] elasticmachine commented on #39244
Pinging @elastic/es-core-features

[2019-02-21 15:24] iverase commented on #39237
Hi @hudsonb,

Thanks for you interest in Elasticsearch.

I have tried locally to connect to an index created on version 6.5.1 and everything worked as expected. What do you mean with `upgrade`?

Note that in version 6.6.0, the default geo_shape strategy was changed and it uses a faster and more precise indexing strategy based on Lucene BKD tree. Unfortunately, this strategy does not support queryi

[2019-02-21 15:58] mayya-sharipova commented on #32827
I have done some investigations for `testQueryRewrite` test case.

On 6.x it fails from time to time, and [Colin's PR](https://github.com/elastic/elasticsearch/pull/33313) to use `forceMerge` can be backported to 6.x to help with failures.

On master (after Colin's change)  it fails very very occasionally. [Last failure](https://groups.google.com/a/elastic.co/forum/#!searchin/build-elasticsearch/%

[2019-02-21 16:00] markharwood commented on #38188
[Build tests](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-1y,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'DocsClientYamlTestSuiteIT%20AND%20test:%22test%20%7Byaml%3Dreference%2Fanalysis%2Fanalyzers%2Flang-analyzer%2Fline_1353%7D%22'),sort:!(time,desc)))

[2019-02-21 16:12] davidkyle commented on #38796
The error is that the ml code uses `doc` as its single mapping type and after reindex the new indices have the mapping type `_doc`.

`Rejecting mapping update to [.reindexed-v7-ml-config] as the final mapping would have more than 1 type: [_doc, doc]`

#39256 describes the problem and closes this.

[2019-02-21 16:24] hudsonb commented on #39237
Sorry, by upgrading I meant installing elasticsearch 6.6.0, updating our type mappings to take advantage of the faster and more precise BKD trees for geo_shapes, and reindexing our data.

This was our primary motivation for upgrading.

This was not mentioned in Breaking Changes so it caught us off guard. The geo_shape query docs do say that they work with GeoJSON shapes, which doesn't have the con

[2019-02-21 16:32] markharwood commented on #39245
[Build stats ](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-90d,mode:quick,to:now))&_a=(columns:!(_source),filters:!(),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'test:testIndividualActionsTimeout%20AND%20class:org.elasticsearch.xpack.ccr.CcrRepositoryIT%20AND%20stacktrace:%22has%20unreleased%20

[2019-02-21 16:36] benwtrent opened #39258 "CCR Rolling upgrade failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/478/console

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+bwc-tests/474/console

Both builds failed to the same problem
[code]
For `oneThirdUpgradedTestCluster` I never see a `node-1` even attempt to build, So I am assuming it is trying to connected to the old cluster. From what I can tell bo

[2019-02-21 16:36] elasticmachine commented on #39258
Pinging @elastic/es-distributed

[2019-02-21 16:41] markharwood commented on #35686
[Build stats ](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-1y,mode:quick,to:now))&_a=(columns:!(_source),filters:!(),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'test:%22testNotBlockingUnsafeStackTraces%22%20AND%20class:org.elasticsearch.test.disruption.LongGCDisruptionTests'),sort:!(time,desc))

[2019-02-21 16:49] benwtrent commented on #39258
Possibly related to: https://github.com/elastic/elasticsearch/pull/39094

This build was done on commit 32838daa7d7f1fa5c9c599dd45f681a1a288253f before that PR was merged into master.

[2019-02-21 16:58] benwtrent commented on #36761
Test failed builds again:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java11,nodes=immutable&&linux&&docker/30/console

[code]

[2019-02-21 17:10] andrejbl opened #39259 "Unstable ES 6.3.0 cluster due to persistent shard lock acquisition exceptions"
**Elasticsearch version** (`bin/elasticsearch --version`):
[code]
**Plugins installed**: [repository-s3, discovery-ec2]

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]
**Description of the problem including expected versus actual behavior**:

Rolling upgrade (https://www.elastic.co/guide/en/elasticsearch/reference/6.3/rolling-upgrades.html)

[2019-02-21 17:14] markharwood commented on #30290
[Build stats](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-1y,mode:quick,to:now))&_a=(columns:!(_source),filters:!(),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'stacktrace:%22Accounting%20breaker%20not%20reset%20to%200%22'),sort:!(time,desc))) tracking

[2019-02-21 17:16] benwtrent opened #39260 "SSLConfigurationReloaderTests.testReloadingPEMKeyConfigException failure"
Failing Test:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=immutable&&linux&&docker/30/console

Reproduce line:
[code]

Unable to reproduce locally, it seems like the failure is intentional? I do not quiet understand how this test is written

[code]

The truncate action should cause the failure, but the fa

[2019-02-21 17:16] elasticmachine commented on #39260
Pinging @elastic/es-security

[2019-02-21 17:26] #39011 closed

[2019-02-21 17:26] #39201 closed

[2019-02-21 17:28] hudsonb commented on #39170
This doesn't sound like an elasticsearch bug to me. Can't you add a filter to your `ObjectMapper` to ignore this?

[2019-02-21 17:47] hub-cap commented on #38356
I have cleaned up the machines that recently failed. The cleanup process is to remove the box from vagrants ` ~/.vagrant.d/boxes/` folder. The fact that this happens across many nodes makes me feel suspect about it just being random. I will continue to monitor this and see if i can draw any conclusions.

[2019-02-21 17:49] ppf2 commented on #38678
+1

ILM introduces another feature (via index templates) where users can inadvertently cause havoc on our system indices dot indices.

[2019-02-21 17:50] hub-cap commented on #30699
I do not have anything in progress here @tvernum. this fell off my radar a while ago :) Feel free to reassign it if you have something that will fix/close it.

[2019-02-21 18:06] benwtrent commented on #29880
Failed another build.
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/1652/console

[2019-02-21 18:11] matriv commented on #39220
Cannot manage to reproduce locally.

After some investigation and comparison of the logs of successful runs vs the logs of this failure, I see that for successful runs, when creating the index there are entries like:
```[node_tm0] processing [ApplyCommitRequest{...```
and
[code]
which are missing from the log when the failure occurs.

[2019-02-21 19:12] original-brownbear commented on #35686
I think I was able to track this down and fix it in https://github.com/elastic/elasticsearch/pull/39261:)

[2019-02-21 19:14] martijnvg commented on #39258
@benwtrent I think this is a case of master using a commit without the change in #39094 and the 7.x checkout used to build the bwc nodes using commit with that change in place. Going thought the logs, it appears that ecfd48b6d38f6a958a81b67029f0ac6ac258eb60 from 7.x branch was used.

So I hope that these failures will be gone soon. 🤞

Prior to pushing #39094, I did disable bwc tests in master, 7.x

[2019-02-21 19:16] martijnvg commented on #36761
I think we should mute this test in master, 7.x, 7.0 and 6.7 branches. I will take a look at the recent failures tomorrow.

[2019-02-21 19:23] benwtrent commented on #39011
@jasontedor it seems that the fix did not work, or made another issues visible.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/1654/console

[2019-02-21 19:25] jasontedor commented on #39011
@benwtrent At a glance, that looks like a different issue. Would you mind opening a new issue, and muting the test again? Sorry, I am mobile right now otherwise I would do that sort of work without burdening you for it.

[2019-02-21 19:33] benwtrent opened #39268 "[CI] Test Failure CcrRetentionLeaseIT.testRetentionLeaseIsRenewedDuringRecovery"
Build:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/1654/console

Unable to reproduce locally:
[code]
Failure trace:
[code]

Possibly related to https://github.com/elastic/elasticsearch/issues/39011

[2019-02-21 19:33] elasticmachine commented on #39268
Pinging @elastic/es-distributed

[2019-02-21 20:12] bencrenshaw1972 commented on #22406
I'm investigating this with a customer trying to apply SSL.  It may be the fact they are using a Wildcard certificate.

[2019-02-21 20:23] benwtrent commented on #32299
Another failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2183/console

[code]
[code]

[2019-02-21 21:16] polyfractal commented on #39170
I agree, I think this is just an issue with how Jackson is trying to automagically convert an object to JSON.  E.g. `StringTerms` objects, the result of a terms agg on a string field, [knows how to convert strings to numbers](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/StringTerms.java#L69-L79).

If you want a JSON va

[2019-02-21 21:16] #39170 closed

[2019-02-21 21:22] polyfractal commented on #37206
No concrete status update right now.  We're still discussing how to go about encoding shapes into doc values (there are several limitations/considerations that we need to work around).  When we have some news moving forward -- a plan or something similar -- we'll make an update here :)

The `@elastic/es-analytics-geo` team is just an alias that we use to ping internal email lists, so that differen

[2019-02-21 21:24] #38875 closed

[2019-02-21 21:34] jaymode commented on #39260
The truncate action should cause an issue with reloading the key configuration and because of this, the reloading of the ssl context should not be triggered. I'll dig.

[2019-02-21 22:06] imotov commented on #37356
So. It turned out it is a different issue, but with the same cause. ` GeoTestUtil.nextPolygon()` can generate such a small polygon that it causes arithmetic underflow when we try to calculate orientation. In this case the polygon that is causing the issue is this:

[code]

I opened #39275 to ignore the test if such a small polygon is generated for now.

However, I am wondering if we should change

[2019-02-21 22:49] Puppetmaster134 opened #39276 "Incorrect token_count with stopwords filter applied"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.5.4

**Plugins installed**: ["analysis-phonetic"]

**JVM version** (`java -version`):
1.8.0_171

**OS version** (`uname -a` if on a Unix-like system):
Windows 10

**Description of the problem including expected versus actual behavior**:
Using an analyzer with a stopwords token filter, I expected my nested token_count field to contain 5 f

[2019-02-21 22:52] tvernum commented on #32299
Thanks, I'll look today and re-mute if needed.

[2019-02-22 00:58] ppf2 commented on #39163
I wonder if we will want to set the lower bound to something higher than 1s.  Do we see potential issues with ILM triggers as frequent as 1s for clusters that have frequent state changes that might have a fairly busy master node?

[2019-02-22 01:33] jffree opened #39282 "Data loss when old master node dead and startup again"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):  elasticsearch/elasticsearch-oss:6.3.2

**docker version**: 18.03.1-ce

**OS version** (`uname -a` if on a Unix-like system): centos7.5

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.  we have two node cluster, A (master), B(slave)
 2.  A node dead, and B be

[2019-02-22 01:44] tvernum commented on #39282
@jffree The idea of a "slave" doesn't exist in Elasticsearch. We have "master eligible" and "non master eligible" and we have an "elected master", but "slave" isn't a term we use so it's not clear exactly what your configuration was.

It sounds like you might have been running with an unsafe configuration - can you please update your desciption to use clear Elasticsearch terminology so we can be s

[2019-02-22 01:51] jffree commented on #39282
@tvernum
1. I have two nodes in cluster (A and B)
2. old cluster A is master, I set `node.master: true`  in `elasticsearch.yml`, B is set   `node.master: false`  in
 `elasticsearch.yml`
3. Stop A, update B config( remove  `node.master: false`  in  `elasticsearch.yml`), so B can run standalone
4. POST new data to B node
5. Startup A node and (set `node.master: false`  in `elasticsearch.yml`),   B i

[2019-02-22 01:56] elasticmachine commented on #39282
Pinging @elastic/es-distributed

[2019-02-22 02:01] jffree commented on #39282
@tvernum
We also have tried to delete data (UUID dir on A node) when A join cluster again, but data still lost

[2019-02-22 02:36] tvernum opened #39284 "Running Kibana Upgrade assistant from 6 to 7 makes security index non-restricted"
The Kibana upgrade assistant has the ability to upgrades 5.x format indices by reindexing them into a new name and then aliasing the old name to the new name.

It includes the ability to do this for `.security-6` and the intent was that this would be the recommended way to upgrade a security index from 5.x to work on 7.x

However, this has some unintended consequences.

## Scenario
- I created a 5

[2019-02-22 02:36] elasticmachine commented on #39284
Pinging @elastic/es-security

[2019-02-22 02:44] tvernum commented on #39284
Ping: @gwbrown @tylersmalley @joshdover

[2019-02-22 03:02] elasticmachine commented on #39276
Pinging @elastic/es-search

[2019-02-22 03:03] #39245 closed

[2019-02-22 03:24] rafarnaez commented on #31639
This could help to those who install kibana elasticsearch without xpack as basic / free license

https://aboullaite.me/secure-kibana-keycloak/

[2019-02-22 04:09] ywelsch commented on #39282
@jffree you haven't properly configured `minimum_master_nodes`. Please read https://www.elastic.co/guide/en/elasticsearch/reference/current/discovery-settings.html#minimum_master_nodes and adapt your configuration. Also note that questions like this should best be first asked on https://discuss.elastic.co instead. Thank you

[2019-02-22 04:09] #39282 closed

[2019-02-22 04:17] jasontedor commented on #39268
I think it's a race condition in the test and I know how to address it. I will try to get to in the next few days. I am so sorry to the team for the disruption caused by this test.

[2019-02-22 05:06] #35686 closed

[2019-02-22 05:16] jffree commented on #39282
@ywelsch
I have set `minimum_master_nodes`  1  in `elasticsearch.yml`.
Also, I have node this question on https://discuss.elastic.co, but nobody could solve it.
And I want to ask you, if you do not clear what happened, why you close this issuse?

[2019-02-22 05:25] ywelsch commented on #39282
you have two master-eligible nodes, so you need to set minimum_master_nodes to 2, i.e. `(master_eligible_nodes / 2) + 1  == (2/2) + 1 == 1 + 1 == 2` according to the linked docs. More info is also here: https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html#split-brain

[2019-02-22 05:28] jimczi commented on #39276
By default the token_count field mapper will take all terms into account. However you can change the default behavior by setting `enable_position_increments` to false. This will not count the tokens removed by the analysis and should output 5 in your example. You can check https://www.elastic.co/guide/en/elasticsearch/reference/current/token-count.html#token-count-params  for an exhaustive list of

[2019-02-22 05:28] #39276 closed

[2019-02-22 05:31] jffree commented on #39282
@ywelsch
If I have set `minimum_master_nodes` 2, one node dead, and the cluster will not work.
I hope the other node will still support service.

[2019-02-22 06:46] ywelsch commented on #39282
yes, you cannot have high availability in a 2 node cluster. Note that with `minimum_master_nodes` 2, the remaining node will be available for searches, but not for writes or metadata operations (e.g. backups).

[2019-02-22 07:47] tvernum commented on #32299
By piecing together the output from the test with the cluster log, I have a theory about what's happening here:
[code]

It seems there was a concurrency issue between deleting the watch (somewhere between `19:06:36,093` and `19:06:36,306` in the test) and an executing of the test being written to the `.watches` index (around `18:06:36,098` on the node).

The watcher stats are driven from the `Trig

[2019-02-22 08:03] martijnvg commented on #39239
Discussion has been moved to Discuss.

[2019-02-22 08:03] #39239 closed

[2019-02-22 08:30] astefan opened #39288 "SQL: change the default precision for CURRENT_TIMESTAMP"
For `CURRENT_TIMESTAMP` function at the moment we have the following documentation example:

[code]

Which isn't entirely correct, because the lack of a precision, defaults it to `0`. The `0` precision means no milliseconds are returned.

[2019-02-22 08:30] elasticmachine commented on #39288
Pinging @elastic/es-search

[2019-02-22 08:32] markharwood commented on #39268
[Build-stats](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-1y,mode:quick,to:now))&_a=(columns:!(_source),filters:!(),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'class:org.elasticsearch.xpack.ccr.CcrRetentionLeaseIT%20AND%20test:testRetentionLeaseIsRenewedDuringRecovery%20AND%20stacktrace:%22Expe

[2019-02-22 08:38] vigyasharma commented on #39282
@ywelsch While setting `minimum_master_nodes` to 2 will avoid this, curious to know if this expected behavior or a replication edge case?

This does not look like a split brain, at a time there was only one master. First A is master, then it is stopped and node B is made master (single node cluster), then A is made *master ineligible* and added back to cluster. But it seems that node A's shards ov

[2019-02-22 08:56] martijnvg commented on #39259
Some instability is to be expected during a rolling upgrade, especially with ongoing ingestion and searches whilst upgrading. The cluster goes in a yellow state when a node is stopped and when a node is started back up then the after some time the cluster should go back in a green state. While this happens node disconnects and error logs are expected too. As long as you're able to get back into a

[2019-02-22 08:56] matriv commented on #39288
In my opinion we should change the behaviour, as for example PostgreSQL behave like:
[code]

[2019-02-22 08:58] jkakavas commented on #33185
And another one today: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2197/consoleText in master intake

This fails once in a while: https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-6M,mode:quick,to:now))&_a=(columns:!(_source),index:b646ed00-7efc-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:

[2019-02-22 09:04] bpintea commented on #39288
I would also favor one of the two solutions: present meaningful millis with precision 3, or stop at seconds with default precision 0.

[2019-02-22 09:14] markharwood commented on #35503
[Build-stats](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-90d,mode:quick,to:now))&_a=(columns:!(_source),filters:!(),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'stacktrace:%22could%20not%20find%20watch%20%5B_name%5D%20to%20trigger%22'),sort:!(time,desc))) link

[2019-02-22 09:17] pranavrth commented on #39239
This is going on in discussion thread, but can we confirm that this is not a bug. I feel this is a bug.

[2019-02-22 09:18] wrqvince opened #39292 "update performance"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2019-02-22 09:19] #39292 closed

[2019-02-22 09:27] danielmitterdorfer commented on #38832
@benwtrent can we please add *at least* the relevant build output here to help investigating? Jenkins links are usually invalid after a few weeks. While it is still possible to get the build output it is much more trouble to go to build-stats and dig for the respective logs.

[2019-02-22 09:38] andrejbl commented on #39259
Thanks @martijnvg - yes, we do see the normal yellow/green behaviour during the first few node reboots. But after updating a number of nodes, we see extra instability with cluster ending up in yellow state for a prolonged period of time (can be several hours) with shard rebalancing happening all the time, and the particular exceptions above logged during that time frame. This in turn forces us to

[2019-02-22 09:40] martijnvg commented on #39239
Hey @pranavrth, when it has been confirmed that this is a bug, then this issue can be re-opened or new issue can be opened.

It looks like you opened this issue just after you posted your question on the forum. We try to keep the list of issues in github clean and we kindly ask only to open a new issue for new feature requests or a clear bug reports. Sometimes it takes a while in order to get a be

[2019-02-22 09:45] droberts195 commented on #39284
This also has implications for 7.0 as (unlike 6.x) 7.x will have a migration assistant from day one to prepare for upgrade to version 8.  elastic/kibana#30849 details a vaguely similar problem that affects the ML and Watcher indices in 7.0.

Logically extending the proposal in this issue description:

* Change the Kibana assistant _in 7.x_ to rename `.security-7` to `.security-8`
* Change Elastics

[2019-02-22 09:49] romseygeek commented on #32827
We had another failure last night, this time in a different test method on the same class:
[code]

Link to build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/1678/console

Reproduce line (doesn't reproduce, of course):
[code]

[2019-02-22 09:52] romseygeek commented on #38356
Failed on an Ubuntu machine this time
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+packaging-tests/385/console

[code]

[2019-02-22 09:55] romseygeek commented on #29880
And another:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/385/console

I'll re-mute

[2019-02-22 10:07] DaveCTurner commented on #39282
For reference, it looks like the same question was asked on the discussion forum --> https://discuss.elastic.co/t/data-loss-when-old-master-node-dead-and-startup-again/169506/6

@vigyasharma yes please ask your question on the forum. It's a good question, but this is not the right place to answer it.

[2019-02-22 10:14] colings86 commented on #32827
Relevant part of the logs for reader versions:
[code]

[2019-02-22 10:17] tvernum commented on #39284
Thanks @droberts195

That sounds like an issue. The 7.x upgrade assistant breaks the security index (https://github.com/elastic/elasticsearch/issues/39018), we shouldn't be shipping with that enabled.

[2019-02-22 10:30] martijnvg commented on #39259
It is difficult to say why the yellow state prolongs for a long period of time and why many shard rebalancings are happening. Have you tried running the [allocation explain api](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-allocation-explain.html) while this is happening? This perhaps provide more details on why specific shards are not allocated immediately. Also are the

[2019-02-22 10:33] droberts195 commented on #39018
I think this is the same problem as https://github.com/elastic/elasticsearch/issues/38796#issuecomment-466060171, which is _hopefully_ fixed by #39256, i.e. moving to typeless APIs in 7.0.  However, I have some concerns that there are edge cases where there will be problems: https://github.com/elastic/elasticsearch/pull/39256#issuecomment-466078794

We're aiming to test these edge cases at the beg

[2019-02-22 10:40] DaveCTurner opened #39299 "FsBlobStoreRepositoryIT#testSnapshotRestore fails reproducibly"
... for some value of the word "reproducibly". After 180 iterations of this command:

[code]

I reproduced the failure that occurred here: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+internalClusterTest/989/console. However I ran over 1000 iterations of just that one test (same command line plus `-Dtests.method=testSnapshotAndRestore`) without a single failure.

The presentin

[2019-02-22 10:40] elasticmachine commented on #39299
Pinging @elastic/es-distributed

[2019-02-22 10:45] colings86 commented on #32827
The [forcemerge request before we start sending search requests](https://github.com/elastic/elasticsearch/blob/master/server/src/test/java/org/elasticsearch/indices/IndicesRequestCacheIT.java#L391) should be blocking until it completes. My only thoughts on how we could still end up with a refresh after this is:
1. The forcemerge request timed out. I don't think this can be the case since the check

[2019-02-22 10:46] romseygeek commented on #37898
This just failed in the 6.7 branch - was the fix supposed to be backported?

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+multijob-unix-compatibility/os=ubuntu-14.04&&immutable/32/console

[2019-02-22 10:52] colings86 commented on #32827
From what I can see the flush operation is [synchronous with the forcemerge inside `InternalEngine`](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java#L1893) so scenario 2 does not seem to be possible

[2019-02-22 11:01] jpountz commented on #37898
Apparently I failed to backport it. I'll do it today, thanks for noticing!

[2019-02-22 11:03] colings86 commented on #32827
One thing that might help, though I don't think will solve the issue entirely is to move the [refresh()](https://github.com/elastic/elasticsearch/blob/master/server/src/test/java/org/elasticsearch/indices/IndicesRequestCacheIT.java#L389) so its after the forcemerge request. The `testCacheWithFilteredAlias` is the only test method where we refresh and then forcemerge rather than the other way aroun

[2019-02-22 11:06] romseygeek opened #39302 "EvilNodeTests failure in CI"
This fails reproducibly in 5.6:
[code]

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-darwin-compatibility/258/console

[2019-02-22 11:07] elasticmachine commented on #39302
Pinging @elastic/es-core-infra

[2019-02-22 11:28] stevedodson commented on #38467
This sort of use-case is one of several we have in mind as we investigate adding support for supervised and unsupervised classifiers to Elastic ML. Nothing to announce at this time, but thank you for opening this issue - it helps confirm our understanding of the needs here.

[2019-02-22 11:37] anthraxx opened #39305 "latest git tag missing again (6.6.1)"
Hi,

it looks like the latest git tags are missing again, please push 6.6.1 :)
cheers

[2019-02-22 11:45] original-brownbear commented on #39299
Also reproduces on `master` :)

[2019-02-22 11:46] romseygeek opened #39306 "BasicWatcherTests.testConditionSearchWithIndexedTemplate failure in CI"
First failure today, doesn't reproduce:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/771/console

[code]
[code]

[2019-02-22 11:46] elasticmachine commented on #39306
Pinging @elastic/es-core-features

[2019-02-22 11:47] romseygeek commented on #39306
Here's the relevant excerpt from the logs:
[code]

[2019-02-22 11:48] romseygeek commented on #39306
When I run it locally, the watch fires immediately on being created, which doesn't seem to be happening here

[2019-02-22 12:10] romseygeek opened #39308 "IndexFollowingIT.testDeleteLeaderIndex fails in CI"
First failure today, does not reproduce:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/1693/console

[code]

[code]

[2019-02-22 12:10] elasticmachine commented on #39308
Pinging @elastic/es-distributed

[2019-02-22 12:16] romseygeek commented on #38356
And again on Ubuntu:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+packaging-tests/386/console

[2019-02-22 12:18] romseygeek commented on #38356
In fact it looks as though the 5.6 packaging tests have been failing with this error since the beginning of this week.

[2019-02-22 12:25] romseygeek commented on #38708
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+branch-consistency/129/console

[2019-02-22 12:26] martijnvg commented on #39308
The actual cause of the failure is that instead of index following failing with an index not found exception, index following fails with a NPE:

[code]

This fix is simple. In `ShardChangesAction.TransportAction#globalCheckpointAdvancementFailure(...)` method we need to guard against the fact that the `IndexMetaData` instance for the leader index is missing.

[2019-02-22 13:07] andrejbl commented on #39259
We've just had another occurrence. Running the allocation API didn't produce much:
[code]

Recovery API is reporting that a few shards are initialising. At least one of those initialising shards (redacted to `shard_name` for PII purposes) were reported as failed in the cluster master logs before the initialisation started:
[code]
The node the failing shard was on [OYKCoUQOSVCODtzYYGEgiQ] was a dif

[2019-02-22 13:24] jasontedor commented on #39305
Sorry the trouble, we are on it.

[2019-02-22 13:27] jasontedor commented on #39305
I pushed this tag.

[2019-02-22 13:27] #39305 closed

[2019-02-22 13:35] droberts195 commented on #39305
I also pushed one for v5.6.15 which was released the same day.

[2019-02-22 13:36] acarstoiu commented on #36853
[not helpful]
I'm curious, where did you find the tip about `_bucket`?

[2019-02-22 13:49] romseygeek commented on #38898
And another: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=zulu11,nodes=immutable&&linux&&docker/32/console

[2019-02-22 13:57] #39244 closed

[2019-02-22 13:57] dnhatn commented on #38898
I am on it today.

[2019-02-22 14:16] romseygeek opened #39314 "StableMasterDisruptionIT fails in CI"
StableMasterDisruptionIT.testFollowerCheckerDetectsUnresponsiveNodeAfterMasterReelection failed for the first time today.  The failure does not reproduce:
[code]

The assertion is tripping because it expects a `term` of `1`, but it's getting one of `3`.

Reproduce line:
[code]

Build log:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2204/console

[2019-02-22 14:16] elasticmachine commented on #39314
Pinging @elastic/es-distributed

[2019-02-22 14:20] romseygeek opened #39315 "SuggestSearchIT.testEmpty failure in CI"
Failed in master for the first time today, does not reproduce

[code]

Reproduce line:
[code]

Log:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/1711/console

[2019-02-22 14:20] elasticmachine commented on #39315
Pinging @elastic/es-search

[2019-02-22 14:21] romseygeek commented on #39315
The odd thing here is that immediately before the suggestion is sent, a document is indexed with a `text` field, and then `refresh()` is called, which ought to ensure that either the mapping exists or adding the document fails.

[2019-02-22 14:27] romseygeek opened #39316 "SearchServiceTests.testCloseSearchContextOnRewriteException failure in CI"
Failed for the first time in 6.6 today, does not reproduce:
[code]

Reproduce line:
[code]

Build log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.6+multijob-unix-compatibility/os=opensuse/130/console

[2019-02-22 14:27] elasticmachine commented on #39316
Pinging @elastic/es-search

[2019-02-22 14:27] martijnvg commented on #39259
This is good, which means that all shards have been allocated or are in the process of being allocated.

Errors like that one are likely to happen when nodes are being stopped and there are inflight write requests. It means it was unable to replicate a write to a replica shard, because the node holding it, is no longer available (when that replica shard will re-appear on another node, it will have

[2019-02-22 14:45] benwtrent commented on #38832
@danielmitterdorfer I updated my comment to include the snippet of the timeout failure. I initially did not add them as it did not provide any more information than what was already included in this issue.

[2019-02-22 15:12] DaveCTurner commented on #39299
It seems that we are not correctly flushing all completed operations before taking the snapshot. The offending shard flushes with one operation still in-flight (NB local checkpoint is 66, max seqno is 67):

[code]

Then a short while later we contemplate doing another flush prior to the snapshot but decide to do nothing:

[code]

Once the snapshot completes we delete the index and restore it:

[co

[2019-02-22 15:35] joshdover commented on #39284
Special handling for `.security-6` to `.security-7` in the Kibana Upgrade Assistant seems like a reasonable approach to me. For the Upgrade Assistant shipping in 7.0, do we want to disable reindexing of the `.security-7` index to `.security-8` for the time being?

I ask due to the [discussion about special system indices](https://github.com/elastic/elasticsearch/issues/38678#issuecomment-462211056

[2019-02-22 15:36] joshdover commented on #39284
As an aside, should we restrict reindexing of the security index in general? While unlikely, it's possible a user could reindex this index and use aliases and get their cluster into a broken or insecure state.

[2019-02-22 15:45] barracuda317 commented on #5512
Is the size parameter in https://www.elastic.co/guide/en/elasticsearch/reference/7.0/search-aggregations-bucket-geotilegrid-aggregation.html something like k-means-clustering for geo-search?

[2019-02-22 15:47] droberts195 commented on #29605
This will likely be superseded by whatever is decided in #38678.

[2019-02-22 15:58] droberts195 commented on #38678
The problem of customer templates applying to internal indices has been previously raised in #29605.  There was an idea for what to do in https://github.com/elastic/elasticsearch/issues/29605#issuecomment-383100069.

It would be nice if the eventual solution could be used by all plugins that require internal indices, and not just security.

I think there are also two types of internal indices that

[2019-02-22 15:59] #39218 closed

[2019-02-22 16:05] dakrone commented on #39315
Not necessarily, mapping updates are asynchronous and so the document could be indexed and refreshed without the cluster state update reaching the node.

[2019-02-22 16:10] jpountz commented on #37898
Done.

[2019-02-22 16:14] DaveCTurner commented on #39299
@dnhatn I suspect that the issue with gap-filling lies here:

https://github.com/elastic/elasticsearch/blob/e00e7003fcf75a5d61ea02320c84fd366afd5535/server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java#L259-L264

When restoring from a snapshot, this advances the local checkpoint but does not put corresponding entries in the translog, so by the time we get to `fillSeqNoGaps()` th

[2019-02-22 16:16] polyfractal commented on #5512
@barracuda317 Not really, no.  GeoTile just overlays a fixed grid over the area and aggregates documents into those grid cells.  The grids are constructed irregardless of the data distribution (think of it more like a heatmap).

Clustering like k-means dynamically identifies regions of data that are "similar" and groups them together into a cluster.  Clustering can give you individual clusters tha

[2019-02-22 16:28] dnhatn commented on #39299
@DaveCTurner I was about to ping you. That's the root cause indeed. Great find!

[2019-02-22 16:33] romseygeek commented on #37462
A different test entirely failed with the same error:
[code]

Log here: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+internalClusterTest/1123/console

Reproduction line is:
[code]

The failure is at the start of the test, in `internalCluster().ensureAtLeastNumDataNodes(5);`, so I don't think it's specific to the test itself

[2019-02-22 16:45] chrisronline opened #39322 "[Monitoring] Cluster alerts need to be updated for hits.total changes"
We need to update the cluster alert watches to handle the hits total changes.

https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/monitoring/src/main/resources/monitoring/watches/elasticsearch_cluster_status.json#L132

[2019-02-22 16:45] elasticmachine commented on #39322
Pinging @elastic/es-core-features

[2019-02-22 16:46] chrisronline commented on #39322
cc @elastic/stack-monitoring

[2019-02-22 17:12] markharwood commented on #38877
[Build-stats link](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-1y,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'class:org.elasticsearch.smoketest.DocsClientYamlTestSuiteIT%20AND%20stacktrace:%22waiting%20for%20rollup%20job%22'),sort:!(time,desc))) for th

[2019-02-22 17:26] polyfractal commented on #38877
Thanks for that @markharwood ... looks like the last one was on the 20th (the day the backports merged).  Fingers crossed we dont see this pop up again :) :crossed_fingers:

I'll check on the stats after the weekend and see about closing the issue

[2019-02-22 17:31] djptek commented on #16444
working on this

[2019-02-22 17:35] gwbrown commented on #39163
If we were basing a lower bound on what we expect to be useful in the wild, a minimum of something like 1m might be reasonable, but one thing that's prevented us from using a higher minimum than 1s in the past is that we set the `poll_interval` very low in tests to speed up how long it takes to run the tests, and in many cases it makes tests possible that would not be possible otherwise (within a

[2019-02-22 17:38] chrisronline commented on #39322
One option here is to change the watcher code to default to the 6.x total format behind a flag and users can manually turn the flag off if they want their watches to respect the 7.x total format

[2019-02-22 17:44] eskibars opened #39324 "More descriptive error message for upper-case keys in keystore"
**Describe the feature**:
I can't think of a valid reason to have upper-case key names in the keystore, but the error message when you try could use some cleanup.

[code]

It seems we should reject before the user has a chance to enter the value with an exception that relates to the key name rather than the value.

[2019-02-22 17:52] DaveCTurner commented on #17213
In due course we may be able to work towards automating this process, but I want to clarify that this idea is out of the scope of this proposal right now. Our experience is that in most use cases the resource costs of each shard are predictable enough that we do not need to automate these predictions to add value.

Possibly, but again I want to clarify that this idea is out of the scope of this pr

[2019-02-22 18:22] jdconrad commented on #36782
I think the error that happened above is actually slightly different from the original, but I believe they all stem from the same thing.  It appears to me that watcher initiates it's shutdown and drains the queue, but it's possible that something has already made it through the queue already on a different thread after the shutdown takes place and the watcher indices are already gone.  Watcher the

[2019-02-22 18:34] hub-cap commented on #38356
yea its not just 5.6, its any of these tests. This time it failed on ubuntu, not centos. Im investigating some automation that cleans up old vms now to see if that is the culprit. More info to come

[2019-02-22 19:14] jasontedor commented on #39324
There is a related issue here. Today it is possible for a setting to contain uppercase letters. Because of the limitation here that we imposed on the keystore, it is not possible for such a setting to be in the keystore. I think that we should remove the ability for settings to contain uppercase names, for settings in the configuration file and settings in the cluster state.

[2019-02-22 19:22] dnhatn commented on #39299
This is an unreleased bug that relates to #38237. This bug only affects the snapshot/restore with soft-deletes enabled.

Since #38237, we initialize the local_checkpoint of the restoring shard with the local_checkpoint of the restoring commit (previously we assigned the max_seq_no to the local_checkpoint). This change exposes that refilling LocalCheckpointTracker does not play well with "fillSeqNo

[2019-02-22 20:28] #34046 closed

[2019-02-22 21:27] glucaci commented on #21917
I have the same problem with version 6.6.1-oss installed from .zip on Windows Server 2016 Datacenter 10.0.14393 / 56GB RAM

`JAVA_HOME` is set as System Variable
[code]
Logs after `elasticsearch-service.bat start`
[code]
Stderr and stdout has no aditional information.

Java options from `elasticsearch-service.bat manager`
[code]

If i start `bin\elasticsearch.bat` from comand line is working.
Befo

[2019-02-22 22:18] smalenfant commented on #37607
@droberts195 We didn't have time to go through the process of re-indexing although we did upgrade to 6.6.1. The mapping problem went away, although my jobs can't seem to open at all now. Might be a totally different issue.

[code]

[2019-02-22 23:09] jasontedor opened #39331 "CcrRetentionLeaseIT#testRetentionLeasesAreNotBeingRenewedAfterRecoveryCompletes is flaky"
This test looks like it fails rarely (I see one failure), I found it while looking in the build stats for another test case. The failure is this:

[code]

I understand the reason for the failure and will push a fix shortly.

[2019-02-22 23:09] elasticmachine commented on #39331
Pinging @elastic/es-distributed

[2019-02-22 23:52] Mehrank64 commented on #38620
Hello,
I started working on this issue. To be honest this is my first experience in contributing to open source projects and struggling to fully set-up the environment with all the details.
I did change what you described in the ticket my changes passed all unit tests, but have a problem with Integration test.

I am getting this error when trying to run `ScheduledEvents`

lang.IllegalArgumentExcep

[2019-02-23 01:42] #39268 closed

[2019-02-23 05:30] SenalChen commented on #37164
Hi @iverase ,I have a new issue about QueryShardException:
Failed to execute phase [query], all shards failed; shardFailures {[eQoH4XkNTUutOsYZZsTVcA][landsat8][0]: RemoteTransportException[[eQoH4Xk][127.0.0.1:9300][indices:data/read/search[phase/query]]]; nested: QueryShardException[Field [polygon] is not of type [geo_shape] but of type [text]];
kibana shows:
     "polygon" : """
{
  "type" : "po

[2019-02-23 05:39] SenalChen commented on #37164
Hi @iverase, can I use :
IndexResponse createData(Client client, String jsonObject,
                                    String index, String type, String id);
to put Geo_type and other mappings?

[2019-02-23 09:35] SenalChen commented on #37164
I used Map resolve this issue,but I also don't know how to save PolygonBuilder to a Object and then Object to json, and then put json to Elasticsearch, if u see this issue, pls tell how to do it.Thank you very much!

[2019-02-23 12:20] jasontedor commented on #39268
This test has not failed since the fix that I pushed last night.

[2019-02-23 15:52] #39258 closed

[2019-02-23 18:07] dnhatn commented on #38898
I added a reason that close the IndexWriter to this assertion in #39333. If this test fails again, we will know why the IndexWriter is closed.

[2019-02-23 18:18] Bukhtawar opened #39334 "Support for automatic release of index block once disk frees up"
### The Problem
The `DiskThresholdMonitor` in Elasticsearch monitors for disk utilization across nodes periodically based on `cluster.info.update.interval` and ends up putting a `INDEX_READ_ONLY_ALLOW_DELETE_BLOCK` on every index that has atleast one shard on a node that breaches `cluster.routing.allocation.disk.watermark.flood_stage` but leaves those indices in the same state even after disk free

[2019-02-24 20:55] #39165 closed

[2019-02-25 00:22] tvernum commented on #39284
Great, I'll work on making the necessary changes to ES to treat `.security-7` in a special way.

@albertzaharovits, since you've most recently worked on restrict indices, can you get up to speed on this issue and be ready to review my PR when it's up?

Yes, for 2 reasons
1. As we know it stops security feature from working. Sorry, I didn't realise the impact of that when it was first raised.
2. I

[2019-02-25 03:07] dnhatn commented on #38898
Another instance: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=zulu11,nodes=immutable&&linux&&docker/262/console

[code]

[2019-02-25 03:07] dnhatn commented on #38898
I opened https://github.com/elastic/elasticsearch/pull/39338.

[2019-02-25 05:19] kiju98 commented on #37092
Maybe it's even better mentioning that the global ordinals are are monitored in the `fielddata` stats (see https://discuss.elastic.co/t/global-ordinals-performance-and-size-on-heap/158320/2)

[2019-02-25 06:23] bizybot opened #39339 "Internal index unrecoverable when upgrade from 5.6.x fails to reindex"
When following the steps mentioned in the [upgrade guide](https://www.elastic.co/guide/en/elastic-stack/6.6/upgrading-elastic-stack.html),
if we disable the cluster shard allocation but fail to enable it after
upgrading the nodes and plugins, the next step of upgrading internal
indices fails. As we did not check the bulk response for reindexing,
we delete the old index assuming it has been reindex

[2019-02-25 06:23] elasticmachine commented on #39339
Pinging @elastic/es-core-features

[2019-02-25 06:38] #35982 closed

[2019-02-25 06:43] pedrostil commented on #38836
Hey, can I work on this?

From what I understood this is just for supporting intelligent tiering, not changing the default storage level, correct?

[2019-02-25 07:55] magnuslarsen commented on #38454
These would be a fantastic feature to have (`{index}` and `{write_index}`). Upvotes from here.

[2019-02-25 09:22] droberts195 commented on #38620
Thanks for looking at this @Mehrank64.  How did you run `ScheduledEventsIT`?  Did you try to run it from your IDE?  This is not possible for integration tests that use an external cluster.

Try running this from the top level of your clone of the repo:

[code]

Does the test pass on your machine when run like that? If not, how about on a clean clone without your changes?  If it doesn't pass on a c

[2019-02-25 09:29] javanna commented on #32690
hi @Tiedye sorry about the radio silence. Given that the completion suggester returns now the `_source` field, meaning the entire documents that match, you can have the desired output in any field of your documents. I had a look at your example and I have a couple of questions though: why use an array for the suggestions? Would it be possible to simplify things and have one suggestion per top-leve

[2019-02-25 09:32] droberts195 commented on #37607
@smalenfant like you say, your new problem could be something completely different.  If you have a support contract please open a support case for it.  Then our support team can lead you through the process of gathering enough information to diagnose what's wrong.  If you don't have a support contract please ask on the [Discuss forum](https://discuss.elastic.co/tags/machine-learning).  Tag your qu

[2019-02-25 09:35] astefan opened #39348 "SQL: JdbcSecurityIT fail when reading audit logging files at rollover time"
This seems to be a consequence of [this fix](https://github.com/elastic/elasticsearch/pull/34909). The test  fails at midnight, so it happens rather rarely. The failure is different than the previous issue, but still they are very much related.

[code]

[code]

The test method is irrelevant, it matters when the audit logging files reading happens.

[2019-02-25 09:35] elasticmachine commented on #39348
Pinging @elastic/es-search

[2019-02-25 09:36] elasticmachine commented on #39334
Pinging @elastic/es-distributed

[2019-02-25 09:39] DaveCTurner commented on #38836
Sure @pedrostil, go ahead. Your understanding is correct.

[2019-02-25 09:43] #39126 closed

[2019-02-25 09:46] astefan opened #39349 "SQL: CurrentDateTimeTests failure for testHashCodeAndEquals"
Likely, similar with https://github.com/elastic/elasticsearch/issues/38666.

[code]

[code]

[2019-02-25 09:47] elasticmachine commented on #39349
Pinging @elastic/es-search

[2019-02-25 09:51] javanna commented on #37636
hi @Ghost93 , you are printing out a partial object, rather than the whole search response, meaning that you end up trying to output `"aggregations" : {}` which needs to be wrapped in curly brackets. If you wish to output only the aggs part properly, you need to first call `builder.startObject();` and `builder.endObject()` at the end. Or even better, `Aggregations` implements `ToXContentFragment`

[2019-02-25 09:51] #37636 closed

[2019-02-25 10:00] droberts195 commented on #37117
This happened again in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+internalClusterTest/1179/consoleText

This included my change to stop the ML memory tracker as part of `Node.stop` before components get closed.

The exception has moved on from previous occurrences - now it says no master node:

[code]

The log confirms that the ML memory tracker is stopped before this happen

[2019-02-25 10:05] markharwood commented on #37117
[build-stats](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-1y,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'class:org.elasticsearch.license.MachineLearningLicensingTests%20AND%20stacktrace:%22org.elasticsearch.indices.IndicesQueryCache.close%22'),sort:!(t

[2019-02-25 10:34] bleskes commented on #39284
@tvernum thanks for picking this up. To summarize the plan and make sure I don't miss anything:
1) We introduce a new `.security-7` naming convention and teach the migration assistant in 6.x to reindex into it.
2) We will not allow upgrading the `.security-7` index in the 7.x migration assistant code (no matter what ES version created it). We need to be careful around wording in the kibana side he

[2019-02-25 10:39] elasticmachine commented on #39324
Pinging @elastic/es-security

[2019-02-25 10:41] elasticmachine commented on #39324
Pinging @elastic/es-core-infra

[2019-02-25 10:59] jrplusone opened #39352 "Can logstash lookup an ID from ingested logs and replace it with its corresponding data from a database table?"
as above. can logstash do this kind of relational database FK=PK kind of thing?

[2019-02-25 11:27] costin commented on #39306
A similar issue : https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/790/console
However it might be a side effect of the InternalTestCluster not shutting down properly:
[code]

[2019-02-25 11:43] astefan commented on #39349
This one doesn't reproduce so easily. `now` is most of the times different when comparing current instance and the mutated instance, so running the `gradlew` command provided here will most likely fail to reproduce the issue.

But, running the tests with `-Dtests.iters=1000` or higher numbers, the chances increase in reproducing the failure (which happened for me).

[2019-02-25 11:56] matriv opened #39354 "SQL: Remove grammar ambiguities caused by the `predicated`"
The following rules:
[code]
together with:
[code]
cause ambiguities which are detected if the  `DEBUG` variable on `SqlParser` is  set to `true`.

A unit test that fails is `SqlParserTests#testStringQuery` together with many integration tests:
[code]

Relates to #36762.

[2019-02-25 11:56] elasticmachine commented on #39354
Pinging @elastic/es-search

[2019-02-25 11:56] #39220 closed

[2019-02-25 11:59] costin opened #39355 "[CI] CcrRollingUpgradeIT testCannotFollowLeaderInUpgradedCluster fails in CI"
See:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+corretto-periodic/ES_BUILD_JAVA=java11,label=amazon/38/console

[2019-02-25 11:59] elasticmachine commented on #39355
Pinging @elastic/es-distributed

[2019-02-25 12:04] costin commented on #39355
Might be a side-effect of memory locking (there are several warnings in the logs):

[code]

[2019-02-25 12:39] #39308 closed

[2019-02-25 13:26] mbudge opened #39360 "Feature Request: Return tag or field value in bulk import http response"
Hi,

Would it be possible to add a field or tag when doing an index with bulk import?
The user could either set a tag or specify a field and elastic returns the field value in the bulk import http response.

{ "index" : { "_index" : "domains", "_type" : "_doc", "_id" : "1", "tag": "google.com" } }
{ "domain" : "google.com" }

So when we index something we get the ID and the TAG in the bulk import

[2019-02-25 13:32] elasticmachine commented on #39360
Pinging @elastic/es-distributed

[2019-02-25 13:38] cbuescher commented on #38998
@nishitd do you have anything specific in mind that need improvement? Or just some general usage examples? Do you use or want to use the filter for a specific use-case already and would like more information in relation to that use case?

[2019-02-25 14:11] costin commented on #39288
It seems to me that there's no clear rule regarding precision and it's to the operating system/implementation. On one hand I like the default precision (0 in this case) however I can see how, based on the existing behavior, the millis are expected hence why I propose to change, for current_timestamp, the precision to 3.

[2019-02-25 14:15] javanna commented on #39352
hi @jrplusone we reserve github issues for feature requests and verified bug reports. Please could you ask your question in our forums at https://discuss.elastic.co/ ? Thanks!

[2019-02-25 14:15] #39352 closed

[2019-02-25 14:48] elasticmachine commented on #39259
Pinging @elastic/es-distributed

[2019-02-25 14:52] matriv commented on #39349
@astefan nice catch!

[2019-02-25 14:55] martijnvg commented on #39355
This is a test issue. The `no index stats available for the leader index` error is thrown when none of the leader index shards are started. This likely to happen in other tests too.

I can add awaitYellow/Green statement before they put follow is executed in `CcrRollingUpgradeIT.testCannotFollowLeaderInUpgradedCluster()` test, but I wonder whether we should change the put follow api (and resume fo

[2019-02-25 14:58] TheBronx commented on #38837
It is me again, I just found a problem with this approach :cry:
The docu for [ElasticSearch aliases](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-aliases.html) says:

And that is exactly what I did, cause I am using logstash:
![alias](https://user-images.githubusercontent.com/939664/53344747-b841e980-3913-11e9-8ef7-2ce24a1f94f2.png)
The alias is matching all indices that

[2019-02-25 15:22] jasontedor commented on #39360
There have been requests similar to this before. See for example #35739. That one is quite recent, and I don't think our position is going to have evolved at all since then. Note that the responses to a bulk request are returned in the same order as the documents in the request, so you can maintain and align these client side after the response is returned, even with auto-generated IDs.

[2019-02-25 15:22] #39360 closed

[2019-02-25 15:56] wuurrd opened #39366 "gcs-repository: Fails with socket closed"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
6.5.4

**Plugins installed**: [repository-gcs]

**JVM version** (`java -version`):
openjdk version "11.0.1" 2018-10-16
OpenJDK Runtime Environment 18.9 (build 11.0.1+13)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.1+13, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux elasticsearch-0 4.14.65

[2019-02-25 15:57] #38949 closed

[2019-02-25 16:06] elasticmachine commented on #39366
Pinging @elastic/es-distributed

[2019-02-25 16:08] markharwood commented on #38467
Closing as we consider this a client-side task which could take various approaches

[2019-02-25 16:08] #38467 closed

[2019-02-25 16:15] mbudge commented on #39360
You are getting multiple requests for this feature because it will be useful.

[2019-02-25 16:52] Tiedye commented on #32690
@javanna The suggester does return the whole documents, but that is insufficient when you need to know which text exactly matched the input.  In my example you have a document with an array of unique products each with a unique name.   Returning the whole document doesn't tell me which product is matching and thus doesn't tell me what suggestion I should put in an autocomplete.

A separate index w

[2019-02-25 17:16] joshdover commented on #39284
The `.security-6` to `.security-7` path should be simple enough to implement in the Assistant. I've created https://github.com/elastic/kibana/issues/31927 to track this.

Do we have any problem with just not showing any deprecation warning for `.security-7` until we know what we're going to do for 8.0? This could give a false sense of upgradability, but since the assistant already informs the user

[2019-02-25 17:24] bleskes commented on #39284
good one. works from my perspective.

[2019-02-25 18:57] jakelandis commented on #39322
@chrisronline - it should already do this. Here is the plan to support the hits.total changes: https://github.com/elastic/elasticsearch/issues/36115#issuecomment-445895083 , and https://github.com/elastic/elasticsearch/issues/38387.

[2019-02-25 19:10] chrisronline commented on #39322
Oh nice, so we're good to close this probably @jakelandis?

[2019-02-25 19:28] dnhatn commented on #39299
This issue is resolved by #39006.

[2019-02-25 19:35] clintongormley opened #39372 "7.0.0-alpha1 release notes missing"
The release notes for [7.0.0-alpha1](https://www.elastic.co/guide/en/elasticsearch/reference/7.0/release-notes-7.0.0-alpha1.html) contain only the breaking changes.  Everything else is missing

[2019-02-25 19:47] dnhatn commented on #39000
I am closing this issue for it was resolved by #39006. The safe-commit part is considered as an enhancement and will be handled by #39153.

[2019-02-25 19:47] #39000 closed

[2019-02-25 19:51] polyfractal commented on #36487
There are some non-trivial backwards compatibility issues surrounding this issue that I didn't think of originally (see https://github.com/elastic/elasticsearch/pull/37386#issuecomment-454388759), so I'm pulling the `"good first issue"` label.

[2019-02-25 19:55] dnhatn commented on #38633
This should be fixed by #39006. I unmuted this test in https://github.com/elastic/elasticsearch/commit/f59b8cdb30ffd18975b49c1566e3d38c46c18eb2.

[2019-02-25 19:55] #38633 closed

[2019-02-25 20:16] jasontedor commented on #39372
Relates #37969

[2019-02-25 20:21] jakelandis commented on #39322
@chrisronline I think so, unless there was an issue you caught, or you wanted to proactively change the internal watches used by monitoring.  #38387 is labeled as blocker for 8.0 so we won't forget to address this sometime in the 7.x series.

[2019-02-25 20:26] #39315 closed

[2019-02-25 20:27] flash1293 opened #39375 "epoch_millis filter doesn't allow negative values"
Prior to 7.0 it was possible to use negative values in an epoc_millis range filter. This now fails with a parse exception

Steps to reproduce:
[code]

Version 6.6 correctly returns the search result containing one hit, 7.0.0 gives

[code]

Server log stack trace:
[code]

Is this an intended breaking change? I don't find anything about this is the change docs but maybe I'm looking for the wrong key

[2019-02-25 20:31] #38898 closed

[2019-02-25 21:18] elasticmachine commented on #39375
Pinging @elastic/es-core-infra

[2019-02-25 21:19] jasontedor commented on #39375
These are deprecated in #36793 indeed.

@rjernst Can you ensure that a note is added to the 7.0.0 migration guide?

[2019-02-25 21:23] jonaf commented on #38654
How can I draw attention to this? I have found a way to resolve the issue for my needs, but ideally the kind of issue needs to be addressed holistically, taking into account the overall design and goals.

[2019-02-25 21:26] bpiper opened #39377 "Support for ignore_throttled parameter in /_xpack/sql request"
Currently adding an `ignore_throttled=false` parameter to a `/_xpack/sql` request results in this error:

`request [/_xpack/sql] contains unrecognized parameter: [ignore_throttled]`

It therefore seems to be impossible (though happy to be proven wrong on this) to query frozen indices using SQL.  I'm guessing there are also other options (e.g. from `IndicesOptions`) that aren't supported yet for SQ

[2019-02-25 21:44] mayya-sharipova commented on #38998
@nishitd I am going to close this issue, as it is a duplicate for #20757.
We are aware that min hash token filter needs better documentation, and currently we are working on it.  If you have something to add or suggest, please feel free to contribute a PR or add your suggestions on #20757.

[2019-02-25 21:44] #38998 closed

[2019-02-25 21:57] Mehrank64 commented on #38620
@droberts195 Thanks for your help. The test passes when I run it with the above command

I did run the Unit test from the IDE and all should be fine now.

[2019-02-25 22:07] #38718 closed

[2019-02-25 22:13] droberts195 commented on #38620
That’s great @Mehrank64. Once the change is complete please open a PR to merge from the branch in your fork to master and @ mention me in it so I get notified.

[2019-02-25 22:19] Mehrank64 commented on #38620
@droberts195 just did. let me know if you can't see it/any amendment is required

[2019-02-26 00:24] andyb-elastic commented on #30295
I did some testing to look at the disk usage of the opensuse image, while I'm not sure it's conclusive it does seem consistent with our theory here that the disk is causing an issue

This was running the geonames rally track on a single node and monitoring with iostat at a 1 second interval, with both the node and rally running inside a vm image. The node was started like we start it in the packag

[2019-02-26 01:32] jasontedor commented on #39360
@mbudge Thanks for the feedback. We can not implement every feature that appears useful, nor every feature asked for by popular demand. We have design goals and a development philosophy, and we try to orient our efforts towards features that meet our goals consistent with our philosophy. For this one, it can be done entirely client side, with doing it on the server adding no value whatsoever. Yet,

[2019-02-26 02:53] tvernum commented on #39284
@bleskes

Yes. The ES side of this is #39337 which is about ready to merge (I just want a 2nd review on it given the impact).

Yes. The issue is not so much the naming issue (though there is one) but that (per your comment below) current security code can't handle a reindex to `_doc` / type-less APIs.

That's fine (and could be helpful) as long as it doesn't change the name of the `doc` type.

No,

[2019-02-26 07:28] liuxyshcn opened #39387 "java.lang.NoSuchFieldError: LUCENE_8_0_0"
**Describe the feature**:
Wrong LUCENE version number in elasticsearch-7.0.0-beta1.jar

org.elasticsearch.Version.jave(126) turns out to be like below:
    public static final Version V_7_0_0 = new Version(V_7_0_0_ID, org.apache.lucene.util.Version.LUCENE_8_0_0);
But the latest LUCENE version is 7.7.0.
There is no LUCENE_8_0_0 in org.apache.lucene.util.Version.java

**Elasticsearch version** (`bin

[2019-02-26 07:46] cbuescher commented on #39387
Elasticsearch 7 will use Lucene 8 once it is released. The current build already contains the Lucene 8 snapshot.
If I'mnot mistaken, the above version line shouldn't cause any issues on your side, so I think we can close this. Please reopen if you are having trouble with the above e.g. in compiling or running the beta.

[2019-02-26 07:46] #39387 closed

[2019-02-26 07:46] tylersmalley commented on #39284
I have a PR up to make this change in Kibana for 6.7: https://github.com/elastic/kibana/pull/31996

Tomorrow I will take care of excluding security from being upgradeable in 7.0+, unless @gwbrown you think that should be handled in the deprecations API?

[2019-02-26 07:46] elasticmachine commented on #39377
Pinging @elastic/es-search

[2019-02-26 07:48] elasticmachine commented on #39372
Pinging @elastic/es-docs

[2019-02-26 08:03] liuxyshcn commented on #39387
I am just starting to learn to use elasticsearch and trying to get some document from elastic server using java code in the first picture
![image](https://user-images.githubusercontent.com/48007162/53396550-af1e4e80-39df-11e9-9a27-0cad7464c295.png)
It turns out to be error where I run the code as an application.
![image](https://user-images.githubusercontent.com/48007162/53396618-e1c84700-39df-11e

[2019-02-26 08:13] liuxyshcn opened #39388 "LUCENE_8_0_0"
I am just starting to learn to use elasticsearch and trying to get some document from elastic server using java code in the first picture
![image](https://user-images.githubusercontent.com/48007162/53396550-af1e4e80-39df-11e9-9a27-0cad7464c295.png)
It turns out to be error where I run the code as an application.
![image](https://user-images.githubusercontent.com/48007162/53396618-e1c84700-39df-11e

[2019-02-26 08:27] costin opened #39390 "SQL: Support Frozen indices"
Introduced in 6.6, frozen indices support searches within certain constraints.
SQL should be able to detect them and run queries around them. Even better, it should chose the correct search options (such as `pre_filter_shard_size`).

Related to #39377

[2019-02-26 08:27] elasticmachine commented on #39390
Pinging @elastic/es-search

[2019-02-26 08:29] cbuescher commented on #39387
@liuxyshcn sure, no problem. But such questions are better suited for the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. Lets have that discussion there. Thanks.

[2019-02-26 08:31] costin commented on #39377
Thanks for raising this. I've created a dedicated issue regarding support for frozen indices in SQL (#39390).

Likely going forward a user would not have to specify `ignore_throttled` or other search parameters - the SQL engine should automatically detect the type of index used and create the appropriate search. To follow the frozen indices semantics, potentially one could specify the intent in th

[2019-02-26 08:52] astefan commented on #39390
I would be in favor of giving the user the option (or explicit consent) that they want to search such an index. Just like ES itself "asks" for such a [special consent](https://www.elastic.co/guide/en/elasticsearch/reference/6.7/_searching_a_frozen_index.html) through `ignore_throttled` parameter. And this should apply for searches over wildcard named indices as well.

[2019-02-26 09:02] pgomulka commented on #8786
@radzak you are right, the JSON logging will be released with 7.0. We could not use log4j2 JSONLayout for the reasons mentioned in a #22103 (security requirements by jackson dependency )

@faxm0dem How do you mean? You can still provide your own structured pattern or use the previous logging configuration. Happy to hear more feedback from you

[2019-02-26 09:05] liuxyshcn commented on #39387
@cbuescher Thanks for your reply and I've created a new topic as https://discuss.elastic.co/t/java-lang-nosuchfielderror-lucene-8-0-0/169959. Would you please take some time to give a look at it?

[2019-02-26 10:24] jasontedor commented on #39388
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2019-02-26 10:24] #39388 closed

[2019-02-26 10:55] matriv opened #39392 "[Docs] Info regarding rolling upgrade is incomplete"
In https://www.elastic.co/guide/en/elasticsearch/reference/master/breaking-changes.html
but also for all versions starting from 6.0 until now, there is a missing bullet point for the exception of latest release of previous major which can be done with rolling upgrade.
For `6.x` versions: `5.6` to `6.x`
For `7.x` versions: `6.7` to `7.x`.

[2019-02-26 10:59] matriv opened #39393 "[Docs] Update instruction for upgrading elasticsearch"
In https://www.elastic.co/guide/en/elasticsearch/reference/master/setup-upgrade.html
and also for versions `7.x` and `7.0` the version references should be updated from 6.x to 7.x, and new entries in the table should be added.

[2019-02-26 11:15] elasticmachine commented on #39392
Pinging @elastic/es-core-infra

[2019-02-26 11:15] bleskes commented on #39284
I have concerns about (for example) the fact that none of the ES watcher test suite will ever test running with `.watches` pointing to `.reindexed-v6-watches-6`. However, I think that's a separate isuse to consider.

@gwbrown can you please chase/test/evaluate where we stand on the other internal indices? I would look at everything that starts with a `.`.

@tvernum Good question. I need to underst

[2019-02-26 11:15] elasticmachine commented on #39393
Pinging @elastic/es-core-infra

[2019-02-26 12:36] javanna commented on #32690
thanks for your explanation @Tiedye . Each one of your documents contains an array of products, each product item is a separate suggestion. I wonder, why do you need to store suggestions within your ordinary documents? Do you only want to return suggestions or more? What does your whole search request look like?

[2019-02-26 13:00] polyfractal commented on #38877
Just failed on 6.6, but looks like that branch didn't get a backport.  I'll backport or, if there was a reason that branch was skiped, mute.

[2019-02-26 13:01] SilentAntenna opened #39395 "Mapper annotated text plugin highlighter crashes during text processing"
**Elasticsearch version**: 6.5.4

**Plugins installed**: ["analysis-kuromoji", "ik-analyzer", "mapper-annotated-text"]

**JVM version**:

Java(TM) SE Runtime Environment (build 1.8.0_191-b12)

Java HotSpot(TM) 64-Bit Server VM (build 25.191-b12, mixed mode)

**OS version**:

Windows 10 Professional Ver 1803 Build 17134.590

**Description of the problem including expected versus actual behavior**:

[2019-02-26 13:03] Bukhtawar commented on #12279
`cluster.routing.allocation.type` is static, if there were multiple `ClusterPlugin` based on multiple allocation strategy and there was an option to switch allocators dynamically, do we see a problem. The idea is to make this `cluster.routing.allocation.type` dynamic to allow customers to rescue their clusters by selecting a different allocation strategy if they see a skew

[2019-02-26 13:13] elasticmachine commented on #39395
Pinging @elastic/es-search

[2019-02-26 13:44] Winterflower opened #39398 "Creating a repository-gcs snapshot with wait_for_completion=true results in a gateway time-out message"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.5.4

**Plugins installed**: [repository-gcs]

**JVM version** (`java -version`):
java version "1.8.0_201"
**OS version** (`uname -a` if on a Unix-like system):
Darwin Kernel Version 18.2.0

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreat

[2019-02-26 14:02] chrisronline commented on #39322
Nah, I think those tickets encompass the work as far as I was considering.

Thanks!

[2019-02-26 14:02] #39322 closed

[2019-02-26 14:22] SergSlipushenko commented on #31908
@nik9000  Is this bug going to be fixed someday? It might be helpful at least to state in the docs the reindexing to a remote cluster is not supported for external versioning...

[2019-02-26 14:25] jakelandis commented on #39284
@bleskes @gwbrown @tvernum - I have been working through the internal indexes see https://github.com/elastic/elasticsearch/issues/38637

WIP PR for Logstash Central monitoring: https://github.com/elastic/elasticsearch/pull/38653
WIP PR for Monitoring : https://github.com/elastic/elasticsearch/pull/39336
WIP PR for Watcher: https://github.com/elastic/elasticsearch/pull/39383

I haven't done anythin

[2019-02-26 14:56] bringyou opened #39402 "[FR] RestClient should discovery all coordinating nodes automatically"
In the current version of `RestClient`, it will only connect the nodes we passed via builder.
[code]
Should `RestClient` discovery all (coordinating) nodes automatically, by calling some apis itself to find all (coordinating) nodes, like the [nodes info](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-nodes-info.html)? Consider that when we add some coordinating nodes dynam

[2019-02-26 15:16] javanna commented on #39402
This feature is already available, it's called sniffer, and it is available as an additional dependency. See https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/sniffer.html .

[2019-02-26 15:16] #39402 closed

[2019-02-26 15:18] pgomulka commented on #38520
This was also discussed on core-infra meeting on 13th Feb.  The conclusion is to focus on one specific use case where the clock can be mocked.
Not only time can be nondeterministic but concurrency as well. Some code might be executed different number of times depending on concurrency, so it is very hard to have a generic mechanism

[2019-02-26 15:31] mayya-sharipova commented on #32827
Some failures analysis:

Colin introduced fixes of `forceMerge` in Sep 2019. Since Sep 2019 we had 17 [failures](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:'2018-09-03T04:00:00.000Z',mode:absolute,to:'2019-02-26T15:20:33.678Z'))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'st

[2019-02-26 15:36] colings86 commented on #32827
@mayya-sharipova I wonder if there is any more debug logging we could add to determine where the extra flush is coming from if the failures do re-occur? Maybe we could put some extra debug or trace logging in the flush code to log extra info when this happens?

[2019-02-26 15:38] dliappis commented on #38832
@atorok this issue seems to persist e.g. in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=immutable&&linux&&docker/40/console. AFAICS updated base images incl. caching support have been building successfully.

This is a list of failures the past few days:

![image](https://user-images.githubusercontent.com/1

[2019-02-26 15:44] Tiedye commented on #32690
@javanna The query is just asking for suggestions.  There is no particular need for storing the suggestions alongside the ordinary documents besides keeping related information together in the index, allowing easy creating/updating/deleting of the data.  There are other fields which are used by other (non suggest) queries.

[2019-02-26 16:01] javanna commented on #32690
ok, you might be able to get the 2.4 behaviour (which I have verified, I was not sure it would work but it indeed does!) if you add your own output field to your documents in the products array, but I guess you will need to use the nested type in combination with inner_hits to get back the matching nested docs only. I honestly don't think this is worth the trouble . Generally speaking, suggestions

[2019-02-26 16:46] pySilver opened #39405 "Feature Request: Adjust score based on number of matching documents"
Hi!

It might sound like SO question, but I haven't found anything remotely similar to my case in docs (and I checked it really well). So its kinda last resort to post it here :)

I'm looking for the way to adjust score based on number of matching documents (through the function score or term score boosting or anything else)

Here is an example. You have 1000 sport shoes of different brands with t

[2019-02-26 16:46] tsouza opened #39406 "Can't create anomaly detector that uses "_index" as "partition_field_name""
**Elasticsearch version** (`bin/elasticsearch --version`):
[code]

**Plugins installed**: []

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:
It is not possible to create an anomaly detector that uses `_index` as `partition_field_name`. This can be a valid use case if

[2019-02-26 16:46] elasticmachine commented on #39406
Pinging @elastic/ml-core

[2019-02-26 16:50] droberts195 commented on #39406
We need to change our `org.elasticsearch.xpack.core.ml.job.results.ReservedFieldNames` class to include the field names core Elasticsearch reserves as well as the field names ML reserves.

[2019-02-26 17:43] davidkyle opened #39407 "[ML] Open job request does not respond if there is an error"
After starting the persistent task an open job request waits for the job to start [here](https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/action/TransportOpenJobAction.java#L424) depending on the logic of [this predicate](https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/actio

[2019-02-26 17:43] elasticmachine commented on #39407
Pinging @elastic/ml-core

[2019-02-26 17:52] davidkyle commented on #39407
This is actually quite tricky. While waiting for a job to start, if the persistent task disappears (it is created before we start to wait) the predicate could detect that and call the listener but it is very difficult to get the reason for the failure as the job may have been running on a different node (open job is a master node action).

[2019-02-26 17:55] Tiedye commented on #32690
Yeah nested documents probably would work in this case, thanks for the feedback

[2019-02-26 17:55] #32690 closed

[2019-02-26 18:23] tahaderouiche opened #39409 "[Docs] Add missing word for rollup_index definition in docs"
There is a missing word in the definition of the rollup_index in the elasticsearch docs.
https://github.com/elastic/elasticsearch/blame/6.6/docs/reference/rollup/apis/rollup-job-config.asciidoc#L72. It becomes confusing to read.

The rollup index `can` be shared with other rollup jobs.

[2019-02-26 18:23] elasticmachine commented on #39409
Pinging @elastic/es-analytics-geo

[2019-02-26 18:54] polyfractal commented on #32000
Closing as #38930 merged, and those failures look to have been cleaned up.  If this fails again I'll take a closer look, unfortunately all the current build logs are 404 so I didn't get a chance to verify if it's the same bug or not.

[2019-02-26 18:54] #32000 closed

[2019-02-26 18:54] polyfractal commented on #38877
Backported.  Gonna close as the other branches have been silent so far (:crossed_fingers: ), but will keep an eye on it. :)

[2019-02-26 18:54] #38877 closed

[2019-02-26 19:29] elasticmachine commented on #39405
Pinging @elastic/es-search

[2019-02-26 19:31] elasticmachine commented on #39398
Pinging @elastic/es-distributed

[2019-02-26 19:31] #20126 closed

[2019-02-26 19:40] original-brownbear commented on #39398
@Winterflower isn't this just the Kibana request timeout kicking in? I recently tried snapshotting on GCS for another issue in `6.5.x` and `wait_for_completion=true` worked just fine. Does the equivalent request fail (or go on forever) for you from the command line via `curl` or so as well?

[2019-02-26 20:02] mayya-sharipova commented on #39405
@pySilver  Thank you for submitting an issue.

Elasticsearch allows you to plug your own similarity which can define how a score can be computed.  In particular, in [scripted similarity](https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules-similarity.html#scripted_similarity) you have access to  `term.docFreq` - a number of matching documents for this term.  You can use th

[2019-02-26 20:02] #39405 closed

[2019-02-26 21:12] yaauie opened #39413 "elasticsearch-keystore utility crashes with NPE when passed 0-byte closed STDIN and `-x`"
**Elasticsearch version** (`bin/elasticsearch --version`):

[code]

**Plugins installed**: none

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):

[code]

**Description of the problem including expected versus actual behavior**:

When the Elasticsearch Keystore is invoked with `-x`, and the stdin stream is closed with zero bytes, the tool crashes wit

[2019-02-26 21:32] bpiper commented on #39377
Thanks @costin , that sounds ideal.  Automatic detection would certainly be desirable in my use case.

[2019-02-26 21:36] mayya-sharipova commented on #38654
@jonaf Sorry that it took long time to reply. We indeed,  may benefit from some refactoring in Metadata.  For now, I would like to understand what template do you use to disable indexing fields (can you provide your commands here)?  I wonder if disabling doesn't actually work in your case and it leads to a lot of changes in the mappings?

[2019-02-26 21:45] jonaf commented on #38654
Hi @mayya-sharipova , thank you for your reply. I'm happy to open a PR against this issue to show how I solved it for my use-case, but it only remediates the issue fully for a very specific case (slowness due to dynamic mapping updates during indexing) and does not help in the general case. (Note that my PR is against 2.4.6, but the changes are pretty easy to adapt for later versions of ES, and of

[2019-02-26 21:49] LeeDr opened #39414 "can't install elasticsearch-oss-7.0.0-beta1-x86_64.rpm over elasticsearch-oss-6.7.0.rpm"
**Elasticsearch version** (`bin/elasticsearch --version`):  Version: 6.7.0, Build: oss/rpm/b3535a1/2019-02-20T12:11:59.684988Z, JVM: 1.8.0_181

**Plugins installed**: [x-pack (default distribution)]

**JVM version** (`java -version`):
openjdk version "1.8.0_181"
OpenJDK Runtime Environment (build 1.8.0_181-b13)
OpenJDK 64-Bit Server VM (build 25.181-b13, mixed mode)

**OS version** (`uname -a` if

[2019-02-26 21:49] elasticmachine commented on #39414
Pinging @elastic/es-core-infra

[2019-02-26 21:54] LeeDr commented on #39414
I decided to try this route and it appears to have worked OK;
[code]

[code]

[2019-02-26 22:06] #39181 closed

[2019-02-26 22:23] hoffoo commented on #39366
I am also seeing this issue, shards failing intermittently

[2019-02-26 22:40] #38805 closed

[2019-02-26 23:22] MacMcIrish commented on #23796
Any update on this?

[2019-02-26 23:31] gwbrown commented on #39284
After digging through the code and talking to some experts:
* `.watches` will also need some special handling - the underlying index must have a name starting with `.watches`.
* `.triggered-watches` should be fine.
* `.watcher-history*` indices should be fine.
* `.monitoring*` indices should be fine.
* `.logstash` should be fine, as far as Elasticsearch is concerned, though I still need to check w

[2019-02-26 23:34] gwbrown commented on #39284
Given that we'll already need special cases Kibana side for `.security` and `.watches`, it might be a good idea to keep those contained to one place.  On the other hand, putting a different message in the Deprecations API would be good to dissuade users from reindexing them manually if they aren't using the Kibana migration assistant.

[2019-02-27 01:52] dengkx opened #39432 "Could not dynamically add mapping for field"
data:{"vip.code":"234","vip.code.name":"lilei"}
error:Exception in thread "main" MapperParsingException[Could not dynamically add mapping for field [vip.code.name]. Existing mapping for [vip.code] must be of type object but found [text].]

[2019-02-27 05:30] #39349 closed

[2019-02-27 05:34] codebrain commented on #39090
The batch file already performs the substitution, I was simply suggesting this is done in the `JvmOptionsParser` instead as it would simplify the MSI for us.

[2019-02-27 05:35] codebrain commented on #39091
OK, fair enough. I didn't realise there were other potential log paths as well, looks like we have:

- ES logs
- Log4j logs
- Java GC logs

All can be configured for separate paths and with different mechanisms! Not an easy one to solve.

[2019-02-27 06:38] ywelsch commented on #39366
@wuurrd thanks for reporting this and the link to googleapis/google-cloud-java#4162. Are you interested in contributing a PR to update the GCS dependencies?

Based on what's reported in the above ticket, the workaround seems to be not to use JDK 11, but use JDK 8 instead.

[2019-02-27 06:55] imqishi opened #39434 "gradlew idea failed on branch 6.1"
I try to learn source code but cannot build for idea...it seems that my gradle version is higher? Is there a way to handle this? Thanks.

[code]

[2019-02-27 06:56] martijnvg opened #39435 "Execute watch api should redirect to node that actually holds the watch"
If the execute watch api, executes an existing watch, then the execute watch api call should occur on a node that actually holds that watch.

Currently the execute watch api execution occurs always on the coordinating node. In case of executing an existing watch, the execute watch api, executes a get request to fetch the source of the watch and then execute that on the coordinating node.

This cha

[2019-02-27 06:56] elasticmachine commented on #39435
Pinging @elastic/es-core-features

[2019-02-27 07:16] #35347 closed

[2019-02-27 07:27] atorok commented on #38832
I just checked and we do call the relevant task when building the image `[7.1.0]  [6.7.0] > Task :distribution:docker:pullFixture` I think we build  a different image for the fixture ( since we do it trough docker compose ) than our regular build, I taught that docker would cache and reuse the layers, but this doesn't seem to be the case.

I'm not against the retries, just looking to understand th

[2019-02-27 07:34] tvernum commented on #39284
The ES changes for `.security-7` (https://github.com/elastic/elasticsearch/pull/39433) have been merged and backported to 6.7

[2019-02-27 07:35] atorok commented on #38832
I think it would be better to use `image: "docker.elastic.co/elasticsearch/elasticsearch-oss:8.0.0-SNAPSHOT"`  in `docker-compose.yml` and have the fixture depend on the image build, we can then avoid building too images and should also better benefit from the caching.

[2019-02-27 07:40] atorok commented on #38832
I checked and `:x-pack:test:smb-fixture:composeUp` is rebuilt also, so something is definitely not right with the caches.

[2019-02-27 07:41] astefan commented on #37702
master (8.0.0): https://github.com/elastic/elasticsearch/commit/5b7e0de237fb514d14a61a347bc669d4b4adbe56
7.x (7.1.0): https://github.com/elastic/elasticsearch/commit/4deb69e9e4bf2b85ae0bb5b138762a92c8e052c8

@monfera this is merged with the soonest available version - 7.1.0.

[2019-02-27 07:41] #37702 closed

[2019-02-27 07:48] #39288 closed

[2019-02-27 08:07] martijnvg commented on #33337
@dnhatn Can this test be unmuted now?

[2019-02-27 08:27] tvernum commented on #39434
Thanks very much for your interest in Elasticsearch.

This appears to be a question about how to build Elasticsearch, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests. The discussion forums are beter suited to these sort

[2019-02-27 08:27] #39434 closed

[2019-02-27 08:45] tlrx opened #39437 "CoordinatorTests.testDiscoveryUsesNodesFromLastClusterState fails on CI"
The test `CoordinatorTests testDiscoveryUsesNodesFromLastClusterState` failed on CI today with an OOM:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2262/consoleFull

It reproduces locally using:
[code]

Build stats shows that it does not fail recently.

<details>
  1> [2019-02-27T18:34:42,070][INFO ][o.e.c.c.CoordinatorTests ] [testDiscoveryUsesNodesFromLastClusterSt

[2019-02-27 08:45] elasticmachine commented on #39437
Pinging @elastic/es-distributed

[2019-02-27 08:46] dadoonet commented on #39432
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Here you already indexed some text content under `vip.code` probably. But let discuss that on discuss.elastic.co.

[2019-02-27 08:46] #39432 closed

[2019-02-27 09:02] astefan commented on #39288
master (8.0.0): https://github.com/elastic/elasticsearch/commit/dbb93310b083226c96e4bde3eef0079eb01cbca9
7.x (7.1.0): https://github.com/elastic/elasticsearch/commit/542e2c55f6849c973b502e3669c0843325ed732a
7.0 (7.0.0): https://github.com/elastic/elasticsearch/commit/3a84ccc9ef8c9e7c4c28df9ae0297d1e55735004
6.7 (6.7.0):  https://github.com/elastic/elasticsearch/commit/5dc5c6a31a3e785bcf443245af206

[2019-02-27 09:16] tlrx commented on #36779
The failure happens regularly on 6.7, like today:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+intake/250/
<details>
08:40:11   1> [2019-02-27T00:40:10,836][INFO ][o.e.d.SnapshotDisruptionIT] [testDisruptionOnSnapshotInitialization] after test
08:40:11 ERROR   40.3s J2 | SnapshotDisruptionIT.testDisruptionOnSnapshotInitialization <<< FAILURES!
08:40:11    > Throwable #1: Snaps

[2019-02-27 09:18] #38620 closed

[2019-02-27 09:19] yanhao0911 opened #39440 "kibana"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2019-02-27 09:21] #39440 closed

[2019-02-27 09:21] yanhao0911 commented on #39440
kibana has no functions about  delete/stop rollup jobs

[2019-02-27 09:21] yanhao0911 commented on #39440
kibana has no functions about  delete/stop rollup jobs

[2019-02-27 09:22] elasticmachine commented on #39413
Pinging @elastic/es-core-infra

[2019-02-27 09:23] jkakavas commented on #39413
I can verify. We probably need to guard aganist this as `readLine()`
[code]

can return `null`.

This looks rather contained, I'll raise a PR soon

[2019-02-27 09:25] yanhao0911 commented on #39440
kibana delete rollup jobs occur some 500 code errors

[2019-02-27 09:28] martijnvg commented on #36761
I've unmuted this test on master and added more logging, so when it fails then there is more information to debug.

[2019-02-27 09:46] tlrx opened #39441 ":qa:full-cluster-restart bwc tests fails to extract 6.0 archive"
Today the bwc tests failed several times on the 7.0 / 7.x branches, all with the same error:

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+bwc-tests/84/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+default-distro-bwc-tests/61/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+bwc-tests/78/console
https://elasticsearch-

[2019-02-27 09:46] elasticmachine commented on #39441
Pinging @elastic/es-core-infra

[2019-02-27 09:46] matriv opened #39442 "SQL: LIKE/RLIKE don't use underlying exact field"
For queries like: `SELECT * FROM t WHERE text_field LIKE '%a%'`
the `text_field` is used instead of the underlying exact field (e.g.: `text_field.keyword`)

[2019-02-27 09:46] elasticmachine commented on #39442
Pinging @elastic/es-search

[2019-02-27 09:50] tlrx commented on #39441
cc @atorok @rjernst

[2019-02-27 10:08] tlrx commented on #37063
This test failed on `6.7` today:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+multijob-unix-compatibility/os=oraclelinux-6/42/consoleFull

<details>
java.lang.AssertionError:
Expected: <0L>
     but: was <1L>
	at __randomizedtesting.SeedInfo.seed([6E90AD157E24A0E8:6FB1B90C4562EFF9]:0)
	at org.hamcrest.MatcherAssert.assertThat(MatcherAssert.java:20)
	at org.junit.Assert.assertT

[2019-02-27 11:32] jkakavas commented on #37063
Resolved in c7a193f925338435d4d334798845e49ae147e85c by backporting the fix, thanks @tlrx  !

[2019-02-27 11:32] #37063 closed

[2019-02-27 11:35] tlrx commented on #32027
`RecoveryIT.testRecoverSyncedFlushIndex` failed again today on CI:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+bwc-tests/86/consoleFull

It reproduces using:
[code]
<details>
10:10:16   1> [2019-02-27T05:09:03,606][INFO ][o.e.u.RecoveryIT         ] [testRecoverSyncedFlushIndex] before test
10:10:16   1> [2019-02-27T05:10:13,634][INFO ][o.e.u.RecoveryIT         ] [testRecover

[2019-02-27 11:44] tlrx commented on #39437
Similar failure with  `CoordinatorTests.testAckListenerReceivesNackFromLeader`

[code]

in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java11,nodes=immutable&&linux&&docker/42/consoleFull

[2019-02-27 11:50] ywelsch commented on #39437
@tlrx this is caused by https://github.com/elastic/elasticsearch/pull/36943. Can you comment out the line (I think 1445) that calls `isLinearizable` in `CoordinatorTests.java` (and backport to 7.x and 7.0)? The only other option would be to mute all `CoordinatorTests`, which is far worse.

[2019-02-27 11:57] jkakavas commented on #30101
This failed again [in a PR today](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-2/8953/testReport/junit/org.elasticsearch.xpack.test.rest/XPackRestIT/test__p0_monitoring_bulk_10_basic_Bulk_indexing_of_monitoring_data_/) and has failed [3 times in the last month](https://build-stats.elastic.co/app/kibana#/discover?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:

[2019-02-27 12:10] henningandersen commented on #39437
Both succeeds with the optimizations in PR https://github.com/elastic/elasticsearch/pull/38561 though `testAckListenerReceivesNackFromLeader` also succeded on my master checkout (the original one did fail).

[2019-02-27 12:13] tlrx commented on #39172
This issue appears twice a day on master/7.x/7.0 branches, so I muted the test.

Last failure:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8,nodes=immutable&&linux&&docker/42/consoleFull

it does not reproduce using:
[code]

Relevant execution log: [consoleText.txt](https://github.com/elastic/elasticsearch/files

[2019-02-27 13:07] atorok commented on #39441
[code]

[2019-02-27 13:10] #39324 closed

[2019-02-27 13:37] tlrx commented on #32299
Failed again today: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/800

It does not reproduce with:
̀```
./gradlew :x-pack:qa:smoke-test-watcher:integTestRunner -Dtests.seed=37D3466CC78964DE -Dtests.class=org.elasticsearch.smoketest.SmokeTestWatcherTestSuiteIT -Dtests.method="testMonitorClusterHealth" -Dtests.security.manager=true -Dtests.locale=ro -Dtests.timezone=P

[2019-02-27 13:45] #39442 closed

[2019-02-27 14:14] tamros opened #39456 "Allows to create indexed fields when setting enabled to false to the object field"
**Elasticsearch version** (`bin/elasticsearch --version`):

[code]

**Plugins installed**: none

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):

[code]

**Description of the problem including expected versus actual behavior**:
ES updates the mapping creating indexed fields where one should not when setting enabled to false property to the object fi

[2019-02-27 14:42] LeeDr commented on #39414
@rjernst produced a 8.0.0 test build which appears to have resolved this issue;

[code]

[2019-02-27 14:51] DaveCTurner commented on #39334
We discussed this today and it seems like a reasonable change to make. The `INDEX_READ_ONLY_ALLOW_DELETE_BLOCK` was introduced purely to support the `flood_stage` watermark so we don't think there's a need for another kind of block.

We are concerned about flapping, i.e., being in a state where the block is added and removed and then added again in a loop, and the solution to this is not to remove

[2019-02-27 15:00] DanRoscigno opened #39461 "Permission problem on Centos 7 when using Elasticsearch 6.6.1 RPM"
**Elasticsearch version** 6.6.1

**Plugins installed**: ingest-geoip and ingest-user-agent

**JVM version** openjdk version "1.8.0_191"

**OS version** `Linux external-elastic-one 3.10.0-957.5.1.el7.x86_64 #1 SMP Fri Feb 1 14:54:57 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

I downloaded the RPM from elastic.co/downloads and installed from the commandline (rpm -i ).  The install reported no issues.

[2019-02-27 15:12] DaveCTurner opened #39464 "Remove pluggable shard allocation mechanisms"
Today it is possible for a plugin to alter the behaviour of the shard allocator, providing custom `AllocationDecider` implementations or even overriding the entire `ShardsAllocator` with an alternative implementation. The only plugin I can find that actually does this is [Tempest](https://github.com/datarank/tempest) and this only supports versions prior to 2.3.2 which are long past the end of the

[2019-02-27 15:12] elasticmachine commented on #39464
Pinging @elastic/es-distributed

[2019-02-27 15:17] #39260 closed

[2019-02-27 15:21] DaveCTurner commented on #12279
We are discussing removing `ClusterPlugin` in #39464. Switching dynamically to a wholly different allocator sounds pretty drastic, and liable to trigger a lot of shard relocations. What would this achieve that cannot be achieved by adjusting the dynamic settings of one or more of the allocation deciders?

[2019-02-27 15:21] tlrx opened #39465 "AuthenticationServiceTests.testInvalidToken() fails on CI"
`AuthenticationServiceTests.testInvalidToken()` failed on `6.7` today:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+intake/257

This is the first failure in the past 6 months.

I reproduces locally with:
[code]

<details>
14:59:52   1> [2019-02-27T10:59:44,068][INFO ][o.e.x.s.a.AuthenticationServiceTests] [testInvalidToken] before test
14:59:52   1> [2019-02-27T10:59:44,947][E

[2019-02-27 15:21] elasticmachine commented on #39465
Pinging @elastic/es-security

[2019-02-27 15:48] atorok commented on #37617
Other than  checking that basic functionality is there, we don't rely have checks similar to other packaging tests for docker, so I think we should close this in favor of #38053

[2019-02-27 15:49] elasticmachine commented on #39461
Pinging @elastic/es-core-infra

[2019-02-27 15:50] mayya-sharipova commented on #35262
closing the issue, as it will be addressed by https://github.com/elastic/elasticsearch/pull/39063

[2019-02-27 15:50] #35262 closed

[2019-02-27 15:51] elasticmachine commented on #39456
Pinging @elastic/es-search

[2019-02-27 16:02] andrejbl commented on #39259
So, we've tried to change the approach by setting `cluster.routing.rebalance.enable` setting to `none` before the maintenance window and back to `null` once the rolling upgrade operation completed on all nodes. That indeed minimised the instability between individual node restarts, but:

1) we are still seeing the failed shard exceptions causing the shard re-initalization in between the node resta

[2019-02-27 16:14] tlrx opened #39467 "FollowerFailOverIT.testFailOverOnFollower fails on CI"
The test `FollowerFailOverIT.testFailOverOnFollower` failed today on 7.0:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+internalClusterTest/1446

It does not reproduce locally with:
[code]

It is maybe related to #35403 or #38633 but I haven't found the same exact errors so I'm opening a new issue.

The log shows some timeout issues with the `GlobalCheckpointListeners`:
[code]

[2019-02-27 16:14] elasticmachine commented on #39467
Pinging @elastic/es-distributed

[2019-02-27 16:14] tlrx commented on #39467
cc @dnhatn

[2019-02-27 16:31] tlrx commented on #28153
This test failed again today:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+internalClusterTest/1370

With the same error as the one reported in the description of the issue:

[code]

It does not seem that the accounting breaker is in cause here.

[consoleText.txt](https://github.com/elastic/elasticsearch/files/2911260/consoleText.txt)

[2019-02-27 16:37] jaymode commented on #39465
Fixed by 4d13db278a758a1ac58136892797af72d158f18e. @tvernum you'll want to incorporate this into your backport of #38881

[2019-02-27 16:37] #39465 closed

[2019-02-27 16:45] markharwood commented on #39395
Thanks for raising this issue.
The good news is this looks to work OK in master and in [7.0beta1](https://www.elastic.co/downloads/elasticsearch#preview-release) - the bad news is broken in 6.6.

I'll dig some deeper into why - my guess is it's some change in Lucene behaviour around the life cycles of Analyzers because the object that we null-pointer on is expected to be initialised as part of cal

[2019-02-27 16:48] jpountz opened #39469 "`_doc` should work as an alias for the actual type on 6.7"
Mixed clusters raised an issue with the move to typeless APIs as some internal services such as machine learning need to keep interacting with their internal index during rolling upgrades.

As a consequence moving to typeless APIs in 7.x would break rolling upgrades since 6.7 nodes won't understand these calls. We agreed to treat `_doc` as an alias of the actual type of the index on 6.7 for the ge

[2019-02-27 16:48] elasticmachine commented on #39469
Pinging @elastic/es-distributed

[2019-02-27 17:00] tlrx commented on #38331
Failed again today on 7.x:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+intake/337/consoleFull

with:
[code]

And it does not reproduce with
[code]

I muted the test on master (f1d801ce58a64a7cd36288ce2c411b7851f53735) and 7.x (983b5d1c0eb1b1feb9e7c36efc9d795631041786) since it failed on those two branches in the last 30 days.

[2019-02-27 17:00] dnhatn commented on #31291
Fixed in https://github.com/elastic/elasticsearch/pull/32270.

[2019-02-27 17:00] #31291 closed

[2019-02-27 17:04] dliappis commented on #27021
We discussed this on our team meeting and feel that this (i.e. not using the native solutions of orchestrators like [Kubernetes CNI](https://kubernetes.io/docs/concepts/cluster-administration/networking/) or [overlay network](https://docs.docker.com/network/overlay/) in Docker swarm) would add unnecessary detail in our reference documentation for not such a common use case. Additionally this is no

[2019-02-27 17:04] #27021 closed

[2019-02-27 17:22] cbuescher commented on #39316
Ich habe bei der Suche eben noch einen ähnlich aussehenden Fehler von vor knapp einem Jahr gefunden 18.3.2018, damals auf dem 6.x branch:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-java-periodic/ESJAVA=java9,ESRUNTIME=java10,nodes=linux/7/console
[code]

[2019-02-27 17:31] bpintea opened #39471 "SQL: hide the geo_point columns for ODBC"
The columns of type `geo_point` should also be hidden in `SYS COLUMNS` for the `ODBC` clients, just like `nested` and `object` (similar to https://github.com/elastic/elasticsearch/issues/37801).

[2019-02-27 17:32] elasticmachine commented on #39471
Pinging @elastic/es-search

[2019-02-27 17:38] cbuescher commented on #39316
The last one on 6.6. looks like this:

[code]

[2019-02-27 17:49] bleskes commented on #39284
@gwbrown, we had a meeting today about it and the decision was that:

1. `.watches` will require some fixing to make it properly respond to alias changes. @jakelandis is on it.
2. The migration assistant in 7.0 will not allow reindexing of the internal indices in 7.x for now. Once we figure out what we want we can enable that functionality in the right way.
3. We will continue to explore what it m

[2019-02-27 17:57] dnhatn commented on #26493
@bleskes has completed this in https://github.com/elastic/elasticsearch/pull/36467 and the related PRs.

[2019-02-27 17:57] #26493 closed

[2019-02-27 18:23] dnhatn commented on #39467
Thanks @tlrx. I am on it today.

[2019-02-27 19:00] jakelandis commented on #38637
Blocked by https://github.com/elastic/elasticsearch/issues/39469 to allow clusters with mixed versions.

[2019-02-27 19:49] tlrx commented on #39437
As @ywelsch suggested, I commented out the following line in master, 7.x and 7.0 branches:

[code]

See commits 9be914cfece721d630abc875d54bd9184788369f, 4dd274b51d348a5b1755cfcce3067df5032b5f3f and 41463c42d32f271c4e33b496797fa33d6c2b1f52

[2019-02-27 20:14] hub-cap commented on #38356
vagrant was quite confused. I stopped all vagrant vms from the 5.6 job folder and deleted the workspace directory. it sorted itself out. Builds are green again.

[2019-02-27 20:30] mayya-sharipova commented on #32827
@colings86 Looks like `IndexReader` updates its version (and hence invalidates a cache) in two scenarios:
1) `IndexWriter` has written something new, created a new segment
2) There was a flush operation (a new commit) even if there was not any new data.  I don't know what causes flush (translog causes it?), and when it happens, but as you suggested I have created a PR #39475 to add extra debugging

[2019-02-27 21:10] gwbrown opened #39478 "Running Kibana Upgrade assistant from 6 to 7 causes new Watches to not be run"
This issue is similar to, but distinct from, https://github.com/elastic/elasticsearch/issues/39284.

How to Reproduce
---
1) Set up a 5.x cluster
2) Create at least one Watch that runs periodically
3) Upgrade the cluster to 6.7
4) Reindex the `.watches` index using the Kibana Upgrade assistant
5) Create a new periodic watch.

**Expected behavior**: The newly created Watch will be executed on sched

[2019-02-27 21:10] elasticmachine commented on #39478
Pinging @elastic/es-core-features

[2019-02-28 00:19] dnhatn commented on #39467
Finally, I have an explanation for this failure.  It happened as follows:

1. We are restarting a node that has the following primary running.

[code]
2. The following primary  just completes a bulk request containing seq#133, seq#134, and seq#135,  but it can not send that bulk request to the following replica.

[code]

3. The following primary tries to reach to the master node to fail the follow

[2019-02-28 00:29] kunisen commented on #28707
Apologies for the direct ping.
Given the [comment](https://github.com/elastic/elasticsearch/issues/28707#issuecomment-384785615) that elasticsearch rest client doesn't support OSGI was posted on 27th Apr 2018,
which was about 1 year ago, may I confirm again that, this stance still didn't get changed and no support at the moment right now, right?
@jasontedor

[2019-02-28 00:34] jasontedor commented on #28707
@kunisen No change.

[2019-02-28 00:35] kunisen commented on #28707
thanks!!

[2019-02-28 02:48] tvernum commented on #39284
I am going to close this issue and I believe the specific problem is now resolved with https://github.com/elastic/elasticsearch/pull/39337 and https://github.com/elastic/kibana/pull/31996

The conversation here has crossed into other related issues, but I believe all of them are covered by other tracking issues. If there's something on this thread that hasn't made it to another issue/PR, please op

[2019-02-28 02:48] #39284 closed

[2019-02-28 03:43] codebrain opened #39486 "Documentation > Security REST API > Has Privileges"
The documentation should highlight that `native realm` authentication needs to be enabled in order for the API to return a 200 response for the user calling the endpoint.

https://www.elastic.co/guide/en/elasticsearch/reference/master/security-api-has-privileges.html

Recently discussed with @tvernum when implementing the .NET client integration tests.

[2019-02-28 04:06] dnhatn commented on #39467
I see a solution that is to reset lastRequestedSeqNo to followerGlobalCheckpoint when the primary term on the follower increased.

[2019-02-28 04:20] TomonoriSoejima opened #39487 "indicate to Restart Elasticsearch whenever plugin is installed"
When you install a plugin, sometimes you take it that it is enabled upon installation, but in reality, you need to restart Elasticsearch to activate it, as it is instructed in the [guide](https://www.elastic.co/guide/en/x-pack/5.6/installing-xpack.html)

it would be nice if we can add some text to guide users to restart Elasticsearch.

[code]

[2019-02-28 04:32] tvernum commented on #39486
The issue we had was that the test were creating a user in the native realm, but the native realm was not in the authentication chain, so when you tried to call `_has-privileges` it failed to authenticate. But that would have been true for any API that you called, in this case it just happened to the the `_has-privileges` API.

So if we did something like this, it would mean adding this to every s

[2019-02-28 04:44] #39414 closed

[2019-02-28 05:21] elasticmachine commented on #38678
Pinging @elastic/es-core-infra

[2019-02-28 05:23] jasontedor commented on #38678
@droberts195 The rough idea for system indices is that each plugin that manages a system index will also dictate the API that is available on top of that index (e.g., maybe some plugins expose search, and others do not). It would likely be via dedicated APIs though, not the general APIs.

[2019-02-28 06:15] codebrain opened #39491 "Documentation > Security API > Get User Privileges"
The documentation link in the REST API JSON file leads to a 404 on the documentation site:

https://github.com/elastic/elasticsearch/blob/d7c5d8049afa2edea2cf13c1ec423647bea6cae5/x-pack/plugin/src/test/resources/rest-api-spec/api/security.get_user_privileges.json#L3

On calling the API endpoint it appears to work on `6.5.0`+ clusters:

Request:

`GET /_xpack/security/user/_privileges?pretty=true&e

[2019-02-28 07:29] martijnvg commented on #39467
@dnhatn Thanks for the detailed explanation!

The problem you described above, only happens when a replica shard is promoted to primary shard. `successful_shards < total_shards` happens when the we were unable to index into a replica shard, which I think happens more often than a primary promotion. So retrying based in that condition would result in retrying too often and most of the times it woul

[2019-02-28 07:39] astefan opened #39492 "SQL: MIN and MAX could work better with date fields"
At the moment, MIN and MAX for a `date` field will return a double value. This is because Elastisearch's own  `stats` aggregation computes the values and returns them as `double`.

[code]

We could improve this behavior by automatically CASTing the `double` value returned to a `long` and then to a `date`.

[2019-02-28 07:39] elasticmachine commented on #39492
Pinging @elastic/es-search

[2019-02-28 07:56] rjernst opened #39494 "Add packaging tests using yum and apt"
While testing the yum and apt repositories is something outside the scope of a local elasticsearch test, both those tools support installing a local rpm and deb file, respectively. We should have packaging tests which ensure those tools can be used for installing and upgrading elasticsearch with a local package.

[2019-02-28 07:56] elasticmachine commented on #39494
Pinging @elastic/es-core-infra

[2019-02-28 08:05] inqueue opened #39495 "[bootstrap] 6.7.0 RPM installation expected database [GeoLite2-ASN.mmdb] to not exist in [/etc/elasticsearch/ingest-geoip]"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.7.0 (Upgraded from 6.6.1)

[code]

**Description of the problem including expected versus actual behavior**:
Elasticsearch 6.7.0 will not start using the RPM installation on CentOS Linux release 7.6.1810 (Core). The log complains `GeoLite2-ASN.mmdb` is missing, but it is there:

[code]

**Steps to reproduce**:

[code]

**Provide logs**:

[2019-02-28 08:14] codebrain commented on #39491
Suggest we include a full JSON example, similar to this: https://github.com/elastic/elasticsearch/blob/d7c5d8049afa2edea2cf13c1ec423647bea6cae5/x-pack/plugin/src/test/resources/rest-api-spec/test/privileges/40_get_user_privs.yml#L88

[2019-02-28 08:33] hendrikmuhs opened #39497 "[CI] InternalAutoDateHistogramTests::testReduceRandom fails reproducable for certain seed"
The following test failed in a PR-build and is reproducible for me on my local box:

[code]

fails with:

[code]

Tested only on master but likely applies to other versions.

[2019-02-28 08:33] elasticmachine commented on #39497
Pinging @elastic/es-analytics-geo

[2019-02-28 08:50] danielmitterdorfer commented on #39495
I am not sure this is a bug. The error message says that it expects the file to **NOT** exist at this location:

[code]

This caused by a leftover from an old installation and can either be resolved via uninstalling the plugin in 6.6.1 before attempting the upgrade with the `--purge` option, i.e.:

[code]

or manually removing the files in the config directory after the upgrade.

[2019-02-28 08:54] DaveCTurner opened #39498 "Translog checkpoint should be fsync()ed in recovery"
Today we fail a shard if an `fsync()` fails while writing to the translog. However when we start a shard up we assume that everything that we find "on disk" has been properly `fsync()`ed, and this might not be true: if the shard was previously stopped because of a failed translog `fsync()` then the data we read might only reside in the page cache, and is at risk of vanishing if there is a subseque

[2019-02-28 08:54] elasticmachine commented on #39498
Pinging @elastic/es-distributed

[2019-02-28 09:03] DaveCTurner commented on #39498
I stand corrected, we do the right thing already: we make a new checkpoint when opening the first writer.

[2019-02-28 09:03] #39498 closed

[2019-02-28 09:57] jkakavas opened #39501 "Implement retries wherever applicable in TokenService"
We currently do not retry for `TransportActions#isShardNotAvailableException` everywhere in the TokenService implementation. We should go through the remaining places and ensure that we implement retries, or document why we shouldn't.

[2019-02-28 09:57] elasticmachine commented on #39501
Pinging @elastic/es-security

[2019-02-28 10:38] elasticmachine commented on #39486
Pinging @elastic/es-security

[2019-02-28 10:38] elasticmachine commented on #39487
Pinging @elastic/es-core-infra

[2019-02-28 10:39] elasticmachine commented on #39491
Pinging @elastic/es-security

[2019-02-28 10:39] elasticmachine commented on #39495
Pinging @elastic/es-core-infra

[2019-02-28 10:39] droberts195 commented on #38678
I think for ML that means we'd keep some of our indices as standard indices and just make a subset into system indices (especially the ones that store security headers in configs).

/cc @davidkyle @hendrikmuhs

[2019-02-28 11:12] markharwood commented on #39395
This is a multi-threading issue. A single AnnotatedTextHighlighter object is shared across search threads but the search threads cause changes to its `annotatedHighlighterAnalyzer` instance variable.

[2019-02-28 11:48] davidkyle commented on #37339
I had a PR failure due to the slow `DeleteExpiredDataIT.testDeleteExpiredData` test. Something has changed recently as the test consistently takes over 2 mins to run and that wasn't the case when this issue was opened. One potential gain is that the test runs the jobs sequentially when they could be run in parallel

[2019-02-28 11:57] dimitris-athanasiou commented on #37339
We should certainly spend some time understanding why it takes more time. I'll check it out.

[2019-02-28 13:29] Bhanuji95 opened #39507 "Files authorization with Xpack"
Hello Guys,

I am working on building up a search engine with elasticsearch which will be used for searching files and folders from a dfs cluster. I indexed all of them to elasticsearch using fscrawler. But now I have an issue with authorization of those files which will be accessed from elasticsearch. I want to integrate my active directory and wants the existing users roles to be applied. I foun

[2019-02-28 13:34] Bhanuji95 opened #39508 "Functionbeat"
Hello

Can you anyone tell me how to index data into elasticsearch using functionbeat?

I want to index my cloudwatch logs directly to my elasticsearch. I configured and ran functionbeat which has created a lamba function but when running that lamba function I am getting license error as below.
"2019-02-28T13:33:30.501Z	INFO	[license-manager]	licenser/manager.go:265	Cannot retrieve license, retryi

[2019-02-28 13:42] dadoonet commented on #39507
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2019-02-28 13:42] #39507 closed

[2019-02-28 14:08] tlrx opened #39509 "CcrRetentionLeaseIT testRetentionLeaseRenewalIsCancelledWhenFollowingIsPaused fails on CI"
CcrRetentionLeaseIT testRetentionLeaseRenewalIsCancelledWhenFollowingIsPaused failed yesterday on CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/2048

It does not reproduce on master with:
[code]

The job execution log is
[consoleText.txt](https://github.com/elastic/elasticsearch/files/2915322/consoleText.txt)

[2019-02-28 14:08] elasticmachine commented on #39509
Pinging @elastic/es-distributed

[2019-02-28 14:37] tlrx opened #39510 "RecoveryDuringReplicationTests.testDoNotWaitForPendingSeqNo failed"
The test `RecoveryDuringReplicationTests.testDoNotWaitForPendingSeqNo()` failed on CI:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=immutable&&linux&&docker/267/consoleFull

It does not reproduce with:
[code]

Relevant log:
[consoleText.txt](https://github.com/elastic/elasticsearch/files/2915431/consoleT

[2019-02-28 14:37] elasticmachine commented on #39510
Pinging @elastic/es-distributed

[2019-02-28 14:41] astefan opened #39511 "SQL: COUNT(DISTINCT) column name has an extra DISTINCT in it"
[code]

[2019-02-28 14:41] elasticmachine commented on #39511
Pinging @elastic/es-search

[2019-02-28 14:53] inqueue commented on #39495
Sorry it was late and I missed that. That is the issue @danielmitterdorfer; the ingest-geoip plugin was removed without the purge option. I removed blocker and added the docs label. Those were files leftover from the ingest-geoip plugin that was manually installed in 6.6.1. `rm -rf ingest-geoip` fixed it.

I do not exactly see why we have to fail the node for files not in use. This will happen to

[2019-02-28 14:56] dnhatn commented on #39509
/cc @jasontedor

[2019-02-28 15:03] dnhatn commented on #33337
@martijnvg I need to wait for https://github.com/elastic/elasticsearch/issues/39467.

[2019-02-28 15:04] astefan opened #39513 "SQL: improve the doubles number formatting"
The doubles number formatting varies between formats. Basically, `json` is the most "user-friendly" and others should format the numbers the same way.

- `/_xpack/sql?format=txt`

[code]

- `/_xpack/sql?format=json`

[code]

- `/_xpack/sql?format=yaml`

[code]

- `/_xpack/sql?format=csv`

[code]

- `/_xpack/sql?format=tsv`

[code]

[2019-02-28 15:04] elasticmachine commented on #39513
Pinging @elastic/es-search

[2019-02-28 15:06] bleskes commented on #39467
@dnhatn can you explain why a replicated write operation is finished succesfully after not being to able to fail a replica/mark it as stale?

[2019-02-28 15:22] jalberto commented on #27431
Also, the sorting still wrong, ES is returning on top the matches with spell errors instead of the exact ones

This issue can be traced back to 2014 (ie: https://github.com/elastic/elasticsearch/issues/7060)

[2019-02-28 15:23] cbuescher commented on #39508
Hi @Bhanuji95. Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2019-02-28 15:23] #39508 closed

[2019-02-28 15:23] jalberto commented on #24903
same with 6.6, this issue can be traced back to 2014 (https://github.com/elastic/elasticsearch/issues/7060)

[2019-02-28 16:14] not-napoleon commented on #39441
Another failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+bwc-tests/83/console

[2019-02-28 16:29] mk6032 commented on #28674
# curl -v -k https://artifacts.elastic.co/GPG-KEY-elasticsearch
*   Trying 54.225.214.74...
* TCP_NODELAY set
* Connected to artifacts.elastic.co (54.225.214.74) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* Cipher selection: ALL:!EXPORT:!EXPORT40:!EXPORT56:!aNULL:!LOW:!RC4:@STRENGTH
* successfully set certificate verify locations:
*   CAfile: /etc/ssl/certs/ca-certificates.crt
  C