[2018-12-07 00:10] polyfractal commented on #35987
We chatted about this earlier in the week and I just didn't get a chance to respond.  Sorry!

It does seem like a bug.  Looking at the code, what we're giving the user is basically the maximum potential doc_count of a term which didn't make _any of the shards_ top `n`.  Which isn't quite what we intended.  It should be the maximum potential doc_countn of a term which didn't make the final top `n`,

[2018-12-07 00:10] tbrooks8 commented on #36330
Actually 🙃 it looks like this specific test starts a data node with a different `path.home` directory (`003`). So it does look like the test fails depending on which node the peer recovery is initiated on.

Where we create the new node:
[code]

[2018-12-07 00:50] danielkasen commented on #36085
Looks like this is sometimes broken and sometimes work:

[code]

[2018-12-07 05:54] wyukawa opened #36347 "Elasticsearch logs don't contain a timezone"
**Describe the feature**:
Elasticsearch logs don't contain a timezone.
[code]
If you use a filebeat easticsearch module and collect elasticsearch logs, you can't see a log in kibana log ui at local time.
https://www.elastic.co/guide/en/beats/filebeat/6.5/filebeat-module-elasticsearch.html

If you want to see a log at local time, you need to use date processor.
https://www.elastic.co/guide/en/elast

[2018-12-07 06:18] synhershko opened #36348 "Tag v6.5.2 is missing"
For various tools and automated testing, we rely on github release tags (e.g. `v6.5.2`) , but one is missing for 6.5.2

[2018-12-07 07:32] synhershko commented on #36338
Can you share GC counts and times during the indexing, for both the old and young pools - compared between the versions? we are too seeing some high young gen GC in more recent versions

[2018-12-07 07:38] elasticmachine commented on #36337
Pinging @elastic/es-search

[2018-12-07 07:39] elasticmachine commented on #36322
Pinging @elastic/es-analytics-geo

[2018-12-07 07:46] jimczi commented on #36322
The sort order is based on count and there is no guarantee that equals element will not be reordered as a result of the sort. We could change to a stable sort or change the documentation to explain how the sort works but why are you using the `composite` aggregation and the bucket sort instead of a `terms` aggregation sorted by `_count` ? In the latter case you could add a tiebreaker to your sort

[2018-12-07 08:12] bczifra opened #36352 "[Docs] Document SAML integration with ADFS"
It would be helpful to have some documentation around the specifics of SAML integration with ADFS, as per this discuss post: https://discuss.elastic.co/t/saml-authentication-error/150522

[2018-12-07 08:22] panchen66 opened #36353 "org.elasticsearch.bootstrap.BootstrapException: java.lang.IllegalStateException: running tests but failed to invoke RandomizedContext#getRandom"
When I run version 6.3.2 locally ，Report errors：
`Exception in thread "main" org.elasticsearch.bootstrap.BootstrapException: java.lang.IllegalStateException: running tests but failed to invoke RandomizedContext#getRandom
Likely root cause: java.lang.IllegalStateException: No context information for thread: Thread[id=1, name=main, state=RUNNABLE, group=main]. Is this thread running under a class co

[2018-12-07 08:40] #36306 closed

[2018-12-07 09:03] siddu244 commented on #34488
cool , let me check with presentation and get back if anything required.
Thanks for the reply @jkakavas
Best Regards... :)

On Thu, Dec 6, 2018 at 10:34 PM Nik Everett <notifications@github.com>
wrote:

[2018-12-07 09:32] cybert79 opened #36356 "Debian apt release file missing again?"
Hit:1 http://security.debian.org/debian-security stretch/updates InRelease
Ign:2 http://ftp.be.debian.org/debian stretch InRelease
Hit:3 http://ftp.be.debian.org/debian stretch-updates InRelease
Hit:4 http://ftp.be.debian.org/debian stretch Release
Ign:5 https://artifacts.elastic.co/packages/6.x/apt stable InRelease
Err:6 https://artifacts.elastic.co/packages/6.x/apt stable Release

Reading packag

[2018-12-07 09:41] s1monw commented on #36207
I will look

[2018-12-07 09:50] droberts195 commented on #36330
I muted this test in master in 60289e7331951c7dcf475ec00deb0c147e0465be as it is making PR builds fail

[2018-12-07 10:58] cdahlqvist commented on #34352
I have now run a first set of benchmarks for frozen indices where the number of indices in the cluster gradually increases from 1 to 18. Each index consists of 2 shards and is ~50GB in size and was generated and queried using the rally-eventdata-track. This was run against a build with the build hash `447e5d2`.

Querying was done using two types of simulated Kibana queries:

- **Kibana Discover qu

[2018-12-07 11:36] elasticmachine commented on #36338
Pinging @elastic/es-distributed

[2018-12-07 11:36] elasticmachine commented on #36356
Pinging @elastic/es-core-infra

[2018-12-07 11:37] elasticmachine commented on #36353
Pinging @elastic/es-core-infra

[2018-12-07 11:38] colings86 commented on #36353
How are you running Elasticsearch locally? This error usually indicates you are trying to run the Elasticsearch server either directly form an IDE or embedded in a JVM. Elasticsearch is designed to be run as a standalone server inside its own JVM.

[2018-12-07 11:38] elasticmachine commented on #36352
Pinging @elastic/es-security

[2018-12-07 11:40] elasticmachine commented on #36347
Pinging @elastic/es-core-infra

[2018-12-07 11:41] LucaWintergerst opened #36359 "[Ingest] Expose domainSplit() in ingest script processor and possibly aggregations"
**Describe the feature**:
The `domainSplit()` painless method allows to split domains into their parts (subdomain, tld, ... ). This was first introduced when Machine Learning was integrated into Elasticsearch. It was exposed as part of scripted fields to allow ML jobs to work if they need that information.

However, this functionality is also incredibly useful as part of ingest. No other part of o

[2018-12-07 11:47] colings86 commented on #36348
Thanks for raising this @synhershko. I've added the tag now, see: https://github.com/elastic/elasticsearch/tree/v6.5.2

[2018-12-07 11:47] #36348 closed

[2018-12-07 11:57] synhershko commented on #36348
Thanks @colings86 !

[2018-12-07 12:14] jkakavas commented on #36352
I don't know how I feel about this. SAML can be frustrating to configure, I give them that. However, I don't know what part of this Discuss thread is ADFS specific. They had configured their IDP (ADFS) to release one SAML NameID format and their SP (Elasticsearch) to wait for another. This could have happened for any combination of SAML IdP and SAML SP.
Assuming that this is the same customer that

[2018-12-07 12:36] DaveCTurner opened #36360 "StackOverflowError somewhere in the cluster applier thread"
A user reported that their master node died with the following exception

[code]

This repeats until the end of the file. As far as I can tell, this can't be an _infinite_ recursion, but it could be very deeply nested if an unmodifiable list is repeatedly rewrapped.

It is possible this was introduced by #31957 which looks like it might re-wraps some lists in `unmodifiableList` each time a new `Da

[2018-12-07 12:36] elasticmachine commented on #36360
Pinging @elastic/es-core-infra

[2018-12-07 12:36] elasticmachine commented on #36360
Pinging @elastic/ml-core

[2018-12-07 12:40] s1monw commented on #36342
I think we should do this anyway as a first step.

I am not sure we actually need the `force` param at all. What is it used for really? Lets try to collect some usecases first before we change the API for no reason.

[2018-12-07 12:50] olived19 commented on #36322
This is a simplified version of my real use case.

I need to aggregate 3 different fields together. I tried with `terms` but the result of 3 nested aggregations is a pain to parse and the `composite` aggregation seems to be the best solution for this scenario.

What seems strange to me is that on every attempts I tried, everything is sorted as expected except the first one which is misplaced at th

[2018-12-07 12:59] dimitris-athanasiou commented on #36360
Ouch. That is horrible. I'll work on a fix for this asap.

[2018-12-07 13:11] costin commented on #36169
+1. Let's go with Postgres.

[2018-12-07 13:30] astefan opened #36364 "SQL: MOD() function has incorrect results when the numbers divided have different signs"
The modulo operation doesn't behave correctly when the dividend and the divisor have different signs:

[code]

the correct results should be:

[code]

[2018-12-07 13:30] elasticmachine commented on #36364
Pinging @elastic/es-search

[2018-12-07 13:39] bleskes commented on #36342
+1. I can't think of a reason for a user to do something else then "please flush now and I will wait until it completes" (which maps to `force=true, waitIfOngoing=true`). I think we use those flags for internal purposes only (and it will probably be good to have a good look if we really need those too).

[2018-12-07 13:57] ywelsch commented on #36342
+1. The [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/master/indices-flush.html) for `wait_if_ongoing` even says:

The docs are also out of sync with the code. The docs claim that the default for `wait_if_ongoing` is false, whereas it is true :-) Relates to #20597

[2018-12-07 14:40] #36207 closed

[2018-12-07 14:51] nik9000 opened #36368 "No reproduction info for LLREST tests"
When a low level rest client test fails it doesn't spit out reproduction information. This is probably because it needs to run in java 7 so it can't use our standard reproduction info printer. It should print out *something* though.

[2018-12-07 14:51] elasticmachine commented on #36368
Pinging @elastic/es-core-features

[2018-12-07 14:58] yaronp68 commented on #36127
Would it be possible to meter response and request latency per all connections between 2 specific nodes (so the user can find out which network connection has lower throughput)

[2018-12-07 15:04] ywelsch commented on #36127
Also relates to #19335

[2018-12-07 15:12] spinscale opened #36369 "NotificationServices should not fall back to any account when specified one is not found"
The current `NotificationService` has a fallback mechanism, if an account is not found. However this mechanism is not deterministic and also can possibly leak information to the wrong party if several accounts are configured. The code in question is this, that configures the default account

[code]

If no default account is specified, it picks the first, whatever that may be. The problem now, is t

[2018-12-07 15:12] elasticmachine commented on #36369
Pinging @elastic/es-core-features

[2018-12-07 15:56] javanna commented on #36368
This may just be because `RestClientTestCase` is missing the configuration for the reproduce info printer.  I probably forgot to add it at the time that I added the base test class. See the missing listeners section that `ESTestCase` has but `RestClientTestCase` does not have.

[2018-12-07 16:37] s1monw commented on #34630
@colings86 is this still stalled? Can you point me to what needs to be done to close this issue?

[2018-12-07 17:14] gwbrown commented on #35516
We haven't seen this or been able to reproduce it since, so I'm closing this.

[2018-12-07 17:14] #35516 closed

[2018-12-07 17:21] colings86 commented on #34630
@s1monw Since frozen indices is not implemented this is no longer stalled so I'll remove the label. Thanks for pointing this out.

In terms of what needs to be done to have a freeze index action in ILM, we will need to implement a new ILM action and an `AsyncActionStep` to call the freeze API (it looks from the docs like the freeze API only returns when the index is frozen so I don't think we'll n

[2018-12-07 17:50] droberts195 opened #36380 "[CI] waitForPendingTasks caused all DatafeedJobsRestIT tests to fail"
In https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/585/console every test in the DatafeedJobsRestIT suite failed with the following exception:

[code]

This is a side effect of zen2 discovery.  Certain ML integration suites wait for pending tasks to complete in between tests.  This is so that side effects of one ML test do not interfere with the next test.  The long-run

[2018-12-07 17:50] elasticmachine commented on #36380
Pinging @elastic/ml-core

[2018-12-07 18:29] talevy commented on #34875
The exception that is thrown does return an explanation of why the delete failed. Although, it only lists one index that is causing the problem, not all. Although I think that is "good enough", do we want to enhance this message to include all indices and/or provide these indices in more structured format using ElasticsearchException params?

[2018-12-07 18:51] pyro2927 commented on #35917
@jimczi having learned a new term this week, not having the limit enables "Killbana" for us.  Users will log in and select a time range of all time to view all of their data at once, which causes the cluster to come to a screeching halt.  While those security measures you mentioned exist, they don't prevent our cluster from falling over.

That said I'll close this issue because it's on the Kibana

[2018-12-07 18:51] #35917 closed

[2018-12-07 19:00] talevy commented on #33275
I do not like the idea of a noop because then the semantics of shrink would not be the same. The shrink should only succeed if it successfully made a new shrunken index. That would mean allowing shrink to operate on an index with one shard, and simply copy without reducing the number of shards (since it cannot).

[2018-12-07 19:03] pyro2927 opened #36385 "CrossClusterSearch - Can't get field metadata"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.5.2

**Plugins installed**: []

**JVM version** (`java -version`):

[code]

**OS version** (`uname -a` if on a Unix-like system):

[code]

**Description of the problem including expected versus actual behavior**:

CrossClusterSearch doesn't allow for anything that requires a little information _before_ the search is executed.  Specifical

[2018-12-07 19:12] talevy commented on #35211
Do move this forward, should we be copying over the `index.lifecycle.name` and `index.lifecycle.rollover_alias` to the new index?

[2018-12-07 19:16] talevy commented on #34630
@simonw I'm happy to help.

[2018-12-07 20:00] jimczi commented on #36322
I didn't look carefully the implementation of the priority queue we use to perform the sort but as I said in my previous comment the output of the sort is correct. Though I wonder why we use a priority queue rather than a list and then `Collections#sort` which provides stable sort.
@dimitris-athanasiou any reason to prefer a priority queue here ? I understand that it can be faster if the buckets a

[2018-12-07 20:02] talevy commented on #35690
Fixed by https://github.com/elastic/elasticsearch/pull/35716

[2018-12-07 20:02] #35690 closed

[2018-12-07 20:16] #36360 closed

[2018-12-07 20:42] nik9000 opened #36388 "YAML tests: `catch` and warnings don't play nice"
It looks to me like in the yaml testing framework we only check the warnings that come back from an API call if it doesn't fail. Which is fine if we aren't *expecting* the request to fail. But when we are we won't check for warnings.

[2018-12-07 20:42] elasticmachine commented on #36388
Pinging @elastic/es-core-infra

[2018-12-07 20:44] dimitris-athanasiou commented on #36322
@jimczi Indeed, the reason a priority queue was used was because it seemed suitable for also dealing with trimmed buckets in an efficient way. I'll look into this and comment when I understand what is going on.

[2018-12-07 20:47] elasticmachine commented on #36385
Pinging @elastic/es-search

[2018-12-07 21:05] jimczi commented on #36385
The `mapping` API doesn't handle cross cluster search so the error is expected. Kibana uses another API called `field_caps` to retrieve field mapping, this API can handle cross cluster so you can use remote indices in your index patterns. SQL doesn't handle cross cluster yet but this is planned so we' should add the support soon. I don't know the plan for Canvas so you should probably open an issu

[2018-12-07 21:05] #36385 closed

[2018-12-07 21:41] dsshane opened #36393 "Elasticsearch fails to start intermittently. GC logs could be written node.lock if there is no output file specified."
**Elasticsearch version** (`bin/elasticsearch --version`): 6.4.2

**Plugins installed**: [AWS and Azure repository]

**JVM version** (`java -version`): OpenJDK 8 | 10

**OS version** (`uname -a` if on a Unix-like system): Windows Server 2012 R2

**Description of the problem including expected versus actual behavior**: Elasticsearch fails to start sometimes. I am seeing this most on VMs, especially

[2018-12-07 22:32] jbaiera commented on #36393
@dsshane Is the directory that the node is using on the local filesystem or is it configured through some sort of remote/network based storage?

[2018-12-07 22:34] benwtrent commented on #36271
I second the the `Wait for yellow status for the indices we need`.

This is essentially what we are doing anyways, except we are relying on the user to wait an amount of time before opening a second job.

If the status persists to not be at least yellow (with some acceptable timeout), or if it downgrades before the persistent task can be assigned to a node, throwing an error is acceptable (as you

[2018-12-07 22:37] dsshane commented on #36393
@jbaiera It is local file system, on a virtual machine.

[2018-12-07 23:15] elasticmachine commented on #36359
Pinging @elastic/es-core-infra

[2018-12-07 23:31] rjernst commented on #36356
Since this does not reproduce I'm going to close. In the future please first post questions like this on the [forums](https://discuss.elastic.co). There's an active community there that should be able to help.

[2018-12-07 23:31] #36356 closed

[2018-12-08 00:09] BhawiniTripathi opened #36395 "Use of Hard-coded credentials"
**Elasticsearch version: 6.5.1**

**Plugins installed: X-Pack Security**

**JVM version: 11.0.1**

**OS version: Windows 10**

There is a possible vulnerability which could lead to disclosure of sensitive information and gaining unauthorized access to sensitive files. This is related to CWE-798: Use of Hard-coded Credentials.

**Steps to reproduce**
The code issue is located in file KeyStoreWrappe

[2018-12-08 00:16] rjernst commented on #36395
The keystore currently only provides obfuscation of settings. This is [documented](https://www.elastic.co/guide/en/elasticsearch/reference/current/secure-settings.html). It is in our plans to add the ability to password protect the keystore, see https://github.com/elastic/elasticsearch/issues/32691.

Additionally, please do not open issues in github which you believe are vulnerabilities. See our g

[2018-12-08 00:16] #36395 closed

[2018-12-08 02:29] dnhatn commented on #35287
Another instance on 5.6: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+periodic/311/consoleText

[2018-12-08 03:30] GuptaNishant commented on #34459
I will like to work on DependenciesInfoTask

[2018-12-08 12:15] YuvalPruss commented on #36274
Thanks for the answer @andrershov !
There is an REST request I can perform to refresh the stats by myself?

[2018-12-08 19:55] Jensxy opened #36401 "Synonym Token Filter - failed to build synonyms"
Synonym Token Filter gives an Error.

**Elasticsearch version**
Version: 6.2.2, Build: 10b1edd/2018-02-16T19:01:30.685723Z, JVM: 1.8.0_161

**Plugins installed**:
Opennlp

**JVM version**
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)

**OS version**
Linux server 4.4.0-131-generic #157-Ubuntu SMP Thu J

[2018-12-09 09:53] itaydvir opened #36402 "Ordering percentiles aggregation with NaN values ignores the NaN's"
Ordering percentiles aggregation with NaN values ignores the NaN's

**Elasticsearch version** (`bin/elasticsearch --version`): `2.3.3 (but also tested on 6.2.4)`

**JVM version** (`java -version`): `1.8.0_161`

**OS version** (`uname -a` if on a Unix-like system): `3.16.0-4-amd64 #1 SMP Debian 3.16.39-1 (2016-12-30) x86_64 GNU/Linux`

**Description of the problem including expected versus actual b

[2018-12-09 13:19] Jensxy commented on #36401
Here are solutions discuss.elastic.co/t/synonym-token-filter-error/160016/2

[2018-12-09 13:19] #36401 closed

[2018-12-09 15:00] ItamarBenjamin commented on #35256
added PR that solves this issue: https://github.com/elastic/elasticsearch/pull/36407
pinging @elastic/es-search-aggs

[2018-12-09 19:12] #33824 closed

[2018-12-09 21:59] Sandmannn commented on #24422
Hi, as there has been no activity for some time, can I pick this issue?

[2018-12-10 00:00] #34944 closed

[2018-12-10 01:09] lebron374 opened #36412 "why es homepage do not provide detail configuration"
in homepage https://www.elastic.co/guide/en/elasticsearch/reference/current/important-settings.html，
why can't see configuration like tcp.transport and many other configuration

[2018-12-10 01:35] doc987 opened #36413 "Geohash Grid Aggregation - Option to Return Latitude/Longitude Bounding Box"
The geohash_grid bucket aggregation (https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-geohashgrid-aggregation.html) returns the geohash as the "key" property.  It would be nice if there was an option to get equivalent latitude and longitude bounding box (GeoJSON bounding box is [west,south,east,north] https://tools.ietf.org/html/rfc7946#section-5) either i

[2018-12-10 05:51] iverase commented on #36412
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2018-12-10 05:51] #36412 closed

[2018-12-10 05:55] elasticmachine commented on #36413
Pinging @elastic/es-analytics-geo

[2018-12-10 06:08] astefan commented on #36161
@AngelaHsieh1027 not fixed yet. When this will happen there will be a PR referenced in this issue and, also, the issue will be closed stating the versions where the fix is applied to. Thank you for your patience.

[2018-12-10 06:32] #34820 closed

[2018-12-10 07:52] iverase commented on #35338
No further feedback received. @KeyZer,  if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2018-12-10 07:52] #35338 closed

[2018-12-10 07:54] iverase commented on #34122
No further feedback received. @brandonmichaelhunter  if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2018-12-10 07:54] #34122 closed

[2018-12-10 08:23] ywelsch opened #36414 "Docker images failing build"
CI is tripping all over the newly added Docker images build.

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=opensuse/108/console

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/195/console

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-darwin-compatibility/108/console

and ma

[2018-12-10 08:23] elasticmachine commented on #36414
Pinging @elastic/es-core-infra

[2018-12-10 08:37] ParanoiaUPC commented on #35293
Hi jinczi, I was wondering if we could reset the default score (which is 1) to any value that we could config (like 0). And if we could do that, then how? Thanks a lot!

[2018-12-10 08:59] tlrx commented on #30474
Fixed in  #30723

[2018-12-10 08:59] #30474 closed

[2018-12-10 09:33] iverase commented on #32999
I am very confused with the example. I just checked the values for the resulting buckets of the aggregation:

u2:  [lat = 47.81250000, lon = 16.87500000]
t5: [lat = 19.68750000, lon = 50.62500000]

I have tried locally the example (v. 6.4.2) and I get just one bucket:

s0: [lat=2.81250000, lon=5.62500000]

[2018-12-10 09:48] szkumorowski commented on #32999
@iverase
@polyfractal

geohash_grid buckets itself works fine, the issue is it doesn't take into account the sub-aggregation results  (which returns distinct - latest one result for each device based on timestamp), instead it takes the whole index as source

Response from ES:

    "key": "u2",
    "doc_count": 4,

    "key": "t5",
    "doc_count": 2,

I belive it shoudn't take all 6 records at all

[2018-12-10 09:51] ruflin opened #36418 "Support to remove aliases from index mappings"
Today it's possible to add an alias to an index mapping:

[code]

After adding an alias it's not possible AFAIK to remove it. This would be useful if someone applies aliases to many indices and then realises it was the wrong field and wants to change it.

To my surprise it is possible to modify existing aliases by adding the same mapping again with a different path. This is great and already allow

[2018-12-10 09:51] panchen66 commented on #36353
First of all,i run “gradlew eclipse”，then import in eclipse as General projects.Last , i
 run as java application for Elasticsearch.java

[2018-12-10 10:01] panchen66 opened #36419 "minimum_wire_compatibility_version"
Excuse me , see on localhost:9200，"minimum_wire_compatibility_version" : "5.6.0" ,it means The minimum version of the client is 5.6.0 ？ i use transport/elasticsearch/transport-netty4-client 5.6.13 jar to connect 6.5.2 elastic server is failed. the error is "org.elasticsearch.client.transport.NoNodeAvailableException: None of the configured nodes are available: [{#transport#-1}{fr2uK0OpS0yBigqnUrRz

[2018-12-10 10:05] Rijul1204 commented on #24422
@Sandmannn, Sure please proceed. I am not currently working on it.

[2018-12-10 10:12] elasticmachine commented on #36418
Pinging @elastic/es-core-features

[2018-12-10 10:12] aananthagovindarajan opened #36420 "Bitset as datatype"
Do we have any plans to support bitset as datatype which redis do. Since lucene already have its own implementation of [roaringbitmap](https://www.elastic.co/blog/frame-of-reference-and-roaring-bitmaps) additionally if you people expose as a datatype it will really helpful for

1.  Some [advance analytics](https://amplitude.com/blog/2016/01/14/measuring-active-users).
2. The current implementation

[2018-12-10 10:17] colings86 commented on #36418
I'm not sure about allowing this. Mapping updates are today only additive and this prevents a lot of issues (we actually used to have the ability to remove a mapping type but that caused issues and so we removed it). The problems this could cause are not just limited to within Elasticsearch either. Applications using Elasticsearch rely on mappings and would now need to account for the fact that a

[2018-12-10 10:23] bleskes commented on #36418
I'm not per se supportive of the issue and I can see the points that @colings86 made but I want to add some color to this, to make sure the impact is understood (@ruflin please correct me if I misread where you're coming from).

The current plan is to heavily rely on field aliases to help the migration from 6.x non-ECS fields (Elastic Common Schema) to 7.x ECS based mappings. Currently we plan to

[2018-12-10 10:37] iverase commented on #32999
I think your expectations about how aggregations work are not correct.

Sub-aggregations do not act as filters for parent aggregation but the opposite, they take as input the results from the parent aggregation so for the first aggregation the input is the whole index.

This is the expected result.

[2018-12-10 10:40] colings86 commented on #35211
We agreed in one of the syncs a few weeks ago that we are not going to address this issue for now as all of the solutions proposed have significant downsides and would be hard for both the user and us to reason about.

Today we are able to describe what each element (policy, index template, and bootstrap index) does and what part it plays with ILM so we have added a note to the documentation to po

[2018-12-10 10:44] iverase commented on #36419
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2018-12-10 10:44] #36419 closed

[2018-12-10 10:44] yuanshi1602 commented on #35311
@tvernum  The  issue has been resolved，I make spelling mistakes。。。elastic-sack-ca.p12

[2018-12-10 10:51] dimitris-athanasiou commented on #36271
The default timeout for the health status API is 30 seconds. That should be more than enough for a healthy cluster to activate the primaries of a freshly created index.

That is a good question. We could reuse the open job request's timeout. But then we need to do more work to properly account for the timeout through the action's different steps. Unfortunately, the infrastructure to do this proper

[2018-12-10 10:54] szkumorowski commented on #32999
Thank you, I don't understand it then, one of used aggregations (or top_hits (I don't have code in front of me now)) can not use sub-aggregations what makes it not usable this way.

The point of this aggregation was to create geo buckets for latest position for each device (including top_hit for every bucket) - quite common generic case.

Could you please provide right hierarchy of this aggregatio

[2018-12-10 11:07] #36380 closed

[2018-12-10 11:11] imotov commented on #32999
I don't think it's really possible with elasticsearch at the moment since it would require passing the results of one set of aggregations into another and this is supported only for a small subset of aggregations called pipeline aggregations.

I think the simplest way to do it might be by creating a separate frequently updated device-oriented index, where id of each record is the id of the device

[2018-12-10 11:15] szkumorowski commented on #32999
Thank you, It's what I supposed is required for it :)

[2018-12-10 11:19] davidkyle opened #36421 "[ML] Hide empty config lists in MlMetadata post migration"
Once all the job and datafeeds have been migrated don't write the empty lists in `MlMetadata.toXContent` otherwise you have this confusing and potentially alarming clusterstate where it looks like no jobs exist

[code]

[2018-12-10 11:19] elasticmachine commented on #36421
Pinging @elastic/ml-core

[2018-12-10 11:23] davidkyle opened #36422 "[ML] Snapshot MlMetadata before migration"
Applies to the config migration project.

Take a backup of MlMetadata in the clusterstate prior to migrating configs. This can be persisted once in the `.ml-state` index which has no mappings and read later in the event of a disaster.

[2018-12-10 11:23] elasticmachine commented on #36422
Pinging @elastic/ml-core

[2018-12-10 11:23] imotov commented on #36413
@doc987 could you describe the use case for this bounding box?

[2018-12-10 11:50] danielmitterdorfer commented on #36353
This is unfortunately not supported. Please see our [testing docs](https://github.com/elastic/elasticsearch/blob/master/TESTING.asciidoc#launching-and-debugging-from-an-ide) how to run / debug Elasticsearch from an IDE.

[2018-12-10 11:50] #36353 closed

[2018-12-10 11:58] colings86 commented on #32999
Another idea might be to use the [`field collapsing`](https://www.elastic.co/guide/en/elasticsearch/reference/6.5/search-request-collapse.html) feature, collapse on the `deviceId` field and sort on the `timestamp` field to get the actual document for the latest position of each device and pull the `geoPoint` field from there. The downside of this approach would be that you get each point individua

[2018-12-10 12:00] elasticmachine commented on #36420
Pinging @elastic/es-search

[2018-12-10 12:17] martijnvg commented on #36339
I couldn't figure out why it fails and could not reproduce. I re-enabled this test on master with extra logging: https://github.com/elastic/elasticsearch/commit/38a1d4fcdbaefa2ef290d3495a114763b4187c4f
When it fails then there if more info and if it starts failing too often then I will mute the test.

[2018-12-10 12:19] bringyou opened #36424 "FeatureRequest: Should XContentBuilder support java.sql.Timestamp?"
`java.sql.Timestamp` extends `java.util.Date`, and `java.util.Date` is built-in supported by `XContentBuilder`, but since `XContentBuilder` get writers from it's static map, we can't use that wirter to support `java.sql.Timestamp`, neither do `java.sql.Date`.

        if (value == null) {
            nullValue();
            return;
        }
        Writer writer = WRITERS.get(value.getClass());

[2018-12-10 12:52] ywelsch opened #36428 "TEST: ClusterDisruptionIT testSendingShardFailure fails"
Test failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/638/console

The issue exhibited by the test is as follows: Simulated disconnect between follower and leader while sending shard failure. Follower gets reconnected to leader through a follower check, but does not remove NO_MASTER_BLOCK from cluster state, which means that sending the shard failure is not retr

[2018-12-10 12:52] elasticmachine commented on #36428
Pinging @elastic/es-distributed

[2018-12-10 12:54] ywelsch commented on #36428
Muted the test in f79e602d9f8

[2018-12-10 12:58] elasticmachine commented on #36424
Pinging @elastic/es-core-infra

[2018-12-10 13:03] ywelsch opened #36429 "TEST: CoreFullClusterRestartIT failing"
Build failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+bwc-tests/191/consoleText

Relevant log lines:

[code]

[2018-12-10 13:03] elasticmachine commented on #36429
Pinging @elastic/es-core-infra

[2018-12-10 13:11] fkelbert opened #36430 "[Docs] Scripting languages other than Painless are no longer supported"
The documentation on [Watcher Script Condition](https://www.elastic.co/guide/en/elastic-stack-overview/6.5/condition-script.html) still mentions the possibility of using different scripting languages in a number of places. As of Version 6.0, however, [Painless is the only supported scripting language](https://www.elastic.co/guide/en/elasticsearch/reference/6.0/breaking_60_scripting_changes.html).

[2018-12-10 13:33] costin opened #36432 "SQL: CLI returns Intervals in ISO instead of SQL format"
The CLI doesn't parse the given strings, rather returns them as they are which, for intervals, means the internal format (ISO) is used instead of the desired one (SQL).
The formatting code gets called however since the strings are not parsed, they don't match either as date or interval.

[2018-12-10 13:33] elasticmachine commented on #36432
Pinging @elastic/es-search

[2018-12-10 13:43] benwtrent commented on #36271
I agree, since the default timeout for waiting against the health status API is 30 seconds, that is probably OK.

The only thing that *SLIGHTLY* concerns me is when the user sets the timeout on the API to less than 30 seconds.

However, that should be rare as the default value is high (30 min) and this would nudge users to providing a higher timeout value where an additional 30 seconds of wait wou

[2018-12-10 14:18] matriv commented on #36364
@astefan The issue is that we are using `Math.floorMod` for longs and ints instead of simple `%`:
[code]

[2018-12-10 14:37] cbuescher opened #36433 "Error using two synonym file filters with overlapping tokens in same chain"
This was originally reported in https://discuss.elastic.co/t/invalid-synonym-rule-when-using-two-files/158603 and I think its worth discussing
whether it is a bug or at least an unexpected behaviour that we could try tackling in a future enhancement.

The situation is as follows: two distinct, e.g. language specific synonym files are used, like in the discuss issue.

`en_synonyms file` :
[code]
`f

[2018-12-10 14:37] elasticmachine commented on #36433
Pinging @elastic/es-search

[2018-12-10 14:52] markharwood commented on #36251
I closed https://github.com/elastic/elasticsearch/pull/36307 which assumes single-version clusters.
Nik's new `WarningsHandler` https://github.com/elastic/elasticsearch/pull/36345 now provides the means for more detailed inspection of warnings.
We can build on this with helper methods in ESRestTestCase to list the warnings we expect. What to expect will depend on whether the test is targeting a cl

[2018-12-10 15:57] costin opened #36435 "SQL: Add experimental mark-up on all pages"
Currently only the SQL main page is marked as `Experimental`, the rest aren't which might be misleading.
Let's add each the label across all pages.

[2018-12-10 15:59] costin opened #36436 "SQL: Move ODBC docs into the main SQL repo"
For consistency, the ODBC docs should be moved inside the SQL ones potentially rearrange them slightly.

/cc @debadair

[2018-12-10 15:59] elasticmachine commented on #36436
Pinging @elastic/es-search

[2018-12-10 15:59] elasticmachine commented on #36435
Pinging @elastic/es-search

[2018-12-10 16:00] jimczi commented on #36433
whether it is a bug or at least an unexpected behaviour that we could try tackling in a future enhancement.

This is partially fixed by https://github.com/elastic/elasticsearch/pull/34331 which accepts this configuration in master. However I wonder if we should not throw an explicit error instead. The fix in master is to ignore the preceding synonym filters when we build the synonyms so this works

[2018-12-10 16:01] costin opened #36437 "SQL: Move 6.6 to Beta from Experimental"
SQL in 6.6 should be marked as Beta from Experimental.

[2018-12-10 16:01] elasticmachine commented on #36437
Pinging @elastic/es-search

[2018-12-10 16:02] Destroy666x commented on #36413
Mostly a QoL change - getting it instantly rather than having to use another library to decode the geohash. And why would you get it? To use it for Google Maps Javascript API, for example, it has functions to pan to or fit bounding box while hash doesn't matter.

[2018-12-10 16:08] gwbrown opened #36438 "Make Depreaction Info/Migration Assistant API responses for indices more friendly to NamedObjectParser"
Currently, responses from the Deprecation Info API are formatted like so:
[code]

This is not friendly to NamedObjectParsers due to index names being used as keys.  It should be changed to look like so:

[code]

Similarly, the Migration Assistant API looks like this:
[code]

But should look like:
[code]

[2018-12-10 16:08] elasticmachine commented on #36438
Pinging @elastic/es-core-features

[2018-12-10 16:14] Destroy666x opened #36439 "Shape-related Painless functions"
**Describe the feature**: It would be nice to have some scripting functions for shape-related checks - like if the document's  shape intersects a shape passed as an argument or if a point is within a shape.

[2018-12-10 16:23] lcawl commented on #35958
Is the following API also deprecated?: https://www.elastic.co/guide/en/elasticsearch/reference/master/info-api.html

[2018-12-10 16:36] costin opened #36440 "SQL: rename DataType.DATE to something else"
While respecting the Elasticsearch type naming, Es-SQL has a `DATE` type which in practice is a `DateTime`.
However this clashes with the SQL type `DATE` causing a lot of confusion especially when migrating.

Several options were discussed going forward:

1.  rename date

Rename `date` to `datetime`. This adds more meaning to the content however breaks the convention that it maps the elasticsearch

[2018-12-10 16:36] elasticmachine commented on #36440
Pinging @elastic/es-search

[2018-12-10 16:37] costin commented on #36440
/cc @eskibars

[2018-12-10 16:52] jimczi commented on #36322
We discussed this offline and we agreed that we should switch to a List and use `Collections#sort`. This should preserve the order for equal values and simplify the code since we don't really need a priority queue.

[2018-12-10 16:55] romseygeek commented on #36433
I allowed this specifically in #34331 following some discussion on the mailing list about synonyms.  One of future paths I'd like to take is to allow the synonym filter to apply a type name other than `SYNONYM` to its emitted tokens.  You could have one synonym filter that applies 'exact' synonyms, and then one that applies hypo- or hypernyms instead, and you can then boost the resulting terms dif

[2018-12-10 16:58] polyfractal commented on #25833
Since BKD-backed geo_shapes are soon to be the default (#35320), I'm going to close this issue.

I think the `distance_error_pct` default still has merit though, and will be addressing that in a different ticket (which results in OOM).

[2018-12-10 16:58] #25833 closed

[2018-12-10 17:05] imotov commented on #36413
I see, so basically use outside of Elasticsearch DSL (which already supports using geohashes, returned by aggs for for filtering).

[2018-12-10 17:13] jakelandis commented on #36115
We discussed this our area sync and came to the following conclusions:

* For 7.0.0 - Ensure the fully BWC change is implemented by default via the `rest_total_hits_as_int` as described on https://github.com/elastic/elasticsearch/pull/35849
* For 7.0.0 - Ensure that there is a setting that can change the default behavior, such that consumers can effectively remove `rest_total_hits_as_int` and opt-

[2018-12-10 17:15] ywelsch commented on #36127
I think it might also be interesting to get some of these stats on a per-connection-type level (e.g. BULK vs RECOVERY vs REG vs STATE)

[2018-12-10 17:15] jasontedor commented on #35958
@lcawl I was not planning to deprecate those, as I am not sure what we would replace them. I am open to suggestions, but for now those endpoints are for getting information about X-Pack functionality as a whole, to which we are still using the "X-Pack" to refer to (the source code folder too).

[2018-12-10 17:21] davidkyle opened #36445 "[ML] Add custom all field to config index"
This would enable search/filtering of ml job configurations by key fields in the config, for example if all the fields used by detectors were copied to a custom all field then it would be simple to find all jobs that use a particular field.

Candidate Job config fields to copy to an custom all field:
* Detector fields
* Detector function
* Bucket span
* The job groups

For Datafeeds:
* ?

Pinging

[2018-12-10 17:21] elasticmachine commented on #36445
Pinging @elastic/ml-core

[2018-12-10 17:34] polyfractal commented on #16444
Confirming this is still an issue in 6.x and master.

I understand the rationale that by setting a `precision`, the user is signaling to us that they expect a certain level of accuracy, which is why we set `distance_error_pct` to zero internally.  But it feels trappy that a user can OOM their node on accident by ignoring that warning in the docs.  Worse, their system may work fine for a long time

[2018-12-10 17:40] droberts195 commented on #36445
We also need to think how/if this would work with the new analytics configs.  We shouldn't tie the `.ml-config` index so closely to anomaly detector configs that it cannot be used for other types of configs too.

[2018-12-10 17:49] rjernst commented on #36430
Painless is the only scripting language provided in Elasticsearch, but that does not mean it is the only one support. For other scripts contexts, `expression` scripts may be used. And in any script context, a custom script engine may be used (ie what used to be called "native" scripts).

I'm going to close this as I do not think there is anything to update.

[2018-12-10 17:49] #36430 closed

[2018-12-10 17:51] davidkyle commented on #36445
Even with just datafeeds and jobs we could hit the problem where a search returns both types if they happen to contain the value searched for. In this case the UI could filter out the config types it is not interested in i.e. the jobs page. Even if a filter has to be applied to the config type is still enables missing functionality.

[code]

[2018-12-10 18:01] nknize commented on #25833
++ #35320 also sets the default `tree` parameter to `quadtree` for PrefixTrees

[2018-12-10 18:04] imotov commented on #15965
It looks like the situation is a bit better now. We are now getting `unsupported symbol [.] in geohash [127.0.0.1]` but I think we can improve it by adding the field name and type as well.

[2018-12-10 18:11] polyfractal commented on #36402
The reason `missing` doesn't work is because that only fills in values when a document is missing the particular field.  In this case, there are no documents in the bucket so there is nothing `missing` could be applied to.  The `NaN` that is being returned by the percentiles is basically an "empty result" (no values collected, so we can't calculate a percentile, so it's not-a-number.  In 7.0 it'll

[2018-12-10 19:06] imotov commented on #7574
@hanoch no, we still need get #32039 in first

[2018-12-10 19:16] nknize commented on #7574
We also won't be able to add `geo_shape` aggregations until we come up w/ a reasonable doc value representation for `geo_shape`. WKB seems the best option at the moment but we need to investigate docValue size limits in lucene.

It is possible that we will need to limit the number of shape vertices to comply w/ Lucene docValue size limits for `geo_shape` fields that have docValues are enabled. /br

[2018-12-10 19:23] imotov commented on #9304
It looks like this was addressed by https://github.com/elastic/elasticsearch/commit/1a60e1c3d27d3d1f76b389d6bf008b35856ad88d#diff-48767b395fcd07ab92b9c05815741b74R221 Can we close this now?

[2018-12-10 19:35] elasticmachine commented on #36424
Pinging @elastic/es-core-features

[2018-12-10 19:40] jimczi commented on #36433
Ok this makes sense, thanks for explaining @romseygeek . Can we close this issue then ?

[2018-12-10 19:47] cbuescher commented on #36433
@romseygeek @jimczi thanks for the explanation, if its already in the pipeline for the next minor I'm happy to close. Just opened this to track the question in the discuss issue.

[2018-12-10 19:47] #36433 closed

[2018-12-10 19:49] imotov commented on #13351
Depends on #32039

[2018-12-10 19:52] imotov commented on #15317
It might be simpler to address after #32039

[2018-12-10 20:02] imotov commented on #16749
Depends on #32039

[2018-12-10 20:05] imotov commented on #16444
That sounds very reasonable to me.

[2018-12-10 20:08] rjernst commented on #36424
I'm not sure XContentBuilder should support java.util.Date at all. This is a legacy class, and we have been migrating all of elasticsearch to use the Java 8 Time api. But these can also be plugged in already via SPI with `XContentBuilderExtension`.

[2018-12-10 20:11] imotov commented on #20126
@nik9000 I cannot quite figure out what's missing here? Can we close this?

[2018-12-10 20:35] melissachang opened #36452 "Highlighters are slow with thousands of fields"
I have a `multi_match` query that searches across all fields. Without highlighting, it takes 2 seconds.

I'd like to use highlight to tell me which fields match. But highlight makes the query take several minutes long. I gave up after 2 minutes -- I'm not sure if the query ever finishes. I tried all three highlight types (unified, plain, fvh).

So instead of using highlight, I'm manually iterating

[2018-12-10 21:01] jasontedor commented on #36414
Half of these are addressed by an internal infra PR that I opened. I am looking into the other failures.

The salient error message is:

[code]

[2018-12-10 21:03] #35578 closed

[2018-12-10 21:03] jasontedor commented on #36414
This `invalid reference format` issue appears to only be occurring on the openSUSE CI workers, so something is off there.

[2018-12-10 21:06] nknize commented on #36414
Out of the blue I randomly started getting the following on #35320:

```15:02:09 Caused by: java.lang.IllegalArgumentException: expected build.docker to be unset or one of "true" or "false" but was [$(]```

Link to Jenkins build:  https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-2/1814/console

[2018-12-10 21:49] jasontedor commented on #36414
We are actively working on this internally, sorry for the issues.

[2018-12-10 21:59] luann-trend commented on #36338
I have tried to build our own docker ES image in which uses openjdk:8 to make sure our JVM is at 1.8 with latest elasticsearch 6.5.2 and able to confirm the index performance is the same as old official docker ES image 6.1.2. This is telling me that the index performance issue is caused by switching to the new jdk.

[2018-12-11 01:44] waynebaylor commented on #26959
With the tip from @mariuszpala I think the conflict comes from the `pom.xml` in `spring-boot-dependencies` (`spring-boot-starter-parent` points to this).

For example, I was seeing the same behavior while using Spring Boot 2.0.4 and if you look at https://github.com/spring-projects/spring-boot/blob/2.0.x/spring-boot-project/spring-boot-dependencies/pom.xml you can see the `<dependencyManagement>`

[2018-12-11 02:51] jasontedor commented on #36414
A multi-stage Docker build as we use requires Docker 17.05 or higher, and the openSUSE CI workers only have Docker 17.04.

[2018-12-11 03:03] jasontedor commented on #36414
I opened an internal issue for this.

[2018-12-11 03:07] bringyou commented on #36424
I'm sorry that I didn't make it clearly. I was using `QueryBuilders.rangeQuery` to build searchRequest for `RestHighLevelClient`,  just like this code:
`boolQuery().filter(rangeQuery("created").lt(aTimestampValue))`
but I had to parse my value from `java.sql.Timestamp` to `String` or `ZonedDateTime`, if not, I'll get a exception like this

After debugging, I found that queries were parsed by `XCon

[2018-12-11 03:16] doc987 commented on #36413
Agree.

[2018-12-11 03:58] AlexisWilke commented on #36336
Here is a log as requested by Christian on the discussion forum.

[logs.txt](https://github.com/elastic/elasticsearch/files/2665893/logs.txt)

[2018-12-11 04:43] Crab2died opened #36463 "Customize primary key _id has a bug"
When I use the Customize _id like "67co3sPYTAqpbHjH-NGixw.oTdjHXGxQParPjh9f1YxZA", the key has a **dot(.)** concat with 2 Strings , insert index is ok, but when I use the GET api `GET my-index/my-type/67co3sPYTAqpbHjH-NGixw.oTdjHXGxQParPjh9f1YxZA` to query the record with _id,
the result is(I am sure the record is exist)
[code]
ES version 6.3.1

[2018-12-11 05:09] Crab2died commented on #36463
I doubt that is routing key , I upsert the record routing key is first half of the **dot(.)** ( 67co3sPYTAqpbHjH-NGixw), and I'm call the GET api use the default routing key

[2018-12-11 05:09] AlexisWilke commented on #36336
Here is the output of the [cluster stats](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-stats.html) command:

[stats.txt](https://github.com/elastic/elasticsearch/files/2666020/stats.txt)

To be clear, I mention above that I have ONE node and ONE shard. I'm still at the early stages testing, getting things together. It is harder when you can't just run scripts to test eve

[2018-12-11 06:58] matriv commented on #36463
Are you sure that the index is refreshed?
You can refresh with `POST my-index/_refresh` and check again.

[2018-12-11 07:10] lwjli commented on #36463
If you index with the routing key, then get with identical routing key (or you will not find it), and search with identical routing key (for faster response from single shard).

[2018-12-11 07:10] DaveCTurner commented on #36336
@AlexisWilke it's best to keep this discussion in one place, no need to duplicate things here like this. I'll respond on the forum. If anyone else is following along, the thread is at https://discuss.elastic.co/t/creation-of-indexes-fail-with-a-404-because-a-put-happens-too-soon-36336/160020/8

[2018-12-11 08:06] bczifra opened #36464 "[documentation] Document field type limitations of `ignore_malformed`"
**Describe the feature**:
The `ignore_malformed` documentation should document which field types that property is applicable to. For example, the following won't work:
[code]
Despite `"ignore_malformed": "true"`, indexing the second document will fail with:
[code]

[2018-12-11 08:17] martijnvg commented on #36429
Another failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+bwc-tests/194/console

[2018-12-11 08:24] ruflin commented on #36418
It seems mappings are not purely additive as they can also be edited. Field alias mapping already today supports changing the path of an existing alias. I think that solves part of the problem that @bleskes described above. In case a user introduced an alias `a` and pointed it to `b` and realises it should have been pointed to `c`, it can be updated. The problem left is what if the user realises h

[2018-12-11 08:55] jimczi commented on #36452
@melissachang I tried a recreation in 6.4 with the information you gave (7K fields and a few of them per document) and highlighting was fast. We added a [shortcut](https://github.com/elastic/elasticsearch/pull/32090) in this version to bypass fields that don't appear in the document when highlighting so I guess that you're using a version without this enhancement.
However the issue with lot of fie

[2018-12-11 09:00] danielmitterdorfer commented on #36393
@dsshane if the issue occurs again, can you please issue the following commands and paste the output?

[code]

Can you please also attach the `node.lock` file to this ticket then? Note that you'll need to zip it  because Github only allows to upload certain file types.

Also, can you please clarify what you mean by:

How do you determine that the disk is busy? Is it busy before you start Elasticse

[2018-12-11 09:00] elasticmachine commented on #36464
Pinging @elastic/es-search

[2018-12-11 09:14] martijnvg opened #36468 "[CI] [_doc] can't start with '_' bwc tests failure"
There are FullClusterRestartIT failures that failed with `mapping type name [_doc] can't start with '_'` error.

Example reproduction: `./gradlew :qa:full-cluster-restart:v6.0.0#oldClusterTestRunner   -Dtests.seed=82454A4C76256306   -Dtests.class=org.elasticsearch.upgrades.FullClusterRestartIT   -Dtests.method="testNewReplicasWork"   -Dtests.security.manager=true   -Dtests.locale=es-HN   -Dtests.t

[2018-12-11 09:14] elasticmachine commented on #36468
Pinging @elastic/es-search

[2018-12-11 09:16] colings86 commented on #36402
There is no technical reason for sorting the NaN values last but they need to be sorted to some position and I think last makes the most sense to me since if you are sorting buckets by a particular metric having the buckets with no value go to the end seems more convenient then having them sort to the beginning where they will get in the value of the value that most users are likely to want first.

[2018-12-11 09:17] elasticmachine commented on #36463
Pinging @elastic/es-distributed

[2018-12-11 09:22] spinscale commented on #36369
We discussed this and the fix should be to properly throw an exception if no default account is configured but a non-existing account is specified instead of picking the first one.

[2018-12-11 09:28] martijnvg opened #36469 "[CI] MixedClusterClientYamlTestSuiteIT explain/11_basic_with_types/Explain body without query element failure"
Build log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/666/console

Reproduces with: `./gradlew :qa:mixed-cluster:v6.6.0#mixedClusterTestRunner -Dtests.seed=D39E8465F0EDD878 -Dtests.class=org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT -Dtests.method="test {p0=explain/11_basic_with_types/Explain body without query element}" -Dtests.security.manager=tru

[2018-12-11 09:39] elasticmachine commented on #36338
Pinging @elastic/es-core-infra

[2018-12-11 09:43] martijnvg opened #36470 "[CI] InternalEngineTests#testRebuildLocalCheckpointTracker test failure"
Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.5+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=virtual&&linux/93/console

Does not reproduce for me.

Relevant build log:

[code]

[2018-12-11 09:43] elasticmachine commented on #36470
Pinging @elastic/es-distributed

[2018-12-11 09:46] martijnvg commented on #33867
Another failure on 6.5 branch: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.5+bwc-tests/138/console

[code]

[2018-12-11 09:52] martijnvg commented on #36199
Another instance of this failure happened on 6.x branch: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/136/console

[code]

[2018-12-11 10:01] martijnvg commented on #36468
Early 6.x ES versions don't allow `_doc` as type name, so looks like certain `FullClusterRestartIT` tests need to be skipped when testing against these early 6.x versions.

[2018-12-11 10:13] matriv commented on #36463
@Crab2died I tried to reproduce this but I can get the document:
[code]

[2018-12-11 10:19] martijnvg commented on #36469
Another instance: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/669/console

[2018-12-11 10:22] #36428 closed

[2018-12-11 10:23] #36435 closed

[2018-12-11 10:27] matriv opened #36472 "SQL: Remove `beta[]` markup from SQL docs for GA"
Once the branch from which the GA for SQL is created we should remove the `beta[]` markup from `6.x` and `master`.

[2018-12-11 10:30] #36437 closed

[2018-12-11 10:32] martijnvg opened #36473 "[CI] HasPrivilegesResponseTests#testFromXContent test failure"
Looks like a test failure. Reproduces with: `./gradlew :x-pack:plugin:core:test -Dtests.seed=1E3622BB7B9DCAE7 -Dtests.class=org.elasticsearch.xpack.core.security.action.user.HasPrivilegesResponseTests -Dtests.method="testFromXContent" -Dtests.security.manager=true -Dtests.locale=tr-TR -Dtests.timezone=America/Pangnirtung -Dcompiler.java=11 -Druntime.java=`

[code]

Build url: https://elasticsearch

[2018-12-11 10:32] danielmitterdorfer commented on #27130
Closed by #27162.

[2018-12-11 10:32] #27130 closed

[2018-12-11 10:32] elasticmachine commented on #36473
Pinging @elastic/es-security

[2018-12-11 10:38] Ethan-Zhang commented on #36195
shall we use ```org.elasticsearch.transport.txGet(long timeout, TimeUnit unit)``` instead of ```txGet()``` to avoid deadlock?

[2018-12-11 11:16] tke opened #36474 "Unable to use WeightedAvg aggregation with Rest High Level Client"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.5.2

**Plugins installed**:
N/A

**JVM version** (`java -version`):
1.8.0_172

**OS version** (`uname -a` if on a Unix-like system):
Linux 4.15.0-34-generic #37-Ubuntu SMP Mon Aug 27 15:21:48 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
Adding a weighted_avg aggregatio

[2018-12-11 11:47] mikkelbd commented on #5359
+1

[2018-12-11 12:17] martijnvg commented on #36199
Another instance of this test failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/137/console

[code]

[2018-12-11 12:17] elasticmachine commented on #36474
Pinging @elastic/es-core-features

[2018-12-11 12:37] utkarsh4G commented on #27205
Updating elastic to 5.x from 2.x needs shield security to be replaced with x-pack security and java Transport client with java Rest-High-Level client/Low-Level-Client.
Where can i find the information on how to use xpack with elasticsearch java rest client for version 5.6.2 and If no such information is present then how do i do it? Plzz help :)

[2018-12-11 12:38] jaymode commented on #36199
I think we are losing the requestId when we switch users and rewrite authentication in `executeAsOldVersionXPackUser`

[2018-12-11 12:40] matriv commented on #36474
Can still reproduce it on master.

[2018-12-11 12:41] imotov commented on #36439
In what context would such functions be used?

[2018-12-11 12:41] tvernum commented on #27205
@utkarsh4G Could you please ask this question on our [discuss forum](https://discuss.elastic.co/c/elasticsearch)
Elastic uses GitHub issues for tracking work that needs to be undertaken, such as bugs and feature requests, and we use the forums for questions such as yours.

[2018-12-11 12:44] tvernum commented on #36199
We might well be, but we should not be requiring a request-id for internal users (such as `_xpack`), so this assert shouldn't be tripped.

[2018-12-11 13:11] ywelsch commented on #36195
@howardhuanghua thanks for reporting this. This is indeed an issue if the number of concurrent recoveries from a node are higher than the max size of the GENERIC thread pool (which is some value >=128, depending on the number of processors). That said, typically you should not have so many shards per node, and allowing such a high number of `node_concurrent_recoveries` will also not play well with

[2018-12-11 13:37] itaydvir commented on #36402
@colings86 @polyfractal - after your comments and link to comparator source code, I realized your solution is the correct one. since we have no data, it will be wrong to sort them, and yes, changing it might cause problems (even to me) because actual results might not show up because the NaN's pushed them outside the result size limit.

Thank you for your time & clarification, and sorry for openin

[2018-12-11 13:41] colings86 commented on #36402
I think this was an important discussion to have to check that we are taking the right approach on this situation so please don't feel bad for opening this issue, I think it was great to have this discussion

[2018-12-11 14:22] imotov commented on #35767
After multiple discussions, we are going with the last option. The first PR #36477 should add the set of classes and in the follow up PR it will be replace the current String that is returned by JDBC driver when somebody asks for a geoshape.

[2018-12-11 14:30] imotov commented on #20486
@jdconrad it looks to me as a duplicate of #25796 which means it should be solved by #24946. Basically, the issues is again with inability to call distance functions on multiple GeoPoint values. So, I am going to close it in favor of #24946.

[2018-12-11 14:30] #20486 closed

[2018-12-11 14:36] cbuescher commented on #35644
I found two similar looking ones:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/458/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+release-tests/162/console

[2018-12-11 14:37] astefan opened #36483 "SQL: the assertions being made for float and double numbers in the test SQL infra have a too big delta"
The assertions we make for floating numbers [here](https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/sql/qa/src/main/java/org/elasticsearch/xpack/sql/qa/jdbc/JdbcAssert.java#L223) have a delta that's too big for some tests, especially the `SCORE()` function tests like [this one](https://github.com/elastic/elasticsearch/blob/6fbc166afd75776363ebba897fcf032ce8a9d999/x-pack/plugin/sq

[2018-12-11 14:37] elasticmachine commented on #36483
Pinging @elastic/es-search

[2018-12-11 14:39] cbuescher commented on #35644
The error in the later log looks similar to the one from three weeks ago:
[code]

[2018-12-11 14:43] cbuescher commented on #35644
Possibly related to https://github.com/elastic/elasticsearch/issues/35450 which is caused by a sneaky `.tasks` index hanging around from somewhere.

[2018-12-11 14:51] polyfractal commented on #36402
Agreed, it's good to discuss behaviors like this since they very well could be bugs :)

I suspect we'll still want to fix how the `bucket_sort` behaves... it feels odd that trying to sort buckets will also have the side-effect of removing "empty" buckets.  And including `NaN` in the `bucket_sort` comparison feels like the correct thing to do, since the goal of the pipeline agg is to sort the final

[2018-12-11 14:51] #36402 closed

[2018-12-11 15:13] nik9000 commented on #33901
They do, yes.

[2018-12-11 15:13] #33901 closed

[2018-12-11 15:15] imotov commented on #20789
We should probably revisit this after #32039 since we are changing quite a bit there.

[2018-12-11 15:18] imotov commented on #22033
We should revisit this after #32039

[2018-12-11 15:23] atorok commented on #35591
@matriv If it isn't reproducible, most likely the tool we used crashed and didn't produce the expected output. Unfortunately we can't reliably tell that as we expect it to exit with a non zero exit code, but I have made  change in #36167  that will provide the output to make this obvious.

I'll assign this to myself and try to come up with a way to detect it so if it does happen again it points to

[2018-12-11 15:23] polyfractal opened #36487 "BucketSort should not support `gap_policy`"
If `bucket_sort` orders buckets based on a sub-agg that is "empty" (because it received no values and returns `NaN`/`null`/etc), that bucket is removed from the final list.  This happens because the default `gap_policy` for pipeline aggs is `skip`, and the agg will [not include buckets if the value is `NaN` && `skip`](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/el

[2018-12-11 15:23] elasticmachine commented on #36487
Pinging @elastic/es-analytics-geo

[2018-12-11 15:31] TomasNovo commented on #36483
I will have a lock at this one

[2018-12-11 15:32] matriv commented on #35591
@atorok Thanks a lot for the info and for taking it over (at least for now).

[2018-12-11 15:35] jasontedor commented on #36127
Thanks @tbrooks8.

I want to add, since it wasn't clear from my initial comment: I am fully in favor of the ideas here to expose more metrics about networking within Elasticsearch. My comment was only an iteration on what is presented here to be consistent with our we expose metrics in general and think about them in the context of exposing them through monitoring higher up in the stack. Thanks fo

[2018-12-11 15:44] elasticmachine commented on #36474
Pinging @elastic/es-analytics-geo

[2018-12-11 15:44] #36079 closed

[2018-12-11 15:46] jaymode opened #36490 "Clean up security internal user handling"
The security code uses the concept of internal users (eg XPackUser, XPackSecurityUser, SystemUser, etc) but doesn't have a central place where we keep track of these so there are places in the code where we miss handling these users properly. There have been two recent examples that I am aware of; the handling of the backwards compatible xpack user, #36199 and #36489, and the lack of treating the

[2018-12-11 15:46] elasticmachine commented on #36490
Pinging @elastic/es-security

[2018-12-11 15:54] jaymode opened #36492 "Propogate request id to internal actions or add as cause"
After #35536, we now have a request id associated with requests. This will follow a request along, but we can lose the request id when the security context is used to switch users (as seen in #36199). This typically happens for an internal action, but for traceability it would be nice to add a caused by request id to these requests. We could even keep the same request id, but that feels a bit odd.

[2018-12-11 15:54] elasticmachine commented on #36492
Pinging @elastic/es-security

[2018-12-11 15:55] imotov commented on #22564
Still reproduces in master, but it might make sense to revisit this after #32039 since it changes most of this code.

[2018-12-11 16:51] jaymode opened #36496 "Netty4HttpRequestSizeLimitIT testDoesNotLimitExcludedRequests fails reproducibly"
I hit the following failure in `Netty4HttpRequestSizeLimitIT#testDoesNotLimitExcludedRequests` locally and it consistently reproduces on master as of writing (commit 084e06e481bc14f0ec1a71cc0444b1e05a1bbe20).

Failure:

[code]

Reproduce line:

[code]

[2018-12-11 16:51] elasticmachine commented on #36496
Pinging @elastic/es-distributed

[2018-12-11 17:09] jasontedor commented on #36414
I opened #36497 so that the issue is more apparent.

[2018-12-11 17:13] jdconrad commented on #20486
@imotov Looks like it, thanks for closing.

[2018-12-11 17:15] astefan commented on #36483
@TomasNovo we really appreciate your interest in this bug fix, but this one kind of stalls another PR. As such, a PR is already up for review.

[2018-12-11 17:16] imotov commented on #22786
@peterneubauer sorry for the delay, I was finally able to reproduce the issue. It turned out that the shape that is getting indexed here is not the same shape as in https://github.com/whosonfirst-data/whosonfirst-data/blob/master/data/101/752/293/101752293.geojson It seems like the outer polygon is missing some parts and as a result, the holes are located south of the polygon. You can see the poly

[2018-12-11 17:16] #22786 closed

[2018-12-11 17:17] #35992 closed

[2018-12-11 17:21] govi20 commented on #36322
I would like to work on it.

[2018-12-11 17:30] #36251 closed

[2018-12-11 17:43] peterneubauer commented on #22786
Thanks a lot for picking this up, much appreciated!

On Tue, Dec 11, 2018, 6:18 PM Igor Motov <notifications@github.com wrote:

[2018-12-11 17:54] imotov commented on #22914
Marking as team-discuss since we need to come up with new set of version numbers here since depreciation PRs didn't make it to the versions that we originally anticipated.

[2018-12-11 18:07] Sandmannn commented on #24422
Hi @rjernst , you mentioned in your reply before, `So MapperService should use the MapperRegistry that is passed in the ctor,`. Since we cannot use exactly the same instance that has been passed in ctor due to `isMetadataField` being a static method, we need a way to grab such an instance of `MapperRegistry` inside this static method.

I looked at several places (constructor of MapperRegistry, Ind

[2018-12-11 18:09] cbuescher commented on #35644
I added some logging to the test in c595a73c707f070cf78fae04916c79d97fa466c6 that hopefully helps to confirm the above suspicion about the lingering index once this fails again.

[2018-12-11 18:55] #31435 closed

[2018-12-11 19:14] jtibshirani commented on #36469
Thank you @martijnvg for muting this, and sorry for the trouble. I've fixed the test in https://github.com/elastic/elasticsearch/commit/eb733f404aa9ce97a5c2fe6a6980521a9c455c74.

[2018-12-11 19:14] #36469 closed

[2018-12-11 19:31] rjernst commented on #36424
Supporting subclasses can't work generically. Serialization has to know and support the exact type, or there could be data loss. If subclasses of java.util.Date were serialized to date, they would be deserialized back into Date, not sql.Timestamp.

Why do you have a java.sql.Timestamp in the first place?

[2018-12-11 19:39] rjernst commented on #24422
The `isMetadataField` and `getAllMetaFields` methods would need to become instance methods, and any callers would need to have an instance of MapperService. This can likely be done in increments by converting each use of the method independently. It will also likely require reworking several chains of construction. For example, DocumentField calls the method statically. Instead, it would need to t

[2018-12-11 20:02] melissachang commented on #36452
Apologies, it didn't occur to me to file a bug report instead of a feature request. (And because I was using the feature request template, I didn't include Elasticsearch version.) I am using the docker image  docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.2. I am trying 6.5.3 now. I'll update this issue afterwards.

[2018-12-11 21:07] ycombinator opened #36508 "Document that cluster must have 1+ ingest nodes for monitoring to work"
Based on https://discuss.elastic.co/t/no-monitoring-data-collected/160348/:

For Monitoring to work, at least one of the nodes in the Monitoring cluster must be an Ingest node. Otherwise, users will see an error like this in their Elasticsearch logs:

We should document this requirement for Monitoring in the appropriate place(s), even though by default all ES nodes are Ingest nodes.

[2018-12-11 21:07] elasticmachine commented on #36508
Pinging @elastic/es-core-features

[2018-12-11 21:17] #36128 closed

[2018-12-11 21:35] costin opened #36509 "SQL: Introduce Histogram function"
A powerful, popular bucketing function in Elasticsearch is that of histograms. Such an ability should be available in SQL as well, allowing users to break down data by ranges effectively grouping by a range.

[code]

[2018-12-11 21:35] elasticmachine commented on #36509
Pinging @elastic/es-search

[2018-12-11 22:15] joshdover commented on #36324
For the time being, we're going to rely on string matches and will include functional tests to ensure these do not break in future releases. Going to close this.

[2018-12-11 22:15] #36324 closed

[2018-12-11 22:38] talevy commented on #31694
Closing due to ongoing work here: https://github.com/elastic/elasticsearch/issues/34085

[2018-12-11 22:38] #31694 closed

[2018-12-11 22:39] karl-tpio commented on #27464
Just wanted to say that i also just got bit by this one.
https://discuss.elastic.co/t/discovery-ec2-plugin-always-tries-to-ping-localhost/160433/4

[2018-12-11 22:40] talevy commented on #31770
@ujjwalGargFS have you tried upgrading? is this still an issue?

[2018-12-11 22:55] joshdover commented on #36024
@gwbrown Will you be updating the [Migration Assistance API](https://www.elastic.co/guide/en/elasticsearch/reference/master/migration-api-assistance.html) as part of this as well or is that separate?

As it stands right now, I'm not sure we need this API going forward. Since the Deprecation Info API provides information about indexes that need to be reindexed and as far as I know, there won't be a

[2018-12-11 22:56] danielkasen opened #36512 "Pagerduty Integration Not accepting default_account"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.5.1

Setting up the Pagerduty integration using dynamic settings and it appears that the `default_account` setting isn't working correctly.

[code]

Then When you try to send to a to an account that doesn't exists:
[code]
This results in a different account being notified other then the default_account defined.

[2018-12-11 23:05] jtibshirani commented on #35190
We had a few discussions internally, and decided to introduce `include_type_name` in 6.7, so we can default it to `false` in 7.0. I've updated the plan in the issue description accordingly.

[2018-12-11 23:08] talevy commented on #30085
@BobBlank12 how did you install ES? If it was with the windows installer, may be found there: https://github.com/elastic/windows-installers/blob/5.6/src/Elastic.Configuration/FileBased/Yaml/ElasticsearchYamlSettings.cs#L33.

are you running into this issue?

[2018-12-11 23:10] talevy commented on #30085
I am going to go ahead and close this since we acknowledged it is a documentation issue that could not have been easily resolved in the upgrade assistant.

Since this is a unique issue with 5.6 and will not be one moving forward as work on the upgrade assistant for 6.x to 7.0 is worked on, I am going to close this issue. It does not mean that we cannot continue discussion here, but I do not suspec

[2018-12-11 23:10] #30085 closed

[2018-12-11 23:20] elasticmachine commented on #36512
Pinging @elastic/es-core-features

[2018-12-11 23:22] gwbrown opened #36514 "Ensure Migration APIs are up to date for 7.0"
Context: We have the [Migration Assistance API](https://www.elastic.co/guide/en/elasticsearch/reference/master/migration-api-assistance.html) and the [Migration Upgrade API](https://www.elastic.co/guide/en/elasticsearch/reference/master/migration-api-upgrade.html) to handle updating system indices as needed to make sure they are ready for a major version upgrade.

This issue is to track the proces

[2018-12-11 23:22] elasticmachine commented on #36514
Pinging @elastic/es-security

[2018-12-11 23:22] elasticmachine commented on #36514
Pinging @elastic/es-core-features

[2018-12-11 23:41] jakelandis commented on #36508
I believe that this is documented here: https://www.elastic.co/guide/en/elasticsearch/reference/master/es-monitoring-exporters.html#es-monitoring-templates

Are there other places this should be documented ?

[2018-12-11 23:41] danielkasen opened #36516 "Pagerduty Integration Warning on Non-Secure Setting When Secure Setting exists"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.5.1

Setting up the PD integration using the Keystore method and ES likes to complain about the service_api_key

**Steps to reproduce**:

 1. Add the integration Key to the Keystore
`echo <PD_Integration> | /usr/share/elasticsearch/bin/elasticsearch-keystore add --stdin xpack.notification.pagerduty.account.watcher-default.secure_service_

[2018-12-12 00:43] #36044 closed

[2018-12-12 00:52] astefan commented on #36263
Master (7.0.0): https://github.com/elastic/elasticsearch/commit/de373060fb7a468419f41cffc4a6a3a2e5dc89c2
6.x (6.6.0): https://github.com/elastic/elasticsearch/commit/3abddb3aa494b1e5c79d1525431bda84a2ef01ec

[2018-12-12 00:56] jasontedor commented on #35958
Thank you everyone for the help!

[2018-12-12 00:56] #35958 closed

[2018-12-12 01:19] tvernum commented on #36492
I like the _caused-by_ idea.
I intentionally didn't carry the same request-id into internal actions, because if it wasn't properly understood / processed, it could create some very strange impressions (like the appearance of a user reading from the `.security` index or writing to the audit index).
But having them treated as separate, but related would be very helpful.

[2018-12-12 01:55] elasticmachine commented on #36516
Pinging @elastic/es-core-features

[2018-12-12 03:21] bringyou commented on #36424
@rjernst That's true, I didn't realize that, so forgive my ignorance. BTW, we used to accept timestamp as api parameter and pass them to mysql for query,  so api paramenter can not be changed even though we migrate to es.

[2018-12-12 03:21] #36424 closed

[2018-12-12 07:02] dnhatn opened #36526 "[CI] testCorruptFileThenSnapshotAndRestore fails"
Build failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/705/console

Reproduce command:

[code]

Log:

[code]

I believe this failure relates to soft-deletes (https://github.com/elastic/elasticsearch/pull/36141).

[2018-12-12 07:02] elasticmachine commented on #36526
Pinging @elastic/es-distributed

[2018-12-12 08:47] Destroy666x commented on #36439
Custom scripts e.g. to obtain score for area detection.

[2018-12-12 08:52] matriv commented on #36463
@Crab2died You're welcome.
I'm closing it then. Feel free to re-open if there is still an issue.

[2018-12-12 08:52] matriv commented on #36463
@Crab2died You're welcome.
I'm closing it then. Feel free to re-open if there is still an issue.

[2018-12-12 08:52] #36463 closed

[2018-12-12 09:20] s1monw commented on #36526
@ywelsch @andrershov  I assigned this to me. I have a fix ready.

[2018-12-12 10:26] costin opened #36532 "SQL: Replace String.format with LogMessage.Format"
Internally SQL uses `String.format` in various places however for consistency (and reduced verbosity) these should be migrated to ES `LoggerMessageFormat`.
This would eliminate the need of specifying the locale (`Locale.ROOT`) and move away from `%s` to using `{}`.

[2018-12-12 10:34] astefan commented on #36483
CC @javanna

[2018-12-12 10:35] LoadingZhang opened #36533 "_cat API "size" params doesn't take effect"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.5.1

**JVM version** (`java -version`): 1.8.181

**OS version** (`uname -a` if on a Unix-like system): CentOS 7.3

**Description of the problem including expected versus actual behavior**:

I access "_cat/indices?h=*&size=k", but es return accurate number of count not take unit.
Did  I use these params in wrong way?

[2018-12-12 10:49] costin opened #36534 "SQL: Introduce NOW / CURRENT_TIMESTAMP functions"
A convenient date/time function for current queries is `NOW` and `CURRENT_TIMESTAMP` which SQL should support as well.

[2018-12-12 10:49] elasticmachine commented on #36534
Pinging @elastic/es-search

[2018-12-12 10:51] javanna commented on #36483
thanks a lot @astefan !

[2018-12-12 10:52] #33958 closed

[2018-12-12 11:26] costin opened #36535 "SQL: return ISO dates formatted according to the passed timezone"
Currently dates returned in ISO format are using the UTC timezone (which is a nice default).
However it makes to format them according to the request timezone automatically so that clients don't have to.

[2018-12-12 11:42] costin opened #36536 "SQL: Move away from TimeZone to ZoneId"
Currently, SQL uses internally `TimeZone` however with the move to `java.time` we're now dealing with both `TimeZone` and `ZoneId`. To whatever extent possible, we should move to the latter for consistency.

[2018-12-12 11:43] danielmitterdorfer commented on #36533
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2018-12-12 11:43] #36533 closed

[2018-12-12 11:44] astefan opened #36537 "[CI] Must specify license and notice file for project :benchmarks for Zulu builds"
First time reported [here](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=zulu11,nodes=virtual&&linux/112/console).

[code]

[2018-12-12 11:44] elasticmachine commented on #36537
Pinging @elastic/es-core-infra

[2018-12-12 12:18] atorok commented on #36537
This seems to be caused by
[code]
The zulu distribution on the CI worker is either missing `jrunscript` or the zulu distribution is missing entirely.

[2018-12-12 12:48] astefan commented on #36468
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+default-distro-bwc-tests/170/console

[2018-12-12 13:00] spinscale commented on #36536
just for the record: There is `TimeZone.toZoneId()`, that might ease transition at some points

[2018-12-12 13:07] astefan commented on #36199
And another one, similar but on a different action: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/141/console

[code]

[2018-12-12 13:09] clandry94 opened #36541 "Provide a way to create RefreshListeners at the tip of the Translog"
**Describe the feature**:

Currently, the `addRefreshListener` method in the `IndexShard` class is publicly exposed, but expects to receive a `Translog.Location` and `Consumer` to add a new `RefreshListener`. This is fine in the context of indexation where the `Translog` is readily available, but as a plugin developer there is no way to publicly retrieve the `Translog`, especially when extending a

[2018-12-12 13:14] atorok commented on #36537
Confirmed that the zulu sdk is missing in CI. Closing as this is a CI issue.

[2018-12-12 13:14] #36537 closed

[2018-12-12 13:24] elasticmachine commented on #36536
Pinging @elastic/es-search

[2018-12-12 13:25] elasticmachine commented on #36541
Pinging @elastic/es-distributed

[2018-12-12 13:43] astefan commented on #36042
A newer one: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=fedora/113/console
Didn't manage to reproduce locally in 50 attempts.

`gradlew :server:integTest   -Dtests.seed=19F2BE5C71D86152 -Dtests.class=org.elasticsearch.discovery.ClusterDisruptionIT -Dtests.method="testAckedIndexing" -Dtests.security.manager=true -Dtests.locale=pt -Dtests.timezon

[2018-12-12 13:48] clement-tourriere opened #36545 "If an ingest node changes the target index, the original index is still created."
**Elasticsearch version** elasticsearch >= 6.5

**Plugins installed**: None

**JVM version** (11.0.1)

Date name processor creates prefixed index additionally to the date timed index.
This comportement has been introduced by this PR that creates the index before executing the pipeline: https://github.com/elastic/elasticsearch/pull/32786

**Steps to reproduce**:

From a clean elasticsearch instance

[2018-12-12 13:52] astefan opened #36546 "[CI] HttpClientTests.testThatGetRedirectIsFollowed failure"
Didn't manage to reproduce this one locally: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=ubuntu&&virtual/113/console

`gradlew :x-pack:plugin:watcher:test -Dtests.seed=6D5B520AF528F071 -Dtests.class=org.elasticsearch.xpack.watcher.common.http.HttpClientTests -Dtests.method="testThatGetRedirectIsFollowed" -Dtests.security.manager=true -Dtests.loc

[2018-12-12 13:52] elasticmachine commented on #36546
Pinging @elastic/es-core-features

[2018-12-12 13:52] clandry94 commented on #36541
Thanks for the info @s1monw. I didn't notice that refresh stats are available per shard. I'm guessing that the `IndexShard#refreshStats` are external refreshes? If thats the case, I think that will fulfill my needs and be a cleaner way to do what I'm trying to accomplish.

Regarding the cache invalidation, I think we are speaking about different things. By cache invalidation, I meant invalidating

[2018-12-12 14:13] astefan commented on #24418
Found this one again [here](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/708/console). Couldn't reproduce it locally though :-(.

[code]

[2018-12-12 14:44] astefan opened #36547 "[CI] MasterDisruptionIT.testFailWithMinimumMasterNodesConfigured fails with AssertionError: wrong master on node"
Couldn't reproduce it locally. Initial report [here](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/202/console).

`gradlew :server:integTest   -Dtests.seed=CB78964A31A41973 -Dtests.class=org.elasticsearch.discovery.MasterDisruptionIT -Dtests.method="testFailWithMinimumMasterNodesConfigured" -Dtests.security.manager=true -Dbuild.snapshot=false -Dtests.jvm.arglin

[2018-12-12 14:44] elasticmachine commented on #36547
Pinging @elastic/es-distributed

[2018-12-12 14:46] elasticmachine commented on #35888
Pinging @elastic/es-core-infra

[2018-12-12 14:47] imotov commented on #26286
The error message is generated inside JTS validation that fails on `LINEARRING (-179.92242898523259 -72.61473946396302, -179.70509673080812 -72.48077664056396, -179.49092755066465 -72.34661931944633, -179.27982991402556 -72.21221766344048, -179.0801618967584 -72.08294232094963, -179.91362724448533 -72.07734011503726, 179.99999999999 -72.59588562644308, 179.98777151047784 -72.66930030813533, 179.99

[2018-12-12 15:00] crohkohl opened #36552 "NEST 6.4.0 IndexDocument fails for IDs with "+""
**Elasticsearch version** (`bin/elasticsearch --version`):
[code]
**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_171"
Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.171-b11, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Windows 10

**Description of the problem including expected versus actual

[2018-12-12 15:01] JalehD commented on #32041
@hub-cap can we revive this please, the issue of these indices not being cleaned gets magnified in cloud land. You can spin up a small cluster and it will auto destruct itself by filling up disk with watcher.history stuff 🗡

[2018-12-12 15:02] JalehD commented on #32041
@elastic/cloud-pms FYI

[2018-12-12 15:05] jaymode commented on #36199
https://github.com/elastic/elasticsearch/commit/677baf841e58bdd115274470384f5f07c1375268 should fix this

[2018-12-12 15:05] #36199 closed

[2018-12-12 15:09] ywelsch commented on #36114
As @nik9000 pointed out, allowing document deletion will not immediately make the index smaller, but can even temporarily make it larger. We should improve the error message and documentation here, however. I'm marking the issue as adoptme (for the docs/error message change).

[2018-12-12 15:21] astefan opened #36554 "[CI] ClusterInfoServiceIT.testClusterInfoServiceInformationClearOnError failures on master and 6.x"
On 6.x https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/578/console:

[code]

On master https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/339/console:

[code]

It doesn't reproduce for me in 50 attempts.

[code]

[2018-12-12 15:21] elasticmachine commented on #36554
Pinging @elastic/es-distributed

[2018-12-12 15:21] ywelsch commented on #36076
We discussed this today in the distrib sync. Support for zipping the files would not play well with the incremental nature of the snapshot/restore functionality, which works at the per segment file level. There are other reasons as well why we're not supporting direct backups to Glacier, see https://github.com/elastic/elasticsearch/issues/12500#issuecomment-375013311. There are ways however to red

[2018-12-12 15:21] #36076 closed

[2018-12-12 15:44] astefan opened #36556 "[CI] MasterDisruptionIT.testStaleMasterNotHijackingMajority failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/713/console

[code]

I couldn't reproduce this in 20 attempts locally. Even after using the second seed (`@Seed("3F9487C7135AFE43")`) for the `testStaleMasterNotHijackingMajority` method.

[code]

[2018-12-12 15:44] elasticmachine commented on #36556
Pinging @elastic/es-distributed

[2018-12-12 15:47] danielmitterdorfer commented on #33930
As I've indicated on the related PR #33932 this turns out to be a client-side topic and hence I hope you don't mind if I close this. Should there be any new information regarding this, please feel free to comment / reopen. Thank you! :)

[2018-12-12 15:47] #33930 closed

[2018-12-12 15:49] danielmitterdorfer commented on #35989
We discussed this in our weekly team meeting. While it would be technically possible to do this, we don't want to encourage to rely on ordering in JSON content. Therefore, I am closing it.

[2018-12-12 15:49] #35989 closed

[2018-12-12 15:50] s1monw commented on #36541
no these stats are the actual refreshes done on the lower level. I don't think we have stats that are on the outer level. This doesn't mean we can add them

I have a question why you think that is is the case. ES will asynchronously wait for the refresh to happen, it's done in an efficient way. your client can also wait without blocking. Maybe you mean you will have a higher latency due to the res

[2018-12-12 15:51] imotov commented on #28875
So, I guess the proposal here is to make GeoHash Grid aggregation to work with `keyword` fields that are treated as geohashes or maybe add an option to the `terms` aggregation to only consider first `n` characters of each term or add a specialized prefix aggregation that was discussed 3+ years ago in #10408. Back then we decided not to do it and offered a solution that was basically what @mveitas

[2018-12-12 15:51] elasticmachine commented on #28875
Pinging @elastic/es-analytics-geo

[2018-12-12 16:00] jdconrad commented on #35888
Update should never return a value as the value would not be used for anything.  Moving from update to have a void return type as part of the signature is the best practice for this behavior.  What needs to be looked into is why this script

```script => 'if(ctx._source.timestamp.contains(params.event.get("timestamp") == false) {ctx._source.timestamp.add(params.event.get("timestamp"))}'```

wouldn

[2018-12-12 16:00] dsshane commented on #36393
[nodelock.zip](https://github.com/elastic/elasticsearch/files/2672514/nodelock.zip)

@danielmitterdorfer Please find the node.lock in the attached zip file; and the following is the output of fsutil:

c:\arcgisdatastore\elasticdata\nodes\0>fsutil fsinfo volumeinfo c:
Volume Name : OSDisk
Volume Serial Number : 0x2e134eac
Max Component Length : 255
File System Name : NTFSv
Supports Case-sensitive f

[2018-12-12 16:16] costin commented on #36536
Right except there are some gotchas with ZoneId vs ZoneOffset which I think might be a better candidate.
`TimeZone` for "Z", "UTC" and "GMT" always returns a `ZoneId` not `ZoneOffset.Z` which causes the `ZonedDateTime.toString()` to not be ISO compliant which is unexpected especially when moving away from Joda.

[2018-12-12 16:19] spinscale commented on #36536
you could try with `ZoneId.normalized()`

[2018-12-12 16:31] costin commented on #36536
Danke, that will come handy.

[2018-12-12 16:34] original-brownbear commented on #36496
Also found a way to speed up the underlying setting update logic in https://github.com/elastic/elasticsearch/pull/36560 I think.

[2018-12-12 16:43] dsshane commented on #36393
[jvm.zip](https://github.com/elastic/elasticsearch/files/2672693/jvm.zip)

@danielmitterdorfer That is very interesting, indeed. Don't understand how the jvm GC log was written into node.lock :). Please see attached jvm.zip for the jvm.properties.

[2018-12-12 16:58] danielmitterdorfer commented on #36393
Thanks. I had a look at your `jvm.options` and it seems your GC log configuration is broken (to be clear: I don't think that this should lead to GC logs showing up in `node.lock` but it should be fixed anyway):

Can you please *replace* the line:

[code]

with this one:

[code]

This will write the GC logs to the file `logs/gc.log`.

Then please stop Elasticsearch, be sure to cleanup any broken `n

[2018-12-12 17:03] dsshane commented on #36393
@danielmitterdorfer Thanks a lot! I am actually thinking about removing the entire -Xlog flag. Will that work?

[2018-12-12 17:06] danielmitterdorfer commented on #36393
Yes. you can also remove the entire line as well. Note that Elasticsearch does not write any garbage collection log as a consequence.

[2018-12-12 17:51] albertzaharovits commented on #11128
We have discussed this in today's distributed team meeting.

I have steered the discussion away from using the SDK for encryption compared to doing the encryption with the JCE API. The heavy lifting of this feature is the key management. It matters less whether we pass this key to a SDK API or the JCE API it is more important where we get the key from and how we can rotate/disable them. The scope

[2018-12-12 18:05] albertzaharovits commented on #11128
And another question: Is having the encryption key on the data nodes be suitable for the users of "client side encryption". Or they have some other "vault" like service to manage keys?

[2018-12-12 18:45] jakelandis commented on #35888
++ I think this is the crux of the issue and the reason for the discuss label.

There is a typo in that referenced script, I provided a typo free version on [this comment](https://github.com/elastic/elasticsearch/issues/35888#issuecomment-443536473).

For a single update, it does indeed return immediately. For bulk updates, it processes the bulk requests and can trigger circuit breaker via one bul

[2018-12-12 18:52] yuri-tceretian opened #36567 "Automatic mapping of SAML IDP groups to Elasticsearch roles"
Currently, to start using SAML authentication realm it is important to explicitly specify role-mappings for the realm and then maintain it basically in two places (IDP provider and ES (no UI?)). This is the requirement that is simple to forget.

This can be simplified by allowing users to configure Elasticsearch to automatically map IDP groups to its roles. By default, it can be disabled and enabl

[2018-12-12 18:52] imotov commented on #35523
I think returning 12 for `GeoUtils.geoHashLevelsForPrecision(0)` might be misleading. This function is used in parsing geo hash aggs. So, right now if a user runs something like this:
[code]
we return an error message:
[code]
Basically, it is more or less clear that we cannot support such high precision. Returning 12 could set wrong expectations about supported precision I think. From this perspec

[2018-12-12 19:04] jkakavas commented on #34772
@LuisAlvelaMendes

We can use `getLicenseState()` from `Security.java` to get an `XPackLicenseState` and implement an `isFipsAllowed()` in there

[2018-12-12 19:17] chmarr opened #36568 "RPM package does not list "java" as a dependency"
**Elasticsearch version** (`bin/elasticsearch --version`):
[code]

**Plugins installed**: Not relevant

**JVM version**: Not relevant

**OS version**: Not relevant

**Description of the problem including expected versus actual behavior**:

The elasticsearch RPM package does not have a "Requires" dependency on java. If java is not installed, but being installed in a single transaction, rpm does not

[2018-12-12 19:18] imotov commented on #36439
That might be quite inefficient unless we add doc values support support for geo_shapes, which is something we would like to do for other reasons. So, we should probably revisit this after #32039.

[2018-12-12 19:55] alexfrancoeur commented on #35118
@costin also interested, is this something we're still targeting for 6.6?

[2018-12-12 20:08] jasontedor commented on #36568
Thanks for your interest, and sorry for the trouble. We do recognize this is a problem and are still exploring how we are going to solve this. It turns out that this issue is already being considered under #31845. Would it be that you could join us there?

[2018-12-12 20:08] #36568 closed

[2018-12-12 20:28] Johnb21 opened #36572 "SQL:: Unable To Aggregate and Like in statement"
Elasticsearch 6.5

I am trying to use the SQL Component with a pretty basic query that uses a combination of a SUM aggregate function and a LIKE filter.

[code]

If i remove the aggregate, I get each line item with no errors. This tells me the `LIKE` is working properly. The same is true removing the LIKE filter and running it with just the SUM aggregate. It works.

When I use both like the query

[2018-12-12 20:58] jtibshirani commented on #36468
I merged #36511 to address the test failures and will keep an eye on the BWC builds.

[2018-12-12 21:57] #34875 closed

[2018-12-12 22:10] tpcred commented on #36572
I'll try to tackle this one.

[2018-12-12 22:36] costin commented on #35118
No, there was too much work for this to make it into 6.6; it will be addressed in a future version.

[2018-12-12 22:52] chmarr commented on #31845
For RPM packages, at least, if you have a "Requires" on a generic capability, and there's a java already installed that matches that capability, then it won't install any other java. If not, it will install the java that's available to it (not sure what happens when there's choices about OpenJDK and Oracle available)

The requirement could be "java" "java-1.8.0" "jre" "jre-1.8.0", which both openj

[2018-12-12 23:12] Derya opened #36576 "Add reverse nested query"
There doesn't seem to be a way to break out of the nesting level in a query definition that's being defined in a filter aggregation. Normally we'd never need a reverse nested query, since any actual references to fields happen at the end of our query when all the compound/joining stuff is done. But if I'm filtering some nested documents, how can I filter on the parent document's properties? As a s

[2018-12-13 00:07] #36468 closed

[2018-12-13 04:38] imperio-wxm opened #36582 "X-pack for Es-Hadoop can not connect use user & pass"
**Elasticsearch version** (`bin/elasticsearch --version`):

6.2.4

**JVM version** (`java -version`):

java version "1.8.0_121"

**Hadoop version**:

2.6.0-cdh5.11.1

**Description of the problem including expected versus actual behavior**:

I want make a mapreduce with es use Es-Hadoop, however can not connect es cluster when I install X-pack for es.

[code]

**Provide logs (if relevant)**:

[cod

[2018-12-13 05:32] consulthys commented on #32692
@jimczi  Any updates on this?

[2018-12-13 06:30] martijnvg commented on #36468
Thanks @jtibshirani!

[2018-12-13 07:22] gary-harpaz opened #36583 "Aggregation Pagination Composite VS Include Partion"
Hi,

At my company we use a terms aggregation with include: partition number to paginate the results.
I noticed that in newer versions you have a composite aggregation which also allows pagination.
Which do you think is a better solution?
Is there a performance difference between the methods?

Thanks,

Gary

[2018-12-13 07:23] astefan opened #36584 "SQL: Negated (NOT) LIKE expression doesn't work"
This one works just fine: `select * from test_emp where first_name like 'A%';`.
While these two do not:

[code]

[code]

Initially reported [here](https://discuss.elastic.co/t/inverse-query/160628).

[2018-12-13 08:11] jkakavas commented on #36567
Some context with regards to

This is not as bad/common as it sounds for mainly two reasons:
- It's a best practice to handle authorization as close to the data as possible. As such, it's common that that Identity Provider side is the authoritative source for user information (attributes, profile) and the Service Provider is authoritative for authorization decisions. In our case, this means mappin

[2018-12-13 08:11] elasticmachine commented on #36567
Pinging @elastic/es-security

[2018-12-13 08:40] #36473 closed

[2018-12-13 08:44] elasticmachine commented on #36545
Pinging @elastic/es-core-features

[2018-12-13 08:45] tvernum commented on #36567
We can discuss when we meet, but I think this is a case for templating role mappings in some way.

We _could_ add a "groups as roles" flag, but I'd prefer to be able to do that in a role mapping, with something like:
[code]

[2018-12-13 08:45] elasticmachine commented on #36572
Pinging @elastic/es-search

[2018-12-13 08:46] tlrx commented on #36583
Hi, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elastic forums](https://discuss.elastic.co/) instead. Thank you!

[2018-12-13 08:46] #36583 closed

[2018-12-13 08:46] jkakavas commented on #36567
Agreed! Templated role mappings was my first thought too when I discussed this with @yuri-tceretian

[2018-12-13 08:47] tvernum commented on #36567
The benefit of the above is that you can then also add every AD user to a role with their own name, which could then be used with a custom role provider.

[code]

[2018-12-13 08:50] elasticmachine commented on #36576
Pinging @elastic/es-analytics-geo

[2018-12-13 08:54] tlrx commented on #36552
Can you please open this issue in the https://github.com/elastic/elasticsearch-net repository? Thanks.

[2018-12-13 08:54] #36552 closed

[2018-12-13 09:03] astefan commented on #36572
@Johnb21 thank you for the report, but this was already reported before [here](https://github.com/elastic/elasticsearch/issues/36161). Closing as a duplicate.

[2018-12-13 09:03] #36572 closed

[2018-12-13 09:15] #35792 closed

[2018-12-13 09:19] Derya commented on #36576
Actually I thought about this a bit more and I feel like this must not be such a rare use case. Even if this were in the `query` clause instead of in `aggs`, there are other more complicated kinds of queries that might want to reference parent fields further down the tree... Is there some other way to accomplish this?

[2018-12-13 09:37] colings86 opened #36589 "Should we note the versions that you can connect to for remote clusters?"
At the moment the documentation on [remote clusters](https://www.elastic.co/guide/en/elasticsearch/reference/6.5/modules-remote-clusters.html#remote-cluster-settings) does not contain any information on the version restrictions for the remote clusters. Should we add a note to the page that describes that for a local cluster on `N.latest` you can connect to a remote clusters on version `N-1.latest`

[2018-12-13 09:37] elasticmachine commented on #36589
Pinging @elastic/es-search

[2018-12-13 09:57] matriv opened #36590 "SQL: Cannot use aggregation on top of a scalar function"
e.g.:
[code]

[2018-12-13 09:57] elasticmachine commented on #36590
Pinging @elastic/es-search

[2018-12-13 10:04] pugnascotia opened #36591 "Configure security realms via API"
I'm interested in whether Elasticsearch could allow security realm configuration via an API. The use-case is avoiding a restart for each configuration change.

cc @AlexP-Elastic in case there's more detail he can provide.

[2018-12-13 10:04] elasticmachine commented on #36591
Pinging @elastic/es-security

[2018-12-13 11:03] costin commented on #36364
No, a mistake.

[2018-12-13 11:05] amrm opened #36592 "SQL statement too large"
Caused by: java.sql.SQLSyntaxErrorException: line 7:51: SQL statement too large; halt parsing to prevent memory errors (stopped at depth 200)

Elesticsearch version: 6.5.1
JVM version: 1.8
OS version: Linux

Method is JDBC driver and Sql query request:

select count(*) as count,mainBusinessProcessDefinitionKey.name as name from
ksa_request_index
where id in (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,

[2018-12-13 11:08] elasticmachine commented on #24418
Pinging @elastic/es-distributed

[2018-12-13 11:08] elasticmachine commented on #36592
Pinging @elastic/es-search

[2018-12-13 11:10] colings86 commented on #36592
@amrm Could you provide some more details here? For example the SQL request that you sent and the method (CLI, REST API directly, ODBC driver, JDBC driver, etc.) that you used to send the request. Without this it is hard for us to know what to fix. Thanks

[2018-12-13 11:16] amrm commented on #36592
Method is JDBC driver and Sql query request:

select count(*) as count,mainBusinessProcessDefinitionKey.name as name from
  	ksa_request_index
  	where   id in (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20, 		1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,1,2,3,4,5,6,7,8,9,10,11,12,13,1

[2018-12-13 12:53] colings86 commented on #29823
All blockers for the initial beta release are now merged so I'm closing this out since we will track bugs and tasks for GA in separate issues with the `:Core/Features/ILM` label

[2018-12-13 12:53] #29823 closed

[2018-12-13 13:06] albertzaharovits opened #36595 "[CI] SimpleQueryStringBuilderTests.testToQuery failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/739/console

the following **does reproduce** on master:
[code]

[code]

[2018-12-13 13:06] elasticmachine commented on #36595
Pinging @elastic/es-search

[2018-12-13 13:19] lucabelluccini opened #36596 "Watcher event in watch history doesn't report the email shipment correctly when send_partial is true and multiple recipients are specified"
**Elasticsearch version** (`bin/elasticsearch --version`): Elasticsearch 6.4.x+

**Plugins installed**: [ X-Pack ]

**JVM version** (`java -version`): 10

**OS version** (`uname -a` if on a Unix-like system): Not relevant

**Description of the problem including expected versus actual behavior**:

When:
- The setting on Elasticsearch `xpack.notification.email.account.XXXX.smtp.send_partial: true`
-

[2018-12-13 13:19] elasticmachine commented on #36596
Pinging @elastic/es-core-features

[2018-12-13 13:32] #15965 closed

[2018-12-13 13:46] imotov commented on #30835
Looks like logstash-plugins/logstash-output-elasticsearch#713 got merged in, should we close this issue then?

[2018-12-13 14:17] consulthys commented on #16895
It would definitely be a good idea to support hexagonal partitioning.
See Uber's open-sourced h3 project (Hexagonal Hierarchical Geospatial Indexing System): https://github.com/uber/h3

Explanations with examples here: https://eng.uber.com/h3/

[2018-12-13 14:18] elasticmachine commented on #36589
Pinging @elastic/es-distributed

[2018-12-13 14:18] elasticmachine commented on #36589
Pinging @elastic/ml-core

[2018-12-13 14:30] albertzaharovits opened #36598 "[CI] MultiMatchQueryBuilderTests#testToQuery fails"
Fails without reproduction in 6.x
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/602/console
[code]

[code]

[2018-12-13 14:30] elasticmachine commented on #36598
Pinging @elastic/es-search

[2018-12-13 14:37] albertzaharovits commented on #36598
Looks like this has been fixed since ec0036b and 971a707c608 (that had the failures).
Closing, sorry for the noise.

[2018-12-13 14:40] imotov commented on #36598
That just reproducibly failed for me on 6.x with
[code]
So, I don't think it is fixed (at least in 6.x)

[2018-12-13 14:51] loretoparisi opened #36600 "scripted_upsert - illegal_argument_exception when using ! op to check field"
I do use `scripted_upsert` to updated fields in my document and it works ok like

[code]

but this will fail if I try to check the existance of my `tag` list, so that I can create it when it does not exist like:

[code]

In this case I will get an error

[code]

[2018-12-13 14:55] spinscale commented on #36598
I do find weird things when putting this test using `@Repeat` in the test class, sometimes I get the above error message, but I also got

[code]

I have not yet determined if this there is state somewhere in test, that may be an issue

[2018-12-13 15:07] imotov commented on #26286
I've done some more digging here. Basically, it fails if a non self-intersecting counterclockwise polygon that is crossing the dateline self-intersects if you treat is as clockwise. The simples reproduction I could come up with is:

[code]
Interestingly enough, if I specify ` "orientation": "clockwise",` it actually indices fine.
[code]

[2018-12-13 15:15] spinscale commented on #36598
I think this is the offending code, which only exists in 6.x, but not in master https://github.com/elastic/elasticsearch/blob/6.x/server/src/main/java/org/elasticsearch/index/search/MultiMatchQuery.java#L277-L283

[2018-12-13 15:20] s1monw commented on #36541
@clandry94 ping

[2018-12-13 15:39] danielmitterdorfer opened #36602 "Rework multi date formatter merging causes a throughput drop for http_logs"
https://github.com/elastic/elasticsearch/pull/36447 (merged to master in https://github.com/elastic/elasticsearch/commit/c4f437800680a8858131b5a5e7bb370c41d109a9) has caused a performance regression the [http_logs benchmarks](https://elasticsearch-benchmarks.elastic.co/#tracks/http-logs/nightly/30d) on Dec 12, 2018. The numbers below are for [our nightly benchmarking hardware](https://elasticsearc

[2018-12-13 15:39] elasticmachine commented on #36602
Pinging @elastic/es-core-infra

[2018-12-13 15:42] loretoparisi commented on #36600
**[UPDATE]**

I'm not sure the reason, but using the operator `==` and `null` it works like

[code]

[2018-12-13 15:58] imotov commented on #31048
This seems to be a duplicate of #27954, so I am going to close it.

[2018-12-13 15:58] #31048 closed

[2018-12-13 15:59] imotov commented on #27954
Depends on #32039

[2018-12-13 16:03] imotov commented on #27832
This looks like duplicate of #26286. Closing.

[2018-12-13 16:03] #27832 closed

[2018-12-13 16:16] talevy opened #36605 "[ILM][DOCS] Add Documentation for new ILM security privileges"
This is a tracking issue for adding documentation discussing the new `manage_ilm`, `read_ilm`, and
changes to `view_index_metadata` changes in privileges made here: #36493

What needs to be done:

- Update Authorization mentions in the ILM API docs mentioning the need for the `manage` privilege. This needs to be changed to be custom per api-endpoint where different cluster and/or index privileges

[2018-12-13 16:16] elasticmachine commented on #36605
Pinging @elastic/es-core-features

[2018-12-13 16:17] #36474 closed

[2018-12-13 16:32] albertzaharovits commented on #11128
We have discussed this in today's security team meeting. We have again focused on the key management topic. For the moment we are undecided whether to use SDK or JCE support to do the encryption (it depends on other decisions).

We have though about it under the assumption that a repository has a fixed key. Key rotation should ideally be handled outside of elasticsearch because this rotation mecha

[2018-12-13 16:47] batjko commented on #36474
Nice turnaround time! :+1:

[2018-12-13 17:07] rjernst commented on #36602
@spinscale This is concerning to me because the new way is mimicking what we must do with java 8 time. So I would expect this same issue to appear when using java 8 time, because it does not have the equivalent to Joda's multiple parsers within a date formatter. Thoughts?

[2018-12-13 18:07] elasticmachine commented on #36600
Pinging @elastic/es-core-infra

[2018-12-13 18:41] cbuescher commented on #36595
I saw something very similar a while ago in https://github.com/elastic/elasticsearch/issues/35183, I assume its the same thing here but I didn't catch it then.

[2018-12-13 18:46] dsshane commented on #36393
@danielmitterdorfer Remove the -Xlog:gc seems working, at least have not reproduced it since yesterday. Thanks.

**But still believe that the problem should be fixed to make sure that no GC log or any other log written into the node.lock(critical system file), no matter the log output file is provided or not.**

[2018-12-13 19:13] talevy commented on #36474
@tke thanks for the report. Fix for this was pushed and should be made available in the versions tagged on the Pull Request. Hope all is resolved for you after upgrading when they are made available!

[2018-12-13 19:19] bedgarone commented on #30944
Me and @MiguelFerreira1998 are currently working on this issue and we already made some changes to the code `elastic/elasticsearch/blob/master/x-pack/plugin/security/cli/src/main/java/org/elasticsearch/xpack/security/cli/CertificateTool.java` and we need some help to test the issue. I think the 'steps to reproduce' told by @jpcarey are deprecated. What should be our approach?

[2018-12-13 19:21] bedgarone commented on #30944
@tvernum Me and @MiguelFerreira1998 are currently working on this issue and we already made some changes to the code `elastic/elasticsearch/blob/master/x-pack/plugin/security/cli/src/main/java/org/elasticsearch/xpack/security/cli/CertificateTool.java` and we need some help to test the issue. I think the 'steps to reproduce' told by @jpcarey are deprecated. What should be our approach?

[2018-12-13 19:58] rjernst commented on #36602
To clarify my previous statement: @dm reached out to me on another channel with this info:

With java 8 time, and what the referenced PR does, is try each format in a multi date format one at a time, catching IllegalArgumentException. In joda, multiple parsers could be set within a DateTimeFormatter. This can be done (sort of) in java time by using DateTimeFormatterBuilder and using `appendOptiona

[2018-12-13 20:07] jpcarey commented on #30944
1. `bin/elasticsearch-certutil ca --ca-dn "CN=Example LLC" --days 7300 --keysize 4096 -out Example.p12 --pass "2zVBXLjRzAXn9wcXuj6vr@YVVAMwiEBJvhFp,cPpoK&ZVLXhWsw2#%PzyjJkZiWx"`
2. `openssl pkcs12 -in Example.p12 -info`

[2018-12-13 20:55] danielkasen opened #36616 "Forcemerge operation failing to include second digit"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.5.1

**Description of the problem including expected versus actual behavior**:

When executing a forcemerge operation it would appear that the check to see if it should proceed to the max_num_segments works, but the actual FM operation only includes the first digit. For example if you were to issue the cmd:

`POST nginx-2018.12.05.14.00-

[2018-12-13 21:13] #35797 closed

[2018-12-13 22:34] astefan commented on #36483
Master (7.0.0): https://github.com/elastic/elasticsearch/commit/1270d85ae19b9405b3949ab17d4a50b02c96ea77
6.x (6.6.0): https://github.com/elastic/elasticsearch/commit/eeedcf6b3042103e38516db95815908f7d33dd85

[2018-12-13 22:34] #36483 closed

[2018-12-13 22:59] #36364 closed

[2018-12-13 23:08] danielkasen commented on #32323
I'm not sure you'd want to move the ability to slowly move down to this. Currently, we use a stepping policy as it's more efficient (fast and less memory utilization). So going from 600 -> 20 -> 10 is quicker then going 600 -> 10

[2018-12-13 23:13] danielkasen commented on #36616
Actually I think I am misreading these numbers. It would appear that it always tries to force merge down to 1. Did we remove the option to pass a number to this in the 6.5 release and not document it? This is causing a serious strain on our cluster.

[2018-12-14 00:02] #33457 closed

[2018-12-14 00:17] vbohata opened #36627 "ILM should support variables in rollover_alias"
I have checked the docs about ILM beta feature for ES 7 and found it is probably not possible to use some kind of variables in rollover_alias names.

For us it is a must have feature. We use index names like:
- machines1-winevent-security-filebeat-6.3.0-2018.12
- machines1-winevent-system-filebeat-6.3.0-2018.12

Indexing via logstash.

Index patterns are matching by "*-winevent-*-*-*-*". It is not

[2018-12-14 05:51] astefan commented on #36061
This is not about string functions, but more about casting inside scripts.

[2018-12-14 06:33] danielmitterdorfer commented on #36393
Thanks for your feedback. Based on this I close the issue.

I understand that wish but what you are asking for is next to impossible to achieve (I am open for suggestions though :)). We are already taking care that Elasticsearch refuses to start if this file has been tampered with (this is what you have experienced) and we have not only the file size check but several others in place that ensure t

[2018-12-14 06:33] #36393 closed

[2018-12-14 07:09] geekpete opened #36629 "Check existing data for duplicate field docs in the migration assistance APIs and Migration Assistant"
**Describe the feature**:

Elasticsearch 5.x allows duplicate fields to be indexed into documents:
https://github.com/elastic/elasticsearch/issues/19614

This was fixed in 6.x by enforcing strict duplicate validation:
https://github.com/elastic/elasticsearch/pull/22073

A user who upgrades a cluster containing docs with duplicate fields from 5.x to 6.x will currently have no warning that their dat

[2018-12-14 07:09] elasticmachine commented on #36629
Pinging @elastic/es-core-features

[2018-12-14 08:17] elasticmachine commented on #36627
Pinging @elastic/es-core-features

[2018-12-14 08:20] astefan opened #36631 "SQL: NULLIF doesn't work in GROUP BY and ORDER BY (scripting with NULLIF)"
At the moment, anything using NULLIF scripting doesn't seem to work:
* `SELECT NULLIF(int0, int1) FROM calcs GROUP BY NULLIF(int0, int1)`
* `SELECT NULLIF(int0, int1) FROM calcs ORDER BY NULLIF(int0, int1)`

First one returns the following error:
[code]

And this is because the script generated for it looks like this:

[code]

The second query (ORDER BY) returns this:

[code]

And this is because

[2018-12-14 08:20] elasticmachine commented on #36631
Pinging @elastic/es-search

[2018-12-14 09:04] makubi commented on #36114
Hi @nik9000 and @ywelsch, thank you for the information.

You're right that the documentation for `index.blocks.read_only_allow_delete` is correct, because it does not mention that deleting documents is allowed. Maybe the information you provided here can be helpful for others, nevertheless.

Thanks.

[2018-12-14 09:07] nikhilkapoornk opened #36632 "BUG: Negative value is successfully set for “discovery.zen.commit_timeout” parameter"
I am able to successfully set the negative value of "discovery.zen.commit_timeout" parameter in elasticsearch.yml or when it's value is changed dynamically by using the cluster update settings API.

Whereas an error is shown on the console when "discovery.zen.publish_timeout" parameter is set to negative value.
{Failed to parse value [-10s] for setting [discovery.zen.publish_timeout] must be >= 0s

[2018-12-14 09:09] s1monw commented on #36541
@clandry94 thanks for the insights. I personally think building cache invalidation based on refreshes will be a very tricky and error prone construct. I would try hard to not go down that path. One thing that I can see being tricky is that whenever you get a callback on a refresh you can't tell if the change is visible on all replicas. This guarantee is different with `wait_for`. If you need to kn

[2018-12-14 09:19] elasticmachine commented on #36632
Pinging @elastic/es-distributed

[2018-12-14 09:30] #27464 closed

[2018-12-14 10:05] imotov commented on #23670
I was able to reproduce the issue on 6.4 and it is definitely unrelated to #25933 and #22786. The issues #25933 and #22786 were caused by a bug in the polygon parsing logic that couldn't handle malformed polygons with holes that were protruding out of the outer shell in a certain way and. These issues were fixed by #27685.

In this case the issue is caused by the shape of post-1948 Canada that at

[2018-12-14 10:10] #36595 closed

[2018-12-14 10:49] costin opened #36635 "SQL: stop sending JDBC type in the drivers protocol"
For historical reasons, for the drivers protocol we send `jdbc_type` parameter which however is not used anywhere. Since each driver needs to do the mapping between the es type and their supported type, it seems unlikely it will used anytime soon.

[2018-12-14 10:49] elasticmachine commented on #36635
Pinging @elastic/es-search

[2018-12-14 11:02] matriv commented on #36631
@astefan Nice catch, thank you!

[2018-12-14 11:17] Erik-Lamers1 opened #36638 "Automatic config reload"
Currently ES needs a full restart whenever elasticsearch.yml is edited. Which is not ideal. Basically it would be a great feature if ES had some option like Logstash now has: https://github.com/elastic/logstash/issues/4513 [docs](https://www.elastic.co/guide/en/logstash/current/reloading-config.html).

[2018-12-14 11:45] ywelsch commented on #36629
Note that warnings for this would require a full scan of the data in the index, loading every source document to figure out whether it has duplicate fields.

[code]

Why is the escape hatch not working? What kind of errors are you getting from the reindex API?

[2018-12-14 12:18] bedgarone commented on #30944
We need to know how we can get the current version of the user's openssl, so that the verification runs only for older versions. Shall we verify for everyone?
Thanks for your time.

[2018-12-14 12:34] spinscale commented on #36602
@rjernst ++ that outlined approach makes sense to me! Thanks for checking

[2018-12-14 12:51] #36631 closed

[2018-12-14 13:39] elasticmachine commented on #36638
Pinging @elastic/es-core-infra

[2018-12-14 13:42] #36534 closed

[2018-12-14 13:55] clandry94 commented on #36541
I really like this approach, but we use Kafka to have a resilient indexation pipeline an unfortunately won't work for me.

On the other hand,

I'm going to explore this more. I think it could be a pretty resilient way to invalidate the caches since the cluster will fallback to its original refresh interval if whatever job/system/etc that forces refreshes fails.

Anyway, thank you for the help! I h

[2018-12-14 13:55] matriv commented on #36592
@amrm Checking this, to see if we can relax the constraint for such cases.

[2018-12-14 14:21] bleskes commented on #36589
We discussed it on fix it friday. It is a great point that we need to get a clearer story documented. That said, the remote cluster infra is not the right level for it. CCS has a totally different story than CCR (where lucene file may be copied). We will open up a CCS specific issue. The CCR BWC aspect is still in the works and is covered by the CCR roadmap.

[2018-12-14 14:21] #36589 closed

[2018-12-14 14:21] polyfractal commented on #31689
I think this is unstalled since https://github.com/elastic/elasticsearch/pull/32390 landed?

I think the behavior is slightly different than originally intended, since https://github.com/elastic/elasticsearch/pull/32291 also landed (e.g. we respect `max_num_segments`), but I think that means we may also end up with fewer segments than `max_num_segments`?  The docs still state that you'll get exact

[2018-12-14 14:50] jakelandis commented on #36359
We discussed this today in Fixit Friday and agreed that this would be useful in other parts of the stack, and something that we want to purse.

We still need discuss with @elastic/machine-learning team if they are agree-able to move this code from ml to a more common place in the stack (and possibly require a re-license). We also need to discuss how to maintain the list of top level domains.

[2018-12-14 15:07] spinscale commented on #36546
relevant snippet from the logs. I do not have an idea yet, how the mock web server can bind to a port, but apparently is not reachable within 10 seconds.

[code]

[2018-12-14 15:17] droberts195 commented on #36359
One option would be to work off the [public suffix data file](https://publicsuffix.org/list/public_suffix_list.dat) instead of the compressed version embedded in the code.  We could ship `public_suffix_list.dat` as a resource file and parse it at startup.  Then updating it would simply become a case of updating that file in the source tree.  (Or we could ship it as a config file as parse it from t

[2018-12-14 15:48] jpountz commented on #36418
We discussed this issue in FixitFriday. In general we don't want to remove fields from the mappings without removing them as well from the index. We had some attempts in the past (eg. upon merge) but we eventually decided against removing fields due to the complexity and how it gave room for bugs including data corruption.

Field aliases are a bit different due to the fact that they don't store an

[2018-12-14 16:02] gwbrown commented on #36629
To add to what @ywelsch said, checking for this condition would require a significant rework of how the Migration APIs operate, as they currently use index metadata only.  Even if the migration APIs were set up to run queries against indices, I'm not sure there's a way to detect this generically in a query, even a scripted one.

While I agree that we should do something to handle this case better,

[2018-12-14 16:20] #36509 closed

[2018-12-14 16:31] talevy commented on #35105
thank you @bizybot, I will take another look at this! I thought we had one the battle of
testability and flakiness

[2018-12-14 16:39] costin commented on #33287
For `search_after` to work reliably, queries would need to be sorted and have a tie breaker (which is problematic since doc ids are not part of doc values).

[2018-12-14 16:59] dsshane commented on #36393
@danielmitterdorfer Thanks for your help and your comment.

 But I am some kind of disagree with what you said. It will be a very simple change. If -Xlog:gc is set, but there is no output file, just provide a default location under the log_dir. And actually, I don't agree that this is a misconfiguration by not providing a GC log location.  For a robust system, it should take care of this internall

[2018-12-14 17:55] tbrooks8 opened #36652 "Unify Elasticsearch Network Settings"
Currently, Elasticsearch network settings use inconsistent naming schemes. Additionally, there are some prefixes (ex: `transport.tcp` in the `transport.tcp.compress` setting) that no longer make sense now that we have one transport type. We would like to transition these settings to be consistent based on the follow rules:

1. The `network.` prefixed settings are settings that can apply to both `h

[2018-12-14 18:45] not-napoleon commented on #36420
Hello @aananthagovindarajan.  We discussed this in Fixit Friday on 2018-12-14, and don't feel that a bitset field makes sense right now.  The use cases described in the linked article are primarily analytics use cases.  What you're talking about sounds more like a bitset per shard, not per document (which is what a datatype mapping would suggest).

That said, the frequency analysis type aggregatio

[2018-12-14 18:45] #36420 closed

[2018-12-14 19:58] DaveCTurner commented on #36556
The test looks like it was on its way to succeeding: the stale master's attempt to hijack the majority was indeed rejected. But then everything just stopped for a couple of seconds. Here are two consecutive log messages:

[code]

The failure detector is set to be quite enthusiastic in `AbstractDisruptionTestCase`: a single 1-second pause is enough to trip it, so the inexplicable pause means the ma

[2018-12-14 21:22] #22302 closed

[2018-12-14 21:49] cjcenizal commented on #35658
A temporary UI-based solution would be to give the user a button that says "Remove remote clusters that have errors". Clicking this button will show a confirmation modal which lists the remote clusters containing seed nodes that match the offending host name. Confirming their removal will send a request to `_cluster/settings` that removes them.

[2018-12-14 21:59] geekpete commented on #36629
The escape hatch config setting had changed name from version 6.3 so the previous setting name was taking no effect. One setting name for 60. to 6.2+ and a different name setting for 6.3+

This info has been added in the PR:
https://github.com/elastic/elasticsearch/pull/22073

I understand the reason we only use metadata to keep checks lightweight and the expense at scale of doing a search across

[2018-12-14 22:11] Sandmannn commented on #24422
I was looking up various chains of funciton calling of `DocumentField` constructor, among others found this chain

[code]
`BulkShardRequest readFrom()` implements `ReplicatedWriteRequest`, thus if we want to extend the function signature of the methods above by handing over additional context, then we also need to adjust all calls to `ReplicatedWriteRequest.readFrom()`, affected classes `DeleteReq

[2018-12-14 22:34] rjernst commented on #24422
FTIW, passing the boolean to the DocumentField constructor should be relatively simple: see FetchPhase.getSearchFields. This method has SearchContext, which has a ref to the MapperService.

[2018-12-14 23:05] Sandmannn commented on #24422
Assuming it was already written during serialization indeed makes it much simpler. 2 questions though:
1) Do we have to care about deserializing `DocumentField` instances serialized in previous version (without the flag)?
2) What is the policy on splitting PRs? Is it possible to first create a PR concentrating on change in `DocumentField` and whoever calls its constructor and afterwards a separate

[2018-12-15 00:07] gwbrown commented on #36598
This fails reproducibly for me with
[code]

[2018-12-15 00:31] rjernst commented on #24422
1. Yes, backcompat needs to be addressed. In this case, the deserialization can fall back to calling the static method (it would need to stick around in 6.x then).
2. Splitting PRs is highly encourage, assuming the split makes logical sense (each PR should leave the system in a stable state, still fully tested, etc). If I understand your suggested split, you would change the construction of Docume

[2018-12-15 00:36] jen-huang opened #36667 "Removing remote cluster that is in use by auto-follow pattern causes crash"
I have a remote cluster which is in use by a CCR auto-follow pattern:

`GET _remote/info`:
[code]

`GET _ccr/auto_follow`:
[code]

When I remove the remote cluster, ES throws repeated errors until it crashes with `ERROR ES exited with code 126`:

[code]

[code]

[2018-12-15 00:37] elasticmachine commented on #36667
Pinging @elastic/es-distributed

[2018-12-15 00:37] cjcenizal commented on #36667
CC @jasontedor

[2018-12-15 12:24] fbaligand opened #36669 "Add API to download a binary field"
Currently, the only way to get a binary field is to get a json response that contains binary field, encoded in base64.

This would be great to add an API which enables to download only a binary field.
A nice option would be to precise if content is encoded, decoded (from base64), or gziped.

Example API :
`GET /index/type/id/binary_field?format=decoded`

And result is the content in binary_field,

[2018-12-15 12:36] elasticmachine commented on #36669
Pinging @elastic/es-core-infra

[2018-12-15 12:38] imotov commented on #36669
You can also get it in [CBOR or SMILE](https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.html#_content_type_requirements) formats, which seems to be reacher in functionality and less prone to abuse.

I would agree that having a single field as an output would be a bit easy to parse, but there are several issues with that including handling content type, simplifying usa

[2018-12-15 13:31] jasontedor commented on #36638
This requires quite some unpacking to help us understand the request. When listening to a feature request, we also want to hear the *why*; it might be that we are missing something in the experience and having that feedback is important to us.

Pipeline configuration reloading in Logstash is driven by a need that does not apply to Elasticsearch. Namely, it is due to the fact that a common workflow

[2018-12-15 13:31] #36638 closed

[2018-12-15 16:46] fbaligand commented on #36669
Hi @imotov ,

Thanks for your answer and suggestion for CBOR/SMILE formats. As I see in documentation and upon my tests, it seems that these formats are only supported for indexing documents, and not for getting documents.
If I'm wrong, I'm very interested by a simple query example that gets a document with CBOR/SMILE format.

That said, concerning this issue :
- for the content-type, an easy way

[2018-12-15 17:31] imotov commented on #36669
[code]

[2018-12-15 18:40] fbaligand commented on #36669
Thanks for the example! Very instructive!
Nice to see that blob is not base64-encoded in CBOR and SMILE formats.

To go back to this issue, CBOR/SMILE formats are nice alternatives, but I find that having a direct download is helpful to simply get a binary content, without to deal with complex SMILE/CBOR formats, particularly to stream the binary content on the client side.

[2018-12-15 21:53] jakauppila commented on #11148
@ywelsch Is there another issue to watch for that index-centric view of snapshots? We'd be very interested in that.

[2018-12-16 06:02] imotov commented on #36669
I don't think elasticsearch would be a good solution for that. Please see https://github.com/elastic/elasticsearch/issues/25146#issuecomment-311330133 for a detailed explanation and related discussion. In this particular case, you might be better off storing large binary content outside of elasticsearch and delivering it using a specialized streaming server, while indexing only metadata for this c

[2018-12-16 15:39] fbaligand commented on #36669
Well, I understand that Elasticsearch is not designed to be a binary datastore.
But it is designed to be a document datastore. And with official ingest-attachment-plugin, you can ingest a binary document to a Elasticsearch document, with both text content and binary content.
This is my concern for this issue.
And so, both to download binary content and full text content, an API to download one spe

[2018-12-16 20:13] up201608320 commented on #34745
@davidkyle When you said that:'There are test cases covering getting the job stats for multiple jobs but the tests pass because the code assumes the job is closed then goes and gets the job stats for the job as if it was closed.' Can you specify or redirect me which tests were you talking about?

[2018-12-16 21:07] jakelandis commented on #36115
It looks like the default for `rest_total_hits_as_int` is set to false in master. We will need to change the default to true for 7.x.

[2018-12-16 21:14] jakelandis commented on #36177
@andrewvc - I think this may be a result of https://github.com/elastic/elasticsearch/pull/35849, which impacts Watcher https://github.com/elastic/elasticsearch/issues/36115.  There is BWC compatible flag that we will enable by default in 7.x, but is currently not enabled as default in master of today.

Can you retry your watch with `"rest_total_hits_as_int": true` ?  You shouldn't need to make tha

[2018-12-16 23:49] dnhatn commented on #36526
@s1monw This test still fails. Some instances:
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/793/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu&&virtual/120/console

Log:

[code]

[2018-12-16 23:57] cam72cam commented on #32869
It would also be useful to point to this on the reindexing page.  I ran into a issue where I had just enough space to reindex my dataset (with a few % leeway) and spent most of the day trying to track down where all the disk space was being used and why the data would not fit.

[2018-12-17 06:21] muralikpbhat commented on #31479
Hi Adrain, if we re-use a field independent of the field name but type, won't it contradict with the point that you had in the previous comment "it is fine to reuse field instances across documents, but not within the same document" ?

[2018-12-17 06:22] ypc123ypc opened #36690 "what units of redis.info.cpu.used.sys field"
when i use metricbeat to monitor my redis server , i holp use cpu fields to complete my chart, but i don't know what the units of these cpu fields are.
![redis_cpu](https://user-images.githubusercontent.com/16789056/50069962-36dd2500-0207-11e9-9a0d-0f938bec3725.png)

[2018-12-17 06:54] tvernum commented on #36690
Hi @ypc123ypc, thanks for your interest in Elasticsearch and Beats.

This looks like a question about metricbeat, but Elastic reserves GitHub issues for tracking bugs and feature requests. For questions like these, could you please head over to our [discussion forum](https://discuss.elastic.co/c/beats/) where we can provide better support.

I'm going to close this ticket, but there's an active com

[2018-12-17 06:54] #36690 closed

[2018-12-17 08:20] #35365 closed

[2018-12-17 08:58] matriv opened #36692 "SQL: Change docs to describe function aliases consistently"
Currently we have mixed approaches for function aliases. For some we list them normally as another function (e.g. NVL and ISNULL). For others we don't mention them at all, and for some we mention the aliases in the section describing the function with its primary name.

Let's decide on a consistent approach and make the appropriate changes.

[2018-12-17 08:58] elasticmachine commented on #36692
Pinging @elastic/es-search

[2018-12-17 09:01] matriv opened #36693 "SQL: Mixed validation in Analyzer and Verifier."
Currently there are validations in both classes which can cause different error messages for similar cases. E.g. : https://github.com/elastic/elasticsearch/pull/36594/files/046db85f404b8ed6892d23422792a561830bdbb9

We should have them in one place, (Verifier if possible).

[2018-12-17 09:01] elasticmachine commented on #36693
Pinging @elastic/es-search

[2018-12-17 09:05] #36059 closed

[2018-12-17 09:17] ruflin commented on #36418
It is already possible today changing the path of an alias even if the field has a different type (see example below). Wouldn't that cause the same issue as described above?

[code]

The alias first points to a `keyword` field and then to a `long` field on the second GET.

[2018-12-17 09:31] jkakavas opened #36695 "[CI] JdbcSqlSpecIT datetime.testCurrentTimestampMinute failures"
[code]

This failed in a PR run with
[code]

It reproduces locally also

[2018-12-17 09:31] elasticmachine commented on #36695
Pinging @elastic/es-search

[2018-12-17 09:37] pgomulka opened #36696 "[CI] LocalIndexFollowingIT.testFollowStatsApiFollowerIndexFiltering fails"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.5+periodic/315/console
Does not reproduce for me locally
[code]

[code]

It seems to be failing once in a while since 15th Dec 2018.
https://build-stats.elastic.co/goto/b58444cfa8f318cbcc9055e35fef0793

[2018-12-17 09:37] elasticmachine commented on #36696
Pinging @elastic/es-distributed

[2018-12-17 09:38] jkakavas commented on #36695
Possibly relates to #36562

[2018-12-17 09:44] costin commented on #36695
I'll push a fix - this relates to the timezone difference between H2 and ES, the former always picks the local timezone and doesn't allow one to be specified creating some weird issues.

[2018-12-17 09:45] pgomulka commented on #36696
also fails on https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/122/console

[2018-12-17 10:38] pgomulka commented on #36598
Failing on 6.x with `testMustRewrite`. It looks like @spinscale 's PR won't fix this one

[code]

[code]

[2018-12-17 11:36] #36061 closed

[2018-12-17 11:37] atorok commented on #30782
`smb-fixtures` was ported to docker based fixtures.
The new plugin exposes the mapped ports as  system properties  to tests automatically.
I think we should make `idp-fixture` docker based as well.

[2018-12-17 12:00] #36169 closed

[2018-12-17 12:01] Xyrion commented on #22719
Any update on this issue? I'm experiencing the same issue.

[2018-12-17 12:09] imotov commented on #36669
That's why I think this API would be very useful, finally both for binary fields and long text fields.

I agree, in a typical search use case an application typically delivers one subset of fields for the result list and another subset of fields when a user navigates to a particular document. However, for the non-binary use case, this is handled by [source filtering](https://www.elastic.co/guide/e

[2018-12-17 12:14] astefan commented on #36061
master (7.0.0): https://github.com/elastic/elasticsearch/commit/b15f27f6a6bed3c349169a7c928e6c5460548bdb
6.x (6.6.0): https://github.com/elastic/elasticsearch/commit/c84222723e2839af43106c26bbc19a96511a88c9

[2018-12-17 12:16] astefan commented on #36169
master (7.0.0): https://github.com/elastic/elasticsearch/commit/2ed6ab9648cb6d93d6c27fe9b0db3e5a5c57e91e
6.x (6.6.0): https://github.com/elastic/elasticsearch/commit/e18771011e3c60d07b7338997fc6e62dc3f30aaa

[2018-12-17 12:38] pgomulka commented on #35644
it failed on https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=amazon/124/console

[code]

[2018-12-17 12:49] IvanSorokin opened #36704 "No highlights returned for query"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.5.1

**Plugins installed**:  ingest-attachment

**JVM version** (`java -version`): 9.0.4

**OS version** (`uname -a` if on a Unix-like system): WIndows 10

**Description of the problem including expected versus actual behavior**:

In my document I have a field that contains array of strings. Mapping for this field

[code]
Query

[code]

[2018-12-17 13:04] martijnvg commented on #36696
Hey @pgomulka this test should be fixed by the following commits that have been pushed this morning.

master: https://github.com/elastic/elasticsearch/commit/f27d2c292797c28ba73f27b5d32928d2c4a5ac2f
6.x: https://github.com/elastic/elasticsearch/commit/3a4fb891ba9abe6d1136d53bf90f763a95727e4d
6.5: https://github.com/elastic/elasticsearch/commit/405ff61677921f3e93169c874653c4bc8c2157b9

Please re-op

[2018-12-17 13:04] #36696 closed

[2018-12-17 13:07] jasontedor commented on #36414
I opened #36706.

[2018-12-17 13:54] DaveCTurner commented on #22719
@Xyrion @jeusdi this issue was closed (it's not an Elasticsearch issue) but perhaps if you ask a more detailed question on the forum at https://discuss.elastic.co/c/elasticsearch you will get some more useful responses. I too suspect a hardware issue or filesystem bug.

[2018-12-17 13:55] clandry94 commented on #36541
Sure, I'll make a new issue

[2018-12-17 13:55] #36541 closed

[2018-12-17 14:07] bittusarkar opened #36711 "index.mapper.dynamic=false not respected in Elasticsearch 6.x"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.5.3

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_72

**OS version** (`uname -a` if on a Unix-like system): Windows 10

**Description of the problem including expected versus actual behavior**:
Setting the value of index setting `"index.mapper.dynamic"` to `false` does not work in Elasticsearch 6.x.

**Steps to rep

[2018-12-17 14:13] clandry94 opened #36712 "Indices stats API should provide external refresh stats"
**Describe the feature**:

Currently, refresh stats are contained at the index level are an average of all shard refreshes within that index and exposed through the `_stats` api. Likewise, individual shards do collect refresh statistics, but only for `INTERNAL` refresh events and these statistics are not publicly accessible through the rest API.

I'm proposing the following two features to be adde

[2018-12-17 14:31] NikolaDai opened #36713 "Issues about BulkProcessor with JAVA High Level Client"
i was trying to use bulkprocessor with java high level client. I copied the demo code in [https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/java-rest-high-document-bulk.html ](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/java-rest-high-document-bulk.html ).However, it tells that it can't work and shows that there is no request added to bulkrequest.  t

[2018-12-17 14:33] svola opened #36715 "[Docs] Explanation for the simple analyzer in the completion suggester as default seems outdated"
The documentation of the available mapping parameter for the type `completion` contains an outdated explanation.
By reading this explanation a user could be mislead into thinking that the `standard` analyzer still uses the `_english_` stopword list by default.

https://github.com/elastic/elasticsearch/blob/6.5/docs/reference/search/suggesters/completion-suggest.asciidoc#mapping

[code]

It looks l

[2018-12-17 14:33] elasticmachine commented on #36715
Pinging @elastic/es-search

[2018-12-17 15:18] ypid-geberit opened #36719 "Support to exclude (big) query results from .watcher-history"
**Describe the feature**:

When running my [aggregated_issues_in_logs watch](https://github.com/elastic/examples/pull/240) over a large number of documents the watch finds and aggregates a large number of documents that are then indexed into a new index in ES. The issues is that the whole watch run with all results is written to `.watcher-history-*` as one document. This results in very big docume

[2018-12-17 15:21] pgomulka commented on #29080
The problem seems to be occurring again

does not reproduce for me though
[code]

[code]

[2018-12-17 15:34] cbuescher commented on #36715
@svola I think it makes sense to simply remove the explanation. Would that make sense? We still use "simple" as the default, but I don't think going into the details and explaining the historical reason for this choice makes sense. I opened #36720 to simply remove.

[2018-12-17 15:46] ycombinator commented on #32850
Now that we have a Logging UI in Kibana, we were hoping to show ES deprecation (and potentially other types of) logs in the UI. The user would discover said logs via the Monitoring UI, filtered down to the context they are in: a cluster, a node within a cluster, etc. In order for this to work correctly, item 2 in the checklist above needs to be implemented:

Any chance this specific item could be

[2018-12-17 15:55] jasontedor commented on #32850
We have been meaning to follow-up on this requirement, because as written we can’t meet it. We need to understand more how important and how strong this requirement is. It is simply not possible include the node ID and cluster ID on every log line. We emit log lines before these data are available.

[2018-12-17 16:00] ycombinator commented on #32850
Is this true for all types of logs? For example, would it be possible to emit the node ID and cluster ID on every log line for deprecation logs?

Are there any guarantees about when the data becomes available or, conversely, what types of log messages might not have this data in them since it's not available yet?

[2018-12-17 16:01] elasticmachine commented on #36704
Pinging @elastic/es-search

[2018-12-17 16:02] pgomulka commented on #32506
seems like this happened again:
https://mail.google.com/mail/u/1/#search/build-elasticsearch%40elastic.co/FMfcgxwBTjvMmrGnFCTxMhzjZhTCmRJK

[code]

[2018-12-17 16:07] svola commented on #36715
Thanks @cbuescher!
Yes, I guess removing the explanation would be the easiest for now.

The key message of the explanation is interesting though.
We could add a note later about the effect of a stopword filter in a completion context with a new example.
That might be relevant for users who want to choose another analyzer.

[2018-12-17 16:20] pgomulka commented on #36695
@costin can we also backport this to 6.x?

it just occured on 6.x intake
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/651/console

[code]

[2018-12-17 16:23] albertzaharovits commented on #36711
@bittusarkar this setting has been removed in https://github.com/elastic/elasticsearch/pull/25734 . See https://www.elastic.co/guide/en/elasticsearch/reference/6.x/removal-of-types.html#_schedule_for_removal_of_mapping_types for the plan. I think this explains the behavior you're seeing, the only type the index will have is named "test_mapping" . Trying to add another type will make ES complain:
[

[2018-12-17 16:23] #36711 closed

[2018-12-17 16:24] bleskes commented on #29080
I think this one is mine. Looking.

[2018-12-17 16:30] astefan commented on #36695
@pgomulka I'll do it

[2018-12-17 16:31] bittusarkar commented on #36711
@albertzaharovits See my comment above. I would understand the setting is useless if the only configuration possible was an index having a single mapping. But that is not true. An index can also have **zero** mapping as I have shown above. As long as a zero mapping index configuration is allowed, having this setting makes sense.

[2018-12-17 16:32] jpountz opened #36723 "Rename feature_vector to feature_map?"
With the new vector field (#33022), there is concern that users are going to be confused with `dense_vector`/`sparse_vector` on the one hand and `feature_vector` on the other hand, which share similar names even though they have nothing in common.

In the search meeting, we discussed renaming `feature_vector` to `feature_map` instead, which still nicely conveys the information that this is a multi

[2018-12-17 16:32] elasticmachine commented on #36723
Pinging @elastic/es-search

[2018-12-17 16:34] albertzaharovits commented on #36711
@bittusarkar are you complaining that you can add the mapping to an index after it has been created?

Some might consider this a feature, but you're politely invited to open a new issue and state your case for how this behavior is causing unexpected behavior.

[2018-12-17 16:38] elasticmachine commented on #36712
Pinging @elastic/es-distributed

[2018-12-17 16:42] DaveCTurner commented on #36556
Chalking this failure up to some more widespread issues that CI was having that day with tests pausing and hitting timeouts, so there's no more action to take here.

[2018-12-17 16:42] pgomulka opened #36725 "[CI] unable to download dependencies from maven repo"
A build failed due to not being able to download dependencies
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/654/

this does not reproduce for me as I can download that dependency locally

[code]

[2018-12-17 16:42] elasticmachine commented on #36725
Pinging @elastic/es-core-infra

[2018-12-17 16:44] bittusarkar commented on #36711
I understand why the setting is removed. To make this deprecation air tight, I am proposing the index creation logic should fail if mapping is not provided. This setting disallows creation of mapping **automatically**. Now, say I create an index with no mapping. Then due to some bug, a mapping gets created automatically (this has happened to us in the past). Then when I actually try to create the

[2018-12-17 16:49] astefan commented on #36695
Done. With https://github.com/elastic/elasticsearch/commit/07b469e8ec0fe2cb7e79be2488462f45867546d4

[2018-12-17 16:49] #36695 closed

[2018-12-17 16:54] albertzaharovits commented on #36713
@NikolaDai Can you please share the code that is not working as expected? I find it hard to follow if you're using the bulk processor or the bulk request.

[2018-12-17 16:55] elasticmachine commented on #36713
Pinging @elastic/es-core-features

[2018-12-17 16:58] bhavyarm opened #36726 "java.lang.IllegalStateException: parser for [_doc] did not end on END_OBJECT on rollups"
**Elasticsearch version** (`bin/elasticsearch --version`): alpha2

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**: ES logs display this error stack on rollups in alpha2
and on Kibana logs: https://github.com/elastic/kibana/issues/27314

[code]

cc @polyfractal

[2018-12-17 16:58] #36039 closed

[2018-12-17 16:58] #36584 closed

[2018-12-17 17:01] jaymode opened #36727 "TokenService should not need to index BWC invalidations in 7.0"
The `TokenService` class has code to deal with backwards compatibility with older versions in 6.x and 5.6 regarding how we invalidated tokens. Tokens were not stored until some point in 6.x and would only exist in the index if they were invalidated; in later versions all tokens are stored so the logic for invalidation has two different branches.

For 7.0, we can remove this backwards compatibility

[2018-12-17 17:01] elasticmachine commented on #36727
Pinging @elastic/es-security

[2018-12-17 17:11] elasticmachine commented on #36726
Pinging @elastic/es-analytics-geo

[2018-12-17 17:13] bleskes commented on #29080
so it turns this broke with https://github.com/elastic/elasticsearch/pull/36597 . It reproduces fairly easily. I'll reach out to discuss with @javanna

[2018-12-17 17:16] raulk89 opened #36729 "Shrink operation error message text "must be a" is doubled."
**Elasticsearch version** (`bin/elasticsearch --version`): 6.5.3

**Plugins installed**: [ingest-attachment]

**JVM version** (`java -version`): 1.8.0_191

**OS version** (`uname -a` if on a Unix-like system): 3.10.0-957.1.3.el7.x86_64

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the pro

[2018-12-17 17:18] original-brownbear commented on #32506
Link for the above https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/221/

I'm not sure this is the same issue that lead to the initial problem. The failure now happens in a busy polling section of the test. I'll look into this.

[2018-12-17 17:38] DaveCTurner commented on #36712
@clandry94 could you clarify how the change to the stats API differs from the statistics returned by `GET /my_index/_stats/refresh?level=shards`? I don't think we should return shard-level statistics without `?level=shards` enabled, but if that is enabled we already seem to return what you propose.

(I'm ok with adding more stats to distinguish the two kinds of refresh as you describe, but that do

[2018-12-17 17:40] albertzaharovits commented on #36719
@ypid-geberit I think this fits better in the Kibana realm. I am thinking of a way of interpreting the contents of the watch metadata, where you would store the path filtering. This sounds kludgy, but maybe they have a better idea. Can you please open a feature request there https://github.com/elastic/kibana ? I am going to close this.

[2018-12-17 17:40] #36719 closed

[2018-12-17 17:41] elasticmachine commented on #36719
Pinging @elastic/es-core-features

[2018-12-17 17:42] jasontedor commented on #32850
Yes, it *could* be true for the deprecation log too. Also, it would be that we are considering combining all the log files into a single log file for all instances, not only for the Docker images.

There aren't guarantees per se. They can be categorized as *all* startup log messages up to the point that we recover node state would not have the node ID, and *all* startup log messages up to the poin

[2018-12-17 17:57] DaveCTurner opened #36732 "AssertionError in InternalEngine.canOptimizeAddDocument()"
NB this failure was on 5.6.

Assertion error stack trace:

[code]

Full log from the test here: [fail.txt.gz](https://github.com/elastic/elasticsearch/files/2687266/fail.txt.gz)

Internal CI run: https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+5.6+multijob-windows-compatibility/508/consoleText

[2018-12-17 17:57] elasticmachine commented on #36732
Pinging @elastic/es-distributed

[2018-12-17 18:00] gwbrown commented on #36514
@spinscale confirmed that no upgrades are needed for Watcher, and @tvernum confirmed that no upgrades are needed for Security.  The only thing left to do on this is remove any upgrade code that may still be hanging around to make sure it won't break anything if the Upgrade API is used.

[2018-12-17 18:00] DaveCTurner commented on #35052
@jdconrad thanks for the ping. That failure is not the same issue, although 5.6 looks susceptible to this specific issue and you are right that the fix is not backported that far (indeed, #35136 wouldn't work in 5.6). I opened #36732 for the failure that you linked.

[2018-12-17 18:10] danielkasen commented on #31689
This leads to Force merging down to 1 segment everytime. So even if I say force merge to 20 it'll do the large operation and try to shrink it to 1.

[2018-12-17 18:24] #35658 closed

[2018-12-17 18:36] jakelandis commented on #36545
Discussed this issue in person today.

The issues isn't specific to the Date Index Name processor, rather any processor that can change the location of `_index`. Below is an alternative reproduction:
[code]
^ Note that both foo and bar indices are created.

https://github.com/elastic/elasticsearch/pull/32786 is correctly identified as the change which introduces this issue. That change was made to

[2018-12-17 20:10] #36151 closed

[2018-12-17 20:21] #29080 closed

[2018-12-17 20:22] javanna commented on #29080
thanks for the ping @bleskes . I am going to open a PR also for the issue that was causing these failures to not repeat with the same seed.

[2018-12-17 20:35] elasticmachine commented on #33275
Pinging @elastic/es-core-features

[2018-12-17 21:36] original-brownbear commented on #32506
Added debug logging for this test in https://github.com/elastic/elasticsearch/commit/75bfbe92eec7ee69e3cc3bfccaa39fbc78489e00, I couldn't even reproduce a single failing assertion inside the busy assert that fails now. Maybe we can learn more from the log.

[2018-12-17 21:50] elasticmachine commented on #32041
Pinging @elastic/es-core-features

[2018-12-17 21:59] astefan opened #36740 "SQL: extend "client_id" supported values list with odbc platform specific 32/64bit values"
The metrics we track at the moment need to be extended to include odbc 32/64bit specific options. Ideally, this should also include the Windows version hosting the odbc driver.

[2018-12-17 21:59] elasticmachine commented on #36740
Pinging @elastic/es-search

[2018-12-17 22:21] fbaligand commented on #36669
For full text fields, this is sufficient for most needs. Then there some times where you just want content without any structure around (json, smile or cbor).
A good example is X-Pack reporting in Kibana: when you download CSV file  from a report, you get it from an elasticsearch document.
In that particular case, we just need to get csv content, without json structure around. And as Csv could be

[2018-12-17 22:42] #36729 closed

[2018-12-17 22:54] polyfractal commented on #36726
Hmm, I can't reproduce this.  Tried with an entirely empty node, and with the various kibana sample data installed.  Just see empty responses:

![image](https://user-images.githubusercontent.com/1224228/50120714-7bc38480-0224-11e9-97ca-c84621dc2d5f.png)

Is there anything special that needs to be done to recreate it?  What indices are in the cluster?

[2018-12-17 22:55] jasontedor commented on #36729
Thanks for the report @raulk89.

[2018-12-17 23:06] jkakavas opened #36744 "[CI] Time-outs in MixedClusterClientYamlTestSuiteIT"
First noticed in a PR run (https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request+default-distro/1638/ , https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-1/2629/ ) but it also reproduces locally on master ( 384757deffb1bd88781c2d5c3459ca25f15792a3 ) .

Example reproduction

[code]
<details>
<summary>Click for example output:</Summary>

[code]

</detail

[2018-12-17 23:06] elasticmachine commented on #36744
Pinging @elastic/es-distributed

[2018-12-17 23:13] DaveCTurner commented on #36744
The issue is that the two 7.0 nodes die with the following:

[code]

Since it's a 4-node cluster, if two of them fail then the other two can't carry on.

[2018-12-17 23:15] jakelandis opened #36745 "ingest: bulk scripted_upsert runs the script after the pipeline"
https://github.com/elastic/elasticsearch/pull/36618 allows a default pipeline to be used with bulk upserts. However, there behavior of a bulk scripted_upsert with a default pipeline has some surprising behavior.

Given an index with a default pipeline:
[code]
Performing a non-bulk upsert works as expected:
[code]
results in :
[code]
The script evaluated, then the ingest pipeline ran normally. This

[2018-12-17 23:31] jakelandis opened #36746 "ingest: upsert with drop processor returns error"
If performing an upsert with a default pipeline, and that default pipeline drops the document, an error will be returned to the client.

This is a minor bug since the end result is the same, the document is not indexed. However, it can pollute error logs, cause confusion, and have a minor performance penalty due to the exception and logging.

Both normal upsert and bulk upsert will error, but with

[2018-12-17 23:32] elasticmachine commented on #36745
Pinging @elastic/es-core-features

[2018-12-17 23:33] elasticmachine commented on #36746
Pinging @elastic/es-core-features

[2018-12-18 01:55] SivagurunathanV commented on #36322
I would like to work on this issue if @govi20 is not working on it.

[2018-12-18 02:56] dnhatn commented on #36470
This test still fails on the master branch. Some instances:
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/224/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/821/console

[2018-12-18 03:03] jasontedor commented on #36744
We tracked down the commit that led to this and reverted the change.

[2018-12-18 03:03] #36744 closed

[2018-12-18 03:20] polyfractal commented on #36322
Looks like someone just sent a PR for this (#36748)

If you're still interested in contributing, you can generally just leave a note that says "I'm going to start working on this" then raise a PR when you are ready.  No need to get approval first.

Thanks for helping out!  We have more `"help wanted"` and `"good first issue"` tickets if you want to look around for other bugs that need fixing :)

[2018-12-18 03:46] polyfractal opened #36752 "Specialize ValueCountAggregator depending on type of ValuesSource"
The `value_count` aggregation uses the [`bytesValue()`](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/search/aggregations/metrics/ValueCountAggregator.java#L69) of its `ValuesSource`.  This is simple/convenient since all the different types implement it, and ValueCount doesn't need to specify what kind of ValuesSource it expects.

But the downside is t

[2018-12-18 03:46] elasticmachine commented on #36752
Pinging @elastic/es-analytics-geo

[2018-12-18 08:04] ypid-geberit commented on #36719
@albertzaharovits I still think this should be implemented in Elasticsearch. I also had this idea of using a metadata field to specify path filtering, example:

[code]

(Yes, YAML is awesome, also for watch definitions. Ref: https://github.com/elastic/examples/pull/239)

But this has the issue that metadata is now evaluated as setting so I would instead propose:

[code]

What do you have in mind t

[2018-12-18 08:05] #35115 closed

[2018-12-18 09:11] #36177 closed

[2018-12-18 09:16] ywelsch commented on #36732
I think this is caused by the fact that index requests are mutable in 5.x (this was fixed by https://github.com/elastic/elasticsearch/pull/23038 in 6.0). What's happening is that an IndexRequest that was just indexed into the primary is mutated for replication, but if we then bubble up to the ReroutePhase (on same node) because of retry, we will be sending the mutated request to another primary, w

[2018-12-18 10:18] astefan opened #36756 "SQL: have the drivers (JDBC/ODBC) respond with ISO8601 formatted dates"
The SQL protocol, as it stands now, makes a difference between the drivers' responses and REST/CLI responses when it comes to date fields: for JDBC/ODBC these are returned as millis since epoch, while for the rest of request types they are returned as ISO8601 formatted Strings.
We should return ISO8601 formatted String for the drivers, as well.

[2018-12-18 10:18] elasticmachine commented on #36756
Pinging @elastic/es-search

[2018-12-18 10:49] spinscale opened #36759 "[CI] Two integration tests fail with timeout"
The test run in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/125/console has two integration test failures, in one of them a node waits 30 second a delete-index response that does not happen and in the other a index creation response is not acked.

Maybe there is more in the logs that I am

[2018-12-18 10:49] elasticmachine commented on #36759
Pinging @elastic/es-distributed

[2018-12-18 10:57] costin commented on #36535
The issue was closed by an typo in the commit logs.

[2018-12-18 10:58] costin commented on #36536
Closed by 59d2525 and b376edf

[2018-12-18 10:58] #36536 closed

[2018-12-18 10:59] spinscale commented on #36526
another one https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8fips,nodes=virtual&&linux/125/console - so just waiting for the PR to be merged

[2018-12-18 11:11] dimitris-athanasiou opened #36760 "[CI][ML] MlDistributedFailureIT.testLoseDedicatedMasterNode randomly fails on feature-jindex-master branch"
This test has been observed to fail occasionally in the `feature-jindex-master` branch. I have not yet managed to reproduce locally. I will shortly be muting the test as we need a green build to merge the branch in master. However, I am raising the issue to ensure we get to the bottom of this failure.

Link to failure (one of them): https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pul

[2018-12-18 11:11] elasticmachine commented on #36760
Pinging @elastic/ml-core

[2018-12-18 11:15] spinscale opened #36761 "[CI] AutoFollowIT.testAutoFollowManyIndices test failure"
Could not reproduce this under Linux or osx. Link https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=oraclelinux/125/console

log snippet

[code]

reproduction

[code]

Link to the plain text logfile is at https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=oraclelinux/125/consoleText

[2018-12-18 11:42] matriv opened #36762 "SQL: Revisit implementation CircuitBreaker for SqlParser"
Currently due to the grammar and our code in ExpressionBuilder where we interfere with the normal tree parsing, the rules encountered in enterRule might differ from the ones in exitRule: https://github.com/elastic/elasticsearch/pull/36724/files#diff-9709264912992f90602393db60d52df2R234

Ideally if the same number of rules are encountered in enter-exit we could use a global counter to track the dep

[2018-12-18 11:42] elasticmachine commented on #36762
Pinging @elastic/es-search

[2018-12-18 11:51] astefan commented on #36740
master (7.0.0): https://github.com/elastic/elasticsearch/commit/4bc9bffb4d50d0e8b1a8070cf57ff429fbf013fa
6.x (6.6.0): https://github.com/elastic/elasticsearch/commit/50c5d98eaffca5bd114ef268342bd8aaf0a9d2a1

[2018-12-18 11:51] #36740 closed

[2018-12-18 11:54] Razi007 commented on #36322
can we still work on  issue or raise PR if there is already a PR raised.

[2018-12-18 12:30] polyfractal commented on #36322
I would avoid working on issues that have an active PR.  Sometimes a PR might go dormant (contributor gets busy and abandons the PR, technical issues make it close, etc), in which case we'll close the PR and can be worked on again.

But if the PR is active and being worked on, it's probably best to choose a different issue to work on.

[2018-12-18 12:33] martijnvg opened #36764 "[CI] Uncaught exception between ccr tests due to missing remote cluster alias"
Between tests the remote connections get removed, because tests are not supposed to leave cluster settings around. Sometimes a shard follow tasks maybe not have stopped yet and as part of executing the last shard changes api call; it fails because a remote cluster alias is missing and currently this error is not handled and ends up not being caught at all. This is a problem for most of the interna

[2018-12-18 12:33] elasticmachine commented on #36764
Pinging @elastic/es-distributed

[2018-12-18 13:07] spinscale opened #36768 "[CI] Cannot connect to gradle daemon within 120s"
See https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/126/console

There is a connection issue with the gradle daemon. The message already states that this can happen when the system is extremely slow, but 120 seconds is also quite the timeout. I have searched across former logs and builds and could not find anything like that - so if it is a fluke,

[2018-12-18 13:07] elasticmachine commented on #36768
Pinging @elastic/es-core-infra

[2018-12-18 13:19] ycombinator commented on #32850
Thanks Jason. Roughly how many log entries are we talking about without cluster UUID or node ID? The reason I ask is: thinking a bit out of the box, would it be silly to re-emit those messages with the IDs in them, once the IDs become available? Just want to consider all possibilities before we say it's okay to "drop" certain messages that don't have IDs.

[2018-12-18 13:20] #34741 closed

[2018-12-18 13:20] jasontedor commented on #32850
I can not bound it because we can always add more in the future, and if debug or trace logging is enabled (or even only for certain components) it can be quite a lot of log messages.

[2018-12-18 13:22] spinscale opened #36769 "[CI] TranslogWriter assertion failed: `seqNo was processed twice`"
See https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/827/console

The `:qa:smoke-test-multinode:integTestRunner` task failed while running, non reproducibly (neither Linux nor osx). However the following was in the logs, and I think that might be the trigger for some followup problems

[code]

Plain text log file is at https://elasticsearch-ci.elastic.co/job/elastic+elas

[2018-12-18 13:22] elasticmachine commented on #36769
Pinging @elastic/es-distributed

[2018-12-18 13:50] javanna commented on #36713
hi @NikolaDai please can you ask your question in our forums at https://discuss.elastic.co/ ? We reserve github issues for verified bugs or feature requests.

[2018-12-18 13:50] #36713 closed

[2018-12-18 13:53] ycombinator commented on #32850
In that case, I'm in favor of doing a best effort here. That is, I'm in favor of ES  including the cluster UUID and node ID on every log line as and when that information becomes available.

It would be an improvement over what we can do today in the UI with the logs in terms of correlating them with other information about the node or cluster. And we'd still have the un-correlatable logs (but few

[2018-12-18 13:58] Aezo opened #36771 "Common Grams filter should have configuration option"
**Describe the feature**: [Common grams token filter](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/analysis-common-grams-tokenfilter.html) should have a configuration option to specify whether the words should be combined with left token or right token or both tokens. And query_mode, if true, will then only remove the joined tokens and not touch the other tokens.

The configuration

[2018-12-18 14:10] elasticmachine commented on #36771
Pinging @elastic/es-search

[2018-12-18 14:17] droberts195 commented on #30006
One argument _against_ changing the way we do this today is that it's really useful to have the persistent task with `failed` status in the cluster state in support diags as it means we can see which node a job was running on at the time it failed.

I think we should leave things as they are until there's an alternative way to achieve this.

[2018-12-18 14:22] #34858 closed

[2018-12-18 14:37] markharwood commented on #35523
Closing as not a bug - GeoUtils is not considered part of the Java client API and a workaround was offered in https://github.com/elastic/elasticsearch/issues/35523#issuecomment-438724490

[2018-12-18 14:37] #35523 closed

[2018-12-18 14:40] johnskopis opened #36773 "completionStats are slow"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.5.2

**Plugins installed**: []
elasticsearch-prometheus-exporter

**JVM version** (`java -version`):
default docker version

**OS version** (`uname -a` if on a Unix-like system):
default docker version

**Description of the problem including expected versus actual behavior**:
Occasionally we see the cluster turn red. Looking at a thread

[2018-12-18 14:46] polyfractal commented on #22914
Discussed in A&G meeting, we're going to bump the deprecation to 7.0+ and remove fully in 8.0.  It's not a huge burden to maintain, and at this point the deprecation warning in 6.6+ wouldn't give users enough time to migrate.

We'll find some owners for the existing PRs and get them moving again.

[2018-12-18 14:49] jkakavas commented on #36773
Hi @johnskopis !

Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

 Also please make sure  that the gist URL you include is vali

[2018-12-18 14:49] #36773 closed

[2018-12-18 15:01] iverase commented on #28875
We discuss this issue today and we don't think doing the substring on the geohash as part of the aggregation code will bring significant improvement in respect of doing it with a script.
If you are not willing to pay that price at query time, then you need to index your geohash at different levels of precision and you pay the price at index time.

[2018-12-18 15:01] #28875 closed

[2018-12-18 15:07] #36592 closed

[2018-12-18 15:20] walterra commented on #36726
I was able to reproduce this issue in the following way:

[code]

Then `GET doc-issue/_xpack/rollup/data` results in:

[code]

If I recreate the same index without the `_meta` field the error doesn't occur.

[2018-12-18 15:23] jakelandis commented on #35356
Should add some documentation to https://www.elastic.co/guide/en/elasticsearch/reference/6.x/_updates_to_executing_policies.html

[2018-12-18 15:25] spinscale opened #36779 "[CI] SnapshotDisruptionIT. testDisruptionOnSnapshotInitialization fails unreproducibly"
See https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/837/console

Ran this with hundred iterations on Linux and once on osx, does not reproduce. Reproduction line is

[code]

I saw another test failure in the last days. Log excerpt

[code]

Direct log https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/837/consoleText

[2018-12-18 15:26] albertzaharovits opened #36780 "Include `Forwarded*` proxy request headers in the audit log"
#36427 added support for the `X-Forwarded-For` header.
Even though this is the defacto header that proxies use to indicate the source address while relaying, a newish standard, https://tools.ietf.org/html/rfc7239, defines a more rich and complex way to indicate the same information (and some other more). The interplay between these alternatives might prove gnarly.

[2018-12-18 15:33] spinscale opened #36782 "[CI] Watcher SingleNodeTests failed due to running threads"
See https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/376/console

the logfile is pretty clobbered as two exceptions are written at the same time, this is the first one

[code]

this is the second one containing jstack output

[code]

Looks as if there is a problem with closing the bulk processor used in the history store and in the triggered watch store when shutting down

[2018-12-18 15:33] elasticmachine commented on #36782
Pinging @elastic/es-core-features

[2018-12-18 15:39] davidkyle commented on #34864
The search size has been bumped to 10,000 and the `index.max_result_window` setting explicitly set to 10,000 in the template and when created by the migrator. This prevents the case where a search errors if the size is above `index.max_result_window`.

Leaving this issue open as scan and scroll or pagination may be preferred in 7

[2018-12-18 15:41] spinscale opened #36783 "[CI] IndexShard.assertPrimaryMode failed in test run"
See https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/376/console

Was unable to reproduce this.

Even though some security tests are failing, the repeating error message in here looks like an allocation to me (please change owners if I am wrong here) - also I assigned distributed/distributed here, not sure if Allocation or Engine would be the right label.

[code]

http

[2018-12-18 15:41] elasticmachine commented on #36783
Pinging @elastic/es-distributed

[2018-12-18 15:42] polyfractal commented on #36726
Thanks @walterra, that let me find the issue.  Rollup's parser half-consumes the JSON but doesn't finish because it is a non-rollup meta field.  But the parsing framework throws an exception when the full JSON isn't consumed, which is causing the issue.

Will work on a fix.

[2018-12-18 15:47] DaveCTurner opened #36785 "Positional vs named parameters"
Today we leniently accept named parameters in place of positional ones in some REST APIs. For instance:

https://github.com/elastic/elasticsearch/blob/99f88f15c5febbca2d13b5b5fda27b844153bf1a/server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestClusterStatsAction.java#L35-L36

The right way™ to get the cluster stats restricted to a subset of the nodes is

[code]

However, the follo

[2018-12-18 15:47] elasticmachine commented on #36785
Pinging @elastic/es-core-infra

[2018-12-18 15:52] spinscale commented on #33852
another failure waiting on the latch at https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/838/console

[2018-12-18 15:57] dimitris-athanasiou commented on #34864
I think we might have to revisit the limit before `6.6` goes out and consider setting it even higher but it shouldn't be a blocker for feature freeze. I'll raise a task in the meta issue to make sure we remember.

[2018-12-18 17:10] johnskopis commented on #36773
https://gist.github.com/johnskopis/bb3012a42f2b56304cc31d2861b6bfe0 is the correct link. that's copypasta fail

[2018-12-18 17:15] spinscale opened #36788 "[CI] CoordinatorTests.testAppliesNoMasterBlockWritesByDefault fails reproducibly"
This failure is reproducible on my Linux machine. See https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8fips,nodes=virtual&&linux/126/console

[code]

[2018-12-18 17:15] elasticmachine commented on #36788
Pinging @elastic/es-distributed

[2018-12-18 17:16] johnskopis commented on #36773
Also, concurrent requests for index stats causing the cluster to go RED seems like a bug. I can open on the forums but I expect you can reproduce by having a large/busy cluster and requesting indexstats as highlighted in thread dump...

[2018-12-18 17:22] johnskopis commented on #36773
https://discuss.elastic.co/t/concurrent-indices-stats-requests-cause-cluster-to-go-red/161385

[2018-12-18 17:32] spinscale opened #36789 "[CI] ClusterDisruptionIT.testAckedIndexing fails with global checkpoints sync mismatch"
Even though there is [another issue](https://github.com/elastic/elasticsearch/issues/36042) where this exact test fails, I think this is a new one, as the assertion is thrown in `ESIntegTestCase.cleanUpCluster()`  - so not sure if related. This did not reproduce locally for me even after a hundred test runs.

Build at https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/678/con

[2018-12-18 17:32] elasticmachine commented on #36789
Pinging @elastic/es-distributed

[2018-12-18 18:18] lgiang24 opened #36795 "[Elasticsearch Docs] Add Windows example/syntax in docs where PEM certs are referenced"
**Use Case**:  When following instructions on Elasticsearch documents to set up PEM certificates, the examples provided on the documents don't work for those on Windows environment.

For example - using below document link:
https://www.elastic.co/guide/en/elasticsearch/reference/current/configuring-tls.html

Currently, there is an example from elasticsearch.yml that states how to reference the PEM

[2018-12-18 18:31] amrm commented on #36592
@matriv thanks for the quick response

[2018-12-18 19:21] jpountz commented on #27588
Proposals 1 and 2 look very similar, only the name of the query is changing?

I'm afraid this might make the API harder to use compared to 0 as you would likely need to check every input score against -1 eg. if you want to sum up scores?

If something like in-order is a popular ask, we might want to implement it as a proper query instead, which could then leverage upcoming optimizations to skip do

[2018-12-18 19:53] imotov commented on #23670
So, just to see the impact of #36751 I indexed the same shape that was crashing the shard after 1h+ of the indexing time and it took 0.016 sec. I then modified the script in the original issue that was failing halfway after 4.5 hours of indexing and it took about 1 sec. I also ran the server with 1G instead of 16G that were required before.

[2018-12-18 20:06] lcawl opened #36797 "[DOCS] Clean up ILM attributes"
The https://raw.githubusercontent.com/elastic/elasticsearch/master/docs/reference/ilm/index.asciidoc file currently defines the following attributes:

:ilm:             index lifecycle management
:Ilm:             Index lifecycle management
:ILM:             ILM

All of those are considered to be the same value by the doc build, however, so all of them are output as the last definition in this lis

[2018-12-18 20:06] elasticmachine commented on #36797
Pinging @elastic/es-core-features

[2018-12-18 20:19] costin opened #36798 "SQL: Prevent incompatible filtering"
The verifier should prevent WHERE clause to contain aggregate or grouping functions. Currently this check is not in place causing incorrect queries to be processed.

[2018-12-18 20:19] elasticmachine commented on #36798
Pinging @elastic/es-search

[2018-12-18 21:15] clandry94 commented on #36712
Hey @DaveCTurner. I wasn't aware of the `level` flag or that the scope of stats could be restricted to the shards. Thank you for that info. Are these refresh statistics for shards internal or external refreshes?

[2018-12-18 21:35] #36726 closed

[2018-12-18 22:22] original-brownbear commented on #36779
Fixed incoming in  #36801 I think :)

[2018-12-18 23:17] markw commented on #12358
Is this a feature that's available in a recent release?  We were trying to figure out how to do the same thing.

[2018-12-19 00:20] imotov commented on #23670
Opened [LUCENE-8614](https://issues.apache.org/jira/browse/LUCENE-8614)

[2018-12-19 00:52] talevy commented on #36605
Closed by https://github.com/elastic/stack-docs/pull/172 and https://github.com/elastic/elasticsearch/pull/36749

[2018-12-19 00:52] #36605 closed

[2018-12-19 00:56] lcawl commented on #36797
Added ilm attributes in https://github.com/elastic/docs/blob/master/shared/attributes.asciidoc

[2018-12-19 01:33] Grief commented on #10551
@hagna I was able to fix the issue with the instruction from https://thesecuritystoic.com/2017/08/home-security-iii-elk-on-a-raspberry-pi/ (slightly modified for my device):

[code]
And it finishes the configuration:

[code]

[2018-12-19 01:52] tvernum commented on #36760
This just failed on `6.x` as well, with a matching stack trace. Doesn't reproduce.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/696/consoleFull
[code]

[code]

[2018-12-19 02:14] tvernum opened #36810 "[CI] Failures on 6.x for 60_ml_config_migration/Test old cluster jobs and datafeeds and delete them"
This has failed at least twice since #36698 was merged to 6.x

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/693/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=virtual&&linux/127/console

[code]

[code]

I get failures locally as well but they have a different assertion fail

[2018-12-19 02:15] elasticmachine commented on #36810
Pinging @elastic/ml-core

[2018-12-19 02:15] tvernum commented on #36810
@davidkyle I assigned this to you since it seems to have come from #36698.
Please reassign if I got that wrong.

[2018-12-19 02:19] jtibshirani opened #36811 "Typeless index call can fail against an index with a custom type."
Using the typeless index APIs can result in an error when the index contains a custom type name that is not `_doc`. The issue seems to arise when the index call introduces a mapping update.

The following gist demonstrates the problem: https://gist.github.com/jtibshirani/0929faf60bd78c794aeb01cc08d04c73.

The same issue also applies to typeless document update calls.

[2018-12-19 02:19] elasticmachine commented on #36811
Pinging @elastic/es-search

[2018-12-19 02:32] jtibshirani commented on #36811
@jpountz would you be able to look at this issue, as a continuation of #35790?

[2018-12-19 02:36] danielkasen opened #36812 "Change installation GPG cert"
When trying to install the GPG key from packages.elastic.co I receive an invalid cert error. Was this changed recently?

`The exception msg was: hostname 'packages.elastic.co' doesn't match 'e.sni.fastly.net'."`

[2018-12-19 02:49] danielkasen commented on #36812
interesting, looks like we had the old path for quite some time:

wrong => https://packages.elastic.co/GPG-KEY-elasticsearch
right => https://artifacts.elastic.co/GPG-KEY-elasticsearch

[2018-12-19 02:49] #36812 closed

[2018-12-19 03:38] tvernum opened #36813 "[CI] Failure in org.elasticsearch.indices.state.RareClusterStateIT.testDelayedMappingPropagationOnReplica"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/379/

Does not reproduce
[code]
[code]

Previous email threads suggest there's a connection to https://github.com/elastic/elasticsearch/issues/33673

[2018-12-19 03:38] elasticmachine commented on #36813
Pinging @elastic/es-distributed

[2018-12-19 04:25] tvernum opened #36815 "[CI] AutoFollowIT.testCleanFollowedLeaderIndexUUIDs failure to get remote license"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/127/

Doesn't reproduce
[code]

[code]

I wonder if this could be the same root cause as #36764?

[2018-12-19 04:38] chenhongen commented on #27014
Solution is ?

[2018-12-19 04:41] poige commented on #15582
@mikemccand do you drive car? How about wearing helmet while driving? You know I've seen a couple of cases recently where wearing helmets while driving cars could have saved lives.

When you people would realise that all your "couple cases" stuff is absolute nonsense. Haven't heard about [survivorship bias](https://en.wikipedia.org/wiki/Survivorship_bias)? There're bicycles for kids and adults, th

[2018-12-19 05:41] tvernum opened #36816 "[CI] FullClusterRestartIT.testSnapshotRestore breaks other tests by wiping out persistent tasks"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/867/console

Reproduces for me with a variety of seeds.
[code]

[code]

I'm going to mute the test.

[2018-12-19 05:41] elasticmachine commented on #36816
Pinging @elastic/ml-core

[2018-12-19 05:54] atorok commented on #36768
I think I saw this  with Gradle once or twice before (in my lifetime, not in CI), but there's nothing in the gradle issues either, supposedly because it doesn't reproduce.
It's good to have a trace for it, so thanks for reporting, but I propose we close this and reopen if it happens again, and then we can spend the time  to dig into it and try to reproduce it.

[2018-12-19 06:04] tvernum commented on #36816
Muted in 06b175d

[2018-12-19 06:14] tvernum commented on #36782
Also on `master`
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=zulu8,nodes=virtual&&linux/127/console

This one also caused an additional test failure, but I think they're related:
[code]

[2018-12-19 06:39] #36526 closed

[2018-12-19 08:47] dimitris-athanasiou commented on #36760
I have made progress digging into this and I now have a theory. I won't share before getting a bit more certain though :-) I'm glad it also happened in `6.x` as I couldn't explain why it hadn't. Note it does reproduce locally if run many many times: approximately 1/100 runs.

[2018-12-19 08:48] matriv commented on #36161
The Issue has been fixed in https://github.com/elastic/elasticsearch/issues/36039

[2018-12-19 08:48] #36161 closed

[2018-12-19 09:10] dimitris-athanasiou commented on #36760
I have also muted this in `6.x`.

[2018-12-19 09:12] DaveCTurner commented on #36547
This is a bit of a puzzle. Pertinent log messages:

[code]

We remove the network disruption. A couple of seconds later some health checks time out, disrupting the cluster. It recovers but with a different master. The timed-out health checks come through eventually.

[2018-12-19 09:33] tvernum opened #36820 "Retain stderr logs if JVM crashes in CI"
It appears that we don't preserve the `stderr` log if a JVM crashes during CI.
We only copy `*.log` to permanent storage, but stderr is captured to `.syserr`.

e.g. https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8fips,nodes=virtual&&linux/127/console
[code]

We should rename those files (to ".log") so they are capt

[2018-12-19 09:33] elasticmachine commented on #36820
Pinging @elastic/es-core-infra

[2018-12-19 09:42] DaveCTurner commented on #36547
Ah, this happened on the day that CI was running very slowly, resulting in other timeout-related failures such as https://github.com/elastic/elasticsearch/issues/36556. I blame that.

[2018-12-19 09:42] #36547 closed

[2018-12-19 10:01] martijnvg commented on #36815
This failure is different, a NPE in a response callback.

[2018-12-19 10:03] elasticmachine commented on #36795
Pinging @elastic/es-security

[2018-12-19 10:10] droberts195 commented on #34084
Fixed by #36069

[2018-12-19 10:10] #34084 closed

[2018-12-19 10:15] kimxogus opened #36822 "[Feature Request] Configuration to customize discovery/zen/fd/master_ping"
**Describe the feature**:
- Configuration to customize discovery/zen/fd/master_ping. A config option to make elasticsearch skip pinging and waiting for old master before new master.
<br/>
In kubernetes environment, ip of each member node in cluster are assigned to a pod which is a docker container. When a pod(node) is terminated. you will have a ping timeout to old master address as newly created

[2018-12-19 10:20] martijnvg commented on #36815
I suspect that the trail license isn't generated yet in the remote cluster and that is causing this failure.
I will change the test to wait for trail license being generated in both clusters. Also I will change `RemoteClusterLicenseChecker` to deal with the fact that no `LicenseInfo` can be returned from xpack info api.

[2018-12-19 10:36] stanleyyang1987 opened #36826 "Long running tasks never stop."
**Elasticsearch version** (`bin/elasticsearch --version`):
6.3.0
**Plugins installed**: [analysis-ik]

**JVM version** (`java -version`):
java version "1.8.0_181"
**OS version** (`uname -a` if on a Unix-like system):
Linux  3.10.0-862.el7.x86_64 #1 SMP Fri Apr 20 16:44:24 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
**Description of the problem including expected versus actual behavior**:

          **

[2018-12-19 10:38] DaveCTurner commented on #36788
This is a test bug, fixed by #36827.

[2018-12-19 10:44] ialidzhikov opened #36828 "Elastic uses depricated option UseConcMarkSweepGC"
**Describe the feature**:
A gc deprication warning is being shown.

**Elasticsearch version** (`bin/elasticsearch --version`):
6.5.1

**Plugins installed**: []

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:
We see the current log:
[code]

**Steps to reproduce**:

Ple

[2018-12-19 10:44] elasticmachine commented on #36822
Pinging @elastic/es-distributed

[2018-12-19 10:48] dliappis commented on #36822
@DaveCTurner not sure if it makes sense to consider a zen proposal such as this, given zen2 progress.

[2018-12-19 10:57] dliappis commented on #36822
@kimxogus Might be worth taking a look at Elastic's own [helm chart](https://github.com/elastic/helm-charts/blob/master/elasticsearch/README.md) -- currently in alpha status -- for Elasticsearch and esp. the [clustering and node discovery](https://github.com/elastic/helm-charts/blob/master/elasticsearch/README.md#clustering-and-node-discovery) approach.

[2018-12-19 10:57] DaveCTurner commented on #31801
The changes in #32006 mean that we are now much more picky about the nodes that we consider to be "live" during the discovery phase, and a master is chosen from the known-live nodes more sensibly. In particular, we check that we're actually connected to a node during discovery, so I think this poisonous situation can no longer occur.

[2018-12-19 10:57] #31801 closed

[2018-12-19 11:09] javanna opened #36831 "ScriptDocValuesMissingV7BehaviourTests fails on 6.x"
All tests in ScriptDocValuesMissingV7BehaviourTests fail on 6.x. See for instance https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/706 .

[code]

[code]

[2018-12-19 11:09] elasticmachine commented on #36831
Pinging @elastic/es-search

[2018-12-19 11:11] javanna commented on #36831
I muted these tests.

[2018-12-19 11:36] dliappis commented on #36828
Hi @ialidzhikov ,

Since https://github.com/elastic/elasticsearch/pull/33685, we **optionally** support G1GC for Java 10 and above.

However, our default GC engine remains CMS, as Java 1.8 remains a supported runtime and we don't feel confident about supporting [G1GC in Java 1.8](https://discuss.elastic.co/t/where-can-i-find-info-on-the-status-of-g1gc-in-lucene-and-es/149526/5).

If you wish to st

[2018-12-19 11:38] elasticmachine commented on #36828
Pinging @elastic/es-core-infra

[2018-12-19 11:38] cbuescher commented on #36771
@Aezo I had a short discussion about this request with another team member and we were wondering why the current behaviour doesn't work for you. For example in the "Samsung 64 GB Gold" case, this would only create one more token ("gb gold") which should be quite rare and shouldn't really result in any loss in precision. The way we currently see this feature request is that it would adds some compl

[2018-12-19 11:40] dliappis commented on #36828
I will close this issue now, I hope my [above reply](https://github.com/elastic/elasticsearch/issues/36828#issuecomment-448564460) was helpful, if not, feel free to re-open. Thank you.

[2018-12-19 11:40] #36828 closed

[2018-12-19 11:40] DaveCTurner commented on #36822
On Linux, reducing `net.ipv4.tcp_retries2` (the sysctl, i.e. `/proc/sys/net/ipv4/tcp_retries2`, not an Elasticsearch setting) ought to help hear too. See https://github.com/elastic/elasticsearch/issues/34405#issuecomment-429465972.

[2018-12-19 11:58] matriv commented on #34557
Fixed by #36640

[2018-12-19 11:58] matriv commented on #34557
Fixed by #36640

[2018-12-19 11:58] #34557 closed

[2018-12-19 12:06] pgomulka commented on #32850
I opened a draft PR to discuss the technical details of the implementation. Feel free to review/comment.

In regards to the format itself. The idea woudl be to change the log line from:
[code]
To:
[code]

Before the first ClusterStateUpdate is received, the cluster_id and node_id would not be present in log lines:
[code]
Or can they be null? like: `"cluster_uuid": null, "node_id": null`
In order t

[2018-12-19 12:14] DaveCTurner commented on #36712
I do not know this code intimately, but tracing through rather naïvely it seems they are internal refreshes:

https://github.com/elastic/elasticsearch/blob/733a6d34c1d08f3a1c50fc5a283733cc994b4343/server/src/main/java/org/elasticsearch/index/shard/IndexShard.java#L2308

[2018-12-19 12:17] mayya-sharipova commented on #12358
@markw We still need to develop this feature

[2018-12-19 12:30] mayya-sharipova commented on #36723
Inserting links here for: [feature](https://www.elastic.co/guide/en/elasticsearch/reference/master/feature.html) and [feature_vector](https://www.elastic.co/guide/en/elasticsearch/reference/master/feature-vector.html)

Ad also I was wondering if can call `feature_vector` just `features`?
Another alternative is `rank_features` (this is how Vespa calls them).

[2018-12-19 12:45] ialidzhikov commented on #36828
Thank you @dliappis . It was very helpful. Most probably we will test also G1GC.

[2018-12-19 12:46] atorok commented on #36831
I missed a few updates when back porting the `unitTest` task.
Corrected and un-muted the tests.

[2018-12-19 12:46] #36831 closed

[2018-12-19 12:51] #36788 closed

[2018-12-19 12:59] martijnvg commented on #36815
I've adjusted the ccr tests to wait for license metadata to be available:
* https://github.com/elastic/elasticsearch/commit/3cc0cf03c6da31304e5dca27a8a672e5159c777e (master)
* https://github.com/elastic/elasticsearch/commit/eea2345adfb42691fd415c8b4f7979fa283e77e4 (6.x)
* https://github.com/elastic/elasticsearch/commit/2410af558605e43e7579849d08c4b78de0f09a1a (6.5)

[2018-12-19 13:39] jkakavas commented on #36795
[code]

Is this because `{ConfigPath}` is used or something general with path settings in windows? i.e. Would

[code]
work, or would that need single quotes also ?

[2018-12-19 14:02] davidkyle opened #36838 "[ML] Support single bucket aggregations in datafeeds"
This use case was described in the discuss forum [Referencing field name from datafeed aggregation to use as a detector in an ML job
](https://discuss.elastic.co/t/referencing-field-name-from-datafeed-aggregation-to-use-as-a-detector-in-an-ml-job/160638) where it is desired to use a filter aggregation in the datafeed.

[code]

The canonical example in the docs is
[code]

The solution is to find si

[2018-12-19 14:02] elasticmachine commented on #36838
Pinging @elastic/ml-core

[2018-12-19 14:58] gperrego commented on #36795
I put in the {configpath} to remove my local path.  that isn't actually in my config.

[2018-12-19 15:00] imotov commented on #23670
I don't think there is anything we can/should do to address this on the elasticsearch side. The short term solution would be to change the exception thrown by lucene so it doesn't cause unrecoverable engine failure and this will hopefully addressed by [LUCENE-8614](https://issues.apache.org/jira/browse/LUCENE-8614). The long term solution is #36751 and deprecation of quadtrees. So, I am going to c

[2018-12-19 15:00] #23670 closed

[2018-12-19 15:14] #36798 closed

[2018-12-19 15:34] mrklaney opened #36843 "[eng2] mapping type consistency"
Minor fix which is not exactly wrong conceptually, but slide 15 shows two different mapping types instead of just the (preferred) _doc.    It _is_ wrong in that the actually logserver* indices use _doc.   Could just be a typo.

<img width="764" alt="screen shot 2018-12-19 at 8 22 13 am" src="https://user-images.githubusercontent.com/1714853/50229296-3a87bd80-0367-11e9-9de4-8f29dc1cc131.png">

easy

[2018-12-19 15:45] joshjanoski opened #36844 "[Docs]Clarification on when you must add a native realm to your configuration"
This is a documentation change request, related to the following pages:

https://www.elastic.co/guide/en/elasticsearch/reference/6.5/configuring-native-realm.html
https://www.elastic.co/guide/en/elastic-stack-overview/current/realms.html

I ran into an issue where I had an Active Directory realm configured, but after configuring that realm, I noticed that local accounts I created in Kibana no long