[2019-09-03 08:24] #46252 closed

[2019-09-03 08:29] showalski commented on #46252
Thanks for your help.

[2019-09-03 08:35] hendrikmuhs commented on #45903
another one https://gradle-enterprise.elastic.co/s/a6xvyxaqprnxg/console-log

should have #46206

[2019-09-03 09:28] pgomulka commented on #45284
So we can fix 4 things here:
1. To enable partial parsing of dates. So that `date_optional_time` can parse 2018, 2018-01, 2018-01-01
2. To make the strict_* parsers validate the length of date parts. This would make `date_optional_time` parse 99999-01-01 but `strict_date_optional_time` would fail.  This is the difference between `StrictISODateTimeFormat` and `ISODateTimeFormat` in Joda implementat

[2019-09-03 09:59] hendrikmuhs commented on #45903
the added assertions fail here:

https://github.com/elastic/elasticsearch/commit/907b4c54ed2c5ef263bd76e60a2574cd9acda772#diff-d6b146fa4d265d8211c4396be1d579c6R97

[2019-09-03 10:28] astefan opened #46259 "SQL: grouping by WEEK(CAST()) returns incorrect results and translated query"
`SELECT WEEK(CAST(date AS DATE)) FROM test GROUP BY 1` results in

[code]

Adding the field itself - `date` - to the results and grouping by it as well `SELECT WEEK(CAST(date AS DATE)), date FROM calcs GROUP BY 1, 2` gives correct results:

[code]

Moreover, the translated query for `SELECT WEEK(CAST(date AS DATE)) FROM test GROUP BY 1` is incorrect:

[code]

[2019-09-03 10:28] elasticmachine commented on #46259
Pinging @elastic/es-search

[2019-09-03 10:52] jkakavas commented on #46230
I can't see any commits that could have introduced this on August 28th/29th.

[2019-09-03 10:54] hendrikmuhs commented on #46014
another one: https://gradle-enterprise.elastic.co/s/jsaajm7ezmr6q

[2019-09-03 11:39] henningandersen commented on #46230
There were several tests that starting failing on August 29th and this does coincide with the version bump. It may be a red herring, but could be worth examining. I did try a few naive searches, but did not spot anything that would differ based on the version bump.

[2019-09-03 11:40] Schwaller opened #46261 "Numbers of the original document loose precision if the query contains excludes"
**Elasticsearch version** (`bin/elasticsearch --version`):
Any up to 7.3.1 (Testet with ES 7.0.1 and ES 7.3.1.)

**Plugins installed**:
None

**JVM version** (`java -version`):
Any JVM

**OS version** (`uname -a` if on a Unix-like system):
Any OS (Testet Windows 10 and MacOSX Mojave)

**Description of the problem including expected versus actual behavior**:
When a document is indexed with floating

[2019-09-03 11:42] jkakavas commented on #46067
These should fail in FIPS as they use a JKS keystore for key material and also some have `verification_mode` to `none` . I'll adjust them

[2019-09-03 11:45] Schwaller commented on #46261
Similar issues from 2012 also exist and it seems to be known that the XContentParser "needs some love". Sadly nothing happened so far and I don't see an easy way to provide my own XContentParser implementation (the interface uses double in the return values which practically kills any possible workarounds). Also wouldn't it be much faster to keep the original JSON elements and just drop the unwant

[2019-09-03 11:50] atorok opened #46262 "MlMappingsUpgradeIT.testMappingsUpgrade fails with testclusters"
I'm working in porting bwc tests to run with testclusters and can't get this one to pass:
https://gradle-enterprise.elastic.co/s/oqrlvw6evjqa4/tests/q3vpzt4orcdaq-vgix7kzieu2xs

I'm going to mute this since it's the only one that fails with this conversion and kindly ask someone from the team to take a look.

[2019-09-03 11:50] elasticmachine commented on #46262
Pinging @elastic/ml-core

[2019-09-03 12:24] atorok commented on #46262
The PR that implements the conversion is #46265

[2019-09-03 12:42] hendrikmuhs opened #46267 "[CI] TranslogTests.testRecoveryFromFailureOnTrimming fails in CI"
CI log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=fedora-29&&immutable/241/console

Reproduces locally on master:

[code]

[code]

[2019-09-03 12:43] elasticmachine commented on #46267
Pinging @elastic/es-distributed

[2019-09-03 12:48] astefan opened #46268 "SQL: IIF with NULL condition throws error"
`SELECT IIF(NULL, hire_date, birth_date) FROM test_emp`

Result:

[code]

Stacktrace on 7.x:

[code]

[2019-09-03 12:48] elasticmachine commented on #46268
Pinging @elastic/es-search

[2019-09-03 13:01] markharwood commented on #46213
Thanks for this write-up, @flash1293

If https://github.com/elastic/elasticsearch/pull/46257 is adopted then we eliminate the exponential growth of RAM with number of filters. I suspect that means the role of `index.max_adjacency_matrix_filters` becomes similar to that of `indices.query.bool.max_clause_count ` in limiting disk seeks.
The limit on RAM usage caused by many intersections I would expe

[2019-09-03 13:09] hendrikmuhs commented on #46230
another one: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/545/console

[2019-09-03 13:14] albertzaharovits opened #46270 "Monitoring local exporter throws with action.auto_create_index"
Unlike `Watcher` and `Security` (before 7.0), `Monitoring`'s Local Exporter does not check the `action.auto_create_index` setting while starting, and consequently the node fails spontaneously during data collection when then collection index is not able to be created.

I think we need to document the setting's impact in https://www.elastic.co/guide/en/elasticsearch/reference/current/collecting-mon

[2019-09-03 13:14] elasticmachine commented on #46270
Pinging @elastic/es-core-features

[2019-09-03 13:14] martijnvg commented on #46261
Thanks for reporting this bug @Schwaller, xcontent filtering should not change the precision of floating point values.

[2019-09-03 13:18] elasticmachine commented on #46261
Pinging @elastic/es-core-infra

[2019-09-03 13:30] xabbu42 opened #46272 "word_delimiter_graph combined with length filter produces array_index_out_of_bounds_exception during query building"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 7.3.0, Build: default/tar/de777fa/2019-07-24T18:30:11.767338Z, JVM: 1.8.0_212

I also tested the below reproduction on 7.3.1

**Plugins installed**: [analysis-icu]

**JVM version** (`java -version`):
openjdk version "1.8.0_212"
OpenJDK Runtime Environment (IcedTea 3.12.0) (build 1.8.0_212-b4 suse-2.2-x86_64)
OpenJDK 64-Bit Server

[2019-09-03 13:31] martijnvg commented on #46261
Quick reproduction:

[code]

Returns:

[code]

Whereas:

[code]

Returns:

[code]

Also pretty printing changes the precision of floating point numbers:

[code]

Returns:

[code]

This is why dev console and other tools will never show the original floating point number.

[2019-09-03 13:34] cbuescher commented on #45184
Hi @jasondaicoder, just coming back to this. I'd still be interested to learn more about the magnitude of the fluctuations in scoring you are seeing and the circumstances under which this is happening (see my previous post). Let me know if you can share any more details, otherwise I'll close this issue in a bit but you can always reopen if you find a way so I can reproduce this issue or you can sh

[2019-09-03 13:51] #45610 closed

[2019-09-03 13:58] pugnascotia opened #46276 "SharedClusterSnapshotRestoreIT.testSnapshotRelocatingPrimary has broken assert"
Tests in `SharedClusterSnapshotRestoreIT` call the helper `waitForRelocationsToStart`, which on current `master` calls `awaitBusy`. When I swap this for `assertBusy`, which requires the provided assertion to pass, `testSnapshotRelocatingPrimary` fails because no shards begin relocating. I noticed this during PR #45794.

cc @original-brownbear

[2019-09-03 13:58] elasticmachine commented on #46276
Pinging @elastic/es-distributed

[2019-09-03 14:09] Schwaller commented on #46261
Thank you for taking this serious! Would be great to get a solution for this :)

[2019-09-03 14:17] webmat commented on #46193
I think an acceptable implementation would be to loop over addresses, and simply decorate the event based on the first IP that has a match in the DB.

The most likely scenario this will happen is in situations specifically like `host.ip`, where a host has a bunch of IP addresses for real and virtual network interfaces. So most of them would be private, and potentially one of them would be a public

[2019-09-03 14:31] dakrone commented on #46205
@original-brownbear the reason they're REST tests is the general recommendation to move away from transport-client based tests and prefer REST-based tests. I haven't used `MockRepository` before, but it appears that it would support what we need with its `block*`/`unblock` methods.

If we're okay with adding a new feature relying on `ESIntegTestCase`, then we can move the tests to be transport-bas

[2019-09-03 14:35] original-brownbear commented on #46205
@dakrone I think it's to depend on `EsIntegTestCase` here. You can still get coverage of the REST layer by other tests, but setting up the blocking safely in these YAML tests is hard.

Assuming we go ahead with this, want me to port these tests or do you want to do it? :)

[2019-09-03 14:46] elasticmachine commented on #46272
Pinging @elastic/es-search

[2019-09-03 14:47] martijnvg commented on #46272
Thanks for reporting this issue @xabbu42, this should not result in an error.

In the master branches this currently results in an assertion error being thrown:

[code]

[2019-09-03 15:03] dakrone commented on #46205
@original-brownbear not sure I follow where you are getting YAML from? None of these are YAML tests?

I think this should wait until the `slm-retention` branch has been merged to master (which I can work on shortly now that we have a 7.5 branch), otherwise the merge conflicts are going to be hideous and the tests will have to be rewritten twice. Once it's merged then we can rewrite the tests (eith

[2019-09-03 15:15] benwtrent commented on #46091
Another build failure, seems to be related: https://gradle-enterprise.elastic.co/s/wbwkzcamo7a4e

[2019-09-03 15:35] #43960 closed

[2019-09-03 15:40] DaveCTurner commented on #41536
The only remaining item here is to update the `ReplicaShardAllocator` to be sensitive to sequence numbers (i.e. leases) which is tracked in #42518, so I am closing this.

[2019-09-03 15:40] #41536 closed

[2019-09-03 15:53] original-brownbear commented on #46205
@dakrone sorry, I meant `REST` instead of YAML. Getting up at 4am didn't do me much good today it seems :)

[2019-09-03 16:00] benwtrent commented on #44744
Recent failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-2/5951/consoleFull

It seems that it is a legitimate failure due to timeout. I am adding a wait for yellow on our ML indices to reduce the amount of time we are waiting for the tasks to be assigned (since they won't be assigned until ML indices are yellow).

[2019-09-03 16:31] hub-cap commented on #44493
We have decided to close this issue for now without merging and will revisit it once the high level rest client has its own pojos and builders. This is something we will be doing down the road, but we dont have a timeframe on when it will be finished.

[2019-09-03 16:31] #44493 closed

[2019-09-03 17:05] jakelandis commented on #34085
Unblocked by https://github.com/elastic/elasticsearch/pull/40416

[2019-09-03 17:38] rjernst commented on #46014
How can they still be open? It looks like we always do a SIGKILL in this case, and even if we were doing a SIGTERM, there is logic in stop to wait on the pid. Retrying seems like it would be masking a different issue we need to identify.

[2019-09-03 18:27] rjernst commented on #44624
If the keystore does not exist, we auto create it. This is because we always need the keystore.seed value, and do not want archive users to need additional setup before running Elasticsearch. We also do format upgrade as you mention, which is again important to not require additional setup on upgrade, and would not change the difficulty in downgrading.

I agree. I opened #46291

[2019-09-03 18:37] henningandersen commented on #45917
The test failed on my intake build here:

https://gradle-enterprise.elastic.co/s/j6t7jbgj6ksga/tests/kyv2y2z3r4v7m-fol5ler4lgsjg?openStackTraces=WzBd

and the stack trace looks identical to the original:

[code]

I checked that the fix from #45929 is included into 7.4 (which is also evident from the stacktrace). The the failure is in the same line of the test and it is waiting for a minute accordi

[2019-09-03 19:17] jrodewig commented on #46189
#46295 switches all the // TESTRESPONSE comments over.

[2019-09-03 19:52] jtibshirani commented on #46202
While working on #46294, I ran some experiments that might give some further ideas:
* I tried moving away from the scripting framework and prototyped a `vector_score` query that accesses doc values directly. It **improved the average QPS from 63.78 to 75.43** on the dataset random-s-100-angular.
* We also experimented with unrolling the combined decoding + dot product loop. This showed an improvem

[2019-09-03 20:33] cbuescher commented on #46222
In the case of boolean fields, yes. Its called [doc_values](https://www.elastic.co/guide/en/elasticsearch/reference/current/doc-values.html) and is enabled by default on fields supporting it. You can include it in your search result like described [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html#request-body-search-docvalue-fields). E.g.
[code]
will r

[2019-09-03 20:36] cbuescher commented on #46222
I'm going to close this issue for now, but feel free to add anything if you feels there is anything missing. For more general follow-up questions around doc_values and the search API we prefer folks using the support forums over at https://discuss.elastic.co. Thanks.

[2019-09-03 20:36] #46222 closed

[2019-09-03 22:09] elasticmachine commented on #34085
Pinging @elastic/es-core-features

[2019-09-03 22:57] talevy opened #46300 "Wildcard queries should not normalize/remove wildcards in queries"
Wildcard queries should not normalize wildcards from queries

Example scenario where wildcard queries do not exhibit expected behavior:

[code]

The resulting input that is provided to the wildcard query removes the `*`.

[code]

Because of this, the search does not find any matching documents.

I believe this relates to #28894.

[2019-09-03 22:57] elasticmachine commented on #46300
Pinging @elastic/es-search

[2019-09-03 23:12] mayya-sharipova commented on #46202
@jtibshirani Thank you for the ideas. Indeed it makes sense first to run benchmarks before making changes to any APIs.

A user also [reported](https://github.com/elastic/elasticsearch/issues/27588#issuecomment-402937705) 25% performance drop by moving from accessing doc values directly to script_score

[2019-09-04 00:15] jtibshirani opened #46301 "ReindexIT#testUpdateByQuery can fail with assertion error."
This failure first popped up a couple times in the master intake builds, once in `testDeleteByQuery` and once in `testUpdateByQuery`. In both failures, it seems that there is an unexpected task still running after the main test logic has completed.

First build scan: https://gradle-enterprise.elastic.co/s/rasy6lapqbogy
Second build scan: https://gradle-enterprise.elastic.co/s/t5l5j3kplm2fa

A code

[2019-09-04 00:15] elasticmachine commented on #46301
Pinging @elastic/es-distributed

[2019-09-04 00:48] albertzaharovits commented on #41910
Here is the 10 thousand feet view of the currently favored approach.

We create a new type of blob store repository, the `encrypted` type, that wraps and delegates read/write blob operations to an internally contained blob store repository. In essence, when the administrator creates an encrypted repository the "delegated" type must be specified (which is one of the blob store repository types alre

[2019-09-04 01:03] albertzaharovits commented on #41910
Here is what it still needs to be done/investigated, the order is somehow important:

- NIST SP800-38D investigate any faux-pas (for example to not interpret deciphered data; we should be assured that a throw on a stream close, when the authentication tag is verified, will abort the full operation and remove the faulting blob, see`FileRestoreContext`)
- add the FIPS BC provider and check that it a

[2019-09-04 02:36] #45147 closed

[2019-09-04 03:15] medcl opened #46302 "ILM Hot Phase - Not able to set node filter on hot nodes"
**Elasticsearch version** (`bin/elasticsearch --version`): v7.3.1

**Description of the problem including expected versus actual behavior**:

Currently The ILM UI allows you to specify each phrase's setting, it is also possible to specify node filter on warm and cold phase, but for hot phase, there is no way to control shard allocation by specify node attribute, that means, the newly created index

[2019-09-04 03:19] tvernum commented on #44942
Another failure
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-windows-compatibility/os=windows-2019/110/console

[code]

[2019-09-04 03:23] tvernum commented on #46091
Another: https://gradle-enterprise.elastic.co/s/p2au2dmcrjjm4/tests/p5swj3yau5og2-tno7eubuthtis

[2019-09-04 04:05] tvernum commented on #44566
Another one (6.8). The message is slightly different, but I'm assuming that it's the same cause.

- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=corretto8,nodes=general-purpose/183/console
- https://gradle-enterprise.elastic.co/s/eapdcbwncstam/console-log?task=:x-pack:plugin:ml:internalClusterTest#L1383
[code]

[2019-09-04 04:12] cjcenizal commented on #46302
Moved to Kibana: https://github.com/elastic/kibana/issues/44746

[2019-09-04 04:31] tvernum commented on #44410
Another failure (master)
- https://gradle-enterprise.elastic.co/s/tn47j66hql44e/console-log?task=:x-pack:qa:saml-idp-tests:integTestRunner

[code]
- org.elasticsearch.xpack.security.authc.saml.SamlAuthenticationIT testLoginUserWithAuthorizingRealm
- org.elasticsearch.xpack.security.authc.saml.SamlAuthenticationIT testLoginUserWithSamlRoleMapping
- org.elasticsearch.xpack.security.authc.saml.SamlAu

[2019-09-04 05:46] astefan commented on #46216
@luww You could, also, ask the question in our forum - discuss.elastic.co - and if it helps more, even in your native tongue: https://discuss.elastic.co/c/in-your-native-tongue/chinese. I will go ahead and  close this issue for now, kindly asking you to open a new issue if you have a confirmed bug or feature request in the future.

[2019-09-04 05:46] #46216 closed

[2019-09-04 06:31] hendrikmuhs commented on #45238
Note: if this happens again the log should contain more information (not part of the unmute).

[2019-09-04 07:32] #46268 closed

[2019-09-04 07:59] hulkk opened #46305 "max_snapshot_bytes_per_sec setting on a shared filesystem repository"
As per documentation regarding to the snapshot repository

And available settings

The throttle setting should be for the repository and not for single nodes that read or write that **shared filesystem**. The available throughput is an attribute of the shared filesystem.

Let's assume that I have a 6 node cluster which has shared filesystem for backups that can provide 240MBps (6*40) throughput.

[2019-09-04 08:10] tvernum commented on #41721
Just a note that this is still failing
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.4+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8fips,nodes=general-purpose/10/

[2019-09-04 08:14] danielmitterdorfer commented on #45648
Can you please elaborate a bit on that? What amount of heap memory do you have in mind?

Do you mean the configured indexing buffer via the setting [`indices.memory.index_buffer_size`](https://www.elastic.co/guide/en/elasticsearch/reference/current/indexing-buffer.html)? This setting is used by a component that will track index buffer usage and will then start throttling and force-refreshing the l

[2019-09-04 08:24] tvernum commented on #44006
It looks like this failed again for the same reason:
[code]
https://gradle-enterprise.elastic.co/s/mqxsdvj2bcqb6/tests/zcquf3hc3eoda-d2oyncgpb7reu?openStackTraces=WzBd

[2019-09-04 08:26] elasticmachine commented on #46305
Pinging @elastic/es-distributed

[2019-09-04 08:26] tvernum commented on #46230
Another: https://gradle-enterprise.elastic.co/s/lymakh2qm3dr2

[2019-09-04 08:27] matriv commented on #46268
`master` : 9a885a3ac47bc8f52c07770d1d8d670ce0af1e59
`7.x` : fd0affb503cda6f30265aec90d11cfdc0f5a9e5e
`7.4` : 973e6edfd52c3571453382984f63a594f5be13dc
`7.3` : c50475c419dba88e289ac765687b8bbc8ea7f122

[2019-09-04 08:47] original-brownbear commented on #46305
@hulkk I don't think that kind of feature is something we can implement in any kind of efficient way. That would require synchronizing the throughput across all the nodes via some mechanism which would require frequent communication between the nodes to give accurate rate limiting since all the nodes would have to constantly acquire permission (and then wait for those permissions) for writing data

[2019-09-04 08:48] #46305 closed

[2019-09-04 08:50] flash1293 commented on #46213
Hi @markharwood The limit settings make sense, thanks for looking into that and thanks for the super fast PR.

For new additions it works fine but not for incrementally (step by step)  fetching a large matrix - in this case we would fetch almost twice as much as necessary.

Consider the following matrix - the blue cells are the ones potentially containing data
<img width="487" alt="Screenshot 2019

[2019-09-04 08:55] albertzaharovits commented on #41910
We discussed the list above and prioritized some items as follows, so as to be sure we resolve all unknowns as soon as possible:

- move the repository plugin from #46170 under the x-pack folder and license
- investigate the FIPS BC provider in a FIPS JVM. Can we make the plugin work in FIPS mode?
- test the plugin against a cloud repository (eg `S3`), only the `fs` type has been tested so far
- d

[2019-09-04 08:56] #25281 closed

[2019-09-04 09:05] hulkk commented on #46305
Could this repository setting be improved in a way that it could be updated dynamically?

[2019-09-04 09:08] iverase commented on #45506
I am going to reopen this issue as I think we want to support such a case.

[2019-09-04 09:10] atorok commented on #46014
@rjernst
My understanding is that the fact that the process is no longer there doesn't guarantee that it's resources were closed. Not on windows. So if we stop elasticsearch and try to remove the files it was using in quick succession there's no way to have a guarantee that  those files were closed.
Of course there's no way to know if the OS hasn't released the resources yet or there's something l

[2019-09-04 09:15] jkakavas commented on #46132
This has only failed that one time in 6.8. What's even stranger is the `AssertionError` :
[code]

since `xpack.security.authc.token.compat.enabled` is `false` by default and we don't set it to true anywhere :hear_no_evil:

[2019-09-04 09:20] matriv opened #46307 "[CI] SimpleSecurityNioTransportTests.testTracerLog failure for `7.3`"
Build scan (intake): https://gradle-enterprise.elastic.co/s/ak7pb2i74idsw

Reproduce with (doesn't reproduce locally):
[code]

Stacktrace:
[code]

[2019-09-04 09:20] elasticmachine commented on #46307
Pinging @elastic/es-security

[2019-09-04 10:15] original-brownbear commented on #46305
I think that's something we could do probably. The use case would then be to lower the rate limit when adding more nodes to the cluster?

[2019-09-04 10:18] original-brownbear commented on #46305
@hulkk though I guess you could just create a new repository (or recreate the one you're using) with a new limit pointing at the same data path and get a dynamic update of the throughput setting that way already?

[2019-09-04 10:35] jkakavas opened #46310 "Signature verification issue when handling SAML LogoutRequest"
It seems like we fail to parse the `Signature` query parameter correctly from the request and this causes us to fail signature verification.

This was originally reported in the [forums](https://discuss.elastic.co/t/elasticsearch-saml2-0-and-adfs-signature-validation-issue-with-single-logout/190666)

[2019-09-04 10:35] elasticmachine commented on #46310
Pinging @elastic/es-security

[2019-09-04 10:39] cbuescher commented on #43820
The problem in replicating the exact NaN/+/-Inf values as in the transport client the we encountered when writing the new REST client classes was that on the client side we can only use what we can parse from the REST response. In case of the Avg agg this e.g. means we no longer know what `sum` and `count` where on the server side, since we don't write those values to the response (XContent, most

[2019-09-04 10:45] tvernum opened #46311 "[CI] checkpoint tracker failure in 6.8 cluster upgrade test"
BWC tests: 6.5.0 -> 6.8

In `:x-pack:qa:full-cluster-restart:without-system-key:v6.5.0#upgradedClusterTestCluster`

- https://gradle-enterprise.elastic.co/s/gcxbry3p3y6o6/console-log?task=:x-pack:qa:full-cluster-restart:without-system-key:v6.5.0%23upgradedClusterTestCluster%23wait#L258
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+bwc/BWC_VERSION=6.5.0,nodes=centos-7&&immutab

[2019-09-04 10:45] elasticmachine commented on #46311
Pinging @elastic/es-distributed

[2019-09-04 10:53] jkakavas commented on #46310
From a quick look at it, the fact that the Signature value we log is only 32 characters is a red herring as the truncating is only performed for logging purposes. We probably need an ADFS instance to get to the bottom of this

[2019-09-04 11:33] arshad171 commented on #5512
@jamesdorfman Isn't Agglomerative Hierarchical Clustering expensive in terms time and space complexities compared to K-means?

Agglomerative clustering:
time complexity: O(n^3)
space complexity: O(n^2)

K-means:
time complexity: O(n * k * m)
space complexity: O((n + k)m)

And since K-means has implementations that support incremental learning, the space complexity can be further reduced to make it

[2019-09-04 11:52] rajatrj16 opened #46313 "Feature Request: Index mixed with all other indexes"
Ideally, ES `data/node/0/indices` should group to similar objects, So suppose I have created one index i.e `SOMEINDEX-*`,
It should group into one, so if one index is deleted accidentally it should not affect other nodes or elastic search,

**Current scenario:** Now what happens is if one index is deleted, you can never recover the index or can not delete its metadata, It should not depend on that

[2019-09-04 12:07] #45378 closed

[2019-09-04 12:56] csenol commented on #45243
@jimczi @mayya-sharipova Any updates on this issue ?

[2019-09-04 13:05] #46212 closed

[2019-09-04 13:14] astefan opened #46316 "SQL: GROUPing BY conditional more complex CASE WHEN fails"
The following query fails `SELECT (CASE WHEN bool0 = TRUE THEN '1' WHEN NOT bool0 = TRUE THEN '0' ELSE CAST(NULL AS STRING) END) AS x FROM calcs GROUP BY x` with

[code]

While a simpler one - `SELECT (CASE WHEN bool0 = TRUE THEN '1' ELSE '0' END) AS x FROM calcs GROUP BY x` works as expected.

[2019-09-04 13:14] elasticmachine commented on #46316
Pinging @elastic/es-search

[2019-09-04 13:40] DaveCTurner opened #46318 "Sequence-number-based replica allocation"
When allocating a replica we prefer to allocate it on a node that already has a copy of the shard that is as close as possible to the primary, so that it is as cheap as possible to bring the new replica in sync with the primary. Indeed if we find a copy that is identical to the primary then we cancel an ongoing recovery on the grounds that a copy which is identical to the primary needs no work to

[2019-09-04 13:40] elasticmachine commented on #46318
Pinging @elastic/es-distributed

[2019-09-04 13:48] #44851 closed

[2019-09-04 14:14] astefan opened #46319 "SQL: add DATE_TRUNC function"
The DATE_TRUNC function is used to truncate date/datetimes to specified precision.
https://www.w3resource.com/PostgreSQL/date_trunc-function.php

[2019-09-04 14:14] elasticmachine commented on #46319
Pinging @elastic/es-search

[2019-09-04 14:29] YuanyeZ commented on #29426
I am having the same problem when I upgrade to ES 7, from ES 5: `[word_delimiter] cannot be used to parse synonyms`. I think in ES 5 we have warnings but stop working in ES 7.
Anyone has some solutions ?

[2019-09-04 14:44] paulcarey opened #46320 "SQL: IFNULL and COALESCE fail with NPE for text fields"
On ES 7.1.1, a query that issues `IFNULL` or `COALESCE` against a text field fails with an NPE.

The following snippet can be used to validate this behaviour.

[code]
While the query above succeeds, if any of the three commented out lines are uncommented, then the query fails with:

[code]

[2019-09-04 14:53] jasontedor commented on #46313
Are you referring to using filesystem delete operations to remove directories on disk?

[2019-09-04 15:14] markharwood opened #46324 "Remove redundant setting for adjacency_matrix aggregation"
Now that  https://github.com/elastic/elasticsearch/pull/46257 has improved internal memory usage we no longer need the default limit of 100 filters defined by `index.max_adjacency_matrix_filters`.

We decided on the following changes:

In 7.x continue to use `index.max_adjacency_matrix_filters` setting but start using `indices.query.bool.max_clause_count` as the new default value for the setting a

[2019-09-04 15:14] elasticmachine commented on #46324
Pinging @elastic/es-analytics-geo

[2019-09-04 15:32] cachedout commented on #44102
cc: @elastic/stack-monitoring for visibility

[2019-09-04 15:34] elasticmachine commented on #46320
Pinging @elastic/es-search

[2019-09-04 16:38] oshanz commented on #25067
`- discovery.type=single-node` didn't worked.
but `- discovery.type: single-node` is working for me

[2019-09-04 18:05] #44744 closed

[2019-09-04 18:06] polyfractal commented on #46074
Sorry for the delay in responding.  I think there are two separate concerns here:

1. The response that Elasticsearch returns
2. How external clients (Kibana, etc) plot the data

Item 2 is not under control of Elasticsearch, so the goal of ES is to provide enough data for an external client to plot it however they desire.  For "fixed" histograms (`histogram`, `date_histogram`) the information is k

[2019-09-04 18:28] rwaight opened #46338 "[DOCS] Provide guidance on removing data nodes"
Starting with 7.0, we've added [this guide](https://www.elastic.co/guide/en/elasticsearch/reference/7.0/modules-discovery-adding-removing-nodes.html) for adding and removing _master eligible_ nodes.  We should also include guidance on the removal / decommissioning of data nodes beyond what is mentioned in [this discussion topic](https://discuss.elastic.co/t/remove-node-from-cluster/65257) (referen

[2019-09-04 18:28] elasticmachine commented on #46338
Pinging @elastic/es-docs

[2019-09-04 19:07] jbonn360 commented on #46319
@astefan does this need approval? I can work on this

[2019-09-04 19:09] jimczi commented on #46300
I think we can consider this as a bug. The reserved characters should be excluded when the normalization is applied. As a comparison, the `query_string` splits the wildcard input by reserved characters and applies normalization on each split independently to build the normalized version:
https://github.com/apache/lucene-solr/blob/master/lucene/queryparser/src/java/org/apache/lucene/queryparser/cla

[2019-09-04 19:18] benwtrent commented on #43201
See WIP PR: https://github.com/elastic/elasticsearch/pull/46075

Implementation is trivial if we don't get shard stats for remote clusters. If we do, we have to store the remote cluster aliases somewhere so we can iterate through them to gather information.

[2019-09-04 19:21] benwtrent opened #46341 "[ML][Transforms] DataFrameSurvivesUpgradeIT.testDataFramesRollingUpgrade fails"
Build failures:

https://gradle-enterprise.elastic.co/s/tfjp6r3wqpfdy

Relevant stacktrace:
[code]
Able to reproduce locally.

[2019-09-04 19:21] elasticmachine commented on #46341
Pinging @elastic/ml-core

[2019-09-04 19:22] williamrandolph commented on #19297
We, and by "we" I mean @jasontedor, changed the systemd service type to `notify`, as @lassizci suggested, in PR #44673. I will try to verify that this change fixes the issue reported here.

[2019-09-04 19:23] williamrandolph commented on #20647
We, and by "we" I mean @jasontedor, changed the systemd service type to notify in PR #44673. I will try to verify that this change fixes the issue reported here.

[2019-09-04 19:46] williamrandolph commented on #29177
Note that the blocking ticket referenced above has been closed in favor of #29306, which is still open.

[2019-09-04 19:48] #43453 closed

[2019-09-04 20:48] talevy commented on #46300
thanks Jim. I'll update the labels

[2019-09-04 21:01] williamrandolph commented on #43501
I checked build-stats and we haven't seen `DocsClientYamlTestSuiteIT test {yaml=reference\cluster/stats/line_10}` fail with `stashed value not found for key [body.nodes.jvm.versions.0.using_bundled_jdk]` since June 24th (when #43502 was merged). Prior to that, it was often failing 2-4 times per day. I'm going to go ahead and close this.

[2019-09-04 21:01] #43501 closed

[2019-09-04 21:07] lcawl commented on #36112
Related to https://github.com/elastic/elasticsearch/pull/46102

[2019-09-04 21:09] #46267 closed

[2019-09-04 21:31] nchouard opened #46350 "shouldStoreResult is not set correctly"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.5.3

**Plugins installed**: []

**JVM version**: 1.8

**OS version** (`uname -a` if on a Unix-like system): Darwin Kernel Version 18.6.0

**Description of the problem including expected versus actual behavior**:

When trying to make an updateByQuery call with the Java RestHighLevelClient, `shouldStoreResult` is always false, even if you

[2019-09-04 21:39] jimczi commented on #46197
We discussed this internally and we are not sure of the overall gain since only one uuid or checksum is used per index in general. Yet we have another proposal that would be easier for users:

Today  the `_id` field is able to detect automatically that the input is a numeric or a base64 string and performs a conversion to optimize the indexed form (see [here](https://github.com/elastic/elasticsear

[2019-09-04 21:49] jrodewig commented on #46189
Second PR: #46353

[2019-09-04 22:45] jasontedor commented on #20647
@williamrandolph Thanks for bringing this issue to my attention, I wasn’t aware of it. Yes, the work in #44673 should close this issue out indeed.

@marknelsonengineer Sorry that this issue and your comment was neglected for so long. We integrated Elasticsearch with `systemd` via `sd_notify` indeed in #44673. That functionality will be available in the 7.4.0 release.

[2019-09-04 22:55] imotov commented on #46197
We can definitely reuse binary. I would prefer to specify the format explicitly instead of automatically detecting it though. Distinguishing between base64 and hex encoding can be impossible in some cases and quite costly in other (for example we can have a long hex encoded string that will fail to decode as base64 only at the end). I also think that users are unlikely to store checksums, uuids an

[2019-09-04 23:39] mayya-sharipova commented on #46007
@lrynek  Thank you for filling the issue. Our current plan is to deprecate a `function_score` query in favour of `script_score` query.  That's why we don't plan to introduce any enhancements to `function_score` query including the one you proposed.

I will keep this issue open though, as it suggests an interesting idea for a new query type we are thinking --  a [complex boolean query](https://gith

[2019-09-04 23:41] DanRoscigno opened #46357 "index going to "completed" ILM phase instead of "warm""
Bug report

**Elasticsearch version**
7.2.0 and 7.3.1 ESS

**Description of the problem including expected versus actual behavior**:
When I look at my indices under index management and apply the Lifecycle filters (hot, warm, cold) I see that I have a bunch of Filebeat indices that are not in any of the above states.  When I look at the details I see the state is "completed":

![image](https://use

[2019-09-04 23:43] DanRoscigno commented on #46357
@TomLawler : Change the filter on your indices from `ilm.phase:(warm)` to `ilm.phase:(completed)` and see if they show up.

[2019-09-05 03:58] rpgmakervx opened #46360 "search threadpool might be necessary to limited as index/bulk did"
**question**: **threadpool.search.size** config may cause oom if someone put a large size on it by accident。

**Elasticsearch version**: found in 5.4.1

**Plugins installed**: []

**JVM version** :1.8

**Description of the problem including expected versus actual behavior**:

In the beginning I try to make capacity expansion for my cluster(version 5.4.1), but where this done, the new nodes’s memor

[2019-09-05 04:36] medcl opened #46362 "RestHighLevelClient - Error on sort string field"
**Elasticsearch version** (`bin/elasticsearch --version`):
v7.3.1

**Description of the problem including expected versus actual behavior**:

Using RestHighLevelClient to perform search request, sorting on number field is ok, sorting on string field will throw exception. it seems the client only try to decode the returned sort field as number.

**Steps to reproduce**:

Here is the sample document:

[2019-09-05 06:35] atorok commented on #46091
@original-brownbear looks like this is still causing builds to fail. Any thoughts ?

[2019-09-05 06:37] original-brownbear commented on #46091
@atorok the team is looking into this, this morning.

[2019-09-05 06:52] atorok commented on #42895
Look like JDK 13 will be supported in Gradle `6.0` only, due in a couple of months.

[2019-09-05 06:58] atorok commented on #43971
We changed to a solution that uses `git rev-list` and looks at the timing of each to decide what to pick.
This will cause no fallout when the version bump happens in an atomic push across branches.  All that is left here is to update the documentation on version bumps.

[2019-09-05 07:03] atorok commented on #44242
@mark-vieira considering this is larger in scope, could you please add a task list to highlight the steps we need to take and projects we want to convert ?

[2019-09-05 07:08] atorok opened #46364 "Simplify the build to make it more accessible for developers"
This is a meta issue to collect issues that relate to simplification of the build in order to make it easier to understand, reason about and change by developers.

- [x] #44363  custom exclusion handling
- [x] #42775 clean up shadow plugin

[2019-09-05 07:08] elasticmachine commented on #46364
Pinging @elastic/es-core-infra

[2019-09-05 07:13] atorok commented on #44463
This seems to be fixed now  https://gradle-enterprise.elastic.co/s/r7zjthvuogtyi/timeline

[2019-09-05 07:13] #44463 closed

[2019-09-05 07:18] atorok commented on #44657
We'll also need CI images and need to add it to os compatibility matrix in ci.

[2019-09-05 07:39] DaveCTurner commented on #46040
@kkewwei Do you mean that the default for `indices.recovery.max_bytes_per_sec ` (which is 40MB/s) is too high? Or do you mean that you adjusted it?

I don't think a global limit on the number of moving shards is a good idea. We can expect larger clusters to have relatively complex network topologies, meaning that some collections of shard movements will run smoothly while others of the same size m

[2019-09-05 07:42] drake-jin opened #46365 "Korean tokenizer (Nori) doesn't split digits and letters"
## Describe the feature

**Elasticsearch version** (`bin/elasticsearch --version`):

6.7.2

**Plugins installed**: []

- nori

**JVM version** (`java -version`):

jvm 1.8

**OS version** (`uname -a` if on a Unix-like system):

ubuntu 16.04

**Description of the problem including expected versus actual behavior**:

I wanted to analyze `44사이즈비키니`(44 size bikini :) ) so I execute the following script

[2019-09-05 07:47] tlrx commented on #45238
It happens again today on master: https://gradle-enterprise.elastic.co/s/j76nmlv66dsmo

And does not reproduce:
[code]

[2019-09-05 07:54] hendrikmuhs commented on #45238
Thanks @bizybot and @tlrx, looking into it.

[2019-09-05 08:04] ywelsch opened #46366 "Unexpected request operation type on replica: update"
While looking at an unrelated test failure, I've seen the following log line, which indicates a bigger issue with replicating updates. The way it is handled right now is that the replica is failed. I've tried reproducing it, but with no success. A [quick grep across CI logs](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-60d,mode:quick,to:

[2019-09-05 08:04] elasticmachine commented on #46366
Pinging @elastic/es-distributed

[2019-09-05 08:38] ywelsch commented on #46366
I was now able to reproduce this (I added `assert false` in the place where throw the exception and added extra logging to find where it's happening).

Running `./gradlew :qa:smoke-test-multinode:integTestRunner --tests "org.elasticsearch.smoketest.SmokeTestMultiNodeClientYamlTestSuiteIT" -Dtests.method="test {yaml=bulk/40_source/Source filtering}"` a few times should showcase the problem.

The pr

[2019-09-05 08:45] rajatrj16 commented on #46313
My opinion is to resolve the dependencies over indices, This is because when you messed up with one index it should not break the whole elasticsearch.

[2019-09-05 08:46] rajatrj16 commented on #46313
at least we should be able to identify which index related to which alas.

[2019-09-05 08:55] jkakavas commented on #44410
This started to fail quite a lot, I'm muting tests until we get to the bottom of it

[2019-09-05 09:07] elasticmachine commented on #46365
Pinging @elastic/es-search

[2019-09-05 09:09] xavierfacq opened #46370 "RestHighLevelClient low performance when indexing"
Hi,

I'm refactoring our code to migrate from Transport Client to RestHighLevelClient.
I do not have monitored searches at now but I have problems during indexations.
Indexation are super longer than with the Transport Client.

Version
Cluster nodes and client are in version 6.6.1

JDK:
openjdk version "1.8.0_201"
OpenJDK Runtime Environment (build 1.8.0_201-b09)
OpenJDK 64-Bit Server VM (build 25

[2019-09-05 09:09] elasticmachine commented on #46362
Pinging @elastic/es-core-features

[2019-09-05 09:09] jimczi commented on #46365
Thanks for reporting @drake-jin . This is clearly a regression caused by https://issues.apache.org/jira/browse/LUCENE-8548. I opened https://issues.apache.org/jira/browse/LUCENE-8966 to fix this since digits should be not be grouped with other types of characters.

[2019-09-05 09:25] elasticmachine commented on #46350
Pinging @elastic/es-core-features

[2019-09-05 09:25] elasticmachine commented on #46357
Pinging @elastic/es-core-features

[2019-09-05 09:27] elasticmachine commented on #46370
Pinging @elastic/es-core-features

[2019-09-05 10:00] pgomulka commented on #46119
changes between current format and ECS
`timestamp` -> `@timestamp`
`level` -> `log.level`
`component` -> `log.logger`
Fields not present in ES logs at the moment
"service.name"
"process.thread.name"

Additional fields from ES are not a problem, but could be migrated.
These could be be part of `service.` set? so for instance `service.node.name`
`node.name`
`node.id`
`cluster.name`
`cluster.uuid`

S

[2019-09-05 10:02] ywelsch commented on #46013
The relevant exception here is:

[code]

[2019-09-05 10:04] astefan opened #46372 "SQL: add DATEPART function"
DATEPART function receives 2 or 3 parameters:
- first parameter is a string which indicates which "part" of a DATE or DATETIME field is needed. Example: 'day', 'year', 'month' etc
- the second parameter is the date/datetime field itself (or a literal)
- the third parameter is optional and is either `Sunday` or `Monday` that indicates the start of the week for the respective time zone in which the

[2019-09-05 10:04] elasticmachine commented on #46372
Pinging @elastic/es-search

[2019-09-05 10:07] astefan commented on #46372
As an example for `month` part:
`CONVERT(TRUNCATE(EXTRACT(MONTH FROM my_date_field),0), SQL_BIGINT)`

[2019-09-05 10:10] ywelsch commented on #45605
I've edited the title here. The `ShardLockObtainFailedException` and `IndexNotFoundException` warnings are harmless and also happen on successful runs. I've created #46368 to quiet the `ShardLockObtainFailedException` down as they seem to cause confusion (as any warning that we log).

We still need to figure out what's causing the resource_already_exists_exception

[2019-09-05 10:12] astefan opened #46373 "SQL: add DATENAME function"
DATENAME function should have 2 or 3 parameters and the return type should be STRING.
- first parameter is a string literal and represents the "part" of the date that should be returned
- second parameter is the DATE/DATETIME field itself or a literal
- third parameter is optional and indicates the start of the week day (Sunday or Monday)

As an example for `weekday`:
`DATENAME('weekday', my_date_

[2019-09-05 10:12] elasticmachine commented on #46373
Pinging @elastic/es-search

[2019-09-05 10:18] jkakavas commented on #44410
Muted in 6.8, 7.3, 7.4, 7.x and master

[2019-09-05 10:50] elasticmachine commented on #46360
Pinging @elastic/es-core-infra

[2019-09-05 10:52] elasticmachine commented on #46338
Pinging @elastic/es-distributed

[2019-09-05 11:20] atorok commented on #34563
We now have the testclusters plugin used in every project, so there's only one thing to change, but  we don't have a way to  pass on per node configuration from a build script.

@original-brownbear @DaveCTurner  which tests would we want to change for this ? Is it some in particular  and if so how many or a change across the board ? If it's the lather it might make sense to implement it as a flag

[2019-09-05 11:23] atorok commented on #35177
These tests now use the testclsuters plugin that has a totally different way of dealing with upgrading the nodes so this should no longer be applicable.

[2019-09-05 11:23] #35177 closed

[2019-09-05 11:24] lxghtless commented on #40534
FWIW - I was able to use Mockito 2's [mock-maker-inline](https://github.com/mockito/mockito/wiki/What's-new-in-Mockito-2#mock-the-unmockable-opt-in-mocking-of-final-classesmethods) to mock *all the things*. Here's a snippet of the body of a test that mocks every part used while scrolling.

[code]

[2019-09-05 11:25] atorok commented on #35585
@DaveCTurner do you think we should send `TERM` on a list of specific tests or just implement some tests specifically for this ?

[2019-09-05 11:37] atorok commented on #39977
We switched to docker based fixtures so this is no longer applicable

[2019-09-05 11:37] #39977 closed

[2019-09-05 11:53] atorok commented on #40862
We now use testclusters for all rest tests.

[2019-09-05 11:53] #40862 closed

[2019-09-05 12:15] atorok commented on #41380
The dot in the name of the YML tests confuses Gradle when parsing `--tests`.
@mark-vieira do we have ideas on how to address this ?
Maybe replace the dots in the test runner ? Or ban them and update all the tests to use something else ?

[2019-09-05 12:17] DaveCTurner commented on #35585
Do we have access to deterministic randomness at the point we're making the choice? I think all tests should work correctly whether the nodes are stopped with `TERM` or `KILL` (or a mixture) so the best would be to choose randomly on each test, weighting `KILL` more heavily since we prefer that for speed reasons.

[2019-09-05 12:19] atorok commented on #41497
This is a cyclic dependency only in eclipse terms that does not distinguish between main and test dependencies. x-pack tests depend on license-tools.
This will no longer be relevant if #44075 merges.

[2019-09-05 12:20] DaveCTurner commented on #34563
All tests should pass whether they are running on mixed master/data nodes or nodes dedicated for each role, so I think we should be choosing randomly (and deterministically).

[2019-09-05 12:23] jasontedor commented on #35585
I would prefer that we not introduce that kind of randomness into the build. We use to have that kind of randomness all over the place in the build (which GC to use, which JVM flags to use, etc.) and it made debugging a nightmare.

What is the plan with "testing" that we work correctly with `SIGTERM`? We don't want the build to wait forever, but if we introduce a timeout, then we are adding anothe

[2019-09-05 12:24] hendrikmuhs commented on #45238
The issue seems to be related to #42577 which mentions several failures that all fail with:

[code]

This failure goes back to the use of a mock client which internally uses a thread pool. The mock client is re-created for every test. I do not see why this causes an issue, other tests suffer from this as well.

For resolving this issue I will re-write the test, so it it re-uses the mock client for

[2019-09-05 12:30] DaveCTurner commented on #35585
The thing I think we should be checking is that node(s) that were shut down with `SIGTERM` come up and join the cluster again: particularly `full-cluster-restart` and `rolling-upgrade`. I think we don't currently have any that restart a cluster without upgrading, but if we did then the same thing too.

Sorry, this was not clear from the OP. We don't really care about the behaviour of a node that s

[2019-09-05 12:31] atorok commented on #14747
We now implemented what @rjernst suggested, and have build caching enabled, so as long as one passes in the same seed and has build cache enabled, the build will skip everything that didn't change ( pull it from the cache).
It took close to 4 years but we are there :)
Please feel free to re-open if you disagree.

[2019-09-05 12:31] #14747 closed

[2019-09-05 12:42] atorok commented on #15238
I think the third party audit that among other things looks for missing classes will detect missing transitive dependencies. Build scans are also enabled on all CI builds or available on the command line with  `--scan` and will show a nice view of dependencies and how the resolution worked and why.  Feel free to re-open if you think this is not fully covered.

[2019-09-05 12:42] #15238 closed

[2019-09-05 12:58] alpar-t opened #46378 "Improve how we test OSS vs Default distribution"
This issue replaces #30903.

Currently we have a `tests.distribution` that switches the distribution flavor for some tests. The default is OSS and we have CI jobs that test with default.
This approach doesn't make it clear what's being tested and needlessly re-runs all the tests that use the integ test distribution  between the runs.
With how we currently have CI set up ( e.x. matrix bwc jobs ) th

[2019-09-05 12:58] elasticmachine commented on #46378
Pinging @elastic/es-core-infra

[2019-09-05 12:59] atorok commented on #30903
Closed in favor of #46378

[2019-09-05 12:59] #30903 closed

[2019-09-05 13:01] atorok commented on #31205
Bwc tests use testclusters now, so all the cluster management is  no longer done with tasks. The test tasks have a `dependsOn` so a reproduction line will go trough all the previous tasks, run the upgrades etc. then when it gets to the failing task will only run that single test from there. It will take more time, but it will work.

[2019-09-05 13:01] #31205 closed

[2019-09-05 13:03] atorok commented on #31466
This is now solved by testclusters.
Since nodes are upgraded in-place there's no separate log, the same log is appended to so when we dump it it will dump both pre-and post upgrade logs.

[2019-09-05 13:03] #31466 closed

[2019-09-05 13:04] dnhatn commented on #46013
We renew the CCR retention lease at [a fixed interval](https://github.com/elastic/elasticsearch/blob/a5c60fb59a93d25d3534abd63a03057e514f186f/x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowTasksExecutor.java#L448), therefore it's possible to have more than one in-flight renewal requests at the same time. If requests arrive out of order, then the assertion is violated

[2019-09-05 13:08] original-brownbear commented on #46013
@dnhatn go for it :)

[2019-09-05 13:09] atorok commented on #31834
This came up in a different context when looking at a test failure with @not-napoleon .
Tripping an assertion makes the node die and we do a poor job of surfacing this info.
We can't really be proactive about it since Gradle doesn't allow interrupting any executing test task, you will see a bunch of tests failing to connect, but we  should surface the fact that an assertion tripped once the test t

[2019-09-05 13:11] dnhatn commented on #46366
Thanks @ywelsch. I will take a look today.

[2019-09-05 13:12] alpar-t opened #46379 "Failed assertions in integration tests should be made more visible to developers"
It looks like people have a hard time figuring out the cause of a failure caused by a failing assertion. We do who all the logs but it's easy to miss and since the node dies there will be lots of test failures that might draw the eye instead.

We teach testclusters about assertions and have it detect it in the logs and better surface it.
Instead of dumping all the logs on a failure, we could just

[2019-09-05 13:12] elasticmachine commented on #46379
Pinging @elastic/es-core-infra

[2019-09-05 13:13] atorok commented on #31834
Closing in favor of #46379

[2019-09-05 13:14] mayya-sharipova commented on #45243
@csenol Sorry for a late reply.  If you are interested to sort by the output of the vector functions, would it be possible for your use case to  use`script_score` query and sort results by `_score`:

[code]

We have internally redesigned vector functions which would make them difficult to be used in the sort context.

[2019-09-05 13:18] atorok commented on #34563
I'm not entirely convinced  randomization is the right approach,  especially considering how that would interfere with how long a build takes an the amount of resources it needs.
If we think this is a source of bugs, we are effectively aiming for coverage and we should make that explicit by having a dedicated CI job that would add the master nodes to each test cluster and consider the number of co

[2019-09-05 13:22] astefan opened #46381 "SQL: SYS TABLES should return a null schema"
Just like `SYS COLUMNS` return `null` for schema name, same should happen for `SYS TABLES` command.

[2019-09-05 13:22] elasticmachine commented on #46381
Pinging @elastic/es-search

[2019-09-05 13:24] alpar-t opened #46382 "Packaging test and CI coverage for Centos 8"
Looks like the Centos 8 release is around the corner.
This is a placeholder to create images and start testing on it once it lands.

[2019-09-05 13:24] elasticmachine commented on #46382
Pinging @elastic/es-core-infra

[2019-09-05 13:27] astefan commented on #46319
@jbonn360 thank you for your interest in ES-SQL. We do appreciate it.
We've already started looking at this implementation and it's not that trivial. If you maybe would like to have a look at a more simple issue to start with, that would be preferable.

[2019-09-05 13:28] kaplan6616 opened #46383 "SQL subquery"
Hi,

SELECT * FROM index where index.id NOT IN ( SELECT index.responseID from index where index.type=3)

i am writing this sql in elastic search but it says "not in query not supported yet". I'm wondering can i write this query in elastic DSL? or can i write this query another way ?

[2019-09-05 13:39] atorok commented on #35585
@DaveCTurner all the bwc tests have a version where they from current version to  current  version with no actual upgrade in-between.

It would be nice to have focused tests. Correct me if I'm wrong but it would seem that in this case the upgrade might be relevant, but the tests ran against the nodes are not really relevant as we are just looking to make sure the cluster is formed.  Full cluster r

[2019-09-05 13:53] DaveCTurner commented on #35585
Ah I'm pleased to hear that we're running `CURRENT` -> `CURRENT` non-upgrade upgrades, thanks for that.

I'm on the fence here. I think we want to be checking a lot more than just the cluster is formed. We run quite a lot of code in reaction to a `SIGTERM`, some of which makes changes on disk. I think we shouldn't be skipping over this in all real-node tests. But on the other hand we are shutting

[2019-09-05 13:59] pgomulka commented on #8786
closing as this was implemented in https://github.com/elastic/elasticsearch/pull/36833

[2019-09-05 13:59] #8786 closed

[2019-09-05 14:01] hub-cap commented on #43820
@9deniz you are correct! This effort we did to get the HLRC up to speed was for 7, which is where the transport client code still lives. We tried to reach API parity w/ the transport client so users could migrate and not see weird things.

That being said, we can change APIs in 8 to what we want, its just a breaking (potentially) change. But I still think that it is worth reiterating what @cbuesch

[2019-09-05 14:26] tiitginter opened #46390 "JvmErgonomics does not know to handle pin in parameters"
I have elasticsearch 7.3.1 and try to start it with JVM parameters that contain %p as pid name but get exception instead.

Parameter is -XX:OnOutOfMemoryError="oomHandler %p &"

Exception in thread "main" java.lang.RuntimeException: starting java failed with [1]
output:

error:
Error: Could not find or load main class %p
Caused by: java.lang.ClassNotFoundException: %p
        at org.elasticsearch.

[2019-09-05 14:46] dakrone commented on #46357
@DanRoscigno after the rollover, ILM moves the index into the `warm` phase and then immediately executes the allocate action, then moves the index into the `complete` phase. It sounds like you're expecting it to stay in the warm phase forever?

[2019-09-05 14:59] elodeans commented on #29561
Any updates on this defect?

[2019-09-05 15:14] spinscale opened #46395 "HLRC: allow to run delete by query with wait_for_completion=true"
**Describe the feature**: The HLRC has a method for reindex, that allows to trigger an async reindex by running `RestHighLevelClient.submitReindexTask` and `RestHighLevelClient.reindex`. The delete by query however only has an `RestHighLevelClient.deleteByQuery` method (and its async counterpart), but no `RestHighLevelClient.submitDeleteByQueryTask`.

[2019-09-05 15:20] astefan opened #46396 "SQL: NPE when using the same alias for a projection and an aggregate and GROUPed BY"
`SELECT gender AS g, SUM(salary) AS g FROM test_emp GROUP BY g`

Notice the alias name (which is the same) which, used in the `GROUP BY` will trigger a NPE:

[code]

[2019-09-05 15:20] elasticmachine commented on #46396
Pinging @elastic/es-search

[2019-09-05 15:29] jasontedor commented on #34563
Similar to my [comment](https://github.com/elastic/elasticsearch/issues/35585#issuecomment-528338320) on #35585, I would prefer that we not use randomness for this. Rather, as @atorok alludes to, a dedicated CI job could be considered. While I share the lack of concern for resource usage, I do have a concern for an explosion in the number of CI jobs.

[2019-09-05 16:05] gjesse commented on #25741
hard to believe that the system property solution was deemed to be acceptable here, rather than a simple code change in the initialization.

[2019-09-05 16:18] hub-cap commented on #46350
This looks like a bug. A lot of the older classes may not have proper toXContent support, so this is a spot where we probably need to beef up the toXContent for this class. It is not sending enough info over the wire.

[2019-09-05 16:29] jasontedor commented on #46390
Note that there is a [bootstrap check that prevents the use of `OnOutOfMemoryError` anyway](https://www.elastic.co/guide/en/elasticsearch/reference/7.3/_onerror_and_onoutofmemoryerror_checks.html):

[code]

The problem, however is not the `%p` parameter, but rather JVM ergonomics is not handling the space in the JVM option.

[2019-09-05 16:30] jasontedor commented on #46390
I have edited the title of this issue to reflect the underlying problem here.

[2019-09-05 16:31] elasticmachine commented on #46390
Pinging @elastic/es-core-infra

[2019-09-05 16:34] DanRoscigno commented on #46357
Thanks @dakrone ,
In my case (where I have no `cold` phase) does `complete` mean that the index is `warm` because it is available for searching and on a warm node and also `complete` because I have no further phases to go through?

If this is the thinking, then I would like it to show up in the ILM UI when I set the filter to show me `warm` indices:
![image](https://user-images.githubusercontent.c

[2019-09-05 16:56] DaveCTurner commented on #34563
Ok, dedicated jobs for this are good too.

[2019-09-05 16:58] dakrone commented on #46357
That's right, ILM is single pass execution, and once a policy has been completely executed it moves to the `complete` phase, so in this case, it executed the actions in the `warm` phase and then moved to `complete` because there is nothing left to do in `warm`.

This is something that would probably have to be addressed on the UI side, perhaps @bmcconaghy who worked on the original UI could direct

[2019-09-05 17:06] bmcconaghy commented on #46357
Hmm this seems like a deficiency in the ES API.  Not sure how the UI could figure out that something is still in warm phase if the phase is "complete".  We filter based on phase (just a dumb string filter).

[2019-09-05 17:11] dakrone commented on #46357
I think the disconnect is thinking that an index resides in a phase permanently, for example, an index is only in the "warm" phase whilst operations are being executed in that phase.

To clarify this, we could potentially add a "last_phase" output to the ILM explain output for an index so the UI could use `phase = phase == "completed" ? : last_phase : phase` as the filtering criteria?

[2019-09-05 17:17] bmcconaghy commented on #46357
To be clear, there isn't really any "logic" to the filtering, it's a dumb UI component.  I'm sure something could be coded to make this filtering work for the user, but the data needs to be in the return from ES.  An issue should be filed in the Kibana repo linked to this one for the corresponding Kibana work.

[2019-09-05 17:21] dakrone commented on #46357
Another thing to discuss, is this something we event want? Perhaps a `completed` option should be added to the UI to show indices in the completed phase? Is there a benefit from trying to keep an index "in a phase" it's not currently in for the UI?

[2019-09-05 17:25] dvisztempacct commented on #37043
Any updates? :D

[2019-09-05 17:42] jasontedor commented on #46313
I'm sorry @rajatrj16, I am not following. Can you provide the specific steps that you are following, and the errors that you are encountering?

[2019-09-05 18:05] jasontedor commented on #19297
Note that that only relates to `systemd`, but not on Sys V init.

[2019-09-05 18:07] bmcconaghy commented on #46357
To me, "completed" is not a phase.  An index stays in the last defined phase, so in the case described in this issue, it remains in "warm".  This seems like what the person who filed this issue thinks makes the most sense, and I agree.  "Completed" is about the lifecycle as a whole, not a phase I think.

[2019-09-05 18:08] bmcconaghy commented on #46357
I would defer to Elasticsearch UI on this one, though, as I don't work on this any longer.  @cjcenizal any thoughts on this one?

[2019-09-05 18:34] kkewwei opened #46411 "allocating replicas shard is blocked when concurrent allocation settings is large"
**ES_VERSION**: 7.3.1
**JVM version** : JDK1.8.0_112
**OS version** : linux
**Description of the problem including expected versus actual behavior:**
- At first, I need pre-create 320  of indexes on the cluster (8 data nodes) to reduce the pressure to create shards, the number of shards are 3200(1600 shards  are primary shards, 1600 are replicas shards), I want the primary shards to be allocated f

[2019-09-05 18:35] jbonn360 commented on #46319
@astefan ok cheers

[2019-09-05 18:37] imotov opened #46412 "SQL: Add support for shape type"
SQL should support the new `shape` type introduced in #43644.

[2019-09-05 18:37] elasticmachine commented on #46412
Pinging @elastic/es-search

[2019-09-05 18:38] mark-vieira commented on #41380
The solution here is to use the legacy `-Dtests.` sysprops. In fact, we've already fixed the reproduction lines in these scenarios to do exactly that via https://github.com/elastic/elasticsearch/pull/43255.

For ad-hoc requests to run one of these folks would have to know to use `-D` method when the test name includes a period. We _could_ document this but it'd still be confusing.

[2019-09-05 18:57] gwbrown commented on #46357
My concern with showing `complete` indices as the last phase they were in before completion in the UI is that it might lead to users thinking that, e.g. "Since this policy only had `hot` and `warm` phases, I can add a `cold` to it and all my indices will immediately go into the new `cold` phase!" (which will not work, at least at the moment).  It's already confusing for some users that editing a p

[2019-09-05 18:57] hub-cap commented on #46362
I cannot reproduce this. My steps to reproduce are as follows, running 7.3.1 docker containers for both elasticsearch and kibana.

I added two documents via kibana console
[code]
I went to my IDE and added the following code
[code]
and finally the result printed out

[code]

does it maybe have something to do with your mapping? have u tried issuing the same search in kibana console?

[2019-09-05 19:02] williamrandolph commented on #39611
I can replicate this error message by fussing around with `bin/elasticsearch-env.bat`. At the point where we set `ES_TMPDIR`, I changed `` `"`` and ``"` `` to `'`:

[code]

This makes some sense. On my dev box, the final Elasticsearch invocation ends up looking like this (newlines added for legibility):

[code]

Note that everything following the `java.io.tmpdir` line is the stuff that shows up in

[2019-09-05 19:02] jbonn360 commented on #46350
Hi guys, I can work on this

[2019-09-05 19:08] DanRoscigno commented on #46357
@dakrone : Do we need completed at all?  Does this phase prevent some actions from considering those indices for action?  If there is a check for phase == completed, maybe the checks could look at `current action` instead?  Notice that both phase and current action here are `completed`:

![image](https://user-images.githubusercontent.com/25182304/64371572-e012b800-cfee-11e9-9285-1650cf6ddf6d.png)

[2019-09-05 19:14] dakrone commented on #46357
@DanRoscigno as Gordon mentioned, the `completed` phase is used to indicate that all phases has been executed, if we kept the index in a `warm` phase on a `completed` step, a user would assume that adding a `cold` phase to the policy would cause the index to execute those next, since cold is executed after the warm phase. By having a dedicated `completed` phase it's clear that no more actions are

[2019-09-05 19:23] DanRoscigno commented on #46357
I hear you, but I think it is way more confusing to have a dropdown filter that does not work.  If the choices are hot, warm, cold, delete then I expect to be able to see the indices that are in hot, warm, or cold phases (I don't know why delete is in there, if the indices are deleted, then they should not show up in the manage indices UI, right?).  I think that users should expect changes to an I

[2019-09-05 19:37] dakrone commented on #46357
I do think the dropdown is a little strange, I think having `hot`, `warm`, `cold`, and `completed` as the options seems a lot better to me. Having `delete` as a phase filter makes (almost) no sense, and having `completed` as an option makes it explicit that no other actions are going to be taken on the shown indices.

[2019-09-05 19:37] gwbrown commented on #46357
The `delete` phase is in the UI because it's possible for an index to be waiting in the `delete` phase if a snapshot is in progress that's preventing the index from being deleted.  We've also discussed adding other actions in the `delete` phase which would cause the index to be in the delete phase for a nontrivial amount of time (e.g. wait for SLM to take a snapshot before deleting this index).

[2019-09-05 19:38] dakrone commented on #46357
Ahh yeah, good point Gordon, I forgot about the deletion so yeah, we should keep `delete`. I do think we should add `completed` to the dropdown though.

[2019-09-05 19:47] gwbrown commented on #46357
This doesn't give the user the right understanding either, because changes to policies *don't* just effect new indices. If a policy is changed, indices which enter new phases after that will use the new version.  For example, if an index is in the `warm` phase waiting for a shrink to happen, and that policy's `cold` phase is changed, when the index finishes the shrink and moves to `cold` it will u

[2019-09-05 19:48] DanRoscigno commented on #46357
I can't imagine clicking on `warm` in the dropdown and seeing no entries and thinking "ok, everything is working fine".  If the indices are warm, then they should show up in warm, not completed.  Completed is not a phase of ILM.  The phases of ILM are hot, warm, cold, and delete.

[2019-09-05 19:50] DanRoscigno commented on #46357
regarding the alias, hopefully most users are using Beats.  If so, then they have an easy time.  The policy and alias are created for them, they never see any JSON at all (unless they are self managed, then they have to set the node attributes for hot, warm, cold)

[2019-09-05 19:51] dakrone commented on #46357
This I think gets to the crux of the problem, we have two different conceptions of "warm", from a user's perspective an index is "warm" during a range of time (which may be perpetual if there is no `cold` or `delete` phase). From ILM's execution perspective however, an index is only in the `warm` phase *while executing actions in that phase*, then moving from that phase to the `completed` phase to

[2019-09-05 19:51] gwbrown commented on #46357
I mean, it might be possible for us to just park an index in `warm/complete/complete` if there's no `cold` or `delete` phases in the policy, but that would be a pretty significant breaking change.  It might be more intuitive, though.

That's what I expected too, and have been proven very painfully wrong by experience. But that's a different issue than the one under discussion here.

[2019-09-05 19:52] jasontedor commented on #46411
Duplicates #36195

Note that setting that high of a number for `node_concurrent_recoveries` is not advised.

[2019-09-05 19:52] #46411 closed

[2019-09-05 19:55] dakrone commented on #46357
We already do this, we have a `hot/completed/completed`, `warm/completed/completed`, `cold/completed/completed`, `delete/completed/completed` step:

https://github.com/elastic/elasticsearch/blob/f336c74788f202e9eb0ce6e99da41eebb17a1768/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/LifecyclePolicy.java#L187-L195

The thing is that we need to progress to the next phase when reach

[2019-09-05 19:59] #45238 closed

[2019-09-05 20:37] benwtrent opened #46416 "CcrRollingUpgradeIT testUniDirectionalIndexFollowing and testBiDirectionalIndexFollowing"
3 intake build failures failed due to either of these tests. All have similar traces/causes (it would seem).

* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob+fast+bwc/1052/
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob+fast+bwc/1063/
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob+fast+bwc/1051/

All

[2019-09-05 20:37] elasticmachine commented on #46416
Pinging @elastic/es-distributed

[2019-09-05 20:59] gwbrown commented on #46357
Yes, I meant rework the design so that there's no `complete` phase - just wait in e.g. `warm/complete/complete` forever if there's no `cold` or `delete` phases, and actually do then go on to a `cold`/`delete` phase if one is added later.

As I said, this would be a very significant breaking change and well behind a lot of other changes in terms of priority, and I'm not sure the current setup is un

[2019-09-05 21:10] DanRoscigno commented on #46357
The UI is extremely unintuitive.  As someone with 25 years ops experience, when I clicked on warm and found no indices I figured I screwed something up and wasted hours trying to convince myself that I had broken something.  I think that if we provide a UI to our users and in the UI there is a filter, then the filter should match something.  Since it is a breaking change to change the way we label

[2019-09-05 21:27] williamrandolph commented on #39611
@vikramjakkampudi

I am sorry that it has taken so long to take a close look at this issue. I have not been able to reproduce it without purposefully editing the startup scripts.

Are you still having this problem? Have you tried a more recent version of Elasticsearch? How did you install Elasticsearch on your PC?

[2019-09-06 05:58] atorok commented on #46416
here's another one https://gradle-enterprise.elastic.co/s/5l7pfl3ryie64/console-log?task=:x-pack:qa:rolling-upgrade-multi-cluster:v8.0.0%23follower%23twoThirdsUpgradedTest#L173

[2019-09-06 06:01] rpgmakervx commented on #46360
I there anybody can discuss about this question?

[2019-09-06 07:15] danielmitterdorfer commented on #46383
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2019-09-06 07:15] #46383 closed

[2019-09-06 07:16] elasticmachine commented on #46395
Pinging @elastic/es-core-features

[2019-09-06 07:30] atorok commented on #41380
That feels more like a workaround than a solution to me. It would be better to have a single way to do this.  I'm leaning towards changing the test name e.x. `s/[.]/_/` and adding a check that would not allow a dot in the test names going forward.

[2019-09-06 07:34] shardulsonar commented on #46350
Hello everyone,
I am new to open source software development,
@jbonn360 Can continue working on this issue, If he discontinues then I can pick up.

I had a doubt,

In the description, the issue is mentioned as Elasticsearch version (bin/elasticsearch --version): 6.5.3, does this mean that we have to fix this issue in the branch 6.5 or in it needs to be fixed in current master branch ?

[2019-09-06 07:41] DaveCTurner opened #46425 "SmokeTestMultiNodeClientYamlTestSuiteIT/indices.stats/20_translog failed retaining too much translog"
On repeated runs of `org.elasticsearch.smoketest.SmokeTestMultiNodeClientYamlTestSuiteIT` I hit the following failure:

[code]

The `REPRODUCE WITH` line said:

[code]

However this did not reproduce for me in ~30 retries.

I see a small number of similar failures from CI too, for instance https://gradle-enterprise.elastic.co/s/wi2oqndt4254w/console-log?task=:qa:smoke-test-multinode:integTestRunne

[2019-09-06 07:41] elasticmachine commented on #46425
Pinging @elastic/es-distributed

[2019-09-06 07:49] danielmitterdorfer commented on #42318
IMHO this is related to #9310. As this issue is formulated in a more generic fashion I'll close #9310 in favor of this one.

[2019-09-06 07:50] danielmitterdorfer commented on #9310
Closing in favor of #42318.

[2019-09-06 07:50] #9310 closed

[2019-09-06 07:52] jimczi commented on #37043
Hi Don, sorry that it took so long but we made good progress over the past month even though some bits are still missing. We're now focusing on a change in Lucene to allow sharing the minimum score between leaf collectors but that's not a simple one so we don't know when it will be ready yet. We'll update this issue as soon as we have something in Lucene. Stay tuned ;)

[2019-09-06 08:21] astefan opened #46428 "SQL: GROUPing BY YEAR with interval formula generates the incorrect query"
For this SQL query `SELECT YEAR(birth_date + INTERVAL 1 YEAR) AS x FROM test_emp GROUP BY x`, the following ES query is generated:

[code]

Which is obviously wrong. Also, the results of the query will be wrong, as well. A possible query should be:

[code]

This fix should probably be combined with a fix for https://github.com/elastic/elasticsearch/issues/40162 where we should probably use a `cale

[2019-09-06 08:21] elasticmachine commented on #46428
Pinging @elastic/es-search

[2019-09-06 08:32] cachedout commented on #46119
cc: @elastic/stack-monitoring for visibility

[2019-09-06 08:43] tlrx commented on #46416
It happened again today (https://gradle-enterprise.elastic.co/s/knvbtd6ats7wk)

Muted in master 0cdc3a31f7c199dd6c765adafefb5f216d282f1e

[2019-09-06 08:52] tlrx commented on #46230
I muted the test in f033c3fb8955d3ac01e5551556b67a5b7a172d95

I think that #45666 which added AdopOpenJDK is a good suspect.

[2019-09-06 09:06] danielmitterdorfer commented on #26525
A part of the issue described here has been tackled in https://github.com/elastic/elasticsearch/pull/27581. Enhancing request-level circuit-breaking on the coordinating node is tracked in #37182 and thus I'm closing the issue here in favor or #37182.

[2019-09-06 09:06] #26525 closed

[2019-09-06 09:37] danielmitterdorfer commented on #20837
Completion suggesters are still held in memory but this memory usage is already tracked via the accounting circuit breaker in https://github.com/elastic/elasticsearch/blob/f033c3fb8955d3ac01e5551556b67a5b7a172d95/server/src/main/java/org/elasticsearch/index/engine/RamAccountingRefreshListener.java#L72 (Lucene reports that memory usage via `SegmentReader#ramBytesUsed()`)

[2019-09-06 09:37] #20837 closed

[2019-09-06 09:41] #46132 closed

[2019-09-06 10:46] danielmitterdorfer commented on #20250
This has been implemented in Lucene in https://issues.apache.org/jira/browse/LUCENE-8811 and will be included in Lucene 9. As this will address the issue that has been originally brought up here, I'm closing this ticket.

[2019-09-06 10:46] #20250 closed

[2019-09-06 11:01] jimczi opened #46433 "IndexSearcher max clause count"
In [Lucene 9.0](https://issues.apache.org/jira/browse/LUCENE-8811) index searchers will start to check the overall number of clauses in a Query and will throw an error if it is above a certain threshold. The default value is the same than the max boolean clause (1024) but is configurable per index searcher. This is breaking change so only Elasticsearch 8.0 could be affected by this but I am openin

[2019-09-06 11:01] elasticmachine commented on #46433
Pinging @elastic/es-search

[2019-09-06 11:04] danielmitterdorfer commented on #20250
The follow-up work to make this limit configurable in Elasticsearch is now tracked in https://github.com/elastic/elasticsearch/issues/46433.

[2019-09-06 11:57] ayushmathur86 commented on #30686
For ES 6.8.2, I've tried following the steps mentioned in https://www.elastic.co/guide/en/elastic-stack-overview/6.8/encrypting-data.html
The workaround was to enable encryption, create the watch and then GET watch -> store the encrypted password in repo.
However, the changes are taken into account only when you restart the node. But on restarting, the encryption key is lost in encryption_keystore

[2019-09-06 12:15] tlrx commented on #46341
It should have been fixed by #46337, but this test failed again today:
https://gradle-enterprise.elastic.co/s/gpsou3ytaa5t4

with the same exception.

[2019-09-06 12:39] dimitris-athanasiou commented on #44713
I would be surprised if these timeouts are related to ML. Looking at the `rolling-upgrade.log` files I could not see anything wrong. @droberts195 Could you also take a look please?

[2019-09-06 12:45] MohamedHamouGisaia opened #46435 "geo_shape query doesn't behave the same way when passing a rectangle that crosses the dateline as an Envelope or as a Polygon"
**Elasticsearch version** : `Version: 7.3.1, Build: default/tar/4749ba6/2019-08-19T20:19:25.651794Z, JVM: 1.8.0_181`

**JVM version** :
`java version "1.8.0_181"`
`Java(TM) SE Runtime Environment (build 1.8.0_181-b13)`
`Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)`

**OS version**:
`Linux tizintest 4.15.0-58-generic #64-Ubuntu SMP Tue Aug 6 11:12:41 UTC 2019 x86_64 x86_64 x86_6

[2019-09-06 12:56] wwang500 opened #46437 "ML jobs disappeared on UI after upgrading to 7.4.0 BC"
Steps to reproduce:
 - Created and ran some ml jobs on 7.3.1,
 - Upgrade the cluster to 7.4.0 BC3,
 - After upgrade, all pre-upgraded ml jobs disappeared from UI (either machine learning->job management or management->jobs list), and there is an error shown:

![image](https://user-images.githubusercontent.com/47184485/64429379-de470400-d083-11e9-9bca-819d962edefa.png)

Expect:
All ml jobs are show

[2019-09-06 12:56] elasticmachine commented on #46437
Pinging @elastic/ml-core

[2019-09-06 13:01] #46437 closed

[2019-09-06 13:05] elasticmachine commented on #46435
Pinging @elastic/es-analytics-geo

[2019-09-06 13:06] benwtrent commented on #46341
@tlrx the checked out code for 7.5 was `7e4c633ce38807847fe1c8006e7d295b9a310ff1` (from what I can tell). Which did not include the fix.

[2019-09-06 13:14] jrodewig opened #46438 "Expand on `updated` parameter in Reindex API response body"
The Reindex API documents the `update` parameter in the response body:

https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html#docs-reindex-response-body

However, users have reached out wanting more detailed documentation on what is happening when documents show as "updated" in a reindex API operation.

We should expand the parameter definition.

CC @mark54g.

[2019-09-06 13:14] elasticmachine commented on #46438
Pinging @elastic/es-distributed

[2019-09-06 13:14] elasticmachine commented on #46438
Pinging @elastic/es-docs

[2019-09-06 13:15] tlrx opened #46439 "[CI] RelocationIT.testIndexAndRelocateConcurrently fails"
The test testIndexAndRelocateConcurrently() failed today: https://gradle-enterprise.elastic.co/s/ofdhpee6lbrvg

<details>

[code]
</details>

Here is my understanding:

The test creates a cluster of 4 nodes grouped by 2, the `red` nodes and the `blue` nodes. The index `test` is created and assigned to red nodes. Then documents are indexed and the `test` index settings are updated so that the index

[2019-09-06 13:15] elasticmachine commented on #46439
Pinging @elastic/es-distributed

[2019-09-06 13:17] tlrx commented on #46341
@benwtrent Sorry for the noise then, I thought I checked correctly the commit. Should this issue be closed then?

[2019-09-06 13:39] tlrx opened #46443 "[CI] CuckooFilterTests.testEqualsAndHashcode fais"
The test `CuckooFilterTests.testEqualsAndHashcode` failed today:
https://gradle-enterprise.elastic.co/s/rqifrbr6u4lpk

It reproduces on master and 7.x using:
[code]

[2019-09-06 13:39] elasticmachine commented on #46443
Pinging @elastic/es-analytics-geo

[2019-09-06 13:39] cbuescher opened #46445 "Missing Completion suggesstions when multiple suggestion paths lead to same document"
It was observed that when restricting completion suggestions to a certain size n, the top suggestions returned can miss out on certain suggestions that otherwise appear in the top n results when querying for a larger return window (by increasing size). This was particularly observed when there was more than one shard and and the analyzer on the suggest field produced multiple token in the same loc

[2019-09-06 13:39] elasticmachine commented on #46445
Pinging @elastic/es-search

[2019-09-06 13:40] ItamarBenjamin opened #46446 "high level rest client count request fails with 400 Bad Request"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 6.7.0

**Plugins installed**: []

**JVM version** (`java -version`): official 6.7.0 docker

**OS version** (`uname -a` if on a Unix-like system): linux

**Description of the problem including expected versus actual behavior**:
when executing count request from high level rest client and using "terminate_after", r

[2019-09-06 13:47] elasticmachine commented on #45236
Pinging @elastic/es-docs

[2019-09-06 13:54] jpountz commented on #45236
This was discussed in FixitFriday. We don't think that Elasticsearch should keep processing any requests after a SIGTERM has been issued, be they search, index or snapshot requests. We have some internal logic that keeps some tasks running after a SIGTERM has been issued but the goal is only to clean things up properly, not to complete ongoing requests.

We should better document guarantees regard

[2019-09-06 13:58] tlrx commented on #45903
Packaging tests have been muted (unscheduled) until this issue is fixed.

Note that they can still be triggered manually to help with investigations.

[2019-09-06 14:00] benwtrent commented on #46341
@tlrx I think so. I will go ahead and close it. We can reopen it if the test fails again with the fix :)

[2019-09-06 14:00] #46341 closed

[2019-09-06 14:02] rameshkr1994 commented on #36200
Hi new here for elastic search ;
need help 👍
[https://discuss.elastic.co/t/how-can-we-convert-join-query-into-elastic-search/197783/2](url)

please go through this link and help

Thanks

[2019-09-06 14:06] rameshkr1994 opened #46447 "Elastic-search search query issue"
Thanks

i am trying to search the records based on below sql query condition :-1:
condition :- 01
i have 8-fields in current index use case and i want to search all fields value based on provided value with fields like-
field1:'data'
field2:'sata'
field5:2424
field8:PHM

Condition02:-
in above search field i am not providing field value for field3,4,6,7
but we need this field for next search in cu

[2019-09-06 14:26] elasticmachine commented on #46446
Pinging @elastic/es-core-features

[2019-09-06 14:35] imotov commented on #46149
During the discussion in FixItFriday, we couldn't reach a conclusion that such tool is necessary and should be implemented. Concerns about overheard of maintaining this tool were raised. While we have other instances where such tool could have been beneficial (such as date checks) we typically don't provide such tools. One of the main technical concerns was practicality of such tool considering th

[2019-09-06 14:38] hub-cap commented on #46350
Hi @shardulsonar and welcome,

Feel free to look for other issues to take with `good first issue` label. The high level rest client has a lot of these.

So the affects version is just the version it was found in. I checked out the code in master and it is still present. But generally speaking the fixes are going to be for the version in master, which is an unreleased major version 8 series, and th

[2019-09-06 14:51] mark-vieira commented on #41380
I'm not against that. Not sure how disruptive that would be but we can certainly do this.

[2019-09-06 14:57] cbuescher commented on #46447
Hi @rameshkr1994! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2019-09-06 14:57] #46447 closed

[2019-09-06 14:58] #45184 closed

[2019-09-06 14:59] DaveCTurner commented on #46091
We have an explanation for why index creation might result in a `resource_already_exists_exception` response. By default the `HttpAsyncClient` in use will retry if it hasn't received a response within 30 seconds. We have observed situations where the CI machine grinds to a halt for a while, causing the creation of an index to take over 30 seconds (recalling that it doesn't just create the index, b

[2019-09-06 15:10] cbuescher commented on #46445
As a simple recreation, consider this example:
[code]
On at least 7.3 , getting the top 5 suggestions for "anna":
[code]

returns the following five suggestions for `_id` 9, 8, 7, 6, 4 in decending order of weights. However there is doc 5 with weight 5 which should appear before doc 4. Increasing the "size" to 10 returns document ids 9 to 2 in correct order, but is still missing doc 1, which again

[2019-09-06 15:16] wwang500 opened #46453 "Allowing to restart a batch data frame transform job will cause job to stay in "started" state"
Steps to reproduce:
- Create a data frame transform job `PUT _data_frame/transforms/...`
- Start it `POST _data_frame/transforms/.../_start`
- Once job finishes, try start again, `POST _data_frame/transforms/.../_start`

Observed:
 Job starts successfully and stay in "started" state for ever.

Expected:
a nice error message should be thrown, until we decide to support this case.

[2019-09-06 15:16] elasticmachine commented on #46453
Pinging @elastic/ml-core

[2019-09-06 15:25] ayushmathur86 commented on #30441
@willemdh how did you add the key ? When I tried it, the key and encryption were not taken into account unless I don't restart the node. However, on restarting the nodes, I still get the same NPE stack.

[2019-09-06 15:33] dakrone commented on #42449
We have a plan for addressing situation like this, I'll outline the general plan (which may shift as implementation proceeds).

Step one is to add a setting, `index.lifecycle.origination_date` that a user can set on an index, if this is set, ILM will use this date to calculate the index age for its phase transitions. This allows a user to manually create an "old" index with an old origination date

[2019-09-06 15:38] jpountz commented on #44794
Maybe we could implement this idea of deleting in the previous index and creating in the current index actually. The trick would be to compute ids in such a way that ids from the current time frame are unlikely to share a prefix with ids from the previous time frame, so that deletions in the previous time frame run without going to disk.

For instance if we prefixed the hash by the number of minut

[2019-09-06 15:43] original-brownbear commented on #46091
Opened https://github.com/elastic/elasticsearch/pull/46455 to double the timeout for now. Disabling retries is a bit of a trickier change as far as I can see because we have some tests with node restarts and such and I don't know if that's going to work out of the box if we start pinpointing requests at single nodes for.

[2019-09-06 16:12] polyfractal commented on #46443
I see the issue.  When we randomly create test filters, we allow creating filters with super low capacity/precision.  This means that no matter what you add to the filters it's pretty much guaranteed to create internal collisions after a handful of values, which means all filters converge to equality quickly.

Will push a fix with some larger defaults, and some better logging in case this happens

[2019-09-06 16:56] sophiec20 commented on #46453
Please clarify what happens to the data? Are any changes made to the dest index? Are any searches performed on the source index?

[2019-09-06 17:32] dakrone commented on #3861
I believe this can be closed as get-by-id no longer retrieves documents from the translog, so filtered aliases should always work.

[2019-09-06 17:37] dakrone commented on #32934
This appears to be an issue due to the cluster being overloaded and unable to process the cluster state, rather than a bug.
We reserve Github issues for feature requests and bug reports. If you are having problems please use https://discuss.elastic.co instead!

[2019-09-06 17:37] #32934 closed

[2019-09-06 17:39] dakrone commented on #33010
I think this is pretty stale and the internals of how networking works in ES has changed quite a bit since when this was opened. For now I'm going to close this, but if you still see this on later versions ES (7.x) please let us know and we can re-open it.

[2019-09-06 17:39] #33010 closed

[2019-09-06 17:43] dakrone commented on #33642
I was able to successfully retrieve a document using an escaped slash in 7.3.1 with:

[code]

And with curl:

[code]

I'm going to close this since it's almost a year old with no other reports of its breakage, please let me know if you still see this and we can re-open it.

[2019-09-06 17:43] #33642 closed

[2019-09-06 17:44] jtibshirani commented on #43100
I'm going to close out this issue, thanks for raising it as it led to an important clarification in the docs.

[2019-09-06 17:44] #43100 closed

[2019-09-06 17:55] hub-cap commented on #46446
This is definitely a bug. Looks like we are passing back that value in the post data entity, like you suspect. The fix is to stop doing that, as well as to add it to the request converters such that it can be passed in the param map.

[2019-09-06 18:03] gwbrown commented on #39526
We've added these docs in  #43667, so I'm closing this issue.

[2019-09-06 18:03] #39526 closed

[2019-09-06 18:20] jrodewig commented on #46189
Once #46353 and #46440 are merged, we can consider this near complete.

However, there are likely pending PRs that still contain the old magic comments.

@nik9000 Are we planning to remove support for those magic comments? If so, we may want to do a coordinated "final cleanup" right beforehand. We'd also want some way to address pending PRs that have already passed CI but would fail in production

[2019-09-06 18:21] DarrenV79 commented on #32934
As mentioned it was as totally clean cluster.

In the end I put the clients back on data nodes.  Otherwise it was 100% repeatable for me at the time.

[2019-09-06 18:28] stiltz opened #46460 "[DOCS] ES Reference [6.8] Mappings doc issue"
On the [Elasticsearch Reference [6.8] >> Mappings](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/mapping.html) docs page the [Example Mapping](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/mapping.html#_example_mapping) shows 7 references in the example screenshot but then the references only show 1 - 4 and 5 - 7 are blank.

I don't know what the proper steps for 5-7 ar

[2019-09-06 18:28] elasticmachine commented on #46460
Pinging @elastic/es-docs

[2019-09-06 18:40] SthPhoenix commented on #45171
Connected bug found:
Search requests to _all indices or with mask which fit to alias of closed index fails with "index closed exception"

[2019-09-06 19:25] jordansissel commented on #42245
A bootstrap/setup API would be lovely!

For my use case (infosec@elastic), for all cases where we need to capacity plan more deeply, these cases are logging.

One scenario we are rolling out can be simplified, I believe, to a few small inputs:
* The "index" name (this becomes the alias as well as the prefix for the rollover indices)
* Index settings: Number of shards and max shards per node[1]
* R

[2019-09-06 19:31] willemdh commented on #30441
Copied the system key from another node and imported it

[2019-09-06 19:46] dakrone commented on #32883
I think with ILM in place and supporting Rollover, this is no longer needed since the instructions there set up a single alias to which to direct indexing. Hopefully this is an easier setup for indexing timeseries data.

[2019-09-06 19:46] #32883 closed

[2019-09-06 19:54] jordansissel commented on #42245
Oh one other feedback is that these steps listed above are for every beat on every version of beat that we anticipate ingesting. At present, we run `beats setup` on one cluster 80+ times (one for every version of filebeat, auditbeat, and metricbeat since v6.3.0). It's likely out of scope for this issue, but I'd still like to mention it specifically as a maintenance burden and an area ripe for mist

[2019-09-06 20:00] dakrone commented on #33628
Related to #41618

[2019-09-06 20:17] dakrone commented on #34308
@colings86 can you add more information to this or close it if it's no longer appropriate? I tried to reproduce this with ES+LS 7.3.1 and I was able to change the template logstash put in place with no problems. Is there a special "read only template" setting that I'm not aware of?

[2019-09-06 20:25] dakrone commented on #35248
Given that this is a year old, I think it is a bit stale, so I am going to close this. If it occurs again, a new discussion on discuss.elastic.co would be the best place to get started diagnosing it.

[2019-09-06 20:25] #35248 closed

[2019-09-06 20:28] dakrone commented on #38502
Closing this since the PR that removed it has been merged.

[2019-09-06 20:28] #38502 closed

[2019-09-06 21:03] mark-vieira commented on #46091
This is just IO contention with running many ES nodes and tests in parallel. We limit this _somewhat_ but we are hamstrung a bit by some limitations in the build. This should improve in Gradle 6.0 as we will be able to define explicit permits for starting tests nodes. Right now Gradle treats a test task spinning up 3 nodes the same as a task spinning up a single node and this can cause problems.

[2019-09-06 21:06] gwbrown commented on #34308
@dakrone This doesn't actually have to do with anything Logstash installs, it's the plugin which installs the index template for Logstash central management which is the issue.

In particular, it overrides this method:
https://github.com/elastic/elasticsearch/blob/5bc3b7f741a4c60e4ef4d81314951532654bf8ee/server/src/main/java/org/elasticsearch/plugins/Plugin.java#L191-L205

Like so:
https://github.

[2019-09-06 21:17] dakrone commented on #34308
Thanks @gwbrown, that adds helpful context around this issue

[2019-09-06 21:55] mark-vieira opened #46465 "Increase parallelism of BWC tests"
Right now our BWC tests are limited to just a few projects. This limits the number of these tests we can run in parallel because Gradle parallelizes tasks across projects.

Using the Worker API to enable intra-project parallelization unfortunately won't help us here since we rely on the Gradle `Test` task which itself doesn't leverage the Worker API yet. That probably leaves us to breaking things

[2019-09-06 21:55] elasticmachine commented on #46465
Pinging @elastic/es-core-infra

[2019-09-06 22:09] dnhatn commented on #45920
Relates to #46091

[2019-09-06 22:09] #45920 closed

[2019-09-06 22:19] A-Hall opened #46466 "Style tags stripped even when allowed in xpack.notification.email.html.sanitization.allow"
**Elasticsearch version** (`bin/elasticsearch --version`): at least 6.4 - 7.3.1 (current)

**JVM version** (`java -version`): openjdk version "1.8.0_222"

**OS version** (`uname -a` if on a Unix-like system): Ubuntu

**Description of the problem including expected versus actual behavior**:  Style tags are stripped from emails generated by the email watch action even when `xpack.notification.email.

[2019-09-06 22:19] elasticmachine commented on #46466
Pinging @elastic/es-core-features

[2019-09-07 03:12] dnhatn commented on #46311
Fixed in #46340

[2019-09-07 03:12] #46311 closed

[2019-09-07 04:11] ajoliveira commented on #32120
+1 for this ... for example, trying to block users from using script_fields, in 6.2 it requires removing the `search` context and in 7.3 (all 7.X?) it is the `field` context - not sure if this is best way to do this, but that aside.

However, the limited ones noted in documentation (and a couple I code find in source) causes other failures - such as watcher and monitoring for example.  This requir

[2019-09-07 06:13] #40241 closed

[2019-09-07 06:14] #46381 closed

[2019-09-07 08:45] shardulsonar commented on #46446
Hello, I can pick this issue. Will update the progress as soon as I have a solution.

[2019-09-07 10:38] henningandersen commented on #46091
@mark-vieira , in all cases I looked deeply into and also in #46144, it looked like there were concurrent gradle tasks building distributions or the like, for instance these (from #46144):

[code]

The cause could be either parallel test activity or the fact that we do these heavy throughput IO operations during testing. I think most of our rest style tests are not really that heavy on IO and woul

[2019-09-07 14:10] suxianbaozi opened #46471 "hightlight not worked when use script_score"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 7.3.1

**Plugins installed**: ["ikAnalyse"]

**JVM version** (`java -version`):1.7

**OS version** (`uname -a` if on a Unix-like system):centos7

**Description of the problem including expected versus actual behavior**:

hightlight not worked when use script_score，highlight not found in the response

if i used fu

[2019-09-07 14:40] rpgmakervx commented on #46360
@jasontedor

[2019-09-07 14:44] #46366 closed

[2019-09-07 15:18] Fabiomad85 commented on #23874
I'm curious too

[2019-09-07 20:08] wwang500 commented on #46453
There is nothing happening on data. No searches were performed on the source index either.

[2019-09-07 20:53] abhaykumar commented on #38242
@tpmccallum thank you for creating the issue.
@jpountz we also need this feature. Was trying to index ethereum data in es but got lot of below errors because of the limit.
[code]
Is there a timeline when this feature release can be expected?

[2019-09-07 21:02] abhaykumar commented on #38242
In Node.js we use below library to perform BigNumber(uint256) operations:
https://github.com/MikeMcl/bignumber.js

[2019-09-07 23:28] him5 commented on #21410
I get something like that.

[2019-09-08 15:33] freakingid commented on #9034
@jpountz et al., I know this is a really old issue, but I'm trying to figure out why my customer's fetch phase is slow even when using source filtering or `_source_includes`.

Is `_source` still stored as one binary field, in Elasticsearch 6.x and 7.x?

If so, I am assuming that when my customer asks his query to get a small field from `_source`, ES still has to fetch the whole `_source` from disk

[2019-09-08 18:14] jbonn360 commented on #46350
Hey guys, I've had a look at this and I don't think it's a bug. Correct me if I'm wrong, but the Task Management API [ documentation ](https://www.elastic.co/guide/en/elasticsearch/reference/current/tasks.html) says that it "Returns information about the tasks **_currently_** executing in the cluster."

I think that by the time you get to execute `GET _tasks/:taskId` in Kibana, the task would have

[2019-09-08 18:18] cjcenizal commented on #46357
@DanRoscigno Thanks for your feedback! The ES UI team owns this UI. I've been out for a couple days so apologies for not chiming in sooner. We'll review this discussion and create a plan for resolving the UX problems you've pointed out.

[2019-09-08 23:30] DanRoscigno commented on #46357
Thanks all!

[2019-09-09 03:17] iwinux opened #46477 "StackOverflowError caused by deeply nested queries"
## Environment

**Elasticsearch Versions:**

- Version: 6.8.2, Build: default/docker/b506955/2019-07-24T15:24:41.545295Z, JVM: 12.0.1
- Version: 7.3.1, Build: default/docker/4749ba6/2019-08-19T20:19:25.651794Z, JVM: 12.0.2

**Plugins Installed**: None

**JVM Versions:**

- OpenJDK Version "12.0.1" 2019-04-16 (build 12.0.1+12, mixed mode, sharing)
- OpenJDK Version "12.0.2" 2019-07-16 (build 12.0.2

[2019-09-09 05:46] elasticmachine commented on #46477
Pinging @elastic/es-search

[2019-09-09 05:56] atorok commented on #46091
I'm a bit concerned about writing this off as IO contention only and worry that CI also has some other issue affecting it or making it worse mainly because:
  1. It happened in the past
  2.  we have been running with `--parallel` for quite some time now I would have expected this to surface sooner
  3.  I'm not 100% sure but I think we saw this with @original-brownbear  in a bwc test before those

[2019-09-09 06:24] original-brownbear commented on #46091
Yes, we did see this issue with non-parallel builds before I think. But that's not necessarily unexpected IMO (just less likely).

I think for the cases we've seen so far (with better logging activated), IO contention is the cause. If there's other issues, those will surface in time I guess and we'll have an easier time tracking them down once we have the obvious IO issue out the way? :)

[2019-09-09 06:38] atorok commented on #46091
I'm not arguing that IO contention is not real, and definitely don't want to spoil the party this is a great find. It would be great if that were the only issue, I just think we don't need to let our guards down yet.

Another data-point: before enabling parallel I ran lots of tests, some of them on larger instances with much higher levels of parallelism ( on the same disk size ) and never ran into

[2019-09-09 06:41] atorok commented on #46091
On the other hand, there's no evidence of this happening on non master branches where we don't run with `--parallel`

[2019-09-09 06:42] elasticmachine commented on #46471
Pinging @elastic/es-search

[2019-09-09 06:54] atorok commented on #46091
Here's some screen shots  from the GCP console for `checkPart1` ( the failure did not reproduce )

![centos](https://user-images.githubusercontent.com/2565652/64509107-b2c45380-d2e7-11e9-9814-809802bb399c.png)
![ubuntu14](https://user-images.githubusercontent.com/2565652/64509108-b2c45380-d2e7-11e9-8789-7018737c6e05.png)
![ubuntu18](https://user-images.githubusercontent.com/2565652/64509109-b2c453

[2019-09-09 07:21] atorok commented on #46091
The same running on a local SSD

## centos
![centos](https://user-images.githubusercontent.com/2565652/64510754-8ad6ef00-d2eb-11e9-9505-1ca00086b1bb.png)
## ubuntu 14
![ubuntu14](https://user-images.githubusercontent.com/2565652/64510755-8ad6ef00-d2eb-11e9-9964-8b3c15cc087c.png)
## ubuntu 18
![ubuntu18](https://user-images.githubusercontent.com/2565652/64510758-8ad6ef00-d2eb-11e9-956a-ff854f0f794c

[2019-09-09 07:26] atorok commented on #46091
On a side note, running on a local ssd saves ~5 minutes of build time (  ~ 16% )

[2019-09-09 07:34] godlockin opened #46479 "ilm time operations' formula not support month or longer time range"
ES 6.7.2/6.8/7.3
Systen: Mac/CentOS

actually i think the env stuffs doesn't matter.

I read the guide and source code of indices life management, the min_age field is only supporting form nanosecond to day...

It means, it means if I need to rolling retire some indices, e.g. every month .etc, I ganna build my own script to "manually" retire the indices then.

Can the normal time operations be sup

[2019-09-09 07:40] luyuncheng commented on #17493
if there is a master leave but cluster settings not changed, what if changed the cluster block level into METADATA_WRITE?
I wonder whether a data node can continuously write when only change the leader without metadata changed.

[2019-09-09 07:41] elasticmachine commented on #46479
Pinging @elastic/es-core-features

[2019-09-09 07:46] atorok commented on #46091
I'm also running some tests on a ramdisk.
With how CI is structured currently we could probably switch to a ramdisk as well and it might be easier to set up too

[2019-09-09 07:46] przemekwitek commented on #45787
The failures did not reoccur since 30th of August which suggests the fix worked properly.

[2019-09-09 07:50] atorok commented on #46091
Builds on a ramdisk save ~ 7 minutes ( ~ 23% ) and have the advantage of competently eliminating disk io from the equation.

[2019-09-09 07:59] henningandersen commented on #46091
That sounds great and a good solution for PR and intake builds.

I wonder if it would make sense to still keep some jobs running against SSDs to ensure that we also run our integration tests against storage with less predictable and slower timings. For instance `testAckedIndexing` might behave less chaotic on RAM disk vs. SSD and this could be a problem towards relying on the result of such tests.

[2019-09-09 08:07] droberts195 commented on #46091
I agree it would be dangerous for _all_ of Elasticsearch CI to run against RAM disks.  We could end up shipping software that regularly failed with the sort of storage that everyone in production will be using.

[2019-09-09 08:52] ruflin commented on #33267
Mentioning https://github.com/elastic/kibana/issues/44955 and https://github.com/elastic/kibana/issues/35481 from the Kibana side here is I think having this concept could simplify things on the Kibana side.

[2019-09-09 08:57] ruflin commented on #44298
I can't speak for the Kibana team but I think both approaches could work. The part I like about the approach proposed by @jpountz is that it seems to be just an extension of the existing Metadata about the field and it works not only for alias.

[2019-09-09 09:08] atorok commented on #46091
We have an OS comparability matrix. I think that would be the right place to keep running against real disks and with minimum optimization ( possibly at lower parallel levels ).
Most of the other tests could continue to use it, but I'm working to enable it only for runs that use `--parallel`, so right now that will be intake and pr against master only.

[2019-09-09 09:15] atorok commented on #46091
I'we been running `checkPart1` in a loop for the past couple of hours now and it doesn't seem like IO is  being saturated. There seems to be short peaks, but nothing that would suggest it was saturated for multiple seconds.
This seems to happen much more on ubuntu than on centos ( out  of 50 failures only one was on centos ) so it's not out of the question that something ( e.x. checking for update

[2019-09-09 09:17] atorok commented on #46091
@mark-vieira I'we ran without the Gradle cache enabled in my tests, would you imagine it adds significant IO overhead ?

[2019-09-09 09:19] DaveCTurner commented on #17493
@luyuncheng this issue was closed over 3 years ago, so this isn't a good place to ask a question like yours. I see you've asked the same question on another closed issue too. I recommend not doing this. If you would like to discuss your question, please open a thread on the [discussion forum](https://discuss.elastic.co/c/elasticsearch) instead.

[2019-09-09 09:19] DaveCTurner commented on #26992
@luyuncheng this issue was closed nearly 2 years ago, so this isn't a good place to ask a question like yours. I see you've asked the same question on another closed issue too. I recommend not doing this. If you would like to discuss your question, please open a thread on the [discussion forum](https://discuss.elastic.co/c/elasticsearch) instead.

[2019-09-09 09:36] luyuncheng commented on #17493
@DaveCTurner Sorry about this, I opened a new thread on the discussion forum: [Link](https://discuss.elastic.co/t/how-about-force-change-clusters-elected-master-node/198648)

[2019-09-09 09:40] suikammd opened #46482 "BUG: use a single trie for all methods"
ES 6.x version use a single trie for all methods which results to covering the already registered handler params. ex
I have two methods : `POST /events/{id}`, `GET /events/{name}`, after registering the `POST` becomes `/events/{name}`.
check `insertOrUpdate` in [https://github.com/elastic/elasticsearch/blob/5436581f696ce27513266090965afc824df76175/server/src/main/java/org/elasticsearch/common/path

[2019-09-09 09:40] original-brownbear commented on #46091
Fine by me to go back to `30s` (could even go lower to like `20s` since we have a bunch of spots where the internal timeouts are `30s` for master operation and `30s` is literally the hardest to interpret value IMO).

[2019-09-09 09:47] henningandersen commented on #46091
I would prefer to disable retries when reverting to 30s, that would make it a much more clean failure. I think pushing for a lower timeout limit is asking for extra trouble at a time when we do not need it (now), we can pursue that at a different time (if at all), once this is all resolved.

[2019-09-09 09:52] atorok commented on #46091
I started running  with `-Dscan.capture-task-input-files --build-cache`  and got 2 failures on the first try ( this is the same hash that has not failed in the past 4 hours ).  Strangely the GCP console stopped updating at the same time so not sure where we stand on the disk io.

Also  running on a ramdisk doesn't seem to yield significant savings ( ~ 3 minutes or less)  in CI (tested in a local C

[2019-09-09 10:05] astefan commented on #40241
master (8.0.0): https://github.com/elastic/elasticsearch/commit/cb92828e8ec9d9d241bd6189e5835fd99f8b9a44
7.x (7.5.0): https://github.com/elastic/elasticsearch/commit/7cf100ba071576c089605e6cc83f3466f4d32ef1
7.4 (7.4.1): https://github.com/elastic/elasticsearch/commit/41414e10ca81cda1f8c05dcf23f0c57fdbf83e91
7.3 (7.3.3): https://github.com/elastic/elasticsearch/commit/49d21070620d98ccd85411a625bfd6

[2019-09-09 10:07] astefan commented on #46381
master (8.0.0): https://github.com/elastic/elasticsearch/commit/a6152f42a47a1ccd668e5892778c8bd2d3a78c4c
7.x (7.5.0): https://github.com/elastic/elasticsearch/commit/7b26a8c041838da9c3160cbbff46ea39a90b1420
7.4 (7.4.1): https://github.com/elastic/elasticsearch/commit/016241c49482c7e139833f8ce898a4408371d989
7.3 (7.3.3): https://github.com/elastic/elasticsearch/commit/7074bfbbc299e35e1aeae1cf5d2b70

[2019-09-09 10:57] henningandersen commented on #46482
Hi @suikammd ,

you are right, this looks suspect. It can be worked around by using the same wildcard name (which would typically also be desirable?).

I think a check that the namedWildcard is identical should be established (and throw if not), let me know if you have comments to this?

[2019-09-09 11:02] atorok commented on #46091
Another thing to point out is from the GCP:

Looking at build-stats the problem only started appearing on the 8th of August .
The disk size was reduced on the 2th og august in elastic/infra@44757b9f94 and we added `-Dscan.capture-task-input-files` on the 15th  and have a big spike in number of failures on that day.

My working theory is that these two actions combined degraded the disk performance

[2019-09-09 11:05] atorok commented on #46091
@mark-vieira if Gradle writes anywhere besides the project directory for the caching we should add that to the ramdisk too.

[2019-09-09 11:07] atorok commented on #46091
The tests I ran weren't quite representative unfortunately as the script I use was not updated and was using a `300` GB disk , double than what CI uses at `150GB`

[2019-09-09 11:08] droberts195 commented on #46014
There is a variation on this in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/os=windows-2019/129/console

[code]

In this case the process that's stopping the files being deleted is the ML controller process.

Doing a `TerminateProcess` on the ES JVM will not instantly kill the controller.  Instead the controller notices that its stdin has bee

[2019-09-09 11:34] atorok commented on #46091
After looking at the docs for `scan.capture-task-input-files`  it doesn't seem to do anything that would be too IO intensive and running a test confirms that so not sure what caused the spike that day, maybe just  degraded disk IO  on GCP that day ? The commit seems to be a coincidence.

[2019-09-09 11:40] droberts195 commented on #46230
Now that `testThatHttpFailsWithoutSslClientAuth` is muted the failure has moved on to a different test in the same suite: `testThatHttpWorksWithSslClientAuth`

This failed in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/199/console with the error `cluster failed to form with expected nodes`.

Some possibly interesting exceptions from the [test

[2019-09-09 11:41] csenol commented on #45243
@mayya-sharipova Thanks for reply but I think this limits the usage of vectors almost into query/vector embeddings. There might be different sorting needs where relevancy score is not needed in the query context.

[2019-09-09 11:48] droberts195 commented on #46014
Another one like the original issue description, i.e. due to `.jar` files rather than the ML controller: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/os=windows-2016/129/console

[2019-09-09 11:53] atorok commented on #46091
#  In summary

- intake and PR checks now run in ramdisks (#14376)
- the disk size in CI was increased back to 350GB (#14379)
- the local gradle cache is moved so it too will be on a ramdisk (#46486)

This should not only make sure performance is back to normal, but it should also give us a speed boost.

[2019-09-09 11:59] atorok commented on #46091
Here's a run on on ubuntu 18. First one is with `scan.capture-task-input-files`, second without.
![ubuntu2](https://user-images.githubusercontent.com/2565652/64528698-d0a6ae00-d311-11e9-8bc6-ab7569518e53.png)
![ubunut1](https://user-images.githubusercontent.com/2565652/64528699-d13f4480-d311-11e9-960d-63439b319aff.png)

It doesn't seem to be worse than the `300GB` disk, possibly because the number

[2019-09-09 12:03] droberts195 commented on #44435
This happened again in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.4+multijob-unix-compatibility/os=opensuse-42-3&&immutable/20/console

[2019-09-09 12:11] atorok commented on #46465
Might be worth looking at this from a different perspective as well: x-pack rolling upgrade takes much longer than other similar tests. We should check if the time it takes is reasonable and perhaps break it up along functional lines if that's indeed the case.

[2019-09-09 12:19] #41721 closed

[2019-09-09 12:36] suikammd commented on #46482
yes, you can avoid these problems by checking the wildcard name conflicts.
I just think the practice in es 5.x is more elegant and reasonable, different methods different tries.

[2019-09-09 12:49] droberts195 commented on #46230
I muted `SSLClientAuthTests.testThatHttpWorksWithSslClientAuth` in 52c709120fc2290074466bbf2f36e83aa90aab2b as it has failed a few times now.

[2019-09-09 13:02] eemelianov opened #46488 "BUG: High Rest Client MultiSearchTemplateRequest ignores HTTP-GET parameters"
**Elasticsearch version** elastic Docker-Image elasticsearch:7.3.0
**High Rest Client version** 7.3.1

**Plugins installed**: []

**Description of the problem including expected versus actual behavior**:
Hight Rest Client maps es-requests to Low Level Rest Client Requests. MultiSearchTemplateRequest is mapped via RequestConverters#multiSearchTemplate, this method is missing the line to add Params

[2019-09-09 13:13] cbuescher commented on #45652
Similar looking issue today (although this failure is in `MlJobIT.testDeleteJobAfterMissingIndex`, not in the method mentioned in the issue title, but the symptom looks close enough) in a build on 7.3 branch:
Build Scans: https://gradle-enterprise.elastic.co/s/nnmkvcz6wpiqk

[code]

[2019-09-09 13:20] henningandersen commented on #46482
Hi @suikammd ,

it relates to #25459 and #24437, where options and error handling was changed to suggest the valid HTTP methods. It also cements that the same resource should be the same resource and use same parameter naming. I think that is a good thing, since using different names could be confusing. The parameter names are documented in the rest-specs (.json) and are likely used in client side

[2019-09-09 13:38] #46425 closed

[2019-09-09 14:01] #46443 closed

[2019-09-09 14:03] tlrx commented on #46443
Thanks @polyfractal !

[2019-09-09 14:08] felixbarny commented on #46119
ECS specifies [`service.name`](https://www.elastic.co/guide/en/ecs/current/ecs-service.html) and `service.id`. In the docs, it says this:

[2019-09-09 14:14] henningandersen commented on #46488
@eemelianov , thanks for reporting this, I opened #46492 to fix this.

[2019-09-09 14:14] elasticmachine commented on #46488
Pinging @elastic/es-core-features

[2019-09-09 14:15] elasticmachine commented on #46482
Pinging @elastic/es-core-infra

[2019-09-09 14:16] hub-cap commented on #40534
Just an fyi, I do not think we will be doing this for now, see https://github.com/elastic/elasticsearch/issues/31065#issuecomment-396360557 for more information.

[2019-09-09 14:37] itiyamas commented on #40450
Hi,

There is another catch to this. [IndexingMemoryController](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/indices/IndexingMemoryController.java) reduces the total number of indexing threads per shard to 1, in order to throttle indexing when it breaches 1.5 times of indexing buffer. It starts limiting the indexing rate starting with the shard with l

[2019-09-09 14:57] ChadTaljaardt commented on #43319
@jasontedor Is there a related issue tracking this problem that i can view?

[2019-09-09 15:00] suikammd commented on #46482
thanks, I understand. The current practice seems more restful...

[2019-09-09 15:05] agonzalezgaliana opened #46497 "Unable to start ES service when Windows username contains single quote"
**Elasticsearch version**: 6.6.0

**Plugins installed**: None

**JVM version**:

Private JRE:
java version "1.8.0_172"
Java(TM) SE Runtime Environment (build 1.8.0_172-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.172-b11, mixed mode)

**OS version**:

Windows 10 64bit

**Description of the problem including expected versus actual behavior**:

We've received some reports from the field that the

[2019-09-09 15:11] elasticmachine commented on #46497
Pinging @elastic/es-core-infra

[2019-09-09 15:12] jasontedor commented on #43319
@ChadTaljaardt That's a great point. We have an internal issue for tracking this across our stack as we iterate on progress on this, let me open an issue for public consumption though, so that you can at least get notified when we think we have solved the problems for Elasticsearch.

[2019-09-09 15:20] jasontedor opened #46498 "Notarize macOS artifacts for macOS Catalina readiness"
macOS Catalina is the next major release of macOS, expected in September/October 2019. Catalina will [require applications distributed outside of the Mac App Store to be signed and notarized](https://developer.apple.com/documentation/security/notarizing_your_app_before_distribution). For Elasticsearch specifically, this requires that:
 - the bundled JDK be signed/notarized
 - we handle that JNA ex

[2019-09-09 15:20] elasticmachine commented on #46498
Pinging @elastic/es-core-infra

[2019-09-09 15:21] jasontedor commented on #43319
@ChadTaljaardt I opened #46498.

[2019-09-09 15:23] ChadTaljaardt commented on #43319
Thanks @jasontedor

[2019-09-09 15:32] jasontedor commented on #34085
@jakelandis Can you clarify why we would want to go async here? I would expect calculating the fingerprint to be fast, and not worth context switching off the processing thread?

[2019-09-09 15:48] dakrone opened #46499 "SLM metadata incorrects skips parsing operation mode"
In `SnapshotLifecycleMetadata` the XContent parser skips adding a parser for the operation mode. This causes the following exception on startup:

[code]

And prevents the node from starting.

[2019-09-09 15:48] elasticmachine commented on #46499
Pinging @elastic/es-core-features

[2019-09-09 15:55] #46205 closed

[2019-09-09 16:14] kkewwei commented on #46040
I adjusted it.  Usually I set the `node_concurrent_incoming_recoveries ` and `node_concurrent_outgoing_recoveries ` to be 50 or bigger to recovery faster when a node left the cluster and rejoins the cluster, it is very common in product. On other hand, when I exclude some node using `cluster.routing.allocation.exclude._ip`, there are hundreds of shards moving to other node at the moment, if we cou

[2019-09-09 16:21] jakelandis commented on #34085
At job-1 we did something similar on high volume ingestion (not to ES) and calculating the hash was by far the most expensive of the transformations applied to the data. Once this is implemented, running this with Rally would be helpful to make that decision.

[2019-09-09 16:30] jasontedor commented on #34085
It might be the most expensive, but that doesn't mean it's so expensive that it needs to be done after a couple of context switches. Recall, the use-case for the hash processor is to anonymize fields like names. Those are not huge fields.

[2019-09-09 16:31] droberts195 opened #46501 "[ML] After 7.3->7.4 upgrade get transforms only shows transforms from 7.3"
(Found by @wwang500.)

1. Install 7.3
2. Create some data frame transforms
3. Upgrade to 7.4
4. Create some more data frame transforms
5. `GET _data_frame/transforms`
6. `GET _data_frame/transforms/_stats`

The problem is that steps 5 and 6 only show the data frame transforms created in step 2.  The data frame transforms in step 4 are invisible to these endpoints.

The root cause of the problem ca

[2019-09-09 16:31] elasticmachine commented on #46501
Pinging @elastic/ml-core

[2019-09-09 16:36] mark-vieira commented on #46465
That's an approach as well. However we decide to chop things up, we should do so in a way that allows us to run them in parallel, which really means more subprojects. One benefit of cutting along the BWC version axis is we know this number increases as a branch lives on, effectively increasing the amount of parallelism over time.

[2019-09-09 16:38] jakelandis commented on #34085
I'm not sure if context switches or cryptographic hashes (for small data) is more expensive. However, I do think we should measure it and let that guide the decision.

[2019-09-09 16:50] DaveCTurner commented on #46040
I am confused, your original post was about performance when these are set to `1`. I'd definitely expect performance issues if you set these to `50` or larger. I recommend leaving those settings at their defaults.

[2019-09-09 16:51] imperio-wxm commented on #29652
+1

[2019-09-09 18:40] mark-vieira commented on #46091
`scan.capture-task-input-files` is mainly only going to affect the size of the build scan payload. It shouldn't incur any additional IO since Gradle has to snapshot input files regardless of whether that option is enabled.

In terms of IO use for the build cache, it's certainly going to increase. For every build cache miss we are going pack the output and ship it up to the remote cache. One thing

[2019-09-09 18:41] mark-vieira commented on #46091
We could potentially help this situation by building all the distributions early via ordering rules.

[2019-09-09 19:37] mayya-sharipova commented on #45243
@csenol

You don't need to include relevancy scores. Here `_score` is the output of the `script_score` which could be just the result of computation from vector functions.

[2019-09-09 19:48] #46482 closed

[2019-09-09 19:58] mayya-sharipova commented on #46471
@suxianbaozi  Thank you for filing this issue.  Indeed the highlighting was not working in `script_score` query. This would be fixed in 7.5.

[2019-09-09 20:05] dakrone opened #46508 "[CI] SLMSnapshotBlockingIntegTests.testRetentionWhileSnapshotInProgress failure on master"
From https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/583/console & https://gradle-enterprise.elastic.co/s/6x67ha6426acy/console-log

[code]

Likely from this exception when trying to kick off the second snapshot:

[code]

My hunch is that the first snapshot has a "SUCCESS" status, but is still present in the cluster state. We should ensure it's no longer present in th

[2019-09-09 20:05] elasticmachine commented on #46508
Pinging @elastic/es-core-features

[2019-09-09 20:36] matriv opened #46511 "SQL: Fix issue with CSV testing regarding timestamp milliseconds"
As seen here: https://github.com/elastic/elasticsearch/pull/46473/files#diff-cf94de789c0241585ea4400a0761e0f9R125 the `.XXX` milliseconds part of the expected timestamp is ignored and currently the work around is to cast the timestamp result columns as string in order to properly assert them.

The issue should be fixed either through `CsvTestUtils` or maybe by patching the 3rd party `csvjdbc` libr

[2019-09-09 20:36] elasticmachine commented on #46511
Pinging @elastic/es-search

[2019-09-09 22:30] mayya-sharipova commented on #9034
@freakingid You explained it right. `_source` is still stored as one binary field in Elasticsearch 6.x and 7.x, and ES fetches the whole `_source` from disk before parsing it as a user requested.  Moreover, on the Lucene side for a single document all stored fields are stored together, so there is NO efficient way to fetch all stored values for a particular field for all documents.

We have plans

[2019-09-10 01:11] jasontedor commented on #34085
I am concerned with spending time on details that are intuitively not expected to be a problem, and that maybe we should only consider if it proves to be a problem in the wild.

[2019-09-10 06:46] #46488 closed

[2019-09-10 07:41] javanna commented on #3861
@dakrone do we have tests for this functionality?

[2019-09-10 07:49] atorok commented on #46091
Looks like there were no failures since introducing the ram disks :tada:

@mark-vieira does the caching implementation push as the build progresses or it's something that happens at the end of the build. It would be nice if there were a way to delay it so it doesn't interfere with it.

[2019-09-10 08:07] henningandersen commented on #46224
The symptom here is the same as in #46091, so closing this issue.

[2019-09-10 08:07] #46224 closed

[2019-09-10 08:09] henningandersen commented on #46021
The symptom here looks sufficiently close to #46091, any objections to closing this?

[2019-09-10 08:12] henningandersen commented on #46301
Given this is only in master intake, I think this was affected by the IO problem described in #46091. Still, the 2s timeout is too aggressive, so will leave open until PR is merged.

[2019-09-10 08:14] henningandersen commented on #46144
The resolution done for #46091 should also ensure this test stays within its 10s limit, so closing this.

[2019-09-10 08:14] #46144 closed

[2019-09-10 08:38] jimczi opened #46523 "Move the state of search requests to the coordinator node"
This is a meta issue to track the tasks to move the state of a search in the coordinator node.
Today the initial phase of any search creates a `SearchContext` on each node that contains a shard selected for the request. This `SearchContext` is then used as a state on each shard for the subsequent phases. This issue proposes to move from a `SearchContext` on each shard to a `ReaderContext` that wou

[2019-09-10 08:38] elasticmachine commented on #46523
Pinging @elastic/es-search

[2019-09-10 08:40] jsanchezs commented on #38454
Any updates on this?

[2019-09-10 08:59] atorok opened #46526 "org.elasticsearch.indices.recovery.IndexPrimaryRelocationIT » testPrimaryRelocationWhileIndexing fails on darwin"
## Example build failure
https://gradle-enterprise.elastic.co/s/gqfaatobjihsg/tests/kyv2y2z3r4v7m-k6caxamfw3ngk
https://gradle-enterprise.elastic.co/s/wxxigl7sdy7zy
https://gradle-enterprise.elastic.co/s/gqfaatobjihsg
https://gradle-enterprise.elastic.co/s/jm4xwpnnsezmo
https://gradle-enterprise.elastic.co/s/jm4xwpnnsezmo
https://gradle-enterprise.elastic.co/s/2qcg42go5eelu
https://gradle-enterpri

[2019-09-10 08:59] elasticmachine commented on #46526
Pinging @elastic/es-distributed

[2019-09-10 09:07] atorok commented on #45917
Failed again on master: https://gradle-enterprise.elastic.co/s/savzjd7eyqdf6/tests/kyv2y2z3r4v7m-fol5ler4lgsjg

[2019-09-10 09:24] atorok commented on #44942
Another one: https://gradle-enterprise.elastic.co/s/b25nyp3zemcxc/tests/g5u3xltc4r2du-tn72fxt3goumw

[2019-09-10 09:41] atorok opened #46528 "org.elasticsearch.smoketest.DocsClientYamlTestSuiteIT » test {yaml=reference/ilm/start-stop-ilm/line_56} fails with expecting STOPPING but was STOPPED"
https://gradle-enterprise.elastic.co/s/qz63x47f55v2m/tests/jbm2x6tnwtxku-ov7tbnxyfm6qe

[code]

Reproduction line:
[code]

[2019-09-10 09:42] elasticmachine commented on #46528
Pinging @elastic/es-core-features

[2019-09-10 09:46] atorok opened #46529 "rolling upgrade fails test {p0=upgraded_cluster/10_basic/Continue scroll after upgrade}"
Example:
https://gradle-enterprise.elastic.co/s/25kkewilzdsps/tests/jyp47bhnp6lbq-mbgvjsajqkfsa

Seems to affect both `7.x` and `master`

[2019-09-10 09:46] elasticmachine commented on #46529
Pinging @elastic/es-search

[2019-09-10 10:36] Mpdreamz commented on #42612
Should we consider defaulting `wait_for_completion` to `false` as a breaking change?

It's a bit trappy in the sense that a client could disconnect and leave the reindex in an unknown state.
TCP disconnection could potentially also be considered a way to cancel to the reindex operation when `wait_for_completion=true` OOTB

[2019-09-10 11:03] atorok opened #46535 "org.elasticsearch.smoketest.SmokeTestMultiNodeClientYamlTestSuiteIT » test {yaml=indices.stats/20_translog/Translog stats on closed indices with soft-deletes}"
https://gradle-enterprise.elastic.co/s/y2nij3c76b5tg/tests/p5swj3yau5og2-73iptvo7b4mae
[code]

[2019-09-10 11:03] elasticmachine commented on #46535
Pinging @elastic/es-core-infra

[2019-09-10 11:38] #46067 closed

[2019-09-10 12:26] #46471 closed

[2019-09-10 12:26] nchouard commented on #46350
If you kick off an update by query task in Kibana with waitForCompletion set to false, you get a task ID. Even when the task is complete, you are able to use that ID to hit that endpoint and receive information about the task. This is very useful information if you have longer running tasks so you can know if it completed successfully on all your documents.

Also, it doesn't make any sense to incl

[2019-09-10 12:33] nchouard commented on #46350
By the way, I found a work around for this. You can use the low level rest client instead, and the task results will be stored.

[2019-09-10 12:42] dawez commented on #28696
It seems that the syntax
`String s = String.format('%010d', new def[] {Integer.parseInt(integerString)});` causes intellij to mark the code [groovy] as invalid.

[2019-09-10 13:08] williamrandolph commented on #46497
@agonzalezgaliana,

Thanks for reporting this issue. I've reproduced it on Windows Server 2019 using a snapshot build of the 7.x branch and Java 12, and the username `wrb's acct'. The only difference from your report is that I got the message `Failed starting 'elasticsearch-service-x64' service` when I ran `bin\elasticsearch-service.bat start`. Otherwise, I'm seeing the same issue in the registry.

[2019-09-10 13:30] #45518 closed

[2019-09-10 13:38] droberts195 commented on #45605
Subsequent updates moved to #46091, so closing this one.

[2019-09-10 13:38] #45605 closed

[2019-09-10 13:39] droberts195 commented on #45805
This is one particular instance of the generic problem of #46091.

[2019-09-10 13:39] #45805 closed

[2019-09-10 13:40] andrershov commented on #45932
Two comments above represent different kind of issues.
As for original issue opened by @mayya-sharipova, I've tried to reproduce the issue with 10K and failed to do so. I've also noticed that the stack trace reported sometimes happens during the test execution, but test passes fine. I've also checked other builds for this error occurrence and this is the only one. Given that it's not reproducible

[2019-09-10 13:40] #45932 closed

[2019-09-10 13:43] elasticmachine commented on #45581
Pinging @elastic/es-core-infra

[2019-09-10 13:44] nikhil-bhat opened #46544 "_field_caps API takes long time (more than a minute) to return results"
**Elasticsearch version** 6.7.2

**JVM version** Java HotSpot(TM) 64-Bit Server VM (1.8.0_172):

**OS version** Linux

**field_caps API takes long time (more than a minute) to return results**:

**Steps to reproduce**:
1.) Index pattern with about 409 matching indices with about 61 fields
2.) curl -XGET https://esurl:9200/indexpattern-*/_field_caps?fields=*
2.) Takes 1 minute 45 seconds to get the

[2019-09-10 13:49] andrershov opened #46545 "Tests are failing with "On Linux and MacOSX fsyncing a directory..." assertion error on pre-7.4 versions"
Sometimes tests on CI fail with
[code]
for example, see https://github.com/elastic/elasticsearch/issues/45932#issuecomment-524683364.
This issue was addressed by @jasontedor here https://issues.apache.org/jira/browse/LUCENE-8843 (there is also similar PR to Elasticsearch codebase by @jasontedor https://github.com/elastic/elasticsearch/pull/42972).
The thing is that the aforementioned Lucene patch

[2019-09-10 13:49] elasticmachine commented on #46545
Pinging @elastic/es-core-infra

[2019-09-10 13:49] #46545 closed

[2019-09-10 14:34] mihai1voicescu opened #46548 "Docker problems exclusively on MacOS"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.3.1

**Plugins installed**: []

**JVM version** (`java -version`): from docker

**OS version** (`uname -a` if on a Unix-like system): MacOS

**Description of the problem including expected versus actual behavior**:
Loading the dump does not work on MacOS with docker, but works on Windows(with docker) and allegedly on Linux as described i

[2019-09-10 14:38] jpountz commented on #38242
Sorry, no ETA at this point.

[2019-09-10 14:41] Vboivin commented on #41274
Is this issue still active? If yes, I'll take it

[2019-09-10 14:56] elasticmachine commented on #46548
Pinging @elastic/es-core-infra

[2019-09-10 15:01] williamrandolph commented on #46497
This appears to me to be an issue in the way Apache Commons Daemon, which we use to install windows services, parses option values. Specifically, there seems to be no way to escape single quote characters for use as literals characters in argument values.

While I work on a better fix, I think the following steps should be an adequate workaround:

1. Create a new temporary directory with no quote

[2019-09-10 15:13] dliappis commented on #46544
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2019-09-10 15:13] #46544 closed

[2019-09-10 15:34] elasticmachine commented on #46535
Pinging @elastic/es-distributed

[2019-09-10 15:39] astefan opened #46551 "SQL: NPE when using CASE WHEN with CASTed returned value"
`SELECT CASE WHEN salary IS NOT NULL THEN CAST(gender AS VARCHAR) ELSE gender END AS x FROM test_emp`

[code]

[2019-09-10 15:39] elasticmachine commented on #46551
Pinging @elastic/es-search

[2019-09-10 15:45] astefan commented on #46259
Issue fixed by https://github.com/elastic/elasticsearch/pull/46421.

[2019-09-10 15:45] #46259 closed

[2019-09-10 15:48] dliappis commented on #46548
Hey @mihai1voicescu

Thanks very much for your interest in Elasticsearch.

This appears to be a user question. I tried the above reproduction steps on macOS: it didn't reproduce and `comment/_mapping` was created correctly.

In fact seeing the error looks as if the application somehow tries to use [types](https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html) so I'd

[2019-09-10 15:48] #46548 closed

[2019-09-10 15:51] dakrone commented on #41274
@Vboivin yep, it's still active, let me know if you need any assistance with it.

[2019-09-10 15:55] dakrone commented on #46021
@henningandersen it does look the same, let's close this for now and we can re-open if it occurs again now that we use ram disks for the CI.

[2019-09-10 15:56] dakrone commented on #3861
@javanna not that I know of, are you concerned about the behavior? We can re-open this to add tests if you'd like?

[2019-09-10 16:05] mark-vieira commented on #46528
Here's another instance of this. Doesn't look like the mute actually worked?

https://gradle-enterprise.elastic.co/s/2dj7prdperjns/tests/failed

[2019-09-10 16:32] mark-vieira commented on #46091
Cache pushing happens at the end of execution of each task, so it happens as the build progresses. Because it's part of task execution it's effectively limited by existing parallelism. With the local cache disabled the additional IO here should be minimal as we've already built the outputs and Gradle streams the result to the remote server. The only IO overhead is in the form of read, and this is

[2019-09-10 16:33] jpountz commented on #20367
I wonder whether there is still a strong need for this now that we support ILM and rollover, which automate management of aliases on time-based indices.

[2019-09-10 16:35] javanna commented on #3861
yea I don't feel like "it should work" is a good resolution to this long standing issue. I am super happy if it's fixed, but I think we should add tests that demonstrate that it is fixed.

[2019-09-10 17:15] henningandersen commented on #42612
@Mpdreamz we discussed this in our weekly sync today. It seems both defaults have benefits. The current default gives the easiest OOTB experience for someone new to ES when playing around with it.

Also, we think we need a strong argument for changing the default, to ensure that we only do breaking changes when necessary. Do you have a good case to present on this?

Notice that part of this projec

[2019-09-10 17:29] vboulaye commented on #45702
Hi,

We are in the process of upgrading our ELK stack from 6.8 to 7.3 and we see exactly the same behaviour.

In our logs the `@timestamps` are very close from each other and we see a huge degradation of the response time on the default query of kibana.
It is 4 to 5 times slower to run the default query ( >30s for the last 7 days.)

I do not have a nice dataset like @brenuart created to reproduce

[2019-09-10 18:02] polyfractal commented on #45702
Thanks for the extra details @vboulaye!  We're actively looking into this issue right now, will update as we diagnose.

Out of curiosity,  would you mind trying those queries again without the `time_zone` parameter.  We've seen performance issues with time zone conversion in the past (https://github.com/elastic/elasticsearch/issues/28727). I don't think that's the case here but it would be good to

[2019-09-10 18:19] brenuart commented on #45702
@polyfractal We did the test with and without timezone with both versions. 7.3 is indeed a few seconds slower when a timezone is set.
But if you look at my original report, the queries we used for testing don’t have this parameter set. This was on purpose to reduce the amount of variable factors in the test case...
Timezone is apparently not the (principal) culprit here.

[2019-09-10 18:33] #37092 closed

[2019-09-10 19:23] original-brownbear commented on #45917
Actually working fix incoming in https://github.com/elastic/elasticsearch/pull/46563 ... :)

[2019-09-10 20:36] #45333 closed

[2019-09-10 20:37] jpountz commented on #44794
I talked with a user who would like this feature this morning. Some data points:
 - they need this feature because they use Kafka in a way that only guarantees at-least-once delivery, so there might be duplicates - I believe this is a common situation
 - ids are computed by a custom data shipper, but it works fairly similarly to Logstash's fingerprint filter
 - at times they also used this to repl

[2019-09-10 20:45] jaymode commented on #46230
There was a [race condition](https://bugs.openjdk.java.net/browse/JDK-8213202) related to this fixed in JDK 12 and JDK 11.0.3. I sampled the failures and the runtime java is adoptopenjdk11 or JDK 11.0.2. I for sure have seen this with JDK 11.0.2, but I am not sure what patch version adoptopenjdk11 would equate to; @jasontedor do you know?

[2019-09-10 20:50] jasontedor commented on #46230
@jaymode OpenJDK 11.0.2 would equate to AdoptOpenJDK 11.0.2 as well.

[2019-09-10 21:11] jaymode commented on #46230
Further digging reveals that `adoptopenjdk11` is most likely not AdoptOpenJDK11 but the base Oracle JDK 11, which would trigger these failures as well.

[code]

[2019-09-10 21:28] original-brownbear commented on #45336
Closing this as duplicate of https://github.com/elastic/elasticsearch/issues/46091 ... same issue, except that the restore operation was rerun as a result of slowness. For now we should be good here with the higher timeout and CI adjustments anyway.

[2019-09-10 21:28] #45336 closed

[2019-09-10 21:45] dschneiter opened #46571 "Scoring description and details for boost inaccurate & incomplete"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 7.3.1, Build: default/tar/4749ba6/2019-08-19T20:19:25.651794Z, JVM: 1.8.0_201

**Plugins installed**: []
none

**JVM version** (`java -version`):
OpenJDK 64-Bit Server VM (build 25.201-b09, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux server1 4.4.0-1090-aws #101-Ubuntu SMP Fri Aug 2 15:21:01 UTC 2019 x8

[2019-09-11 00:53] lcawl opened #46577 "[DOCS] Add missing role attributes in HLRC documentation"
The "role=xpack" attribute is missing from the following sections of the Java High Level REST client documentation (https://www.elastic.co/guide/en/elasticsearch/client/java-rest/master/java-rest-high.html):

- [x] ML APIs: https://github.com/elastic/elasticsearch/pull/46515
- [x] Transform APIs: https://github.com/elastic/elasticsearch/pull/46616
- [x] Rollup APIs: https://github.com/elastic/elas

[2019-09-11 00:53] elasticmachine commented on #46577
Pinging @elastic/es-docs

[2019-09-11 00:53] elasticmachine commented on #46577
Pinging @elastic/es-core-features

[2019-09-11 05:56] agonzalezgaliana commented on #46497
@williamrandolph thanks for taking a look on the issue. I was also thinking on a similar workaround, however I had some doubts on where to create the alternative temporary directory. From the documentation (https://www.elastic.co/guide/en/elasticsearch/reference/master/es-tmpdir.html) it is specified that "This directory should have permissions set so that only the user that Elasticsearch runs as

[2019-09-11 06:20] elasticmachine commented on #46571
Pinging @elastic/es-search

[2019-09-11 06:25] vboulaye commented on #45702
Hi,
I just ran my test query without the timestamp and it is a bit faster, but still above 4s.

[2019-09-11 06:27] tvernum commented on #46232
This isn't going to work. Per the specs `RelayState` may not exceed 80 bytes.
SAML binding spec, section 3.4.3

[2019-09-11 06:46] jkakavas commented on #46232
Good catch Tim ! Link to the aforementioned spec: https://docs.oasis-open.org/security/saml/v2.0/saml-bindings-2.0-os.pdf

[2019-09-11 07:12] azasypkin commented on #46232
That's a bummer, 80 byte RelayState isn't super useful. Looks like some (many?) IdPs (e.g. Auth0) don't enforce this limit though.

[2019-09-11 07:25] vboulaye commented on #45702
Do you think it is worth trying with version 7.2 or is this more likely to be related to the major changes in v7?

[2019-09-11 07:25] jkakavas commented on #46232
Okta doesn't and AFAIK shibboleth will only print a warning about it. The downside of this is that we will be building functionality that explicitly violates the spec and depends on other implementers current leniency which is not to be taken for granted and is not future-proof.

I was digging up some old mailing list threads and it seems that (At least one of) the reason this size limit was added

[2019-09-11 07:29] #45917 closed

[2019-09-11 08:05] azasypkin commented on #46232
Yeah, I agree. We have 80 bytes limit for RelayState and ~4KB limit for all cookies per domain Kibana server relies on. The correct and future-proof solution would probably be to store full URL in ES somehow (option 3 [here](https://github.com/elastic/kibana/issues/18392#issuecomment-523107818)). But the question here is whether Kibana or ES would be the best candidate to do that and how to automa

[2019-09-11 08:25] tvernum commented on #46232
The reason I looked up the spec is because web servers have varying limits on the length of a request line, some as low as 4k.
So, putting aside the spec limit, once you include the rest of the path, and the signature etc, I'm not sure that a 4k redirect URL gives you a lot more space than you had with the cookie.

Have you considered using `localStorage` instead of a cookie? I know Kibana doesn't

[2019-09-11 08:29] jkakavas commented on #46232
We don't keep state at all ( we rely on the caller of the APIs to maintain the request IDs also ) so it would definitely not be preferable to store this in ES.

This is a different use case and this destination URL would be a generic app URL , which is fine. The problem with SP initiated SSO and deep links is that the IDP gets to know potentially private browsing  behaviors of the client ( i.e. `r

[2019-09-11 09:14] azasypkin commented on #46232
It depends, we always encrypt cookie content that quite significantly affects the amount of info we can store there and 4k limit is for all cookies per domain (Kibana uses just one right now, but it can easily be hosted behind a custom path in a domain that is shared with other apps that also can use cookies).

Yes, [we considered `sessionStorage`](https://github.com/elastic/kibana/issues/18392#is

[2019-09-11 09:27] itiyamas commented on #40450
Any updates on this @s1monw

[2019-09-11 10:42] droberts195 commented on #44713
I looked in more detail at https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+default-distro+bwc/BWC_VERSION=6.3.2,nodes=centos-7&&immutable/68/console

The suite timeout is 5 minutes.  The log messages show that no single test stalled for a long time - there are no huge gaps in the client side log messages from the test suite.  It just ran out of time to do all the tests it needed

[2019-09-11 10:47] markharwood commented on #44486
I took another look at this too.
Did not reproduce after many iterations and I also cannot see why indexing would have failed previously (a little worrying).
Maybe this can close now that we have the additional assertion in place to check for indexing failures in the test?

[2019-09-11 11:06] dimitris-athanasiou commented on #29938
Note that the persister in `ml-cpp` expects an `index` but the `CSingleStreamSearcher` does not use the argument. In general, we should maintain control of the index in the java side; c++ should not know which index we're storing the state into.

[2019-09-11 11:11] atorok opened #46590 "Backwards compatibility checks slowed down significantly"
The average yesterady (September 10) was 38 minutes, and Today is went up to 62 minutes.

Here's a  fast build scan: https://gradle-enterprise.elastic.co/s/yeqpcyy4wd3sk/tests
and Here's a slow one: https://gradle-enterprise.elastic.co/s/kvak4k76rgbi6/performance/execution

It seems that the x-pack rolling upgrade tests take much longer to run.

[2019-09-11 11:11] elasticmachine commented on #46590
Pinging @elastic/es-core-infra

[2019-09-11 11:15] dimitris-athanasiou commented on #44713
Thank you for looking into this @droberts195.

Given there aren't many pointers for the ml team to look into for this one, I would kindly ask for help. @original-brownbear Could I please get your opinion about the nature of this failure when you have some time?

[2019-09-11 11:16] atorok commented on #46590
The first commit that was slow is 9e70a8ec5ad207e62dfc2869056a5844a68f54ec which is odd because this one only mutes a test

[2019-09-11 11:28] agonzalezgaliana commented on #46497
Retested by using the proposed workaround, the results are satisfactory.

[2019-09-11 11:33] atorok commented on #45581
Closing as a duplicate of #46091,

[2019-09-11 11:33] #45581 closed

[2019-09-11 11:56] dliappis commented on #45702
@brenuart

We've attempted to reproduce the issue without success.

We used the data sets you provided and @csoulios kindly created a [Rally track](https://github.com/csoulios/date_histogram-benchmark) to help us benchmark the queries. We used a bare metal environment (separate machine for loaddriver and one dedicated node for Elasticsearch). Elasticsearch uses 1G heap, running on Java-12 and in b

[2019-09-11 12:55] #27239 closed

[2019-09-11 13:02] #46501 closed

[2019-09-11 13:20] markharwood commented on #43144
In [this PR](https://github.com/elastic/elasticsearch/pull/43385#issuecomment-511970279) the following comment was made:

They change the IDF scores because deleted documents count towards the size of the corpus in these calculations.
Given that explanation can we assume this is fixed now? (Wasn't reproducing for me with master).

[2019-09-11 13:30] jrodewig opened #46596 "[DOCS] Redesign version compatibility for snapshot/restore"
The current information design for [snapshot/restore version compatibility](https://www.elastic.co/guide/en/elasticsearch/reference/master/modules-snapshots.html#_version_compatibility) is a bit dense and difficult to visually parse.

<img width="742" alt="Screen Shot 2019-09-11 at 9 29 53 AM" src="https://user-images.githubusercontent.com/40268737/64701410-bb975f80-d476-11e9-8015-0fe6e2c22530.png

[2019-09-11 13:30] elasticmachine commented on #46596
Pinging @elastic/es-docs

[2019-09-11 13:38] brenuart commented on #45702
I'll have a look this evening. Stay tuned.

[2019-09-11 14:18] lio-p commented on #44175
One workaround is to move the index in error to a stable state:

`
POST _ilm/move/<index_name>
{
  "current_step": {
    "phase": "hot",
    "action": "rollover",
    "name": "ERROR"
  },
  "next_step": {
    "phase": "hot",
    "action": "complete",
    "name": "complete"
  }
}
`

[2019-09-11 14:34] #46439 closed

[2019-09-11 14:34] #46526 closed

[2019-09-11 15:10] jbonn360 commented on #46350
@nchouard Hmm ok, I'll look into it further then

[2019-09-11 15:17] atorok commented on #46590
@mark-vieira could you please take a look at this ? I didn't get far with it. I was able to replicate it running slow locally, but the commit that was fast in CI seemed slow locally as well, and there don't seem to be relevant changes on the `7.x` branch either in that time-frame.

[2019-09-11 15:27] #46551 closed

[2019-09-11 15:54] #46528 closed

[2019-09-11 16:57] dakrone commented on #46479
@godlockin I'm not sure I understand, is there a reason you don't want to do `30d` as your time range?

[2019-09-11 16:58] brenuart commented on #45702
I'm back with the results... and of course, I could **NOT** reproduce the issue with your rally challenge... Same conclusion as yours: 7.3 is faster!

I looked at the differences between your test and ours and noticed that our query for 7.3 is slightly different: it makes use of `fixed_interval` instead of `interval`. I missed that point earlier - sorry about that. To make it clear, the query for

[2019-09-11 17:35] #46276 closed

[2019-09-11 17:46] polyfractal commented on #45702
Hm interesting, the fixed/calendar interval change _theoretically_ should have been equivalent to the now-deprecated `interval` (it's using the same parsing as before, just more explicit).  I wonder if we're doing extra/unnecessary parsing somewhere that's leading to a slowdown.

One question though @brenuart.  The interval `"3h"` shouldn't be valid for calendar intervals.  E.g. `calendar_interval

[2019-09-11 17:54] rjernst commented on #46378
We already have different tests for oss vs default distribution. The tests here are specifically to make sure the oss tests (those in `qa/`) *also* work with the default distribution. I'm hesitant to make the qa/ projects more complex to have additional subprojects for that purpose. Can you expand on the problem trying to be solved here? IIRC the CI job testing this only runs under qa/, so we don'

[2019-09-11 17:55] #45866 closed

[2019-09-11 17:57] brenuart commented on #45702
Oh god - sorry once again. Wrong copy/paste in the example query above.
I used `1d` for interval - just like your own tests.

PS: I updated the query above to avoid confusion.

[2019-09-11 18:08] matriv commented on #46551
`master` : 291017d69dfc810707c3c7c692f5a50af431b790
`7.x` : 0963e78164c46eb625a35a480f5bb8b3b00e86fa
`7.4` : 1e143f63cbb9ad39097e9bb1ff1cbe16b57c8fd8
`7.3` : 2afb7cf52c4aca6c492db88306cd40aa804a13e3
`6.8` : cb56550d26ac45dc53249f909058c12566f3a24b

[2019-09-11 18:09] #46319 closed

[2019-09-11 18:18] matriv opened #46632 "SQL: Extend DATE_TRUNC to also operate on intervals"
According to the PostgreSQL spec the DATE_TRUNC's 2nd argument can also be an interval: https://www.postgresql.org/docs/9.1/functions-datetime.html#FUNCTIONS-DATETIME-TRUNC
Currently for ES-SQL it only supports DATETIME & DATE.

Follow up to: #46319

[2019-09-11 18:18] elasticmachine commented on #46632
Pinging @elastic/es-search

[2019-09-11 18:19] rjernst commented on #46465
Creating subprojects per bwc version would negate many benefits of task avoidance we would like to achieve. The number of bwc versions to test against is large, and continues to grow as we release new versions.

Since we have the CI bwc matrix, what parallelism do we need here? If it is only for the snapshot versions, perhaps we could do those alone as subprojects. Note that the packaging test sub

[2019-09-11 18:24] matriv commented on #46319
@jbonn360 Once again, thank you for your interest to contribute to our project.
If you'd like you could give a go on a functionality extension of DATE_TRUNC to include intervals: #46632

[2019-09-11 18:30] mark-vieira commented on #46590
I've looked into this. Specifically, it's the `UpgradeClusterClientYamlTestSuiteIT` that is suddenly much slower. Here's a look at BWC builds:

![image](https://user-images.githubusercontent.com/4106672/64724196-df62a180-d486-11e9-9ca6-05d8de1c7f37.png)

One thing that stood out to me was the long build that seemed to proceed the sudden jump in _all_ BWC builds. That build was a PR build for [this

[2019-09-11 18:34] mark-vieira commented on #46465
I'm not sure I follow. How so? We still build each version in a unique workspace. This wouldn't change. Only the _logical_ project structure would.

This is a great idea. This is specific to the snapshot version builds which run in a single execution (intake, pr builds). That would make things simpler since those versions are "static" in the sense that there are at most 3 different variants and we

[2019-09-11 18:35] rjernst commented on #35585
We could do this similar to how we alter the distribution tested for qa projects, by having a setting on the testcluster that changes how the node is shutdown, and changing that in a dedicated CI job for the bwc tests. I would be happy with this if we only tested CURRENT -> CURRENT for the alternate shutdown method, so the dedicated CI job should run fast.

[2019-09-11 18:37] sentient commented on #14641
The float conversion was working for me in 6.5.4
but I could not get it to work in 7.1.1

using the _ingest/pipeline workound

[2019-09-11 18:40] rjernst commented on #41380
I wonder if we need the test method run to be part of --tests long term. IMO the rest test runner should be essentially running a fixed test method, and the particular "test" that is run should be a separate system property, so we don't have to deal with the weird encoding of test names with special characters that aren't really test methods. Alternatively, if we continue using parameterized tests

[2019-09-11 18:42] matriv commented on #46319
`master` : b37e96712db1aace09f17b574eb02ff6b942a297
`7.x` : d956509394a848f92764e219297e00758b280f50

[2019-09-11 18:53] #43775 closed

[2019-09-11 18:54] mark-vieira commented on #41380
I think this would result in a poor experience in terms of Junit test reporting though. In JUnit a "test" is a test method. If we had a single test case that ran one or more individual YAML tests then in things like build-stats and build scans all test results would be aggregated into a single test case. This would make it really hard to get any kind of useful metrics on individual test cases.

[2019-09-11 19:54] mark-vieira commented on #46590
So locally I could reproduce this running `clean :x-pack:qa:rolling-upgrade:v8.0.0#bwcTest`.

https://github.com/elastic/elasticsearch/commit/043f1d41a8e5dcb1b4d526927ee6c9881c595bc2 - 17m
https://github.com/elastic/elasticsearch/commit/e5ab12b9ab4c853ac4b57f7a74313aed5bb7822f - 29m

[2019-09-11 20:05] jasontedor commented on #46535
I also muted this in 7.x in 27da0ea603eb54aa7647e79b57862c2eac7ed16e.

[2019-09-11 20:06] jasontedor commented on #46535
And I muted this in 7.4 in 34f5abbf63ac1e7d8bfe3844a3b2ce27d9f0a2b1.

[2019-09-11 20:11] williamrandolph commented on #46497
@agonzalezgaliana

I've raised the issue on Apache Commons Daemon mailing list to make sure that I've understood their code correctly. If there is a way to escape the single quote character, I'll use this ticket to fix it. If not, I will file an enhancement request with the project.

I suspect that there are a few more steps required for setting the correct accessibility level; however, I believe

[2019-09-11 20:14] inqueue opened #46635 "[DOCS][release notes] term dict memory usage is a 7.3.0 enhancement, not 7.2.0"
7.2.0 release notes mention this change:

`Use reader attributes to control term dict memory useage #42838 (issue: #38390)`

https://github.com/elastic/elasticsearch/pull/42838 was originally labeled 7.2.0. The change was not committed until 7.3.0.

Please correct the release notes for [7.2.0](https://www.elastic.co/guide/en/elasticsearch/reference/current/release-notes-7.2.0.html) and [7.3.0](htt

[2019-09-11 20:14] elasticmachine commented on #46635
Pinging @elastic/es-docs

[2019-09-11 20:40] jasontedor opened #46636 "Add task to ensure the yaml tests parse"
We should add a task, that `precommit` depends on, that ensures that all REST tests parse. This would catch issues where we are muting REST tests. Today we have a `test-mute` label to quickly get these mutes in via PRs, and that only runs `precommit`, but `precommit` wouldn't catch these issues today since it doesn't parse the REST tests.

[2019-09-11 20:40] elasticmachine commented on #46636
Pinging @elastic/es-core-infra

[2019-09-11 21:15] dakrone commented on #46499
This has been resolved in #46500

[2019-09-11 21:15] #46499 closed

[2019-09-11 21:27] mark-vieira opened #46638 "Restructure intake CI jobs to first run "preCommit""
As [discussed in Slack](https://elastic.slack.com/archives/C0D8ST60Y/p1568236601399700) it would probably make sense for us to setup our current multijob intake build as a pipeline (whether this is implemented using Jenkins pipelines or some other mechanism is TBD) such that we run `precommit` and _then_ run all of our testing. This has a few benefits:

1. This actually optimizes build cache effic

[2019-09-11 21:27] elasticmachine commented on #46638
Pinging @elastic/es-core-infra

[2019-09-11 21:52] vboulaye commented on #45702
I made some tests on my side with the various types of interval.

on the 7.3:

for a  `1d` interval:
- interval (calendar_interval according to the doc) => 900ms
- calendar_interval => 900ms
- fixed_interval => 4000ms

for a  `3h` interval:
- interval (fixed_interval according to the doc) => 4600ms
- calendar_interval => error
- fixed_interval  => 4600ms

for a  `24h` interval:
- interval (fixed_i

[2019-09-11 23:25] rjernst commented on #46636
I wonder if we could do this indirectly by changing rest tests to be generated java, so that instead of running parameterized junit, each test file is a generated junit suite. This would also solve the repro line problem in https://github.com/elastic/elasticsearch/issues/41380.

[2019-09-11 23:46] malpani opened #46641 "Feature Request - query/fetch/scroll failure count stats"
**Describe the feature**:
Today there are helpful shard level search stats on `query_total`/`fetch_total` etc. Can we augment it with failure stats as well eg. `query_failure_total`; `fetch_failure_total` etc?

Is there any other existing way to already get shard/search failure rates except tracking it on the client side?

[2019-09-11 23:54] jtibshirani commented on #23306
@javanna we are in agreement, my explanation above was just confusing :) I opened #46640 to add support for aliases, and included a couple open questions to the the PR description.

I am not sure of the best way forward in terms of the other discrepancy (where the `indices` query avoided parsing its subqueries unless they matched the current index). I'll mark this for discussion internally and fol

[2019-09-12 00:04] #46577 closed

[2019-09-12 00:06] markhuds commented on #42326
@mayya-sharipova are you interested in using existing commodity approximate nearest neighbors implementations or implementing an algorithm from scratch? Annoy is a simple to use, simple to tune library created by spotify to perform ann search from an index stored on disk. It indexes vectors with integers which I think you also do behind the scenes. It looks like they also have java bindings so it

[2019-09-12 00:23] cjcenizal commented on #46357
I'm caught up on this discussion now, and I'm inclined to agree with @DanRoscigno.

As Lee touched upon, users hear "phase" and think about the stages in the Index Lifecycle Policy form, and reasonably form a mental model of an index moving from phase to phase -- but always being _in_ a phase. Engineers hear "phase" and think of the actions a lifecycle policy takes upon an index within a particula

[2019-09-12 00:35] coolacid commented on #24472
Can we get an update on this issue? We're now moving to docker based builds with 3+ instances per server causing this to be even more pronounced.

[2019-09-12 00:46] cjcenizal commented on #46357
Issues: https://github.com/elastic/kibana/issues/45484
PR: https://github.com/elastic/kibana/pull/45486

[2019-09-12 01:07] mayya-sharipova commented on #42326
@markhuds Thanks for your suggestion. We are currently evaluating different ann approaches based on the performance but also based how they fit into our elasticsearch/lucene infrastructure.  We have considered spotify annoy's approach as well. We still need to make a decision.

We are interested in your use case for the ann search.  For what use case have you found annoy compelling?

[2019-09-12 02:19] jamesspi commented on #44970
@spinscale this is still persistent in `7.3.2`.

[2019-09-12 02:58] LiuZeng520 opened #46643 "Setting the refresh_interval parameter failed"
I want to set:
"refresh_interval" : "5s"

I used the put method:
_all/_settings { "index" : { "refresh_interval" : "5s" } }

But it returned 405
![image](https://user-images.githubusercontent.com/43592564/64750584-0505ae80-d54c-11e9-8472-2056c6886fea.png)

[2019-09-12 02:59] LiuZeng520 commented on #46643
I hope someone can help me, thank you very much.

[2019-09-12 06:21] elasticmachine commented on #46641
Pinging @elastic/es-core-features

[2019-09-12 06:23] jimczi commented on #46643
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the Elasticsearch forum. If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

Regarding your issue the error message says that you should use `POST` and not `PUT` to update a

[2019-09-12 06:23] #46643 closed

[2019-09-12 06:37] YasiruDev opened #46645 "Exception in thread “main” java.nio.file.AccessDeniedException while run ./bin/elasticsearch"
I'm trying to install ElasticSearch in to my server.When i run ./bin/elasticsearch got bellow error

[code]

**Inside Elasticsearch directory :**

[code]

ElasticSearch : 7.3.1
Java : 11.0.4

[2019-09-12 06:41] spinscale commented on #44970
the fix has been backported to 7.4.0 and above only (the labels on the PR the correct ones)

[2019-09-12 06:53] jimczi commented on #46645
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2019-09-12 06:53] #46645 closed

[2019-09-12 07:11] #46535 closed

[2019-09-12 07:48] javanna commented on #45808
This has been addressed, requests cancellation has been backported. Closing.

[2019-09-12 07:48] #45808 closed

[2019-09-12 08:35] bizybot opened #46646 "Remove API key name uniqueness constraint across active API keys"
When API keys were introduced they were primarily driven by Hadoop ES use case. Naming an API key was a nice to have feature but got preemptively built with constraints like it being unique across active API keys.

The current design does not guarantee this behavior as when we create an API key we do not `refresh` index immediately (the default is `wait_for`) and so it is not available when creati

[2019-09-12 12:50] jasontedor opened #46665 "API to pause auto-follow patterns"
When using a bi-directional cross-cluster replication scheme, the supported method of upgrading the two clusters is to [pause index following, and then perform a rolling upgrade on both clusters](https://www.elastic.co/guide/en/elastic-stack-overview/current/ccr-upgrading.html#_bi_directional_index_following). However, while performing these upgrades, auto-follow patterns could continue to run cre

[2019-09-12 14:52] astefan opened #46674 "SQL: incompatible types when using conditional functions"
[code]

Will generate an error like `2nd argument of [IFNULL(date, {d '2010-04-12'})] must be [datetime], found value [{d '2010-04-12'}] type [date]` which, while true, there shouldn't be a strict compatibility check between `date` and `datetime` field types.

[2019-09-12 15:47] gregwjacobs opened #46678 "7.3.1 master only nodes (not as as ingestion nodes) receive java.lang.NullPointerException / HTTP 500 error during _BULK operations from filebeat"
**Elasticsearch version** (`bin/elasticsearch --version`):
[code]
**Plugins installed**: []
[code]

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

** Filebeat version **  (while the issue seems Elasticsearch centric noting version of filebeat for repo )
[code]

**Description of the problem including expected versus actual behaviour**:

When

[2019-09-12 18:30] jrodewig opened #46683 "Reuse ES glossary definitions in Stack Docs glossary"
Add tagged regions to [ES definitions](https://www.elastic.co/guide/en/elastic-stack-glossary/current/terms.html) and include those tagged regions in the [Stack Docs glossary](https://www.elastic.co/guide/en/elasticsearch/reference/current/glossary.html).

[2019-09-12 20:59] jrodewig opened #46687 "[DOCS] Use shared "stack" version file in elastic/docs for docs version bumps"
As part of every release, ES tech writers or the docs release manager must update version-related attributes in two separate files:

- A [stack version file](https://raw.githubusercontent.com/elastic/docs/master/shared/versions/stack/master.asciidoc) in the elastic/docs repo
- The [`$ES_REPO_ROOT/doc/Versions.asciidoc` file](https://raw.githubusercontent.com/elastic/elasticsearch/master/docs/Versi

[2019-09-13 07:03] albertzaharovits commented on #41910
Thanks for looking into it @bytebilly !

Good to hear that.

As far as "passwords" are concerned I think they should reside in the keystore **only**. Subsequent iterations on this feature could "source" the secret to seed the KEK from external systems, but in this case I think it makes more sense to get the actual KEK, and not do any alterations to that.

Note that the current design aims for a si

[2019-09-13 07:37] tlrx commented on #45652
@benwtrent Can you please provide a reproducing scenario with cat/indices that returns a 404?

[2019-09-13 07:40] vaibhavkhanduja commented on #46395
@spinscale can I take a look at this bug? It is marked as good first issue and I want to start contributing.

[2019-09-13 07:44] vaibhavkhanduja commented on #45523
@astefan Can I take a look at this? I want to start contributing to elastic search

[2019-09-13 08:10] pgomulka commented on #45523
@vaibhavkhanduja you are most welcome to start working on this. Ping us when you have a PR ready

[2019-09-13 08:11] pgomulka commented on #9669
closing as this is being supported by x-opaque-id

[2019-09-13 08:11] #9669 closed

[2019-09-13 08:18] bytebilly commented on #46646
@bizybot if I get the context correctly, the uniqueness is about the `name` property of the API key (not the `id`). The following considerations are assuming this is correct.

From a technical point of view, having the `name` field unique is not a strict requirement, since we already have the `id` field that guarantees we can distinguish two keys with the same name.

In my opinion, the problem ari

[2019-09-13 08:27] pgomulka commented on #26836
we added `x-opaque-id` to JSON deprecation logs, which are enabled by default.
This however still does not indicates where in code this deprecation happened.
So for instance if `X-Opaque-Id` is provided as a header in a request
[code]
{
  "type": "deprecation",
  "timestamp": "2019-09-13T10:25:32,807+02:00",
  "level": "WARN",
  "component": "o.e.d.r.a.a.i.RestCreateIndexAction",
  "cluster.name":

[2019-09-13 08:32] hendrikmuhs opened #46694 "[Transform] Can not group_by on field alias"
found by @wwang500

If group_by or certain aggregations use field aliases the mapping deduction does not resolve the alias to a concrete type but tries to create another alias in the destination index. As a result of wrong deduction the transform will fail on start when trying to create the destination index, see error below.

**Workaround 1**: Use the concrete fieldname instead of the alias
**Wor

[2019-09-13 08:32] elasticmachine commented on #46694
Pinging @elastic/ml-core

[2019-09-13 08:34] pgomulka commented on #46106
This is a really cool idea. We were looking into this together with @ycombinator and @nik9000 to possibly start a filebeat that would consume ES logs and upload them back to an index.
The solution was proposed a while back here https://github.com/elastic/dev/issues/731

[2019-09-13 08:41] pgomulka commented on #44537
Hey @hufuman , that sounds like an interesting idea
so if I understand correctly CodeA & CodeB will result in the same hash ? but Code C will ahve a different hash?
Have you considered using `X-Opaque-ID` as a header being part of you query?
https://www.elastic.co/guide/en/elasticsearch/reference/7.4/index-modules-slowlog.html
This  should also be available in 7.3, I will improve the docs

[2019-09-13 08:45] pgomulka commented on #42746
@yaronp68 I totally missed this issue - I have slightly improved the docs on slowlogs and deprecation
https://www.elastic.co/guide/en/elasticsearch/reference/7.4/index-modules-slowlog.html
deprecation section:
https://www.elastic.co/guide/en/elasticsearch/reference/7.4/logging.html
Let me know if that is good enough? Can we improve?

[2019-09-13 09:31] xavierfacq commented on #46370
Hi @jakelandis , thank you for you feedback. I tried to test accross versions with Java client 7.3.0 and server 6.6.1, but there is an unsupported option, it's not a surpise  :-( I am trying to disable this version but no success.

`_search contains unrecognized parameter: ccs_minimize_roundtrips`

I 'll try to find a way to test with a server having the same version, in 7.3.0

[2019-09-13 09:35] jbonn360 commented on #46350
@nchouard You're right, I took another look at this and it looks like the exception when fetching the task is thrown because the high level client sets wait_for_completion to true and therefore no task result is created.

@hub-cap Should I add support for wait_for_completion being false to HLRC's UpdateByQuery API? Similar to how it was added to the Reindex API in #35202?

[2019-09-13 10:07] sachinfrayne opened #46695 "Emphasize keyword over fielddata as a solution to aggregating or sorting on String fields"
Change the order of the fielddata error message to emphasize keyword as the preferred solution rather than as an alternative for the majority of cases where a user has mapped the field to the `text` dataType but had the intention of using that field instead for aggregations and/or sorting.

[code]

[2019-09-13 10:10] elasticmachine commented on #46695
Pinging @elastic/es-search

[2019-09-13 10:23] crakerkai opened #46696 "The index pattern syslog-pfsense-* does not contain any of the following compatible field types: geo_point"
Hi Everyone,

Today, I try to create Coordinate Map but unsuccessfully, this issues is describe in below
![image](https://user-images.githubusercontent.com/16294734/64855474-29e04b80-d64a-11e9-93a6-705f9460a791.png)
And this is parsing rule in logstash
![image](https://user-images.githubusercontent.com/16294734/64855773-d02c5100-d64a-11e9-8732-2abda7c3bef8.png)
Please help me to fix issue in order

[2019-09-13 10:31] przemekwitek opened #46698 "Execution failed for task ':qa:rolling-upgrade:v6.8.4#twoThirdsUpgradedTestCluster#wait'."
[code]

Reproduces locally with:
[code]

Build
Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.4+EAR/13/console
Build Scans: https://gradle-enterprise.elastic.co/s/uicivttvur5hghttps://gradle-enterprise.elastic.co/s/zng2dqwa5hl5uhttps://gradle-enterprise.elastic.co/s/ygfslicsf6hfg

[2019-09-13 10:44] markharwood commented on #46696
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.
The Kibana or logstash forums may be more relevant than elasticsearch in this ca

[2019-09-13 10:44] #46696 closed

[2019-09-13 11:27] przemekwitek opened #46699 "Two test cases from org.elasticsearch.xpack.sql.qa.single_node.JdbcResultSetIT suite failed"
2 test cases (testGettingInvalidShort, testGettingInvalidByte) have failed around the same time on 6.8 build.

[code]
[code]

Does not reproduce locally.

Build | 20190913071905-CB0B9CC0
Log | https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=zulu11,nodes=general-purpose/201/console
Build Scans | https://gradle-enterprise

[2019-09-13 11:28] elasticmachine commented on #46699
Pinging @elastic/es-search

[2019-09-13 11:28] elasticmachine commented on #46698
Pinging @elastic/es-core-infra

[2019-09-13 11:48] przemekwitek opened #46700 "8 test cases failed in 6.8 for target :x-pack:plugin:security:unitTest"
8 test cases failed, none of the failures reproduced locally.

[code]

Build | 20190913055727-2F8885CD
-- | --
Log | https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+EAR/109/console
Build Scans | https://gradle-enterprise.elastic.co/s/qxhihjnrftuxuhttps://gradle-enterprise.elastic.co/s/lb2kpu2frmb6yhttps://gradle-enterprise.elastic.co/s/3ebsd5zdyuaca

[2019-09-13 11:48] elasticmachine commented on #46700
Pinging @elastic/es-security

[2019-09-13 11:58] Vboivin commented on #41274
I do not think I will be able to do it, it can be taken by someone else

[2019-09-13 11:59] droberts195 commented on #39187
The work being done in #46523 to implement #26472 solves this.  Once #46523 is implemented we will need to switch from scroll to `search_after`, but we'll be doing the `search_after` in a point-in-time view, so will be able to use a sort order of (time field, `_doc`) to get a unique ordering.

[2019-09-13 12:02] przemekwitek opened #46701 "org.elasticsearch.indices.stats.IndexStatsIT.testFilterCacheStats failed on master"
The following can be found in logs:
[code]

[code]
[code]

Does not reproduce locally.

Build | 20190913105531-AA62B92F
-- | --
Log | https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/604/console
Build Scans | https://gradle-enterprise.elastic.co/s/pzij6ulgmz4f6https://gradle-enterprise.elastic.co/s/briwqyyrh4l4uhttps://gradle-enterprise.elastic.co/s/2cqozlknuhc4g

[2019-09-13 12:02] elasticmachine commented on #46701
Pinging @elastic/es-core-features

[2019-09-13 12:22] benwtrent commented on #45652
@tlrx the scenario are these tests. They have failed due to this error.

`.ml-notifications` is an index that gets automatically created via an index template, and may be in the middle of being created while `_cat/indices` is called.

The best I can figure out is this:
* Dynamically create an index by indexing a document
* While that is occurring call `_cat/indices` with no parameters (i.e. get al

[2019-09-13 12:31] przemekwitek opened #46705 "org.elasticsearch.xpack.ml.integration.RunDataFrameAnalyticsIT.testStopOutlierDetectionWithEnoughDocumentsToScroll fails on master"
org.elasticsearch.xpack.ml.integration.RunDataFrameAnalyticsIT.testStopOutlierDetectionWithEnoughDocumentsToScroll failed on master:
[code]

The assertion fails during cleanup:
[code]

[code]
Does not reproduce locally.

Build | 20190913073350-B735813E
-- | --
Log | https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/207/console
Build Scans | https://

[2019-09-13 12:31] elasticmachine commented on #46705
Pinging @elastic/ml-core

[2019-09-13 13:51] probakowski commented on #12338
Closing as it is documented in https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-transport.html#_long_lived_idle_connections

[2019-09-13 13:51] #12338 closed

[2019-09-13 14:29] przemekwitek opened #46710 ":plugins:repository-azure:thirdPartyTest failed on master"
[code]

Could not reproduce locally.

Build | 20190913125304-3EB8F04C
-- | --
Log | https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob+third-party-tests-azure-sas/51/console
Build Scans | https://gradle-enterprise.elastic.co/s/lntgd6qrmlwj6https://gradle-enterprise.elastic.co/s/oaun2alxhocry

[2019-09-13 14:43] przemekwitek opened #46712 ":qa:full-cluster-restart FullClusterRestartIT.testRecovery fails"
Likely duplicate of https://github.com/elastic/elasticsearch/issues/31062

The following can be found in the logs:
[code]

[code]

Does not reproduce locally.

Build | 20190913124846-031FFA38
-- | --
Log | https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+bwc/BWC_VERSION=6.0.0,nodes=centos-7&&immutable/118/console
Build Scans | https://gradle-enterprise.elastic.co/s/ijnjpreh5erhc

[2019-09-13 14:45] przemekwitek commented on #31062
It occurred again on 6.8

[2019-09-13 15:15] markharwood commented on #45370
No further feedback received. @kartikchauhan if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2019-09-13 15:15] #45370 closed

[2019-09-13 15:17] markharwood commented on #45229
No further feedback received. @yoshidahiroaki if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2019-09-13 15:17] #45229 closed

[2019-09-13 15:18] markharwood commented on #45273
No further feedback received. @oxozle  if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2019-09-13 15:18] #45273 closed

[2019-09-13 15:29] mark-vieira commented on #45652
We've had a few instances of a similar looking failure for the `testDeleteJob` test as well in the last couple of days.

https://gradle-enterprise.elastic.co/s/i4jrzz5jxishg/tests/zcquf3hc3eoda-negkewcdisf2a
https://gradle-enterprise.elastic.co/s/6kfpqmgpqenjq/tests/zcquf3hc3eoda-negkewcdisf2a
https://gradle-enterprise.elastic.co/s/wu7dcruehjevo/tests/zcquf3hc3eoda-negkewcdisf2a

[2019-09-13 15:30] lcawl commented on #46687
For the record, step 1 is already done.  e.g. https://github.com/elastic/docs/blob/master/shared/versions/stack/6.8.asciidoc

[2019-09-13 15:34] jrodewig commented on #46687
Thanks @lcawl. I'll remove that step from the description.

[2019-09-13 15:53] jrodewig commented on #46705
Had another instance of this:
https://gradle-enterprise.elastic.co/s/zqmybihsdsoro/failure?openFailures=WzBd&openStackTraces=WzFd#top=0

[2019-09-13 15:54] dimitris-athanasiou commented on #46705
You got to love tests! This failure revealed that we are returning the response to the stop API before the task is actually stopped. The progress document is indexed after we returned from stopped and possible called delete and thus delete is missing it. I am working on a fix.

[2019-09-13 16:23] albertzaharovits commented on #46700
[code]
The error logfile is empty.
From https://stackoverflow.com/questions/11801783/resolving-java-result-137/12280456 it looks like this is the exit code for terminating the process by the KILL signal (137 = 128 + 9) (confirmed it).

I surmise that the CI overlords pulled the plug on this one. Closing.

PS buildscan URL is https://gradle-enterprise.elastic.co/s/3ebsd5zdyuaca
 

[2019-09-13 16:23] #46700 closed

[2019-09-13 16:37] dvandersluis commented on #45933
@jtibshirani we updated to 7.3.2 today and I'm monitoring but it appears to have fixed our issue! Thanks!

[2019-09-13 17:46] jrodewig opened #46716 "[DOCS] Relocate Watcher Documentation to ES Ref Guide"
Move Watcher-related documentation from the [Stack Docs](https://www.elastic.co/guide/en/elastic-stack-overview/master/xpack-alerting.html)
to the Elasticsearch Reference Guide.

- [x] Remove content from Stack Overview: https://github.com/elastic/stack-docs/pull/546
- [x] Add content to the Elasticsearch Guide: https://github.com/elastic/elasticsearch/pull/47147
- [x] Add redirects: https://githu

[2019-09-13 17:46] elasticmachine commented on #46716
Pinging @elastic/es-docs

[2019-09-13 17:46] elasticmachine commented on #46716
Pinging @elastic/es-core-features

[2019-09-13 17:53] jrodewig opened #46718 "[DOCS] ES Documentation Roadmap"
A list of action items related to the ES documentation roadmap.

- [x] Move cross-cluster search out of modules section & edit (#45570)
- [ ] Add an introduction to Elasticsearch
- [x] Move CCR into Elasticsearch Reference Guide (#45703)
- [ ] Relocate CCS into search section
- [ ] Revisit the text analysis content and provide more context (#44726)
- [ ] Reconcile the multiple installation section

[2019-09-13 17:53] elasticmachine commented on #46718
Pinging @elastic/es-docs

[2019-09-13 20:51] mark-vieira commented on #46705
And another:
https://gradle-enterprise.elastic.co/s/klrshptyonuxk/tests/zcquf3hc3eoda-so3ayypsxka5i

[2019-09-13 21:53] mark-vieira commented on #46378
This kind of thing is definitely a judgement call. To what degree to we introduce distinct tasks/projects for every variant of testing we perform. An example of this is FIPS, we obviously don't create a second version of every test task for every project simply enables FIPS, instead we use a flag passed to the build.

I think the main objection is that we don't want to use build flags when possibl

[2019-09-13 21:53] shardulsonar commented on #46446
@turackangal Are you still working on this issue. I am ready with the solution.  ?

[2019-09-14 02:43] musteaf commented on #46632
Hi, I would like to work on this issue. Can I take it?

[2019-09-14 04:31] godlockin commented on #46479
@dakrone
in this case, when i use the ilm function, I may want to make some index move hot->warm, warm -> cold ... in 1 month, 2 months .etc

while, as the time calc formula here, I need to calculate the days of 1 month to 30days and set it as 30d in script, and, what i want/need is just set it as 1M/2M .etc as the other time calculations (e.g. time range query), because there aren't 30days in eve

[2019-09-14 07:00] turackangal commented on #46446
Yes, I will finish today.

[2019-09-14 08:40] rajalohiy8 commented on #46632
can I take this issue and work on this?

[2019-09-14 18:20] original-brownbear commented on #46508
Just in case it helps, this line reproduces it for me locally 100% of the time on `master`:

[code]

[2019-09-14 18:22] null-pointer-byte opened #46722 "Invalid '?' in query when using word_delimiter_graph"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 7.3.2, Build: default/tar/1c1faf1/2019-09-06T14:40:30.409026Z, JVM: 12.0.2

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "12.0.2" 2019-07-16

**OS version** (`uname -a` if on a Unix-like system):
Darwin MacBook-Pro.local 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-49

[2019-09-14 19:04] null-pointer-byte commented on #46272
+1 I am also facing the same issue. I have tested both on v7.3.2 and on master branch: got `java.lang.ArrayIndexOutOfBoundsException: Index 0 out of bounds for length 0`.

[2019-09-15 08:56] #46705 closed

[2019-09-15 11:10] yatendragoel opened #46727 "ElasticSearch - Spring Boot - Upsert is throwing DocumentMissingException"
**Elasticsearch version**: Version: 6.4.3, Build: default/tar/fe40335/2018-10-30T23:17:19.084789Z, JVM: 1.8.0_191

**Plugins installed**: None

**JVM version**: java version "1.8.0_191"
Java(TM) SE Runtime Environment (build 1.8.0_191-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.191-b12, mixed mode)

**OS version**: Darwin Yatendras-MacBook-Pro.local 18.5.0 Darwin Kernel Version 18.5.0: Mon Ma

[2019-09-15 13:01] ywelsch commented on #46710
Looks to be  SAS token issue:

[code]

[2019-09-15 13:02] ywelsch commented on #31062
@przemekwitek given that you've opened a separate issue, no need to revive this one.

[2019-09-15 13:02] #31062 closed

[2019-09-15 13:38] elasticmachine commented on #46710
Pinging @elastic/es-distributed

[2019-09-15 14:18] mayya-sharipova commented on #42326
@wmelton

Indeed. You are right, a sample on which k-means centroids are found should be representative enough even as the index grows.  It seems to me that for all ann algorithms a sample on which you build a model should be representative enough and if your new data vary from the current state  than the model has to be rebuilt.  We still need to figure out how to organize this in elasticsearch.

[2019-09-15 15:00] original-brownbear commented on #46710
Fixed in https://github.com/elastic/elasticsearch/pull/46729, just a trivial mistake in the test code.

[2019-09-15 15:41] nreese opened #46730 "Add pre-indexed shape support to geo-polygon query"
Kibana puts Elasticsearch filters in the URL. Geo-polygon queries can be very long when the polygon contains lots of vertices. This can cause problems where the URL exceeds the allowable limit, as explained in https://github.com/elastic/kibana/issues/45521.

The Kibana Maps application would like to solve this problem by using [pre-indexed shape](https://www.elastic.co/guide/en/elasticsearch/refer

[2019-09-15 15:41] elasticmachine commented on #46730
Pinging @elastic/es-analytics-geo

[2019-09-16 00:58] freesinger opened #46732 "NoClassDefFoundError in vesion 7.3.0"
**Describe the feature**:

When I attempt to run `./elasticsearch.bat` command on my win10 PC, it comes across the `NoClassDefFoundError`  which has never occured before.

Same problem appeared when I configure ES in another server, which makes me confused.

**Elasticsearch version** (`bin/elasticsearch --version`):  7.3.0

**JVM version** :

java version "1.8.0_221"
Java(TM) SE Runtime Environmen

[2019-09-16 01:30] house0128 commented on #39946
@panchen66 @fayaz-rvce  @zaffargachal   I am facing the same problem when we moved our ES cluster to AWS, Can you explain how did you resolved that issue?

[2019-09-16 02:37] freesinger commented on #46732
I have found the problem, which is caused by my JDK files.
I reinstalled my JDK and everything ran smoothly.

[2019-09-16 02:37] #46732 closed

[2019-09-16 04:18] xjtushilei commented on #9034
@mayya-sharipova  `_source` stored as one binary ，so when  using  the Partial  _update API ,  does it have a big impact on update performance?

I find that update performance is too bad , so I want find some ways to fix it.

[2019-09-16 04:51] flydocs-jignesh commented on #31549
Any hope?

[2019-09-16 06:27] BFLB opened #46733 "Watcher http mustache support"
Watcher http input and webhook action do not fully support mustache templating. Please add mustache support for at least the following fields:
- scheme
- host
- port

With mustache support these settings could be done in metadata and thus simplify configuration of complex watches.

[2019-09-16 07:25] jimczi commented on #46722
This is expected, the `?` is not a term but an indication that there is a gap between `strip` and `html` due to the removal of `and`. This means that the phrase query will match documents that contain `strip` and `html` only if they are one positions apart (one term must appear between them). As such I hope you don't mind that I close this issue, please open a discussion in our [forum](https://dis

[2019-09-16 07:25] #46722 closed

[2019-09-16 07:29] #46301 closed

[2019-09-16 08:18] #46014 closed

[2019-09-16 08:20] xavierfacq commented on #46370
Hi,

Sorry but I don't have good news. I have tested the same code with version 7.3.0 and 7.3.2. I have the same problem. Indexation speed is twice faster with the good old TransportClient than with the new RestHighLevelClient, associeted to a BulkProcessor.

TransportClient this weekend:
INFO: >>> Indexation progress: Total nbQueuedElements = 25960407 / Total nbIndexedElements = 25933772 / Total

[2019-09-16 09:03] #41830 closed

[2019-09-16 09:04] przemekwitek opened #46735 "Introduce classification analysis type"
Alongside regression, we'd also like to have classification analysis type where the output value is categorical rather than numerical.

Steps:
[] evaluation analysis type in C++
[] evaluation analysis type in Java
[] evaluation API
[] HLRC
[] docs

[2019-09-16 09:04] elasticmachine commented on #46735
Pinging @elastic/ml-core

[2019-09-16 09:14] jpountz commented on #9034
Elasticsearch needs to rebuild the entire _source for updates by design, even partial updates. If this is the bottleneck of your workload, there isn't much that can be done.

[2019-09-16 10:14] droberts195 commented on #45652
This failure is happening a lot now.  It seems to me that the only way to make progress is to find out exactly where the `index_not_found_exception` comes from within all the various actions the `_cat/indices` API calls.  I opened #46739 as a way of doing this.  Then the next time there's a failure on the master branch we'll know which of the inner calls caused it, and then hopefully we can reason

[2019-09-16 10:21] Elias481 commented on #45648
It shall be used as some backend service for very specific queries. We saw that normally 1GB is very sufficent if not more then we need.

Yes I mean indices.memory.index_buffer_size. We can see in normal working conditions the buffers are written to disk as soon as threshold is exceeded.
But what You mean with "start throtteling"? Is it the message we see in the logs that the disks cannot keep up

[2019-09-16 10:50] martijnvg commented on #43599
I ran into this today too. There is no way to disable loading of field data in the jvm heap. Because `_id` field is not configurable and doesn't have doc values enabled, this can cause a large part of the jvm heap be taken if someone sorts or aggregates on the `_id` field.

Either field data should be allowed to be disabled via configuration or field data should always never be loaded for the `_id

[2019-09-16 11:26] xjtushilei commented on #9034
thanks！

[2019-09-16 11:31] #46694 closed

[2019-09-16 11:37] delvedor opened #46744 "The JSON spec parser should support the new format"
While working on https://github.com/elastic/elasticsearch/pull/46522, @polyfractal has discovered that the [parsing for `_common.json`](https://github.com/elastic/elasticsearch/blob/master/test/framework/src/main/java/org/elasticsearch/test/rest/yaml/restspec/ClientYamlSuiteRestSpec.java#L103-L123) assumes there is only one object to parse, while the new spec format there are two objects.

The par

[2019-09-16 11:37] elasticmachine commented on #46744
Pinging @elastic/es-core-infra

[2019-09-16 12:31] #46090 closed

[2019-09-16 12:42] astefan commented on #31549
@flydocs-jignesh As an update, OFFSET is not on our near future feature list.

[2019-09-16 13:58] ywelsch commented on #46678
The stack trace suggests that the problem is with an update request whose response has somehow lost the id field.

@rtkgjacobs can you share the full input with me? Please send an e-mail to yannick AT elastic co

Thank you.

[2019-09-16 14:01] astefan commented on #46090
master (8.0.0): https://github.com/elastic/elasticsearch/commit/3e25db2f302c3aafe27e4d8d4fb1743401d85e6d
7.x (7.5.0): https://github.com/elastic/elasticsearch/commit/40e93539475bfe5f51e3d65f4179a0a718c86134
7.4 (7.4.1): https://github.com/elastic/elasticsearch/commit/162bffaab140bc081eb597d970e31153c21166a8

[2019-09-16 14:10] rtkgjacobs commented on #46678
(emailed pcap of above captured issue directly to yannick)

[2019-09-16 14:39] costin opened #46750 "SQL: incorrect use of ResultSet does not throw SQLException"
The `ResultSet` does not check that after initialized, the first row properly assembled. This results in an `ArrayOutOfBounds` exception instead of a `SQLException`.

Example:
[code]

[2019-09-16 14:39] elasticmachine commented on #46750
Pinging @elastic/es-search

[2019-09-16 14:49] nknize commented on #22564
:+1:  I agree.

`BBox` should follow subclause 10.2.5 and D.13 of the [OGC Web Service Common Implementation Specification](https://www.opengeospatial.org/standards/common); specifically D.13:

[code]

[2019-09-16 16:11] ywelsch commented on #46678
Quick update here. While I have not tried yet to reproduce this with the provided inputs, I was able to identify an issue when using auto-generated IDs + the [ingest drop processor](https://www.elastic.co/guide/en/elasticsearch/reference/master/drop-processor.html) (which looks to be used by filebeat as well) where such a NullPointerException could be produced.

The issue is that [`markCurrentItem

[2019-09-16 16:12] costin opened #46757 "SQL: empty index causes incorrect mapping error"
When running a query against an empty index the following error is thrown:
[code]

While it is a corner-case, this needs to be better handled.

[2019-09-16 16:12] elasticmachine commented on #46757
Pinging @elastic/es-search

[2019-09-16 17:44] lilysikes opened #46761 "Lowercase_terms not in term suggester"
GET _search
{
  "query" : {
    "match": {
      "body": "hllo"
    }
  },
  "suggest" : {
    "my-suggestion" : {
      "text" : "hllo",
      "term" : {
        "field" : "body",
        "lowercase_terms": false
      }
    }
  }
}

This query gives this error:{
  "error": {
    "root_cause": [
      {
        "type": "parsing_exception",
        "reason": "suggester[term] doesn't support field

[2019-09-16 18:06] musteaf commented on #46632
Hi @matriv I am fully ready to work on this issue. I am just waiting for your response to prevent conflicts. Can I take it?

[2019-09-16 18:30] #46098 closed

[2019-09-16 19:18] markhuds commented on #42326
@mayya-sharipova We intend to use output from a deep ranking model that embeds products and queries into a retrieval space such that doing a nearest neighbor search with a query vector will retrieve optimal orderings of product vectors. This will allow us to integrate machine learning techniques to improve overall relevance while maintaining the rich filtering, aggregating, and sorting capabilitie

[2019-09-16 20:16] #45702 closed

[2019-09-16 22:50] csoulios commented on #45702
@brenuart and @vboulaye thank you for reporting this issue. It has been fixed in our master branch and will be backported to v7.4.1 and v7.5.0 in the following days.

[2019-09-16 23:52] CalumLudwig commented on #42997
What is happening with this PR? It has stalled for about 2 months, is it because the commits were not squashed into 1 commit as stated in the **CONTRIBUTING.md**?

[2019-09-17 00:10] arunyenumula opened #46766 ""[my_backup1] repository type [azure] does not exist""
**Elasticsearch version** (`bin/elasticsearch --version`): 6.4.1

**Plugins installed**: [name    component         version
RvnU89I ingest-geoip      6.4.1
RvnU89I ingest-user-agent 6.4.1
CD4q0QH ingest-geoip      6.4.1
CD4q0QH ingest-user-agent 6.4.1
g84a8p3 ingest-geoip      6.4.1
g84a8p3 ingest-user-agent 6.4.1
azure-repository, ]

**JVM version** (`java -version`):

**OS version** (`uname -a`