[2017-05-24 20:40] andrewkroh commented on #24871
Correct, Beats does not currently have sniffing support. @7AC is working on [go-elasticsearch](https://github.com/elastic/go-elasticsearch) which Beats will eventually use. Having support for this in the client library would be nice.

[2017-05-24 20:51] cwurm commented on #24872
@nik9000 It's a Cloud cluster, I don't think I can turn this on. :-(

@abeyad It only happens on this index as far as I can tell. I know we resized that Cloud cluster (doubled it in size) earlier today. Cloud console shows all nodes as up and running. No errors in the log.

I'm not sure what I can do. You can access the cluster if you want - ping me.

[2017-05-24 20:51] GlenRSmith commented on #24871
https://github.com/elastic/elasticsearch-py/commit/8966902e40b9bb910352b8324ba4ff42ba5a7322

[2017-05-24 20:54] andrewvc commented on #24871
Thanks @GlenRSmith , it looks like the python client rejects master nodes. That's great! It would still be great if we could standardize on node settings filtering as well.

I mean, maybe this has been tackled before, but ideally clients would all have identical sniffing algorithms, which is what I'm trying to get at here.

[2017-05-24 20:54] jasontedor commented on #24721
I looked at the heap dump. I noticed that you have *not* disabled the Netty recycler as I have indicated many times needs to be done. I also looked at your SBT project, and the issue you report does not reproduce for me (I ran it 32 times) but I see this in the logs which again indicates that you're not disabling the recycler:

[code]

Please disable the recycler and try again.

[2017-05-24 20:58] jasontedor commented on #24872
It's a request parameter, you can set it (`?error_trace=true`).

Are you sure? We warn log all requests that are responded to with a 500 (unless `error_trace` is set to true).

[2017-05-24 21:04] ng-martin commented on #24526
Hi @chrisdrobison
May i know what your problem was? and how you solved it.
Thanks

[2017-05-24 21:16] chrisdrobison commented on #24526
We had nginx in front and apparently some bad disk permissions were preventing the entire response from coming back since it couldn't cache the whole response to disk.

[2017-05-24 21:24] cwurm commented on #24872
@jasontedor Oh sorry, my bad. Running `GET it_ops_logs/_stats?error_trace=true` doesn't change the output though.

I'm searching furiously through the logs UI in Cloud, but can't find anything related. Unfortunately, it seems next to impossible to go through ES logs in Cloud sequentially (new log lines get added all the time and screw up the pagination). What would the exception look like? (I sear

[2017-05-24 21:48] GlenRSmith commented on #24871
@andrewvc of course, and that's very much the broad intent - uniformity and parity among the low-level clients. Striving for that on this particular item isn't objectionable.

[2017-05-24 22:36] ninadvps commented on #24721
Yes disabling the recycler doesn't seem to help, so I kept it, with no joy. Anyways...
Heres the stack trace with the recycler disabled... FYI we are running this on a mac.

5:33:17.345 [pool-18-thread-4-ScalaTest-running-TestEsClient] DEBUG io.netty.util.Recycler - -Dio.netty.recycler.maxCapacityPerThread: disabled
15:33:17.345 [pool-18-thread-4-ScalaTest-running-TestEsClient] DEBUG io.netty.util

[2017-05-24 23:13] yagotome opened #24874 "Date range query does not work for lte comparision with format "yyyy-MM""
**Elasticsearch version**: 5.1

**Plugins installed**: none

**JVM version** (`java -version`): 1.8.0_131

**OS version** (`uname -a` if on a Unix-like system): Windows 10 Pro

**Description of the problem including expected versus actual behavior**:

When I try to query an index using *Range Query* for dates using `lte` field and `format` field equals to `yyyy-MM`, I expect to have documents whos

[2017-05-24 23:20] jasontedor commented on #24721
That's SBT that is running out of metaspace. This is a well-known problem with SBT.

[2017-05-24 23:47] abeyad commented on #24874
This does work as expected.  2017-05 is interpreted as the beginning of May 2017, so 2017-05-24 doesn't match.  If you supply `lte: 2017-06`, the result is returned

[2017-05-24 23:47] #24874 closed

[2017-05-24 23:55] ninadvps commented on #24721
with only elastic client this runs out of metaspace nothing else... why does it happen only with elasticsearch client? And the heap stack shows
<img width="1335" alt="screen shot 2017-05-19 at 11 27 28 pm" src="https://cloud.githubusercontent.com/assets/19671720/26430391/b4a9a608-40a1-11e7-9442-101b6ea31f6b.png">

[2017-05-25 00:29] sinsonglew commented on #24696
目前为止都运行正常 只是最近有一个集群有cat node返回节点信息不全 indices 报错 怀疑是扩容后 minmaster 设置不一致造成的. 关于组集群失败的问题，微博一个人用的5.2也遇到了 也是降级解决的.

On 24 May 2017, at 11:12 PM, liguoli0216 <notifications@github.com<mailto:notifications@github.com>> wrote:

请教个问题 #22189<https://github.com/elastic/elasticsearch/issues/22189> 你改成netty3之后是否引发了别的问题？

—
You are receiving this because you were mentioned.
Reply to this email directly, view i

[2017-05-25 01:20] liguoli0216 commented on #24696
@sinsonglew  好的，你们是在云上面弄的es吗？ 我在5.1 5.2 5.4都遇到了这个问题。。。。

[2017-05-25 01:33] sinsonglew commented on #24696
我是公司内网虚机，怀疑centOS 6.x跟netty4兼容性有问题，没有进一步深究 官方说5.2及以上版本关闭了一个特性 这个特性会导致一些网络问题. 实践来看没解决问题. 你可以把5.4的异常log贴一下 重开那个issue 让es再研究一下

On 25 May 2017, at 9:21 AM, liguoli0216 <notifications@github.com<mailto:notifications@github.com>> wrote:

@sinsonglew<https://github.com/sinsonglew> 好的，你们是在云上面弄的es吗？ 我在5.1 5.2 5.4都遇到了这个问题。。。。

—
You are receiving this because you were mentioned.
Reply to this email directl

[2017-05-25 01:47] liguoli0216 commented on #24696
我现在还不确定是哪里的问题，我在阿里云有两套环境，只有其中一套有问题， 我用同样的配置在我们内网虚拟机没有遇到这个问题， 我在去研究下，如果确定了就去在重开下那个issue， 感谢您的回复

[2017-05-25 02:24] SELVAKUMAR-S opened #24878 "unknown property "HADOOP_HOME" in "plugins\repository-hdfs\build.gradle" (Windows OS specific)"
**Plugins installed**: [default]

**JVM version** : `1.8.0_102`

**OS version** : Windows 7

**Description of the problem including expected versus actual behavior**:

Issue is Windows specific. Gradle tasks throws out error "unknown Property "HADOOP_HOME" if HADOOP_HOME is set in the system.

Issue is due to referencing unknown property HADOOP_HOME in the exception statement

**Steps to reproduce

[2017-05-25 02:27] SELVAKUMAR-S commented on #24878
if this seems to be a valid one to fix, i would like to take this as my first task to contribute with.

[2017-05-25 04:10] jasontedor commented on #24721
The heap is irrelevant when you're running out of metaspace. This is not an Elasticsearch issue.

[2017-05-25 06:27] johnbasinger84 opened #24880 "I cant get results more than 10K in elasticsearch"
I have a query to get cities from country by country code.

While iam trying to get _**9000 to 10000**_ sets it returns the result.

But when I try to get _**10000 to 11000**_ or _**10000 to 10001**_ it wont return anything. Stops at the point.

Please help me

[2017-05-25 06:39] dadoonet commented on #24880
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

BTW this is expected.

[2017-05-25 06:39] #24880 closed

[2017-05-25 07:06] rjernst opened #24881 "Rest test failure for significant text agg"
This looks related to the new significant terms aggregation. The exception is:
[code]

CI Build:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+aggressive-opts/151/consoleFull

[2017-05-25 07:07] HonzaKral commented on #24871
Currently there is the default behavior (filtering out master-only nodes) and the ability to override the callback used to filter out the nodes. In python all you have to do is supply your own implementation of the `get_host_info` (0) function and introduce any logic they wish to have which is documented (1).

Since this is an advanced functionality I think that is sufficient. So far I haven't had

[2017-05-25 07:31] russcam commented on #24871
[There's documentation for the sniffing behaviour of the .NET clients](https://www.elastic.co/guide/en/elasticsearch/client/net-api/current/sniffing-behaviour.html), which includes the ability to [specify a predicate](https://www.elastic.co/guide/en/elasticsearch/client/net-api/current/sniffing-role-detection.html#_node_predicates) to determine which nodes in the cluster API calls should be execut

[2017-05-25 07:48] rjernst commented on #24490
I opened #24879 with a fix.

[2017-05-25 07:59] clintongormley commented on #9031
@tsando you have to know where requests are allowed to come from, eg you have some javascript served from www.foo.com which is allowed to make requests to your ES server, then you'd add `https?://www.foo.com`.

With it set to `*`, you can browse to www.dodgydomain.com, which can serve malicious JS to your web browser, and cause you to send requests to your Elasticsearch cluster.

[2017-05-25 08:19] rjernst commented on #24878
What gradle command did you run? The repository-hdfs integ test cannot run on windows unless you setup HADOOP_HOME. But the test should simply skip if it is not set.

[2017-05-25 08:25] SELVAKUMAR-S commented on #24878
yes @rjernst , i set up HADOOP_HOME and ran in to this issue, i tried will gradle assemble, gradle tasks etc..
So as you said, this issue will pop up only if HADOOP_HOME is set

[2017-05-25 08:29] rjernst commented on #24878
What does the `bin` dir of your HADOOP_HOME contain?

[2017-05-25 08:33] SELVAKUMAR-S commented on #24878
actually as i mentioned in the description, this issue occurs only if one of the three files "winUtils.exe, hdfs.dll or hadoop.dll" is not present in the bin directory of HADOOP_HOME. So instead of throwing out exception in this case, the mentioned error appears. Initially i didn't have these files in HADOOP_HOME/bin since HADOOP doesn't ship those files so i found this issue and managed to downlo

[2017-05-25 08:40] rjernst commented on #24878
The error message is there for a reason. We need those files to exist in order to run the mini hdfs cluster the integ tests depend on.

If you want to improve this, you could improve the log message in this case to list the files expected (see plugins/repository-hdfs/build.gradle). But I don't see this as a bug, so I am closing.

[2017-05-25 08:48] SELVAKUMAR-S commented on #24878
Hi @rjernst  bear me if i am spamming you, but if the HADOOP_HOME/bin doesnot contain the native libraries, the intention is to throw exception with message <throw new IllegalStateException("HADOOP_HOME: " + path.toString() + " is invalid, does not contain hadoop native libraries in $HADOOP_HOME\bin");> but the actual behavior is the build script fails throwing the error <b>Could not get unknown p

[2017-05-25 08:50] colings86 commented on #24847
@mrec I think the documentation is correct here and working as expected because the OR and AND operators are expected to act on the arguments left and right of them much like `+`, `-`, `*`, `/` do in arithmetic. This is, at least from my experience, normal behaviour for boolean operators too (except NOT which is a unary operator os only acts on the argument to the right of it)

When you specify `A

[2017-05-25 08:58] SELVAKUMAR-S commented on #24878
To put this as simple as possible
- Expected behavior : Exception with message <b>HADOOP_HOME: C:\hadoop-2.8.0 is invalid, does not contain hadoop native libraries in C:\hadoop-2.8.0\bin</b>
- Actual behavior : build.gradle fails with the error <b> Could not get unknown property 'HADOOP_HOME' for project ':plugins:repository-hdfs' of type org.gradle.api.Project</b>

The exception message statement

[2017-05-25 08:58] colings86 commented on #24125
No further feedback, closing. If you manage to create a reproduction script please post it here and we can reopen

[2017-05-25 08:58] #24125 closed

[2017-05-25 08:59] dragonjohn commented on #24520
Hi @nik9000 , doest it works from elasticsearch 1.4.5 to 5.4? I faced the same error output after did the reindex. Thanks.

[2017-05-25 09:00] colings86 commented on #24847
Sorry, ignore the above, you are right that there is an issue, exactly because of what I wrote above 😄

[2017-05-25 09:08] Git-Rajkumar opened #24882 "How to get environment variblae in elasticsearch.yml file in elasticsearch-5.4.0"
I have installed elasticsearch-5.4.0, **its not take my envornoment variable in elasticsearch.yml file**
its throw "**Exception in thread "main" java.lang.IllegalArgumentException: Could not resolve placeholder 'DOCKER_IP**'"
I follow this [document](https://www.elastic.co/guide/en/beats/filebeat/current/using-environ-vars.html), same confiuration works in elasticsearch2.4.2, but not works 5.4.0

[2017-05-25 09:10] colings86 commented on #24847
We should fix the documentation to explain the unexpected behaviour of using `AND` and `OR` in the `query_string` query and IMO we should also encourage people to not use `NOT/AND/OR` and instead use the `+/-` unary operators to define what should, must, and must not match for a document to be considered a hit much like the conclusion of [the article linked above suggests](https://lucidworks.com/2

[2017-05-25 09:22] rjernst commented on #24878
@SELVAKUMAR-S Thank you for the clarification. I understand the problem now. I opened #24885 to address this.

[2017-05-25 09:25] dadoonet commented on #24882
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

I see you opened there https://discuss.elastic.co/t/how-to-get-environment-variblae-in-elasticsearch-yml-file-in-elasticsearch-5-4-0/87091/1 so let's keep the discussion there.

[2017-05-25 09:25] #24882 closed

[2017-05-25 09:26] colings86 commented on #24882
I just tried this on 5.4.0 and it picked up my environment variable fine so I don't think there is a bug here. The most likely cause is that `DOCKER_IP` is not being set in your environment so Elasticsearch is not able to resolve the value, I would check your environment to see why the variable might not be set. If you have further questions please raise them on https://discuss.elastic.co

[2017-05-25 09:29] clintongormley commented on #23519
I've tried reproducing this but was unable to do so.  I had to delete the custom analyzers that were used in the mappings because they weren't provided.

Here is what I tried:

<details>
[code]
</details>

Closing due to lack of feedback. If you can provide what I asked for (ie a complete pasteable recreation) then I'd be happy to look at it again.

[2017-05-25 09:29] #23519 closed

[2017-05-25 09:39] SteelCrow commented on #5359
Did something change from the last post?

[2017-05-25 09:49] droberts195 opened #24886 "testListAllIsSorted failures for SMB with a particular seed"
The following tests fail with a specific seed:

[code]

The full log is here: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/219/console

The repro commands are:

[code]

The CI build ran on either Windows 10 or Windows Server 2016.  I managed to reproduce both failures on Windows Server 2012r2.

The problem is that the Java security manager den

[2017-05-25 10:04] droberts195 commented on #24886
@trlx I have been told you know about this plugin, so please could you take a look or reassign to someone else if I've been misinformed.

[2017-05-25 10:05] dadoonet commented on #24886
Actually @tlrx :)

[2017-05-25 10:06] droberts195 commented on #24886
Oops, sorry.  I corrected the comment above.

[2017-05-25 10:36] SKumarMN opened #24887 "3 nodes ES 2.3.2 cluster with Replica 2 goes to red state after bringing down whole cluster and starting only a single node"
ES version ES 2.3.2
JRE version":"1.8.0_112
OS: Windows server 2012

I have a cluster with 3 nodes.  I have a index with 2 replicas. I brought down all the es nodes. However when i restart one es node, the shards are unassigned and the index/cluster is in red state. if i bring up one more node then my cluster becomes yellow and operational.

The issue here is even though my replica is 2 for a 3 no

[2017-05-25 10:39] SKumarMN commented on #24887
_cat/indices?v

health status index   pri rep docs.count docs.deleted store.size pri.store.size
red    open   twitter   5   2

[2017-05-25 10:40] colings86 commented on #20694
closing in favour of #23874

[2017-05-25 10:40] #20694 closed

[2017-05-25 10:43] colings86 commented on #24887
Hi @SKumarMN, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) instead. Thank you!

[2017-05-25 10:53] #24887 closed

[2017-05-25 11:21] Git-Rajkumar commented on #24882
@colings86  my environment variable set correctly , I tried to get DOCKER_IP value via terminal its get right value.

      echo $DOCKER_IP

[2017-05-25 11:28] SKumarMN commented on #24887
I thought it's a bug.. so I reported here.. do u think my test case is wrong??

[2017-05-25 11:40] SKumarMN commented on #24887
@colings86 I have posted it in forum but the test case is generic can u plz chk if this is a bug or not

[2017-05-25 11:46] karmi commented on #24871
The Ruby client doesn't do any filtering right now, there's an old open issue: https://github.com/elastic/elasticsearch-ruby/issues/251. So far nobody showed any interest in the feature, though, so I've put on backburner. I've realized that the `Sniffer` class is not injectable via the constructor, which is maybe an oversight on our consistent "plugability" of everything, I'd like to add it.

The

[2017-05-25 11:53] bleskes commented on #24887
This is expected behavior for 2.x. See https://www.elastic.co/blog/tracking-in-sync-shard-copies

[2017-05-25 12:42] JeffBolle commented on #24790
This hit me again last night. I am headed to put in the artificially low circuitbreakers now until this is fixed.
`[2017-05-24T20:46:52,701][ERROR][o.e.b.ElasticsearchUncaughtExceptionHandler] [es10] fatal error in thread [elasticsearch[es10][search][T#5]], exiting
java.lang.OutOfMemoryError: Java heap space
        at org.elasticsearch.common.util.PageCacheRecycler$1.newInstance(PageCacheRecycler

[2017-05-25 13:25] andrewvc commented on #24871
Having spoken to a variety of client authors, the consensus is not to have this discussion on the ES repo since this isn't an ES issue, closing.

[2017-05-25 13:25] #24871 closed

[2017-05-25 14:27] yehosef commented on #20257
@jimczi - thanks for the clarification.  I think I understand a little better - but still not sure I'm at 100%.  I'll explain where my confusion is coming from.

The usual way to post data is like the first example at https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html

[code]
where the url describe the document including the type and the id and the json message is the

[2017-05-25 15:34] patrickstjohn opened #24890 "Regular Expression Query Crashes Cluster Data Nodes"
**Elasticsearch version**: Tested on 5.2.1 and 5.4.0

**Plugins installed**: [SearchGuard5 (5.2.1-12 and 5.4.0-12) and X-Pack (5.2.1 and 5.4.0)]

**JVM version**: Java(TM) SE Runtime Environment (build 1.8.0_121-b13)

**OS version**: Linux 3.10.0-514.16.1.el7.x86_64 #1 SMP Fri Mar 10 13:12:32 EST 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual beh

[2017-05-25 15:42] jasontedor commented on #24890
Duplicates #24553

[2017-05-25 15:42] #24890 closed

[2017-05-25 16:03] droberts195 opened #24891 "SearchResponseTests.testFromXContent fails with a specific seed"
Log is here: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu/1022/consoleFull

The problem reproduces locally for me:

[code]

The error is this:

[code]

Failure is seed-specific, as this works:

[code]

[2017-05-25 16:08] droberts195 commented on #24891
@jpountz the build triage doc said search issues should be assigned to you - please reassign if I've misinterpreted which area this failure is in.

[2017-05-25 17:49] ninadvps commented on #24721
Ok fine Ill deal with it differently, but the metaspace runs out only with es client, we run mongo, or any other thing, we dont face an issue.

[2017-05-25 18:39] polyfractal opened #24893 "Deprecate `insert_zero` (and thus `gap_policy`) on pipeline aggs"
The `insert_zero` gap policy has bothered me for a long time, and a related discussion in #24747 made me think about it again.  Inserting zeros leads to all kinds of weird responses, like this:

[code]

Where the value is presented to the user as `null`, but the movavg magically keeps generating values.  This is at best confusing.  Philosophically, it's dangerous in that it's doctoring the data we

[2017-05-25 19:11] #24878 closed

[2017-05-25 19:22] #24490 closed

[2017-05-25 20:28] yagotome commented on #24874
@abeyad This behavior is not specified in the [Range Query documentation](https://www.elastic.co/guide/en/elasticsearch/reference/5.1/query-dsl-range-query.html) . Anyway, I suppose if it is allowed to pass `format` as `yyyy-MM`, it should only consider `yyyy-MM` so that `2017-05` and `2017-05-24` match either using `lte` or `gte`. Otherwise, it shouldn't allow this kind of format.

[2017-05-25 20:36] abeyad commented on #24874
That's not the way it should work.  These are date fields.  Date fields imply an increasing range of values, similar to a long or a double.  If you had a long value in your field `789` and you specified `lte: 78` would you expect it to match?  You would not, because 78 is less than 789.  We are not matching prefixes.

I think your confusion is arising from the fact that you are viewing date fields

[2017-05-25 21:03] jasontedor commented on #24721
That's irrelevant. The JVM defaults to unlimited metaspace but SBT defaults to limiting the metaspace to 256m. This is why running out of a metaspace is a common problem with SBT.

[2017-05-25 21:37] jasontedor commented on #24599
I muted this test in 9a118691bf990d70b25772de56fbf0025037d334.

[2017-05-25 21:39] jasontedor commented on #24599
Here are the logs from a build failure with the additional logging enabled: [logs.zip](https://github.com/elastic/elasticsearch/files/1030288/logs.zip)

[2017-05-25 23:33] simonw opened #24895 "Scripted Metric Aggregation has been marked "experimental" for a very long time"
Added in 1.4.0.Beta1: https://www.elastic.co/guide/en/elasticsearch/reference/1.4/search-aggregations-metrics-scripted-metric-aggregation.html

Still marked as "experimental" in 2.4: https://www.elastic.co/guide/en/elasticsearch/reference/2.4/search-aggregations-metrics-scripted-metric-aggregation.html

And "experimental" in 5.4: https://www.elastic.co/guide/en/elasticsearch/reference/5.4/search-a

[2017-05-26 02:08] vsiv commented on #24520
@nik9000 I think it might help if its possible to add a note to the docs of 5.4.0 reindex API as people might be unaware of this issue and get confused why reindex is not working .. It might save people some time..

* https://www.elastic.co/guide/en/elasticsearch/reference/5.4/docs-reindex.html

[2017-05-26 07:56] clintongormley opened #24898 "Update by query should support short script form and `doc`"
The  `script` parameter in update-by-query requires a full script object, instead of allowing the simple script form:

    "script": "ctx._source.foo=5"

We should be using the same script parser we use every else, which would take care of this automatically.

Also, any reason why we don't support partial doc updates with the `doc` parameter`?

[2017-05-26 08:12] rjernst commented on #24898
What do you mean by partial updates? `doc` is doc values, ie already indexed values.

[2017-05-26 08:15] clintongormley commented on #24898
No, I mean the `doc` parameter which exists in the update query, as in:

[code]

This request would merge the `doc` object with the `_source`. It's currently not supported by update-by-query

[2017-05-26 08:19] rjernst commented on #24898
Ok, thanks for the clarification. So this would happen outside of the script itself.

[2017-05-26 08:36] markharwood commented on #24881
Was missing this version check: https://github.com/elastic/elasticsearch/commit/a64937db7aba2d4c6568052b07c532141a09db8d

[2017-05-26 08:36] #24881 closed

[2017-05-26 09:00] martijnvg commented on #20257
@ei-grad Ideally an index should have a single parent/child relation. But in cases where there is parent-child-grandchild relation or parent-child1 and parent-child2 relations (reuse of the same parent for different types of children), then multiple join fields need to be configured.

@yehosef Yes, it is part of the json document.

In the mapping you could configure a different field to be of type

[2017-05-26 09:29] javanna commented on #24895
hi @simonw good question. It's something that we have discussed as part of #19798. We plan on removing the experimental tag from the scripted metric aggregation, we just didn't get to it yet.

[2017-05-26 09:29] #24895 closed

[2017-05-26 10:15] xo4n commented on #23003
**StackTrace**
https://gist.github.com/xo4n/7a7ada8a34dfda351c62a653e00c9761

**Query**
https://gist.github.com/xo4n/531e125418d0c9eee0b38471520c98d0

```hits.total```:8742983
```out of range values```:69,568

[2017-05-26 10:18] javanna commented on #24891
@trlx was looking at this the other day, this failure has to do with search response parsing for the high level REST client.

[2017-05-26 11:00] clintongormley commented on #19798
@colings86 we should consider which features should use the beta tag instead (ie we will support this feature and plan to keep it, but the API may change significantly)

[2017-05-26 11:16] clintongormley commented on #24874
There is some confusion here about rounding.   As @abeyad says, a date like `2017-05` is converted to the datetime `2017-05-01T00:00:00`.  However, the following query will do what you want:

[code]

The reason is that, with `lte` and date rounding (the `||/M`), we round up to the next value - 1 millisecond.

[2017-05-26 11:37] zplzpl opened #24899 "field collapsing very slow"
Only one field is used to collapsing . the field type is keyword.

hits.total = 1130

The same request does not contain the collapsing that are only used for 13 milliseconds, using a collapsing using 130 milliseconds. (This time is CURL starttransfer time)

10x time.

Using the restful api.

[2017-05-26 11:40] clintongormley commented on #24899
@zplzpl did you read the information that we asked for when you opened this issue? See https://github.com/elastic/elasticsearch/issues/new

[2017-05-26 11:48] zplzpl opened #24900 "field collapsing very slow"
**Elasticsearch version**: v5.3.2

**Plugins installed**: [ik,pinyin]

**JVM version** (`java -version`): openjdk version "1.8.0_121"

**OS version** (`uname -a` if on a Unix-like system): Linux es1 2.6.32-431.11.25.el6.ucloud.x86_64 #1 SMP Tue Jul 19 10:06:12 EDT 2016 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

Only one field is used

[2017-05-26 11:53] clintongormley commented on #24900
how many hits are you asking for?

[2017-05-26 11:54] clintongormley commented on #24900
and how well distributed are your collapse field values.  it has to keep pulling hits until it finds `size` distinct values.

and are you asking for inner hits as well?

that's why we ask for a recreation

[2017-05-26 11:59] rolele opened #24901 "elasticsearchjs size too big! how to import only the necessary components?"
I build my app using webpack and my app basically double in size as soon as I did:
[code]

Going from 79K Gzip:
![1](https://cloud.githubusercontent.com/assets/22406571/26493685/3d45630e-425e-11e7-9894-c36037147a6a.jpg)

To 158K Gzip:
![2](https://cloud.githubusercontent.com/assets/22406571/26493692/494d6e62-425e-11e7-8850-dae01d8ffb1c.jpg)

Is there a way to take advange of the es6 import and onl

[2017-05-26 12:01] clintongormley commented on #24901
You're looking for https://github.com/elastic/elasticsearch-js/issues

[2017-05-26 12:01] #24901 closed

[2017-05-26 12:02] rolele commented on #24901
Arf sorry about that

[2017-05-26 12:25] clintongormley commented on #15889
But still have problem. Do you have a workaround?

Upgrade

[2017-05-26 12:29] zplzpl commented on #24900
my doc count: 12000

this my collapse DSL:

   "collapse": {
      "field": "spu",
      "inner_hits": {
         "name": "skus",
         "size": 50,
         "_source": {
            "includes": [
               "name",
               "url_path",
               "image_url"
            ]
         }
      },
      "max_concurrent_group_searches": 1
   }

[2017-05-26 12:31] zplzpl commented on #24900
how many hits are you asking for?

my hits.total 1130

[2017-05-26 12:35] clintongormley commented on #24900
You don't say how what you set `size` to on the search query, but let's assume it uses the default of 10.  For each of those hits, it has to do a subsequent query to return the top 50 inner hits, plus you're telling it that it can't do those 10 search requests in parallel.

Your collapsed query is doing much more work than your other query, so it is not surprising it is slower

[2017-05-26 12:35] #24900 closed

[2017-05-26 12:40] clintongormley commented on #21182
Field stats API is deprecated.  Aggregations could be used for this instead

[2017-05-26 12:40] #21182 closed

[2017-05-26 12:41] jimczi commented on #24900
@zplzpl the `took` time in the response does not take in account the `inner_hits` retrieval. I am working on a fix for this discrepancy but as @clintongormley said a size of 50 means that you retrieve `10*50+10` hits instead of 10 so it is indeed slower.

[2017-05-26 13:12] zplzpl commented on #24900
@clintongormley
@jimczi

query size:36

Thank you for reply.
good people.

[2017-05-26 13:23] nik9000 commented on #24520
Yeah. I'll push something.

[2017-05-26 13:58] clintongormley commented on #24485
Closed by #24617

[2017-05-26 13:58] #24485 closed

[2017-05-26 14:05] #24610 closed

[2017-05-26 14:17] clintongormley commented on #24587
@nknize any thoughts?

[2017-05-26 14:24] jasontedor commented on #24729
I'm providing an update here that the Netty maintainers have agreed to remove the leniency that was introduced in netty/netty#5861 that is leading to the problem here. I will open a PR against Netty to do this soon, probably in the middle of next week. The change requires three things:
 - revert the change that introduced the leniency
 - correct the Javadocs for the content length method to indica

[2017-05-26 14:26] clintongormley commented on #24449
@serj-p use:

[code]

[2017-05-26 14:27] gabriel-letarte opened #24903 "Completion suggester with fuzziness weird scoring"
**Elasticsearch version**:
[code]

**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_112"
Java(TM) SE Runtime Environment (build 1.8.0_112-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.112-b16, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
OS X (Darwin Kernel Version 16.6.0)

**Description of the problem including expected versus actual behav

[2017-05-26 15:03] yyt030 opened #24905 "bound or publishing to a non-loopback or non-link-local address, enforcing bootstrap checks"
I config es cluster,
+ node1 192.168.31.40/24
+ node2 192.168.31.117/24
BUT, when i start bin/elasticsearch, it failed, WHY ???

**Elasticsearch version**:
Version: 5.4.0, Build: 780f8c4/2017-04-28T17:43:27.229Z, JVM: 1.8.0_121

**Plugins installed**: []
nothing

**JVM version** (`java -version`):
Picked up _JAVA_OPTIONS: -Dawt.useSystemAAFontSettings=lcd
openjdk version "1.8.0_121"
OpenJDK Runtim

[2017-05-26 15:12] clintongormley commented on #24905
Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2017-05-26 15:12] #24905 closed

[2017-05-26 15:49] clintongormley commented on #24536
Closing as duplicate of https://github.com/elastic/elasticsearch/issues/5306

[2017-05-26 15:49] #24536 closed

[2017-05-26 16:03] Grinnz commented on #20209
We use this because we need to normalize wildcard searches. Unfortunately it seems that it doesn't work on terms that aren't prefixes, e.g. *foo, so we have to manually normalize those search terms.

[2017-05-26 16:19] clintongormley commented on #24421
See https://github.com/elastic/elasticsearch/pull/24565 - WIP

[2017-05-26 16:29] clintongormley commented on #24440
Can we close this in favour of https://github.com/elastic/elasticsearch/pull/24565 ?

[2017-05-26 16:40] clintongormley commented on #23777
See https://www.elastic.co/guide/en/elasticsearch/painless/current/index.html for this work in progress

[2017-05-26 16:43] nik9000 commented on #24440
I don't think this is related to that one.

[2017-05-26 16:51] clintongormley commented on #24440
Won't sampling reduce the discrepancy between profile and unprofiled match-all execution?

[2017-05-26 16:54] nik9000 commented on #24440
The one you linked isn't the sample issue. Also, I think this issue stands even with sampling because profiling changes the way that queries execute either with or without sampling.

[2017-05-26 16:55] clintongormley commented on #24440
Oh whoops - it's https://github.com/elastic/elasticsearch/issues/24799

Sure, measuring something changes its behaviour.  Question is, can we actually do anything about that?

[2017-05-26 17:03] nik9000 commented on #24440
I mean, it *drastically* changes the behavior in this case. At least, that is my understanding. I wonder if we could warn users that the behavior has changed drastically if we detect that we're doing it. My understanding is that this particular change is so drastic as to invalidate the results.

[2017-05-26 17:05] clintongormley commented on #24440
Yes, and we can reduce how drastic it is with sampling. When I asked @jpountz about it, it didn't sound like there was much else we could do. I suppose one other possibility would be to just not profile match-all and assume that it is fast.

[2017-05-26 17:11] clintongormley commented on #8235
@gbhatia81 the point of decompounding words is to look for some of the sub-words within a compound word.  In a language that uses compound words, you wouldn't have `shoerack` or `shoe rack`, just `shoerack`.

[2017-05-26 17:21] clintongormley commented on #24043
thanks @slixurd - without any further info, we won't be able to debug this.  closing

[2017-05-26 17:26] csben opened #24910 "Function score queries with score_mode sum and a total weight of 0 always return a score of 1"
**Elasticsearch version**: 5.1.2 and 5.3.2

**JVM version**: 1.8.0_111 and 1.8.0_131

**OS version**: 4.4.0-75-generic and 2.6.32-642.13.1.el6.x86_64

**Description of the problem including expected versus actual behavior**:
Consider the following query:
[code]
In principle, this should produce a score of 2 (with a contribution of 1 from each filter) for any event with `test_value = 1`.  However,

[2017-05-26 17:43] clintongormley commented on #23199
/cc myself

[2017-05-26 17:49] clintongormley commented on #24045
Duplicate of https://github.com/elastic/elasticsearch/issues/23077

[2017-05-26 17:49] #24045 closed

[2017-05-26 18:05] dakrone commented on #16761
Shadow replicas have been removed

[2017-05-26 18:05] #16761 closed

[2017-05-26 18:40] kutchar commented on #20257
@martijnvg So, for a greenfield project that needs to use parent/child, what would be the recommended approach?

[2017-05-26 18:47] dakrone commented on #23934
Going to close this as native scripts (and thus ScriptFieldIT) are gone

[2017-05-26 18:47] #23934 closed

[2017-05-26 18:53] dakrone commented on #8976
Shadow replicas have been removed and this is no longer applicable

[2017-05-26 18:53] #8976 closed

[2017-05-26 18:53] dakrone commented on #16357
Shadow replicas have been removed and this is no longer applicable

[2017-05-26 18:53] #16357 closed

[2017-05-26 18:53] dakrone commented on #18743
Shadow replicas have been removed and this is no longer applicable

[2017-05-26 18:53] #18743 closed

[2017-05-26 18:53] dakrone commented on #16006
Shadow replicas have been removed and this is no longer applicable

[2017-05-26 18:53] #16006 closed

[2017-05-26 19:32] #24453 closed

[2017-05-26 20:31] zelfor5436 opened #24912 "Copied-to fields fail to highlight"
**Elasticsearch version**: 5.2.0

**Plugins installed**: Ingest-Attachment

**JVM version** (`java -version`): OpenJDK 1.8.0_111

**OS version** (`uname -a` if on a Unix-like system): Linux Mint 18.1 x64

**Description of the problem including expected versus actual behavior**:

Highlighting fails to work on fields containing content that has been populated via a "copy_to" directive on another fie

[2017-05-26 20:42] dadoonet commented on #24912
I think that the problem here is that you don't store the document.content field. Elasticsearch tries then to extract from _source which does not have that field.

[2017-05-26 20:48] zelfor5436 commented on #24912
How embarrassing.

@dadoonet that makes a whole lot of sense! I can confirm that setting store to True for the document.content field results in the expected highlighting behavior.

[2017-05-26 20:49] #24912 closed

[2017-05-26 21:06] dadoonet commented on #24912
No problem. Happy to help.
If you have other problems like this feel free to ask on discuss.elastic.co which is the best place for that.
Thanks for confirming.

[2017-05-26 21:57] mpaduada commented on #20667
+1 on adding a parameter to the Moving Average Aggregation to allow arbitrary shifting. A lagged moving average can be quite useful, such as when dealing with seasonalities.

For what it's worth, there's an ugly workaround using one or two Moving Average Aggregations and a Bucket Script Aggregation. For what @l8liu was trying to do, use a Bucket Script Aggregation to add the current bucket's value

[2017-05-26 22:36] #24768 closed

[2017-05-26 22:51] yagotome commented on #24874
I got it! That's what I was looking for, @clintongormley . Thank you!

[2017-05-26 23:07] yyt030 commented on #24905
thank you for reply， i know you means.
but how do you konw one issue is a bug or is a stupid question，or is a advice for the next  deploy version？

pls delete my issue above directly.

[2017-05-26 23:08] dakrone opened #24915 "Implement adaptive replica selection for coordinating nodes performing queries"
In #23884 (and #3890) we added the `fixed_auto_queue_size` threadpool which could automatically raise or lower the queue size of the search threadpool depending on the arrival rate of operations and target response rate.

We'd like to take the next step for this and implement adaptive replica selection. This is a partial application of the [C3 algorithm](https://www.usenix.org/system/files/confere

[2017-05-26 23:22] sprgn commented on #22671
Same issue here.  This dependency on log4j-core is a very hard dependency on a logging implementation.  Is there not a way to disable log4j when elasticsearch is used as part of an app that uses other logging implementation other than log4j?

[2017-05-27 00:07] rjernst commented on #24769
This hasn't reoccurred in over a week on 5.x, and the test is gone in master. So I am closing for now.

[2017-05-27 00:07] #24769 closed

[2017-05-27 00:09] spalger commented on #24532
@rjernst @jdconrad Kibana currently determines which languages were enabled for inline scripting with `http://localhost:9200/_cluster/settings?include_defaults=true&filter_path=**.script.engine.*.inline`, is there some other API we can use now?

[2017-05-27 00:12] spalger commented on #24532
Sorry, I see discussion has already started in https://github.com/elastic/kibana/issues/11959

[2017-05-27 01:39] mpaduada commented on #24893
Whoa, whoa! Hold on. While I agree that `insert_zeros` is generally a bad idea, I think a parameter to specify some kind of `gap_policy` is still needed.

Missing/censored data is a perfectly normal occurrence when doing statistical analysis; accordingly statisticians employ different techniques to deal with missing data as dictated by the context. In financial time series analysis, it's quite com

[2017-05-27 02:15] surwasevb opened #24917 "Add MUST_NOT(Negation) filter option in completion(context) suggester"
Currently context suggester provides filter using category and geo. It also supports AND and OR operation among contexts. But i havent found any feature that support negation(MUST_NOT) kind of filter in context.

**Elasticsearch version**:
2.4.5

[2017-05-27 02:33] AverageJoe2 commented on #18406
@jasontedor
hi buddy how you make it with version Elasticsearch 5.4.0 now ?

[2017-05-27 05:54] liuguangmin opened #24918 "ES error :Negative longs unsupported, use writeLong or writeZLong for negative numbers [-1]"
ES:5.4.0
java:1.8
OS:linux

# when I run the ES a week time ,I find the ES cluster console print:
========================== ===========================
[2017-05-27T11:15:08,145][DEBUG][o.e.a.a.i.s.TransportIndicesStatsAction] [datagrand-master-2] failed to execut
e [indices:monitor/stats] on node [csuTIh78RTGau49x96OeDA]
org.elasticsearch.transport.RemoteTransportException: [datagrand-data-4][10.

[2017-05-27 06:53] rjof opened #24919 "Confusing situation with the class PreBuiltTransportClient"
**Elasticsearch version**: 5.4.0

**Plugins installed**: []

**JVM version** (`java -version`):

java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):

Linux ideapad 3.16.0-0.bpo.4-amd64 #1 SMP Debian 3.16.7-ckt11-1~bpo70+1 (2015-06-08) x86_64 GNU/Linux

[2017-05-27 07:00] Guchman opened #24920 "Confusing DateHistogram behavior: buckets starts not from min bound date"
**Elasticsearch version**: 5.2.2-5.4
I've use pure elasticsearch offical image with testcontainers. But same behavior on producution system.
**Plugins installed**: []

**JVM version** : 1.8.0_112

**OS version**  : OSx, Linux

**Description of the problem including expected versus actual behavior**:
When Im trying to aggregate 7d buckets with summing - first bucket take wrong date (closes thursday

[2017-05-27 08:01] ywilkof opened #24921 "delayed_unassigned_shards not picked from returning node"
Hello,

We have a 6 node cluster, on top of EC2 instances. All are data nodes and master-eligible nodes. (It's a full Spot machine cluster where all machines can go up and down)
Sometimes we replace node instances expecting a new instance to return (with the same EBS, hence has all the necessary data) within a few minutes, and for that we are using the index.unassigned.node_left.delayed_timeout  s

[2017-05-27 12:25] jasontedor commented on #24919
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-05-27 12:25] #24919 closed

[2017-05-27 15:41] jmorph99 commented on #24543
Hi, I have forked the source.  This error looks simple, remove the values from those three files and any test files.  I installed this on Ubuntu, I should probably document that!  This took me a while.  First I started with NetBeans ...   So I have to use a new compiler now so I am trying IntelliJ.  Anyways, my testClasses tests run fine but my integTest tests error, Do I need that to be working i

[2017-05-27 16:21] abeyad commented on #24921
With delayed allocation, if there was no other node with shard data to assign the replica to, and that node comes back online before the delay allocation timeout, it is still possible for the node at that point to have 0 matching bytes with the primary shard - this can happen if a Lucene merge took place on the primary which rendered all the segment files (that underpin the shard data) as complete

[2017-05-27 16:21] #24921 closed

[2017-05-27 16:24] jasontedor commented on #24918
I suspect that we have a double decrement bug and I suspect this duplicates #24872.

[2017-05-27 17:00] jasontedor commented on #24872
I obtained the logs from this instance and I know what the issue is, we have a double decrement bug when handling certain queries that fail in the fetch phase. This double decrement leads to the number of outstanding queries on a shard falling negative and that leads to the serialization issue here.

[2017-05-27 17:01] jasontedor commented on #24918
We indeed have a double decrement bug, and this indeed duplicates #24872. I'm closing this in favor of that issue and will open a fix soon.

[2017-05-27 17:01] #24918 closed

[2017-05-27 17:19] rjernst commented on #24543
Yes, running `gradle check` needs to pass before any PR can be merged.

[2017-05-27 17:42] jasontedor commented on #24872
I opened #24922.

[2017-05-27 18:04] jmorph99 commented on #24543
Yes that errors - I will execute it again with the "--stacktrace" option
and output it to a text file.  If you could take a quick look at it I think
it might help.  I will send it later, the tests take a long time.

On Sat, May 27, 2017 at 1:20 PM, Ryan Ernst <notifications@github.com>
wrote:

[2017-05-27 18:07] jmorph99 commented on #24543
Also, I haven't done any modifications to the source code yet, I am simply
trying to execute the tests after the Gradle install.

On Sat, May 27, 2017 at 2:04 PM, John Murphy <jmorph99@yahoo.com> wrote:

[2017-05-27 18:59] acarstoiu commented on #21105
That's a no go - it would add an extra thing to worry about in each and every indexing query.

[2017-05-27 19:29] Battleroid commented on #21105
Yeah, that's not ideal. However, if that were optional that would be pretty interesting.

[2017-05-27 19:40] #24872 closed

[2017-05-27 20:37] jmorph99 commented on #24543
Ok, I eventually just reran it and for no apparent reason, it completed.

*BUILD SUCCESSFULTotal time: 34 mins 52.896 secs*

Onward I go,
John

On Sat, May 27, 2017 at 2:07 PM, John Murphy <jmorph99@yahoo.com> wrote:

[2017-05-28 03:22] jmorph99 commented on #24543
I think I just need to remove the overwritten getDiscoveryTypes function from these three files.  Am I correct?

@Override
    public Map<String, Supplier<Discovery>> getDiscoveryTypes(ThreadPool threadPool, TransportService transportService,
                                                              NamedWriteableRegistry namedWriteableRegistry,

[2017-05-28 05:16] rjernst commented on #22083
Groovy has been removed for 6.0, and painless fails up front when compiling the script (since the integer literal is too long to be stored by a `long`.). So I'm going to close this.

[2017-05-28 05:16] #22083 closed

[2017-05-28 05:17] rjernst commented on #22791
Groovy has been removed for 6.0. Closing.

[2017-05-28 05:17] #22791 closed

[2017-05-28 05:26] rjernst commented on #20983
@imotov Since we have expert script engine usage documented now and native scripts removed from master, can this be closed? Or were there more examples you want to copy over?

[2017-05-28 05:26] rjernst commented on #20454
Native scripts have been removed in master and the replaced docs no longer do source lookups.

[2017-05-28 05:26] #20454 closed

[2017-05-28 05:30] rjernst commented on #17531
Groovy has been removed for 6.0 and this was an issue with BigDecimal being accessible in groovy. Painless has BigDecimal whitelisted so this should not be an issue.

[2017-05-28 05:30] #17531 closed

[2017-05-28 05:40] rjernst commented on #10289
File scripts have been removed for 6.0 so I am closing this.

[2017-05-28 05:40] #10289 closed

[2017-05-28 05:42] rjernst commented on #24543
@jmorph99 Yes that sounds about right.

[2017-05-28 05:44] rjernst commented on #24543
I believe some of the overridden `additionalSettings()` can also be removed, which injected the appropriate new setting when detecting the old setting.

[2017-05-28 09:57] fred84 commented on #24217
@eticzon would you mind if I will handle this issue?

@jpcarey @clintongormley I we managed to fix it (https://github.com/fred84/elasticsearch/commit/0dc2ec3ec86728bebaa136f2e951cdf93ed0a00d) with rollover integration test successfully passing, but currently struggling with passing full "gradle check"

[2017-05-28 11:10] yehosef commented on #20257
I hope that is reconsidered.  It's not that it's a common problem and not something that can be worked around, it just doesn't feel like an elegant solution.  Is it really a regular document field, or you just access through the document but it's really stored as metadata?  If it's really a document field, is it possible for some to add multiple values like you can in other fields? If so, what doe

[2017-05-28 12:45] jasontedor commented on #24490
We are going to address this in 5.4.1 after all.

[2017-05-28 12:50] uschindler commented on #24490
Great! Thanks.

[2017-05-28 19:08] jimczi commented on #24899
Duplicate of #24900

[2017-05-28 19:08] #24899 closed

[2017-05-29 04:22] joshuar opened #24928 "null pointer exception with token_count data type and indexing a null value"
**Elasticsearch version**: 5.4.0

**Plugins installed**: X-Pack

**JVM version** (`java -version`):
[code]
**OS version** (`uname -a` if on a Unix-like system):

[code]
Fedora 25

**Description of the problem including expected versus actual behavior**:

It looks like there is an issue with the handling of null values for the `token_count` data type. Trying to index a document that has a multi-fie

[2017-05-29 06:06] markwalkom opened #24929 "Explain where to get path for translog recovery action"
[Here](https://github.com/elastic/elasticsearch/blob/5.4/docs/reference/index-modules/translog.asciidoc#what-to-do-if-the-translog-becomes-corrupted) we guide users on how to fix a corrupted translog.

What's not clear is where we get the `/var/lib/elasticsearchdata/nodes/0/indices/P45vf_YQRhqjfwLMUvSqDw/0/translog/` path from. Is the `P45vf_YQRhqjfwLMUvSqDw` a shard/index ID. Can we add something

[2017-05-29 06:59] martijnvg commented on #24623
@VitorCaleffi You like to access the max score of a nested inner hit (in case of parent-child-grandchild scenario) or an adjacent inner hit?

[2017-05-29 07:09] martijnvg commented on #23338
The problem only occurs if Lucene test framework wraps the reader with specific readers (e.g. `ParallelCompositeReader`) The reason I like to use `LuceneTestCase#wrapReader(...)` is because it randomly wraps the reader in an `AssertingDirectoryReader`, which can detect misuse of the Lucene internal apis. I think as a compromise we can instead add our own `wrapReader(...)` method that only randomly

[2017-05-29 07:09] #23338 closed

[2017-05-29 07:32] martijnvg commented on #20257
@kutchar The feature will **not** be removed, but we will changing the way it is exposed and how it can be used in ES. The `_parent` meta field type will be replaced by a `join` field type, but the `has_child` query, `has_parent` query and `children` aggregation remain untouched, so there is no loss in functionality.

@yehosef Yes and if someone tries to add multiple values by specifying an array

[2017-05-29 08:08] javanna commented on #24313
another one (from 5.x): https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-intake/1249 . I saw this fail on master too.

[2017-05-29 08:13] almico commented on #24215
I think the real issue here is the circuit breaker.
On a use case I have, Elasticsearch dies after a single cardinality aggregation request.

[2017-05-29 08:23] tlrx opened #24931 "[CI] InternalExtendedStatsTests.testReduceRandom fails"
InternalExtendedStatsTests.testReduceRandom fails with the following error:

<details>

[code]
</details>

The failure can be reproduced using:
[code]

It failed today on CI, see https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/2981/console

[2017-05-29 08:41] jimczi commented on #24920
@Guchman I see that you linked your issue in the discuss forum. We usually do the other way around, post in discuss first and if it's confirmed as a bug we open an issue here.
I answered in the forum ;) :
https://discuss.elastic.co/t/confusing-datehistogram-behavior-buckets-starts-not-from-min-bound-date/87343/2

[2017-05-29 08:41] #24920 closed

[2017-05-29 09:28] clintongormley commented on #24735
Closed by https://github.com/elastic/elasticsearch/pull/24736

[2017-05-29 09:28] #24735 closed

[2017-05-29 09:48] tlrx opened #24932 "[CI] ClusterDisruptionIT.testAckedIndexing fails"
The test `ClusterDisruptionIT.testAckedIndexing` fails today on CI:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+java9-periodic/2689/consoleFull

Note that the test used java 9. I didn't manage to reproduce it locally, it seems that the test is correctly executed but fails in the after test cleaning method:

[code]

Reproduce with:
[code]

[consoleText.txt](https://github.c

[2017-05-29 09:51] bleskes commented on #24929
@markwalkom I think the exception should give you the path. If you're good with that, I'll change the ticket description and label it accordingly.

[2017-05-29 10:00] markwalkom commented on #24929
Sounds great!

On 29 May 2017 7:52 p.m., "Boaz Leskes" <notifications@github.com> wrote:

[2017-05-29 10:10] tlrx opened #24933 "[CI] TranslogTests.testConcurrentWriteViewsAndSnapshot fails"
The test `TranslogTests.testConcurrentWriteViewsAndSnapshot` fails on CI:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/2978/consoleFull

With the errror:
[code]

It does not reproduce locally with:
[code]

[2017-05-29 10:10] tlrx commented on #24933
@bleskes It looks like you modified this test recently, that's why I assigned it to you. Feel free to reassign if needed.

[2017-05-29 12:17] bleskes commented on #24921
If you want all the details, you can watch [this talk from Elastic{ON} 17](https://www.elastic.co/elasticon/conf/2017/sf/consensus-and-reception-in-elasticsearch).

[2017-05-29 12:23] rprots commented on #22516
Related: https://discuss.elastic.co/t/errors-after-installing-x-pack/64210

[2017-05-29 12:30] jinnah79 commented on #24575
Same here... 5.4.0 to 5.4.0 fails.... but 5.3.0 to 5.4.0 works

[2017-05-29 12:54] tlrx opened #24935 "[CI] SmokeTestMultiNodeClientYamlTestSuiteIT {create/60_refresh/refresh=wait_for} fails"
The following test failed on CI (see [this build](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/2970/console)):

org.elasticsearch.smoketest.SmokeTestMultiNodeClientYamlTestSuiteIT test {yaml=create/60_refresh/refresh=wait_for waits until changes are visible in search}

It doesn't reproduce locally and I don't know what happened. The trace shows that the wait_for option

[2017-05-29 13:14] tlrx commented on #24935
@nik9000 I assigned it to you since you might have idea concerning the failing wait_for - feel free to reassign if needed.

[2017-05-29 13:20] nik9000 commented on #24935
I'll add it to my queue but not super high because I don't think this is common.

[2017-05-29 13:25] jasontedor commented on #24935
See this thread
https://groups.google.com/a/elastic.co/d/msg/dev/YvuJFqjJO78/KQgunG_UBgAJ

I ssh to the machine and the issue presents itself again.

I have opened https://github.com/elastic/elasticsearch/pull/24926/ in
response to this.

On Mon, May 29, 2017 at 9:14 AM Tanguy Leroux <notifications@github.com>
wrote:

[2017-05-29 13:32] tlrx commented on #24935
Should be fixed by #24926

[2017-05-29 13:33] nik9000 commented on #24935
Taking it off my list!

[2017-05-29 13:40] tlrx opened #24936 "[CI] LongGCDisruptionTests.testNotBlockingUnsafeStackTraces fails"
The test LongGCDisruptionTests.testNotBlockingUnsafeStackTraces fails on CI:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-unix-compatibility/os=centos/813/consoleFull

It does not reproduce locally.

[code]

[2017-05-29 13:45] #24931 closed

[2017-05-29 14:01] VitorCaleffi commented on #24623
@clintongormley I believe that this way we could make a better sorting on nested queries.

@martijnvg  Nested inner hit.

[2017-05-29 14:12] clintongormley commented on #24623
@VitorCaleffi I need some concrete example.  This is likely to be a complicated change, so I need to know that what you are trying to do makes sense, and there isn't another way to achieve the same thing.

[2017-05-29 14:27] nik9000 opened #24939 "Migrate static backwards compatibility indices tests to qa:full-cluster-restart project"
In #24846 we started migrating the static index backwards compatibility tests to a gradle project. We did this for a few reasons:
1. The static tests played a lot of tricks to get everything to run in the same JVM so they weren't "real". This caused them to miss things from time to time. The `qa:full-cluster-restart` project has no such problems.
2. It is more difficult to reason about the static

[2017-05-29 15:38] #24599 closed

[2017-05-29 15:45] jasontedor commented on #24599
We need to transfer a primary context during relocation hand-off. For now we have reenabled this test with a hack in place to work around the issue. The hack will be removed after we have implemented this. See #10708 for additional details.

[2017-05-29 16:08] ywilkof commented on #24921
Thank you @abeyad  and @bleskes for your answers. I apologize for opening this ticket in the wrong forum.

[2017-05-29 17:09] clintongormley opened #24940 "Script-score returning null values"
Since the upgrade to Lucene 7 (https://github.com/elastic/elasticsearch/pull/24089), the script-score function has been returning null values instead of the script return value:

[code]

returns:

[code]

[2017-05-29 18:52] VitorCaleffi commented on #24623
@clintongormley I have this situation:
`
{
"hits":{
...,
_score: 1.23,
"inner_hits":{
"hit1":{
_score: 1.00,
...
}
"hit2":{
_score: 0.23,
...
}
}
}
}
`
I want, by example, from "hit2" know if the global score is bigget than 1, if so, increment X.
Example: Order by post views: (_globalScore < doc['viewsCount'].value) ? doc['viewsCount'].value : _globalScore

[2017-05-29 22:21] pandrese opened #24944 "geo_point value parsing seems inconsistent and documentation could be improved"
**Elasticsearch version**:
5.4

**Plugins installed**: []
None

**JVM version** (`java -version`):
1.8.0_131

**OS version** (`uname -a` if on a Unix-like system):
Linux 13f1d2351e28 4.4.0-78-generic #99-Ubuntu SMP Thu Apr 27 15:29:09 UTC 2017 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
Confusing error messages are returned during indexing of geo_poi

[2017-05-30 00:14] imotov commented on #20983
I agree, I think we can close this one.

[2017-05-30 00:14] #20983 closed

[2017-05-30 01:11] geekpete opened #24946 "Consider additional java classes for whitelisting"
Consider the following classes for whitelisting:

- org.elasticsearch.common.unit.DistanceUnit
- org.elasticsearch.common.geo.GeoUtils
- org.elasticsearch.common.geo.GeoDistance

For the purposes of performing unit conversions when doing arc distance calculations.
Alternatively provide functions in Painless that wrap necessary classes to perform the same unit conversions and calculations.

These e

[2017-05-30 01:16] geekpete commented on #24946
Possibly related: https://github.com/elastic/elasticsearch/issues/17506

[2017-05-30 03:14] rjernst commented on #18863
I'm going to close this because it duplicates #20426, which is the concrete issue to satisfy this problem.

[2017-05-30 03:14] #18863 closed

[2017-05-30 03:18] rjernst commented on #20426
This work has been slowly progressing in #24868, #24818, #24817, #24873, #24877, #24883, #24896 and #24897.

[2017-05-30 06:23] monikamaheshwari commented on #24520
@nik9000 I am getting same error.How to download 5.4.1 package.

[2017-05-30 06:51] rjernst commented on #21008
The tests for the plugin installer were reworked as part of #24265 and tests for maven and official downloads were added.

[2017-05-30 06:51] #21008 closed

[2017-05-30 07:23] #24940 closed

[2017-05-30 07:26] clintongormley commented on #24944
@pandrese thanks for such a good recreation

@nknize please could you take a look

[2017-05-30 07:34] sakthibalan15 commented on #17355
I have a problem with sorting aggregations on top fields.

`aggs: { salary: {ranges: salary_ranges, score: 1}, company: {}, max_age: {ranges: age_ranges}, show_only: {order: {"_term" => "desc"}},  location: {}}`

After the search I got sorting order are: 1. Max Age, 2. Show only, 3. Company, 4. Location, 5. Salary.
But I need the sorting order are: 1. Show only, 2. Location, 3. Salary, 4. Max age,

[2017-05-30 07:36] clintongormley commented on #24623
And by global score, you mean the score for the query for that doc?  Or what?

And why do you want to do this?

What you have shown is not a good way to include a signal like viewsCount.  You should never rely on an absolute score to have any meaning.  It depends entirely on which terms have been queried. Instead you want to apply a logarithmic function to viewsCount and add the result to the `_sc

[2017-05-30 07:47] shcherbak opened #24951 "CircuitBreakingException: Data too large"
**Elasticsearch version**: 5.2.1

**Plugins installed**: [No]

**JVM version** (`java -version`): java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

**OS version** (`uname -a` if on a Unix-like system): Linux fo-sys-els-02.srv.icecat.biz 4.9.0-0.bpo.2-amd64 #1 SMP Debian 4.9.13-1~bpo8+1 (2017-02-27) x86_6

[2017-05-30 10:03] cbuescher commented on #24951
This doesn't look like a date parsing problem to me. Adding a simple document like `{"ExpiryDate":"2050-12-12"}` works just fine for me in 5.2.1.
@shcherbak where do you see the "java data parse error"? What's the mappings for the "ExpiryDate" field? Also the source of the document in the log looks strange, my json formatter complains starting with `..."link":29272.pdf"...` where the quoting of th

[2017-05-30 10:11] DivyaMalini opened #24955 "nowInMillis removed from QueryParseContext ?"
In our prev versions we had taken dependency on "nowInMillis()" method for some telemetry purpose . Now in the latest code i see it removed ? I was trying to use System.currentTimeMillis() but worried that the correlation might be broken between nodes.

What is the reason to remove it and how could i accomplish the same now?

[2017-05-30 10:14] jasontedor commented on #24955
I see https://discuss.elastic.co/t/searchcontext-and-queryparsecontext-not-having-nowinmillis-anymore/87454. Elastic prefers to use GitHub only for verified bug reports and feature requests and provides the [forum](https://discuss.elastic.co) for general questions.

[2017-05-30 10:14] #24955 closed

[2017-05-30 10:24] shcherbak commented on #24951
@cbuescher , here it is:
org.elasticsearch.index.mapper.MapperParsingException: failed to parse [ExpiryDate]
"link":29272.pdf" -  vas a valid json, i'v deleted some of data because of security issue (domain, resource etc). it sould be "link":"29272.pdf"

[2017-05-30 10:34] jmorph99 commented on #24543
I am still working on this.  I have to learn a new build tool (gradle), a
new IDE (intelliJ) and a new code base(Elasticsearch), but I will deliver.

On Sun, May 28, 2017 at 1:45 AM, Ryan Ernst <notifications@github.com>
wrote:

[2017-05-30 10:36] cbuescher commented on #24951
Ok, thanks for clearing up the issue with the documents "source". As I mentioned, the error shown doesn't point to a problem with the date parsing, it only happens your your "ExpiryDate" field. I checked that there is nothing wrong in general with the format, without a mapping "2050-12-12" gets recognized as a date and parsed correctly. So in order to reproduce this we need a minimal example of a

[2017-05-30 10:39] shcherbak commented on #24951
@cbuescher , thank you for response. i'l try to get some examples of our documents for reproducing

[2017-05-30 11:28] bleskes commented on #24543
Thanks for picking this up. Let us know if you need any help.

[2017-05-30 12:22] #24933 closed

[2017-05-30 12:30] jpountz commented on #24440
Agreed that sampling might help with this issue. I think we should also work on eliminating the array access that we perform whenever we call `startTime` or `stopAndRecordTime`.

[2017-05-30 12:34] nik9000 commented on #24520
5.4.1 has not been released. We are working on it.

On Tue, May 30, 2017, 2:23 AM Monika <notifications@github.com> wrote:

[2017-05-30 12:54] nik9000 commented on #24891
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu/1039/console

[code]

[2017-05-30 13:00] jpountz commented on #20209
I just ran the following locally and it worked for me, the wildcard search was normalized:

[code]
Maybe you are testing on a pre-5.2 cluster that does not automatically normalize wildcard queries? Otherwise I'd be interested to look at a recreation of this issue.

[2017-05-30 13:00] colings86 commented on #23003
@xo4n unfortunately I haven't yet had any luck in reproducing this. I'm wondering if you would be willing/able to privately share your index with me to assist me in reproducing this? If you are not able to share the full index maybe you could use the reindex API to create an index where the documents only contain the field `v_startTime` and share that index with me?

[2017-05-30 13:31] s1monw opened #24958 "`PercolatorFieldMapperTests` needs to be rewritten to only use a single type."
We don't allow multiple types in 6.0 anymore such that `PercolatorFieldMapperTests` must be rewritten to only use one. I spoke to @martijnvg about it and he will take care of it.

[2017-05-30 13:42] s1monw opened #24961 "Make `mapping.single_type` only settable if the index is a 5.x index"
`mapping.single_type` allows to add multiple types which is something that 6.x indices must not allow. Yet, today this setting is still modifiable while it defaults to `true` In order to move make it only settable on 5.x indices and read-only in 6.0 we need to fix several things like:

- [x] Fix `PercolatorFieldMapperTests` to use a single type #24958 / #24963
- [x] Move Rest tests that use multip

[2017-05-30 13:49] nik9000 commented on #24961
The `qa:full-cluster-restart` project might be useful here.

[2017-05-30 13:59] s1monw commented on #24961
I don't think it needs to be that complicated we can just use the `qa:mixed-cluster` project

[2017-05-30 14:15] johnrfrank commented on #7640
@clintongormley it'd be great to have this feature.  What are the chances this will get into an upcoming release of Elasticsearch?

[2017-05-30 14:42] nik9000 commented on #7640
@johnrfrank this was merged into 2.0.0. We've since deprecated content detection in favor of providing a content-type header.

[2017-05-30 16:05] Grinnz commented on #20209
This is on 5.4. Try with this analyzer and a query starting with a wildcard:

[code]

[2017-05-30 16:13] jpountz commented on #20209
Thanks, it is a bug indeed. I opened #24967.

[2017-05-30 17:12] gmarz opened #24968 "Index API: NullPointerException when document isn't provided"
**Elasticsearch version**: 5.4.0

**Description of the problem including expected versus actual behavior**:

Calling the index API without a body results in a `NullPointerException`.

**Steps to reproduce**:

[code]

or

[code]

Response

[code]
**Provide logs (if relevant)**:

[code]

[2017-05-30 17:23] jasontedor commented on #24968
This duplicates an existing issue and there is a PR open for it: #23497

[2017-05-30 17:23] #24968 closed

[2017-05-30 17:36] gmarz commented on #24968
Ah, sorry didn't see that one.

[2017-05-30 18:18] dadoonet opened #24969 "Update to Apache Tika 1.15"
Apache Tika 1.15 has been released today.

Release notes:

Release 1.15 - 05/23/2017

  * Tika now has a module for Deep Learning powered by the
    DL4J toolkit. The initial included model is for InceptionV3
    and so using this module, natively in Java, Tika can use
    Deep learning for metadata/text extraction from Images using
    the power of the Inception model (Github-165).

  * A new par

[2017-05-30 21:36] phpmongodb commented on #21162
If you have install elastic search through homebrew then try bellow line to start elasticseach instead of elasticsearch

[2017-05-30 22:26] jmorph99 commented on #24543
Thanks Boaz,

After removing the override I get a test error.  I am not sure if the
modification is bad or I need to modify/remove the test.  Could you provide
me with guidance?

John

Testing started at 6:17 PM ...
6:17:17 PM: Executing external task 'check'...
:buildSrc:compileJava UP-TO-DATE
:buildSrc:compileGroovy UP-TO-DATE
:buildSrc:writeVersionProperties UP-TO-DATE
:buildSrc:processResource

[2017-05-31 03:53] rjernst commented on #24543
The output explains what is happening:

[code]

GceDiscoveryTests is an ESIntegTestCase. You need to update the nodeSettings() method to not set the `discovery.type` (which is the old way that your change is removing support for), and instead set `discovery.zen.hosts_provider`.

[2017-05-31 04:19] EamonHetherton commented on #12366
+1

[2017-05-31 05:47] jmorph99 commented on #24543
Thanks, that did it.

The check against the code base went fine.
I committed the changes, rebased, pushed, and signed the agreement and then made a pull request on Github site.  If anyone could check to see if I did it correctly that would be good, this is my first time.

John

[2017-05-31 06:27] monikamaheshwari commented on #10345
@kimchy I want to replicate same set of data from mongoDB server to elasticSearch server and vice
versa. What should i use?

[2017-05-31 06:31] dadoonet commented on #10345
@monikamaheshwari please ask your question on discuss.elastic.co. I'm sure many users will be able to share their experience with you. Or better, search on discuss for previous discussions regarding this.

[2017-05-31 07:12] #24958 closed

[2017-05-31 08:27] markharwood commented on #24910
The only thing I'd question here is whether it makes sense to support negative weights in the query requests in the first place.

[2017-05-31 09:08] hlidek commented on #24928
I've experienced the same NPE issue.
- Elasticsearch version: 5.3.0
- without plugins
- Java 1.8.0_121, Ubuntu 16.04.2 LTS

[2017-05-31 09:35] #24129 closed

[2017-05-31 09:53] titzi commented on #21101
+1 especially as an option block in index templates, I guess this would be a perfect spot for it.

[2017-05-31 10:45] jasontedor commented on #24719
No additional feedback, closing.

[2017-05-31 10:45] #24719 closed

[2017-05-31 10:48] jay-dihenkar commented on #24719
Hi Jason,

We upgraded JDK last week but do not see any improvements yet. Will let you know further if we have any improvements or we may look forward to ES Upgrade.

Thanks

[2017-05-31 11:14] lukas-vlcek commented on #23535
It seems something has changed. I no longer see the super tiny font, it is much more readable now. Very close to what it was before. Except the code syntax highlighting is gone ATM, but that is probably another issue. I am closing the ticket.

Example 1):
![screen shot 2017-05-31 at 13 10 52](https://cloud.githubusercontent.com/assets/205174/26629484/ebd4824a-4602-11e7-8ff6-67b6d6fb6486.png)

Exam

[2017-05-31 11:14] #23535 closed

[2017-05-31 12:03] gingerwizard opened #24980 "Set operations for lists in painless"
This is a low priority feature that i feel would make common painless tasks more succinct.

This requirement typically arises in watches where there is a need to compare sets of values produced by terms aggregations. Consider alerts such as:

1. Alert me when a user logs onto a new server
2. Alert me when a process starts on a server for the first time

Both of these require comparison of two term

[2017-05-31 12:11] jimczi commented on #24774
We use `Infinity` (or `-Infinity`)  for `float` and `double` where the value is missing in the document. `Infinity` is the biggest possible value so we use it to sort the document without value for the field last. You can change this behavior using the `missing` attribute in the sort definition:
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-sort.html#_missing_value

[2017-05-31 12:11] #24774 closed

[2017-05-31 12:15] gingerwizard commented on #24980
I should emphasise i'm not fussed on the specifics of the syntax - people maybe be understandably reluctant to overload operators. For example,

collection.union(other_collection)

would also be perfect.  The emphasis is keeping the painless succinct whilst also readable.

[2017-05-31 13:28] jay-dihenkar commented on #24719
@jasontedor : Is this in any way related to issue being faced? - https://www.elastic.co/blog/tracking-down-native-memory-leaks-in-elasticsearch

[2017-05-31 13:31] jasontedor commented on #24719
@jay-dihenkar The leaks discovered there were fixed in 5.2.1.

[2017-05-31 14:37] cbuescher commented on #24269
I'm closing this for now since it looks like this is going to be opened as a PR again. Feel free to reopen or add an outline of your suggested approach here.

[2017-05-31 14:37] #24269 closed

[2017-05-31 15:45] helloWorldCheer opened #24983 "Can I customize the inverted index to achieve cosine similarity?"
I want to storage the pairs of keyword and weight of a aticle instead of the full text inelastic search.The document's format is in elasticsearch as follows:
{title:"XXX",keyWords:{{"keyword1":value1},{"keyword2":value2},{"keyword3":value3}.....} .
The query's format is as follws:
{{"query1":value1},{"query2":value2},.....}.
I want to replace the elasticsearch scoring mechanism with cosine similar

[2017-05-31 15:46] rjernst commented on #24980
We should not have set operations on lists, that is trappy.  I also don't see how having such operations on lists would make this any more succinct. You would still have the crazy filter statements. If you want to union the two lists uniquely, build sets using `new HashSet(mylist)`.

[2017-05-31 15:55] bleskes commented on #24543
@jmorph99 I think something went wrong and you made your pull request against your own fork. Can you try again and open it against this one?

[2017-05-31 16:03] rjernst commented on #24983
Please ask questions on https://discuss.elastic.co. Github is for bug reports and feature requests.

[2017-05-31 16:03] #24983 closed

[2017-05-31 16:54] jpountz opened #24986 "DocValueFieldsFetchSubPhase should pull one iterator for all top hits"
Doc values have moved to an iterator API in Lucene 7. We should fix DocValueFieldsFetchSubPhase to only pull the iterator once and then iterate over top hits in doc id order in order to limit the cost of calling `advance` on the doc value iterators.

[2017-05-31 16:55] yrodiere opened #24987 "Rest client does not url-encode the path"
**Elasticsearch version**: 5.4.0

**Plugins installed**: N/A

**JVM version** (`java -version`): 1.8.0_121

**OS version** (`uname -a` if on a Unix-like system): Fedora 25

**Description of the problem including expected versus actual behavior**:

When calling any of the "performRequest" method of RestClient, the "endpoint" (= path) parameter is not url-encoded. As a result, non-ascii parameters m

[2017-05-31 17:01] jpountz commented on #24986
This probably also means we should try to benchmark `doc_values` fields as we might have to update our recommendations as to when it is a good idea, eg. compared to using `_source`.

[2017-05-31 17:09] clintongormley commented on #24987
I think `performRequest` is too late to encode the path, eg imagine you're using `PUT {index}/{type}/{id}` and your id is `foo/bar`.  You can't encode the full path correctly at that stage.  Instead, the path needs to be built by concatenating encoded sub-parts.

[2017-05-31 17:20] Sanne commented on #24987
I work on the same team as @yrodiere . Just want to point out that I'd prefer the Rest client to not encode things so that we can pre-encode and reuse the strings pointing to frequently accessed URLs.

So we'd be happy to keep things as they are but it would be great to know if we can rely on this in the foreseeable future?

Thanks!

[2017-05-31 19:18] polyfractal commented on #24893
Thanks for the feedback @mpaduada!  Really appreciate the input. :)

I'm curious how any kind of gap policy can lead to proper analysis though.  After thinking about it, even `skip` is looking wrong to me right now.  It seems to me that the only really useful policy would be `insert_NaN`, e.g. treat all gaps as true gaps/null/NaN.  Then gaps can then be cleaned up at the end of the analysis.

E.g

[2017-05-31 20:17] rjernst commented on #24893
I think the point was to skip Sat/Sun since the markets were closed, so a daily derivative would act as if Sat/Sun did not exist, and Fri->Mon is the diff?

[2017-05-31 21:56] rhbecker opened #24991 "[DOCS] explicitly state whether or not each mapping param can be updated on an existing field"
**Elasticsearch version**:

v5.4 docs (also checked against master branch)

**Description of the problem including expected versus actual behavior**:

The put mapping doc states:

I interpret this to mean I should expect to find an indication on every one of the 24 mapping parameter doc pages. In reality, only 13 of 24 include a statement (so far as I can find):

1. 10 (coerce, dynamic, enabled, f

[2017-05-31 22:16] polyfractal commented on #24893
Mmm, I see.  Yeah I misinterpreted, because I was thinking the proposal would "fill in" the empty buckets with the next good value.  So  `[1, 2, null, null, 5, 6]` would become `[1, 2, 5, 5, 5, 6]` which would produce all kinds of oddities.

But if the proposal is to skip any null/Nan bucket (like it does today), but when it encounters a real value it finds the last usable value (`2` in the above

[2017-05-31 22:28] ejain opened #24992 "Java API exposes Lucene class missing from core elasticsearch artifact"
`org.elasticsearch.index.query.QueryBuilders::nestedQuery` takes a parameter of type `org.apache.lucene.search.join.ScoreMode`. This class is not included in the core elasticsearch artifact (5.4.0), so an explicit dependency on lucene-join (6.5.1) has to be added to clients.

[2017-06-01 00:27] nik9000 commented on #24992
This isn't new..... We'd like to drop the dependencies on the client and we
are working on it slowly. The java high level rest client is the first
step. It still has many dependencies we don't want in a client but it gives
us a path to removing them.

On Wed, May 31, 2017, 6:28 PM Eric Jain <notifications@github.com> wrote:

[2017-06-01 01:09] jmorph99 commented on #24543
Ok, try it tomorrow.

On May 31, 2017 11:56 AM, "Boaz Leskes" <notifications@github.com> wrote:

[2017-06-01 04:01] showmeall opened #24994 "data node is down suddenly when we merge segment force"
**Describe the feature**:

**Elasticsearch version**: 2.4.0

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0

**OS version** (`uname -a` if on a Unix-like system): centos 7.2

**Description of the problem including expected versus actual behavior**:

we want merge segment due to the segments count is about 1000 now,  when we merge  segment force
,  one of data node is down sudd

[2017-06-01 05:08] liuguangmin opened #24995 "A budge in ES hightlight about"
**Describe the feature**:

**Elasticsearch version**:

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index creation, mappings, settings, query

[2017-06-01 05:09] #24995 closed

[2017-06-01 05:25] liuguangmin opened #24996 "A budge in ES hightlight about keyword "before""
ES：5.3.0
OS：Linux
java：jdk1.8
 #**my mapping is below:**
============my mappings =============
{
  "zhongxing2": {
    "mappings": {
      "zhongxing2": {
        "_all": {
          "enabled": false
        },
        "properties": {
          "itemid": {
            "type": "keyword",
            "store": true
          },
          "OriginalLog": {
            "type": "text",
            "store

[2017-06-01 06:02] liuguangmin commented on #24996
I make a new test as follow
===============   new doc ====
curl -i -X POST -H "'Content-type':'application/json', 'charset':'utf-8', 'Accept': 'text/plain'" -d 'json_data={"appname":"zhongxing2","log_list":[{"itemid":"1885469469605","is_online":"1","OriginalLog":"before after more and more"},{"itemid":"1885469469606","is_online":"1","OriginalLog":"sure before sure pleasure metre centre centimetre"

[2017-06-01 07:29] martijnvg commented on #23963
The test failed again, but this time differently:

[code]

Link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/3020/console

[2017-06-01 07:39] martijnvg opened #24997 "SearchIT#testSearchWithTermsAgg failure"
Failed with:

[code]

Url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu/1049/consoleText

Doesn't reproduce.

[2017-06-01 07:46] vovolie commented on #24520
same issue. reindex 1.6.0 to 5.4
dates release 5.4.1?
Thanks.

[2017-06-01 08:03] clintongormley commented on #16796
Related to https://github.com/elastic/elasticsearch/issues/11328

[2017-06-01 08:10] Alfred1992 opened #24998 "Time parsing exception"
**Elasticsearch version **: 5.4.0

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_91

**OS version** (`uname -a` if on a Unix-like system): Windows 10

**Description of the problem including expected versus actual behavior**:
  Time parsing exception if the time string has equal or more than 10 decimal digits,
  for example: "2017-05-24T17:56:28.0123456789+02:00"

**Steps to r

[2017-06-01 08:47] lukas-vlcek opened #24999 "Document use of URL param "level" for Nodes Stats"
The **Nodes Stats** API supports `level` URL parameter. Possible values are `node`, `indices` and `shards`. In case the value is `indices` or `shards` the output contains additional part with relevant data. Check the [source code](https://github.com/elastic/elasticsearch/blob/ee802ad63c0f21d697a5095dd05dc6f94626ee4d/core/src/main/java/org/elasticsearch/indices/NodeIndicesStats.java#L192-L225).

I

[2017-06-01 09:40] tragiclifestories commented on #12016
How do any of these help with a bool query? Use case is a variant on the 'multiple indices' one: I've recently started indexing a field that is used to exclude results with bool/must_not. This works with 2.4, not with 5.x. I don't see how this could be rewritten as any of the queries that support `ignore_unmapped`

[2017-06-01 09:51] glefloch commented on #24969
Hi, I'm pushing a branch with the version update. But I was asking myself about few changes added to this version of tikka:

* Change default behavior of Office Parsers to not extract Macros. Do we enable it to keep the same behaviour as before?
* New parsers have been added, do we add them?

[2017-06-01 10:11] cbuescher commented on #24996
This looks like general usage problem to me. Elastic reserves GitHub for bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co) and [IRC channels](https://www.elastic.co/community) for general questions like this, so I'm closing this issue and kindly ask you to ask this again in the forums and wait for somebody to respond there.

[2017-06-01 10:11] #24996 closed

[2017-06-01 10:12] #24999 closed

[2017-06-01 10:22] clintongormley commented on #24987
@javanna can confirm this

[2017-06-01 10:29] lukas-vlcek commented on #24999
Thanks @clintongormley

[2017-06-01 10:34] clintongormley commented on #14811
It's not a bug.  The search body is missing the `query` parameter

[2017-06-01 10:42] cbuescher commented on #24998
This is expected, the default date parsing format `strict_date_optional_time` does not support more digits. If you need more digits you can define your own [format](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-date-format.html), e.g. using `"format": "yyyy-MM-dd'T'HH:mm:ss.SSSSSSSSSSZ"` will give you ten digits, and you can specify even more. However, internally dates wi

[2017-06-01 10:42] #24998 closed

[2017-06-01 11:59] bleskes commented on #23963
@jasontedor you might be able to help here.

[2017-06-01 12:46] csben commented on #24910
I feel like there's a mathematical argument against supporting negative weights, but that in practice, they're kind of important.  In particular, we ran into this while computing sums of log probability scores using FIELD_VALUE_FACTOR functions with a modifier of LOG1P.  For values of P in (0,1), each LOG1P is going to be negative, so a negative weight is required when summing.  This happens to bo

[2017-06-01 13:01] yehosef commented on #20257
I assume it also has to be protected for scripted updates.

Just to confirm, I'll be able to use fields in the root of the document payload or fields such as "type" or "parent_id" and I won't have to use a nested object like "join.type" and "join.parent_id".  Is that correct?

Would this change allow documents to have multiple parents?

[2017-06-01 13:12] Alfred1992 commented on #24998
Thank you

[2017-06-01 13:17] jimczi commented on #20257
You'll have to use an object field defining the name of the join and an optional parent.
The parent-join is just an object field that needs to be defined at the root level, we don't want to hack the document updates to magically handle this feature. I understand that changing the logic of a feature that exists for years is not ideal but the benefit of the rewriting is that it is now isolated in a

[2017-06-01 13:26] yehosef commented on #20257
@jimczi - thanks for the clarification.  So the "join" field represent and object and be "special".   So I'll be able to change the mapping if I have a field called "join" in my document to something else like "parent-join" or something else and that will be where the join data lives?  Eg. parent-join.name, parent-join.parent ?

But don't you still have to hack those fields to disallow arrays or s

[2017-06-01 13:30] #24997 closed

[2017-06-01 13:34] jimczi commented on #20257
@yehosef we'll write a complete documentation of this feature when it's ready (which should happen soon). In the mean time you can follow the iteration we're doing to make this feature alive.
For instance the new field mapper has been added here:
https://github.com/elastic/elasticsearch/commit/b5d62ae74766ff11a739d867192d93dc674cd191

I'll update this issue when we have something that people can s

[2017-06-01 13:37] jpountz commented on #24994
There are two reasons why you might be getting this exception, either you have an index created by Elasticsearch 0.90 or less in your data directory, or your segments file got corrupted. Have you upgraded recently?

[2017-06-01 14:11] tnunes opened #25004 "Cannot optimize index due to NPE"
**Elasticsearch version**: 5.4.0

**Plugins installed**: [ingest-geoip, ingest-user-agent, x-pack]

**JVM version**:
java version "1.8.0_74"
Java(TM) SE Runtime Environment (build 1.8.0_74-b02)
Java HotSpot(TM) 64-Bit Server VM (build 25.74-b02, mixed mode)

**OS version**:
Darwin MacOS 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64

[2017-06-01 14:15] jasontedor commented on #25004
It's not _optimize, it's _forcemerge. This is getting parsed as an indexing request against the type _optimize on the index dev.

[2017-06-01 14:15] #25004 closed

[2017-06-01 14:32] tnunes commented on #25004
Thank you @jasontedor for the quick reply, was not aware that `_optimize` got changed to  `_forcemerge`. It's working now!

Would it make sense for ES to return a 400 or 404 for this scenario?
Even though I invoked the wrong route, it seems this NPE should be avoided and ES should not be returning a 500?

[2017-06-01 14:36] dadoonet commented on #24969
I would not enable it by default. For the context of ingest-attachment, I don't believe indexing the content of macros makes sense.

We can but you need to add some sample files to make sure they are properly tested. You can get them from https://github.com/apache/tika/tree/master/tika-parsers/src/test/resources/test-documents

[2017-06-01 14:47] #23101 closed

[2017-06-01 15:06] jasontedor commented on #25004
@tnunes You raise good questions but this is a tricky situation.

Since there is no handler registered for `/catalog-dev/_forcemerge`, your request is interpreted as an index request against the index `catalog-dev` for the type `_forcemerge` (by default, types can be created dynamically). The NPE arises from the empty body for an indexing request which is a bug and should be fixed (there's an open

[2017-06-01 15:28] fkoclas commented on #12366
👍

[2017-06-01 15:39] tnunes commented on #25004
It seems that with the fix you mentioned that 500 is gonna become a 400 with a more explicit message, so it should immediately help a user understand it did something wrong, in contrast to being an ES bug that causes it to blow up.

Thank you for the explanation. I guess when #23497 gets merged and released this should not happen anymore.

(BTW, I believe you meant to `s/_forcemerge/_optimize` you

[2017-06-01 15:40] jasontedor commented on #25004
Yes, I did, sorry for the mistake, thanks for the correction and I've edited it inline. 😄

[2017-06-01 16:22] nik9000 commented on #24520
5.4.1 is just now live.

[2017-06-01 16:34] sschepens opened #25007 "Configurable Netty4 EventLoopGroup in Client"
One of the benefits of Netty and recommended setting is to use the same EventLoopGroup in an application, this allows for reduced thread usage and context switching.

It would be great if client would allow to provide an external EventLoopGroup and be used by the transport instead of creating a new EventLoopGroup for each client instance.

Furthermore client could reuse a single static EventLoopGr

[2017-06-01 17:02] clenk commented on #23348
I also ran into this issue, but I needed to index the field and search on it so I could not use @matAtWork's workaround. A more accurate error message would have saved me time and confusion.

[2017-06-01 17:07] davidklebanoff commented on #24117
@javanna Sorry, I do not have the time.

[2017-06-01 17:13] ertaoxu opened #25008 "Can the Cross Cluster Search of elasticsearch be combined with kibana ?"
**Describe the feature**:

**Elasticsearch version**:
5.4.0

**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_73"
**OS version** (`uname -a` if on a Unix-like system):
CentOS Linux release 7.1.1503 (Core)
**Description of the problem including expected versus actual behavior**:

The tribe nodes is now being used by me with kibana.
I found the elasticsearch new feat

[2017-06-01 17:19] jasontedor commented on #25008
See elastic/kibana#11011.

[2017-06-01 17:19] #25008 closed

[2017-06-01 19:37] abeyad commented on #23963
@bleskes I'll take a look and ping @jasontedor as necessary for any help

[2017-06-01 21:52] lokeshmadan opened #25012 "ES architecture"
We are exploring ES in our stack. I was looking around for some good architecture diagrams which shows internals of ES like how Netty is used by ES, which protocols needs to be configured and enabled for making cluster work(multicast, unicast), which protocols gets utilized at different layers(application(i guess ES uses Native Elasticsearch binary protocol), network ,etc). I know details of how E

[2017-06-01 22:10] lokeshmadan opened #25013 "Simple 2 node cluster"
I tried to form a simple 2 node cluster, with below configuration but doesn't seems to be working. Am i doing anything wrong ? Idea here is 1 node is already running and i want to bootstrap another node and join the cluster.  There's no firewall running on these nodes.

I am running ES5.4 on linux 4.1.12-32.2.3.el7uek.x86_64 Red Hat Enterprise Linux Server release 7.1 (Maipo)

Node A(Bootstrapped

[2017-06-01 22:23] dakrone commented on #25013
Hi,
We reserve Github issues for feature requests and bug reports. If you are having problems please use https://discuss.elastic.co instead!

[2017-06-01 22:23] #25013 closed

[2017-06-01 22:26] jasontedor commented on #25012
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-06-01 22:26] #25012 closed

[2017-06-01 22:30] lokeshmadan commented on #25012
@jasontedor : I actually opened the thread on forum [Here](https://discuss.elastic.co/t/es-network-architecture/87646) is the link for that and was adviced to open the feature request for this.

[2017-06-01 22:31] elasticmachine opened #29947 "[Monitoring] node_stats needs version and uptime information"
*Original comment by @tsullivan:*

Related to LINK REDACTED

Version and Uptime should show in the summary bar on any detail view, for example Kibana instance or Logstash node. In order to do this for Elasticsearch, we need the version and uptime information added to node_stats documents.

Right now, it is present in the cluster_stats documents, which seems strange because different nodes can be s

[2017-06-02 00:44] pickypg commented on #23099
Going to fix this by:

- [ ] Catching `AlreadyClosedException` #25016
- [ ] Eliminating `accumulateExceptions` from `TransportNodesAction` (thus always accumulating exceptions)

[2017-06-02 01:49] ppf2 opened #25018 "Cluster stats fs metrics showing exabytes of storage"
5.3.0

Not sure if it is related to https://github.com/elastic/elasticsearch/issues/24472
(there are no multiple instances running on the node machines in this case).

The cluster level stats collected shows a correct total # of cores across all the nodes in the cluster, but check out the fs metrics.

[code]

fs metrics is showing total, free and available to be all the same, and in exabytes which

[2017-06-02 06:15] fred84 commented on #24928
@clintongormley May I take this issue?

[2017-06-02 07:07] bleskes commented on #24928
@fred84 go for it. Thanks.

[2017-06-02 07:48] haizaar commented on #15613
We have a large user base trained to use "_type" meta field to search/navigate our multi-type indices. Will we be able to index documents containing "_type" field as part of their body attributes? This is to make shift to type-less indices as smooth as possible.

[2017-06-02 08:12] colings86 opened #25020 "NullPointerException in Scripted metric aggregation reduce script when used within terms and filter aggs"
This bug was first raised in this forum topic: https://discuss.elastic.co/t/elasticsearch-5-3-scripted-metric-reduce-script-running-twice/87784

To reproduce this start a fresh cluster and running the following (note this script will delete any existing index named `test`):
[code]

The search request will fail with:
[code]
Which is weird because `profit` should not be null since its a declared loc

[2017-06-02 08:45] bleskes commented on #15613
@haizaar you can have whatever field you want and treat as a category field (which what the current `_type` is, if you don't abuse it). Note though, that going forward we're likely to not allow user fields which start with `_` to avoid collision with the internal meta fields - so it might not be a good idea to keep the `_type` name.

[2017-06-02 09:07] colings86 commented on #25020
After digging some more I have realised that this is actually not a bug but we should clarify the behaviour int he documentation.

Firstly,  the reduce script is run multiple times because the scripted_metric aggregation is a sub-aggregation of the terms aggregation it is evaluated for each of the terms buckets so the reduce script needs to be run for each bucket in the terms aggregation. In my re

[2017-06-02 09:13] #24836 closed

[2017-06-02 10:02] colings86 commented on #25020
The documentation has been updated in https://github.com/elastic/elasticsearch/commit/5e7a79636d2bbad0525e677531a173d5e865230f

[2017-06-02 10:02] #25020 closed

[2017-06-02 11:15] jasontedor commented on #23963
I think this should have been opened as a different issue given that it's a different failure. Either way, I opened #25021.

[2017-06-02 12:07] #23963 closed

[2017-06-02 12:21] ggiessl opened #25022 "Missing base64 library for secured HDFS repository initialization :Plugin Repository HDFS"
**Elasticsearch version**: 5.4.1

**Plugins installed**: [ "repository-hdfs" ]

**JVM version** (`java -version`):
openjdk version "1.8.0_101"
OpenJDK Runtime Environment (build 1.8.0_101-b13)
OpenJDK 64-Bit Server VM (build 25.101-b13, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux elasticsearch 3.10.0-327.10.1.el7.x86_64 #1 SMP Sat Jan 23 04:54:55 EST 2016 x86_64 x86_64

[2017-06-02 12:27] nik9000 commented on #24256
Discussed this morning with a group. We feel like the best thing to do is explicitly document the limitations of the exists query rather than change any behavior around `ignore_above` or `ignore_malformed`. The behavior we have makes a certain kind of sense and changing it wouldn't necessarily be better. Thus we take the path the breaks clients the least and just make the current behavior more cle

[2017-06-02 13:11] clintongormley commented on #24814
Hi @lukas-gitl

We're not going to be able to move geopoints to accept geojson.  However, we hope to add a new `geo` field type in 6.x which will unify points and shapes, and should hopefully support a number of different formats, including geojson.

[2017-06-02 13:11] #24814 closed

[2017-06-02 13:59] #24891 closed

[2017-06-02 14:00] francescobianco opened #25025 "Pleassss help!"
I'm NOT able to PULL this image
docker.elastic.co/elasticsearch/elasticsearch
on official elastic hosting

Why we have leave DockerHUB??? Why??? Mirroring is the best approch!!

[2017-06-02 14:09] jasontedor commented on #25025
This is not the right repository (https://github.com/elastic/elasticsearch-docker), and it works fine for me right now.

[2017-06-02 14:09] #25025 closed

[2017-06-02 14:09] nik9000 opened #25026 "[CI] RemoteClusterConnectionTests.testNodeDisconnected failure"
This doesn't reproduce locally for me so it might be a rare, one off kind of thing:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/720/console

Actual failure:

[code]

[Here](https://gist.github.com/nik9000/a91ef00af0ba0fd212ef07bb12b175ef) is the logging from the suite.

[2017-06-02 14:11] samuelcolvin opened #25027 "docker image elasticsearch/elasticsearch:5.4.2 not found"
Straight from your docs:

Which gives:

[code]

`5.4.1` works but not `5.4.2`.

Am I going mad or does one of your 4 main ways of installing elastic search currently not work?

[2017-06-02 14:13] jasontedor commented on #25027
5.4.2 is not released.

[2017-06-02 14:13] #25027 closed

[2017-06-02 14:15] samuelcolvin commented on #25027
https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html

5.4.2 is referenced 6 times.

[2017-06-02 14:19] jasontedor commented on #25027
The version constant was bumped prematurely, it's fixed in 6f88b5b92be107b92b95bfd9ddd0fa9dc0e79a34. The page will regenerate soon.

[2017-06-02 14:28] elasticmachine opened #29948 "Security, Aliases and Closed indices confuse open-only wildcard expansion"
*Original comment by @bleskes:*

X-pack has a security away wild expanses logic. When resolving requests which expand wild cards to open indices (almost all monitoring/search requests) if the cluster has a *closed* index which has an alias.

[code]

as far as I can tell this is present in 5.4 & master. Looking at it with Jay, the culprit is a combination of AuthorizedIndices expanding empty index

[2017-06-02 15:18] elasticmachine opened #29949 "[CI] LicensingTests.testEnableDisableBehaviour fails waiting to apply cluster states"
*Original comment by @nik9000:*

LINK REDACTED

Right now we don't have enough information to debug this. I'll push something to crank the logging level up this test.

For the record, the failures look like:
[code]

[2017-06-02 15:28] m1kola commented on #24644
I think this should be mentioned in the [Breaking changes in 5.4](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-5.4.html#breaking-changes-5.4) document and/or fixed, because `HEAD` request returns `404` for this endpoint in Elasticsearch 5.3 (I guess it works in the same way in all 5.* versions except 5.4 and higher). As far as remember versions 2.* and in 1.* al

[2017-06-02 15:50] javanna commented on #24644
hi @m1kola  which breaking change do you mean? You commented on an issue that is opened for discussion, hence no change directly related to this issue has been committed yet.

[2017-06-02 15:53] jasontedor commented on #24644
@m1kola It's in the [release notes for 5.4.0] as this is considered a bug fix (the fact that HEAD and GET had mismatched behavior is a specification violation, and therefore a bug). The line item is:

[2017-06-02 16:24] markharwood opened #25029 "Aggregations bug: Significant_text fails on arrays of text"
Given a document with a field that has arrays of free text values the `significant_text` aggregation treats each array element as a separate document when it comes to counting doc frequencies of terms which can lead to this error from the significance heuristic:

          "type": "illegal_argument_exception",
          "reason": "subsetFreq > subsetSize, in JLHScore"

This is down to a bug in whe

[2017-06-02 17:09] #24936 closed

[2017-06-02 17:40] jbaiera commented on #25022
@ggiessl Could you include the logs from the Elasticsearch Node when this error occurs?

[2017-06-02 17:49] m1kola commented on #24644
Hi @javanna. I know that the issue is marked for discussion, but it looks like initially @jbfewo wanted to report a bug. See [the first comment](https://github.com/elastic/elasticsearch/issues/24644#issue-228274526).

---

Hi @jasontedor. Yes, it fixes specification, but introduces incompatibility with 5.3 and older versions. See the demo below.

# Steps to compare/reproduce

I compare the behavio

[2017-06-02 18:20] jasontedor commented on #24644
It's just mislabeled, we are going to fix this.

[2017-06-02 18:33] johnrfrank commented on #20257
@jimczi  will this new join field type rely on Global Ordinals?  Or, more to the point, what will be the practical considerations relevant to using `_join`?  How will important details like the byte-length of record identifiers impact the use of `_join`?

Thanks for any guidance on this -- or anticipated guidance :-)

Very excited to see this new feature coming together.

[2017-06-02 19:16] #24790 closed

[2017-06-02 20:56] A-Hall opened #25035 "Shrink API attempts to apply mapping from index templates."
**Elasticsearch version**: 5.3

**Plugins installed**: Cerebro, X-Pack

**JVM version** (`java -version`): 1.8.0_66

**OS version** (`uname -a` if on a Unix-like system): RHEL 7.3

**Description of the problem including expected versus actual behavior**:   When trying to call shrink API and the destination index matches a template that provides mappings they get an error:

[code]

It would be nice

[2017-06-03 04:39] showmeall commented on #24994
we have not upgraded ES version recently ,but we update it to 2.4  9 mouth ago , we use 1.7 before

[2017-06-03 06:16] showmeall opened #25041 "one of Shard lost suddenly"
**Describe the feature**:
one of Shard lost suddenly , and we try restart the cluster , can not find it ,please check the debug log as bellow,  we lost the data now, someone please help us , how can we Repair it. thanks

**Elasticsearch version**: 2.4.0

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0

**OS version** (`uname -a` if on a Unix-like system): centos 6.2

**Descript

[2017-06-03 12:14] jasontedor commented on #24644
I opened #25043.

[2017-06-03 13:23] bleskes commented on #25041
Sadly, that shard copy got corrupted. I presume it was your only copy and you have no snapshots as backup. You may try to use the [`index.shard.check_index_on_startup`](https://www.elastic.co/guide/en/elasticsearch/reference/2.4/index-modules.html#_static_index_settings) but note that it's dangerous so read up carefully. If you have any more questions please ask on our discuss.elastic.co forum. We

[2017-06-03 13:23] #25041 closed

[2017-06-03 17:00] Tobulus commented on #23838
I just navigated a little bit through the code:

From TransportSearchAction.java:
[code]

Naive question: Why gets the searchtype converted? (the relavant logic should be implemented in SearchDfsQueryThenFetchAsyncAction.java etc.)

[2017-06-04 18:52] jacool commented on #21625
It seems the issue is not related to storing term vectors but to the  "**with_positions_offsets**" option. As can be seen by this sequence:
[code]
The last command produces the expected term-vectors.
However adding `"term_vector": "with_positions_offsets"` breaks the _termvectors functionality.
Reproducible with ES 5.4.0

[2017-06-05 00:14] pmazeris commented on #11128
+1

We're using the **repositiry-gcs** elasticsearch plugin to push to encrypted / acl'ed gcr.io buckets in GKE/Google. Having data already encrypted during transit time would be perfect.

@yarmand, what would be a reasonable ETA for this addtion? Thks

[2017-06-05 00:31] pmazeris opened #25049 "TLS encryption for Repositoy-gcs plugin"
**Feature request**:  adding TLS encryption when pushing the Elastic snapshot to a Google Cloud Storage bucket

[2017-06-05 00:32] jasontedor commented on #25049
Duplicates #11128

[2017-06-05 00:32] #25049 closed

[2017-06-05 02:00] lixiuna0908 opened #25050 "return very slow when using ngram char split"
we deploy elasticsearch 5.* version using ngram char split in our 5 servers which one of them is master node, and others are data nodes.

**settings as follows:**
[code]

**mapping as follows:**
[code]

**we find it return data very slowly when we use query phrase as follows:**

[code]
**then, the return data as follows:**
[code]
**as we see, return time is about 24717.87966ms, It is almost imposs

[2017-06-05 06:21] ggiessl commented on #25022
Hi!
please find the logs attached.
[25022_logs.txt](https://github.com/elastic/elasticsearch/files/1051241/25022_logs.txt)

[2017-06-05 07:00] jpountz commented on #21625
The issue is that the term vectors API has been designed with the idea in mind that there would be a single document composed of 0 or more fields. However when indexing with nested documents, you have multiple sub-documents that each have their own term vectors, se we'd have to return an array of term vectors for each nested path.

[2017-06-05 07:07] jpountz commented on #24994
Then I would lean towards a recent corruption. What error do you get when you try to restart? The corruption of a shard should not hold a node from starting, so I'm wondering whether there is an other issue (that might be related to this one?).

[2017-06-05 07:17] patxiao opened #25051 "Cluster internal Network bytes sent/received increase from 9mbps to 100mbps"
**Describe the feature**: ElasticSearch internal network increase from 9mbps to 100mbps, and cpu increase quickly. At the same time can find update_mapping logs.

**Elasticsearch version**: 1.4.2

**Plugins installed**: [analysis-ik]

**JVM version** (`java -version`):8_66

**OS version** (`uname -a` if on a Unix-like system): ubuntu 14.04

**Description of the problem including expected versus ac

[2017-06-05 07:25] patxiao commented on #25051
iftop add port, How can I find what are the connection use port 54160  doing?

hz-es3:9300  => hz-es1:54160  2.78GB  16.8Mb  16.8Mb  10.2Mb
<=                            51.6MB   111kb   122kb   113kb
hz-es3:9300  => hz-es1:54156  2.91GB  17.0Mb  10.2Mb  8.48Mb
<=                            51.9MB   148kb   121kb   105kb
hz-es3:9300  => hz-es1:54155  3.02GB  16.8Mb  6.79Mb  7.71Mb
<=

[2017-06-05 07:41] patxiao commented on #25051
[2017-06-05 14:45:00,330][DEBUG][action.search.type       ] [es3] All shards failed for phase: [query]
[2017-06-05 14:48:04,760][INFO ][cluster.metadata         ] [es3] [tickets] update_mapping [ticket]
[2017-06-05 14:48:05,046][INFO ][cluster.metadata         ] [es3] [agent_notes] update_mapping [note]
[2017-06-05 14:48:05,240][INFO ][cluster.metadata         ] [es3] [sessions] update_mapping [se

[2017-06-05 08:42] jpountz commented on #25051
How many indices do you have and how large are your mappings? The size of `GET _cluster/state` might be interesting to know as well.

[2017-06-05 08:50] jpountz commented on #25050
Given your analysis chain, the query parser produces phrase queries on values that exist in many (if not most) documents. This is costly by design. You should look into different ways to model your data that still allow to get the same information yet trigger the creation of cheaper queries. If you're not sure how to do it, please open a thread at discuss.elastic.co.

[2017-06-05 08:50] #25050 closed

[2017-06-05 12:33] martin-g commented on #13145
One feature that seems to be missing is that `InFilter` had a method `execution("and|or")` but this is not possible with `termsQuery()`.

[2017-06-05 13:19] polyfractal opened #25053 "[CI] SearchWhileCreatingIndexIT#testNoReplicas fails assertion, hits count is 0 but 1 was expected"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/3069/console

Looks like the primary shard fails to return the expected document during the test, but I could not get this to reproduce locally.

@jasontedor looks like you've fiddled with this test in the past, is this up your alley?  Or know who to delegate to?

[code]

[code]

[2017-06-05 13:37] mohannadsalem opened #25054 "Pagination & Sorting & Aggregation"
**Describe the feature**:

**Elasticsearch version**:

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index creation, mappings, settings, query

[2017-06-05 13:37] jacool commented on #21625
This is not what happens with the simple example we used above. Try to replace the indexing command above with this
[code]
And then request the _termvectors, you'll see some kind of merging is performed between the results representing inner documents. For us accidentally this merging makes sense, however the fact the functionality disappears once with_positions_offsets is declared seems like a bu

[2017-06-05 13:55] pciccarese commented on #22912
Hi, no updates on this issue? Is is something that will eventually get addressed? Is there a more current discussion on this topic?
Thank you!

[2017-06-05 13:58] colings86 commented on #25054
This issue doesn't have much detail but it looks like a duplicate of https://github.com/elastic/elasticsearch/issues/14928. If thats not correct please provide details of what this feature request is

[2017-06-05 13:58] #25054 closed

[2017-06-05 14:00] nik9000 commented on #13145
I hadn't noticed that! If you want AND then I think the normal way to get that now is with a `bool` query with many `term` queries in the `must` clause.

It is interesting to know that the optimizations that the `terms` query does for OR aren't all that useful if you don't have a fair number of terms. So if you have less than 16 terms it is rewritten internally into a `bool` query with many `term`

[2017-06-05 14:13] jmorph99 commented on #24543
Ok, I'm a little confused with your push procedure.
What is the purpose of forking the project?
Should I just start over from the root project?

On Wed, May 31, 2017 at 9:09 PM, John Murphy <jmorph99@yahoo.com> wrote:

[2017-06-05 14:40] nik9000 commented on #24992
The missing from the core artifact bit is new, I think.

[2017-06-05 15:06] nik9000 commented on #5172
Now that we're dropping the postings highlighter in favor of the unified highlighter, I think this should be about the unified highlighter instead.

[2017-06-05 15:08] #24701 closed

[2017-06-05 15:23] colings86 commented on #19543
Closing since this is fixed in 5.0+

[2017-06-05 15:23] #19543 closed

[2017-06-05 15:24] jpountz commented on #23208
Adding the `discuss` label to figure out whether we should just disallow it on new indices, or also add it in a plugin for users who might really really need TF-IDF scoring.

[2017-06-05 15:42] dakrone opened #25055 "[CI] SimulatePipelineRequestTests.testSerializationWithXContentBwc fails on master reproducibly"
[code]

This looks like a BWC issue. It reproduces for me every time with:

[code]

[2017-06-05 15:43] dakrone commented on #25055
Assigning this to you @jaymode since your name comes up with git blame on the test

[2017-06-05 16:04] JefStat opened #25056 "HEAD /* returns http status code 200 when there are no indices in the cluster"
**Elasticsearch version**: 5.4.1

**Plugins installed**: none

**JVM version** (`java -version`): java version "1.8.0_131"

**OS version** (`uname -a` if on a Unix-like system): Window 10

**Description of the problem including expected versus actual behavior**:

`HEAD /*`  returns 200 when there are no indices in the cluster. This behaviour is changed from 5.3.1 which returns a 404. Any index nam

[2017-06-05 16:06] dakrone commented on #25055
Hmm.. I dug into this more, it turns out that these reliably fail if the JDK can't load JNA. I've reverted my machine from u131 to u121 and this is now fixed. (131 couldn't load JDK for some reason!?)

[2017-06-05 16:06] #25055 closed

[2017-06-05 16:33] polyfractal commented on #24481
@simonw  This just failed again with the same timeout message... think it's related or a new issue?  Didn't reproduce locally for me, alas.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/729/console

[code]

[code]

[2017-06-05 17:15] TheConnMan opened #25057 "Keyword Tokenizer Failing to Match Term With a Number Next to a Dot"
Using the Keyword tokenizer I expect a query string query to match the exact term I've indexed with a prefix query plus a wildcard. Terms with numbers and dots in them work fine unless I have a number right next to a dot. The test case below highlights no matches for a doc with a number before a dot, but the same thing happens if the number is right after the dot as well.

[code]

[2017-06-05 17:24] nik9000 commented on #25057
I think you want:
[code]

Since I'm fairly sure this isn't a bug I'll close it.

[2017-06-05 17:24] #25057 closed

[2017-06-05 17:28] ppf2 commented on #24275
Per the PR, this is fixed in 5.3.3 and 5.4.1, should we close?

[2017-06-05 17:56] TheConnMan commented on #25057
Thank you for your help, that is the issue.

[2017-06-05 18:43] rjernst commented on #24980
I am closing this as I think it is clear we will not be modifying painless as it already contains the necessary pieces.

[2017-06-05 18:43] #24980 closed

[2017-06-05 19:34] jbaiera commented on #25022
This looks more like a general problem when enabling hadoop RPC protection. Seems this was not caught in the tests, so we'll need to make sure to add reasonable testing to ensure that this is covered.

[2017-06-05 20:26] imotov opened #25061 "Add validation for supported version of cluster state metadata on node join"
In #21830 we made sure that nodes cannot join a cluster that has indices created by nodes with incompatible versions. Since cluster metadata (such as custom metadata, index templates, etc) might be also incompatible with certain version of nodes, we need to add another check that will ensure that cluster metadata is compatible with nodes that can join the cluster.

In other words we need to ensure

[2017-06-05 21:00] polyfractal opened #25062 "[CI] DedicatedClusterSnapshotRestoreIT#testMasterShutdownDuringFailedSnapshot Captured an uncaught exception ClosedByInterruptException"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+java9-periodic/2759/console

@abeyad  Potentially related to https://github.com/elastic/elasticsearch/issues/24452?  Unsure, since I couldn't see the failure messages in that thread.

Couldn't reproduce locally*

[code]
[code]

*It wouldn't reproduce because the ` --add-opens=java.base/java.lang=ALL-UNNAMED` option seems to break th

[2017-06-05 21:12] #23856 closed

[2017-06-05 22:00] dakrone commented on #25018
@ppf2 do you have any information about the actual amount of bytes available on the filesystem? (with `df` or some other tool)

I looked at the 5.3.0 code, it only adjusts the `total` to be `Long.MAX_VALUE`, not the "free" or "available" values (not until later, that is).

The underlying bug is still https://bugs.openjdk.java.net/browse/JDK-8162520, so I'm not sure we can do much in this situation

[2017-06-05 22:48] git-cambridge commented on #17447
Is the _source._ingest feature working to get metadata fields from a remote source? I can't get it to work. Have tried posting in forum, no response.

[2017-06-05 22:58] ljcollins25 opened #25065 "Feature Request: Stored Filters"
Feature Request:

I'd like the ability to create stored filters (i.e. bitsets which are stored in the index and can be queried when searching to filter documents). I am working on a source control indexing tool and I would like to have filters corresponding to every commit which make it easy to search all documents at particular points in history. Note: this isn't just the changed documents in tha

[2017-06-05 23:36] qiao-meng-zefr commented on #20648
I know it's been a while, but still think this is a great debugging tool for elasticsearch user. Is there any plan to add this feature or at least re-evaluate it?

Thanks elastic team!

[2017-06-06 00:10] samuelcolvin opened #25067 "es crashes with "Native controller process has stopped - no new native processes can be started""
Running elastic search with docker as suggested in the docs (except only one elasticsearch instance), more details in compose file [here](https://github.com/tutorcruncher/morpheus/blob/master/docker-compose.yml#L16-L31).

everything appears to be running fine, then elastic search gives one log messages and crashes:

[code]

I've had this error followed by a crash quite a few time today while testi

[2017-06-06 00:12] imotov opened #25068 "Handling of _all field in indices migrated from 5.x to 6.0"
In #22144 we disabled `_all` field by default, which means that that unless `_all` was explicitly enabled in a 5.x mapping, it will be disabled in 6.0 after upgrade. In other words, 5.x indices with `_all` explicitly enabled will continue to work in 6.0 as before, while indices with `_all` not explicitly enabled will lose `_all` fields and will start to use our fallback mechanism for all fields qu

[2017-06-06 01:38] jasontedor commented on #25067
I do not think that that log message is the problem, rather I think that your processes are being killed, perhaps by the system OOM killer. I think that you need to investigate this on your end. Since we reserve GitHub for verified bug reports and feature requests, I'm going to close this issue. If you need additional help, please ask on the [forum](https://discuss.elastic.co). We can reopen this

[2017-06-06 01:38] #25067 closed

[2017-06-06 01:39] jasontedor commented on #25062
That's because this is a JDK 9 build and those are JDK 9 flags and I suspect that you were not using JDK 9.

[2017-06-06 02:49] patxiao commented on #25051
The problem has been resolved, the reason is our apps's customer call bulk api by click script, it will read a lots of elasticsearch data, but less api request. We should monitor elasticsearch by apps, so we can found the reason at first time.
Thx all.

[2017-06-06 02:49] #25051 closed

[2017-06-06 06:28] markwalkom commented on #25012
Is this not something that we can add to the def guide to help better explain the interaction?

[2017-06-06 07:32] fred84 commented on #25035
@clintongormley I want to take this issue.

[2017-06-06 08:10] dadoonet opened #25069 "Settings getGroups does not play well with secured settings"
Follow up of #25064

This test example shows the problem:

[code]

This gives:

[code]

[2017-06-06 09:02] #23960 closed

[2017-06-06 09:04] javanna commented on #10106
With #23977, in master we expand index expressions against indices only when managing aliases. I find that this is even better than updating our docs on the caveats of aliasing aliases, as that is not no longer allowed. Closing.

[2017-06-06 09:04] #10106 closed

[2017-06-06 09:39] tlrx commented on #25056
`HEAD` and `GET` requests were reworked in 5.4.0 so that behavior are now aligned (see [5.4.0 releases notes](https://www.elastic.co/guide/en/elasticsearch/reference/current/release-notes-5.4.0.html))

In 5.4.0 a HEAD request with * wildcard does not fail as it _allows that no indices are resolved from wildcard expressions (not returning an error)_ . If you want to get back the old behavior then y

[2017-06-06 09:41] tlrx commented on #25056
I'm marking this as a non-issue but @jasontedor or @javanna know better the whole story around HEAD and GET requests.

[2017-06-06 09:43] bleskes commented on #24543
@jmorph99 maybe this can help: https://help.github.com/articles/creating-a-pull-request/

You basically make the changes on a branch in your fork. Then go there in the github ui and hit the new pull request button.

[2017-06-06 10:23] jasontedor commented on #25012
I don't think the internals of how Netty is used by Elasticsearch would be a good addition at all, extremely limited value, if any, to users. I think the remainder is covered in the docs.

[2017-06-06 10:27] vishva2005 opened #25070 "Term Vector With BiGrams in Nested Object"
**Describe the feature**:

**Elasticsearch version**: 5.2.1

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_101

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 14.04.4 LTS

**Description of the problem including expected versus actual behavior**: When creating term vectors for a nested document with bigrams, the result is always a unigram if term vectors are dyna

[2017-06-06 10:27] luckydonald commented on #17511
You can write rather complex queries in there, and `query.replace("customer:", "customer.id:")` feels dirty for a reason.

One reason for doing this on elastic side is, you already doing some user input verification, and probably parse this way better as the user application anyway.

So maybe just a rewrite for the single  query, as part of `query_string`?

[2017-06-06 10:45] jasontedor commented on #25056
I think you covered it perfectly @tlrx.

[2017-06-06 11:19] clintongormley commented on #25035
@fred84 go for it

[2017-06-06 12:57] clintongormley commented on #25068
This is a bug.  5.x indices should keep working in the same way as before when the cluster is upgraded to 6.x.  This means that `_all` should continue to be enabled by default for indices created in 5.x.

[2017-06-06 13:09] jmorph99 commented on #24543
I thought that is what I did!

On Jun 6, 2017 5:44 AM, "Boaz Leskes" <notifications@github.com> wrote:

[2017-06-06 13:21] jimczi commented on #24788
Closing this now that https://github.com/elastic/elasticsearch/pull/24941 and https://github.com/elastic/elasticsearch/issues/24790 are merged in 5.5.
The impact in terms of performance should not be a problem because the change in the execution mode is done only for queries that could not be handled in < 5.5 (OOME query).

[2017-06-06 13:21] #24788 closed

[2017-06-06 13:23] archanid commented on #25068
Can you help fill out the table? Given the 5.x scenario on the left, what should happen when they upgrade, and should we raise a deprecation issue in the migration tool?

| 5.x setting   | 6.0? |  Deprecation Issue? |
|----------|-------------|------|
| `_all: { "enabled": false }` | no setting | yes |
| `_all: { "enabled": true }` |  `_all: { "enabled": true }`  | yes |
| nothing or improperly co

[2017-06-06 13:35] tlrx commented on #25070
I don't think that nested documents are supported by the Term Vectors API and I don't think it is planned to be supported.

I'm going to label this issue as "Discuss" so that users and contributors can argue on the need and feasibility to add such a feature to the Term Vectors API.

[2017-06-06 13:39] polyfractal commented on #25062
Yep, that would most certainly be the case.  Oops :)

[2017-06-06 14:18] polyfractal commented on #24893
So this was discussed in last week's FixitFriday.  The general consensus is that `insert_zero` isn't a great option, but there also isn't strong enough reason to remove it at the moment.  And we recognize that we don't know enough about potential use-cases to fully remove `gap_policy` at this time either.

I'm going to put a pin in this issue and close it, although we'll remain on the lookout to s

[2017-06-06 14:18] #24893 closed

[2017-06-06 15:00] nik9000 opened #25075 "Track refresh metrics through Lucene's refresh listeners"
When working on #25052 we came to the realization that it is probably better to track refreshes through Lucene's refresh listeners. We're already using Lucene's refresh listeners to power our own refresh listeners so I imagine to code change to do this would be small but I think it is worth spending the extra time to think through all the side effects.

[2017-06-06 15:00] nik9000 commented on #25075
@bleskes and @jasontedor, I believe this summarizes our conversation, please comment if I'm wrong.

[2017-06-06 15:07] #22831 closed

[2017-06-06 15:09] Tobsucht commented on #23838
I just found out, that I had a really miserable bug in my code: my custom routing placed all data in one shard which ruined the scoring ...

[2017-06-06 15:16] clintongormley commented on #25068
@archanid i've updated the table

[2017-06-06 16:39] #24806 closed

[2017-06-06 17:07] lokeshmadan commented on #25012
@jasontedor : Why do you think this would be "extremely limited value" ? Can you please point me to the link where architecture is covered ? Because i didn't seem to find any :) .

[2017-06-06 17:13] #25069 closed

[2017-06-06 17:18] nik9000 commented on #25012
not any more

https://www.elastic.co/guide/en/elasticsearch/reference/current/important-settings.html#unicast.hosts

Maybe useful to make sure we mention somewhere that the inter-node protocol is ES's home grown thing over TCP but I expect it is somewhere already.

A diagram of how ES interfaces with netty isn't super useful unless you are hacking on Elasticsearch, though, actually https://github.

[2017-06-06 17:26] nik9000 opened #25078 "Replace org.elasticsearch.common.util.Callback with java-builtin methods"
`org.elasticsearch.common.util.Callback` looks like a leftover from before Java 8. I think we are likely better off using `Consumer`, `LongConsumer`, and their ilk.

[2017-06-06 18:21] clintongormley commented on #23208
@jpountz can we really support it without query coordination?  If not, then I'd opt for removing it. (Even if we can I'm leaning towards removing it)

[2017-06-06 18:25] archanid commented on #25068
thanks @clintongormley Just to clarify, what I meant by "improperly configured", and I should have been more clear, is `"_all": { }` which is a possible thing. After talking with @imotov and @dakrone this morning we think that case is the same as "nothing". We'll still want to keep the "enabled: true" functionality if the index was created in 5.x.

[2017-06-06 18:37] #24644 closed

[2017-06-06 18:46] dmarkhas opened #25079 "Node stops responding if remote monitoring cluster is unresponsive"
**Elasticsearch version**: 5.4.0

**Plugins installed**: [X-Pack 5.4.0]

**JVM version** (`java -version`): 1.8.0.92

**OS version** (`uname -a` if on a Unix-like system): SLES11SP4

**Description of the problem including expected versus actual behavior**:

We have multiple clusters that export monitoring data to a remote cluster. When the target configured in elasticsearch.yml became unavailable

[2017-06-06 19:00] jmorph99 commented on #24543
Ok - try it again and keep your fingers crossed.

On Tue, Jun 6, 2017 at 9:09 AM, John Murphy <jmorph99@yahoo.com> wrote:

[2017-06-06 20:02] PhaedrusTheGreek commented on #22720
A few things

- Semicolons are required, unlike groovy
- In script file, [as noted here](https://discuss.elastic.co/t/passing-parameters-to-painless-script/74936/2), params are accessible via `params.<your_var>` instead of in the base scope.

[2017-06-06 20:12] jasontedor commented on #25012
The internal implementation detail of ES using Netty for networking, and how it uses Netty for networking, is not of broad interest to the user base. It doesn't help users use the software, and is something that I think would not be of even tangential interest to the vast majority of users. For the users that are interested, the code is open source and they can devour it to their own desires. Ther

[2017-06-06 20:36] jasontedor commented on #25079
This repository is for open source Elasticsearch only. Would you please open a topic in the X-Pack category on the [forum](https://discuss.elastic.co) and link to it from here?

[2017-06-06 20:36] #25079 closed

[2017-06-06 20:37] jasontedor commented on #25078
Ha, see #25081.

[2017-06-06 20:43] samuelcolvin commented on #25067
I subisquently got lots of errors, notable in the logs `java.io.IOException: Cannot allocate memory`.

The server has 16GB of memory but elastic search was constrained to 1GB as per the default docker compose example.

In the end I removed
[code]

and so far crashes seem to haved stopped. fingers crossed.

[2017-06-06 22:54] v1r opened #25088 "No highlights returned using dis_max with multi_match queries"
**Elasticsearch version**: 5.4.0 and 5.4.1
**Regression**: Yes, works fine in ES 2.x
**Plugins installed**: []

**JVM version**: 1.8

**OS version** : Windows 7

**Description of the problem**:

No highlights returned when searching using dis_max with a multi_match queries.
Elasticsearch fails with 'null_pointer_exception'

**Steps to reproduce**:

Create the following index
[code]

Add a new docu

[2017-06-07 00:50] #25078 closed

[2017-06-07 01:04] spalger opened #25090 "_alias API no longer accepts index wildcards"
**Elasticsearch version**: master
**JVM version** (`java -version`): 1.8.0_121
**OS version** (`uname -a` if on a Unix-like system): macOS Sierra
**Description of the problem including expected versus actual behavior**:

It looks like https://github.com/elastic/elasticsearch/pull/24723 broke fetching the aliases of a wildcard list of indices:

**Steps to reproduce**:

master:
![image](https://user

[2017-06-07 01:39] jasontedor commented on #25090
I concur, although this has nothing to do with wildcards, regular index patterns are impacted too. The reason that this is due to #24723 is because `/{index}/_alias` use to be specially handled by the get indices API but now it's handed by the get aliases API on the endpoint `/{index}/_alias/{name}` (so with these requests `name` would default to empty which acts like `_all`).

It's not obvious wh

[2017-06-07 01:39] jasontedor commented on #25090
What do you think @dakrone?

[2017-06-07 02:15] dakrone commented on #25090
I believe I agree with this statement, as @jasontedor said, this isn't about wildcards, as the following still works:

[code]

Which returns

[code]

Therefore, I'm in favor of documenting the breaking change also I think. What do you think @spalger?

[2017-06-07 05:42] Gnitry opened #25091 "Elasticsearch fails with impossible NullPointerExceptions"
**Elasticsearch version**: 5.4.1

**Plugins installed**: []

**JVM version**: OpenJDK Runtime Environment (build 1.8.0_131-8u131-b11-1~bpo8+1-b11)

**OS version**: Linux fs-deb 3.16.0-4-amd64 #1 SMP Debian 3.16.43-2 (2017-04-30) x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
I have this scheme:
5 x Filebeats (Windows 10) -> Logstash (5.4.1) -> Elasticse

[2017-06-07 06:50] geekpete commented on #17094
So it could finish the current segment merges but not start any new segment merges?
When segments are merged, the new ones are written out and when confirmed as completed, the old ones are then removed. This is why the disk usage grows then shrinks again. So a way to cancel the current/in-progress merges and reinstate the existing segments that were about to be thrown away seems like what you'd wa

[2017-06-07 07:03] clintongormley commented on #25090
I disagree.  The `GET {index}/_alias` form is widely used to retrieve a list of concrete indices, and it would silently break lots of applications.

Also, it would be inconsistent:

[code]

which returns:

[code]

For clients that want to check eg aliases, they now need to first check if there is an `_aliases` key before inspecting the contents.

I'd much prefer a consistent rule:

* return zero o

[2017-06-07 07:10] lixiuna0908 commented on #25050
Thanks for your reply. And i have open a thread at discuss.elastic.co. which address is "https://discuss.elastic.co/t/return-very-slow-when-using-ngram-char-split/88345", about how to model my data which can make fast when excute query. Thanks.

[2017-06-07 07:22] jpountz commented on #23208
The removal of query coordination will might significantly decrease the quality of this similarity indeed. @eskibars Maybe you have some pespective on this, I think you suggested some users might rely specifically on TF-IDF in the last search&aggs meeting?

[2017-06-07 07:36] lixiuna0908 opened #25092 "minimun_should_match does not work at ES 5.* version"
I deploy ES 5.* version, and use ngram as char split like url https://www.elastic.co/guide/en/elasticsearch/guide/current/ngrams-compound-words.html, But minimum_should_match does not work when excute phrase as follows:
GET /my_index/my_type/_search
{
    "query": {
        "match": {
            "text": {
                "query":                "Gesundheit",
                "minimum_should_match"

[2017-06-07 07:44] clintongormley commented on #25092
Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

You also need to provide a full recreation, including your index settings and mappings, indexing the docs, the results you expect and the results you actually see

[2017-06-07 07:44] #25092 closed

[2017-06-07 08:41] markharwood commented on #25088
Highlighting is an inexact science and a highlighter has to balance the competing demands of speed, accuracy and ability to summarize lengthy docs. The reason we have so many highlighter implementations reflects the legacy of various people taking up the challenge of creating the definitive highlighter.
Each implementation has its pros and cons (preserves phrases, works with n-grams, splits on sen

[2017-06-07 08:51] #23381 closed

[2017-06-07 08:55] synhershko commented on #19146
@dadoonet what is the status of this? was this released and can be used with 5.x? Classic plugin has a deprecated warning but no ARM plugin seems to be available at this point?

[2017-06-07 09:16] jpountz commented on #25091
Something is broken: one of the reported NPEs is impossible, and another one points to a line that only has a closing bracket of a method definition. We observed something similar with our internal testing that we have not been able to fully identify yet, but is likely JVM-related. In the mean time, can you check whether these issues reproduce if you use another JVM (eg. the one provided by Oracle

[2017-06-07 09:17] MissXueBB opened #25095 "Seeking Help: A brief survey of handover process in Github"
Sorry for interrupting you and we are so sorry to raise questions that are not relevant to development here.

We have e-mailed questionnaires to @kimchy @jasontedor @rjernst. You can also reply us through email if you are interested in our research questions. Below is the content of our survey.

We're research students from the Software Institute of Nanjing University, China. Our current research

[2017-06-07 09:20] jpountz commented on #25091
I renamed the issue so that it better describes the most prominent issue.

[2017-06-07 09:25] markharwood commented on #25095
This looks like a bulk request (see unrelated project request: https://github.com/necolas/normalize.css/issues/687)

Closing

[2017-06-07 09:25] #25095 closed

[2017-06-07 10:23] monikamaheshwari commented on #17447
Could you tell what would happen to data that is created or updated when performing reindex api?

[2017-06-07 11:07] asafm opened #25099 "ByteBuf leak from Netty in ES (client node) 5.3.0"
**Elasticsearch version**: 5.3.0

**Plugins installed**: []

**JVM version** (`java -version`): OpenJDK Runtime Environment (build 1.8.0_111-8u111-b14-3~14.04.1-b14)

**OS version** (`uname -a` if on a Unix-like system):
.13.0-48-generic #80-Ubuntu

**Description of the problem including expected versus actual behavior**:
Elasticsearch Client node shows memory leak logs by Netty:
[code]

[2017-06-07 11:20] jasontedor commented on #25099
Would you be able to provide a reproduction? The client and the server use the same code paths. I've tested the server previously with leak detection enabled at the paranoid level and none were reported.

[2017-06-07 11:41] clintongormley commented on #25088
Given that we're wanting to replace the `plain` highlighter with the `unified` highlighter, would be good to fix this.

The `unified` highlighter dies with

          "type": "illegal_argument_exception",
          "reason": "Less than 2 subSpans.size():1"

Changing the `phrase_prefix` query to a `phrase` query works.  Makes me wonder if there is something wrong with that query in particular.

@ji

[2017-06-07 11:50] jpountz commented on #24647
Lucene 6.6 is now out and has the fix, so we just need to upgrade to have the fix in 5.5. Separately, I'll try to see how we can get the fix in 5.4.x as well.

[2017-06-07 12:03] asafm commented on #25099
@jasonodonnell It' hard to reproduce - it's from our production cluster. It was doing bulk inserts, which took a lot of time, since the data nodes were quite busy doing merges. Does this help?
The log appeared only twice today, and twice a couple of days ago.

I've experienced this bug my self when I wrote our Log Receiver. The only way I got it was through meticulous read of the code path. This s

[2017-06-07 12:07] jasontedor commented on #25099
Did anything abnormal happen, for example, a timeout tripped that you know of?

Would you be able to run your client with `-Dio.netty.leakDetection.level=advanced` which will give us more information about the buffer that leaked?

I agree having chased quite a few these myself, that's why I was hoping for a reproduction. I really appreciate your empathy here. 😇

[2017-06-07 12:11] jimczi commented on #25088
The `unified` highlighter has a bug when the `phrase_prefix` query contain a single term. I'll work on a fix but I don't think this is related with the bug in the `fvh`.

[2017-06-07 12:14] jasontedor commented on #25095
Please do not do this, it's spam.

Our contributing guidelines make it clear that this an issue tracker for verified bug reports and feature requests, saying "sorry" does not excuse ignoring those guidelines.

[2017-06-07 12:15] SuperMaggan opened #25101 "Percolator query: Terms filter only regards first item in an object array"
Version: 5.4.0

Percolator fields that contains a 'terms' filter that operate on an object array will only regard the first item in said array.
Let's set up the example:

### Create index
[code]
### Insert saved search
Now we're inserting an query item that matches all doctype items with object.prop1 = 1629
[code]
### Percolate using doctype item
The following query should return our previous inse

[2017-06-07 12:19] jasontedor commented on #25095
I edited the initial post to remove the content.

[2017-06-07 12:25] dadoonet commented on #19146
@synhershko I made some progress recently on this at #22679.
Not ready yet. My plan is to have something ready for 6.x series.

In the meantime, if you want to use azure discovery you still need to use the classic version of the plugin even though it's deprecated.

[2017-06-07 12:50] martijnvg commented on #25101
@SuperMaggan Thanks for the clear example. This is indeed a bug. Somehow the prop1 field doesn't get indexed properly into the in-memory index.

[2017-06-07 12:55] elasticmachine opened #29950 "[ML] Repeated info in log message from all ML nodes leads to long message"
*Original comment by @sophiec20:*

Found in 5.5 `  "build" : {
    "hash" : "62e486b",
    "date" : "2017-06-06T13:54:18.605Z"
  }`

23 node cluster, of which 3 are master and 20 are ML and data nodes.
Once I reached the limit of max open jobs, the following error occurs when you try to open a job.

This is repeating the error message from 20 nodes. This will only get worse as the number of nodes

[2017-06-07 12:57] synhershko commented on #19146
Problem is its useless if you use ARM for your deployment. Any chance this
can be backported (and finished soon :) ) ?

On Jun 7, 2017 3:26 PM, "David Pilato" <notifications@github.com> wrote:

[2017-06-07 12:57] nenadvicentic opened #25102 "Elasticsearch 5.4.x - extensive CPU (100%) and memory usage for array of range queries"
**Elasticsearch version**: 5.4.0 and 5.4.1

**Plugins installed**: []

**JVM version** (`java -version`): jre 1.8.0.131 (x64)

**OS version** (`uname -a` if on a Unix-like system): **any** (tested on Windows 10, Debian)

**Description of the problem including expected versus actual behavior**:
_Actual:_

When having search query which combines multiple "range" queries in "should" query performance

[2017-06-07 12:58] MissXueBB commented on #25095
I am deeply sorry for all the inconveniences that what I have caused.

[2017-06-07 13:15] markharwood commented on #25102
@jpountz Would you have an explanation for this performance regression between 5.3 and 5.4? Looks like a heavy query.

[2017-06-07 13:41] markharwood commented on #25102
[This change in Lucene](https://issues.apache.org/jira/browse/LUCENE-7641) happened between these versions and relates to range queries. It added extra testing logic to range queries to test if it was more efficient to compute documents that do not match the range on single-valued fields when more than half the documents in the index would match.

While this sped up the more common case of a small

[2017-06-07 13:41] dadoonet commented on #19146
I don't think it will be ever backported when finished.

[2017-06-07 13:59] jpountz commented on #25102
I think https://github.com/elastic/elasticsearch/pull/23119 is more likely to trigger changes in performance of range queries, even though it is still unclear to me why it would cause a slowdown in that case.

@nenadvicentic Would you mind sharing:
 - your actual query,
 - the [profile](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-profile.html) output
 - the output of the

[2017-06-07 14:04] jpountz commented on #23414
Agreed, there are several aggregations that could be generalized on range fields. We just started looking into doc values support for range fields, so I would not expect seeing the feature out in the short term however.

[2017-06-07 14:15] dakrone opened #25105 "Throw error when all_fields mode queries over a certain number of fields"
The automatic expansion of fields to query on for the `query_string` and `simple_query_string` queries has been found to have some performance issues for users with a large numbers of fields. See: https://github.com/elastic/kibana/issues/12097

Should we limit the number of fields the auto-expansion is limited to, throwing an error if a query searches more than that many fields? If so, what should

[2017-06-07 14:31] dakrone commented on #25090
@clintongormley it sounds like you want to see:

[code]

Are you sure you want it to be `_aliases` instead of `aliases` like the get indices API? That doesn't seem consistent with the older API to me

[2017-06-07 14:34] v1r commented on #25088
Thank you guys for your input. Please also not that the following query fails too:

[code]

[2017-06-07 14:43] clintongormley commented on #25090
Sorry, meant  `aliases`

[2017-06-07 14:53] eskibars commented on #23208
I'm certain some people rely on the full old/classic TF-IDF implementation, but in a few different ways that I'll tease apart.

1. We've seen people in our [forums](https://discuss.elastic.co/t/question-about-the-future-release-of-es-that-incorporate-lucene-7-0/80163) mention they have regression tests that include ordering and my own history leads me to believe that while these users will be the

[2017-06-07 14:53] dakrone commented on #25090
Sounds good, I will work on fixing this.

[2017-06-07 14:59] nenadvicentic commented on #25102
Hi @jpountz ,

I collected performance data.

This is the actual query:
[Elasticsearch-slow-query.txt](https://github.com/elastic/elasticsearch/files/1058390/Elasticsearch-slow-query.txt)

Profiling data from 3 versions of Elasticsearch: **5.3.2, 5.4.0 and 5.4.1**, running the above query (same query, same data). I only removed data from `hits` array. Rest of it is there.

[Elasticsearch-slow-quer

[2017-06-07 15:35] nik9000 commented on #25091
I think it is worth doing some hardware tests. I got some of these "funny" NPEs on Debian a couple of months ago and it turned out that I had bad RAM. I ran Memtest86 and that didn't catch it but my motherboard would restart a few times before posting. I contacted my motherboard manufacturer and they told me that was almost always bad RAM. I removed the sticks one by one and found a bad stick, RMA

[2017-06-07 16:51] jpountz commented on #25102
I think I understand what is happening. We have heuristics in place in order to estimate how many documents each leaf of the query tree matches so that we can pick the optimal execution order. However this heuristic is not very accurate, it can easily be off by about 1024, and the fact that there are many tiny ranges makes the error add up and Elasticsearch ends up assuming that it is better to it

[2017-06-07 17:11] jpountz opened #25110 "[CI] InternalEngineTests.testConcurrentWritesAndCommits"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/274/consoleFull

The test timed out and the reproduce line does not reproduce on my Linux box, I don't have a Windows box to check.

[code]

At first I thought that maybe that test was to heavy but actually the numbers of threads and docs look reasonable to me. Maybe we should just avoid MockDirecto

[2017-06-07 17:21] cbuescher opened #25111 "[CI] FullClusterRestartIT.testRandomDocumentsAndSnapshot fails"
Failure happened on a PR build, but it reproduces on master:

[code]

This reproduces for me on current master:

gradle :qa:full-cluster-restart:v5.6.0-SNAPSHOT#upgradedClusterTestRunner -Dtests.seed=CC2082F088A3F238 -Dtests.class=org.elasticsearch.upgrades.FullClusterRestartIT -Dtests.method="testRandomDocumentsAndSnapshot" -Dtests.security.manager=true -Dtests.locale=ar-TN -Dtests.timezone=Ameri

[2017-06-07 17:27] jasontedor commented on #25111
It means a Lucene version in a version constant is wrong.

[2017-06-07 17:33] cbuescher commented on #25111
@jasontedor thanks, thats what @nik9000 already suggested, changing the version works. I just opened a one-liner PR, but I can push that before CI is through if you think it is good.

[2017-06-07 17:34] h8h opened #25113 "TribeNode / TribeMaster ignores CONF_DIR after Upgrade to ES 5.3.1 or higher"
**Elasticsearch version**: 5.3.1

**Plugins installed**: [x-pack]

**JVM version** (`java -version`): will be given later, debian jessie backports 8u131-b11-1~bpo8+1

**OS version** (`uname -a` if on a Unix-like system): Debian Jessie 8, 64bit.

**Description of the problem including expected versus actual behavior**:
After upgrade the Tribe Master from ES 5.3.0 to ES 5.3.1 and x-pack the CONF_DIR

[2017-06-07 17:36] jasontedor commented on #25111
I trust you, push away.

[2017-06-07 17:36] cbuescher commented on #25111
@jimczi already pushed a fix ;-) 68f1d4df5

[2017-06-07 17:36] #25111 closed

[2017-06-07 17:57] martijnvg commented on #25101
The actual cause of this bug is in Lucene's `MemoryIndex`: https://issues.apache.org/jira/browse/LUCENE-7869

[2017-06-07 19:41] ThomasADavis opened #25117 "corrupted snapshot system"
**Describe the feature**:

**Elasticsearch version**:
5.4.1

**Plugins installed**: []
x-pack

**JVM version** (`java -version`):
java -version
openjdk version "1.8.0_131"
OpenJDK Runtime Environment (build 1.8.0_131-b12)
OpenJDK 64-Bit Server VM (build 25.131-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):

Linux d8-r12-c0-n1 4.11.3-1.el7.elrepo.x86_64 #1 SMP Fri May 26 09

[2017-06-07 19:50] jimczi commented on #20856
This is an edge case and the fix is controversial. Closing

[2017-06-07 19:50] #20856 closed

[2017-06-07 19:51] jimczi commented on #18971
Duplicate of #23208

[2017-06-07 19:51] #18971 closed

[2017-06-07 20:12] andy-elastic commented on #23363
@nik9000 recommended I take this one

@glefloch I think the main functional difference here is that `SimplePatternTokenizer` returns tokens that match the pattern, where `SimplePatternSplitTokenizer` splits the input at the places where the pattern matches, but doesn't return the matches themselves. `PatternTokenizer` can do either depending on how you configure it, there are some examples in [its

[2017-06-07 20:57] pkphlam commented on #23674
@markharwood Apologies for possibly hijacking a closed thread, but I just read the blog post on this feature and it is really interesting because it is quite similar to something that we have been trying to hack with Elasticsearch. The destemming for 2 is definitely a big issue for us.

I wanted to flag two other potential issues/features that we have been thinking about that would possibly be goo

[2017-06-07 21:04] inqueue opened #25119 "snapshots fail if HDFS is not available when Elasticsearch starts"
_cloned from https://github.com/elastic/elasticsearch-hadoop/issues/997_

Elasticsearch 2.4.4 + repository-hdfs

Snapshots fail if the HDFS repo is not available when Elasticsearch starts, even though the repo was brought up while the Elasticsearch service is running.

Repro:
1) Stopped ES
2) Stopped Hadoop HDFS
3) Started ES while HDFS is down
4) Started HDFS
5) Attempted to GET /_snapshot/repo a

[2017-06-07 21:06] v1r commented on #25088
Another simpler query

[code]

[2017-06-07 22:08] abeyad commented on #25117
It looks like you've been creating a repository instead of a snapshot.  The `snap-repo.txt` file has tons of repositories that you have created.  Without a way to reproduce this, I don't know how you got yourself in this situation, other than you were creating a repository where you meant to create a snapshot.

Your best bet is to stop your master node, restart it, then delete all the repositories

[2017-06-07 22:08] #25117 closed

[2017-06-08 01:17] lixiuna0908 commented on #25092
Thank you. I have ask this question in https://discuss.elastic.co/t/minimun-should-match-does-not-work-at-es-5-version/88642

[2017-06-08 06:31] glefloch commented on #23363
@andy-elastic tanks for the explanation!

[2017-06-08 07:09] whiteboardmonk commented on #21101
+1 having this in the index template will be very useful

@zoellner I stumbled upon this issue while looking for the exact same option. Did you happen to figure out a way around this?

[2017-06-08 07:23] ypli0629 commented on #24576
I use tophits aggs to get more detailed information, but it will affect the efficiency of the query

[2017-06-08 07:47] markharwood commented on #23674
Hi and thanks for the input!

We could reuse the highlighters to help isolate the interesting sections of docs.

I have an inherent distrust of individual documents - I find a more balanced view of a topic comes from looking at stats across many example docs. If a term is repeated legitimately (not a one-off webpage with spammy example of keyword stuffing) then this increased TF manifests itself f

[2017-06-08 07:53] droberts195 commented on #24465
I think it would also be good to consider how such a framework could allow the yaml test framework to be made more robust.  At the moment plugins that rely on their index templates and/or custom cluster state to be set up before they run their yaml tests generally do this by creating a `@Before` method in a test class that extends `ESClientYamlSuiteTestCase`.  Different developers do the checks in

[2017-06-08 07:57] sinsonglew opened #25126 "empty cluster with all live nodes but stuck in red state"
**Describe the feature**:

**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version** (`java -version`): jdk8

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

 1. start nodes one by one
 2. change one node X's configuration and restart node X
 3. cat nodes show all nodes, ca

[2017-06-08 08:01] dadoonet commented on #25126
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-06-08 08:01] #25126 closed

[2017-06-08 08:10] pkphlam commented on #23674
Thanks for the response!

We don't really use foreground sets of one document either. For the term frequency suggestion, it is less thought out, but we were thinking about ways to create new scoring metrics and one possible suggestion was comparing foreground and background TF-IDF type metrics in some way and it seemed interesting that TF was not exposed given that it is core to some of the other

[2017-06-08 08:24] pkphlam commented on #23674
Also, I know I mentioned this already, but I wanted to re-emphasize the destemming (#2) suggestion that you had, both in terms of how much it is a pain point for us and how much our customers desire it. Our product uses significant terms heavily (along with some machine learning) as a keyword recommender and time and again, the number one most impressive feature that our clients have mentioned tha

[2017-06-08 08:27] sinsonglew commented on #25126
this's not a bug, just the settings **_gateway.recover_after_nodes_** I got wrong, detail explanations [https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-gateway.html](url)

[2017-06-08 08:41] spinscale commented on #25113
I could quickly reproduce the issue, but my systemd skills fail me to get more debug logs for now...

[2017-06-08 08:42] SuperMaggan commented on #25101
I'm impressed by your responsiveness! Thanks :)
Looking forward when I can drop my TermsToTerm() circumvention code.

[2017-06-08 09:09] martijnvg commented on #24785
Turns out the decoding logic was not missing and behaving correctly. This bug was caused by something else: #25129

[2017-06-08 09:14] jimczi commented on #25062
A reproducible failure on master:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/3106/console

[code]

This is not related to java 9, other similar failures:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu/1062

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-unix-compatibility/os=

[2017-06-08 09:18] #23966 closed

[2017-06-08 09:31] nenadvicentic commented on #25102
I have tried to rewrite the query, but without success.

Initially, I have tried to convert all ranges with less then 100 elements to single `TermsQuery`, but I hit the limit for total query length, or `TermsQuery` length (I had ~7000 values in terms query). In the end, I converted only ranges with less then 10 elements to the single terms query, to keep the size of query text within allowed range

[2017-06-08 10:24] jpountz commented on #25102
There is no way to work-around it, but on 5.4 you could take advantage of the fact that the [`dis_max` query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-dis-max-query.html) does not yet implement the optimization. So if you replace your `bool` query with a `dis_max`, that should get you back to similar performance as before.

Could you share how many documents match

[2017-06-08 10:26] DivyaMalini opened #25131 "PostingsHighlighting is broken with boosting to multi-fields in ES 5.x"
**Elasticsearch version**: 5.4.0

**Scenario**:
We have a multi-field indexed with offsets, for instance 'A' the field 'A.B' the sub-field . We query on both the fields to boost the results if matches are found in both.  Now in ES 5.4.0 , i observe when i try to boost on the subfield (A.B) and try to fetch the highlight for the same, highlight hits are missing. _This scenario was totally working f

[2017-06-08 10:27] #25088 closed

[2017-06-08 11:33] jimczi commented on #25131
This bug has been fixed in 5.4.1 but only for the `unified` highlighter:
https://issues.apache.org/jira/browse/LUCENE-7769

The `postings` highlighter is deprecated in Lucene (and removed in the next version) in favor of the `unified`. The `unified` highlighter is a fork of the `postings` with a similar behavior when index_options is set to `offset`. You should use this new highlighter and upgrade

[2017-06-08 11:33] #25131 closed

[2017-06-08 12:05] hristo-vrigazov commented on #22671
+1

[2017-06-08 12:12] martijnvg commented on #24785
Turns out that #25129 only fixes a bug on master (6.0.0-alpha1 and 6.0.0-alpha2). This bug doesn't exist on 5.x because scrips access doc values in an array based way, whereas in master it is accessed in an iterator based manner which requires scripts to prefill an array. In that case #25129 is required.

@dijingran Can you share a more isolated example that demonstrates the issue that you're seei

[2017-06-08 12:43] pavhofman commented on #23331
Hello, please is there any chance the high-level rest client will not depend on lucene libraries? We need to migrate from old compass implementation to elasticsearch client (with independently running ES instances) and the lucene jars conflict  of 10 years difference is unresolvable. However the two search systems must run along each other for a while in the app. I think we are not the only users

[2017-06-08 12:44] siddharth1199 commented on #11830
Hi guys, i have a query with 2 bool conditions as follows:

GET /resume/candidates/_search
{
    "query": {
        "nested" : {
            "path" : "sections",
            "query" : {
                "bool" : {
                    "should" : [
                    { "match:{"sections.skills": "CSS"} },
                    { "match:{"sections.education": "photography"} }
                    ]

[2017-06-08 12:48] javanna commented on #23331
hi @pavhofman there is no chance at least in the first stages, but we are discussing the possibility of shading the dependencies. Would that work for you? I'd say that lucene is not the biggest as not many users depend on lucene in their applications, but we are going to have conflicts when it comes to http-client and jackson for sure.

[2017-06-08 12:56] pavhofman commented on #23331
hi @javanna I have tried to upgrade our jars to match ES and basically got stuck mosty with lucene (compass is way too old). I think shading would work OK for us if it included lucene jars. We would use only the high-level rest client layer. That would be fantastic help should you decide to do that. Thanks a lot :-)

[2017-06-08 12:59] javanna commented on #23331
cool @pavhofman thanks for your feedback we will take this into account.

[2017-06-08 13:13] pavhofman commented on #23331
I very much appreciate your consideration. Thanks.

[2017-06-08 13:44] v1r commented on #25088
@jimczi is there any workaround you recommend me to use fvh with phrase prefix. Right now this a blocking issue for our team to finish upgrading from 2.x to 5.4.. also when do you think it will be released! Thank you, very appreciated!

[2017-06-08 13:47] jimczi commented on #24464
Another failure in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/281

[2017-06-08 13:57] jimczi opened #25133 "[CI] TranslogTests#testWithRandomException"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=amazon/1083/

This test fails with a reproducible seed:

[code]

Failure:
[code]

[2017-06-08 14:28] jbaiera commented on #25119
I'm curious about how other repositories that use distributed storage manage this sort of problem (like Azure or S3). If their services are unavailable when the plugin starts, do they also fail in this way? Is there any sort of official stance or documentation that we have in regard to how repository plugins are expected to manage long lived connection resources? Perhaps @imotov has some insight o

[2017-06-08 15:45] Gnitry commented on #25091
Yeas, you are right. I checked PC by Memtest86 and found problems with memory.
![img_0153 1](https://user-images.githubusercontent.com/3641011/26937440-5349f78e-4cac-11e7-801d-0565d22f0a75.JPG)

Now I need to change memory chip card and try Elastic again.

Thank you all !

[2017-06-08 15:45] #25091 closed

[2017-06-08 16:40] jasontedor commented on #22671
I do not understand why this issue continues to receive attention. I have shown [previously](https://github.com/elastic/elasticsearch/issues/22671#issuecomment-273498813) that the dependency on log4j-api is optional, you can use another logging implementation in your application without relying on this dependency.

@sprgn Would you please explain why you think that log4j-core is required (see my p

[2017-06-08 16:43] zoellner commented on #21101
@whiteboardmonk no, I've since stopped using Firehose Streams because of this issue.

[2017-06-08 16:48] Gordiychuk commented on #22671
@jasontedor dependency to core can't be required, but dependency to api required to avoid this problem in future, when someone add dependency on elasticsearch and it's not work because need add additional transitive dependency that not describe in poms.

[2017-06-08 16:55] jasontedor commented on #22671
Okay, I understand the source of the confusion. Thank you @Gordiychuk.

[2017-06-08 16:58] dakrone commented on #25090
I pushed two PRs for this #25114 and #25118, so this should be resolved now. Thanks for bringing this up @spalger!

[2017-06-08 16:58] hristo-vrigazov commented on #22671
@jasontedor +1 usually means "I am also experiencing this problem". I understand that you are trying to help, but it is annoying to be forced to add a bridge or log4j just because I want to use a simple client for Elastic. I understand that it is not the end of the world, but if every framework in the world forced you to add additional things outside of what it is meant to do, it would quickly bec

[2017-06-08 16:59] imranazad opened #25135 "Field collapsing"
Is there any documentation on using field collapsing the issues it causes with pagination? How is one supposed to paginate through results that have been collapsed?

[2017-06-08 17:01] lukas-gitl commented on #11830
@siddharth1199 Not sure what your problem is. It looks like it should work. Formatting your json would help greatly with readability and encourage people to look at it more closely...

[2017-06-08 17:02] jasontedor commented on #22671
@Gordiychuk I opened #25136 to address the confusion on the API dependency.

[2017-06-08 17:07] clintongormley commented on #25135
Yes, [it says](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/search-request-collapse.html):

You can't count the total number of unique values in the collapsed field without scrolling through all results.  You could use a `cardinality` aggregation on that field to estimate the number of unique values, but that will introduce overhead.

You can do what google does and say "duplicate r

[2017-06-08 17:07] #25135 closed

[2017-06-08 17:08] clintongormley commented on #25090
thanks @dakrone

[2017-06-08 17:41] polyfractal commented on #10002
@elnur Just opened a PR for this functionality, see #25137

[2017-06-08 18:48] rjernst commented on #25119
@jbaiera Why would there be a need for a long lived connection? Starting up ES should not cause a connection to the service, except perhaps to verify settings. For example, with the s3 repository, starting up ES only gathers settings. Creating an s3 repository will attempt to connect to s3 to find if the bucket exists.

[2017-06-08 19:58] gmoskovicz commented on #21825
@nknize @clintongormley

Regarding

I think that there is a need of some decoding here. Maybe we should add that the query was removed and include also that for people previously running a `geohash_cell` query they need now two points (so some decoding outside ES is needed)?

[2017-06-08 20:08] jasontedor commented on #22671
@hristo-vrigazov Yeah, no one likes that the transport client is so heavily entangled with the server implementation. I wish we could snap our fingers and make it go away but we can't. It's a very long road for us to build a client that is as functional at a high-level as the transport client yet for it to not be dependent on the server implementation. For now, the best we can do is iterate on wha

[2017-06-08 20:17] #24622 closed

[2017-06-08 20:23] PnPie commented on #24853
I've had a look at the code and it seems that the dynamic templates is designed to be totally replaced while updating but not "merged" for 5.x version ?

[2017-06-08 20:39] #25068 closed

[2017-06-08 20:43] Gordiychuk commented on #22671
@jasontedor good, thanks.

[2017-06-08 20:51] archanid commented on #25068
:tada:

[2017-06-08 22:04] shahkaushal94 commented on #17584
I am following the documentation of ES (https://www.elastic.co/guide/en/elasticsearch/client/java-api/current/java-docs-index.html). I am getting the following error:

Exception in thread "main" java.lang.UnsupportedClassVersionError: org/elasticsearch/common/transport/TransportAddress : Unsupported major.minor version 52.0
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassL

[2017-06-08 22:10] kevinder opened #25140 "Error with range query inside "not or""
**Elasticsearch version**: 2.4.5

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_111

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

Using a range query inside an `or` inside a `not` causes an error on 2.4.5, but not on 1.7.1.

**Steps to reproduce**:

This query works fine:

[code]

but wrappin

[2017-06-08 22:15] Grinnz commented on #20209
For the record, I've since switched us to a custom analyzer with the 'whitespace' tokenizer and 'lowercase' token filter, and everything works as expected without setting analyze_wildcard.

[2017-06-08 22:22] dadoonet commented on #25140
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

Note that `or` has been deprecated as per: https://www.elastic.co/guide/en/elasticsearch/reference/2.4/query-dsl-or-query.html
It has been removed in 5.x series.

Use `should` then. But please feel

[2017-06-08 22:22] #25140 closed

[2017-06-08 22:24] #24725 closed

[2017-06-08 22:24] dadoonet commented on #17584
@shahkaushal94 feel free to ask on discuss.elastic.co where we can give better support.
Here, it's clear that you still have a java 1.7 version somewhere.

Check your `JAVA_HOME` and what gives `java -version`.

[2017-06-08 22:27] shahkaushal94 commented on #17584
$java -version
java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

$ echo $JAVA_HOME
/Library/Java/JavaVirtualMachines/jdk1.8.0_45.jdk/Contents/Home

Sure, I'll ask questions on discuss.elastic.co. Sorry.
But why is my java version showing 1.8 then?

[2017-06-08 22:33] dadoonet commented on #17584
You can see that something is inconsistent here:

and

[2017-06-08 22:38] brusic commented on #23331
@pavhofman I have the same issue since I still use Lucene for small ancillary indices. I use the binary transport client for indexing (HTTP has a definite slowdown) to Elasticsearch and the Jest HTTP client for searching: https://github.com/searchbox-io/Jest

[2017-06-08 23:11] shahkaushal94 commented on #17584
Thanks! I did a complete reinstall of java and it worked. I have more questions! Will post on discuss.elastic.co

[2017-06-08 23:35] brooks commented on #18892
+ 1 for missing 👍

[2017-06-09 00:44] robinst opened #25141 "Incorrect default for similarity in reference docs of text/keyword datatypes"
The [similarity section](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/similarity.html) in the reference says that BM25 is default:

But the [`similarity` parameter in the `text` section](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/text.html#text-params) says the opposite:

The [`keyword` section](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/keyword.htm

[2017-06-09 02:21] guoxiaolu opened #25142 "slow elasticsearch in large number index but small subset"
1. A large index and there are about 10 million documents.
2. Search filtering and only search about 1,000 documents.
3. A plugin is installed, and it is designed to calculate cosine distance between two vectors (1,000 float).
4. I have tested in a small index (about 1,0000 documents and subset is still 1,000 documents large), about cost not more than 1 seconds.
5. It seems it cost time at first 3

[2017-06-09 03:09] #25142 closed

[2017-06-09 03:09] guoxiaolu commented on #25142
currently, need to check the configuration of elasticsearch

[2017-06-09 04:42] jbaiera commented on #25119
@rjernst In this case I am talking about a node coming online with a previously configured repository. My understanding at the moment (and please correct me if I'm wrong, I'm only just now starting to dive into the lifecycle code) is that if the cluster state contains a repository at start up, then that repository is created when the repository service comes online. If the node can't reach S3 at t

[2017-06-09 07:17] nenadvicentic commented on #25102
Here is information about the data in the Elasticsearch index:

It is single parent-child relationship: parent `registrygroup` having 1 or more `plot` children (1 to 50).

Total parent items: 3224996
Total child items: 10238610 - all child items are of `plot` type, each `plot` has `id1`  (more accurate name would be `groupId`)

Range sub-queries are acting like access list, so in my example fits a

[2017-06-09 07:26] jimczi commented on #25141
Thansk @robinst
I pushed https://github.com/elastic/elasticsearch/commit/ad905924ae6dc42e2e7ff8dead9003c5a0c64be7

[2017-06-09 07:26] #25141 closed

[2017-06-09 09:58] arosenheinrich opened #25146 "Support http streaming in Java Rest Client"
We have  use cases where we use elasticsearch as only datastore throwing all kinds of data in it (simplifying our tech stack), including large files that are only stored and fetched later on. Using "standard" http requests we encountered problems as you can run in several limitations, like body size, buffer limits, timeouts and so on. Therefore we had to implement an own client that supported http

[2017-06-09 10:44] javanna commented on #25146
Hi @arosenheinrich what is your own client based on? We depend on apache http async client and we can expose pretty much anything that such library supports. Can you expand a bit on what you did and what would help in your case?

[2017-06-09 11:21] dngferreira opened #25151 "De-Humanize _CAT API store sizes"
Using the _cat API indices and shards p.ex give the store sizes in a human readable format, Mb, Gb, etc.
Can we get a parameter to disable this "humanizing" of the results so we can get results that are more precise for a machine to analize?

[2017-06-09 11:23] dadoonet commented on #25151
I believe you are looking for this: https://www.elastic.co/guide/en/elasticsearch/reference/current/cat.html#numeric-formats

I'm closing but feel free to reopen or better ask on discuss.elastic.co if you think it does not work for you.

[2017-06-09 11:23] #25151 closed

[2017-06-09 11:50] simonmit opened #25152 "Provide OpenAPI/Swagger specification out of the box"
**Feature request:**
An Elasticsearch installation should provide a OpenAPI/Swagger specification without installing any additional plugins/configuration.

**Describe the feature**:
Currently (5.x) there is no _detailed_ documentation of the REST API of Elasticsearch.
When coding against this API it is very "costly" to **revese-engineer the JSON format of the requests and responses**.

*Example:*

[2017-06-09 11:57] javanna commented on #25152
Relates to #24065 .

[2017-06-09 12:13] #24928 closed

[2017-06-09 12:19] WojciechLuczkow opened #25153 "Problem opening Gradle project with Eclipse"
**Elasticsearch version**:
5.4.1
**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_65"
Java(TM) SE Runtime Environment (build 1.8.0_65-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.65-b01, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
WIndows 10 Pro 10.0 compilation 10586

**Description of the problem including expected versus actual behavior

[2017-06-09 12:22] cbuescher commented on #25153
@WojciechLuczkow I'm sorry to hear you are having trouble with the project setup. However, Elastic reserves GitHub for bug reports and feature requests but provides a Discourse forum and IRC channels for general questions like this. I hope you mind closing this issue and ask you to raise this question in the forums.

[2017-06-09 12:22] #25153 closed

[2017-06-09 12:27] martijnvg commented on #25153
@WojciechLuczkow Please follow the Eclipse instructions mentioned here: https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md#contributing-to-the-elasticsearch-codebase

If it still doesn't work please ask on the forum like @cbuescher replied.

[2017-06-09 12:28] WojciechLuczkow commented on #25153
@cbuescher
I don't have a problem - I solved it quickly...
I provided you with solution you may find useful adapting

Have you read description or just posted ready to send message?

[2017-06-09 12:37] cbuescher commented on #25153
@WojciechLuczkow sorry, I didn't get that you were providing the answer to your question yourself. Maybe one more reason to share your findings in the forum.

[2017-06-09 13:08] dakrone commented on #25105
We discussed this, and decided that we should add the same limit that BooleanQuery has to the DisjuntionMaxQuery - that is, a limit of 1024 clauses.

Additionally, we should document that the `all_fields` mode can be expensive in the case where there are a lot of fields, and that a user should search a subset of fields or use `copy_to` to create a custom field containing the contents of other fiel

[2017-06-09 13:10] tlrx commented on #25070
We discussed this in Fix-it Friday and it's indeed a duplicate of #21625.

[2017-06-09 13:10] #25070 closed

[2017-06-09 13:19] javanna commented on #25007
hi @sschepens ,
does that mean that you are using multiple transport client instances in your application? Can you elaborate on that?

[2017-06-09 13:25] clintongormley commented on #24592
Closing in favour of https://github.com/elastic/elasticsearch/issues/15613

[2017-06-09 13:25] #24592 closed

[2017-06-09 13:42] markharwood commented on #24511
We added something for this in the aggregator base class: https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/search/aggregations/AggregatorBase.java#L122

[2017-06-09 13:45] dakrone commented on #24511
I think there's some improving we can do here, if we need to decrement the breaker we can still trip the breaker, that method should check for negative numbers and use `addWithoutBreaking` instead, that way it's safer to use as part of the `.close()` method on the aggregations. I'm going to re-open this and change the title.

[2017-06-09 13:50] clintongormley commented on #24440
Discussed in FixItFriday.  There's not much more that we can do than to implement sampling, so I'm closing in favour of https://github.com/elastic/elasticsearch/issues/24799

[2017-06-09 13:50] #24440 closed

[2017-06-09 13:50] bleskes commented on #24465
@imotov I think the idea is appealing and I can see a bit how we can add proper plugin API in the custom cluster state metadata. This is because we have some experience in that area. When it comes to indices I'm less sure of what would be a good plan. Can you may come up with some examples?

[2017-06-09 13:57] bleskes commented on #24435
Closing as it seems the discussion has died. Bottom line, when publishing a cluster state with a given min master node, it's unsafe to reform a cluster with less than that number of nodes. We may have a future tool to acknowledge it and allow starting the cluster anyway but for now there are bigger fish to fry.

[2017-06-09 13:57] #24435 closed

[2017-06-09 13:59] jpountz opened #25154 "`geo_bounding_box` should be smarter about how it parses geo hashes"
Say you ran a `geohash_grid` aggregation and want to filter documents that fell into a particular bucket. Currently, we do not provide an easy way to do that: the user has to compute the top left and bottom right coordinates that map to this geohash.

The `geo_bounding_box` already accepts geohashes as input to the corners, but we just parse it into one point that belongs to the geohash cell. If i

[2017-06-09 13:59] sadok-f opened #25155 "Error when import visualization into Elasticsearch 6.0.0-alpha2"
**Elasticsearch version**: Elasticsearch 6.0.0-alpha2

**Plugins installed**: []

**JVM version**: openjdk version "1.8.0_131"

**OS version**: Linux 0a1950b835b7 3.13.0-117-generic #164-Ubuntu SMP Fri Apr 7 11:05:26 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
I'm using a python script to import visualization, search and dashbo

[2017-06-09 14:11] jasontedor commented on #25007
You're right @sschepens, we probably should enable this. However, the are some complications:
 - the transport client is going to be deprecated and removed
 - we do not want to entangle the transport client with Netty 4 as other transport implementations can be used
 - because of the way in which in plugins are instantiated, we do not have an easy way for a plugin to provide a specific object used

[2017-06-09 14:11] #25007 closed

[2017-06-09 14:14] jasontedor commented on #25155
This is not a bug on our side. You need to set the header `Content-Type` to `application/json`. We reserved GitHub for verified bug reports and feature requests. If you need additional help, please ask on the [forum](https://discuss.elastic.co).

[2017-06-09 14:14] #25155 closed

[2017-06-09 14:16] jasontedor commented on #25155
Also, you can see the same behavior in 5.4.1 if you set `http.content_type.required` to `true`. This is the default in 6.0.0 and is unchangeable.

[2017-06-09 14:23] sadok-f commented on #25155
Thank you for your quick response,

[2017-06-09 14:32] jasontedor commented on #25155
You're welcome.

[2017-06-09 15:32] grasmanek94 opened #25156 "mapper_parsing_exception returns status 400 in JSON response, but HTTP status is 200"
**Elasticsearch version**: 5.4.1

**Plugins installed**: []

**JVM version** (`java -version`):

openjdk version "1.8.0_131"
OpenJDK Runtime Environment (build 1.8.0_131-8u131-b11-1~bpo8+1-b11)
OpenJDK 64-Bit Server VM (build 25.131-b11, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):

Linux luna 3.16.0-4-amd64 #1 SMP Debian 3.16.43-2 (2017-04-30) x86_64 GNU/Linux

**Description

[2017-06-09 15:49] nomoa opened #25158 "Scroll request never ends on mixed version cluster (5.1.2/5.3.2)"
While doing a rolling restart on a cluster to upgrade from 5.1.2 to 5.3.2 we noticed that a script used to rebuild some indices stopped to function properly. The scroll request used constantly returned the same set of results.

Looking into details it appeared to only happen for small indices where the initial scroll request returned all the hits. But also only on indices with a shard that was hos

[2017-06-09 16:03] jasontedor commented on #25156
The status in the response is per bulk item, so each bulk item can have a separate status. The actual HTTP status of 200 OK means that the coordinating node that received the request successfully processed the request handling each bulk item as expected. To know if there are failures, you have to check the `errors` key

[2017-06-09 16:03] #25156 closed

[2017-06-09 16:11] grasmanek94 commented on #25156
Alright, that explains it I think. But what is the suggestion then? Report this as a bug to elasticsearch-php, or to the package maintainer that uses elasticsearch-php? We have no access to the http output in our application. And it's debatable that a 200-OK (everything OK) response when 100% of the items fail to update is the correct response, especially when a exception occurs...

[2017-06-09 16:29] jasontedor commented on #25156
@polyfractal Does the PHP client expose the `errors` key in a bulk response?

I will try to explain again. The 200 OK means that the coordinating node did its job. The only time in which a 200 OK is not acceptable here is if the coordinating node fails to do its job, either because of a client error in the request, or because of a server error handling the request. A 200 OK means: I took your requ

[2017-06-09 16:51] dngferreira commented on #25151
That's what I was looking for.

Thanks

[2017-06-09 17:39] bibinvenugopal opened #25160 "Elastic search service starting is failing - java.lang.IllegalArgumentException: Plugin [delete-by-query] is incompatible with Elasticsearch [2.4.5]. Was designed for version [2.4.4]"
java.lang.IllegalArgumentException: Plugin [delete-by-query] is incompatible with Elasticsearch [2.4.5]. Was designed for version [2.4.4]
        at org.elasticsearch.plugins.PluginInfo.readFromProperties(PluginInfo.java:118)
        at org.elasticsearch.plugins.PluginsService.getPluginBundles(PluginsService.java:378)
        at org.elasticsearch.plugins.PluginsService.<init>(PluginsService.java:1

[2017-06-09 17:42] jasontedor commented on #25160
What's unclear about the error message? If it needs improvement, we will improvement but it seems pretty clear: you have installed version 2.4.4 of the delete-by-query plugin on a node running 2.4.5. I'm closing this as not a bug. If you need additional help, ask on the [forum](https://discuss.elastic.co).

[2017-06-09 17:42] #25160 closed

[2017-06-09 17:56] jasontedor commented on #23044
Closed by #25139

[2017-06-09 17:56] #23044 closed

[2017-06-09 17:56] jasontedor commented on #23570
No additional feedback, closing.

[2017-06-09 17:56] #23570 closed

[2017-06-09 18:06] owrcasstevens opened #25161 "Buckets in date_histogram are different sizes"
**Describe the feature**:

**Elasticsearch version**:  5.4.1

**Plugins installed**: [None]

**JVM version** (`java -version`): 1.8.0_66

**Description of the problem including expected versus actual behavior**:

When creating a date_histogram agg using an `offset` and `extended_bounds` the buckets are not all the same size due to the `offset` not being used in the extended period of the aggregati

[2017-06-09 18:39] jaymode commented on #25158
The single shard scroll issue between versions >= 5.3 and those < 5.3 has been fixed by https://github.com/elastic/elasticsearch/pull/24512, which was released in 5.4.1. See https://www.elastic.co/guide/en/elasticsearch/reference/5.4/release-notes-5.4.1.html#bug-5.4.1

[2017-06-09 18:39] #25158 closed

[2017-06-09 18:51] cbuescher commented on #25161
@owrcasstevens thanks for this bug report and the detailed reproduction.
This bug has been fixed by https://github.com/elastic/elasticsearch/pull/23789 in the upcoming 5.5 release and in out current Pre-Release v6.0.0-alpha2.
The query in your example now returns:

[code]

I hope this is according to your expectations and will close this issue, feel free to reopen if there are any questions.

[2017-06-09 18:51] #25161 closed

[2017-06-09 19:20] jpcarey opened #25163 "clarify `cluster.routing.allocation.disk.watermark.low` docs"
The docs for the low watermark read as if no shard would be allocated to a node above this threshold. It can still allocate a shard if it is a primary shard AND has never been allocated AND the node is below the high threshold. cc: @jasontedor

https://www.elastic.co/guide/en/elasticsearch/reference/5.4/disk-allocator.html#disk-allocator

[2017-06-09 20:28] nknize commented on #24816
closed with ffec0c6

[2017-06-09 20:28] #24816 closed

[2017-06-09 21:53] jasontedor commented on #24646
I think we should close this. It's getting late in the 5.x development cycle for this to be picked up for a deprecated plugin. If someone disagrees, please comment or reopen.

[2017-06-09 21:53] #24646 closed

[2017-06-09 22:53] amir20001 opened #25168 "Memory efficient source filtering"
**Example:**

Using Twitter as an example, each user is a document, and each tweet is a document nested under the user. For active users, each document can end up with thousands of tweets and thus a single document can be a few megabytes in size.

[code]

**Use Case:**
We want to find users that have used a specific hashtag in their tweets and view only those tweets. We use source filtering and ne

[2017-06-10 02:12] nik9000 commented on #25091
Awesome! Well, not awesome for you, I guess. Sorry about your memory! I'm glad it was "just" memory though.

[2017-06-10 02:14] nik9000 commented on #17447
Reindex sees a consistent view of the data. It won't notice the changes.

[2017-06-10 02:55] monikamaheshwari commented on #17447
So how to add that changes.

[2017-06-10 03:04] nik9000 commented on #17447
We don't have native support for that. If you ask around on discuss.elastic.co you might find people that have some solutions.

[2017-06-10 07:41] bleskes opened #25169 "Posting highlighter rest tests keeps failing"
see https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-unix-compatibility/os=debian/855

[code]

Reproduction line (doesn't reproduce reliably):

[code]

[2017-06-10 11:30] bleskes opened #25170 "`:qa:verify-version-constants` fail on 5.x/5.5"
The test fails while trying to spin up 2.0.0 nodes

[code]

see: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.5+bwc-tests/11/console

[2017-06-10 11:53] jasontedor commented on #25170
Closed via f38097578c9c0c135cc5c5f37a31928cdd6527df and 58bc8977c7db989cfd47d202cfbcd7e30cfb5f9c

[2017-06-10 11:53] #25170 closed

[2017-06-10 18:24] v1r opened #25171 "no highlights with a highlight prefix query and FVH when no match found"
Following this issue: #25088

**Elasticsearch version**: 5.4.0 and 5.4.1
**JVM version**: 1.8
**OS version** : Windows 7

No highlights returned using a prefix in a highlight_query when a document attribute has an empty value or no match found

**Steps to reproduce**:

Create the following index
[code]

Add a new document, notice description is empty (no  match for 'sq' string).

[code]
Run the fo

[2017-06-10 19:54] dalenoe commented on #21436
I also ran into this. Ubuntu 16.04 using latest java9.

@LeeDr had the fix that resolved this for me.

[2017-06-11 08:13] asafm commented on #25099
We'll add the advanced leak detection and report back in 3-5 days

[2017-06-11 13:09] asafm commented on #25099
Ok, that was way faster than I though. Here is it:
[code]

[2017-06-11 14:14] jasontedor commented on #25099
Thanks.

Did anything abnormal happen, for example, a timeout tripped that you know of?

Are you running with any plugins installed?

[2017-06-11 18:33] grantholly commented on #23348
**elasticsearch version:**
`5.4.1`

**java version:**
`
java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)
`
**os version:**
`
CentOS Release 7.3.1611
`

**logstash version:**
`2.4.1`

If you are using Logstash to write to Elasticsearch, you might get a message like this in the logstash log file:
`"respons

[2017-06-11 21:17] #25133 closed

[2017-06-11 21:17] bleskes commented on #25075
closed by  #25083

[2017-06-11 21:17] #25075 closed

[2017-06-12 07:48] jimczi commented on #6720
Index sorting is now fully supported in master.
The documentation for this feature can be found here:
https://www.elastic.co/guide/en/elasticsearch/reference/master/index-modules-index-sorting.html

We'll continue to add enhancements and features based on sorted indices but this issue can be closed.

[2017-06-12 07:48] #6720 closed

[2017-06-12 09:32] 401825317 opened #25174 "启动提示有报错，但是没有错误信息"
贴出我得启动日志：

_[2017-06-12T17:29:29,224][INFO ][o.e.b.BootstrapChecks    ] [node-0] bound or publishing to a non-loopback or non-link-local address, enforcing bootstrap checks
ERROR: bootstrap checks failed
system call filters failed to install; check the logs and fix your configuration or disable system call filters at your own risk
[2017-06-12T17:29:29,241][INFO ][o.e.n.Node               ] [node-0

[2017-06-12 09:32] abdbaddude commented on #22156
@YDHui  Used your solution and it worked except I didn't have to set    "permission java.security.AllPermission;"  in the plugin-security.policy , thereby not comprising the entire security definitions. Thanks.

By the way my system configuration is
OS centos7.3.1
Docker 17.05.0-ce
ES 5.4.1
hadoop/hdfs 2.8

N.B I wonder why by default the plugin-security.policy file was not detected. the JAVA_OPTS

[2017-06-12 09:37] dadoonet commented on #25174
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

And read https://www.elastic.co/guide/en/elasticsearch/reference/current/bootstrap-checks.html

[2017-06-12 09:37] #25174 closed

[2017-06-12 09:37] 401825317 commented on #25174
解决了
 bootstrap.memory_lock: false
bootstrap.system_call_filter: false

[2017-06-12 10:04] markharwood commented on #23674
That's another thing highlighter logic can help with. It already identifies the sections of docs that produced stemmed forms and de-stemming is finding the most-popular examples of text associated with a stemmed form.

[2017-06-12 10:39] jakommo opened #25175 "[docs] Full cluster restart docs link to rolling restart at 3., which can be confusing."
On [the full cluster restart guide](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/restart-upgrade.html) in  `3. Shutdown and upgrade all nodes`, we link to the [upgrade node section of the rolling restart guide](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/rolling-upgrades.html#upgrade-node).
This can be confusing for new users as it's not clear if one just need to fol

[2017-06-12 12:10] jasontedor commented on #21125
These are all addresses now. Closing.

[2017-06-12 12:10] #21125 closed

[2017-06-12 13:02] #25029 closed

[2017-06-12 13:04] matAtWork commented on #24244
Unless there is a very good reason for removing 'extended_bounds', don't do it. There are a huge number of assumptions above about what people are doing with data (charting? is that it?), and to remove an inexpensive feature then forcing all consumers to re-implement it is simply an unnecessary burden on users.

The only possible reason you would consider removing a well-tried and tested feature (

[2017-06-12 13:31] jpountz commented on #25168
If the issue is about not loading the `_source` in memory, then this is a high hanging fruit. However, you mentioned that the issue is mostly about garbage collection in your case, which I think we could improve by avoiding going through a map of maps intermediate representation, which I suspect is the source of all that garbage.

[2017-06-12 13:31] clintongormley commented on #21825
@gmoskovicz see https://github.com/elastic/elasticsearch/issues/25154

[2017-06-12 13:34] gmoskovicz commented on #21825
Thanks @clintongormley for pointing me to this, and @jpountz for creating it.

[2017-06-12 13:34] jpountz commented on #25168
Also relates to #9034.

[2017-06-12 13:37] clintongormley commented on #25065
Hi @ljcollins25

We discussed this in our FixItFriday session - I'm afraid it is a non-starter.  Bitset filters depend on Lucene's doc IDs per segment.  As soon as segments merge then the doc ID changes, so storing filters in an index just won't work.

All I can suggest is that you store one or more commit IDs per document and use a term filter on that ID when searching.

[2017-06-12 13:37] #25065 closed

[2017-06-12 13:46] nknize commented on #25154
Thanks @jpountz. I've got a method in GeoUtils to compute the bounding box from a geohash. I can go ahead and add this to the GeoBoundingBoxBuilder so if the user passes just a geohash (without top_left and bottom_right) the correct bounding box is computed.

[2017-06-12 13:47] tobias74 commented on #25154
which would basically bring back geohash_cell, wouldn't it? :-)

[2017-06-12 14:15] clintongormley commented on #24576
Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2017-06-12 14:15] #24576 closed

[2017-06-12 14:31] polyfractal commented on #25156
Sorry for delay, was out of town friday/weekend.

@jasontedor @grasmanek94 Yes, the `errors` key is available in the response.  The PHP client returns the entire JSON body of the response (encoded as a associative array), so you can access it like this:

[code]

For example, this snippet will cause an error because only the first document can be indexed due to the `create` operation.  The other tw

[2017-06-12 14:38] jasontedor commented on #25156
@grasmanek94 Given that the PHP client does expose the `errors` key, I do not think there's anything to change here. Do you concur?

[2017-06-12 14:40] imotov commented on #24465
@bleskes we have applications/plugins that run as part of the elasticsearch cluster and generate potentially large amount of data. Examples of these apps are monitoring, ml, and watcher. This data falls into 2 categories: app configuration information (watches, for example) and reports of app execution (watch history). The current approach is to store this data in special indices. On one side this

[2017-06-12 14:40] hello4usharath opened #25177 ": java.lang.ClassNotFoundException: com.microsoft.schemas.office.visio.x2012.main.ConnectsType"
java.lang.NoClassDefFoundError: com/microsoft/schemas/office/visio/x2012/main/ConnectsType
        at com.microsoft.schemas.office.visio.x2012.main.impl.PageContentsTypeImpl.getConnects(Unknown Source) ~[?:?]
        at org.apache.poi.xdgf.usermodel.XDGFBaseContents.onDocumentRead(XDGFBaseContents.java:89) ~[?:?]
        at org.apache.poi.xdgf.usermodel.XDGFPageContents.onDocumentRead(XDGFPageCont

[2017-06-12 14:41] hello4usharath commented on #25177
we are getting above issue production

[2017-06-12 14:42] dadoonet commented on #25177
@hello4usharath What is your elasticsearch version please?

[2017-06-12 14:42] dadoonet commented on #25177
I see. 5.2.0. Then upgrade. It has been fixed since then.

[2017-06-12 14:42] #25177 closed

[2017-06-12 14:42] clintongormley commented on #25177
Looks like a duplicate of https://github.com/elastic/elasticsearch/pull/23214

[2017-06-12 14:43] hello4usharath commented on #25177
5.2.0

[2017-06-12 14:45] grasmanek94 commented on #25156
@jasontedor that's quite clear and I agree with the statements made here, I'll forward this info to the package maintainer ( https://github.com/ErickTamayo/laravel-scout-elastic/issues/37 ) and discuss possible solutions.

[2017-06-12 14:51] hello4usharath commented on #25177
production we cannot upgraded. is there any other way?

[2017-06-12 14:51] hello4usharath commented on #25177
production we cannot upgrade. is there any other way to fix the issue?

[2017-06-12 14:58] dadoonet commented on #25177
No. Or don't send that kind of documents to the ingest pipeline.

I know someone who was starting dedicated ingest nodes then was monitoring the process and anytime the process was dying it was automatically restarted.

Or apply the patch made in #23214 in your own fork of the ingest attachment plugin then build it, then install it. But you will have to stop and restart the nodes anyway.

But IMHO

[2017-06-12 15:03] hello4usharath commented on #25177
how to apply the patch?

[2017-06-12 15:13] dadoonet commented on #25177
I believe you need to apply the changes that are in this commit https://github.com/elastic/elasticsearch/commit/76a977ab93127131b0646130c910235d96342e97

Then build the project with something like:

[code]

But again, I would not do that but I'd upgrade.

[2017-06-12 16:18] andy-elastic commented on #22821
I'll take this one

[2017-06-12 17:09] clintongormley commented on #24853
I'm not sure if that change was intentional, but it may actually be a better default.  Then we can forget about things like https://github.com/elastic/elasticsearch/issues/11627

[2017-06-12 17:44] brusic opened #25179 "Get all search templates/scripts"
TL;DR I want to get all the search templates defined in the cluster metadata and I am willing to implement it myself

I found myself needing to get all the search templates defined in the cluster metadata. Noticed that there was no endpoint to get all the templates, so I though I should just add it myself. After diving into the code, I noticed why it is not currently implemented.

Templates are ju

[2017-06-12 17:44] trevan commented on #25105
@dakrone, Could there also be a way to restrict which fields are included in an "all_fields" query?  I have over 1400 fields in an index and I've been planning on removing the _all field to reduce memory usage.  But this restriction will prevent easily searching without specifying a set of field names.  I'd be fine with determining which fields shouldn't be used in "all_fields" to reduce the numbe

[2017-06-12 18:12] IdanWo commented on #16838
Our workaround was to copy some fields from the parent docs into its nested docs, so we can still make terms aggregation on the nested docs but sort by fields "found" in the parent docs.  Not ideal, but works in our cases. Of course, a fix would be much appreciated.

[2017-06-12 18:37] rjernst commented on #25179
@brusic The work on script contexts (#20426) has rendered the need for a separate template service obsolete. The separate stored template api will also soon be removed, in favor of using the stored scripts api (#24596).  While designing the script contexts, we considered having context be a required parameter to storing a script. However, this was deemed [too cumbersome for users](https://github.c

[2017-06-12 19:06] #24511 closed

[2017-06-12 19:15] jaymode commented on #25062
Another reproducible failure on 5.x (macOS):
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-unix-compatibility/os=sles/864/console

[code]

Reproduce line:

[code]