[2020-11-17 19:18] Hakky54 commented on #53846
@javanna @dadoonet @rjernst

Hi guys,

I was wondering what the status is of this issue. In my use case we applied a different kind solution which also reduces the response size to reduce the response latency. We have used smile encoding instead of JSON and also applied http compression. So I wanted to tell that this solution works well and that filter_path is not needed anymore. So it is a nice t

[2020-11-17 19:57] mark-vieira commented on #64776
@elastic/infra-automation does my idea in [this comment](https://github.com/elastic/elasticsearch/issues/64776#issuecomment-724313569) sound sane? If so I'll open a PR to implement this.

[2020-11-17 20:01] mark-vieira commented on #63697
The `ThirdPartyAudit` is effectively just forbidden apis but for binary dependencies. I'm not sure to what degree we should do these checks for plugins. In the end if a plugin dependency is doing something naughty won't it get blocked by security manager?

@rjernst what's the intention of the forbidden apis stuff, really? Is it more code conventions or do we strictly want to ensure folks to don't

[2020-11-17 20:03] mark-vieira commented on #63697
We've been pretty cavalier with this in the past so I don't think so, but we want to do better starting with 8.0 and this work is part of that effort. That is, minimizing the surface area of our build code we expose to external plugin authors such that breaking changes are much less likely. Since this is iterating towards that goal I say we move forward.

[2020-11-17 20:04] mark-vieira commented on #63697
Yes, and this is a must have for 8.0 IMO. Right now the example plugins effectively are the documentation.

[2020-11-17 20:23] original-brownbear opened #65163 "Reproducible Failure in org.elasticsearch.search.aggregations.metrics.InternalTopHitsTests.testReduceRandom"
This reproduces 100% of the time for me locally on current master:

[code]

[2020-11-17 20:23] elasticmachine commented on #65163
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-17 22:07] dakrone commented on #60208
@jpountz currently the only licensed ILM behavior is searchable snapshots, which is (in my opinion) a big deal if it doesn't happen since it can cause your cold tier to grow dramatically (especially once we have autoscaling). I can, however, see how it would be helpful to be able to skip it, but I don't think we should skip it by default.

[2020-11-17 22:16] jonahbull commented on #64776
@mark-vieira Yes, I think that'll work. Something like this (you'd have to make a separate entry for each OS you need to support)?
[code]

[2020-11-17 23:31] mark-vieira commented on #64776
Thanks @jonahbull. We only need this for Linux. I've opened https://github.com/elastic/infra/pull/24900.

[2020-11-18 00:55] jtibshirani commented on #65163
I muted the test:
* 8499e1d2dfeef71ac13b62dc5af803134d1e1dd9 (7.x)
* 848906d3b66520718d50341e9e65b1e7cd62ea0b (master)

[2020-11-18 01:02] rjernst commented on #63697
The intention of the forbidden apis stuff is just to prohibit our own developers from using trappy and poorly engineered APIs.

I think jar hell is the only one we should add for external plugin authors.

[2020-11-18 01:07] jtibshirani commented on #65163
The case `InternalTopMetricsTests.testReduceRandom` can also consistently:

[code]

The mute was quite broad, and covers all instances of `testReduceRandom` in aggregation tests. If it turns out it's not a widespread problem, I can adjust the mute to be more specific.

[2020-11-18 01:39] jtibshirani opened #65171 "TimeSeriesLifecycleActionsIT#testForceMergeActionWithCompressionCodec can fail with assertion error"
**Build scan**: https://gradle-enterprise.elastic.co/s/5wksambdfququ

**Repro line**:
[code]

**Reproduces locally?**: no.

**Applicable branches**: master, 7.x

**Failure history**: seems to have started failing occasionally starting on November 3rd.

**Failure excerpt**:
[code]

[2020-11-18 01:39] elasticmachine commented on #65171
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-18 01:40] nik9000 commented on #65163
I'll look at this tomorrow morning.

On Tue, Nov 17, 2020, 20:07 Julie Tibshirani <notifications@github.com>
wrote:

[2020-11-18 01:50] jtibshirani commented on #65171
I muted the test:
* 9bc17fa3d65d8690c81195d6c66d904669eb5ccd (7.x)
* caf9cd28804f0f44a01f6f0df6fa07018df3fb8e (master)

[2020-11-18 02:16] ywangd commented on #61453
@qfdk Thanks very much for your interest in Elasticsearch.

I forgot to mention it earlier, but the error you got is different from the one that this issue is about (if you compare the stacktraces, they are different). This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there,

[2020-11-18 02:27] botasky11 commented on #45251
mark

[2020-11-18 03:20] #64692 closed

[2020-11-18 04:04] naruto2902git opened #65175 "same must_not exists _count and _scroll query but the result is different"
**Elasticsearch version**: 5.6.4
**Elasticsearch setup**: 38 node cluster(sample data index) and 145 node cluster(total data index)
**Plugins installed**:  analysis-pinyin(5.6.4) eagle-permission-plugin(1.2.7-SNAPSHOT) analysis-small-group(1.1.0) analysis-stconvert(5.6.4) eagle-mtseg-plugin(1.0.2-SNAPSHOT) analysis-ik(5.6.4) analysis-int-group(1.1.0) analysis-long-group(1.1.0) sql(5.6.4.0)
**JVM v

[2020-11-18 04:18] naruto2902git commented on #65175
However the below two query did not appear this problem
[code]

[code]

[2020-11-18 06:52] elasticmachine commented on #54243
Pinging @elastic/es-docs (Team:Docs)

[2020-11-18 07:01] henningandersen commented on #57693
@ianadeem , I believe you can fulfill that using the [`_update` API](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update.html) (or a bulk request with updates).

[2020-11-18 07:11] hendrikmuhs commented on #61550
I similar fashion this feature might be useful for ML use cases. It seems to me that being able to specify the sub-type (`long`, `float`, `double`, ...) would be good. For ML these vectors can become huge, but on the other side don't require necessarily a `double`. Being able to define the sub-type (e.g. `float`) would be a way to choose between precision and space.

[2020-11-18 07:33] hendrikmuhs commented on #65147
:+1: I am concerned by fields in the `group_by` in a transform that runs in continuous mode. If I understand correctly a `terms` query on a runtime field would cause a full scan of the source.

@nik9000 is this correct?

However, we have the situation already and we do not ban certain configuration at the moment, but give a performance warning. The problem is similar to using a `script` in the `gr

[2020-11-18 08:02] #65108 closed

[2020-11-18 08:07] qfdk commented on #61453
@ywangd Thank you. I will send it to the forum

[2020-11-18 08:10] javanna commented on #53846
ping @swallez ;)

[2020-11-18 08:19] csoulios opened #65176 "[CI] Failure in TimeThrottleIntegrationTests.testTimeThrottle"
Failure in this build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=debian-10&&immutable/350/console

**Repro line**:

REPRODUCE WITH:
[code]

**Reproduces locally?**:

Reproduces locally

**Build scan**:

https://gradle-enterprise.elastic.co/s/3ljbnlzegok2e/tests/:x-pack:plugin:watcher:internalClusterTest/org.elasticsearch.xpack.watcher.actio

[2020-11-18 08:19] elasticmachine commented on #65176
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-18 08:52] pavlo-bdbq opened #65177 "Missed dependency for org.elasticsearch.test:logger-usage:7.10.0"
The build is failing because of missed dependency `org.elasticsearch.test:logger-usage:7.10.0`

[code]

[2020-11-18 09:18] #64907 closed

[2020-11-18 09:35] davidkyle commented on #65176
Another https://gradle-enterprise.elastic.co/s/4bc4jfl2uvtzs

Both `testTimeThrottle` and `testTimeThrottleDefault` failed in the above

[2020-11-18 09:46] ruflin commented on #64047
My assumption so far is that there are users that will run Agent with APM Server also in Standalone mode potentially before going to Kibana. But that assumption might be wrong. If users will always go to Kibana first, agree the `traces` part is not needed. One note here: The Agent / APM Server will not know if the setup was done or not so we might still need the `traces` template a measure to make

[2020-11-18 10:05] davidkyle opened #65183 "[CI] BasicWatcherTests testIndexWatchRegisterWatchBeforeTargetIndex failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/6jeri5ly52ake/console-log?task=:x-pack:plugin:watcher:internalClusterTest

**Repro line**:
[code]

**Reproduces locally?**:
No

**Applicable branches**:
master

**Failure history**:
Failed intake build

**Failure excerpt**:
[code]

[2020-11-18 10:06] jainankitk commented on #51806
@DaveCTurner - Are we still planning to include this in 8.0 release?

[2020-11-18 10:29] rudolf commented on #61656
Just summarising some earlier email discussions:

Since Kibana's indices have dynamic mappings these can't be created on startup. However, auto-created indices still sometimes occur due to user error which then creates a hard to recover from situation.

Kibana would like for the Elasticsearch Kibana plugin to disable auto-create for all it's system indices https://github.com/elastic/kibana/issues/

[2020-11-18 10:36] DaveCTurner commented on #51806
Yes, although https://github.com/elastic/elasticsearch/pull/53845 appears to have stalled.

[2020-11-18 10:52] easyice opened #65189 "add truncate support for a index"
when i want to change  type for some  filed in mapping, i should  reindex or bulk write to a new index，but，in my case，create an index can be costly，because：

1. i have more than 100 index need to reindex from remote every mouth
2. my cluster has 50 nodes and 10000 shards, when create a new index, the shards-stared RPC need  much more time for master node processing, the rpc has URGENT priority，He

[2020-11-18 11:09] #65183 closed

[2020-11-18 11:15] elasticmachine commented on #65189
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-18 11:16] DaveCTurner commented on #65189
@easyice what version are you using? In particular if it's before 7.4.0 then you are missing https://github.com/elastic/elasticsearch/pull/44433 which considerably speeds up the processing of shard-started events in high-shard-count clusters.

[2020-11-18 11:25] swallez commented on #53846
Thanks for the ping @javanna :-)

@Hakky54
Explicit support for `filter_path` is indeed not something we want to do, as the consequence is that every response field would become optional, which would impact both data structures (e.g. all `int` fields have to become boxed `Integers`) and higher level logic built on top of these structures that could then fail with `NullPointerException`.

That bein

[2020-11-18 11:32] ianadeem commented on #57693
Thanks for the reply - I think I got confused here. In our case, we are actually using Filebeat for data ingestion with a simple TCP input. Filebeat sends the event to Elasticsearch with an ingest pipeline. I thought that this would always result in an `_index` API request, but I just stumbled upon the concept of de-duplication in Beats. Will do some more research!

[2020-11-18 11:48] easyice commented on #65189
thanks for replay，my cluster is 6.8.0, in this version the one shard-started event  need over 50 seconds for processing done, the cluster has 50000 shards.

let me test how much fast  on 7.4.0, thanks a lot

[2020-11-18 12:11] jguay opened #65192 "[DOCS] make it clearer there is no forward compatibility for remote reindex in all doc versions"
2 doc enhancement issues :
1- https://github.com/elastic/elasticsearch/pull/60425 added useful note but unfortunately this was only added from [7.8](https://www.elastic.co/guide/en/elasticsearch/reference/7.8/reindex-upgrade-remote.html#reindex-upgrade-remote) documentation `Elasticsearch does not support forward compatibility across major versions. For example, you cannot reindex from a 7.x clust

[2020-11-18 12:11] elasticmachine commented on #65192
Pinging @elastic/es-docs (Team:Docs)

[2020-11-18 12:16] probakowski commented on #65176
Should be fixed by #65186

[2020-11-18 12:16] probakowski commented on #65117
Should be fixed by #65186

[2020-11-18 12:16] #65117 closed

[2020-11-18 12:17] probakowski commented on #65089
Should be fixed by #65186

[2020-11-18 12:17] #65089 closed

[2020-11-18 12:17] probakowski commented on #65086
Should be fixed by #65186

[2020-11-18 12:17] #65086 closed

[2020-11-18 12:17] probakowski commented on #65064
Should be fixed by #65186

[2020-11-18 12:17] probakowski commented on #65063
Should be fixed by #65186

[2020-11-18 12:18] #65063 closed

[2020-11-18 12:34] henningandersen commented on #65048
Had a PR build that failed with a similar failure: https://gradle-enterprise.elastic.co/s/reixtleclqb4u, but did not reproduce with:

[code]

[code]

[2020-11-18 12:38] probakowski commented on #65048
@henningandersen did you have latest master merged in? It should be fixed with in https://github.com/elastic/elasticsearch/pull/65186

[2020-11-18 12:54] benwtrent opened #65196 "MlJobSnapshotUpgradeIT.testSnapshotUpgrader failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/nscfpdycukcng
**Repro line**:

./gradlew ':x-pack:qa:rolling-upgrade:v7.6.1#oldClusterTest' --tests "org.elasticsearch.upgrades.MlJobSnapshotUpgradeIT.testSnapshotUpgrader" -Dtests.seed=641520299CC7DE26 -Dtests.security.manager=true -Dtests.locale=nn-NO -Dtests.timezone=Asia/Hebron -Dtests.distribution=default -Druntime.java=8 |  
 

**Reprodu

[2020-11-18 12:54] elasticmachine commented on #65196
Pinging @elastic/ml-core (:ml)

[2020-11-18 12:54] elasticmachine commented on #65113
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-18 12:56] martijnvg commented on #61046
@danhermann I think this can be closed now?

[2020-11-18 13:09] csoulios opened #65198 "[CI] MlJobSnapshotUpgradeIT.testSnapshotUpgrader failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/rzjr3udmqcvhi
https://gradle-enterprise.elastic.co/s/eurjstylqxcow
https://gradle-enterprise.elastic.co/s/2kyfcpyv7pxms

**Repro line**:

[code]

[code]
**Reproduces locally?**: **Yes**

**Applicable branches**: `7.x`

**Failure history**:

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:no

[2020-11-18 13:09] elasticmachine commented on #65198
Pinging @elastic/ml-core (:ml)

[2020-11-18 13:13] csoulios commented on #65198
Duplicate of #65196

[2020-11-18 13:15] danhermann commented on #61046
Completed by #61525, #63749, #64415, and #65017.

[2020-11-18 13:15] #61046 closed

[2020-11-18 13:19] henningandersen commented on #65048
The build failure occurred before your fix, thanks for looking into this.

[2020-11-18 13:51] bperalta opened #65201 "Intervals queries with use_field could match wrong documents"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.10.0 docker image

**Plugins installed**: []

**JVM version** (`java -version`): openjdk version "1.8.0_252"

**OS version** (`uname -a` if on a Unix-like system): Linux insight-bperalta.private.mesao.com 3.10.0-1127.19.1.el7.x86_64 #1 SMP Tue Aug 25 17:23:54 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including

[2020-11-18 14:03] benwtrent commented on #65196
closed by https://github.com/elastic/elasticsearch/pull/65197

[2020-11-18 14:03] #65196 closed

[2020-11-18 14:03] benwtrent commented on #65198
closed by https://github.com/elastic/elasticsearch/pull/65197

[2020-11-18 14:03] #65198 closed

[2020-11-18 14:09] davidkyle commented on #63888
Closed by #64570

[2020-11-18 14:09] #63888 closed

[2020-11-18 14:13] probakowski commented on #65048
Ok, I'll close it for now, please reopen if it happens again

[2020-11-18 14:13] #65048 closed

[2020-11-18 14:32] danhermann commented on #60718
The local parameters have been deprecated in 7.x and removed for 8.x.

[2020-11-18 14:32] #60718 closed

[2020-11-18 14:39] elasticmachine commented on #29887
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-18 14:58] jrodewig commented on #65192
Thanks for raising this @jguay.

Per our [backport policy](https://github.com/elastic/elasticsearch/tree/master/docs#backporting-doc-fixes), we typically only backport doc changes to the current ES version branch. That's why #60425 was only added to the 7.8+ docs. However, I made an exception in this case and backported the #60425 changes to all 7.x branches and 6.8.

Good catch! I opened #65207 t

[2020-11-18 15:00] #62642 closed

[2020-11-18 15:08] pgomulka opened #65208 "The behaviour of cluster settings API for changing log levels"
there is some confusion about how configuring logging levels via `cluster settings` api works.

as per [doc](https://www.elastic.co/guide/en/elasticsearch/reference/current/logging.html#configuring-logging-levels) we change logging level for a logger via
[code]

the current logging also trickle down the logging hierarchy and sets that level on all the loggers down the hierarchy. Meaning loggers `l

[2020-11-18 15:08] elasticmachine commented on #65208
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2020-11-18 15:09] jalvz commented on #64047
I can't see any use for standalone, my understanding was that we needed it because of this (sort of):

I can imagine a user copy-pasting an APM policy snippet (instead of going trough the UI), indexing some data, realize that nothing works, come back to the UI, install the APM integration:
Does it makes a difference whether there was (previous any ingestion) a template for traces with data streams

[2020-11-18 15:11] pgomulka commented on #65208
cc @ywangd and @jasontedor

[2020-11-18 15:12] javanna commented on #61298
Implemented by #64374

[2020-11-18 15:12] #61298 closed

[2020-11-18 15:28] #64669 closed

[2020-11-18 15:29] DaveCTurner opened #65213 "Enable TCP keepalives by default in Java REST clients"
Today the REST clients keep HTTP connections open for reuse by future requests. If a connection remains open for a long time then there's a risk that something between the client and Elasticsearch will silently drop the connection, and the client won't know about this until it tries to send another request. Often a request on such a dropped connection is not actively rejected and instead simply ti

[2020-11-18 15:29] elasticmachine commented on #65213
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-18 15:31] elasticmachine commented on #65213
Pinging @elastic/clients-team (Team:Clients)

[2020-11-18 15:36] DaveCTurner commented on #65213
Relates https://discuss.elastic.co/t/elasticsearch-resthighlevelclient-is-getting-timeout-exception-if-client-api-is-idle-for-some-time/255442

[2020-11-18 15:52] pgomulka commented on #65208
and it is more unclear when you "clear" the loggers with
`"logger._root": "INFO"`
and then "unset" it with `logger._root: null` because a `GET  _cluster/setting` would still show previously `trace` logger but not show that a root logger was set to `INFO` and "cleared" all other loggers
[code]

[2020-11-18 16:04] #30064 closed

[2020-11-18 16:04] Hakky54 commented on #53846
Yes we have measured it. For our test we used a dataset of 100.000 documents and max result windows of 10.000. The query included also highlights. See below the test results with the different configuration:
![Screenshot 2020-11-18 at 16 49 13](https://user-images.githubusercontent.com/16032204/99554229-3f27d700-29bf-11eb-8a97-ca2bbeb55e64.png)

[2020-11-18 16:10] davidkyle opened #65217 "[ML] ML Initialisation Service should detect non-retryable errors"
As an example `MlInitializationService` will create the `.ml-annotations-6` index and `.ml-annotations-write` alias if they does not exist but if an accidental write to the alias has created a concrete index this will error:
[code]

Unfortunately this message along with a stack trace will be logged on cluster change events creating a lot of log spam.

In this case the error is non-recoverable, the

[2020-11-18 16:10] elasticmachine commented on #65217
Pinging @elastic/ml-core (:ml)

[2020-11-18 16:22] swallez commented on #53846
@Hakky54 very interesting, thanks! So basically after gzipping Smile loses some of its size benefits, but still uses half of the memory compared to JSON.

[2020-11-18 16:42] joegallo commented on #65148
Yes, I think so. Essentially `GET .watcher-history-*/_count` is implicitly `?expand_wildcards=all` (or, well, maybe `hidden`) because of the leading dot at the beginning of the wildcard, right?

[2020-11-18 16:47] Hakky54 commented on #53846
@swallez yes thats correct! gzip versus (smile + gzip) saves only 30 kb in our case but it reduced the memory usage by half.

The downside of getting a big response in json format is that the size is also big, as you can see 15MB. We initially wanted to make it smaller by removing fields which we didn't needed such as `hits.hits._index` and that shaved off 5MB resulting in a response of 10MB. Comp

[2020-11-18 17:00] #65113 closed

[2020-11-18 17:18] pgomulka commented on #65208
we discussed this on core infra sync on 18th Nov.
points were raised that for some users this might be an intended behaviour to quickly override all settings for the hierarchy of loggers. User might not be aware that we set some loggers to `error` and this api allows him to enable everything to some more verbose levels. (example config/repository-s3/log4j2.properties)

However, this also has a dow

[2020-11-18 17:19] #65154 closed

[2020-11-18 17:28] original-brownbear commented on #65113
@chenchuangc thanks for reporting this. This wasn't documented properly indeed, I adjusted the documentation now via the linked PR.

[2020-11-18 17:29] #65192 closed

[2020-11-18 17:56] mark-vieira opened #65227 "Add test coverage for Elasticsearch distribution with quota aware filesystem plugin installed"
As a follow up to folding the quota aware filesystem plugin in the Elasticsearch code base (see #61145) we want to additionally ensure we have some test coverage in place to make sure that we don't observe funny behavior when this plugin is installed, as will be the case in all Cloud deployments.

The intent here is not to add any additional tests specific to validating plugin functionality, only

[2020-11-18 17:56] elasticmachine commented on #65227
Pinging @elastic/es-delivery (Team:Delivery)

[2020-11-18 18:00] joegallo opened #65228 "_mtermvectors is perhaps overly strict w.r.t. aliases and concrete indices"
Given an index alias with some concrete indices behind it, and a few docs:

[code]

An `_mget` that attempts to query through the alias will fail for just the specific document in question:

[code]

While in the same scenario, `_mtermvectors` fails the entire request:

[code]

/cc @DaveCTurner

[2020-11-18 18:01] elasticmachine commented on #65228
Pinging @elastic/es-search (Team:Search)

[2020-11-18 18:05] jaymode commented on #65148
It is essentially adding `hidden` as an expand wildcard option (not exactly how it is implemented but how it functions)

[2020-11-18 18:23] Sovietaced commented on #52836
Confirmed that this does work.

[code]

[2020-11-18 18:26] nik9000 opened #65231 "Can't run tests in Eclipse"
In #64841 started validating the codebases existed in our security policy. This broke running tests in Eclipse because we include a special policy for IntelliJ if we're not running in gradle. Eclipse doesn't run in gradle and doesn't have the IntelliJ policy.

[2020-11-18 18:26] elasticmachine commented on #65231
Pinging @elastic/es-delivery (Team:Delivery)

[2020-11-18 18:59] wasserman opened #65235 "Synced flush deprecation message issue in v7.9.2"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.9.2

**Plugins installed**: []
n/a
**JVM version** (`java -version`):
n/a
**OS version** (`uname -a` if on a Unix-like system):
n/a
**Description of the problem including expected versus actual behavior**:
On successful synced flush the deprecation warning improperly suggests `_/flush` instead of `/_flush`
The deprecation warning does no

[2020-11-18 19:00] jayaddison commented on #64836
Thanks @nik9000.  In the hope that it might save you and the team a bit of discussion time, I can add that there's a workaround for this use case that also neatly avoids the need for a two-query round-trip.

The application is using a [`terms` aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/search-aggregations-bucket-terms-aggregation.html) that produces a `doc_count` for

[2020-11-18 19:13] jayaddison commented on #64836
Closing this issue since it's resolved and workaround-able in a fairly reasonable manner.

[2020-11-18 19:13] #64836 closed

[2020-11-18 19:20] webmat commented on #57476
In ECS, fields that contain a DNS domain name can appear in many places:

* `url.domain` generally contains an FQDN, but can also contain an IP address
* `dns.question.name` contains a domain in CNAME lookups, but can can contain other things, depending on the DNS query type
* `[source|destination|client|server].domain` can contain either FQDNs or Active Directory domain names.

Each of these fiel

[2020-11-18 19:32] javanna commented on #61299
geo_point was added with #63164

[2020-11-18 19:37] polyfractal commented on #64836
Another sorta-hacky workaround is to wrap your agg tree with a match-all `filter` agg.  The filter agg will tell you the number of docs that flowed through the agg tree, and the interior aggs will partition the docs into their various buckets for normal analysis.

The filter agg will add a bit of a performance penalty since it's doing unnecessary work, but it should be pretty lightweight in the sc

[2020-11-18 19:57] joegallo opened #65238 "Cat endpoint for data streams"
Along similar lines as `_cat/aliases` and `_cat/indices`, we should have a `_cat/data_streams`.

Perhaps, something like:

[code]

Also, there's already `_cat/templates`, but there's no `_cat` API for ILM Policies (https://github.com/elastic/elasticsearch/issues/29690 has a checkbox for it). It probably makes sense to add that, too, perhaps as a followup.

/cc @dakrone @martijnvg

[2020-11-18 19:57] elasticmachine commented on #65238
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-18 20:00] #65231 closed

[2020-11-18 20:07] dnhatn commented on #65235
It seems that we not return deprecation messages unless the rest status is 2xx. Would someone from @elastic/es-core-infra take a look?

[2020-11-18 20:21] danhermann commented on #65238
I'd suggest including a count of backing indices. And maybe excluding the generation as it's of marginal value.

[2020-11-18 20:30] mark-vieira commented on #63697
Thanks @rjernst. Let's go with Ryan's suggesting @breskeby and consider only jar hell checks to be "external".

[2020-11-18 20:43] cuff-links opened #65240 "[Aggregations] Need a deprecation message for the percentiles parameter not allowing duplicate values"
## Summary
When we perform a query in 7.x with an aggregation, the percentiles parameter allows for an array of numbers. As per the docs, in 8.0, all of those values must be unique. Currently, we allow for duplicate values but we should be getting a deprecation warning. There is no warning.

## Source
https://www.elastic.co/guide/en/elasticsearch/reference/master/breaking-changes-8.0.html#breaking

[2020-11-18 20:43] elasticmachine commented on #65240
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-18 20:56] jayaddison commented on #64836
Thanks @polyfractal - making the pre-filtered doc count accessible at a single, fixed key path in the response is a nice property of that approach.

Do you know if the performance impact is a constant / scales with doc count / scales with aggregates / other?  When time allows I'll try to test it out.

[2020-11-18 21:21] joegallo commented on #65238
+1, but doesn't the generation tell you the number of backing indices?

[2020-11-18 21:29] danhermann commented on #65238
No, the generation has turned out to be just a counter for the number of times the rollover API has been called on the data stream. That will diverge from the number of backing indices as older backing indices are deleted or if the data stream migration API is used to create a new data stream from an alias pointing to more than one index.

[2020-11-18 22:09] nik9000 commented on #65163
Sorry this took so long! I've tracked down the issue to a test bug fix I did yesterday breaking other things. Yay. I've got to run a bunch of tests with `@Repeat(iterations=1000)` now.

[2020-11-18 23:30] joegallo commented on #65238
Ahhhh yes, of course. Thanks!

[2020-11-18 23:42] cuff-links opened #65242 "[REST API] Requests with unconsumed bodies should be rejected."
# Summary
This is a regression of https://github.com/elastic/elasticsearch/pull/37504.

# Environment
Kibana: 7.x (7.11)
Elasticsearch: 7.x (7.11)

# How To Test
Run the following command in console.
[code]
The above is no longer rejected.

Another example (which found this regression):
[code]
Which since https://github.com/elastic/elasticsearch/pull/37504 should not be allowed. (related: https://

[2020-11-18 23:42] elasticmachine commented on #65242
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2020-11-18 23:50] repl-chris opened #65244 "update_by_query/delete_by_query conflicts=ignore-and-do-it-anyway"
I recently discovered that _conflicts=proceed_ doesn't mean "ignore the conflict and proceed with the requested operation anyway"....it apparently means "skip any documents that have conflicts".  At the very least it would be great if the documentation was a little clearer on this point - I'm sure I have a ton of hidden bugs now because of this small misunderstanding. At any rate, it would be real

[2020-11-19 00:21] jakelandis commented on #65242
This might be due the description in https://github.com/elastic/elasticsearch/pull/44902 which states that content is consumed when we check the content length.

[2020-11-19 05:35] tvernum opened #65245 "Confusing steps in internode TLS setup docs"
In https://www.elastic.co/guide/en/elasticsearch/reference/current/configuring-tls.html we have:

It looks like this exact wording was introduced in https://github.com/elastic/elasticsearch/pull/63334 when we copied some wording from one section to another, but it doesn't quite land right here.

Steps (b) and (c) are saying more or less the same thing with different words. That can confuse the rea

[2020-11-19 05:35] elasticmachine commented on #65245
Pinging @elastic/es-security (Team:Security)

[2020-11-19 05:35] elasticmachine commented on #65245
Pinging @elastic/es-docs (Team:Docs)

[2020-11-19 07:24] BBQigniter commented on #60877
more audit filter options are definitely needed, please. for example I only need to know if someone deletes or updates something. also combinations of filters wouldn't be a bad idea, like "if a defined user name produced some defined action from a list of ips it should not be logged".

@wutingbupt you were writing about 500-600G - was that per day? and can you please perhaps post your log4j exampl

[2020-11-19 07:25] wushifeng opened #65246 "es7.8.0 run on docker with error: NoClassDefFoundError: org/elasticsearch/bootstrap/JNAKernel32Library"
**Elasticsearch version** (`bin/elasticsearch --version`):7.8.0

**Plugins installed**: [no]

**JVM version** (`java -version`):8

**OS version** (`uname -a` if on a Unix-like system): docker container

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
+ elasticsearch.yml
cluster.name: "docker-cluster"
network.host: 0.0.0.0
http.max_content_length:

[2020-11-19 07:50] synhershko opened #65247 "Some artifacts weren't released for 7.10.0"
While building a plugin for 7.10.0 , we get this error:

[code]

Indeed it seems like the logger-usage artifact wasn't released for 7.10.0 - https://jcenter.bintray.com/org/elasticsearch/test/logger-usage/ , also https://mvnrepository.com/artifact/org.elasticsearch.test/logger-usage

Can you please get that fixed so we can push our 7.10.0 compatible plugins out?

[2020-11-19 07:51] synhershko commented on #65247
Related: #65177

[2020-11-19 08:06] pgomulka commented on #65208
two issues I found that were asked due to the way it works now
https://github.com/elastic/elasticsearch/issues/53061 - user asks if this is a bug, we replied back that this was by design
https://github.com/elastic/elasticsearch/issues/47251 - user asks about security logger being enabled after the root logger is cleared (nulled) - fixed by a security team by implementing a marker

[2020-11-19 08:45] #63697 closed

[2020-11-19 09:24] ruflin commented on #64047
@jalvz Yes, in the accidental case users would have to delete the data because it would create indices instead of data streams. If we have the template, it is all data streams and just a rollover happens to use the more specific mappings.

[2020-11-19 09:35] DaveCTurner opened #65249 "Validate build hash of joining node"
Today our more intrepid users sometimes form a cluster from unreleased versions in order to test out new functionality. This is usually fine, and indeed is encouraged, but can lead to difficulties if they happen to use two different builds of the same numbered version since there is no guarantee of compatibility between such builds. Clusters like this can behave quite strangely and it can be trick

[2020-11-19 09:35] elasticmachine commented on #65249
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-19 09:58] wushifeng commented on #65246
**OS and docker verison**
$ cat /etc/lsb-release
DISTRIB_ID=Deepin
DISTRIB_RELEASE="15.11"
DISTRIB_DESCRIPTION="Deepin 15.11 "
DISTRIB_CODENAME=stable
$ uname -a
Linux wushifeng-PC 4.15.0-30deepin-generic #31 SMP Fri Nov 30 04:29:02 UTC 2018 x86_64 GNU/Linux
$ docker version
Client:
 Version:           18.09.6
 API version:       1.39
 Go version:        go1.10.8
 Git commit:        481bc77
 Built

[2020-11-19 10:05] BBQigniter commented on #60877
is it maybe somehow possible to write those logs to a named pipe via this log4j stuff? I then would write a python-script which filters out only the things we need.

[2020-11-19 10:07] probakowski commented on #65091
Should be fixed by #65186

[2020-11-19 10:08] probakowski commented on #65052
Should be fixed by #65186

[2020-11-19 10:08] #65052 closed

[2020-11-19 10:33] jalvz commented on #64047
Gotcha. Then I assume that in case of an accident, users will notice rather quickly, and having to delete data is not all that bad.

Still it would be better UX to not have to IMO (just install the integration and continue like nothing happened), so from my perspective a default template for traces is a nice to have and not a must.

[2020-11-19 10:42] ruflin commented on #64047
How will the user know which data to delete? Will we provide him some tooling to clean up? I personally think it is a less then ideal user experience especially because we could prevent it form happening. Worst case is if a user starts to use `traces-*-*` for something else so he can't delete the data but also not use APM ...

[2020-11-19 10:53] jalvz commented on #64047
I don't think so

Docs? :grimacing:

But I agree with you, not great UX. I don't think that the worse case you describe is very likely (albeit certainly possible), but I also think that this kind of accident can happen fairly often.

Personally I am favourable to move forward with this, but I don't know either the drawbacks of bundling another template in Elasticsearch.

[2020-11-19 11:03] albertzaharovits commented on #65208
I think that, given the users' expectations coming from log4j2 configuration, the behavior that less specific log level configs override more specific ones is counter intuitive.
Even leaving aside the log4j2 configuration baggage, being able to override more specific loggers by only setting the parent is useful, but it introduces the obverse problem where if you wish to set a very specific logger,

[2020-11-19 11:21] immavalls opened #65254 "Doc improvements for query rewrite parameter"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.x

**Plugins installed**: []

**JVM version** (`java -version`): N/A

**OS version** (`uname -a` if on a Unix-like system): N/A

**Description of the problem including expected versus actual behavior**:

In version `6.8` the fuzzy query builder sets the rewrite method to `constant_score` if the clause is in a filter context and the optio

[2020-11-19 11:21] elasticmachine commented on #65254
Pinging @elastic/es-docs (Team:Docs)

[2020-11-19 11:28] garanews commented on #64872
I confirm the similar behavior on docker for windows:
If logs and data folders are created by user before start docker-compose it works, otherwise if folders are not existing and start:
[code]

[2020-11-19 11:30] javanna commented on #64578
another failure: https://gradle-enterprise.elastic.co/s/qozvlo4u6oxse/console-log?task=:x-pack:qa:rolling-upgrade-basic:v7.11.0%23oldClusterTest

[2020-11-19 11:45] #64388 closed

[2020-11-19 13:15] sgrodzicki commented on #50032
@jbaiera what would be the ETA for this? We want to assess whether we will be able to make changes on our side for 7.11.

[2020-11-19 13:27] ywangd commented on #65208
Just wanted to add the original issue that sparked this discussion. During recent BugPool meeting, a case was reported about ActiveDirectory realm configuration. As a standard approach, trace logging was suggested, i.e.:
[code]
However, because the user had `logger._root` set to `INFO`, the above configuration ended up doing nothing. This was confusing and caused extra back and forth.

When workin

[2020-11-19 13:36] simitt commented on #64047
If we ignore the standalone case for a moment (which I believe we don't need to optimize for in APM), can we build the fleet - agent input creation process in a way that ensures the templates in ES are set up before the APM Server is actually started? This way we wouldn't need any shipped templates.

[2020-11-19 14:52] cbuescher commented on #63690
The current WIP is out at #64651, so I want to summarize the currently propsed implementation details for better visibility here:

# API
After some indivudual discussion I think we should opt for _not_ returning unmapped fields by default, but instead rely on a per-pattern flag `include_unmapped` that when set to `true` switches on the new behaviour of returning unmapped fields. This forces users

[2020-11-19 15:07] elasticmachine commented on #65247
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2020-11-19 15:29] dakrone commented on #64047
This would be my preference, because it's more correct in the event that any ES template installation is disabled.

[2020-11-19 15:36] hendrikmuhs opened #65267 "[CI] SegmentsStatsTests::testFileExtensionDescriptions failure"
might be related to #62019

**Build scan**: https://gradle-enterprise.elastic.co/s/xmxbz7pi5vd3c

**Repro line**:
[code]

**Reproduces locally?**: yes

**Applicable branches**: 7.x, master

**Failure excerpt**:

[code]

[2020-11-19 15:36] elasticmachine commented on #65267
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-19 15:38] akamachi95 opened #65268 "The painless script goes wrong in Chinese"
I just named a field in Chinese, And something goes wrong.
`if (ctx._source.品牌==“三菱”) {ctx._source.time='1';}else{ctx._source.time='0';}`
品牌 is Brand in Chinese，and the full trace is
[code]
But when I rename it to brand， it works....

[2020-11-19 15:44] akamachi95 commented on #65268
Further more, this also happened to Japanese...

[2020-11-19 16:23] jalvz commented on #64047
I would prefer it to, so far I've been assuming it is not possible - it would require a fairly major re-achitecture of Elastic Agent to deal with packages, which I believe is intentionally out of scope (@ruflin correct me if wrong).

However, I just learned about https://github.com/elastic/elasticsearch/pull/61525

IIUC that means we can migrate legacy indices to data streams without data loss?

[2020-11-19 16:36] ddrager commented on #57018
Ran into this issue, more hosts are providing servers with /tmp as noexec. Updating to exec or changing tmpdir fixed it.

[2020-11-19 17:04] #65163 closed

[2020-11-19 17:17] #49660 closed

[2020-11-19 17:45] dakrone commented on #64047
That is only possible if an alias is set up, which wouldn't be if the template were not installed.

I guess I'm a little lost on how Elastic Agent deals with other packages that don't have their infrastructure correctly set up prior to the agent running, wouldn't this become a major issue as the barebones ES templates diverge from the Fleet ones? Shouldn't Fleet always ensure that the scaffolding

[2020-11-19 17:46] #38646 closed

[2020-11-19 17:55] #65157 closed

[2020-11-19 18:40] legrego opened #65277 "Provide unique user identifier in authentication response"
When a single authentication realm is configured in Elasticsearch, we can be _reasonably_ certain that the `username` will uniquely identify a specific user.

When multiple realms are configured, it's possible for different users in different realms to have a matching `username`.

While this is likely a bit of an edge case for most deployments, it's something we'd like to solve for. @elastic/kiban

[2020-11-19 18:40] elasticmachine commented on #65277
Pinging @elastic/es-security (Team:Security)

[2020-11-19 19:19] Thlamz commented on #58136
I want to start working on this issue! Please tell me if there is already someone else working on it, I expect to open a PR soon

[2020-11-19 19:23] jaymode commented on #52931
Looks like this still fails in CI. I just had the following intake build fail:

Build scan: https://gradle-enterprise.elastic.co/s/2st3zfjq7zm26

[code]

Reproduce line:

[code]

Did not reproduce locally.

[2020-11-19 19:35] smanjunatha-aie opened #65283 "Range Aggregation on float values not giving proper results"
**Elasticsearch version** (`bin/elasticsearch --version`):7.6.0

**Plugins installed**: [NA]

**JVM version** (`java -version`): 1.8.0_271

**OS version** (`uname -a` if on a Unix-like system): Windows 10

**Description of the problem including expected versus actual behavior**:
The Range aggregation is not returning the proper count in the buckets. This is happening only for float values.
We have

[2020-11-19 20:31] #53005 closed

[2020-11-19 21:03] polyfractal commented on #65283
This is unfortunately an issue with floating point rounding error inherent to IEEE-754 floats :(

For example, the value `2.1` is actually stored as `2.099999904632568359375` in an IEEE-754 float, because it can't represent `2.1` exactly.  And that means it matches the range because 2.09999.... is less than 2.1.

There's an interactive calculator for floats which you can play with here: https://ww

[2020-11-19 21:03] #65283 closed

[2020-11-19 21:57] elasticmachine commented on #65115
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-19 22:31] mark-vieira commented on #65064
Got another one today: https://gradle-enterprise.elastic.co/s/4zufcj67tofxg/tests/:x-pack:plugin:watcher:internalClusterTest/org.elasticsearch.xpack.watcher.history.HistoryActionConditionTests/testActionCondition#1

[2020-11-19 22:38] epicvinny commented on #44070
It is impracticable to use ILM at scale :(

[2020-11-20 02:17] zj619 opened #65293 "elasticsearch bool query should highlight does not match"
**Elasticsearch version** (`bin/elasticsearch --version`):5.6.10

**Plugins installed**: []ik_smart

**JVM version** (`java -version`):1.8

**OS version** (`uname -a` if on a Unix-like system):centos7

**Description of the problem including expected versus actual behavior**:
first search:
GET /xxx/_search
{
  "_source": {
    "includes": [
      "档案_邮箱"
    ]
  },
  "from": 0,
  "size": 10000,
  "

[2020-11-20 03:36] axw commented on #64047
This is how things should work when running APM Server under Elastic Agent in Fleet mode. This will be the default for APM Server.

The problems described above may occur when running APM Server under Elastic Agent in standalone mode. If users do this they'll be expected to perform more manual setup.

It seems to me that the primary (if not only) benefit of providing a base template would be to en

[2020-11-20 03:56] mitalawachat commented on #64808
We are not using scroll api.

[2020-11-20 04:42] Sebmaster commented on #64808
I think when #41555 changed the default for min_children, even queries which didn't use `min_children` got de-optimized. Specifying `min_children: 0` (thereby triggering the deprecation warning on purpose) seems to help in our case. I think it triggers the optimization again until the optimization gets merged when ES updates to Lucene 8.8.

[2020-11-20 07:25] jalvz commented on #64047
Closing then, thanks all.

[2020-11-20 07:25] #64047 closed

[2020-11-20 07:46] joshdevins commented on #37867
I'd add that things like Rank Evaluation API calls, which internally make a load of parallel queries, should also have low priority. I don't know if there is a class of "internal but non system index" queries that would fall into this category as well.

[2020-11-20 07:58] warriorSL2016 commented on #31382
I try to build it on my pc, I found that first you download and unzip it , then attention that never modify any files and execute the command './gradlew idea' in the bash , and it works.

[2020-11-20 08:06] ruflin commented on #64047
@axw I like your idea around having only permissions to create data-streams and not indices. Should we follow up on this in a separate issue?

[2020-11-20 08:14] axw commented on #64047
I'm unsure if we'll really need this functionality, so unless others want it I'll wait before opening a feature request.

[2020-11-20 08:46] costin opened #65300 "CI: centos-7 vagrant build failing due to cryptographic failure"
Cause:

[code]

Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-vagrant-matrix/OS=centos-7,nodes=metal/26/console
Build Scans: https://gradle-enterprise.elastic.co/s/ogiubfcoqmcim

To find the error one needs to scroll all the way to the bottom; the rest of the error messages are somewhat misleading - initially I thought it was a disk problem until bumping into

[2020-11-20 08:46] elasticmachine commented on #65300
Pinging @elastic/es-delivery (Team:Delivery)

[2020-11-20 09:11] costin opened #65301 "CI: LongRareTerms failing with NPE"
**Build scan**:
https://gradle-enterprise.elastic.co/s/2ilieh4lpxote

**Repro line**:

/gradlew ':server:test' --tests "org.elasticsearch.search.aggregations.bucket.terms.LongRareTermsTests.testReduceRandom" -Dtests.seed=4439B24ABA377C7F -Dtests.security.manager=true -Dtests.locale=cs -Dtests.timezone=Australia/Lindeman -Druntime.java=8

REPRODUCE WITH: ./gradlew ':server:test' --tests "org.elasti

[2020-11-20 09:11] elasticmachine commented on #65301
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-20 09:13] stefanobranco commented on #65247
I dont assume anyone has found an easy workaround for this in the meantime? This pretty much blocks us from using 7.10 at all.

[2020-11-20 09:14] costin opened #65302 "CI: SearchableSnapshotsIntegTests testCreateAndRestoreSearchableSnapshot failing"
Might be related to https://github.com/elastic/elasticsearch/issues/63586

**Build scan**:
https://gradle-enterprise.elastic.co/s/bmttlqvqd7ris

**Repro line**:
[code]

**Reproduces locally?**:

No.

**Applicable branches**:
Master

**Failure excerpt**:
[code]

[2020-11-20 09:14] elasticmachine commented on #65302
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-20 10:00] suman616 opened #65305 "Need to remove two Node out of three node Elasticsearch cluster"
Hi Team,

Need guidelines for how to remove two Nodes out of three Node in Elastic Cluster without data loss

we have install Elasticsearch in single node but it has connected three node which is early install still it's taking part of current elastic environment.

Have checked bring down two node's which is not of installation , we can see their data loss in my application it's  around 40% data

[2020-11-20 10:06] yrodiere opened #65306 ""exists" query on geo_point property with doc_values=false incorrectly matches documents with a null value"
**Elasticsearch version** (`bin/elasticsearch --version`): docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.0

**Plugins installed**: []

**JVM version** (`java -version`): N/A (using container)

**OS version** (`uname -a` if on a Unix-like system): N/A (using container)

**Description of the problem including expected versus actual behavior**:

The `exists` query does not behave properly fo

[2020-11-20 10:08] DaveCTurner commented on #65305
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2020-11-20 10:08] #65305 closed

[2020-11-20 10:10] elasticmachine commented on #65306
Pinging @elastic/es-search (Team:Search)

[2020-11-20 10:10] elasticmachine commented on #65293
Pinging @elastic/es-search (Team:Search)

[2020-11-20 10:11] jimczi commented on #65201
This is expected, the word delimiter graph should not be used in an index analyzer. Moreover the `use_field` option expects that the two fields (the original and the alias one) have the same tokenization, they can have different filters like one that stems and the other that doesn't but any filter that creates different paths should be avoided.
I hope you don't mind if I close this issue but we re

[2020-11-20 10:11] #65201 closed

[2020-11-20 10:11] elasticmachine commented on #64464
Pinging @elastic/es-search (Team:Search)

[2020-11-20 10:23] jimczi commented on #64464
The phrase suggester uses `text` fields directly so it cannot use the `weight` that is used only by the `completion` field internally. If you want to use these weights, you need to use the `completion` type to perform the suggestion.
We reserve github for verified bugs and feature requests so I hope that you don't mind if I close this issue. If you have further questions on the `completion` or `ph

[2020-11-20 10:23] #64464 closed

[2020-11-20 10:24] romseygeek commented on #65293
Hi @zj619 , this doesn't reproduce in 7.10 so the bug has likely been fixed sometime since 5.6.10.  We're not backporting fixes to the 5.x line any more, so we'd recommend that you upgrade.

[2020-11-20 10:24] #65293 closed

[2020-11-20 10:29] romseygeek commented on #65268
Hi @akamachi95, accessing fields using dot notation will only work if the field name can also be used as a painless identifier (see https://www.elastic.co/guide/en/elasticsearch/painless/master/painless-identifiers.html).  In your case, you should be able to reference the field like this: `ctx._source.["品牌"]`

[2020-11-20 10:29] #65268 closed

[2020-11-20 10:32] suman616 commented on #65305
@ DaveCTurner
yeah sure you can close this issue .. Thanks for your assistance

[2020-11-20 10:33] jimczi commented on #64283
@vinitpatni I hope you don't mind that I close this issue as duplicate of #55303.
Big boolean queries with lots of nested clauses can cause a stack overflow at different level even on newer versions.
Don't hesitate to share the problematic query if you find it, if it's different than #55303, we'll reopen this issue.

[2020-11-20 10:33] #64283 closed

[2020-11-20 10:36] elasticmachine commented on #65246
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2020-11-20 10:37] elasticmachine commented on #65244
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-20 11:01] nik9000 commented on #65301
This is me. I'll have a look in a few hours. Feel free to mute if it fails
a bunch.

On Fri, Nov 20, 2020, 04:11 Elastic Machine <notifications@github.com>
wrote:

[2020-11-20 11:10] romseygeek commented on #65175
I think it's likely you're running into issues with timeouts and scroll, similar to https://github.com/elastic/elasticsearch/issues/16555 - the exists query in 5.* includes a wildcard expansion which can be slow.  These problems have been solved in later versions of ES (scrolls are more resilient to timeouts, and the exists query has a different implementation as well) so I would suggest trying to

[2020-11-20 11:10] #65175 closed

[2020-11-20 11:13] cbuescher commented on #65254
Looking at the code a bit more, the `prefix`, `wildcard` and `regex` queries seem to default to `constant_score` rewrites in absence of a specific `rewrite` method, while `fuzzy` and using the fuzzy option in `query_string` seem to use `top_terms_blended_freqs_N` via [Lucenes FuzzyQuery ctor](https://github.com/apache/lucene-solr/blob/branch_8_7/lucene/core/src/java/org/apache/lucene/search/FuzzyQ

[2020-11-20 11:13] elasticmachine commented on #65254
Pinging @elastic/es-search (Team:Search)

[2020-11-20 11:14] elasticmachine commented on #65036
Pinging @elastic/es-ql (Team:QL)

[2020-11-20 11:27] elasticmachine commented on #65032
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-20 11:27] romseygeek commented on #65032
Thanks for opening the issue @like-inspur.  This should probably just be an INFO level output rather than a warning, given that you don't particularly need to do anything about it.

[2020-11-20 11:28] elasticmachine commented on #65031
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-20 11:56] ruflin commented on #64400
I opened https://github.com/elastic/elasticsearch/pull/64978 to have a short term solution that just matches on naming conventions.

[2020-11-20 13:39] ywangd commented on #65277
Have an unique identifier for each user is tricky and probably not well defined. For `file` and `native` realms, it is more straightforward because there can only be a single one for each of them. So effectively, the combination of username and realm_type can be considered as the unique ID regardless of the realm_name. There are edge cases when an user is deleted from native realm and then added b

[2020-11-20 14:05] scibi opened #65315 "Metricbeat errors due to missing `manage` permission for `remote_monitoring_user` user"
This bug is similar to #63203.

Metricbeat configured with user `remote_monitoring_user` fails on fresh Elasticsearch 7.10 install with security enabled with error:

[code]

Here is the request:

[code]

And response:

[code]

Creating another user with roles `remote_monitoring_agent` and `remote_monitoring_collector` and temporary role with `manage` permission for index `metricbeat-*` solves the

[2020-11-20 14:32] elasticmachine commented on #65315
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-20 14:43] #57481 closed

[2020-11-20 14:47] joegallo opened #65318 "Rework SLM to avoid concurrent snapshots logging-and-skipping"
Related to some of the discussion that came out of https://github.com/elastic/elasticsearch/issues/64035.

Imagine, for example, the case of a cluster that has an SLM policy configured to take snapshots every 30 minutes, but where those snapshots actually take 35 minutes to perform. Currently, this case will result in overlapping snapshots being scheduled (less of an issue now that snapshots can b

[2020-11-20 14:47] elasticmachine commented on #65318
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-20 14:48] hendrikmuhs commented on #25861
I think this is a good initiative. However I am concerned about the breaking change when a field is mapped as integer type but `_source` contains a floating point part. Users might rely on this feature, a re-index would suddenly fail.

I think such a change should be done with at least 2 major release cycles: 1 to flip the default, so its strict by default and 2 to remove it completely.

I am not

[2020-11-20 15:01] cbuescher commented on #65228
Looking at TransportMultiGetAction where we try/catch the block where we resolve the concrete index, we should probably do the same for multi termvectors. Working on a fix.

[2020-11-20 15:07] joegallo commented on #64035
One point we brought up in discussion here: imagine a user who specifies `"interval": "1d"`, but whose snapshots take 8 hours to complete. They might be surprised that `"interval": "1d"` doesn't mean "schedule a snapshot every day" but that it instead means "allow a day to pass between the end of one 8 hour snapshot and the start of the next". In this scenario, instead of getting a daily snapshot,

[2020-11-20 15:12] jimczi opened #65319 "search_as_you_type ignores analyzer in 7.10"
The bug was found [here](https://discuss.elastic.co/t/es-7-10-ignores-analyzer-in-as-you-type-fields/256113)
and can be reproduced with:

[code]

The `edge_ngram` are not produced for the `search_as_you_type` field so the query doesn't match. I tested in 7.11-SNAPSHOT and it works as expected so it seems that it was inadvertently fixed. Although I am opening this issue to find the fix that we appl

[2020-11-20 15:12] elasticmachine commented on #65319
Pinging @elastic/es-search (Team:Search)

[2020-11-20 15:16] costin opened #65320 "CI: WatcherRestartIT.testWatcherRestart"
The rolling-upgrades to 7.10 are failing due to a watcher test.
Might be related to https://github.com/elastic/elasticsearch/pull/63437

**Build scan**:
https://gradle-enterprise.elastic.co/s/zzfql5gpdpor6
https://gradle-enterprise.elastic.co/s/vkz3pnpybwg5o
https://gradle-enterprise.elastic.co/s/euctqqukee7s2

**Repro line**:
[code]

**Reproduces locally?**:

Wasn't able to due to some snafu with

[2020-11-20 15:16] elasticmachine commented on #65320
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-20 15:18] costin commented on #64578
Occurring inside the multi-job matrix: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=fedora-32&&immutable/355/console

[7.10.1] https://gradle-enterprise.elastic.co/s/vqnxk4bcaznge
[6.8.14] https://gradle-enterprise.elastic.co/s/eut424xpifh42
[7.10.1] https://gradle-enterprise.elastic.co/s/u2sjv56zlk2kq
[6.8.14] https://gradle-enterprise.elastic.c

[2020-11-20 15:44] nik9000 commented on #65301
This one looks to be caused by #64454. I've pinged @swallez to see if he'd like to take it.

[2020-11-20 15:59] swallez commented on #65301
@nik9000 looking at it!

[2020-11-20 16:27] swallez commented on #65301
@nik9000

The tests fails only with this seed. Debugging to understand why `filter` is `null` and causes this exception, I found that in `InternalMappedRareTerms` the `filter` variable ends up being `null` if all aggregations have `isMapped() == false`, which turns out to be the case with this seed.

https://github.com/elastic/elasticsearch/blob/f7e840b012f6778cadb4d9e52fdbe44374c21ac5/server/src/

[2020-11-20 16:29] psanz-estc opened #65322 "SQL query not properly applying some operators"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.9.1

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:
SQL query is properly translating all the operators when the query combine several conditions

**Steps to reproduce**:

It can be verified by

[2020-11-20 16:29] elasticmachine commented on #65322
Pinging @elastic/es-ql (Team:QL)

[2020-11-20 16:52] palesz commented on #65322
Thanks for the awesome bug report, taking a look.

[2020-11-20 17:09] lockewritesdocs commented on #65245
These instructions are really inadequate. Users need to generate HTTP certs for both Elasticsearch and Kibana, and we glaze over so many of those details. I'm rectifying those omissions in the rewritten security docs, but we should at least patch these instructions until then. I'll open a PR with changes to provide greater clarity for now.

[2020-11-20 17:24] palesz commented on #65322
Good news in the bad news is that I can reproduce this problem with a unit test. Taking a deeper dive.

Unit test in the `QueryTranslator` on the `master` branch:

    public void testBug() {
        PhysicalPlan p = optimizeAndPlan("SELECT keyword FROM test WHERE date >= '2010-06-18T22:58:43.000Z' AND keyword <> '00882F6' ORDER BY keyword LIMIT 3");
        assertEquals(EsQueryExec.class, p.getCl

[2020-11-20 17:25] yuliacech opened #65323 "Add hidden data streams to stats endpoint"
Hidden data streams were added to getDataStreams endpoint via [#63987](https://github.com/elastic/elasticsearch/pull/63987) and now need to be added to stats endpoint (`_data_stream/*/_stats`) too. This will unblock work on adding data streams to Index Management UI ([#83709](https://github.com/elastic/kibana/issues/83709)).

[2020-11-20 17:29] palesz commented on #65322
Seems the problem is somewhere here:

[code]

[2020-11-20 17:43] mayya-sharipova commented on #25861
We've discussed this issue today in the Search meeting, and decided for now to postpone implementation of this change. One reason is that we still don't have an appealing way to index numbers with floating point as integers. Ingest pipeline can be complex for some use cases.
Another reason is runtime fields. As we change the behaviour of `coerce` option, it may be break runtime fields that were re

[2020-11-20 17:45] elasticmachine commented on #65246
Pinging @elastic/es-delivery (Team:Delivery)

[2020-11-20 17:46] rjernst commented on #65246
Given that class is in the main jar, was there another error in the log indicating the class failed to initialize?

[2020-11-20 17:48] palesz commented on #65322
The first issue is that `OptimizerRules$CombineBinaryComparisons` tries to combine the `test.date{f}#10 >= 2010-06-18T22:58:43.000Z[KEYWORD]` and `test.keyword{f}#9 != 00882F6[KEYWORD]` that are both BinaryComparisons, but for different fields (left side is NOT the same as the right field). But the code does not check it. It sees that the right side of the negation is a keyword (string) that lexic

[2020-11-20 17:48] elasticmachine commented on #65306
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-20 17:54] rjernst commented on #65247
Apologies @synhershko , we have been working on relaxing the requirements placed on plugin authors which currently must follow our coding guidelines. This is another case where the logger usage is questionable as a requirement for plugin authors, and we removed it thinking we had eradicated it from external use, but sadly, we were wrong.

Given the above workaround should work (please confirm if i

[2020-11-20 17:56] rjernst commented on #65177
Closing in favor of https://github.com/elastic/elasticsearch/issues/65247, please see the workaround there to disable the logger usage check.

[2020-11-20 17:56] #65177 closed

[2020-11-20 18:16] nik9000 commented on #65301
Closed by 956ae93fdb9db47c4a55bb201eddae0f05bbd2d4 and 56605e4d9a7ca8423a85d9333ce12a4723c35d9e, both backports.

[2020-11-20 18:16] #65301 closed

[2020-11-20 18:18] magicwerk commented on #65322
Can you think of a workaround by writing the query in a different way to get a correct result?
Or is the only option to wait for a bug fix?

[2020-11-20 18:22] palesz commented on #65322
For this particular query (and where you have `!=` in the query) using `field NOT IN ('<value>')` instead of `field != '<value>'` is a good workaround. At the moment I am not sure about all the possible where clauses and conjunctions that might be impacted though.

[2020-11-20 19:50] drunkirishcoder opened #65330 "int based count for histogram type is too limiting. should support long"
**Elasticsearch version** (`bin/elasticsearch --version`):

7.9.2

**Description of the problem including expected versus actual behavior**:

When using the `histogram` type, the counts array is defined as `int`. If you have counts exceed the size of a signed int, you will not be able to use the type.

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem,
in

[2020-11-20 20:03] arielzach commented on #64427
The same problem just happened to us with ES 6.8:

![image](https://user-images.githubusercontent.com/64101789/99844573-0cfaae80-2b52-11eb-8f28-bf99960644c1.png)
![image](https://user-images.githubusercontent.com/64101789/99844598-15eb8000-2b52-11eb-8697-885cf2889007.png)

[2020-11-20 20:15] mayya-sharipova commented on #49859
[Linear function](https://github.com/apache/lucene-solr/pull/2051)  for feature field has been merged to Lucene.
We will expose it in elasticsearch with the next Lucene upgrade.

[2020-11-20 21:53] n0othing opened #65333 "Dotted named field values can merge with non-dotted fields of the same name"
**Elasticsearch version** (`bin/elasticsearch --version`): `version: 7.10.0, Build: default/tar/51e9d6f22758d0374a0f3f5c6e8f3a7997850f96/2020-11-09T21:30:33.964949Z, JVM: 15.0.1`

**Plugins installed**: []

**JVM version** (`java -version`): `JVM: 15.0.1` (bundled)

**OS version** (`uname -a` if on a Unix-like system): macOS 10.15.7

**Description of the problem including expected versus actual be

[2020-11-20 21:53] elasticmachine commented on #65333
Pinging @elastic/es-search (Team:Search)

[2020-11-20 22:12] #52857 closed

[2020-11-20 22:46] jtibshirani commented on #65333
Thanks @n0othing for raising this, it's a great catch. In addition to the requirements you listed, it seems this only happens if the dynamic field value is an array.

I think this bug has existed for a long time, I tested on 6.8 and saw the same issue. Here's the piece of code that seems to be off: [DocumentParser.java#L573](https://github.com/elastic/elasticsearch/blob/7.10/server/src/main/java/o

[2020-11-20 23:01] Chealer commented on #17810
For the sequel to this episode, see ticket #32661. In short, instances with data left at the old path will fail to start when upgraded to 6.7+.

[2020-11-20 23:15] elasticmachine commented on #65323
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-20 23:16] elasticmachine commented on #65330
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-20 23:17] elasticmachine commented on #65330
Pinging @elastic/es-search (Team:Search)

[2020-11-20 23:45] xiankaing commented on #24530
I doubt that it would be possible to avoid all scenarios of need exponential backoff on retries.
Perhaps something like a transient high load, or some temporary power disruption, or semi-long running query or something locking some part of memory or all manner of things can cause transient inability to allocate shards.

If we're bothering to retry shard allocation anyway, why not do it right and h

[2020-11-21 00:05] jtibshirani opened #65335 "Make it easier to define enum settings"
We have a few settings that accept a fixed set of string values, like `index.routing.allocation.enable` and `index.translog.durability`. It could be nice to provide a built-in way of creating these 'enum settings', in line with other factory methods we have like `boolSetting`. This would create a standard, robust way to validate + parse these settings, instead of relying on 'switch' statements as

[2020-11-21 00:05] elasticmachine commented on #65335
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2020-11-21 00:55] jtibshirani opened #65336 "JdbcCsvSpecIT#testCurrentDateFilter can fail with assertion error"
**Build scan**: https://gradle-enterprise.elastic.co/s/4sbg4vwwi3wxc

**Repro line**:

[code]

**Reproduces locally?**: yes

**Applicable branches**: 7.10, 7.x

**Failure history**: seems like it started failing earlier today. The first failure was at 12:05 UTC.

**Failure excerpt**:

[code]

[2020-11-21 00:56] elasticmachine commented on #65336
Pinging @elastic/es-ql (Team:QL)

[2020-11-21 01:00] jtibshirani commented on #65336
I'm not sure how to mute the test in a targeted way -- perhaps someone from @elastic/es-ql could take a look and mute if it's not immediately fixable?

[2020-11-21 01:17] palesz commented on #65336
I can take a look in about an hour or two.

On Fri, Nov 20, 2020, 8:00 PM Julie Tibshirani <notifications@github.com>
wrote:

[2020-11-21 01:33] axw commented on #58702
https://github.com/elastic/kibana/issues/80622 is a case where this has bitten a user.

In APM we have a base mapping which disables an object (`http.response.headers`) representing HTTP response headers. In this case, the user wanted to index one specific header (`http.response.headers.Something`), and they used a feature of Beats (append_fields, e.g. https://discuss.elastic.co/t/searching-for-a-

[2020-11-21 02:06] gwbrown opened #65337 "Elasticsearch fails to start if a Watcher `default_account` has been set but the account no longer exists"
**Elasticsearch version** (`bin/elasticsearch --version`): Observed on 7.10.0 and 7.6.2, bug is likely much older

**Plugins installed**: [xpack]

**JVM version** (`java -version`): built-in

**OS version** (`uname -a` if on a Unix-like system): MacOS, ECE

**Steps to reproduce**:

Using a single-node cluster:

 1. Start an Elasticsearch node.
 2. Configure an email account for Watcher using the C

[2020-11-21 02:07] elasticmachine commented on #65337
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-21 14:05] fzyzcjy commented on #61047
Hi I still see this issue :(

[code]

but when curl

[code]

[2020-11-22 07:34] calm4wei commented on #64102
Thank you for providing solutions related to merge and indexing current limiting, which is very helpful to us.
Indexing has not been found to cause 100% of the cpu usage, but the large number of indexing we encountered often produces frequent jvm gc and port no response.
A large number of queries will cause the CPU usage to continue to be maintained at 100%, such as termes queries, range queries,

[2020-11-22 08:21] calm4wei commented on #64102
@henningandersen

I don't mean to directly reject the request when the request delay is high. I think it is necessary for the request that cannot be processed in time to be placed in the request queue.
A situation I encountered:
The ES cluster has 10 nodes, the machine is configured with RAM 128G/CPU 20*2cores, and each node is configured with 30G heap memory
When the write request reaches 10w/s a

[2020-11-22 14:48] synapticiel commented on #17221
Hi @miguelxpn
What are exactly the appropriate security policies you added to make it possible to call tesseract ?
From a custom code, i'm able to run Tika with Tesseract, but non from ingest-attachment code
I did all possible config, but always getting this error when running Unit Tests

`Caused by: org.apache.tika.exception.TikaException: Tesseract is not available. Please set the OCR_STRATEGY t

[2020-11-22 19:48] original-brownbear commented on #65336
This also reproduces on master via:

[code]

[2020-11-22 20:12] original-brownbear commented on #65318
Thanks for the ping @joegallo

It seems to me that the fact that this is a potential issue is just a result of sub-optimal performance of the snapshot logic. See #61870 for details, I think should just make sure that the second snapshot is effectively free for those shards for which the first snapshot hasn't yet started which would completely remove any issue with snapshots "pilling up" because th

[2020-11-22 21:00] original-brownbear commented on #65302
I can reproduce this locally at a low(ish) rate with:

[code]

[2020-11-22 21:37] original-brownbear commented on #65336
Muted in master, 7.x and 7.10 now

[2020-11-22 22:13] original-brownbear commented on #65302
There's a number of funny races in the functionality around the pre-fetching here that can be reproduced via applying the following diff and running the failling test:

[code]

leading to failures via:

[code]

if you put that wait after the prefetching you get the test failure that we see here (or some variation of it):

[code]

and last but not least you might also get the following if you put t

[2020-11-22 23:57] jugsofbeer commented on #47881
I've requested this functionality before,  we would definitely use it  on a very large dataset.

Almost would like the ability to run custom actions in a phase if the  ILM app functionality doesnt immediately cater to something.

[2020-11-23 03:50] wushifeng commented on #65246
Not see any other error information.

The class is in jar, the reason is os is https://www.deepin.org/zh/download/

[2020-11-23 04:03] wushifeng opened #65344 "gradlew run --debug-jvm fail -7.8.0"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.8.0
https://github.com/elastic/elasticsearch/releases/tag/v7.8.0

**Plugins installed**: []
no

**JVM version** (`java -version`):
jdk-14.0.1

**OS version** (`uname -a` if on a Unix-like system):
centos 7.4

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
1 download and unzip https://gi

[2020-11-23 04:37] xeraa commented on #61047
This looks like a different issue. If it persists for you, please open an issue in https://github.com/elastic/cloud-on-k8s/issues

PS: This does not reproduce for me:

[code]

[2020-11-23 06:35] fzyzcjy commented on #61047
@xeraa The issue disappeared finally. Thanks for the reply!

[2020-11-23 08:07] synhershko commented on #65247
Indeed @rjernst that seems to have fixed it. Thank you so much for your responsiveness and help, again.

[2020-11-23 08:07] #65247 closed

[2020-11-23 08:31] jimczi commented on #64837
We discussed internally and while there are things that we could do internally to optimize `exists` query for object fields, the workaround to speed up the request is to pick a leaf sub-field that appears in all documents. It's also unclear why you're seeing a regression, is it because you have a lot of sub-fields ?

[2020-11-23 08:34] jimczi commented on #64808
Thanks @Sebmaster, that's the workaround you can use until we release [LUCENE-9023](https://github.com/apache/lucene-solr/pull/964).
The fix is merged and will be available in the next minor release of Lucene so I am closing this issue. Thanks for reporting @mitalawachat !

[2020-11-23 08:34] #64808 closed

[2020-11-23 08:52] hendrikmuhs commented on #65336
Effects 6.8, too: https://gradle-enterprise.elastic.co/s/jrvugtavn6pka

[2020-11-23 09:35] #65302 closed

[2020-11-23 09:50] hendrikmuhs commented on #64578
The failures seem to have this in common:

[code]

All the recent failures happened on `fedora-32`, this might be a platform specific issue with native code.

/CC @droberts195

[2020-11-23 10:04] droberts195 commented on #64578
Yes, every single Gradle scan linked in this issue is for Fedora 32.  Fedora 32 was added to CI 24 days ago, which tallies with this issue being opened 19 days ago (there was a weekend in that first 5 days).  I will look into it.

[2020-11-23 10:04] elasticmachine commented on #64578
Pinging @elastic/ml-core (:ml)

[2020-11-23 10:24] albertzaharovits commented on #60877
I _think_ this is achievable, if you can settle for a socket instead of a named pipe. The approach requires some tinkering with the `log4j2.properties` file we're shipping with, which means you'll have to take extra care during upgrades to ensure you reapply any changes to the file that comes with the upgrade to your local custom config file.

Starting from the `log4j2.properties` file of the dock

[2020-11-23 10:42] cbuescher commented on #65344
Your IDE needs to listen to that port for debug mode. Please consult TESTING.asciidoc for more information. In general, question like these are better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests. I'm closing this as an issue here, but encourage you to ask this question in the forum instead if you have fur

[2020-11-23 10:42] #65344 closed

[2020-11-23 10:45] lqbilbo commented on #58647
@nik9000 Thanks for your reply. After I saw your reply, I ran some test cases in 7.9, but as a regret, the new version still doesn't solve the problem. I agree with you that we shouldn't mutate BigArrays, so I put the Settings into BreakerSettings and I put the condition phase: if (this.breakerService != null && this.breakerService.isMemoryUsageEstimatesEnabled()) into BigArrays#adjustBreaker. And

[2020-11-23 10:46] #65336 closed

[2020-11-23 11:27] spinscale opened #65355 "Allow keyword_marker filter to be updateable"
The [keyword_marker filter](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/analysis-keyword-marker-tokenfilter.html) allows for a `keyboard_path` configuration setting, but does not seem to support the `updateable` flag and thus cannot be reloaded via the [reload search analyzers API](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/indices-reload-analyzers.html).

To rep

[2020-11-23 12:19] #63695 closed

[2020-11-23 12:26] mgntrn commented on #44700
Any updates on this issue?

[2020-11-23 12:43] droberts195 commented on #64578
I had a look in more detail at this.  The ML error message "Cannot log to named pipe /var/lib/jenkins/workspace/elastic+elasticsearch+7.10+multijob-unix-compatibility/os/fedora-32&&immutable/x-pack/qa/rolling-upgrade-basic/build/testclusters/v7.9.4-1/tmp/controller_log_556925 as it could not be opened for writing" is highly misleading.  What has actually happened is that the ES JVM has been killed

[2020-11-23 13:08] hendrikmuhs opened #65364 "[CI] ML job snapshot upgrade IT can leave task behind"
The snapshot upgrade API introduced in #64665 can leave tasks behind that cause unrelated tests to fail during teardown. **Note:** The same issue can happen in different flavors, with different (but similar) stack traces, different testcases. The root cause is always a dangling persistent task.

**Build scan**:https://gradle-enterprise.elastic.co/s/w2rrhghfdrz2g

**Repro line**: ./gradlew ':client

[2020-11-23 13:08] elasticmachine commented on #65364
Pinging @elastic/ml-core (:ml)

[2020-11-23 13:26] matriv commented on #65336
@jtibshirani Just FYI, we have examples on how to mute SQL [csv](https://github.com/elastic/elasticsearch/blob/22065d97b52320be0be8f9ae2a1e7963595573b9/x-pack/plugin/sql/qa/src/main/resources/examples/example.csv-spec) and [sql](https://github.com/elastic/elasticsearch/blob/22065d97b52320be0be8f9ae2a1e7963595573b9/x-pack/plugin/sql/qa/src/main/resources/examples/example.sql-spec) tests.

[2020-11-23 13:49] hendrikmuhs commented on #65364
Further down in the log it looks like it seems the upgrade itself failed:

[code]

- is the dangling task a failed p-task?
- does the test miss a success check?

[2020-11-23 14:46] hendrikmuhs commented on #65320
muted: https://github.com/elastic/elasticsearch/commit/1828a8b6cc98506329da68fba7997660a10ce3cc

[2020-11-23 15:01] #65228 closed

[2020-11-23 15:31] #65148 closed

[2020-11-23 15:55] hendrikmuhs opened #65373 "[CI] SSLErrorMessageCertificateVerificationTests fails for fips"
The important bit seems to be `-Dtests.fips.enabled=true`, switch to false make it pass.

**Build scan**: https://gradle-enterprise.elastic.co/s/xzikwnf4w4m6k

**Repro line**:
[code]

**Reproduces locally?**: yes

**Applicable branches**: 7.x

**Failure history**:

**Failure excerpt**:
[code]

[2020-11-23 15:55] elasticmachine commented on #65373
Pinging @elastic/es-security (Team:Security)

[2020-11-23 16:00] jkakavas commented on #65373
Apparently the latest JDK8 updates made it so this fails with a different error and this has been masked because 7.x has been failing in general in FIPS mode ( tracked in https://github.com/elastic/elasticsearch/issues/64379 which will hopefully be fixed by https://github.com/elastic/elasticsearch/issues/64776 )

[2020-11-23 16:01] linyaru commented on #63703
some user input from internal analytics: more inclined to agree with option #1 in which an exception is thrown and the onus is put on the user to define the fixed interval

[2020-11-23 17:12] SebastianKG opened #65381 "No search context found exception when using Scroll API (after a certain number of requests)"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.8.1

**Plugins installed**: []

**JVM version** (`java -version`): Several (reproduced both locally and running in the elastic.co environment)

**OS version** (`uname -a` if on a Unix-like system): Docker Linux, running on elastic.co

**Description of the problem including expected versus actual behavior**:

When using the Scroll API, I

[2020-11-23 17:29] dvisztempacct commented on #49859
Thank you!

[2020-11-23 18:14] mark-vieira opened #65385 "[CI] MixedClusterClientYamlTestSuiteIT 'test {p0=mtermvectors/10_basic/Tests catching other exceptions per item}' failing"
**Build scan**:
https://gradle-enterprise.elastic.co/s/yalcc7nftun4o/tests/:qa:mixed-cluster:v7.11.0%23mixedClusterTest/org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT/test%20%7Bp0=mtermvectors%2F10_basic%2FTests%20catching%20other%20exceptions%20per%20item%7D#1

**Repro line**:
./gradlew ':qa:mixed-cluster:v7.11.0#mixedClusterTest' --tests "org.elasticsearch.backwards.MixedClusterCl

[2020-11-23 18:14] elasticmachine commented on #65385
Pinging @elastic/es-search (Team:Search)

[2020-11-23 18:14] mark-vieira commented on #65385
@cbuescher this looks to be a new test you added. Do you mind taking a look?

[2020-11-23 18:16] mark-vieira commented on #65385
There have been a number of these failure so I've muted this test in 53b10dbb66d6978bf66873f46858ca047c1af46a.

[2020-11-23 18:26] #41649 closed

[2020-11-23 18:32] imotov commented on #62266
@danelowe would you mind sharing your analyzer for this field? I spent some time trying to reproduce the issue but everything seems to work as expected.

[2020-11-23 18:57] jtibshirani commented on #62511
I simplified the logic in #65292. I have some more simplifications in mind, but they're smaller and not as critical.

[2020-11-23 18:57] #62511 closed

[2020-11-23 20:33] keenangraham commented on #64837
`is it because you have a lot of sub-fields`

Right, some of our documents definitely have a lot of subfields, but exactly the same amount as on 5.6.

`the workaround to speed up the request is to pick a leaf sub-field that appears in all documents`

Internally we have discussed having a workaround like this, expanding an `exists` query on an `object` field to a known subfield that appears in all

[2020-11-23 20:58] jimczi commented on #46955
The Kuromoji tokenizer now supports a [`discard_compound_token` option](https://github.com/elastic/elasticsearch/pull/57421) that can be used in conjunction with the search mode to output a single path in the tokenization. When this option is set to true,  the synonym graph filter should work fine so I am closing this issue.
Please reopen if the provided solution doesn't work as expected.

[2020-11-23 20:58] #46955 closed

[2020-11-23 21:20] jimczi commented on #64837
In previous versions, the path of the object fields was also added in the `_field_names` field so a single term query was needed. However indexing the `_field_names` field has a non-negligible cost that we tried to reduce with https://github.com/elastic/elasticsearch/pull/26930 and the consequence is that `exists` query on objects with lots of sub-fields are slower. That's a trade off that we find

[2020-11-23 21:28] jimczi commented on #65381
You need to check the search response of the previous runs. Any exception during a prior run can cause the search context to be closed on the problematic shard so I suspect that you're experimenting shard failures in previous runs that accumulate and end up in all shards failing. Can you check that prior search responses had some failures ? They should also contain the original cause for the failu

[2020-11-23 21:29] elasticmachine commented on #65381
Pinging @elastic/es-search (Team:Search)

[2020-11-23 21:39] danelowe commented on #62266
Config for the index in question.

[code]

[2020-11-23 21:44] keenangraham commented on #64837
Right, to clarify we do use one index per type already. And while we do usually limit the indices we search over we do support the use case of searching over all indices for existence of a field or a certain value etc.

[2020-11-23 21:44] costin opened #65394 "QL: Move literals to the right in comparison expressions"
Comparison can _hide_ the field under binary operations causing the query to fallback to scripting instead of using a search query. For example:
`a + 1 > 2` is the same as `a > 1` though the latter is faster.
Though I would expect this pattern to be rare, it affects performance significantly especially in more complicated expressions:
`((a + 1) / 2 - 3) * 4 >= 14 and a < 2`. If the first compariso

[2020-11-23 21:44] elasticmachine commented on #65394
Pinging @elastic/es-ql (Team:QL)

[2020-11-23 22:43] mark-vieira opened #65397 "[CI] WatcherUtilsTests.testDeserializeSearchRequest failing reproducibly"
Looks like this test has just started failing frequently.

**Build scan**:
https://gradle-enterprise.elastic.co/s/hst2mas3she2e/tests/:x-pack:plugin:watcher:test/org.elasticsearch.xpack.watcher.support.WatcherUtilsTests/testDeserializeSearchRequest#1

**Repro line**:
./gradlew ':x-pack:plugin:watcher:test' --tests "org.elasticsearch.xpack.watcher.support.WatcherUtilsTests.testDeserializeSearchRequ

[2020-11-23 22:43] elasticmachine commented on #65397
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-23 22:45] mark-vieira commented on #65397
This is failing often and reproducibly so I've muted this test in 5b143b40bf05e1a13c12bfaf8efb7af70f636379.

[2020-11-23 22:49] keenangraham commented on #64837
`That's a trade off that we find acceptable since the number of fields under an object should be manageable.`

I'll also just mention that we observe a nearly linear degradation in response time depending on the number of facets we render for a search with the new `exists` query (i.e. one facet takes 0.676s, two facets take 1.307s, three facets take 2.842s etc.). Underneath these are `filter aggre

[2020-11-23 23:20] jtibshirani opened #65399 "Consolidate index version checks"
In order maintain compatibility with older indices, we sometimes need to check the index version and take special action. These index version checks happen in a variety of places and ways, making it hard to understand what logic depends on the index version. It also means that compatibility logic is scattered throughout various components, which hurts code quality.

It would be good to consolidate

[2020-11-23 23:20] elasticmachine commented on #65399
Pinging @elastic/es-search (Team:Search)

[2020-11-23 23:20] elasticmachine commented on #65399
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2020-11-23 23:57] kaliljoao commented on #64740
Hello guys, can I get this issue to resolve?

[2020-11-24 00:02] mark-vieira commented on #65397
Muted in `7.x` (5b143b40bf05e1a13c12bfaf8efb7af70f636379) and `7.10` (5b143b40bf05e1a13c12bfaf8efb7af70f636379) as well.

[2020-11-24 00:07] kaliljoao commented on #58135
Hi guys, I would like to work on this issue.

[2020-11-24 02:02] easyice commented on #65189
@DaveCTurner I tested on 7.6.0, #44433  and #47817 can solve the problem，so this issues can be closed

[2020-11-24 02:03] #65189 closed

[2020-11-24 02:52] imotov commented on #62266
I still cannot reproduce it. Here is what I have got so far:

[code]

It seems to work as I would expect it to work.

[2020-11-24 02:54] naruto2902git commented on #65175
The cost of upgrading would be very high. Is there timeout parameter can be set up to avoid this problem？Which one is?

[2020-11-24 03:09] easyice opened #65403 "Auto throttle on Force Merge"
force merge is very useful for time-based indices, but it use a lot of cpu, I hope it doesn't have any impact on the indexing or searching，Because my clusters used to some  online service，it needs always low latency . if a force merge can be throttle when system cpu% greater than some threshold，for instance 80%,we will never worry about the impact of  searching or indexing

[2020-11-24 06:16] HaZet1968 opened #65405 "Monitoring indices fails"
**Elasticsearch version:** Version: 7.10.0, Build: default/deb/51e9d6f22758d0374a0f3f5c6e8f3a7997850f96/2020-11-09T21:30:33.964949Z, JVM: 15.0.1

**JVM version** : openjdk 11.0.9 2020-10-20

**OS version** (`uname -a` if on a Unix-like system): Linux esnode1-rza 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2+deb10u2 (2019-11-11) x86_64 GNU/Linux

**Description of the problem including expected versus actu

[2020-11-24 07:48] #47700 closed

[2020-11-24 08:41] martijnvg commented on #65397
#65379 should fix this test failure.

[2020-11-24 09:22] #65306 closed

[2020-11-24 09:48] #65385 closed

[2020-11-24 09:49] cbuescher commented on #65385
This was missing backport of a bug fix to 7.11. With #65369 in now it should pass.
I have reactivating the test.

[2020-11-24 09:51] BBQigniter commented on #60877
@albertzaharovits thanks for the hint with the socket. I must say that I'm not a log4j-pro ;) and I tried yesterday a little bit around with the socketappender - but the results were not satisfying.

I just quickly set up some simple listener with nc and tried to configure the audit-appender to send the logs via socket appender to that port on localhost. The first try showed me after a few seconds

[2020-11-24 09:51] jkakavas commented on #64776
I think the best test coverage would be provided by:

- Keeping the existing matrix job as is ( and updating the code to use BCJSSE instead of SunJSSE ) so that we test with latest jdk 8 versions
- Adding a new Job that runs 7.x and the supported 7.y branches with the pinned jdk8 version so that we can keep testing with SunJSSE

@mark-vieira if you're ok with the additional job, I'll raise a PR wi

[2020-11-24 10:54] bpintea opened #65413 "SQL: result set can contain values of different type than column type"
For some agg queries like `SELECT min(salary) FROM test_emp`, currently the column will be returned as of the type `long`, same as `salary` field in the `test_emp` index, but the actual value will be a floating point number.

It might be worth either documenting the behaviour as expected with aggs, adjust all the agg returns to double or adjusting the result values.

[2020-11-24 10:54] elasticmachine commented on #65413
Pinging @elastic/es-ql (Team:QL)

[2020-11-24 11:10] elasticmachine commented on #65405
Pinging @elastic/es-search (Team:Search)

[2020-11-24 11:11] original-brownbear commented on #65405
There is a legitimate bug here with us loosing a listener and hence probably leaking memory. I'll open a fix PR shortly.

[2020-11-24 11:32] droberts195 opened #65414 "[ML] Better handling of data counts on model snapshot reversion"
Currently when you revert a model snapshot for an anomaly detection job the job's data counts do not get changed, even if you use the `delete_intervening_results=true` argument.

The effect is that if you revert a job's model snapshot many times with `delete_intervening_results=true` then the data counts cease to reflect the volume of data that the job's results relate to.

This is different behav

[2020-11-24 11:32] elasticmachine commented on #65414
Pinging @elastic/ml-core (:ml)

[2020-11-24 12:38] costin opened #65417 "QL: Refactor QueryTranslation tests"
The query translation tests in QL (`QueryTranslatorTests`) and SQL(some bits of `QueryFolderTests`) are done manually which makes them more complicated than they have to be.
Instead of manually extracting the query string, replacing and then comparing it with a string, the test can do this automatically and assert the strings based on an external file based on the approach taken in EQL (`QueryFold

[2020-11-24 12:38] elasticmachine commented on #65417
Pinging @elastic/es-ql (Team:QL)

[2020-11-24 12:58] cbuescher opened #65418 "[CI] SpatialClientYamlTestSuiteIT.test {yaml=/60_geo_line/Test geo_line aggregation on geo points} fails reproducibly"
**Build scan**:

Happened on PR build, but reproduces on master: https://gradle-enterprise.elastic.co/s/pbfhdxzm3mzdo

**Repro line**:

./gradlew ':x-pack:plugin:spatial:yamlRestTest' --tests "org.elasticsearch.xpack.spatial.SpatialClientYamlTestSuiteIT.test {yaml=/60_geo_line/Test geo_line aggregation on geo points}" -Dtests.seed=BBE6AC6EDAC1677C -Dtests.security.manager=true -Dtests.locale=zh-Ha

[2020-11-24 12:58] elasticmachine commented on #65418
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-24 13:07] elasticmachine commented on #65355
Pinging @elastic/es-search (Team:Search)

[2020-11-24 14:26] robb3rt opened #65423 "[CBR] Allow scheduling of watchers in specific timezones"
**Link to support case or sales opportunity (if relevant)**: [00644745](https://elastic.my.salesforce.com/5004M00000ekKPo)

**Link to Github issues (if available)**:
https://github.com/elastic/enhancements/issues/9462
https://github.com/elastic/enhancements/issues/9111

**Customer Details - Name**: CBR

**Customer Details - Use Case**: Logging

**Customer Details - Products/Versions**: Elasticsear

[2020-11-24 14:26] elasticmachine commented on #65423
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-24 14:27] nik9000 commented on #64578
Another! https://gradle-enterprise.elastic.co/s/6dmtqkrv2h5fu/tests/failed

[2020-11-24 15:17] costin opened #65432 "Use SI units in TimeValue"
Micros and nanos do not use the SI notation through-out [Elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.html#time-units) or inside `TimeValue`.
The SI for microseconds is `μs`, also written as `us` and for nanos `ns` while in Elasticsearch these are "micros" and "nanos".

The proposal is to:
1. support this units in parsing
2. start transitioning away

[2020-11-24 15:17] elasticmachine commented on #65432
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2020-11-24 15:20] #46477 closed

[2020-11-24 15:20] #62804 closed

[2020-11-24 15:28] jakelandis commented on #64852
I think we should always make it easy for users to use the most recent APIs. Requiring users to change the headers sent to start consuming any new API I think would run counter to that. This includes experimental and beta APIs. Experimental (and arguably beta) APIs are not constrained by semver by definition. The lack of semver applies outside of compatibility (i.e. an experimental can be breaking

[2020-11-24 15:43] droberts195 commented on #59053
This hasn't failed recently in this way.  A number of timeouts have been increased due to other issues, so this has probably been fixed by one of them.

[2020-11-24 15:43] #59053 closed

[2020-11-24 15:47] cgoller opened #65434 "Specifying the default_search analyzer no longer works for Elasticsearch 7.10.0"
It seams that instead of the specified default_search analyzer the default index analyzer is also used for search.
Simple example:

PUT my_index
{
  "settings":{
    "analysis":{
      "analyzer":{
        "default": {"type": "simple"},
        "default_search": {"type": "german"}
      }
    }
  },
  "mappings":{
    "properties":{
      "body_explicit": {
        "type":"text", "analyzer" : "sim

[2020-11-24 15:54] droberts195 opened #65437 "[ML] Move ML hidden index templates to composable templates"
The hidden indices used by ILM, SLM and Watcher were moved over to the new composable index templates in #61457.  We should do the same for the templates used to create ML hidden indices.

It seems that BWC should not be a major problem with this change, due to the fact that it is permitted to have a legacy index template and a new style index template with the same ID.  In this situation the new

[2020-11-24 15:54] elasticmachine commented on #65437
Pinging @elastic/ml-core (:ml)

[2020-11-24 16:02] nik9000 commented on #56903
Another one I think:
[code]

https://gradle-enterprise.elastic.co/s/gwu2roq7rbheq/

[2020-11-24 16:08] jaymode commented on #65397
#65379 has been merged and backported.

[2020-11-24 16:08] #65397 closed

[2020-11-24 16:09] #59931 closed

[2020-11-24 16:12] jpountz commented on #65432
I had a similar reaction when being reminded of this a few months ago. I'd like SI units better, but at the same time I haven't heard complains about this besides #17755.

[2020-11-24 16:19] costin commented on #65322
In case it was overlooked another workaround (and more readable) is in the issue description - namely casting the date in string format to a date.

[2020-11-24 16:27] elasticmachine commented on #65434
Pinging @elastic/es-search (Team:Search)

[2020-11-24 16:29] jmac-met commented on #64234
[sample_redacted.txt](https://github.com/elastic/elasticsearch/files/5591228/sample_redacted.txt)
Sorry for the slow reply. I've attached a heavily redacted version of one of the monster entries from the monitoring cluster. This is capturing a copy of the data from the main cluster as part of the entry. Twice. I've obviously pruned it right back as the thought of going through a 2.5MB document to

[2020-11-24 16:36] bpintea commented on #30059
I believe we can close this issue, the existing implementation covers the current needs. Please reopen otherwise.

[2020-11-24 16:36] #30059 closed

[2020-11-24 16:40] #65322 closed

[2020-11-24 16:40] jmac-met commented on #64234
Actually looking over it again, it's at least partly tracking what the data_writer is writing to the indexes. Hopefully not everything, but I haven't the will to plough through all the data being written to the primary cluster.

[2020-11-24 16:44] SebastianKG commented on #65381
@jimczi you're right, the previous phases also have errors -- unfortunately, it's all the same error (search context missing exception), and I'm still not sure why that would be occurring. One shard fails per scroll request, until they all have (5 shards in production, just one in our test environment, so that makes sense). Here is the output, with our specific documents omitted:

### Scroll Reque

[2020-11-24 16:45] mayya-sharipova commented on #65434
@cgoller Thank you for opening the issue.

I can confirm the bug. Indeed, `analysis.analyzer.default_search index setting` is not applied during search for a field `body_default` as it is supposed to.

[2020-11-24 16:49] talevy opened #65444 "Rollup cleanup leaves dangling task"
The `RollupDateHistoUpgradeIT#testDateHistoIntervalUpgrade` test is not properly cleaning itself up, resulting in mixed-cluster tests failing across the suite since ESRestTestCase is unsuccessful at cleaning up.

**Build scan**:

https://gradle-enterprise.elastic.co/s/kbu2di3pqr2ok
'
**Repro line**:

[code]

**Reproduces locally?**:

no

**Applicable branches**:

7.11

**Failure excerpt**:

[code]

[2020-11-24 16:49] elasticmachine commented on #65444
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-24 16:56] nik9000 commented on #65064
Another, I think:
https://gradle-enterprise.elastic.co/s/5xk7xvoozwnv2/tests/:x-pack:plugin:watcher:internalClusterTest/org.elasticsearch.xpack.watcher.history.HistoryActionConditionTests/testActionConditionWithFailures#1

[code]

[2020-11-24 16:59] nik9000 commented on #65176
Is this the same bug, come back to haunt us?
[code]

[2020-11-24 17:00] nik9000 commented on #65176
Again again? https://gradle-enterprise.elastic.co/s/m42e3ixd3otfc/tests/:x-pack:plugin:watcher:internalClusterTest/org.elasticsearch.xpack.watcher.actions.TimeThrottleIntegrationTests/testTimeThrottle#1

[2020-11-24 17:26] mayya-sharipova commented on #65403
@easyice Thank you for submitting an issue.
In terms of CPU, force merge is using a dedicated [threadpool](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-threadpool.html) with a size of 1.  Indexing and searching have their own dedicated threadpools.

So if you multicore CPU, for forcemerge operation using just 1 thread when running should not be a big issue for CPU.

Futh

[2020-11-24 17:26] nik9000 commented on #60461
@martijnvg this seems to have come [back](https://gradle-enterprise.elastic.co/s/vgdqjkvflmgeg/tests/:client:rest-high-level:integTest/org.elasticsearch.client.IndicesClientIT/testDataStreams#1). :zombie:?

[2020-11-24 17:28] elasticmachine commented on #65403
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-24 17:30] nik9000 commented on #65091
Looks to have come back with https://gradle-enterprise.elastic.co/s/odoghd4keceqo/tests/:x-pack:plugin:watcher:internalClusterTest/org.elasticsearch.xpack.watcher.history.HistoryTemplateIndexActionMappingsTests/testIndexActionFields#1

[2020-11-24 17:36] jimczi commented on #65381
Right, so you need to [extend your scroll](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/paginate-search-results.html#scroll-search-results), otherwise it is interpreted as a termination:

[code]

That informs the shards that the search context should be kept for another 30 minutes. If you omit this parameter, the search context is closed eagerly on the shard that retrieve documents

[2020-11-24 17:51] jsirianni opened #65451 "Snapshot Repository GCS: credentials_file setting is ignored."
**Elasticsearch version** (`bin/elasticsearch --version`):

7.9

**Plugins installed**: []

gcs snapshot repository

**JVM version** (`java -version`):

openjdk 14.0.1 2020-04-14

**OS version** (`uname -a` if on a Unix-like system):

Ubuntu 18.04 Kernel 4.15.0-106-generic

**Description of the problem including expected versus actual behavior**:

[This page indicates](https://www.elastic.co/guide

[2020-11-24 17:57] cbuescher commented on #65355
I can see the benefit of being able to update the `keyword_marker` list used for search analyzers without node shutdown.
In many ways this resource file is comparable to a synonym list. However it would be the first non-synonym filter that would be
`updateable` so I think this request needs some more inspection and discussion. As far as implementation goes it should be sufficient
to wire the "upda

[2020-11-24 18:01] bosakm opened #65453 "Java High-Level Rest Client [7.10] PutIndexTemplateRequest doesn't support "composed_of""
The version 7.10 PutIndexTemplateRequest classes does not support the new (added 7.8 release) "composed_of" List array property.  This is needed to support Component Templates.

[2020-11-24 18:11] nik9000 opened #65456 "[CI] LicenseHeadersPrecommitPluginFuncTest fail on windows"
**Build scan**:
https://gradle-enterprise.elastic.co/s/tvrvtasuq6eaw/tests/:build-tools:integTest/org.elasticsearch.gradle.internal.precommit.LicenseHeadersPrecommitPluginFuncTest/detects%20invalid%20files%20with%20invalid%20license%20header?expanded-stacktrace=WyIwIl0

**Failure excerpt**:

[code]

[2020-11-24 18:11] elasticmachine commented on #65456
Pinging @elastic/es-delivery (Team:Delivery)

[2020-11-24 18:11] nik9000 commented on #65456
Looks like a `/` vs `\` in the path issue.

[2020-11-24 18:22] elasticmachine commented on #65453
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-24 18:24] elasticmachine commented on #65451
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-24 18:40] probakowski commented on #65453
`PutIndexTemplateRequest` is used for legacy templates, there is separate API for component templates and composable templates, for that you use `PutComponentTemplateRequest` (with `ClusterClient#putComponentTemplate`) and `PutComposableIndexTemplateRequest` (with `IndicesClient#putIndexTemplate`).

I'll close this issue.

[2020-11-24 18:40] #65453 closed

[2020-11-24 18:43] soarescaique commented on #65417
Can I work on this?

[2020-11-24 19:07] original-brownbear commented on #65451
@jsirianni the documentation page you link to is for ECE not Elasticsearch itself. Elasticsearch does not support putting the credentials file into the repository settings. You should use the ECE setting UI as advised in the documentation you linked to and it should work out as expected.

I hope you don't mind that I'm closing this one since it's not an Elasticsearch bug.

[2020-11-24 19:07] #65451 closed

[2020-11-24 19:17] #63567 closed

[2020-11-24 19:19] nik9000 commented on #58647
@lqbilbo. OK. I'm going to add this to my list of things to think about some more too then. I'm not really sold on the idea of not checking the breaker on allocation but its certainly *something*. I want to play with pre-allocating the a bunch of byes up front and see what that looks like for us. It might not be as big a change as it sounds.... But it'll take me a week or two before I can get to i

[2020-11-24 20:27] mark-vieira opened #65465 "[CI] RecoveryIT test failing during 7.11 rolling upgrade tests"
This test just started failing today. I'm seeing it primarily happen in PR builds so far.

**Build scan**:
https://gradle-enterprise.elastic.co/s/j7hi44os2jex4/tests/:qa:rolling-upgrade:v7.11.0%23oneThirdUpgradedTest/org.elasticsearch.upgrades.RecoveryIT/testRelocationWithConcurrentIndexing#1

**Repro line**:
`./gradlew ':qa:rolling-upgrade:v7.11.0#oneThirdUpgradedTest' --tests "org.elasticsearch.

[2020-11-24 20:27] elasticmachine commented on #65465
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-24 20:39] nik9000 commented on #65465
The reproduction lines for rolling upgrade tests are garbage. I think a more appropriate reproduction for this would be:
[code]

I'll look more.

[2020-11-24 20:45] mark-vieira commented on #65465
:+1: we should revert to the "old" convention for bwc tests. I'll take a look at that.

[2020-11-24 20:53] nik9000 commented on #65465
You can't really even output the test name - or the task name. It has to be `bwcTest` and it has to be just the class name. Without that you might not end up with the right state.

[2020-11-24 21:18] mark-vieira commented on #65465
You can do the task name, as the build will ensure the upstream dependencies run. It just won't do the later stages w/ shouldn't matter if we expect it to below up at this particular step. I'm, testing a local fix now.

The only scenario in which this won't work is if the BWC tests depend on some other tests also doing setup work in the upstream steps. There's no way to know and you can always rem

[2020-11-24 21:20] nik9000 commented on #65465
I think I used to know that and then forgot. Thanks!

[2020-11-24 21:24] nik9000 commented on #65465
This looks to be an problem forming the cluster. The console log has such wonders as:
[code]

That hints to me that there was a wire incompatibility. I had a look around PluginInfo.java and found a7863808d9492b1ab129ba82b6861519f0be3941 which makes me think that we were building a snapshot that didn't have the commit that this was accounting for. Which explains why I can't reproduce it locally.

[2020-11-24 21:29] #65465 closed

[2020-11-24 22:40] mark-vieira opened #65470 "[CI] GeoLineAggregatorTests fails reproducibly"
Looks like a new test.

**Build scan**:
https://gradle-enterprise.elastic.co/s/zgk3qlgvimij2/tests/:x-pack:plugin:spatial:test/org.elasticsearch.xpack.spatial.search.aggregations.GeoLineAggregatorTests/testMissingValues#1

**Repro line**:
`./gradlew ':x-pack:plugin:spatial:test' --tests "org.elasticsearch.xpack.spatial.search.aggregations.GeoLineAggregatorTests.testMissingValues" -Dtests.seed=2CE3

[2020-11-24 22:40] elasticmachine commented on #65470
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-24 22:41] mark-vieira commented on #65470
@talevy looks you recently authored this test. Mind taking a look?

[2020-11-24 22:49] mark-vieira commented on #53121
@breskeby I'm assigning this to you. This issue is becoming quite the thorn so we should address it. Failing to download dependencies is the [primary reason why 6.8 builds fail](https://gradle-enterprise.elastic.co/scans/failures?failures.failureClassification=non_verification&search.relativeStartTime=P28D&search.tags=CI&search.tags=6.8&search.timeZoneId=America/Los_Angeles) (other than tests). Th

[2020-11-24 22:50] breskeby commented on #53121
I'll look into this

[2020-11-24 22:51] #53993 closed

[2020-11-24 22:54] talevy commented on #65470
eek, yeah. thanks @mark-vieira. on it. second time this lucene issue got me. shame on me!

opened a PR for this

[2020-11-25 00:09] #65470 closed

[2020-11-25 00:23] talevy opened #65473 "GeoLineAggregator test failures"
Some GeoLine Index out of bound errors are occurring in random situations. Likely a real bug in the code.

**Build scan**:

https://gradle-enterprise.elastic.co/s/dwlcnado6vcbs/tests/:x-pack:plugin:spatial:yamlRestTest/org.elasticsearch.xpack.spatial.SpatialClientYamlTestSuiteIT/test%20%7Byaml=%2F60_geo_line%2FTest%20geo_line%20aggregation%20on%20geo%20points%7D

**Repro line**:

[code]

**Reprodu

[2020-11-25 00:23] elasticmachine commented on #65473
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-25 00:54] maatthias opened #65477 "Cannot change number_of_shards index setting when document maximum capacity reached on index"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.10

**Plugins installed**: []

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): Linux 3.10.0-1160.el7.x86_64 #1 SMP Tue Aug 18 14:50:17 EDT 2020 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

When index with number_of_shards==1 has ex

[2020-11-25 00:58] caiomelo22 commented on #64690
Hi! Can I try to solve this issue?

[2020-11-25 00:58] caiomelo22 commented on #37938
Hi! Can I try to solve this issue?

[2020-11-25 00:58] caiomelo22 commented on #56752
Hi! Can I try to solve this issue?

[2020-11-25 01:24] freebiesoft opened #65480 "output part-of-speech value"
when you input kanji to the kuromoji analyzer as in the example here https://www.elastic.co/guide/en/elasticsearch/plugins/current/analysis-kuromoji-baseform.html , it would be nice to output the part-of-speech value as well.

[2020-11-25 03:06] easyice commented on #65403
@mayya-sharipova Thank you for reply

my server have multicore CPU，it  usually have more idle of CPU%，so we can  perform multiple merges in parallel ,But system idle is not periodic, so i want to pause the merges when system is busy, In other words， only run it when system is idle.

in my case, the cluster is used of ad  services, all the indices is hot, the query of the older indices must keep a

[2020-11-25 03:20] tvernum commented on #56903
Well that's no good.  That should have been fixed by https://github.com/elastic/elasticsearch/pull/64682

I guess it's back to analysis...

[2020-11-25 03:32] ywangd commented on #56903
Looking at #64682, it now seems to be obvious that the same issue can still happen. Because the document could be invalidated and deleted right after the `parseTokenAndRefreshStatus(..)` [call](https://github.com/elastic/elasticsearch/blob/7.x/x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/TokenService.java#L663-L664) and subsequently runs into the same problem of miss

[2020-11-25 03:36] wangfano opened #65481 "cluster is not available and http request failed, but transport client worked well"
**Elasticsearch version** (`bin/elasticsearch --version`):
V5.6.12
**Plugins installed**: []

**JVM version** (`java -version`):
JDK 1.8
**OS version** (`uname -a` if on a Unix-like system):
CentOS7.6
**Description of the problem including expected versus actual behavior**:
Master nodes is not enough(not reach the minuimum_master_nodes),  leader election failed. I expect both http client and trans

[2020-11-25 04:12] #56903 closed

[2020-11-25 06:40] mitar opened #65483 "Union aggregation of lists of sub-documents"
I have documents which contains sub-documents. Those are stored with the following structure:

[code]

So each document has a list of tags and links to potential parents, as tags form a tree. All tags which are related to a particular document and relations between them are those directly accessible by fetching only one document. This is all good.

But the issue comes when I want to make faceted/f

[2020-11-25 09:59] astefan opened #65487 "EQL: documentation ease of use"
Currently, our great EQL documentation is using a style that promotes sharing a big subject (for example, [EQL syntax reference](https://www.elastic.co/guide/en/elasticsearch/reference/master/eql-syntax.html#eql-syntax)) in a single, large page where all the sub-aspects (sub-chapters) are highlighted with bold characters ([Sequences](https://www.elastic.co/guide/en/elasticsearch/reference/master/e

[2020-11-25 09:59] elasticmachine commented on #65487
Pinging @elastic/es-docs (Team:Docs)

[2020-11-25 09:59] elasticmachine commented on #65487
Pinging @elastic/es-ql (Team:QL)

[2020-11-25 10:04] bpintea opened #65488 "SQL: "not equals" comparison is ignored"
In case the filtering (`WHERE`) clause of an SQL query contains at least two comparisons in a conjunction (`AND`) of which one is an inequality (`<=`, `<`, `>=` or `>`) and the other is a not-equals (`!=` or `<>`), the later can get ignored.

[code]
will wrongly return 10001.

This will happen despite the fact that the comparisons are done on different terms and only when the _values_ of the compa

[2020-11-25 10:05] elasticmachine commented on #65488
Pinging @elastic/es-ql (Team:QL)

[2020-11-25 10:06] bpintea commented on #65488
Fixed in #65331 (dup of #65322).

[2020-11-25 10:06] #65488 closed

[2020-11-25 10:15] droberts195 commented on #62778
It was just pointed out to me that the Kibana functional tests for ML also need to delete system indices in between tests.  I imagine the same might be true for some of the solutions that are Kibana plugins but access system indices.  So we'll need to make sure that the solution to this problem is accessible from the Kibana functional test framework as well as client test frameworks.

[2020-11-25 10:17] cbuescher commented on #65480
Hi @freebiesoft, the [`explain` setting](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-analyze.html#explain-analyze-api) on the probably already has what you are after. When I tried it with the example you linked it gave me:
[code]
I don't know Japanese so I cannot judge the quality but maybe this is what you are looking for, so I'll close this issue. In general I don't t

[2020-11-25 10:17] #65480 closed

[2020-11-25 10:26] gaurav-tanwar-gt commented on #60450
Any update on this bug
i am also facing the same "connection reset by peer"

[2020-11-25 10:27] cbuescher commented on #65477
@maatthias the `number_of_shards` setting can [only be set at index creation time](https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules.html#_static_index_settings). This shouldn't work regardless of the number of documents in the index. However, you can probably use the [split index API](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-split-index.h

[2020-11-25 10:27] #65477 closed

[2020-11-25 10:28] cbuescher commented on #65418
Closing in favour of https://github.com/elastic/elasticsearch/issues/65473

[2020-11-25 10:28] #65418 closed

[2020-11-25 10:34] davidkyle commented on #65055
There are a few limitations when using RT fields in ml datafeeds

1. Performance will be impacted if the time field is a runtime field. Configurations of jobs/datafeeds that use runtime_mappings to create the time field will be rejected.
2. RT fields do no work with v1 Rollup searches. If the datafeed is querying a rollup index it will not start if RT fields are used.
3. RT fields in Cross Cluster

[2020-11-25 11:30] DaveCTurner commented on #65481
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2020-11-25 11:30] #65481 closed

[2020-11-25 11:42] ywangd commented on #64234
Thanks @jmac-met

The large chunk of messages in the log file are request body, specifically a bulk indexing request body. That is why they are so big. The are _not_ search results. So no concern here. But I see your point and we are aware that these large bulk indexing request bodies can become unwieldy, which is what this issue talks about: request body for "only for searches but not for indexin

[2020-11-25 11:46] DaveCTurner commented on #65403
In Elasticsearch terms, "hot" means roughly "receiving indexing", and in that sense you should never force-merge a hot index. Warm nodes can still deliver excellent search performance, as long as they have appropriate hardware and configuration.

Additionally, force-merging is already automatically throttled in terms of its IO bandwidth. This makes more sense than CPU throttling since IO is usuall

[2020-11-25 12:17] easyice commented on #65403
ok, I have about 1000 clusters， in some cluster，i perform multiple  forcemerge at night（single forcemerge is to slow），i can see，The merge USES more CPU than IO，when the multiple  forcemerge is running, and my users suddenly perform a lot of aggregation or indexing, i can't pause or cancel the forcemerge.

[2020-11-25 12:29] thenom commented on #42508
I made the assumption that using the well documented exclude when providing a [multi index pattern](https://www.elastic.co/guide/en/elasticsearch/reference/current/multi-index.html) would work:

[code]

But it seems this doesn't follow the same.  This seems like a good method as it complies with other areas of Elasticsearch while still giving you full control, including over the .indices if requir

[2020-11-25 12:54] davidkyle opened #65494 "TemplateUpgradeService uncaught mapping error"
The error is:
[code]

This error prematurely terminates the `TemplateUpgradeService` no more templates will be upgraded.

I added some debug and an example of a template this causes this error is `.logstash-management` the line `      "dynamic": "strict",`

https://github.com/elastic/elasticsearch/blob/dc855add492f3b447a2d3ea0a290458f9fc9207e/x-pack/plugin/core/src/main/resources/logstash-manageme

[2020-11-25 12:54] elasticmachine commented on #65494
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-25 13:55] javanna opened #65496 "Update docs on using regex in painless"
The documentation on using regex in painless needs to be updated following #63029 . Regex are no longer disabled by default, while the docs say otherwise and we still recommend users to enable them if needed.

[2020-11-25 13:55] elasticmachine commented on #65496
Pinging @elastic/es-docs (Team:Docs)

[2020-11-25 13:55] elasticmachine commented on #65496
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2020-11-25 13:57] jrodewig commented on #65487
Thanks for the feedback @astefan!

I chose the current "one page" approach/layout for a few reasons:

- Based on user surveys, most of our users prefer longer pages that they can use `cmd-f/ctrl-f` to search locally.
- Most users get to a docs page from an external search (e.g., Google) rather than the TOC nav. A single page provides those search users with more context.
- Our new docs redesign wi

[2020-11-25 14:03] maxnilz commented on #19862
+1

[2020-11-25 14:06] dnhatn commented on #64367
Fixed in #64382

[2020-11-25 14:06] #64367 closed

[2020-11-25 14:32] nik9000 commented on #65483
@mitar this looks like a request for a new agg so I'll mark it with the appropriate labels so folks can have a look. For what it is worth I'm not 100% sure what you are asking for but I haven't had enough coffee yet. It might help if you could post a sequence of CONSOLE or cURL commands to set up an index with mapping and documents and then an example of the kind of _search you'd like to send and

[2020-11-25 14:32] elasticmachine commented on #65483
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-25 14:51] nik9000 opened #65499 "Fields API won't extract field that begins with the name of an object"
Check it out:
[code]

Makes this:
[code]

Notice no `fields` in the response. This seems to be because we found the `foo` object and didn't find `bar` inside it. I'm not sure though. It seems like we should find `foo.bar`.

These kinds of documents are confusing in general and folks probably shouldn't be sending them to us. I think *generally* if we get them it is because someone made a mistake in

[2020-11-25 14:51] elasticmachine commented on #65499
Pinging @elastic/es-search (Team:Search)

[2020-11-25 15:05] #63703 closed

[2020-11-25 15:30] #65487 closed

[2020-11-25 15:39] nik9000 commented on #65499
@romseygeek do you think this might be something you can have a look at? I think you are started to get pretty into how we extract values from xcontent.

[2020-11-25 16:07] prasad2kin opened #65505 "Intervals query wildcard expansion parameter"
Lucene intervals wildcard query method has an additional parameter `expansion` to specify how many expansions to consider before throwing an error.

Can we get an additional parameter to supply that argument using the elastic Intervals-wildcard query?

Also, instead of throwing an error, is there a way to get terms with `maxExpansions` and performing the query? As for some use-cases, that would ma

[2020-11-25 16:26] palesz commented on #65417
Hello @soarescaique! Thank you for the interest, but we already assigned this work within the team.

[2020-11-25 16:36] elasticmachine commented on #65505
Pinging @elastic/es-search (Team:Search)

[2020-11-25 17:05] jtibshirani commented on #64740
We discussed as a team and decided to rename `QueryShardContext` to `SearchExecutionContext` (or something similar). We wanted to hold off on naming `SearchContext`, since it will probably undergo a refactor that clarifies/ reduces its scope. It's also tied to other concepts like `ReaderContext` and `ShardSearchContextId`, so we'll want to think through those names at the same time.

@kaliljoao we

[2020-11-25 17:18] SebastianKG commented on #65381
You're quite right! I find that unintuitive given the docs and the failure behaviour, but thank you very much for steering me in the right direction. I'll close this now.

[2020-11-25 17:18] #65381 closed

[2020-11-25 17:31] romseygeek commented on #65499
Looks like we don't correct handle object paths in field fetcher (this fails in the same way if you remove the `{"foo":{"cat","meow"}}` section as well).

[2020-11-25 17:44] nik9000 commented on #65499
Oh! I thought I saw it working locally. I guess I missed it.

[2020-11-25 17:45] romseygeek commented on #65499
Ignore my last comment, it does indeed only fail with the extra section.  It's a bug in `XContentMapValues.extractRawValues()` - I'll work on a fix.

[2020-11-25 18:08] #65456 closed

[2020-11-25 18:39] doowonee commented on #56202
Is this bug has been fixed? I'm in the exactly same situation. So I wonder which version should I use then?

[2020-11-25 18:59] yuliacech opened #65511 "Get snapshot repository API returns 404 when no repository"
**Elasticsearch version**:
Current es snapshot
https://storage.googleapis.com/kibana-ci-es-snapshots-daily/8.0.0/archives/20201124-194417_1ce323e1368/elasticsearch-8.0.0-SNAPSHOT-darwin-x86_64.tar.gz

**OS version**:
macos Catalina 10.15.7

**Description of the problem including expected versus actual behavior**:
Get snapshot repository returns a 404 error for this request `GET /_snapshot/*`.
[cod

[2020-11-25 19:45] breskeby opened #65514 "Detangle DependenciesInfoPlugin from DependencyLicensesPrecommitPlugin"
The `DependenciesInfoPlugin` is currently part of the public surface when applying `elasticsearch.build` but relies on `DependencyLicensesPrecommitPlugin` which is considered internal. This should be revisited and either

a) fixed
b) DependencyLicensesPrecommitPlugin should be only applied on internal build

We should start having explicit func test coverage for plugins applied on external elastic

[2020-11-25 19:46] elasticmachine commented on #65514
Pinging @elastic/es-delivery (Team:Delivery)

[2020-11-25 20:44] jrodewig opened #65515 "[DOCS] Rollup refactor docs"
This meta issue tracks documentation efforts for the rollups refactor (AKA rollups v2).
To monitor ongoing development, see #42720.

### To Do:

- [x] Document rollup API #65398
- [x] Update rollup security privileges #65512
- [x] Document ILM rollup action #65633, ~#67108~, #68755
- [x] Update [rollup overview](https://www.elastic.co/guide/en/elasticsearch/reference/master/data-rollup-transform.h

[2020-11-25 20:44] elasticmachine commented on #65515
Pinging @elastic/es-docs (Team:Docs)

[2020-11-25 20:44] elasticmachine commented on #65515
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-25 20:52] elasticmachine commented on #65511
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-25 21:09] DaveCTurner commented on #65403
How many CPUs are allocated to each node in your 1000-cluster estate?

[2020-11-25 21:31] rw-access commented on #56752
Hey, @caiomelo22. I appreciate the enthusiasm, but unfortunately I forgot to close this issue back in 7.10, since it's no longer needed.

Thanks for the unintentional nudge. If you're looking for issues to help with I would recommend looking for "help wanted" + "good first issue." Here's the [filtered list](https://github.com/elastic/elasticsearch/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+want

[2020-11-25 21:31] #56752 closed

[2020-11-25 21:32] elasticmachine commented on #64773
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-25 21:32] mayya-sharipova commented on #64773
tagging the distributed team as well, as the test failure involves scroll

[2020-11-26 00:42] jtibshirani opened #65522 "Better tests for searching old indices"
In major version *n*, we support indices back to version *n-1*, including all minor versions. This can require special compatibility logic to make sure functionality continues to work against old indices. Much of the Elasticsearch compatibility logic lives in the search and mappings code.

We occasionally have bugs in this logic -- as an example, in 7.10 we broke `exists` queries against 6.0 indic

[2020-11-26 00:42] elasticmachine commented on #65522
Pinging @elastic/es-search (Team:Search)

[2020-11-26 00:42] elasticmachine commented on #65522
Pinging @elastic/es-delivery (Team:Delivery)

[2020-11-26 01:00] wangfano commented on #65481
Got it, thank you.

[2020-11-26 01:09] Zeromika commented on #34659
It seems like this issue has little to no attention. Any plan to incorporate this soon?

[2020-11-26 02:08] b-deam opened #65523 "[DOCS] Explanation for columns returned in _cat/allocation API"
**Elasticsearch version** (`bin/elasticsearch --version`): N/A

**Plugins installed**: N/A

**JVM version** (`java -version`): N/A

**OS version** (`uname -a` if on a Unix-like system): N/A

**Description of the problem including expected versus actual behavior**:

[The `GET _cat/allocation?v` API](https://www.elastic.co/guide/en/elasticsearch/reference/current/cat-allocation.html) currently shows

[2020-11-26 02:08] elasticmachine commented on #65523
Pinging @elastic/es-docs (Team:Docs)

[2020-11-26 02:09] elasticmachine commented on #65523
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-26 02:59] easyice commented on #65403
We deployed on physical server，the server has 48 or 96 cpu core, and 256G\~1TB memory ，we start 1~4 nodes on the server, each node has 31GB JVM memory, and share the cpu cores

[code]

[2020-11-26 04:37] mitar commented on #65483
So I am open to whichever mapping achieves this. I can expand on the concrete example. I have documents which look like:

[code]

Let's say those are results of a query. I would like to make an aggregation which returns:

[code]

This aggregation would allow me to show filtering UI which would be hierarchical and I could select filter on "toy" or "plastic toy".

[2020-11-26 05:16] bhavya121999 commented on #65496
Hi @javanna, I'd like to start contributing to this issue.
Could you please confirm if I can start working on this ?

[2020-11-26 06:21] seedfly opened #65527 "Failed to return result when execute `select count(*)` on left join SQL"
**Elasticsearch version** :7.9.1

**Plugins installed**: [
component                         version
aes_cross_cluster                 7.9.1
alerting                          x.x.x.x
analysis-icu                      7.9.1
analysis-ik                       7.9.1
analysis-kuromoji                 7.9.1
analysis-phonetic                 7.9.1
analysis-seunjeon                 x.x.x.x
analysis-smartc

[2020-11-26 07:47] jimczi commented on #65319
Fixed by https://github.com/elastic/elasticsearch/pull/65359

[2020-11-26 07:47] #65319 closed

[2020-11-26 08:09] bhavya121999 commented on #65496
@javanna I have raised a PR for the above issue [#65530](https://github.com/elastic/elasticsearch/pull/65530). Please go through this, and let me know if this looks fine?

[2020-11-26 08:19] jimczi commented on #16451
Closing as duplicate of #41299

[2020-11-26 08:19] #16451 closed

[2020-11-26 08:34] DaveCTurner commented on #65403
Can you help us understand more clearly how ≤4 force-merge threads running on such a powerful machine has a significant operational impact?

[2020-11-26 09:04] DaveCTurner commented on #65403
I was mistaken here, apologies. I read the code more closely and discovered that today's auto-throttle applies only to regular merges and not force-merges. Today we don't expose any control over force-merge throttling in Elasticsearch, although the option to do so is available in Lucene. IMO it'd be reasonable to expose this option, or else introduce some kind of automatic mechanism to constrain f

[2020-11-26 09:14] babayotakun opened #65533 "FVH Highlighter does not work with the inner hits properly"
Elasticsearch version: 7.10.0
Running in docker from image docker.elastic.co/elasticsearch/elasticsearch:7.10.0

Fvh highligher does not highlight actual content of the inner hit. It seems to alway returning highlight for the first relevant inner hit but with the highlight offsets of the current inner hit. Other highlighters ("plain" and "unified") are working correctly.

Steps:

1. Create index w

[2020-11-26 09:22] seedfly commented on #65527
![image](https://user-images.githubusercontent.com/10631362/100332098-efbf5780-300b-11eb-9c34-ee09aec8581a.png)

[2020-11-26 09:41] costin commented on #65527
Elasticsearch SQL does not support JOINs - in fact such queries are rejected.
Based on the screenshot it looks you are using a separate product/fork which we do not support.
Sorry but we can't help you.

[2020-11-26 09:41] #65527 closed

[2020-11-26 09:44] seedfly commented on #65527
"Elasticsearch SQL does not support JOINs " is really a reasonable answer to me.

[2020-11-26 09:50] costin opened #65536 "EQL: Add ? support (match single char) to wildcard functionality in `:` operator"
Wildcard pattern supported by `:` currently checks only for `*` but `?` should be supported as well.

[2020-11-26 09:50] elasticmachine commented on #65536
Pinging @elastic/es-ql (Team:QL)

[2020-11-26 09:53] rudolf opened #65537 "[Docs] document require_alias for /_reindex API"
The [_reindex API](https://www.elastic.co/guide/en/elasticsearch/reference/master/docs-reindex.html) supports the `require_alias` flag but there's no mention of it in the docs.

[code]

[code]

`require_alias` was introduced in https://github.com/elastic/elasticsearch/pull/58917

[2020-11-26 09:53] elasticmachine commented on #65537
Pinging @elastic/es-docs (Team:Docs)

[2020-11-26 11:18] breskeby opened #65541 "[CI] XSmokeTestPluginsClientYamlTestSuiteIT failing"
seems related to changes in test cluster integ test setup

[2020-11-26 11:18] elasticmachine commented on #65541
Pinging @elastic/es-delivery (Team:Delivery)

[2020-11-26 11:19] pugnascotia opened #65542 "[CI] TransformIndexerStateTests.testStopAtCheckpointForThrottledTransform"
**Build scan**:

https://gradle-enterprise.elastic.co/s/cdnepzmdlrqr2/tests/failed

**Repro line**:

[code]

**Reproduces locally?**:

No

**Applicable branches**:

`7.x`

**Failure history**:

**Failure excerpt**:

[code]

https://github.com/elastic/elasticsearch/issues/62996 seems related. @hendrikmuhs do you think this test needs a similar fix?

[2020-11-26 11:19] elasticmachine commented on #65542
Pinging @elastic/ml-core (:ml/Transform)

[2020-11-26 11:21] pugnascotia commented on #62769
Failed again: https://gradle-enterprise.elastic.co/s/h4gfwgqmxsdiw

@nik9000 I was able to reproduce locally with:

[code]

[2020-11-26 11:30] pugnascotia opened #65543 "[CI] CacheServiceTests.testCacheSynchronization"
**Build scan**:

https://gradle-enterprise.elastic.co/s/fnb5fvw74x2fs

**Repro line**:

[code]

**Reproduces locally?**:

No

**Applicable branches**:

`master`

**Failure history**:

[History in Gradle enterprise](https://gradle-enterprise.elastic.co/scans/tests?search.relativeStartTime=P7D&search.timeZoneId=Europe/London&tests.container=org.elasticsearch.xpack.searchablesnapshots.cache.CacheServ

[2020-11-26 11:30] elasticmachine commented on #65543
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-26 11:42] pugnascotia opened #65544 "[CI] DocsClientYamlTestSuiteIT.test {yaml=reference/rollup/apis/rollup-api/line_13}"
**Build scan**:

https://gradle-enterprise.elastic.co/s/djhhfvapry6co

**Repro line**:

(note that this contains `-Dbuild.snapshot=false`)

[code]

**Reproduces locally?**:

Don't know, I couldn't get the test to run 🤷‍♂️

**Applicable branches**:

`master`

**Failure history**:

**Failure excerpt**:

[code]

[2020-11-26 11:42] elasticmachine commented on #65544
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-26 12:16] easyice commented on #65403
Thanks for @DaveCTurner . Currently ,the node run single thread for forcemerge, It will not have a significant impact on the CPU

it's my problem ,didn't make it clear,I'm assuming that forcemerge can be run in multithreaded. i understand, single thread makes things easier , but sometimes slower

I have no more questions，thanks all ❤️

[2020-11-26 12:23] pugnascotia opened #65547 "[CI] SmokeTestWatcherWithSecurityClientYamlTestSuiteIT.test {yaml=watcher/usage/10_basic/Test watcher usage stats output}"
**Build scan**:

https://gradle-enterprise.elastic.co/s/tvd22xejovpkq

**Repro line**:

[code]

**Reproduces locally?**:

No

**Applicable branches**:

7.x

**Failure history**:

**Failure excerpt**:

[code]

[2020-11-26 12:23] elasticmachine commented on #65547
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-26 12:55] matriv commented on #37938
Hi @caiomelo22 ,

Thank you for your interest in contributing!
Inline with common open source practices, we would like to no longer block and attribute issues, but rather invite anyone with a concrete proposal to simply submit a PR. No one likes duplicating work, but please consider that chances of concurrent PRs are low - especially for longer standing issues - and quality will trump over submiss

[2020-11-26 13:02] githubjakob opened #65550 "Support Slack Layout Blocks in Watcher Slack Alerts"
The Slack Action in Elastic Search allows to send notifications to Slack via a Slack Incoming Webhook.

Currently Slack Action supports sending notifications via `message.text` and `message.attachments`. [1]

Slack has a new way of formatting messages called "layout blocks" for their "Block Kit UI" [2] which is also supported in Slack Webhooks [3].

However, when I try to add the `message.blocks`

[2020-11-26 13:23] Omer-N commented on #55477
It really should be stated in the documentation that `tar.gz` version comes without this module.

[2020-11-26 13:59] #65511 closed

[2020-11-26 14:04] hendrikmuhs commented on #65542
The log indicates a problem with a thread pool:

[code]

The test uses the name of the "generic" threadpool, I wonder if that's the cause of the race. It should use a e.g. the test suite name as thread pool name.

[2020-11-26 14:16] romseygeek opened #65556 "Allow highlighting of runtime fields"
Runtime fields currently don't work with highlighting, for two reasons:

1) The Unified and Plain highlighters re-analyze their source data using the Analyzer configured on the index's IndexWriter.  This is currently set up to throw an error if we apply it to an unmapped field, which will trip on runtime fields.  We can fix this by allowing an optional `unmapped field analyzer` to be configured on

[2020-11-26 14:16] elasticmachine commented on #65556
Pinging @elastic/es-search (Team:Search)

[2020-11-26 14:19] #65541 closed

[2020-11-26 14:48] jimczi commented on #65556
That always felt wrong to me that we "re-analyze" or try to load fast vectors to simply highlight a keyword field.
So one simplification here could be to generalize the execution for keyword field (doesn't depend on the highlither type) and just check if the highlight query matches ? We don't need the offsets here since we want to highlight the entire value ?
Regarding runtime fields, I don't thin

[2020-11-26 14:52] johanmha commented on #27353
@DaveCTurner have there been any new discussion on the theme of a snapshot queue? I can see several people on the internet argue that it is better to simply take one large snapshot. However, one might as well argue that one large snapshot of the whole cluster leaves you vulnerable to user errors, for example someone manually deleting the container with snapshots, or to errors such as the snapshot

[2020-11-26 15:15] DaveCTurner commented on #27353
@johanmha I think the implementation is complete now so there's nothing left to discuss.

It's generally best to put all your snapshots in one repository rather than spreading them around, since it's going to be painful to reconstruct your cluster from multiple snapshots in different repositories after a disaster. There's no technical reason not to do this, it's just a bad idea. We can't really of

[2020-11-26 15:15] #65536 closed

[2020-11-26 16:57] #65434 closed

[2020-11-26 17:17] packetrevolt commented on #27353
The lack of some sort of snapshot queue is an ongoing problem for us.  It is to the point that if there was a third party plugin available we would buy it.

On average if we use a single big snapshot job it takes about 7 hours and runs at about 2TB per hour.  Different sets of data have regulatory or legal requirements for different sets of data which require different snapshot jobs and in actuali

[2020-11-26 17:45] RaphaelBoegel opened #65563 "Allow named queries inside of rescore queries."
[Named queries](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-request-named-queries-and-filters.html) help me to identify which part of the query hit. For normal queries, this works perfectly. However, queries named don't work inside of [rescore queries](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/filter-search-results.html#rescore). Using a named query inside

[2020-11-26 17:58] DaveCTurner commented on #27353
... or necessary? You can run snapshots in parallel these days.

[2020-11-26 18:35] kaliljoao commented on #21073
Hi guys, can I work on this issue?

[2020-11-26 19:54] Thlamz commented on #58139
I'm going to try to solve this one, I will open a PR soon.

[2020-11-26 21:07] PhaedrusTheGreek opened #65565 "Some queries don't work with wildcards on datastreams"
Testing on ES 7.10 in Elastic Cloud,

There seems to be some inconsistencies with wildcard recognition:

[code]

If i specify the datastream name explicitly, it works.

[2020-11-26 21:27] mbudge commented on #61185
Good idea.

The pipelines are too restrictive at the moment.

Beats is hogging the default pipeline forcing us to stick with logstash...

[2020-11-26 22:42] elasticmachine commented on #65565
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-26 22:42] dnhatn commented on #65565
@PhaedrusTheGreek This is expected. Datastreams are designed to store append-only data, and here you are deleting data. I hope you don't mind if I close this issue.

[2020-11-26 22:42] #65565 closed

[2020-11-27 00:01] Leaf-Lin commented on #57662
Just want to point out this could happen to APM as well.

https://www.elastic.co/guide/en/apm/server/current/configuration-template.html

`setup.template.overwrite` defaults to false.

[2020-11-27 02:31] gaobinlong opened #65566 "Forbid updating index.blocks.write to false for searchable snapshots index"
**Elasticsearch version**: master

**Plugins installed**: []

**JVM version (java -version)**: 14.0.1

**OS version (uname -a if on a Unix-like system)**: Mac OS 10.13.6

**Description of the problem including expected versus actual behavior**:

The setting  'index.blocks.write` of searchable snapshots index  defaults to `true`, but when we update it to `false`, and execute indexing API, then the

[2020-11-27 02:45] gaobinlong opened #65567 "ES process crash when restore an incompatiable snapshot"
**Elasticsearch version**: master

**Plugins installed**: []

**JVM version (java -version)**: 14.0.1

**OS version (uname -a if on a Unix-like system)**: Mac OS 10.13.6

**Description of the problem including expected versus actual behavior**:

When we restore an incompatiable snapshot againt the 8.0 version cluster, the es process crash. The snapshot is created in a 6.4.3 version cluster. I thin

[2020-11-27 03:42] gaobinlong opened #65568 "Remove index type in benchmark client"
**Elasticsearch version**: master

**Plugins installed**: []

**JVM version (java -version)**: 14.0.1

**OS version (uname -a if on a Unix-like system)**: Mac OS 10.13.6

**Description of the problem including expected versus actual behavior**:

The benchmark client still support index `type` now,  and [the url of bulk request](https://github.com/elastic/elasticsearch/blob/7f4ead91f3a7ef93fd564166

[2020-11-27 08:09] johanmha commented on #27353
Thanks for the prompt reply, and the clear cut advise!

[2020-11-27 08:59] jloisel opened #65569 "[8.0.0] `node.processors` is no longer allowed to exceed number of available processors"
I saw that `node.processors` is no longer allowed to exceed number of available processors. What if the number of available processors is wrongly detected by the JVM?

It's the case on our kubernetes cluster running on Rancher v2.x.x:

[code]

We have 6 cores / 12 threads Xeon machines, yet Elasticsearch which runs inside from your official docker image only detects `1` available processor.

I thi

[2020-11-27 10:20] DaveCTurner commented on #65249
We discussed this in the most recent team sync and decided to proceed. This change will block any folks that are inadvertently relying on today's lenience in their testing workflows, and we don't have a good way to determine who those people are, so the Cloud testing folks have requested an escape hatch to temporarily restore the lenient behaviour in case it's needed in an emergency. We'll introdu

[2020-11-27 11:08] h0lzi commented on #28619
I hit this problem today. Also.
Took me while to figure this out.
It is an easy fix and it would be nice if this can be fixed soon.

[2020-11-27 11:45] mbudge opened #65570 "Set the start checkpoint time when starting a Data Transform"
Hi,

We are starting to use Data Transforms to aggregate data we display in dashboards. However, when we first start the transform it starts processing data from the start of the index. The indexes store large columns of event data and most are frozen. When we create the transform it takes 1 hour for the transform to appear in the UI (after validation has finished). The first checkpoint takes ages

[2020-11-27 11:48] eedugon opened #65571 "Provide option for Windows Service PID file location (currently placed at logs directory)"
When installing [Elasticsearch in windows](https://www.elastic.co/guide/en/elasticsearch/reference/current/zip-windows.html) and the service is created there's no way to configure the location of the PID file.

This is controlled by the Apache Deamons service wrapper see the `--pidFile` argument here.
https://github.com/elastic/elasticsearch/blob/master/distribution/src/bin/elasticsearch-service.b

[2020-11-27 11:50] mbudge opened #65572 "Update the source and destination index and re-run a batch Data Transform"
We want to use batch transforms to summaries data until rollups v2 is released.

This means we will have to delete the the batch transform so we can update the settings and re-run it.

It would be good if we could update the settings when the batch transform is stopped.

[2020-11-27 13:49] DaveCTurner commented on #27353
This conversation isn't really on-topic for a Github issue so I suggest we continue it over on the [discussion forum](https://discuss.elastic.co/c/elastic-stack/elasticsearch/6). I won't be replying here any more, but feel free to link to your forum thread below.

[2020-11-28 01:22] harshahst commented on #52836
Yes, it is working - however cluster switch very slow even when I use 5ms for keepAliveStrategyMillis.
Say we have EAST and WEST Data Centers with 3 clusters each and behind GSLB.
When I keep refresh actuator /health check w.r.t. Spring Boot in WEST - cluster switch is very very slow.

[code]

[2020-11-29 08:32] DaveCTurner commented on #52146
For the benefit of future readers, the Lucene issue mentioned above can affect a variety of other operations (notably refreshes, and therefore things that block on refreshes like flushes). It only bites if you are repeatedly updating a very small set of document IDs. In most of the cases of this that I've encountered, this was ultimately caused by a client-side bug in how document IDs were generat

[2020-11-29 13:59] bhavya121999 commented on #65496
@javanna it's been some time now. Did you get a chance to go through my PR, looking forward to get feedback from you.

[2020-11-30 00:11] vjt commented on #57349
Hi, I encountered this issue on 7.5 and I was successful in using the `reindex` API to reindex the corrupt index to a new one with no data loss.

[2020-11-30 01:00] kaliljoao commented on #14266
Hy guys, can I work on this issue?

[2020-11-30 02:55] kunisen opened #65577 "[Bug] ES 7.10 cannot pass environment variable to setup a coordinating only node"
**Elasticsearch version** (`bin/elasticsearch --version`):

ES 7.10

**Plugins installed**:

N/A

**JVM version** (`java -version`):

Bundled JDK

**OS version** (`uname -a` if on a Unix-like system):

MacOS

**Description of the problem including expected versus actual behavior**:

I have this setting.
I want to pass $ENV_VAR to start it as coordinate only node.

[code]

When I set $ENV_VAR to `"

[2020-11-30 02:55] elasticmachine commented on #65577
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2020-11-30 06:11] elasticmachine commented on #65572
Pinging @elastic/ml-core (:ml/Transform)

[2020-11-30 06:13] elasticmachine commented on #65571
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2020-11-30 06:13] elasticmachine commented on #65570
Pinging @elastic/ml-core (:ml/Transform)

[2020-11-30 06:28] henningandersen commented on #65569
@jloisel newer versions of java do try to calculate the available processors within a container correctly, at least if using quota and not shares. When using cpu shares java divides shares by 1024, which can lead to issues like the above. I believe you have at least 3 options for improving this:

1. Use [--cpus=12](https://docs.docker.com/config/containers/resource_constraints/) when starting dock

[2020-11-30 06:28] #65569 closed

[2020-11-30 06:32] elasticmachine commented on #65568
Pinging @elastic/es-perf (Team:Performance)

[2020-11-30 06:33] elasticmachine commented on #65567
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-30 06:34] elasticmachine commented on #65566
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-30 06:37] elasticmachine commented on #65563
Pinging @elastic/es-search (Team:Search)

[2020-11-30 07:14] dorony opened #65578 "Java Low Level Rest Client: MaxConnTotal should depend on the number of sniffed nodes"
Currently the RestClient defaults to 30 connections:
https://github.com/elastic/elasticsearch/blob/master/client/rest/src/main/java/org/elasticsearch/client/RestClientBuilder.java#L46

For bigger clusters you need to manually modify the connection count, or you get increased latency because the pool size is too small. This is quite manual and easy to forget when the cluster size increases. It'd be

[2020-11-30 07:32] bpintea opened #65579 "SQL: enable adding missing equals to bool fields"
Enable QL's new `AddMissingEqualsToBoolField()` rule into SQL as well.
This is a https://github.com/elastic/elasticsearch/pull/65325 followup.

[2020-11-30 07:32] elasticmachine commented on #65579
Pinging @elastic/es-ql (Team:QL)

[2020-11-30 09:07] elasticmachine commented on #55477
Pinging @elastic/es-docs (Team:Docs)

[2020-11-30 09:09] hendrikmuhs commented on #65570
@mbudge The recommended way for this problem is defining a query with a lower boundary, e.g. a `range` query with `gte {timestamp}` as part of the `source` definition.

When elasticsearch runs the query it will prune shards from the requests in the "can match" phase. Best to my knowledge it does not forward search requests to cold tiers in that case, meaning shards that hold data that is older tha

[2020-11-30 09:20] hendrikmuhs commented on #65572
@mbudge Can you elaborate what you mean with "settings"?

If you use the UI, you can "clone" a transform, this opens the wizard with the configuration of the transform to clone.

Source and dest can be changed using `_update`, however it is right now not possible to re-run a transform. This would require to re-set checkpoints.

If you explain your usecase in more detail, we might be able to help f

[2020-11-30 09:23] hendrikmuhs commented on #65240
fixed by #65252

[2020-11-30 09:23] #65240 closed

[2020-11-30 09:36] davidkyle commented on #65543
Muted on the master branch in #65581. Windows only

[2020-11-30 10:04] droberts195 commented on #39187
Following #65561 the new tiebreaker field will enable unique ordering for a given source index.  However, it's important to note that the index must remain untouched between test runs.  So two indices that contain exactly the same documents, for example because they've been populated from the same CSV file, will not necessarily sort in the same order using the tiebreaker of #65561.

This would see

[2020-11-30 10:13] pugnascotia commented on #65246
I tried replicating this in a CentOS 7 VM, and in Docker running inside the CentOS 7 VM, but I didn't see the exception reported here.

[2020-11-30 10:38] davidkyle commented on #65544
The `{index}/_rollup` endpoint is hidden behind a feature flag

https://github.com/elastic/elasticsearch/blob/06da3d7bbc97c2a3159c1f2390a848dd3e3962b7/x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/Rollup.java#L132

Hence only the release tests are failing.

I'm will mute as the failures are noisy.

[2020-11-30 10:49] johanmha commented on #27353
Link to discussion forum as requested:
https://discuss.elastic.co/t/taking-several-snapshots-in-parallell/257054

[2020-11-30 10:54] davidkyle commented on #62716
Still failing twice a day: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/

@mark-vieira could we possibly mute this build failure please? I'm sure everyone who has to cover test triage would appreciate it thanks.

[2020-11-30 11:03] elasticmachine commented on #65550
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-30 11:09] davidkyle opened #65589 "[CI] DeprecationHttpIT testDeprecationMessagesCanBeIndexed failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/bwy2xfbyj7cmw

**Repro line**:
 ./gradlew ':x-pack:plugin:deprecation:qa:rest:javaRestTest' --tests "org.elasticsearch.xpack.deprecation.DeprecationHttpIT.testDeprecationMessagesCanBeIndexed" \
  -Dtests.seed=13BA8502B5373C05 \
  -Dtests.security.manager=true \
  -Dtests.locale=ro-RO \
  -Dtests.timezone=Asia/Kashgar \
  -Druntime.java=11

**R

[2020-11-30 11:09] elasticmachine commented on #65589
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-30 11:35] davidkyle commented on #65064
Another with the same expected 1 got 2 error.

https://gradle-enterprise.elastic.co/s/djjpedognvktm/console-log?task=:x-pack:plugin:watcher:internalClusterTest

Muted on master in #65592

[code]

[2020-11-30 11:40] Mamta92 opened #65593 "ElasticSearch - Sort by another field which is not mentioned in field section aggregation query"
I want to perform aggregation on a certain results and then sort it. While aggregation query works fine. We want to sort the results based on another parameter and not the aggregated field. Say for example I want to aggregate by StudyAggregation field but sort by StudyDescription field (returned from the top hits):-
`{
    "size": 0,
    "from": 0,
    "query": {
        "bool": {
            "mus

[2020-11-30 11:45] Venorcis commented on #56671
We're experiencing this issue too, completely preventing us from shrinking 'old' indexes.

[2020-11-30 11:49] hendrikmuhs opened #65594 "[Transform] Add support for ignore_throttled"
Transform can not query frozen indexes as it requires the `ignore_throttled` parameter at search. A user should be able to decide whether to query frozen indexes.

Other search parameters might be of interest as well.

[2020-11-30 11:49] elasticmachine commented on #65594
Pinging @elastic/ml-core (:ml/Transform)

[2020-11-30 12:04] #65567 closed

[2020-11-30 12:30] droberts195 commented on #65594
`ignore_throttled` is one of the `indices_options`.  So it would be nice to implement the configuration of this similarly to #52793 for consistency.

[2020-11-30 12:31] benwtrent commented on #65364
The task should have definitely ended. Especially since this was during the snapshot writing phase.

[2020-11-30 12:49] Celend commented on #40136
Any progress?

[2020-11-30 13:30] elasticmachine commented on #65537
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-30 13:31] elasticmachine commented on #65533
Pinging @elastic/es-search (Team:Search)

[2020-11-30 13:33] elasticmachine commented on #65589
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2020-11-30 14:06] not-napoleon commented on #58139
@Thlamz Cool, let me know if you need any help.  Also, this doesn't have to happen as one big push; we can clean up factories one by one as needed.

[2020-11-30 14:11] cbuescher commented on #65593
Hi @Mamta92 Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2020-11-30 14:11] #65593 closed

[2020-11-30 14:18] sindhusp commented on #63784
Hi @Moe82, are you working on this?

[2020-11-30 14:30] #65537 closed

[2020-11-30 14:35] Thlamz commented on #58139
@not-napoleon I opened a PR with what I could figure out. Most factories and aggregators did the exact same thing on createUnmapped and had the exact same null checks. I was able to clean them out (I think). Any factory that did anything special on createUnmapped I left alone. It would be helpful if you could take a look at my PR and tell me if I had the right idea of if I got everything completel

[2020-11-30 14:42] nik9000 opened #65612 "Can we avoid blocking the search thread pool when coalescing requests in the cache?"
If we *can* cache a `ShardSearchRequest` we attempt to coalesce multiple requests with the same key. This saves a bunch of IO and CPU which is great. But it blocks the thread. Could we do this async and let go of the thread if we're coalescing?

[2020-11-30 14:42] elasticmachine commented on #65612
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-30 14:51] davidkyle commented on #64167
Reopening this issue with a new failure: https://gradle-enterprise.elastic.co/s/kdj3bgnfwrceg/console-log?task=:x-pack:plugin:ccr:internalClusterTest

[code]

Build stats shows that there has been a few failures recently: https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-

[2020-11-30 14:57] davidkyle opened #65614 "[CI] ActiveDirectoryRealmTests testAuthenticateCachesSuccessfulAuthentications failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/x4kmxhrirowya

**Repro line**:
 ./gradlew ':x-pack:plugin:security:test' --tests "org.elasticsearch.xpack.security.authc.ldap.ActiveDirectoryRealmTests.testAuthenticateCachesSuccessfulAuthentications" \
  -Dtests.seed=1AB50D910E1DF1E \
  -Dtests.security.manager=true \
  -Dtests.locale=be \
  -Dtests.timezone=Antarctica/South_Pole \
  -Druntim

[2020-11-30 14:57] elasticmachine commented on #65614
Pinging @elastic/es-security (Team:Security)

[2020-11-30 15:05] davidkyle commented on #65267
Another https://gradle-enterprise.elastic.co/s/7vmpegykf2cfy

In fact it fails regularly, muting on master and 7.x

 https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:SegmentsStatsTests),sort:!(time,desc))

[2020-11-30 15:47] Moe82 commented on #63784
hi @sindhusp , not at the moment. Was planning on resuming mid December after my school semester ends. But feel free to work on it. If you can't figure it out by then, please let me know.

[2020-11-30 15:49] dhds opened #65618 "SQL: Incorrect datetime conversion"
<!--
GitHub is reserved for bug reports and feature requests; it is not the place
for general questions. If you have a question or an unconfirmed bug , please
visit the [forums](https://discuss.elastic.co/c/elasticsearch).  Please also
check your OS is [supported](https://www.elastic.co/support/matrix#show_os).
If it is not, the issue is likely to be closed.
**Elasticsearch version** (`bin/elastic

[2020-11-30 15:49] #65618 closed

[2020-11-30 15:49] dhds commented on #65618
error on submit

[2020-11-30 16:21] elasticmachine commented on #65578
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-11-30 16:34] willronchetti commented on #64837
Just want to pop in here and let you guys know that our system https://github.com/4dn-dcic/fourfront, https://data.4dnucleome.org/ experiences exactly the same regression Keenan is describing. We are running ES 6.8 in AWS ElasticSearch Service in production. Our system, like theirs, allows you to define documents with object fields and fields that link to other objects (and potentially embed field

[2020-11-30 17:12] jtibshirani commented on #65556
@romseygeek can this be closed now that #65560 is merged? Also checking we aren't missing required refactors/ new functionality in `ValueFetcher`?

[2020-11-30 17:25] not-napoleon commented on #58135
@kaliljoao Sounds good, let me know if you need any help! (Sorry for the slow reply - I was out of office last week)

[2020-11-30 17:28] talevy opened #65621 "Rename RollupV2 to be more representative of the new RollupAction naming"
#42720 represents an update to Rollups wherein there will exist a dedicated Rollup Action along with a Rollup ILM action. Internally, this was nicknamed RollupV2. There are a few references to this in the codebase

- the rollup/v2 package
- the RollupV2Indexer
- the RollupV2 class
- the `es.rollup_v2_feature_flag_enabled` system property

these need to drop the V2 to be more descriptive of the fin

[2020-11-30 17:28] elasticmachine commented on #65621
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-30 17:29] imotov commented on #62266
@danelowe any updates on this one? I think the second example could have been caused by a combination of shingles and sampler agg, not really sure why `storage` is not excluded in the first example, but I still cannot reproduce it.

[2020-11-30 17:51] imotov opened #65623 "Add support for multi-field keys to terms aggs"
There is a need in kibana (see https://github.com/elastic/kibana/issues/77632) to dynamically form a key from multiple ordered fields, similar to composite aggs. The example that kibana team provided is to find top 10 cpu users, where each user is identified by a compound key consisting of datacenter id, host id, and container id. The required result is 3 keys and cpu usage metric with everything

[2020-11-30 17:51] elasticmachine commented on #65623
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-30 18:00] tberne opened #65624 "Strange (wrong?) behavior with date histogram aggregation in a field that is inside a nested object (Elasticsearch 7.10.0)"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.10.0 (Docker)

**Plugins installed**: [Analysis-ICU]

**JVM version** (`java -version`): (the one from Docker image)

**OS version** (`uname -a` if on a Unix-like system): (the one from Docker image)

**Description of the problem including expected versus actual behavior**:

Date history aggregation returns strange (wrong) number of buck

[2020-11-30 18:11] tberne commented on #65624
I've made a [post](https://discuss.elastic.co/t/strange-behavior-with-date-histogram-aggregation-in-a-field-that-is-inside-a-nested-object-elasticsearch-7-10-0/256823) in forums about this problem also.

[2020-11-30 18:59] nik9000 opened #65629 "TranslogTests.testTotalTests reproducible failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/6z2jx2cmxznmy/tests/:server:test/org.elasticsearch.index.translog.TranslogTests/testTotalTests#1

**Repro line**:
[code]

**Reproduces locally?**:
Yeah.

**Applicable branches**: master

**Failure history**:
Started late November 27th
https://build-stats.elastic.co/goto/9ecf4b5a53180458464d29be3631906e

**Failure excerpt**:

[2020-11-30 18:59] elasticmachine commented on #65629
Pinging @elastic/es-distributed (Team:Distributed)

[2020-11-30 19:18] rjernst commented on #65571
Using an environment variable might be confusing since Elasticsearch itself supports a pidfile setting, though it's not useable here since java service control is using it to implement the stop command (from what I can tell).

[2020-11-30 19:18] elasticmachine commented on #65571
Pinging @elastic/es-delivery (Team:Delivery)

[2020-11-30 19:44] nik9000 commented on #62769
I can too! I'll dig.

[2020-11-30 20:09] sindhusp commented on #63784
@tvernum Can you please review my PR for this issue?
Also, I signed the Contributor Agreement successfully, but that check is failing on my PR. Any thoughts on what I could do to verify the signing?

[2020-11-30 20:10] BigPandaToo commented on #51989
This specific AssertionError happened to many tests (all using TestCluster), but haven't happened since Oct 10th. Probably, but not confirmed) fixed by [this commit](https://github.com/elastic/elasticsearch/commit/2b5e337e8940d8027b10612a3b5cbd3c39fd84e2).
Ather failures of this test (NoNodeAvailableException) happened last time on Nov 10th correlate well with other tests failing with the same exc

[2020-11-30 20:14] #51989 closed

[2020-11-30 20:19] rjernst commented on #65577
There are a couple issues here. I don't believe any of these are new in 7.10.

This is expected. Any text of the form `${FOO}` expects a substitution to exist for `FOO` and will error if it does not exist.

IIRC these are side effects of the internal representation of parsed settings. All settings are parsed into a flat String to String map. This means lists must be serialized into a String, and t

[2020-11-30 20:45] elasticmachine commented on #65624
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-11-30 20:48] #62769 closed

[2020-11-30 20:57] webmat opened #65636 "Add the ability for Elasticsearch to calculate and index the length of a string field"
I would love to have the option of having Elasticsearch calculate the length of a string field, via a mapping setting.

There are many situations where having the string length is useful. The one I’m most interested in is the first:
* Analyzing potentially suspicious content:
	* detecting DNS tunnelling based on DNS question / answer length
	* long shell command line indicating automated execution

[2020-11-30 21:56] nik9000 commented on #65624
That wasn't simple to reproduce but something is certainly up here. I think its related to #62983. I was able to boil it down to something like:
[code]

It has something to do with the index that doesn't have the mapped nested field. I wonder if we're doubling up the offset somehow when we are in the "unmapped" case.

[2020-11-30 22:27] #65629 closed

[2020-11-30 23:03] danelowe commented on #62266
[code]

[2020-11-30 23:05] Aqualie opened #65639 "Failed to index event containing name root"
**Elasticsearch version** (`bin/elasticsearch --version`):  7.9.2

**Plugins installed**: []

**JVM version** (`java -version`): 15+36-1562

**OS version** (`uname -a` if on a Unix-like system): 5.6.13

**Description of the problem including expected versus actual behavior**:

Sending audit logs to Logstash 7.10 over syslog tcp which is indexing events to elasticsearch. When any audit event contai

[2020-11-30 23:06] danelowe commented on #62266
Result

[code]

[2020-11-30 23:48] #65405 closed

[2020-11-30 23:54] imotov commented on #62266
Sorry about that. I tested it with 2 development branches and couldn't reproduce the issue. The issue was indeed there in 7.9 but it was fixed in #64520. So it works as expected in master and 7.10.0. Closing.

[2020-11-30 23:54] #62266 closed

[2020-12-01 00:04] wushifeng commented on #65246
1 NoClassDefFoundError
On centos it's ok, but on https://www.deepin.org/zh/download/ this os, it has problem.

2 cannot compute used swap when total swap is 0 and free swap. this problem can ben found in this
https://discuss.elastic.co/t/warn-in-logs-cannot-compute-used-memory-swap/244417
It's a jdk's bug

[2020-12-01 00:04] #65246 closed

[2020-12-01 00:22] kunisen commented on #65577
Thanks for the quick and detailed pointers!! @rjernst

[2020-12-01 00:48] rjernst commented on #65589
@pugnascotia Can you take a look at this? Perhaps the read of the deprecation index needs to wait on a refresh?

[2020-12-01 06:31] getkub opened #65656 "EQL: Features similar to Splunk's SPL"
#### EQL's missing quite lot of funtionality compared to SPL. This feature request is to embed some of them if possible

Splunk's SPL is far too advanced compared to EQL.  SPL is very easy to use, intutive and easy to learn too.
The aim of this feature request is some key functionality to be made similar to SPL

Some suggestions include in order of importance
- Aggregations function like stats, ev

[2020-12-01 08:37] wolframhaussig opened #65658 "Allow forcing a limit on api keys"
Currently, the expiration of api keys can be provided at creation time. If the expiration is not provided the api key will never expire:

Similiar to [this password strength issue](https://github.com/elastic/elasticsearch/issues/29913) and the token setting `xpack.security.authc.token.timeout` I would like to have the option to specify the maximum lifetime of an api key:
If the administrator sets

[2020-12-01 09:11] romseygeek commented on #65556
I think it's worth exploring changing the ValueFetcher to take a LeafSourceLookup, but that's a separate issue so I'll close this one.

[2020-12-01 09:11] #65556 closed

[2020-12-01 09:54] supasteev0 opened #65661 "Snapshot creation with wait_for_completion: response time longer than snapshot duration"
**Elasticsearch version**:
7.10.0

**Plugins installed**:
repository-s3

**JVM version**:
openjdk version "15.0.1" 2020-10-20

**Description of the problem including expected versus actual behavior**:
When executing a snapshot creation command with wait_for_completion=true query parameter, I noticed that the response is returned much later than the effective snapshot duration.
Indeed, the response

[2020-12-01 09:57] #65499 closed

[2020-12-01 11:05] ChrisSamo632 opened #65667 "Elasticsearch index_template does not accept comma separate list of templates to retrieve"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.9.3 (Docker)

**Plugins installed**: [repository-s3, analysis-phonetic`]

**JVM version** (`java -version`): openjdk version "15" 2020-09-15

**OS version** (`uname -a` if on a Unix-like system): Linux elasticsearch-0 4.19.128-flatcar #1 SMP Tue Jun 16 10:17:17 -00 2020 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem includi

[2020-12-01 11:13] sebelga opened #65669 "[Runtime fields] Error handling - painless syntax errors"
When there is an error in the painless syntax of a runtime field script, the same error is duplicated across all indices (if the search was done against multiple indices).

It would be nice to have a better summary of the error returned by ES to be able to differentiate an error on a specific index/shard vs an error in painless syntax (missing parentheses, unknown function...) that is common to al

[2020-12-01 11:15] elasticmachine commented on #65669
Pinging @elastic/es-search (Team:Search)

[2020-12-01 11:18] javanna commented on #65669
Thanks for opening this issue! We de-duplicate the errors, but we group them by index, which in this case may not be enough. This error is particularly odd as the root cause above in the response should give a nice summary, but in this case it does not contain the index name, so we end up repeating the same error twice in the array which is not desirable. Also, for the summary to be useful, it sho

[2020-12-01 11:44] dimitris-athanasiou commented on #65414
I would like to add a suggestion for this one. It is very complex to properly restore data counts with the snapshot as data counting is decoupled from the process. As we stand today, counts won't be correct when a snapshot reversion happens.

A simple and straightforward solution would be to reset counts when a model snapshot reversion occurs. The data counts will always be correct from the revers

[2020-12-01 12:35] #63400 closed

[2020-12-01 12:51] #65364 closed

[2020-12-01 13:17] SLavrynenko opened #65676 "query_string with default_operator doesnt work on lists of integer"
**Elasticsearch version** Version: 7.7.0

**Description of the problem including expected versus actual behavior**:
To recreate the issue you need a simple index with the field:

[code]

then try to run the following query:

[code]

and you will get the following exception:

[code]

Same query works fine on ElasticSearch with version 2.4
I dont see any restrictions in the documentation for this ty

[2020-12-01 13:33] droberts195 commented on #65414
But I think the problem with this being the long term solution is that with the change of #65630 not all reversions are triggered by an end user.  So from the end user's perspective "reset counts when a model snapshot reversion occurs" becomes "reset counts occasionally without any predictable pattern".  This makes the data counts useless for any sort of external monitoring.  The combination of #6

[2020-12-01 14:52] jloisel commented on #65569
Thanks for the clarification. We're not using any quota setting. We have other java containers based on openjdk which detect the CPU count well. Elasticsearch is the only container which only detect 1 cpu. I thought it would be worth investigating why, given no quotas / limitation is in place, the CPU count is detected wrongly.

The solutions will work, but I don't understand why I have to do that

[2020-12-01 14:55] jloisel commented on #65569
I should mention that "nproc" command inside the container returns the right number of CPU cores (`12` in our case).

[2020-12-01 15:22] bpintea opened #65685 "Incorrect pagination with unsigned long in comp agg"
Doing a composite terms agg on an `unsigned_long` field seems to exhibit some inconsistent behaviour:
- it can either not return all the terms; or
- it can return excess values and "get stuck" on the `search_after` key.

With test mapping:
[code]
and data
[code]
running:

1. the following query with a narrow `size` window (of 2):
[code]
will correctly return the first two buckets for `0`, `1` and

[2020-12-01 15:22] elasticmachine commented on #65685
Pinging @elastic/es-search (Team:Search)

[2020-12-01 15:26] hendrikmuhs commented on #52931
The last failure gives us a hint, thanks to the extended logging:

usage counters:
[code]

test_usage/_stats:
[code]

test_usage_continuous/_stats
[code]

Usage returns a sum for all fields, this seems to work, except for `trigger_count`. The sum is 3 (2 + 1), but usage returns 2 (1+1, both _must_ have been triggered at least once)

The difference between the `_stats` calls and the `_usage` calls

[2020-12-01 16:25] DaveCTurner opened #65688 "HistoryTemplateEmailMappingsTests.testEmailFields failure in CI"
**Build scan**: https://gradle-enterprise.elastic.co/s/r5l7htjefbfkm/console-log?task=:x-pack:plugin:watcher:internalClusterTest

**Repro line**: `./gradlew ':x-pack:plugin:watcher:internalClusterTest' --tests "org.elasticsearch.xpack.watcher.history.HistoryTemplateEmailMappingsTests.testEmailFields" -Dtests.seed=D2DECCA5D6646B13 -Dtests.security.manager=true -Dtests.locale=en-NZ -Dtests.timezone=

[2020-12-01 16:25] elasticmachine commented on #65688
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-12-01 17:49] #63680 closed

[2020-12-01 17:55] soarescaique commented on #62449
Hey guys, Can I get this issue resolved?

[2020-12-01 18:20] benwtrent opened #65699 "[ML] MlClientDocumentationIT » testUpgradeJobSnapshot test failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/yq64twaqji5ls
**Repro line**:

./gradlew ':client:rest-high-level:asyncIntegTest' --tests "org.elasticsearch.client.documentation.MlClientDocumentationIT.testUpgradeJobSnapshot" -Dtests.seed=405C93BF373B9C65 -Dtests.security.manager=true -Dtests.locale=ja-JP -Dtests.timezone=Australia/Darwin -Druntime.java=11 |  
 

**Reproduces locally?**:

*

[2020-12-01 18:20] elasticmachine commented on #65699
Pinging @elastic/ml-core (:ml)

[2020-12-01 18:42] mbudge commented on #65570
Hi,

The frozen indexes are in the code phase, but they were still unfreezing when we started the transform.

We have a bunch of transforms which use the range query to do sliding window, and the transforms work great for those use cases.

However, when the range query is in the transform the first seen timestamp is always at the start of the sliding window. If we don't want the first seen/minimum

[2020-12-01 18:48] mbudge commented on #65572
Hi,

Forgot we can clone the transform and update the index.

I guess it could be useful to do all this via the API so the process could be automated.

Closing ticket as we can use the clone feature for now.

Thanks

[2020-12-01 18:48] #65572 closed

[2020-12-01 19:00] mark-vieira commented on #53121
This should be sorted out by #65510.

[2020-12-01 19:00] #53121 closed

[2020-12-01 19:01] soarescaique commented on #51482
Can I work on this?

[2020-12-01 19:17] soarescaique commented on #65621
Can I work on this? It's a a good issue

[2020-12-01 20:09] mark-vieira opened #65703 "Integrity of Elasticsearch distributions should be verified on startup"
There are a number of assumptions within various parts of Elasticsearch that assume the existence of certain modules, or rather, the behavior of Elasticsearch with certain modules missing is not something we can reliably guarantee. To ensure that users have a predictable experience we should validate the integrity of the current Elasticsearch distribution. The first step of this will be to assert

[2020-12-01 20:09] elasticmachine commented on #65703
Pinging @elastic/es-delivery (Team:Delivery)

[2020-12-01 20:40] #63690 closed

[2020-12-01 20:51] #62716 closed

[2020-12-01 20:53] nik9000 commented on #65483
The way we flatten the data at index time makes getting those kinds of pairs difficult. If you wrote the tags as a single value, like `grandparent|parent|child` you could just do a normal terms agg. The trouble with what you have is that to accurately get the tag tree you kind of have to go back to `_source` and that'd make the agg very slow. You could do a multi-level terms agg if there were only

[2020-12-01 20:56] nik9000 commented on #65483
For what it is worth this *could* be similar to #65623, but it might not be. I'm not 100% sure how #65623 will handle multi-valued fields. Iterating the values in lock-step is kind of a dangerous thing to assume is right.

[2020-12-01 20:56] nik9000 commented on #65624
The tar.gz reproduction had a bunch of red herrings - icu, a couple of extra indices with complex configuration and a bunch of unrelated documents.

[2020-12-01 21:00] tberne commented on #65624
@nik9000 , the tar.gz I've generated was with a Junit test execution. That's why it has some strange naming. This was the cleaner I could reach with a reproducible scenario without spending much time.
Sorry for that.

[2020-12-01 21:37] talevy commented on #65621
hi @soarescaique, sure! Just to make it clear, this is not an OSS feature, and these changes will be made in Elastic-licensed code. Feel free to try out a PR and let me know if you have any questions. This is not an urgent task, but it would be nice to have it done soon. For example, I was hoping to do this next week 😄. We appreciate the help! If you're up for it, I'll re-assign it to you

[2020-12-01 21:51] nik9000 commented on #65624
No big deal! I got to it. It took longer to prune the bug down to a more minimal reproduction then it took to actually fix it.

[2020-12-01 22:57] arielzach commented on #64427
What can be the cause of this?

![image](https://user-images.githubusercontent.com/64101789/100806476-49aa8d80-340f-11eb-910e-3be299719540.png)

![image](https://user-images.githubusercontent.com/64101789/100806561-6e066a00-340f-11eb-92d4-3c605ddd817c.png)

[2020-12-01 23:26] jimczi commented on #64427
What can be the cause of this?

Very large shards that are scrolled or queried concurrently while updates/deletes are applied on the index.
Do you know where all these contexts are coming from ? Is it from concurrent scroll requests hitting  the same index ?
The memory needed for an active context depends on the refresh interval of the index. So if you refresh too often (every second by default),

[2020-12-01 23:39] ywangd opened #65708 "[CI] SearchableSnapshotActionIT and LifecycleLicenseIT failures"
**Build scan**:
* https://gradle-enterprise.elastic.co/s/gmdfxe22ipgea
* https://gradle-enterprise.elastic.co/s/7m3cdjksuekuo

**Repro line**:
There are 6 tests failures:
* org.elasticsearch.xpack.ilm.LifecycleLicenseIT testCreatePolicyUsingActionAndNonCompliantLicense
* org.elasticsearch.xpack.ilm.actions.SearchableSnapshotActionIT testRestoredIndexManagedByLocalPolicySkipsIllegalActions
* org.el

[2020-12-01 23:39] elasticmachine commented on #65708
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-12-02 00:06] ywangd opened #65710 "MlDistributedFailureIT testClusterWithTwoMlNodes_RunsDatafeed_GivenOriginalNodeGoesDown failure"
**Build scan**:
* https://gradle-enterprise.elastic.co/s/owwgiqfcfvmpm
* https://gradle-enterprise.elastic.co/s/szmkmg6lirwbs
* https://gradle-enterprise.elastic.co/s/el775yclzmwtu

**Repro line**:

**Reproduces locally?**:
No.

**Applicable branches**:
7.x.
It fails at master branch as well, but with a different error message. I am not sure whehther they are related.
The build scan for master bra

[2020-12-02 00:06] elasticmachine commented on #65710
Pinging @elastic/ml-core (:ml)

[2020-12-02 01:29] ywangd commented on #52416
Another one: https://gradle-enterprise.elastic.co/s/plgo6plomydn2
[code]

The exact line (339) where it failed is different from the above failures. But they are from the same test suite.

[2020-12-02 01:55] elasticmachine commented on #65658
Pinging @elastic/es-security (Team:Security)

[2020-12-02 01:55] soarescaique commented on #65621
Sure! I was hoping to it by this weekend. Thank you for the assign. Just to clarify, what would be the best descriptive name to these changes? Since we already have a Rollup class.

[2020-12-02 02:00] tvernum commented on #65658
It is unlikely that we will do this with a global setting.
Features such as [Kibana Alerting and Actions](https://www.elastic.co/guide/en/kibana/7.10/alerting-getting-started.html) and [Fleet](https://www.elastic.co/guide/en/fleet/7.10/index.html) depend on API Keys and would be significantly complicated if they needed to accommodate such local policies.

We _might_ at some future time, expand the

[2020-12-02 02:13] soarescaique commented on #50379
Can I work on this? Would be a great issue.

[2020-12-02 02:37] dnhatn commented on #64773
I took a look at the failure. However, the log of the test cluster is no longer available. Let's close this issue and reopen it when it happens again.

[2020-12-02 02:37] #64773 closed

[2020-12-02 03:30] zundaren opened #65712 "QueryBuilders query wants to add lamba expressions"
like this

QueryBuilders<Entity>.matchQuery(Entity::id, "123")

[2020-12-02 04:18] soarescaique commented on #63527
Can I work on this? Since it's still opened?

[2020-12-02 05:01] ywangd commented on #65710
Failed again on master: https://gradle-enterprise.elastic.co/s/d6zbf4tff4gji

As mentioned previously, failure on master branch has a different error message:
[code]

[2020-12-02 05:40] mattkime commented on #59581
Closing, no longer needed.

[2020-12-02 05:40] #59581 closed

[2020-12-02 05:48] ywangd opened #65713 "[CI] UncaughtExceptionError for AssertionError in IndexShard getTimestampMillisRange"
**Build scan**:
* https://gradle-enterprise.elastic.co/s/lkbq4k3nc7kdm
* https://gradle-enterprise.elastic.co/s/oayikqrvplwkw
* https://gradle-enterprise.elastic.co/s/4kisrgnxsynno

**Repro line**:

**Reproduces locally?**:
No

**Applicable branches**:
master

**Failure history**:
Two different test methods, `IndicesServiceTests  testDanglingIndicesWithAliasConflict` and `DataStreamIT
 testCreatin

[2020-12-02 05:48] elasticmachine commented on #65713
Pinging @elastic/es-distributed (Team:Distributed)

[2020-12-02 06:36] RicardoGralhoz commented on #48413
Hey Dave,

I found this related exception on v7.8.1 when running diagnostics tool to try to debug an unassigned shard issue. Would you like me to share the support diagnostics file or should I open a new discussion on the forum, instead?

**cluster_stats.json** :

[code]

Thanks!

[2020-12-02 07:16] gaobinlong opened #65714 "Enhance shrink action in ILM to specify max single primary shard size"
**Elasticsearch version**: master

**Plugins installed**: []

**JVM version (java -version)**: 14.0.1

**OS version (uname -a if on a Unix-like system)**: Mac OS 10.13.6

**Description of the problem including expected versus actual behavior**:

Today in the `shrink` action of ILM, we can only set `number_of_shards` to a certain value which is a factor of the number of shards in the source index.

[2020-12-02 07:59] kender1314 opened #65716 "addr is of illegal length"
**elasticsearch version**: 7.9.1
**elasticsearch command**:
[code]

**error repose**:
[code]
The field type of ip1 and ip2 is ip type.

I conducted some tests. When I shorten the time range to query, the query results can be returned normally, but the ipv6 values in the ip1 and ip2 fields are garbled.
This is part of the result
[code]

Our last version used 7.6.2, and there is no problem with this

[2020-12-02 08:01] jimczi commented on #65676
This is expected since https://github.com/elastic/elasticsearch/pull/25646.
You need to separate your number with logical operators or use a [`keyword`](https://www.elastic.co/guide/en/elasticsearch/reference/current/keyword.html#keyword-params) field with `split_queries_on_whitespace` set to true.

[2020-12-02 08:01] #65676 closed

[2020-12-02 09:13] droberts195 commented on #64225
Closed by #65195

[2020-12-02 09:13] #64225 closed

[2020-12-02 09:14] romseygeek opened #65718 "ClientYamlTestClient can send too-long requests"
Our YAML tests will randomly try and send a request body as a URL-encoded set of query parameters instead.  There is a hard limit on how long an HTTP query string can be, and so the method `ClientYamlTestClient#sendBodyAsSourceParam` checks the size of the body and aborts if it is too long.  However, this check does not take into account URL encoding, which means that a request body containing a l

[2020-12-02 09:29] jloleysens opened #65719 "Bulk response sizes can grow dangerously"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.9.3

**Plugins installed**: []

**Description of the problem including expected versus actual behavior**:

When processing a bulk a request the in-flight request size is tracked but the size of the response is not. For instance, if a large number of requests result in errors containing large stack traces, many large responses sizes can c

[2020-12-02 09:34] elasticmachine commented on #65719
Pinging @elastic/es-distributed (Team:Distributed)

[2020-12-02 09:36] elasticmachine commented on #65718
Pinging @elastic/es-delivery (Team:Delivery)

[2020-12-02 09:53] DaveCTurner commented on #65713
Oh dear, yes, I don't think this assertion is valid at all, the shard could also be in state `CLOSED` too.

I opened #65720 to fix this.

[2020-12-02 10:33] mbudge opened #65722 "Top level domain extract ingest processor in the default and final pipeline"
Hi,

Security use cases require operators to always find logs when searching for a domain during incident response. However, in some feeds like webproxy the domain may be prefixed with "www.", whereas in others like dns this isn't the case. As domain.name or dns.question.name is an extract match keyword field, operators need to do multiple searches to make sure they find all the hits.

Packetbeat

[2020-12-02 10:44] Ayakashi97 opened #65724 "Add support for radius authentication"
There are some authentication methods for kibana integrated like saml but still no radius. It would be awesome if users of kibana can get authenticated throud radius server.

[2020-12-02 10:46] elasticmachine commented on #65724
Pinging @elastic/es-security (Team:Security)

[2020-12-02 10:47] #65713 closed

[2020-12-02 11:28] #65589 closed

[2020-12-02 11:33] AndyHunt66 opened #65728 "Regression: "java.lang.VerifyError: Bad type on operand stack" when using null-safe on a parameter"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.10.0

**JVM version** (`java -version`): openjdk-11.0.2_linux-x64_bin

**OS version** (`uname -a` if on a Unix-like system): Linux ahunt11 5.4.0-54-generic #60~18.04.1-Ubuntu SMP Fri Nov 6 17:25:16 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
**Description**:
In a stor

[2020-12-02 11:35] ZeusFSX opened #65729 "Support intervals query with Fast Vector Highlighter"
I have a document, for example:
[code]

And my mapping for text and title the same:
[code]
My query:
[code]
Can you add support to fast vector highlighter when use intervals query?
By the way, when I use __unified__ highlighter elasticsearch highlights fields separately:
[code]

[2020-12-02 11:39] original-brownbear commented on #65661
Hi @supasteev0

this is not a bug but actually a feature. Your snapshot repository likely contains some snapshots that were taken by an ES version older than 7.6. This means your repository does not have the benefits of changes to the repository format introduced in https://github.com/elastic/elasticsearch/pull/46250 yet so we rely on an artificial wait to work around certain S3 file system consis

[2020-12-02 11:39] #65661 closed

[2020-12-02 11:44] jloleysens opened #65730 "[ILM] Configuring force merge and searchable snapshot in hot phase"
## Summary

Setting searchable snapshots in the hot phase disables forcemerge, shrink and a number of other actions in subsequent phases. But there is some confusion on searchable snapshot interacts with forcemerge in the hot phase when translating this to UI/UX terms.

## Assumptions

The injected force merge action by searchable snapshot will be a noop only if a preceding force merge action merg

[2020-12-02 13:08] #65249 closed

[2020-12-02 13:19] jimczi opened #65740 "Slice query for Point in time readers (PIT)"
Slice queries that are used under a PIT (point-in-time) reader should use the internal Lucene document id to filter documents. If all slices use the same PIT, relying on Lucene document ids for the filtering should be much more effective than the current `TermsSliceQuery` that uses the `_id` field.
We could also deprecate the usage of slices in scrolls if they are more effective inside a PIT but t

[2020-12-02 13:19] elasticmachine commented on #65740
Pinging @elastic/es-search (Team:Search)

[2020-12-02 13:45] pugnascotia commented on #62758
I spent some time time thinking about this. I did consider whether we should simply stop tailoring logging for Docker in v8.0. This would be a simple solution, but users relying on the current logging arrangement would then have to recreate it themselves. Logging to stderr / stdout remains the expected default behaviour in the Docker world.

So then I wondered about shipping a `log4j2.stack.proper

[2020-12-02 14:51] pugnascotia commented on #62758
One other possibility would be to convert the standard logging config to a docker-style config at runtime. While more complex, this would pick up any log configurations for installed plugins as well. Making this work in practise would likely be tricky, however.

[2020-12-02 16:00] #52931 closed

[2020-12-02 16:04] imotov commented on #65483
@nik9000 we were thinking about supporting multiple values in #65623, but I am not sure I follow your idea here.

@mitar I would agree with @nik9000 here. I don't think this is an optimal data structure for what you are trying to achieve. I think writing this down as a single string and applying [path_hierarchy](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-pathhierarchy

[2020-12-02 16:10] stu-elastic commented on #65496
Look good @bhavya121999

[2020-12-02 16:20] jloleysens commented on #65730
Apologies, wrong @leehinman - intended to ping @dakrone . GitHub autocomplete did me in.

[2020-12-02 16:27] 111andre111 opened #65767 "index_pattern with * in the templates matching all indices:"
As of today the index_pattern setting if used `*` matches all indices and the system indices as well. I think this should be at least mentioned here in the documentation
https://www.elastic.co/guide/en/elasticsearch/reference/7.10/indices-templates-v1.html#put-index-template-v1-api-request-body

until we have composable templates
https://www.elastic.co/guide/en/elasticsearch/reference/7.10/index-t

[2020-12-02 16:36] #63843 closed

[2020-12-02 16:44] nik9000 commented on #65483
I don't think that'd work well with aggs though, right?

I was wondering how you'd handle multiple values in #65623. If you handle them by reading the values in lock-step then a structure like this could work. But I don't think that is the best way to handle multiple values....

[2020-12-02 16:50] einfoman opened #65760 "java.time.DateTimeException when sorting by nullable date and requested size equals total hits"
**Elasticsearch version**: 7.6 — 7.10

**JVM version**:
[code]
**OS version**: Linux

**Description of the problem including expected versus actual behavior**:

I have an index with a nullable date field. When I query items sorted by the field and specify size which equals total hits count, I get error:
[code]

**Steps to reproduce**:
1. Create index:
[code]
2. Add 2 documents:
[code]
3. Try searc

[2020-12-02 16:52] mbudge opened #65762 "Public and private ip address ingest processor"
Hi,

In ECS there are fields like

source.ip
destination.ip
related.ip

I useful feature would be an ingest processor which puts the public and private ip addresses into the following target fields

source.public.ip
source.private.ip
destination.public.ip
destination.private.ip
related.public.ip
related.private.ip

As IP addresses are just integers, it's simple to check whether the integer is with

[2020-12-02 16:55] pugnascotia commented on #62758
In the course of looking into this, I started wondering if we should make it possible to direct GC logs to stderr, instead of to file as we do at present. It's a separate concern, and I think we'd need to make it opt-in because the usual settings that we apply result in a lot of logs, and stderr obviously has no file rotation.

[2020-12-02 16:56] jrodewig commented on #65544
This is my fault. When I enabled rollups V2 for the docs integ tests, I only enabled them on snapshot builds:

https://github.com/elastic/elasticsearch/blob/3b859f56a9589de0aa1f32f35364906847804b0a/docs/build.gradle#L55-L57

I've opened #65761 to fix.

[2020-12-02 17:09] #65544 closed

[2020-12-02 17:13] costin opened #65766 "EQL: improve async query to return partial responses"
Currently EQL async requests return the results only after it has fully completed. For large datasets or large sequence size the async request can take a while; without showing any kind of results this is a poor experience - one can assume the network has timed out or the server crashed not that the matching takes place.

[2020-12-02 17:14] elasticmachine commented on #65766
Pinging @elastic/es-ql (Team:QL)

[2020-12-02 17:24] imotov commented on #65483
Of course! The analyzed version of the field would be used for search and not analyzed would be used for aggregations.

[2020-12-02 17:30] jdconrad commented on #65496
This has been closed by https://github.com/elastic/elasticsearch/pull/65530

[2020-12-02 17:30] #65496 closed

[2020-12-02 17:32] elasticmachine commented on #65767
Pinging @elastic/es-docs (Team:Docs)

[2020-12-02 17:33] #65473 closed

[2020-12-02 17:36] elasticmachine commented on #65767
Pinging @elastic/es-distributed (Team:Distributed)

[2020-12-02 18:27] talevy opened #65769 "Rollup Action must throw exception when rollup index already exists"
Currently, the Rollup Action defined in #64900 does not have safeguards against the API running on anything other than an existing-non-rollup-index as the source index, and a rollup-index that does not exist yet.

If rollup index already exists, an exception should be thrown.

relates #42720.

[2020-12-02 18:27] elasticmachine commented on #65769
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2020-12-02 18:33] jethr0null commented on #65730
cc @henningandersen

[2020-12-02 19:01] sabiya commented on #63527
Hello @soarescaique,
I have taken this issue, was waiting for someone to confirm.
I would like to fix it. Please pick another issue.

[2020-12-02 19:09] costin opened #65771 "EQL: take into account index.max_result_window when retrieving final results"
Queries with a lot of sequences that in turn use a large number of documents can bump into `index.max_result_window`. This needs to be taken into account either by forcing the size to be smaller or splitting the number of final results into `max_result_window` chunks.

[2020-12-02 19:09] elasticmachine commented on #65771
Pinging @elastic/es-ql (Team:QL)

[2020-12-02 19:20] mbudge opened #65772 "URL parse ingest processor"
Hi,

A URL parse ingest processor would be useful for security and other network data.

The processor could parse the full URL and populate the following ECS fields

url.extension
url.fragment
url.password
url.path
url.port
url.query
url.scheme
url.username

https://www.elastic.co/guide/en/ecs/current/ecs-url.html

Sometimes the scheme is missing from the full URL, so it would be good if the proce

[2020-12-02 19:30] jrodewig commented on #65772
Hi @mbudge,

It sounds like the URI parts processor added with #65150 would fit your needs:
https://www.elastic.co/guide/en/elasticsearch/reference/master/uri-parts-processor.html

I'm going to close this issue. Please feel free to re-open if I overlooked something. Thanks!

[2020-12-02 19:30] #65772 closed

[2020-12-02 19:31] elasticmachine commented on #65772
Pinging @elastic/es-core-features (Team:Core/Features)

[2020-12-02 19:43] costin opened #65773 "EQL: Docs - explain most-recent/state machine matching strategy"
Sequence matching in EQL doesn't find all possible sequences but rather the most-recent per stage using a state machine with only one entry as explained [here](https://eql.readthedocs.io/en/latest/query-guide/implementation.html).
While an implementation detail the semantics are important especially for folks looking at EQL to do generic correlation.

[2020-12-02 19:43] elasticmachine commented on #65773
Pinging @elastic/es-docs (Team:Docs)

[2020-12-02 20:20] nik9000 commented on #58647
I had a look this morning. I made a JMH [benchmark](https://github.com/nik9000/elasticsearch/pull/new/agg_construction_contention) that builds six `sum` aggs as fast as its silicon heart can manage. The [measurements](https://gist.github.com/nik9000/c04db84ef868d0509ebad2016f2cb832) I get out of it are kind of funny, especially when I run them on a GCP node with 60 cores. There, I see that buildin

[2020-12-02 20:52] benwtrent commented on #52695
This has not happened since Feb 25: [buid-stats](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-5y,mode:quick,to:now))&_a=(columns:!(build.branch),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!t,index:b646ed00-7efc-11e8-bf69-63c8ef516157,key:build.project,negate:!f,params:(query:elasticsearch,type:phrase),type:phrase,value:

[2020-12-02 20:52] nik9000 commented on #65718
I've got a fix locally. I'll open a PR this afternoon probably.

[2020-12-02 21:01] benwtrent commented on #53425
Looking at the suppressed errors
[code]

It seems that these two failures 8 months ago were caused by CI slowness. The job was indeed opening (successfully went from closed to opening).

Closing this issue. If these tests continue to fail in this manner again, we can attempt to up the timeout.

[2020-12-02 21:01] #53425 closed

[2020-12-02 21:40] jakelandis opened #65780 "Very large scroll search (i.e. reindex) can gradually slow down"
Since 7.7 (via this [PR](https://github.com/elastic/elasticsearch/pull/52822)) added better ability to cancel a search request. However, this resulted in [adding](https://github.com/elastic/elasticsearch/pull/52822/files#diff-9f5585442c620397550df0ceb9faf151e8042e3c7444254ebf562153073c1d3fR269) a method to cancel a task to a collection on the context searcher. That collection is [checked very freq

[2020-12-02 21:40] elasticmachine commented on #65780
Pinging @elastic/es-distributed (Team:Distributed)

[2020-12-02 21:41] jakelandis commented on #65780
Since this issue is fixed in 7.10.0, I will close this issue as fixed by #61062 and this issue is for documentation purposes only.

[2020-12-02 21:41] #65780 closed

[2020-12-02 21:51] soarescaique commented on #62452
Can I have this issue?

[2020-12-02 21:57] soarescaique commented on #62457
Can I have this one? Sounds good

[2020-12-02 22:49] jakelandis opened #65788 "Very large scroll search (i.e. reindex) can drastically slow down when slices > shards"
By default the `_reindex` will use a single searcher resulting in potentially slow re-indexing. The recommendation to increase performance is to use [slices=auto](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html#docs-reindex-automatic-slice) i.e `_reindex?slices=auto` which will create a N slices to execute a [sliced scroll query](https://www.elastic.co/guide/en/el