[2018-02-27 14:52] aguyinmontreal commented on #28816
@tlrx @aslamy Yes, I opened this issue for lack of documentation. I don't think I should overwhelm elastic.co/discuss with questions like this. This should be in the documentation to start with.

Thank you

[2018-02-27 15:00] tlrx commented on #28816
Thanks @aguyinmontreal ! I updated the title and add some labels to make more this more obvious (at least to me).

[2018-02-27 15:10] jasontedor commented on #28826
No, that is not possible, your issue is not occurring in the replication path, but actually on a refresh.

Oh, no. It takes out a lock to ensure the files can not be mutated under it while running check index. That is why it will not work on a read-only filesystem. Sorry for the trouble.

[2018-02-27 15:16] T3rm1 commented on #28830
Why is this a warning? I get this warning when Logstash is sending exceptions with stacktraces to Elasticsearch. They are all dropped and not written. This should be an error instead of warning.

[2018-02-27 15:44] tlrx commented on #28833
What is the error shown in Elasticsearch logs?

Also, note that you can use the Java REST High Level Client to execute Bulk requests: https://www.elastic.co/guide/en/elasticsearch/client/java-rest/6.0/java-rest-high-document-bulk.html

[2018-02-27 15:45] nikhilchudekar commented on #15816
I see a PR that's already addressing this (though it is way back in April 2017). Looks like it has been reviewed, and all that is left is pushing the fix to the repo. @clintongormley I'll move on to something else.

[2018-02-27 15:46] tlrx commented on #28836
In which feature and how this `unwind` would be applicable?

[2018-02-27 16:18] aguyinmontreal commented on #28816
@tlrx If someone has an answer, I can submit a PR

[2018-02-27 17:01] aguyinmontreal commented on #28816
@tlrx Can someone from the team tell me if these are the ones?https://docs.oracle.com/javase/7/docs/api/java/util/Locale.html#field_summary

[2018-02-27 17:02] shobhanaquickride commented on #28833
There were no errors/warn/info in Elasticsearch logs during this time!
I haven't used Java High Level REST Client; will check

[2018-02-27 17:09] GoodMirek opened #28842 ""discovery.zen.no_master_block: write" does not work"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.2.2 (installed via apt-get from https://artifacts.elastic.co/packages/6.x/apt)

**Plugins installed**: []
discovery-ec2
repository-s3

**JVM version** (`java -version`):
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.16.04.2-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

**OS version** (`uname -a` if on a

[2018-02-27 18:15] bleskes commented on #28842
I suspect you cluster was never formed. That setting is only relevant once you have a fully running cluster and the master is lost. Can you please open a topic on discuss.elastic.co so we can figure out what's going on? If it turns out to be an issue we can reopen.

[2018-02-27 18:15] #28842 closed

[2018-02-27 18:37] jasontedor commented on #28746
@floggle Thanks for the feedback. I pushed 303ce30f772f50fdc49139aebd7acf51028f86d7.

This is not feasible, the exception is being thrown in a low-level library that we rely on for YAML parsing. When the exception is thrown, we do not have the parser state at our disposal to know what it was parsing and thus insufficient information to determine a more appropriate error message.

[2018-02-27 18:41] bleskes commented on #28229
Thanks for the doc PR. I'll merge it when tests pass.

You should read the get through the get API, do your modification and write back using your versioning scheme. That said, I'm curious as to what you're trying to do - can you explain a bit more about your versioning scheme and how the update affects it?

[2018-02-27 18:45] DaveCTurner commented on #28824
Ok, I still cannot reproduce this. I have tried a fresh installation of Elasticsearch + Kibana + Filebeat 6.2.2, in NZDT, and the timestamps I see in Kibana are correct - here is a screenshot of a recent event from syslog (which you report as problematic).

<img width="1215" alt="screen shot 2018-02-28 at 07 38 55" src="https://user-images.githubusercontent.com/5058284/36747669-75a800d2-1baa-11e8-

[2018-02-27 18:45] #28824 closed

[2018-02-27 19:00] jasontedor commented on #25741
It's worth considering, but what's the problem with the system property?

[2018-02-27 19:40] javanna commented on #20525
Tribe node has been deprecated and removed, closing.

[2018-02-27 19:40] #20525 closed

[2018-02-27 19:43] javanna commented on #17772
Not sure if this problem still persists, but tribe node has been deprecated and removed, hence I am closing this issue.

[2018-02-27 19:43] #17772 closed

[2018-02-27 19:43] javanna commented on #16696
Tribe node has been deprecated and removed, closing.

[2018-02-27 19:43] #16696 closed

[2018-02-27 19:44] javanna commented on #16724
Tribe node has been deprecated and removed, closing.

[2018-02-27 19:44] #16724 closed

[2018-02-27 19:44] javanna commented on #13290
Tribe node has been deprecated and removed, closing.

[2018-02-27 19:44] #13290 closed

[2018-02-27 19:45] javanna commented on #14075
Tribe node has been deprecated and removed, I don't think we want to pursue this anymore, closing.

[2018-02-27 19:45] #14075 closed

[2018-02-27 19:45] javanna commented on #13292
Tribe node has been deprecated and removed, closing.

[2018-02-27 19:45] #13292 closed

[2018-02-27 19:46] javanna commented on #15620
Tribe node has been deprecated and removed, closing.

[2018-02-27 19:46] #15620 closed

[2018-02-27 22:20] ppf2 opened #28843 "Add warning for read-write indices in force merge documentation"
Running force merge against a read-write index (an index that can still have read/write activity post force-merge) can cause very large segments to be produced (>5Gb per segment), and the merge policy will never consider it for merging again until it has 75% of deleted docs.  This can cause very large segments to remain in the shards.

This is not currently documented (https://www.elastic.co/guide

[2018-02-27 23:29] dmaulick opened #28844 "Issues running three node cluster"
- Elasticsearch version: (6.2.1)
- OS: Unix

I am attempting to start a 3 node cluster
I have two issues/questions in regards to my configuration.

1)
 This is my first configuration in the elasticsearch.yml file

node.name: 127x16
path.logs: //home/dmaul/569/machines/16/logs
path.data: //home/dmaul/569/machines/16/data
network.host: 129.65.221.26
discovery.zen.ping.uincast.hosts: ["127x16", "127x

[2018-02-27 23:54] jasontedor commented on #28844
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2018-02-27 23:54] #28844 closed

[2018-02-28 01:29] KrzysztofMadejski opened #28845 "Rename discovery.zen.minimum_master_nodes setting to simplify docs."
**Describe the feature**:

Why having a setting that you need to calculate manually a equation. Can't ES do that?

The equation is super easy, but it just adds to the complexity of the documentation. Why not rename it to `discovery.zen.master_eligible_nodes` and ask people to set it accordingly to their setup. ` discovery.zen.minimum_master_nodes` could be then computed accordingly.

Concerned pie

[2018-02-28 01:37] KrzysztofMadejski commented on #23486
@aymone I've cherrypicked https://github.com/elastic/elasticsearch/commit/ae6331f27e9237c0fbdf2a7a175026fbf91fccd7  into 5.2 branch, resolved conflicts, compiled from source and it seems to work.

[2018-02-28 01:39] KrzysztofMadejski commented on #23486
@jasontedor it would be good to add "wontfix" label here.

[2018-02-28 01:42] jasontedor commented on #23486
What do you mean? It is fixed in #23493 released in 5.3.1.

[2018-02-28 01:56] KrzysztofMadejski commented on #23486
The bug report is against version 5.2.2 so I see it as "won't fix" for branch 5.2.x.  Such notion makes sense to me because minor versions may introduce backwards incompatible changes (5.3 does) so an upgrade is not straightforward operation if you have ES in production.

The other issue which is troubling me more is why you introduce backwards incompatible changes in minor versions, which is cont

[2018-02-28 02:05] jasontedor commented on #23486
I understand where you’re coming from, but our maintenance policy is very [clear](https://www.elastic.co/support/eol) (when 5.3.0 is released, 5.2 sees no more releases) and all the information needed to determine what version this is fixed in is already available.

Please do.

[2018-02-28 02:06] KrzysztofMadejski opened #28846 "Backwards-incompatible change introduced in minor version update 5.2 -> 5.3: payload parameter removed"
**Elasticsearch version**: 5.3 and all further ones in 5.x branch

Problem: Payload parameter has been removed in ElasticSearch 5.3.0 . More info on https://stackoverflow.com/questions/43513997/mapping-definition-for-suggest-has-unsupported-parameters-payloads-true

Example error:
[code]

Introducing a backwards incompatible changes in minor version is contrary to the declaration at https://www.el

[2018-02-28 02:08] jasontedor commented on #28845
We are not going to rename this setting. Instead, we have much bigger changes in mind that we think will significantly improve the story. We are not ready to share this quite yet, but will in due time and will be seeking a lot of feedback from the community.

[2018-02-28 02:08] #28845 closed

[2018-02-28 02:12] KrzysztofMadejski commented on #28846
Proposed solution would be to bring it back in the next 5.x version.

[2018-02-28 02:14] aguyinmontreal commented on #28681
@colings86 @mayya-sharipova @elastic/es-search-aggs

Could you guys please also take a look at https://github.com/elastic/elasticsearch/issues/28816 ? Thanks

[2018-02-28 02:18] jasontedor commented on #28846
I’m sorry that we disappointed you here. We try not to make breaking changes in minor releases. There have been times we have done it deliberately to address serious bugs. That aside, it’s not clear what happened here, but we are more sensitive to breaking changes these days (as evidenced by enabling rolling upgrades between major releases). We will not be reintroducing this parameter in 5.x, the

[2018-02-28 02:18] #28846 closed

[2018-02-28 02:20] jasontedor commented on #28681
@aguyinmontreal We appreciate your enthusiasm but please do not ping individuals nor our internal team handles (which end up pinging many people).

[2018-02-28 02:33] KrzysztofMadejski commented on #28846
Ok, thanks for replying on it.

[2018-02-28 04:34] gvijayakumar-16 commented on #28836
Cases where I have a nested array of objects and I want the those objects to be queried, sorted and paginated.

[2018-02-28 05:29] mayya-sharipova commented on #28816
@aguyinmontreal  thanks so much for bringing this up. We will work on this, and update the issue once the work is done.

[2018-02-28 07:55] erdarun commented on #28591
@tvernum Any updates will be helpful

[2018-02-28 08:14] Jamariomiller27 opened #28847 "Devices"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2018-02-28 08:37] jasontedor commented on #28847
There is no content here, closing.

[2018-02-28 08:37] #28847 closed

[2018-02-28 11:14] dingminyi opened #28848 "Refine plugin-descriptor.properties searching logic in PluginService.java"
Hi Team,
We are uploading our Elasticsearch clusters from old Elasticsearch versions, but we found such error while deploying the new version ES with puppet module:
[code]
After investigate the code, we found that now Elasticsearch will take every file and folder under the meta plugin folder as folders.
https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/plu

[2018-02-28 11:16] minfrin commented on #28780
If Ubuntu is doing something wrong, raise a bug with them and get them to fix it.

I've done it for you: https://bugs.launchpad.net/ubuntu/+source/openjdk-9/+bug/1752300

[2018-02-28 13:26] aguyinmontreal commented on #28816
@mayya-sharipova Not a problem, Thank you for working on this!

[2018-02-28 14:00] detro opened #28851 "REST Client API BulkProcessor should expose few methods to understand it's internal status"
**Describe the feature**:
`BulkProcessor` provides a very clean way to keep piling up bulk requests, leaving to the official client code to handle how fast and with which back-off strategy errors are retried.

One issue I found quite _annoying_ is that there are no methods exposed on the `BulkProcessor` to help understand it's internal status. I'm after things like:
* how many Requests are still p

[2018-02-28 14:48] javanna commented on #28851
hi @detro thanks for opening this issue. Could you post an example of a test where you've been struggling and what you would like to see implemented that it's currently missing? In our tests we tend to use `awaitClose` which is usually enough to make sure that all the documents that we need indexed have been sent.

[2018-02-28 15:12] arthurgustin opened #28853 "Introduce equals query for geoshape field"
#### Current feature
Geoshape only allow geo queries

#### Requested feature
Ability to test the *exact* equality of two geo shapes

**Example 1**: document1 and document2 both have geoshape polygon with points ABCDA (exact same vertices) and we would like to test that those geoshapes are equals

**Example 2**: document1 has polygon ABDCA and document2 has polygon BCDAB (exact same vertices, diffe

[2018-02-28 15:41] detro commented on #28851
So, it's complicated to share the details without sharing the actual code.

What I'm testing is, essentially, a DAO that internally uses Elasticsearch as backend. This DAO will allow both single-document requests (normal CRUD kind of thing) and Bulk operations (for when we need to index a lot of stuff).

The `BulkProcessor` is kinda perfect for this, hence the choice of using it (until now we were

[2018-02-28 16:00] javanna commented on #28853
cc @elastic/es-search-aggs

[2018-02-28 16:01] jasontedor commented on #28848
FYI @elastic/es-core-infra.

[2018-02-28 16:01] jasontedor commented on #28848
This was caused by some management that the puppet module use to do for installed plugins. However, a change has been made to the puppet module so that this management is no longer necessary and these files will not be placed in plugin directories any longer. I know that you're aware that a new version of the puppet module incorporating this change has been released. We think that users should upg

[2018-02-28 16:01] #28848 closed

[2018-02-28 16:16] CExAdamJ commented on #26612
Ah ok, thanks. It happens :)

[2018-02-28 16:50] jimczi commented on #28806
Elasticsearch will never return a value greater than Long.MAX_VALUE (`9223372036854775807`)  for a date field. We use this value by default when a document doesn't have a value for the field that is sort on. What library are you using to parse the json response ? It seems that this library is reading the number returned by es as doubles and not longs. This would explain why `9223372036854775807` i

[2018-02-28 17:13] tahergalal commented on #28806
this is the value I am getting when using the javascript lib. Also when testing the query in kibana I get the same value of 9223372036854776000

[2018-02-28 18:17] videetssinghai commented on #27583
Hello is this issue still open?

[2018-02-28 18:22] videetssinghai commented on #27582
I would like to make a PR for this one if this issue is still open

[2018-02-28 18:46] videetssinghai commented on #27582
Ok so I found "index.ttl.disable_purge" in 3 files - IndexScopedSettings, IndexSettings and IndexSettingsTest. How do I remove it ? ( straight away remove its functions and tests without affecting the other code ?)

[2018-02-28 19:51] jimczi commented on #28806
Ok so this is an issue with javascript that handles number with 64bit floating point and can't represent large number accurately. I am going to close this issue because the problem is not in es. You can check this issue in Kibana: https://github.com/elastic/kibana/issues/1274 and ask there what's the status.

[2018-02-28 19:51] #28806 closed

[2018-02-28 21:11] dustin-decker commented on #28026
I work with @waltrinehart. We were able to apply the downgrade master workaround for `transient` settings, but not for `permanent` settings. We cannot upgrade from 6.1.1 to 6.2.2 because of the stuck permanent settings. The only way forward that we see is to downgrade to 5.x and do a `full cluster restart` to remove the permanent setting, which is not really a viable option for us. In the current

[2018-02-28 22:32] mohmad-null opened #28855 "Stop-words not removed during simple-query query-time analysis"
ES 6.2.1
I've noticed that the simple-query-string query type (https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html) doesn't seem to handle stopwords at all at analysis time, best exemplified with "default_operator: AND".

Consider the below - We create an index and change the default analyzer to use English stopwords:

[code]

And then populate

[2018-02-28 22:36] rezecib opened #28856 "MatchNoDocsQuery from stop words with wildcards in query_string"
**Elasticsearch version** (`bin/elasticsearch --version`): `6.2.2, Build: 10b1edd/2018-02-16T19:01:30.685723Z`

**Plugins installed**: `["analysis-icu"]`

**JVM version** (`java -version`): `9.0.4`

**OS version** (`uname -a` if on a Unix-like system): Mac OS Sierra 10.12.6
`16.7.0 Darwin Kernel Version 16.7.0: Thu Jan 11 22:59:40 PST 2018; root:xnu-3789.73.8~1/RELEASE_X86_64 x86_64`

**Descriptio

[2018-03-01 01:41] antonpious opened #28857 "Ability to limit the bitset filter cache size"
When using queries on nested documents, there is a  bitset filter cache that grows uncontrollably. We should have levers to control how much memory is allocated to this cache. This could be a percentage based on a configured total memory and explicit control only for this cache should be provided for clients who use nested documents a lot.

The following shows a dump of memory from a node which ha

[2018-03-01 02:02] dylanPowers opened #28858 "Remote cluster DNS cached indefinitely"
I'm finding that cross cluster search doesn't continuously resolve hostnames and instead caches the addresses indefinitely. Correct me if I'm wrong in my analysis but it appears that hostnames for the seeds are only resolved upon node startup and update to the seed list. I'm seeing this at https://github.com/elastic/elasticsearch/blob/v6.3.2/server/src/main/java/org/elasticsearch/transport/RemoteC

[2018-03-01 02:45] jiangjf0407 opened #28859 "error: requires kernel 3.5+ with CONFIG_SECCOMP and CONFIG_SECCOMP_FILTER compiled in when start elasticsearch"
I start elasticsearch(./elasticsearch -d) ,occur error,my elasticsearch version is 6.2.2 ：
java.lang.UnsupportedOperationException: seccomp unavailable: requires kernel 3.5+ with CONFIG_SECCOMP and CONFIG_SECCOMP_FILTER compiled in
        at org.elasticsearch.bootstrap.SystemCallFilter.linuxImpl(SystemCallFilter.java:328) ~[elasticsearch-6.2.2.jar:6.2.2]
        at org.elasticsearch.bootstrap.Sys

[2018-03-01 06:41] LucidObscurity opened #28860 "Elasticsearch 6.2.2 fails to run as a windows service"
**Describe the feature**:
Running Elasticsearch as a windows service

Windows service fails to start
**Elasticsearch version** (`bin/elasticsearch --version`):
6.2.2
**Plugins installed**: []
none
**JVM version** (`java -version`):
1.8.0_141
**OS version** (`uname -a` if on a Unix-like system):
Windows Server 2008 R2 SP1
**Description of the problem including expected versus actual behavior**:
Una

[2018-03-01 06:47] Jaware commented on #28809
what is the recommend memory for master?i use 2G for jvm in 4G mashine.But there is no oom error

[2018-03-01 08:44] jasontedor commented on #28859
It’s not clear what you’re expecting here? The kernel you’re using doesn’t supply the features we need.

[2018-03-01 08:44] #28859 closed

[2018-03-01 08:49] jiangjf0407 commented on #28859
I want to known which version of elasticsearch I choose base on Linux  2.6.32.

[2018-03-01 09:58] #28226 closed

[2018-03-01 09:59] zhangxuanru opened #28861 "elasticsearch 6.2.2 Edition 9300 port startup failure"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2018-03-01 09:59] #28778 closed

[2018-03-01 10:23] Berny-Chen opened #28863 "a new node can't added cluster ,what's the problem with that?"
**Elasticsearch version** (`bin/elasticsearch --version`):
elasticsearch-6.1.0-1.noarch

**Plugins installed**: []
RPM

**JVM version** (`java -version`):
java version "1.8.0_131"

**OS version** (`uname -a` if on a Unix-like system):
CentOS release 6.9 (Final)

**Description of the problem including expected versus actual behavior**:
a new node  can't added cluster ,what's the problem with that?

[2018-03-01 10:45] BDominik opened #28864 "Different query in multiple indices search"
Elasticsearch 6.*

PHP client
When we searching through multiple indicies is it possible to build different querys for different indices?

$params = [
            'index' => 'serviceme_ngram,serviceme',
            'type' => 'products,products',
            'size' => $size,
            'body' => [
                'query' => [
                    "bool" => [
                        'should' => $que

[2018-03-01 11:02] imranazad opened #28865 "Phrase suggester tokenlimit performance"
I've noticed increasing the tokenlimit for the phrase suggester slows it down dramatically, is it possible to set the suggester such as that it can process a query string any number of tokens but then limit how many suggestions are returned? For example would it be possible to set the tokenlimit to 100 and get the phrase suggester to only generate candidate terms for the first 3 misspelled tokens

[2018-03-01 11:20] javanna commented on #28865
@elastic/es-search-aggs thoughts?

[2018-03-01 11:21] javanna commented on #28864
hi @BDominik please ask questions on our forums at https://discuss.elastic.co/ , we reserve github for bug or feature requests. Thank you!

[2018-03-01 11:21] #28864 closed

[2018-03-01 11:23] javanna commented on #28863
hi @Berny-Chen could you please ask your question on our forums at https://discuss.elastic.co/ ? We reserve github for bugs and feature requests.

[2018-03-01 11:23] #28863 closed

[2018-03-01 11:28] javanna commented on #28861
The only thing I can see here is that some bootstrap check failed, I can't see which one though. Anyways, please ask your question in our forum at https://discuss.elastic.co/ . We reserve github issues for bugs or feature requests.

[2018-03-01 11:28] #28861 closed

[2018-03-01 11:30] javanna commented on #28860
@elastic/microsoft any ideas?

[2018-03-01 11:30] javanna commented on #28860
cc @elastic/es-core-infra

[2018-03-01 12:42] bvobart opened #28867 "Documentation on generating test coverage is outdated"
The [TESTING documentation](https://github.com/elastic/elasticsearch/blob/master/TESTING.asciidoc) states that test coverage can be generated with a Maven command. However, Elasticsearch currently uses Gradle. Issue #13930 describes the migration from Maven to Gradle and states that the documentation for building and testing was completely updated _except_ for the documentation on JaCoCo reports.

[2018-03-01 12:46] javanna commented on #28740
cc @elastic/es-core-infra

[2018-03-01 12:57] kafis commented on #21101
+1

I like the ingest pipeline, as it decouples me from any pre-processing of my logs in the source.
But if I cant enable it by default, I am still thrown back to manipulate my sources (that I dont have control over necessarily) to use a specific ingest pipeline

[2018-03-01 14:13] okke-formsma commented on #28662
@tbrooks8 thank you for the fix. Any word on the release date of 6.2.3?

[2018-03-01 14:44] javanna commented on #28855
I can reproduce this, and I don't think this is on purpose. cc @elastic/es-search-aggs

[2018-03-01 14:45] jasontedor commented on #28662
Sorry, we do not provide release dates.

[2018-03-01 14:45] videetssinghai commented on #27582
@clintongormley

[2018-03-01 14:46] videetssinghai commented on #27583
hey @clintongormley how do i go ahead with this?

[2018-03-01 14:48] jasontedor commented on #28859
You can run any currently supported version of Elasticsearch on a 2.6.32 kernel, you will not be able to have `seccomp` enabled though.

[2018-03-01 14:52] javanna commented on #27583
@videetssinghai yes the issue is still open, but @liketic is already working on it. See #27600 and #28862 .

[2018-03-01 14:54] javanna commented on #27582
hi @videetssinghai there is already a PR waiting for review that fixes this issue, see #27589 .

[2018-03-01 15:01] danlevy1 opened #28868 "Print Standard Streams with Gradle"
Elasticsearch version: 6.2.1

Plugins installed: None

JVM version: 1.8.0

OS version: MacOS 10.13

I am trying to print standard streams `System.out.print() ` when testing a bug fix. I found here that I can just add the following code to my build.gradle file in order to show standard streams:

[code]

When I do this, I get the following build error when I run `./gradlew run` in command line:

[co

[2018-03-01 15:13] javanna commented on #28856
cc @elastic/es-search-aggs

[2018-03-01 15:19] javanna commented on #28868
hi @danlevy1 could you please ask your question in our forums at https://discuss.elastic.co/ ? We reserve github issues for bugs or feature requests. Thank you!

[2018-03-01 15:19] #28868 closed

[2018-03-01 15:25] Mpdreamz commented on #28860
@LucidObscurity are you using the MSI or zip distribution?

[2018-03-01 15:27] javanna commented on #28838
cc @elastic/es-search-aggs

[2018-03-01 15:32] mueedc commented on #28843
I'd be happy to give this a shot if no one else has claimed it

[2018-03-01 15:36] javanna commented on #28843
go for it @mueedc , looking forward to your PR ;)

[2018-03-01 17:40] colings86 commented on #28838
@romseygeek Could you take a look at this?

[2018-03-01 17:50] jimczi commented on #28838
This is a known issue in Lucene and we're currently discussing different options for the fix:
https://issues.apache.org/jira/browse/LUCENE-8137
The only workaround for now is to not use the stop word filter when using the `synonym_graph` or to remove the stop words manually from the synonyms defined for the filter.

[2018-03-01 18:04] MetalArend opened #28872 "Unknown setting [es.enforce.bootstrap.checks] in docker.elastic.co/elasticsearch/elasticsearch:6.2.2"
**ElasticSearch version**: docker.elastic.co/elasticsearch/elasticsearch:6.2.2 on docker 17.12.0-ce, build c97c6d6 inside a CentOS 7 vagrant box

**Description of the problem including expected versus actual behavior**:

Adding the setting `es.enforce.bootstrap.checks` on the 6.2.2 version docker container throws the error `unknown setting [es.enforce.bootstrap.checks] please check that any requir

[2018-03-01 18:07] dadoonet commented on #28872
I believe it should be written as:

[code]

[2018-03-01 19:28] LucidObscurity commented on #28860
zip

[2018-03-01 19:31] LucidObscurity commented on #28860
I'll also add the deployment process deletes everything except the data directory then copies the contents of the package. I noticed some differences in the jvm.options from the one we deploy and replaced that with the one from the package with the same results.

[2018-03-01 19:38] jasontedor commented on #28872
You set this via JVM options, so either by binding jvm.options and adding the configuration there, or via `ES_JAVA_OPTS`.

[code]

[2018-03-01 19:38] #28872 closed

[2018-03-01 19:38] MetalArend commented on #28872
I was already hitting me on the head, but then I tried it, and alas...

[code]

[2018-03-01 19:40] jasontedor commented on #28860
This is not an Elasticsearch problem, it appears to be due to a [missing system environment variables](https://windowsreport.com/system-could-not-find-the-environment-option-that-was-entered/).

[2018-03-01 19:40] #28860 closed

[2018-03-01 19:41] osman commented on #25168
Any updates on whether this may be included in 7.0?

[2018-03-01 19:47] MetalArend commented on #28872
As I said in the original report, I tried it both the environment setting way, as the way @jasontedor described. But apparently the service logs are kept between redeploys, so the error was kept in the logs, but not reproduced. Thanks, @jasontedor.

[2018-03-01 20:04] xiyangliu opened #28873 "Java RestHighLevelClient throws ParsingException if scroll response contains suggests"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.6.8

**Plugins installed**: []
analysis-icu
analysis-kuromoji
analysis-smartcn

**JVM version** (`java -version`):
1.8.0_73

**OS version** (`uname -a` if on a Unix-like system):
macOS High Sierra version10.13.3

**Description of the problem including expected versus actual behavior**:
Initial search response contains both aggregations a

[2018-03-01 20:35] jasontedor commented on #28867
No, more than a documentation update is needed here, the Jacoco coverage is not even configured into the build.

Are you offering to contribute all the work needed here?

[2018-03-01 20:36] jasontedor commented on #28867
FYI @elastic/es-core-infra.

[2018-03-01 20:40] nik9000 commented on #28873
Pinging @elastic/es-core-infra, more specifically @javanna.

[2018-03-01 20:46] LucidObscurity commented on #28860
Are there other variables which is 6.2.2 requires other than JAVA_HOME which 6.1.1 did not. As I stated 6.1.1 is currently happily running as a windows service.

[2018-03-01 21:02] mveitas opened #28875 "Geohash aggregation optimization with multifields not working as expected"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.0.0
(I'll check if this is an issue with 6.2.x)

**JVM version** (`java -version`): Java 8

**Description of the problem including expected versus actual behavior**:
I spoke with @nknize at Elasticon about ways to improve the performance of Grid Aggregation and avoiding the need to compute the geohash values from the lat, lon (https://gi

[2018-03-01 21:04] LucidObscurity commented on #28860
C:\Windows\system32>set
ALLUSERSPROFILE=C:\ProgramData
APPDATA=C:\Users\[redacted]\AppData\Roaming
ASPNETCORE_ENVIRONMENT=DevMon
CommonProgramFiles=C:\Program Files\Common Files
CommonProgramFiles(x86)=C:\Program Files (x86)\Common Files
CommonProgramW6432=C:\Program Files\Common Files
COMPUTERNAME=[redacted]
ComSpec=C:\Windows\system32\cmd.exe
FP_NO_HOST_CHECK=NO
HOMEDRIVE=[redacted]
HOMEPATH=\
H

[2018-03-01 21:45] osman opened #28877 "search_analyzer definitions in index settings to allow for dynamic updates to query-time analyzers"
something like this:

[code]

This denotes the analyzer as one that is only used at search time, and is thus safe to update dynamically. My use-case is dynamically updating synonyms without having the open/close the index. But I imagine there are other useful properties to being able to dynamically update analyzers used only at query time.

[2018-03-01 22:20] rjernst commented on #28877
The `search_analyzer` setting used within mappings is just the name of an analyzer. Can you elaborate on the problem with using the existing `analyzer` specification within `analysis`?

[2018-03-01 22:21] rjernst commented on #28877
/cc @elastic/es-search-aggs

[2018-03-01 22:43] elasticmachine opened #30075 "[ML] Dedicated index is not removed when job gets deleted"
*Original comment by @dolaru:*

Spotted in 6.2.2 / GA

When a job using a dedicated index is deleted, the documents in the dedicated index are deleted, but the index itself is still present.

It is expected that the index and any aliases pointing to that index get removed when the job is deleted.

[2018-03-01 23:08] #28719 closed

[2018-03-01 23:58] rjernst commented on #28002
I looked at this with @jdconrad. The bug here is in `RestUpdateByQueryAction.parseScript`. It defaults lang to the default lang, but for stored scripts this should be null. This code should really use `Script.parse`.

/cc @nik9000

[2018-03-02 00:09] cmk1523 commented on #14727
I love this idea. I’ve been wanting to analyze movement and I think this could really help. For example, if the “standard deviation” of a bunch of points over time is “large”, one could say that something has moved a certain amount. Anyone have thoughts on this?

[2018-03-02 00:16] lzh3636 opened #28879 "Confusing logging level in IndexShard"
In org.elasticsearch.index.shard.IndexShard.getActiveOperationsCount(), there is a logging statement:

![image](https://user-images.githubusercontent.com/14232097/36876700-358a10a4-1d84-11e8-81bf-18f00cdb0530.png)

The log level of it is **debug,** but there is a comment near it // if this fails we are in deep shit - fail the request. Does it mean that this is an important log rather than just a d

[2018-03-02 03:03] aslng opened #28880 "@timestamp can't be updated in painless script"
What we would like to achieve is to add/update elasticsearch record with timestamp generated by Elasticsearch daemon such that the timestamp is more consistent.

Option1: use _timestamp mechanism in ES 2.x. However, this has been obsoleted in 5.x.
Option2: use painless script to add @timestamp. However, this won't work with updating doc at the same time. Workaround is to update doc as part of the

[2018-03-02 05:21] NidhiChandak commented on #11830
Hi. With respect to the first example, Is there a way for me to fetch the model only where "make" is "Honda"?

[2018-03-02 06:50] justinwyer commented on #28836
Can you provide a more concrete example?

[2018-03-02 07:23] gvijayakumar-16 commented on #28836
[code]

Consider the above class which is the structure for ElasticSearch.

Now if I have a to display data based on the following scenarios:

By name:

 Name | Address
 -------|------------
 Adam|Chicago, Ohio

By Address

 Address| Name
 -------|------------
 Chicago|Adam
 Ohio|Adam

If there is a feature similar to unwind, getting the output for the second scenario would be much simpler.

Pleas

[2018-03-02 08:21] jasontedor commented on #28879
I think that we are doing the right thing here. The exception is re-thrown in the translog sync processor and handled elsewhere. In the case of maybe fsyncing the translog, the exception is swallowed so needs to be logged visibly there.

[2018-03-02 08:21] #28879 closed

[2018-03-02 08:36] bvobart commented on #28867
Ahh okay. Sure, I'll be able to contribute. Seeing as I'll have to rummage around in the build configuration, is there any specific place you would like me to place the JaCoCo configuration? Or anything else I should keep in consideration?

[2018-03-02 08:58] fbaligand commented on #28719
Hi @jimczi
What is the difference between `city:"New York"` and `city:(New York)` ?

[2018-03-02 09:14] javanna commented on #28833
I am closing this given that you also asked the same question in our forums. This may very well be some usage issue. If it turns out to be a bug, we can always open another issue with a clear recreation.

[2018-03-02 09:14] #28833 closed

[2018-03-02 11:27] blackchestnut commented on #21291
+1

[2018-03-02 11:38] shobhanaquickride commented on #28833
It has been 7 days since I first posted in the forum as well as on SO and I haven't heard anything there. I have followed the instructions given in Elastic search documents while coding and have rechecked the same several times. The same works fine when executed through Kibana but fails when run through Java rest client. Hence I strongly feel its a bug!

[2018-03-02 12:43] olcbean commented on #17853
I cannot reproduce this issue in `7.0` ( 95dea2408d4c6b70fe43ea3d4294dd98f89178b1 )
I think the current behavior ( shown below ) is correct and this issue can be closed.

[code]
[code]

[code]
[code]
Also using unsupported op `POST` is correctly detected and reported
[code]
[code]

[2018-03-02 13:34] javanna commented on #28833
@shobhanaquickride please let's continue this discussion in the forums until we know more. I will reply there. Not saying this cannot be a bug, just that I cannot reproduce it with the info I have, and it doesn't look like a bug.

[2018-03-02 13:39] javanna commented on #17853
thanks @olcbean for testing this, I think it was fixed with #24437 but we forgot to close this issue. Closing.

[2018-03-02 13:39] #17853 closed

[2018-03-02 13:47] #28200 closed

[2018-03-02 15:29] javanna commented on #28875
cc @elastic/es-search-aggs

[2018-03-02 15:48] bitkowitz opened #28884 "Reindex API should support aggregations"
I have a common use case of summarizing event-based indices into session-based indices. I currently achieve this by fetching data from elasticsearch to a compute environment, summarizing the data by session and then ingesting the result into a summary index. When this analysis involves high-frequency events, it becomes prohibitively expensive to transfer and process large volumes of events.

It wo

[2018-03-02 15:51] tlrx commented on #28836
I understand the need for such a feature, but I think that this is something that must be done on the client side. Knowing how documents are streamed to build the response JSON I doubt that we could implement this feature easily without a lot of side effects.

I'm going to mark this issue as "Discuss" so that it will be discussed in our weekly meetings.

[2018-03-02 15:55] bitkowitz commented on #28884
BTW - I’ve seen notes that suggests the xpack watcher api can be repurposed for this type of job. It also looks like the rollup api can do something similar but only supports a limited set of summary statistics.

From an api standpoint, I would have expected es to support a general purpose “reduce” api that works with arbitrary pipeline aggregations.

[2018-03-02 15:56] javanna commented on #28873
The problem here is that the returned suggestion is not keyed by its type, it should be `term#did_you_mean_term` rather than `did_you_mean_term`. That is because the high-level client must set the `typed_keys` parameter to `true` in order to be able to parse aggs and suggest responses into their own proper object which depend on the returned type.

Unfortunately, the client doesn't set such param

[2018-03-02 16:15] jasontedor commented on #28867
Thanks a lot!

Take a look at our `BuildPlugin` in the `buildSrc` directory where we configure the Java plugin. We would want to configure the Jacoco plugin here too (this way all Java sub-projects pick it up). Also take a look at what is done in BootstrapForTesting to ensure that Jacoco has permissions to write out its output.

[2018-03-02 16:55] jdewald opened #28885 "Using Java High Level Rest client does not auto-retry Bulk requests"
**Elasticsearch version** (`bin/elasticsearch --version`):
Tested on both 5.6 and 6.2

**Plugins installed**: [ None ]

**JVM version** (`java -version`): 1.8.0_31-b13

**OS version** (`uname -a` if on a Unix-like system): Using the Dockerized version from https://quay.io/repository/pires/docker-elasticsearch

**Description of the problem including expected versus actual behavior**:
(This is prett

[2018-03-02 17:45] shobhanaquickride commented on #28833
Sure, no issues

[2018-03-02 18:07] josefschiefer commented on #28836
Unwind may help flatting the data for supporting simple query_string expressions with nested documents https://github.com/elastic/elasticsearch/issues/16551.

[2018-03-02 20:07] xiyangliu commented on #28873
@javanna We ask for aggregations and suggestions in the initial search request. They can be parsed successfully from search response.

However in following scroll response, aggregations are removed intentionally (this is mentioned in [doc](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-scroll.html)) but suggestions are retained. That's where the parsing exception ha

[2018-03-02 20:17] xiyangliu commented on #28873
As a work around, we are now using low level client for scroll request and handling scroll response by ourselves.

[2018-03-02 20:56] javanna commented on #28873
I am aware of where the problem is, I just don't get why suggestions would be useful in a scroll response, would you have an answer to that? We didn't expect them to be there when building the client, that is why we are not providing the `typed_keys` parameter. Aggregations were not removed for that reason.

Using the low-level client is quite a drastic work-around, you could just have two search

[2018-03-02 21:22] edudar commented on #28873
@javanna We use low-level client anyway for APIs that not yet implemented in high-level one (as of v5.6.8) so for us, it's not that drastic, more like a business as usual. An edge case here, however, is that we have a use for aggregations and suggesters on **initial** search request that creates a scroll. It's UI thing. And no, we don't need either of them when actual scroll request happens subseq

[2018-03-03 00:36] Hafyane opened #28887 "Creating a dynamic swagger for an Elasticsearch API"
I want to create a **dynamic swagger** of an **elasticsearch API** since the response returned by Api is unexpected because it contains **facets** and I would like to know if there is way to generate the **swagger** automatically through **elasticsearch.**

[2018-03-03 00:50] dadoonet commented on #28887
In short: no.

But please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-03-03 00:50] #28887 closed

[2018-03-03 01:02] dadoonet commented on #28887
Related to #25152

[2018-03-03 03:06] danlevy1 commented on #21862
It looks like I have been able to fix this bug! The error I now throw is:

[code]

Is there anything that you want me to change about the error reason @clintongormley?

[2018-03-03 03:06] LucidObscurity opened #28889 "date_histogram - context aware extended_bounds"
**Describe the feature**:
[code]

Ability to reference a parent bucket aggregation to access dynamic date values for use in defining extended_bounds. The "shortHisto" above uses invalid syntax to attempt to represent the use case.

This would be useful for analyzing the rate of data or the rate of certain types of data over time and would allow extended_stats_bucket to still produce meaningful inf

[2018-03-03 03:29] danlevy1 opened #28890 ""illegal_argument_exception" for field starting or ending with a [.]"
Elasticsearch version: 6.2.1

Plugins installed: None

JVM version: 1.8.0_131

OS version: MacOS 10.13

An `illegal_argument_exception` is thrown with a reason `object field starting or ending with a [.] makes object resolution ambiguous` in certain cases, but not others.

For example, below is an example and the error it throws. Interestingly, because the first and second field names are the same

[2018-03-03 03:33] danlevy1 commented on #28890
I was working on fixing this bug when I stumbled across the above bug. I was wondering how the developers wanted to fix the bug.

Should all fields that end with a [.] be forbidden? In the second example above, a field ending with a [.] succeeds, but the first example fails.

[2018-03-03 04:37] dakrone commented on #28890
I'm not sure I see the issue in this case, in the first and last examples (`foo.` and `.bar`), there is indeed ambiguity about what field you would mean when you use `foo.<something>` or `<something>.bar`, which is why those are rejected. In the middle example (`fooOne.`), there is no ambiguity with the `fooOne.` field since there are no other fields with the same name, hence there is no error whe

[2018-03-03 16:06] maricn commented on #11432
+1 would be good fit for modeling a graph in a project we're working on..

[2018-03-03 16:45] fbaligand commented on #28719
Thanks for the fix @jimczi :)

[2018-03-03 16:53] rjernst commented on #28880
Please ask questions on [our forum](https://discuss.elastic.co/c/elasticsearch). We use github for feature requests and confirmed bug reports.

With that said, [see the docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-scripting-fields.html) for accessing fields from the special `doc` variable in scripts.

[2018-03-03 16:53] #28880 closed

[2018-03-03 23:57] theostoican commented on #23430
Hi, was this issue, by any chance, solved here: https://github.com/kblincoe/elasticsearch/commit/6e0c6c5dd7b622517bcb76919c62e7cf9a503fb5 ? I do not see a PR with this, though.

[2018-03-04 00:15] jlamillan opened #28893 "failed to create S3 Repository using dockerized ES 6.2.2 due to SDK connect timed out"
I've been getting a number of errors when trying to [create an S3 repository](https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-s3.html) on my local box [using Docker](https://www.elastic.co/guide/en/elasticsearch/reference/6.x/docker.html#docker). Note, the same steps appear to work when elasticsearch is run outside of Docker (using brew).

Here is the latest:

**Elasticsea

[2018-03-04 06:02] dadoonet opened #28894 "Lowercase normalizer is used for wildcard queries"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.2
**Description of the problem including expected versus actual behavior**:

Say you index a field `Aa` as a `text` field with a Lowercase analyzer.
When you search for `aa*`, it matches. Searching for `Aa*` does not match which is normal as the wildcard queries are not analyzed.

Say you index a field `Aa` as a `keyword` field with a

[2018-03-04 11:24] olcbean commented on #15335
I cannot reproduce this in `7.0`
[code]
[code]
I think this has been fixed by #24437.
cc @dakrone @jasontedor

[2018-03-04 15:39] dakrone commented on #15335
Yep that's right, this can be closed now, thanks @olcbean

[2018-03-04 15:39] #15335 closed

[2018-03-04 19:49] tbrooks8 opened #28898 "HTTP implementation based on elasticsearch-nio"
This is related to #27260. We will need a working http plugin based on the elasticsearch-nio work. This should have feature parity with our other http implementations. This means supporting:
- cors
- pipeling
- normal http plugin settings (https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-http.html)
- HTTP/1.1

[2018-03-04 20:12] dadoonet opened #28899 "parent-join-client should not depend on JTS and Spatial4J"
I'm using the High Level Rest Client 6.2.2 which depends on `parent-join-client`.
But this module depends on JTS and Spatial4J:

[code]

Source: https://search.maven.org/remotecontent?filepath=org/elasticsearch/plugin/parent-join-client/6.2.2/parent-join-client-6.2.2.pom

I'm unsure if it is on purpose or a bug. May be we should mark it at least as optional?
Might be related to #26850.

[2018-03-04 20:16] elasticmachine opened #30077 "Improve JavaDoc on SecurityClient"
*Original comment by @tvernum:*

The `SecurityClient` class has JavaDoc for some methods, but many are undocumented.

It would be helpful to document this class more thoroughly.

[2018-03-04 21:25] #28855 closed

[2018-03-04 21:25] #28856 closed

[2018-03-04 23:19] CpuID commented on #28858
Experienced the same thing today, running Cross Cluster Nodes in Amazon ECS pointing at Amazon ECS hosted coordinator nodes for AZ-specific clusters (due to cross-AZ data transfer costs hitting 4~ digits previously), behind each AZ specific coord nodes are stateful EC2 based ES data nodes.

Had an AZ specific coordinator replacement occur, and the CCS nodes could no longer access that cluster and

[2018-03-04 23:24] CpuID commented on #28858
@dylanPowers can you confirm what version you are running right now? We are on 5.6.x, was considering upgrading to 6.1.x sooner rather than later until I saw this reported :)

[2018-03-05 08:39] svenso commented on #28860
Why has this issue been closed without a proper solution?
I had exactly the same issue.
The following article pointed me in the right direction:
https://confluence.atlassian.com/confkb/tomcat-fails-to-start-313463519.html

_The issue can happen when you try to specify the -server property when the <JAVA-HOME>/jre/bin/server/jvm.dll is being used as the JVM. Technically these two settings are redun

[2018-03-05 08:50] javanna commented on #28899
cc @elastic/es-core-infra

[2018-03-05 12:08] mennoo1996 commented on #28513
If no one else has picked this up yet, I would like to fix this

[2018-03-05 12:46] dylanPowers commented on #28858
Currently running 5.6.x with the intent to upgrade to 6.x for the optional remote cluster feature. I didn't see anything in the source or change log to denote any sort of fix. I ended up creating a separate service that pings all the nodes at /_remote/info to do what I said previously and it works pretty well.

[2018-03-05 13:01] hakamairi commented on #18131
Sorry for bringing back an old thread.

I don't understand why some plugins, maintained in this repository, are published to Maven Central, and some not.
For example:
- [reindex-client](http://mvnrepository.com/artifact/org.elasticsearch.plugin/reindex-client) jar published
- analysis-phonetic is provided as zip only in guide for releases, but nothing published to [maven central](https://search.ma

[2018-03-05 15:24] dadoonet commented on #18131
Embedding elasticsearch is not supported. Read https://www.elastic.co/blog/elasticsearch-the-server

If you have more questions, please open a discussion on discuss.elastic.co which the best place for that.

[2018-03-05 17:01] JD557 opened #28906 "JSON error in snapshots: Duplicate field"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.1.0

**Plugins installed**: [discovery-ec2, repository-s3, ingest-geoip, ingest-user-agent]

**JVM version** (`java -version`): same as `docker.elastic.co/elasticsearch/elasticsearch-oss:6.1.0`

**OS version** (`uname -a` if on a Unix-like system): same as `docker.elastic.co/elasticsearch/elasticsearch-oss:6.1.0`

**Description of the pr

[2018-03-05 18:33] elasticmachine opened #30079 "Doc: Provide an example for substituting an array of roles into role template query"
*Original comment by @ppf2:*

It's common for the template query for roles to be a terms query with multiple roles instead of using a term query with a single role.  When using a terms query, it will be nice to provide an example ([here](https://www.elastic.co/guide/en/x-pack/current/field-and-document-access-control.html#templating-role-query), i.e. directly in the DLS section of the x-pack secur

[2018-03-05 19:15] tomsommer commented on #27533
This is not solved by #27537 though

[2018-03-05 19:29] LucidObscurity commented on #28889
Thanks for taking a look!

Below is a sample of data from the results of the above query.

To answer your first question, `extended_stats_bucket` is incorrect whenever `shortHisto` has less than 6 buckets (`shortHisto: 10m, longHisto: 1h`). The stats are not entirely incorrect, but any mathematical formula which uses "count" is incorrect, at least in terms of what I'm trying to represent: the aver

[2018-03-05 22:23] nirmalc commented on #6593
it will be great if completion is not a part of default _stats output if its expensive call

[2018-03-06 05:19] danlevy1 commented on #28868
I asked the question here because I assumed the developers would be more aware of how gradle works than users of Elasticsearch. I asked the question [here](https://discuss.elastic.co/t/print-standard-streams-with-gradle/122116) and have not gotten a response for a couple of days. Can you re-open this?

[2018-03-06 07:12] MGerasimchuk commented on #13351
+1

[2018-03-06 08:00] darkn3rd opened #28908 "Current/Master GCE Discovery Docs document pre-5.1 config"
**Elasticsearch version** (`bin/elasticsearch --version`):
* `Version: 6.2.2, Build: 10b1edd/2018-02-16T19:01:30.685723Z, JVM: 1.8.0_161`

**Plugins installed**: (`bin/elasticsearch-plugin list`)
* `discovery-gce`

**JVM version** (`java -version`):
* `1.8.0_161`

**OS version** (`lsb_release -d` if on a Linux-like system):
* `Ubuntu 14.04.5 LTS`

**Description of the problem including expected ve

[2018-03-06 09:37] maricn commented on #28315
I've just noticed this bug with `must` condition. I'm executing the following query:
[code]

I get back the document:
[code]

But when i percolate that search, and run that document from result against the percolator, I don't get the percolated query in result list (i get other valid queries).

[2018-03-06 10:46] javanna opened #28910 "Recovery API supports `details` param not `detailed`"
As part of #28878 we discovered that the recovery API accepts a `detailed` parameter, also documented, that is unused. The parameter should rather be called `details` (see https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/indices/recovery/RecoveryState.java#L918), although it's no longer accepted by the recovery API since we introduced parameters validatio

[2018-03-06 11:01] maricn opened #28911 "Percolator query not returning document that the query matches (multiple must nested conditions)"
**Elasticsearch version** (`bin/elasticsearch --version`):
[code]

**Plugins installed**: []

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:

Percolator queries are not matching the documents that matched using the same queries.

I will include a query and a document

[2018-03-06 12:56] harshitdx29 commented on #23496
@rsmilyanov How did you get it? Facing the same issue. Option doesn't have a gitHit() or getSource() method.

[2018-03-06 13:10] yjhjeys commented on #24419
Have you solved this problem?

[2018-03-06 13:21] olcbean commented on #28910
In a few rest apis `detailed` flag is used :
https://github.com/elastic/elasticsearch/blob/e7d1e12675d72b5b297832b6bb45cbb3fed753d5/server/src/main/java/org/elasticsearch/rest/action/admin/cluster/RestListTasksAction.java#L72
And `details` is used as a filedname in few responses :
https://github.com/elastic/elasticsearch/blob/e7d1e12675d72b5b297832b6bb45cbb3fed753d5/server/src/main/java/org/elasti

[2018-03-06 13:30] gmoskovicz commented on #28875
CC @nknize

[2018-03-06 14:13] javanna commented on #28911
cc @elastic/es-search-aggs maybe @martijnvg would like to have a look?

[2018-03-06 14:22] javanna commented on #28906
hi @JD557 were those indices created with 6.x or earlier versions? I suspect this has to do with #22073 , but docs with duplicated fields should not be accepted in the first place, so it could be that some docs got properly indexed with 5.x and now cause problems.

cc @elastic/es-distributed

[2018-03-06 14:24] javanna commented on #28908
cc @elastic/es-distributed

[2018-03-06 14:25] javanna commented on #28894
cc @elastic/es-search-aggs

[2018-03-06 14:26] javanna commented on #28893
cc @elastic/es-distributed

[2018-03-06 14:30] JD557 commented on #28906
Some were created with 5.6.4.

Do you think that reindexing them would help or should I just set `-Des.json.strict_duplicate_detection=false` until I don't need those indices anymore?

[2018-03-06 14:33] javanna commented on #28906
I think that reindexing them will raise the error at index time, then you'll have to fix those docs in order to get them indexed. Setting the system property is a work-around, not really a solution.

[2018-03-06 14:37] #28513 closed

[2018-03-06 14:43] JD557 commented on #28906
By the way, I think I should mention that the error is
`com.fasterxml.jackson.core.JsonParseException: Duplicate field 'hourly-2018-02-28-17'`

Where `hourly-2018-02-28-17` is the name of one of the snapshots.

I don't know anything about the internal snapshot representation, but this seems to be a problem in the snapshot metadata, not in an index.

[2018-03-06 14:55] javanna commented on #28906
that is a very good point @JD557 thanks for noticing that. maybe @tlrx or @imotov know more about this.

[2018-03-06 17:05] dustin-decker commented on #28026
We found that shutting down all of our master nodes simultaneously and starting them back up was sufficient to clear the `persistent` setting.
The cluster still required initializing all the shards even though the data nodes stayed up. This isn't possible for everyone though, so I think an alternative path without such disruption is still needed.

[2018-03-06 17:39] jasontedor commented on #25327
This does not appear to be an Elasticsearch issue, closing.

[2018-03-06 17:39] #25327 closed

[2018-03-06 17:44] jasontedor commented on #14553
I am not sure if we can consider removing transport profiles at this time and these settings have otherwise been greatly simplified.

[2018-03-06 17:44] #14553 closed

[2018-03-06 17:46] jasontedor commented on #10337
Closed by #21630

[2018-03-06 17:46] #10337 closed

[2018-03-06 18:34] cbabhilash opened #28913 "Pods should rearrange based on data values or threshold set"
Pods should rearrange based on data values or threshold set. Currently each of the pods in a Kibana dashboard are fixed in position. We want the more important ones to show up on top. This cannot be preset because priority is dependent on the value of the data. For ex. there is a high CPU usage then i want the pod for CPU to show up on top

**Elasticsearch version** (`bin/elasticsearch --version`)

[2018-03-06 18:48] jasontedor commented on #28913
This looks like it was opened against the wrong repository. Perhaps [elastic/kibana](https://github.com/elastic/kibana) would be a better repository for this issue?

[2018-03-06 18:48] #28913 closed

[2018-03-06 19:05] talevy commented on #28875
Hi @mveitas,

Although I did not speak with you about this at Elasticon, Nick mentioned this to me afterwords and I think I understand what you are trying to do.

Currently, any multifield of a `geo_point` field will be computed as a geohash'd value of the `geo_point` field. This means your `gisPoint.geohash` multifield will be of type `keyword` and will hold the value of the geohash of `gisPoint`

[2018-03-06 19:52] davidscottcohen opened #28914 ""failed to add query" when restarting elasticsearch, when Percolator query contains a term filter defined in another document"
**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 2.4.4, Build: fcbb46d/2017-01-03T11:33:16Z, JVM: 1.8.0_121

**Plugins installed**: []

**JVM version** (`java -version`):

java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode

**OS version** (`uname -a` if on a Unix-like system):

Linux 2.6

[2018-03-06 20:30] mveitas commented on #28875
@talevy When you add any multifield property, the geohash value will be stored as you said and you can aggregate on this but you will get very fine grained buckets (each bucket will be the 12 character geohash). The only way around this is going to be using a script and performing a substring on the value which has .a runtime cost of of executing the substring.

Maybe I misunderstood what was actu

[2018-03-06 20:51] ywelsch commented on #28906
@JD557 Do you perhaps have multiple clusters that are concurrently writing to this repository?

[2018-03-06 20:58] ywelsch commented on #28893
Problem and solution should be explained in https://discuss.elastic.co/t/failed-to-create-s3-repository-with-es-6-0/108224/
Gist of it: All the modifications to the keystore take affect only after restarting Elasticsearch.

[2018-03-06 20:58] #28893 closed

[2018-03-06 21:58] JD557 commented on #28906
I have a single cluster with 3 nodes writing to that repository and a hourly curator job to create a snapshot.

The curator job accesses the cluster via DNS, so the snapshot requests don't always hit the same machine (but, AFAIK, there are never 2 snapshots running at the same time).

[2018-03-06 22:03] elasticmachine opened #29869 "elasticsearch_version_mismatch system watch will never trigger"
*Original comment by @inqueue:*

The `elasticsearch_version_mismatch` watch uses a query that will never match a document.

[code]

Substituting a real cluster ID for `{{ctx.metadata.xpack.cluster_uuid}}`:

[code]

Altering the term query to use `cluster_uuid` instead of `_id` returns documents.

[code]

This issue was first reported on Discuss: LINK REDACTED

[2018-03-06 22:53] jasontedor commented on #14734
Closing as stale.

[2018-03-06 22:53] #14734 closed

[2018-03-06 23:04] jasontedor commented on #28898
FYI @elastic/es-core-infra.

[2018-03-06 23:23] jasontedor commented on #14898
Closed by #25815 and #25958

[2018-03-06 23:23] #14898 closed

[2018-03-07 03:35] djjsindy opened #28920 "Slow recovery of write availability after partition of a large cluster"
We have a very large cluster which have 128 nodes. This cluster have a lot of index. There are about 20,000 shards, 10000 shards is primary,the other is replica. Primary and replica locate in different racks.  Write operation will always exist. In the network partition scenario the write operation will be blocked because it has to wait for replica shard failed cluster state commit. Write operation

[2018-03-07 03:42] zp-shadowolf opened #28921 "The problem about ordering in terms"
### 1. FunctionDescription
---

1. Use terms to generate multiple buckets.
2. Sort the buckets using the aggregated result.

### 2. My Previous Solution
---

1. At first, I use terms->order to sort buckets.
2. Then, part of the aggregate result must be achieved using bucket_script and need to support the paging function. The terms->sort can not be used. I use the bucket_sort to achieve the functio

[2018-03-07 07:18] spinscale commented on #28914
version 2.4.4 is no longer supported, as Elasticsearch is already two major versions ahead. Percolator has also massively changed to become a query in Elasticsearch 5.x upwards.

Can you check if this problem still persists in the most recent major version of Elasticsearch. If not, I will close this issue.

[2018-03-07 07:20] spinscale commented on #28921
Please ask questions like this in the [discuss forum for Elasticsearch](https://discuss.elastic.co/c/elasticsearch), as we try to use github for bugs only. Thanks a lot!

[2018-03-07 07:20] #28921 closed

[2018-03-07 07:23] spinscale commented on #28920
@elastic/es-distributed can you please take a look if this is valid or might have changed with 6.0?

[2018-03-07 07:29] spinscale commented on #28898
super minor, but just to add it here for the sake of completeness: usage of the `X-Opaque-Id` in `Netty4HttpChannel`, a header that is passed from the request to the response for identification purposes

[2018-03-07 09:52] prasadkhandagale commented on #21101
+1

[2018-03-07 11:48] nikoncode opened #28922 "QueryString query - quoted _exists_ query returns no result"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.1

**Plugins installed**: []

**JVM version** (`java -version`): OpenJDK Runtime Environment (build 1.8.0_162-b01)

**OS version** (`uname -a` if on a Unix-like system): Linux mikita-pc 4.14.20-2-MANJARO #1 SMP PREEMPT Sat Feb 17 21:47:27 CET 2018 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior*

[2018-03-07 12:10] kevcodez opened #28923 "Low Level Rest Client shows successful response bad request with empty response"
Using the AWS Elasticsearch Service with the latest possible version (6.0.1) deployed.

When doing basic requests like an index check using `HEAD /<indexname>` I am getting a response with status code 400 and an empty response body. The request works fine with a basic HTTP Client.

I was unable to produce this locally. This seems to be an issue in the low level REST Client.

**Elasticsearch versio

[2018-03-07 12:52] jasontedor commented on #28923
We have a [test case](https://github.com/elastic/elasticsearch/blob/v6.0.1/modules/transport-netty4/src/test/java/org/elasticsearch/rest/Netty4HeadBodyIsEmptyIT.java#L71-L75) that tests that `HEAD` requests for an existing index operate correctly.

This is not to say that there is not a bug here, but it is to say that without a correlating log message or a reproduction, we are unlikely to make muc

[2018-03-07 12:53] jasontedor commented on #28923
FYI @elastic/es-core-infra.

[2018-03-07 13:21] spinscale commented on #28922
@elastic/es-search-aggs can you take a look?

One can use `"query":"_exists_:na\\ me"` to get the desired result, though I am not sure if the above syntax is expected to work as well

[2018-03-07 13:25] kevcodez commented on #28923
@jasontedor Same goes for GET. Executing both GET and HEAD via curl against the ES instance did just fine.

Switchting to the basic apache http client with the same request URL resulted in a 200 OK rather than 400.

I will try to get some logs out of the AWS service by tomorrow, I cannot access the logs today.

[2018-03-07 13:38] RishuK opened #28924 "Search for a parent and all it's children in one query in elastic search"
Referring to the examples mentioned in the official documentation of building a parent-child relationship - https://www.elastic.co/guide/en/elasticsearch/reference/current/parent-join.html

The link has provided question-answer join relationship where question is a parent and answer is a child type.

If you need to search for all parents matching some text along with their children matching some t

[2018-03-07 15:52] jasontedor commented on #28860
@svenso The default `jvm.options` file packaged with Elasticsearch does not include the `-server` flag since Elasticsearch 6.0.0.

[2018-03-07 16:05] jasontedor commented on #28860
@svenso Thanks for the feedback here, I pushed feb5f9dd8bf83d9b7426bc81f63ed8c7481cdbed. I hope this helps.

[2018-03-07 16:07] spinscale commented on #28924
Please ask questions like this on our [Elasticsearch discuss forum](https://discuss.elastic.co/c/elasticsearch), as we try to use github for bugs and issues only. Thank you!

[2018-03-07 16:07] #28924 closed

[2018-03-07 17:19] RishuK commented on #28924
Ok, I have posted here - https://discuss.elastic.co/t/search-for-a-parent-and-all-its-children-in-one-query-in-elastic-search/122902

If someone here has an idea and can answer, that would be awesome. Thankyou

[2018-03-07 19:32] LucidObscurity commented on #28860
-server was the problem I was having. Thanks for the follow up.

[2018-03-07 20:12] svenso commented on #28860
interesting. basically our deployment process should use the default jvm.options and the service is removed and recreated everytime. I will have to check that tomorrow. Never mind, thanks all :)

[2018-03-07 20:16] Bargs commented on #28727
FYI we [have](https://github.com/elastic/kibana/issues/15732) [a](https://github.com/elastic/kibana/issues/10787) [few](https://github.com/elastic/kibana/issues/15662) issues related to this in Kibana. It's been on my todo list to look into possible solutions for awhile. I'm stoked to see the root problem may be solvable in ES.

[2018-03-07 20:34] DaveCTurner commented on #28920
I'd expect the recovery of a partitioned 10,000 shard cluster to be faster in 6.x, but not for the reasons described here. Please could you provide the logs from a decent proportion of the nodes (≥ 5 from each side of the partition, including a selection of both master and data nodes) so we can see what was actually happening for those 10 minutes. I can provide an email address if you struggle to

[2018-03-07 21:24] maricn commented on #28911
Any help would be great, this is currently a blocker for us using ES. It would be nice to know if it's indeed a bug and if so, when could we expect it fixed. Any additional information or a workaround would be appreciated. Thanks!

[2018-03-07 21:33] martijnvg commented on #28911
@maricn Thanks for reporting. This is indeed a bug and should be fixed via #28840.

[2018-03-07 21:37] DaveCTurner commented on #28920
Also 5.3.1 is approaching a year old and missing a few fixes that might have an impact on this. Is it feasible to upgrade to a more recent version and retry your experiments? Ideally the latest possible version (currently 6.2.2) but it'd be useful to look at the latest 5.x version (currently 5.6.8) if that's not possible.

[2018-03-07 22:20] dnhatn commented on #28920
@ywelsch and I discussed this issue. We will work on an improvement which avoids failing the same shard multiple times.

[2018-03-07 22:31] dakrone opened #28932 "QueryRescorerIT.testRescoreAfterCollapse fails reproducibly"
After #28521 was merged, `QueryRescorerIT.testRescoreAfterCollapse` has been failing repeatedly with the following error:

[code]

This reproduces on 6.x for me with:

[code]

And can be seen here: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/772/console

[2018-03-07 22:52] jasontedor commented on #27243
Closed by #28521

[2018-03-07 23:09] xabbu42 opened #28933 "multi_match type cross_fields ignores tie_breaker"
**Elasticsearch version** : 6.0.0 - 6.2.2

**Description of the problem including expected versus actual behavior**:

A multi_match query with type cross_fields ignores tie_breaker since https://github.com/elastic/elasticsearch/pull/25115. If this is intentional, the documentation should be adapted. If not, the following patch seems to fix it without any test failures:

[code]

I can make a proper

[2018-03-08 01:23] elasticmachine opened #29871 "Docs for X-Pack Java Client only use PEM"
*Original comment by @tvernum:*

In https://www.elastic.co/guide/en/x-pack/6.2/java-clients.html we only provide examples that user `.key`, `.certificate` and `.certificate_authorities`.

Since the default install instructions for transport now use PKCS#12, we need to provide examples that use `.keystore` and `.truststore` instead (or as well).

CC: @elastic/es-security

[2018-03-08 06:32] martijnvg commented on #28911
I just verified and #28840 does fix the problem here.

[2018-03-08 06:51] djjsindy commented on #28920
@spinscale @DaveCTurner @dnhatn
Could you provide your email address ?
I will send it to you some log and detailed analysis

[2018-03-08 08:56] ywelsch opened #28934 "Don't load global state when only restoring indices"
Restoring from a snapshot currently also always loads the global state (templates, customs, ...) even though it's not always used by the restore process, for example when `include_global_state` is set to `false` in the restore request. In case there are version incompatibilities in the global state file, or corruption issues, this prevents indices from being restored. We could instead simply not l

[2018-03-08 09:11] bleskes commented on #28934
Seems logical to me. @tlrx , any opinions?

[2018-03-08 09:21] ywelsch commented on #28906
Are you experiencing frequent network partitions between the nodes? Anything in the logs on the days leading up to this that could indicate failures on some of the nodes?

Looking at the [following snapshotting code](https://github.com/elastic/elasticsearch/blob/v6.1.0/core/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java#L1230-L1236), we should make it more resilien

[2018-03-08 09:53] DaveCTurner commented on #28920
@djjsindy please use david.turner@elastic.co and I will share with the rest of the team. I expect we will also want to summarise and discuss any analysis here, which might include things like index names, shard counts, and so on. If there is any information like this that you want not to be shared in public then please indicate as such in your email.

[2018-03-08 10:37] jimczi commented on #28932
Thanks @dakrone, https://github.com/elastic/elasticsearch/pull/28521 has been reverted in https://github.com/elastic/elasticsearch/commit/bc8b3fc71ca405832b410a97fc3bd3589ff12f34 so I am closing this issue.

[2018-03-08 10:37] #28932 closed

[2018-03-08 10:48] jimczi commented on #28933
Thanks @xabbu42 , I opened https://github.com/elastic/elasticsearch/pull/28935 for a quick fix that should be included in the next minor release (6.3).

[2018-03-08 11:01] bleskes commented on #28908
@tlrx any thoughts about this?

[2018-03-08 11:19] rcatambing opened #28938 "Creating a nested field via mapping results to some other field instead, if properties definition contains field definition."
- ES Version    : 5.4.0
- Java Version : Java 9.0.1
- OS version : Windows 10

Creating a **nested field** via mapping results to **text field** instead, if properties definition contains field definition.

**Steps to reproduce**:

1. Define mapping for an index using Sense with nested object definition like below:

{"mappings": {
         "auditlogs": {
            "properties": {

[2018-03-08 11:31] JD557 commented on #28906
I don't think that there are frequent network partitions.

However, looking at the logs, here are some errors that happened before the first time that I had this problem (sorry for the large logs):

**Snapshot creation failed**
[code]

**Snapshot deletion failed**
[code]

**Concurrent snapshot exceptions** (Maybe a snapshot got "stuck" and took too much to complete?)

[code]

And finally, I got a

[2018-03-08 12:06] #28938 closed

[2018-03-08 12:54] rsmilyanov commented on #23496
@harshitdx29
[code]

[2018-03-08 13:23] gpthome opened #28940 "Environment Variable Syntax"
I am trying to deploy and use a simple elasticsearch Docker container in OpenShift.  I am following the ES documentation here: https://www.elastic.co/guide/en/elasticsearch/reference/6.2/docker.html#docker-cli-run

OpenShift 3.5 follows specific syntax regarding environment variable names.  It requires that a variable name be an alphanumeric (a-z and 0-9) string beginning with a letter that may co

[2018-03-08 14:30] jasontedor commented on #28940
This issue would better be handled on the [elastic/elasticsearch-docker](https://github.com/elastic/elasticsearch-docker) repository.

[2018-03-08 14:30] #28940 closed

[2018-03-08 15:46] jasontedor commented on #28668
This test is no longer failing.

[2018-03-08 16:06] dadoonet opened #28942 "ingest-attachment support for per document `indexed_chars` limit"
Coming from this discussion: https://discuss.elastic.co/t/how-to-control-the-indexed-chars-value-on-a-ingest-attachment-pipeline/123073/4

We today support a global `indexed_chars` processor parameter. But in some cases, users would like to set this limit depending on the document itself.
It used to be supported in mapper-attachments plugin by extracting the limit value from a meta field in the do

[2018-03-08 16:11] sergii-sakharov commented on #21101
One more use case with default pipelines could be e.g. custom validation/postprocessing of Kibana objects in case of introduction of a pipeline on .kibana index.

[2018-03-08 16:49] altmky commented on #28885
Ouch, I was looking into using the High Level Rest Client as well but this sounds like blocker if it won't retry on errors. @javanna I see an "adoptme" label does it mean Elastic is not going to pro-actively look into this? Is there any recommended workaround?

[2018-03-08 17:08] elasticmachine opened #29872 "SQL: Add initial geo support"
## Introduction

This is a meta issue for tracking initial iteration of adding geo features to SQL. Our implementation will be based on the [OpenGIS® Implementation Standard for Geographic information - Simple feature access](http://www.opengeospatial.org/standards/sfs), which is the current standard for GIS system implementation. This effort will concentrate on SQL option AKA ISO 19125-2. Later o

[2018-03-08 17:40] tlrx commented on #28934
It makes sense to me. I think that we can have the same issue when deleting a snapshot but I'm not sure we can avoid loading the global state in this case. I'll take a look.

[2018-03-08 18:17] talevy commented on #27783
I know this is late to the game... but a similar problem popped up recently, and so this change should also fix that:

https://github.com/elastic/elasticsearch/pull/28752

[2018-03-08 19:14] andyb-elastic commented on #26585
I'm able to reproduce this and working on a fix. Suggestion and its component classes need to be made serializable as NamedWriteables so there's some untangling to do

[2018-03-08 20:53] eskibars opened #28946 "Allow Painless's maxLoopCounter to be set"
**Describe the feature**:
We have counter which bounds the maximum number of internal statement executions in Painless.  That number (`maxLoopCounter`) has gone from 10,000 to 1,000,000 as we've realized it's not large enough.  Today, again, we have users hitting the upper bound ("The maximum number of statements that can be executed in a loop has been reached") and asking to increase the number.

[2018-03-08 20:57] #28890 closed

[2018-03-08 21:01] jasontedor commented on #28946
FYI @elastic/es-core-infra.

[2018-03-08 21:02] jasontedor commented on #28942
FYI @elastic/es-core-infra.

[2018-03-08 21:02] rjernst commented on #28740
For anyone interested in fixing this, the lenient code is in `UpdateRequest.fromXContent`. The if/elseifs in the while loop need to handle unknown keys. Better yet would be to convert this to ObjectParser.

[2018-03-08 21:02] jasontedor commented on #28942
@martijnvg @talevy Do you have any thoughts on the proposal?

[2018-03-08 21:06] rjernst commented on #28946
I don't think this should be a cluster level setting, but instead a per context value. Different types of scripts have different values that make sense. In a scoring script, we should go back to 10000 (or less even). In scripted fields, we can go much higher since this only operates on top N. I think we should start here, and then revisit based on future feedback with the new values in mind.

[2018-03-08 21:19] boutcher opened #28947 "Canvas Timelion datasource not returning results"
Running ES 6.2, installed latest Canvas, and I'm unable to get the timelion datasources working correctly. All data returned is 0.

I loaded a few million documents into an index, timeseries data, for Feb 2018. I'm easily able to use this data directly in timelion with a simple query such as `.es(index=callrecord*,timefield=startDate)` with the time selector set to last 60 days. I get a nice line

[2018-03-08 21:23] jasontedor commented on #28947
This repository is for open source Elasticsearch only. Please open a topic on the [forum](https://discuss.elastic.co) in the [Kibana category](https://discuss.elastic.co/c/kibana).

[2018-03-08 21:23] #28947 closed

[2018-03-08 21:25] danlevy1 opened #28948 ""object field starting or ending with a [.] makes object resolution ambiguous" does not appear to be accurate for all inputs"
Elasticsearch version: 6.2.1

Plugins installed: None

JVM version: 1.8.0_131

OS version: MacOS 10.13

I am running across a few test cases where the following error is not making sense to me.

The first example includes a [.] in front of `foo`. In this case, there is an error that states that there cannot be a [.] at the beginning of the object field:

Input:

[code]

Output (Error):
[code]

Thi

[2018-03-08 21:32] eskibars commented on #28946
That actually makes a lot more sense to me.  +1

[2018-03-08 21:32] nik9000 opened #28950 "Bad aggregation name complains about "unknown BaseAggregationBuilder" instead of "unknown Aggregation""
If you write an aggregation as

[code]

Then we say `Unknown BaseAggregationBuilder [missing]`. It'd be *much* more user friendly to say "Unknown Aggregation [missing]."

[2018-03-08 21:51] talevy commented on #28942
I do not have any objections, I am just slightly annoyed that one has to use an actual field in the document to be used as a parameter to the plugin. It would be nice if there were a way to pass `_meta`-like fields per-document. @dadoonet, would it make sense to keep this `size` field as part of the source? or would you expect the attachment processor remove it

[2018-03-08 22:03] dadoonet commented on #28942
I think the user can then apply a remove processor if needed.
Agreed that have meta fields would be better but do we have that infrastructure in ingest? If not, does it worth it to add for this feature?

[2018-03-08 22:08] talevy commented on #28942
@dadoonet cool. No meta fields respected, as far as I know. This would have to be a feature of ES-Core that would probably only be leveraged by ingest-pipelines (so I have a hard time seeing this justified for now).

[2018-03-08 22:38] elasticmachine opened #29873 "[Rollup] Hide Rollup-specific aggs when bucket is empty"
*Original comment by @polyfractal:*

If a bucket is empty, the metrics in that bucket will usually be `null` or `0` (depending on the metric).  This is fine for user data, but for rollup-injected metrics like the bucket's count, it can litter the response with unexpected values.

For example, we should hide `"histo._count"` on the second bucket in this response:

[code]

[2018-03-08 23:03] quirogadf commented on #22913
Also a problem for us since we keep elastic behind a load balancer.

[2018-03-08 23:23] #28269 closed

[2018-03-08 23:29] #27783 closed

[2018-03-09 01:26] bizybot opened #28953 "CLI tool: MultiCommand must override close method and close subcommands to close resources properly"
**Elasticsearch version** (`bin/elasticsearch --version`): All versions

**Plugins installed**: NA

**JVM version** (`java -version`): 9.0.1

**OS version** (`uname -a` if on a Unix-like system): Darwin MBP 17.4.0 Darwin Kernel Version 17.4.0: Sun Dec 17 09:19:54 PST 2017; root:xnu-4570.41.2~1/RELEASE_X86_64 x86_64

**Description of the problem including expected versus actual behavior**:
MultiCom

[2018-03-09 01:47] akotlar commented on #25861
I think this is a frankly terrible idea. It is perfectly understandable what happens when you convert a float to an int. It truncated the float in every sensible language.

Why conflate this wth questions about rounding? In what language does int(float) result in a rounded number?

I find this feature eminantly useful because it allows me to define int(float) in my indexing config. Please leave it

[2018-03-09 02:23] talevy commented on #28875
@mveitas I see. that is one solution to avoid any extra cycles on computing the bucket value.

Do you still think something is broken with the way multifield values are expected to work on geo_point fields?

[2018-03-09 02:53] mveitas commented on #28875
Based on the conversation with @nkinze I thought this was a regression with the multifield value would work with geo_point fields. Looking back at the history I havent been able to point to using the <fieldname.geohash> within the geohash aggregation and precision to return the correct value.

[2018-03-09 04:08] elasticmachine commented on #28953
Pinging @elastic/es-core-infra

[2018-03-09 04:09] elasticmachine commented on #28950
Pinging @elastic/es-search-aggs

[2018-03-09 04:17] harshitdx29 commented on #23496
Thanks @rsmilyanov

[2018-03-09 04:30] elasticmachine commented on #28933
Pinging @elastic/es-search-aggs

[2018-03-09 04:31] elasticmachine commented on #28914
Pinging @elastic/es-search-aggs

[2018-03-09 04:32] elasticmachine commented on #28910
Pinging @elastic/es-core-infra

[2018-03-09 04:33] elasticmachine commented on #28889
Pinging @elastic/es-search-aggs

[2018-03-09 04:33] elasticmachine commented on #28885
Pinging @elastic/es-core-infra

[2018-03-09 04:34] elasticmachine commented on #28884
Pinging @elastic/es-search-aggs

[2018-03-09 04:58] jkakavas commented on #28948
If I understand this correctly, it is the lack of error in the second case that doesn't make sense to you, correct ? [Dots are allowed in field names since 2.4](https://www.elastic.co/guide/en/elasticsearch/reference/2.4/dots-in-names.html), why would you think the second example should throw an error ?

[2018-03-09 05:23] danlevy1 commented on #28948
@jkakavas I am basing this off of https://github.com/elastic/elasticsearch/issues/15951, where it states in the first line, "we had to reject field names containing dots."

[2018-03-09 05:31] rjernst commented on #28948
@danlevy1 You are correct, this is a bug. The problem is in `DocumentParser.splitAndValidatePath`. Here we call `String.split`, and assume that if any element is an empty string, then there was a double dot. However, it does not actually work for trailing dot, due to oddities in the implementation of `String.split`. From the javadocs there:

So the algorithm in `splitAndValidatePath` needs to be a

[2018-03-09 05:32] elasticmachine commented on #28948
Pinging @elastic/es-search-aggs

[2018-03-09 05:33] jkakavas commented on #28948
#15951 is 2 years and explicitly discusses options for re enabling support for dots in field names. It was closed when this was introduced in 2.4 as I linked above. I'm going to close this issue for now as this is expected behavior.

[2018-03-09 06:02] shashanksinha1080 opened #28955 "Unable to get correct wildcard query results from ES in some cases."
**Describe the feature**:
Elasticsearch wildcard query

**Elasticsearch version** (`bin/elasticsearch --version`):
1.6
**Plugins installed**: []

**JVM version** (`java -version`):
1.8
**OS version** (`uname -a` if on a Unix-like system):
Windows
**Description of the problem including expected versus actual behavior**:
trying to make wildcard search for a few terms results in inappropriate output.

[2018-03-09 06:10] martijnvg commented on #28911
Fixed via #28840

[2018-03-09 06:10] #28911 closed

[2018-03-09 06:29] shobhit121 opened #28956 "Unable to perform group on one field and sort on another field in Terms aggregation"
Please find query below.

We want to perform group on **src_id** and sort on field **alias1**.Is there any possibility to perform this action.

[code]

[2018-03-09 06:32] martijnvg commented on #28914
@davidscottcohen This problem cannot occur in ES 5.0 and later. The way the `terms` query is executed inside a percolator query has changed completely and the terms are now fetched when the percolator query is indexed, this to avoid problems like you've encounter here.

I will close this issue, please comment if you have questions.

[2018-03-09 06:32] #28914 closed

[2018-03-09 06:33] danlevy1 commented on #28948
@rjernst I will take look more into this. I was actually fixing issue https://github.com/elastic/elasticsearch/issues/21862 when I came across this one. I will update this as soon as I take a look at the `splitAndValidatePath` method.

[2018-03-09 07:00] jkakavas commented on #28956
Hi @shobhit121, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) instead. Thank you!

[2018-03-09 07:00] #28956 closed

[2018-03-09 07:05] wispxjtu opened #28957 "ElasticSearch print a lot of warn and debug level logs under heavy load, which make performance worse"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.2.2
**Plugins installed**: []

**JVM version** (`java -version`):
1.8.0_151

**OS version** (`uname -a` if on a Unix-like system):
Linux pronto-pre-g2-hm8h-phx02-1519893841-3-2125916 3.13.0-100-generic #147-Ubuntu SMP Tue Oct 18 16:48:51 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actua

[2018-03-09 07:54] martijnvg commented on #28942
I think @dadoonet approach makes sense. I only would name `field_indexed_chars` `indexed_chars_field` instead.

[2018-03-09 08:05] xiaoshua commented on #14943
I have the same problem as you. My temporary solution is as follows:
[code]

[2018-03-09 08:36] BigbigY opened #28958 "Ask the logstash output plug-in hosts configuration, which is the role of the connection cluster, master,data,client?"

[2018-03-09 08:38] BigbigY commented on #28958
output {
        elasticsearch {
            user => "elastic"
            password => "password"
            hosts => [ "master01:9200","data01:9200","client01:9200"]
            index => "mysql-slow-query-%{+YYYY-MM-dd}"
        }
----
Master,data,client, or all nodes？

[2018-03-09 09:01] jkakavas commented on #28958
Hi @BigbigY, we reserve Github for bug reports and feature requests for open source Elasticsearch only. Please ask questions like these in the [Logstash forum](https://discuss.elastic.co/c/logstash) instead. Thank you!

[2018-03-09 09:01] #28958 closed

[2018-03-09 09:33] jimczi commented on #28922
This is a regression, we should accept the quoted version (e.g. `_exists_:"na me"`). I'll work on a fix.

[2018-03-09 09:45] colings86 commented on #28877
@osman being able to update search analyzers (specifically being able to update the synonyms in a synonym token filter only used at search time) is something we are actively thinking about. However it is not so straight-forward since a token filter can be used by any analyzer and any analyzer can be used as either an "analyzer" or "search_analyzer" in the mappings. This means that determining if a

[2018-03-09 09:53] colings86 commented on #28853
@nknize could you comment on how viable this would be?

[2018-03-09 10:01] colings86 commented on #28950
I agree, we should fix this.

[2018-03-09 10:05] DaveCTurner commented on #28920
@djjsindy I received your email but it only contained a handful of log messages, showing nothing unexpected. I responded:

Copying this here in case you didn't get my response.

Additionally, we just pushed 90bde12 (5.6), e0da114 (6.x), and 033a83b (master) which should make a difference to how fast the task summary `toString()` method takes. If you're able, please can you try this change out and

[2018-03-09 11:27] tlrx opened #28960 "Use unit testing mock for the service calls in repository-gcs"
In the `repository-gcs` plugin, many tests rely on the `GoogleCloudServer` utility class to simulate calls to the Google Cloud Storage API.

While `GoogleCloudServer` is really useful in fixtures like `GoogleCloudStorageFixture`, it would be better if the following test classes use a more pure unit testing mock for the service calls inside the unit tests:
- GoogleCloudStorageBlobStoreContainerTest

[2018-03-09 11:27] elasticmachine commented on #28960
Pinging @elastic/es-distributed

[2018-03-09 11:45] DaveCTurner opened #28961 "Use RUNTIME_JAVA_HOME for benchmarks"
Since #28071, we distinguish the JVM used for compilation (defined by `JAVA_HOME`) from the JVM used to run tests (defined by `RUNTIME_JAVA_HOME`, or `JAVA_HOME` if the previous is unset). However, it seems that the benchmarks still use `JAVA_HOME`: the benchmarks run in #28941 reported they were using my JDK 9:

[code]

even though Gradle reported that my runtime JDK is version 8:

[code]

/cc @e

[2018-03-09 13:46] jasontedor commented on #28957
You are facing rejected execution exceptions, presumably because you're overloading the cluster. The logging is a symptom of this problem, and is reported to make you aware in the server logs of this fact. I do not see a bug here. Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and discussion, and instead prefers to use GitHub only for verified bug reports and f

[2018-03-09 13:46] #28957 closed

[2018-03-09 13:51] Mpdreamz commented on #28432
There is also watcher `throttle_period` `interval`, machine learning has `query_delay`, `latency`, `bucket_span`, rollover has `max_age`. Just a random pick but quite a few places in the API take a time unit.

[2018-03-09 13:57] dadoonet commented on #28955
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

BTW your version is not supported anymore.

Thanks!

[2018-03-09 13:57] #28955 closed

[2018-03-09 14:17] jpountz commented on #28884
@bitkowitz We discussed this feature request in FixitFriday and would like to ask you to share more information about your use-case. In particular, what would the aggregation look like in your case, and what kind of post-processing would you need to perform?

Leaving the `discuss` label so that it will be discussed again when you share more information.

[2018-03-09 14:18] elasticmachine commented on #28858
Pinging @elastic/es-core-infra

[2018-03-09 14:22] jimczi commented on #28865
We discussed this during FixIt Friday and decided that it would be nice to implement it.
The token limit should be the number of tokens that the suggester checks instead of an hard limit that determine if the suggester should run or not.
I'll mark this as adoptme since I don't have time to work on it at the moment.

[2018-03-09 14:32] jasontedor commented on #28851
We discussed this in Fix-it-Friday. We think that using the listener callbacks exposed here are the way to track this information, if needed. We prefer to keep our public-facing APIs small and since this information is already available via the callback mechanism, we would prefer not to expose this information directly increasing the weight of the public-facing API.

[2018-03-09 14:32] #28851 closed

[2018-03-09 14:40] jimczi commented on #28873
We discussed this in FixIt Friday and decided that suggestions should not be part of a scroll request.
You can use multi-search to build two queries, one for suggestion and one for the scroll and then proceed the scroll with the scroll_id returned in the second request.

[2018-03-09 14:40] #28873 closed

[2018-03-09 14:42] ngsoftwaredev opened #28964 "ClassCastException when loading SearchTemplateRequest from within a plugin"
**Elasticsearch version** (`bin/elasticsearch --version`):

6.2.2

**Plugins installed**: []

**JVM version** (`java -version`):

1.8.0_161

**OS version** (`uname -a` if on a Unix-like system):

Linux Kirin 4.13.0-36-generic #40~16.04.1-Ubuntu SMP Fri Feb 16 23:25:58 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

I have written

[2018-03-09 14:43] edovac opened #28965 "composite aggregation with filtered terms sources"
Hi,
I'm working on a project requiring something like an heat map between named entities, starting from most frequent values of these entities.

I.E.: We need to calculate document count for people to places document occurrences, or even people to people document occurrences.

I tried different kind of aggregations, but I think the composite aggregation is fit for the problem, using terms value so

[2018-03-09 14:44] jpountz commented on #28836
We discussed it in Fixit Friday and agreed that we won't try to implement it due to the fact that we can't think of a way to support such operations efficiently.

The only ideas that we thought were reasonable boiled down to having another index that stores the same data but flattened. Depending on your use-case, you might be able to maintain those two views in parallel or would only maintain the

[2018-03-09 14:44] #28836 closed

[2018-03-09 15:00] martijnvg commented on #28857
Nested queries need a bitset to work well. If these bitsets are loaded on the fly then this will slow down searches significantly (load time is linear to the number of parent documents). Further more it can cause cache churn (bit sets constantly being built / cached and then removed). So adding a limit to the bitset filter can cause more harm than good.

If you have many nested fields you need to

[2018-03-09 15:00] #28857 closed

[2018-03-09 15:01] ywelsch commented on #28831
We discussed this in FixitFriday and would like to add `coordinating_only` as a filtering option for resolving node ids (affecting APIs such as `_nodes`). In the meanwhile you can use the workaround suggested by @nik9000.

[2018-03-09 15:20] elasticmachine commented on #28964
Pinging @elastic/es-core-infra

[2018-03-09 15:25] ywelsch commented on #28831
You can also negate node roles, e.g. `master:false`. This requires a little hack, though, namely to use the wildcard `*` as first parameter in the request, so that all nodes are initially selected, and the master-eligible then subtracted, ...

The following should achieve what you're looking for:

[code]

The adoptme here is to simplify the API so that the "wildcard" hack is not needed.

[2018-03-09 15:29] jasontedor commented on #28964
Your problem is that you are getting a `o.e.s.m.SearchTemplateRequest` from another classloader. In Java, the runtime type of an object is determined not only by the fully-qualified name, but also by the classloader. I do not consider this a bug and therefore I am closing this issue.

[2018-03-09 15:29] #28964 closed

[2018-03-09 15:50] wispxjtu commented on #28957
Hi Jason, I know that the node is a little overloaded, we’re testing our cluster performance under various conditions.

The problem is this log always make performance worse, then node print more logs, which make performance worse and worse.
In our tests, the cluster can take 600 requests per second with about 30ms Avg response time, the cpu usage was about 80%. But after we increase the search ra

[2018-03-09 15:53] ymruan commented on #28957
I think the key point is, with the same load on the same machine. Why there is some performance downgrade? Log is not the root cause here.

[2018-03-09 15:54] ymruan commented on #28957
I think the key point is, with the same load on the same machine. Why there is some performance downgrade? Log is not the root cause here.

[2018-03-09 16:35] imranazad commented on #28865
@jimczi Those were my thoughts exactly. For now as a stop gap solution we do some pre-processing and select a maximum of 10 terms from the original query and we pass that onto elasticsearch and then place the terms back in the original positions in the original query. I would have looked at working on this but I have no background in Java technologies.

[2018-03-09 16:53] jimczi commented on #28865
Thinking more about this it's already possible to achieve what you want by using a [limit token count filter](https://www.elastic.co/guide/en/elasticsearch/reference/master/analysis-limit-token-count-tokenfilter.html) in the analyzer that is picked by the phrase suggester.
Something like:
[code]
And then use the `trigram_limit` analyzer in the suggest query:

[code]
This will limit the suggest to

[2018-03-09 16:57] DaveCTurner commented on #28853
We discussed this in Fix-it Friday. It seems like it'd probably be feasible but is a long way down the list of things we expect to do, would add some complexity to how shapes are indexed, and can be emulated in the client as described above. Arguably we could keep it open as an "adoptme" for a while, but on balance it seems better to close it now.

[2018-03-09 16:57] #28853 closed

[2018-03-09 17:03] polyfractal commented on #28889
@LucidObscurity Thanks for the details! (and sorry for the delay, was away for a work trip and traveling home)

I see what you're saying now, makes sense.  Because the second short histo is inside the first, you need to expand the ranges dynamically based on the keys if you need any kind of computation done on those buckets.

Maybe there's a workaround with the current limitations, but I'm not thi

[2018-03-09 17:03] nachogiljaldo opened #28967 "OutOfMemoryError not killing the node"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.1.3

**Plugins installed**: [ingest-geoip,ingest-user-agent,repository-s3,x-pack]

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system): `Linux bd9a03495c76 4.4.0-66-generic #87~14.04.1-Ubuntu SMP Fri Mar 3 17:32:36 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

**Description of the problem including

[2018-03-09 17:25] elasticmachine commented on #28967
Pinging @elastic/es-core-infra

[2018-03-09 17:28] polyfractal commented on #26876
Closing, date math is supported in ExtendedBounds now.

Couldn't quite find the commit when it was added (maybe during the histo/date_histo split? dunno), but there are definitely tests for it now: https://github.com/elastic/elasticsearch/blob/master/server/src/test/java/org/elasticsearch/search/aggregations/bucket/histogram/ExtendedBoundsTests.java#L113

[2018-03-09 17:28] #26876 closed

[2018-03-09 17:30] rjernst commented on #28967
Relates to #21721. /cc @jasontedor @s1monw

[2018-03-09 17:34] imranazad commented on #28865
@jimczi Ah that is clever! Nice one!

[2018-03-09 17:37] rjernst commented on #28967
@nachogiljaldo Can you attach your complete log (in a gist)? This should not be possible. After the error message `fatal error in thread [Thread-35], exiting`, we call `Runtime.halt()`. This should cause the jvm to shutdown.

[2018-03-09 17:55] jasontedor commented on #28967
The first one is a bug and I will open a fix soon. The second one I do not believe without sufficiently strong evidence. The third one I am still investigating.

[2018-03-09 18:00] jasontedor commented on #28967
[code]

@nachogiljaldo Would you please provide evidence that this one did not result in the node dying?

[2018-03-09 18:01] jasontedor commented on #28967
[code]

@nachogiljaldo Do you have any more to this stack trace?

[2018-03-09 18:36] nachogiljaldo commented on #28967
[code]

I have more examples of those if that's what you mean. If you ask if there's a stacktrace following it, there aren't.
[code]

[2018-03-09 18:39] henrikno commented on #28967
Btw. this is printed to stdout: `Exception: java.lang.SecurityException thrown from the UncaughtExceptionHandler in thread "Thread-428833"`

[2018-03-09 18:41] jasontedor commented on #28967
@henrikno Is there a stack trace?

[2018-03-09 18:43] henrikno commented on #28967
No, that's the weird thing. Just that line, several times, with different thread names.
[code]

[2018-03-09 18:53] jasontedor commented on #28967
Okay, no worries; I have a gut feeling what is occurring. I will try to reproduce and validate. This will knock out the first two of these. I will still need more information on the third one.

[2018-03-09 18:57] nik9000 commented on #28950
Thanks for fixing my missing ping @hub-cap !

[2018-03-09 19:05] elasticmachine opened #29875 "SQL: sql-cli script won't run for regular users"
*Original comment by @nik9000:*

When I run the `sql-cli` script as a "normal" user I get:

[code]

The sql-cli script doesn't actually need anything from `/etc/sysconfig/elasticsearch`. It really only needs `elasticsearch-env` to get `$ES_HOME`.

You can work around this by running the sql-cli jar directly `java -jar sql-cli-*.jar` or with `sudo -u elasticsearch sql-cli`, presuming you can `sudo`

[2018-03-09 19:12] jasontedor commented on #28967
Okay, here is the problem. The change #27482 introduced a bug that causes a security manager exception when we attempt to exit after a fatal error. This was immediately detected and #27518 was introduced. The bug from #27482 was suppose to have never been released yet the backport from #27518 to 6.1 was missed, it never happened. This means that #27482 is in 6.1 without the corresponding fix. This

[2018-03-09 19:16] nik9000 commented on #8989
I think it is safe to close this because we still have #9538 open.

@clintongormley, if you object then please reopen.

[2018-03-09 19:16] #8989 closed

[2018-03-09 19:31] jasontedor commented on #28967
I understand the situation with the third exception and will work on a fix.

[2018-03-09 22:00] dadoonet commented on #27198
Ping @TomonoriSoejima. Could you please share a document?

[2018-03-09 22:02] dadoonet commented on #28942
Agreed @martijnvg. I updated the description of the issue to reflect your name change proposal.

[2018-03-09 22:22] TomonoriSoejima commented on #27198
Unfortunately, a user I was dealing with the support case declined to share the reproducible file with us due to privacy and I don't have the file.

[2018-03-09 22:23] javadevmtl opened #28974 "Rolling upgrade documentation improvement."
Hi, I tried to do a rolling update from 6.1.2 to 6.2.2 and got the following message printed a few times...:

[code]

I'm running x-pack on the basic license.

My cluster consists of 3 masters, 3 coordinators, 2 ingest and 3 data. I followed the documentation for doing rolling upgrade and started with the master nodes first.

I downed one 6.1.2 master and added 6.2.2 master. Did this one by one. T

[2018-03-09 22:42] jasontedor commented on #28967
I opened #28973.

[2018-03-09 23:36] jasontedor commented on #28797
@linker-mist I have integrated #28971 which will make it possible to do `/_nodes/_all,data:false,master:false` to obtain all coordinating nodes that are not data nodes and not master-eligible.

[2018-03-10 00:51] jeacott1 commented on #21544
@jillesvangurp care to share your EsRule?

[2018-03-10 00:56] elasticmachine commented on #21544
Pinging @elastic/es-core-infra

[2018-03-10 02:38] djjsindy commented on #28920
@DaveCTurner . Sorry . We took some time to prepare these logs. I am trying to send the email of attachment 14MB, The email was rejected by the elastic.co server. Can you provide other email addresses?

[2018-03-10 12:41] #28967 closed

[2018-03-10 18:05] mabialakienda opened #28979 "Hi guys I have problem with elasticsearch Java its stopping, please see logs below"
I have 23gb memory on

[code]

[2018-03-10 19:04] jasontedor commented on #28979
Your node is clearly under extremely heavy memory pressure and you’re only running with a 1g heap. We do not consider this a bug, but a capacity/configuration problem on your end.

[2018-03-10 19:04] #28979 closed

[2018-03-11 01:56] TwP opened #28980 "Execution of terms query in function_score filter context returns too_many_clauses exception"
**Elasticsearch version**:
[code]

**Plugins installed**:
None

**JVM version**:
[code]

**OS version**:
[code]

**Description of the problem including expected versus actual behavior**:

Actual: The function_score query raises a `too_many_clauses` exception.
Expected: Because the large terms query is used in the filter position for the function_score query, my expectation is  that the max clauses

[2018-03-11 03:38] mabialakienda commented on #28979
Hi Jason thanks for support but im new on ELS, where to adjust the configurations memory to use more then 1g because I have 1.7tb of disk and more then 23gb of memory, please help

[2018-03-11 03:42] dadoonet commented on #28979
We can help you on discuss.elastic.co. Ask your questions there. Thanks

[2018-03-11 07:47] mabialakienda commented on #28979
Hi Dadoonet I have posted on discuss.elastic.co, please check

[2018-03-11 16:40] rjernst commented on #28306
I don't think we should do this as it would mean plugins would have access to some classes of parents, but not all. The better solution is to not depend on access to package protected members from different jars. This is the java 9 way, and java 9 modules do not allow this.

[2018-03-11 16:45] jasontedor commented on #28306
We discussed this verbally awhile ago and came to the same conclusion. I should have left notes from that conversation here then and closed this issue. As such, closing.

[2018-03-11 16:45] #28306 closed

[2018-03-11 16:52] rjernst commented on #23616
I'm going to close this as a bit array is not something we are likely to add as an official mapping type. As Nik pointed out, this is something that should be done in a plugin. Additionally, bloom filters were removed from Elasticsearch many versions ago, so any plugin implementation would need to bring in its own bloom filter library.

[2018-03-11 16:52] #23616 closed

[2018-03-11 17:50] danlevy1 commented on #28948
@rjernst Just to confirm, the second example I provided in the bug report should throw the same error that the first example throws. Is this correct?

[2018-03-11 19:23] rjernst commented on #28674
@cailen Did you try the suggestions @mgreau made? I'm going to close this as it does look ipv6 related (I'm able to use wget to get the gpg key without error). Let us know if you still have issues and can provide more data and I will reopen.

[2018-03-11 19:23] #28674 closed

[2018-03-11 20:30] jpountz commented on #28803
Discussed in Fixit Friday. We'll work on a dedicated field type to expose this feature (option 3).

A typical use-case of this feature would be to record keywords as well as boosts representing how well they characterize the document and then use it at search time to score documents using those boosts.

[2018-03-11 20:32] jpountz commented on #28803
For the record, [LUCENE-8197](https://issues.apache.org/jira/browse/LUCENE-8197) is another high-level feature that leverages custom term frequencies.

[2018-03-11 22:08] rjernst commented on #28948
Yes, that is correct.

[2018-03-11 22:44] a-k-j commented on #27205
I would like to know if the APIs  which has the check box checked are already implemented?

[2018-03-12 01:49] reda-alaoui opened #28984 "Java 9: requiring elasticsearch from module-info.java fails with "module not found""
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.2

**JVM version** (`java -version`): 9.0.4

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 17.10

**Description of the problem including expected versus actual behavior**:

We are migrating our Maven project to Java 9.
In each module of our project, we add a `module-info.java`.
Everything works fine for every dependencie

[2018-03-12 02:50] hth commented on #27205
"The ones marked as done are already supported by the high-level REST client, while the others need to be added."

[2018-03-12 04:09] snikch opened #28985 "Composite aggregation not abiding by query filter"
**Elasticsearch version** (`bin/elasticsearch --version`):

6.2.1

**Plugins installed**: []

**JVM version** (`java -version`):

docker

**OS version** (`uname -a` if on a Unix-like system):

docker

**Description of the problem including expected versus actual behavior**:

I'm looking into implementing the composite aggregate as we effectively do this work ourselves app side, however I can't eve

[2018-03-12 05:15] rjernst commented on #28493
What @martijnvg suggested here (moving x-pack bin scripts to elasticsearch bin dir) will actually be the case with 6.3.0 and the opening of x-pack. I'm going to close this issue as there is nothing else actionable here.

[2018-03-12 05:15] #28493 closed

[2018-03-12 05:27] rjernst commented on #25113
Tribe node has been removed for 7.0, so I'm going to close this issue.

[2018-03-12 05:27] #25113 closed

[2018-03-12 06:58] #28961 closed

[2018-03-12 07:07] #28782 closed

[2018-03-12 07:07] jinleileiking opened #28986 "ES6.2.2 cannot initialize, allocate physical memory very slow"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.2

**Plugins installed**: [no plugin]

**JVM version** (`java -version`): 1.8.0

**OS version** (`uname -a` if on a Unix-like system): inux tjwq01-ibu-video002158.tjwq01.ksyun.com 2.6.32-431.el6.x86_64 #1 SMP Fri Nov 22 03:15:09 UTC 2013 x86_64

500g mem. Total.  2 es (2.1.2) use 31 * 2 g mem

[code]

**Descr

[2018-03-12 07:31] ReddySrini commented on #24419
Yes even I am facining similar issues with ElasticSearch6.2!

[2018-03-12 07:40] dadoonet commented on #28986
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-03-12 07:40] #28986 closed

[2018-03-12 09:36] kostasb opened #28988 "Dynamic templates should be deduplicated"
**Bug Report / Feature request**:

Check for identical entries in the list of dynamic templates and deduplicate or reject them to avoid bloating.

**Describe the issue**:

It is currently possible to have the same dynamic template definition appended multiple times in the dynamic templates list of a mapping or a template, which can result to significant performance degradation.

See example [templ

[2018-03-12 10:27] nezhazheng opened #28990 "Script type inference fault when use Update(with script) Rest API"
**Elasticsearch version** 2.3.1 (affected almost all version. I tested 5.x 6.x)
**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_20

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:
First of all we already have a doc mapping that include a long field. And we try to update the field with script like c

[2018-03-12 12:42] jillesvangurp commented on #21544
@jeacott1 here you go, not perfect but it works. I'd prefer to use something using docker compose long term so we can also run other dependencies but this was good enough last year.

Note this also includes some dependencies on our internal client that you probably want to swap out for the official one at this point. Also includes some logic for creating indicices that you may want to skip.

[code

[2018-03-12 13:56] jimczi opened #28994 "Automatic prefix on text fields should index offsets and term vectors if they are activated on the parent field"
The new option `index_prefix` on `text` fields that automatically creates a sub-field to index edge-ngrams in order to speed up prefix queries does not check the index options of the parent field.
If `offsets` or `term_vectors` for instance are indexed in the parent `text` field, they will be omitted in the prefix sub-field. Currently this sub-field only indexes doc and disables all other options,

[2018-03-12 13:56] elasticmachine commented on #28994
Pinging @elastic/es-search-aggs

[2018-03-12 13:58] haggy commented on #25951
We are running into this as well. Are there any known workarounds yet? Is the fix scheduled?

[2018-03-12 14:21] elasticmachine commented on #28985
Pinging @elastic/es-search-aggs

[2018-03-12 14:21] colings86 commented on #28985
@jimczi could you take a look?

[2018-03-12 14:51] jimczi commented on #28985
Your json is invalid, you have an extra bracket at the end of the `aggregations` section that closes the entire body. Because of this the `query` part is simply omitted from the request, I don't know why we have this leniency in the parsing code of the request but I'll open a new issue for this since the problem is not about the `composite` aggregation.

[2018-03-12 14:51] #28985 closed

[2018-03-12 15:15] jimczi opened #28995 "Rest _search endpoint accepts invalid json body"
This issue was first reported in https://github.com/elastic/elasticsearch/issues/28985.
Any text after the last closing bracket is simply ignored by the request json parser. So for instance a request like:
[code]
... is accepted.
I don't know why we have this leniency which is why I am opening this issue as a bug.

[2018-03-12 15:15] elasticmachine commented on #28995
Pinging @elastic/es-search-aggs

[2018-03-12 15:29] bleskes commented on #28990
Thanks @nezhazheng . I can confirm this goes wrong in 6.2 . .Here's a full console repro

[code]

[2018-03-12 15:29] elasticmachine commented on #28990
Pinging @elastic/es-core-infra

[2018-03-12 15:29] vincentarnaud90 opened #28996 "Java security manager and UDP SyslogAppender"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.1.1, Build: bd92e7f/2017-12-17T20:23:25.338Z, JVM: 1.8.0_151

**Plugins installed**: []
None

**JVM version** (`java -version`):
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-1~deb9u1-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-like sy

[2018-03-12 15:30] javanna commented on #28873
I think we should do something about this though: be consistent with aggregations that are not being returned as part of scroll responses, hence stop returning suggestions too.

[2018-03-12 15:32] dadoonet commented on #21544
@jeacott1 @jillesvangurp FYI I wrote this test-containers module for Elasticsearch: https://github.com/dadoonet/testcontainers-java-module-elasticsearch

Might help as well.

[2018-03-12 15:38] elasticmachine commented on #28996
Pinging @elastic/es-core-infra

[2018-03-12 15:39] bleskes commented on #28996
I don't think we want to relax the SM permissions. We should discuss and decide whether this is something we want to support (seems reasonable) and if so document how to do so.

[2018-03-12 15:42] javanna commented on #28885
no it just means that nobody is actively working on it today and somebody, either from Elastic or the community may adopt this issue. I will get to it soon-ish unless anybody else does earlier than me.

[2018-03-12 15:49] vincentarnaud90 commented on #28996
I made a mistake, it misses "connect" permission instead of "resolve". I'm correcting the initial post.

[2018-03-12 16:28] hub-cap commented on #28867
Feel free to ping me as a reviewer as well @bvobart , ill run it thru the paces locally once you get it pushed up

[2018-03-12 17:17] jdconrad commented on #28990
Given how the JSON is parsed coming out of params, a workaround may be to do a cast to a long.  I don't know if that'll fix the problem for the actual update, though.

```ctx._source.longField += (long)params.input```

[2018-03-12 17:26] snikch commented on #28985
Wow, how embarrassing. Thanks @jimczi. Have confirmed working :joy:

[2018-03-12 17:29] jpountz commented on #28985
I think it's even more embarrassing for us that illegal input is silently ignored. ;)

[2018-03-12 17:29] jdconrad commented on #28946
Definitely agree with @rjernst on that.  So it's a matter of plumbing.  For safety I would only allow this be set once at start up per context since allowing dynamic changes would potentially allow a user to turn off loop counting when it shouldn't be.

[2018-03-12 17:42] jdconrad commented on #27875
Longer term we probably want this be able to run against test docs.

[2018-03-12 17:51] jdconrad commented on #27617
This documentation exists:
https://www.elastic.co/guide/en/elasticsearch/painless/master/_operators.html

Under the division operator, one of the first sentences is the following:
"Integer division will drop the remainder of the resultant value. "

[2018-03-12 17:51] #27617 closed

[2018-03-12 17:57] DaveCTurner commented on #28920
Thanks for the logs. The issue you are facing is as follows. The master detects the failure of some of the nodes (but, crucially, not all of them) and publishes a cluster state update to remove them. When committing a cluster state update, each receiving node attempts to establish connections to all the nodes that are listed in the new cluster state, which includes all the failed nodes that the ma

[2018-03-12 17:58] jdconrad commented on #27612
We should probably discuss whether or not context should be required for stored scripts again now that they're completed.

[2018-03-12 19:01] talevy commented on #28875
@mveitas, you're right, Nick made it seem like that was not intentional, but it is how it is now, so hard to say this is a bug. Do you see anything wrong with how it works now, though?

[2018-03-12 19:29] nik9000 commented on #8193
@bleskes does this still feel right to you? It feels a little easy to mistake for a 200 so it'd have to be super well documented and folks that have automation to do restarts will need to be super careful with 202. Also, if they get a 202, what can they use to check for when the setting is fully applied? I suppose we have the task management API which feels like a decent fit for this, but I dunno.

[2018-03-12 19:33] nik9000 commented on #9059
@clintongormley is there anything left to do from the original issue? Can we close it so long as we promise to live with its spirit in our hearts?

[2018-03-12 19:51] nik9000 commented on #9538
I'm not sure this is actually a problem with the REST layer. At least, it doesn't have to be. One way to fix this is to add the validity assertions to the places where they are needed. Like, we could assert valid utf-8 as we parse the `_source`. In most other cases I think invalid utf-8 is just going to result in a parse error anyway because the field won't be recognized. I suppose for things like

[2018-03-12 19:55] nik9000 commented on #11184
@colings86 is this still a thing you think we should do? We've done fairly well holding breaking changes until the next major release but I expect there are major changes that we might want to do that'd be quite difficult without this.

[2018-03-12 20:05] nik9000 commented on #19778
@imotov, now that we have `x-opaque-id` I wonder if we can close this? Should we wire it into the slow logs first? Into the audit log too?

[2018-03-12 20:14] nik9000 commented on #22792
It is still an issue. We'd want to deprecate the singular form in one PR which we'd merge to master and 6.x and then remove the singular form in a followup. These kinds of changes can be a bit tricky around the multi-version REST tests but the changes themselves are fairly simple.

[2018-03-12 20:40] nik9000 commented on #22928
I read this and thought we should go the other way. I feel like we could make `metadataToXContent` and the parser consistent more easily then a `Map`. I feel like we'd have tighter control over what belongs in the fields then too.

[2018-03-12 20:43] nik9000 commented on #22928
I see now. The `Map` way lets us add the metadata without adding extra exceptions. Adding custom exceptions is fairly heavy in Elasticsearch because they have to be thrown across the wire. It really isn't worth adding them just for some fields. Probably.

[2018-03-12 20:45] Mpdreamz commented on #27672
The 4th point is about the appearant similarity of all `Failure` classes and `Exception` but the listed property prevent them from being the same thing conceptually or atleast be represented on the REST layer the same conceptually.

[2018-03-12 20:45] nik9000 commented on #27681
This was fixed by #27915.

[2018-03-12 20:45] #27681 closed

[2018-03-12 21:20] hub-cap commented on #13323
This issue will be closed due to inactivity. If you feel it should be reopened, do not hesitate to comment on the issue.

[2018-03-12 21:20] #13323 closed

[2018-03-12 21:22] hub-cap commented on #14972
This issue will be closed due to inactivity. If you feel it should be reopened, do not hesitate to comment on the issue.

[2018-03-12 21:22] #14972 closed

[2018-03-12 21:23] hub-cap commented on #13448
This has been implemented in gradle as of today with java 9

[2018-03-12 21:23] #13448 closed

[2018-03-12 21:38] elasticmachine commented on #14747
Pinging @elastic/es-core-infra

[2018-03-12 22:07] elasticmachine commented on #15238
Pinging @elastic/es-core-infra

[2018-03-12 22:24] jeacott1 commented on #21544
@dadoonet I have tried your test-containers module, but unfortunately until test-containers itself is fixed its unusable for me.  ref https://github.com/dadoonet/testcontainers-java-module-elasticsearch/issues/2

[2018-03-12 22:24] rjernst commented on #27236
@biggreenogre Are you still interested in contributing a PR for this?

[2018-03-12 22:28] elasticmachine commented on #24397
Pinging @elastic/es-core-infra

[2018-03-12 22:29] hub-cap commented on #15608
No longer an issue

[2018-03-12 22:29] #15608 closed

[2018-03-12 22:39] hub-cap commented on #17171
No longer relevant as we are running java 9 w/ elasticsearch and gradle now

[2018-03-12 22:39] #17171 closed

[2018-03-12 22:50] rjernst commented on #27289
As @DaveCTurner mentioned, this was already fixed in 6.0. I'm going to close this as I don't think back porting the fix to 5.6 is likely.

[2018-03-12 22:50] #27289 closed

[2018-03-12 23:01] jlamillan commented on #28893
Sounds like a bug.

[2018-03-12 23:02] talevy opened #29001 "[TEST] GeoIpProcessorFactoryTests fails handling files on Windows"
GeoIP cannot clean up the database files because they are still being used by another test?

build failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1368/console

[code]

[2018-03-12 23:02] elasticmachine commented on #29001
Pinging @elastic/es-core-infra

[2018-03-12 23:03] rjernst commented on #21139
This is indeed a bug, and I'm sorry it has taken so long to get a fix. The problem was with the underlying library used for building the deb package. I've opened #29000 to fix this, which will apply for 7.0 prerelease versions when they are released.

[2018-03-12 23:07] andyb-elastic commented on #23774
Here's another path that breaks it. It splits the path after the parens - the "and" in the output is the "and" from the path after "(parens)". Sorry for the screenshot, virtualbox copy and paste isn't working for me today

<img width="933" alt="screen shot 2018-03-12 at 4 03 27 pm" src="https://user-images.githubusercontent.com/29205940/37314076-5d0513ca-260f-11e8-899d-a9cd6be6fd29.png">

[2018-03-12 23:18] hub-cap commented on #17364
After discussion w a few people, we have decided that it is fine for other teams to have this, but we don't want to maintain yet another thing to bump when we update versions. It would make more sense as a real landing page on the web, rather than in our readme.

[2018-03-12 23:18] #17364 closed

[2018-03-12 23:36] jasontedor commented on #29001
It is because these files can not be deleted while a mapped byte buffer that is backed by a memory mappings of these files has not been garbage collected. We should merely skip these tests on Windows.

[2018-03-12 23:55] talevy commented on #29001
cool.

I will go ahead and add an `assumeTrue` in the right places in this test class as to skip this on Windows

[2018-03-13 00:04] rjernst commented on #17455
We now have a new yum repository per major version, and the instructions are updated per major version, so I'm going to close this.

[2018-03-13 00:04] #17455 closed

[2018-03-13 02:53] jasontedor commented on #29001
Thanks @talevy.

[2018-03-13 02:58] nezhazheng commented on #28990
@jdconrad Thank you. I tested your solution, it works. but a little tricky.:wink:

[2018-03-13 03:35] amirhmd commented on #14114
hi guys,

is this one still available?

[2018-03-13 04:46] talevy commented on #29001
Any suggestions on how to go about doing this?

issue: If one sticks a `assumeFalse(..., Windows)`  in the `BeforeClass` segment, all the tests within
the suite are skipped, which leads to the suite to fail.

Since the problem is outside the scope of any one test, I can't think of anything cleaner than moving the `BeforeClass` and `AfterClass` methods to be called internally within each test metho

[2018-03-13 06:36] rjernst commented on #16488
This was fixed around the 5.0 release.

[2018-03-13 06:36] #16488 closed

[2018-03-13 07:20] rjernst commented on #14630
I think this was fixed by #28918 (@jasontedor please correct me if I'm wrong). `preinst` no longer sources any files.

[2018-03-13 07:20] #14630 closed

[2018-03-13 07:30] danielmitterdorfer commented on #29001
I can take that one @talevy.

[2018-03-13 07:32] rjernst commented on #15444
The init.d script no longer uses the -b option with start-stop-daemon.

[2018-03-13 07:32] #15444 closed

[2018-03-13 07:48] rjernst commented on #15445
I'm closing this as it looks like it fixed already. There are currently no float values, and eg 26GB is mentioned (zero based compressed oops).

[2018-03-13 07:55] elasticmachine commented on #13982
Pinging @elastic/es-core-infra

[2018-03-13 07:56] rjernst commented on #13982
I wonder if we could set the ErrorFile in the same way we set HeapDumpPath? In rpm/deb, we put it under /var/lib/elasticsearch, and for zip/tar, we have a commented out line in jvm.options.

[2018-03-13 08:09] bleskes opened #29008 "Fail shard if IndexShard#storeStats runs into an IOException"
If that happens something is totally wrong. We currently just bubble up the exception to the stats caller.

Relates to https://github.com/elastic/elasticsearch/issues/18279#issuecomment-218994716

[2018-03-13 08:09] elasticmachine commented on #29008
Pinging @elastic/es-distributed

[2018-03-13 08:10] #29001 closed

[2018-03-13 08:11] bleskes commented on #18279
https://github.com/elastic/elasticsearch/issues/18279#issuecomment-218994716 describe two things that need to happen to resolve this issue. The first has been done in https://github.com/elastic/elasticsearch/pull/16745  . The second (failing the shard) is very easy. I opened https://github.com/elastic/elasticsearch/issues/29008 to highlight it as an adopt me and a low hanging fruit. Closing this o

[2018-03-13 08:11] #18279 closed

[2018-03-13 08:34] rjernst commented on #11702
This issue has been open for almost 3 years with no other interest. Additionally, I think this could more simply be handled by systemd templates (#24867). I'm going to close this in favor of that issue, as new packages would be a heavyweight option that I do not think anyone would favor due to the overhead of maintaining.

[2018-03-13 08:34] #11702 closed

[2018-03-13 08:44] rjernst commented on #11609
This has been open for almost 3 years with no other reports of similar issues. I'm going to close this as the filesystem snapshots seem to be used far less than cloud based snapshots, and for those that do use snapshots they seem to have not had similar problems. If someone does run into this issue again, we would happily accept a docs change for filesystem snapshot/restore docs.

[2018-03-13 08:44] #11609 closed

[2018-03-13 09:03] bleskes commented on #8193
I still think that 202 is technically correct but it is indeed very subtle. I don't mind much leaving as is or changing.

Get the current settings from the master and see it has been applied.

I suggest picking this up in fix it friday and see where the group tends to go. I'm fine either way.

[2018-03-13 09:08] elasticmachine commented on #9962
Pinging @elastic/es-core-infra

[2018-03-13 09:12] danielmitterdorfer commented on #28650
Two weeks ago we had a problem in our CI infrastructure so the script that dropped the page cache and requested memory compaction was not called (it was called initially as I noted in my previous comment but then we added another check which made it completely ineffective). After this was fixed, we did not see a single failure due to these timeouts within two weeks. Hence, closing.

[2018-03-13 09:12] #28650 closed

[2018-03-13 09:13] jelmd commented on #14630
The problem was not fixed. Now it is even worse, because it uses hard coded values instead for no reason.

[2018-03-13 09:19] rjernst commented on #10551
The apt repository has undergone a lot of changes since this issue was first created. We have added unified apt repositories for all elastic software, per major version, and also started using aptly to build the repository. Unfortunately, it looks like [aptly also has issues with noarch packages](https://github.com/smira/aptly/issues/585). Additionally, there is already a workaround (installing .d

[2018-03-13 09:19] #10551 closed

[2018-03-13 09:20] colings86 commented on #11184
@nik9000 yes it's something I still think we should do. It's true that we have been (and still are) able to hold  breaking changes to the request side of the REST API for major versions and have been able to deprecate old API parameters there etc. But the impetus for this change for me was actually more on the response side where we currently have no way of making any breaking changes in a user fr

[2018-03-13 09:20] rjernst commented on #10551
Also please note that I realize the above example using dpkg didn't work, but that was for logstash, and if dpkg doesn't work, neither would installing through apt-get with an apt repository.

[2018-03-13 09:33] clintongormley commented on #29008
@bleskes won't we keep trying to allocate shards to the emptiest mount point (ie the one with the failure?)

[2018-03-13 09:38] clintongormley commented on #9059
@nik9000 this is so out of date that I don't think the thread is really relevant anymore.  It is probably still worth writing up rules for what is and is not allowed - these don't exist today, except in code.  And there are still places that you can name yourself into trouble, although users seldom get into trouble with these anymore.  Let's close.

[2018-03-13 09:38] #9059 closed

[2018-03-13 09:46] bleskes commented on #29008
@clintongormley we will first try another node. If we end up retrying the node we will probably use the same mount point indeed. If it fails immediately, we will only try 5 times and stop. If the failure is more subtle we will probably rinse repeat later. I agree this is not ideal but this is consistent with how we deal with other failures. I think what you mean is a bigger problem - tracking node

[2018-03-13 10:07] javanna commented on #26947
just realized that I found this and I am addressing it as part of #28866 .

[2018-03-13 10:15] jasontedor commented on #14630
@jelmd We want to listen to you and we are open to feedback, but I encourage you to understand that we do not make any changes for "no reason" and that you state reasoned objections to those changes (namely, a concrete problem that you're trying to solve that can not be solved because of those changes).

[2018-03-13 10:18] djjsindy commented on #28920
@DaveCTurner
Indeed, as you analyzed the situation: Version 5.4 uses 5 management threads to create new connections. When the number of the nodes in the cluster is very large, this concurrency mode is not enough, which will cause the data node to process cluster state very long, this will affect the next cluster state processing.

About write blocking, my sync data process will continue to retry w

[2018-03-13 10:29] martijnvg commented on #10436
I can't reproduce this problem any more.

Java code

[code]

and this resulted in the expected mapping:

[code]

[2018-03-13 10:29] #10436 closed

[2018-03-13 10:32] elasticmachine commented on #14266
Pinging @elastic/es-core-infra

[2018-03-13 11:00] colings86 commented on #19820
@elastic/es-search-aggs

[2018-03-13 11:05] colings86 commented on #23818
@elastic/es-search-aggs

[2018-03-13 11:08] colings86 commented on #28432
@elastic/es-search-aggs

[2018-03-13 11:10] colings86 commented on #24611
@elastic/es-search-aggs

[2018-03-13 11:13] colings86 commented on #15731
@elastic/es-search-aggs

[2018-03-13 11:14] colings86 commented on #21045
@elastic/es-search-aggs

[2018-03-13 11:18] cbuescher commented on #28499
@elastic/es-search-aggs looks like this has been discussed and @markharwood is tracking it

[2018-03-13 11:25] colings86 commented on #23756
Closing in favour of https://github.com/elastic/elasticsearch/issues/23772 which encompasses the inconsistencies in the docs more comprehensively

[2018-03-13 11:25] #23756 closed

[2018-03-13 11:25] colings86 commented on #28652
@elastic/es-search-aggs

[2018-03-13 11:27] colings86 commented on #27377
@elastic/es-search-aggs

[2018-03-13 11:28] colings86 commented on #18518
@jpountz is this still something you think we should do?

/cc @elastic/es-search-aggs

[2018-03-13 11:29] colings86 commented on #28832
Closing in favour of #26525

[2018-03-13 11:29] #28832 closed

[2018-03-13 11:31] colings86 commented on #20370
@polyfractal @jpountz @clintongormley do you think this is still relevant? Is this something we should still do?

/cc @elastic/es-search-aggs

[2018-03-13 11:34] colings86 commented on #25337
@elastic/es-search-aggs

[2018-03-13 11:35] colings86 commented on #20586
@elastic/es-search-aggs

[2018-03-13 11:35] colings86 commented on #17607
@elastic/es-search-aggs

[2018-03-13 11:36] colings86 commented on #14600
@elastic/es-search-aggs

[2018-03-13 11:42] DaveCTurner commented on #28920
It's not clear that the shard-failed events have anything to do with this. As far as I can tell, it's just about the node disconnections being split across multiple updates.

However, I don't like the idea of trying to get all the node disconnection events to occur at the same time. It might be possible in the kind of clean partition you are simulating, but it would leave us open to the same kind

[2018-03-13 11:45] colings86 commented on #26393
Aggregating on suggestions wouldn't really work since the output of suggesters is a suggestion (basically a term) and not a set of documents, whereas the input of aggregations is a set of documents. For your use case I would suggest using your second approach.

[2018-03-13 11:45] #26393 closed

[2018-03-13 11:48] colings86 commented on #6917
We now have the ability to order by mutliple criteria. Ordering by collation is tricky as mentioned above and we already have issues with unbounded errors in terms ordering as mntioned in https://github.com/elastic/elasticsearch/issues/17588.

[2018-03-13 11:48] #6917 closed

[2018-03-13 11:48] pavangowdasu opened #29009 "Reindex loosing the data...."
Reindex API is not creating all the documents from source index to dest index, Response says it got updated some documents, but there were no documents exists to update, It was a newly created index, It has to create all the documents. can anyone help me understand whats wrong going on here?

{
"timed_out": false,
"noops": 0,
"total": 19575,
"failures": [],
"updated": 4821,
"deleted": 0,
"requests

[2018-03-13 11:49] colings86 commented on #22230
Closing this issuee for now, as mentioned in https://github.com/elastic/elasticsearch/pull/22323#issuecomment-314782891 the improvements in accuracy did not appear to be significant when we tested this so we are not going to pursue this for now

[2018-03-13 11:49] #22230 closed

[2018-03-13 11:50] colings86 commented on #25519
@elastic/es-search-aggs

[2018-03-13 11:52] colings86 commented on #19528
I think this should be fixed when https://github.com/elastic/elasticsearch/pull/28702 is merged

[2018-03-13 11:54] colings86 commented on #5512
Stalled waiting on https://github.com/elastic/elasticsearch/pull/26659

/cc @elastic/es-search-aggs

[2018-03-13 11:55] colings86 commented on #17587
@elastic/es-search-aggs

[2018-03-13 11:55] clintongormley commented on #20370
Given that zero users have commented in all this time, I don't think there is much demand for this.  It can be done today via a Painless script, which is much more efficient than previous scripting was.  let's close

[2018-03-13 11:55] #20370 closed

[2018-03-13 11:56] colings86 commented on #28611
@elastic/es-search-aggs

[2018-03-13 11:56] jimczi commented on #29009
@pavangowdasu can you give more informations regarding your setup. Which version of es, number of nodes, number of shards in the source index, number of documents in the source index, ...
Can you also try without slicing (slices=1) and share the reindex request and response in this issue.

[2018-03-13 11:57] elasticmachine commented on #29009
Pinging @elastic/es-search-aggs

[2018-03-13 12:00] VikoTse opened #29010 ""search_analyzer" disappear in mapping"
Please check the following pictures.

![image](https://user-images.githubusercontent.com/5728396/37340322-b863bb56-26f8-11e8-8993-fcc09311eedc.png)

![image](https://user-images.githubusercontent.com/5728396/37340445-1a724506-26f9-11e8-96f4-a10e929bb373.png)

[2018-03-13 12:02] cbuescher commented on #28694
/cc @elastic/es-search-aggs

[2018-03-13 12:02] cbuescher commented on #20441
/cc @elastic/es-search-aggs

[2018-03-13 12:02] cbuescher commented on #20439
/cc @elastic/es-search-aggs

[2018-03-13 12:02] colings86 commented on #28688
@elastic/es-search-aggs

[2018-03-13 12:04] colings86 commented on #27428
This change is not going to make it into 6.3 so I am going to defer the decision to 6.4 instead.

@elastic/es-search-aggs

[2018-03-13 12:06] colings86 commented on #10791
@elastic/es-search-aggs

[2018-03-13 12:06] colings86 commented on #21584
@elastic/es-search-aggs

[2018-03-13 12:08] colings86 commented on #22500
@Rogier75 are you still able to reproduce this issue on recent (6.x) versions of Elasticsearch?

/cc @elastic/es-search-aggs

[2018-03-13 12:09] colings86 commented on #14600
If we decide to implement this we should also allow the bucket_script aggregation to be used at the top level as requested in https://github.com/elastic/elasticsearch/issues/14656

[2018-03-13 12:09] colings86 commented on #14656
Closing in favour of https://github.com/elastic/elasticsearch/issues/14600

[2018-03-13 12:10] colings86 commented on #22957
/cc @elastic/es-search-aggs

[2018-03-13 12:11] dadoonet commented on #29010
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

And don't paste images there but code only using the markdown format to format your code nicely.

BTW setting the same analyzer for both `analyzer` and `search_analyzer` is like setting only `analayzer`.

Th

[2018-03-13 12:11] #29010 closed

[2018-03-13 12:12] colings86 commented on #24244
Closing this for now as we have no concrete plans to remove extended_bounds and it seems that lots of people use this feature. This can be reopened or a new issue can be created if we want to discuss this again

[2018-03-13 12:12] #24244 closed

[2018-03-13 12:13] colings86 commented on #8939
/cc @elastic/es-search-aggs

[2018-03-13 12:17] colings86 commented on #24254
This will be solved by https://github.com/elastic/elasticsearch/pull/28993 when its merged so closing in favour of https://github.com/elastic/elasticsearch/issues/9572 which is the issue for that change

[2018-03-13 12:18] colings86 commented on #19983
@jpountz is this issue still relevant? Could it maybe be closed in favour of https://github.com/elastic/elasticsearch/issues/5512 which is also about adding clustering?

[2018-03-13 12:18] colings86 commented on #19983
@elastic/es-search-aggs

[2018-03-13 12:19] colings86 commented on #23285
/cc @elastic/es-search-aggs

[2018-03-13 12:20] pavangowdasu commented on #29009
ES version: `5.1.1`
Number of nodes : `2 nodes with 1 tie breaker`
Number of shards : `5`
Number of documents : `700 K`

[2018-03-13 12:23] clintongormley commented on #12316
@colings86 these changes are all about the top-n results, which you can't get with the composite agg without retrieving all results.  i think these requests are still valid

[2018-03-13 12:23] colings86 commented on #12316
@elastic/es-search-aggs

[2018-03-13 12:25] romseygeek commented on #8961
cc @elastic/es-search-aggs

[2018-03-13 12:29] romseygeek commented on #23943
cc @elastic/es-search-aggs

[2018-03-13 12:30] romseygeek commented on #25343
cc @elastic/es-search-aggs

[2018-03-13 12:33] elasticmachine commented on #15750
Pinging @elastic/es-core-infra

[2018-03-13 12:33] pavangowdasu commented on #29009
Reindex query was put down below:
[code]

Source index contains 700k documents i wanted to run reindexing by dividing documents list into 25k each time.

[2018-03-13 12:39] martijnvg commented on #22854
Closing this issue, because the field stats api has been deprecated and removed from master and 6.x branch in favour of the field caps api.

[2018-03-13 12:39] #22854 closed

[2018-03-13 12:45] pavangowdasu commented on #29009
@jimczi I tried running the same reindexing query with `slice=1`, And its worked all documents got created. Thank you so much.

(Earlier it was `slice=10`)

And still i could not understand how slice makes a difference here, can you help me understand how its worked this time?

[2018-03-13 12:45] paweloque opened #29011 "RankEval queries using aliases"
**RankEval and aliases**:
Currently it is only possible to run rank_eval queries using an index name. In many situations we use aliases to hide the indices and it would be great to be able to use an alias name to run rank_eval queries to test search results.

[2018-03-13 13:08] nik9000 commented on #17690
We no longer test against sles-11, just sles-12.

[2018-03-13 13:08] #17690 closed

[2018-03-13 13:17] nik9000 commented on #27984
I'll close this as it duplicates #25701.

[2018-03-13 13:17] #27984 closed

[2018-03-13 13:17] jimczi commented on #29009
Thanks @pavangowdasu , slices in 5.1.1 have a bug when the number of nodes is greater than 1. You should upgrade to 5.latest (5.6.8) which should work fine with slices. Please reopen if upgrading does not fix this issue ;).

[2018-03-13 13:17] #29009 closed

[2018-03-13 13:24] nik9000 commented on #25306
@javanna is this still a thing?

[2018-03-13 13:27] javanna commented on #25306
@nik9000 potentially, no progress made :(

[2018-03-13 13:37] jpountz commented on #24749
I don't think 2.4.4 would fix the problem either. I suspect @clintongormley is right that a simple pattern is sometimes parsed as a regex even though it shouldn't. The fact that you mentioned that this issue is sporadic also leads me to thinking that it might be specific to one node of the cluster.

I will close this issue and improve validation of the match pattern for now: #29013. Let's revisit

[2018-03-13 13:37] #24749 closed

[2018-03-13 13:44] mohitrajvardhan17 commented on #25306
Hi @liudunxu can you to check if the "cluster2-host1", "cluster2-host2" & "cluster2-host3" are reachable from the host where the mentioned script is running.I am not sure about the timeout related with the calls but you can give it a look.I am also checking it from my end.

[2018-03-13 13:46] jpountz commented on #23142
Added to 5.4.0 via #23385.

[2018-03-13 13:46] #23142 closed

[2018-03-13 13:48] colings86 commented on #21968
https://github.com/elastic/elasticsearch/pull/27581 has fixed this issue and the above recreation now (since 6.2.0) results in the following response to the client and no OOME on the server:
[code]

[2018-03-13 13:48] #21968 closed

[2018-03-13 13:48] jpountz commented on #25515
Fixed via #26361. Thanks @alexshadow007 !

[2018-03-13 13:48] #25515 closed

[2018-03-13 13:49] epixa commented on #24611
@elastic/kibana-visualizations

[2018-03-13 13:55] jpountz opened #29014 "Document that the default date format supports exactly 4-digit years"
The default date format is `strict_date_optional_time` and requires exactly 4-digit years because it is used for dynamic date detection and we do not want random strings to be detected as a date by mistake.

However it is perfectly fine to have larger years obviously, in which case `date_optional_time` should be used and dynamic date detection should probably be disabled.

[2018-03-13 13:55] elasticmachine commented on #29014
Pinging @elastic/es-search-aggs

[2018-03-13 13:55] jpountz commented on #17887
Closing in favour of #29014. @buzzdeee This is a different issue.

[2018-03-13 13:55] #17887 closed

[2018-03-13 13:57] jpountz commented on #15345
cc @elastic/es-search-aggs

[2018-03-13 13:59] olcbean commented on #23774
Hm.... there was some work done in this area ( the problem here is `)` ) #26916 and #27012
@andyb-elastic which version are you running with ?

[2018-03-13 13:59] imotov commented on #19778
@nik9000 yes, I think we can probably address this by adding the id to logs. We can either repurpose this issue or close it and open a new one.

[2018-03-13 14:00] romseygeek commented on #11726
The linked Lucene issue is still open, which is where this needs to be fixed.

cc @elastic/es-search-aggs

[2018-03-13 14:01] romseygeek commented on #21418
cc @elastic/es-search-aggs

[2018-03-13 14:07] jpountz opened #29015 "Add warnings to similarities that may return 0 as a score."
Some similarities may return scores that are equal to zero in some conditions. We should probably add warnings to the docs about such similarities as this is usually impractical in practice since having matches on terms that contribute 0 to the score doesn't make such documents rank higher as is usually expected.
 - AxiomaticF3Log
 - AxiomaticF3Exp
 - DFISimilarity
 - LMDirichletSimilarity

[2018-03-13 14:07] elasticmachine commented on #29015
Pinging @elastic/es-search-aggs

[2018-03-13 14:07] jpountz commented on #15345
Actually closing it: Elasticsearch now fails on unknows similarities. Regarding scores that are equal to 0 in some cases, this is indeed a limitation of similarities that we should document: #29015

[2018-03-13 14:07] #15345 closed

[2018-03-13 14:11] synhershko commented on #21968
@colings86 thanks! wouldn't it make sense to backport this to 5.x and 6.0/6.1?

[2018-03-13 14:20] pschhikara88 opened #29016 "Documentation correction for putting Mapping"
This link (https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-put-mapping.html) contains following information :

PUT twitter/_mapping/_doc

in the description , Uses the PUT mapping API to add a new mapping type called user.

if i am right, the url should be twitter/_mapping/user instead of twitter/_mapping/_doc

Thanks

[2018-03-13 14:25] cbuescher commented on #11322
/cc @elastic/es-search-aggs

[2018-03-13 14:25] cbuescher commented on #14694
/cc @elastic/es-search-aggs

[2018-03-13 14:26] jelmd commented on #14630
Hmmm, thought the issue was explained well - please scroll to the top of the page. Please tell me, what is missing/not understood.
BTW: "no reason" refers to: if the SW would be properly assembled and related scripts properly written, there would be no reason to throw away required customizations like this in a BFH manner.

[2018-03-13 14:27] cbuescher commented on #13400
/cc @elastic/es-search-aggs

[2018-03-13 14:28] cbuescher commented on #11328
/cc @elastic/es-search-aggs

[2018-03-13 14:53] tlrx commented on #28908
@darkn3rd Thanks for reporting this issue! It has been fixed by #28876

[2018-03-13 14:53] #28908 closed

[2018-03-13 15:03] colings86 commented on #29016
@pschhikara88 I think the documentation is correct in this case. The documentation for 6.x has been updated reflecting the fact that we are removing the ability to have multiple doc types in a single index. In the future there will be no such thing as doc types when indexing documents or modifying mappings so we have updated the documentation to reflect the changes and have made the doc types `_do

[2018-03-13 15:04] elasticmachine commented on #29011
Pinging @elastic/es-search-aggs

[2018-03-13 15:06] talevy commented on #13975
If I am not mistaken, A solution for this exists in our new [Rollups API](https://www.elastic.co/guide/en/elasticsearch/reference/master/rollup-search.html). Closing.
Feel free to open if you feel like this is not the solution you were intending.

[2018-03-13 15:06] #13975 closed

[2018-03-13 15:25] pschhikara88 commented on #29016
Thanks @colings86 . Based on your response, i went through with this link https://www.elastic.co/guide/en/elasticsearch/reference/master/removal-of-types.html

This link is very helpful and explained everything. Thanks for your quick response. I am closing this issue.

[2018-03-13 15:25] #29016 closed

[2018-03-13 15:31] talevy commented on #15843
This has been updated in Ingest Node. As of this commit for Ingest Node https://github.com/elastic/elasticsearch/commit/0d4711c2fcff8fa1076f4631c036a0efdebb6a9f#diff-2887f6c836caf14693b187e9f9d09c00R64.

Closing since this is not relevant to Ingest Node

[2018-03-13 15:31] #15843 closed

[2018-03-13 15:31] talevy commented on #16019
No longer needed, closing

[2018-03-13 15:31] #16019 closed

[2018-03-13 15:50] bvobart commented on #28867
@jasontedor @hub-cap I'm having quite some problems getting JaCoCo working (or Cobertura for that matter). Having tried adding JaCoCo in multiple different ways without success, I finally found that [`RandomizedTestingTask`](https://github.com/elastic/elasticsearch/blob/master/buildSrc/src/main/groovy/com/carrotsearch/gradle/junit4/RandomizedTestingTask.groovy) is the culprit of why JaCoCo does no

[2018-03-13 15:51] cbuescher commented on #25820
@qwerty4030 do you still experience this issue? It looks like we are still not able to reproduce.
/cc @elastic/es-search-aggs

[2018-03-13 15:51] cbuescher commented on #21704
/cc @elastic/es-search-aggs

[2018-03-13 15:54] cbuescher commented on #13115
@jpountz looks like this is still relevant, but please correct me if I'm wrong
/cc @elastic/es-search-aggs

[2018-03-13 16:04] cbuescher commented on #21224
/cc @elastic/es-search-aggs

[2018-03-13 16:04] DropCloth opened #29018 "ES Node leaving the cluster and freezing"
Hello !

**Elasticsearch version** : 5.6.4

**JVM version** : 1.8.0_161

**OS version** : Linux elastic-node4 4.4.0-101-generic #124-Ubuntu SMP Fri Nov 10 18:29:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**: One of my ES nodes suddenly left the cluster and was unable to perform any action on the Elasticsearch service (stop/stat

[2018-03-13 16:11] cbuescher commented on #24117
@davidklebanoff revisiting this issue, I just read the documentation again and in its current form (> 6.0) the page you mentioned says "The syntax is the same as `like`", which in turn mentions the syntax similarity to the Multi Get API. I'm not sure how this should be improved, so I'm closing this issue for now, but please reopen if you have any more concrete suggestions of how the docs should be

[2018-03-13 16:11] #24117 closed

[2018-03-13 16:16] palaniichukdmytro opened #29019 "Fuzziness does not works with query string in elasticsearch"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
6.2
**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:
I've got some query

[code]
And use wildcard and fuzziness with a query string, but looks like, when I type `Wandring`

[2018-03-13 16:16] talevy commented on #16646
Closing since this has not been requested in over 2 years

[2018-03-13 16:16] #16646 closed

[2018-03-13 16:17] talevy commented on #16938
Closing for now since there is no longer demand for this feature. Feel free to re-open

[2018-03-13 16:17] #16938 closed

[2018-03-13 16:19] cbuescher commented on #26299
/cc @elastic/es-search-aggs

[2018-03-13 16:20] cbuescher commented on #23366
/cc @elastic/es-search-aggs

[2018-03-13 16:20] cbuescher commented on #23269
/cc @elastic/es-search-aggs

[2018-03-13 16:22] cbuescher commented on #23114
/cc @elastic/es-search-aggs

[2018-03-13 16:22] talevy commented on #17004
@dadoonet do you know why we dropped support for this? Looks like there is an RFC822Parser present in Tika

[2018-03-13 16:23] jasontedor commented on #29018
You should upgrade your kernel.

[2018-03-13 16:23] #29018 closed

[2018-03-13 16:23] cbuescher commented on #24256
/cc @elastic/es-search-aggs

[2018-03-13 16:25] cbuescher commented on #23812
/cc @elastic/es-search-aggs

[2018-03-13 16:28] elasticmachine opened #29876 "[Security] NPE when roles.yml is missing from a node"
*Original comment by @inqueue:*

Reproduces in 5.6 and 6.2.2.

Repro:
* Setup two nodes and enable anonymous authentication.
elasticsearch.yml:
[code]

* Configure roles.yml on one node and delete it on the other node.
roles.yml:
[code]

* Start both nodes and issue an anonymous `GET _cat/nodes` call.
[code]

[code]

It doesn't make any difference which node receives the call. If _any_ node in the

[2018-03-13 16:29] jpountz commented on #17006
Some use-cases described on this issue do not need biginteger/bigdecimal:
 - storing large numbers: Elasticsearch preserves the `_source` document all the time, you can map it as a disabled `object` to tell Elasticsearch to store it but not try to index or add doc values for it (meaning it will be returned but can't be searched or aggregated)
 - indexing id-like fields like UUID-4: These fields ty

[2018-03-13 16:29] jpountz commented on #17006
cc @elastic/es-search-aggs

[2018-03-13 16:29] talevy commented on #17221
@miguelxpn, the way we are using Tika right now, this is not possible.

Closing since this is not possible with Tika, but could theoretically be done by spawning a process within a separate Tesseract Ingest Plugin.

[2018-03-13 16:29] #17221 closed

[2018-03-13 16:31] talevy commented on #17895
Closing since the performance ramifications of this are too great to consider implementing this functionality and exporting the document (at update time) to a separate ingest node.

[2018-03-13 16:31] #17895 closed

[2018-03-13 16:32] dadoonet opened #29021 "position inconsistency when using _analyze API with or without index name"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.2
**Steps to reproduce**:

Consider the following

[code]

It gives:

[code]

Position of the 1st term of the second text is `101` which is correct because we don't want to be able to match phrase like `a b`.

Now the same `_analyze` but with no index name:

[code]

It gives:

[code]

Position of the 1st term of the second text is `1`

[2018-03-13 16:32] elasticmachine commented on #29021
Pinging @elastic/es-search-aggs

[2018-03-13 16:32] andyb-elastic commented on #23774
That was on master at 2d1d6503a4d034acd89e5fe31f03e39513976056

[2018-03-13 16:33] DaveCTurner opened #29022 "Reduce connection timeout for intra-cluster connections"
A 30 second timeout for establishing node-to-node connections within a cluster is unreasonably long. We need longer timeouts for connections out of the cluster, so simply reducing `transport.tcp.connect_timeout` isn't feasible, but a separate connection profile for node-to-node connections with a separately configurable timeout would mean that attempts to connect to an unresponsive node would be a

[2018-03-13 16:33] elasticmachine commented on #29022
Pinging @elastic/es-distributed

[2018-03-13 16:33] talevy commented on #19471
Closing since there is no progress on this and mapper-attachment plugin has been deprecated in favor of Ingest-Attachment Processor Plugin

[2018-03-13 16:33] #19471 closed

[2018-03-13 16:38] mrec commented on #24254
Hi @colings86 - it's great to see that work happening, but from the PR description I'm not sure it addresses this request. Your change seems to be specifically about histograms, and is constrained to keep all intervals the same width. This ticket was about `range` for faceted navigation, where it's sometimes more valuable for all intervals to contain *roughly* the same doc count and you don't nece

[2018-03-13 16:42] cbuescher commented on #21489
I just checked this with 6.x versions of elasticsearch and scientific notation seems to be supported now.

[2018-03-13 16:42] #21489 closed

[2018-03-13 16:47] jpountz commented on #12358
@clembac It hasn't been implemented. I think @clintongormley 's proposal is reasonable here: add a new rule that allows to reject mapping updates when there is a match. I'm adding the `discuss` label. Here is a proposed syntax:

[code]

cc @elastic/es-search-aggs

[2018-03-13 17:03] DaveCTurner opened #29023 "Introduce dedicated threadpool for establishing connections"
Today, we attempt to connect to nodes concurrently using the management threadpool:

https://github.com/elastic/elasticsearch/blob/46e16b68feaee112126df0ed2bcd7e78d12a4d57/server/src/main/java/org/elasticsearch/cluster/NodeConnectionsService.java#L94-L115

Connection establishment can be time-consuming if the remote node is unresponsive, and the management threadpool is small and important, so sat

[2018-03-13 17:03] elasticmachine commented on #29023
Pinging @elastic/es-distributed

[2018-03-13 17:10] polyfractal opened #29024 "Do not cache profiled search requests"
Today, profiled search requests are eligible for request caching, which can lead to some very confusing situations (fast `took` time but slow profile results because the results are being served by the cache).  Profiling should never really be cached at all because of the nature of profiling.

Related, `ProfileWeight` delegates `isCacheable()` to the wrapped query, but I wonder if we should perhap

[2018-03-13 17:10] elasticmachine commented on #29024
Pinging @elastic/es-search-aggs

[2018-03-13 17:10] cbuescher commented on #26571
cc @elastic/es-search-aggs

[2018-03-13 17:20] DaveCTurner opened #29025 "Do not attempt to re-establish connections when applying a cluster state update"
Today, when a new cluster state is applied, we attempt to connect to all nodes in the new cluster state:

https://github.com/elastic/elasticsearch/blob/5904d936fabfa25b832b757461efa6b0d3e9acb9/server/src/main/java/org/elasticsearch/cluster/service/ClusterApplierService.java#L467

This set of nodes may include some nodes that were previously connected but which have failed, but whose failure is to

[2018-03-13 17:20] elasticmachine commented on #29025
Pinging @elastic/es-distributed

[2018-03-13 17:22] DaveCTurner commented on #28920
We had a good discussion on this subject, and came up with three clear ideas that should help improve Elasticsearch's behaviour in this situation: #29022, #29023 and #29025.

[2018-03-13 17:25] cbuescher commented on #23208
@jpountz I'm not entirely sure about the current state of this issue, is the "discuss" label still appropriate? What are the next steps if not?
cc @elastic/es-search-aggs

[2018-03-13 17:29] cbuescher commented on #10346
cc @elastic/es-search-aggs

[2018-03-13 17:31] cbuescher commented on #22123
cc @elastic/es-search-aggs

[2018-03-13 17:32] cbuescher commented on #14965
cc @elastic/es-search-aggs

[2018-03-13 17:35] cbuescher commented on #20131
cc @elastic/es-search-aggs

[2018-03-13 17:35] cbuescher commented on #26013
cc @elastic/es-search-aggs

[2018-03-13 17:37] cbuescher commented on #23145
cc @elastic/es-search-aggs

[2018-03-13 17:41] colings86 commented on #24254
@mrec sorry, you are right, your use case is slightly different so I'll reopen this issue.

Off the back of #28993 I was actually thinking about using a similar approach of merging buckets at collection time to create an aggregation for constant-density histograms where we would aim to create buckets that have roughly the same number of documents in them. I am yet to convince myself whether this i

[2018-03-13 17:42] jpountz commented on #26499
Fixed via #28375

[2018-03-13 17:42] #26499 closed

[2018-03-13 17:42] jpountz commented on #11498
cc @elastic/es-search-aggs

[2018-03-13 17:44] jcape commented on #11362
Sorry to come into this years later, but another use case for this is ansibilized first-time setup with x-pack user authentication.

The docs for doing X-Pack for user authentication say to do this:

 1. Install X-Pack
 2. Set the elastic password to something other than "changeme"
 3. "Set xpack.security.authc.accept_default_password to false."

The "usual" way to do this with a config management

[2018-03-13 17:48] cbuescher commented on #25603
@dannymurphygfk sorry, no progress on this, but the issue is definitely still on the radar
Adding @elastic/es-search-aggs for wider audience

[2018-03-13 17:54] cbuescher commented on #22089
cc @elastic/es-search-aggs

[2018-03-13 17:58] cbuescher commented on #10058
cc @elastic/es-search-aggs

[2018-03-13 17:58] cbuescher commented on #12293
cc @elastic/es-search-aggs

[2018-03-13 18:04] jasontedor commented on #8547
We have the `X-Opaque-Id` REST header that can be added to requests and is associated with any tasks triggered by that request and available in the task output API. We have separate issues to considering adding this header to the deprecation logs and will consider adding it to other places in the system. I am going to close this issue given that other work.

Relates #9669

[2018-03-13 18:04] #8547 closed

[2018-03-13 18:07] jasontedor commented on #10379
In almost three years we have seen no feedback from the community on this feature request. As such, I am going to close this issue. We can always reopen it or open a new based on compelling feedback.

[2018-03-13 18:07] #10379 closed

[2018-03-13 18:07] cbuescher commented on #20501
This still appears to be relevant.
cc @elastic/es-search-aggs

[2018-03-13 18:08] cbuescher commented on #27049
cc @elastic/es-search-aggs

[2018-03-13 18:09] jpountz commented on #25861
@akotlar Agreed casting may be useful. The thing I dislike is that it happens implicitly.
cc @elastic/es-search-aggs

[2018-03-13 18:09] cbuescher commented on #11830
cc @elastic/es-search-aggs

[2018-03-13 18:10] reda-alaoui commented on #28984
After adding a fake class to the package, I discovered that I have now the exact same issue with dependency `groovy-all`.

[2018-03-13 18:11] jpountz commented on #6727
cc @elastic/es-search-aggs

[2018-03-13 18:12] akotlar commented on #25861
@jpountz Sorry, maybe I misunderstood. Does it not only happen when coerce: true ? If so, isn't that explicit? I would agree if it did something like round implicitly: when coercing from float to int I expect truncation.

[2018-03-13 18:14] jpountz commented on #26780
Thanks for the explanation of your needs. I added the `discuss` label. cc @elastic/es-search-aggs

[2018-03-13 18:16] jpountz commented on #5368
cc @elastic/es-search-aggs

[2018-03-13 18:18] jpountz commented on #22670
cc @elastic/es-search-aggs

[2018-03-13 18:19] jpountz commented on #15185
cc @elastic/es-search-aggs

[2018-03-13 18:27] jpountz commented on #13065
@bleskes How about doing it from the merge method directly when mergeReason == UPDATE (rather than RECOVERY)? I believe we would have enough information there?

[2018-03-13 18:27] jpountz commented on #13065
cc @elastic/es-search-aggs

[2018-03-13 18:28] nik9000 commented on #27684
I think the `TimeoutException` sounds like #24069. I'm unable to reproduce the `IllegalArgumentException`.

[2018-03-13 18:28] #27684 closed

[2018-03-13 18:28] spinscale commented on #21463
another one at https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-unix-compatibility/os=fedora/810/consoleText

not reproducible locally

<details>
<summary> full stack trace </summary>

[code]
</details>

[2018-03-13 18:40] jdconrad commented on #27282
Going to close this in favor of https://github.com/elastic/elasticsearch/issues/23777

[2018-03-13 18:40] #27282 closed

[2018-03-13 18:42] jdconrad commented on #26963
This whole section definitely needs some work.

[2018-03-13 18:44] jdconrad commented on #26882
Clsing this as a workaround has been presented in mustache issue.

[2018-03-13 18:44] #26882 closed

[2018-03-13 18:46] jasontedor commented on #13982
I opened #29028.

[2018-03-13 18:46] jasontedor commented on #10795
I opened #29027.

[2018-03-13 18:48] jdconrad commented on #26459
Closing this.  Documentation for the elvis operator exists under https://www.elastic.co/guide/en/elasticsearch/painless/current/_operators.html

[2018-03-13 18:48] #26459 closed

[2018-03-13 18:48] jasontedor commented on #12902
I think that it would be a lot of work to pump this down and I am not sure about the value; we can see the two indices that are hit in the example that is given here from the six log lines. In the two-and-a-half years that this issue has been open it has received very little attention. As such, I am going to close this issue. We can always reopen, or open a new one, based on compelling feedback.

[2018-03-13 18:48] #12902 closed

[2018-03-13 18:52] jasontedor commented on #13436
Today the search slow log is activated very search operation listeners. There are phases for query failed and fetch failed which could be used to push to the slow log. Yet, I do not see a compelling reason to do this. Seeing how there has been on interest in nearly two-and-a-half years, I will close this issue. We can always reopen the issue or open a new issue based on compelling feedback.

[2018-03-13 18:52] #13436 closed

[2018-03-13 18:54] jdconrad commented on #25913
This can be explored more once we break apart the analysis step into a multi-pass compiler.

[2018-03-13 18:55] jdconrad commented on #24946
Adding discuss to talk about which contexts make sense to have these new APIs.  Really falls under context/whitelist clean up.

[2018-03-13 18:56] jdconrad commented on #23763
This is another issue outside of scripting related to JSON parsing and how values are input into the scripts.

[2018-03-13 18:58] jdconrad commented on #23525
@jpountz Were you ever able to confirm your hypothesis?

[2018-03-13 18:59] jdconrad commented on #23372
This is in the existing documentation now.  https://www.elastic.co/guide/en/elasticsearch/painless/current/painless-specification.html

[2018-03-13 18:59] #23372 closed

[2018-03-13 19:00] jdconrad commented on #23209
Contexts are done so probably worth adding this as a setting at some point.

[2018-03-13 19:03] jdconrad commented on #22056
This just needs to be part of the documentation update.

[2018-03-13 19:04] jdconrad commented on #21913
@jpountz Is this still worth discussing or can this be closed?

[2018-03-13 19:05] jdconrad commented on #21859
This still needs to be documented now that contexts are done.

[2018-03-13 19:06] jdconrad commented on #21188
Closing this issue.  _source will only be allowed in certain contexts.

[2018-03-13 19:06] #21188 closed

[2018-03-13 19:06] jdconrad commented on #20952
We should be able to improve this situation now that contexts are done.

[2018-03-13 19:07] jdconrad commented on #20486
@nknize Is this something still worth addressing or has it already been fixed?

[2018-03-13 19:08] jdconrad commented on #20264
Closing this as Debug.explain can serve this purpose.  Discussion around tools for Painless is proceeding in other issues.

[2018-03-13 19:08] #20264 closed

[2018-03-13 19:09] jdconrad commented on #19162
@rjernst Is this still relevant?

[2018-03-13 19:10] jdconrad commented on #19161
@rjernst Is this still relevant?

[2018-03-13 19:10] jdconrad commented on #13959
@spinscale Is this still relevant?

[2018-03-13 19:12] jdconrad commented on #13469
Closing this as function_score_query is going to be changed significantly.

[2018-03-13 19:12] #13469 closed

[2018-03-13 19:12] jdconrad commented on #8990
@jpountz Are any of these concerns still relevant?

[2018-03-13 19:15] jdconrad commented on #28990
Closing this as the work around works for now.  Parsers are a different issue that should be discussed in the future.

[2018-03-13 19:15] #28990 closed

[2018-03-13 19:18] jdconrad commented on #28109
@jpountz Please re-assign this issue if it's not appropriate for you to own.

[2018-03-13 19:19] jasontedor commented on #20366
I no longer think that we should do this. Instead, we now produce GC logs by default. These can be consumed as needed.

[2018-03-13 19:19] #20366 closed

[2018-03-13 19:20] jdconrad commented on #26294
@colings86 Please feel free to re-assign this - thought it was most relevant to you given aggs are involved.

[2018-03-13 19:21] jdconrad commented on #23763
Closing this as there's a work around and it's related to parsing issues.

[2018-03-13 19:21] #23763 closed

[2018-03-13 19:25] jdconrad commented on #22919
@nik9000 Was this ever completed?

[2018-03-13 19:25] jdconrad commented on #22829
This is tricky because it requires specialization of a value within a Map.

[2018-03-13 19:26] jasontedor commented on #19333
I don't think logging is the way to go here, instead monitoring. We can consider enhancing stats to include disk I/O wait, but that is a different enhancement altogether. Therefore, I am closing this one.

[2018-03-13 19:26] #19333 closed

[2018-03-13 19:27] nik9000 commented on #22919
No, but it feels like a legit thing we should do. Like, we should deprecate it in 6.x and remove in master.

[2018-03-13 19:39] nik9000 commented on #15750
I agree. We should do this. I wonder if we should wait on doing this for a while because it is another breaking change. At some point we'll be asking people to shift to the high level REST client and that is enough breaking change.

[2018-03-13 19:58] #17597 closed

[2018-03-13 20:15] jdconrad commented on #20952
Discussed with @rjernst.  We will add an augmented method for String with the signature like String[] splitOnToken(String).  This will be usable without requiring regexes to be enabled.

[2018-03-13 20:25] jasontedor commented on #16831
This interning had a place previously. Now however, we associate with the prefix a marker. All that matters here is that we share the same marker across loggers with the same prefix. As such, the interning is no longer needed. I opened #29031.

[2018-03-13 20:27] jasontedor commented on #17432
These messages are logged locally. Since tribe nodes are removed, I see no need to make any changes here. Closing.

[2018-03-13 20:27] #17432 closed

[2018-03-13 20:28] jasontedor commented on #15719
This issue has been open for two years without attracting any additional interest. I am going to close this issue. We can open a new issue or reopen this one if a compelling case is made for this functionality.

[2018-03-13 20:28] #15719 closed

[2018-03-13 20:29] jasontedor commented on #27596
No additional feedback, closing.

[2018-03-13 20:29] #27596 closed

[2018-03-13 20:30] #16831 closed

[2018-03-13 20:31] #10795 closed

[2018-03-13 20:32] #13982 closed

[2018-03-13 20:34] sirosen commented on #26459
The elvis operator doesn't have strong bearing on the fact that `!null` is a very common pattern in Groovy (and Python, and Javascript, and...), but errors in Painless.

The most confusing thing here was not figuring out how to write "or equals", but how Painless and Groovy differ.

[2018-03-13 20:58] bleskes commented on #22829
We can potentially enforce it by checking that the vesion is the same after
the update script was executed

On Tue, Mar 13, 2018 at 8:26 PM Jack Conradson <notifications@github.com>
wrote:

[2018-03-13 21:04] bleskes commented on #13065
@jpountz I'm not exactly sure how you see this happening (we need to somehow accumulate the actual changes made deeper in the object fields or compare the result at the end) but I'm sure you have an idea.  Looking forward to hear it

[2018-03-13 21:07] jweber opened #29033 "Validate API fails when validating Terms query"
**Elasticsearch version**: 6.2.2

**Plugins installed**: -

**JVM version**: 1.8.0_161

**OS version** : docker image

**Description of the problem including expected versus actual behavior**:

The validate API is failing when attempting to validate a valid [terms query](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/query-dsl-terms-query.html). The following error message is shown:

[2018-03-13 21:12] jasontedor commented on #20648
I opened #29034.

[2018-03-13 21:24] eskibars opened #29035 "Validate default similarity parameters strictly"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.0

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): OSX

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
[code]
Produces the expected: `"Unknown Similarity type [bm25] for [default]"` since `type` needs to be `BM25`.  However (at least for `

[2018-03-13 21:24] elasticmachine commented on #29035
Pinging @elastic/es-core-infra

[2018-03-13 21:26] majormoses commented on #11145
bump

[2018-03-13 21:26] bleskes commented on #29022
We assumed it would be simpler to change the profiles used by NodeConnectionService and the pinging but we should double check. Maybe it is better to reduce `transport.tcp.connect_timeout` and increase it for the cases we need (transport client & CCS come to mind)

[2018-03-13 22:07] rjernst commented on #19161
Yes, I think it is still relevant. I'm marking as adoptme.

[2018-03-13 22:08] TamerDev opened #29037 ""message" element and Field Parsing"
Hi,
I'm using Elastic 6.2.2 on windows with Fluentd td-agent v3.1.1,  I'm using the fluend plugin for elastic search, plugin version 1.0.2.

I have .Net program that writes the messages to Fluend td-agent, which then writes out the message to both a local file, and to Elastic. I have an issue with the message that gets written by the td-agent, it seems that the agent "injects" an element that is s

[2018-03-13 22:09] rjernst commented on #19162
I think this is still relevant, especially now that file scripts are gone, and we no longer have per script type permissions. I'm marking as adoptme.

[2018-03-13 22:17] jasontedor commented on #10335
Enabling dynamic configuration reloading requires granting additional permissions to Log4j. I have not seen convincing feedback that this is a needed feature worth granting these additional permission. For now, I will close this issue but we can reconsider under a new issue based on compelling feedback.

[2018-03-13 22:17] #10335 closed

[2018-03-13 22:23] jasontedor commented on #7461
I opened #29040.

[2018-03-13 22:25] jasontedor commented on #14980
I do not think that we need additional documentation here above what these settings are (which are documented) and how to update dynamic index settings (which is documented). Closing.

[2018-03-13 22:25] #14980 closed

[2018-03-13 22:25] rjernst commented on #28984
Can you elaborate on this? I think Codec and DocValuesFormat are leftover from long ago when we had custom versions of these in ES. PostingsFormat contains Completion50PostingsFormat which is still used. Is the issue just that Codec and DocValuesFormat are empty (we can remove them)?

[2018-03-13 22:27] #7461 closed

[2018-03-13 22:39] rjernst commented on #28867
I originally tried to make RandomizedTestingTask extend Test, but there were many issues with it (I don't remember if they were exactly the same as you found here). I suggest calling jacoco in ant directly.

[2018-03-13 22:46] rjernst commented on #28996
We did a lot of work to remove connect permissions from core. I don't think we should add it back.

I think this goes back to us using log4j api directly. If it was wrapped, we could have logging implementations in modules, and relegate this permission only to that module.  But this (logging api issue) has been contentious in the past.

[2018-03-13 23:07] reda-alaoui commented on #28984
I added a Gradle test module in the PR, but I couldn't reproduce my maven project behaviour.
Maybe it is just a Maven issue.

@rjernst,
I didn't see that both of them were empty.
Still, the issue is also caused by org.apache.lucene.codecs.PostingsFormat for which I had to add 2 fake classes:
- https://github.com/Cosium/elasticsearch/blob/e4cac84d72413d1abfaa0b975d8f0b6959310db5/server/src/main/jav

[2018-03-13 23:12] milan15 commented on #18279
As a beginner If no one is working on this one, i want to try and take this up. hope it would help me to understand more and give me an experience of commit/review process.

[2018-03-13 23:24] evanv commented on #29008
Does https://github.com/elastic/elasticsearch/pull/16745 address

mentioned here https://github.com/elastic/elasticsearch/issues/18279#issuecomment-218994716? I don't think it does. That's just a node launch start up check. It's not really a path reachable check on allocation.

Inre

But isn't that exactly what https://github.com/elastic/elasticsearch/issues/18279 is about? I'm honestly unclear wh

[2018-03-13 23:29] evanv commented on #18279
@bleskes would you consider reopening this ticket as a high hanging fruit, as per https://github.com/elastic/elasticsearch/issues/29008#issuecomment-372852685? Or, if you feel it should remain closed, can you share a bit more of your thinking about why? I don't feel like https://github.com/elastic/elasticsearch/pull/16745 and https://github.com/elastic/elasticsearch/issues/18279#issuecomment-21899

[2018-03-13 23:30] milan15 commented on #29008
As a beginner, if no one is working on this i want to try and take this. I hope it would help me with increased understanding and give me commit/review process experience.

[2018-03-13 23:44] reda-alaoui commented on #28984
I created https://github.com/Cosium/jigsaw-elasticsearch which allows to reproduce the issue.

[2018-03-14 00:03] reda-alaoui commented on #28984
And a ticket in Maven compiler tracker https://issues.apache.org/jira/browse/MCOMPILER-328

[2018-03-14 00:40] #20648 closed

[2018-03-14 00:43] jasontedor commented on #12305
I think that the right solution here is to use Filebeat, the same solution that we should eventually use for the audit logs too. This component of the stack already understands how to send logs to Elasticsearch, and we enable sending to a remote cluster too. The missing piece, as you say, is #8786. I will close this issue as I think this is the direction we should move towards.

[2018-03-14 00:43] #12305 closed

[2018-03-14 01:02] bvobart commented on #28867
Hmm okay. Personally, I believe that it should be a goal to have `RandomizedTestingTask` extend `Test` to minimize the chance of possible future issues with adding other instrumentation tools (e.g. SonarQube, mutation testing tools, etc.). However, If there is no viable or no better way of doing so, I'll look into calling JaCoCo from Ant directly then. Where would I be able to configure this thoug

[2018-03-14 01:16] jasontedor commented on #23382
Supporting structured logging (out of which meaningfully logging to JSON trivially falls out) is something that is on our roadmap but is not actively being worked on. Closing this as a duplicate of #8786.

[2018-03-14 01:16] #23382 closed

[2018-03-14 01:16] elasticmachine commented on #23382
Pinging @elastic/es-core-infra

[2018-03-14 01:28] jasontedor commented on #13185
We have stopped documenting these settings in #13199. I think these can remain, however, as expert settings. Closing.

[2018-03-14 01:28] #13185 closed

[2018-03-14 01:30] jasontedor commented on #28590
At this time we do not support running in a Windows container.

[2018-03-14 01:30] #28590 closed

[2018-03-14 01:52] elasticmachine commented on #19573
Pinging @elastic/es-core-infra

[2018-03-14 02:05] jasontedor commented on #19573
Letting the exception percolate up here will not fail the indexing request. The slow logs are implemented as indexing operation listeners. The post indexing operation loop that invokes such listeners catches all exceptions and logs them at the warn level. After logging, these exceptions percolate no further. Therefore, we can choose to not write the entry to the slow log, but instead carry the exc

[2018-03-14 02:06] elasticmachine commented on #20279
Pinging @elastic/es-distributed

[2018-03-14 02:07] jasontedor commented on #19330
No additional feedback in one-and-a-half-years. I will close this issue for now, and we can open a new issue if there is a compelling reason to do so.

[2018-03-14 02:07] #19330 closed

[2018-03-14 02:13] jasontedor commented on #18515
No interest in almost two years, closing.

[2018-03-14 02:13] #18515 closed

[2018-03-14 02:14] jasontedor commented on #16828
This is closed by the rollover and shrink APIs. Closing.

[2018-03-14 02:14] #16828 closed

[2018-03-14 02:15] jasontedor commented on #24886
Closing as this is tracked in the upstream Lucene issue.

[2018-03-14 02:15] #24886 closed

[2018-03-14 02:17] jasontedor commented on #27031
Closing as this is due to a cgroup configuration issue.

[2018-03-14 02:17] #27031 closed

[2018-03-14 02:22] jasontedor commented on #15481
Closing as won't fix per the discussion here. Note that we have made some additional changes in Elasticsearch to handle full-disk situations better: #25541

[2018-03-14 02:22] #15481 closed

[2018-03-14 02:27] jasontedor commented on #19164
We handle disk-full events more gracefully now since #25541. I am closing this issue, please feel free to open a new issue if an actionable issue persists.

[2018-03-14 02:27] #19164 closed

[2018-03-14 02:30] jasontedor commented on #27109
The 2.x series is EOL, and the 5.x series is in maintenance mode only receiving critical bug fixes only. As this situation is not relevant to the 6.x series, I am going to close this issue.

[2018-03-14 02:30] #27109 closed

[2018-03-14 02:41] jasontedor commented on #28062
No additional feedback, closing.

[2018-03-14 02:41] #28062 closed

[2018-03-14 02:46] jasontedor commented on #23097
Java home should be set in the system environment variables, as per the documentation. As such, the usage of `%%JAVA_HOME%%` is correct here to ensure that we end up with `%JAVA_HOME%` in the service definition which is then resolved at service startup.

[2018-03-14 02:46] #23097 closed

[2018-03-14 02:46] elasticmachine commented on #23097
Pinging @elastic/es-core-infra

[2018-03-14 02:48] jasontedor commented on #20859
It seems that sequence IDs and the changes API would solve the use cases proposed here indeed. I am closing this issue pending additional use cases that would compel us to consider adding a `_last_modified` field.

[2018-03-14 02:48] #20859 closed

[2018-03-14 02:48] elasticmachine commented on #15965
Pinging @elastic/es-search-aggs

[2018-03-14 02:49] #14080 closed

[2018-03-14 02:50] elasticmachine commented on #9967
Pinging @elastic/es-distributed

[2018-03-14 02:51] jasontedor commented on #13843
No interest in two-and-a-half years, closing. If any of these issues are serious and merit immediate attention, we should open a new issue targeting them.

[2018-03-14 02:51] #13843 closed

[2018-03-14 02:52] jasontedor commented on #7318
Superseded by #18613

[2018-03-14 02:52] #7318 closed

[2018-03-14 02:54] jasontedor commented on #27760
Closing as we are going to migrate to a different default number of shards, but it will not be 4 nor 8 (instead, 1).

[2018-03-14 02:54] #27760 closed

[2018-03-14 03:02] elasticmachine commented on #20062
Pinging @elastic/es-core-infra

[2018-03-14 03:15] jasontedor commented on #13136
I think what we need here to be actionable is specific requests with specific error messages that are not useful. I am closing this issue in favor of new issues that are targeted to recent versions of Elasticsearch along these lines.

[2018-03-14 03:15] #13136 closed

[2018-03-14 03:25] jasontedor commented on #12946
No interest in two-and-a-half years, closing.

[2018-03-14 03:25] #12946 closed

[2018-03-14 03:26] elasticmachine commented on #19474
Pinging @elastic/es-core-infra

[2018-03-14 03:27] elasticmachine commented on #20502
Pinging @elastic/es-core-infra

[2018-03-14 03:39] hub-cap commented on #27250
We know this need to be done and we will cross it when we need to. Im closing this issue as its not really a bug report but more of a "we need to do X", which is known.

[2018-03-14 03:39] #27250 closed

[2018-03-14 03:40] elasticmachine commented on #23484
Pinging @elastic/es-core-infra

[2018-03-14 03:41] jasontedor commented on #23484
I opened #29044.

[2018-03-14 03:42] #19573 closed

[2018-03-14 03:44] hub-cap commented on #21119
If these both exist in some form, is there more work to do here? cc @nik9000 @rjernst

[2018-03-14 03:44] elasticmachine commented on #21119
Pinging @elastic/es-core-infra

[2018-03-14 03:50] hub-cap commented on #26207
Would running a clean after a successful build be enough for this? Maybe our CI nodes can run their normal checks, and if all is good, run a clean? This would make the build not have to change at all.

[2018-03-14 03:50] elasticmachine commented on #26207
Pinging @elastic/es-core-infra

[2018-03-14 03:51] jasontedor commented on #8902
A 503 is completely broken behavior here. A REST status is a response for the *given* request. A 503 means "I am overloaded right now, I can not handle your request." That is completely out of alignment with a `discovery.zen.no_master_block` block. If the server can respond to the `/` request, it is not overloaded.

[2018-03-14 03:52] elasticmachine commented on #26319
Pinging @elastic/es-core-infra

[2018-03-14 03:54] elasticmachine commented on #26850
Pinging @elastic/es-core-infra

[2018-03-14 03:57] jasontedor commented on #26207
We destroy boxes since #28813.

[2018-03-14 03:57] #26207 closed

[2018-03-14 04:15] jasontedor commented on #8902
I opened #29045.

[2018-03-14 05:11] jasontedor commented on #28899
I am not sure what there is to do here? The parent-join module depends on server, as do all modules; the only solutions are to remove jts and spatial4j from server yet I do not consider these core issues. Closing.

[2018-03-14 05:25] ainola commented on #10551
Thanks for the update, @rjernst. Installation does indeed work with dpkg, one just needs to supply the `--force-architecture` flag.

Here's hoping that aptly will smooth out noarch packages.

[2018-03-14 05:47] tvernum commented on #28899
@jasontedor
The spatial4j and JTS dependencies are marked as `optional` in `elasticsearch.pom`, but not in `parent-join-client`.
I think that's just an oversight in the parent-join plugin.

https://search.maven.org/remotecontent?filepath=org/elasticsearch/elasticsearch/6.2.2/elasticsearch-6.2.2.pom
[code]

[2018-03-14 06:54] rjernst commented on #26946
This is already fixed for 7.0 by #23869. There used to be leniency which would fallback to trying to parse any unknown keys as if they were under `settings`.

[2018-03-14 06:54] #26946 closed

[2018-03-14 07:17] Somnath-Guthula commented on #26976
Hi guys, I am having a similar issue with a newer version

So, We were trying a rollover indice with our newly setup cluster with Elasticsearch 6.2

When we are trying to rollover the indice, It gives the following error.

[code]

Please find details below of the template that we are having and steps that I used. This can be fairly used to reproduce the issue.

Template name : fusion-logs
[code]

[2018-03-14 07:23] jaisharma639 opened #29047 "Unable to serialize set with elasticsearch-py client"
ES : 2.4.1
Python: 2.7.9

When firing a terms filter query with a set instead of list throws SerializationError. Here is a sample query:

    {
    "query": {
        "filtered": {
            "filter": {
                "bool": {
                    "must": [
                        {
                            "term": {
                                "_type": "2017-08-28"

[2018-03-14 07:33] danielmitterdorfer commented on #13568
Despite my initial enthusiasm I don't recall a single instance in the last years where metaspace usage was problematic. Hence, I'd opt for going with the JVM's defaults for now.

[2018-03-14 07:35] rjernst commented on #13568
Let's close then. If compelling evidence to add this comes up, we can open a new issue.

[2018-03-14 07:43] rjernst commented on #21706
Duplicate of #22870

[2018-03-14 07:43] #21706 closed

[2018-03-14 07:49] elasticmachine commented on #11811
Pinging @elastic/es-core-infra

[2018-03-14 07:50] martijnvg commented on #11811
This issue is still valid with high level rest client.

[2018-03-14 07:54] rjernst commented on #21114
I believe this is still an issue and the PR #21269 should be revived to fix it.

[2018-03-14 07:55] elasticmachine commented on #21114
Pinging @elastic/es-core-infra

[2018-03-14 08:03] DaveCTurner commented on #15780
Closing for a handful of reasons:

- A one-node cluster is not a resilient setup. This specific problem seems fixable, but fixing resilience problems that only occur in one-node clusters is generally a long way down the priority list. Use >1 node where you need resilience.

- Backoff of _logging_ is a bad idea - when analysing log files it's important to be able to reason about what the system was

[2018-03-14 08:03] #15780 closed

[2018-03-14 08:04] martijnvg commented on #15530
Closing since no progress has been made and no further requests for changing this have been made for a long time.

[2018-03-14 08:04] #15530 closed

[2018-03-14 08:06] rjernst commented on #21095
@bleskes Is this still something that should be documented? If so, can you do so, or assign to someone who knows enough about this setting (the javadocs in code don't tell me enough to know how to explain it).

[2018-03-14 08:08] rjernst commented on #19878
While I still think this would be a nice to have, it has been 1.5 years and this has not been a priority. I'm going to close this, and we can continue to think about this as refactorings are made.

[2018-03-14 08:08] #19878 closed

[2018-03-14 08:14] rjernst commented on #19723
Regarding naming, I have always used `{name}_SETTING`, and while I do see quite a few settings begging with `SETTING_`, I think these are the minority, and I have not seen recent settings being added with this convention.

Regarding location, I think this is similar to #19878. For the same reasons there, I am going to close this. Having an issue has not been a driving factor in increasing the prio

[2018-03-14 08:14] #19723 closed

[2018-03-14 08:15] DaveCTurner commented on #20716
@bleskes it seems that this issue remains open just because of your suggestion that we could fetch the shard data concurrently. If so, I think we should close this thread and (optionally) open a separate issue asking for just that, so future readers don't have to parse that nugget out of this full thread. WDYT?

[2018-03-14 08:20] jpountz commented on #23551
Here is a recreation of the problem:

[code]

This can be worked around by slightly changing the dynamic mapping rules:

[code]

[2018-03-14 08:20] #23551 closed

[2018-03-14 08:26] DaveCTurner commented on #12449
@dadoonet I don't understand what, if any, action is needed here, particularly in terms of the `:Distributed/Discovery` label (which probably wasn't what it was called when you labelled it back in 2015). RDMA is an alternative to using TCP as the inter-node communications mechanism, so perhaps this should be `:Core/Network`?

[2018-03-14 08:28] rjernst commented on #17401
This issue is very old, and I don't think it was actually a bug. The later example that worked converted path.data to be yaml list, which is what the setting expects. The original description looks like it was a single string.

[2018-03-14 08:28] #17401 closed

[2018-03-14 08:29] rjernst commented on #17266
This issue never had any discussion come out of it. I'm going to close because reorganizing setting name hierarchy would be a massive undertaking that is simply not a priority.

[2018-03-14 08:29] #17266 closed

[2018-03-14 08:32] jpountz commented on #12829
cc @elastic/es-search-aggs

[2018-03-14 08:33] jpountz commented on #9034
cc @elastic/es-search-aggs

[2018-03-14 08:34] jpountz commented on #15613
cc @elastic/es-search-aggs

[2018-03-14 08:36] jpountz commented on #15612
@paixaop No news, this hasn't been worked on. We are in the process of changing the framework that we use to manipulate dates, so this might not get attention until this is finished, even though we understand how important this change is to our users. Sorry about that.

[2018-03-14 08:36] jpountz commented on #15612
cc @elastic/es-search-aggs

[2018-03-14 08:38] jpountz commented on #24036
It's been almost one year without update so I'll close this issue since we couldn't come up with suggestions how to make things simpler. Let's reopen if we get ideas that could help.

[2018-03-14 08:38] #24036 closed

[2018-03-14 08:39] jpountz commented on #23714
cc @elastic/es-search-aggs

[2018-03-14 08:39] bleskes commented on #20716
@DaveCTurner I tend to just close this. I haven't heard anything about these issues for a long while and ops based recovery should also help with recovery times. The system is complex enough (even too much) and I'm worried about adding another asynchronicity

[2018-03-14 08:40] DaveCTurner commented on #13461
The reasons I can think of for wanting this are:

- Forming a cluster whose nodes are partly within GCE and partly outside.
- (Relatedly) starting a remote coordinating-only node for use with the transport client.
- Using a tribe node to connect to clusters that are both within GCE and outside.

The first sounds like a bad idea, and the others are being phased out (respectively by the REST client

[2018-03-14 08:40] #13461 closed

[2018-03-14 08:40] rjernst commented on #15586
Setting prompting was removed in #27216. The keystone prompting is a separate issue that will be handled through init systems.

[2018-03-14 08:40] #15586 closed

[2018-03-14 08:43] rjernst commented on #15361
Cluster settings are cluster settings. This issue has remained open for over 2 years with no support. I'm going to close as this is such a high hanging fruit that I do not see it as a priority any time soon.

[2018-03-14 08:43] #15361 closed

[2018-03-14 08:44] rjernst commented on #11455
Prompting settings were removed in #27216, thus this issue is no longer relevant.

[2018-03-14 08:44] #11455 closed

[2018-03-14 08:46] javanna commented on #11709
Our language clients retry `5xx` errors, but not `4xx` responses as they are request errors which should be fixed on the client side. There are different cluster blocks, and they are associated with different response codes:

|  Block type | response code  |
|---|---|
| CLUSTER_READ_ONLY_BLOCK  | 403  |
|  CLUSTER_READ_ONLY_ALLOW_DELETE_BLOCK | 403  |
|  INDEX_CLOSED_BLOCK | 403  |
|  INDEX_READ_O

[2018-03-14 08:46] #11709 closed

[2018-03-14 08:49] rjernst commented on #10959
I'm closing this issue because the original idea (using an index) has many issues, and there are other current ideas which will improve the situation eg for synonyms. The idea of "don't use local files" is well engrained in the culture now and they are used sparingly. Additionally, file based scripts are now gone.

[2018-03-14 08:49] #10959 closed

[2018-03-14 08:51] elasticmachine commented on #10793
Pinging @elastic/es-distributed

[2018-03-14 08:53] rjernst commented on #9879
I agree this should be fixed by #24487. Closing.

[2018-03-14 08:53] #9879 closed

[2018-03-14 08:55] DaveCTurner commented on #14175
Since https://github.com/elastic/elasticsearch/pull/19186 deprecates the `discovery-azure` plugin, I think this can be closed. Something to bear in mind when working on the new ARM-based discovery.

[2018-03-14 08:55] #14175 closed

[2018-03-14 08:55] DaveCTurner commented on #14175
(Linking #19146)

[2018-03-14 08:56] elasticmachine commented on #4739
Pinging @elastic/es-distributed

[2018-03-14 08:56] colings86 commented on #29047
Your query is missing a closing brace for the `terms` object, I think this is going to be what is causing the serialisation error

[2018-03-14 08:56] #29047 closed

[2018-03-14 08:57] javanna commented on #14192
Given that this issue has been opened for a long time, I wonder if we really want to pursue this. Once transport client is removed (it is currently deprecated) this will become a high-level REST client issue only, as query builders are only a client thing. And we've been using the `Builder` suffix also for other similar classes like `AggregationBuilder`, `SuggestBuilder`. I am not sure that it's w

[2018-03-14 08:57] #14192 closed

[2018-03-14 08:58] elasticmachine commented on #29035
Pinging @elastic/es-search-aggs

[2018-03-14 08:58] elasticmachine commented on #16451
Pinging @elastic/es-search-aggs

[2018-03-14 08:59] DaveCTurner commented on #19078
Closed by #21956.

[2018-03-14 08:59] #19078 closed

[2018-03-14 09:04] colings86 commented on #29037
This seems to be a question about how to configure fluentd correctly for your use-case. As this is the issue tracker for the Elasticsearch project we do not have expertise in fluentd and I think you would be better asking your question to the fluentd community who would probably be in a better position to help (e.g. https://github.com/fluent/fluentd/issues or https://groups.google.com/forum/#!foru

[2018-03-14 09:04] #29037 closed