[2016-09-15 11:29] clintongormley commented on #20486
Yes, this is a problem today.  https://github.com/elastic/elasticsearch/pull/19846 is aimed at improving this, but I think there will be more to follow. /cc @nknize

[2016-09-15 11:34] itay-grudev opened #20500 "Query with suggester doesn't output suggestions[v5.0.0a5]"
The query below only outputs hits and not suggestions. If I drop the query part, I get suggestions, but of course no hits.

[code]

[2016-09-15 12:18] llRandom opened #20501 "Inner hits `total` value is equal to 0 if `from` field is greater than or equal to total number of matched documents"
**Elasticsearch version**: 2.3.3

**Plugins installed**: []

**JVM version**: 1.8.0_91

**OS version**: Windows Service 2012 R2

**Description of the problem including expected versus actual behavior**:
When requesting inner hits with `from` field greater than or equal to total number of matched documents, inner hits `total` field is equal to 0. Expected to have actual number of all matched docume

[2016-09-15 12:45] s1monw commented on #20498
first of all you can't set this anymore on a node level in 5.0 - that's a good thing. That said, I am really surprised that not running refresh prevents rejections? Why did documents get rejected in the first place, why would refresh help here?

[2016-09-15 12:46] s1monw commented on #20500
that doesn't sound good @areek can you please take a look?

[2016-09-15 12:48] clintongormley commented on #20397
Given that the title of this issue has been dealt with, I'm going to close it.  Further discussions can happen on their own tickets.

[2016-09-15 12:48] #20397 closed

[2016-09-15 13:02] clintongormley commented on #15613
Not quite. There are certain properties today which can differ, eg:

    PUT t
    {
      "mappings": {
        "one": {
          "properties": {
            "text": {
              "type": "text",
              "copy_to": "foo"
            }
          }
        },
        "two": {
          "properties": {
            "text": {
              "type": "text",
              "copy_to": "bar"

[2016-09-15 13:09] s1monw commented on #20495
turn the bloody debug logging off you get betta ones mate!

[2016-09-15 13:11] nik9000 opened #20502 "UP-TO-DATE check on doc test generation doesn't notice removed files"
I'm fairly sure that the UP-TO-DATE check on doc test generation doesn't notice when you remove a file. This means that just pulling updates and rebuilding might spuriously fail the docs tests. The work around is to `gradle docs:clean` on pull.

[2016-09-15 13:14] clintongormley commented on #20495
1. Setting a type to have `dynamic:false` doesn't throw exceptions.  `dynamic:strict` does
2. The exception is not about adding a new field, it's about adding a new type
3. You have the `index.mapper.dynamic` setting set to `false`, nothing to do with the `dynamic` setting
4. The REST response, which is what the user sees, is clear and easy to read
5. You have DEBUG logging turned on.  Nothing is

[2016-09-15 13:14] #20495 closed

[2016-09-15 13:27] nik9000 commented on #20199
You could set it to `-1` and not worry about `batch_size`, but this is lame either way.

I'm really not sure what the right thing is here because I expect plenty of people to run reindex and friends with curl/sense and plenty also to run it in clients. I do think having a different nob is useful here because the curl/sense folks want the process to run quickly as well.

Maybe a better compromise i

[2016-09-15 13:30] nik9000 commented on #20485
That is how I understand the section you've quoted, yes. I think of the LSB as the authority on this stuff. While we *can* decide to go against it we should have a very, very good reason when we do.

[2016-09-15 13:32] javanna opened #20504 "Reindex from remote response parsing is too strict?"
I just noticed a potential problem with reindex from remote, which could also apply to other cases where we use `ObjectParser`. Whenever a field that is not declared is received, the parser will barf as the field is not supported by the parser. This is very good when we parse requests so that we make sure that something that gets sent by users which is not supported is not ignored. Rather throw an

[2016-09-15 13:32] jasontedor commented on #20485
`PATH` is not suppose to be passed to init scripts, but some `service` implementations do it anyway. From `service(8)`:

[code]

Yet on Ubuntu 14.04, from `/usr/sbin/service`:

[code]

That explains the behavior that you're seeing on your system, but I do not think that we should be relying on this.

And from the [LSB](http://refspecs.linuxbase.org/LSB_3.0.0/LSB-PDA/LSB-PDA/iniscrptact.html):

`Si

[2016-09-15 13:37] markwalkom commented on #20495
This is base 5.0, there's no debug enabled.

On 15 Sep 2016 11:15 PM, "Clinton Gormley" <notifications@github.com> wrote:

[2016-09-15 13:37] tlrx commented on #20485
Thanks @jasontedor and @nik9000 for your comments about this. I feel like we can close this issue now.

[2016-09-15 13:37] #20485 closed

[2016-09-15 13:37] jasontedor commented on #20485
It looks like I was already writing at the same time as you and @nik9000, and it appears we are all in agreement. :smile:

[2016-09-15 13:38] nik9000 commented on #20504
I think it might be better to just teach it how to ignore extra fields we don't care about in this fairly rare case.

[2016-09-15 13:46] javanna commented on #20504
Sure I just wouldn't want ObjectParser to become lenient in any other case though... if it can be lenient we may end up using it that way in other places for no reason?

[2016-09-15 13:49] Mpdreamz commented on #20199
I think the assumption we are doing folks using curl sense a service defaulting to wait for completion is not correct.

Fire a reindex in sense and it'll be hard to tell if a request is pending or not. We can add spinners but after sometime people will assume spin is indefinite and might fire another request.

I'd much much rather get an instant response on the command line from curl with a task i

[2016-09-15 13:52] clintongormley commented on #20495
Just checked, and you're right - we enable this logging by default.

But we always log the stack trace.  it is important that we don't swallow these. We made a lot of changes to ensure that we don't swallow stack traces as it makes debugging very hard.  It's a bug if we don't log the stack trace.  The REST layer returns a simple exception.

[2016-09-15 13:53] #17528 closed

[2016-09-15 13:55] clintongormley commented on #20363
Another thought, would be good to include timings per search request.  eg one set of search terms could take 20ms and another could take 1000ms

[2016-09-15 13:56] clintongormley commented on #20499
@hmanner this is doing exactly what we want - alerting you to a problem with your setup and forcing you to fix it.

[2016-09-15 13:56] #20499 closed

[2016-09-15 14:01] itay-grudev commented on #20500
I am not 100% certain (as I might have made a mistake) but I think that `highlight` is ignored as well when added to the requests.

[2016-09-15 14:03] clintongormley commented on #20501
@martijnvg could you take a look please?  Also, I'm not sure that the `offset` is correct in the first query.

[2016-09-15 14:04] itay-grudev commented on #20500
I just moved the query part to the end of the request and the suggestions started working. It seems like someone `brake`-ed out earlier after handling the `query` case.

[2016-09-15 14:08] clintongormley commented on #20498
If I'm not mistake, I've heard recently about disabling refresh completely resulting in heavier GC than just using a refresh interval of (eg) 30s.  @mikemccand am I remembering correctly?

[2016-09-15 14:16] polyfractal commented on #20108
I just had a skim through the code to see how difficult this would be.  I think it'll be relatively non-trivial.  The cache is instantiated as a shared, per-node resource (even though it tracks queries on a per-shard basis).  So we can't "wrap" the cache with an instrumented profiler like we can with queries, since it will be concurrently servicing non-profiled queries too.

The API is a bit trick

[2016-09-15 14:18] hmanner commented on #20499
@clintongormley That way of thinking may be ok when setting up a single cluster. But when having thousands of customers with separate clusters in different time zones you will run into issues like this because someone messed up somewhere. That someone could easily do that same mistake on all nodes in the cluster, which will stop the entire cluster. Really bad if the cluster is a vital service. The

[2016-09-15 14:20] clintongormley commented on #20199
To repeat the comment I've just added on the PR https://github.com/elastic/elasticsearch/pull/20461#issuecomment-247341263

Now that we have task management, I agree.  However, this would be a breaking change.  I think we should probably use deprecation logging in 5.x to warn that this default will change in 6.0 and to specify `wait_for_completion` explicitly to silence the warnings.

[2016-09-15 14:21] clintongormley commented on #20199
We should also be returning task IDs for requests like `_force_merge` which are only backgrounded today, but with no way of tracking progress.

[2016-09-15 14:25] nik9000 commented on #20199
I think `wait_for_completion` is orthogonal from this issue though? If a large number of failures end up in the index you still have to get them out somehow.

[2016-09-15 14:25] areek commented on #20500
@itay-grudev can you post the response you are getting from the `_search` endpoint when you define query and suggest?

[2016-09-15 14:27] itay-grudev commented on #20500
Which case (suggest/query order)?

[2016-09-15 14:28] clintongormley commented on #20499
@hmanner I have a completely different opinion on this.  We have made many many changes to make Elasticsearch shout louder when something is wrong instead of silently ignoring problems and trying to do the right thing, which may not turn out to be the right thing and instead makes debugging problems very hard even for experts.

Instead, the exception that you mention makes it pretty simple for an

[2016-09-15 14:28] jimferenczi commented on #20500
This is a bug indeed but I don't think it's related to the suggest part. Your query is not valid but it is not caught by the query parser. `filters` is not recognized as a query and it seems that it breaks the parsing of the whole query. I'll investigate but you should check your queries first in order to remove the part that are not valid.

[2016-09-15 14:29] clintongormley commented on #20499
As another example of this, we added jarhell checks which complain if you have jars with the same name in your classpath.  Lots of people complained.  But this is what happens if you don't have these checks: https://github.com/elastic/elasticsearch/issues/20372

[2016-09-15 14:31] jasontedor commented on #20499
If you followed practices like first installing in a non-production environment and using configuration management like Ansible or Puppet, you'd have seen the issue there and adjusted your installation procedure and the human element would be minimized.

Plugins are not picked up until a restart anyway, you should be coordinating installation with restarts.

[2016-09-15 14:31] itay-grudev commented on #20500
@jimferenczi  I don't think it is the suggesters. I think it is the query parser as well, as the problem doesn't occur when I change the order of the `query` and `suggest` statements.

[2016-09-15 14:33] clintongormley commented on #20500
@jimferenczi `query` should only accept a single key, not multiple

[2016-09-15 14:34] GlenRSmith commented on #20498
@s1monw I think that what was happening was that on the node in question, fully consuming the indexing buffer before refreshing led to high GCs, and the GC activity led to high bulk rejections.

Just to give you an idea of the magnitude of the impact, the largest daily index in the cluster had something like 32 primary shards (warranted by the size of the index 500 - 800GB).  Any shard which had a

[2016-09-15 14:38] itay-grudev commented on #20500
I would like to note that if I place the `filters` block in the root object I get the:
[code]
This also happens if I use `filter` (singular).

P.S. Dumps coming in a minute.

[2016-09-15 14:39] jimferenczi commented on #20500
@clintongormley yep but for some reason this is not caught by the parser and we end up with a weird query that is a mix of the two keys (at least in my reproduction scenario). The weird thing is that the validation API rejects the query but the _search endpoint doesn't. I'll investigate ...

[2016-09-15 14:40] itay-grudev commented on #20500
@jimferenczi What is the correct syntax for the query? Where should the `suggest`, `filters` and `highlight` parts be?

[2016-09-15 14:59] areek commented on #20500
@itay-grudev can you try:
[code]

[2016-09-15 15:04] itay-grudev commented on #20500
This works, yes. Thanks.

[2016-09-15 15:15] itay-grudev commented on #20500
My problem is resolved. When you handle your query parser problem you should close the issue.

[2016-09-15 15:22] nik9000 commented on #20504
I think we could make the leniency optional and use code review to prevent us from being silly about it.

[2016-09-15 15:22] xoxys opened #20506 "API Search gives me a wrong bucket count"
**Elasticsearch version*1.4.4*:

**OS version*RHEL7.2*:

**Description of the problem including expected versus actual behavior**:
Hi,
i use elasticsearch to collect logmessages. I try to get a overview of all hosts and the sum of logfiles in the last hour. To get the result i use the python client from elasticsearch and these query:
{
    "aggs": {
        "hosts" : {
            "filter" : {

[2016-09-15 15:27] Mpdreamz commented on #20199
@clintongormley some of these API's are expiremental in 2.x i think its ok to break in 5.x rather then 6.x?

@nik9000 it is orthogonal sorry for dragging it in this discussion should have opened a new one, just saw them as part of the too many toggles discussion.

Just wondering now if this is not a more global `get task api` problem, can we introduce a `defailed=true` or `verbosity=level` on the

[2016-09-15 15:32] nik9000 commented on #20199
Its cool! I'm just trying to separate issues as much as possible so I can get things done. But maybe that is dangerous because it means we're not thinking holistically about the API.

For what it is worth the tasks API *does* have a detailed setting but it is for fetching the running status. When storing task results we always store the details and don't have a way of not fetching them.

[2016-09-15 15:47] nellicus opened #20508 "max file descriptors keeps complaining with 65536 max fd detected"
**Elasticsearch version**:
2.4.

**Plugins installed**: []
N/A

**JVM version**:
N/A

**OS version**:
N/A

**Description of the problem including expected versus actual behavior**:
max file descriptors keeps complaining with 65536 max fd detected

[code]
?

**Provide logs (if relevant)**:

[code]

[2016-09-15 15:47] nellicus commented on #20508
65535<65536

[2016-09-15 15:47] #20508 closed

[2016-09-15 15:49] lyrixderaven opened #20509 "Completion Suggester w/ context filter doesn't work with UTF8 characters"
**Elasticsearch version**: 2.3.3

**OS version**: Ubuntu

When using the completion suggester, it seems the categories can not contain UTF8-Characters, such as Umlauts; if so, the suggest query doesn't return anything.

For instance, the following indexed document contains an umlaut in the context ""MyUmlautSite\u00e4":

[code]

The umlaut's representation as \u00e4 stems from the json formatting,

[2016-09-15 16:19] s1monw commented on #20498
I really wonder if the live-version map is involved in this @mikemccand ?

[2016-09-15 16:19] s1monw commented on #20498
I also wonder if 5.0 still has this problem?

[2016-09-15 16:30] derEremit commented on #12366
for usage as a real log stash I would say something like https://github.com/elastic/elasticsearch/issues/12366#issuecomment-175748358
is a must have!

[2016-09-15 16:33] clintongormley commented on #20506
Hi @xoxys

You're using a top-level `filter` in the first query which is applied AFTER aggs are calculated.

Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2016-09-15 16:33] #20506 closed

[2016-09-15 16:36] clintongormley commented on #20509
@areek if you haven't done so already, could you add tests to be sure this works in 5.0?

[2016-09-15 17:03] chindhuhari opened #20510 "attachment-mapper plugin fails for zip files"
**Elasticsearch version**: 2.3.6

**Plugins installed**: [mapper-attachments]

**JVM version**:1.8

**OS version**:Windows 7

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. Run elasticsearch with attachment-mapper plugin
 2. Give a zip file as input to parse
 3. Gives an error

**Provide logs (if relevant)**:

**Describe the feature**:

[2016-09-15 17:24] areek commented on #20509
@lyrixderaven this is a known bug for context filtering in completion suggester in 2.x. This works as expected in 5.0.
@clintongormley I manually tested this with 5.0 completion suggester, will also add a test for this

[2016-09-15 17:39] mikemccand commented on #20498
Disabling refresh should not hurt anything, and I don't think I've seen that in the past.  @clintongormley do you remember the context before?

It should rather be the opposite: refresh itself is a costly op, forcing a full write of all buffered docs to files, opening readers, etc.

@s1monw we fixed ES a while back to force a refresh if version map was too large, so I don't think it should be due

[2016-09-15 18:15] monkeyboy64 commented on #15612
We are running into this to. We can programmatically figure out the dates, but that isn't as easy has just have a quarter time unit.

[2016-09-15 18:43] areek commented on #20509
I added test for this in [5.0] (https://github.com/elastic/elasticsearch/commit/c8843d6c7dd6101afa6b4aa9d1842e52519fd05b), [5.x] (https://github.com/elastic/elasticsearch/commit/a043ac5860ccaf6938f3e60b8f9ce01a3885f2ae) and [master] (https://github.com/elastic/elasticsearch/commit/16ed2fb423fd387faa513cbed991a9fcb64bc572
). Closing as resolved in 5.0

[2016-09-15 18:43] #20509 closed

[2016-09-15 19:46] #18159 closed

[2016-09-15 19:58] msimos opened #20512 "Elasticsearch 5.0.0 beta1 starts with 1.x indices present"
**Elasticsearch version**:

Elasticsearch 5.0 Beta1

**Plugins installed**: []
None

**JVM version**:

1.8.0_91

**OS version**:
Linux

**Description of the problem including expected versus actual behavior**:

Based on breaking changes document. In the presence of pre-2.0 indices, Elasticsearch should not start:

https://www.elastic.co/guide/en/elasticsearch/reference/5.0/breaking-changes-5.0.htm

[2016-09-15 20:21] breml opened #20513 "Documentation: Comment Elasticsearch Indexing Templates"
**Describe the feature**:

As of https://github.com/elastic/elasticsearch/commit/6f7253c5242e7fb94d959ce291c88f93887e3bde Elasticsearch does have support for C-style comments in indexing templates and mappings. Unfortunately this is nowhere documented in the API reference. Therefore I would like to file a PR, which would add this information to the documentation. Before I change the documentation,

[2016-09-15 20:53] #20500 closed

[2016-09-15 21:52] Bargs opened #20516 "_field_stats returns server error when index contains an IP field"
**Elasticsearch version**: 5.0-beta1, master

**Plugins installed**: none

**JVM version**: java version "1.8.0_60"

**OS version**: OSX El Capitan

**Description of the problem including expected versus actual behavior**:

_field_stats returns an INTERNAL_SERVER_ERROR when the request includes an IP field.

**Steps to reproduce**:
 1 Create an index with an IP field mapping:

[code]

 2 Add a sim

[2016-09-16 02:18] johtani commented on #20479
Hi @mbarker

Before 2.4, we didn't validate any template on index template creation.
We added validation on index template creation in [this PR](https://github.com/elastic/elasticsearch/pull/8802).
In this PR, we validate each template as a complete mapping and settings,
we don't check combination because we cannot check all combination when template create.
Now, you should add the `max_length` fi

[2016-09-16 04:04] gfyoung commented on #11671
@bleskes : It seems some like logging a warning of some kind (after checking for `null`) would be best?

[2016-09-16 04:28] dobariya commented on #20465
yes this makes sense

[2016-09-16 04:54] mbarker commented on #20479
@johtani It seems to me like validating a template should be scoped to the context it should have available during indexing, unless I'm misunderstanding how ES supports multiple templates.

We certainly could replicate all of the analyzers/filters to all the templates where they are used, I was trying to avoid duplicating parts of the template.

If it would help I can give more details about how w

[2016-09-16 05:26] johtani commented on #20479
Thanks. I will think what the validation is more useful for users.

Validating template on index template creation is helpful for many users because users know the error earlier than validating creating index, especially logging use-case.
However in your situation, this validation is not useful because template is bigger than before 2.4.

e.g. If there is skip validation flag and simulate template

[2016-09-16 06:07] ajayar commented on #17537
Hi @brwe thanks a lot for looking into it. Please check the output of the query

[code]

[2016-09-16 06:41] bleskes commented on #11671
@gfyoung we should totally avoid the NPE and deal with concurrent index deletion correctly. This has long been fixed (somewhere in the 2.x history line) so I'm closing this now.

[2016-09-16 06:41] #11671 closed

[2016-09-16 06:41] s1monw commented on #17537
@ajangus you are saying you are using 2.4 but this index is created with 2.3.4 maybe you are missing something on your end?

[2016-09-16 07:59] beiske opened #20518 "plugins.path or home.path need to be configurable or some other way of activating plugins after install"
When running Elasticsearch on Cloud we configure the plugins directory external to the installation. This enables us to activate plugins by copying them to an external directory when the container starts. This is required because all plugins are installed when building the docker image. Installing plugins at boot time is not an option as the download process is too error prone and slow for that.

[2016-09-16 09:06] tlrx commented on #20212
We added a `--quiet` option to elasticsearch in #20422 to disable stdout log messages. It has been added in the elasticsearch's systemd service file for 5.0 and 6.0.

I'm closing this issue since it will be fixed in the next major version. Feel free to reopen if needed.

[2016-09-16 09:06] #20212 closed

[2016-09-16 09:30] SergeyBondarenko opened #20519 "Strange results when querying nested objects on multiple paths"
**Elasticsearch version**: 2.3.3
**Plugins installed**: no plugin
**JVM version**: 1.8.0_91
**OS version**: Linux version 3.19.0-56-generic (Ubuntu 4.8.2-19ubuntu1)

**Description of the problem including expected versus actual behavior**:

I get strange results when I query nested objects on multiple paths. I want to search for all `female` with `dementia`. And there are matched patients among th

[2016-09-16 09:55] javanna commented on #20504
We discussed this during FixItFriday. Reindex from remote should keep on using `ObjectParser`, but we should write a subclass for it (PartialObjectParser) that allows to parse partial messages. We parse what we know about and ignore the rest. Obviously this new subclass should only be used in special cases like reindex from remote, not for parsing requests where we still want to be strict and barf

[2016-09-16 09:58] javanna commented on #16192
I had a look as this seemed easy to fix (seems like we try to parse an unsupported locale), but I couldn't find where the failure came from. Also there were no further failures on this so I assume it got fixed meanwhile.

[2016-09-16 09:58] #16192 closed

[2016-09-16 09:59] s1monw commented on #20465
we spoke about this in fixit - FRYday :) and we agreed that having this option to auto-create an index from another index or copy settings / mappings is beyond the point. If you reindex you usually want to change something (mappings or settings) or you migrate from an old version. You also have templates in place to get mappings right OR you have a way to create your indices. I feel we have enough

[2016-09-16 09:59] #20465 closed

[2016-09-16 10:01] jasontedor commented on #20518
We discussed this during Fix-it-Friday and agreed that the built-in installation procedure should be followed here to install plugins into the plugins directory.

[2016-09-16 10:01] #20518 closed

[2016-09-16 10:01] s1monw commented on #20182
I really think this is a pretty esoteric problem you have there with `_` as a first char. I think if there are problems they should be addressed upstream and we should use what comes from http-client.

[2016-09-16 10:01] #20182 closed

[2016-09-16 10:54] darky opened #20523 "Strange nested type appearance in JavaScript"
**Elasticsearch version**: 2.3.5

**Plugins installed**: ["lang-javascript"]

**Description of the problem including expected versus actual behavior**:

Script on JavaScript, that works with nested type not properly processing it as array.
For example in this script array not have method `filter`, but have `forEach`, that strange:
[code]

For solving problem need manually forcing it to array:
[cod

[2016-09-16 11:33] ajayar commented on #17537
I too noticed the version, but am not sure why it is so. I am sure that I am running 2.4. But, I will recheck the same on a different machine and come back on this.

[2016-09-16 12:34] cbuescher commented on #10632
I looked into this a bit by adding an IT test. It looks like Lucenes SimpleQueryParser only recognizes a terms with a closing '*' as prefix query. A single wildcard without leading charactes is treated as a regular term in SimpleQueryParser#consumeToken(). This might even be the intended behaviour. For `query_string`  the situation is different since it uses MapperQueryParser internally which has

[2016-09-16 13:22] PhaedrusTheGreek opened #20525 "Definition of metadata operations in Tribe node and Index Settings"
[Tribe node documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-tribe.html) is missing some detail about what `tribe.blocks.metadata` encompasses.  Currently stating that "all metadata operations" can be blocked, but doesn't explain what that means.

Similarly, there is a [`index.blocks.metadata` setting](https://www.elastic.co/guide/en/elasticsearch/reference/cu

[2016-09-16 14:04] sop3k commented on #2917
I there any posibility to use this workaround to sort on non numeric field?

[2016-09-16 14:11] s1monw commented on #17537
@ajayar I am sure you are not creating this index with a cluster that has only 2.4 nodes. if you have a single 2.3.4 node in the cluster this will happen. Maybe you can just paste the output of `GET localhost:9200/` (the main action) and the [node stats](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-nodes-stats.html)

[2016-09-16 14:11] #20512 closed

[2016-09-16 14:13] #8998 closed

[2016-09-16 14:15] #20516 closed

[2016-09-16 14:26] jlintz commented on #17179
I'm seeing this on ES 2.4.0,  I get an access denied but the repository is still created and I'm able to snapshot to it successfully.  Using the IAM role policy listed in the docs

[2016-09-16 15:03] Bargs commented on #20516
Thanks for the quick fix @jimferenczi !

[2016-09-16 15:26] javanna commented on #8998
thanks for getting back to this @nknize !

[2016-09-16 15:55] dakrone commented on #10632
@cbuescher personally I think a SQS query for `*` should be internally rewritten to a `MatchAllDocsQuery`, which I think means this would go into Lucene. If people agree I can work on a patch for the next Lucene release

[2016-09-16 18:33] ppf2 opened #20529 "Clarify cluster_concurrent_rebalance setting"
https://www.elastic.co/guide/en/elasticsearch/reference/current/shards-allocation.html

Allow to control how many concurrent shard rebalances are allowed cluster wide. Defaults to 2.

Our documentation on the above parameter is quite light today.  A lot of users are interpreting the above option as one that affects relocation of shards in general.  But in reality, the above only affects the reloca

[2016-09-16 19:05] #17685 closed

[2016-09-16 19:18] javanna commented on #17583
I believe this was fixex by https://github.com/elastic/elasticsearch/commit/cd982ade99ce2db939b7ed9278ba199010641131 .

[2016-09-16 19:18] #17583 closed

[2016-09-16 20:06] #20529 closed

[2016-09-17 05:19] dimfeld commented on #2917
@sop3k I can't think of any normal way to make it work on a string field, but I came up with a method which may or may not work for you depending on your application and tooling.

At index time, convert the string you want to sort into a 63-bit number and index it alongside the string field as a `long`. Assuming a really naive 8-bit encoding, you could get 7 characters worth of sorting accuracy, o

[2016-09-17 06:35] sop3k commented on #2917
Thank @dimfeld for comment. I was thinking about same solution but as you mentoin it's very limited to do so with UTF8 and UTF16.

[2016-09-17 12:26] clintongormley commented on #19813
@bleskes can this issue be closed now or is there more to do?

[2016-09-17 13:10] s1monw commented on #19813
I think we should update the description we haven't done the live version map stuff yet

[2016-09-17 16:05] dadoonet commented on #20510
The mapper attachment plugin does not support "crawling" inside ZIP files.
[The doc](https://www.elastic.co/guide/en/elasticsearch/plugins/current/mapper-attachments.html) says:

BTW mapper attachments has been deprecated so we are not going to implement such a feature in it.
I don't believe we will do it in ingest-attachment. This is something you should deal with in your application layer.

Unzi

[2016-09-17 16:05] #20510 closed

[2016-09-18 08:08] helloworldtang opened #20536 "Cant't add to Idea"
E:\elasticsearch>gradle -v

------------------------------------------------------------
**Gradle 2.13**-rc-1
------------------------------------------------------------

Build time:   2016-04-06 11:02:11 UTC
Build number: none
Revision:     5d64a8733cfd1545eb11d817a25526cfd1e3bb09

Groovy:       2.4.4
Ant:          Apache Ant(TM) version 1.9.6 compiled on June 29 2015
JVM:          1.8.0_60 (Ora

[2016-09-18 09:31] sspilleman opened #20537 "Issues with APT repository?"
Are there issues with the APT repository?

See

 output below:
[code]

[2016-09-18 09:36] dadoonet commented on #20536
Rc1 is not the final release.
Works well on my side with 2.13

If you need more help please open a discussion on discuss.elastic.co

[2016-09-18 09:36] #20536 closed

[2016-09-18 09:38] markwalkom commented on #20537
We haven't built packages for 6.X yet sorry.

[2016-09-18 09:42] sspilleman commented on #20537
I think I looked yesterday and they were there I believe? Did some initial discovery on starting on trying to migrate to ES 5.x yesterday, today I wanted to take the plunge and it's not working anymore....

[2016-09-18 09:43] markwalkom commented on #20537
Are you after 5.0 or 6.0 though?

[2016-09-18 09:51] sspilleman commented on #20537
I get the issue now. The [download page](https://www.elastic.co/downloads/elasticsearch) gets you to a page if you click on the "Elasticsearch can also be installed from our RPM or Debian repositories." link. On [that](https://www.elastic.co/guide/en/elasticsearch/reference/master/deb.html) page it is described on how to add the repo.... and the code shows 6.x(!)..... typo on the webpage I think

[2016-09-18 09:53] markwalkom commented on #20537
We just changed master to 6.X which is why.

You should really be using current, but definitely not master :)

[2016-09-18 10:11] #20537 closed

[2016-09-18 18:24] bleskes commented on #19813
@s1monw ++ . I have updated the issue description.

[2016-09-18 20:04] ajayar commented on #17537
Apologies. Yes, you are right it was indeed pointing to 2.3.4. Had my scripts pointing to a wrong node. I don't see the issue happening on 2.4

[2016-09-19 01:45] obudiman opened #20539 "Elasticsearch license not recognized"
**Elasticsearch version**: 5.0.0-alpha5

**Plugins installed**: x-pack

**JVM version**: java-1.8.0-openjdk-1.8.0.101-3.b13.24.amzn1.x86_64

**OS version**: Linux 4.4.11-23.53.amzn1.x86_64

**Description of the problem including expected versus actual behavior**:
We've got a new license file to extend the current license, but it doesn't seem to be recognized by ES. We got an empty response when tr

[2016-09-19 01:46] eskibars opened #20540 "Painless script referencing "params" object causes StackOverflowError"
**Elasticsearch version**: 5.0.0-beta1

**JVM version**: Oracle 1.8.0_73 64-bit

**OS version**: Linux

**Description of the problem including expected versus actual behavior**:
A script that references `params` (not `params.foo`) causes StackOverflowError.  For example, `ctx.baz = params` (instead of `ctx.baz = params.foo`)

**Steps to reproduce**:

    POST _ingest/pipeline/_simulate
    {

[2016-09-19 03:26] Canon88 opened #20541 "elasticsearch Create a snapshot repository error."
When I use ` curl -XPUT 'http://192.168.184.33:9200/_snapshot/elkbak' -d '{"type": "fs","settings": {"location": "/data/elk_bak","compress": true}}'`.
Shows the following error:
`
{"error":{"root_cause":[{"type":"repository_verification_exception","reason":"[elkbak] [AvxdLuwDTGCif9MujDW8mw, 'RemoteTransportException[[logserver-es-02][192.168.184.34:9300][internal:admin/repository/verify]]; nested:

[2016-09-19 03:33] abeyad commented on #20541
If you can kindly post any questions on the [discussion](https://discuss.elastic.co) forum.  We reserve Github for issues and feature requests.

It looks like you don't have `/data/elk_bak` mounted on the `logserver-es-02` node (or otherwise, there some permissions issues with the directory).  You can ask on the discussion forum if you're still stuck.

[2016-09-19 03:33] #20541 closed

[2016-09-19 03:39] Canon88 commented on #20541
Thank you for your reply.
This is my configuration, I think I have configured.
**logserver-es-01**
[code]
**logserver-es-02**
[code]

[2016-09-19 03:47] abeyad commented on #20541
That's your Elasticsearch configuration, which looks fine.  The error message indicates that you do not have anything mounted on `/data/elk_bak` for the node to access.  It is a configuration issue on your machine.  If you do an `ls` on `/data/elk_bak`, do you get anything?

As mentioned, if you are still stuck after trying to get your mounts and permissions correct, please post your question on t

[2016-09-19 03:57] naisanza opened #20542 "5.0.0alpha5 - java.lang.IllegalArgumentException: unknown setting [node.rack]"
I read through the comments in the `elasticsearch.yml` configuration file and decided to try setting more than just the `cluster.name` and `network.host`

After setting the `node.rack` value, the log produced an error: "unknown setting [node.rack]"

**Elasticsearch version**: 5.0.0 alpha5

**Plugins installed**: [none]

**JVM version**: java version "1.8.0_101"
Java(TM) SE Runtime Environment (bui

[2016-09-19 04:59] dadoonet commented on #20542
Read This: https://www.elastic.co/guide/en/elasticsearch/reference/5.0/breaking_50_settings_changes.html#_node_attribute_settings

Please use discuss.elastic.co if you have other questions.

[2016-09-19 05:16] dadoonet commented on #20542
Reopening as the sample elasticsearch.yml file is incorrect.

[2016-09-19 06:05] marklombardi opened #20543 "Histogram Aggregation: With minimum doc count and extended bounds (Not filtering results)"
**Elasticsearch version**: 2.3.3

**Plugins installed**: [Sense, Kibana]

**JVM version**: build 25.101-b13

**OS version**: Windows 10

**Description of the problem including expected versus actual behavior**:
Running a Histogram Aggregation with minimum doc count and extended bounds and range filter does not filter the results as described in the [documentation](https://www.elastic.co/guide/en/e

[2016-09-19 07:16] bleskes commented on #20031
@aphyr thanks again for the clear description. Responding to the separate issues you mention:

1) Dirty reads - as discussed before this is possible with Elasticsearch. We are working on adding documentation to make it clear.
2) Replica/Primary divergence - the nature of primary back replication allows replicas to be out of sync with each other while operations are in flight (not committed). A Pri

[2016-09-19 07:17] obudiman opened #20544 "kibana/x-pack on tribe node issue"
**Elasticsearch version**: 5.0.0-alpha5

**Plugins installed**: x-pack@5.0.0-alpha5

**JVM version**: java-1.8.0-openjdk-1.8.0.101-3.b13.24.amzn1.x86_64

**OS version**: Linux 4.4.11-23.53.amzn1.x86_64

**Description of the problem including expected versus actual behavior**:
Kibana not usable when installed on tribe node with X-pack. We have followed the workaround as suggested on [github #3114](

[2016-09-19 07:32] #20162 closed

[2016-09-19 07:34] clintongormley commented on #15613
@jpountz makes sense to me.  OK, I'll remove that task and remove the blocker label.

[2016-09-19 07:41] tlrx commented on #20540
It doesn't look like a painless script issue but rather than an issue with my recent XContentBuilder changes in #20344. I'm looking at it.

[2016-09-19 07:51] s1monw commented on #17537
@brwe I think we can close this again! thanks for reporting back @ajayar

[2016-09-19 07:52] s1monw commented on #19813
thx @bleskes

[2016-09-19 08:26] lonre commented on #10043
+1

[2016-09-19 08:52] clintongormley commented on #20479
There is something else going on here.  I (like @mbarker ) didn't understand why this template succeeded:

    POST /_template/analyzer-cs
    {
      "template": "*-cs",
      "order": 30,
      "settings": {
        "analysis": {
          "analyzer": {
            "default": {
              "type": "czech",
              "filter": [ "max_length" ]
            }
          }
        }
      }

[2016-09-19 08:54] clintongormley commented on #20479
I like the idea of a skip evaluation flag.  Not sure the simulate bit is needed - easy to test by just creating an index.

[2016-09-19 09:12] dadoonet opened #20548 "Check available disk space before starting a build"
It would be super nice to check with gradle before starting tests (or on every run whatever the task is) that we have enough hard disk space (more than 10%).

Otherwise, you can have some tests failing.

For example, I was running `gradle check` for a PR not related to netty3 and it was always failing in netty3 module with:

[code]

When I looked at `modules/transport-netty3/build/cluster/integTes

[2016-09-19 09:27] bharvidixit opened #20549 "Issue with importing bulk data from text file in 5.0.0-aplha5"
**Elasticsearch version**: elasticsearch-5.0.0-alpha5

**Plugins installed**: []

**JVM version**: 1.8.0_72

**OS version**: Ubuntu 15

While importing the data from a text file (attached as natural.txt) using _bulk endpoint i am getting "curl: (52) Empty reply from server".  _Surprisingly if i i import only 5 documents (attached as data.txt), it works fine with 5.0.0-alpha5._
[data.txt](https://g

[2016-09-19 09:52] tlrx commented on #20540
Ok, this is an issue we had for some time and it's not related to the changes in #20344. I created #20550 to address this issue.

[2016-09-19 09:53] dadoonet commented on #20549
I think it's the same issue as reported with #19893 and fixed in beta1 with https://github.com/elastic/elasticsearch/pull/19904

Can you check that if you add `-H "Expect:"` it fixes your issue until beta1 is released?

[2016-09-19 09:58] #20065 closed

[2016-09-19 10:27] brwe commented on #17537
yes. @ajayar thanks again for the detailed report!

[2016-09-19 10:27] #17537 closed

[2016-09-19 10:36] jasontedor commented on #20549
Duplicates #19834

[2016-09-19 10:36] #20549 closed

[2016-09-19 10:38] bharvidixit commented on #20549
@dadoonet  Thanks. It worked with `-H "Expect:"` option.

[2016-09-19 10:42] MaineC commented on #20363
Overall I think this could be helpful information.

Not sure though if this might lead to people trying to use the API just for doing performance comparisons which I think would be better served by a separate API.

[2016-09-19 10:43] shahidash opened #20551 "Delete by Query"
Hi Folks

Using elasticsearch-2.2.0. I am using the following query

curl -XDELETE http://127.0.0.1:9200/index -d '{"query": {"bool": {"filter": [{"range": {"timestamp": {"gte": "2016-01-01", "lte": "now"}}}], "must": [{"term": {"org_id": 7}}, {"term": {"source": "abc"}}, {"term": {"e_id": "7_1"}}]}}, "size": 100, "from": 0, "_source": []}'

When i do GET method it only gets one record/document. W

[2016-09-19 11:05] MaineC commented on #19195
Keeping here for the record: After giving a talk on how to build personalisation features step by step starting with basic ES features last Thursday at BEDCon which included talks on how to evaluate search results there was quite some interest in this functionality from attendees. Was great being able to point them to the feature branch. Though unlikely it would be great to get some early feedback

[2016-09-19 11:05] cwurm opened #20552 "v5 ranking: Shorter text no longer better than longer one?"
**Elasticsearch version**:
5.0.0-alpha5

**Plugins installed**:
ingest-geoip
ingest-user-agent
x-pack

**JVM version**:
Hotspot 1.8.0_60

**OS version**:
OS X 10.11.6

**Description of the problem including expected versus actual behavior**:
In v5, the default ranking algo was changed to BM25. This should change things like an over-influence of common terms and that's good. But should it change ho

[2016-09-19 11:10] jprante commented on #18572
You can unload Groovy classes from a `GroovyClassLoader` by

[code]

[2016-09-19 11:29] jpountz commented on #20552
BM25 does indeed still favor shorter texts. The issue here is that you have two shards that have one document each, so the field statistics are not meaningful. You should try indexing more documents or using distributed statistics:

[code]

[code]

[2016-09-19 11:29] #20552 closed

[2016-09-19 11:32] jasontedor commented on #20548
I don't think we should add things like this to the build. The check wouldn't be reliable because it's subject to time-of-check-time-of-use problems, and 90% probably isn't even the right cutoff starting from a clean build (because artifacts and logs and bunch of other things will get created pushing the disk usage over 90% before the dependent tests here run).

The right thing to do when an integ

[2016-09-19 11:36] jasontedor commented on #20539
I suspect that you're running into #19834, you can workaround this by adding "-H Expect:" do the curl command line parameters.

[2016-09-19 11:36] #20539 closed

[2016-09-19 12:05] #20438 closed

[2016-09-19 12:10] jpountz commented on #20551
This is because elasticsearch interpretes the above request as an index deletion. To delete documents, you need to call the `_query` endpoint.

[code]

[2016-09-19 12:10] #20551 closed

[2016-09-19 12:31] #20542 closed

[2016-09-19 12:34] jpountz opened #20554 "Make `dfs_query_then_fetch` the default search type"
The fact that statistics are not distributed by default causes some confusion, see eg. #20552. Maybe we should make `dfs_query_then_fetch` the default search type and then still give users the ability to go back to `query_then_fetch` if they know they don't need a roundtrip for distributed statistics.

The impact should be negligible, see eg. this issue #7630 where `search_type=count` and `size=0`

[2016-09-19 12:48] #18837 closed

[2016-09-19 12:48] clintongormley commented on #20554
The count/size:0 round trip is quite different from a DFS round trip.  Imagine a query with thousands of terms that need to go out to 100 shards... that could be very heavy, no?

[2016-09-19 12:52] bleskes commented on #20554
To nuance the question a bit - these days we can detect in advance that `_score` is not needed (for example we sort by time) and keep on doing what we do today. So the question becomes whether we should default to always collect term stats if relevant and let people approve the current approximation of per-shard stats explicitly.

[2016-09-19 13:16] jpountz commented on #20554
I don't think this would be an issue in most cases, you would need many rare scoring terms with a query that would look something like this: `rare_term_1 OR ... OR rare_term_100`. (If the terms were frequent then the bottleneck would shift from looking up terms to reading postings lists so the DFS phase would not be an issue.)

The most costly bit of the DFS phase is the lookup of term statistics

[2016-09-19 13:22] clintongormley commented on #20540
@tlrx / @jdconrad is this related to https://github.com/elastic/elasticsearch/issues/19475?

[2016-09-19 13:31] tlrx commented on #20540
@clintongormley This is the same issue, yes. The `params` is modified so that it references itself at some point. It would be great if painless could detect this itself but I think it would be also "safer" to have #20550 in too.

[2016-09-19 13:34] clintongormley commented on #20544
Kibana-with-tribe-nodes is not supported because of exactly the reasons you describe.  Tribe nodes cannot be used to create indices.  It looks like the current Kibana workaround that you point to is insufficient for v5, maybe because of Kibana monitoring.

As a side note, it would be nice if the log message in ES would specify which index it was trying to create when it timed out.

@pickypg @epixa

[2016-09-19 13:44] clintongormley commented on #20543
@marklombardi please provide an actual recreation of the problem, and explain what the problem is.  I can't follow what you're saying in the discuss issue, and screenshots do not help at all.

From the little I can understand, it sounds like you are not writing the correct aggs, rather than there being a bug. So I suggest you continue this conversation in discuss, but provide the info I mention ab

[2016-09-19 13:44] #20543 closed

[2016-09-19 13:45] alexgarel commented on #11322
Hello I also think this should be supported. Query DSL remains a nice helper, and being able to use nested objects whit it would be great.

[2016-09-19 13:56] epixa commented on #20544
With the traditional workaround in place, I'd definitely be interested in figuring out why Kibana still thinks the Kibana index doesn't exist and needs to be created in v5.  I'll have to stand up a cluster at some point to look into that.  The ES index it is trying to create would be helpful, so +1 to that.

[2016-09-19 14:05] tuespetre commented on #11322
@alexgarel and all everyone:

I think it would be more beneficial to keep something this niche and complex out of the core elasticsearch, and offer your own query DSL 'layer' that can be translated into a 'proper' ES query on the backend. By brushing up on regular expressions (or even parsing!) a little bit you can put together some pretty cool UX affordances specific to your application.

[2016-09-19 14:12] rmm5t commented on #11322
So, is it niche and _complex_ or is it as simple as adding a few items to the elasticsearch grammar?

Personally, I agree that you can add a custom syntax on top (with regexes or otherwise), but I also would like this discussion to remain open, because I think having a conversation about making the query string syntax more robust isn't necessarily a bad thing. Having every elasticsearch applicatio

[2016-09-19 14:16] tlrx commented on #20540
As a side note, we could maybe wrap the Params/Context map used in scripts into our own map type that checks for self-references when adding objects.

[2016-09-19 14:20] alwag85 opened #20555 "Incorrect highlight when using span_or query in span_near query"
**Elasticsearch version**: 1.7.1-2.2.1

**Plugins installed**: []

**JVM version**: 1.8

**OS version**: Windows Server 2008 R2

**Description of the problem including expected versus actual behavior**: I have incorrect highlight when I use span_or query in span_near query.
For example:
I have the text: "Obama States President".
If I use simple query string: "`President NEAR/5 (\"United States\" |

[2016-09-19 14:21] alexgarel commented on #11322
Ok I understand, it's the way we have chosen but not fully implemented yet. If someone needs it, we have a (GPL)  [lucene query parser in python](https://github.com/jurismarches/luqum/)

[2016-09-19 14:37] tuespetre commented on #11322
@rmm5t I had submitted a PR (https://github.com/elastic/elasticsearch/issues/11339) but as @clintongormley points out it's just a fragile thing to have in the core application, and as I found out when working the PR initially, it can't really be done with a pleasant syntax -- it comes out feeling very verbose and awkward, especially being unable to hijack the parenthesis for it. With a small handf

[2016-09-19 14:48] clintongormley commented on #10632
@dakrone not so sure - should it be match all or should it match all docs that have a value for the specified fields?  See #13214 for a similar discussion

[2016-09-19 15:09] clintongormley commented on #20523
Hi @darky

The javascript plugin is deprecated in 5.0 - we won't be releasing any updates to it.

[2016-09-19 15:09] #20523 closed

[2016-09-19 15:10] dakrone commented on #8081
@clintongormley do you think this can be considered fixed by https://github.com/elastic/elasticsearch/pull/19394/ ?

[2016-09-19 15:14] debarshiraha commented on #19903
Thanks, trying similar code on master branch, looks like it can't find a master:

"timed out while waiting for initial discovery state - timeout: 30s"

[2016-09-19 16:03] dadoonet opened #20559 "Can't compile 5.x branch (Jackson 2.8.3 / 2.9.0-SNAPSHOT dep issue)"
I tried to clean my `~/.m2` and `~/.gradle/caches` dirs before creating this issue.

On a fresh `5.x` branch, when running `gradle install` it fails in `ingest-geoip` plugin with:

[code]

I tried then to run `gradle dependencies` in `plugins/ingest-geoip` dir and I'm getting:

[code]

Should I clean anything else? I don't understand why Gradle tries to resolve to Jackson 2.9.0 instead of using 2.

[2016-09-19 16:29] tlrx commented on #20559
What I have in my local gradle cache after running the command:

the `com.maxmind.db:maxmind-db:1.2.1` pom file references `<jackson-databind.version>[2.7.0,)</jackson-databind.version>` which is resolved to the "latest" available version of jackson-databind on Maven Central.

The latest version is `2.9.0-SNAPSHOT` which declares `jackson-core` version `2.8.3-SNAPSHOT` as a dependency. This one do

[2016-09-19 16:33] shaharmor opened #20561 "[docs] full list of all configuration settings"
**Describe the feature**: At the moment there is no single point of truth of all possible Elasticsearch settings.
By that i mean both settings that are configured in the `elasticsearch.yml` & ones that are configured on a specific index (For example in a template).

It would be extremely helpful to have a single page where you can just search for settings and read about them.

Thanks

[2016-09-19 16:34] dadoonet commented on #20559
Does it mean the latest released version? If so, it should not try to resolve to 2.9.0-SNAPSHOT but to 2.8.3.
I don't get it.

Are you able to reproduce the same issue as I'm getting?

[2016-09-19 16:40] dadoonet commented on #20559
Another strange thing is that my IDE seems to resolve everything correctly.

<img width="665" alt="finder finder aujourd hui at 18 39 06" src="https://cloud.githubusercontent.com/assets/274222/18640421/6165d74e-7e98-11e6-99e1-3ccffb74768f.png">

Might be a problem with the command line...

[2016-09-19 16:43] s1monw commented on #20561
in 5.x you can query cluster and index settings and include defaults this will give you all settings available and their current settings. does this help  with this? On the yaml file you can't set any index settings anymore so the clsuter endpoint returns all settings that are settable in the yaml and are updateable via clusterstate

[2016-09-19 16:47] dadoonet commented on #20559
Note that as we are not using transitive dependencies, it can happen that we forget to update our deps.

For example in our `build.gradle` we defined:

[code]

But [Geoip 2.7.0 is expecting a 2.7.3](https://repo1.maven.org/maven2/com/maxmind/geoip2/geoip2/2.7.0/geoip2-2.7.0.pom):

[code]

Not sure if this is the problem here but I'm going to try to update and see where it goes.

BTW, I saw that ge

[2016-09-19 16:52] dadoonet opened #20563 "Upgrade geoip2 to 2.8.0"
As seen in https://github.com/elastic/elasticsearch/issues/20559#issuecomment-248049166, version 2.8.0 has been released recently: http://maxmind.github.io/GeoIP2-java/

Change log says:

## 2.8.0 (2016-09-15)

* All changes included in 2.8.0-rc1.
* Updated documentation to clarify what the accuracy radius refers to.

## 2.8.0-rc1 (2016-06-20)

* IMPORTANT: Java 7 is now required. If you need Java

[2016-09-19 17:04] dadoonet commented on #20559
I think I'm starting to understand. We did not mark the OSS Sonatype SNAPSHOT repo as a "snapshot" repo:

[code]

So Gradle thinks it's a RELEASE repo and tries to download the latest artifact from here. And Jackson has bumped to 2.9.0-SNAPSHOT.

Going to try a fix...

[2016-09-19 17:09] clintongormley commented on #20264
Discussed with @jdconrad, @s1monw , @rjernst, and @nik9000 - current plan is to add a `debug` flag to whichever APIs make sense.  The script would be recompiled  on each execution, enabling asserts (and maybe logging), and not cached. The search API would `terminate_after` 1 document, to ensure that you don't end up with millions of executions.

[2016-09-19 17:11] shaharmor commented on #20561
It's better than nothing, but what I was talking about is a web page on elastic.co, because it's way more accessible than querying ES. (You might even not have access to query it).

I can say from my recent experience upgrading to ES 2.4, that I had to search heavily in Google to find docs about some settings (some i think that i didn't even find), and a page containing all of them could have been

[2016-09-19 17:20] javanna opened #20564 "Plugin#onModule methods are deprecated and final"
`Plugin#onModule` methods are deprecated as they have been replaced by specific plugin classes   that need to be extended depending on the type of plugin and the needed functionalities. In the past those `onModule` methods were called via reflection and received some specific guice module as an argument and allowed to do many things with it, probably too many.

Now that there is a replacement, it

[2016-09-19 17:23] jdconrad commented on #20540
I would like to note a few things here:

1. The StackOverflowError happens outside of the Painless sandbox since it's post-processing on the return value.  Otherwise, this wouldn't shut the node down.
2. I bet this error would occur in Groovy as well, though maybe some magic is happening there to remove things from params.
3.  I don't believe this behavior should be prevented in Painless.  The res

[2016-09-19 17:37] dadoonet commented on #20559
Marking a repository as a SNAPSHOT one is not something expected by Gradle team apparently. See https://discuss.gradle.org/t/maven-publish-specify-a-repo-as-being-a-snapshot-repo/374

But I ran a small test. I just commented the addition of the SNAPSHOT repo in `buildSrc/build.gradle` and `buildSrc/src/main/groovy/org/elasticsearch/gradle/BuildPlugin.groovy` and it now compiles really well.

Not s

[2016-09-19 18:11] rjernst commented on #20559
I think is rendered moot by #20403.

[2016-09-19 18:23] nik9000 commented on #20564
I like the way we have it because you get a compiler error in your plugin as soon as you try to compile it against 5.0. I imagine you'll get dozens, but at least this one points you right to trying to override a final method and when you look at the method it tells you what to do instead. I think *technically* this is the wrong way to use deprecated because, like you say, if you mark something as

[2016-09-19 18:27] s1monw commented on #20564
@javanna I think there is one little detail that isn't obvious. Today if you implement a `onModule(SomeModule foo)` you don't actually override anything. The super class doesn't implement those methods. Guice applies some magic to invoke these methods, if you have a typo in there nothing happens. Now we defined them as final to ensure users that implement them get a compilation error. I wonder if

[2016-09-19 18:28] nik9000 commented on #20561
If we can make the page in such a way that it can't go out of date I'd be happy to have it. Given that we can query elasticsearch for a list of settings now I think it'd be possible to rig up a build-time check that the page has all the settings.

If the page goes out of date constantly it'd make for a fairly sneaky trap, which is why we've never wanted to do it in the past.

[2016-09-19 18:31] nik9000 commented on #20564
That magic is all [home grown](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/plugins/PluginsService.java#L182-L214).

I think `@deprecated implement {@link ActionPlugin} instead` is pretty descriptive. I'd be happy to stick some more words in the class level Javadoc to make it more clear though.

[2016-09-19 18:32] javanna commented on #20564
yea the caused by using reflection are clear to me. If this was all done on purpose I am ok with it. It's just that finding the methods deprecated seems like a joke, cause they are effectively gone :) We could have been nicer and only deprecate those methods in 5.0 and remove them in 6.0, but I know we don't do this for plugins so anything would have upset plugin developers anyways and using depre

[2016-09-19 18:33] dadoonet commented on #20559
I don't see how #20403 would affect in a positive way the issue I described. I think I'm missing something.

[2016-09-19 18:33] s1monw commented on #20564
dude, I know :) we fork it so I am not blaming anybody upstream

++

yet I mean we should put some in-line comments why we make this final at all

[2016-09-19 18:33] javanna commented on #20564
++ if somebody doesn't know (like me today) they may think it's a bug or a silly mistake

[2016-09-19 18:38] nik9000 commented on #20564
Right. I've assigned this to myself and stuck this at the head of my fancy to-do queue (browser tabs).

[2016-09-19 18:43] rjernst commented on #20559
The issue you have has to do with publishing. With that PR, there is no more specifying snapshot repos or anything. We will only have "publishing" set up for local maven.

[2016-09-19 18:46] rjernst commented on #20559
I also think we should generally just remove the snapshot repo from BuildPlugin.groovy. We should only add it when necessary,a nd never build a release depending on it.

[2016-09-19 18:47] dadoonet commented on #20559
But in your PR you did not remove this:

[code]

Right?

So `com.maxmind.db:maxmind-db:1.2.1` will still try to get the newest version for `<jackson-databind.version>[2.7.0,)</jackson-databind.version>`. Which will be still the `2.9.0-SNAPSHOT`.

[2016-09-19 18:47] dadoonet commented on #20559
++

[2016-09-19 19:16] rmm5t commented on #11322
@tuespetre  Interesting point. That PR was tagged for discussion (which respectfully never really happened amongst the elasticsearch team, aside from @clintongormley willingness to comment and chime in). Then, it was closed, solely because you closed this particular issue after building a workaround -- not because a discussion really happened.

I agree with your first assessment that the double-qu

[2016-09-19 19:22] rmm5t commented on #16551
Chiming in here to reiterate my comment from https://github.com/elastic/elasticsearch/issues/11322#issuecomment-248093863

[2016-09-19 19:49] eskibars commented on #20540
I had tried this in Groovy, but Groovy seems to have a problem with referencing `params`.  (`MissingPropertyException[No such property: params for class: 5e1ba193b1e50053f248904381ab1066b6c881a4]`), so maybe the magic is that `params` just doesn't work on Groovy?  If Groovy is intended to work with `params`, then there may be another unrelated issue.  If not, then we have a docs bug and we should

[2016-09-19 19:59] s1monw opened #20569 "`_flush` fails the replica shards in the case of an uncaught exception"
Today we use TransportReplicationAction to flush a shard. Yet, this is problematic
since a shard might throw an exception that is just fine to catch and continue and should never
result in failing a shard. If a fatal exception happens that should fail the shard this happen on
the engine level. In contrast to write actions we should never fail a shards in such a situation.

This is a blocker for me

[2016-09-19 20:01] s1monw commented on #20569
apparently this is also in 2.x

[2016-09-19 20:23] bleskes commented on #20569
There is a couple of things at work here.

Most importantly, a flush request on a shard now may throw a `FlushNotAllowedEngineException` if the shard is already flushing. This will cause unneeded shard failing as the primary will fail the replica (as is the standard logic for TRA).

Second, the reason flush is a TRA is because we have seen it in the past as a "better refresh" when and move it to T

[2016-09-19 20:28] s1monw commented on #20569
I don't understand what guarantees you are talking about. The `_flush` doesn't have any visibility guarantees. It's only flush. We just don't need to fail the replica on flush? We can then just let exception reporting happen. I am also leaning towards always block but I think failing a replica on flush it the engines job and should not happen on such a high level

[2016-09-19 21:00] jdconrad commented on #20540
@eskibars That makes sense about Groovy since it unwraps everything and assumes all variable are valid at compile-time.  Have you tried adding something like ctx.value = ctx; in Groovy?  I'm wondering if that would cause the same problem.

[2016-09-19 21:11] eskibars commented on #20540
Indeed it does cause the same problem

[2016-09-19 21:14] jasontedor opened #20570 "Avoid unnecessary creation of prefix loggers in LoggerInfoStream"
Today when a caller requests a prefix logger, we create a new one for every invocation. This should not be a problem if the caller holds on to the logger as is usually the case. Not every caller does this (e.g., `LoggerInfoStream`) and this can be problematic in the case of heavy indexing with multiple threads as these creations end up contending over a synchronized block.

[2016-09-19 21:16] nik9000 commented on #20570
Can we make all the callers hold onto their prefix logger?

[2016-09-19 21:28] PhaedrusTheGreek opened #20572 "Improving docs on Phrase Suggester"
There appears to be a few unclear items in the [phrase suggester documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters-phrase.html):
1.   Direct Generator - By default, does an instance of DG run without configuration?  If so, what are the default parameters.  In particular, what is the default "field" parameter.
2.  How does the "field" parameter of the

[2016-09-19 21:31] nik9000 commented on #20572
I did *some* of this work in [master](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-suggesters-phrase.html) already. It contains a working example with shingles.

[2016-09-19 21:42] ebuildy commented on #18562
That means the release doesnot work without this fix ? (I had this "bug", @DreadPirateRob "fix" did the trick, thanks you).

[2016-09-19 21:44] jasontedor commented on #18562
The next pre-release of Elasticsearch will have the defaults configured such that the default configuration will no longer run into this issue.

[2016-09-19 22:10] #20375 closed

[2016-09-19 22:12] rjernst commented on #20559
Done in #20567

[2016-09-19 22:12] #20559 closed

[2016-09-19 23:20] nik9000 commented on #20572
I suppose I can take this if no one else wants it.

[2016-09-19 23:33] jdconrad commented on #20540
@eskibars I would think this makes it the responsibility of the caller to have a limit on the recursions rather than try to play whack-a-mole in the scripts.  :)

[2016-09-19 23:40] PhaedrusTheGreek commented on #20572
I know @areek has done a bit of work

[2016-09-20 00:22] #20570 closed

[2016-09-20 01:05] marklombardi commented on #20543
@clintongormley, sorry I thought the first screenshot was pretty self evident. The date range filters are specified as 2016-08-01 to 2017-08-02, however the buckets returned in the aggregation range from 2015-08-02 thru 2016-08-02 (extended-bounds +/- 1 yr).

The bug is the date range filter in the query or sub-aggregation does not filter the results (with extended bounds set to +/- 1 yr) as speci

[2016-09-20 01:54] softwaredoug commented on #19195
I have a question, in part because I'm trying to figure out how a product of mine ([Quepid](http://quepid.com)) would use this API (or be replaced by this API, which is also fine).

My understanding is the following
- This feature logs query keyword strings (whatever is plugged in from a search template)
- This feature logs basically per-doc judgements or quality metrics, probably based on analyti

[2016-09-20 02:41] yazaddaruvala commented on #12946
May I ask why this isn't getting prioritized?

Its really frustrating not knowing which exceptions can be caused, if they should be retried, or not. A list with explanations would be tremendously useful.

[2016-09-20 05:45] obudiman commented on #20544
Just an update,

Everything seems to work fine as long as we don't have the x-pack plugin installed with kibana.

We've also tried to disable the kibana monitoring by adding these lines on all es nodes:
[code]
but we still get the same error messages.

On a side note, isn't the index name it tried to create already listed on the ES log?

[code]

[2016-09-20 06:28] clintongormley commented on #20561
Duplicate of #11504

[2016-09-20 06:28] #20561 closed

[2016-09-20 06:32] clintongormley commented on #20519
All of the clauses you want to match in the same nested document must be in the same nested query (eg nested -> bool -> female+dementia)

Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2016-09-20 06:32] #20519 closed

[2016-09-20 06:36] clintongormley commented on #20513
Sounds good to me

[2016-09-20 07:36] s1monw commented on #20569
why is flush a superset of refresh? can you explain?

[2016-09-20 07:43] bleskes commented on #20569
That's a good question. If I remember correctly, the argument was that if you see flush as "take everything you have and make lucene segments out of it" it also implies making it visible for searchers.  If see it as just "persist data and trim translog" it doesn't have to imply refresh imo. I'm good with both.

[2016-09-20 07:48] s1monw commented on #20569
this is not true, you have to call `_refresh` to make it visible.

Refresh:
 * write all segments to disk
 * reopen the lucene index reader
 * swap the new reader in

Flush:
 * write all segments to disk
 * fsync them

but even if we'd be a super set I'd argue that if a refresh fails it's the engines job to decide if the exception was fatal (btw. any exception in InternalEngine#refresh()) is fatal

[2016-09-20 08:40] #20467 closed

[2016-09-20 08:46] clintongormley commented on #20543
@marklombardi as I asked above, please provide a curl recreation of the problem, including the docs you are indexing.  eg if you have multiple values in your date field and one falls within the range and the other outside the range then you'll get exactly what you're describing.

but continue this conversation in the forum, not here.  this doesn't sound like a bug to me.  if it does turn out to be

[2016-09-20 09:02] clintongormley commented on #20540
True - just tried the recreation in https://github.com/elastic/elasticsearch/issues/19475 in beta1 and the node exited.  Then applied #20550 and tried again, and node no longer exits!

It returns this instead:

    {
      "error": {
        "root_cause": [
          {
            "type": "remote_transport_exception",
            "reason": "[wynpvxc][127.0.0.1:9300][indices:data/write/update[s]]"

[2016-09-20 09:17] tlrx commented on #20540
The exception is all there is, we can change the message in #20550.

I'm afraid I've not been clear in my comment but the issue appears in XContentBuilder, not in Painless or Groovy. The scripts here are just different ways to build an object that self reference itself. And such objects will cause a recursive endless loop in XContentBuilder that terminates in a StackOverflowError if there's no mec

[2016-09-20 09:19] xushjie1987 opened #20578 "restart a node, then tomorrow, lots of shards lost"
#

**Elasticsearch version**:

**Plugins installed**: [2.1.1-2.4.0]

**JVM version**:1.8

**OS version**:centos7

**Description of the problem including expected versus actual behavior**:

{
    "error": {
        "root_cause": [
            {
                "type": "remote_transport_exception",
                "reason": "[node3][10.174.9.215:9300][cluster:admin/reroute]"
            }
        ],

[2016-09-20 09:21] clintongormley commented on #20540
Unfortunately, #20550 seems to have problems - it causes (at least) script errors to be swallowed.  Details here: https://github.com/elastic/elasticsearch/pull/20550#issuecomment-248249107

[2016-09-20 09:27] tlrx commented on #20540
@clintongormley Oh, good catch... I'll look at this soon. We can maybe "stop" the rendering of the problematic object and just return.

[2016-09-20 09:32] chindhuhari commented on #20510
Thank you !
When we don't pass the subset of PARSERS to the AutoDetectParser, it works fine for zip files as
well (in TikaImpl.java):
 _private static final AutoDetectParser PARSER_INSTANCE = new AutoDetectParser();_

Tried explicitly adding RecursiveParserWrapper in the list of PARSERS, that didn't work though.

[2016-09-20 09:48] clintongormley commented on #8081
@dakrone yes!  Closing

[2016-09-20 09:48] #8081 closed

[2016-09-20 10:51] WojciechLuczkow opened #20579 "Query_String query inclusive date range is not "inclusive""
**Elasticsearch version**: 2.4.0

**Plugins installed**: []

**JVM version**: Java HotSpot 64-bit Server VM (build 25.65-b01, mixed mode)

**OS version**:  Windows 7 SP 1

**Description of the problem including expected versus actual behavior**:

When searching date field using query_string query and providing timestamp like:

[2016-09-13 TO 2016-09-20] the entry with timestamp field being 2016-09

[2016-09-20 11:07] jpountz commented on #20579
I can reproduce on master with the following recreation

[code]

Only document 1 matches the query, not 2.

[2016-09-20 11:19] jpountz commented on #20579
However things still work if the rounding is explicit:

[code]

[2016-09-20 11:20] XGiton opened #20580 "dfs_query_then_fetch does work sometimes"
**Elasticsearch version**: Elasticsearch 5.0.0-alpha5

**Plugins installed**: [analyzer-ik]

**JVM version**: jdk1.8.0_101

**OS version**: Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:
`dfs_query_then_fetch` does not work sometimes. When specifying `search_type=dfs_query_then_fetch`, Scores returned should are based on total information of all shard . Act

[2016-09-20 11:45] shyam-aryan commented on #20019
Hi @areek @clintongormley We upgraded to ES v2.3.2 but still able to reproduce this issue. Can you please take a look?

[2016-09-20 11:45] jimferenczi commented on #20555
This is a limitation of the highlighter when it deals with SpanOr query or repeated terms in a span query. The problem here is that the highlighter does not try to extract the part of the span query that matches the text but rather checks which terms inside the span query could appear in the span. This leads to false positive like in the provided example. I think it's possible to fix but it would

[2016-09-20 12:14] jimferenczi commented on #20580
Thank you for the report @XGiton
The score of each hit is computed with the aggregated frequency but the explain output uses the local frequency. This has been fixed by https://github.com/elastic/elasticsearch/pull/19972

[2016-09-20 12:14] #20580 closed

[2016-09-20 12:51] jasontedor commented on #20548
I'm closing this, but feel free to reopen @dadoonet if you feel otherwise.

[2016-09-20 12:51] #20548 closed

[2016-09-20 13:13] vaughnd opened #20581 "minimum_should_match ignored for match boolean queries because Lucene setDisableCoord(true)"
**Elasticsearch version**: 2.4

**Description of the problem including expected versus actual behavior**:

We have a sourceUrl compound field with a custom analyzer for the sourceUrl.pathName component. The idea is that we can run a query to get all urls in a path, e.g. example.com/path/here brings back everything under example.com/path/here.*. The following code worked fine in ES 1.7, but in ES 2

[2016-09-20 13:18] dadoonet commented on #20548
I'm fine with this answer. Was just saying that "it's nice to have". I can totally live without that.

[2016-09-20 13:36] XGiton commented on #20580
Thank you @jimferenczi
These two contents shows in query result have same length, why they have different score?

[2016-09-20 13:47] epixa commented on #20544
@obudiman What happens if you try to disable reporting? `xpack.reporting.enabled: false`

[2016-09-20 13:52] epixa commented on #20544
The short of it is, Kibana creates more indices now than it used to, and it's not a once-off thing.  The new monitoring capabilities in Kibana creates new indices daily, and the reporting system creates a new index every week.  I'm not sure of any other situation off-hand where this occurs, but it's clear that the traditional workaround will not longer be sufficient.

[2016-09-20 13:54] gm42 commented on #10767
The discussion I opened would need to be updated now, as I dug deeper into it.

However I just noticed that document score is not accessible in the post_filter, as per #20131

This is a serious limitation now :cry: I will try to work it around with scripted fields

[2016-09-20 14:55] TheGreatYamcha opened #20584 "cannot change index.refresh_interval in elasticesarch.yml file."
**Elasticsearch version**: 2.4, 1.4.4

**Plugins installed**: [none]

**JVM version**: 1.8

**OS version**: Win 7 (64 bit)

**Description of the problem including expected versus actual behavior**:
I want to set the index.refresh_interval setting using puppet, so I need to do it in the elasticsearch.yml file. However, I noticed that elasticsearch doesn't respect this value, even though the docs sa

[2016-09-20 15:20] #20564 closed

[2016-09-20 15:23] MaineC commented on #19195
Hi Doug,

thanks for getting into this conversation. As this API really is in the early stages we are very much looking for input on how to improve it and make it work better with software like Quepid.

Logging is currently left to the user.

In it's current stage we assume that the user of this API provides human judgments. Reading through the Quepid tour I would imagine that this is equal to the

[2016-09-20 16:23] polyfractal opened #20586 ""Rare Terms" aggregation"
I'd like to propose a `rare_terms` aggregation that collects the set of terms which have `n` or fewer occurrences.  This is essentially the opposite of "top-n" queries.

The motivation is that today, the only way to _accurately_ collect the "lowest-n" is to execute a terms aggregation with `size: INT_MAX` so that all terms are collected, then filter client-side or with `bucket_selector`.  This is

[2016-09-20 16:40] clintongormley commented on #20584
You are correct, this doesn't work. I'm surprised nobody has reported this before.

That said, `index.*` settings can no longer be set in the config file from Elasticsearch 5.0 onwards, so you'd be better off adjusting to the new approach already.

You could put the refresh interval into a template which matches all indices.

Given that config file support for these settings have been removed, I'm

[2016-09-20 16:40] #20584 closed

[2016-09-20 16:43] andrewkroh opened #20587 "Update heap size documentation"
The [heap size documentation](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/heap-size.html) for 5.x should be updated to reflect that the min and max defaults are now the same at 2GB. (Changed here: https://github.com/elastic/elasticsearch/commit/743b2ed1b2c7166d30dd3dd1721120bd9738a172)

Also I think the jvm.options example [lines](https://github.com/elastic/elasticsearch/blame/5.0/

[2016-09-20 16:43] clintongormley commented on #20581
@jimferenczi could you take a look at this please?

[2016-09-20 16:52] #20587 closed

[2016-09-20 16:52] clintongormley commented on #20587
thanks @andrewkroh - fixed

[2016-09-20 17:02] clintongormley commented on #20555
thanks @jimferenczi. @alwag85 I'd consider opening an issue in Lucene, to see if anybody is interested in fixing it.

[2016-09-20 17:02] #20555 closed

[2016-09-20 17:05] TheGreatYamcha commented on #20584
Can you clarify what you mean by this?
Also, according to your [website](https://www.elastic.co/support/eol), 2.4 is supported till 2018-02-28, so shouldn't this bug be fixed?

[2016-09-20 17:09] polyfractal commented on #20178
Unfortunately, this isn't true.  Each shard constructs it's own set of global ordinals, so "foo" may be mapped to ID#1 on one shard, but ID#100 on another shard.  No easy fix here I'm afraid :(

Also, intersecting global ordinals would only work in the simple case where there isn't any filtering.  Once you start filtering, you can no longer run simple intersections, as multi-valued fields may shar

[2016-09-20 18:28] vb3 commented on #2869
I noticed that in ES1.7
`.scripts` index has the `0-all` setting automatically
My cluster is yellow because it is unable to expand replicas to nodes that are full in data capacity bounded by
[code]

is there a solution for this?

[2016-09-20 18:48] pfreixes commented on #20178
Let's for the moment leave aside the big issue with the global ordinals as structure only placed per shard.

About the example that you exposed, I thought that the cardinality of a field is the number of unique values of a set of documents filtered or not. If the document `{ "title": ["foo", "bar"] }` becomes part of the set of the documents that will be used as a source for the cardinality aggreg

[2016-09-20 20:58] nreese opened #20590 "Enhance histogram aggregation - specify number of buckets instead of interval"
The current implementation of the histogram aggregation requires an interval field to specify the histogram bucket size. Providing an appropriate interval requires additional knowledge about the data set, usually the min and max. This additional knowledge can be obtained from Elasticsearch but requires additional HTTP traffic and adds unnecessary complexity to client implementations.

I recommend

[2016-09-20 21:48] shsander commented on #9669
+1
I am trying to track down a bad search request. I have stopped all clients that I know are using ES. The only searches remaining in slowlog (with threshold set to 0s) are the ones that I am trying to tack down, but I have no idea who is making them. Client/Source IP would be very useful

[2016-09-21 00:29] Bargs commented on #20590
This would be a boon for Kibana because it would allow us to easily [auto scale the histogram visualization](https://github.com/elastic/kibana/pull/8139) and protect users from [accidentally creating too many buckets](https://github.com/elastic/kibana/issues/2908), crashing their browser in the process.

As @nreese mentioned we could accomplish this by issuing two requests from the client, the fir

[2016-09-21 00:34] suyograo opened #20593 "Add a note about the different deb repo source for installing pre-releases"
https://www.elastic.co/guide/en/elasticsearch/reference/5.0/deb.html doc page specifies how to install an ES deb by adding the repo to source list.

`echo "deb https://artifacts.elastic.co/packages/5.x/apt stable main" | sudo tee -a /etc/apt/sources.list.d/elastic-5.x.list`

This will not work for pre-releases as we use a different repo: `https://artifacts.elastic.co/packages/5.x-prerelease/apt`

[2016-09-21 00:50] obudiman commented on #20544
The option is not recognized in ES a5, but thanks for that and the info.

Just curious if there's any plan to get kibana to work with the tribe node, so that we can have one kibana which can do visualization across multiple ES clusters?

[2016-09-21 00:56] rjernst commented on #20593
I don't really know the best way to convey that prereleases have a different repo in the docs. Maybe @clintongormley has ideas.

[2016-09-21 01:16] jasontedor commented on #20584
You can use the [index templates API](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-templates.html) to define a template that matches all indices (`"*"`) that specifies an index setting for the desired refresh interval. When any index is created, it will match this template and will pick up the refresh interval.

This does not mean that we fix every bug. The 2.x series ha

[2016-09-21 03:41] johtani commented on #20479
Or elasticsearch can create template always and if a template has some errors elasticsearch only return warning message. what do you think? @clintongormley

[2016-09-21 03:54] SalahAdDin commented on #15919
I have the same problem with the official docker image:
[code]

[2016-09-21 07:30] jpountz commented on #20479
I'm wondering how hard it would be to figure the parent templates of a given template (because the wildcard is more general) and apply them as well at validation time.

[2016-09-21 08:37] BWdemo opened #20595 "Installation issue in windows 10"
I am trying to install elastic search 2.4.0 in windows 10. It showing the following error: Exception in thread "main" java.lang.NoSuchFieldError: LUCENE_5_4_1
        at org.elasticsearch.Version.<clinit>(Version.java:287)
        at org.elasticsearch.bootstrap.Bootstrap.<init>(Bootstrap.java:65)
        at org.elasticsearch.bootstrap.Bootstrap.init(Bootstrap.java:249)
        at org.elasticsearch

[2016-09-21 09:50] polyfractal commented on #20178
That is indeed the definition for the cardinality of the entire field, but you can use the cardinality agg in more scenarios:

Given these two documents:
[code]

[code]

That aggregation only runs on documents who have the tag `"foo"`, and finds the cardinality of the `status` field.  In this case, the cardinality of `status` is 1 ("red"), while the overall, non-filtered cardinality of `status` is

[2016-09-21 10:05] cbuescher commented on #20595
This looks like there is some issue with your setup. My first guess would be you are installing over an older version of ES and there are mixed versions of the lucene somehere in your lib folder or on the classpath. I'm closing this because Elastic reserves GitHub for bug reports and feature requests, but you can get help if you ask this kind of question in the [discussion forum](https://discuss.e

[2016-09-21 10:05] #20595 closed

[2016-09-21 10:14] JalehD opened #20599 "rpm package pre install script creates user elasticsearch with non existent home directory"
**Elasticsearch version**: 2.4 & 2.3

The script creates user `elasticsearch` with no home (`useradd -M ...`). That's fine, but it also miss `-d` option, so default `/home/elasticsearch` is used in `/etc/passwd`. It breaks f.e. cron tasks for this user:

`#tail /var/log/cron `
`Sep 19 19:00:01 ip-10-253-16-101 CROND[2806]: (CRON) ERROR chdir failed (/home/elasticsearch): No such file or directory

[2016-09-21 10:20] jasontedor commented on #20599
Duplicates #14453

[2016-09-21 10:20] #20599 closed

[2016-09-21 10:38] JakeFromTheDark commented on #14453
Just extend the `userad`d command by `-d /usr/share/elasticsearch`, please.

[2016-09-21 12:01] superwood opened #20602 "error with indexing json document"
When indexing  document  with  json format like

{
 "namespace": "nginx",
 "type": "record",
 "name": "dm_ad_quest",
 "fields": [
     {"name": "ip", "type": ["string","null"]},
     {"name": "snr", "type": ["string","null"]},
     {"name": "ot", "type": ["string","null"]},
     {"name": "nt", "type": ["string","null"]},
     {"name": "sn", "type": ["string","null"]},
     {"name": "ov", "type": [

[2016-09-21 12:20] #20569 closed

[2016-09-21 12:49] #20593 closed

[2016-09-21 12:56] clintongormley commented on #20593
I've changed the URLs in the 5.0 and master branches to use -prerelease, and opened blocker PRs to change them back before GA #20604 and #20605

[2016-09-21 13:14] clintongormley commented on #20602
Field `fields.type` is a string field in all entries except the last, where you try to make it an object:

    {"name": "prop", "type": {"type": "map", "values": "string"}}

[2016-09-21 13:14] #20602 closed

[2016-09-21 13:21] superwood commented on #20602
{"name": "prop", "type": {"type": "map", "values": "string"}}

The "type" which describe the "prop"  has different model.    Is there any way to index the json document？

[2016-09-21 13:21] mbarker commented on #20479
You could always make up name for the index to validate based on the template matching, ie replace `*` with `test` and resolve dependencies that way.

The only caveat would be users have to upload templates in dependency order.

[2016-09-21 13:24] clintongormley commented on #20602
no - it needs a different name

[2016-09-21 13:32] culiangfanzi opened #20606 "Highlighter - long /double field search highlights doesnt work"
part of index mapping:
 "request_time" : {
            "type" : "float",
            "index" : "analyzed",
            "doc_values" : true
          },
          "response_time" : {
            "type" : "float",
            "index" : "analyzed",
            "doc_values" : true
          }
the response_time filed worked, but highlighter did not work, can anyone solve this problem ??

[2016-09-21 13:35] clintongormley commented on #20606
Highlighters are for text, not numeric fields.  If you need to highlight numbers then you need to index them as strings

[2016-09-21 13:35] #20606 closed

[2016-09-21 13:39] clintongormley commented on #20178
Or the user puts the cardinality agg under a high cardinality terms agg

[2016-09-21 13:42] #20243 closed

[2016-09-21 13:42] clintongormley commented on #20590
Duplicate of https://github.com/elastic/elasticsearch/issues/9572

[2016-09-21 13:42] #20590 closed

[2016-09-21 13:49] culiangfanzi commented on #20606
excuse me.
could you kindly tell me why not for numeric fields?

[2016-09-21 13:51] clintongormley commented on #20606
highlighting requires term positions and offsets, which are only used for text.  numbers have a completely different index format which is optimised for numeric search

[2016-09-21 14:02] johtani commented on #20479
@jpountz @mbarker Ah, right. I try to fix it.

[2016-09-21 14:04] smileisak opened #20607 "Elasticsearch Cluster within Kubernetes Petsets"
**Elasticsearch version**: 2.4.0

**Plugins installed**: [kopf, head]

**JVM version**: OpenJDK 64-Bit Server VM (build 25.92-b14, mixed mode)

**Docker version**:  1.10.3, build 1f8f545

**OS version**:  4.7.0-coreos

**Description of the problem including expected versus actual behavior**:

Deploying elasticsearch cluster with 1 master node + 3 data nodes + 2 clients nodes within Kubernetes Pets

[2016-09-21 14:30] Bargs commented on #9572
Copying my comments from a duplicate issue:

This would be a boon for Kibana because it would allow us to easily [auto scale the histogram visualization](https://github.com/elastic/kibana/pull/8139) and protect users from [accidentally creating too many buckets](https://github.com/elastic/kibana/issues/2908), crashing their browser in the process.

We could accomplish this by issuing two requests

[2016-09-21 15:13] nik9000 commented on #18160
Removing the `v5.0.0` label because this isn't going to make 5.0.0. There are ~730 unconverted snippets.

[2016-09-21 15:22] apatrida commented on #18729
@s1monw First the concept (like this) needs to be accepted as an idea that we want to pursue.  After we can break it down and re-address it as elemental PR's/Issues.  But it has to be thought through as a whole to make something that actually works.  While @jpountz says the current system is simple, because it has some simple parts that you can use to make some simple things happen ... but it also

[2016-09-21 15:24] apatrida commented on #18723
@clintongormley #2869 still is marked "discuss" so this whole issue remains a problem.

[2016-09-21 15:37] apatrida commented on #18729
@jpountz not sure how simple is a combination of the current features:

- rack awareness, which causes replicas and masters to try to be on separate racks
- forced rack awareness, which works if you can define all of your racks ahead of time and ensures each rack has a copy
- replica count range such as `3-ALL` which has a permanent bug #2869 which interferes with the other two and doesn't always

[2016-09-21 15:49] pickypg opened #20615 "Template Validation can prevent chained Templates"
[code]

The first template, which can be thought of as the parent template, defines something that is used by the second template: a custom analyzer. The template validator appears to only consider the template as a standalone one, which means that the analyzer does not exist, thus returning:

[code]

The template validation should combine matching templates like normal index creation works, which

[2016-09-21 15:55] pickypg commented on #20615
Dupe of #20479

[2016-09-21 15:55] #20615 closed

[2016-09-21 17:36] oldenbur opened #20618 "action.auto_create_index: true and index.mapper.dynamic: false does not allow automatic index creation"
**Elasticsearch version**: 2.3.4

**Plugins installed**: []

**JVM version**:
openjdk version "1.8.0_77"
OpenJDK Runtime Environment (build 1.8.0_77-b03)
OpenJDK 64-Bit Server VM (build 25.77-b03, mixed mode)

**OS version**:
CentOS Linux release 7.2.1511 (Core)

**Description of the problem including expected versus actual behavior**:
When `action.auto_create_index: true` and `index.mapper.dynami

[2016-09-21 17:54] fesnault opened #20619 "parent/child relation not working correctly"
**Elasticsearch version**: 2.1.2

**Plugins installed**: [kopf]

**JVM version**: Oracle JDK 1.7

**OS version**: Ubuntu 14 & OS X 10.11.6

**Description of the problem including expected versus actual behavior**:

In an index with documents linked by a parent/child relationship, I have a strange behaviour while trying to get/filter documents on their parents or on their children.

My use case is

[2016-09-21 18:00] evanv commented on #20586
This is a really good idea

[2016-09-21 18:15] qwerty4030 commented on #20479
If templates are validated using their dependencies when creating or updating, then what will happen when a template's dependency is deleted or updated? For example template A depends on B:

1. template B created
2. template A created
3. template B deleted
4. ?

Heres another thought: what if a template is invalid by itself, but the index is created with explicit settings that the template depends

[2016-09-21 18:41] rjernst commented on #20618
Does your template have mappings for the index?

[2016-09-21 19:03] oldenbur commented on #20618
Here is an abridged version of the template.  I probably should have mentioned that we have disabled _source for this index, also.
[code]

[2016-09-21 19:19] rjernst commented on #20618
I don't think your template is correct. You have an extra object level there with "logs" that the contents of the template is under. This should be at the root.

[2016-09-21 19:19] howlowck commented on #7574
How are we doing on this feature?

[2016-09-21 19:20] rjernst commented on #20618
But also, what led you to believe that `index.mapper.dynamic` has anything to do with the index not existing? Is there another error somewhere?

[2016-09-21 19:29] oldenbur commented on #20618
Sorry, we strip the outer-most object level that you allude to before PUT-ing the template. (it is an artifact from ESv1.x when the config could include template files) The reason why we believe that `index.mapper.dynamic` is involved is that automatic index creation works when `action.auto_create_index: true` and `index.mapper.dynamic: true` (all other things equal).

The errors that I have alrea

[2016-09-21 19:47] oldenbur commented on #20618
When we attempt to index and the index ***does exist***, but the template ***does not exist***, we get this error in the REST index response:
[code]

[2016-09-21 19:48] #20459 closed

[2016-09-21 19:49] oldenbur commented on #20618
Our use case is time-series indexing.  We would like to automatically create a new index each day, but we want the automatic index creation to fail if the template is not present.

[2016-09-21 20:05] rjernst commented on #20618
It would seem then that your index does not have the mappings you think it does.  That error about type missing means a mapping for the `logs` type does not exist. (and you have dynamic mappings disabled). Try doing a `GET /logs-2016-09-20/_mapping/*` to see which types you actually have in that index.

[2016-09-21 20:48] oldenbur commented on #20618
I posted that most recent error to show what happens when we intentionally don't provide a template for an existing index.  In other words, it's expected and shows that `index.mapper.dynamic: false` is working when the index already exists.

Our problem is that an index is not automatically created when `action.auto_create_index: true` in this case.

[2016-09-21 20:54] abeyad commented on #20586
@polyfractal really neat idea.  I wonder if the bloom filter's accuracy will be highly sensitive to the data in question? (i.e. we may miss a lot of rare terms if the number of terms > max_doc_count is large enough that hash collisions in the bloom filter are pretty common). I'm not sure really, hence posing the question.

[2016-09-21 21:29] rjernst commented on #20618
Alright, I dug through the code a little, and it looks like this restriction was added in 2.3.0:  #15381

I'm not sure the check that was added is right, given this use case (index creation, but with a template containing explicit mappings) is valid IMO. I also think the original issue may not be something to worry about in 5.0 given index level settings in node config is no longer allowed.

/cc @

[2016-09-21 22:05] geekpete commented on #18160
If we went totally crazy on it, do you rekon we could smash through those snippets?

[2016-09-21 22:17] nik9000 commented on #18160
I'm not sure really. I know a pile of the snippets come from aggregations and for those it really helps to have the right set of data. I did a bunch of the pipeline aggregations ones and made a little data set in `docs/build.gradle` that matched well and everything worked out well.

I reckon we could split them up and say like "you do the `_cat` snippets, you do the aggregation snippets, you do th

[2016-09-21 22:57] nik9000 opened #20624 "Implement an "automatic" way to parallelize reindex and friends using sliced scroll"
Since reindex and friends work well with sliced scroll we can implement a way to parallelize reindex using sliced scroll that looks like this:

[code]

The new bit of the above is `workers=5`.

I prototyped this locally this afternoon and saw this kind of performance when reindexing a million small documents on a fairly beefy desktop:

[code]

Using 5 workers nets me a 62% improvement which feels

[2016-09-21 23:13] jpountz commented on #20586
I was surprised this feature was more used than I expected so +1 to explore how we can improve it.

The initial sizing of the bloom filter might be tricky. For string fields we can use the cardinality of the field in the whole index as a basis, but for numerics we do not have such information.

I think we'd need both a size parameter in addition to the max_doc_count option in order to keep the siz

[2016-09-21 23:41] polyfractal commented on #20586
@abeyad Agreed that initial sizing could be tricky.  Bloom filter are notorious for "saturating" if they are undersized, so that's a valid concern.

I was imagining that bloom sizing would be configurable (ala `precision_threshold` for cardinality), so the user could adjust to their liking.  E.g. try several settings to see what made the most sense regarding their hardware / accuracy requirements.

[2016-09-21 23:55] russcam opened #20625 "ReIndexRethrottle requests_per_second cannot be 0"
**Elasticsearch version**: 2.4.0

Related to:

https://github.com/elastic/elasticsearch/pull/18791
https://github.com/elastic/elasticsearch/pull/19101

Reindex rethrottle has been backported to Elasticsearch 2.4.0. [Per the rest api spec description](https://github.com/elastic/elasticsearch/blob/v2.4.0/rest-api-spec/src/main/resources/rest-api-spec/api/reindex_rethrottle.json), `requests_per_secon

[2016-09-22 00:04] nik9000 commented on #20625
Is https://github.com/elastic/elasticsearch/pull/19101 good enough?

[2016-09-22 00:05] nik9000 commented on #20625
That is what 5.0 does, I blieve.

[2016-09-22 00:36] russcam commented on #20625
#19101 backported to 2.x would be good; it would align with 5.0

[2016-09-22 01:41] russcam commented on #20625
Thinking about it further, could we support both `"unlimited"` and `-1`? Continuing to support `"unlimited"` as input would be for backwards compatibility; The .NET client exposes `requests_per_second` as a property, `RequestsPerSecond` of type `float` and _"shepherds"_ `float.PositiveInfinity` into sending `"unlimited"` in the request and likewise, converting `"unlimited"` in the response back in

[2016-09-22 04:19] nik9000 commented on #20625
I'm not sure that supporting `-1` in 2.x is really all that useful because I don't expect us to have a 2.5.0 at all. Without something like that I'm not sure how many users we can really expect to have a version of Elasticsearch that supports `-1`.

[2016-09-22 04:31] russcam commented on #20625
In that case, I can see a couple of ways forward

1. remove `0` as an option for no throttle in the documentation
2. allow `0` as an option for no throttle in the implementation

Happy to submit a PR for either 😄

[2016-09-22 04:33] nik9000 commented on #20625
Zap it from the docs! If you are willing to open a pr I'll certainly review
it.

On Sep 22, 2016 12:31 AM, "Russ Cam" <notifications@github.com> wrote:

In that case, I can see a couple of ways forward

   1. remove 0 as an option for no throttle in the documentation
   2. allow 0 as an option for no throttle in the implementation

Happy to submit a PR for either 😄

—
You are receiving this becaus

[2016-09-22 05:27] pfreixes commented on #20178
@polyfractal there is no misunderstanding with your explanation, maybe I've explained wrong. The aggregation as I tried to say is performed against the number of the documents belonging to the set documents gathered in an aggregation level. With all of the filters applied until there. Placed as a leaf usually. The implementation of the cardinality algorithm is not important.

Getting back to the a

[2016-09-22 08:33] johtani commented on #20479
@qwerty4030 Thanks for your comment!

In your 1st case, I think it is OK that elasticsearch does not validate at template deletion time.
We get the error only when user creates index using template B.

In your 3rd case, we can validate overriding only the parent templates.

I' not sure your 2nd case. Could you explain any examples?

[2016-09-22 08:35] kousiknandy commented on #18807
FWIW, I had the same problem, and had to drop [groovy-json-2.4.6.jar](http://central.maven.org/maven2/org/codehaus/groovy/groovy-json/2.4.6/groovy-json-2.4.6.jar) in the ${ELASTICSEARCH_HOME}/modules/lang-groovy/ directory for it to work.

[2016-09-22 08:40] jpountz commented on #20586
We can have the min/max values if the fields are indexed too. It might lead to significantly oversizing the bloom filter though since not all values in the range might be used. If we decide to make it a different aggregation, we could just decide that it only works on keyword fields (similarly to the fact that the stats agg only works on numeric fields).

Agreed. The benefit I was seeing is that i

[2016-09-22 08:58] russcam commented on #20625
Thanks @nik9000, done! #20628

[2016-09-22 09:14] polyfractal commented on #20586
Ah I see.  Makes sense on both points :)

[2016-09-22 09:39] jimferenczi commented on #20581
@vaughnd you need to define a query analyzer for your `sourceUrl.pathName`. The `path_hierarchy` tokenizer should be used at indexing time but at query time you need to define another analyzer that would use your char filters and a *keyword* tokenizer:

[code]

The `keyword` tokenizer is mandatory since you want to match only one term, for instance the query: "http://www.animalfactguide.com/catego

[2016-09-22 09:39] #20581 closed

[2016-09-22 09:46] polyfractal commented on #20178
What you're describing is basically how the cardinality agg already works for fields that have ordinals:  https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/search/aggregations/metrics/cardinality/CardinalityAggregator.java#L96-L101

E.g. If a field has ordinals, and the size of those ordinals won't be drastically larger than the HLL sketch, collect the ordin

[2016-09-22 09:51] vaughnd commented on #20581
Ahh, thanks Jim!

[2016-09-22 09:52] cbuescher opened #20629 "Investigate reusability of testing code for equals() / hashCode()"
For the query refactoring we started testing equals()/hashCode() contracts for the query builders in a central abstract [base test](https://github.com/elastic/elasticsearch/blob/master/test/framework/src/main/java/org/elasticsearch/test/AbstractQueryTestCase.java#L725), assuming the test can use some helper methods to e.g. make deep copies of objects via serialization. We have similar tests e.g. i

[2016-09-22 10:02] jimferenczi commented on #20580
@XGiton I am not able to reproduce your problem. I have the same score for hits that have the same content on different shards when using the dfs_query_then_fetch. Could you please share a recreation that reproduces the problem ?

[2016-09-22 10:04] nik9000 commented on #20629
On problem with just using equals is that it can be difficult to find the
difference. I'm not really sure what to do about that though, but I figure
this is a place to bring it up.

On Sep 22, 2016 5:52 AM, "Christoph Büscher" <notifications@github.com>
wrote:

[2016-09-22 10:12] crutch commented on #20618
We are also facing exactly the same issues. We have `auto_create_index:true`, `index.mapper.dynamic: false` and a correct template (an index gets correct mapping from template when created manually via PUT).

After upgrading from 2.1.0 to 2.4.0 we are getting `IndexNotFoundException` all the time, unless we manually create an index.

[2016-09-22 11:01] martijnvg commented on #20619
@fesnault I'm unsure what is going wrong here. Is it possible to provide a more isolated reproduction of the issue? (with the mappings, index requests for both parent and childs and the searches). It is important to know if for example the parent ids are set correctly on the index requests.

[2016-09-22 11:39] tomas-mazak opened #20631 "Node cannot recover from restart: Failed to deserialize response of type [org.elasticsearch.xpack.action.XPackUsageResponse]"
**Elasticsearch version**: 5.0.0-alpha5

**Plugins installed**: [x-pack 5.0.0-alpha5]

**JVM version**: openjdk-8-jre:amd64                 8u102-b14.1-1~bpo8+1

**OS version**: Debian Jessie amd64

**Description of the problem including expected versus actual behavior**:
After restarting, the node ends up continually leaving and joining the cluster, not able to start working properly (see the log

[2016-09-22 12:25] tlrx commented on #19475
@clintongormley In your second example from https://github.com/elastic/elasticsearch/issues/19475#issuecomment-233326494, the `params` should be included in the `script` object, not at the same level.

[2016-09-22 13:10] GaneshbabuRamamoorthy opened #20633 "Azure repository creation Issue in Elasticsearch 2.4.0"
Hi All,

I want to take snapshot and restore using azure repository in Linux, I have configured these below setting in yml,

[code]

with the above setting, service is started, but i am m getting below error when creating repository in Elasticsearch 2.4.0,

    PUT snapshot/mybackup
    {
    "type": "azure"
    }

Error msg:-

[code]

When I looked into the ES logs I could see cloud storage accou

[2016-09-22 13:25] tlrx commented on #20633
@GaneshbabuRamamoorthy I edited your message to remove sensitive information. I advise you to change your credentials as soon as possible.

[2016-09-22 13:49] javanna commented on #20631
Hi @tomas-mazak what version are the other nodes in the cluster?

[2016-09-22 13:53] javanna commented on #20629
++ on this I wondered the same as well looking at the repetition. Most of it can be eliminated I think.

difference. I'm not really sure what to do about that though, but I figure
this is a place to bring it up.

Very true, the tests that we have now around equals and hashcode are not perfect. Testing that something is not equal to something else requires writing code to change some original insta

[2016-09-22 14:08] tomas-mazak commented on #20631
3 nodes, 2 of which are data and master-eligible, 1 is only master-eligible (tie-breaker):
 ~# curl localhost:9200/_cat/nodes
10.32.56.23 22 100 7 1.91 2.03 2.10 mdi * epyk-node2
10.32.56.24 33 100 4 1.60 1.63 1.69 mdi - epyk-node1
10.32.56.22 17  93 0 0.00 0.01 0.05 mi  - epyk-arbiter

All three are running the same version of ES on the same version of java with the same version of x-pack:
epyk-n

[2016-09-22 14:19] javanna commented on #20631
Thanks for the info @tomas-mazak . this seems to be a serialization bug that will be fixed with xpack 5.0.0-beta1, which is going to be released soon. The bug is in the xpack usage api. I am not sure though if that is the cause of recovery going wrong. Are you firing `_xpack/usage` requests by any chance?

[2016-09-22 14:25] dadoonet commented on #20633
You are missing one level in your settings.

    cloud:
      azure:
        storage:
            my_account:
                account: your_azure_storage_account
                key: your_azure_storage_key

See https://www.elastic.co/guide/en/elasticsearch/plugins/current/cloud-azure-repository.html

[2016-09-22 14:41] tomas-mazak commented on #20631
Thanks for quick reply @javanna . I am not hitting the _xpack/usage intentionally, however, I am running kibana with x-pack installed and use the monitoring quite a lot. Anyway, during the erroneous state described, I tried to shutoff kibana service completely and it did not help.

[2016-09-22 14:47] javanna commented on #20631
I verified that it's the monitoring plugin calling _xpack/usage as part of the info that it collects. That explains who causes the serialization error, but not what is causing the recovery problems. That seems to be another problem.

[2016-09-22 14:49] tlrx commented on #20631
To get rid of the serialization error and as a workaround the fix is available, you can set `xpack.monitoring.enabled: false` in your configuration to disable monitoring.

[2016-09-22 15:00] tomas-mazak commented on #20631
@tlrx , thanks for a hint! I will try that as soon as my cluster is green again. I would also like to point out that deleting the whole local data did help to workaround this problem. But returning the old data-dir brought it back so it looks like the bug is connected with the data in the data dir.

[2016-09-22 15:31] evanv commented on #12187
Being able to list running queries would be helpful; being able to kill bad ones if needed would be really helpful.

The key thing that stands out to me about this statement is that it has to do with logging queries at the cluster level. The slow query log doesn't do this. Without a view of queries being sent to the cluster, it's impossible to do any kind of reasoning about where you can get the m

[2016-09-22 15:56] l8liu commented on #9876
I agree a "Moving Standard Deviation" pipeline aggregation would be useful. I want to do the statistical control for a time series count data. I can get the moving average of the daily count, but in order to compute the control limit I need a moving standard deviation of the count.

[2016-09-22 16:53] GaneshbabuRamamoorthy commented on #20633
@tlrx Thanks sure will changes the credentials.

@dadoonet
As per your recommendation I changed the yml file in all the nodes and then restarted each nodes when I checked in the logs again I could see the same error,

[ERROR][cloud.azure.storage] [localhost_RD_NDX_DATA] can not create azure storage client: Primary and secondary location URIs in a StorageUri must point to the same resource.

Please

[2016-09-22 18:17] OsamHdz commented on #6942
I had the same problem that @kdelchev, but the sudo command didn't work. Adding ' single quotes at "$JAVA_HOME" in eval line worked for me.

[code]

Here is the info:
http://unix.stackexchange.com/questions/131766/why-does-my-shell-script-choke-on-whitespace-or-other-special-characters

[2016-09-22 19:50] aphyr commented on #20031
Hi @bleskes. I'd be delighted to work on verification. I've got an ongoing contract that's keeping me pretty busy right now, but if you'd like to send me an email (aphyr@jepsen.io) I'll reach out when I've got availability for more testing.

[2016-09-22 19:52] jpountz commented on #20624
Do you think it is noise or due to the fact the source index has 5 shards?

[2016-09-22 20:04] nik9000 commented on #20624
I think it is because the source has five shards, yeah. I think the bottleneck for *this* reindex job is reading rather than writing. If it were otherwise then we'd see something more linear. I suspect that reading being the bottleneck is only true if the analysis is simple and we don't use doc values and things. My documents for this test were just `{"test": "test"}`.

[2016-09-22 20:38] qwerty4030 commented on #20479
Just tried this in 2.3.2:
1. create template that is invalid by itself (references `custom_analyzer` that is not defined).
2. attempt to create index that matches this template (fails with `mapper_parsing_exception` as expected).
3. attempt to create index that matches this template **and** specifies the `custom_analyzer` in the `settings` (this works as expected).

To reproduce:
[code]

[2016-09-22 21:31] jordansirwin commented on #20544
This is a major concerns for us, as a customer. We have many clusters unified by tribe nodes, and Kibana provides a single pane of glass into that data. No longer being able to do that will completely block us from upgrading.

Why not provide separate configuration options for where Kibana should store its data vs. where it should be searching?

[2016-09-22 21:38] tartale commented on #20618
The difficulty with this bug in 2.x is that, due to the switchover from automatic template reading (from the file system) to requiring an API call to update templates, this use case becomes really important.  If somehow, a template gets removed via an API call, programs that index data would need to know.

Setting `auto_create_index:true` and `index.mapper.dynamic:false` would be an easy way to en

[2016-09-23 01:10] malpani opened #20635 "Add support for role assumption in s3 repository"
S3 repository currently relies on either the IAM instance profile credentials or explicitly passed in access/secret credentials at time of repository creation.

I was thinking of working on a feature that allows the S3 repository module to take in an optional parameter `role_name` which is an IAM role name. If role_name is passed in, the plugin will use STS assume role to assume the passed role-na

[2016-09-23 03:30] dadoonet commented on #20635
It makes sense to me. Do you want to come with a PR on master branch ?

[2016-09-23 03:35] leaxoy opened #20636 "ES_HEAP_SIZE takes no effect!!!!"
I had set `ES_HEAP_SIZE` in `/usr/share/elasticsearch/bin/elasticsearch.in.sh`, `/etc/sysconfig/elasticserch` to 8g. And set `LimitMEMLOCK=infinity` in `/usr/lib/systemd/system/elasticsearch.service`. And `MAX_LOCKED_MEMORY=unlimited` in `/etc/sysconfig/elasticsearch`.
At first, it's seems no problem.  But about a day later, when i use top, i find elasticsearch use 12g memory. Then it will killed

[2016-09-23 03:36] leaxoy commented on #20636
Yeah.
Elasticserch version: 2.3.5
System: CentOS 7
Plugin: marvel, license, analysis-ik, analysis-pinyin.

[2016-09-23 03:38] leaxoy commented on #20636
When is use `ps aux|grep elastic`.
It shows belows:
`/bin/java -Xms8g -Xmx8g -Djava.awt.headless=true -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -XX:CMSInitiatingOccupancyFraction=75 -XX:+UseCMSInitiatingOccupancyOnly -XX:+HeapDumpOnOutOfMemoryError -XX:+DisableExplicitGC -Dfile.encoding=UTF-8 -Djna.nosys=true -Des.path.home=/usr/share/elasticsearch -cp /usr/share/elasticsearch/lib/elasticsearch-2.3

[2016-09-23 06:00] malpani commented on #20635
Yes, I will work on a PR for this.

[2016-09-23 06:53] #19828 closed

[2016-09-23 09:08] s1monw commented on #20636
`/bin/java -Xms8g -Xmx8g` your process is configured to use 8GB heap space. it might take way more memory via memory mapping files etc. so that's expected. Yet, this is all left to the OS to use the Virtual Memory so not much we can do.

[2016-09-23 09:08] #20636 closed

[2016-09-23 09:09] s1monw commented on #20563
nothing to discuss - lets upgrade

[2016-09-23 09:18] jpountz commented on #20554
Discussed in FixitFriday: let's do more benchmarking, especially with terms-dictionary intensive queries before making a decision.

[2016-09-23 09:31] s1monw commented on #20544
@epixa we discussed this during our weekly fix-it meeting and we agreed that this is a kibana issue rather than an issue in tribe after all? Kibana should somehow have the ability to connect to 2 clusters one for writing one for reading? I really don't think we should relax the limitation of tribe to be read-only. Is this something we can make configurable in kibana to have separate connections an

[2016-09-23 09:33] pfreixes commented on #20178
@polyfractal  Amazing I haven't seen it, does it mean that If I would convert the integer field as a string and configuring it as an ordinal ... will I have a deterministic behaviour ? Which should be the maximum  cardinality of the ordinals to assert the previous sentence ?

As I can see the `precission_threshold` is still related to, then the value of the maximum cardinality relates also to the

[2016-09-23 09:43] jpountz commented on #20414
Integrating these features would not be easy unfortunately. Moreover, query rewriting currently has the ability to merge some queries together or to remove them if they prove useless so that would make it impossible to put the name of the queries in the explanation.

Closing it as a won't fix.

[2016-09-23 09:43] #20414 closed

[2016-09-23 09:55] jpountz commented on #20370
Discussed in FixitFriday: we'd be happy to support simple multi-value modes like min/max that can be integrated both easily and efficiently (at the ordinals level). More complex use-cases need to use a scripted terms aggregation.

[2016-09-23 10:01] s1monw commented on #20498
@mikemccand I had a conversation with @GlenRSmith but we didn't really find anything in particular. What wasn't clear to me here was that in that cluster that it happened it was only a single node that behaved odd. That node hat the refresh interval set to -1 in the `elasticsearch.yaml` all other had it set to `30s` or so. So I think it has something todo with this. One idea that came up was that

[2016-09-23 10:14] polyfractal commented on #20370
Eh, I vote close then.  Min/max is a trivial script, and I don't think it justifies making the terms agg even more complex for something simple like that.  IMO :)

[2016-09-23 10:55] GlenRSmith commented on #20498
@s1monw @clintongormley @mikemccand from Simon's mention of version maps, I took a look and found that the node in question had a 268 MB version map. Other data-only nodes had version maps ranging from 5.5 - 8.6 MB.

[2016-09-23 12:06] clintongormley opened #20640 "Replace `action.auto_create_index` with a template setting"
In https://github.com/elastic/elasticsearch/issues/9359 we discussed the possibility of extending the `action.auto_create_index` setting to automatically recognise index names which match templates, and to allow those to be auto-created without having to maintain both the template and the setting.

In FixitFriday we came up with a better solution:
- Remove the `action.auto_create_index` setting
-

[2016-09-23 12:06] clintongormley commented on #9359
Closing in favour of https://github.com/elastic/elasticsearch/issues/20640

[2016-09-23 12:06] #9359 closed

[2016-09-23 12:27] LeonardGC opened #20641 "Duplicate items in the dynamic_templates should give an error on mapping"
**Elasticsearch version**: 5.0.0 beta1

**Plugins installed**: []

**JVM version**:Version 8 Update 101

**Steps to reproduce**:
 1. Definition of a mapping where I define 2 "testString" blocks.
[code]

 2. First case
Add the following records (in bulk):
[code]

Get the mapping now (I removed the "_default_" part, because that stays the same):
[code]
 3. Second case
Add the following records (in b

[2016-09-23 12:33] clintongormley commented on #20618
This is a known issue but we have decided not to fix it because (a) `index.*` settings may no longer be set in the config file in 5.0 and (b) there is a different solution.

Instead of setting `index.mapper.dynamic: false` in the config file, set it in the template instead.  This will prevent adding new types that are not defined in the template.  If you want it to apply to all indices by default,

[2016-09-23 12:33] #20618 closed

[2016-09-23 13:02] clintongormley commented on #20641
Hi @LeonardGC

I've tried your recreation several times, and I always get the same mappings:

    DELETE t

    PUT t
    {
      "settings": {
        "analysis": {
          "analyzer": {
            "default": {
              "type": "custom",
              "tokenizer": "standard",
              "filter": [
                "standard",
                "lowercase",
                "asciifolding"

[2016-09-23 13:14] clintongormley commented on #20370
We actually discussed making multi-value mode available consistently across all appropriate aggs.  Our implementation would be more efficient than a script and would probably be widely used.

[2016-09-23 13:33] LeonardGC commented on #20641
Hi @clintongormley

You are right, I can't duplicate it with my example, BUT, I can replicate it with some small change.
Just rename the "testString" to "strings":

[code]

Is this a reserved name?

[2016-09-23 13:38] clintongormley commented on #20631
@tomas-mazak could you try your old data dir with beta1 to see what happens?  Maybe there is another exception unrelated to the bad serialization.

[2016-09-23 13:56] jpountz commented on #20413
Correct.

[2016-09-23 14:04] tomas-mazak commented on #20631
@clintongormley thanks for the pioneer label :) I will install beta1 in the beginning of the next week and try with the "corrupted" data dir

[2016-09-23 14:15] clintongormley commented on #18729
Sorry @apatrida - I read this through again and it just made my head hurt.  While reading your examples I couldn't translate them into what the cluster would actually look like. It feels like reading Sendmail config.  Clearly our existing settings are not perfect, but they are at least fairly easy to understand.  I'd prefer working on incremental improvements to what we have instead.

[2016-09-23 14:19] clintongormley commented on #20607
@smileisak the bug you linked to is fixed in 2.4.1, but you're on 2.4.0.  2.4.1 will be out soon.  When it is, would you upgrade and reopen this issue if it is still a problem?

Closing as duplicate of #19554

[2016-09-23 14:19] #20607 closed

[2016-09-23 14:21] jpountz commented on #20131
Agreed it'd be nice for scores to be available to post filters but there is no way that I can think of that we can propagate the information today.

[2016-09-23 14:54] clintongormley commented on #20641
I get exactly the same thing as before.  At first I thought it might be the comments but I tried with the comments and it all still works.

[2016-09-23 14:55] clintongormley commented on #20641
Can you paste EXACTLY the steps you are taking to demonstrate the problem?

[2016-09-23 15:01] fesnault commented on #20619
Hi @martijnvg and thanks for replying.

It's actually difficult to create a reproductible environment.
I tried creating the same situation, with similar mappings and documents, but the query works correctly in the testing index.
I also tried to create another index and inject the same mappings as in the real one. I then injected three document, one parent and two children, taken directly from prod

[2016-09-23 15:09] clintongormley commented on #12187
This feature is being implemented as part of the task management API here https://github.com/elastic/elasticsearch/pull/20405

Agreed - this will be tackled separately.

Closing in favour of #20405

[2016-09-23 15:09] #12187 closed

[2016-09-23 15:16] clintongormley commented on #20619
You have grandparents?  In which case, i think you indexed the grandchildren with `?parent={parentid}` but without `&routing={grandparentid}`.  The parent goes to the same shard as the grandparent, so the grandchildren need to know what shard that is, and can't deduce it just from the parent's ID

[2016-09-23 15:16] #20619 closed

[2016-09-23 15:17] clintongormley commented on #19475
Doh - thanks

[2016-09-23 15:38] fesnault commented on #20619
Hi @clintongormley ,
Great, I modified my indexing code to add the grandparent id to the grandchildren indexing, and it works perfectly fine, my query with has_parent restriction returns the expected results.

Thanks a lot !

I learned something about indexing documents with parents and grandparents.

[2016-09-23 16:21] clintongormley commented on #18723
oh I absolutely agree.  we need to improve things here.

[2016-09-23 17:14] apatrida commented on #18729
@clintongormley maybe another approach is for PR to allow some plugin to decide shard routing preferences for the core engine and swap out the current model via plugins.  So an advanced topology plugin could take over this decision making.

[2016-09-23 17:16] apatrida commented on #18729
Has anyone at elastic actually hit use cases that cannot be done at all with current settings?  I'd be surprised if you have not, because we do regularly and hit walls with the current model that prevent improving performance or reliability.

[2016-09-23 17:22] clintongormley commented on #14195
Closed by https://github.com/elastic/elasticsearch/pull/14421

[2016-09-23 17:22] #14195 closed

[2016-09-23 17:58] imotov opened #20645 "Caching of terms aggregation with stored script can cause stale results"
Updating a stored script doesn't invalidate terms aggs that are using this script. As a result these aggs can produce stale data. To reproduce, start a single elasticsearch node (5.0.0-beta1 or above) with the following settings:
[code]

then run the following script:

[code]

the expected result of the last command:

[code]
the actual result of the last command:

[code]

You can get the expected

[2016-09-23 19:13] bleskes commented on #18729
@apatrida may I suggest that you come up with a simple example where you show a concrete set of nodes (node 1,2,3,4... ), a concrete set of index shards and show how you want them to be layouted on your nodes in the form of "index 1 shard 1 primary, on node 1"?  Also please explain why you want them that way. I see you gave quite detailed examples of possible configuration but they involve many mo

[2016-09-23 20:18] imw opened #20646 "Updating X-pack License in 5.0.0-alpha5"
I can't seem to update the license. Not sure if I am doing something wrong, but at this point it is beginning to seem like a bug:
`root@esdata0:/usr/share/elasticsearch/bin/x-pack# curl -u infegy esdata0:9200Enter host password for user 'infegy':
{
  "name" : "data0",
  "cluster_name" : "atlantis",
  "version" : {
    "number" : "5.0.0-alpha5",
    "build_hash" : "d327dd4",
    "build_date" : "201

[2016-09-23 20:19] jasontedor commented on #20646
Duplicates #19834

[2016-09-23 20:19] #20646 closed

[2016-09-23 20:23] jasontedor commented on #20646
You need to force `curl` to not send the `Expect: Continue` header which you can accomplish with `curl -H Expect: -XPUT -u infegy esdata0:9200/_xpack/license -d @/root/basic_license.json`.

Also, [Elasticsearch 5.0.0-beta1 is available now](https://www.elastic.co/downloads/past-releases/elasticsearch-5-0-0-beta1), you should upgrade, then you don't even have to do this as the bug is already fixed

[2016-09-23 20:24] jasontedor commented on #20646
Thanks for trying out the pre-release, I've marked you eligible for the [Pioneer Program](https://www.elastic.co/blog/elastic-pioneer-program).

[2016-09-23 20:24] imw commented on #20646
Super. Thanks very much.
Otherwise, things have been smooth sailing.

[2016-09-23 20:41] imw commented on #20646
Cluster updated. Issue resolved. :-)

[2016-09-23 21:39] Kraeutergarten opened #20647 "Systemd issue with boot order."
Since the current Type of the service is "simple" systemd proceed immediately with the "depending" units.

See: https://www.freedesktop.org/software/systemd/man/systemd.service.html -> Options -> Type

Since elasticsearch needs some time to start, there are some problems with other software, which needs elasticsearch being up.

I hope you understand the problem and I'm sorry for my bad english.

[2016-09-23 22:54] dmitry commented on #20131
@jpountz does it mean it cannot be implemented in the nearest future?

[2016-09-24 01:57] nik9000 commented on #20647
That makes sense! You'd like the service not to be "up" until it is
actually ready to take requests.

On Sep 23, 2016 5:39 PM, "Nosxxx" <notifications@github.com> wrote:

[2016-09-24 02:16] qiao-meng-zefr opened #20648 "Log how many result found for a slow query"
Redirected from [here](https://discuss.elastic.co/t/can-elasticsearch-log-how-many-result-found-for-a-slow-query/61408)

**Describe the feature**:
Can we add this to the slow log:
- how many results/hits found for the query.

I understand it's probably going to be a per shard number, but will be still very useful for performance tuning and so on.

Appreciate it!

[2016-09-24 07:11] hbs opened #20649 "JarHell is too restrictive and limiting plugins features"
**Elasticsearch version**:

2.4.0

**Plugins installed**: []

**JVM version**:

1.8

**OS version**:

all

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. Create a plugin which needs to run Mustache compiler 0.9.1
 2. Attempt to launch ES
 3. Cry

**Provide logs (if relevant)**:

**Describe the feature**:

JarHell checks many things and it can

[2016-09-24 07:22] dadoonet commented on #20649
Can you also add the logs output?

[2016-09-24 08:13] martijnvg commented on #20645
Agreed, we shouldn't cache this at all. There are two caches we need to take into account here, the request cache (which cached the search request in this case) and the query cache (if the `script` query is used).

We could in `IndicesService#canCache(...)` introspect the aggregation and query builder and decide to not cache if we encounter a file (the file can still be updated after node startup)

[2016-09-24 08:16] martijnvg commented on #20649
This is because the mustache dependency is part of core and is in the parent classloader. In 5.0 this dependency is part of of `lang-mustache` and a plugin should be free to use its own version of  mustache.

Having said that, we will not allow running ES without this check in place. In order to avoid unexpected behaviour at runtime, we require JarHell to fail node startup if it identifies the sam

[2016-09-24 08:25] Nosxxx commented on #20647
That's exactly what I mean. Thank you.

[2016-09-24 09:26] dmitry commented on #10767
I have the same case, and I don't know how to optimize it with `_score`. Also, as @gm42 noticed #20131 not allows to get `_score` while `post_filter`-ing.

Another question: is there are a way to apply a filter first in a `post_filter` with boolean condition, and then only in case if it will be not filtered out to apply second filter with script filter?

[2016-09-24 09:41] dmitry commented on #10767
As I understand here is already 3 ES users, who have very similar use case and since one year here is no solution for this case.

My understanding:

- `_cache` (across multiple ES requests) not allowed for parametrized or non-parametrized script function as they could be undeterministic;
- script functions cannot be cached to be used across one ES request (first in function_score, then in `aggs`,

[2016-09-24 10:02] #20649 closed

[2016-09-24 10:13] imotov commented on #20645
Yes, but caching of inline scripts only works for scripts that are pure functions, which doesn't necessary true even for painless scripts that have access to `java.time.Instant.now()` for example.

[2016-09-24 10:44] martijnvg commented on #20645
Right, I didn't think of that. I think we have then no other alternative then completely opting out of caching if scripts or being used in a search request.

[2016-09-24 16:52] jeffknupp commented on #17006
@rmuir it's surprising to me that you have to ask for cases where `BigDecimal` (i.e. a decimal representation with arbitrary precision) would be needed, as much data science/analytics work requires exact representations of the source data without loss of precision. If putting my data into ES means that I am necessarily going to lose precision, that's a non-starter for _many_ uses. Nothing in the J

[2016-09-24 18:05] rjernst commented on #20248
I don't know about prefixing with `elasticsearch-`, but I do think they could be a little more verbose. Perhaps `rest-client`, `rest-client-sniffer`, and `transport-client` would be a bit better? +1 to making whatever change is agreed on for the next prerelease.

[2016-09-24 18:20] ctrimble commented on #20248
@rjernst I know it may seem like adding `elasticsearch-` is redundant, since the name is in the artifact's `groupId`.  Unfortunately, `groupId` does not appear in the final artifact's name, so it is good practice to make the `artifactId` unique enough that you are not going to get conflicts when it is consumed.  Your suggestions will result in jar names like `rest-client.jar`, `rest-client-sniffer

[2016-09-24 18:22] nik9000 commented on #20645
*technically* we can detect that sort of thing with painless.... Should we
disable caching for any request with a script and then slowly drag things
back? Like expressions can be cached, painless without `now()`. Maybe we
can't ever cache groovy.

Or do we tell users to opt requests out of the cache manually if they have
a script?

On Sat, Sep 24, 2016 at 6:44 AM, Martijn van Groningen <
notificat

[2016-09-24 18:22] rjernst commented on #20248
I don't have any strong opinion one way or another. If we are more explicit in the artifact ids, then I don't see why we need more than one groupid (`org.elasticsearch`).

[2016-09-24 18:39] ctrimble commented on #20248
Although I did not want to open up a discussion on `groupIds`, I totally agree with @rjernst 's point.  `groupIds` function more as a namespace mechanism for Maven Central and having more than one in a project adds no real value.

[2016-09-24 18:55] imotov commented on #20645
The simplest solution might be to disable caching queries with scripts by default, but give users an ability to opt-in for caching if they know that it is acceptable for their use-case. A more sophisticated solution would be to ask script engine service to return some sort of a flag for a script that would indicate if the script is a pure function or not and then we can decide if we want to cache

[2016-09-24 18:57] bleskes opened #20650 "Should shadow indices reuse allocation ids when promoting a replica to primary"
Shadow replica to primary promotion is special in that that it requires the `ShadowIndexShard` of the replica to be replaced with a new `IndexShard` instance. At the moment this is achieved be giving the shard a new allocation id, triggering a cleanup in `IndicesClusterStateService`. This is the easiest solution from the `IndicesClusterStateService` perspective but it have the down side that it ca

[2016-09-24 20:09] bharvidixit opened #20651 "Max Score Calculation Issue With Painless Scripting"
**Elasticsearch version**: elasticsearch-5.0.0-alpha5

**Plugins installed**: []

**JVM version**: 1.8.0_72

**OS version**:  Ubuntu 15

**Description of the problem including expected versus actual behavior**:
On a given sample of data sets and using function score query in combination of script_score, the max_score is returned ad 1.
![image](https://cloud.githubusercontent.com/assets/10341430/18

[2016-09-24 20:19] bharvidixit commented on #20651
I just tried it with 5.0.0-beta1 also and getting the same result as explained earlier.

[2016-09-24 21:07] jasontedor commented on #17006
This is not correct; the [spec says](https://tools.ietf.org/html/rfc7159#section-6):

You are correct that numerics in the JSON spec are arbitrary precision, but nothing in the spec suggests that implementations must support this and, in fact, implementations do not have to support this.

The spec further says:

[2016-09-24 22:06] algestam opened #20652 "Documentation suggests using no longer available option -D"
**Elasticsearch version**: 5.0.0-beta1

**Plugins installed**: [none]

**JVM version**: 1.8.0_91

**OS version**: Ubuntu 16.04.1 LTS

**Description of the problem including expected versus actual behavior**:

The documentation on _Disabling swapping_ (setup/sysconfig/swap) has a suggestion on changing tempdir by using the no longer available option `-D`. The actual command in the documentation loo

[2016-09-25 01:14] #20652 closed

[2016-09-25 01:18] jasontedor commented on #20652
Thanks @algestam; I pushed a7c777f58af1afbd7f9b887cdc039efefb25a177 and marked you as eligible for the [Pioneer Program](https://www.elastic.co/blog/elastic-pioneer-program).

[2016-09-25 04:39] ppf2 opened #20653 "Remove Marvel character reference from install guide"
5.0, 5.x, and master

https://www.elastic.co/guide/en/elasticsearch/reference/master/_installation.html

We no longer use Marvel characters as default node names.

[2016-09-25 06:35] algestam commented on #20652
Great, thank you so much!

[2016-09-25 09:50] bohyun-e commented on #20653
Good catch, @ppf2
cc: @debadair @pickypg

[2016-09-25 12:45] pznamensky opened #20655 "Make possible to use of priority in election"
It seems, that it's not possible to create node that could elect but not to become master.
This option could be useful in some cases.
For example, we have 2 master nodes with data and we want to avoid split brain and the existence of two masters. We can create another instance without data and `node.master = true`. But this third node can become master. So this node must be able to handle a lot of

[2016-09-25 15:26] jasontedor commented on #20655
Duplicates #14340

[2016-09-25 15:26] #20655 closed

[2016-09-25 15:28] jasontedor commented on #20653
Closed by #20654

[2016-09-25 15:28] #20653 closed

[2016-09-25 15:34] bleskes commented on #20655
On a side note - it is very likely that a master only node with no data will not need much hardware. What requests did you in mind with "handle a lot of request a"? If you don't point external traffic at it the potentially frequent requests the master node will  need to process is mapping changes. If you don't have an extreme number of those minimal hardware should be fine. I suggest you try it ou

[2016-09-25 17:36] seiflotfy opened #20656 "Missing Copyright Holder and Date in License"
Check out https://github.com/elastic/elasticsearch/blob/master/LICENSE.txt#L190

[2016-09-25 20:42] daveslee commented on #17580
Was this ever resolved? We're seeing a similar issue after upgrading from 1.x to 2.x with ES running on Windows.

[2016-09-25 22:17] cookandy opened #20657 "Running ES cluster via Docker with adjusted MTU - secondary node breaks cluster"
**Elasticsearch version**:  `Docker Image 2.4` https://hub.docker.com/_/elasticsearch/

**Plugins installed**: `none`

**JVM version**:  `openjdk-8`

**OS version**: `Ubuntu 16.04`

**Description of the problem including expected versus actual behavior**:

When running an ES cluster in Docker via an IPSec network with adjusted MTU, cluster stops responding after secondary node is started.

**Backg

[2016-09-25 22:56] #20504 closed

[2016-09-26 00:53] ryandonglin commented on #18083
also met the same problem in my project, Some people said because of lacking guava dependency, but after import the guava repository, still the same problem

[2016-09-26 01:16] ryandonglin commented on #18083
already solve the problem, just import guava-18.0 dependency to your project, hete is the pom:

<dependency>
            <groupId>com.google.guava</groupId>
            <artifactId>guava</artifactId>
            <version>18.0</version>
        </dependency>

[2016-09-26 06:08] Mpdreamz commented on #17580
@daveslee it was not, can you provide some more details about what kind of disks and filesystem you are using? Shared not shared? And if so over what protocol. Also the output of the afformentioned `icacls` would be useful.

Cc @elastic/microsoft

[2016-09-26 07:16] gm42 commented on #20131
Is it not possible to propagate the information because there is no "formal" channel of communication between scoring and `post_filter` in current ES?

[2016-09-26 07:18] gm42 commented on #10767
@dmitry the sad truth might be that we need a different technology when it's necessary to perform custom map/reduce at this level. It's a kind-of compute-search-and-throw-away scenario, rather than everything-indexed scenario which seems better covered by ES.

I need to stick with ES for the time being, so I will keep trying to make it fit for my use case - but some tell-tale signs are evident.

[2016-09-26 08:04] ernestas-poskus commented on #18635
With either value it mustn't cause OOM for whole cluster.

[2016-09-26 08:25] #20641 closed

[2016-09-26 08:47] s1monw commented on #20645
I think for now we should prevent caching if scripts are involved here. We even should not do it if users ask for it explicitly. Down the road we should require our scripts to be functions. There should not be access to APIs that are not idempotent. We can still allow access to `NOW` since we detect that or at least can detect it. Once we can ensure that we can allow caching for certain scripts (p

[2016-09-26 09:36] dakrone commented on #20650
Should we re-use the allocation id since we only have a single copy of the data, so any copies of the data are up-to-date?

[2016-09-26 10:38] Mpdreamz commented on #19792
Did this already get removed in `5.0.0-beta1` ?

Getting the following message for this mapping:

[code]

[code]

Comparing:
https://www.elastic.co/guide/en/elasticsearch/reference/2.4/geo-point.html#geo-point-params
https://www.elastic.co/guide/en/elasticsearch/reference/5.x/geo-point.html#geo-point-params

Seems to indicate it has but the mapping breaking changes section does not list it.

[2016-09-26 12:55] imotov commented on #20645
I think allowing script engine to identify if a script is a pure function or not is not going to be much more complex than implementing painless-only solution, but it will also benefit plugins like PMML which always generates and executes pure function scripts.

[2016-09-26 13:51] jeffknupp commented on #17006
@jasontedor I was referring to [ECMA-404](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf) but regardless, my point is that the elastic documentation specifically says that `_source`, for example, contains the original JSON message verbatim and is used for search results. I think you'd have to heavily amend statements like that in the documentation to explicitly describe

[2016-09-26 14:28] persi12 commented on #5359
+1

[2016-09-26 14:44] dakrone commented on #10632
@clintongormley ahh okay, in light of that discussion:

Since `simple_query_string` can either use the `default_field` or have `fields`
specified, I'm thinking we should do:

- If query is `"*"` and no `fields` are specified, treat it as match all
  documents
- If query is `"*"` and `fields` are specified, query is essentially `field1:*
  OR field2:* OR field3:*` which matches documents that have

[2016-09-26 15:31] hisuwh commented on #17590
What is happening with this?  I really need something like this

[2016-09-26 16:02] cookandy commented on #20657
One other thing to note:  If I cluster the two nodes **before** loading the data, the health stays `green`.  As soon as I try to load the data I see the following log entries on the primary host:

[code]

And these `transport handler not found` errors on the secondary host:

[code]

...and the status of the cluster goes to `yellow` and never recovers.

[2016-09-26 17:26] bananabr commented on #3714
+1

[2016-09-26 19:06] alexshadow007 commented on #20390
It's Tika 1.13 bug
https://issues.apache.org/jira/browse/TIKA-2098

[2016-09-26 21:32] jpountz commented on #17006
@jeffknupp

We are asking for use-cases because depending on the expectations, the feature could be implemented in very different ways.

For instance a MySQL `BIGINT` is just a 64-bits integer, which we already support with the `long` type. We do not support unsigned numbers, but if that is a common need, then this could be something we could fix and support efficiently.

If the use-case requires

[2016-09-26 21:37] jpountz commented on #20131
Yes. In short, the `script` query returns an implementation of the Lucene `Query` API that uses a script internally, and the `Query` API does not give ways to propagate scores so that scripts can be made aware of them. We could hack it in the case that the post filter only contains a script query (if the query is an instance of that class, then get back the wrapped script and pass the scorer objec

[2016-09-26 21:39] gmoskovicz commented on #20633
@dadoonet Can you please double check this again?

WIth the following looks like failing as well

[code]

And getting the following error:

[code]

[2016-09-26 21:39] jasontedor commented on #17006
The JSON spec only spells out the representation in JSON which is used for interchange, it is completely agnostic to how such information is represented by software consuming such JSON.

The documentation spells out the [numeric datatypes](https://www.elastic.co/guide/en/elasticsearch/reference/current/number.html#number) that are supported.

[2016-09-26 21:53] jasontedor commented on #20657
I'm not convinced this has anything to do with changing the MTU.

A cluster with no data is always green.

This is a known issue, it doesn't cause any problems, and it will be fixed in 2.4.1.

Can you run:

[code]

and find a shard that is unassigned and then run

[code]

replacing `<ID of assigned shard>` by the shard ID of the unassigned shard (it's a number) and share the output here?

[2016-09-26 23:10] cookandy commented on #20657
Hi @jasontedor

Thanks for the reply.  Using a new cluster, I started both nodes, formed the cluster, and ran the status query successfully:

[code]

I try to load in the `accounts.json` file and it just hangs (as expected).  When I look at the status again I see:

[code]

So I tried running the reroute command against `shard 2`:

[code]

Not sure if this is the right response... hopefully it help

[2016-09-26 23:40] jasontedor commented on #20657
The last command should use `allocate`, not `allocate_replica` (that's the syntax in 5.x but you're on 2.x; I'm sorry for the mistake). Can you rerun the command?

[2016-09-27 00:51] ikapriz opened #20662 "1263) Error injecting constructor, java.lang.IllegalArgumentException: failed to parse [1.6m], fractional time values are not supported"
**Elasticsearch version**: 5.0.0-beta1

**Plugins installed**: [none]

**JVM version**: jdk1.8.0_65

**OS version**: Linux 2.6.32-042stab108.8 #1 SMP Wed Jul 22 17:23:23 MSK 2015 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**: On startup of elasticsearch master only node: starts, generates 1263 identical errors in the log (provided below) a

[2016-09-27 01:09] cookandy commented on #20657
Hi,

No problem, here's the output (this time it was shard `3`):

[code]

Not sure why it says `no matching nodes`:

[code]

[2016-09-27 02:31] rhoml opened #20663 "slowlog units mistmatch"
**Elasticsearch version**: 2.4.0

**Plugins installed**: none

**JVM version**: 1.8

**OS version**: Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:
We are configuring elasticsearch with the following configurations:

[code]

And it is causing this log to be triggered:

* [2016-09-27 12:26:27,015][DEBUG][index.search.slowlog.query] [server001-9301] [index_xx

[2016-09-27 04:27] rhoml commented on #20663
Sorry for opening this issue, this was actually a miss configuration on one of the instances of elasticsearch that we are running (3) per node.

[2016-09-27 04:27] #20663 closed

[2016-09-27 05:57] bleskes commented on #20650
It is a bit further off then how do things now but  that is indeed another valid option, conceptually. Recently the exact semantics of aID was raised for discussion:

1) Are they associated with the life cycle of a shard assignment to a node - i.e., if the master assigns a shard to a node, then fails it due to a disconnect and the re-assigns it there the new allocation should have a new ID.
2) Are

[2016-09-27 06:12] excalq commented on #17178
This would make working with ES in Postman so much better, especially when doing Ops work with numerous log indices...

[2016-09-27 07:03] gm42 commented on #20131
@jpountz thanks for the reply. Since situation is like that, shouldn't this feature request be abstracted to a more general "access computed fields in post_filter"?

In an ideal scenario (not really an ES expert here, please bear with me) one could compute via scripts multiple "virtual" script fields and then use them in the post_filter. I know that this possibility would have an impact on the mem

[2016-09-27 08:13] jsieler commented on #20537
Please note that there is also version 5.x with "5.1.0" inside...

[2016-09-27 08:26] jasontedor commented on #20657
It should be `elastic-search-2`; we'll get there yet! :smile:

[2016-09-27 08:29] Analect commented on #20390
@alexshadow007 thanks for catching this as the potential cause.

I can see from [here](https://github.com/elastic/elasticsearch/blob/master/plugins/ingest-attachment/build.gradle) that 1.13  is being used in ES. If someone can guide me how to replace that with Tika 1.14 in a build (I don't have much experience with java and its build systems), then I can certainly try to re-test against my body of

[2016-09-27 08:43] tlrx commented on #20662
Thanks for reporting.

I suspect the `discovery.zen.ping_timeout: 5s` is used to calculate the `join_timeout` setting which is `ping_timeout x 20` by default. Then the resulting `100s`  value is rendered as a fractional time value string by the setting framework before being parsed again... and failed.

[2016-09-27 09:09] tomas-mazak opened #20664 "debian repo https://artifacts.elastic.co/packages/5.x-prerelease/apt not signed"
**Elasticsearch version**: 5.x-prerelease

**OS version**: Debian Jessie

**Description of the problem including expected versus actual behavior**:
It looks like the new debian repo https://artifacts.elastic.co/packages/5.x-prerelease/apt is not signed (Release.gpg does not exist).

**Steps to reproduce**:
 1. add "deb https://artifacts.elastic.co/packages/5.x-prerelease/apt stable main" to source

[2016-09-27 09:10] tomas-mazak commented on #20593
On the docs page for 5.x and 5.0 there's still a non-working version "deb https://artifacts.elastic.co/packages/5.x/apt stable main"

[2016-09-27 09:11] alexshadow007 commented on #20390
I don't know when Tika 1,14 will be released.
As temporary solution it can be fixed without upgrade to 1.14.
We need set this property [PDFParserConfig.setCatchIntermediateIOExceptions](https://github.com/apache/tika/blob/master/tika-parsers/src/main/java/org/apache/tika/parser/pdf/PDFParserConfig.java#L455) to `false`.

[2016-09-27 09:53] dadoonet commented on #20633
@gmoskovicz I can't reproduce it so I probably need more details. Here is what I did so far:

On a fresh new and clean 2.4.0 installation:

[code]

[code]

[code]

[code]

Then:

[code]

Everything went well.

Can you tell me exactly what is the command used to create the repository?
Was that an existing repository for a previous elasticsearch version and we upgrade the version by any chance?

[2016-09-27 10:22] tomfotherby commented on #13045
My use case for wanting a case-insensitive mapping `char_filter` is that I have a custom tokeniser which splits on many characters including the forwardslash. However I have some domain-specific words, for example `i/o` that I want to keep as one. So I have a mapping char_filter to do `'i/o => i_fs_o'` and then a `pattern_replace` filter to put it back again (`'pattern'     => '(.*)_fs_(.*)','repl

[2016-09-27 10:41] sstults opened #20665 "Add a GeoHeatmapAggregator for geo_shape fields and queries"
**Describe the feature**:

There currently is not a way for ES to provide any kind of analysis over `geo_shape` fields. Lucene supports the creation of a heatmap at arbitrary granularity through its `HeatmapFacetCounter`. It was first used in Solr's facet mechanism, but it's usable by any Lucene application. This feature issue adds a metric aggregator `GeoHeatmapAggregator` to accomplish that.

Fo

[2016-09-27 10:53] dakrone commented on #2997
This is fixed now that we have validated settings, closing.

[2016-09-27 10:53] #2997 closed

[2016-09-27 11:00] dakrone commented on #4743
@clintongormley is this something we still want to do? I think it would be better to standardize on a single API endpoint instead of trying to handle singular/plural for all the APIs

[2016-09-27 11:04] dakrone commented on #6170
I don't think we are planning on doing this with a transport client. Instead, we are working on an HTTP client for Java that will be part it this, see: https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/index.html

[2016-09-27 11:04] #6170 closed

[2016-09-27 11:04] dakrone commented on #4755
@abeyad I think this is no longer applicable with the quorum changes you added at index creation?

[2016-09-27 12:16] abeyad commented on #4755
The default as of 5.0 is to only require the primary shard to be active before indexing, which is the same as `!= RED`.  The only time we can't in the `YELLOW` cluster state is if `wait_for_active_shards` has been explicitly changed to a different value. In this situation, someone can just pass `wait_for_active_shards` as a request parameter to the indexing operation, and the indexing operation wi

[2016-09-27 12:18] dakrone commented on #4755
Great! I'm going to close this then, we can always re-open if needed

[2016-09-27 12:18] #4755 closed

[2016-09-27 12:33] l8liu opened #20667 "Moving average shifted"
I 'm using Elasticsearch 'Moving Average' in the pipeline aggregation to compute the moving average of time series data, but I found the moving average is shifted one day . For example, when I set window = 3, i.e., 3 days moving average, I expect the moving average equals the average of the current day and previous 2 days, but the results are the average of previous 3 days, and not including the c

[2016-09-27 12:36] GaneshbabuRamamoorthy commented on #20633
Hi @dadoonet,

I modified the below changes in all yml files,

[code]

then I started the ES and below is the error msg I am getting in logs,
`[2016-09-27 08:25:55,633][ERROR][cloud.azure.storage] [mue2rhegrdd001_RD_NDX_MASTER] can not create azure storage client: Primary and secondary location URIs in a StorageUri must point to the same resource.`

when I tried to create the repository using sens

[2016-09-27 12:46] dakrone commented on #6482
It's been a year of discussion on this since the last comment, I don't think we are planning on changing the default number of replicas to 0, or changing the quorum value, so I'm going to close this, we can re-open if people still want to discuss it.

[2016-09-27 12:46] #6482 closed

[2016-09-27 13:00] dakrone commented on #7549
Going to close this as it's been almost 2 years and we have a different issue we are tracking things for the 5.0 release - #20031

[2016-09-27 13:00] #7549 closed

[2016-09-27 13:01] dakrone commented on #7631
I believe we have this in 5.0 with the _rollover API so closing this, see https://github.com/elastic/elasticsearch/pull/18732

[2016-09-27 13:01] #7631 closed

[2016-09-27 13:03] bleskes commented on #6482
Thx @dakrone for bubbling this up. I think this is covered by #19454, which removes the quorum terminology.

[2016-09-27 13:09] dakrone commented on #7847
I just checked locally and this is fixed in 5.0 with Areek's work on the suggester.

[2016-09-27 13:09] #7847 closed

[2016-09-27 13:24] dadoonet commented on #20633
Ok. So I can reproduce it actually. It sounds like to happen when your key is incorrect.
If your key is correct, then it works just fine.

So to me here, we are swallowing the original exception which is far from being ideal. I believe we should raise a better exception.

So for now, you have to check in the azure console that your credentials are correct.

I'm using here for example the `key1`.

[2016-09-27 13:26] dadoonet commented on #20633
BTW I'm pretty sure you are seeing a similar trace as this one, right?

[code]

[2016-09-27 13:34] dadoonet commented on #20633
If you want to print the detailed logs of what is happening, you can also change your logging level with:

[code]

But sadly, there is [a bug in the TRACE log](https://github.com/elastic/elasticsearch/blob/2.4/plugins/cloud-azure/src/main/java/org/elasticsearch/cloud/azure/storage/AzureStorageServiceImpl.java#L167) and we are not printing the exception message! :(

[code]

Should be something like

[2016-09-27 13:37] GaneshbabuRamamoorthy commented on #20633
Yes, Its the same trace I also got in the logs..

When I asked my infrastructure team to create repository in Azure cloud machine and they replied back with the following account and key details.

[code]

Seems the issue is based on Account name, I have given the details as such in the yml on all the nodes, when I modified the yml of account name as **"devesrepo"** on all nodes and then I restarte

[2016-09-27 13:43] dakrone commented on #8786
JSON output for logging will be available in 5.0 with the move to Log4j2 (see #20235), which allows someone to use their own log4j2.properties file to configure logging.

This, however, does not move all logs to be *structured*, so you will get only the structure that log4j2 applies, rather than any special fields  ES would be adding.

[2016-09-27 13:50] dakrone commented on #8932
Resolved in 5.0 by  #19964

[2016-09-27 13:50] #8932 closed

[2016-09-27 13:54] dakrone commented on #8964
I think this has been resolved with the query refactor? At least when I run @MaineC's script I no longer see any classes that need to be touched.

[2016-09-27 13:56] faxm0dem commented on #8786
@dakrone any technical reason not to use SLF4J instead?

[2016-09-27 13:56] dadoonet commented on #20633
Oh I see. The account is in fact `devesrepo`.

PLEASE ask your team to regenerate all the credentials. You exposed here sensitive information.

[2016-09-27 13:57] dadoonet commented on #20633
I'm going to leave your issue opened as I'd like to fix at least the logs.

[2016-09-27 13:59] dakrone commented on #9038
Now that we're on Netty 4 it sounds like this is possibly something we can accomplish, @spinscale do you know how to set it for Netty 4?

[2016-09-27 14:01] dakrone commented on #9120
@nknize ping about this and whether it's on the roadmap?

[2016-09-27 14:02] dakrone commented on #8786
@faxm0dem check out the discussion in https://github.com/elastic/elasticsearch/issues/17697 for more info on the backstory for it.

[2016-09-27 14:04] dakrone commented on #9567
@nknize ping again about this and whether it's something we want to investigate for 6.0?

[2016-09-27 14:06] jaymode opened #20668 "Allow plugin removal with full name, or represent plugin list differently"
Filing on behalf of @markwalkom

**Elasticsearch version**: 5.0.0-beta1

**Plugins installed**: x-pack

**Description of the problem including expected versus actual behavior**:
The output of the plugin list command can be counter-intuitive for users looking to remove a plugin:

Current Output:
[code]

Users should be able to remove plugins using the displayed, long name, ie `x-pack@5.0.0-beta1`,

[2016-09-27 14:09] dsmiley commented on #20665
Just a little correction: "It's meant for use in Solr's facet mechanism" -- no... it's for any Lucene app that might want to calculate heatmaps from the RPT index.  Solr was the first Lucene app to use it.  If you think there are any Solr-isms or stuff in that functionality you feel doesn't belong, please file a Lucene issue.

[2016-09-27 14:13] dakrone commented on #9964
This is already available by sending an empty body to `/_cluster/reroute`, which increments the cluster state and causes a new state to be sent to all nodes (with no changes).

Going to close this since there currently exists a way to do this.

[2016-09-27 14:13] #9964 closed

[2016-09-27 14:17] dakrone commented on #10211
Closing this as logging now uses the stock log4j2.properties file, which is documented by the log4j2 project.

[2016-09-27 14:17] #10211 closed

[2016-09-27 14:18] dakrone commented on #10049
Related to https://github.com/elastic/elasticsearch/pull/19710

[2016-09-27 14:20] dakrone commented on #10048
This is possible with the new Painless scripting language, so I am closing this since it's been almost a year.

[2016-09-27 14:20] #10048 closed

[2016-09-27 14:20] dakrone commented on #10017
@brwe is this still an issue?

[2016-09-27 14:23] jillesvangurp commented on #9964
What does it mean to "increment" the cluster state?

[2016-09-27 14:25] dakrone commented on #10616
We are on Netty 4 now for 5.0 and this is no longer an issue as the transport does not create its own threadpools

[2016-09-27 14:25] #10616 closed

[2016-09-27 14:27] dakrone commented on #10422
I believe all scripting documentation has been updated to be either Groovy (which needs to be removed now), or Painless.

[2016-09-27 14:27] #10422 closed

[2016-09-27 14:28] dakrone commented on #11371
This should be helped in 5.0 with the move to Painless. Can you try it again and see if it improves?

[2016-09-27 14:30] dakrone commented on #10984
There have been a lot of JDK 9 EA releases since this was pushed, we should check to see if the assumeFalse can be removed so I'm marking this as adoptme

[2016-09-27 14:38] dakrone commented on #10910
Since file-based templates were removed in 2.0 I am closing this.

[2016-09-27 14:38] #10910 closed

[2016-09-27 14:45] dadoonet commented on #20668
For the record, this has been introduced by #18683

[2016-09-27 14:48] sstults commented on #20665
Thanks @dsmiley, the description has been updated.

[2016-09-27 14:54] dakrone commented on #10981
This is now possible since we have moved to Netty 4, since Netty supports HTTPP/2.0 in 4.1+ /cc @jasontedor

[2016-09-27 15:01] dakrone commented on #11504
This is available with the `?include_defaultls` option, but since that doesn't include documentation for the settings, it might be good to add it to the documentation.

[2016-09-27 15:09] dakrone commented on #9964
It means the master node increments the number of the cluster state, which prompts it being sent to all other nodes in the cluster.

[2016-09-27 15:21] dakrone commented on #12815
Now that allocation deciders are de-guiced, I think we can do this with regular ordering instead of adding a weight, and it should be less complex to implement

[2016-09-27 15:30] dakrone commented on #12792
I think with our current work towards a Java HTTP client, along with moving as much as possible to APIs, and with not being able to access those APIs hampers any kind of debugging ability, we should remove the setting and enable HTTP everywhere. It's been a while since we've discussed this, does anyone else have thoughts?

[2016-09-27 15:32] dakrone commented on #12721
Given that we are moving towards a non-embeddable version of Elasticsearch (see: https://www.elastic.co/blog/elasticsearch-the-server), I am going to close this since it seems like we are not going to maintain elasticsearch-transport-wares.

[2016-09-27 15:32] #12721 closed

[2016-09-27 15:33] spinscale commented on #9038
So, what can be set is the `ChannelOption.SO_BACKLOG`, but not the somaxconn setting, as it is read by netty4 either from the proc file system or assumed 128 to be by default, but there is no explicit possibility to set this. Closing

[2016-09-27 15:33] #9038 closed

[2016-09-27 15:33] dakrone commented on #12716
We now default `node.max_local_storage_nodes` to 1, so closing this.

[2016-09-27 15:34] jillesvangurp commented on #9964
Right, none of this is really obvious from the documentation page for this
API. Somebody may want to follow up with this to improve the documentation.
Anyway, thanks for clarifying.

On Tue, Sep 27, 2016 at 5:20 PM Lee Hinman <notifications@github.com> wrote:

[2016-09-27 15:36] dakrone commented on #12412
This is resolved with the cluster allocation explain API added in https://github.com/elastic/elasticsearch/pull/17305 (available in 5.0+)

[2016-09-27 15:36] #12412 closed

[2016-09-27 15:40] dadoonet commented on #12792
If we have an architecture with data nodes and client nodes, would that make sense to still allow disabling http on data nodes?

That being said may be client nodes could be seen/replaced by federated search/index nodes (well tribe nodes nowadays) which I believe would use the REST layer?

IMO that sounds ok to remove `http.enabled` setting. Would love also to hear from others though.

[2016-09-27 15:41] dakrone commented on #12792
I still think it's valuable, since you may want to retrieve something like `GET /_cluster/state?local=true` for diagnosis, but you then cannot since HTTP is disabled.

[2016-09-27 15:42] dakrone commented on #13625
@polyfractal do we have this now with the `scaled_float` type, since it potentially allows you to do something like this?

[2016-09-27 15:51] dakrone commented on #13741
I believe this is fixed with the refactor of CLI parameters so I am closing this, feel free to re-open if I'm mistaken.

[2016-09-27 15:51] #13741 closed

[2016-09-27 15:54] dakrone commented on #13751
This was fixed in 5.0 with https://github.com/elastic/elasticsearch/pull/18198

[2016-09-27 15:54] #13751 closed

[2016-09-27 15:57] dakrone commented on #14257
We have this now in the 5.x+ documentation, see: https://www.elastic.co/guide/en/elasticsearch/reference/5.x/docs-bulk.html

[2016-09-27 15:57] #14257 closed

[2016-09-27 15:57] cookandy commented on #20657
Oops - not sure how I missed that!

Ok, finally got a good output.  Looks like it failed with `failed to find [bank][1] on the list of unassigned shards`:

[code]

[2016-09-27 16:03] rvrignaud commented on #12716
@dakrone as replied here https://github.com/elastic/elasticsearch/issues/12716#issuecomment-128681997 `node.max_local_storage_nodes` set to 1 does not fix the problem. IMHO this should be kept open.

[2016-09-27 16:05] #14585 closed

[2016-09-27 16:11] dakrone commented on #14905
I think this might be something we are no longer able to do, since we moved to not having `ESLogger` and use Log4j2's methods now instead, so it can be closed. Feel free to re-open if I'm mistaken.

[2016-09-27 16:11] #14905 closed

[2016-09-27 16:16] dakrone commented on #12716
@rvrignaud ahh I see, my apologies! I think this is related to the daemonization that we do and would have to be fixed there then, I'm re-opening this. Thanks for catching this!

[2016-09-27 16:19] dakrone commented on #15229
Closing this as the documentation now states "The number value is of type float."

[2016-09-27 16:19] #15229 closed

[2016-09-27 16:21] dakrone commented on #15095
@spinscale ping on this, if it's still present in 5.0 for ingest node we should probably document it somewhere prior to the release.

[2016-09-27 16:28] dakrone commented on #15460
@nik9000 doing `gradle run --debug-jvm` waits forever`*` currently, so I'm going to close this.

`*`: I did not actually wait for "forever" to test this manually.

[2016-09-27 16:28] #15460 closed

[2016-09-27 16:30] polyfractal commented on #13625
Oh, yeah, this was closed by @jpountz in https://github.com/elastic/elasticsearch/pull/19264 :)

[2016-09-27 16:30] #13625 closed

[2016-09-27 16:54] niemyjski opened #20672 "Unable parse yml file with missing space between key & value."
Elastic 5.0-Beta1

configuration file that breaks.
[code]

If there is no space `transport.type:local` after the `:` it throws the following error:

[code]

I feel like this should be handled better and also have a better error message

[2016-09-27 19:08] l8liu commented on #17607
Moving standard deviation is useful

[2016-09-27 19:32] #10946 closed

[2016-09-27 20:03] jasontedor commented on #20672
These are the rules of YAML. I don't think we should catch this and try to parse out what the issue might be just to throw a different and maybe wrong error message (the same error arises if you really do not have a colon).

[2016-09-27 20:03] #20672 closed

[2016-09-27 21:05] bleskes commented on #20650
Another things that play here is that currently the promotion of a replica to primary also removes the old aid from the in-sync replicas list, causing it to only contain other replicas. If those replicas fail during the initialization of the newly promoted replica, we trigger the assertion we have [here](https://github.com/elastic/elasticsearch/blob/1e6a882ab9174e6c00954264f859086a16d1f8b3/core/sr

[2016-09-27 21:24] javanna commented on #8964
Not all queries were migrated to parse field while working on the query refactoring, only some were. Also, using parse field is necessary everywhere in our parsing code, not only in our queries. We should update the list and re-evaluate what needs to be done, but this can't be closed just yet ;)

[2016-09-27 21:45] javanna commented on #4755
This issue is about getting info through cluster health about whether indexing would pass our "consistency" checks. We have now renamed write consistency to wait for active shards and made things much better, but do we have that piece of info now in cluster health? Or maybe we don't need to add it anymore? Sorry if I misunderstood or I am missing anything ;)

[2016-09-27 21:51] dakrone commented on #8964
I didn't see any more when using Isabel's script, maybe we need to update the script if there are other its missing?

[2016-09-27 22:20] abeyad commented on #4755
@javanna in 5.0, by default, if the cluster health is YELLOW, it means the "consistency" check will pass for write operations. If a user wants to increase the number of active shards to wait on before indexing proceeds, they can do so by setting the `wait_for_active_shards` parameter on the indexing operation, so at that point, they are in control of the value they give.  If a user wants to make s

[2016-09-27 22:44] jasontedor commented on #10981
To be clear, Netty 4 supports HTTP/2 but there is effort required to make Elasticsearch use it, and ensure that it works properly.

[2016-09-27 23:45] ppf2 opened #20675 "Include 1.x -> 5.x instructions in upgrade guide"
https://www.elastic.co/guide/en/elasticsearch/reference/5.0/setup-upgrade.html only shows 2.x -> 5.x upgrade information.

It is important to include 1.x -> 5.x information in the upgrade guide given that you must reindex the data between these versions.

This information is covered in the [upgrade api](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/indices-upgrade.html) documentation

[2016-09-28 02:52] dsem opened #20676 "highlight_query does not honor all terms of must clause"
**Elasticsearch version**: 2.4.0

**Plugins installed**: None

**JVM version**: 8

**OS version**: Alpine

**Description of the problem including expected versus actual behavior**:
I am using `highlight_query` to highlight results independent of the way they were queried.  When I specify a `bool` clause with two `must` terms, the highlighting occurs when either of the `must` terms match.  I would

[2016-09-28 03:54] wenma opened #20677 "Bulk insert write slower and slower!"
es : v2.3.1
test bulk insert :  10w docs/bulk  *  100 times
[code]
Has anyone ever met this problem？

[2016-09-28 05:25] keshav-marketingmindz opened #20678 "Elasticsearch turns off randomly without any error"
**Elasticsearch version**:
2.4.0
**Plugins installed**: []
elasticsearch
**JVM version**:
java version "1.8.0_101"
Java(TM) SE Runtime Environment (build 1.8.0_101-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.101-b13, mixed mode)
**OS version**:
ubuntu 14.04
**Description of the problem including expected versus actual behavior**:
The elasticsearch service should run constantly but its getting

[2016-09-28 07:35] peterskim12 commented on #19695
Thanks @colings86! Do you think it's worth adding some more details regarding the enhancements around "instant aggregations" or does that make things confusing? The reason why I ask is because currently the blogs are the only place that make reference to this 5.0 enhancement.

[2016-09-28 08:53] ljchu opened #20679 ""mapper_parsing_exception", "reason"=>"Cannot generate dynamic mappings of type [_id] for [_id]""
**Elasticsearch version**: 2.4.0
**Logstash version**:2.4.0
**JVM version**:1.7
**Description of the problem including expected versus actual behavior**:

I want to write log into es use logstash,and use my custom field as es index's _id,but throw the exception below:

"mapper_parsing_exception", "reason"=>"Cannot generate dynamic mappings of type [_id] for [_id]"}

**Steps to reproduce**:
 1.star

[2016-09-28 09:10] ljchu commented on #20679
I got it, config the logstash output like:
[code]
and use "document_id" format my id.

[2016-09-28 10:25] dakrone commented on #20678
Hi,
We reserve Github issues for feature requests and bug reports. If you are having problems please us https://discuss.elastic.co instead!

[2016-09-28 10:25] #20678 closed

[2016-09-28 10:43] thenom commented on #9693
I currently would find a version of this fix to be handy as i am trying to setup a watcher on the rejected requests field in the marvel data.  I am finding it hard to generate a conditional that will trigger on a value that doesn't represent the last x minutes.

So, for example, on our test setup our bulk rejected is 112.  This might not change for days so how do i know when to trigger the action.

[2016-09-28 10:46] thenom commented on #9693
I currently would find a version of this fix to be handy as i am trying to setup a watcher on the rejected requests field in the marvel data. I am finding it hard to generate a conditional that will trigger on a value that doesn't represent the last x minutes.

So, for example, on our test setup our bulk rejected is 112. This might not change for days so how do i know when to trigger the action. I

[2016-09-28 12:10] baltendo opened #20681 "Java API TransportClient sniffing with exlusion"
We recently started to use the cluster sniffing feature in the Java API for node discovery which works great. But in our cluster setup we have 3 nodes (out of 9) which have different hardware (disk, less iops) and those are causing performance problems when they have to handle requests. To solve the issue I disabled sniffing again and didn't connect to those 3 nodes.

In order to still have node d

[2016-09-28 13:16] hrdxwandg opened #20683 "ES2.4 load mapping failed"
i use es 2.4, my mapping json txt file is as below:
{
    "mappings": {
        "poem": {
            "_all": {
                "enabled": "false"
            },
            "properties": {
                "pid": {
                    "store": "true",
                    "index": "not_analyzed",
                    "type": "integer"
                },
                "authorid": {

[2016-09-28 13:17] MaineC commented on #8964
Looked at the bash thingy again - first of all it only checked stuff in core/*, second of all looking closer it looks like there's some copy'n'paste mix-up in there. Going through the code there still seem to be a few classes where we could be using ParseField, see below.

https://gist.github.com/MaineC/ce2bf46d228230a1f676037a40614112

[2016-09-28 13:21] tlrx commented on #20683
When using the Java API, mappings are expected to be passed in the map directly. In your case I suspect that you have a root object "mappings" that is not expected. Try to pass this "mappings" map directly.

Also, we reserve Github issues for feature requests and bug reports, please use https://discuss.elastic.co instead.

[2016-09-28 13:21] #20683 closed

[2016-09-28 13:25] dakrone commented on #8964
Thanks for coming up with the new list @MaineC !

[2016-09-28 13:30] hrdxwandg commented on #20683
thank you. i change my json as follow but still not ok:
{
    "poem": {
        "_all": {
            "enabled": "false"
        },
        "properties": {
            "pid": {
                "store": "true",
                "index": "not_analyzed",
                "type": "integer"
            },
            "authorid": {
                "store": "true",
                "index": "not_analyzed",

[2016-09-28 14:34] kaka19ace commented on #18892
at most usage cases, we disabled the script option,  so we could not using decay function if the doc field not exists, using missing value  is a good idea

[2016-09-28 14:36] xuyuanjin commented on #19998
I encountered the same issue and disabling sniffer fixed the problem. ES cluster: 2.3.5

[2016-09-28 15:03] pojaszek opened #20684 "Automatic generated index has faulty mappings"
*Software*
Elasticsearch version: 2.3.5
Lucene version: 5.5.0

*Issue*

When I put my first document to index lambdalog-2016.09.28 it creates new index without mappings from template.

Index template:
[code]

I make a request like:
```curl -v -XPOST 'http://localhost:9200/lambdalog-2016.09.28/log/' -d '{ "foo": "bar" }'```

After this request index is created and its mapping `lambdalog-2016.09.28/

[2016-09-28 15:26] javanna commented on #8964
That seems to mean that all queries have been migrated though, which I wasn't expecting. that's great!

[2016-09-28 16:04] #15490 closed

[2016-09-28 17:26] ejsmith commented on #17895
I feel like having a guaranteed timestamp field is critically important for many use cases such as online reindexing. Telling us to use an ingest pipeline, but then having no way to guarantee that those pipelines are run to ensure that the timestamp is updated is not a good solution IMO.

[2016-09-28 17:26] dadoonet commented on #18790
I'm going to close this issue as per @danielmitterdorfer answer. I'll going to open a PR to remove this "feature" in GCE then.

[2016-09-28 17:26] #18790 closed

[2016-09-28 17:44] aparnavarma92 commented on #7574
+1 this would be very useful functionality

[2016-09-28 19:26] mahdibh commented on #9669
+1 on allowing clients to specify some sort of clientId as part of their query request that also gets logged with the query (in addition to client ip, which can be obtained off-hand without the client making any changes). This can be extremely useful for tracing an execution all the way up from a user call down to a slow query hitting ES (using something like zipkin).

See https://discuss.elastic.

[2016-09-28 19:29] mahdibh commented on #14980
It would also be great to clarify what exactly is the latency that the slow log reports. Is that total time since the query was received (ie, including time sitting in the queue) or is that purely the time it took once a search thread picked up the request from the queue

[2016-09-28 20:19] xavi- commented on #18790
Sorry lost track of this thread.  Posted a reply here: https://discuss.elastic.co/t/overriding-tcp-publish-port-breaks-clustering-when-elasticsearch-is-in-a-container/52135/2

[2016-09-28 20:42] hardik-iiita commented on #20648
This makes sense. I will look into it.

[2016-09-28 21:19] hardik-iiita commented on #20648
this is good idea and help developer to debug their slow-query further

[2016-09-28 21:43] debarshiraha commented on #16978
As per http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUT.html: "If you are creating a bucket on the US East (N. Virginia) region (us-east-1), you do not need to specify the location constraint".

Other regions work fine. I can take this up.

[2016-09-28 21:51] salyh opened #20688 "NPE in bin/elasticsearch-plugin script for 5.0.0-beta1"
5.0.0-beta1 ``elasticsearch-plugin`` script (at least on mac/unix) quits with a NPE when plugin id is omitted:

``bin/elasticsearch-plugin install`` results in

<pre>
Exception in thread "main" java.lang.NullPointerException
	at java.util.TreeMap.getEntry(TreeMap.java:347)
	at java.util.TreeMap.containsKey(TreeMap.java:232)
	at java.util.TreeSet.contains(TreeSet.java:234)
	at java.util.Collections

[2016-09-28 22:49] jasontedor commented on #20688
Already closed by #20660

[2016-09-28 22:49] #20688 closed

[2016-09-29 02:34] shibing624 commented on #20648
thx

[2016-09-29 04:14] PhaedrusTheGreek opened #20690 "Support regex or array template pattern match"
I would like to be able to define multiple match patterns on the same index template, to avoid situations where many identical templates must be maintained separately.

[code]

[2016-09-29 04:32] markwalkom opened #20691 "elasticsearch-plugin list error response"
Running the 5.0.0 beta1;

[code]

We shouldn't generate a massive error like this.

Ideally we should just list the plugins and then highlight the incompatibility, like this;

[code]

But if not, then just having a plain text response like `Plugin [PLUGINNAME] is incompatible with Elasticsearch [VERSIONNOW]. Was designed for version [VERSIONPAST]` would be great.

This is what KB does after upgrad

[2016-09-29 06:02] PhaedrusTheGreek opened #20692 ""java.util.concurrent.RejectedExecutionException: Worker has already been shutdown""
When an Elasticsearch node is shutdown, some Exceptions are thrown, indicating that the node has been shutdown, and that some in-flight processes are failing.

Although this may be normal or benign, it would be good to know the exact reason of this.

[code]

[2016-09-29 06:37] s1monw commented on #20691
I agree this feels wrong

[2016-09-29 07:20] sergfed commented on #17580
have the same issue.
Elastic 2.3.3 on Windows Server 2012 R2. java 1.8.0_91. 3 master nodes (2 of  them with data). ssd hdd.
there are several errors per day:

ElasticsearchException[failed to refresh store stats]; nested: AccessDeniedException[E:\_db\elasticsearch-shorteners\nodes\0\indices\shtype-s-160928\1\index\_k98.cfe];
	at org.elasticsearch.index.store.Store$StoreStatsCache.refresh(Store.ja

[2016-09-29 07:29] s1monw commented on #17580
I don't see how this is an Elasticsearch problem. `java.nio.file.AccessDeniedException` is not coming form anything we do. It's NOT an security manager exception. The filesystem doesn't allow to access this file. Somebody or something must be changing permissions on that file while ES is running. I don't think we can do anything about this? @clintongormley @Mpdreamz can we close this?

[2016-09-29 07:35] dobariya commented on #17580
@s1monw : I disagree with you because there was no issue in ES1.x and it started on ES2.x.

[2016-09-29 07:37] s1monw commented on #20677
can you share more information like what kind of documents you are using, how do you index your document (code / or curl statements)?

[2016-09-29 07:42] s1monw commented on #20645
I don't understand why PMML will benefit from a generic solution?
We need a solution for this for 5.0 and I am leaning towards just disabling cache if any script is involved. The only safe exception is expressions. I am curious if @jdconrad or @rjernst has ideas here.

[2016-09-29 07:47] sergfed commented on #17580
then return it back?
I understand your opinion, but it's strange, that we have sporadic errors. Before them and after there are no errors with these files. cluster is ok, node is ok, data is consistent.
It looks like something locks the file for a moment.

[2016-09-29 07:51] imotov commented on #20645
I agree that the most sensible option for 5.0 is to disable cache if any scripts are involved. My comment was about your proposal to re-enable caching for some scripts in the future. My understanding was that you are proposing to enable this only for painless. My proposal was to allow any script engine to let the caching system know if scripts are pure functions or not. I envision it as a method o

[2016-09-29 07:55] s1monw commented on #20645
I think we have different understandings when it comes to PMML I don't see why it needs to be it's own script engine. Can't it just produce scripts using painless iff it really needs a script?

[2016-09-29 08:03] imotov commented on #20645
Yes, it doesn't have to be its own script engine (if we could add some ML-specific math functions to painless and if we are doing PMML at all). I am just proposing a clean generic solution that will work not only for painless but also for any script engine that can guarantee that its scripts are pure functions as in the case of the current implementation of PMML.

[2016-09-29 08:12] abhiphanse commented on #17584
Just install java 8.

[2016-09-29 09:38] lukas-vlcek opened #20693 "Make Elasticsearch docs open in Console editor popup closeable"
**Elasticsearch version**: Documentation for 5.x

**Description of the problem including expected versus actual behavior**:

Make the popup window closeable (add Close input '[X]' or 'ESC' key listener).

![view_in_console](https://cloud.githubusercontent.com/assets/205174/18948722/88ce028c-8638-11e6-8764-9b7b07393a90.jpg)

[2016-09-29 09:39] lukas-vlcek commented on #20693
Oh, obviously, the popup is shown when the Settings icon is clicked, not the "VIEW IN CONSOLE" link.

[2016-09-29 09:53] colings86 opened #20694 "Allow use of string variables in the bucket_script and bucket_selector aggregations"
Currently pipeline aggregations always assume they are acting on numerical data. This is fine for most pipeline aggregations since things like moving average and derivative only make sense with numerical data. But for the bucket_script and bucket_selector aggregations it can be useful to also have non numerical data as inputs.

We should remove the explicit check for a numerical value when retriev

[2016-09-29 12:58] dmitry commented on #20131
I still hope the `_score` could be accessed in a `post_filter` this year :)

For more details also look to the https://github.com/elastic/elasticsearch/issues/10767

[2016-09-29 15:17] epixa commented on #20544
We're going to need to add first-class support for Tribe to Kibana 5.x.  We'll track that work in https://github.com/elastic/kibana/issues/8495

[2016-09-29 15:24] calufa opened #20697 "Rankings based on term proximity rather than term frequency"
Currently "span_near" queries return desired results if all the "span_terms" exists on the results documents. I wonder if its possible to have an "or" inside the clauses, so if one of the terms doesn't exist it still return documents based on term proximity.

The use case is the following. I want to boost documents where terms occur close together (proximity). The closer the terms are from each ot

[2016-09-29 15:26] jasontedor commented on #20693
This would get the correct level of attention on the [Kibana repository](https://github.com/elastic/kibana).

[2016-09-29 15:26] jasontedor commented on #20693
This is for our docs, I see. Can you change the title to make that clearer?

[2016-09-29 16:10] lukas-vlcek commented on #20693
Thanks @jasontedor

[2016-09-29 17:32] jdconrad commented on #20645
So, just to make sure I understand, there are two caching issues here -- one is related to queries being cached with scripts that are potentially updated in the background (stored/file), the other is related to non-idempotent whitelisted methods.  For the first we need to check to make sure the stored/file script is the same as the one in the cached request, I don't know who the responsibility sho

[2016-09-29 18:05] xavi- commented on #18790
In case my reply on elastic.co wasn't clear, I feel the GCE changes are a bad idea.

[2016-09-29 18:16] s1monw commented on #20645
your understanding is correct @jdconrad

[2016-09-29 18:22] clintongormley opened #20698 "Remove python and javascript plugins"
The  `lang-python` and `lang-javascript` plugins were deprecated in 5.0 and should be removed in 6.0 (along with the docs)

[2016-09-29 18:46] s1monw commented on #20698
+1

[2016-09-29 18:59] isp300 opened #20699 "ES-Hadoop (Spark) does not support Shield run_as functionality"
**Elasticsearch version**:
2.4.0
**Plugins installed**: [shield]

**Describe the feature**:
I need to use Shield run_as functionality with ES-Hadoop (Hadoop/Spark). According to documentation in order to do this you have to provide custom HTTP header es-shield-runas-user. This perfectly works with "generic" Java client using org.elasticsearch.common.settings.Settings.Builder.put("request.headers.e

[2016-09-29 19:25] johtani commented on #20246
Deprecating in 5.x done by #20686

[2016-09-29 19:37] niemyjski commented on #16654
I'm using internal indexing and hitting this on index...

 illegal version value [0] for version type [INTERNAL];

[2016-09-29 20:03] niemyjski commented on #20675
I agree, I'm currently in the process of upgrading https://github.com/exceptionless/foundatio.repositories from 1.x to 5.x and we are going to use external reindexing to accomplish this.

[2016-09-29 20:03] murali-chevuri opened #20700 "Parse exception for reroute command."
Hi,

I am using elasticsearch 5.0.0-alpha5 and Xpack 5.0.0-alpha5. I trying to fix unassigned shards with below reroute command. I am getting below parsing exception. Please help.

COMMAND

curl -u elastic:changeme -XPOST http://xxxx:9200/_cluster/reroute -d '{    "commands": [       {         "allocate": {           "index": "collectd--2016.09.06",           "shard": 1,           "node": "xxxx",

[2016-09-29 20:06] niemyjski opened #20702 "5.x indexing document with version 0 or 1 (internal versioning) causes failure."
We are in the process of upgrading from 1.x to 5.x and have hundreds of tests verifying the behavior of 1.x. One thing that instantly failed was versioning on 5.0.0-beta1.

We were inserting a document with version 0 (the model default), which previously worked.
`Validation Failed: 1: illegal version value [0] for version type [INTERNAL];`

I was talking with @gmarz and he said the default had to

[2016-09-29 20:08] niemyjski commented on #20702
I guess the docs should be updated to say don't specify version in insert, and is there a breaking change noted someplace about this as this is working on 1.7.5

[2016-09-29 20:09] niemyjski commented on #20702
I think it could be a bug, that if I specify a version of 1 on insert and it matches the internal implementation it shouldn't throw an error.

[2016-09-29 21:09] jasontedor commented on #20700
It's `allocate_replica`, `allow_primary` is removed.

[2016-09-29 21:09] #20700 closed

[2016-09-29 21:11] jasontedor commented on #20699
Please open this on the elasticsearch-hadoop repository.

[2016-09-29 21:11] #20699 closed

[2016-09-30 00:31] jasontedor commented on #20657
@cookandy You have to pick a shard that is not assigned (but your latest cluster state doesn't show any unassigned shards).

[2016-09-30 02:37] gfyoung commented on #9469
Is this an issue anymore?  From the related code <a href="https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/action/search/TransportSearchHelper.java">here</a>, the issue seems non-existent IINM.

[2016-09-30 02:42] cookandy commented on #20657
Let's try it again, from the beginning:

Start Node 1 and 2, everything looks good:

[code]

Try to load `accounts.json` on Node 1.  Cluster shows `shard 2` as `UNASSIGNED`

[code]

Run reroute:

[code]

...the Node 1 logs might be telling:

[code]

Thanks again, @jasontedor!

[2016-09-30 03:35] astralblue opened #20703 "Binding to the wildcard of one address family should not prevent binding to addresses in another family"
**Elasticsearch version**: 5.0.0-alpha5 (installed out of the deb repository)

**Plugins installed**: []

**JVM version**: openjdk-8-jre_8u91-b14-3ubuntu1~16.04.1

**OS version**: Ubuntu 16.04.1 LTS

**Description of the problem including expected versus actual behavior**:

When instructed to wildcard-bind in one address family (say, IPv4), ES requires that the wildcard be the only bind address, a

[2016-09-30 04:30] astralblue commented on #20703
Looks like https://github.com/elastic/elasticsearch/pull/13954 – support for multiple bind/publish addresses – had this issue.  The `addresses.length > 1` check in addCustomNameResolver() is too aggressive: `addresses` may be a mixture of IPv4 and IPv6 addresses.  Things like `Arrays.asList(addresses).stream().filter((a) -> a.getClass().isInstance(address)).count() > 0` instead would be more suita

[2016-09-30 05:20] esen commented on #15616
I think these distance types should remain.

- One argument is that you may need to use `plane` for filtering (since it's the fastest but less accurate), and `sloppy_arc` for sorting. Or use both of them for filtering, like first using `plane` filter to get documents in several kilometers radius, then using more accurate `sloppy_arc` for better filtering.
- One more argument is in scripting. If yo

[2016-09-30 06:23] jasontedor commented on #20657
You need to pick a shard where the state is unassigned, for example in your output that would be shard 4. For shard 2, which you picked for the reroute, the state is initializing, the shard is assigned to a node, it just hasn't started yet.

[2016-09-30 06:37] #20318 closed

[2016-09-30 07:02] cookandy commented on #20657
Oops!  Must be time for bed for me...

[code]

[2016-09-30 09:25] alexbrasetvik opened #20705 "Hard limit on total number of shards in a cluster"
We're seeing hundreds of cases of too many shards causing problems vs. problems caused by having too few.

It would be great to have a default hard limit, even though it can be increased (through the cluster settings API). It'll raise awareness to this issue hopefully in a "I can bump this now, but need to fix it"-way.

[2016-09-30 09:28] martijnvg commented on #20390
Seems like tika 1.14 will be [released soon](http://markmail.org/message/mcy3fnpm3bhzqe4t), so I think it is ok to wait, instead of adding a temporary workaround.

[2016-09-30 09:30] martijnvg commented on #19602
I'll mark the foreach processor as experimental.

[2016-09-30 09:35] javanna commented on #20705
@alexbrasetvik I think this was done yesterday on #20682 ;)

[2016-09-30 09:48] dadoonet commented on #20390
++ @martijnvg
I started it there (https://github.com/dadoonet/elasticsearch/commit/b98359000b9eb34b51d5cc15c2fcf7566465da82) and I'm waiting for the release :p

[2016-09-30 09:48] jasontedor commented on #20705
@javanna That's different, that's per index but the request here is per cluster.

[2016-09-30 09:50] alexbrasetvik commented on #20705
Just synced up with @s1monw who asked me to create this issue while we talked about the per-index limit. This one is indeed per cluster, as a total number of shards - whether it's a few indices with a lot of shards, or many single-shard indices.

[2016-09-30 09:54] javanna commented on #20705
sounds good thanks for clarifying.

[2016-09-30 09:56] spalger opened #20707 "Field stats API skips geo_point fields"
**Elasticsearch version**: master

**Plugins installed**: none

**JVM version**: 1.8.0_102

**OS version**: macOS Sierra

**Description of the problem including expected versus actual behavior**: fields of type `geo_point` are not described in the `_field_stats` output

**Steps to reproduce**:
sense requests: https://gist.github.com/spalger/72050d99ee9dc5a4ee8d1186e9cc05c9
which results in a match

[2016-09-30 09:57] clintongormley commented on #20707
@jpountz could you take a look at this?

[2016-09-30 10:25] #19602 closed

[2016-09-30 12:09] hartfordfive commented on #8786
👍 Any chance this will be added in the 5.0 release or shortly after that?

[2016-09-30 13:30] #20662 closed

[2016-09-30 15:44] bleskes commented on #20702
@niemyjski can you give an example of the concrete indexing requests you use? NEST , Sense or just curl style are all fine.

[2016-09-30 17:59] niemyjski commented on #20702
[code]

Version 0 previously worked in 1.x
[code]

this returns

[code]

Version 1 (same as the default for internal versioning):
[code]

returns

[code]

[2016-10-01 11:04] nik9000 opened #20713 "Pattern tokenizer doesn't respect max_token_length"
Reported [here](https://discuss.elastic.co/t/pattern-analyzer-does-not-respect-max-token-length/61975).

[code]

Responds with:

[code]

But `max_token_length` is documented as defaulting at `255` so this should spit out two tokens.

[2016-10-01 11:05] nik9000 commented on #20713
Reporter confirms this is a problem with 2.3.5. It looks like the code doesn't cover it in master either.

[2016-10-01 13:35] clintongormley commented on #18635
Fixed by https://github.com/elastic/elasticsearch/pull/19394

[2016-10-01 13:35] #18635 closed

[2016-10-02 03:37] SFzxc opened #20714 "[Help] Cant change port config"
**Elasticsearch version**:
elasticsearch-2.4.1.zip
**Plugins installed**: []
none
**JVM version**:
java version "1.8.0_101"
Java(TM) SE Runtime Environment (build 1.8.0_101-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.101-b13, mixed mode)
**OS version**:
Ubuntu 104.0.1

**Description:
I just install last version of elastic. Work well on port 9200. But when i change to 9300. It not working
 ~ c

[2016-10-02 05:52] siddharthlatest commented on #18416
@damianpfister Second adding this. Does this have any ETA?

[2016-10-02 07:39] dadoonet commented on #18416
It does not. Wanna contribute some code?

[2016-10-02 07:48] bohyun-e commented on #20714
Are you seeing the 'Address already in use' error? If so, this is because there is a conflict with `transport.tcp.port` parameter which we ship defaulted at 9300. If you want to set the custom port number to 9300 then try the following in your `elasticsearch.yml`:

`http.port: 9300`
`transport.tcp.port: 9400`

https://www.elastic.co/guide/en/elasticsearch/reference/2.4/modules-transport.html#_tcp_

[2016-10-02 08:39] huynhquocbao92 opened #20715 "Pls help me cannot index 2 location properties in 2 type"
`"created_at" => "2016-09-15 14:12:57"
"updated_at" => "2016-09-15 14:12:57"
"is_deleted" => 0
"stamp_rally_spot_location" => [
  "location" => [
    "lat" => 35.4285439
    "lon" => 140.2880265
  ]
]`
Because i cannot index 2 location properties in 2 type, so i added location data same above. How to I can filter location when query?
`'filter' => [
    'and' => [
        [
            'geo_distanc

[2016-10-02 10:50] muradm commented on #14441
For whom interested. Actually you can start cluster from scratch in dynamic environment. When tried Elasticsearch with docker swarm mode, it worked. The main concern here is resolvability of hosts provided. If you are running in docker swarm mode or consul with registrator etc., after container starts and right before Elasticsearch process is being fired, DNS name already present in related servic

[2016-10-02 11:57] jasontedor commented on #20714
Elastic reserves GitHub for bug reports and feature requests; general help can be obtained on the [Elastic Discourse forum](https://discuss.elastic.co).

[2016-10-02 11:57] #20714 closed

[2016-10-02 13:04] prog8 opened #20716 "Recovery and rebalance throughput are controlled with the same parameter"
ES currently have a single parameter which controls the speed of recovery and rebalance. Recovery in most cases has higher priority than cluster rebalancing. When the cluster has problems or node is restarted one may want the node to be quickly recovered even paying the price of slower indexing for short period of time. This is not always true for rebalancing.

I also have an impression that `reco

[2016-10-02 13:12] johtani commented on #20479
Thanks. I think Elasticsearch should return the error in your cases, because that is tricky settings.

[2016-10-02 20:48] hbs commented on #20649
This last comment seems to defy the purpose of class loaders! Of course an identical class can be at several places in the class path, that's what class loaders hierarchies are for!

What's the point of loading plugins in their own class loader if they cannot have their own private version of a class present elsewhere in their parent class loader's class path?

Can you elaborate on what you are tr

[2016-10-03 06:36] chakkasm opened #20718 "Unknown indexes created"
**Elasticsearch version**: elasticsearch-2.3.4

**Plugins installed**: NONE

**JVM version**: 1.8.0_60

**OS version**: 2.6.39-400.283.2.el6uek.x86_64

Since couple of weeks, every weekend some unknown indexes are getting created in elasticsearch instance. We don't have any batch jobs on this machine and these are dedicated servers for elasticsearch.
I have installed elasticsearch by downloading z

[2016-10-03 07:22] dadoonet commented on #20718
Please ask on discuss.elastic.co

Your server is probably exposed without any protection and some people are trying to hack it may be.

[2016-10-03 07:22] #20718 closed

[2016-10-03 07:53] abhishekanand100 commented on #19784
One doubt to add to the discussion above, is it worth a shot to disable the _all field and reindex all the data? We are seeing huge latencies while indexing/updating documents. Could this improve the performance?

[2016-10-03 09:09] bleskes commented on #20716
A couple of clarifications:
1) By default a cluster won't rebalance until it's green (although it might have ongoing rebalance recoveries when a node left which are not completed by the time the node joins). see [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/shards-allocation.html#_shard_rebalancing_settings)
2) The `recovery. max_bytes_per_sec` settings is used to throttle

[2016-10-03 09:39] bleskes commented on #20702
@niemyjski thx.  Somewhat in reverse order:

The use of default here is not really right. Adding a version to the index API means - "only index it if the documents *current* version is set to this". In your call it means it has been indexed before and never changed. If the document doesn't exist, the version checks throw a conflict, which is good.

A version value of 0 is invalid indeed. I think i