[2017-11-14 14:56] #27379 closed

[2017-11-14 15:09] martijnvg commented on #27378
Right, because then there is one way of selecting nested documents.

Yes. Then the `ShardSplittingQuery` query should then in the default case (no routing AND no partitioning) not select nested documents by itself.

Maybe we can create a bool query with two should clause:
* `ShardSplittingQuery` which selects all regular Lucene documents that do not belong on the current shard.
* `ToChildBlockJoin

[2017-11-14 15:21] EngNahidBehjati opened #27383 "Reindex Big Index"
**Elasticsearch 5.5.1** (`bin/elasticsearch --5.5.1`):

Hi!
I have a problem with reindex.
for almost big index, reindex request has "search context not fount " exception and there is no way I can increase "scroll" parameter to avoid this.

thanks

[2017-11-14 15:27] martijnvg commented on #27378
The `ShardSplittingQuery` can be an expensive query, so alternatively we can introduce a new query. This query would wrap the `ShardSplittingQuery` query and emit its docids and use `BitSet` (based `Queries.newNonNestedFilter()`) to also emit all nested docids belong to each normal document. This way only a single `ShardSplittingQuery` instance needs to be used.

[2017-11-14 15:37] jasontedor commented on #27383
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-11-14 15:37] #27383 closed

[2017-11-14 15:44] oldenbur opened #27385 "backslash regexp searches not working on keyword analyzed data"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.1

**Plugins installed**: []

**JVM version** (`java -version`): java version "1.8.0_144"

**OS version** (`uname -a` if on a Unix-like system): Linux lrdx0000 3.10.0-514.16.1.el7.x86_64 #1 SMP Wed Apr 12 15:04:24 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**: keyword-

[2017-11-14 16:00] jimczi commented on #27385
The pattern used by the `regexp` query is always anchored:
https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-regexp-query.html#_standard_operators
This means that the pattern must match the entire string. Adding `.*` at the end of the pattern returns the correct document.

[2017-11-14 16:00] #27385 closed

[2017-11-14 16:37] elasticmachine opened #29963 "[ML] Remember v7 TODOs before beta1 is feature frozen"
*Original comment by @droberts195:*

We have a number of TODOs for version 7 in the ML code base.

We are not actioning these immediately, as the code divergence between the master and 6.x branches would make backporting more difficult.  However, before 7.0.0-beta1 is released we should action the TODOs.

The current list is as follows:

[code]

At the time someone works on this issue they can fin

[2017-11-14 16:41] martijnvg commented on #27377
@shaharmor Did you try setting a [missing value](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/search-aggregations-bucket-datehistogram-aggregation.html#_missing_value_10) on the date_histogram aggregation? Github issues are meant for bugs and feature requests and this sounds more like a question that should be asked on the [forum](https://discuss.elastic.co/) first.

[2017-11-14 16:45] shaharmor commented on #27377
I'm not sure how a missing value on the date_histogram would help, as there are no docs to add the missing field to...

Anyway, I created a forum thread as well

[2017-11-14 16:57] hanoch commented on #7574
@clintongormley when is the "BKD-backed geoshapes" planned to be merged?

[2017-11-14 17:08] Bargs commented on #26760
@rjernst this bug is also still causing Kibana CI to fail when we try to test against master, so it's high severity for us. Our CI for master is still stuck on an ES build from months ago. I think the fact that this bug fails Kibana CI was hidden by the other (unrelated) issue with expression based scripts.

[2017-11-14 17:15] russellday commented on #27194
@ywelsch - killing a node does not exhibit the same behavior. The recovery in that scenario is normal, a reasonable amount of shard-failed tasks and quick recovery. Not taking heap dumps on the OOM's currently and no changes to the fault detection. I have not investigated the OOM heaps since this test is using instances that I expect will fail on a regular basis. The hope was we can handle replaci

[2017-11-14 17:22] #25722 closed

[2017-11-14 18:07] russellday commented on #27194
@ywelsch - Sent you a log an update via email.

[2017-11-14 18:16] elasticmachine opened #29964 "[DOCS] ssl keystore bootstrap check could cause confusion to unsuspecting users"
*Original comment by @inqueue:*

6.0 added a bootstrap check to fail service start if `ssl.keystore.path` does not contain a private key. For example,
[code]
While it is documented the file in this configuration _must_ contain a private key, there are users running pre-6.0 versions unsuspectingly setting themselves up for failure. This particular report originated from having a keystore file in `s

[2017-11-14 18:17] hatdropper1977 commented on #26468
They just released it.
https://www.elastic.co/blog/elastic-stack-6-0-0-released

[2017-11-14 18:34] russellday commented on #27194
Here is the log from the master node.

https://s3.amazonaws.com/es5-mt-snapshot/master-node-20171112.log

On Tue, Nov 14, 2017 at 2:25 AM, Yannick Welsch <notifications@github.com>
wrote:

[2017-11-14 19:06] clintongormley commented on #7574
@hanoch when it is ready.  I can't be any more specific than that

[2017-11-14 20:01] cashel1 opened #27387 "Elasticsearch 6.0.0 GA Maven"
When will Maven Central be updated ?

Thanks

[2017-11-14 20:07] cashel1 commented on #27387
Apologies, found it,

[2017-11-14 20:07] #27387 closed

[2017-11-14 23:11] ahlusar1989 commented on #27310
@jimczi I will be happy take this.

[2017-11-15 01:15] rjernst commented on #26760
Sorry @Bargs I got confused with multiple issues.

[2017-11-15 03:31] andytsnowden opened #27389 "Reindex Helper fails on .watches and .triggered_watches without license for service"
**Elasticsearch version**: 5.6.3

**Plugins installed**: x-pack

**JVM version**: 1.8.0_151

**OS version** : Ubuntu 17.10, Kernel  4.10.0-38-generic

**Description of the problem including expected versus actual behavior**:

When attempting to use the Reindex Helper in 5.6.3 in preparation for 6.0.0 I am unable to reindex the .watches and .triggered_watches indexes.  My license does not allow acc

[2017-11-15 03:43] tvernum commented on #27389
Hi @andytsnowden

We try to keep this repository exclusively for open source elasticsearch, and don't track issues relating to our commerical products here.

Would you be able to raise your issue on our [discussion forum](https://discuss.elastic.co/c/x-pack) instead?
When you do, can you provide more details about your troubles deleting `.watches`? That shouldn't happen, so an reproducible example

[2017-11-15 03:43] #27389 closed

[2017-11-15 07:53] jimczi commented on #27310
Sure, go for it @ahlusar1989 !

[2017-11-15 09:21] clintongormley commented on #27336
@jimczi I had a conversation with @colings86 about this the other day.  I think we need to leave the documentation in there, but add a warning about performance and explain that trying to replicate a relational model with multiple level hierarchies is not the correct way to model your data in ES.

[2017-11-15 09:37] MengPhantom opened #27390 "how to use native scrip to filter result"
I want filter search result use local python script ,but it not works well.maybe  native script use java is a good choice. but  how can I do this,I only find some alter score script demo. help  me plz!!

[2017-11-15 10:04] s1monw commented on #24362
I looked at this yesterday and after a closer look I think we can get the best of both worlds without indexing / adding anything to the documents. Today we index `_version`, `_seq_id`, and `_primary_term` for every nested document. While this is unnecessary and we can omit it we can use a `DocValuesFieldExistsQuery` once we don't index this for nested document. The values for these fields are all

[2017-11-15 10:08] cbuescher commented on #27390
Hi @MengPhantom! Your question is better suited to the user forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2017-11-15 10:08] #27390 closed

[2017-11-15 10:16] MengPhantom commented on #27390
thankyou

[2017-11-15 10:59] #27372 closed

[2017-11-15 11:01] tlrx commented on #27372
Failures from [build 292](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+packaging-tests/292/) to [build 302](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+packaging-tests/302/console) inclusive are all related to the POI version fixed in https://github.com/elastic/elasticsearch/commit/d4b7f7a58d39f55d27214e3796f9be95e23ae245.

I suspect that for the 303 and

[2017-11-15 11:12] jimczi commented on #27336
Fair enough. I opened https://github.com/elastic/elasticsearch/pull/27392 to restore the section with a big warning ;)

[2017-11-15 11:30] AliCharper commented on #17956
Hi,

I really need to write a query for a scenario like this to have all the data in the parent and child with just a single query. It seems writing a query when we have more than one child under a single parent is not that easy or possible.

POST /test/grandparent/_search?pretty
{
  "query":
  {
    "has_child":
    {
      "type": "parent",
      "query":
      {
        "has_child":
        {

[2017-11-15 12:07] slovdahl opened #27393 "Keeping local modified elasticsearch.yml on dpkg upgrade causes ES start to fail"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.0.0

**Plugins installed**: []

**JVM version** (`java -version`): OpenJDK 1.8.0_151

**OS version** (`uname -a` if on a Unix-like system): Linux desk 4.10.0-35-generic #39~16.04.1-Ubuntu SMP Wed Sep 13 09:02:42 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
During the u

[2017-11-15 12:57] audriusb commented on #12016
It still does not work with simple terms filter and others. That's a bit sad. Since ES supports queries on multiple indices, we're forced to have exactly same mapping. Are there any other options?

[2017-11-15 13:08] AliCharper opened #27394 "Need to define two children under a same parent and having query on it."
Hi,

I really need to write a query for a scenario like this to have all the data in the parent and child with just a single query. It seems writing a query when we have more than one child under a single parent is not that easy or possible.

[code]
if I had a secondchild type, I can not add it beside the child in the query. I have written the whole mapping below.

[code]

[2017-11-15 13:32] clintongormley commented on #12016
terms filter already ignore missing fields so this works just fine.  perhaps ask a question in the forum instead

[2017-11-15 13:37] jasontedor commented on #27393
I am sorry that you experienced trouble but this is covered in the [breaking changes for 6.0](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_60_packaging_changes.html#_default_path_settings_are_removed). Additionally, it's a good practice to compare differences in package-shipped configuration files when the installation presents to you that there are differences.

[2017-11-15 13:37] #27393 closed

[2017-11-15 13:52] roncohen commented on #25312
This possibly has a nice use-case in APM. We allow users to send up big blobs of custom objects which are not currently indexed. This would be a nice way to make those documents searchable without running the risk of field explosion (Thanks for the ping @ruflin!)

[2017-11-15 14:32] kemcon commented on #18892
i like to have the possibility to add a 1 to the result of the decay score (this is an easy to change issue). so the results will be between 1-2 and not between 0-1. with an exists-filter query (if this is nessesary), all non-existing documents will not be scored (this is similar to factor 1) and all others will scored better (1-2).

[2017-11-15 14:53] tlrx commented on #26636
Thanks @bw2 and @hoffoo for your feedback.

A new version (1.23.0) of google-http-client has been released in October 2017. I updated the versions used in the `repository-gcs` and  `discovery-gce` plugins in #27381. This `1.23.0` version includes the change google/google-http-java-client#333 so the underlying exception should bubble up instead of being hidden by the `insufficient data written` exc

[2017-11-15 14:53] #26636 closed

[2017-11-15 15:09] martijnvg commented on #27394
Please ask questions like this one on the [forum](https://discuss.elastic.co/). You should be able the add a second `has_child` query by using a `bool` query. Github issues are only reserved for bugs and feature requests.

[2017-11-15 15:09] #27394 closed

[2017-11-15 15:09] polyfractal opened #27396 "[CI] remote.info/10_info/"Get an empty remote info" fails on 5.6 because of spec name change"
1703c54c27f8f256def48015214e927a0407ff54 changed the namespacing of remote_info to [`cluster.remote_info`](https://github.com/elastic/elasticsearch/blob/5.6/rest-api-spec/src/main/resources/rest-api-spec/api/cluster.remote_info.json), but the test `remote.info/10_info` still [points at the old `remote.info` on 5.6](https://github.com/elastic/elasticsearch/blob/5.6/rest-api-spec/src/main/resources/

[2017-11-15 15:14] bw2 commented on #26636
Thanks @tlrx

[2017-11-15 15:22] DaveCTurner opened #27397 "Consolidate version-numbering semantics"
At the moment we interpret version numbers, and our expectations for things like which unreleased versions there are and on which branches their code lives, in a number of different places. These various interpretations are not obviously equivalent, and the bump to 6.0.1 certainly uncovered some issues in this code. The way that some of the issues were fixed will bite us at the bump to 6.0.2.

The

[2017-11-15 15:51] polyfractal commented on #27374
If compactness is the goal, I think source filtering achieves that?  E.g. the GET api has: https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-get.html#get-source-filtering to retrieve just the fields you're interested in.

There's also response filtering via `filter_path`, which applies to any request: https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options

[2017-11-15 15:51] clintongormley commented on #27396
Sorry, fixed.

[2017-11-15 15:52] #27396 closed

[2017-11-15 16:13] floragunncom opened #27399 "XContentBuilder.ensureNoSelfReferences() throws ConcurrentModificationException"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.0.0-rc2, 6.0.0 GA

**Plugins installed**: []

**JVM version** (`java -version`):
Java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Mac OSX 10.10.5

**Description of the problem including exp

[2017-11-15 16:19] jasontedor commented on #27399
This appears to be client side and this needs a reproduction as I suspect user error allowing concurrent modification error. I suspect that `source` is being reused and modified by multiple threads and that's going to lead to this.

[2017-11-15 17:56] ahlusar1989 commented on #27310
Than you! Do you mind assigning this time me @jimczi ?

[2017-11-15 18:01] jasontedor commented on #27310
Sorry @ahlusar1989, we are unable to assign issues to members of the community that are not in the Elastic organization.

[2017-11-15 18:23] jasontedor opened #27401 "Provide more actionable error message when installing an offline plugin in the plugins directory"
Today if you try to install a plugin from a distribution that sits inside the plugins directory, you get a non-actionable error message:

[code]

This is deliberate, we do not want anything in the plugins directory that is not a plugin, but we could provide a more actionable error message here. This behavior will be documented clearly after #27400 so this is low-priority.

[2017-11-15 18:50] mirabilos opened #27403 "missing licence information in Maven artefacts"
The `elasticsearch-2.4.6-sources.jar` file from Maven refers to “the NOTICE file distributed with this work” but there is none. It’s also missing from the `elasticsearch-2.4.6.jar` file where ASF projects commonly place it, as usually, only the binary is distributed.

The licence body itself is *also* missing from either file.

[2017-11-15 18:56] jasontedor commented on #27403
Sorry about this. You can obtain the license and the notice from the [repository](https://github.com/elastic/elasticsearch/tree/v2.4.6). For 5.0 and later this is fixed, the license and notice are distributed in the JARs. We are not making any releases from 2.4 so we are not going to fix this there. Given this, I am going to close this issue.

[2017-11-15 18:56] #27403 closed

[2017-11-15 18:58] rjernst commented on #24529
I realized that much later after my initial comment. But I agree with @tvernum's sentiment that this magic value handling will be error prone. I think instead we should do 2 things:

* Use a single identifier at the beginning of a string which means "this string will be substituted by the resulting evaluation of the string as painless code". I suggest `#` as it is not a valid operator or identifie

[2017-11-15 19:02] clintongormley commented on #27176
Hi @scottsom

We did spend a fair bit of time discussing this proposal, it certainly wasn't dismissed out of hand.

We were concerned with the fragility of possible solutions along with the need to introduce a new high-level concept to encapsulate this index-of-indexes.  Also, if we were to do something like this, we fully expect a long list of feature requests asking for different routing strateg

[2017-11-15 19:23] scottsom commented on #27176
Thanks, it would be easy to shoot yourself in the foot here so I definitely see the concern.

Any thoughts on adding support for custom index resolution strategies via plugins?

[2017-11-15 19:45] rjernst commented on #27356
In 6.0+, `SearchScript` has `getDoc()`.

Then your field does not have numeric doc values (or it doesn't exist).

In the future, please ask questions on [our forum](https://discuss.elastic.co/c/elasticsearch). We use github for feature requests and confirmed bug reports.

[2017-11-15 19:45] #27356 closed

[2017-11-15 20:07] Koc commented on #27356
To be honest - this is feature request for adding method to class or upgrading documentation :).

But why `docFieldDoubles(field).getValue()` returns values for same field?

[2017-11-15 20:52] abraxxa opened #27406 "cluster.routing.allocation.disk.watermark.flood_stage not updateable through cluster api"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.0.0, Build: 8f0685b/2017-11-10T18:41:22.859Z, JVM: 1.8.0_131

**Plugins installed**: [x-pack]

**JVM version** (`java -version`):
openjdk version "1.8.0_131"
OpenJDK Runtime Environment (build 1.8.0_131-8u131-b11-1~bpo8+1-b11)
OpenJDK 64-Bit Server VM (build 25.131-b11, mixed mode)

**OS version** (`uname -a` if on a Unix-like s

[2017-11-15 21:16] s1monw commented on #27406
I just downloaded 6.0.0 and ran the command, this is the result:

[code]

is it possible that you have a 5.6 node in your cluster?

[2017-11-15 21:16] jasontedor commented on #27406
This does not reproduce, I even copy and pasted your `curl` command:

[code]

From the server logs:

[code]

As such, I would like to see your server logs here (not only the response as you've shared here).

[2017-11-15 21:39] abraxxa commented on #27406
@s1monw yes I still have 5.6.3 nodes in the cluster as I'm in the process of upgrading using a rolling upgrade. Now that the 6.0.0 node is the master node the command did indeed work and I don't have to set it in elasticsearch.yml.
When should persistent be used and when transient? The docs don't mention that.
Thanks!

[2017-11-15 22:03] jasontedor commented on #27406
Closing as there is no bug. Persistent is for permanent setting changes, transient is for ones you only want to the next restart.

[2017-11-15 22:03] #27406 closed

[2017-11-15 22:04] abraxxa commented on #27406
Thanks for clarification. Please add the 'until the next restart' to the docs.

[2017-11-15 22:14] elasticmachine opened #29965 "SQL: ordering by the second field that is used in group by doesn't seem to work"
*Original comment by @imotov:*

To reproduce, load test_emp and execute the following query

[code]

The results are first sorted by year and only within each year they are sorted by `gender`:

[code]

[2017-11-16 00:12] siddharthlatest commented on #19778
Has this been implemented? A use-case I am looking at requires the response from the *latest* request to be rendered in the UI. Since server processing times may vary, and in my case, the latter timed request is usually a more pruned aggregation resulting in a quicker processing than the former one. In this scenario, being able to add timestamp as a meta-data would be a nifty way to resolve this s

[2017-11-16 00:46] jasontedor commented on #19778
@siddharthlatest The issue is open so no, it has not been implemented.

[2017-11-16 00:48] jasontedor commented on #27406
@abraxxa The docs say:

[2017-11-16 06:12] joshenders commented on #10015
Thank you very much for including the working configuration @clintongormley. I just ran into the same issue as @misterunknown. The documentation leads you to believe that `network.bind_host` and `network.publish_host` are the right settings to configure. Since this is such a common configuration maybe it's worth updating the docs to include a warning/suggestion for this kind of setup?
https://www.

[2017-11-16 06:43] apocarteres commented on #24468
@ncolomer thanks a lot. I faced the same issue in my project and found your plugin useful!

[2017-11-16 08:23] bra-fsn commented on #27374
I'm requesting this feature because I want to store data as much efficiently I can in Elasticsearch.
And this can be achieved if I don't store anything at all in the source, only in doc values (in native format). But the infrastructure is missing for this to be achieved, hence the issue.

[2017-11-16 09:17] jyoti0208 commented on #27151
I would like to work on this.

[2017-11-16 09:21] ywelsch commented on #27151
@jyoti0208 This is already assigned and there is already an open PR for this - no need to work on this.

[2017-11-16 09:30] jyoti0208 commented on #27151
Is there any other task which I can take as the first-time contributor for this project.

[2017-11-16 09:44] ywelsch commented on #27151
Sure, any issue marked as `adoptme` is up for grabs. Issues that are additionally marked as `low hanging fruit` should be simpler tasks.

Please also have a look at our [contributing guide](https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md) which will help you get started.

[2017-11-16 09:44] jyoti0208 commented on #27178
I would like to work on this.

[2017-11-16 10:29] #27336 closed

[2017-11-16 10:35] #27378 closed

[2017-11-16 11:07] clintongormley commented on #27330
++

We can deprecate their use in 6.x and say ("please replace with YYYY..."), then on upgrade to 7.0, we can auto-upgrade the mappings to use the equivalent date pattern format.

[2017-11-16 13:34] jimczi commented on #27316
+1, so the following uber-plugin:

[code]

... creates:

[code]

The uber plugin creates an entry in the plugins directory but only for the descriptor. The file is used for `remove` and `list` plugins in order to re-group the inner plugins with their parent.
The sub plugins are installed as normal plugins. The installation fails if any sub-plugin name clashes with a previously installed plugin.
Sh

[2017-11-16 14:38] ahlusar1989 commented on #27310
Thanks for clarifying @jasontedor. Thank you affording me the opportunity to work on this.

[2017-11-16 14:52] fluency03 opened #27410 "X-Pack Audit Trail logs cannot further specified"
**Describe the feature**:

When we enable X-Pack's Audit Trail as following:

[code]

What we would like to monitor are mainly two things;
- the login actions
- the actions performed by the *real actual* users, instead of also having `Kibana`, `logstash` and other NPA users.

However, in the audit logs, there are full of these logs from `principle` -  `Kibana` and other NPA users.  Because of ther

[2017-11-16 14:56] jasontedor commented on #27410
This issue is for open source Elasticsearch only while you're referring to closed source X-Pack. For this, please use the X-Pack category on the [forum](https://discuss.elastic.co).

[2017-11-16 14:56] #27410 closed

[2017-11-16 15:03] #25359 closed

[2017-11-16 17:00] tbrooks8 commented on #25891
I'm not sure where we are on this. I think based upon the discussion from the PR I produced we are mainly interested in possibly adding additional assertions in testing. In particular I think we would like to assert in our integration tests that circuit breakers are back to 0 at the end of a test. Simon describes this [here](https://github.com/elastic/elasticsearch/pull/26067#issuecomment-32368404

[2017-11-16 18:08] clintongormley commented on #24529
But it is a common character in strings, eg ref numbers.  Btw, I'm not tied to `<< >>`, I'd be happy to use `{{ }}` as well, or even `%% %%`. I just preferred the angle brackets because they stand out from json more.

I think this makes the simple case really ugly, eg compare:

    "The << job >> has failed << num >> times"

with

    "# \"The ${job} has failed ${num} times\""

[2017-11-16 19:25] elasticmachine opened #29967 "SQL: Handling of ORDER BY with arithmetic expressions in the presence of GROUP BY"
*Original comment by @imotov:*

When  GROUP BY is present an arithmetic expression in ORDER BY is getting translated into hit sort instead of aggregation sort.

To reproduce, load test_emp and execute one of the following queries

[code]

It is getting translated into

[code]

At the same time if we sort by a field with a single group by we get correct  elasticsearch query:

[code]
becomes
[code]

[2017-11-16 20:39] rjernst commented on #24529
No matter which character(s) is/are used, they are possible in strings, and so escaping will be necessary to use it *at the beginning* of a string.

Ugly is better than trappy. But I think if we have string substitution, we don't need to use the node replacement character at the beginning:

[code]

[2017-11-16 21:03] rjernst commented on #27316
I would not. Let's keep it simple. The uber plugin is simply a format for delivering multiple plugins.

[2017-11-16 21:05] afreeland opened #27413 "Failed to get watch, Failed to get monitoring watch on docker"
**Elasticsearch version** (`bin/elasticsearch --version`):  5.6.3

**Plugins installed**:
[code]

**Container**
Docker Community Edition (Version 17.10.0-ce-win36 (13788)) on Windows SQL Server 2016
ElasticSearch containers from [elastic.co](https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html)
**The page is now saying 6.0 but when I used it, literally a few days ago, it was

[2017-11-17 00:15] jasontedor commented on #27413
Sorry, this issue applies to the Docker containers and to X-Pack, neither of which we support directly here as this repository is for open source Elasticsearch only. If you encounter a bug using the Docker containers that relates strictly to the open source components of Elasticsearch (that is, the issue would reproduce without Docker) then we would address that here. Yet, for general help with th

[2017-11-17 00:15] #27413 closed

[2017-11-17 00:49] lukas-gitl opened #27419 "Bug: score of zero for function_score with nested bool filter query"
**Problem Description**:

Score of zero returned when using `function_score` with query that has a `nested bool filter`. Expected is that the function score actually reflects the `random_score` function result.

Using `explain` it seems that the query pollutes the score. According to [the documentation](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/query-dsl-function-score-query.html

[2017-11-17 01:58] tbrooks8 opened #27422 "[CI] Intermittent test failures with pages not released"
We have been getting intermittent failures related to pages not being released.

I think I have figured out what the issue is. When I look in the test logs I see the following log from netty:

[code]

Sorry the formatting is terrible. But it looks like netty will fail to schedule the listener to be executed if the event loop is shutdown. Instead it just logs the issue. So no one ever calls the lis

[2017-11-17 01:58] tbrooks8 commented on #27422
@jaymode @jasontedor

[2017-11-17 02:15] akotlar commented on #23336
With split_on_whitespace disabled in release 6, allowing keyword search_analyzer is critical. Else I would need to index both a text and keyword subfield for fields that would otherwise work well as keyword fields alone (to enable both terms aggregation and search on these fields when the query string is > 1 word).

The new split_on_whitespace behavior prevents me from upgrading to ES 6.

[2017-11-17 07:20] pavel-sbor opened #27423 "Crash of elasticsearch node"
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 2.3.3, Build: 218bdf1/2016-05-17T15:40:04Z, JVM: 1.8.0_121

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_121

**OS version** (`uname -a` if on a Unix-like system): Linux 3.10.0-327.22.2.el7.x86_64
Red Hat Enterprise Linux Server release 7.3 (Maipo)

**Description of the problem including expected versus actu

[2017-11-17 07:34] muthhus commented on #17637
Hi dadoonet,  Would you please provide me a right direction to get the solution for the above issue rather just not support 5.x version9(i.e Note that from 5.0, site plugins are not supported anymore.).

I am getting issue when i am installing plugin license ;;

/usr/share/elasticsearch# bin/elasticsearch-plugin install file:///usr/share/elasticsearch/license-2.4.6.zip
-> Downloading file:///usr/s

[2017-11-17 07:37] dadoonet commented on #17637
@muthhus Sure but not here. Please ask on discuss.elastic.co and provide all details about what you did, where did you download zip from...

[2017-11-17 08:18] spinscale commented on #27423
A segmentation fault is occuring during what seems a search request. This can hint at faulty hardware (i.e. memory). Is this a VM or a bare metal system?

You could try to upgrade to the latest JVM and maybe a newer Elasticsearch (as 2.3.3 is pretty old), but you should try to run on different hardware first and see if the problem remains.

[2017-11-17 08:22] spinscale opened #27424 "cat API help is broken when url parameters are specified"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.0.0

**Description of the problem including expected versus actual behavior**:

When the cat API is used on APIs that support URL parameters like index names, then calling those endpoints with `&h` to get help results in an error

**Steps to reproduce**:

[code]

[2017-11-17 08:44] bra-fsn commented on #27374
BTW, just to show how much you can gain from leaving fields out from source:

Stored type | Number of docs | Stored data in field | idx size (SRC1,DV0,IDX0) | idx size (SRC1,DV1,IDX0) | idx size (SRC0,DV1,IDX0)
----------- | ------------ | ------------ | ------------ | ------------ | ------------
binary | 1000 | 1024B random[1] | 1,392,330 | 2,419,600 | 1,042,213
long | 1000 | 1000 random longs[2]

[2017-11-17 08:58] DaveCTurner commented on #27371
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+multijob-unix-compatibility/351/os=ubuntu/ was another one.

[2017-11-17 09:25] colings86 commented on #27419
@martijnvg could you take a look at this?

[2017-11-17 09:33] itiyama opened #27427 "Pending tasks increase with increase in number of shards in the cluster during relocation."
**Elasticsearch version** (`bin/elasticsearch --version`): 5.1.1 , although the piece of code we are are having problems with does not have any major difference with 6.0.

**Plugins installed**: []

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): 4.9.38-16.35.amzn1.x86_64

**Description of the problem including expected versus actual behavior**:
We hav

[2017-11-17 09:44] jimczi commented on #27419
This bug was fixed in 5.2.0:
https://github.com/elastic/elasticsearch/pull/22172
The inner range query is rewritten on the shards but the custom `boost_mode` is lost in this operation and the default value (`multiply`) is used.
I tested with 5.6 and it works as expected, please upgrade to a newer version.

[2017-11-17 09:44] #27419 closed

[2017-11-17 10:19] ywelsch commented on #27427
Sounds interesting. The tricky part of improving the performance of the balancer for certain cases is to keep the solution generic and modular enough so that new allocation deciders can easily be added, and also making sure that other cluster configurations don't suffer performance problems due to this.
I would like to know more about this solution, especially the complexity that it adds to the ba

[2017-11-17 10:29] colings86 opened #27428 "Should the default precision for the geohash grid aggregation be lower?"
The current default precision of 5 gives a rough cell size of 5km x 5km which is great if the dataset is the UK or a US state but can be unwieldy for larger areas like the whole of the US or the whole of the world. At precision 5, there are 33,554,432 possible geohash buckets to collect during the collect phase on the shards. Whether all these buckets are collected depends a lot on how dense the d

[2017-11-17 11:40] swethapavan commented on #27319
@jimczi wanted some pointers on this  issue. I  was going through the code  and wanted to know if you meant to create an implementation  of AbstractDistanceScoreFunction that will just return  0 for the scores.  But I think the score function currently runs through  each  doc  id and  gives a score of 0 if it doesn't  exist.

[2017-11-17 11:45] itiyama commented on #27427
Yes, we are interested in working on PR. We have a working PoC ready. Just wanted to initiate a discussion before raising a formal PR.
Let me know if you want to take a look at the PoC itself. Will raise an informal PR.

We have taken care of other cases. New allocation deciders can be added, but now instead of adding a canRemain per shard, we need to add a canRemain per node as well.

As far as t

[2017-11-17 12:08] jimczi commented on #27319
@swethapavan an implementation of AbstractDistanceScoreFunction that returns a `org.elasticsearch.index.fielddata.FieldData#emptyNumericDouble` in `distance(LeafReaderContext)` should be enough.
`getLeafScoreFunction` will automatically return a score of 0 for documents that don't have a value for distance.

[2017-11-17 12:11] colings86 commented on #27062
To me this looks like the Rest action for your plugin has no registered correctly. So instead of the URL resolving to your plugin its falling back on resolving to `PUT {index}/{type}/{id}`. However since I cannot see your plugin code I cannot tell if there is an issue there.

Is there a log line printed out when you start Elasticsearch saying that your plugin has been loaded?

[2017-11-17 13:04] imotov commented on #27353
This is an interesting idea. We should definitely consider it for snapshot redesign, unless we go with the continues backup idea, in which case this is not going to be applicable.

[2017-11-17 13:08] bra-fsn opened #27430 "Crashing Elasticsearch node with a painless script"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.6.4, Build: 8bbedf5/2017-10-31T18:55:38.105Z, JVM: 1.8.0_151

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.17.10.2-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-like

[2017-11-17 13:49] HonzaKral opened #27431 "AUTO fuzziness doesn't work for completion suggester"
**Elasticsearch version**: `6.0`

When using `auto` fuzziness for completion suggester the `prefix` length is not taken into account so `1` is always used, even for long terms.

[2017-11-17 13:56] jimczi opened #27432 "Fail `span_multi` queries that don't use `top_terms_*` rewriting"
The span multi term query limits the number of expanded terms to search only if the inner multi term query uses `top_terms_N` rewrite. Otherwise it extracts **all** terms that match the inner multi term query and use them to build a giant `span_or` query without any limit.
We should force the inner multi term query to use a `top_terms_N` rewrite in order to limit the memory. Currently a prefix que

[2017-11-17 14:04] cbismuth opened #27433 ""doc" instance is always the same in Painless map scripts"
This is misleading when putting `doc` into a collection initialized in `init` script.

Is there any design/performance reason to do so?

In the log output below we have one `LeafDocLookup` memory address per shard.

[code]

Thanks,
Christophe

[2017-11-17 14:07] jimczi commented on #27432
Discussed in fixit Friday. We should limit the expansion to a sane value and improve the documentation around rewriting of multi term queries.

[2017-11-17 14:27] colings86 commented on #27428
We discussed this in FixItFriday and said that we would ideal want to have the precision automatic like we are doing for date histograms in https://github.com/elastic/elasticsearch/pull/26659. If that can be implemented soon then we don't need to make this change but we should make this a blocker for 6.3.0 and decide at that point whether we are going to do this based on whether we have the auto p

[2017-11-17 14:31] s1monw commented on #27353
we spoke about this and decided that we don't want to add a queue since it's nice to give feedback to the user immediately that we can't run more than one snapshot. There is also the fact that we don't queue long running processes and this one would be an exception.

[2017-11-17 14:31] #27353 closed

[2017-11-17 14:35] jimczi commented on #27374
Discussed in FixIt Friday The get API is very similar to a routed _search where the query is a simple `term` query on the `_id` field so we discussed the opportunity to use `_search` internally for `get` requests. This would give the opportunity to use any feature in search for the get case so `docvalues_field` would be accessible in a `get` request.
The main issue we have right now with `docvalue

[2017-11-17 14:36] jasontedor commented on #27430
@jdconrad The node is dying because of the class format error and we consider all errors fatal. Is the class format error expected here? Can we protect against it and give a clearer error message to the user without the node dying?

[2017-11-17 14:40] swethapavan commented on #27319
Thanks, I will do that

[2017-11-17 14:50] bra-fsn commented on #27374
I guess "use _search internally for get" will preserve the current behaviour of get, so it will do a refresh and only if it's needed (there are inflight changes)?
If so, that would be great.
I'm currently fine with what _search returns in docvalues_field. If these changes won't affect the efficiency of doc values, I'm fine with #26948 too. :)

BTW, I think the other issue doesn't really affects th

[2017-11-17 14:54] talevy commented on #27059
+1

I will open a PR soon to add [logstash-filter-translate](https://www.elastic.co/guide/en/logstash/6.0/plugins-filters-translate.html)-like support to Ingest
where one would be able to map keyword values to other values (the synonyms). This should help in a general way on the ingest side

[2017-11-17 14:59] jimczi commented on #27374
Yes

We have an agreement that we should use _search internally for get request.
This would save some lines in the code and let you use the feature that you want.
I'll mark this issue as adoptme so it's not an high priority but we have an interest for it ;).

[2017-11-17 15:03] jimczi commented on #27374
If so, that would be great.

And yes it should preserve real time refresh

[2017-11-17 15:06] markharwood opened #27435 "New query flag: allow_partial_results with default set to false."
There are various reasons today why a search could fail to produce all of the required results:

1) A failure to execute within a `timeout` associated with the search
2) Missing shards (ie a red index)
3) Failed shards - e.g. an error parsing the query

Until now elasticsearch has  attempted to to return partial results under these circumstances and report the partial status in flags in the search

[2017-11-17 15:07] markharwood commented on #27186
Closing in favour of broader flag for tolerating partial results: https://github.com/elastic/elasticsearch/issues/27435

[2017-11-17 15:07] #27186 closed

[2017-11-17 15:15] asuiu commented on #9879
Any workarounds? I can't create another index at all after getting this error. Is there any way to hard-reset ES ?

[2017-11-17 15:20] cbismuth commented on #27433
Here is our actual development pattern to work around this limitation.

[code]

[2017-11-17 16:30] aymone commented on #23486
@jasontedor 5.3.1 are incompatible with my services already in production, theres some workaround or fix for it?
I using fedora 26 too... @jay-dihenkar u found some fix for it?

[2017-11-17 16:40] #27371 closed

[2017-11-17 16:54] #27151 closed

[2017-11-17 17:20] jimczi commented on #27052
@mhko sorry for the delay answering this.
This is already fixed for the next release (6.1) by:
https://github.com/elastic/elasticsearch/pull/26137
which uses BigDecimal as you @scottsom suggested.

[2017-11-17 17:20] #27052 closed

[2017-11-17 17:34] rjernst commented on #27433
Please ask questions on [our forum](https://discuss.elastic.co/c/elasticsearch). We use github for feature requests and confirmed bug reports.

With that said, yes, there are performance reasons for the current architecture. Doc is not really a map of field to values, but instead just implements map over a view of iteration over the current lucene segment (this is why on LeafDocLookup is created p

[2017-11-17 17:34] #27433 closed

[2017-11-17 17:47] lukas-gitl commented on #27419
@jimczi Sweet. Thank you very much for the quick response!

[2017-11-17 20:31] #26886 closed

[2017-11-18 02:37] JRRan64 opened #27446 "URL Ingestor"
URL Ingestor to parse a URL into Protocol, Domain, Reverse Domain, Port, Path Parameters  Willing to take my first shot at Open Source Contributing if this does not already exist.   I've done it in SQL already

[2017-11-18 08:29] lagrianitis commented on #20586
Great idea! I have quite a few case I could use it without external scripting. +1

[2017-11-18 10:38] cwurm opened #27447 "Elasticsearch freezes on nested agg with tiny buckets and Painless"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.0.0, Build: 8f0685b/2017-11-10T18:41:22.859Z, JVM: 1.8.0_111

**Plugins installed**: []
no additional plugins, OSS download

**JVM version** (`java -version`):
java version "1.8.0_111"
Java(TM) SE Runtime Environment (build 1.8.0_111-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.111-b14, mixed mode)

**OS version** (`uname -a

[2017-11-18 11:28] cbismuth commented on #27433
Well understood @rjernst, thank you.

Sometimes questions remain [unanswered](https://discuss.elastic.co/t/aggregation-on-top-hits-aggregation-results/104598) on the forum.

[2017-11-18 12:44] cbuescher commented on #27446
@JRRan64 thanks for opening this feature request.This might be something you could do with the existing [Grok Processor](https://www.elastic.co/guide/en/elasticsearch/reference/master/grok-processor.html)? If no, what part is missing?

[2017-11-18 15:59] JRRan64 commented on #27446
Fantastic, can close. Grok Processor's URI pattern is 95% of what we need.  For other Grok newbies like me To see URI in action, And for a Grok resource.. ! grokdebug.herokuapp.com, enter a uri with protocol://domain:port/path?p1=xyz.&p2=1234

[2017-11-18 16:27] #27446 closed

[2017-11-18 17:42] alexshadow007 commented on #9879
@colings86 I think this issue was fixed by #24487

[2017-11-18 21:13] pavel-sbor commented on #27423
Thanks!
This is a VM.

[2017-11-19 07:21] orweinberger opened #27449 "Performance when using `time_zone` in date_historgram"
Running Elasticsearch 5.2.0 on Ubuntu with Kibana, single node, single index of 12m documents (4gb).

I'm experiencing a weird performance issue when using date histograms with the `time_zone` attribute.

The following query takes about 4 seconds to complete:

[code]

If I remove the `time_zone` attribute, it takes less than a second. On a different environment which has 8 data nodes and 1.5TB ind

[2017-11-19 19:31] alexshadow007 commented on #25515
@dadoonet This was fixed by #26361

[2017-11-20 01:41] DanielBaird commented on #25894
I also need to specify an individual character in my `edgeNGram` filter's `token_chars`.  In my situation, I need a hyphen `-` to be counted as an in-token character, without including brackets and whatnot.

[2017-11-20 03:47] xzer commented on #26943
@dakrone I am sorry for reply so late, because I was being concentrated on our production release in last month.

At first, I have to apologize that we finally found that the breaker count leak is caused by a plugin which is created by other team for some special aggregation process.

And still, I have question for the request limit break, as I described in my initial description, according tot he

[2017-11-20 09:08] ywelsch commented on #27447
you're asking for 5 years worth of buckets at second-level interval granularity and also force creation of empty buckets. This means creating 150 million buckets. Could take a while ;-) I guess we need another safeguard that prevents people to shoot themselves in the foot.
@cbuescher WDYT?

[2017-11-20 09:10] colings86 commented on #27447
You are asking Elasticsearch to produce 157,766,400 1-second buckets here and because you are using extended bounds the range of the data is irrelevant as the coordinating node has to generated the empty buckets around the data, so the coordinating node has to retrieve the buckets from the shards and hold that in memory and then also hold the result of the reduce in memory while also building empt

[2017-11-20 09:18] colings86 opened #27452 "Add a soft limit for the number of buckets created by extended_bounds"
At the moment there are no safeguards against creating histogram and date_histogram requests that produce a huge number of buckets on the reduce node because the number of empty buckets required by extended bounds is extremely high (see https://github.com/elastic/elasticsearch/issues/27447 for an example).

We should add a soft limit that ensures that the number of buckets required by the combinat

[2017-11-20 09:18] colings86 commented on #27447
I created https://github.com/elastic/elasticsearch/issues/27452 to address adding a soft limit

[2017-11-20 09:18] #27447 closed

[2017-11-20 09:29] colings86 commented on #27449
@cbuescher any idea why the timezone might be causing this performance degradation?

[2017-11-20 10:07] colings86 opened #27453 "`bucket_script` aggregation is not executed on empty buckets"
It seems that the `bucket_script` aggregation is not executed on buckets that have a doc count of zero. The following recreation script highlights this:
[code]

The response from the search request is:
[code]
In the response above the buckets with keys 2017-01-01T00:01:00.000Z to 2017-01-01T00:04:00.000Z should have a sub-aggregation `bucket` whose value should be `100` (the same as the `cumulativ

[2017-11-20 10:08] colings86 commented on #27377
This is actually a bug.

It seems that the bucket_script aggregation is not executed on buckets that have a doc count of zero. The following recreation script highlights this:

PUT test
{
  "settings": {
    "number_of_shards": 1,
    "number_of_replicas": 0
  },
  "mappings": {
    "doc": {
      "properties": {
        "@timestamp": {
          "type": "date"
        },
        "bytes": {

[2017-11-20 10:09] colings86 commented on #27453
Closed in favour of https://github.com/elastic/elasticsearch/issues/27377

[2017-11-20 10:09] #27453 closed

[2017-11-20 10:10] shaharmor commented on #27377
@colings86 You should reformat your comment, its not looking good

[2017-11-20 10:33] s1monw commented on #27452
Sounds good to me

[2017-11-20 11:21] olcbean opened #27454 "[build] Test `GeoShapeQueryTests#testPointsOnly` fails"
Running a local `check` fails in the `GeoShapeQueryTests#testPointsOnly` (682a85b2c16e195fbd8f019492df909a8fdf9318)

[code]
[code]
The failure is not always reproducible.

[2017-11-20 11:35] DaveCTurner commented on #27454
It reproduces for me (with the given `REPRODUCE WITH` line, including seed, locale and timezone)

[2017-11-20 11:35] DaveCTurner commented on #27454
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/819/

[2017-11-20 11:43] DaveCTurner commented on #27454
Bisected to 075c77fc81f9c1ebf243e23ca248c3bd863ae28d

[2017-11-20 16:48] jdconrad commented on #27430
@jasontedor class format errors should never happen.  However, there was a similar issue I was looking into recently (https://github.com/elastic/elasticsearch/issues/27210).  I meant to get back to this.  So I think I can fix this specific bug and will take a look into it this week.  As far the as the class format error goes, we can certainly prevent the node from dying, which shouldn't happen.  H

[2017-11-20 17:10] jasontedor commented on #27430
Okay, so this looks identical: the problem is the assignment from `void` (the invocation of `Collections#sort`). So there's a workaround for now: stop assigning from `void`, and then we need a fix in Painless to catch this at compilation time. I'm closing this as a duplicate of #27210.

[2017-11-20 17:10] #27430 closed

[2017-11-20 17:24] jasontedor commented on #27399
No additional feedback, closing.

[2017-11-20 17:24] #27399 closed

[2017-11-20 17:32] TimHeckel commented on #17151
I echo the sentiment that the documentation should change from:

`The initial search request and each subsequent scroll request returns a new _scroll_id — only the most recent _scroll_id should be used.`

to something like:

`The initial search request and each subsequent scroll request returns a _scroll_id that may be different from the previous one — only the most recent _scroll_id should be use

[2017-11-20 18:11] #27454 closed

[2017-11-20 18:45] andyb-elastic commented on #26480
Another in master

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/822/console

[build-822-testGetSnapshotsRequest.txt](https://github.com/elastic/elasticsearch/files/1488759/build-822-testGetSnapshotsRequest.txt)

[2017-11-20 18:48] andyb-elastic commented on #26480
Another in 6.0

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+oracle-periodic/1373/console

[build-1373-testGetSnapshotsRequest.txt](https://github.com/elastic/elasticsearch/files/1488768/build-1373-testGetSnapshotsRequest.txt)

[2017-11-20 18:58] gndcshv commented on #26293
Hi @ywelsch, ran our test on a 120 data node cluster running ES `5.6.4` build `8bbedf5`, both transport and HTTP were set to `netty4`. Could not reproduce stuck shards situation, ended up creating 44K+ shards without any issue.

[code]

Thanks for the fix! Next step - run performance tests to compare it to `5.4.1` on `netty3` transport.

[2017-11-20 19:00] jasontedor commented on #26293
Closed by #23559 and #26932

[2017-11-20 19:00] #26293 closed

[2017-11-20 19:02] jamesDrinkard opened #27458 "In Kibana 5.2.1, the autocomplete does not work for the "exists" keyword."
**Elasticsearch version** (`bin/elasticsearch --5.2.1`):

**Plugins installed**: []

**JVM version** (`java -1.8`):

**OS version** (` RHEL 6.9):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

 1.  Login to Kibana.
 2. Go to DEV Tools.
 3. Start working on a query and try to use the exists keyword.  All the other keywords have autocomplete work

[2017-11-20 20:49] chrisronline opened #27461 "CCS controlling node returns a 500 when the data nodes return a 404"
I have a CCS environment setup, using [the guide here](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-cross-cluster-search.html). It contains two data nodes and one controlling node. Both data nodes contain the same index, `test`, with a single document in each. One data node is running off `:9201`, the other off `:9202`. The controlling node is running off `:9220`.

This

[2017-11-20 21:44] andyb-elastic opened #27462 "[CI] MultiMatchQueryBuilderTests.testToQuery"
Consistently reproduces locally

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/784/console

[code]

[code]

Looks like @jimczi made some changes to this class a few days ago on 6.x, so assigning there, feel free to send it back if unrelated

[2017-11-20 22:17] revitalbarletz opened #27463 "Terms aggregation with nested Boolean field does not work"
with ES version 1.7 I have created the following index with the following mapping:
GET http://localhost:9200/ds1_fqvwhdrtbw/_mapping HTTP/1.1
User-Agent: Fiddler
Host: localhost:9200
Content-Length: 0

HTTP/1.1 200 OK
Content-Type: application/json; charset=UTF-8
Content-Length: 775

{"ds1_fqvwhdrtbw":
{"mappings":{
"docs":{"_all":{"enabled":false},
"properties":{
"a$author$c":{
"properties":{
"a$

[2017-11-20 23:01] javanna commented on #27461
@chrisronline can you please post the complete error that you are getting back?

[2017-11-20 23:41] andyb-elastic commented on #25335
Another one from testAutoExpandNumberReplicas2 on 6.0

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+multijob-unix-compatibility/os=opensuse/359/console

[code]

[code]

[2017-11-21 00:06] jasontedor commented on #27458
This should be opened against [elastic/kibana](https://github.com/elastic/kibana) as the dev tools are managed from that repository.

[2017-11-21 00:06] #27458 closed

[2017-11-21 00:14] m15o opened #27464 "ec2-discovery plugin document is not accurate."
**Elasticsearch version**: 6.0.0

**Plugins installed**: ec2-discovery

**Description of the problem including expected versus actual behavior**:

)
The document states ec2 service endpoint is automatically figured out by ec2 client, but I need to set the endpoint to make the plugin work.

This document is correct if the plugin uses AmazonEC2ClientBuilder to build AmazonEC2Client instance. But Ama

[2017-11-21 01:41] chrisronline commented on #27461
@javanna Sure, should have included that in the issue.

[code]

[2017-11-21 03:16] wuyunfeng opened #27465 "Translog [internal:index/shard/recovery/start_recovery]]; nested: AlreadyClosedException[translog is already closed]"
I find these related issues:
https://github.com/elastic/elasticsearch/pull/19035
https://github.com/elastic/elasticsearch/pull/15420
https://github.com/elastic/elasticsearch/issues/15333

Hope some one can explain my problem more definitely. thanks a lot.

Elasticsearch version 2.3
**Plugins installed**: [ crate-core ,discovery-srv]

**JVM version** (`java -version`):1.8.0_121

**OS version** (`un

[2017-11-21 03:30] jasontedor commented on #27465
I do not see a bug here, instead a situation that arose after you ran out of disk space. Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close thi

[2017-11-21 03:30] #27465 closed

[2017-11-21 05:02] wuyunfeng commented on #27465
@jasontedor

Our online cluster state is always yellow, because some replica shard is always in initializing state. and the

 [internal:index/shard/recovery/start_recovery]]; nested: AlreadyClosedException[tran
slog is already closed]

[2017-11-21 05:08] wuyunfeng commented on #27465
@jasontedor
The `RecoveryTarget`  method `doRecovery` snippet `if (cause instanceof AlreadyClosedException) {
                onGoingRecoveries.failRecovery(recoveryStatus.recoveryId(), new RecoveryFailedException(request, "source shard is closed", cause), false);
                return;
            }`
The **AlreadyClosedException**  seems not report to  **master** the failed recovery message,so t

[2017-11-21 09:11] jimczi commented on #27462
Fixed by https://github.com/elastic/elasticsearch/commit/3437191f172e53cc6f1beebdd322df48d73fb923
Thanks @andyb-elastic

[2017-11-21 09:11] #27462 closed

[2017-11-21 09:43] hayahyts opened #27471 "Keyset pagination feature request"
**Describe the feature**:
Guys I've been reading some concept which already exist but seem not to be known by a lot of people.
This is known by some as **Seed Method** or **Keyset Pagination** on this blog
[Keyset pagination by Markus Winand](http://use-the-index-luke.com/no-offset).

So I thought It'll be a great feature in ElasticSearch
Regards.

[2017-11-21 09:47] mr-mos commented on #23943
+1  synonym-filter should work with the _analyze endpoint
Any plans to fix this for ES 6.x?

[2017-11-21 10:08] jpountz commented on #27471
Offsets raise issues indeed, but not the one that this blog post mentions since Elasticsearch is pretty different from SQL databases. We already have the `search_after` feature as a way to perform "offset-less pagination".

[2017-11-21 10:08] #27471 closed

[2017-11-21 10:12] jpountz commented on #27463
If I read you correctly, 1.7 had a bug which is now fixed in 5.x, so there is not much to do?

[2017-11-21 10:13] jpountz commented on #27464
cc @dadoonet

[2017-11-21 10:21] jpountz commented on #27449
Slow downs when specifying a time zone are to be expected, especially in time zones that implement daylight saving time, as it makes the identification of the right bucket for a given date more complex.

[2017-11-21 10:21] #27449 closed

[2017-11-21 10:26] jpountz commented on #27432
Does it mean enforcing a top-terms rewrite or failing the query if there are more than X terms?

[2017-11-21 10:32] jpountz commented on #27423
This is likely an Elasticsearch bug due to a read on a closed mmap'ed file. Like @spinscale said, this is a pretty old version of Elasticsearch and this is a problem that got improved/fixed in the 5.x series.

If an upgrade is not an option for you, as a workaround for now you can switch to the `niofs` store instead of the default store which will fail with an exception and keep the cluster runnin

[2017-11-21 10:32] #27423 closed

[2017-11-21 10:41] #26118 closed

[2017-11-21 11:08] jimczi commented on #27432
I'd prefer enforcing a top-terms rewrite with an explicit option to limit the expansion:

[code]

Then we can fail the query if an explicit `rewrite` is set on the inner multi query or if `max_expansions` is greater than 1024. I also think that `max_expansions` should always be set and that we should fail queries without an explicit value. A default value would hide the new behavior which is break

[2017-11-21 12:57] Alexxfrolov opened #27475 "Search with scroll parameter allows to exceed max_result_window"
**Elasticsearch version** (2.4.0):

**JVM version** (1.8.0_121):

**Description of the problem including expected versus actual behavior**:
parameter `max_result_window `  is ignored when  search query with scroll parameter is performed.
Here is link to the question on stackoverflow:
https://stackoverflow.com/questions/47332789/search-with-scroll-parameter-allows-to-exceed-max-result-window
**Step

[2017-11-21 13:05] jimczi commented on #27475
Thanks @Alexxfrolov
This is already fixed by #19367 for v5

[2017-11-21 13:05] #27475 closed

[2017-11-21 13:44] ojusti opened #27477 "Searching with java.util.Date"
1. With the default mapping, Elasticsearch accepts java.util.Date as field values but not as query filters.
While indexing ES systematically transforms java.util.Date to long and back to some joda's date. While searching, ES calls Date.toString and then tries to use the field format and obviously fails.

2. Even if the field's format is modified to java.util.Date.toString's format "EEE MMM dd HH:m

[2017-11-21 13:47] polyfractal commented on #27376
I started to look into this, and while it's technically possible for the search to be profiled but not the subsequent scrolls... the code is kinda messy.  The place where we profile doesn't have access to clearing out the search context, so it needs several messy conditionals to disable profiling on the subsequent scrolls.

I think we should just throw an exception if `scroll` and `profile` are en

[2017-11-21 14:00] cbuescher commented on #27477
@ojusti thanks for raising this issue, this looks like a dupilcate of https://github.com/elastic/elasticsearch/issues/23014 to me. Can you please check if the linked issue really adresses the problem you face an then close this issue, otherwise please let us know what is missing in #23014

[2017-11-21 14:02] cbuescher commented on #21402
Docs are included in #27478, so I'm closing this, there is still a main issue to track this.

[2017-11-21 14:02] #21402 closed

[2017-11-21 14:41] ojusti commented on #27477
Duplicate of #23014.

[2017-11-21 14:41] #27477 closed

[2017-11-21 14:55] hanbj opened #27479 "Elasticsearch disk threshold decider"
The problems that we have encountered in producing clusters:
Due to the large amount of data, there are several nodes in the production disk utilization rate is more than 90%, check the ES log discovery:
High disk watermark [90%] exceeded on [XR6DsFmbQk267g3UFpbQCw][Sage] free: 17.9gb[4.8%], shards will be relocated away from this node, but through the df -h to see, soon disk usage dropped, so gue

[2017-11-21 15:52] nacimgoura opened #27481 "compatibility synonym with other filter ?"
Hello,
I have updated my elastic from 5.6.4 to 6.0.0 but I have a problem that I can't solve even with documentation.
- Elasticsearch version : 6.0.0
- Plugins installed: [analysis-icu, ingest-attachment, analysis-phonetic]
- OS version : Docker elastic in ubuntu 16.04.3

I can't update my settings, I have the `failed to build synonyms` error.

Here's my filter :
[code]
Here's my analyzer :
[code]

[2017-11-21 16:42] ludwigm commented on #22471
How to retrieve the the results of a Reindexing when the initial API call timed out as it tried to wait for completion? As long as the Reindexing was running I could see the status at: `GET _tasks?detailed=true&actions=*reindex`, but when the Reindexing was finished I could not see anything anymore in the tasks API or a .tasks index which was mentioned here. I was only able to tell that something

[2017-11-21 16:44] markharwood commented on #27187
Changing to add on-by-default search timeouts will be a dangerous change for existing clients when we are set to return partial results. We will need to  implement https://github.com/elastic/elasticsearch/issues/27435 first which moves us to error-by-default when we have partial results like timeouts.

[2017-11-21 17:02] elasticmachine opened #29969 "SQL: Ensure that client responses are serialized based on client's version"
*Original comment by @imotov:*

LINK REDACTED

[2017-11-21 17:03] jpountz commented on #27376
Since this doesn't work today anyway, I'm +1 to disallow profiling scroll requests for now and documenting it. We can always revisit later if we want to.

[2017-11-21 17:05] jpountz commented on #27432
Sounds good to me. Should it be a 7.0 change then?

[2017-11-21 17:10] elasticmachine opened #29970 "SQL: ensure proper conversion of values when we format output in CLI"
*Original comment by @imotov:*

Currently we convert values using Objects.toString() that doesn't work for dates that are represented as longs and might not work for other value types as well. Converted NOCOMMITs LINK REDACTED and LINK REDACTED.

[2017-11-21 17:23] jimczi commented on #27432
We can also add `max_expansions` as an override of the `rewrite` in 6.x. This would not break anything in that version and we can add a deprecation warning if the value is not set ?

[2017-11-21 18:20] jpountz commented on #27432
:+1:

[2017-11-21 20:13] jasontedor commented on #27479
I think that you're asking a question here rather that reporting a bug. Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-11-21 20:13] #27479 closed

[2017-11-21 20:17] aslamy commented on #27481
I also get this error.

[2017-11-21 21:10] mayya-sharipova commented on #27038
@colings86 What should a reasonable default limit on number of tokens? Will 10000 be a good limit?
Also, should we throw an error when number of generated tokens exceeds this limit, or should we silently stop producing more tokens when the limit is exceeded?

[2017-11-21 21:28] jmlucjav commented on #26408
I just realized that my email was not public at the time I opened this ticket. Is the pioneer program still on? do I need to do something?

[2017-11-21 22:01] pickypg opened #27486 "Post-Ingest Failure Handler"
This is a feature request that would enable `ingest` to be used as a handler for failed indexing attempts. The use case is straight forward:

Imagine that you have a lot of data (e.g., logging) that has a mostly-stable format. However, from time-to-time, there are changes that can come in that need to be manually cleaned up. Instead of requiring that the  user setup error handling in their clients

[2017-11-21 22:05] lukas-gitl commented on #25796
Also very interested in this.

[2017-11-21 23:30] lukas-gitl commented on #25796
We are now doing something like this to compute the minimum distance to nested children. Note that you will need to enable include_in_root for the nesting. Enjoy.
[code]

PS: *Not proud of this but it works*.

[2017-11-22 00:17] dedemorton opened #27487 "bin/elasticsearch-plugin list should display default message if no plugins are installed"
Elasticsearch should display a message if you run `bin/elasticsearch-plugin list` and no plugins are installed. The message should say something like: "There are no plugins installed".

New users (especially those who are familiar with Logstash) might run the command before installing plugins to see if any plugins are installed by default.

[2017-11-22 01:05] lopez83 commented on #26555
@jimczi Is there any problem if I work on the needed test?

[2017-11-22 03:35] shijiebei2009 commented on #20068
this works for me
[code]

[2017-11-22 05:11] cwurm commented on #27447
Thanks, @colings86. I agree it's a rather unusual query.

[2017-11-22 06:46] shijiebei2009 commented on #20068
@rjernst
when using script in elasticsearch, why must we use params._source to access _source in GET query, but use ctx._source to access _source in POST query, es v5.5.0

[2017-11-22 07:14] markwalkom commented on #26408
If you want to reach out to us (community@elastic.co) we will make sure the things that need to happen happen :)

[2017-11-22 07:25] jpountz commented on #27038
10k sounds good to me.

Ignoring tokens silently sounds trappy to me. I would rather fail the request.

[2017-11-22 08:41] liketic commented on #27377
Hi @colings86 Could you please provide some instructions to fix this? Thanks in advance!

[2017-11-22 09:01] martijnvg opened #27490 "[CI] RemoteClusterConnectionTests#testRemoteConnectionInfoBwComp test failure"
This failure reproduces.

[code]

[2017-11-22 11:38] hgfischer opened #27491 ""Dirty" data of other shards kept on disk after rerouting"
**Elasticsearch version** (`bin/elasticsearch --version`): `Version: 2.4.3, Build: d38a34e/2016-12-07T16:28:56Z, JVM: 1.8.0_144`

**Plugins installed**: []

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:

I removed 2 nodes from the cluster, using cluster shard allocat

[2017-11-22 11:49] swethapavan commented on #27073
Is this taken or can I pick it?

[2017-11-22 11:54] ywelsch commented on #27491
Please ask questions like this on our [discuss forums](https://discuss.elastic.co). Shard data is only deleted once that shard is fully allocated. If the health for the shard is green, then all extra copies will be deleted.

[2017-11-22 11:54] #27491 closed

[2017-11-22 12:06] ywelsch commented on #27073
@swethapavan sure, go ahead.

[2017-11-22 12:32] hgfischer commented on #27491
I already used the discuss forum about this same issue, but that place is near dead.
And I am not just asking questions. This was a problem report, that could lead to a bug fix.

BTW cluster was green when this happened.

[2017-11-22 13:14] hgfischer commented on #27491
Additional info. The cluster was already green. Adding 2 new nodes to the cluster, made it rebalance and it cleaned up dirty data from the node that was using too much disk space.

[2017-11-22 13:22] spiderdaimi opened #27492 "Visuals based on a boolean, ends up in a java.lang.IllegalArgumentException: Can't parse boolean value [0], expected [true] or [false]"
**Elasticsearch version**
[code]

**Plugins installed**
No

**JVM version**
[code]

**OS version**
[code]

**Description of the problem including expected versus actual behavior**:
Visuals based on a boolean, ends up in a `java.lang.IllegalArgumentException: Can't parse boolean value [0], expected [true] or [false]` Exception when applying a filter through these.
_Not sure if this is an ES or a Ki

[2017-11-22 13:42] s1monw commented on #27038
what is the plan here to use this limit. will we only limit highlighting usecases of also on indexing? I wonder if we should only do this for highlighting for now.

[2017-11-22 13:46] mayya-sharipova commented on #27038
I was thinking it only applies to `_analyze` API, as it is originated from this issue.

[2017-11-22 14:08] cbuescher commented on #27492
@spiderdaimi thanks for opening the issue. The rejection of "0" as a boolean value is expected in 6.0, all values other than `true/"true"` and `false/"false"` have been deprecated in 5.3.0 and are not supported any more in 6.0 (https://www.elastic.co/guide/en/elasticsearch/reference/5.6/boolean.html)
I don't fully know how this query gets created on the Kibana side, I assume you are also using the

[2017-11-22 14:20] cbuescher commented on #27492
@spiderdaimi Github doesn't seem to allow moving issues to other repos easily, I tried using https://github-issue-mover.appspot.com/ but that apparently would open the new issue in my name, so can I ask you to re-open this issue in the Kibana repo at https://github.com/elastic/kibana yourself? Sorry for that.

[2017-11-22 14:22] spiderdaimi commented on #27492
Sure, I will. Thx for fast feedback.

[2017-11-22 14:27] spiderdaimi commented on #27492
Recreated here: https://github.com/elastic/kibana/issues/15114

[2017-11-22 14:30] #27492 closed

[2017-11-22 15:16] #26962 closed

[2017-11-22 16:39] swethapavan commented on #27073
Thank you

[2017-11-22 16:56] rpedela commented on #27374
I understand there is an open issue around formatting, but would it make sense to always store source as doc values given the space savings? If that is not feasible right now (other than formatting), would that be a good long-term goal? To be clear, I am talking about an internal change not an API change.

As a user with a ~1.5 TB index, dramatic space savings shown in the table above is very appe

[2017-11-22 18:18] martijnvg opened #27497 "[CI] VersionUtilsTests#testGradleVersionsMatchVersionUtils failure."
[code]

This reproduces, but I don't know how to fix this.

The `VersionUtils.allReleasedVersions()` doesn't include 6.0.1 version, but `tests.gradle_index_compat_versions` list of versions does contain it. (based on `indexCompatVersions` variable in gradle). I think what `VersionUtils.allReleasedVersions()` is returning is correct, 6.0.1 has not been released yet, but this is not inline with `ind

[2017-11-22 18:48] DaveCTurner commented on #27497
Deeply related to #27397.

`indexCompatVersions` is what we test for index-compatibility against. Should we test `master` vs `6.0.1-SNAPSHOT`? I think yes, until we're sure we're not going to release `6.0.1` (i.e. on release of `6.2.0`.

[2017-11-22 20:13] markwalkom commented on #27491
Do you mean https://discuss.elastic.co/t/unbalanced-disk-usage-with-es-2-4-x/108591/? If so then we don't provide SLAs on either Discuss or GitHub issues, and a day hadn't even passed before you raised it here.

While I appreciate this may be urgent for you, we do ask that you have patience as the forums are actually pretty busy, despite no one immediately answering your thread :)

[2017-11-22 20:57] hgfischer commented on #27491
I wrote that because I have posted many other times there, and rarely have answers.

[2017-11-22 21:29] sitilge opened #27499 "Unable to start elasticsearch service"
Running `arch 4.13.12`, `elasticsearch Version: 6.0.0, Build: 8f0685b/2017-11-10T18:41:22.859Z, JVM: 1.8.0_144`

I am unable to `# systemctl start elasticsearch`

What is the workaround?

[2017-11-22 21:31] jasontedor commented on #27499
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and support and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-11-22 21:31] #27499 closed

[2017-11-22 21:32] jasontedor commented on #27499
If you open a topic on the forum, please feel free to link to it from here.

[2017-11-22 22:26] StephanX commented on #10005
Our use case is that we ingest logs kubernetes => fluentd (0.14) => elasticsearch, and logs that are emitted rapidly (anything under a millisecond, which is easily done) obviously have no way of being kept in that order when displayed in kibana.

[2017-11-23 02:35] jasontedor commented on #27073
I think we can fail earlier than the bootstrap checks so I'm not sure if this should be a bootstrap check, isn't it enough to be a check in node environment (we've done this in the past with the default path data issue)? I

[2017-11-23 03:47] hjxhjh commented on #25663
@jasontedor is this bug exist in version 2.4.5?

[2017-11-23 04:27] markwalkom opened #27501 "Improving the layout of multiple callouts"
Reported by @alanjames1987 [here](https://twitter.com/AlanJames1987/status/933548484300562432).

On [this page of the docs](https://www.elastic.co/guide/en/elasticsearch/reference/master/analysis-custom-analyzer.html) we have a config;
<img width="581" alt="screen shot 2017-11-23 at 15 22 07" src="https://user-images.githubusercontent.com/3184718/33158929-39717c9e-d062-11e7-9b5b-1d9f93cf3215.png">

[2017-11-23 05:51] jyoti0208 commented on #27424
I would like to work on this.

[2017-11-23 06:29] olcbean commented on #27424
hey @spinscale
I would like to have a go at this. I figured I will ask before doing the work, as the issue does not have an `adoptme` tag.
Thanks!

[2017-11-23 06:58] olcbean commented on #27424
@jyoti0208 oh crap! I just now saw your earlier comment ( browser did not refresh properly ). Sorry for jumping up the queue :)

[2017-11-23 07:56] bra-fsn commented on #27374
@rpedela: doc values won't preserve original structure. For the simplest case, if you store a list in _source, it will preserve order, doc values won't.
Not to speak about more complicated structures.
So storing data in doc values in mainly useful if you have "flat" data, meaning pure text (keywords) or numbers/bools or unordered lists of them.

[2017-11-23 08:12] Bharathkumarraju commented on #12366
[code]

[2017-11-23 08:12] Bharathkumarraju commented on #12366
I am getting below erroe

[code]

[2017-11-23 08:19] ywelsch commented on #27073
yes, I used bootstrap check in the larger sense here when I meant "a boot/start time check". It does not require the bootstrap checks code infrastructure.

[2017-11-23 08:25] colings86 commented on #27038
I was thinking that this should apply to anywhere we use analyzers at search time. So the `query_string_query`, `match` query` , etc. would apply this limit when analysing the query to stop queries that expand into massive number of tokens from running, and it would also apply to highlighting as @s1monw mentioned and the _analyze API could use this limit too as @mayya-sharipova mentioned

[2017-11-23 08:59] colings86 commented on #27377
I just look a look at the code around this and I think its going to need some thought around how we can fix this bug without adversely affecting other pipeline aggregations. The problem arises when we resolve the value for the buckets_path for the empty bucket in `BucketHelpers.resolveBucketValue` here (https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/searc

[2017-11-23 09:33] spinscale commented on #27424
feel free to go ahead! Thanks a lot for working on this!

[2017-11-23 10:06] SKumarMN opened #27502 "Total Cluster Document Count VS Total Documents Per Node Count Mismatch"
Elasticsearch Version 5.4.1
JDK: 1.8.131

The total number of documents I get when i do _cluster/stats is not matching with the total number of documents of all the nodes put together as shown in _nodes/stats API. Below is the snapshot which shows the difference . I have 3 node cluster. The doc count shown in cluster API matches the primary document count of all the indices obtained by _cat/indice

[2017-11-23 11:18] fesnault opened #27503 "elasticsearch ignores javax.net.debug system property"
Hi,
I am facing an SSL error with my configuration with searchguard, so I tried adding the -Djavax.net.debug=all system property to have more input. But whatever I do, the property is ignored. It appears in the jvm parameters in startup logs, but absolutely not SSL data is logged.

I tried adding it in jvm.options, in elasticsearch script itself in the start command, and in the ES_JAVA_OPTS config

[2017-11-23 12:26] floragunncom commented on #27267
@javanna @nik9000 ping

[2017-11-23 12:43] jasontedor commented on #27503
We do not ignore this parameter, and I can tell you from experience that it does indeed work to debug SSL issues (with X-Pack). However, we do not support Searchguard so I am going to close this issue.

[2017-11-23 12:43] #27503 closed

[2017-11-23 12:44] jasontedor commented on #27501
@markwalkom I think this should be an issue on [elastic/docs](https://github.com/elastic/docs)?

[2017-11-23 12:53] #27325 closed

[2017-11-23 13:39] fesnault commented on #27503
@jasontedor I mentionned SearchGuad just to inform you about the context. The issue is not about searchguard.
I added the parameter in elasticsearch script and no log appear. It IS an ES problem, not SG.

Please help me. If it works with you, can you tell me how you configure it ? I added the option in jvm.options as i did for the memory parameters, and the memory parameters are picked up, so why

[2017-11-23 13:43] fesnault commented on #27503
As you can see, the option is in the command line :

`
5203      9822 10.8 63.6 5825976 2496212 ?     Sl   11:14  15:51 /usr/bin/java -Xms2g -Xmx2g -XX:+UseConcMarkSweepGC -XX:CMSInitiatingOccupancyFraction=75 -XX:+UseCMSInitiatingOccupancyOnly -XX:+AlwaysPreTouch -server -Xss1m -Djava.awt.headless=true -Dfile.encoding=UTF-8 -Djna.nosys=true -Djdk.io.permissionsUseCanonicalPath=true -Dio.netty.noU

[2017-11-23 14:54] jpountz commented on #27435
This makes sense to me, though I'm not sure a cluster setting is required. We could just default to `false` and expect users who are not happy with this behaviour to override it in the request?

[2017-11-23 15:07] martijnvg commented on #27490
Fixed via: https://github.com/elastic/elasticsearch/commit/9ea29d73a9b90b7cd9bd338cfc7e7abaa9bc9634

[2017-11-23 15:07] #27490 closed

[2017-11-23 15:08] chrkv commented on #24069
Am I right that this problem is still present in newer versions?

[2017-11-23 15:12] jasontedor commented on #27503
The flag `-Djavax.net.debug=` is for debugging SSL/TLS with the JSSE. This is only relevant if you’re using a plugin that uses this framework (so is not relevant for open source Elasticsearch). Either:
 - you’re not using any SSL/TLS on top of the JSSE in which case the flag is not relevant
 - you’re using X-Pack Security with SSL/TLS enabled on HTTP or transport and we will happily support you
 -

[2017-11-23 15:18] jasontedor commented on #25663
@hjxhjh No.

[2017-11-23 15:27] markharwood commented on #27435
My assumption was that a server-side setting would be useful to those existing installations where you didn't want to rewrite all client applications that were knowingly used to consuming partial results. (Not sure how many of those exist though!)

[2017-11-23 16:57] s1monw commented on #26745
can not reproduce

[2017-11-23 18:06] stefando commented on #27481
The same issue with synonym filter:
"curaçao,cw,cuw" => term: curaçao analyzed to a token with posinc != 1

[2017-11-23 20:09] #25623 closed

[2017-11-23 20:39] imranazad opened #27506 "Highlighter causing 504 gateway error"
<!--

** Please read the guidelines below. **

**Elasticsearch version** (`bin/elasticsearch --version`): 5.6

**Description of the problem including expected versus actual behavior**:
Can anyone provide some help / advice / guidance on why I'm getting a 504 gateway error when running  a query against kibana with highlighting enabled? I've made a post on here
https://discuss.elastic.co/t/504-gatew

[2017-11-23 20:39] imranazad opened #27507 "Highlighter causing 504 gateway error on 5 node cluster when page size more than 30"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.6

**Description of the problem including expected versus actual behavior**:
Can anyone provide some help / advice / guidance on why I'm getting a 504 gateway error when running  a query against kibana with highlighting enabled? I've made a post on here
https://discuss.elastic.co/t/504-gateway-errors-when-using-postings-highlighter/10877

[2017-11-23 20:40] #27506 closed

[2017-11-23 21:17] DaveCTurner opened #27509 "VersionCollection does not support a 7.x branch"
At the moment, `VersionCollection` contains a special case for the `6.x` branch only. This means that `gradle check` will start to fail when the `7.x` branch is created because the `rolling-upgrade` and `full-cluster-restart` tests will try and check out a branch called `7.0` instead of `7.x`.

The same sort of thing will go wrong if the `6.x` branch is removed.

It's not clear how to fix this and

[2017-11-23 21:42] DaveCTurner opened #27510 "QueryBuilderBWCIT failing on 6.x"
[code]

This reproduces as follows:

[code]

See e.g. https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/717

This is testing BWC against 5.6.5 which hasn't been under test recently because of #27397, but now that's been merged this has shown up.

[2017-11-23 22:12] markwalkom commented on #27501
All my previous docs issues have been raised here, I'm open to moving it if that's the best place for this more-meta issue though :)

[2017-11-23 22:34] jasontedor commented on #27501
I think docs issues that are specific to content in this repository are good here, yet this one feels more like a meta-issue (as you say) that could impact any of our docs.

[2017-11-24 06:43] sand33p-23 commented on #23090
Is the fix only available in 6.x release or anything has been done for 5.x versions?

[2017-11-24 06:59] hjxhjh commented on #27223
version is 5.4.3

[2017-11-24 07:09] hjxhjh commented on #22285
do you have the plan to fix this problem in version 2.4.5 @jasontedor @nik9000
we see this bug in our es cluster with version 2.4.5。

[2017-11-24 07:25] DaveCTurner opened #27512 "Release tests failing on master"
[code]

Looks related to #27397 .

[2017-11-24 07:29] nithril opened #27513 "Completion suggester with supports for a query statement"
Hello,

**Describe the feature**:

The purpose will be to filter/boost the completion suggester result based on a query.

For example, an user makes a search with this input "elasticsearch suggester **comple**".

It can make sense to boost completion results for "comple" based on the preceding terms of the query. Eg. to promote completion for document that have a titles that contain "elasticsearch

[2017-11-24 07:53] #27497 closed

[2017-11-24 07:55] DaveCTurner commented on #27497
Thanks @martijnvg, you beat me to it!

[2017-11-24 07:58] martijnvg commented on #23090
@sand33p-23 The fix is available from 6.0. it has not been backported to a 5.x version.

[2017-11-24 08:10] jimczi commented on #27507
Thanks @imranazad.
I answered in the forum, we reserve github for confirmed bugs and feature requests, I hope you don't mind that I close this issue. Let's continue the discussion in the forum.

[2017-11-24 08:10] #27507 closed

[2017-11-24 08:13] martijnvg commented on #27510
This qa test was designed to run only against 6.0+ nodes. I'll fix that in this qa module's gradle file.

[2017-11-24 08:28] jimczi commented on #27481
@nacimgoura I am not able to reproduce your issue with the settings that you provided. Can you share the entire definition for your synonym, analyzer and field ?
The exception you're hitting is not new, the synonym filter analyzes the synonym rules with an analyzer and if multiple tokens are at the same position (stacked tokens) it fails. This can happen if you use an analyzer (tokenizer or filter

[2017-11-24 08:37] jimczi commented on #27513
The completion suggester is supposed to be fast, lightning fast. Adding a query to filter the results will inevitably slow down the process since the completions are built in a data structure that is decorrelated from the index itself (it is not possible to run conjunctions efficiently). Though this functionality exists in the library that we use (the completion suggester is in Lucene) but it is n

[2017-11-24 08:37] #27513 closed

[2017-11-24 08:44] #27323 closed

[2017-11-24 08:52] martijnvg commented on #27510
Fixed by the 3 above commits in the respective 6.x, 6.1 and 6.0 branches.

[2017-11-24 08:52] #27510 closed

[2017-11-24 09:02] DaveCTurner opened #27514 "AssertionError in InternalEngineTests.testRefreshScopedSearcher"
`InternalEngineTests.testRefreshScopedSearcher` threw an `AssertionError` in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/858/console

[code]

[code]

This did not reproduce for me locally.

[2017-11-24 09:17] ywelsch commented on #27223
Looks to be #25380 then. Can you try to upgrade to the latest 5.6 version and see if that fixes the issue?

[2017-11-24 09:17] #27223 closed

[2017-11-24 09:22] nithril commented on #27513
From my understanding, the fundamental difference is that the completion suggester returns suggestions whereas a regular query will not return suggestions but the whole matching document.

So yes the document will match, but then how to extract the matching term?

[2017-11-24 09:26] jimczi commented on #27513
The completion suggester in es 5 is document-based, it returns documents, not suggestions so the issue is the same. The completion field contains the entire suggestion and the completion query will return documents that match, then you can extract the suggestions from the completion field inside the `_source`.

[2017-11-24 09:40] nithril commented on #27513
Sorry but the completion suggester return suggestion [cf. the documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters-completion.html)

In the above example, it returns "nirvana"

[code]

Is there a misunderstood?

[2017-11-24 10:12] nacimgoura commented on #27481
Hi @jimczi, this is my entire definition :
[code]

[2017-11-24 10:13] jimczi commented on #27513
Sorry I see how this can be misleading. It returns the suggestion value that match inside the document, so if you have two values for the suggestion field it will return the value that match in the `suggest` field but the result is a document. You can have multiple documents that contain the same suggestions and in such case the suggester will return one hit per matching document.

Regarding your

[2017-11-24 10:26] albertzaharovits commented on #27502
Docs count from replicas are not counted.

Docs count is very similar. Most likely an automatic [refresh](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/indices-refresh.html) triggered on some of the shards in between the `_cluster/stats` and `_nodes/stats` operations (which are asynchronous and composite).

Please first visit the [forum](https://discuss.elastic.co/c/elasticsearch) fo

[2017-11-24 10:26] #27502 closed

[2017-11-24 10:51] SKumarMN commented on #27502
@albertzaharovits
Thanks for your reply. When I took the snap, I had made sure there wasn't any indexing happening and I saw the same stats for hours together. Hence raised it an issue here.
I did manually invoke _refresh and when i execute the stats command i still same results.
Cluster doc count matches the  sum of all the primaries obtained via _cat/indices api.  sum of doc count obtained using

[2017-11-24 11:10] A-Tokyo commented on #5512
+1

[2017-11-24 11:21] jimczi commented on #27481
Sorry this is a new behavior in 6.0:
https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_60_analysis_changes.html
In 6.0 the `synonym` and the `synonym_graph` filters have changed. They now apply all the filters that appear before them in the chain to build their synonym rules. o
For the `french_heavy` field, the `french_synonym` filters appears after 5 filters:
[code]

This m

[2017-11-24 11:21] #27481 closed

[2017-11-24 11:53] floragunncom commented on #27503
@fesnault Search Guard supports of course `-Djavax.net.debug=`. If you use OpenSSL you will see not so much output because, as mentioned above, the flag is only relevant for Java SSL (JSSE). But some info is printed out anyhow. Log output goes to stdout.

[2017-11-24 12:03] #21978 closed

[2017-11-24 12:21] mayya-sharipova opened #27517 "Limit the number of analyzed tokens during highlighting"
Limit the number of analyzed tokens during highlighting.
The maximum number is be 10K, and could be modified through an index setting.
If the limit is exceeded, return a flag that highlights are returned with partial results

This limit does **NOT**  apply if documents used postings, indexed with offsets or term vectors.

relates to #27038
depending on the implementation approach, can be a duplica

[2017-11-24 12:39] jimczi commented on #27038
We had a chat with @colings86 and @mayya-sharipova about this and decided that it would be difficult to apply the same limit to queries and highlighters.
For queries, it should be simpler to limit the size of the input to a few kbytes and get done with it since we don't want/need to handle big queries in `query_string` or `match` queries.
For highlighters, the main issue is when the field is not i

[2017-11-24 12:42] fesnault commented on #27503
@floragunncom thanks for the input.
But that's what bothers me, I'm not using OpenSSL, as your log shows

`
[2017-11-24T07:58:41,844][INFO ][c.f.s.SearchGuardPlugin  ] Node [ppjbies1] is a transportClient: false/tribeNode: false/tribeNodeClient: false
[2017-11-24T07:58:41,844][INFO ][c.f.s.SearchGuardPlugin  ] FLS/DLS module not available
**[2017-11-24T07:58:41,857][INFO ][c.f.s.s.DefaultSearchGua

[2017-11-24 12:47] jpountz commented on #27038
This is not correct. :) This issue originated from an admin who wanted to prevent callers of the `_analyze` API from making the cluster run out-of-memory. So I think we should keep it open and address it?

[2017-11-24 12:50] jimczi commented on #27038
Oups I mixed two cases then sorry. Let's reopen, sorry for the noise I got confused with the comments.

[2017-11-24 12:59] jimczi commented on #27038
So let's just add a limit for the `_analyze` endpoint and fails the request if the number of produced tokens hits the limit:
@mayya-sharipova @colings86 ^^

[2017-11-24 13:02] jasontedor commented on #22285
@hjxhjh As I explained [yesterday](https://github.com/elastic/elasticsearch/pull/22317#issuecomment-346644676), this bug is not present in 2.x and the 2.x series is no longer under maintenance.

What you are seeing in your cluster has the same symptoms as the bug here, but I assure you that the cause is not the same, it's a different bug. In the same way that you can be vomiting (the symptom) beca

[2017-11-24 13:13] byronvoorbach commented on #10846
Is there anything I might be able to do to help with this issue?

[2017-11-24 13:40] albertzaharovits commented on #27502
@SKumarMN
You are right, the two metrics do differ.
`_cluster/stats` and `_cat/indices` return stats from lucene internals.
`_node/stats` and `my_index/_count` return documents from the ES perspective, by doing a search.
The two values can be different if, for example, there are nested documents; Nested documents are counted by lucene but not by ES.

[2017-11-24 13:57] #20498 closed

[2017-11-24 14:06] s1monw commented on #27461
I removed the discuss lable @javanna can you follow up on this?!

[2017-11-24 14:08] s1monw commented on #27486
We discussed this in fixit friday and decided to not do this since we believe that error handling should happen on the client side. It's also has some implication that are non trivial and hard to get right. For instance:

 * how many failed requests do we queue and do we reject falied ones at some point
 * how do we handle this if the request is handed on a node that is not an ingest node?
 * what

[2017-11-24 14:08] #27486 closed

[2017-11-24 14:13] colings86 commented on #27377
Discussed in FIxItFriday and we decided that this is requires more in depth discussion within the Search and Aggregations team

[2017-11-24 14:19] markharwood commented on #27312
We discussed this on FixItFriday - I'm not sure this architecture is to be encouraged where elasticsearch is exposed directly to browser access. There should be more of a layered architecture with a server-side component that would be capable of adding client IP information to the source of the JSON documents sent to elasticsearch.

[2017-11-24 14:19] #27312 closed

[2017-11-24 16:43] jpountz opened #27521 "[CI] Vagrant tests fail with logging error"
See eg. https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/2175/console.

[code]

This started failing after core-cli was made its own module #27114, so it might be related? cc @hub-cap

[2017-11-24 17:00] jasontedor commented on #27521
I think there is a bad bug here and this is a blocker for 6.1.0.

[2017-11-24 17:03] jpountz commented on #27521
OK, I added labels.

[2017-11-24 17:18] dadoonet commented on #27487
I think this is on purpose: See #8563
I can't find the PR that changed the behavior though.

[2017-11-24 17:28] jasontedor commented on #27487
This is indeed intentional and I don’t think we are going to make any changes here.

[2017-11-24 17:28] #27487 closed

[2017-11-24 18:04] rpedela commented on #27374
Would #26948 solve that problem?

[2017-11-24 18:09] danielkasen opened #27522 "New nodes can't join in yellow state on ES 6.0"
ES 6.0.0

**Plugins installed**: ['x-pack','discovery-ec2']

**JVM version** (`java -version`): openjdk version "1.8.0_141"

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:

If cluster is in yellow state a new node can't connect to the cluster via ec2-discovery. In order to get my cluster working after th

[2017-11-24 19:57] markwalkom commented on #27501
https://github.com/elastic/docs/issues/265

[2017-11-24 19:57] #27501 closed

[2017-11-24 20:14] jasontedor commented on #27522
This is not expected. Do you have any logging to support your hypothesis?

[2017-11-24 20:23] danielkasen commented on #27522
I tried enabling debugging to see if there was any actual useful info but this is all I was able to get. But then I lowered my replicas to 0 and it connected right when the cluster went green. Basically I can repo this by getting the cluster into a yellow state and then spinning up a new node.

 [2017-11-24T00:15:54,894][DEBUG][c.a.a.AWS4Signer         ] Generating a new signing key as the signing

[2017-11-24 20:39] jasontedor commented on #27521
I opened #27523.

[2017-11-24 20:53] jasontedor commented on #27522
Can you please set `logger.org.elasticsearch.discovery` to `trace` on the master node and the node that will not join in this state and share the logs from the failed join attempt (starting with `joining master {}` on the node and the corresponding timestamp on the master)?

[2017-11-24 21:40] danielkasen commented on #27522
Hmm so I think this might have something to do with having indexes on 5.6 because when I gave up and cleared out my test cluster that had old indices the problems seems to have vanished. It's working in the desired way now.

[2017-11-24 22:11] jasontedor commented on #27522
We do have validation that if the security index is still on the 5.x format and 6.x nodes try to join the cluster then we reject them, but this gives very clear error messages and has nothing to do with being green versus being yellow. I can not think of what this would be that would let a node join when the cluster is green but not yellow.  As such, I am going to close this issue. If you are able

[2017-11-24 22:11] #27522 closed

[2017-11-25 08:30] bra-fsn opened #27525 "Circuit breaker grows indefinitely when >2GiB of mget is issued (and possibly at other places as well)"
https://discuss.elastic.co/t/circuit-breaker-always-trips/109067

**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.6.4, Build: 8bbedf5/2017-10-31T18:55:38.105Z, JVM: 1.8.0_144

**Plugins installed**: [analysis-icu]

**JVM version** (`java -version`):
openjdk version "1.8.0_144"
OpenJDK Runtime Environment (build 1.8.0_144-b01)
OpenJDK 64-Bit Server VM (build 25.144-b01, mixed

[2017-11-25 14:09] jasontedor commented on #27525
Thanks for the report. It is easy to make this reproduce and this bug only exists in 5.x.

@s1monw The problem here is we are not closing the releasable bytes stream output when we throw an exception before attaching a send listener to the channel so we leak. I would like to fix this by backporting #24927 to 5.6. This ensures that we always close the releasable whether or not we attached the send

[2017-11-25 16:40] #27521 closed

[2017-11-25 17:50] dadoonet opened #27527 "Publish analysis-common artifact so we can use it in IT tests"
I'm trying to test a plugin I'm building.

I'm using Maven for this plugin.
I extended `ESIntegTestCase` class but sadly it starts without `analysis-common` module:

[code]

Which means that I can not register the following custom analyzer in my tests because `asciifolding` is not available:

[code]

Is it possible to publish this module so we can add it in our tests?

[2017-11-25 17:58] jasontedor commented on #27527
I don’t think we should do this. We publish only the modules that expose a client API because we have to yet for the rest we want to encourage standing up a standalone Elasticsearch node instead of internal cluster integration tests.

[2017-11-25 17:58] mattweber commented on #27527
I wish you published all modules for this exact reason.  I run into issues due to missing painless module all the time and am sure I will run into it when I port plugins to 6x because of analysis-common module as well.

[2017-11-26 03:44] hanbj commented on #27479
Ok, Thanks.

[2017-11-26 07:26] hjxhjh commented on #22285
got it. thank you @jasontedor

[2017-11-27 09:52] rmgarg22 opened #27532 "HTTP Security Header Not Detected Vulnerability"
Our vulnerability scanning tool, the absence of the following HTTP headers X-Frame-Options, X-XSS-Protection, X-Content-Type-Options has been reported. Can this be included in the upcoming versions.
Version we use currently are as below:

Elasticsearch(ELK): 1.2.1
Logstash(ELK): 1.4.1
Kibana(ELK): 3.1.0

[2017-11-27 09:55] tlrx commented on #27061
Closing as no feedback provided.

[2017-11-27 09:55] #27061 closed

[2017-11-27 10:03] elasticmachine opened #29972 "Mapping for cluster_stats.indices.shards.total"
*Original comment by @robin13:*

I see that there are many fields in the `_source` which are not indexed.  Specifically `cluster_stats.indices.shards.total` would be very useful to be able to create visualisations about this (and other cluster_stats metrics).
Would it be possible to create mappings for these as-yet unused fields so that the data can be used in custom visualisations before they are

[2017-11-27 10:46] c0da opened #27533 "illegal_argument_exception while reindexing"
Hello everyone,

I'm trying to migrate from 5.6.4 to 6.0, and upgrade assistant detected some indices that need to be reindexed.

While trying to reindex, some of them are failing with the following error:
[code]
Does anybody know to fix this?

Thanks in advance!

[2017-11-27 11:20] albertzaharovits commented on #27532
Thank you for your interest @rmgarg22 .

Elasticsearch is a REST API server that returns resources as JSON documents, not HTML. The Headers you are mentioning are to be interpreted by a browser which should not interact directly with Elasticsearch. These returned resources are not to be interpreted by a browser, but by a JSON parser which does not care about the HTTP Headers.

You might want to ta

[2017-11-27 11:20] #27532 closed

[2017-11-27 13:31] bleskes opened #27536 "Translog Operations with no sequence numbers fail recoveries after a rolling upgrading to 6.0"
During a rolling upgrade shards on 6.0 nodes should be able to work with operations with no sequence numbers when the primary is still on a 5.6 node. After the primary is on a 6.0 node, it will start generating sequence numbers for all shard copies. To simplify the number of edge cases we have to deal with we have designed the code to only make the transition in one direction - i.e., once a shard

[2017-11-27 13:34] clintongormley opened #27537 "Unable to delete archived index settings"
Unknown index settings from 2.x are moved to the `archived` namespace on upgrade to 5.x.

These settings are impossible to delete as the `archived.*` setting pattern is changed to `index.archived.*`, which does not exist.

In 2.x, run:

[code]

In 5.x, run:

[code]

returns:

[code]

Running:
[code]

returns: `unknown setting [index.archived.*]`

[2017-11-27 13:56] albertzaharovits commented on #27533
Hello @c0da

The index you are trying to migrate to v6 has been migrated in the past from v2 to v5.
Unfortunately you have hit a double corner case:
1. the automatic migrate tool does not handle it (and causes the error you reported)
2. a bug preventing the removal of the `archived` index settings namespace https://github.com/elastic/elasticsearch/issues/27537

The workaround is to recreate the in

[2017-11-27 14:01] epixa commented on #26760
@rjernst Is there anything you need from us to help with this?  @Bargs mentioned that this was high severity for us a couple weeks ago, but now that 6.x is bumped to 6.2 and we're working on getting 6.1 stable enough to release, this has become critical.  We can't run CI on 6.x at all, and both master and 6.1 CI are running against commits that are a couple months old (July).

[2017-11-27 14:09] dnhatn opened #27538 "[CI] TruncateTranslogIT#testCorruptTranslogTruncation fails"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-darwin-compatibility/365/console.

[code]

Unable to reproduce locally:

[code]

Log: [consoleText.txt](https://github.com/elastic/elasticsearch/files/1505971/consoleText.txt)

[2017-11-27 15:13] jakubneubauer commented on #19415
Whilst the guys here spent LOT of time meta-discussing usage of the right words in the discussion, @ctron made it! You are the absolute winnder, bro!

[2017-11-27 15:25] psytraxx opened #27539 "Multi Index Phrase Suggestions return only suggestions from single index"
**Elasticsearch version**  5.5.3

**Plugins installed**:  none

**JVM version** standard docker image

**OS version** standard docker image

**Description of the problem including expected versus actual behavior**:

Setup multiple indicies using a commonly shared field used for phrase suggestions

Expected result:

suggestions are returned based on data in each index.

Actual result.

only suggest

[2017-11-27 16:24] markharwood commented on #27435
We discussed this further and agreed a cluster-level setting would provide administrators with a useful BWC tool for existing apps if we decide to default searches to throwing errors on partial results.
We are still undecided if the default will be changed to throw errors but having a cluster-level setting will help mitigate the impact of such a decision.

[2017-11-27 16:32] colings86 commented on #27377
Discussed with the search and aggs team and we decided that we should pass the actual value to the script (instead of converting it to NaN or 0.0 using the gap policy and also pass the doc count of the bucket to the script so the user writing the script can know if the bucket is empty and decide how to interpret the value

[2017-11-27 16:34] colings86 commented on #27170
We discussed this in the search and aggregation team and we said that we can see the use case for this and think we should support it but we want to fold it into other discussions we are having around dynamic  mappings, index templates and auto creation of indexes to make sure our decisions on those take this into account

[2017-11-27 16:40] DaveCTurner commented on #12416
The offending test was marked `@AwaitsFix` in July 2015 so hasn't been running for a while. Can it be reinstated?

[2017-11-27 16:42] DaveCTurner commented on #11533
The [offending tests](https://github.com/elastic/elasticsearch/blob/43a91f4184d8dfe45cf82b7a300f1d6baa438af0/plugins/discovery-azure-classic/src/test/java/org/elasticsearch/discovery/azure/classic/AzureTwoStartedNodesTests.java#L41) were marked `@AwaitsFix` in June 2015 so haven't been running for a while. Can they be reinstated?

[2017-11-27 17:41] dakrone commented on #26943
@xzer the request breaker is a global breaker for *all* requests in the system, so the bytes are counted for a particular request, but the limit is global.

Going to close this now since it was caused by a plugin.

[2017-11-27 17:41] #26943 closed

[2017-11-27 18:05] simianhacker opened #27544 "Cumilative Sum doesn't work with other pipeline aggregations"
Cumulative sum aggregation returns an error when using it with other pipeline aggregations. This happens consistently with both bucket_scripts and derivatives.

Steps to Reproduce:

1. Index some Metricbeat data
2. Run the following query:

[code]
3. Receive following response:

[code]

[2017-11-27 19:37] jacksonrayhamilton commented on #17724
@rjernst I am getting the same error as @failedguidedog when attempting to install Elasticsearch 1.7 on Debian 9.

The following commands:

[code]

Yield:

[code]

[2017-11-27 19:44] rjernst commented on #17724
@jacksonrayhamilton This is a closed issue from over a year ago. Elasticsearch 1.7 was released ~2 years ago. Nothing has changed regarding the apt repository for it. I'm not sure what could be the matter, but nothing will be changed for an ancient release. You should upgrade to a recent release.

Also, please ask questions on [our forum](https://discuss.elastic.co/c/elasticsearch). We use github

[2017-11-27 21:16] jacksonrayhamilton commented on #17724
Sorry for reviving an old issue.  Debian takes a while to do a major release, so these issues take a while to rear their head (it wasn't an issue in Debian 8 and Debian 9 was only released a few months ago).

Given that the setup guide is still publicly hosted at https://www.elastic.co/guide/en/elasticsearch/reference/1.7/setup-repositories.html and instructs this, I think this is still a current

[2017-11-27 22:26] jasontedor commented on #27544
@simianhacker The server logs should contain a stack trace for that null pointer exception. Do you have it?

[2017-11-27 22:31] alissonsales opened #27550 "Issue with sliced scroll using routing"
Hi all, first a quick disclaimer, I'm not entirely sure if the following is a bug or documentation issue. After reading the [sliced scroll](https://www.elastic.co/guide/en/elasticsearch/reference/5.5/search-request-scroll.html#sliced-scroll) section from the scroll API docs I got the impression that sliced scroll is supposed to work when targeting a single shard.

**Elasticsearch version** (`bin/e

[2017-11-27 22:36] s1monw commented on #27550
I think it’s expected as of today from how it’s implemented but we should really try to fix it to also work if there is more than one shard and routing is used, I agree it looks like a bug! Thanks for opening this issue

[2017-11-27 23:08] simianhacker commented on #27544
Woops... forgot to add that... here you go:

[code]

[2017-11-27 23:18] jasontedor commented on #27544
Thanks. It looks like an NPE from unboxing a null, although that appears to only arise if an invalid aggregation path exception was swallowed previously.

Can you take a look @colings86?

[2017-11-28 01:34] xzer commented on #26943
@dakrone according to the official document as following, we understood that it means the breaker is per-request, not in global. So I believe the document need to be modified to clarify how the breaker is working.

[2017-11-28 02:42] dakrone commented on #26943
@xzer for the difference between the request and inflight_request breakers, I'm adding a bit more info about them here: https://github.com/elastic/elasticsearch/pull/27116/files#diff-c35a409b177f40a4be365a147eefa2f9R45

For what I meant for "per-request" versus "global", I mean the 60% limit is global, and each request increments the amount, so let's say you have 3 concurrent requests, using 10%,

[2017-11-28 02:50] xzer commented on #26943
@dakrone thanks for your information and now I understand the difference between them.

But I still wish the document to be modified to explain what is per-request and what is global as you explained here. The current description is really misleading readers.

[2017-11-28 03:21] dakrone commented on #26943
Sure, I will work on a PR to explain then better, thanks for the suggestion!

On Nov 27, 2017 7:50 PM, "xzer" <notifications@github.com> wrote:

@dakrone <https://github.com/dakrone> thanks for your information and now I
understand the difference between them.

But I still wish the document to be modified to explain what is per-request
and what is global as you explained here. The current descript

[2017-11-28 07:36] gkinsman opened #27552 "Support DelimitedTermFrequencyTokenFilter"
**Feature Request**

I'd like to use the DelimitedTermFrequencyTokenFilter that was added to Lucene 7, but it doesn't appear to be available via Elastic's API yet.

AFAIK it just needs to be added to [CommonAnalysisPlugin.java](https://github.com/elastic/elasticsearch/blob/4885acb048ad4ade6e3068d65116e29ed5f701ac/modules/analysis-common/src/main/java/org/elasticsearch/analysis/common/CommonAnalysi

[2017-11-28 09:01] colings86 commented on #27544
I think this occurs because for an empty bucket (a bucket where the doc count is 0), the bucket_script is skipped and doesn't output anything for the bucket. This means that when the cumulative sum aggregator try to access the bucket script value for that bucket it can't find it (hence the invalid aggregation path) and null is returned. This issue relates to https://github.com/elastic/elasticsearc

[2017-11-28 09:02] colings86 commented on #27377
We should ensure that the solution to this issue also fixes the issue in https://github.com/elastic/elasticsearch/issues/27544

[2017-11-28 09:26] jimczi commented on #27550
Yes this is expected because only the total number of shards per index is used to perform the slicing.
We could take the routing into account but we have multiple ways to filter/route searches based on the sharding. For the simple routing case where a single shard is selected per index this is simple since we just need to pass this information to the shard request (the slices are resolved in the s

[2017-11-28 09:34] DaveCTurner opened #27554 "AzureMinimumMasterNodesTests @AwaitsFix because of flakiness"
[These tests](https://github.com/elastic/elasticsearch/blob/7ac361d86ecae47052b4132e63c5c3e97a09ccc7/plugins/discovery-azure-classic/src/test/java/org/elasticsearch/discovery/azure/classic/AzureMinimumMasterNodesTests.java#L44) don't seem to have run since May 2015 due to the `@AwaitsFix` annotation, but the referenced issue (https://github.com/elastic/elasticsearch-cloud-azure/issues/89) is close

[2017-11-28 10:47] ilusharulkov commented on #14229
Hello!
I have ES 5.6.4 and inner_hits query is extremly slow. It takes more then 10 sec. with 200k items in index.

[2017-11-28 10:53] jimczi opened #27555 "`scroll` timeout cannot be changed in _reindex API"
The `scroll` timeout is set by default to 5 minutes when using the `_reindex` API. It is possible to change this value when using the java client but not when using the rest API directly.
5 minutes is quite high but if the indexation is slow we can still reach the timeout and fail the entire reindex due to a context missing in the scroll. Since `_update_by_query` and `_delete_by_query` can change

[2017-11-28 11:38] liketic commented on #20867
@ppf2 @clintongormley Is this still worth to fix? Thanks in advance.

[2017-11-28 11:40] liketic commented on #21346
Hi @javanna , is this still worth to fix? Thanks in advance.

[2017-11-28 11:48] javanna commented on #21346
yes @liketic feel free to take it ;)

[2017-11-28 12:37] Koc opened #27556 "Add support of the count api when using field collapsing"
[code]

For the now impossible execute this kinds of queries by count api https://www.elastic.co/guide/en/elasticsearch/reference/5.6/search-count.html . We can do search but cann't do only count. Also `hits.total` field in response displays total count of documents before they was collapsed. It would be nice add something like `hits.total_collapsed` for getting count of total collapsed documents.

[2017-11-28 13:07] #27053 closed

[2017-11-28 13:23] martijnvg commented on #14229
@ilusharulkov Can you ask the question on the [forum](https://discuss.elastic.co) instead? I'm happy to help there.

[2017-11-28 13:44] jimczi commented on #27556
Retrieving the total number of group that match a query in a distributed system is not trivial and can be very costly.
The field collapsing is applied on the top documents, not **all** documents, this is why it **only** returns the number of documents that match and not the number of group. It does not need this costly computation to provide accurate results on the top hits.
If you really want to

[2017-11-28 13:44] #27556 closed

[2017-11-28 14:00] minfrin opened #27560 "Elasticsearch startup failure / missing symlink: java.io.IOException: Could not create directory /usr/share/elasticsearch/logs"
**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 6.0.0, Build: 8f0685b/2017-11-10T18:41:22.859Z, JVM: 1.8.0_151

**Plugins installed**: []

**JVM version** (`java -version`):

openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.16.04.2-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-li

[2017-11-28 14:01] clintongormley commented on #20867
@tlrx do you know if this has already been fixed?

[2017-11-28 14:23] minfrin opened #27561 "elasticsearch packaging: x-pack missing from packaging process"
**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 6.0.0, Build: 8f0685b/2017-11-10T18:41:22.859Z, JVM: 1.8.0_151

**Plugins installed**: []

**JVM version** (`java -version`):

openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.16.04.2-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-li

[2017-11-28 14:56] imotov commented on #26378
Just failed in 5.6 https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-windows-compatibility/381/console

[2017-11-28 15:13] Koc commented on #27556
Thank you for such detail explanation.

Yes, as workaround for now I am using `cardinality` aggregation. But it requires a lot of changes from application side. Is it possible use this aggrregation under the hood when end user queries count of collapsed field? According to account that result will approximate.

[2017-11-28 15:24] jimczi commented on #26378
Thanks @imotov , I think that the scroll timeouts during the execution of the test. I raised the scroll timeout to 1 minute (500ms was too low and could fail on some shard if the machine is slow):
https://github.com/elastic/elasticsearch/commit/37653c9dca1bf59574c9bdddaadc378c7d1f6337
I'll reopen if this reproduces with this new commit

[2017-11-28 15:41] jimczi commented on #27556
It is costly to compute even with the `cardinality` aggregation so I think it's import to keep the computation explicit. Also this number is not really necessary for field collapsing, you don't need it to paginate so I am reluctant to add a slow mode in field collapsing. Sorry but as I said if you really want to compute this number you should use aggregations.

[2017-11-28 15:52] minfrin opened #27562 "x-pack/plugin-security.policy: java.security.AccessControlException: access denied ("java.io.FilePermission" "/etc/ssl/certs/root-ca.crt" "read")"
**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 6.0.0, Build: 8f0685b/2017-11-10T18:41:22.859Z, JVM: 1.8.0_151

**Plugins installed**: []

**JVM version** (`java -version`):

openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.16.04.2-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-li

[2017-11-28 15:55] jasontedor commented on #27562
This repository is for open source Elasticsearch only. For X-Pack issues, please use the [forum](https://discuss.elastic.co). Feel free to link from here to a topic that you open in the X-Pack category.

[2017-11-28 15:55] #27562 closed

[2017-11-28 16:00] jasontedor commented on #27561
This would be treated as an issue in the plugin installer (not as an X-Pack issue). As such, it is an open source issue which is handled here. However, this issue does not reproduce and I suspect a problem on your end.

[code]

I'm not sure what you mean by this. The plugin is an official plugin. As such, it's downloaded from artifacts.elastic.co via HTTPS. Plugins are not distributed via apt-get

[2017-11-28 16:00] #27561 closed

[2017-11-28 16:01] jasontedor commented on #27560
When you install Elasticsearch via the Debian or RPM package, we have intended for Elasticsearch to be run as a service only using Sys V init or systemd. You are attempting to start Elasticsearch using `bin/elasticsearch` directly for which the package is not configured. That leads to the problem that you are experiencing. Instead, use the service or reinstall from an archive distribution.

[2017-11-28 16:01] #27560 closed

[2017-11-28 16:04] tbrooks8 opened #27563 "Implement byte array reuse in nio transport"
Currently, we reuse byte arrays when writing messages in the `TcpTransport`. We request bytes from a page recycler and serialized the message. When the message is written to the channel, a callback releases the bytes. This means that, by default, the `NioTransport` already includes byte array reusage for the write use case.

The read case is trickier. As read message length is unknown until a mess

[2017-11-28 16:06] minfrin commented on #27561
At the very least, the bin/elasticsearch-plugin tool is making a call to the internet, ignoring the http_proxy/https_proxy environment variables. This is why we're failing in our environment - our servers don't have access to the net.

This attempt by elasticsearch-plugin to bypass the packaging defeats the packaging process.

[2017-11-28 16:08] minfrin commented on #27560
I am starting elasticsearch using systemd as follows:

    systemctl start elasticsearch

[2017-11-28 16:12] jasontedor commented on #27560
Something is wrong with your configuration, please check your elasticsearch.yml that you have path.logs set to `/var/log/elasticsearch`. It is simply not the case that a clean install will try to log to `/usr/share/elasticsearch/logs`.

[2017-11-28 16:18] jasontedor commented on #27561
Did you set the proxy as explained in the docs?

[2017-11-28 16:30] minfrin commented on #27560
I followed the instructions at https://www.elastic.co/guide/en/elasticsearch/reference/current/deb.html, there is no mention of the need for any special configuration to put things in the right place.

I see what happened here - I had used an elasticsearch.yaml file from a previous attempt at installation, and this one didn't contain the values for path.data and path.logs that are hardcoded into t

[2017-11-28 16:32] minfrin commented on #27561
I didn't do any special setup, no - as a command line tool I was expecting http_proxy and friends to be picked up automatically from the environment in the usual way.

[2017-11-28 16:33] jasontedor commented on #27561
They are not in Java, you have to set those system properties that are mentioned in the docs.

[2017-11-28 16:38] jasontedor commented on #27560
I don't think you should use symlinks here, instead set the configuration for `path.data` and `path.logs`.

[2017-11-28 16:47] jdconrad commented on #26760
I will give this my full attention today.

[2017-11-28 17:24] arkkanoid opened #27566 "Group data on aggregations"
Hi,
I've some related terms in a field, with the graph tool I can connect it:

<img width="421" alt="captura de pantalla 2017-11-28 a les 18 11 59" src="https://user-images.githubusercontent.com/3811604/33333824-3fde3f18-d468-11e7-8dc9-9ad6107f303c.png">

What I'm looking for is a way to group all this terms as one in an aggregation.
What I get now:

    skills: Descending | Count
    ------------

[2017-11-28 17:47] colings86 opened #27568 "Deprecate and remove parsing of fractional bytes values"
We use ByteSizeValue to represent settings and API parameters that are byte values. This allows the user to specify the values in a human readable form and Elasticsearch to interpret it in the units most convenient to what it wants to do with the value (e.g. the user specifies the index buffer size as `"56MB"` but Elasticsearch converts this to 58720256 bytes and uses that value.

However, the cur

[2017-11-28 18:42] mbarretta commented on #24529
++

I ran into exactly this surrounding-quote-when-rendering-lists problem when testing x-pack security [role template queries](https://www.elastic.co/guide/en/x-pack/current/field-and-document-access-control.html#templating-role-query). The resulting stringified JSON query was ugly and hard to maintain.

[2017-11-28 19:24] ilusharulkov commented on #14229
[Of course!](https://discuss.elastic.co/t/inner-hits-query-extremly-slow/109459)

[2017-11-28 19:41] imotov opened #27570 "CI: inclusion of the _index and _id for nested search breaks mixed cluster tests"
Backport of #27201 to 6.2 seems to broke several tests that we ensuring that _index doesn't show up for nested hits. The issue is reproducible on 6.x branch with the following command line:

[code]

The following tests are currently failing:
[code]

The issue seems to be related to incorrectly determine if the test should be skipped in a mixed cluster.

[2017-11-28 20:08] synhershko opened #27572 "Security policy always uses 'path.data' even when node.data:false"
I have a client node installed via apt-get install and configured as such:

[code]

When I try to run it (`sudo service elasticsearch start`) I'm getting the following exception in the logs:

[code]

Why is `path.data` being used? and why hasn't the installer handle permissions for this folder (`/usr/share/elasticsearch` is set as root:root)?

Easily reproducible using https://github.com/synhershk

[2017-11-28 20:35] archanid commented on #27536
@bleskes If `index.translog.retention.size` is set to null, what's the significance, how is it different from `0`? Defaults to 512mb?

[2017-11-28 20:46] imotov commented on #27570
I have muted these tests in 6.x, they don't let the intake job to pass.

[2017-11-28 20:56] pickypg opened #27576 "Cgroup Data missing from _nodes/stats"
It looks like something is weird in Elasticsearch 6.0.0 that is causing Cgroup data to drop from the `_nodes/stats` output.

[code]

Checking the local machine, within its [Docker] container:

[code]

[2017-11-28 21:02] bleskes commented on #27536
@archanid setting to null unsets it and restores the default, which is indeed in this case 512mb. Some parts of the system sometimes treat unset as different than a fixed value but not in this case.

[2017-11-28 21:06] jasontedor commented on #27576
The JVM needs to be started with `-Des.cgroups.hierarchy.override=/` inside a container.

[2017-11-28 21:06] #27576 closed

[2017-11-28 21:11] pickypg commented on #27576
For anyone else that comes across this, that system property is necessary when running inside of a Docker container.

[2017-11-28 21:22] DaveCTurner commented on #27566
Hi @arkkanoid! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2017-11-28 21:22] #27566 closed

[2017-11-28 21:26] DaveCTurner commented on #27572
Hi @synhershko! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question (about a nonstandard installer) than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2017-11-28 21:30] #26760 closed

[2017-11-28 21:30] synhershko commented on #27572
If you actually read the issue you'd see this is actually happening with the default installer provided and released by you.

[2017-11-28 21:31] synhershko commented on #27572
And also, a client-only node shouldn't be checking on the data path anyway. If that's not a bug I don't know what is.

[2017-11-28 21:32] rjernst commented on #27572
This is a "bug", of sorts. When configuring the security policy, we do not look at any settings to determine if the path may or may not be used. I'm going to reopen this, but know that this is very low priority.

[2017-11-28 21:33] synhershko commented on #27572
@rjernst if you can point me at the right file in the code base I'll be happy to adopt.

[2017-11-28 21:34] DaveCTurner commented on #27572
My apologies @synhershko, I misunderstood the origin of the installer.

[2017-11-28 21:35] rjernst commented on #27572
@synhershko `core/src/main/java/org/elasticsearch/bootstrap/Security.java`.

[2017-11-28 21:41] jdconrad commented on #26760
@Bargs @epixa This should be fixed.  Apologies for taking so long to get this in.

[2017-11-28 21:41] jasontedor commented on #27572
There is a bug here and the issue was closed prematurely which we will work on our end, but this kind of tone is still not acceptable. We are collaborators here, not adversaries.

[2017-11-28 21:43] jasontedor commented on #27572
For now you can work around this by simply creating that directory with permissions for the Elasticsearch user.

[2017-11-28 21:53] pedrosk commented on #19868
Here is what I did:

I added http.bind to my elasticsearch.yml this enabled me to have a single mode on the network
My config ...
http.port: 9201
http.bind_host: 192.168.1.172

other configs:
in /etc/hosts
192.168.1.172 myTestNode

I was able to curl the node from a another local box:
hope this helps
192.168.1.171   templogger
pedro@templogger:~$ curl -vk 192.168.1.172:9201
* Rebuilt URL to: 192.1

[2017-11-28 22:01] synhershko commented on #27572
You are right @jasontedor , and my apologies for that @DaveCTurner.

I'm going to look at that file and see if I can send a PR to fix it. I'd rather avoid creating that folder because I'm using automation scripts and those tend to get too specific too fast otherwise.

[2017-11-28 22:02] pedrosk commented on #19868
http.port: 9201
#http.bind_host: 192.168.1.172 #works
http.publish_host: 192.168.1.172 #by itself does not work
http.host: 192.168.1.172 #works alone

[2017-11-28 22:03] pedrosk commented on #19987
This worked for me:
in elasticsearch.yml
^^^^^^^^^^^^^^^^^
http.port: 9201
#http.bind_host: 192.168.1.172 #works
http.publish_host: 192.168.1.172 #by itself does not work
http.host: 192.168.1.172 #works alone
====================
on /etc/hosts
192.168.1.172 mytestnode

[2017-11-28 22:14] jasontedor commented on #27572
@synhershko I am not sure if I want that file to become node-type aware so I don’t think there’s an obvious fix at the moment. That might be the fix we have to go with but I want to see if we have other options first.

Another workaround is to set `path.data` to `/var/lib/elasticsearch` or another directory like that.

[2017-11-28 22:18] reganp commented on #27492
When is this issue being fixed?  I'm getting it in latest Kibana version now.

[2017-11-28 22:21] jasontedor commented on #27572
To be clear here: this is what the default packaging does and it ensures that directory exists.

[2017-11-28 22:22] synhershko commented on #27572
Okay, the fix is rather trivial other than the concern you raised:

[code]

IMO this makes perfect sense - you only want to perform certain operations and throw exceptions on failure of them if the setup is right for it. I'm not sure why this wasn't happening in 5.x though - perhaps something in the installer changed? `/usr/share/elasticsearch` currently is owned by root:root.

Please let me know

[2017-11-28 22:59] jdconrad commented on #27210
This is fixed and backported all the way back to 5.6.5.

[2017-11-28 22:59] #27210 closed

[2017-11-28 23:05] jasontedor commented on #27210
Thanks @jdconrad.

[2017-11-29 03:43] jasontedor commented on #27554
This test passed three out of three runs for me. Let's remove the await fix and close this issue and see what happens.

[2017-11-29 03:46] jasontedor commented on #27554
Closed by d0cd18169e0cd1d9301c5c46a9f874abfc822d31 (and backported to 6.x in 7bc2630f3c60ebba175e916880b11219ce0012e7).

[2017-11-29 03:46] #27554 closed

[2017-11-29 03:46] jasontedor commented on #11533
Let's remove the awaits fix and see what happens? And close this issue and open a new one if we find out there are problems.

[2017-11-29 03:47] jasontedor commented on #12416
Let's remove the awaits fix and see what happens? And close this issue and open a new one if we find out there are problems.

[2017-11-29 06:33] synhershko commented on #27572
@jasontedor How come 6.0 (using the deb installer) looks at `/usr/share/elasticsearch` ?

[2017-11-29 06:49] s1monw commented on #21121
it seems like this issue can be closed since we have a way forward with java time... closing

[2017-11-29 06:49] #21121 closed

[2017-11-29 08:54] tlrx commented on #27554
Thanks @jasontedor

[2017-11-29 09:28] mkhilwani opened #27579 "After upgrade elasticsearch version getting error no [query] registered for [filter]","line":1,"col":20}],"type":"parsing_exception","reason":"no [query] registered for [filter]","line":1,"col":20},"status":400}"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 5.0

**Plugins installed**: [] NO

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system): Linux

**Description of the problem including expected versus actual behavior**:
**I upgrade elastic search 5.0 version and I using below query**

'body' => [
        'query' => [

[2017-11-29 09:51] jasontedor commented on #27572
It looks at `path.data` which is packaged to be `/var/lib/elasticsearch`. You have overridden this to not be set so it falls back to the default which is `ES_HOME/data`. Here, `ES_HOME` is `/usr/share/elasticsearch`.

[2017-11-29 09:54] dadoonet commented on #27579
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

This filtered query does not exist anymore. Use bool query instead

[2017-11-29 09:54] #27579 closed

[2017-11-29 10:09] synhershko commented on #27572
Ok, so that is the change between 5.x and 6.x, thanks. Was that made on
purpose?

--

Itamar Syn-Hershko
Freelance Developer & Consultant
Elasticsearch Partner
Microsoft MVP | Lucene.NET PMC
http://code972.com | @synhershko <https://twitter.com/synhershko>
http://BigDataBoutique.co.il/

On Wed, Nov 29, 2017 at 11:51 AM, Jason Tedor <notifications@github.com>
wrote:

[2017-11-29 10:34] tlrx commented on #20867
@clintongormley None of the two suggested improvements have been implemented.

The versions are already read while building the output of the snapshot status response but they are not used and propagated to the response. I agree that they are useful information so I think we can add them under a `settings` object (located the same level as  `shards_stats`, `stats` and `shards`) for each index in t

[2017-11-29 11:14] davidbkemp commented on #27030
I thought I would have a go at this.  This commit has what I have tried so far: https://github.com/davidbkemp/elasticsearch/commit/b3619c4707ca73ec9d15da18842f48b6fe9dcdab

I think the existing range data type documentation is a little unconventional.  For most of the data types, the documentation seems to only include example mappings and documents.  They typically don't include queries.  I am be

[2017-11-29 11:18] dimitris-athanasiou commented on #27277
@cbuescher Given the PR you mentioned is now merged and the test failure has not appeared again, should we close this?

[2017-11-29 11:25] pshirshov commented on #15918
Hm. Why this is closed? In fact the problem still persists )

[2017-11-29 11:31] elasticmachine opened #29973 "SQL slow/transaction log"
*Original comment by @gingerwizard:*

Feature request for a slow log providing history of the sql statements executed against ES. Ideally this would behave similar to our existing slow logs (with the ability to define timings).  A SQL statement per line would be fine.

[2017-11-29 11:56] cbuescher commented on #27277
@dimitris-athanasiou yes, I think this can be closed. @javanna please reopen if you think differently.

[2017-11-29 11:56] #27277 closed

[2017-11-29 12:41] jasontedor commented on #27572
Indirectly, yes. I think the relevant change is the removal of default settings (e.g., `default.path.data`, see #25408). The point is that in the past if you did not set `path.data` then we would fall back to `default.path.data`. The service scripts set `default.path.data` to `/var/lib/elasticsearch` which again the packages ensure exists so there's no problem when `path.data` is not set. Now when

[2017-11-29 13:27] clintongormley opened #27582 "Remove `index.ttl.disable_purge`"
TTL is no longer supported and the `index.ttl.disable_purge` setting can be removed.

[2017-11-29 13:28] clintongormley opened #27583 "Remove `index.optimize_auto_generated_id`"
We are happy with auto-ID optimization and we can now remove the `index.optimize_auto_generated_id` setting.

[2017-11-29 14:04] c0da commented on #27533
Thank you @albertzaharovits ! I'll give it a try and let you know.

[2017-11-29 14:52] keithjohnhowe opened #27586 "Elasticsearch plugin is red"
I have installed Elasticsearch 5.51 and Kibana 5.51 and I am now getting an Elasticsearch plugin is red error message

![screenshot from 2017-11-29 14-37-18](https://user-images.githubusercontent.com/25707671/33380468-16faf0a4-d513-11e7-9e59-76bd183541cc.png)

The elastic search logs mention - not enough master nodes discovered, I have 4 nodes and one master --

	at java.lang.Thread.run(Thread.jav

[2017-11-29 14:56] jpountz commented on #26938
In addition to #26949, https://issues.apache.org/jira/browse/LUCENE-8058 and more generally the fact that we now have the ability to disable caching on queries that use a lot of memory, things should be much better in Elasticsearch 7.2.

[2017-11-29 14:59] jasontedor commented on #27586
This looks like a configuration issue, not a bug. Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this. We can reopen this if after discussi

[2017-11-29 14:59] #27586 closed

[2017-11-29 15:06] jasontedor commented on #27572
@synhershko The fix you have proposed is not sufficient, it does not cover the case of master nodes. It also does not cover the case of coordinating-only nodes that do persist cluster state (`node.local_storage` defaults to true). And anyway, it makes this class node-aware which I do not want to do. I think I have a solution that I am happy with. I will open a PR later today.

[2017-11-29 15:23] jasontedor commented on #27572
By the way, there is actually no bug in *your* case because you have not set `node.local_storage` to false (defaults to true). There is a bug in the case that `node.local_storage` is false. In this case we should not be trying to access `path.data` but I would go further and say that we should reject the settings `node.local_storage` is false and `path.data` is set.

[2017-11-29 15:30] jasontedor commented on #27572
I opened #27587.

[2017-11-29 16:00] jdconrad commented on #19542
AFAIK this works.  Closing.

[2017-11-29 16:00] #19542 closed

[2017-11-29 16:01] jdconrad commented on #19661
We're not going to add a helper for this.  Closing.

[2017-11-29 16:01] #19661 closed

[2017-11-29 16:02] jdconrad commented on #20068
@shijiebei2009 This has to do with what's available in different script contexts.  The documentation is being worked on to explain the discrepancies, but isn't available yet.

[2017-11-29 16:04] jdconrad commented on #20426
This is done.  Closing.

[2017-11-29 16:04] #20426 closed

[2017-11-29 16:06] colings86 commented on #27568
We discussed this in the core team meeting and it was agreed that the round trip parsing due to printing fractional values is a problem that we should fix but there was a concern that maintaining the unit and allowing bytes values that exceed Long.MAX_VALUE when converted to bytes will push that problem somewhere else since most if not all uses of BytesSizeValue will want to get the value out as b

[2017-11-29 16:08] jdconrad commented on #20869
This is fixed.  Closing.

[2017-11-29 16:08] #20869 closed

[2017-11-29 16:09] jdconrad commented on #21027
We have decided to not change this.  Closing.

[2017-11-29 16:09] #21027 closed

[2017-11-29 16:10] jdconrad commented on #21375
We aren't going to change the behavior here.  Documentation work is in progress.  Operators section has been added.  Closing.

[2017-11-29 16:10] #21375 closed

[2017-11-29 16:10] jdconrad commented on #21074
This isn't going to change.  Closing.

[2017-11-29 16:10] #21074 closed

[2017-11-29 16:11] jdconrad commented on #22177
This is not a bug.  Painless uses arity overloading, but it's very unlikely we ever support full signature overloading.  Closing.

[2017-11-29 16:11] #22177 closed

[2017-11-29 16:46] polyfractal opened #27588 "Replacing the function_score with discrete queries"
## Overview
The `function_score` is a powerful query, but can be somewhat unwieldy and difficult to use.  It is a monolithic query that has many parameters and options which makes it difficult for new users to learn.  It can be difficult to tweak, and now that we've moved to BM25, the defaults don't work well (namely, multiplying scores).

We'd like to deprecate `function_score` and replace it's f

[2017-11-29 16:51] PnPie commented on #27582
I make one PR for this one :)

[2017-11-29 17:52] synhershko commented on #27572
Sorry this should have been a comment here - I do want `node.local_storage` to be set to true on my client-only nodes, to persist cluster state (because, why not).

[2017-11-29 18:06] DaveCTurner opened #27594 "OOM when indexing largish GeoJSON document"
**Elasticsearch version**: 5.6.4

**Plugins installed**: []

**JVM version**:

[code]

**OS version**: `Darwin Davids-MacBook-Pro.local 16.7.0 Darwin Kernel Version 16.7.0: Wed Oct  4 00:17:00 PDT 2017; root:xnu-3789.71.6~1/RELEASE_X86_64 x86_64`

**Description of the problem including expected versus actual behavior**: OOM when indexing an 85MB GeoJSON document

**Steps to reproduce**:

[code]

T

[2017-11-29 18:13] DaveCTurner commented on #12416
Ok, I did so and saw no failures for ~30 iterations, so pushed it as 29c5540323.

[2017-11-29 18:57] jasontedor commented on #27572
Right, and like I say: there's no bug here for you then because we are going to ensure that `path.data` exists and we have permissions for them in this case then. You have a broken configuration, you need to set `path.data` to `/var/lib/elasticsearch` (as the packaging defaults to and ensure exists) or somewhere else where you are comfortable ensuring Elasticsearch can store data.

The only bug is

[2017-11-29 19:03] mattweber opened #27596 "Search Shard Failure Logging can result in OOM"
I have ran into an issue where we are getting OOM on our coordinating nodes and it appears to be from logging shard failures for queries with a large source.  Some info:

- ES 5.6.3
- Java 1.8.0_141
- Linux 4.9.51-10.52.amzn1.x86_64
- Cluster is 90 data nodes, 6 client nodes, 3 masters
- Index is 135 shards with 1 replica
- Client heap is 80G using G1GC, I know, "not recommended".
- Queries are MA

[2017-11-29 19:09] imotov commented on #20867
I think this is needed if we want to have the same repository shared between major version. Saying that, my opinion didn't change, I would like to get to the state where the repo, created with the previous major version of elasticsearch becomes read-only and we start a fresh repo after each major version upgrade. I think, that's the only way to keep things sane upgrade-wise. If such model is imple

[2017-11-29 21:21] rjernst commented on #27588
I think this is just moving the complication from one form to another. The fact that there is a "query" to control the score of *other* queries is what is confusing.

Function score is about manipulating the score. IMO we should use scripts for *any* manipulation of the score. Imagine every query node allowing a script to modify the score of that node. In the case of boolean query, we can provide

[2017-11-29 21:29] amitavmohanty01 opened #27599 "Elasticsearch does not correctly recognise java version"
Elasticsearch does not correctly recognise java version. It throws the following error:

[code]

**Elasticsearch version** (`bin/elasticsearch --version`):
5.6.4

**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) Server VM (build 25.131-b11, mixed mode)

**OS version** (`uname -a` if on a Un

[2017-11-29 22:16] jasontedor commented on #27599
I have seen this before and it was a configuration issue. Let us try to track it down together. The problem here is that when we test the Java version, we unconditionally print that error message if checking the Java version fails for any reason whatsoever. This means that failures that are not the due to the wrong version but instead some other issue are reported as Java version errors anyway and

[2017-11-29 22:35] #27572 closed

[2017-11-29 22:38] ywelsch commented on #12416
.... and it's failing:
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu/1746/consoleFull
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+java9-periodic/4888/console

[2017-11-29 23:23] jasontedor commented on #27310
You're welcome, and thank you for your interest in contributing.

[2017-11-30 02:27] jasontedor commented on #27594
What do you think should happen @DaveCTurner?

[2017-11-30 02:36] jasontedor commented on #23486
@aymone You can disable the cgroup version 2 hierarchy on your system, otherwise you have to upgrade.

[2017-11-30 03:20] ppf2 opened #27601 "Include original index name (if renamed during restore) in snapshot restore exceptions"
ES 2.4, 5.6

To reproduce:

1.  Take a snapshot of an index named "teststring" which has 5 shards
2.  Create an empty index named "teststring2" with 1 shard
3.  Close teststring2 index
4.  Restore teststring index but as part of the snapshot restore call, rename it to "teststring2"

Then you will get the following message (which is expected, because the target index already exists and has 1 shard

[2017-11-30 03:21] voidlps opened #27602 "bucket_script & bucket_selector fail to get reference from bucket_path with meaningful cumulative_sum,serial_diff and moving_avg aggregtaion"
**Elasticsearch version**: 5.6.3

**Plugins installed**: []

**JVM version**: 1.8.0_151

**OS version**: official docker image

**Description of the problem including expected versus actual behavior**:
bucket_script / bucket_selector aggregation with a bucket_path pointing to cumulative_sum or serial_diff result may fail or become zero.
The major problem comes from in date_histogram, we may have s

[2017-11-30 06:53] s1monw commented on #27596
@mattweber what size are we talking about here per search request source? can you give me an example how big they are?

[2017-11-30 08:06] clintongormley commented on #27588
@rjernst could you provide some examples of what this would look like?

[2017-11-30 08:08] clintongormley commented on #20867
💯

[2017-11-30 09:05] amitavmohanty01 commented on #27599
Is there any plan of backporting it?

[code]

[code]

Yeah. In fact, I added the line in the message but because of incorrect formatting, it was not show. :(

[2017-11-30 09:14] colings86 commented on #27602
This is a duplicate of https://github.com/elastic/elasticsearch/issues/27377. Closing in favour of that issue

[2017-11-30 09:14] #27602 closed

[2017-11-30 09:28] colings86 commented on #27588
I had actually understood the proposed decay queries as not modifying the score of an inner query but as both selecting and scoring the documents. So for example with the `geo_distance` query (which we already have) we could extend it to allow users to set decay parameters on that actual query. That way the query would be both selecting and scoring the documents. The parameters would then be `orig

[2017-11-30 09:38] #22423 closed

[2017-11-30 11:05] bleskes commented on #11533
+1

[2017-11-30 11:26] amitavmohanty01 commented on #27599
[code]

[2017-11-30 11:37] jasontedor commented on #27599
`├── [drwx------]  lib`

This is tending towards the direction of my explanation. Who is the owner of `lib`?

[2017-11-30 11:57] amitavmohanty01 commented on #27599
[code]

[2017-11-30 11:57] wtarr commented on #15613
I have a quick question about being prepared for moving from 5.x to 6.x, with what the suggestion is for using the bulk rest api.  Currently the doc's suggest the _type is still necessary along with the index name when uploading.  Should I now leave it blank? or possibly use the index name to be safe?  I was up until now using the _type as a form of classification but I can easily move that elsewh

[2017-11-30 12:04] amitavmohanty01 commented on #27599
I am not sure of that. I checked the folder permissions of the dir from where I am able to run properly and it has the same permissions.

Path 1 (not running case):
[code]

Path 2 (different partition folder, running fine):
[code]

[2017-11-30 12:33] jasontedor commented on #27599
From the parent directory to `lib`, can you execute:

[code]

[2017-11-30 12:43] DaveCTurner commented on #27594
Apologies, I missed that bit. I feel we should, at worst, reject the document more gracefully than this.

On `master` the situation is better. The request _is_ rejected as it contains >10000 nested documents, and if I delete all the documents after the first 10k then the request is accepted. Therefore I'm closing this.

[2017-11-30 12:43] #27594 closed

[2017-11-30 12:51] amitavmohanty01 commented on #27599
[code]

[2017-11-30 12:56] clintongormley commented on #15613
@wtarr In 6.0, indices still have types, but you can only have a single type per index. We'll only officially remove the type name in 7.0.

So you could just use type `doc` or whatever.

[2017-11-30 13:04] DaveCTurner commented on #12416
Ok, I reverted 29c5540 in 1f89e9d94e69d9a1cd480aad3f8b0a2cf68a4217 and will have a deeper look.

[2017-11-30 13:06] amitavmohanty01 commented on #27599
I am facing a similar issue with logstash also. The class to be loaded in logstash turns out to be ```org.jruby.Main```.

[2017-11-30 13:44] jasontedor commented on #27599
I think I see the problem, I think it's your filesystem (64-bit inodes) interacting poorly with 32-bit system calls. What is your filesystem, XFS perhaps? Can you check:

`$ ls -lid lib`

(again, from the parent directory of `lib` on the troublesome filesystem).

[2017-11-30 13:58] bainim opened #27605 "no log4j2.properties found; tried [/usr/share/elasticsearch/config] and its subdirectories"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
5.2.2
**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):
ubuntu 14.04-server
**Description of the problem including expected versus actual behavior**:
no log4j2.properties found; tried [/usr/share/elasticsearch/config] and its subdirectories
**Step

[2017-11-30 14:08] amitavmohanty01 commented on #27599
@jasontedor thanks for the help. It seems your suggestion is right. The partition on which everything is running fine is ext3 partition but the partition on which ES is failing is an XFS partition which is mounted with inode64 mount attribute.

I am curious to know what is the reasoning behind the commands; how did you connect the dots to figure out that an XFS partition might be the issue here. I

[2017-11-30 14:18] markharwood commented on #27605
Thanks for the report. We've already addressed this in https://github.com/elastic/elasticsearch-docker/issues/78 so closing this as a duplicate.

[2017-11-30 14:22] amitavmohanty01 commented on #27599
The open() and stat64() system call failures in strace output appear in the non-working as well as the working partitions.

[2017-11-30 14:30] polyfractal commented on #27588
Sorry, I probably didn't explain well in the OP.  ++ What @colings86 said, my understanding is that `geo_distance` and `number_distance` would operate similarly, and ideally the "arbitrary numeric manipulation" query would just be a script with built in painless functions.

The rest -- min/max, cutoff, etc -- I think are definitely up for debate as to their usefulness and how they should be implem

[2017-11-30 14:41] bainim commented on #27605
sorry but i can't understand the solution what i should do exactelly?

[2017-11-30 14:46] jasontedor commented on #27599
@amitavmohanty01 For me the clue was this system call:

[code]

combined with the fact that I see you're running 32-bit Java: `/opt/java-1.8.0_131.i586/bin/java`.

[2017-11-30 14:51] markharwood commented on #27605
Upgrade - I'm told this was a bug, addressed in >=5.5.0

[2017-11-30 15:00] DaveCTurner opened #27607 "[CI] QueueResizingEsThreadPoolExecutorTests fails on instantaneous tasks"
I see a handful of tests tripping [this assertion that tasks should take more than 0ns to execute](https://github.com/elastic/elasticsearch/blob/a566942219d8a84deee719adb46860f69499431a/core/src/main/java/org/elasticsearch/common/util/concurrent/QueueResizingEsThreadPoolExecutor.java#L104) which looks like this:

[code]

Recent failures like this:
- https://elasticsearch-ci.elastic.co/job/elastic+

[2017-11-30 15:04] dnhatn commented on #17963
Closing this in favor of https://github.com/elastic/elasticsearch/issues/24530

[2017-11-30 15:15] bainim commented on #27605
but now i remove  the container (volume) and i execute :
 docker pull elasticsearsh:latest
and it's still the same error

[2017-11-30 15:22] hartuvofir commented on #14613
Hi!
We having the same problem (0 score of distance, and the doc's score will be zero)
what should we do?

[2017-11-30 15:26] jasontedor commented on #27605
You're not pulling the official image at all. If you need more help, please check the docs or ask for help on the [forum](https://discuss.elastic.co). We reserve GitHub for confirmed bugs and feature requests, not general help.

[2017-11-30 15:34] bainim commented on #27605
ok thank you

[2017-11-30 16:06] amitavmohanty01 commented on #27599
It seems the getdents has a 64-bit version as well which will not fail in the scenario.

Why does ES need this system call anyway? It would be interesting to know how this info is being used in the initial loading time.

[2017-11-30 16:12] jasontedor commented on #27599
@amitavmohanty01 It's the JVM, it's trying to open the classpath; notice that when you run `/opt/java-1.8.0_131.i586/bin/java -cp 'lib/*' org.elasticsearch.tools.JavaVersionChecker` not a *single* line of Elasticsearch code is executing, that is *all* JVM code. Can you use a 64-bit JVM on your system?

In short, this is not an Elasticsearch issue nor is it a Logstash issue, so I am going to close

[2017-11-30 16:12] #27599 closed

[2017-11-30 16:18] mattweber commented on #27596
@simonw The query that caused the above OOM was 3.5M of non-pretty json.  I pretty printed it and it was 43M.  I have seen larger queries as well.

Ultimately the issue is on us for submitting an invalid query but I thought it was crazy we ended up crashing the client node.  I think this could potentially happen even in a "normal" case if you have enough shards that fail and a smaller heap on the

[2017-11-30 16:40] aymone commented on #23486
@jasontedor do you know how to do it?

[2017-11-30 16:40] dnhatn commented on #27538
Another failure https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=oraclelinux/375/console

[2017-11-30 16:46] mayya-sharipova commented on #27588
One thing that could be useful in `function_score`  or new queries is the ability to **normalize a score**. Citing a user comment from #23850:

[2017-11-30 16:53] DaveCTurner commented on #12416
I pushed 92a24de509f388df4f569fe9576d60f0697d3beb to get some more details of the failures.

[2017-11-30 16:54] #27038 closed

[2017-11-30 17:32] ywelsch commented on #17963
@dnhatn #24530 is unrelated to this.

It's rather a duplicate of #14011, but with a concrete ask here. I'm reopening.

[2017-11-30 19:03] chmarr commented on #21283
+1 !
It's, like, 3-4 times cheaper than S3.

[2017-11-30 19:16] jasontedor commented on #14372
We are not going to set the temporary directory to ES_HOME/tmp with our default packaging as that is not sufficiently private. With #27609 a user can set `ES_TMPDIR` to override `java.io.tmpdir` and we default this to a private temporary directory.

[2017-11-30 19:16] #14372 closed

[2017-11-30 20:08] PhaedrusTheGreek commented on #24419
6.0 error for reference

[code]

[2017-11-30 21:10] DaveCTurner commented on #12416
This test failed in https://elasticsearch-ci.elastic.co/view/Elasticsearch/job/elastic+elasticsearch+master+intake/912/ with the new logging, so `@AwaitsFix` reinstated in 1e6bd99248.

[2017-11-30 23:12] dnhatn commented on #15779
Implemented in https://github.com/elastic/elasticsearch/pull/19342.

[2017-11-30 23:12] #15779 closed

[2017-12-01 01:02] NeckBeardPrince commented on #27464
@m15o @dadoonet
Actually it's a bit worse than that.
If you set `discovery.ec2.endpoint: us-west-1` it tries to connect to a invalid endpoint.
The default of `us-east-1` does not do this.
I had to hard set the endpoint to `discovery.ec2.endpoint: ec2.us-west-1.amazonaws.com`

[code]

[2017-12-01 01:29] bulecode commented on #26976
I also met this bug,especially in multi-thread writing is very easy to happen.
_aliases API wrote 'Renaming an alias is a simple remove then add operation within the same API. This operation is atomic, no need to worry about a short period of time where the alias does not point to an index' in document,so this bug is because you did not use this api or _aliases API has this bug?

[2017-12-01 02:25] iamejboy commented on #12366
+1

[2017-12-01 02:26] iamejboy commented on #10070
+1

[2017-12-01 06:08] dadoonet commented on #27464
@NeckBeardPrince this is expected. The doc says that the end should be one of those: http://docs.aws.amazon.com/general/latest/gr/rande.html#ec2_region

[2017-12-01 08:37] DaveCTurner commented on #12416
Seems to be a race condition in the test. It seems to reliably fail locally with this addition: https://github.com/DaveCTurner/elasticsearch/commit/608b45275301de3ed73dd9bf2e842fac0c953685.

I think it's that `failAndRemoveShard` is called asynchronously...

https://github.com/elastic/elasticsearch/blob/95bcee56c42dc457c4157e51b7277d99d43a666a/core/src/main/java/org/elasticsearch/indices/cluster/I

[2017-12-01 08:49] jimczi commented on #27539
Suggestions are built per shard and the best ones are kept on the coordinating node.
With a `size` of 1 in the phrase suggester options only the best suggestion among the shards is returned so it is normal that this suggestion comes from a single index (a shard in this index to be more precise). Try with a different size and you should see suggestions coming from other shards/index.
I hope you don

[2017-12-01 08:49] #27539 closed

[2017-12-01 09:24] clintongormley opened #27612 "Stored scripts API accepting malformed requests"
The stored scripts API today accepts malformed requests instead of throwing an exception.  For instance:

[code]

returns

[code]

[2017-12-01 13:30] cbuescher commented on #25603
Sorry for the long silence here, just wanted to let you know I'm still curious about this but currently have no good ideas of how to proceed without being able to reproduce this on our side. But it's still on the radar, let me know if you have anything new or you don't see the issue any more (maybe in a different environment)...

[2017-12-01 13:33] #12416 closed

[2017-12-01 13:33] Zyklop commented on #27539
Thank you for your answer. @jimczi
We tried with your solution and set the size = 10000. If I run the suggest query on one index, I get 10 correct results. For two indices, I get just one result for the other index and loose the 10 that I got on the first index. For queries with more then two indices, no suggestions are returned, no matter what size I use.

[2017-12-01 14:20] jimczi commented on #27552
We discussed this internally during FixIt Friday. This is an expert token filter that requires to be used under certain conditions (a tokenizer that does not split on punctuations and a similarity that takes the frequency into account, ...). For this reason we'd like to understand the use cases that this new filter could help with to see if we can have a better integration than just a direct mappi

[2017-12-01 14:23] spinscale opened #27617 "Painless number handling is only logical for java developers"
The handling of integer/float numbers is something that only java devs are aware of. Dividing integers may lead to unexpected results if you do not know how java is handling this.

See this example

[code]

I may have missed where this is documented, which we should do (or maybe more prominently, as I havent found it after 5 minutes with our search).

Ideally we should do the right thing[tm], whic

[2017-12-01 14:59] #27044 closed

[2017-12-01 15:30] elasticmachine opened #29975 "Funky English in "How Watcher Works""
*Original comment by @mbarretta:*

A lot of seemingly unnecessary commas made reading parts of this a little tricky. Suggest LINK REDACTED as another approach

[2017-12-01 15:32] jimczi commented on #27539
That's probably due to the confidence level of your suggest query. By default the phrase suggester will only return suggestions that score higher than the input phrase. The score of the input phase is computed per shard so the filtering depends on the max score given by a shard for the input phrase.  If one shard contains the input phrase with a high frequency then it is expected that all other su

[2017-12-01 17:06] mattweber commented on #27596
Looks like it might be just on the client shard failure logging:

https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/action/search/InitialSearchPhase.java#L85

Logs the `SearchRequest` which toString then converts the `SearchSourceBuilder` with the `humanReadable` flag enabled.  Ultimately I think that human readable flag is the issue especially when we see t

[2017-12-01 17:18] mattweber commented on #27596
But that doesn't make sense because that should only happen if debug logging is enabled (it is for that package by default) but I had disabled that and still ran into the OOM with exceptions coming out of the netty layer.

[2017-12-01 18:06] dmabuada commented on #12366
+1

[2017-12-01 19:03] barathguna opened #27620 "Child aggregation then by Parent aggregation (using _parent) not working after moving from 2.0.1 to 5.5.2"
Issue: Aggregation on child field and by _parent field is not working after upgrading elastic search from 2.0.1 to 5.5.2.

Test Details:
1. ParentType will have all MAC address and its details.
2. ChildType will have all application installed and its details (e.g. chrome (application name), 13(version), Browser(category))

Query Details:
Aggregate Application by "child1" (application name) then by

[2017-12-01 21:22] antonpious opened #27622 "Ability to have a memory and cpu water mark for shard movement similar to the disk water mark"
Currently elastic search moves shards to different nodes which has free disk space based on a water mark.
The similar logic is also needed for moving shard based on the memory availability in Java Heap on a node.
Lets say we have 5 nodes, Node1, Node2, Node3, Node 4 and Node 5
We have 3 Indices Index1, Index2 and Index3 of 3 shards each with 1 replication.
This would lead to 9 Primary Shards and 9

[2017-12-01 22:57] antonpious opened #27625 "Ability to have levers to control memory structures when amount of data indexed is more than the memory available"
Lets say we have a Node with 8 GB RAM and 100 GB disk with 1 index with 4 GB allocated to Heap and 4 GB allocated on heap.
We have a constraint on the amount of memory to be allocated to a node. We can only increase the disk but not the amount of memory available. i.e we should be able to index all the data that come in without increase in memory.

As we load data to this index namely 10 GB, 20 GB

[2017-12-01 23:27] dakrone commented on #27625
We already have some of these in the form of Circuit Breakers, and we strive to add more when possible. Is there a memory user that you are concerned about in particular?

[2017-12-02 02:57] jasontedor commented on #27525
Closed by #27540

[2017-12-02 02:57] #27525 closed

[2017-12-02 05:42] rpedela commented on #27552
I have a use case. Given a document, I want to detect keywords and keyphrases using ML and then use them to improve relevance. I could store them as an array in ```_source```, but then I lose term frequency information. I could index them normally, but that isn't space efficient. I believe, though could be wrong, that ```DelimitedTermFrequencyTokenFilter``` would give the best of both worlds.

[2017-12-02 13:35] mate01988 opened #27627 "sorting _geo_distance does not work for filter term"
Hello,
I have a problem.

Sorting by _geo_distance works for:

[code]

But sorting by _geo_distance not working, when i add to filter "[must][term]".

[code]

Please help.

[2017-12-02 15:37] spinscale commented on #24419
another issue is, that when upgrading to 6.0, you might accidentally have an old template lying around that then breaks future indexing

[code]

returns

[code]

[2017-12-02 22:54] rjernst commented on #27617
Most major languages I know of do integer truncation. Why do you think this is specific to java? IMO there is nothing to document here.

[2017-12-02 22:59] rjernst commented on #27612
You need to tell it to compile against a script context.  Pass the `context` parameter (url) to the put stored script api with a context name, eg `template` if you are using a mustache script.

[2017-12-03 06:31] gkinsman commented on #27552
The use case I'm attempting is a slightly unorthodox use of elastic, but I believe it's a valid one.

I have tags on a document that are tokenized and indexed, but also have vote counts. I'm providing a search facility for these tags that utilise the vote count number to retrieve documents that have higher vote counts than other documents tagged with the same tag.

I achieved this using Lucene loc

[2017-12-03 10:25] innerpeacenan commented on #17468
my os is ubuntu 16.04, my elastic version is 6.0.0, I  solved the problem by the following steps:

*  open file /etc/security/limits.conf, add lines above for user who elastic search belongs, such as user named ffz.
[code]

* reboot system

* run  `ulimit -n` to check for current user limit , if the result it not large enough , run `ulimit -n 65550`  to change ulimit, where 65550 is the new value.

[2017-12-03 21:03] dnhatn opened #27633 "[CI] GeoPointParsingTests#testEqualsHashCodeContract failed"
I can reproduce this locally.

[code]

[2017-12-03 21:16] PnPie commented on #27304
Hello,
If what we want is only to have a new method in `ESRestTestCase` to get a `RestHighLevelClient`, can we simply make [`ESRestTestCase.buildClient()`](https://github.com/elastic/elasticsearch/blob/master/test/framework/src/main/java/org/elasticsearch/test/rest/ESRestTestCase.java#L328) a `ESRestTestCase.buildClientBuilder()` to return a `RestClientBuilder` just without the last line.
And then

[2017-12-04 07:55] dannymurphygfk commented on #25603
Hi @cbuescher ,

We have upgraded to v5.6.4 last week so will let you know if it happens again on this version.

[2017-12-04 09:17] louisong opened #27638 "ICU: cjk language analyzer not working as expected"
**Elasticsearch version** : 5.4, 5.6.3

**Description of the problem including expected versus actual behavior**:
Source text : 香港貿發局香港國際春季燈飾展 2016
Query by `match` for the text `香港`

Expected highlighted result:
`<em>香港</em>貿發局<em>香港</em>國際春季燈飾展 2016`

Actual highlighted result:
`<em>香港貿發局香港</em>國際春季燈飾展 2016`

**Steps to reproduce**:

1. Create index template using the cjk language analyzer:

{

[2017-12-04 09:24] louisong commented on #27638
Expected highlighted result works fine in ES version 6.0 :
`<em>香港</em>貿發局<em>香港</em>國際春季燈飾展 2016`

[2017-12-04 10:00] cbuescher commented on #27627
Hi @mate01988, it seems to me this question would be better suited for the support forums over at https://discuss.elastic.co.
We prefer to use Github issues only for bug reports and feature requests, and to me this looks more like a general question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2017-12-04 10:00] #27627 closed

[2017-12-04 10:30] SchaSol opened #27639 "ScriptBucket can't get ScriptedMetric value"
So I'm trying to use a ScriptedMetric in a sibling BucketScript, both are part of a terms aggregation. But Elasticsearch does not allow me to do this...

I'm using all 4 (init, map, combine, reduce) scripts in the ScriptedMetric, and it does return a nice integer as value...

This is the message which I'm getting:
"buckets_path must reference either a number value or a single value numeric metric

[2017-12-04 12:20] eladmena commented on #22446
Ping on that issue.
It is already implemented, the change is simple, tested (with integration test) and documented.

Currently the code marks it to work only for Elasticsearch 7

[2017-12-04 13:10] adminzgb opened #27642 "scroll responses all shards failed, Does the scroll-id be update?"
**When  I use the scroll, I try to judge the failshard and keep scrolling when failshards > 0.  Every time i update the scroll-id. But i found the es reports no search context found.**:

**Elasticsearch version** (`2.3.3`):

**Plugins installed**: [head]

**JVM version** (`1.7`):

**OS version** (`centos`):

**Description of the problem including expected versus actual behavior**:

**Steps to repr

[2017-12-04 13:17] jimczi commented on #27638
In 6.0 the default is to use the `unified` highlighter, unlike the `plain` highlighter it does not try to merge adjacent match in a single fragment which is why it has the expected result in 6.0. This new highlighter has been added in 5.4 so a workaround is to switch to this new highlighter. That's the default in 6 so it's a good idea to use this new highlighter in 5.x in order to prepare for the

[2017-12-04 13:57] gayathrimanohar opened #27644 "Multisearch Query Needed"
I'm using your elasticsearch code based php mysql. It's working fine. I have to implement the multisearch (mean msearch) concept on project.I have tried more steps for developing the msearch but i could not complete.

Multisearch concept:

single query can search the data on both two index type. One type have no conditions and to listed data.another have to search the data with conditions.finally

[2017-12-04 14:09] xiezhenye opened #27645 "Provide an option to disable SecurityManager and an option to cache directory."
We meets performance problem in refresh. We found many lstat syscall while refresh operation, and dentry cache is exhausted.

The problem is caused mainly by two issue.
1 While SecurityManager check permission of a file, it calls java.io.FileSystem.canonicalize and it will trace from root dir to the end of path and lstat every node.

2 In org.apache.lucene.store.FSDirectory construct, it calls jav

[2017-12-04 14:15] jasontedor commented on #27645
To level-set expectations: this will never happen. The ability to disable security means there is no security.

[2017-12-04 14:30] xiezhenye commented on #27645
In some scene, SecurityManager is not necessary. E.g. using OS level security functions, not using third-part plugin.

[2017-12-04 14:36] jpountz commented on #27645
I agree with @jasontedor that disabling the security manager is not an option. Furthermore, I suspect this is only the tip of the iceberg: lstat being a bottleneck makes me suspect that you have one of the following problems:
 - too many shards per node
 - too low refresh interval
 - slow hardware/filesystem

[2017-12-04 14:54] xiezhenye commented on #27645
1 Is about 200 shards per node too many? I don't think so. The bottleneck is not CPU nor IO.
2 Our refresh interval is 5s, and it's the highest delay we can bear.
3 We are using SSD, and the performance problem is not caused by IO but the syscall cost and dentry usage.

[2017-12-04 15:24] cbuescher commented on #27644
Hi @gayathrimanohar! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2017-12-04 15:24] #27644 closed

[2017-12-04 15:52] jpountz commented on #27645
How many of these shards are actively indexing, ie. receiving one index request or more every 5 seconds?

[2017-12-04 16:01] s1monw commented on #27645
how does this manifest, what is the slowdown you are seeing? for things like
`org.apache.lucene.store.FSDirectory` where is uses `toRealPath` it happens in the ctor so I am not sure why this should slow you down? again what slowdowns are you seeing?

[2017-12-04 16:15] dakrone opened #27646 "[CI] GC logging JVM flags cause failures on Java 9"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+java9-periodic/1565/console

When our integration tests try to start up ES, they fail due to the `PrintGCDateStamps` flag

[code]

Relates to #27610

[2017-12-04 16:25] dakrone opened #27648 "[CI] CompressibleBytesOutputStreamTests.testCompressionWithCallingMaterializeFails fails in 5.6 branch"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+periodic/951/console

[code]

This reproduces for me with:

[code]

[2017-12-04 16:38] bleskes opened #27649 "[CI] CoreFullClusterRestartIT testRecovery fails to find old segments"
see https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+oracle-periodic/1556/console

[code]

[code]

[2017-12-04 16:52] dakrone opened #27650 "[CI] RecoveryIT.testRecoveryWithConcurrentIndexing fails on master expecting more documents"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/931/console

[code]

Expecting that the first node have 60 documents, instead has 110:

[code]

Reproduces for me with:

[code]

[2017-12-04 17:01] dakrone opened #27651 "[CI] IndexShardTests.testSegmentMemoryTrackedWithRandomSearchers fails on 6.x"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/387/console

[code]

Which I was *NOT* able to reproduce this. The line from the logs however, is:

[code]

[2017-12-04 17:05] bleskes commented on #27650
This is basically a git cherry pick fail. I fixed it only to lose it when I was cleaning up the commits... Thx Lee!

[2017-12-04 18:02] elasticmachine opened #29977 "Rollup: Review cleanup todo"
*Original comment by @polyfractal:*

This is a meta-issue covering the issues that need cleaning up from LINK REDACTED review.  We decided to fix up the easy stuff (typos, naming, etc), merge into the feature branch and then work on the rest of the issues individually so that they are easier to track, review, etc.

It's also evolved to include a bunch of other todos :)

**Blockers**

- [x] **[PR L

[2017-12-04 18:19] drw112 opened #27653 "Float type does not follow IEEE 754 standard"
**Elasticsearch version** 6.0.0

**Plugins installed**: [x-pack]

**JVM version** (`java -version`): 1.8.0_60

**OS version** (`uname -a` if on a Unix-like system): Centos 7

**Description of the problem including expected versus actual behavior**:

https://www.elastic.co/guide/en/elasticsearch/reference/6.0/number.html
float | A single-precision 32-bit IEEE 754 floating point.

https://en.wikiped

[2017-12-04 19:22] rjernst commented on #27653
This is by design. Json has no way to represent inifinity or NaN.
See the original issue: https://github.com/elastic/elasticsearch/issues/25534

[2017-12-04 19:46] drw112 commented on #27653
@rjernst Should the documentation be updated to say it follows [RFC 4627](https://tools.ietf.org/html/rfc4627) or [ECMA-262](https://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf) instead of IEEE 754?  The Elasticsearch docs don't accurately reflect the accepted values for float/half-float/double

[2017-12-04 19:57] rjernst commented on #27653
I'll reopen as a docs issue, but I'm not sure in what way we should change the docs. /cc @jpountz

[2017-12-04 20:32] #27320 closed

[2017-12-04 20:36] ilyaanisimov-reuters opened #27657 "Scroll search. 'slice' query parameter vs query JSON"
**Scroll search. 'slice' query parameter**:
Our use case requires generating big terms search queries.
curl -H "Content-Type: application/json" -d '{"slice":{"id":0,"max":135,"field":"DP"},"size":10,"sort":[{"DP":"desc"},{"T3ID":"asc"}],"_source":false,"query": <here goes 100MB terms query>}'  'elasticsearch.build:9200/idx/_search?scroll=1m

To reduce query size it is zipped.

**The problem is tha

[2017-12-04 21:34] #27633 closed

[2017-12-04 21:35] jbaiera commented on #26868
This is fixed with #27196

[2017-12-04 21:35] #26868 closed

[2017-12-04 21:55] rjernst commented on #27639
It is unclear if this is a bug or misuse fo the API, and there is not nearly enough information here to make that determination. Please ask questions on [our forum](https://discuss.elastic.co/c/elasticsearch). We use github for feature requests and confirmed bug reports.

[2017-12-04 21:55] #27639 closed

[2017-12-04 22:20] dakrone commented on #27648
Another one https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-unix-compatibility/os=opensuse/401/console

[2017-12-04 22:34] orb commented on #27310
This would be extremely useful.

[2017-12-04 23:26] jasontedor commented on #27648
Closed by b98244e2869138e897689bb1f1056b3b85bcec0b

[2017-12-04 23:26] #27648 closed

[2017-12-05 00:30] adamthedeveloper commented on #20539
This is happening to me also. I've tried so many different suggestions across the net (which is a testament to how bad and poorly organized the elasticsearch documentation is). I'm in such a bad spot right now, I'm almost ready to find a different search indexing tool. I'm trying to debug some bad behavior on my production machines and would like to look at my log stashes to see what's happening,

[2017-12-05 00:38] morphers82 commented on #27622
I completely agree, memory pressure is why I had to stop auto reallocation and manually move around shards to keep memory pressure equal on nodes.

[2017-12-05 00:55] jasontedor commented on #20539
@adamthedeveloper I'm sorry that you're running into trouble. The exact issue that was reported here was caused by a bug in a pre-release version of Elasticsearch 5.0.0, the problem does not exist in any production release of Elasticsearch. If you're running into an issue with the same symptoms, it is a different problem. Please open a topic on the [forum](https://discuss.elastic.co) in the X-Pack

[2017-12-05 01:17] vchan2002 opened #27661 "After upgrading from 5.6.3 to 6.0.0, complains that ingest pipeline does not exists, although it does still exist."
**Describe the feature**:

**Elasticsearch version** 6.0.0

**Plugins installed**: ec2-discovery,s3-repository

**JVM version** (`java -version`): 1.8.151

**OS version** (`uname -a` if on a Unix-like system): Amazon Linux

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

 1.  Initially, I have a ES 5.6.3 cluster, which I have filebeat 6.0.0 point

[2017-12-05 01:18] adamthedeveloper commented on #20539
Thanks. https://discuss.elastic.co/t/free-license-expired-and-now-i-cant-do-anything/110229

I sure hope I can get someone to help me soon. I also tried IRC and not one there will reply. Looks like there are many active users there, but no one is paying any attention to new messages. I also tried calling the USA contact number - but just got voicemail on an operator extension. Very frustrated righ

[2017-12-05 02:26] xiezhenye commented on #27645
Many unnecessary lstat syscall take more time to do refreshing and uses gigas bytes of dentry cache and causes system cache fill the memory. When making new memory allocation request, OS has to clear cache and makes a big latency. Fresh operation will block index operation. So this problem will also affect index operation.
Increasing vfs_cache_pressure will ease the pressure, but also has other si

[2017-12-05 05:34] songtianyi commented on #27465
@jasontedor
It is a bug or flaw! Please reopen the issue.
Obviously, after disk space released, ES should auto recover from the bad situation like other services.
As i know, restart is the only option for ES 2.2.2 version.
[Same question](https://discuss.elastic.co/t/elasticsearch-didnt-auto-recover-from-disk-space-full/110172) in es forum

[2017-12-05 05:52] antonpious commented on #27625
yes, for Terms and Fixed BitSets. Was able to find the lever for Field Data https://www.elastic.co/guide/en/elasticsearch/reference/6.0/modules-fielddata.html

[2017-12-05 05:58] antonpious commented on #27622
Attaching a Node which has Mj2K which has used 7.6 GB of 7.9 GB while node G4QZ has 2.8 GB of 7.9 GB
![elastic](https://user-images.githubusercontent.com/15054021/33592120-e83c0150-d94e-11e7-9117-f29d8b79e9a2.PNG)

[2017-12-05 06:04] viewpointJoin opened #27665 "Elasticsearch6.0"
Elasticsearch6.0 version can't start after setting up cross domain configuration. How do I solve it? My settings are http.cors.enable: true and http.cors.allow-origin: *.

[2017-12-05 06:13] tvernum commented on #27665
Hi @viewpointJoin

Please ask this question on our [discuss forum](https://discuss.elastic.co/) where we can provide better support.
Elastic uses GitHub issues for confirmed bugs and feature requests, but it is not a suitable place to try to diagnose and resolve configuration issues.

If you ask your question on the appropriate forum, and provide specific details about what you have tried, and wha

[2017-12-05 06:13] #27665 closed

[2017-12-05 09:11] Bukhtawar commented on #6732
Do deciders like disk threshold prefer disk watermark yaml settings of their specific node if different nodes on a cluster have different values for the property `cluster.routing.allocation.disk.watermark.high`. Or the cluster resolves this value over conflicting values for this property

[2017-12-05 09:57] s1monw commented on #27645
@xiezhenye do you have any numbers? I mean did you try running without a security manager ie. by building the code yourself?

[2017-12-05 09:57] vamsyr opened #27667 "Does Term suggester NOT work as expected if the min_word_length is 1?"
I am using Elasticsearch 5.5.2. I have the below mapping and the documents

Mapping --

PUT /testindex/
{
   "mappings": {
      "testtype": {
         "properties": {
             "city": {
               "type": "text"
         }
      }
    }
 }
}

I have indexed the below documents --

POST testindex/testtype/1
{"city": "a"}

POST testindex/testtype/2
{"city": "ab"}

POST testindex/testtype/3

[2017-12-05 10:16] s1monw commented on #27596
`humanreadable` doesn't mean it's pretty printed! In-fact, it's not. I think the requests are just too large. I wonder if we should cap them if they are bigger than X MB?

[2017-12-05 11:02] clintongormley commented on #6732
@Bukhtawar yes, the local settings are preferred, until a cluster wide setting is set via the api

[2017-12-05 11:14] clintongormley commented on #22446
Hi @eladmena

Sorry we haven't discussed this issue yet.

I'm afraid i don't like this idea.  It is hard to reason about for users, and likely to have a lot of edge cases. For instance, doing a wildcard search might cause matching templates to spring into existence.

 Instead, I think that a better solution would be a request time option that says "fail this indexing request if the index doesn't e

[2017-12-05 11:25] clintongormley commented on #27612
The [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/6.0/modules-scripting-using.html#modules-scripting-stored-scripts) for this API doesn't mention contexts, so I can't figure out exactly how this is supposed to be used, but it seems like my original example above should throw an exception, no?

[2017-12-05 11:36] eladmena commented on #22446
Hey @clintongormley,
Thank for your response.

I think this feature is very useful and without it the index templates feature is incomplete, especially when a lot of best practices are to work with aliases, having this feature gives the user the ability to use the index using aliases from call no. 1, having a single behaviour when using the index, no matter if it exists or not.

Having a failure b

[2017-12-05 12:16] rkuchvarskyy commented on #25933
We also faced with this issue
Simple example cause Caused by: java.lang.ArrayIndexOutOfBoundsException: -1
{"type":"Polygon","coordinates":[[[-10,10.0000000000002],[-5,-5],[10,5],[-10,10.0000000000002]],[[-10,10],[0,5],[0,0],[-10,10]]]}

[2017-12-05 12:45] #26007 closed

[2017-12-05 12:51] SchaSol commented on #27639
Nobody is answering my question on your forums......

[2017-12-05 13:02] dimitris-athanasiou commented on #27651
Another like this: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos/1763/consoleFull

[2017-12-05 13:09] elasticmachine opened #29978 "[ML] Investigate impact of search.max_buckets limit in aggregated datafeeds"
*Original comment by @dimitris-athanasiou:*

A `search.max_buckets` settings is being added in elasticsearch to limit the number of aggregation buckets that a response can contain. This can have an impact in datafeeds that use aggregation. We need to explore the impact and what can be done to improve the user experience.

[2017-12-05 13:19] piotrkochan commented on #12366
+1

[2017-12-05 13:20] jymit commented on #12366
+1

[2017-12-05 13:23] s1monw commented on #27596
@jasontedor @rjernst WDYT, I wonder if we should limit the number of bytes in the toString method form the SearchSourceBuilder?

[2017-12-05 13:30] xiezhenye commented on #27645
That will take some days. I'll try it.

[2017-12-05 13:35] jimczi commented on #27620
Thanks @barathguna I opened https://github.com/elastic/elasticsearch/pull/27668 to document the new format to access the `_parent` field in aggregations and scripts. It was not intended to break the format but we introduced a bug in this version that forces the usage of an explicit field name when using the `_parent` field outside of the specialized API for parent/child. In your example, the value

[2017-12-05 13:54] jpountz commented on #27653
@drw112 would something like that work for you: `A single-precision 32-bit IEEE 754 floating point, restricted to finite values.`?

[2017-12-05 14:25] drw112 commented on #27653
Yes, I think that is clear and concise. Thanks!

[2017-12-05 14:28] elasticmachine opened #29979 "SQL: Support for aliases in QUERY"
*Original comment by @gingerwizard:*

Spotfire submits fieldnames with table aliases consistently.  This is fine except when injected into our QUERY parameter.

For example, consider the following query:

`SELECT action_taken_name AS ACTIONTAKENNAME, purchaser_type_name FROM morgages_mapped m1 WHERE (QUERY('Commercial','fields=m1.purchaser_type_name')) AND (m1.state_name = 'Massachusetts')`

Notic

[2017-12-05 14:41] acarstoiu commented on #23306
@uschindler, @carrino: As a workaround, perform the index filtering in the URL path and apply the index-specific queries ANDed with a `term` filter on **`_type`**. Be aware that `has_parent/has_child` predicates need to be run with `ignore_unmapped` set.
I know that this won't work in all cases, but you have a good chance. This solves also the matter with filtered aliases.

**@ developers**: Thank

[2017-12-05 14:43] bleskes commented on #27536
This has been future ported and is all fixed,

[2017-12-05 14:43] #27536 closed

[2017-12-05 15:17] dimitris-athanasiou opened #27670 "[CI] OpenCloseIndexIT.testOpenWaitingForActiveShardsFailed"
Link to build:
[code]

Reproduce:
[code]

But could not reproduce locally.

Fails with:
[code]

[2017-12-05 15:18] DaveCTurner commented on #25933
This seems to be because of an error in the geometry you're trying to index, although it would certainly be helpful if there was a more descriptive error message given. The attached zip file, for instance, contains self-intersections so I think it's right to reject it.

Here is a shorter reproduction:

[code]

In this case the given geometry contains two triangles, the first of which is anticlockw

[2017-12-05 15:22] elasticmachine opened #29980 "SQL: Support Expressions inside Aggregate Functions"
*Original comment by @gingerwizard:*

Example:

`SELECT AVG(population/number_of_owner_occupied_units) FROM morgages_mapped WHERE state_abbr = 'CA'`

This should be achievable by a bucket script agg.  This currently fails with:

[code]
This potentially unlocks a can of worms so its a placeholder only for discussion.

[2017-12-05 15:41] Mpdreamz opened #27672 "Consolidate the way we expose additional information on serialized Exceptions on the rest layer"
When a request results in an exception it is presented back to the user as:

[code]
Notes:

* Additional inner exceptions can end up in `caused_by` to N levels deep. These nested errors will never have a `root_cause` set.
* An optional `stack_trace` string can be returned when `error_trace=true` is specified on the url.

So far this is very straight forward, there are however 3 different ways addi

[2017-12-05 15:42] dannymurphygfk commented on #25603
After posting yesterday about having upgraded... unfortunately we noticed the same problem happening again. It took a full cluster rolling restart to sort it.

[2017-12-05 15:45] DaveCTurner commented on #25933
@rkuchvarskyy the example you give also is not a valid geometry because the "hole" is not completely within the outer polygon. It's too small to see the error, but if I exaggerate the problem a bit your shape looks like this:

<img width="278" alt="screen shot 2017-12-05 at 15 41 56" src="https://user-images.githubusercontent.com/5058284/33615906-39893440-d9d3-11e7-86e4-11992042b03c.png">

[2017-12-05 15:52] woodlee commented on #27536
For anyone landing here from a search who's seeking concrete workaround steps for indexes affected by this issue, check out the thread at https://discuss.elastic.co/t/replica-shard-is-in-unallocated-state-after-upgrade-to-6-0-from-5-6-0

[2017-12-05 15:54] rkuchvarskyy commented on #25933
@DaveCTurner I understood this but I expect some validation error but not java.lang.ArrayIndexOutOfBoundsException

[2017-12-05 16:02] mattweber commented on #27596
@simonw There is definitely pretty printing happening and it is easily reproducible.  Just create an index and do a search against a non-existent nested field:

[code]

You will get a response like:

[code]

There are a ton of additional whitespace and newline characters added that are not part of the original request.  The log message looks like:

[code]

This was on ES 5.6.3, I will test 6.0 as

[2017-12-05 16:03] elasticmachine opened #29981 "SQL: Support for DATENAME function or eqv"
*Original comment by @gingerwizard:*

Fairly useful in BI and quite a common requirement in kibana - so likely also needed in Canvas, where its solved with a scripted field.

More specifically, LINK REDACTED
LINK REDACTED

e.g. DATENAME("2017-12-05T00:00:00")

returns "Tuesday"

Initially supporting english only and assuming UTC time would be fine. Longer term a locale param would be nice - as we

[2017-12-05 16:39] mattweber commented on #27596
Tested against our real cluster with same query as previous comment and again see the pretty printing and duplication for each shard...

[code]

[2017-12-05 16:41] mattweber commented on #27596
Same behavior on 6.0 as well:

[code]

[2017-12-05 17:00] #9120 closed

[2017-12-05 17:03] nerophon commented on #24043
@spinscale @clintongormley

Another user has experienced what appears to be this issue. Here is what they have reported:

Our Elasticsearch 2.4.5 cluster that has been running since 2017-11-16, is failing on /_stats requests since the morning of 2017-11-29. The _stats response shows a failure like this for every node:

[code]

Correspondingly the ES log contains this:

[code]

We captured the TCP

[2017-12-05 17:22] dimitris-athanasiou opened #27673 "[CI] ClusterBlockException causes docs update-by-query test to fail"
Link to build:
[code]

Reproduce:
[code]

Failure:
[code]

Could not reproduce locally. Seems tricky as it's probably some other test that caused the block.

[2017-12-05 17:30] dakrone commented on #27622
@antonpious I'd be interested to know what is using the memory on those nodes, is it fielddata? segment memory?

[2017-12-05 17:30] clintongormley commented on #24043
The 2.x series is no longer maintained, and in 5.0, the completion suggester (which was was causing this issue) has been removed.  I suggest upgrading your cluster to 5.x or 6.x.

[2017-12-05 17:30] #24043 closed

[2017-12-05 17:34] rjernst commented on #27612
No, your example does not compile the script, it only stores it. We discussed making context required in previous issues before adding script contexts, but you thought that was too cumbersome for users. :) . It sounds like we just need to update the documentation.

[2017-12-05 17:35] vchan2002 commented on #27661
So... going further troubleshooting... I tried to do a GET of the existing pipeline, delete it, and re-PUT it.... the 1st two steps is fine, but the last step, it complains that

        "reason": "[processors] required property is missing",

However, the ingest pipeline does have a processors property... So I'm a bit lost as to what's wrong.

`{
  "filebeat-6.0.0-system-auth-pipeline": {
    "des

[2017-12-05 17:36] dimitris-athanasiou opened #27674 "[TEST] RecoveryIT testRelocationWithConcurrentIndexing fails randomly on 6.x"
Build link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=oraclelinux/390/consoleFull

Reproduce (cannot reproduce locally):

[code]

Failure:

[code]

[2017-12-05 17:46] rjernst commented on #27612
My apologies, I misread the issue here. The problem is due to having support for old templates. This was where the entire template was passed. Essentially there is a heuristic that looks for "template", looks for "script", and if it doesn't find those, then it takes the entire body as the script source.

[2017-12-05 17:55] risdenk commented on #26868
Thanks @jbaiera!

[2017-12-05 17:57] elasticmachine opened #29982 "SQL: ORDER BY on PERCENTILES for GROUP BY fails"
*Original comment by @gingerwizard:*

`SELECT state_name, PERCENTILE(number_of_owner_occupied_units,95) AS number_of_owner_occupied_units FROM mortgages GROUP BY state_name ORDER BY number_of_owner_occupied_units
`
This generates a query, which is executed against ES.

[code]

The alias for the percentile is successfully passed to the GROUP BY and the aggregation attempts the sort in ES. However,

[2017-12-05 18:02] elasticmachine opened #29983 "SQL: WHERE clause doesn't utilise alias of SELECT expression/func successfully"
*Original comment by @gingerwizard:*

Query as follows:

`SELECT respondent_id, applicant_income_000s/loan_amount_000s AS income_to_earnings_ratio FROM mortgages WHERE income_to_earnings_ratio > 1 ORDER BY income_to_earnings_ratio`

The WHERE clauses here uses an alias. The query complains the income_to_earnings_ratio cannot be found i.e.

[code]

This is inconsistent with our ability to use alias

[2017-12-05 18:03] arboliveira commented on #24853
We're upgrading from Elasticsearch 2 to Elasticsearch 6. Our application needs to add new dynamic templates on the fly to an existing index, and we rely on the PUT mapping API for that. At time of first implementation, we followed Elastic documentation and everything worked as described under Elasticsearch 2:

https://www.elastic.co/guide/en/elasticsearch/reference/6.0/dynamic-templates.html#dynam

[2017-12-05 18:26] barathguna commented on #27620
Thanks @jimczi

Here is the working query with "_parent#parenttype":
`curl -k -XPOST 'https://localhost:9200/testindex/childtype,parenttype/_search?pretty' -H 'Content-Type: application/json' -d'
{
  "from" : 0,
  "size" : 10,
  "query" : {
        "match_all" : {}
  },
  "aggregations" : {
    "Children " : {
      "children" : {
        "type" : "childtype"
      },
      "aggregations" : {

[2017-12-05 19:03] elasticmachine opened #29984 "SQL: ORDER BY on count for GROUP is dropped if mixed with other order"
*Original comment by @gingerwizard:*

The following works:

`SELECT state_name g, COUNT(*) c, AVG(loan_amount_000s) avg_loan_amount FROM mortgages GROUP BY state_name ORDER BY c`

as does

`SELECT state_name g, COUNT(*) c, AVG(loan_amount_000s) avg_loan_amount FROM mortgages GROUP BY state_name ORDER BY avg_loan_amount`

Both of the above produce correct ES queries.

Adding a sort order to ORDER B

[2017-12-05 19:22] ilyaanisimov-reuters commented on #27657
Here is the PR
https://github.com/elastic/elasticsearch/pull/27676

[2017-12-05 19:44] elasticmachine opened #29985 "SQL: ROUND to accept decimal place parameter"
*Original comment by @gingerwizard:*

Currently the ROUND function only accepts a number. Most SQL implementations allow a parameter to indicate the number of decimal places.

LINK REDACTED

Request for parameter e.g. `ROUND(123.44444566,2)`

Minor and nice to have pre alpha release.

[2017-12-05 20:48] msimos opened #27677 "Rolling restart doc uses persistent but should use transient"
**Elasticsearch version** (`bin/elasticsearch --version`):

6.0.0

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

https://www.elastic.co/guide/en/elasticsearch/reference/current/rolling-upgrades.html

Step 1 says:

Disable shard allocation.

When you shu

[2017-12-05 20:49] msimos commented on #27677
Also if you already have the transient settings set to all, then setting persistent in Step 1 I assume has no effect because transient takes precedent.

[2017-12-05 21:37] mayya-sharipova commented on #27667
To suggest options, the distance between requested term and index terms  is calculated using of the following algorithms:  `internal` (default option), `damerau_levenshtein`, `levenstein`, `jarowinkler` or `ngram`: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters-term.html.
If the similarity between the request term and the index terms doesn't pass threshold (0.5),

[2017-12-05 21:37] #27667 closed

[2017-12-05 22:19] dnhatn opened #27678 "[CI] UpdateMappingIntegrationIT#UpdateMappingIntegrationIT failed"
I can reproduce these locally.

[code]

And

[code]

These can be related to https://github.com/elastic/elasticsearch/pull/27603.

[2017-12-05 22:24] joshfix opened #27679 "Feature Request: Implement Reactive Java Client"
Hi all,

I found this proposal for streaming responses which was closed due to lack of interest:

https://github.com/elastic/elasticsearch/issues/12188

Java 9 and Spring 5/Spring Boot 2 natively support reactive streams.

https://docs.oracle.com/javase/9/docs/api/java/util/stream/package-summary.html
https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html

I would

[2017-12-05 22:52] vamsyr commented on #27667
Thank you very much for your time. I will try as suggested by you.

[2017-12-05 23:10] #27240 closed

[2017-12-05 23:36] codebrain opened #27681 "Incorrect REST API spec?"
Looking at the breaking changes for the .NET client. I believe I have found an issue.

The documentation for 6.0 indicates that the `ignore_unavailable` and `allow_no_indices` parameters on the `indices.exists` call is no longer accepted: https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_60_rest_changes.html#_indices_exists_api

*however*

The REST spec (https://github.com/e