[2016-10-03 09:39] #20702 closed

[2016-10-03 11:31] tomas-mazak commented on #20664
Hello, is anybody going to look at this issue? It block switching from 5.0.0-alpha to beta for debian users...

[2016-10-03 11:35] bleskes commented on #16654
@niemyjski as we discussed in another issue, your issue is different than this one.

@natelapp thanks for the update. The problem is that currently doesn't align with the main use case for external versioning, where some external source owns all changes to the documents, including deletes. I haven't come up with a clean way of allowing you to do what you need plus making other use cases work witho

[2016-10-03 11:40] prog8 commented on #20716
Yes I know but this does not change the fact that I have to manually adjust the value of `recovery.max_bytes_per_sec` after recovery is done (not to let rebalance take to much IOPS and network)

This is what I thought before I changed `recovery.max_bytes_per_sec` which significantly speeded up the recovery.

I didn't look at the output of flush because it was too big, ... but let's look at another

[2016-10-03 12:13] bleskes commented on #20716
This is indeed interesting. If the synced flush did it's job (it should have small header at the beginning of the response  to give count totals), no lunce indices should be copied (assuming no indexing). Also not that the height of the first wave of bars is not really different than the height of the last cycle. I suspect something else is in play... can you tell more about your setup? number of

[2016-10-03 12:22] bleskes commented on #20645
A thought I had while reading along (for the easiest problems of those above) - should we remove support for  `now()` from painless and only support it as a script parameter? seems like it will give people what they want and be consistent (across shards?)/cacheable?

[2016-10-03 12:32] prog8 commented on #20716
I have about 8K shards in the cluster. Each node holds about 1K shards. Many of shards are tiny (<100mb), others are up to 5GB size. The ratio of tiny/non-tiny shards is more or less 50% to 50%. In the moment when I took screenshots I was replacing a few ES instances with another ones (different hardware), thus the relocation. In meantime I realized I have wrong Xmx settings so I had to do rolling

[2016-10-03 12:54] jbaiera opened #20719 "Source Filtering does not Expose Field Names with Dots"
**Elasticsearch version**: 5.0.0-beta1

**Plugins installed**: []

**JVM version**: 1.8.0_91

**Description of the problem including expected versus actual behavior**:
In certain cases of using source filtering on field names that contain dots, results that are inconsistent can be returned. My understanding of the source filtering is that it is strictly a filter that is applied over the source doc

[2016-10-03 13:14] jbaiera commented on #20719
This is related to https://github.com/elastic/elasticsearch-hadoop/issues/854. I spoke with @rjernst  about the situation and he recommended that we switch to using the `fields` (or now called `stored_fields`) parameter instead for performance reasons, but the `fields` parameter only functions on fields that are leaves of the document, unless a wildcard name is given.

[2016-10-03 14:19] niemyjski commented on #20702
Can you link me to the docs for `_create`. I still think this is a bug. I have a generic library for indexing elasticsearch and I don't know if it was called from Add or Save method. I just pass along the index version on the document which worked before. If the default value after add is 1 and I pass in 1, that shouldn't throw an error (as it didn't previously). I do see why you made the change,

[2016-10-03 14:36] bleskes commented on #20702
@niemyjski I suggest you read up on the versioning scheme - it's not specified the version of the written doc but rather that on the previous one. Also, here are the _create docs, straight out of google - https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html#operation-type

[2016-10-03 14:44] niemyjski commented on #20702
Yes, I get that 100% but there isn't a previous version when the doc is first written! My unit test wipes out the cluster and creates the mappings and writes a single doc with a version and it fails... The version I'm specifying is the same version that elasticsearch returns after the doc is created (without specifying the version). I logged this as it was working before and I don't think indexing

[2016-10-03 14:44] niemyjski commented on #20702
That link sends me to a 404

[2016-10-03 14:53] bleskes commented on #20702
Github mangles it up - here is a workable version [https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html#operation-type](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html#operation-type)

That doesn't mean it should keep working. I tried to explain, but I think something is still not clear - as I said before - I strongly suggest you read up

[2016-10-03 14:57] black-square commented on #13064
This bug is closed as well as #11118, but the original example from @RanadeepPolavarapu still doesn't work on 2.4. Should it be reopen again?

[2016-10-03 15:27] #20450 closed

[2016-10-03 15:39] jpountz commented on #20707
The current behaviour of this API is to ignore all fields for which we do not know how to compute stats. Geo points are fixable, but should we add other fields like geo shapes as well as meta fields such as `_index`? Those are currently ignored as well.

[2016-10-03 15:47] jpountz commented on #20719
+1 for consistency

[2016-10-03 16:39] jdconrad commented on #20645
@bleskes This is the correct way to do this.  We can even leave the method in the whitelist and just specialize on that specific method as it seems more intuitive than pulling 'now' out of a params map.

[2016-10-03 16:42] nik9000 commented on #20645
So, like, for painless we detect that someone wants `now` and if they do then we stick it in the params map? That sounds good, though we'll need to do some work to make sure that this properly dodges the request cache.

[2016-10-03 16:44] rjernst commented on #20645
I actually like the idea more of having a special variable, instead of calling `now()`, as it makes it clear the value will not change within the request (for example, using in two different clauses within a script).

The only caveat is this will require some distributed changes, as we need to create this timestamp on coordinating node, and send it along with shard request, and then allow scriptin

[2016-10-03 16:47] bleskes commented on #20645
One upside of a parameter is that it can be set on the coordinating node which means now is the same across shard. Not sure if we can do that with painless magic. Another upside is that it will be available in expressions as well.

[2016-10-03 17:01] DigiAngel opened #20723 "Beta: Setting network.host: or network.bind_host: fail to function"
**Elasticsearch version**:  version[5.0.0-beta1], pid[361], build[7eb6260/2016-09-20T23:10:37.942Z]

**Plugins installed**: None

**JVM version**: 8

**OS version**: Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:  Fails to start with network.host_global_:, fails to open port with network.host: or network.bind_host: set.

**Steps to reproduce**:
 1. Set netw

[2016-10-03 17:05] jasontedor commented on #20723
You have failing [bootstrap checks](https://www.elastic.co/guide/en/elasticsearch/reference/master/bootstrap-checks.html), that's why you're running into issues. You need to read the checks that failed and adjust your installation accordingly.

[2016-10-03 17:05] #20723 closed

[2016-10-03 17:09] DigiAngel commented on #20723
I do not get bootstrap check errors when I comment out either of the network directives:
[code]

[2016-10-03 17:13] jasontedor commented on #20723
Yes, you do. From your logs:

[code]

They are just not enforced when you are only bound or publishing to localhost. This is in the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/bootstrap-checks.html) that I linked to.

You must address these issues.

[2016-10-03 17:14] DigiAngel commented on #20723
Ok cool...I'm on that now thank you.

[2016-10-03 17:17] jdconrad commented on #20645
@rjernst Fair enough about the special variable.  Do you care if it's a variable of a method?

[2016-10-03 17:29] rjernst commented on #20645
I think a variable implies more that the value will not change between uses, vs a method, especially one called `now()` might be confusing. Perhaps we could at least change to a variable to start, with painless setting it equal to a `now()` call during parameter setup (so it would not be per document, but once when binding the script for a shard), and then follow up to make this value in a future

[2016-10-03 17:30] jdconrad commented on #20645
Yeah, sounds good.

[2016-10-03 17:33] niemyjski commented on #20702
I reread all the documents to ensure I wasn't missing anything... I'm not saying that something should never change due to backwards compatibility. I just think the docs here and announcements don't correlate to the actual behavior that occurs now nor the fact it was a breaking change (which is okay as long as it's stated someplace).

No where does it say you shouldn't specify a version on create.

[2016-10-03 17:40] manterfield commented on #18935
I think it would be helpful to add the requirement for Gradle 2.13 to the docs for contribution and to make it more explicit that it is required in the main readme. Currently the readme says:

Which makes it sound like 2.13 or upwards is fine.

There's no mention of version on the contribution doc.

It's only a small issue and the error message makes it very clear what has gone wrong, but it could

[2016-10-03 17:41] rjernst commented on #18935
@manterfield Please do make a PR! I agree we should update the readme/contrib doc wording given our current limitation.

[2016-10-03 17:42] rjernst commented on #18935
And it must be 2.13 at this time.

[2016-10-03 17:53] rjernst commented on #20664
This will be fixed in the next prerelease. Thanks!

[2016-10-03 17:53] #20664 closed

[2016-10-03 17:54] bleskes commented on #20645
Another question I had is the following - it seems to me that we should resolve stored scripts on the coordinating node as well. If that's the case, and we took care of the now(), is there anything else that can render a script not cachable? I think we're good there?

[2016-10-03 17:56] rjernst commented on #20645
Not sure about this; it would mean passing along the source of the stored script to shards, which effectively becomes an inline script. I think that would be hard to manage, give the separate security settings for disabling inline scripts vs stored scripts, and there would be no way for shards to understand the difference (that could not also be used by someone trying to circumvent the disabling o

[2016-10-03 18:14] bleskes commented on #20645
I think the security aspect is the same, regardless if it's done on shard or the coordinating node?

Re transfer of the whole script - I agree it's a shame if the script is large. On the other hand it also provides consistency. We have no guarantee that all shards will have the same script if it is concurrently changed. Seems like all in all it is the easiest to do?

[2016-10-03 18:18] rjernst commented on #20645
I don't think so? Inline scripting could be disabled, with a block on putting stored scripts (for example, putting them into cluster state while "closed off" from the outside world, and then restarting with a block), so you effectively have read only stored scripts.

[2016-10-03 19:12] bleskes commented on #20645
I spoke with @rjernst and it seems that the concern with enforcing the script setting on the coordinating node is that someone will be able to bypass it by making/faking a shard level transport request directly to the data nodes. While that will indeed work it falls into a much bigger list of evil things people could do if the use direct transport messages - these range from deleting data to repla

[2016-10-03 19:14] spalger commented on #20707
My naive opinion is that all values that work as "field" identifies in queries or aggregations should be included in the stats.

[2016-10-03 19:21] jdconrad commented on #20645
Security absolutely should influence our decision here.  Just because something else is already insecure doesn't mean we should feel free to add more insecurities.  We should be working toward making the other things more secure.

[2016-10-03 19:43] niemyjski opened #20725 "Inconsistency with returned version numbers on requests with errors"
5.0.0-beta

Bulk index request with 1 concurrency error returns no version info (for the one item) as expected.
[code]

Returns

[code]

bulk delete request for items that don't exist return version `1`. Shouldn't these be consistent and not return a version as these documents don't exist?
[code]

returns

[code]

[2016-10-03 19:48] jdconrad commented on #20645
Spoke with @bleskes just now.  I better understand his arguments, but need some more time to process.  We'll hop on zoom tomorrow to discuss a final solution.

[2016-10-03 21:02] martijnvg commented on #13064
@black-square The bug was only fixed in 5.0.x. Fixing it required a refactoring that didn't make its way back in 2.4

[2016-10-03 22:21] jasontedor commented on #20725
No because as explained in [Elasticsearch Versioning Support](https://www.elastic.co/blog/elasticsearch-versioning-support) (previously [linked](https://github.com/elastic/elasticsearch/issues/20702#issuecomment-251128159) in #20702), deletes are versioned too.

[2016-10-03 22:21] #20725 closed

[2016-10-03 23:58] himanshubhandoh opened #20728 "Unable to access source from inside nested script"
**Elasticsearch version**: 4.2.1

**JVM version**:1.8

**Description of the problem including expected versus actual behavior**:
I don't get any results for queries over nested fields, even though the script does work as expected for non nested fields. The reason, as I observed while debugging my wildcard script is that I fetch source() in the script which tends to be empty when I keep my script i

[2016-10-04 00:20] wewebber opened #20729 "MLT min_doc_freq, max_doc_freq calculated per shard, not globally"
**Elasticsearch version**: 2.3.3

**Description of the problem including expected versus actual behavior**:

The min_doc_freq, max_doc_freq fields of the MLT query appears to be calculated on a per-shard basis, not globally.  If this is expected behavior it should be noted in the reference documentation.

**Steps to reproduce**:

[code]

Output is:

[code]

However, same sequence, but with:

[code

[2016-10-04 05:21] wewebber commented on #20729
It occurred to me that the above behavior might have been caused by the use of the _validate API, but if you just do the straight MLT query, you get similar results.  With two shards and "min_doc_freq=1", you get 3 hits; with "min_doc_freq=2" you get 2 hits (i.e. from one shard, nothing from the other); with "min_doc_freq=1" you get no hits.

[2016-10-04 06:40] bleskes commented on #20716
Do you keep indexing while restarting the nodes?

Do you have your master log in debug mode by any chance? if so it would be great if you can share them (mail them to my first name at elastic dot co).

[2016-10-04 06:52] prog8 commented on #20716
Yes, this is the case. I need NRT and I cannot stop indexing while restarting nodes. I know this slows down rolling restart but I have no other option. I would not be suspicious that restart takes so long if I don't see speed up after changing `recovery.max_bytes_per_sec`. This is the reasons why I thought it might make sense to have something like `recovery.max_bytes_per_sec` and `rebalance.max_b

[2016-10-04 07:27] bleskes commented on #20716
Thx. Do you keep indexing while restarting the nodes?

[2016-10-04 07:29] prog8 commented on #20716
Yes I keep indexing. As I mentioned in previous message.

[2016-10-04 07:36] s1monw commented on #20645
whatever we decide here, I think this must be fixed for 5.0 GA so if anybody is working on this please assign the issue. I will pick it up tomorrow if nobody did so

[2016-10-04 07:40] bleskes commented on #20645
++ . I think we are all in alignment on the fix for 5.0 (disable caching for scripts). The discussion is about future work.

[2016-10-04 08:20] bleskes commented on #20716
Sorry, missed your first sentence.

So I think we can say that you recovery isn't limited by throttling (btw you can check that by calling `GET _recovery?human` and check throttle time). What kind of hardware are you running on? Is it any kind of remote storage?

[2016-10-04 08:24] prog8 commented on #20716
I'm using EC2 instances 4th generation with EBS attached. So ... yes, this is remote storage. I think if EBS is a problem I'd see high io wait times which is not the case but maybe I'm missing something.

Do you think this is  just a coincidence that changing `recovery.max_bytes_per_sec` did the job?

I'll look at this call on next restart. I was always using `_cat/recovery?active_only`

[2016-10-04 08:31] bleskes commented on #20716
The thing is that you don't see more bandwidth usage in the last faster recovery. I *suspect* the time is cause by the master reaching out to nodes and looking for data. We currently do it on demands, i.e., when we can actually can allocated a new shard (we have throttling on the number of concurrent recoveries a node can take - see [here]( https://www.elastic.co/guide/en/elasticsearch/reference/c

[2016-10-04 08:43] prog8 commented on #20716
Thank you very much Boaz. I really appreciate your effort. Do you think then that recovery speed up was just a coincidence?

What do you mean by this? Maybe this is indeed disk access latency. Can you tell me more details what kind of small IOs are done? I'm really curious. Maybe this indeed can be handled only by significantly changing number of concurrent recoveries (current settings is: 5).

Ye

[2016-10-04 08:49] bleskes commented on #20716
Feels like it.

The master reaches out to all nodes asking for information about local data. The nodes then look at their local disk and see what data they have. The also open the lucene index (just read a couple of files) and double check versions and corruption markers.

Grep `throttle_time` is your friend :)

[2016-10-04 08:49] robin13 opened #20732 "Note that Filedescriptors cannot be configured on Windows"
**Elasticsearch version**: current

In the docs section on [configuration -> file-descriptors](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration.html#file-descriptors) it is not mentioned that Windows does not have filedescriptor limits.  This may confuse Windows users when this cannot be configured on their systems.

[2016-10-04 08:52] prog8 commented on #20716
Hehe ... but you know ... it will not tell the full truth. I can see throttling for some operations while no throtthgling for others (including rebalance which is also mentioned in recovery log). This is indeed what I can see. Some recoveries have throttling time 0 and others 294163 or 405536

[2016-10-04 09:22] prog8 commented on #20716
I did an experiment. I restarted node (flush, 5 concurrent recoveries) and it took 20 minutes. Later I changed concurrent recoveries to 30 and again flushed before restart. Node recovered in 6 minutes. In meantime i didn't notice high IO utilization. I think as you mentioned @bleskes this might be caused by slow IO access time. I can imagine that e.g. access time is lets say 100ms (don't take this

[2016-10-04 09:34] bleskes commented on #20716
Yep. I think we can consider fetching shard data concurrently. If you want, I can guide you through a PR.

In theory I agree, but the system is already complex enough (see our discussion :)) - so I don't think we should add any settings unless there is really a concrete and repeated pain.

[2016-10-04 09:39] prog8 commented on #20716
I did another experiment. I increased the number of concurrent recoveries to 60 which made disk more utilized (checked utilization with iostat and dstat). Utilization was between 70 and 100% all the time and recovery took 3 minutes. It seems remote storage's higher access time really matters for recovery.

@bleskes thanks a lot  for explaining it and for your time :)

Yep, I agree, all new paramet

[2016-10-04 09:52] MaineC commented on #8964
@javanna They should have all been covered as part of #14249 - unless we've overlooked some back then.

[2016-10-04 11:17] markharwood opened #20733 "Build Failure: sporadic Geo distance failure"
Seen various build failures today e.g. [this one](http://build-us-00.elastic.co/job/es_core_master_windows-2012-r2/4014/testReport/) with

     Expected: <1.7976931348623157E308>      but: was <Infinity>

Reproduce command:

	REPRODUCE WITH: gradle :core:integTest -Dtests.seed=86E7CC97FFD01522 -Dtests.class=org.elasticsearch.search.sort.GeoDistanceIT -Dtests.method="testDistanceSortingWithMissingG

[2016-10-04 11:55] niemyjski commented on #20725
How can a document that doesn't exist have a version? How come calling the delete api vs bulk delete api have two different version numbers returned?

[2016-10-04 12:36] #12815 closed

[2016-10-04 12:46] russcam commented on #20702
@niemyjski, specifying a version on a create call makes no sense though; because there is no current  version of the document when performing a create, there is no version that can be specified on the create call. To allow optimistic concurrency control when creating a document, you can use `.OpType(OpType.Create)` on an index call in NEST.

[I wrote a blog post about using Optimistic Concurrency

[2016-10-04 12:56] #20733 closed

[2016-10-04 13:31] nik9000 commented on #20645
++

[2016-10-04 13:37] niemyjski commented on #20702
I'm not calling the create api, just bulk index generically for both create and save.

[2016-10-04 14:20] niemyjski commented on #20725
The core issue here is that different bulk operations return different version numbers. Eg., doing an update with concurrency issue doesn’t return a version number for the one item, but bulk delete with docs that don’t exist return a version of 1

[2016-10-04 14:34] nik9000 commented on #20732
I spend a bit of time tracking this down - the reason this isn't an issue on windows is because the JDK uses [`CreateFileW`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa363858(v=vs.85).aspx) on Windows which [looks](https://blogs.technet.microsoft.com/markrussinovich/2009/09/29/pushing-the-limits-of-windows-handles/) like the default limit is about 16 million which is plenty.

We do

[2016-10-04 15:14] cookandy commented on #20657
hi @jasontedor any thoughts?

[2016-10-04 15:32] #20732 closed

[2016-10-04 16:45] #14719 closed

[2016-10-04 18:34] chromechris1 opened #20739 "Add Wildcard character ability for _reindex API"
**Elasticsearch version**: 2.3.2

**Plugins installed**: modules [lang-groovy, reindex, lang-expression], plugins [marvel-agent, watcher, shield, license, head], sites [head]

**JVM version**: OpenJDK 64-Bit Server VM (build 24.111-b01, mixed mode)

**OS version**: Red Hat Enterprise Linux Server release 6.8 (Santiago)

**Description of the problem including expected versus actual behavior**:

**S

[2016-10-04 18:49] rjernst commented on #20068
Give 5.0 is almost ready, there is an existing workaround I think we can "promote" for now, but know that it will break in the future. In painless, _source is currently available via `params._source`. This is due to a side effect of the existing scripts infrastructure, and was never intended to be used. The long term path forward is to make `_source` be a local variable available depending on the

[2016-10-04 19:04] nik9000 commented on #20739
I think this is a duplicate of https://github.com/elastic/elasticsearch/issues/19662 so I'm going to close it. Please reopen if it isn't and explain how it differs.

[2016-10-04 19:04] #20739 closed

[2016-10-04 20:31] jpountz commented on #20729
I don't think this can be fixed in a scalable way, so +1 to add a note about this limitation in the docs.

[2016-10-04 20:34] jpountz commented on #20728
I am torn as to whether we should address it or document this limitation, especially since `_source` access from search scripts is considered a bad practice.

[2016-10-04 20:50] jpountz commented on #20697
There is no way you can do this now, and that would be a fairly costly query to implement. I believe you could achieve something close with the following query, just adapt the slop of the phrase queries to your needs.

[code]

I am closing it now since I don't think there is enough need for it, but we could reconsider if we see this coming more in the future.

[2016-10-04 20:50] #20697 closed

[2016-10-04 20:57] himanshubhandoh commented on #20728
Is there a workaround? I'm aware it might not be performant, but wonder if it is even theoretically possible currently.

[2016-10-04 21:01] jpountz commented on #16705
I have been thinking a bit more about it today and I could not come up with a rule about what should be highlighted:
 - should filters really not be highlighted?
 - if yes then do we still agree that what lives under a `constant_score` should not be highlighted? (it is technically a filter)
 - isn't it mostly due to the use of `"require_field_match":false`? in that case maybe the actual fix is for

[2016-10-04 21:01] jpountz commented on #20679
Thanks for bringing closure!

[2016-10-04 21:01] #20679 closed

[2016-10-04 21:05] jpountz commented on #20651
Not sure why it would be specific to painless, maybe it is a general issue with rescorers?

[2016-10-04 21:08] gmoskovicz commented on #16705
@jpountz thanks for looking at it! My comments go inline:

Maybe we should be able to specify whether the filters should be higlighted or not? Shoudn't this be a configuration? Depending on the use case, people would want to higlight this or not

This could be addressed with my statement in [1]

I think that when require_field_match is false, a highlight query should be required, otherwise what sh

[2016-10-04 21:23] nik9000 opened #20744 "msearch doesn't support timeout"
So far as I can tell `msearch` doesn't support setting `timeout` in any way. I may be missing it, but if not we should fix that.

[2016-10-04 21:38] jpountz commented on #16705
This is something I'd like to avoid if possible as settings/options increase the complexity of our APIs.

The current default is to highlight the main query and highlighters will try to highlight across fields. It  is indeed quite a tricky option as weird things can happen if fields have different analyzers.

[2016-10-04 21:40] nik9000 commented on #20744
After some more digging - msearch does support timeout. You have to put it in the "body" portion of each search request.

[2016-10-04 21:40] #20744 closed

[2016-10-04 23:57] obudiman commented on #20544
While waiting for the official work to be completed, is there any workaround we can do for the current alpha/beta version?

If we can deal with the fact that we have to create those internal indices manually every day, is there any information on how we can create them manually?

[2016-10-05 04:48] dijofrancis commented on #18001
failed installing elastic search
ES 1.7.3
JDK 1.8.0_77
windows 10

C:\Program Files\elasticSearch\elasticsearch-1.7.3\bin>service.bat install
Installing service      :  "elasticsearch-service-x64"
Using JAVA_HOME (64-bit):  "c:\Program Files\java\jdk1.8.0_77\"
Failed installing 'elasticsearch-service-x64' service

[2016-10-05 07:19] martijnvg commented on #20728
@himanshubhandoh The `_source` field isn't accessible, because it associated with the root document and not with the nested documents. So you can't access _source from within a `nested` query. What you could do instead is in your script access doc values or stored fields (although doc values is preferred as accessing it is much faster) from within a `nested` query. This should work as doc values /

[2016-10-05 07:38] #20563 closed

[2016-10-05 08:35] robin13 opened #20748 "Special characters allowed for aliases which are not allowed in index names"
**Elasticsearch version**: 5.0.0-alpha5

**Plugins installed**: [] x-pack

**JVM version**:1.8.0_101

**OS version**: Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

It is possible to use special characters, e.g. `*` in aliases which are not allowed in Index names.  I think this is a bug as it can lead to very confusing states - bel

[2016-10-05 10:04] danielmitterdorfer commented on #15536
No time to work on this for the foreseeable future and interest seems also limited. Therefore I close it for the time being. Feel free to reopen if necessary.

[2016-10-05 10:04] #15536 closed

[2016-10-05 12:39] sstults commented on #20665
I added support for grid level calculation based off of `dist_err` and `dist_err_pct`, so I also updated the description of this ticket.

[2016-10-05 14:30] rpedela opened #20757 "Minhash token filter needs better documentation"
The [Minhash Token Filter](https://www.elastic.co/guide/en/elasticsearch/reference/master/analysis-minhash-tokenfilter.html) documentation only describes the interface for the token filter. That is fine for most token filters, but this one is more complicated.
1. It should list possible use cases such as an alternative to the "more like this" query.
2. It should talk about the recommended number o

[2016-10-05 14:50] nik9000 opened #20760 "Limit index creation rate"
5.0 introduces a per-node limit on the rate of inline script compilations that should help catch the anti-pattern of embedding script parameters in the scripts themselves. I wonder if it is worth adding a master-only limit on the rate of indexes created to catch situations where people accidentally misconfigure an input system and it ends up creating thousands of indexes in quick succession. Such

[2016-10-05 14:56] s1monw opened #20762 "Ensure Painless scripts are pure functions"
Today we have `now()` support in painless which is causing all kinds of trouble when it comes to caching. Users that really need a notion of `now()` can pass a parameter to the script that holds the current timestamp and it will be consistent on all shards. Support for out datemath `now` is not needed here since it's really not a commonly used method. We should remove the support for 5.0 GA

Relat

[2016-10-05 14:56] s1monw commented on #20762
@jdconrad can you take a look

[2016-10-05 15:01] s1monw opened #20763 "Prevent ScriptedQuery form being cached in the query cache"
ScriptedQuery can't be cached today and we should prevent it from happening. We might be able to relax this when we have #20762 in but for now we should just not cache

[2016-10-05 15:04] dakrone commented on #20760
Have we run into any situations where someone has actually hit this issue? I don't recall seeing any github issues about it before.

[2016-10-05 15:12] nik9000 commented on #20760
I've seen it come through Elastic's support organization a few times. I expect this hasn't come up on github because Elasticsearch isn't the root cause of the issue.

[2016-10-05 15:13] russcam opened #20765 "Azure Cloud plugin does not work against Premium Locally Redundant Storage"
**Elasticsearch version**: 2.4.0

**Plugins installed**: []

**JVM version**:

**OS version**: Ubuntu 14.04.4-LTS

**Description of the problem including expected versus actual behavior**:

The azure cloud plugin does not appear to work against Premium Locally Redundant Storage (`Premium_LRS`). Error returned when attempting to create a snapshot repository against Premium_LRS:

[code]

All Standar

[2016-10-05 15:17] naag commented on #19844
This still happens on release 5.0.0-alpha5:

[code]

JVM version is:

[code]

Does ES 5.0.0-alpha5 already include the Lucene fix? Thanks!

[2016-10-05 15:30] jasontedor commented on #19844
Yes.

[2016-10-05 15:49] thomas11 commented on #19844
There is a related bug that results in the same error when using
MultiPhraseQuery. It's fixed in the latest Lucene 6.2.1, but not in 6.1.

https://issues.apache.org/jira/plugins/servlet/mobile#issue/LUCENE-7417

On Oct 5, 2016 9:31 AM, "Jason Tedor" <notifications@github.com> wrote:

[2016-10-05 16:41] jdconrad commented on #20762
Never mind, I realize that the permanent solution is for a user to pass in a param :)

[2016-10-05 17:04] dakrone commented on #19784
We have been brainstorming how to handle the `_all` field for the last few
weeks. This has led us to revert the change that elides numerics from `_all` in
favor of the new ideas.

The results of the discussion are this:

- Favor query-side handling this versus mapping-side changes. It would be better
  if we could handle an `_all`-like query entirely on the query side rather than
  requiring mappi

[2016-10-05 17:05] cookandy commented on #20657
This was a brand new cluster - just started 2 min before I tried to run the import.  I would imagine the shard size would be nil, since it was just created.

Again, if I disable IPSec, everything works fine.

[2016-10-05 17:06] jdconrad commented on #20762
Now has been removed from 6.0, 5.1, and 5.0.  Closing this issue.

[2016-10-05 17:06] #20762 closed

[2016-10-05 17:17] jasontedor commented on #20657
Yes, a reproduction that does not involve Docker.

[2016-10-05 17:37] himanshubhandoh commented on #20728
Well, I wanted to fetch a field that has been analyzed, so doc values is not an option. Is there a way to fetch the raw string from the stored doc (not the index)?

[2016-10-05 17:48] ebclark2 commented on #9120
+1

[2016-10-05 18:03] cookandy commented on #20657
Unfortunately Docker is a requirement in my environment and I will not be able to run ES outside of it.

I am using the official ES Docker image, so I'm a bit surprised we're trying to cut out Docker...

I had other MTU issues on Docker and the only fix was to create an iptables rule to fix it:

[code]

This seems to work fine for all other applications besides ES.  I'm wondering if it has anythin

[2016-10-05 18:06] jasontedor commented on #20657
The "official" Elasticsearch Docker image is not affiliated with Elastic, it's a terribly misnamed image.

I want to cut out as much of the complexity as possible yet still reproduce the issue. Basically where I'm coming from is that I think this has nothing to do with Elasticsearch, I think it's something else. So I want a reproduction on as close to a vanilla installation of Elasticsearch as pos

[2016-10-05 18:10] ppf2 opened #20768 "Scheduling fairness when batching cluster states"
While performing RCA for a different tribe node behavior, Yannick identified an additional potential improvement around scheduling fairness when batching cluster states.  This can cause pending cluster state updates to accumulate.

Summary below:

"Pending tasks in most of the diagnostic snapshots show there are pending cluster state updates from all of the upstream clusters. Batching is done on a

[2016-10-05 18:31] martijnvg commented on #20728
@himanshubhandoh Maybe stored fields work for you: https://www.elastic.co/guide/en/elasticsearch/reference/2.4/mapping-store.html#mapping-store

[2016-10-05 18:47] cookandy commented on #20657
Oh, I didn't realize the "official" Elasticsearch image wasn't maintained/supported by Elastic. 😞

I have a feeling you are correct, and I will be unable to reproduce this issue outside of Docker.  I have already discovered flaws with Docker TCP bridging, and I know it's MTU-related (hence the iptables rule).  Also, failing to add the iptables rule prevents me from even loading the `accounts.json`

[2016-10-05 18:58] jbaiera opened #20769 "Strict URL Parsing Rejects Compound `preference` Parameter"
**Elasticsearch version**: master

**Plugins installed**: []

**JVM version**: 1.8

**OS version**: any

**Description of the problem including expected versus actual behavior**:
The [`preference` parameter](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/search-request-preference.html) allows you to limit which shards you execute a search against with the `_shards:x,y,z` property. You

[2016-10-05 19:26] nik9000 commented on #20769
I wonder if it used to just ignore `_primary` without the escaping?

[2016-10-05 19:54] jasontedor commented on #20657
It's a really unfortunate situation, it's caused a tremendous amount of confusion in the community; you're not the only one to be confused by this.

We are [working on truly official Docker images](https://www.elastic.co/blog/releasing-beta-version-of-elastic-docker-images), but these are currently in beta form.

The transport layer (used for clustering) uses TCP.

I'm going to close this issue. P

[2016-10-05 19:54] #20657 closed

[2016-10-05 21:10] PatBee opened #20772 "Service Set up when installing from Tar"
**Elasticsearch version**: 2.4.1

**Plugins installed**: []

**JVM version**: 1.8

**OS version**: Amazon Linux

**Description of the problem including expected versus actual behavior**:
When installing from tar file there appear to be no scripts start up and shutdown from init.d to run elastic search as a service.  Googling for an answer takes me to pages that imply these exist when installing fr

[2016-10-05 21:14] nik9000 commented on #20772
Right. The expectation is that if you want init scripts that work for your OS you'll use the package manager. If you are installing on an OS that doesn't support that packages we build then our init scripts aren't likely to work for you anyway.

[2016-10-05 21:14] #20772 closed

[2016-10-05 21:26] eskibars commented on #7612
Given that "Sense" is no more and has moved into Kibana as "dev tools," with a different look and feel, I'm going to close this out.  If it's needed, I recommend re-opening in the Kibana repo

[2016-10-05 21:26] #7612 closed

[2016-10-05 21:33] jpountz commented on #20760
I think I'd rather limit the total number of indices/shards in a cluster than the creation rate.

[2016-10-05 21:50] jbaiera commented on #20769
@nik9000 You might be on to something. Booted up the 5.0.0-beta1 release and tried encoded and unencoded. I'm running this locally with one node, so the replica shards on this index are unassigned.

I expected this to fail because the replica is unassigned.
[code]
... But it doesn't. Now, If we escape the semicolon...
[code]

Can you say "Smoking Gun"?

[2016-10-05 23:01] jasontedor commented on #20769
I think we just need a new separator here since the unescaped form just never worked.

[2016-10-05 23:56] benbenwilde commented on #11066
This is no good. I want to run a script during reindex, but I want to run it asynchronously. But I'm stuck with the version where there is a bug with the reindex task going away when it finishes (or fails). So essentially I need to at least validate that the script file exists before running. So I try to validate using a search or something but it seems to run in a different context throwing rando

[2016-10-06 00:13] nik9000 commented on #11066
That sucks! You are very likely better off running reindex with a size of 1
synchronously and then kicking it off asynchronously.

At this point even if no matter the outcome of this issue you'll get the
fix for your async status  problem first because that is in 5.0. Any new
feature would only be available in subsequent versions anyway.

On Oct 5, 2016 7:56 PM, "benbenwilde" <notifications@github

[2016-10-06 00:33] cookandy commented on #20657
@jasontedor thanks for the help.  I'm glad to see that there are official Docker images in the works.  I will try this scenario with the official (beta) image, and see if I have the same problem.  If so, would it be appropriate to open this issue under that project?

Is there any reason you can think of why a single node would work (only after adjusting MTU), but a cluster would not?  Given that i

[2016-10-06 00:40] jasontedor commented on #20657
I'm sorry we couldn't make substantial progress on the issue, but our role is to investigate Elasticsearch issues and this feels outside of Elasticsearch.

Only if you have a reasonable argument that the issue is with the image or Elasticsearch, and not due to custom setup that you've applied to the Docker hosts or the interaction between the hosts.

Nope, I think the setup is just broken.

No, MT

[2016-10-06 00:57] rjernst commented on #13059
We have a good handle now on how plugin extension points are designed in 5.0, so I am closing this issue.

[2016-10-06 00:57] #13059 closed

[2016-10-06 05:09] ppf2 opened #20773 "Add field validation for range aggregation field option"
**Elasticsearch version**: 1.7, 2.3

Consider the following example, if field is set to a field that does not exist, no errors are thrown and instead only the range aggregation is returned and the max value is not returned.

[code]

[2016-10-06 05:56] Sartner commented on #17693
@dakrone
Can I only update master node config and rolling restart (only the masters)?
Because restart all nodes will take a long time

Or how to do it with out restart?

[2016-10-06 07:56] cwurm commented on #19784
I like the idea of an all query. I think it might want to calculate relevancy scores though. As rightly noted here this might not be perfect, but is sufficient for a number of uses, e.g. when indexing mostly text fields.

And in an all query we might be able to account for the most egregious shortcomings, e.g. not take non-text fields into account for the score.

[2016-10-06 08:35] abhishekanand100 commented on #19784
@dakrone in our use case we do not query the _all field, so disabling it completely in the mapping won't affect our searches, constant score is what we use mostly, just that since _all is indexed so I assume disabling it completely would save up some time and reduce latency. Can someone please advise.

[2016-10-06 08:55] chindhuhari opened #20774 "mapper-attachments - copy_to doesn't work"
**Elasticsearch version**: 2.3.2

**Plugins installed**: [mapper-attachments]

**JVM version**: 1.8

**OS version**: Windows

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
Similar to https://github.com/elastic/elasticsearch-mapper-attachments/issues/216 and https://github.com/elastic/elasticsearch/issues/14946
We couldn't find as to in which ver

[2016-10-06 08:58] SKumarMN commented on #20774
I am facing the same issue too. Can you please let know if there is a fix if so in which version or this feature(copy_to in subfields) is not supported at all

[2016-10-06 09:34] digitalkaoz commented on #15655
@sumitjainn can you post an example here? trying to do some filtering on the docs of a top_hits aggregation, but didnt have any luck here... maybe @spinscale has an opinion too?

[2016-10-06 09:45] dadoonet commented on #20774
Duplicate of #18361.

[2016-10-06 09:45] #20774 closed

[2016-10-06 09:51] satterly commented on #19139
See https://discuss.elastic.co/t/elastic-5-0-0-release-date/61382

[2016-10-06 10:20] manterfield commented on #18935
Thanks @rjernst, made a PR with it in.

[2016-10-06 11:21] stardust85 commented on #15143
I got a similar message with cassandra when changing something in /etc/hosts, /etc/sysconfig/network and /etc/resolv.conf

[2016-10-06 11:29] cwurm commented on #19784
@abhishekanand100 I think your question is independent of the topic under discussion here, you can already disable the _all field today. You might want to post in another forum, e.g. https://discuss.elastic.co/c/elasticsearch

[2016-10-06 11:29] SravanTurbo opened #20777 "Agrregation on multiple input in elasticsearch"
**Elasticsearch version**: 2.4.1

**Plugins installed**: watcher

**Description of the problem including expected versus actual behavior**

 I am monitoring the input sources and trying to output the sources which are not active. below is the watch implemented and the result,

I have 3 input sources  ["192.168.48.8", "192.168.30.150", "192.168.190.8"], out of which "192.168.190.8" is inactive,

I

[2016-10-06 14:01] #20633 closed

[2016-10-06 14:11] #20768 closed

[2016-10-06 14:27] abhishekanand100 commented on #19784
@cwurm thanks for the info, will post a new thread on the link

[2016-10-06 15:50] clintongormley commented on #4743
@dakrone I agree.  i think we're good where we are today

[2016-10-06 15:50] #4743 closed

[2016-10-06 15:58] clintongormley commented on #20593
@tomas-mazak this is fixed by https://github.com/elastic/elasticsearch/pull/20644

[2016-10-06 16:05] clintongormley commented on #10632
@dakrone Given that the end user can't specify fields in the SQS like you can in QS (`user:kimchy`) I've come around to thinking that `*` should always mean match all docs.

[2016-10-06 16:06] clintongormley commented on #20641
thanks for pursuing it @LeonardGC

[2016-10-06 16:06] pangyikhei opened #20781 "Fast Vector Highlighter fails to highlight when using synonym analyzer in 5.0.0-beta1"
**Elasticsearch version**: 5.0.0-beta1

**Plugins installed**: [analysis-icu, ingest-attachment]

**JVM version**: Oracle JDK 1.8.0_101

**OS version**: Windows 10/Windows Server 2012

**Description of the problem including expected versus actual behavior**:
Actual behavior: Fast Vector highlighter fails to highlight search results when using a synonym analyzer on the query in 5.0.0-beta1. Forcing

[2016-10-06 16:12] chenryn commented on #8688
So, is the `"dynamic":"unsafe"` options exists now?

[2016-10-06 17:48] tomas-mazak commented on #20593
@clintongormley I still see the confusion here: https://www.elastic.co/guide/en/elasticsearch/reference/5.x/deb.html

[2016-10-06 17:53] tomas-mazak commented on #20664
@rjernst Why is that? And if the new repo cannot be fixed, why don't you add the beta package to the old one (http://packages.elastic.co/elasticsearch/5.x/debian)?

[2016-10-06 18:05] Vikas- opened #20782 "geopoints type issue"
I am replicating data from couchbase to elasticsearch using xdcr. While indexing couchbase is creating type for fields automatically as string. I want location field, to be used as a geopoint type. It seems, type can't be changed after the data is replicated. Is there any work around for this?
Thank you.

[2016-10-06 18:19] eskibars opened #20783 "Reindex docs should indicate it doesn't attempt to generate mappings"
**Describe the feature**:
Currently, it's not entirely clear that in the existing reindex documentation that it's the user's responsibility to set up the destination index mappings prior to beginning the reindex operation.  A few users have asked about this, and I can see how it'd be confusing if you assumed it may be copying the mapping and simply reindexing with the latest index format.  It'd be

[2016-10-06 18:40] rjernst commented on #20664
@tomas-mazak For 5.0, as we are unifying versions across our stack, we have built a unified release process, and artifact locations are changing. When the next prerelease occurs, it will rewrite the repository metadata, and fix the signature filename.

[2016-10-06 19:12] calvinps commented on #16838
+1 sorting after the fact in our application isn't a viable option due to number of results.

[2016-10-06 19:43] GlenRSmith opened #20785 "multi_match accepts an array of values for "query""
**Elasticsearch version**: 2.3

A multi_match query that is otherwise proper, but has an array of values for the "query" parameter will execute successfully, but only actually perform the search using the last value of the array.

Should it return an error instead?

**Steps to reproduce**:

[code]

Search results don't include the 2nd of the 3 documents.

[2016-10-06 19:54] rjernst commented on #20785
@GlenRSmith Can you try with the 5.0 beta? From glancing at the code (which was heavily refactored for 5.0) I believe it will now produce an error.

[2016-10-06 19:54] adrianocrestani commented on #19879
I have verified that it is fixed on ES 5.x (5.0 beta1)

[2016-10-06 20:03] rjernst commented on #16894
Tribe settings like `path.*` are no longer allowed (as of 5.0).

[2016-10-06 20:03] #16894 closed

[2016-10-06 20:12] rjernst commented on #19611
Given the current voting (about even) and the timeframe (5.0 is getting closer to release), I am closing this issue. It's not worthwhile to me to cause disruption right now (or potentially break the build so close to release with such a large move), but I do hope we can be open in the future to large changes based on their merit.

[2016-10-06 20:12] #19611 closed

[2016-10-06 20:57] niemyjski opened #20787 "Reindex failures clarification"
I'm writing some client side code (using nest) to use server side reindexing. I noticed that there is a failures array (https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html). I was trying to figure out if the `id` property was a scroll id or the document id.

The type in nest is `BulkIndexByScrollFailure` and both the elastic docs don't have any real clarification on w

[2016-10-06 20:59] nik9000 commented on #20787
If there is an id field then it is the document's id that failed.

[2016-10-06 21:00] niemyjski commented on #20787
Thanks, I wasn't sure the type names kinda made me think it was a scrollid and it could of been either. Once I get done with this, I'll try and write something up for the docs.

[2016-10-06 21:00] #20787 closed

[2016-10-06 21:50] mikemccand opened #20789 "Polygon query for geo_point field should pass the multi-polygon to LatLonPoint"
This is a follow-on to #20315, where we cutover to `LatLonPoint` for faster geo shape filtering.

But we still make a big `BooleanQuery` when a multi-polygon (a union of top-level polygons, with or without internal holes) is passed.

This is in general far slower than passing the entire multi-polyon to `LatLonPoint`.

[2016-10-06 22:28] GlenRSmith commented on #20785
@rjernst Yep. In 5.0.0 beta1, the search produces an error.

[2016-10-07 00:35] rdica opened #20792 "Ubuntu 16.04 elasticsearch fails to start when datadir is on iscsi volume"
**Elasticsearch version**:
Package: elasticsearch
Version: 2.4.1
License: unknown
Vendor: none
Architecture: all
Maintainer: Elasticsearch Team <info@elastic.co>
Installed-Size: 29847
Depends: libc6, adduser
Section: web
Priority: optional
Homepage: https://www.elastic.co/
Filename: pool/e/el/elasticsearch-2.4.1.deb
Size: 27252092
SHA1: 575a7ee8cb62f6b96fde9dc465b3c4fe0565fb07
SHA256: cdf94b84cbf3

[2016-10-07 01:30] jasontedor commented on #20792
I'm not sure what you're expecting here; the data directory is not available is not an Elasticsearch issue.

[2016-10-07 01:30] #20792 closed

[2016-10-07 01:37] eskibars commented on #20782
You can't change the types of fields after they've been indexed.  You could potentially set up a new index with different types and then run a [reindex](https://www.elastic.co/guide/en/elasticsearch/reference/2.4/docs-reindex.html) on the existing documents/index.

I'm going to close this out because it sounds like everything is fine in the elasticsearch here.  If there's something couchbase is do

[2016-10-07 01:37] #20782 closed

[2016-10-07 01:45] rdica commented on #20792
Maintainer: Elasticsearch Team info@elastic.co

Did I misunderstand something, is this team not the pkg maintainer?

[2016-10-07 07:25] amitanjani opened #20795 "Term aggregation on array not_analyzed field include regex filter issue"
I was using elasticsearch 1.7.3 and my term aggregate query

`"aggregations" : {"tagsList" : {  "terms" : {
     "field" : "tagsList.tagsList_sort",
     "size" : 100,
     "order" : {
           "_term" : "asc"
       },
      "include" : "((?i).*accoun.*)"  }}`

Recently I upgraded my es version to 2.3.x and above query is not working. Please suggest similar query for esv2.3.x

[2016-10-07 08:00] jpountz opened #20797 "Look into nested query performance regressions"
While the query changes that we did in 2.0+ improved the situation for queries that have slow verifications (phrase, script) or filters that are not reused (by making sure they are reused before caching), it seems that it also made other queries slower eg. the nested query.

Things might already be partially fixed in 5.0+ thanks to changes like https://issues.apache.org/jira/browse/LUCENE-7330 .

[2016-10-07 08:07] clintongormley commented on #20593
@tomas-mazak the docs had not yet been rebuilt.  Look now: https://www.elastic.co/guide/en/elasticsearch/reference/5.x/deb.html

[2016-10-07 09:04] maeserichar commented on #12565
Hi!
We are having the same problem in the 2.3.3 version.  Is there any posibility of porting #17817 to the 2.x branch?

[2016-10-07 09:24] #17580 closed

[2016-10-07 09:40] colings86 commented on #20668
Discussed in FixItFriday and we felt that we should use the columnar output for the list command but not prepend the version with the plugin name, so the output would look like:
[code]

We should make sure this change is also made in kibana and logstash so the output is consistent across all three

[2016-10-07 09:45] dadoonet commented on #20668
Sorry was not in FixItFriday today and missed that discussion. I wonder if we should be consistent with the `_cat` API? I mean having optional headers, and by default don't display the version so we keep the previous rendering which is super easy to consume by a shell script and let the users ask for more details with the `verbose` option?

[2016-10-07 10:00] jpountz commented on #20237
Discussed in FixitFriday. Sorting terms aggregations by sub aggregations is known to have pitfalls (#17588) so we are reluctant to make it more powerful. There might be workarounds in some cases eg. by configuring a missing value on the `min` aggregation.

[2016-10-07 10:00] #20237 closed

[2016-10-07 10:14] colings86 commented on #15613
I like this change in general, my only concern is the fact that the create index and index document apis will be on the same rest endpoint with only a different method. I am worried this is confusing and error-prone for users.

As discussed above the create index will be only accessible with `PUT index` and indexing a document with an auto-generated id will be `POST index`. This seems weird to me

[2016-10-07 10:14] clintongormley commented on #20760
Discussed in FixItFriday.  There are two issues here: creating too many indices and creating indices faster than the master can cope. We suggest adding two safeguards:

# max_shards_per_node

This setting would be checked on user actions like create index, restore snapshot, open index.  If the total number of shards in the cluster is greater than `max_shards_per_node * number_of_nodes` then the us

[2016-10-07 10:16] clintongormley commented on #20226
Discussed in FixItFriday.  We have done a lot of work to try to reduce the amount of memory used by segments.  Interfering with this process would be complex and likely introduce bugs.  Instead, we'd rather solve this issue with the `max_shards_per_node` setting described in https://github.com/elastic/elasticsearch/issues/20760#issuecomment-252206854

[2016-10-07 10:16] #20226 closed

[2016-10-07 10:46] clintongormley commented on #20705
# max_shards_per_node

This setting would be checked on user actions like create index, restore snapshot, open index.  If the total number of shards in the cluster is greater than `max_shards_per_node * number_of_nodes` then the user action can be rejected.  This implementation allows the max value to be exceeded if (eg) a node fails, resulting in a lower total max shards per cluster.

We would de

[2016-10-07 10:47] clintongormley commented on #20760
The `max_shards_per_node` change will be handled in https://github.com/elastic/elasticsearch/issues/20705

[2016-10-07 11:05] SimoneTosato commented on #5512
+1

[2016-10-07 11:22] ddavidebor commented on #5512
+1 This feature would be so helpful and powerful

[2016-10-07 11:34] jasontedor commented on #20668
@colings86 The reason we are here is because of #18683 which wanted a machine-readable format for this output. I'm not sure if the whitespace satisfies that request or not; I'm not sure if we, for example, enforce that the name and version do not contain spaces. We previously discussed #18683 in an earlier Fix-it-Friday; I was against that change because it's conflating a human-readable API with a

[2016-10-07 11:56] colings86 commented on #20668
@jasontedor Ok, thanks for giving more background. I have removed adoptme and marks as discuss again as there is obviously more that we need to work out here before we implement/don't implement this change

[2016-10-07 12:17] #20769 closed

[2016-10-07 12:22] #20579 closed

[2016-10-07 12:42] clamping commented on #9293
+1 @bstsnail
How to show in Kibana?

[2016-10-07 12:45] thxmasj commented on #16412
Any good workarounds for this? I have a similar problem running on Docker with swarm mode, where the master/gossip nodes are runnig as a service and the data nodes point to the service name. As Docker uses DNS for the discovery this is a problem there as well.

[2016-10-07 13:13] nik9000 opened #20802 "No 2.4.1 release tag on github"
I'm not sure who cut the release on which hash, but could you tag it? I'd do it myself but I don't know the hash or if we have to do any other incantation beyond making the tag and pushing it.

[2016-10-07 14:13] s1monw commented on #20304
@jasontedor do we have a workaround for this? Maybe we can remove the blocker label if that is the case?

[2016-10-07 14:15] s1monw commented on #18061
with https://github.com/elastic/elasticsearch/pull/20491 committed I think we can remove the blocker label here or maybe even close?

[2016-10-07 14:16] s1monw commented on #20645
closing this since it's fixed by #20750

[2016-10-07 14:16] #20645 closed

[2016-10-07 14:16] s1monw commented on #20413
@jpountz @clintongormley what's the status on this?

[2016-10-07 14:17] s1monw commented on #20413
@dakrone ^^

[2016-10-07 14:49] jzbahrai opened #20803 "Custom Analyzer does not work as a chain as expected."
The settings are as follows:

[code]
The expected result after expansion for synonym is the following:
[code]
The synonym I put in is jello=>jell-o

The result that I get after using the synonym analyzer
[code]
This doesn't seem right. I use the english chain after synonyms expanded.
The result should be the same as the one that I get when running:
GET /products_v2/_analyze?analyzer=english&text="

[2016-10-07 15:28] clintongormley commented on #20803
Duplicate of https://github.com/elastic/elasticsearch/issues/7199

[2016-10-07 15:28] #20803 closed

[2016-10-07 15:40] PhaedrusTheGreek opened #20804 "Ingest API Default Pipeline"
Would it make sense for Ingest API calls to have a default pipeline behavior in the case where [dynamic routing](https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/491) is happening and the pipeline might not exist?

[code]

[2016-10-07 15:55] dakrone commented on #20413
@s1monw I have not started on this, I'll start working on it today.

[2016-10-07 16:08] clintongormley commented on #20804
I don't like this at all.  It is messy and inconsistent.  Later on, when you retrieve the document, you have no idea which pipeline was applied.  I looked at your link to https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/491 but that problem can be solved with logstash config.

[2016-10-07 16:08] #20804 closed

[2016-10-07 16:39] #20783 closed

[2016-10-07 17:18] clintongormley commented on #20802
Sorry @nik9000 - pushed

[2016-10-07 17:18] #20802 closed

[2016-10-07 17:38] rjernst commented on #20668
I also was against the change in #18683. I think it should be reverted. I dont' think we should complicate the plugin tool anymore. We have a verbose option for the extra information. As I explained in that issue, having the version does not actually help with "automating". When elasticsearch is upgraded, all plugins must be upgraded.

[2016-10-07 17:40] clintongormley commented on #20795
Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2016-10-07 17:40] #20795 closed

[2016-10-07 17:52] clintongormley commented on #8688
@chenryn no - that was never added.  we're always safe

[2016-10-07 17:55] clintongormley commented on #20781
@pangyikhei can you reproduce this issue without using wordnet?  If so could you provide a simple recreation just using inline synonyms?

[2016-10-07 17:56] devgc commented on #17006
Here is a good example.

Windows uses the [USN Journal](https://msdn.microsoft.com/en-us/library/windows/desktop/aa363798(v=vs.85).aspx) to record changes made to the file system. These records are extremely important "logs" for people in the DFIR community.

[Version 2](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365722(v=vs.85).aspx) records uses 64 bit unsigned integer to store r

[2016-10-07 17:57] devgc commented on #17006
Should we go ahead and create a new issue for 64-bit unsigned type as a feature?

[2016-10-07 18:05] #20304 closed

[2016-10-07 18:23] clintongormley commented on #20777
Hi @SravanTurbo

Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only, and for Elasticsearch only.

thanks

[2016-10-07 18:23] #20777 closed

[2016-10-07 18:43] clintongormley commented on #20728
I'm going to close this issue as there is nothing to do here.

[2016-10-07 18:43] #20728 closed

[2016-10-07 18:45] marcurdy commented on #17006
I'm also in the digital forensics world and see merit in providing a 64-bit unsigned type.  If it were 128-bit with a speed impact, it wouldn't affect the way in which I process data.  My use is less real time and more one time run bulk processing.  The biggest factor to me would be what makes the most sense from the developer side in respect to java and OS integration.

[2016-10-07 18:52] clintongormley commented on #20765
@dadoonet any ideas?

[2016-10-07 18:53] clintongormley commented on #20757
@rpedela I know nothing about it.  Fancy sending a PR with the details?

[2016-10-07 19:27] niemyjski opened #20809 "5.0.0-beta1 unable to successfully call elasticsearch.bat"
I'm in the process of tracking this issue down with appveyor.. But when I run elasticsearch.bat from powershell (`Start-Process "$(Get-Location)\elasticsearch-node1\bin\elasticsearch.bat" -RedirectStandardError "$(Get-Location)\elasticsearch-node1\error.txt" -RedirectStandardOutput "$(Get-Location)\elasticsearch-node1\log.txt"`

I get the following text in `error.txt`: `\Java\jdk1.8.0\bin\java.exe

[2016-10-07 20:03] niemyjski commented on #20809
If anyone runs into this issue, it's caused by the java_home environment variable was not set not in the 8.3 DOS format, like `C:\Progra~1\Java\jdk1.8.0`

[2016-10-07 20:03] #20809 closed

[2016-10-07 21:49] russcam commented on #20765
@clintongormley, @dadoonet

My fault here - [Premium_LRS is only usable as the VM disk storage](https://azure.microsoft.com/en-gb/documentation/articles/storage-premium-storage/) . I'll submit a PR to add this to the documentation for the plugin.

[2016-10-07 23:14] darshanmehta10 opened #20811 "NoClassDefFoundError while executing groovy script"
**Elasticsearch version**: 1.7.3

**Plugins installed**: [Kopf, Bigdesk]

**JVM version**: 1.8.0_101

**OS version**: GNU/Linux

**Description of the problem including expected versus actual behavior**:
ES update request throws NoClassDefFoundError for sun.security.util.SecurityConstants class after recovering from network outage. We have then tried restarting nodes but are still seeing the error.

[2016-10-07 23:29] jasontedor commented on #20811
Sorry, but there is not nearly enough to reproduce here; can you start by sharing your script? I find it dubious that the script engine is attempting to access that class without provocation.

[2016-10-07 23:36] darshanmehta10 commented on #20811
Hey @jasontedor,

Thanks for the quick reply, the script is just updates a couple of fields in source, e.g.:

`if(userId){
  ctx._source.user.id = userId
}

if(userName){
  ctx._source.user.name = userName
}`

This script hasn't changed recently. Looks like something to do with security/permissions? SecurityConstants.java class does not seem to have anyting that prevents it from being loaded.

[2016-10-07 23:37] pangyikhei commented on #20781
I tried with inline solr, inline wordnet, and solr file synonyms and could reproduce the problem with all of them.

Creating index with mappings and settings for inline solr synonyms: https://gist.github.com/pangyikhei/00e480ac28dfe6c197427568982d406f

Reproduced with previous search without explicitly specifying the highlighter type (should implicitly use the fvh since it is mapped with "term_vec

[2016-10-07 23:47] jasontedor commented on #20811
Yes, it's clearly a permissions issue but we need to come to an understanding why that class is being loaded here. Your script looks innocent, can you please provide a more detailed reproduction?

[2016-10-07 23:58] darshanmehta10 commented on #20811
Here is the Java code that executes update request:

`UpdateRequest updateRequest = new UpdateRequest();
updateRequest.script("update", ScriptType.FILE);
updateRequest.scriptParams(getUpsertScriptParams());
updateRequest.retryOnConflict(5);
updateRequest.upsert(//byte array);

UpdateResponse response = client.update(updateRequest).actionGet();`

update.groovy is accessible to elasticsearch (to cro

[2016-10-08 01:04] darshanmehta10 commented on #20811
I am able to execure the script using _search endpoint (as explained [here](https://www.elastic.co/blog/running-groovy-scripts-without-dynamic-scripting)). However, when I try to execute it from Java app (using the code above), it fails with ClassNotFound error. Maybe I need to look into java policy files?

[2016-10-08 01:21] nik9000 commented on #20811
Just to confirm: that client is a TransportClient, right? You aren't
running ES in the same JVM as your app?

On Oct 7, 2016 9:04 PM, "darshanmehta10" <notifications@github.com> wrote:

[2016-10-08 01:27] darshanmehta10 commented on #20811
Yes, that's correct.

On 8 Oct 2016 2:22 a.m., "Nik Everett" <notifications@github.com> wrote:

[2016-10-08 01:33] jilen commented on #18776
@jasontedor   I suffered from this. Is there any way to improve the index creation speed ?

[2016-10-08 02:09] jasontedor commented on #20811
We want to understand why this is happening first, the gosl is not to just paper over the problem.

[2016-10-08 09:49] chilly opened #20812 "jarHell error"
master  commit 2e1539b879ad8e9cbcb0a3fd963403816e4eb177

:benchmarks:jarHell
checking for jar hell...
Exception in thread "main" java.lang.IllegalStateException: jar hell!
class: org.joda.time.base.BaseDateTime
jar1: /Users/chilly/workspace/elasticsearch/core/build/distributions/elasticsearch-6.0.0-alpha1-SNAPSHOT.jar
jar2: /Users/chilly/.gradle/caches/modules-2/files-2.1/joda-time/joda-time/2.9.4

[2016-10-08 09:53] s1monw commented on #20812
nothing to do here. there is no issue our master builds just fine

[2016-10-08 09:53] #20812 closed

[2016-10-08 10:14] clintongormley commented on #20781
Bug confirmed.  This used to work in 2.x.  I wonder if terms are not being extracted properly from a synonyms query?

Copy-pasteable recreation:

<details>

    PUT my_index
    {
      "settings": {
        "analysis": {
          "filter": {
            "synonym": {
              "format": "solr",
              "type": "synonym",
              "synonyms": [
                "quick, fast, agile, s

[2016-10-08 10:27] clintongormley commented on #20713
This is a documentation bug introduced by me in 97a41ee9733a0311a4716d35a72016bbc904782d

The pattern analyzer does not support `max_token_length`

[2016-10-08 10:28] #20713 closed

[2016-10-08 10:34] clintongormley commented on #20703
@jasontedor thoughts?

[2016-10-08 10:36] clintongormley commented on #9469
Closed by https://github.com/elastic/elasticsearch/pull/10813 - thanks for spotting @gfyoung

[2016-10-08 10:36] #9469 closed

[2016-10-08 10:38] #20513 closed

[2016-10-08 10:45] clintongormley commented on #20693
This issue was moved to elastic/docs#120

[2016-10-08 10:45] #20693 closed

[2016-10-08 10:53] clintongormley commented on #20676
@dsem the highlight query is not used for filtering, that's the job of the main query (which in this case is match_all).  Highlighting just extracts a bag of words from the terms and highlights those.  If you had the same query with bool-must as your main query, then the document wouldn't have been included in the hits at all.  This is just the way that highlighting works.

[2016-10-08 10:53] #20676 closed

[2016-10-08 11:03] clintongormley commented on #20667
@polyfractal could you take a look at this please?

[2016-10-08 11:06] clintongormley commented on #13045
@tomfotherby Use the [pattern-replace character filter](https://www.elastic.co/guide/en/elasticsearch/reference/2.4/analysis-pattern-replace-charfilter.html) instead

[2016-10-08 11:07] clintongormley commented on #17178
See https://github.com/elastic/elasticsearch/pull/20658

[2016-10-08 11:09] bharvidixit opened #20813 "Phrase suggester under _search does not execute match_all query by default"
**Elasticsearch version**: 5.0.0-beta1

**Plugins installed**: []

**JVM version**: 1.8.0_72

**OS version**: Ubuntu 15

**Description of the problem including expected versus actual behavior**:
While using phrase suggester with query, the total hots are always 0. Means match_all query is not getting executed by default. This was running fine with Elasticsearch 2.4.0

**Steps to reproduce**:
_1. C

[2016-10-08 11:16] clintongormley commented on #19792
@nknize looks like #20315 needs some breaking changes docs

[2016-10-08 11:19] clintongormley commented on #18083
thanks for letting us know @ryandonglin

[2016-10-08 11:19] #18083 closed

[2016-10-08 11:25] clintongormley commented on #20656
That text is part of the apache license, and it explains that we need to copy that section of the license elsewhere and to fill in the year and license holder, which we do here:

https://github.com/elastic/elasticsearch/blob/master/README.textile#license

[2016-10-08 11:25] #20656 closed

[2016-10-08 11:36] clintongormley commented on #17895
https://github.com/elastic/elasticsearch/issues/17895#issuecomment-250237101 is a good point, especially given the fact that we've removed `now()` from painless https://github.com/elastic/elasticsearch/pull/20766

[2016-10-08 11:42] clintongormley commented on #20684
@pojaszek I followed your instructions (see below) and they worked perfectly.  I think you either made a mistake somewhere along the way, or you have some other template which is clashing.

    PUT _template/lambdalog_template
    {
      "order": 1,
      "template": "lambdalog*",
      "settings": {
        "index": {
          "mapper": {
            "dynamic": "false"
          }
        }

[2016-10-08 11:42] #20684 closed

[2016-10-08 11:45] clintongormley commented on #9693
@thenom a better way to fix this is for watcher to be able to store some history, which can be referred to in subsequent executions.  This is on the roadmap.

[2016-10-08 11:54] clintongormley commented on #20813
This is still present in rc1 - @areek could you take a look please?

thanks for reporting @bharvidixit

[2016-10-08 12:19] darshanmehta10 commented on #20811
I have enabled the trace logging in the app and can see the following exception when the app starts up:

java.lang.ClassNotFoundException: groovy.lang.GroovyClassLoader
        at java.net.URLClassLoader.findClass(URLClassLoader.java:381) ~[na:1.8.0_101]
        at java.lang.ClassLoader.loadClass(ClassLoader.java:424) ~[na:1.8.0_101]
        at org.springframework.boot.loader.LaunchedURLClassLoade

[2016-10-08 12:23] chilly commented on #20812
how to solve this problem ?

[2016-10-08 12:35] darshanmehta10 commented on #20811
After adding the dependencies, CNF error for Expression is gone. However, the original error still persists.

[2016-10-08 13:42] isaias opened #20815 "Rest Client Dependencies"
**Elasticsearch version**: Elastic Rest Client 5.0.0-beta1

**Plugins installed**: []

**JVM version**: java version "1.8.0_101"

**OS version**: CentOs

**Description of the problem including expected versus actual behavior**:

Using Rest Client version 5.0.0-alpha5 the dependencies for httpcore-nio and httpasyncclient are included automatically but for 5.0.0-beta1 they aren't.

**Steps to reprod

[2016-10-08 14:25] nik9000 commented on #20815
Does should be included.

On Oct 8, 2016 9:42 AM, "Isaias Barroso" <notifications@github.com> wrote:

[2016-10-08 15:02] jasontedor commented on #20703
@astralblue This is behaving correctly, I think what you're missing is that binding to a wildcard address will bind to all addresses on all families on all interfaces.

My workstation here has two NICs and I've both IPv4 and IPv6 networking configured:

[code]

Starting Elasticsearch:

[code]

Note the bound address is `[::]`, representing the wildcard binding.

Checking `netstat`:

[code]

And th

[2016-10-08 15:06] jasontedor commented on #20703
I should also mention that exactly the same behavior occurs if you bind to `[::]` as well.

[2016-10-08 15:23] dsem commented on #20676
Thanks for your reply.

I understand that highlight_query isn't used for filtering.  My use case has a query returning all documents in a thread (e.g., a list of emails in an email thread), while highlighting certain terms found in the documents.  Therefore the filtering and highlighting queries are completely different.

Is there a way to make this issue an enhancement request?

[2016-10-08 15:58] bharvidixit opened #20816 "Completion Suggester does not allow source filtering"
**Elasticsearch version**: 5.0.0-beta1

**Plugins installed**: []

**JVM version**: 1.8.0_72

**OS version**: Ubuntu 15

**Description of the problem including expected versus actual behavior**:
As described here https://www.elastic.co/guide/en/elasticsearch/reference/5.0/search-suggesters-completion.html#querying  one can use source filtering while returning suggestions under _suggest endpoint. H

[2016-10-08 16:44] thenom commented on #9693
Brilliant, cheers.

[2016-10-09 01:20] ejsmith commented on #17895
I really hope the team reconsiders this decision because I think this is really going to hurt the product.

[2016-10-09 10:33] nomoa opened #20820 "Expose unicodeSetFilter param in all ICU Normalizer based token/char filters"
unicodeSetFilter is currently only allowed for icu_folding, I think it'd be interesting to expose this setting on icu_normalizer token_filter and char_filter.

[2016-10-09 10:38] clintongormley commented on #20813
Actually, I'm thinking that this is a feature instead of a bug.  The `_suggest` end point is deprecated in favour of the `_search` end point.  So if all you want to do is use suggesters, why run a search by default as well?

I think all that needs changing here is the documentation.

[2016-10-09 10:40] clintongormley commented on #20812
@chilly clean up your classpath so that it doesn't have duplicate libraries

[2016-10-09 10:41] clintongormley commented on #20811
It sounds like your installation is messed up.  Presumably the node restarted at some stage and all the deps that were previously loaded are now now found?

[2016-10-09 10:42] clintongormley commented on #20815
@javanna @rjernst ?

[2016-10-09 10:50] clintongormley commented on #20676
I don't think we can make this work unless Lucene completely changes how their highlighters work.

[2016-10-09 11:36] darshanmehta10 commented on #20811
Yes, the node restarted itself and we are seeing these errors since then (we haven't made any change in scripts). So, it looks like installation/permissions issue.
However, we are seeing the error from all the other nodes as well (we have 7 node cluster) which is a bit odd. Do you think we should try restarting the affected node (or all the nodes one by one, in the worst case)?

[2016-10-09 14:13] abhishekvaid opened #20822 "Azure multiple repositories uses same container (elasticsearch-snapshots)"
**Elasticsearch version**: 2.4.0

**Plugins installed**: [azure-cloud plugin, head, marvel]

**JVM version**: 1.8.0_101

**OS version**: Ubuntu 16.04

**Description of the problem including expected versus actual behavior**: Expected behavior will be that each container will store its own snapshots. Currently that is not happening.

**Steps to reproduce**:
1. create multiple cloud->azure->store en

[2016-10-09 17:47] dadoonet commented on #20822
Can you provide a full `elasticsearch.yml` file as a gist? You can replace all key/secret values obviously but please keep the format untouched.

[2016-10-09 18:46] rjernst commented on #20815
I just tested in both maven and gradle, and the dependencies look like they are correctly being resolved. Can you elaborate more with your configuration and what you actually see as output that indicates to you they are not included transitively?

[2016-10-09 18:50] abhishekvaid commented on #20822
https://gist.github.com/abhishekvaid/c0e1eb2b80e5ebfefe7b709a1d1fcc68

Here's the gist

[2016-10-09 19:03] isaias commented on #20815
@rjernst Maybe can be a problem using SBT + Scala. After your comment I've created a simple maven project and dependencies are correctly downloaded. I'll verify why 5.0.0-alpha5 download all dependencies using SBT and beta1 doesn't .

I'm closing it.

[2016-10-09 19:03] #20815 closed

[2016-10-10 05:37] abhishekvaid commented on #20822
Can you please look at it for 10 minutes. Maybe I missed here something that you might advice me with.

[2016-10-10 06:32] martijnvg commented on #17895
@ejsmith I think there is consensus about adding support for ingest to the update api.

@clintongormley Lets change the discuss label for an adoptme label?

[2016-10-10 07:32] #20719 closed

[2016-10-10 07:47] #20470 closed

[2016-10-10 07:48] onerciller opened #20823 "Elasticsearch-PHP requires cURL, or a custom HTTP handler"
Hi, I have been using lumen 5.2 resftul api. Normally, I don't getting error such when it is running on host but,  I am getting error this way "**Elasticsearch-PHP requires cURL, or a custom HTTP handler**"
What could be reason for this.

[2016-10-10 07:50] darshanmehta10 commented on #20811
@clintongormley looks like there was a problem with installation. We have done a rolling restart of all the nodes and that exception is gone now. However, we are now seeing a different error:

`org.elasticsearch.ElasticsearchIllegalArgumentException: failed to execute script
at org.elasticsearch.action.update.UpdateHelper.prepare(UpdateHelper.java:202)
at org.elasticsearch.action.update.TransportU

[2016-10-10 08:00] clintongormley commented on #20811
Given that we have an explanation for the original problem, I'm going to close this issue.

We never confirmed that #17845 was a bug or not.  I was unable to replicate it and I assume the reporter was as well, as we never heard back from them.  If you manage to come up with a recreation, then feel free to open a new ticket.

[2016-10-10 08:00] #20811 closed

[2016-10-10 08:03] clintongormley commented on #20823
Hi @onerciller

Please open this issue on the elasticsearch-php repo instead

[2016-10-10 08:03] #20823 closed

[2016-10-10 08:21] martijnvg opened #20824 "Allow plugins to register custom statistic types?"
Today if plugins have stats that need to be exposed then these plugins typically introduce their own API(s) in order to share their stats. This works, but isn't ideal as it does introduce more APIs that need to be monitored / checked. Also if information needs to be displayed in one of the cat apis too, then this requires adding an additional endpoint for the cat api.

I think it would be worth to

[2016-10-10 08:52] chilly commented on #20812
solved.
gradle clean build -x test -x integTest

[2016-10-10 09:09] wanglifengwf opened #20825 "script query"
[code]

when use script 1  "took" : 398008
when use script 2  "took" : 2001

why ?

[2016-10-10 09:17] clintongormley commented on #20825
@wanglifengwf no idea - some groovy weirdness. Groovy is deprecated.  I suggest looking at the new scripting language Painless which is coming in 5.0

[2016-10-10 09:17] #20825 closed

[2016-10-10 09:26] wanglifengwf commented on #20825
@clintongormley  thanks

[2016-10-10 09:28] golubev commented on #20237
Thanks, @jpountz! Succeeded by configuring `missing` value for the `min` aggregation and changing application logic a bit:
- to order by `min` aggregation only in `asc` direction;
- when it's required to order in the `desc` direction - order by `max` subaggregation.

[2016-10-10 09:37] feiniu5566 opened #20826 "about space"
hello
I'm feiniu5566  and i use es for a lang time.
Today  i want to update es from 1.0 to 2.4
and have some questions.
One : about space
Exception:
Exception in thread "main" SettingsException[Failed to load settings from [elasticsearch.yml]]; nested: ElasticsearchParseException[malformed, expected settings to start with 'object', instead was [VALUE_STRING]];

Here is solutions:
http://www.cnblog

[2016-10-10 09:57] astefan opened #20828 "Bounding the processors count to 32 still valid?"
Following https://github.com/elastic/elasticsearch/issues/3478 we limited the maximum number of processors on which the thread pools are created to 32. Since that version of ES this was observed on, many more versions (with many improvements) were released.

Is this limitation still valid?
I would think yes, but this raises two more issues that might need some thought:
- is there a **minimum** mem

[2016-10-10 10:13] jasontedor commented on #20826
YAML parsing is very strict, that's what you're running to here. A space is needed to separate the key from the value.

From the [spec](http://www.yaml.org/spec/1.2/spec.html#id2759963):

[2016-10-10 10:13] #20826 closed

[2016-10-10 10:53] jasontedor commented on #20828
The processors limitation isn't directly about physical memory. In general it's about limiting the number of threads; with the various thread pools that are sized as a function of the number of logical processors, Elasticsearch creates a tremendous number of threads.
 - this can lead to `OutOfMemoryException` if `ulimit -u` is too low (note that the message in this case is `unable to create native

[2016-10-10 11:00] jasontedor commented on #18776
@jilen Creating an index requires a cluster state update which can be a slow thing indeed. The issue here was about the degradation in index-creation speed as the number of indices increased; that's what #18788 addressed. I'd say that if you rely on index creation being fast, you probably have an architecture that needs to be reconsidered.

[2016-10-10 11:03] jasontedor commented on #20792
Yes, we are the maintainers but again the issue here is not an Elasticsearch issue. If your data directory is not available we are not going to start.

[2016-10-10 11:10] clintongormley commented on #20792
@rdica you'll need to adjust the systemd file to wait for the iscsi service to start.  That said, we really don't recommend using non-local disks with Elasticsearch

[2016-10-10 11:34] astefan commented on #20828
Thanks @jasontedor. I was a bit mislead (and didn't look at the error itself properly in https://github.com/elastic/elasticsearch/issues/3478) by the description of the previous issue where the author mentioned RAM size.

The size of the thread pools is sized according to the number of processors and on a machine with X cores (X<=32) we create the thread pools according to our defaults for each ty

[2016-10-10 11:35] larghir opened #20830 "Enabling cors - Elasticsearch won't start"
**Elasticsearch version**: 5.0.0-beta1

**JVM version**:1.8.0_72

**OS version**: Ubuntu 14.04

**When setting http.cors.enabled: true, elasticsearch won't start anymore**

**Steps to reproduce**:
 1. Install Elasticsearch 5.0.0-beta1 with Debian package (run as a service)
 2. Edit /etc/elasticsearch/elasticsearch.yml to add http.cors.enabled: true
 3. Restart the service

**Logs**:
_/var/log/elas

[2016-10-10 11:37] astefan commented on #20828
No hidden reason :-), just want to understand the limits and the recommendations we can make.

[2016-10-10 11:55] mixiaojiong opened #20831 "elasticsearch remove index settings"
**Elasticsearch version**:2.3.5

**Plugins installed**: []

**JVM version**:1.7

**OS version**:centos 6.7

This is my index config.
{
  "index": {
    "creation_date": "1473673683011",
    "routing": {
      "allocation": {
        "enable": "all",
        "exclude": {
          "_name": "",
          "_ip": ""
        },
        "include": {
          "_name": "*",
          "_ip": "10.110.18.21

[2016-10-10 12:04] bleskes commented on #18776
@jilen to quantify what @jasontedor said (which is very true) - index creation is slow when compared to data level operations like indexing and search. You should expect it to run within a couple of seconds. Also note that we now wait (since 5.0) for the primaries to be fully allocated before responding to the call.

[2016-10-10 12:13] jasontedor commented on #20830
There must be other logs, for example, the initializing and bootstrap logs; please provide the additional logs. Also, this starts just fine for me:

[code]

[2016-10-10 12:17] jasontedor commented on #20831
Please ask questions on the [Elastic Discourse forum](https://discuss.elastic.co); GitHub is reserved for feature requests and bug reports.

[2016-10-10 12:17] #20831 closed

[2016-10-10 12:24] larghir commented on #20830
These are the logs before that (start without the setting):
`
[2016-10-10T09:49:50,700][INFO ][o.e.n.Node               ] [] initializing ...
[2016-10-10T09:49:50,979][INFO ][o.e.e.NodeEnvironment    ] [G8b6YEX] using [1] data paths, mounts [[/ (/dev/loop5)]], net usable_space [28.1gb], net total_space [31.3gb], spins? [possibly], types [ext4]
[2016-10-10T09:49:50,979][INFO ][o.e.e.NodeEnvironment

[2016-10-10 12:42] abeyad commented on #20830
It starts perfectly fine for me too.
Can you please copy/paste your elasticsearch.yml (eliminating any sensitive
data if necessary)?
And does it start fine if you don't add http.cors.enabled: true?

On Mon, Oct 10, 2016 at 8:24 AM, Ligia Arghir <notifications@github.com>
wrote:

[2016-10-10 12:55] larghir commented on #20830
Hi @abeyad , yes, it works fine withouth http.cors.enabled: true
Running with -E bootstrap.ignore_system_bootstrap_checks (in virualized environment, not able to set vm.max_map_count)

I actually did not set anything else in the elasticsearch.yml besides
* network.host
* cluster.name
* http.port: 9200-9300
* http.cors.enabled: true

[2016-10-10 13:03] jasontedor commented on #20830
Right, but can you please provide the full logs on a failed start when you have `http.cors.enabled` set to `true`?

[2016-10-10 13:21] larghir commented on #20830
@jasontedor  that is **all** there is in the logs - no initializing and no bootstrap logs. Calling service elasticsearch start does **not** produce **any logs**:

`root@myhost:/var/log/elasticsearch# echo $(date)
Mon Oct 10 15:17:09 CEST 2016
root@myhost:/var/log/elasticsearch# service elasticsearch start
 * Starting Elasticsearch Server

[2016-10-10 13:22] ejsmith commented on #17895
I fail to see how that helps. If it's a setting on the update API that means it's optional and I don't have any way to have a guaranteed timestamp that is reliable.

[2016-10-10 13:27] s1monw opened #20833 "TimeZoneRoundingTests#testRoundingRandom fails reproducibly"
[code]

[2016-10-10 13:27] s1monw commented on #20833
@cbuescher can you look

[2016-10-10 13:31] abeyad commented on #20830
Can you please share your exact `elasticsearch.yml` file as a gist (removing any sensitive data)?

[2016-10-10 13:31] jasontedor commented on #20830
I do not know why you edited your logs out but you just showed `setting key "vm.max_map_count": Read-only file system [fail]`; isn't that the problem? I don't see what this has to do with `http.cors.enabled`.

Either way, it would be vastly more easier to help you if you just provided a clear indication of exactly what changes you've made to a vanilla Elasticsearch installation. Please.

[2016-10-10 13:34] larghir commented on #20830
https://gist.github.com/larghir/ac5428d4a90685e705c31faab6ec3d59

[2016-10-10 13:37] larghir commented on #20830
Yes, it fails to set the vm.max_map_count, but that occurs also without cors.enabled setting, in which case the service starts just fine.

[2016-10-10 13:37] jasontedor commented on #20830
You have extra leading whitespace in your config file on lines [55](https://gist.github.com/larghir/ac5428d4a90685e705c31faab6ec3d59#file-elasticsearch-yml-L55) and [59](https://gist.github.com/larghir/ac5428d4a90685e705c31faab6ec3d59#file-elasticsearch-yml-L59). Elasticsearch will tell you this, too.

[2016-10-10 13:43] jasontedor commented on #20830
Right, but if you're trying to bind transport to a non-loopback interface and you can not set `vm.max_map_count`, Elasticsearch is going to refuse to start anyway, even putting aside fixing your configuration file.

[2016-10-10 13:44] larghir commented on #20830
thanks, @jasontedor, indeed, the leading whitespaces were the issue. It starts now.

[2016-10-10 13:47] #20830 closed

[2016-10-10 14:03] jimferenczi commented on #20624
The results of your test are strange. On my laptop I am seeing linear performance depending on the number of threads. One thing that disturbs me when looking at your result is that the big speedup is only seen when the number of workers match the number of shards. I think this is misleading, using the same number of shards to set the number of workers should be the fastest but the difference with

[2016-10-10 14:25] bleskes opened #20834 "A primary failing a replica should not count against the shard failures counter"
To avoid endless assignment loops we currently limit the number of times a shard will be allocated after failure. We only count real failures for these and ignore things like nodes dropping of the cluster. However, if the index is actively being indexed while a node is disconnected, the primary will request the master to fail the shard so it can ack the indexing operation. If that shard failure re

[2016-10-10 14:28] bharvidixit commented on #20813
In this case, i think the hits array needs to be removed from the response. Showing 0 hits looks confusing.

[2016-10-10 15:41] s1monw commented on #17895
@ejsmith I think #20835 should resolve this issue?

[2016-10-10 15:45] ejsmith commented on #17895
Again, all of those features don't give me a very basic thing which is a guaranteed timestamp on my documents that I can rely on for things like reindexing and other operations. They are all dependent on everyone playing nice and making sure to set the timestamp.

[2016-10-10 15:46] #20781 closed

[2016-10-10 15:49] s1monw commented on #17895
I understand what you mean but we never had such a think as _the reliable_ way of getting a timestamp. The reason why we are moving away from it was it's inconsistency and people had wrong expectations. Now we are trying to provide building blocks to get the desired behavior. They involve work, I understand that but it's the most flexible and contained way of managing expectations.

[2016-10-10 15:53] ejsmith commented on #17895
So your saying that the timestamp feature isn't reliable?

[2016-10-10 15:59] s1monw commented on #17895
We had tons of bug related to TTL that caused confusion together with _timestamp. Also if you use an update script and you don't explicitly update `_timestamp` it keeps the original timestamp when it was created. While if you send the document again from the outside (ie. get -> modify -> update) you'd get a new value for `_timestamp`.  Same is true for reindex where stuff would not be preserved. n

[2016-10-10 16:03] dakrone commented on #20413
Resolved by https://github.com/elastic/elasticsearch/pull/20806 and https://github.com/elastic/elasticsearch/pull/20810

[2016-10-10 16:03] #20413 closed

[2016-10-10 16:05] rjernst commented on #20824
I liked this idea and discussed a similar idea with @clintongormley a couple weeks ago. I think the api should include plugging in node infos as well. My idea was to have methods on the base service interface like `getInfos()` and `getStats()`, and then have Node construction pull them all together.

[2016-10-10 16:13] dakrone opened #20837 "Add circuit breaker for completion suggestor FST"
We currently allow users to monitor the size of their FSTs using the nodes stats API. However, it would be good if we could add the memory used by the completion suggester's FST into the circuit breaker (probably the fielddata circuit breaker) to prevent an OOME in the event there is not enough memory for the FST.

[2016-10-10 16:40] niemyjski commented on #17895
I'd rather have it be updated all the time than never or not having this feature. It caused way more problems by being removed than just leaving it there.

[2016-10-10 16:49] nomoa commented on #20413
Thanks!

[2016-10-10 16:55] jpountz commented on #20837
For the record, I think @areek has plans to move FSTs to disk, which would remove the need for such a circuit breaker. It doesn't mean we should not do it, but if it is significant work we might want to just wait for FSTs to become disk-based.

[2016-10-10 17:05] dakrone commented on #20837
That would be great!

[2016-10-10 17:10] jpountz commented on #20828
I tend to agree with @astefan that there is something we should do there. Either we should remove this artificial limit so that the default configuration can make use of all resources of a machine, or we should keep it and add a note to our setup instructions to configure the number of processors in the `elasticsearch.yml` on machines that have more than 32 processors.

My preference would be to r

[2016-10-10 17:12] jpountz commented on #20828
Also for the record, the situation might already be a bit better today than when the limit was introduced, for instance we divided the size of the `search` threadpool by 2 and removed the `percolate` thread pool (since percolation is now a `search` operation).

[2016-10-10 17:12] ejsmith commented on #17895
I don't care about TTL. That makes perfect sense and can easily be handled by outside code. Reliable timestamp can't be handled reliably from the outside. I understand that there were issues with timestamp in the past, but I guess I don't get why it can't be implemented on the server side. Again, to me it seems like a very critical thing and pretty much every other database system has that functio

[2016-10-10 17:23] jpountz commented on #20773
The problem is that if we fail search requests on missing fields, then cross-index search requests will report failed shards as soon as any of the indices does not contain all fields that are used in aggregations. I am pretty sure many users rely on this behaviour.

And I'd like to avoid adding a setting.

[2016-10-10 17:29] jpountz opened #20839 "Source filtering should compile automata once"
Today we recompile the automaton for the include/exclude rules on every search hit. Since this might be a costly operation, we might want to do it once for all hits.

[2016-10-10 17:34] mikemccand commented on #20828
+1

On my 72 core box I have to override that default 32 max core count.

[2016-10-10 18:07] astralblue commented on #20703
Jason, your explanation that “binding to a wildcard address will bind to all addresses on all families on all interfaces” is true only if:

 1. The wildcard address is IPv6; and
 2. IPv4-mapped addressing is enabled on the listening socket, i.e. with IPV6_V6ONLY sockopt turned off.

On systems that disable IPv4-mapped addressing, e.g. [on FreeBSD where net.inet6.ip6.v6only=1 by default](https://sv

[2016-10-10 18:37] astralblue commented on #20703
I believe that your test setup has v6only turned off by default (```cat /proc/sys/net/ipv6/bindv6only``` to confirm); if that is the case, curl-ing to an IPv4 address on your system would work as you demonstrated.  My point, however, is that the IPv4-mapped addressing behavior is dependent on system setting, so it would be better not to bank on universal availability of IPv4-mapped addressing, esp

[2016-10-10 18:38] djschny commented on #19892
I see this changed was merged and is labeled for v5, but with my testing on `v5.0.0-rc1` the error is still thrown.

Is it intentional that the merged change was not included in `v5.0.0-rc1`?

[2016-10-10 18:47] djschny opened #20840 "add `ignore_missing` to `split` pipeline processor"
**Elasticsearch version**: v5.0.0-rc1

**Description of the problem including expected versus actual behavior**:

The `split` processor throws an error if the json element is not present in the document. Request to have it implement `ignore_missing` to resolve like what was done for other processors.

See https://github.com/elastic/elasticsearch/issues/19995 for reference.

[2016-10-10 18:48] djschny commented on #19995
Looks like this is a problem on the `split` processor as well. I have opened a new issue to address.

[2016-10-10 19:16] jimczi opened #20841 "Expose splitOnWhitespace in `Query String Query`"
Since Lucene 6.2.0 it is possible to disable the parse on whitespace behavior of the query parser,

We should expose this option in the `query_string_query`:

[code]

this would solve many cases where splitting on whitespace is problematic (ngram, shingles, multi word synonyms).
The `match query` is usually a good alternative for these cases except for users that relies on some features of the `qu

[2016-10-10 19:20] s1monw commented on #17895
this is again how you used it but it's not how it was used by the majority. Majority provided timestamp from the outside and then it's suddenly a simple date field. This is how we should treat it, it was meant for the logging case nothing else. We are discussing X Y problems. You guys want a last_modified timestamp that wasn't what `_timestamp` read the [documentation](https://www.elastic.co/guide

[2016-10-10 19:42] jimferenczi commented on #18030
Closing since org.elasticsearch.common.lucene.search.MatchNoDocsQuery has been removed and we now use the new Lucene version with the explanation inside (https://github.com/elastic/elasticsearch/commit/c80a563a71706a135fa478c4899b58697471f382)

[2016-10-10 19:42] #18030 closed

[2016-10-10 19:43] s1monw commented on #20839
++

[2016-10-10 20:37] javanna opened #20845 "MultiGet fails entirely when using alias that points to multiple indices"
When one of the items of a multi get request refers to an alias that points to multiple indices, only that specific item should fail (as we don't know where to get the document from). Instead, the whole request fails at the moment.

[2016-10-10 20:59] jpountz commented on #20841
+1 to expose it. It would be nice that both queries expose this feature the same way eventually, even though it doesn't look easy to me.

Even though the documentation is (too) minimal, it looks documented to me:
https://www.elastic.co/guide/en/elasticsearch/reference/2.4/query-dsl-simple-query-string-query.html#_flags

[2016-10-10 21:46] frank-montyne opened #20848 "ElasticSearch 2.4.1 with TestNG problem"
**2.4.1**:

**Plugins installed**: []

**1.8.0_74**:

**OSX 10.11.6**:

**When doing a clean install on the attached maven project I get a NoClassDefFoundError error when the test is run. When the ElasticSearch version is changed to 2.3.5 everything works as expected**

java.lang.NoClassDefFoundError: org/apache/lucene/rangetree/RangeTreeDocValuesConsumer
	at java.lang.Class.getDeclaredConstructor

[2016-10-10 22:40] seallison opened #20849 "Multiple template matching no longer works in Elasticsearch 2.4.1"
**Elasticsearch version**: 2.4.1

**Plugins installed**: []

**JVM version**: 1.8.0_91

**OS version**: OS X 10.11.6 and Amazon Linux 2016.03

**Description of the problem including expected versus actual behavior**: In 1.7.5, [multiple template matching](https://www.elastic.co/guide/en/elasticsearch/reference/1.7/indices-templates.html#multiple-templates) worked as documented. In 2.4.1, [multiple

[2016-10-10 22:43] jasontedor commented on #20849
Duplicates #20479

[2016-10-10 22:43] #20849 closed

[2016-10-10 22:48] jasontedor commented on #20848
I think that you have an issue on your end:

[code]

Please ask additional for general help on the [Elastic Discourse forum](https://discuss.elastic.co); Elastic reserves GitHub for verified bug reports and feature requests.

[2016-10-10 22:48] #20848 closed

[2016-10-11 02:22] jilen commented on #18776
@jasontedor  I am now applying `one-index-per-user pattern`, there are actually more than 20k shards.

Parallel automatically index creationg(via bulk or update api) actually makes the cluster dead(no response).

What do you suggest for my situation ? Disable automatically index creation ?

[2016-10-11 03:28] nik9000 commented on #18776
Don't have an index per user.

On Oct 10, 2016 10:22 PM, "jilen" <notifications@github.com> wrote:

[2016-10-11 04:53] wenpos opened #20851 ""cleanPath" of Strings in elasticsearch/common pacake does not work as the function description"
When add a unit test for method "cleanPath" of Strings in elasticsearch/common package, the test results turn out to be far from its function description:
Normalize the path by suppressing sequences like ""path/.."and inner simple dots
--that means path like "/root/../home" would be suppressed as path "/home", but actually the test case failed.
--the below example original paths would be suppresse

[2016-10-11 05:08] OdinZheng opened #20853 "SortBuilder toString throws an exception"
**Elasticsearch version**: 2.4.1

**Plugins installed**: []

**JVM version**: 1.8.0_31

**OS version**: Windows 10

**Description of the problem including expected versus actual behavior**:

Trying to print a SortBuilder throws an exception. Expected behaviour is that toString returns a string.

This did work on 2.3.3

**Steps to reproduce**:
 1. Run this code:

[code]

**Provide logs (if relevant

[2016-10-11 05:08] OdinZheng commented on #20853
@benatwork99 FYI

[2016-10-11 06:44] clintongormley commented on #20248
I've put an `adoptme` label on this because it sounds like there is consensus (although I'd like to hear from @dadoonet and @javanna as well).

it's probably too late in the cycle to make this change now, but if we decide to do it, we could target 6.0

[2016-10-11 06:44] lizhecao opened #20854 "NoSuchFileException: /opt/fonsview/3RD/elasticsearch/data/stsc_p2p/nodes/0/indices/prs_sysinfo_20161011/3/translog/translog.ckp"
I have met an issue like #Broken translog on most indexes like NoSuchFileException elasticsearch/data/dev-cluster/nodes/0/indices/logstash-2016.01.04/2/translog/translog-226.ckp #16495
but I can't understand how to solve it without upgrade? what's the meaning of copy and paste the ckp file?any can show me what to do in detail?

[2016-10-11 06:48] dadoonet commented on #20248
@clintongormley Not obvious but I already added my vote (thumb up). I'm totally +1 for that.

[2016-10-11 07:17] #20763 closed

[2016-10-11 09:13] s1monw commented on #20854
what version are you running on and what lead to this failure? do you have logs you can provide?

[2016-10-11 09:29] s1monw commented on #20853
this is fixed in 5.0 - we only port critical bugfixes to 2.4, that said I don't think we will fix this one

[2016-10-11 09:29] #20853 closed

[2016-10-11 09:36] lizhecao commented on #20854
2.2.0

[2016-10-11 09:38] olivierlambert opened #20855 "Huge change is ES behavior with JS client from ES 5.0.0 beta1 to rc1"
**Elasticsearch version**: `elasticsearch_5.0.0-rc1_all.deb`

**Plugins installed**: none

**JVM version**:

[code]

**OS version**: Debian 8

**Description of the problem including expected versus actual behavior**: performance while indexing are dramatically reduced by a factor 1000 after upgrading from beta1 to RC1. Downgrading and everything is back on track.

**Steps to reproduce**:
 1. Index

[2016-10-11 09:41] #19475 closed

[2016-10-11 09:41] #20540 closed

[2016-10-11 09:54] jimczi opened #20856 "Query with only MUST_NOT and SHOULD clauses misses results in the query_string query"
The query string 'foo OR -bar' finds all the documents that contain foo but not bar but it should rather match document that contain foo OR not bar.

Simple recreation:

[code]

The following query:

[code]

... returns the document 1 but not document 3. If the default operator is OR then the translation into SHOULD/MUST/MUST_NOT clauses should look like this:

`SHOULD(foo) MUST_NOT(bar)`

Though

[2016-10-11 10:14] #20675 closed

[2016-10-11 10:28] s1monw commented on #20855
can you provide more information, how do you index? Our indexing perf benchmarks look just fine. I really wonder what you are doing can you share some infos otherwise I can't do anything here

[2016-10-11 10:30] s1monw commented on #20854
I think we fixed this in 2.3 or 2.3.1 - can you upgrade to the latest and see if the index recovers?

[2016-10-11 10:57] lizhecao commented on #20854
OK, I will try.
Thank you!

[2016-10-11 12:00] olivierlambert commented on #20855
I'm using the ES JS lib and doing something like that on a distant host:

[code]

Note that I created the client using this:

[code]

[2016-10-11 12:26] s1monw commented on #20855
do you have any logs provided? I mean I just ran a simple benchmark and everything seems fine?

[2016-10-11 12:56] olivierlambert commented on #20855
No output in the syslog while indexing, nor errors reported. Did I missed something?

Anyway, I just saw that my `docs.count` contains only 181 records with the RC1. However, in beta, I got all record imported successfully (82917 records).

[2016-10-11 12:58] s1monw commented on #20855
can you try to reduce this to a contained testcase without your javascript client somehow? I mean it's really hard to get down to the bottom since it seems you are going through some kind of proxy too?

[2016-10-11 13:05] Nils-Magnus commented on #16412
@thxmasj I provide the full list (as reported by Docker) explicitly. That mitigates, but does not resolve the problem.

[2016-10-11 13:12] olivierlambert commented on #20855
Just Nginx as a reverse proxy, but nothing changes while switching to both versions of ES: that's the only "moving" part. I'll take a look at Nginx logs if I can see anything.

I can't inject massively this set of data without JS, **but** if you have an example bash script with any data that I could use to make tests, I'll be able to execute it locally.

[2016-10-11 13:13] tlrx commented on #20647
I understand the issue but I don't see what makes sense to you @nik9000 : are you in favour of moving away from the `simple` type?

[2016-10-11 13:14] nik9000 commented on #20647
I know you *can* move away from it to get features like this but I don't know more than that.

[2016-10-11 13:20] danielmitterdorfer commented on #20855
We use [Rally](https://github.com/elastic/rally) for benchmarking.

Please ensure you have the [prerequisites](http://esrally.readthedocs.io/en/latest/developing.html) installed. You can set it up with:

[code]

After the initial setup, you can run:

[code]

It will index a document corpus of about 2 GB against the specified cluster and will report metrics afterwards.

[2016-10-11 13:26] s1monw opened #20859 "Introduce a new `_last_modified` metafield"
I had some discussions with @niemyjski and @ejsmith on #17895 about `_timestamp`, it's guarantees / semantics and how it was used vs. it's purpose. Yet, it became obvious to me that the semantics that are expected from the users perspective is somewhat a `last_modified` timestamp that is really updated every time the document is indexed on the primary shard. This implies, the value of this fields

[2016-10-11 13:27] s1monw commented on #17895
@ejsmith @niemyjski I opened #20859 for this can you please take a look

[2016-10-11 13:30] #20839 closed

[2016-10-11 13:45] nik9000 commented on #20859
To expand this for those not super familiar with all the terms and their implications:

If the field is not indexed then you can't search for it using `range` or `match` or something like that. You'd still be able to search for it using a `script` query if it has docvalues but that'd be super slow unless paired with a super selective query.

If the field has doc values then you can aggregate on it

[2016-10-11 13:51] clintongormley commented on #16945
Closed by #17285

[2016-10-11 13:51] #16945 closed

[2016-10-11 13:53] nik9000 commented on #20624
@jimferenczi: Its been a while since I ran that test. I'll crack it open again soon.

I think we should bounce the conversation over to https://github.com/elastic/elasticsearch/pull/20767 because that is the implementation I'm looking at.

[2016-10-11 14:03] olivierlambert commented on #20855
Okay, will do and report when it's done.

[2016-10-11 14:29] olivierlambert commented on #20855
I can't use rally, because everytime I got:

[code]

Is there an option I missed?

[2016-10-11 14:39] danielmitterdorfer commented on #20855
Rally, however does abort the benchmark if the cluster does not reach health status `green`. If you have existing indices on this cluster this may be the case. If that is your problem you can add `--cluster-health=yellow` or `--cluster-health=red` (depending on which cluster health you'd expect) to the command line options.

[2016-10-11 14:44] olivierlambert commented on #20855
Aborting, but I'll try with the yellow/red to see if it changes anything.

[2016-10-11 15:00] danielmitterdorfer commented on #20855
Great! I guess you have some index already in the cluster because the indices that Rally creates for benchmarks have zero replicas to ensure a "green" cluster state. Just post here, if you have any further issues (but I don't expect that much problems as the benchmarks already run..).

[2016-10-11 15:12] abeyad opened #20862 "Create S3 repository tests that test against a real S3 bucket"
Right now, the `repository-s3` plugin relies on tests that mocks the `AmazonS3` client.  However, this is a limited form of testing that does not bring to light issues one would find when interacting with the real Amazon SDK connecting to a real S3 repository.  Such tests are essential in uncovering even basic issues of interaction between our integration and the Amazon SDK.  As an example, see ht

[2016-10-11 15:23] olivierlambert commented on #20855
It takes ages but it runs (I'm at `running scroll` step)

[2016-10-11 15:44] chaudum opened #20865 "Sort value of certain dates is incorrect"
**Elasticsearch version**: 2.4.1

**Plugins installed**: []

**JVM version**:
java version "1.8.0_40"
Java(TM) SE Runtime Environment (build 1.8.0_40-b25)
Java HotSpot(TM) 64-Bit Server VM (build 25.40-b25, mixed mode)

**OS version**:
OSX 10.11.6
Darwin local 15.6.0 Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248.60.11~1/RELEASE_X86_64 x86_64

**Description of the proble

[2016-10-11 15:57] #20650 closed

[2016-10-11 15:59] #20668 closed

[2016-10-11 16:02] ejsmith commented on #20859
The primary use case is for doing things like online reindex and bulk operations. It's unrealistic for us to take our cluster online while we do a 100gb reindex. So we do this:

- Alias that the app uses to read and write data
- Reindex in the background to a new index
- 2nd pass of reindex where the timestamp is greater than the date that we started the initial reindex. This gets us pretty close

[2016-10-11 16:04] polyfractal commented on #20855
@olivierlambert I see in your original JS snippet `date: timestamp,`:

[code]

Elasticsearch doesn't accept "date" as a parameter to the indexing request.  The recent changes to [Strict URL Parsing](https://github.com/elastic/elasticsearch/pull/20722) (also in [Release Notes](https://www.elastic.co/blog/elasticsearch-5-0-0-rc1-released)) mean that parameter will now be rejected, the document won't

[2016-10-11 16:07] #20845 closed

[2016-10-11 16:10] olivierlambert commented on #20855
Ah that makes sense. Let me try that!

[2016-10-11 16:29] #16975 closed

[2016-10-11 16:29] olivierlambert commented on #20855
Got 309 hits (better than 181 before) but still no cigar.

I'll dig on my JS request to be sure I don't have any error returned by the callback/promise.

On the other hand, do you have a shorter benchmark that I can use than default `rally` one that take hours?

[2016-10-11 16:38] olivierlambert commented on #20855
Okay found something: without the callback used in the client, it generated my issue.

I added the callback, and now it works normally. I suppose ES RC1 added some restriction on how it receives requests (as @polyfractal put me on that track), and rejects a lot of them.

So to recap: working JS clients on beta1 appeared broken with non-compliant fields and/or callbacks on rc1.

[2016-10-11 16:45] olivierlambert commented on #20855
Renamed the issue. Thanks a lot @polyfractal , @danielmitterdorfer and @s1monw for your assistance!

[2016-10-11 16:45] #20855 closed

[2016-10-11 16:54] polyfractal commented on #20855
Np, happy to help :)  You should open a ticket at the ES-JS repo and see if it's an issue with the client, misconfiguration, etc.

[2016-10-11 17:02] jpcarey opened #20866 "docs: snapshot restore versions"
The docs page for all version of snapshot / restore should explain the limitations in how they can be restored in the future.

[2016-10-11 17:05] nik9000 commented on #20866
I'm happy to write something up. Usually we write these changes against master and backport to a few places. In that case it'd be normal to backport to the 5.x and 5.0 and 2.4 branches. Are you suggesting going all the way back to 1.7 just so we get good coverage?

[2016-10-11 17:05] olivierlambert commented on #20855
Will do! (just after I find 5 minutes to do so ^^ )

[2016-10-11 17:12] jpcarey commented on #20866
@nik9000 yes, 1.7 should get a notice as well, since questions will arise from any of our three major versions.

[2016-10-11 17:26] ppf2 opened #20867 "Improve handling of incompatible snapshots during restore"
Related to https://github.com/elastic/elasticsearch/issues/20866 but on the functionality side.

A snapshot can contain multiple indices that are created across different major versions, eg. a snapshot containing an index created on 1.x (upgraded to 2.x), and an index created on 2.x.

When attempting to restore such snapshot to a 5.0 cluster, it currently (correctly) checks and rejects the snapsho

[2016-10-11 18:27] garpinc opened #20868 "Add a commons VFS repository to the shared file system repository capabilities"
**Elasticsearch version**: 2.4.1

**Plugins installed**: []

**JVM version**:1.8

**OS version**:Windows 10

**Describe the feature**:  1) I'd like the location path.repo and in the snapshot (https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html) settings to be able to refer to a VFS location. This way you are not constrained to a mounted drive and rather you can a

[2016-10-11 18:32] gingerwizard opened #20869 "Ability to access ctx variable within Lambda function"
Watcher painless scripts typically need to access ctx variables.  Currently this is not possible within a Lambda function. This requires the user to assign ctx values to temporary vars, thus bloating the script.

[2016-10-11 18:37] gingerwizard opened #20870 "Ability to reference last element in array by shortcut"
Watcher scripts typically evaluate the last element of an aggregation bucket e.g. for comparing a moving avg to a threshold.  Groovy allows you to do this using a -1 array reference e.g.

`return ctx.payload.aggregations.date_buckets.buckets[-1].doc_count > (ctx.payload.aggregations.percentiles.values['90.0']+(ctx.payload.aggregations.stats.std_deviation*3));`

Currently painless has no shortcut c

[2016-10-11 18:52] nik9000 commented on #20870
I'd be all for it if we could do it without a runtime cost but I'm fairly sure this'd have to have one. I wonder how much of a cost it is though.

[2016-10-11 19:30] s1monw commented on #20859
@ejsmith IMO what you want is something completely different. you want something like a sequence ID that you can resume from to get changes for the reindex. I am really trying to help you with your requirements but for these problems you don't need a timestamp field I guess all you need is some kind of "generation" field that you can just add as an ordinary numeric field that you increment on the

[2016-10-11 19:40] ejsmith commented on #20859
I think you are assuming that my documents are immutable. They are not, they can be modified. As far as deletes go, I use soft deletes and then have a job that goes and really deletes them later. So I do not run that job while doing a reindex.

They would notice that you changed it just the same way that they would notice that you removed the feature. If you make it readonly and unmappable their a

[2016-10-11 19:58] nik9000 commented on #20859
Personally I think `_last_modified` is a much more clear name than `_timestamp`. When I see `_timestamp` I always think "timestamp of what".

I believe MySQL's timestamp defaults to `now()` and automatically updates to now every time you touch the row. I admit I don't remember it too well. I'm fairly sure that PostgreSQL, Oracle, MongoDB don't default timestamps to `now()`. You can get them to def

[2016-10-11 20:09] ejsmith commented on #20859
I don't care about the name too much. :-) I just want a reliable way of retrieving documents that have been modified after a date.

[2016-10-11 20:18] nik9000 commented on #20859
Fair enough. I think its pretty clear that we should index `_last_modified`. It is useful for slicing things up like you said and for limiting search results.

My instinct is that it should also have docvalues so it is sortable but that is just an instinct.

[2016-10-11 21:03] nik9000 commented on #20870
Actually now that I think about it it may not have a runtime cost. I expect the JVM already inlines the array's range checking and it's possible it might be able to merge this into that. It is worth checking.

[2016-10-11 21:17] dakrone commented on #10632
I opened https://issues.apache.org/jira/browse/LUCENE-7490 for this with a patch

[2016-10-11 21:44] djschny commented on #20840
@talevy and @eskibars when you get a chance would you mind looking at this please?

[2016-10-11 22:59] martijnvg commented on #19892
@djschny This change is part of of rc1 (and beta1), so that shouldn't happen any more. I just checked the request snippet you shared initially in this issue and that doesn't fail. Or can you make the rename processor fail with a different request?

[2016-10-12 01:16] djschny commented on #19892
@martijnvg that's great that it is included! Didn't think it was fixed since the issue was not closed.

I'm going back through my Console/Sense histories and trying to find the situation where I saw the error. Sorry I should have posted the snippet on my previous comment. You are correct everything is working great with the snippet in my original post.

If you don't mind give me another day to rev

[2016-10-12 03:19] seperman opened #20875 ""optimize_bbox": "memory" in geo_distance sort query returns illegal latitude value [269.901123046875] for [GeoDistanceSort]"
**Elasticsearch version**: 2.3.5

**Plugins installed**: [Kibana]

**JVM version**: java version "1.7.0_111"

**OS version**: Debian 7.11

**Description of the problem including expected versus actual behavior**:
Setting `"optimize_bbox": "memory"` in geo_distance sort query yields to `illegal latitude value [269.901123046875] for [GeoDistanceSort]`.

**Steps to reproduce**:
1. Have an index with

[2016-10-12 03:41] makeyang opened #20876 "[bug report]LockObtainFailedException throws under presure"
**Elasticsearch version**:
2.1
**Plugins installed**: []
delete-by-query
elasticsearch-analysis-ik
repository-hdfs
**JVM version**:
8u60
**OS version**:
CentOS release 6.6 (Final)
**Description of the problem including expected versus actual behavior**:
one of the data node keep throw below exception:
[2016-10-12 11:34:04,769][WARN ][cluster.action.shard     ] [XXXX] [indexName][2] received shard

[2016-10-12 06:22] s1monw commented on #20859
![a friendly reminder, es is not a database](https://github.com/s1monw/hammertime/raw/master/es_is_not_a_database.gif)

[2016-10-12 07:06] #19774 closed

[2016-10-12 08:06] drount opened #20877 "Scoring bug in 2.3"
**Elasticsearch version**: 2.3

**Plugins installed**: []

**JVM version**:
Deployed on AWS
**OS version**:
Deployed on AWS
**Description of the problem including expected versus actual behavior**:

I have a database deployed in Amazon Elasticsearch with about 20M documents. The document schema defines simple analysers and fields are all are strings. There is 1 replica and 1 shard. _all is disable

[2016-10-12 08:30] clintongormley commented on #20859
This doesn't make sense.  You're using soft deletes, so you modify the document to set `deleted: true` which means that the `_last_modified` date is updated.  All works exactly as you need.

As far as naming goes,  `_timestamp` is the wrong name.  It could mean:

* when was the document created
* when was the document modified
* when was the original event that resulted in document creation
* when

[2016-10-12 09:06] kunal642 opened #20878 "Refactor code for module core"
Removed unnecessary code from core module
Refactored code for core module

[2016-10-12 09:24] clintongormley commented on #20878
I think this was opened in error.  Closing

[2016-10-12 09:24] #20878 closed

[2016-10-12 09:43] sylarhero opened #20879 "how to change mapping or field type"
In the process of using elasticsearch, I need to set the not_analyzed for some fields, but the amount of data is very large,how to do this?

[2016-10-12 09:43] jimferenczi commented on #20841
Or maybe we can change the default and make the splitOnWhitespace optional ;). This would fix the ambiguity between `match_query` and query parser based query. IMO the user should not have to read ten pages about query parsing to understand that this option should be used or not. If we can make it harmless for cases where it would not be required we can make it the default in 6.0 ?

[2016-10-12 09:45] sylarhero commented on #20879
or can i copy the fields data to a new index?

[2016-10-12 09:53] cbuescher commented on #20879
Elastic reserves GitHub for bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co/) and [IRC channels](https://www.elastic.co/community) for general questions like this.

[2016-10-12 09:53] #20879 closed

[2016-10-12 10:11] kunal642 commented on #20878
@clintongormley: I havent pushed to the branch yet. I am working on this issue.
Please reopen the issue

[2016-10-12 10:13] clintongormley commented on #20878
@kunal642 open a PR when it is ready, no need for an issue here

[2016-10-12 10:14] kunal642 commented on #20878
@clintongormley: Sure, Thanks

[2016-10-12 10:24] cbuescher commented on #20865
I problem here is that when indexing "1000" with the default date mapping (which parses dates as  `"strict_date_optional_time||epoch_millis"`), it treats this as the year 1000 AD. If you index a document with `{ "ts" : "1000-01-01T00:00:00Z" }` you also get the same negative sort value as in your example. If you specify `"format" : "epoch_millis"` in your mappings for the date field everything wor

[2016-10-12 11:03] bleskes commented on #20876
this happens when same background process is still ongoing (or just failed to finish properly) and still holds the shard lock. An example of this is a recovery process which needs access to the shard folder to copy files.

Do you have `index.shard.check_on_startup` set by any chance?

[2016-10-12 12:50] chaudum commented on #20865
thanks for clarification @cbuescher !

[2016-10-12 12:50] #20865 closed

[2016-10-12 12:58] cbuescher commented on #20785
Since this is already fixed in 5.0 I opened against 2.4 only. The fix is quiet straight forward, it should throw a QueryParsingException when encountering an array after any parameter other than the "fields" parameter.

[2016-10-12 13:01] Stacey-Gammon opened #20885 "illegal_argument_exception when using scripted fields."
There is a bug in the Kibana Repo that looks like it might be exposing an ES bug.  Could someone take a look?  https://github.com/elastic/kibana/issues/8404

Here is the relevant request/response that is triggering the error, copied from the above issue:
[code]
Response:
[code]

[2016-10-12 13:01] ejsmith commented on #20859
Like I said, I am fine with the name. I'm not interested in adding anything that is specific to my use case. I stated my problem and I think it's a pretty common thing to want to do online reindexing.

I'm not sure what you guys mean by sequence id. Is that the ability to resume scan and scroll or something?

[2016-10-12 13:04] pirovorster opened #20886 "Multiple mappings on a field does not work for nested docs"
**Elasticsearch version**: 1.74

**Plugins installed**: []

**JVM version**: Found Hosting

**OS version**: Found Hosting

I followed https://www.elastic.co/guide/en/elasticsearch/guide/current/mixed-lang-fields.html to analyze fields multiple times. However it seems as if this feature does not work on nested documents.

I added an index with the following mapping:
[code]
Then added a document:
[c

[2016-10-12 13:12] clintongormley commented on #20885
@Stacey-Gammon In painless, params need to be referenced as `params.value`, not just `value`

[2016-10-12 13:12] #20885 closed

[2016-10-12 13:14] clintongormley commented on #20859
Every operation is assigned a sequence ID so that you can replay operations from a certain point onwards.  See  https://github.com/elastic/elasticsearch/issues/10708

It will enable us to implement a changes API (https://github.com/elastic/elasticsearch/issues/1242)

[2016-10-12 13:17] ejsmith commented on #20859
Yes, that would be awesome.

[2016-10-12 13:37] martijnvg opened #20888 "Better extension point for custom cluster state parts"
Today custom cluster state, metadata and index metadata can be registered via adding static codeblock that invokes `ClusterState|MetaData|IndexMetaData#registerProtoType(...)` in the plugin class. Apart from the fact that requiring static code blocks for extension points is far from ideal, there is no mechanism that prevents code from registering custom cluster state parts after a node has started

[2016-10-12 13:38] nik9000 commented on #20888
Sounds about right.

[2016-10-12 14:46] GlenRSmith commented on #18838
Should this really have been removed from the documentation? Would it have been better to signal the deprecation in the documentation?

[2016-10-12 14:50] colings86 commented on #18838
Deprecation logging was added as commented in #18854. Also in that PR we added it to the breaking changes document for 5.0: https://github.com/elastic/elasticsearch/pull/18854/files#diff-b044a68ebfc190743082f46a3361748cR24

[2016-10-12 14:51] colings86 commented on #18838
We could add a note to the 2.4 documentation as well if you think it will help. Fancy raising a PR to change the 2.4 documentation?

[2016-10-12 14:52] GlenRSmith commented on #18838
Can do. I need to find a sample page with documented deprecation to use as an example of how to "style" such a deprecation.

[2016-10-12 14:57] #18710 closed

[2016-10-12 15:15] nik9000 opened #20891 "Add documentation for task status for index/bulk/update"
You can use the tasks API to monitor the status of index, bulk, and update actions. The status should be marked "experimental" because we aren't at all sure that the format is right or finished, but we should document it.

[2016-10-12 15:23] SravanTurbo commented on #20777
Sure, and thanks @clintongormley

[2016-10-12 16:34] jpountz commented on #20886
I think you are hitting an issue due to the fact that you put dots in field names in your mappings. Can you try with the following mapping?

[code]

[2016-10-12 16:37] jpountz commented on #20877
Can you also share the explanation of a document that gets ranked higher even though it should be worse?

[2016-10-12 16:53] cbuescher commented on #20785
Closed by 91f94e6 on 2.4 branch.

[2016-10-12 16:53] #20785 closed

[2016-10-12 17:19] Stacey-Gammon commented on #20885
Thanks for the update @clintongormley.  To confirm, this is not the case with groovy as the selected language?  That one appears to break when I use params.value, but not if I just use value.

[code]

[2016-10-12 17:23] rjernst commented on #20885
That is correct. Groovy dumps all the params into local variables. Painless has them in the params var.

[2016-10-12 17:36] nik9000 commented on #20885
I *think* this is a thing we'll be able to improve on with https://github.com/elastic/elasticsearch/pull/20621 but that isn't ready. This level of clarity is about the best we'll get with painless for the next while. Painless is marked experimental because we're really trying to make improve on it constantly. It is the default because groovy security is a nightmare and we want off of groovy as fas

[2016-10-12 17:59] dakrone commented on #10632
Looks like this will be in Lucene 6.3, so I'm marking this as "stalled" until 6.3 is released and incorporated.

[2016-10-12 18:19] rjernst commented on #20885
Yes and no. Params from the user (passed in through the runtime api) will stay in params. But things that each context provides (eg _source for scripted fields) will be accessible as a local variable again once we have contexts done.

[2016-10-12 20:37] kamaldsingh opened #20897 "New Feature Req - Throttling write speed in ES-Hadoop Connector"
Hello,

I was trying out ES - hadoop connector and I see that in case of too many parallel writes, like from a spark job, writes keep on getting dropped.
org.elasticsearch.hadoop.EsHadoopException: Could not write all entries (maybe ES was overloaded?). Bailing out...

The workaround is to decrease number of partitions and tune the batch size and timeouts accordingly.

As mentioned in https://disc

[2016-10-12 20:59] pirovorster commented on #20886
Thanks so much. That worked like a charm.

[2016-10-12 21:42] jpountz commented on #20886
Thanks for confirming. This problem is fixed in 5.0 ( the initial example you gave would work) so I will close this issue.

[2016-10-12 21:42] #20886 closed

[2016-10-12 22:26] jasontedor commented on #20897
For now, this is best discussed on the [Discourse post](https://discuss.elastic.co/t/throttling-write-speed-in-es-hadoop-connector/62528/1) that you opened. In the future, please do not cross post (it fractures conversations).

[2016-10-12 22:26] #20897 closed

[2016-10-12 22:52] mike-mosher opened #20899 "Cannot install elasticsearch service on Windows 2012 R2 server"
**Elasticsearch version**:  5.0.0-rc1

**Plugins installed**: none

**JVM version**: jdk1.8.0_101

**OS version**: Windows 2012 R2 64-bit

**Description of the problem including expected versus actual behavior**:
Cannot install the service.
- I have the following environment variables set:
  - JAVA_HOME:  C:\Program Files\Java\jdk1.8.0_101
  - ES_HEAP_SIZE: 8g
- I have verified that jvm.options ha

[2016-10-12 23:34] jasontedor commented on #20899
You missed the message:

`thread stack size not set; configure via C:\elasticsearch-5.0.0-rc1\config\jvm.options or ES_JAVA_OPTS`

This is covered in the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/windows.html#windows-service):

[code]

Ideally you'll just set the heap and the stack size in the jvm.options file, leave `ES_JAVA_OPTS` out of it (it's there, it's an option, it

[2016-10-12 23:34] #20899 closed

[2016-10-13 01:01] sqlboy commented on #9410
This is the way to do it. Set your dynamic_date_format, then set the same ones as the value of "format" in your dynamic mapping.

[code]

[code]

[2016-10-13 03:13] makeyang commented on #20876
@bleskes  no, we don't set that. should it better to set it?

[2016-10-13 03:54] wanglifengwf opened #20901 "What are these indexes which in kibana ui"
What are these indexes which in kibana ui?

![image](https://cloud.githubusercontent.com/assets/9550346/19336037/a873789e-913a-11e6-9095-31343eb09fb4.png)

[2016-10-13 06:28] wanglifengwf opened #20902 "template query"
how  Aggs use "template query"?

[2016-10-13 06:31] johtani commented on #20902
Hi @wanglifengwf

Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only, and for Elasticsearch only.

thanks

[2016-10-13 06:31] #20902 closed

[2016-10-13 06:40] bleskes commented on #20901
It looks like you have your cluster accessible via the internet and someone is probing and by doing it creates indices. You should lock down your cluster.

I'm closing this now as we use github to track issues. Questions and discussions are held on http://discuss.elastic.co . If you want to discuss this further I'd recommend doing it there.

[2016-10-13 06:40] #20901 closed

[2016-10-13 06:44] bleskes commented on #20876
Oh no - this is one of those things that I know that can take long in the background. Since 2.1 is quite old - do you have the chance to upgrade to 2.4 and try to reproduce?

[2016-10-13 07:09] makeyang commented on #20876
I'll try to reproduce in 2.4 in test env.

[2016-10-13 08:31] robin13 opened #20903 "Add arbitrary metadata to indices to allow better filtering / selection of indices"
**Describe the feature**:

For purposes of managing data, an index can have attributes which are related to, but not represented in the documents contained in the index, for example:
- authorisation (e.g. this data should be visible only to users in these roles)
- application (e.g. in a logging usecase which (one or more) application's data logging)
- retention policy

This can now only be represe

[2016-10-13 08:34] ynux commented on #20903
+1
This would greatly help us in managing complex Shield / Security roles

[2016-10-13 09:23] farhan687 opened #20905 "CORS issue while connecting with basic auth"
My goal is to access elasticsearch data from other domain, am I missing anything over here?

I set the config in elasticsearch.yml file which looks like this

[code]

after set the config I restart elasticsearch

now I want to do xhr call from other domain
[code]

It responds with following error

XMLHttpRequest cannot load http://127.0.0.1:9200/_search. Request header field Authorization is not a

[2016-10-13 10:12] ebuildy commented on #14656
@claudio-viola did you try to use https://www.elastic.co/guide/en/elasticsearch/reference/2.3/search-aggregations-bucket-global-aggregation.html?

[2016-10-13 10:28] olivere opened #20907 "Permalinks in documentation"
As the author of an Elasticsearch client, I need a way to link to features in the various ES versions via a permalink. However, links seem to break sometimes.

E.g. I expected a link like [`https://www.elastic.co/guide/en/elasticsearch/reference/2.x/docs-bulk.html`](https://www.elastic.co/guide/en/elasticsearch/reference/2.x/docs-bulk.html) to always show the documentation for bulk operations in E

[2016-10-13 10:46] jasontedor commented on #20907
The trees like 2.x are our active development branch during the lifecycle of the 2.x series. We will cut branches like 2.4 from this when preparing to stabilize the branch for a release. You'll see the same thing for the 5.x series, we have a 5.x branch that is under active development and a 5.0 branch that is stable as we push towards the 5.0.0 release. Eventually there will be a 5.1 branch cut f

[2016-10-13 10:46] #20907 closed

[2016-10-13 10:47] jasontedor commented on #20905
Would you please provide the information that was requested in the issue template, especially the version of Elasticsearch?

[2016-10-13 10:51] jasontedor commented on #20899
Many thanks for downloading and trying out 5.0.0-rc1; I've added you to the [Pioneer Program](http://www.elastic.co/blog/elastic-pioneer-program). Please do let us know if you encounter any issues. :smile:

[2016-10-13 10:53] olivere commented on #20907
Okay. I understand.

Just for clarification. There's no way to symlink to something like `2.<current-minor-version>`? I have to change my links constantly from e.g. `2.4` to `2.5` when 2.5 arrives?

[2016-10-13 10:57] drount commented on #20877
Here is the top match of the search:

http://pastebin.com/x3caXrVg

[2016-10-13 11:05] farhan687 commented on #20905
Hey @jasontedor
It is Elasticsearch Version 2.3.

[2016-10-13 11:13] lizhecao commented on #20854
@s1monw I have upgraded to the 2.4.0,but there comes a new problem.
`[2016-10-13 19:01:21,093][DEBUG][gateway                  ] [FH-CND-SS] [content_flow_log_20160830][5]: throttling allocation [[content_flow_log_20160830][5], node[null], [P], v[0], s[UNASSIGNED], unassigned_info[[reason=CLUSTER_RECOVERED], at[2016-10-13T10:59:15.344Z]]] to [[{FH-CND-SS}{d9cuWsBuSJCdsG1LuoKlsg}{211.138.22.118}{21

[2016-10-13 11:29] jasontedor commented on #20907
That doesn't protect you from broken links though, the moment that 2.4 is released it's been cut from the 2.x development branch and all of your links suddenly change from pointing to things in the 2.3 tree to things in the 2.4 tree and you have no guarantees whatsoever about the stability there.

[2016-10-13 11:36] olivere commented on #20907
Yeah, fair enough. You cannot prevent broken links, and that's okay. However, it's not very likely that things change big time between 2.4 and 2.5, or is it?

I'm also not trying to push you to do anything. I just wanted to understand if I'm missing something. If you say there isn't a way, there isn't a way... :-)

[2016-10-13 12:00] amitanjani opened #20908 "GC runs indefinitely on Elasticsearch node"
I am using elasticsearch version1.7.3.
I am running 3 node es cluster on 16gb ram and 4 core machine. 8gb ram is allocated to es process.
I am using mongoriver to sync data from mongo db. Some bulk update happened to mongo db. I got exception in elasticsearch
[ERROR][org.elasticsearch.river.mongodb.MongoDBRiverBulkProcessor] Bulk processor failed. failure in bulk execution
and org.elasticsearch.tr

[2016-10-13 12:00] s1monw commented on #20854
what is the problem? these shards are unassigned but should assign at some point? How many unassigned shards do you have. Do they initialize?

[2016-10-13 12:05] jasontedor commented on #20908
Elastic reserves GitHub for verified bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co) for general questions.

[2016-10-13 12:05] #20908 closed

[2016-10-13 12:12] jasontedor commented on #20905
Duplicates #17483, fixed in 2.3.2.

[2016-10-13 12:12] #20905 closed

[2016-10-13 12:41] yrodiere opened #20911 "Parsing of "ZZZ" component in date formats fails"
**Elasticsearch version**: 2.4.1
Used to work in 2.3.1.

**Plugins installed**: none

**JVM version**: java version "1.8.0_101"
Java(TM) SE Runtime Environment (build 1.8.0_101-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.101-b13, mixed mode)

**OS version**: Fedora 24

**Description of the problem including expected versus actual behavior**:

Parsing of "ZZZ" component in date formats seems t

[2016-10-13 13:06] tomas-mazak commented on #20631
Hey, I was not able to replicate this problem with 5.0.0-rc1, so I suppose it's fixed.

[2016-10-13 13:07] mike-mosher commented on #20899
I appreciate the help.  I'm not a Java person, so I assumed it was barking about the heap size.  I didn't realize there was a difference between this and the thread stack size.

Thanks for your help.

[2016-10-13 13:17] clintongormley opened #20912 "Add `max_concurrent_searches` to msearch-template"
Multi-search supports the `max_concurrent_searches` QS parameter, but this is missing from the `/_msearch/template` endpoint:

[code]

throws:

[code]

[2016-10-13 14:41] RickyLau opened #20914 "Transport client can not work on multi network card. VERSION:2.3.3"
**Elasticsearch version**:
2.3.3

**Plugins installed**: []
head

**JVM version**:

java version "1.7.0_79"
Java(TM) SE Runtime Environment (build 1.7.0_79-b15)
Java HotSpot(TM) 64-Bit Server VM (build 24.79-b02, mixed mode)

**OS version**:

LSB Version:    :base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch:graphics-4.0-amd64:graphics-4.0-noarch:printing-4.0-amd64:printing-4.0-noarch

[2016-10-13 14:46] RickyLau commented on #20914
This problem is when i  use public host access cluster, the transport client will check private host, but the outside netwok can not route to the private host.

[2016-10-13 14:49] #20866 closed

[2016-10-13 15:11] jasontedor commented on #20899
You are very welcome.

[2016-10-13 15:44] nishant-tomer opened #20917 "v5.0.0rc1 - reduce_params is not being recognised as a valid key in scripted_metric aggregation"
**Elasticsearch version**: v5.0.0rc1
**Plugins installed**: [mapper-murmur3]
**OpenJDK version** : 1.8.0_91
**JVM_version** : OpenJDK 64-Bit Server VM (build 25.91-b14, mixed mode)
**OS version**: Ubuntu 16.04 LTS / Ubuntu 14.04 LTS

**Description of the problem including expected versus actual behavior**:
`reduce_params` is not being recognised as a valid key in scripted_metric aggregation but [d

[2016-10-13 16:37] spinscale opened #20918 "Replace URL unfriendly character in index date math"
We have the notion of [date math in index names](https://www.elastic.co/guide/en/elasticsearch/reference/2.4/date-math-index-names.html) we expose this date math as part of the URL. This means, we have an index name like `<logstash-{now/d-2d}>`. There are chars the require encoding like `< > { }` and there is the slash that requires encoding as well (but only this single one slash in the middle, n

[2016-10-13 16:55] rjernst commented on #20918
In [RFC2396](https://tools.ietf.org/html/rfc2396), these characters are considered safe to use:

```"-" | "_" | "." | "!" | "~" | "*" | "'" | "(" | ")"```

And these are considered "unwise":

[code]

But I dont' think the unwise characters are really dangerous, at least in modern systems (in fact, we just started using `|` in the shard preference param). You could use square brackets for the outte

[2016-10-13 16:56] rjernst commented on #20918
You could also use parens instead of square brackets, but that depends if it considered "ok" to use these in index names themselves (which I don't think it should be, let's keep them to simple alphanum!).

[2016-10-13 17:02] clintongormley commented on #20918
@rjernst then there is curl, which (and i had no idea) has argument globbing enabled by default, which interprets `{}[]` as special characters

[2016-10-13 17:06] acarstoiu opened #20919 "Template validation is wrongfully identical to index validation"
**Elasticsearch version**: 2.4.1

After upgrading to the said version from 2.3 we were greeted with a nasty surprise. Templates are now validated upfront, as if they were _complete_ objects, which they are certainly **not**. This design error implemented in #8802 is also cooked for 5.0.

When a new index is created, all templates are scanned for a match between their pattern and the index name. Al

[2016-10-13 17:09] clintongormley commented on #20918
I'm more and more tempted to add an index selector widget to request bodies, eg:

    GET _search
    {
       "indices": {
            "max_age": "10d",
            "max_docs": 10000,
            "name":  "logs-*",
            etc
      }
    }

[2016-10-13 17:17] rjernst commented on #20918
Curl is really for playing around. We thought about the same thing with pipe for shard preference (which also must be escaped from the command line). But I don't think we should complicate that more for a testing only edge case.

[2016-10-13 18:22] dliappis opened #20920 "Deprecate EOL'ed Ubuntu 15.04 from Vagrantfile"
Ubuntu 15.04 (as well as 15.10) has reached end of life as per https://wiki.ubuntu.com/Releases

Therefore I think there's no point including it in packaging tests and we should remove the corresponding entries from the Vagrantfile: https://github.com/elastic/elasticsearch/blob/master/Vagrantfile#L33-L38

[2016-10-13 18:24] nik9000 commented on #20920
Fine by me!

[2016-10-13 18:31] jasontedor commented on #20919
Duplicates #20479, duplicates #20849

[2016-10-13 18:31] #20919 closed

[2016-10-13 18:41] chaitu0292 opened #20922 "java process failing to connect to Elastic search after a fresh installation of ES"
My scenario: My java process runs continuously(while(1)) on ES.
when a fresh installation of ES is done it fails to connect to ES.Throwing below error.
when i restart my service its working fine.
This occur only during fresh installation of ES. Its working fine when ES going up and down.

2016-10-13 06:44:39 WARN Failed to create ES client: Failed to create a selector.
2016-10-13 06:45:09 WARN net

[2016-10-13 18:44] jasontedor commented on #20922
Check your file limits, and make sure that you're not leaving connections open.

[2016-10-13 18:44] #20922 closed

[2016-10-13 18:47] ajaybhatnagar opened #20923 "Elasticsearch 5.0 rc1 Monitoring reporting incorrect node names. All nodes with different ip named as master node."
Setup :

Elasticsearch build 5.0 rc1 on Ubuntu 16.04 with separate monitoring cluster, JDK 1.8.0-102. Screen shot attached.

![es5rc1_monitor](https://cloud.githubusercontent.com/assets/8180763/19362234/ecaceaae-9153-11e6-98c9-c7781cdf5ca0.jpg)

When deploying separate cluster for monitoring, monitoring cluster nodes reports incorrect host name for different nodes. Ip addresses are different but h

[2016-10-13 19:03] bohyun-e commented on #20923
Hi @ajaybhatnagar - could you ask this in https://discuss.elastic.co/c/x-pack as Monitoring is a part of X-Pack?

Closing the issue.

[2016-10-13 19:03] #20923 closed

[2016-10-13 23:18] toliwa opened #20926 "Elasticsearch 5.0.0-rc1 transport-5.0.0-rc1.jar not in download on https://www.elastic.co/downloads/elasticsearch"
**Elasticsearch version**: 5.0.0-rc1

**Plugins installed**: [kibana-5.0.0-rc1, X-Pack]

**JVM version**: 1.8.0_92

**OS version**: Linux

**Description of the problem including expected versus actual behavior**:
The downloadable version of Elasticsearch 5.0.0-rc1 from https://www.elastic.co/downloads/elasticsearch (such as elasticsearch-5.0.0-rc1.zip) does not include transport-5.0.0-rc1.jar in i

[2016-10-13 23:53] obudiman opened #20927 "slowlog setting in elasticsearch.yml"
**Elasticsearch version**: 5.0.0-rc1

**Plugins installed**: [ingest-geoip, ingest-user-agent, x-pack@5.0.0-rc1]

**JVM version**: 1.8.0_101

**OS version**: 4.4.11-23.53.amzn1.x86_64

**Description of the problem including expected versus actual behavior**:
We're unable to set the slowlog configuration below on the elasticsearch.yml.

[code]

The ES failed to start and the following error message

[2016-10-13 23:58] jasontedor commented on #20927
These are index-level settings, 5.0.0 will not allow such to be set at the node level; the behavior here is correct. Can you say which guide you're referring to that specifies you can set these at the node level?

[2016-10-14 00:09] rjernst commented on #20926
This is not the correct way to use the transport client. You should depend on the new transport jar (that you linked to) and all of its transitive dependencies (even in 2.x the correct way would have been to depend on the elasticsearch jar in maven, transitively). From ant, you can use something like ivy to handle pulling the jar and its dependencies.

The download you refer to is the elasticsearc

[2016-10-14 01:36] obudiman commented on #20927
https://www.elastic.co/guide/en/elasticsearch/reference/5.0/index-modules-slowlog.html

If this is not allowed anymore, is there any other way we can set the slowlog globally, or maybe on multiple indices simultaneously,  instead of defining it manually on each index? Having time series indices which are created daily, seem to mean we have to set the option on daily basis on the new index.

[2016-10-14 01:51] lizhecao commented on #20854
the problem is that many shards are unassigned. My cluster has only one node.

yes,these shards are primary shards which should assign at my node.
the health of the cluster is red as shown below
`{
  "cluster_name": "stsc_p2p",
  "status": "red",
  "timed_out": false,
  "number_of_nodes": 1,
  "number_of_data_nodes": 1,
  "active_primary_shards": 203,
  "active_shards": 203,
  "relocating_shards":

[2016-10-14 01:52] jasontedor commented on #20927
You can create a top-level template with the desired settings. There will then get applied to your daily indices. We will fix the docs.

[2016-10-14 02:11] obudiman commented on #20927
That will do. Thanks.

[2016-10-14 02:45] afsafs opened #20928 "SNAPSHOT is partial with exception BufferedChecksumIndexInput - Using NFS method"
[code]

[2016-10-14 03:58] joshuar opened #20930 "Elasticsearch 5.0-rc1 RPM packages are not signed"
**Elasticsearch version**:
5.0-rc1

**OS version**:
CentOS

**Description of the problem including expected versus actual behavior**:
It looks like the 5.0-rc1 RPM packages are not signed and this causes installation to fail by default.

**Steps to reproduce**:
I'm following the steps [here](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/rpm.html) into a fresh CentOS 7 install:

[code

[2016-10-14 07:13] makeyang opened #20932 "[feature request]request in query cache dump&replay"
**Describe the feature**:
1. when I add node to certain cluster and after data rebalance, there is nothing cached in new nodes, so better can replay the request so it can warm the new nodes
2. when I upgrade the cluster, better can dump the request in query cache and after upgrade, replay those request to warm up the cluster

[2016-10-14 07:27] s1monw commented on #20928
can you check if you see a stacktrace in the log files? this info doesn't get us anywhere.

[2016-10-14 07:31] s1monw commented on #20854
they should initialize one after another. You have 4 initializing and that is the default value for `cluster.routing.allocation.node_concurrent_recoveries` if you want to bump this up just update it via the [cluster settings update API:](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-update-settings.html)

[code]

[2016-10-14 07:36] makeyang opened #20933 "[feature request]high level search profile API"
**Describe the feature**:
1. define critical steps for search: let's say query re-write, dfs, search invert index, score, rank, fetch doc
2. record the slowest one of each critical steps info, let's say: [index1][shard1], dfs, timecost: 2ms
3. each search reutrn each slowest of each critical steps

[2016-10-14 07:46] diugalde commented on #5512
What happened with this feature? Is there any work in progress? I think it would be really useful.

[2016-10-14 08:04] shaharmor opened #20936 "Force merge does not compress index if already at 1 segment"
**Elasticsearch version**: v2.4.1

**Plugins installed**: [license, marvel-agent]

**JVM version**: javac 1.8.0_101

**OS version**: Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:
Trying to further compress an index, I have changed the `codec` index setting to `best_compression` per the guide (By closing the index, changing the setting, and reopening the in

[2016-10-14 08:26] shaharmor opened #20937 "[Feature Request] add wait_for_completion to index open command"
**Describe the feature**:
When opening an index using the `_open` command, its sometimes needed to wait for the index to be fully opened and usable before running additional commands on the index.

For example, when trying to compress an index using the `codec: "best_compressions"` index config, you need to first close the index, change the setting, open the index, and then `forcemerge` it for the

[2016-10-14 08:56] algestam opened #20938 "HTTP module does not regard Connection: Close in v5.0.0"
**Elasticsearch version**: 5.0.0-rc1

**Plugins installed**: []

**JVM version**: Java(TM) SE Runtime Environment (build 1.8.0_101-b13)

**OS version**: Ubuntu 16.04 x64

**Description of the problem including expected versus actual behavior**:

When setting up a simple monitoring solution for a test instance of elasticsearch 5.0.0 with Nagios, I observed that the Nagios check program `check_http`

[2016-10-14 09:29] lizhecao commented on #20854
I tried it， but it didn't help.
And there are persitent logging as below:
`[2016-10-14 17:29:22,990][DEBUG][gateway                  ] [FH-CND-SS] [content_flow_log_20160914][4] found 1 allocations of [content_flow_log_20160914][4], node[null], [P], v[0], s[UNASSIGNED], unassigned_info[[reason=CLUSTER_RECOVERED], at[2016-10-14T08:27:01.645Z]], highest version: [20]
[2016-10-14 17:29:22,990][DEBUG]

[2016-10-14 09:43] bleskes commented on #20888
Discussed this in Fix it friday and we all feel it's a good idea. The only gotcha, which already exist now, is how to deal with recovered state which has custom metadata with no corresponding client. That is tricky because it can mean it some install went broken (and we don't want to just destroy the custom metadata) but it can also mean that someone uninstalled a plugin and the custom metadata ne

[2016-10-14 09:47] #20828 closed

[2016-10-14 09:47] s1monw commented on #20854
do you see any exceptions in the log files?

[2016-10-14 09:53] jimferenczi commented on #20841
Discuss in FixItFriday, we had an agreement that splitOnWhitespace=false should be the default but it would change the expectations for a lot of users so the proposed plan is to expose the feature in 5.x (with default to true) and change the default to false in 6.0. This would give the ability for the users to test it before upgrading to 6. Saved queries (percolator, ...) could also be problematic

[2016-10-14 09:54] s1monw commented on #20936
this is not supported at this point

[2016-10-14 10:00] colings86 commented on #20773
Discussed in FixItFriday. We agreed with @jpountz that we don't want to fail on missing fields because of the cross-index search request use case which is heavily used. Adding a specific setting for this is also not desirable but we thought in the case where you are wanting to specify a script to work on each value of a field rathe ran once on each document we should specify the script using `valu

[2016-10-14 10:00] ywelsch commented on #20681
Duplicate of #16244

[2016-10-14 10:01] #20681 closed

[2016-10-14 10:03] spinscale commented on #20918
we discussed this today and came to the conclusion that the clients need to be able to handle this and do all the URL encoding by himself. This is way easier than introducing a second character instead of the slash to Elasticsearch.

Elasticsearch 5.x will have a `{{#url}}` mustache functions that will help with URL encoding.

[2016-10-14 10:03] #20918 closed

[2016-10-14 10:12] OnlyGit commented on #14330
The ElasticSearch version we use is 2.4.1, this issue also appears, but we don't use the scan or scroll request

[2016-10-14 10:15] OnlyGit commented on #9726
The version I use is 2.4.1. This issue also appears.

[2016-10-14 10:19] shaharmor commented on #20936
Any estimate on if/when it will be?

[2016-10-14 10:21] s1monw commented on #20936
I don't think we have it on the roadmap I will mark it as adopt me... as a workaround you could try to use the [upgrade API ](https://www.elastic.co/guide/en/elasticsearch/reference/2.4/indices-upgrade.html) but it will only work if the segment is not from the current version

[2016-10-14 10:24] shaharmor commented on #20936
@s1monw got it, thnx.
The index is from the same version 😄

Will reindexing work? Also, maybe this should be documented somewhere, about the correct flow to compress

[2016-10-14 10:35] s1monw commented on #20936
well reindex might work if you have set the codec to `best_compression`. Yet, updateing a single document per shard should also do the job and after that you can run the force_merge

[2016-10-14 10:51] Vincent717 opened #20939 "Should I reimport data after updating synonyms file"
Hi All,

I was wondering, If I update the synonyms files, do I need to reload the data into ES?
Because I have tried to only restart ES after updating synonyms files, but it does not work.
If it is so, do you have any more efficient solution, since reloading data is quite frustrated..

[2016-10-14 10:55] dadoonet commented on #20939
Hi @Vincent717

Please ask your questions on discuss.elastic.co instead.
This place is only for confirmed bugs or feature requests.

Thanks!

[2016-10-14 10:55] #20939 closed

[2016-10-14 10:55] dadoonet commented on #20939
Hi @Vincent717

Please ask your questions on discuss.elastic.co instead.
This place is only for confirmed bugs or feature requests.

Thanks!

[2016-10-14 12:14] afsafs commented on #20928
1) Issue - This snapshot was created using 2.3.1 and is being read with 2.4
2) When I try to create a snapshot with NFS, I get the same error

[2016-10-13 18:50:20,479][WARN ][rest.suppressed          ] path: /_snapshot/backup/_all, params: {repository=backup, snapshot=_all}
SnapshotException[[backup:20161013-175233] Snapshot could not be read]; nested: IllegalStateException[class org.apache.lucen

[2016-10-14 12:25] polyfractal commented on #20933
Have you seen the existing [Profile API](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-profile.html)?  It returns per-shard breakdown of many of the things you listed: scoring, rewriting, etc.

It doesn't instrument everything in ES yet (DFS for example, or the fetch phase), but the goal is to add more to the feature over time.  For example, in 5.0 it gained the ability to

[2016-10-14 12:38] ywelsch commented on #20914
Duplicate of #18447.

[2016-10-14 12:38] #20914 closed

[2016-10-14 13:58] Stacey-Gammon opened #20941 "Boolean scripted field agg's are coming back as strings"
This is showing up as a 5.0 blocker for kibana in https://github.com/elastic/kibana/issues/8677

I am requesting a scripted, painless field aggregation with value_type boolean, but it is being returned as a string.  value_type double works as expected.

Request:

[code]

Response:

[code]

fwiw, I am capturing the request in slow log and when I pass `"value_type": "boolean"`, that line is getting

[2016-10-14 14:51] #20174 closed

[2016-10-14 15:21] acarstoiu commented on #20479
As I explained in #20919, this is a design error: templates should only be validated ony as much as any _incomplete_ object can be validated. Elasticsearch shoud reject a template only if it contains plain inconsistencies or grammar violations.

On top of that, **this is a breaking  change** which you failed to document!

I have a patch that fixes the too hasty conclusion that a referred analyzer

[2016-10-14 15:32] jpountz commented on #20877
`explain` returns a different score, which I think is the right one and would have ranked this document better. This is probably due to https://issues.apache.org/jira/browse/LUCENE-7132, a pretty bad bug which is only fixed in recent Lucene versions (Lucene 6.1+). Maybe we should backport it and do a new 5.5 release.

[2016-10-14 15:34] jimferenczi commented on #20941
The `value_type` does not handle boolean. The parser is too lenient and accepts invalid values (values that are not recognized as valid types) without throwing an error. You can try with `value_type=foo` and you'll have the same output. It's too late for 5.0.0 but we can remove this leniency in 5.x. I'll not remove the blocker label since others may want to comment as well.

[2016-10-14 15:37] jpountz commented on #20877
For the record, I *think* this can be worked around by adding a `FILTER` clause with a query that matches all docs without being a `match_all` query, eg.

[code]

[2016-10-14 15:54] drount commented on #20877
I reindexed the data in a local Elasticsearch 2.4 and can not reproduce the bug. Is the Lucene version updated in 2.4?

Other than that... Looks like that wrong-scored document does not use coord (maybe because it is a perfect match).

I'll try your "patch".

It is unfortunate that due to this bug I cannot use AWS Elastichsearch.

[2016-10-14 15:57] jpountz commented on #20877
2.4 should have the bug too, but in order to reproduce the bug you need documents to be indexed in a certain order, so it does not necessarily reproduce if you reindex.

[2016-10-14 16:40] toliwa commented on #20926
Thanks for the clarification.

Using ivy there seems to be a problem, it downloads 27 JARs and then outputs:

    :: problems summary ::
    :::: ERRORS
            unknown resolver null

            unknown resolver null
            [..]

You can reproduce this behavior with:

    java -jar ivy-2.4.0.jar -retrieve ./[artifact](-[classifier])-[revision].[ext] -dependency org.elasticsearch.client t

[2016-10-14 16:49] rjernst commented on #20926
You need quotes around the argument to `-retrieve`, otherwise the shell will muck it up.

[2016-10-14 17:02] toliwa commented on #20926
Thanks. Additionally, I also had to remove the ``.ivy2`` and ``.ivy2ee`` folders in my ``home`` and re-run the ivy command to make the ERROR messages disappear.

[2016-10-14 17:05] nishant-tomer opened #20942 "v5.0.0rc1 - Unable to whitelist classes"
**Elasticsearch version**: v5.0.0rc1
**Plugins installed**: [mapper-murmur3]
**OpenJDK version** : 1.8.0_91
**JVM_version** : OpenJDK 64-Bit Server VM (build 25.91-b14, mixed mode)
**OS version**: Ubuntu 16.04 LTS / Ubuntu 14.04 LTS

**Description of the problem including expected versus actual behavior**:
We whitelisted org.joda.time.DateTime by specifying the policy file using `ES_JAVA_OPTS` and

[2016-10-14 17:08] acarstoiu commented on #20479
The code is in [this branch](https://github.com/acarstoiu/elasticsearch/tree/wrong-template-validation). GitHub doesn't let me to submit a pull request against a tag, neither from a particular commit. :-1:

[2016-10-14 17:09] nik9000 commented on #20942
Try it with `"lang": "groovy"`. Painless, the new default in 5.0 is much more locked down then groovy and doesn't let you change the whitelist at all.

[2016-10-14 17:09] #20942 closed

[2016-10-14 17:11] eskibars opened #20943 "lang is still required in Ingest Script Processor"
**Elasticsearch version**: 5.0.0-rc1

**Description of the problem including expected versus actual behavior**:
Currently we [default scripts to lang=painless and treat the parameter as optional in many places](https://github.com/elastic/elasticsearch/issues/20122#issuecomment-244337340).  We [say it's not required](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/script-processor.html)

[2016-10-14 17:12] nik9000 commented on #20938
I wonder if this is a change that came with netty 4....

[2016-10-14 17:15] drount commented on #20877
I see.

Maybe I'm wrong but... is this a huge problem in general for ES?

[2016-10-14 17:24] nishant-tomer commented on #20942
Does this mean that 5.0 will not allow to whitelist classes at all? OR whitelisted classes will be available in Groovy, just not in Painless. Whitelisting seems to be not working with groovy also. Here is an example:

~/.java.policy file:
[code]
ES_JAVA_OPTS command :
`export ES_JAVA_OPTS="${JAVA_OPTS} -Djava.security.policy=file:///~/.java.policy"`

test query :
[code]

ES response :
[code]

[2016-10-14 17:27] jasontedor commented on #20942
`ESLogger` does not exist anymore.

[2016-10-14 17:37] jeff303 commented on #17118
Unfortunately, I don't have the time to finish this right now, having just started a new full time job (among other things).  I went ahead and pushed my latest changes (same branch as linked above), and I feel things are maybe 80% there.

[2016-10-14 17:39] nik9000 commented on #20942
This.

[2016-10-14 17:41] Stacey-Gammon commented on #20941
Hmm, are boolean, scripted fields supported in other places?  I'm trying a query with them but it doesn't seem to be working properly (though maybe I'm sending something incorrectly).  The kibana team is trying to determine whether to convert to bool on our side for the aggregation response, or whether we should pull boolean type from the UI altogether.

Request:
[code]

Response:
[code]

If I rep

[2016-10-14 17:47] nishant-tomer commented on #20942
Ok, whitelisting is working with groovy. Thanks @nik9000

[2016-10-14 18:06] Stacey-Gammon opened #20944 "Query for negative number value returns matches on positive results"
Querying a number field for a negative number returns the same result as if it was a query for a positive number.

Request:
[code]

Response:
[code]

[2016-10-14 18:09] rjernst commented on #20944
Your syntax is incorrect. Use colon, not equals, within a query string for searching within a field.

[2016-10-14 18:10] Stacey-Gammon opened #20945 "Query for a partial field name seems to return results"
I have a scripted, painless field called "nooooooo maaaaaaatch".  If I search on it using "maaaaaaatch" results are returned.

Request:
[code]

Response:
[code]

[2016-10-14 18:16] Stacey-Gammon commented on #20941
Scratch that last comment, I wasn't familiar with how queries worked, but @Bargs worked through it with me - painless true should have been in quotes, and without the quotes it was search "painless" in all fields, and ORing with "true=false".

That being said, I'm still seeing some strange results.   I filed #20944 and #20945 and I'm seeing one more weird thing that might be related. Querying true

[2016-10-14 18:20] rjernst commented on #20945
I believe this is the same as the other issue: the syntax is wrong for fielded search inside a query string, so it is just searching _all.

[2016-10-14 18:28] ppf2 opened #20946 "found unknown setting WARN messages"
5.0.0-rc1

Filing from a logging cleanup pt of view.

I get what we are saying here for this is being logged on 5.x against older Marvel indices.

But does this have to be logged at the WARN level?  Seems like a normal migration routine that it goes through?  Does the end user need to know this?  If so, can we include the index name that it changed and maybe move these to the INFO level, etc.. :)

[2016-10-14 18:35] Stacey-Gammon commented on #20944
Changing my query to `"query" : "bytes:-199",` throws an exception:

[code]

Even so, it looks like '=' is supported in some cases, and it doesn't throw an error, it just returns wrong results.  This seems like it would be confusing to a user who first does `bytes=5348`, and it works, then does `bytes=-5348` and it doesn't.

[2016-10-14 18:42] Stacey-Gammon commented on #20944
Ah, nm, `bytes:\"199\"` and `bytes:\"-199\"` works as expected.

[2016-10-14 18:47] #20944 closed

[2016-10-14 18:47] #20945 closed

[2016-10-14 18:49] Stacey-Gammon commented on #20941
Alright, issues seem to all stem from = instead of :  We will fix the original bool issue on our end.

[2016-10-14 19:14] toliwa commented on #20926
After using the downloaded JARs and following the docs to create a PreBuiltTransportClient object, I noticed that still not all dependencies have been resolved, the following Exception occured:

	2016-10-14 13:56:09,328 INFO org.elasticsearch.plugins.PluginsService: loaded plugin [org.elasticsearch.transport.Netty4Plugin]
	Exception in thread "main" java.lang.NoClassDefFoundError: io/netty/channel

[2016-10-14 19:21] rjernst commented on #20926
Can you list which jars ivy downloaded?

[2016-10-14 19:37] jpountz commented on #20877
It may be indeed. It had been thought as quite an exotic bug until now but the fact that you hit it is making us reconsider.

[2016-10-14 19:44] toliwa commented on #20926
The downloaded JARs are:

	commons-codec-1.10.jar
	commons-logging-1.1.3.jar
	compiler-0.9.3.jar
	elasticsearch-5.0.0-rc1.jar
	HdrHistogram-2.1.6.jar
	hppc-0.7.1.jar
	httpcore-4.4.5.jar
	jackson-core-2.8.1.jar
	jna-4.2.2.jar
	joda-convert-1.2.jar
	joda-time-2.9.4.jar
	jopt-simple-5.0.2.jar
	lang-mustache-client-5.0.0-rc1.jar
	lucene-core-6.2.0.jar
	netty-3.10.6.Final.jar
	netty-common-4.1.5.Final.

[2016-10-14 19:50] jasontedor commented on #20946
Yes, warn is the right level! We are ignoring settings a user thinks they have set, we absolutely should warn them.

[2016-10-14 19:51] cbuescher commented on #20629
@nik9000 @javanna I opened a PR for this, there are a lot of tests that can use this. It works also for cases where we don't check that a modified object is not equal to its original, in that case this part of the test is skipped. However, I left TODOs where we should add this to the existing test (basically all QueryBuilders, Aggregations etc...)

[2016-10-14 19:52] drount commented on #20877
Any change the ES will update the Lucene dependency?

Due to this bug, I may have to reconsider ES for my use case.

[2016-10-14 19:55] ppf2 commented on #20946
Sounds good, can we add the index name reference though ? :)  So end users will not have to query the index settings api to figure out where these settings are originally set.

[2016-10-14 19:57] jasontedor commented on #20946
Yes, of course. I was only commenting on the warn request. If I disagreed with both requests I would have closed the issue. :innocent:

[2016-10-14 20:00] ppf2 commented on #20946
Cool, thx again!

[2016-10-14 20:48] jpountz commented on #20877
@drount The 5.0 rc1 release has the fix (it is on Lucene 6.2), but we still need a plan in order to get this bug fixed on the 2.x branch, which cannot move from Lucene 5.5.

[2016-10-14 21:31] jpountz opened #20949 "Add a ScriptDocValues specialization for booleans"
This would allow scripting languages like Painless to have better support for boolean values.

[2016-10-14 22:13] jasontedor commented on #20946
I have a fix for this. I'll open a PR soon.

[2016-10-14 23:36] gingerwizard opened #20952 "Painless - Request for native String split function"
**Describe the feature**:
String.split is not exposed for performance.  Can achieve using regex but this requires the user to enable regexes for what is a rather common use case.

Can we have a native split that only supports a char sequence and not a regex?

[2016-10-15 03:55] #20946 closed

[2016-10-15 07:48] PasiKoistinen commented on #16495
Hi s1monw,
I'm running a ES 2.2.2 on ubuntu 14 stable. We've hit this or a related problem a couple of times now. Every time it seems to be linked with low disk space situations (not running out of disk, though).

Can you please suggest actions that would help solve this issue?

This is what we're seeing in logs:
Caused by: java.nio.file.NoSuchFileException: /var/lib/elasticsearch/elasticsearch/no

[2016-10-15 09:58] radoslawcz commented on #20930
same problem here on RHEL 7.2  when trying to install from rpm repositories

"Package elasticsearch-5.0.0-rc1.rpm is not signed"

[2016-10-15 13:47] jasontedor commented on #20938
Thanks for the report. This morning I verified its validity and have a fix. I will open a pull request on Monday.

I've marked you as eligible for the [Pioneer Program](https://www.elastic.co/blog/elastic-pioneer-program).

[2016-10-15 14:31] algestam commented on #20938
Great, thanks so much!

[2016-10-15 18:26] jaliph opened #20954 "Cardinality is more than Count. How to achieve the exact uniq count?"
**Elasticsearch version**: 2.4.0
**Plugins installed**: []
**JVM version**: 1.8.0_101
RAM: 16331784kb
**Elasticsearch Heap Size**:7g

**OS version**:Red Hat Enterprise Linux Server release 6.6 (Santiago)

**Description of the problem including expected versus actual behavior:**
We have data set that we have loaded in Elasticsearch.

10 Shards, No replica. Index.compression is set to Best.
Elastics

[2016-10-16 01:22] ppf2 commented on #20946
And thanks for this too! @jasontedor

[2016-10-16 05:15] AlexKovalevich commented on #9876
I don't see how practically calculate lets say average site visit duration.
Lets say I have something like this: parent.subAggregation(AggregationBuilders.terms("visit_metrics_wrapper_agg").field("trackingSessionId").subAggregation(AggregationBuilders.avg("avg_time_per_visit_agg").field("trackingSessionLastUpdateDifference"));
parent.subAggregation(PipelineAggregatorBuilders.avgBucket("avg_page_vi

[2016-10-16 13:14] xenu256 commented on #4978
Same on 2.4.1, Ubuntu 14.04.

[2016-10-16 15:23] jasontedor commented on #20938
I opened #20956.

[2016-10-16 16:58] cbuescher commented on #20954
I'm closing this since the approximate nature of the Cardinality Agregation is clearly documented. Elastic reserves GitHub for bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co) and [IRC channels](https://www.elastic.co/community) for general questions and further discussions.

[2016-10-16 16:58] #20954 closed

[2016-10-16 17:18] #20938 closed

[2016-10-16 23:11] imotov opened #20957 "Some searches may slow down as a node warms up"
**Elasticsearch version**: 5.0.0-rc1

**Plugins installed**: [none]

**JVM version**: 1.8.0_102

**OS version**: Mac OS X (reproducible on Linux as well)

**Description of the problem including expected versus actual behavior**:

On indices with a large number of small records a match_all search can become significantly slower after the first few executions.

**Steps to reproduce**:
1. download el

[2016-10-17 01:08] lizhecao commented on #20854
I have emailed the log to you, please help me see what's wrong.
I have no idea how to recover the shards.

[2016-10-17 02:33] dadoonet commented on #20957
Looks like the JVM optimizer does not optimize as we would expect?

Wondering what would happen if you try to turn it off with XX:MaxInlineSize=0?

See http://niklasschlimm.blogspot.fr/2012/01/java-7-how-to-write-really-fast-java.html?m=1

[2016-10-17 02:43] imotov commented on #20957
@dadoonet I tried it, for some reason JVM ignores this setting and inlines it anyway. When I turn off inlining completely everything becomes slow (I am getting consistent response time of about 500ms).

[2016-10-17 06:44] dadoonet commented on #20957
Hmmm. That's strange because it is still documented for Java8 http://docs.oracle.com/javase/8/docs/technotes/tools/unix/java.html. So this should work. May be `0` is not supported anymore so that we should try `1` instead?

I also wonder if this happened with previous versions of Lucene? May be it's a reproductible behavior which can be reproduced with pure Lucene code which in that cas we should

[2016-10-17 06:55] rubbyjing20 opened #20959 "ArrayIndexOutOfBoundsException while searching index, the number of return documents shoud be very large"
I am using latest version of elasticsearch to search a large number of index. The number of returned document should be around 4000000. I don't want to use scroll cause I would like to record the time to return the result without counting the network time in multiple scrolls. However, when size in search increase to 712227,  I got the ArrayIndexOutOfBoundsException error.  I increase the heap size

[2016-10-17 07:12] dadoonet commented on #20959
So you changed the default settings in `elasticsearch.yml` file?

That's not how it works and I don't see why you would record such a time which is not accurate with what you would do in production.
Use scroll. That's definitely the way to go instead of trying to fill your memory.

And please ask this on discuss.elastic.co if you want to discuss about this. This space is only for bug reports.

[2016-10-17 07:12] #20959 closed

[2016-10-17 07:38] rubbyjing20 commented on #20959
Hi, thanks for your reply. I added ES_HEAP_SIZE=64G in elasticsearch file and I would like to record the time because I just want to compare the time with Solr and other search server.

[2016-10-17 08:05] guenhter opened #20961 "Elasticsearch publishes wrong ip when run with docker 1.12 in swarm mode."
**Elasticsearch version**:
5.0.0-RC1

**Plugins installed**: []
None

**JVM version**:
Shipped Version with Elasticsearch-Docker
https://github.com/elastic/elasticsearch-docker

**OS version**:
Debian 8 in Guest (using Elasticsearch via Docker)
Linux machine1 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u1 (2016-09-03) x86_64 GNU/Linux

**Description of the problem including expected versus actual b

[2016-10-17 08:07] javanna opened #20962 "Index expression matching improvements"
As part of #20898 we discussed some improvements to index expression matching that we should work on for 6.0:
- given that there won't be indices starting with `-` around anymore (those indices have been created with 2.x and will need reindexing on 6.x), we can re-evaluate how negations work. Order shouldn't matter anymore, e.g. `-test1,test*` and `test*,-test1` should resolve to the same set of i

[2016-10-17 08:14] robin13 opened #20963 "Documentation lost "when to use upgrade API""
The [current docs for the upgrade API](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-upgrade.html) are missing the section "When to use upgrade API" which was in the [2.0 version of the page](https://www.elastic.co/guide/en/elasticsearch/reference/2.0/indices-upgrade.html).  This section is very informative / helpful and IMO should be returned to the current version of th

[2016-10-17 08:14] cbuescher commented on #17118
Thanks  @jeff303 for the update and all the effort so far. Since this is stalled a bit, would it be okay for somebody else to pick it up if she is interested? I'm just asking because this issue is still labeled "adoptme" which is meant to be a label that should encourage new contributers to take a look at open issues. If you have an idea if or when you'll be able to come back to this, we can also

[2016-10-17 08:24] bleskes commented on #20962
Can you elaborate more about this? it doesn't feel intuitive to me. I would expect that you can't start with negation (you must have something first to remove it) and that things are evaluated in order - add some, remove some, remove some more, add things again etc.

[2016-10-17 08:32] s1monw commented on #20959
_search servers_ are build to return the top N where N is small (10 or 100) if you wanna retrieve all results we have a dedicated API called scroll. there is not a single reason to compare fetching gazillion of docs in a single run the API is not made for this.

[2016-10-17 08:36] drount commented on #20877
I will try today the

`
"filter": [
        { "exists" : { "field" : "title" } }
      ]
`

workaround.

Would you mind elaborating why this may avoid the error?

[2016-10-17 08:42] dadoonet commented on #20959
FI the discussion now moved to https://discuss.elastic.co/t/arrayindexoutofboundsexception-while-searching-index-the-number-of-return-documents-shoud-be-very-large/63160

[2016-10-17 08:42] clintongormley commented on #20479
It has occurred to me that we can never do this absolutely correctly.  eg a template for `logs-*` may coincide with a template for `*-2016-*` or it may not.  We can't tell without an index name.

I'm wondering if, instead of trying to be clever, we should just allow a flag to disable template validation and template PUT time.

@acarstoiu there's a good reason for that... we're not planning on maki

[2016-10-17 08:50] clintongormley commented on #20631
thanks for letting us know @tomas-mazak

[2016-10-17 08:50] #20631 closed

[2016-10-17 08:52] RickyLau commented on #20914
thanks

[2016-10-17 09:39] setaou commented on #20876
We are experiencing the same problem with ES 2.4.1, java 8u101, Ubuntu 14.04.

It has happened two times, and each time was triggered by starting a full snapshot while one index was under heavy indexing load (3-4k docs/s). About 10 minutes after the beginning of the snapshot, some shards of this index begin to throw lots of LockObtainFailedException, and the situation finally gets back to normal a

[2016-10-17 10:12] javanna commented on #20962
I see. Marking as discuss then, I couldn't come up with cases where the order would make a difference, I thought it would make things more complicated, but it may be me. I see it as remove this index from the indices matched by the rest of the expression.

Whatever we decide to do here, we have to remember to change the "wildcarSeen" behaviour, as with #20898 we explicitly support indices that hav

[2016-10-17 10:27] barik94 opened #20967 "Primary shard is not active or isn't assigned is a known node"
I use elasticsearch `ver. 1.4.4` with FOS Elastica Bundle.
On reindex data see `Primary shard is not active or isn't assigned is a known node` error.
Find only this advice
http://stackoverflow.com/questions/27547091/primary-shard-is-not-active-or-isnt-assigned-is-a-known-node
but my disk is full on 76% not 85%.
So what a problem?
Help me, please

[2016-10-17 10:28] cbuescher opened #20968 "CI: RandomQueryBuilder.createQuery() can lead to NPE when used from test that doesn't subclass AbstractQueryTestCase"
This turned up on a PR jenkins run:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request+multijob-intake/407/console

[code]

The reason seems to be that ShardSearchTransportRequestTests recently started using randomly created queries from RandomQueryBuilder. This delegates to instances of individual query builder tests, which in turn uses some static members of AbstractQuer

[2016-10-17 10:29] arosenheinrich opened #20969 "SearchSourceBuilder not working for count"
Beginning from 5.0.0-beta1 SearchSourceBuilder adds an "ext" field. This way count queries can not work with queries generated using SearchSourceBuilder as ext is not supported.

Empty query by just creating new SearchSourceBuilder looks now like this:

{
  "ext": {}
}

_search will return results, _count will return

{
  "error": {
    "root_cause": [
      {
        "type": "parsing_exception",

[2016-10-17 10:31] cbuescher commented on #20968
Seems to be fixed by 5137f44bd66bdd92b8e99310eefa6b3fd935cc9b on master already.

[2016-10-17 10:31] #20968 closed

[2016-10-17 10:34] bleskes commented on #20967
We use github to report bugs, issues and features. We're happy to help you figure what's going on, but please ask it on discuss.elastic.co . Thanks you!

[2016-10-17 10:34] #20967 closed

[2016-10-17 10:39] barik94 commented on #20967
@bleskes https://discuss.elastic.co/t/primary-shard-is-not-active-or-isnt-assigned-is-a-known-node/63182

[2016-10-17 11:15] pablogrs opened #20972 "Netty4 in 5.0.0-rc1 "minimal compatible version" exception when running Elasticsearch Docker image"
**Elasticsearch version**: 5.0.0-rc1
**Plugins installed**: [] none
**JVM version**: Elasticsearch Dockerfile
**OS version**: Docker

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. pull dockerfile
 2. run docker with the image created with the dockerfile
 3. watch it ask for version 5.0? I still don't understand the error, seems to be coming

[2016-10-17 11:24] jasontedor commented on #20972
You have a 2.0.0 node that is attempting to communicate with your 5.0.0-rc1 node.

[2016-10-17 11:24] #20972 closed

[2016-10-17 11:38] tomas-fp opened #20974 "Cannot highlight_query using parent document filters"
**Elasticsearch version**: 2.3.5

**Plugins installed**: None

**JVM version**: 8

**OS version**: Darwin 15.5.0
#### Issue

**Having the following parent-child document relations in a forums data context**:

thread documet (parent) -> post documet (child)

I wanna highlight the matched fields of first-level, nested and/or parent document fields.

So I'm running the following query:

[code]

And g

[2016-10-17 12:38] mlawler004 commented on #17614
Another vote for keeping this functionality available in some shape or form. There are lots of different uses cases for ES. We use ES on enterprise scale (million(s) of records, not billions), and we use this for outlier detection in some circumstances, We're ok with it not being accurate some times.

[2016-10-17 12:44] clintongormley commented on #20969
@javanna could you take a look at this please?

[2016-10-17 13:18] Stacey-Gammon commented on #20941
I've discovered a couple additional issues with boolean fields.  It appears that using a painless script field of `doc['alive'].value == false` fails with

[code]

Along the same vein, using a script query like the following does not return any results (it has to be 0 or 1 to work as expected).

[code]

[2016-10-17 13:26] drount commented on #20877
I tested the suggested workaround. It now does return the correct _score. However, the query times is 10x more so it is basically unacceptable.

Any other idea?

Thank you.

[2016-10-17 13:32] jimferenczi commented on #20941
@Stacey-Gammon this is a known issue reported by ... you. The fix should come in 5.1.0 as stated here:
https://github.com/elastic/elasticsearch/issues/20949

[2016-10-17 13:43] jpountz commented on #20877
The bug is located in an optimization to pure disjunctions (a top-level `A OR B OR C OR ...`). By adding a filter, the optimization gets disabled since it is not a top-level pure disjunction anymore.

We need to get the bugfix backported and released in Lucene so that we can do a new Elasticsearch 2.x release on a fixed version of Lucene.

[2016-10-17 14:00] jpountz commented on #20877
Nevermind what I said above. I was reading change logs more carefully and this bug should be fixed in Elasticsearch 2.4.0+ since it is based on Lucene 5.5.2 which has the fix. Would you mind giving it a try?

[2016-10-17 14:02] pablogrs commented on #20972
I am sorry for the silly post. I didn't know what that warning was.

[2016-10-17 14:03] drount commented on #20877
I indexed 3 times in 2.4 (locally) and I seems that works.

Shouldn't 2.3 be urgently deprecated?

[2016-10-17 14:33] clintongormley commented on #20920
Closed by #20921

[2016-10-17 14:33] #20920 closed

[2016-10-17 14:37] AlexP-Elastic commented on #2869
We have run into this issue (or a heavily related one) twice in the last month on Cloud, both times on 2.x clusters (#1656, details [here](https://github.com/elastic/cloud/issues/1656#issuecomment-236293503) and [here](https://github.com/elastic/cloud/issues/1656#issuecomment-252672161) in the comments)

In particular it _appears_ (it's happening on production clusters so unfortunately there's a l

[2016-10-17 14:46] clintongormley commented on #20941
@jimferenczi would be good to document `value_type` as well.

[2016-10-17 14:46] dliappis commented on #20920
Also backported to:

- 5.0: https://github.com/elastic/elasticsearch/commit/666023751ae7d425b475989df1f2c24c6f24441f
- 5.x: https://github.com/elastic/elasticsearch/commit/1050e6f87cb258dd7782ea6032cd00a6c21c9ee9

[2016-10-17 14:50] #20927 closed

[2016-10-17 14:58] clintongormley commented on #20963
@robin13 they weren't lost but were deleted on purpose.  and in 5.0, i've removed the documentation for the upgrade API because it is essentially flawed.  You need to use the reindex API instead.  I've added docs explaining why and how to the upgrade section: https://www.elastic.co/guide/en/elasticsearch/reference/5.0/reindex-upgrade.html

[2016-10-17 14:58] #20963 closed

[2016-10-17 15:02] clintongormley commented on #20961
Thanks for trying out the RC.  What logic could we apply to choose the other IP automatically (and in a generic, non-docker-specific way)?

[2016-10-17 15:05] clintongormley commented on #20957
@danielmitterdorfer @jpountz any ideas?

[2016-10-17 15:09] clintongormley commented on #20854
@lizhecao it looks like your shards are recovering, just slowly.  there are no exceptions in what you showed above.

[2016-10-17 15:15] clintongormley commented on #20952
@jdconrad what do you think?

[2016-10-17 15:20] clintongormley commented on #20943
@talevy could you take a look please?

[2016-10-17 15:25] #20933 closed

[2016-10-17 15:28] rjernst commented on #20930
The problem here was the rpm (and deb) files under the download service were signed, but not those inside package managers. This has been fixed in the release process and will be reflected in the next release.

[2016-10-17 15:28] #20930 closed

[2016-10-17 15:34] clintongormley commented on #20841
See https://github.com/elastic/elasticsearch/pull/20925#issuecomment-254223125

[2016-10-17 15:38] talevy commented on #20943
yeah, will get on it today

[2016-10-17 15:42] acarstoiu commented on #20479
@clintongormley let's try to focus on the matter, as I'm not interested in your SCM rules and I'm sure you can cherry-pick the fixing commit anytime you want. I merely justified the lack of a proper pull request.

I do not expect the commit to be accepted by itself, simply because it lacks the tests counterpart. I also did my best to preserve the coding style and the existing behaviour, but might

[2016-10-17 15:43] clintongormley commented on #20888
@martijnvg are you taking this or is it adoptme?

[2016-10-17 15:45] clintongormley commented on #20937
@abeyad does `_open` support the `wait_for_active_shards` param?

[2016-10-17 15:49] dakrone commented on #20962
+1

As far as the ordering goes, I agree with @bleskes, it's strange to have negations before adding anything, so I would be in favor of disallowing starting the expressions with `-` (requiring something like `*,-foo`)

[2016-10-17 15:50] ywelsch commented on #20937
@clintongormley no, it currently does not but could be added. Should we mark this as adoptme?

[2016-10-17 15:53] danielmitterdorfer commented on #20957
@clintongormley I'll need a bit more time for a definitive answer but @imotov could try to avoid inlining of the method in question with `-XX:CompileCommand="dontinline org.apache.lucene.search.FakeScorer::score"`. `-XX:MaxInlineSize=0` is somewhat brutal. :)

[2016-10-17 15:53] clintongormley commented on #20932
Unfortunately this wouldn't be possible.  The results in the request cache are tied to index readers and are applicable only to the current node.

[2016-10-17 15:53] #20932 closed

[2016-10-17 16:08] imotov commented on #20957
@danielmitterdorfer I am getting about 700ms response time for all requests. By the way, I don't think `FakeScorer::score` is the method in question. Last week, I tried removing FakeScorer completely by commenting out scoring and it didn't have any effect on the result. I am pretty sure the issue is with  `org.apache.lucene.search.TopScoreDocCollector$SimpleTopScoreDocCollector$1::collect`.

[2016-10-17 16:10] clintongormley commented on #20917
I think this is just a matter of documentation.  The `reduce_params` param was removed in 2c3165d080c066cc11c2d1478df6aefff2700e90 - presumably you just pass the params inside the `reduce_script` construct:

    "reduce_script": {
      "inline": ".....",
      "params": {...}
    }

@colings86 can you confirm?

[2016-10-17 16:14] colings86 commented on #20917
Yep, this is a documentation issue, the params for the `reduce_script` should indeed be passed in the way @clintongormley describes

[2016-10-17 16:24] clintongormley commented on #20877
@drount We only maintain the 2.4 branch in the 2.x series now, and the fix is already released. This bug was highly situation dependent.  it doesn't require an urgent (or non-urgent) deprecation

[2016-10-17 16:24] #20877 closed

[2016-10-17 16:25] danielmitterdorfer commented on #20957
@imotov Oh, then I just misread your initial comment, sorry. The correct command should be -XX:CompileCommand="dontinline org.apache.lucene.search.TopScoreDocCollector$SimpleTopScoreDocCollector$1::collect" in this case.

[2016-10-17 16:28] clintongormley commented on #20903
@robin13 what do you mean here? ^^

Indices already have metadata attributes.  It sounds like the part that is missing is the ability to use those in x-pack, etc, no?

[2016-10-17 16:29] jdconrad commented on #20952
I think it's fine to add a native method for this.

[2016-10-17 16:43] imotov commented on #20957
Yep, tried that as well - same result.

[2016-10-17 17:03] clintongormley commented on #20875
Broken in 2.4.1 too:

[code]

[2016-10-17 17:06] clintongormley commented on #20869
@gingerwizard for clarity, could you provide a sample of what you have to do today and what you'd like to be able to do?

[2016-10-17 17:18] clintongormley commented on #20813
@bharvidixit makes sense

[2016-10-17 17:31] #20917 closed

[2016-10-17 17:34] clintongormley commented on #20479
@acarstoiu you don't seem to get how the open source world works.  Frankly, your attitude makes me disinclined to converse with you further.

[2016-10-17 18:11] #20949 closed

[2016-10-17 18:20] martijnvg commented on #20888
@clintongormley I'll label it with an adoptme for now. When I start to work on this issue then I'll assign it to myself.

[2016-10-17 18:36] rjernst commented on #20926
@toliwa Thank you for opening this issue. I see now that we do indeed still have a bug in how the modules which are published for the transport client do not have the correct dependencies (those which core provides).

[2016-10-17 19:04] rjernst commented on #20926
Hrm, actually perhaps this is a bug in ivy with handling maven poms? The pom for elasticsearch *does* have `lucene-queries` (which is the jar missing for this particular error). And when ivy prints out what it resolves, it shows lucene queries:

[code]

However, the jars actually downloaded do not include lucene queries:

[code]

I think what happens is ivy sees the exlusions set in other dependen

[2016-10-17 20:40] polyfractal commented on #20667
Hey @l8liu, sorry for the delay in responding.  We've been chatting internally about this a bit.  I'll start with the easy one:

Definitely!  We've talked about this a few times and I know I'd personally like one.  We're currently trying to determine the best way to add it (dedicated agg, or rename `moving_average` to `moving_function` and implement std dev as a "function, etc).  I think it'll end

[2016-10-17 20:45] jasontedor commented on #20703
This is correct, but not the salient point. The JVM will convert `INADDR_ANY` to `IN6ADDR_ANY_INIT` immediately before binding assuming that IPv6 is available. This can be disabled with `-Djava.net.preferIPv4Stack=true`.

This is not correct.

[code]

The default value of `IPV6_V6ONLY` is the value of `/proc/sys/net/ipv6/bindv6only`, but the JVM unconditionally sets `IPV6_V6ONLY` (via `setsockopt`

[2016-10-17 20:45] #20703 closed

[2016-10-17 21:08] jeff303 commented on #17118
@cbuescher , that sounds perfectly fine to me (for someone else to pick it up).  I initially grabbed it because of the label, but since I can't quite get it through the finish line, we should probably just leave it and update the assignee appropriately.

[2016-10-17 21:18] jordansissel opened #20980 "Remove references to alpha/beta/rcs for 5.0 GA"
Page: https://www.elastic.co/guide/en/elasticsearch/reference/5.0/es-release-notes.html

![2016-10-17-141451_655x380_scrot](https://cloud.githubusercontent.com/assets/131818/19455948/1ba58668-9474-11e6-868a-67a08a976acc.png)

(For GA specifically) -- I think this page should target users upgrading from 2.x to 5.0, so references to alpha/beta/rc should be removed.

[2016-10-17 21:28] talevy commented on #20943
@eskibars https://github.com/elastic/elasticsearch/pull/20981 should fix this. let me know what you think!

thanks for the report

[2016-10-17 22:38] talevy commented on #20840
@djschny apologies for the delay (I know I lied to you about how soon this would be done 😸)

let me know what you think!

[2016-10-17 23:10] djschny commented on #20840
Looks good from what I can tell. Thank you!

[2016-10-17 23:49] imotov opened #20983 "Migrate select examples of native scripts into native script engine"
In #19966 we outline our goal to deprecate and then remove native script engine. The first step towards this goal is to create a set of examples that demonstrates how to write effective script engines for different tasks similar to what we did in the [native script example project](https://github.com/imotov/elasticsearch-native-script-example).

[2016-10-18 03:07] lizhecao commented on #20854
how long will it take for a shard recovery, I have waited for a long time.

[2016-10-18 03:25] joshuar commented on #16997
Merged #20958

[2016-10-18 03:25] #16997 closed

[2016-10-18 04:04] inqueue opened #20984 "support date math in field stats API"
**Describe the feature**:
Add date math support to the field stats API. The ability to do something like this could be useful:

[code]

It could help with managing time series indices. Other uses?

[2016-10-18 05:04] kmalhotra opened #20985 "Ability to tag different segments of custom scoring queries and later retrieve with explanation."
**Tag query functional scoring segments to be used with _explanation**: It would be great if ES can provide an ability to tag certain aspects of functional score score and later retrieve and use with _explain api.

Let me provide some insights into my use case, let me know if a workaround exists the same.

I have a complex functional scoring query,used to find relevancy between two entities based

[2016-10-18 05:53] guenhter commented on #20961
I'm in discussion with the docker guys what the correct way is. I let you know ASAP.

[2016-10-18 06:41] anhzhi commented on #14656
i get a very ugly solution likes:
`   {
   "size": 0,
   "aggs": {
      "result": {
         "terms": {"script":"'a big trick'"},
         "aggs": {
            "Total计数": {
                "value_count": {
                    "field": "_index"
                }
            },
            "TCP": {
                "filter": {
                    "term": {
                        "_type": "mprobe_t

[2016-10-18 07:22] CharlesLdy commented on #20114
@theely @tlrx @clintongormley
I got the same problem with elasticsearch 2.3.5, my jdk version is 1.7. The different is that my groovy script executed with logstash's output.  I got the exception out of memory permgen space twice. And the permgen space and heap space always growing.
At first, my script is just something like if...else. After I read the issue, I create a method to get the script com

[2016-10-18 07:42] clintongormley commented on #19341
@javanna @jpountz is this still a problem in 5.0?

[2016-10-18 07:44] clintongormley commented on #18555
@pickypg is this still relevant?

[2016-10-18 07:45] jpountz commented on #19341
It's not indeed! Fixed by #20778.

[2016-10-18 07:45] #19341 closed

[2016-10-18 07:48] clintongormley commented on #18122
Closing as old

[2016-10-18 07:48] #18122 closed

[2016-10-18 07:49] clintongormley commented on #18120
@markharwood is this still a problem?

[2016-10-18 07:49] #18061 closed

[2016-10-18 07:50] clintongormley commented on #17658
@nknize is this still required?

[2016-10-18 07:50] clintongormley commented on #17558
This has been done in Painless.  Closing

[2016-10-18 07:50] #17558 closed

[2016-10-18 07:57] clintongormley commented on #17411
Should we fix this or leave it be?

[2016-10-18 07:59] clintongormley commented on #17366
Is this still an issue?

[2016-10-18 08:01] jpountz commented on #17411
I'd be willing to fix it. But the backward compatibility is not going to be easy.

[2016-10-18 08:10] clintongormley commented on #15608
Is this still an issue?

[2016-10-18 08:12] clintongormley commented on #15077
Superseded by #15613

[2016-10-18 08:12] #15077 closed

[2016-10-18 08:25] spinscale opened #20987 "LoggerMessageFormat class has ambigous method arguments"
The `LoggerMessageFormat` class has two `format` calls, one that accepts a prefix and the other one that doesnt.

In the rare special case of handing over only a single string as part of the message to be formatted, the method with the prefix gets called, even though the developer most likely intended to call the other class.

A code example

[code]

This might bite, when the developer throws a no