[2019-06-20 12:57] elasticmachine commented on #43423
Pinging @elastic/es-distributed

[2019-06-20 12:57] cbuescher commented on #43423
I think I already found the problem, working on extending the tests and a fix.

[2019-06-20 12:57] original-brownbear commented on #43392
I think the added logging of the stuck thread's state in #43424 should suffice to figure out if this is a result of the thread suspend call.

[2019-06-20 13:03] astefan opened #43425 "[CI] HistoryTemplateTransformMappingsTests testTransformFields fails with NPE"
Couldn't reproduce this. Happened once, not muting the test yet.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.1+release-tests/57/console

[code]

[2019-06-20 13:03] elasticmachine commented on #43425
Pinging @elastic/es-core-features

[2019-06-20 13:03] kobybr opened #43426 "[ILM] Allow option to disable readonly action on index"
While testing ILM, I have encountered instances where logstash persistent queue begins to get backlogged due to ""reason"=>"blocked by: [FORBIDDEN/8/index write (api)]" errors.   This is a result of an index being marked readonly when using the 'force merge' option during the 'warm' phase.   While this normally works fine, there are certain instances that cause this to be problematic.
i.e.
We have

[2019-06-20 13:07] jasontedor commented on #43413
This is because the JSON logs are truncated, from the node being killed by itself before the logs finished writing to disk. To wit:

[code]

@pgomulka Can you take a look at this? The test should be resilient to this, because the log line that we care about is there, and is guaranteed to be there, because we log it before the node kills itself, and that is done synchronously. If there is additiona

[2019-06-20 13:40] davidkyle commented on #39858
I unmuted this in #43268 expecting recent changes to have fixed the issue but the test failed in CI fairly quickly although with a different error.

https://scans.gradle.com/s/drxp7uehj4yhk/tests/lf2lfu4ufazso-4wtidedbn6cyi?openStackTraces=WzFd

[code]

[code]

[2019-06-20 13:55] astefan commented on #41721
A more recent failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8fips,nodes=immutable&&linux&&docker/31/console

[code]

[2019-06-20 14:08] davidkyle commented on #43271
A couple of recent failures:
https://scans.gradle.com/s/elkcdyg2v3smm
https://gradle.com/s/n3nomp3njwit6

In all cases the error occurs in the test following put-transform.asciidoc line 67.

Data Frames have a mechanism to audit notable events such as the creation of a data frame by indexing a document to `.data-frame-notifications-1`. PUT Data Frame Transform does this async after the data frame

[2019-06-20 14:30] droberts195 opened #43431 "[ML] Replace custom Instant serialization with writeInstant/readInstant"
ML has a few classes that have `Instant` data members.  We are currently wire serializing these using custom code that varies between classes.  Since 6.7 there have been standard methods for doing this serialization: `StreamOutput.writeInstant()`, `StreamOutput.writeOptionalInstant()`, `StreamInput.readInstant()` and `StreamInput.readOptionalInstant()`.  We should use those instead.

When the new

[2019-06-20 14:30] elasticmachine commented on #43431
Pinging @elastic/ml-core

[2019-06-20 14:46] DaveCTurner commented on #43387
Other instances:

https://scans.gradle.com/s/xvdtt4bhikeye
https://scans.gradle.com/s/uqz54z4tqv6pa

[2019-06-20 14:49] original-brownbear commented on #43387
https://github.com/elastic/elasticsearch/pull/43424 should help track this down quickly I hope :)

[2019-06-20 14:50] #42914 closed

[2019-06-20 14:54] elasticmachine commented on #43426
Pinging @elastic/es-core-features

[2019-06-20 14:56] elasticmachine commented on #43412
Pinging @elastic/es-search

[2019-06-20 14:57] elasticmachine commented on #43407
Pinging @elastic/es-core-infra

[2019-06-20 15:02] javanna commented on #43391
#43231 fixed this, but it needed to be back-ported to 6.7 too. It's fixed now.

[2019-06-20 15:02] #43391 closed

[2019-06-20 15:02] talevy commented on #43262
thank you for the ping @phillbaker, The team will review solutions to this when
they get the chance. I understand that many JSON parsers would fail, but this
behavior can be viewed as a feature (not a bug) for some. Due to this, if we
decide to change the behavior, then the change may have to wait for the next
major release.

[2019-06-20 15:12] davidkyle commented on #43271
Muted in master 2f9e8a8317dad5e87d0ca450cfa963a47f1e1695 and 7.x 12bc38d9e6a225a241e920240f4ff0b92fd52177

[2019-06-20 15:28] andrewvc opened #43438 "[ML] Make Updating Data Frame Transforms Easier"
Currently updating a dataframe transform is cumbersome. One must:

1. Check that it exists
2. Check to see if it is in a started state
    1. If it is started, it must be stopped
3. The existing dataframe transform must be deleted
4. A new one must be installed
5. The new one must be started.

It would be preferable to have all this happen behind the scenes and allow users to simply `PUT` their ne

[2019-06-20 15:28] elasticmachine commented on #43438
Pinging @elastic/ml-core

[2019-06-20 15:44] andrewvc opened #43439 "[ML] Make source checks more lax for dataframe transforms"
It would be nice to loosen up the checks around Data Frames, even if only optionally.

In beats we create the dataframe as part of process startup, but don't start indexing events till after that, creating a bit of a chicken and egg problem. The exact amount of time can vary due to the fact that events may not come in right away.

It would be useful to define the DataFrame first, before any indice

[2019-06-20 15:44] elasticmachine commented on #43439
Pinging @elastic/ml-core

[2019-06-20 15:51] davidkyle commented on #39858
The test creates a 5 node cluster then partitions one of those nodes. The 4 node side forms a new cluster and the single node is left trying and failing to form a cluster by itself. Later a call is made to `internalCluster().getMasterName()` which randomly select _any_ of the original 5 nodes. Sometimes that node is the partitioned node and the test fails. Pretty simple really.

I've no idea why t

[2019-06-20 16:00] jdconrad opened #43442 "Add Painless Utility Methods"
This issue is for tracking utility method requests for Painless.

getByPath -- https://github.com/elastic/elasticsearch/pull/43170

[2019-06-20 16:00] elasticmachine commented on #43442
Pinging @elastic/es-core-infra

[2019-06-20 16:03] gingerwizard commented on #43442
First one..
I commonly find myself checking types of fields - mainly as data is noisy and sometimes just gets sent as strings. Consider the following just to to check if a field is really an ip:

[code]

whilst im sure this could be improved (iterating over chars and using isDigit()) it remains cumbersome for what is a pretty common check.

Proposing field level methods which allow us to check if

[2019-06-20 16:05] gingerwizard commented on #43442
Hashing fields,
to get a simple sha256 has this was needed https://gist.github.com/gingerwizard/ed7e0ee8ab271c1dbb203532d4813d9a

A simple set of message digest utils would be great - especially since MessageDigest is not whitelisted.

[2019-06-20 16:14] gingerwizard commented on #43442
I commonly find myself needing to have parameters detailing fields for a script processor to operate on. Mainly for flexibility. A simple example, consider the following i use to shift data my a time period (i do this far too often):

[code]

This approach works well until fields are under objects. Currently there is no easy way to access nested fields if the field name is passed as a parameter e.

[2019-06-20 16:22] elasticmachine commented on #43375
Pinging @elastic/es-core-infra

[2019-06-20 16:25] jdconrad commented on #43442
A safe add/remove from a Map/List structure would be useful to follow up on the getByPath work.  This would take a String as a path and safely create or delete existing elements along the path as necessary.

[2019-06-20 16:27] henningandersen commented on #24457
New incident from 7.x, same symptom, but with the additional logging that @original-brownbear added:

[code]

https://scans.gradle.com/s/62jsofae5l5n4/tests/kyv2y2z3r4v7m-f6hbue3yhtsqi

[2019-06-20 16:33] jdconrad commented on #43442
Request for random methods: https://github.com/elastic/elasticsearch/issues/39080

[2019-06-20 16:40] henningandersen commented on #24457
Just realized that all 3 above build failures and the one in #43387 have run on debian 8. That runs kernel 3.16, which is subject to:

https://groups.google.com/forum/m/#!msg/mechanical-sympathy/QbmpZxp6C64/HRwMTvPXl1UJ

fixed in 3.18 but also in a number of point fixes. I am going to chase that direction a bit more.

[2019-06-20 17:07] carsonhynes commented on #43348
@dnhatn That issue is related to a non-indexed field. My issue specifically requests support for an indexed field. Are you sure this is a duplicate ticket?

[2019-06-20 17:54] benwtrent commented on #43271
Its weird that we have not ran into this with ML doc tests. I suppose we don't make any API calls in the doc tests that cause an audit message.

[2019-06-20 17:57] Gunnerva opened #43445 "GET _cat/templates Enhancement"
**Describe the feature**:
Enhance what GET _cat/templates can sort on

**Elasticsearch version** (`bin/elasticsearch --version`):
Elasticsearch 6.5.4
**Plugins installed**: []
n/a
**JVM version** (`java -version`):
n/a
**OS version** (`uname -a` if on a Unix-like system):
n/a
**Description of the problem including expected versus actual behavior**:
Requesting the ability to sort on more informatio

[2019-06-20 17:57] elasticmachine commented on #43445
Pinging @elastic/es-core-features

[2019-06-20 18:36] benwtrent commented on #43438
I do agree that we should have better facilities for updating data frame transforms. What fields are able to be updated is up for debate.

* Should we allow updating the `group_by` even though that changes the document ID generation?
* Should we allow the aggregations to be updated?
* Updating aggs or the `group_by` also implies that the mapping of the destination index is now wrong. Should we att

[2019-06-20 18:38] gwbrown commented on #39526
@shlok007 Please post questions like this to [the Discuss forums](https://discuss.elastic.co/c/elasticsearch) rather than asking on GitHub issues, and please don't ping individuals directly. If you post your question to the forums, someone will help you out when they can.

[2019-06-20 18:41] henningandersen commented on #43387
The two new and the original failure are all on debian 8, just like the similar failures in #24457.

[2019-06-20 18:42] benwtrent commented on #43194
For the sum specific issue: https://github.com/elastic/elasticsearch/pull/43213
Alerting when there are bulk index issues: https://github.com/elastic/elasticsearch/pull/43106
Handling `null` values better for aggs: https://github.com/elastic/elasticsearch/pull/42966

@sophiec20 and @davidkyle I think these three PRs address the concerns in this issue.

[2019-06-20 18:43] benwtrent commented on #43123
This hasn't re-occurred in the 8 days since #43136 was merged. Closing this issue

[2019-06-20 18:43] #43123 closed

[2019-06-20 18:45] original-brownbear commented on #43387
@atorok @mark-vieira do you know if anything changed about our Debian 8 environment lately that would explain this issue now coming up? (change in Kernel version or generally the environment coming back)

[2019-06-20 18:49] gwbrown commented on #43426
I would be hesitant to do this because it's not just writing to an index while the force merge is in progress that can have negative effects, writing to an index after it's been force merged can cause the same problems with very large segments that will never (or almost never) be considered for an automatic merge.

Is adjusting your ILM policy to extend the `min_age` of the `warm` phase a possibil

[2019-06-20 18:59] henningandersen commented on #43387
Debian 8 had a new 3.16.0-9 kernel on 2019-06-17. I think this matches when we first saw this?

[2019-06-20 19:02] original-brownbear commented on #43387
@henningandersen yea at least possibly, first observed case was on the 19th (yesterday) as far as I can see.

[2019-06-20 19:03] stevenmwade commented on #17344
There is no documentation on what are valid values for `refresh_interval`, even in 7.x.

[2019-06-20 19:03] original-brownbear commented on #43387
Maybe we should take Debian 8 out of rotation?

[2019-06-20 19:06] henningandersen commented on #43387
#24457 has failures from June 14th, so not too conclusive on that part.

[2019-06-20 19:08] original-brownbear commented on #43387
Still, the fact that it's Debian  8 only makes me not want to dig into the codebase too much here. With the rate of failures we're seeing that is hardly a coincidence IMO.

[2019-06-20 19:09] #42769 closed

[2019-06-20 19:38] e-orz commented on #31197
@Theoooooo you can check the `jvm.options` file.

[2019-06-20 19:38] andrewvc commented on #43438
I don't anticipate for our use case needing to update any fields other than perhaps `pivot.aggregations` and `pivot.description`.

That said, let's imagine a future where we wanted to update the `group_by` definition to add a field. We could do it seamlessly by simply adding a `version` field to the documents in the destination index, and only querying documents from the latest run (or, alternativ

[2019-06-20 19:39] andrewvc commented on #43439
FYI, our workaround is going to be to always create an empty index matching the pattern.

[2019-06-20 19:53] phillbaker commented on #43262
Thanks @talevy. I understand how this could be viewed as a feature and how it might be a considered a breaking change. What would you think about a PR to docs that documents this behavior?

As one alternative, what would the team think about adding a flag to the processor to exclude this behavior - perhaps named "strict" where the default is false? For example:
[code]

[2019-06-20 19:58] jimczi opened #43453 "Shard allocation awareness and search routing"
Today when shard allocation awareness is activated we try to route searches to nodes that have _any_ awareness attribute in common with the coordinating node. However the routing of these search can have a negative effect on the cluster for different reasons:

- Users can overload a single zone if they don't route the search requests to nodes with different attributes.

- Nodes are picked without

[2019-06-20 19:58] elasticmachine commented on #43453
Pinging @elastic/es-search

[2019-06-20 20:01] #43277 closed

[2019-06-20 20:11] rjernst commented on #43328
I've opened https://github.com/elastic/elasticsearch/pull/43454 to clarify in the docs a bit, to make it a little more clear what behavior to expect.

[2019-06-20 20:37] rjernst commented on #43375
JAVA_HOME should be set at the beginning of the service script, where we call elasticsearch-env.bat. In there, we look for JAVA_HOME, but fall back to setting it to the bundled jdk.

However, it looks like this intended behavior may not have worked before 7.2.0. Before that, we used to resolve JAVA_HOME at service start time, instead of install time (fixed in https://github.com/elastic/elasticsear

[2019-06-20 20:39] Tim-Brooks opened #43456 "Reindex requests do not implement x-content testing"
Currently the three primary reindex plugin requests do not implement our standard `AbstractXContentTestCase` testing infrastructure. This infrastructure would have detected issues like #43406.

The requests in need are:

- [ ] UpdateByQueryRequest
- [x] ReindexRequest
- [ ] DeleteByQueryRequest

[2019-06-20 20:39] elasticmachine commented on #43456
Pinging @elastic/es-distributed

[2019-06-20 20:45] dimatkach opened #43458 "Snapshot restore fails when there is a lot of indices"
We have a snapshot with 653 indices, and trying to restore it into an empty (5.6.16) cluster.
It fails after a while, complaining that it `failed to process cluster event (restore_snapshot[scheduled-1561047587-instance-0000000006]) within 30s`.

<img width="1439" alt="Screen Shot 2019-06-20 at 2 33 07 PM" src="https://user-images.githubusercontent.com/4604190/59880256-9bc23500-937a-11e9-9ce9-b3ad7

[2019-06-20 21:09] rjernst commented on #43375
Oops, 7.2.0 isn't quite released yet. Let's wait until that is done and then hopefully you can try it out to confirm it fixes your issue.

[2019-06-20 21:27] #43328 closed

[2019-06-20 21:50] c-dante opened #43460 "Composite terms aggregation fails on aliased indexes with dynamic templates"
**Using docker image**: `docker.elastic.co/elasticsearch/elasticsearch:7.1.1`

**Elasticsearch version** (`bin/elasticsearch --version`): 7.1.1

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system): `Linux amp 5.0.13-arch1-1-ARCH #1 SMP PREEMPT Sun May 5 18:05:41 UTC 2019 x86_64 GNU/Linux`

**Description of the problem including expect

[2019-06-20 22:38] dakrone opened #43462 "GetSnapshotsResponse should re-wrap failed exceptions so callsites are visible in the stacktrace"
From the following code:

https://github.com/elastic/elasticsearch/blob/f879e84e5a536c921f463465557297f994c54e3e/server/src/main/java/org/elasticsearch/action/admin/cluster/snapshots/get/GetSnapshotsResponse.java#L156-L166

It's possible for snapshot exceptions to be generated on a different line than where they are actually thrown, for example, code that prior to https://github.com/elastic/elasti

[2019-06-20 22:38] elasticmachine commented on #43462
Pinging @elastic/es-distributed

[2019-06-20 22:51] rjernst commented on #43290
`filter_path` is used to filter the json response. It works in your first example because the setting keys become part of the json structure. To filter on setting names for the settings request specifically, use `settings_filter`.

[2019-06-20 23:05] rjernst commented on #43275
While this is definitely fixable, I think we might be past the point of reversing a breaking, and introducing a breaking change in and of itself. I'll mark this for discussion.

[2019-06-20 23:17] mark-vieira commented on #43387
Not that I'm aware of. Perhaps on the infra side but certainly not in the Elasticsearch-specific CI images.

[2019-06-20 23:41] rjernst commented on #42735
Closing as a duplicate of https://github.com/elastic/elasticsearch/issues/25179

[2019-06-20 23:41] #42735 closed

[2019-06-20 23:57] rjernst commented on #42421
@mark-vieira Can you take a look at this? It seems like we shouldn't be caring about `compiler.java` anymore, maybe we can remove it?

[2019-06-21 00:00] mark-vieira commented on #42421
We probably don't, but the build only enforces a _minimum_ version so you could use a newer one. What I'm wondering is how it was ever reported to be 11 if in fact we require 12?

[2019-06-21 00:13] rjernst commented on #42421
Perhaps CI passed it in as JAVA_HOME?

[2019-06-21 04:37] astefan opened #43464 "[CI] MultiSearchRequestTests.testEmptyFirstLineX failures"
These two reproduce for me.

`gradlew :server:test --tests "org.elasticsearch.action.search.MultiSearchRequestTests.testEmptyFirstLine2" -Dtests.seed=D340C78210D0FC2D -Dtests.security.manager=true -Dtests.locale=sv -Dtests.timezone=America/Grand_Turk -Dcompiler.java=12 -Druntime.java=8`

`gradlew :server:test --tests "org.elasticsearch.action.search.MultiSearchRequestTests.testEmptyFirstLine1" -Dt

[2019-06-21 04:37] elasticmachine commented on #43464
Pinging @elastic/es-search

[2019-06-21 05:08] astefan commented on #43464
Also, this seems to be a Windows thing...

[2019-06-21 05:47] elasticmachine commented on #43458
Pinging @elastic/es-distributed

[2019-06-21 06:57] original-brownbear commented on #43458
@dimatkach sorry I found an easy solution for this after all. I failed to see it last night, but you can just increase that 30s timeout on the request since it's a `MasterNodeRequest` by adding the param `?master_timeout=` with some appropriately high value. Closing here, my bad.

[2019-06-21 06:57] #43458 closed

[2019-06-21 07:02] #28910 closed

[2019-06-21 07:45] jimczi commented on #43460
Thanks for reporting @c-dante , this issue is already fixed by https://github.com/elastic/elasticsearch/pull/41280 that assumes that any unmapped field is of type keyword (and not numeric as it is today).

[2019-06-21 07:45] #43460 closed

[2019-06-21 08:02] yagizgulen opened #43470 "Elasticsearch node Crashing"
Hi,
We receive these errors in a node in our cluster, and the node gives these errors hype cpu and load to the maximum level of elasticsearch can not respond. node resources 2 CPU 8 RAM

Elasticsearch version : 6.5.4

Errors :
1)
Found index level settings on node level configuration.

Since elasticsearch 5.x index level settings can NOT be set on the nodes
configuration like the elasticsearch.yam

[2019-06-21 08:36] henningandersen commented on #24457
The futex wait should be fixed long ago in that kernel:

https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?h=linux-3.16.y&id=b89814999ab2a2120be803c1468fc54ad965df1f

Tried to reproduce the accept hang issue in a minimalistic program doing connects and disconnects, but were not able to provoke it.

[2019-06-21 08:42] martijnvg opened #43472 "Migrate HLRC request & response tests to use new base classes."
Migrate HLRC request and response tests from extending `AbstractHlrcStreamableXContentTestCase` / `AbstractHlrcXContentTestCase` / `AbstractHlrcWriteableXContentTestCase` to `AbstractResponseTestCase` or `AbstractRequestTestCase`.

The motivation of this migration is that `AbstractResponseTestCase` and `AbstractRequestTestCase` based tests, test xcontent serialization more realistically from a HLR

[2019-06-21 08:42] elasticmachine commented on #43472
Pinging @elastic/es-core-features

[2019-06-21 08:44] centic9 commented on #43275
Seems not many people are using it in the first place if it went unnoticed for such a long time.

We are running a number of clusters and are upgrading gradually across them, so having to distinguish between v6 and v7 for this would be fairly painful on the client side.

[2019-06-21 08:51] andrershov opened #43473 "[CI] testAddressInterfaceLookup fails"
Got testAddressInterfaceLookup failure here https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-1/814/testReport/junit/org.elasticsearch.common.network/NetworkUtilsTests/testAddressInterfaceLookup/.
Thanks to @original-brownbear PR #42109, we now know the name of the failing interface - veth141ef02.
[code]

[2019-06-21 08:51] elasticmachine commented on #43473
Pinging @elastic/es-core-infra

[2019-06-21 09:07] original-brownbear commented on #43473
This failure is from June 17th, this test was fixed in https://github.com/elastic/elasticsearch/pull/43378 two days later -> closing :)

[2019-06-21 09:07] #43473 closed

[2019-06-21 09:08] ywelsch commented on #43462
@dakrone Thanks for your analysis. Would you like to contribute a PR?

[2019-06-21 09:14] original-brownbear commented on #24457
@henningandersen same here, I ran a bunch of rounds of the failing test task over night (whole Gradle run) on Debian 8 without any hanging. Might not be the futex issue, but certainly is something else system specific.

[2019-06-21 09:14] #39858 closed

[2019-06-21 09:17] Theoooooo commented on #31197
@e-orz
![image](https://user-images.githubusercontent.com/33425208/59912368-33c12c80-9416-11e9-8ca6-2b668df82b58.png)

[2019-06-21 10:16] cbuescher commented on #43261
This happened again on 7.x (Jun 14, https://scans.gradle.com/s/lceobfjdjnwfy/tests/kyv2y2z3r4v7m-sbwnmbkfcgtx4) and master (Jun 19, https://scans.gradle.com/s/zzr4cgqseffes/tests/kyv2y2z3r4v7m-sbwnmbkfcgtx4). Unfortunately I cannot reproduce the failure with either of the reproduce lines or the seeds in both of those cases. Digging through the logs now if anything sticks out that might indicate ho

[2019-06-21 10:21] davidkyle commented on #43439
The check for the source index existence has to be repeated on Data Frame start not just at creation in case the index has disappeared between `PUT` and `_start`, so I do think there is room to relax the check on PUT. However, we do strongly prefer to validate early rather than let the user take multiple steps before returning an error which may have been due to a simple typo in step 1. This appli

[2019-06-21 11:25] pcsanwald commented on #39497
@polyfractal I've just been in this code, I'll have a look at this one

[2019-06-21 11:43] sophiec20 commented on #43194
@benwtrent yes, those 3 PRs do address many of the concerns around silently failing..

Before we close this I have one more question, under what conditions does stats `index_failures` get incremented?

[2019-06-21 11:47] #43037 closed

[2019-06-21 12:03] astefan commented on #43470
@yagizgulen This appears to be a question that could be handled by the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/) that should be able to help get an answer to your question. As such, I hope yo

[2019-06-21 12:03] #43470 closed

[2019-06-21 12:09] benwtrent commented on #43194
`index_failures` gets incremented if there is an exception thrown during the bulk indexing process. I am not 100% sure why this type of behavior is the way it is, but the Rollups folks may have better input as to why we don't count a bulk indexing failure as an `index_failure` (it seems to me like we should).

[2019-06-21 12:21] benwtrent commented on #43194
@polyfractal @jimczi what do y'all think? Should BulkIndex failures increment the `index_failure` statistic for the `AsyncTwoPhaseIndexer`? It seems to me like they should. Otherwise there is no obvious indication that such a failure happened.

[2019-06-21 12:29] #43423 closed

[2019-06-21 12:43] jimczi commented on #43194
I am not sure because it currently contains the number of times that the job failed due to a failure in bulk indexing. If the entire bulk request fails we stop the job and increment the counter whereas if only individual documents failed we ignore and continue the processing. So maybe we should treat all indexing errors as fatal and stop the job ? Most of these errors should be transient so resumi

[2019-06-21 12:58] astefan commented on #43327
@35penguins thank you for reporting this.
It's now fixed in:
master (8.0.0): https://github.com/elastic/elasticsearch/commit/0ef7bb0f8b07cd0392d37f96ca9360821b19315a
7.x (7.3.0): https://github.com/elastic/elasticsearch/commit/fe0f9055d8de4626b2eb83ece4b63cdcadfdad75
7.2 (7.2.1): https://github.com/elastic/elasticsearch/commit/023441990607ccb59edd750e4d7e08ead6a75f32
7.1 (7.1.2): https://github.co

[2019-06-21 13:23] sophiec20 commented on #43194
It depends, yes and no, depending on the use case. Being able to quantify how many documents are lost in bulk allows the user to somewhat quantify this impact and they can make a choice. I don't recall being able to easily tell how many documents were lost in `_bulk` .. can we tell?

[2019-06-21 13:29] kobybr commented on #43426
Trying predict a safe `min_age` of the `warm` phase would be difficult to the point of just not wanting to use the forcemerge option.  How can you predict when a filebeat or winlogbeat service is restarted after it failed or was stopped, especially when you are ingesting logs from 1000+ servers/devices.   The force merge api doesn't set an index to readonly.  The ILM process should adhere to the s

[2019-06-21 13:48] drlferreira commented on #5359
@rbraley has this been introduced?

[2019-06-21 13:50] jimczi commented on #43194
Yes that's what we ignore here. The bulk response contains the list of success and failures so we can increment the counter of missing documents easily. My point here is that we don't have a way to tell a job to retry from a specific point so if you have missing documents and you're not ok with it the only solution currently is to remove the job and start again.

[2019-06-21 13:52] polyfractal commented on #43194
There's not a specific counter, no.  The bulk response has a high-level property that tells you if there are failures.  But if you want the total count and how they failed, you have to iterate over the response and count/collect the individual failures.

Yeah I'd be fine with failing the current indexer run if there are bulk failures, which will force the indexer to backtrack and re-run on the nex

[2019-06-21 13:52] c-dante commented on #43460
Cool -- saw in that thread that it should have made it into `7.1.x` and the timing lined up commit wise, but I see the `7.2.0` tag now.

[2019-06-21 14:06] polyfractal commented on #43287
Had a look at this, it appears to be another case of https://github.com/elastic/elasticsearch/issues/43271.  The failing shard is from the `.data-frame-notifications-1` index, so it's failing due to an index that leaked over from a dataframe test.

[code]

Closing, and will add some info to #43271.

[2019-06-21 14:06] #43287 closed

[2019-06-21 14:07] polyfractal commented on #43271
Just as another data point, this failed in a few days ago in #43287 on a geo sort documentation test.

[code]

[2019-06-21 14:13] original-brownbear commented on #43387
@henningandersen the stuck threads are `RUNNABLE` (just in case you haven't seen that one yet :)):

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+multijob-unix-compatibility/os=debian-8/67/consoleText

[2019-06-21 14:38] atorok commented on #43387
We can remove the `stable` label from Debian  so we at least don't use it for PR and intake builds to reduce the noise.
If our tests are the reflection of what we support, does that mean that we should amend it on the support matrix too ?  Removing it from rotation temporarily is fine, but we should have a better understanding of if/how this would affect production use-cases and if there's some ke

[2019-06-21 14:44] benwtrent commented on #43194
Awesome, I (or somebody else) will write up a PR so that we raise when there is a bulk index failure. This will simplify other aspects.

I will in parallel look into the `inspection helpers`. I was unsure how to get to the `InternalAggregation` class from the `Aggregation` value in the search response. Will dig around to see what I find.

I do not think `AsyncTwoPhaseIndexer` should auto-retry. I

[2019-06-21 14:46] original-brownbear commented on #43387
@atorok it seems we have this issue pre and post that kernel upgrade, unfortunately.

The production code shouldn't be affected since we run a different networking implementation in tests (prod. uses Netty, tests our own NIO implementation). This is assuming there isn't an issue here that in principle breaks `accept0`. So far I have literally not found a single report of `accept0` hanging in Netty

[2019-06-21 14:48] cbuescher opened #43486 "[CI] BulkWithUpdatesIT.testBulkIndexingWhileInitializing fails with pending operations"
This happened on master intake here: https://scans.gradle.com/s/cal3wv4vewwde/tests/kyv2y2z3r4v7m-lva7iouwne7gc

Local reproduction doesn't work:
[code]

[code]

[2019-06-21 14:48] elasticmachine commented on #43486
Pinging @elastic/es-distributed

[2019-06-21 14:48] cbuescher commented on #43486
@ywelsch assigned to you as requested

[2019-06-21 14:51] javanna commented on #14102
heya @stevenmwade I believe you get that error in case you have not specified any index, while this issue is a about some behaviour when specifying indices.

[2019-06-21 14:58] stevenmwade commented on #14102
@javanna Fou are correct. It looks like it ended up being a concurrency issue where we had something close them as we were checking them and it ended grabbing an empty list of indices. Our fault! Thanks for the reply!

[2019-06-21 15:47] ywelsch commented on #43486
The problem here is that at the end of a peer recovery the primary wants to mark the replica as in-sync. For that the persisted local checkpoint of the replica needs to have caught up with the global checkpoint on the primary. I think what's going on here is that translog durability is set to ASYNC, so this means that information about the persisted local checkpoint can lag on the primary and migh

[2019-06-21 16:27] original-brownbear commented on #43369
I'm closing this for now, please reopen and provide additional details if this continues to be an issue for yuo. It seems highly improbably that Elasticsearch is at fault here with the information provided so far, likely the issue here is simply the separation between CN and non-CN regions AWS.

[2019-06-21 16:27] #43369 closed

[2019-06-21 16:32] mark-vieira commented on #42421
Ah, I think the repro line predates us bumping the required compiler version to Java 12. I'm not sure there's a whole lot we can do for "historical" repro lines in cases like this. Paul ran into a similar situation today where he attempted to run a repro line that used the `:unitTest` task which has since been renamed.

[2019-06-21 16:33] #43324 closed

[2019-06-21 16:58] mark-vieira commented on #43387
Here's another instance of this happening today.

https://scans.gradle.com/s/fdfntjfsxnwb4/

[2019-06-21 17:11] mark-vieira commented on #41721
@atorok Did you get a chance to look at this again?

[2019-06-21 17:51] original-brownbear commented on #13159
Leaving this open, since there's still a little work left here in cleaning up unreferenced top level blobs. I'll raise an issue for that shortly.

[2019-06-21 18:01] prudhvi opened #43495 "Bug in ES 2.4.6 documentation and also in Breaking changes doc for `transport.tcp.compress`"
**2.4.6** (`bin/elasticsearch --version`):

**Description of the problem including expected versus actual behavior**:
Hi Team we recently upgraded our cluster from 2.4.6 to 6.6.1 and noticed a huge spike in network bandwidth on the indexing nodes . We also saw lot of frequent GC pauses on the indexing process . Turns out it's all due to disabling tcp compression which was by default `true` in 2.4.

[2019-06-21 18:18] elasticmachine commented on #43495
Pinging @elastic/es-distributed

[2019-06-21 18:18] elasticmachine commented on #43495
Pinging @elastic/es-docs

[2019-06-21 18:23] astefan opened #43496 ""gradle eclipse" fails on 7.x due to :x-pack:plugin:vectors project"
This is only valid for 7.x and the `gradlew eclipse` command (or `gradlew cleanEclipse eclipse`) fail with the following output:

[code]

Removing [these lines](https://github.com/elastic/elasticsearch/blob/7.x/x-pack/plugin/vectors/build.gradle#L17-L19) makes the command succeed.

[2019-06-21 18:23] elasticmachine commented on #43496
Pinging @elastic/es-search

[2019-06-21 18:23] elasticmachine commented on #43496
Pinging @elastic/es-core-infra

[2019-06-21 18:24] astefan commented on #43496
CC @mayya-sharipova

[2019-06-21 18:25] phillipross opened #43497 "NPE when using bool query with min_score"
**Elasticsearch version** 7.0.0 - 7.2.2

**Plugins installed**: defaults

**JVM version**
[code]

**OS version**
[code]

**Description of the problem including expected versus actual behavior**:

Experiencing NPEs in elasticsearch with bool queries using min_score
More context in the discussion forums:
https://discuss.elastic.co/t/null-pointer-exception-when-use-bool-query/186831

[code]

[2019-06-21 18:38] elasticmachine commented on #43497
Pinging @elastic/es-search

[2019-06-21 19:03] mark-vieira opened #43498 "SharedClusterSnapshotRestoreIT.testDataFileFailureDuringSnapshot reproducibly fails"
`org.elasticsearch.snapshots.SharedClusterSnapshotRestoreIT.testDataFileFailureDuringSnapshot` has started failing consistently failing in `master`. This also reproduces locally. Here are a couple of examples:

https://scans.gradle.com/s/ls7gwwsudnwqo/tests/kyv2y2z3r4v7m-qcoutz5pezhvo
https://scans.gradle.com/s/rj2gdem5wxwha/tests/kyv2y2z3r4v7m-qcoutz5pezhvo

[2019-06-21 19:03] elasticmachine commented on #43498
Pinging @elastic/es-distributed

[2019-06-21 19:03] mark-vieira commented on #43498
Test has been muted in `master`.

[2019-06-21 20:13] mark-vieira opened #43501 "DocsClientYamlTestSuiteIT.test {yaml=reference\cluster/stats/line_10} failing on Windows"
This test checks for the `using_bundled_jdk` field which is not available on Windows.

https://scans.gradle.com/s/obq3ujfdlcl4o/tests/jbm2x6tnwtxku-i7d2m4u2kx2m4

[2019-06-21 20:13] elasticmachine commented on #43501
Pinging @elastic/es-core-infra

[2019-06-21 20:42] mark-vieira commented on #43501
This should be addressed by #43502.

[2019-06-21 21:11] gwbrown opened #43504 "LicensingDocumentationIT.testGetLicense fails reproducibly"
Failure occurred in a test run for https://github.com/elastic/elasticsearch/pull/43300, which doesn't touch anything related to licensing. Looking at build stats, it looks like this has been failing quite a bit over the past few days, it first appeared on June 18 and started happening much more frequently June 20.

[Build scan](https://scans.gradle.com/s/vsd623zv3skcu/tests/43nmsh6ur4gh6-2siz2je76

[2019-06-21 21:11] elasticmachine commented on #43504
Pinging @elastic/es-security

[2019-06-21 21:39] mark-vieira opened #43508 "Task :x-pack:qa:kerberos-tests:integTestCluster#wait fails on certain Linux builds"
This task seems to be failing consistently on certain Linux distros on the `7.2` branch.

https://scans.gradle.com/s/rmd4c3pjg3zky

Looking at the node logs it's blowing up with the following error:

[code]

[2019-06-21 21:39] elasticmachine commented on #43508
Pinging @elastic/es-core-infra

[2019-06-21 21:40] mark-vieira commented on #43508
@atorok Thoughts on why this would be happening only on certain distributions?

[2019-06-21 23:19] zestysoft opened #43510 "%{JAVAMETHOD} grok pattern sometimes doesn't match in pipeline -- The pattern works fine elsewhere."
**Elasticsearch version** (`bin/elasticsearch --version`): 6.7.2

**Plugins installed**: []

**JVM version** (`java -version`): OpenJDK Runtime Environment (build 1.8.0_191-8u191-b12-2ubuntu0.18.04.1-b12)

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 18.04.2 LTS 4.15.0-1037-aws

**Description of the problem including expected versus actual behavior**: pipeline is failing to correct

[2019-06-21 23:31] elasticmachine commented on #43510
Pinging @elastic/es-core-features

[2019-06-21 23:32] #41879 closed

[2019-06-22 05:02] loren commented on #40227
One possible workaround for the `query_string` queries I have is to use a `highlight_query` like this:
[code]

The `match` doesn't care about phrases and will just find and highlight individual words.

[2019-06-22 05:56] tvernum commented on #43504
@atorok is this related to the move to `testclusters`?

[2019-06-22 06:53] davin4u commented on #43497
The same error, here is my configuration and index settings:

ES version which i use: 7.1.0

docker-compose.yml:

[code]

Index settings:

[code]

Mapping settings:

[code]

Data from Elasticsearch log:

[code]

So, from the top line i noticed that error appears in the file ReqOptSumScorer.java:299

and on the 299 line i see next:
`maxScorePropagator.setMinCompetitiveScore(minScore);`

variable is

[2019-06-22 07:10] spinscale opened #43514 "Update API: Setting ctx.op to random string results in noop"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.1.1

**Description of the problem including expected versus actual behavior**:

When using a script in the Update API, setting `ctx.op` to any string will result in a noop. IMO this should throw an exception, if it's anything else than the suggested ones.

This leniency is actually documented with a [TODO](https://github.com/elastic/elas

[2019-06-22 20:05] amogh-jrules commented on #8825
Is this issue still available?

[2019-06-22 20:13] amogh-jrules commented on #43462
I am willing to take this up

[2019-06-23 07:03] pencilcheck commented on #9307
So if the index already built, what would be the solution to this problem? Scripting somehow doesn't work.

[2019-06-23 12:47] sronsiek opened #43517 "Nested search failing with _source disabled"
**Elasticsearch version** (`bin/elasticsearch --version`):

OpenJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.
Version: 7.0.1, Build: default/docker/e4efcb5/2019-04-29T12:56:03.145736Z, JVM: 12.0.1

**Plugins installed**: []

bin/elasticsearch-plugin install --batch ingest-attachment

**JVM version** (`java -ver

[2019-06-23 15:29] minglinlu commented on #30153
How to get a signing key?

[2019-06-23 15:32] elasticmachine commented on #43514
Pinging @elastic/es-distributed

[2019-06-23 17:39] bbfsdev commented on #43308
Hello @jimczi I read your comment and the Lucene issue. I cannot say that I fully understand combinatorial explosion and span queries but there are few things in that case that work as I would not expect:

1. The explain of the query shows that the high score (several orders higher than expected) is a result of sum of matches of multi-phrase query and the document. **But the words that are shown i

[2019-06-23 20:37] albertzaharovits commented on #43290
_Reopening since I'm not sure you get notifications on a closed issue._

Hi @rjernst , _settings_filter_ filters **out** the set of settings rendered, whereas `filter_path` specifies the pattern to render, ignoring everything else.

The use case I am having is a way to get (for a backup) the settings from the cluster state as a "nice" JSON. In this use case it is important for the JSON to be prett

[2019-06-23 20:40] elasticmachine commented on #43517
Pinging @elastic/es-search

[2019-06-23 20:44] bra-fsn opened #43518 "Smarter shard allocation"
Currently Elasticsearch doesn't take memory and CPU needs into account when it decides whether to rebalance shards and where to move them.
Because of this, we turned automatic rebalancing off and do this by hand, which is painful and causes a lot of stress on the system (for example when one node falls out of the cluster, because Elasticsearch will put the shards onto different nodes than we want

[2019-06-23 21:32] elasticmachine commented on #43518
Pinging @elastic/es-distributed

[2019-06-23 21:42] DaveCTurner commented on #43518
I think this is a more comprehensive description of the plan outlined in https://github.com/elastic/elasticsearch/issues/17213#issuecomment-383974707, particularly the idea of multidimensional costs. I remain unconvinced about the value of _balancing_ on these attributes, given the risk of excessive shard movement.

[2019-06-24 00:10] matthuhiggins commented on #34298
I was using the word delimiter filter in conjunction with filters, and I am unsure how to upgrade to 7.x with this change:

[code]
I need the word delimiter filter to run _before_ the lowercase filter, so that "AcmeTech" is filtered to `["Acme", "Tech"]`. I need the lowercase filter to run before the synonym filter so that "Corp" is tokenized to `["corporation"]`.

"AcmeTech Corp" is an example of

[2019-06-24 01:53] guozhongtao opened #43520 "How to improve query performance by taking only one field"
P 级别的数据，多个索引查询，但是只需要取一个字段如何提高查询性能?目前尝试过store_field,_id,doc_value等方式，效果都不理想。
P 级别的数据，多个索引查询，但是只需要取一个字段如何提高查询性能?目前尝试过store_field,_id,doc_value等方式，效果都不理想。
P-level data, multiple index queries, but how to improve query performance by only taking one field? At present, store_field, _id, doc_value and other methods have been tried, and the results are not satisfactory.

[2019-06-24 03:31] ccfang opened #43521 "Java High Level REST Client Snapshot Create RepositoryAPI set verify false not work"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.8.0

**Description of the problem including expected versus actual behavior**:

Follow the [guide](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/6.8/java-rest-high-snapshot-create-repository.html) and finally set verify false like below

[code]

It didn't work and still throw exception（failed to create blob container）

*

[2019-06-24 03:50] elasticmachine commented on #43521
Pinging @elastic/es-core-features

[2019-06-24 03:51] original-brownbear commented on #43521
Thanks for raising this @ccfang. This is indeed a bug as far as I can see, the default for verify is `true` and the code as you point out incorrectly overrides the `false` case.

[2019-06-24 04:44] TomonoriSoejima opened #43524 "[doc]add more watcher example"
Back in 2.x, there were 4 watcher examples.
![image](https://user-images.githubusercontent.com/25199092/59992237-c1568380-9685-11e9-8b76-6ad1e13a4bf7.png)

https://www.elastic.co/guide/en/watcher/current/watching-marvel-data.html#watching-memory-usage

But there is only 2.

![image](https://user-images.githubusercontent.com/25199092/59992252-d9c69e00-9685-11e9-8211-e9b0b52f3f1e.png)

https://www.e

[2019-06-24 04:44] elasticmachine commented on #43524
Pinging @elastic/es-docs

[2019-06-24 06:24] rjernst commented on #43290
`filter_path` and `settings_filter` serve different purposes. Since `filter_path` operates solely on the json response; I don't think it should have any interaction with `flat_settings`.

It sounds like you want a way to either negate the settings filter, or have another setting that means "only these settings". However, restructuring json is something that can be done client side, so I'm not sure

[2019-06-24 06:46] iverase commented on #43520
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2019-06-24 06:46] #43520 closed

[2019-06-24 06:49] bra-fsn commented on #43518
Well, in a perfect world (where elastic nodes are forever running) not balancing on these probably means a worse result.
On shard assign time (again: in a perfect world) the new shard would be empty, hence there is no information about its usage (patterns).
All you could do to watch for the existing ones, but that will give different results.
Luckily, enabling and disabling rebalance is quite an e

[2019-06-24 07:00] harshbajaj16 commented on #36632
Hi @DaveCTurner ,

Thank you.

Could you please review the new pull request opened for this issue "document update" #42834 ?

Regards,
Harsh Bajaj

[2019-06-24 08:05] romseygeek commented on #34298
You can use the multiplexer filter to build two parallel filter chains:
[code]

[2019-06-24 08:22] albertzaharovits commented on #43290
I agree that restructuring json should be left onto the client side, but I raised it because we already do a lot of filtering/restructuring . Negating wildcards sounds like a poor man's regex so I suppose discussions have been rejecting this before.

Agreed, will close this issue.

[2019-06-24 08:22] #43290 closed

[2019-06-24 08:50] droberts195 commented on #29943
Following the work of #43175 this is now relatively straightforward.

The only remaining question is what the single letter abbreviation for "machine learning node" should be.  It cannot be "m", because that is already taken by "master" nodes.

[2019-06-24 08:56] astefan commented on #40162
One more thing I'd like to mention, not to lose track of it: the `HISTOGRAM` using a `1 YEAR` interval it's creating a `date_histogram` with `31104000000ms` (from `SELECT HISTOGRAM(date, INTERVAL 1 YEAR) AS h, COUNT(*) AS c FROM test GROUP BY h`) while a `GROUP BY YEAR(date)` is creating a `date_histogram` with `31536000000ms`. The former is computed as 12 months having 30 days and then coming up

[2019-06-24 09:24] pheyos commented on #29943
I would suggest to use `a` for `analytics` or `advanced analytics` (it would also match `anomaly detection`, but since we're adding more analytics this seems outdated to me).

[2019-06-24 09:34] atorok commented on #43508
I ran into this recently while doing some testing. I would guess that the distributions  are non ephemeral workers and this  has to do with up-to date checks (probably miss-configured task inputs/outputs ), as in it won't happen on an ephemeral worker, but it will happen after a successful run and a clean.  I didn't get any farther than this.

[2019-06-24 09:51] PaulZhouZz commented on #25067
i resolve this problem by removing directory under `/var/lib/elasticsearch/nodes/`

[2019-06-24 10:02] ywelsch commented on #43392
Failure tracked in #43387

[2019-06-24 10:02] #43392 closed

[2019-06-24 10:13] mcouthon opened #43529 "Bug in ES SQL - LIMIT applied before ORDER BY"
I'm running ES in the official docker container: `docker.elastic.co/elasticsearch/elasticsearch:7.1.1`

**Description of the problem including expected versus actual behavior**:

Running an SQL query with both `ORDER BY` and `LIMIT` seems to apply `LIMIT` before `ORDER BY`. The expected behavior would be to do it in the opposite order.

**Steps to reproduce**:

I'm using the Shakespeare DB.

These

[2019-06-24 10:30] ywelsch commented on #43034
I've pushed 19520d4640e with additional logging to figure out what's going on here.

[2019-06-24 10:46] matriv commented on #43529
@mcouthon Thank you for the bug report and your detailed description.
This bug had already been discovered, tracked by #42851 and has been fixed.
The fix will be available with the next releases as marked by the labels on the #43154.

Therefore, I'm closing this.

[2019-06-24 10:46] #43529 closed

[2019-06-24 10:52] mcouthon commented on #43529
Great, thanks. I didn't connect the name of the issue to the problem.

[2019-06-24 12:17] atorok commented on #43417
This no longer seems to be the case, windows jobs in CI correctly call `check` and don't require docker.

[2019-06-24 12:29] astefan opened #43531 "SQL: consistent and content dependent naming for aggregations"
At the moment ES SQL generates unique IDs for aggregation names in the form of a long numeric value, making sure the same value is not assigned to more than one element in the execution tree.

In the context of Elasticsearch caching, though, a query is cached by its json key which means that the same logical query will generate a different JSON because the aggregation names will be different. This

[2019-06-24 12:29] elasticmachine commented on #43531
Pinging @elastic/es-search

[2019-06-24 12:34] #40243 closed

[2019-06-24 12:44] original-brownbear commented on #40911
@lgwapnitsky did you check that you don't have `cloud.azure.storage.` (for your key and account) settings for these nodes in the keystore maybe?

[2019-06-24 12:50] ywelsch commented on #39578
AFAICS, there have been no recent failures of this anymore.
@dnhatn revert your commit and close issue?

[2019-06-24 13:27] mayya-sharipova commented on #43496
@astefan Thanks Andrei for reporting this! I have pushed the [commit](https://github.com/elastic/elasticsearch/commit/813551e070fc1455d8db555f33cb128e3e70d65a) to 7.x to fix this.

[2019-06-24 13:31] #43496 closed

[2019-06-24 14:28] droberts195 commented on #42341
The comment above the line that throws the error suggests that it was not intended to be seen: https://github.com/elastic/elasticsearch/blob/f3c5dfddf522d7ce6dbf3704a648bd775b3dd50f/x-pack/plugin/ml/src/main/java/org/elasticsearch/xpack/ml/MachineLearning.java#L453-L454

But since that comment was written (for 5.4) other refactoring has obviously changed the point at which the problem of not being

[2019-06-24 15:36] pnmougel opened #43541 "Null pointer exception in /_scripts/painless/_execute endpoint using score context if no document match"
**Elasticsearch version**

7.0.1

**Plugins installed**: []

**JVM version**

9

**OS version**

Linux 4.18.0-22

**Description of the problem including expected versus actual behavior**:

The endpoint `/_scripts/painless/_execute` throws a null pointer exception when the context parameter is set to `score` and the document in the context does not match the query.

**Steps to reproduce**:

Set up

[2019-06-24 15:52] #42051 closed

[2019-06-24 15:59] pgomulka commented on #43413
I think this is equally likely to fail on 8 too. I will create a PR for all these branches (8, 7x, 7.1)

[2019-06-24 16:05] jimczi commented on #43338
We discussed this internally and agreed that the behavior should be consistent with the normalization that is applied on `term` queries that target a `keyword` field. However we're unsure if the change should be treated as a bug or a breaking change since users might rely on the non-normalized value to define the missing value. While we agree that this behavior is not consistent and that we should

[2019-06-24 16:07] elasticmachine commented on #43541
Pinging @elastic/es-core-infra

[2019-06-24 16:19] elasticmachine commented on #43524
Pinging @elastic/es-core-features

[2019-06-24 16:35] #43486 closed

[2019-06-24 16:36] gwbrown commented on #30699
This failed again: https://scans.gradle.com/s/wc2lqwkyuk2co

[2019-06-24 17:33] elasticmachine commented on #43529
Pinging @elastic/es-search

[2019-06-24 18:34] jen-huang opened #43547 "`GET /_snapshot/_all/_all` times out when there are no repositories"
Relates to changes in #42090

When there are no repositories, a request to `GET /_snapshot/_all/_all` returns a 504 timeout error.

I would expect this request to return `[]` (an empty array).

[2019-06-24 18:34] elasticmachine commented on #43547
Pinging @elastic/es-distributed

[2019-06-24 18:46] original-brownbear commented on #43547
@andrershov I think we just need to short-circuit the listener in `org.elasticsearch.action.admin.cluster.snapshots.get.TransportGetSnapshotsAction#getMultipleReposSnapshotInfo`, instantiating a group action listener with count `0` seems to be killing us here.

[2019-06-24 18:59] matthuhiggins commented on #34298
`multiplexer` is brilliant. However, I am running into an "offsets must not go backwards" error when using it with 6.8. I put exact repro steps into this gist: https://gist.github.com/matthuhiggins/b5139bfade363744dbad942e2b44f90d

There is a new `adjust_offsets: false` option in 7.0 but not in 6.8.

If there is no obvious answer, should I make a separate github issue or post to the message board?

[2019-06-24 19:01] romseygeek commented on #34298
It's an annoying limitation in 6.8, I know.  You can get round it by reversing the order of the `filters` list:
[code]

[2019-06-24 19:31] #43497 closed

[2019-06-24 20:16] #43521 closed

[2019-06-24 21:09] #43406 closed

[2019-06-24 21:26] LeeDr opened #43550 "add cumulative and/or incremental cardinality date histogram"
**Describe the feature**: I've seen several requests in Elasticsearch and Kibana to query for cumulative or incremental cardinality counts over time and it doesn't currently seem possible.  Several Elasticsearch developers discussed on Slack for over an hour and didn't really find a solution.  Older discuss posts still show up in query results with no solutions.

For example;

date | user
------|-

[2019-06-24 21:40] dakrone commented on #43508
This has been happening again more frequently:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+multijob-unix-compatibility/os=oraclelinux-6/81/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+multijob-unix-compatibility/os=centos-6/81/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+multijob-unix-compatibility/os=oraclelinux-7/81/

[2019-06-24 21:51] pcsanwald commented on #39497
I've been attempting to repro this issue locally with no luck, by un-muting `testReduceRandom` and using essentially a nested loop of test iterations via a bash while loop and `-Dtests.iters`, a trick I learned from @DaveCTurner :

`date | tee pass-times.log; while ./gradlew :server:test -Dtests.seed=7DBCFCFC5EFB7BF8 -Dtests.class=org.elasticsearch.search.aggregations.bucket.histogram.InternalAuto

[2019-06-24 21:52] andrewvc commented on #43439
@davidkyle hmmm, well given that the primary concern is the UI use case, would it be a problem to move the check to the UI, and remove it from the backend in ES?

[2019-06-24 22:13] dakrone opened #43551 "[CI] IndexAliasesIT.testWaitForAliasSimultaneousUpdate failed on 7.1"
The following assertion tripped:

[code]

On this build:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.1+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8,nodes=immutable&&linux&&docker/41/console
    https://gradle.com/s/zkoif4f6eltmq
    https://gradle.com/s/vmlnhuhxvr6l2
    https://gradle.com/s/hcitcwwb4pvfq

I was unable to reproduce it by using

[code]

[2019-06-24 22:13] elasticmachine commented on #43551
Pinging @elastic/es-core-infra

[2019-06-25 00:20] talevy opened #43554 "Geo Circle to Polygon/LineString Ingest Processor"
**Feature Request**

Add ability to easily index shape values defined like:

[code]

**Feature Proposal**

Introduce a `circle` processor that converts all instances of
a `circle` json definition into a geojson `polygon` or `linestring`.

[2019-06-25 00:20] elasticmachine commented on #43554
Pinging @elastic/es-analytics-geo

[2019-06-25 02:25] dnhatn commented on #39578
I've removed debug log and unmuted this test on master and 7.x. I am closing this issue for it has not failed recently.

[2019-06-25 02:25] #39578 closed

[2019-06-25 03:14] matthuhiggins commented on #34298
Putting the synonym filter inside a multiplexer changes its behavior when the input (LHS) synonym is multiple tokens (ES v6.8):

https://gist.github.com/matthuhiggins/16b5d29c2ea0bb4a9e21f64268b6865f

Everything you've answered so far has put me in a step in the right direction. Thanks for everything so far!

[2019-06-25 03:49] #40678 closed

[2019-06-25 03:59] #42509 closed

[2019-06-25 05:06] Wing924 opened #43556 "G1GC cause CircuitBreakingException: [parent] Data too large on 7.1.1"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.1.1

**Plugins installed**: []
none

**JVM version** (`java -version`):
openjdk version "11.0.3" 2019-04-16 LTS
OpenJDK Runtime Environment 18.9 (build 11.0.3+7-LTS)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.3+7-LTS, mixed mode, sharing)

**OS version** (`uname -a` if on a Unix-like system):
Linux ************ 3.10.0-957.21.3.el7.x86_64

[2019-06-25 06:33] yrodiere commented on #43338
Hi,

I'm part of the same team as @fax4ever so I'll answer while he's away.

Long story short, our use case is a Java library (Hibernate Search) that exposes Elasticsearch's features through a different API, along with other, database-related features. So we don't have a *specific* use case, it's more that the behavior was inconsistent with what we expected, and that showed up in our integration t

[2019-06-25 06:47] tvernum commented on #42216
This issue is **on hold** because our RHEL8 builds were breaking unexpectedly, so they're not currently included in the unix matrix builds.

[2019-06-25 06:47] tvernum commented on #42004
This issue is **on hold** because our RHEL8 builds were breaking unexpectedly, so they're not currently included in the unix matrix builds.

[2019-06-25 08:08] #42053 closed

[2019-06-25 08:13] droberts195 commented on #43271
This is also failing in 7.2 so I cherry-picked the mute back to the 7.2 branch in ee4e9406765a12df8cc6365260a5fb62cf46bd9f

[2019-06-25 08:16] original-brownbear commented on #43387
This hasn't come up again after we added some more assertions around it and only affected Debian 8. Closing this for now until it reappears, since it was super system specific and went as quick as it came.

[2019-06-25 08:18] original-brownbear commented on #43048
Haven't see this happen again after recent changes to the shutdown logic. Closing until it reappears.

[2019-06-25 08:18] #43048 closed

[2019-06-25 08:37] hendrikmuhs commented on #43439
API-1st: I do not think we should move complex logic into the UI, the UI is great to get started but we do not aim to be UI-only, direct API support is as important, be it dev console are interacting with data frames using a language client (e.g. python).

@davidkyle suggestion sounds good to me, skipping validation sounds like a special case. We only need better parameter naming. `validate=false`

[2019-06-25 08:38] martijnvg commented on #43556
Hey @Wing924 this looks like an overloaded node and not a bug report or feature request. We'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop  by there, we'd appreciate it. This allows us to use GitHub for verified  bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/) that shou

[2019-06-25 08:38] #43556 closed

[2019-06-25 09:02] Wing924 commented on #43556
@martijnvg Please don't decide it too early. Because it's a empty Elasticsearch cluster, I think it is a BUG.

[2019-06-25 09:02] romseygeek opened #43571 "Rename preconfigured `elision` filter to `french_elision`"
We have a preconfigured elision filter that uses the french-language elision set. You can also create custom elision filters with any set of strings to elide you like.  It's a bit confusing that the preconfigured version uses a language-specific set without being explicit about it; we should rename the preconfigured version to `french_elision` to make this more obvious.

[2019-06-25 09:02] elasticmachine commented on #43571
Pinging @elastic/es-search

[2019-06-25 09:42] DaveCTurner commented on #43387
https://scans.gradle.com/s/efrt7aoyp7y3i looks to be another instance, on Debian 9 (7.2 intake build).

[2019-06-25 10:05] original-brownbear commented on #43387
thanks @DaveCTurner !

@atorok @mark-vieira question: do you think we could come up with a way of dumping the output of `netstat -s` on test failures? That might help us get to the bottom of this. I suspect we might be running into full tcp queues here due to the default settings used on Debian but it would be better to have that log output than just start experimenting with the limit settings I t

[2019-06-25 10:40] bdecarne opened #43574 "enable_position_increments not working for phrase queries with stopwords"
Hi there,

I'm reporting here a bug found by me and another user, witch i found the original message on https://discuss.elastic.co with no response.

**Elasticsearch version** (`bin/elasticsearch --version`): 7.1.1 (docker)

**Description of the problem including expected versus actual behavior**:

I'm following this guide https://stackoverflow.com/questions/31719249/how-to-query-a-phrase-with-sto

[2019-06-25 10:56] #42341 closed

[2019-06-25 11:01] dimitris-athanasiou commented on #43439
I am not a huge fan of adding that flag. Having a `validate` flag is very confusing as it is not that we will skip all validations. We'll just skip some of them. Perhaps we can call it `force` instead, though it still suffers from ambiguity.

[2019-06-25 11:37] martijnvg commented on #43556
@Wing924 Can we continue to diagnose this on discuss forum (you can ping me there using `@mvg`)? If there is a bug then we can always open an issue here.

[2019-06-25 11:41] timroes opened #43577 "auto_date_histogram generates too many buckets for smaller time range"
It seems, that the `auto_date_histogram` seems to generate sometimes too many buckets, especially when using an overall small time-range to filter on. It's not constantly happening (I assume it is related a bit to the exact time you send it), but it happened reliable enough to reproduce it always within max. 1 minute trying.

I just used the following request (after injecting the Kibana Flight sam

[2019-06-25 11:41] elasticmachine commented on #43577
Pinging @elastic/es-analytics-geo

[2019-06-25 11:43] elasticmachine commented on #43574
Pinging @elastic/es-search

[2019-06-25 11:44] davidkyle commented on #43439
`?soft_validation`

I'm not a huge fan of the flag either but if there is a pressing need..

[2019-06-25 11:52] jimczi commented on #43574
The option is not propagated correctly so I opened https://github.com/elastic/elasticsearch/pull/43578 to fix it. However the example in the description is not correct, when set to false this option will remove the position increment that filtered terms introduce. So the query `"tom the king"` with `enable_position_increments` set to `false` will rewrite the query as if the term `the` was never pr

[2019-06-25 12:01] #39852 closed

[2019-06-25 12:44] #43547 closed

[2019-06-25 12:55] bdecarne commented on #43574
Thank you for this explanation, although it is disappointing for my case.

Is there a way to reach my goal without using slop ?

Thank you

[2019-06-25 12:55] bczifra commented on #33135
A use can specify `node.attr.foo : [ "bar", "baz" ]` in `elasticsearch.yml`, and Elasticsearch starts up without logging anything at all indicating that this is not supported behavior, so setting `"index.routing.allocation.require.foo": "bar"` won't match `"[bar, baz]"` and the index shards won't be allocated. This can be particularly confusing because allocation awareness attributes _do_ [support

[2019-06-25 13:01] jimczi commented on #43574
You could write a custom stop filter that would not increment the position when removing a term, otherwise you'll need to use a `slop`. You don't want to use a `slop` because it will match terms other than stop word in the middle ?

[2019-06-25 13:04] romseygeek opened #43582 "Preconfigured `edge_ngram` tokenizer has incorrect defaults"
The docs state:
[code]

This is corrrect if you define a new tokenizer of type edge_ngram, like so:
[code]
[code]

However, if you instead use the pre-configured `edge_ngram` tokenizer, you only get ngrams of size 1:
[code]
[code]

We should change the preconfigured filter to correspond to the documentation

[2019-06-25 13:05] elasticmachine commented on #43582
Pinging @elastic/es-search

[2019-06-25 13:09] elasticmachine commented on #43550
Pinging @elastic/es-analytics-geo

[2019-06-25 14:42] #39933 closed

[2019-06-25 15:05] rjernst commented on #42638
The transport client has been removed. Any leftover remnants can be remove as they are found.

[2019-06-25 15:05] #42638 closed

[2019-06-25 15:14] Conky5 opened #43590 "7.x / 7.2 do not produce correct docker build context Dockerfile"
During the 7.2.0 release it was found that the Dockerfile produced for the `dockerfiles` repository was attempting to use a locally built elasticsearch binary https://github.com/elastic/dockerfiles/pull/15/files#diff-21c4e096c31ca33cf67e2ad16f6dac93R23. This was manually fixed for the release https://github.com/elastic/dockerfiles/pull/16.

It appears this line:
https://github.com/elastic/elastics

[2019-06-25 15:29] #14340 closed

[2019-06-25 15:33] #43504 closed

[2019-06-25 15:56] atorok commented on #43387
@original-brownbear  should we add debian 8 back to the rotation now ?
We could probably add something in Gradle or Jenkins, but we could also experiment with the limit on the Debian images.
What I typically do when dealing with these system specific failures is create an instance from the CI image in GCP ( it's real quick, I can share the command line ) and then just run the failing bits in a loo

[2019-06-25 16:15] polyfractal commented on #43577
/cc @pcsanwald this looks somewhat similar to the failure in https://github.com/elastic/elasticsearch/issues/39497, perhaps related?

[2019-06-25 16:25] andymjames opened #43598 "ILM Policy Example With Doc Count Limit Please"
**Describe the feature**:
Short version:
Extra ILM documentation that shows an example policy that rolls over because of a document count limit for the purpose of giving users an anchor for what a reasonable document count limit might be.

Longer explanation with more context:
I’d like to see some examples in the ILM documentation that use a document count limit. By reading the example with 50GB a

[2019-06-25 16:25] elasticmachine commented on #43598
Pinging @elastic/es-docs

[2019-06-25 16:39] original-brownbear commented on #43387
@atorok if you could provide me with a way to reproduce the environment exactly via a GCP setup command I think that would be the absolutely preferable option :) Thanks!

[2019-06-25 16:42] polyfractal commented on #43577
Had a quick look, and found the problem area. Or at least, the point where multiple buckets are being generated, don't know enough about auto histo to know where the actual cause is.

When you execute the above query (at a time that is a non-multiple of 30 minute), multiple buckets are generated when the coordinator is merging consecutive buckets.

At [`InternalAutoDateHistogram#mergeConsecutiveBu

[2019-06-25 16:52] elasticmachine commented on #43598
Pinging @elastic/es-core-features

[2019-06-25 17:04] jpcarey opened #43599 "Prevent fielddata loading for _id"
**Describe the feature**: Need a way to prevent fielddata memory issues due to aggregating / sorting on `_id`

[2019-06-25 17:08] andrewvc commented on #43439
It would be a problem if the transform stopped working, or become unstartable because a user purged their indices to start fresh for instance. We could enter a half-broken state where the time series data is coming in, but the data-frame isn't started. That would mean we'd need to create a watchdog process ensuring that the frame is always started.

Given that we have two use cases a flag seems be

[2019-06-25 17:22] pcsanwald commented on #43577
This does seem quite similar to the failure case and would explain why it's been so tricky to reproduce (I'm currently doing a very long run).

[2019-06-25 18:06] #43590 closed

[2019-06-25 20:23] rjernst opened #43603 "[Feature Request] Support _FILE suffix in docker images"
NOTE: This was originally filed by @nikeee in https://github.com/elastic/elasticsearch-docker/issues/183.

There is a convention on official docker images that environment variables that end in _FILE are read as a file and then assigned to a variable without the _FILE suffix. For example, setting the environment variable ELASTIC_PASSWORD_FILE to /run/secrets/secret-password will read the file /run

[2019-06-25 23:01] elodeans commented on #29561
Likewise, my client engagment is focusing on this bug which causes highlights to look like individual words are matched even when a compound term is searched. i.e. at quick glance user sees that each highlight matches only part of the compound term, and frankly makes it look like search itself is not honoring quotes around a compound term.

[2019-06-25 23:06] jdconrad opened #43607 "Add a Safe Remove Painless Utility Method"
Add an augmentation method to Map and List that allows elements in either a Map or List to be safely removed.

Right now to remove a nested element safely from something like ctx['_source']['x'][1]['y'] the following would have to be done:

[code]

or possibly some variation of that.

Instead, we could just use safe remove:

[code]

where the return value is null if the path doesn't full exist or

[2019-06-25 23:06] elasticmachine commented on #43607
Pinging @elastic/es-core-infra

[2019-06-25 23:25] rjernst opened #43608 "Windows container support for docker"
This is a feature request, moved over from https://github.com/elastic/elasticsearch-docker/issues/67.  Users wanting this feature can add their support here to help gauge the importance of windows container support in docker.

[2019-06-25 23:25] elasticmachine commented on #43608
Pinging @elastic/es-core-infra

[2019-06-25 23:40] rjernst opened #43609 "Enable Docker content trust"
Note: This issue is transferred from https://github.com/elastic/elasticsearch-docker/issues/158.

From the original issue:

Please enable [content trust](https://docs.docker.com/engine/security/trust/content_trust/) for all Docker images in docker.elastic.co.
Content trust allows clients to verify that Docker images are actually built by the distributor.

[2019-06-25 23:40] elasticmachine commented on #43609
Pinging @elastic/es-core-infra

[2019-06-26 01:37] elasticmachine commented on #43599
Pinging @elastic/es-search

[2019-06-26 06:52] elasticmachine commented on #43603
Pinging @elastic/es-core-infra

[2019-06-26 06:58] spinscale opened #43619 "Watcher: NPE when enabled but not configuring sensitive data encryption"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.2.0 (and below)

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

 1. Download distribution
 2. Set `xpack.watcher.encrypt_sensitive_data: true` in `elasticsearch.yml`
 3. Check via `bin/elasticsearch-keystore list config/elasticsearch.keystore` that `xpack.watcher.encryption_key` is not

[2019-06-26 07:17] elasticmachine commented on #43619
Pinging @elastic/es-core-features

[2019-06-26 07:36] #24344 closed

[2019-06-26 07:50] romseygeek opened #43621 "Preconfigured `word_delimiter_graph` token filter has incorrect `adjust_offsets` default"
The standard factory and docs both have `adjust_offsets` as `false`, but the preconfigured filter has it set to `true`.

[2019-06-26 07:50] elasticmachine commented on #43621
Pinging @elastic/es-search

[2019-06-26 08:50] davidkyle opened #43624 "verifyVersions fails in branch-consistency builds"
Failures on 7.2, 7.x and master

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+branch-consistency/22/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+branch-consistency/22/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+branch-consistency/22/console

[code]

Reproduce with
[code]

[2019-06-26 08:50] elasticmachine commented on #43624
Pinging @elastic/es-core-infra

[2019-06-26 09:10] davidkyle opened #43626 "DiskDisruptionIT testGlobalCheckpointIsSafe CI failures"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/128/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=centos-7&&immutable/85/console

Log file: https://scans.gradle.com/s/pobyhqnfcvl2a/tests/kyv2y2z3r4v7m-enli6pteu2zb2

[code]

Does not reproduce
[code]

[2019-06-26 09:10] elasticmachine commented on #43626
Pinging @elastic/es-distributed

[2019-06-26 09:10] teohhanhui opened #43627 "Docker images should be available with major and minor version tags"
**Describe the feature**: Docker images should be available with major and minor version tags

Rationale:

Follow up from https://github.com/elastic/elasticsearch-docker/issues/84#issuecomment-490204354

Yes, it's been explained that it's not safe for deployment use: https://github.com/elastic/elasticsearch-docker/issues/84#issuecomment-358976967

But it's important for CI. For example, we're forc

[2019-06-26 09:16] davidkyle commented on #43626
Muted master 7c3720ab166fbb8cce71d16d6cb159d1a8c9c63f and 7.x 58d0d5c51bcafaef7b91da32b6207ace6b800295

[2019-06-26 09:24] davidkyle commented on #41721
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8fips,nodes=immutable&&linux&&docker/43/console

Another failure due to ```BCFKS KeyStore corrupted: MAC calculation failed.```

[2019-06-26 09:42] hendrikmuhs commented on #43068
I somewhat like the idea of the testing/querying approach, similar to what @droberts195 suggested and I wonder if we can create the data ourselves instead of querying the source (which might be sparse, empty, non-existent at the time of creating the transform). So basically generating

[code]

and throw if we create a duplicate.

Interestingly I wonder if this issue is always a bug:

[code]

is a

[2019-06-26 09:56] jimczi commented on #43068
Another solution would be to only apply the `format` to the buckets and not the `after` key. We need the raw values there since they have to be unique and the `format` may break this assumption. The `after` map is always used as is to paginate over the buckets so it would be safer to always return the original values without any modification.

[2019-06-26 10:14] ywelsch commented on #43626
Relevant log line:

[code]

[2019-06-26 10:44] davidkyle opened #43631 "VotingOnlyNodeCoordinatorTests testDoesNotElectVotingOnlyMasterNode failure"
https://scans.gradle.com/s/tfu25vregk2hy
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora-29&&immutable/86/console

[code]

Log file: https://scans.gradle.com/s/tfu25vregk2hy/tests/tgrx2aitn6u62-vhkxezy67i4ic

This actually reproduces for me:
[code]

[2019-06-26 10:44] elasticmachine commented on #43631
Pinging @elastic/es-distributed

[2019-06-26 10:47] davidkyle commented on #43631
There have been a handful of failures on master in recent days. Muted on master in fc5ce18ae611744ea8c19bf88bd1d03f748672ac

[2019-06-26 11:05] davidkyle commented on #43141
More of this sort of thing:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=openjdk13,nodes=immutable&&linux&&docker/44/console

Checking build stats there have been a number of failures all periodic builds run on openjdk13

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_

[2019-06-26 11:35] iRhysBradbury opened #43633 "Scripted Updates BUG v6.3.1"
***Bug Report***

**Summary**
It would appear that the scripted updates are not working after upgrading from 5.4.

**Elasticsearch version** (`bin/elasticsearch --version`):
[code]

**Plugins installed**: None

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): OS 10.13.4

**Description of the problem including expected versus actual behaviour**:

**Steps

[2019-06-26 11:36] dllz opened #43634 "Feature Request: Rank Feature in Java Client"
The java api client does not have native support for a Rank Feature query. It seems to be the only feature missing from the specialized query section. As I need to make use of this feature would be great to see it included in the API

[2019-06-26 11:45] ywelsch commented on #43631
Will be fixed by #43628

[2019-06-26 11:45] Uvionicsssingapore commented on #18689
nthuvadeyy... nthoru  thepppadey

[2019-06-26 11:51] #43633 closed

[2019-06-26 11:55] #42766 closed

[2019-06-26 12:05] davidkyle commented on #40435
Another instance https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu-16.04&&immutable/85/console

Log file: https://scans.gradle.com/s/g2vrt5bbrrjco/tests/kyv2y2z3r4v7m-xng72kg7hqste

Scanning the log file it looks like the test never completes as the thread is blocked on an index request that never returns.

[code]

[2019-06-26 12:24] elasticmachine commented on #43634
Pinging @elastic/es-core-features

[2019-06-26 12:26] davidkyle commented on #43508
And again:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+multijob-unix-compatibility/os=centos-6/86/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+multijob-unix-compatibility/os=oraclelinux-7/86/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+multijob-unix-compatibility/os=oraclelinux-6/86/console

[2019-06-26 12:39] davidkyle commented on #32905
This project was completed long ago, the issue can be closed now

[2019-06-26 12:39] #32905 closed

[2019-06-26 12:51] #43624 closed

[2019-06-26 13:56] davidkyle commented on #43417
This has happened again, reopening the issue

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/46/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-windows-compatibility/44/console

[2019-06-26 13:58] markharwood commented on #31986
We spent some time on this issue differentiating between failures which should be retried and those that should not. This was all from the perspective of clients outside of elasticsearch but would it not also make sense to consider internal retry policies across replicas?
It looks like [we retry failed searches exhaustively](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java

[2019-06-26 14:11] davidkyle commented on #43387
Another instance on Debian 9

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+release-tests/69/console
https://gradle.com/s/4bi2vnvujy4t6

[2019-06-26 14:20] prem6667 commented on #31615
@mayya-sharipova I just set up the version 7.2, but both the functions are not there. I can see that branch 7.x has these functions.

[2019-06-26 14:29] davidkyle commented on #42370
This has become a common failure

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+multijob-unix-compatibility/os=amazon/88/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=amazon/88/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=amazon/87/console

Often this is seen i

[2019-06-26 14:31] jdconrad commented on #43157
Fixed by (#43509)

[2019-06-26 14:31] #43157 closed

[2019-06-26 14:47] cwright-onshape opened #43643 "The Update API examples result in invalid_type_name_exception"
**Elasticsearch version** (`bin/elasticsearch --version`):docker.elastic.co/elasticsearch/elasticsearch:6.7.2

**Plugins installed**: None

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):MacOS 10.14.4

**Description of the problem including expected versus actual behavior**:
Provided examples for the update api in the documentation fail with:
"root_cause"

[2019-06-26 14:59] nknize opened #43644 "New `geometry` field type for indexing Cartesian Geometries"
### tldr
This meta issue captures all tasks needed to support a new `geometry` field type (in a new `geo` x-pack module) for providing search capabilities of arbitrary 2D cartesian geometry (points, lines, polygons, and their multi variants). It has a lot in common with geospatial applications; including the ability to support `INTERSECTS`, `WITHIN`, `DISJOINT`, and (eventually) `CONTAINS`.

## Ba

[2019-06-26 14:59] elasticmachine commented on #43644
Pinging @elastic/es-search

[2019-06-26 14:59] elasticmachine commented on #43644
Pinging @elastic/es-analytics-geo

[2019-06-26 15:13] davidkyle opened #43646 "GoogleCloudStorageThirdPartyTests testCreateSnapshot CI failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+third-party-tests-gcs/27/console
https://scans.gradle.com/s/722rkowxm372o/tests/qkzjyhhgpm4oy-p3xibzs6lygc2

[code]

This is a reproducible failure:
[code]

[2019-06-26 15:13] elasticmachine commented on #43646
Pinging @elastic/es-distributed

[2019-06-26 15:21] original-brownbear commented on #43646
This looks like an infra issue, the system property for the credentials wasn't set in the test run and the test was failed as a result. Locally this will fail the same way unless you have the environment variables for the GCS auth set correctly. I'll check with infra here.

[2019-06-26 15:35] #43203 closed

[2019-06-26 15:37] tbrooks8 opened #43649 "Response handlers not always called"
The `Transport.ResponseHandlers` in `TransportService` stores resources for pending responses. A response handler will stay in this map until one of the following happens:

1. A response is received
2. The corresponding channel is closed
3. The request times-out (not all requests have timeouts)

Theoretically the resources should always be eventually freed. However, we sometimes see heap dumps wit

[2019-06-26 15:37] elasticmachine commented on #43649
Pinging @elastic/es-distributed

[2019-06-26 15:40] #43626 closed

[2019-06-26 15:41] original-brownbear commented on #43649
The infrastructure I added in #43259 might be helpful here in spots where we can track this by tracking the object/listener that should've invoked the response handler.

[2019-06-26 18:21] jdconrad opened #43655 "Improve Painless Date Documentation"
* [x] Add documentation and examples of how to use timezone in a complex datetime. (https://github.com/elastic/elasticsearch/pull/43768)
* [x] Add documentation and examples of how to use ```now``` through user parameters.  Include explanation of why there is no native Painless method for ```now```. (https://github.com/elastic/elasticsearch/pull/43852)
* [x] Add examples of how to use dates in dif

[2019-06-26 18:21] elasticmachine commented on #43655
Pinging @elastic/es-core-infra

[2019-06-26 18:21] elasticmachine commented on #43655
Pinging @elastic/es-docs

[2019-06-26 18:29] jdconrad opened #43656 "Add Access to Painless Annotations in Plugins"
Painless now supports adding annotations to whitelist objects (https://github.com/elastic/elasticsearch/pull/43239).  However, there is currently no way to access useful information from the annotations within either the Painless scripting engine or in plugins. A callback mechanism needs to be added to the PainlessLookup to inform potential listeners when a whitelisted object with an annotation is

[2019-06-26 18:29] elasticmachine commented on #43656
Pinging @elastic/es-core-infra

[2019-06-26 20:07] gwbrown commented on #34841
@sachinfrayne It seems like ILM will fulfill this request once we implement https://github.com/elastic/elasticsearch/issues/37325, so I'm going to close this issue in favor of that one. Please reopen this if I've missed something.

[2019-06-26 20:07] #34841 closed

[2019-06-26 20:11] gwbrown commented on #26092
We have effectively implemented this functionality in the form of [Index Lifecycle Management (ILM)](https://www.elastic.co/guide/en/elasticsearch/reference/current/index-lifecycle-management.html) so I'm going to close this issue - please comment here if there's some functionality described in this issue that I've missed that isn't available in ILM.

[2019-06-26 20:11] #26092 closed

[2019-06-26 21:09] benwtrent opened #43662 "[ML] Data frame source index seems to be fully re-read when continuous transform moves nodes"
In a rolling upgrade, or node failure scenario, a continuous transform seems to re-read the entire index when it is moved to a new node. I think the last checkpoints timestamp information may be missed when the transform starts executing again on its new node.

I saw this behavior by looking at the stats between the the continuous transform moving between nodes. The documents read increased by the

[2019-06-26 21:09] elasticmachine commented on #43662
Pinging @elastic/ml-core

[2019-06-26 21:17] dakrone opened #43663 "Retention for Snapshot Lifecycle Management"
SLM as a standalone snapshot taking tool is taking shape as described in #38461. However, to fully utilize SLM, we should implement retention for the snapshots that SLM takes.

Policy definition would change to something like:

[code]

Snapshot retention would kick in based on a schedule (supporting cron expressions) and configured with the newly introduced `slm.retention_schedule` cluster setting

[2019-06-26 21:17] elasticmachine commented on #43663
Pinging @elastic/es-core-features

[2019-06-26 21:18] dakrone commented on #43663
/cc @cjcenizal @jen-huang

[2019-06-26 22:18] chenkv commented on #43643
You need to create a document with _id=1 first like below:
` curl -X PUT "localhost:9200/customer/_doc/1" -H 'Content-Type: application/json' -d'
{
"doc": { "name": "Jane Doe 0" }
}'
`
then you can update with id = 1; otherwise the id is auto generated

[2019-06-27 03:49] atorok opened #43670 "MlDistributedFailureIT.testCloseUnassignedJobAndDatafeed fails with NodeNotConnectedException"
## Example build failure
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/370/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux-6/87/console

And quite a few PR checks.

https://scans.gradle.com/s/bsbkz6io7ysno/tests/lf2lfu4ufazso-jxctggmo7ue4i

## Reproduction line
does not reproduce locally
[code]

#

[2019-06-27 03:49] elasticmachine commented on #43670
Pinging @elastic/ml-core

[2019-06-27 03:56] atorok commented on #43670
Muted in f6bc4b12999

[2019-06-27 04:43] atorok commented on #42370
I have some timeout related changes in  #43440 that may be able to help here.

[2019-06-27 04:57] tvernum commented on #42370
This seems to be happening for tests that user the old cluster formation tasks and for those that use testcluster.
- master (testclusters) https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=amazon/89/console
- 7.2 (cluster formation) https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+multijob-unix-compatibility/os=amazon/90/console

I

[2019-06-27 06:10] alpar-t opened #43673 "GrokTests unit tests fail with "Unable to find pattern [] in Grok's pattern dictionary""
## Example build failure
https://scans.gradle.com/s/iepue6nvnpjco/tests/vmr3zh2fll5n6-jtrpes23gv6dm

## Reproduction line
does not reproduce locally
[code]

## Example relevant log:
[code]

## Frequency

reproduces  ~ 6 times in the past 30 days

/cc @talevy

[2019-06-27 06:10] elasticmachine commented on #43673
Pinging @elastic/es-search

[2019-06-27 06:40] tvernum opened #43674 "[CI] GCS Repository Tests failing"
GCS repository tests have started failing across 7.2, 7.x and master:

### 7.2
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+third-party-tests-gcs/41/console

[code]

### 7.x / master
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+third-party-tests-gcs/27/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+third-party-tests-gcs/

[2019-06-27 06:40] elasticmachine commented on #43674
Pinging @elastic/es-distributed

[2019-06-27 06:42] original-brownbear commented on #43674
Infra is already on it :) + we're tracking it here https://github.com/elastic/elasticsearch/issues/43646

[2019-06-27 06:42] #43674 closed

[2019-06-27 06:50] tvernum commented on #43674
Sorry, don't know how I missed that...

[2019-06-27 06:53] WilburXu commented on #22245
thanks!

[2019-06-27 06:58] tvernum commented on #22245
@WilburXu  You want `-XX:-AssumeMP` which turns off this option, (not `+AssumeMP` which turns it on).

[2019-06-27 07:01] henningandersen commented on #43643
@cwright-onshape thanks for your interest in elasticsearch. I notice that you are using elasticsearch version 6.7.2, but using the "current" documentation, which is currently for version 7.2. Version 6.7 does not support the new typeless endpoint for the `_update` API. See [6.7 documentation](https://www.elastic.co/guide/en/elasticsearch/reference/6.7/docs-update.html) for the correct examples for

[2019-06-27 07:01] #43643 closed

[2019-06-27 07:04] elasticmachine commented on #43627
Pinging @elastic/es-core-infra

[2019-06-27 07:13] thewasta opened #43676 "setup-password Master Not Connected"
Elastic Version: 6.6.1
My Enviroment: 3 nodes.
Master Node: 192.168.1.142
Slave 1: 192.168.1.144
Slave 2: 192.168.1.146
cluster.name: elasticppo
node.name: ${HOSTNAME}
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
bootstrap.memory_lock: true

#Each Node has own server .144/.146
network.host: ["127.0.0.1","192.168.1.142"]

discovery.zen.ping.unicast.hosts: ["192.168.1.142","19

[2019-06-27 07:53] #43347 closed

[2019-06-27 07:56] #43002 closed

[2019-06-27 07:59] droberts195 commented on #42370
#42583 also relates to slow cluster startup on Amazon Linux. I suggested a few theories for the cause in https://github.com/elastic/elasticsearch/issues/42583#issuecomment-501253069 but the subsequent comments imply none were correct.  Just mentioning it here to avoid duplication of effort.

[2019-06-27 08:03] #43582 closed

[2019-06-27 08:03] #43621 closed

[2019-06-27 08:04] davidkyle opened #43677 "[CI] DataFrameTransformIT testStartStop failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+multijob-unix-compatibility/os=fedora-29&&immutable/91/console

https://scans.gradle.com/s/zeltjj5fzk7yw/tests/43nmsh6ur4gh6-hr7rgc6q5tply

[code]

[code]

[2019-06-27 08:04] elasticmachine commented on #43677
Pinging @elastic/ml-core

[2019-06-27 08:39] droberts195 commented on #43670
There's a race condition in `TransportStopDatafeedAction.normalStopDatafeed()` if the datafeed becomes unassigned after the loop that handles assigned and unassigned datafeeds differently but before the redirect to the node the datafeed is assigned to.  We should probably catch the `FailedNodeException` and if the cause is `NodeNotConnectedException` then retry the stop.

The fact the test has onl

[2019-06-27 08:49] droberts195 commented on #41436
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/75/console is another example of this

[2019-06-27 09:08] davidkyle commented on #43439
The team discussed this and there was widespread agreement that we should add the flag and much debate about naming it. Suggestions included `ensure` or `force` but the favourite was `defer`.

`?defer_validation=true`

[2019-06-27 09:34] original-brownbear commented on #43646
Infra fixed this :), should be green now for new builds.

[2019-06-27 09:34] #43646 closed

[2019-06-27 09:39] original-brownbear commented on #43387
Just one update here ... @atorok provided me with a way of reproducing the CI environment:

I ran hundreds of iterations of the failing test goals on Debian 8 for `master` and `7.x` but was not able to reproduce this. I'll change my reproduce strategy a little and try some iterations of creating the virtual machine fresh repeatedly (on the off chance that this is related to the specific worker it

[2019-06-27 11:15] sachinfrayne commented on #29927
+1 for this

[2019-06-27 12:12] ywelsch commented on #43670
I'm not aware of any recent change affecting this. Perhaps it's just the timing on some CI machines that's a little different. We're talking about 150ms here.

[code]

[2019-06-27 12:33] benwtrent commented on #43662
Additional info:

* This happens when we have fully reached a checkpoint
* It happens right when the task starts executing again (no new data in the index yet).

[2019-06-27 12:33] #43200 closed

[2019-06-27 12:42] benwtrent commented on #43677
ugh, this MAY be that the data frame finished executing between the call to `_start` and the stats being gathered. I can take a deeper look in a little bit.

[2019-06-27 13:10] henningandersen commented on #43676
@thewasta thanks for your interest in elasticsearch. I noticed that you have been able to respond to the forum topic and I hope you will continue the conversation there. I will therefore close this issue.

[2019-06-27 13:10] #43676 closed

[2019-06-27 13:13] jkakavas commented on #35339
Implemented in https://github.com/elastic/elasticsearch/pull/40674

[2019-06-27 13:13] #35339 closed

[2019-06-27 13:32] hobo05 opened #43695 "[DOCS] example from configuring-tls-docker.asciidoc does not work and is out of date"
**Elasticsearch version:** Version: 7.2.0, Build: default/docker/508c38a/2019-06-20T15:54:18.811730Z, JVM: 12.0.1

**Docker Image:** docker.elastic.co/elasticsearch/elasticsearch:7.2.0

**Description of the problem including expected versus actual behavior**:

When trying to run `create-certs.yml` using docker-compose from `https://github.com/elastic/elasticsearch/blob/v7.2.0/docs/reference/securi

[2019-06-27 13:53] jguay opened #43696 "Elasticsearch docker image no longer ships unzip from 7.2.0 -> need new doc for certificate generation"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.2.0 docker (docker.elastic.co/elasticsearch/elasticsearch:7.2.0)

**Description of the problem including expected versus actual behavior**:

We document generating certificates using docker [here](https://www.elastic.co/guide/en/elasticsearch/reference/7.2/configuring-tls-docker.html) which makes use of [certutil](https://www.elastic.co/

[2019-06-27 13:55] elasticmachine commented on #43696
Pinging @elastic/es-core-infra

[2019-06-27 13:56] elasticmachine commented on #43696
Pinging @elastic/es-docs

[2019-06-27 14:07] cbuescher opened #43698 "[CI] StableMasterDisruptionIT#testFollowerCheckerDetectsUnresponsiveNodeAfterMasterReelection fails on master"
Build scan: https://scans.gradle.com/s/fcwvctoouoaq4

Not reproducable:
[code]

[code]

[2019-06-27 14:07] elasticmachine commented on #43698
Pinging @elastic/es-distributed

[2019-06-27 14:18] cbuescher commented on #43387
Possibly also related: RecoveryFromGatewayIT that reports “ThreadLeakError”  https://scans.gradle.com/s/fcwvctoouoaq4/tests/kyv2y2z3r4v7m-ywg6h5slyhn64

[2019-06-27 14:33] davidkyle commented on #42258
This issue should be closed by #42290 but there has been 2 recent failures on the 7.2 branch

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+bwc-tests/86/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.2+bwc-tests/87/console

[code]

The skip needs to be updated for version 7.2.0 as in a rolling upgrade to 7.2.1 the old cluster can be 7.2.0 which will ret

[2019-06-27 14:38] ywelsch commented on #43698
Another Debian failure, tracked in https://github.com/elastic/elasticsearch/issues/43387

[code]

[2019-06-27 14:38] #43698 closed

[2019-06-27 14:47] DaveCTurner opened #43699 "Avoid expensive operations when constructing an Engine"
Today (5f6321aacb95d2b842c74b6f7dc064c70a15e33c) when constructing an `InternalEngine` we perform some potentially expensive operations, including:

[code]

and

[code]

We create the `Engine` under `IndexShard#mutex`:

https://github.com/elastic/elasticsearch/blob/0cfc9ff77594a64737078ce6ffd4630a1a4253d5/server/src/main/java/org/elasticsearch/index/shard/IndexShard.java#L1448-L1458

This can bloc

[2019-06-27 14:47] elasticmachine commented on #43699
Pinging @elastic/es-distributed

[2019-06-27 14:50] original-brownbear commented on #43387
Just a note here: The above one is the first one I'm seeing on runtime JDK 12. So we're seeing this on Debian 8 & 9 with all possible JDK versions (8,11,12).

[2019-06-27 15:00] #43574 closed

[2019-06-27 15:00] gwbrown commented on #39526
We discussed this in the weekly team sync, and decided to cover two primary use cases:
1. How leverage ILM for old periodic indices when transitioning to fully ILM-managed indices
2. How to reindex data into fully ILM-managed indices. This is more niche, but it can be useful when the periodic indices are either very small or very large and breaking them into more appropriately sized indices is use

[2019-06-27 15:06] dakrone commented on #39524
Closing this as we don't think there's enough interest in this.

[2019-06-27 15:06] #39524 closed

[2019-06-27 15:18] elasticmachine commented on #43695
Pinging @elastic/es-core-infra

[2019-06-27 15:20] henningandersen commented on #43695
Might be related to #43696
Ping @dliappis

[2019-06-27 15:29] polyfractal commented on #42258
Will mute on 7.2 in a minute.

#42290 doesn't fix the failure though, because the root issue is that the test throws one or two deprecation warnings and I'm not sure why yet.  You can see that the 7.2 test is already [expecting a deprecation warning](https://github.com/elastic/elasticsearch/blob/7.2/x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/40_ml_datafeed_crud.y

[2019-06-27 15:30] #27098 closed

[2019-06-27 15:47] Hohol commented on #40005
I'd like to take this.

[2019-06-27 16:00] timroes opened #43704 "Retrieve field data density via API"
In the now removed [field stats](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/search-field-stats.html) API we had the information about the density of data within a field. That's a useful measurement, we would like to have in Kibana for prioritizing field suggestions when creating visualizations.

Since it seems that information is no longer in the field caps API, I would like to ch

[2019-06-27 16:05] Hohol commented on #40005
As I can see, there is a binary serialization/deserialization of `InternalMappedTerms` values.
Can we assume serialization will always be performed when `docCountError` is non-null?
If not, we need to change binary format. What about cross-version compatibility?

[2019-06-27 16:06] mark-vieira commented on #43387
@atorok should we be involving infra here? Perhaps they might have some better insight?

[2019-06-27 16:09] ywelsch commented on #43631
Closed by #43628

[2019-06-27 16:41] benwtrent commented on #43677
Yep, looking at the logs:
[code]
Where the afterTest  timestamp:
[code]

The indexer stopped due to finishing reading the index before we assert on the running state. Working on a fix now.

[2019-06-27 17:53] cpmoore opened #43709 "OpenID Connect realm fails when special characters are present in client id"
If special characters are present in the client id, the token request fails with the following error

[code]
The original client_id was in the format of `http://adfshost/client`, after being changed to a client id without / or : in it, authentication started working.

Looking at the code for the realm it appears as if the client id and secret are not being url encoded when set as the basic authent

[2019-06-27 17:54] cpmoore commented on #31590
It's available now in 7.2
https://www.elastic.co/guide/en/elastic-stack-overview/current/oidc-guide-authentication.html

Be aware that your client id cannot contain special characters (at least I know of / and : for sure)
See #43709

[2019-06-27 17:57] original-brownbear commented on #43387
I have this reproduced now on the GCP setup I got from Alpar. The following loop reproduces it for me with some frequency:

[code]

[2019-06-27 18:15] elasticmachine commented on #43709
Pinging @elastic/es-security

[2019-06-27 18:16] jkakavas commented on #43709
Thank you for reporting this @cpmoore

[2019-06-27 18:30] cpmoore commented on #43709
No problem!  Thanks for developing the realm in the first place.  I'm not a fan of SAML.

[2019-06-27 19:06] elasticmachine commented on #43704
Pinging @elastic/es-core-features

[2019-06-27 19:06] elasticmachine commented on #43704
Pinging @elastic/es-search

[2019-06-27 21:30] mayya-sharipova commented on #31615
@prem6667 Sorry, we have decided to move these functions starting from 7.3.
Adding these functions manually involves non-trivial amount of work as besides painless functions, we need to add classes for supporting Doc and script values.
Also, please be aware, that these features are still experimental, and may change.

[2019-06-27 22:27] #43034 closed

[2019-06-27 22:28] #43677 closed

[2019-06-27 22:49] mark-vieira commented on #43387
I find this statement surprising. Are we saying that in our production distributions we are configured to use the Netty transport implementations but all of our testing uses the nio implementation? Is this purposeful? If so, for what reason?

Second, if we think this is specific to our NIO impl, and not the Netty one, doesn't that suggest that there is _something_ potentially different about the N

[2019-06-28 00:21] tbrooks8 commented on #43387
`ESIntegTestCase` uses the `MockNioTransport` which lives in the `test:framework` package. This is a transport build on code in the `elasticsearch.libs.nio` jar. Full integration tests (rest test, qa, etc) have access to Elasticsearch modules and will use `transport-netty4` or `transport-nio`. Most will use `transport-netty4` as it is the default.

I'm not overly familiar with this issue, but base

[2019-06-28 00:31] mark-vieira commented on #43387
Ah, thanks for the clarification. So this is just the case for internal cluster tests.

Given these errors are only surfacing in internal cluster tests is it possible there's something in `MockNioTransport` that's triggering this to happen?

[2019-06-28 01:12] debadair opened #43721 "[DOCS] Revamp Elasticsearch getting started topic"
Although 71 contributors have made updates to [getting-started.asciidoc](https://github.com/elastic/elasticsearch/blob/master/docs/reference/getting-started.asciidoc) over the last 5 years, its overall content and structure haven't changed much since it was first written. In Elastic years, 5 years is _a very long time_.

I'm proposing to tear it apart and rebuild it to be... _**Better...stronger..

[2019-06-28 01:13] elasticmachine commented on #43721
Pinging @elastic/es-docs

[2019-06-28 01:21] fucking-signup commented on #42776
That's what I was initially trying to do but the documentation mentioned that there is a better solution for autocomplete and it was a completion suggester (and context suggester).

I see there is a new `search_as_you_type` field type landed in ElasticSearch 7.2, looks like it better suits my needs and I will give it a try.

Thanks for the help :)

[2019-06-28 01:46] dimatkach opened #43722 "Keystore loading behavior is inconsistent between reload and startup"
If Elasticsearch finds a key it does not recognize in keystore on start up, it refuses to start. However, if keystore is reloaded dynamically, the errors are not reported.

This is a problem in the Cloud, because a user may add a value to keystore, and then, possibly months later the cluster would start bootlooping after an unrelated change.

Making the behavior consistent in either of two ways wo

[2019-06-28 01:48] elasticmachine commented on #43722
Pinging @elastic/es-core-infra

[2019-06-28 02:16] tbrooks8 commented on #43387
Seems unlikely. The primary different I am aware of is that we set SO_LINGER=0 for socket channels in the mock transport. Other than that, the implementations are pretty similar.

Also I did look and uncounted loops poll for safe points also. I imagine that means that if we were stuck in a loop we might occasionally see that stacktrace? But I'm not positive.

[2019-06-28 02:40] tvernum commented on #43722
You will find it hard to make this case.
We have a clear preference to detect problems and fail.

If we have a realm configured in `elasticsearch.yml` like:
[code]
and then a keystore with
- `xpack.security.authc.realms.ldap.corp-ldap.secure_bind_password`

Then the user has made a mistake. They've named their realm "corp_ldap" in the YAML and "corp-ldap" in the keystore. We want to detect that an

[2019-06-28 02:54] tbuchier opened #43724 "[Docs] refresh_interval change made it unclear"
Hello,

The refresh_interval documentation have changed in 7.0+, making it's new behavior unclear.

**Describe the Issue**:

https://www.elastic.co/guide/en/elasticsearch/reference/master/tune-for-indexing-speed.html#_unset_or_increase_the_refresh_interval

If I modify the refresh_interval setting, the documentation isn't clear if the behavior " but only on indices that have received one search re

[2019-06-28 03:50] alaudazzi commented on #43721
This is a great plan, @debadair!
Happy to contribute, in particular for the short video integration, as I am already working on a video-related issue [#32109](https://github.com/elastic/cloud/issues/32109).

[2019-06-28 05:50] choco-love commented on #9442
how did you fix your problem???

[2019-06-28 06:15] przemekwitek opened #43727 "Verify if dateStringToEpoch() method does the right thing."
Code location: https://github.com/elastic/elasticsearch/blob/46c7cd905f74a006caa9cd2fa27a44e8dd63e605/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/common/time/TimeUtils.java#L57

Suggestions from @droberts195 :
As a followup I think we should investigate what (if anything) goes wrong if that method is converted to only use the DEFAULT_DATE_TIME_FORMATTER and not make any judgement

[2019-06-28 06:15] elasticmachine commented on #43727
Pinging @elastic/ml-core

[2019-06-28 07:50] jkakavas commented on #43709
This is a bug according to the specification, as both client id and client password need to be encoded using the `application/x-www-form-urlencoded` encoding algorithm when used for HTTP Basic
   authentication. https://tools.ietf.org/html/rfc6749#section-2.3.1

[2019-06-28 08:11] simioa opened #43730 "strict_date_optional_time does not support "," as separator for fractions"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.2.0

**Plugins installed**: []

**JVM version** (`java -version`):
Bundled JDK

**OS version** (`uname -a` if on a Unix-like system):
Red Hat 7.6 3.10.0-957.12.1.el7.x86_64

**Description of the problem including expected versus actual behavior**:
strict_date_optional_time does not support "," as separator for fractions but ISO 8601 says

[2019-06-28 08:22] Stef-33560 opened #43732 "PDF annotations not indexed ?"
Hi all :)

 I've got a huge quantity of PDF file containing only images and comments (annotations). To let users to find those documents, I would like to index the comments stored in those PDF files. Actually, my elasticsearch 5.6.3 does not seems to index the comments/annotations :(

May you tell me how to do this ?
Notice I wouldn't like to use OCR (PDFBox/Tesseract) but just to use the ALL the

[2019-06-28 08:35] dadoonet commented on #43732
Please ask this question on https://ela.st/forum where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on https://ela.st/forum.

Thanks!

[2019-06-28 08:35] #43732 closed

[2019-06-28 08:42] #43417 closed

[2019-06-28 09:16] atorok commented on #42409
I'we been working on running the build with more parallelism enabled which has unfortunately caused more (I believe) timing related failures such as this one: https://scans.gradle.com/s/m44sa6oyftyue/tests/6ej7h6toy4af6-6g5rmtb4agtbo

[2019-06-28 09:23] thewasta opened #43735 "Repository to use XPack in Laravel"
I would like to know if there is any repository/library to use Xpack in Laravel, currently I'm using
[cviebrock/laravel-elasticsearch](https://github.com/cviebrock/laravel-elasticsearch) but It haven't for X-pack and then I decided to change to this repository [ElasticSearch-PHP](https://github.com/elastic/elasticsearch-php), this one give you a link to a repository in case you want to use X-Pack:

[2019-06-28 09:31] bdecarne commented on #43574
Yep, you're right !

Thanks for the tip, i'll study that.

[2019-06-28 09:32] thewasta commented on #43735
In case you ask Why Xpack repository doesn't work:
Because this repository needs Elastic-PHP 5.0, and this version needs ElasticSearch >= 5.0, < 6.0, and this version of ElastcSearch, XPack isn't free.

[2019-06-28 09:58] romseygeek commented on #43464
Can this one be closed @javanna? I think #43482 should have auto-closed this one but it seems to have missed out somehow

[2019-06-28 10:05] nerophon opened #43736 "GET _template API can create a template"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.6.2 / 6.7.0

**Description of the problem including expected versus actual behavior**:
It is possible to create a new template by using the GET _template API with a body, as shown in the STR below. The expectation is that this should be impossible, as only a PUT or POST should be able to create a new template.

**Steps to reproduce**:

1

[2019-06-28 10:05] elasticmachine commented on #43736
Pinging @elastic/es-core-features

[2019-06-28 10:11] elasticmachine commented on #43724
Pinging @elastic/es-core-infra

[2019-06-28 10:12] elasticmachine commented on #43724
Pinging @elastic/es-docs

[2019-06-28 10:13] dliappis commented on #43724
Thanks for raising this issue.
This is related to https://github.com/elastic/elasticsearch/pull/27500

The last sentence in the commit reads:

So your observation validates this and indeed we need a clarification in the docs.

[2019-06-28 10:13] nerophon opened #43737 "Template can be created with wildcard * in the name"
**Elasticsearch version** (`bin/elasticsearch --version`): Affect all versions currently

**Description of the problem including expected versus actual behavior**:
It is possible to create a new template with a wildcard in the name. My expectation is that this should be prevented, because it leads to difficulty deleting the template individually.

**Steps to reproduce**:

1. Run: `DELETE _template

[2019-06-28 10:13] elasticmachine commented on #43737
Pinging @elastic/es-core-features

[2019-06-28 10:55] original-brownbear commented on #43387
Actually, this situation (being blocked in the `accept0` method) is always `RUNNABLE` if you're waiting on an IO system call (it's runnable too for blocking IO).

I looked into this a lot yesterday, but could not find any evidence that a zero linger value forcing a RST has any effect here. The only thing I found was this issue: https://bugs.openjdk.java.net/browse/JDK-8203059 (see the linked maili

[2019-06-28 11:01] sfcgeorge commented on #9442
"I had to set number_of_fragments: 0 to get all the text, then implement my own highlight-aware truncating in code."

You need to write application code to do the truncation. It's a terrible workaround because you'll be getting far more text over the network than you need. The code will depend on the language you're using but the algorithm is effectively:

* Scan for `<em>`s, if there are none the

[2019-06-28 12:01] sophiec20 opened #43739 "[ML] Reduce frequency of continuous data frame transform logging"
If configuring a data frame transform to run continuously, there is a log and audit entry for every time a checkpoint indexer completes (i.e. every 10s).
This is excessive logging and should be reduced.

![image](https://user-images.githubusercontent.com/4185750/60340364-46ea7400-99a3-11e9-9820-987a9caae844.png)

[code]

Suggest moving logging to DEBUG.

The audit entry frequency should be severel

[2019-06-28 12:01] elasticmachine commented on #43739
Pinging @elastic/ml-core

[2019-06-28 12:13] LloydArmstrong commented on #41131
This is not correct. When adding this to `elasticsearch.yml`, Elasticsearch fails to start stating:
[code]

[2019-06-28 12:28] jrodewig commented on #43721
You may be able to mine https://github.com/elastic/elasticsearch/pull/40903/files#diff-d9b40c6d43a0f89c103f76bab86b647c for some content.

The only thing missing would be an agg example.

[2019-06-28 12:32] marekmarkowski84 opened #43741 "NullPointerException in Elasticsearch when adding Index Pattern in kibana"
**Elasticsearch version**: Version: 7.2.0
**Kibana version**: 7.2.0
**JVM version**: JVM: 1.8.0_171
**OS version**: Ubuntu 18.04

**Description of the problem including expected versus actual behavior**:
Hey,

I noticed NullPointerException in the Elasticsearch logs (`org.elasticsearch.action.fieldcaps.TransportFieldCapabilitiesIndexAction:106`) when trying to add in kibana index pattern.
In addit

[2019-06-28 12:45] sophiec20 opened #43743 "[ML] Add node info to data frame _stats"
`GET _data_frame/transforms/blah/_stats` should return the node name that the transform persistent task is assigned to. This will make it easier for troubleshooting (finding logs) and can be displayed in UI upon row expansion. Also, node is already provided for anomaly detection and outlier detection.

[2019-06-28 12:45] elasticmachine commented on #43743
Pinging @elastic/ml-core

[2019-06-28 12:46] wedneyyuri commented on #41131
@LloydArmstrong The configuration is "cluster.initial_master_nodes", not "cluster.initial_master_nodes".

https://www.elastic.co/guide/en/elasticsearch/reference/master/discovery-settings.html#initial_master_nodes

[2019-06-28 12:48] sophiec20 opened #43744 "[ML] Add bucket_selector agg to data frame transform"
Add support for `bucket_selector` aggregation to data frame transform.

cc @stevedodson to provide more info on use case

[2019-06-28 12:48] elasticmachine commented on #43744
Pinging @elastic/ml-core

[2019-06-28 12:58] #43198 closed

[2019-06-28 13:13] williamrandolph commented on #32691
@rjernst, @jkakavas, and I met yesterday to discuss approaches to password prompts during app startup. Ryan advocated for an approach that delegates the complexities of password prompting to the startup scripts or environment configurations and limits the changes in application code to an absolute minimum. This approach is desirable because it sets us up for the use of a launcher tool, which happe

[2019-06-28 13:40] dliappis commented on #43696
This is a duplicate of #43695 so I will close this out and keep tracking progress in #43695 . I have raised #43748 to address it.

[2019-06-28 13:40] #43696 closed

[2019-06-28 13:41] dliappis commented on #43695
@hobo05 First of all thank you for the very thorough issue and analysis.

I've opened #43748 to address the issues you pointed out.

[2019-06-28 13:52] jpountz commented on #43453
We discussed this in FixitFriday and agreed that having shard allocation awareness attributes used at search time feels surprising, so we agreed to decouple (option 1). We also agreed that it would be breaking and that we should wait for 8.0 to change the default behavior. However we can add ways for users to opt in for this new behavior in 7.x.

There was no appetite to add a replacement for this

[2019-06-28 14:02] benwtrent commented on #43068
We opted to simply remove support for `format` in 7.3.0. We will also add the ability to add a `human=true` flag to the `_preview` response.

See more discussion here: https://github.com/elastic/kibana/issues/39250

PR removing the format: https://github.com/elastic/elasticsearch/pull/43659

[2019-06-28 14:02] #43068 closed

[2019-06-28 14:38] hendrikmuhs commented on #42409
more failures:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux-6/95/consoleFull

[2019-06-28 14:47] atorok commented on #43387
We have auditbeat running and could instruct it to report specific system calls via the audit build into the Linux kernel. You could rewrite the audtibeat config in the CI instance you created to do that and point it to a newly set up cloud instance.
Make sure to remove the rate limit and the other system calls from the config to make the results accurate. The build was generating too many events

[2019-06-28 14:56] original-brownbear commented on #43387
@atorok I'm not sure it's the auditing and probably hard to even reliably say if it is because:
One data point I have (but it's not hard statistics) is that it seems to only happen on certain VMs. Last night when I could reproduce it, I had it happen to me like every 20 runs on the VM I had up. The day before I ran hundreds of iterations with no luck ... I'm wondering if I may have gotten differen

[2019-06-28 14:59] wuxiansen opened #43755 "exception caught on transport layer : connection timeout ?"
### Elasticsearch version**  :  2.4.6

### JVM version**  :
[code]

### elastic yml :

[code]

### cat/node
[code]

### ( 3 num )Master Log:
[code]
**( 8 num )Node Log**:
[code]

### Problem:

I don't know why it's been added and removed then added and deleted again..again .········ ?**

[2019-06-28 15:16] dimatkach commented on #43722
Indeed, they have, and we do!
But we don't have to do that (detect and fail) on keystore load - failing because to start because configured realm `corp_ldap` does not have password set would do just as well if not better, and it would not create problems like the one we are discussing here.

I agree, that ES should detect and fail fast situations when configuration is _invalid_, just not when ther

[2019-06-28 15:22] wuxiansen commented on #43755
system  free 64G,    es jvm 31G

[2019-06-28 16:06] atorok commented on #43387
The CPU architecture should not change between VMs because their are created with  `--min-cpu-platform="Intel Skylake"`  and that's the newest that GCP has so we are guaranteed to always have it ( unless gcp runs out of capacity but then creating the VM will fail ).

[2019-06-28 16:07] romseygeek opened #43758 "Allow all token and character filters to be used in normalizers"
Elasticsearch makes a distinction between Analyzers, used for breaking up text into individual tokens and applying some normalization to them, and Normalizers, which do no segmentation of text and only apply the normalization stages, for use in keyword fields.  We have an additional restriction, which is that only character filters and token filters that are defined as `NormalizingXFactory` are pe

[2019-06-28 16:07] elasticmachine commented on #43758
Pinging @elastic/es-search

[2019-06-28 16:12] romseygeek opened #43759 "Prefix, Wildcard and Regexp queries should normalize their input"
The docs for prefix query currently call out explicitly that its input term is not analyzed.  Wildcard and regexp query similarly do no analysis on their inputs, although the docs don't mention this.

Lucene provides an `Analyzer.normalize()` method specifically for partial term searches, and we should start using this for all three partial term based queries.

[2019-06-28 16:12] elasticmachine commented on #43759
Pinging @elastic/es-search

[2019-06-28 16:54] abhiroj commented on #43244
can this issue be assigned to me?

[2019-06-28 17:14] abhiroj commented on #43514
can I take this up?

[2019-06-28 17:25] abhiroj commented on #38939
I would like to take it up? @DaveCTurner

[2019-06-28 17:27] abhiroj commented on #43264
can I have a look into it @tvernum ?

[2019-06-28 17:28] jrodewig opened #43765 "[DOCS] Reformat index API documentation"
Where possible, we should standardize our index API documentation to match the [Elastic API reference template](https://github.com/elastic/docs/blame/master/shared/api-ref-ex.asciidoc).

Relates to elastic/docs#937.

#### Index APIs to rewrite
- [x] Create Index (#45749)
- [x] Delete Index (#45755)
- [x] Get Index (#45758)
- [x] Indices Exists (#45918)
- [x] Close Index API (#45922)
- [x] Open Ind

[2019-06-28 17:29] elasticmachine commented on #43765
Pinging @elastic/es-docs

[2019-06-28 17:29] elasticmachine commented on #43765
Pinging @elastic/es-core-features

[2019-06-28 17:39] astefan opened #43766 "SQL: SqlIllegalArgumentException: Incorrect merging of mappings"
Test data in a `test` index:

[code]

Using `select * from test` gives:

[code]

[2019-06-28 17:39] elasticmachine commented on #43766
Pinging @elastic/es-search

[2019-06-28 17:48] abhiroj commented on #42486
can I take this up?

[2019-06-28 17:48] abhiroj commented on #29250
can I look into this?

[2019-06-28 17:49] dnhatn commented on #43514
@abhiroj Yes

[2019-06-28 17:52] sophiec20 opened #43767 "[ML] Data frame GET _stats response is confusing"
Found in `7.3.0-SNAPSHOT`

Continuous data frame `GET _stats` returns the following. Hopefully we can make this response a little less confusing:

- `indexer_state` - a value of `started` means it is idle whereas `indexing` means it is either searching or indexing. This is not precise, but is inherited from rollups so might be best to leave as is. Also having two states is confusing.
- `checkpoint

[2019-06-28 17:52] elasticmachine commented on #43767
Pinging @elastic/ml-core

[2019-06-28 17:59] abhiroj commented on #43514
cool! how should I get started to reproduce it

[2019-06-28 18:11] jdconrad opened #43769 "Decouple Painless Grammer from Painless AST"
Currently, building a Painless AST is dependent on information during the lexing/parsing process related to uses of specific variables.  This should be done as a new compiler pass in the Painless AST, so that a Painless AST may be built without any need for a specific grammar.

[2019-06-28 18:11] elasticmachine commented on #43769
Pinging @elastic/es-core-infra

[2019-06-28 18:15] astefan commented on #43766
This happens because the index exists, it has one document, but it has no fields... The only field doesn't have any value, so it was not created..., but the document was.

[2019-06-28 19:48] original-brownbear commented on #43387
Raised https://github.com/elastic/elasticsearch/pull/43772 as a suggestion on how we could detect accepted channels that "are not normal" as Tim puts it :)

[2019-06-28 20:17] pickypg opened #43774 "Bulk REST API allows arbitrary fields after action"
While trying to refresh a specific index within a `bulk` request containing multiple indices, I came across an unexpected scenario where unrecognized field names were ignored:

[code]

In ES 7.2.0, at least, this results in the document being indexed.

However, if you put `abc` in front of the `index` action, then it triggers an expected error [from my perspective]:

[code]

results in

[code]

We

[2019-06-28 20:41] imotov opened #43775 "Geo: linestrings crossing dateline from west to east are not indexed correctly"
When a linestring that crosses the dateline from west to east is decomposed, it creates a segment that spans the globe, producing wrong hits. To reproduce: we index a ">" shaped object crossing the dateline twice and then search by intersection with linesting stretching along  prime meridian.

[code]

During indexing the decomposition of `"LINESTRING(160 0,200 10,160 20)"` produces `multilinestrin

[2019-06-28 20:41] elasticmachine commented on #43775
Pinging @elastic/es-analytics-geo

[2019-06-28 23:52] tbrooks8 commented on #43387
I'm aware. I'm just saying that it does not appear to be a java monitor and we should not discount endless loops. Not that we should discount the possibility that `accept0` is blocking.

In order to isolate if that is also happen in netty I'm suggesting something along the lines of wrapping `ServerSocketChannel` and logging if `accept` is taking forever to return in the transport-netty4. It would

[2019-06-29 00:24] jakelandis commented on #42409
I spent some time today looking at these failures on the CI nodes with @atorok pending parallelism. I can see the box is working extremely hard and things are slower, but still could not find any relationship between load and these tests. I did find one issue : https://github.com/elastic/elasticsearch/pull/43781 which I think will help with the majority of the problems for SmokeTestWatcherWithSecu

[2019-06-29 08:37] JosanSun commented on #25860
This helps.
For Windows, the node file location is [ES-HOME]/bin/data/nodes. Try to delete this folder.

ES version: 6.4.1

[2019-06-29 17:53] kkewwei opened #43791 "org.elasticsearch.common.settings.Settings.processSetting causes "GET /_cluster/settings/" throwing ClassCastException"
ES_VERSION: 5.6.8 (all likely in all version)
JVM version : JDK1.8.0_112
OS version : linux
Description of the problem including expected versus actual behavior:
Firstly I push several cluster settings to cluster twice:
step 1:
[code]
step 2:
[code]
it is executed successfully(those may be don't work, which we ignore)
Secondly I want to see the settings by "GET /_cluster/settings", What is surpris

[2019-06-30 10:39] DaveCTurner commented on #43350
Thanks for the suggestion @vigyasharma. You've clearly put some effort into this idea. We discussed this recently as a team and drew two conclusions:

1. We do not want to weaken the hard `*.routing.allocation.total_shards_per_node` limits. These limits are for users who know that each node would fail with more than a certain number of shards, so ignoring these limits would result in a cascade of

[2019-06-30 15:44] #40174 closed

[2019-07-01 01:16] tvernum commented on #43264
@abhiroj If you know something about SAML and have an environment to test in, then that would be great.
The hard work on this issue will be making sure it is compliant with the spec, and works with major SAML IdPs. The actual development work is fairly straight forward.

[2019-07-01 03:38] tvernum commented on #43722
There is no reasonable heuristic that can tell the difference between a mistake and an intentional pre-configuration well enough to be of benefit to users.

It presumes that a typo in a setting key, will will always cause a hard failure due to the correct key being missing. In some cases this is true, but it is not always true.

Some settings are optional, it is intentional that the node will star

[2019-07-01 05:57] TomonoriSoejima opened #43797 "[doc]add info about pro on having multiple ingest node"
Currently, the doc below is silent about what will having multiple ingest node will do.
https://www.elastic.co/guide/en/elasticsearch/reference/master/ingest.html

Although it is expected that having multiple will work like round robin, it was not documented, so It would be nice if we can add some word about it.

Below is what I dug up.
https://github.com/elastic/elasticsearch/blob/99f88f15c5febbc

[2019-07-01 06:24] astefan opened #43798 "SQL: alias type of fields return no value if they need to be extracted from _source"
At the moment, ES SQL extracts data for the displayable fields from either doc values (preferably) or _source, through the use of `docvalue_fields` element or `_source` `includes/excludes`, respectively.

An `alias` type of field, though, if pointing to a field that cannot be extracted from docvalue_fields - a `text` field - it won't return any value from SQL. This is because of a limitation `alia

[2019-07-01 06:24] elasticmachine commented on #43798
Pinging @elastic/es-docs

[2019-07-01 06:24] elasticmachine commented on #43798
Pinging @elastic/es-search

[2019-07-01 06:56] jimczi opened #43800 "Highlighters should reject ignored keyword field early"
Highlighters are able to handle `text` and `keyword` field by reanalyzing their content at search time. However they don't check if the field was ignored at search time due to the `ignore_above` option. For instance a `keyword` field that is greater than the `ignore_above` option would skip indexing but if it is set in an highlighter option, the content will be extracted from `_source` and reanaly

[2019-07-01 06:56] elasticmachine commented on #43800
Pinging @elastic/es-search

[2019-07-01 07:21] juan131 commented on #40969
Sorry for the late response @jaymode

So, you don't see other alternative rather than configuring the ownership of the folder(s) so the user running ElasticSearch is the owner, do you?

[2019-07-01 08:12] abhiroj commented on #43264
sure, I can get started on it with setting up of a test env. Are there any relevant docs for that?

[2019-07-01 08:15] elasticmachine commented on #43797
Pinging @elastic/es-core-features

[2019-07-01 08:15] elasticmachine commented on #43797
Pinging @elastic/es-docs

[2019-07-01 08:15] timroes commented on #12411
I just wanted to check on in this issue and ping the current team @elastic/es-analytics-geo (since team names seem to have been changed).

We currently use that workaround described above in Kibana to calculate the "Other bucket" for terms aggregations and it's causing us a lot of pain. For one thing, it's the only thing we need to do a second request to gather all information needed for a visuali

[2019-07-01 08:23] elasticmachine commented on #43774
Pinging @elastic/es-distributed

[2019-07-01 08:42] elasticmachine commented on #43791
Pinging @elastic/es-core-infra

[2019-07-01 08:43] cbuescher opened #43804 "Reload analyzers should include analyzer names in response"
Currently the repsonse of the "_reload_search_analyzer" endpoint contains the index names and nodeIds of indices were analyzers reloading was triggered. We should additionally include the name of the search-time analyzers that were potentially reloaded. I just spent some time wondering why some change to the synonyms file wasn't picked up by a reload where the cause was that the analyzers I used w

[2019-07-01 08:43] elasticmachine commented on #43804
Pinging @elastic/es-search

[2019-07-01 08:44] jtibshirani opened #43805 "Follow-up improvements to `flattened` object fields."
This meta-issue tracks improvements to `flattened` object fields. The initial version of the feature was designed + tracked in #33003.

- [ ] Add support for additional query types like wildcard, regex, and fuzzy.
- [ ] Clean-up and add benchmarks to the metricbeat rally track.
- [ ] (needs research) Index all keys in the JSON object under a special subfield like `_keys`. Then a terms aggregation

[2019-07-01 08:44] elasticmachine commented on #43805
Pinging @elastic/es-search

[2019-07-01 08:47] elasticmachine commented on #43730
Pinging @elastic/es-search

[2019-07-01 08:48] markharwood commented on #43730
Does this behaviour depend on the Locale that the JVM is configured with?

[2019-07-01 08:57] elasticmachine commented on #43741
Pinging @elastic/es-search

[2019-07-01 09:05] markharwood commented on #43755
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2019-07-01 09:05] #43755 closed

[2019-07-01 09:08] markharwood commented on #43735
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2019-07-01 09:08] #43735 closed

[2019-07-01 09:11] jtibshirani commented on #33003
The initial version of the feature was merged in #42541. I filed #43805 to track follow-up improvements to the feature.

[2019-07-01 09:11] #33003 closed

[2019-07-01 09:19] elasticmachine commented on #43368
Pinging @elastic/es-core-features

[2019-07-01 09:21] jtibshirani commented on #25312
The initial version of the feature was merged in #42541 and backported to 7.3. I filed a new issue #43805 to track follow-up improvements.

[2019-07-01 09:21] #25312 closed

[2019-07-01 09:29] simioa commented on #43730
I don't know if this is the correct setting but I tried setting different locales with the following JVM Parameters:

"ES_JAVA_OPTS=-Duser.country=US -Duser.language=en"

and

"ES_JAVA_OPTS=-Duser.country=DE -Duser.language=de"

Both Configurations throw mapper_parsing_exception

[2019-07-01 09:39] markharwood commented on #43730
Maybe try[ the locale on the date mapping](https://www.elastic.co/guide/en/elasticsearch/reference/current/date.html#date-params)?

[2019-07-01 09:45] droberts195 commented on #43730
Another thing to try if you're not tied to `strict_date_optional_time` is to change the format to `iso8601`.  That accepts both comma and dot in all locales.  But I accept that if you're tied to `strict_date_optional_time` for backwards compatibility reasons it's not an option.

[2019-07-01 09:47] astefan opened #43806 "SQL: implement get/setBigDecimal for JDBC"
At the moment, these two methods are not implemented in the ES SQL driver, but would be good to have them.

[2019-07-01 09:47] elasticmachine commented on #43806
Pinging @elastic/es-search

[2019-07-01 09:54] astefan opened #43807 "SQL: handle BigInteger for getObject()"
The SQL spec doesn't have support for `getBigInteger()` (and it doesn't seem it will handle this any time soon - https://bugs.openjdk.java.net/browse/JDK-8221390), but we could support it as part of `getObject` method.

[2019-07-01 09:54] elasticmachine commented on #43807
Pinging @elastic/es-search

[2019-07-01 10:40] Hohol commented on #40005
@javanna, @colings86, can you answer, please?
Is this issue still needed at all?

[2019-07-01 11:33] astefan opened #43810 "SQL: cannot escape double quote inside another double-quoted literal"
[code]

[2019-07-01 11:33] elasticmachine commented on #43810
Pinging @elastic/es-search

[2019-07-01 11:38] astefan opened #43812 "SQL: allow configuring cert validation mechanism for JDBC driver connection"
"There's no way to override the SSL cert validation outside of a [keystore on the filesystem](https://github.com/elastic/elasticsearch/blob/dded86344a6f42fd3a59206cf28e0eda40e3282d/x-pack/plugin/sql/sql-client/src/main/java/org/elasticsearch/xpack/sql/client/SslConfig.java#L95-L109). This can be an issue when connecting to a dynamic set of servers that you do not have added to your local JKS (or w

[2019-07-01 11:38] elasticmachine commented on #43812
Pinging @elastic/es-search

[2019-07-01 11:44] astefan opened #43814 "SQL: consider relaxing the strict version matching for the JDBC driver"
Similar with https://github.com/elastic/elasticsearch/issues/36186, should we look into relaxing the above mentioned enforcement for the drivers?

[2019-07-01 11:44] elasticmachine commented on #43814
Pinging @elastic/es-search

[2019-07-01 12:22] #43739 closed

[2019-07-01 12:25] ahubmann opened #43820 "Avg aggregation over 0 documents/values yields Double.NaN if using transport client, but Double.POSITIVE_INFINITY if using REST client"
**Describe the feature**: Running an `avg` aggregation when 0 documents/values match yields different values depending on connection type (TransportClient vs RestClient).

**Elasticsearch version** (`bin/elasticsearch --version`): 7.2.0 (and 6.x as well)

**Plugins installed**: []

**JVM version** (`java -version`): 11.0.3

**OS version** (`uname -a` if on a Unix-like system): Linux sascha 4.15.0-

[2019-07-01 12:32] dliappis commented on #43695
Closed by #43748

[2019-07-01 12:32] #43695 closed

[2019-07-01 12:35] elasticmachine commented on #43820
Pinging @elastic/es-core-features

[2019-07-01 12:56] simioa commented on #43730
I set the locale on the Date Mapping, we still get `mapper_parsing_exception`.
It tried it with the locales `de_DE` and `en_US`.
It looks like this is not Locale specific.

Thanks for the tip with the `iso8601` format, it worked for me!
Is this format officially supported? It is not documented in the official documentation:
https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-da

[2019-07-01 13:06] ywelsch commented on #31545
@r-tock Can you check if this is still a problem in newer ES versions?
@ernestas-poskus Are you using suggest fields as well?

[2019-07-01 13:15] ywelsch commented on #42445
@tlrx can this be closed now?

[2019-07-01 13:37] r-tock commented on #31545
Yes, we are at 7.0 and the baseline is much higher compared to 6.2.4 days

- from a phone, xquz typoz

On Mon, Jul 1, 2019, 8:09 AM Yannick Welsch <notifications@github.com>
wrote:

[2019-07-01 13:39] jkakavas commented on #34396
I totally agree with Tim's comments on https://github.com/elastic/elasticsearch/issues/34396#issuecomment-502573636.

I don't see what structuring the message from Kibana to ES in a JWT and signing this JWT buys us. Requiring authentication ( kibana - or another user with required privileges - user credentials ) on top of TLS offers the same guarantees with no need for additional implementation.

[2019-07-01 13:54] imotov opened #43826 "Geo: Indexing of linestrings crossing dateline 5 times or more fails"
Linestrings that cross the dateline 4 times have the last segment repeated after decomposition and linestrings that cross the date line 5 times can fail with index out of bound exception. To reproduce:

[code]

Both issues seem to be caused by `offset` in the line https://github.com/elastic/elasticsearch/blob/68149b6058a720ec891974e8a6982c5e480fb9f1/server/src/main/java/org/elasticsearch/common/ge

[2019-07-01 13:54] elasticmachine commented on #43826
Pinging @elastic/es-analytics-geo

[2019-07-01 13:57] milnomada commented on #20367
This feature sounds interesting as we would like to handle automatic index creation when a new document insert needs it.
At insertion time, Elasticsearch looks for the _template to assign the schema, shard split configuration, etc. We would like to set a date driven alias name for inserts, searches and so the rollover name, which depends on the alias name too.

[2019-07-01 14:00] elasticmachine commented on #43730
Pinging @elastic/es-core-infra

[2019-07-01 14:02] #20586 closed

[2019-07-01 14:18] pgomulka commented on #43730
@simioa Thank you for raising this.
This indeed looks like a breaking change and I will aim to fix it soon.
We don't change the `DecimalPoint` when Locale changes. In fact we only used java.time default `DecimalStyle.STANDARD` which uses `.` (except for the `is8601` parser).

`strict_date_optional_time` is certainly to be fixed, but there might be some more - will update the issue later on this.

[2019-07-01 14:27] ywelsch commented on #41067
As we are missing the detailed logs here I've unmuted the test on master.

[2019-07-01 14:28] polyfractal commented on #40005
Can we assume serialization will always be performed when docCountError is non-null?

Are you referring to how it is serialized today?  Currently, `docCountError` is a [primitive `long`](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/InternalTerms.java#L63), so it is not possible for the variable to be null.

We will ind

[2019-07-01 14:51] Hohol commented on #40005
If I read from an old version stream, there is ambiguity in `0` value meaning.
Should I treat them as "0 errors" or "not calculated"?

[2019-07-01 14:59] polyfractal commented on #40005
I think we'll want to treat it as "not calculated", since that's the less-bad way to resolve the ambiguity.  E.g. if we interpret it as "0 error" we might assign a no-error rate to something that was just not calculated yet and actually has a large error, leading to very incorrect error reports.

(@javanna is on holiday right now, but he can confirm when he's back)

[2019-07-01 15:01] polyfractal commented on #20586
For anyone subscribed to this issue, `rare_terms` just merged into 7.x via #35718.  Which means it should be released as part of 7.3.0 :tada:

Thanks everyone for your patience, this issue has been open a very long time.  Definitely looking for feedback on the new agg, there are several knobs we can tweak and/or expose depending on how it works "in the wild".

[2019-07-01 15:11] hub-cap commented on #41067
good news, I have a failure for you to look at :)

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/448/console

[2019-07-01 15:13] polyfractal commented on #29250
@abhiroj sure :)

Fair warning though, it's marked as `high hanging fruit` meaning the solution is probably non-negligible and might be fairly difficult/complex.  And we might decide that the implementation is too complex or too difficult to use and not end up merging.  Just as an FYI. :)

[2019-07-01 15:39] pgomulka commented on #43413
we possibly still have to make it more resilient
another failure, does not reproduce
https://scans.gradle.com/s/4ddadzy7xvqio

[2019-07-01 15:41] polyfractal commented on #12411
Not overly familiar with the issue, but is there a reason that the [`missing` aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-missing-aggregation.html) and/or [`missing` parameter on terms agg](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html#_missing_value_14) aren't sufficient

[2019-07-01 15:57] davidkyle opened #43830 "[ML] Possible corrupt write to the normalizer process"
Reported for version 6.7.1, these errors were logged.

[code]

The corruption could have been caused by an OS level error with the named pipe or it could be that 2 threads were writing to the named pipe at the same time. There is some evidence to support the later as elsewhere in the file the following was reported

[code]

The error comes [after mkfifo](https://github.com/elastic/ml-cpp/blob/4dd9

[2019-07-01 15:57] elasticmachine commented on #43830
Pinging @elastic/ml-core

[2019-07-01 15:57] ywelsch commented on #41067
thanks @hub-cap. Unfortunately it's not enough logging. I've pushed 8a1a000da03 to increase log levels. If there's another failure, please report here.

[2019-07-01 16:27] elasticmachine commented on #43673
Pinging @elastic/es-core-features

[2019-07-01 16:28] jimczi commented on #43673
It is related to the ingest grok processor, @talevy  can you take a look and reassign if needed ?

[2019-07-01 16:41] gemaliano opened #43835 "[DOCS] Clarify keystore format in breaking changes 7.0"
Reading [breaking changes](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.0.html#watcher-notifications-account-settings) it is clear we have to use keystore.

It would be good to add clarification regarding keystore format.

Before 7.0 we could have setting in elasticsearch.yml
```xpack.notification.pagerduty.account.TEST.service_api_key```

In 7.0 we will need

[2019-07-01 16:41] elasticmachine commented on #43835
Pinging @elastic/es-docs

[2019-07-01 17:21] ernestas-poskus commented on #31545
@ywelsch

No, we don't, we had CPU burn with trivial vanilla search queries. We were upgrading from 5.6.8 had to use remote cluster reindex API to reindex to temporary cluster due to Lucene 6 version incompatibility.

@t-rock

Baseline is a sense of 7.x performs better than 6.3.0? Or there is no such issue on 7.x? How did you mitigate performance degradation?

[2019-07-01 17:44] imotov opened #43837 "Geo: indexing linestrings that go around the globe doesn't work for BKD shapes"
This looks like an old bug that was hidden by JTS, but got exposed after switching to BKD. Indexing of  `LINESTRING (0 0, 720 20)`, which represents a line that starts at (0, 0) and goes around the earth twice while moving slightly north. That line should used to decompose into three lines: `MULTILINESTRING ((0 0, -180 5), (-180 5, 180 15), (-180 15, 0 20))` during indexing, which wasn't very cons

[2019-07-01 17:44] elasticmachine commented on #43837
Pinging @elastic/es-analytics-geo

[2019-07-01 18:47] paulward24 opened #43840 "HashMap is is not thread safe. Field fileDetails is synchronized in 20 locations, but not in 1 (the 21st) location"
I submitted a CR for this issue:

https://github.com/elastic/elasticsearch/pull/43839

The field ```fileDetails``` (a ```HashMap```, i.e., not thread safe)

https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/indices/recovery/RecoveryState.java#L679

is used only in synchronzied methods (in about 20 locations), e.g.,:

https://github.com/elastic/elasticsearc

[2019-07-01 19:49] talevy commented on #43673
I investigated this issue in the past and wasn't sure how to resolve it. I'll take a look.

[2019-07-01 21:50] elasticmachine commented on #43840
Pinging @elastic/es-distributed

[2019-07-01 22:38] debadair opened #43846 "[DOCS] Streamline the Elasticsearch Getting Started intro"
Rework the intro and remove the information that's redundant with the Elasticsearch intro. Part of #43721.

[2019-07-01 22:38] elasticmachine commented on #43846
Pinging @elastic/es-docs

[2019-07-02 01:31] alpire opened #43850 "Request Circuit Breaker Bypass"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 7.2.0, Build: default/tar/508c38a/2019-06-20T15:54:18.811730Z, JVM: 12.0.1

**Plugins installed**:
No plugins install

**JVM version** (`java -version`):
java version "12" 2019-03-19
Java(TM) SE Runtime Environment (build 12+33)
Java HotSpot(TM) 64-Bit Server VM (build 12+33, mixed mode, sharing)

**OS version** (`uname -a` if on

[2019-07-02 01:50] elasticmachine commented on #43850
Pinging @elastic/es-core-infra

[2019-07-02 07:25] bittusarkar opened #43855 ""elasticsearch-plugin.bat remove" removes plugin descriptor file even if the plugin jar is in use"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.4

**Plugins installed**: [Any plugin]

**JVM version** (`java -version`): 1.8.0_212

**OS version** (`uname -a` if on a Unix-like system): Windows Server 2012 R2

**Description of the problem including expected versus actual behavior**:
`elasticsearch-plugin.bat remove <plugin name>` performs partial deletion which leaves Elasticsearc

[2019-07-02 07:41] elasticmachine commented on #43855
Pinging @elastic/es-core-infra

[2019-07-02 07:59] timroes commented on #12411
I think there is some confusing between missing and "Other documents" here :-) Missing is a bucket containing all the documents not having a value in that specific field  and instead they will get that missing value. Other bucket should contain all documents not returned in as a bucket otherwise. These can totally fine have values for that field, but just not be under the top x terms requested. So

[2019-07-02 08:19] akki opened #43858 "Draw attention to transport port in remote cluster documentation"
It would be nice to emphasize on the fact that remote cluster connections require another port (not the one Elasticsearch is usually available on).

I am not very clear on how these ports are different but after struggling a lot to set up a cross-cluster search I realised that Elasticsearch exposes port 9300 as well for some things and it is `9300` that needs to be mentioned in the `seeds`.

I do

[2019-07-02 10:03] astefan opened #43863 "SQL: with arrayLeniency enabled (by default in JDBC) empty array of values generate exception"
In case of JDBC (only because `field.multi.value.leniency` is enabled by default), the following test data:

[code]

will generate an exception for a simple query like `SELECT * FROM mjdbctest`.

[code]

This one happens only in pre 7.2 versions and the reason is [this fix](https://github.com/elastic/elasticsearch/commit/0b94416cc1e1c7b871e4521eb1129dca628acffa#diff-6d292f4ab3ddfc415649c328fd2faef

[2019-07-02 10:03] elasticmachine commented on #43863
Pinging @elastic/es-search

[2019-07-02 10:18] elasticmachine commented on #43858
Pinging @elastic/es-docs

[2019-07-02 10:18] jimczi commented on #43858
The documentation explicitly says that:
`All the communication required between different clusters goes through the` [transport layer](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-transport.html).
The linked documentation explains what the transport module is and how the communication is handle in this module. However I guess that it would help to repeat that the transpo

[2019-07-02 10:32] akki commented on #43858
@jimczi I admit I did somehow skipped going through the `transport layer` link when it was mentioned in the docs.

Do you mean something like adding another info point with the snippet (see attached picture)? I think that would is a good idea.

I would be happy to send a patch but it would quite helpful for me if you could tell me where these docs reside (Elasticsearch docs code seems a bit overwh

[2019-07-02 10:34] #43709 closed

[2019-07-02 10:52] alwag85 opened #43867 "span_near query does not return all occurrences that satisfy the conditions."
**Elasticsearch version:** 6.7.0 build_hash: 8453f77 lucene_version: 7.7.0
**Plugins installed:** No plugins installed
**JVM version:** 1.8.0_201
**OS version:** Linux 4.9.0-9-amd64 #1 SMP Debian 4.9.168-1+deb9u2 (2019-05-13) x86_64 GNU/Linux
**Description of the problem including expected versus actual behavior:**
Span_near query does not return all occurrences that satisfy the conditions. Becaus

[2019-07-02 10:58] sameerkattel commented on #13710
I was also looking for solution to the same problem. And from ES > 6.5 can be achieved this trough [conditional filter](https://www.elastic.co/guide/en/elasticsearch/reference/6.6/analysis-condition-tokenfilter.html)

[2019-07-02 11:25] jimczi commented on #43858
Yes, if you think it is helpful ;)

You can find this doc [here](https://github.com/elastic/elasticsearch/blob/master/docs/reference/modules/remote-clusters.asciidoc).

[2019-07-02 12:12] henningandersen commented on #43100
@hackery thanks for your interest in elasticsearch. I noticed that you are running version 6.8 but linking to "current" documentation. When I look in documentation for 6.8:

https://www.elastic.co/guide/en/elasticsearch/reference/6.8/docs-reindex.html

the type option seems to be described adequately. Please let us know if there is additional clarification necessary?

[2019-07-02 12:15] henningandersen commented on #38707
@synFK given that we have not heard back from you on this, I will close this issue. Please reopen with clarification if you think there is still something to improve here.

[2019-07-02 12:15] #38707 closed

[2019-07-02 12:18] elasticmachine commented on #43867
Pinging @elastic/es-search

[2019-07-02 12:22] Mpdreamz opened #43870 "Search validation dependents on cluster having documents"
Asserted this on `7.0.0` and `7.2.0` might be true for previous releases as well.

On a cluster with no indices:

[code]

[code]

returns:

[code]

As soon as you index a document however:

[code]

[code]

The same search:

[code]

now returns:

[code]

If you then delete the `index` again you will get a `200` for the same search once again.

[2019-07-02 12:22] elasticmachine commented on #43870
Pinging @elastic/es-core-infra

[2019-07-02 12:28] albertzaharovits commented on #34396
I also agree with Tim.

 Could you please explain the threat you see and why you consider this such high risk / or why it is not mitigated by tls and authentication ?

A certificate chain is an assertion of identity and has a time validity. SAML and OIDC identity assertions also have time validities, but those are much more restricted compared to certificates. My observation was that in the PKI de

[2019-07-02 12:30] elasticmachine commented on #43870
Pinging @elastic/es-search

[2019-07-02 12:31] #43413 closed

[2019-07-02 12:36] henningandersen commented on #37546
@jkelastic I wonder if following happened: you reindexed a relatively small set of docs (one batch only?) and one of the docs failed with above error but the rest of the docs were indexed OK?

The way reindex works is by reading out a batch of docs from source and then index those docs in one bulk request. Bulk indexing does best effort, indexing all docs that can go in and returning errors for th

[2019-07-02 12:55] polyfractal commented on #12411
Gotcha, makes sense :+1: .  Thanks for the extra details @timroes.  Mark added the team-discuss label to this, so we'll chat about it in the next meeting.

[2019-07-02 13:15] Pupkur commented on #40803
[code]

And when I`m trying:
[code]
Got error:
Open Distro Security not initialized.

[2019-07-02 13:35] astefan opened #43876 "SQL: failure while resolving a set of indices that have fields that are not found in other indices"
The simplest example that reproduces this is a minimum of 4 indices where each of them has fields that cannot be found in other indices. Also, this bug is present in 7.2+.

[code]

[code]

[code]

[code]

Then, creating an alias covering all these 4 indices:

[code]

And running a simple `SELECT * FROM my_alias` will return:

[code]

[2019-07-02 13:35] elasticmachine commented on #43876
Pinging @elastic/es-search

[2019-07-02 13:38] synFK commented on #38707
Hi @henningandersen,
the issue still exists, but I guess it is a cosmetic one. Of course the mapping shows us a field of type long. But when you request the actual data the reindexed string value is still double quoted, whereas the hard coded and thus successfully autoconverted value is not.

[2019-07-02 13:57] henningandersen commented on #38707
@synFK thanks for clarifying. This is the way it works, also if you simply put a document with a string for a long field:
[code]
gives:
[code]
whereas:
[code]
results in:
[code]

[2019-07-02 14:58] davidkyle commented on #43439
Here's a list of validations we make on PUT and those I suggest are deferrable

Validation | Deferrable
----------|-----------
Licensing check |  No
Simple regex check that source and destination indices do not overlap | No
Check for missing source index | Yes
Expanded source index expression contains destination index | Yes
Check destination index expression resolves to at most 1 index | No
User

[2019-07-02 15:03] rjernst opened #43881 "Remove Guice as a dependency"
Elasticsearch currently uses a forked version of Guice that is embedded into the codebase to manage construction of parts of the Node on startup. In addition to the overhead of keeping a forked copy, Guice blocks us from having a stable plugin api because plugin authors can get at any internal service from any plugin.

This is a meta issue to track removal of Guice. Thanks to an effort spanning mu

[2019-07-02 15:16] Hohol commented on #40005
I have two questions regarding this piece of code:
https://github.com/elastic/elasticsearch/blob/44ea7dca2241a748a2c00a4a4d788c9ea74cac60/server/src/main/java/org/elasticsearch/search/aggregations/bucket/terms/InternalTerms.java#L242-L243

1. Wouldn't `<=` instead of `<` be better in the first check?
2. How key order guarantees that there are 0 errors?
I found this mentioned in the documentation:

[2019-07-02 15:43] yesnid opened #43884 "ElasticSearch Documentation is wrong for update by query"
The documentation on this [page](https://www.elastic.co/guide/en/elasticsearch/client/java-api/7.1/java-docs-update-by-query.html), is incorrect in that it shows the argument of the script and language being passed to the new Script constructor in reversed order.

`UpdateByQueryRequestBuilder updateByQuery =
  new UpdateByQueryRequestBuilder(client, UpdateByQueryAction.INSTANCE);
updateByQuery.sou

[2019-07-02 15:47] akki commented on #43858
@jimczi - https://github.com/elastic/elasticsearch/pull/43883

[2019-07-02 15:51] dliappis opened #43885 "Clarify G1GC support on docs"
As of 6.5.0, [G1GC is now supported by Elasticsearch](https://www.elastic.co/blog/elastic-stack-6-5-0-released).

We should document this, perhaps in the [setup page](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup.html).

[2019-07-02 15:51] elasticmachine commented on #43885
Pinging @elastic/es-docs

[2019-07-02 15:51] elasticmachine commented on #43885
Pinging @elastic/es-core-infra

[2019-07-02 16:08] #43804 closed

[2019-07-02 16:14] michal-rozak commented on #34459
Hi @atorok, I would like to contribute but I can see that tasks above are not updated. Which task can be taken next?

[2019-07-02 16:56] polyfractal commented on #40005
I believe it is `<` because, if the returned size is smaller than what we requested, we know definitively that we have all the terms from that shard.  But if it is the same as the requested size, we're not sure if that was all that was available or if it was truncated before being sent to the coordinator

Ordering by the term itself (`"_key" : "asc"`) is basically lexicographic sorting.  So imagin

[2019-07-02 17:04] jdconrad opened #43889 "WatcherRestIT painless/10_basic/Test execute watch api with rest_total_hits_as_int failure"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+fast+part2/3/console

Did not reproduce with:
[code]

Output:
[code]

[2019-07-02 17:04] elasticmachine commented on #43889
Pinging @elastic/es-core-features

[2019-07-02 17:28] Hohol commented on #40005
Got it, thanks!

[2019-07-02 18:24] 111andre111 opened #43892 "Clarify datatypes array and text on docs"
On Page https://www.elastic.co/guide/en/elasticsearch/reference/current/array.html
https://github.com/elastic/elasticsearch/blob/current/docs/reference/mapping/types/array.asciidoc
there is the assumption, that array is a datatype.
But not really this is the case, so the title should be more like the title "Array handling".
Ideally this could be backported to 6.x versions as well?

So potentially

[2019-07-02 18:24] elasticmachine commented on #43892
Pinging @elastic/es-core-infra

[2019-07-02 18:24] elasticmachine commented on #43892
Pinging @elastic/es-docs

[2019-07-02 19:32] #43743 closed

[2019-07-02 19:45] amitavmohanty01 commented on #43722
I think you are mixing concerns here.

The concerns at play are:
1. picking settings from elasticsearch process
2. storing secure settings in a keystore
3. detecting incorrect settings

The approach taken by you is that when incorrect settings are added to keystore, you fail the process startup. You think you are failing fast. You are actually violating the design boundary of keystore though. A ke

[2019-07-02 20:21] elasticmachine commented on #43884
Pinging @elastic/es-docs

[2019-07-02 20:24] elasticmachine commented on #43884
Pinging @elastic/es-distributed

[2019-07-02 22:12] #43846 closed

[2019-07-02 22:12] andrewvc commented on #43439
Thanks for the comprehensive list @davidkyle. One question, if using the deferred setting, can the dataframe still be started without the source index being in existence, or does that cause the start command to fail due to the failed test query?

[2019-07-02 22:33] gwbrown commented on #40803
@Pupkur That looks like an issue with OpenDistro, which we don't maintain and can't provide support for.  We do our best to answer questions about our [default distribution](https://www.elastic.co/downloads/elasticsearch) and core Elasticsearch functionality on [our forums](https://discuss.elastic.co/c/elasticsearch) and address bugs here on GitHub, but for third-party plugins you'll need to get s

[2019-07-03 00:10] jakelandis commented on #42409
I'm also hopeful that https://github.com/elastic/elasticsearch/pull/43888 will address the issue noted in https://scans.gradle.com/s/m44sa6oyftyue/tests/6ej7h6toy4af6-6g5rmtb4agtbo it may also be the cause for other non-reproducible failures too.

[2019-07-03 02:11] tvernum commented on #43722
The elasticsearch keystore is not, and was never intended to be a general purpose keystore.
It is specifically designed as an extension of the YAML file into a encrypted format of our own design, that is cleared from memory as soon as it is processed.

It should not be shared between processes (and cannot be because it must be stored in the same directory as the YAML).

There are other designs tha

[2019-07-03 02:15] Crazy-x opened #43896 "java.io.StreamCorruptedException: invalid internal transport message format, got (3,0,0,2f)"
java.io.StreamCorruptedException: invalid internal transport message format, got (3,0,0,2f)

[2019-07-03 02:16] Crazy-x commented on #43896
Caused by: java.io.StreamCorruptedException: invalid internal transport message format, got (3,0,0,2f)
   at org.elasticsearch.transport.TcpTransport.validateMessageHeader(TcpTransport.java:1072) ~[elasticsearch-6.5.0.jar:6.5.0]
   at org.elasticsearch.transport.netty4.Netty4SizeHeaderFrameDecoder.decode(Netty4SizeHeaderFrameDecoder.java:36) ~[transport-netty4-client-6.5.0.jar:6.5.0]
   at io.nett

[2019-07-03 02:25] tvernum commented on #43896
Hi @Crazy-x - when you opened this issue there was a template there with various fields to fill in.
We really need that information in order to be able to do anything useful with your report.

All you have provided is a stack trace - we don't know what you were trying to do, where this stack trace came from, what version you were running, etc. etc.

If you would like assistance with this, then we

[2019-07-03 02:41] Crazy-x commented on #43896
thanks for the reminder

[2019-07-03 02:46] Crazy-x commented on #43896
!-- Bug report -->

**Elasticsearch version** (`bin/elasticsearch --version`): 6.5.0

**Plugins installed**: elasticsearch-analysis-ik

**JVM version** (`java -version`):1.8

**OS version** (`uname -a` if on a Unix-like system):centos 7.4 by docker

**Description of the problem including expected versus actual behavior**:
This happens all the time:
 java.io.StreamCorruptedException: invalid intern

[2019-07-03 03:57] #30974 closed

[2019-07-03 05:08] DaveCTurner commented on #43896
This message indicates something other than Elasticsearch is opening a connection to Elasticsearch and sending it invalid data. I do not think this is a bug, as there's nothing we can do in Elasticsearch to prevent this, so I am closing this issue. @Crazy-x it's normally a good idea to ask questions like this on the [forums](https://discuss.elastic.co/c/elasticsearch) instead.

[2019-07-03 05:08] #43896 closed

[2019-07-03 05:18] DaveCTurner commented on #32688
I'd like to add to this list:

**Example 4: HTTP port used where the transport port should have been used**

Mostly this results in no logs at all, because the opening handshake from Elasticsearch contains no newlines and silently times out after a second. Occasionally you'll get lucky and the message will contain a newline (e.g. the incrementing message ID ends in `0x10`) yielding an HTTP error r

[2019-07-03 05:20] Crazy-x commented on #43896
Ok, thanks.

[2019-07-03 05:55] #29771 closed

[2019-07-03 06:10] atorok commented on #34459
Thanks for your interest @michal-rozak . I Updated the task to mark the ones that were completed.

[2019-07-03 06:57] tlrx commented on #42445
Translog files are now trimmed for closed indices (#43156) and translog stats are now correctly exposed (#43752, #43825).

[2019-07-03 06:57] #42445 closed

[2019-07-03 07:09] henningandersen commented on #43387
This build failure is interesting in that it has 5 failures that all seem to originate in the blocked accept calls:

https://scans.gradle.com/s/nlb242bn3wn4q/tests/failed

[2019-07-03 07:15] elasticmachine commented on #43881
Pinging @elastic/es-core-infra

[2019-07-03 07:16] elasticmachine commented on #43858
Pinging @elastic/es-distributed

[2019-07-03 07:17] tvernum commented on #30077
`SecurityClient` has been removed from master. This is no longer needed.

[2019-07-03 07:17] #30077 closed

[2019-07-03 07:19] tvernum commented on #43264
Sorry, No. For elasticsearch in general there is a contributing guide that covers running tests, but we don't have any docs that explain how to test SAML with a real Identity Provider.
If you don't already have a working SAML environment to test in, then I wouldn't recommend working on this issue.

Something with the [Good First Issue](https://github.com/elastic/elasticsearch/labels/good%20first%2

[2019-07-03 07:23] #43741 closed

[2019-07-03 07:56] russcam opened #43905 "Indices Exists API missing include_type_name in REST API spec"
### Issue

Relates: https://github.com/elastic/elasticsearch-net/issues/3901

The REST API spec for indices.exists.json is missing `include_type_name` in 6.8.0:

https://github.com/elastic/elasticsearch/blob/12632795cdeb57a9092da4a0508f58424c5d7fc6/rest-api-spec/src/main/resources/rest-api-spec/api/indices.exists.json#L16-L42

Sending an index exists request without `include_type_name` results in

[2019-07-03 08:51] davidkyle commented on #43439
If the checks have been deferred and the source index is missing the data frame will fail on start in one of 2 ways:

1. If the destination index does not exist it is created with mappings deduced from the source index mappings. If the source index is missing the deduction will fail, this is the `Failed to deduce dest mappings` error mentioned above.

2. The destination index exists but the source

[2019-07-03 09:13] amitavmohanty01 commented on #43722
I understand that we might be coming up with suggestions based on partial knowledge and hence not being able to figure out why something makes sense for you. I am not sure if you would be at the liberty of sharing more design details.

I think the actionable points to know would be the following:

- can you consider the reference based design in a future release ?
- does it make sense to provide t

[2019-07-03 09:31] henningandersen commented on #43884
@yesnid thanks for reporting this, I have opened #43907 to address this.

Notice that you are looking at the documentation for the [deprecated transport client](https://www.elastic.co/guide/en/elasticsearch/client/java-api/7.1/java-api.html).

[2019-07-03 09:41] henningandersen commented on #43514
@abhiroj I think resolving this takes following steps:

1.reproduce it using the example above against an elasticsearch node.
2. write a test that provokes the same, either as an ESIntegTestCase that does such an update against a test node and/or a ESTestCase that runs against UpdateHelper more directly.
3. remove the leniency and figuring out what kind of error reporting to do.
4. run the full su

[2019-07-03 09:44] pgomulka commented on #42588
This behaviour is defined in [jdk javadoc](https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatterBuilder.html#appendPattern-java.lang.String-)
[code]
It mentioned that this is localized. The code that is responisble for this is here:
[code]

[2019-07-03 10:37] elasticmachine commented on #43905
Pinging @elastic/es-search

[2019-07-03 11:19] NineSwordsMonster opened #43911 "OpenJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release."
**Describe the feature**:

A gc deprication error is being shown, then shutdown soon.

**Elasticsearch version** (`bin/elasticsearch --version`):
`7.2.0`
`docker pull docker.elastic.co/elasticsearch/elasticsearch:7.2.0`

**Plugins installed**: []

**JVM version** (`java -version`):
I use docker image, I dont know really.

**OS version** (`uname -a` if on a Unix-like system):
Darwin ErasmeMacBook-P

[2019-07-03 11:38] #43840 closed

[2019-07-03 12:26] weizijun opened #43915 "tranlog with async type has the risk of data loss when processor dead suddenly"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 6.6.1

**Plugins installed**: [analysis-icu,analysis-ik]

**JVM version** (`java -version`): 11.0.2+9-LTS

**OS version** (`uname -a` if on a Unix-like system): 3.10.0-514.16.1.es01.x86_64 #1 SMP Wed Oct 17 23:14:35 CST 2018 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus ac

[2019-07-03 12:29] weizijun commented on #43915
@ywelsch I see this PR https://github.com/elastic/elasticsearch/pull/43205. Can this PR help to solve this issue?

[2019-07-03 12:30] imotov opened #43916 "Geo: inconsistent handling of out of bounds coordinates in different geo shapes"
We allow out of bounds coordinates in linestrings and polygons, but not in points. In the following example the indexing of LINESTRING succeeds but the indexing of MULTIPOINT with the same set of coordinates fails.
[code]

[2019-07-03 12:30] elasticmachine commented on #43916
Pinging @elastic/es-analytics-geo

[2019-07-03 12:41] DenKn opened #43917 "date_nanos does't work for 19 symbols nanoseconds"
Hi.
ES - 7.2.0.
I created template with property
 _"timestamp": {
                                "type": "date_nanos",
                                "format": "epoch_millis"
                            }_
But for 1558627800000000000 value I get _[date_nanos] in document with id 'bwjIt2sBHKc_ISRgNqQB', caused by: date[+49392918-10-14T02:40:00Z] is after 2262-04-11T23:47:16.854775807 and cannot b

[2019-07-03 12:42] andrewvc commented on #41699
@jakelandis have any plans been made in terms of scheduling this `auto_create` flag? We still see this somewhat regularly in the wild.

[2019-07-03 12:44] tlrx opened #43918 "thirdPartyAuditTask is disabled for :plugins:repository-s3"
Earlier today I tried to run the `thirdPartyAudit` task for the `repository-s3` project but the task is always skipped:

[code]

@ywelsch found that the task is disabled by https://github.com/elastic/elasticsearch/blob/4586f2928cc3a0f729692b25c54c746ed730dd52/buildSrc/src/main/java/org/elasticsearch/gradle/testfixtures/TestFixturesPlugin.java#L59 when a docker-compose.yml file exists in the projec

[2019-07-03 12:44] elasticmachine commented on #43918
Pinging @elastic/es-core-infra

[2019-07-03 12:55] andrewvc commented on #43439
Thanks @davidkyle . We do have a workaround, which is a dummy empty index that always matches the source, but it'd be nice not to have to use that.

[2019-07-03 13:38] robin13 opened #43921 "Support for nested groups in LDAP authentication realm"
Currently Elasticsearch does not support searching nested groups in LDAP, but it does with AD ([see docs](https://www.elastic.co/guide/en/elastic-stack-overview/current/security-limitations.html)).  Would it be possible to enable nested groups for the LDAP authentication realm as well?

[2019-07-03 13:38] elasticmachine commented on #43921
Pinging @elastic/es-security

[2019-07-03 13:50] astefan opened #43922 "SQL: change date_histogram to stop using deprecated "interval""
Following https://github.com/elastic/elasticsearch/pull/33727 the `interval` has been considered deprecated in favor of `calendar_interval` and `fixed_interval`. For 8.x and 7.2+, we should make the change in SQL as well.

This, also, brings another interesting side effect: lack of tests that check the response headers of sql requests.

[code]

The deprecation message is being transmitted as an ht

[2019-07-03 13:50] elasticmachine commented on #43922
Pinging @elastic/es-search

[2019-07-03 14:01] droberts195 commented on #43662
I will add some internal cluster tests similar to `MlDistributedFailureIT` and `BasicDistributedJobsIT` to enable these scenarios to be more easily tested.

[2019-07-03 14:18] henningandersen commented on #23558
We discussed this issue as a team and seek further clarification. The example given in the description seems to be equally easily solved by applying a script at index time instead.

But we were wondering if there is another underlying use case: supporting reindex of documents with [disabled source or source filtering](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-source-f

[2019-07-03 14:20] elasticmachine commented on #43892
Pinging @elastic/es-search

[2019-07-03 14:23] atorok opened #43924 "CI: org.elasticsearch.client.MachineLearningIT » testStopDataFrameAnalyticsConfig"
## Example build failure
https://scans.gradle.com/s/dkjie5h3phbx4/tests/43nmsh6ur4gh6-yfbilbda7ksos
https://scans.gradle.com/s/dkjie5h3phbx4/tests/43nmsh6ur4gh6-yfbilbda7ksos

## Reproduction line
does not reproduce locally, seems to reproduce when the build is running with `--parallel`

[code]

## Example relevant log:
[code]

## Frequency

7 times in the past 6 days

[2019-07-03 14:23] elasticmachine commented on #43924
Pinging @elastic/ml-core

[2019-07-03 14:30] elasticmachine commented on #43915
Pinging @elastic/es-distributed

[2019-07-03 14:34] henningandersen commented on #17997
The primary purpose of reindex is to copy data from one index to another either for upgrades, mapping/schema changes or migration between clusters. These are all one to one cases which is also the assumption in reindex. Adding aggregation style functionality into the mix should be carefully considered in order to not unnecessarily complicate both the API and the implementation. We currently think

[2019-07-03 14:34] #17997 closed

[2019-07-03 14:34] brackxm opened #43925 "HLRC rest_total_hits_as_int"
Add rest_total_hits_as_int by default to the HLRC search requests in 6.8.x
Or add a way to set it (per request or globally).
This to allow the 6.8 - 7.x transition with 6.8 clients connecting to both 6.8 and 7.x servers.

[2019-07-03 14:37] ywelsch commented on #43915
I'm not sure that I understand the question here. Can you explain what the unexpected behavior here is? When using `translog.durability` set to `async`, there is a risk of losing acknowledged writes ([as the documentation says](https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules-translog.html)). Is the confusing part perhaps that it only talks about hardware failure, wher

[2019-07-03 14:47] original-brownbear commented on #43649
We discussed this during our team meeting today. As a first step towards a solution here, I will add functionality to our testing that ensures that we don't leave dangling tasks/transport-handlers after tests.

[2019-07-03 15:01] elasticmachine commented on #43925
Pinging @elastic/es-core-features

[2019-07-03 15:33] polyfractal commented on #12411
Chatted in analytics meeting, and unfortunately we're at the same roadblock as four years ago.  We can't calculate an "other" bucket before we know the global `top-n` results... and at that point it's too late to build an "other" bucket because we are reducing on the coordinating node.  To do this we need two-pass/multi-pass support in the aggregation framework which doesn't exist today (although

[2019-07-03 15:49] dakrone commented on #41699
@andrewvc we haven't started on it, but we're currently going through the backlog and prioritizing things for working on, this is one of the issues included in that backlog.

[2019-07-03 15:49] henningandersen commented on #39120
@masoudjahromi thanks for your interest in elasticsearch. Given that we have not heard back from you on above, I am going to close this issue. If you still want to pursue this, please provide the information asked for and reopen this issue.

[2019-07-03 15:49] #39120 closed

[2019-07-03 16:08] atorok commented on #43924
muted in 5c6ca8d99f7 on master and 3250cc53f0ein `7.x`

[2019-07-03 16:11] henningandersen commented on #37765
I think this is the same problems as: #40409. In case two shards try to update the mapping (when a new field is discovered), one of them could fail when the auto-discovered type differs (in your case float vs long).

I would like to ask for a couple of clarifications:

1. when you wrote:

you were supposedly still ingesting all documents using the .NET program above, only you had bulkSize=1? Or is

[2019-07-03 16:18] bbfsdev commented on #43308
Pinging @elastic/es-search

[2019-07-03 16:19] bbfsdev commented on #43308
@jimczi Friendly ping.

[2019-07-03 16:20] henningandersen commented on #35636
@PnPie this should be fixed now by #41894 where we renamed size to max_docs, fixing confusion on the different size parameters in place. I will therefore close this issue.

[2019-07-03 16:20] #35636 closed

[2019-07-03 16:22] original-brownbear commented on #20867
I'd like to reopen this, given the current work on cleaning up unreferenced data.
I think we should take some action here to:

1.  Either clean up snapshots that are definitely not restorable anymore (segment files are too old). Currently these are simply dead data in the repository because they can't even be restored by using an older ES versions if another snapshot happened as the older version

[2019-07-03 16:30] Hohol commented on #40005
PR is ready for review
https://github.com/elastic/elasticsearch/pull/43874

[2019-07-03 16:33] henningandersen commented on #33740
@ollik1 the primary problem would be fetching the data for the relations field. To do that you would need to have it stored as docvalues in a keyword field or use field data. Field data is not recommended unless you have a small dataset.

Once that part is solved, I believe that you can add the `relations` field in your update scripts by reading the doc-value and then setting the value, much like

[2019-07-03 19:06] masoudjahromi commented on #39120
Thanks, my problem was solved. thank you :)

[2019-07-03 20:21] jimczi commented on #43308
Sorry for the late reply @bbfsdev , I am able to reproduce the issue and found the bug. We're expanding every position with multiple terms (different stemming for the same term for instance) to span prefix queries so this explains why the final query is so big.
That's the version of the query with the bug:
[code]

I opened https://github.com/elastic/elasticsearch/pull/43941 to fix the bug, thanks

[2019-07-03 20:38] jimczi commented on #43917
This is explained in the [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/master/date_nanos.html). We store the `date_nanos` as a long representing nanoseconds since the epoch so this limits the range of date that we can represent.

[2019-07-03 20:38] #43917 closed

[2019-07-03 22:03] DenKn commented on #43917
Thanks for reply @jimczi.
I read the documentation. But 1558627800000000000 value is 5/23/2019, 7:10:00 PM.
If you enter it in _Convert epoch timestamp to date_ field on https://www.freeformatter.com/epoch-timestamp-to-date-converter.html page.
And I don't understand why elastic convert it to the strange date[+49392918-10-14T02:40:00Z].

[2019-07-03 22:49] jimczi commented on #43917
In your example the format is set to `epoch_millis` so the long value that is provided is interpreted as a number of milliseeconds since epoch.  `1558627800000000000` in milliseconds since epoch is indeed `[+49392918-10-14T02:40:00Z].`, we don't provide an `epoch_nanos` format so if you want to index dates with nanoseconds you'll need to use a string and the `strict_date_optional_time` like explai

[2019-07-03 23:24] gwbrown opened #43950 "SnapshotLifecycleTemplateRegistryTests.testThatNonExistingTemplatesAreAddedImmediately fails on CI non-reproducibly"
[Build scan](https://scans.gradle.com/s/kgpuaemqbil5i) from a PR that changes this test, but it fails in a similar way unchanged as well.

Reproduce line (does not reproduce locally):
[code]

Stack trace:
[code]

I've tried increasing the timeout to 60s but that [doesn't prevent failures](https://scans.gradle.com/s/orldrheojt7iw). This one is going to need some more thorough investigation.  There'

[2019-07-03 23:24] elasticmachine commented on #43950
Pinging @elastic/es-core-features

[2019-07-04 01:07] russcam opened #43954 "track_total_hits should be Union of boolean and integer"
### Issue

The search.json REST API spec in 7.x defines `track_total_hits` as a `boolean`

https://github.com/elastic/elasticsearch/blob/c5930851043522c69613f68b2ac3b8ac3dfbcfbe/rest-api-spec/src/main/resources/rest-api-spec/api/search.json#L162-L165

The [documentation indicates however that `track_total_hits` can be a `boolean` or an `integer`](https://www.elastic.co/guide/en/elasticsearch/refer

[2019-07-04 02:07] weizijun commented on #43915
It's not hardware failure. hardware is ok, but process is down.
I simulate this case by kill -9 es pid, in somecase maybe jvm core, or oom-killer will cause the same problem.

yeah, recovery from store. indices number_of_replicas=0, It's primary recovery.

[2019-07-04 02:53] elasticmachine commented on #43954
Pinging @elastic/es-search

[2019-07-04 03:01] NineSwordsMonster commented on #43911
not this error cause

[2019-07-04 03:01] #43911 closed

[2019-07-04 03:31] weizijun commented on #43915
In Provide logs. translog.ckp's globalCheckpoint=0xcb73. But in translog-3.tlog,there are many log's seqNo > 0xcb73. in translog-3.tlog's last log, seqNo=0xcbf0. Recovery from translog lost the translog operation from seqNo 0xcb74 to 0xcbf0.

[2019-07-04 05:09] laf-rge opened #43955 "index.routing.allocation.initial_recovery._id split after shrink"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.1.1

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

 1. Create an index
 2. Shrink an index
 3. remove the node the shrink occurred on from the cluster
 4. Wait for ind

[2019-07-04 05:10] laf-rge commented on #43955
Similar to #31787

[2019-07-04 05:11] laf-rge commented on #43955
You might be asking yourself: why would you split a node after a shrink? Short answer: bad ILM policy.

[2019-07-04 05:14] elasticmachine commented on #43955
Pinging @elastic/es-distributed

[2019-07-04 05:40] Pupkur commented on #40803
Oops. Sorry. I hope this bug does not exist in elasticsearch.
Good day for all!

[2019-07-04 06:58] karmi commented on #43954
I can't find the previous conversation we had about this topic, but what about making the `type` an array? (Also related the schema change in https://github.com/elastic/elasticsearch/pull/42346)

[2019-07-04 07:38] #43308 closed

[2019-07-04 08:10] dimitris-athanasiou commented on #43924
Ah, this is so simple actually. We call start and assert that the state is `started` but it could very well be `reindexing` or even `analyzing` depending how fast things go. I'll raise a fix.

[2019-07-04 08:36] henningandersen commented on #18787
@PhaedrusTheGreek since the transport client and the associated java API docs are now gone in master, I am closing this issue.

[2019-07-04 08:36] #18787 closed

[2019-07-04 09:07] atorok opened #43960 "CI: RunDataFrameAnalyticsIT testStopOutlierDetectionWithEnoughDocumentsToScroll fails with : all shards failed"
## Example build failure
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob+fast+part2/40/

## Reproduction line
does not reproduce locally
[code]

## Example relevant log:
[code]

## Frequency
12 times in the past 6 days across branches

[2019-07-04 09:07] elasticmachine commented on #43960
Pinging @elastic/ml-core

[2019-07-04 09:18] atorok commented on #43960
Muted on `master`, `7.x` and `7.3`

[2019-07-04 09:23] sophiec20 opened #43961 "[ML] Allow force delete for a data frame transform"
Found in 7.3.0-SNAPSHOT 03-Jul-2019

In order to delete a failed transform, the user must first `_stop?force` it and then `DELETE`.

This is a theoretical two step process but in reality they will probably try `DELETE` and see a failure, then `_stop` and see a failure, then `_stop?force` and then the final `DELETE`.

We should allow the user to delete a failed transform without directing them thro

[2019-07-04 09:24] elasticmachine commented on #43961
Pinging @elastic/ml-core

[2019-07-04 09:29] chilang opened #43962 "Support KMS in Google Cloud Storage Repository plugin"
Please add support for Cloud KMS/Customer-Managed-Key encrypted Google Cloud Storage bucket in GCS Repository plugin.

**Elasticsearch version** (`bin/elasticsearch --version`):
5.2.2

**Plugins installed**: []
GCS Repository 5.2.2
GCE Discovery 5.2.2

**JVM version** (`java -version`):
openjdk version "1.8.0_212"

**OS version** (`uname -a` if on a Unix-like system):

Linux xxx 3.10.0-957.12.1.e1

[2019-07-04 09:35] jkakavas opened #43964 "CI: org.elasticsearch.index.shard.IndexShardIT#testIndexCanChangeCustomDataPath"
#### Example reproduction

[code]

#### Example failure

https://scans.gradle.com/s/zngdfh37brdo2/

#### Frequency

[11 times since yesterday](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'!'testIndexCanCha

[2019-07-04 09:37] elasticmachine commented on #43964
Pinging @elastic/es-distributed

[2019-07-04 09:39] elasticmachine commented on #43962
Pinging @elastic/es-distributed

[2019-07-04 09:49] ywelsch commented on #41067
Finally, we have TRACE-level logs: https://scans.gradle.com/s/yepruddzyxi3s/console-log/raw and https://scans.gradle.com/s/ouz4wjgdwui54/console-log/raw as well as an explanation for the failure.

The test fails because the `RemoteClusterService` in this test manages to successfully establish connections after closing the transport service for the nodes that it should be connecting to.

The reason

[2019-07-04 09:50] Tomassino opened #43966 "date_time format change in elasticsearch from version 6.5 to 7.2"
**Elasticsearch version**: 6.5.4 and 7.2.0

**Plugins installed**: []

**JVM version** (`java -version`): openjdk version "1.8.0_212"

**OS version** (`uname -a` if on a Unix-like system): Linux tommy 4.15.0-54-generic #58-Ubuntu SMP Mon Jun 24 10:55:24 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

I noticed that some dates that

[2019-07-04 10:10] #43924 closed

[2019-07-04 10:17] ywelsch commented on #43962
[Elasticsearch 5 is EOL](https://www.elastic.co/support/eol). The reason this is not working is because the “Copy Object" method is used by the snapshot functionality in ES 5, which is incompatible with CMK (see https://cloud.google.com/storage/docs/encryption/customer-managed-keys). This has been changed in ES versions >=6.4.0 (see https://github.com/elastic/elasticsearch/pull/31100). This might

[2019-07-04 10:25] ywelsch commented on #43964
I've assigned this to @tlrx as I suspect it might be related to the translog trimming work which now runs on closed indices. The test assumes that the data on disk does not change for a closed  index.

[2019-07-04 10:39] elasticmachine commented on #43966
Pinging @elastic/es-core-infra

[2019-07-04 10:58] arthurvb commented on #43966
Same problems here, which actually lead to a Datetime from the Nest-client not being indexed:

[code]

I suspect it is because the millis part is not padded with zero's.

[2019-07-04 10:58] atorok opened #43971 "Resolve fallout from version bumps in CI"
## The Problem

Depending on the order in which versions are bumped on different branches, we could be getting build failures when checking out and building BWC versions.

Unreleased versions are mapped  to branches and asserted that the version produced there is the one we are expecting.
If  this version was bumped on the current branch but not on the BWC branch or the other way around, these won

[2019-07-04 11:17] pgomulka commented on #43966
@Tomassino you are right, this is because since ESv7 we limited year for `date_time` to max 5digits. This should probably be changed to 10. What is your view on this @spinscale ?
previous implementation using joda year was  4-9digits

[2019-07-04 11:21] elasticmachine commented on #43971
Pinging @elastic/es-core-infra

[2019-07-04 11:43] pgomulka commented on #43966
@arthurvb your problem might be related to the way `strict_date_optional_time` is parsing fields when minimum width is exceeded. For this parser we define `SignStyle.EXCEEDS_PAD`.
Not sure if this is a bug. will investigate

[2019-07-04 11:44] Lakshay-Awasthi opened #43973 "elasticsearch not getting started"
**Elastic Search not getting started**:

**7.2.0 version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**"1.8.0_202** (`java -version`):

**Windows** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index c

[2019-07-04 11:46] atorok commented on #43971
## Atomic git push

It look like git supports __atomic pushes__.
One could do the version bump on all branches and then do something like
[code]
We should update the documentation on how to do version bumps and eventually automate it.

## No longer store metadata

We are currently checking out the BWC branches individually after the build starts,
so we could be in the situation where we check out

[2019-07-04 11:47] pgomulka commented on #43966
@arthurvb  I am surprised to see your use case failing. `strict_date_optional_time` can accept from 1-9 digits on fraction of a second part.
Can you provide more details in a new bug?

[2019-07-04 11:48] sophiec20 commented on #40162
From an end-user perspective, I am finding the YEAR method kinda strange. My SQL background expects this to be the calendar year of the data i.e. `datepart(date,'yyyy')`.

The following results were returned for the same data. Results B and D (which both use calendar_interval date histogram) is what I would expect to be returned.  (I don't quite understand results A and C.)

[A] Using SQL
[code]

[2019-07-04 11:49] atorok commented on #43971
@rjernst @mark-vieira I'm happy to implement this but would like your thoughts first.

[2019-07-04 11:54] sophiec20 commented on #40162
looks like this will probably be resolved by https://github.com/elastic/elasticsearch/issues/43922

[2019-07-04 12:03] droberts195 opened #43974 "Scrolling a remote index should not require cluster:monitor/state privilege"
At the moment it seems that starting a scroll on a remote index requires just the index permissions you'd expect, but _continuing_ that scroll involving a remote index additionally requires that you have permission to read the _entire_ cluster state.

To demonstrate:

1. Install two local single node clusters on your machine with security enabled: cluster 1 and cluster 2
2. Configure cluster 1 as

[2019-07-04 12:03] elasticmachine commented on #43974
Pinging @elastic/es-search

[2019-07-04 12:08] ywelsch commented on #40170
This failed again in a recent PR build on master:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-1/2129/testReport/junit/org.elasticsearch.cluster/NodeConnectionsServiceTests/testOnlyBlocksOnConnectionsToNewNodes/ as well as on 15.6.2019 in a regular CI build on master: https://gradle.com/s/b56amk7tklpl6

[2019-07-04 12:15] hendrikmuhs commented on #43767
We discussed the format and came up with the following new design:

[code]

[2019-07-04 12:20] cbuescher opened #43975 "[CI] Failure in "yaml=painless/50_update_scripts/Test transform scripts are updated on execution""
This happened on CI master with https://scans.gradle.com/s/x4mlwdvr5qyb4/tests (https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob+fast+part2/7/console) as well as on a recent PR run of mine (https://scans.gradle.com/s/j5adddfjkjby4/tests). Adding the details from the CI run from 2019-07-03 here:

Doesn't reproduce locally so far:
[code]

[code]

[2019-07-04 12:20] elasticmachine commented on #43975
Pinging @elastic/es-core-features

[2019-07-04 12:27] astefan commented on #40162
@sophiec20 SQL uses, at the moment, an `interval` expressed in milliseconds to represent a year. And this interval is a fixed one, not counting leap years. If we take into consideration #43922, it's basically a `fixed_interval`.

So, the way it works now (with `fixed_interval`) in SQL is, imagine time starting on January 1st, 1970 and start adding to this date the number of milliseconds in a 365 d

[2019-07-04 12:32] arthurvb commented on #43966
@pgomulka Tnx for looking in to this, I will first check on the latest version, and if this is still the case file the report (current version is 7.0.0)

[2019-07-04 12:40] slumx opened #43976 "index_phrases together with synonym_graph filter causes NullPointerException"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 7.2

**Plugins installed**: [analysis-icu]

**JVM version** (`java -version`): 9.0.1

**OS version** (`uname -a` if on a Unix-like system): Win10

**Description of the problem including expected versus actual behavior**:
When doing a search on a text field with `index_phrases = true` and with a `search_analyzer`

[2019-07-04 12:42] pheyos opened #43977 "[ML] Data frame batch transform - add message after auto-stop"
Data frame transform batch jobs are auto-stopped, but compared to manually stopped continuous transform jobs, they are missing the message `Data frame transform has stopped.`.

Suggestion: Add the `Data frame transform has stopped.` message after auto-stop as well.

[2019-07-04 12:42] elasticmachine commented on #43977
Pinging @elastic/ml-core

[2019-07-04 13:01] andrewjames0304 commented on #43973
It works on Java 12. Install JDK12 and retry

[2019-07-04 13:04] DaveCTurner commented on #40170
The new failures look to be a different `await()` call timing out from the earlier ones. I've run thousands of iterations locally without being able to reproduce anything. Two possibilities that come to mind are:

- a test bug in which we hit the `CyclicBarrier` twice by accident, or
- CI is slow, maybe doing GC, and stops for ≥10s.

Unfortunately there aren't many clues in the output today, so I

[2019-07-04 13:18] andrewjames0304 opened #43980 "Elasticsearch 7.2.0 | Windows | Basic Plan | Elasticsearch service doesn't start when x-pack.security.enabled=true"
Elasticsearch Version: 7.2.0
Java Version: 12
OS: Windows
Environment: Development / Local

Elasticsearch service stops running when I added the line "xpack.security.enabled:true" in the YAML file.
Steps followed:

1. Stopped Elasticsearch and Kibana.
2. Added the line: "xpack.security.enabled:true" and "discovery.type: single-node" in Elasticsearch.YML
3. Started the service.
4. Error -> "Windows

[2019-07-04 13:30] mayya-sharipova commented on #43964
Another more recent failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=ubuntu-18.04&&immutable/119/console

Doesn't reproduce for me as well.

[2019-07-04 13:44] dimitris-athanasiou commented on #43960
This looks quite strange. I cannot understand where this stacktrace comes from, I can't see it neither in the node logs nor the console output. The stacktrace itself doesn't help understand where this search came from or what it was doing. I have run the test locally with many iterations and I can't reproduce. I think we should enable low level logging and re-enable the test to get more to go with

[2019-07-04 13:49] elasticmachine commented on #43976
Pinging @elastic/es-search

[2019-07-04 14:01] droberts195 commented on #43974
I think the problem is in the `RemoteClusterConnection` class: https://github.com/elastic/elasticsearch/blob/b9ce649fad6cd410112cb9260bbb229d9d009adc/server/src/main/java/org/elasticsearch/transport/RemoteClusterConnection.java#L210

I think that call to get the remote cluster state for the purpose of checking which nodes exist should be done in the system context, like in https://github.com/elast

[2019-07-04 14:05] elasticmachine commented on #43973
Pinging @elastic/es-core-infra

[2019-07-04 14:14] zhaoyunxing92 opened #43985 "How to initialize PreBuiltXPackTransportClient"
Hello, how should I initialization PreBuiltXPackTransportClient I opened the x - pack

**Elasticsearch version** (`bin/elasticsearch --version`):
6.5.4
**Plugins installed**: []
x-pack
**JVM version** (`java -version`):
jdk1.8
**OS version** (`uname -a` if on a Unix-like system):
win10
**Description of the problem including expected versus actual behavior**:
I see official support only to es6.0，[h

[2019-07-04 14:28] henningandersen commented on #43980
@andrewjames0304 single-node discovery should not trigger production mode. Also, notice that the server stops 1 1/2 minutes after cluster went GREEN, which could indicate this was triggered by something external.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows

[2019-07-04 14:28] #43980 closed

[2019-07-04 14:29] timroes commented on #12411
Yes Kibana will basically build a `must_not: <top-n terms>` from the first request.

Here is an example query where I enabled Other Bucket for two nested term queries with one sum metric:

<details>
<summary>Actual query</summary>

[code]

</details>

<details>
<summary>Level 1 (user) other bucket query</summary>

[code]

</details>

<details>
<summary>Level 2 (State) other bucket query</summary>

[2019-07-04 14:33] mayya-sharipova commented on #43975
Another more recent failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob+fast+part2/49/console

[2019-07-04 14:36] henningandersen commented on #43985
I believe you simply have to recompile your code against the version you are using, the specific method that java complains about has been removed.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and

[2019-07-04 14:36] #43985 closed

[2019-07-04 14:40] #43905 closed

[2019-07-04 14:50] mayya-sharipova commented on #43960
More recent failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob+fast+part2/49/console

Doesn't reproduce for me as well.

Indeed not much info in the [console log](https://scans.gradle.com/s/nejhkolxou4m4/console-log?task=:x-pack:plugin:ml:qa:native-multi-node-tests:integTestRunner) .

[2019-07-04 14:53] arthurvb commented on #43966
Confirming that this is fixed in version 7.2