[2018-03-21 22:39] mayya-sharipova commented on #9633
Closing this issue as `-` behaviour has been documented in [Simple Query String query documentation](doc/_validate/query?explain)

[2018-03-21 22:39] #9633 closed

[2018-03-21 22:48] andyb-elastic commented on #21354
`auto_generate_phrase_queries` was deprecated in https://github.com/elastic/elasticsearch/commit/13da3eb53e2913daf1fa410c5342950ebea0a1fd so I'm going to close this issue

[2018-03-21 22:48] #21354 closed

[2018-03-21 23:12] andyb-elastic commented on #23449
@elastic/es-search-aggs

@jpountz do we still want to merge #26015

[2018-03-21 23:20] andyb-elastic commented on #28363
@elastic/es-search-aggs

[2018-03-21 23:40] mayya-sharipova commented on #21625
cc @elastic/es-search-aggs

We currently still have this issue.

Stored in the index term vectors on nested inner values, are not returned when requested.
While generated on the fly term vectors on nested inner values are returned.

A way to reproduce

[code]

Possible resolutions:

- accept this as a feature and document this behaviour
- return stored term vectors of nested inner values
- not ret

[2018-03-22 02:29] dnhatn commented on #29162
I've backed out #29103 from 5.6.9 and corrected BWC versions in 6.2, 6.x and the master branches. All intake and bwc builds are good now.

Thanks @bleskes, @DaveCTurner and @droberts195 for reporting and helping on this.

[2018-03-22 02:29] #29162 closed

[2018-03-22 02:40] ppf2 commented on #27239
As part of this ticket, can we also clarify https://www.elastic.co/guide/en/elasticsearch/reference/6.2/tune-for-indexing-speed.html#_disable_literal__field_names_literal here to mention that there is much less overhead now for most use cases except for the caveats mentioned above?  Thx!

[2018-03-22 03:21] cyinll opened #29200 "multi dynamic_templates incorrect"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.3.0

**Plugins installed**: []

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. create template with dynamic_templates in mappings
[code]
 2. create index with dynamic_templates in mappings

[2018-03-22 03:41] macrowh commented on #29118
I got the same problem,  but now  I can't  make the cluster full restart. Is there any good idea? thanks.

[2018-03-22 06:59] martijnvg commented on #14229
Two improvements have been made to inner hits to improve its performance. #24571 #25864

Also the a performance tip was documented that explains why fetching _source of nested documents is slow and that fetching doc values fields for nested documents is faster alternative: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-inner-hits.html#nested-inner-hits-source

Closi

[2018-03-22 06:59] #14229 closed

[2018-03-22 08:45] dstrop commented on #29193
oh, i dont mind but i understood from your response bug must be first verified to be posted here and there was nothing about bug verification in guidelines. thx

[2018-03-22 09:31] colings86 commented on #29200
So whats happening here is that dynamic templates with the same name are being merged together to produce the final template. You can see this more clearly if you add an extra setting to the index creeation command as below:
[code]

The resulting mapping is now:
[code]

Note that the mapping now includes both the `match` line and thee `norms` line.

It's tricky to know what to do here as its certa

[2018-03-22 11:07] FriendyHua commented on #11211
Hi @clintongormley
could you please tell me how to reuse the connection ?

Thanks

[2018-03-22 11:12] Rogier75 commented on #22500
I have not encountered this issue in ES version 6.x

From: Colin Goodheart-Smithe <notifications@github.com>
Sent: Tuesday, 13 March 2018 13:09
To: elastic/elasticsearch <elasticsearch@noreply.github.com>
Cc: Rogier Taal <rogiertaal75@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [elastic/elasticsearch] ReduceSearchPhaseException Caused by NullPointerException (#22500)

@Rogier75 <

[2018-03-22 11:24] elasticmachine opened #29889 "Make core-rest-tests-with-security pickup tests from modules in core"
*Original comment by @cbuescher:*

This is a follow up on LINK REDACTED, in the discussion of which it turned out that we currently don't seem to pick up Rest tests from modules in core (like e.g. rank-eval). For that reason those test are not run with security enabled. As a temporary workaround I added Rest tests to core-rest-tests-with-security itself, but it would be good to get away from this

[2018-03-22 11:35] colings86 commented on #22500
@Rogier75 thanks for confirming. I am going to close this issue for now then. If you do manage to reproduce this on a 6.x cluster then please comment here with any details you have and we can re-open and try to track it down again.

[2018-03-22 11:35] #22500 closed

[2018-03-22 11:42] lfplazas10 commented on #28089
Sorry to update on an old thread. Since what version is this fix available?

[2018-03-22 11:43] jimczi commented on #28089
@lfplazas10 you can see the version on the linked pr:
https://github.com/elastic/elasticsearch/pull/28132
It is available since 6.2.0

[2018-03-22 12:03] thomasriley commented on #28858
Hey,

Also suffering from this issue with our Elasticsearch environment (ES 6.2.2) when using Cross Cluster Search. Seems like once it connects to the seed on a specific IP it does not lookup the DNS again.

Elasticsearch should observe the TTL of the DNS so that if the Elasticearch instances behind the DNS for the seed change, Elasticsearch will move the connection to whichever instance is return

[2018-03-22 13:16] imotov commented on #29118
@macrowh as I mentioned in the comment above, if you have exactly the same issue with the same version of the elasticsearch, it should be sufficient to restart just the node where you see the shard in the ABORTED state.

[2018-03-22 13:30] paweloque opened #29205 "RankEval doesn't take the requested number of results into consideration"
**RankEval takes page size into consideration**:

Currently RankEval only looks at the first 10 results of a query. Even if the number of results is specified, rank eval only requests 10 results and compares them with the expected results.

RankEval should consider the specified 'size' for calculations of the search quality.

[2018-03-22 13:40] elasticmachine commented on #29205
Pinging @elastic/es-search-aggs

[2018-03-22 13:40] colings86 commented on #29205
@cbuescher could you take a look?

[2018-03-22 13:56] redlus commented on #29097
Hey @dnhatn @bleskes and @jasontedor,

We can confirm this affects v6.0.2 as well:
![image](https://user-images.githubusercontent.com/7827282/37774494-052aa282-2de9-11e8-8772-0337685cbd52.png)

At 09:22 the node enters a state where the open file descriptors monotonically increase.
This is accompanied by higher load average, cpu, total indices actions and indices operation time.

[2018-03-22 14:11] talanb commented on #25820
@cbuescher I am the lead dev on this cluster now and we are still seeing this error. Over the last 30 days we have 81 occurrences of this exception. /cc @qwerty4030

[2018-03-22 14:16] jimczi commented on #29190
This is already done in 6.1 with a new setting called `index.max_inner_result_window` which defaults to 100 per bucket, closing.

[2018-03-22 14:16] #29190 closed

[2018-03-22 14:18] ywelsch commented on #13681
Discussed with @tlrx: It's documented in the same way as the other S/R options. We don't think this requires an extra open issue.

[2018-03-22 14:18] #13681 closed

[2018-03-22 14:20] ywelsch commented on #13974
addressed by @debadair

[2018-03-22 14:20] #13974 closed

[2018-03-22 14:20] cbuescher commented on #29205
@paweloque thanks for your question, RankEval currently disregards the "size" parameter specified in queries on purpose. Instead, the maximum number of documents to be retrieved should be specified for all the current metrics in the "metric" section using the "k" parameter (named so because Precision is usually calculated for a window size k, so its named "Precicsion at k" (Prec@k).

The window si

[2018-03-22 14:23] ywelsch commented on #14987
Discussed with @tlrx: This would affect all our APIs, not only snap/restore. This would be a major change, and we agree with @bleskes that this is not worth pursuing at this time.

[2018-03-22 14:23] #14987 closed

[2018-03-22 14:37] tlrx commented on #15426
We talked about this issue today with @ywelsch and while we understand why this feature could be needed, we think that a total deletion must be made at the filesystem level. We changed the documentation in #29206 to emphases that "deleting" a repository in not _real_ a deletion but it unregisters the repository in the cluster state only.

[2018-03-22 14:37] #15426 closed

[2018-03-22 14:42] elasticmachine opened #29890 "[CI] Upgrade YAML tests fail with javax.crypto.IllegalBlockSizeException"
*Original comment by @polyfractal:*

A triplet of upgrade yaml tests seem to be failing all with the same `IllegalBlockSizeException`, and it looks they they are only happening on release CI builds at the moment.  This triplet LINK REDACTED,time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(_source),index:'build-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:javax.crypto.Illegal

[2018-03-22 14:43] cbuescher commented on #25820
The two main reasons for this exception seem to be using the original scroll id for all scroll requests, and/or timing out of the search context.
Since from your initial description you seem confident to rule those out, I'd suggest going back to the ask by @markharwood for you config, index mappings, scroll queries and example documents, if possible.

[2018-03-22 14:45] ywelsch commented on #15653
This feature request is an interesting idea but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the

[2018-03-22 14:53] tlrx commented on #15854
We talked about this today with @ywelsch and as the date of today (6.2.3) some timeouts are already configurable in the cloud-based repository plugins:
- Azure exposes a request timeout
- S3 exposes a socket timeout
- GCS exposes both socket and read timeouts

We'd like all the plugins to expose both connect and read timeouts as they are the more meaningful with an up to date documentation that sp

[2018-03-22 14:54] talanb commented on #25820
@cbuescher I'll start putting that information together. One thing that I noticed while researching this error this morning is that at the time that the error occurred we have a gap in the monitoring graphs. I've attached two screenshots that show this. I've only checked 2 of the occurrences so far but the two that I checked both exhibit the same gap in the graphs

The gap appears in the primary m

[2018-03-22 15:01] tlrx commented on #15940
This feature request is interesting but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the proposa

[2018-03-22 15:01] #15940 closed

[2018-03-22 15:08] paweloque commented on #29205
@cbuescher Thanks for your reply and helping me! That perfectly makes sense.

[2018-03-22 15:11] ywelsch commented on #15987
Thanks @dadoonet, the emulator looks interesting. We'll relay this to the infra team, and check if we can make this part of our snapshot/restore integration tests. I'll close this issue here, because there's no need to track it in this repository.

[2018-03-22 15:11] #15987 closed

[2018-03-22 15:22] ywelsch commented on #16564
This feature request is interesting but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the proposa

[2018-03-22 15:22] #16564 closed

[2018-03-22 15:29] tlrx commented on #16693
This feature request is interesting but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the proposal (in

[2018-03-22 15:29] #16693 closed

[2018-03-22 15:30] ywelsch commented on #16958
This feature request is interesting but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the proposa

[2018-03-22 15:30] #16958 closed

[2018-03-22 15:37] tlrx commented on #18416
@darinhoward Right, starting from 6.0 we don't allow credentials or sensitive information to be specified in the elasticsearch configuration files or at the repository settings level. All secret information like credentials must be store in the Elasticsearch keystore as a secure setting.

If you look at the documentation (https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-azu

[2018-03-22 15:37] #18416 closed

[2018-03-22 15:38] mayya-sharipova commented on #22518
closing this issue, as this has already been implemented.

[2018-03-22 15:38] #22518 closed

[2018-03-22 15:41] jkakavas opened #29207 "Remove http_addresses from Remote Cluster Info API"
We currently make node info API requests to remote clusters as part of the Remote Cluster Info API in order to return information about `http_addresses` of the remote nodes.
`http_addresses` was originally introduced for kibana to do `_field_caps` but this is not used in any actionable way and could be removed from the response or replaced with transport addresses, so that the the remote nodes inf

[2018-03-22 15:41] elasticmachine commented on #29207
Pinging @elastic/es-core-infra

[2018-03-22 15:45] ywelsch commented on #18543
@luizgpsantos that's different, that's just the size of the increment.

@tlrx and I looked at the code and think this should be simple to compute and add to the stats.

[2018-03-22 15:52] markharwood commented on #8095
Stale request - we now have significant_text agg. Closing

[2018-03-22 15:52] #8095 closed

[2018-03-22 16:11] polyfractal commented on #24468
@elastic/es-search-aggs

[2018-03-22 16:18] polyfractal commented on #12309
Mark says this is still interesting/useful feature request. :)

@elastic/es-search-aggs

[2018-03-22 16:19] kun-zhou commented on #11244
But it is very common to have hundreds of gigabytes of data that needs to be migrated to elastic search during the migration period, how should we approach such task? This is clearly a problem every developer needs to deal with.

[2018-03-22 16:22] polyfractal commented on #22302
@elastic/es-search-aggs

[2018-03-22 16:34] polyfractal commented on #23294
@elastic/es-search-aggs

[2018-03-22 16:40] polyfractal commented on #14601
Closing in favor of https://github.com/elastic/elasticsearch/issues/14600

As noted by Colin https://github.com/elastic/elasticsearch/issues/14600#issuecomment-372643848, if we decide to allow `bucket_script` to operate on SingleBucketAggregation we should probably also allow it to work as a top-level agg (e.g. as a sibling instead of parent)

[2018-03-22 16:40] #14601 closed

[2018-03-22 16:41] mayya-sharipova commented on #14218
Closing this issue, as in 6.x we already don't allow to index child docs  where `parent` field  is not specified:
[code]

We still don't enforce that `parent` should be valid and existing, but it is a different issue.

[2018-03-22 16:41] #14218 closed

[2018-03-22 16:44] polyfractal commented on #25273
@elastic/es-search-aggs

Note: keeping this open because we should fix the error message to be more helpful (display the name of the path component that was not compatible), not the underlying issue of pathing through a multi-bucket.

[2018-03-22 16:48] mayya-sharipova commented on #27006
cc @elastic/es-search-aggs

[2018-03-22 16:55] jimczi commented on #27638
This is fixed in 6.0 with the `unified` highlighter, hence closing.

[2018-03-22 16:55] polyfractal commented on #10216
Tested this locally, has since been fixed.  Was probably fixed when we upgraded to TDigest 3.2: https://github.com/elastic/elasticsearch/pull/28305

[2018-03-22 16:55] #10216 closed

[2018-03-22 16:56] #27638 closed

[2018-03-22 16:57] polyfractal commented on #26681
@elastic/es-search-aggs

[2018-03-22 17:00] jimczi commented on #12326
This feature request is an interesting idea but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the

[2018-03-22 17:00] #12326 closed

[2018-03-22 17:02] polyfractal commented on #14771
@elastic/es-search-aggs

[2018-03-22 17:06] polyfractal commented on #28889
@elastic/es-search-aggs

[2018-03-22 17:06] jimczi commented on #5172
cc @elastic/es-search-aggs

[2018-03-22 17:08] jimczi commented on #27873
cc @elastic/es-search-aggs

[2018-03-22 17:12] javanna commented on #16266
@martijnvg  for all the flags that are only supported by the REST layer but not by our requests, once we add support for the API to the high-level REST client, we are forced to add support for the missing flag to the request, although it will only be read by the high-level REST client.

[2018-03-22 17:20] polyfractal commented on #14771
Actually, closing in favor of #20003

Sorry for the noise :)

[2018-03-22 17:20] #14771 closed

[2018-03-22 17:20] jimczi commented on #11223
The `postings` highlighter has been removed in 6 but the `unified` highlighter could also benefit from this. For complex query this re-design could speed up things not only because we highlight one document at a time but also because we analyze the query for each highlighted field in each document.
cc @elastic/es-search-aggs

[2018-03-22 17:21] polyfractal commented on #20003
@elastic/es-search-aggs

[2018-03-22 17:24] mayya-sharipova commented on #4839
cc @elastic/es-search-aggs

[2018-03-22 17:24] jimczi commented on #28816
cc @elastic/es-search-aggs

[2018-03-22 17:25] jimczi commented on #21112
cc @elastic/es-search-aggs

[2018-03-22 17:25] polyfractal commented on #23772
@elastic/es-search-aggs

[2018-03-22 17:28] jimczi commented on #24674
The `unified` highlighter can be used to perform highlighting on a field indexed with `term_vector` so I am closing this issue as won't fix (for the `fvh`) since the recreation works with the `unified`. The FVH implementation is in Lucene and did not changed in years so it is unlikely that we'll have a solution for it in a near future.

[2018-03-22 17:28] #24674 closed

[2018-03-22 17:31] jimczi commented on #27787
I agree with @markharwood , the named queries is a good solution for this and can be used without modifications. I am closing this issue because there is a good way to achieve the requested feature without modifying the highlighter.

[2018-03-22 17:31] #27787 closed

[2018-03-22 17:32] javanna commented on #26026
Thinking more about this, we have encountered parameters that are only supported at REST (like flat_settings in cluster settings API), and the way we dealt with them was to add support for them to the request so that the high-level REST client could expose and use them, although the transport client doesn't do anything with them. We could do the same here by adding index, pipeline etc to `BulkRequ

[2018-03-22 17:36] polyfractal commented on #15600
There could be a number of explanations here that aren't bugs.  For example, `cardinality` counts distinct _values_, not documents.  So documents that have multiple `remote_addr` will overinflate the cardinality relative to doc count.  Similarly, documents that don't have a `remote_addr` will under-report the cardinality.

Then there's the fact that the cardinality aggregation is an approximate al

[2018-03-22 17:36] #15600 closed

[2018-03-22 17:39] javanna commented on #29184
I am not extremely sure that using `Version` is the only problem, it is certainly the first to be encountered and more obvious one. I agree that this is odd, and removing the dependency from `Version` may be done but if we expect the high-level REST client to work without lucene, we should also test this scenario and make sure it works. The end goal is to not depend on Elasticsearch, but it will t

[2018-03-22 18:03] polyfractal commented on #14267
Been thinking about this.

This would be easiest done in pipeline aggregations.  If you embed a date_histo inside another date_histo, it would be reasonably simple to run through the buckets of the embedded histo to see when a list of tuples changes.  And then prune all buckets before the change.

It might technically be doable at a document level, but maybe not.  The islands could be collected lo

[2018-03-22 18:05] polyfractal commented on #23874
@elastic/es-search-aggs

[2018-03-22 18:05] polyfractal commented on #28220
@elastic/es-search-aggs

[2018-03-22 18:09] polyfractal commented on #23530
@nknize thoughts on this one?

[2018-03-22 18:14] polyfractal commented on #23290
Are we still looking to fix this particular issue in isolation, or is the idea to wait for a more global fix like https://github.com/elastic/elasticsearch/pull/26115 ?

@elastic/es-search-aggs

[2018-03-22 18:15] polyfractal commented on #14691
@elastic/es-search-aggs

[2018-03-22 18:31] #29097 closed

[2018-03-22 18:35] #16817 closed

[2018-03-22 18:42] dadoonet commented on #11244
Reduce the size of the bulk. Like send 1000 documents per bulk request for example.

[2018-03-22 18:43] mayya-sharipova commented on #18700
@rpeddacama Do you still like to work on this issue? Thanks

[2018-03-22 18:44] mayya-sharipova commented on #18700
cc @elastic/es-search-aggs

[2018-03-22 18:54] andyb-elastic commented on #20572
@elastic/es-search-aggs

[2018-03-22 19:24] polyfractal commented on #21106
Hey all.  This feature request is an interesting idea but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time.

We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feed

[2018-03-22 19:24] #21106 closed

[2018-03-22 19:27] polyfractal commented on #17631
@elastic/es-search-aggs

[2018-03-22 19:40] polyfractal commented on #19821
@elastic/es-search-aggs

[2018-03-22 19:44] polyfractal commented on #28536
Closing, this was indeed fixed by #28305.  A sane-looking response is now returned:

[code]

[2018-03-22 19:44] #28536 closed

[2018-03-22 19:49] polyfractal commented on #14835
I think this optimization would only work for metrics that are not inside of bucketing aggregations?  E.g. a `max` inside of a `filter` or `terms` agg would invalidate any index-level statistic, unless it happened that there was only one bucket which all the docs fell into.

It feels like the performance gain to complexity ratio is poor.  What do you think @jpountz?

[2018-03-22 20:29] ju5t commented on #25684
I'm seeing the same errors when trying to migrate from 2.x to 5.x. We're not using a hostname but an ip address.

[2018-03-22 20:46] mayya-sharipova commented on #25328
@chickenlove  For your query `{ "query": { "wildcard": { "domain": { "value": "*a\\-abc.com", "boost" : 2.0 } } } }`, you should use `domain.keyword` field:

`{ "query": { "wildcard": { "domain.keyword": { "value": "*a\\-abc.com", "boost" : 2.0 } } } }`

Values in the `domain` field will be analyzed using Standard Analyzer that will remove `\\`. For example, if your domain is `"aaaa\\aaa-abc.com"`

[2018-03-22 20:46] #25328 closed

[2018-03-22 20:47] jeacott1 commented on #25923
@polyfractal well thats put a dent in my day :(
"discretize the data into some acceptable level of granularity" does not at all deal with the issue of calculating an integral, or many other custom functions over a timeseries.
very sad to see this shelved as its a huge blocker for a lot of timeseries usecases, indeed anything vaguely custom needs access to sorted data.

[2018-03-22 21:21] nik9000 commented on #24344
Maybe! It is certainly confusingly named as it stands. I think the twisty mess that is the request objects is probably more important to clean up, now that we want to use the request objects for the high level rest client.

[2018-03-22 21:24] nik9000 commented on #16911
Done.

Not done and I don't think we have any plans to do it.

[2018-03-22 21:24] #16911 closed

[2018-03-22 21:25] nik9000 commented on #23631
I suspect we're safe here, yes. We should do *something* about the tasks index but that can wait for a while.

[2018-03-22 21:25] #23631 closed

[2018-03-22 21:26] andyb-elastic commented on #20019
Hi, I apologize that we haven't been responsive here. I'm not able to reproduce this issue. @jimczi is there anything obviously wrong here?

[2018-03-22 21:47] polyfractal commented on #25923
Sorry to be the bearer of bad news :(

Some thoughts:

Assuming we're working with data points stored in Elasticsearch (e.g. not a real-valued function itself, but the output from that function at discrete points), the data has already been discretized based on the sampling period or timestamp granularity.  E.g. if your timestamps are millisecond precision, you're implicitly discretized to millise

[2018-03-22 21:56] jimczi commented on #25786
@DivyaMalini I am not surprised that the `unified` is slower than the `postings` on a `match_phrase` query. This is expected since the `postings` highlighter ignores phrase queries,  this highlighter as meant to perform simple query terms highlighting, regardless of their positions. Did you try to override the `highlight_query` to change the `match_phrase` into a simple `match` query ?
That's what

[2018-03-22 22:01] andyb-elastic commented on #16764
This still occurs in master - phrase suggester will return a suggestion for a term that has a document frequency lower than `min_doc_freq`, regardless of `suggest_mode`

[code]

Suggest result

[code]

@elastic/es-search-aggs

[2018-03-22 22:08] andyb-elastic commented on #17029
@elastic/es-search-aggs

[2018-03-22 22:12] mayya-sharipova commented on #15634
I am closing this issue, as in 6.x `simple_query_string` correctly uses `search_quote_analyzer`:

[code]

[2018-03-22 22:12] #15634 closed

[2018-03-22 22:15] jeacott1 commented on #25923
thanks for the huge answer!
re shards and reading data, if I use a single shard per index (and/or use routing affinity), and manage data distribution by creating new sequential (in time) indexes, and replicas for read scale, I think I can have my cake and eat it, each shard would contain a complete set of data for a time period, and a map reduce across indexes would be straight forward.
I understa

[2018-03-22 22:19] andyb-elastic commented on #21362
@elastic/es-search-aggs

[2018-03-22 22:22] elasticmachine commented on #24850
Pinging @elastic/es-core-infra

[2018-03-22 22:31] shivendrasoni opened #29212 "Better Task status reporting in Tasks API"
Allow `Tasks API` to show statuses of completed jobs as well.
For queries like large bulk updates/ indexing operations the query can take a long time and the client usually times out.
Instead of setting enormous timeouts, I feel it would be better to allow to check the status of a task, basically in terms of completed/failed etc.

Upon using the Tasks API  to check the status for a running request

[2018-03-22 23:15] andyb-elastic commented on #23838
Thanks for following up @Tobsucht. To clarify, you found the scoring issue you were seeing was caused by custom routing throwing off shard-level term statistics? If you changed your routing to more uniformly distribute your data, did that help?

@nik9000 to be clear is the proposed enhancement mentioned in the last couple comments to enable suggesters to use distributed frequency statistics?

@ela

[2018-03-22 23:19] andyb-elastic commented on #23121
@elastic/es-search-aggs

Jim has a PR open for this #28289

[2018-03-23 00:54] andyb-elastic commented on #24421
@elastic/es-search-aggs

[2018-03-23 02:57] danlevy1 commented on #28948
@rjernst I have been playing around with different test cases and the method `splitAndValidatePath` seems to take in the string in parts. In other words, it never takes in the full field path (`.foo.foo.bar`) in my first example. Do you have a test case where `splitAndValidatePath` is called with the full field path? It seems to me like this is more of a systemic problem.

At this point, I can tre

[2018-03-23 03:30] danlevy1 opened #29214 "Updates to CONTRIBUTING.md"
**_Feature Request (Documentation Fix)_**

When I originally tried to run Elasticsearch on my machine (a Mac), I had some trouble following the steps. I kept track of some of the things I had to look up elsewhere in order to get Elasticsearch working. Here are some fixes I came up with:

1) Giving a little more information about running Elasticsearch in a CLI
2) Setting up Elasticsearch in Eclipse

[2018-03-23 03:31] danlevy1 commented on #29214
I have a draft of the overhauled CONTRIBUTING.md file available [here](https://github.com/FloridaTechSharks/elasticsearch/blob/Dan-Levy-Changes/CONTRIBUTING.md). Please take a look and see what other updates should be made.

[2018-03-23 07:18] macrowh commented on #29118
@imotov OK, thanks. I will have a try~

[2018-03-23 08:24] martijnvg opened #29217 "[CI] Netty4HttpRequestSizeLimitIT#testDoesNotLimitExcludedRequests failure"
Does not reproduce locally. Initally I thought it maybe a failure that reproduce with java10, but after running this test with Java 10 I was not able to make this test fail.

[code]

[consoleText.txt](https://github.com/elastic/elasticsearch/files/1840684/consoleText.txt)

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+multijob-java-periodic/ESJAVA=java9,ESRUNTIME=ope

[2018-03-23 08:24] elasticmachine commented on #29217
Pinging @elastic/es-core-infra

[2018-03-23 08:50] rjernst commented on #28948
`splitAndValidatePath` takes in each element within the json structure.  For example, consider following json document:

[code]

In this example, we would call `splitAndValidatePath("foo.bar")`, followed by `splitAndValidatePath("baz")`. The first call would produce 2 elements, which would cause us to lookup (and possibly dynamically create as an object field) a field in the mappings called `foo`.

[2018-03-23 09:04] jimczi commented on #3776
This feature request is an interesting idea but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the

[2018-03-23 09:04] #3776 closed

[2018-03-23 09:05] elasticmachine commented on #29212
Pinging @elastic/es-distributed

[2018-03-23 09:14] jimczi commented on #11579
The `term` and `phrase` suggester are not returning corrections based on the absence of a term, it uses the statistics of the index to choose whether a term should be corrected or not. The fact that a term appears once in a single shard is not an indication that the term is correctly spelled. There are ways to improve the precision of these suggesters, for instance the `real_word_error_likelihood`

[2018-03-23 09:14] #11579 closed

[2018-03-23 09:20] jimczi commented on #16705
Highlighting can override the main query so I think it's more flexible to differentiate the main query from the highlight query rather than trying to find which part of the main query should be highlighted.
By default we try to extract **all** terms/phrases from the main query but for more fine grained scenario the solution is to override the query in the highlight section. With this approach you

[2018-03-23 09:20] #16705 closed

[2018-03-23 09:29] jimczi commented on #25977
The `fvh` highlighter has a complex logic to deduplicate and find overlapping queries in the main query. This logic does not work great for queries with different boosts that targets the same terms.
The main code for the `fvh` is in Lucene but the plan is to use the `unified` highlighter in the long term so I prefer to close this issue as a clear indication that we are not going to work on this at

[2018-03-23 09:29] #25977 closed

[2018-03-23 09:32] elasticmachine opened #29893 "[CI] SmokeTestWatcherWithSecurityIT.testSearchInputWithInsufficientPrivileges Failure"
*Original comment by @martijnvg:*

A different failure than in LINK REDACTED.

I was unable to reproduce this failure locally.

[code]

LINK REDACTED

Build url: LINK REDACTED

[2018-03-23 10:09] Retenodus commented on #28727
Did something break/changed between 5.X and 6.X ? I run three clusters in 5.1, 5.6.8 and 6.1 and DateHistogram aggregations are basically unusable for me with the 6.X cluster. When I put the same data in 5.X clusters, I don't have any performance issues.

[2018-03-23 10:11] elasticmachine opened #29894 "[CI] Big arrays not always released"
*Original comment by @martijnvg:*

I think it is related to LINK REDACTED
and elastic/elasticsearch#27459 didn't completely fix it?

[code]

LINK REDACTED

Build url: LINK REDACTED

[2018-03-23 10:56] panchicore commented on #9120
thanks. helped a lot, I had a serializer for each type of shape, now I just had to set it as a string and works for all types of shapes, also the overhead to json-serialize this data is now zero. thanks.

[2018-03-23 11:01] martijnvg opened #29220 "[CI] Logger status data left around after test"
I was not 100% sure if the only happens with the `ESLoggingHandlerIT.testLoggingHandler()` test, however but because a post test assertion failed I made the issue title more generic.

I'm able to reproduce random failures locally on 6.2 branch with the following command:

[code]

[code]

[consoleText.txt](https://github.com/elastic/elasticsearch/files/1841231/consoleText.txt)

Build url: https://e

[2018-03-23 11:01] elasticmachine commented on #29220
Pinging @elastic/es-core-infra

[2018-03-23 11:36] colings86 commented on #25603
@dannymurphygfk I've taken a look through this issue and one thing that stands out to me that we need to eliminate as a cause is `We use custom Native scripts for filtering and sorting.` especially since the cluster that does not use the plugin containing your native scripts does not show this problem.

1. Does you Native Script plugin only install scripts that are called as part of your searches

[2018-03-23 11:44] ywelsch commented on #18785
@tlrx and I discussed this. Implementing this feature is not easy, as it requires both changes to the way repository-level settings integrate with our settings infrastructure as well as the way that the rate limiter is hooked into the snapshotting / restore process. We are still interested in such a feature but we don't have immediate plan to work on it. As such, I'm going to close the issue. If a

[2018-03-23 11:44] #18785 closed

[2018-03-23 12:02] tlrx commented on #20635
Closing in favor of #16428

[2018-03-23 12:02] #20635 closed

[2018-03-23 12:12] tlrx commented on #20862
This issue is still a valid issue. We plan to create better integration tests for repository plugins using fixtures (we started the work with Google Cloud Storage in #28788) that will help to catch more bugs.

Once those tests are available, we'd like to be able to run them against a local fixture or against the real service.

[2018-03-23 12:40] biggreenogre commented on #27236
Yes,

changed jobs just after last communication and it got lost in the shuffle.
Let me figure out where I was and I'll create one soon

regards,

Drew

On 12/03/18, Ryan Ernst  <notifications@github.com> wrote:

[2018-03-23 12:49] tlrx commented on #20868
This issue is two years old and didn't get much attraction, so I'm going to close the issue. If anyone is interested in revived it please feel free to comment or +1.

[2018-03-23 12:49] #20868 closed

[2018-03-23 13:12] jimczi commented on #28068
We discussed this with @HonzaKral and decided that we won't allow it in Elasticsearch. The solution is to do this pagination on the client side by requesting more documents than needed. This shouldn't be an issue because you can also limit the pages that are directly reachable from a specific position.

[2018-03-23 13:12] #28068 closed

[2018-03-23 13:40] martijnvg opened #29221 "[CI] SearchTimeoutIT.testSimpleTimeout()"
Timing issue, search time expected but never happened:

[code]

Maybe we should lower the time out argument? (currently it is 10ms)

[consoleText.txt](https://github.com/elastic/elasticsearch/files/1841654/consoleText.txt)

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/835/consoleText

[2018-03-23 13:40] elasticmachine commented on #29221
Pinging @elastic/es-search-aggs

[2018-03-23 13:46] bleskes commented on #29169
We discussed this some more and came up with these guidelines:

1) `_bulk`, `_search` and `_msearch` are special and have their own semantics.
2) Broadcast requests that should do something on behalf of the user (like flush and refresh) should return a non 2xx code if that things was not successfully done on any of the targets.
3) Other broadcast requests (like node stats) should use the body to c

[2018-03-23 13:51] #22917 closed

[2018-03-23 13:55] colings86 commented on #29200
We discussed this in FixItFriday and it was agreed that it is unfortunate that dynamic templates with the same name in different index templates/create index request are merged rather than replaced and we would like to change this.

Another concern was raised that when merging the index template and create index request which even have different dynamic templates its not clear what the order of th

[2018-03-23 14:05] javanna commented on #29184
We discussed this today with the team as part of our FixItFriday. As said above the plan is for the high-level REST client to not depend on Elasticsearch. There is work in progress to allow for this, for instance to remove the lucene dependency from our xcontent code. There is much more to be done and we agreed that the lucene `Version` class is only one of the problems. We want to get there but a

[2018-03-23 14:10] nik9000 commented on #29184
We actually return some Lucene classes on the objects that come out of the high level rest client. `SearchHit#explanation` and our "funny" `Text` class at least expose Lucene. I'd like to clean those up as well but I figure they are lower down the list than things like `org.apache.logging.log4j:log4j-core:jar:2.9.1:compile`.

[2018-03-23 14:11] #28389 closed

[2018-03-23 14:16] imotov commented on #29153
@joshuar, as @dakrone already explained, security is still the main concerned here. Making this setting dynamic would amplify the impact of a compromised server. For the users, who have other methods of protecting access to elasticsearch, there is an easy workaround of essentially disabling this setting by using a wildcard for the local domain, local subnet mask or even just `*:9200` to completely

[2018-03-23 14:16] #29153 closed

[2018-03-23 14:24] nik9000 commented on #29212
This is already implemented for jobs that opt in to storing themselves when they are done. Basically just `reindex` and friends do this and only when they are run with `?wait_for_completion=false`. We *expect* them to take a long time so they opt in to this.

The trouble is that *everything* is a task and you'd up in a bad spot if you tried to create a record of every task. To be honest, if a bulk

[2018-03-23 14:26] nik9000 commented on #29214
It'd be way easier to review your proposal if you made a PR out of it. Automatic diffs and all.

[2018-03-23 14:27] elasticmachine commented on #29214
Pinging @elastic/es-core-infra

[2018-03-23 14:34] jimczi opened #29222 "Disallow querying a context suggester without context"
When querying a context aware`completion` field it is possible to omit the `context` and search for **all** possible contexts for the suggestions. This has the advantage to be flexible, you don't need to know all possible contexts at query time but it also makes the suggester very slow since the `context` of the suggestions are added as a prefix at indexing time. When no context is given, the comp

[2018-03-23 14:34] elasticmachine commented on #29222
Pinging @elastic/es-search-aggs

[2018-03-23 14:37] elasticmachine commented on #29081
Pinging @elastic/es-core-infra

[2018-03-23 14:38] jimczi commented on #22357
I think we should simplify the experience with contexts aware suggestions by refusing queries without contexts. It's easy to build two suggesters, one with a context and the other one without if the usage requires to query without contexts. I opened https://github.com/elastic/elasticsearch/issues/29222 to discuss this so I hope you don't mind if I close this issue. We can continue the discussion o

[2018-03-23 14:38] #22357 closed

[2018-03-23 14:39] nik9000 commented on #29081
I think if we really care about something like unused imports we should have checkstyle fail the build if we have any. To be honest, I'd be happy with that change in particular.

Other things get more complicated. We *have* checkstyle so if we can enforce stuff with checkstyle I'd prefer that to bringing in some other scanning tools.

[2018-03-23 14:48] jimczi commented on #24421
When multiple contexts are provided at indexing time, we build one suggestion per context value and index them separately. This is done so that we don't need to perform all the combinations (contextA + contextB and contextA + contextC, ....) and avoid the combinatorial explosion. Since all contexts are indexed individually it is difficult to add a boolean logic to match this context especially con

[2018-03-23 14:48] #24421 closed

[2018-03-23 14:49] bleskes commented on #29212
@shivendrasoni if your bulk indexing takes longer than what's reasonable for a timeout variable, something else is off. As Nik explained, tasks that are expected to run a very long time have this support. If we're missing it somewhere, we should add it but I don't feel that the bulk API is a good candidate. We can try to figure out what makes the bulk API so slow , if you open a topic on discuss.e

[2018-03-23 14:49] #29212 closed

[2018-03-23 14:52] jimczi commented on #21291
Closing as duplicates of https://github.com/elastic/elasticsearch/issues/24421#issuecomment-375689139
The workaround is to create the combinations of the contexts at index time like described here:
https://github.com/elastic/elasticsearch/pull/26407#issuecomment-326771608

Any other solution would considerably slow down queries which is the reason why I am closing this issue as won't fix. For more

[2018-03-23 14:52] #21291 closed

[2018-03-23 14:57] nik9000 commented on #27267
This isn't on my list of things to do, no. I don't disagree with doing it though.

[2018-03-23 15:08] jimczi commented on #5928
These are all interesting ideas but there's too much to handle in a single issue ;).
Also we're now using the `unified` highlighter which does some of the things described here differently (the scores are computed differently as well as the passage boundaries). I'd advise to try the `unified` highlighter and to report any problems related to this new highlighter in a new issue since this one seems

[2018-03-23 15:08] #5928 closed

[2018-03-23 15:26] imotov commented on #20333
I can no longer reproduce this in 6.2.3. Closing.

[2018-03-23 15:26] #20333 closed

[2018-03-23 15:37] jasontedor commented on #27306
Will you open a fix for this?

[2018-03-23 15:45] rjernst commented on #29214
@danlevy1 Please open a PR with your suggested changes. I'm going to close this as there is no need for a parallel discussion or a tracking issue. Any discussion can be had on the PR.

[2018-03-23 15:45] #29214 closed

[2018-03-23 15:59] mayya-sharipova commented on #24087
@DimitrisParaskevaidis  Would you still like to work on this issue?  We don't need to assign you, if you would like to work on it, please let us know here!

[2018-03-23 16:04] mayya-sharipova commented on #10441
I will be closing this issue for now, as there are not much activity on it.

This is still a valid issue though, and if anyone wants to contribute a patch,  we encourage you to do so.
Thanks

[2018-03-23 16:04] #10441 closed

[2018-03-23 16:11] imotov commented on #25844
Looks like the original problem was solved. Closing due to no activity.

[2018-03-23 16:11] #25844 closed

[2018-03-23 16:21] jpountz commented on #13115
It is still relevant indeed, and also #14300 is no longer an issue. I removed the `stalled` label.

[2018-03-23 16:41] danlevy1 commented on #28948
@jkakavas Ah, that makes a lot more sense now. Thanks!

[2018-03-23 17:04] #29205 closed

[2018-03-23 17:30] imotov commented on #21825
It looks like these methods were removed from the documentation and the query builder. Closing.

[2018-03-23 17:30] #21825 closed

[2018-03-23 17:34] Rohlik commented on #26456
I tried with ES 5.6.3 and it works.

[2018-03-23 17:40] nknize commented on #9567
Closing this issue...again. Its a never ending debate with the standards committees so there is no problem us sticking with the way it is. Also, since adding WKT (which specifies X, Y) order I'd rather stick with arrays complying with this order than adding a bunch of code to handle projection specific ordering.

[2018-03-23 17:40] #9567 closed

[2018-03-23 17:44] nknize commented on #23584
related to #14727, #11460

[2018-03-23 17:46] kkirsche commented on #9567
To each their own. I still feel that the whole point of specifications is to follow them. This just causes more work for the users of your tools to normalize data when standards and projects do not adhere to them

[2018-03-23 18:03] elasticmachine commented on #25848
Pinging @elastic/es-search-aggs

[2018-03-23 18:16] nknize commented on #23709
@martijnvg I haven't really dug into this yet. I know there has been some work on percolator since this was opened. Any quick thoughts before we dive in?

[2018-03-23 18:17] imotov commented on #25319
geoHashCellQuery was removed in 6.0. So we, probably, can close this.

[2018-03-23 18:17] #25319 closed

[2018-03-23 19:53] luizgpsantos opened #29228 "Improve Cluster Allocation Explain API explanation when cluster has nodes with different versions"
**Describe the feature**:

During a [rolling upgrade](https://www.elastic.co/guide/en/elasticsearch/reference/current/rolling-upgrades.html) if the shards allocation wasn't disabled some shards may become unassigned due to version incompatibility.

In this situation, the Cluster Allocation Explain API shows this message:

[code]

Can we think of a more straightforward message that points the versi

[2018-03-23 19:56] elasticmachine commented on #29228
Pinging @elastic/es-distributed

[2018-03-23 20:38] mayya-sharipova commented on #26991
cc @elastic/es-search-aggs

[2018-03-23 21:33] talevy commented on #22751
Pinging @elastic/es-search-aggs

[2018-03-23 21:49] talevy commented on #14455
Pinging @elastic/es-search-aggs

not sure I understand the concern here:

I've updated this example to work on Elasticsearch 6.x here:

[code]

with one random response returned as:

[code]

is this to mean that you would not expect buckets with terms of a score < `0.5`, but in fact we see three with scores of `0.27`?

[2018-03-23 21:52] talevy commented on #13654
Closing due to inactivity. We would love to continue the discussion on any specific features described here that users wish to have implemented. For example, there is recent interest in the 7th feature. Maybe this can be opened as a separate issue!

thank you

[2018-03-23 21:52] #13654 closed

[2018-03-23 21:53] talevy commented on #26743
Pinging @elastic/es-search-aggs

[2018-03-23 21:56] talevy commented on #16664
This feature request is an interesting idea but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the

[2018-03-23 21:56] #16664 closed

[2018-03-23 21:57] talevy commented on #26948
Pinging @elastic/es-search-aggs

[2018-03-23 22:46] talevy commented on #28642
Pinging @elastic/es-search-aggs

[2018-03-23 22:48] talevy commented on #28642
@tdoman this is interesting, indeed.

Would you mind sharing your full mapping

and an appropriately redacted source of your document `my_index_v1/my_type/3288128`

I am having trouble seeing how it is possible that we picked up this field as if it had a terms vector, but
turned out not to.

[2018-03-23 22:49] talevy commented on #23850
Pinging @elastic/es-search-aggs

[2018-03-23 22:51] talevy commented on #25674
Pinging @elastic/es-search-aggs

[2018-03-23 22:54] talevy commented on #14903
Pinging @elastic/es-search-aggs

[2018-03-23 22:55] talevy commented on #25487
Pinging @elastic/es-search-aggs

[2018-03-23 22:56] talevy commented on #25487
removing normalization feels like a breaking change, is it one?

[2018-03-23 22:57] talevy commented on #23504
This feature request is an interesting idea but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the

[2018-03-23 23:57] talevy opened #29233 "Remove Elasticsearch code as a dependency of Ingest Node Processor Execution"
# Summary

It is a long requested feature to easily execute Ingest Pipelines within Logstash as installations/inputs/outputs grow beyond the limited ability of IngestNode within an Elasticsearch
Cluster.

To achieve this goal, we must begin the effort of extracting Ingest's interfaces into a standalone
library whose processors can depend on other libraries (just not Elasticsearch)

Logstash could

[2018-03-23 23:57] elasticmachine commented on #29233
Pinging @elastic/es-core-infra

[2018-03-24 02:57] #23481 closed

[2018-03-24 11:17] bilalvdemir commented on #24125
With Elasticsearch 5.x and gt verison we can read all fields with script. For example:

`GET _search
{
  "size": 0,
  "query": {
    "match": {
      "description": "test"
    }
  },
  "_source": {
    "excludes": [],
    "includes": [
      "detail.name",
      "data.timestamp",
      "data.o3"
    ]
  },
  "aggs": {
    "custom": {
      "sum": {
        "script": "((params._source.detail.name==

[2018-03-24 17:06] Vigneshwaren commented on #27950
@nktsg  Even though this is closed just wanted to help..
Run
`./gradlew idea`
or
`gradle idea` (depending on your gradle set up)
before importing into IntelliJ IDEA

[2018-03-24 17:49] bvobart commented on #28867
Actually, Gradle's `Test` is extendable, as I've already been able to have `RandomizedTestingTask` extend `Test` and both compile and run. Strangely enough, the error I described in my previous comment somehow resolved itself over a week's time and turned into a different exception being thrown. I was able to hack in a simple solution omitting the exception (literally just catching it, printing "H

[2018-03-24 23:18] ctrix commented on #23792
Hi all,

i'm runnning into the same issue with ES 6.2.3.

I'm using the UPDATE API to insert document into an index that i would like to rotate weekly.
The cluster is made of 8 blades.

The data flow in from a kafka queue which contains daily deduped data out of which i craft the document to be sent to ES.
During the first day, that is when the documents are mainly unique, i have brilliant perform

[2018-03-25 06:11] acarstoiu commented on #23504
Sorry to say it, but you missed the fact that this is first and foremost a **bug report**, not a feature request. Two logically opposed queries that return the same thing is a fault - just choose one side and then we can talk about _improvements_.

[2018-03-25 10:04] dorony commented on #28026
@jasontedor do you know when this will be released?

[2018-03-25 12:13] jasontedor commented on #28026
@dorony The change #28888 will be in the next 6.2 patch release (6.2.4) which is not yet released although we do not provide release dates.

[2018-03-25 13:13] peruzzijl opened #29237 "TransportClient: InvalidTypeNameException prepareCreate addMapping"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.3

**Plugins installed**: []

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): Windows Server 2008 R2

**Description of the problem including expected versus actual behavior**:
Attempting to send a valid mapping JSON object to ElasticSearch 6.2.3 with Java Transport Client 6.2.3 and receive

[2018-03-25 13:31] peruzzijl commented on #29237
Just an FYI, I did the above following the guidance from the Elastic API Docs:

[Java API](https://www.elastic.co/guide/en/elasticsearch/client/java-api/current/java-admin-indices.html)

[2018-03-25 14:01] dadoonet commented on #29237
For information @peruzzijl also opened the report on discuss: https://discuss.elastic.co/t/transportclient-invalidtypenameexception-preparecreate-addmapping/125487

I think it's better to have the discussion on discuss and open an issue in github if it's indeed a confirmed bug.

[2018-03-25 14:05] peruzzijl commented on #29237
@dadoonet Would you like  me to close and submit new or leave open until discussion has reached a point that this is not a bug/documentation needs updating?

[2018-03-25 14:06] dadoonet commented on #29237
Yeah. That'd be preferable but as I'm feeling that may be it's a documentation issue I did not close it myself :)

[2018-03-25 14:26] bleskes commented on #29228
@luizgpsantos can you suggest a message? or perhaps point out what is confusing to you?

[2018-03-25 14:37] #29237 closed

[2018-03-25 15:00] bleskes commented on #23792
@ctrix there are potentially some things you can do to sidestep the issue (at least it sounds like that from your description). If you open up a thread on discuss.elastic.co we can try to figure it out with you there.

[2018-03-25 17:11] cosmin-marginean commented on #14341
+1

[2018-03-25 20:37] ctrix commented on #23792
@bleskes thanks for the reply.
For the records, i've posted my problem [here](https://discuss.elastic.co/t/slow-bulk-updates-on-6-2-3/125513) where i hope to have a few helpful follow ups.

[2018-03-26 03:14] elasticmachine commented on #23329
Pinging @elastic/es-search-aggs

[2018-03-26 03:15] talevy commented on #14114
This feature request is an interesting idea but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the

[2018-03-26 03:15] #14114 closed

[2018-03-26 03:16] elasticmachine commented on #15448
Pinging @elastic/es-search-aggs

[2018-03-26 03:17] elasticmachine commented on #23306
Pinging @elastic/es-search-aggs

[2018-03-26 03:17] talevy commented on #14949
do we still want to work on this @jpountz?

[2018-03-26 03:19] talevy commented on #17016
Closing this since there has not been much feedback given in over a year. despite this issue being closed please feel free to leave feedback on the proposal (including +1s).

[2018-03-26 03:19] #17016 closed

[2018-03-26 03:20] elasticmachine commented on #21073
Pinging @elastic/es-search-aggs

[2018-03-26 03:21] talevy commented on #21886
This feature request is an interesting idea but since its opening we have not seen enough feedback that it is a feature we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the

[2018-03-26 03:21] #21886 closed

[2018-03-26 03:24] elasticmachine commented on #27550
Pinging @elastic/es-search-aggs

[2018-03-26 03:25] elasticmachine commented on #16555
Pinging @elastic/es-search-aggs

[2018-03-26 03:26] elasticmachine commented on #28494
Pinging @elastic/es-search-aggs

[2018-03-26 03:28] talevy commented on #20729
Docs have a lot of work around these features. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the proposal (including +1s).

[2018-03-26 03:28] #20729 closed

[2018-03-26 03:29] talevy commented on #20813
We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the proposal for updating the documentation (including +1s).

[2018-03-26 03:29] #20813 closed

[2018-03-26 03:30] talevy commented on #21703
We prefer to close this issue as a clear indication that we do not foresee further developments in the near-term around this. Looks like the documentation was updated to make things clearer. despite this issue being closed please feel free to leave feedback on the proposal (including +1s).

[2018-03-26 03:30] #21703 closed

[2018-03-26 03:38] talevy commented on #23504
@acarstoiu apologies, I should have taken a closer look here (my fault). Thank you for replying and
continuing the discussion; This, obviously, still sounds relevant to you, so I will go ahead and re-open the issue

[2018-03-26 03:39] elasticmachine commented on #23504
Pinging @elastic/es-search-aggs

[2018-03-26 07:16] ver007 opened #29240 "Elasticsearch is poisonous"
Please forgive me for taking the liberty that Elasticsearch is poisonous. Every time you update the connection method or query the index name will change, the developer is toxic.
~ (+﹏+)~，I am very helpless

[2018-03-26 07:36] jay-dihenkar commented on #29240
can u give a minimal reproduction of the issue!???? lollzzz

[2018-03-26 07:51] #28688 closed

[2018-03-26 07:58] dadoonet commented on #29240
@ver007 Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-03-26 07:58] #29240 closed

[2018-03-26 08:09] dannymurphygfk commented on #25603
@colings86
1. The plugin just installs scripts that we use as part of searches... so derive from AbstractDoubleSearchScript or AbstractSearchScript.
2. We can reproduce the problem with just the simple Ids query using no scripts.
3. How we use the scripts

We have 5 scripts in total.
2 are derived from AbstractDoubleSearchScript and we use for sorting and aggregations.
3 derived from AbstractSearc

[2018-03-26 08:25] markharwood commented on #17600
Related issue concerning dots in agg names: https://github.com/elastic/elasticsearch/issues/19040

[2018-03-26 08:43] DaveCTurner opened #29242 "[CI] SearchAsyncActionTests.testFanOutAndCollect"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=fedora/846/console

Apparently commit 29e103cc064181b42feab66a21f03ce087a529c6 failed with:

[code]

The assertion in question is:

    assertTrue(nodeToContextMap.get(primaryNode).toString(), nodeToContextMap.get(primaryNode).isEmpty());

(Strange that `.toString()` returned `[]` but `.isEmpty()` retu

[2018-03-26 08:43] elasticmachine commented on #29242
Pinging @elastic/es-search-aggs

[2018-03-26 09:09] elasticmachine opened #29897 "[CI] [ML] BasicDistributedJobsIT.testDedicatedMlNode fails"
*Original comment by @DaveCTurner:*

LINK REDACTED failed with:

[code]

The following did not reproduce the problem for me:

[code]

[2018-03-26 09:16] funbrain commented on #5324
hi there

let me ask one thing.

my scenario is that

let's say i have 3 requests to A system and i expected 3 responses from A system.
but in real i got 2 responses from A system.
one response was dropout.
probably, user close browser while A system was progressing....

eg raw msg:

Above A system logs stream to logstash
Then logstash make some fields using grok patterns.

eg fields:

In Request

[2018-03-26 09:33] DaveCTurner opened #29244 "[CI] ClusterDisruptionIT: Address already in use"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/1703/console failed because it tried to bind to a port that's already in use:

[code]

It looks like a fix for this sort of thing went into https://github.com/elastic/elasticsearch/pull/9527 but this doesn't seem to be in place any more.

FWIW the reproduction line was:

[code]

I checked the worker and there's nothing bind

[2018-03-26 09:33] elasticmachine commented on #29244
Pinging @elastic/es-distributed

[2018-03-26 10:36] DaveCTurner commented on #28600
Looking at the build-stats database I see the following failures that look like this (but none that pre-date 2018-02-07):

[code]

[2018-03-26 10:42] DaveCTurner commented on #21463
Another one here:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-java-periodic/ESJAVA=java9,ESRUNTIME=java10,nodes=linux/26/consoleText

[code]

[code]

[2018-03-26 10:56] DaveCTurner commented on #21463
**Note to future commenters:** please seek out a stack trace for the code that resurrected the directory, rather than just the assertion failure. One may expect it to involve a call to `MetaDataStateFormat.loadLatestState` which should help with the search. The few examples that I can find only implicate `TransportNodesListGatewayStartedShards`, but we want to know if there are any other ways to g

[2018-03-26 11:08] DaveCTurner opened #29245 "[CI] MixedClusterClientYamlTestSuiteIT fails because allow_partial_search_results is unrecognised"
Failure in

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/1422/console

    org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT test {p0=search.aggregation/230_composite/Nested Composite aggregation}

[code]

Possibly a BWC issue: `request [/test/_search] contains unrecognized parameter: [allow_partial_search_results]"`?

[code]

This `REPRODUCE WITH` line yiel

[2018-03-26 11:08] elasticmachine commented on #29245
Pinging @elastic/es-search-aggs

[2018-03-26 11:45] DaveCTurner commented on #29244
Also https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-unix-compatibility/os=debian/858/console

[2018-03-26 11:46] DaveCTurner commented on #29242
See also https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-java-periodic/ESJAVA=java10,ESRUNTIME=java8,nodes=linux/22/console

[2018-03-26 11:59] DaveCTurner opened #29247 "[CI] Failure in RepositoryUpgradabilityIT.testRepositoryWorksWithCrossVersions"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-windows-compatibility/859/console failed, reporting:

[code]

The `REPRODUCE WITH` line doesn't reproduce it for me:

[code]

Unfortunately by the time I got to looking at this another build had run (and succeeded) on the same Jenkins worker, wiping out any on-disk logs. The logs from the test follow.

[code]

[2018-03-26 11:59] elasticmachine commented on #29247
Pinging @elastic/es-distributed

[2018-03-26 12:18] markharwood commented on #29245
Looks like this was fixed in https://github.com/elastic/elasticsearch/commit/5936f443abf989e137b4dd238599cc7059a616ae

[2018-03-26 12:18] #29245 closed

[2018-03-26 12:52] tlrx commented on #21283
We talked about this with @ywelsch today and we both think that Backblaze B2 support for snapshot/restore could be implemented as community plugin. So we prefer to close this issue as a clear indication that we are not going to work on it at this time. If anyone would like to implement this, we will be glad to provide help or assistance if needed.

[2018-03-26 12:52] #21283 closed

[2018-03-26 13:04] ywelsch commented on #21838
Fixed by b57cb83567e2fe69937a575a583a4833f75cf13a

[2018-03-26 13:04] #21838 closed

[2018-03-26 13:08] ywelsch commented on #22535
Discussed with @tlrx: we prefer to close this issue as a clear indication that we are not going to work on it at this time. If anyone would like to implement this, we will be glad to provide help or assistance if needed.

[2018-03-26 13:08] #22535 closed

[2018-03-26 13:29] tlrx commented on #23479
We talked about this today with @ywelsch and this issue is similar to #18543, so I'm closing this.

[2018-03-26 13:29] #23479 closed

[2018-03-26 13:32] ywelsch commented on #23655
I think that the fix mentioned by @tlrx should improve the situation here, so I'm closing this issue.

[2018-03-26 13:32] #23655 closed

[2018-03-26 13:48] jpountz commented on #29221
I suspect we should also index more documents. Currently it only indexes one document, so if document collection starts before the timeout, there is no reason for Elasticsearch to consider that the search timed out?

[2018-03-26 13:48] tlrx commented on #23760
We talked about this issue today with @ywelsch. While we understand the need to track snapshot deletions and/or wait for them to complete, we didn't feel like it is a high requested feature. Considering that implementing the feature of tracking snapshot deletion progress is not easy, we'd like to close this issue to indicate that we don't have immediate plan to work on it. Please, feel free to add

[2018-03-26 13:48] #23760 closed

[2018-03-26 14:05] tlrx commented on #24123
We talked about this today with @ywelsch and we're going to close this issue. Some improvement has been made (#27280) and we can not expect the same performance as the aws cli because the snapshot/restore process is doing more things than uploading file. Anyway, feel free to add any comment on this issue as we're always happy to have more feedback on performance changes between versions.

[2018-03-26 14:05] #24123 closed

[2018-03-26 14:10] tlrx commented on #24306
We failed to reproduce this issue on our side and we didn't have any other bug report like this since this issue was created. We talked about this with @ywelsch today and we suggest that you upgrade your cluster to a more recent version (2.4 is not supported anymore) and see if the issue appears again.

[2018-03-26 14:10] #24306 closed

[2018-03-26 14:14] ywelsch commented on #25022
This should be fixed by #27196
@jbaiera can you confirm?

[2018-03-26 14:14] jbaiera commented on #25022
This has been fixed for a while now. Seems this issue was missed. Closing.

[2018-03-26 14:14] #25022 closed

[2018-03-26 14:16] elasticmachine opened #29992 "[CI] integTestCluster#wait fails on Windows"
*Original comment by @DaveCTurner:*

LINK REDACTED

LINK REDACTED

LINK REDACTED

All of the above failed in a relatively short time with the message

[code]

I'm afraid the logs are not very meaningful to me. The first bad-looking message seems to be

    |    ERROR: Temporary file directory [C:\Users\JENKIN~1.WOR\AppData\Local\Temp\elasticsearch] does not exist or is not accessible

This is stra

[2018-03-26 14:17] ywelsch commented on #25522
@debadair would you be interested in changing the docs here?

[2018-03-26 14:24] polyfractal commented on #16593
Revisiting this ticket, it seems there are two related issues here:

1. Allow "pathing" through terms aggregations, either by providing some kind of syntax to specify a term (`foo>bar['my_term']>the_sum.value`), or by adding logic so the pipeline aggs know how to "link" up values between terms aggs (`foo>bar>the_sum.value` and it knows to grab the different `the_sum` values from each term)
2. Exte

[2018-03-26 14:27] ywelsch commented on #26604
@rjernst can we close this?

[2018-03-26 14:31] tlrx commented on #26248
In the recent versions of Elasticsearch, we don't allow any secret to be specified using the REST API, Java API or directly in the elasticsearch configuration file. Instead, any secret must be defined in the Elasticsearch Keystore (see [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/secure-settings.html#creating-keystore)) as a secured setting.

For now these settings a

[2018-03-26 14:31] #26248 closed

[2018-03-26 14:32] tlrx commented on #26331
In the recent versions of Elasticsearch, we don't allow any secret to be specified using the REST API, Java API or directly in the elasticsearch configuration file. Instead, any secret must be defined in the Elasticsearch Keystore (see [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/secure-settings.html#creating-keystore)) as a secured setting.

For now these settings a

[2018-03-26 14:32] #26331 closed

[2018-03-26 14:35] DaveCTurner opened #29248 "[CI] Packaging tests failed to start version under test"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+packaging-tests/700/console failed as follows:

[code]

[2018-03-26 14:35] elasticmachine commented on #29248
Pinging @elastic/es-core-infra

[2018-03-26 14:42] jasontedor commented on #29248
Recording this here before it is swept away by `clean` at it will be needed for future investigation:

[code]

[2018-03-26 14:45] colings86 commented on #20974
@elastic/es-search-aggs

[2018-03-26 15:03] jpountz commented on #14949
@talevy Yes.

[2018-03-26 15:05] bleskes commented on #21463
I took a look at testUnassignedShardAndEmptyNodesInRoutingTable and that test is as old as time and does a very bogus thing - it is an IT test which extracts the `GatewayAllocator` from the node and tells it to allocated unassigned shards, while giving it a conjured cluster state with no nodes in it (it uses the `DiscoveryNodes.EMPTY_NODES`.  This is never a cluster state we want to reroute on (we

[2018-03-26 15:11] #21463 closed

[2018-03-26 15:34] elasticmachine commented on #1873
Pinging @elastic/es-distributed

[2018-03-26 15:35] polyfractal commented on #16593
We chatted about this in our Search meeting.

1. We don't see this functionality being implemented any time soon, because it is very complicated to deal with all the edge-cases and in some cases it isn't clear how they would be handled.  We may implement it at some point in the future, but not in the near-term.
2. Extending pipeline aggs to work with Ranges (date and regular) is something that we

[2018-03-26 15:35] #16593 closed

[2018-03-26 15:48] polyfractal opened #29250 "Extend Parent Pipeline aggs to work with Ranges"
Today, parent pipeline aggs (e.g, `derivative`, `avg`, etc) only work with Histo/DateHisto aggs because they provide sequential ordering of data.

It is theoretically possible to extend this to include Range/DateRange aggs as well, which implicitly provide ordering by the range definitions provided by the user.

There are some potentially sticky edge-cases:

- How do we deal with gaps?  Only fill

[2018-03-26 15:48] elasticmachine commented on #29250
Pinging @elastic/es-search-aggs

[2018-03-26 15:52] polyfractal commented on #20004
Chatted about this in Search meeting.

We decided that `ReduceSearchPhaseException` should probably just return a generic 500 exception (either by extending something else or just overriding `status()`).  The case that triggers this (#20003) will be fixed independently, since that's really a parsing issue, but the underlying exception doesn't really make sense to be a 503 instead of 500.

[2018-03-26 16:09] polyfractal commented on #14267
We chatted about this today in the Search meeting.

First, we were curious if the new [Bucket Sort](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-pipeline-bucket-sort-aggregation.html) agg might help here?  It wasn't available at the time this ticket was opened.  It would provide a way to order sub-aggs so that the bucket-collapsing could be more easily done b

[2018-03-26 16:44] nknize commented on #17349
closing in favor of #16749

[2018-03-26 16:44] #17349 closed

[2018-03-26 16:55] nknize commented on #11682
closing in favor of #25833

[2018-03-26 16:55] #11682 closed

[2018-03-26 16:59] nknize commented on #5968
relates to #26286

[2018-03-26 17:00] nknize commented on #5968
closing in favor of #26286 since its an old issue

[2018-03-26 17:00] #5968 closed

[2018-03-26 17:01] mitchellmaler opened #29251 "ldap1.bind_password in keystore"
Hello I have elasticsearch 6.2.3 on RHEL 7.4 and I am trying to set the xpack.security.authc.realms.ldap1.bind_password in the keystore. Even if I have that setting in the keystore as 'xpack.security.authc.realms.ldap1.bind_password' with the password it does not seem to be using that value. I have to set it in the elasticserach.yml file which is not that secure.

[2018-03-26 17:26] nknize commented on #14181
closed in favor of #16749

[2018-03-26 17:26] #14181 closed

[2018-03-26 17:33] nknize commented on #7751
relates to #26286

[2018-03-26 18:07] nknize commented on #12378
fixed in #22876

[2018-03-26 18:07] #12378 closed

[2018-03-26 18:12] imotov commented on #29122
After some additional discussions, we came to the conclusion that since we are in the process of removing the dependency on JTS in core, it doesn't make sense to upgrade it at this time.

[2018-03-26 18:13] #29122 closed

[2018-03-26 18:24] #29251 closed

[2018-03-26 20:03] nknize commented on #13892
closing for now.. it hasn't been that pressing and we can reopen later.

[2018-03-26 20:03] #13892 closed

[2018-03-26 20:09] nknize commented on #22087
closing in favor of #25833 and #16749

[2018-03-26 20:09] #22087 closed

[2018-03-26 22:04] PnPie commented on #28885
Hi all and @javanna, I made a PR for this. the problem is as @jdewald describes I think. Feel free to discuss.

[2018-03-27 01:11] macrowh commented on #29118
@imotov  hi, I have a try to restart the fail data node , then success. But once again,  where I make plenty of  snapshots, I stuck in IN_PROGRESS . I use the 2.4.0 version of ES. Any Idea, if upgrade ES can fix this problem. Thank you.

[2018-03-27 06:53] hariso commented on #24069
We were having this same problem for the past few days on one of our projects, and using `setConnectionRequestTimeout(0)` worked for us as well!

[2018-03-27 07:05] ivanjz93 opened #29257 "Grok pipeline definition parameter "pattern_definitions" cause the master node shut down"
When I use the api to define an pipeline like this:
`
{
  "processors" : [
    {
      "grok" : {
        "field": "message",
        "patterns": ["..."],
        "pattern_definitions":{
        	"JAVACLASS":"\\s*%{JAVACLASS}
        }
      }
    }
  ]
}`

Note the "pattern_definitions" parameter, I use the old value of "JAVACLASS" pattern  to overwrite JAVACLASS. It cause the master node shut do

[2018-03-27 07:18] cawoodm commented on #9290
Does it help in this case to split large indexes (e.g. by day myindex-yyyyMMdd) into separate indices?

[2018-03-27 07:38] martijnvg commented on #29257
Hey @ivanjz93 I tried to reproduce it here locally, but here the put pipeline api did not fail.
Can you provide all the exact commands to lead to the master node shutdown? Provide any errors you saw in the log? Also what version of ES are you using?

[2018-03-27 07:38] elasticmachine commented on #29257
Pinging @elastic/es-core-infra

[2018-03-27 07:53] ivanjz93 commented on #29257
Hi, @martijnvg.

The version is 6.2.3.

The command like this:
`PUT _ingest/pipeline/log-filebeat-pipeline
{
  "description" : "extract structured log information",
  "processors" : [
    {
      "grok" : {
        "field": "message",
        "patterns": ["%{TIMESTAMP_ISO8601:time} %{THREADNAME:thread_name} %{LOGLEVEL:level} %{JAVACLASS:class} %{JAVASTACKTRACEPART1:stracktrace} %{JAVALOGMESSAGE:co

[2018-03-27 07:59] martijnvg commented on #29257
@ivanjz93 Thanks, my node died here too. I'll look into how to fix this.

[2018-03-27 08:43] tlrx opened #29259 "Update Google Cloud Storage library"
The `repository-gcs` plugin is using an old version of the Google Java Client ([1.23.0](https://github.com/google/google-api-java-client/tree/1.23.0/google-api-client)):
- com.google.apis:google-api-services-storage:v1-rev115-1.23
- com.google.api-client:google-api-client:1.23

This library is still supported but in maintenance mode. We should migrate the plugin to use the [Cloud Client Libraries

[2018-03-27 08:43] elasticmachine commented on #29259
Pinging @elastic/es-distributed

[2018-03-27 08:43] elasticmachine opened #29993 "[ML] Consider pausing datafeeds if the indices being queried are in recovery"
*Original comment by @droberts195:*

ML datafeeds query an index pattern periodically to supply data to ML jobs.  They currently have no knowledge of cluster events that affect the availability of those indices.

We could improve this by querying the [indices recovery API](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-recovery.html) using the same index pattern before doi

[2018-03-27 09:08] ywelsch commented on #26730
Unfortunately there is no generic way to find out how much space is left for all kind of repository types. Also it's unclear how much space is actually needed for the snapshot deletion to actually succeed.

I discussed this issue with @tlrx: Addressing this issue would require major changes to the way we represent snapshots on disk. We don't have immediate plans to work on this and are therefore c

[2018-03-27 09:08] #26730 closed

[2018-03-27 09:27] tlrx commented on #26993
Just an update on this:

`S3OutputStream` has been removed in #27280. It brought less GCs and less memory allocations and some users reported that this change make the snapshots faster.

I experimented the `TransfertManager` class and various sizes of snapshots and I didn't see any big performance improvements. The current blob uploading code is now easy to understand and to maintain, so I prefer

[2018-03-27 09:27] #26993 closed

[2018-03-27 09:28] jimczi commented on #29148
That's not correct. The `query_string` first splits on operators and then pass each split to the analyzer of the targeted fields. The fact that whitespaces are not considered operator anymore does not change the behavior of the `default_operator`. The query `new york city` for instance is considered as one block of text and is passed "as is" to the analyzers but then the analysis will split this t

[2018-03-27 09:28] #29148 closed

[2018-03-27 09:37] ywelsch commented on #28299
Closed by #28769

[2018-03-27 09:37] #28299 closed

[2018-03-27 09:42] jimczi commented on #29079
I agree with @colings86 if you need to flatten the top N results of an aggregation the `composite` aggregation is not the solution. You'll have to perform the flattening on the client side.
I am going to close this issue because the `composite` aggregation can already have a `filter` aggregation as a `sub-aggregation` but the feature request described here is different and cannot be addressed with

[2018-03-27 09:42] #29079 closed

[2018-03-27 10:00] jimczi commented on #29019
The `query_string` cannot mix wildcards with fuzziness. You can search for `wandring~1` but not `wandring*~1`. If you want to mix prefix search and fuzziness you can use the `completion` field in a `suggest` query or use an analyzer that builds all prefix/suffix of the terms at index time (https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-ngram-tokenizer.html) so that you ca

[2018-03-27 10:00] #29019 closed

[2018-03-27 10:11] tlrx commented on #28692
Pull request has been submitted: #28801

[2018-03-27 10:19] ywelsch commented on #28906
Discussed with @tlrx: We are not sure how we can end up in this situation, but we plan on adding a check in `BlobstoreRepository.snapshot(...)` that would check for duplicate snapshot names before writing out the new index file and fail the snapshot. This would ensure that you cannot end up in this situation where the index file is broken.

[2018-03-27 10:40] ywelsch commented on #28671
@tvernum and I discussed this and we think that `RestoreSnapshotRequest` is different than other requests that implement `IndicesRequest`, namely that the indices that it talks about are in a snapshot, and not necessarily part of the current cluster (state). Furthermore, `RestoreSnapshotRequest` allows to rename indices when restoring them, so this means that the request may affect a completely di

[2018-03-27 10:40] #28671 closed

[2018-03-27 11:04] jimczi commented on #29071
`ignore_unmapped` inside the `inner_hits` should be automatically set by the parent query (`nested`,  `has_child`, `has_parent`). Though this behavior has been broken in 5.6 during the refactoring of the parent/child so the workaround for now is to explicitly copy `ignore_unmapped` in the  `inner_hits` builder. I opened https://github.com/elastic/elasticsearch/pull/29261 to restore the old behavio

[2018-03-27 11:41] bleskes commented on #29060
@dnhatn is there a concrete plan for this one?

[2018-03-27 11:44] elasticmachine commented on #20705
Pinging @elastic/es-distributed

[2018-03-27 12:48] sscarduzio commented on #28671
OK, makes sense thanks guys for taking a look at this. My plugin already handles this in a special way.

[2018-03-27 13:09] imotov commented on #29118
@macrowh if you have exactly the same issue as scottsom described above, the upgrade will unlikely to help. However, we fixed several other issues after 2.4.0 that had similar symptoms, so I would expect the upgrade to  significantly reduce the number of incidents.

[2018-03-27 13:50] dnhatn commented on #29060
@bleskes  I am looking at this now.

[2018-03-27 14:09] alexander-marquardt commented on #28741
@saudurehman and myself have seen this manifest itself at the client site using version 6.2.2.

When rollover happened, the alias points to a different index than what was created. At midnight, the index was created for the next day, but the alias still pointed to the previous day.

Index created was 2018-03-27-000004 but the alias was pointing to 2018-03-26-000004.

(this appears related to the f

[2018-03-27 14:42] danlevy1 commented on #28948
After running ./gradlew check on my fixed code, I am getting two errors.

1. `org.elasticsearch.index.mapper.DocumentParserTests.testDynamicFieldsEmptyName`
2. `org.elasticsearch.index.mapper.DocumentParserTests.testDynamicFieldsStartingAndEndingWithDot`

For the first error, I ran these two tests to see why the error is occurring:

Test 1 Input:

[code]

Test 1 Output:

[code]

Test 2 Input:

[co

[2018-03-27 14:43] elasticmachine commented on #20031
Pinging @elastic/es-distributed

[2018-03-27 14:51] elasticmachine commented on #14340
Pinging @elastic/es-distributed

[2018-03-27 14:51] elasticmachine commented on #21658
Pinging @elastic/es-distributed

[2018-03-27 14:51] elasticmachine commented on #25026
Pinging @elastic/es-distributed

[2018-03-27 14:51] elasticmachine commented on #25286
Pinging @elastic/es-distributed

[2018-03-27 14:51] elasticmachine commented on #26108
Pinging @elastic/es-distributed

[2018-03-27 14:57] kaustubh13 commented on #27601
Hi,
I would like to take up this ! How do we plan to store the original index name(s) for this ? Being a beginner, looking forward for inputs.

[2018-03-27 15:41] bleskes commented on #25286
This is 9 months old now - I'm not sure it makes sense to keep this open/chase it around - many things are different. I'm closing - if someone feels differently by all means please reopen.

[2018-03-27 15:41] #25286 closed

[2018-03-27 15:43] tlrx commented on #27601
@kaustubh13 Awesome! I suggest that you looked at the code, specially RestoreService, and see how it works. The "original" index names are stored in the snapshot file and can be retrieved using the SnapshotInfo. The original index names are then resolved through the RepositoryMetadata, and then renamed if the restore request has renaming options. The idea here is to specify, when possible, the ori

[2018-03-27 15:57] jdconrad commented on #23777
Update: Currently working on re-structuring and cleaning up some of the existing documentation.  Control flow documentation soon to follow.

[2018-03-27 15:59] bleskes commented on #26108
This was opened long time ago and I dropped the ball on it. I don't think it makes sense to chase it now as many things have changed. Closing.

[2018-03-27 15:59] #26108 closed

[2018-03-27 16:19] #29060 closed

[2018-03-27 16:35] dnhatn commented on #22863
Closing for now as we are in favor to remove support for CBOR, Smile and Yaml. We will reconsider this in the future.

[2018-03-27 16:38] luizgpsantos commented on #29228
Hi @bleskes, the point here is just to make the message easier to digest for those with fewer experience with upgrades. I will write my suggestion in raw words just to try to express the feeling and we may have to adapt to a more formal one:

[code]

[2018-03-27 16:55] #29071 closed

[2018-03-27 17:12] olcbean opened #29268 "[?] Stricter `UpdateSettingsRequest` parsing on the REST layer"
In UpdateSettingsRequest every property is interpreted as a setting name. For example :
[code]
will be parsed as the property `field3` with value `value3` ( similar to the ClusterUpdateSettingsRequest ).

But if there is a top-level key `"settings"` for a map
[code]
then only `"field3" : "value3"` is parsed as a setting in the `UpdateSettingsRequest#fromXContent` and the other properties are silen

[2018-03-27 17:22] elasticmachine commented on #29268
Pinging @elastic/es-core-infra

[2018-03-27 17:28] jasontedor commented on #29268
I think we should make the same transition that was made in #23869: hard break in 7.0.0. It is a bug that we accept and handle requests as you describe.

[2018-03-27 17:50] andyb-elastic opened #29269 "[CI] CompositeValuesCollectorQueueTests.testRandomDoubleAndLong"
On 6.x. This reproduces

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-darwin-compatibility/844/console

[build-844.txt](https://github.com/elastic/elasticsearch/files/1853135/build-844.txt)

[code]

[code]

[2018-03-27 17:50] elasticmachine commented on #29269
Pinging @elastic/es-search-aggs

[2018-03-27 17:59] olcbean commented on #28910
I think that it would be better to go the second way : use `detailed` as a url parameter as done in other requests ( basically go with the documentation - similar to what was done for `field_data` vs `fielddata` for clear cache api )

@PnPie @javanna what do you think ?

[2018-03-27 18:12] #29269 closed

[2018-03-27 18:12] jimczi commented on #29269
Thanks @andyb-elastic

[2018-03-27 18:27] andyb-elastic opened #29270 "[CI] SnapshotShardsServiceIT.testRetryPostingSnapshotStatusMessages"
Does not reproduce

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-darwin-compatibility/845/console

[build-845.txt](https://github.com/elastic/elasticsearch/files/1853256/build-845.txt)

[code]

[code]

[2018-03-27 19:02] javanna commented on #28910
@olcbean I am not sure, you would go that way because the param was accepted before as `detailed` although it had no effect? On the other hand it will have some effect now, I wonder if any user ever use that parameter.

[2018-03-27 19:03] polyfractal commented on #14455
Related to the original goal -- sub-sampling the result set for improved performance -- the `random_score` won't really help too much imo.  It still has to visit each document to generate the score before exclusion, and visiting the doc is half the performance battle.  I imagine it would save some time on the heavier aggs (like sig terms), but would be nice to ignore the doc completely.

There's a

[2018-03-27 19:28] dnhatn commented on #22863
To be clear, this was closed in favour of #22811.

[2018-03-27 19:38] ywelsch commented on #23244
With #18819 being closed, we can close this one as well.

[2018-03-27 19:38] #23244 closed

[2018-03-27 19:54] javanna commented on #22811
Re-opening, this is probably a good time to reconsider.

[2018-03-27 20:33] PnPie commented on #28910
Yes, and even if there were users using `detailed` flag before it wouldn't work right ? because in `RecoveryState` we parsed it as `details`.

[2018-03-27 21:46] nik9000 commented on #25674
I think it is weird for `GET` to make a thing on the server, even if all it is making is a context. Maybe `POST`?

[2018-03-27 21:46] nik9000 commented on #25674
Otherwise, super :heart: for the idea.

[2018-03-27 21:52] nik9000 commented on #21789
I think I'd like to have a look at this after #29211. #29211 gives us a clean way forward to set things like the timeout globally or for a single request so I think it is worth grabbing this after that.

[2018-03-27 22:28] ZLightning opened #29271 "_source filtering in index alias"
**Describe the feature**:

It would be useful to add `_source` filtering in an index alias to enable removal of fields from one index while leaving the same field from other indexes alone.

For example, I have 2 indexes that I want to search from the alias `notes_search`.  One index has `notes` that I need to show, while the other index has `notes` that need to filter, but the exact contents shoul

[2018-03-27 22:41] jh88 commented on #5359
+1

[2018-03-27 22:45] fschutt opened #29272 "Debian package fails to install"
**Elasticsearch version** (`bin/elasticsearch --version`):

6.2.3

**Plugins installed**: []

None (not sure how to determine, this is my first time using elasticsearch)

**JVM version** (`java -version`):

[code]

**OS version** (`uname -a` if on a Unix-like system):

[code]
Debian 9.4 / Linux 4.14

**Description of the problem including expected versus actual behavior**:

Expected: elasticsearch

[2018-03-27 22:57] fschutt commented on #29272
Forget it. Sorry. Was just a corrupt / aborted download.

[2018-03-27 22:57] #29272 closed

[2018-03-27 23:49] reardencode commented on #23714
This may belong in a separate issue, but I'll start here: Similar to the all_fields execution mode, another use-case for field aliases might be as an alternative to using copy_to to create custom all fields on earlier versions.
[code]
This would let users choose between index-time cost of copy_to and the search time costs of constructing the MultiMatchQuery as all_fields does.

[2018-03-28 00:36] tdoman commented on #28642
Yeah, I'd be willing to provide you a non-redacted version of our template, one of our mappings that's involved in this problem, and a sample source document if I can send it directly to your e-mail instead of including them here.  Meanwhile, let me give you some additional detail from what I'm seeing.  The indexes involved in this are always our "user" indexes (as opposed to other indexes) and ha

[2018-03-28 03:44] macrowh commented on #29118
@imotov Thanks for your reply. As scottsom reported  problem, is there any plan to fix it, maybe the next version of ES?  thank you. Our ES production cluster now every data node holds several  TB datas,  then restart one data node is very heavy and time costly, or maybe affect the bussiness. So hope for fixing this problem, Thank you.

[2018-03-28 03:57] owenericsson opened #29275 "took time value is much larger than that calculated by Profile API"
**Describe the feature**: whole time calculation is wrong with took time value

**Elasticsearch version** (`bin/elasticsearch --version`): 5.3.2

**Plugins installed**: []

**JVM version** (`java -version`): JDK 1.8 update 132

**OS version** (`uname -a` if on a Unix-like system): CentOS 5.5

**Description of the problem including expected versus actual behavior**:
i would like to diagnostic for a

[2018-03-28 07:35] #28934 closed

[2018-03-28 07:56] bleskes commented on #29275
The profile api currently only profiles that query and aggregation parts. It doesn't measure the fetch phase nor the network overhead. I suggest you look at those.

IMO I think there are two things to do here:
1) Potentially add a profiler for the fetch phase.
2) Document the above to avoid confusion.

@owenericsson if you have any more questions please open up a thread on discuss.elastic.co and w

[2018-03-28 07:56] elasticmachine commented on #29275
Pinging @elastic/es-search-aggs

[2018-03-28 08:03] bleskes commented on #29271
the main goal of aliases is to give people flexibility to change the indices an application searches/indexes to without any down time and without changing application code. This is handy for time based data, roll over APIs, versioned indices etc. The filters in the aliases are meant as a convenience (instead of adding them to each search) mostly for a multi-tenancy scenario where the data from mul

[2018-03-28 08:03] #29271 closed

[2018-03-28 08:03] javanna commented on #28910
@PnPie one could say there is a subtle difference between not doing anything and throwing error. Probably the latter is better than the former at this point, at least you know that something does not work upfront.

[2018-03-28 08:05] owenericsson commented on #29275
hi @bleskes ,
thanks for the reply, and also apologize for posting in the wrong place.

back to this problem
1. i have set the size to 0, so there shouldn't be the fetch overhead.
2. when i remove the "aggs" part, the time cost back to a normal level  (< 100ms). So i am sure that the  overhead must be from the aggs

BTW. the field type of the term aggregation i used is 'keyword', and do you think

[2018-03-28 08:05] reda-alaoui commented on #28984
Ping @rjernst , @jasontedor

[2018-03-28 08:13] bleskes commented on #29275
OK, that changes things (although my comments are still valid in general). I will defer for someone from the search area to pick this up.

[2018-03-28 08:19] colings86 commented on #23714
@reardencode thanks for the suggestion, we had talked about something similar to that but we would prefer to keep things simple, at least for the first version of this feature and restrict aliases to only point to a single concrete field. This makes the logic a simple substitution of the field name rather than requiring us to produce a boolean query with all the various aliased fields in.

[2018-03-28 08:28] edovac opened #29277 "Add remove types token filter (as opposite to keep_types token filter)"
**Describe the feature**:
Hi, Elasticsearch provides the `keep_types` token filter, but does not provide a token filter to exclude specific token types from the token stream.

As I understand, the `keep_types` token filter is implemented using Lucene  `org.apache.lucene.analysis.core.TypeTokenFilter.TypeTokenFilter(TokenStream, Set<String>, boolean)` which implements both behaviours.
It would be n

[2018-03-28 08:56] jpountz commented on #29275
Most likely most execution time is taken by something which is not measured by the profile, like the time it took to build global ordinals, time spent in the queue, time spent merging shard responses on the coordinating node, etc. I agree we shoud at least document this.

[2018-03-28 09:06] owenericsson commented on #29275
one more thing need attention
I created my index with 11 shards, by using a routing key which means for the Search above, only one shard owns all the result data.

[2018-03-28 09:33] elasticmachine commented on #29277
Pinging @elastic/es-search-aggs

[2018-03-28 09:46] olcbean commented on #28910
Sorry, I think that I was not really clear. Let me try to re-elaborate.

What I meant is that at this case it could be better to go with the documentation and stick with the `detailed` ( as controversial as it may be, sometimes it could be better to go with the documentation over the concrete implementation ;) )

Without digging too deep, a quick search through the `resp-api-spec` shows that `deta

[2018-03-28 10:03] javanna commented on #28910
thanks for the explanation @olcbean ! I am fine either way, @bleskes you reviewed the PR associated to this issue, do you have an opinion on this?

[2018-03-28 10:24] jasontedor commented on #28867
Closed by #29255

[2018-03-28 10:24] #28867 closed

[2018-03-28 10:36] Tom-Michael commented on #29275
Interesting reading over the above, would any of you be interested in hearing our latest challenges at ArgosTech? tom-michael.nicholson-pratt@argos.co.uk is the best email to reach me on.

[2018-03-28 10:40] bleskes commented on #29275
@Tom-Michael I'm not really sure what you're trying to say... leaving your e-mail address is not really best practice. You might want remove it.

[2018-03-28 10:44] Tom-Michael commented on #29184
Interesting reading over the above. If you'd be interested in hearing about the latest challenges we have at Argos Tech, the below link should give insight as to what we're doing at present!

https://bit.ly/2IXgCEi

[2018-03-28 12:13] elasticmachine commented on #29270
Pinging @elastic/es-distributed

[2018-03-28 12:47] dadoonet opened #29282 "range filter on date_range datatype should use the format defined in the mapping"
Tested on 6.2.3:

This is a Range query on a date field:

[code]

This works well.

This is a Range query on a date_range field:

[code]

This is failing with:

[code]

We can see that the format defined in the mapping is not used here. It should use `yyyy-MM-dd HH:mm:ss||yyyy-MM-dd||epoch_millis` but it uses `strict_date_optional_time||epoch_millis`.

If we manually force the `format` to be the s

[2018-03-28 13:01] #26122 closed

[2018-03-28 13:57] jasontedor commented on #29170
This repository is for open source Elasticsearch only yet the docs referenced here are for X-Pack.

[2018-03-28 13:57] #29170 closed

[2018-03-28 14:56] nik9000 commented on #20062
A bunch of us talked about this and we don't really think this is worth it right now given that we can't convince Eclipse and IntelliJ to do the same thing. We've talked about using [google's formatter](https://github.com/google/google-java-format) for this sort of thing one day and we might get this if and when we do that.

[2018-03-28 14:56] #20062 closed

[2018-03-28 14:58] nik9000 commented on #29081
I had a talk with some folks and we all were of the opinion that unused imports were bad but not really a big deal. We're not willing to fail the build if we have them, at least not at this point.

As far as other SonarQube things, if you have individual PRs to open we'd be happy to review them. It'd be nice to know what Sonar's check is that identified the issue and we can decide if it is the kin

[2018-03-28 14:58] #29081 closed

[2018-03-28 15:09] sylvainbx commented on #17724
The following workaround allows the install to pass:
[code]

[2018-03-28 15:11] rjernst commented on #29176
We discussed I the core team meeting and I will add this back into 6.x so that there is an overlapping upgrade path for those currently dropping jars in the lib dir.

[2018-03-28 15:11] rjernst commented on #29177
We discussed this in the core team meeting and agreed I will do this on master for 7.0 only, once  #29176 is complete.

[2018-03-28 15:13] spinscale commented on #23032
This is related to #27330 - I will look up, if the date formats can be easily converted to java time. If that's the case, it makes sense to add this to the data processor, otherwise we would add something that might be deprecated soon.

[2018-03-28 15:14] misch42 opened #29284 "file permissions for ingest-geoip"
Hi,

I installed ingest-geoip plugin and upgraded elasticsearch to 6.2.2. After the upgrade elasticsearch refused to start with the error message in the logs:

org.elasticsearch.bootstrap.StartupException: java.lang.RuntimeException: java.nio.file.NoSuchFileException: /etc/elasticsearch/ingest-geo
ip

**Elasticsearch version** (`bin/elasticsearch --version`):
6.2.2. (after upgrade)

**Plugins inst

[2018-03-28 15:26] bleskes commented on #29284
I'm going to label this as packaging and plugins labels first as I feel people with that expertise should look at this first. If it turns out to be something with the specific plugin we can re-label.

[2018-03-28 15:27] elasticmachine commented on #29284
Pinging @elastic/es-core-infra

[2018-03-28 15:35] jacksonrayhamilton commented on #17724
@sylvainbx unfortunately, that still doesn’t suppress the warning:

[code]

Maintainers, I see that my last post has 5 people agreeing with it.  Idealistic as absolutely dropping support for old software may be, it may also be pragmatic to consider that it takes a long time for some companies to upgrade.

[2018-03-28 15:39] rjernst commented on #29284
Note: We have no tests for and do not officially support gentoo systems.

Can you run `ls -ld /etc/elasticsearch` and show the results here?

[2018-03-28 16:03] #26802 closed

[2018-03-28 16:04] s1monw commented on #23792
FYI https://github.com/elastic/elasticsearch/pull/29264 might resolve this issue

[2018-03-28 16:19] talevy commented on #23032
@spinscale cool. another thing to note about why this wasn't tackled yet is that we want to keep Ingest independent of ES as much as possible (via https://github.com/elastic/elasticsearch/issues/29233)

[2018-03-28 17:07] jasontedor commented on #29284
I think that this is neither a bug with the packaging nor a bug with the plugin. Instead, I suspect there is a problem with the environment here. Specifically, I suspect that the `setgid` bit is missing on `/etc/elasticsearch`. I am removing the bug label and marking this one as pending feedback, namely the information that was requested by @rjernst.

[2018-03-28 17:56] dadoonet commented on #27198
https://issues.apache.org/jira/browse/TIKA-2579 has been fixed. \o/
Let's wait for a release now.

[2018-03-28 18:38] PnPie commented on #28910
@olcbean Yes, I agree with that (keep it the same as others), and according to all we discussed, I'm more in favor of keeping it as `detailed`.

[2018-03-28 19:47] mayya-sharipova opened #29286 "Missing fields values unexpectedly return 0 in painless"
**Describe the feature**: Missing fields values are not processed as expected in painless
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.3

**Steps to reproduce**:
[code]
I expect that `"if (doc.containsKey('f2')) {return doc['f2'].value;} return 1.0;"` should return 1 for my doc, but this returns 0:

[code]

[2018-03-28 19:47] elasticmachine commented on #29286
Pinging @elastic/es-core-infra

[2018-03-28 20:08] mayya-sharipova commented on #29286
I have clarified the following information from @rjernst  and @jpountz :

- We use `SortedNumericDocValues`to access document's integer values with the following code:
[code]
which does return 0.
- Lucene used to have a contract that `NumericDocValues`should return 0 when the document doesn't have a value. But later a bitset of documents that had a value was added and now we even have iterators of

[2018-03-28 20:25] #21974 closed

[2018-03-28 20:38] jasontedor commented on #21974
This bug turned out to be really serious in that there were leaked byte buffers in hand here. A lesson for future triaging.

[2018-03-28 21:23] webbnh opened #29287 "buckets_path cannot route through nested aggregation?"
**Elasticsearch version** (`bin/elasticsearch --version`):
[code]

**Plugins installed**: []
None?

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:
The idea is to pick out a bunch of documents from the index which have interesting data in a few of their fields (I've re

[2018-03-28 21:44] reardencode opened #29288 "unable to CIDR match IPv4-mapped IPv6"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2018-03-28 21:49] debadair commented on #21355
Was fixed.

[2018-03-28 21:49] #21355 closed

[2018-03-28 22:18] #18636 closed

[2018-03-28 22:41] debadair commented on #26604
Fixed.

[2018-03-28 22:41] #26604 closed

[2018-03-28 23:06] debadair commented on #27464
Until  #27924 happens, let's document that it actually defaults to ec2.us-east-1.amazonaws.com.

[2018-03-28 23:29] debadair commented on #28781
It looks like the missing settings should be added to https://www.elastic.co/guide/en/elasticsearch/reference/6.2/index-modules.html#index-modules-settings.

If you want to open a PR for that, that would be most awesome.

[2018-03-28 23:53] jasontedor commented on #29207
@nik9000 Can you investigate this one and if appropriate, make the necessary changes?

[2018-03-28 23:57] jasontedor commented on #27401
@mayya-sharipova Is there anything that I can do to help on this one?

[2018-03-29 02:46] elasticmachine commented on #29282
Pinging @elastic/es-search-aggs

[2018-03-29 07:36] dadoonet commented on #27464
@debadair yeah. This is what https://github.com/elastic/elasticsearch/pull/27925 actually brings as well.

[2018-03-29 08:07] bra-fsn opened #29290 "Make doc values accessible from update scripts"
**Describe the feature**:
Elasticsearch supports a very compact representation/storage of data: the doc values.
Sometimes it's useful to omit fields from _source and store them only in doc values, this can be a real space saver (https://github.com/elastic/elasticsearch/issues/27374#issuecomment-345180834)
Of course when you do this, you can't do partial updates on documents, because the previous v

[2018-03-29 08:15] elasticmachine commented on #29287
Pinging @elastic/es-search-aggs

[2018-03-29 08:28] WanliTian opened #29291 "sharding unssigned"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.5.2
**Plugins installed**: [xpack]

**JVM version** (`java -version`):
openjdk version "1.8.0_71"
**OS version** (`uname -a` if on a Unix-like system):
centos 7.0
**Description of the problem including expected versus actual behavior**:

too many sharding unsigned

**Steps to reproduce**:

**Provide logs (if relevant)**:
[code]

[2018-03-29 08:44] elasticmachine opened #29994 "Provide (nightly) builds and packging for JDBC"
*Original comment by @costin:*

Currently the JDBC driver is not available as a nightly build and there's no artifact for it (outside the main jar which cannot be used by itself).
To ease consumption we should deliver a zip/gz containing all the dependencies and hook that into the nightly builds and post opening, to the website as well as a download.

@nik9000 is this something you'd like to look

[2018-03-29 08:55] martijnvg commented on #29290
Hey @bra-fsn, thanks for opening this feature request. I agree that would be a big saver, but the update api can only update the document based on the unmodified _source.  A normalizer may have modified the original content, so doc values can't be used as replacement for the _source. Normalizers are not applied on numeric fields, but then you end up in cases where some doc value fields can be upda

[2018-03-29 08:56] elasticmachine commented on #29290
Pinging @elastic/es-core-infra

[2018-03-29 08:56] elasticmachine commented on #29290
Pinging @elastic/es-distributed

[2018-03-29 08:59] uschindler opened #29292 "Build: Forbiddenapis is not running for Java9 SourceSet"
Due to a bug in forbiddenapis the forbidden tasks are not enabled for the sourceSet named "java9" in the server module.

The corresponding bug is: https://github.com/policeman-tools/forbidden-apis/issues/138

See also discussion on #29289

I fixed the bug locally and it was working now, the only problem is setup of signatures files for the "java9" sourceSet: We do not have any dependencies, so par

[2018-03-29 09:06] bra-fsn commented on #29290
@martijnvg: Could you please give further details about what you've described above?
What this feature request is about is just the ability to access (current) doc value fields for the doc which is updated from painless.
I may be misunderstood what you wrote, but I don't want a _source replacement mechanism here, under which I mean that elastic magically and transparently fetch previous values fro

[2018-03-29 09:48] uschindler commented on #29292
The bug is fixed in forbiddenapis. Should come with version 2.6.
Before releasing that version, I'd like to put some more effort in silencing the warnings when parsing signatures where the classes are not on classpath.

[2018-03-29 09:52] martijnvg commented on #29290
I think you can leave this to the user.

Sure and the way you propose this it kind of already is up to the user by using the square bracket notation (`doc['counter']`) to fetch the values. But that is not what I meant with inconsistent.

No, that kind of problems will luckily not happen. If a normalizer is configured for a field and it changes the content of a doc values field at index time, then

[2018-03-29 09:56] #14656 closed

[2018-03-29 09:56] colings86 commented on #14600
We should also change the bucket_selector aggregation to work on the top level as well

[2018-03-29 09:57] colings86 commented on #29287
@webbnh There is a bug here, but the bug is that we should be catching the problem at parsing time instead of when we try to run the pipeline aggregation and output a much better error.

The problem is that the request is trying to run the bucket_selector aggregation on the nested aggregation which is a single bucket aggregation and the `bucket_selector` agg only works on multi-bucket aggregations

[2018-03-29 10:13] elasticmachine commented on #29292
Pinging @elastic/es-core-infra

[2018-03-29 10:55] bra-fsn commented on #29290
You mean this should work (at least in current GA versions)?
I've got an
`RequestError(400, u'illegal_argument_exception', {u'status': 400, u'error': {u'caused_by': {u'lang': u'painless', u'script': u'counter', u'script_stack': [u"ctx._source.counter=doc['counter']+1;\n", u' ^---- HERE'], u'caused_by': {u'reason': None, u'type': u'null_pointer_exception'}, u'reason': u'runtime error', u'type': u's

[2018-03-29 11:04] hariso commented on #27205
@javanna The list of functionalities to be support by the HLRC contains this as well:
* upgrade (easy)
* upgrade status (easy)
However, the docs mention this:

Question is, do we still want them and they are up for grabs, or shall I look for work somewhere else? : D

[2018-03-29 11:13] javanna commented on #27205
good point @hariso , I will move those two API, I don't think we should implement them at the moment.

[2018-03-29 11:25] jpountz commented on #29290
For the record, having access to doc values would be a problem with #29264. cc @s1monw

[2018-03-29 11:27] jpountz commented on #29290
Woops sorry I read the history of this conversation too quickly.

[2018-03-29 11:28] martijnvg commented on #29290
Oh no :), but that is the same syntax we use in the other were scripts are allowed to access doc values.

[2018-03-29 11:51] bra-fsn commented on #29290
@jpountz : Thanks for joining. :)
I think it would be a great addition to support this.
I store large numbers which take a lot of space thanks to the "json as a text" _source storage. Until this changes (by switching to BSON or something similar solution, which -I guess- still won't be as effective as the current doc values) tremendous space can be saved with DVs.

Also, it could help reindexing a

[2018-03-29 12:12] Van0SS commented on #27205
I've picked up Cluster Health. If somebody else is already working on it - please notify me.

[2018-03-29 12:51] uschindler commented on #29292
Hi @jasontedor,
I figured out how to setup the Java9 sourceset correctly. It works here (without forbiddenapis), because the only class that is compiled has no external dependncies and works with compiling against JDK9 only. If you create a MR-JAR, the correct way is:

- The code in Java9 has to be compiled *after* the main classes. The reason: The Java9 specific code may refer to other classes fr

[2018-03-29 13:23] #22163 closed

[2018-03-29 14:49] misch42 commented on #29284
# ls -ld /etc/elasticsearch/
drwxr-xr-x 4 root root 4096 Mar 28 16:43 /etc/elasticsearch/

But if you want the rights on the dir below it is:
# ls -ld /etc/elasticsearch/*
-rw-r--r-- 1 root          root 3000 Mar  2 21:55 /etc/elasticsearch/elasticsearch.yml
drwxr-x--- 2 elasticsearch root 4096 Mar 28 16:43 /etc/elasticsearch/ingest-geoip
-rw-r--r-- 1 root          root 2767 Mar 28 15:53 /etc/elas

[2018-03-29 15:00] DivyaMalini commented on #25786
Thanks @jimczi . We will try to focus on using  _match_ to get better comparisons of perf state.

[2018-03-29 15:26] jpountz commented on #29290
The fact that the update API doesn't allow to use doc values is so important to keep complexity reasonable that I'm reluctant to add such a feature. I know it's less convenient but it's always possible to implement the update logic on client-side by using versioning to make sure the right version of the document is being replaced.

[2018-03-29 15:37] webbnh commented on #29287
@colings86, thanks for the quick reply!

Your suggestion has a duplicate `aggs` key under `flights`, but when I remove that and place `FindIt` in the `aggs` with `subA`, then it seems to work!  Thanks!!

I ran across #14600 looking for other reports of the problem I was encountering, but with your suggested change I'm not hitting the problem reported there.  (I can't tell yet whether the query is

[2018-03-29 16:03] hariso commented on #27205
I'm taking "update by query".

[2018-03-29 16:28] jasontedor commented on #29284
I wanted to see the permissions on `/etc/elasticsearch` and it shows exactly what I thought would be the case. Namely, it does not have the `setgid` bit set:

[code]

Instead, this should be:

[code]

I am not sure exactly how you installed Elasticsearch, but the package does establish these [directories in this way](https://github.com/elastic/elasticsearch/blob/v6.2.2/distribution/src/main/packag

[2018-03-29 16:28] #29284 closed

[2018-03-29 16:33] uschindler commented on #29292
I improved the Java9 config a bit more. Now its expressed without hacks using configurations and inheritance:

[code]

This changes:
- each `sourceSet` by default defines a configuration. To not add all dependencies a second time or use a compileClassPath hack, we just make this new configuration extend the `compile` configuration.
- we also add the main's output as dependency (this is still optio

[2018-03-29 17:42] colings86 commented on #29287
@webbnh ok, glad its working for you. I'll leave this issue open to fix the validation problem so that a more clear error is returned at parsing time.

[2018-03-29 17:46] elasticmachine commented on #29288
Pinging @elastic/es-search-aggs

[2018-03-29 17:46] jpountz commented on #29288
I tried to recreate this but get the following error instead:

[code]

[code]

Can you clarify how you tested?

[2018-03-29 19:12] nik9000 commented on #29207
I'll take it!

[2018-03-29 19:16] mloho opened #29301 "IOException: Unknown GeoDistance ordinal [2]"
**Elasticsearch server version**: `{"number": "5.6.6","lucene_version": "6.6.1"}`
**Elasticsearch client version**: `6.2.1`

**Plugins installed**: `[{
"name": "x-pack",
"version": "5.6.6",
"description": "Elasticsearch Expanded Pack Plugin",
"classname": "org.elasticsearch.xpack.XPackPlugin",
"has_native_controller": true
}]`

**JVM version**: `1.8.0_151`

**OS version**: Linux ubuntu 4.4.0-116-g

[2018-03-29 20:08] rjernst commented on #29290
We discussed in FixItDay and agreed we do not want to introduce the complexity this would entail. I'm going to close this issue since there is technical consensus that we should not make such a change.

[2018-03-29 20:11] tomcallahan commented on #28884
No additional feedback, closing

[2018-03-29 20:11] #28884 closed

[2018-03-29 20:37] tomcallahan commented on #11401
Closing as a duplicate of #9310

[2018-03-29 20:38] #11401 closed

[2018-03-29 21:04] nik9000 commented on #23256
While we're all for applications being decoupled from the particulars of their Elasticsearch installation not having control of how the bulk is performed seems like a fairly difficult thing to work around. Not in this particular case so much as for other requests like searches. If this had come up years ago we probably would have considered it "normal" and implemented it but because it didn't I al

[2018-03-29 21:24] gchaps opened #29302 "[DOCS] Update intro to Search APIs > Request Body Search > Preference"
The [Preference page](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-preference.html) has an intro paragraph with this sentence:

By default, the operation is randomized among the available shard copies.

The should be changed to

By default, the operation is randomized among the available shard copies, unless allocation awareness is used.

This reason for this chan

[2018-03-29 22:03] pavocristatus opened #29303 "The maven central elasticsearch-6.2.3.jar is missing several logging class files"
We use the following sbt dependencies to make a scala build for our application

                      "org.elasticsearch" % "elasticsearch" % "6.2.3",
                         "org.elasticsearch.client" % "transport" % "6.2.3",
                         "org.apache.logging.log4j" % "log4j-api" % "2.9.1",
                         "org.apache.logging.log4j" % "log4j-core" % "2.9.1"

When executing o

[2018-03-29 22:28] jasontedor commented on #29303
It looks like you are not pulling in all transitive dependencies. In particular, the `org.elasticsearch:elasticsearch` artifact is dependent on (amongst others) `org.elasticsearch:elasticsearch-core`. Looking at this JAR:

[code]

shows that it contains exactly the dependency that is missing for you. I am closing this as not a bug. If you need additional help, please use the [forum](https://discus

[2018-03-29 22:28] #29303 closed

[2018-03-29 22:33] jasontedor commented on #29217
This is a race condition in the test. Namely, we set a latch for 10 seconds for all the requests to come back by. Here, we can see that that 10 seconds expired before all the requests returned:

[code]

I will increase the time bound on the latch. If we continue to see this as an issue (I looked and did not see it occurring much, 10 seconds is a long time and really is only going to trip if the CI

[2018-03-29 22:35] jasontedor commented on #29217
Closed by 8967dbf4c60b0a3d19f999268894de1612cf487c

[2018-03-29 22:35] #29217 closed

[2018-03-29 22:37] uschindler commented on #29292
Hi: Here is the diff of my whole work for correctly setting up the Java9 source sets. It also fixes the issues with the delayed project evaluation that @jasontedor  tried to fix after the builds failed. This now uses projects.tasks.withType() to fix this completely and does not rely on task names.

https://github.com/elastic/elasticsearch/compare/master...uschindler:issues/29292

I can create a PR

[2018-03-29 22:53] Sue-Gallagher commented on #3590
Closed by #29305

[2018-03-29 22:53] #3590 closed

[2018-03-29 23:28] rjernst opened #29306 "Add bootstrap plugins"
As described in #29176, there are a couple, now evident, use cases for users adding extra jars to the classpath of ES. Some of these use cases, for example adding a log4j appender, may need additional SecurityManager permissions. Instead of relying on the system security policy to add these grants, this issue is to propose a new type of "bootstrap" plugin.

A bootstrap plugin would be packaged sim

[2018-03-29 23:28] elasticmachine commented on #29306
Pinging @elastic/es-core-infra

[2018-03-30 01:59] jasontedor commented on #29292
Please do @uschindler.

[2018-03-30 02:38] springCkWyy opened #29308 "Does elasticsearch supports snapshot for nas storage?"
From www.elastic.co i know thatr snapshot support hdfs、s3、azure。 But i cannot learn that weather it support NAS? and if true, can tell me how to operate and APIs？

thank you very much. and Best washes.

[2018-03-30 03:10] strong666 opened #29309 ""The bulk request must be terminated by a newline [\n]""
Why is it always wrong?

curl -H "Content-Type: application/json" -XPOST '172.16.50.232:9200/love/doc/_bulk?pretty&refresh' --data-binary "@demo.json"

{"index":{"_index":"love","_id":"0"}}
{"name":"志明","action":"写信","count":70,"percent":0.579,"avgnum":1502,"maxnum":5215,"minnum":624}
{"index":{"_index":"love","_id":"1"}}
{"name":"志明","action":"约会","count":60,"percent":0.613,"avgnum":3.8,"maxnum":

[2018-03-30 06:41] jkakavas commented on #29308
Hi @springCkWyy , we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) instead. Thank you!

[2018-03-30 06:41] #29308 closed

[2018-03-30 06:51] jkakavas commented on #29309
Hi @strong666 ,

Can you provide some more context as to what you're trying to achieve and what the problem might be? If you think you stumbled upon a bug please take the time to provide some details as it is asked in the issue template
[code]

If this is a question around how to use the bulk api, please ask your question in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) ins

[2018-03-30 07:04] elasticmachine commented on #29301
Pinging @elastic/es-search-aggs

[2018-03-30 07:36] vinnytroia commented on #21283
+1

[2018-03-30 07:55] strong666 commented on #29309
HI@jkakavas， I'm using curl to do batch import data to ES, and one of the reports is wrong, but I think that's what the document does, and I don't know exactly what I did wrong.

--1.  my es index
{"state":"open","settings":{"index":{"creation_date":"1522393650959","number_of_shards":"5","number_of_replicas":"1","uuid":"kiWuPd5aRLihT6FrX8xdBA","version":{"created":"6010199"},"provided_name":"love"

[2018-03-30 08:01] dadoonet commented on #29309
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

You are most likely missing a final \n or usIng a non UTF8 character encoding

[2018-03-30 08:01] #29309 closed

[2018-03-30 08:26] pkaramol commented on #20537
I am having the same issues today, `apt update` output below:

[code]

[2018-03-30 08:43] uschindler commented on #29292
Here is the PR: #29312

[2018-03-30 09:13] olcbean commented on #29268
In #23869 the top-level keys were checked and "enforced".

Here I think that it would be better to remove the top-level key ( as only settings are expected by the api so there is no need for grouping ) . The only other similar api is the cluster update settings api where we have "transient" and "persistent" as top-level elements but no "settings".

In other words
[code]
* in 6.x should result in a

[2018-03-30 09:45] ydalbj opened #29313 "Range datatypes reindex failed when upgrading from 5.6 to 6.2 using remote reindex api"
report error:  "[expected_attendees] is defined as an object in mapping [mytype] but this name is already used for a field in other types"

Here is what I did.

1. Ceate index and add 1 doc on old host with Elasticsearch 5.6, just as the doc example.
[code]

2.  Create a index with the same mapping on new host with Elasticsearch 6.2
[code]

3.  then reindex from old host to new host following the

[2018-03-30 12:39] jkakavas commented on #29313
Hi

The issue here is that reindex tries to create an additional type `mytype` while you already have defined `_doc` in the new index. The error message is a little misleading though, and @ywelsch has kindly opened a PR already to fix that in #29316

What you need to do, and it's also described [here](https://discuss.elastic.co/t/dec-15th-2017-en-elasticsearch-going-from-multiple-types-to-one-type

[2018-03-30 13:09] jimczi commented on #29288
The `query_string` is not lenient y default but in your example we force the leniency because you didn't set a default field (`default_field`). If you set `default_field:ip` the query fails with the expected exception. It should also fail if you do `"query": "ip:\"::ffff:0:0/96"` but unfortunately the leniency applies to the entire query and not only the non-fielded text. I think it needs to be im

[2018-03-30 14:28] coolrecep opened #29317 "40% CPU Usage All the Time"
**Elasticsearch version** (`bin/elasticsearch --version`): **6.2.3**

**Plugins installed**: []

**JVM version** (`java -version`):

java version "9.0.4"
Java(TM) SE Runtime Environment (build 9.0.4+11)
Java HotSpot(TM) 64-Bit Server VM (build 9.0.4+11, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):

Linux 2.6.32-696.23.1.el6.x86_64 #1 SMP Tue Mar 13 22:44:18 UTC 2018 x86_64 x8

[2018-03-30 15:17] nik9000 commented on #29317
With your bullet points we have no chance of figuring out what is going on so I'm going to close this.

For what it is worth, Elasticsearch has [asynchronous processes](https://www.elastic.co/guide/en/elasticsearch/guide/current/merge-process.html) that run after indexing to optimize the index. So that might be what is going on. Also, your tools may be actually sending documents. I really can't te

[2018-03-30 15:17] #29317 closed

[2018-03-30 15:43] imotov commented on #29301
It looks like we accidently broke backward compatibility [here](https://github.com/elastic/elasticsearch/commit/b1a6b227e18cd71de78b77810a284b3a8cc39175#diff-07ff0f9821841e51d05e48d81d599582L113). Unfortunately, I cannot think of any temporary workaround besides using a client and a server with the same major version.

[2018-03-30 15:45] ydalbj commented on #29313
Thanks, it worked。That helps a lot。

[2018-03-30 15:45] #29313 closed

[2018-03-30 19:52] jasontedor opened #29321 "Cross-cluster search and default connections can get crossed"
This is arising during recovery where it appears that the cross-cluster search connection profile is being selected:

[code]

[2018-03-30 19:52] elasticmachine commented on #29321
Pinging @elastic/es-core-infra

[2018-03-30 19:55] javanna commented on #27697
After reading this multiple times, I think what it boils down to is that when sniff on failure is configured, and a failure happens (the failure listener is notified of a failure) while another sniff round is already running, the sniff on failure  round will not run (which is ok) but the following sniff round will be scheduled with the ordinary delay (`sniffInterval`) instead of `sniffAfterFailure

[2018-03-30 20:23] nik9000 commented on #27205
Nah, I don't think it is worth delaying integrating it to rework it. I think it might be nice for it to already be integrated before reworking it to be honest. Just understand that it is a little weird. A lot weird.

[2018-03-30 21:38] sherry-ger opened #29324 "Query String Query with quote_field_suffix not using the quote_field_suffix field to search"
**Elasticsearch version**
6.2.3

**Plugins installed**: []
X-Pack

**JVM version** (`java -version`):
1.8.0_162

**Description of the problem including expected versus actual behavior**:

Query string query with `quote_field_suffix` not using the correct field for search.  Simple query string query seems to work correctly.  Also, this works fine in version 5.6 and 6.0 alpha 2

**Steps to reproduce

[2018-03-30 21:58] ushakanagaraj commented on #29324
Hi Sherry, thank you for filing the bug. Is there an ETA on this? One of our feature delivery is dependent on this.

[2018-03-30 22:12] elasticmachine commented on #29324
Pinging @elastic/es-search-aggs

[2018-03-31 02:04] DivyaMalini commented on #27749
Could you please tell what is the JsonSerializerSetting.MaxDepth value is ? If its the default(NULL), then there shouldn't have been a max val at which this exception would have occurred.

[2018-03-31 08:12] alexeyst commented on #27312
I would love to second the request, it's been used in the browser setup and accessing client IP would be great.

[2018-03-31 10:35] iPush opened #29326 "2.4.1 disk.watermark.low doesn't work"
**Elasticsearch version** (`bin/elasticsearch --version`): 2.4.1

**Plugins installed**: []

**JVM version** (`java -version`):j ava version "1.8.0_101"
Java(TM) SE Runtime Environment (build 1.8.0_101-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.101-b13, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):Linux A02-R05-I220-73.JD.LOCAL 2.6.32-504.16.2.el6.x86_64 #1 SMP Wed Apr 2

[2018-04-01 10:17] mveitas commented on #28875
@talevy There is nothing wrong with how it works today as it is documented, but there is certainly room for an improvement if one is willing to make the tradeoff of using more storage space. I'll leave this up to your team to determine if there will be any improvements made. In the mean time I am going to look to do pre-computation of the geohash level values in separate fields and aggregate based

[2018-04-01 14:02] dnhatn commented on #27674
Closing. This test has not failed for the last three months.

[2018-04-01 14:02] #27674 closed

[2018-04-01 19:58] gauravmishra123 commented on #23059
Hi Can I take  this issue??

[2018-04-01 21:27] rationull opened #29328 "Migrate scripted metric agg scripts to new ScriptContext design and use context variables for agg state"
Per discussion on #28819 it would be nice to have custom ScriptContexts (and the abstract Script classes to go with them) for the scripts involved in scripted metric aggregations. One goal is to provide the _agg/_aggs variable as a script context variable rather than in the params map. Another goal is to continue migrating scripts to use the new dedicated context design.

Per discussion in #30111

[2018-04-01 21:30] rationull commented on #29328
@colings86 after discussing a bit with @rjernst I'm interested in taking a shot at this if that's alright with you. It'll probably take me a bit of time as my availability/hobby time is a little spotty (plus it'll be some time figuring out the codebase) but it seems like a pretty low priority issue so guessing that won't be a problem unless this is something you'd prefer to handle more internally.

[2018-04-01 21:34] rationull commented on #29328
@rjernst one thing I'm not sure of is whether the map script will be a bigger deal than the rest since it's a SearchScript, not just an ExecutableScript. Should the SearchScript class+context really be replaced in this case or do we need to e.g. derive from SearchScript to retain all its behavior in addition to the new context variables? Not sure if there are any deeper SearchScript related specia

[2018-04-01 22:19] jasontedor commented on #29326
Sorry, but Elasticsearch 2.4 is at end-of-life since the end of February. For us to take a look at an issue, it needs to be on a supported version of Elasticsearch. If you can reproduce this on a supported version of Elasticsearch, we would be happy to take a look.

[2018-04-01 22:19] #29326 closed

[2018-04-01 23:55] rjernst commented on #29328
No need for the map script to derive from search or executable script. The only reason it is a search script right now is to give access to doc values, but that can be done with the new script context, and without trappily exposing (as search script does) _score.

[2018-04-02 00:40] rationull commented on #29328
_score is currently [documented ](https://www.elastic.co/guide/en/elasticsearch/reference/master/modules-scripting-fields.html#scripting-score) as being available for aggregation scripts but sounds like that's not something that needs to carry forward with this change then.

[2018-04-02 02:35] rjernst commented on #29328
I did not realize that. I'll let @colings86 comment on why that is necessary. If it is, then a subclass of a SearchScript makes sense.

[2018-04-02 05:48] iPush commented on #29326
@jasontedor  Could you provide a list of supported version of Elasticsearch?

[2018-04-02 05:52] DaveCTurner commented on #29326
Please see https://www.elastic.co/support/eol for more details.

On Mon, 2 Apr 2018, 06:49 iPush, <notifications@github.com> wrote:

[2018-04-02 07:31] ashutoshningot commented on #9063
@tvernum thanks for guidance :+1:
 https://discuss.elastic.co/t/i-am-making-custom-esclient-in-kibana-to-use-api-of-elasticsearch-i-dont-want-to-use-a-kibanas-ecclient/126381?u=ashutoshningot

[2018-04-02 08:41] elasticmachine commented on #29328
Pinging @elastic/es-search-aggs

[2018-04-02 19:01] santoshbeeram opened #29335 "Source Filtering in JAVA REST API"
Hi,

Im trying to do source filtering with the specific key "primary_key" in JAVA REST API
below is the elasticsearch query which gives me correct results how can i do the same in API

GET _search/
{
   "_source": {
        "includes": [ "primary_key" ]
    },
  "query": {
    "match_all": {}
  }
}

Thanks

[2018-04-02 19:13] nik9000 commented on #29335
We try to reserve github for feature requests and bug reports. I'd ask this on https://discuss.elastic.co .

[2018-04-02 19:13] #29335 closed

[2018-04-02 19:42] shivamcausecode commented on #20263
I have the below script that I'm trying to execute to update a document. But `Debug.explain()` doesn't seem to be working. Any insights into this would be appreciated. My Elasticsearch version is `5.5.0`.

[code]
Thanks!

[2018-04-02 20:20] rjernst commented on #20263
@shivamcausecode Please ask questions on [our forum](https://discuss.elastic.co/c/elasticsearch). Closed issues are not normally tracked by developers and your comments can easily be overlooked.

[2018-04-02 22:17] taintedkernel commented on #15653
I would like this feature as well, it seems like the task management service is recently finished for 6.0.0.  I'm aware the complexities mentioned, but for clusters holding large amounts of data it could potentially be very useful.  Thanks!

[2018-04-03 01:10] dnhatn commented on #19787
Closing. The LiveVersionMap tracking is optional since #27752.

[2018-04-03 01:10] #19787 closed

[2018-04-03 02:12] brett--anderson opened #29342 "There doesn't seem to be a way to know when the o.e.l.LicenseService has finished. Until that point authentication fails on requests"
**Elastic Search Version**
Version: 5.4.0, Build: 780f8c4/2017-04-28T17:43:27.229Z

**Plugins**
analysis-icu

**JVM**
JVM: 1.8.0_131

**OS**
Linux 4464d613c8d6 4.9.60-linuxkit-aufs #1 SMP Mon Nov 6 16:00:12 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
Inside official Docker image for 5.4, though with a different docker-entrypoint.sh script

**Problem**
When running an initialization script to create a

[2018-04-03 02:22] tdoman commented on #28642
@talevy Can I e-mail you the details?  We're seeing some intermittent problems that I wonder if they are related to this.  As I was mentioning, I'd be happy to provide unredacted files directly to you.

[2018-04-03 02:53] iPush commented on #29326
thank you.

[2018-04-03 05:00] shivamcausecode commented on #20263
@rjernst Done, thank you

[2018-04-03 07:36] dadoonet commented on #17004
I think it was probably due to some JarHell issues or may be Security Manager problems. Can t recall exactly.

[2018-04-03 07:44] JFogh opened #29344 "It would be nice if zero_terms_query was supported by the new match_phrase syntax"
**Describe the feature**:
In the new NEST version 6.x.x the "type" option on "match" query is obsolete.
Thus you now use "match_phrase" instead of match with type "phrase".
When using the old "match" there was a "zero_terms_query" possibility supported.
This is not supported by the "match_phrase" query.
This makes it harder to rewrite queries using the old "match"-syntax to use the new "match_phra

[2018-04-03 07:50] elasticmachine commented on #29344
Pinging @elastic/es-search-aggs

[2018-04-03 07:51] aurimasplu opened #29345 "Inaccurate values when calculating SUM or AVG aggregations"
**Elasticsearch version** : 6.1.1-1

**Plugins installed**: X-pack

**JVM version**: java-1.8.0-openjdk-1.8.0.151-5.b12.el7_4.x86_64

**OS version** :  RHEL 7.4

**Description of the problem including expected versus actual behavior**:
When running sum or avg aggregations within terms aggregation getting inaccurate results.

**Steps to reproduce**:

I run this query:
{
	"size": 1000,
		"_source":

[2018-04-03 07:52] elasticmachine commented on #29345
Pinging @elastic/es-search-aggs

[2018-04-03 08:15] romseygeek commented on #29342
Hi @brett--anderson, thanks for opening this ticket.  We try to reserve github for bug reports and feature requests, and this kind of usage question is better asked on our forums at https://discuss.elastic.co, so I hope you don't mind that I close this.

[2018-04-03 08:15] #29342 closed

[2018-04-03 08:46] clemensloebig opened #29346 "install x-pack for elasticsearch 6.2.3 incompatible with version 6.2.2"
After upgrading elasticsearch from 6.2.2 to 6.2.3
try to install elasticsearch X-Pack with

[code]

Output:

[code]

also not working with:

[code]

**Elasticsearch version** (`bin/elasticsearch --version`):
6.2.3

**Plugins installed**: []
x-pack

**JVM version** (`java -version`):
java version "1.8.0_161

**OS version** (`uname -a` if on a Unix-like system):
Linux 4.4.0-116-generic #140-Ubuntu S

[2018-04-03 08:52] tvernum commented on #29346
@clemensloebig
The error you are getting is for the `ingest-user-agent` plugin, not for x-pack.

The upgrade process needs to be:
- remove all plugins
- install required plugins.

You cannot do each plugin one-by-one.

[2018-04-03 09:02] clemensloebig commented on #29346
yes i removed all plugins than tried with:

[code]

and the Output was:

[code]

[2018-04-03 09:09] clemensloebig commented on #29346
I found the issue, there was another installed like "ingest-user-agent", after i removed the plugin also, i can install x-pack

But the Error Message should be more clear, like
"There is another Plugin installed that is incompatible with this Version of Elasticsearch"

[2018-04-03 09:09] #29346 closed

[2018-04-03 09:23] jimczi commented on #29344
Some options that were available on the `multi_match` and `match` queries are no longer available in the `match_phrase` query. You could use a `multi_match` query and set the `type` to `phrase` but I agree that it would be nice to re-enable the support for `zero_terms_query` option in a simple `match_phrase` query. Would you like to work on a pull request for this issue @JFogh ? Otherwise I'll mar

[2018-04-03 10:53] colings86 commented on #29345
@aurimasplu I have not been able to reproduce this bug. I tried with the following script which is based on the information you provided but with a few modifications to get it to work (your query uses a ` @timestamp` field that doesn't exist in your hits because of source filtering in your request) and some assumptions:
1. That your `tag` and `interface` fields are object fields and not nested fie

[2018-04-03 11:45] tlrx opened #29349 "Test cloud based repository plugins using real services backends"
Disclaimer: this issue concerns the repository plugins that use cloud-based services like Amazon S3, Azure Storage and Google Cloud Storage in order to store snapshot files.

These plugins used to be tested automatically against the real service they implement but it is not the case anymore. While some developers complained that the integration tests failed too often because of service outage/disc

[2018-04-03 11:45] elasticmachine commented on #29349
Pinging @elastic/es-distributed

[2018-04-03 12:46] DaveCTurner commented on #29228
I can see why the message is confusing, but the confusion for me would be cleared up by simply removing the "and may not support ...":

    target node version [X.X.X] is older than the source node version [Y.Y.Y]

Maybe slightly more friendly wording:

    cannot transfer a shard from a node with version [Y.Y.Y] to a node with older version [X.X.X]

I don't think this message needs any explanatio

[2018-04-03 13:05] aurimasplu commented on #29345
Hi @colings86 , thanks for quick answer.
It might be that you are right regarding field type as these metrics are 64 bit counters, they should be long but right now they are float. We will do remapping today and will see how it goes.
Regarding the script I do not see anything attached :)

Here is whole index mapping:
[code]

[2018-04-03 13:13] showmeall opened #29352 "ES use 100% cpu resource due to same spacial query"
**Describe the feature**:   our es just have one node, and it is dead sometimes,  we can see there have a lot of tasks when check  http://localhost:9200/_tasks?pretty&detailed , it will continual  a few hours，in this time we can not connected the ES,  the CPU is used above 100%. we think some spacial query make this happen,  like : +<a+href="/taodns/domain/"> , do you have any solution for this pr

[2018-04-03 13:17] showmeall commented on #29352
and we can not cancel tasks ,use curl -XPOST '10.10.10.10:9200/_tasks/_cancel?node_id=A3VEFscYSbioibfJHwnUuQ&actions=*search&pretty'

[2018-04-03 13:20] romseygeek commented on #29352
Hi @showmeall, we try to reserve github issues for enhancement requests or bug reports.  Things like performance issues are better discussed on our forums at https://discuss.elastic.co - I hope you don't mind if I close this.

[2018-04-03 13:20] #29352 closed

[2018-04-03 14:45] #23208 closed

[2018-04-03 14:45] #29035 closed

[2018-04-03 15:59] giocaputo opened #29354 "Search query perfomance decrease"
The query perfomance are about 30 % more expensive!

**Elasticsearch version** : 6.2.2

Search query performance comparing version 5.2.2 there is about 30% performance decrease.
I have near 300k documents,

I had care about mapping type using keyword type, and text type.

[2018-04-03 16:05] DaveCTurner commented on #29228
I opened #29356.

[2018-04-03 17:01] rjernst commented on #29349
Having the ability to test against the real services sounds great (given sufficient setup information passed into the test). One ask: it would be nice to have the qa/third-party tests work "normally" so we know eg the rest test files work, and "swap out" the fixture for the real service when running the test when credentials/etc are passed in. Your idea to use the rest tests from the plugin itself

[2018-04-03 18:12] ppisljar commented on #24611
i vote for removal as well, we will need to update some code on our side but in general i think it will just make it more consistent and easier to maintain.

[2018-04-03 18:41] DaveCTurner commented on #23395
[Two ideas](https://github.com/elastic/elasticsearch/pull/26854#pullrequestreview-66822620) are:

- get rid of the `cluster.routing.allocation.disk.threshold_enabled`, since this can be emulated by setting all the thresholds to `"100%"`, and

- have different default thresholds based on the production/development distinction. It makes sense that the "developer running on laptop that's low on space

[2018-04-03 19:58] gmoskovicz opened #29358 "Enhance BufferedChecksumIndexInput error when a state file is empty"
**Elasticsearch version** (`bin/elasticsearch --version`): Any version

**Plugins installed**: [none]

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): Any

**Provide logs (if relevant)**:

If a state file is empty after some issue (hardware issue, NFS issue and others) a node will fail to start and we will see something like the following in the logs:

[2018-04-03 23:01] jasontedor commented on #29354
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2018-04-03 23:01] #29354 closed

[2018-04-04 02:58] dzhyw opened #29361 "UNASSIGNED DANGLING_INDEX_IMPORTED can not delete!!"
when I upgrade es version，es 2.4.1 to es 5.6.3, some indices shards appeared shard unassigned

status :UNASSIGNED DANGLING_INDEX_IMPORTED , when i delete,it still appeared. can't del

Here is some information on the index：

logstash-express-error-2018.03.12   1 r STARTED
logstash-express-error-2018.03.12   1 p STARTED
logstash-express-error-2018.03.12   3 p STARTED
logstash-express-error-2018.03.1

[2018-04-04 03:03] jasontedor commented on #29361
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2018-04-04 03:03] #29361 closed

[2018-04-04 03:15] jasontedor opened #29362 "HasChildQueryBuilderTests failing since recent commit"
These tests are failing, I think because of 569d0c0e897478be4f05a1daba8d217a526e0eeb. At least, it smells like the right commit, and `git bisect` got me there too:

[code]

Here's a reproducing line:

[code]

This gives:

[code]

[2018-04-04 03:15] elasticmachine commented on #29362
Pinging @elastic/es-search-aggs

[2018-04-04 06:04] aurimasplu commented on #29345
Remapping to long worked as a charm, now sum and avg are calculated as expected. @colings86 thanks a lot for your help :)

[2018-04-04 06:14] elasticmachine commented on #29358
Pinging @elastic/es-core-infra

[2018-04-04 06:36] edovac commented on #29277
Hi, sorry for the delay.
The use case is a little bit articulated, I'll try to keep it plain simple.

The company I work in is developing an analyzer which can manage (among other things) named entity extractions and structured text.
By structured text I mean a text for which I provide explicit sections structure like:

<document>
<title>John Smith hired by Acme Inc.</title>
<body>Last monday the

[2018-04-04 08:15] jpountz commented on #29358
I wonder that this might have improved thanks to [LUCENE-7831](https://issues.apache.org/jira/browse/LUCENE-7831), which is in Elasticsearch 5.6+ and 6.0+. This issue improved the error message (it would contains `misplaced codec footer (file truncated?): length=0 but footerLength==16` now) but more importantly, made it a `CorruptIndexException` rather than an `IllegalStateException`. I believe th

[2018-04-04 08:58] tlrx commented on #29349
Thanks @rjernst, that's the feedback I wanted. I updated the description of the issue and moving REST tests and fixtures under qa/third-party sounds like a good idea.

[2018-04-04 09:29] colings86 commented on #29328
_score is made available to most (if not all) aggregation scripts. Personally I do not know the use cases for wanting to aggregate on the score but I know that users do this so at least for now I think we would need to maintain this functionality. For the scripted_metric aggregation only the map script needs to be a SearchScript as the other scripts are not involved in the query phase.

[2018-04-04 09:39] jasontedor opened #29363 "QueryAnalyzerTests failing since recent commit"
This is from another PR CI failure:

[code]

From `git bisect`, it looks like the culprit is:

[code]

[2018-04-04 09:39] elasticmachine commented on #29363
Pinging @elastic/es-search-aggs

[2018-04-04 09:42] jasontedor commented on #29363
I pushed a19fd5636b8062abd7daf543539ae34aa0281ef1.

[2018-04-04 09:46] jasontedor commented on #29363
To be clear, the above commit is to mark the test as needing a fix.

[2018-04-04 09:46] jasontedor commented on #29362
To be clear, the above commit is to mark the test as needing a fix.

[2018-04-04 09:46] jpountz commented on #29363
Thanks @jasontedor!

[2018-04-04 09:52] jpountz commented on #25861
@akotlar Could you give more details about the kind of fields that you index and want to truncate?

[2018-04-04 11:09] #29362 closed

[2018-04-04 11:09] #29363 closed

[2018-04-04 11:53] jpountz commented on #29358
@ywelsch Thanks for clarifying! I see we are already doing the right thing at write time by writing to a temp file before renaming, so if I read you correctly there is nothing more to do since the error message was already improved via LUCENE-7831?

[2018-04-04 11:58] ywelsch commented on #29358
@jpountz yes, maybe worth adding a test case in ES?

[2018-04-04 12:10] jpountz opened #29366 "Give higher priorities to fetch tasks than query tasks?"
Under high search load, fetch tasks may have to wait quite some time in the queue before being processed. I was wondering that we might want to give them a higher priority than query tasks in order to minimize the amount of time during which we have to keep resources open at the shard level, such as the index reader, and the amount of time during which the coordinating node needs to keep shard res

[2018-04-04 12:10] elasticmachine commented on #29366
Pinging @elastic/es-search-aggs

[2018-04-04 12:14] dherrhoyiu opened #29367 "Add RequestedAuthnContext for MFA in SAML SP"
Support MFA (Multifactor Authentication) using the authnContextClassRef="http://id.incommon.org/assurance/mfa" attribute on the SP side (Kibana).  This is for Shibboleth, which we are using for federated IdM in the Omnisoc initiative (http://omnisoc.iu.edu).  The federation is InCommon, a higher ed federation.

I have used Shibboleth on the SP side in ES 6.1 to do MFA, but it's really just an over

[2018-04-04 12:36] jpountz opened #29368 "Optimize IndexingMemoryController with IndexWriter.flushNextBuffer"
We should look into using `IndexWriter.flushNextBuffer` (available since Lucene 7.3) to release memory from the IndexWriter, which allows to write a single buffer at a time, usually the largest one. I would expect this to create larger segments on average, which in-turn should make indexing faster since those segments will need less merging (to be tested).

[2018-04-04 12:39] jpountz commented on #29358
OK, making it a test adoptme.

[2018-04-04 12:51] jasontedor commented on #29358
@ywelsch Sorry, what is the test? That the exception message is that which comes from upstream? And the test breaks if upstream changes the message and we merely change the assertion? I am not following what the proposal is here.

[2018-04-04 13:02] ywelsch commented on #29358
@jasontedor That `MetaDataStateFormat.read()` throws a `CorruptStateException` if the file is truncated in any way (in particular as well when it is 0 bytes). We test this already in `MetaDataStateFormatTests.testLoadState` but the method that does the corruption (`corruptFile`) does not seem to generate a 0 length file as corruption possibility.

[2018-04-04 13:17] danielmitterdorfer commented on #29367
Hi @dherrhoyiu, as this is an x-pack related issue, I will open an identical internal issue and close this one. You might be aware that [we are about to open x-pack](https://www.elastic.co/products/x-pack/open) so that issue should reappear again in the coming weeks in this repository. Sorry for the inconvenience in the meantime.

[2018-04-04 13:17] #29367 closed

[2018-04-04 13:23] jasontedor opened #29371 "CreateIndexIT#testCreationDateGivenFails failing since recent commit"
This test started failing. Here is the reproduction line:

[code]

Here is where `git bisect` led me:

[code]

This reproduces on 6.x.

[2018-04-04 13:26] danielmitterdorfer commented on #29367
Yes, that will fortunately get straightforward after x-pack has been opened. W.r.t. to the issue id: I have mentioned this issue in the internal one so it will show up here after the repository migration.

[2018-04-04 13:28] jasontedor commented on #29371
I see this was addressed by c570f09d12886458bb6ea611c0333c5fc2509a18 and I was merely racing you in reporting it.

[2018-04-04 13:28] #29371 closed

[2018-04-04 13:32] elasticmachine commented on #29371
Pinging @elastic/es-search-aggs

[2018-04-04 15:07] rjernst commented on #29176
After discussing the alternative outlined in #29306 with the core team, I'm closing this issue in favor of that proposal.

[2018-04-04 15:07] #29176 closed

[2018-04-04 15:10] rbower54 commented on #21625
Watching and very interested when this is remedied.

[2018-04-04 15:27] jpountz commented on #23850
Thanks for contributing to the discussion @rpedela !

I agree with that part. It turns out that Lucene is also getting improvements for computing the topk-k hits when the score is a linear combination (block-max WAND). This is interesting because it means that more subtle scoring that takes several features into account could also run on the whole collection and not only as a rescorer.

It is not

[2018-04-04 15:29] #29324 closed

[2018-04-04 17:18] danfisk opened #29374 "Java HighLevelRestClient search bug"
**Elasticsearch version** (`bin/elasticsearch --version`):
Initial bug was found in:
client:
'org.elasticsearch.client:elasticsearch-rest-high-level-client:6.2.2'
'org.elasticsearch.client:elasticsearch-rest-client:6.2.2'
with server at 6.0.0
**OS version** (`uname -a` if on a Unix-like system): MacOS 10.13.3
**JVM version** (`java -version`): JVM 1.8.0_161-b12
I have also verified that the bug st

[2018-04-04 17:48] jpountz commented on #25861
OK, I'm adding back the `discuss` label to make sure that we take your feedback into account.

On my end I would still prefer that we do this change. I understand there could be disagreement. And I also think there might be work to do on the integration of index APIs with pipelines. For instance the mapping option has the benefit that you can never skip it, while it's easy to just forget to pass t

[2018-04-04 18:16] elasticmachine commented on #29374
Pinging @elastic/es-core-infra

[2018-04-04 18:28] dnhatn opened #29376 "[CI] QueryBuilderBWCIT#testQueryBuilderBWC fails"
The test `QueryBuilderBWCIT#testQueryBuilderBWC` started failing recently. The query returns no hit while we expect at least one.

[code]

I can reproduce this locally.

[code]

Looks like that the test started failing since the commit `8cdd950056b722e7086f48fb84cf6c29ccf31bd3`.

[2018-04-04 18:30] akotlar commented on #25861
Sounds good

[2018-04-04 20:12] jpountz commented on #29376
I disabled the query that triggers this failure and will work on a fix tomorrow. This highlighted an actual bug.

[2018-04-04 20:24] plcstevens opened #29380 "Composite Aggregation runs out of heap space when composite size is too large"
**Elasticsearch version** (`bin/elasticsearch --version`):

[code]

**Plugins installed**:

[code]

**JVM version** (`java -version`):

[code]

**OS version** (`uname -a` if on a Unix-like system):

[code]

**Description of the problem including expected versus actual behavior**:

Using a rather large size value: `1_000_000_000` will lead to a Java OutOfMemory error and crash the ElasticSearch nod

[2018-04-04 21:39] #24807 closed

[2018-04-04 21:47] Kamleshpa opened #29381 "Allow to create local alias for a remote index in a cross cluster search setup"
**Allow to create local search alias on a remote index.**:

**Elasticsearch version** (`6.1`):

**Description of the problem including expected versus actual behavior**:
Currently elasticsearch does not allow to create a local alias for a remote index
For example:
[code]
Above api call gives an error saying index does not exists. However it should check if there is any remote cluster attached and

[2018-04-04 22:16] ddorian opened #29383 "Multi field primary key to lower overhead"
On cases where the documents are small, often times the "_id" is just a string of "field1:field2:field3", like you do in normal RDBMS with mutli column primary keys.

But currently you have to duplicate which will have 1 more inverted-index(each term 1 value) and another dictionary for the term which may or not be good compressible.

In this, you can store on translog a json_array(f1,f2,f3) while

[2018-04-05 00:17] adityasrini commented on #22623
I’d like to take this up if no one is already working on this or has been assigned to this.

[2018-04-05 02:03] Sjaak01 opened #29385 "[Enhancement]Last know value option for metrics & column and rows"
Hi,

**Last known value option**
There should be an option for metrics to display the last known value for a certain field. This will make it much easier to have Kibana show data that is more static in nature.

Right now its possible to achieve the same by selecting top hits, settings the size to one and adding a filter to make sure the field exists but it would be easier to have a last known valu

[2018-04-05 07:37] #29257 closed

[2018-04-05 08:53] davidkyle commented on #28729
The same error occurred on 6.2 in DedicatedClusterSnapshotRestoreIT#testClusterStateHasCustoms

@tbrooks8 I noticed your fix https://github.com/elastic/elasticsearch/commit/91d9b18524946ece869bf9c767144848f3ac0b5c has not been backported to the 6.2 branch

The error does not reproduce

[code]

[code]

[2018-04-05 09:34] cbuescher commented on #29385
@Sjaak01 Trying to make sure I understand your request correctly: is this is more of a Kibana UI issue? In which case opening a request in the Kibana repo would be better than here. I think that on the elasticsearch side, getting the "last known value" of a field, the best way indeed it to use a combination of `exists`, top hits with size=1 and sorting by whatever field orders your metric (e.g. a

[2018-04-05 09:34] elasticmachine commented on #29385
Pinging @elastic/es-search-aggs

[2018-04-05 09:37] amirensit opened #29389 "unable to import FilterBuilders for java"
Does FilterBuilders is not supported  with java ?

unable for:
`
import org.elasticsearch.index.query.FilterBuilders.*;
`

[2018-04-05 09:42] ywelsch commented on #29389
Hi @amirensit, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co) instead. Thank you!

[2018-04-05 09:42] #29389 closed

[2018-04-05 10:33] davidkyle opened #29390 "[CI] TranslogTests#testFatalIOExceptionsWhileWritingConcurrently failure"
A reproducible failure with an assertion error
[code]

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/1896/console

[2018-04-05 10:33] elasticmachine commented on #29390
Pinging @elastic/es-core-infra

[2018-04-05 10:41] aurimasplu opened #29391 "bucket_selector not working with bucket_script or derivative as variable"
**Elasticsearch version** : 6.1.1-1

**Plugins installed**: X-pack

**JVM version** : java-1.8.0-openjdk-1.8.0.151-5.b12.el7_4.x86_64

**OS version** : RHEL 7.4

**Description of the problem including expected versus actual behavior**:
I want to use **bucket_selector** to remove buckets from the output based on the value generated by **bucket_script**. But it seems that **bucket_selector** does no

[2018-04-05 10:46] javanna commented on #22623
go ahead @adityasrini thanks!

[2018-04-05 10:49] davidkyle opened #29392 "[CI] FlushIT#testSyncedFlushSkipOutOfSyncReplicas failure"
The error is:
[code]

Does not reproduce:
[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=opensuse/884/console

[2018-04-05 10:49] elasticmachine commented on #29392
Pinging @elastic/es-core-infra

[2018-04-05 10:56] jpountz commented on #29383
Sorry, we don't have plans to support composite primary keys.

Today, Elasticsearch requires that a field is indexed on its own in order to be searchable. The absence of primary keys is due to the fact that indexes can be combined rather efficiently, due to the fact that they are all ordered by doc ID. If you filter on two fields, two indices are going to be used unlike with RDBMS. While this is p

[2018-04-05 10:56] #29383 closed

[2018-04-05 11:34] #16472 closed

[2018-04-05 12:00] elasticmachine commented on #29392
Pinging @elastic/es-distributed

[2018-04-05 12:03] davidkyle opened #29393 "[CI] CandidateQueryTests#testDuel failure"
[code]

Reproduces on 6.x and master branches:
[code]

[2018-04-05 12:06] ddorian commented on #29383
It could be optional so you could chose between update/search performance but I understand the reasoning.

[2018-04-05 12:24] elasticmachine commented on #29390
Pinging @elastic/es-distributed

[2018-04-05 12:25] dnhatn commented on #29392
CI Log: [testSyncedFlushSkipOutOfSyncReplicas.txt](https://github.com/elastic/elasticsearch/files/1879899/testSyncedFlushSkipOutOfSyncReplicas.txt)

[2018-04-05 12:34] jasontedor commented on #29390
This one is caused by #29264.

[2018-04-05 12:40] Vishnu4a7 opened #29394 "How to make Elasticsearch as high available?"
I have a problem with Elasticsearch.

At present we have one elasticsearch for all environment.

That Elasticsearch is connected with Logstash (For logs indexing purpose) as well as Zipkin (Logs Streaming Purpose).

Here the problem I am getting is if the Elasticsearch went down, logs data from Zipkin are not able to stream and losing the data.

For Example:
If the Elasticsearch is down from date

[2018-04-05 12:41] ywelsch commented on #29394
Hi @Vishnu4a7, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co) instead. Thank you!

[2018-04-05 12:41] #29394 closed

[2018-04-05 13:05] colings86 commented on #29391
@aurimasplu I reproduced your issues using this following script:
[code]

Notice that there is no document for `2018-01-04` which means the date histogram has an empty bucket. There is a known issue (https://github.com/elastic/elasticsearch/issues/27377) which means the bucket_script aggregation is not run on buckets that have a doc_count of 0 due to how pipeline aggregations deal with gaps in dat

[2018-04-05 13:05] #29391 closed

[2018-04-05 13:06] azitabh commented on #27053
@martijnvg @elwerene _id field is again not there in version 6.1.2. Any reason?

[2018-04-05 13:38] mayya-sharipova commented on #23850
@jpountz Very information comments and example about normalization.
I agree with you, if we find a good way to combine relevance signals (in your example, `alpha` parameter and `log` function), that normalization is not necessary.  The challenge  is to find these parameters.   I encountered research papers, where sophisticated ML algorithms and genetic programming have been used to find optimized

[2018-04-05 14:10] makitka2007 opened #29396 "Auto-alias"
It would be great to have something like auto-aliases, like
[code]

so, when I am searching/writing data to book_org1 alias, it will use book index and "org1" shard automatically.

[2018-04-05 14:13] #29228 closed

[2018-04-05 14:40] spiegela commented on #21878
@martijnvg no worries. PR #21879 was merged, and resolved this bug. I think this was only outstanding as a housekeeping issue. I just checked against `6.5` and it still appears to be working 😄

[2018-04-05 14:45] dadon-david commented on #28025
Hi everyone,

I hope you are doing well,

I am glad to see a conversation about the template reference because I have the similaire issues,

I got other use cases for the template reference outside of the Percolate Query scope:

### 1) Kibana Filter

I use template to create complexe filter and update them easily :
![screen shot 2018-04-05 at 4 08 25 pm](https://user-images.githubusercontent.com/8

[2018-04-05 15:16] JnBrymn-EB commented on #23850
Great discussion!

I am aware that that most of the IR community uses linear combination of signals, but I've always been wary of the implications. Let's go back to a slightly modified version of @jpountz's example:

[code]

Quoting @pountz:

That sounds reasonable, but consider this corner case that, for eventbrite.com, isn't a corner case at all: `query=beer`. This is a common term in our index

[2018-04-05 15:39] mayya-sharipova commented on #23850
@JnBrymn-EB Thanks for outlining your search problem, it is very interesting indeed.  Your scoring formula makes sense to me. And I think this was the intuition behind the original development of ES Function Score Query. Hence, we have `boost_mode` to boost score with some other signals, and the default operation for `boost_mode` is multiplication. But I would also add,  it seems that your formula

[2018-04-05 15:42] davidkyle commented on #28600
Another occurrence: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=fedora/887/console

[2018-04-05 16:03] JnBrymn-EB commented on #23850
Thanks @mayya-sharipova

[2018-04-05 16:32] davidkyle opened #29399 "[CI] RepositoryURLClientYamlTestSuiteIT failure"
This test suite is failing on Windows with the error
[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1462/console

<details><summary>Reproduce commands do not reproduce</summary>
<p>

[code]
</p>
</details>

[2018-04-05 16:41] cbuescher commented on #27704
Closed by #27705

[2018-04-05 16:41] #27704 closed

[2018-04-05 16:42] scottsom commented on #29396
Similar to #22472

[2018-04-05 16:46] elasticmachine commented on #29396
Pinging @elastic/es-core-infra

[2018-04-05 16:49] elasticmachine commented on #29380
Pinging @elastic/es-search-aggs

[2018-04-05 17:00] colings86 commented on #29380
@jimczi could you look into this one?

[2018-04-05 17:21] elasticmachine opened #29997 "[CI] BasicWatcherTests#testPutWatchWithNegativeSchedule failure"
*Original comment by @davidkyle:*

[code]

This appears very similar to LINK REDACTED as in both cases the assertion failure is in `AbstractWatcherIntegrationTestCase.startWatcher`

Does not reproduce
[code]

LINK REDACTED

[2018-04-05 19:30] jecstarinnovations opened #29403 "QueryStringQueryBuilder equals == true when query is not equal"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.3

**Plugins installed**: [] D.N.A.

**JVM version** (`java -version`): openjdk version "1.8.0_161"

**OS version** (`uname -a` if on a Unix-like system): Linux jecstar-laptop 4.15.13-300.fc27.x86_64 #1 SMP Mon Mar 26 19:06:57 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavio

[2018-04-05 20:16] dnhatn commented on #29403
@jecstarinnovations This is indeed a bug. Thanks for reporting it.

[2018-04-05 20:17] elasticmachine commented on #29403
Pinging @elastic/es-search-aggs

[2018-04-05 20:41] elasticmachine commented on #29381
Pinging @elastic/es-core-infra

[2018-04-05 22:41] kovyrin commented on #9669
+1 for adding user IP and the opaque id to slow logs (and, maybe, the user name as well)

[2018-04-05 23:27] jasontedor commented on #29390
I opened #29401.

[2018-04-06 04:25] ankishagarwal commented on #28144
@martijnvg the docs are still showing outdated content for release version 5.1
Link -> https://www.elastic.co/guide/en/elasticsearch/client/java-api/5.1/indexed-scripts.html

[2018-04-06 05:12] martijnvg commented on #28144
@ankishagarwal If I recall correctly for 5.x, only the docs for 5.6 have been updated. Most of the times if doc changes are backported to 5.x, the changes are only backported to 5.6, since that is the only 5.x version that is maintained.

[2018-04-06 07:13] #28960 closed

[2018-04-06 07:59] colings86 commented on #29403
@jecstarinnovations thanks for reporting this bug. I've raised https://github.com/elastic/elasticsearch/pull/29406 which should fix this

[2018-04-06 08:26] tlrx commented on #29270
On slow machines this test might require more than 10 secs for the snapshot to complete. I increased the assertBusy loop to 30s in https://github.com/elastic/elasticsearch/commit/ae2a9f710850a2cc892dc2110776eae9bd1dc75d.

[2018-04-06 08:36] jgdxtv2 opened #29407 "Unable to check non-pending tasks with cluster/monitor privilege"
**Elasticsearch version** 6.2.0

**Plugins installed**: docker.elastic.co/elasticsearch/elasticsearch-platinum:6.2.0 with x-pack

**JVM version** docker.elastic.co/elasticsearch/elasticsearch-platinum:6.2.0

**OS version** Docker

**Description of the problem including expected versus actual behavior**:
What happens:
A user with cluster/monitor privileges can GET pending tasks via _tasks. When the

[2018-04-06 08:44] #29376 closed

[2018-04-06 09:09] tlrx commented on #18407
Closed by #29355

[2018-04-06 09:09] #18407 closed

[2018-04-06 09:40] elasticmachine commented on #29407
Pinging @elastic/es-distributed

[2018-04-06 10:02] jgdxtv2 commented on #29407
I was wrong about the cluster/manage privilege, it does not grant access to reading non-pending tasks.

[2018-04-06 10:04] jasontedor commented on #29407
This repository is for open source Elasticsearch only yet your issue involves X-Pack. For that, please use the [forum](https://discuss.elastic.co).

[2018-04-06 10:04] #29407 closed

[2018-04-06 10:45] #29403 closed

[2018-04-06 10:47] colings86 commented on #29403
@jecstarinnovations thanks for raising this issue, I've merged a fix into the master branch and will back port to the 6.x branch shortly

[2018-04-06 11:06] Jenifer-Ramsingh opened #29408 "Java not found in elastic search"
Hi
I am using Ubuntu 16.04 and i am downloaded and installed the version **6.2.3** using **_sudo dpkg -i elasticsearch-6.2.3.deb_** and the set up is done properly but it has some problem while checking the status i have mentioned the details below please knindly help me to solve this issue

➜  ~ echo $JAVA_HOME
/data/jdk1.8.0_144
➜  ~ service elasticsearch restart
➜  ~ service elasticsearch statu

[2018-04-06 11:52] #29399 closed

[2018-04-06 12:41] StrikerASD commented on #19987
Basically, you need to comment network.host to be able to use elasticsearch on non-loopback address.

[2018-04-06 13:17] makitka2007 commented on #29396
yep, I read that issue, thank you for a link. actually I am not completely agree with following points: "limited audience" and "can be implemented application side".
It's a widely-used approach for multi-tenant applications, to use aliases with filters and routing parameters inside instead of manually filtering and routing. It allows combining aliases, by simple specifying /some_resource_org1,some

[2018-04-06 13:27] jpountz commented on #29277
Discussed in FixitFriday: we agreed to do it. Here is the plan we discussed:
 - update the existing filter so that it supports includes and excludes
 - not support wildcards, only exact strings
 - fail if both includes and excludes are specified

[2018-04-06 13:30] jpountz commented on #28573
Discussed in FixitFriday. We are actually thinking of removing APIs that need to fetch documents as part of query execution, such a change would go in the opposite direction. Additionally, this would be no more efficient than fetching documents on the client-side before percolating them as anynymous documents.

@martijnvg What do you think?

[2018-04-06 13:33] jpountz commented on #29393
We looked into it with @martijnvg, this is a bug in the handling of `minimum_should_match` when the query mixes term and range queries. The query that triggers this failure is `((#unknown_field:zeSEYxqF) -unknown_field:bOQpDgol int_field:[495376381 TO 495376381] int_field:[949349031 TO 949349031])~2`.

[2018-04-06 13:42] edovac commented on #29277
Thanks :)

[2018-04-06 13:56] DaveCTurner commented on #23395
We discussed this briefly and think [this](https://github.com/elastic/elasticsearch/issues/23395#issuecomment-378354313) are reasonable ways forward. There is no urgency on this so it's being marked as adoptme.

[2018-04-06 13:58] colings86 opened #29410 "Improve documentation around which units are and are not allowed in the date_histogram"
Spilt out from https://github.com/elastic/elasticsearch/issues/28432.

We should improve the documentation for the date_histogram aggregation to make it clear which units are allowed in singular form (e.g. "1d") and multiple form (e.g. "2d") and the difference in behaviour between these two (namely that the former is a calendar interval and the latter is a fixed duration in milliseconds.

This is

[2018-04-06 14:06] colings86 opened #29411 "Investigate multiple unit intervals in date_histogram using java.time"
Spilt out from #28432.

This issue is also stalled until https://github.com/elastic/elasticsearch/issues/27330 is complete.

Currently if multiple unit intervals (e.g. "2d" as opposed to "1d") are used in the date histogram aggregation we create fixed duration buckets instead of calendar interval buckets. For a 2d interval this means that the buckets represent `2 * 24 * 60 * 60 * 1000 = 172800000

[2018-04-06 14:06] elasticmachine commented on #29411
Pinging @elastic/es-search-aggs

[2018-04-06 14:07] colings86 commented on #29410
The above mentioned issue is: https://github.com/elastic/elasticsearch/issues/29411

[2018-04-06 14:08] colings86 commented on #28432
Closing this in favour of https://github.com/elastic/elasticsearch/issues/29410 and https://github.com/elastic/elasticsearch/issues/29411 which have been created based on a FiItFriday discussion of how to progress this issue

[2018-04-06 14:08] #28432 closed

[2018-04-06 14:33] #29390 closed

[2018-04-06 14:35] DaveCTurner commented on #28323
This feature request is an interesting idea but we don't think that it is something we should pursue. We prefer to close this issue as a clear indication that we are not going to work on this at this time. We are always open to reconsidering this in the future based on compelling feedback; despite this issue being closed please feel free to leave feedback on the proposal (including +1s).

[2018-04-06 14:35] #28323 closed

[2018-04-06 14:54] imotov commented on #29301
@mloho, thanks for the detailed report. It was fixed by #29325 and should be release in v6.3.0.

[2018-04-06 14:54] #29301 closed

[2018-04-06 15:31] jpountz commented on #26587
This was fixed in Elasticsearch 6.2 which introduced the ability for queries to opt out of caching (https://issues.apache.org/jira/browse/LUCENE-8017).

[2018-04-06 15:31] #26587 closed

[2018-04-06 15:32] jpountz commented on #21356
We didn't get many complaints about it. Closing.

[2018-04-06 15:32] #21356 closed

[2018-04-06 15:42] olcbean commented on #29268
@jasontedor I would prefer to go with the second option in 7.0 : no special handling for "settings" at the top-level. What do you think ?

[2018-04-06 15:56] martijnvg commented on #28573
Then in that case I think it makes sense to not add support for fetching multiple documents.

true

The main reason I was in favor of adding this, was that it is possible to specify either a  single or multiple documents in json/smile etc, but not when just specifying index/type/id and that felt incomplete to me.

[2018-04-06 15:56] #28573 closed

[2018-04-06 15:58] Van0SS commented on #27205
I am taking Cluster API: list tasks.

[2018-04-06 16:20] INRIX-Trang-Nguyen opened #29416 "ElasticSearch 5.3 returns 0 hits under high concurrency conditions"
**Elasticsearch version**: 5.3

**Plugins installed**: [Kibana]

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): AWS ElasticSearch service

Cluster size:
4 i3.2xlarge.elasticsearch worker nodes
2 shards/index
Index size: ~50-60GB primary

**Description of the problem including expected versus actual behavior**:
Under high concurrency conditions on a Sp

[2018-04-06 16:25] INRIX-Trang-Nguyen commented on #29416
These indexes have all been refreshed. They were created a while back.
Thanks, I can move to the forum.

[2018-04-06 16:27] INRIX-Trang-Nguyen commented on #29416
I had filed another concurrency issue involving pre-indexed shapes that will go out in 6.3. I don't believe it is related but just in case, I'll reference it here: https://github.com/elastic/elasticsearch/issues/28456

[2018-04-06 17:50] dakrone commented on #29416
Since this has moved to the forum for now, I am going to close it. We can re-open if it turns into something different, thanks!

[2018-04-06 17:50] #29416 closed

[2018-04-06 18:09] antbac commented on #25563
Sorry for the very late reply, but I am affraid our group has dispanded. We were unable to produce any satisfactory results so I won't be pushing a pull request.

[2018-04-06 18:40] rpedela commented on #23850
### Definition of "better"
I think it is useful to define what "better" means. To me, it is making the manual combination of several, distinct relevance signals intuitive. Intuitive is the key word because practically it means I can spend less time on this task and move on.

### Implementation
I realize there are challenges to normalization, but I doubt they are insurmountable. However, let's tabl

[2018-04-06 18:43] rpedela commented on #23850
@mayya-sharipova Dividing by the max score is turning the score into a percentage. The min value then becomes zero. There may be other more advanced normalization algorithms rather require finding the minimum score, but in my experience simply dividing by the max score works well enough.

[2018-04-06 19:49] mayya-sharipova commented on #23850
@rpedela thanks for such a good illustrative write up. It nicely illustrates the problem, and the need for normalization.  About the implementation, we want to implement something that 1) addresses a broad range of use cases 2) does't put much constrains on the system (CPU, memory) and 3) and ideally  backed up by the literature from the Information Retrieval field.
We are still in the process to

[2018-04-06 20:25] Van0SS commented on #27205
@javanna @nik9000 I am confused right now. ListTasksRequest and GetTaskRequest both can request specific task by id. But in REST endpoint ListTasksRequest can't be used for this purpose. Do we need it to support backward compatibility with transport client and allow ListTasksRequest  be used for task by id or better add validation which will prevent it?
I can create almost zero changes PR for this

[2018-04-06 20:34] javanna commented on #27205
@Van0SS I would not allow for this, otherwise in some cases we would end up having to send list requests to the get task endpoint, which is cumbersome. We could potentially move the taskId instance member from the base class to the relevant subclasses only but also the transport actions would need to be adapted for this, I would need to play with this and see how such change turns out.

[2018-04-06 21:33] tdoman commented on #8369
@bleskes Thanks for the note for future readers as I've noticed this in our ES 6.1.1 cluster (on Windows VMs).  We have 3 nodes and 2 replicas of every index and yet, for some reason, all the primary replicas for every single index are on one node.  The VMs periodically will need updates and restart on a staggered schedule and we'll see the primaries shift but they always end up all on one node.

[2018-04-06 22:09] nicpottier commented on #20537
Did you install the apt-https transport?

`sudo apt-get install apt-transport-https`

[2018-04-07 03:29] JnBrymn-EB commented on #23850
Wow. Lots of good stuff here @rpedela. Great example that make me think.

Here's roughly where I keep landing though. I _really_ want the type of normalized signals that you are talking about, but I'm not sure they are achievable. It's not that the technology isn't there - it's easy enough to divide by max score - but rather I don't know that an absolute score is even _knowable_. I feel we are onl

[2018-04-07 03:54] JnBrymn-EB commented on #23850
Hm... but you're making me think @rpedela. Maybe you don't want the absolute measure of relevance so much as you want the text portion of the score to fall between 0 and 1. Basically you say "I don't care how relevant these results are... they are at least the most relevant things we have to offer based upon text, and all other signals (distance, rating, etc.) are subordinate to text relevance." I

[2018-04-07 06:25] rpedela commented on #23850
@JnBrymn-EB Yes. I want to point out that the static signals don't necessarily have to be subordinate to text relevance. It depends on the use case. Here is an example equation if you want text relevance to account for 40% of the final score and popularity to account for 60%.
[code]

Yes which is why I would love to see this implemented in the server. The workaround example I posted in my first co

[2018-04-07 14:03] xfumihiro opened #29420 "Support uppercase in index names"
For use cases that have index name format like:
"user-{base64_user_id}"

discussions on forum
https://discuss.elastic.co/t/why-cant-an-index-start-with-an-uppercase-letter/72435/6

Christian Dahlqvist [Elastic Team Member]

David Pilato

Not sure if it's really worth it TBH.

[2018-04-07 16:42] DimitrisParaskevaidis commented on #24087
I would still like to work on this issue . I need more information on how
to decouple MultiValueMode.

Στις Παρ, 23 Μαρ 2018, 6:00 μ.μ. ο χρήστης Mayya Sharipova <
notifications@github.com> έγραψε:

[2018-04-08 03:30] lidane2 opened #29421 "在北京时间8点 所有的logstash 新建立索引 发现 所有的索引都无法创建"
... 1 more
[2018-04-07T08:01:16,165][WARN ][o.e.x.m.e.l.LocalExporter] unexpected error while indexing monitoring document
org.elasticsearch.xpack.monitoring.exporter.ExportException: RemoteTransportException[[ELK_ES11][10.120.113.179:9300][indices:admin/
create]]; nested: ProcessClusterEventTimeoutException[failed to process cluster event (create-index [.monitoring-kibana-6-2018.04.07
], cause [a

[2018-04-08 05:10] dadoonet commented on #29421
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-04-08 05:10] #29421 closed

[2018-04-08 05:55] jgq2008303393 commented on #15896
@bleskes we still encounter this problem in 5.6.4.

https://discuss.elastic.co/t/half-dead-node-lead-to-cluster-hang/113658

[2018-04-08 09:49] jacobsy opened #29422 "Date range query does it support microseconds?"
**Describe the feature**:    Query by date range precision

**Elasticsearch version** (`bin/elasticsearch --version`):"elasticseach-5.5.3"

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system):
2.6.32-431.23.3.el6.x86_64 #1 SMP Thu Jul 31 17:20:51 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

Expect to get greater than equal "2018-03-29T07:10:18.463242817Z" recor

[2018-04-08 10:49] dadoonet commented on #29422
Duplicate of https://github.com/elastic/elasticsearch/issues/10005

Better to ask questions on discuss.elastic.co. Thanks!

[2018-04-08 10:49] #29422 closed

[2018-04-08 15:00] redlus opened #29423 "Snapshot recovery failures lock the cluster in red state and prevent additional snapshot operations from running"
Hi,

When recovering an index from a snapshot, a failure to recover a single shard puts the cluster in red state and holds the lock for snapshot operations until a manual intervention is made.

**Elasticsearch version**:
6.2.3

**Plugins installed**:
ingest-attachment
ingest-geoip
mapper-murmur3
mapper-size
repository-azure
repository-gcs
repository-s3

**JVM version**:
openjdk version "1.8.0_151"

[2018-04-09 00:49] micookie commented on #17430
and reboot system

[2018-04-09 02:53] elasticmachine opened #29999 "Add security_read cluster privilege"
*Original comment by @tvernum:*

At the moment the only security privilege we have is `manage_security` which is full read/write on all users/roles.

There's a use case for a readonly security privilege that would allow customers to run reports on user access, etc without having the ability to change anything.

[2018-04-09 07:31] siddharthgoel88 commented on #24867
Hey @jasontedor . May be I missed the point in this whole change of conversations, I still have the question.

How is one expected to extend custom environment variables in RPMs?

From the product point of view, I believe all the deliverable (zip, rpm, msi, ...) should behave the same way. We had always been able to configure the environment variables previously and it gave us good flexibility. An

[2018-04-09 07:34] JFogh commented on #29344
@jimczi I do not think I will have time to look into it, in the near future - so maybe the "adoptme"-tag would be fine.

[2018-04-09 07:46] elasticmachine commented on #29420
Pinging @elastic/es-core-infra

[2018-04-09 08:25] jimczi commented on #29344
Ok thanks @JFogh

[2018-04-09 08:26] byronvoorbach opened #29426 "'Failed to build synonyms' when using delimiter_graph + synonym_graph - 6.2.3"
Hi there,

In the process of upgrading one of my clients from ES5.5.1 -> ES6.2.3, I got into an issue when trying to build an index in ES6. I worked out a small snippet to highlight my issue:

[code]
Generates the following error:

[code]

The actual error is in my custom synonym file, but I managed to reproduce with a single term.
The above works in ES5.5.1

[2018-04-09 09:25] redlus commented on #29097
Commit #29125 changes the mechanism controlling the flush operation, and although it has been committed to the master, the latest elasticsearch version does not include it. We've therefore built v6.2.4-SNAPSHOT from the master and have been running it for the last two weeks in production-scale. The issue seems to have been solved, and everything works as expected:

![image](https://user-images.git

[2018-04-09 09:29] bleskes commented on #29097
@redlus thanks for testing and letting us know. Happy to hear it worked.

[2018-04-09 09:32] bleskes commented on #15896
@jgq2008303393 the issue is still open, so sadly, that's expected.

[2018-04-09 09:36] fapwlh opened #29427 "Painless slowly in search?"
## I'm a beginner, when I use painless script to search ,very slowly  ,but use date_histogram very quickly.
`POST /productinfo/_search
{
  "aggs": {
      "groupbyyear":{
        "terms": {
           "script": {
             "lang": "painless",
             "source":"doc['mdate'].value.year"
           }
        }
      }

  }
}`
## the took is 2494
`{
  "took": 2494,
  "timed_out": false,
  "_sh

[2018-04-09 09:41] dadoonet commented on #29427
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-04-09 09:41] #29427 closed

[2018-04-09 12:13] Lumaraf opened #29429 "NullPointerException if percolate query is used inside bool query"
**Elasticsearch version**:
6.2.3

**JVM version**:
1.8.0_161

**OS version** (`uname -a` if on a Unix-like system):
Debian 4.9.30-2+deb9u2

**Description of the problem including expected versus actual behavior**:
A NullPointerException is thrown if a percolate query is used inside a bool query if other should clauses match, but not the percolate query.

**Steps to reproduce**:

 1.
[code]
 2.
[co

[2018-04-09 13:09] bleskes commented on #8369
@tdoman https://www.elastic.co/blog/elasticsearch-versioning-support explains how to map what the update api does to equalivent get then index patterns. If you have any questions about how to do this with the .NET client, I suggest asking on the [discuss forums](http://discuss.elastic.co).

[2018-04-09 13:17] IngaFeick commented on #9669
+1 Really really need this, but for all logs, not just slow logs.

[2018-04-09 13:50] javanna commented on #29381
I see a couple of problems with this proposal, that make it collide with our current design decisions.

An alias is a piece of metadata attached to an existing index. It would be a new concept to have an alias point to something that is not locally present, it would mean storing aliases differently in the cluster state. Not saying it's not possible, but it's quite a change compared to how aliases

[2018-04-09 14:05] elasticmachine commented on #29429
Pinging @elastic/es-search-aggs

[2018-04-09 14:10] martijnvg commented on #29429
@Lumaraf Thanks for reporting this bug and sharing an easy to reproduce it.

What I do wonder is why you are trying to use a `percolate` query inside a percolator query? Although the query dsl will allow this, we haven't really thought about this usage of the `percolate` query and as you have seen doesn't work as expected.

[2018-04-09 14:33] regnarock commented on #23760
+1

[2018-04-09 14:36] jmleoni commented on #23760
+1

[2018-04-09 15:29] jpountz commented on #29366
We discussed it further in FixitFriday and within the search team. Another option that was mentioned was to split tasks into two threadpools but we decided against it because we want to keep the number of threads contained, and decreasing the number of threads that query tasks can run in doesn't sound good either since some workloads consist only of query tasks.

So next steps would be the followi

[2018-04-09 19:51] tdoman commented on #8369
@bleskes thanks, I will review that.  Can you tell me where to go to find out why all the primary shards for every index are located on the same node?  I have another cluster running the same version of ES where I have only one large index and there I see the primary shards for that index split between two of the three nodes.  By the same token, is there a way to ask ES to distribute the primary s

[2018-04-09 20:59] dnhatn opened #29435 "testFactoryValidationForMultipleScriptingTypes fails on 6.x"
Error Message:

Unexpected exception type, expected XContentParseException but got
ElasticsearchParseException[Only one of [id] or [source] may be configured]

CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/1516/testReport/org.elasticsearch.ingest.common/ScriptProcessorFactoryTests/testFactoryValidationForMultipleScriptingTypes/

[2018-04-09 22:24] pcsanwald commented on #29033
Some notes: I reproduced this issue on `master`, just to confirm it's still an issue in 7.x. The message in the Exception is thrown in only one place in the codebase, `Rewritable.java`, reproducing the query and inspecting with a debugger, the error appears to be stemming from (at debug time) 4 async tasks that are still on the context (`QueryRewriteContext`) while `Rewritable.rewrite` is being ca

[2018-04-09 22:25] dakrone commented on #29435
Resolved by a6301be5fc3c5c6760b3d7ca269a984396a5d6bb

[2018-04-09 22:25] #29435 closed

[2018-04-09 22:27] tdoman opened #29437 "All primary shards on the same node for every index in 6.x"
ES 6.1.1
NEST 6.0.1
3 node cluster, 2 replicas for each index

In looking for the cause of a "hot" node, I read a lot about how "updates" can cause this since they need to be coordinated via the primary shard.  In my cluster, I have 34 indexes, most w/ 5 shards, and some "user" indexes w/ 20 shards.  Each and every primary shard for each and every index is on the same node which means that every u

[2018-04-09 22:48] tdoman commented on #8369
@bleskes I entered issue 29437 for this question as it seems something is wrong in ES 6.x that would cause every primary shard for every index to end up on the same node.

[2018-04-10 00:08] jasontedor commented on #29437
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2018-04-10 00:08] #29437 closed

[2018-04-10 02:53] tdoman commented on #29437
@jasontedor I don't mind if this isn't, in fact, a bug.  As I described above, the primaries move around if I change the number of replicas.  Thus, feels like a bug to me.

[2018-04-10 03:15] tdoman commented on #12279
@DaveCTurner +1
At the very least, some way of distributing the primaries.  I can simulate a redistribution of primaries in a 3 node cluster w/ 2 replicas but setting that to 1, waiting for the redistribution, and then setting it back to replicas.  Giving the deployer the option to make that decision manually would be very helpful.

[2018-04-10 03:48] cont-korzh commented on #11322
+1

[2018-04-10 04:06] xibaohe commented on #19381
why we need two "\"?

[2018-04-10 04:06] xibaohe commented on #19381
why need two "\\"

[2018-04-10 05:26] #29393 closed

[2018-04-10 06:33] danielmitterdorfer commented on #29426
Thanks for your report! The root cause seems to be that since 6.0, the `synonym_graph` filter, tokenizes synonyms with tokenizers / token filters that appear before it in the chain (see [docs](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/breaking_60_analysis_changes.html#_synonym_token_filter)). As the `word_delimiter_graph` is set to `catenate_all = true`, the above error happens.

[2018-04-10 06:33] elasticmachine commented on #29426
Pinging @elastic/es-search-aggs

[2018-04-10 07:10] jpountz opened #29442 "Never reject execution of fetch tasks"
The search threadpool needs to run two main kinds of tasks: query tasks and fetch tasks. We should consider force-adding fetch tasks to the queue even in the event that the queue is already full. The reasoning is that fetch tasks may only be follow-up to query tasks, so the number of additional fetch tasks that may enter the threadpool is expected to be reasonable.

We already have infrastructure

[2018-04-10 07:10] elasticmachine commented on #29442
Pinging @elastic/es-search-aggs

[2018-04-10 07:33] elasticmachine commented on #29437
Pinging @elastic/es-distributed

[2018-04-10 07:39] colings86 commented on #29033
I think the problem here is down to us only calling one of the two rewrite phases for the QueryBuilder in the Validate Query API. There are two rewrites phases that happen on the search API:
1. The first happens on the coordinating node, this is where we can do things like fetches so we ensure that all the requests going to the shards have the same query (they are not affected by different shards

[2018-04-10 07:40] colings86 commented on #29426
@romseygeek could you take a look at this one?

[2018-04-10 07:41] naliniranjan82 opened #29443 "Email issue."
**Describe the feature**:
In-spite  Elastics watcher getting successful executed not reviving email.

**Email host detail in elasticsserach.yml**
*xpack.notification.email.account:
    socgen_account:
        profile: fidessa
        smtp:
            auth: true
            starttls.enable: true
            host: smtp-*******
            user: *********
            password: *******
*
**Watcher re

[2018-04-10 07:53] tvernum commented on #29443
Could you please ask this question on our [discuss forum](https://discuss.elastic.co/c/x-pack) where we can provide better support. Those forums are designed to support the kinds of conversations that are necessary for this sort of troubleshooting and problem diagnosis.

Elastic uses GitHub issues for tracking clearly identified bugs and feature requests. Since it does not appear that there is a s

[2018-04-10 07:53] #29443 closed

[2018-04-10 07:57] bevans88 commented on #27550
I've recently come across the same problem (at least I believe it is https://discuss.elastic.co/t/empty-slices-with-scan-scroll/127255). Is this issue being actively looked at, or is it seen as low priority?

[2018-04-10 08:02] jimczi commented on #27550
It's on my todo list, not high priority but I'll try to find some time in the coming days to work on a fix.

[2018-04-10 08:46] medcl opened #29445 "Allow to explain how analyzer was composed"
Currently, we have many nice built-in analyzers and also can custom our own, they are various.

For customized analyzer, we can get the definition from the index settings, and for built-in one, we need to navigate to the docs or refer to the source code.

Sometimes, for better understanding the analysis result, we may hope to know what is the components of an analyzer, specifically, which [char_fi

[2018-04-10 08:57] romseygeek commented on #29426
@danielmitterdorfer is correct.  We now use the preceding tokenizer chain to analyze terms in the synonym map, and `word_delimiter_graph` is producing multiple tokens at the same position, which the map builder doesn't know how to handle.

In the case above, removing the `term1=>term` mapping should still work, because the delimiter filter is in effect already doing exactly that: `term1` produces

[2018-04-10 09:13] bleskes commented on #8369
@tdoman as Jason said in other ticket - please open a topic on the forum where we'd be happy to help. I think there's same basic misconceptions about the role of the primary. We keep github for concrete issues and features.

[2018-04-10 09:14] Lumaraf commented on #29429
I don't have percolate queries stored in percolator fields. For the example mapping i only reduced the fields to the absolute minimum necessary to reproduce the bug. Fields used by the percolator and those stored in the documents are kept separate in my actual use case.

[2018-04-10 09:38] bleskes commented on #29392
@dnhatn did you get anywhere with this?

[2018-04-10 09:39] elasticmachine opened #30000 "SQL: CLI: empty statement generates an exception"
*Original comment by @bpintea:*

Providing no statement, but ending the line with semicolon will result in an exception.
Ex.: ; + CR

[code]

[2018-04-10 09:56] elasticmachine opened #30001 "SQL: CLI: cancel current multiline buffer"
*Original comment by @bpintea:*

It would be great to support canceling the current buffer, in case a multi-line error has been made.
As example, mysql implements it with `\c` as current line terminator:

[code]

Note: CTRL+C just adds a CR into current buffer.

[2018-04-10 09:57] bleskes commented on #29290
There's another aspect here that I didn't see mentioned but I think is important for future readers - allowing access to lucene features (like doc values) collides with reading from the translog but also prevents us from shifting to running the update scripts on the coordinating nodes (https://github.com/elastic/elasticsearch/issues/8369), either as a dedicated API or as part of bulk.

[2018-04-10 10:02] elasticmachine commented on #29445
Pinging @elastic/es-search-aggs

[2018-04-10 10:07] jpountz commented on #29445
This is something that we can't even do internally: once analyzers are created there is no way to know their components. This feature would have a significant cost, while we already document how they are built. I don't think we should add this feature.

[2018-04-10 10:27] elasticmachine opened #30002 "SQL: inconsistent date(time) format handling."
*Original comment by @bpintea:*

When selecting a column of type DATE, a ISO8601 DATETIME string is returned.
When trying to cast the returned string as DATE, an exception is thrown, the trouble seeming to be related to the milliseconds field: `Invalid format: "1953-09-02T00:00:00.000Z" is malformed at ".000Z"`.

[code]

[2018-04-10 11:34] #29429 closed