[2018-05-15 12:33] colings86 commented on #30608
@ruizmarc This does indeed looks like a bug at first glance. Do you have the full stack trace for the ClassCastException from your server logs?

[2018-05-15 12:34] elasticmachine commented on #30604
Pinging @elastic/es-core-infra

[2018-05-15 12:39] cbuescher commented on #30604
@jamesdbaker have you looked into whether a [script processor](https://www.elastic.co/guide/en/elasticsearch/reference/master/script-processor.html) might solve your problem? Just curious. Also it looks like @dadoonet used just this usecase for his blog about writing an ingest processor: http://david.pilato.fr/blog/2016/07/28/creating-an-ingest-plugin-for-elasticsearch/

[2018-05-15 12:55] byronvoorbach opened #30614 "Stemmer Token Filter before Synonym (Graph) Token Filter stems synonyms"
When using stemming before synonyms, my results still get stemmed: (_analyze explained output)

[code]
Is this to be expected? Or is this an issue?

I'm seeing this problem in ES5.5.1 and ES6.2.2
A complete example to try out:

[code]

According to the defined filters, you would expect synonyms to be handled as the last filter. Resulting in to the term: `aapmies`. This sadly doesn't happen. It fee

[2018-05-15 13:00] javanna opened #30616 "Low-level REST client: remove support for default headers"
The low-level REST client currently supports setting default headers, so that they will be automatically set to each request. Headers can also be set at the request level, and in case they have the same key as default ones they will override them. The http client that we use already supports a similar functionality, the only difference being that default headers cannot be overridden, rather reques

[2018-05-15 13:00] elasticmachine commented on #30616
Pinging @elastic/es-core-infra

[2018-05-15 13:01] AmishP commented on #30077
I would like to work on this, can I start on it?

[2018-05-15 13:17] wuyunfeng commented on #30611
@ywelsch Thanks.  We will merge these changes to 5.5.0 in our local repo.

[2018-05-15 13:19] abdonpijpelink opened #30617 "cluster.routing.allocation.awareness.attributes setting does not accept an array of values"
Not sure if this is a bug or a "work as designed", but I see a lot of students run into issues with this in training, so I figured more folks may have problems with this. We may want to make this a bit more user friendly.

When configuring `cluster.routing.allocation.awareness.attributes` via `_cluster/settings`, the setting does not accept an array of values. If you do provide an array of values,

[2018-05-15 13:32] ruizmarc commented on #30608
Thanks for your quick response :) Sure, here you have the stack trace:

`elasticsearch_1                            | org.elasticsearch.action.search.SearchPhaseExecutionException:
elasticsearch_1                            |    at org.elasticsearch.action.search.AbstractSearchAsyncAction.onPhaseFailure(AbstractSearchAsyncAction.java:274) [elasticsearch-6.2.4.jar:6.2.4]
elasticsearch_1

[2018-05-15 13:34] cbuescher commented on #30604
@jamesdbaker I just tried using a simple script to copy the contents of one field to another and it seems to solve at least simple "copy" use cases:
[code]

There are edge cases to consider, e.g. the above will simply overwrite an existing `field_b` in the input document if it exists. I'm also not sure about whether a dedicated ingest processor would be more performant, but at least it looks like

[2018-05-15 13:52] nik9000 commented on #30605
`ParsingException` can't move because it extends `ElasticsearchException`. We made `XContentParseException` which doesn't extend `ElasticsearchException` to use directly from the xcontent stuff. I think the tests should catch either or something should wrap somewhere.

[2018-05-15 14:01] jamesdbaker commented on #30604
Thanks, having a script version is a start (although a little more work). I'm trying to create an interface to allow users to configure their own pipelines (in my use case, users can upload their own raw data in any format, and then provide a mapping to normalise it into our standard format) - so having a dedicated Copy processor would make things a little easier from that point of view (and the p

[2018-05-15 14:18] dakrone commented on #30605
I agree with @nik9000, this should use `XContentParseException` so that it can keep being decoupled from `ElasticsearchException`

[2018-05-15 14:29] colings86 commented on #30608
@ruizmarc  I hope you don't mind but I re-formatted your stack trace a bit to make it a bit easier to read

[2018-05-15 14:31] jpountz commented on #30605
This sounds good to me. I updated the title and description of the issue.

[2018-05-15 14:48] dimitris-athanasiou commented on #30551
We found the cause of this. It was a bug that was introduced in version `6.1`. When we persist the model state, we persist the state documents in `.ml-state` index and a `model_snapshot` document in the results index. Later, in order to delete the state documents, we need to have the model snapshot doc. Due to the bug, during background periodic persistence, the state documents were persisted but

[2018-05-15 15:04] carlos-olr commented on #30171
@chroje Can you post the correction?

[2018-05-15 15:09] jaymode commented on #30603
@tvernum I am removing the discuss label as I am not sure that discussion is needed about this issue. Please add it back and comment about what needs to be discussed if you still believe there is something to discuss.

[2018-05-15 15:31] imotov commented on #25154
While writing the tests for this issue I realized that if we index a geopoint specified as a geohash it is indexed as a bottom left corner of the corresponding geohash cell instead of the center as one would expect. On high precision geohashes it doesn't really matter but with low precision geohashes it produces somewhat strange results. Would it makes sense change this as well? @nknize what do yo

[2018-05-15 16:01] jamesdbaker commented on #30604
Thanks @martijnvg , I wasn't aware that the Set processor could take other fields, I thought it was just for setting literal values.

[2018-05-15 16:04] cbuescher commented on #30604
@martijnvg same here. @jamesdbaker do you think this is sufficient enough to close this issue?

[2018-05-15 16:07] jamesdbaker commented on #30604
I've not tested, but yet this should do the job to resolve my issue. Perhaps worth updating the documentation though to reflect that this is an option? (I don't know whether that's a separate ticket or not?)

[2018-05-15 16:11] asatsi commented on #30247
bump! Could somebody help out?

[2018-05-15 16:12] cbuescher commented on #30604
Good suggestion, I removed the discussion label and made this a documentation issue. I think it it worth adding an example like this to the set processor documentation.

[2018-05-15 16:34] ywelsch commented on #30617
indeed, I'll fix this

[2018-05-15 16:45] Sarathmskr opened #30622 "Elastic Search - Free Text Search - Nested fields - (Elastic 6.2)"
[code]
This works fine.

The same I need to search in Nested objects and in non nested at the same time. My full document contain more than 500 fields, most of them are in nested level. when I search non nested It's working fine, but not for nested fields.

I tried to create a sample .. like below, but no luck.. getting empty result.
[code]
Let me know if anything need to be add.

[2018-05-15 17:07] talevy commented on #29558
thanks @jasontedor, I've taken another look and it has continued passing since. I will go ahead and close this.

<img width="566" alt="screen shot 2018-05-15 at 10 07 13 am" src="https://user-images.githubusercontent.com/388837/40072166-c61109b0-5827-11e8-8599-8c5e9c967cd3.png">

[2018-05-15 17:07] #29558 closed

[2018-05-15 17:08] james-uffindell-granta opened #30624 "Field-level security with inner_hits can cause index out-of-bounds exception"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.2.4, Build: ccec39f/2018-04-12T20:37:28.497551Z

**Plugins installed**:
x-pack
        x-pack-core
        x-pack-deprecation
        x-pack-graph
        x-pack-logstash
        x-pack-ml
        x-pack-monitoring
        x-pack-security
        x-pack-upgrade
        x-pack-watcher

**JVM version** (`java -version`):
java 9
Ja

[2018-05-15 17:18] tomcallahan opened #30625 "Use of field capabilities API can print warnings related to _uid field"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.0 and 6.2.1

**Plugins installed**: [ x-pack ]

**JVM version** (`java -version`): Any

**OS version** (`uname -a` if on a Unix-like system): Any

**Description of the problem including expected versus actual behavior**:

To be able to use the field capabilities without warnings.

**Steps to reproduce**:

In certain cases, Kibana will

[2018-05-15 18:02] jbaiera commented on #30622
@elastic/es-search-aggs

[2018-05-15 18:03] jbaiera commented on #30622
Can you post your mappings that you are running against here as an additional bit of info?

[2018-05-15 18:15] elasticmachine commented on #30624
Pinging @elastic/es-security

[2018-05-15 19:36] javanna commented on #30536
thanks @jasontedor for the history. One more thing I recently stumbled upon is that we may or may not return indices without matching aliases, depending on whether an alias was provided in the request or not (#27763). I realize there is even more history around this, but I find that a bit confusing, maybe it is a good time to discuss that too if we revise the get aliases response.

[2018-05-15 19:46] #29900 closed

[2018-05-15 19:52] hrybeniuk commented on #30077
I would like like to help you. What can I do?

[2018-05-15 20:08] jaymode commented on #30597
This is in fact the case and was an intentional change introduced in #17048. A couple of thoughts come to mind, we can add the original indices to the request or we can handle this case specifically within our authorization code. We currently already have a special case for this, so I am leaning towards expanding that with a fix.

[2018-05-15 20:13] costin commented on #30273
This has been fixed through #30585 (ordering on a non-grouping column is not allowed anymore).

[2018-05-15 20:13] #30273 closed

[2018-05-15 20:17] costin commented on #29982
Ordering is supported only on the grouping columns (see #30585).
Closing this as won't fix.

[2018-05-15 20:17] #29982 closed

[2018-05-15 20:17] costin commented on #29967
This has been fixed through #30585 (ordering on a non-grouping column is not allowed anymore).
Closing this as won't fix.

[2018-05-15 20:17] #29967 closed

[2018-05-15 20:37] keithmo opened #30627 "Inconsistent ingest pipeline support for REST bulk API"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.2.4, Build: ccec39f/2018-04-12T20:37:28.497551Z, JVM: 1.8.0_66

**Plugins installed**: []
None

**JVM version** (`java -version`):
java version "1.8.0_66"
Java(TM) SE Runtime Environment (build 1.8.0_66-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.66-b17, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Dar

[2018-05-15 20:58] elasticmachine commented on #30627
Pinging @elastic/es-core-infra

[2018-05-15 21:08] nik9000 opened #30628 "smoke-test-rank-eval-with-mustache doesn't work with zip distribution"
In #30591 I'm adding support for running qa tests with the distribution configured using `-Dtests.distribution`. Most of the tests work except smoke-test-rank-eval-with-mustache fails because it tries to form a cluster with an `ESIntegTestCase`. I'm not 100% sure what the test is testing so I didn't want to change it. But I think it should be changed to work with the `zip` distribution.

[2018-05-15 21:08] elasticmachine commented on #30628
Pinging @elastic/es-search-aggs

[2018-05-15 21:14] nik9000 commented on #30628
You can reproduce the failure by removing this from `qa/smoke-test-rank-eval-with-mustache/build.gradle`:
[code]

And then running:
[code]

[2018-05-15 21:58] polyfractal commented on #30608
I see the bug.  It's not just when the aggs are the same name, but when they line up in just the correct manner:

- A. Multi-bucket agg in the first entry of our internal list
- B. Regular agg as the immediate child of the multi-bucket in A
- C. Regular agg with the same name as B at the top level, listed as the second entry in our internal list
- D. Finally, a pipeline agg with the path down to B

[2018-05-16 00:02] ensslen opened #30634 "Missing documentation of formats on dates in range queries"
**Elasticsearch version** (`bin/elasticsearch --version`):n/a

**Plugins installed**: n/a

**JVM version** (`java -version`): n/a

**OS version** (`uname -a` if on a Unix-like system): n/a

**Description of the problem including expected versus actual behavior**:
[According to Elastic](https://discuss.elastic.co/t/range-query-not-working-with-format/131659/2?u=steven_ensslen), formats on range que

[2018-05-16 00:06] ruizmarc commented on #30608
I'm glad it helped! Thanks for your quick fix, it will be very helpful! 💯 ☺️

[2018-05-16 00:34] zoellner opened #30635 "Allow using more recent dictionary data for Smart Chinese Analysis plugin"
**Describe the feature**:

My understanding is that the Smart Chinese Analysis plugin (analysis-smartcn) uses the underlying Lucene plugin org.apache.lucene.analysis.cn.smart which, according to its documentation, is based on dictionary data from ICTCLAS1.0
ICTCLAS has had many updates since. An updated Lucene plugin is available here: https://github.com/NLPIR-team/nlpir-analysis-cn-ictclas

My fe

[2018-05-16 01:00] asatsi commented on #30247
Thanks @javanna for reviewing the logs. There is apparently no issue with the connectivity as the firewall ports have been specifically opened for all the required ports. I also observed that whenever the "proxy cross cluster" is restarted, the remote connection behaves good. In Kibana I can see logs/dashboards from both the remote clusters. But after sometime, one of the remote cluster starts giv

[2018-05-16 01:29] tvernum commented on #29692
@lcawl Bump - it would be good to at least update the docs to clarify that `hosts` should point to the transport port rather than the http port (actully, the port can just be left blank if the remote cluster is using the default port of `9300`).

[2018-05-16 01:33] tvernum commented on #30603
@ywelsch And I discussed this, and believed that it would be good to discuss this further.
We were of the view that cluster state events should be published in a system context (which they probably are on non-master nodes, but the master node shortcuts its own update event).

[2018-05-16 04:17] jasontedor opened #30638 "Repository GCS test deprecated settings is broken"
This assertion:

https://github.com/elastic/elasticsearch/blob/873d380f455811c6f3002ad3436f310e3e3dfb78/plugins/repository-gcs/src/test/java/org/elasticsearch/repositories/gcs/GoogleCloudStorageRepositoryDeprecationTests.java#L53-L56

fails reliably in 6.x This appears to be because code that would produce such methods never appears in production code.

[2018-05-16 04:17] elasticmachine commented on #30638
Pinging @elastic/es-distributed

[2018-05-16 04:22] jasontedor commented on #30638
I pushed c350c22b5c8cb70c980532a60d15a1b06d40dc73.

[2018-05-16 06:39] #7939 closed

[2018-05-16 07:25] albertzaharovits commented on #30638
Apologies for the blunder.
I have botched the backport and autocomplete for the test command jumped to another command `./gradlew :plugins:repository-gcs:clean :plugins:repository-gcs:assemble` .

On it.

[2018-05-16 07:31] elasticmachine commented on #30625
Pinging @elastic/es-search-aggs

[2018-05-16 07:32] elasticmachine commented on #30634
Pinging @elastic/es-search-aggs

[2018-05-16 07:33] elasticmachine commented on #30635
Pinging @elastic/es-search-aggs

[2018-05-16 07:55] tlrx commented on #30638
And sorry for not having caught this in the review.

[2018-05-16 07:57] #30617 closed

[2018-05-16 08:38] jimczi commented on #30614
Your recreation in 5.x gives different result (`appmies`) because this is a 6.x change, starting in 6.0 synonyms are analyzed with whatever tokenizer and token filters appear before it in the chain:
https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_60_analysis_changes.html#_synonym_token_filter
This is an important change that makes sure that the synonym forms registered in

[2018-05-16 08:48] Sarathmskr commented on #30622
PUT /companies_v1
{
  "mappings": {
    "companies": {
      "properties": {
        "companyName": {
          "type": "nested"
        },
        "companyState": {
          "type": "nested"
        },
        "companySpecification": {
          "type": "nested"
        },
        "companyOperator": {
          "type": "nested"
        }
      }
    }
  },
  "settings" :{
    "index.mapping.tota

[2018-05-16 08:53] james-uffindell-granta commented on #30624
There's what seems to be a related issue where you don't get an error, but you do get the wrong inner hit back.

If you repeat the above steps, but instead index the document
[code]

and rerun the search which throws an exception, you no longer get an exception, but the "inner_hits" part of the response contains the "kitten" metadata field instead of the "problem" one which you actually searched f

[2018-05-16 08:55] davidkyle commented on #30456
There were 3 issues here the first an actual wire incompatibility problem fixed in #30512, secondly a bug in auto expanding replicas in dead nodes fixed in #30553 and finally because of async durability an extra precaution was added in #30615

[2018-05-16 09:04] jimczi commented on #30622
Hi @Sarathmskr ,
Please ask questions like this in our forums. We reserve github issues for bug reports and feature requests. Also I tried your example on 6.2 and it works as expected so please add the version and a complete recreation if you open a topic on discuss:
https://discuss.elastic.co/c/elasticsearch

[2018-05-16 09:05] #30622 closed

[2018-05-16 09:26] Constantin07 commented on #30625
I do confirm that this issue is reproducible on ES & Kibana versions 6.2.4.

[2018-05-16 09:34] Sarathmskr commented on #30622
Hi,
I raised the same in
https://discuss.elastic.co/t/elastic-search-free-text-search-nested-fields-elastic-6-2/132081

[2018-05-16 10:30] ohadravid opened #30647 "Cardinality on a keyword field inside a composite aggregation doesn't work"
**Elasticsearch version** (`bin/elasticsearch --version`):  6.2.4

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_161

**OS version** (`uname -a` if on a Unix-like system): Linux 9220caee2267 4.9.87-linuxkit-aufs #1 SMP Wed Mar 14 15:12:16 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

When using a `cardinali

[2018-05-16 10:39] jimczi commented on #30647
Thanks for reporting @ohadravid
This is a duplicate of https://github.com/elastic/elasticsearch/issues/28688 and the fix is already committed for the next minor version (6.3.0).

[2018-05-16 10:39] #30647 closed

[2018-05-16 11:07] Constantin07 commented on #30625
If I run a `Refresh field list` in Kibana under Management>Index Patterns I'm also getting a lot of below warning messages on all production nodes despite _uid is not used at all.

[code]

[2018-05-16 11:52] spinscale opened #30648 "[CI] IndicesOptionsTests.testSerialization fails reproducible on master"
While debugging another issue, this test fails reliably for me on osx and linux with this seed.

Note, this issue did happen on CI, only on my local machines, thus no link to CI.

[code]

[code]

I have no real idea where to sort this under, so I picked `Core/Core`, feel free to change anytime. @javanna this might be one for you?

[2018-05-16 11:52] elasticmachine commented on #30648
Pinging @elastic/es-core-infra

[2018-05-16 11:58] spinscale commented on #30648
this just happened on CI as well https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=debian/2439/console

[2018-05-16 12:11] albertzaharovits commented on #30638
I have pushed 0aafb060c640ae0bb230e69fed08 and unawaitsfixed the test. I am sorry for the sloppiness.

[2018-05-16 12:11] #30638 closed

[2018-05-16 13:39] jpountz commented on #30648
Closed via #30644.

[2018-05-16 13:39] #30648 closed

[2018-05-16 13:48] liverpoologic opened #30654 "Simple pipe aggregation"
I am trying to create a simple aggregation pipe to determine the difference between two aggregate values within a bucket.
Any help / ideas appreciated

example code below (returns error below)

[code]

[code]

[2018-05-16 14:03] davidkyle commented on #30456
Argh it's back

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu&&virtual/2439/console

[code]

This failed on master upgrading from 6.4 I'm not sure which build of 6.4 that was and if it had all the fixes in. I'll keep an eye on this

[2018-05-16 14:10] #30608 closed

[2018-05-16 15:00] ywelsch commented on #30456
@davidkyle That build used a last good commit from before you pushed your wait-for-green change:

[2018-05-16 16:00] martijnvg commented on #30624
@james-uffindell-granta Thanks for reporting this problem. The inner hit source filtering is not working correctly with field level security.

Stacktrace of the first request:

[code]

[2018-05-16 16:09] jgnieuwhof commented on #27782
Same question as @bbansal - is there a chance of getting this fix in 6.2, or will we need to wait for 6.3 to become current & migrate?

[2018-05-16 16:39] jaymode commented on #29884
This has not failed since the opening of x-pack and changes to a different CI instance. I am going to close this one for now as this appears to have been related to the metal hosts used by the other CI.

[2018-05-16 16:39] #29884 closed

[2018-05-16 16:49] jaymode commented on #30563
@tbrooks8 @jasontedor do you have any thoughts on whether there is something more we can/should do after security tests to wait for Netty ThreadDeathWatcher to terminate?

Do we wait longer? Retry waiting (ie check the return value from awaitInactivity)? We currently have this:

https://github.com/elastic/elasticsearch/blob/0b544550bed6e822906572776cb4e46bbb03aa6a/x-pack/plugin/security/src/test/j

[2018-05-16 16:52] jaymode commented on #30301
Another failure here, https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/1711/console

[2018-05-16 17:33] polyfractal commented on #17607
Closed by #29594

[2018-05-16 17:33] #17607 closed

[2018-05-16 17:34] jimczi commented on #30625
Thanks for reporting @gmoskovicz @tomcallahan
This is fixed by https://github.com/elastic/elasticsearch/pull/30651

[2018-05-16 17:34] #30625 closed

[2018-05-16 18:07] jaymode commented on #30301
I pushed a change to increase logging around search to see exactly what is causing all of the shards to fail during the search.

[2018-05-16 18:16] sgelastic commented on #29692
We should also point out that user account on the elasticsearch user on the monitoring cluster must have permissions to create .security-audit.

Many users have more conservative role based permissions, so it's helpful to provide this info for them.

[2018-05-16 20:02] jpcarey opened #30660 "Use `enabled=0` for yum repository docs"
**Describe the feature**: Change documentation to have repositories disabled by default (`enabled=0`). It would be safer and avoid unintentional upgrades to have the repository disabled and instruct users to explicitly enabled it when actually necessary (ex. `yum --enablerepo=elasticsearch install elasticsearch`). We should add a short paragraph explaining why it is disabled by default, and that i

[2018-05-16 20:02] elasticmachine commented on #30660
Pinging @elastic/es-core-infra

[2018-05-16 21:09] lsotov opened #30661 "msearch - bad request - method and path required"
**Describe the feature**:
We just upgraded to Elastic 6.24, and we are executing a request like the following using Postman:
https://site.com/kibana/api/console/proxy?uri=system-stats/_msearch
with the following payload:
{"index" : "system-stats"}
{"query" : {"match_all" : {}}, "from" : 0, "size" : 10}
Sending the headers:
kbn-version: 6.2.4
Content-type: application/x-ndjson

And we are getting t

[2018-05-16 21:43] tlhampton13 commented on #10005
Not all time data is collected using commodity hardware.  There is plenty of specialty equipment that collects nanosecond resolution data.  Thinking about other applications besides log analysis.  Sorting by time is critical, but aggregations over small timeframes is also important.  For example, maybe I just want to aggregate some scientific data over a one second window or even over millisecond

[2018-05-16 21:43] andyb-elastic commented on #30661
Hi, we use this issue tracker for bug reports and feature requests. Questions like this are best asked in the elasticsearch forum https://discuss.elastic.co/c/elasticsearch

[2018-05-16 21:43] #30661 closed

[2018-05-16 23:46] talevy opened #30663 "Remove IndicesOptions.fromOptions"
The idea is to replace `IndicesOptions.fromOptions` with `new IndicesOptions(...,...)`

Now that IndicesOptions is not byte-based ( #30586 ), the [fromOptions](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/action/support/IndicesOptions.java#L262-L271) methods for creating new IndicesOptions objects is not as direct in its representation. Two things mak

[2018-05-16 23:46] elasticmachine commented on #30663
Pinging @elastic/es-core-infra

[2018-05-17 01:15] lcawl opened #30665 "Merge x-pack/docs into docs"
The X-Pack-specific documentation currently resides in https://github.com/elastic/elasticsearch/tree/master/x-pack/docs, but in the long term (now that X-Pack is installed with Elasticsearch), that separation is not required.

The Elasticsearch Reference documentation builds (and navigation tree) will be simpler if we no longer have to pull content from these separate directories.

The following i

[2018-05-17 04:40] tvernum commented on #29890
I believe this is sorted out now.

[2018-05-17 04:40] #29890 closed

[2018-05-17 05:28] oded-dd opened #30667 "elasticsearch proccess causes CPU soft lockup (causing the server to hung)"
**Elasticsearch version**: Version: 6.2.4-SNAPSHOT, Build: afa7fec/2018-03-23T00:31:31.900531Z

**Plugins installed**: [
ingest-attachment
ingest-geoip
mapper-murmur3
mapper-size
repository-azure
]

**JVM version**: openjdk 1.8.0_171

**OS version**: Linux prod-elasticsearch-data-010 4.13.0-1011-azure #14-Ubuntu SMP Thu Feb 15 16:15:39 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**Description of the

[2018-05-17 07:43] elasticmachine commented on #30665
Pinging @elastic/es-core-infra

[2018-05-17 07:50] bleskes commented on #30603
IMO we should make all cluster state handling (appliers + cluster state update tasks) user agnostics - i.e., run with no user context. The reason is that it will take a lot of effort to define and maintain a model here. Cluster state appliers can be called on the master after committing a cluster state, where we can potentially carry things over easily, but they can also be called as a result of a

[2018-05-17 08:57] tlrx commented on #30577
This test creates an index with 0 replica, merges disabled and a very high value for the flush translog size setting. Then it corrupts a file in a random primary shard (in this failure, it is `_2.si`), registers a repository and creates a snapshot.

When creating the snapshot, the test expects that the shard snapshot process loads the store metadata and then fails because one of the Lucene files i

[2018-05-17 09:15] markharwood commented on #29467
I'd like to add the option of injecting multiple annotation tokens for a given piece of text.

![image](https://user-images.githubusercontent.com/170925/40167539-34da7754-59b9-11e8-9d9c-35bfb6228948.png)

e.g. in the highlighted text above I want a token to identify both the `person` and the `role`.

The question is how to encode multiple tokens in the annotation's markdown-like syntax. I can thin

[2018-05-17 09:29] zakkg3 opened #30678 "[docs] indices.store.throttle.max_bytes_per_sec deprecated"
https://www.elastic.co/guide/en/elasticsearch/guide/current/indexing-performance.html

indices.store.throttle.max_bytes_per_sec and indices.store.throttle.type are not recognized anymore.

**Store throttling settings**

[2018-05-17 10:11] elasticmachine commented on #30678
Pinging @elastic/es-core-infra

[2018-05-17 11:09] #28725 closed

[2018-05-17 11:12] tlrx commented on #30474
It has been added to AWS SDK 1.11.309, once we upgrade the dependency the storage class will be available.

[2018-05-17 11:19] jamesspi commented on #30474
Awesome, thanks @tlrx !

[2018-05-17 12:26] ywelsch opened #30680 "Optimize atomic writes in BlobContainer for Cloud providers"
Certain repository implementations (e.g. [S3](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html)) provide all-or-nothing semantics when putting files. The snapshot/restore implementation currently has its own way of achieving atomic writes for certain files, by writing to a temporary filename first, and then moving the file using an atomic rename (supported by some filesystems). T

[2018-05-17 12:26] elasticmachine commented on #30680
Pinging @elastic/es-distributed

[2018-05-17 12:32] tlrx commented on #30680
I agree, and the copy+delete operation also adds extra burden in tests.

I'd be happy to make this change.

[2018-05-17 12:59] atorok opened #30682 "Packaging test fails on fedora 27, centos 7 in verify that the documents are there after restart"
Running
`./gradlew :qa:vagrant:packagingTest -Pvagrant.boxes=fedora-27` Fails with:

[code]

I got the same on `centos-7` as well as `fedora-28` ( from #30579 ).

[2018-05-17 12:59] elasticmachine commented on #30682
Pinging @elastic/es-core-infra

[2018-05-17 13:00] askids commented on #30482
On a side note, how does Elastic stack monitor other windows services? Won't it also be relying on the registered windows events?

[2018-05-17 13:11] costin commented on #30019
Fixed by #30267

[2018-05-17 13:11] #30019 closed

[2018-05-17 13:12] costin commented on #29984
Unfortunately due to the way composite works, ordering on groups is supported _only_ on grouped columns.
See #29900

[2018-05-17 13:12] #29984 closed

[2018-05-17 13:15] costin commented on #29862
Addressed by #30530, #30418, #30516 (and several others in the old repo)

[2018-05-17 13:15] #29862 closed

[2018-05-17 13:26] costin commented on #30066
Closing this down since it's not reproduceable (the tests have been enabled in the CI for a while now).

[2018-05-17 13:26] #30066 closed

[2018-05-17 13:30] mayya-sharipova commented on #30303
@nik9000  Can you please elaborate more on why we can't use Randomness in painless?

[2018-05-17 13:57] toddferg opened #30685 "Attempt to get cardinality or the count of buckets in date histogram"
It would be helpful to have a method to retrieve the count of available buckets before querying all of the documents.  In the query to prevent extremely large queries from taking place.  For example: it would be helpful to be able to run this aggregation to see the total number of buckets that could be returned before actually querying the bucket size.

An example aggregation that gets close by re

[2018-05-17 13:57] elasticmachine commented on #30685
Pinging @elastic/es-search-aggs

[2018-05-17 14:35] dougnelas opened #30686 "Watcher http input should be able to use keystore for auth credentials"
xpack - alerting

When using the http input for watcher, the basic auth credentials should be able to use a keystore to prevent the credentials being stored as plain text in the watch. Users are recommended to add watches to a source code repo to be able to track changes over time.  The current setting for securing sensitive data only encrypts these credentials when they are saved in the .watches

[2018-05-17 15:01] abdonpijpelink opened #30687 "Do not select dedicated master nodes as gateway nodes for cross cluster search"
Cross Cluster Search works by first connecting to one of the configured seed nodes to retrieve the cluster state of the remote clusters, after which up to three nodes per remote cluster are selected to be the gateway nodes that will handle the actual search requests.

It is my understanding that any node is a potential gateway node, unless you have configured `search.remote.node.attr` to explicitl

[2018-05-17 15:02] elasticmachine commented on #30687
Pinging @elastic/es-search-aggs

[2018-05-17 15:03] javanna commented on #30687
this makes sense to me, what do you think @s1monw ?

[2018-05-17 15:35] animageofmine commented on #30685
Todd, thank you for filing this request. This would be really helpful enhancement / feature and I hope this is implemented ASAP.

[2018-05-17 15:52] colings86 commented on #30685
I'm not sure I understand how we could achieve this without hitting all the documents. We have no idea before collecting documents which buckets might be created. In theory we can look at the range of values in the whole shard but this:
1. does not generalise well to all aggregations (I think if we implemented a feature like this it would be important it applied to more than one aggregation)
2. Do

[2018-05-17 15:56] bleskes commented on #30687
+1. The default client sniffing does similar and only selects data nodes. Given that all reduce work is done on the local cluster, perhaps that makes sense here too as a default.

[2018-05-17 16:18] jimczi commented on #30614
If I have aapmies in my index, I will never match it.

Isn't it the opposite ? If we don't apply stemming to `appmies` at query time (whether it comes from a synonym or is queried directly) then it will never match anything since stemming is also applied at index time ?

[2018-05-17 16:55] tbrooks8 commented on #29500
These tasks need to be completed:

- [ ] Remove the http.pipelining setting. All http modules must support pipelining
- [ ] Cleanup all the references to enabled or disabled pipelining the integration test code
- [ ] Deprecate in 6.x

[2018-05-17 17:03] byronvoorbach commented on #30614
But what if I don’t use stemming on index-time? It feels like I’m less in control now, since I was already able to do stemming by placing a stemming filter after my synonym filter.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jim Ferenczi <notifications@github.com>
Sent: Thursday, May 17, 2018 6:19:40 PM
To: elastic/elasticsearch
Cc: Byron Voorbach; Author
Sub

[2018-05-17 17:13] jimczi commented on #30614
Why would you do that ? Stemming is not like synonyms, if you apply it it should be at index **and** query time. Again I really see this behavior as an enhancement that simplifies things. What happens if you add a synonym output with uppercase characters or characters that are rewritten by a char filter ?Without this behavior you need to ensure that the synonym output matches the output that you i

[2018-05-17 17:51] jasontedor commented on #30682
Since our packaging tests have been green for almost 10 straight days, I think this has to be an environmental issue. As such, I am going to close this. We can help you sort out what the issue might be via another channel.

[2018-05-17 19:25] jasontedor commented on #30687
+1 here too.

[2018-05-17 19:26] jasontedor commented on #30687
+1 here too. We are effectively acting as a client of the remote cluster and should be the same as our other clients.

[2018-05-17 19:53] rjernst opened #30699 "[CI] ActivateWatchTests.testDeactivateAndActivate needs to not be sleep based"
Because this test is sleep based, it can lead to failures on slow or overloaded machines. Eg:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=fedora/1064/console

This needs to be rewritten to not be sleep based.

[2018-05-17 19:53] elasticmachine commented on #30699
Pinging @elastic/es-core-infra

[2018-05-17 20:00] jasontedor commented on #30699
@hub-cap Can you take a look? I am happy to discuss.

[2018-05-17 20:31] jpountz commented on #30433
We had a discussion about this feature, here are some notes:

Use-case:
 - Users seem to be mostly interested in numeric fields: metrics, relevance signals, etc.
 - We can't assume low volumes of updates, some users seem to be interested in updating a field across most documents of the index on a regular basis for instance.

Implementation:
 - We expected most challenges to be on the Lucene side,

[2018-05-17 22:08] rjernst commented on #30303
@mayya-sharipova `Randomness` would be the way to implement the `random_score` method which does not take a seed, but for the ones taking a seed, `Random` should still be used directly. But I don't think we should expose `Randomness` in painless directly.

[2018-05-17 23:18] rjernst opened #30705 "[CI] SmokeTestWatcherClientYamlTestSuiteIT "Test Jira Action with Error" failure"
This test fails periodically because watcher is not started. This is likely because the node is considered green even when watcher is not started. So on a slow node, the test could start before watcher gets to the started state.

https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+5.6+multijob-unix-compatibility/1568/console

[2018-05-17 23:18] elasticmachine commented on #30705
Pinging @elastic/es-core-infra

[2018-05-18 01:30] saiergong commented on #20031
i wonder when primary shard send operation to its replicas, and one of the  replicas acknowleged this request to primary but the other replica did not conform, and primary not acknowlege to client. then a read request send to the acknowleged replica,Can it read the latest data that has not been acknowlege to the client?

[2018-05-18 01:41] jasontedor commented on #20031
@saiergong Yes.

[2018-05-18 01:56] saiergong commented on #20031
many thanks @jasontedor , but do we think its ok? or we have plan to resolve this?

[2018-05-18 02:17] jasontedor commented on #20031
@saiergong Indeed it is not ideal however we consider it to be a lower priority than the other problems that we are currently trying to solve.

[2018-05-18 02:49] saiergong commented on #20031
i know , thanks @jasontedor

[2018-05-18 02:50] jasontedor commented on #30667
This does not appear to be an Elasticsearch issue, instead a kernel/hypervisor issue. See this [issue](https://gitlab.com/gitlab-com/infrastructure/issues/3967) for a similar situation on the same kernel. You can consider increasing `kernel.watchdog_thresh` (this is only a guess). I am closing this is not an Elasticsearch issue, and not actionable for us.

[2018-05-18 02:50] #30667 closed

[2018-05-18 06:47] insukcho commented on #26114
I think this `NOTE` should really also show up in the slicing section, not just the remote section. Very easy to miss. Could you please in slicing section for both side(manual & auto)?

[2018-05-18 07:00] jimczi commented on #30685
In 6.2 we added a new dynamic cluster setting called `search.max_bucket` that fails requests that try to return more than N bucket:
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket.html
 It is disabled by default in 6.x and set to `10,000` by default in 7. This setting is applied at the shard level and in the coordinating node when the aggregation response

[2018-05-18 07:06] vladimirdolzhenko commented on #26131
Recent failure of this test:

Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+matrix-java-periodic/ES_BUILD_JAVA=java9,ES_RUNTIME_JAVA=java10,nodes=virtual&&linux/58/console

Root cause:
[code]

Relates to https://github.com/elastic/elasticsearch/issues/25335
PR to address the issue: https://github.com/elastic/elasticsearch/pull/29140

[2018-05-18 07:33] atorok commented on #30682
On closer inspection, the real cause was this:
[code]
Indeed that RPM is not on the box ( only 6.3.0 is )

[2018-05-18 07:55] micoq commented on #30560
We have configured 16 shards per index to distribute the searches more efficiently across all the CPUs (each machine has 40 CPUs). It seems to be the right value in our case since less shards increase the response time (and more shards no longer improve the response time).

I think `index.compound_on_flush` will not influence the storage activity and thus the %wait CPU. Like you explained: the new

[2018-05-18 07:57] atorok commented on #30682
There seems to be a mismatch between the tests and the Gradle setup, as `VagrantTestPlugin` has this:
[code]
so the elasticsearch**-oss** distribution is only added from `6.3.0` yet the test tried to install it for `6.2.5`.

[2018-05-18 08:44] dreamszl commented on #21172
According to [Spring-boot gradle plugin doc](https://docs.spring.io/spring-boot/docs/current/gradle-plugin/reference/html/#managing-dependencies-customizing), the ones who use gradle can add this
[code]
to your build.gradle.

[2018-05-18 09:34] vladimirdolzhenko commented on #30098
recent build failure:

Log:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=sles/1066/console

Reproduce steps
[code]

[2018-05-18 10:14] cbuescher commented on #30557
This looks very much related to the changes made in #29535. Other seeds seem to run fine. I'm digging into the details but if @nik9000 has some ideas how to debug this efficiently, I'd appreciate a hint.

[2018-05-18 10:32] cbuescher commented on #30557
The first failure is related to the italian analyzers:
[code]
The second is the same input token, but relates to the catalan analyzer:
[code]

[2018-05-18 10:51] vladimirdolzhenko opened #30714 "[CI] RemoteClusterConnectionTests.testDiscoverSingleNode"
Doesn't reproduce locally

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java10,nodes=virtual&&linux/60/console

[code]

looks similar to issue https://github.com/elastic/elasticsearch/issues/28695

@elastic/es-core-infra could please somebody have a look into it ?

[2018-05-18 11:38] vladimirdolzhenko opened #30715 "[CI] ModelPlotsIT.testPartitionFieldWithTerms"
Log:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=opensuse/1066/console

[code]

@elastic/ml-core could you please have a look ?

[2018-05-18 11:48] cbuescher commented on #30557
Its a bit tricky to debug this since the context if missing from the error, but I think I managed to isolate the part where the two analyzer outputs begin to differ. I can reproduce in Kibana, not sure if this copy/paste action preserves all "hidden" characters that the test string contains, but anyway:

[code]

The first analyzes to:
[code]

The second to
[code]

So the original italian analyzer

[2018-05-18 11:50] jimczi commented on #29467
We could also create extra fields directly in `my_annotated_field`, it could be per annotation type `my_annotated_field.person`, `my_annotated_field.role` or a single field `my_annotated_field.annotations` and add the type as a prefix in annotation `person#madonna` ?
I think this field should be able to handle the indexation of the text **and** the annotations in a `doc_values` field automatically

[2018-05-18 11:59] jimczi commented on #30557
I think it's caused by the elision filter that is case insensitive in the built in analyzer and not in the rebuilt one. Adding `"articles_case": true` in all the `elision` filter of the rebuilt analyzer seems to solve the issue (this is already done for the `french_rebuilt`).

[2018-05-18 12:05] vladimirdolzhenko opened #30718 "[CI] RareClusterStateIT.testDeleteCreateInOneBulk"
log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/1928/console

[code]

most probably it is due to last line of test
[code]

@elastic/es-distributed could somebody have a look into that ?

[2018-05-18 12:31] agonzalezgaliana opened #30720 "JAVA_HOME CMD enviroment variable ignored when starting ES as service"
**Bug report**

**Elasticsearch version**: 6.2.4

**Plugins installed**: None

**JVM version**:

Private JRE:
java version "1.8.0_172"
Java(TM) SE Runtime Environment (build 1.8.0_172-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.172-b11, mixed mode)

**OS version**:

Windows 7 64bit

**Description of the problem including expected versus actual behavior**:

I'm currently trying to install Elas

[2018-05-18 12:32] jmuscireum commented on #30608
It seems like I stumbled across the same bug, so I backported the fix to 5.6.8 to check. But unfortunatly the fix isn't working for me:

[code]

The query is:
[code]

[2018-05-18 12:37] DaveCTurner commented on #26131
Thanks @vladimirdolzhenko, this does look like it'll be fixed by #29140 since `TransportNodesListShardStoreMetaData` is implicated:

[code]

[2018-05-18 13:13] martijnvg opened #30724 "Document ingest limitations"
Ingest does not process update requests and support the `doc_as_upsert` option properly. This should be clearly documented.

Relates to #30627

[2018-05-18 13:13] elasticmachine commented on #30724
Pinging @elastic/es-core-infra

[2018-05-18 13:17] polyfractal commented on #30608
Hey @jmuscireum, I believe your running into a triplet of unrelated issues that constrain pipeline aggs right now.

First, `filter` aggs don't play nicely with pipelines because they only emit a single bucket, whereas the various sibling pipeline aggs (like `min_bucket`) can only use multi-bucket aggs.  Issue https://github.com/elastic/elasticsearch/issues/14600 deals with this (it talks about `bu

[2018-05-18 13:25] jpountz commented on #30575
Your proposal cannot be implemented easily, because we need to have mappings available locally which is only possible for the queried index. That said we understand that it's a bit annoying to have to put mappings of documents and queries in the same mappings and will try to brainstorm about what can be done.

[2018-05-18 13:47] imotov commented on #30576
@sabi0 Sorry, I don't think elasticsearch is the right place to address this issue. As you said, the problem is in the tooling (editors) support and should be addressed on the client side. If you need support for comments in DSL in your application, you should probably add a layer in your application that would strip out all `"//"` fields **before** sending requests to elasticsearch.

Essentially,

[2018-05-18 13:47] #30576 closed

[2018-05-18 14:00] jmuscireum commented on #30608
Hey @polyfractal, thank you for the detailed answer! As a workaround, we can manually fetch the min and max price from the aggregated bucket. But I have the feeling, that there is a way that is more suited for our use case, but I can't think of it. Maybe you have an idea how we can achieve this, without having so many nested aggregations.

Our products can have different prices in multiple catalog

[2018-05-18 14:37] cbuescher commented on #20259
I just re-checked this, lost of changes since this was opened. First 74184cb1b08012ee01696723cc29ac33551bd424 seems to have fixed the varying scoring, since then the score has changed multiple times on master and 6.x. I cannot reproduce the original buggy behaviour anymore, so closing.

[2018-05-18 14:37] #20259 closed

[2018-05-18 14:52] dnhatn commented on #30577
@ywelsch I have looked at the test.
If the latest value of the global checkpoint has not fsynced before a flush, we will have two commits; then if we corrupt some files which are referenced only by the previous commit, the snapshot of the latest commit will be SUCCESS instead of PARTIAL.

I will follow-up this test with @tlrx.

[2018-05-18 14:56] ywelsch commented on #30577
awesome!

[2018-05-18 15:13] jasontedor opened #30731 "Enable rolling upgrades from default distribution prior to 6.3.0 to default distribution post 6.3.0"
This is a meta-issue to track the work needed to enable smooth upgrades from the default distribution prior to 6.3.0 to the default distribution post 6.3.0. The sub-tasks are:
 - [x] add detection when we are communicating with a >= 6.3 transport client so that we can avoid sending it pieces of the cluster state that it would not be able to deserialize (the problem here is when an OSS transport cl

[2018-05-18 15:13] elasticmachine commented on #30731
Pinging @elastic/es-core-infra

[2018-05-18 15:13] elasticmachine commented on #30731
Pinging @elastic/es-distributed

[2018-05-18 15:13] elasticmachine commented on #30731
Pinging @elastic/ml-core

[2018-05-18 16:51] dnhatn commented on #30577
@tlrx You're right. My assumption is not correct in this case.

[2018-05-18 16:52] fbaligand commented on #30575
Nice to see you will try to brainstorm on it !
Up to me, it has another advantage :
- when you reference an existing doc (with its id), you can reference a doc in another index. And like that, you can store queries in one index, and documents in another one.

[2018-05-18 16:57] neilneyman commented on #18406
Wanted to note one thing on RHEL 7:

We use a secure configuration that mounts /tmp as noexec

With SELinux in "Permissive" mode,  ES will crash unless I set bootstrap.system_call_filter: false, even if I change the ES_TMPDIR location to a directory with exec perms.

Looks like the only way I could get it running was to either completely disable SELinux (not permissive) and change the tmp director

[2018-05-18 17:42] #28518 closed

[2018-05-18 18:23] tsouza opened #30735 "[doc] Sample LDAP configuration refers to deprecated setting"
The LDAP Realm sample described here https://www.elastic.co/guide/en/x-pack/current/ldap-realm.html refers to the deprecated setting `user_search.attribute`. It should be removed from the sample.

[2018-05-18 19:47] KSSekhar opened #30736 "How to stop search operation once match happend"
Example:

I have Bool Query under should array of 5 match cases
Match case 1
Match case 2
Match case 3
Match case 4
Match case 5

I need to stop search operation once match happend on elastic search or continue up to match case 5.

Due to this search operation performance affected.

[2018-05-18 21:03] tsouza commented on #30736
This repository is for reporting specific issues in Elasticsearch. For general usage help, please use the discussion forum: https://discuss.elastic.co/c/elasticsearch

[2018-05-18 21:03] #30736 closed

[2018-05-19 10:29] Trey314159 opened #30739 "smartcn_tokenizer splits 32-bit Chinese characters into two tokens"
**Elasticsearch version** 5.5.2

**Plugins installed**: [analysis-hebrew, analysis-icu, analysis-phonetic, analysis-smartcn, analysis-stconvert, analysis-stempel, analysis-ukrainian, experimental-highlighter, extra, extra-analysis-serbian, extra-analysis-slovak, ltr]

**JVM version** (`java -version`): 1.7.0_151

**OS version** (`uname -a` if on a Unix-like system): Linux vagrant 3.16.0-4-amd64 #1

[2018-05-19 12:00] elasticmachine commented on #30739
Pinging @elastic/es-search-aggs

[2018-05-19 16:11] vladimirdolzhenko opened #30740 "[CI] QueueResizingEsThreadPoolExecutorTests.testAutoQueueSizingWithMax + thread leakage"
Log:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+periodic/704/console

[code]

\+ thred leakage there
[code]

[2018-05-19 16:11] elasticmachine commented on #30740
Pinging @elastic/es-core-infra

[2018-05-19 16:32] vladimirdolzhenko opened #30741 "[CI] CorruptedFileIT.testCorruptPrimaryNoReplica"
similar to https://github.com/elastic/elasticsearch/issues/8515 - but it has been reported that original root cause was solved.

LOG: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/1726/console

[code]

[2018-05-19 16:32] elasticmachine commented on #30741
Pinging @elastic/es-distributed

[2018-05-19 17:31] packetrevolt commented on #27353
Specific to using this in the typical ELK stack logging solution we have found the lack of a snapshot/restore queue to be confusing and a major limitation.

Automation tools that create snapshots need to either wait until completion and then run the next snapshot creation sequentially (Curator) or continually retry the snapshot creation task until successful.  The sequential creation of snapshots

[2018-05-19 17:46] packetrevolt opened #30742 "Snapshot and restore queue"
Specific to using this in the typical ELK stack logging solution the lack of a snapshot/restore queue is confusing to end users and a major limitation.  This has been brought up here before and also on the forums a few times with the suggestion on the forum to open up an issue here.   I was just wondering if there was (or could be) any reconsideration into adding a snapshot/restore queue.

An exam

[2018-05-20 01:44] dnhatn commented on #30577
@tlrx and @ywelsch I've reproduced and have an explanation for this. This is possibly caused by [LUCENE-8253](https://issues.apache.org/jira/browse/LUCENE-8253)

1. `indexRandom(true, builders)` not only add docs but also index/delete bogus docs.

[code]

2. With a special seed (A9D224BA3576B58B:E8899F47DB14C3CA), `indexRandom` might create a fully deleted segment in which all documents are delete

[2018-05-20 02:56] dnhatn commented on #30741
This may relate to #30577. I will look at this.

[2018-05-20 03:02] akotlar commented on #30552
@jimczi In my case the solution is simply to trim before indexing, and trimming whitespace is probably the most common text-parsing operation I do at least. Not sure I quite understand what you mean "There is no good way to split a keyword field at query time especially when the query is derived from a search bar filled with free text." Isn't the stupidest/easiest option the only one? Just split t

[2018-05-20 14:51] atc0005 opened #30746 "create-index: Default number of shards does not match v7 changes"
I saw in the blog post that #30539 changes the default number of primary shards to 1. Looking over the docs I found that in `master` the `create-index` API coverage still showed 5 as the default number instead of 1. I assume that this was just missed in the recent round of doc updates from 4852f34d324408176bbd3857b79af4e66c65621a.

[2018-05-20 14:56] jasontedor commented on #30746
Thanks for noticing this. Do you want to submit a pull request otherwise I’ll push a fix for this on Monday?

[2018-05-20 14:57] elasticmachine commented on #30746
Pinging @elastic/es-core-infra

[2018-05-20 14:57] jasontedor commented on #30746
Oh I see we were racing and you already submitted a pull request. Thanks for that!

[2018-05-20 14:59] atc0005 commented on #30746
You're welcome! I started with the PR, but held back once I noticed that one of the "make sure you do X" checklist items included creating an issue first.

Please let me know if I missed anything or need to go about the change in a different way. I'm new to ES, so I may have missed something obvious to long-time users.

[2018-05-20 15:02] jasontedor commented on #30746
It’s perfect. Thanks for your interest and your contribution.

[2018-05-20 15:06] atc0005 commented on #30746
Awesome! You're welcome, and thanks for the feedback.

[2018-05-20 18:38] jasontedor commented on #30563
@jaymode I think the problem here is that the `@AfterClass` on `SecurityIntegTestCase` run *before* the `@AfterClass` on `ESIntegTestCase`. This means that we are waiting on these threads to be inactive before the cluster has stopped. That means these threads might not be inactive and so they can not be stopped. Instead, I think we want to shutdown the cluster first and then stop these threads. Si

[2018-05-20 18:53] rjernst commented on #29578
The changes in #26412 were explicitly to fix this problem of access writes. By using setgid, all files under elasticsearch will have write permission for the elasticsearch user (through group write).  Additionally, as of 6.3.0, creating the keystore will no longer be necessary directly, as it is created on package installation.

Given those points, I'm going to close this as I don't think there is

[2018-05-20 18:53] #29578 closed

[2018-05-20 18:59] #30746 closed

[2018-05-20 19:52] rjernst commented on #14406
I'm closing this as our backwards compatibility testing has been improved considerably since switching to gradle, and forward porting any changes from this old issue would be very difficult and probably not add much of any additional coverage.

[2018-05-20 19:52] #14406 closed

[2018-05-20 20:28] rjernst opened #30749 "Rest apis not allowing body are not testable"
The forcemerge api taks all arguments in http params. The rest api spec for this api sets the body to null, meaning "does not allow body". However, the rest action doesn't actually check this (see #29584).

When adding validation no body exists in forcemerge requests, I tried adding a rest test. Unfortunately, the rest test runner rejects this test because the api spec says a body is not allowed.

[2018-05-20 22:26] rjernst commented on #22771
Our backcompat tests have changed considerably since this issue was created. We now test rolling upgrade from all compatible versions to the current version, so I am closing this issue.

[2018-05-20 22:26] #22771 closed

[2018-05-21 07:37] oded-dd commented on #30667
@jasontedor thank you for your reply.
It appears that it is a kernel issue on Azure which should be fixed in the next kernel update.
FYI, in case you have other customers who are having the same behavior.
`https://bugs.launchpad.net/ubuntu/+source/linux-azure/+bug/1772264`

[2018-05-21 09:58] elasticmachine commented on #30735
Pinging @elastic/es-security

[2018-05-21 09:59] elasticmachine commented on #30742
Pinging @elastic/es-distributed

[2018-05-21 10:00] elasticmachine commented on #30749
Pinging @elastic/es-core-infra

[2018-05-21 10:07] bleskes commented on #30742
@tlrx @ywelsch any thoughts here?

[2018-05-21 10:09] bleskes commented on #30718
@ywelsch do you mind taking a look?

[2018-05-21 11:24] iahmad-khan opened #30752 "Cannot upload snapshots to minio"
Hi,

I am using the latest stable version of minio with elasticsearch 6.1.2. I have created a bucket named: elasticsearch , to which I can upload files using the browser interface.

I want to use the same bucket to stor elasticsearch snapshots. Elastic repo config:

[code]

Error:
[code]

Does it related to the fact that elasticsearch s3 plugin expects s3 kind of url:

`elasticsearch.minio.mydomai

[2018-05-21 11:32] bleskes commented on #30731
Thank for putting this list up. I think we should also deal with the [TokenMetaData](https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authc/TokenMetaData.java) injected [here](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/cluster/service/ClusterService.java#L83)  when called fro

[2018-05-21 11:41] MohammadRamadan opened #30753 "Curator started reporting error in delete_indices 'An HTTP line is larger than 4096 bytes.'"
Hello Friends,
                 I have ELK stack with curator installed to delete logs older than 365 days.
a script created is used to make this process under crontab job that used to delete these older than 365 days logs.
everything was going well for days and suddenly when checking the job logs I found it report and error as follow :
2018-05-21 13:02:19,057 INFO      Preparing Action ID: 1, "de

[2018-05-21 12:06] renatofritola opened #30754 "Error loading java version in openSuse"
**Elasticsearch version** (`bin/elasticsearch --version`):

Elasticsearch 5.6.3

**JVM version** (`java -version`):

java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):

Linux srv-devops 3.16.7-53-desktop #1 SMP PREEMPT Fri Dec 2 13:19:28 UTC 2016 (7b4a

[2018-05-21 12:08] iahmad-khan commented on #30752
Closing , needed to run minio in s3 style urls.

[2018-05-21 12:44] jasontedor commented on #30517
No additional feedback, closing.

[2018-05-21 12:44] #30517 closed

[2018-05-21 12:59] jasontedor commented on #30754
Thanks very much for your interest in Elasticsearch.

This appears to be an environmental issue, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) t

[2018-05-21 12:59] #30754 closed

[2018-05-21 13:03] jasontedor commented on #30753
This likely means that Curator is sending too many indices to delete at once and is exceeding the line length limit on the initial HTTP request line. The first line looks like

[code]

and I suspect it is the list of indices that is entirely too long. First, I would consider this to be a curator bug and I think that you should open an issue on the Curator [issue tracker](https://github.com/elastic

[2018-05-21 13:03] #30753 closed

[2018-05-21 13:09] jasontedor commented on #30749
I think this can be done with a unit test on the handler. I do not see a need for this to be a YAML test as those are primarily geared towards enabling the language clients to test client functionality whereas I think this issue is more about testing that the REST handler does the right thing when given a body when it should not be given one. A handler is easy to create in a unit test:

[code]

an

[2018-05-21 13:41] jaymode commented on #30563
Good point @jasontedor. I wonder if we should add something like this to our test framework in lieu of using something like a JUnit ExternalResource class rule? I may be misunderstanding how the class rule works though, but I'll give it a shot today to see the execution order.

[2018-05-21 13:56] jasontedor commented on #30563
@jaymode I agree, I think that an external resource `@Rule` is worth pursuing. Thanks for picking this up.

[2018-05-21 14:07] iahmad-khan commented on #30752
Can we change some elasticsearch plugin configuration to use:

`minio.mydomain:9000/minio/elasticsearch
`

instread of this:
`elasticsearch.minio.mydomain:9000`

as the second one even have problem with dns , it will not even resolve to some valid ip.

[2018-05-21 14:16] bleskes commented on #30731
It looks like @ywelsch took care of it in https://github.com/elastic/elasticsearch/pull/30743/files

[2018-05-21 15:08] nik9000 commented on #30749
I think we could do it with a Java based REST test if we want to but I agree with Jason that it is probably good enough to do it with a unit test. It'd certainly be faster.

[2018-05-21 15:18] romseygeek commented on #22478
I've been doing some work on making branches possible in TokenStreams (see https://issues.apache.org/jira/browse/LUCENE-8273).  If that were combined with a generalisation of KeywordRepeatFilter, we could build an analysis chain that looked something like:
[code]

[2018-05-21 15:20] jasontedor commented on #30742
Note that this has been discussed previously in #27353 and closed as won't fix.

[2018-05-21 15:20] jasontedor commented on #30740
@dakrone Would you take a look?

[2018-05-21 15:21] jasontedor commented on #30714
@martijnvg Would you take a look?

[2018-05-21 15:33] dakrone commented on #30740
Yep I'll take a look

[2018-05-21 15:34] elasticmachine commented on #30752
Pinging @elastic/es-distributed

[2018-05-21 15:38] mayya-sharipova commented on #22364
Since we did not see much interest in this issue, and because it will require a lot of modifications, and there is a workaround from the client size, I am closing this issue.

[2018-05-21 15:38] #22364 closed

[2018-05-21 16:20] salyh opened #30758 "ContextIndexSearcher conflicts with IndexSearcherWrapper"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.0.0+

**Plugins installed**: []
N/A

**JVM version** (`java -version`):
N/A

**OS version** (`uname -a` if on a Unix-like system):
N/A

**Description of the problem including expected versus actual behavior**:

Plugins can override the `onIndexModule(IndexModule indexModule)` method and call `indexModule.setSearcherWrapper`.
They impleme

[2018-05-21 16:38] salyh commented on #30758
A fix for this maybe can look like this https://github.com/salyh/elasticsearch/commit/c33c67d9500c78f5159dfb3837da2040b147b330

[2018-05-21 16:55] dakrone commented on #30740
I pushed a commit to enable debug logging for this test, unfortunately I wasn't able to reproduce it and there's not much info from the failure currently. Hopefully if it fails again we'll have more information.

[2018-05-21 17:26] suraj-soni commented on #22913
Any updates on this ? I just got bitten by this one as well

[2018-05-21 17:38] nik9000 commented on #30408
Sooo this has been sitting in my TODO queue for a while, mostly because I hate to do this sort of thing. I talked with a bunch of Elasticsearch developers and we decided not to do this thing, mostly out of concern for another dependency, especially jackson-databinding which has a history of CVEs. It just doesn't sit right with our paranoia.

I think this'd be a super reasonable thing to make as a

[2018-05-21 17:38] #30408 closed

[2018-05-21 17:40] elasticmachine commented on #30758
Pinging @elastic/es-security

[2018-05-21 17:42] jaymode commented on #30758
Heya @salyh, thanks for the report. This indeed appears to be the case where the performance optimizations in the SecurityIndexSearcherWrapper are not being executed.

[2018-05-21 17:47] elasticmachine commented on #30758
Pinging @elastic/es-search-aggs

[2018-05-21 18:50] #29685 closed

[2018-05-21 19:00] andyb-elastic opened #30764 "[ci] GeoDistanceTests.testReadFromSerializationBWC"
A couple of these on 5.6

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-unix-compatibility/os=sles/1099/console

[code]

[2018-05-21 19:00] elasticmachine commented on #30764
Pinging @elastic/es-search-aggs

[2018-05-21 19:01] talevy commented on #30764
interesting... taking a look. thanks @andyb-elastic

[2018-05-21 19:06] andyb-elastic commented on #30764
@talevy np I'm gonna mute it for now

[2018-05-21 19:16] talevy commented on #30764
This should be fixed by https://github.com/elastic/elasticsearch/commit/9fac1315de6695e16b6ac94f4bb76f57be3a93e8

[2018-05-21 19:16] #30764 closed

[2018-05-21 19:29] drekle commented on #22221
I am also seeing this using the helm charts elasticsearch and fluentd-elasticsearch in a kubernetes cluster where the default storage class is gluster.

[2018-05-21 23:02] andyb-elastic opened #30767 "[ci] RecoveryDuringReplicationTests.testRecoveryAfterPrimaryPromotion"
On 6.3, doesn't reproduce for me

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java8,nodes=virtual&&linux/54/console

[build-54.txt](https://github.com/elastic/elasticsearch/files/2024329/build-54.txt)

[code]

[code]

[2018-05-21 23:02] elasticmachine commented on #30767
Pinging @elastic/es-distributed

[2018-05-21 23:16] joshuar opened #30768 "Allow GET /_tasks/<taskid> to support a list of tasks"
**Describe the feature**:

It would be cool if `GET /_tasks/<taskid>` could support a list of task ids (i.e., comma separated or as a request body).

My use case here is to avoid using the `detailed` parameter together with the `actions` parameter, which may cause detailed information to be gathered for quite a few running tasks, which according to the docs can be expensive.  So I'd like to target

[2018-05-22 00:51] andyb-elastic opened #30770 "[ci] ClusterStatsTests.testClusterStats"
On 5.6, doesn't reproduce. Opening this because I'm pretty sure I've triaged this test a couple of times

https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+5.6+multijob-windows-compatibility/1703

[build-1703.txt](https://github.com/elastic/elasticsearch/files/2024512/build-1703.txt)

[code]

The exception that bubbles up

[code]

From node logs

[code]

[2018-05-22 00:51] elasticmachine commented on #30770
Pinging @elastic/es-core-infra

[2018-05-22 02:49] jasontedor commented on #30768
I would prefer that we stop adding these APIs that allow GET on a comma-separated list of resources. The problem that I have with them is that it complicates the API:
 - what status do we return if some but not all of the tasks are missing?
 - what status do we return if some but not all of the tasks cause an internal server error?
 - what status do we return if some of the tasks are present, some

[2018-05-22 02:49] elasticmachine commented on #30768
Pinging @elastic/es-distributed

[2018-05-22 04:53] softwareklinic opened #30773 "About Coordinating Node Issue"
We are using Elasticsearch 5.x and in production - we have a Java based application that communicates with Elasticsearch using the TCP transport API -- we are passing 4 coordinator node HOST & PORT while establishing the connection...

But what we observed is that when the 1st node in the LIST (one node) - went down -- none of the clients were able to connect and the entire site was down --- that

[2018-05-22 05:41] tvernum commented on #30773
Could you please ask this question on our [discuss forum](https://discuss.elastic.co/c/elasticsearch) where we can provide better support. Those forums are designed to support the kinds of conversations that are necessary for this sort of troubleshooting and problem diagnosis.

Elastic uses GitHub issues for tracking clearly identified bugs and specific feature requests. Since there is no specific

[2018-05-22 05:41] #30773 closed

[2018-05-22 05:52] softwareklinic commented on #30773
Yes makes perfect sense...

[2018-05-22 06:07] lujqme opened #30774 "NoClassDefFoundError: org/elasticsearch/plugins/ExtendedPluginsClassLoader"
**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 6.2.4

**Plugins installed**: []

None

**JVM version** (`java -version`):

java version "10.0.1" 2018-04-17
Java(TM) SE Runtime Environment 18.3 (build 10.0.1+10)
Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0.1+10, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):

MacBook-Pro.local 17.5.0 Darwin Kernel Ver

[2018-05-22 07:53] jimczi commented on #30739
Thanks for reporting @Trey314159 , I see that somebody (maybe you ?) opened an issue in Lucene with a patch so we'll follow on jira and update the issue here afterward:
https://issues.apache.org/jira/browse/LUCENE-8325

[2018-05-22 07:58] #30557 closed

[2018-05-22 08:02] bleskes commented on #30768
Another complication here is that that specific API is currently geared towards a single task. If we want to return multiple tasks, we'll need to change the response format to be keyed by task id, which also means a BWC break. Not sure if it's worth it here.

@joshuar can you share more about what you're building? it sounds like you'd need a kind of pagination on the `_tasks` API?

[2018-05-22 08:15] tlrx commented on #30752
@iahmad-khan Elasticsearch uses the official AWS SDK Java client to access to S3 repositories. The SDK decides if it should use path style access or not when accessing a bucket and the documentation can be [found in the SDK source code](https://github.com/aws/aws-sdk-java/blob/1.11.235/aws-java-sdk-s3/src/main/java/com/amazonaws/services/s3/S3ClientOptions.java#L78):

So in your case I guess you c

[2018-05-22 08:15] #30752 closed

[2018-05-22 08:44] 2016gary opened #30775 "How to get failed data from request when using BulkProcessor?"
Because of request failed，it will enter method (3) and it will lose some data. I want to save these failed data, but get null values. Why? And what should I do? Forgive my poor English. Thx!

    BulkProcessor bulkProcessor = BulkProcessor.builder(
    client,
    new BulkProcessor.Listener() {
        @Override
        public void beforeBulk(long executionId,
                               BulkRe

[2018-05-22 09:04] #23121 closed

[2018-05-22 09:14] javanna commented on #30775
hi @2016gary could you please ask your question in our forums at https://discuss.elastic.co/ ? We reserve github issues for bug reports and feature requests. Thanks.

[2018-05-22 09:14] #30775 closed

[2018-05-22 09:49] bleskes commented on #28465
@nik9000 what should we do here? this feels like serious bug?

[2018-05-22 09:59] bleskes commented on #28120
Can you elaborate on where you see this?

[2018-05-22 10:08] bleskes commented on #27889
@kunisen the script changes the index parameter of the `IndexRequest` that is then being used to perform normal indexing. That index parameter can be either an index name or an alias. Do you see it not working?

@geekpete I'm not sure I 100% follow you but I think what you refer to can be done by the Aliases API - it allows you to atomically add and remove aliases on multiple indices.

[2018-05-22 10:12] bleskes commented on #27374
ping @elastic/es-search-aggs  . I think we may need to revisit this now that get can read docs from the translog again (what do you then with a doc value fetch option?).

[2018-05-22 10:13] bleskes commented on #27267
@nik9000 I marked this as adopt me. Just in case someone wants to pick it up.

[2018-05-22 10:17] bleskes commented on #26280
@nik9000 how easy is it to do this given that we use the standard `//CONSOLE` annotation here?

[2018-05-22 10:20] bleskes commented on #23560
@nik9000 is this still on your radar? is it worth the complexity?

[2018-05-22 10:26] bleskes commented on #23533
@dnhatn are you still planning to work on this? I find it strange that the index names need to be encoded in the JSON.

[2018-05-22 10:37] tlrx commented on #30718
Another instance here: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/6349/consoleFull

[consoleText.txt](https://github.com/elastic/elasticsearch/files/2026194/consoleText.txt)

[2018-05-22 10:37] bleskes commented on #23059
@gauravmishra123 thanks for working on this. Note though that we can't use 206 Partial Response as the spec says we then we must include:

Neither of these make sense in the context of ES. I therefore think that the current behavior should be documented and that's it. Pinging @elastic/es-docs for advice on where to put this as I can't find a natural place.

[2018-05-22 10:39] bleskes commented on #22920
@nik9000 are you still planning to do this? if not, it's fine. Please close the issue.

[2018-05-22 10:43] bleskes commented on #22573
@olcbean are still planing to work on this? if not, it seems @ashishguptak wants to give this a shot.

[2018-05-22 10:47] bleskes commented on #22328
@javanna do you think this can be labeled as a low hanging fruit?

[2018-05-22 10:47] yehosef commented on #28120
I thought I saw it, but after checking it, perhaps it was a mistake.  I was trying ?routing=1,2 or things like that.  Sometimes it would work, which I thought it was using multiple routing params.  I realize now it was just using "1,2" as the routing string to hash.

So it might not be the same thing or as easy.  The way I solved it for now is to use a "?q=id:123" query.  The problem is that it gi

[2018-05-22 10:51] tlrx opened #30777 "[CI] SmokeTestWatcherWithSecurityIT.testIndexActionHasPermissions() fails"
The test `testIndexActionHasPermissions` failed today on CI:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=amazon/1074/

It does not reproduce locally with;:
[code]

I'm wondering if the test must wait for the watcher-history index to be available before searching the watcher entry.

<details>
09:23:43 Suite: org.elasticsearch.smoketest.SmokeTestW

[2018-05-22 10:51] elasticmachine commented on #30777
Pinging @elastic/es-core-infra

[2018-05-22 10:57] bleskes commented on #20135
I'm going to close this as now one commented/showed interest since 2016 and it seems to be a problematic feature. Please feel free to voice your interest if needed.

[2018-05-22 10:57] #20135 closed

[2018-05-22 10:59] tlrx commented on #30577
Thanks @dnhatn. I suspected something like that but I did not look deeply enough.

[2018-05-22 10:59] javanna commented on #22328
@bleskes I guess so, I added the low hanging fruit label.

[2018-05-22 11:31] ywelsch commented on #30718
The test has an issue that exhibits only super rarely. The test sets the publish timeout to 0, then proceeds to block cluster state processing on a data node, then deletes an index and recreates it, and finally removes the cluster state processing block. Finally, it calls ensureGreen, which might now return before the data node has fully applied the cluster state that removed and readded the shard

[2018-05-22 11:31] #30718 closed

[2018-05-22 11:53] #30624 closed

[2018-05-22 12:12] tlrx commented on #30562
Another instance: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/887

<details>

00:00:43    > Assumption #1: only runs against old cluster
00:00:43   1> [2018-05-22T10:00:32,809][INFO ][o.e.u.IndexAuditUpgradeIT] [testDocsAuditedInUpgradedCluster]: before test
00:00:43   1> [2018-05-22T10:00:32,825][ERROR][o.e.u.IndexAuditUpgradeIT] get settings response {.security_au

[2018-05-22 12:18] bleskes commented on #28120
ok. Thanks for responding quickly. I believe that adding multi-routing values to the GET API will make it more complicated than needed. It has elegance in its simplicity and is geared toward retrieval of docs which have a known place. Otherwise a fall back to `_search` makes sense (search is optimized to support multiple routing values).

I see how that will be useful for you. I think it's better

[2018-05-22 12:18] #28120 closed

[2018-05-22 12:42] mayya-sharipova commented on #19830
@nik9000 Can this issue be closed, because this looks like to be a part of #23658?

[2018-05-22 13:06] dnhatn commented on #30741
I have reproduced and verified that this test and #30577 are caused by the same source.

[2018-05-22 13:19] ywelsch commented on #30774
hi @lujqme could you please ask your question in our forums at https://discuss.elastic.co/ ? We reserve github issues for bug reports and feature requests. Thanks. Note that https://github.com/elastic/elasticsearch/blob/v6.2.4/TESTING.asciidoc should get you started with instructions on how to build and run ES in the debugger.

[2018-05-22 13:19] #30774 closed

[2018-05-22 13:35] #30563 closed

[2018-05-22 14:14] athanatos64 commented on #30247
I'm having the same problem as well. I though it maybe related to x-pack security since only a few users have the permissions to search remote clusters. If I'm not logged in and constantly searching remote indices, the connection timeouts.

[2018-05-22 14:17] asatsi commented on #30247
I had to to restart my cross elastic server whenever this happens. And it happens very frequently. I do not have shield or x-pack installed.

Sent from my iPhone

On 22-May-2018, at 7:45 PM, athanatos64 <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm having the same problem as well. I though it maybe related to x-pack security since only a few users have the permissions to

[2018-05-22 14:19] adriandebarro opened #30781 "Highlighting gets broken when applying a pattern_replace char_filter"
**Elasticsearch version:** 6.2.4

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_161

**OS version** (`uname -a` if on a Unix-like system): Windows 10

**Description of the problem including expected versus actual behavior**:

Applying a `pattern_replace` `char_filter` returns incorrect highlighting. When querying to highlight a specific word, the highlighting result should be

[2018-05-22 14:19] XANi commented on #28797
@jasontedor Could you add your explanation to docs ?

https://www.elastic.co/guide/en/elasticsearch/reference/6.2/cluster.html#cluster-nodes page says nothing about it and it is a really useful function

[2018-05-22 14:27] DaveCTurner commented on #30773
Discuss thread: https://discuss.elastic.co/t/issue-with-coordinator-node-down/132722/2

[2018-05-22 14:29] DaveCTurner commented on #28797
Since #30313 you can say `/_nodes/coordinating_only:true` to obtain the coordinating-only nodes, and `/_nodes/ingest:true` yields the ingest nodes. Updated docs for this are on their way in #30468.

[2018-05-22 14:41] jaymode opened #30782 "Remove hardcoded ports in security vagrant tests"
In practice hardcoded ports are a bad idea and lead to conflicts and spurious CI failures. We should try to minimize the use of these as much as possible. To that end, there are a few security test suites that rely on hardcoded port values with vagrant fixtures.

The idp-fixture hardcodes the following port forwards:

https://github.com/elastic/elasticsearch/blob/5f172b6795c2d7917144c535542ad52169

[2018-05-22 14:41] elasticmachine commented on #30782
Pinging @elastic/es-core-infra

[2018-05-22 14:41] elasticmachine commented on #30782
Pinging @elastic/es-security

[2018-05-22 14:47] athanatos64 commented on #30247
I usually have to do GET /_remote/info from Console and wait until I get connection restored back to search the remote cluster. Good to know that it's not X-pack related.

[2018-05-22 15:16] nicolasguyomar opened #30784 "Auto adjust shard count on index size"
Since now the new shard count will be 1, I was wondering if it would it be feasible to auto-adjust an newly created index shard count based on a size limit (let's say 25Gb for instance) for timeseries with daily pattern.
This setting could be part of the index template (auto_increment_shard_by : 2, auto_increment_shard_threshold: 25Gb)

Any thoughts ? Too hard to implement ?
Thank you

[2018-05-22 15:22] benhairui opened #30785 "when i write painless script in kibana, and i use org.joda.time.MutableDateTime/DateTime， there is a error !"
{
  "error": {
    "root_cause": [
      {
        "type": "script_exception",
        "reason": "compile error",
        "script_stack": [
          "... oda.time.MutableDateTime tt = null;\n          def  ...",
          "                                                  ^---- HERE"
        ],
        "script": "          org.joda.time.MutableDateTime tt = null;\n          def t = (doc['tt'].val

[2018-05-22 16:09] jdconrad commented on #30785
This is expected behavior so I'm going to close this issue.

[2018-05-22 16:09] #30785 closed

[2018-05-22 17:11] #30577 closed

[2018-05-22 17:11] #30741 closed

[2018-05-22 17:40] benhairui commented on #30785
@rjernst Thanks for your answer, i will take your advice if i have another question.
I try "Instance.ofEpochMilli(doc['tt'].value.millis)", but it report anther error.

{
  "error": {
    "root_cause": [
      {
        "type": "script_exception",
        "reason": "compile error",
        "script_stack": [
          "          long time = Instance.ofEpochMilli(doc ...",
          "

[2018-05-22 18:22] EricMCornelius commented on #12366
Now that #29494 has been merged, is the intention to pick this issue back up for application to multiple types (specifically object vs. primitive mismatches)?

Curious what the direction is.

[2018-05-22 18:50] benhairui commented on #30785
@rjernst thanks for your answer again! I am sorry for asking question on this page. I will take your advice!
Thanks again!!!

[2018-05-22 18:55] fiserro opened #30789 "http compression support in RestHighLevelClient"
If we used default headers "Accept-Encoding":"deflate,gzip" then JsonParseException is thrown when RestHighLevelClient is trying to parse compressed data by jackson parser.
Using httpCientBuilder.addInterceptorFirst(new ResponseContentEncoding(true)) does not seems to have any efect.
 Is this feature on the roadmap?

[2018-05-22 19:03] pickypg opened #30790 "Provide Thread Safe, Fast Hashing Method"
With things like GDPR on the horizon, the desire to hash certain data fields at the Elasticsearch level seems like a very attractive feature to natively support. It would be ideal if whatever did was available to Ingest and hopefully Painless.

Just exposing an instance of `MessageDigest` is likely to be very inefficient since it is not thread safe. Most systems expect SHA-256 these days rather th

[2018-05-22 19:03] elasticmachine commented on #30790
Pinging @elastic/es-core-infra

[2018-05-22 19:06] imotov commented on #25154
I have discussed this with @nknize. For me, the main conclusion of this discussion was that we support two very different data structures using the same elasticsearch datatype: geohashes and geo point and that's the source of many issues. Geo points are zero dimensional objects that are represented by longitude and latitude pairs. The geohashes are two dimensional objects that represent cells of g

[2018-05-22 19:09] javanna commented on #30789
I believe this is the same as #24349 . The problem is not in the high-level REST client, but rather on the low-level REST client that the high-level REST client uses to perform http requests.

[2018-05-22 19:10] Trey314159 commented on #30739
@jimczi—I wasn't sure whether it was an issue in Elastic or Lucene, so I reported it here. I'm glad someone else narrowed it down to Lucene and maybe found a solution. I've got a workaround hack in Elastic that will work for me for now. Thanks!

[2018-05-22 19:14] marco-miller opened #30791 "Extracted builder (or json request generation) classes to libs with minimal dependencies"
Using the Elasticsearch low-level Java API or rest client is convenient because of the minimal dependencies that library has. It would be as useful (if not essential) for integrations like ours to benefit from minimal dependencies as well for the Builder classes.

A similar, related extraction was [completed recently for XContent](https://github.com/elastic/elasticsearch/tree/master/libs/x-content

[2018-05-22 19:16] rjernst commented on #30749
I'm certainly happy with unit tests and have written one. I opened this issue more to discuss how to ensure we check all apis that claim to not support body. But I guess that is too advanced for now. Maybe if we ever generate classes from the spec we can generate some tests too.

[2018-05-22 19:16] #30749 closed

[2018-05-22 19:41] rjernst commented on #30790
I don't think this should be available by default in eg search scripts (filter or scoring). @talevy has mentioned before the desire to add additional whitelisted methods/classes to ingest. This should go in there.

[2018-05-22 20:15] pickypg commented on #30790
I completely agree.

[2018-05-22 20:27] dadoonet commented on #30791
See also #29184

[2018-05-22 20:59] davido commented on #30791
Yes, I'm aware of the transitive dependency of high level client on Lucene. That why we were considering to use low level rest client.

Still, for queries we have to use classes from ES `org.elasticsearch.index.query` package. But these classes are again depend on Lucene and on the rest of the server ES package, e.g. here `ExistsQueryBuilder` example

https://github.com/elastic/elasticsearch/blob/

[2018-05-22 21:34] JohnSatriano opened #30798 "MemAvailable and/or Active Memory reporting"
MemAvailable and/or Active Memory reporting. Free memory is often a less useful metric to report, especially when the OS is dedicating a significant portion of memory to the file system cache because of ElasticSearch's heavy use of the file system. The cached memory is easily reclaimed by an application if needed, so it's not very useful for monitoring for an imminent "Out of Memory" condition.

"

[2018-05-22 23:03] nik9000 opened #30799 "Permissions on files in packages depends on *my* umask"
It looks like I have an unusual umask on my laptop:
[code]

I'm not sure how I got it but now that I have it I notice that the packaging tests don't pass:
[code]

I think we should try and build the same packages regardless of my personal umask setting.

[2018-05-22 23:03] elasticmachine commented on #30799
Pinging @elastic/es-core-infra

[2018-05-23 02:15] akmaharshi commented on #26301
I am getting uuid as "_na_". I believe as we have only one master server, we may not have uuid information. Let me know if I am correct.
Please let me know where does the application fetch uuid information from ?

[2018-05-23 03:02] chengpohi commented on #30739
Hi @jimczi & @Trey314159 , I have tried to investigate this issue, and found it's caused by *smartcn* (**lucene**) analyzer, doesn't support the **surrogate** character, when it meets the **surrogate** char it will not tokenize correctly, so for now the solution is correctly handle **surrogate** char boundary to avoid tokenizing to unrecognized char.

[2018-05-23 04:07] tom10271 commented on #28002
I am using ES 6.2.3,

[code]

is not working. I got
[code]

[2018-05-23 05:52] dliappis commented on #30798
If I understand correctly, the request is to additionally provide in Nodes Stats the `MemAvailable` and/or `Active` metrics on Linux systems, available in `/proc/meminfo` as described in the Kernel docs for the [proc filesysystem[(https://www.kernel.org/doc/Documentation/filesystems/proc.txt).

[2018-05-23 05:53] elasticmachine commented on #30798
Pinging @elastic/es-core-infra

[2018-05-23 06:15] danielmitterdorfer opened #30801 "HTTP pipelining causes resource leak"
**Elasticsearch version**:  7.0.0-alpha1-SNAPSHOT (distribution flavor OSS), commit  https://github.com/elastic/elasticsearch/commit/31251c9a6d317cddc65c526a1cfc56aebc96e11c

**Description of the problem including expected versus actual behavior**:

Elasticsearch dies with OOME in our benchmarks. This is caused by a resource leak on the network layer.

**Steps to reproduce**:

Run the following be

[2018-05-23 06:16] elasticmachine commented on #30801
Pinging @elastic/es-core-infra

[2018-05-23 07:47] elasticmachine commented on #30789
Pinging @elastic/es-core-infra

[2018-05-23 07:47] dliappis commented on #30789
Closing as duplicate of #24349

[2018-05-23 07:47] #30789 closed

[2018-05-23 07:51] shashanka981 opened #30802 "Issue with running tests (requiring ES server startup) on a custom junit runner"
@RunWith(MyCustomRunner.class)
public class TestESIndeingPerformance{

@BeforeClass
public static void setup(){
// start Elasticsearch server
}

@test
public void performindexing() {
// java apis to initiate indexing
}

}

Hi ,

We are using ElasticSearch 5.6.9 and we are seeing an exception during ES server startup....This was working well with ES 2.4 version...The error basically suggests to use

[2018-05-23 07:58] elasticmachine commented on #30781
Pinging @elastic/es-search-aggs

[2018-05-23 08:00] elasticmachine commented on #30791
Pinging @elastic/es-core-infra

[2018-05-23 08:03] colings86 commented on #30791
As mentioned in https://github.com/elastic/elasticsearch/issues/29184#issuecomment-375675720 this is definitely a goal of the High Level REST client (to separate its dependencies from the server dependencies. However this is a lot of work and it will take us time to achieve it as the dependencies are complex and some are used in the client code itself which we would need to unpick. Unfortunately i

[2018-05-23 08:03] #30791 closed

[2018-05-23 08:04] elasticmachine commented on #30802
Pinging @elastic/es-core-infra

[2018-05-23 08:18] colings86 commented on #30802
We require that if Elasticsearch is started with JUnit on the classpath that RandomizedRunner is used in the test suite. This is because there are elements within the server that use RNG and requiring RandomizedRunner on the classspath when running Junit tests means that we can make these RNG's deterministic so we can reproduce failures more easily. This is built into the server itself (see `Rando

[2018-05-23 08:34] olcbean commented on #22573
@ashishguptak it is up for grabs!

[2018-05-23 09:30] colings86 opened #30804 "MachineLearningTests.testNoAttributes_givenSameAndMlEnabled fails due to trying to directly set node.attr.ml.enabled"
Example failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+intake/100/console

Reproduce command:
[code]

It looks like this is as a result of the changes made in https://github.com/elastic/elasticsearch/commit/30b004f582fa44d630fe1a910089d0821e6fcc26. @droberts195 is working on a fix for this.

Failure stack trace:
[code]

[2018-05-23 09:42] colings86 commented on #30804
Muted test on master, 6.x, and 6.3

[2018-05-23 09:52] ywelsch commented on #30804
This was caused by https://github.com/elastic/elasticsearch/pull/30780, which luckily passed CI due to randomization.
I've pushed a fix and reenabled the tests on all branches.

[2018-05-23 09:52] #30804 closed

[2018-05-23 10:00] colings86 opened #30805 "build fails on windows trying to start java7 jrunscript"
build URL: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-windows-compatibility/82/console

The below stack trace fails because it cannot file the file `C:\Users\jenkins\.java\java7\bin\jrunscript` when evaluating the `:benchmarks` project. Maybe this is as simple as it needing to add the `.exe` extension when running on windows?

stack trace:
[code]

[2018-05-23 10:00] elasticmachine commented on #30805
Pinging @elastic/es-core-infra

[2018-05-23 10:13] ywelsch opened #30806 "New `get_alias` tests failing on 6.x branch"
New REST tests for `get_alias` have been added in #29513
They fail in mixed-cluster tests on the 6.x, see for example https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=centos/1076/console
I've reverted the commit on the 6.x branch (see ad432315cba)

Log output of test failures

[code]

[2018-05-23 10:14] #30781 closed

[2018-05-23 10:19] elasticmachine commented on #30806
Pinging @elastic/es-core-infra

[2018-05-23 10:23] colings86 opened #30807 "REST test `p0=snapshot.get_repository/10_basic/Verify created repository` fails mixed cluster tests"
build URL: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/1956/consoleFull

This test is failing regularly on the master branch.

Reproduce command:
[code]

This looks like a bwc serialisation issue as it seems that the stream is not being fully read. Possibly due to https://github.com/elastic/elasticsearch/commit/a8cea90e1084983b2d045edae84187fe8708399d ?

Failure sta

[2018-05-23 11:21] HansaTheDeveloper commented on #26786
Exception in thread "main" java.nio.file.AccessDeniedException: /usr/share/elasticsearch/plugins/.installing-8466668133179145445

This means just give the permission of ' /usr/share/elasticsearch' folder. Error will resolve automatically. Thank you.

[2018-05-23 11:38] javanna commented on #30791
@davido that is pretty much the reason why the high-level REST client depends on Elasticsearch (and Lucene), we have no choice at the moment.

I find this and #29184 to be the same problem. We need some common library that can be used without depending on Elasticsearch (and Lucene). That sounds easy but requires a ton of work and will take time. The beginning of it is what we have done with the xc

[2018-05-23 12:02] Kalle12345 commented on #29426
I have exactly same problem when using stop words + synonym graph

[2018-05-23 12:39] #27740 closed

[2018-05-23 12:45] colings86 opened #30811 "Docs test cluster going out of memory on `reference/mapping/types/geo-shape` docs"
Build URLs:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/6353/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/768/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/1953/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=opensuse/2453

[2018-05-23 12:45] elasticmachine commented on #30811
Pinging @elastic/es-search-aggs

[2018-05-23 12:45] elasticmachine commented on #30811
Pinging @elastic/es-core-infra

[2018-05-23 12:51] mak-m opened #30812 "Force master reelection"
For the sake of planned maintenance on master nodes it would be really good to have functionality to make the cluster leader to step down and transfer the leader role.

It might be invoked via an http API call. After the call is made the reelection happens with no downtime while there is an actual leader and after the reelection any other node takes over leadership.

[2018-05-23 12:59] jpountz commented on #12366
I think so. I think I was the main person who voiced concerns about increasing the scope of `ignore_malformed`, which are now mitigated with #29494.

[2018-05-23 13:27] colings86 commented on #30811
It looks like contrary to the above stack trace this actually isn't to do with Lucene. The memory is beeing used by netty according to the heap dump obtained from the latest CI job:
<img width="1630" alt="screen shot 2018-05-23 at 14 21 06" src="https://user-images.githubusercontent.com/236731/40427199-ed853dd6-5e94-11e8-948c-05bf94aa250f.png">

We suspect the problem might be due to https://githu

[2018-05-23 13:39] danielmitterdorfer commented on #30811
fyi @colings86 I raised https://github.com/elastic/elasticsearch/issues/30801 this morning.

[2018-05-23 13:46] elasticmachine commented on #30812
Pinging @elastic/es-distributed

[2018-05-23 13:49] dliappis commented on #30812
Thanks for opening the issue.

Your feedback is very welcome and appreciated.

This was already discussed in https://github.com/elastic/elasticsearch/issues/17493 and https://discuss.elastic.co/t/transfer-the-master-role/36654/5

As mentioned by @DaveCTurner in [his comment](https://github.com/elastic/elasticsearch/issues/17493#issuecomment-365955243), "if you shut down Elasticsearch properly (and

[2018-05-23 13:49] #30812 closed

[2018-05-23 13:50] colings86 commented on #30811
@danielmitterdorfer ah ok, maybe we should close this in favour of #30801 then, wdyt?

[2018-05-23 14:25] jimczi commented on #30739
Thanks to  @chengpohi the Lucene issue is resolved now and the fix will be available in Elasticsearch 6.4.0 (using Lucene 7.4.0) so I am closing this issue.
Thanks @Trey314159 for reporting.

[2018-05-23 14:25] #30739 closed

[2018-05-23 14:31] colings86 commented on #30811
Closing in favour of #30801

[2018-05-23 14:31] #30811 closed

[2018-05-23 15:35] nik9000 commented on #30665
Personally, I'd like to keep marking things as oss and the license level.

The last time I tried to do it they didn't work and I don't think anyone had noticed for a few days. As much as I want to keep all the OSS stuff, I think we can probably pitch this.

So my plan is to switch the docs build to running the zip distribution (the default one, the one with xpack). After I do that you can just mov

[2018-05-23 16:15] nik9000 commented on #23560
No.

I don't know. It'd save a little bit of network traffic. Reindex is built to allow this so it shouldn't be *too* hard.

[2018-05-23 16:19] nik9000 commented on #26280
We'd need to add a marker to snippet and modify the `docs` repo to pass that marker to generated page. And we'd have to modify the JS to generate the new type. I'd go with it taking a day or two for me to do. It'd be easier for someone more familiar with the docs build but I doubt any of those folks have time.

[2018-05-23 16:21] nik9000 commented on #28465
Either of the things I suggested should work to be honest. It might be better to make a script context for reindex and see if that solves the problem. It might. And if it doesn't we can build on it from there.

[2018-05-23 16:51] tbrooks8 opened #30818 "IndexingIT mixed cluster test fails on master"
The following failure is reproducible on master:

[code]

This originally failed in this PR build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request/10371/

However, it reproduces for me on the normal master build.

[2018-05-23 16:59] nik9000 commented on #30799
It looks like this isn't actually based on the umask. There are other machines and users with the same umask that aren't getting this.

[2018-05-23 17:29] tbrooks8 commented on #30818
This actually does not reproduce any more for me.

I think that 405eb7a751a047b24272f17116d85b157ed30388 fixed this issue. The build that failed here had a bunch of mixed cluster tests fail. If I checkout the commit before 405eb7a751a047b24272f17116d85b157ed30388 the failure reproduces. So I think @jpountz fixed this with his commit.

[2018-05-23 17:29] #30818 closed

[2018-05-23 17:41] nik9000 commented on #30731
Now that #30743 is merged I wanted to test this. The 6.3 branch works perfectly for me. The 6.x branch is failing though. That *probably* isn't a 6.3 release blocker but it is weird. The failure comes during the 5.6.10 upgrade to 6.x. The failure is:
[code]

The test that actually fails is " org.elasticsearch.upgrades.UpgradeClusterClientYamlTestSuiteIT.test {p0=mixed_cluster/10_basic/Test old mul

[2018-05-23 17:42] nik9000 commented on #30818
Sweet!

[2018-05-23 17:43] jpountz commented on #30818
Thanks @tbrooks8, this should be fixed now indeed.

[2018-05-23 17:48] nik9000 commented on #30799
This isn't caused by my umask:
[code]

[2018-05-23 17:49] rjernst commented on #30805
The `.exe` is not needed to run a binary in Windows. The issue here is java7 isn't actually installed there (the directory is empty). This is an infra issue, so I'm going to close and address with them.

[2018-05-23 17:49] #30805 closed

[2018-05-23 18:30] nik9000 commented on #30799
I was wrong about it not being my umask. If I `git clean -xdf` after setting my umask to `0022` then I get *further*. The tests still fail because my clone of elasticsearch has `README.textile` as `664` rather than `644`. I *think* the umask that you had when you cloned Elasticsearch influences that one.

[2018-05-23 18:41] ywelsch commented on #30731
@nik9000 This is a real problem (the x-pack node tries to add a template with x-pack only settings, and the OSS master rejects it). I'm not sure why it's not triggered by the test on the 6.3 branch as the same templating behavior exists there (for Watcher, Security etc.) as well. I consider this a blocker for 6.3 and will work on a solution tomorrow.

[2018-05-23 18:52] jasontedor commented on #30731
+1, this is a blocker.

[2018-05-23 19:15] #7663 closed

[2018-05-24 01:06] vineelyalamarthy commented on #30801
Is this issue still open ? Or with the patches submitted, this got closed?

[2018-05-24 01:51] tbrooks8 commented on #30801
I believe it is fixed. But I think we should wait until the nightly benchmarks run to be sure.

[2018-05-24 03:15] #30799 closed

[2018-05-24 06:13] rjernst commented on #30720
I think the issue here is the call to the service manager passes java home unexpanded:

[code]

I believe the double percent signs around JAVA_HOME mean it will not be resolved until the service is started, and the local JAVA_HOME set before running install will not exist.

@elastic/microsoft Is there any reason this can't be resolved at install time?

[2018-05-24 06:20] #30682 closed

[2018-05-24 06:20] YashMangla commented on #26786
I resolved this issue basically  in listed error our script doesn't have all permission as root user have so we can't able to create a files and folder which scripts needs to create to store meta info. So, there is 2 type of solution which you can perform.
1. you can run this command as a root user privilledges
or
2. you can allow this script permission like read/write/execute to all necessary fil

[2018-05-24 07:30] blu3tone opened #30829 "./gradlew --stacktrace assemble faillure"

[2018-05-24 07:49] ywelsch commented on #30731
The issue with Watcher is that it uses a custom setting in its template. I've gone through the other XPack services to check if they present the same issue:

- SecurityIndexManager adds templates (security-index-template.json) but no custom settings in template
- IndexAuditTrail adds templates (security_audit_log.json) but no custom settings in template
- LocalExporter adds templates (monitoring-*

[2018-05-24 08:33] janzankowski opened #30833 "Update documentation for ES>=6.0 on sparsity for doc values & norms."
I'm filing this documentation update request as a result of this forum thread: https://discuss.elastic.co/t/in-es-6-0-is-sparsity-for-doc-values-norms-still-bad/132946

Essentially, with Lucene 7, used in ES 6.0 and up, it seems to be no longer true that if a document doesn't have a field that other documents in the index have, the field still takes disk space for doc values and norms. See http://

[2018-05-24 08:36] ywelsch commented on #30731
I've opened #30832 for the watcher issue.

[2018-05-24 09:07] ywelsch commented on #30731
@nik9000 I've run the mixed-cluster tests a few times on 6.3, and I've seen this exception spamming the logs. The tests not failing on 6.3 are more of an indication that we need to add more tests.

[2018-05-24 09:13] nikita-sheremet-java-developer opened #30834 "Add filtering for default index settings"
[Here](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-get-settings.html#_filtering_settings_by_name) is example about retriving filtered settings for index:

    GET /log_2013_-*/_settings/index.number_*

With `include_defaults` it can return also default settings:

    GET /log_2013_-*/_settings/index.number_*?include_defaults=true

But when it comes to filter default val

[2018-05-24 09:20] #30634 closed

[2018-05-24 09:29] yaronp68 opened #30835 "_doc vs doc in geo_point mapping tutorial"
@debadair
Since version 6.0 ES is using the _doc as the document type while logstash is using the doc as default document type.
In the geo_point mapping examples there is a _doc notation which means, people who will use it will have problem with logstash ingesting to their index. Suggest to add a warning to use doc in ES or to add the `document_type => "_doc"` directive in logstash configuration

[2018-05-24 10:47] mikemccand commented on #25848
In fact Lucene does support efficient nearest neighbor search using the KD tree (points) data structure: https://github.com/apache/lucene-solr/blob/master/lucene/sandbox/src/java/org/apache/lucene/document/NearestNeighbor.java

However, the distance metric is indeed hardwired for the lat/lon geo use case (haversin), and is not [easily] pluggable for simple euclidean distance.

That said, in the Lu

[2018-05-24 12:19] nik9000 commented on #30731
I figured as much. Earlier I'd said:

and that is still my plan. I got distracted by other things and didn't end up writing the test.

[2018-05-24 13:26] #30829 closed

[2018-05-24 13:36] svola opened #30839 "Ranking Evaluation API: Support for ratings to be provided as query instead of documents only"
The Ranking Evaluation API introduced in Elasticsearch version 6.2 currently only supports ratings to be provided as a single document identified by `_index`, and `_id` with a `rating`.

https://www.elastic.co/guide/en/elasticsearch/reference/6.2/search-rank-eval.html

     "ratings": [
             { "_index": "my_index", "_id": "doc1", "rating": 0 },
             { "_index": "my_index", "_id": "

[2018-05-24 13:36] elasticmachine commented on #30839
Pinging @elastic/es-search-aggs

[2018-05-24 14:04] aditya-agrawal commented on #20936
Hi, I would like to take this up. Any pointers would be appreciated.

[2018-05-24 14:13] dipteshnath opened #30840 "New feature request: Moving standard deviation"
Feature request

1. I have a daily purchase data. I would like to find out anomaly using moving average and moving standard deviation. The standard deviation will help me a create a window, based on which I will find the outliers and then send alert.
2. I would like to have moving standard deviation on time series data with Elasticsearch or TimeLion.

[2018-05-24 14:14] kkhaitan opened #30841 "[Feature Request] Request to honour the aggregate nested filters despite reverse nesting."
**Describe the feature**: As of today if a nested aggregate filter is defined post which a reverse nested sub-aggregate is placed the context for the filter is lost for any further nested sub-aggregate. The only resolution for this is to repeat the filter over and over again at each of the sub-aggregate level. This problem has been faced by multiple developer one of the instance being:
https://dis

[2018-05-24 15:03] elasticmachine commented on #30840
Pinging @elastic/es-search-aggs

[2018-05-24 15:04] elasticmachine commented on #30834
Pinging @elastic/es-core-infra

[2018-05-24 15:06] elasticmachine commented on #30841
Pinging @elastic/es-search-aggs

[2018-05-24 15:19] jpountz commented on #30835
Logstash moved to using `_doc` in 7.x, so this should be fixed in a reasonably near future: https://github.com/logstash-plugins/logstash-output-elasticsearch/pull/713?

[2018-05-24 15:26] imotov commented on #25796
Superseded by #24946

[2018-05-24 15:26] #25796 closed

[2018-05-24 15:30] dipteshnath commented on #30840
Hi @polyfractal,

Yaa, this helps my cause. I was really looking forward to that feature. Thanks, for the reply.

 I had also earlier read your article- Implementing a Statistical Anomaly Detector in Elasticsearch. It was also a great help to me.

[2018-05-24 15:30] #30840 closed

[2018-05-24 15:37] polyfractal commented on #30840
Great!  Happy to help, and let us know if you have difficulties with the new agg when it's released :)

[2018-05-24 16:28] #30597 closed

[2018-05-24 16:30] liverpoologic opened #30843 "'other' bucket appears to contain everything - ES2.4.6"
I have a query that looks like the below (nested filter group aggregation).

When I return the 'groups_by_user' buckets I can see that all users are in this group, not just users that are excluded from the other domains - which means I'm double counting users.
Do you know what might be the cause?

Many Thanks

[code]

[2018-05-24 16:31] #30628 closed

[2018-05-24 16:43] #30355 closed

[2018-05-24 18:26] imotov opened #30844 "[CI] IndexingMasterFailoverIT.testMasterFailoverDuringIndexingWithMappingChanges fails"
The failure was in an PR build https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request/10444/consoleText but after discussion with @ywelsch it doesn't seem to be related to the PR where it failed, but intstead might have been caused by #30672.

The failure doesn't reproduce:

[code]

[2018-05-24 18:26] elasticmachine commented on #30844
Pinging @elastic/es-distributed

[2018-05-24 18:46] #25154 closed

[2018-05-24 20:10] jasontedor commented on #30798
We feel that pulling these system-level statistics into Elasticsearch is not the direction that we want to go in. Instead, we feel that the right approach is have monitoring in place alongside Elasticsearch to monitor system-level stats, and Elasticsearch stats endpoints should provide application-level metrics which can be collected externally. For us, we have [metricbeat](https://www.elastic.co/

[2018-05-24 20:10] #30798 closed

[2018-05-24 20:10] #30742 closed

[2018-05-24 20:21] imotov commented on #30768
@joshuar we recently added an ability to mark task groups using [X-Opaque-Id](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/tasks.html#_identifying_running_tasks) header.  We don't have an ability to filter by this header yet, but if we implemented that, would it work better for you? What problem are you trying to solve by this feature?

[2018-05-24 20:24] kfong123 opened #30849 "Socket Appender doesn't function the same way after upgrade from 5.6.6 to 6.2.3"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.6.6, 6.2.3

**Plugins installed**: []

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2018-05-24 20:33] elasticmachine commented on #26782
Pinging @elastic/es-security

[2018-05-24 20:33] tomcallahan commented on #26782
In FixItFriday the consensus was that this falls under security documentation.

[2018-05-24 20:36] jdconrad commented on #26782
@jaymode Please feel free to re-assign if you're not the best person to do this.

[2018-05-24 20:38] jdconrad commented on #24946
Given the speed at which the contexts are being developed it probably makes sense to add these to the default whitelist for now and move them to the appropriate contexts when they're ready.

[2018-05-24 20:48] talevy commented on #23145
We feel that adding complexity to the index name resolution is not the direction we want to take. One option is to leverage aliases to group the different `metricbeat` use-cases in such a way that this level of querying is possible.

I will go ahead and close this for now, but if workarounds for this become too unwieldy, feel free to raise a comment we can happily re-discuss!

[2018-05-24 20:48] #23145 closed

[2018-05-24 20:50] nik9000 commented on #11811
Soooo, yes, we'd like this. Mostly. But it feels like a fair bit of work to build and would go out of date pretty quickly unless we have some way of automatically checking that it lines up with what our mappings support. And none of us have any good ideas on how to do that....

Given that this issue hasn't seen a lot of discussion in two years I'm going to close it. But if anyone has any good idea

[2018-05-24 20:50] #11811 closed

[2018-05-24 21:03] tomcallahan commented on #30685
@animageofmine do you think @jimczi suggestion will work well?

[2018-05-24 21:08] nik9000 commented on #30731
So in my grand tradition of finding things, I believe the following is flaky:
[code]

On my desktop about half of those runs fail with:
[code]

Which *looks* pretty incriminating. There are totally three 3 available, master eligible nodes. It just logged about them.

But this is 6.x testing the upgrade from 6.3. I've seen no trouble going from 5.6 to 6.x or 6.2 going to 6.x. Go figure.

[2018-05-24 21:11] nik9000 commented on #30731
The other nodes see `NotMasterException`, but I *think* they are deserializing that from the master. Which doesn't think it is a master.

[2018-05-25 00:44] joshuar commented on #30768
Oh nice @imotov. Filtering by that would be ideal.

I was mainly just trying to follow what I interpreted as best practice for this API, which is to avoid using  `detailed` where the number of tasks returned might be very large.  Do we know how use of this parameter scales with regards to affecting performance?  For example, doing `GET /_tasks?actions=*search&detailed` where there might be 100 exe

[2018-05-25 02:07] jasontedor commented on #30720
@rjernst This is a deliberate choice so that the we use the system JAVA_HOME so that a user can upgrade the installed Java without having to reinstall the Windows service.

[2018-05-25 02:12] jasontedor commented on #30849
Can you clarify this? You say you don't see the same logs, but do you see any logs?

[2018-05-25 02:50] jasontedor commented on #30790
We have `org.elasticsearch.common.hash.MessageDigests` which provides thread local `MessageDigest` instances. I benchmarked this a long time ago (for uses in the security codebase) and doing it in this way was the winning play.

[2018-05-25 07:47] colings86 commented on #30843
@liverpoologic we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) instead.

In this case I suspect either your `account` field is a multi-valued field or you have multiple documents with the same `accounts ` but different domains so different documents with the same `account` are bein

[2018-05-25 07:47] #30843 closed

[2018-05-25 08:34] ywelsch commented on #30731
The underlying issue has to do with the licensing component, which looks to be backwards-incompatible between 6.3 and 6.4. A 6.3 x-pack node cannot read the license metadata issued by a 6.4 x-pack node. This is caused by the recent PR https://github.com/elastic/elasticsearch/pull/30251 which changes the `License.VERSION_CURRENT` field. The last time this field was changed was for 5.0 where we requ

[2018-05-25 08:35] bleskes commented on #30844
@ywelsch +1. My reasoning (I believe your reasoning is the same) is that an ack on putMapping means that the change was committed and it's OK for the primary for the primary to go into a waiting loop if the cluster state didn't arrive yet. Any failure to commit will result in a hard exception

[2018-05-25 09:04] zhuqunzhou commented on #21209
@clintongormley Do you have any progress?

[2018-05-25 09:06] ywelsch commented on #30731
I've created #30859 as a fix for the licensing serialization issue.

[2018-05-25 09:55] droberts195 commented on #30295
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/2717/console is another instance of this.

Again the outermost error is:

[code]

and the error in the Elasticsearch log is:

[code]

[2018-05-25 10:38] ywelsch commented on #30731
@nik9000 With my fix in #30859, I have this consistently passing now

[2018-05-25 10:43] nfsec opened #30862 "Disabling _field_names don't work?"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.1.3

**Plugins installed**: [] X-Pack Basic License

**JVM version** (`java -version`): 1.8.0_92

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 16.04 LTS

**Description of the problem including expected versus actual behavior**:

I try to tune my Elasticsearch for indexing speed so I have disabled **_field_names** in templ

[2018-05-25 10:51] DaveCTurner commented on #30295
Similar story: adding templates is slow:

[code]

@andyb-elastic it doesn't look like we're getting extra detail yet. Could you check these settings are being applied in the right places?

[code]

[2018-05-25 11:15] jasontedor commented on #30801
Closed by #30820

[2018-05-25 11:15] #30801 closed

[2018-05-25 11:17] ywelsch commented on #30844
yes

[2018-05-25 11:19] ywelsch commented on #30731
The fix only helps in case of a rolling restart, so the mixed-cluster tests still fail with this fix on 6.x. I will have to discuss with @elastic/es-security what can be done about the mixed-cluster situation.

[2018-05-25 11:29] jasontedor commented on #30806
Closed by #30814

[2018-05-25 11:29] #30806 closed

[2018-05-25 11:43] javanna commented on #30806
thanks @jasontedor for closing

[2018-05-25 11:44] droberts195 commented on #30807
This is still failing on the master branch with a similar, but not identical, error.

For example, in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/1976/consoleText we have:

[code]

I will re-mute the test.

[2018-05-25 11:50] kroepke opened #30864 "Percentile ranks documentation: text and examples out of sync"
The percentile ranks documentation at https://www.elastic.co/guide/en/elasticsearch/reference/6.0/search-aggregations-metrics-percentile-rank-aggregation.html is talking about percentiles for load times, but the examples do not match the text at all.

Prior to 6.0 the examples were correct, all recent versions are wrong.

[2018-05-25 12:01] droberts195 commented on #30807
I suspect the problem is that the master branch says the oldest version that has a `nodes` member in `VerifyRepositoryResponse` is 7.0.0-alpha1, but the 6.x branch says it is 6.4.0.

[2018-05-25 12:07] droberts195 commented on #30298
Same problem again in 6.2: https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+6.2+multijob-unix-compatibility/933/consoleFull

REPRO command is:

[code]

I will cherry pick the muting commit back to 6.2.

[2018-05-25 12:09] hub-cap commented on #30807
yea, i have an open PR to fix this, but it kept failing due to flaky tests... #30796 its waiting *again* for another CI run to pass, keep yer fingers crossed this time!

[2018-05-25 12:09] hub-cap commented on #30807
in hindsight i should have just left the test muted until all this went in.

[2018-05-25 12:13] droberts195 commented on #30298
Doh, couldn't cherry pick the mute commit as it needs to go in a different repo for 6.2.  But I manually copied it over.

[2018-05-25 12:18] droberts195 commented on #30298
@spinscale are you aware these tests are still muted in master and 6.x?  So your fixes are not currently being tested.

[2018-05-25 12:28] kfong123 commented on #30849
Actually, I am not getting any logs when using `rootLogger.level = info` in 6.2.3. However, when I change the log level to debug (with `rootLogger.level - debug`), I see 45 logs (as shown below) only when I restart elasticsearch. Note that I have tried restarting elasticsearch multiple times under `debug` log level and only 45 logs are sent every time.

[code]

[2018-05-25 12:43] aditya-agrawal commented on #20936
@s1monw is there anyway to determine change in codec?

[2018-05-25 13:45] imotov opened #30868 "Add task list filtering by header"
In #27764 we added an ability to add headers to tasks. At the moment only the X-Opaque-Id header is implemented, but other headers can be added by plugins in the future. It would be very useful to have an ability to filter tasks by headers the same way as we can filter by action names.

[2018-05-25 13:46] droberts195 opened #30869 "Several test failures in :x-pack:plugin:security:test in 6.3"
In https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-unix-compatibility/os=sles/86/console the following tests failed:

[code]

None of these reproduce individually.  These are the REPRO commands:

[code]

There are some exceptions in the log file indicating SSL setup problems, for example:

[code]

Also:

[code]

And:

[code]

[2018-05-25 13:46] elasticmachine commented on #30869
Pinging @elastic/es-security

[2018-05-25 13:47] imotov commented on #30768
@joshuar I opened #30868. For some reason I thought it was already implemented, but it looks like I never got to it after all. Should we close this issue in favor of #30868?

[2018-05-25 14:03] codebrain commented on #30720
The JAVA_HOME variable is evaluated at runtime as per:
https://github.com/elastic/windows-installers/blob/master/src/Elastic.Configuration/EnvironmentBased/Java/JavaConfiguration.cs

[2018-05-25 14:06] Mpdreamz commented on #30720
@codebrain the OP is using the zip for installation not the MSI.

[2018-05-25 14:08] droberts195 opened #30870 "testThatEmailAttachmentsAreSent failed due to internal cluster not forming"
This failed in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/2063/console

The repro command is:

[code]

This did not reproduce locally for me.

The cause of the failure is not in the actual test code, but in the formation of the internal test cluster:

[code]

For some reason node_s2 did not join the cluster until the test had given up on it:

[code]

[2018-05-25 14:08] elasticmachine commented on #30870
Pinging @elastic/es-core-infra

[2018-05-25 14:23] ddorian opened #30871 "Optimized keyword fields that only have integers and only need equality filtering"
Hi,

Does lucene / es optimize (or is there a way to config) keyword fields that are guaranteed to have only numbers and only need equality filtering (for inverted-index, doc-values, term dictionary etc) ?

I remember _id has this optimization, so the number isn't stored as a string(number).

Meaning, if it stores them as strings, then it would be better to store as base64 or something similar to

[2018-05-25 14:26] droberts195 opened #30872 "6.3 BWC tests fail due to cluster not forming in time"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+bwc-tests/76/console failed with:

[code]

There was a period of 1 minute (12:21:39 to 12:22:39) when the two nodes appear to have done nothing.

From https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+bwc-tests/76/artifact/qa/full-cluster-restart/build/cluster/v6.2.3%23oldClusterTestCluster%20node0/elasticsearch-6.2.

[2018-05-25 14:26] elasticmachine commented on #30872
Pinging @elastic/es-distributed

[2018-05-25 14:29] blackOcean opened #30873 "Unable to create index using java high level rest client"
**Describe the feature**: Unable to create index using java rest high level client.

**Elasticsearch version** (`bin/elasticsearch --version`): elasticsearch 6.2.4

**Plugins installed**: [] No

**JVM version** (`java -version`):  java version "1.8.0_171"
Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.171-b11, mixed mode)

**OS version** (`uname -

[2018-05-25 14:34] javanna commented on #30873
hi @blackOcean , we reserve github for confirmed bugs or feature requests. This doesn't seem like a bug to me, you most likely have an old version of the elasticsearch dependency in your classpath. Let's continue this discussion in our forums at https://discuss.elastic.co/. Thanks!

[2018-05-25 14:34] #30873 closed

[2018-05-25 14:39] javanna commented on #30871
hi @ddorian , we reserve github issues for confirmed bug reports and feature requests. Could you please post your question to our forums at https://discuss.elastic.co/ ? Thanks!

[2018-05-25 14:39] #30871 closed

[2018-05-25 14:45] elasticmachine commented on #30864
Pinging @elastic/es-search-aggs

[2018-05-25 14:45] blackOcean commented on #30873
Hi @javanna

Sorry. But elasticsearch dependency are latest. I already mentioned that I am using 6.2.4.
I found the problem : elasticsearch rest high level client is not able to download elasticsearch dependeny as transitive dependency. We have to explicitly pass elasticsearch dependency in mvn pom.xml to make it work.

Solution : Add elasticsearch in pom.xml
[code]

[2018-05-25 14:46] javanna commented on #30864
Thanks for reporting this @kroepke . Would you fancy opening a PR to fix this?

[2018-05-25 14:48] tomcallahan commented on #30340
Hi Angelo,

This appears to be a bug to me and and is accepted into the backlog.  Given that the cluster here is extremely overloaded and already not providing a good experience to the user, I have to suggest that the user expand the resources available to the cluster.  That should avoid hitting this bug.

Thanks,

Tom

[2018-05-25 14:49] elasticmachine commented on #30862
Pinging @elastic/es-search-aggs

[2018-05-25 14:56] colings86 commented on #30862
From 6.1.0 we changed the way exists queries work in Elasticsearch so we rarely rely on `_field_names`. See https://github.com/elastic/elasticsearch/pull/26930 and https://github.com/elastic/elasticsearch/pull/27237 for more details but the essence of the change is that if a field has doc_values enabled (or for text fields if norms are enabled), we use a `DocValuesFieldExistsQuery` (or `NormsField

[2018-05-25 14:56] #30862 closed

[2018-05-25 14:57] ddorian commented on #30871
I have, but with no response: https://discuss.elastic.co/t/optimized-keyword-fields-that-only-have-integers/130612/2

[2018-05-25 15:20] droberts195 opened #30876 "Connect timeout in SimpleNetty4TransportTests testAcceptedChannelCount"
SimpleNetty4TransportTests testAcceptedChannelCount failed in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=sles/2457/console

The REPRO command is:

[code]

This doesn't reproduce locally for me.

The error is this:

[code]

The test appears to have done nothing for a whole minute:

[code]

It's in the same suite as #29613, which was also not

[2018-05-25 15:20] elasticmachine commented on #30876
Pinging @elastic/es-core-infra

[2018-05-25 15:43] rjernst commented on #30720
@jasontedor The docs linked in the original issue comment do state JAVA_HOME may be set locally before installing the service:

While we could update the docs to include an exception for JAVA_HOME, I find it odd that the other environment variables there would not also want the same treatment (eg ES_PATH_CONF or ES_JAVA_OPTS).  Is it really that much trouble to run service installation again if ch

[2018-05-25 15:50] droberts195 commented on #30872
There's a very similar problem on the 6.x branch in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/896/console

[code]

The two node logs are https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/896/artifact/x-pack/qa/full-cluster-restart/without-system-key/build/cluster/v6.3.0-SNAPSHOT%23oldClusterTestCluster%20node1/elasticsearch-6.3.0-SNAPSHOT

[2018-05-25 15:55] andyb-elastic commented on #30295
They're not applied because I didn't follow up on this, my bad. I'll add them now

[2018-05-25 16:18] majormoses opened #30878 "Change `action.destructive_requires_name` to a static module"
`action.destructive_requires_name` has been something that everyone should run in production for safety reasons and now that the default changed from `false` to `true` I think it should be a static module (probably in the next major release as it is a breaking change) so that you can protect against a lazy developer rescuing, updating settings, and making the request. It should be a setting that s

[2018-05-25 16:28] kroepke commented on #30864
@javanna Should the examples be switched back to pre-6.0 versions?
If so I can take a look on Monday, sure.

[2018-05-25 16:41] droberts195 opened #30881 "ingest-user-agent integ tests failed while wiping cluster between tests"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/1769/console suffered two test failures while running the integ tests for the ingest-user-agent plugin:

[code]

However, on closer examination it wasn't the tests themselves that failed but the cleanup in between tests.

The first exception is this:

[code]

The node log shows this:

[code]

It looks like deleting the `test`

[2018-05-25 16:41] elasticmachine commented on #30881
Pinging @elastic/es-core-infra

[2018-05-25 16:52] ehartford commented on #25848
I looked into doing this a year ago, but I found another solution for my immediate problem (postgresql's cube plugin)
It would be sweet to have this available in ES though.  I'll look into it again.

[2018-05-25 16:58] tbrooks8 opened #30882 "Cannot install old version trial license"
This was raised by the ingest team. They were attempting to register a trial license that was not updated to the current version (`VERSION_CRYPTO_ALGORITHMS`). When this happens, there is a cluster state listener that notices that the license is of type `trial` and is an outdated version.

`LicenseService.java`
[code]

LicenseUtils.signatureNeedsUpdate(currentLicense) is the operative line.

That

[2018-05-25 16:58] elasticmachine commented on #30882
Pinging @elastic/es-core-infra

[2018-05-25 17:13] jen-huang opened #30883 "[Docs] Github Edit button opens incorrect file since 6.3"
https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations-metrics-min-aggregation.html

`The min aggregation can also calculate the maximum of a script.`
should be
`The min aggregation can also calculate the minimum of a script.`

In addition, the `Edit` button doesn't open the right file on `master`. The same page on `6.2` does however.

[2018-05-25 17:29] vinayan3 opened #30884 "Completion Suggester Contexts from Path Elements Do not Allow Boolean Values"
# Bug Report
## Description of the problem including expected versus actual behavior
I expect to use the path field of Suggest Contexts to specify boolean values.  When I tried to index my data I get these errors.
[code]

I expect to be able to use a boolean value just like if I provided it in the context dictionary.

From a quick code search it seems there is separate functions which parse the di

[2018-05-25 17:31] jasontedor commented on #30720
I would support that change, yes: that is, we would no longer use `%%JAVA_HOME%%` here and require that if you want to change any environment variables you have to manually manage the service or reinstall, we would only use what is defined at install time.

[2018-05-25 17:52] costin commented on #30259
The decision in this case was to always use the stored field (as oppose to the source) if stored has appeared in the mapping.

[2018-05-25 19:05] #18543 closed

[2018-05-25 19:44] talevy opened #30887 "Add index setting to rolled over indices with the time they were rolled over"
### Proposal

Add new index-level setting called `index.rollover_date` that will record the time an index was
rolled over.

### Usage

1. general index management. It would be nice to know
2. it could be used by systems like Index-Lifecycle-Management to keep track of relative age of
the documents within an index. For example, we would only want to move on to the `warm` phase after 7 days. Is this

[2018-05-25 19:44] elasticmachine commented on #30887
Pinging @elastic/es-core-infra

[2018-05-25 20:03] nfsec commented on #30862
@colings86 Thank you very much for the explanation. Can we please add this to documentation? This is very important information, because it turns out that we do not necessarily giving up `_exists_` queries after disabling `_field_names` as it is written in https://www.elastic.co/guide/en/elasticsearch/reference/6.1/mapping-field-names-field.html. And users are not likely to follow commits on elast

[2018-05-25 23:58] andyb-elastic commented on #30295
Setting that logging the right way ended up being a little involved, I'll push it next week in the interest of not breaking the build Friday afternoon

[2018-05-26 13:00] iahmad-khan commented on #26576
Same issue on elastic 6.2

[code]

[2018-05-26 15:27] animageofmine commented on #30685
@tomcallahan On a vacation right now, but will check as soon as I get back. Just wanted to ack in the meanwhile.

[2018-05-26 17:02] GoodMirek commented on #27924
@sihil In order to obtain the EC2 endpoint, I propose to use AWS API action [DescribeRegions](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeRegions.html) with its RegionName parameter set to the region string obtained from EC2 metadata.

Looking up the endpoint in the SDK can be backup option, if e.g. instance profile does not permit the AWS API action. Although I prefer to ma

[2018-05-27 10:09] lipsill opened #30892 "[?] Incorrect `edit` links in the reference documentation"
When trying to edit the master reference docs for [Create Index](https://www.elastic.co/guide/en/elasticsearch/reference/master/indices-create-index.html#indices-create-index) (by pressing the `Edit` button on the docs page) I am redirected to the following x-pack doc file: https://github.com/elastic/elasticsearch/edit/master/x-pack/docs/en/security/securing-communications/tls-ldap.asciidoc. The s

[2018-05-27 12:13] redlus opened #30893 "Changing cross cluster search settings using REST API"
Hi,

**Elasticsearch version**
6.2.3

**Plugins installed**
ingest-attachment
ingest-geoip
mapper-murmur3
mapper-size
repository-azure
repository-gcs
repository-s3

**JVM version**
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.16.04.2-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)
**OS version** (`uname -a` if on a Unix-like system):

**D

[2018-05-27 13:08] aditya-agrawal commented on #20936
@s1monw should we add one option to force a force_merge in cases when no deleted documents are there in the segment?

[2018-05-27 13:40] jasontedor commented on #30893
The problem here is that there is no per remote-cluster setting called `intial_connect_timeout`. You will get a similar error message if you try to add such a setting to the configuration file:

[code]

If you think the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/modules-cross-cluster-search.html#cross-cluster-search-settings) are not clear on this point, we are open to the

[2018-05-27 13:40] #30893 closed

[2018-05-27 13:54] redlus commented on #30893
@jasontedor
I've only written the requests and response when inserting the setting at the cluster level, but this happens on every level. E.g. on 'search.remote' level:
`{
    "persistent": {
        "search": {
            "remote": {
                "tier-2": {
                    "seeds": "192.168.0.47:9300"
                },
                "tier-1": {
                    "seeds": "192.168.0.

[2018-05-27 14:04] jasontedor commented on #30893
As I said:

You have to set this statically in the configuration file.

[2018-05-27 14:14] aditya-agrawal commented on #20936
@s1monw Can we add an option to force a force_merge as suggested in https://github.com/elastic/elasticsearch/issues/5243?

[2018-05-27 18:03] softwaredoug commented on #27552
One problem this solves is allowing users to store distributed representations of text in a field, and use it in ranking. By overwriting term freq, you can create and use arbitrary vector representations in ranking and have them used efficiently.

For example, if you have a 5 dimensional embedding out of word2vec/doc2vec, you might store that in a field:

[code]

Here the vector output of doc2vec

[2018-05-27 20:18] PnPie commented on #27205
Hi, I'm working on explain api as it's not picked up yet, I post here just to avoid duplication.

[2018-05-27 22:07] redlus commented on #30893
@jasontedor
I felt the emphasis was needed after your reference of what is and what is not a per-cluster setting:

In any case, stating all these settings in one [section](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/modules-cross-cluster-search.html#cross-cluster-search-settings) without noting which is static and which is not is confusing IMHO (especially given that the cluster se

[2018-05-27 22:29] gkinsman commented on #27552
@softwaredoug that's a great use case, and another example of where this feature could be used to reduce the work done at index/query time while increasing the flexibility of the API.

Imagine if you could write code in your own app to index a field to produce a term frequency map, and then pass that to ES. Would be a game changer!

I'm currently still hacking around the fact that I can't customis

[2018-05-28 00:04] maltegrosse opened #30896 "missing functionality to aggregate all geo shape points in index"
Hi,

i couldnt find any solution to aggregate all geo_shape points of one index.
example mapping would be like:

`{
	"weather-index": {
		"mappings": {
			"doc": {
				"properties": {
					"atmospheric_pressure": {
						"type": "float"
					},
					"average_air_temperature": {
						"type": "float"
					},
					"location": {
						"type": "geo_shape"
					},
					"observation_date": {
						"type

[2018-05-28 04:09] fantapsody opened #30897 "Add a hard time limit for the entire search request"
I wonder if there is any method to limit the service time of the entire search request, respond to the client with a timeout error and cancel all remaining search requests on shards automatically. As I have done a few researches on [official documents](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html), [issues and discussions](https://github.com/elastic/elas

[2018-05-28 07:35] cbuescher commented on #30883
@jen-huang thanks for catching this, also I can conform the edit button isn't working the way it should for me either. I will open a quick PR to fix the typo you mentioned and check if the edit button issue is already worked on.

[2018-05-28 07:36] elasticmachine commented on #30883
Pinging @elastic/es-search-aggs

[2018-05-28 07:44] cbuescher commented on #30883
Opened #30899 for the typo, will change the labeling and title slightly to track the non-working edit buttons

[2018-05-28 07:47] elasticmachine commented on #30883
Pinging @elastic/es-docs

[2018-05-28 07:51] cbuescher commented on #30883
Most of the reference documentations Edit buttons all link to the elasticsearch/x-pack/docs/en/security/securing-communications/tls-ldap.asciidoc page, starting with versions 6.3 it seems.

[2018-05-28 08:02] cbuescher commented on #30883
Git show that most of the broken links got changed by the Docs User bot in 87e587a5f20b8a3752383f893166184a8336f8ef, so I suspect some slightly earlier changes to be the cause.

[2018-05-28 08:04] cbuescher commented on #30883
@lcawl can you take a look what changed in the build and either correct or reassign?

[2018-05-28 08:05] micoq commented on #30560
Well, I launched again my tests on Lucene (7.0.0) with a more precise setup and here are the results for indexing 1 million small documents (~1ko) with various indexing buffer sizes (128kB to 1GB) in a single Lucene index:

Commit: total time after indexing and a full commit (fsync) without using compound format
Commit+Compound: same using compound format
Flush: total time after indexing and after

[2018-05-28 08:07] elasticmachine commented on #30878
Pinging @elastic/es-core-infra

[2018-05-28 08:08] cbuescher commented on #30892
@lipsill thanks for opening the issue.
i just saw this, there was another earlier issue reporting this that is tracking the issue now: #30883
I will close this as a duplicate then.

[2018-05-28 08:08] #30892 closed

[2018-05-28 08:12] cbuescher commented on #30896
Hi @maltegrosse! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report.
I'm closing this as an issue here, but encourage you to ask this question in the forum instead. If it turns out there is some functionality missing afte

[2018-05-28 08:12] #30896 closed

[2018-05-28 08:20] cbuescher commented on #30897
@fantapsody thanks for raising this point, it makes a lot of sense to me. However, it looks very similar to an ongoing dicussion about default search timeouts we are having already in issues like https://github.com/elastic/elasticsearch/issues/26308. Can you take a look at that discussion and see if this is similar to your needs? In this case I would suggest closing this issue as a duplicate since

[2018-05-28 08:21] elasticmachine commented on #30897
Pinging @elastic/es-search-aggs

[2018-05-28 09:04] javanna commented on #27205
thanks for letting us know @PnPie and most importantly for taking another API! looking forward to your PR.

[2018-05-28 09:08] jpountz commented on #30878
It still seems to default to `true`?

[2018-05-28 09:12] cbuescher opened #30900 "[CI] InstallPluginCommandTests fails repeatedly in PR tests and CI"
I ran into this two times already today in PR testing and also saw failures in CI:

[code]

I couldn't reproduce it locally so far, also not by removing the "@5167f57d" or the nested Class parts of the test method, however the failures look similar like this:

[code]

Failed in PR tests vs. master

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request/10600/consoleFull
and ear

[2018-05-28 09:12] elasticmachine commented on #30900
Pinging @elastic/es-core-infra

[2018-05-28 09:33] cbuescher commented on #30900
More https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=sles/2461/console, that time it fails in "testFailedSignatureVerification".

[2018-05-28 09:38] hendrikmuhs commented on #30900
I silenced the whole test suite as it seems not to be just 1 test.

[2018-05-28 09:54] fantapsody commented on #30897
@cbuescher thanks for your reply, I have read the origin and related issues (#26238, #26258, #25776) you mentioned above, and read the patch in #25776 briefly, it seems to me that the timeout discussed in these topics was the execution time on each shard, while the time limit I suggested is the total service time of the entire search request.

For example, if the search queue of the node has hundr

[2018-05-28 10:01] jpountz commented on #30841
I think we are on the same page, but to clarify, the filter is not ignored, the use of `reverse_nested` then `nested` again just changes its meaning. Instead of meaning "all documents that match X", it means "all documents whose parent has a nested document that matches X" where `X` is the filter that you decided to apply to your nested documents.

We might be able to apply your suggestion, but th

[2018-05-28 10:03] cbuescher commented on #30897
@fantapsody thanks for checking, will leave this open and discuss it further with the team then.

[2018-05-28 10:45] ergo opened #30901 "[docs] Side menu (TOC) not rendering on Firefox 60"
Hello,
Documentation does not render side menu anymore.
Is this something that can be added back? Currently this makes browsing documentation very tedious task.

[2018-05-28 11:18] atorok opened #30903 "Provide a way for individual projects to specify which distributions they can run/test against"
Related to #30874.

The  distribution running in the integration tests, or started with the `run` task can be switched with the `tests.distribution` and `run.distribution` properties.
The problem is that no all projects are able to run with any distribution e.x. plugins being tested might depend on other plugins. On the other hand we want to make sure that the inputs are honored, so we can't  sile

[2018-05-28 11:18] elasticmachine commented on #30903
Pinging @elastic/es-core-infra

[2018-05-28 11:53] dadoonet commented on #30901
It does for me... May be clean your browser cache?

![image](https://user-images.githubusercontent.com/274222/40613350-7f7f77be-627e-11e8-87a8-c0c48cbdeed3.png)

[2018-05-28 11:57] ergo commented on #30901
Hm, seems like it is a JS bug.

`ReferenceError: MktoForms2 is not defined` - happens on Firefox 60, and menu is gone.
On Chrome it indeed renders fine.

[2018-05-28 12:00] dadoonet commented on #30901
Thank you! I'm going to ping people internally.

[2018-05-28 12:12] javanna commented on #30864
I am not sure to be honest, @polyfractal I saw that these changes come from d8414ff . Could you clarify what needs to be done?

[2018-05-28 12:18] atorok opened #30904 "Provide a better way to declare nodes/clusters/cluster formation during the build"
Todo:
--------
  - [x] implement Version in java so we can use it in cluster-formation
  - [ ] rename to `testClusters` and `TestClustersPlugin` ditching `ClusterFormation`
  - [ ] proof of concept plugin to check the integration points with Gradle and write integration test
  - [ ] implement support for setting up a single node cluster and actually starting and using it
  - [ ] restrict the type

[2018-05-28 12:18] elasticmachine commented on #30904
Pinging @elastic/es-core-infra

[2018-05-28 13:10] jpountz commented on #30560
2600 seconds for 1M small documents sounds very long to me, it is less than 400 documents per second. Is the code that you used to conduct this benchmark available somewhere?

[2018-05-28 13:52] scampi opened #30907 "Strange piece of code in ElasticsearchAssertions#assertVersionSerializable"
The method `ElasticsearchAssertions#assertVersionSerializable` got removed in [commit](https://github.com/elastic/elasticsearch/commit/b7e6fb9ac5c8d0bb771e319c8968ddd89f502720)
 but I would like to understand why that [line](https://github.com/elastic/elasticsearch/commit/b7e6fb9ac5c8d0bb771e319c8968ddd89f502720#diff-e7168ac65fa4c974595f24e243f2cf7eL701) uses the variable `streamable` instead of `

[2018-05-28 14:52] jpountz commented on #28894
Fixed on the Lucene side via https://issues.apache.org/jira/browse/LUCENE-8186 but will need change on the Elasticsearch side as well.

[2018-05-28 14:54] nikita-sheremet-java-developer commented on #30834
My version is 6.2, sorry.

Thanks you for reply.

[2018-05-28 16:10] micoq commented on #30560
@jpountz Sorry, the unit was wrong, it's indeed in milliseconds not in seconds !

[2018-05-28 19:36] maximshd opened #30910 "Remove reference to repository-s3 plugin creating an S3 bucket"
[Docs](https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-s3-repository.html#repository-s3-permissions) mention that repository-s3 plugin is able to create AWS S3 bucket when it doesn't exist (and appropriate IAM permissions were added).
But it just fails without any validation according to this part of a code:
`.         SocketAccess.doPrivilegedVoid(() -> {
            if (

[2018-05-28 19:58] dadoonet commented on #30910
In doc you linked to I can see

Which part of the doc mentions something else?

[2018-05-28 20:33] cbuescher opened #30911 "[CI] PutIndexTemplateRequestTests.testFromXContent fails reproducibly"
I saw at least two instances today:

On 6.x: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java10,nodes=virtual&&linux/80/console

This reproduces on 6.x for me:
[code]

[code]

[2018-05-28 20:33] elasticmachine commented on #30911
Pinging @elastic/es-core-infra

[2018-05-28 20:37] cbuescher commented on #30911
Little bit older, also 6.x: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=sles/1084/console

[code]

[2018-05-28 20:43] cbuescher commented on #30900
@hendrikmuhs Since this happens also on 6.x (e.g. https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=opensuse/1087/console), we need to silence there as well. Will backport your commit.

[2018-05-28 20:56] cbuescher opened #30912 "[CI] CliSelectIT#testMultiLineSelect failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/2082/console

Cannot reproduce locally, but these are the lines (interestingly logged twice?):

[code]

Error:
[code]

Since as far as I could search this only happened once so far I will not disable it for now.

[2018-05-28 20:56] elasticmachine commented on #30912
Pinging @elastic/es-search-aggs

[2018-05-28 21:08] cbuescher commented on #28685
This also appeared on 5.6 so I muted it there as well: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-windows-compatibility/1114/console
Muted in https://github.com/elastic/elasticsearch/commit/e521a9aa4e99bb20e0a3d264f23217ace3c18e23

[2018-05-28 21:44] cbuescher commented on #30295
This looks very similar to me: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+packaging-tests/890/console

@andyb-elastic not sure which additional detail you are looking for, maybe this one shows more?

[2018-05-28 21:58] gauravmishra123 commented on #23059
Thanks bleskes for your help.Please let me know if anything else needs to be done.

[2018-05-28 22:10] gauravmishra123 commented on #12315
Hi  i m a newbie, is this issue fixed? if not can i take this issue .

[2018-05-28 22:12] cbuescher opened #30914 "[CI] Packaging tests fail while stopping systemd"
Did not reproduce locally, but this is the build:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/2728/consoleFull

REPRODUCE WITH: ./gradlew :qa:vagrant:vagrantCentos7#batsPackagingTest -Dtests.seed=D483E0270BF44156

And this is what I found in the logs that looks closest to an error:
[code]

[2018-05-28 22:12] elasticmachine commented on #30914
Pinging @elastic/es-core-infra

[2018-05-28 22:15] cbuescher commented on #12315
@gauravmishra123 the issue is being worked on, sorry. Take a look at issues labeled "adotme" and probably also "low hanging fruit", they should be relatively easy to get started with. In any case, pinging on the issue like you just did is a great idea and much appreciated!

[2018-05-28 22:17] gauravmishra123 commented on #22302
Hi I am a newbie , Can I take this issue if not taken ?
Any pointers would be appreciated.

[2018-05-28 22:32] cbuescher opened #30915 "[CI] Windows compatibility tests fail trying to install analysis-icu"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/1087/console

Looks like this isn't the first failure of this kind, at least since #1084 this looks similar:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/

The error suggests either the file is not there or the path is somehow wrong:

[code]

[2018-05-28 22:32] elasticmachine commented on #30915
Pinging @elastic/es-core-infra

[2018-05-29 02:54] nicholas251291740 opened #30918 "How to achieve it just like "select user_id from sales group by user_id having count(*) > 3""
How to achieve it just like "select user_id from sales group by user_id having count(*) > 3". I'm using the way of nested, thanks!

[2018-05-29 03:03] dnhatn commented on #30918
@nicholas251291740 Please ask questions on https://discuss.elastic.co where we can give you a better support. We use Github for bug reports and feature requests. Thank you.

[2018-05-29 03:03] #30918 closed

[2018-05-29 03:03] tvernum commented on #30918
Could you please ask this question on our [discuss forum](https://discuss.elastic.co/c/elasticsearch) where we can provide better support. Elastic uses GitHub issues for tracking clearly identified bugs and feature requests. Since there is no specific bug identifed in your issue, I'm going to close this ticket, but I'm sure someone will be able to help you work through your question on the [forums

[2018-05-29 04:43] maximshd commented on #30910
Hi, @dadoonet ,

"If you want Elasticsearch to create the bucket instead, you can add the permission to create a specific bucket like this:"

But seems like ES will not try to create any bucket in any cases.

[2018-05-29 06:34] dadoonet commented on #30910
Ha right. That's a leftover IMO. We should remove that part.

[2018-05-29 07:19] pankajpragma opened #30921 "Plugin [analysis-phonetic] and [analysis-icu] is incompatible with ElasticSearch version [5.6.9]"
Recently updated the Ubuntu 16.04 and it does update the ElasticSearch from 5.6.8 to 5.6.9.

But it has stopped working ElasticSearch as analysis-phonetic and analysis-icu is incompatible with ElasticSearch 5.6.9

[code]

[2018-05-29 07:21] dadoonet commented on #30921
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

Here you need to uninstall old plugins and reinstall them.

[2018-05-29 07:21] #30921 closed

[2018-05-29 07:37] elasticmachine commented on #30910
Pinging @elastic/es-distributed

[2018-05-29 07:38] cbuescher commented on #30915
Also: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/1088/console

[2018-05-29 07:50] elasticmachine commented on #30901
Pinging @elastic/es-docs

[2018-05-29 07:54] clintongormley commented on #20936
/cc @elastic/es-core-infra

[2018-05-29 10:22] morjo commented on #30202
Without this in place we cannot use those features in the Perl API.

[2018-05-29 10:40] albertzaharovits commented on #30422
@kostasb I have raised https://github.com/elastic/elasticsearch/pull/30923 .
However, the settings don't only apply locally. They apply when indexing to remote too, but only if X-Pack security is **not** installed there.

[2018-05-29 10:52] kostasb commented on #30422
Thank you for the docs PR and the clarification!

[2018-05-29 11:04] javanna commented on #30202
hi @morjo would you like to send a PR to fix this?

[2018-05-29 11:48] mayya-sharipova commented on #22302
@gauravmishra123 This issue is not taken, so please work on this if you like.
You can start with working `PercentilesBucketPipelineAggregationBuilder.java` file to make a parser accept `keyed` field. See how the parser in `PercentilesAggregationBuilder` accepts `keyed` field

[2018-05-29 12:05] cbuescher opened #30925 "[CI] qa:rolling-upgrade test fail for XPackIT#testIndexTemplatesCreated"
Several of these failures occuring atm on 6.x and 6.3, they are running the upgrade tests from 5.6 or 6.2 (pre-xpack) clusters.

One example:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+default-distro-bwc-tests/14/console

[code]

[code]

The error looks like there are indices missing, the expected ones are:
[code]

but the actual ones are:
[code]

So all the ".monitoring" in

[2018-05-29 12:05] elasticmachine commented on #30925
Pinging @elastic/es-core-infra

[2018-05-29 12:06] cbuescher commented on #30925
Other occurences:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+default-distro/15/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+default-distro-bwc-tests/15/console

[2018-05-29 12:11] cbuescher commented on #30925
@nik9000 looks like you just recently added that test, can you take a look?

[2018-05-29 12:17] cbuescher commented on #30562
Another one here: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-unix-compatibility/os=amazon/93/console

[code]
[code]

[2018-05-29 12:38] poson commented on #15255
In my case , i had installed gradle 2.10             3.5-rc-2         4.4              4.6              jars-1           jars-3
3.4.1            4.0              4.4.1            4.7。
I always found error like “> Failed to apply plugin [id 'elasticsearch.build']

after a lot of try， I delete /Users/xxx/.gradle/caches/2.10 , /Users/xxx/.gradle/caches/3.4.1 ,.....,just leave 4.7 ，then gradle build i

[2018-05-29 12:53] nik9000 commented on #30907
Yeah, it looks like it was wrong. It should have been using `newInstance`.

[2018-05-29 12:53] #30907 closed

[2018-05-29 12:53] nik9000 commented on #30907
I've closed the issue because the wrong code has already been removed so there isn't really anything else for anyone to do about it.

[2018-05-29 13:13] scampi commented on #30907
In the commit, it said this test didn't catch many errors which the mentioned error may have been the reason. Going forward, do you see that test still worth given the new data, or serialization testing of
objects is still "best left to their respective unit and integration tests." ?

[2018-05-29 13:20] cbuescher opened #30927 "[CI] Failiures on IndexLifecycleManagerIntegTests"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+matrix-java-periodic/ES_BUILD_JAVA=java10,ES_RUNTIME_JAVA=java10,nodes=virtual&&linux/68/console

[code]

Does not reproduce locally with the above, in the logs the first exceptions seem to indicate a startup problem:

[code]
The subsequent failures look like follow up problems to me:
[code]

[2018-05-29 13:20] elasticmachine commented on #30927
Pinging @elastic/es-core-infra

[2018-05-29 14:31] farin99 opened #30930 "elasticsearch data node crashing with OutOfMemoryError"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.2.4
**Plugins installed**: [
ingest-attachment
ingest-geoip
mapper-murmur3
mapper-size
repository-azure
repository-gcs
repository-s3
]

**JVM version** (`java -version`):
java version "1.8.0_171"
Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.171-b11, mixed mode)
**OS version** (`uname -

[2018-05-29 14:39] cbuescher opened #30931 "[CI] Packaging tests failure during TAR CERTGEN"
https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+6.2+packaging-tests/87/consoleFull

I couldn't reproduce locally, but here is the info anyway:

[code]
[code]

[2018-05-29 14:39] elasticmachine commented on #30931
Pinging @elastic/es-core-infra

[2018-05-29 15:14] nik9000 commented on #30925
I'll take it!

[2018-05-29 15:16] #30883 closed

[2018-05-29 15:28] jpountz commented on #30560
Thank you, so it's actually 400K docs per second. How many threads do you use for indexing and how do you generate your documents?

[2018-05-29 15:34] cbuescher commented on #30911
One of the aliases with a weird unicode name cannot be parsed back exactly:
expected: {"¥ÛøÀ»ÅÄÌa":{"index_routing":"ꡟꡒꡑꡏꡧꡒꡐꡏꡨa","search_routing":"a"}}
actual: {"¥ÛøÀ» ÅÄÌa":{"index_routing":"ꡟꡒꡑꡏꡧꡒꡐꡏꡨa","search_routing":"a"}}

The Character that doesn't survive the roundtrip seems to be https://unicode-table.com/en/search/?q=%C2%85. I'm not sure if randomRealisticUnicodeOfLengthBetween() as the

[2018-05-29 15:46] peterdm commented on #27552
I have @gkinsman ‘s use case as well (vote counts or impressions).

[2018-05-29 15:50] nik9000 opened #30933 "YML Testing: Add `distribution` support to `skip`"
We've been reusing our yml tests against different Elasticsearch distributions for a long time and we've been skipping tests that are broken against distributions using `tests.rest.blacklist`. While `tests.rest.blacklist` *works* it is suboptimal because the "normal" place to look for a skipped tests is in the test source code rather than in the `build.gradle` file. So I'd like to add `skip: distr

[2018-05-29 15:50] elasticmachine commented on #30933
Pinging @elastic/es-core-infra

[2018-05-29 15:51] nik9000 commented on #30933
Pinging @elastic/es-clients to have a look at this because if I add this before you support it then you probably won't be able to parse the tests.

[2018-05-29 16:15] cbuescher opened #30935 "[CI] XPackRestIT "monitoring/bulk/10_basic/Bulk indexing of monitoring data""
https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+6.2+multijob-unix-compatibility/959/console

Not reproducible locally with this:
[code]
[code]

[2018-05-29 16:16] #30930 closed

[2018-05-29 16:16] cbuescher commented on #30935
There was a similar looking failure that doesn't seem to have been looked at yet 7 days ago, just for reference:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+multijob-windows-compatibility/79/console

[2018-05-29 16:31] jpountz commented on #27552
For the record, we already merged #30618 which is one way to leverage custom frequencies and is abstracted in its own field type.

@gkinsman What kind of field do you perform term stuffing on? Something like tags?

[2018-05-29 16:42] gkinsman commented on #27552
Ah interesting @jpountz, I haven't seen those before - might have to take a look.

I have two fields per doc for tags - one is an original, stored text field which is the tag and count, e.g: "tag1|3 tag2|4 tag3|1". I then have a stuffed field which is a non-stored text field with IndexOptions.Freqs enabled, and would look like "tag1 tag1 tag1 tag2 tag2 tag2 tag2 tag3". When indexed, the stats gene

[2018-05-29 16:48] jpountz commented on #27552
Out of curiosity, what is the number of unique tags that you have in your index. Is it low-cardinality and conceptually closer to a field (eg. `rating: 5` or `views: 12345`) or high-cardinality and closer to a value (eg. `tags: { politics: 12, economics: 20, germany: 50, renewable_energies: 35 }`)?

[2018-05-29 16:58] softwaredoug commented on #27552
@jpountz thanks, that looks promising! I'm wondering though why I couldn't take the value of what I index directly into scoring? It seems I have to take saturation, log, or sigmoid. I don't think I could implement a dot product using that feature very easily.

To do a dot product, I would need to take the term freq directly, multiply it at query time by a query time boost.

[2018-05-29 17:16] cbuescher commented on #30911
This small test shouws the problem is particular to the Yaml xContent type. There parsing the offending fieldname back to a map fails:

[code]

[2018-05-29 18:09] andyb-elastic commented on #30295
I turned on the logging David suggested when the tests run on opensuse https://github.com/elastic/elasticsearch/commit/ba8bb1d4a15fd5d26357ea0cc7c04b28645b50bf

@cbuescher it's likely the same, it's hard to tell since it looks like that one didn't dump the server logs. The details we're looking for is more information about why the server sometimes takes a long time to start on opensuse

[2018-05-29 18:34] ArielCoralogix commented on #30930
Hey @jaymode! Shouldn't the request circuit breaker protect us from this case exactly? it's set on our cluster with its default value.
https://www.elastic.co/guide/en/elasticsearch/reference/current/circuit-breaker.html#request-circuit-breaker

[2018-05-29 18:37] StevenToth opened #30939 "Dynamic Field Mapping and Templates using numeric_detection does not match documentation"
**Describe the feature**: Bug in Dynamic field mapping of floating point numbers with `numeric_detection` enabled.

**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.2

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_66

**OS version** (`uname -a` if on a Unix-like system): RHEL6

**Description of the problem including expected versus actual behavior**:
According t

[2018-05-29 19:28] jaymode commented on #30930
The circuit breakers are a best effort attempt to prevent OOM, but it is possible to still overload Elasticsearch and get a OOM. For example, you might have the breaker set to 60% of the total heap but you may not actually have 60% of your total heap free so you can still get a OOM.

[2018-05-29 20:01] debadair commented on #30901
I can't reproduce, either. Works fine on FF 60.0.1 on the Mac & also tested on Windows via Browserstack.com. The JS error they were seeing seems odd...but the most common reason the TOC doesn't load correctly is that some ad/privacy blocker is engaged.

[2018-05-29 20:12] ArielCoralogix commented on #30930
That's a pretty strange way to treat this. IMHO, A query, no matter how complex, should not crash an entire cluster if properly configured.

[2018-05-29 20:21] nik9000 commented on #30925
I believe I fixed it with the commits above!

[2018-05-29 20:21] #30925 closed

[2018-05-29 20:50] amnons77 commented on #30930
Hey @jaymode
according to the circuit breakers documentation:
https://www.elastic.co/guide/en/elasticsearch/reference/current/circuit-breaker.html#request-circuit-breaker
the defaults is 60% from the **JVM** and not from the **total memory**, we didn't changed the circuit breakers defaults and we set the JVM to use only half of the total machine memory, my question is, will it possible to configur

[2018-05-29 21:12] inavuk commented on #30405
Hi, just wondering if this is being worked on - if so, do you have any other issues for a newbie you could use help on?

[2018-05-29 22:53] #29692 closed

[2018-05-30 01:33] jpcarey opened #30944 "certutil: large passwords not set"
**Elasticsearch version**: Version: 6.2.4, Build: ccec39f/2018-04-12T20:37:28.497551Z, JVM: 1.8.0_172

**Description of the problem**: Using a long password (ex. 64 characters: `2zVBXLjRzAXn9wcXuj6vr@YVVAMwiEBJvhFp,cPpoK&ZVLXhWsw2#%PzyjJkZiWx`), `certutil` allows creation of the keypair but the password does not work.

**Steps to reproduce**:

 1. `bin/x-pack/certutil ca --ca-dn "CN=Example LLC" -

[2018-05-30 02:36] elasticmachine commented on #30944
Pinging @elastic/es-security

[2018-05-30 02:46] jordansissel opened #30946 "PUT cluster.routing.allocation.exclude handling with array value"
**Describe the feature**:

PUT cluster.routing.allocation.exclude handling with array value should either work correctly or provide actionable feedback in an error response.

**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.3

**Plugins installed**: [x-pack]

**JVM version** (`java -version`): Whatever version ships on the elasticsearch-platinum:6.2.3 docker image

**OS version** (`u

[2018-05-30 02:58] jaymode commented on #30930
@ArielCoralogix We are continuously working on improving our handling of memory and adding safeguards to prevent OOM errors. This issue is closed as there is nothing more than “some data nodes crashed with OOM and I can give you a heap dump”, which is not actionable. We use github for confirmed bugs and features and our forums as a place to get help for issues like this. There are other open issue

[2018-05-30 05:26] albendz commented on #30071
I am working on testing the solution above but I'm hitting so many dependency issues building the project in IntelliJ that I'm not making a lot of progress. I couldn't find a help page for this. Any pointers?

[2018-05-30 05:41] tvernum commented on #30071
@albendz You should be able to use the gradle integration in IntelliJ to get everything working.

Run `./gradlew idea` from the root of the `elasticsearch/` project, and then import it into IntelliJ as a gradle project, using gradle wrapper.

IntelliJ can take some time to builds its caches and refresh indices, etc but that should give you a working project. If you run into specific errors, please

[2018-05-30 05:59] farin99 commented on #30930
@jaymode IMHO an OOM is always a bug and the memory dump should be analyzed to find the root cause.
We are trying to analyze it our selves, of course, it much easier\ideal for someone who is more familiar with the code base :)
Regarding more information, please let us know what you need. As this is a production issue on a multi user environment, it is hard to provide the specific use case. I would

[2018-05-30 06:16] jkakavas commented on #30944
This is not a `certutil` issue but rather an `openssl` one. OpenSSL used to have arbitrary lengths predefined for the password buffers - hence arbitrary max lengths for the passwords it could handle - and for the pkcs12 app, it happened to be [50](https://github.com/openssl/openssl/blob/OpenSSL_1_0_2-stable/apps/pkcs12.c#L111).
It has been changed in versions >= 1.1.0 to be [2048](https://github.c

[2018-05-30 06:31] tvernum commented on #30944
I think it's reasonable to at least warn users if they're creating keystores that cannot be handled by common tooling.

[2018-05-30 07:14] elasticmachine commented on #30946
Pinging @elastic/es-distributed

[2018-05-30 07:45] bleskes commented on #30946
@vladimirdolzhenko maybe this is something you can pick up? should be a good way to learn about settings.

[2018-05-30 07:48] #29380 closed

[2018-05-30 07:52] jkakavas commented on #30882
The intended functionality was to update the signature because the new license spec format. I think the problem stemmed from my incomplete overview of license types ( i.e. the existence of long term registered trial licenses.)

I, now, think we can handle both self generated and registered trial licenses in the same manner. Just update the signature and reuse the expiration date from the original

[2018-05-30 08:12] elasticmachine commented on #30939
Pinging @elastic/es-search-aggs

[2018-05-30 08:12] colings86 commented on #30939
@jpountz could you confirm if this is a bug in the code or the documentation?

[2018-05-30 08:16] jpountz commented on #30939
The documentation is wrong indeed. I'll fix.

That part probably needs clarification though I'm not sure how to do it. Basically, the json parser assumes the wider datatype that is not a BigDecimal/BigInteger. So floating-point numbers will be detected as a `double` rather than a `float` and integers will be detected as a `long` rather than an `integer`. You can dynamically map floating-point numb

[2018-05-30 08:54] cbuescher commented on #30405
@inavuk seems like @segbedzi showed some interest, so you should coordinate with him to avoid double work. Other than that, look at the two documents linked above and check the repo for issues labeled "adoptme" and/or "low hanging fruit" to get started. Also there are several issues labeled "doc" which sometimes are not too hard to get started with and don't involve deep dives into the code, but t

[2018-05-30 09:49] cbuescher opened #30955 "[CI] Failures in TextFieldTypeTests testCheckCompatibility"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+intake/125/console

Reproduces locally for me with
[code]

[code]

[2018-05-30 09:49] elasticmachine commented on #30955
Pinging @elastic/es-search-aggs

[2018-05-30 09:50] cbuescher commented on #30955
@romseygeek I think I saw some changes in the test by you just recently, could you take a look?

[2018-05-30 09:51] cbuescher commented on #30955
Another one, also 6.3 branch.
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+intake/126/console

[2018-05-30 09:51] romseygeek commented on #30955
Working on a fix now.

[2018-05-30 10:07] bqayyum commented on #25505
I am new to elasticsearch and facing the below issue:
[elastic@elsqw1 elastic]$ systemctl status elasticsearch.service
â elasticsearch.service - Elasticsearch
   Loaded: loaded (/usr/lib/systemd/system/elasticsearch.service; disabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since Wed 2018-05-30 12:42:49 AST; 6min ago
     Docs: http://www.elastic.co
  Process: 42859 ExecStar

[2018-05-30 10:18] dadoonet commented on #25505
@bqayyum better chance to ask on discuss.elastic.co where we can give a better help.

[2018-05-30 10:26] markharwood opened #30957 "Add "took" timing info to _msearch/template response"
Unlike the other forms of search response, the `_msearch/template` response is missing the `took` timing information in the search response.

[2018-05-30 10:26] elasticmachine commented on #30957
Pinging @elastic/es-search-aggs

[2018-05-30 10:32] #30687 closed

[2018-05-30 11:50] gauravmishra123 commented on #22302
Thanks a ton @mayya-sharipova  for the help.
I have started working on this.

[2018-05-30 12:00] #12315 closed

[2018-05-30 12:39] mleczo opened #30962 "[Windows 10] file.AccessDeniedException on split or shrink index"
**Describe the feature**:

After splitting or shrinking an index on windows 10, there is a high probability of fail, which is caused by file access denied exception. in shards relocation. It is easiest to reproduce on operations which involve 100+ shards.
Also:
-im running ES as an administrator
-antivirus software is turned off
-indexing service is turned off
-bitlocker is suspended
-I have plent

[2018-05-30 12:47] dnhatn commented on #29392
Another instance https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/1998/console
The test failed because the global checkpoint sync acquired a shard permit while the synced-flushing was happening. I am looking at this again.

[code]

[2018-05-30 13:21] jpountz commented on #27552
It was designed this way because such functionality is easier to evolve over time when it has few constrained parameters and its use-case is well understood. I do agree that it doesn't address all use-cases. @gkinsman needs a way to handle a feature vector with arbitrary (and potentially many) dimensions (the tags) and I have heard about similar use-cases in the past so I think we should do someth

[2018-05-30 13:36] jaymode commented on #30930
As a development team, we try our best to prevent OOM. There are cases of OOM that we know needs work and there are other cases where we cannot control like if there is a high GC overhead that leads to an OOM from the JVM even when memory can be allocated.

Github is not the right place for analysis. As I mentioned earlier, the forums would be a good place to ask for help. Developers and community

[2018-05-30 14:09] romseygeek commented on #30955
The reproduce line passes on both 6.3 and 6.x now.

[2018-05-30 14:09] #30955 closed

[2018-05-30 14:15] cbuescher commented on #30914
Had some in PR builds now as well:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request+packaging-tests-sample/2364/console

[2018-05-30 15:09] jasontedor commented on #30915
It can not easily be muted other than disabling all Windows builds; effectively installation of any plugin in CI for Windows will be broken right now until this can be addressed. The problem is the spaces in the path names and poor argument substitution.

[2018-05-30 15:22] jtreher opened #30968 "Add flag to ignore synonym token filter exceptions due to analyzer processing"
ElasticSearch 6.0 introduced a breaking change in the way the synonym token filter behaves in custom analyzers. The tokenizer of the analyzer and the tokenfilters preceding the synonym token filter in the analyzer will be applied to each synonym. If a synonym is removed as a result of applying them, it will throw, causing index creation to fail.

I propose that a flag be added to index settings on

[2018-05-30 15:24] imotov opened #30970 "[CI] SamlAuthenticatorTests testIncorrectSigningKeyIsRejected fails"
For release build:
[code]
For non-release build (reproduces for me locally)
[code]
[code]

Failures:
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/5916/console
- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/790/console

[2018-05-30 15:24] elasticmachine commented on #30970
Pinging @elastic/es-security

[2018-05-30 15:30] ergo commented on #30901
Really, is that even legal with GDPR right now?

[2018-05-30 15:39] nik9000 commented on #30907
I still think this is best left to the unit and integration tests, yeah. We certainly can't catch everything in unit tests but we have much much better integration testing then we did when we built this at first and I think those are quite good at catching this.

[2018-05-30 15:59] elasticmachine commented on #30968
Pinging @elastic/es-search-aggs

[2018-05-30 16:04] elasticmachine commented on #30962
Pinging @elastic/es-core-infra

[2018-05-30 16:23] ywelsch commented on #30731
Reminder to self: We also need to fix `PersistentTaskParams` so that it knows about the versions etc. Assume for example a mixed 6.2 / 6.3 x-pack cluster. If you start a rollup task, this will be put as persistent task into the cluster state. A 6.2 x-pack node cannot deserialize this task.

[2018-05-30 16:57] #30957 closed

[2018-05-30 17:00] jpountz commented on #19983
We decided to not pursue this. We can't support this use-case at scale and it felt to us that entity-centric indices would be a more efficient way to aggregate data based on sessions.

[2018-05-30 17:00] #19983 closed

[2018-05-30 17:01] jpountz opened #30974 "Give document-level security its own cache."
It currently uses the bitset filter cache, which doesn't evict on purpose, while the cache of live docs for document-level security should evict to keep memory under control.

[2018-05-30 17:41] jimczi commented on #27374
We discussed internally and decided that we don't want to pursue this feature for the moment.
As @bleskes mentioned the update API can read documents from the translog (https://github.com/elastic/elasticsearch/pull/29264) so `doc_values` field would not be available in this case. We also want to have consistency in our APIs so adding this feature to the `get` API only would introduce a discrepancy

[2018-05-30 17:41] #27374 closed

[2018-05-30 18:02] hub-cap commented on #30699
Something interesting to note is that when I attempt to run this and slow it down with a debugger, i can repro the conflict (and I believe that there is code to retry on conflict), but i always see the following line after.

[code]

Whereas with the logs above, the `"executing watch..."` is not present.

[2018-05-30 18:43] micoq commented on #30560
I use a single thread. The documents are generated with constant and variable fields just to fill the inverted index.

Here is the piece of code I used:
[code]

[2018-05-30 19:42] jasontedor commented on #30878
Would you explain what "static module" means in this context, it is the word "module" that is throwing me off? Is the request here that this setting no longer be dynamic only?

[2018-05-30 19:44] majormoses commented on #30878
What I mean is that it can't be set via the api, it should only be able to set through cluster initialization or a rolling restart.

[2018-05-30 19:46] majormoses commented on #30878
I was attempting to use the terminology in the documentation here:
- https://www.elastic.co/guide/en/elasticsearch/reference/current/modules.html
- https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-update-settings.html

[2018-05-30 20:01] imotov commented on #30456
Fresh failure https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/2003/console

[2018-05-30 20:08] majormoses commented on #30878
Hmm maybe you are right and it does still default to `true` someone must have luckily set this on the new production cluster without updating the others and so I wrongly assumed that in ES 6 they changed the default from `false` -> `true`.

https://github.com/elastic/elasticsearch/blob/v6.2.4/server/src/main/java/org/elasticsearch/action/support/DestructiveOperations.java#L37

So I guess there are

[2018-05-30 20:17] albendz commented on #30071
@tvernum Extremely obvious in retrospect. Thanks for the reminder.

[2018-05-30 20:32] joshbressers opened #30977 "Query the _xpack/usage endpoint less often"
We have a PR that will cause the native realm to report correct results instead of whatever is cached
https://github.com/elastic/elasticsearch/pull/30824

Part of this discussion revolved around the fact that we hit the _xpack/usage endpoint quite a lot. The data returned isn't expected to change very often. A cluster that has a large number of native users could result in a noticeable load, we sh

[2018-05-30 20:32] elasticmachine commented on #30977
Pinging @elastic/es-core-infra

[2018-05-30 20:40] imotov commented on #27233
@ywelsch it looks like it failed again in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.3+intake/131/console in a very similair way. Could you take a look?

[2018-05-30 20:50] imotov commented on #30456
And another one https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/6399/console

[2018-05-30 20:54] imotov commented on #30456
When it rains it pours https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/5918/console

[2018-05-30 21:39] jasontedor commented on #30456
To me this looks like a different issue and I think that a new issue should be opened.

[2018-05-30 21:45] PnPie opened #30981 "Rest explain response missing `exists` field"
I'm recently working on rest high level `expalin` api and I may find an issue (or just a question) about a field in `ExplainResponse`.

The `ExplainResponse` has a field [`exists`](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/action/explain/ExplainResponse.java#L41), which represents if the specified document in ExplainRequest exists. It is always nec

[2018-05-30 21:49] imotov commented on #30456
Yes, I think you are right the last one is something completely new. I shouldn't have merged them both here.

[2018-05-30 21:57] imotov opened #30982 "[ML] Failures in ML tests in UpgradeClusterClientYamlTestSuiteIT"
Failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/5918

This seems to be caused by the error in C library, so it is most likely different form #30456

[code]

[2018-05-30 21:57] elasticmachine commented on #30982
Pinging @elastic/ml-core

[2018-05-30 23:52] ruizmarc opened #30984 "Access _source in query script"
**Feature request**

Although it is known that accessing doc is much faster, there are some use cases in which _source is required when filtering, for example due to the the limitations of doc with nested objects, especially if they are related and have an impact on the parent.

[2018-05-31 00:52] #21045 closed

[2018-05-31 00:56] hub-cap commented on #30982
This hit me on a pull request as well. Did we mute it?

[2018-05-31 01:12] imotov commented on #30982
No. Sorry, was trying to figure out the best way to mute them and got side tracked. Will mute them in a bit.

[2018-05-31 01:20] hub-cap commented on #30982
`p0=upgraded_cluster/30_ml_jobs_crud/Test open old jobs` was the test that failed on the PR build.

[2018-05-31 03:09] boyter opened #30986 "Query --1 fails after building mapping"
**Elasticsearch version** (`bin/elasticsearch --version`):

Docker Elastic `docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.4`

**OS version** (`uname -a` if on a Unix-like system):

Linux SurfaceBook2 4.4.0-17134-Microsoft #48-Microsoft Fri Apr 27 18:06:00 PST 2018 x86_64 x86_64 x86_64 GNU/Linux

Running WSL on Windows, but verified on Ubuntu 16:04 system as well.

**Description of the prob

[2018-05-31 04:09] tbrooks8 opened #30988 "Same origin CORS logic does not consider scheme or port"
When introducing Cors for the nio http server transport, an issue was raised by @tvernum with our current Cors logic. Currently we set the "access-control-allow-origin" response header to to the request "origin" header if the host is the same. This is based on our expectation that this is the same origin.

However, in the Cors sense, an origin is (scheme, host, port). So this logic does not make s

[2018-05-31 04:09] elasticmachine commented on #30988
Pinging @elastic/es-core-infra

[2018-05-31 04:42] atulsudhalkar commented on #25684
I'm seeing this error on an AWS hosted ES 6.2 instance. But it's not specific to re-indexing. I'm encountering it while running integration tests, and in the process am deleting and re-creating my test indexes.

Before switching to the ES Rest client api, I was just constructing the headers/body by hand and calling ES via HttpURLConnection, but that was just while we were experimenting. It was wor

[2018-05-31 04:57] jasontedor commented on #30878
Thanks for clarifying. Each module has (possibly) multiple settings, some of which are static and some of which are dynamic. Currently `action.destructive_requires_name` is a dynamic setting and your request translates to requesting that it be a static setting.

[2018-05-31 05:44] martijnvg commented on #30575
We have been thinking about this and in order to avoid that the document fields and query fields need to sit in the same mapping, we think it would be better if the document fields are defined in the percolator field type to make it more clear that these fields are needed only by the percolator to index the percolator documents at query time.

[code]

In this case `body`, `subject`, `sent_at` are

[2018-05-31 06:02] martijnvg commented on #28731
We have been discussing how to best fix this bug with what joni currently offers. Joni has checks in its code base that for [every 30000 loops it checks if a threads interrupted flag](https://github.com/jruby/joni/blob/master/src/org/joni/ByteCodeMachine.java#L330) has been set and in that case terminate the loop. I initially thought we could not use that as that would require to fork a thread for

[2018-05-31 06:56] wyukawa opened #30991 "Timeout occurred in master node due to long metaspace gc"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
6.2.2

**Plugins installed**: []
x-pack monitoring

**JVM version** (`java -version`):
1.8.0_151

**OS version** (`uname -a` if on a Unix-like system):
CentOS 7.4
[code]

**Description of the problem including expected versus actual behavior**:
We can't access data in kibana/elasticsearch when long time(e.g. 20s)

[2018-05-31 07:29] elasticmachine commented on #30981
Pinging @elastic/es-core-infra

[2018-05-31 07:38] javanna commented on #30981
@PnPie the exists flag is returned as the REST status code: 404 means false and 200 means true. That should be good enough to recreate the `ExplainResponse`, the only thing is that by default the client will throw exception if an error code is returned, then you will need to configure it to not treat 404 as an error for the explain API, we do it already [here](https://github.com/elastic/elasticsea

[2018-05-31 07:38] #30981 closed

[2018-05-31 07:43] danielmitterdorfer opened #30994 "Query latency increases with multiple shards"
**Description of the problem including expected versus actual behavior**:

With https://github.com/elastic/elasticsearch/pull/30783 we have reduced the number of maximum concurrent shard requests to the number of nodes but at most 256. Previously this was dependent on the number of nodes and old default number of shards (5).

In our benchmarks we see an increase of query latency for benchmarks whi

[2018-05-31 07:43] elasticmachine commented on #30994
Pinging @elastic/es-core-infra

[2018-05-31 07:45] ywelsch commented on #30456
The first failure that @imotov reported is the same as the first failure that was originally reported by @atorok (i.e. `field [jobs.0.node] doesn't have a true value`).

While we fixed the second failure reported by @atorok (`jobs.0.data_counts.processed_record_count didn't match expected value`), I believe the first failure is of a different kind and has a different root cause.
I suspect an issue

[2018-05-31 07:54] tlrx commented on #30991
The query contains a term aggregation with `"size": 1000000`, so in the worst cases the node has to compute 1000000 buckets in memory. This adds pressure on memory and can lead to long GCs.  maybe you want to reduce the number of buckets to return, or if you want them all I suggest to use composite aggregation to paginate the results (see https://www.elastic.co/guide/en/elasticsearch/reference/cur

[2018-05-31 07:54] #30991 closed

[2018-05-31 07:54] elasticmachine commented on #30991
Pinging @elastic/es-search-aggs

[2018-05-31 08:20] droberts195 commented on #30982
@tveasey this failure almost certainly means that the changes introduced in elastic/ml-cpp#108 mean that a 7.0.0-alpha1 autodetect process cannot load the model state saved by a 6.4.0 autodetect process.  This problem started happening yesterday and elastic/ml-cpp#108 was the only C++ change yesterday that touched the maths library.

[2018-05-31 08:35] droberts195 commented on #30456
I think the most recent failures are all due to the `autodetect` process core dumping with a SEGV.  The first failure @imotov reported above contains this (and on Linux signal 11 is SEGV):

These C++ failures are split out into #30982.  As far as I can see all yesterday's failures are caused by this new problem.

The full logs for the first failure reported by @atorok are no longer available, but

[2018-05-31 08:45] karmi commented on #30933
@nik9000 , in general, the clients usually follow what is needed on the ES side, so, in general, it shouldn't be a problem.

However, I don't have a clear understanding _how_ this flag will be supported, ie. how the runner will know to skip these tests... We run against a variety of distributions, I imagine: regular "zip" downloads, builds from source, Docker containers, ..., ...

[2018-05-31 09:01] kozmaz87 opened #30995 "repository-s3 ignores endpoint setting and protocol"
**Version: 6.2.4, Build: ccec39f/2018-04-12T20:37:28.497551Z, JVM: 1.8.0_171** (`bin/elasticsearch --version`):

**Plugins installed**: [discovery-ec2, repository-s3, search-guard-6]

**JVM version** (`java -version`):
openjdk version "1.8.0_171"
OpenJDK Runtime Environment (build 1.8.0_171-8u171-b11-0ubuntu0.16.04.1-b11)
OpenJDK 64-Bit Server VM (build 25.171-b11, mixed mode)

**OS version** (`un

[2018-05-31 09:15] colings86 opened #30996 "Copy normalisers for keyword fields to rollup indexes"
At the moment rollups do not copy normalisers for keyword fields over to the rollup index. This means that will the introduction of https://github.com/elastic/elasticsearch/pull/30973 enabling the match query to be used against rollup indexes the match query will work differently on live indexes to rollup indexes. The difference will be that a match query against a keyword field in a live index wi

[2018-05-31 09:15] elasticmachine commented on #30996
Pinging @elastic/es-search-aggs

[2018-05-31 10:03] davidkyle commented on #30456
Closing as the investigation has shown that the recent failures are due to a SEGV in autodetect and is tracked in #30982

[2018-05-31 10:03] #30456 closed

[2018-05-31 10:17] elasticmachine commented on #30995
Pinging @elastic/es-distributed

[2018-05-31 10:17] tlrx commented on #30995
Note: labeled as bug but it requires a bit of investigation.

[2018-05-31 10:19] droberts195 commented on #30982
I muted the test of the problematic job in the mixed cluster in 0ff2c605b6ff3da59fbaa2f6ac3407fd52249424.  It was previously muted in the upgraded cluster, but can fail in either.

[2018-05-31 10:46] DaveCTurner commented on #30995
It looks like you can connect to the endpoint but not to the bucket itself. Can you confirm that you can interact with this bucket from within your VPC using another client (e.g. the `awscli` command-line tools)? Can you also share a copy of your Elasticsearch configuration?

[2018-05-31 11:25] gvijayakumar-16 opened #30997 "Updated document ID's"
Hi,

Can we have an option where we can get the ID's of the documents which got updated?

I am currently dealing with a scenario wherein I need the list of document ID's that got updated using UpdateByQueryAsync and I am making additional calls to retrieve them.

[2018-05-31 11:29] elasticmachine commented on #30997
Pinging @elastic/es-core-infra

[2018-05-31 11:52] kozmaz87 commented on #30995
I can talk to the endpoint yes via other tools but ElasticSearch seems to want to go to a non-regional s3 endpoint... which is not what it is supposed to do I think.

Another thing I noticed that since bucket names can contain dots https validation of S3's wildcard certificate will fail... which is why I tried http as well... to no avail. I shall try to get cli to do an upload for me and will get

[2018-05-31 12:27] ademariag opened #30999 "mktemp issues"
I honestly find pretty poor that you have ignored https://github.com/elastic/elasticsearch/issues/28561 and https://github.com/elastic/elasticsearch/pull/28562 for such a small change, even when a contribution was offered.

The problem is not whether you support alpine or not, but you have a bug in detecting how to use `mktemp`

A compatibility matrix should not prevent you from improving your own

[2018-05-31 12:31] nerophon opened #31000 "_source not returned in "explain": true with certain queries"
**Elasticsearch version**: 5.9.6 & 6.2.4

**Plugins installed**: []

**JVM version**: independent

**OS version**: independent

**Description of the problem including expected versus actual behavior**:
The `_source` is not being returned for hits when `explain` is set to `true` for a specific set of queries. The conditions for `_source` to be missing appear to be:

+ A mapping with a nested field

[2018-05-31 12:31] elasticmachine commented on #31000
Pinging @elastic/es-search-aggs

[2018-05-31 13:03] tveasey commented on #30982
This issue was caused by elastic/ml-cpp#108 being present on master and not 6.4 (although it was targeted at 6.4, I hadn't backported). I'm preparing a version which fixes the preexisting bug, which causes these test failures in a different way. In particular, this doesn't rely on changing the state we write and so still works even with the buggy version of 6.4 writing out state.

[2018-05-31 13:19] tlrx commented on #30999
@ademariag I can understand your frustration, but I don't find it fair when you say that #28561 and #28562 have been ignored. These issues received the attention of at least 3 Elasticsearch developpers who [commented](https://github.com/elastic/elasticsearch/issues/28561#issuecomment-364040744) and [explained](https://github.com/elastic/elasticsearch/issues/28561#issuecomment-364126503) why we wer

[2018-05-31 13:19] #30999 closed

[2018-05-31 13:30] softwaredoug commented on #27552
@jpountz

Some of this is a tangent, probably good for another issue related to working with embeddings or other vector representations in the search engine:

On what I'd do with it, certainly a feature for learning to rank. Embeddings are often fed as input to models. I'm sort of inspired by what [Vespa](http://vespa.ai) does by giving a very math-looking interface to take arbitrary tensors or ot

[2018-05-31 14:05] #25701 closed

[2018-05-31 14:05] #27697 closed

[2018-05-31 14:09] #29222 closed

[2018-05-31 14:14] s1monw commented on #29321
@tbrooks8 this can only happen if we are connecting to a node in the same cluster right? I mean if it's a remote node we should be connected to it. so is this what is happening here?

[2018-05-31 14:28] s1monw commented on #29321
I think a simple fix would be a to compare the local cluster uuid to the remote uuid and then don't pass the profie. This should be doable. @tbrooks8 @javanna   WDYT?

[2018-05-31 15:09] #30970 closed

[2018-05-31 15:31] javanna commented on #27006
The solution discussed above would translate to making the remote cluster seeds a setting that can only be set through the cluster settings API, disallowing it to be set in the elasticsearch.yaml configuration file. I was talking to @s1monw and it seems like we do not have yet the infra for this, and I wonder if it's worth adding it. There was also a [comment](https://github.com/elastic/elasticsea

[2018-05-31 15:31] ywelsch commented on #27233
That's a completely different test suite. Also, just because cluster formation did not work, does not mean it's the same failure, there could be N many reasons :)
Can you open a new issue and assign @nik9000. He worked last on this.

[2018-05-31 15:58] nik9000 opened #31008 ":qa:full-cluster-restart timeouts"
Last night we saw two timeouts (30 seconds of waiting) in the full cluster restart tests, one while waiting for a refresh and one while waiting on a flush.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+default-distro-bwc-tests/37/consoleFull
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+default-distro-bwc-tests/38/consoleFull

It looks to me like the

[2018-05-31 15:58] elasticmachine commented on #31008
Pinging @elastic/es-distributed

[2018-05-31 16:22] jdconrad opened #31009 "Painless: Roadmap"
This issue is to track all upcoming feature/refactor work on the Painless project.

* [ ]  (1) Documentation - Improved documentation including getting started guide, Painless specification, API, available contexts, and examples. (jdconrad)  (in progress) (https://github.com/elastic/elasticsearch/issues/23777)
* [x] (1) Types Removal - Replace the Painless Type with Java Class to reduce code compl

[2018-05-31 16:22] elasticmachine commented on #31009
Pinging @elastic/es-core-infra

[2018-05-31 16:23] nik9000 commented on #30933
The goal from my side is to skip tests if xpack is installed. Or to skip them if it isn't. The [core yaml tests](https://github.com/elastic/elasticsearch/tree/master/rest-api-spec/src/main/resources/rest-api-spec/test) already have a half dozen tests that fail if xpack is installed. So if you pointed your client at the default distribution they'd fail. We aren't going to add any tests to the core

[2018-05-31 16:33] karmi commented on #30933
That sounds indeed better, since the way you describe it, Nik, seems like it's more about _features_, and not about a specific distribution/installation mechanism.

[2018-05-31 16:38] lcawl commented on #30901
Related issue?: https://github.com/elastic/docs/issues/367

[2018-05-31 16:54] treyd commented on #27006
As a user, I would rather be able to set everything required for a working elasticsearch cluster via the yml file (or, in my case, docker container environment variables).  My use case is a system that is producing logs in multiple, distant data centers, and I am setting up an elasticsearch cluster in each data center to index the logs.  however, I would like a single "pane of glass" to search the

[2018-05-31 17:04] treyd commented on #29321
Just wanted to add my perspective as a user about the CCS configuration and adding a remote cluster pointing to itself... to me, it actually makes more sense to have the same cross cluster search configuration in all clusters who are using each other for search.  My use case (described also in https://github.com/elastic/elasticsearch/issues/27006#issuecomment-393599946) has multiple clusters that

[2018-05-31 17:10] #30807 closed

[2018-05-31 17:28] nik9000 commented on #30933
Right. It is more about what the installation contained.

Are you suggesting using the `features` block in `skip` that we already have? Like

[code]

to skip tests that will fail with xpack and

[code]

to skip tests that will fail without xpack?

[2018-05-31 17:51] majormoses commented on #30878
I guess its now a 2 part request originally it was to only change it to a static setting but after discovering that it still defaults to `false` I suggest we change this as well.

[2018-05-31 17:59] karmi commented on #30933
I don't know enough about the problem you're solving to be sure whether the existing `feature` "feature" (sorry :) would work for you in this situation — but if it would, then it has an added benefit that it's already supported.