[2021-05-27 20:24] marlaaragao opened #73506 "Using 'order' by subaggregation gives different results depending on the 'size' parameter of the parent aggregation"
Good Evening.

I stumbled in a problem when trying to order my buckets by AVG. Based on my query I know for a fact that there are two docs corresponding to a certain NestedField1.property1 value. The values of the ValueField1 on these documents are respectively:

doc1: **26470.62**
doc2: **4299614.7**

Then, the SUM is: **4326085.32**
and the AVG is: **2163042.66**

Ok.

I have the following aggs

[2021-05-27 20:26] jimczi commented on #73488
I think I am disturbed by the fact that the provided sample document cannot be representative of an index pattern that match multiple indices. For a single datastream, the API makes sense since the document should have the same structure.

[2021-05-27 21:08] #72580 closed

[2021-05-27 21:18] nik9000 commented on #73488
I see. Index patterns can contain vastly different kinds of mappings. In practice they typically line up pretty well, but that API I've proposed doesn't require that at all. Data streams make that less likely, right? They don't prevent it because folks can change the mappings for new data, but we expect folks won't change it drastically, right?

[2021-05-27 21:50] rjernst commented on #73197
@truhlik Can you please provide the rest of the Elasticsearch log? It looks like you gave a snippet.

Have you modified anything in the Elasticsearch installation? Those classes should not be possible to be missing. The jna jar itself is always present in the distribution. The jna tmp dir is about extracting the platform specific bits and then being able to execute them (loading native libs), whic

[2021-05-27 21:57] jtibshirani commented on #67594
From digging into the errors we've seen, there are a couple different sources of problems. Here is a summary + suggestion for fixing them:
* We serialize the in-memory search response to a byte buffer, then base64 encode this to a string. If the length of the encoded response exceeds ~2GB, then we'll throw an OutOfMemoryException. We could avoid OOMing and instead throw a normal exception in this

[2021-05-27 22:51] mark-vieira commented on #54557
This was temporary due to the 7.13 release and the 7.12 builds not being removed right away.

[2021-05-27 23:08] mark-vieira commented on #73459
I can't get this to reproduce locally for me with the exact same Java versions. Perhaps it _is_ something to do with the underlying system?

That stood out to me when we hard-code these jobs to run on centos-7 but the versions don't line up. In this case it's versions 5.6-6.0 that are busted but the cgroups issue is with 5.0-5.3.

I also find it odd that the stack trace above is being thrown by th

[2021-05-27 23:11] zhangshp commented on #73404
Used "lifecycle.parse_origination_date" for daily index, I think the age calculate base ”business timezone” is better , if age base utc,the index could include  yesterday or tomorrow data .

[2021-05-27 23:16] mark-vieira commented on #73459
I don't quite understand the stack trace but is it possible the 6.8.17 node is trying to read this information from the BWC node, which is reporting things wrong, and that's what's blowing up?

[2021-05-27 23:17] mark-vieira commented on #73459
@williamrandolph I'm picking on you since you seemed to be the latest person to touch some of this code some you might have some context or "fresh" memory of what might be happening here.

[2021-05-28 00:19] rjernst opened #73510 "DataStreamsSnapshotsIT is susceptible to date changes?"
This failure happened in 7.x after an unrelated commit. The failures seem to all be around expecting backing indexes for 5/27, but the tests ran right around midnight and they then got 5/28 backing indexes.

**Build scan**:
https://gradle-enterprise.elastic.co/s/l5bdqxah6esnc/console-log?task=:x-pack:plugin:data-streams:internalClusterTest

**Repro line**:
[code]

**Reproduces locally?**:
No

**Ap

[2021-05-28 00:19] elasticmachine commented on #73510
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-05-28 01:56] jtibshirani commented on #67594
From digging into the errors we've seen, there are a couple different sources of problems:
* We serialize the in-memory search response to a byte array, then base64 encode this to a string. First, we can OOM while allocating the byte array. Second, if the length of the encoded response exceeds ~2GB, then we'll also OOM. We could try to catch these cases to avoid OOMing and instead throw a normal e

[2021-05-28 02:17] yhb001 opened #73511 "cannot be changed from type [integer] to [long]"
I use kibana to operate es.There are two commands and behind occurs that error!
1.
PUT yhb
{
  "mappings": {
    "properties": {
      "name":{
        "type": "text"
      },
      "age":{
        "type": "integer"
      },
      "birth":{
        "type": "date"
      }
    }
  }
}
2.
PUT yhb/user/1
{
  "name":"叶",
  "age":12,
  "birth":"1997-09-10"
}

Finnaly:
{
  "error" : {
    "root_cause" :

[2021-05-28 06:47] henningandersen commented on #73498
I tentatively think this should already be [handled here](https://github.com/elastic/elasticsearch/blob/dc7ce806a663af198e19aaa8c8d1222b05db0bcc/server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/AwarenessAllocationDecider.java#L183), but would be good to validate that we have a test for it.

[2021-05-28 06:52] henningandersen commented on #65047
This happened on my PR (#73435) build today for an unrelated change, see [build-scan](https://gradle-enterprise.elastic.co/s/mbeetozrqyjlq).

[2021-05-28 08:43] DaveCTurner opened #73514 "PIT creation on frozen-tier searchable snapshot indices causes a fatal error"
**Elasticsearch version** (`bin/elasticsearch --version`): v7.13.0

**Plugins installed**: N/A

**JVM version** (`java -version`): 11, 15, 16, probably others

**OS version** (`uname -a` if on a Unix-like system): Linux, MacOS

**Description of the problem including expected versus actual behavior**:

Attempting to create a PIT searcher via `POST /$INDEX/_pit?keep_alive=1m` on a `shared_cache` sea

[2021-05-28 09:08] javanna commented on #72142
This task has not started yet, there are indeed many considerations to make as part of the design phase. From a user perspective I believe that @elastic-jb has been working on identifying end-to-end use cases and user workflows.

[2021-05-28 09:48] DaveCTurner opened #73518 "Trying to use a valid API in a YAML REST test without including it yields "rest api [...] doesn't exist in the rest spec""
**Description of the problem including expected versus actual behavior**:

When creating a new YAML REST test I received the following mysterious error:

[code]

This API _does_ exist in the spec, I just wasn't declaring that I needed it, but I couldn't work out how to resolve this because I did not know that we require each suite to declare the APIs on which it depends. Could we make this message

[2021-05-28 09:48] elasticmachine commented on #73518
Pinging @elastic/es-delivery (Team:Delivery)

[2021-05-28 10:15] cbuescher commented on #73511
Hi @yhb001, Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Please include your ES version when you are asking this quest

[2021-05-28 10:15] #73511 closed

[2021-05-28 10:18] dhusrushikesh commented on #70676
@DaveCTurner can i work on this? I'm new to contributing.

[2021-05-28 11:17] #73510 closed

[2021-05-28 11:45] #73514 closed

[2021-05-28 11:55] DaveCTurner opened #73525 "Illegal access not detected at compile time"
The fundamental problem that led to https://github.com/elastic/elasticsearch/issues/73514 is, I believe, that the compiler assumes that things will all be in the same classloader at runtime, so doesn't need to do anything special to access protected fields from one module in another module where the package names match. This wasn't a valid assumption in this case, we had matching package names in

[2021-05-28 13:45] monfera commented on #58696
Great idea :elasticheart: looking fwd to this

[2021-05-28 14:04] Danouchka opened #73529 "uri_parts cannot break some URLs"
**Customer**: *(Retail shop in france) cloud subscription*

**Kibana version:*7.12.0*

**Elasticsearch version:*7.12.0*

**Server OS version:*NA*

**Browser version:*NA*

**Browser OS version:*NA*

**Original install method (e.g. download page, yum, from source, etc.):*Elastic Cloud*

**Describe the bug:**
The URL in that message below cannot be parsed by  uri_parts processor
`May 19 17:59:05 serv

[2021-05-28 14:34] williamrandolph commented on #73459
I do think that's possible, though it would take some digging to confirm. I remember looking into this and digging around in JVM code but I haven't managed to find my notes.

In our current code, we have guards that will return 0 instead of a negative value if the OS reports used memory higher than free memory or something like that. We also have assertions that catch situations where a negative v

[2021-05-28 15:21] williamrandolph commented on #72120
It will probably not surprise you to learn out that this happened again today, and again with Java 17-ea: https://gradle-enterprise.elastic.co/s/l6o2pyyidbuqa

[code]

Since this is moderately noisy, I'm going to mute for `"17-ea".equals(System.getProperty("java.version"))` only.

[2021-05-28 15:23] williamrandolph commented on #72120
Mute commit: 6ca471beb6b596bde0a100aabc82d0cf914de847

Also, here's the list of failures: https://gradle-enterprise.elastic.co/scans/tests?search.relativeStartTime=P7D&search.timeZoneId=America/New_York&tests.container=org.elasticsearch.xpack.security.authc.kerberos.KerberosAuthenticationIT&tests.sortField=FAILED&tests.test=testLoginByKeytab&tests.unstableOnly=true

It seems to show that this only

[2021-05-28 15:33] #73400 closed

[2021-05-28 15:35] mark-vieira commented on #73459
@williamrandolph what area should own this? Core/Infra?

[2021-05-28 15:48] jimczi commented on #71483
Sorrry for the late reply @domsew. The logic for this plugin is implemented in Lucene so could you please open an issue [here](https://issues.apache.org/jira/projects/LUCENE/issues/LUCENE-9905?filter=allopenissues). We're just using the Lucene module in ES so we cannot change how it works internally.

[2021-05-28 16:13] woodywalton commented on #71417
@derickson for visibility

[2021-05-28 16:34] Chealer commented on #67956
First of all, I should clarify that the reference treats network.host twice, in the page mentioned by @DaveCTurner (Configuring Elasticsearch » Networking) as well as in the page I was reading (Configuring Elasticsearch » Important Elasticsearch configuration). I suppose the priority should be to start by clarifying the former.

That being said, as far as I can see, neither of these pages properly

[2021-05-28 16:52] zhnpeng commented on #68963
Well Thanks, and what should I do, If I want to format my date into seconds with interval "1d" and timezone "Asia/HongKong" install of UTC？
for example:
`
    "ts": {
      "date_histogram": {
        "field": "@timestamp",
        "fixed_interval": "1d",
        "time_zone": "Asia/Hong_Kong",
        "format": "epoch_second"
      }
    }
`

[2021-05-28 17:06] jtibshirani commented on #71511
Hello @jessebs, sorry for the slow response. We don't plan to add a new endpoint where you can provide both a search and documents, then receive highlights for those documents. The main downside is that every search would require a follow-up request containing a potentially very large amount of data (all the hit documents).

A better approach would be to expose match information in search results,

[2021-05-28 17:07] mark-vieira commented on #73518
@DaveCTurner you bring up a good point. We don't surface the underlying issue here well. How does this tweaked error message look?

https://gradle-enterprise.elastic.co/s/m2mr3yw3fsynu/tests/:x-pack:plugin:async-search:qa:rest:yamlRestTest/org.elasticsearch.qa.AsyncSearchRestIT/test%20%7Bp0=async-search%2F10_deprecation%2FDeprecation%20when%20retrieved%20from%20store%7D?top-execution=1

[2021-05-28 17:13] javanna opened #73536 "Automatically emit a value for one-liner runtime field scripts"
Users are struggling with the need to call the `emit` function to return values when writing scripts for runtime fields.

`emit` was chosen over `return`, which is instead used in the existing search scripts, for a couple of reasons: a field can be made of a single value or multiple values, but a script context needs to pick one of the two for its return type. We could have forced users to always

[2021-05-28 17:13] elasticmachine commented on #73536
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-05-28 17:17] javanna commented on #72723
We have discussed this with the team, we said we are ok going away with it. I also opened #73536 to track the need for automatically emitting values. Like I commented there, failing when `emit` is forgotten, if we can detect it accurately, would be a good improvement, but we also want to raise the importance of automatically emitting values when possible.

[2021-05-28 17:18] mark-vieira commented on #73525
Also, to more directly answer your questions:

Not without migrating to modules. Right now we just pass a normal classpath to `javac` so everything there is fair game.

As mentioned, this is an ongoing discussion but very non-trivial. We have conflicting packages all over the place that would make it impossible to just "make everything a module". This is going to be a very long-term refactor.

[2021-05-28 17:27] derickson commented on #71417
@bytebilly  @tvernum
Is this something that would only be secured in our security model once we achieve  Object level security for kibana inside of a space?  Woody, does this even manifest as a problem cross-space?

[2021-05-28 18:00] elasticmachine commented on #73494
Pinging @elastic/es-security (Team:Security)

[2021-05-28 18:01] woodywalton commented on #71417
I think it _could_ be a problem, depending on the customer expectations about whether a user should know about the existence of a data source or not.  In the example I outlined it's exposed cross-space, hence why I suggest adding the ability to put security controls on index-patterns like we would for other saved objects.

[2021-05-28 18:01] williamrandolph commented on #68995
The failing 6.8 `SamlRealmTests` were muted here: https://github.com/elastic/elasticsearch/issues/73314

I ran into the others related to https://github.com/elastic/elasticsearch/issues/72359 today, so I'm going to go ahead and mute them. Do we need a new issue that covers this wider breadth of tests?

[2021-05-28 18:12] DaveCTurner commented on #67956
The "Important Elasticsearch configuration" page is more of a quick-start guide, it deliberately omits a full specification of each setting to avoid overwhelming the reader, so I think it's right not to mention the possibility of providing a list of addresses there.

The more exhaustive docs on the "Networking" page do however definitely say that you can provide a list, and describe what happens i

[2021-05-28 18:30] DaveCTurner commented on #73525
Until today we had no tests that performed (a) a point-in-time search on (b) a frozen index with (c) the classloaders set up like they are in production. Removing any one of those three things avoids the problem, and we have tests for each pair, just not for the three things all together.

This bug apparently came about after a refactoring that simply moved some code between modules, which is the

[2021-05-28 18:34] DaveCTurner commented on #73518
:+1: That would do nicely, thanks.

[2021-05-28 18:39] DaveCTurner commented on #73525
Can we introduce a ratchet to stop things getting worse and help surface progress towards the goal? Conflicting package names across modules isn't something I pay much attention to (until today at least) but it would be if `precommit` told me off about it.

[2021-05-28 19:43] rjernst commented on #73459
While backporting that change to warn and use 0 in place of negative values is good for 6.8, it won't fix the issue for already released versions of Elasticsearch, like 6.0.0 that this CI issue was created referencing.

Aside from whatever the underlying JDK change may have been, I think we should change 7.x/master to be lenient in reading from older nodes, so that instead of asserting >=0, they d

[2021-05-28 20:17] henningandersen commented on #73525
Java thinks using a protected field across class loaders in a nested class in a subclass is a violation of the spec:

https://bugs.java.com/bugdatabase/view_bug.do?bug_id=6258289

I am not sure this is affirmative, but I would suggest that we simply move towards not allowing a module to depend on another module where they share packages in production code.

Also notice that in this case the proble

[2021-05-28 20:22] williamrandolph opened #73539 "[CI] Windows azure repository tests fail with AccessControlException in AzureRepositoryPlugin"
**Build scan**: https://gradle-enterprise.elastic.co/s/3n2pftsr72wdm and many others

**Repro line**: None generated, but should be something like:

```./gradlew ':x-pack:plugin:repository-encrypted:qa:azure:internalClusterTest'``` on a Windows machine.

**Reproduces locally?**: yes, on Windows

**Applicable branches**: master, 7.x

**Failure history**:

https://gradle-enterprise.elastic.co/scans?

[2021-05-28 20:22] elasticmachine commented on #73539
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-05-28 20:22] elasticmachine commented on #73539
Pinging @elastic/es-distributed (Team:Distributed)

[2021-05-28 22:19] mark-vieira commented on #73459
These failures are on the 6.8 branch though. Don't you mean we should build that leniency in there?

[2021-05-28 23:06] rjernst commented on #73459
Ah, I misread, I thought it was 7.x testing bwc with 6.x. We should still do the backport William opened, but I just think the change I suggested is also necessary. The change can go back to 6.8 as well.

[2021-05-28 23:28] elasticmachine commented on #73529
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-05-28 23:29] elasticmachine commented on #73506
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2021-05-28 23:34] nik9000 commented on #73506
Check out the shard_size setting in the docs. If that works this is working as designed. But we need to make the docs for why trying to do this doesn't work well more prominent.

[2021-05-29 00:09] mark-vieira commented on #73459
The PR that Will linked is back from February. I think we'll need something additional here to implement the leniency you describe.

[2021-05-29 00:10] rjernst commented on #73459
Yes I meant my suggestion as a new change. Sorry I didn’t mean to conflate the two.

[2021-05-29 07:42] ayushjais2654 commented on #73536
Hi, @javanna. I am quite new to open source and I want to contribute to this issue. Can u help me out from where I should start to read the code to look into this issue.

[2021-05-29 11:38] sepidehnaghdi opened #73542 "I get sockettimeout when java client is connected to Elasticsearch (not related to idle connection)"
hello,
sometimes when I am working with Elasticsearch and sending some query to it, suddenly in the middle of searching and getting response, I get Sockettimeout exception. I know it is not related to idle connection because I send multiple request and I got response from previous query. Could anyone tell me what is the reason?
It seems, it's not related to timeout because according to below link,

[2021-05-31 00:03] ywangd commented on #73494
@boonware Thank for openning the issue. It however does not reproduce for me. I suspect either the user didn't get the `index-reader` role in the beginning or the `index-reader` role wasn't created correctly. Could you please provide some more information by performing the followings?

After step 5, execute the following API calls and provide the output:
* `GET /_security/_authenticate` with the n

[2021-05-31 00:40] ywangd opened #73543 "SAML complete logout API has a camel case request parameter"
As discussed in https://github.com/elastic/elasticsearch/pull/72867/files#r629011079, the SAML complete logout API has a camel case request parameter, `queryString`. This is an anomaly because the rest of APIs use only snake case for request parameters.

This request parameter, `queryString`, should be deprecated and replaced with its snake case equivalent, `query_string`.

[2021-05-31 00:40] elasticmachine commented on #73543
Pinging @elastic/es-security (Team:Security)

[2021-05-31 02:37] tvernum commented on #71417
I'm going to move this to the `kibana` repository, because I think the solution needs to be driven from there.

Would we prefer to

1. Apply security to the index pattern as an object.  That is, attach some sort of permissions model to an index pattern so that  `black_speech` can be locked down to just `Gandalf`.
    _OR_
2.  Automatically determine whether the user has permission to some/all of t

[2021-05-31 03:26] #61245 closed

[2021-05-31 06:57] mraliagha opened #73547 "IllegalArgumentException: can not write type Enum in Java client for terms query"
**Elasticsearch version**: 7.12.1

**Description of the problem including expected versus actual behavior**:
Prior to Elasticsearch 7.12.0 using terms query with an enum value was working without any issues. After upgrading java Elasticsearch client from 7.10.0 to 7.12.1 the following exception has been thrown when terms query is used for an Enum value. The same code is tested for previous version

[2021-05-31 07:40] javanna commented on #73536
hi @ayushjais2654 thanks for showing interest in contributing to Elasticsearch! This issue requires further discussion and may not be a high hanging fruit. If you'd like to start contributing I'd suggest to look at issues with the good first issue label instead. Thanks!

[2021-05-31 07:56] elasticmachine commented on #73547
Pinging @elastic/es-search (Team:Search)

[2021-05-31 08:03] fcofdez commented on #73542
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/) that s

[2021-05-31 08:03] #73542 closed

[2021-05-31 08:10] cbuescher commented on #73547
I believe this is a duplicate of https://github.com/elastic/elasticsearch/issues/71388. The workaround is to use the string representation of the enum. There is an open issue to make the query constructor safer to use with general Object https://github.com/elastic/elasticsearch/issues/71972. Please let me know if the workaround works for you, in this case I would like to close this issue.

[2021-05-31 08:43] mraliagha commented on #73547
I had a look at the issue you mentioned and you are correct it seems this issue is a duplicate issue. However, what I am worried about is the other issue is closed and marked as "won't fix". May I ask why this issue won't be fixed? Certainly, the .toString() workaround works, but given there is already a `QueryBuilders.termsQuery(String, Object)` method that has been working until version 7.12.0 i

[2021-05-31 08:45] SkytheK opened #73548 "FileBeat Dissect-Tokenizer problems"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.11.1

**Plugins installed**: [filebeat]

**JVM version** (`java -version`): 11.0.11

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 20.04

**Description of the problem including expected versus actual behavior**: FileBeat dissect-tokenizer problems

**Steps to reproduce**:

I need help because I don't know how to select onl

[2021-05-31 08:45] bydeath opened #73549 "CCR failed: org.apache.lucene.index.CorruptIndexException: checksum failed (hardware problem?)"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.9.0、7.9.2、7.9.3
It's ok on 7.8.1 and 7.10.0 and 7.11.1, 7.12.1, 7.13.0.

**Plugins installed**: []

**JVM version** (`java -version`):Elasticsearch builtin JVM

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 20.04

**Description of the problem including expected versus actual behavior**:
CCR following failed an indexing com

[2021-05-31 09:03] ywelsch commented on #68508
I was wondering if the Lucene codecs could provide us this information directly (without having to load all the values). AFAICS  the metadata already exists for many formats to determine the per-field sizing information, so if we could expose that information in Lucene, we could very efficiently compute this without having to read the full data. For certain formats (stored fields for example), thi

[2021-05-31 10:36] original-brownbear commented on #73549
Hi @bydeath as you point out this is only an issue on 7.9.x, this was fixed in https://github.com/elastic/elasticsearch/pull/64632 so I'm closing here as there's nothing else to be done. Upgrading to 7.10 or later fixes the issue.

[2021-05-31 10:36] #73549 closed

[2021-05-31 10:43] iverase commented on #48521
In https://github.com/elastic/elasticsearch/pull/72886 we have added painless support for geo_shape field, which should unlock.a few functions. In particular you can access the centroid and bonding box of a geo field.

[2021-05-31 10:54] hendrikmuhs opened #73554 "[CI] timeout in netty4.ESLoggingHandlerIT"
`netty4.ESLoggingHandlerIT` times out, in a addition the log shows an OOM which might be the cause or a follow up error.

Does not reproduce locally

**Build scan**:
https://gradle-enterprise.elastic.co/s/olvxkhfaegvww
**Repro line**:

`./gradlew ':modules:transport-netty4:internalClusterTest' --tests "org.elasticsearch.transport.netty4.ESLoggingHandlerIT.testLoggingHandler" -Dtests.seed=682BB4942

[2021-05-31 10:54] elasticmachine commented on #73554
Pinging @elastic/es-distributed (Team:Distributed)

[2021-05-31 11:02] bydeath commented on #73549
Thank you!

[2021-05-31 11:35] martijnvg commented on #70942
This failure was also fixed via #71419 a while ago and as far as I can tell hasn't failed since.

[2021-05-31 11:35] #70942 closed

[2021-05-31 11:58] cbuescher commented on #73547
Sure, I understand the concern, but the fact that creating TermsQueryBuilder with Enums worked so far was mostly a lucky accident. We always already used the enums string representation when sending the request to the server. We should now have allowed using Enums directly in the constructor in the first place for the reason I mentioned on the original issue. I don't think we should revert to this

[2021-05-31 12:14] cbuescher commented on #73548
Hi @SkytheK. Your question seems to be better better suited for the support forums over at https://discuss.elastic.co. This is the Elasticsearch Github repo which we prefer to use for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Please see that th

[2021-05-31 12:14] #73548 closed

[2021-05-31 12:41] marlaaragao commented on #73506
Hello! I don't think I got it.

I ran the query:

`GET _cat/shards`

The results are as follow:

[code]

But I don't know what to do with this information. Can you help me? Thanks!

[2021-05-31 13:11] mraliagha commented on #73547
Yes. It makes sense. I agree with you. However, if that was not by design it should have been prevented, so I hope this confusion will be removed by deprecating the `QueryBuilders.termsQuery(String, Object)` method. Is there any plan to remove that from other types of queries supported in the `QueryBuilders` class? They seem to work with Enum right now, but if that's also not by design I am afraid

[2021-05-31 13:22] irizzant commented on #61385
I have applied the following workaround:
[code]

[2021-05-31 13:30] #60461 closed

[2021-05-31 13:32] hendrikmuhs opened #73559 "[CI] AzureStorageCleanupThirdPartyTests testCreateSnapshot failing"
related to #73493?

**Build scan:**
https://gradle-enterprise.elastic.co/s/6nbvltqouby7w/tests/:plugins:repository-azure:azureThirdPartyTest/org.elasticsearch.repositories.azure.AzureStorageCleanupThirdPartyTests/testCreateSnapshot

**Reproduction line:**
`./gradlew ':plugins:repository-azure:azureThirdPartyTest' --tests "org.elasticsearch.repositories.azure.AzureStorageCleanupThirdPartyTests.test

[2021-05-31 13:32] elasticmachine commented on #73559
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-05-31 13:33] cbuescher commented on #73547
Good point, I will add this to the open issue.

[2021-05-31 13:33] #73547 closed

[2021-05-31 13:36] cbuescher commented on #71972
In #73547 it was pointed out that several other query builders from the "match" family should also be checked if we should make them less lenient with general `Object` type constructors. In most of the cases I just spot-check we sooner or later convert to a String value down the line somewhere, so it would be good to check this and at least document this upfront or maybe prohibit this early.

[2021-05-31 14:01] hendrikmuhs opened #73560 "[CI] EncryptedAzureBlobStoreRepositoryIntegTests classMethod failing"
started failing after #73493

**Build scan:**
https://gradle-enterprise.elastic.co/s/anui462zg63sy/tests/:x-pack:plugin:repository-encrypted:internalClusterTest/org.elasticsearch.repositories.encrypted.EncryptedAzureBlobStoreRepositoryIntegTests/classMethod

**Reproduction line:**
`null`

**Applicable branches:**
7.x

**Reproduces locally?:**
Didn't try

**Failure history:**
https://gradle-enterpr

[2021-05-31 14:01] elasticmachine commented on #73560
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-05-31 14:05] #72556 closed

[2021-05-31 14:29] hendrikmuhs opened #73564 "BWC timeouts after switch to oracle jdk"
The failures start after #73386

see
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.8+periodic+bwc/BWC_VERSION=5.6.5,nodes=centos-7&&immutable/58/

**Build scan**:

https://gradle-enterprise.elastic.co/s/zrsyglvn6ny5i

**Repro line**:

**Reproduces locally?**:

**Applicable branches**:

6.8

**Failure history**:

**Failure excerpt**:

[code]

[2021-05-31 14:29] elasticmachine commented on #73564
Pinging @elastic/es-delivery (Team:Delivery)

[2021-05-31 14:58] patriczek opened #73565 "Unable to build Elasticsearch 7.13"
**Elasticsearch version: 7.13** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`): openjdk 16.0.1 2021-04-20

**OS version** (`uname -a` if on a Unix-like system): Fedora 33

**Description of the problem including expected versus actual behavior**:

Unable to build with gradle, getting error:
[code]

**Steps to reproduce**:

 1. Clone Elasticsearch repo

[2021-05-31 15:45] fcofdez commented on #73560
This is the same as #73539

[2021-05-31 15:46] elasticmachine commented on #73565
Pinging @elastic/es-delivery (Team:Delivery)

[2021-05-31 16:05] dinamic opened #73566 "Composite aggregation to be able to go under reverse nested aggregation"
Hey guys 👋

My use case is:
- we've got a user as nested object
- we've got items on the same level as the user object
- we need to get an aggregate to get all items grouped by user

To succeed with that task we were using nested aggregation to get to the user level, terms aggregation on it and then reverse nested aggregation followed by terms aggregation on the items. This used to work until we f

[2021-05-31 16:23] thelink2012 opened #73569 "Unified Highlighter way too slow for fragment_size > 0"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.9.0 (also tested on latest: 7.13.0)

**Plugins installed**: []

**JVM version** (`java -version`): 14.0.1

**OS version** (`uname -a` if on a Unix-like system): Linux 5.8.0-53-generic 20.04.1-Ubuntu

**Description of the problem including expected versus actual behavior**:

While investigating performance in our workload, we identified t

[2021-05-31 16:23] thelink2012 commented on #73569
The said code can be [rewritten](https://github.com/jusbrasil/elasticsearch/commit/85cb0907a963cd146b17ce12579cbfc9735df04c) in such way that no loop is required, reducing the service time to the same level as of `fragment_size: 0`. We'd love to submit this patch upstream if the issue gets considered as valid.

[2021-05-31 16:49] darrenpm commented on #64624
I think you can use triple curly brackets to set the un-escaped value.
`"set": {
            "field": "field_name",
            "value": "{{{field_value}}}"
}`

[2021-05-31 17:49] #39591 closed

[2021-05-31 17:50] dnhatn commented on #39591
Fixed in LUCENE-9980.

[2021-05-31 17:51] baybatu commented on #61550
+1, following. I need to numeric flattened fields to use on thousands of unique field names with field_value_factor functions.. Currently, I had to increase default mapping count but it's bad practice as doc said.

[2021-05-31 21:09] nemphys opened #73574 "Combined_fields query almost 3 times slower than multi_match cross_fields query"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.13.0

**Plugins installed**: [analysis-icu]

**JVM version** (`java -version`): Bundled

**OS version** (`uname -a` if on a Unix-like system): macOS Big Sur

**Description of the problem including expected versus actual behavior**:

Being eager to test the new combined_fields query as a replacement for the multi_match cross_fields query

[2021-06-01 01:11] yangyaofei commented on #64624
@darrenpm my solution is using rename instead, thank you

[2021-06-01 03:17] Leaf-Lin commented on #68948
I had a look of the file: https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/cluster/routing/allocation/AllocationService.java#L249

Guess we just need to change one line (`reason` is already defined from the `disassociateDeadNodes` function):
[code]

[2021-06-01 03:25] dnhatn commented on #68508
+1. That was the plan. We can access the disk usage estimate of postings, docValues, and points directly from Lucene. However, it's tricky to record this information for stored fields and term vectors.

In the first iteration of this API, Elasticsearch will scan the content and estimate the disk usage for each field. We will expose and use disk usage stats from Lucene after that.

[2021-06-01 07:56] DaveCTurner commented on #71871
Closed by #73578 and #73367.

[2021-06-01 07:56] #71871 closed

[2021-06-01 07:57] tlrx commented on #72376
@rjernst In case this can be helpful, the exception you mentionned happened today in https://gradle-enterprise.elastic.co/s/c6bunui7pya6s on 6.8 with Oracle Java(TM) SE Runtime Environment 11.0.11+9-LTS-194:
[code]

Looking at the failures of `HotThreadsIT` in the last 60 days revealed 5 failures (branches 6.8, 7.12, 7.13) all with the same `NullPointerException`, always on `debian-8` and `Linux 3

[2021-06-01 08:07] #72911 closed

[2021-06-01 08:19] breskeby commented on #73565
this was fixed by backporting https://github.com/elastic/elasticsearch/pull/72290 to 7.13 branch

[2021-06-01 08:19] #73565 closed

[2021-06-01 08:50] martijnvg commented on #67887
Another instance of this test failure: https://gradle-enterprise.elastic.co/s/f6ydxt3c5ynew/tests/:x-pack:plugin:transform:qa:multi-node-tests:javaRestTest/org.elasticsearch.xpack.transform.integration.continuous.TransformContinuousIT/testContinousEvents

[2021-06-01 09:13] #69571 closed

[2021-06-01 09:13] joshdevins commented on #69571
Closed by https://github.com/elastic/ml-cpp/pull/1902

[2021-06-01 09:40] arjenzhou commented on #35135
I have the same question with version 6.8

[2021-06-01 12:05] tlrx commented on #72639
Test also muted on 6.8 in #73586 (ce6ae098b40968b5e4b5948cd02fef83957a0caf)

[2021-06-01 12:13] tlrx commented on #72359
I muted more tests in 6.8 with #73587 since it failed today on this branch:
https://gradle-enterprise.elastic.co/s/2hpywmv5dkhjo
https://gradle-enterprise.elastic.co/s/2hpywmv5dkhjo

[2021-06-01 12:43] tlrx commented on #45577
Despite of #45808 and #70003 this test is still failing multiple times per week on master, 7.x and 7.13.

All failures I looked at were on Windows platforms with an Open JDK 15.0.2+7-27 and the following error:
[code]
which seems to be fixed in HTTP Core NIO in version 4.4.13 (see https://issues.apache.org/jira/browse/HTTPCORE-609)

@elastic/es-core-features I'm going to mute this test again but I

[2021-06-01 12:50] danhermann commented on #73529
@Danouchka, this was fixed in https://github.com/elastic/elasticsearch/pull/71559 and released in 7.12.1.

[2021-06-01 12:50] #73529 closed

[2021-06-01 12:54] elasticmachine commented on #73566
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2021-06-01 12:57] Danouchka commented on #73529
@danhermann  Many thanks :-)

[2021-06-01 13:01] nemphys commented on #73574
After some more testing, I just realised that it is the aggregations, not the main query that is taking longer to execute.

In my test query (which is a script score query containing a boolean "should" query with 6 combined_fields queries for the different field analyzers), I am also running 5 aggregations (3 terms, 1 stats and 1 nested).

If I omit the aggregations altogether and compare the exec

[2021-06-01 13:12] tlrx commented on #72120
Happened also on 7.x today, with 17-ea (https://gradle-enterprise.elastic.co/s/x3me6lelg4xck). I'll mute on 7.x too.

[2021-06-01 13:43] aliciascott commented on #70930
Did we ever arrive at a decision on this? For ESS, we are writing this audit data to the `elastic-cloud-logs-*` index. This is something we probably need to add/improve to the docs. (Rather than `clustername_audit.json` file for on-prem) where the docs currently link to from the ESS docs page.

[2021-06-01 14:00] siblesos opened #73603 "whatever you updated , seqNo still is -2 and primaryTerm is 0"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.8.1

**Plugins installed**: standard

**JVM version** (`java -version`): jdk11

**OS version** (`uname -a` if on a Unix-like system): windows 10

**Steps to reproduce**:

my code:
 1. i do a search, the data is moviesEntity(id=101991, title=H-Man, The, genre=[Horror, Mystery, Sci-Fi, Thriller], year=0, seqNo=-2, primaryTerm=0)
 2. i foll

[2021-06-01 14:43] nik9000 opened #73615 "buildsrc not importing eclipse configuration"
I updated my eclipse config and it made hundreds of eclipse build files. I imagine we're not applying the eclipse configuration customizations to buildsrc any more.

[2021-06-01 14:43] elasticmachine commented on #73615
Pinging @elastic/es-delivery (Team:Delivery)

[2021-06-01 15:41] breskeby commented on #73615
Given that we did some major refactoring in build logic organisation in elasticsearch I'll look into this

[2021-06-01 16:22] mark-vieira commented on #71593
Can we call this "done"? Just needs to be backported, yes?

[2021-06-01 16:52] ssllmit opened #73622 "Paginated PIT Search with Multi-Target Syntax Times Out Before keep_alive"
**Description of the problem including expected versus actual behavior**:

A paginated search on large (500k documents) indices with multi-target syntax times out before `keep_alive` time.

I'm running a paginated search across multiple indices using the multi-target syntax (`index_name*`). E.g. the time to process all *O*(500k) documents in two indices of size 300k+200k is about 6 hours. I set `_

[2021-06-01 16:57] bpintea commented on #71194
The [above proposals](https://github.com/elastic/elasticsearch/issues/71194#issuecomment-849777247) might be problematic, since the node handling the QL request, after transpiling the *QL to DSL/Painless, uses the node-local client to perform the search. This client then distributes the request to whatever shard needs to be hit. So QL remains at a too higher level to either be aware of the nodes i

[2021-06-01 17:09] mark-vieira opened #73623 "Switch to using UBI for as basis of standard Docker images"
The UBI images are now [available on DockerHub](https://hub.docker.com/u/redhat). This, in coupled with the fact that CentOS 8 is soon going to stop getting updates means we can _and should_ switch to using it for the foundation of our Docker images. Since we _already_ build a UBI image this also means we can simply ditch the CentOS version entirely and remove that variant from our build process a

[2021-06-01 17:09] elasticmachine commented on #73623
Pinging @elastic/es-delivery (Team:Delivery)

[2021-06-01 17:10] #71593 closed

[2021-06-01 17:20] jessebs commented on #71511
I'd love to go a custom highlighter plugin but i can't find any documentation on implementing a highlighter, not any reference to a HighlighterPlugin or anything similar in the plugin API.  Do you have any suggestions?

[2021-06-01 18:08] jtibshirani commented on #71511
Unfortunately we don't have great documentation around our plugin APIs. You might find this repository helpful as an example of how to create and build a highlighter plugin: https://github.com/wikimedia/search-highlighter. The main entry point is `ExperimentalHighlighterPlugin.java`.

[2021-06-01 18:13] jtibshirani commented on #73574
@nemphys great that you are testing out `combined_fields`! If I understand correctly, you no longer see evidence of a performance difference between `combined_fields` and `multi_match`? Even if that's true, would you be able to paste your query (or a simplified version) in case we spot something interesting to look into?

[2021-06-01 18:22] jessebs commented on #71511
That's great!  Thank you for the help.

[2021-06-01 18:24] dakrone commented on #70755
This has been resolved in #73515, thanks again @gaobinlong

[2021-06-01 18:24] #70755 closed

[2021-06-01 18:26] #71511 closed

[2021-06-01 18:29] jtibshirani commented on #71511
No problem! I just noticed that this plugin may support returning offsets instead of snippets: https://gerrit.wikimedia.org/r/c/search/highlighter/+/209956/. Hopefully you are able to track down a solution.

[2021-06-01 20:46] #73424 closed

[2021-06-01 21:37] mark-vieira commented on #72404
I've updated these jobs to run in a ramdisk. This seems to have sorted things out on the master builds so I've backported that change to 7.x and 7.13 as well.

[2021-06-01 21:37] #72404 closed

[2021-06-01 22:52] #73459 closed

[2021-06-01 23:00] gwbrown commented on #73560
Closing, as this is a duplicate of https://github.com/elastic/elasticsearch/issues/73539 (as noted above).

[2021-06-01 23:00] #73560 closed

[2021-06-01 23:08] cjcenizal commented on #65915
@original-brownbear Any chance we can bump this up in priority? It looks like users are running into `502` errors if the deletion requests take too long.

[2021-06-01 23:13] mark-vieira commented on #73525
We certainly could. @rjernst recently did some analysis here on how prevalent this is. There are, frankly, a lot of them, so if we wanted to implement such a check in the near term we'd have to build in some kind of "ignore" mechanism, which then begs the question on how that get's implemented. If we simply ignore packages then we still risk folks adding more classes to those packages. Alternative

[2021-06-01 23:21] mark-vieira opened #73642 "[CI] SearchStatesIT testBWCSearchStates failing"
This has started failing today quite a bit. It also reproduced locally for me.

**Build scan:**
https://gradle-enterprise.elastic.co/s/4bpptk7sd4ebe/tests/:qa:ccs-rolling-upgrade-remote-cluster:v7.14.0%23oneThirdUpgraded/org.elasticsearch.upgrades.SearchStatesIT/testBWCSearchStates

**Reproduction line:**
`./gradlew ':qa:ccs-rolling-upgrade-remote-cluster:v7.14.0#oneThirdUpgraded' -Dtests.class="o

[2021-06-01 23:21] elasticmachine commented on #73642
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-01 23:21] mark-vieira commented on #73642
Does CCS fall under the distributed team? In any case, @dnhatn, perhaps since you authored this test relatively recently you might be the best one to look into it?

[2021-06-01 23:23] mark-vieira commented on #73642
Given the frequency of the failures today and that this reproduced locally for me I've also muted this test in `master`.

[2021-06-01 23:25] mark-vieira commented on #73564
I believe this is a duplicate of https://github.com/elastic/elasticsearch/issues/73459 for which a fix is incoming.

[2021-06-01 23:25] #73564 closed

[2021-06-01 23:30] elasticmachine commented on #73642
Pinging @elastic/es-search (Team:Search)

[2021-06-01 23:45] dnhatn commented on #73642
Thanks @mark-vieira. There was a BWC change introduced in https://github.com/elastic/elasticsearch/pull/73515. Some pull requests need to merge the latest change from the master.

[code]

[2021-06-01 23:45] #73642 closed

[2021-06-01 23:54] rjernst commented on #73488
@jimczi I think the crux of the need for this is that scripts *are* run against index patterns today since you can use scripts in a search that spans multiple indices. The proposed change to the API will allow to essentially test on all the indexes of that pattern. The underlying data may change over time with new indices (for example, a user may tweak the mapping of a field to a different type).

[2021-06-02 00:07] ebadyano commented on #71741
No further feedback received. @mscherer82 if you have the requested information please add it in a comment and we will re-open this issue.

[2021-06-02 00:07] #71741 closed

[2021-06-02 00:07] dnhatn commented on #73603
@siblesos You need to set the parameter `seq_no_primary_term` of a search request to true to retrieve the sequence number and primary term of its search hits. Please refer https://www.elastic.co/guide/en/elasticsearch/reference/7.13/optimistic-concurrency-control.html and https://www.elastic.co/guide/en/elasticsearch/reference/7.13/search-search.html#request-body-search-seq-no-primary-term

[2021-06-02 00:07] #73603 closed

[2021-06-02 00:09] ebadyano commented on #71965
No further feedback received. @yuchen001 if you have the requested information please add it in a comment and we will re-open this issue.

[2021-06-02 00:09] #71965 closed

[2021-06-02 00:21] imotov commented on #71965
I suspect this is a duplicate of #9571

[2021-06-02 03:01] tybalex commented on #49392
agreed. This is something I am looking for from ILM, I am surprised this feature is still missing...

[2021-06-02 07:12] iverase commented on #72401
Another failure today: https://gradle-enterprise.elastic.co/s/uthp6fzynplk6

[2021-06-02 07:31] nik9000 commented on #73488
I'm.not sure it's be a good stand in in all situations. The mappings matter
to runtime fields a fair bit. The keyword/text thing and Date formats feel
"big". So does anything to do with geo. The types of the fields and things
like ignore_above are more subtle.

On Wed, Jun 2, 2021, 01:39 Sébastien Loix ***@***.***> wrote:

[2021-06-02 07:35] iverase commented on #73050
Another similar failure in https://gradle-enterprise.elastic.co/s/4ufkdqdrl2yxi/, in this case we get an OOM:

[code]

It reproduces with:

[code]

One thing I notice is that changing the java version to 11, then it cannot be reproduce so my suspicion is that it might be a java bug?

[2021-06-02 07:49] iverase opened #73648 "[CI] EmailAttachmentTests testThatEmailAttachmentsAreSent failing"
In order to reproduce it you need to add -Dtests.iters=2 to the command, for example:

[code]

**Build scan:**
https://gradle-enterprise.elastic.co/s/7kt7sbvpf7q2k/tests/:x-pack:plugin:watcher:internalClusterTest/org.elasticsearch.xpack.watcher.actions.email.EmailAttachmentTests/testThatEmailAttachmentsAreSent

**Reproduction line:**
`./gradlew ':x-pack:plugin:watcher:internalClusterTest' --tests

[2021-06-02 07:49] elasticmachine commented on #73648
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-02 09:30] mabdelhedi commented on #55603
Hello,
I am also facing a case when removing the cutoff_frequency on my multi-match query, for example searching on a "street" field "jump street", I have some documents that only match the word "street" (frequent word) ...

How can I really "cut off" the frequent term to be ignored from query (so I could have only documents containing at least "jump") without having to look for all frequent words

[2021-06-02 09:44] fcofdez commented on #73050
It seems like in tests JVM GC is not configured, meaning that the default GC is used. In Java 8 the default GC is `-XX:+UseParallelGC` and that GC is not able to cope with the memory pressure that we're exercising in this test. With `ConcMarkSweepGC` and `G1GC` (the default since Java 9) the test works correctly. Can someone from @elastic/es-delivery take a look into this?

Additionally, in this t

[2021-06-02 10:13] elasticmachine commented on #73622
Pinging @elastic/es-search (Team:Search)

[2021-06-02 10:42] iverase opened #73657 "[CI] JdbcSecurityIT testQueryDocumentExcluded failing"
I think there was a similar occurrence on June 1st: https://gradle-enterprise.elastic.co/s/kmwjw4dcwdppk

**Build scan:**
https://gradle-enterprise.elastic.co/s/3gt7diubtz7mu/tests/:x-pack:plugin:sql:qa:server:security:with-ssl:integTest/org.elasticsearch.xpack.sql.qa.security.JdbcSecurityIT/testQueryDocumentExcluded

**Reproduction line:**
`./gradlew ':x-pack:plugin:sql:qa:server:security:with-ss

[2021-06-02 10:42] elasticmachine commented on #73657
Pinging @elastic/es-ql (Team:QL)

[2021-06-02 11:23] jimczi commented on #73569
That's a great finding @thelink2012 !  The current algorithm tries to expand the fragment greedily so there's lots of room for improvement. I like the approach in the patch, can you open a PR and explain a bit more the (possible) differences with your approach ?

[2021-06-02 11:32] iverase commented on #73539
Here is a case that seems related although a bit different: https://gradle-enterprise.elastic.co/s/yp55eggepsbv6

error:

[code]

[2021-06-02 11:48] nemphys commented on #73574
@jtibshirani indeed, the performance difference went away, but only after I set the "execution_hint" parameter to "map" for all terms aggregations in the query (should I be worried that I am doing something wrong regarding global ordinals?). If I don't do that, the difference is there (please note that, as stated above, running just the query with no aggregations has similar execution times betwee

[2021-06-02 12:31] #73044 closed

[2021-06-02 12:36] rjernst commented on #73525
I like the idea of working this down through the build. Detecting it is indeed tricky. It requires collecting global information (all package names across all our jars) and then alerting on that info.

Perhaps we could have a similar ignore list to forbidden apis missing classes? IMO an annotation would be cumbersome, and unclear where it would go (since it is the package and not individual classe

[2021-06-02 13:12] #73426 closed

[2021-06-02 14:50] jrodewig commented on #54970
We now document that multi-fields are not supported: https://www.elastic.co/guide/en/elasticsearch/reference/master/eql-syntax.html#eql-array-fields

[2021-06-02 14:50] #54970 closed

[2021-06-02 14:56] benwtrent opened #73679 "[ML] Handle delayed data audit messages better"
If a job is running a long time and continually gets delayed data, we write audit messages for each new bucket that gets delayed.

For the annotations, we are able to update the previous annotation because we can keep track of the annotation ID there. But audit messages are traditionally append only, so we don't necessarily want to update the previous audit message.

It may be good to introduce so

[2021-06-02 14:56] elasticmachine commented on #73679
Pinging @elastic/ml-core (Team:ML)

[2021-06-02 14:57] not-napoleon commented on #68963
So I'm looking into fixing the bug with `epoch_seconds` and timezones.  The good news is that it's "just" a format issue, which means the data should be correct and you can get it out in a different format.  Unfortunately, I don't think you can get exactly what you want right now, but hopefully we can get you close enough for now.

My best suggestion for a work around is to use a different format,

[2021-06-02 14:58] cbuescher commented on #73133
@vipwangtian as you already probably guessed its likely a Regex query that is causing this, but without further information we cannot be sure. The stack trace is not sufficient to act on this issue, unfortunately.

Did the StackOverflowError after you changed that setting?

[2021-06-02 15:03] benwtrent opened #73680 "Pipeline aggregations shouldn't serialize to remote clusters in cross-cluster search"
Pipeline aggregations have long been a way to "do one more thing" on aggregated data. I *THINK* that "one more thing" is always computed on the coordinating node and the coordinating node is always on the "local" cluster.

Consequently, there seems to be an opportunity here by not serializing pipeline aggregations to remote clusters in cross-cluster search. This way, newer pipeline aggs could be u

[2021-06-02 15:03] elasticmachine commented on #73680
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2021-06-02 15:20] elasticmachine commented on #73559
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-02 15:59] fcofdez commented on #73559
This seems to be a credentials problem, I'm able to reproduce the issue locally using an invalid SAS token signature. Providing a valid SAS token the test pass. I'll check with infra

[2021-06-02 16:02] jtibshirani commented on #73574
Got it, it sounds like there could be another factors at play. This sort of debugging work is often better suited for our [discuss forums](https://discuss.elastic.co/) -- you could post there and tag me if you are still seeing surprising differences. If we find there's a bug, we'll loop back to GitHub to address it.

[2021-06-02 16:05] #73518 closed

[2021-06-02 16:05] williamrandolph commented on #73460
The core-infra team discussed this in our sync today. We don't believe resiliency is the primary problem here.

If we have a configured limit on the number of fields in a mapping, the code for the dynamic mappers should use that limit to avoid allocating too many objects whether or not the memory usage threatens OOM. If the only way to catch this issue were by using a memory circuit breaker, we'd

[2021-06-02 16:06] elasticmachine commented on #73460
Pinging @elastic/es-search (Team:Search)

[2021-06-02 16:08] #73574 closed

[2021-06-02 16:14] nik9000 commented on #73680
It is always executed on the coordinating node. But old coordinating node versions they don't know how to read the pipelines from the request - only from a response from a response sent back from the data nodes. The thing I haven't reasoned through is what cases we don't have to send them.

[2021-06-02 19:29] AmyMMCollins opened #73695 "SQL: Changing the precision threshold of count query in Canvas"
Hi,

I work on an Analytics team and a lot of our esql queries involve counting distinct/unique values and displaying them on different Canvas dashboards. We really need for the numbers to be as accurate as possible. Therefore, I need a way to tell the SQL endpoint to change the precision threshold.

Please see below for an example:
![image (1)](https://user-images.githubusercontent.com/26348862/1

[2021-06-02 19:46] #72363 closed

[2021-06-02 21:46] mark-vieira commented on #61385
We might want to consider this a duplicate of https://github.com/elastic/elasticsearch/issues/70219. The use case described in that issue would solve this problem as well.

[2021-06-02 21:48] mark-vieira commented on #73525
The purpose of that being that we could ignore existing classes that live in clashing packages but blow up if you add a new one.

Agreed. And there are tangible reasons to do this with tests like having visibility into package-private code for unit testing.

[2021-06-02 22:10] mark-vieira commented on #73050
Indeed, good catch. I've opened https://github.com/elastic/elasticsearch/pull/73701 to address this bit.

Also keep in mind that our test JVMs are configured with pretty small heap sizes (512m) by default (since we run potentially a lot in parallel).

[2021-06-02 23:25] ywangd commented on #73539
Happened again: https://gradle-enterprise.elastic.co/s/wgk3kq7wbzgwg

[2021-06-02 23:42] #73176 closed

[2021-06-03 01:12] vipwangtian commented on #73133
didn't happen since I changed that, it seems to be usefull.

[2021-06-03 02:09] ywangd opened #73706 "[CI] SearchableSnapshotActionIT testConvertingSearchableSnapshotFromFullToPartial failing"
It's the first failure in last 7 days. But the error message looks legit enough.

**Build scan:**
https://gradle-enterprise.elastic.co/s/kkeggcanhv3ks/tests/:x-pack:plugin:ilm:qa:multi-node:javaRestTest/org.elasticsearch.xpack.ilm.actions.SearchableSnapshotActionIT/testConvertingSearchableSnapshotFromFullToPartial

**Reproduction line:**
`./gradlew ':x-pack:plugin:ilm:qa:multi-node:javaRestTest' -

[2021-06-03 02:09] elasticmachine commented on #73706
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-03 03:05] zhoutiekui opened #73708 "Hdfs repository analysis check failed"
dear all,
I tried to use the opensource hdfs as a snapshot repository, and when I excute the analysis API, there is an error below:

[code]

the error log is as below:

[code]

The hadoop authentication mode is simple . and use hdfs 2.6 as the repository.

Thanks!

hope your reponse~ :slightly_smiling_face:

[2021-06-03 04:17] ywangd commented on #67887
Another one on 7.x: https://gradle-enterprise.elastic.co/s/wtbv47e7ahox4

[2021-06-03 04:55] ywangd commented on #73706
Failed on 7.13 as well: https://gradle-enterprise.elastic.co/s/4skjos437lu3a
But the error message is different
[code]

[2021-06-03 06:52] elasticmachine commented on #73708
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-03 06:59] DaveCTurner commented on #73708
We are failing here:

https://github.com/elastic/elasticsearch/blob/9a7758028e4ea59bcab41c12004603c5a7dd84a9/x-pack/plugin/snapshot-repo-test-kit/src/main/java/org/elasticsearch/repositories/blobstore/testkit/RepositoryAnalyzeAction.java#L591

This means that we've already deleted the test blob container and we're now doing a list operation to verify that it was indeed completely deleted. We expec

[2021-06-03 08:18] zhoutiekui commented on #73708
@DaveCTurner
thank you very much.
Is there a milestone to fix the bug, or is there another version which can be functional?

[2021-06-03 08:28] DaveCTurner commented on #73708
No, sorry, we can't commit to fixing this in any particular release. The actual fix is pretty small, the bulk of the work will be to add the necessary tests, and it's just a matter of finding the time to do this. Contributions are welcome.

[2021-06-03 08:34] cbuescher commented on #73133
Thats great, unfortunately the earlier stack trace doesn't offer much for us for concrete investigations I'm closing this.

[2021-06-03 08:34] #73133 closed

[2021-06-03 08:56] fcofdez commented on #73559
It seems like another bug on the Azure SDK SAS tokens handling, I've opened https://github.com/Azure/azure-sdk-for-java/issues/22042. I'm not sure if we should rollback the SDK upgrade as this prevents using the azure repository in certain scenarios. cc @rjernst @henningandersen

[2021-06-03 08:59] #68948 closed

[2021-06-03 09:50] pgomulka opened #73712 "Elasticsearch writes PerfData to /tmp/hsperfdata-{user}"
By default Java is creating performance data in `/tmp/hsperfdata-{user}`. We cannot change this location as it is hardcoded in jdk. https://bugs.java.com/bugdatabase/view_bug.do?bug_id=6447182 This is a known issue, which was initially fixed, but eventually reverted because it broke java monitoring tools like jstat.
The only way to workaround this and prevent ES writing jvm performance data to /tm

[2021-06-03 09:50] elasticmachine commented on #73712
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-06-03 10:11] javanna commented on #68203
Heads up: I have updated the description of the issue according to recent discussions and the draft PR I opened. The API has slightly changed, and we need to come up with a name for the new field type if we decide to not use object.

[2021-06-03 10:11] fcofdez commented on #73050
Thanks for addressing it!

I'll keep an eye and see if this issue happens with the new GC settings.

[2021-06-03 10:13] elasticmachine commented on #72723
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-06-03 10:14] javanna commented on #72827
Closing for lack of feedback, please feel free to re-open if you are interested in this issue and have feedback around it.

[2021-06-03 12:27] rjernst commented on #72723
Both warning, as well as auto emitting, would be difficult to do in painless in a script agnostic way. It's not impossible (similar in some ways to auto return, as far as detection), but it would require some new designs to designate *what* gets added to the tree, perhaps by generalizing auto return. Remember that `emit` is not a language feature, it is just a method exposed on runtime field scrip

[2021-06-03 13:10] DaveCTurner opened #73719 "Avoid materializing uncompressed HTTP response before compression"
Today when handling an HTTP request with `Accept-encoding: gzip` we will buffer the uncompressed response and then pass that over to Netty which takes responsibility for compressing it as it goes out over the wire. If the response is large and compressible then this means we consume substantially more memory than we theoretically need if we were to materialise the compressed bytes directly during

[2021-06-03 13:10] elasticmachine commented on #73719
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-03 13:15] Farenheith commented on #10981
I endorse http2 too!

One solution for me at this moment, if anyone is interested, is to avoid elasticsearch oficcial client (in a nodejs service that only uses **_search**), and to use [superagent](https://www.npmjs.com/package/superagent) + [agentkeepalive](https://www.npmjs.com/package/agentkeepalive), with, in my case of use, **maxSockets** uninformed, assuming the default value of Infinity.
T

[2021-06-03 13:19] jelledrm commented on #73695
I also need a way to tell the SQL endpoint to change the precision threshold.

[2021-06-03 13:27] nik9000 commented on #73506
I meant these docs: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html#_shard_size_3

Sorry I wasn't clear and linking. Mobile and all that.

I'm reasonably sure this is just the way that terms works and its just shard_size doing its things so I'm going to close this. But if you bump shard_size way up and still get strange results plea

[2021-06-03 13:27] #73506 closed

[2021-06-03 14:46] KannappanSomu commented on #46161
same problem , due to this we are hitting max shards limit in the cluster as  empty indexes are managed by ILM and retained for 2 months period . Please add this feature

[2021-06-03 16:07] #69251 closed

[2021-06-03 16:14] elasticmachine commented on #73695
Pinging @elastic/es-ql (Team:QL)

[2021-06-03 16:40] akhasano opened #73730 "Snapshots cannot be restored on another cluster"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.13.1

**Plugins installed**: [n/a]

**JVM version** (`java -version`):

D:\test_elk\7.13.1-2\jdk\bin>java.exe --version
openjdk 16 2021-03-16
OpenJDK Runtime Environment AdoptOpenJDK (build 16+36)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 16+36, mixed mode, sharing)

**OS version** (`uname -a` if on a Unix-like system):

Windows 10 20

[2021-06-03 19:28] truhlik commented on #73197
This is complete log after rm elasticsearch.log and starting service (starting fails).
[code]

I didn't modified anything about installation Elasticsearch. I did not have problem with the ES service until last week, when was made huge update of system packages. After upgrade ES stopped working.

[code]

[2021-06-03 19:37] akhasano commented on #73730
Update: it worked before 7.12
7.11.2 does work, 7.12 - doesn't.

[2021-06-03 20:02] DaveCTurner commented on #73730
According to your repro instructions you are changing the contents of the repository _after_ registering it, which is dangerous in any version. It might appear to have worked in earlier versions but it technically comes with no guarantees and may have silently lost some of your data. Since this is more of a user question than a bug report I am closing this, but encourage you to open a thread on th

[2021-06-03 20:02] #73730 closed

[2021-06-03 20:18] DaveCTurner commented on #73730
I didn't find this information spelled out explicitly in the docs, so I opened #73740 to address that.

[2021-06-03 20:55] akhasano commented on #73730
Hello Dave,

Possible you are right,  according to elasticsearch documents, snapshot doesn't depend on clustername etc. and it is recommended method to clone data on new cluster as i wish. But i can't now.
Let's imagine situation, you have a nightly snapshots from some cluster, for example you have cluster from one node, and something happens with that (liquid from top floor, high voltage etc.) -

[2021-06-03 21:00] DaveCTurner commented on #73730
I once again encourage you to open a thread on the [discussion forums](https://discuss.elastic.co/c/elastic-stack/elasticsearch/6) if you need further assistance.

[2021-06-03 21:06] akhasano commented on #73730
Ok i see what did you mean. Thanks.

[2021-06-03 21:08] jtibshirani commented on #67594
After more thought and discussion with others, I think it'd make the most sense to start with a soft limit on the size of the async search response we attempt to store and return. If coordinating node detects the serialized response would be larger than the limit, we'd throw an error early to avoid memory problems. The limit could be configured through a cluster setting.

The thinking is that even

[2021-06-03 21:36] mark-vieira commented on #73623
There are two main questions I still have on this:

1. Can we use UBI as our base given it's status as a ["verified publisher image"](https://www.redhat.com/en/about/press-releases/red-hat-brings-red-hat-universal-base-image-docker-hub), whatever that means
2. Can we stop publishing our current UBI-based variant since the default image will be based on UBI

[2021-06-03 21:41] parkerault commented on #37138
For anyone else running into this issue, the easiest solution is to edit the prerm script at `/var/lib/dpkg/info/elasticsearch.prerm` and change lines 26 and 27 to `false`:
[code]
This will prevent the script from trying to run systemctl and you can `sudo apt remove --purge elasticsearch` to completely remove the package.

[2021-06-03 23:10] piyushdaftary commented on #15653
@DaveCTurner : I am using ES 7.10.2 version cluster, and when I restore an index all shards of the index is getting restored instead of missing ones (shards which are RED). Is there any setting I need to do to ensure only missing shards are restored from snapshot instead of all shards of index

[2021-06-04 00:04] mark-vieira commented on #72062
I've seen a couple more failures but with a slightly different error: https://gradle-enterprise.elastic.co/s/5ggruoy3gvj2a/tests/:x-pack:plugin:ccr:qa:multi-cluster:follow-cluster/org.elasticsearch.xpack.ccr.AutoFollowIT/testDataStreams_autoFollowAfterDataStreamCreated?top-execution=1

[2021-06-04 07:35] #52396 closed

[2021-06-04 07:35] #72191 closed

[2021-06-04 08:18] zez3 commented on #24867
Any progress or hope that this will be included in the upcoming 7.14 or 8 release?

[2021-06-04 09:24] nshfany opened #73754 "the high order template can not overwrite the lower order template"
hello!
**Elasticsearch version** :  elasticsearch 6.8.15

**Steps to reproduce**:

 1. defined two template
 `PUT _template/test_1
{
  "order":1,
  "index_patterns" : [
      "test_*"
  ],
  "mappings":{
    "_doc":{
      "properties":{
        "name":{
          "ignore_above" : 10922,
            "type" : "keyword"
        }
      }
    }
  }
}`
`PUT _template/test
{
  "order":0,
  "index_patte

[2021-06-04 10:46] cbuescher commented on #70922
I did some debugging on this and think I found a difference that was introduced shortly after 7.2 while updating to a newer Lucene snapshot. Some changes in the `CustomUnifiedHighlighter`s query rewrite logic seems to have changed. Will open a PR shortly to dicuss the possible fix there.

[2021-06-04 11:10] seco-mgabor commented on #70922
Yeeey!!! Thanks for the good news!

[2021-06-04 12:01] tlrx commented on #72062
@mvg this test fails regularly with either the index `.ds-logs-syslog-prod-2021.06.04-000001` not found or mismatching index settings between the leader and the follower (which I suppose can happen since they are rolled over at different times). I'm not sure what is exactly expected: maybe just retry the follow index request?

I'm going to assign this issue to you if that's OK.

[2021-06-04 12:03] EmilBode opened #73763 "Sorting descending on datefield with nanosecond-precision fails for missing values"
**Elasticsearch version**: 7.13.1 (newest)

**Plugins installed**: None

**JVM version**: ES builtin,
openjdk 16 2021-03-16
OpenJDK Runtime Environment AdoptOpenJDK (build 16+36)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 16+36, mixed mode, sharing)

**OS version**: Windows 10, 64bit, version 2004, build 19041.985

**Steps to reproduce**:
[code]
And the query
[code]
**Expected behaviour**
I'd ex

[2021-06-04 12:37] martijnvg commented on #72062
Yes, I will take a look at this issue. Thanks for looking at this and getting this to my attention.

[2021-06-04 13:00] davidkyle opened #73768 "[ML][CI] Timeout in PyTorchModelIT.testEvaluate"
**Build scan**:
https://gradle-enterprise.elastic.co/s/3fhraorgrz462

**Repro line**:
./gradlew ':x-pack:plugin:ml:qa:native-multi-node-tests:javaRestTest' --tests "org.elasticsearch.xpack.ml.integration.PyTorchModelIT.testEvaluate"

**Reproduces locally?**:
No

**Applicable branches**:
main

**Failure history**:
First time

**Failure excerpt**:
Timed out when waiting for persistent task after 20s

[2021-06-04 13:00] elasticmachine commented on #73768
Pinging @elastic/ml-core (Team:ML)

[2021-06-04 13:01] benwtrent opened #73769 "Persistent task timeout for PyTorchModelIT.testEvaluate"
**Build scan**:
https://gradle-enterprise.elastic.co/s/3fhraorgrz462
**Repro line**:
./gradlew ':x-pack:plugin:ml:qa:native-multi-node-tests:javaRestTest' --tests "org.elasticsearch.xpack.ml.integration.PyTorchModelIT.testEvaluate" -Dtests.seed=7A6300C6BF1BC1F5 -Dtests.locale=da-DK -Dtests.timezone=Indian/Comoro -Druntime.java=11
**Reproduces locally?**:
No, its a timeout so happens periodicaly
**

[2021-06-04 13:01] elasticmachine commented on #73769
Pinging @elastic/ml-core (Team:ML)

[2021-06-04 13:03] davidkyle commented on #73768
Duplicate of #73769

[2021-06-04 13:03] #73768 closed

[2021-06-04 13:15] EmilBode opened #73772 "Not including date-format in sorting leads to problems with missing values in search_after parameters for numeric_type date"
***Note***
There's a different issue at play here (https://github.com/elastic/kibana/issues/101391), so I believe this issue could be closed without any fix.

**Elasticsearch version**: 7.13.1 (newest)

Plugins installed: None

JVM version: ES builtin,
openjdk 16 2021-03-16
OpenJDK Runtime Environment AdoptOpenJDK (build 16+36)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 16+36, mixed mode, sharin

[2021-06-04 13:46] davidkyle commented on #73769
The root cause is that the task config could not be found which means the model was not deployed. The test needs to refresh the index after putting the various bits of config

[code]

But, that error should have been returned on the API instead of timing out the start deployment request. We do have a problem where task failure is not passed back to the listener

[2021-06-04 14:09] EmilBode commented on #73772
Wait, there's a completely different issue at play here.

Copying the value from the search_after _does_ work after all....

However, what does not work, is copying the value into Kibana, and then hitting Ctrl+I to fix any allignment issues.
This action fixes the allignment, but also rounds large numbers.
So the value I copied into my newer query, `[
    -9223372036854776000,
    1
  ]`?
  That's

[2021-06-04 14:35] pgomulka opened #73774 "Unify deprecation logging and deprecation info api"
it would be great if we could keep all of the info required to deprecate a functionality in one place (class)
The use case:
At the moment when we deprecate the setting, the deprecation log message is emitted from `Setting` class based on a setting name. DeprecationInfo has to define the same message with the documentation url and some details on how to fix the deprecation.
It would be great if all

[2021-06-04 14:36] elasticmachine commented on #73774
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-06-04 14:36] elasticmachine commented on #73774
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-06-04 15:42] jtibshirani commented on #72559
@timroes I just caught up on your latest message in https://github.com/elastic/kibana/issues/95946#issuecomment-852911748. My understanding is that you're planning to use a request including `_source` and all `fields`. Is this enhancement request still needed (or maybe there is another change required?)

[2021-06-04 17:33] dakrone opened #73779 "[CI] SecurityIndexManagerIntegTests testConcurrentOperationsTryingToCreateSecurityIndexAndAlias failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/l4c6qgotbl5ze/tests/:x-pack:plugin:security:internalClusterTest/org.elasticsearch.xpack.security.support.SecurityIndexManagerIntegTests/testConcurrentOperationsTryingToCreateSecurityIndexAndAlias

**Reproduction line:**
`./gradlew ':x-pack:plugin:security:internalClusterTest' --tests "org.elasticsearch.xpack.security.support.SecurityIndexManag

[2021-06-04 17:34] elasticmachine commented on #73779
Pinging @elastic/es-security (Team:Security)

[2021-06-04 17:36] danhermann opened #73780 "User agent processor changes type of 'device' field to object when ECS is disabled"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.13.0+

**Description of the problem including expected versus actual behavior**:

When ECS is disabled, the user agent processor populates a keyword field `device` with the name of the device. When ECS is enabled, that data is stored in the `device.name` field. In 7.13.0, the addition of optional device type categorization (https://githu

[2021-06-04 17:36] jrodewig commented on #56025
We should cover this as part of #73200.

[2021-06-04 17:36] #56025 closed

[2021-06-04 17:36] elasticmachine commented on #73780
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-04 17:39] dakrone commented on #73706
Another failure on 7.13: https://gradle-enterprise.elastic.co/s/g7kz7jgnzfvz4

[code]

[2021-06-04 17:42] jrodewig commented on #72728
It's likely we'll need to refactor this page as part of an upcoming docs system migration. Rather than refactor the page twice, I'm going to close this issue.

[2021-06-04 17:42] #72728 closed

[2021-06-04 17:45] dakrone commented on #73754
@nshfany legacy index templates (the ones used here) are merged, which is why `test_1` matches both templates. This is one of the downsides of legacy templates and has been addressed by composable index templates (#53101) released in 7.9+

Since this behavior is not a bug, I'm going to close this issue.

[2021-06-04 17:45] #73754 closed

[2021-06-04 17:48] jrodewig commented on #55231
The ES EQL docs for the `regex` keyword point to our docs for Lucene's [regular expression syntax](https://www.elastic.co/guide/en/elasticsearch/reference/current/regexp-syntax.html). Now that [LUCENE-9336](https://issues.apache.org/jira/browse/LUCENE-9336) is resolved, we'll support the shorthand classes when ES updates to Lucene 9.0.

[2021-06-04 17:48] #55231 closed

[2021-06-04 17:49] jrodewig commented on #72717
We'll likely need to reformat these files as part of an upcoming docs system migration. Rather than refactor these docs twice, I'm going to close this issue.

[2021-06-04 17:49] #72717 closed

[2021-06-04 19:22] thelink2012 commented on #73569
Hey @jimczi. Thanks for your reply. I have opened a PR with the changes and an explanation of the approach and possible differences in output to the current one.

[2021-06-04 19:41] danielcr10 commented on #73490
Hi @jdconrad , I'm new to the project and would like to try to contribute, could you detail the issue a little more? What exactly I need to do?

[2021-06-04 20:12] williamrandolph opened #73789 "Provide settings for allocation of system indices"
We need to allow system indices to be allocated for resiliency and high availability. We would like to be able to allocate sufficient replicas over various cluster divisions in order to make sure these indices aren’t lost in case of rack or zone failure.

The difficult part of doing this now is that allocations are based on user-provided attributes. We can’t rely on any existing notion of zones or

[2021-06-04 20:12] elasticmachine commented on #73789
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-06-04 20:14] williamrandolph opened #73790 "Automate system index allocation"
In the long run, we would like to improve on the work from #73789 by making the configuration of system index allocation as automatic as possible. At the very least, given a node attribute or set of node attributes that define different availability zones, server racks, or other network units, Elasticsearch should be able to determine an appropriate replication strategy for its system indices.

Th

[2021-06-04 20:14] elasticmachine commented on #73790
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-06-04 21:10] dakrone opened #73791 "CopyExecutionStateStep does not copy all execution state within ILM"
When a new index is created internally within ILM (the shrink and searchable_snapshot actions), ILM copies the execution state from the original to the new index. This usually works fine, however, this copying only includes a subset of the `LifecycleExecutionState`:

https://github.com/elastic/elasticsearch/blob/dc86babfe622963cb9ce99586bad0a4121fd1f3d/x-pack/plugin/core/src/main/java/org/elastics

[2021-06-04 21:10] elasticmachine commented on #73791
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-04 21:22] igoristic opened #73793 "[Monitoring] Add pattern for .monitoring-es-6-* in .monitoring-es index template"
Based on our [support matrix](https://www.elastic.co/support/matrix#matrix_compatibility), and [Stack Monitoring Kibana code](https://github.com/elastic/kibana/blob/355c949463cec5b2169081a809722d55db0e5bf3/x-pack/plugins/monitoring/common/constants.ts#L126-L131) we do support stack monitoring for both 6.x and 7.x major versions. However, right now if we try to monitor a mix of 7.x and 6.x nodes in

[2021-06-04 21:22] elasticmachine commented on #73793
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-04 21:24] dakrone opened #73794 "AsyncActionStep invocation does not correctly handle non-complete responses"
ILM invokes `AsyncActionStep` steps a little differently, these are only invoked once so that we do not run into double-invocation of potentially harmful actions. Generally these work great, however, in this code:

https://github.com/elastic/elasticsearch/blob/dc86babfe622963cb9ce99586bad0a4121fd1f3d/x-pack/plugin/ilm/src/main/java/org/elasticsearch/xpack/ilm/IndexLifecycleRunner.java#L297-L306

W

[2021-06-04 21:24] elasticmachine commented on #73794
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-04 22:04] Tommmster commented on #36627
We have a use case regarding the use of `{index}` placeholder in the `rollover_alias` setting. We'll provide a PR in the upcoming days / weeks. From our point of view, using it for aliases but not for rollover is inconsistent if you consider the case of not using Data Streams (i.e being able to delete / write / update) documents to "older" backing indices.

[2021-06-04 22:08] kevn-gonz opened #73795 "Snapshot and Restore Policies - Ability to get indices using Math Expressions"
In order to create Snapshots, we can go to Management > Elasticsearch > Snapshot and Restore > Policies.

This is a great tool, but I noticed something: In the section where we select the indices to backup, it allows
1. Select ALL the indices
2. Select specific indices manually
3. Use an index pattern to select indices.

Although this is a good approach, an index pattern is not good enough... As y

[2021-06-04 22:22] jakelandis commented on #73774
cc @alisonelizabeth

[2021-06-04 22:55] dakrone opened #73797 "[CI] AutoFollowCoordinatorTests testExcludedPatternIndicesAreNotAutoFollowed failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/cqyaj5kptvx6u/tests/:x-pack:plugin:ccr:test/org.elasticsearch.xpack.ccr.action.AutoFollowCoordinatorTests/testExcludedPatternIndicesAreNotAutoFollowed

**Reproduction line:**
`./gradlew ':x-pack:plugin:ccr:test' --tests "org.elasticsearch.xpack.ccr.action.AutoFollowCoordinatorTests.testExcludedPatternIndicesAreNotAutoFollowed" -Dtests.seed=2A2

[2021-06-04 23:59] marcohevi commented on #73795
I strongly agree. The automated snapshots are somewhat helpful, but plain wildcards are a bit wasteful for archive space.

[2021-06-05 00:33] nshfany commented on #73754
Oh~ thanks! This is a fantastic idea! The problem has been solved satisfactorily by the function of V2 template

[2021-06-05 01:17] tvernum opened #73800 "Docker docs incorrectly reference Gold license for TLS"
The [Docker getting started instructions](https://www.elastic.co/guide/en/elastic-stack-get-started/7.13/get-started-docker.html#get-started-docker-tls) say

However the TLS requirement applies to basic licenses as well.

[2021-06-05 01:17] elasticmachine commented on #73800
Pinging @elastic/es-security (Team:Security)

[2021-06-05 01:17] elasticmachine commented on #73800
Pinging @elastic/es-docs (Team:Docs)

[2021-06-05 01:24] sherry-ger opened #73801 "Data Lineage/dependency management"
Data Lineage for transform/rollup jobs so one can understand the dependencies. It would be useful for both primary and downstream consumers to understand the relationship.  As a primary index owner I update the schema, I understand this may impact X  transforms that are mapped to Y index mapped to Z index owner.  Knowing the data lineage will prevent users accidentally breaking transform or rollup

[2021-06-05 12:43] priyamounica commented on #73763
Hi, Can I work on this issue?

I have good hands-on experience as a backend developer in Java and expertise in Spring Boot and love to work on this.

As a first-time contributor to open source projects, I'm excitingly looking for some interesting stuff to start with and found this suitable for me as I have previously worked in REST APIs involving Sorting, Search, Pagination, etc.

[2021-06-05 12:51] EmilBode commented on #73763
@priyamounica You would have my gratitude, :-)
Though I don't think I'd be the right person to give you permission. If there's anyone from the ES-team who could chime in, that'd be best.

[2021-06-05 12:51] #73772 closed

[2021-06-05 15:30] zhnpeng commented on #68963
Yes, your suggestion is what we are doing for a work around, convert `iso8601` format date to epoch seconds in client side.

[2021-06-05 18:15] danielcr10 commented on #52601
Hi @jdconrad , I'm new to the project and would like to try to contribute. Can I try this?

[2021-06-06 09:31] elasticmachine commented on #73795
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-06 09:31] DaveCTurner commented on #73795
If you have 6TB of data in your cluster then you'll need 6TB of repository storage for the first snapshot, but snapshots include automatic deduplication so subsequent snapshots will need a lot less. It's certainly not the case that each snapshot requires 6TB of additional space as you seem to be suggesting. If the contents of those older indices aren't changing then they'll add almost nothing to l

[2021-06-07 03:30] #63451 closed

[2021-06-07 06:09] tvernum opened #73809 "Audit logs for AutoPutMapping don't include index name"
I haven't tracked this down, but I noticed it in `7.11.2`

I issued a bulk request that triggered auto index creation, and the `indices:admin/mapping/auto_put` audit entries don't include the index name.
[code]

[2021-06-07 06:09] elasticmachine commented on #73809
Pinging @elastic/es-security (Team:Security)

[2021-06-07 07:00] TheRealDwright commented on #52625
For anyone who stumbles upon this, there is a workaround posted [here](https://github.com/elastic/cloud-on-k8s/issues/4225).

First, create a secret containing AWS credentials.
`kubectl create secret generic aws-credentials --from-literal=s3.client.default.access_key=YOUR_ACCESS_KEY --from-literal=s3.client.default.secret_key=YOUR_SECRET_KEY`

Then refer to the secret in the manifest.
[code]

[2021-06-07 08:05] kshitijD38 opened #73814 "How to open the kibana ui in local browser if the kibana is configured on remote server"
I am unable to open the kibana ui
I have already changed server.host to the server ip in kibana.yml
What should i do?

[2021-06-07 08:11] timroes commented on #72559
@jtibshirani Thanks for following up, I forgot to post here. We'll solve that from Kibana side in a way, that this won't required to fulfill our user-requirements anymore, thus no request form Kibana side anymore.

I personally still think it would make sense having this, given the importance that we give runtime fields, and if they really grow in usage we're basically taking away signifcance of t

[2021-06-07 09:38] ywelsch commented on #73460
#73713 covers the scenario when a document has many different field names. There are scenarios which the PR does not cover, e.g. if the document has an array with a crazy number of subobjects that all have the same field name. We currently add a dynamic mapping update for all these subobjects fields, and only merge those later into one. This would only be solved by interleaving dynamic mapping cre

[2021-06-07 10:25] cbuescher commented on #73814
Hi @kshitijD38! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Make sure to use the forum part dedicated to Kibana when

[2021-06-07 10:25] #73814 closed

[2021-06-07 10:57] elasticmachine commented on #73763
Pinging @elastic/es-search (Team:Search)

[2021-06-07 10:57] cbuescher commented on #73763
I was able to reproduce on 7.13. Note that the "format" in the query seems to causes the error, not the `numeric_type`. This works for me though:
[code]

[2021-06-07 11:37] #73797 closed

[2021-06-07 11:43] liusiyuxyfx opened #73827 "Is PIT(point in time) supported in JAVA API?"
I want to use search_After with PIT in my JAVA Program, but I can't find find any documentation about it, is there any description?

[2021-06-07 11:58] benwtrent commented on #73559
Another bunch of auth failures due to SAS token:

https://gradle-enterprise.elastic.co/s/rbyoqfowkfmkg

All in 7.x

[2021-06-07 12:03] cbuescher commented on #73763
This is right, for dates (which are internally represented as long) we use Long.MIN_Value, which is negative. Nanosecond dates cannot be negative though, so we should probably use another default in this case. In the meantime using `"missing": 0` should also be a good workaround since that will resolve to "1970-01-01T00:00:00.000Z"

[2021-06-07 12:03] benwtrent commented on #73539
https://gradle-enterprise.elastic.co/s/oclz34bo62jno

Very similar failure. I am not sure we should mute all the `:x-pack:qa:smoke-test-plugins` running on windows...
[code]

[2021-06-07 12:07] DaveCTurner opened #73830 "Missing docs for HTTP client stats"
In https://github.com/elastic/elasticsearch/pull/64561 we augmented the response to `GET _nodes/stats/http` with information on the individual clients currently connected to Elasticsearch. The [node stats API docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-nodes-stats.html) does not currently describe the new client stats:

<img width="732" alt="screenshot of docs sho

[2021-06-07 12:07] elasticmachine commented on #73830
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-07 12:07] elasticmachine commented on #73830
Pinging @elastic/es-docs (Team:Docs)

[2021-06-07 12:08] benwtrent commented on #67887
Yet another failure: https://gradle-enterprise.elastic.co/s/lvupzukbnwf72

[code]

Reproduce with:
[code]

This thing has started [failing consistently after may 25th](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(_source),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:b646ed00-

[2021-06-07 12:13] benwtrent commented on #67887
[63.zip](https://github.com/elastic/elasticsearch/files/6608690/63.zip)
Here are the server logs for the test failure.

[2021-06-07 12:21] cbuescher commented on #73763
Note that both `"order": "asc", "missing" : "_first"` and `"order": "desc", "missing" : "_last"` will be problematic. Without a "missing" value `asc` works as expected, `desc` is the problematic case described above.

[2021-06-07 12:36] #69490 closed

[2021-06-07 12:57] astefan commented on #72963
Closing this one now, as there were no more failures in the last week.

[2021-06-07 12:58] danhermann commented on #73830
I missed a backport on this one. Will be resolved in https://github.com/elastic/elasticsearch/pull/73835.

[2021-06-07 13:03] benwtrent opened #73836 "[CI] GeoShapeScriptDocValuesIT testRandomShape failing"
testRandomShape is failing due to floating point rounding errors

**Build scan:**
https://gradle-enterprise.elastic.co/s/lpjq36zokdrwo/tests/:x-pack:plugin:spatial:internalClusterTest/org.elasticsearch.xpack.spatial.search.GeoShapeScriptDocValuesIT/testRandomShape

**Reproduction line:**
`./gradlew ':x-pack:plugin:spatial:internalClusterTest' --tests "org.elasticsearch.xpack.spatial.search.GeoShap

[2021-06-07 13:03] elasticmachine commented on #73836
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2021-06-07 13:08] #73830 closed

[2021-06-07 13:23] pugnascotia commented on #73623
Quoting https://github.com/docker-library/official-images#repeatability

The UBI images on Docker Hub are not official images at this time, and Docker could take issue with our using it in the default image build. Until the status of the UBI images changes, I don't see how we can make progress here.

[2021-06-07 13:28] alisonelizabeth commented on #73774
++ for consistency between the deprecation logs and info API

At some point, possibly. From a user perspective, I could see it being frustrating to have to check both the API and logs for issues before upgrading. Having all deprecations in a unified place would be really nice.

That said, using only the logs does present some challenges. As you pointed out, there would not be an easy way to determ

[2021-06-07 13:59] DaveCTurner commented on #73830
Thanks Dan!

[2021-06-07 14:06] benwtrent commented on #72194
Closing as duplicate to: https://github.com/elastic/elasticsearch/issues/71010

[2021-06-07 14:06] #72194 closed

[2021-06-07 14:12] benwtrent commented on #71010
Exact same failure again.

https://gradle-enterprise.elastic.co/s/yli373x6auyem/

[code]

It happens fairly rarely, [2-3 times a week](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-60d,mode:quick,to:now))&_a=(columns:!(_source),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:b646ed00-7efc-11e8-bf69-63c8ef516157,key:b

[2021-06-07 14:17] ywelsch opened #73845 "Reduce memory footprint of TextFieldMapper"
Having a larger number of mapped fields consumes quite a bit of heap memory. TextFieldMapper holds onto its builder object,  which results in a simple field definition to easily hold onto 7KB of heap memory. This means that on a small node (1GB heap), 20k fields (e.g. 20 indices with 1000 fields each) can result in 150MB of memory being used purely for the mappings.

Relates https://github.com/ela

[2021-06-07 14:17] elasticmachine commented on #73845
Pinging @elastic/es-search (Team:Search)

[2021-06-07 14:18] cbuescher commented on #73763
@priyamounica if you want to take this one up I'd suggest you to look at the resolution of the "missing" field in `FieldSortBuilder#build`. I think we should manually set it to the right value for data_nanos. We would also need tests for all these cases in `FieldSortBuilderTests` I think.

[2021-06-07 14:50] javanna commented on #73827
hi @liusiyuxyfx , support for PIT has been recently added to the high level rest client, see #https://github.com/elastic/elasticsearch/pull/72167 . I am also having trouble finding its documentation, although it was added as part of the same PR I linked, I will follow-up on that.

[2021-06-07 14:50] #73827 closed

[2021-06-07 14:52] elasticmachine commented on #73801
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2021-06-07 14:52] elasticmachine commented on #73801
Pinging @elastic/ml-core (Team:ML)

[2021-06-07 15:03] #73791 closed

[2021-06-07 15:04] rjernst commented on #66555
#72995 has to be reverted, so the upgrade of Jackson fixing this hex issue needs to be reopened.

[2021-06-07 15:09] rjernst commented on #73539
The upgrade of Azure is going to be reverted ( #73837). That will "fix" this issue, at least for now until we upgrade again.

[2021-06-07 15:27] mark-vieira commented on #73623
Bummer. Ok, I've communicated this to the stack team. I suppose we can simply close this issue for now and reopen when things change.

[2021-06-07 15:27] #73623 closed

[2021-06-07 15:33] #73794 closed

[2021-06-07 15:34] #73142 closed

[2021-06-07 15:41] danielm777 opened #73857 "highlighting wrong when phrase searching nested documents"
The highlighter sometimes highlights a term from the phrase when doing a phrase search in nested documents.

Server version:
[code]

Here's the scenario that replicates this issue.

1. Create index

[code]
2. Create doc

[code]

3. Search

[code]

The highlight section of the results is like this - it picks up the john term from the first item in the entity array which is not correct for a phrase

[2021-06-07 15:44] martijnvg commented on #72062
I have looked at the server logs (to find more info about what happened in the follow index call), but I couldn't find out whether the `.ds-logs-syslog-prod-2021.06.04-000001` is missing in the leader or follower cluster or any other significant clue. I like to add few more assertions around the `followIndex(...)` method invocation.

I did see:

[code]

Which suggests that at some point the index

[2021-06-07 16:03] elasticmachine commented on #73857
Pinging @elastic/es-search (Team:Search)

[2021-06-07 16:20] fcofdez commented on #73050
This seems to be related to #73845

[2021-06-07 16:27] benwtrent commented on #73073
yet another timeout for fedora 32: https://gradle-enterprise.elastic.co/s/o4eklgip5bxzo

Nothing big in the threads, it seems to occur in cleanup?

[2021-06-07 16:32] dakrone opened #73859 "[CI] NestedObjectMapperTests testReorderParent failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/3nm44beqm5twe/tests/:server:test/org.elasticsearch.index.mapper.NestedObjectMapperTests/testReorderParent

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.index.mapper.NestedObjectMapperTests.testReorderParent" -Dtests.seed=D9BE1800D6C89E60 -Dtests.locale=sr-Latn -Dtests.timezone=GB-Eire -Druntime.java=8`

**Applica

[2021-06-07 16:32] elasticmachine commented on #73859
Pinging @elastic/es-search (Team:Search)

[2021-06-07 17:33] rjernst commented on #73859
Muted in 01278938072

[2021-06-07 17:38] jtibshirani opened #73860 "Missing percolator highlights with nested docs present"
If a document has nested documents and it's highlighted against a percolator query, then some highlights may be missing. This bug only seems to happen with term vector highlighting.

Example reproduction:
[code]

[2021-06-07 17:38] elasticmachine commented on #73860
Pinging @elastic/es-search (Team:Search)

[2021-06-07 17:42] Vince-Smith commented on #20757
I'm curious if anyone can provide guidance on how to query these `min_hash` fields once they've been analyzed. I'm not finding it to be intuitive.

[2021-06-07 17:48] jtibshirani commented on #73860
My current understanding of the bug: when nested documents are present, we may use the wrong doc ID for the parent document. https://github.com/elastic/elasticsearch/blob/7ad3cdde72dce01e39bd9fcae21ae1f8aeec3839/modules/percolator/src/main/java/org/elasticsearch/percolator/PercolatorHighlightSubFetchPhase.java#L84-L93

[2021-06-07 18:00] B-Souty commented on #61385
Has there been any progress on this issue? We just had this issue in production using ECK where a master was in a crash loop due to a plugin already installed. I really like the solution proposed in #70219

[2021-06-07 18:05] #73125 closed

[2021-06-07 19:22] benwtrent commented on #72019
This has not failed in the same way since merging: https://github.com/elastic/elasticsearch/pull/72171

Closing issue

[2021-06-07 19:22] #72019 closed

[2021-06-07 19:24] #72040 closed

[2021-06-07 19:47] benwtrent commented on #72963
Surprise! Two more failures.

Both failed with:

Throwable #1: java.time.zone.ZoneRulesException: Unknown time-zone ID: America/Nuuk

https://gradle-enterprise.elastic.co/s/6jqxfpy5cjtqe

reproduce with:
[code]

Runtime info
[code]

https://gradle-enterprise.elastic.co/s/zwjln6kii34n2

reproduce with:
[code]
Runtime info
[code]

[2021-06-07 20:09] astefan commented on #72963
@benwtrent these failures are not in ES SQL tests. I'd suggest creating a new issue for these specifically.

[2021-06-07 20:11] jtibshirani commented on #72559
Great, I'll close for now and we'll keep a lookout for feedback related to this.

[2021-06-07 20:11] #72559 closed

[2021-06-07 21:02] cjcenizal opened #73865 "Legacy index template migration guide"
Per https://github.com/elastic/kibana/issues/98210, we'd like to encourage users to migrate their legacy index templates to composable index templates. If we had a guide online for doing this, then we could link to it in the UI. Any guidance at all would be helpful, even if it's just basic gotchas or tips.

[2021-06-07 21:02] elasticmachine commented on #73865
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-07 21:02] elasticmachine commented on #73865
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-07 21:57] dakrone opened #73869 "Enhance ILM get policy API to include indices, templates, and data streams using the policy"
When editing a policy, it is helpful to know what is using that policy so that the repercussions of an update is known.

We should update the output to be something like:

[code]

[2021-06-07 21:57] elasticmachine commented on #73869
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-07 22:02] dakrone opened #73871 "Enhance get composable template API to include data streams using the template"
When updating a template, it would be helpful to know which data streams might be using the template to know where its update will take effect. We should consider something like:

[code]

See `in_use_by`

[2021-06-07 22:02] elasticmachine commented on #73871
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-08 04:14] #73836 closed

[2021-06-08 07:20] hendrikmuhs commented on #67887
This might fit with https://github.com/elastic/elasticsearch/pull/73411

It re-enables index sort coverage testing on `7.x`

 - it seems `master` is not affected, its enabled there at least a week longer than `7.x`
 - the test should log relevant configurations, I will check for common parts, e.g. if index sort is enabled in all the failure cases

The mute disabled all tests globally, however it s

[2021-06-08 07:20] astefan commented on #73657
One more (recent) failure. Probably similar, if not the same: https://gradle-enterprise.elastic.co/s/kosk7c47y2ujy

[2021-06-08 07:21] astefan commented on #73657
And a bit older one: https://gradle-enterprise.elastic.co/s/ov4hrnxx2vnxg

[2021-06-08 08:08] barkbay opened #73883 "ECK, shard allocation awareness and node roles."
Hi team 👋 ,

We (the ECK team) would like to have your though on an issue we had with zone awareness.

First, to give some context here is what happens today when an Elasticsearch cluster is deployed with ECK:
 1. ECK sets a Kubernetes `podAntiAffinity` rule to avoid K8S to schedule 2 Elasticsearch Pods from a same ES cluster on a same K8S host:

[code]

Note that this affinity rule is only a "bes

[2021-06-08 08:24] elasticmachine commented on #73883
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-08 08:30] romseygeek commented on #73859
This is due to a mistaken backport, as this particular test should only apply to master.  I'll open a PR to remove it from 7.x

[2021-06-08 08:33] DaveCTurner commented on #73883
I think this duplicates https://github.com/elastic/elasticsearch/issues/52374 which remains unresolved. Allocation awareness does not today take allocation filtering into account, so it sees more zones than it should. So no I don't think there's a way to make Elasticsearch do what you want today, but yes we'd like to address that in the future.

[2021-06-08 09:08] yuliacech commented on #73869
pinging @elastic/kibana-stack-management for visibility

[2021-06-08 09:46] tlrx commented on #73706
In #73650 I modified EsRestCase in order to delete searchable snapshots indices in the after test clean up logic. This additional clean up logic made this test to fail because sometimes the index was deleted by ILM at the time it is executed. I merged #73753 to ignore the case where the index is not found (that's ok - it does not exist anymore and that's all we want) and I opened #73888 to deal wi

[2021-06-08 10:14] SanQi2211 opened #73890 "贵网站一直访问失败 各种503，500 ，502请检查"
**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem,
including (e.g.) index creation, mappings, settings,

[2021-06-08 10:25] romseygeek commented on #72885
This was fixed by #73359

[2021-06-08 10:25] #72885 closed

[2021-06-08 11:46] probakowski commented on #66392
Another one https://gradle-enterprise.elastic.co/s/l3iuvolx5g4ms

[2021-06-08 12:18] #73800 closed

[2021-06-08 12:19] #73022 closed

[2021-06-08 12:28] joshdover opened #73895 "Delete operations on `_bulk` API should return 404 instead of 409 when document doesn't exist"
I'm trying to use the `_bulk` API to delete documents that are in the same state they were when previously read. To do this, I need to use optimistic concurrency control to be sure I don't delete a document that has had more recent writes.

However, the error messages with optimistic concurrency control for delete operations on the `_bulk` API doesn’t differentiate very well between documents that

[2021-06-08 12:35] elasticmachine commented on #73895
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-08 12:41] DaveCTurner commented on #73890
I believe you're asking whether we are aware that the https://elastic.co/ website was unavailable recently. Yes we were, the site's CDN provider, Fastly, experienced some problems but appears to be on the road to recovery now. See https://status.fastly.com/incidents/vpk0ssybt3bj for more details.

For future reference this Github repository is really only for Elasticsearch development, not the web

[2021-06-08 12:41] #73890 closed

[2021-06-08 12:54] droberts195 commented on #72329
It looks like the same error just occurred in https://gradle-enterprise.elastic.co/s/h7xi5tf25tkjm

[2021-06-08 13:19] fcofdez commented on #73539
I'm closing this issue as it should be solved by (#73837)

[2021-06-08 13:19] #73539 closed

[2021-06-08 13:20] fcofdez commented on #73559
I'm closing this issue as it should be solved by (#73837)

[2021-06-08 13:20] #73559 closed

[2021-06-08 13:28] benwtrent opened #73899 "RangeQueryBuilderTests. testToQuery Failure due to unknown timezone"
**Build scan**:
https://gradle-enterprise.elastic.co/s/6jqxfpy5cjtqe
https://gradle-enterprise.elastic.co/s/zwjln6kii34n2
**Repro line**:
[code]

[code]
**Reproduces locally?**:
No
**Applicable branches**:
6.8
**Failure history**:
Similar failures recorded here: https://github.com/elastic/elasticsearch/issues/72963
**Failure excerpt**:

[code]

Here is the runtime info for each linked buildscan (r

[2021-06-08 13:28] elasticmachine commented on #73899
Pinging @elastic/es-delivery (Team:Delivery)

[2021-06-08 13:28] benwtrent commented on #72963
Opening new issue: https://github.com/elastic/elasticsearch/issues/73899

Even though its probably the same root cause, new issue for tracking work.

[2021-06-08 13:28] #72963 closed

[2021-06-08 13:33] #73200 closed

[2021-06-08 14:40] breskeby commented on #73615
Calling this fixed as https://github.com/elastic/elasticsearch/pull/73699 is merged to master and 7.x

[2021-06-08 14:40] #73615 closed

[2021-06-08 14:51] Luegg commented on #64567
I've found a related inconsistency when using literal selection:

`SELECT gender, 1 FROM test_emp WHERE gender = 'F'` retrieves

[code]

and `SELECT 1 FROM test_emp` retrieves

[code]

but `SELECT 1 FROM test_emp WHERE gender = 'F'` only retrieves a single record like `SELECT 1` would:

[code]

I think the expected behaviour is to retrieve a `1` for every document matching the condition.

[2021-06-08 15:43] matriv commented on #73464
I don't understand how your proposal differs from:
[code]
where you skip the first `{offset}` number of records and you return the next `{limit}` number of records.

We don't want to promote this kind of pagination because to accomplish pagination this way you need to execute multiple queries, and there is no guarantee that you have the same "view" ("snapshot") of the data between them. So there i

[2021-06-08 16:34] mark-vieira opened #73915 "[CI] XPackRestIT test {p0=ml/ml_standard_analyze/Test 7.14 analyzer with multiple multiline messages} failing"
There was another instance like this yesterday in a PR build: https://gradle-enterprise.elastic.co/s/jihkfurxqvvju/tests/:x-pack:plugin:yamlRestCompatTest/org.elasticsearch.xpack.test.rest.XPackRestIT/test%20%7Bp0=ml%2Fml_standard_analyze%2FTest%207.14%20analyzer%20with%20blank%20lines%7D

Didn't reproduce but maybe something is up. Tagging with core/features as well given this might be rest compa

[2021-06-08 16:34] elasticmachine commented on #73915
Pinging @elastic/ml-core (Team:ML)

[2021-06-08 16:34] elasticmachine commented on #73915
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-08 16:53] mark-vieira commented on #73915
Ok, nevermind. Updating my branch seemed to fix it.

[2021-06-08 16:53] #73915 closed

[2021-06-08 17:03] droberts195 commented on #73915
Yes, I had to mute this test in master in the period where the changes to the `ml_standard` analyzer were in the master branch but not in 7.x.  Now those changes are in both 7.x and master the test should work.  I unmuted it in #73885.

The failure from yesterday was in my PR where I changed the `ml_standard` analyzer, so not surprising.  But it's very surprising that it failed in _your_ PR from a

[2021-06-08 17:19] #72889 closed

[2021-06-08 17:23] P1llus opened #73918 "[Ingest Pipeline] Date processor performance issues - Discussion"
When working with beats and elastic-agent integrations, there are occasions in which the ingest pipelines might be slower than intended, looking at benchmarking stats it has pointed us towards the `date processor` being the culprit.

With integrations that potentially have tens or hundreds of processors, a single date processor will still take up almost more time than almost the rest combined, no

[2021-06-08 17:41] elasticmachine commented on #73918
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-08 18:34] ppf2 opened #73922 "Better tooling/logs for troubleshooting long running CCS requests"
Troubleshooting long running cross cluster search requests is challenging especially in large environments with a lot of downstream clusters distributed across different regions.

In order to isolate, the users will have to extract the search request and run it against every downstream cluster separately and also against all clusters to compare the timings to see if any one or more clusters are sl

[2021-06-08 18:44] jimczi opened #73925 "FunctionScoreQuery have a direct reference to QueryShardContext"
`FunctionScoreQuery` can be cached on a per-segment basis in the Lucene query cache. However a recent [refactoring](https://github.com/elastic/elasticsearch/issues/64017) made them depend on the `QueryShardContext` so the query cache can now keep references to old index readers.
That should be considered as a leak since this memory is not taken into account in the cache size.

[2021-06-08 18:44] elasticmachine commented on #73925
Pinging @elastic/es-search (Team:Search)

[2021-06-08 18:50] jimczi commented on #73925
One additional comment here is whether we should allow FunctionScoreQuery to be cached. They are meant to produce a score so seeing them in the query cache would be surprising.

[2021-06-08 18:56] elasticmachine commented on #73922
Pinging @elastic/es-search (Team:Search)

[2021-06-08 19:47] #27377 closed

[2021-06-08 20:00] imotov opened #73928 "Consider upgrading to T-Digest 3.3"
The new version of t-digest promises improved [accuracy under most circumstances](https://tdunning.blogspot.com/2021/06/whats-new-in-t-digest-new-version-32.html). We should consider upgrading.

[2021-06-09 01:21] dyhyao6 opened #73933 "How to modify elasticsearch setsp password and set a fixed password"
when i setup password ,i will input too many password .is there a way to set a fixed password ? i want to write a fixed password to the elasticsearch-setsp-password shell.

[2021-06-09 02:52] matschaffer opened #73934 "Allow snapshot restore after write alias has been moved by ILM"
I've seen some cases where a snapshot restore has failed with an error like this:

[code]

The sequence of events is roughly:

1. Data is being written to `matschaffer-filebeat-7.7.1-2021.03.21-000095` via `matschaffer-filebeat-7.7.1` write alias
2. A snapshot is taken which backs up `matschaffer-filebeat-7.7.1-2021.03.21-000095` with the alias information
3. ILM rolls over `matschaffer-filebeat-7

[2021-06-09 07:37] martijnvg commented on #73871
Should we also include the use of regular indices via `in_use_by` object field?

[2021-06-09 09:05] pugnascotia commented on #72849
Appears to be the same failure on `6.8`:

https://gradle-enterprise.elastic.co/s/uiwxvnt35dupy/console-log#L1248

[2021-06-09 09:19] cbuescher commented on #73933
Hi @dyhyao6. Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2021-06-09 09:19] #73933 closed

[2021-06-09 09:28] pugnascotia commented on #72130
This failed again on `7.x`:

[code]

https://gradle-enterprise.elastic.co/s/37ex6hjmojtfy

[2021-06-09 10:39] ywelsch opened #73944 "Field usage API"
Understanding which fields are being used and how often helps users make a choice between indexed and runtime fields. The ones not being accessed (or not frequently being accessed) might be good candidates to be turned into runtime fields. Conversely, frequent queries on a runtime field might make them good candidates to be turned into proper indexed fields.  This is complementary to [disk usage s

[2021-06-09 10:39] elasticmachine commented on #73944
Pinging @elastic/es-search (Team:Search)

[2021-06-09 11:02] vijay8484 opened #73945 "Exception in thread "main" java.lang.NoSuchMethodError: 'com.google.common.collect.ImmutableSet$Builder com.google.common.collect.ImmutableSet.builder()' at com.google.inject.internal.util.SourceProvider.<init>(SourceProvider.java:47) at com.google.inject.internal.util.SourceProvider.<init>(SourceProvider.java:41) at com.google.inject.internal.util.SourceProvider.<clinit>(SourceProvider.java:38) at com.google.inject.internal.Errors.<init>(Errors.java:111) at com.google.inject.internal.InternalInjectorCreator.<init>(InternalInjectorCreator.java:65) at com.google.inject.Guice.createInjector(Guice.java:87) at com.google.inject.Guice.createInjector(Guice.java:69) at com.google.inject.Guice.createInjector(Guice.java:59)"
Getting this issue while migrating to java 11

=> System.out.println(System.getProperty("java.class.path"));
=> System.out.println(com.google.common.collect.ImmutableSet.class.getResource("ImmutableSet.class"));

Projects\DevCommunitySession\target\classes;C:\Users\vp27570\.m2\repository\org\postgresql\postgresql\42.2.8\postgresql-42.2.8.jar;C:\Users\vp27570\.m2\repository\com\zsassociates\aws\jer

[2021-06-09 11:25] henningandersen commented on #62439
The [last test failure](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-60d,mode:quick,to:now))&_a=(columns:!(branch),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:testRequestBreaker),sort:!(time,desc))) (since the last fix) was against 7.12 where the above fix was not included. It looks like this sto

[2021-06-09 11:48] ywangd commented on #73543
@tvernum I noticed the same `queryString` parameter (camel case) is also used for [RestSamlInvalidateSessionAction](https://github.com/elastic/elasticsearch/blob/7.13/x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/rest/action/saml/RestSamlInvalidateSessionAction.java#L41). Do you think it should be deprecated and replaced with `query_string` as well? If so, I can raise a PR

[2021-06-09 12:09] tlrx opened #73947 "Prevent deletion of snapshots that are mounted and ILM delete action"
Today nothing prevents the deletion of a snapshot that is used by a searchable snapshot index. If such a snapshot is deleted the mounted index will go RED in the future. We started to implement a check in #73821 to prevent the deletion of snapshots that are used by searchable snapshots indices within the same cluster and it made some ILM tests to fail.

ILM has a delete index action `DeleteAction`

[2021-06-09 12:09] elasticmachine commented on #73947
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-09 12:09] elasticmachine commented on #73947
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-09 12:35] pgomulka opened #73948 "[CI] SearchHitsTests testEqualsAndHashcode failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/k3mbxqiha2fly/tests/:server:test/org.elasticsearch.search.SearchHitsTests/testEqualsAndHashcode

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.search.SearchHitsTests.testEqualsAndHashcode" -Dtests.seed=AECE544420BEE9E2 -Dtests.locale=sr-Latn-ME -Dtests.timezone=Europe/Riga -Druntime.java=11`

**Applicable branches

[2021-06-09 12:40] pgomulka commented on #73948
very unlucky failure :)
[code]
where two keys were the same
[code]

[2021-06-09 12:49] jrodewig commented on #30353
Closing this issue. This link is currently fixed in our 7.13 docs (which is the current build as time of writing):
https://artifacts.elastic.co/javadoc/org/elasticsearch/client/elasticsearch-rest-high-level-client/7.13.0/org/elasticsearch/client/RestHighLevelClient.html

[2021-06-09 12:49] #30353 closed

[2021-06-09 13:06] #71519 closed

[2021-06-09 13:43] #71644 closed

[2021-06-09 14:16] jpountz opened #73956 "Is IndexingMemoryController unfair to shards that ingest lots of data?"
IndexingMemoryController tries to maintain the amount of RAM used across all IndexWriters by periodically flushing the IndexWriter that consumes the most memory when overall memory usage is above the limit. I wonder if this strategy is unfair to the shards that ingest the most data.

Here is a simplified example, there is shard1 that ingests data so that its IW buffers frows by 100MB per second an

[2021-06-09 14:17] elasticmachine commented on #73956
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-09 14:46] kevn-gonz commented on #73795
Hi @DaveCTurner thank you for your response!
You're right, the deduplication thing does a really good job! I read [here](https://www.elastic.co/blog/found-elasticsearch-snapshot-and-restore) that it was going to add "redundant" data so I it was confusing, I might misunderstood it.

Anyways, having a single snapshot for all the indices we have is not good, we have been doing that for quite some tim

[2021-06-09 14:46] #73795 closed

[2021-06-09 15:27] P-EB commented on #71205
Please provide a "better alternative" that allows to both not lose raw space and not put a whole storage at risk (so nope, RAID0 is not okay).

JBOD is a valid industry standard. It's actually used by many massive storage technologies. MDP is just an overlay on JBOD.

I know it's become common to use the term "legacy" to try convincing people something is bad, but first, legacy is not bad, and sec

[2021-06-09 16:04] jakommo commented on #47452
@nik9000 was talking to a user about this and I see you self assigned it a while ago. Is this still something on your list ?

[2021-06-09 16:09] nik9000 commented on #47452
Sorry, not really. That was a speculative assignment and I ended up wandering off into another direction. Though @not-napoleon might be interested to read this as he's been spending more time with composite lately.

[2021-06-09 16:52] elasticmachine commented on #73948
Pinging @elastic/es-search (Team:Search)

[2021-06-09 17:51] elasticmachine commented on #73708
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-09 18:48] mayya-sharipova opened #73968 "Field key suggester API for flattened field"
We need a new API that for a given flattened field lists field keys starting with a given string.

For example, the request below lists first 10 field keys for `x_pack_telemetry` flattened field that start with "x_pack_telemetry.stack_stats".

[code]

Implementation-wise this could be either:
-   similar to [_terms_enum API](https://github.com/elastic/elasticsearch/pull/66452).
-  we would index a

[2021-06-09 19:39] ppf2 opened #73971 "Async search support for cross cluster search minimize round trip optimization"
[Async search](https://www.elastic.co/guide/en/elasticsearch/reference/current/async-search.html) does not currently support minimize roundtrip optimization when used with cross cluster search.  This is a documented limitation.

With Kibana now using async searches by default, this could cause performance issues in some environments that use cross cluster search with slower/inconsistent network la

[2021-06-09 19:43] dakrone commented on #73871
I think I would prefer to leave this out for now, as I think it'll cause confusion for users with regard to an (incorrect) assumption that changing a template retroactively changes an index's settings. I also think it'll be kind of confusing with the way that data stream indices are named (in that they wouldn't directly match the index patterns since they are prefixed with things like "`partial-`"

[2021-06-09 19:47] DaveCTurner opened #73972 "Implement runRandomly() equivalent in SnapshotResiliencyTests"
Today the `SnapshotResiliencyTests` technically cover everything 100% but they're designed around fairly specific scenarios run against a fairly fresh cluster. In contrast, the `CoordinatorTests` typically start by getting the system into a realistically weird state by calling `runRandomly()` first (verifying some invariants along the way) before playing out the scenario that is actually the subje

[2021-06-09 19:47] elasticmachine commented on #73972
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-09 20:04] jtibshirani commented on #73968
When I filed #43805, I initially envisioned a solution specific to flattened fields. But I think we should instead consider a general API to provide field name suggestions for all fields in the matching indices. This API would handle flattened subfields 'under the hood' and surface them as suggestions. A general API seems easier to work with for clients like Kibana, so they don't need to track whi

[2021-06-09 20:06] wchaparro commented on #73215
Hey @Zacqary just following up on this one. Can you help us out with a way to reproduce this issue? Thanks!!!

[2021-06-09 20:08] not-napoleon commented on #72983
Hey, can you provide a more complete set of reproduction steps for this, I'm having trouble seeing exactly what you're doing.  Ideally, I'd like a full query and the sample data it's running against in order to get the exact results you're seeing.  Thanks!

[2021-06-09 20:15] wchaparro commented on #70561
@iverase should we update the docs for this one? @jrodewig FYI

[2021-06-09 20:17] not-napoleon commented on #70161
@jimczi - Does this still need work?  Do we just need to update the docs?  Can we close it?

[2021-06-09 20:21] wchaparro commented on #69890
Hey @nreese is this still a need for the Kibana team?

[2021-06-09 20:23] not-napoleon commented on #67405
I'm closing this - rollup is experimental, and this is fixed in the (in progress) GA version.

[2021-06-09 20:23] #67405 closed

[2021-06-09 20:27] not-napoleon commented on #65330
@imotov - Is this something we're still interested in picking up?

[2021-06-09 20:33] nreese commented on #69890
I would define complex shapes as one with lots of holes.

Yes, it would be great if there could be some kind of circuit breaker for indexing complex shapes. It's still a problem but I am unsure how many users are effected since most used cases seem to be simpler shapes

[2021-06-09 20:34] not-napoleon commented on #62742
@iverase Can we close this?  Looks like it's working as intended.

[2021-06-09 20:36] jrodewig commented on #70161
I removed the docs for the refactored rollup API + ILM action with https://github.com/elastic/elasticsearch/pull/70885 as it seemed unlikely that we'll move forward with that functionality. I don't think updating the docs is likely the fix here.

[2021-06-09 20:38] not-napoleon commented on #63318
We're migrating towards runtime fields as a replacement for aggregation scripts in general, and we don't support `_score` in runtime fields.  And as already noted, `_score` on cardinality doesn't make a whole lot of sense.  Given that, I'm closing this as won't fix.

[2021-06-09 20:38] #63318 closed

[2021-06-09 20:40] wchaparro commented on #61396
@csoulios Thoughts on this one?

[2021-06-09 20:41] not-napoleon commented on #60495
@iverase Can you take a look at this and see if it's something we should fix?

[2021-06-09 20:43] danhermann commented on #73918
I spent some time looking into this and saw that there was a significant increase in the execution time (~10x) of the date processor between the 7.4.2 and 7.5.0 releases. There were no changes to the date processor in that timeframe, but there were changes to several of the classes on which it depends and the changes to `JavaDateFormatter` in #46654 looked to be the most substantial. I attempted t

[2021-06-09 20:50] not-napoleon commented on #59097
@nik9000 Do we still care about this or can we close it?

[2021-06-09 20:52] wchaparro commented on #58967
Hey @csoulios What are your thoughts on this one?

[2021-06-09 20:53] nik9000 commented on #59097
I don't think we are going to do anything about this for a while. So I'd zap it.

[2021-06-09 20:53] #59097 closed

[2021-06-09 20:54] not-napoleon commented on #49225
Closing in favor of #73928 - upgrading to t-digest 3.3 should fix this issue.

[2021-06-09 20:55] #49225 closed

[2021-06-09 20:58] not-napoleon commented on #48680
@csoulios @giladgal I don't think we should fix this for the experimental rollup branch, but for the GA version, we should decide on and document a minimum rollup interval.

[2021-06-09 21:02] not-napoleon commented on #61396
Looks to be a duplicate of #45591, closing in favor of that one.

[2021-06-09 21:02] #61396 closed

[2021-06-09 22:04] liza-mae opened #73979 "Fatal NoClassDefErrror com/fasterxml/jackson/core/util/JacksonFeature"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.14.0-SNAPSHOT

**Plugins installed**: []

**JVM version** (`java -version`): Unknown - Cloud

**OS version** (`uname -a` if on a Unix-like system): Unknown - Cloud

**Description of the problem including expected versus actual behavior**:
Unable to start Elasticsearch, getting a Java NoClassDefFound error

**Steps to reproduce**:
Start 7

[2021-06-09 22:45] mark-vieira commented on #73979
The issue here seems to be that the `jackson-core` jar is missing from the plugin bundle:
[code]

Looking at the [build logic here](https://github.com/elastic/elasticsearch/blob/ea641cd359e6e1b8459747d912bf9db0d0b51f32/build-tools/src/main/java/org/elasticsearch/gradle/plugin/PluginBuildPlugin.java#L242) you can see were are removing `compileOnly` dependencies from the bundled plugin. In [this bui

[2021-06-09 22:53] mark-vieira commented on #73979
Ok, so I just checked 7.13 and there's no `jackson-core` jar in the plugin their either. So that means for some reason the S3 plugin can't see the JAR in the distribution `libs` dir. Could be a) some classloader goofiness or b) the jar is missing.

[2021-06-09 23:23] rjernst commented on #73979
@liza-mae Can we get the complete log file? The ClassDefNotFound usually indicates a failure to load the class earlier in the log, often with a static init exception.

@mark-vieira `jackson-core` is a dependency of server, it is on the application classpath, which is why plugins do not bundled it (it would cause jarhell).

[2021-06-09 23:24] mark-vieira commented on #73979
Understood, which confirms my understanding. Thanks.

[2021-06-09 23:24] rjernst commented on #73979
Also, I see this is a 7.14 snapshot. Was that snapshot built prior to a few days ago? We just reverted back to jackson 2.10 from 2.12. I wonder if there was some issue with 2.12 there.

[2021-06-09 23:25] elasticmachine commented on #73979
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-06-09 23:26] mark-vieira commented on #73979
Yeah, could just be a coincidence but seemed awfully suspicious. This build had to have been post 2.12 upgrade since the `JacksonFeature` was introduced in 2.12 and doesn't exist in 2.10. Perhaps the next build which includes the revert to 2.10 will just sort this out. Would be interesting to know what exactly went wonky here though.

[2021-06-09 23:28] rjernst commented on #73979
Ok, I have a theory. The plugins are pulled separately from the rest of Elasticsearch. Since we are talking about snapshots, this could have been a case where ES itself got a snapshot with the reversion to 2.10, but the plugins were still built against 2.12. They then try to find `JacksonFeature`, but can't.

[2021-06-09 23:29] mark-vieira commented on #73979
I was just going to say the same thing. That would definitely explain what's happening here. We might want to confirm offline with Cloud folks on how this stuff is orchestrated. If we aren't using the same commit for ES and plugins we are going to get all sorts of funny behavior in these test environments.

[2021-06-10 00:23] tvernum commented on #73543
I guess we should. It's wrong, so we ought to fix it.

[2021-06-10 00:39] liza-mae commented on #73979
@rjernst @mark-vieira thanks, I don't any other error messages in the log, but I have attached it.

The ESS ```7.14.0-SNAPSHOT``` that was working for me yesterday was built on ```June 6``` and if related, should have contained PR: [Upgrade SDK and Jackson](https://github.com/elastic/elasticsearch/pull/73493) and the build today ```June 9``` should have contained the PR: [Revert Upgrade SDK and Ja

[2021-06-10 01:22] imotov commented on #65330
@not-napoleon I would keep it open for now. I don't think we will address it now, but we might be able to get there as part of another effort. It would work as a good reminder about this use case.

[2021-06-10 02:30] MarkRibeiro commented on #34459
I would like to work on this, where can i start?

[2021-06-10 02:38] pedrochamberlain commented on #38449
Hello, is this issue still open? I'd like to give it a shot. This would be my first issue.

[2021-06-10 02:39] pedrochamberlain commented on #51324
Hello, is this issue still open? I'd like to give it a shot. Is this a good first issue?

[2021-06-10 04:44] iemshubh opened #73983 "Cuckoo integration with elastic search 7 mapping issue"
This can be reproduced by: enabling elastic search in reporting.conf and run cuckoo -d command
The log, error, files etc can be found at:

2019-12-01 19:34:56,528 [cuckoo.core.database] DEBUG: Using database-wide lock for sqlite
2019-12-01 19:34:56,568 [cuckoo.core.startup] DEBUG: Imported modules...
2019-12-01 19:34:56,753 [elasticsearch] WARNING: PUT http://192.168.1.11:9200/_template/cuckoo_tem

[2021-06-10 05:49] priyamounica commented on #73763
Thank you so much @EmilBode

[2021-06-10 06:04] priyamounica commented on #73763
@cbuescher Sure, Can I start working on this?

[2021-06-10 07:25] iverase commented on #62742
yes, there is no action to take, closing.

[2021-06-10 07:25] #62742 closed

[2021-06-10 07:34] danielmitterdorfer commented on #73983
Thanks for your report! However, this points to an issue with Cuckoo rather than Elasticsearch. I quickly checked the [Cuckoo repo](https://github.com/cuckoosandbox/cuckoo) and their Github project is archived so I fear it's unlikely the Cuckoo will address this. It may be possible that the version of Elasticsearch does not match Cuckoo's requirements so I suggest you check that you are running wi

[2021-06-10 07:34] #73983 closed

[2021-06-10 07:37] danielmitterdorfer commented on #73945
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/) that s

[2021-06-10 07:37] #73945 closed

[2021-06-10 08:11] martijnvg commented on #73871
But that is also true for data streams? Only after a rollover the new template changes are applied in the new write index.
However it isn't tied to a concrete index, so eventually the latest changes to a template is used by a data stream.

Maybe we could return the name of the write alias for none data stream use cases?

My comment was intended for non data stream usages. I agree returning backing

[2021-06-10 08:43] jpountz commented on #72130
This is due to Lucene writing more segments than the test expected due to `IndexWriterConfig#setMaxBufferDocs` being configured to a low value. I'll push a fix shortly, thanks for tagging me @pugnascotia.

[2021-06-10 09:14] #73706 closed

[2021-06-10 09:36] original-brownbear opened #73995 "Reproducible Failure in org.elasticsearch.common.RoundingTests.testRandomTimeUnitRounding"
On current master I'm running into this:

[code]

fails as:

[code]

[2021-06-10 09:36] elasticmachine commented on #73995
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-06-10 09:41] philippkahr commented on #72983
Sure!

Here is a NDJSON file containing example documents that you can import through the machine learning in Kibana.

[code]

Here is the query I am running

GET github-issue-72983/_search

[code]

Here is the answer to that query

[code]

### Issue

My issue relies with the `bucket_path` inside the `bucket_script`. Especially with the `"currentprice": "currentprice.price"` "path". Elasticsearch

[2021-06-10 09:52] DaveCTurner commented on #73995
Likely related to https://github.com/elastic/elasticsearch/pull/27976: Newfoundland has two midnights sometimes, so rounding to midnight can be kinda complicated:

![](https://davecturner.github.io/assets/2019-04-timezone-rounding/09-clocks-go-back-duplicated-midnight.png)

[2021-06-10 10:36] matriv commented on #65891
The 2nd query from the table `log` seems to work correctly now, but the first one that uses a `LocalRelation` leads to ` Unresolved expression`.

[2021-06-10 10:43] matriv commented on #66674
Closing this as the issue seems to have been fixed, the query now returns:
[code]

[2021-06-10 10:43] #66674 closed

[2021-06-10 11:09] romseygeek commented on #73925
I think we have two options here:
* add an `isCacheable()` method on score functions so that we can choose whether or not to cache a score function query depending on what function it's using
* just disable cacheing entirely

Note that we already have some tests for whether or not this is cacheable at the request layer, but that checks for things like whether `NOW` has been accessed on the executi

[2021-06-10 11:44] #72130 closed

[2021-06-10 11:45] consulthys commented on #28946
It is also worth noting that this is also a problem for scripts used in scripted metric aggregations potentially running on millions of documents. In the reduce script, there are usually two nested for loops to process all the states from all the shards and one can reach 1M invocations pretty easily.

So this counter should be increased for that context also.

[2021-06-10 11:59] RoyzLevy opened #74001 "Excluding match_field from geolocation enrich policy"
Feature raised from discussion: [https://discuss.elastic.co/t/geo-polygon-query-inside-ingest-pipeline/274886/2](url)

When creating a geolocation policy in order to enrich the data in an existing/new index, like described in [https://www.elastic.co/guide/en/elasticsearch/reference/current/geo-match-enrich-policy-type.html](url) , there is no way to **exclude** the match_field to be added to the i

[2021-06-10 12:48] csoulios commented on #48680
@not-napoleon I agree.  There is no reason we can't support this in the GA version, although I don't see real value from having 1 sec resolution in rollups. Perhaps in cases that a deployment has millions of event per second and the user wants to report with precision of 1 sec.

Howerver, I wonder if there is the same problem with setting `"fixed_interval": "1h"`. I will verify this at least works

[2021-06-10 12:49] #71041 closed

[2021-06-10 12:50] csoulios commented on #61396
It is a duplicate indeed. Thanks for spotting this.

[2021-06-10 12:58] csoulios commented on #58967
This is a known issue in Rollups v1. I have investigated in the past and it is what Zach describes as:

Result of `avg` agg is not stored separately but it's  broken as a `sum` and a `value_count` so that it is composable. This means that sort cannot find the `avg` aggregation.

[2021-06-10 13:19] #70848 closed

[2021-06-10 13:42] jrodewig commented on #70561
Thanks @wchaparro @iverase.

I've opened a couple of PRs to document the deprecation:
* 8.0: https://github.com/elastic/elasticsearch/pull/74008
* 7.x: https://github.com/elastic/elasticsearch/pull/74009

These PRs assume we'll deprecate the parameter in 7.x and remove it in 8.0.

[2021-06-10 14:23] csoulios opened #74014 "New mapping parameters to annotate dimensions and metrics in timeseries data"
As  Elasticsearch embraces time series data, we must make sure that  fundamental timeseries concepts become first class citizens. We propose that we implement two new [mapping parameters](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-params.html) to be used for annotating dimension and metric fields in the index mapping.

### Mapping dimensions

To mark a field as a dimen

[2021-06-10 14:23] elasticmachine commented on #74014
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2021-06-10 14:25] elasticmachine commented on #74014
Pinging @elastic/es-search (Team:Search)

[2021-06-10 14:35] cbuescher commented on #73763
Sure, please let me know if you need more pointers to what needs to be done, but I already pointed out some of the cases that should adressed and a potential idea where a fix might be possible. I haven't checked the details yet though. Also please include tests for the above scenarios in a PR. Let me know when you need more info.

[2021-06-10 15:11] dinamic commented on #73566
@jimczi would you be able to have a look into this one?

[2021-06-10 15:24] jkakavas opened #74016 "[CI] SearchableSnapshotDirectoryStatsTests testCloseCount failing"
Failed for the first time today, but reproducibly with that seed on Java 8

**Build scan:**
https://gradle-enterprise.elastic.co/s/eqshrlae66abc/tests/:x-pack:plugin:searchable-snapshots:test/org.elasticsearch.xpack.searchablesnapshots.store.SearchableSnapshotDirectoryStatsTests/testCloseCount

**Reproduction line:**
`./gradlew ':x-pack:plugin:searchable-snapshots:test' --tests "org.elasticsearch.

[2021-06-10 15:24] elasticmachine commented on #74016
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-10 15:32] jkakavas commented on #72062
Another one today in master https://gradle-enterprise.elastic.co/s/dvcgbgdezj3ww/tests/:x-pack:plugin:ccr:qa:multi-cluster:follow-cluster/org.elasticsearch.xpack.ccr.AutoFollowIT/testDataStreams_autoFollowAfterDataStreamCreated

[2021-06-10 15:37] not-napoleon commented on #45559
I'm closing this - the version is unsupported, and I without data to reproduce it I can't do anything.  If you can send a script that reproduced this (including mappings and data that cause the bug) on a current version, I'd be happy to look into it then.

[2021-06-10 15:37] #45559 closed

[2021-06-10 15:50] wchaparro commented on #43258
@giladgal FYI, we modified this one to enhancement as this is working as designed, and falls under the umbrella for high precision aggs

[2021-06-10 15:55] not-napoleon commented on #39766
@csoulios This looks like we should just close it as won't fix, do you agree?

[2021-06-10 16:02] not-napoleon commented on #31040
Closing - there are no repro steps, and it seems to be fixed on more recent versions.

[2021-06-10 16:02] #31040 closed

[2021-06-10 16:16] stu-elastic commented on #65669
Deduplication of failures is outside of the scripting area.

However, we'll keep this issue alive for doing the script parsing on the coordinating node as part of query parsing.  This means any syntax errors will show up early. Caveat: Missing fields will not be caught by this check.

[2021-06-10 16:18] stu-elastic commented on #68510
This is the same as: https://github.com/elastic/elasticsearch/issues/71946, we agreed to add it to the core whitelists.

[2021-06-10 16:18] #68510 closed

[2021-06-10 16:23] stu-elastic commented on #56414
This should always fail, we'll try to reproduce.

[2021-06-10 16:29] stu-elastic commented on #52338
Removing the scripting label, if we want to add a new script context for this, that's fine.

[2021-06-10 16:30] stu-elastic commented on #68324
Yes this message should be better.  @nik9000 can you provide a brief script illustrating the problem?

[2021-06-10 16:32] stu-elastic commented on #69631
Let's close for now, if the plans change please reopen.

[2021-06-10 16:33] #69631 closed

[2021-06-10 16:35] stu-elastic commented on #70190
Removing the scripting label as this is a level below scripting.

[2021-06-10 17:30] GrayFox1 commented on #70108
I am interested to pick this Issue, are you still working on it? @fighting-dreamer

[2021-06-10 17:33] GrayFox1 commented on #48864
I am interested to pick this Issue, can i start to work on this?

[2021-06-10 17:38] eduardomaksoud commented on #42339
Hi, i'm new to open-source coding. Can i work on this issue?

[2021-06-10 17:39] Esduard commented on #63096
Hello, I am interested in this issue. Is It being worked on by someone at the moment?

[2021-06-10 17:39] Esduard commented on #57719
Greetings. Is this issue taken at the moment? I'd like to contribute to the project and this seems like a good issue to take.

[2021-06-10 17:39] eduardomaksoud commented on #63527
Hi, i'd like to pick this issue. @sabiya are you still working on it?

[2021-06-10 17:53] EricDavisX commented on #67384
Would we also update any API Docs that relate to indices or perhaps a generic note in the docs for apis that hit indices?  I ran into internal team docs that noted to a /flush (with no index specified) and when it didn't work i checked the formal docs and didn't see anything calling out that it shouldn't work.  might be nice to help call it out as a task in the check-list to update docs.

this is

[2021-06-10 17:54] nik9000 opened #74022 "Investigage speeding up source excludes at index time"
It looks like we talked about speeding up source filtering by going "closer to the metal" in #25168 and never managed to get it to have the same semantics or to really save much time. I think its worth double checking on it - specifically in the context of `excludes` and `includes` on the `_source` field. It feels like we could do better here to me, but we did investigate in #25168 and didn't see

[2021-06-10 17:54] elasticmachine commented on #74022
Pinging @elastic/es-search (Team:Search)

[2021-06-10 18:37] larissabinatti commented on #47495
is this issue still open? I'm new and would like to do it

[2021-06-10 18:37] larissabinatti commented on #28820
is this issue still open? I'm new and would like to do it

[2021-06-10 18:47] glgomess commented on #20987
Hi there! Can i work on this? (newcomer here)

[2021-06-10 18:51] not-napoleon commented on #48864
@GrayFox1 This is a pretty tricky and involved refactoring that touches a lot of the code.  I would not suggest this as a starting point for contributing to Elasticsearch.  If you're interested in getting some experience contributing to projects, might I suggest taking a look at our good first issue list: https://github.com/elastic/elasticsearch/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+

[2021-06-10 19:15] hap2y1122 commented on #30606
I did the same but it won't work

[2021-06-10 20:10] hendrikmuhs commented on #67887
It turns out that this is a performance problem, the test fails due to an `assertBusy`

On `7x` the test: `HistogramGroupByIT` isn't muted, only master has this change: #67897.

The already mentioned change #73411, introduces further randomization, e.g. index sorting. This is not always to the benefit of the test - we test coverage not performance - and it looks like in some cases it makes the tes

[2021-06-10 20:15] lockewritesdocs commented on #70702
@tvernum, this sounds like a worthy cause, especially because I hear folks from other teams internally indicate that API keys are the "preferred" method of authenticating with Elasticsearch. If there are internal resources that provide some of this background information and problem resolution, please let me know.

[2021-06-10 20:21] hap2y1122 commented on #30606
after hours my conclusion of those whose elasticsearch.bat file not opening

-  First go to edit environment variables
- Go to system variables section
- Add a new path or edit the old java home path to >>   JAVA_HOME or ES_JAVA_HOME   :  the current java path till jdk-{version}
- Add it
- Then go to path and double click
- Edit the path till `bin` this time

Do these you elasticsearch.bat file no

[2021-06-10 21:11] imotov commented on #73566
@dinamic Jim is not working on composite aggs at the moment and our team is pretty busy, so we might not get to it for a while. Saying this, if you could add a reproduction of your issue with an example mapping, test data and request that doesn't work, it would really help us in assessing the requirements. Your description "we've got a user as nested object" and "we've got items on the same level

[2021-06-10 21:42] nik9000 commented on #68324
In a runtime field if you do something like:
[code]

Which, I think, will reply with something like: "all arguments must be constant but the [1] argument isn't"

[2021-06-10 22:12] mark-vieira commented on #73979
Since we're tracking this separately in the linked infra issue and we've identified this isn't actually a bug in Elasticsearch I'm going to close this issue.

[2021-06-10 22:12] #73979 closed

[2021-06-10 23:22] imotov commented on #74014
I feel like `timeseries_dimension` and `timeseries_metric` use case is pretty generic, but the use case for `aggregations` is pretty specific to rollups. So, I wonder if we should do:
- `timeseries_dimension` -> `dimension`
- `timeseries_metric` -> `metric_type` or even `metric`
- `aggregations` -> `rollup_aggregations`

[2021-06-10 23:47] imotov commented on #42339
@eduardomaksoud welcome! I think the best place to start would to familiarize yourself with [contributing guidelines](https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md#contributing-as-part-of-a-class). Nobody is assigned to this issue at the moment and it looks like a good simple issue to start.

[2021-06-10 23:56] imotov commented on #63096
@Esduard welcome! I think the best place to start would to familiarize yourself with [contributing guidelines](https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md#contributing-as-part-of-a-class). Nobody is assigned to this issue at the moment, but it might not be the best issue to start with especially as a class assignment.

[2021-06-11 06:24] tvernum opened #74035 "[Docs] Forward port 73577 to 7.x and master"
PR #73577 (change to JSON example in SetProcessor docs) was opened and merged directly to the 7.13 branch, but the change needs to also be made on 7.x and master.

[2021-06-11 06:24] elasticmachine commented on #74035
Pinging @elastic/es-docs (Team:Docs)

[2021-06-11 06:24] elasticmachine commented on #74035
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-11 06:49] ayedem commented on #64746
What is the limitation of these indicator rules? I have 6 million indicators in total and some of the indicator rules need to go through 1-2 million indicators.

Just some quick math [i hope the math is correct],
@9000 pages it would take 222 pages to get through all 2 million indicators (as an example).
To get through the 9000 IOCs at the 10 concurrent queries rate we would need to run those 10 c

[2021-06-11 08:17] t-8ch opened #74036 "docker: allow specification of settings on the commandline without dots"
It would be nice to be able to specify settings with environmentvariable not containing dots (`.`) when using the docker container.

Background:
I am using elasticsearch in Microsofts "Azure Container Instances". On this platform, trying to use environment variables containing dots fails with an error:

    Code="InvalidContainerEnvironmentVariable"
    Message="The environment variable name in co

[2021-06-11 10:40] hilt86 commented on #64746
Yeah I've had Kibana struggle when importing small datasets (30k indicators), albeit with a low powered cluster

[2021-06-11 11:11] ayedem commented on #64746
I actually have a decent cluster with 6 data dedicated nodes with 64GB / 8 CPU and 2 x kibana nodes with 16/4.

With the way I currently think this works, I feel that’s it actually an inefficient way of doing it. In this solution, we are querying the same set of siem data 100’s or 1000’s of times and filtering it with different items each time. Wouldn’t we be better off getting the IOC’s (with adj

[2021-06-11 11:22] hilt86 commented on #64746
I don't know the internals well enough to comment but there must be a better way to do it.

[2021-06-11 12:00] nik9000 commented on #74014
I like `dimension` and `metric_type`!

[2021-06-11 12:12] nik9000 commented on #70108
@GrayFox1 I imagine @fighting-dreamer is not going to finish this one so if you'd like to have a look go for it.

Since we've had a whole bunch of similar comments to yours in the past few days I'll mention that we don't want contributions made as part of a class. I'm not sure if that applies to you. Folks contributing as part of a class tend to open PRs but not take the time to go through the act

[2021-06-11 12:20] nik9000 commented on #51324
Hi @pedrochamberlain! Check out the list in #26220 - maybe work on the `missing` aggregation for a nice first contribution. You can look at the more modern PRs linked from the list for inspiration in how.

We've had a lot of folks show up suddenly asking about contributions which is both great and a little overwhelming. Sometimes this happens when a professor tells their students to contribute to

[2021-06-11 12:55] elasticmachine commented on #74036
Pinging @elastic/es-delivery (Team:Delivery)

[2021-06-11 13:21] nemphys opened #74037 "Simple combined_fields query fails with java.lang.IndexOutOfBoundsException"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.13.1

**Plugins installed**: [analysis-icu]

**JVM version** (`java -version`): built-in

**OS version** (`uname -a` if on a Unix-like system): macOS Big Sur

Having replaced the use of multi_match cross_fields queries with the new combined_fields query, I am now running into a dead-end.

The query is very simple:

[code]

and fails with

[2021-06-11 13:48] nemphys commented on #74037
Just found issue  #27131, which seems to be related.

[2021-06-11 14:22] qdumouli opened #74038 "Getting all open contexts (i.e: pit) for reconciliation if some were not deleted"
Hi,

There is a feature to close all scroll contexts with the DELETE /_search/scroll/_all

I would like to know if it would be possible to get a similar endpoint for Point in time.

If not, could it be possible to have an endpoint that returns ids of all open contexts (i.e pit_id) so that we could garbage collect ourselves.

We have had many PIT's that have not been garbage collected and thus it i

[2021-06-11 21:23] aileenpalafox commented on #68324
Hi, can I check this out? First time contributing

[2021-06-11 23:19] jtibshirani commented on #74037
@nemphys sorry you are running into issues with the new query, I hope we can get to the bottom of it quickly. To help debug, would you be able to supply your index mapping, as well as an example document? (I assume you aren't able to provide a full reproduction?)

[2021-06-12 03:06] jtibshirani commented on #74037
I have a theory as to the issue: if some documents are missing values for one of the fields, then the query can fail when trying to compute norms. It's indeed a problem in Lucene, I filed an issue here: https://issues.apache.org/jira/browse/LUCENE-9999. Does this apply to your set-up -- are there documents missing either `title` or `description`?

This is a really unfortunate bug, because part of

[2021-06-12 06:17] Leaf-Lin opened #74041 "Add possible values for cluster setting validation"
This seems like an honest mistake yet the error message is not very informative:
[code]
with Validation error:
[code]
Most users would try to verify specific settings syntax like in this example via https://www.elastic.co/guide/en/elasticsearch/reference/current/ilm-settings.html

Since the documentation around specific settings will not include the entire API call like what was described on this

[2021-06-12 08:13] nemphys commented on #74037
I think that missing values are indeed the issue: I checked, and out of ~47000 total documents there are ~19000 documents missing a description. I tried reindexing while forcing the value of the description field of the documents that lack it to an empty string and, behold, the problem went away (and came back when I reverted the change, so we definitely found the culprit).

This is why the presen

[2021-06-12 16:01] jtibshirani commented on #74037
Ultimately it should be fixed in Lucene. But we have ways of applying small Lucene fixes in Elasticsearch without waiting for a new Lucene release, so we won't be tied to that schedule.

[2021-06-12 16:01] elasticmachine commented on #74037
Pinging @elastic/es-search (Team:Search)

[2021-06-12 22:14] larissabinatti commented on #28820
Hello, how can i replicate this error? What should I do to make it appear? Thanks

[2021-06-12 22:14] larissabinatti commented on #47495
Hello, how can i replicate this error? What should I do to make it appear? Thanks

[2021-06-13 07:35] ebuildy commented on #65569
@jloisel nproc will always return all host available processors (if you dont specify container ``ulimit``).

With ``cat /sys/fs/cgroup/cpuset/cpuset.cpus`` you should get exactly how many CPUs the container have.

With k8s, it's possible there is a namespace default limit range, that override container resources. I would recommend to always specify pod containers resources CPU/memory (both request

[2021-06-13 15:28] PedroCMonteiro commented on #72904
I would like to work on a PR to implement this, but i'm having difficulty with finding where the error message is being built, i would appreciate some help.

[2021-06-14 02:50] axw commented on #74014
As long as it's only used for downsampling/rollups, and doesn't bleed into restricting storage or aggregations generally. There's an issue with summary metrics I'd like to raise.

In Elastic APM (maybe eventually Metricbeat's Prometheus module? CC @exekias), we would like to store pre-aggregated "summary" metrics: always sum/count, and optionally min/max and possibly other quantiles. These metrics

[2021-06-14 08:01] elasticmachine commented on #74038
Pinging @elastic/es-search (Team:Search)

[2021-06-14 08:13] pgomulka commented on #73918
I think the difference between a custom `dd/MM/yyyy HH:mm:ss` and `iso8601` in terms of the performance could be that iso8601 is preinitialised in elasticsearch. It does not need to parse the pattern and create a date formatter object.
The pattern parsing and date format creation is performed on every ingestion. Not entirely sure if this is possible, but maybe we could think of preinitialising thi

[2021-06-14 08:14] breskeby commented on #74038
@qdumouli At the moment there's no api to close all PITs. Thanks for this enhancement request. It will be triaged by the according team

[2021-06-14 08:27] romseygeek opened #74057 "Upgrade to lucene 9"
We will want to use Apache Lucene 9 once it has been released in the elasticsearch 8.x line.  This meta issue tracks updates that we need to make to our master branch in order to integrate this new release.

Snapshot upgrade PR: #73324

The following issues need to be addressed prior to merging the upgrade to Lucene 9, some of which may require deprecations in 7x:
- [x] CuckooFilter uses the `Pack

[2021-06-14 08:27] elasticmachine commented on #74057
Pinging @elastic/es-search (Team:Search)

[2021-06-14 08:27] elasticmachine commented on #74057
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-14 08:27] elasticmachine commented on #74057
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2021-06-14 09:25] jkakavas opened #74058 "Put License API can return 500"
In cases where the license is malformed, LicenseVerifier might throw an IllegalStateException or some other unexpected Exception, which causes the elasticsearch node to throw a 500.
We could attempt to better catch these types of errors and return an appropriate HTTP status code and a helpful error message or maybe return a  PutLicenseResponse with status being `INVALID`

Example reproduction :
[c

[2021-06-14 09:25] elasticmachine commented on #74058
Pinging @elastic/es-security (Team:Security)

[2021-06-14 09:37] tlrx commented on #73947
@henningandersen suggested the idea to add a flag to the existing Mount API to indicate that the index "owns" the snapshot and that it should be deleted when the searchable snapshot index is deleted. I'm going to give it try.

[2021-06-14 09:39] cbuescher commented on #20974
I'm closing this issue because it is lacking a complete reproduction and the reported version is no longer maintained. The current parent/child logic also has changed, so please re-open this as a new issue if this still happens for you on 6.x/7.x versions.

[2021-06-14 09:39] #20974 closed

[2021-06-14 09:48] martijnvg commented on #72062
In the failure mentioned by @jkakavas, the follow index (`ds-logs-syslog-prod-*-000001`) is successfully created in the follower cluster via the put follow api, but the resume follow api (which the put follow api executes) fails because the index settings of the leader index have changed in the meantime by ilm running in the leader cluster (by built-in ilm policy for logs).

The mentioned index is

[2021-06-14 10:18] andreidan commented on #72786
As @bhargavkn started working on this, and I initially looked at reviewing that work, it occurred to me that we should not be adding this validation at all (sorry for the late penny drop).
The rollover condition looks at `max_docs` across all the shards of an index. An elasticsearch shard is a lucene index. So an elasticsearch _index_ will be composed of possibly multiple _lucene indices_. So an e

[2021-06-14 10:29] geekpete commented on #72786
Right, this totally depends on how many shards your index has so this is not really a useful or applicable limit to put into ILM. Any defence against hitting this Lucene max docs limit shouldn't be implemented in the ILM index-level context.

[2021-06-14 11:51] benwtrent commented on #58286
It may be worth it to create separate issues for all these Mac timeouts, but I am not sure.

Another timeout occurred today: https://gradle-enterprise.elastic.co/s/c4wfdnj2l4oxs/

This one timed out on three separate tests. All REST tests.

This is NOT timing out due to cloning the repo (there is another issue for that)

[2021-06-14 11:56] Bubbad opened #74061 "Reduce memory usage of shard request cache keys"
Hello!

At my company we have really large search queries, up to 100k terms.

As the shard request cache uses the entire search json as the cache key, we really waste
a lot of memory on cache keys for our use-cases.

It would be really nice if we could have something else as the cache key to optimize the utilization of the cache.

Considered either hashing the key inside elasticsearch or allowing

[2021-06-14 12:10] benwtrent opened #74063 "[CI] PasswordToolsTests test20GeneratePasswords failing"
Password generation test failed due to RED cluster.

**Build scan:**
https://gradle-enterprise.elastic.co/s/2hcjgskisrgfa/tests/:qa:os:destructiveDistroTest.default-deb/org.elasticsearch.packaging.test.PasswordToolsTests/test20GeneratePasswords

**Reproduction line:**
`null`

**Applicable branches:**
7.13

**Reproduces locally?:**
Didn't try

**Failure history:**
https://gradle-enterprise.elastic.

[2021-06-14 12:10] elasticmachine commented on #74063
Pinging @elastic/es-delivery (Team:Delivery)

[2021-06-14 12:14] Luegg opened #74064 "SQL: Wrong results on group by constant"
`SELECT 1 as c FROM test_emp WHERE gender = 'F' GROUP BY c` always returns one row with `1`, independently of how many documents in the index match the filter condition:

[code]

Thus, `SELECT 1 as c FROM test_emp WHERE gender = 'does-not-exist' GROUP BY c` returns the same result:

[code]

The expected behavior is to only return a row if there is at least one document in the index matching the fi

[2021-06-14 12:14] elasticmachine commented on #74064
Pinging @elastic/es-ql (Team:QL)

[2021-06-14 12:46] #70922 closed

[2021-06-14 13:31] matriv commented on #64567
Yep, that's correct it should return as many rows as if a field from a table was selected, so the last one with the filter `WHERE gender = 'F'` is incorrect behaviour.

[2021-06-14 13:39] spinscale opened #74070 "_cat API in JSON format does not work with filter_path"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.13.1

**Description of the problem including expected versus actual behavior**:

When using the `json` format of the _cat API, using the `filter_path` parameter does not work and excludes everything, ending up with an empty response, even though the filter matches.

**Steps to reproduce**:

Please include a *minimal* but *complete* recre

[2021-06-14 13:43] benwtrent opened #74071 "Add range aggregation support for histogram mapped fields"
When querying against a histogram field the following occurs:

With a range aggregation:

[code]

With a filters aggregation containing a range query:
[code]

It would be beneficial for `histogram` mapped fields to support range aggregations and queries.

In my mind, it seems that a query matching against the `histogram.values` and then using the corresponding `histogram.counts` entry seems like i

[2021-06-14 13:43] elasticmachine commented on #74071
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2021-06-14 13:46] matriv commented on #74064
Relates to #64567

[2021-06-14 14:02] jrodewig commented on #74070
I was able to get `filter_path` working with different reproduction steps.

1. Create `my-index`:

[code]

2. Use cat indices to get info about `my-index`.

[code]

The API returns:

[code]

3. Include `filter_path=health` query param:

[code]

The API returns:

[code]

[2021-06-14 14:02] elasticmachine commented on #74070
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-14 14:44] #63801 closed

[2021-06-14 14:53] benwtrent commented on #74071
Looking at `HistoBackedHistogramAggregator`, it seems that sub-aggregations are not allowed when doing a bucketing aggregation on a `histogram` field.

This is OK for MLs immediate use case as well :).

[2021-06-14 15:03] benwtrent opened #74076 "[CI] Multi-node test timeout on Fedora 32"
SmokeTestMultiNodeClientYamlTestSuiteIT test {yaml=field_caps/10_basic/Get object and nested field caps} failing

Timeout in 7.x on Fedora 32. May be related to: https://github.com/elastic/elasticsearch/issues/73073.

This particular failure isn't a multi-versioned cluster, so didn't update existing issue.

**Build scan:**
https://gradle-enterprise.elastic.co/s/uizpc2d4swptm/tests/:qa:smoke-test-m

[2021-06-14 15:03] elasticmachine commented on #74076
Pinging @elastic/es-delivery (Team:Delivery)

[2021-06-14 15:12] benwtrent commented on #67754
Another failure, same test: https://gradle-enterprise.elastic.co/s/xmnyusk6tfyk4

[code]

[code]

[2021-06-14 15:16] Gianluca-M opened #74078 "Allow Watcher with multiple different Trigger Schedule Types"
For our application, we want to use Watchers to monitor our logs and create alerts. There are different types of Trigger Schedules in Elasticsearch (Hourly, Daily, Weekly, Monthly, Yearly, Cron and Interval). However, it is currently not possible to create a Watcher which has multiple different schedule types.
E.g. I want to create a watcher with a weekly and monthly schedule:
[code]
Currently, wh

[2021-06-14 15:16] jrodewig commented on #74035
Ported this to 7.x with https://github.com/elastic/elasticsearch/pull/74077.

This was already ported to master with https://github.com/elastic/elasticsearch/pull/43073.

[2021-06-14 15:29] #74035 closed

[2021-06-14 15:35] benwtrent opened #74081 "[CI] ReplicaShardAllocatorIT testPreferCopyWithHighestMatchingOperations failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/5x3nuaw4ehzzm/tests/:server:internalClusterTest/org.elasticsearch.gateway.ReplicaShardAllocatorIT/testPreferCopyWithHighestMatchingOperations

**Reproduction line:**
`./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.gateway.ReplicaShardAllocatorIT.testPreferCopyWithHighestMatchingOperations" -Dtests.seed=E84FA673AF3C8429 -Dte

[2021-06-14 15:35] elasticmachine commented on #74081
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-14 15:43] benwtrent commented on #58286
BWC timeout in 7.x against 6.8.17: https://gradle-enterprise.elastic.co/s/7d4ihrpf4dkcg

[2021-06-14 15:59] benwtrent commented on #69973
another failure: https://gradle-enterprise.elastic.co/s/6r7eu5ti4yinm

Unsurprisingly, its a timeout with a 6.8 node.

[2021-06-14 16:19] benwtrent commented on #74076
Another similar failure: https://gradle-enterprise.elastic.co/s/mgkxb34x3xrf2

[2021-06-14 17:18] not-napoleon commented on #34390
@giladgal @csoulios - Can you comment on this?  I don't think downsampling for metrics will solve these use cases.

[2021-06-14 17:44] bhargavkn commented on #72786
@andreidan @geekpete  Yep, makes sense. I'll close the PR.

[2021-06-14 18:31] #73948 closed

[2021-06-14 18:53] nik9000 opened #74101 "[CI] MlDistributedFailureIT testClusterWithTwoMlNodes_RunsDatafeed_GivenOriginalNodeGoesDown failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/7eyxhvbgatq22/tests/:x-pack:plugin:ml:internalClusterTest/org.elasticsearch.xpack.ml.integration.MlDistributedFailureIT/testClusterWithTwoMlNodes_RunsDatafeed_GivenOriginalNodeGoesDown

**Reproduction line:**
`./gradlew ':x-pack:plugin:ml:internalClusterTest' --tests "org.elasticsearch.xpack.ml.integration.MlDistributedFailureIT.testClusterWit

[2021-06-14 18:53] elasticmachine commented on #74101
Pinging @elastic/ml-core (Team:ML)

[2021-06-14 18:55] nik9000 commented on #74101
Looks like this particular failure has happened [twice](https://build-stats.elastic.co/goto/717159aa19da9a2e0489a27031e3cd39). It's really just the last two items on this:
![image](https://user-images.githubusercontent.com/215970/121944319-8a6d5280-cd20-11eb-87c0-a62c93f5beab.png)

I tried running locally and it didn't fail for me but it looks timeouty so I didn't expect it to.

[2021-06-14 19:08] jrodewig commented on #74070
I'm going to go ahead and close this issue. Please feel free to reopen if I missed something.

[2021-06-14 19:08] #74070 closed

[2021-06-14 19:10] jrodewig commented on #73301
I'm going to close this issue as we don't intend to document the `name` parameters.

With https://github.com/elastic/elasticsearch/pull/74021, we now document the order of ILM actions in each phase at https://www.elastic.co/guide/en/elasticsearch/reference/current/ilm-index-lifecycle.html#ilm-phase-actions.

[2021-06-14 19:10] #73301 closed

[2021-06-14 20:31] mark-vieira commented on #74063
Strange, since the root cause here was just the cluster not coming up properly and there's only been a single instance of this failure I'm apt to chaulk this up to solar flares. Let's keep it open for a few days in any case though.

[2021-06-14 22:04] williamrandolph commented on #73197
I was able to replicate your error by removing the JNA jar (`jna-5.5.0.jar` for Elasticsearch 6.8.12) from my installation's `lib` directory. I believe that your system package update probably removed or changed the JNA jar that Elasticsearch was relying on. As Ryan said, this jar file should always be present in an Elasticsearch installation. You may need to reinstall the jar, or reinstall Elasti

[2021-06-14 22:04] #73197 closed

[2021-06-15 02:45] jmbessa commented on #20004
Hi! I would like to know if this issue still open. If yes, can I work on it? This would be my first issue

[2021-06-15 05:40] tvernum commented on #70702
With the sort of changes we're working through at the moment, it probably makes sense to plan for this to eventually form part of a "Understanding authentication & authorization models in Elasticsearch" section.

That would want to cover:

- Users
   - Password based authentication
      - Reserved Users
      - ES managed users (file, native)
      - Externally managed users (ldap, AD)
   - SSO (

[2021-06-15 06:15] tvernum commented on #70702
In terms of content for the short term:

## Password-based Users

*Strengths / Features*
- Allow you to assign the same permissions (roles) to multiple users
- Allow you to modify permissions (either assign different roles, or edit the roles themselves) as needs change
- Allow you to integrate with an external identity system (e.g. LDAP)
- Are easily supported by a variety of clients tools ("HTTP

[2021-06-15 06:56] spinscale commented on #74070
My bad. The version that works is `**health` in order as `**.health` would require the JSON object within an inner object. Thanks for testing and closing!

[2021-06-15 07:17] martijnvg commented on #73089
@alisonelizabeth @benwtrent I started to work on adding the `meta` field to the deprecation api in #74085 like is discussed here. For the ml model snapshot deprecation I added the `job_id` and `snapshot_id` parameters. Are we still okay with these names?

Are there any other parameters that we like to add to other deprecations? Like for example the name or value of index/node settings that are dep

[2021-06-15 08:17] bytebilly opened #74110 "Improve the license upgrade warning message"
## Description

When a Basic cluster license is upgraded to Gold, the following message is returned by Elasticsearch:

[code]

The list contains Platinum features, and it's technically correct that they will not be enabled on a Gold cluster.
However, it's likely that users will be confused and think that they will lose access to those features.
This sounds like a complex way to promote Platinum, s

[2021-06-15 08:17] elasticmachine commented on #74110
Pinging @elastic/es-security (Team:Security)

[2021-06-15 08:27] ddolcimascolo opened #74111 "AIOOBE when using docvalue_fields on a ip_range field"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.9.3

**Plugins installed**: []

**JVM version** (`java -version`): Bundled JDK (JDK 11)

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 18.04

**Description of the problem including expected versus actual behavior**:

Elasticsearch throws an AIOOBE when using `docvalue_fields` on a `ip_range` field. Maybe that's unsupported

[2021-06-15 08:29] elasticmachine commented on #58170
Pinging @elastic/es-docs (Team:Docs)

[2021-06-15 08:39] elasticmachine commented on #73971
Pinging @elastic/es-search (Team:Search)

[2021-06-15 09:21] javanna commented on #65669
Agreed, that is certainly on the search team to fix. The reason why I marked this also core/infra is that I think the exception returned from the painless could be clearer:

The compile error itself does not include any information about what the problem is but only where the problem is.

[2021-06-15 09:25] droberts195 commented on #74101
@dimitris-athanasiou this is quite likely to be a side effect of #73908.  Now that we delete the old data counts if the job has no model snapshot when it switches nodes this could explain the data counts not being what was expected in this test.  However, it still seems a bit strange that the data counts don't increase back to match the number of documents.  It may be that the datafeed isn't resta

[2021-06-15 09:36] ddolcimascolo commented on #74111
For the sake of completeness: I just reproduced the same exception using the same Kibana script with Elasticsearch 7.13.2

[2021-06-15 09:37] matriv commented on #51999
I think that we only lack tests for Intervals, Time and Date should be already covered.

[2021-06-15 09:41] romseygeek commented on #74061
Hi Bubbad, thanks for opening the PR!  I'd be interested to know if having the request cache store results for these very large queries is actually useful, as another option instead of having an external cache key would be to just disable the cache for requests above a certain size.  External keys make me a bit nervous as it would be very easy to re-use a key on different queries without realising

[2021-06-15 10:21] matriv commented on #43814
Closing as this is already implemented, @astefan feel free to re-open if I'm missing something.

[2021-06-15 10:21] #43814 closed

[2021-06-15 10:32] elasticmachine commented on #74111
Pinging @elastic/es-search (Team:Search)

[2021-06-15 10:35] cbuescher commented on #74111
@ddolcimascolo thanks for the report and the reproduction, I can confirm this. I don't know if retrieving `ip_range` by `docvalue_fields` should work but even if not the exception should be different then I think. As a workaround you can retrieve the ip_range values by using the [`fields` option](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-fields.html) I think.

[2021-06-15 11:35] dtrieschnigg opened #74118 "array_index_out_of_bounds_exception when using two synonym_graph filters"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.9.3 (lucene: 8.6.2)

**Description of the problem including expected versus actual behavior**:

When an analyzer uses two `synonym_graph` filters after each other (my use case: the first filter does decompounding and the second filter expands synonyms. For instance "cellphone" is decompounded into "cell" and "phone", and "phone" is expan

[2021-06-15 11:57] dtrieschnigg commented on #74118
A workaround is to use a `synonym` rather than a `synonym_graph` filter.

[2021-06-15 12:03] timroes opened #74121 "Fields option in _search API does not returned fields above ignore_above"
If you create an mapping containing an `ignore_above` field and ingest values that are above that limit, those are not returned by via the fields API. Since we're using the fields API nowadays in Discover this is a rather severe regression we found. From my experience we often have people having fields containing values above those limits, which were with reading from `_source` available and visib

[2021-06-15 12:12] javanna opened #74122 "[CI] UpgradeClusterClientYamlTestSuiteIT test {p0=mixed_cluster/30_ml_jobs_crud/Create a job in the mixed cluster and write some data} failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/mfvwhoik3jmi2/tests/:x-pack:qa:rolling-upgrade:v7.14.0%23twoThirdsUpgradedTest/org.elasticsearch.upgrades.UpgradeClusterClientYamlTestSuiteIT/test%20%7Bp0=mixed_cluster%2F30_ml_jobs_crud%2FCreate%20a%20job%20in%20the%20mixed%20cluster%20and%20write%20some%20data%7D

**Reproduction line:**
`./gradlew ':x-pack:qa:rolling-upgrade:v7.14.0#twoThird

[2021-06-15 12:12] elasticmachine commented on #74122
Pinging @elastic/ml-core (Team:ML)

[2021-06-15 12:15] javanna commented on #74122
Message not fully read is particularly scary, it usually indicates some serialization bug. I tried to reproduce it with no luck, but instead of having the test run successfully I got other failures locally, more specifically a time out calling cluster health API.

[2021-06-15 12:30] #70854 closed

[2021-06-15 12:32] matriv commented on #44996
Closing this as it's fixed for 7.x versions.

[2021-06-15 12:32] #44996 closed

[2021-06-15 12:40] ywangd commented on #73250
**UPDATE**

Since the realm name plays an important role in API key ownership, this makes it hard for cluster admins to change the realm names. Therefore we decided to only deprecate it for now, including 8.0. Removal will be re-considered in future.

[2021-06-15 12:55] droberts195 commented on #74122
One BWC adjustment was missed from #74107.  I have opened #74122 to fix it.

[2021-06-15 12:59] matriv commented on #36321
Closing this, There is no exception thrown, but an error message as mentioned in the previous comment. @astefan feel free to reopen if you think the error message should be improved.

[2021-06-15 12:59] #36321 closed

[2021-06-15 13:04] matriv commented on #36056
Closing as this has been solved over time.

[2021-06-15 13:04] #36056 closed

[2021-06-15 13:09] #30051 closed

[2021-06-15 13:14] not-napoleon commented on #74101
This just failed again on 7.x.  https://gradle-enterprise.elastic.co/s/nssnrikqikci4/tests/:x-pack:plugin:ml:internalClusterTest/org.elasticsearch.xpack.ml.integration.MlDistributedFailureIT/testClusterWithTwoMlNodes_RunsDatafeed_GivenOriginalNodeGoesDown?top-execution=1

[2021-06-15 13:15] matriv commented on #31682
Closing this, as there is not enough information about this requirement.
There are no use cases described, nor even the functionality itself.

If this is still a requirement, feel free to reopen but please also provide some more information.

[2021-06-15 13:15] #31682 closed

[2021-06-15 13:23] matriv commented on #35846
Closing this as I think this is covered with the implementation of DATE & TIME types. @costin feel free to reopen if something more is needed.

[2021-06-15 13:23] #35846 closed

[2021-06-15 13:53] not-napoleon opened #74131 "[CI] RemoteRequestBuildersTests testInitialSearchParamsFields failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/cvav7jlqabw74/tests/:modules:reindex:test/org.elasticsearch.index.reindex.remote.RemoteRequestBuildersTests/testInitialSearchParamsFields

**Reproduction line:**
`./gradlew ':modules:reindex:test' --tests "org.elasticsearch.index.reindex.remote.RemoteRequestBuildersTests.testInitialSearchParamsFields" -Dtests.seed=B911D2E4671CC726 -Dtests.loca

[2021-06-15 13:53] elasticmachine commented on #74131
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-15 13:54] #74122 closed

[2021-06-15 13:54] Bubbad commented on #74061
Hi Romseygeek!

Thanks for your reply!

So far we've been going with what you say, disabling that cache. Due to the complexity of these large searches our cluster has to spend a lot of CPU to calculate the results and the search times can take up to several minutes. It's quite common for the exact same search to be sent multiple times in a short time span (refreshing a dashboard). Small searches a

[2021-06-15 14:01] ddolcimascolo commented on #74111
Thx for confirming @cbuescher I can't currently use `fields` because we're still on 7.9

[2021-06-15 14:20] csoulios commented on #34390
It looks like pipeline aggregations are not supported by the `_rollup_search` endpoint.
As per @polyfractal it is a known issue:  https://github.com/elastic/sdh-elasticsearch/issues/1011#issuecomment-428480674

And it looks like this ticket was created to document this problem.

[2021-06-15 14:32] vijaykriishna commented on #66136
Can this be assigned to me please ?

[2021-06-15 14:54] cbuescher commented on #74111
For the record, fetching this via `docvalue_fields` doesn't seem to have been supported previously, on 6.8 and on 7.2 I get
[code]
So this issue is probably more about making the exception nicer if possible, so I'm marking it as an enhancement, but a bug, unless you can point me to previous behaviour where this was possible?

@ddolcimascolo please note that we usually don't backport any enhancemen

[2021-06-15 15:01] pmishev opened #74135 "Clone index does not keep "number_of_replicas" setting, nor it respects index templates"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.12.1

**Description of the problem including expected versus actual behavior**:

There could as well be 2 unrelated problems:

1. When cloning an index, `number_of_replicas` of the target index is not kept the same as the source index.

2. If there is an index template that sets the `number_of_replicas` to 0, this is being ignored as wel

[2021-06-15 15:02] cbuescher commented on #74111
Actually, re-reading the issue I think because this now returns a `500` error code we should treat it as a bug and try to return a nicer error as before.

[2021-06-15 15:38] jrodewig opened #74136 "[DOCS] Glossary is missing `multi-field` definition"
While defined in the [`fields` mapping parameter](https://www.elastic.co/guide/en/elasticsearch/reference/current/multi-fields.html) docs, [our glossary](https://www.elastic.co/guide/en/elasticsearch/reference/master/glossary.html) doesn't include a definition for `multi-field`. We should consider adding it.

[2021-06-15 15:38] elasticmachine commented on #74136
Pinging @elastic/es-search (Team:Search)

[2021-06-15 15:38] elasticmachine commented on #74136
Pinging @elastic/es-docs (Team:Docs)

[2021-06-15 15:52] csoulios commented on #39766
@not-napoleon  I agree. This is a minor bug, more probably an incovenience. Since there is a workaround to it (use fixed interval), let's close it with "won't fix".

[2021-06-15 15:53] not-napoleon commented on #39766
Closing, won't fix.

[2021-06-15 15:53] #39766 closed

[2021-06-15 15:58] DaveCTurner commented on #74135
This behaviour is by design, and the note in the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/master/indices-clone-index.html) that says "Cloning doesn’t copy index metadata..." is intended to describe it, but I agree it could be clearer. Especially we should note that index templates have no impact on cloning. Marking this as a docs bug.

[2021-06-15 15:58] elasticmachine commented on #74135
Pinging @elastic/es-docs (Team:Docs)

[2021-06-15 15:58] elasticmachine commented on #74135
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-15 16:00] matriv commented on #35200
Closing as for 7.x is not an issue:

Inserted 3 docs:
[code]

and the query returns:

[code]

[2021-06-15 16:00] #35200 closed

[2021-06-15 16:17] csoulios commented on #74014
@imotov I am fine with renaming `timeseries_dimension` to `dimension` and `timeseries_metric` to just `metric`. They are less verbose and simpler.

However, I think that renaming `aggregations` to `rollup_aggregations` is too restrictive. Although any aggregation can be computed on the raw data, after the data has been rolled up only the set of aggregations listed for the metric will be supported.

[2021-06-15 16:20] #68963 closed

[2021-06-15 16:33] droberts195 opened #74141 "[CI] XPackRestIT test {p0=ml/set_upgrade_mode/Setting upgrade mode to disabled from enabled} failing"
I am pretty sure this is a side effect of #73908.  Resetting jobs on assignment to a new node doesn't seem to fit reliably with ML upgrade mode.

**Build scan:**
https://gradle-enterprise.elastic.co/s/cu5xpsi2gbnkg/tests/:x-pack:plugin:yamlRestTest/org.elasticsearch.xpack.test.rest.XPackRestIT/test%20%7Bp0=ml%2Fset_upgrade_mode%2FSetting%20upgrade%20mode%20to%20disabled%20from%20enabled%7D

**Repr

[2021-06-15 16:33] elasticmachine commented on #74141
Pinging @elastic/ml-core (Team:ML)

[2021-06-15 16:40] droberts195 commented on #74141
The 3 tests that have failed in https://gradle-enterprise.elastic.co/s/cu5xpsi2gbnkg all fail because of this error in the [server-side logs](https://storage.cloud.google.com/elasticsearch-ci-artifacts/jobs/elastic+elasticsearch+master+multijob+platform-support-windows/GRADLE_TASK=checkPart2,os=windows-2019/build/85.tar.bz2):

[code]

This is happening because the job's C++ process is still runnin

[2021-06-15 16:44] elasticmachine commented on #74061
Pinging @elastic/es-search (Team:Search)

[2021-06-15 16:46] elasticmachine commented on #74041
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-06-15 16:47] elasticmachine commented on #74001
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-15 16:47] elasticmachine commented on #73934
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-15 16:50] nik9000 commented on #71775
@henningandersen do you know what @Reggae13's May 12th comment is about? I haven't looked into `_update_by_query` on data streams myself. I'd expect it to work though.

[2021-06-15 16:52] nik9000 commented on #72197
Sounds like no one's replied. Does that mean folks rarely use them?

I've added team-discuss to get this back on the team's radar.

[2021-06-15 16:56] nik9000 commented on #73261
If the document is very very very large reindex won't be able to store it in memory. It looks like the response from the remote host was 250mb. You probably should exclude that document. We probably should change the error message. In the past we'd resisted making the buffer size configurable. I wonder if it'd make sense to do so now. Or make it a portion of the heap or something. That buffer is p

[2021-06-15 16:59] jasontedor commented on #72197
@nik9000 We already discussed this within the distributed team a couple of months ago (late April, early May). Our conclusion at the time was that URL repositories could probably be removed, and our action item was to open an issue to capture our thinking, and solicit feedback.

Seeing as we have none, I think we can safely conclude that we can remove URL repositories.

[2021-06-15 17:00] jasontedor commented on #72197
By the way, the other way that we measured lack of use of them was by looking at bug counts, discuss issues, and support cases involving them, all of which indicated very little use.

[2021-06-15 17:05] pgomulka commented on #73918
I have tried running some benchmarks to get flame graphs and I am not sure if there really is a performance change. The flame graph from a 6min profile is not showing that more time is spent in `DateProcessor`

[Flame graph Archive.zip](https://github.com/elastic/elasticsearch/files/6657398/Archive.zip)

There was a change in how the time is calculated for ingest processor https://github.com/elast

[2021-06-15 17:13] not-napoleon opened #74142 "[CI] FieldSortBuilderTests testIsBottomSortShardDisjoint failing"
Possibly related to #63719

**Build scan:**
https://gradle-enterprise.elastic.co/s/a54wztwjli25o/tests/:server:test/org.elasticsearch.search.sort.FieldSortBuilderTests/testIsBottomSortShardDisjoint

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.search.sort.FieldSortBuilderTests.testIsBottomSortShardDisjoint" -Dtests.seed=1AA90793A8BC164 -Dtests.locale=nb -Dtests.timez

[2021-06-15 17:13] elasticmachine commented on #74142
Pinging @elastic/es-search (Team:Search)

[2021-06-15 17:27] cbuescher commented on #43412
Since I think this issue is depending on the two installed language plugins, I did some reproduction attempts on 7.9.3 where the analysis-ansj is still available. Newer versions don't seem to be supported yet.

To speed up future reproduction attempts here's the two plugins used:
[code]
The issue reproduces with only one document as well:

<details>
  <summary>Snippet</summary>

[code]

</details>

[2021-06-15 17:41] imotov commented on #20004
@jmbessa we have quite a few students from PUC-Rio contacting us recently about contributing. I assume that you all got an assignment in your CS class. Would it be possible to get in touch with your professor for this class to discuss this effort in order to make it useful for both students and developers?

[2021-06-15 17:53] imotov commented on #74014
@csoulios had a chat about the aggregation field. The `aggregations` field in metrics plays 2 different roles here. Before role up it indicates fields that we want to keep, after the rollup it indicates the fields that were kept. We agreed that `rollup_aggregations` while is appropriate for the first role, doesn't reflect the second role correctly. So, we should probably keep something generic lik

[2021-06-15 18:04] csoulios opened #74145 "Make sub-fields of aggregate_metric_double field type optional"
Currently, when a user defines a field of type [`aggregate_metric_double`](https://www.elastic.co/guide/en/elasticsearch/reference/current/aggregate-metric-double.html) with any of the supported summary sub-fields (`min`, `max`, `value_count`, `sum`), all inserted documents are required to **contain all sub-fields**. We have found this approach to be very restrictive and we should relax this const

[2021-06-15 18:04] elasticmachine commented on #74145
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2021-06-15 18:04] elasticmachine commented on #74145
Pinging @elastic/es-search (Team:Search)

[2021-06-15 18:54] csoulios commented on #74014
@axw I have created a separate issue https://github.com/elastic/elasticsearch/issues/74145 to discuss about relaxing the constraints in `aggregate_metric_double

[2021-06-15 19:02] glgomess commented on #39501
Hi there! Newcomer here, can i work on this?

[2021-06-15 19:57] nik9000 opened #74148 "Watcher: simulating an index action after a search creates the document for real"
**Elasticsearch version** (`bin/elasticsearch --version`): reported in 7.9 and reproduced with master (98943a28bef8a66014ce9a32ba37e0b8864b1d2c)

**Plugins installed**: reproduces with `./gradlew :x-pack:plugin:core run`

**JVM version** (`java -version`): Java 16

**OS version** (`uname -a` if on a Unix-like system): reproduced with
[code]

**Description of the problem including expected versus a

[2021-06-15 19:57] elasticmachine commented on #74148
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-15 19:58] nik9000 commented on #74148
Sorry - it looks like the `transform` is key here, not the search.

[2021-06-15 19:58] nik9000 commented on #74148
This one reminds me of #66735.

[2021-06-15 19:58] ddolcimascolo commented on #74111
Yeah, I really opened the issue because of the 500 error. Getting a nice error message about the unsupported operation you're trying to do is so much better :)

And yes, switching to `fields` is on my pipe already.

Thanks,
David

[2021-06-15 20:10] nik9000 commented on #74148
An update - the `transform` is required - AND it must be at something along the lines of the one provided - if its trivial then this doesn't reproduce.

[2021-06-15 20:13] DaveCTurner opened #74149 "Improve reliability of index deletion"
Today when an index is deleted there are various ways that the underlying data might end up remaining on disk forever:

- if a node is offline when more than `cluster.indices.tombstones.size` (i.e. 500) indices are deleted then the graveyard overflows and the node is left with dangling indices.
- if something external blocks the deletion of the underlying files then Elasticsearch eventually gives

[2021-06-15 20:13] elasticmachine commented on #74149
Pinging @elastic/es-distributed (Team:Distributed)

[2021-06-15 20:13] mattweber opened #74150 "Custom Lucene Extensions Blocked"
It appears that the introduction of centralized lucene extensions (#71416) we are no longer able to use non-default lucene codecs that introduce additional file extensions.  For example, uniform split that introduces the [ustd and ustb extensions](https://github.com/apache/lucene/blob/main/lucene/codecs/src/java/org/apache/lucene/codecs/uniformsplit/UniformSplitPostingsFormat.java#L41) or uniform

[2021-06-15 20:39] #74136 closed

[2021-06-15 21:43] rodrigo-sp17 commented on #29714
Hi guys! Just linked a PR that attempts to solve this issue. I'm new to ElasticSearch, so I'm might have overlooked some details that require a larger knowledge of the codebase.
I intend to follow up on this, so any feeback is very welcome!

[2021-06-15 21:57] elasticmachine commented on #74150
Pinging @elastic/es-search (Team:Search)

[2021-06-15 22:02] nik9000 opened #74158 "If java logs a warning then jvm options process gets very confused"
**Elasticsearch version** (`bin/elasticsearch --version`): any

**Plugins installed**: none

**JVM version** (`java -version`): 16

**OS version** (`uname -a` if on a Unix-like system): 7.13.1 docker distribution

**Description of the problem including expected versus actual behavior**:
If you can get the jvm to log a warning while its running the `JvmOptionsParser`, like, say, [this one](https://

[2021-06-15 22:02] elasticmachine commented on #74158
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-06-16 01:07] eduardomaksoud commented on #42339
Thank you. Just finished reading the contributing guidelines and building the project. Looking forward to raise a PR soon.

[2021-06-16 04:39] #70160 closed

[2021-06-16 06:11] edyas opened #74160 "Highlighting | Fragments | Order:Score --- is it possible to get the score of every fragment?"
When using Highlighting, fragments can be sorted by their respective score, which is a very useful feature.

But is there any way to get their individual score (which must be calculated for the sorting)?

The idea: skip any fragment whose score (i.e. relevance) is too low.

Thanks.

[2021-06-16 07:07] hendrikmuhs commented on #67887
Fixed with https://github.com/elastic/elasticsearch/pull/74109

[2021-06-16 07:07] #67887 closed

[2021-06-16 07:09] tlrx commented on #74150
Thanks for reporting @mattweber and sorry to hear it breaks your own tests. We added this assertion to catch file extensions that were not explicitly declared so that we are forced to declare them and to configure some options about them: should the file be memory mapped, should it be cached differently than other files etc

I think this assertion is valuable because it prevents us from missing so

[2021-06-16 07:40] pgomulka opened #74162 "Prevent ES from writing to /tmp on startup"
Elasticsearch is started using a bash script which by default can write files to /tmp directory. This is because <<< in bash is implemented using temporary files (creates /tmp/sh-thd.random string) https://itectec.com/ubuntu/ubuntu-whats-the-difference-between/
This can be reconfigured by changing TMP and TEMP environment variables.
or we should refactor the script to avoid using << or <<<

[2021-06-16 07:40] elasticmachine commented on #74162
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-06-16 07:43] pgomulka opened #74163 "Use ES_TMPDIR instead of java.io.tmpdir"
We should ignore java.io.tmpdir and override it with ES_TMPDIR. I think that variable should be taken into account from the beginning of startup scripts (including JavaVersionChecker) and the value should be applied as java option to all java processes.

Java processes started before ES_JAVA_OPTS are parsed (JavaVersionChecker, TempDirectory, JvmOptionParser) can also create temporary files in /tm

[2021-06-16 07:43] elasticmachine commented on #74163
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2021-06-16 07:44] pgomulka commented on #73712
the original issue was splitted into 2 separate issues
Use ES_TMPDIR instead of java.io.tmpdir #74163
Prevent ES from writing to /tmp on startup #74162

the current issue is about highlighting the problem with PerfData

[2021-06-16 08:02] pugnascotia commented on #74158
Presumably though this isn't specific to Docker? It's just been observed there?

[2021-06-16 08:26] andreidan commented on #74160
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2021-06-16 08:26] #74160 closed

[2021-06-16 08:27] ywelsch commented on #74150
+1 on all points here. Ideally all file extensions are known to the system so that it can make the right decision when it comes to caching / memory mapping the files and provide optimal performance. I'm inclined to further lock this down in the future (not only assert, but also check at runtime when assertions are disabled). At the same time it's important to allow plugins to use codecs that intro

[2021-06-16 09:19] pmishev commented on #74135
In the PR you did you added `Notes the clone API doesn't copy index settings.`, but I don't think that's the case. All other index settings I had in my index were copied over (e.g analysis, max_ngram_diff, blocks, etc.).

At the moment I'm handling copying the number_of_replicas manually app-side, but I can't be sure if there aren't any other settings that are not being copied over as well. Perhap

[2021-06-16 09:23] markharwood commented on #73968
I'd be happy to pick this up because the implementation would be similar to the terms_enum api I just finished working on if that's OK with you.

[2021-06-16 09:27] #29358 closed

[2021-06-16 10:24] DaveCTurner commented on #74135
Sorry, it seems I've misread the code, I have just discovered a whole load of complications and it seems to vary by version. Let me investigate further what it's supposed to be doing.

[2021-06-16 10:49] DaveCTurner commented on #74135
Ok sorry for the confusion, as per https://github.com/elastic/elasticsearch/issues/28347 these days we apparently _do_ copy most of the settings over. The only ones that look to be overridden are `index.number_of_replicas` and `index.auto_expand_replicas`:

https://github.com/elastic/elasticsearch/blob/393ab2d813b1fed8e6d69b3b4c4704fc3d93c422/server/src/main/java/org/elasticsearch/cluster/metadata

[2021-06-16 11:02] nik9000 commented on #74158
Sorry, yes. I think any jvm log is enough.

On Wed, Jun 16, 2021, 04:02 Rory Hunter ***@***.***> wrote:

[2021-06-16 11:04] mingyitianxia opened #74176 "Conditional token filter bug"
In Conditional token filter

https://github.com/elastic/elasticsearch/blob/5baabff6670a8ed49297488ca8cac8ec12a2078d/docs/reference/analysis/tokenfilters/condition-tokenfilter.asciidoc

[code]
when    "source": "token.getTerm().length() < 4", can not result correct result.

the "type" should be revised to "predicate_token_filter".

The correct dsl as follows:

[code]

[2021-06-16 11:28] cbuescher commented on #74121
I started to look into this a bit and think the current behaviour is consistent with what we also do with e.g. numeric or date values that we reject because of an `ignore_malformed` setting in as much as we don't return values in `fields` if they are not indexed and cannot be aggregated over. I think this behaviour was intended, but I'll mark this for discussion in the team to see if we can add an

[2021-06-16 11:55] #73925 closed

[2021-06-16 12:03] elasticmachine commented on #72836
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2021-06-16 12:37] elasticmachine commented on #74176
Pinging @elastic/es-search (Team:Search)

[2021-06-16 12:39] nik9000 commented on #74176
@romseygeek could you have a look at this one? It looks like we run the tests for this so the docs should work. Is `predicate_token_filter` a new or old name for this?

[2021-06-16 12:42] jpountz opened #74178 "What are the best practices for renaming fields on data streams without breaking compatibility?"
From time to time, Solutions based on the Elastic Stack need to rename fields. What is the best way of renaming a field in a data stream that already has terabytes of data indexed?

In theory, aliases solve this problem, but it's a bit more complex in practice. Let's assume that we would like to rename `docker.container.id` to `container.id` as an example.

It's important to update the index templ

[2021-06-16 12:42] elasticmachine commented on #74178
Pinging @elastic/es-core-features (Team:Core/Features)

[2021-06-16 12:43] nik9000 commented on #74176
Sorry. I read a bit more. I believe the docs are correct. The `condition` filter will run the `lowercase` filter for tokens that match the condition. Short words in this case. The `predicate_token_filter` will remove tokens that do not match the filter entirely. @mingyitianxia do you have a suggestion for how to change the docs so they are more clear?

[2021-06-16 12:43] elasticmachine commented on #74176
Pinging @elastic/es-docs (Team:Docs)

[2021-06-16 12:43] mattweber commented on #74150
@tlrx @ywelsch thanks for the quick review and discussion.  I think a system property would be perfectly fine.  In the future, I would love better support for custom codecs (and stores) which could have hooks into this extension map.  Thank you!