[2020-03-02 14:37] #52911 closed

[2020-03-02 14:44] astefan commented on #48900
@przemekwitek this is the wrong issue. The failure you report is more likely related to https://github.com/elastic/elasticsearch/issues/52951.

[2020-03-02 14:44] #48900 closed

[2020-03-02 15:05] mayya-sharipova commented on #46980
@jtibshirani Thanks, closing this.

[2020-03-02 15:05] #46980 closed

[2020-03-02 15:07] astefan opened #53011 "[CI] SqlNodeSubclassTests.testReplaceChildren fails for org.elasticsearch.xpack.ql.expression.predicate.operator.comparison.In"
Most likely similar to https://github.com/elastic/elasticsearch/issues/52951.

[code]

[code]

[2020-03-02 15:07] elasticmachine commented on #53011
Pinging @elastic/es-search (:Search/SQL)

[2020-03-02 15:45] PereBal opened #53013 "Indices with index.blocks.read_only set to true return OK (HTTP-200) on _bulk requests"
### Bug report

**Elasticsearch version** (`bin/elasticsearch --version`): 7.5.1

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "13.0.1" 2019-10-15
OpenJDK Runtime Environment AdoptOpenJDK (build 13.0.1+9)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 13.0.1+9, mixed mode, sharing)

**OS version** (`uname -a` if on a Unix-like system):
Linux deathstar 4.15.0-88-gener

[2020-03-02 16:54] fkelbert commented on #52921
Thank you @dimitris-athanasiou . This makes sense. Do you think this is something that can be clarified within the documentation?

[2020-03-02 16:55] dnhatn commented on #39757
@javanna Thanks for the ping. I've backported the fix to 6.8 in https://github.com/elastic/elasticsearch/commit/bf9e9a12fa8fa6f21084ca91014043e7b4793727.

[2020-03-02 16:56] elasticmachine commented on #53000
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-03-02 16:57] matriv commented on #29853
The rule is completely removed as its functionality is superseded by the refactoring of the NamedExpressions: #49570

[2020-03-02 16:57] #29853 closed

[2020-03-02 17:04] mark-vieira commented on #53000
This is just a network issue with jcenter. There's not really anything we can do here as this is just a transient network issue. Going forward let's just ignore these unless it because systemic and prohibitively disruptive.

[2020-03-02 17:04] #53000 closed

[2020-03-02 17:05] markharwood commented on #52155
We discussed this today and had a proposal for how users can avoid this error without resorting to any of the painful workarounds listed above.
As part of the highlight request a user could provide a form of query-time `"ignore_above" statement:

    "ignore_above" : {
         "size": 10000,
         "replacement_value": "Too large ..."
    }

The size parameter specifies the maximum field size (

[2020-03-02 17:08] costin opened #53016 "QL: Add support for constant_keyword field type"
`constant_keyword` just landed in master, being a specialized type of keyword - QL should add support for it

[2020-03-02 17:09] elasticmachine commented on #53016
Pinging @elastic/es-search (:Search/EQL)

[2020-03-02 17:16] romseygeek opened #53018 "Handling index templates with multiple mapping types"
It has been impossible to add a new index template with multiple mapping types since version 6.0, and creating an index that matches an index template containing multiple mapping types has failed with an error since 7.0.  However, because index templates are preserved over rolling upgrades, it is still possible to have a cluster state that contains such a template.  In 8.0, with types being remove

[2020-03-02 17:16] elasticmachine commented on #53018
Pinging @elastic/es-distributed (:Distributed/CRUD)

[2020-03-02 17:16] mark-vieira commented on #53011
Since this has failed multiple times and reproduces locally I've muted this again in `master` (f9d5fac046b29d62fe92710c3b507d60ad37e659) and `7.x` (313d6d6f9f495a003b53ac6acd907403861bbdcf).

[2020-03-02 17:21] mark-vieira commented on #53007
This test has failed a dozen times in the past few days so I've muted it in `master` (a134ccc4462c3666aeff9c13e3e4ddbe1c99077a) and `7.x` (34671be374b2b045d6af47e56e6eae1cb1024f45).

[2020-03-02 17:22] costin opened #53020 "Introduce strategy or query for exact querying of text fields"
In languages implemented on top of Elasticsearch, exact matching on text field (non-exact fields) is problematic since the match can happen in a non exact fashion (e.g. a `text` field with value "an apple" can match "apple").

Examples of said discussions are mentioned are #52709 and a strategy for coping with this (falling back to `keyword` for aggregations and exact comparisons, in SQL, is docum

[2020-03-02 17:22] elasticmachine commented on #53020
Pinging @elastic/es-search (:Search/Search)

[2020-03-02 17:22] kkewwei commented on #51194
yes, It may be better to put  `index.merge.scheduler.max_merge_count` to IndexMetaData after updating `index.merge.scheduler.max_thread_count`.

[2020-03-02 17:40] mark-vieira commented on #51316
@pugnascotia this is still failing on `7.6`. Do we need to backport something there, or perhaps just mute this in the meantime if we aren't going to be able to fix it soon?

[2020-03-02 17:53] elasticmachine commented on #53023
Pinging @elastic/es-docs (>docs)

[2020-03-02 17:56] elasticmachine commented on #53023
Pinging @elastic/es-security (:Security/Authentication)

[2020-03-02 18:51] mark-vieira opened #53025 "[CI] LocalIndicesCleanerTests.testHandlesWatcherHistory fails reproducibly"
This test has failed a few times no on `master`:

[code]

The example above reproduced for me locally.

https://gradle-enterprise.elastic.co/s/qevr265r5v2bo/tests/iu7lux6ygquas-ar7w2ggk5jvdw

[2020-03-02 18:51] elasticmachine commented on #53025
Pinging @elastic/es-core-features (:Core/Features/Watcher)

[2020-03-02 18:52] mark-vieira commented on #53025
Since this reproduces I've muted this in `master` with 645d0bbe586f1004d5a6c5469767a69736996ed9.

[2020-03-02 19:08] jtibshirani commented on #52164
To clarify my explanation, issuing a request with the mappings

[code]

is the same as issuing a request with

[code]

Elasticsearch always interprets names that contain dots like `field1.test` as a path, and creates both a parent object mapping `field1` and a leaf field mapping `test`.

[2020-03-02 19:11] williamrandolph commented on #52975
@jasontedor

To sum up your comments: there are two issues with this issue description so far. I described a distinction between "info" and "stats," but didn't make other important distinctions.

First, there's the difference between node-level stats, cluster-level stats that are aggregations of node-level stats, and stats that are reporting things that have nothing to do with nodes. CCR and Enric

[2020-03-02 20:18] williamrandolph commented on #51316
One issue here is that these tests got moved to `KeystoreManagementTests` and modified in the process, so it's hard to see the differences between what 7.x and master do, and what's happening here. I'm taking a look to see if there's a missing backport.

[2020-03-02 20:33] williamrandolph commented on #51316
It looks like the 7.7 and master branches have a few extra calls to `waitForPathToExist(keystore)` when running this test. The changes are buried deep in feature branch work on the `KeystoreManagementTests` file, so there's no good way to backport them. But I will set up a PR that adds those calls for this version of the test.

[2020-03-02 20:36] rjernst commented on #52975
Regarding only allowing our plugins to add to telemetry (so that we trust they are not adding user data), we already have the list of official plugins and modules. Currently this is used in the plugin installer, but we can make this available through the plugin service and perhaps on the Plugin class to easily identify if a plugin is official.

[2020-03-02 21:22] elasticmachine commented on #52605
Pinging @elastic/es-ui (:ES-UI)

[2020-03-02 21:22] elasticmachine commented on #52902
Pinging @elastic/es-ui (:ES-UI)

[2020-03-02 21:31] costin commented on #52941
`@timestamp` it is.

[2020-03-02 21:35] imotov commented on #52499
Interesting idea. I can try prototyping that as well.

If I understood your idea, we might lose the ability to convert parameters between parser and constructor easily thought. In some cases we need to do some simple conversion on parameters on the way in, iterator allows us to do it in the constructor. With Object[] we would need to replace Nth element of an array that again forces us to deal wit

[2020-03-02 22:08] nik9000 commented on #52499
I think if we took a function reference *somehow* that'd be the cleanest thing from a usability standpoint. But I know that ain't easy.

[2020-03-02 23:04] tobio commented on #52865
🎉thanks for the quick change @astefan

[2020-03-02 23:37] #52983 closed

[2020-03-02 23:39] rjernst commented on #50395
I've marked this issue as stalled. There are 3 remaining production uses, which are blocked on the following changes:
* Converting the azure V11/V12 client (#43309)
* Updating to the latest hdfs
* Upgrading opensaml with shibboleth java utilities 8.0.0 once it is released

[2020-03-03 00:15] mark-vieira commented on #52453
`SmokeTestWatcherTestSuiteIT.testMonitorClusterHealth` has failed twice again today. I assume due to the nature of the underlying cause that muting isn't practical.

[2020-03-03 01:09] mark-vieira opened #53042 "[CI] Rolling upgrade tests failing to start after upgrading node"
We have a bunch of BWC tests failing in `master`:

[code]

The problem here is the cluster failing to come up after upgrading one of the cluster nodes from `7.7.0` (i.e. latest from `7.x` branch) to `8.0.0` (i.e. `master`).

The logs are littered with logs of SSL/crypto type errors, as well as this one:

[code]

It's not clear to me (since these are all `info` and `warn` level logs) which is stopp

[2020-03-03 01:09] elasticmachine commented on #53042
Pinging @elastic/es-distributed (:Distributed/Cluster Coordination)

[2020-03-03 01:42] ppf2 commented on #20108
Starting in 7.6, profile API now disables the query and request cache when
profile is set to true (https://github.com/elastic/elasticsearch/pull/48195) so users will not have to deal with figuring out if the profile API output is reflecting query performance with/without request/query caching in play, etc..

[2020-03-03 01:42] #20108 closed

[2020-03-03 02:38] tc027 opened #53044 "No way to specify auto-slice in an AbstractBulkByScrollRequest"
Elasticsearch version: 7.6.0

JVM version:
openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.6+10, mixed mode)

OS version: Windows 10

**Description of the problem including expected versus actual behavior**:
There is no way to specify auto-slice in an AbstractBulkByScrollRequest. AbstractBulkByScrollRe

[2020-03-03 03:12] jaymode commented on #53025
This one is probably caused by changing this index to be hidden. I will look into it.

[2020-03-03 06:09] aananthagovindarajan commented on #35118
Composite Aggregation is a very nice feature, it allows to paginate over the distinct values of the field but however sort by only "key/term". Are there any plans to support sort by doc_count desc?  The Composite Aggregation docs, is not capturing the absence of sort by doc_count desc support which the majority of the users interested in.

[2020-03-03 06:55] martijnvg commented on #52453
I want to see how these tests respond to #52627.

Otherwise I think we should investigate changing the watcher put and delete APIs to wait for the watch to be added to the trigger service before returning a response. Tests assume that this always happens, but that is not the case. In the meantime specific tests can be muted.

[2020-03-03 08:11] ywelsch commented on #53042
Quick grep at recently merged code shows https://github.com/elastic/elasticsearch/pull/53012 as possible cause. @hendrikmuhs can you check this one?

[2020-03-03 08:11] elasticmachine commented on #53042
Pinging @elastic/ml-core (:ml/Transform)

[2020-03-03 08:16] ywelsch commented on #52223
@dnhatn has added more assertions here, but there haven't been any recent failures. I'll close this for now, but please report and reopen issue on any future failures.

[2020-03-03 08:19] dimitris-athanasiou commented on #52921
There is already a paragraph explaining how to use aggregations in a job:

But it might be worth it to expand a bit and explain that for the job to pick an aggregated field it has to be referred in the analysis config.

@lcawl @szabosteve Could you take a look at if and how we could improve this please?

[2020-03-03 09:14] hendrikmuhs commented on #53042
I will have a look, however I merged the PR you mention 2 hours ago, the bug report is 8 hours ago.

BWC testing has been disabled by me until I re-enabled them 2 hours ago, its strange that the rolling upgrade still run.

[2020-03-03 09:24] tsg commented on #52941
Yeah, `@timestamp` is the ECS name so we should default to it.

[2020-03-03 09:26] elasticmachine commented on #53042
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-03-03 09:26] hendrikmuhs commented on #53042
I think this is due to transform serialization changes introduced in https://github.com/elastic/elasticsearch/pull/52998

The changes have been backported and BWC has been re-enabled with #53012

I wonder about this failure, BWC has been disabled, the log contains:

[code]

Is it expected that the rolling upgrade test, which is about BWC, gets executed? I think this test should be skipped if BWC t

[2020-03-03 09:44] hendrikmuhs commented on #51549
this error has not been seen again, since the initial report. Therefore closing it.

[2020-03-03 09:44] #51549 closed

[2020-03-03 10:02] #50245 closed

[2020-03-03 10:08] m9aertner commented on #31954
A `/_cat/pipelines` endpoint would also be nice for consistency with `/_cat/aliases` and others.

When there is no pipeline defined, `/_ingest/pipeline` as shown above causes a 404 error, whereas 200 OK is returned for no aliases. I prefer the latter, as it's more convenient for fail-fast scripting.

Note that `/_ingest/pipeline/*` and `/_ingest/pipeline/my-*` also show 404.

[2020-03-03 10:49] pugnascotia commented on #49359
Something's changed on master, because I just did two back-to-back builds and the second run was fine. I even ran the tests and saw that the first time it exported the Docker image as expected, and the second time it didn't.

So we're all good here as far as I can tell.

[2020-03-03 10:49] #49359 closed

[2020-03-03 10:59] droberts195 commented on #53007
I adjusted the PR title because this didn't just happen on Windows.  For example:

* CentOS 8: https://gradle-enterprise.elastic.co/s/ekmadt3ijei4w
* Debian 9: https://gradle-enterprise.elastic.co/s/i4mxj6gvu6evu

It's a timing issue, not a platform issue.

[2020-03-03 11:19] cocolabssas commented on #50186
Hello,

The error is still there :

[2020-03-03 11:43] matriv commented on #35270
The issue has been resolved with the refactoring of the NamedExpression: #49570.

[2020-03-03 11:43] #35270 closed

[2020-03-03 12:51] jasontedor opened #53049 "Should we remove the listener thread pool?"
Previously this thread pool was primarily used in the transport client to ensure that listeners are not called back on network threads.

We also adopted the use of this thread pool for global checkpoint listeners, which are callbacks that are executed at the shard level when the global checkpoint for the shard increases above a per-listener defined value.

With the removal of the transport client,

[2020-03-03 12:51] elasticmachine commented on #53049
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-03-03 13:15] xeraa commented on #50186
I cannot reproduce that problem — at least now it's working fine for me. Are you still seeing the issue?

[2020-03-03 13:18] costin commented on #52910
Closed by #53004 (note that currently the sorting happens on `timestamp`, proper naming of defaults is handled through #52941)

[2020-03-03 13:18] #52910 closed

[2020-03-03 14:06] sgreszcz opened #53052 "ES 7.6 Disk shows full but isn't"
**Elasticsearch version** (`bin/elasticsearch --version`):  Elasticsearch 7.6 in Elastic.co Elastic Cloud.

**Description of the problem including expected versus actual behavior**:

Elastic Cloud upgraded to 7.6.  Was running fine with hot node, and rolling 50GB indexes from filebeat, metricbeat, and logstash to warm node.  After a week or so no more indexing and single sign on broke as disk show

[2020-03-03 14:14] DaveCTurner commented on #53052
Hi @sgreszcz, sorry to hear that you are having trouble. Unfortunately there's not enough information here for us to take any action; also, issues on this repository are for tracking development work rather than support cases. Please raise this issue through your support or sales contacts to get the proper attention.

[2020-03-03 14:14] #53052 closed

[2020-03-03 14:22] sgreszcz commented on #53052
OK, thanks fo that, however it was a confirmed bug by the support team.  Also it is difficult to put logs or config information here without significant cleaning of the data.

Anyway it is a problematic bug (blocks the loading of new data) so hope it gets fixed for 7.6.x

[2020-03-03 14:34] raphaelchampeimont opened #53054 "Search preference custom string is ignored when request is sent to a non-client node"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.6.1

**Plugins installed**:
* analysis-icu
* repository-s3
* ltr-1.1.0-es6.6.1.zip (https://elasticsearch-learning-to-rank.readthedocs.io/en/latest/)

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:
We have d

[2020-03-03 15:03] DaveCTurner commented on #53013
There is no HTTP response code that means exactly the right thing here, so every choice is a compromise. We have as a team settled on `200 OK` for bulk requests successfully processed by the coordinating node, even if some or all of the individual items do not succeed (see e.g. https://github.com/elastic/elasticsearch/issues/28522#issuecomment-363212730 and https://github.com/elastic/elasticsearch

[2020-03-03 15:03] #53013 closed

[2020-03-03 15:23] #52812 closed

[2020-03-03 15:25] DaveCTurner commented on #53054
Thanks for the report @raphaelchampeimont. This does indeed sound like surprising behaviour that disagrees with the documentation.

You can use the [profile API](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-profile.html) to determine exactly which shard copies are used by a particular search. I think this might help you come up with a way to reproduce this on a smaller in

[2020-03-03 15:26] elasticmachine commented on #53054
Pinging @elastic/es-search (:Search/Search)

[2020-03-03 15:28] imotov commented on #51268
Just saw similar errors in several watcher tests: https://gradle-enterprise.elastic.co/s/wc4l2pohxpn2a

org.elasticsearch.xpack.watcher.test.integration.BasicWatcherTests testConditionSearchWithSource
org.elasticsearch.xpack.watcher.test.integration.BasicWatcherTests testConditionSearchWithSource
org.elasticsearch.xpack.watcher.test.integration.BasicWatcherTests testConditionSearchWithSource
org.e

[2020-03-03 15:29] jkakavas commented on #51268
For future on triage folks, FIPS testing in 7.x still needs some work, I'll update the original email thread when this is complete.

[2020-03-03 15:32] #53011 closed

[2020-03-03 15:43] achang77 opened #53060 "getting "authentication required" after >docker pull docker.elastic.co/elasticsearch/elasticsearch:7.5.2"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):elasticsearch:7.5.2

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):macos 10.15.3

**Description of the problem including expected versus actual behavior**:
docker pull returning authentication required
**Steps to reproduce**:

Please include a *

[2020-03-03 16:12] nikhil-bhat opened #53061 "On updating _root logger level through _cluster/settings log level of child loggers is not considered"
**Elasticsearch version** Version: 6.8.2, Build: default/tar/b506955/2019-07-24T15:24:41.545295Z, JVM: 1.8.0_231:

**Plugins installed**: []

**JVM version** 1.8.0_231:

**OS version** (Linux 4.15):

**On updating _root logger level through _cluster/settings log level of child logger is not considered while logging**

**Steps to reproduce**:

 1. add debug log level for a particular logging heirar

[2020-03-03 16:51] williamrandolph commented on #51316
One note — I looked at some build records and noticed that this test's recent failures seem to be on Debian 9 only. Gradle scan links: [2 March](https://gradle-enterprise.elastic.co/s/l7vqciikcvrda), [1 March](https://gradle-enterprise.elastic.co/s/y3zug32vi7q2o), [1 March](https://gradle-enterprise.elastic.co/s/r6dcqifyo6ef6), [28 February](https://gradle-enterprise.elastic.co/s/tygqnlyv77cw2), [

[2020-03-03 16:55] elasticmachine commented on #53044
Pinging @elastic/es-search (:Search/Search)

[2020-03-03 16:55] elasticmachine commented on #53044
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-03-03 16:57] #49801 closed

[2020-03-03 16:59] cbuescher commented on #53044
Hi,

thanks for raising the issue. I would like to clarify if all your above observations are based on trying to send the request using the HLRC.

I think the problem here is that we provide a way to set the '0' value representing "auto" on the request itself, but we cannot pass this through the Rest layer. I think we need to be more lenient in the above mentioned "parse" method.

[2020-03-03 16:59] jpountz commented on #22811
Closing it for now, like #32433. It's unlikely we'll move forward on this in the near future due to the breaking nature of this change. We can reopen if necessary.

[2020-03-03 16:59] #22811 closed

[2020-03-03 16:59] polyfractal commented on #49801
![image](https://user-images.githubusercontent.com/1224228/75799718-74639a80-5d46-11ea-9fe3-24be6fec51d6.png)

[2020-03-03 17:02] mark-vieira commented on #31555
Looks like this is still an issue. There are potentially ways to improve this, such as configuring the build to compile these dependencies on import so they're available for the IDE.

[2020-03-03 17:02] imotov opened #53064 "ClusterDisruptionIT.testAckedIndexing failure"
Failure in 7.x https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_RUNTIME_JAVA=java11,nodes=general-purpose/548/console

[code]

I cannot find any other failures of this test recently. It fails in a different spot then before in #41068 so might be unrelated.

[2020-03-03 17:02] elasticmachine commented on #53064
Pinging @elastic/es-distributed (:Distributed/Cluster Coordination)

[2020-03-03 17:07] mark-vieira commented on #53042
Good catch. Nope, that definitely should not be the case. I'll investigate this.

[2020-03-03 17:08] polyfractal opened #53065 "Removing experimental status of Matrix Stats"
Matrix stats was [introduced ~four years ago](https://github.com/elastic/elasticsearch/pull/18300) as an experimental feature... and remains experimental to this day.  We need to determine what is barring it from becoming a GA feature and track progress towards that goal.

The last time we talked, we were wanting to postpone GA status until after the VS refactor in case drastic changes were needed

[2020-03-03 17:08] elasticmachine commented on #53065
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-03 17:10] mark-vieira commented on #49359
Thanks, Rory.

[2020-03-03 17:48] cbuescher commented on #53044
@tc027 in case my assumption mentioned above is true, I opened a PR that should adress the High Level Rest Client behaviour when translating this parameter.

[2020-03-03 18:05] #16561 closed

[2020-03-03 18:16] mayya-sharipova commented on #49859
@mrkamel  We would like to know more details about your use-case for a linear rank feature function.  Our intent for a `rank_feature` query is to boost scores of textual queries based on some non-textual features. The boosting happens by combining textual scores with some function from non-textual features. From the literature, we understood that the best functions are saturation, logarithm and si

[2020-03-03 18:21] mayya-sharipova commented on #52857
@dvisztempacct We would like to learn more details about your use case for sparse vectors/rank features. In particular, can you please give an example what kind of queries you would like to run for your use case?

I forgot to mention that we have another new data type that can prevent mapping explosion. It is [flattened](https://www.elastic.co/guide/en/elasticsearch/reference/current/flattened.htm

[2020-03-03 19:34] mark-vieira commented on #53007
Here's another failure after unmuting and adding logging:

https://gradle-enterprise.elastic.co/s/5zdq3jww3gte6/tests/zcquf3hc3eoda-so3ayypsxka5i

[2020-03-03 19:43] eskibars commented on #48058
I'm not opposed to providing this information directly to the user / at the time the query is done, but I also worry that relying on a user (who may not have information on the mappings, etc) to self-report upwards to a cluster administrator that _does_ have that information / can make an appropriate change isn't always likely to happen and actually may be undesirable from an administrative perspe

[2020-03-03 19:46] mrkamel commented on #49859
hi, sure:

Generally, a linear function is often easier to reason about and to communicate.
Specific use case: when calculating scores for a rank_features field externally and you want the scores to be applied as is

For instance, we e.g. boost certain docs according to a match in a lead concept/category, the categories are stored as the keys of a rank_features field, while the matching category i

[2020-03-03 20:12] dvisztempacct commented on #52857
@mayya-sharipova

We sort documents using a linear projection (dot product.)

In many cases our end users select which dimensions are important to them when formulating their query.

We may combine this ordering of documents with other filters (for instance on text fields) or joins.

Is this the kind of detail you're interested in?

Thanks for telling me about `flattened` it looks like it will be

[2020-03-03 20:15] dvisztempacct commented on #52857
I forgot to mention that we are planning to experiment also with document similarity but it is not a feature we currently use in elasticsearch.

[2020-03-03 20:20] alisonelizabeth commented on #49067
Would it make sense to align the naming for the remote cluster mode settings with the `_remote/info` API?

For example:
- `cluster.remote.${cluster_alias}.proxy_address` currently maps to `address`. Should this be `proxy_address`?
- `cluster.remote.${cluster_alias}.proxy_socket_connections` currently maps to `max_socket_connections`. Should this be `max_proxy_socket_connections`?

[2020-03-03 20:34] mark-vieira commented on #53042
I've opened https://github.com/elastic/elasticsearch/pull/53079 to address the problem of some BWC tests still executing when BWC testing is disabled.

[2020-03-03 20:38] danhermann opened #53081 "Use affix settings with settings validators instead of group settings for monitoring SSL/TLS settings"
The SSL settings should be individual affix settings to facilitate validation both at node startup time and when changed dynamically. Once completed, the affix settings with their respective validators should replace the validators added in https://github.com/elastic/elasticsearch/pull/49196. See https://github.com/elastic/elasticsearch/pull/49196#issuecomment-566217943 for more context.

[2020-03-03 20:38] elasticmachine commented on #53081
Pinging @elastic/es-core-infra (:Core/Infra/Settings)

[2020-03-03 20:38] elasticmachine commented on #53081
Pinging @elastic/es-core-features (:Core/Features/Monitoring)

[2020-03-03 20:44] benwtrent commented on #53007
Some interesting logs

The node running the task
[code]

The Node handling the API requests:
[code]

[2020-03-03 21:22] bwf93 opened #53086 "high level REST client does not have a way to set max_concurrent_shard_requests"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.4.0

**Plugins installed**: [custom plugin]

**JVM version** (`java -version`): 11.0.6

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**: MacOS 10.15.1

**Steps to reproduce**:

The MultiSearchRequest object in the high-level REST client does not have any way

[2020-03-03 21:28] elasticmachine commented on #52947
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-03-03 21:30] imotov commented on #52453
@martijnvg it looks like it just failed https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos-7&&immutable/611/console

[2020-03-03 22:07] #52473 closed

[2020-03-03 23:38] tvernum opened #53088 "Docs on custom realm still point to old Shield sample repo"
https://www.elastic.co/guide/en/elasticsearch/reference/7.6/custom-realms.html

Says:

That repo is no longer maintained, and it points people to
- https://github.com/elastic/elasticsearch/tree/master/x-pack/qa/security-example-spi-extension

We should update the ES docs to point to the correct branch (the same branch as the docs are for) in that repo instead.

[2020-03-03 23:38] elasticmachine commented on #53088
Pinging @elastic/es-security (:Security/Authentication)

[2020-03-03 23:38] elasticmachine commented on #53088
Pinging @elastic/es-docs (>docs)

[2020-03-03 23:44] tc027 commented on #53044
That is indeed the case, yes.

Thank you for implementing a fix so promptly.

[2020-03-03 23:52] jchharris commented on #53044
Any chance of getting this into a 7.6.x patch releases?

[2020-03-04 02:49] lcawl commented on #53088
There's also a typo on that page ("matchesto")

[2020-03-04 03:04] awzhgw opened #53091 "How does elasticsearch do storage and computation separation? In other words, use shared storage instead of local hard disk？"
How does elasticsearch do storage and computation separation? In other words, use shared storage instead of local hard disk

https://elasticsearch.cn/article/13650

Can this article achieve 80% resource savings?

[2020-03-04 03:08] awzhgw commented on #53091
https://elasticsearch.cn/article/13650  it used https://github.com/chubaofs/chubaofs

To do shared storage instead of local disk. Because 1 copy is used, 66% of the CPU and memory are saved. Because 80% of the time, the local IO of the es is idle. After using chubaofs, all the resources are shared, which increases the disk resource utilization rate. Come, almost 80% of the hardware savings

[2020-03-04 03:50] ansjsun commented on #53091
hi @awelzel , it is a good idea, but I think  this method may not perform well

[2020-03-04 04:11] zhuhyc commented on #53091
Yes，the separation of computing and storage does bring many benefits to elasticsearch，which can significantly reduce Total Cost of Ownership. If you want to save more money, you can try this solution.

[2020-03-04 04:14] longvd89 commented on #31920
if i have 10 documents and AVG aggregation:   { "aggs" : { "avg_grade" : { "avg" : { "field" : "grade" } } } }
but 1 document have grade = undefined (or not exist field grade in document). I have question : the value of AVG is is calculated on 10 documents or  9 documents (have value of grade )

[2020-03-04 04:21] longvd89 opened #53093 "How does Elasticsearch calculates AVG value ?"
if i have 10 documents and AVG aggregation: { "aggs" : { "avg_grade" : { "avg" : { "field" : "grade" } } } }
but 1 document have grade = undefined (or not exist field grade in document). I have question : the value of AVG is is calculated on 10 documents or 9 documents (have value of grade )

[2020-03-04 06:43] przemekwitek commented on #53007
@benwtrent, I assigned the issue to you as you already started working on it. Good luck!

[2020-03-04 07:03] hendrikmuhs commented on #53042
Thanks @mark-vieira !

Closing this issue as tests are back ok again, after re-enabling in #53012

[2020-03-04 07:03] #53042 closed

[2020-03-04 08:42] jimczi commented on #53093
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2020-03-04 08:42] #53093 closed

[2020-03-04 08:46] felix-lessoer opened #53095 "[Transforms] Add support for Top Hit aggregation to get the last value of a feature for an entity"
The transforms in Elasticsearch are really nice. Many users are using it to transform their data into new shapes. Not only to use this for ML jobs but also for ease building visualizations. E.g. its often use to apply a rule set to raw data to get a status report based on that rules per entity.

For that its often necessary to get the last non null value that was ingested for that entity accros mu

[2020-03-04 09:09] #52762 closed

[2020-03-04 09:48] #53091 closed

[2020-03-04 10:07] elasticmachine commented on #53086
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-03-04 10:41] elasticmachine commented on #53095
Pinging @elastic/ml-core (:ml/Transform)

[2020-03-04 10:46] matriv commented on #52762
`master` : 815f01747a4d54a274ca248af6fc08e5ea0728c1
`7.x` : 1d5c84270033bc1b919019f9ac61ebf1c6dc02f8
`7.6` : 353128cac111ae569d8c5a8fe6d9ff9bc90e4434
`6.8` : c5bc9ae6ec06d0fc0c096a1d27dda701a29a153b

[2020-03-04 10:55] jasontedor commented on #53091
Sorry, but this is basically self-promotion which is not an acceptable use of our GitHub repository, we reserve it for bug reports and feature requests.

[2020-03-04 11:28] pugnascotia commented on #46106
I've been playing around with the current deprecation logger. Since the logger is called all over the place, it seems unfeasible to introduce anything that would require changes to the call sites.

Instead, I threw together a `DeprecationIndexer`, initialised it in `Node` and passed it to the `DeprecationLogger`. Now, if a new setting is `true`, deprecation messages are written in something resemb

[2020-03-04 12:02] martijnvg opened #53100 "Data Streams"
**Update:** the description is out dated, for more information take a look at [the unreleased data streams docs](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/data-streams.html).

The meta issue will track the development of a new feature named data streams.

# Background

Data streams are targeted towards time-based data sources and enable us to solve bootstrap problems when indexin

[2020-03-04 12:02] elasticmachine commented on #53100
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-03-04 12:02] martijnvg opened #53101 "Index Templates v2"
The meta issue will track the development of the second version of index templates.

Tasks:
- [x] Introduce component templates in cluster state (@dakrone) #53290
- [x] CRUD APIs for component templates. (@dakrone) #53558
  - [x] Add validation for component templates "correctness" (@probakowski) #54023
  - [x] Add HLRC support for component template APIs (@probakowski) #54635
  - [x] Add HLRC doc

[2020-03-04 12:02] elasticmachine commented on #53101
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-03-04 12:03] martijnvg commented on #51995
The alias template feature is superseded by data streams (#53100) and index templates v2 (#53101).

The main reason behind is that aliases are not a first class concept in Elasticsearch. Alias templates requires a lot of knowledge about ES in order to get started with ingesting time-based data (aliases, alias templates, and write aliases). Data streams will be a first class way to interact with ti

[2020-03-04 12:03] #51995 closed

[2020-03-04 13:20] costin opened #53104 "EQL: Wildcard matching doesn't work"
With the execution engine hooked in, it seems that wildcard queries do not match anything:

[code]

return no results. Remove the wildcard match or make it exact and results start streaming in.

[2020-03-04 13:20] elasticmachine commented on #53104
Pinging @elastic/es-search (:Search/EQL)

[2020-03-04 13:42] #52609 closed

[2020-03-04 14:01] pgomulka commented on #46106
@pugnascotia that sounds good to me.
Will this Indexer be synchronous and and blocking the execution? Can you link your branch?
I was thinking if maybe we could implement this as a log4j appender that would be used together with asynchronous logger?

With regards to ECS, I am meant to tackle this here https://github.com/elastic/elasticsearch/pull/47105
It is actually almost done, I need to add mor

[2020-03-04 14:19] polyfractal commented on #31920
@longvd89 the forums are probably better place for this kind of question in the future.

But to answer your question: documents that do not have the field (or the field is `null`) will not be included in the calculation.  E.g. aggregations skip documents that don't have the field unless `missing` parameter is configured to give a default.

So only 9 documents would be averaged in your case.

[2020-03-04 14:21] romseygeek opened #53106 "Consolidate parsing exceptions"
Our XContent parsing code currently produces a mixture of `XContentParserException`, `ParsingException` and `ElasticsearchParseException`.  Having three different parse exception implementations seems confusing and trappy, so we should make some effort to consolidate them.

`XContentParserException` is produced by `ObjectMapper` and friends, and lives in the `x-content` module.  It produces error

[2020-03-04 14:21] elasticmachine commented on #53106
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-03-04 14:40] Joseph-R commented on #52665
Great, thanks @tbrooks8 .

[2020-03-04 14:45] martijnvg commented on #52453
I will mute the `SmokeTestWatcherTestSuiteIT#testMonitorClusterHealth` for now in master and 7.x

[2020-03-04 14:51] jasontedor commented on #53049
I missed an additional use of this thread pool which is that refresh listeners are called back on this thread pool.

We discussed this during the distributed team sync and agreed that we should aim for reducing the number of thread pools in Elasticsearch and settled on the following plan:
 - use the CCR thread pool for global checkpoint listeners that are queued from CCR
 - use the calling thread

[2020-03-04 15:01] bh9 opened #53110 "manage_index_templates is not granular enough"
manage_index_templates is the only setting which controls permissions on templates. This means that to allow a user to create a template, you also have to let them delete or modify any other template. In practice, this means that running a multi-user setting where users are using whatever beats products they want involves either trusting all users with manage_index_templates, or superusers creatin

[2020-03-04 15:08] andreidan opened #53111 "ILM make ShrinkStep report success regardless of response isAck flag"
Currently, the `ShrinkStep` reports the execution as successful only if the response to the resize index request has the `isAcknowledged` flag set to true (see https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/ilm/ShrinkStep.java#L65). If the `isAcknowledged` flag is false though, ILM will not move to the next step, but remain on the

[2020-03-04 15:08] elasticmachine commented on #53111
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-03-04 15:17] fpytloun commented on #49067
I just tried proxy mode and found out that it does not support `skip_unavailable` option. It cannot be set if `seeds` are not set but `seeds` can't be set with `mode: proxy`.

My issue is that without this option, if some of remote clusters are offline, searches will fail. I am looking for option that will not break searches if some of remote clusters is not working.

[2020-03-04 15:36] #53025 closed

[2020-03-04 15:41] nik9000 commented on #53106
There are deep, scary places where it is not. I can't remember them now. I think I've tried to forget intentionally. But there are such place. "If you gaze too long into the abyss", and all that.

I'm +1 on removing the exceptions. I'll even help. *but* I think we should find one of those deep, scary spots where we deserialize on the data node and make super sure that serialization issues bubble u

[2020-03-04 15:43] jordan-lewis opened #53115 "Feature Request: Using collapse in conjunction with search_after"
I am using the collapse feature (huge fan of, by the way) and attempted to use that with search_after when I realized that it wasn't supported. I noticed that on #22337 it was mentioned that this was achievable. Is there any plan to implement using collapse in conjunction with search_after in the future?

[2020-03-04 15:49] elasticmachine commented on #53115
Pinging @elastic/es-search (:Search/Search)

[2020-03-04 15:56] jimczi commented on #53115
This seems quite challenging since we may return groups that were returned on the previous round so I am not sure this is realistic. Suppose you sort on `timestamp` ascending and groups based on `hostname`, we'll use the best value of each group for the sort fields even if some documents within the group are beyond that value. This means that the `search_after` request may return these documents a

[2020-03-04 16:02] GeorgeAp opened #53118 "NullPointException using span_multi fuzzy query"
**Elasticsearch version** (`bin/elasticsearch --6.8.2`)

**JVM version** (`1.8.0_242`)

**OS version** (`18.04.1-Ubuntu`)

**Description of the problem including expected versus actual behavior**:
Running the query below yields `NullPointException` on a one node cluster indexed with two documents.
[code]

**Documents used**
I indexed the two documents below on the single node.
[code]

**Steps to r

[2020-03-04 16:17] tlrx commented on #52906
I've spent some time today trying to reproduce locally with the same OS/JDK that almost all the test failures on CI and I did not reproduce the failure. I also looked at the code and saw nothing worrying, all the streams seem to be correctly closed. I've also not found any message in tests execution logs that could indicate that we were not fully draining the request's input stream. I verified the

[2020-03-04 16:19] albertored opened #53120 "Properties of type ip named ip are not correclty handled on 6.8.x"
**Elasticsearch version**
I'm using the managed AWS Elasticsearch Service, this is the version given by API call

[code]

**Description of the problem including expected versus actual behavior**:
After creating an index with a mapping with a property of name `ip` and type `ip` the returned mapping is missing for that property and `_search` results do not include `ip` values.

**Steps to reproduce*

[2020-03-04 16:22] mark-vieira opened #53121 "[CI] Builds for 6.8 branch frequently fail to download dependencies"
Our 6.8 builds are particularly vulnerable to failures due to dependency downloads due to a limitation in how we seed our CI image dependency caches. Essentially, we only seed the cache with dependencies for `master` and it's BWC branches. Since `master` has no backwards compatibility with `6.8` our caching script (which lives in `master`) doesn't download 6.8 dependencies. We have a couple of opt

[2020-03-04 16:22] elasticmachine commented on #53121
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-03-04 16:30] mark-vieira opened #53122 "[CI] Packer cache script doesn't preload dependencies from detached configurations"
Our script for populating dependencies caches on CI worker images works by iterating over all defined configurations and resolving the artifacts from them. This however doesn't work for detached configurations, which are often used by plugins for tasks that require some dependency at runtime. One example of this is spotless, which only downloads the necessary artifacts when the task actually runs.

[2020-03-04 16:30] elasticmachine commented on #53122
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-03-04 16:36] nik9000 opened #53123 "Duplicate warnings"
Over [here](https://github.com/elastic/elasticsearch/pull/52959#discussion_r387724962) we talked about how you can sometimes end up with duplicate warnings, mostly by multiple nodes hitting the warning and then merging them together when we get the results. This seems like something that is worth fixing at some point.

[2020-03-04 16:36] elasticmachine commented on #53123
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-03-04 16:41] tbrooks8 commented on #49067
@fpytloun Thanks for the report. This was fixed in #52829 and will be included in 7.6.1 and 7.7.

[2020-03-04 16:48] #47711 closed

[2020-03-04 16:48] elasticmachine commented on #47711
Pinging @elastic/es-core-features (:Core/Features/Monitoring)

[2020-03-04 16:50] OrangeDog opened #53124 "Kibana APM queries tripping circuit breaker in 7.6.0"
**Elasticsearch version**:
OpenJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.
Version: 7.6.0, Build: default/deb/7f634e9f44834fbc12724506cc1da681b0c3b1e3/2020-02-06T00:09:00.449973Z, JVM: 13.0.2

**Plugins installed**: defaults, Basic license

**JVM version**:
openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime

[2020-03-04 17:04] jordan-lewis commented on #53115
Yes, it would only work if you sort on the same field that you collapse on. That is exactly the case that I have which is why I was hoping it would work.

I haven't looked at how it could be implemented, but totally understand if that use case is not extensive enough to get worked on. If I have time, maybe I'll look into what it would take to get it implemented.

[2020-03-04 17:09] #51853 closed

[2020-03-04 17:13] mark-vieira commented on #52608
@davidkyle We got another failure here. It seems `assumeFalse` isn't resulting in the behavior we are looking for.

https://gradle-enterprise.elastic.co/s/w7kppcm2ut4ay/tests/lf2lfu4ufazso-de42uixmysp7e?open-stacktraces=WzBd

[2020-03-04 17:36] droberts195 commented on #52608
The fatal problem occurs in the cleanup code:

[code]

We need to get rid of the failed job before `assume`ing, because the standard post test cleanup treats leftover failed jobs as fatal errors.

I will open a PR.

[2020-03-04 17:49] rw-access commented on #52939
Specifically, this issue is referring to using the `In` QL nodes, instead of compiling `In` down to an Or of `Equals` which is done now:
https://github.com/elastic/elasticsearch/blob/a462700f9c8e1fb977d62d42eb0077403b8fa98b/x-pack/plugin/eql/src/main/java/org/elasticsearch/xpack/eql/parser/ExpressionBuilder.java#L141-L147

[2020-03-04 17:57] jdconrad opened #53129 "Improve error message for calls against a null def type"
The error message for `def x = null; x.toString();` is similar to the following:
[code]

This is a poor user experience as it doesn't explicitly say that we found a null def when trying to make a call. Instead they see a hard to reason about stack trace. We should add a null check in our PIC and give a better exception here.

[2020-03-04 17:57] elasticmachine commented on #53129
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-03-04 18:02] jaymode commented on #53049
+1

Since this issue is still labeled team discuss and it was discussed during the distributed sync, is there something specific that needs further discussion?

[2020-03-04 18:23] jasontedor commented on #53049
I've removed the label. 🙂

[2020-03-04 18:39] mark-vieira opened #53131 "[CI] Constant keyword tests failing reproducibly"
The introduction of a constant keyword field in #49713 added some additional tests which have failed a few times now in CI. The same four tests seem to reliably fail with this error:

[code]

Here are some examples of build failures:
https://gradle-enterprise.elastic.co/s/lvbzfzye7qatw/tests/failed
https://gradle-enterprise.elastic.co/s/q56aekioba46m/tests/failed
https://gradle-enterprise.elastic.

[2020-03-04 18:39] elasticmachine commented on #53131
Pinging @elastic/es-search (:Search/Search)

[2020-03-04 18:46] mark-vieira commented on #53131
Since this reproduced for me I've muted these tests in `master` with 0b7f2d862ce389aa7ec478be467e4877d416e817.

Interestingly enough, these tests have not yet failed in `7.x` and the same reproduction line above passes for me when run against `7.x`.

[2020-03-04 18:52] dwlizlo commented on #52367
I'm about to work on this, I hope that's alright.

[2020-03-04 18:53] jpountz commented on #53131
Thanks @mark-vieira, I'm assigning myself.

[2020-03-04 19:36] synaq commented on #30724
Hi @debadair,  is there any update to this issue? Also just spent half a day pulling my hair out.

[2020-03-04 19:39] fabiocorneti commented on #49072
@polyfractal apologies, missed the notification, I'll open a PR tomorrow.

[2020-03-04 20:31] benwtrent commented on #53123
This is due to warning messages being written in a mixed cluster environment. If the two nodes that wrote the deprecation warning are on different versions of Elasticsearch, they are currently treated as duplicates.

The current way of checking for duplicates only runs against the new value:

https://github.com/elastic/elasticsearch/blob/883104fcf7ac96cc72cbc70985ffd3a66618c5dc/server/src/main/jav

[2020-03-04 20:34] hendrikmuhs opened #53135 "Composite aggregation ignores value script in terms source"
Using a terms source in a composite aggregation is documented to fully support [scripts](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-composite-aggregation.html#_terms) in the same way as terms aggregation:

[code]

However, [value script](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html#

[2020-03-04 20:34] elasticmachine commented on #53135
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-04 21:18] DaveCTurner opened #53137 "Deduplicate deprecation warnings from LoggingDeprecationHandler"
A [user on the forums](https://discuss.elastic.co/t/turn-off-es-deprecation-logs-dynamically/221948) reports that they are seeing GBs of deprecation logs of the following forms:

[code]

It looks like these are coming from here:

https://github.com/elastic/elasticsearch/blob/e1fdd00420b226b33adba3675ac0ff5d6daf954c/server/src/main/java/org/elasticsearch/common/xcontent/LoggingDeprecationHandler.ja

[2020-03-04 21:18] elasticmachine commented on #53137
Pinging @elastic/es-core-infra (:Core/Infra/Logging)

[2020-03-04 22:03] #49374 closed

[2020-03-04 22:26] probakowski commented on #52000
Another failure from today: https://gradle-enterprise.elastic.co/s/gws7m6tms6coy

[2020-03-04 22:37] probakowski commented on #51316
Another instance of this: https://gradle-enterprise.elastic.co/s/xdauqpfu3gbbi, also Debian 9

[2020-03-04 22:42] #53023 closed

[2020-03-04 22:56] probakowski commented on #51303
Another instance of this error: https://gradle-enterprise.elastic.co/s/tp7px2dwmroio

This reproduces with: `./gradlew ':server:test' --tests "org.elasticsearch.index.engine.NoOpEngineTests.testNoOpEngineStats" -Dtests.seed=DDB7E0B7006591FA -Dtests.security.manager=true -Dtests.locale=id-ID -Dtests.timezone=America/Indiana/Petersburg`

Error:
[code]

[2020-03-04 23:03] nik9000 commented on #51813
I talked to folks a bit and decided that, yes, I should return variables in their original type. In this case that means preserving their "formatter" and deciding between `double` and `long`. I don't support `keyword` fields so there is nothing to do there.

[2020-03-04 23:33] aliciascott opened #53142 "Improve error messaging on allocation explain for IndexNotFoundException"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.0

**Plugins installed**: [] ESS

**JVM version** (`java -version`): ESS

**OS version** (`uname -a` if on a Unix-like system): ESS

**Description of the problem including expected versus actual behavior**:

Related to: https://github.com/elastic/elasticsearch/pull/44054

**Steps to reproduce**:

1.  Add settings to IndexA that ensures

[2020-03-04 23:33] elasticmachine commented on #53142
Pinging @elastic/es-distributed (:Distributed/Allocation)

[2020-03-05 02:49] aleksmaus commented on #52941
Done.

[2020-03-05 02:49] #52941 closed

[2020-03-05 05:31] mr-samarjit-adhikari commented on #47455
@jkakavas Agreed, so do require  java.security.egd=file:/dev/urandom in java.security file ?

[2020-03-05 05:43] #52474 closed

[2020-03-05 05:44] #52311 closed

[2020-03-05 05:52] jkakavas commented on #47455
Hi @mr-samarjit-adhikari,

We'd like to keep this issue regarding our use of the library in our CI environment and not as a place for a general discussion for how to overcome the entropy needs of 1.0.2. This sounds like a user question, so if this relates to your use of elasticsearch in a FIPS 140 environment using the BouncyCastle crypto provider, feel free to open a post in our [discuss forums](

[2020-03-05 07:48] DaveCTurner commented on #24530
Another reason for failing allocations that eventually succeed is `CircuitBreakingException`s; we are discussing making recoveries more resilient to memory pressure in #44484.

A related point is that we typically only repeatedly try allocation on one or two nodes, because we only avoid the very last failed node in the `ReplicaShardAllocator`. Since #48265 we keep track of the nodes behind all fai

[2020-03-05 07:53] jpountz commented on #52490
Addressed via #53150.

[2020-03-05 07:53] #52490 closed

[2020-03-05 08:23] DaveCTurner commented on #52000
`WindowsFS` strikes again. I backported #52488 to the 7.6 branch in 2878ec84fe26f20b89811c8a992b7c99e4ac2741.

[2020-03-05 08:23] #52000 closed

[2020-03-05 08:30] przemekwitek commented on #52877
Update: #52547 has been merged to master so I've started working on this issue.

[2020-03-05 09:02] tlrx commented on #52906
Tests muted for JDK8 in #53119

[2020-03-05 09:02] #52906 closed

[2020-03-05 09:03] elasticmachine commented on #53118
Pinging @elastic/es-search (:Search/Search)

[2020-03-05 09:09] hendrikmuhs commented on #53095
Until top hits is added to transform its possible to use scripted metric, an example is given in

https://discuss.elastic.co/t/latest-full-document-in-transform/221435/4

In a similar way you can retrieve the last value:

[code]

(Example based on [this advent calendar post](
https://discuss.elastic.co/t/dec-5th-2019-de-weihnachtswunsche-zusammenfassen-mit-transforms/209946) (german language) )

[2020-03-05 09:27] hendrikmuhs opened #53156 "[Transform] Add a node role to node.transform"
In #52712 we added `node.transform` to allow control over placing the transform task to certain nodes up to defining a dedicated transform node.

However we did not add a node role yet. In order to properly document the feature and make it visible in e.g. the cat API's, a node role should be added.

/CC @lcawl

[2020-03-05 09:27] elasticmachine commented on #53156
Pinging @elastic/ml-core (:ml/Transform)

[2020-03-05 09:43] #52608 closed

[2020-03-05 09:53] garfberg opened #53158 "Score differs from explanation details"
Hi,

I am facing a scoring issue with Elasticsearch 7.1.1 where the score of some documents does not matches the value it should be as shown in explanation details. It looks like a rounding/precision issue.

The following document shows the problem (see arrow where values that should be equal):

[code]

The search I perform is done on a 1 node cluster, on an alias regrouping 2 indices with 1 shard

[2020-03-05 09:54] jimczi commented on #53118
Thanks for reporting @GeorgeAp but this is a duplicate of #52894 so I am going to close this.

[2020-03-05 09:54] #53118 closed

[2020-03-05 09:58] jimczi commented on #52894
@cbuescher could you take a look at this one ?

[2020-03-05 10:27] martijnvg commented on #36782
This test has been enabled a for a while now and hasn't yet failed.
Closing this issue, if this test does fail again then a new issue should be opened.
(so that there is a clean history)

[2020-03-05 10:27] #36782 closed

[2020-03-05 10:42] nitin2goyal commented on #33159
@colings86 @jpountz Sorry for commenting on an old/closed thread. We have use case where we don't have much concurrent queries at any given time but we suffer from latencies due to sequential segment search (though we have enough compute to spare). So we end up having higher latencies and under utilised compute. So, I was thinking to make use of Lucene's concurrent searcher and wanted to understan

[2020-03-05 11:02] jpountz commented on #33159
@nitin2goyal We might move in this direction one day, though it's right it's not a priority. I'm afraid it's more complex than what you suggested. I don't have all the details but I remember that @s1monw looked into what it would take to start searching shards concurrently and this raised a number of interesting problems.

[2020-03-05 11:03] elasticmachine commented on #53124
Pinging @elastic/es-core-infra (:Core/Infra/Circuit Breakers)

[2020-03-05 11:03] jimczi commented on #53124
The error indicates that the circuit breaker prevented an out of memory exception so you might have something that occupies more space in the heap. Are you sure that you didn't change your setting ? I see that the heap is limited to 1GB so was it the same in previous deployments ? I am also not aware of any changes in Elasticsearch 7.6.0 that would explain this behavior but maybe APM changed somet

[2020-03-05 11:17] azasypkin opened #53161 "OIDC `_security/oidc/prepare` and `_security/oidc/authenticate` APIs should return realm name used for authentication"
Currently responses of `_security/oidc/prepare` and `_security/oidc/authenticate` don't include realm name. That means that if consumer doesn't provide an _optional_ `realm` parameter they don't know what realm was used to perform authentication.

It's not critical, but it'd help Kibana to properly support IdP initiated logins when multiple OIDC realms is enabled.

__Related to:__ https://github.c

[2020-03-05 11:17] elasticmachine commented on #53161
Pinging @elastic/es-security (:Security/Authentication)

[2020-03-05 11:23] asomir commented on #25067
@ly3too that helped for me! thnx!

[2020-03-05 11:32] OrangeDog commented on #53124
I have changed nothing in the configuration. Any changes would've come from the APM server index template, or anything Kibana might've done on upgrade.

In particular it has always had the default 1GB heap limit, which has never caused issues before.

[2020-03-05 11:54] pugnascotia commented on #46106
@pgomulka here's the branch: https://github.com/elastic/elasticsearch/compare/4ff5e03c70a...pugnascotia:index-deprecation-logs

[2020-03-05 12:47] lizozom commented on #33960
Just ran into this issue myself. +1

[2020-03-05 13:16] henningandersen commented on #53064
Adding a sleep when marking nodes faulty makes this reproduce 7/10 times on my CI:

[code]

Will find a workaround for this specific case.

We discussed this at distributed sync and the issue is that any disruption style test risk seeing nodes disconnect after the disruption has been stopped, since the follower check's marking faulty can be delayed. We saw no easy general solution to this, but dis

[2020-03-05 13:28] #53131 closed

[2020-03-05 13:31] #53007 closed

[2020-03-05 14:13] benwtrent opened #53168 "`composite` agg fails to bucket `date_nanos` with `date_histogram` source"
This bug is present in at least 7.6. Probably earlier.

`composite` agg does not behave the same as `date_histogram` on a `date_nanos` field.

Example:
Lets build a `date_nanos` index with some docs
[code]

A good call from a `date_histogram` agg:
[code]
Returns:
[code]

But, the following composite agg does not return the same thing:
[code]
There are instead strange `null` values and bucket keys

[2020-03-05 14:13] elasticmachine commented on #53168
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-05 14:15] cbuescher commented on #52894
I took a look at the examples in #53118 and this and can reproduce the NPE on 6.8.7 locally with an index that contains at least one document containing the field that is queried by the fuzzy query, e.g:
[code]
This fails with the following stacktrace on 6.8.7, which is almost identical except for a missing  `org.apache.lucene.search.BooleanQuery.rewrite(BooleanQuery.java:246)` rewrite step that t

[2020-03-05 14:21] aleksmaus commented on #51961
Closing this issue as agreed since support for _eql/stats is implemented now.

[2020-03-05 14:21] #51961 closed

[2020-03-05 14:56] OrangeDog commented on #53124
Just upgraded everything to 7.6.1, with no observable change.

[2020-03-05 14:56] bcbrockway opened #53171 "RemoteTransportException caused by NullPointerException when trying to create snapshot through Kibana UI"
**Elasticsearch version**: 7.5.2

**Plugins installed**:

* repository-gcs
* repository-s3

**JVM version**: openjdk 13.0.1 2019-10-15

**OS version**: Linux portal-elastic-es-main-0 4.14.138+ #1 SMP Tue Sep 3 02:58:08 PDT 2019 x86_64 x86_64 x86_64 GNU/Linux (official docker container - docker.elastic.co/elasticsearch/elasticsearch:7.5.2)

**Description of the problem including expected versus act

[2020-03-05 15:21] jepert opened #53174 "unfollow call not returning when remote cluster is not available"
**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 7.6.1, Build: default/rpm/aa751e09be0a5072e8570670309b1f12348f023b/2020-02-29T00:15:25.529771Z, JVM: 13.0.2

**Plugins installed**: []

**JVM version** (`java -version`):

openjdk version "13.0.2" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 13.0.2+8)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 13.0.2+8, mixed mode

[2020-03-05 15:26] jpountz opened #53175 "Collapse field types into "families" of field types in `_field_caps`."
Both Kibana and SQL have logic on top of the `_field_caps` API to detect when a conflict is harmful versus when it's not. Part of how it works is by grouping field types into families of fields: conflicts are fine as long as the types across indices are all of the same family.

Should we move this logic to `_field_caps` instead?

Here is an example of how we could collapse fields:
 - `number`: `lo

[2020-03-05 15:26] elasticmachine commented on #53175
Pinging @elastic/es-search (:Search/Mapping)

[2020-03-05 15:33] cbuescher commented on #52894
On 7.0 the recursive rewrite in the IndexSearcher doesn't seem to use `SpanBooleanQueryRewriteWithMaxClause` but Lucenes `TopTermsRewrite` as far as I can see. Not sure why though.

[2020-03-05 15:40] cbuescher commented on #52894
This is the call stack on 7.0, the Attribute source that's `null` in the 6.8 case gets set here by the using the TermCollectors attributes in https://github.com/apache/lucene-solr/blob/releases/lucene-solr/8.0.0/lucene/core/src/java/org/apache/lucene/search/TermCollectingRewrite.java#L58

![Screenshot 2020-03-05 at 16 35 01](https://user-images.githubusercontent.com/10398885/75997266-6442eb00-5eff

[2020-03-05 16:01] DaveCTurner opened #53177 "WatcherYamlRestIT fails on test get watch api with missing watch on existing index"
The following two builds failed for similar-looking reasons:

- https://gradle-enterprise.elastic.co/s/i6nku22fs7zws
- https://gradle-enterprise.elastic.co/s/jrj3kx4dqgu4w

The failure looked like this:

[code]

I haven't attempted to reproduce this.

[2020-03-05 16:01] elasticmachine commented on #53177
Pinging @elastic/es-core-features (:Core/Features/Watcher)

[2020-03-05 16:12] DaveCTurner commented on #52887
We discussed this in the team meeting yesterday and decided that I'll open a PR to improve the docs on this method in due course.

[2020-03-05 16:15] costin commented on #53175
Having some type of "category" would be useful however I'm not sure whether in the end it would be useful across all consumers.
For example for SQL there's a big difference in reporting a `long` vs a `double` as they have different size, precision ,etc...
Currently in case of a merge we do consider the field conflicting since it would be a merge between similar but yet different types. This is som

[2020-03-05 16:46] jbaiera commented on #53000
This seems like it's been a problem the last three days. We probably don't need to do anything about it yet, but I figured it was worth reporting in about.

[2020-03-05 16:55] mark-vieira commented on #53000
Indeed. Not sure if bintray is just having troubles or its something in our infrastructure. We launch big batches of jobs that all need to grab these dependencies so in a way it's a mini-DoS attack.

[2020-03-05 17:01] jaymode opened #53178 "Transport request handlers should be registered safely"
Similar to #38560 and #51622, the HandledTransportAction registers a non-static inner class with the transport service as the handler for the requests of a given action as seen below.

https://github.com/elastic/elasticsearch/blob/898012028e5cd9c6d6058d2063d772fabdea305c/server/src/main/java/org/elasticsearch/action/support/HandledTransportAction.java#L52-L66

In the other issues, a reference to t

[2020-03-05 17:01] elasticmachine commented on #53178
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-03-05 17:25] jbaiera commented on #52853
We've had a couple more failures of this specific test in the last couple of days:

https://gradle-enterprise.elastic.co/s/qhraswyh3qk6g
https://gradle-enterprise.elastic.co/s/cfyqrwx5isfjw

[2020-03-05 17:26] mark-vieira commented on #53177
I tried, but it didn't reproduce locally for me.

[2020-03-05 18:12] jpountz commented on #53175
I have mixed feelings on this. We're doing everything so that field types are as transparent as possible, e.g. `long` fields accept range queries that have floating-point bounds and do the right thing. Yet introducing new numeric fields requires changes in our SQL layer requires changes, which feels wrong to me.

How do you do it in SQL today?

[2020-03-05 18:22] jpountz opened #53181 "Formalize dual text/keyword mappings"
Our default dynamic mappings rules create both a text and a keyword field whenever they hit a JSON string:

[code]

And over the years, many clients implemented similar logic:
 - when an exact query is fired, use the `keyword` field,
 - when an aggregation is used, use the `keyword` field,
 - otherwise use the `text` field.

Is it logic that we should embed in Elasticsearch? Maybe we can find bett

[2020-03-05 18:22] elasticmachine commented on #53181
Pinging @elastic/es-search (:Search/Mapping)

[2020-03-05 19:11] mark-vieira commented on #52853
@jbaiera Looks like the fix in #53039 didn't completely eliminate this. We should remute.

[2020-03-05 19:22] jbaiera opened #53182 "Tests failing for InternalEngineTests.testNonInternalVersioningOnPrimary"
We have a test failure for this on master that randomly reproduces on my local machine:

[code]

https://gradle-enterprise.elastic.co/s/3azaha44sogpu/console-log?task=:server:test
Fails in the same way intermittently on my local machine (0-2 times out of 25 runs)

[2020-03-05 19:23] elasticmachine commented on #53182
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-03-05 19:30] jakelandis opened #53183 "Plugin development - extra REST tests are executed"
Starting with 7.6.1 some [internal changes](https://github.com/elastic/elasticsearch/pull/52114) to how the REST tests are managed accidentally causes all of the REST tests (not just the plugin tests) to execute. This applies to any plugin that uses the REST test framework from build-tools. The plugin REST tests are still run.

The workaround is to add the following to `build.gradle` after applyin

[2020-03-05 19:30] elasticmachine commented on #53183
Pinging @elastic/es-core-infra (:Core/Infra/Plugins)

[2020-03-05 19:44] jbaiera opened #53185 "InternalEngineTests.testVersionOnPrimaryWithConcurrentRefresh fails on 7.x"
This failed today on CI. I was able to reproduce the issue randomly on my local box (1 failed out of 25 runs).

[code]

https://gradle-enterprise.elastic.co/s/zyzt5krtzhnz4/console-log?task=:server:test

[2020-03-05 19:44] elasticmachine commented on #53185
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-03-05 19:51] jbaiera opened #53186 "InternalEngineTests.testRandomOperations fails on 7.x"
Another InternalEngineTests failure popped up today. This one also reproduces randomly on my machine (1 failure out of 25 runs).

[code]

https://gradle-enterprise.elastic.co/s/76dhhkxhcl2rs/console-log?task=:server:test

[2020-03-05 19:51] elasticmachine commented on #53186
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-03-05 20:12] jbaiera commented on #53185
Muted 66788afa674

[2020-03-05 20:12] jbaiera commented on #53186
Muted d1cc2e68d5a

[2020-03-05 20:13] jbaiera commented on #53182
Muted 72f3c688eb5

[2020-03-05 20:26] jbaiera opened #53188 "RegressionIT. testTwoJobsWithSameRandomizeSeedUseSameTrainingSet fails on master"
This failure came in today running on the master branch. I was able to reproduce the failure locally 100% of the runs I tried:

[code]
https://gradle-enterprise.elastic.co/s/6akvzoza2fmuc

Since it reproduces so consistently on my local run, I'm going to go ahead and mute the test.

[2020-03-05 20:26] elasticmachine commented on #53188
Pinging @elastic/ml-core (:ml)

[2020-03-05 20:29] jbaiera commented on #53188
Muted 146626cd7c9

[2020-03-05 20:53] jbaiera opened #53190 "InternalEngineTests.testForceMergeWithSoftDeletesRetentionAndRecoverySource fails on 7.x"
This test is failing on 7.x right now. Was able to reproduce it on my machine, though it's strange to me that it only ever fails the first time it is run. Running with 25 iterations it fails on the first test and passes on each of the 24 subsequent runs.

[code]

https://gradle-enterprise.elastic.co/s/vybsiamlwzziu

[2020-03-05 20:53] elasticmachine commented on #53190
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-03-05 20:57] jbaiera commented on #53190
Muted da8aac9e66a since this consistently fails locally.

[2020-03-05 20:58] larry-hernandez opened #53191 "Upgrade repository-s3 plugin to use aws-sdk-java library version 1.11.704 or greater"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6

**Plugins installed**: [`repository-s3`]

**Description of the problem including expected versus actual behavior**:

The aws-sdk-java library (version 1.11.636) used in the s3-repository plugin contains a [bug](https://github.com/aws/aws-sdk-java/issues/2136) that prevents the IAM container role on Amazon EKS deployments from authenti

[2020-03-05 20:58] elasticmachine commented on #53191
Pinging @elastic/es-core-infra (:Core/Infra/Plugins)

[2020-03-05 21:15] benwtrent commented on #53188
Ah, this failure makes sense :). I will take this one.

[2020-03-05 21:42] jbaiera opened #53193 "GatewayMetaStatePersistedStateTests.testDataOnlyNodePersistence fails on 7.x"
This test is failing on 7.x. Was able to get reproductions of the failure locally on 7.x and master:

[code]
https://gradle-enterprise.elastic.co/s/wpf5clcawfxfy

Since it is reproducing reliably in local on master and 7.x, I will mute the test for both of those branches.

[2020-03-05 21:42] elasticmachine commented on #53193
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-03-05 21:43] dnhatn commented on #53190
I think we need to build a new Lucene snapshot including: https://github.com/apache/lucene-solr/pull/1313.

[2020-03-05 21:46] dnhatn commented on #53182
I believe this is caused by [LUCENE-8962](https://issues.apache.org/jira/browse/LUCENE-8962).

[2020-03-05 21:48] dnhatn commented on #53185
I believe this is caused by [LUCENE-8962](https://issues.apache.org/jira/browse/LUCENE-8962).

[2020-03-05 21:55] polyfractal opened #53194 "Use ValuesSourceRegistry for MultiValuesSourceAggregations"
Wire up the `MultiValuesSourceAggregationBuilder` sub classes to use the values source registry.  This should follow a model like Composite, where single source components are loaded into the registry and can be checked out in any combination.

 - [ ] Weighted Average
 - [ ] T Test
 - [ ] Geo Line
 - [ ] Multi Terms (not based on `MultiValuesSourceAggregationBuilder`, but should be doable with the

[2020-03-05 21:55] rjernst commented on #53137
Yes, we should be using that method. I wonder if we should remove or change the deprecated method altogether, such that we can't fall into this trap again. I can't think of any cases where we *don't* want to deduplicate?

[2020-03-05 22:07] jbaiera opened #53195 "InternalEngineTests are unstable"
We've seen a number of InternalEngineTests failures today on CI, many of them reproduce locally with some light effort:

- [ ] https://github.com/elastic/elasticsearch/issues/53190
- [ ] https://github.com/elastic/elasticsearch/issues/53186
- [ ] https://github.com/elastic/elasticsearch/issues/53185
- [ ] https://github.com/elastic/elasticsearch/issues/53182
- [ ] https://github.com/elastic/elasti

[2020-03-05 22:07] elasticmachine commented on #53195
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-03-05 22:08] dnhatn commented on #53186
Close in favor of #53195.

[2020-03-05 22:08] #53186 closed

[2020-03-05 22:09] #53185 closed

[2020-03-05 22:09] dnhatn commented on #53190
Close in favor of #53195.

[2020-03-05 22:20] dnhatn commented on #53193
Closes in favor of #53195.

[2020-03-05 22:20] #53193 closed

[2020-03-05 22:49] vb-dave opened #53201 "File conflicts on install of elasticsearch 7.6.1 rpm"
On a Centos 7.7 server running Elasticsearch 7.6.0 installed from RPM via Chef cookbook https://github.com/elastic/cookbook-elasticsearch/, when we try and install 7.6.1 the package is not being installed.

When I try and install elasticsearch-7.6.1-x86_64.rpm manually on the command line I get the following error:
`$ rpm -ivh elasticsearch-7.6.1-x86_64.rpm
Preparing...                          ##

[2020-03-06 01:03] danielharada opened #53206 "7.6.0 GeoIP Processor results do not match specified DB"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 7.6.0, Build: default/tar/7f634e9f44834fbc12724506cc1da681b0c3b1e3/2020-02-06T00:09:00.449973Z, JVM: 13.0.2

**Plugins installed**: []

**JVM version** (`java -version`):
ava version "1.8.0_231"
Java(TM) SE Runtime Environment (build 1.8.0_231-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.231-b11, mixed mode)

**OS version** (`

[2020-03-06 01:04] elasticmachine commented on #53206
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-03-06 02:09] sherry-ger opened #53209 "ILM and unallocated shards"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.6

**Plugins installed**: []

**JVM version** (`java -version`):
1.8

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

I am uncertain this is a bug as per documentation ES did just that.  Also, the ES cluster configs don't follow bes

[2020-03-06 02:10] elasticmachine commented on #53209
Pinging @elastic/es-distributed (:Distributed/Allocation)

[2020-03-06 04:14] russcam opened #53212 "expand_wildcards spec definitions mismatch yaml test usage"
The `expand_wildcards` param defined in REST API specs is defined as an `enum` type with options `:[
"open", "closed", "none", "all"]`. An example is `cluster.state.json`:

https://github.com/elastic/elasticsearch/blob/0d38626d8e6e9e2620a7a446b617a2ac42852461/rest-api-spec/src/main/resources/rest-api-spec/api/cluster.state.json#L95-L105

An `enum` type is defined as a set of constants where a sing

[2020-03-06 04:48] dnhatn commented on #53195
These tests can fail with the [MockRandomMergePolicy](https://github.com/apache/lucene-solr/blob/9cfdf17b2895866877668002d443277a46cd04e8/lucene/test-framework/src/java/org/apache/lucene/index/MockRandomMergePolicy.java#L132). Only this merge policy returns non-null for `findFullFlushMerges` which was introduced recently in Lucene.

[2020-03-06 05:36] russcam commented on #53212
Another example, which specifies a comma-separated string to denote multiple values: https://github.com/elastic/elasticsearch/blob/0d38626d8e6e9e2620a7a446b617a2ac42852461/rest-api-spec/src/main/resources/rest-api-spec/test/indices.get/10_basic.yml#L156

[2020-03-06 07:46] astefan commented on #53175
In SQL, we depend on field_caps almost entirely and while `keyword` and `constant_keyword` can be regarded as "equivalent" **when merging mappings**, there are scenarios that need to know what a field type truly is. Think about `DESCRIBE index_alias` and `DESCRIBE single_index`. The first one will consider the equivalence between `keyword` and `constant_keyword` and the field with the same name wi

[2020-03-06 07:56] #53064 closed

[2020-03-06 08:31] jetnet opened #53215 "Some multi-bucket aggs cannot be used in pipeline aggs"
**Elasticsearch version**: 7.6
**Plugins installed**: [ingest-attachment, ingest-opennl]

**JVM version** : openjdk version "13.0.2" 2020-01-14

**OS version** : Windows 10

**Description of the problem including expected versus actual behavior**:
`Filter Agg` and `IP Range Agg` cannot be used as a source for `Pipeline Aggs`

**Steps to reproduce**:
Example with the `ip_range` agg:

[code]

Error:

[2020-03-06 09:00] jpountz commented on #49028
+1 to move forward with something along the lines of @wylieconlon 's above proposal.

[2020-03-06 09:08] jpountz commented on #49264
@jtibshirani @jimczi Should we close this in favor of #49028?

[2020-03-06 09:34] jimczi commented on #53158
@mayya-sharipova can you take a look ?

[2020-03-06 09:34] elasticmachine commented on #53158
Pinging @elastic/es-search (:Search/Ranking)

[2020-03-06 10:59] fhaase2 commented on #9633
This is still the behaviour in the newer Elasticsearch versions. However, this is not documented in the description of the simple query string query documentation anymore.

[2020-03-06 11:02] droberts195 opened #53219 "[ML] Add an estimate model memory endpoint for anomaly detection"
At present the ML UI has functionality to calculate a rough estimate of the model memory requirement for certain types of anomaly detection jobs.  However, it doesn't cover all detector functions and doesn't cover population jobs.

The ML API in Elasticsearch should provide an endpoint that encapsulates the various formulas, can be extended to cover all possible configurations, and can be kept up

[2020-03-06 11:02] elasticmachine commented on #53219
Pinging @elastic/ml-core (:ml)

[2020-03-06 11:02] droberts195 commented on #53219
/cc @elastic/ml-ui

[2020-03-06 13:51] dimitris-athanasiou opened #53222 "[ML] RegressionIT.testDeleteExpiredData_RemovesUnusedState failure"
Build link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_RUNTIME_JAVA=adoptopenjdk11,nodes=general-purpose/552/

Build scan: https://gradle-enterprise.elastic.co/s/zb5yacsugs5lu

Failure:

[code]

Reproduce with:

[code]

Can't reproduce locally.

[2020-03-06 13:51] elasticmachine commented on #53222
Pinging @elastic/ml-core (:ml)

[2020-03-06 13:54] dimitris-athanasiou commented on #53222
In this test failure progress for the `analyzing` phase was reported to be `12` after the job had finished. Looking into the logs I could not see anything abnormal. I will add additional logging and enable it for the test in order to understand how this could happen.

[2020-03-06 13:55] #53044 closed

[2020-03-06 14:03] mayya-sharipova commented on #48059
@jpountz  This is not very clear to me. For example if we have a script `"source": "doc['num1'].value  * 10`, is the idea that `script` query can run all different types of queries on these field values?

Do you have ideas how a  potential API of this `script` query can look like?

[2020-03-06 14:46] mayya-sharipova commented on #53188
Another failure on 7.x:

Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-windows-compatibility/os=windows-2012-r2/479/console
Build Scans:  https://gradle-enterprise.elastic.co/s/4iovcqrtz6eka

[2020-03-06 14:52] jpountz commented on #48059
@mayya-sharipova I think there are many options, we'd need to weigh pros and cons, e.g.
 - give existing queries (`term`, `range`, ...) a `script` parameter like we have on most aggregations so that they support scripts too
 - add more options to the existing `script` query to tell how to check whether the produced value matches
 - add ways to define fields as scripts as part of a search request,

[2020-03-06 14:53] mayya-sharipova opened #53225 "IndexFollowingIT.testUpdateRemoteConfigsDuringFollowing fails on master"
Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob+fast+part2/4093/console
Build Scans: https://gradle-enterprise.elastic.co/s/tp2q6hwdkzcom

REPRODUCE WITH: ./gradlew ':x-pack:plugin:ccr:internalClusterTest' --tests "org.elasticsearch.xpack.ccr.IndexFollowingIT.testUpdateRemoteConfigsDuringFollowing" \
  -Dtests.seed=6CB3F4DF8251DFB5 \
  -Dtests.security.manager=tr

[2020-03-06 14:53] elasticmachine commented on #53225
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-03-06 14:59] mayya-sharipova commented on #52029
Another failure on master today. Reopening the issue.

Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob+fast+part1/4097/console
Build Scans: https://gradle-enterprise.elastic.co/s/hijlawbrzpxnu

Stack trace:
[code]

[2020-03-06 15:09] mayya-sharipova commented on #50313
This failed on 7.x today with a couple of other tests in `RegressionIT` and `ClassificationIT`.

Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+release-tests/986/console
Build Scans: https://gradle-enterprise.elastic.co/s/doq7yy73r32cy

[code]

[2020-03-06 15:17] mayya-sharipova commented on #51303
Another instance of this test failure on 7.x windows today:

Log:https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-windows-compatibility/os=windows-2019/479/console
Build Scans: https://gradle-enterprise.elastic.co/s/tejy2wezodv4y

[code]

**Reproduces** for me as well on my Mac laptop.

[2020-03-06 15:23] benwtrent commented on #50313
[code]
Failed as well. Looking at the code:
https://github.com/elastic/elasticsearch/blob/b84e8db7b5a3da90444afec830e210920e0c164f/x-pack/plugin/ml/qa/native-multi-node-tests/src/test/java/org/elasticsearch/xpack/ml/integration/RegressionIT.java#L89

That is exceptionally strange. The `is_training` is true, but the dest doc did not include the dependent variable.

`is_training` is determined by if

[2020-03-06 15:31] mark-vieira commented on #50313
We're getting a lot of failures from `RegressionIT` and `ClassificationIT` probably worth a mute?

[2020-03-06 15:32] droberts195 commented on #50313
I think https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+release-tests/986/console failed because of a mismatch between the C++ and Java code.  Because it's a "release-tests" build it requires a _non_-snapshot C++ build, and I think the one that existed at the time this CI job ran was too old.

Let's just monitor whether this continues to fail in the same way over the next day or

[2020-03-06 15:33] cbuescher commented on #52894
I think I know why this fails in 6.8 inside a boolean filter now. The FuzzyQueryBuilder used to set the rewrite method in filter mode to "constant_score", which was later removed in 7.0 (https://github.com/elastic/elasticsearch/pull/35354/files#diff-82ebdac5b91f2d2f368f55eb1e738a39L329). The surrounding SpanMultiTermQueryBuilder#doToQuery then sees that in https://github.com/elastic/elasticsearch/

[2020-03-06 15:34] mark-vieira commented on #50313
I think the failures I'm referring to are #53188, the seem to be different than this issue.

[2020-03-06 15:35] droberts195 commented on #50313
Different tests in these suites are failing for different reasons.  #53188 is still failing on 7.x because it was only muted on master.  That one is worth muting.

[2020-03-06 15:38] mark-vieira commented on #53188
I went ahead and muted the test in `ClassificationIT` as well and backported to `7.x`.

[2020-03-06 15:49] jrodewig opened #53229 "[DOCS] Breaking changes docs are difficult to use"
Several users have notes that the Elasticsearch breaking changes is hard-to-digest and difficult to use.

### Running list of issues

- [ ] [The table of contents and headers](https://www.elastic.co/guide/en/elasticsearch/reference/7.6/breaking-changes-7.0.html) are grouped largely by team rather than feature or user group. This makes it difficult for users to discern what changes apply to them.
-

[2020-03-06 15:50] elasticmachine commented on #53229
Pinging @elastic/es-docs (:Docs)

[2020-03-06 16:02] hendrikmuhs commented on #53135
I debugged this to learn a bit about the implementation of aggs. #53232 contains what I found out and also has a quick-fix for it.

[2020-03-06 16:14] nk111 opened #53233 "low disk watermark [85%] exceeded - wrong count?"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.8.0
**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):
Windows Server 2016
**Description of the problem including expected versus actual behavior**:

We are running a sonarqube 7.9.1 instance inside an azure app service. In the elastic search log we see this warning:

2020

[2020-03-06 16:23] pugnascotia commented on #53137
I think we should always deduplicate. We'd have to change the existing deprecated calls to supply a key value, in order to support deduplication, but that would also be a good thing for indexing and reporting on deprecation logs. I could take that on.

[2020-03-06 16:24] elasticmachine commented on #53233
Pinging @elastic/es-distributed (:Distributed/Allocation)

[2020-03-06 16:45] DaveCTurner commented on #53233
@nk111 that's surprising indeed. What does `GET _nodes/stats/fs` return?

As far as I can see Elasticsearch is asking the JDK to tell us the free space for the filesystem  containing `D:\home\site\wwwroot\sonarqube-7.9.1\data\es6\nodes\0`, and the version of the JDK I checked does seem to pass that request verbatim along to the OS. What JDK are you using?

Note that 3,902,238,270 free bytes would

[2020-03-06 17:08] jtibshirani commented on #49264
That works for me, we can always reopen if the idea becomes relevant again.

[2020-03-06 17:16] #49264 closed

[2020-03-06 17:44] benwtrent opened #53236 "testSingleNumericFeatureAndMixedTrainingAndNonTrainingRows test failures"
Test failure can be seen here: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_RUNTIME_JAVA=openjdk15,nodes=general-purpose/553/console

Reproduce line:
[code]

Not able to reliably reproduce locally.

 The server logs show an interesting story.

[code]

Observe the line:
[code]

This indicates the native process called `abort()`.

***MIGHT*** be relate

[2020-03-06 17:44] elasticmachine commented on #53236
Pinging @elastic/ml-core (:ml)

[2020-03-06 17:48] mayya-sharipova commented on #53236
tests muted on master and 7.x

[2020-03-06 17:54] jaymode commented on #53177
This also failed on 7.x today https://gradle-enterprise.elastic.co/s/izleuckcsczy6/tests/j3inyc2qyhaby-3e5dsrwmfrm6w.

@martijnvg I see you have a commit that mentions this issue. I wonder if there might be a race condition in stopping the TriggerService where the TriggerService is stopped but a watch is added concurrently/after the stop of the triggerservice somehow, maybe by the WatcherIndexingL

[2020-03-06 17:56] DaveCTurner commented on #53209
This is a consequence of Elasticsearch refusing to delete copies of shards that are not fully replicated. Deleting shard copies is a risky business and requires caution when there are fewer copies of the data than needed. The default is to have 2 copies (one primary and one replica) which is the minimum required for any kind of resilience; a 1-hot-1-warm cluster doesn't support even this minimal l

[2020-03-06 18:06] elasticmachine commented on #53209
Pinging @elastic/es-docs (>docs)

[2020-03-06 18:06] costin opened #53237 "EQL: Folding condition optimized to false does not return an empty result"
The optimizer is aware that the `where` clause optimized to `false` returns no results however the implementation is not fully implemented.
The expression is resolved into a `LocalRelation` however there's no execution plan for it leading to an exception.

[2020-03-06 18:06] elasticmachine commented on #53237
Pinging @elastic/es-search (:Search/EQL)

[2020-03-06 18:14] not-napoleon opened #53238 "Improve handling of unmapped ValuesSources"
Relates to #42949

`ValuesSourceConfig` has a concept of "unmapped", which the user has specified a field name, but we are unable to resolve that to a mapped field (Note that this is different from the user not specifying a field at all, in which case a script is required or the query is invalid).  This might happen, for example, if a user were running an aggregation over multiple indexes, and one

[2020-03-06 18:14] elasticmachine commented on #53238
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-06 19:18] mayya-sharipova commented on #53222
Another failure on master today:

Log:https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/830/console
Build Scans: https://gradle-enterprise.elastic.co/s/gfklilu4gubkk
[code]

[2020-03-06 19:58] benwtrent commented on #53222
:( that failure did not have the logging commit included. Once we have a failure with the logging commit added (https://github.com/elastic/elasticsearch/pull/53224) I think we can mute.

[2020-03-06 20:12] #53104 closed

[2020-03-06 20:16] mark-vieira commented on #53188
There are a handful of other failures happening in both `ClassificationIT` and `RegressionIT` fairly regularly as well. I'm hesitant to mute at the class level but that might be necessary until we get things under control here.

If we have an idea as to a common root cause perhaps doing a more coarse mute to get rid of this noise is the best option.

[2020-03-06 21:52] nk111 commented on #53233
i must confess i'm a total java noob...

java.home | D:\Program Files\Java\zulu11.29.3-jre11.0.2-win_x64
-- | --

How would i call the api for _nodes/stats/fs? Is there any default port?

The 3.4gb was not the most recent warning line from the log. Atm we are at 3.5gb in the warning and 3,849,793,536 bytes free at drive d. Does that fit?

[2020-03-06 21:55] nk111 commented on #53233
oh and for everything below D:\home
like
D:\home\site\wwwroot\sonarqube-7.9.1\data\es6\nodes\0
i get 11,380,551,680 bytes free

confusing

[2020-03-06 22:02] jtibshirani opened #53246 "Inconsistent behavior when loading docvalues for range fields"
Say we've indexed a document with an `integer_range` and `date_range` using version 7.4 (or above):

[code]

If we specify `"docvalues_fields": ["time_frame"]` during a search, we get an unsupported operation exception because of a failure in `DocValueFormat.format`:

[code]

When specifying `"docvalues_fields": ["expected_attendees"]`, we don't get an error but a binary representation is returned

[2020-03-06 22:02] elasticmachine commented on #53246
Pinging @elastic/es-search (:Search/Mapping)

[2020-03-06 22:06] imotov commented on #52913
On the high level pagination means an ability to continue executing the physical plan where we left off. The physical plan for EQL in general consists of a set of one or more DSL queries and a state machine that walks (and leapfrogs) the results of the queries generating the results that  can be then post processed. In other words for each consecutive execution we need:

- Elasticsearch DSL querie

[2020-03-06 22:07] jtibshirani commented on #53246
It looks like there was different behavior prior to 7.4: when requesting `docvalues_fields` for "time_frame" or "expected_attendees", we always get an error of the form "Fielddata is not supported on field [time_frame] of type [date_range]". I would guess that some of our recent work on docvalues formatting like https://github.com/elastic/elasticsearch/pull/47472 could have changed the behavior?

[2020-03-06 23:13] andyb-elastic opened #53250 "consistently pass FieldTypes in aggregator tests"
Found during #42949. This isn't breaking anything currently but is a minor bug in some aggregator tests.

Some tests write multiple fields to the documents in their test index, but don't pass along a MappedFieldType for all fields when searching the index. The fields that don't have a field type passed along can't be read, even if the aggregator was trying to.

This test is supposed to be testing

[2020-03-06 23:13] elasticmachine commented on #53250
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-07 01:30] lcawl commented on #50984
@gemaliano I've merged https://github.com/elastic/elasticsearch/pull/51017, which ensures the same definitions are used for the TLS settings in the monitoring, Watcher, and security pages in master, 7.x, and 7.6 branches. I've also removed that unclear  "If the settings are not configured, the Default TLS/SSL Settings are used" statement from https://www.elastic.co/guide/en/elasticsearch/reference

[2020-03-07 06:32] jureaky commented on #52979
@spinscale What do you think about the issue and suggestion?

[2020-03-07 09:01] jkakavas opened #53256 "Enhance our docs for attribute/claims mapping for SAML and OID"
We should do a better job at describing the "journey" of an attribute from the Identity Providers user repository storage to becoming part of a role mapping rule in Elasticsearch. We should detail the nuances and details between attribute/claim names and values and which of these two (names vs values ) should be used in various configuration contexts ( `attributes.groups`, role mapping rules etc.

[2020-03-07 09:01] elasticmachine commented on #53256
Pinging @elastic/es-security (:Security/Authentication)

[2020-03-07 09:01] elasticmachine commented on #53256
Pinging @elastic/es-docs (>docs)

[2020-03-07 15:53] suikast42 commented on #36012
That solves my problem ;-)

      "script": {
        "source": "token.getTerm().length() >= 4"
      }
          },
          "edge_4_255_filter": {
            "type": "edge_ngram",
            "min_gram": 4,
            "max_gram": 255
          }
        },

[2020-03-07 17:13] DaveCTurner commented on #53233
How do you normally interact with Elasticsearch @nk111? If you're using Kibana, then you should just be able to type `GET _nodes/stats/fs` into the [dev console](https://www.elastic.co/guide/en/kibana/current/console-kibana.html). Other HTTP clients will also work. By default it listens on `localhost` port 9200, so http://localhost:9200/_nodes/stats/fs is the default URL for these stats, but there

[2020-03-07 17:13] elasticmachine commented on #53233
Pinging @elastic/es-core-features (:Core/Features/Stats)

[2020-03-07 18:45] dnhatn commented on #53195
This is a Lucene issue.

[2020-03-07 18:45] #53195 closed

[2020-03-08 00:24] jasontedor commented on #53174
Thanks for the report, and the awesomely-detailed writeup, it's truly helpful. It made reproducing and understanding this bug incredibly easy, which enabled me to quickly understand the bug. 🙏

I analyzed the situation here and found that we have a bug in how a listener that is waiting for multiple callbacks to complete handles failures. In particular, if they all fail for the same reason (such as

[2020-03-08 00:46] elasticmachine commented on #53174
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-03-08 07:22] nknize opened #53263 "Override doc_values parameter in Spatial XPack Module"
In support of the upcoming [geo_shape doc values and aggregation](https://github.com/elastic/elasticsearch/issues/37206) feature (licensed Basic). The `doc_values` field mapper parameter needs to be available in both `GeoShapeFieldMapper` and `ShapeFieldMapper` when the spatial xpack module is loaded, and the basic license is available. If the spatial xpack module is not available, existing OSS be

[2020-03-08 07:22] elasticmachine commented on #53263
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-03-08 10:39] hosuaby commented on #49787
@stefanobranco I had that problem that just appeared to be misconfiguration of gradle repositories. Ensure that you included followings repositories in your gradle:
[code]

If you put your plugin in submodule of gradle project, ensure that those repositories are listed in `build.gradle` of parent project.

[2020-03-08 12:09] nk111 commented on #53233
I'm not interacting directly with elasticsearch at all @DaveCTurner . It's part of an application called sonarqube. So i guess i don't have the possibility to make api calls directly.

[2020-03-08 12:59] #53174 closed

[2020-03-08 14:22] soumilshah1995 opened #53264 "Aggregation with Filter"
Hello We are working on a project and we are stuck at this if someone can help that would be really Great
`GET xyxz/_search
{
            "size": 0,
            "aggs": {
                "company": {
                    "terms": {
                        "field": "skills.name.keyword",
                        "size": 10
                    }
                }
            },
            "query": {

[2020-03-08 20:34] cbuescher commented on #53044
Should be in 7.6.2

[2020-03-08 21:30] DaveCTurner commented on #53233
I think Sonarqube incorporates a fairly standard Elasticsearch installation, so you should be able to access its HTTP API directly. I would be amazed if not, because it's really quite hard to debug problems like this without it. Maybe you can talk to Elasticsearch via some advanced options in the Sonarqube UI?

At startup, Elasticsearch should be logging a line like this one indicating where the H

[2020-03-08 21:36] alexPolisevschi commented on #52314
An Elastic support engineer directed me to this topic. I've been using Elasticsearch for over a year, for work. We have auditing enabled, as a requirement from our security department.

Recently I enabled CCR. I found it very confusing that the CCR entries from the audit log had as 'username' the person that configured the replication. Also, the number of audited events was huge. The solution was

[2020-03-08 22:30] mariaral commented on #40898
Hello @DaveCTurner ,
I had a look at this issue and tried to understand the code. I like your idea of waiting a configurable amount of time before warning the users. From what I understand, this cannot be done inside the `resolveBulk` method and we will have to create a `Future` that will check after x seconds if the exporter is set up by the master and prints the warning otherwise. Does this soun

[2020-03-09 00:56] jasontedor commented on #50443
@mieciu Sorry for the delay. Can you expand on why it'd be super-useful for Cloud? One of the challenges with batching plugin removal into a single invocation of the `elasticsearch-plugin` tool is that it's difficult to do in a transactional way.

[2020-03-09 06:29] durancu opened #53267 "property totalHits is always 0 on BoolQuery Search response"
**Describe the feature**: totalHits property always returns 0, but hits contains items

**Elasticsearch version** (`bin/elasticsearch --version`): 7.6

**Plugins installed**: []

**JVM version** (`java -version`): 8

**OS version** (`uname -a` if on a Unix-like system): MacOS

**Description of the problem including expected versus actual behavior**:
I am using Java REST Client to implement a micro

[2020-03-09 08:33] martijnvg commented on #53177
Thanks @jaymode for triaging this failure. I also did some investigating and if watcher is stopped then the `watch_count` returned by watcher stats api is `0`, because all watcher (trigger service) are paused. However if watcher is stopped, a watch can still be added via the api and this increases the watch count in the watcher stats api by 1. This can also happen if for example a write is retried

[2020-03-09 08:47] martijnvg commented on #53264
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2020-03-09 08:47] #53264 closed

[2020-03-09 08:48] #52921 closed

[2020-03-09 08:51] nk111 commented on #53233
i see this:
<pre>
2020.03.09 08:07:24 INFO  es[][o.e.e.NodeEnvironment] using [1] data paths, mounts [[Windows(D:)]], net usable_space [3.2gb], net total_space [31.6gb], types [NTFS]
</pre>

[2020-03-09 08:56] martijnvg commented on #53215
This originated from [a discuss topic](https://discuss.elastic.co/t/is-ip-range-a-real-bucket-aggregation/219446).

[2020-03-09 08:57] elasticmachine commented on #53215
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-09 08:59] #43152 closed

[2020-03-09 09:02] nk111 commented on #53233
A little bit later i see that that the config path is changed via startup parameter. This config file seems to be generated dynamically by sonarqube and it contains the data path
<pre>
path.data: D:\home\site\wwwroot\sonarqube-7.9.1\data\es6
</pre>
Could it be that the directory info is being read at the very startup and not changed when we set the data path later?

[2020-03-09 09:15] jpountz commented on #53263
@nknize Can you open a pull request for this branch to make commenting easier?

[2020-03-09 09:40] hendrikmuhs opened #53270 "[CI] ClassificationIT.testDependentVariableIsAliasToNested failure"
log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos-8&&immutable/622/consoleFull
gradle: https://gradle-enterprise.elastic.co/s/6k53ohdaafsys

does not reproduce locally

failure:
[code]

repro with:

[code]

[2020-03-09 09:40] elasticmachine commented on #53270
Pinging @elastic/ml-core (:ml)

[2020-03-09 09:43] martijnvg commented on #53267
Thanks for opening this issue @durancu. Maybe the default (10000) for `track_total_hits` gets changed from interacting via the hlrc.

If you add: `searchSourceBuilder .trackTotalHitsUpTo(10000);` does total hits get returned via hlrc?

I'm not sure yet why you always get zero total hits via hlrc if you don't alter the search source build's track total hits.

[2020-03-09 09:43] elasticmachine commented on #53267
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-03-09 09:46] martijnvg commented on #53212
I think that `expand_wildcards` parameter's type in yaml spec should be a list (like `metric` in reroute api). Valid options are: `open`, `closed`, `hidden`, `none` and `all`.

[2020-03-09 09:47] elasticmachine commented on #53212
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-03-09 09:49] droberts195 commented on #53270
The error looks very similar to the one seen in #53222.  There is probably a whole set of tests that are affected by the same root cause problem.

[2020-03-09 09:51] hendrikmuhs opened #53271 "[CI] testLeaderDisconnectionWithoutDisconnectEventDetectedQuickly failure"
log:https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu-18.04&&immutable/622/console
gradle:https://gradle-enterprise.elastic.co/s/olunhuu5qmlyk

reproduces locally

failure:
[code]

repro:

[code]

[2020-03-09 09:51] elasticmachine commented on #53271
Pinging @elastic/es-distributed (:Distributed/Cluster Coordination)

[2020-03-09 09:55] elasticmachine commented on #53171
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-03-09 09:56] elasticmachine commented on #53171
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-03-09 09:57] elasticmachine commented on #53120
Pinging @elastic/es-search (:Search/Mapping)

[2020-03-09 09:57] elasticmachine commented on #53201
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-03-09 09:59] elasticmachine commented on #53110
Pinging @elastic/es-security (:Security/Security)

[2020-03-09 09:59] elasticmachine commented on #53061
Pinging @elastic/es-core-infra (:Core/Infra/Logging)

[2020-03-09 10:01] durancu commented on #53267
Hi @martijnvg, thanks for your quick response
I can't call that method. Here is what intelliJ shows on autocomplete:

![Screen Shot 2020-03-09 at 4 53 32 AM](https://user-images.githubusercontent.com/858387/76202501-eca4e280-61c2-11ea-953f-26f374ea290b.png)

[2020-03-09 10:07] martijnvg commented on #53267
That is odd. What version of hlrc are you using on the client side?

[2020-03-09 10:10] durancu commented on #53267
I am using 7.6

![Screen Shot 2020-03-09 at 5 10 19 AM](https://user-images.githubusercontent.com/858387/76203277-5a9dd980-61c4-11ea-9450-ba85eb990928.png)

[2020-03-09 10:16] martijnvg commented on #53267
This should be a public method: https://github.com/elastic/elasticsearch/blob/7.6/server/src/main/java/org/elasticsearch/search/builder/SearchSourceBuilder.java#L584

[2020-03-09 10:29] dimitris-athanasiou commented on #53270
This is indeed the same issue. Closing in favor of #53222

[2020-03-09 10:29] #53270 closed

[2020-03-09 10:49] cbuescher commented on #53120
Hi @albertored, unfortunately I cannot reproduce this issue with neither 6.8.0, 6.8.7 or the current 7.6.1 versions, even the OSS versions.
The "official" release hast the following build information:
[code]
Note this was build sometime in May last year and matches the version that you report works for you as well.
I don't know why AWS services report different versions here, but
[code]
is clearly

[2020-03-09 10:49] #53120 closed

[2020-03-09 10:51] itizir commented on #52480
Any news regarding this? It's a very unfortunate deal breaker...

[2020-03-09 11:11] albertored commented on #53120
Thanks @cbuescher for your reply. I tried with official elasticsearch versions and I cannot reproduce the issue either. I will open a ticket to AWS support as you suggested, thanks again and sorry for the noise :-)

[2020-03-09 11:16] #52894 closed

[2020-03-09 11:44] DaveCTurner commented on #53233
What _exactly_ do you see to suggest that? The data path is determined at startup and cannot be changed later, so I think you are misinterpreting what you're seeing.

Good, that is at least consistent with the issue you're reporting, although it doesn't explain why the OS is telling us the wrong filesystem root. Please continue to try and work out how to run `GET /_nodes/stats/fs` on your installa

[2020-03-09 12:07] fkelbert commented on #52622
Can we detect this and inform the user, at least? This way, they would have a chance/choice to create a new backup, potentially in a different location.

In general, what is the recommended way to ensure snapshot integrity then? RAID0 or other methods on the backup drive?

Is this something we can document better in the snapshot/restore documentation?

[2020-03-09 12:55] ruflin commented on #52244
In our project we have a similar problem where we want to create an API key that can create API Keys. What we do at the moment is we create a user with a role, store its password and then use this user to create API Keys. It would be nicer to just have an API key, so no role needed and no password to be stored, only the API Key.

The expectation on the behaviour from my side would be:

* The initi

[2020-03-09 13:02] mayya-sharipova commented on #43800
Related proposal: https://github.com/elastic/elasticsearch/issues/52155#issuecomment-593508032 to introduce `ignore_above` parameter in a highlighter.
That proposal doesn't replace the current issue.

[2020-03-09 13:04] tlrx commented on #51303
@dnhatn would you have a look please? It only reproduces in `7.x` and I suspect some combination of  #51905 with #51331, but I had a look and 'm not sure how to fix it.

[2020-03-09 13:37] mayya-sharipova commented on #48059
I wonder if we can reuse already existing [script_fields](https://www.elastic.co/guide/en/elasticsearch/reference/7.6/search-request-body.html#request-body-search-script-fields) for queries as well.

[code]

[2020-03-09 13:40] dnhatn commented on #51303
@tlrx Looking...

[2020-03-09 13:54] jpountz commented on #48059
I like the idea.

[2020-03-09 14:08] lucabelluccini opened #53280 "Percolator query doesn't update the _percolator_document_slot when filtering on _score"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.8.6, 7.6.0

**Plugins installed**: []

**Description of the problem including expected versus actual behavior**:

When using the percolator query with multiple documents and a `min_score`, the `_percolator_document_slot` list is not updated to reflect the documents which were filtered out by the `min_score`.

**Steps to reproduce**:

[co

[2020-03-09 14:08] elasticmachine commented on #53280
Pinging @elastic/es-search (:Search/Percolator)

[2020-03-09 14:22] droberts195 commented on #53222
elastic/ml-cpp#1045 is a temporary solution that should stop these failures (plus other failures that affect the C++ tests).

[2020-03-09 14:24] hendrikmuhs opened #53281 "TransportTasksAction does not respect an empty set of nodes"
This is a follow up of #52887

With #53277 it has been clarified that an empty list of nodes resolves to all nodes. https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/action/support/tasks/TransportTasksAction.java#L241 is in-effective.If an implementer sets an empty list its implicitly resolved to all nodes:
https://github.com/elastic/elasticsearch/blob/mas

[2020-03-09 14:24] elasticmachine commented on #53281
Pinging @elastic/es-distributed (:Distributed/Task Management)

[2020-03-09 14:24] reighnman commented on #49392
This is a feature other ES backed offering have (such as Graylog) which makes it much easier to manage storage.

If I have rollover set to Xdocs/Xsize and a delete phase that only keeps the 10 latest indexes I can estimate disk consumption fairly accurately.

[2020-03-09 14:26] hendrikmuhs commented on #52887
@DaveCTurner Thanks for clarification. In order to close this issue with #53277 I created a follow up issue: #53281, because your doc fix does not solve the root cause.

[2020-03-09 14:27] astefan opened #53282 "SQL: introduce WEEK interval"
INTERVALs in SQL do not have a notion of a week period. While there is support for `year`, `month`, `day` it is useful to specify an interval of one WEEK, rather than `7 DAYS`.

The introduction of `WEEK` will also help with scenarios similar to https://github.com/elastic/elasticsearch/issues/40162 and https://github.com/elastic/elasticsearch/issues/52713 where a `calendar_interval` is used. In th

[2020-03-09 14:27] elasticmachine commented on #53282
Pinging @elastic/es-search (:Search/SQL)

[2020-03-09 14:31] lucabelluccini opened #53283 "Percolator query with explain parameter and multiple documents explains only the first document"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.8.6, 7.6.0

**Plugins installed**: []

**Description of the problem including expected versus actual behavior**:

When using the percolator query with multiple documents with `explain` parameter, the `_explanation` contains the details for the first document.

**Steps to reproduce**:

[code]

## Result

In case we set `{ "abc": "EXP", "n

[2020-03-09 14:31] elasticmachine commented on #53283
Pinging @elastic/es-search (:Search/Percolator)

[2020-03-09 14:33] fbaligand commented on #49392
I agree with @reighnman: it's very useful to control disk usage and avoid full FS!

[2020-03-09 14:43] DaveCTurner commented on #53281
I don't understand the change you're proposing @hendrikmuhs. If `request.getNodes()` is empty then we operate on all nodes: for instance, `GET _tasks` returns tasks from all nodes. I don't think we should change that.

Can you explain the context of this in a bit more detail?

[2020-03-09 14:43] #52887 closed

[2020-03-09 14:46] roncohen opened #53285 "[Histogram data type] Allow average, sum, count, and histogram aggs"
**Describe the feature**:

Would be great if we could support average, sum, count, and histogram aggregations on the histogram data type. We would need these for the APM UI. We could possible make do with 50th percentile instead of avg. as a start.

[2020-03-09 14:46] elasticmachine commented on #53285
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-09 14:54] nknize commented on #53263
#53286 PR opened

[2020-03-09 15:04] raphaelchampeimont commented on #53054
Almost. The amount of memory allocated is different. Here is the ansible configuration we use:

[code]

[2020-03-09 15:05] raphaelchampeimont commented on #53054
I will try to reproduce that on a minimalist cluster.

[2020-03-09 15:06] hendrikmuhs commented on #53281
If you are not setting the nodes, the default is used, the default is defined in `BaseTasksRequest` like this:

[code]

But if you set the nodes to an empty list - which means you explicitly override `ALL_NODES` -  in `BaseTasksRequest` this is not respected, because it calls a resolver that resolves the empty list back to `ALL_NODES`.

**Context:** Tasks are used in transform, a transform can hav

[2020-03-09 15:13] nik9000 commented on #51813
I've opened #53288 for preserving types. If we're good with that I think all that is left for this is for me to take a fresh eye to the docs.

[2020-03-09 15:28] DaveCTurner commented on #53281
Thanks for the clarification. In your case, I guess the whole resolution process is inappropriate since you already know exactly which nodes you want to query so you're looking for a way to provide a list of (potentially zero) node IDs? Using `resolveNodes()` in that situation seems a little risky for other reasons too: we don't distinguish node IDs from node names and hostnames in this API, and u

[2020-03-09 15:28] jakommo opened #53289 "ILM: Add option to disable setting indices to read-only when force merge is executed"
**Describe the feature**:
Today, when a [force merge action is executed via ILM](https://www.elastic.co/guide/en/elasticsearch/reference/7.6/_actions.html#ilm-forcemerge-action), it will automatically mark the index read only, to prevent the user from the implications that would come with still writing to this index.
It totally makes sense to have this as default.

In some scenarios, this is causi

[2020-03-09 15:28] elasticmachine commented on #53289
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-03-09 15:40] DaveCTurner commented on #53054
Thanks, I see the issue. Coordinating nodes behave differently depending on whether `cluster.routing.allocation.awareness.attributes` is set **locally** or not:

https://github.com/elastic/elasticsearch/blob/99ac2c00511592bed4ab03e2e5cc12039dc2e83a/server/src/main/java/org/elasticsearch/cluster/routing/OperationRouting.java#L245-L249

The search respects the `preference` value either way, but node

[2020-03-09 15:40] elasticmachine commented on #53054
Pinging @elastic/es-docs (>docs)

[2020-03-09 15:53] hendrikmuhs commented on #53281
ok, thanks for the feedback. Changing the request object (from the transform code) is probably not clean either as it should be considered immutable.

Will dig a bit deeper and propose something better if I find it.

FWIW the original case was a cluster with nodes that had some plugins disabled (this is a problem on its own) and as nodes could not answer, the user got errors in the response althou

[2020-03-09 16:06] costin opened #53291 "Alias information in field caps API"
Field caps returns information only concrete indices which, when using the API against indices makes it difficult to interpret the response.

For example, take an alias `alias_one` which points to index `index_a` and `index_b` and `alias_two` which points to `index_c`.
A field caps on `alias*` will properly match `alias_one` and `alias_two` but the response will refer to the backing indices only,

[2020-03-09 16:06] elasticmachine commented on #53291
Pinging @elastic/es-search (:Search/Search)

[2020-03-09 16:40] #52389 closed

[2020-03-09 17:25] nik9000 commented on #52480
Thanks for the ping @itizir! I'm just coming up to speed on composite aggs and hadn't seen this.

[2020-03-09 17:27] costin commented on #52913
I prefer the former approach, fully serialized form, and I think it has some distinct advantages over the latter.

1. Usability wise, sending the request again on each page plus some "internal state" is leaky as it's a mixture of public API which is user-defined and internal state, which is server-defined.

2. Recreating the plans of the same query is wasteful - the field resolution means retrievi

[2020-03-09 17:28] durancu commented on #53267
I purged my local Maven repository, and reimport all dependencies.
This is how my dependencies graph looks like:

![Screen Shot 2020-03-09 at 12 25 10 PM](https://user-images.githubusercontent.com/858387/76240571-7c698180-6201-11ea-8390-9944411297a5.png)

And noting in Maven plugin, in IntelliJ that elasticsearch high rest client uses REST client dependency from v. 6.4. Since I am using objects fr

[2020-03-09 17:31] dadoonet commented on #53267
Are you using spring boot by any chance ?

[2020-03-09 17:32] durancu commented on #53267
Yes, I am using Spring Boot. Sorry forgot to mention

[2020-03-09 17:33] itizir commented on #52480
Thanks for the quick fix!

[2020-03-09 17:39] dadoonet commented on #53267
When using springboot with
elasticsearch, you need to be explicit with some transitive dependencies as SpringBoot declares a version 6.4...

Basically you can put this in your `pom.xml`:

[code]

See documentation here: https://docs.spring.io/spring-boot/docs/current/reference/html/howto-build.html#howto-customize-dependency-versions

[2020-03-09 18:12] nik9000 commented on #53168
This is what you get with a non-nanos-date:
[code]

Which, I think, is pretty much what you should expect from a nanos date. I'll see if I can make it do *that*.

[2020-03-09 18:12] aleksmaus commented on #52942
Merged and haven't received any objections.

[2020-03-09 18:12] #52942 closed

[2020-03-09 18:30] imotov commented on #52913
FieldExtractions and Attributes are probably my main concerns here. At the moment I don't see clearly how to limit the serialization concern here so it doesn't spill from EQL into the QL land. But if we go this way, I am sure we can figure it out.

I agree with all your concerns here except the first one. I was actually hoping that we can make interface cleaner with an approach modelled after "sea

[2020-03-09 18:33] DaveCTurner commented on #53271
Ohh this is tricky.

The test fails in the first `stabilise()` method, before any disruptions took place. `node0` is rejecting publications from the leader (`node4`) because `node0` is in term 2 but `node4` is in term 1.

The trouble is that `node4` tried to trigger an election in term 2 and broadcasts a start-join request, but fails to process it locally due to a (simulated) IO exception, so it r

[2020-03-09 18:43] durancu commented on #53267
Thanks @dadoonet for your reply.
I applied that change but also add:
[code]

to <dependencyManagement> section, and it didn't work.

I am see this is something related to SpringBoot more than ElasticSearch.
I understand they tie SpringBoot version to ElasticSearch version, and I would need to find a way to override it.
Do you have any idea about how to do it?

[2020-03-09 18:57] #52766 closed

[2020-03-09 19:15] dadoonet commented on #53267
I'm just aware that spring data elasticsearch has a new beta version IIRC which is compatible with 7.x so may be you need to use that?

[2020-03-09 20:03] debadair opened #53303 "[DOCS] Move cluster and routing topics out of modules"
As part of the Modules reorg to improve discovery and navigation, find a better home for the following topics:

* [ ] Discovery and cluster formation #56611
* [x] Local gateway #56448
* [x] Shard allocation and cluster-level routing #56535
* [x] Remote clusters #55172

[2020-03-09 20:03] elasticmachine commented on #53303
Pinging @elastic/es-docs (>docs)

[2020-03-09 20:03] elasticmachine commented on #53303
Pinging @elastic/es-distributed (:Distributed/Allocation)

[2020-03-09 20:07] polyfractal opened #53304 "Document agg formatting options"
Most aggs (pipeline and regular) support a `format` option, which is somewhat context-dependent.  E.g. for date_histo, it accepts a date string formatter as described in the [mapping format options page](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-date-format.html).  Other aggs, like numerics and all pipeline aggs, accepts a java [`DecimalFormatter` string pattern](http

[2020-03-09 20:07] elasticmachine commented on #53304
Pinging @elastic/es-docs (>docs)

[2020-03-09 20:07] elasticmachine commented on #53304
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-09 20:08] debadair opened #53305 "[DOCS] Move HTTP, network settings, and transport topics out of modules"
As part of the Modules reorg to improve discovery and navigation, find a better home for the following topics:

* [x] HTTP #56386
* [x] Network settings #55865
* [x] Transport #55472

[2020-03-09 20:08] elasticmachine commented on #53305
Pinging @elastic/es-docs (>docs)

[2020-03-09 20:08] elasticmachine commented on #53305
Pinging @elastic/es-distributed (:Distributed/Network)

[2020-03-09 20:21] debadair opened #53307 "[DOCS] Move node topics out of modules"
As part of the Modules reorg to improve discovery and navigation, find a better home for the following topics:

* [x] Node #56376
* [x] Thread pool #55814

[2020-03-09 20:21] elasticmachine commented on #53307
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-03-09 20:21] elasticmachine commented on #53307
Pinging @elastic/es-docs (>docs)

[2020-03-09 20:21] chrisronline opened #53308 "Add shard data to _nodes/stats, _nodes/_local/stats, and _stats endpoints"
The `_nodes/_local/stats`, `_nodes/stats`, and `_stats` API endpoints do not return any information about shards, specifically shards that live on either the node or compose an index. Shard data is exposed by the `_cluster/state/routing_table` API endpoint.

I'm proposing we modify the above mentioned `stats` endpoints to include the shard data as well. I don't have an opinion on where the data sh

[2020-03-09 20:21] elasticmachine commented on #53308
Pinging @elastic/es-core-features (:Core/Features/Monitoring)

[2020-03-09 20:24] debadair opened #53309 "[DOCS] Move indices settings topics out of modules"
As part of the Modules reorg to improve discovery and navigation, find a better home for the indices settings topics.

[2020-03-09 20:24] elasticmachine commented on #53309
Pinging @elastic/es-docs (>docs)

[2020-03-09 20:24] elasticmachine commented on #53309
Pinging @elastic/es-core-infra (:Core/Infra/Settings)

[2020-03-09 20:27] debadair opened #53310 "[DOCS] Move reference to plugin docs out of modules"
As part of the Modules reorg to improve discovery and navigation, find a better place to xref the plugins documentation.

[2020-03-09 20:27] elasticmachine commented on #53310
Pinging @elastic/es-docs (>docs)

[2020-03-09 20:46] chrisronline opened #53311 "Add index count data to _nodes/stats and _nodes/_local/stats endpoints"
Related to https://github.com/elastic/elasticsearch/issues/53308

The `_nodes/_local/stats` and `_nodes/stats` endpoints should also include the number of indices that live on the node (or more specifically, how many indices contain shards that live on this node).

Something like:
[code]

We currently show this figure in the Stack Monitoring UI, but we need to make multiple queries to determine it

[2020-03-09 20:46] elasticmachine commented on #53311
Pinging @elastic/es-core-features (:Core/Features/Monitoring)

[2020-03-09 21:24] #52853 closed

[2020-03-09 22:36] almiche opened #53318 "Template API does not return the name of the index which has failed the update"
**Describe the feature**:

I would like to include the template name being modified in a MapperParsingException when making a PUT request to the template API with a faulty template.

**Elasticsearch version** (`bin/elasticsearch --version`): 7.2.0

**Plugins installed**: []

**JVM version** (`java -version`):12.0.1

**OS version** (`uname -a` if on a Unix-like system): Linux ec1f30f2faf4 4.19.76-l

[2020-03-09 22:45] #53049 closed

[2020-03-09 22:46] jasontedor commented on #53049
@original-brownbear Thanks for being my review buddy on this one, and your helpful comments on the PRs!

[2020-03-10 01:24] ppf2 opened #53321 "ILM: Ability to trigger one-off actions"
There are certain situations where users will want to run one-off actions for ILM-managed indices.

To do this using ILM, it's not that straightforward.  You will have to create a new policy with just the actions desired and make sure that the rest of the lifecycle flow can continue smoothly (i.e. any duplicate actions being run again are not disruptive).  Alternatively, create a new policy, updat

[2020-03-10 01:24] elasticmachine commented on #53321
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-03-10 05:26] jkakavas opened #53323 "Properly handle non-existent tokens in Token Invalidate API"
Invalidate Token API does not handle malformed and non-existent tokens correctly. It returns a `400 could not refresh the requested token` if it can decode the refresh token and a `401 token malformed` if the token document doesn't exist. The latter can happen in cases where we have already deleted the token document because the access token is expired/invalidated and the caller is not aware, or w

[2020-03-10 05:26] elasticmachine commented on #53323
Pinging @elastic/es-security (:Security/Authentication)

[2020-03-10 08:53] dimitris-athanasiou commented on #53222
And https://github.com/elastic/ml-cpp/pull/1048 should sort this out entirely.

[2020-03-10 08:53] #53222 closed

[2020-03-10 09:14] jasimsulaiman commented on #27140
For reference, this issue is fixed in https://github.com/elastic/kibana/pull/46200

[2020-03-10 09:43] cbuescher opened #53326 "Disallow duplicate template names in `dynamic_template`"
Today, dynamic templates can contain multiple template names with the same name. This can be the result of either adding the same template multiple times in error (like the case described in #28988 or explicitly to group small variations of the same template like mentioned in this example of an APM index templates (https://github.com/elastic/apm-server/issues/2693).

This creates problems and bugs

[2020-03-10 09:43] elasticmachine commented on #53326
Pinging @elastic/es-search (:Search/Mapping)

[2020-03-10 09:44] cbuescher commented on #28988
I opened #53326 with some more detail about out discussion around deprecating and removing the possibility of having the same template names in `dynamic_template`.

[2020-03-10 09:48] cbuescher commented on #28988
Since the plan for the full removal of duplicate dynamic template names spans multiple versions, maybe we could add  https://github.com/elastic/elasticsearch/pull/52062 still as a short-term solution for at least the problem described here (accidentally programmatically adding the same section over and over again?). @jtibshirani wdyt?

[2020-03-10 09:51] cbuescher commented on #29200
I opened #52062 with the current plan to deprecate and remove the ability to use the same name for dynamic templates and will close this issue because of this.

[2020-03-10 09:52] BewotecDaVinci commented on #28590
After spending some days now to get a elastic cluster running in a windows docker based scenario, trying all various configurations to solve node lock issues and already been quite frustrated I came across this GIT Issue-Entry which just states "At this time we do not support running in a Windows container.".

Since elastic search supports windows based operating systems it is not quite obvious th

[2020-03-10 10:37] costin commented on #52913
`Attribute`s should not be serialized - they are used only for the plan output which is then converted into `FieldExtractor`s, that is the structure that knows how to extract the needed information from the response.
In EQL since the `_source` is returned as is, the field extraction should be minimal and occur only for some fields (like join key) which should simplify things further. In SQL only `

[2020-03-10 11:28] #53188 closed

[2020-03-10 13:23] #52480 closed

[2020-03-10 13:23] davydotcom opened #53334 "ElasticSearch Scan Vulnerability CVE-2020-7238"
ElasticSearch scan results show dependency vulnerability in netty. Please Upgrade Netty

CVE-2020-7238

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-7238

[2020-03-10 13:25] davydotcom opened #53335 "ElasticSearch scan Vulnerability jackson-databind CVE-2020-9546"
jackson-databind needs updated due to vulnerabilities in multiple CVEs

CVE-2020-9546
CVE-2020-9547
CVE-2020-9548

[2020-03-10 13:26] davydotcom opened #53336 "ElasticSearch Scan vulnerability snakeyaml CVE-2017-18640"
ElasticSearch scan results show vulnerabilities in snakeyaml

[2020-03-10 13:50] imotov commented on #52913
Would that mean that we will have half initialized plans on the second page, or your plan is to have a specialized second page plans that will only exist on the second and the following pages?

[2020-03-10 14:03] jasontedor commented on #53334
Please [send these to security@elastic.co](https://www.elastic.co/community/security).

[2020-03-10 14:03] #53334 closed

[2020-03-10 14:03] jasontedor commented on #53335
Please [send these to security@elastic.co](https://www.elastic.co/community/security).

[2020-03-10 14:03] #53335 closed

[2020-03-10 14:03] jasontedor commented on #53336
Please [send these to security@elastic.co](https://www.elastic.co/community/security).

[2020-03-10 14:03] #53336 closed

[2020-03-10 14:08] williamrandolph opened #53340 "[CI] Intermittent timeout in xpack ReadActionsTests"
I've noticed an occasional timeout in ReadActionTests. It doesn't reproduce for me locally, but it's popped up a few times recently:

10 March:
* Failure on 7.x: https://gradle-enterprise.elastic.co/s/kxifwgcjb2gv4
* Method: testWildcardExclusion
* Example reproduce line:

[code]

9 March:
* Failure on master: https://gradle-enterprise.elastic.co/s/sc56ehkzdc4de
* Method: testMultiSearchUnauthoriz

[2020-03-10 14:08] elasticmachine commented on #53340
Pinging @elastic/es-security (:Security/Authorization)

[2020-03-10 14:14] pgomulka commented on #53061
@nikhil-bhat thanks for reaching out.
Is `   "logger._root": "info"` intentional?
I suspect you wanted this to be `debug`?

[2020-03-10 14:27] dakrone commented on #53289
We discussed this and decided to remove the auto read-only setting. A user can manually use the `readonly` action if they want to set the index as read only.

[2020-03-10 14:32] martijnvg commented on #52947
This ilm bootstrap problem the let us to the data streams proposal (#53100).
With data streams setup via an index template this problem shouldn't occur.

[2020-03-10 14:32] #52947 closed

[2020-03-10 14:33] paulm677 opened #53342 "Issue starting elasticsearchv5"
I've been trying to setup elasticsearchv5 on a stand alone machine relating to a TFS install (files picked up from a Azure DevOps drop folder) and am getting the below when the service tries to start.

![image](https://user-images.githubusercontent.com/32931743/76322664-0d039880-62ba-11ea-9d5d-6812da89b876.png)

elasticsearch-service-x64 log:
2020-03-09 15:54:33 Commons Daemon procrun stderr initi

[2020-03-10 14:35] paulm677 commented on #53342
Event log notes: The Elasticsearch 5.4.1 (elasticsearch-service-x64) service terminated with the following service-specific error:
Incorrect function.

[2020-03-10 14:37] paulm677 commented on #53342
.yml file
![image](https://user-images.githubusercontent.com/32931743/76323365-00cc0b00-62bb-11ea-882d-34b5a24ed781.png)

jvm.options
![image](https://user-images.githubusercontent.com/32931743/76323416-117c8100-62bb-11ea-9177-8f87e57705ce.png)

[2020-03-10 14:38] williamrandolph commented on #53177
There's another instance of this failure on 7.x: https://gradle-enterprise.elastic.co/s/xreqekg5chqoy

One failure on `WatcherYamlRestIT`:
[code]

…and another on `SmokeTestWatcherWithSecurityClientYamlTestSuiteIT`:
[code]

[2020-03-10 14:47] dakrone commented on #41274
This was merged in #49974, so I'm going close this since it's available now, thanks @SivagurunathanV for the PR!

[2020-03-10 14:47] #41274 closed

[2020-03-10 14:50] dakrone commented on #53321
We discussed this today, for the first example (shrinking), we are wary of adding an API to expose any sort of ILM execution, rather, the work should go into making a separate API (or enhancing the existing one) to be more friendly in terms of doing what ILM is already doing.

Shrink is really the exception, other ILM operations can be done by simply doing the operation manually (force merging in

[2020-03-10 14:50] #53321 closed

[2020-03-10 15:24] davydotcom commented on #53336
these are issues and should be left open until they are resolved

[2020-03-10 15:40] #53168 closed

[2020-03-10 15:59] jpountz commented on #53181
Relates to #53020

[2020-03-10 16:49] matriv commented on #52534
After discussion, we decided to keep the behaviour as is.

The strong arugment is that it keeps a consistent behaviour with the [`GET /<index>`](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-get-index.html)
and moreover the documentation has already been updated so that [the default value of `allow_no_indices` is described](https://www.elastic.co/guide/en/elasticsearch/re

[2020-03-10 16:49] #52534 closed

[2020-03-10 17:06] costin commented on #52913
The implementation is not yet done so nothing is certain however my expectation is that one the query plan is decided upon, the initial page and the rest will contain ES queries plus some metadata to compute the actual result.
There would be no need for the Logical or Physical plan and their dependencies in place - they served their purpose. The actual execution plan would consist of `ActionListen

[2020-03-10 17:08] jpountz commented on #52524
We discussed this issue today and our general feeling is that this setting should no longer be needed, but we don't want to move forward with the removal without making sure we're not missing anything. Specifically, we're thinking of two use-cases for this setting:
 - Acting as a proxy against slow queries, by preventing users to run queries over too long time ranges.
 - Avoiding wasted CPU cycles

[2020-03-10 17:28] jakelandis commented on #53308
@chrisronline

We discussed this in person today.  We currently have `GET _nodes/stats?level=shards` however, it has a lot more information then you are requesting and am unsure of the cost of repeated calls for monitoring or if the format is amendable to what you need.

There was also a question raised if metricbeat could do the combining of data from two different sources. e.g. could the beat ca

[2020-03-10 17:30] robertdeheer commented on #46193
I'm still seeing a similar issue in 7.6.0.

[2020-03-10 17:49] chrisronline commented on #53308
@jakelandis I wasn't aware of that api, but yes that will work for the `_nodes/*` endpoints, but what about for the `_stats` endpoint?

To better explain the end goal here, we want to change the data inside of `.monitoring-es-*` monitoring indices. We want to deprecate `type: "shards"` from this index, and put that same data into `type: 'node_stats'` and `type: 'index_stats`.

We currently have tw

[2020-03-10 17:50] jasontedor commented on #52644
We discussed this in our team discussion meeting. We do not think that we should add this information to an Elasticsearch API, new or existing. We think it's an unusual concept to measure the health of an alias in this way, on the basis of the read/write index. In general, we think it's unusual to measure the health on the basis of write indices only, because any availability issue should be consi

[2020-03-10 17:50] #52644 closed

[2020-03-10 18:01] polyfractal commented on #53215
Also includes `filter` agg (https://github.com/elastic/elasticsearch/issues/14600), or really any bucketing agg that doesn't directly extend MultiBucket

[2020-03-10 18:06] jasontedor commented on #53342
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2020-03-10 18:06] #53342 closed

[2020-03-10 18:36] #53171 closed

[2020-03-10 18:44] imotov commented on #52913
OK, just to make sure I understand the plan (no pun intended). So the `PhysicalPlan` will not implement `execute(...)` anymore. Instead it will produce some other "action execution plan" that will implement `execute(...)` and upon execution will produce `Results` for the first page which will contain a serializable state that can be later rehydrated into a new "action execution plan" for the secon

[2020-03-10 19:09] williamrandolph commented on #53177
One more on `SmokeTestWatcherWithSecurityClientYamlTestSuiteIT`, master branch: https://gradle-enterprise.elastic.co/s/43mjgxd6sesck

[2020-03-10 19:17] bpintea opened #53359 "SQL: the closing endpoint rejects the binary format parameter"
Providing the `binary_format` to a closing request results in a failure `x_content_parse_exception: [-1:4034] [indices:data/read/sql/close_cursor] unknown field [binary_format]`

[2020-03-10 19:17] elasticmachine commented on #53359
Pinging @elastic/es-search (:Search/SQL)

[2020-03-10 19:22] jtibshirani commented on #53326
It's great we're moving this forward, there have been some long-standing issues in this area! Tagging @elastic/beats and @elastic/apm-server so they're aware of the above proposal to disallow having two `dynamic_templates` with the same name.

[2020-03-10 19:28] jtibshirani commented on #28988
@cbuescher my intuition is that we should just focus on #53326 (and close #28988 and #52062 in favor of that issue). I could see some users accidentally having duplicate entries in their templates, especially with long templates or those that are created programmatically. So if we added #52062, I think we would also want a deprecation period before we disallow duplicate templates entirely. It seem

[2020-03-10 19:33] williamrandolph opened #53360 "[CI] AsyncSearchActionTests fails unpredictably"
We've had a couple of test failures from `AsyncSearchActionTests` today. The failures haven't reproduced locally for me.

Failure on `master`: https://gradle-enterprise.elastic.co/s/asvh7ted2nfvy/

[code]

Earlier failure on ~7.x~ master: https://gradle-enterprise.elastic.co/s/3pjzmjjxc66wi
[code]

I believe @jimczi is working on this actively, but I'm going to go ahead and mute while he's in prog

[2020-03-10 19:33] elasticmachine commented on #53360
Pinging @elastic/es-search (:Search/Search)

[2020-03-10 19:49] probakowski commented on #46193
@robertdeheer would you mind sharing exact error/stacktrace?
I've just tested it on `7.6.0` with:
[code]
and it works as expected

[2020-03-10 20:10] jaijhala opened #53366 "Upgrade PDFBOX to 2.0.18"
It looks like both master and 7.6 are using PDFBOX-2.0.16.
Encountered this bug https://issues.apache.org/jira/browse/PDFBOX-4683 and it's fixed in the later version so would be good to upgrade this.
Might need to be done outside of Tika upgrade unless we want to wait for - https://github.com/elastic/elasticsearch/pull/52402

[2020-03-10 20:11] robertdeheer commented on #46193
Yes, the code you provided worked. I realized that my issue is probably
related to locating hosts in a private network and visualizing them in
kibana. That’s a different issue.

Thanks,
Rob

On Tue, Mar 10, 2020 at 12:49 PM Przemko Robakowski <
notifications@github.com> wrote:

[2020-03-10 20:19] elasticmachine commented on #53366
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-03-10 20:31] jtibshirani commented on #52164
I'm closing this out since it doesn't indicate a bug. If we encounter other confusion around this point, it could worth adding a note to the [object datatype](https://www.elastic.co/guide/en/elasticsearch/reference/7.6/object.html) docs.

[2020-03-10 20:31] #52164 closed

[2020-03-10 20:40] mazogi commented on #15349
This problem is still (or again?) happening in v 5.6.2

[2020-03-10 21:01] williamrandolph commented on #50353
Bad news: this failure came up again on `master` today.

Log | https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux-7&&immutable/625/console
-- | --
Build scan | https://gradle-enterprise.elastic.co/s/rd3tzsc3sdt6c

[2020-03-10 23:10] jtibshirani commented on #49028
Great, I've assigned this to myself and am working on a design doc. Once the design is more settled I'll post it here or open a new meta-issue.

[2020-03-10 23:17] #51303 closed

[2020-03-11 01:52] jasontedor commented on #53308
For me, this is where the disconnect is. Shards are...shards. Nodes are...nodes. They are distinct first-class citizens in the system, whose characteristics we want to monitor. They deserve a separate representation in monitoring.

[2020-03-11 02:10] Leaf-Lin opened #53378 "Misleading message with auto_create_index"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.1 and older

**Plugins installed**: [] N/A

**JVM version** (`java -version`): On Elastic Cloud

**OS version** (`uname -a` if on a Unix-like system): On Elastic Cloud

# Description of the problem including expected versus actual behavior**:
When `action.auto_create_index` is set to `false` in cluster settings, I expect to see error m

[2020-03-11 02:10] elasticmachine commented on #53378
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-03-11 03:03] dnhatn commented on #53225
[code]

I will take a closer look tomorrow.

[2020-03-11 04:27] tvernum commented on #47195
@ywangd I've assigned this to you, no rush, but I think we should get it sorted when we can.

I don't know whether we want to add the anonymous role to the`roles` field, or add a new `anonymous_role` field, or something like that, but I think you and @jkakavas could come up with an agreement on that.

[2020-03-11 04:53] jkakavas opened #53379 "Expose proxy settings for OIDC outgoing connections"
Our OpenID Connect realm implementation needs to communicate on a backchannel with the OP ( in order to call the Token and UserInfo endpoints. It does so, by using an instance of `CloseableHttpAsyncClient`. `CloseableHttpAsyncClient` supports an http proxy and we should enable our realm to use one by exposing relevant configuration in the realm configuration.

[2020-03-11 04:53] elasticmachine commented on #53379
Pinging @elastic/es-security (:Security/Authentication)

[2020-03-11 05:14] ywangd commented on #47195
Thanks @tvernum

@jkakavas From the surface, I'd prefer a new field for it because of clarity. Otherwise users may have new confusion from another direction, i.e. from "where are my missing roles" to "what are these extra roles". I'd personally name it to something like `inherited_roles`. But I understand it could be a pre-mature "optimization" unless we could extend this concept to tokens, api ke

[2020-03-11 05:27] jkakavas commented on #47195
We generally are fine with adding fields to responses, these are not considered breaking changes and we have the tooling in our serialization logic to take care of version guards. We recently ( in a minor in 6.x ) added the realm information in the _authenticate response too.

I agree that the new field fits the principle of least astonishment better

[2020-03-11 06:16] ibtisamtahir opened #53383 "Unable to search double quotes from kibana/query"
I have some records in my document with 4" , 2" . I want to search 4" but I can only search 4. Elastic is unable to search " from my records. I have tried searching with different methods in my query. I also tried searching through Kibana but problem persists.

**Steps to reproduce**:

 1. Add a document with some data having " in it.
 2. Search using "
 3. It will not hit on the basis of "

[2020-03-11 08:24] howardhuanghua commented on #42508
Hi @bczifra , do we have the plan to implement this enhancement?

[2020-03-11 08:37] matriv commented on #53383
Thank you very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
tha

[2020-03-11 08:37] #53383 closed

[2020-03-11 09:03] #53271 closed

[2020-03-11 09:15] bczifra commented on #42508
@howardhuanghua I believe https://github.com/elastic/elasticsearch/issues/50251 will help address this.

[2020-03-11 09:28] shwetathareja opened #53388 "Rollover API failing with 400 in case settings name don't have "index." prefix or "index" section in json"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6

**Plugins installed**: []

**Description of the problem including expected versus actual behavior**:
Rollover API takes index settings as input parameters. The settings can specified as one of the below options:
[code]

But, with this [PR](https://github.com/elastic/elasticsearch/pull/50388). the #3 option doesn't work and throws erro

[2020-03-11 09:40] immon commented on #51211
Another caveat is that high disk usage on one mountpoint marks the whole node under watermark situation. One can end up with a situation when one mountpoint is utilized in 95% and the other is mostly free but still the node cannot take new shards. This behaviour is not intuitive and users looking to expand their storage on a node are surprised that adding more disk space does not help at all.

[2020-03-11 09:53] cbuescher commented on #53318
Hi @almiche ,
Just to confirm the ask here: when you put an index template like this, there shouldn't be an index yet that triggers the error, but the put template action with the invalid mapping definition itself, so I don't understand where the ask for an index name comes from here.

With regards to the template name, that would be the template you are just trying to put? Or are you missing the

[2020-03-11 10:19] elasticmachine commented on #53388
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-03-11 10:42] matriv commented on #53060
Thank you very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/) and it seems that you have
already opened an [issue](https://discuss.elastic.co/t/docker-pull-docker-elastic-co-elasticsearch-elasticsearch-7-5-2-getting-authentication-required/221918) there.

I couldn't reproduce a

[2020-03-11 10:42] #53060 closed

[2020-03-11 10:56] costin commented on #52913
`PhysicalPlan`s `execute` is not called universally - in fact most plans are `Unplanned`.
That's because there are plans that can only be executed locally (in SQL in particular the `SYS` commands or `LocalRelation` meaning you can return the results without hitting ES) or plans that are only available in ES - these get removed as they are folded into a `EsQueryPlan` which internally builds the que

[2020-03-11 11:20] shwetathareja commented on #53388
Hi Team,

If we are aligned on the issue and the fix. I can pick it up.

[2020-03-11 12:12] erwin-willemsen opened #53398 "Additional data shown when using Canvas and clicking on a certain object."
**Describe the feature**:

We would like additional information when selecting a certain object on the Canvas. We are showing the connection status for our customers on Canvas and we would like additional information to pop-up such as date/time for when the service was last used. We have this data in our Elastic cloud and would like to show this using a pop-up screen when the user clicks on the se

[2020-03-11 13:30] ywelsch opened #53407 "*IT tests in x-pack/plugin/core silently ignored?"
`*IT` tests in `x-pack/plugin/core`seems to be silently ignored. I was working on a patch for source only snapshots and noticed that `SourceOnlySnapshotIT` is failing on master (without my changes), but this is not being picked up by CI. Same probably applies to `ReloadSynonymAnalyzerIT` and other `*IT` tests?

This looks potentially dangerous as test coverage is not what we would expect it to be.

[2020-03-11 13:30] elasticmachine commented on #53407
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-03-11 13:38] imotov commented on #52913
So what are you proposing?

[2020-03-11 13:57] jimczi opened #53411 "Partial reduce failures can throw AssertionError"
Today we don't expect any failure when running a partial reduce of shard responses.
However there are at least two cases where such failures occur:

- Sorted queries on fields that are of mixed types in the different search indices (e.g.: a field mapped as keyword and double in the same search).
- Partial reduce that creates more than `search.max_buckets`.

There's a race condition in this scenari

[2020-03-11 13:57] elasticmachine commented on #53411
Pinging @elastic/es-search (:Search/Search)

[2020-03-11 13:57] elasticmachine commented on #53411
Pinging @elastic/es-distributed (:Distributed/Distributed)

[2020-03-11 14:01] mayya-sharipova opened #53412 "rollup/security_tests/Index-based access failed on master"
Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=debian-9&&immutable/626/console
Build Scans: https://gradle-enterprise.elastic.co/s/czj4wyadxa5w4

REPRODUCE WITH: ./gradlew ':x-pack:plugin:integTestRunner' --tests "org.elasticsearch.xpack.test.rest.XPackRestIT.test {p0=rollup/security_tests/Index-based access}" -Dtests.seed=D8D6FFF30F93B9E5

[2020-03-11 14:01] elasticmachine commented on #53412
Pinging @elastic/es-analytics-geo (:Analytics/Rollup)

[2020-03-11 14:47] jaymode commented on #29605
Hidden aliases have been implemented in #52547

[2020-03-11 14:47] #29605 closed

[2020-03-11 15:06] danhermann commented on #52833
Fixed by https://github.com/elastic/elasticsearch/pull/52937

[2020-03-11 15:06] #52833 closed

[2020-03-11 15:54] soumyadip007 opened #53416 "org.elasticsearch.node.NodeBuilder & NodeBuilder cannot be resolved to a type"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2020-03-11 15:54] r862 commented on #30334
@javanna Yes. That is what I meant! Also, is there any plan to add the same error codes to the HighLevelRestClient as well, to have the correctness?

[2020-03-11 16:04] mark-vieira commented on #50353
This is continuing to fail with some regularity (a dozen times in the past week on `master`) so I've muted this again with 73fe15632510a6bf800ac65050b35d7e0be4bbe1.

[2020-03-11 16:07] eedugon commented on #52155
@markharwood : Apparently this error is also raised with fields that are not even indexed.

Taking a look at this mapping:
[code]

It also generates errors as Kibana uses highlighting by default:

So, we have keywords with `ignore_above` setting, which is ignored by the highlighter (https://github.com/elastic/elasticsearch/issues/43800) and where the `offsets` workaround  is not possible, and we h

[2020-03-11 16:12] jakelandis commented on #53308
I believe the motivation for the which data is persisted via monitoring is almost solely driven by the requirements of the Kibana UI monitoring application. i.e. Our data persistence requirements are that which best serve the Kibana monitoring app. In that context, I am not sure if I agree that shards deserve separate representation in monitoring, rather they deserve representation that best suite

[2020-03-11 16:13] #53088 closed

[2020-03-11 16:28] williamrandolph commented on #53360
@jimczi Thanks for handling this!

[2020-03-11 16:30] jimczi commented on #53360
thanks for muting @williamrandolph , I'll watch the build since I was not able to reproduce the exact same exceptions locally.

[2020-03-11 16:33] jpountz commented on #52913
Is my assumption correct that this discussion is only about the case when we return data to the client, and they later ask for the next page? The case when we need to consume all matches of an EQL query in order to feed a pipe for instance is not in the scope of this discussion?

If the above assumption is correct, I like Igor's proposal of having a minimal key better, requiring the client to re-s

[2020-03-11 16:40] jimczi commented on #53360
Reopened since it failed on the first build :(

[2020-03-11 17:07] cbuescher commented on #53416
Hi @soumyadip007! Without any information more that the subject line, I assume you are experiencing compilation issues of some sort. Please note that your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as

[2020-03-11 17:07] #53416 closed

[2020-03-11 17:28] andreidan commented on #53388
Thanks for using ILM and reporting this bug @shwetathareja
Feel free to work on a fix for this and let us know if you need any help.

[2020-03-11 17:54] mayya-sharipova commented on #50353
Another failure on 7.x.   I keep it unmuted for now, as it a only a first failure from  Jan 2nd.

Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_RUNTIME_JAVA=java11,nodes=general-purpose/564/console

Build Scans: https://gradle-enterprise.elastic.co/s/ehgyqqem7x2r4

Failure doesn't reproduce for me on 7.x

REPRODUCE WITH: ./gradlew ':x-pack:plugin:il

[2020-03-11 17:56] not-napoleon opened #53424 "Parse user type hints directly to ValuesSourceTypes"
In the current implementation, user type hints (specified via the `value_type` field on aggregations) get parsed leniently through the `ValueType` enum.  The `ValueType` enum doesn't really add anything however, and we immediately turn that input into a `ValuesSourceType`.  Ideally, we should just parse the user's input directly into a `ValuesSourceType`

While just getting parity with the current

[2020-03-11 17:56] elasticmachine commented on #53424
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-11 18:04] mayya-sharipova opened #53425 "MlDistributedFailureIT.testStopAndForceStopDatafeed failed on 7.x"
A single failure for the last 3 months.

Log : https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_RUNTIME_JAVA=zulu11,nodes=general-purpose/564/console
Build Scans: https://gradle-enterprise.elastic.co/s/sxg6prs53mkak

REPRODUCE WITH: ./gradlew ':x-pack:plugin:ml:internalClusterTest' --tests "org.elasticsearch.xpack.ml.integration.MlDistributedFailureIT.testS

[2020-03-11 18:04] elasticmachine commented on #53425
Pinging @elastic/ml-core (:ml)

[2020-03-11 18:09] jmlrt opened #53426 "Elasticsearch Helm Chart review"
# Product teams tasks

We’d like to have chart reviews from product teams to validate that they are following product recommended configuration for Kubernetes:

### Elasticsearch

 * [ ] Review Elasticsearch Helm Chart @jasontedor

[2020-03-11 18:11] jmlrt commented on #53426
Hi @jasontedor
Thank you for working on this issue.

Elasticsearch chart code is in [helm-charts/elasticsearch](https://github.com/elastic/helm-charts/tree/master/elasticsearch).

This chart will create the following K8S resources:
- [StatefulSet](https://github.com/elastic/helm-charts/blob/master/elasticsearch/templates/statefulset.yaml) which will manage Elasticsearch pods include a few init and

[2020-03-11 18:24] mayya-sharipova commented on #53360
Another failure just occurred on master, and this failure occurred even with the @jimczi latest commit:
[code]

REPRODUCE WITH: ./gradlew ':x-pack:plugin:async-search:test' --tests "org.elasticsearch.xpack.search.AsyncSearchActionTests.testInvalidId" \
  -Dtests.seed=A1BCB56A6A844751 \
  -Dtests.security.manager=true \
  -Dtests.jvm.argline="-XX:-UseConcMarkSweepGC -XX:-UseSerialGC -XX:+UseG1GC" \

[2020-03-11 18:48] polyfractal commented on #53412
@ywangd Haven't had a chance to investigate yet, but do you think this is related to the recent https://github.com/elastic/elasticsearch/pull/52043 ?

[2020-03-11 18:58] chrisronline commented on #53308
I don't disagree with you, but that's not it is currently setup. Nodes and indices are first-class citizens in the UI, but shards are just accompanying data points. We don't have any sort of "shards" only page in the UI (currently at least).

I think this will work fine. It's probably okay if Metricbeat needs to do a little manipulation of the data before indexing it into `.monitoring-es-*` docume

[2020-03-11 19:01] mayya-sharipova opened #53430 "[CI][master] DocsClientYamlTestSuiteIT put-auto-follow-pattern"
Log : https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos-8&&immutable/627/console
Build Scans:  https://gradle-enterprise.elastic.co/s/t7pibrqbzjvsm

REPRODUCE WITH: ./gradlew ':docs:integTestRunner' --tests "org.elasticsearch.smoketest.DocsClientYamlTestSuiteIT.test {yaml=reference/ccr/apis/auto-follow/put-auto-follow-pattern/line_15}" \
  -

[2020-03-11 19:01] elasticmachine commented on #53430
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-03-11 19:50] polyfractal opened #53431 "Agg test coverage for unmapped, scripting, supported-types"
Before merging the VS refactoring work, we'd like to make sure all the converted aggs have tests for unmapped, scripting and "supported type" tests to avoid accidentally changing any behavior.  These corner cases have some nuanced behavior, and are not well tested in master today.

I've randomly divided up the set of aggs below.  Many are already tested (either previously, or added for the VS refa

[2020-03-11 19:51] elasticmachine commented on #53431
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-03-11 19:51] almiche commented on #53318
My mistake, for some context we have a lot of different customers that are creating various templates and it's difficult to dig into it further when looking at log messages that just contain the name of the field that is erroneous. It would really ease our workflow if the name of the template trying to be created or updated was included in error response as well. All of our template updates are pe

[2020-03-11 21:05] mayya-sharipova commented on #52155
@eedugon  Thanks for letting us know, we will try to address your use case as well

[2020-03-11 22:33] ywangd commented on #53412
It's not related. This test does not use `_rollup_search` API  which is changed in my PR. It's a normal search.

[2020-03-11 23:53] rjernst commented on #53407
I've found the problem, and it is very unfortunate. It appears all IT tests in xpack have been disabled for *over a year*. The IT tests in xpack are run under a separate test runner task called `internalClusterTest`. In moving where this task is created, it was accidentally not added to the `check` task, so CI has not known to run it.

I'll open a PR to re-enable, and mute any failing tests with t

[2020-03-12 00:29] rjernst opened #53442 "SourceOnlySnapshotIT failure"
This test (and others) have been accidentally not running in CI for the last year.

https://gradle-enterprise.elastic.co/s/lbgekmjgvbi4a/console-log?task=:x-pack:plugin:core:internalClusterTest

[2020-03-12 00:29] elasticmachine commented on #53442
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-03-12 00:35] rjernst opened #53443 "ReloadSynonymAnalyzerIT times out"
This test (and others) have been accidentally not running in CI for the last year.

https://gradle-enterprise.elastic.co/s/lbgekmjgvbi4a/console-log?task=:x-pack:plugin:core:internalClusterTest#L568

[2020-03-12 00:35] elasticmachine commented on #53443
Pinging @elastic/es-search (:Search/Analysis)

[2020-03-12 00:39] rjernst commented on #53407
After going through all the xpack modules defining internalClusterTask, only the core tests were left out of check. This should be fixed by #53444.

[2020-03-12 01:34] astefan opened #53445 "SQL: SYS COLUMNS returns incorrect data for a field with the same name in multiple indices"
Consider index `test1`:

[code]

and a similar index called `test2` where the field `name` is `keyword` (vs. `text` in `test1`):

[code]

`SYS COLUMNS` will generate the following output:

[code]

The issue with the output above is that `name` is of type `TEXT` for both `test1` and `test2` whereas it should be `TEXT` for `test1` and `KEYWORD` for `test2`.
This is like this because the data structu

[2020-03-12 01:34] elasticmachine commented on #53445
Pinging @elastic/es-search (:Search/SQL)

[2020-03-12 03:57] StevTheDev commented on #27006
Hey @javanna by the sound of it what you propose would work well for me as well. Is this behavior still in development?

[2020-03-12 06:21] sw-jung opened #53451 "Make geoip ingest processor live reloadable"
**Describe the feature**:
The geoip ingest processor uses a maxmind database file and a user can provide a custom file for it.
However, when the database file is updated, every ingest node are should be restarted for loading it.

It would be good to provide a reload API or support periodically refresh logic to make live reloadable.

[2020-03-12 08:04] przemekwitek commented on #29938
ILM policy for `.ml-state*` is implemented in `master` and `7.x`.
I'm starting work on the last missing piece i.e. removing empty `.ml-state*` indices.

[2020-03-12 08:33] shwetathareja opened #53455 "AddVotingConfigExclusionsAction not honoring max_voting_config_exclusions value from yml"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.1, 7.6

**Description of the problem including expected versus actual behavior**:

max_voting_config_exclusions setting is NodeScope but yml value is **not** honored in the TransportAddVotingConfigExclusionsAction and uses default value as 10 (in case persistent/ transient setting is not set)

[code]

The reason for that TransportAddVoti

[2020-03-12 08:52] pgomulka opened #53457 "ClusterHealthIT.testHealthOnMasterFailover failures"
this failed for me once, but I can see 4 other failures during the month.
It does not reproduce to me either. I suspect this might be same race condition in a test?

build stats
https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-60d,mode:quick,to:now))&_a=(columns:!(_source),index:b646ed00-7efc-11e8-bf69-63c8ef516157,interval:auto,query:(langu

[2020-03-12 09:03] elasticmachine commented on #53457
Pinging @elastic/es-distributed (:Distributed/Distributed)

[2020-03-12 09:03] original-brownbear commented on #53457
Will look into this shortly :)

[2020-03-12 09:19] shushantan commented on #2917
+ 1

[2020-03-12 09:27] cbuescher commented on #53318
Thanks, just two follow up questions:

Where are these updates triggered? Is it an application you control? Can you add logging there to match the request and potential failures?

AFAIK you cannot `PUT /_template` through the bulk API, this is a separate concern I think, or am I missing something here?

[2020-03-12 10:04] Crazybus commented on #53426
This quote was originally for non-cluster applications like Metricbeat/Filebeat. For stateful clusters applications like Elasticsearch there is also another really important usage for the readinessProbe.

Under normal operating conditions the readinessProbe needs to be "node aware". If this is passing, please send requests to me. If it is failing remove me from the service.

During restarts (rolli

[2020-03-12 10:06] weizijun opened #53467 "IndexService.createShard dataPathToShardCount doubt"
IndexService.createShard' dataPathToShardCount is similar to ShardPath.selectNewPathForShard‘ pathToShardCount.

[code]

I think dataPathToShardCount is used to calucate the shards count of each path, But the actual implementation is used to calucate the shards count of created index in each path.

[2020-03-12 11:00] cbuescher commented on #53443
This reproduces for me with the above test seeds, but some other seeds seem to work (e.g. EE844BDD847822CE or ED44152BF83DD23E).

[2020-03-12 11:22] cbuescher commented on #53443
Something is wrong here with the index names while merging responses:
[code]
[code]

[2020-03-12 11:40] jimczi commented on #15613
We're tracking the remaining work for the types removal in another [meta issue](https://github.com/elastic/elasticsearch/issues/41059) now so I am closing this one. Long live the types...

[2020-03-12 11:40] #15613 closed

[2020-03-12 13:03] benwtrent opened #53477 "Search bwc tests are consistently failing"
numerous intake and PR builds are failing.

One example: https://gradle-enterprise.elastic.co/s/2cvayrzuccooq

One failed test trace:
[code]

Reproduction line
[code]

[2020-03-12 13:03] elasticmachine commented on #53477
Pinging @elastic/es-search (:Search/Search)

[2020-03-12 13:14] #53442 closed

[2020-03-12 13:55] aleksmaus opened #53482 "EQL: Improve query error message for IN clause with variables"
The issue is captured presently in QueryFolderFailITests
https://github.com/elastic/elasticsearch/pull/53187?email_token=AAGU7H67SBNCJGFAP4YUZ43RGY7W5A5CNFSM4LCR3LA2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEOLORVY#discussion_r391528671

The following query
`"process where opcode in (1,3) and process_name in (parent_process_name, \"SYSTEM\")"`

results in QlIllegalArgumentExcepti

[2020-03-12 14:27] polyfractal commented on #53412
Ah good point, missed that.  I'll start to investigate, thanks @ywangd!

[2020-03-12 14:35] jrodewig commented on #22199
I'm hesitant to full document the response parameters for the cluster state API as they're subject to change. This is noted in the [current documentation][0]:

However, we have now documented most of the returned responses for the node stats API and the cluster stats API. When #53475 is merged, that work should be complete.

[0]: https://www.elastic.co/guide/en/elasticsearch/reference/current/clus

[2020-03-12 14:38] przemekwitek opened #53485 "Overall accuracy is reported as 0.0 while it should be greater than 0"
Issue noticed and described by @wwang500:

I have a question about overall_accuracy result. when I ran _eval on car-parts classification/inference result index.

[code]

I got this results:

[code]

shouldn't overall_accuracy be 1.0 too?
it might be caused the field mapping,
"ml.N_Lunker_prediction" : {"type" : "long"},
"ml.inference.predicted_value.keyword"

[2020-03-12 14:38] elasticmachine commented on #53485
Pinging @elastic/ml-core (:ml)

[2020-03-12 14:41] przemekwitek commented on #53485
I reproduced the issue and already know why it happens. You were right with mappings mismatch.
Inference does not impose any mappings on the prediction field so it is mapped as `text&keyword`.
In the case you described the other field is of type `long`.

I think the sensible approach is to make comparison in evaluation painless script more lenient so that it compares string representations rather

[2020-03-12 14:43] dakrone commented on #47240
This will be superseded with the work for datastreams in #53100, so I'm going to close this.

[2020-03-12 14:43] #47240 closed

[2020-03-12 14:53] jakelandis commented on #35595
This sounds like a good enhancement.

[2020-03-12 15:03] elasticmachine commented on #53482
Pinging @elastic/es-search (:Search/EQL)

[2020-03-12 15:04] costin commented on #52939
See https://github.com/elastic/elasticsearch/issues/53482

[2020-03-12 15:08] matriv opened #53486 "SQL: LIKE/RLIKE don't produce painless scripts"
LIKE/RLIKE don't produce painless scripts and wrong results are returned, e.g.:
[code]
will return one group with value 2.

[2020-03-12 15:09] elasticmachine commented on #53486
Pinging @elastic/es-search (:Search/SQL)

[2020-03-12 15:16] mark-vieira commented on #51481
We are now running both platform support and packaging tests on CentOS 8 in `master` and `7.x`.

[2020-03-12 15:22] elasticmachine commented on #53477
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-03-12 15:25] andreidan opened #53488 "Refactor TimeSeriesLifecycleActionsIT (break it down into multiple tests)"
This class encapsulates the tests related to ILM in the context of timeseries data (hot/warm/cold deployments). However, it's grown to a size where it's hard to manage and reason about.
We should aim to split the tests that are specific to ILM actions into dedicated test classes, possibly extracting some testing utilities to check the ILM step, explain index api, create index etc.

[2020-03-12 15:25] elasticmachine commented on #53488
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-03-12 15:54] spinscale commented on #35595
metadata is currently searchable, see https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/core/src/main/resources/watches.json#L55-L58

[2020-03-12 16:20] jaymode opened #53493 "RetentionLeaseIT fails in CI with NoSuchFileException on 6.8"
On the 6.8 branch, two tests of RetentionLeaseIT have failed in the past month. The nested exception in both cases was a NoSuchFileException, which leads me to believe that they may have failed for the same reason.

Build scans:
https://gradle-enterprise.elastic.co/s/g55d6mbwbohks
https://gradle-enterprise.elastic.co/s/jp5k4fcqo54x6

**testCanRenewRetentionLeaseWithoutWaitingForShards** failure:

[2020-03-12 16:20] elasticmachine commented on #53493
Pinging @elastic/es-distributed (:Distributed/Distributed)

[2020-03-12 16:35] jaymode commented on #51316
Another instance https://gradle-enterprise.elastic.co/s/kcud7vntywyf6 but on Debian 10

[2020-03-12 16:42] matriv opened #53494 "Term Vectors doesn't work on artificial docs with keyword fields"
Steps to reproduce:
[code]

Issue is spotted in `ParseContext#getValues()` where  `field.stringValue()` returns `null` for keyword fields. Need to check for the `KeywordFieldType` and convert BytesRef to UTF8 string.

[2020-03-12 16:42] elasticmachine commented on #53494
Pinging @elastic/es-search (:Search/Search)

[2020-03-12 16:52] jimczi opened #53496 "ExitableDirectoryReader slowdowns intensive points and terms query"
The exitable directory reader added in https://github.com/elastic/elasticsearch/pull/52822 seems to slowdown queries that uses points (`range` queries) and terms dictionary (`terms` ad multi-term queries) intensively. These slowdowns have been spotted in our nightly runs as outlined [here](https://elasticsearch-benchmarks.elastic.co/#tracks/noaa/nightly/default/30d).
We open this issue to discuss

[2020-03-12 16:52] elasticmachine commented on #53496
Pinging @elastic/es-search (:Search/Search)

[2020-03-12 16:59] markharwood opened #53498 "Range field performance regression after Lucene compression change"
Nightly benchmarks revealed a performance regression in searches on range fields following a change to add [compression to binary doc values in Lucene](https://github.com/apache/lucene-solr/pull/1234).
While the change reduced the disk storage costs, the benchmarks showed median search times for the benchmark increased from 12ms to 42. The affected query was on the "noaa" dataset with these clause

[2020-03-12 16:59] elasticmachine commented on #53498
Pinging @elastic/es-search (:Search/Search)

[2020-03-12 16:59] elasticmachine commented on #53498
Pinging @elastic/es-perf (:Performance)

[2020-03-12 17:04] williamrandolph commented on #51316
Closing via #53437

[2020-03-12 17:04] #51316 closed

[2020-03-12 17:06] jakelandis commented on #53177
It appears that this may be a setup/tear down issue and build-stats shows more test failures than the ones referenced here. As of #53362 all of the REST tests for Watcher are muted and will look into this issue as soon as possible.

[2020-03-12 17:09] #53477 closed

[2020-03-12 17:25] costin commented on #52913
@tsg could you please take a look at the discussion above?
We'd like to know whether, for the most part, SIEM would typically navigate across multiple pages or be interested mainly in the first set of results. Especially if returning the results might not be immediate (think 10-20s or more for complicated queries or large datasets).

[2020-03-12 17:34] robertjli commented on #53115
I am in the same situation. Are there any feasible workarounds for the specific case where you're collapsing on the same field that you're sorting by?

[2020-03-12 17:58] jaymode commented on #52843
This failed again on 7.x, https://gradle-enterprise.elastic.co/s/uvvtgbdx3m6jg/tests/rfsroxnx4sflo-wlzwik4zkn53q.

[2020-03-12 18:03] jaymode opened #53505 "InternalEngineTests testKeepTranslogAfterGlobalCheckpoint reproducible failure"
`InternalEngineTests#testKeepTranslogAfterGlobalCheckpoint` failed on 7.x in CI and the failure reproduced locally for me.

[code]

[code]

Build scan: https://gradle-enterprise.elastic.co/s/yxgoiqxlkrs5y

[2020-03-12 18:03] elasticmachine commented on #53505
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-03-12 18:11] #46300 closed

[2020-03-12 18:17] jaymode opened #53506 "S3BlobContainerRetriesTests testReadBlobWithRetries failure in CI"
The S3BlobContainerRetriesTests testReadBlobWithRetries test failed in CI due to a socket read timing out, which seems odd since it appears that everything runs locally against a test fixture. The failure did not reproduce locally for me.

[code]

[code]

Build scan: https://gradle-enterprise.elastic.co/s/63zd253dhs7po

[2020-03-12 18:17] elasticmachine commented on #53506
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-03-12 18:22] rursprung commented on #45225
this is still/again relevant, though it has been updated in the meantime.

this affects all releases: the dependency to jackson-databind is on an outdated version which contains known security problems.

on master it currently points to 2.8.11.4: https://github.com/elastic/elasticsearch/blob/master/buildSrc/version.properties#L14

the current 2.8.x release of jackson-databind is 2.8.11.6: https://

[2020-03-12 18:25] jaymode opened #53508 "S3RepositoryThirdPartyTests testCleanup failure in CI"
In CI, the S3RepositoryThirdPartyTests testCleanup test failed. I checked to ensure that this is not the same issue as #52191, where multiple tests ran concurrently and it does not appear to be the case in this instance.

Reproduce line:

[code]

[code]

[code]

[2020-03-12 18:25] elasticmachine commented on #53508
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-03-12 18:28] abunasar commented on #13719
any update on this?

[2020-03-12 18:32] jaymode opened #53509 "SnapshotIT testCreateSnapshot failure in 6.8 CI"
The SnapshotIT#testCreateSnapshot test failed in 6.8 CI due to a missing snapshot. I was unable to reproduce the issue locally.

Reproduce line:

[code]

[code]

Build scan: https://gradle-enterprise.elastic.co/s/u3csmaokg7iak

[2020-03-12 18:33] elasticmachine commented on #53509
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-03-12 18:39] #52427 closed

[2020-03-12 19:04] gwbrown commented on #53360
There was another failure just now on master, [Jenkins build](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob+fast+part2/4218/) and [Build scan](https://gradle-enterprise.elastic.co/s/qfgdfhile6zb6)

[2020-03-12 19:07] original-brownbear commented on #53508
This is a rare failure that is with 99% certainty coming from eventual consistency issues. The assertion that the `index.latest` blob is consistent with listing out the `index-N` blobs fails because an outdated `index.latest` is read. This seems to happen super rarely but I'll find a workaround for this, enhancing the test to properly spin until a consistent state is reached on S3 next week when I

[2020-03-12 19:13] original-brownbear commented on #53506
This test is actually supposed to verify that timeouts are correctly handled. The problem here seems to be that we are running into the timeout that the retrying stream is supposed to handle when opening the stream already. The retrying stream only handles the timeout during reads properly though, leading to this failure. I'll open a fix PR shortly (next week or maybe tomorrow).

[2020-03-12 20:38] dnhatn opened #53517 "Improve CCR write buffer on the follower"
Today, each shard follow-task has a separate write [buffer](https://github.com/elastic/elasticsearch/blob/9ad05976170292d55d8785dc15005208bf3970d9/x-pack/plugin/ccr/src/main/java/org/elasticsearch/xpack/ccr/action/ShardFollowNodeTask.java#L94) which defaults to 512MB. While the choice is simple and works well in most cases, these **full** buffers can consume a lot of memory if many shard-follow ta

[2020-03-12 20:38] elasticmachine commented on #53517
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-03-12 20:58] jimczi commented on #53115
You can use the [`composite` aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-composite-aggregation.html) as a workaround since it allows to paginate over the results.
I am also open to support this feature in `search_after` if this solves a real use case. I don't have plans to work on it in the near future though but I'd be happy to help if s

[2020-03-12 21:05] mark-vieira commented on #45034
This issue is no longer applicable after the Docker support logic refactor. This property has been removed, and we no longer display it in the error message. Attempting to run the Docker build tasks will continue to fail if Docker is not available on the system. The recommended approach, as mentioned above, is to run the task specific to the distribution you require. This also has the benefit of b

[2020-03-12 21:05] #45034 closed

[2020-03-12 21:18] wylieconlon commented on #52730
Random sampling could potentially be used to make these queries fast: https://github.com/elastic/elasticsearch/pull/53200

[2020-03-12 21:30] rjernst commented on #53061
@nikhil-bhat This is by design. When updating a logger level, children loggers are descended and updated as well. The root logger is the parent of all loggers, so updating it means changing all loggers to that level.

[2020-03-12 22:17] jasontedor commented on #45225
I want to stress, which we have in a few places, that we are not exposed to *any* of the reported security issues. We understand that they cause problems for scanners, but from a security perspective, there is no issue exposed in Elasticsearch. We will investigate upgrading the dependencies. Tactically we will try upgrading to the 2.8.11.6 in our current release branches, and separately, investiga

[2020-03-12 22:28] robertjli commented on #53115
Thank you! How does the performance of the `composite` aggregation compare to using `collapse` to deduplicate and `from` & `size` to paginate? I understand that `from` loads all the records up to that point into memory, and we're seeing the effects of that with large queries, which is why I was interested in `search_after`.

[2020-03-12 22:51] nik9000 opened #53524 "RollupResponseTranslator attempts multiple "top level" reductions"
The `RollupResponseTranslator` does two "top level" reductions of the aggregation tree [here](https://github.com/elastic/elasticsearch/blob/2151ecb/x-pack/plugin/rollup/src/main/java/org/elasticsearch/xpack/rollup/RollupResponseTranslator.java#L292-L300). I don't *think* that is going to work properly but I don't know enough about rollup to know for sure. So I'm handing this off to someone who kno

[2020-03-12 22:51] elasticmachine commented on #53524
Pinging @elastic/es-analytics-geo (:Analytics/Rollup)

[2020-03-13 00:16] jimczi commented on #39835
Since we reverted #42510 I think it makes sense to re-evaluate a simple solution to automatically execute the can match phase despite the default. This shouldn't be an issue going forward in Kibana since they plan to use the new async search which sets the `pre_filter_shard_size` to  1 by default but we should make the change in blocking `_search` nevertheless. We've improved the handling of queri

[2020-03-13 04:08] geekpete opened #53529 "Provide an Explain API or functionality for index templates"
**Describe the feature**:

Provide an API to explain which templates will affect a provided index name and the reveal the order the templates would apply.
Perhaps also return the resulting final combined template that would be applied to the given index name.
All of the code to do apply this already exists, the Explain functionality would essentially be a dry-run version of the code with additiona

[2020-03-13 04:41] prashantalhat commented on #11322
+1

[2020-03-13 04:41] zacharymorn commented on #51412
@benwtrent Thanks for the additional information. The needed changes are clear and I'll start to work on it.

I've also gone through the internal process to get the approval to contribute on behalf of the company I'm working for  (Amazon). I'll work with the relevant internal team to see how we can best contribute. Please let me know if you have any suggestion as well as this is the first time I'm

[2020-03-13 05:13] OsoriAndOmori commented on #44546
@siwuai @alwintom
I had the same problem as you
but solved the problem by increasing connection timeout.
Default connection timeout of [RestClientBuilder.java](https://github.com/elastic/elasticsearch/blob/master/client/rest/src/main/java/org/elasticsearch/client/RestClientBuilder.java#L43) which is builder of RestHighLevelClient
is 1000ms.

[code]

In unstable network and various environment, I t

[2020-03-13 05:55] waswrongassembled commented on #11322
+1

[2020-03-13 08:07] #51774 closed

[2020-03-13 08:56] javanna commented on #39835
heya @jimczi what do you mean with "automatically execute the can match phase despite the default"?

[2020-03-13 09:32] jimczi commented on #39835
Defaulting to a static value of `128` is not flexible enough so today we require our users to set this value correctly. What I meant is that we should consider the default (`pre_filter_shard_size` is not present in the request) dynamic in order to be able:
- Automatically run the can_match phase if frozen indices are part of the query
  - or if a primary field sort is used (sort by a field).
  - .

[2020-03-13 09:56] dizzzyroma opened #53534 "Parent/Child Aggregation ordering path not working"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.1

**Plugins installed**: [none]

**JVM version** (`java -version`): OpenJDK 11.0.6

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 18.04

Aggregation ordering path not working when we try to aggregate parent/child documents. Elastic search return status 500
Expected result that elastic search return ordered aggregations

[2020-03-13 10:53] dawi opened #53536 "Painless: List<Long> is converted to List<Integer>"
**Elasticsearch version** (`bin/elasticsearch --version`):
Docker Image: elastic/elasticsearch:7.6.1

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "11.0.4" 2019-07-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.4+11)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.4+11, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Darwin mac1192 17.

[2020-03-13 13:32] williamrandolph opened #53544 "[CI] Timeout failure in class CloseWhileRelocatingShardsIT, test testCloseWhileRelocatingShards"
I see three CI test failures on `master` that seem to share a pattern. I can't reproduce the failure locally.

There is a lot of failure output, including three distinct exceptions. The first is an `AssertionError` about a timeout:

[code]

The second is an assertion error about pending shard operations:

[code]

Finally, there's a thread leak error:
[code]

There is a **lot** of other log output

[2020-03-13 13:32] elasticmachine commented on #53544
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-03-13 13:35] javanna commented on #39835
++ to having a more dynamic default, good idea @jimczi . We could then probably open a discussion on the need for the request parameter, and whether it still needs to be a threshold based on number of shards. Maybe it should become something to force enabling/disabling the execution of the can match phase.

[2020-03-13 13:37] astefan opened #53545 "exists query returns no documents for a no-value constant_keyword"
Considering the following mapping

[code]

And the following bulk of documents:

[code]

there won't be any value associated with `cycle_type` field. But, running the following query has some unexpected results:

[code]

There won't be any documents returned, whereas it should return all of them because `cycle_type` doesn't have a value.

[2020-03-13 13:37] elasticmachine commented on #53545
Pinging @elastic/es-search (:Search/Search)

[2020-03-13 13:37] #51800 closed

[2020-03-13 13:53] polyfractal commented on #51559
Small update: there is discussion ongoing about deprecating or changing the behavior of `max_buckets`, with the tentative plan leaning towards only counting buckets at the very end of reduction (e.g. so that it behaves purely as a bucket size limiter on the response), and potentially changing the default to a much higher value.

https://github.com/elastic/elasticsearch/issues/51731

[2020-03-13 14:24] pgomulka opened #53549 "elasticsearch-node fails when parsing persistent tasks"
It seems that elasticsearch-node is failing when parsing ML tasks - this possibly applies to other tasks defined in plugins

**Elasticsearch version** 7.6

**Description of the problem including expected versus actual behavior**:
When running a `elasticsearch-node unsafe-bootstrap` or `elasticsearch-node remove-customs persistent_tasks` an exception is thrown.
[code]

**Steps to reproduce**:
To Re

[2020-03-13 14:24] elasticmachine commented on #53549
Pinging @elastic/es-distributed (:Distributed/Distributed)

[2020-03-13 14:35] #52801 closed

[2020-03-13 15:04] dakrone commented on #53529
@geekpete this is already part of the design for index templates v2 (search for "Simulate index template api" on #53101), so I think this can be closed as a duplicate. If I misunderstood lemme know!

[2020-03-13 15:04] #53529 closed

[2020-03-13 15:04] elasticmachine commented on #53529
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-03-13 15:17] #53494 closed

[2020-03-13 15:28] kangning1 opened #53553 "java.lang.AssertionError: Unexpected AlreadyClosedException Caused by: org.apache.lucene.store.AlreadyClosedException: Underlying file changed by an external force"
hi:
I received an error. When es imported the data, it reported an error and exited, and the cluster stuck.

Cluster information：
sh-4.2$ curl  127.0.0.1:9200
{
  "name" : "elastic-header-1",
  "cluster_name" : "es-cluster",
  "cluster_uuid" : "53kTWYq7RXuyyqHojyScSQ",
  "version" : {
    "number" : "6.4.2",
    "build_flavor" : "default",
    "build_type" : "tar",
    "build_hash" : "04711c2",

[2020-03-13 15:41] kangning1 commented on #53553
<!--
hi:
I received an error. When es imported the data, it reported an error and exited, and the cluster stuck.

Cluster information：
sh-4.2$ curl  127.0.0.1:9200
{
  "name" : "elastic-header-1",
  "cluster_name" : "es-cluster",
  "cluster_uuid" : "53kTWYq7RXuyyqHojyScSQ",
  "version" : {
    "number" : "6.4.2",
    "build_flavor" : "default",
    "build_type" : "tar",
    "build_hash" : "04711c2

[2020-03-13 16:03] Hakky54 opened #53555 "Enable support for decompression of compressed response within RestHighLevelClient"
**Describe the feature**:
I would like to use the http compression feature of Elasticsearch within the RestHighLevelClient.
Currently this is not supported, as other people have already mentioned it here: [Elastic community - resthighlevelclient http compression for gzip](https://discuss.elastic.co/t/resthighlevelclient-http-compression-for-gzip/199155) and also it mentioned here: https://github.c

[2020-03-13 16:04] Hakky54 commented on #53555
See here for the pull request as a solution for this feature request: https://github.com/elastic/elasticsearch/pull/53533

[2020-03-13 16:20] jasontedor commented on #53553
[code]

This means that a process external to Elasticsearch is touching files owned by Elasticsearch, and Lucene guards against. This is not a bug in Elasticsearch, bug an issue on your end that you will have to investigate and resolve. If you need additional help, please use the [forums](https://discuss.elastic.co).

[2020-03-13 16:20] #53553 closed

[2020-03-13 16:34] davidkyle commented on #53549
@pgomulka I edited the title as the problem applies to persistent tasks in general not specifically ml tasks.

[2020-03-13 16:38] markharwood commented on #53498
I did some profiling with VisualVm of 1m records from the rally dataset and used the source records to query themselves (station country code + range on TRANGE field).
The profiler results are below:
### 7.6.1
<img width="855" alt="VisualVM_7 6 1" src="https://user-images.githubusercontent.com/170925/76640852-8f08f100-6548-11ea-8ea3-42c719e2a19f.png">

### master
<img width="955" alt="VisualVM_mas

[2020-03-13 16:54] markharwood commented on #53498
I expect this can close in favour of https://github.com/elastic/elasticsearch/issues/53496

[2020-03-13 18:26] matriv commented on #53494
`master` : 1fc3fe3d32f41eab2101c0536751b7c47e63cc48
`7.x` : b6c94fd73e8e5a6f15b8f4fc60b7d739a1f90da8
`7.6` : 9cf063e8d06a19e159a67d6555cb4e78be62a07a

[2020-03-13 18:38] bpintea opened #53557 "SQL: NPE for a null parameter in LIKE"
Providing a `null` value parameter to the LIKE operator and a parameter marker leads to an NPE, like exemplified below.

Example:
`SELECT ... FROM ... WHERE field LIKE ?`
and parameter `{"type": ..., "value":null}`

[code]

[2020-03-13 18:38] elasticmachine commented on #53557
Pinging @elastic/es-search (:Search/SQL)

[2020-03-13 19:08] kkewwei opened #53559 "Faster access to started shards count of the index in each node"
ES_VERSION: 7.6.0
JVM version : JDK1.8.0_112
OS version : linux
**Description of the problem including expected versus actual behavior:**
As it's known, Updating ClusterState on master may cost too much time, which is not good for cluster. During the updating ClusterState, ShardsLimitAllocationDecider deciders iterate through all the shards on a node to find STARTED ones belonging to the index whe

[2020-03-13 20:04] jdconrad opened #53561 "Remove local mutable state for Input/Output from "user" tree nodes"
The "user" tree is currently storing mutable state on the nodes for Input/Output objects as the ir tree is still generated in a separate pass. The passes need to be combined to remove this state.

[2020-03-13 20:04] elasticmachine commented on #53561
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-03-14 00:20] musteaf opened #53565 "SQL: Max() function doesn't work with Interval subtraction and addition"
**Elasticsearch version** (`bin/elasticsearch --version`): 8.0.0

**JVM version** (`java -version`): 13.0.2

**OS version** (`uname -a` if on a Unix-like system): MAC 10.14.3

**Description of the problem including expected versus actual behavior**:

Expected max() function needs to work with "intervals" when using arithmetic operations such that "sub" and "add".

**Steps to reproduce**:

 1. inse

[2020-03-14 01:42] LoadingZhang commented on #53559
We met same problem here.
8000 indices and 50000 shards in cluster, and we set indexShardLimit every index to manually balance shards, this causes updating cluster state costs tens of seconds.

[2020-03-14 06:52] JaeGeunBang opened #53569 "Replace fromValue() method with clear method name."
I am currently testing org.elasticsearch.cluster.health.ClusterHealthStatus.

I looked at the `fromValue()` method and `fromString()` method.

The input parameter of `fromString(String status)` is a string type, and the method name also seems clear.

But, the input parameter of `fromValue(byte value)` is a byte type, the method name seems to be **ambiguous**.

Below is fromValue() in ClusterHealth

[2020-03-14 07:36] gaobinlong opened #53570 "Cannot sort by children sub-aggregation in terms aggregation"
**Elasticsearch version**: master

**Plugins installed**: []

**JVM version** (`java -version`): 13.0.2

**OS version** (`uname -a` if on a Unix-like system):  Mac OS 10.13.6

**Description of the problem including expected versus actual behavior**:

Today we cannot sort by children sub-aggregation in a terms aggregation, it returns an error with message: "Buckets can only be sorted on a sub-aggre

[2020-03-14 07:56] gaobinlong commented on #53570
I found a change in `ChildrenAggregatorFactory`, now in master it is:
https://github.com/elastic/elasticsearch/blob/89d68736613ee7feeed10181c16216a764f86b4e/modules/parent-join/src/main/java/org/elasticsearch/join/aggregations/ChildrenAggregatorFactory.java#L77

,but in 6.4.3 it is:
[code]

[2020-03-14 08:36] Hakky54 commented on #53555
This feature request looks like a duplicate to this one: https://github.com/elastic/elasticsearch/issues/24349

[2020-03-14 08:44] Hakky54 commented on #24349
Hi guys, I also came to a point where a compressed data would be handy because of the big requests and responses. Unfortunately the rest high level client can't handle the response. I did an attempt to add this possibility to handle a compressed response from Elasticsearch within the rest high level client, see the pull request: https://github.com/elastic/elasticsearch/pull/53533

[2020-03-14 10:35] elasticmachine commented on #53565
Pinging @elastic/es-search (:Search/SQL)

[2020-03-14 12:40] matriv opened #53574 ":qa:wildfly:startWildfly Failed to find http port in log"
Failed in 7.x:

[code]

Build scan: https://gradle-enterprise.elastic.co/s/qncqcqbmeqgly

Cannot reproduce locally.

There was a change with #53126 to use docker.

[2020-03-14 12:40] elasticmachine commented on #53574
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-03-14 12:44] jasontedor opened #53575 "Bundle JDK 14 in the 6.8 Docker images"
JDK 14 will be released on March 17, 2020, at which point JDK 13 will be end of life. We should upgrade the JDK bundled in the 6.8 Docker images:

https://github.com/elastic/elasticsearch/blob/01af65d20bb2ec248daa0d0e4a2d263003468e36/distribution/docker/build.gradle#L26-L27

See #51511 for a similar change.

[2020-03-14 12:44] elasticmachine commented on #53575
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-03-14 13:20] jasontedor commented on #53574
This will be closed by the backport PR: #53159.

[2020-03-14 14:29] #45225 closed

[2020-03-14 18:46] fbaligand opened #53578 "Add "fingerprint" ingest processor"
Hi,

Since GDPR regulation, anonymization is become an important consideration.
That's why it would be great to add "fingerprint" ingest processor, with similar feature than Logstash "fingerprint" filter:
https://www.elastic.co/guide/en/logstash/current/plugins-filters-fingerprint.html

[2020-03-15 06:10] axw commented on #53285
@roncohen I've taken the liberty of adding the "histogram" aggregation to the list, as we'll also need this in the APM UI for the "Transaction duration distribution" chart.

[2020-03-15 07:58] kangning1 commented on #53553
Hello, looking at the error message when the thread reported an error, the forum did not find this error. The bug report of the gluster is different from that in the log. Did anyone else encounter this kind of reporting error before?

[2020-03-15 13:48] akshaymaniyar commented on #41822
*bump*

[2020-03-15 14:31] fzyzcjy commented on #18829
Hi! I wonder what will be the suggest number of terms? For instance, 100/200/500/1000? (I see the MAX limit is set to 2000, but I think that is a high upper bound and we should not reach that...?)

[2020-03-16 00:52] pan3793 commented on #35953
If it's really hard to spilt server dependency, consider use shadow and relocate as a short term solution? Just like Hadoop client solution https://issues.apache.org/jira/browse/HADOOP-11656

[2020-03-16 09:27] gaobinlong commented on #52786
Should we throw an illegal_argument_exception when max_docs is less than slices?

[2020-03-16 09:50] icalvete opened #53586 "Scripting error "dynamic method [org.joda.time.DateTime, toInstant/0] not found""
**Elasticsearch version** (`bin/elasticsearch --version`):
7.6.1

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk 13.0.2 2020-01-14

**OS version** (`uname -a` if on a Unix-like system):
Ubuntu 18.04.3 LTS

**Description of the problem including expected versus actual behavior**:

[code]

I read some info related.

https://github.com/elastic/elasticsearch/issues/35913
https:/

[2020-03-16 09:54] #48852 closed

[2020-03-16 10:00] davidkyle commented on #50358
It came back 😱

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=sles-15&&immutable/636/console

https://gradle-enterprise.elastic.co/s/l3ntz5zhjvxry/tests/ao2nxxbijves6-3ndcchqutszas

[code]

[2020-03-16 10:00] elasticmachine commented on #53578
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-03-16 10:01] elasticmachine commented on #53586
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-03-16 10:01] elasticmachine commented on #53536
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-03-16 10:18] davidkyle commented on #50358
Muted on master in 340fcd1

[2020-03-16 10:32] davidkyle opened #53589 "DiskDisruptionIT testGlobalCheckpointIsSafe Stackoverflow"
An actual stackoverflow! I haven't seen one of these in a while

[code]
Note this is a Windows failure

https://gradle-enterprise.elastic.co/s/mj6uglhev22i4/tests/kyv2y2z3r4v7m-enli6pteu2zb2?open-stacktraces=WzFd
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-windows-compatibility/os=windows-2019/498/console

Does not reproduce
[code]

Leaving the test unmuted as I've f

[2020-03-16 10:32] elasticmachine commented on #53589
Pinging @elastic/es-distributed (:Distributed/Distributed)

[2020-03-16 10:49] #43800 closed

[2020-03-16 10:55] #53486 closed

[2020-03-16 11:14] davidkyle opened #53594 "TransportTasksActionTests testRunningTasksCount Failure"
[code]

https://gradle-enterprise.elastic.co/s/epykhvonxr2xw
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=opensuse-15-1&&immutable/633/console

[code]

Leaving unmuted as this is the only failure in the last 30 days and the test obviously needs extra logging to find out exactly which tasks were running.