[2020-05-20 08:31] martijnvg commented on #53100
Yes, but this isn't a data stream feature. Elasticsearch relies on the `can_match` search phase to filter out shards and indices that are never going to match with a date filter in a query. This is something that Elasticsearch already makes use of today in queries on a single index or multiple indices.

The idea currently is that updates and deletes are allowed if executed on a backing index direc

[2020-05-20 10:50] lucabelluccini opened #56987 "[DOC] Default gap_policy in moving_avg and moving_fn pipeline aggregation is not correct"
The documentation specifies the `gap_policy` in `moving_avg` defaults to `insert_zeros`, while it defaults to `skip`.

The documentation doesn't mention of the existence of `gap_policy` in `moving_fn` (and it defaults to `skip`).

The documentation doesn't list the possible values for `gap_policy`.

**Affected pages - Moving avg**:
- https://www.elastic.co/guide/en/elasticsearch/reference/5.6/sear

[2020-05-20 10:51] elasticmachine commented on #56987
Pinging @elastic/es-docs (>docs)

[2020-05-20 11:57] elasticmachine commented on #56987
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-05-20 11:59] jpountz commented on #56828
I wonder the same as Mayya, maybe we could have a good tie breaker by default that wouldn't require to expose a virtual field? Index UUID and shard ID are the same on all documents of a shard, so Lucene's default tie-breaker (docID) would do the right thing, so maybe we would only have to change how hits are merged on the coordinating node and we could provide consistent ordering with negligible o

[2020-05-20 12:06] jimczi commented on #56828
I agree that it would be nice to add the tiebreaker automatically but it needs to be materialized in the `sort` values of the response. This is useful only for `search_after` queries so we rely on users to provide this value when they paginate.

[2020-05-20 12:16] #56676 closed

[2020-05-20 12:48] jpountz opened #56992 "Could we shrink multiple indices together?"
`_shrink` currently allows merging multiple shards of the same index together. Could we extend `_shrink` to also support merging multiple indices together? This obviously comes with additional requirements, such as requiring the same creation version, similar mappings, no overlap of `_id`s, etc.

The use-case I have in mind is the new indexing strategy that uses separate indices per dataset. Rolli

[2020-05-20 12:48] elasticmachine commented on #56992
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-05-20 13:12] telendt opened #56994 "Enable analyze to users without manage privilege"
I tried to use [analyze API](https://www.elastic.co/guide/en/elasticsearch/reference/7.7/indices-analyze.html) in my app that uses read-only user credentials and noticed missing privileges error. I looked into [privileges documentation](https://www.elastic.co/guide/en/elasticsearch/reference/7.7/security-privileges.html#privileges-list-indices) and to my surprise found that I need my user to have

[2020-05-20 13:21] droberts195 commented on #51391
Although we worked around this in a way that worked for the ML UI, #56994 is a case of a user suffering from the same problem.

[2020-05-20 13:24] sethpayne opened #56996 "Identify & document differences between EQL ES and EQL endpoint queries"
Our goal is to minimize differences between querying data in ES and data on endpoints via EQL.

Per the EQL on ES ticket:

However, given the inherent differences between centrally storing data in ES vs accessing data on disparate endpoints, some functionality will differ.

This ticket is to identify and document all differences between writing queries for ES and writing EQL for endpoints.

[2020-05-20 13:24] elasticmachine commented on #56996
Pinging @elastic/es-docs (>docs)

[2020-05-20 13:24] elasticmachine commented on #56996
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-05-20 13:30] jrodewig commented on #56996
Some of these differences are already documented here:

https://www.elastic.co/guide/en/elasticsearch/reference/master/eql-limitations.html

We should continue using this page to document differences. However, I'm waiting on adding final documentation for some differences until implementation is settled (e.g., multi-value fields: https://github.com/elastic/elasticsearch/issues/54970).

[2020-05-20 13:41] sethpayne commented on #56996
Thanks @jrodewig

@paulewing will have more insight here.  But one thing I'm concerned about is the UX when users move between querying endpoints and ES within SIEM.  Users should be able to easily understand the query functionality differences between ES and endpoint queries.

[2020-05-20 14:28] breskeby opened #56998 "Gradle deprecation warning of compileOnly not being directly resolved is removed"
While running e.g. `./gradlew precommit` we see about 120 deprecation warnings of

`The compileOnly configuration has been deprecated for resolution.`

From investigating the build I found three places that cause a direct resolution of this configuration:

1. `ThirdPartyAuditTask` (see https://github.com/elastic/elasticsearch/blob/master/buildSrc/src/main/java/org/elasticsearch/gradle/precommit/Th

[2020-05-20 14:29] elasticmachine commented on #56998
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-05-20 14:44] #56816 closed

[2020-05-20 14:46] tbrooks8 commented on #52029
I believe this has been fixed by #56654. Closing.

[2020-05-20 14:46] #52029 closed

[2020-05-20 15:16] mark-vieira commented on #56998
@rjernst noticed this recently. We should just use runtime classpath here since it already excludes compile only dependencies.

[2020-05-20 15:18] dakrone commented on #56609
I'm going to re-open this, even though we have consensus, as a TODO for actually making the change (the majority of which is going to be in our documentation)

[2020-05-20 15:52] rjernst commented on #56998
I think this is historical. We used the concept of compileOnly in the ES build before it existed in gradle. When we switched to using gradle's compileOnly, we simply swapped out the old configuration for gradle's, without auditing whether or not it was necessary anymore.

+1 to remove

[2020-05-20 16:04] martijnvg opened #57004 "Prevent removing a template when it is used by a data stream"
This validation is required in order to avoid that a data stream gets rolled over and then fail, because there isn't a matching template with a data stream template snippet.

[2020-05-20 16:04] elasticmachine commented on #57004
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-05-20 16:10] #56882 closed

[2020-05-20 16:17] rjernst commented on #56998
While working on #56926, I've realized there is another important side effect of compileOnly in the dependencyLicenses case. For modules/plugins, we put the server project (ie the core elasticsearch jar) in compileOnly, and use this as "provided" (in fact that was the old configuration we had before compileOnly). When we subtract it out of runtime for dependencyLicenses, this is to not have to rep

[2020-05-20 16:46] sethpayne opened #57005 "SQL: Improve error message for field comparisons in WHERE clause"
When issuing the following query:

`select foo from bar where bar.field1 = bar.field2`

The following error is produced:

`"Line 1:42: Comparisons against variables are not (currently) supported; offender [page_count2] in [==]"`

The reference to variables is confusing because the SQL query is comparing *fields*.  The error should read something like:

` "Line 1:42: Comparisons against fields is n

[2020-05-20 16:46] elasticmachine commented on #57005
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-05-20 17:03] breskeby commented on #56998
@rjernst do you know where in the build these `compileOnly` dependencies are wired into the `runtimeClasspath`?

[2020-05-20 17:22] awick opened #57006 "7.7.0 bug with _search and idle shards"
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 7.7.0, Build: default/tar/81a1e9eda8e6183f5237786246f6dced26a10eaf/2020-05-12T02:01:37.602180Z, JVM: 14

**Plugins installed**: [] None

**JVM version** (`java -version`): Included

**OS version** (`uname -a` if on a Unix-like system): Linux moloches01 3.10.0-1062.12.1.el7.YAHOO.20200205.52.x86_64 #1 SMP Wed Feb 5 22:45:50 UTC 202

[2020-05-20 17:56] rjernst commented on #56998
They are not wired into the compileOnly classpath. Let me give a more concrete example as to what I see happening.

plugins/repository-s3 has a dependency on aws, which transitively depends on jackson. Currently we explicitly add this jackson dep since we don't use transitive deps, but elasticsearch server depends on jackson as well. Anything that server depends on is automatically provided to all

[2020-05-20 18:33] jethr0null commented on #56000
To add a bit of context here, this would greatly improve the Ingest Nodes Pipeline UI that the team is currently working on. When displaying a list of processors within a pipeline visually, it becomes much more difficult to determine which processor is responsible for which changes. [Here is an example](https://github.com/elastic/elasticsearch-team-planning/issues/65#issuecomment-628688441) mockup

[2020-05-20 19:01] DaveCTurner opened #57010 "ReplicaShardAllocatorIT#testFullClusterRestartPerformNoopRecovery failed"
**Build scan**: https://gradle-enterprise.elastic.co/s/hdysqr5ca43ae

**Repro line**:

` ./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.gateway.ReplicaShardAllocatorIT.testFullClusterRestartPerformNoopRecovery" -Dtests.seed=4D289CA066996995 -Dtests.security.manager=true -Dtests.locale=en-MT -Dtests.timezone=Asia/Harbin -Dcompiler.java=14 -Druntime.java=11`

**Reproduces locally

[2020-05-20 19:01] elasticmachine commented on #57010
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-05-20 19:24] rjernst commented on #56998
Another note: I've found another issue related to this and extended plugins. Due to how we currently load SPI jars from extensible plugins, the plugins implementing SPI extensions get the extended plugin fully on their classpath. This means if they share any dependencies, we must remove those from the latter or we get jarhell. Currently removing compileOnly "fixes" this issue indirectly. One concr

[2020-05-20 19:31] dnhatn commented on #57006
@awick Thank you for reporting the issue. Can you share the search query and the mapping of index.

[2020-05-20 19:31] elasticmachine commented on #57006
Pinging @elastic/es-search (:Search/Search)

[2020-05-20 19:31] elasticmachine commented on #57006
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-05-20 19:32] original-brownbear commented on #57010
This reproduces pretty consistently for me with the given reproducer command as well => Looking into it :)

[2020-05-20 21:53] lejeczek opened #57018 "Centos 7 and - java.lang.NoClassDefFoundError: Could not initialize class com.sun.jna.Native"
**Elasticsearch version** (`bin/elasticsearch --version`):
[code]

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_252-b09)
OpenJDK 64-Bit Server VM (build 25.252-b09, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:

[2020-05-20 23:33] jtibshirani opened #57019 "Inconsistent formatting for date_nanos fields?"
The formatting behavior for `date_nanos` fields can be surprising. In particular, when retrieving `docvalue_fields`, using the format `strict_date_time` gives a different result than `strict_date_optional_time`.

An example:
[code]

The following search returns the date "2015-01-01T12:10:30.123456789Z":
[code]

While this returns "2015-01-01T12:10:30.123Z":
[code]

[2020-05-20 23:33] elasticmachine commented on #57019
Pinging @elastic/es-search (:Search/Mapping)

[2020-05-20 23:33] elasticmachine commented on #57019
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-05-21 03:40] chunpat opened #57020 "update to v7.7.0 , appear ThrowableError Class 'GuzzleHttp\Ring\Client\CurlHandler' not found"
**Elasticsearch version** (`bin/elasticsearch --version`):
elasticsearch-7.3.1

**Plugins installed**: []
analysis-ik

**JVM version** (`java -version`):
OpenJDK 64-Bit Server VM (build 25.222-b10, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux izwz9282qpiw7ga3p968czz 3.10.0-693.11.1.el7.x86_64 #1 SMP Mon Dec 4 23:52:40 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Descripti

[2020-05-21 04:52] Kasula11 commented on #46350
Is this issue is fixed or need to be worked on?

[2020-05-21 06:23] gaobinlong commented on #57019
This issue maybe come from the difference between `STRICT_DATE_PRINTER `and `STRICT_DATE_OPTIONAL_TIME_PRINTER `:
https://github.com/elastic/elasticsearch/blob/21f18e02c26a40140f5c8708bfa0cd52df0bf2e8/server/src/main/java/org/elasticsearch/common/time/DateFormatters.java#L593
https://github.com/elastic/elasticsearch/blob/21f18e02c26a40140f5c8708bfa0cd52df0bf2e8/server/src/main/java/org/elasticsear

[2020-05-21 06:30] #57020 closed

[2020-05-21 06:45] phlax opened #57022 "Unable to suppress DEBUG on o.e.a.ActionModule using -E flag"
**Elasticsearch version** (`bin/elasticsearch --version`):

`Version: 7.8.0-SNAPSHOT, Build: default/docker/10fb54e90ab82b271e78da60587c2275ad3e3d88/2020-05-20T20:22:08.133568Z, JVM: 14`

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

docker build `7.8.0-SNAPSHOT`

**Description of the problem including expected versus actual b

[2020-05-21 06:59] #54337 closed

[2020-05-21 07:45] DaveCTurner opened #57023 "Per-node rate limits for snapshots"
Today you can set a rate limit on a snapshot repository to prevent snapshot/restore operations from causing overload. However, in a hot/warm deployment the different tiers may have drastically different performance (for both disks and network) so a limit that makes sense for the faster hot nodes may be high enough to harm the slower warm nodes.

Possible ideas:

- for _restores_ I think it would b

[2020-05-21 07:45] elasticmachine commented on #57023
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-05-21 09:29] DaveCTurner opened #57026 "GoogleCloudStorageRepositoryClientYamlTestSuiteIT failed with "Socket closed""
**Build scan**:

https://gradle-enterprise.elastic.co/s/nbmefwlekigxu/console-log?task=:plugins:repository-gcs:qa:google-cloud-storage:largeBlobIntegTestRunner

**Repro line**:

`REPRODUCE WITH: ./gradlew ':plugins:repository-gcs:qa:google-cloud-storage:largeBlobIntegTestRunner' --tests "org.elasticsearch.repositories.gcs.GoogleCloudStorageRepositoryClientYamlTestSuiteIT.test {yaml=repository_gcs/

[2020-05-21 09:29] elasticmachine commented on #57026
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-05-21 09:29] sophiec20 commented on #56419
Please confirm if this mitigation is correct. Error seen when attempting to delete forecast job indicates it `needs to be either FAILED or FINISHED to be deleted`.

Provided there are no hanging processes or threads, the impact is forecast docs in the results index, which is undesirable especially for large forecasts.

Agree that force closing the anomaly detection job should also ensure forecast

[2020-05-21 10:01] costin commented on #56753
this requires a bit of thinking as they both rely on regex and supporting case-sensitivity means a new regex. Until the `wildcard` situation gets resolved, at least the infrastructure in the classes can be hooked up.

[2020-05-21 10:02] costin commented on #56749
It's worth considering whether we should still preserve the case sensitivity switch for `between` - iirc, its usage was not wide so maybe we could remove it altogether.

[2020-05-21 10:03] droberts195 commented on #56325
It's a bit misleading to say it's "not supported" today.  The semi-colon delimiter is not detected with fewer than 4 fields.

If you explicitly say the separator is semi-colon with any number of fields it works.

[code]

This file works fine without any hint:

[code]

The difference compared to commas is that you need a minimum of 4 fields for auto-detection.  For commas it's 2.

I am actually won

[2020-05-21 10:04] costin commented on #56754
Tagging @rw-access as well - not sure what's the best way forward. We could either end up with a different test suite so essentially there's one test for case sensitivity and another for the insensitive part. Or we can add dedicated tests inside the same test suite and based on a convention (such as test name or some sort of flag), some test will be skipped or picked up.

[2020-05-21 10:59] matriv commented on #54964
@Boda805 Since there is no response for some time, feel free to take it over if you want.

[2020-05-21 11:26] awick commented on #57006
_mapping
[code]

sample options as sent to old javascript api, notice we do use an alias of dstats -> dstats_v4
[code]

Sample response, 718 total while it should be ~1440
[code]

Here is a picture of how we noticed the problem. I hadn't viewed the page for at least 6 hours. Each line is a dstats query. The first 6 are messed up and the rest aren't. My assumption is only the first 6 are messed up

[2020-05-21 11:37] #56967 closed

[2020-05-21 12:01] markharwood opened #57033 "New API to debug and test Regex query expressions."
Regular expression queries are likely to become much more popular with the forthcoming introduction of the wildcard field.
[In Lucene we opened up access](https://issues.apache.org/jira/projects/LUCENE/issues/LUCENE-9371) to some of the internals to get detailed parser information and [in Kibana we have proposed](https://github.com/elastic/kibana/issues/66735) a UI to help users write and test reg

[2020-05-21 12:02] elasticmachine commented on #57033
Pinging @elastic/es-search (:Search/Search)

[2020-05-21 12:05] DaveCTurner opened #57034 "Confusion over codec parameter to ILM force-merge action"
In https://github.com/elastic/elasticsearch/pull/49974 we added support for changing to the `best_compression` codec in ILM's force-merge action, but it seems that the parameter in the REST API is actually `index_codec` and not `codec` as per the docs:

https://github.com/elastic/elasticsearch/blob/95a7eed9aa35f47b228e402508709b5bd6703cf4/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/co

[2020-05-21 12:05] elasticmachine commented on #57034
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-05-21 12:29] original-brownbear commented on #57023
+1 to having a global limit per node. If your disks can only handle X b/s then we should have the ability to throttle ES enough to not completely exhaust that via recoveries+snapshots.

Much less important:
I think it may still be nice to have a separate (more granular) setting for the snapshot repository interaction to override the global bulk limit. Snapshot repository interaction at times is su

[2020-05-21 12:31] droberts195 commented on #56419
The same thing also happens when a node running a forecast leaves the cluster for any reason.  (Power failure, bug, planned upgrade - any reason.)

We should probably check for and clean up forecast statuses in the persistent task assignment.  When a job is getting assigned to a new node we know that any forecasts that were in progress on the old node have failed.

[2020-05-21 12:39] costin opened #57036 "EQL: consolidate response format"
A piece of feedback from the demo sessions on EQL was that having different response types for each query makes things difficult for consumers. That is, regardless of whether the consumer cares about the initial query, it has to have different types of parsing.

Please see #49634 on how we ended up with the current approach.

One thing to keep in mind is we should strive for extensibility - if we

[2020-05-21 12:39] elasticmachine commented on #57036
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-05-21 12:40] costin commented on #57036
Tagging @colings86 and @tsg in particular

[2020-05-21 13:08] rw-access commented on #56754
I added case sensitivity on/off flags to the Python TOML tests as part of the backport process. I just need to pull them into this repo. We may need to add more individual tests, but I think that should be sufficient for our testing. Unless there are other things I'm not anticipating

Here's an example of a test
https://github.com/endgameinc/eql/blob/master/eql/etc/test_queries.toml#L196

[2020-05-21 13:13] lockewritesdocs commented on #35180
Thanks for the context @debadair.

@DaveCTurner, the `cat` API documentation provides some information around [numeric formats](https://www.elastic.co/guide/en/elasticsearch/reference/master/cat.html#numeric-formats) and how to build a query for that datatype.

Both the [cat indices](https://www.elastic.co/guide/en/elasticsearch/reference/master/cat-indices.html#cat-indices-api-example) and [cat s

[2020-05-21 13:28] fbaligand commented on #56325
Thanks for this detailed answer and especially for the hint to specify explicitly the delimiter.
As you say, all roads lead to kibana issue you mentioned.
Hope it will be soon implemented :)

[2020-05-21 13:55] DaveCTurner commented on #35180
IMO we don't need more examples. I think this issue dates back to a time when we didn't list the query parameters at all in these docs (see, e.g. [how we described `GET _cat/indices` in 5.6](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/cat-indices.html)). Now that we've got a list of the parameters I think this issue is resolved, assuming of course we've verified that the docs are c

[2020-05-21 14:02] alpar-t commented on #34459
@mark-vieira where do we stand on the `AntTask` ?

[2020-05-21 14:37] Evgueni-Gordienko opened #57045 "Rest High Level client putMapping operation doesn't respect IndicesOptions.lenientExpandOpen()"
**Elasticsearch version** (`bin/elasticsearch --version`): the latest

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): Mas OS

**Description of the problem including expected versus actual behavior**:
When performing _putMapping_ operation via Rest High Level Client and setting indices option to _lenientExpandOpen_  an _ElasticsearchStatusException_ is

[2020-05-21 15:26] lockewritesdocs commented on #35180
Thanks for the context @DaveCTurner! I'm new to Elastic and still learning, so this type of information is really helpful.

Considering the API overhaul since this issue was created, can we consider this one closed?

[2020-05-21 16:22] benwtrent opened #57051 "Allow forecasts to be stopped before completion"
User's should be able to stop/kill running forecasts. There are times when forecasts can take awhile to complete. This could be due to any number of issues. But, we should allow users to stop a running forecast so they can attempt to re-run it with adjusted settings.

[2020-05-21 16:22] elasticmachine commented on #57051
Pinging @elastic/ml-core (:ml)

[2020-05-21 16:57] astefan opened #57052 "EQL: log (trace or debug) the ES query generated or expose it through API"
For debugging purposes or for better visibility (even from the regular user), we should somehow make available the query being generated against ES.

[2020-05-21 16:58] elasticmachine commented on #57052
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-05-21 17:14] mark-vieira commented on #34459
My preference would be to remove it, and refactor the two remaining subclasses to not rely on Ant.

[2020-05-21 17:58] original-brownbear commented on #57026
This fails on master as well (even after fixing the Gradle build to be able to run this test in isolation ... will open a PR for that shortly). Looks like something is broken about overriding the size of when we start a resumable upload. What's happening here is that a snapshot starts hanging perpetually without ever uploading a thing to the fixture:

[code]

... it is however able to properly mak

[2020-05-21 18:49] #56923 closed

[2020-05-21 20:52] #52103 closed

[2020-05-21 21:32] lasagar opened #57062 "Missing date field for a doc is impacting the relevancy."
"functions": [                         {                             "linear": {                                 "date": {                                     "origin": "now",                                     "offset": "60d",                                     "scale": "3590d",                                     "decay": 0.5                                 }                             }

[2020-05-21 22:05] jdconrad commented on #52103
This should be fixed by https://github.com/elastic/elasticsearch/pull/56831

[2020-05-21 23:36] jasonslater2000 opened #57069 "Date ingest processor, with non-UTC timezone event.timezone, breaks default behavior of date_index_name processor"
7.7.0

if filebeat includes add_locale processor w/ non UTC timezone, e.g. UTC-11 you get event.timezone = "UTC-11"

when the date processor of an ingest pipeline processes it, the resulting date will be something like "2020-05-13T11:01:03.000-11:00" (note: colon in timezone)

the default date format in date_index_name processor is yyyy-MM-dd'T'HH:mm:ss.SSSXX supports formats such as -0800 or Z (n

[2020-05-22 02:48] abprash commented on #53875
i am working on it for the past few days @oeddyo :)

[2020-05-22 02:57] ktetzlaff commented on #32434
Same problem here during processing of network performance data from routers as part of a network management system. This data contains counters (e.g. received octets) which are 64-bit unsigned values. It would be great if we could store them properly.

[2020-05-22 04:29] Kasula11 commented on #54964
Hi matriv, I am new to open source. Can I take this?.  Can you please tell me where to implement?

[2020-05-22 07:16] kkewwei commented on #57023
I think if we should add Segment Merge should also add disk-level limit. It's easy to

[2020-05-22 07:26] kkewwei commented on #57023
Not only at the node-level, I think it also should add limit at disk-level.

[2020-05-22 07:36] costin commented on #56996
The response format is relevant (see #57036).

[2020-05-22 08:00] kkewwei opened #57070 "Cluster sharhs rebalance should take into account that primary shards are evenly distributed among the dataNodes"
**Describe the feature**

When we wan to add some nodes to cluster, We use `index.routing.allocation.total_shards_per_node` to controll shards allocation. After reaching equilibrium, the primary shards are almost distributed on the new nodes, this is not a good phenomenon. there will be more pressure on the new nodes when indexing and recovery.

If we should add a new AllocationDecider to make dis

[2020-05-22 09:13] jim-barber-he commented on #52625
For this to work this file needs changing: https://github.com/elastic/elasticsearch/blob/master/distribution/src/bin/elasticsearch-env-from-file

When I try to use IAM Roles for Service accounts it currently errors with:
[code]
The token gets created with the following permissions:
[code]
By default this file has permission 600 and owned by root:root, but when this is set:
[code]
Then the group ow

[2020-05-22 10:42] Hakky54 commented on #53555
It looks like this issue can be closed as it already has been merged

[2020-05-22 13:48] matriv commented on #54964
@Boda805 Are you still interested in taking this?

[2020-05-22 15:40] octavioranieri opened #57076 "Elasticsearch SQL CLI does not work while using TERM=linux"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.7

**JVM version** (`java -version`):
openjdk version "1.8.0_242"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_242-b08)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.242-b08, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
It happens in all Linux based OS that `echo $TERM` equals to `linux`, reproduced in

[2020-05-22 17:08] Boda805 commented on #54964
@matriv Yes but I'm pretty busy for the next couple weeks, if @Kasula11 wants to take that's fine, I could still try to help out as well when I have time.

[2020-05-22 17:28] kovacsvx opened #57077 "Automate delete/recreate of indices"
One feature that is continually requested and explained
is that deleting and recreating an index is a better way
to delete all data in an index.

The user will not like this, because it forces one to:

1.  Take careful note of the index as it stands (including
field formatting that may have been created automatically,
and security).  It is quite likely that something will be missed.

2.  And then

[2020-05-22 17:50] kovacsvx commented on #57077
Sorry, my fingers were running faster than my mind.
DELETE //server:port/<index_name>/_truncate

[2020-05-22 18:08] alezzix opened #57079 "Spring boot with ElasticsearchRepository and RestHighLevelClient parameters query"
I'm using Spring boot with ElasticsearchRepository and RestHighLevelClient. I have this query in mt repository class:

public interface BillingCycleRepository extends ElasticsearchRepository {

List<BillingCycle> findByUserIdOrderByStartDateDesc(String userId);
}

In my console, I can see this:

org.elasticsearch.client.RestClient : request [POST http://localhost:9200/dev-billing-cycle/_doc/_searc

[2020-05-22 20:49] dnhatn commented on #57077
You can achieve this with a [delete by query.](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-delete-by-query.html#docs-delete-by-query-api-example) Thanks very much for your interest in Elasticsearch.  I hope you don't mind that I close this.

[2020-05-22 20:49] #57077 closed

[2020-05-22 20:49] elasticmachine commented on #57077
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-05-22 20:56] elasticmachine commented on #57045
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-05-22 21:07] elasticmachine commented on #57076
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-05-23 12:42] AakashMittal commented on #42811
We have a ecommerce store where use case of combining score of two factors:-

1. lucene score of text matching/bool query matching
2. Other factors like 'newnesss' , numerical factors like 'number of images' of products ,'number. of words in name/decription' and some other numerical factors.

Right now they are used in a very clean manner using 'function_score query'. Based on the discussion above

[2020-05-23 15:01] Priya-Raut commented on #48645
Is this issue still unassigned? Can I start working on it?

[2020-05-23 15:08] Priya-Raut commented on #47678
Is get grok patterns API still available to start working on it?

[2020-05-23 15:11] Priya-Raut commented on #46350
Is this issue still available?

[2020-05-23 15:40] jesinity commented on #47678
It is available if you want ti pick it

[2020-05-23 16:37] Priya-Raut commented on #47678
Thanks! I will start working on it then.

[2020-05-23 20:00] costin commented on #57076
Thanks for the detailed report - sounds like both 3.10 and 3.11 JLine versions are affected - we need to upgrade to at least 3.12.

[2020-05-23 20:02] costin commented on #57076
@bpintea Can you please take this and take care of any backports (assuming the branches rely on an affected JLine version)?

[2020-05-23 21:38] Pendu commented on #16642
This problem is not solved. The two tickets are referring to each other...

#16380 and #16642

[2020-05-24 05:06] parthpunkster commented on #42997
I have worked on this one wanted some help around verifying the change and on the process of raising a pull request.

[2020-05-24 05:29] parthpunkster commented on #42997
@jimczi I have attached the pull request. Can you please review it.

[2020-05-24 06:40] Happyfeet01 opened #57090 "[bool] failed to parse field"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.7.0

**Plugins installed**: []
readonlyrest 7.7.0
ingest-attachment

**JVM version** (`java -version`):
openjdk 11.0.7 2020-04-14
OpenJDK Runtime Environment (build 11.0.7+10-post-Ubuntu-2ubuntu218.04)
OpenJDK 64-Bit Server VM (build 11.0.7+10-post-Ubuntu-2ubuntu218.04, mixed mode, sharing)

**OS version** (`uname -a` if on a Unix-like s

[2020-05-24 08:31] Aketzu opened #57091 "Shard stuck in findSafeCommitPoint / Commit list must not empty"
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 7.7.0, Build: default/deb/81a1e9eda8e6183f5237786246f6dced26a10eaf/2020-05-12T02:01:37.602180Z, JVM: 14

**Plugins installed**: []

**JVM version** (`java -version`): (Elasticsearch bundled) openjdk 14 2020-03-17

**OS version** (`uname -a` if on a Unix-like system): Debian 9.12, Linux elastic-n1 4.9.0-12-amd64 1 SMP Debian 4.9.21

[2020-05-24 11:08] sakthivigneshkumar commented on #54962
Can I Contribute to fix this issue? Please let me know if it is open. This would be my first issue.

[2020-05-25 01:57] tvernum commented on #57090
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests. The discussion forums are better suited to these sor

[2020-05-25 01:57] #57090 closed

[2020-05-25 03:54] Happyfeet01 commented on #57090
Hello,

Thanks for your. I read that the app for Nextcloud is not compatible with elasticsearch 7.7.0. Its not a problem with elasticsearch.

Next time I write at the user forum.

[2020-05-25 04:43] Jie1-Hou commented on #55438
Hybirdfs has used FileSwitchDirectory of Lucene from elasticsearch 7. Easy to enhance Hybirdfs logic to support this feature, made a little modification on my own branch as a sample: https://github.com/Jie1-Hou/elasticsearch/commit/ba2a9b3434c45aa4dc4a3bfd741433bf5bfcd712

[2020-05-25 05:01] Priya-Raut commented on #47678
Hi,
I am trying to contribute to elasticsearch for the first time. I am not able to run the code yet.
After following instructions from [CONTRIBUTING.md](https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md#contributing-to-the-elasticsearch-codebase),
1. JAVA_HOME is set to JDK 14
2. The project is imported in Intellij 2020.1
3. Docker is not set up yet
4. Ran the command ./gradlew

[2020-05-25 05:12] tvernum commented on #47678
What does "forever" mean exactly?
Elasticsearch is big, and it takes a fair amount of time to compile, but it should not take _hours_ on modern hardware.

Is the build running, but slowly? Or has it stalled completely (and if so, where)?

[2020-05-25 05:32] Priya-Raut commented on #47678
Right! So, It has been running for about 2 hours now.

It has stalled at this line
[2020-05-25T09:08:20,481][INFO ][o.e.x.i.a.TransportPutLifecycleAction] [runTask-0] adding index lifecycle policy [ml-size-based-ilm-policy]

Should I put the log file here?

[2020-05-25 05:51] tvernum commented on #47678
Aha! It's not actually stalled, it's running and waiting for you to do stuff.

I'll open an issue to clarify the CONTRIBUTING instructions - it's definitely not clear from that doc or from the build output that it's at the point where you can actually connect.

At this point you can just connect via curl (in a different terminal session) with
[code]

[2020-05-25 05:56] tvernum opened #57097 "CONTRIBUTING.md doesn't explain when :run is done"
See https://github.com/elastic/elasticsearch/issues/47678#issuecomment-633376927

The contributing guide says:

But, since `:run` never terminates, a new contributor may not realise that this task will eventually hit a point when ES is now _running_ and is ready for input (the `curl` step).

It would be good to update that doc with a little more explanation so that it's clear what to expect and ho

[2020-05-25 05:56] elasticmachine commented on #57097
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-05-25 05:56] elasticmachine commented on #57097
Pinging @elastic/es-docs (>docs)

[2020-05-25 05:57] Priya-Raut commented on #47678
@tvernum Thanks a lot! It means I was waiting for nothing ><
I got the response! yay!
{
  "name" : "runTask-0",
  "cluster_name" : "runTask",
  "cluster_uuid" : "8FnkV_YLSxmkhxB0yyVYBw",
  "version" : {
    "number" : "8.0.0-SNAPSHOT",
    "build_flavor" : "default",
    "build_type" : "tar",
    "build_hash" : "2a8b5787466c1e2e478c266db76bd2fba580c1ce",
    "build_date" : "2020-05-25T05:37:19.699

[2020-05-25 06:49] Kasula11 commented on #54964
Thanks. When I am trying to import project this project as existing gradle project. then it is showing me error.

Caused by: org.gradle.api.GradleException: At least Java 11 is required to build elasticsearch gradle tools
	at build_6mm40yswivqsuj1oqx64fwsng.run(C:\Users\karthik\elasticsearch\buildSrc\build.gradle:66)
	at org.gradle.groovy.scripts.internal.DefaultScriptRunnerFactory$ScriptRunnerImp

[2020-05-25 07:34] ywelsch commented on #55438
These ideas have been discussed before (a variant of this was to store the translog in a location separate to the index). Just using `FileSwitchDirectory` is not sufficient here, that's the easy part. This would have to be integrated with Elasticsearch's shard allocation and management logic (e.g. taking disk space usage of the different parts of the shard into account for shard balancing, or dele

[2020-05-25 08:11] #57026 closed

[2020-05-25 08:30] przemekwitek opened #57102 "DeleteExpiredDataIT.testDeleteExpiredDataWithStandardThrottle test fails for 5 days"
**Build scan**:

[7.7.1] https://gradle-enterprise.elastic.co/s/lre3ofg54upw2
[6.8.10] https://gradle-enterprise.elastic.co/s/eudojx2jyn3rm
[6.8.10] https://gradle-enterprise.elastic.co/s/f6pgvpd4zbxxa
[7.7.1] https://gradle-enterprise.elastic.co/s/buujiz2gy4qoq
https://gradle-enterprise.elastic.co/s/xddi3rkcdnyne

**Repro line**:

[code]

**Reproduces locally?**:

No

**Applicable branches**:

7.

[2020-05-25 08:30] elasticmachine commented on #57102
Pinging @elastic/ml-core (:ml)

[2020-05-25 08:37] #49742 closed

[2020-05-25 08:40] bczifra opened #57103 "Document using docvalue_fields to retrieve `_size` field from mapper size plugin"
The mapper size plugin [documentation](https://www.elastic.co/guide/en/elasticsearch/plugins/current/mapper-size-usage.html#mapper-size-usage) notes that the `_size` field can be retrieved using `script_fields` like so:
[code]
An alternative is to use `docvalue_fields` like so:
[code]
This second option is helpful for situations where users may have dynamic scripting disabled. I'm not sure, but it

[2020-05-25 08:59] cbuescher commented on #57062
Have you tried the date datatypes [`null_value`](https://www.elastic.co/guide/en/elasticsearch/reference/current/date.html) parameter yet? If that doesn't work I'd like to refer you to our support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and think it's more likely this is a question than a bug report. I'm closing this as a

[2020-05-25 08:59] #57062 closed

[2020-05-25 09:02] tanobi92 opened #57106 "How to filter nested object in Elasticsearch 7.5?"
I have a mapping:
[code]

I filter with three condition:
 - "_logType" is "crawler".
 - "_createdAt" on "2020-05-23".
 - Size of "resp" = 0.

I am trying to filter with query:
[code]
It return error:
[code]
If I use script "doc.containsKey('resp') && doc['resp'].size() > 0" then It will return hits length = 0.
Help me. Thanks!

[2020-05-25 09:13] eddycharly commented on #32595
@jimczi @jtibshirani do you have a solution to `path_match` only on leaves ?
I hit the same issue, trying to index everything as keyword for all leaves under a top level property `context.*`.

Thanks

[2020-05-25 09:25] elasticmachine commented on #57091
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-05-25 09:26] cbuescher commented on #57106
Hi @tanobi92! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2020-05-25 09:26] #57106 closed

[2020-05-25 09:37] ywelsch commented on #57091
Can you provide the full logs somewhere? The log entries you showed only cover the failed peer recovery (i.e. recovering a replica failed) where your cluster was yellow, not red.

Can you also provide some details about the filesystem that you're using? It sounds like some files just got wiped on disk (perhaps by an external process?) Further, it would be interesting to get a directory listing fro

[2020-05-25 09:43] elasticmachine commented on #57103
Pinging @elastic/es-search (:Search/Mapping)

[2020-05-25 09:43] elasticmachine commented on #57103
Pinging @elastic/es-docs (>docs)

[2020-05-25 10:21] webemat commented on #42811
We have a solution in place which is very similar to that of AakashMittal.

We've got two crucial points:

1. The Score of the document gets multiplied by the factors like 'newness', individual boost score, etc. (boostMode = MULTIPLY). The factors themselves get combined by weighted average (scoreMode = AVG)
At first we had these factors added to the score, but the impact on the final score was va

[2020-05-25 10:40] Priya-Raut commented on #47678
I have started working on the get grok patterns (GET /_ingest/processor/grok) API call to include it in the client.
Here are a few queries from me:

1. Just to confirm is this the API we need include in the client?
https://www.elastic.co/guide/en/elasticsearch/reference/current/grok-processor.html#grok-processor-rest-get

2. I am planning to put the code in [RestHighLevelClient.java](https://githu

[2020-05-25 10:42] JaydenHan1106 commented on #23063
if RAM is large, the dentry will be very big. In my case, the dentry is 50G, so when system free slab cache, it caused stop the world. Is there way to avoid this problem? @azrle

[2020-05-25 11:22] bpintea commented on #57076
Apparently the fix in JLine for the reported issue introduced [another regression](https://github.com/jline/jline3/issues/451), so `3.13.1` would be advisable, but I'm attempting an update to latest stable `3.14.1`.

@octavioranieri, thanks for the report.
Simply swapping the terminal type won't reproduce it for me and neither executing in a native `linux` terminal. The [JLine fix](https://github.

[2020-05-25 11:46] przemekwitek opened #57115 "GoogleCloudStorageRepositoryClientYamlTestSuiteIT failing"
**Build scan**:

[6.8.10] https://gradle-enterprise.elastic.co/s/4rvjvn5vxbs2c
https://gradle-enterprise.elastic.co/s/bp66r3rbnidcm

**Repro line**:

[code]

**Reproduces locally?**:

No

**Applicable branches**:

7.7

**Failure history**:

Not sure if this is the exact same failure, but there were occasional failures of `GoogleCloudStorageRepositoryClientYamlTestSuiteIT` for at least a few months

[2020-05-25 11:46] elasticmachine commented on #57115
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-05-25 12:20] original-brownbear commented on #57115
This should be fixed by #57073 ... will backport the fix further to fix this

[2020-05-25 13:21] Kidlike commented on #25152
Isn't this a formal description of the ES api? or am I missing something?
https://github.com/elastic/elasticsearch/tree/master/rest-api-spec

@elasticsearch guys, any updates on this? Are we going to get an OpenAPI spec? :star_struck:

[2020-05-25 13:35] #56746 closed

[2020-05-25 13:38] cbuescher commented on #57045
@Evgueni-Gordienko thanks for raising this, good catch and spot-on analysis. I opened a PR to fix this in the next 7.7 patch version.

[2020-05-25 13:49] przemekwitek opened #57119 "MixedClusterClientYamlTestSuiteIT "Test cat indices with invalid health parameter" failing"
**Build scan**:

Build | 20200525054934-C910E98C
Log | https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora-29&&immutable/775/console

Build Scans
[7.7.1] https://gradle-enterprise.elastic.co/s/h5kjsvvdjosue
[7.9.0] https://gradle-enterprise.elastic.co/s/cxgh45dkzkqjo
[7.8.0] https://gradle-enterprise.elastic.co/s/bouk5updx6j26
[7.7.1] https://

[2020-05-25 14:43] Boda805 commented on #54964
@Kasula11 use Java 14 I had the same problem at first. I believe it's in the documentation somewhere.

[2020-05-25 14:49] Evgueni-Gordienko commented on #57045
@cbuescher sure, thanks for scheduling the fix.

[2020-05-25 15:03] danhermann commented on #57119
I believe this should be resolved by the backport here: https://github.com/elastic/elasticsearch/pull/57120

[2020-05-25 17:35] DaveCTurner commented on #57070
Closing this as a duplicate of #41543.

[2020-05-25 17:35] #57070 closed

[2020-05-25 17:55] fbaligand commented on #41634
@sopascampeao @jguay @rjernst
Any news on this issue?
We are very interested by this feature in my company, to be able to generate CSV files as attachments in emails sent by Watcher API.
The aim is then to open CSV files with Microsoft Excel. And when your locale is "French", Microsoft Excel automatically uses ";" as column separator in CSV files.
So without this feature, when we open a CSV file w

[2020-05-25 19:51] bpintea opened #57125 "SQL: use of agg function in HAVING with no grouping emits wrong error message"
A(n incorrect) query like `SELECT salary FROM employees HAVING salary = count(1)` will generate an error message, but a misleading one:
`"Found 1 problem\nline 2:46: Cannot use WHERE filtering on aggregate function [count(1)], use HAVING instead"`.

[2020-05-25 19:51] elasticmachine commented on #57125
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-05-25 20:13] henrikno commented on #56739
I have a case which is very similar (`Values less than -1 bytes are not supported: -1282646016b`), however the stack trace shows it's during getting swap (`org.elasticsearch.monitor.os.OsStats$Swap.getFree`) instead of Mem.getUsed.
Also on 7.7.0 (openjdk version "14" 2020-03-17)
It looks like the fix only applied to Mem.getUsed, but probably needs to be applied here too.

Full stack trace here:
ht

[2020-05-25 20:23] danhermann commented on #56739
@henrikno, thanks for the report. We'll look into that case as well. We know that some JVMs can return OS memory as zero under certain circumstances, so if we can establish that that can happen for swap as well, we can apply the same fix.

[2020-05-25 20:37] awick commented on #57006
To make sure this wasn't an issue with having start life as a 6.8 cluster, I tried with another cluster I'm running that started life as a 7.6.2, and having the same issues.  This new cluster is also fairly lightly loaded so I don't think it is a load issue either.
[code]

[2020-05-25 20:55] andrew-moldovan commented on #56739
As an addition to what @henrikno wrote, "restarting" the affected node doesn't seem to have fixed anything in this case, unlike the original bug report.

[2020-05-25 21:04] probakowski opened #57127 "Add snapshot/restore support for data streams"
It should be possible to use snapshot and restore features for data streams. After team discussion we came to the following solution for this:
- Names for both data stream and indices will be passed in indices fields (as in other APIs)
- When user requests to snapshot data stream we save data stream metadata and all backing indices
- When user requests to snapshot backing index we only save that i

[2020-05-25 21:04] elasticmachine commented on #57127
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-05-25 21:55] dnhatn commented on #57006
@awick Is it also an issue on 7.6.2?

[2020-05-25 22:17] awick commented on #57006
No, there is only a problem with 7.7.0, 7.6.2 works fine.  My comment above was only showing that an index that starts out as 7.6.2 -> 7.7.0 still has the same issue. My original bug report was for an index that started as 6.8.2 and gone thru multiple versions before reaching 7.7.0.

[2020-05-25 22:26] dnhatn commented on #57006
Thanks @awick. That's helpful. I will take a look. I think this issue was introduced in https://github.com/elastic/elasticsearch/issues/49601 (/cc @jimczi).

[2020-05-26 02:34] bcbee commented on #56812
Filed ES support case 00549044 for similar issue with `must`/`should`/`must_not`/`filter`. Very easy fix in our app but broke some stuff in production.

[2020-05-26 03:43] godlockin opened #57128 "date_index_name pipeline week calc issue"
ES: 7.6
OS: Mac/Centos7

issue describe:
I need to auto-create indices weekly, so i take the date_index_name pipeline with index template to do that, but I found the week number calc seems to be different in [_ingest/pipeline/_simulate] with the data post directly.

the reproduce steps and related config as follow:
1. post the pipelines to do set the timestamp and do index name calc
2. post the te

[2020-05-26 06:43] jkakavas opened #57132 "Consistent errors for KeyStoreWrapper decryption with any security provider"
As identified in https://github.com/elastic/elasticsearch/pull/57050#issuecomment-633257786 , when using the BouncyCastle FIPS security provider, the decryption with a wrong password fails in non predictable ways. Sometimes the `CipherInputStream` doesn't throw an `AEADBadTagException` as expected but `readFully` fails to read the stream fully and thus we fail because of these unconsumed stream co

[2020-05-26 06:43] elasticmachine commented on #57132
Pinging @elastic/es-core-infra (:Core/Infra/Settings)

[2020-05-26 06:43] elasticmachine commented on #57132
Pinging @elastic/es-security (:Security/Security)

[2020-05-26 07:25] jimczi commented on #57006
The issue was introduced with https://github.com/elastic/elasticsearch/pull/53873, which sets the `pre_filter_shard_size` to 1 if the primary sort is on a field. This should be fixed by https://github.com/elastic/elasticsearch/pull/55428 but you can explicitly set  `pre_filter_shard_size` to a large value in the meantime as a workaround before the fix is released.

[2020-05-26 07:40] Jie1-Hou commented on #55438
Thanks ywelsch, also confirmed FileSwitchDirectory usage had been removed from elasticsearch 7.3 since issue LUCENE-8835, which doesn't support both directories point to the same underlying FS directory, it seems this request won't trigger this issue.

[2020-05-26 07:45] Kasula11 commented on #54964
@matriv  I need to know whether my understanding is correct for regarding implementation of to_char() function. For example if i am going to implement to_char function for converting time stamp to string than the arguments that are passed to to_char function are timestamp and pattern which are of Expression Type.

Using DATETIME_FORMAT(DateTimeFormat class) I am going to getting the Desired format

[2020-05-26 08:15] #57005 closed

[2020-05-26 08:16] #57076 closed

[2020-05-26 10:00] markharwood commented on #55701
Fixed in https://github.com/elastic/elasticsearch/commit/e7c4b3151505b72cd22671b6c09b5f76fab1fc17

[2020-05-26 10:01] #55701 closed

[2020-05-26 10:54] ywelsch commented on #57091
We've identified the bug here, which looks to affect indices that were created in an ES version before 6.2. These indices can under certain conditions fail to be opened up in ES 7.7.0. We're working on a fix.

[2020-05-26 11:03] markharwood commented on #57119
@danhermann  I think I just hit this same failure in a 7.x PR build which includes #57120

[2020-05-26 11:14] #54725 closed

[2020-05-26 12:00] jpountz opened #57142 "Kuromoji and Nori slowdown"
Dictionary-based analyzers have been much slower since Lucene 8.4 / Elasticsearch 7.6 due to a refactoring of FSTs. This problem is already fixed via https://issues.apache.org/jira/browse/LUCENE-9286 which is expected to be released in Lucene 8.6/Elasticsearch 7.8, I'm opening this issue for tracking purposes.

[2020-05-26 12:00] elasticmachine commented on #57142
Pinging @elastic/es-search (:Search/Analysis)

[2020-05-26 12:00] #57142 closed

[2020-05-26 12:10] danhermann commented on #57119
Thanks, @markharwood. I will look into that one as well.

[2020-05-26 12:18] markharwood commented on #57119
Thanks. My PR build failure is [here](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request+default-distro/24461/) in case you need it.

[2020-05-26 13:14] #56799 closed

[2020-05-26 13:54] danhermann commented on #57119
I backported this fix to 7.7.1 which should address the failures in the mixed cluster tests.

[2020-05-26 14:06] wuyu8995861 opened #57149 "function_score +agg"
You bigwigs, now we have a requirement, first according to the enterprise name as the main query, and then according to the enterprise ID grouping, and then custom ranking, the Function_score of ES does not seem to support?

POST demo/demo/_search
{
    "query": {
        "function_score": {
              "query": {
                "term": {
                  "name": "zhangsan"
                }

[2020-05-26 14:23] #56812 closed

[2020-05-26 14:46] dakrone commented on #53555
Yep, thanks @Hakky54, closing this.

[2020-05-26 14:46] #53555 closed

[2020-05-26 15:21] cbuescher opened #57154 "Make `bool` query parsing stricter"
A recent [internal refactoring](52880) or our bool query parsing logic accidentally broke some edge case behaviour around ignoring `null` values
for several parameters like `minimum_should_match` or `must`, `must_not`, `should` or  `filter` clauses were up until 7.7 we accepted queries like:
[code]
and ignored the `null` part. Although this usage seems to be rare, it lead to some [issues](https://

[2020-05-26 15:21] elasticmachine commented on #57154
Pinging @elastic/es-search (:Search/Search)

[2020-05-26 15:27] bpintea commented on #56474
Redacting the passwords out of the exception messages can be tricky. The above provided example is raised in two cases:
* the scheme isn't an HTTP one;
* the URI can't be parsed (by `java.net.URI`).

While in the former case - and other few cases, like invalid property name or value - we could safely redact out the credentials

But in the latter - and in general, as there are 3-4 hot spots where w

[2020-05-26 15:36] bpintea commented on #56475
@astefan, just to make sure I understand:
* the provided example should fail;
* `jdbc:es://localhost:9200/?ssl=5#` (or `jdbc:es://localhost:9200/?ssl=5#foo`) works fine;
* generally, if `#` needs to be used for one of the properties, it should be provided as escaped (`%23`; ex: `?user=EndsIn%23&password=bar` for a username of `EndsIn#`).

Assuming the above are true, which escaping do you propose

[2020-05-26 15:56] lockewritesdocs commented on #6352
I did some limited testing with the following variables in `elasticsearch.yml`:
[code]
If I include brackets around the variables `[]` like in an array, Elasticsearch throws an error and fails to start. Entering the variables without the brackets (as shown), I then ran:
[code]
I then started Elasticsearch, which started normally. My takeaway is that brackets are not required when passing multiple

[2020-05-26 16:08] afharo commented on #48878
Hi! Just popping over to add a use case. In our telemetry team, we usually run reports based on versions: i.e.: I want to know X ratio for all `7.6+` clusters.

We currently use an analyzer like:

[code]

And our version field has the following mappings:
[code]

As you might expect, the field is ultimately analysed as a `keyword`, so a query like the one below (I want to bring anything with `versi

[2020-05-26 16:13] jimczi commented on #57006
We've decided to backport the [fix](https://github.com/elastic/elasticsearch/pull/55428) for this bug in `7.7.1` so we can close the issue now. Thanks for reporting @awick.

[2020-05-26 16:13] #57006 closed

[2020-05-26 16:38] gperrego commented on #40803
We are having the same issue, we can work around this using the API but thats an issue.  We are on 7.7.

[2020-05-26 16:44] bpintea commented on #56474
@nikoncode, many thanks for the offer. I will take over this issue.

[2020-05-26 17:28] jakelandis opened #57164 "test failure: org.elasticsearch.xpack.analytics.normalize.NormalizeAggregatorTests.testTermsAggParent"
**Build scan**:

https://gradle-enterprise.elastic.co/s/zb66vt4jdhzgk

**Repro line**:

[code]
**Reproduces locally?**:

Yes.

**Applicable branches**:

7.x

**Failure history**:

Recently added feature: https://github.com/elastic/elasticsearch/pull/56399 cc: @talevy

**Failure excerpt**:

[code]

[2020-05-26 17:28] elasticmachine commented on #57164
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-05-26 17:30] talevy commented on #57164
what in the world. I'll investigate. thanks @jakelandis

[2020-05-26 17:37] lockewritesdocs commented on #35180
I double-checked the command options for these commands, and I agree that this issue is resolved. I'll mark it as closed.

[2020-05-26 17:37] #35180 closed

[2020-05-26 17:52] mark-vieira opened #57168 "[CI] DateHistogramAggregatorTests.testAsSubAgg failing"
**Build scan**:
**Master**: https://gradle-enterprise.elastic.co/s/jn4odc7uka7xe/tests/:server:test/org.elasticsearch.search.aggregations.bucket.histogram.DateHistogramAggregatorTests/testAsSubAgg#1
**7.x**: https://gradle-enterprise.elastic.co/s/p6w2gne7bvoja/tests/:server:test/org.elasticsearch.search.aggregations.bucket.histogram.DateHistogramAggregatorTests/testAsSubAgg#1

**Repro line**:
[cod

[2020-05-26 17:52] elasticmachine commented on #57168
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-05-26 17:57] mark-vieira commented on #57168
I've muted this test in both `master` and `7.x` since it's reproducing.

[2020-05-26 18:07] jtibshirani commented on #32595
@eddycharly in this issue we only documented the existing behavior, but didn't make plans to change or enhance the behavior. Would you be able to file a new 'enhancement request' issue? You could describe your use case, including an example of your mappings.

[2020-05-26 18:12] nik9000 commented on #57168
I saw this this weekend while I was playing with something only vaguely related. I'll push a fix.

[2020-05-26 18:35] polyfractal commented on #57168
These generally occur because we're calling Lucene's `newSearcher()` instead of our own `AggregatorTestCase#newIndexSearcher()`.  Not sure what changed to make it start failing but that's almost certainly the cause.

I don't know enough to know if we should blacklist that method from Lucene, but it'd be nice if we could...

[2020-05-26 18:38] rjernst commented on #56998
Yes and no. While that seems like it would solve the immediate issue, it still has the problem that when we switch back to transitive dependencies, we would have no mechanism to remove provided dependencies from the transitive dependencies.

[2020-05-26 18:47] eddycharly commented on #32595
@jtibshirani i found a possible solution that seems to work. Just wanted to know if there was a valid approach to implement the use case described here.

[2020-05-26 18:49] nik9000 commented on #57168
huh! It looks like `AggregatorTestCase#testCase` was using `newSearcher`. I'll swap it out.

[2020-05-26 19:00] #56419 closed

[2020-05-26 19:05] #57168 closed

[2020-05-26 19:05] nik9000 commented on #57168
I pushed https://github.com/elastic/elasticsearch/commit/60f91d86407141b1728c7b86395caa22dffad20c with the fix @polyfractal talked about.

[2020-05-26 19:13] jtibshirani commented on #32595
Got it. To clarify, currently there's no dedicated way to ensure `path_match` only matches leaves.

[2020-05-26 19:35] eddycharly commented on #32595
The solution that seems to work:
[code]

Basically if it matches an object, it keeps the object (this is not a leaf node), else it uses a keyword (for leaf nodes).

What do you think ? Are there some cases where it would not work ?
Thanks.

[2020-05-26 19:59] dakrone commented on #57034
I'm going to guess (since it was a community PR), that `index_codec` came from it being the `index.codec` setting, and I asked to not have a dot in the field name for the action definition.

Can you explain why you think `index_codec` is an unfortunate name? Just parity between the two?

[2020-05-26 20:10] #57164 closed

[2020-05-26 20:29] pgomulka commented on #57019
`strict_date_optional_time`  is a format that was always parsing and printing up to 3  digits on `fraction of second` part.
On the other hand `strict_date_time` was actually allowing parsing and printing up to 9 digits - even when it was not supported with joda (additional digits were dropped)
see https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/joda/time/format/Strict

[2020-05-26 20:38] lockewritesdocs commented on #36114
Under [Dynamic index settings](https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules.html#dynamic-index-settings), the description for `index.blocks.read_only_allow_delete` reads:

After a bit of research, I propose the following changes:

1. Consider removing "to free up resources" from the existing description, since that seems to be a misnomer based on the conversations

[2020-05-26 21:28] DaveCTurner commented on #36114
Thanks for picking this up @lockewritesdocs.

There's two very distinct concepts here: deleting documents from an index, and deleting the index itself. Deleting documents from an index doesn't necessarily free up resources and may in fact consume additional resources, and is therefore not permitted when the read-only-allow-delete block is in place. Deleting the index itself does free up resources

[2020-05-26 22:27] jtibshirani commented on #28988
Closing in favor of #53326.

[2020-05-26 22:27] #28988 closed

[2020-05-26 22:27] DaveCTurner commented on #57034
Yes, just that I think of the index setting as simply `codec` (the namespace may be given separately and can even be omitted in some contexts) and that the `index_` prefix seems redundant (whose codec could we be changing if not the index's?). I'm not certain we should rename it, but I do expect this discrepancy will catch me out in the future.

[2020-05-26 23:43] jtibshirani commented on #57019
To clarify, in my testing I saw that `strict_date_optional_time` accepts dates with nanosecond precision, but only formats them at millisecond precision. This leads to confusing behavior where you can successfully index a `date_nano` using `strict_date_optional_time` (the default), but when you go to retrieve it through `docvalue_fields` with this same format, the nanosecond precision is lost.

I'

[2020-05-27 00:13] elasticmachine commented on #15612
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-05-27 01:04] jtibshirani commented on #32595
@eddycharly apologies, I misunderstood your earlier comment and thought you were suggesting an enhancement/ feature. That approach seems like it would work to me. If the goal is just to handle this `context` object, I think you could simplify and remove the "strings_as_keywords" template.

We try to reserve GitHub for discussions about bugs or feature development, as opposed to usage questions. If

[2020-05-27 03:36] JamesIsHuang opened #57186 "Can I get the size of the query result specified in the queryBuilder implemented by myself, or can I specify the size of the query result in the queryBuilder"
Can the size of the specified query result be obtained in the queryBuilder implemented by inheriting the AbstractQueryBuilder class, or can I specify the size of the query result in queryBuilder？

[2020-05-27 04:03] JacksonHacker commented on #48431
Not [#50280](https://github.com/elastic/elasticsearch/pull/50280). It's [#50820](https://github.com/elastic/elasticsearch/pull/50820)

[2020-05-27 04:16] dakrone commented on #48431
@JacksonHacker whoops yep, thanks for pointing that out, I edited my comment.

[2020-05-27 05:34] pgomulka commented on #57019
I am also not sure on backwards compatibility implication on changing `strict_date_optional_time`. @rjernst do you happen to remember?
I guess there must be some, as the only alternative to modifying `strict_date_optional_time` would be to add a new date format.

[2020-05-27 07:46] eddycharly commented on #32595
`strings_as_keywords` template makes sure strings are not analyzed at all, i don't need full text search. `"match_mapping_type" : "string"` ensures that it applies only to strings.

`context_objects_as_objects` takes care of nested objects (non leaf nodes) under the `context` property.

`context_as_keyword` indexes all leaf nodes under the `context` property as strings, regardless of their origina

[2020-05-27 08:33] martijnvg commented on #56992
I think the backing indices of a data stream are a perfect candidate for merging indices.

I think this does rely on #44794, because otherwise there could be overlap in ids due to shippers sending duplicates after a data stream has been rolled over.

[2020-05-27 08:39] bartjanson opened #57190 "CertificateValidations.ValidIntermediateCa is not correctly evaluating the entire chain"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.4.0 / ElasticSearch.Net 7.4.0 / NEST 7.4.0

**Plugins installed**: -

**JVM version** (`java -version`): -

**OS version** (`uname -a` if on a Unix-like system): Windows 10 Pro

**Description of the problem including expected versus actual behavior**:

Following article [https://www.elastic.co/guide/en/elasticsearch/client/net-api/curren

[2020-05-27 08:58] original-brownbear commented on #57115
I opened backport PRs to 7.7 #57191  and 7.8 #57192 for the above fix, closing here

[2020-05-27 09:04] costin opened #57194 "EQL: revising usage of quote (single or double) for escaping identifiers"
User feedback when running an EQL query: I cannot escape the event category for the query: `system.cpu where cpu.cores = 16`
[code]

Tried escaping (with " or \"):
` "system.cpu" where ...`
[code]

Finally fixed by using backticks:
``` `system.cpu` where ...```

This is a poor experience from an internal uses, that is interested in EQL and know about it. And yet gets caught off-guard by our use of

[2020-05-27 09:04] elasticmachine commented on #57194
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-05-27 09:07] cbuescher commented on #57186
Hi @JamesIsHuang! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2020-05-27 09:07] #57186 closed

[2020-05-27 09:13] costin commented on #57194
For background, see the previous issue on the same topic at #51443

[2020-05-27 09:37] markharwood commented on #53603
In terms of implementing case insensitive regex query on keyword fields - which of these 2 approaches would we use?
A) Use a new query implementation which does a linear scan of all doc values, lowercasing the regex query and each of the doc values read from disk on the fly or
B) Use the existing RegExpQuery but pre-process the regular expression used by expanding the permutations to all case vari

[2020-05-27 09:43] cheng141 commented on #54964
I  Just  want   to you

[2020-05-27 09:58] #57045 closed

[2020-05-27 10:01] dimitris-athanasiou commented on #56419
While #57152 allows for such incomplete forecasts to be deleted, should we still mark such forecasts as failed on force-close/task allocation?

[2020-05-27 10:04] droberts195 commented on #56419
I think we should.  #57143 is supposed to do that (although I haven't reviewed it).

[2020-05-27 10:21] original-brownbear opened #57198 "Snapshot Shard Directory in Repository Can Become Corrupted in Unlikely Corner Case"
There is one very unlikely scenario in which a repository can get into a corrupt state where new snapshots cannot be taken for a certain index (**no data loss though for existing snapshots**).
The way this can happen is as follows:

1. Start to snapshot an index into a repository that does not yet contain a snapshot of an index by the same name
2. Snapshot on the data node is written fully to the

[2020-05-27 10:21] elasticmachine commented on #57198
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-05-27 10:40] cbuescher opened #57199 "[CI] RecoveryRequestTrackerTests.testIdempotencyIsEnforced failed on master"
Build: https://gradle-enterprise.elastic.co/s/6ra77jfrlkh5y

Reproduces locally with:
[code]

Error:
[code]

Other test seeds seem to be fine, so not muting for now. Please so if frequency gets annoying.

[2020-05-27 10:40] elasticmachine commented on #57199
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-05-27 10:41] cbuescher commented on #57199
Some earlier failures this morning: https://gradle-enterprise.elastic.co/s/6prjbjwe7o2pm

[2020-05-27 10:49] Dumbaz commented on #33909
Hi,

I think that this Option in the create Job API would be very useful to have. In my Project we do not create Rollup Jobs via Kibana, all configuration lives in Git as JSON files and gets rolled out from there. This is the only point where I have to create a configuration in the cluster first and then issue a second request to start it, which makes it different from all other API requests. I ca

[2020-05-27 11:15] jimczi commented on #53603
I prefer option B, the automaton is intersected with the terms dictionary so the expansion is limited to matching terms. In the worst case, all permutations exist in the dictionary, but the multi-term query handles it smoothly with the `CONSTANT_SCORE_REWRITE` method.

I have a slight preference for a new `exact_match` query as described in this [issue](https://github.com/elastic/elasticsearch/iss

[2020-05-27 11:27] azrle commented on #23063
@JaydenHan1106
You can reclaim memory from slab by the following command.
[code]
https://www.kernel.org/doc/Documentation/sysctl/vm.txt
Page cache will be kept unless you `echo 3`. Hence, we can do it periodically to workaround with this issue. There might be some ways to let kernel do it for us if we can set memory pressure indicator properly (see `vfs_cache_pressure`).

Note that `drop_caches` m

[2020-05-27 11:37] sqren opened #57201 "[APM] Add Kibana privileges to built-in user"
The built-in `apm_user` already has access to the default apm indices by default:

https://github.com/elastic/elasticsearch/blob/dd4290b8485fee0b990f52e0162a4443862f82c1/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java#L165-L171

However, simply assigning that role to a user will not grant them access to login and use APM.
To improve the ge

[2020-05-27 12:01] ywelsch commented on #41406
I'm closing this one, as it's not clear this is affecting any recent ES versions (after 6.4.0+)

[2020-05-27 12:01] #41406 closed

[2020-05-27 12:08] cbuescher commented on #57149
Hi @wuyu8995861! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2020-05-27 12:08] #57149 closed

[2020-05-27 12:10] cbuescher commented on #57199
Another one: https://gradle-enterprise.elastic.co/s/nbbe2o3kxggis

Still doesn't seem much but I'm going to mute on master.

[2020-05-27 12:13] cbuescher commented on #57199
Muted with https://github.com/elastic/elasticsearch/commit/773cce29619e16ebcedb57a3e0fea1b05a1e17dc

[2020-05-27 12:13] cbuescher commented on #57199
@tbrooks8 looks like this test was just added, so you might know more about it

[2020-05-27 12:42] original-brownbear opened #57204 "[CI] Failure in org.elasticsearch.index.seqno.GlobalCheckpointSyncIT"
**Build scan**:

https://gradle-enterprise.elastic.co/s/qp5fy7bcrmguw/console-log/raw

**Repro line**:

[code]

**Reproduces locally?**:

Tried a few iterations but no

**Applicable branches**:

`master`

**Failure history**:

First time I think.

**Failure excerpt**:

[code]

I wonder if this may just be slowness of the test in some form since the busy asserts appear to have only run for one roun

[2020-05-27 12:42] elasticmachine commented on #57204
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-05-27 12:58] costin commented on #57036
After a first round of discussions, the following format is proposed. At high-level, the results are "merged" into a list so all responses will essentially return a list of results, which for sequences and joins will be lists of lists.

To avoid ambiguity and indicate the type of query, an enum-like field is added so folks that are interested in the type of query can find out without having to fil

[2020-05-27 13:09] costin commented on #57036
Tagging @Mpdreamz, @cjcenizal, @stacey-gammon and @tsg to check for any red flags on the consumer side.

[2020-05-27 13:58] DaveCTurner commented on #56933
We discussed this in the team sync today and think reducing the `fetch_shard_store` threadpool (perhaps to `1`) on nodes with spinning disks would be a good thing to try, although we have seen cases where even a single thread reading metadata can be too much.

Adrien led us to the observation that checksums may be the wrong things to be looking at in the replica shard allocator too, since we reall

[2020-05-27 14:00] lucabelluccini opened #57208 "Hidden indices are not included in the snapshots"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.7.0

**Description of the problem including expected versus actual behavior**:

Triggering a full snapshot will not include hidden indices.
This can be critical as some of the hidden indexes contain data from ML jobs

**Steps to reproduce**:

 1. Spawn a cluster in ES 7.7.0
 2. Try to trigger a snapshot
 3. Compare the list of indices in

[2020-05-27 14:24] original-brownbear commented on #57023
We discussed this during out team meeting today.

There was general agreement that using the same limit for restores and recoveries is a reasonable thing to do since my mainly try to protect disks and not the network with the setting. Yannick mentioned that if someone wanted to protect network resources rather than disks, having the ability to separately set the restore rate from something like an

[2020-05-27 14:34] #16280 closed

[2020-05-27 14:42] pgomulka commented on #56171
closed by https://github.com/elastic/elasticsearch/pull/56708

[2020-05-27 14:42] #56171 closed

[2020-05-27 14:47] ycombinator opened #57217 "Update ES monitoring with Metricbeat doc with new `scope` setting"
Starting 7.8.0, the `elasticsearch` Metricbeat module will support a new, optional setting: `scope`.  As explained in the [PR](https://github.com/elastic/beats/pull/18547) that implemented this setting:

We should update https://www.elastic.co/guide/en/elasticsearch/reference/master/configuring-metricbeat.html with this setting and the use case it is intended for.

[2020-05-27 14:47] elasticmachine commented on #57217
Pinging @elastic/es-docs (>docs)

[2020-05-27 14:47] elasticmachine commented on #57217
Pinging @elastic/es-core-features (:Core/Features/Monitoring)

[2020-05-27 14:52] rjernst commented on #57019
I don't remember why the allowed digits were extended for `strict_date_optional_time`. The nanos variant was added for the `date_nanos` field type, which is what should be used IMO. I don't think we should change the behavior of `strict_date_optional_time` unless it can be conditionalized on the field type, so that users of regular `date` fields continue to get the same behavior.

[2020-05-27 15:10] #56998 closed

[2020-05-27 15:32] #56609 closed

[2020-05-27 15:47] anti-social opened #57231 "Pass current shard id into IndexFieldData.Builder.builder"
I'm writing a plugin that uses data from some embedded database. The plugin implements its own `MappedFieldType` and `IndexFieldData` so it is possible to access that data inside Elasticsearch queries. The idea was stolen from [Solr's external file field](https://lucene.apache.org/solr/guide/6_6/working-with-external-files-and-processes.html). And now I want to split the database on shards to make

[2020-05-27 16:14] dnhatn commented on #57091
Fixed in #57187. @Aketzu Thanks for reporting the issue.

[2020-05-27 16:14] #57091 closed

[2020-05-27 16:26] mark-vieira commented on #56363
I've been seeing `IndexingIT.testIndexing` fail recently for the same reason:

https://gradle-enterprise.elastic.co/s/6iajplwkrno3q/tests/:x-pack:qa:rolling-upgrade:v7.8.0%23oldClusterTest/org.elasticsearch.upgrades.IndexingIT/testIndexing#1

[2020-05-27 16:46] not-napoleon commented on #56363
Seeing this fail on BWC tests as well here: https://gradle-enterprise.elastic.co/s/6iajplwkrno3q

[2020-05-27 17:05] jtibshirani commented on #57019
Sorry for the confusion, I actually didn't realize that `strict_date_optional_time_nanos` already exists. I'm happy to go with whatever you think is best in terms of the behavior.

For me, a takeaway from this discussion is that we could improve the docs: `strict_date_optional_time_nanos` isn't listed on the [date formats](https://www.elastic.co/guide/en/elasticsearch/reference/7.7/mapping-date-fo

[2020-05-27 17:44] williamrandolph commented on #45636
Discussed this in 27 May's team meeting. We are going to seek feedback from the Clients team, since their projects consume the REST API spec, and depending on their feedback we will either fail on the ambiguous edge case or log an informative warning.

[2020-05-27 17:45] williamrandolph commented on #45636
A quite important point that was raised in the meeting is that we _can_ test arbitrary paths explicitly in our YAML tests, so we can still verify deprecation warnings for specific paths if we need to.

[2020-05-27 18:04] pgomulka commented on #57019
@jtibshirani good idea - I will keep this item open and update the docs
We are intending actually to limit number of named formats in the future, but `strict_date_optional_time*` are likely to stay I think.

[2020-05-27 18:26] gwbrown commented on #57119
This failure is still occurring in 7.x, mostly in BWC tests. Example:
[Failure when testing BWC against 7.4.2](https://gradle-enterprise.elastic.co/s/67djqwev3swwy/tests/:qa:mixed-cluster:v7.4.2%23mixedClusterTest/org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT/test%20%7Bp0=cat.indices%2F10_basic%2FTest%20cat%20indices%20with%20invalid%20health%20parameter%7D).

[2020-05-27 18:51] gwbrown opened #57245 "`testSearch` in full cluster restart tests fail reproducibly in upgrade tests from 6.0.0/6.0.1 on 7.x"
**Build scan**: https://gradle-enterprise.elastic.co/s/2ct3wagkkzlka

**Repro line**:
[code]

**Reproduces locally?**: Yes

**Applicable branches**: 7.x (failure happens on BWC tests doing a full cluster restart upgrade from 6.0.0 and 6.0.1)

**Failure history**:
[Build Stats](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-7d,mode:quick,to

[2020-05-27 18:51] elasticmachine commented on #57245
Pinging @elastic/es-search (:Search/Search)

[2020-05-27 19:15] gwbrown commented on #57245
Muted in 7.x in https://github.com/elastic/elasticsearch/pull/57249.

[2020-05-27 19:54] gwbrown opened #57252 "Default distro BWC matrix failure for 6.0.0-6.2.4 versions from 7.7 branch"
**Build scan**: https://gradle-enterprise.elastic.co/s/mo74b3662e2di (the [Jenkins build](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.7+default-distro+bwc/3/) is a bit clearer as to what's going on)

**Repro line**: n/a

**Reproduces locally?**: n/a

**Applicable branches**: 7.7, 7.8, v6.0.0-v6.2.4 (inclusive)

**Failure history**:
Appears to have failed only in the latest run

[2020-05-27 19:54] elasticmachine commented on #57252
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-05-27 20:04] original-brownbear commented on #57115
Still failing https://gradle-enterprise.elastic.co/s/ufloccejuphoe ... I'll take another look tomorrow

[2020-05-27 20:09] jrodewig commented on #56069
@lockewritesdocs I've left a checklist of APIs left to document in the description. Those with PRs listed to the right are already done or in flight. Thanks!

[2020-05-27 21:02] gwbrown commented on #56507
I believe this same issue is causing failures on the JVM matrix builds, as the HDFS fixture apparently depends on Kerberos and also hits this same failure. Sample build scans:
[master](https://gradle-enterprise.elastic.co/s/lzd6ssx3erg7i)
[7.8](https://gradle-enterprise.elastic.co/s/ovxdvtdgdf5ic)
[7.7](https://gradle-enterprise.elastic.co/s/bssl5w7chx654)

The error appears to be the same: `Login

[2020-05-27 21:06] #57119 closed

[2020-05-27 21:17] gwbrown commented on #57252
The default distro matrix for 7.8 just ran and hit the same issue, see [Jenkins](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.8+default-distro+bwc/).

[2020-05-27 21:38] dakrone commented on #56709
Marked this as team-discuss so we can discuss in @elastic/es-core-features where in the codebase this will live.

[2020-05-27 22:16] cjcenizal commented on #57036
Take my comments with a grain of salt, since I have never worked with EQL before... 😅

I like the solution we arrived at. If I were consuming these responses in JS, I'd be able to use the `type` field to determine which shape to expect the results to be and how to interpret them. The simplification of `join_keys` -> `keys` also makes sense to me.

What's the intention behind wrapping each individu

[2020-05-27 22:21] rw-access commented on #57036
@cjcenizal I think the worry is that embedding several specialized schemas within the response will be more cumbersome to consumers of the API. If we just have a list of results returned, you just have to know how to render "a result". It would also be more future proof, if we added new capabilities to EQL. Results with a single event can be treated as a special case but they don't have to. Sequen

[2020-05-27 22:33] cjcenizal commented on #57036
Thanks for the explanation @rw-access!

[2020-05-27 22:46] maihde opened #57261 "Allow elastic-keystore to optionally show values."
Debugging issues related to the keystore are very difficult because `elastic-keystore` has no option to show the values in the keystore.  In my situation, I was trying to debug why the S3 repository wasn't working and it ultimately turned out that the keystore had blank values in it.  Had I been able to quickly confirm the contents of the keystore a significant amount of time would have been saved

[2020-05-27 23:23] kobelb commented on #57201
**TLDR;** I don't think we should change the `apm_user` role to grant access to the APM feature in Kibana in a minor version as this is a breaking change. This changes the fundamental nature of the `apm_user` role to no longer just grant access to read the `apm-*` indices, but to also grant access to the APM feature in all spaces in Kibana.

Currently, users must be assigned the `apm_user` role (o

[2020-05-27 23:34] sqren commented on #57201
Obviously I'd like to land this sooner rather than later since we are currently getting a bunch of support tickets from users who are confused about the security requirements for APM.
But I see your point about breaking expectations so 8.0 will have to do.

[2020-05-27 23:55] #49672 closed

[2020-05-28 05:29] #52153 closed

[2020-05-28 06:52] hendrikmuhs commented on #56419
Good point about not being able to delete forecasts using the UI for this case. I updated the mitigation with a DBQ.

[2020-05-28 07:49] Hailei opened #57270 "[sql]stack overflow when unresolved alias that refers to a field with the same name that does not exist"
**Elasticsearch version** (`bin/elasticsearch --version`):   7.6.2 and 7.7.0

**Plugins installed**: []
only default plugin

**JVM version** (`java -version`):
builtin jdk
**OS version** (`uname -a` if on a Unix-like system):
4.14.81.bm.17-amd64 #1 SMP Debian 4.14.81.bm.17 Sun Dec 15 02:54:05 UTC 2019 x86_64 GNU/Linux
**Description of the problem including expected versus actual behavior**:
First，

[2020-05-28 09:05] original-brownbear commented on #57115
I'm beginning to think that this is a bug in the JDK's `HttpServer` in some way. I added logging to the docker container and was able to reproduce this:

For the server/docker-container this is logged:

[code]

while on the client-side/es this is logged:

[code]

Since this does not happen in tests running the http server in the test JVM, it seems more likely that the issue is with the networking

[2020-05-28 09:18] elasticmachine commented on #57270
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-05-28 09:28] iverase opened #57272 "ignored_malfored flag is ignored in numeric types for out of range values"
It can be reproduce by:

[code]

This will throw an error in 7.7.0:

[code]

[2020-05-28 09:28] elasticmachine commented on #57272
Pinging @elastic/es-search (:Search/Mapping)

[2020-05-28 09:30] matriv commented on #49672
`master` : 9584b345d89f797bfb658212b928b9812804f02f
`7.x` : fdac9e99fa8bc0334768d412db8b1178094a53bf
`7.8` : 2a03a136d2a53b9068d533a27af2e31e10f9fa17
`7.7` : b640f0b4f6aa81915cebe865e221ee4028354794

[2020-05-28 09:40] matriv commented on #57270
@Hailei would you like to open a PR yourself for that fix?

[2020-05-28 10:13] Hailei commented on #57270
Ok, I'll do it

[2020-05-28 10:35] rossgardt commented on #24065
My team would also be highly interested in such schema definitions. Is there another issue for tracking this request? Since this one is closed.

[2020-05-28 11:40] iverase commented on #57272
The error is due to the upgrade of the Jackson library. It adds a new exception type for put of range values which we don't catch:

https://github.com/FasterXML/jackson-core/issues/508

[2020-05-28 12:07] davidkyle commented on #57102
The failure occurred in the test cleanup

[code]

Logs are attached but I can't see the reason for the exception or indeed where it came from

[logs.zip](https://github.com/elastic/elasticsearch/files/4695365/logs.zip)

[2020-05-28 12:14] jiripospisil commented on #3861
Is this supposed to work in ES 6.8.9 or only in newer releases? I'm still seeing the behavior with 6.8.9 - that is I have two aliases for an index, one alias with a term filter (`filtered_foos`) and the other one without (`foos`).

If I use the get API to get a specific document, the filter is not respected and I get the same document with both aliases:

[code]

If I use the search API, the filter

[2020-05-28 12:33] #56810 closed

[2020-05-28 12:42] #57103 closed

[2020-05-28 13:04] #51677 closed

[2020-05-28 13:27] immon commented on #54549
Another instance where this is manifested is a bulk request with document id longer than 512 bytes. Instead of per document status code the HTTP error is returned.

Example:
[code]

[code]

[2020-05-28 14:25] #54897 closed

[2020-05-28 14:32] rw-access commented on #57194
I think we need a separate pattern for eventType. I think it's fair to allow `.` and `-`

[2020-05-28 14:49] rw-access commented on #57036
This looks good good.
A few things that I would add or resolve
* consistency between `keys` and `_keys`. we should pick one. Should everything have a leading underscore? That seems consistent with other APIs?
* total_results will be all of the results; total_events is the sum of all sequence lengths
* should we remove a notion of `total_hits` when it's not relevant? it's nontrivial what it means f

[2020-05-28 14:57] #36114 closed

[2020-05-28 15:06] williamrandolph commented on #49340
The story on Expect for Windows is that there's a Windows port of Expect, but it's not FOSS and you have to get it as part of the [ActiveState TCL distribution](https://www.activestate.com/products/tcl/). Even then, it's not clear to me that it does exactly the same thing that `expect` on unix-like systems does, because the [Windows architecture for command line apps](https://devblogs.microsoft.co

[2020-05-28 15:07] royteeuwen opened #57297 "Deserialization of suggest responses not working"
**Elasticsearch version** 7.7.0

**Plugins installed**: /

**JVM version** (`java -version`): 11.0.6

**OS version** (`uname -a` if on a Unix-like system): macOS Catalina / Redhat 7

**Description of the problem including expected versus actual behavior**:

I am trying to create unit tests for classes that use the java high level rest client. To make this easier I am mocking the response that is g

[2020-05-28 15:42] benwtrent opened #57298 "GET _ml/inference/* does not actually return all models"
**Elasticsearch version** : 7.7+

**Description of the problem including expected versus actual behavior**:

calling `GET _ml/inference/*` returns a total count of inference models + a list of models of the desired size.

If I call `GET _ml/inference/*?size=100` and there are a total of 18 models (included pre-shipped models), I only receive ~12 back. But the total count still shows 18.

Total cou

[2020-05-28 15:42] elasticmachine commented on #57298
Pinging @elastic/ml-core (:ml)

[2020-05-28 16:04] sophiec20 opened #57299 "[ML] lat_long should be more tolerant to missing data"
Reported in 7.6 (and would exist earlier).

With a `lat_long` detector, if the `field_name` value is missing, the datafeed stops and the job closes. The following error is reported `Datafeed is encountering errors extracting data: Unexpected values for a geo_point field: []`.

This could occur on the first bucket, or part way through the job, depending on the timestamp of the doc (or docs) with th

[2020-05-28 16:04] elasticmachine commented on #57299
Pinging @elastic/ml-core (:ml)

[2020-05-28 16:49] cbuescher commented on #57245
I did a bit of git bisecting and I think the commit where this starts failing it 343fb699a4c0ec840c8f467402201e939f856c1a.
Using:
[code]
On that commit locally I get a failure, reverting it on 7.x makes the re-run pass. I'm not sure yet how the change is related to whats happening in FullClusterRestartIT.testSearch but maybe @jtibshirani  has a better idea what might happen here. Also re-checked,

[2020-05-28 16:59] dakrone commented on #56709
We discussed this and decided to make a new "stack" module in the x-pack directory for these templates and other common infrastructure (to be added to in the future).

[2020-05-28 17:53] jtibshirani commented on #57245
Thanks you @cbuescher debugging this! It looks like it wasn't actually okay to backport #56834 to 7.x, because it removes important BWC code with version 6.0. (In retrospect I should have opened a backport PR for this to get a full CI pass!)

I think the best course of action is to just revert the backport. I'll do that and re-enable the test.

[2020-05-28 18:02] albertzaharovits opened #57305 "Docs missing for the API-Key grant on behalf of others API"
The docs are missing for the API introduced by https://github.com/elastic/elasticsearch/pull/52886

[2020-05-28 18:02] elasticmachine commented on #57305
Pinging @elastic/es-docs (>docs)

[2020-05-28 18:03] elasticmachine commented on #57305
Pinging @elastic/es-security (:Security/Authentication)

[2020-05-28 18:37] mayya-sharipova commented on #53181
We had a team discussion, and we are in favour to  proceed with a `text_keyword` field:
- this will be a single field on the elasticsearch side
- internally it will be mapped to two Lucene fields: keyword and text field.
- all term-level queries (term, fuzzy, wildcard, prefix, range, new exact_match query) will be delegate to the internal keyword field
- all full-text queries will be delegated to

[2020-05-28 18:37] jtibshirani commented on #57245
I just reverted and pushed 36e5670f763c6854c5497a7f9caf593799f1fc49 to unmute the test.

[2020-05-28 18:57] #57298 closed

[2020-05-28 20:27] rjernst commented on #49340
Thanks for continuing this investigation, William.

Isn't that exactly what we want to test? The expect tests that we want to also work on windows are specifically for testing starting elasticsearch, with a password, at a system level, right?

[2020-05-28 20:34] danhermann opened #57312 "Monitoring fails to serialize results when free swap is reported as negative"
**Elasticsearch version** (`bin/elasticsearch --version`): many versions through 7.7.0

**Description of the problem including expected versus actual behavior**:

On occasion, free swap memory in the monitoring stats is reported as negative and that negative value fails to serialize.

E.g.:

`GET _nodes/instance-0000000314/stats?error_trace=true`

returns:

[code]

May be related to #42725 and #56

[2020-05-28 20:34] elasticmachine commented on #57312
Pinging @elastic/es-core-features (:Core/Features/Monitoring)

[2020-05-28 20:34] danhermann commented on #56739
I've opened https://github.com/elastic/elasticsearch/issues/57312 for the negative values on the swap stats.

[2020-05-28 20:43] rw-access opened #57313 "EQL: Port over new TOML tests from endgameinc/eql"
The new TOML tests in the Python library need to be pulled into this repo and incorporated
It contains unit and integration tests that work for case-sensitive, case-insensitive configurations and some tests that match the case exactly and will work for both.

Those tests should be incorporated here. It still needs greater test coverage, and we can update and synchronize those periodically.
https:/

[2020-05-28 20:43] elasticmachine commented on #57313
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-05-28 21:42] elasticmachine commented on #57208
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-05-28 22:23] gwbrown commented on #57208
Thanks for finding this. Looking at the code, it's immediately apparent why this happens and the fix should be straightforward.

[2020-05-28 23:37] gwbrown commented on #57208
In looking into this more deeply, I've discovered an undocumented feature of the Snapshot API: It supports `expand_wildcards` in the body of the snapshot request. So to take a snapshot of all indices (including hidden ones), the following request will work in 7.7.0:

[code]

Because the parameter is in the body of the request, this approach will work for SLM as well (with no code changes, in 7.7.0

[2020-05-28 23:49] #57312 closed

[2020-05-29 00:05] jtibshirani commented on #48665
I merged #56657 to use the index sort range query for fields of type `date`, `long`, and `integer`. I'm going to close this -- there's still the question of whether we can disable points indexing on the field, but I'd like to track that as part of #52728.

[2020-05-29 00:05] #48665 closed

[2020-05-29 03:23] tdmalone commented on #47500
Possibly also related: https://github.com/elastic/elasticsearch/issues/53110

[2020-05-29 03:28] tdmalone commented on #29999
Our use case for this: we're starting to manage users and roles via Terraform (with https://github.com/phillbaker/terraform-provider-elasticsearch). We have CI running `terraform plan` regularly to detect drift between committed configuration and live state. With only `manage_security` available, we have to choose between giving our CI environment essentially access to perform privilege escalation

[2020-05-29 03:29] tdmalone commented on #53110
We'd like to see the ability to just read index templates, rather than have to provide write access as well.

[2020-05-29 03:30] tdmalone opened #57328 "manage_pipeline is not granular enough"
We'd like to have a user with access to read pipelines, but not necessarily to be able to write them.

Like #53110, but for pipelines. Also similar to #29999.

[2020-05-29 03:46] tvernum commented on #57328
Duplicate of https://github.com/elastic/elasticsearch/issues/48028

[2020-05-29 03:46] #57328 closed

[2020-05-29 05:29] cawoodm commented on #36828
Still getting these warnings on Elastic 7.7. Now that we're "all" on OpenJDK 14 - should we be commenting out these lines?

## jvm.options
[code]

[2020-05-29 05:55] cawoodm commented on #45147
@bizybot : Don't you mean we should set `xpack.security.dls_fls.enabled: false` if we don't have a license??

[2020-05-29 06:03] tvernum commented on #45147
@cawoodm No, the bug here is that we were incorrectly trying to collect monitoring data about the bitset cache when DLS & FLS where disabled (so the cache did not exist).

You should only see this bug if someone explicitly disabled that feature (regardless of whether or not its permitted on the current license).

[2020-05-29 06:06] #57272 closed

[2020-05-29 06:21] cawoodm commented on #45147
Oh. Well we have ELK 7.7 Basic and no `*dls_fls*` setting in elasticsearch.yml yet still we see on startup:
[code]

[2020-05-29 06:28] ywangd opened #57331 "Review status code caused by SAML exceptions"
The method`SamlUtils#samlException(String msg, Object... args)` is used to signify a SAML exception in many places. A large part of this exception is catched in [SamlRealm#authenticate](https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/saml/SamlRealm.java#L412), where it is handled internally and not exposed directly to

[2020-05-29 06:28] elasticmachine commented on #57331
Pinging @elastic/es-security (:Security/Authentication)

[2020-05-29 06:51] hendrikmuhs opened #57332 "[Transform] scripted group_by fails for continuos transform"
**Affected versions:** 7.7 -

Continuous transform minimize the amount of updates by querying only changed buckets, the logic uses a combination of query features for that. For terms it relies on terms query.

If a script is used in `group_by` instead of a field, this change detection logic causes the transform to fail as it expects a field.

Because scripts offer freedom to build a bucket key, we

[2020-05-29 06:51] elasticmachine commented on #57332
Pinging @elastic/ml-core (:ml/Transform)

[2020-05-29 06:52] iverase opened #57333 "[CI] testGetUsedMemoryWithZeroTotal & testGetUsedSwapWithZeroTotal fail"
It reproduces, it seems we are passing negative values to the method:

[code]

[2020-05-29 06:52] elasticmachine commented on #57333
Pinging @elastic/es-core-features (:Core/Features/Monitoring)

[2020-05-29 07:00] tvernum commented on #57333
@danhermann I imagine this is related to #57312

[2020-05-29 07:06] elasticmachine commented on #57231
Pinging @elastic/es-search (:Search/Mapping)

[2020-05-29 07:49] simitt commented on #53326
APM Server currently makes use of multiple dynamic templates with the same key. Linking https://github.com/elastic/beats/issues/17203#issuecomment-603436023 here.

[2020-05-29 08:28] #57299 closed

[2020-05-29 08:34] iverase opened #57340 "[CI] Test failing due to matches of multiple legacy templates"
It seems since May 27th, rolling upgrade test are failing in 7.x and 7.8 with the following error:

[code]

examples:

https://gradle-enterprise.elastic.co/s/bvpxz6y7obu4q
https://gradle-enterprise.elastic.co/s/tzyiybdyysr4e

[2020-05-29 08:34] elasticmachine commented on #57340
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-05-29 08:43] #54963 closed

[2020-05-29 09:03] #57333 closed

[2020-05-29 10:10] ls-pluriels opened #57347 "Mapper Annotated Text - Escape string that should not be considered as annotation"
I am indexing data coming from several sources.
We use the Mapper Annotated Text  plugin to enrich our output with our NLP tags.

In this example, the bold text contains a string that meet markdown syntax but should not be used as annotation.

In 2010, 57% of ERCOTs generation capacity and 38% of _[electricity production]_(INDICATOR_571659&INDUSTRY_6349) came from _[natural gas]_(INDUSTRY_522125)*

[2020-05-29 10:31] fcofdez commented on #56361
I was wondering what would be the expected output for `Expose request counts via configurable (periodic) logging`. Should we log it into a specific file? should we log it into an index? For now I'll implement the exporting as a pluggable class so we can decide later.

[2020-05-29 10:33] immon commented on #51720
@javanna I think this can manifest when remote indices are forcemerged.

[2020-05-29 10:51] costin commented on #57036
The issue has been raised during our meeting yesterday.
@jpountz pointed out that total hits might not be all that useful so another question for the group is whether we should still keep it or remove it.

[2020-05-29 10:55] original-brownbear commented on #56361
@fcofdez if we just use a standard named log4j logger, then we can configure where the output goes via log4j and consumers of this can decide what to do with it. No need to worry about this on our end.
That said, the discussion on this is incoming elsewhere shortly as discussed on Tue :) sorry for the delay in getting this going.

[2020-05-29 10:56] costin commented on #57036
The convention has been to use `_` as a namespace for internal fields within a document. That is fields that are not set by the user but potentially can be seen by them.

Outside an actual _user_ json document, using `_` doesn't serve any functionality and impacts the response readability.

[2020-05-29 10:59] costin commented on #57036
total hits in ES currently means all the documents that were matched and by default it is not exact. Do I understand correctly that you are proposing adding two counters:
- one for results - essentially all results (whether we're talking about events/joins/events)
- one for events - all the matches (potentially within sequences/joins)

What about aggregations like count? What should the totals be

[2020-05-29 11:20] nithril opened #57349 "NullPointerException on Lucene80NormsProducer"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.2

**Plugins installed**: [analysis-icu, analysis-kuromoji, analysis-smartcn, analysis-stempel, mapper-murmur3, repository-azure]

**JVM version** (`java -version`): embedded one

**OS version** (`uname -a` if on a Unix-like system): CentOS 7.5

**Description of the problem including expected versus actual behavior**:

I got the below

[2020-05-29 12:16] astefan commented on #56474
What's a valid scenario for `pasword=foo`? This one should be caught by `Unknown parameter "password"; did you mean password`. I can see, though, a situation where `validate.properties = false` and that URL would pass... and later fail to be parsed by the URI class.

For debugging purposes, I still want the URL to be logged somehow and not hidden in its entirety. To be able to control the obfuscat

[2020-05-29 12:32] henningandersen commented on #52786
Solved by @gaobinlong in #54901, so closing this.

[2020-05-29 12:32] #52786 closed

[2020-05-29 12:57] astefan commented on #56195
Wondering if this feature would be useful for sql/eql where users have the option of providing a query DSL in the form of a `filter` section in the request. We would use the query in the `filter` section for the `_field_caps` call... @costin wdyt?

[2020-05-29 12:59] #56420 closed

[2020-05-29 13:07] costin commented on #56195
Indeed, adding the filter to the query should speed things up when dealing with large mappings (e.g. beats).

[2020-05-29 13:16] ddolcimascolo opened #57356 "Modified jvm.options prevent node from starting when upgrading from 7.5.1 to 7.7.0"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.7.0

**Plugins installed**: []

**JVM version** (`java -version`): The bundled JDK 14 (version below)

[code]

**OS version** (`uname -a` if on a Unix-like system): Ubuntu Server 18.04

[code]
[code]

**Description of the problem including expected versus actual behavior**:

_Preamble_:
In versions prior to 7.7.0 we used to edit the file

[2020-05-29 13:19] astefan opened #57358 "QL: add query dsl support to IndexResolver"
After https://github.com/elastic/elasticsearch/issues/56195 is closed, we should consider using the [SQL's filter section](https://www.elastic.co/guide/en/elasticsearch/reference/7.8/sql-rest-filtering.html) and [EQL's similar section](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/eql-search.html#eql-search-filter-query-dsl) to pre-filter the results `_field_caps` API calls as part o

[2020-05-29 13:19] elasticmachine commented on #57358
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-05-29 13:36] elasticmachine commented on #57349
Pinging @elastic/es-search (:Search/Search)

[2020-05-29 13:49] matriv commented on #54963
`master` : 1fe1188d449cad7d0782a202372edc52a4014135
`7.x` : b2651323fd880ab916c91588c0996e2679943b2a

[2020-05-29 13:51] #57198 closed

[2020-05-29 14:00] markharwood commented on #53181
The `significant_text` agg is designed for `text` fields (typically based on samples of top hits using `sampler` agg, re-analyzes source on the fly).
The `significant_terms` agg typically targets `keyword` fields (accessing doc values.). It can target `text` fields too but we advise against it because it requires fielddata.

I'd be happy to see us formalise these patterns by making them only targe

[2020-05-29 14:29] albertzaharovits opened #57364 "Investigate `CachingUsernamePassword` cache logic improvements"
The [`CachingUsernamePassword#authenticateWithCache`](https://github.com/elastic/elasticsearch/blob/460b204f8e61ac77c6550f1df3b7b0d4413fb0d4/x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/support/CachingUsernamePasswordRealm.java#L149) method aims to prevent multiple authn requests to be individually validated, because validation can be expensive (hash verify / contact

[2020-05-29 14:29] elasticmachine commented on #57364
Pinging @elastic/es-security (:Security/Authentication)

[2020-05-29 14:44] elasticmachine commented on #57356
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-05-29 14:49] albertzaharovits opened #57365 "Negative cache for `FileUserPasswdStore` and `NativeUsersStore`"
The `CachingUsernamePasswordRealm` only caches positive results (i.e. authentication successful). If inbound credentials don't match the positive cache, it falls back to realm validation.
Negative authentication results are impossible to cache at this level because a password that is not valid at one moment, could be valid the next.

Yet I believe we can implement a negative cache at the user stor

[2020-05-29 15:05] DaveCTurner commented on #56707
We've discussed this internally and once again we feel that your problems with IO that hangs indefinitely are most likely a bug in your infrastructure and not something that Elasticsearch should be working around. This doesn't seem to be a problem we experience in practice on a wide variety of production systems, and we still cannot find evidence that any other software has needed to implement pro

[2020-05-29 15:05] #56707 closed

[2020-05-29 15:13] williamrandolph commented on #49340
Yes, agreed. I'm hoping that my notes here will help me (or someone else) either verify that Expect for Windows in fact does what we need it to, if we can get it installed, or help us find the right tool for the job otherwise. As a next step, I'm going to check out the behavior of Expect for Windows.

[2020-05-29 15:20] original-brownbear commented on #57115
This only ever fails on 7.x and Java 8. Since the code is the same between master and 7.x I'm starting to think this might be an issue with the Java HTTP client ... like e.g. https://bugs.openjdk.java.net/browse/JDK-8240275

[2020-05-29 15:30] markharwood commented on #53603
Update - a PR for case insensitive Regex searches is happening in[ Lucene](https://github.com/apache/lucene-solr/pull/1541)

[2020-05-29 16:05] dliappis commented on #36828
@cawoodm The jvm.options in 7.7 looks like:

https://github.com/elastic/elasticsearch/blob/cf4543ef0c394414e6a59a5ac3cad9df002fe035/distribution/src/config/jvm.options#L35-L48

So the deprecation warnings should only appear if an older java is used. If you are using the default `jvm.options` ^^ and the bundled jvm and it's still an issue, could we move this discussion to https://discuss.elastic.co

[2020-05-29 16:39] lanerjo opened #57369 "ES Creating too many files in /tmp"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.5.2

**Plugins installed**: []

**JVM version** (`java -version`): openjdk-11_28

**OS version** (`uname -a` if on a Unix-like system): Linux 3.10.0-1062.el7.x86_64 #1 SMP Thu Jul 18 20:25:13 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
I am running into an issue since

[2020-05-29 16:58] elasticmachine commented on #57369
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-05-29 16:59] elasticmachine commented on #57347
Pinging @elastic/es-search (:Search/Analysis)

[2020-05-29 17:03] nik9000 commented on #56896
+1 on 404 not throwing an exception here. This is one of the few times where "it isn't there in the first place" is totally ok.

[2020-05-29 17:04] elasticmachine commented on #56994
Pinging @elastic/es-security (:Security/Authorization)

[2020-05-29 17:08] nik9000 commented on #57018
It'd probably be useful to see your distro version like from `/etc/issue`.

[2020-05-29 17:08] elasticmachine commented on #57018
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-05-29 17:11] elasticmachine commented on #57022
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-05-29 17:14] nik9000 commented on #57022
I believe we've removed this from the rpm/deb/tar/zip version of log4j2.properties but it looks like we haven't from docker. That sounds like a bug to me.

Also, I did think you were supposed to be able to override properties with `-E` so that sounds like another bug.

[2020-05-29 17:14] nik9000 commented on #57022
But someone who knows that packaging better than I do will have to take a look.

[2020-05-29 18:00] vrcsekhar opened #57376 "ES reindex remote timeout, need pagination feature"
HI all,

i whitelisted a remote host and trying to reindex from remote host to my local ES,
However each time the request is failing with 502 gateway timeout with only pulling 5000 docs.
how can i proceed and is the remote host reindex api supports pagenation? so i can loop through and get all the remote host indices.

I tried with socket_timeout option still it time out.
Error i get in kibana:
[c

[2020-05-29 18:00] elasticmachine commented on #57261
Pinging @elastic/es-security (:Security/Security)

[2020-05-29 18:02] elasticmachine commented on #57297
Pinging @elastic/es-search (:Search/Search)

[2020-05-29 18:02] elasticmachine commented on #57297
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-05-29 18:08] javanna commented on #57297
heya, at first glance the response you are trying to parse cannot be parse by the high level REST client as it requires the `typed_keys` parameter set to `true`. That way the response will contain the same suggestion, but its name will be composed of the name of the suggestion as well as its type separated by `#`. This way the parser knows which class to create for that type of suggestion.

[2020-05-29 18:08] vrcsekhar commented on #57376
@nik9000 I opened a new issue for reindex api gateway timeout for remote host with huge indices. Can you please suggest any latest api fixes. Also, is there pagenation available where i can reindex from and to and proceed with reindex even with timeouts

[2020-05-29 18:48] nik9000 commented on #57079
This is probably better asked on discuss.elastic.co but I'll answer anyway in case someone finds it on google: the high level client won't use `filter_path` because its job is to parse the response. `preference` is available in the `SearchRequest`. How you get that from Spring Boot's `ElasticsearchRepository` is a question for the spring boot folks. The other parameters like `rest_total_hits_as_in

[2020-05-29 18:48] #57079 closed

[2020-05-29 18:56] #57097 closed

[2020-05-29 18:57] elasticmachine commented on #57128
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-05-29 18:59] elasticmachine commented on #57376
Pinging @elastic/es-distributed (:Distributed/Reindex)

[2020-05-29 19:00] nik9000 commented on #57376
Is that an error message from Kibana or from Elasticsearch? Like, if you do the reindex with `curl` do you get the same thing?

[2020-05-29 19:09] #57010 closed

[2020-05-29 19:33] gwbrown commented on #57208
@rjernst and I discussed this briefly.  We do think that we need to make a change in the short term to avoid surprising users, but we also want to preserve the consistency of index resolution.  What makes this weird is that hidden indices were introduced in a minor version, and administrators are likely to consider a change that leads to some indices not being included in an "all indices" snapshot

[2020-05-29 19:46] costin commented on #56474
We can take baby steps in improving the improving the existing situation. That is have a bit more understanding about the error code and use that inside the message.
1. If the connection has failed all together, return only the URL and prefix without parameters (potentially)
2. If the auth has failed (and we have a way to determine that) or something is wrong, try and look for the password and hid

[2020-05-29 19:53] royteeuwen commented on #57297
Hey @javanna , how is it possible then that I actually got that response first by using the high level client to get it? Thats how I created the mock json to test, by first using the real logic and saving the SearchResponse.toString() in a test resource file

[2020-05-29 20:28] #56113 closed

[2020-05-29 21:13] #56760 closed

[2020-05-29 21:31] rjernst commented on #57018
The log file provided appears to only be the tail. Can you please provide the rest of the file? JNA failed to load, and it should have an error above the log file snippet here.

Separately, we currently lack graceful degredation for the systemd notifier hook when jna is not available. Need to think about what to do in this case, since we can't dynamically change systemd's reliance on this configur

[2020-05-29 23:41] rjernst commented on #57022
Thanks for raising this issue. As Nik pointed out, this was missed in our recent removal of this from our log4j config in the docker case. I've opened https://github.com/elastic/elasticsearch/pull/57389 to fix that.

This is the not the correct setting. It should be `-E logger.org.elasticsearch.action=info`.

As the description of this issue is not a bug, I hope you don't mind that I close this is

[2020-05-29 23:41] #57022 closed

[2020-05-30 02:28] vrcsekhar commented on #57376
@nik9000 Thanks for the response, yes with curl i'm able to reindex from remote host , but it is only pulling 10000 docs from remote and stopping, is there a scroll option in reindex api.? is default size 10000?

[2020-05-30 03:07] jasontedor commented on #57369
Are you sure that you're not restarting, or maybe another instance keeps trying to start? These files:

[code]

are *only* created at node startup.

I am not aware that we do that, what makes you think we do? Maybe we have a bug here?

[2020-05-30 03:13] lanerjo commented on #57369
https://www.elastic.co/guide/en/elasticsearch/reference/7.6/es-tmpdir.html <<-- This is why I think that Elasticsearch disables the periodic cleaning on elasticsearch files in the /tmp directory.

I will check to see if an instance of elasticsearch is trying to start on those machines.

[2020-05-30 06:40] bpintea commented on #56474
The URL can still contain the credentials, since `jdbc:es://http(s)://user:pass@host:port` is another way to provide them.

The logging of parts or the entire URL only happens on URL parsing failure. In case the parsing succeeds we only log if authentication failed. Which simplifies a bit the situation, since we only need to consider parsing failure.

Thanks for the ideas, though, I'll try to come

[2020-05-30 13:13] harish-shetty commented on #41189
Even I am using 7.6.2 version and getting same error. Please suggest me out to resolve this issue.
My pom.xml is
<dependency>
			<groupId>org.elasticsearch.client</groupId>
			<artifactId>elasticsearch-rest-high-level-client</artifactId>
			<version>7.6.2</version>
</dependency>
<dependency>
			<groupId>org.elasticsearch</groupId>
			<artifactId>elasticsearch</artifactId>
			<version>7.6.2</versio

[2020-05-30 14:47] dadoonet commented on #41189
There are plenty of advices in this issue. See https://github.com/elastic/elasticsearch/issues/41189#issuecomment-483254425

[2020-05-30 18:15] javanna commented on #57297
toString calls toXContent. You should call toXContent manually and provide
the typed_keys param to it. Even if you are printing a response obtained
through the client, you still need to print it out the same way that the
client expects it or it cannot be parsed. Otherwise the client does not
know which class to create.

On Fri, May 29, 2020, 21:54 Roy Teeuwen <notifications@github.com> wrote:

[2020-05-31 07:20] itiyamas opened #57394 "Infer date field format during indexing."
Parsing a stricter format is much more efficient than the optional formats for date-fields using DateTimeFormatter. For time-series use-cases, the format for a date rarely changes over time- hence it would be easier to infer the right format during parsing and then use it with a fallback on user provided/default formats. This would really help improve the parsing overhead during indexing.

The str

[2020-05-31 07:32] itiyamas opened #57395 "Index settings object is parsed on every document update"
[Parsing index settings for every doc update](https://github.com/elastic/elasticsearch/blob/97de3064b289549e447e288da675adf957b89314/server/src/main/java/org/elasticsearch/index/mapper/ParseContext.java#L335) is inefficient and redundant. Instead of parsing the settings object to get the `maxAllowedNumNestedDocs`, we could just get the cached value and change it via settings applier.  Else, we cou

[2020-05-31 14:32] ywangd commented on #57364
I have a few concerns of the proposed change:
1. It does not really help when the DoS is performed using just invalid password.
2. When there are many clients (using the same credentials) sending requests simultaneously, it may end up doing more hashing work. Because `doAuthenticate` always performs hash computation for each client, while `authenticateWithCache` leverages a `Future` so that hash i

[2020-05-31 15:30] jasontedor commented on #56361
@yoavderazon Exposing telemetry for searchable snapshots is a separate consideration. Maybe we land on metering API calls, but maybe not. Typically, we don't; instead we expose metrics such as how many indices are backed by searchable snapshots, how many ILM policies have a searchable snapshot action, etc., as individual API call counts are noise.

[2020-05-31 17:09] elasticmachine commented on #57395
Pinging @elastic/es-search (:Search/Mapping)

[2020-06-01 00:53] iwinux commented on #26114
Hi,

Would you mind explaining *why* slicing is not supported for remote reindex?

[2020-06-01 01:04] tvernum commented on #57364
I think it may be more helpful for us to actively treat the internal (reserved, native, file) realms differently to the external (ad, ldap) realms.

For external realms we really do need to retry authentication when we get an incorrect password (for auditing/lockout purposes as well as correctness), but for internal realms we can reliably check whether the underlying store has changed which gives

[2020-06-01 02:55] jasontedor commented on #57395
It wouldn't feel great to me to treat this setting special. I'd prefer that we do something more general like parse once and cache the parsed and validated value internal to the `Settings` object, so that the next time we get the setting value we can use the internal cache and skip parsing and validation there. That will involve some boxing for settings of primitive type, but I suspect that will b

[2020-06-01 07:22] wuyunfeng opened #57400 "Maybe memory leak still in IndicesQueryCache$ElasticsearchLRUQueryCache (6.5.3)"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.5.3
**Plugins installed**:
[ respository-hdfs, analysis-ik]

**JVM version** (`java -version`):
1.8
**OS version** (`uname -a` if on a Unix-like system):
Centos 7.x
**Description of the problem including expected versus actual behavior**:
Our cluster have 13 nodes (master/data),  about 20 index with 108 shards,  400GB disk-usage total,

[2020-06-01 07:25] wuyunfeng commented on #57400
@jpountz

[2020-06-01 09:38] davidkyle opened #57402 "MixedClusterClientYamlTestSuiteIT: Multisearch test with typed_keys parameter for sampler and significant terms failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/qaucfxmv5kp76

**Repro line**:
[code]
**Reproduces locally?**:
No

**Applicable branches**:
7.x

**Failure history**:
Many failures since May 30th all on the 7.x branch in a mixed cluster with 6.8.y

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(columns:!(br

[2020-06-01 09:38] elasticmachine commented on #57402
Pinging @elastic/es-search (:Search/Search)

[2020-06-01 10:44] jirihradil opened #57403 "Missing CHANGELOG.md?"
Can you please create/update `CHANGELOG.md` file in the root of this marvelous gem to allow developers to quickly look what was changed in the last version?

Thank you!

[2020-06-01 10:51] wuyunfeng commented on #57400
It seems related with this issue?:
https://issues.apache.org/jira/browse/LUCENE-8017

![image](https://user-images.githubusercontent.com/5183061/83402235-ed06ef80-a438-11ea-8ffa-9e3320b947ec.png)

[2020-06-01 11:25] vernepenn opened #57405 "Spark ES sql use "where in" condition to filter multi keyword is not correct"
**Elasticsearch version** (`bin/elasticsearch --version`):6.3.1

**Plugins installed**: []

**JVM version** (`java -version`):1.8

**OS version** (`uname -a` if on a Unix-like system):linux

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem,
including (e.g.) index creation, mapping

[2020-06-01 12:00] dliappis opened #57407 "Regression in aggregation latency after #57241"
After merging https://github.com/elastic/elasticsearch/pull/57241 we see the following spike in aggregation latency in the nightly charts (starting 20200528):

![image](https://user-images.githubusercontent.com/1754575/83406710-e3b95b00-a417-11ea-9e02-28a5fee3dd8f.png)

The list of commits between 20200527 -> 20200528 is: https://github.com/elastic/elasticsearch/compare/16be0e65d387320aff35e3ddbae

[2020-06-01 12:00] elasticmachine commented on #57407
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-06-01 12:03] davidkyle commented on #57402
Muted on 7.x in #57406

[2020-06-01 12:14] davidkyle opened #57408 "indices.create/20_mix_typeless_typeful yml test incorrect warning"
**Build scan**:
https://gradle-enterprise.elastic.co/s/x4rshlsbvvkvq

**Repro line**:
./gradlew ':qa:smoke-test-multinode:integTestRunner' --tests "org.elasticsearch.smoketest.SmokeTestMultiNodeClientYamlTestSuiteIT" \
  -Dtests.method="test {yaml=indices.create/20_mix_typeless_typeful/Create a typeless index while there is a typed template}" \
  -Dtests.seed=1A49D0E8CAC9419D \
  -Dtests.security.

[2020-06-01 12:14] elasticmachine commented on #57408
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-06-01 12:16] davidkyle commented on #57408
I will not mute this as the fix is easier than the mute

[2020-06-01 12:20] wuyunfeng commented on #57400
In those top class, the FunctionScoreQuery or ScriptQuery would reference the `LeafReaderContext`

[2020-06-01 12:39] nik9000 commented on #57407
Interesting! I'll take a look this morning.

[2020-06-01 12:56] nik9000 commented on #57407
The whole point of these changes is to be able to make a change that makes the `terms` agg *faster*, it'd be super a shame to make it slower.

[2020-06-01 12:59] davidkyle opened #57411 "RollupJobTaskTests suite timing out"
**Build scan**:
https://gradle-enterprise.elastic.co/s/lei3dbypn5mjg
https://gradle-enterprise.elastic.co/s/bhdgqmlqfk3ii

**Repro line**:
 ./gradlew ':x-pack:plugin:rollup:test' --tests "org.elasticsearch.xpack.rollup.job.RollupJobTaskTests" \
  -Dtests.seed=B0D0D9DF682DBEA3 \
  -Dtests.security.manager=true \
  -Dtests.locale=en-US \
  -Dtests.timezone=UTC \
  -Druntime.java=8

**Reproduces loca

[2020-06-01 12:59] elasticmachine commented on #57411
Pinging @elastic/es-analytics-geo (:Analytics/Rollup)

[2020-06-01 13:19] nik9000 commented on #57407
Rally: [before](https://gist.github.com/nik9000/573702d66ccdf83f7be08768ed6abcd7) [after](https://gist.github.com/nik9000/85f1235d9ac264bb1e77601e8f745414)
Profile: [before](https://gist.github.com/nik9000/5e4edcda580e0bb62c90fa0585d7b86a) [after](https://gist.github.com/nik9000/fd4c3b88163593e274ec5e0634322d5a)

[2020-06-01 13:27] davidkyle commented on #57115
Some more failures on both 7.7 and 7.8. Java 8 again.

https://gradle-enterprise.elastic.co/s/hdrmhpnp7ltlu
https://gradle-enterprise.elastic.co/s/vh5qvobca7n3k
https://gradle-enterprise.elastic.co/s/yp2tpuuaj6wdm
https://gradle-enterprise.elastic.co/s/qru4z2n5zqhem

Muted on 7.8 edeac408e55408d70e0837e5fd766a53a4c3536b
Muted on 7.7 599e2dd1ca878472daef056081f8945354e1b4fb

[2020-06-01 13:36] nik9000 commented on #57407
Two things:

The performance of the `master` and the commit in question is the same. So for the most part y "after" tests are going to be against master.

The latency in the `after` rally results is a bit odd. I think it is because we're pushing the little node a bit to hard. The service time is real though.

[2020-06-01 13:38] nik9000 commented on #57407
All of my tests come from loading the data with `master`, taring it, and then doing something like:
[code]

That allows my to play with the version running the agg very quickly.

[2020-06-01 13:48] davidkyle opened #57416 "IndexRecoveryIT testTransientErrorsDuringRecoveryAreRetried timeout"
**Build scan**:
https://gradle-enterprise.elastic.co/s/44qx5vkr5yyta

**Repro line**:
./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.indices.recovery.IndexRecoveryIT.testTransientErrorsDuringRecoveryAreRetried" \
  -Dtests.seed=94212EE7FF83A4A \
  -Dtests.security.manager=true \
  -Dtests.locale=es-PE \
  -Dtests.timezone=Cuba \
  -Druntime.java=11

**Reproduces locally?**:
No

[2020-06-01 13:48] elasticmachine commented on #57416
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-06-01 14:10] nik9000 commented on #57407
The problem is losing an optimization here: https://github.com/elastic/elasticsearch/pull/57241/files#diff-97bf2bf8142ccb028d9115ad647bc307R114

I'll put together a PR to claw this performance back.

[2020-06-01 14:11] nik9000 commented on #57407
[here](https://gist.github.com/nik9000/e413105a83ee1ef0828d47f6f5ae13d8) is rally after the fix.

[2020-06-01 14:39] markharwood commented on #53603
Following some discussion we concluded that `term`, `prefix` and `wildcard` should also have a case insensitivity option.
Sadly this can't be a simple boolean flag - for these queries we assume if you do nothing the matching is case sensitive. Sadly that it is [not true for all fields](https://github.com/elastic/elasticsearch/issues/25487) - normalized keyword fields monkey with the search terms i

[2020-06-01 14:49] dliappis commented on #57407
@nik9000 wow that was fast.

[2020-06-01 14:57] nik9000 commented on #57407
I just broke it! So it didn't take too long to hunt down the bit that mattered. Also, I got lucky.

[2020-06-01 15:26] jkakavas commented on #57405
Hello @vernepenn , could you please close this and re-open it in https://github.com/elastic/elasticsearch-hadoop ?

[2020-06-01 16:34] nik9000 commented on #57376
The reindex API scrolls by default and runs all documents by default. It shouldn't be stopping.

If it works with curl but times out in kibana then it is kibana timing out waiting for it. I believe your choices are to use [wait_for_completion=false](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html#docs-reindex-task-api) and poll for the results or to leave kibana.

[2020-06-01 16:52] rjernst commented on #57395
I wonder why this isn't parsed in the IndexSettings ctor like other index settings? It seems like this should be a member there, then no parsing is necessary here.

[2020-06-01 16:56] elasticmachine commented on #57394
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-06-01 16:56] elasticmachine commented on #57394
Pinging @elastic/es-search (:Search/Mapping)

[2020-06-01 17:00] polyfractal commented on #38837
I'm going to re-open this ticket as a placeholder.  We're working on a [big refactor of Rollup](https://github.com/elastic/elasticsearch/issues/42720) (changing how search works, integrating with ILM, etc) so this request is something we can reconsider in light of the new framework.  It's a fairly common request so far over the lifetime of Rollup v1.

That said, I think a lot of the difficulties r

[2020-06-01 17:01] polyfractal commented on #39604
Closing in favor of https://github.com/elastic/elasticsearch/issues/38837

[2020-06-01 17:01] #39604 closed

[2020-06-01 17:29] itiyamas commented on #57395
Agreed, a new member should be added that will be updated via settings consumer.

[2020-06-01 17:30] fbaligand commented on #38837
Thanks for re-open!
For the difficulty you quote, first, people that does the rollup is often the same than the one that consumes it. Then, consumer is surprised, he can still communicate with producer :)
To me, this is not a difficulty, just a fact.

[2020-06-01 17:31] webmat commented on #53603
A tricky situation, but I like this proposal 👍

[2020-06-01 18:17] sethpayne opened #57461 "SQL: Update license.txt with Elastic license text in JDBC driver .jar"
At present,  the included license file (META-INF/LICENSE.txt) contains the Apache 2 license text.

This file should contain the [text of the Elastic license](https://raw.githubusercontent.com/elastic/elasticsearch/master/licenses/ELASTIC-LICENSE.txt).

[2020-06-01 18:17] elasticmachine commented on #57461
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-06-01 18:20] jtibshirani commented on #53181
I had a couple questions about the proposal:
* I'm curious about example cases where we see `text_keyword` being useful. The newly-introduced `wildcard` field might cover many cases in which the text + keyword multifield was previously helpful.  (Perhaps we just really like the out-of-the-box experience it provides and want to use `text_keyword` as the dynamic mapping type for strings?)
* I wonder

[2020-06-01 18:27] cristi- opened #57462 "Cast exception error while using the get api"
**Elasticsearch version** (`bin/elasticsearch --version`):

7.6.0

**Plugins installed**: [analysis-icu analysis-kuramoji es-restlog es-shopname-tokenizer repository-gcs]

**JVM version** (`java -version`):
openjdk version "13.0.2" 2020-01-14

**OS version** (`uname -a` if on a Unix-like system):
Linux elastic2-es-data-14 4.14.138+ #1 SMP Tue Sep 3 02:58:08 PDT 2019 x86_64 x86_64 x86_64 GNU/Linux

[2020-06-01 18:47] micoq opened #57466 "Potential mutex contention for bulk indexing ?"
Currently, for a single bulk of new documents, each of them is added one by one internally into a shard (to Lucene and to the translog) by calling `InternalEngine.index(Engine.Index index)`

This method calls `IndexWriter.addDocuments()` and `TranslogWriter.add()`. However, these methods are both protected by a mutex (a lock or a synchronized block) which seems to be costly when you runs a single

[2020-06-01 19:09] webmat commented on #53181
I think @jtibshirani makes a good point. In ECS we added a `.text` multi-field to some keyword fields as a way to work around not having `wildcard` and query-time case insensitivity. When both of these are widely available, I think the need to for these multi-fields in ECS will mostly go away.

One place I think indexing both as `keyword` and `text` is still very useful is for initial dataset expl

[2020-06-01 19:20] crclark opened #57473 "allow using any of Kuromoji's included dictionaries"
The Kuromoji project supports [several dictionaries](https://github.com/atilika/kuromoji#supported-dictionaries). `kuromoji_tokenizer` currently defaults to IPADic, and only allows us to append to it. The problem with IPADic is that it hasn't been updated since 2007, and there is [reason to believe](https://www.dampfkraft.com/nlp/japanese-tokenizer-dictionaries.html) that UniDic is a better choice

[2020-06-01 19:46] fredroo opened #57475 "CentOS 7 with cPanel"
I tried with elasticsearch rpm and elastiscsearch-oss

but returned always error

what log i need put here to someone help to install correctly

[2020-06-01 19:56] leehinman opened #57476 "Add registered_domain processor similar to Filebeat processor"
It would be nice to have a registered_domain processor like the [filebeat one](https://www.elastic.co/guide/en/beats/filebeat/current/processor-registered-domain.html).  This would be useful so we can have ingest pipelines that are completely in ES that can fill out the ECS fields like dns.question.top_level_domain.

[2020-06-01 20:10] leehinman opened #57481 "Add URL parts to url decode processor"
It would be nice if the url decode processor was able to populate a target field with the parts of the URL.  This would make it much easier to populate things like host & port information when you have a url to work with

https://docs.oracle.com/javase/tutorial/networking/urls/urlInfo.html

[2020-06-01 20:37] albertzaharovits commented on #57364
Thank you @ywangd and @tvernum for your input!

Yang, I now believe you are right. The authentication requests that check if the cache entry is stale or not, as sketched above, don't really work as I thought they would. Thanks for digging into my gibberish!

Regarding

and Tim's

I think you mean we can implement a negative cache for these cases, which is what I was thinking when I had raised http

[2020-06-01 20:48] andrewkroh commented on #57481
For reference, these are the fields that ECS splits a URL into: https://www.elastic.co/guide/en/ecs/current/ecs-url.html.

[2020-06-01 20:50] lockewritesdocs opened #57486 "Add ESS icons to Elasticsearch docs for supported Cloud settings"
The ES Docs do not indicate if a setting is supported on ESS. This discrepancy has resulted in support cases where a user tries an unsupported setting and it fails.

As part of the Cloud-first workgroup, the ES reference needs a PR like [this one](https://github.com/elastic/kibana/pull/65610/files) to add the ESS icon for supported settings, based on:
- Cloud docs (ESS whitelisted) - https://www.e

[2020-06-01 20:50] elasticmachine commented on #57486
Pinging @elastic/es-search (:Search/Search)

[2020-06-01 21:22] jtibshirani commented on #48194
This seems like a great effort that will really help cut down on confusion.

In my own experiences with the search docs, I've found it hard to navigate the different options in the search request:
* I usually [https://www.elastic.co/guide/en/elasticsearch/reference/7.7/search-request-body.html](search request body) page as a reference on search options. It's huge page containing every option, so I

[2020-06-01 21:24] fredroo commented on #57475
[code]

[2020-06-01 21:44] fredroo commented on #57475
chmod 0777 /usr/share/elasticsearch/

solved

[2020-06-01 21:44] #57475 closed

[2020-06-01 22:23] #45161 closed

[2020-06-01 22:57] vrcsekhar commented on #57376
Sure Nik closing the issue, i don't have any issue with the reindex api it's the client connection i'm unable to keep (curl\kibana\ powershell invoke_webrequest etc).
Basically reindex api is get and post from remote to dest and i'm able to achieve it with a workaround solution using .net code.

[2020-06-01 22:57] #57376 closed

[2020-06-01 23:40] #57395 closed

[2020-06-02 01:11] jasontedor commented on #57395
The problem that I have with this approach is that it doesn’t work for index settings registered in X-Pack.

[2020-06-02 01:32] jasontedor commented on #56659
@pgomulka Could you update this issue summarizing our recent discussion?

[2020-06-02 02:22] #57405 closed

[2020-06-02 02:36] repl-chris commented on #52735
I also just got burned by this....easy to work around, but yeah a little unexpected with nothing in the documentation to indicate this behavior

[2020-06-02 02:38] dnhatn commented on #57466
It will be hard for Elasticsearch to use the bulk method of IndexWriter. Each indexing operation must be performed under its [_id lock](https://github.com/elastic/elasticsearch/blob/2558699f9902535df4171cb01f7bd6755ac7b8fa/server/src/main/java/org/elasticsearch/index/engine/InternalEngine.java#L837) to ensure that there is at most one revision per _id.

[2020-06-02 02:38] elasticmachine commented on #57466
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-06-02 03:00] shwetathareja opened #57498 "[Optimization]: During reroute async fetch data in GatewayAllocator, send request in generic threadpool instead of masterService#updateTask"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.1

**Description of the problem including expected versus actual behavior**:

This cluster had roughly ~ 50K shards and multiple nodes were disconnected from master and during hot_threads dump observed that master#updateTask thread was spending lot of time sending these TransportNodesListGatewayStartedShards requests. These are async cal

[2020-06-02 03:48] skmizuho opened #57499 "PUT Index template - update value"
When PUTting an index template, it will be handy to be able to update a specific value, rather than having to pass the whole template again.

[According to the docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-templates.html) this is not supported now.

A use case I can think of is updating the ILM policy without touching any other field mappings etc.

[2020-06-02 05:09] Bukhtawar opened #57501 "Failure logging for async fetch happens on Network threads"
Below is the thread dump indicating `transport_worker` threads being `BLOCKED`, there were multiple threads in this state. Although this happened on 6.8 but I believe it would still happen on later versions too.

[code]

[2020-06-02 05:27] russcam commented on #54862
@hendrikmuhs In other APIs where behaviour can be "disabled", `-1` has typically been used as a special value to signal this e.g.

- [Reindex disable throttling](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html#docs-reindex-throttle)
- [Disable refresh interval on indices](https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules.html#index-refr

[2020-06-02 06:12] tvernum commented on #57364
My thought is more that the `CachingUsernamePasswordRealm` presumes that it is caching an external identity provider, and all of its implementation decisions are based on that premise.
It clears the cache on an incorrect password because it cannot reliably detect an incorrect password except by going back to the original store.

It _could_ be smarter and not clear the cache unless it works out the

[2020-06-02 06:12] sewi-cpan opened #57502 ""time" format not applied to running_time in cat tasks api"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.6.0 and 7.6.1, following answers based on 7.6.1

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment (build 11.0.7+10-post-Ubuntu-2ubuntu219.10)
OpenJDK 64-Bit Server VM (build 11.0.7+10-post-Ubuntu-2ubuntu219.10, mixed mode, sharing)

**OS version** (`uname -a` if

[2020-06-02 06:22] ywangd commented on #57364
+1

The motivation here is to reduce hashing cost, which applies to the internal realms. By detecting password changes proactively and clearing cache is a more efficient approach.

[2020-06-02 06:30] ruflin commented on #56709
We soon need to have a conversation about the exact content of these templates. I started a draft PR here https://github.com/elastic/package-registry/pull/481 but no real progress yet. It will be important that the ES team also chimes in especially on the setting sides for recommendations. I will ping here as soon as we need input.

[2020-06-02 06:38] karmi commented on #54862
Agreed that `null` values are hard to implement (and semantically somewhat empty), and that `-1`, especially for numerical values, makes more sense.

[2020-06-02 07:06] cawoodm commented on #36828
https://discuss.elastic.co/t/vm-warnings-useconcmarksweepgc/235284

[2020-06-02 07:40] #56165 closed

[2020-06-02 07:53] elasticmachine commented on #57498
Pinging @elastic/es-distributed (:Distributed/Network)

[2020-06-02 07:56] original-brownbear commented on #57498
Talked about this with David and I think we can improve the way we use the networking layer instead of working around this issue by forking off to a different thread-pool to then have that hit the `flush` (that's where the wake-ups are coming from) API in a loop.

I'll look into creating a PR that optimises this and other spots where we might be sending a large number of requests to channels on th

[2020-06-02 08:03] astefan commented on #53181
Another interesting point that @jtibshirani is bringing forth, and which I've been thinking about as well, is the possibly overwhelming growing list of field types we offer. I _think_ I understand the need for the new field types, and I've been loosely monitoring their addition more or less from an user point of view (finding out a new field type is being added, on the surface understanding the ne

[2020-06-02 08:30] Bukhtawar commented on #57501
The `AsyncShardFetch#processAsyncFetch` handling is done on the network thread on version 7.7 as well, which means if the nodes is flaky the network threads on masters will be blocked longer and might impact pings and new node connections

[2020-06-02 08:45] markharwood commented on #53181
For me the biggest shift I've seen in requirements is the move away from traditional ideas of indexing human-authored text to indexing machine-generated text.
Traditionally tokenisation was useful normalisation that did all of the following:

1) Breaking strings into words by splitting on punctuation
2) Lowercasing
3) Removing plurals, past tense etc (ie stemming)
4) Injecting useful synonyms.

Wh

[2020-06-02 08:55] DaveCTurner commented on #57501
There's nothing actionable here so I am closing this. Please fill out the bug report template in full when reporting apparent bugs. We need significantly more information than you have provided here before we can even start to analyse a bug report. A stack trace from a single thread is rarely of any use and this one doesn't indicate anything particularly surprising happening.

[2020-06-02 08:55] #57501 closed

[2020-06-02 08:59] Mpdreamz commented on #57036
Prefacing this with that my understanding of EQL is extremely limited.

I am worried about shoehorning everything in to `results`

As it is now conceptually there is:

`results: EventResult[]`

`results: EventResultWithKeys[]`

Where `EventResultsWithKeys` has another `result` array with different `"shapes`"

`join` `sequence` return the same hit shape but `count` queries return values.

In types

[2020-06-02 09:10] Bukhtawar commented on #57501
I thought the bug is, it's not right to have a logging overhead on Network threads. Can you please correct me if I am wrong. The stack trace shows that and I have the full thread dump I would share

I am working on that if you can please bear with me.

[2020-06-02 09:31] pgomulka commented on #56659
We reached several conclusion during core-infra sync on 27th May.

1.  We should not try to update joda.time unless it is confirmed that the same or newer timezone database.
2.  We will rely on JDK updates we ship with bundled JDK. With every release we update the bundled JDK to the latest version.
- we rely on the fact that each JDK update is shipping with the latest available timezone db
3. If a

[2020-06-02 09:33] shwetathareja commented on #57498
Thanks @original-brownbear for looking into it. Can you elaborate a bit on how are you planning to optimize the use of networking layer?

Also, I was wondering that these async fetch calls are made per unassigned shard per node. These could be batched per node as well to reduce the no. of calls over the transport layer from master to data nodes?

[2020-06-02 09:53] Bukhtawar commented on #57501
Also I saw this is something we are planning as a part of #54066 to avoid logging on Network threads. Is this a potential candidate

[2020-06-02 10:48] original-brownbear commented on #57498
Sure, it's fairly straight forward. Currently, whenever we write a message to the transport layer we use `channel.writeAndFlush`. If this is call from outside the Netty event loop it will often lead to a sys call to wake up the selector (that's what you observed as being so costly). If we were to just use the simple `channel.write` method and later flush (after we know we wrote a batch of messages

[2020-06-02 10:58] Bukhtawar commented on #57501
On this particular case since `ClassLoader#loadClass` requires a lock acquisition, as a result only one of `transport_worker` thread could acquire it causing the others network thread wanting to log the failure to get `BLOCKED` on the monitor(based on the thread dump). Do you think this is the expected and the desired behaviour @DaveCTurner ?

[2020-06-02 11:31] Bukhtawar commented on #57501
If you see the implementation of the transport_worker its actually doing another IO. See `JarLoader#getResource`
[code]

[2020-06-02 12:30] Skoetting opened #57519 "Elasticsearch Documentation AD-Realm Setting wrong setting referral"
In the current documentation under Security Setting -> AD-Setting there is a referral to an not existing setting.
https://www.elastic.co/guide/en/elasticsearch/reference/7.7/security-settings.html#ref-ad-settings

In the description of the domain_name setting:

but user_search_dn isn`t an valid setting, the correct setting is called user_search.base_dn

[2020-06-02 12:32] przemekwitek opened #57521 ":benchmarks:run tasks runs instead of elasticsearch"
Today I encountered a situation where I intended to run local elasticsearch server. Instead, a suite of benchmarks started executing.

Command I've run:
[code]

Excerpt from logs:
[code]

FWIW, I have a symlink which makes elasticsearch build ml-cpp locally:

[code]
[code]

[2020-06-02 12:32] elasticmachine commented on #57521
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-06-02 13:02] original-brownbear commented on #57498
I looked into the details of what a fix for this would look like in ES and found that Netty recently made some improvements to the way it avoids unnecessary wake-ups in https://github.com/netty/netty/pull/9799 (fixed in a Netty version that isn't used in 7.1).
Also changes https://github.com/elastic/elasticsearch/pull/39286, https://github.com/elastic/elasticsearch/pull/57084 and should cause the

[2020-06-02 13:08] kingfeiyu1 opened #57523 "when the old master node is "stoping", let the new master rejoin to the old master"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.2.4
**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "1.8.0_161"
**OS version** (`uname -a` if on a Unix-like system):
Linux es-node1-7478fff9-jswwt 3.10.0-862.el7.x86_64 #1 SMP Fri Apr 20 16:44:24 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux (K8s)
**Description of the problem including expected versus actual beha

[2020-06-02 13:21] pgomulka commented on #57394
@itiyamas If I understand correctly you are using a default date field format `strict_date_optional_time||epoch_millis` where `strict_date_optional_time` itself is containing a lot of optionals. These optionals were necessary because of flexibility we want to allow when parsing partial dates (skipping parts of the date like minutes, hour etc). You suggest to infer a format during ingestion and kee

[2020-06-02 14:01] javanna commented on #57521
I encountered the same, I suspect it's caused by #57197 . And I just figured that `./gradlew run` != `./gradlew :run` . The latter does what you want @przemekwitek

[2020-06-02 14:03] przemekwitek commented on #57521
Thanks for the hint!

[2020-06-02 14:32] chrisronline commented on #50032
To provide a little color to this issue, I wanted to explain the need for this for all interested parties.

[Elasticsearch exporters](https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/monitoring/src/main/java/org/elasticsearch/xpack/monitoring/exporter/local/LocalExporter.java#L342) will attempt to create the six monitoring cluster alert watches every time the exporter is executed

[2020-06-02 14:56] costin opened #57535 "Reindex - option for batch memory size not just document count"
When dealing with large documents, there are no dedicated options inside Reindex API to prevent memory from blowing up. There is `size`:

{Optional, integer) The number of documents to index per batch. Use when indexing from remote to ensure that the batches fit within the on-heap buffer, which defaults to a maximum size of 100 MB.

however that is not enough since a few large documents can go way

[2020-06-02 14:57] elasticmachine commented on #57535
Pinging @elastic/es-distributed (:Distributed/Reindex)

[2020-06-02 15:11] lizozom opened #57537 "Expose _async_search metadata to kibana admin user"
This feature is part of https://github.com/elastic/kibana/issues/61738

When Kibana runs `BackgroundSessions`, it will need to have a monitoring service that periodically checks for the status of each session. We will use that information to mark sessions that are complete or have errors. It will also be responsible for sending push notifications back to users.

In order to do that, we need to hav

[2020-06-02 15:41] rjernst commented on #57521
AFAIK, the only thing we could do to "fix" this is rename the task in `:benchmarks`. @mark-vieira @breskeby thoughts?

[2020-06-02 15:50] breskeby commented on #57521
What would be a good name then? The alternative is to run "./gradlew :benchmark:run". or run the build from the benchmark project folder (btw. I use this little tool that makes runny gradle from within multi project folders easy: https://github.com/dougborg/gdub)

[2020-06-02 15:59] javanna commented on #57297
hi @royteeuwen I hope you don't mind if I close this issue given that it's not a bug.

[2020-06-02 15:59] #57297 closed

[2020-06-02 16:18] P1llus opened #57543 "[Ingest Pipelines][Append Processor] Adding a "unique" argument"
When appending values to specific fields there is currently a need to check if the related value already exists with if conditions.

It would be great to add support to check if the value already exists in the array and only append it if it does not.

In both Observability and Security usecases, we have the possibility to append related sources to make visualization easier. Fields like "related.us

[2020-06-02 16:18] elasticmachine commented on #57543
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-06-02 16:26] andreidan opened #57544 "ILM support for the rollover date math to be based on custom date"
Currently, a [rollover action](https://www.elastic.co/guide/en/elasticsearch/reference/7.7/ilm-rollover.html#_roll_over_based_on_index_age) configured to roll based on the index age uses the index creation date in order to calculate the index age. The creation age cannot be updated.

With https://github.com/elastic/elasticsearch/issues/42449 phase timings date math based on a custom date (the `ori

[2020-06-02 16:43] mark-vieira commented on #57521
I believe this problem was "solved" before by setting `impliesSubProjects = true` on the root build `run` task. This will allow folks running `./gradlew run` from the root folder to run only the root project task, which is almost certainly what they want. I think it's worth doing since it's such a simple mistake to ommit the `:` and the benchmarks project isn't the only culprit here, all plugin pr

[2020-06-02 16:46] cipriandumitrel opened #57546 "Prevent overriding an existing document field having a non null value with a null value for that field"
Hi guys,

I'm not sure whether there's an existing issue on this topic or not. I searched and found some similar topics but neither one describing exactly the same behaviour.

I have an existing document in an index called **test_index** like this:

`
GET test_index/_doc/KXbfdXIBUrXF8bei7Oc_
`
`
{
  "_index" : "test_index",
  "_type" : "_doc",
  "_id" : "KXbfdXIBUrXF8bei7Oc_",
  "_version" : 1,

[2020-06-02 17:09] rjernst commented on #57521
Maybe we should just set that on all `RunTask`s?

[2020-06-02 17:29] dakrone commented on #56709
@ruflin I am almost done with this work already, should we have the discussion on the PR itself once I open it?

[2020-06-02 17:40] royteeuwen commented on #57297
Hey @javanna, sorry I have two days off so couldnt test it out yet. I still dont see how to call the toxcontent manually so that its parseable afterwards. Can you provide an example?

[2020-06-02 17:48] jtibshirani commented on #53181
@astefan I also think improving the documentation on field types could be a big help to our users. I'll file a new docs issue based on your thoughts -- we can continue the discussion there to keep this issue focused on text/ keyword mappings.

[2020-06-02 18:20] jtibshirani opened #57548 "Improve top-level docs on mapping field types."
As we’ve added more field types, the [list of mapping types](https://www.elastic.co/guide/en/elasticsearch/reference/7.7/mapping-types.html) has grown quite long. For users, the list of options can be a bit overwhelming and hard to navigate.

To help address this, we could reorganize the reference on field types:
* Instead of the sections 'core', 'complex', and 'specialized', they could be grouped

[2020-06-02 18:20] elasticmachine commented on #57548
Pinging @elastic/es-search (:Search/Mapping)

[2020-06-02 18:20] elasticmachine commented on #57548
Pinging @elastic/es-docs (>docs)

[2020-06-02 18:28] mayya-sharipova commented on #53603
@markharwood  Is the plan first to correct term queries to [remove normalization](https://github.com/elastic/elasticsearch/issues/25487) from them?
Otherwise, if term queries still do normalization,  will it `case_sensitive` option work at all?

[2020-06-02 18:29] ruflin commented on #56709
@dakrone That would be great! Can you ping me on it? BTW lets only add logs-*-* and metrics-*-* for now as we might not need events-*-* for now.

[2020-06-02 19:20] jakelandis commented on #53177
No failures since is the introduction of #56556

Closing this issue.

<img width="970" alt="image" src="https://user-images.githubusercontent.com/976291/83559798-cac5ae00-a4da-11ea-8e9a-768277035572.png">

<img width="959" alt="image" src="https://user-images.githubusercontent.com/976291/83559965-0c565900-a4db-11ea-8a2c-e3b93a81aa15.png">

[2020-06-02 19:20] #53177 closed

[2020-06-02 19:46] jakelandis commented on #54685
No failures since https://github.com/elastic/elasticsearch/pull/56556 was introduced see also: https://github.com/elastic/elasticsearch/issues/53177#issuecomment-637755454

Closing.

[2020-06-02 19:46] #54685 closed

[2020-06-02 19:48] nik9000 opened #57554 ":x-pack:qa:rolling-upgrade:v6.8.10#upgradedClusterTest: IO error while waiting cluster"
**Build scan**: https://gradle-enterprise.elastic.co/s/yvd4eyecgtota

**Repro line**: `./gradlew -p x-pack/qa/rolling-upgrade check`

**Reproduces locally?**: yes. wait. no. I'm confused.

**Applicable branches**: 7.x

**Failure history**:
I don't see it in build-stats but I'm not good at searching. I've seen it several times today.

**Failure excerpt**:
[code]
...

[code]

[2020-06-02 19:49] elasticmachine commented on #57554
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-06-02 19:56] #56927 closed

[2020-06-02 19:59] talevy commented on #56927
thanks @nreese. should be better now!

[2020-06-02 20:05] jakelandis commented on #53724
Last test failure co-insides with when #56556 (over 2 weeks ago) optimistically closing this.

<img width="1950" alt="image" src="https://user-images.githubusercontent.com/976291/83564132-d36db280-a4e1-11ea-8d57-cf060a89ca12.png">

[2020-06-02 20:05] #53724 closed

[2020-06-02 20:15] jakelandis commented on #52453
There are no instances of these failures since May 11 (There are a couple SSL failures in a FIPs container ... but that is not what this issue is about)
This corresponds with #56556 was introduced to help address issues like this.

<img width="1917" alt="image" src="https://user-images.githubusercontent.com/976291/83565082-61966880-a4e3-11ea-85bd-3449ec2e65bd.png">
<img width="1923" alt="image" sr

[2020-06-02 20:15] #52453 closed

[2020-06-02 22:01] elasticmachine commented on #57499
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-06-02 22:47] #57199 closed

[2020-06-02 23:40] kkewwei opened #57570 "Simplify calculations on Engine.fillSegmentStats()"
ES_VERSION: 7.7.0

**Description of the problem including expected versus actual behavior**:
In Engine.segmentsStats(), first we calculate the total memory usage by every component, then we again calculate memory usage of every component, it's a little redundant.
[code]

[2020-06-03 00:36] ywangd opened #57572 "[DOC] Improve clarity for dervied API key behaviour"
The [7.6.2 breaking changes](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.6.html#_elasticsearch_api_key_privileges) says:

This could give users the impression that there are options other than "no privileges". But in fact, this is the only option, i.e. derived keys must be created with no privilege. We could improve the wording so the intention is more explic

[2020-06-03 00:36] elasticmachine commented on #57572
Pinging @elastic/es-docs (>docs)

[2020-06-03 00:36] elasticmachine commented on #57572
Pinging @elastic/es-security (:Security/Authentication)

[2020-06-03 01:53] ppf2 opened #57574 "Better handling of IOException for missing dictionary bundles"
6.6.1

If a dictionary file (e.g., stop words file for an analysis chain) is missing from the file system, the cluster can go into a recovery loop trying to start the shard (without success):

[code]

This has led to issues like the memory leak bug (https://github.com/elastic/elasticsearch/pull/48230) that is fixed in a later version.  The other undesirable effect is that it causes the master node

[2020-06-03 01:55] elasticmachine commented on #57574
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-06-03 02:15] mattserrano opened #57575 "HLRC dispatches certain HTTP requests without leading '/'"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.7.0 (running via Docker on EC2 instance to demo)

**Plugins installed**: None

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system): `Linux bbac52d60db2 4.14.177-139.254.amzn2.x86_64 #1 SMP Thu May 7 18:48:23 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

**Description of the problem including expect

[2020-06-03 02:18] meserrano commented on #57575
Running the sample code against a local cluster and analyzing traffic with Wireshark confirms the `_render/template` request is dispatched without a leading '/'.

[code]

Relevant elasticsearch code: https://github.com/elastic/elasticsearch/blob/master/client/rest-high-level/src/main/java/org/elasticsearch/client/RequestConverters.java#L462-L465

Other operations may be affected, this is just one

[2020-06-03 02:26] #57570 closed

[2020-06-03 04:44] jkakavas commented on #49094
Another case is  `EmailSslTests#testNotificationSslSettingsOverrideSmtpSslTrust` where BouncyCastle FIPS provider throws an org.bouncycastle.tls.TLSFatalAlert instead of an SSLException

[2020-06-03 05:18] gaobinlong commented on #57502
Same to #54554, the problem has been resolved by #54536, so maybe this issue and #54554 can be closed.

[2020-06-03 05:21] #57502 closed

[2020-06-03 06:01] hendrikmuhs commented on #54862
@russcam

Both is possible `null` _or_ -1. I will update the description above.

In the stack we have both versions, `null` defaults are used e.g. for [cluster settings](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-update-settings.html).

[2020-06-03 06:10] astefan opened #57581 "SQL: datetime related scripts for aggregates and groupings broken"
Following the refactoring that created the QL project, a minor change to how the scripts used in aggregates and grouping are created introduced a bug affecting `HAVING` filtering for functions that return a datetime data type. For example, `SELECT gender, MIN(birth_date) FROM test_emp GROUP BY gender HAVING min(birth_date) < NOW()` is translated into

[code]

the issue being `InternalQlScriptUtils

[2020-06-03 06:10] elasticmachine commented on #57581
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-06-03 06:15] russcam commented on #54862
Thanks for clarifying 👍 I'll document to send `-1` for the client to disable

[2020-06-03 06:36] #53379 closed

[2020-06-03 06:45] martijnvg commented on #57554
The `ActionNotFoundTransportException` is expected to be printed in the logs. After each test data streams get cleaned. If a node doesn't support data streams then that request fails with either a 405 or a 500 (action not found error). This is has been taken into account when [executing the delete data stream api.](https://github.com/elastic/elasticsearch/blob/7.x/test/framework/src/main/java/org/

[2020-06-03 07:00] martijnvg commented on #57554
This is unexpected: `Caused by: org.elasticsearch.ElasticsearchSecurityException: action [internal:cluster/request_pre_vote] is unauthorized for user [test_user]
`, shouldn't this be executed as system user? cc: @elastic/es-security

[2020-06-03 07:03] original-brownbear opened #57585 "[CI] Failure in org.elasticsearch.cluster.MinimumMasterNodesIT"
Failed on CI and once locally for me https://gradle-enterprise.elastic.co/s/3lz2nfmnfm5xm/

We're tripping an assertion in this test:

[code]

[code]

The issue seems to be with the fact that we are scheduling some of the retrying in `org.elasticsearch.action.support.RetryableAction` on `SAME` so it runs on the scheduler thread. This in turn in some corner cases will use blocking `get` on a future

[2020-06-03 07:03] elasticmachine commented on #57585
Pinging @elastic/es-distributed (:Distributed/Distributed)

[2020-06-03 07:10] albertzaharovits opened #57586 "Security privileges for ingest pipelines"
Currently we have minimal support in Security for restricting access to ingest pipelines. There is a single dedicated privilege, `manage_ingest_pipelines`, that provides access to CRUD APIs for pipeline definitions.

We should improve this model in the following 2 ways:

- make the `manage_ingest_pipelines` privilege a "configurable cluster privilege", so that admins can specify that users can man

[2020-06-03 07:10] elasticmachine commented on #57586
Pinging @elastic/es-security (:Security/Authorization)

[2020-06-03 07:15] kostasb commented on #57544
In the meantime, until this enhancement is implemented, it would be good to clarify in the docs of Rollover's [max_age](https://www.elastic.co/guide/en/elasticsearch/reference/7.7/ilm-rollover.html#ilm-rollover-options) that it takes into account the `creation_date`, no matter if parse_origination_date is enabled on the index.

[2020-06-03 07:43] costin commented on #57036
Thanks for the feedback @Mpdreamz.

Can you expand on that and how it is different from having dedicated json definitions for each result? Shouldn't the `type` presence make it possible to return the appropriate interface implementation?

A client can provide more tighter constrains than the json one which is fairly loose.

Taking a step back:
An event query returns a list of events -> `event[]`
A

[2020-06-03 08:00] elasticmachine commented on #57575
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-06-03 08:01] elasticmachine commented on #57400
Pinging @elastic/es-search (:Search/Search)

[2020-06-03 08:01] mightycoco opened #57588 "Vulnerability in netty version netty-4.1.43.Final - HIGH and CRITICAL"
Found in elastic 7.6.2

BDSA-2018-4022 MEDIUM (score 4.9)
https://blackduck.opentext.net/api/vulnerabilities/BDSA-2018-4022

CVE-2020-7238 (BDSA-2020-0130) **HIGH (score 7.5)**
https://blackduck.opentext.net/api/vulnerabilities/CVE-2020-7238
https://blackduck.opentext.net/api/vulnerabilities/BDSA-2020-0130

CVE-2019-20444 (BDSA-2019-4231) **CRITICAL (score 9,1)**
https://blackduck.opentext.net/api

[2020-06-03 08:03] mightycoco commented on #57588
Related to #50399 and #49396

[2020-06-03 08:03] romseygeek commented on #57403
Hi @jirihradil we maintain release notes outside of the code repo.  You can find them here: https://www.elastic.co/guide/en/elasticsearch/reference/current/es-release-notes.html

[2020-06-03 08:03] #57403 closed

[2020-06-03 08:19] mightycoco opened #57589 "Vulnerability in netty version netty-4.1.45.Final - HIGH and CRITICAL"
Found in elastic 7.7.0

BDSA-2018-4022 MEDIUM (score 4.9)
https://blackduck.opentext.net/api/vulnerabilities/BDSA-2018-4022

CVE-2020-11612 (BDSA-2020-0666) **CRITICAL (score 9.8)**
https://blackduck.opentext.net/api/vulnerabilities/CVE-2020-11612
https://blackduck.opentext.net/api/vulnerabilities/BDSA-2020-0666

[2020-06-03 08:19] mightycoco commented on #57589
Related to #57588, #50399 and #49396

[2020-06-03 08:30] gaobinlong commented on #57546
@cipriandumitrel , maybe you can use [UPDATE API:](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/docs-update.html)

POST index/_doc/1/_update
[code]

[2020-06-03 08:35] Mpdreamz commented on #57036
As it stands this warrants the following in pseudo code:

[code]

We can only present the lowest common denominator back to the user `ResultBase` which would require run time down casting to the proper subclass. The generic for `TSource` is also not persisted down.

If it was modeled as separate properties:

[code]

Here the user can use `response.hits.type` to choose the right property to itterat

[2020-06-03 08:48] breskeby opened #57590 "Evaluate file-system watching feature for local Gradle builds"
Gradle 6.5 ships with File-system watching feature that improves incremental build performance. Further details can be found in the Gradle 6.5 release notes: https://docs.gradle.org/6.5/release-notes.html#performance-improvements

For now I've enabled this feature locally on my system and will provide feedback and make a suggestions on enabling this feature by default for all elasticsearch develop

[2020-06-03 08:49] elasticmachine commented on #57590
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-06-03 08:55] cipriandumitrel commented on #57546
Hi @gaobinlong , thanks a lot for your response, but the UPDATE API is not suitable for me. The reason for which I am trying to do this using processors is because I am writing in elastic search directly from Kafka using Kafka Connect, so somehow writing in ES is transparent for me. Using the UPDATE API would mean to create my own client that has a Kafka listener and do the logic against ES when a

[2020-06-03 09:05] javanna commented on #57297
@royteeuwen an example is here: https://github.com/elastic/elasticsearch/blob/master/server/src/test/java/org/elasticsearch/action/search/SearchResponseTests.java#L157 .

[2020-06-03 09:09] elasticmachine commented on #57588
Pinging @elastic/es-distributed (:Distributed/Network)

[2020-06-03 09:12] romseygeek commented on #57588
I'm going to close this in favour of #57589 as it seems that the CVEs not mentioned there are all fixed in the latest version of elasticsearch.

[2020-06-03 09:12] #57588 closed

[2020-06-03 09:12] elasticmachine commented on #57589
Pinging @elastic/es-distributed (:Distributed/Network)

[2020-06-03 09:13] elasticmachine commented on #57546
Pinging @elastic/es-distributed (:Distributed/CRUD)

[2020-06-03 09:18] elasticmachine commented on #57537
Pinging @elastic/es-search (:Search/Search)

[2020-06-03 09:19] elasticmachine commented on #57523
Pinging @elastic/es-distributed (:Distributed/Cluster Coordination)

[2020-06-03 09:20] elasticmachine commented on #57519
Pinging @elastic/es-security (:Security/Security)

[2020-06-03 09:20] elasticmachine commented on #57519
Pinging @elastic/es-docs (>docs)

[2020-06-03 09:23] elasticmachine commented on #57462
Pinging @elastic/es-search (:Search/Search)

[2020-06-03 09:23] elasticmachine commented on #57462
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-06-03 09:24] elasticmachine commented on #57473
Pinging @elastic/es-search (:Search/Analysis)

[2020-06-03 09:25] elasticmachine commented on #57476
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-06-03 09:25] elasticmachine commented on #57481
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-06-03 09:29] ywelsch commented on #57523
ES 6.2.4 is not supported anymore. Please check if this is still an issue with newer versions of ES, otherwise we will have to close this bug report.

[2020-06-03 09:56] gaobinlong commented on #57546
@cipriandumitrel，ingest pipeline only handles the incoming documents and cannot fetch the origin field value from the index, so maybe we can only update document partially by UPDATE API which will fetch the document from the index firstly and then update the document.

[2020-06-03 10:46] DaveCTurner commented on #57589
Please send reports of security vulnerabilities to security@elastic.co. As per https://www.elastic.co/community/security, we can accept only security issues at this address.

[2020-06-03 10:46] #57589 closed

[2020-06-03 10:51] original-brownbear commented on #57585
This is a bit of a variation of https://github.com/elastic/elasticsearch/pull/46178 ... now that we have retries in the recovery it seems we get stuck in a situation where we submit a task that cleans up an index commit ref to the generic pool but then shut down that pool without the task ever executing.
The fact that we see the above error on the scheduler thread is just a symptom of failing to w

[2020-06-03 12:12] wangzhenhui1992 commented on #57589
good

[2020-06-03 12:25] #57204 closed

[2020-06-03 12:27] markharwood commented on #57115
Happened on 7.x Java8 today.
https://gradle-enterprise.elastic.co/s/wlvfly5dd225w

Muted 7.x with e2c0c4197f550e7b5fe7c243bcd8d40e27310b5f

[2020-06-03 12:33] nik9000 commented on #57554
Thanks mvg! I hadn't realized that was expected.

On Wed, Jun 3, 2020, 03:00 Martijn van Groningen <notifications@github.com>
wrote:

[2020-06-03 13:17] DaveCTurner commented on #20760
We discussed this today and agreed to close this for the reasons I described above.

[2020-06-03 13:17] #20760 closed

[2020-06-03 13:26] matriv commented on #41195
ATAN with two arguments seems to be supported [MySQL thing](https://dev.mysql.com/doc/refman/8.0/en/mathematical-functions.html#function_atan2)
where as [MS-SQL server only supports the one arg version](https://docs.microsoft.com/en-us/sql/t-sql/functions/atan-transact-sql?view=sql-server-ver15). Currently there is no need to support atan() with 2 args, therefore I'm closing this issue as the rest

[2020-06-03 13:26] #41195 closed

[2020-06-03 13:34] tlrx commented on #10498
We talked about this today and we agreed on not implementing this change for now. Since it's been opened this issue gained little traction and we'd like to dedicate our time to implement changes we find more valuable to users.

As a possible workaround, Elasticsearch's security (free starting versions 6.8.0 and 7.1.0) can be used to configure more fine grained access controls in order to prevent i

[2020-06-03 13:34] #10498 closed

[2020-06-03 13:42] dfbernal commented on #25189
It would be great if we could manage the synonym file like we manage an index. Elasticsearch would be responsible for distributing out this file to every node in a similar fashion to how nodes have replicas of shards.

[2020-06-03 14:02] DaveCTurner commented on #6638
We discussed this again today and feel that there are now a decent number of third-party options that would let you achieve the goals of this feature request without needing any changes in Elasticsearch. For example, Minio will accept snapshots onto a single node, or indeed onto a completely independent cluster. Implementing this feature would, in effect, require us to duplicate all the work that

[2020-06-03 14:02] #6638 closed

[2020-06-03 14:23] avstri opened #57604 "windows msi package custom configuration path jvm options couldn't be found"
**Elasticsearch version** (`bin/elasticsearch --version`):7.7.0

**Plugins installed**: []

**JVM version** (`java -version`):openjdk 14 2020-03-17 (bundled)

**OS version** (`uname -a` if on a Unix-like system):windows10 x64

**Description of the problem including expected versus actual behavior**: elasticsearch does not start due to JVM not able to find options file.
Could not evaluate jvm.optio

[2020-06-03 14:37] lockewritesdocs commented on #40644
@DaveCTurner, I opened #57560 to address this issue. Regarding this statement:

Are you hoping to condense the concepts of the read/write model into the topic for near-real time search? Namely describing how ES uses a replication group for writes and a coordinator node for reads, both of which can impact the refresh? I just want to ensure that I understand your intention.

[2020-06-03 14:38] wylieconlon commented on #56195
This seems like an unintuitive API choice- like other commenters, I was expecting that this would filter individual fields as well. I previously described the expected API in https://github.com/elastic/elasticsearch/issues/52730, with the semantics that others were expecting.

[2020-06-03 14:44] jkakavas opened #57606 "Make elasticserach.test-with-ssl plugin more generic"
#57319 is awesome, but we could enhance it so that it can be used by many subprojects and in fips tests

1. We should generate a CA that signs our certificates and then make all the key and certificate material available to the nodes in all formats:
  - Setup a CA key and certificate
  - Generate test-node private key and certificate signed by that CA
  - Generate test-client private key and certi

[2020-06-03 14:44] elasticmachine commented on #57606
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-06-03 15:03] cipriandumitrel commented on #57546
Ok, that answered my question. Thanks a lot, @gaobinlong, for your input.

[2020-06-03 15:20] mayya-sharipova commented on #53181
@jtibshirani  Indeed, `wildcard` is very useful for ECS and logging solutions, but being special "keyword" type, it doesn't deal with full-text search. I think with the main goal of a  new `text_keyword` field is to substitute text/keyword multi-field for a dynamic string mapping (as you correctly noticed). The benefits of this are following:
-   Make automatic decisions what sub-field to use for

[2020-06-03 15:33] dnhatn opened #57610 "Flush shards when uncommitted translog is old"
Today we periodically flush a shard when the uncommitted translog size reaches 512MB (the default [flush threshold](https://github.com/elastic/elasticsearch/blob/ee7868d68733f195dc46926a7eab3d9dd7033ef4/server/src/main/java/org/elasticsearch/index/IndexSettings.java#L188)), or when it becomes [idle](https://github.com/elastic/elasticsearch/blob/725dda37ea570741595df25de2f86dc794cfec68/server/src/m

[2020-06-03 15:33] elasticmachine commented on #57610
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-06-03 15:42] #56833 closed

[2020-06-03 15:54] DaveFelce commented on #25067
Adding in `- discovery.type=single-node` fixed this issue for me (Docker on Mac). I had previously also tried raising the memory limit in Docker settings to 4G and those settings were still in place, but on their own had not fixed the issue. My environment now looks like this:

[code]

[2020-06-03 15:54] #51731 closed

[2020-06-03 16:01] elasticmachine commented on #56004
Pinging @elastic/es-ui (:ES-UI)

[2020-06-03 16:05] HarshadRanganathan opened #57614 "ES Kuromoji Tokenizer removes (株) if present in katakana writing system"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.1.1

**Plugins installed**: [analysis-icu, analysis-kuromoji, discovery-ec2, repository-s3]

**JVM version** (`java -version`): 12.0.1 (bundled jdk)

**OS version** (`uname -a` if on a Unix-like system): Linux amzn2.x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

ES Kuromoji Tokenizer removes

[2020-06-03 17:14] fcofdez commented on #57115
Maybe we can try to use the apache http transport to confirm this is a Java HTTP client issue?

[2020-06-03 17:43] jimczi commented on #56195
We discussed offline with @wylieconlon and agreed that this proposal has the benefit of keeping things fast on any circumstances. We also clarified that this solution will be effective once we move to the new indexing strategy in beats so the user experience should be the same as the one proposed in #52730.

[2020-06-03 17:43] albertzaharovits commented on #57554
It should, but I can't explain it. I followed the callers of `Coordinator#startElectionScheduler` and I didn't spot any circumstances that it could run under a user context.
It started failing yesterday https://gradle-enterprise.elastic.co/s/n65kap2hjrxwg/console-log?task=:x-pack:qa:rolling-upgrade:v6.8.10%23upgradedClusterTest .

@elastic/es-distributed are you aware of anything that changed in t

[2020-06-03 17:45] jimczi commented on #52730
Closing in favor of https://github.com/elastic/elasticsearch/issues/56195 which will add index filtering capabilities in the `_field_caps` API

[2020-06-03 18:29] ddolcimascolo commented on #57356
Hey guys, am I really the only one hitting this? I'll be glad to hear back from you to understand what we did wrong...

[2020-06-03 19:42] jimczi commented on #57614
It provides two tokens （株）, 巴商会.
Seems the kuromoji analyzer is working as expected but the corresponding ES plugin is having an issue processing this text.

The `unidic` dictionary that is used internally by Lucene contains an entry for `（株）`. This means that it considers the full-width parenthesis as part of the token. The Kuromoji tokenizer is setup to remove punctuations by default (discard_pu

[2020-06-03 19:42] #57614 closed

[2020-06-03 19:55] jimczi commented on #57537
I don't think we should tied this to the Kibana admin user. IMO the main question is whether we want to expose the metadata associated with an async search to any user. These metadata infos shouldn't contain any sensible information so I don't see why we couldn't. The following question is how should it be exposed, maybe an additional parameter on the get API  is enough ?

[2020-06-03 19:57] elasticmachine commented on #57486
Pinging @elastic/es-docs (>docs)

[2020-06-03 19:58] elasticmachine commented on #57402
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-06-03 20:00] jimczi commented on #57402
@nik9000 could it be related to your [recent change](https://github.com/elastic/elasticsearch/pull/57361) on the sig terms agg ?

[2020-06-03 20:10] jimczi commented on #57231
That sounds like a reasonable change. However I don't think we should add an `IndexFieldDataContext`  or change the IndexFieldData.Builder.build method. I'd prefer that we change `MappedFieldType#fielddataBuilder` and `IndexFieldData#getForField` to take an extra `int shardId` argument. You can then pass the shardId info to your custom builder if needed.
Does that makes sense @anti-social ?

[2020-06-03 20:14] jimczi commented on #55913
We don't plan to add support for emoji sequences in the smartcn tokenizer so I hope you don't mind if I close this issue. You should use the `icu` tokenizer which handles emojis natively.

[2020-06-03 20:14] #55913 closed

[2020-06-03 20:30] jimczi commented on #54058
@jpountz should we close this issue now that https://github.com/elastic/elasticsearch/pull/55852 is merged ?

[2020-06-03 20:42] rjernst commented on #57356
@ddolcimascolo As you noted, `jvm.options.d` is the correct long term solution for this problem, which we have already implemented. It looks like you are hitting an edge case since the jvm will default to serial GC in very few cases (are you on a single core?). And there isn't really anything we can do as far as upgrade warnings, especially in non-interactive scenarios. Configuration file conflict

[2020-06-03 20:42] #57356 closed

[2020-06-03 20:45] travisby opened #57624 "terminate_after uses heuristic hits value instead of actual"
tl;dr:

I believe there's a regression with using `terminate_after` in searches from es6->7 because of the changes to `track_total_hits` and `hits.total.value` now being a heuristical value.

------

Hello!

I've been looking into why kibana filter autocomplete has been so slow after our transition from an es/logstash/kibana-6.4 stack to an es/logstash/kibana-7.6 stack.  We had also made some shar

[2020-06-03 20:53] jguay opened #57625 "Watcher does not support passing the "params" to stored script"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.6.2 / 7.7.0
**Description of the problem including expected versus actual behavior**:
Currently watcher [does not support](https://github.com/elastic/elasticsearch/blob/7.7/x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/support/Variables.java#L18-L25) passing params although there is an example in the [doc](https://w

[2020-06-03 20:53] elasticmachine commented on #57625
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-06-03 20:53] elasticmachine commented on #57625
Pinging @elastic/es-core-features (:Core/Features/Watcher)

[2020-06-03 21:04] mayya-sharipova commented on #57349
@nithril Thank you for reporting this issue.
This is an unfortunate bug of index corruption which happens when an index was updated after it has been shrunk, and force merge was not performed.
More unfortunate, there is nothing we can do with this corrupt index but delete it.

The related [Lucene bug](https://issues.apache.org/jira/browse/LUCENE-9300) was incorporated into Elasticsearch 7.7.1. So

[2020-06-03 21:04] #57349 closed

[2020-06-03 21:21] ddolcimascolo commented on #57356
I don't mind at all, just wanted to hear you back 😏
Keep up the good work!

David

[2020-06-03 21:28] DaveCTurner commented on #56979
Closing this due to inactivity, but will reopen if it reproduces in a newer version.

[2020-06-03 21:28] #56979 closed

[2020-06-03 21:28] nik9000 commented on #57402
I'll take a look!

[2020-06-03 21:38] nik9000 commented on #57402
Yup. That is me! I've got a fix coming in #57397.

[2020-06-03 21:51] nik9000 commented on #57402
This reproduces it for me:
[code]

[2020-06-03 21:59] rossiya opened #57630 "UNC paths in `path.repo` are prepended with `path.home`"
**Elasticsearch version** (`bin/elasticsearch --version`):

- `Version: 7.7.0, Build: default/docker/81a1e9eda8e6183f5237786246f6dced26a10eaf/2020-05-12T02:01:37.602180Z, JVM: 14`

- `Version: 7.5.2, Build: default/docker/8bec50e1e0ad29dad5653712cf3bb580cd1afcdf/2020-01-15T12:11:52.313576Z, JVM: 13.0.1`

(replicated on multiple versions)

**Plugins installed**: []

**JVM version** (`java -version`

[2020-06-03 23:38] rjernst commented on #57369
The periodic cleanup being described there is within one boot of the system. Systemd by default runs cleanup of temp files 15 mins after boot, and then every 24 hours. We use a private tmp dir so our files do not get cleaned up by that periodic cleanup, but the system should still do its own /tmp cleanup on boot (in fact I think most systems now use a tmpfs mount for /tmp so it is automatically wi

[2020-06-04 04:03] tvernum commented on #52244
I've renamed the issue and switched it from `bug` to `enhancement` because we now explicitly prevent derived API keys from having any privileges (that is, what was previously classified as a bug is now the explicit behaviour).

That doesn't change anything regarding our priorities, or our interest in resolving this.

[2020-06-04 04:15] ywangd opened #57638 "Improve search filtering for GET API keys API"
The GET API keys API can take a few query parameters to filter the response. For an example, the `name` parameter can be used to find API keys that have the given name. Currently all these parameters support only exact match and this may not work well where there are a large number of API keys. This could be improved by, e.g. supporting wildcard for the `name` fields.

[2020-06-04 05:32] Bukhtawar commented on #39128
Hi @original-brownbear We saw an issue with 6.8 where the master pings got delayed in responding after having received it. Similarly data node probably processed a ping late. https://discuss.elastic.co/t/delay-in-processing-fault-detection-pings/235572

While I think logging helps with debugging a great deal, even it be for a GC I guess that would be fine to answer questions on pings getting delay

[2020-06-04 07:00] russcam opened #57639 "Voting config exclusions APIs return \n response"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.8.0-SNAPSHOT

**Plugins installed**: []

**JVM version** (`java -version`): bundled JDK

**OS version** (`uname -a` if on a Unix-like system): Windows 10

**Description of the problem including expected versus actual behavior**:

The Voting Config Exclusions APIs (POST and DELETE) both return `\n` as the response with a content-type head

[2020-06-04 07:05] elasticmachine commented on #57639
Pinging @elastic/es-core-infra (:Core/Infra/REST API)

[2020-06-04 07:13] DaveCTurner commented on #57639
:+1: The empty string (mod whitespace) is not valid JSON. I would prefer that we return an empty JSON object but either solution works for me, and the actual fix is rather simple. The bigger question is why the REST test suite didn't already notice this, which is why I've labelled this for the attention of the core/infra team. I investigated a bit myself but couldn't immediately identify a good pl

[2020-06-04 08:07] g-w opened #57644 "IllegalArgumentException: numHits must be > 0 in ES 7.7.0"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 7.7.0, Build: default/docker/81a1e9eda8e6183f5237786246f6dced26a10eaf/2020-05-12T02:01:37.602180Z, JVM: 14

**Plugins installed**:
No additional plugins where installed.

**JVM version** (`java -version`):
openjdk version "14" 2020-03-17
OpenJDK Runtime Environment AdoptOpenJDK (build 14+36)
OpenJDK 64-Bit Server VM AdoptOpenJDK (

[2020-06-04 08:12] ywelsch commented on #57554
I'm not aware of any recent changes that could have caused this, but I have a suspicion how this could have happened (it's a scenario @DaveCTurner discussed with me some days ago): During the rolling restart, one of the 6.x nodes is restarted. A 7.x node receives the disconnect event (precisely, LeaderChecker receives this event via the ConnectionListener that it has registered), and triggers elec

[2020-06-04 08:14] droberts195 opened #57645 "[ML] Deleting open job's results index causes recreation with write alias name"
Deleting the results index of an anomaly detection job while it is running is not expected or supported.  However, if it is done then this is what happens:

- Because the results writes are being made via the write alias, a concrete index named after the write alias is auto-created
- Because reads of results are done via the read alias, subsequent reads of results for the job find no results

So,

[2020-06-04 08:14] elasticmachine commented on #57645
Pinging @elastic/ml-core (:ml)

[2020-06-04 08:37] anti-social commented on #57231
Thanks for your response.

`IndexFieldData#getForField` should be modified in any case. Changing `MappedFieldType#fielddataBuilder` looks good for me.

Can I try to make a PR?

[2020-06-04 08:42] albertzaharovits commented on #57364
Following our last discussion, I'm going to prototype this option.

`CachingUsernamePasswordRealm` is a complicated beast because it conflates two responsibilities: caching of successful authentications and ensuring a single concurrent password verification for a given username. The latter is less useful for native and file realms (certainly not useful when validating different passwords) so I am

[2020-06-04 08:47] jimczi commented on #57231
Sure, this will give a better idea of the extent of the change.

[2020-06-04 09:09] ywelsch commented on #57554
Some more digging shows that we're polluting the transport event loop threads with various thread contexts. This explains why calls that come from the event loop (such as the disconnect event) can come in under some prior thread context.

While we need to figure out what the thread context for the `ConnectionListener`s should be (probably the ones with which they were added), we should also make s

[2020-06-04 09:10] markharwood commented on #53603
@mayya-sharipova that's not clear to me - it will need thrashing out on https://github.com/elastic/elasticsearch/issues/25487

For the moment I'm assuming we're not relying on getting that fix because it's a breaking change that will need to wait for 8.0 and we want case insensitive search out in 7x

No, but our policy on policing broken queries was to allow them given @jimczi said this:

I took t

[2020-06-04 09:15] asfalots commented on #30724
Hi, Same issue for me, spent a few hours to discover the culprit.

At least updating the document will help

[2020-06-04 09:45] ywelsch commented on #57554
More digging shows that the pollution is caused by #56961 as this now restores some thread context in `Netty4MessageChannelHandler.write`. /cc: @original-brownbear

[2020-06-04 09:49] original-brownbear commented on #57554
Ah nasty thanks for tracking this down @ywelsch . Should I look into a fix for this or do you know a quick-fix here?

[2020-06-04 09:54] DaveCTurner opened #57650 ":qa:repository-multi-version BWC tests failing with"
**Build scan**:

Lots, see e.g. https://gradle-enterprise.elastic.co/s/nrzcy2j2l4ivo

**Repro line**:

[code]

**Reproduces locally?**:

Yep

**Applicable branches**:

Master

**Failure history**:

Looks to be caused by 7d3a7afd16a44f2c5dbdf24954986ffeda8b58e4 (i.e. #57325)

**Failure excerpt**:

[code]

[2020-06-04 09:54] elasticmachine commented on #57650
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-06-04 09:56] original-brownbear commented on #57650
Yea looks like we'll have to adjust the test here some more to make a BwC create snapshot request. I'll deal with it shortly :)

[2020-06-04 10:12] romseygeek opened #57651 "Range aggregations do not work as expected with NANOSECOND resolution"
DateRangeAggregatorTests#testCase() has the following code in it, which is supposed to change the resolution at which aggregations on date range fields are run:
[code]

However, `DateFieldMapper.Builder.withResolution()` doesn't actually make any changes to the underlying MappedFieldType, so this means that tests are always run with the default resolution (`Resolution.MILLISECONDS`).  The tests fa

[2020-06-04 10:12] elasticmachine commented on #57651
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-06-04 10:31] russcam commented on #57639
Would another possible solution here be to return an acknowledged response i.e.

[code]
?

For the YAML tests, I think a match on `$body` for the expected response could be added to make the assertion. For example

https://github.com/elastic/elasticsearch/blob/3a15d84af92fe9b25b9dd7e3621804996a59843d/rest-api-spec/src/main/resources/rest-api-spec/test/cluster.voting_config_exclusions/10_basic.yml#

[2020-06-04 10:36] elasticmachine commented on #57630
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-06-04 10:40] DaveCTurner commented on #57630
@rossiya it looks like this node is running on some kind of Unix variant, within Docker, and not on Windows. UNC paths are only meaningful on Windows. Can you confirm that? If so, I think we can make this clearer in the docs.

[2020-06-04 10:50] DaveCTurner commented on #57639
No, I don't think an acknowledged response is appropriate here. `acknowledged: true` means that every node in the cluster has applied the resulting cluster state, but that's irrelevant for voting config exclusions since these things are only used on the master.

[2020-06-04 11:07] jimczi commented on #57644
Thanks for reporting @g-w , this bug is already fixed by https://github.com/elastic/elasticsearch/pull/57044 so I hope you don't mind if I close the issue. You should upgrade to `7.7.1` which contains the fix.

[2020-06-04 11:07] #57644 closed

[2020-06-04 11:26] astefan commented on #57270
There is a simpler scenario in which this reproduces, there is no need for a GROUP BY: `SELECT dete AS dete FROM test WHERE dete = 5`

[2020-06-04 12:09] DaveCTurner opened #57657 "MixedClusterClientYamlTestSuiteIT fails with "Partial shards failure" instead of "Trying to create too many buckets""
**Build scan**:

https://gradle-enterprise.elastic.co/s/3bcaij5hfyzhs

**Repro line**:

`./gradlew ':qa:mixed-cluster:v7.2.0#mixedClusterTest' --tests "org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT" \
  -Dtests.method="test {p0=search.aggregation/240_max_buckets/Max bucket}" \
  -Dtests.seed=D1E3CB4F243CA3C9 \
  -Dtests.security.manager=true \
  -Dtests.locale=fr-FR \
  -Dtests.tim

[2020-06-04 12:09] elasticmachine commented on #57657
Pinging @elastic/es-search (:Search/Search)

[2020-06-04 12:22] biswajit-landmarkgroup commented on #13462
Any solution for getting the last update time for indices? In the _cat/indices API we are getting the creation date and not able to get the last update time. Waiting for any reply on this.

[2020-06-04 12:36] DaveCTurner opened #57660 "GlobalCheckpointSyncIT#testBackgroundGlobalCheckpointSync apparently stuck during recovery"
**Build scan**:

https://gradle-enterprise.elastic.co/s/nunjhzthd7sam

**Repro line**:

[code]

**Reproduces locally?**:

Not after 50 repeats

**Applicable branches**:

`master`

**Failure history**:

3 failures on `master` since 2020-05-27, the next-most-recent failure of this test was 2019-08-05 and looks unrelated

https://build-stats.elastic.co/goto/0aeca547109980a862e1b4e939832e3c

**Failure

[2020-06-04 12:36] elasticmachine commented on #57660
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-06-04 12:53] DaveCTurner opened #57662 "Streamline no-op template updates"
Today every put-template request (both composable and legacy) results in a cluster state update, even if the cluster state already contains exactly the template that we're trying to put. There's no need to update the cluster state if the template is already there, so it would be preferable to skip any such requests without needing to publish a new cluster state version.

[2020-06-04 12:53] elasticmachine commented on #57662
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-06-04 12:55] #57521 closed

[2020-06-04 13:50] matriv opened #57668 "SQL: Exception thrown for agg query with duplicate aliases"
There is an issue when you have duplicate aliases and using numeric references or the initial column names:
[code]
or
[code]
both return an error like the following:
[code]

[2020-06-04 13:50] elasticmachine commented on #57668
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-06-04 13:59] kstevens715 opened #57672 "Formats date_optional_time and dateOptionalTime are no longer interchangeable"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.7.1 and 7.6.2. I'm currently using Docker with image: docker.elastic.co/elasticsearch/elasticsearch:7.7.1

**Plugins installed**: []

**JVM version** (`java -version`): Returns nothing in Docker container.

**OS version** (`uname -a` if on a Unix-like system): Linux 1a0ec47b8a82 4.19.76-linuxkit #1 SMP Tue May 26 11:42:35 UTC 2020 x86_64

[2020-06-04 14:00] nik9000 commented on #57651
I added some tests for, I think, min and max that assert nanoseconds. The way it is rigged up feels a little brittle to me.

[2020-06-04 14:02] DaveCTurner opened #57673 "Plugin [id: 'com.gradle.enterprise', version: '3.3.3'] was not found"
**Build scan**:

No scan is linked, but here's the log.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+release-tests/34/console

**Repro line**:

Unknown.

**Reproduces locally?**:

Not sure how to try.

**Applicable branches**:

7.x

**Failure history**:

#57583 (ddf01f89eff62c6c1b860b91cd8917e22a96d8b3) introduced the dependency on `Plugin [id: 'com.gradle.enterprise', versio

[2020-06-04 14:02] elasticmachine commented on #57673
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-06-04 14:12] albertzaharovits commented on #57554
Great investigation on this one @ywelsch !

IIUC we should be able to assert (actually throw IllegalStateException) that the thread context on the `transport_worker` thread right before serialization is empty (i.e. system context). Similarly the thread context on various connection listener event handlers.

My reasoning is that leaking thread context between threads like this is Security's worst n

[2020-06-04 14:18] ywelsch commented on #57554
correct, I'm working on a PR that adds those kind of assertions.

[2020-06-04 14:25] mayya-sharipova commented on #53603
@markharwood Thanks for the clarification, makes sense.

This makes sense to me:  when `case_sensitive` search is requested, we will never run the query through a normalizer.

[2020-06-04 14:44] astefan commented on #45251
This is how PostgreSQL is behaving regarding SUM, for the following data:

[code]

For the query `SELECT SUM(val) FROM test WHERE val=123;`, the result is:

[code]

Obviously, for the query that is explicitly looking at 0 values `SELECT SUM(val) FROM test WHERE val=0;`:

[code]

@nik9000 @polyfractal

[2020-06-04 14:58] #57554 closed

[2020-06-04 15:10] dakrone commented on #57662
@DaveCTurner this sounds pretty reasonable to me, out of curiosity, was this causing any problems anywhere?

[2020-06-04 15:11] jbaiera commented on #56450
Our discussion on the pro’s and con’s of the suggested options was really good. The current state of the system is not technically “correct” but fixing it may create new problems:

1. We're really hesitant to add new thread pools, even for this. We need to make sure that adding another thread pool isn't a burden and will actually help the system's health.
2. Search threads are not necessarily the

[2020-06-04 15:18] #56499 closed

[2020-06-04 15:49] consulthys commented on #50109
I've had the same issue and would love to see support for date histograms on open-ended date range fields.

The way I'm dealing with this right now is by using scripting (and #50190 will definitely help here, too). It's clunky, it's not flexible but it works for what I need to do.

In my documents, I have a `date_range` field (say `period`) but also the two date fields for the start and end of the

[2020-06-04 15:57] DaveCTurner opened #57684 "search.aggregation/20_terms/string profiler expected MapStringTermsAggregator but got StringTermsAggregator"
**Build scan**:

https://gradle-enterprise.elastic.co/s/6ismi6472kw5m/console-log?task=:qa:mixed-cluster:v7.9.0%23mixedClusterTest

**Repro line**:

`REPRODUCE WITH: ./gradlew ':qa:mixed-cluster:v7.9.0#mixedClusterTest' --tests "org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT" -Dtests.method="test {p0=search.aggregation/20_terms/string profiler}" -Dtests.seed=743AEE0FD74F7949 -Dtests