[2018-02-09 10:31] colings86 opened #28601 "Build fails with "Could not dispatch a message to the daemon.""
Example build failures:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=sles/2027/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu/2027/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/592/console

At first glance it seems like an issue with runbl

[2018-02-09 10:58] erdarun commented on #28591
Yes, To add more details

We have dependency with path.repo setup on all cluster nodes for backup location to be pointed for Snapshot/Restore.

If you can specify from Shapshot/Restore API which node can write to backup, then there is no need for backup mount point at all the nodes.

We hav use case where elasticsearch cluster nodes are distributed across DC. Here we can't have common mount point

[2018-02-09 11:03] javanna commented on #24416
@mayya-sharipova were you able to repro with the seed? I've seen a similar failure also on master (https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+oracle-java10-periodic/61) yet I can not repro on any branch with any seed.

[2018-02-09 11:11] colings86 commented on #28601
So from reading more it seems that the gradle daemon is run regardless of the settings but is started and shut down for the build if you disable it so it only survives for that single build.

@danielmitterdorfer and I concentrated just on https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+bwc-tests/592/console and found output indicating where the daemon log file is located:
[code]

[2018-02-09 11:21] elasticmachine opened #30061 "Alias types: read_only vs read_write"
*Original comment by @clintongormley:*

In Index Lifecycle Management we have come across a problem with rollover which we hope to solve with a change to aliases.

## Problem 1: Rollover requires an alias

Rollovers creates a new index, then changes the alias from pointing to the old index to point to the new index.

The alias name is the only index-specific value that is needed by the ILM policy

[2018-02-09 11:55] elasticmachine opened #30062 "[CI] TokenServiceTests testTokenExpiry fails"
*Original comment by @cbuescher:*

LINK REDACTED

Can reproduce locally with:
[code]
Failure:
[code]

[2018-02-09 13:19] colings86 commented on #28578
Possibly another instance of this but this time I can't see a specific test that is failing and I don't see an OOM: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+zing/116/console

[2018-02-09 13:41] #28568 closed

[2018-02-09 14:28] mayya-sharipova commented on #24416
@javanna I were not able to reproduce it. I guess the test fails when replica lags behind the main shard in updating docs.

[2018-02-09 14:32] TheFireCookie commented on #28002
Hello,
I'm encountering the same bug using NEST and I cannot find a workaround since I don't handle the serialization myself.
It's blocking the upgrade of my product to ElasticSearch 6.X
Matthias.

[2018-02-09 14:34] jasontedor commented on #28547
Thanks for the report @pznamensky.

[2018-02-09 14:55] elasticmachine opened #30063 "SQL: "dep" is reported in the columns listings, but can't be used stand-alone in SELECTs"
*Original comment by @bpintea:*

"SYS COLUMNS" will report the _dep_ column, of type "nested". However, if this column is used in a SELECT statement ("SELECT age, dep FROM test_emp"), an exception will be raised and error returned: "Cannot use field [dep] type [nested] only its subfields"

Using it with further qualifiers ("SELECT age, dep.dep_id FROM test_emp") will work as expected, however.

[2018-02-09 15:04] Lackoftactics commented on #23142
Any progress on 6.2? Need this feature

[2018-02-09 15:27] Lackoftactics opened #28605 "Normalizers poor support for token filters and missing docs"
When trying to skip using fielddate, I really want fast queries without keeping things in memory and for finding fields with `type: 'keyword'` you have to use `normalizer'. I would use this query for sorting huge amount of data, if that's helpful.

Usage of normalizer is really limited and you can only examine tokens which you get from normalizer from 6.x version.

[code]
When adding new normalize

[2018-02-09 15:45] colings86 commented on #28601
Another instance of this: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=amazon/2027/console

[2018-02-09 15:47] colings86 commented on #28578
Another instance of a JVM crash on zing: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+zing/115/console

[2018-02-09 16:41] romseygeek commented on #24416
I think what is happening here is that the indexing and then force-merge on the master are not necessarily being replayed in exactly the same order on the replica, and so instead of ending up with a single sorted segment, we have two segments, the second of which only contains document `8`.  Although there's a refresh and two searches in between the last index and the force-merge, so how the reord

[2018-02-09 17:06] dnhatn commented on #28435
Closed by #28604

[2018-02-09 17:06] #28435 closed

[2018-02-09 17:14] jasontedor commented on #28578
We are disabling these builds.

[2018-02-09 17:14] #28578 closed

[2018-02-09 17:31] nik9000 commented on #28600
It looks like this has only happened one other time:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=fedora/647/console

Hunting!

[2018-02-09 17:55] waltrinehart commented on #28026
If you have dedicated master nodes, we were able to workaround this by downgrading them to a previous version (5.6.1 in our case) and then removing the offending settings, then re-upgrading.

[2018-02-09 18:25] nik9000 commented on #28601
I get this locally when I run builds in parallel and there is an error.

[2018-02-09 18:46] pickypg opened #28609 "[Settings] Allow Deletion of unknown settings"
When upgrading a cluster with a `/_cluster/settings` that disappears (or is changed and not properly registered by a plugin), then it becomes impossible to _unset_ a persistent setting. Worse still, it then becomes a problem to apply new settings because it tries to merge the old settings.

[code]

should be allowed  to run even though the setting is unrecognized.

[2018-02-09 20:03] nik9000 commented on #28600
I can't reproduce and don't have any hints on how this happened. I'm going to set it down until it happens again.

[2018-02-09 20:23] dnhatn commented on #25773
The test was stuck in an infinite loop of flushing - it expected one more flush but the actual value was 247006 flushes.
[code]
This issue were addressed by #28350.

[2018-02-09 20:23] #25773 closed

[2018-02-09 22:12] flefebure opened #28611 "composite aggregation as child aggregation"
The 6.x new composite aggregation provides a way to scroll and page on terms bucket, and it's a good thing.
However, it's not (for now?) possible to set a composite aggregation as a child of another bucket aggregation.
So it's impossible, for example, to composite-aggregate on a nested or a child entity. This request is not allowed :

[code]
I don't understand this limitation.
Furthermore, an ES 6

[2018-02-09 23:27] rjernst commented on #28452
@azsolinsky I've marked this as an `adoptme`. Do you have any interesting in working on a PR?

[2018-02-09 23:43] adamhadani opened #28612 "Support float weights for Completion Suggester"
Any reason not to? (I understand the default scoring for autocomplete is integer and roughly corresponds to character-level overlap between prefix query and entry)

This will be useful so can then index some arbitrary float `weight` into both a field and into the completion suggester, and then use that weight for tweaking default relevancy using `function_score` as well as using the `weight` suppo

[2018-02-10 16:06] mwjames commented on #26729
Only after an intense search and a misleading sorting collations document [0], I found:

Using `icu_collation_keyword` does work (on 5.6 and 6.1) but since one is not allowed to attach a `normalizer` or `analyzer`, one cannot apply a char filter which leaves the sort field unprocessed and in worst cases sorts by a html element.

Non ICU sort:
[code]

[code]

ICU sort:

[code]

Trying to add a norm

[2018-02-10 21:54] linuxcomputergeek opened #28619 "ElasticSearch will always start using the /etc/sysconfig/elasticsearch environment file even when a different path is specified"
**Elasticsearch version** (`bin/elasticsearch --version`):
ElasticSearch 6.1.2

**Plugins installed**: [ searchguard]

**JVM version** (`java -version`): Java(TM) SE Runtime Environment (build 1.8.0_112-b15)

**OS version** (`uname -a` if on a Unix-like system): RHEL 6.8/7.2

**Description of the problem including expected versus actual behavior**:

After installing the RPM package of ElasticSearc

[2018-02-11 03:16] dzyangxi opened #28620 "environment is not locked Caused by: java.nio.file.NoSuchFileException"
ElasticSearch 5.5.3

JVM version (java -version): Java HotSpot(TM) 64-Bit Server VM (build 25.151-b12, mixed mode)

OS version (linux): Ubuntu 14.04.5 LTS (GNU/Linux 3.13.0-32-generic x86_64)

[2018-02-11T10:23:46,025][WARN ][o.e.c.s.ClusterService   ] [avatar] failed to notify ClusterStateListener
java.lang.IllegalStateException: environment is not locked
	at org.elasticsearch.env.NodeEnvironment

[2018-02-11 04:20] ehtishamkhan opened #28621 "Merging document _source from 2 indices to a 3rd index"
I have a couple of indices with the following document structure.

Index 1
	"_source": {
		"guid": "abc123",
		"documentdescription": "document description",
	}

Index 2
	"_source": {
		"guid": "abc123",
		"documenttitle": "document title",
	}

I want to create a 3rd index by with _source with merged attributes on guid.

Index 3
	"_source": {
		"guid": "abc123",
		"documentdescription": "document

[2018-02-11 04:26] jasontedor commented on #28621
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2018-02-11 04:26] #28621 closed

[2018-02-11 10:00] ahmadazimi opened #28624 "There is no option to generate word parts on multiple languages in word_delimiter_graph"
Hi there,
Imagine you have texts which they combined by two or more languages characters,
For example:
`خیابانHashemi`
There is no way to  generate word parts on these texts via word_delimiter_graph filter.

[2018-02-11 11:26] chrbau opened #28625 "RestHighLevelClient endpoint construction does not URL-encode ids"
elasticsearch-rest-high-level-client Version: 6.2.1

org.elasticsearch.client.Request#endpoint (line 461) does not URL-encode document ids - this leads to an invalid request if document id contains special characters like "#" (e.g. via index(IndexRequest indexRequest))

[2018-02-11 12:44] NadavHarnik opened #28626 "Field is highlighted although not matching enough clauses with minimum_should_match"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.1.3, Build: af51318/2018-01-26T18:22:55.523Z, JVM: 1.8.0_151

**Plugins installed**: []

**OS version** (`uname -a` if on a Unix-like system):
Linux ubuntu 4.4.0-87-generic #110-Ubuntu SMP Tue Jul 18 12:55:35 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
While

[2018-02-11 13:21] faxm0dem commented on #28026
Oh very cool thanks! @scratchy can you try this?

[2018-02-12 00:31] edudar commented on #26729
This totally makes sense and even while I didn’t need to normalize fields in my case I agree that it should be possible. With all of that, I don’t know why it was implemented as it’s own type instead of a filter as it was before. Flexibility is seriously reduced with the way it works now.

[2018-02-12 04:28] elasticmachine opened #30064 "Anonymous access docs need more info"
*Original comment by @tvernum:*

- Doc: https://www.elastic.co/guide/en/x-pack/6.2/anonymous-access.html
- Raised: https://discuss.elastic.co/t/action-cluster-monitor-main-is-unauthorized-for-user/119074/3

The docs for anonymous access describe some of the underlying details of how it works, but don't do a great job of explaining the steps to turn it on.
It would be good expand the doc with those

[2018-02-12 08:04] #24416 closed

[2018-02-12 08:11] jimczi commented on #24416
Thanks for investigating @javanna @mayya-sharipova @romseygeek
I pushed a fix to set the number of replicas to 0, I agree that it doesn't add anything to have replicas in this test.

[2018-02-12 08:51] jloisel opened #28628 "[v6.1.x] Possible Memory Leak leads to Java Heap Space"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.1.2

**Plugins installed**: []

**JVM version** (`java -version`): elasticsearch-oss docker image JVM

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 16.04 LTS, Docker 17.09-ce

**Description of the problem including expected versus actual behavior**:

Hi,

Since we migrated from v5.6.5 to v6.1.2, we experience repeated Jav

[2018-02-12 08:54] jloisel commented on #28628
Access to the database is done from 3 Java backends who use the Java Transportclient.

[2018-02-12 09:18] javanna commented on #28625
That's right, the client leaves ids untouched. Much better than modifying them and leaving users wondering why they can't retrieve those docs back by id. Users can encode their invalid ids as they wish though.

[2018-02-12 09:19] javanna commented on #28500
Closing, will be implemented as part of #21888 like mentioned above.

[2018-02-12 09:19] #28500 closed

[2018-02-12 09:19] colings86 commented on #26745
This failed again in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+openjdk-java8-periodic/79/console

It seems that this has failed 6 times since July 2017 and only ever on the 5.6 branch. I'm going to try to see what is different between the 5.6 and 6.x branch in this area to see if there is anything that could be causing this on 5.6

[2018-02-12 09:33] jpountz commented on #28555
For the record, one thing we need to be careful with is that we should not let merges fall behind or updates/search are going to slow down due to the high number of segments.

The merge scheduler already has logic to throttle merges based on whether the merging backlog is stable, decreases or increases. This helps control how much is written per second, but not the concurrency of merges: if a node

[2018-02-12 09:45] cbuescher commented on #21463
Another one here: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+oracle-java10-periodic/79/console

[2018-02-12 10:00] andrewliuxxx opened #28630 "[V6.0.1 ]High IO when use replica"
Elasticsearch version (bin/elasticsearch --version): 6.0.1
Plugins installed: []
JVM version (java -version): 1.8.0_151
OS version (uname -a if on a Unix-like system): 3.10.0-327.el7.x86_64 #1 SMP Thu Oct 29 17:29:29 EDT 2015 x86_64 x86_64 x86_64 GNU/Linux

Description of the problem including expected versus actual behavior:
Hi：
I have a ES 6.0.1 cluster with 64 machine and 256 nodes .with about

[2018-02-12 10:02] chrbau commented on #28625
Elasticsearch supports characters which need URL-encoding like "#" in ids - so to my knowledge those ids are perfectly valid ES-ids - right? Thus I need the work-around to build IndexRequests like this:

new IndexRequest(index, type, urlEncode(id))

and retrieve/delete/update like this:

new GetRequest(index, type, urlEncode(id))
new DeleteRequest(index, type, urlEncode(id))
new UpdateRequest(inde

[2018-02-12 10:15] javanna commented on #28625
@chrbau thanks for the additional info, I think you are right :) my initial response was incorrect, encoding ids doesn't modify the way their representation in Elasticsearch.

[2018-02-12 10:35] erdarun commented on #28591
@tvernum Feedback updated

[2018-02-12 10:55] asmita2201 commented on #28326
@javanna  could you please provide an ETA for this?

[2018-02-12 11:19] ahadadi commented on #28555
I will elaborate on our setup to give you some background:
We have an 8GB index split to 100 shards. The index is fully replicated to all nodes.
The index resides on tmpfs, so I/O is irrelevant.
We use custom routing and hit on average 1.2 shards.
Our floor_segment is 20MB, segments_per_tier & max_merge_at_once = 2.
The result is that we have almost all our shards with 4 segments and a few with 2,

[2018-02-12 11:28] javanna commented on #28326
hi @asmita2201 the snapshot artifacts should be back up. Yet the URL the I gave you above needs to be configured in your maven build, it is not directly accessible from a browser.

[2018-02-12 12:15] jloisel commented on #28628
I'm closing this. We increased heap to 8g and are going to monitor the cluster JVM memory first over a few days / weeks. It should help to pinpoint any memory leak if any found.

[2018-02-12 12:15] #28628 closed

[2018-02-12 12:16] diman82 opened #28632 "Create new indice stuck forever"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.1

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_162

**OS version** (`uname -a` if on a Unix-like system): Windows 10x64 latest version

**Description of the problem including expected versus actual behavior**:
Creation of a new indice on a fresh Elastic instance simply runs forever

**

[2018-02-12 12:33] DaveCTurner commented on #28520
The geometry given self-intersects: it contains point `[-47.302481858850655,-16.04005421243197]` twice, which is not legal. You need to model this shape as an outline and a hole, rather than trying to combine them into a single outline.

GeoJSONLint (http://geojsonlint.com) is unfortunately not very thorough, and does not pick this up.

[2018-02-12 12:33] #28520 closed

[2018-02-12 12:36] #28411 closed

[2018-02-12 12:38] #28394 closed

[2018-02-12 13:30] yoav2 commented on #23674
So currently there is no "de-stemming" in significant_text?
Are there any plans to implement it?
Are you suggesting to search for the returned results and take the marked highlights?

[2018-02-12 13:52] markharwood commented on #23674
Correct - no immediate plans to look at this.

Currently we already retrieve and re-analyze the matching documents' source to find the significant words. Once determined, we could use something like a highlighter to find where the top-scoring terms lie in the source text and what the most popular form is for each stem.

[2018-02-12 14:04] yoav2 commented on #23674
Thank you.
Other small qeustion - is there any performance differences between significant_text and significant_terms?

[2018-02-12 14:19] markharwood commented on #23674
When it comes to working with text, the differences are more around memory cost and results quality rather than performance.
`significant_terms` relies on you having to load _all_ your docs' text fields into RAM using fielddata - this is prohibitively expensive for systems with lots of docs. Any repetition of text (of which there's typically lots in real-world data) will skew the stats and you [st

[2018-02-12 14:32] jeroen-80 opened #28634 "Issue assigning unassigned indexes"
[code]
Expected behavior: getting rid of unassinged indexes. Using same commands since 5.0 without any issues.

Running:
* ES + Kibana + Xpack 6.2.1.
* openjdk version "1.8.0_151"
* Linux test1 4.4.0-112-generic #135-Ubuntu SMP Fri Jan 19 11:48:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[2018-02-12 14:34] jasontedor commented on #28632
This does not reproduce, I suspect an issue in your environment. Since we reserve GitHub for verified bug reports and feature requests, I would like to ask you to use the [forum](https://discuss.elastic.co) where we can provide support for such issues. If we do find a bug here, we can reopen this. Please feel free to drop a link here to any forum topic that you open.

[2018-02-12 14:34] #28632 closed

[2018-02-12 14:34] cbismuth opened #28635 "Support Map entry key type other than String in Painless"
**Describe the feature**: support `Map` entry key type other than `String` in Painless

**Elasticsearch version**: `6.1.1`

**Plugins installed**: []

**JVM version**: `1.8.0_151`

**OS version** (`uname -a` if on a Unix-like system): `Linux dmal-insels02 4.4.0-87-generic #110-Ubuntu SMP Tue Jul 18 12:55:35 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

**Description of the problem including expected v

[2018-02-12 15:15] colings86 commented on #26745
I spoke to @jpountz and @bleskes about this (thanks both for the help and discussion) and have pushed https://github.com/elastic/elasticsearch/commit/24c10adbef334f241c18226fcc74ac10b3f6d7cd to add some more information to the assertion error. If this does not produce enough information to see whats going on we might add logging to onSuccessfulShard() and onShardFailure() to show exactly which sha

[2018-02-12 15:24] Chandan83 commented on #27862
@jimczi I could finally find get to contributing the span_near clause. The syntax, given below, is slightly different than previously proposed. I have created a pull request #28636 without writing new unit tests as I wanted some feedback on the approach.

[2018-02-12 15:35] seekingpeace commented on #23850
@rpedela  While working around for a solution of getting weighted average of precomputed scores in filtered documents, the results were highly denormalized and I thought of the same Workaround as you discussed. Still I'm just wondering that the sorting based on scores would be done after any aggregation. More specifically can I use a computed aggregation max ( max field value in filtered documents

[2018-02-12 15:59] TheFireCookie opened #28638 "Impossible to use sort unmapped_type on multiple indices"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.0

**Plugins installed**: [analysis-icu, discovery-file]

**JVM version** (`java -version`):  1.8.0_162 64 bits

**OS version** (`uname -a` if on a Unix-like system): Windows 10 Pro 64 bits

**Description of the problem including expected versus actual behavior**:
I'm indexing 2 differents types of documents in different indexes. Then

[2018-02-12 16:13] tblake84 opened #28639 "Feature Request : Compare results of two queries"
This feature request is a result of a post on Reddit in which r/warkolm asked that I open a feature request.

I would like a simplified way to compare the results of two queries.  Basically, what I am trying to do is correlate two data sets using a specific field in data set 'A' to see if it exists in a specific field of data set 'B'.  Right now, I am doing this using a pretty rough bash script wh

[2018-02-12 16:16] azsolinsky commented on #28452
I have interest, but I'm not sure about my availability; I'll have to get back on it in the near future.

[2018-02-12 17:40] rpedela commented on #23850
@seekingpeace Are you asking how to combine an aggregation with the query score, or how to achieve a similar workaround for an aggregation? If the latter, I think a similar workaround for aggregations could be achieved with the [bucket script aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-pipeline-bucket-script-aggregation.html), but I haven't trie

[2018-02-12 18:00] rjernst commented on #28635
This has nothing to do with painless. It is a result of how scripted aggs passes data across nodes. It needs to serialize the data, and any Map is serialized to a json object, which must have string keys.

/cc @colings86

[2018-02-12 18:04] seekingpeace commented on #23850
@rpedela

Yes, is it possible somehow? In a single query.

[2018-02-12 18:22] jpountz commented on #28638
`text` is not suitable for sorting in general, you should pass `unmapped_type: keyword`.

[2018-02-12 18:22] #28638 closed

[2018-02-12 18:34] jbaiera commented on #28620
Thanks for including the stack trace on this issue, but could you elaborate further on how you are reaching this error?

[2018-02-12 18:54] jbaiera commented on #28634
This looks like it would be more appropriate to discuss on the [X-Pack forum](https://discuss.elastic.co/c/x-pack).

[2018-02-12 18:54] #28634 closed

[2018-02-12 20:35] rpedela commented on #23850
@seekingpeace As far as I know, you can't combine an aggregation and ```function_score``` directly. But you could perform the aggregation in the first query and then input the result as a parameter to the one of your functions in ```function_score``` of the second query. Here is the above example with a max aggregation of votes and a filter.

[code]

[2018-02-12 20:58] tdoman opened #28642 "ES 6.1.1: receiving TransportShardMultiTermsVectorAction exception"
ES 6.1.1
NEST 6.0

In perusing my ES logs, I've noticed that I'm rather frequently seeing `TransportShardMultiTermsVectorAction` exceptions.  I'm not exactly sure what a **MultiTermsVector** even is.  Anyway, I'm trying to determine the exact request that's producing this but, in the meantime, I wanted to enter this issue since I expect it's beyond my control.  Here's an example from my log:
[code

[2018-02-12 21:39] jbaiera commented on #28642
Hi @tdoman - Since this is a NPE on a request I feel like it's worth investigating further. Could you include any other information about the clients accessing your cluster (Kibana, Logstash, etc..). It looks like specifically a client is executing a Multi Term Vectors request ([docs here](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/docs-multi-termvectors.html)), which pulls inform

[2018-02-12 21:43] seekingpeace commented on #23850
Thanks for the clarification sir.

On Tue, Feb 13, 2018 at 2:06 AM, Ryan Pedela <notifications@github.com>
wrote:

[2018-02-12 22:01] azsolinsky commented on #27194
in the instance @russellday reported, logs on the master are spewing:

[code]

[2018-02-12 22:27] azsolinsky commented on #27194
It appears what happened is that upon starting up a bunch of the hosts were over the low water mark, but had replicas on them; it failed to start the shards in that case; those failures kept being repeated and piling up in pending tasks. The low water mark was increased allowing some more of the replicas to become active, but the shard-failed pending task growth just continued; seemingly with the

[2018-02-12 23:00] jasontedor commented on #28630
To me this does not look like a bug but rather a consequence of having so many instances co-located on a single machine. Are you using spinning disks, that would be a contributing factor. Also, you haven't specified what you mean by "abnormal" IO utilization (nor how you're measuring it).

Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to us

[2018-02-12 23:00] #28630 closed

[2018-02-12 23:22] tdoman commented on #28642
@jbaiera Thanks!  Sure, the only clients really hitting this system (an occasional kibana dev tools usage but not accessing this stuff) are via our Web App which uses NEST 6.0.  The errors seem to be sporadic and I have not been able to determine which requests cause it.  My best guess right now is that it is a periodically ephemeral issue cuz doing the same actions as reported by our QA, I can't

[2018-02-12 23:56] mayya-sharipova commented on #28609
We have an alternative issue #28026 that says: "we should not archive unknown and broken cluster settings. Instead, we should fail to recover the cluster state. The solution for users in an upgrade case would be to rollback to the previous version, address the settings that would be unknown or broken in the next major version, and then proceed with the upgrade."

Implementing #28026  makes this is

[2018-02-13 04:26] hjxhjh commented on #28625
should this considered as a bug？

[2018-02-13 06:18] thekettu opened #28649 "compose logs -f"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2018-02-13 06:20] #28649 closed

[2018-02-13 07:46] jpountz opened #28650 "Investigate startup times"
Integrations tests frequently take more than 20 seconds to start up an Elasticsearch node on an empty or small cluster state, which is a lot of time for a computer. Take the console output from any build and search for `#wait (Thread[Task worker for ':',5,main]) completed`, the time after `Took` on the same line is the time that the build had to wait for the node to be available. This is an immedi

[2018-02-13 07:54] FaldeenOozeer commented on #21932
Hello @rajiv180984 ,
Am currently having a similar issue. On the folder "/etc/elasticsearch", the current chown is set:
 chown -R elasticsearch:elasticsearch elasticsearch

I have a doubt it may be coming from the jvm.options not being properly loaded or not having the proper access rights. Can you please help?

Am using the following command to start Elasticsearch , sudo -u elasticsearch /usr/sha

[2018-02-13 08:28] colings86 commented on #28596
We discussed this and decided not to go ahead with it at this time as it doesn't help resource utilisation in the way I had thought.

[2018-02-13 08:28] #28596 closed

[2018-02-13 08:30] DaveCTurner commented on #28650
Here is an excerpt from the output, including timestamps, of a test run that seems to have failed because it took more than 30 seconds to bring a node up:

[code]

In particular, more than half of the 30-second timeout elapsed before the timestamp on the first log line saying `[node-0] initializing ...` log line: the task apparently started at 13:18:33, but the first timestamp in the log is 13:18:

[2018-02-13 08:35] jimczi opened #28652 "Significant terms aggregations should support breadth_first mode"
The `significant_terms` aggregation always executes in `depth_first` mode when sub-aggregations are provided. This mode uses a lot of memory since the sub-aggs need to be computed on **all** buckets. We should automatically switch to the `breadth_first` mode like the `terms` aggregation does in order to make sure that we don't use too much memory for buckets that will not survive the pruning.

[2018-02-13 09:10] bneelima84 commented on #27203
@jasontedor Have a question on using ingest processor for this scenario;
Will the mappings be determined before ingest processing starts or are they determined after ingest processing is complete ?

[2018-02-13 09:55] DaveCTurner commented on #28650
To look at the variation in the durations of `*ClusterTestCluster#wait` tasks, I downloaded the logs from a selection of recent builds and extracted the times using the following.

    cat log.txt | sed -e '/ClusterTestCluster#wait.*Took/!d; s/.* Took //; s/ .*//'

The distribution looks like this, broken down by OS:

<img width="969" alt="screen shot 2018-02-13 at 09 53 15" src="https://user-imag

[2018-02-13 10:00] colings86 opened #28653 "Release tests fail because bwc artifacts are not generated"
The release tests are failing on CI with the following error (this specific output was taken from https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/471/console but there are other build runs failing too on master and 6.x) :

[code]

@hub-cap could these failures be related to your bwc changes in the build last week?

[2018-02-13 10:08] DaveCTurner commented on #28653
I suspect #28641, since it looks like it reverts the effects of #27778.

[2018-02-13 10:53] asmita2201 commented on #28326
@javanna
I have tried using the maven build. The rest-high-level-cleint snapshot jar is getting downloaded. But one of the dependencies(org.elasticsearch:elasticsearch-secure-sm:jar:6.3.0-SNAPSHOT) needed by therest-high-level-cleint jar is not getting downloaded.

Failure to find org.elasticsearch:elasticsearch-secure-sm:jar:6.3.0-SNAPSHOT in http://s3.amazonaws.com/download.elasticsearch.org/luc

[2018-02-13 11:34] dandago opened #28654 "array_index_out_of_bounds_exception when indexing polygon with hole"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.1.2

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_151

**OS version** (`uname -a` if on a Unix-like system): Windows 10

**Description of the problem including expected versus actual behavior**: I am trying to index a polygon with a hole. Normally this works, but with a particular set of points it keeps failing wit

[2018-02-13 11:43] danielmitterdorfer commented on #28601
I gathered a bit more information about these failures. They started on August 3, 2017 with `build.last-success.commit-id` 8ef7438d6c874586a97d29687facf162390d7923. We have disabled the Gradle daemon in 2f95e4a86c41b5da4e2c1a20cf337498f9496a01 on November 25, 2017 so we already ran for a while in this configuration before the failures have occurred.

We have 63 build failures until today. I have a

[2018-02-13 12:26] FabianKoestring commented on #3975
`lenient` works perfectly for me.

[2018-02-13 12:35] hub-cap commented on #28653
yea that was apparently only a partial fix. These should be testing against those snapshot versions, but bwc was changed to "pretend" those were releases, so it looks like i just missed a spot to unpretend. As you can see from the rpm etc generation, its not appending -SNAPSHOT to these artifacts, as it should be. So another fix on top of #28641 will be incoming to further fix this bug that it unc

[2018-02-13 13:06] hub-cap commented on #28653
Its due to the build.snapshot being propagated into the snapshot build of the checkout. I need to chat w @rjernst to see if this is valid. I suspect it should not be passing this down since they are not releases.

[code]

[2018-02-13 13:10] jasontedor commented on #28653
@hub-cap The mechanism for passing the `build.snapshot` value down to the BWC builds is here: https://github.com/elastic/elasticsearch/blob/d994bbecb92a53732f0c1f7e393a1ee9da91d915/distribution/bwc/build.gradle#L142

[2018-02-13 13:10] hub-cap commented on #28653
https://github.com/elastic/elasticsearch/blob/798066a96dde8e69ac6bdeb83ec18b0af5d67e04/distribution/bwc/build.gradle#L141

ya and it used to be hardcoded to true @jasontedor

[2018-02-13 13:35] mgreau opened #28658 "Missing maven artifacts elasticsearch-secure-sm for 6.3.0-SNAPSHOT"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.3.0-SNAPSHOT

**Description of the problem including expected versus actual behavior**:
`org.elasticsearch:elasticsearch-secure-sm:jar:6.3.0-SNAPSHOT` and `org.elasticsearch:elasticsearch-secure-sm:pom:6.3.0-SNAPSHOT`are missing, those artifacts should be available in https://snapshots.elastic.co/maven

**Steps to reproduce**:
[code]

**

[2018-02-13 13:37] hub-cap commented on #27509
I suspect we can close this now since the version numbers have been removed from bwc. Thoughts @DaveCTurner @rjernst ?

[2018-02-13 13:37] mgreau commented on #28326
Hi @asmita2201
Good catch. I have reproduced the problem and I opened #28658 to track and fix the problem.
Thanks

[2018-02-13 13:48] jpountz commented on #28650
I just ran some xpack rolling upgrade tests with a profiler to see where time is spent. About 70% out of the ~51 seconds of CPU time that were spent on the Elasticsearch node were spent inside the JVM, mostly runnning compilation (~29 seconds).

[2018-02-13 13:53] cbuescher opened #28660 "[CI] CancelTests testUpdateByQueryCancelWithWorkers fails"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+openjdk-java9-periodic/68/console

[code]

[code]

Unfortunately I wasn't able to reproduce. I found https://github.com/elastic/elasticsearch/issues/26758 but that one seems to be a timeout while this error message looks slightly different. Will start looking into this.

[2018-02-13 14:12] DaveCTurner commented on #27509
Yes, I agree.

[2018-02-13 14:12] #27509 closed

[2018-02-13 14:17] okke-formsma opened #28662 "AccessControlException when restoring backup from azure repository"
**Elasticsearch version**
Version: 6.2.1, Build: 7299dc3/2018-02-07T19:34:26.990113Z, JVM: 1.8.0_161

**Plugins installed**: [repository-azure]

**JVM version** (`java -version`):
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux elastic6-dev 4.

[2018-02-13 14:38] antbac commented on #25563
I represent a group of people who would like to contribute to this issue, but seeing how I can't assign myself I'll just write this comment to notify you.

[2018-02-13 15:26] cbismuth commented on #28635
Oh, yes... my bad, thank you @rjernst (y)

[2018-02-13 15:34] colings86 commented on #28536
This bug seems to have been fixed in the latest t-digest release, after running the above code on the new version the bug does not reproduce. There is an [existing PR](https://github.com/elastic/elasticsearch/pull/28305) to upgrade the t-digest version so this issue should be fixed when that PR is merged

[2018-02-13 15:43] markharwood commented on #28600
I thought one explanation might be the date warning wasn't actually missing but was misinterpreted by the test framework's result-parsing logic if there happened to be an additional warning.

To test that theory I tried changing the script to produce 2 deprecation warnings, one for a date and one for an integer :

    source: "doc['date'].date +' '+ doc['integer'].date"

Sadly this didn't recreate

[2018-02-13 16:35] #28653 closed

[2018-02-13 16:38] ajaybhatnagar opened #28665 "Netty4Utils fatal error on the network layer"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.1

**Plugins installed**: [] None

**JVM version** (`java -version`): 1.8.0_162

**OS version** (`uname -a` if on a Unix-like system): Linux es6c01 4.4.0-112-generic #135-Ubuntu SMP Fri Jan 19 11:48:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behav

[2018-02-13 16:45] hub-cap commented on #28653
Ill keep an eye on this and reopen if it continues to fail. itll be a while tho

[2018-02-13 17:01] nik9000 commented on #28660
I believe this is the same issue, yeah. Though, I believe I didn't backport the changes that I made for #26758 to the 6.2 branch so that is probably what is up here. 6.2 was about to go out the door and I didn't want to destabilize it.

[2018-02-13 17:24] bleskes commented on #27194
@azsolinsky do you mind opening a topic on the [forums](http://discuss.elastic.co) and post the specific exception the shards fail with there? when we figure it we can open an issue.

[2018-02-13 18:03] ghavaun commented on #28577
how can I input API

[2018-02-13 18:05] jasontedor commented on #28665
This is what happens when a node runs out of memory, we kill the node? It is likely an indication that you are pushing more data into Elasticsearch than your set up can handle. Unless you have an indication that there is a memory leak or other problem internal to Elasticsearch, I will close this issue as not being a bug.

[2018-02-13 18:05] #28665 closed

[2018-02-13 18:05] jasontedor commented on #28577
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2018-02-13 18:05] #28577 closed

[2018-02-13 18:14] jasontedor commented on #28650
Compilation executes concurrently with application execution. While this is an indication that CPU time is being spent on compilation, it is not necessarily indicative of where the real time during startup is going.

[2018-02-13 18:24] mayya-sharipova commented on #27651
The test still fails on `master` multijob-darwin-compatibility.
Last failure Feb12: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/1676/consoleFull

[2018-02-13 18:40] dakrone commented on #27651
Okay, it failed from this:

[code]

Because of this:

[code]

Since there are multiple threads if they both pull a searcher one will end up pulling where there are no searchers. I'll fix this.

[2018-02-13 18:41] mayya-sharipova commented on #27651
@dakrone thanks Lee

[2018-02-13 19:12] mayya-sharipova opened #28668 "RemoteClusterConnectionTests. testFetchShardsSkipUnavailable"
Test failed only on  `6.x`  and `6.1` (6 times for the last 2 months)
both on Java 8 and 9, windows/unix/darwin

[code]
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=centos/670/console

This assertion fails in the test:
at org.elasticsearch.transport.RemoteClusterConnectionTests.testFetchShardsSkipUnavailable(RemoteClusterConnectionTests.java:483)

[2018-02-13 19:16] #27651 closed

[2018-02-13 21:04] mayya-sharipova commented on #28668
Is not reproducible locally for me.
I wonder if we can increate the timeout of the CountdownLatch's await to something like 10 secs:
[code]

[2018-02-13 21:14] talevy commented on #28668
@mayya-sharipova I've pushed commits to `6.x` and `master` to make it timeout after five seconds instead of one. Hopefully it stops showing up

[2018-02-13 22:11] #28605 closed

[2018-02-13 22:38] sscarduzio opened #28671 "RestoreSnapshotRequest should implement IndicesRequest interface"
According to the comments in IndicesRequest:

[code]

`org.elasticsearch.action.admin.cluster.snapshots.restore.RestoreSnapshotRequests` should implement IndicesRequest.

This is important in my plugin, as because of now, I rely on this type to understand if or not to apply the ACL rule for indices.

[2018-02-14 00:31] cailen opened #28674 "Installations and "apt update" fails - apt repo - Debian (Ubuntu 16.04)"
Hello,

I have for weeks now been getting this error when trying to do
`apt update`:

`The repository 'https://artifacts.elastic.co/packages/6.x/apt stable Release' does not have a Release file., W:Data from such a repository can't be authenticated and is therefore potentially dangerous to use., W:See apt-secure(8) manpage for repository creation and user configuration details.`

This does not see

[2018-02-14 00:53] cailen commented on #28674
Furthermore, is it normal for the certificate to be rejecting the SSL?

[code]

I checked my cert directory and it is up to date as of 1/9/18 and it has the following DigiCerts:

[code]

I'm not seeing a Digicert SHA2 one.

[2018-02-14 04:01] tvernum commented on #28650
#28659 has added more logging to the node startup, but that 16 second startup time is still there, and is prior to the first log message:

[code]
// snip
[code]
// snip
[code]

[2018-02-14 06:52] sarajmunjal commented on #28594
I'd like to work on this issue if nobody else is working on it.

[2018-02-14 07:21] rajiv180984 commented on #21932
Hi @FaldeenOozeer
I guess java home is not set for user "elasticsearch". Can you check java_HOME set for respective user by typing simple command $ java -version. If command return does'nt returen anything [details of java], then we shoud add set Java_home for current user by adding java_home in .profile file in linux.
Thanks

[2018-02-14 07:42] tvernum commented on #21932
@FaldeenOozeer Please read Jason's comment here: https://github.com/elastic/elasticsearch/issues/21932#issuecomment-325858105

[2018-02-14 08:26] jpountz commented on #28650
Similar behaviour to what @tvernum reported at https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+6.2+periodic/143/consoleFull: 13 seconds startup time before the first log message.

[code]

[2018-02-14 08:30] jpountz commented on #28650
Here is another one: https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+master+java9-periodic/1340/consoleFull

[2018-02-14 08:48] DaveCTurner commented on #28650
That last one was 15 sec from task start to first log message:

[code]

The extra logging in #28659 has helped to clarify that the bulk of the delay is occurring prior to the bootstrap phase. @jasontedor can you suggest what to do next?

[2018-02-14 09:30] elasticmachine opened #30065 "[CI] BasicWatcherTests.testIndexWatchRegisterWatchBeforeTargetIndex failure"
*Original comment by @jpountz:*

LINK REDACTED

[code]

Here is the reproduce line (which doesn't reproduce for me locally):
[code]

[2018-02-14 09:36] danielmitterdorfer commented on #28650
The issue is only reproducible on our CI systems so I think we need to find out what's characteristic about them. So the first step is IMHO to get some system metrics (e.g. kernel activity). Knowing more about the machine activity / state at the point of the failure will hopefully help us to reproduce this reliably.

Additional supporting data may be:

* kernel version
* JVM version
* How long the

[2018-02-14 10:44] elasticmachine opened #30066 "[CI] JDBCSecurityIT.testScrollWithSingleFieldExcepted failure"
*Original comment by @jpountz:*

LINK REDACTED

It fails with a SearchContextMissingException.There is a separate issue about `SearchPhaseExecutionException` parsing that @tlrx is handling.

Here is the reproduce line, which doesn't reproduce locally for @tlrx and I:

[code]

[2018-02-14 11:13] karthikhtc2017 commented on #28658
Hi,

I am also facing this issue. Please let us know if there would be any update on this.

[2018-02-14 11:40] markharwood commented on #28600
I found another from Feb 10th: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+openjdk-java9-periodic/74 but this was a missing warning for calling getDate on a long.

Did not reproduce:

    ./gradlew :modules:lang-painless:integTestRunner -Dtests.seed=370B6DEF0A627F3 -Dtests.class=org.elasticsearch.painless.LangPainlessClientYamlTestSuiteIT -Dtests.method="test {yaml=painless/5

[2018-02-14 11:50] colings86 opened #28678 "bwc-test CI build fails because project'packages' is not found"
Build URL: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+bwc-tests/797/console

Failure message:
[code]

@rjernst could this be related to https://github.com/elastic/elasticsearch/commit/53c38cc8febba2860694716991710f951c49e253 ?

[2018-02-14 11:53] colings86 commented on #28678
Actually the error is because the 6.x checkout was not up to date with the equivalent commit on the 6.x branch so we just need to wait for last good commit to catch up. Sorry for the noise

[2018-02-14 11:53] #28678 closed

[2018-02-14 13:58] jasontedor commented on #28650
That's an interesting data point. We do expect a delay here from `-XX:+AlwaysPreTouch` but we run these nodes with such small heaps (`512m`) that it seems unlikely to be the (sole) explanation.

As you can see by the comment preceding mine, @danielmitterdorfer will take ownership of this one.

[2018-02-14 14:26] m9aertner opened #28679 "Expose matchNoneQuery through QueryBuilders"
I suggest to add method "QueryBuilders::matchNoneQuery()".

During implementation of some (query) code generator that uses the QueryBuilders API I found it odd and somewhat _incomplete_ that there _is_ a method "QueryBuilders::matchAllQuery()", but not the counterpart "QueryBuilders::matchNoneQuery()".

Note: the implementation of underlying "MatchNoneQueryBuilder" is already present and would rem

[2018-02-14 14:39] danielmitterdorfer commented on #28650
I agree here.

As a next step, we will repeatedly run one of the affected builds on a dedicated worker node in order to expose this issue as often as possible. We will also gather additional system data (like paging activity) and try to correlate system behaviour during the time a build has failed.

We could also add more JVM logging to see what the JVM is actually doing during startup (I'd levera

[2018-02-14 14:47] danielmitterdorfer commented on #28650
An analysis of our build statistics has shown that all these variables are irrelevant. Among others, I also analysed the worker's uptime and the build duration. Uptime is irrelevant but most of the builds failed between one and two hours into the build.

The only data point that stands out that all builds have been run on `m4.xlarge` worker instances (i.e. *not* bare metal).

[2018-02-14 15:05] cexmmaqsood opened #28681 "Highlighting documentation needs details on the highlighting process"
The highlighting documentation needs details in how elasticsearch breaks up the text, analyzes it, attempts to highlight it, and how it breaks up the text into fragments.

Currently from what I understand after testing/reading, is that Elasticsearch will take the query, apply the same analyzer on it as the highlighted field, and then attempt to highlight those analyzed pieces. What I'm unsure abou

[2018-02-14 15:17] cexmmaqsood commented on #28679
Out of curiosity, what would be the use case of a `match_none` query?

[2018-02-14 17:09] m9aertner commented on #28679
We have multi-tenant data in our index with conditions regarding the visibility (i.e. user, maintenance, admin, on-behalf-of and so on). Structured ES queries are _generated_ on the fly based on user input and implicit roles/identity/permissions. In some cases deep down when certain sub-queries are found to not apply, a "match_none" is added to make sure that no preceding partial conditions still

[2018-02-14 17:53] jasontedor commented on #28679
Please take a look @elastic/es-search-aggs.

[2018-02-14 17:53] jasontedor commented on #28681
Please take a look @elastic/es-search-aggs.

[2018-02-14 17:58] cbuescher commented on #28679
@m9aertner thanks for opening this issue and the related PR (#28679) I already responded there.

[2018-02-14 18:01] thomasneirynck opened #28682 "Spatial filtering fails occasionally"
Using spatial filters (e.g. within, intersects) sometimes fails with the error message:

[code]
This failure is not entirely consistent. It seems to fail about 30/50% of the time for small  numbers of filters (<5), but about 100% of the time for large number of filters (>10).

I tested this on v6.1/6.2. It fails fairly predictably. This seems to work reliably on v5.x.

To reproduce:

1) restore fo

[2018-02-14 18:01] thomasneirynck commented on #28682
cc @nknize

[2018-02-14 19:39] inqueue opened #28683 "[docs] broken java9 links in Painless API reference"
It appears that all of the java9 links on https://www.elastic.co/guide/en/elasticsearch/painless/6.2/painless-api-reference.html are broken. All end in 404.

[2018-02-15 01:05] devoncrouse commented on #17493
Now that the issue is closed, and the discussion is archived, and I'm curious if this is being tracked anywhere. Running on ephemeral infrastructure in AWS/OCI, I can completely reprovision new data and clients nodes without users noticing, but when I get to the last (active) master, I must still endure a stressful ~30 seconds of cluster unavailability. Just as with shard allocation settings, I'd

[2018-02-15 05:04] jasontedor commented on #28683
Thanks for the report @inqueue, I agree that these are broken.

[2018-02-15 08:23] #28295 closed

[2018-02-15 08:47] jpountz opened #28685 "`UnicastZenPingTests.testSimplePings` failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/1247/consoleFull

[code]

[code]

I tried to reproduce 3 times without success.

cc @elastic/es-distributed

[consoleText.txt](https://github.com/elastic/elasticsearch/files/1728427/consoleText.txt)

[2018-02-15 08:49] bleskes commented on #17493
@devoncrouse during master re-election the cluster is available for search and indexing waits until a new master is reelected. This should take 3 seconds plus a little overheard. If it takes 30 seconds something else is not going right.

[2018-02-15 08:51] bleskes commented on #28685
@tlrx do you mind taking a look?

[2018-02-15 08:59] colings86 commented on #28681
@cexmmaqsood agreed that it would be nice to add some more information on how each of the highlighters produce fragments.

@jimczi or @mayya-sharipova would you be able to add this information?

[2018-02-15 09:10] svshenoy commented on #28594
I am a beginner to elastic search interested in contributing, is there a guide for new developers to help get started ?

[2018-02-15 09:11] colings86 commented on #28679
I'm not a fan of exposing this query. The only reason this query exists is so we have something that the rewrite phase can replace the query with that means no documents should match to speed up execution. In clients I think its better to have logic which excluded the clause instead of adding a `match_none` query.

That said the MatchNoneQueryBuilder is public at the moment so I think we need to d

[2018-02-15 09:17] cbuescher commented on #28679
To argue for keeping it, there have been asks for this kind of query in the past (e.g. https://github.com/elastic/elasticsearch/issues/13406). There is always a workaround on the client side to construct a query that matches no docs (like e.g. an empty ids query), but "match_none" communicates more clearly what it does, and in my opinion there is no downside to having it as a logical complement to

[2018-02-15 09:23] albertzaharovits commented on #28594
@svshenoy  See [contribuiting](https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md) file in the code base.
@sarajmunjal no one is working on it (I have self assigned it, yet I haven't started to work on it).

We gladly accept contributions!

[2018-02-15 09:33] DropCloth opened #28687 "ES Crash: 'Failed to close SearcherManager'"
Hello !

**Description of the problem including expected versus actual behavior**:
I'm currently testing my ES cluster by simulating generic failures. I have 5 nodes, with the Elasticsearch replication enabled: 5 shards, the replication factor is 1. They are all data nodes, master is chosen automatically.

I manually shutdown a node to see how the cluster is reallocating the missing shards, and to

[2018-02-15 09:44] bleskes commented on #28687
@jpountz this smells similar to https://github.com/elastic/elasticsearch/pull/28656 . Do you mind taking a look?

[2018-02-15 09:50] freedrikp opened #28688 "Metric aggregation fails in composite aggregation"
Hi!

I'm using Elasticsearch to store test results of a software. I'm running Elasticsearch on Docker CE with the following configuration:

Docker version 17.12.0-ce, build c97c6d6
Ubuntu 14.04.5 LTS 14.04 trusty
docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.1
docker.elastic.co/kibana/kibana-oss:6.2.1

The documents look like the following:

[code]

I want to compute the average Pass and F

[2018-02-15 09:56] tarunramsinghani commented on #24855
+1

We are also using term->terms->TopHits to solve a problem, where multiple level of collapse with pagination will be very useful. But the question is would it be better to have Parent->Child Structure to solve this problem performance wise instead of having N-level nesting for collapse ?

[2018-02-15 10:01] s1monw commented on #28687
@bleskes this sounds more like a JVM bug that we saw often with totally impossible NPEs. The places show in the stacktrace can't be `null` I checked both. I recommend upgrading to a newer JVM @jpountz feel free to close

[2018-02-15 10:05] colings86 opened #28689 "org.elasticsearch.index.store.CorruptedFileIT.testReplicaCorruption fails on 6.2 on windows"
Build URL: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+multijob-windows-compatibility/102/console

Reproduce command (does not reproduce locally):
[code]

Failure output:
[code]

@dnhatn @ywelsch - @bleskes mentioned that this might be because recent relevant commits to fix this were only back-ported to 6.3 and might need to be back-ported to 6.2 as well?

[2018-02-15 10:07] bleskes commented on #28687
@s1monw thanks for reminding me. The NPE in the collection class is indeed crazy.

@DropCloth please upgrade your JVM. This should help.

[2018-02-15 10:07] #28687 closed

[2018-02-15 10:09] ywelsch commented on #28689
I've backported #28604 to 6.2 branch now

[2018-02-15 10:09] #28689 closed

[2018-02-15 10:14] colings86 commented on #28689
Thanks @ywelsch

[2018-02-15 10:18] ohadravid commented on #25337
Hi!

This still happens in 6.2.
What are the odds that this can be addressed? We really want to do those kind of queries..

Thanks,
Ohad

[2018-02-15 11:52] danielmitterdorfer commented on #28650
I did a more detailed investigation on one affected CI node and it turns out that `-XX:+AlwaysPreTouch` seems to be the problem (or rather amplifying the underlying problem).

### Test scenario

Start Elasticsearch 5.6.7 on an affected node, once with default settings (i.e. `-XX:+AlwaysPreTouch`) and once without pretouching (i.e. `-XX:-AlwaysPreTouch`). We measure the time from process start unti

[2018-02-15 13:00] martijnvg commented on #28668
This failure occurred today on 6.2:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+multijob-windows-compatibility/101/consoleText

I will backport to fix @talevy made to 6.2 branch too.

[2018-02-15 13:11] martijnvg commented on #21463
Another instance of this failure:

[code]

[consoleText.txt](https://github.com/elastic/elasticsearch/files/1727741/consoleText.txt)

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-darwin-compatibility/673/consoleText

[2018-02-15 13:19] vigneshrvicky commented on #9031
In Which File We need To add the Following lines in ionic 3??
http.cors.enabled : true
http.cors.allow-origin : "*"
I need a file name.whether it is ionic.config.json or config,xml or tsconfig.json? where to add??

[2018-02-15 14:43] redbearsam opened #28692 "Bug: Snapshot status "partial" misreported"
Related to issue  #5792 .

**Bug: Snapshot status "partial" misreported**

When hitting the *_snapshot/{repoName}/{snapshotName}/_status* endpoint, the partial state is never returned (as it is for example when hitting the *_snapshot/{repoName}/{snapshotName}* endpoint.

The following code and TODO are to be found inside the relevant file (elasticsearch/core/src/main/java/org/elasticsearch/action/

[2018-02-15 14:50] bleskes commented on #28692
@tlrx can you voice an opinion please?

[2018-02-15 14:56] JACK-ARRAY opened #28693 "How to get random document, at least 5 from each category"
I have 1000 documents with 5 categories. Each category has around 200 documents. I want to pull 30 random documents with at-least 5 from each category. Please suggest me any solution.

[2018-02-15 14:56] spojan commented on #16053
Hello! I'm representing a group from KTH trying to solve this issue. We're kind of stuck and need some guidance. Is there anybody who would be willing to look into this with us and provide a little help?

Thank you in advance.

[2018-02-15 14:57] dadoonet commented on #28693
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-02-15 14:57] #28693 closed

[2018-02-15 15:05] m9aertner commented on #28679
After reviewing my use case I removed all uses of MatchNoneQueryBuilder and changed the client application code so that no query gets executed at all in these cases @cexmmaqsood @colings86 .

Thanks @cbuescher for mentioning #13406. I was in a somewhat similar situation but in my case it was really no problem to change the client code accordingly.

[2018-02-15 15:08] DaveCTurner commented on #17493
@devoncrouse how do you shut down the elected master? Do you terminate the Elasticsearch process with a signal, or do you simply pull the plug on the machine?

I ask this because if you simply pull the plug then the established connections to the master are not actively dropped, so it looks like a networking blip, and Elasticsearch waits for the network to be restored for a while before starting a

[2018-02-15 15:09] m9aertner commented on #28679
Now, does it _make sense_ to expose this specific function on top level?

Having read these other linked considerations, I don't think it's a great idea any longer. By using the existing class "MatchNoneQueryBuilder" directly it is still **possible** to get to the underlying function, but I agree it's not a query language element that will be used regularly.

No _need_ to expose it. Thanks for you

[2018-02-15 15:09] #28679 closed

[2018-02-15 15:21] DaveCTurner commented on #28654
Your shape is invalid, because the "hole" is not contained within the outer polygon:

<img width="417" alt="screen shot 2018-02-15 at 15 18 43" src="https://user-images.githubusercontent.com/5058284/36264076-b6d3fade-1263-11e8-9192-ec5e361ce17e.png">

This was fixed in 6.2.0 as https://github.com/elastic/elasticsearch/pull/27685 - it now rejects this kind of error with a more useful message.

[2018-02-15 15:21] #28654 closed

[2018-02-15 15:25] yawboateng commented on #28351
This keeps happening even after the upgrade and running v6 for a while now. my data nodes randomly goes in a crashloop with same error but on the kibana index and i end up having to delete and re create.

[code]

[2018-02-15 15:32] ywelsch commented on #28351
what do you mean by that? Are you deleting the folder on disk as I suggested above, or are you issuing a DELETE command on the index?

[2018-02-15 15:37] yawboateng commented on #28351
the folder

[2018-02-15 15:38] ywelsch commented on #28351
what do you mean by recreate then? Why are you recreating the folder?

[2018-02-15 15:46] cbuescher commented on #28660
I took a look at the above mentioned fix for #26758 and it looks like this indeed might also solve this. I ported the changes of @nik9000 from 6.x back to 6.2 (aadca4535f16bdc9c6d39c09ddce9cbc382c2201) and will close for now, we can reopen if this turns out that this is not enough.

[2018-02-15 15:46] #28660 closed

[2018-02-15 15:56] cbuescher opened #28694 "Add usage of rank_eval java api to Java high-level REST client docs"
The high level rest client supports the rank_eval endpoint (https://github.com/elastic/elasticsearch/pull/28357) but still lacks documentation for the java api in the high level client docs.

Relates to #28389

[2018-02-15 16:22] #28625 closed

[2018-02-15 16:23] mayya-sharipova commented on #28681
@colings86 I can work on this ticket

[2018-02-15 16:30] kovyrin commented on #28301
Yes, please! We've just his this issue on Kibana/ES/ECE deployment, where ECE proxy chokes up on a bunch of warning coming from ES to Kibana and that basically made our Kibana permanently broken until we dropped the index that was generating warnings...

[2018-02-15 16:36] devoncrouse commented on #17493
Aha, that's probably my issue; I assumed it would have been getting signaled on machine shutdown, but I see now what's happening. Thanks for the reply.

[2018-02-15 17:19] yawboateng commented on #28351
as in rerun the steps at:
https://www.elastic.co/guide/en/kibana/6.0/migrating-6.0-index.html

[2018-02-15 17:57] sarajmunjal commented on #28594
@albertzaharovits Cool, I'm going to assign it to myself. I already did some part of the implementation.
I have a question: methods in the [repository-azure SocketAccess impl](https://github.com/elastic/elasticsearch/blob/master/plugins/repository-azure/src/main/java/org/elasticsearch/repositories/azure/SocketAccess.java) currently throw `StorageException`, which is part of the Azure package.

Mov

[2018-02-15 18:09] DaveCTurner commented on #28682
Thanks for the detailed report @thomasneirynck. This was fixed by #28458, which will be released in 6.3.0.

[2018-02-15 18:09] #28682 closed

[2018-02-15 18:36] akhilravipati97 commented on #25861
@jpountz Hi, I am trying to understand the issue and I think I need some clarification. When you say make `coerce` all about accepting strings, do you mean that from now on all it should mean to a user is that it will convert strings into the target type as long as there is no need to manipulate the value itself and that invalid strings will now be simply errored instead of truncated etc?

i.e Do

[2018-02-15 18:56] synthesize commented on #26338
This issue is closed and a bit old, but I have a question regarding Patterns. For my painless script, the pattern is defined through params. Is it possible for me to create a Pattern object from a string? The url you provided to the API docs lists `String pattern() (java 9)`, however all attempts to use this causes compile errors similar to `Caused by: java.lang.IllegalArgumentException: Unknown c

[2018-02-15 19:00] rjernst commented on #26338
@synthesize Please ask questions on [our forum](https://discuss.elastic.co/c/elasticsearch). We use github for feature requests and confirmed bug reports. Comments on a closed issue are likely to be overlooked or ignored.

[2018-02-15 19:28] talevy commented on #28269
this just happened on another Elastic Cloud cluster. I believe https://github.com/elastic/elasticsearch/pull/28588 should fix this problem.

[2018-02-15 19:40] wolffclw commented on #11328
I am also very interested in this.  My product is looking to migrate to Elasticsearch.  We have implemented START, NEAR, ONEAR, and MULTIPLE with phrase support in Solr.  We would also like to have this work with Percolator.  For us, this is a must have and is currently a negative when dealing with the decision to migrate or not.

[2018-02-15 19:46] talevy commented on #28269
nevermind. the issue is that scripting is disabled and there are pipelines in the cluster-state that depend on scripts. The start-up exception is being muted. I feel like the node should not be able to start up in this case?

[2018-02-15 19:59] AlexP-Elastic commented on #28269
@talevy what scripting was disabled? We may have defaults set up in the EC(E) UI that are causing this

[2018-02-15 20:05] talevy commented on #28269
@AlexP-Elastic Monitoring's ingest pipeline leverages inline painless scripts

[2018-02-15 20:35] andyb-elastic commented on #24313
Another in 6.x

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+release-tests/478/console
[build-478GceDiscoverTests.txt](https://github.com/elastic/elasticsearch/files/1729275/build-478GceDiscoverTests.txt)

[2018-02-15 20:48] AlexP-Elastic commented on #28269
We confirmed that:
* The logging and metrics cluster in ECE is brought up with inline scripting disabled, no idea why - I'll open an ECE ticket to investigate .. this was the cluster that @talevy and @kovyrin investigation
* We just confirmed that the other (6.2.x) cluster had scripting enabled, so that is less clear
   * (some of the time when we thought we were looking at the 6.x cluster we were

[2018-02-15 21:09] andyb-elastic opened #28695 "[CI] RemoteClusterConnectionTests.testTriggerUpdatesConcurrently"
Doesn't reproduce locally

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/1385/consoleText

[build-1385-RemoteClusterConnectionTests.txt](https://github.com/elastic/elasticsearch/files/1729382/build-1385-RemoteClusterConnectionTests.txt)

[code]

@elastic/es-core-infra can someone take a look at this

[2018-02-15 21:14] andyb-elastic commented on #28695
Also on 6.2

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+multijob-unix-compatibility/os=amazon/104/console
[build-104-RemoteClusterConnectionTests.txt](https://github.com/elastic/elasticsearch/files/1729400/build-104-RemoteClusterConnectionTests.txt)

[2018-02-15 21:40] synthesize opened #28696 "Unable to use String.format() in Painless"
**Elasticsearch version** (`bin/elasticsearch --version`):
Elasticsearch 5.5.3

**Plugins installed**: []
None

**JVM version** (`java -version`):
% java -version
java version "1.7.0_151"
Java(TM) SE Runtime Environment (build 1.7.0_151-b15)
Java HotSpot(TM) 64-Bit Server VM (build 24.151-b15, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
% uname -a
Linux [HOSTNAME HERE] 2.6.3

[2018-02-15 22:44] elasticmachine opened #30068 "Watcher: Jira fields do not use template rendering for every field"
*Original comment by @spinscale:*

The following example jira configuration will result in no changes in the `components` array due to the current implementation, regular string fields are correctly replaced

[code]

The reason for this is the broken `ExecutableJiraAction.merge` method, because it does not do the right thing when a list, that is not comprised of a string value is found - which for

[2018-02-15 23:09] ncavig opened #28699 "array_index_out_of_bounds_exception on multiple indexed_shape queries"
**Elasticsearch version**: 6.2.1

Running in a docker image `docker.elastic.co/elasticsearch/elasticsearch:6.2.1`

**Description of the problem including expected versus actual behavior**:

When having multiple indexed_shape queries in a boolean should list, I get an error with the following

[code]

**Steps to reproduce**:

Index mappings

[code]

Search query

[code]

Logs

[code]

To make this

[2018-02-15 23:53] andyb-elastic commented on #27306
Another in 5.6. I'll mute this test since Tim's found the cause

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-unix-compatibility/os=centos/692/console

[build-692-ESLoggingHandlerIT.txt](https://github.com/elastic/elasticsearch/files/1729786/build-692-ESLoggingHandlerIT.txt)

[2018-02-16 00:44] andyb-elastic commented on #28695
This has failed several times recently in CI across different workers and operating systems, but doesn't reproduce locally. I've muted it on master (70b279dbbc9492c31740072b36877aef12ce5206) 6.x (04b77fd2600ec64fa41d578667ba2bc3f35570d2) and 6.2 (a6c01b76e43a3cb69dbb2c616fe1d4f25dd8c096)

[2018-02-16 08:32] spinscale commented on #28696
This is a pure reproduction via the console

[code]

@jdconrad can you take a look?

I saw the definition in `modules/lang-painless/java.lang.txt` is `String format(Locale,String,def[])` - I did not see this in any other definition in the resources for painless.

[2018-02-16 08:33] rjernst commented on #28699
@elastic/es-search-aggs Please take a look.

[2018-02-16 08:56] colings86 commented on #28699
@nknize Could you take a look at this one?

[2018-02-16 09:15] sachidananda04 opened #28701 "Retrieving the documents(records) of a saved search in elastic search"
Hi,

I need a help in retrieving the documents (records) of a saved search.
I am pushing my jenkins pipeline jobs console logs to elasticsearch using jenkins-logstash plugin and it's pumping the data without any problem. I am filtering my jenkins console data using a field called "ISSUE_ID".I created a saved search with the output fields being
"time" "ISSUE_ID" "message" "BUILD_ID" "JOB_NAME". In

[2018-02-16 09:25] martijnvg commented on #28695
Other test failures in the same test class fail with the same assertion error. The last test gets blamed for the the uncaught assertion error that the `testTriggerUpdatesConcurrently ` test causes:

[code]

I'm also unable to reproduce locally and still trying to understand this failure.

I suspect that #28667 is the cause for the RemoteClusterConnectionTests failing so often now.

This tests also

[2018-02-16 09:31] dadoonet commented on #28701
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-02-16 09:31] #28701 closed

[2018-02-16 09:35] sachidananda04 commented on #28701
Sure. Thanks for the Info @dadoonet Have already raised the question in discuss.elastic.io
https://discuss.elastic.co/t/how-to-retrieve-the-documents-records-of-a-saved-search-in-elastic-search/119812

[2018-02-16 09:47] DaveCTurner commented on #28699
Similar-looking problems are fixed by #28458, to be released in 6.3. There's not enough detail in the OP to reproduce what @ncavig is seeing exactly, but it seems likely that it's this. Closing this as a duplicate of #28456, but please reopen if the problem persists in 6.3.

[2018-02-16 09:47] #28699 closed

[2018-02-16 09:48] ywelsch commented on #28351
I don't understand why you would rerun those steps as you're already on 6.0?

[2018-02-16 09:59] rohanil commented on #23928
@eshkel Could you solve the problem by suggestions mentioned by @jasontedor ? I am facing the same problem in ES 5.6.

[2018-02-16 12:20] jasontedor commented on #27911
No additional feedback, closing.

[2018-02-16 12:20] #27911 closed

[2018-02-16 12:20] gstolarz-euvic commented on #21932
@tvernum

Please, explain me that. I've install ES 5.X from puppet module (https://forge.puppet.com/elasticsearch/elasticsearch) which could be run as service - it's started correctly but suddenly crash on:

Exception: java.security.AccessControlException thrown from the UncaughtExceptionHandler in thread "Thread-2"

I've already checked for ownership and it's correct. So, what could be? How could

[2018-02-16 12:41] jasontedor commented on #28695
Closed by 10666a4538472424d9dfbdbd19be3b17283206dd

[2018-02-16 12:41] #28695 closed

[2018-02-16 12:55] jasontedor commented on #21932
@gstolarz-euvic Please use the [forum](https://discuss.elastic.co). We use GitHub for verified bugs and feature requests, and use the forum for general questions.

[2018-02-16 13:43] dackebro commented on #16053
Hi, in the last item listed it says "which just leaves handling the GET _mapping/field structure". We interpret these as connected to the three lines

[code]

We feel like they fill a function, and this makes us unsure about whether anything shuold be done about these, and if so, what should be kept and what should be deprecated?

[2018-02-16 14:05] #28635 closed

[2018-02-16 14:19] s1monw commented on #28612
the underlying technology (lucene) use FSTs to represent the suggesters. I really struggle to remember the full picuture there but the output of an FST must be a semi-ring which is the reason why positive integers are used as it's basic structure. We can't encode floats here efficiently and the math becomes tricky as well on the encoding end. I am afraid this is not an option

[2018-02-16 14:19] #28612 closed

[2018-02-16 14:19] jimczi commented on #28611
The limitation was added because the use case was not clear but it is possible as long as *all** sources in the composite are in the same nested context. I'll mark this issue with the feature label but as a low priority for now.

[2018-02-16 14:59] danielmitterdorfer commented on #28650
Initial test with the same test setup as above on a machine where we have seen timeouts again:

| `AlwaysPreTouch` | Time to First Log Message [s] | Time until started [s] |
|------------------|-------------------------------|------------------------|
| enabled          | 29                            | 37                     |
| disabled         | 3                             | 16

[2018-02-16 15:00] curdincaspar opened #28704 "ES_PATH_CONF on Windows not working"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.2.1

**Plugins installed**: []
None

**JVM version** (`java -version`):
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Windows 10 Enterprise (most recent version)

**Description of the pr

[2018-02-16 15:04] romseygeek commented on #28626
Thanks for opening an issue, @NadavHarnik

The lucene highlighters give a best-effort approximation of where a query has hit, rather than exact matches.  One of the query aspects that aren't handled at the moment are boolean combinations, including minimum should match.

This won't be fixed absent some fairly fundamental reworking of how highlighting works, unfortunately.

[2018-02-16 15:04] #28626 closed

[2018-02-16 15:07] bleskes commented on #27913
We talked about it in FixedIt friday and the consensus was that indices stats (which are a sum of shard level stats) are supposed to give you insight into the current state of the Engine. From the Engine perspective there is no update, just a "reindex" which counts as index. As Simon pointed out, one can derive a reindex from the total doc count compared to the doc count. We don't see how it's pos

[2018-02-16 15:07] #27913 closed

[2018-02-16 15:07] jimczi commented on #28599
We don't do exact unique count because it doesn't scale, elasticsearch is distributed so getting all unique values would require that each shard send their full list to the coordinating node. This could work for few values but it would break as soon as the number of unique values grow.  For this reason we rely on HyperLogLog to do an approximation using a reasonable amount of memory. You can also

[2018-02-16 15:07] #28599 closed

[2018-02-16 15:22] jimczi commented on #28599
Sorry my mistake, the count is close to accurate in this case but there is no guarantee that it is completely accurate since we use hashing and there might be some collisions (very low probability but can happen so the count is not always accurate in this case too).

[2018-02-16 15:23] #28189 closed

[2018-02-16 15:27] scottsom commented on #28189
Excellent, thanks @justinwyer and @bleskes

[2018-02-16 15:28] jimczi commented on #28624
I thought that the `standard` tokenizer would split this input but it doesn't. We don't have any rules regarding arabic characters as it seems that it's not part of the standard unicode segmentation rules that the tokenizer uses (it can split on some eastern language):
http://www.unicode.org/reports/tr29/
You could use the `type_table` option of the `word_delimiter_graph` but that would mean mappi

[2018-02-16 15:28] #28624 closed

[2018-02-16 15:28] ncavig commented on #28699
FWIW, I was able to build and use a 6.3.0 snapshot and verify that the same error does *not* happen and thus seems to be fixed in master.

[2018-02-16 15:29] jimczi commented on #28699
Good to know, thanks for checking @ncavig !

[2018-02-16 15:41] DaveCTurner commented on #28639
It sounds like you're after the ability to _join_ on the `user` field. We've looked into this functionality a number of times before:

- https://github.com/elastic/elasticsearch/issues/6769#issuecomment-263007228
- https://github.com/elastic/elasticsearch/issues/27315#issuecomment-343313693
- https://github.com/elastic/elasticsearch/pull/3278#issuecomment-289752622

Unfortunately the proposed impl

[2018-02-16 15:41] #28639 closed

[2018-02-16 16:13] lgogolin commented on #10005
Seriously guys ? This bug is almost 3 years old...

[2018-02-16 16:17] jasontedor commented on #28269
@talevy Can you share the exception that is being swallowed here?

[2018-02-16 16:30] travisp commented on #26674
I understand if it's chosen to not fix -- but I know that we, and probably others, aren't able to update to 6 right away because of the breaking changes. And dealing with this bug with scaled_float is also a big pain point as there's no work around other than not using dynamic templates.

[2018-02-16 16:35] yawboateng commented on #28351
Because after deleting, the UI was still showing the error:
`Your Kibana index is out of date, reset it or use the X-Pack upgrade assistant.`

didint happen on the most recent delete though.

anyway, I randomly get that same error for some of my indexes that I've created an  alias for...runs ok for weeks then all of a sudden, it goes into a crashloop

[code]

should we not be creating aliases?

I

[2018-02-16 16:39] jasontedor commented on #28704
`ES_PATH_CONF` is only respected when the service is installed. Once the service is installed, execution of Elasticsearch is taken away from the startup scripts. The [docs](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/zip-windows.html) say this:

[2018-02-16 16:39] #28704 closed

[2018-02-16 18:25] ahmadazimi commented on #28624
@jimczi Thank you for detailed answer.

[2018-02-16 18:31] dakrone commented on #28504
Okay, the first step, decoupling anything related to Log4j and `LoggingDeprecationHandler`, has been finished.

[2018-02-16 18:57] matthid commented on #10005
The problem is also that if you try to find a workaround you run into a series of other bugs so there is not even a viable acceptable workaround:
 - If you use a string, sorting will be slow
 - If you use a integer and try to make it readable you will not have big enough numbers (https://github.com/elastic/elasticsearch/issues/17006)
 - If you add an additional ordering field you cannot easily con

[2018-02-16 19:32] jraby commented on #10005
Been storing microseconds since epoch in an number field for 2 years now.
Suits our needs but YMMV.

[2018-02-16 20:56] adamhadani commented on #21291
+1

[2018-02-16 22:15] jdconrad commented on #28696
So, there are two forms of String format as part of our API

static String format(String, def[]) (java 9)
static String format(Locale, String, def[]) (java 9)

found here (https://www.elastic.co/guide/en/elasticsearch/painless/master/painless-api-reference.html)

The unfortunate part is we do not support variadic methods in Painless.  All variadic methods have the `...` replaced with `def[]` inste

[2018-02-16 22:16] jdconrad commented on #28696
I'm going to close this as it's not technically a bug.

[2018-02-16 22:16] #28696 closed

[2018-02-16 22:18] jcmcken commented on #12366
@patrick-oyst @subhash @lizhongz  For people using the ``enabled=false`` workaround, are you finding that this works for nested objects? I'm setting it on a nested object value, but when I reindex using the new mapping, I'm still seeing ES trying to read all the datatypes of the subfields in that object.

[2018-02-16 22:28] modesolaa commented on #24187
"Moving the property to the "system" area did the trick"
How did you move the property to the system area? Please point me to the right direction. I have been having the same issue for about 3 days now

[2018-02-16 22:45] modesolaa opened #28706 "Elasticsearch not starting"
This is similar to: #25789

How do you make the JAVA_HOME the system variable. I already set my JAVA_HOME in environmental variables as: C:\Program Files\Java\jdk1.8.0_152.

Any help will be appreciated

[2018-02-16 23:04] markwoon opened #28707 "OSGI support for elasticsearch-rest-client"
Please add OSGI bundle information to elasticsearch-rest-client's `MANIFEST.MF`.

Someone else has produced a wrapper (https://github.com/deveth0/elasticsearch-rest-osgi), but it would be nice if this was done by default.

[2018-02-16 23:46] vshideler opened #28708 "Could not find or load main class org.elasticsearch.tools.launchers.JavaVersionChecker"
****Elasticsearch version** (`bin/elasticsearch --version`):**

[root@sandbox-hdp elasticsearch-6.2.1]# bin/elasticsearch --version
Version: 6.2.1, Build: 7299dc3/2018-02-07T19:34:26.990113Z, JVM: 1.8.0_161

(also occurs with 6.1.1)

****Plugins installed**: []**

N/A

****JVM version** (`java -version`):**

[elastic@sandbox-hdp elasticsearch-6.1.1]$ sudo update-alternatives --config java

1 /usr/

[2018-02-17 01:04] jasontedor commented on #28706
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2018-02-17 01:04] #28706 closed

[2018-02-17 01:05] thomas11 commented on #25350
@rjernst I'd like to have this fix in the 5.x branch as well. I've ported it and it works for me locally. Can I open a PR?

[2018-02-17 01:05] jasontedor commented on #28706
You can link to a topic that you open on the forum from here, but please use the forum for general help.

[2018-02-17 01:29] jasontedor commented on #28708
I don't know, we have seen issues like this before (from the [forum](https://discuss.elastic.co/t/error-could-not-find-or-load-main-class-org-elasticsearch-tools-javaversionchecker/82213/), [here](https://github.com/elastic/elasticsearch/issues/27599), it's always something environmental. As such, I am going to close this issue as we only handle bugs and feature requests here. I want to help you t

[2018-02-17 01:29] #28708 closed

[2018-02-17 01:38] robert-blankenship commented on #12273
@clintongormley I was able to repro this using an index (configured to require box_type="hot") with a single shard and a cluster with a single valid node (with box_type="hot"). I used index.routing.allocation.require.total_shards_per_node=1... The shard was basically stuck in the UNASSIGNED state indefinitely and the index was red. (version 5.4.0). I also had a master node (data was disabled on it

[2018-02-17 10:25] bra-fsn opened #28713 "Getting "Failed to deserialize response from handler" after upgrading from 5.6.4 to 6.2.1"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.2.1, Build: 7299dc3/2018-02-07T19:34:26.990113Z, JVM: 1.8.0_131

**Plugins installed**: []
analysis-icu

**JVM version** (`java -version`):
openjdk version "1.8.0_131"
OpenJDK Runtime Environment (build 1.8.0_131-b11)
OpenJDK 64-Bit Server VM (build 25.131-b11, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
F

[2018-02-17 11:04] vvucetic commented on #25684
I experience the same problem on 6.1.3 while reindexing from AWS managed cluster to self managed.

After each reindex I have to restart service in order to issue another reindex.

[2018-02-17 12:04] bra-fsn opened #28714 "Bulk task queue grows infinitely after upgrading to 6.2.1 (from 5.6.4)"
**Elasticsearch version (bin/elasticsearch --version)**:
Version: 6.2.1, Build: 7299dc3/2018-02-07T19:34:26.990113Z, JVM: 1.8.0_131

**Plugins installed**: []
analysis-icu

**JVM version (java -version)**:
openjdk version "1.8.0_131"
OpenJDK Runtime Environment (build 1.8.0_131-b11)
OpenJDK 64-Bit Server VM (build 25.131-b11, mixed mode)

**OS version (uname -a if on a Unix-like system)**:
FreeBSD

[2018-02-17 12:38] mosesjoel commented on #28658
Hi
Can you please let us know when this issue would be fixed? Thanks!

[2018-02-17 14:31] bra-fsn commented on #28713
The unexpected character varies wildly:
Caused by: java.io.IOException: Invalid string; unexpected character: 146 hex: 92
Caused by: java.io.IOException: Invalid string; unexpected character: 159 hex: 9f
Caused by: java.io.IOException: Invalid string; unexpected character: 242 hex: f2
Caused by: java.io.IOException: Invalid string; unexpected character: 137 hex: 89
Caused by: java.io.IOException:

[2018-02-17 14:48] ywelsch commented on #28713
Are all nodes on 6.2.1? Is this issue only occurring between certain nodes? Is the response different if you fire off a `GET /_nodes/stats` request on the master-eligible, the data, or the client nodes? Are all nodes but one reporting a failure in that case, or only a subset of the nodes?
Before we get into tcp dump territory, can you maybe reproduce this in a simple 2 node cluster (same hardware/

[2018-02-17 15:39] DaveCTurner commented on #16195
I think this is fixed by #14593. In 6.2.1, `GET /_cluster/allocation/explain` yields the following:

[code]

This seems sufficient.

[2018-02-17 15:39] #16195 closed

[2018-02-17 15:57] adityasrini commented on #28592
Would love to work on this if no one is!

[2018-02-17 19:04] bra-fsn commented on #28713
Yes, all nodes are 6.2.1:
# curl -s 'http://localhost:9200/_cat/nodes?h=node.role,version' | sort | uniq -c
  40 di 6.2.1
   9 i  6.2.1
   3 mi 6.2.1
They only differ in their roles and JDK versions.

I can only see these log entries on the three master(eliglible) nodes. BTW, we query only those for statistics.
There are many nodes involved, until now 29 of them, each of them are data (and client,

[2018-02-17 19:40] bra-fsn commented on #28713
I could capture an error, I sent the dump and log in email to you.

[2018-02-17 20:13] mgreau commented on #28658
Sorry for the delay, it's ok now, the missing artifacts have been uploaded.
[code]

[2018-02-17 20:13] #28658 closed

[2018-02-18 05:16] panffeng commented on #27983
Hi @polyfractal, I wrote a very basic version with basic test here https://github.com/panffeng/elasticsearch/commit/d64f3b2a11d6d19f5b8b8e10d48f03a03f880d3f

The correlation aggregator extends SiblingPipelineAggregator directly.

Multiple lags are not yet supported. Lags are used much more frequent for autocorrelation. So my plan is to compute autocorrelation with lags and to compute cross correla

[2018-02-18 10:37] ywelsch commented on #28713
Thanks for the packet capture. I've had a look and I think I know what's going on.

The `AdaptiveSelectionStats` object (introduced in 6.1) serializes the `clientOutgoingConnections` map that's concurrently updated in `SearchTransportService`. Serializing the map consists of first writing the size of the map and then serializing the entries. If the number of entries changes while the map is being

[2018-02-18 10:56] fbaligand opened #28719 "bug in query_string : syntax "field:(v1 v2)" does not work anymore on keyword properties"
**Describe the issue**:
On Elasticsearch 5.x, in a query_string query, we can use syntax `field:(v1 v2 v3)` which is the same than `field:(v1 OR v2 OR v3)`
It does not work anymore with elasticsearch 6.1 on keyword properties : no results returned although `field:(v1 OR v2 OR v3)` syntax works fine.
It looks like a regression.

**Elasticsearch version** : 6.1.0 and 6.1.3

**JVM version** : 1.8.0_1

[2018-02-18 11:01] ywelsch commented on #12273
@robert-blankenship what did the [allocation explain API](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-allocation-explain.html) say when the shard was unassigned?

It looks to me like you used a setting that does not exist as such. The setting is `index.routing.allocation.total_shards_per_node` and not `index.routing.allocation.require.total_shards_per_node`. What you sp

[2018-02-18 15:45] bobbyc8 commented on #15497
sudo systemctl start elasticsearch.service

[2018-02-18 16:17] shaharmor opened #28720 "[BUG] ES 6.0 - Duplicate Alias after rollover timeout"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.0.0, Build: 8f0685b/2017-11-10T18:41:22.859Z, JVM: 1.8.0_151

**Plugins installed**: [repository-azure]

**JVM version** (`java -version`):
java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.151-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-like

[2018-02-18 20:49] dnhatn commented on #28720
@shaharmor, Thank you for reporting the issue. I am not sure if crashing the data node was the root cause. Are you using index template in `customers` index? If yes, is there any alias in that template?

[2018-02-19 06:33] sarajmunjal commented on #28594
@dadoonet Do you think the above approach is a good idea?

[2018-02-19 08:07] DaveCTurner commented on #28650
Hurrah!

Just to check - you're proposing dropping the page cache at the start of the whole build and not at the start of each individual integration test? If so, this means that dirty pages will accumulate throughout the test run. This might well be fine: I'm just checking I understand.

[2018-02-19 08:14] danielmitterdorfer commented on #28650
Yes, your understanding of my proposal is correct. IMHO this is the most straightforward change that we can make in the first step. You are also right that the situation may get worse over the course of a single build. In that case we would probably need to modify kernel parameters to write back dirty pages more aggressively but I'd rather stick to the stock configuration first and only tune if it

[2018-02-19 08:18] justinwyer commented on #28479
Putting up my hand for this. If there is any additional context or initial thoughts please share.

[2018-02-19 08:27] danielmitterdorfer commented on #28707
Quoting @jasontedor from #28709:

[2018-02-19 08:28] danielmitterdorfer commented on #28707
Pinging @elastic/es-core-infra for awareness.

[2018-02-19 08:28] shaharmor commented on #28720
There is no `customers` index. The `customers` is the alias.
The indices are named `customers-raw-000001`, `customers-raw-000002`, etc.

I initially created the first `customers-raw-000001` index using this template:
[code]

[2018-02-19 08:32] justinwyer commented on #28479
@jpountz to clarify would we be adding a from and to field to each bucket in the response?

[2018-02-19 08:42] danielmitterdorfer commented on #28719
Thanks for raising the issue and the reproduction scenario. Can somebody in @elastic/es-search-aggs please have a look at this one?

[2018-02-19 08:56] danielmitterdorfer commented on #28714
Hi @bra-fsn, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) instead. Thank you!

Some hints to get you started:

* The stack traces indicate that the cluster is doing a couple of update and delete operations when you took them.
* You should check the [documentation on upgrades](ht

[2018-02-19 09:16] bra-fsn commented on #28713
The cluster is fine since yesterday with your latest patch:
https://github.com/elastic/elasticsearch/pull/28718/commits/ef03a0e84e3309fe30d9b9238e7886b22e1d116c
Thanks for the quick fix!

[2018-02-19 09:16] #28713 closed

[2018-02-19 09:24] ywelsch commented on #28713
Thanks for the detailed report and the packet dump. For anyone else running into this bug:
This can manifest when using the node stats call (`GET /_nodes/stats`), which queries adaptive replica selection stats by default, even if the feature is not used. The only workaround is to explicitly specify (all) the desired metrics `os,jvm,thread_pool,...` on the `GET /_nodes/stats` request to implicitly

[2018-02-19 09:36] jimczi commented on #28719
This is expected, in 6.x whitespaces are not considered as operators anymore so the query `f1:(v1 v2)` will pass `v1 v2` to the analyzer of the field `f1` which then decides how the input should be parsed (for a keyword field it will treat `v1 v2` as a single term). If you want to clearly separate v1 and v2 you'll need to add an explicit operator between the terms (`AND`, `OR`).
 I'll add an examp

[2018-02-19 10:04] fbaligand commented on #28719
Hi @jimczi

OK, so if it is finally a breaking change and so, only a "docs" issue, I think that this doc page especially should be updated (referenced by Kibana search bar) :
https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax

[2018-02-19 10:33] bra-fsn commented on #28714
@danielmitterdorfer: this is a bug report, not a question...

[2018-02-19 10:45] martijnvg commented on #24313
Failed on master with leaked treads: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+oracle-java10-periodic/98/consoleText

Failure:

[code]

[2018-02-19 10:48] mgreau commented on #28674
Hi @cailen

It could be a problem related to IPv6.
Can you test the following commands please:

* `wget -v -4  https://artifacts.elastic.co/GPG-KEY-elasticsearch`
* `wget -v -6  https://artifacts.elastic.co/GPG-KEY-elasticsearch`

And also, can you try to force `apt-get` to use IPv4:

* `apt-get -o Acquire::ForceIPv4=true update`

Let me know if it helps.
Thanks

[2018-02-19 10:53] martijnvg commented on #24313
This test failed 4 times in last 60 days for with leaked threads error.

This tests starts a http server and I think that the http server gets stopped while nodes are getting stopped, which sometimes causes the discovery logic to get stuck at reading from a socket.

I think this test can be made simpler. No need for `@BeforeClass` and `@AfterClass`, as there is just a single test. This will perhap

[2018-02-19 11:08] tlrx commented on #24313
@martijnvg I started to simplify this test in #28193. If that's ok I'll create a pull request just to simplify the test without the read/connect timeouts that #28193 also adds.

[2018-02-19 11:10] danielmitterdorfer commented on #28714
@ywelsch thanks for double-checking. I did not spot the deadlock in the thread dump originally.

[2018-02-19 12:15] royteeuwen commented on #28707
This would be really nice, we also are looking to use the elasticsearch client in OSGi, and it's really not a lot of work, just exporting the classes..

[2018-02-19 12:24] halfninja commented on #27205
`search_after` support would be great.
Apologies if a new Issue is the best place for requests.

[2018-02-19 12:29] javanna commented on #27205
@halfninja as far as I can see `search_after` is already supported as part of the search API. Am I missing something?

[2018-02-19 13:09] halfninja commented on #27205
@javanna You're absolutely right, I've found it now and not sure how I missed it before. Thanks.

[2018-02-19 13:41] elasticmachine opened #30069 "X-Pack: Add index time sorting to log indices templates"
*Original comment by @spinscale:*

We have a bunch of time based indices in x-pack, none of them uses index time sorting, even though searching would benefit a lot from that, especially the monitoring UI/watcher UI.

* Watcher: History indices
* Security: Audit log
* Monitoring: the kibana/ES time based indices

[2018-02-19 13:53] Lackoftactics commented on #28605
@mayya-sharipova thank you for quick reaction. Really, can't wait for 6.4 version of elastic

[2018-02-19 14:03] krueger opened #28725 "Why is score different from value in explanation?"
Hi,

I did an explain request and get the following response:

[code]
As you can see the score value is 2 and the value in the explanation is 196.23717.

Why is this different?

[2018-02-19 14:21] dnhatn commented on #28720
Thank you for your feedback @shaharmor. Rollover consists two separate steps: (1) Create a new index and wait for that index to be ready; (2) Updates the alias to point to the new index. If the index template's aliases contain the rollover alias, the rollover alias will point to two indices between step 1 and step 2. Unfortunately, this is your case; you should remove the `customer` alias from the

[2018-02-19 14:21] #28720 closed

[2018-02-19 14:24] shaharmor commented on #28720
@dnhatn So how come it worked until today?

[2018-02-19 14:25] shaharmor commented on #28720
Also, correct me if I'm wrong, but your guide: https://www.elastic.co/blog/managing-time-based-indices-efficiently specifically say to add the alias to the index template

[2018-02-19 14:32] dnhatn commented on #28720
Unfortunately we only see the issue recently. We should update the blog.

[2018-02-19 14:37] shaharmor commented on #28720
I also think that this change (#28110) should be marked as a breaking change for ES 6.2

[2018-02-19 15:24] jpountz commented on #28725
This is a bug, they should always be the same. Can you share your query?

cc @elastic/es-search-aggs

[2018-02-19 15:28] jpountz opened #28727 "`time_zone` option makes date histograms much slower"
I was looking at a slow query where removing the `timezone` option made the query 4x faster: 8s on average without the `time_zone` parameter and 32s on average with a `time_zone`.

This query filters one week of data in February with `Europe/Berlin` as a timezone (so all documents are on the same side of the daylight saving time boundary) and there are more than 1B matches.

Can we speed this up?

[2018-02-19 15:45] ajhewett commented on #22913
Just got bitten by this.  We also have ES endpoints behind reverse proxies and are not able to use them as a source for remote reindex.
Our url is like http://host:port/elasticsearch

[2018-02-19 16:06] DaveCTurner commented on #28727
Joda does really quite a lot of work in trying to find the previous time zone transition, which I'd guess to be the expensive bit (and it appears on the stack trace in the investigation you were working on):

https://github.com/JodaOrg/joda-time/blob/master/src/main/java/org/joda/time/tz/DateTimeZoneBuilder.java#L595

`java.time` looks to be a lot smarter - it sorts out the transitions by year and

[2018-02-19 16:29] tlrx opened #28729 "[CI] Test failed with AssertionError/Must be on selector thread"
The test `AzureMinimumMasterNodesTests.testSimpleOnlyMasterNodeElection` failed today on CI:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=fedora/693

The test execution log is [consoleText.txt](https://github.com/elastic/elasticsearch/files/1737421/consoleText.txt). It shows that the test itself is executed correctly but an AssertionError was rai

[2018-02-19 16:54] s1monw commented on #28714
I am looking into it

[2018-02-19 16:55] yawboateng commented on #28351
hit it again:
[code]

Note i did  not recreate the steps: https://github.com/elastic/elasticsearch/issues/28351#issuecomment-366189216

[2018-02-19 17:08] dnhatn commented on #28720
@shaharmor, Sorry I missed your comment.

This works because the window between step 1 and step 2 is very small and it's no problem if there is no write operation in that window.

[2018-02-19 17:11] shaharmor commented on #28720
So basically we were lucky all this time 😁

[2018-02-19 17:14] krueger commented on #28725
This is the query

[code]

Which value is used for sorting the search results? The value from _score or the value from _explanation? Is the result sorted correctly?

[2018-02-19 17:46] jpountz commented on #28727
This is good to know, thanks for sharing. I suspect that the `Rounding` class would be one of the easier ones to migrate so we might not have to wait long to know how much java.time helps.

[2018-02-19 17:51] jpountz commented on #28725
Results are always sorted based on `_score`, `_explanation` is just extra debugging information. I suspect results are still sorted correctly, but it is hard to say for sure without knowing what the exact bug is.

[2018-02-19 18:01] jpountz commented on #28479
@justinwyer Yes.

[2018-02-19 18:04] DaveCTurner commented on #28727
Sounds like you're volunteering!

[2018-02-19 18:05] gellweiler opened #28731 "Simple Grok pattern crashes the entire elastic cluster"
This `Bonsuche mit folgender Anfrage: Belegart->\[%{WORD:param2},(?<param5>(\s*%{NOTSPACE})*)\] Zustand->ABGESCHLOSSEN Kassennummer->%{WORD:param9} Bonnummer->%{WORD:param10} Datum->%{DATESTAMP_OTHER:param11}` not so complicated Grok pattern matched against `Bonsuche mit folgender Anfrage: Belegart->[EINGESCHRAENKTER_VERKAUF, VERKAUF, NACHERFASSUNG] Zustand->ABGESCHLOSSEN Kassennummer->2 Bonnummer

[2018-02-19 18:19] dnhatn opened #28732 "[CI] Find a task result record from the old cluster fails on 6.2"
I can reproduce this locally on 6.2.

[code]

CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+multijob-unix-compatibility/os=centos/119/console
Log: [task-id.txt](https://github.com/elastic/elasticsearch/files/1737845/task-id.txt)

[2018-02-19 18:42] krueger commented on #28725
This is the complete explanation part:

[code]

[2018-02-19 18:45] jimczi commented on #28725
I think it's just a known issue with `rescorer`. If the `window_size` (which default to `10`) of the `rescorer` is smaller than the requested size (`from`+`size`, in the example query `0+67`) then all documents that appear after the `window_size` will skip the rescore and they will just apply the `query_weight` to the original score. Though we don't check if the document was part of the window whe

[2018-02-19 19:34] rjernst commented on #28707
I'm apprehensive about this (aside from general misgivings about osgi) because we would like to work on making all our jars java 9 modules, but (I believe) that would then require having 2 builds for the client here.

[2018-02-19 19:36] modesolaa commented on #28706
Isn't this suppose be a public forum? Why then close it?

[2018-02-19 19:40] royteeuwen commented on #28707
Hey @rjernst ,

I don't see why this would be the case? You can have java 9 modules which are also OSGi bundles? They are not mutually exclusive

[2018-02-19 19:57] jasontedor commented on #28706
Each organization is free to work with their community differently. Our preference is to handle bugs and feature requests here, and provide general help via our [forum](https://discuss.elastic.co). We are more than happy to help you on the [forum](https://discuss.elastic.co).

[2018-02-19 20:08] modesolaa commented on #28706
I have a similar issue to what was described in one of the closed tickets. It was said in the ticket that using JAVA_HOME as the system variable resolved the problem.
My issue is inability to start elasticsearch service on a Windows machine. While I have my JAVA_HOME set in the environmental variable, I do not know the system variable

[2018-02-19 20:37] acossette1979 opened #28735 "ConfigSyncService] [node01] Failed to start ConfigFileUpdater. org.elasticsearch.ElasticsearchSecurityException: action [indices:admin/exists] is unauthorized for user [_system] with x-pack"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.1.0
**Plugins installed**: []
node01 analysis-fess     6.1.0
node01 analysis-ja       6.1.0
node01 analysis-synonym  6.1.0
node01 configsync        6.1.0
node01 dataformat        6.1.0
node01 ingest-geoip      6.1.0
node01 ingest-user-agent 6.1.0
node01 langfield         6.1.0
node01 minhash           6.1.0
node01 x-pack            6.1.0

[2018-02-19 20:41] jasontedor commented on #28735
I am sorry to tell you that we do not support X-Pack on this repository, it’s for open source Elasticsearch only. Additionally we do not support the Config Sync plugin. Please use the [forum](https://discuss.elastic.co) and contact the plugin author.

[2018-02-19 20:42] #28735 closed

[2018-02-19 21:04] s1monw commented on #28714
@bra-fsn thanks for reporting this. @danielmitterdorfer @ywelsch I opened a pr for this.

[2018-02-19 21:46] tbrooks8 commented on #28729
I have added a commit to fix this issue. Closing.

[2018-02-19 21:49] tbrooks8 commented on #27933
This should be complete as we have merged the work to add the elasticsearch-core jar. Closing.

[2018-02-19 21:49] #27933 closed

[2018-02-19 22:51] Eusebiu-Biroas opened #28739 "Boosting Query with negative_boost does not work as expected on 6.x"
**Elasticsearch version** : 6.x

**JVM version** :1.8.0

**OS version** : Windows 10, Kubernetes Pods

**Description of the problem**:
On versions **6.x** it seems that **Boosting Query** with **negative_boost** does not work anymore as described in the [**Official Guide**](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-boosting-query.html).
On versions **5.x** it works

[2018-02-19 22:56] astefan opened #28740 "_update API should check the syntax in case of scripted updates"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.1.2

**Plugins installed**: []

**Description of the problem including expected versus actual behavior**:

The `_update` API doesn't seem to reject a command that is wrong. Actually, this example comes from [The Definitive Guide](https://www.elastic.co/guide/en/elasticsearch/guide/current/partial-updates.html) (which I know it's WIP), bu

[2018-02-20 01:27] dnhatn opened #28741 "[CI] RolloverIT#testRolloverWithDateMath failed at midnight"
The rollover test with the date pattern happened and failed at midnight.

[code]

The new index name was derived from the next day rather than today.

[code]
CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=sles/695/console
Log: [testRolloverWithDateMath.txt](https://github.com/elastic/elasticsearch/files/1738671/testRolloverWithDateMath.txt)

[2018-02-20 03:36] yawboateng commented on #28351
just upgraded from 6.1 to 6.2 and kibana is showing:

`plugin:elasticsearch@6.2.1 | Your Kibana index is out of date, reset it or use the X-Pack upgrade assistant.`

which i believe ill have to rerun: https://github.com/elastic/elasticsearch/issues/28351#issuecomment-365998467 again

[2018-02-20 04:44] apatrida opened #28742 "Gradle plugin for ES plugin development disables other language plugins"
I am not sure of all the details yet, but starting this thread.

But somewhere between `5.6.4` and `5.6.7` of Elasticsearch and the `elasticsearch.esplugin`, or between `1.1.x` of Kotlin and `1.2.21` the two plugins no longer work together.  Something causes the Kotlin plugin to not function correctly.  The compiler runs, but it has no dependencies in its source sets.  Not sure which side this is

[2018-02-20 04:46] apatrida commented on #28742
(yes, I know this is outdated ES version, but I have to get this version fixed before I can move forward to current versions)

[2018-02-20 05:58] rjernst commented on #28742
Nothing was changed in 5.6 with the build. We noticed some changes in gradle behavior recently, but this was when updating to gradle 4.5 (see #28490 and https://discuss.gradle.org/t/test-task-has-empty-dependson-in-gradle-4-5/25704). But I do not think this is related to Elasticsearch, so I hope you don't mind that I close this issue. If you have reproduction instructions (and actual details for w

[2018-02-20 05:58] #28742 closed

[2018-02-20 08:07] tlrx commented on #28729
Thanks!

[2018-02-20 08:38] #24313 closed

[2018-02-20 08:53] bra-fsn commented on #28714
@s1monw : great, thanks for fixing it!
Also thanks @ywelsch for not letting this down into the sink. :)

[2018-02-20 09:29] javanna commented on #16053
Hi @spojan & @dackebro , I did some digging and I am not too sure what is left to be done here.

Most of this issue has been tackled with #24723, in fact `RestGetIndicesAction` doesn't parse "features" anymore, and no longer registers the `/{index}/{type}` endpoint.

We now also have `RestGetAllSettingsAction` that registers `/_settings`, `RestGetAllMappingsAction` that registers `/_mappings` and

[2018-02-20 09:47] clintongormley commented on #16053
@javanna that last change will be taken care of by https://github.com/elastic/elasticsearch/issues/15613, so I think we can close this issue.

@spojan and @dackebro thanks for taking a look - we'd welcome your contributions on another open ticket.

[2018-02-20 09:47] #16053 closed

[2018-02-20 09:48] albertzaharovits commented on #28594
@sarajmunjal It is better to open a PR to discuss code.
Opening a PR will open the subject to a broader audience. A single opinion is not enough to get it merge anyway.

[2018-02-20 11:10] redlus opened #28743 "Data node with spinning disk crashes (OutOfMemoryError)"
Hi everyone.

We're experiencing a critical production issue when trying to utilize cold-nodes architecture (moving indices from SSD disk nodes to HDD disk nodes). The following the is the full report:

**Elasticsearch version** (`bin/elasticsearch --version`):
5.2.2

**Plugins installed**: []
ingest-attachment
ingest-geoip
mapper-murmur3
mapper-size
repository-azure
repository-gcs
repository-s3
x

[2018-02-20 11:24] lobodpav commented on #25564
Setting up the `xpack.ml.enabled: false` option along with `xpack.security.enabled: false` solved the issue on my end. See https://discuss.elastic.co/t/bulk-indexing-with-x-pack-exception/92086/5.

[2018-02-20 11:30] dannymurphygfk commented on #25603
Any progress on this ?
We don't have any new information but we still have this issue with showing incorrect totals, unless we do a rolling restart every time.

[2018-02-20 12:15] znanev opened #28744 "geo_shape query on geo_shape field of type point with points_only set to true does not work in 6.x"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.2.1, Build: 7299dc3/2018-02-07T19:34:26.990113Z, JVM: 1.8.0_161

**Plugins installed**: None

**JVM version** (`java -version`):
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Li

[2018-02-20 12:49] albertzaharovits commented on #28744
@elastic/es-search-aggs

[2018-02-20 12:53] albertzaharovits commented on #28743
@elastic/es-distributed

[2018-02-20 12:58] colings86 commented on #28744
@nknize  could you take a look?

[2018-02-20 13:10] okke-formsma commented on #28662
Today I tested the ability to restore backups made by an elastic6 cluster, and those fail with the same exception.

This is blocking our elastic6 migration. Does anyone have some insight in what is going wrong?

[2018-02-20 13:15] tlrx commented on #28743
This looks like another Netty's recycler issue, but it should be disabled in 5.2.2 thanks to #22452.

@redlus Can you please provide the JVM options for the node `esdatacold2-prod`? They are printed out in the logs at startup time (something like `[INFO ][o.e.n.Node] [node-0] JVM arguments [...]` ) or you can list them using `curl -XGET 'http://localhost:9200/_nodes/node-0/jvm?pretty'`

Also, a he

[2018-02-20 13:42] floggle opened #28746 "Unable to specify IP type in network.host"
ES 6.2.1
This page:
https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-network.html

Says:
"IPv4 vs IPv6edit

These special values will work over both IPv4 and IPv6 by default, but you can also limit this with the use of :ipv4 of :ipv6 specifiers. For example, _en0:ipv4_ would only bind to the IPv4 addresses of interface en0."

But if I specify my network.host to use that:
`ne

[2018-02-20 14:05] jasontedor commented on #28743
@tlrx The JVM arguments are not logged at startup nor available in the API in 5.2.2, that is only since 5.4.1 (#24450, #24451). Here, to have the JVM arguments, the user needs to shell into an instance running Elasticsearch and execute `jps -l -m -v` and share the output.

[2018-02-20 14:09] radeno commented on #13351
I dont want to be troll but even javascript (i work with it) has awesome library https://github.com/Turfjs/turf but high-scalabe technology doesn't.

[2018-02-20 14:12] tlrx commented on #28743
Thanks @jasontedor. I thought it was older but I admit I didn't double checked.

[2018-02-20 14:30] farin99 commented on #28743
We will upload the full memory dump (17 GB, 6GB compressed), until then here is an export form yourKit of the objects by class. Hope it will help.
[Objects-by-class.csv.zip](https://github.com/elastic/elasticsearch/files/1740399/Objects-by-class.csv.zip)

[2018-02-20 14:31] redlus commented on #28743
@tlrx here are the JVM options, along with GC/memory pools if relevant:

[code]

The heap dump is pretty large, but I'll upload it soon.

[2018-02-20 14:31] jasontedor commented on #28746
A `:` is special in YAML, you have to quote it: `[_local_, "_eth0:ipv4_"]`. So this works for me:

[code]

[2018-02-20 14:31] #28746 closed

[2018-02-20 14:36] tlrx commented on #28743
A full memory dump might contain sensitive data so I'm not sure you want to make it public. But an overview of the biggest objects can help.

[2018-02-20 14:38] tlrx commented on #28743
Thanks @redlus. Can you apply [Jason's comment](https://github.com/elastic/elasticsearch/issues/28743#issuecomment-366987228) and provide the output please?

[2018-02-20 14:40] redlus commented on #28743
@tlrx for sure..:
77361 sun.tools.jps.Jps -l -m -v -Dapplication.home=/usr/lib/jvm/java-8-openjdk-amd64 -Xms8m

[2018-02-20 14:42] redlus commented on #28743
@tlrx also, does the .csv file @farin99 uploaded contain the object requested?
e.g.
![image](https://user-images.githubusercontent.com/7827282/36430128-114a998a-165d-11e8-849d-740507df2b36.png)

[2018-02-20 14:45] tlrx commented on #28692
Thanks @redbearsam. Indeed, I think we can now correctly report the PARTIAL status. Do you still want to submit a pull request?

[2018-02-20 14:46] jasontedor commented on #28743
@redlus You have to run this as the same user that runs the Elasticsearch process and on a machine where one of the instances in your cluster is running.

[2018-02-20 14:46] farin99 commented on #28743
Here is an overview of the biggest objects
[Objects-with-biggest-retained-size.csv.zip](https://github.com/elastic/elasticsearch/files/1740456/Objects-with-biggest-retained-size.csv.zip)

[2018-02-20 14:51] redlus commented on #28743
@jasontedor right, I've amended the previous comment with the correct information.

[2018-02-20 14:52] tsouza opened #28747 "[DOC] Wrong disable/re-enable shard allocation commands."
As of `6.0`, the documentation on rolling upgrading is disagreeing on shard allocation commands:

Link: https://www.elastic.co/guide/en/elasticsearch/reference/6.0/rolling-upgrades.html

Step 1:

{
  **"persistent"**: {
    "cluster.routing.allocation.enable": "none"
  }
}

Step 7:

{
  **"transient"**: {
    "cluster.routing.allocation.enable": "all"
  }
}

This should be putting many clusters ou

[2018-02-20 14:58] cstack89 opened #28748 "Failed Run or install as service From Program Files"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.1

**Plugins installed**: []

**JVM version** (`java -version`): JDK 1.8.0.151

**OS version** (`uname -a` if on a Unix-like system): Windows Server 2012

**Description of the problem including expected versus actual behavior**:
I unzipped the elasticsearch zip file to a sub-directory under C:\Program Files (x86) and I have JAVA_HOME p

[2018-02-20 15:01] JD557 commented on #24123
Recently, I've noticed a huge slowdown in snapshots. After looking at the elasticsearch logs, I've found a lot of errors like this:

[code]

Is it possible that the latest changes can output an incorrect JSON somewhere?

[2018-02-20 15:03] jasontedor commented on #28743
Do you set `index.merge.scheduler.max_thread_count` on your cold nodes with the spinning disks? If so, would you please share the value that you're setting it to? If not, would you please set `index.merge.scheduler.max_thread_count` to `1`?

[2018-02-20 15:10] redlus commented on #28743
We haven't changed this setting, so I believe it is set to the default (4, in our case).

[2018-02-20 15:11] albertzaharovits commented on #28748
@elastic/es-core-infra

[2018-02-20 15:12] albertzaharovits commented on #28748
This looks like: https://github.com/elastic/elasticsearch/issues/27289
but should have been fixed in 6.x https://github.com/elastic/elasticsearch/issues/27289#issuecomment-342501587 ?
Is it the same underlying cause @DaveCTurner , can you please take a look?

[2018-02-20 15:17] jasontedor commented on #28743
I encourage you to change this setting to `1` for your cold nodes with spinning disks. Please let us know what impact this has on your cluster after making this change.

[2018-02-20 15:18] tlrx commented on #24123
I'd say no, the latest changes didn't impact the output of this file. The exception is triggered by #22073 which adds detection for duplicated fields in XContent (in your case, a SMILE file). Can you please send me the `index-0` file (tanguy at elastic.co)? I'm curious to see what it contains... It does not contain sensitive data but contains snapshots and indice names.

[2018-02-20 15:24] redlus commented on #28743
I will try changing this setting to check if it affects the crash. However, the fact that a default setting actually causes the process to crash is a bit bizarre. Shouldn't there be some kind of protection against such cases?

[2018-02-20 15:27] cstack89 commented on #28748
Still early but it looks like it's working for me if I change to delayed expansion for ES_CLASSPATH and ES_JVM_OPTIONS in elasticsearch.bat line 46 (or whichever line sets the JVM_OPTIONS).

And in elasticsearch-service.bat where it sets LOG_OPTS I turned on delayed expansion for LOG_OPTS and  SERVICE_LOG_DIR and also did the delayed expansion change for ES_CLASSPATH and ES_JVM_OPTIONS where it se

[2018-02-20 15:35] #28714 closed

[2018-02-20 15:45] redlus commented on #28743
Two quick questions about merge thread count:
1. This seems to be an index setting. Is there a way to set this per node?
2. How many threads would the merge module run if two indices with different max_thread_count settings are located in the same node (with a spinning disk)? i.e., one index with 4 and one index with 1.

[2018-02-20 15:46] jasontedor commented on #28743
No, you can only set this an index setting; you would have to set this as part your migration to your cold tier.

Up to five concurrent threads could be running here.

[2018-02-20 16:45] talevy commented on #28269
@jasontedor I will take a look at this today and share the update

[2018-02-20 17:59] redlus commented on #28743
@tlrx @jasontedor
If this helps, I now have the full compressed dump available. We can discuss how to privately let you access this file (to prevent this information from being publicly available).

[2018-02-20 19:01] pickypg commented on #27677
I think the bug here is not that the last setting is set transiently, rather than the full cluster restart and rolling restart documentation are in disagreement.

Rolling restart, step 7 shows:

[code]

Full cluster restart, step 8 shows:

[code]

As long as you follow either guide, you _should_ end up with allocation enabled. The only issue here is that a transient setting of `"all"` is lost foll

[2018-02-20 19:25] #28732 closed

[2018-02-20 19:31] talevy commented on #28269
@jasontedor update: the exception is not swallowed. I just thought that this was being applied when the NodeService is created, but it is only registered as a cluster-state applier and applies things after startup.

here is the stacktrace that should be seen on the cloud instances.

I don't see a way to restrict the node from starting up since this is occurring too late in the game. One thing that

[2018-02-20 19:31] inqueue commented on #28747
The bug here is the doc does not mention how to put the cluster back into its original state at the end of the rolling upgrade process. Perhaps there should be a step 10 that either nulls out the persistent cluster setting or sets `"cluster.routing.allocation.enable": "all"` in persistent cluster settings.

[2018-02-20 19:34] tsouza commented on #28747
I agree with @inqueue . The cluster state should end in the same state that it was before starting the rolling upgrade process.

[2018-02-20 19:42] gmoskovicz commented on #28747
Relates to https://github.com/elastic/elasticsearch/issues/27677

[2018-02-20 19:54] jasontedor commented on #28747
Duplicates #27677

[2018-02-20 19:54] #28747 closed

[2018-02-20 19:54] jasontedor commented on #27860
Duplicates #27677

[2018-02-20 19:54] #27860 closed

[2018-02-20 21:36] talevy commented on #28269
I've opened #28752 to resolve this. feel free to comment. I understand that other forms of exceptions may be preferred and would be happy to hear others' thoughts.

[2018-02-20 21:42] robert-blankenship commented on #12273
You're right, thanks @ywelsch !

[2018-02-20 22:30] synthesize commented on #28696
Apologies, but could you elaborate on this? My work-around was similar to the following:
`String s = ("0000000000" + integerString).substring(integerString.length());`

Are you saying I could create an array to pass to `String.format()` to get the desired results?

[2018-02-20 22:38] jasontedor commented on #28748
This has nothing to do with #27289, the problem is not the spaces. The problem is the closing parenthesis in the path, it busts the `for` statement. I have a fix.

[2018-02-20 22:43] jasontedor commented on #28748
This reproduction is not accurate. All is well in `Program Files` but not `Program Files (x86)` (because of the closing `)`.

[2018-02-20 23:06] jasontedor commented on #28748
Also, another reason that #27289 is not relevant: the code tripping here in the batch file is new in 6.2 and does not exist in 5.6 at all.

[2018-02-20 23:12] talevy commented on #28492
missed this. thanks for the ping... I don't quite remember why this assertion behaves as it does anymore :(. I remember I was more interested in the general shape of the document, and I understand this fails that as well.

looking more closely... this fails almost an infinite of other cases as well... which leads me to mis-remember why it was written how it was in the first place 😄. I'll take a lo

[2018-02-20 23:12] jasontedor commented on #28748
I opened #28753.

[2018-02-20 23:36] KrzysztofMadejski commented on #23486
I can't update my ES, same as @aymone , because services depend on this version.

Any workarounds? How one can disable cgroup hierarchy and what does it mean / what side-effects can it have?

[2018-02-21 00:42] damntourists opened #28755 "Unable to compile string as Pattern object in Painless"
**Elasticsearch version** (`bin/elasticsearch --version`):
Elasticsearch 5.5.3

**Plugins installed**: []
None

**JVM version** (`java -version`):
% java -version
java version "1.7.0_151"
Java(TM) SE Runtime Environment (build 1.7.0_151-b15)
Java HotSpot(TM) 64-Bit Server VM (build 24.151-b15, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
% uname -a
Linux [HOSTNAME HERE] 2.6.3

[2018-02-21 01:34] debadair opened #28756 "Typos in the Elasticsearch reference"
Reported from misspell:

reference/docs/refresh.asciidoc:49:27: "payed" is a misspelling of "paid"
reference/how-to/recipes/scoring.asciidoc:68:25: "inital" is a misspelling of "initial"
reference/how-to/general.asciidoc:34:65: "necesarily" is a misspelling of "necessarily"
reference/query-dsl/span-not-query.asciidoc:6:7: "controled" is a misspelling of "controlled"

(Assigning to Sue once she's a

[2018-02-21 04:26] astefan commented on #27677
I agree with [this comment](https://github.com/elastic/elasticsearch/issues/28747#issuecomment-367092132), the cluster needs to be brought back to the initial state. Not many users are following the procedure when it comes to a full cluster restart. Usually, they are doing it when they actually upgrade.

In other cases, the cluster is just restarted without any allocation being disabled. When this

[2018-02-21 05:52] tvernum commented on #26240
This just happened for HDFS repository as well, and I guess the underlying cause is not repo specific

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.2+multijob-unix-compatibility/os=centos/125/console
[code]

I checked the node's log, it has nothing related to this request. It ends with:
[code]
The "test_repo_hdfs_1" repo is referenced exclusively in `20_repository_delete.yml`

[2018-02-21 06:35] pickypg commented on #27677
But when you restart a cluster accidentally, you are in _better_ shape having disabled allocation rather than allowing allocations in an unexpected situation.

It's true that it is not the default, but that's because the default when you startup is to let you get to work. Leaving it set as `none` leaves you in a safer state whether you intentionally or accidentally restart a node: no allocations h

[2018-02-21 06:42] tvernum opened #28758 "PluginsServiceTests fail on windows (again)"
Related: https://github.com/elastic/elasticsearch/issues/28095

It seems that recent changes to the PluginsServiceTests have (re)introduced a windows incompatibility.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-windows-compatibility/700/console
[code]

It seems that this is triggered by the changes in 106f5c5925059f4655b9c2abadcdbb18b4da4180

[2018-02-21 07:29] tlrx commented on #26240
Thanks @tvernum. The underlying cause - at least for s3 and other cloud based plugins - is that a repository creation with a `verify` flag to false is still executing some remote accesses like verifying the bucket existence. If the network is not available or the remote host not reachable the test times out.

I plan to change the repository verification action so that it does *actually* nothing if

[2018-02-21 08:24] astefan commented on #27677
This gh issue was about rolling upgrades and my comment regarding transiently setting it to none applies to rolling upgrades.

I agree it is safer to do it persistently and then reverting it with transiently, but you have the downside of not being aware of the persistent one having been applied at some time and assuming that the cluster should get back to "normal" after restart. Which is not happe

[2018-02-21 09:40] #28683 closed

[2018-02-21 10:26] martijnvg commented on #27242
This has been implemented via #27573

[2018-02-21 10:26] #27242 closed

[2018-02-21 10:32] brianMeskill commented on #28744
I was just going to open the same bug.

Some further info that might help: this is **not** an issue in `6.0.1` but I've reproduced it in subsequent versions including `6.1.0` and `6.2.2`.

[2018-02-21 10:40] vbeskrovnov opened #28761 "CreateIndexRequest doesn't work"
Bug report
------------

**Elasticsearch version** (`bin/elasticsearch --version`): "6.2.0"

**Plugins installed**: []

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): Windows 10

**Java API version**: `org.elasticsearch.client:elasticsearch-rest-high-level-client:6.2.2`

**Description of the problem including expected versus actual behavior**:
Index c

[2018-02-21 10:43] jimczi commented on #28739
Thanks for reporting @Eusebiu-Biroas ! This is a bug in Lucene, I opened https://issues.apache.org/jira/browse/LUCENE-8182 to fix it.

[2018-02-21 10:56] minfrin opened #28762 "Deb/RPM: plugins need to be packaged alongside elasticsearch"
At the moment, elasticsearch is packaged and made available via various means, including rpm and debian.

The plugins however are not packaged, and are instead downloaded at deploy time off the public internet. While useful for prototyping, this mechanism isn't robust enough for use in a production environment where SLAs and security requirements exist.

I have spent some time trying to patch this

[2018-02-21 10:56] javanna commented on #28761
hi @vbeskrovnov is it possible that you have two different Elasticsearch jars in your classpath from different versions? `CreateIndexRequest` in the 6.2 branch does implement `ToXContent`, in fact if it didn't our own code wouldn't even compile.

[2018-02-21 10:59] vbeskrovnov commented on #28761
Hi, @javanna , thank you for response! Yes, you are right, sorry for wasting your time!

[2018-02-21 10:59] #28761 closed

[2018-02-21 11:10] farin99 commented on #28743
@jasontedor so if I have 100  indexes (index.merge.scheduler.max_thread_count=4 in each one ), I could have 400 threads running at the same time? Are they limited by a thread pool of any kind?

How will this prevent many threads from running on a spinning disk node if such a node has 100 indices set to 1 thread per index?

Regarding the dump, there are many threads in WAITING state. Most of them h

[2018-02-21 11:57] colings86 commented on #28762
@elastic/es-core-infra Could you take a look into this?

[2018-02-21 13:08] melvilgit opened #28763 "Elasticsearch 503 service unavailale"
I have a kafka consumer continously writing to Elasticsearch.
My Elasticsearch version - 5.6.1
Problem - Getting intermittent errors
 failed to execute on node  log-4879-org.elasticsearch.transport.ReceiveTimeoutTransportException: [sre-es-23990507-1-315814692][100.65.6.183:9300][cluster:monitor/nodes/stats[n]] request_id [1232041] timed out after [15000ms]

Also seeing lots of gc overhead spent w

[2018-02-21 13:18] colings86 commented on #28763
Hi @melvilgit , we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) instead. Thank you!

[2018-02-21 13:18] #28763 closed

[2018-02-21 13:39] Eusebiu-Biroas commented on #28739
With pleasure, thank you too @jimczi :) .

[2018-02-21 13:46] martijnvg commented on #28731
@gellweiler Thanks for reporting this, threads indeed can get stuck evaluating the grok expression.

This reproduce for me with the following ingest simulate api call on master:

[code]

This api call never returns and I see in hot threads api that the following stack trace being returned:

[code]

and this one:

[code]

@talevy What would be the best way avoiding joni from evaluating these poison

[2018-02-21 14:23] samialmorshedi opened #28764 "Elasticsearch disabled elastic user after some restart Nodejs app"
I have a Nodejs app using elastic search. For dev mode, I need lots of restarts my app. after some restarts, elastic shows me
`failed to authenticate user [elastic], with { header={ WWW-Authenticat at respond ...
`
I change the x-pack passwords for Elasticsearch and Kibana (auto generator) naw it fixed. Why elastic disable the elastic user after some refresh?

[2018-02-21 14:25] dadoonet commented on #27198
I looked at this and it seems like that Apache Tika 1.17 depends on PDFBox 2.0.8:

[code]

I can see that TIKA will be updated to a new pdfbox version with https://issues.apache.org/jira/browse/TIKA-2178 (for other reasons).
I opened https://issues.apache.org/jira/browse/TIKA-2579 to track this BTW.

I'm unsure though if that will really fix the problem though. As [PDFBox team asked](https://issue

[2018-02-21 14:38] dadoonet commented on #28764
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-02-21 14:38] #28764 closed

[2018-02-21 14:53] jasontedor commented on #28762
It is possible to download these and install them offline from a file URL or via a proxy to a location that you control.

Would you please elaborate why not given the above caveats?

I am not sure what you mean by "alongside" and "aligned"? We currently build all artifacts from a single commit?

[2018-02-21 14:54] elasticmachine opened #30070 "[ML] Opening a job with duplicate detectors fail"
*Original comment by @davidkyle:*

Create a job with duplicate detectors e.g.
[code]
The job will fail when you try to open with the reason hidden in the log file
[code]

The validation in x-pack should be the same as in autodetect so this config is rejected at creation.

[2018-02-21 14:56] minfrin opened #28765 "Elasticsearch plugins missing from maven central"
Elasticsearch v6.2.2 is available from maven central:

https://repo1.maven.org/maven2/org/elasticsearch/elasticsearch/6.2.2/

Elasticsearch plugins, like elasticsearch-analysis-icu plugin, are not available from maven central:

https://repo1.maven.org/maven2/org/elasticsearch/elasticsearch-analysis-icu/ (up to v2.7.0)
https://repo1.maven.org/maven2/org/elasticsearch/plugin/analysis-icu/ (up to 5.0

[2018-02-21 15:02] dadoonet commented on #28765
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-02-21 15:02] #28765 closed

[2018-02-21 15:02] jdconrad commented on #28696
@synthesize No need to apologize!  String.format in Painless accepts an array of def instead of a standard list of arguments.  Something along the lines of ```String.format('%d %f %s', new def[] {1, 2.0, 'string'})``` should work.

[2018-02-21 15:11] minfrin commented on #28762
Modern operating systems and distributions all offer packaging systems, and we use these packaging systems extensively to deploy software. In the case of Ubuntu, which we use, that packaging system is deb/aptly. Our RPM systems use dnf/yum.

We don't allow any of our systems to use bespoke software distribution systems, as these become an operational nightmare. Elastic is just one part of a larger

[2018-02-21 15:12] nikoncode opened #28766 "query_string query works wrong for wildcard"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.1

**Plugins installed**: []

**JVM version** (`java -version`): OpenJDK Runtime Environment (build 1.8.0_162-b01)

**OS version** (`uname -a` if on a Unix-like system): Linux mikita-pc 4.14.20-2-MANJARO #1 SMP PREEMPT Sat Feb 17 21:47:27 CET 2018 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior*

[2018-02-21 15:28] jpountz commented on #28725
I think we should fix it: scores are explanations should always match.

[2018-02-21 15:34] dadoonet commented on #28766
I never saw this `,` way to write query string. I might be wrong.

Any way, I tried this:

[code]

And this gives both results.

I think it's better to discuss that on discuss.elastic.co as I'm unsure that it's a bug here but more how query string query works and is documented (unless I'm wrong).

[2018-02-21 15:36] dadoonet commented on #28766
`(a*, bb)` basically generates 2 tokens: `a*,` and `bb`. Only `bb` matches.
`(a*,bb)` generates 1 tokens: `a*,bb` which obviously does not match.

I'm closing then.

[2018-02-21 15:36] #28766 closed

[2018-02-21 15:37] jasontedor commented on #19026
Our packaging tests in CI now cover upgrades from all eligible versions, I think that we can close this one out.

[2018-02-21 15:37] #19026 closed

[2018-02-21 15:39] jasontedor commented on #27236
No, look at the packaging tests in qa/vagrant; you can create test that sets `vm.max_map_count` at the start of the test and then exercise the condition here.

[2018-02-21 15:58] #28748 closed

[2018-02-21 16:01] jasontedor commented on #28748
Thanks so much for the report @cstack89.

[2018-02-21 16:23] minfrin commented on #28765
Looking further in the source code, there is a feature to download plugins from maven central:

distribution/tools/plugin-cli/src/main/java/org/elasticsearch/plugins/InstallPluginCommand.java

        // now try as maven coordinates, a valid URL would only have a colon and slash
        String[] coordinates = pluginId.split(":");
        if (coordinates.length == 3 && pluginId.contains("/") == fal

[2018-02-21 16:27] apatrida commented on #28742
Well, the ES plugin plugin seems to now not let any library have tertiary dependencies, which appears to be a change yes?  Kotlin moved some things out of its embeddable compiler lib into separate tertiary dependencies and they now are not added, so this causes a clear issue.  So it appears I have to go dig up the full tree and manually include each level of dependency.  So it was caused by the ES

[2018-02-21 16:27] dadoonet commented on #28765
@minfrin No this code is still useful for the community who are building their plugins and often distribute them on Maven central.

[2018-02-21 16:29] apatrida commented on #28742
@rjernst "Nothing was changed in 5.6 with the build." other than not allowing tertiary dependencies in plugins, this probably broke quite a few of their builds.

[2018-02-21 16:45] lcawl opened #28770 "Fixing code snippet testing for attributes that contain a period"
This issue is related to the instructions in  https://github.com/elastic/elasticsearch/blob/master/docs/README.asciidoc

// TESTRESPONSE[s/"17179869184"/$body.$_path/] failed because it seemed to stumble over the periods in this code snippet:

[code]

The work-around is as follows:
TESTRESPONSE[s/"17179869184"/$body.datafeeds.0.node.attributes.ml\\.machine_memory/]

Ideally the code snippet testin

[2018-02-21 16:50] rjernst commented on #28742
@apatrida If by "tertiary dependencies" you mean transitive dependencies, the plugin has never allowed them. The gradle plugin is how we (Elastic) build our own plugins, and we want to know *exactly* which dependencies we are using, so we disable transitive dependencies within the entire build. But this has not changed; it has been that way since we switched to gradle in 5.0.

If you need help fix

[2018-02-21 16:56] AdrianSzymczak opened #28771 "Span Query bug"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
5.4.3, build hash eed30a8, lucene version 6.5.1

**Plugins installed**: []
None

**JVM version** (`java -version`):
openjdk version "1.8.0_161"
OpenJDK Runtime Environment (build 1.8.0_161-b14)
OpenJDK 64-Bit Server VM (build 25.161-b14, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux loc

[2018-02-21 17:10] dadoonet commented on #19928
As said by @javanna as we already have a way to catch global errors on a processor or pipeline level, let's close this feature request.

[2018-02-21 17:10] #19928 closed

[2018-02-21 18:24] redlus commented on #28743
@jasontedor

I'm running one of the spinning disk nodes for the last couple of hours after setting index.merge.scheduler.max_thread_count=1 to all of the indices it contains. These indices are marked for rerouting to other nodes (with SSD disks), and for now everything seems to work.

-----

This poses two issues:

1. The fact that the default setting of this parameter causes spinning disk nodes t

[2018-02-21 18:33] jasontedor commented on #28743
For the issues that you raise, please see #28555, I think it covers everything?

This is the first time that I have ever seen this lead to out of memory issues. Previously we assumed spinning and required adjustment if on SSD, today we do the opposite. We do document that on spinning disks users should set this setting to 1.

I am going to close this as we've solved your immediate production issue

[2018-02-21 18:33] #28743 closed

[2018-02-21 18:43] talevy commented on #28731
So, I am still investigating what is causing the regex processor to go insane here, but I recommend trying this pattern for now:

[code]

which results in the same expected output (I believe) and executes much faster

[code]

[2018-02-21 19:11] jasontedor commented on #28758
Thanks @tvernum, I am looking into this.

[2018-02-21 19:55] samialmorshedi commented on #28764
I ask there but nobody (i`m unest nobody) helps me!!

[2018-02-21 20:10] talevy commented on #28731
Since I do not believe this is a generic way to avoid the regex engine from entering a potentially exponential execution time, I am investigating ways to provide safe ways to interrupt the regex to avoid it from taking too much CPU for too long

[2018-02-21 20:15] jimczi commented on #28725
Fair enough, I restored the adoptme tag. Also note that the score will not always match the explanations since we can have more than one rescorer so only the explanation of the last rescorer should match the final score of the hit.

[2018-02-21 20:24] jasontedor commented on #28758
Closed by 3dfb4b8b18d692369643e0f4a423c5784ed2397c.

[2018-02-21 20:24] #28758 closed

[2018-02-21 20:47] synthesize commented on #28696
Brilliant! That works perfectly!
`String s = String.format('%010d', new def[] {Integer.parseInt(integerString)});`
is a much better solution than
`String s = ("0000000000" + integerString).substring(integerString.length());`

I know it isn't much, but this makes me so happy that it can be done. Thank you so much!

[2018-02-21 21:13] tbrooks8 commented on #28662
@okke-formsma thank your for opening this issue. It identified a real issue with a azure repository plugin.

A fix has been merged and will be included in 7.0, 6.3, and 6.2.3.

[2018-02-21 21:13] #28662 closed

[2018-02-21 21:32] twardnw opened #28775 "make `message.text` not required on Slack action"
The Slack action currently requires `message.text` to be present, though it is not required by Slack itself. A message can have an attachment which contains the text to be displayed. The current requirement for `message.text` means a message with attachment needs both `message.text` and `message.attachments.text`, causing the message displayed in slack to look slightly disjointed.

[2018-02-21 21:34] jasontedor commented on #28775
This repository is for open source Elasticsearch only, we do not handle X-Pack issues here. For that, please use the [forum](https://discuss.elastic.co).

[2018-02-21 21:34] #28775 closed

[2018-02-21 21:34] twardnw commented on #28775
Thanks for the direction.

[2018-02-21 22:32] apatrida commented on #28742
thanks, I'm all fixed, not sure why it was fine before and bad now. but all good today.

[2018-02-21 22:48] jdconrad commented on #28755
Unfortunately, Painless doesn't allow this as all Patterns are considered constant at runtime due to complications with performance and casting.  A workaround for this would be to create a new stored script whenever a regex changes or if they change nearly every time use inline scripts instead.

[2018-02-21 23:53] talevy commented on #16019
Coming back to this... do we have other examples of us wanting to do this?

I feel like the Bwc cluster formation code that has been since added to groovy can be modified to make solve this issue. (https://github.com/elastic/elasticsearch/blob/c15e5d480cc4019810b4094ec0a9007435d59ced/buildSrc/src/main/groovy/org/elasticsearch/gradle/test/ClusterFormationTasks.groovy#L483)

any objections to procee

[2018-02-21 23:59] rjernst commented on #16019
I'm not sure the reasoning for this test is still relevant. I believe the ingest proxy was removed through various refactorings. What benefit is there then to having an ingest specific multi node test? I think having qa tests for various configurations of ES and running rest tests or whatever on them would be good as a high level check, but feature specific qa tests are just more noise. If ingest

[2018-02-22 00:01] rjernst commented on #28755
Closing as this is working as designed.

[2018-02-22 00:01] #28755 closed

[2018-02-22 00:05] talevy commented on #16019
@rjernst to be honest, I am OK that with that decision as well. Just hoping to get a decision out of this since we have been seemingly OK without this for two years.

[2018-02-22 00:34] gellweiler commented on #28731
Thanks for investigating on this issue. The grok pattern was auto generated by a tool I wrote. I've changed the grok output to produce GREEDYDATA instead of Token*. Which also seems to be safe. Still I would like to know the root cause of this issue, to prevent generating dangerous expressions in the future.

[2018-02-22 00:36] damntourists commented on #28755
Thanks for the explanation @jdconrad!

[2018-02-22 00:44] chakpongchung opened #28776 "inconsistent Elastic score between kibana and Fetch API"
inconsistent _score between Kibana and restful call in Node.js
**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 6.1.2, Build: 5b1fea5/2018-01-10T02:35:59.208Z, JVM: 1.8.0_152

**Plugins installed**: []
Xpack
**JVM version** (`java -version`):

java version "9.0.1"
Java(TM) SE Runtime Environment (build 9.0.1+11)
Java HotSpot(TM) 64-Bit Server VM (build 9.0.1+11, mixed mode)

**

[2018-02-22 00:46] chakpongchung commented on #28776
![screen shot 2018-02-21 at 4 45 13 pm](https://user-images.githubusercontent.com/8110904/36513891-afa1407e-1726-11e8-8282-26f6ebf3a345.png)
<img width="667" alt="screen shot 2018-02-21 at 4 46 02 pm" src="https://user-images.githubusercontent.com/8110904/36513910-bac9b7ce-1726-11e8-92ff-b79ff2df5916.png">

[2018-02-22 02:28] jasontedor commented on #28762
Thank you for explaining your situation, the context is helpful.

We have considered the idea of enabling the plugins to be installed via package managers (nb. not distributed with the Elasticsearch packages, that would increase the size of the distributions by entirely too much). We do not consider it a priority at this time. As such, I am going to close this issue as we do not intend to take any

[2018-02-22 02:28] #28762 closed

[2018-02-22 03:15] czjxy881 opened #28777 "ThrottlingAllocationDecider outgoing message's nodeid is wrong"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.3.0

**Plugins installed**: []

**JVM version** (`java -version`):
1.8.0_111

**OS version** (`uname -a` if on a Unix-like system):
CentOS

**Description of the problem including expected versus actual behavior**:

the node.nodeId() should be primaryShard.currentNodeId()
![default](https://user-images.githubusercontent.com/3929477/365184

[2018-02-22 03:35] #17366 closed

[2018-02-22 06:20] huangRZ11 opened #28778 "the code with title PUT MAPPING is wrong at Java API [6.2] » Java API Administration » Indices Administration"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2018-02-22 07:09] xgwu commented on #26269
@erik-stephens @jasontedor

FYI. For my particular case, the culprit of  off heap memory leak seems to be G1 GC on the JVM version (`1.8.0_77-b03`) running on our environment.   Either switching G1 back to the default CMS or upgrading JVM to the latest version (`1.8.0_152-b16`) solves the problem.

[2018-02-22 07:15] DaveCTurner commented on #28771
One for @elastic/es-search-aggs

[2018-02-22 07:28] jarro2783 commented on #27677
I think the docs are still wrong for a rolling restart. If I use *transient* to re-enable, then repeat the procedure for the next node, I am now in the wrong state. If I follow the first step and disable it for *persistent*, then nothing happens, because it is already disabled, and *transient* is already enabled. So the docs should either say not to use *persistent* for a _rolling_ restart at all,

[2018-02-22 07:39] DaveCTurner commented on #28776
I have followed these instructions in a clean 6.2.1 cluster and do not see this effect. The given code, yields no hits because it lacks a refresh:

[code]

If I change the line that indexes the document to read

      url = 'http://localhost:9200/fuzzy_products/product/' + documentName + '?refresh'

... then the document is returned, with score `0.8630436` just as reported in Kibana:

[code]

Note

[2018-02-22 07:39] #28776 closed

[2018-02-22 07:50] DaveCTurner commented on #28777
Hm, yes, that does look incorrect. Although this report is against 5.3.0, it looks like this is still the case in master:

https://github.com/elastic/elasticsearch/blob/99f88f15c5febbca2d13b5b5fda27b844153bf1a/server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/ThrottlingAllocationDecider.java#L149-L169

@czjxy881 it looks from your colour scheme that you're using IntelliJ. I

[2018-02-22 07:58] DaveCTurner commented on #28778
Please follow the instructions for reporting issues (quoted above) - a two line issue title and no further detail isn't helpful. We need to know a bit more about what you mean by "wrong": what did you see when you tried it, and how does it differ from what you expected? Did you try any variations and did they help?

[2018-02-22 08:00] DaveCTurner commented on #28778
Sorry, forgot to mention @elastic/es-clients for a ping.

[2018-02-22 08:19] ywelsch commented on #28777
@czjxy881 would you like to make a PR?

[2018-02-22 08:27] elasticmachine opened #30071 "Watcher: Make message.text in slack messages optional"
*Original comment by @spinscale:*

From: https://discuss.elastic.co/t/make-message-text-not-required-for-slack-action/120939

The Slack action currently requires `message.text` to be present, though slack will gladly require a message without it,  as a message can have an attachment which contains the text to be displayed. The current requirement for `message.text` means a message with attachment

[2018-02-22 08:50] czjxy881 commented on #28777
@DaveCTurner thank you , i really don't know yet

[2018-02-22 08:50] czjxy881 commented on #28777
@ywelsch already submit

[2018-02-22 08:55] steelywing commented on #27646
I get the following error, when using OpenJDK 9, Ubuntu 16
[code]

[2018-02-22 09:01] colings86 commented on #28771
@AdrianSzymczak Could you paste the full search request and your mappings please?

[2018-02-22 09:17] steelywing opened #28780 "Error when start in OpenJDK 9, Ubuntu 16"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.2.2, Build: 10b1edd/2018-02-16T19:01:30.685723Z

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "9-internal"
OpenJDK Runtime Environment (build 9-internal+0-2016-04-14-195246.buildd.src)
OpenJDK 64-Bit Server VM (build 9-internal+0-2016-04-14-195246.buildd.src, mixed mode)

**OS version** (`uname -

[2018-02-22 09:17] s1monw commented on #28765
to clarify this, we publish maven artifacts for historic reasons. We have a Java client that depends on elasticsearch core / server for request and response objects and serialization. Users of these clients have all necessary plugins in maven central that are required to run these clients. Our server distribution is not in maven central, it's distributed as a zip/tar.gz/rpm etc. from our download

[2018-02-22 09:27] nikoncode commented on #28766
@dadoonet This is what i said
`(a*, bb)` generates two tokens `a*`, and `bb`
but why `(aa, bb)` generates `aa` and `bb`?
Where is logic here?

[2018-02-22 09:33] dadoonet commented on #28766
Please let's talk about this on discuss.elastic.co. You can link from discuss to this "issue" if needed.

[2018-02-22 10:00] DaveCTurner opened #28781 "Undocumented index routing settings"
The setting `index.routing.allocation.enable` was [documented in v1.7](https://www.elastic.co/guide/en/elasticsearch/reference/1.7/indices-update-settings.html) but lost in the refactoring in f123a53d7258349a171e47a35f4581899d8fa776 so has been undocumented since 2.0.

It might also be worth checking if any other settings were lost in the same change. I have not done so yet.

/cc @elastic/es-distr

[2018-02-22 10:42] clintongormley commented on #28778
@DaveCTurner btw it should be @elastic/es-core-infra , not the clients team.

@huangRZ11 is referring to the code here: https://www.elastic.co/guide/en/elasticsearch/client/java-api/current/java-admin-indices.html#java-admin-indices-put-mapping  (but I don't know what is wrong either).

[2018-02-22 10:43] jasontedor commented on #28780
Please specify the actual output of the commands requested (e.g., `java -version`), especially as it’s if the utmost relevance here. In this case, I suspect you have a pre-release version of JDK 9 instead of a GA version that supports these features. Please confirm by providing the output of the above command.

[2018-02-22 10:45] elasticmachine opened #30072 "Watcher: WatcherTemplateSearchRequest should be able to ignore closed indices"
*Original comment by @spinscale:*

While the regular search request ignores closed indices, because by default it has `IndicesOptions.forbidClosedIndices()` set, a search request within a search input cannot do this, because it has `IndicesOptions.lenientExpandOpen()` set.

I think we should allow for closed indices to be part of `ignore_unavailable` here, but need to be careful to not break BWC.

[2018-02-22 10:55] colings86 commented on #28771
@romseygeek pointed out that this might be a case of this bug in Lucene: https://issues.apache.org/jira/browse/LUCENE-8121

That bug should be fixed in Lucene 7.3 and would be available in a 6.x release shortly after.

[2018-02-22 11:03] DaveCTurner commented on #28780
/cc @elastic/es-core-infra

[2018-02-22 11:28] jasontedor commented on #28743
I forgot to reply to this concern, sorry:

[code]

This is normal, these are threads that are parked waiting for a task to execute.

[2018-02-22 12:34] colings86 commented on #28075
No further feedback. If you have the requested information please add a comment and we can look into reopening the issue

[2018-02-22 12:34] #28075 closed

[2018-02-22 12:59] danielmitterdorfer opened #28782 "Should we store geoip files uncompressed?"
### Current Situation

The ingest-geoip plugin ships with three geoip files:

* GeoLite2-ASN.mmdb.gz
* GeoLite2-City.mmdb.gz
* GeoLite2-Country.mmdb.gz

We load these files [lazily](https://github.com/elastic/elasticsearch/blob/daf430c/plugins/ingest-geoip/src/main/java/org/elasticsearch/ingest/geoip/IngestGeoIpPlugin.java#L93-L97) to reduce memory usage when this feature is not required (despite

[2018-02-22 13:08] danielmitterdorfer commented on #28650
We have implemented changes in CI yesterday to drop the page cache as well as request memory compaction (it turned out that dropping caches provided the most benefit, and requesting memory compaction afterwards improved the situation even more).

Before this change we have seen around 16 build failures per day. In the last 24 hours it was only 2 build failures. So while this has improved the situa

[2018-02-22 13:17] martijnvg commented on #28782
@danielmitterdorfer Thank you for this analysis. I'm in favor of loading the geoip database as uncompressed files, so that we need less heap memory when the geoip plugin gets used.

Even if we change how the database files are loaded the increase of native memory only occurs if geoip gets used and this memory is managed by the OS instead of the jvm.

To me this is a minor downside, as diskspace is

[2018-02-22 15:48] redbearsam commented on #28692
Cool yes, thy will be done. Submission will be tomorrow. Thanks tlrx.

[2018-02-22 17:38] rjernst commented on #28782
An alternative, or possibly in conjunction with this idea, would be to further investigate what we have discussed casually for some time now: re-encoding the data we actually use from the database in our own optimized format. From what I remember, we use a small portion of the database fields. The work for this is doable; the question really is just whether this is allowed via the maxmind db licen

[2018-02-22 18:23] philboeselager opened #28789 "IndicesClient.exists() can not be resolved"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.1

**Plugins installed**: []

**JVM version** : 1.8.0_111 (build 1.8.0_111-b14)

**OS version** : Linux 4.4.0-112-generic #135-Ubuntu x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

Following the [official documentation](https://www.elastic.co/guide/en/elasticsearch/client/java

[2018-02-22 18:28] cstack89 commented on #28748
Sorry I've been out of office, I also had to change

`if "%LOG_OPTS%" == "" set LOG_OPTS=--LogPath "%SERVICE_LOG_DIR%" --LogPrefix "%SERVICE_ID%" --StdError auto --StdOutput auto`

to

`if "!LOG_OPTS!" == "" set LOG_OPTS=--LogPath "%SERVICE_LOG_DIR%" --LogPrefix "%SERVICE_ID%" --StdError auto --StdOutput auto`

in elasticsearch-service.bat. Otherwise it does not make it past that line. Are you not

[2018-02-22 19:07] bobbyi opened #28791 "Document "Limits to the number of shards which are searched in parallel""
The [release notes for ES 6.0](https://www.elastic.co/blog/elasticsearch-6-0-0-released) mention:

However, there is no mention of this feature in the documentation. I think the docs should mention that these limits exists as well as explaining how to remove or raise these limits if such is possible.

I have searched for information about this new feature and could not find any explanation of it o

[2018-02-22 19:15] pickypg commented on #27677
@jarro2783

That's a great point. Rolling restarts should probably specify `none` as both persistent and transient (or, for simple matters, just one or the other). At the very least, we must specify in the docs to remove the transient setting between node changes.

[2018-02-22 19:23] #28777 closed

[2018-02-22 19:26] jasontedor commented on #28791
That is covered on this [page](https://www.elastic.co/guide/en/elasticsearch/reference/6.0/search-search.html#search-search); see the last paragraph. I am sorry that it was so hard for you to find, we need to think about what we can do to make it easier, perhaps a link from the release notes directly to the docs would have helped. I hope this helps you though.

[2018-02-22 19:26] #28791 closed

[2018-02-22 19:34] bobbyi commented on #28791
@jasontedor Thank you! I had looked at that page, but missed the relevant part because it appears to be in the section entitled "Multi-Index, Multi-Type". I am not doing multi-index, multi-type queries, so I didn't think the answer could be there.

I believe there needs to be a new section heading before the second-to-last paragraph, something like "Parallelism" or "Number of shards searched".

[2018-02-22 19:34] Madko commented on #25954
Hi,
 I've just had this issue on RHEL/CentOS 7. After upgrading from Elasticsearch 5.x (elasticsearch-5.0.0_alpha5-1.noarch) it's seem that the 6.2 rpm doesn't clean some old directories in /usr/share/elasticsearch/modules:

/usr/share/elasticsearch/modules/lang-groovy
/usr/share/elasticsearch/modules/transport-netty3

So after upgrade ES was unable to start:

[code]

Best regards,
Edouard

[2018-02-22 20:13] jaymode commented on #28789
Thanks for reporting this. The documentation link you've provided is for the next minor release as the version is `6.x`. The docs you should be looking at are for the `6.2` version; there is a version selection drop down to switch between versions.

The indices exists API is a new edition that will be included in 6.3. https://github.com/elastic/elasticsearch/pull/27384

[2018-02-22 20:13] #28789 closed

[2018-02-22 21:20] cmccowan commented on #28682
Thanks DaveCTurner, when do you expect to release the 6.3 deb version?

[2018-02-22 21:50] DaveCTurner commented on #28682
I'm afraid we haven't committed to a definite date, but we're working towards this release now.

[2018-02-22 21:54] jimczi commented on #28739
This fix will be shipped in the next minor release of 6.x (6.3), it is already fixed in Lucene so I am closing this issue.

[2018-02-22 21:54] #28739 closed

[2018-02-22 21:55] mvreijn opened #28793 "Terms Aggregation: Java client returns different result from HTTP API"
For reference, I have an open question on Stackoverflow regarding this issue: https://stackoverflow.com/questions/48885306/elastic-java-client-returns-different-result-from-http-api

**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.6.7, Build: 4669214/2018-01-25T21:14:50.776Z, JVM: 1.8.0_162

**Plugins installed**: []
none

**JVM version** (`java -version`):
java version "1.8.

[2018-02-22 22:49] jaymode commented on #28793
@mvreijn we reserve our GitHub repository for bug reports but this looks more like a usage question and is more appropriate for our [forums](https://discuss.elastic.co/c/elasticsearch). The REST api internally uses the Java client to execute the search, so this is most likely a difference in how your application constructs the request.

[2018-02-22 22:49] #28793 closed

[2018-02-22 23:10] t3knoid commented on #24187
Note, I had a similar problem. Elasticsearch works fine when running from the console. However, running from a service was failing.  I have to use Elasticsearch 2.4.1 with a private JRE not a system JRE. I thought the problem was that. So I tried using a system JRE (setting the JAVA_HOME, etc). However, the problem persisted. One error that led me to a solution was the following:

I debugged the s

[2018-02-22 23:15] geekpete opened #28794 "Provide additional time indicators for rejected threadpool metrics similar to linux load average"
**Describe the feature**:

Currently we only have cumulative counts for threadpool rejected counts that increment from server start time.

It'd be great to have something similar to linux load average time samples like last 1min, 5mins, last 15mins.
This would give an indication if rejections are happening recently or if they might be more historical.
It might be also good to have these ranges con

[2018-02-22 23:22] CExAdamJ commented on #26612
@nik9000 From reading this https://www.elastic.co/guide/en/elasticsearch/reference/1.7/search-request-highlighting.html it seems as though the property is `"order"` and not `"sort"`. It seems to be consistent from 1.7 through to 6.2. Are these two different things or a mistake somewhere along the line?

[2018-02-23 00:34] diavel opened #28796 "Support for wildcard in jolokia module in metricbeat"
**Describe the feature**:
Support wildcards for Metricbeat Jolokia module

**Elasticsearch version** (`bin/elasticsearch --version`):
6.2

As pointed out in this [discussion](https://discuss.elastic.co/t/metricbeat-jolokia-problem-using-wildcard/114943), there are many places where the wildcard support in the jolokia module would come in handy. I am trying to collect jmx metrics from flink through

[2018-02-23 00:36] jasontedor commented on #28794
Typically we do not provide analytics over metrics within Elasticsearch, preferring instead to rely on external systems on top of the raw data for that (for example, Kibana via Monitoring). Is there a compelling case for why we should deviate from that here?

[2018-02-23 00:37] jasontedor commented on #28794
FYI @elastic/es-core-infra.

[2018-02-23 00:39] jasontedor commented on #28796
@diavel This repository is for open source Elasticsearch. I think that you will have better success if you open this issue on the [Beats repository](https://github.com/elastic/beats).

[2018-02-23 00:39] #28796 closed

[2018-02-23 00:41] diavel commented on #28796
My bad. Will open a feature request in the Beats repository.

[2018-02-23 01:07] geekpete commented on #28794
Yeah this is a great point, and would be a misstep in design of the core stats/engine I'd agree.
There's other/external ways to collect and analyse this type of data and should be separate from the metrics the core engine needs to worry about.

[2018-02-23 01:07] #28794 closed

[2018-02-23 01:12] steelywing commented on #28780
Thanks, I have updated the Java version.

[2018-02-23 01:33] linker-mist opened #28797 "GET _nodes/master:false does not work"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):  6.1.1

**Plugins installed**: [None]

**JVM version** (`java -version`): Not applicable

**OS version** (`uname -a` if on a Unix-like system): Not applicable

**Description of the problem including expected versus actual behavior**:
There is a bug where searching for a node type == false returns nothing.
Master

[2018-02-23 01:34] rjernst commented on #28780
As suspected, your java 9 version is a beta, and almost 2 years old. If you want to use java 9, you need to either update to a newer distro release, or install java 9 binaries manually.

[2018-02-23 01:34] #28780 closed

[2018-02-23 01:35] jasontedor commented on #28780
I understand this to mean that your issue is resolved by upgrading to a GA version and I will close this issue. Please clarify if I’m mistaken.

[2018-02-23 02:31] steelywing commented on #28780
I am using Ubuntu repo to install [OpenJDK 9](https://packages.ubuntu.com/xenial/openjdk-9-jre), it is the latest LTS version.

If I change to use [OpenJDK 9 GA](http://jdk.java.net/9/) version, it works.

It will be nice if the doc says Ubuntu OpenJDK 9 is not compatible. 😃

[2018-02-23 02:37] jasontedor commented on #28797
This feature works like this: if you specify `role:true`, it is additive (it adds nodes matching that role to the set of nodes that will be returned) and if you specify `role:false`, it is subtractive (it removes nodes matching that role from the set of nodes already collected). Order matters. So, to see all data nodes that are not master-eligible nodes: `data:true,master:false`. To see all master

[2018-02-23 02:37] #28797 closed

[2018-02-23 02:40] jasontedor commented on #28780
We do not support pre-release/early access versions of the JDK, ever. The version that the Ubuntu package managers for 16.04 supply is an early access version only, it is not a GA version.

[2018-02-23 02:45] danlevy1 commented on #21862
I know this bug has been open for a while, but I am looking more into it again. I was looking at the discussion here: [https://discuss.elastic.co/t/name-cannot-be-empty-string-error-if-field-name-starts-with/66808/2](https://discuss.elastic.co/t/name-cannot-be-empty-string-error-if-field-name-starts-with/66808/2) based on @MaineC 's comment. I am getting conflicting information: some are saying it

[2018-02-23 02:58] #28744 closed

[2018-02-23 06:59] danielmitterdorfer commented on #28782
According to [the site for the Geolite2 database](https://dev.maxmind.com/geoip/geoip2/geolite2/) the license is [CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/). I also think that it would be wise to double-check but on the Creative Commons site it says:

We must give appropriate credit (which is IMHO nice behaviour anyway) and must redistribute under the same license.

All this so

[2018-02-23 07:09] clintongormley commented on #28782
I think we should pursue both, but let's not make the immediate gains depend on the longer term goal of improving encoding.

[2018-02-23 07:27] clintongormley commented on #21862
@danlevy1 It's not a bug that a field may not be called `.`. It is a bug that we throw an AOOB exception - we should return a more meaningful exception.

[2018-02-23 13:05] ahadadi commented on #28555
@jpountz regarding

Looking at the code for `ConcurrentMergeScheduler` in Lucene 7.2.1 it seems the `MergeThread` `MergeRateLimiter` is not injected from outside, so it's also acting only on a shard level.
Is the logic you're referring to per shard?

[2018-02-23 13:31] Doritos250 opened #28800 "Failed to download key at https://artifacts.elastic.co/GPG-KEY-elasticsearch: Request failed: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:661)"
Elastic version : 6.2.2

**Plugins installed**: gce-discover

**JVM version** (`java -version`): openjdk version "1.8.0_151"

**OS version** (`uname -a` if on a Unix-like system): SMP Debian 4.9.65-3+deb9u2 (2018-01-04) x86_64

When I try to deploy elastic on new instance with Ansible I've encounter the following error when trying to download Elastic's Signing Key

"Failed to download key at https

[2018-02-23 13:39] jasontedor commented on #28800
FYI @elastic/es-core-infra.

[2018-02-23 13:39] jasontedor commented on #28800
Where are the steps to reliably reproduce this?

[2018-02-23 13:55] chvndb commented on #26743
We also have this issue, where documents from one index are related to document from another index in a structured way. When we do our `more_like_this` query, we want to exclude those that we already know that are related.

In other words, we have a bool query with multiple `more_like_this` queries that `should` match and 1 `more_like_this` queries that `must_not` match. Where the `must_not` is us

[2018-02-23 14:15] danielmitterdorfer commented on #28782
We discussed in Fix-it Friday and want to pursue this. By default, we will load the files using the mmap approach and will add a system property in case some users explicitly want to load data still on-heap.

[2018-02-23 14:21] s1monw commented on #28707
my first reaction is wont-fix but this is based on several assumptions:

 * we have very limited experience with OSGi and the userbase footprint benefiting from it would be low
 * I have no idea how much work it is to maintain these bundles. There need to be tests for this that ensure it's working which is much more work than `just export the  classes`
 * Our build is quite complicated enough I wo

[2018-02-23 14:25] colings86 commented on #27679
Looks like there is a good workaround for this and we are not planning to implement this kind of client at this stage so I'm going to close this issue for now

[2018-02-23 14:25] #27679 closed

[2018-02-23 14:28] markharwood commented on #28499
We discussed this on Fix-it-Friday and decided that what we should do starting in 6.3 is to make the scroll behaviour obey the choice of `allowPartialSearchResults` setting and encourage people to experiment with turning OFF the default of allowing partial results.
If folks like the behaviour of errors rather than partial results then we are in a good place. However, if users decide they generally

[2018-02-23 14:35] jimczi commented on #27657
Sorry for the delay, I hope you don't mind if I close this, generating the payload for a slice should not be the the limiting factor (query should be small). Having `slice` in json is also more readable since it requires multiple parameters to configure.

[2018-02-23 14:35] #27657 closed

[2018-02-23 14:41] nerophon commented on #25527
Another customer has requested that this hardcoded limit be increased or removed. It is preventing them fulfilling their requirements.

[2018-02-23 14:41] nerophon commented on #23209
Another customer has requested that this hardcoded limit be increased or removed. It is preventing them fulfilling their requirements.

[2018-02-23 14:54] #8510 closed

[2018-02-23 14:56] colings86 commented on #8510
After discussing this again I am closing this issue because there is not a definitive argument for why this would be better and after the format being set for this long we should only change the format if there is a very compelling reason. In this case there are good arguments on both sides and there is no definitive argument for this.

[2018-02-23 15:24] jpountz opened #28803 "How to expose custom frequencies?"
In [LUCENE-7854](https://issues.apache.org/jira/browse/LUCENE-7854), Lucene gained the ability to index custom term frequencies. This is typically useful in order to do index-time boosting of terms. The same can be achieved with payloads, with the downside that payloads are per-position while frequencies are per-term, which makes them much heavier if you don't need per-position boosts. I have seen

[2018-02-23 15:27] jpountz commented on #28555
This is per-shard indeed.

[2018-02-23 15:53] nik9000 commented on #27817
Another:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/1718/consoleText

[code]

[2018-02-23 16:12] jasontedor commented on #28707
Sorry @s1monw this approach concerns me. I feel it puts us into a position where now if a community member does provide a PR complete with build integration and tests it will now be difficult for us to turn it down. However, we would still be in the position of having:

yet now we would have to maintain this. We have to be selective and take on what we can and this one does not have large enough b

[2018-02-23 16:20] Doritos250 commented on #28800
The original command is:  wget -qO - https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add -

With Ansible it should look like this:

-task:
  - name: Add Elastic’s Signing Key
  apt_key:
    url: https://artifacts.elastic.co/GPG-KEY-elasticsearch
    id: D88E42B4
    state: present
    validate_certs: yes
  register: elastic_debian_key_added

[2018-02-23 16:27] presto9292 opened #28804 "Allow x-pack client to use provider other than BouncyCastleProvider"
Currently x-pack-api has a hardcoded compile-time dependency on BouncyCastleProvider

I have an application server that's using a FIPS JCE via BouncyCastleFipsProvider, and also needs to access a cloud instance of Elasticsearch via x-pack transport client

The two providers BouncyCastleProvider and BouncyCastleFipsProvider can not co-exist on the same classpath

I excluded bcprov-jdk15on from the

[2018-02-23 16:28] ahadadi commented on #28555
As a workaround, I modified our client to index documents shard by shard.
When an indexing request arrives we identify the relevant shard ID and put the request in a per shard buffer (applying semaphore based back pressure on the total number of buffered documents). A background scheduler empties a single shard's buffer every 2.4 seconds and sends its documents over to elastic.
Combining this with

[2018-02-23 16:37] jaymode commented on #28804
This repository is only for elasticsearch issues. Please report x-pack issues in our [forums](https://discuss.elastic.co/c/x-pack).

We are working on providing support for FIPS compliant providers but we currently use certain features that only the BouncyCastleProvider provides but other providers (including the bc fips) do not provide support for and there are class conflicts between the FIPS an

[2018-02-23 16:37] #28804 closed

[2018-02-23 18:05] tahergalal opened #28806 "search_after not working with dates that are undefinded"
**Describe the feature**:

**Elasticsearch version** (6.2.1):

**JVM version** (`java -version`):

**OS version** (windows):

**Description of the problem including expected versus actual behavior**:
Index with many documents some of which have a value for a date field deletedOn and others don't

query uses a sort : [{"deletedOn": "asc"}, {"_id" : "asc"}]

this sometimes returns a value in the sor

[2018-02-23 18:41] #28344 closed

[2018-02-23 18:52] olcbean commented on #28778
@huangRZ11 do you mean that the example should be :

[code]
instead of
[code]

[2018-02-23 19:02] linker-mist commented on #28797
Thanks.  That's more clear than the official document would state.
How do I find coordinator nodes that's not data nor master?

[2018-02-23 19:30] nik9000 commented on #28806
Could someone with @elastic/es-search-aggs take a look, maybe @jimczi?

[2018-02-23 21:45] markwoon commented on #28707
This is really unfortunate.  I'm no fan of OSGI either, but I do have to use it.  And I would much rather have it built into ES directly than have to go through some 3rd party wrapper or shading it into my jar.

As @royteeuwen mentioned, there shouldn't be any conflict between java 9 modules and OSGI.  The bare minimum is adding the appropriate information in `MANIFEST.MF`.  And that's handled by

[2018-02-23 22:02] jasontedor commented on #28707
@markwoon Yeah, I can completely understand preferring that this functionality be built-in, I would want the same too. I have seen other open source projects do this (take on functionality that they do not have expertise in, an example, amazingly enough is OSGi support in Netty) and I do not think it's a successful endeavor. It is bad for users because it breaks unknowingly from time to time, the

[2018-02-24 03:41] elasticmachine opened #30073 "Packaging tests fail if a plugin doesn't have/need a security policy file"
*Original comment by @polyfractal:*

If a plugin doesnt use any special privileges it doesn't really need a `plugin-security.policy` file.  But the packaging tests assert that the file exists:  LINK REDACTED

Should plugins include an empty policy file to keep the test logic simple, or should the assert be modified  to accommodate plugins that don't need any privileges?

/cc @tlrx

[2018-02-24 08:03] Jaware opened #28809 "master down with netty error message"
es 5.6.3 with 3 master,4 data node

master node was down ,error messages are as follows:
[2018-02-22T07:34:41,584][WARN ][o.e.t.n.Netty4Transport  ] [10-12-13-167] exception caught on transport layer [[id: 0x7af0b7f9, L:/10-12-13-167:9300 - R:/10.255.0.20:539]], closing connection
io.netty.handler.codec.DecoderException: java.io.StreamCorruptedException: invalid internal transport message format,

[2018-02-24 10:25] clintongormley commented on #15816
@nikhilchudekar I can't assign to people outside the organisation, but you're welcome to work on it and to submit a PR referencing this issue eg `closes #15816` in the description

[2018-02-24 10:30] tlrx commented on #28809
It seems that the node `10-19-118-67` received a message on port 9300 that is not an Elasticsearch message. Check what process is running on `10.255.0.20:539` and why it sends message to your cluster.

[2018-02-24 10:56] nikhilchudekar commented on #15816
will do, thanks.

[2018-02-24 12:09] bharvidixit opened #28810 "Add feature for executing search templates through High Level Rest Client"
<!--
I am using High Level Rest Client but unable to execute search template queries using it. For transport java client, the code samples are available on this page:  https://www.elastic.co/guide/en/elasticsearch/client/java-api/6.1/java-search-template.html

But i can't find something similar for high level rest client.

I have included lang-mustache-client in project mavel pom.xml in following

[2018-02-24 12:11] ptahchiev opened #28811 "Exception when index is empty and I try to search/sort"
Hello,
I'm using elasticsearch 5.6.7. When my index is empty and I try to perform a search I get the following exception:
[code]
Java version is 1.8
OS is Ubuntu Linux 16.04
No elasticsearch plugins installed.

[2018-02-24 12:14] jasontedor commented on #28810
Duplicates #27205

[2018-02-24 12:14] #28810 closed

[2018-02-24 12:33] dadoonet commented on #28811
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-02-24 12:33] #28811 closed

[2018-02-24 13:02] jasontedor commented on #28811
There is no bug here, you do not have an `id` field defined in your mapping. You can not sort on a field that does not exist, this has nothing do with whether or not the index is empty.

[2018-02-24 21:24] snioup commented on #25505
elasticsearch.service: Main process exited, code=exited, status=1/FAILURE
elasticsearch.service: Unit entered failed state.
elasticsearch.service: Failed with result 'exit-code'.

[2018-02-24 21:25] snioup commented on #25505
Somebody have more details about this ?

[2018-02-25 01:56] jprante commented on #27527
I had to copy the analysis-common module to my dev kit https://github.com/jprante/elasticsearch-xbib-devkit by changing the group ID just for the reason to publish a jar artifact to a repo so that tests with custom analyzers that use token filters like keyword marker can run.

For example:

[code]
https://github.com/jprante/elasticsearch-analysis-decompound/blob/6.2/src/test/java/org/xbib/elastics

[2018-02-25 10:08] lfxch commented on #25505
I have the same Problem, complete details from elasticsearch.log after starting service:

[2018-02-25T11:04:56,383][INFO ][o.e.n.Node               ] [] initializing ...
[2018-02-25T11:04:56,431][INFO ][o.e.e.NodeEnvironment    ] [vvPQzWL] using [1] data paths, mounts [[/ (/dev/sdb5)]], net usable_space [306.4gb], net total_space [456.9gb], spins? [no], types [ext4]
[2018-02-25T11:04:56,431][INFO

[2018-02-25 11:12] romseygeek commented on #25505
Please don't add comments on a closed issue - instead raise this on our forums at discuss.elastic.co where we can give better support.

[2018-02-25 14:58] snioup commented on #25505
Hello, you can see best details on journalctl, for me it was just jvm memory adjustment.

[2018-02-25 16:29] aguyinmontreal opened #28816 "Add documentation for "boundary_scanner_locale" in Highlighting docs"
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-highlighting.html

For the docs.

What are the accepted values for "boundary_scanner_locale"? What is the default value?

Thanks

[2018-02-25 21:36] rjernst opened #28819 "Scripted metric aggs ignore script level params"
When scripts are specified, either in json or via `new Script()`, they take a `params` Map. Scripted metrics use multiple scripts, and take a `params` map at the outer level which applies to all of the 4 scripts of a scripted metric agg. However, the params passed directly to a script are lost.

I traced this to a flaw in ScriptedMetricAggregationBuilder. The original Script object for each script

[2018-02-25 21:36] rjernst commented on #28819
/cc @elastic/es-search-aggs

[2018-02-25 21:53] rjernst opened #28820 "PainlessExplainError is cryptic inside elasticsearch log"
PainlessExplainError is used when Debug.explain is called within a painless script. In json responses, this gives a toString of the passed in object. However, the Error is logged, but PainlessExplainError always has a null message. Either these errors should somehow be skipped when logging (as they are "expected") or we should generated a useful message to pass to the super Error ctor.

[2018-02-25 21:54] rjernst commented on #28820
/cc @elastic/es-core-infra

[2018-02-26 00:12] rjernst commented on #25179
I marked this as `discuss` because I'm not sure PRs marked for discussion are picked up in the issue searches being used for discussion. See the questions in #38368 about plurality of the request paths for this api.

[2018-02-26 00:37] rjernst commented on #28620
@dzyangxi  Can you please add more detailed instructions on how to reproduce this?

[2018-02-26 06:02] Jaware commented on #28809
thanks,but should't es use try catch to avoid shutting down?

[2018-02-26 07:40] jiangjunjian opened #28822 "Why elasticsearch Aggregation is named bucket instead of dimension?"
Why elasticsearch Aggregation is named bucket instead of dimension

[2018-02-26 07:43] jiangjunjian opened #28823 "Is the bucket in Aggregation the same as the dimension in data analysis?"

[2018-02-26 07:43] cj-nza opened #28824 "Incorrect Calculation of @timestamp"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 6.2.2, Build: 10b1edd/2018-02-16T19:01:30.685723Z, JVM: 1.8.0_151

**Plugins installed**: []

**JVM version** (`java -version`):

openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.16.04.2-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

**OS version

[2018-02-26 07:45] dadoonet commented on #28823
Duplicate of #28822

[2018-02-26 07:45] #28823 closed

[2018-02-26 07:46] dadoonet commented on #28822
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2018-02-26 07:46] #28822 closed

[2018-02-26 07:58] jiangjunjian commented on #28822
thank you

[2018-02-26 08:17] tlrx commented on #28809
Do you have anything more meaningful in the logs? The exception message reported here does not explain why the node shuts down.

[2018-02-26 08:40] bra-fsn opened #28826 "CorruptIndexException: file mismatch"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.2.2-SNAPSHOT, Build: d8602bc/2018-02-18T20:00:19.005352Z, JVM: 1.8.0_162
(because of #28713)

**Plugins installed**: []
analysis-icu

**JVM version** (`java -version`):
multiple, data nodes are:
openjdk version "1.8.0_144"
OpenJDK Runtime Environment (build 1.8.0_144-b01)
OpenJDK 64-Bit Server VM (build 25.144-b01, mixed mode)

[2018-02-26 08:44] Jaware commented on #28809
no other logs,only the errors below,very strange

[2018-02-26 09:03] DaveCTurner commented on #28824
I'm afraid it's not possible to reproduce this from the instructions given. Can you give more detail on how to make this happen, ideally so we can run the instructions on a clean installation?

However I note that the actual and desired time are 26 hours apart, which could be explained by confusing UTC+13 and UTC-13, or by confusing local time with UTC somewhere. The time stamps in the OP do not a

[2018-02-26 09:04] DaveCTurner commented on #28824
/cc @elastic/es-core-infra

[2018-02-26 10:19] hjxhjh opened #28827 "comment and code are Inconsistent"
when reading ES code found this
`        // optimize search type for cases where there is only one shard group to search on
        if (shardIterators.size() == 1) {
            // if we only have one group, then we always want Q_A_F, no need for DFS, and no need to do THEN since we hit one shard
            searchRequest.searchType(QUERY_THEN_FETCH);
        }
`

comment and the code are Inconsis

[2018-02-26 13:30] jasontedor commented on #28826
@bra-fsn A corrupt index exception with a mismatch checksum is almost always a system error (usually a hardware error). As such, we are not going to treat this as a but that requires investigation on our side without ample evidence. Instead, I encourage you to check your systems for hardware issues or other issues that could be corrupting data on disk.

[2018-02-26 13:30] #28826 closed

[2018-02-26 13:44] bra-fsn commented on #28826
All servers have ECC RAM and the data is stored on zfs, which doesn't show a checksum error.
This means this is not a hardware issue, but a software one and it's -if I can trust zfs itself- above zfs, which means the OS/java/lucene/elasticsearch.
Is it possible to check all data files for checksum mismatches? (with a dry-run possibly)
Any other ideas about this?

[2018-02-26 13:53] jasontedor commented on #28826
You can run check index on all of your shards:

[code]

You have to do this over all of your index UUID/shard ID pairs.

[2018-02-26 14:09] bra-fsn commented on #28826
I guess this should be run on closed indices only (not with running elasticsearch instances)...
Do you see any possibility to run this on a read-only fs? (snapshot)

BTW, I've modified my previous comment in between. What could I do to figure out the source of this error?

[2018-02-26 14:40] lzh3636 opened #28828 "Confusing log messages that do not match with the method name"
**Elasticsearch version** : 6.2.2

**Plugins installed**: [No]

**JVM version** (`java -version`):1.8.0

**OS version** (`uname -a` if on a Unix-like system):OS 10.12.6

**Description of the problem including expected versus actual behavior**:

We found that there are some possible copy and paste errors in the log messages which may cause some confusion when operators are reading the log messages.

[2018-02-26 14:52] jasontedor commented on #28828
Thanks @lzh3636. For future reference, an open issue is not necessary to open a PR. It is sufficient to describe the issue within the PR itself, and it saves the overhead of an issue.

[2018-02-26 14:55] #28828 closed

[2018-02-26 14:59] jasontedor commented on #28827
In the master branch: https://github.com/elastic/elasticsearch/blob/929dba866758fcf9be4b984a83f6f08196cc6b4e/server/src/main/java/org/elasticsearch/action/search/TransportSearchAction.java#L314-L318

I think it's fine, and we will leave the 5.6 branch as is.

[2018-02-26 14:59] #28827 closed

[2018-02-26 15:02] jasontedor commented on #23486
@KrzysztofMadejski Please poke around in documentation and the web for that, that is a general Linux issue, not an Elasticsearch issue.

[2018-02-26 15:04] jasontedor commented on #28826
First ECC and ZFS do not mean that you are free from hardware errors, and ZFS is software anyway so I'm deeply puzzled by "this means this is not a hardware issue, but a software one".

That is not a Lucene bug, that is a Solr bug, they did something wrong, not Lucene.

Because for several years running every corrupt index exception I have seen has been not the fault of Lucene/Elasticsearch.

Yes.

[2018-02-26 15:15] jasontedor commented on #27527
We discussed this during Fix-it-Friday on 2018-02-23 and agreed that we are not going to publish these module artifacts for the following reasons:
 - we do not want these artifacts to be seen as general libraries that developers can rely on in their code
 - we do not want to encourage the use of internal cluster integration tests, instead we want to encourage the use of standalone tests where this

[2018-02-26 15:15] #27527 closed

[2018-02-26 15:17] jasontedor commented on #28797
I do not think that is possible with the existing functionality, sorry.

[2018-02-26 15:28] jasontedor commented on #28748
@cstack89 No, I did not see that behavior; what are you setting the relevant environment variables here to?

[2018-02-26 15:35] jasontedor commented on #28800
This does not reproduce for me. What do you see if you run:

[code]

[2018-02-26 15:52] jasontedor commented on #28791
@bobbyi I agree, I pushed fb073216b1f4071077cdef3528d71da55c815f81. These will update on the [search page](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/search.html) within roughly 30 minutes from now.

[2018-02-26 16:27] nik9000 commented on #26612
I suspect I've just made a mistake when remembering the name of the setting.

[2018-02-26 16:33] jasontedor commented on #28791
This is now [live](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/search.html#search-concurrency-and-parallelism). Thanks for the feedback.

[2018-02-26 16:49] Doritos250 commented on #28800
`~$ wget -4 -v https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add -
--2018-02-26 16:48:50--  https://artifacts.elastic.co/GPG-KEY-elasticsearch
Resolving artifacts.elastic.co (artifacts.elastic.co)... 23.21.67.46, 184.73.245.233, 184.72.242.47, ...
Connecting to artifacts.elastic.co (artifacts.elastic.co)|23.21.67.46|:443... connected.
HTTP request sent, awaiting response... 200

[2018-02-26 17:12] Doritos250 commented on #28800
[code]

[2018-02-26 17:19] golonzovsky opened #28830 "max_analyzed_offset warnings in header part of ES response"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.2.2

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]
alpine container from `https://quay.io/repository/pires/docker-elasticsearch-kubernetes` running in kubernetes cluster behind `nginx-ingress-controller`.

**Description of the problem including expected versus actual behavior**:
m

[2018-02-26 17:30] jasontedor commented on #28830
Duplicates #28301

[2018-02-26 17:30] #28830 closed

[2018-02-26 18:00] asmita2201 commented on #28326
@mgreau @javanna
Thanks, we are able to get the JAR now. Can you confirm:
when would this officially be released?
what version of elastic supports this?

[2018-02-26 18:22] cj-nza commented on #28824
Thanks - my first experimental/discovery install of Elastic

My system time:
Local time: Tue 2018-02-27 06:50:58 NZDT
Universal time: Mon 2018-02-26 17:50:58 UTC
RTC time: Mon 2018-02-26 17:50:58
Time zone: Pacific/Auckland (NZDT, +1300)
Network time on: yes
NTP synchronized: yes
RTC in local TZ: no

Clean install of Elasticsearch, Kibana and Filebeat
Follow instructions for filebeat as per https:

[2018-02-26 20:08] linker-mist opened #28831 "Feature Request: Auto discover certain coordinator nodes only."
**Describe the feature**:
I have setup my ES cluster to write to ingest only nodes, and read from coordinator nodes that's not master nor data nodes.
The problem is if I add more coordinator "client" nodes (not master, not ingest, not data) to server query spikes, there's no way for the client to auto discover those nodes without including either master or data nodes.  The workaround I have now is

[2018-02-26 20:41] nik9000 commented on #28831
I *think* you could give your coordinating nodes an attribute. Like `coordinating:true`. See the docs for [allocation awareness](https://www.elastic.co/guide/en/elasticsearch/reference/current/allocation-awareness.html) for how. Then you could use something like `_nodes/coordinating:true` ([documentation](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/cluster.html#cluster-nodes)) for

[2018-02-26 23:14] carrino commented on #23306
Can we add the "regression" label to this also as it is a regression with es6 and is blocking upgrading?

[2018-02-27 06:11] wyukawa opened #28832 "OutOfMemoryError occured in master node due to cardinality aggregation"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):
6.1.2

**Plugins installed**: []
x-pack monitoring

**JVM version** (`java -version`):
1.8.0_151

**OS version** (`uname -a` if on a Unix-like system):
CentOS 7.4
[code]

**Description of the problem including expected versus actual behavior**:
OutOfMemoryError occured in master/kibana node due to cardinality agg

[2018-02-27 08:14] tlrx commented on #28816
Hi, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elastic forums](https://discuss.elastic.co/) instead. Thank you!

[2018-02-27 08:23] tlrx commented on #28832
This looks similar to #26525

/cc @elastic/es-search-aggs

[2018-02-27 09:35] moljac024 commented on #28229
Why was this closed? This issue is still relevant. The documentation states something that is not true.

[2018-02-27 09:42] aslamy commented on #28816
There is a lack of documentation.

I don't know why everyone just wants to close issues without even understanding it.

[2018-02-27 09:49] floggle commented on #28746
Thanks @jasontedor
Then I would like to suggest this is a bug in the documentation.
Looking at the other parts of the docs I do see examples with quote marks around them, but this one, which *requires* quote marks doesn't have any. It's a small, simple fix, but it would improve clarity, and reduce the chance of someone mis-reporting a bug.

Another suggestion would be to improve the YAML error mes

[2018-02-27 09:50] tlrx commented on #28816
@aslamy We're dealing with a lot of issues and questions and it's sometimes hard to distinguish between a simple question and a demand for improving something, like docs in this case.

I took @aguyinmontreal as a question and therefore I redirected to the Discuss forum which are the appropriate place for question like this. @aslamy If you feel like the doc must be improved then creating an issue w

[2018-02-27 09:56] bra-fsn commented on #28826
Sorry, I wrote quickly without the needed attention. :)

What I was trying to say here is ECC and ZFS should probably point out a hardware issue here, but it did not.
Yes, it could be a ZFS error too, that's also software. :)

That's my mistake, I've linked the page then read it and didn't correct the sentence. Couldn't something similar happen here? (even in the replication path)

Is it possible

[2018-02-27 10:41] shobhanaquickride opened #28833 "Bulk-update using Java Rest Client throws IOException"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.0.0

**Plugins installed**: [None]

**JVM version** (`java -version`): 1.8.0_45

**OS version** (`uname -a` if on a Unix-like system): Windows 10 64-bit OS

**Description of the problem including expected versus actual behavior**:
I am trying to bulk update one field in many documents using Java Rest Client. Here is how my code looks lik

[2018-02-27 12:39] gvijayakumar-16 opened #28836 "unwind in ElasticSearch"
Can we have an option in ElasticSearch, something similar to [unwind](https://docs.mongodb.com/manual/reference/operator/aggregation/unwind/) in MongoDB.

A lot of relations exist between the data and querying becomes difficult.

[2018-02-27 13:16] Hanender opened #28837 "Merge different sites in one global node"
Hi,
I would like to configure a single Elastic system for 4 regions having different addresses instead of having a system for each one of them . That means setting one node for the 4 regions and not a node per region.
(PS: sites are related by VPN Connections).
Is that something feasible please? If so, could you please mention which configurations we should go through to realize that?
Many thanks

[2018-02-27 13:47] jasontedor commented on #28837
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2018-02-27 13:47] #28837 closed

[2018-02-27 14:04] Rorschachdb commented on #25741
Hi all,

Stumbled accross this too. It arrose using spring boot latest RC2, in this context it is impossible to enforce elastic client to be bootstraped first and we're left with the system property solution.

Though I understand the above reason for doing it this way, I find it weird to use a vm wide system property to avoid such multiple configuration failure, wouldn't it be possible to use the

[2018-02-27 14:16] aslamy opened #28838 "Bug: When using graph synonym and stop token filter together"
Elasticsearch 6.2.0

Description:
When using stop and graph synonym filters together, the document that should match doesn't match and highlight doesn't work as it should.

Step to reproduce:

Mapping
[code]

Indexing 3 documents

[code]

Search
[code]
Search Result:

[code]
Problems:
Bug 1.  Document {  "title":"world of war"}  does not match. But it should match.
Bug 2. Highlighter does not high