[2016-01-06 13:34] jpountz commented on #14113
There have been significant improvements in versions 1.3 and 1.4 that made doc values perform within 15% of in-memory fielddata for fielddata-heavy use-cases (meaning it's likely less if the query is not trivial). But doc values have numerous benefits over in-memory fielddata:
 - more NRT-friendly
 - off-heap
 - keep working if the data are larger than the size of the main memory
 - don't remove d

[2016-01-06 13:40] s1monw commented on #14113
what @jpountz said... ;)

[2016-01-06 13:46] nik9000 commented on #15689
I imagine that its a bug. I haven't tried it myself but it looks like it from your description. Can you work around it by specifying a `highlight_query`?

[2016-01-06 13:51] ywelsch commented on #15756
Fixed in #15785

[2016-01-06 13:51] #15756 closed

[2016-01-06 14:08] jpountz commented on #15789
This could be because elasticsearch disables explicit GCs. What happens if you keep calling this API, does Elasticsearch run out of memory?

[2016-01-06 14:09] jpountz commented on #15774
+1

[2016-01-06 14:18] nik9000 commented on #15689
Confirmed as a bug:
[code]

Spits out:
[code]

Which it really shouldn't.

[2016-01-06 14:20] nik9000 commented on #15689
I've confirmed you can work around this by setting require_field_match to true or by supplying the original query as a highlight_query.

[2016-01-06 14:46] jpountz commented on #15774
Actually I think we need to fix the docs to replace:

[code]
with
[code]
which is how this analyzer is defined in Lucene.

[2016-01-06 14:46] mikemccand commented on #15768
I'll try to tackle this ... it doesn't look too hard, given the changes in #14121 which already begins separate "write indexing buffer to disk" from "refresh".

[2016-01-06 14:58] jasontedor opened #15790 "Failed replication requests on relocating shards causes unnecessary recoveries"
When executing a replication request against a shard that is relocating, the request is routed to the target of the relocation. However, if that request fails we currently fail the source of the relocation. This correctly causes the target of the relocation to be marked as failed but since it leads to both the source and the target being marked as failed, it leads to an unnecessary recovery.

[2016-01-06 15:21] #12664 closed

[2016-01-06 15:39] Mogztter commented on #15789
Yes, if I execute the query one more time, Elasticsearch hangs forever. Most of the time when there's activity on the node, Elasticsearch terminates abruptly (OutOfMemory).

[2016-01-06 15:59] sumitjainn commented on #15767
Here's my use case: I have hotel docs which have multiple rooms and each room has day wise price and inventory.
hotel > room > priceInventory

I have filters on all three levels. Say hotels with 5 star rating, rooms with "free wifi" amenity and having inventory of 2 for dates d1-d2 and between price p1-p2.

Now for sorting, I want to calculate minimum price from all matched nested docs. But this i

[2016-01-06 16:08] Mogztter commented on #15789
If you want I can upload a heap dump

[2016-01-06 16:20] jpountz commented on #15789
That might help, thanks.

[2016-01-06 16:36] damienalexandre commented on #15774
Right! Just tested on a fresh ES 2.1, the core "french" analyzer is fine :tada:

Glad it's only a documentation issue :relaxed: Didn't notice before the core "french" was ok because I  always tweak analyzers (to add come icu filters / tokenizer, etc) using the doc as a bootstrap.

I would be glad to send a PR if you want :+1:

[2016-01-06 16:40] jpountz commented on #15774
@damienalexandre that would be great!

[2016-01-06 16:55] jpountz commented on #15767
@sumitjainn You could denormalize your data in order to have a single level of nesting:

[code]

This will force to duplicate `roomType`, `amenities` , etc. for every price. But it will also make your queries much faster sinch they will have to perform a single join instead of two and you will be able to use nested sorting: https://www.elastic.co/guide/en/elasticsearch/guide/current/nested-sorting

[2016-01-06 17:08] julamb opened #15792 "SearchRequestBuilder.setHighlighterBoundaryChars doesn't work as expected"
Using the java API, I'm trying to use setHighlighterBoundaryChars to change the boundary chars of the fast vector highlighter, but it seems that it is broken.

[code]

prints

[code]

[2016-01-06 17:14] sumitjainn commented on #15767
@jpountz It was one of the approaches we tried, but sadly it doesn't work. The reason is the loss of association between room and invPrice. So the query to match only hotels for rooms which have inventory on 2 dates d1 and d2 (not across different rooms), is not possible. This is direct result of the fact that the grouping facilitated though nesting of all invPrice of one room under it, has been g

[2016-01-06 17:38] jpountz commented on #15782
@spalger I could not reproduce the issue on a fresh master build, do you have steps that I could follow to reproduce it?

[2016-01-06 17:39] #15774 closed

[2016-01-06 17:43] jpountz commented on #15767
Ok I see. I don't have a good alternative then :(

[2016-01-06 17:43] nik9000 commented on #15792
Confirmed the bug. It looks like your fix will work too. This is not a problem in master though. I'll open up a PR to fix it once the test suite finishes running.

[2016-01-06 17:47] jpountz commented on #15764
I don't see how this would help?

[2016-01-06 17:48] jpountz commented on #15737
Fixed via #15739

[2016-01-06 17:48] #15737 closed

[2016-01-06 17:57] #15790 closed

[2016-01-06 17:57] bdharrington7 commented on #15201
@nik9000 I'm curious, in your example for resharding you have comments indicating that we would have to stop indexing. What kind of steps would have to be taken if this wasn't possible?

[2016-01-06 17:58] sumitjainn commented on #15767
Is it not a valid feature request then? Wouldn't it benefit to have a source cache for many use cases apart from this? Can it atleast be made open for discussion?

[2016-01-06 18:00] julamb commented on #15792
Cool! Actually I just noticed that there's another use of the boundaryChars char array at HighlightBuilder.java:430.

[2016-01-06 18:03] nik9000 commented on #15201
You'll want to have some way of replaying the same updates on you application side against both indexes. At some point I'd like to be able to install a redirect mechanism in Elasticsearch for the duration of the reindex operation. It seems like an obvious thing. Its not part of what I'm working on now and it introduces yet more complexity around versioning but its important.

[2016-01-06 18:04] nik9000 commented on #15792
Good catch. I'll fix that one too.

[2016-01-06 18:17] jpountz commented on #15767
@sumitjainn I'm open for discussion as of how to solve this kind of problem, however I am -1 on the _source cache idea. Maybe you can open a new issue that explains the problem that you are trying to solve and links to the discussion that happened here?

[2016-01-06 18:22] spalger commented on #15782
Hmm, I suppose it's possible that the reason I wasn't seeing any fields is because I didn't have any documents indexed... That's the only way that I can reproduce that now....

[2016-01-06 18:26] sumitjainn opened #15797 "Support multi level nested filters inside sort"
I have hotel docs which have multiple rooms and each room has day wise price and inventory.
hotel > room > priceInventory

I have filters on all three levels. Say hotels with 5 star rating, rooms with "free wifi" amenity and having inventory of 2 for dates d1-d2 and between price p1-p2.

`For sorting, I want to calculate minimum price from all matched nested docs. But this isn't possible with regu

[2016-01-06 18:30] sumitjainn commented on #15767
@jpountz I have created the issue, but could you please elaborate on your negative vote on caching?

[2016-01-06 18:47] thn-dev commented on #14573
@rjernst Thank you for looking into it. As I mentioned before, I did not have to do that in v1.7.3. One thing I do know when I upgraded ES from v1.7.3 to 2.1.1, I did "rpm -Uvh elasticsearch-<version>.rpm" instead of removing the v1.7.3 completely. Everything that I have described so far is running in CentOS 6.5 or 6.7. I'm in the middle of doing a stress test right now, once I have the opportunit

[2016-01-06 18:50] jasontedor opened #15798 "IndexShardRoutingTable#activeShards should include relocation targets"
Currently `IndexShardRoutingTable#activeShards` does not include relocation targets. This means that when a relocation target is needed (e.g., [in `TransportReplicationAction`](https://github.com/elastic/elasticsearch/blob/3b192cfc7488a02387501a598fe177234d4149ae/core/src/main/java/org/elasticsearch/action/support/replication/TransportReplicationAction.java#L851)) we have to create the target relo

[2016-01-06 18:51] rashidkpc opened #15799 "Paginate from _id"
Currently the `from` key on a request takes an integer and paging picks up after chopping off that number of results from the top of the queued result set.

This works well for static sets. However in high write load situations, in which we're sorting by time, it becomes a problem. We may end up with missing results that it seems should be there, but have a hard time expressing where we want the r

[2016-01-06 18:56] mikemccand commented on #15768
Note that with this change, a refresh only happens when the user expects it to: on the periodic (default: every 1 second) interval, or when refresh API is explicitly invoked.

But this is a biggish change to ES's behavior vs today, e.g. `flush`, `forceMerge`, moving indexing buffers to disk because they are too big, etc. does NOT refresh, and a good number of tests are angry because of this ... so

[2016-01-06 19:11] bleskes commented on #15768
Just a note - since ES moves shard around on it’s own will, if we want to support this, we’ll have to make sure shard relocation (i.e., copy all the files) maintains this semantics. This will be tricky for many reasons - for example, the user may issue a refresh command when the target shard is not yet ready to receive it (engine closed). Today we refresh the target at the end of every recovery fo

[2016-01-06 19:45] nik9000 commented on #15792
Done and waiting in the PR.

[2016-01-06 19:47] #15483 closed

[2016-01-06 19:52] ThomasdOtreppe opened #15800 "Elasticsearch 2.1.1 doesn't automatically start on Ubuntu 16.04"
I have been testing 16.04 with Logstash, Kibana and ElasticSearch and so far, Logstash and Kibana (I'm using the init.d file from Kibana 4.1.1) start just fine with the init.d file at boot time.

But ElasticSearch doesn't start at boot time and it doesn't even run the file at boot. However, if I login on the system and manually start it using 'service elasticsearch start', it works just fine.

I t

[2016-01-06 19:56] nik9000 commented on #15800
Do the instructions in at the [repository](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-repositories.html) page for making it start automatically work for you? The Elasticearch deb doesn't register itself to start on boot intentionally even though that is the normal thing for debs to do because we think that behavior is creepy in a distributed system.

[2016-01-06 20:12] pickypg opened #15802 "Allow Filter Cache to be disabled by index"
For most users, having the filter cache being specified across the nodes makes a ton of sense, particularly for hot/cold architectures.

However, at extreme scales, this is sometimes not enough unless you go the extra mile with your cluster to setup a hot/warm/cold (ad nauseam) setup to allow an extra tier(s) of nodes to setup. For a lot of use cases, this extra level of node management adds a lot

[2016-01-06 20:21] rjernst commented on #14348
@PeterLappo Having external services for integration tests is exactly the point of us adding test fixtures (in master). See #15561. For 2.x, you can look at how the [client tests](https://github.com/elastic/elasticsearch/tree/2.x/qa/smoke-test-client) start an ES cluster.

[2016-01-06 20:24] rjernst commented on #15714
I never said this. But again, this does not have to do with dynamic mappings. It has to do with *mapping* a field name with dots, regardless of whether it is dynamic or not (ie doing a PUT mapping). You are free to do exactly what you said to avoid the issue (don't index the field names that contain dots).

[2016-01-06 20:51] samarsimha commented on #4915
+1

[2016-01-06 20:51] jimferenczi commented on #15799
That seems hard to achieve considering the way the query is executed. In a multi shards environment you would need at least another round trip to retrieve the timestamp value associated with the from _id. Additionally this does not solve the case where the timestamps are equals. If your problem is just to resolve the case where the timestamps are equals then you can use the script sort, something

[2016-01-06 20:59] samarsimha commented on #4915
+1

[2016-01-06 21:03] samdash commented on #4915
+1

[2016-01-06 21:05] Alino commented on #4915
is this ever going to be released? are there any plans?

[2016-01-06 21:16] jpountz commented on #15767
Elasticsearch has two ways to read field values:
 - doc values to read a couple field values from many documents, which is typically useful for sorting/aggregations
 - stored fields/_source to read as many field values as you want from a couple of documents, which is typically useful to get summaries for the top matches

So it doesn't make sense to try to optimize stored fields for the use-case th

[2016-01-06 21:18] #15628 closed

[2016-01-06 21:23] jillesvangurp commented on #15714
This issue had two parts:
-  the title part: *don't* map dotted fields dynamically so I can safely index json documents that have some fields with dots in them without having to worry about elasticsearch throwing bad requests. They won't be searchable and will only be available through _source. There's no ambiguity for query dsl or anything else that refers mapped fields because they simply never

[2016-01-06 21:27] jpountz commented on #15782
@spalger Then may I close?

[2016-01-06 21:28] ppf2 commented on #11443
+1 on providing an option for the safeguard.  Another use case is key value logging and using the LS KV filter with dynamic mappings so that these fields are automatically extracted and generated.  Having a limit the user can set can help prevent unintentional explosion in mappings when someone decides to use UUIDs as keys, etc..

[2016-01-06 21:30] #15782 closed

[2016-01-06 21:30] spalger commented on #15782
Thanks @jpountz

[2016-01-06 21:35] satapsa opened #15804 "Installation Elasticsearch 2.1.1 as root"
I installed Elasticsearch 2.1.1 as root  and getting error

"Exception in thread "main" java.lang.RuntimeException: don't run elasticsearch as root"

If I create a ES_USER=esuser  - what should be the group permission etc it should have so that I can start od Elasticsearch as a ES_USER.

Can someone provide a sample ES_USER ?

[2016-01-06 21:36] martijnvg commented on #15751
I started to look at this and it is a bit harder then I though. Basically during parsing of the percolate document we use a reference to an existing DocumentMapper and during parsing if a new field is discovered that DocumentMapper is updated. For the percolator (and term vectors api) we kind of want a read only copy of the DocumentMapper and if the document being parsed holds unknown fields it sh

[2016-01-06 21:38] ThomasdOtreppe commented on #15800
I was doing the `update-rc.d elasticsearch defaults 95 10` that has been working forever until 16.04 that switched to systemd. The systemctl command worked perfectly.

Sorry about that.

[2016-01-06 21:38] #15800 closed

[2016-01-06 21:45] markwalkom commented on #15677
I've raised this against our internal Marvel issue tracker, I can't provide a link though sorry.

[2016-01-06 22:03] jpountz commented on #15731
Right, this involves some client-side logic, something like (not tested):

[code]
And then you would need to divide the `weighted_sum` value by `sum_of_weights`. I can understand that this is less convenient that that eg you can't use it with kibana so I'm open to discussing adding a way to do weighted averages easily. But I would like to make sure there is enough demand for it before (so that the

[2016-01-06 22:07] jpountz commented on #15804
Please ask such questions at http://discuss.elastic.co (with more details if possible, in particular how you installed elasticsearch). We only use github issues for bugs / feature requests.

[2016-01-06 22:07] #15804 closed

[2016-01-06 22:11] jpountz commented on #15799
related to #8192

[2016-01-06 22:40] mikemccand commented on #15768
Thanks @bleskes, I agree this is too difficult to achieve "perfectly", and I think recovery should be unchanged here (refresh when the shard is done recovering).

Similarly, primary and each replica are in general searching slightly different of a shard today, i.e. when each refreshes every 1s by default, it's a different set of indexed docs that become visible, in general.

File-based replication

[2016-01-06 22:53] thomasquatorze opened #15806 "Invalid Tribe node setting tribe.blocks.write.indices in documentation"
The tribe node setting, to block writes to specific indices, is invalid in the docs for all versions (https://www.elastic.co/guide/en/elasticsearch/reference/2.1/modules-tribe.html):

The valid setting (as found in code) and tested is spelled:

[2016-01-06 23:01] PeterLappo commented on #14348
Thanks will take a look

[2016-01-06 23:19] BigFunger opened #15807 "Phrase query on field mapped as long does not filter results"
This issue was raised by a user in irc. They were trying to filter on a field in kibana with no success. Upon digging a bit deeper we found that his field was mapped as a long. When I tried to create a filter in kibana on that field, none of the results were filtered out. Kibana creates filters on long fields as phrase queries.

To see the issue input these commands into sense.

[code]

[2016-01-06 23:19] allthedrones commented on #10564
I'm experiencing this issue in 1.6.1 ... or at least a *very* similar issue; in my case, the snapshot state (as reported by ~/_snapshot/repo/_status) is ABORTED, but the hung shard still reports a stage of "STARTED". Curiously, the output from ~/_snapshot/repo/_all does not agree with the output from .../_status -- it shows the hung snapshot as "IN_PROGRESS". Issuing a REST call to DELETE the targ

[2016-01-06 23:43] lquerel commented on #15731
Thank for your response.

With this approach, how can you order the result of the weighted average? With my proposal it's done directly by the coordinator node with the following query.

[code]

Except if I'm wrong, but with your approach I need to sort client side and means potentially loading a lot of data. Right ?
IMO it's a second good reason (with kibana) to support this feature natively. I w

[2016-01-07 00:36] jimferenczi commented on #15807
The phrase type is not the problem here. It works as expected, the problem is the coercion that is done on long mappings by default. This means that if your input contains a floating point it will be truncated to a long. As a result all the "long_field" in your example documents are all indexed under the same term: 0. This is why your query on long_field returns all the documents, it is internally

[2016-01-07 00:36] #15807 closed

[2016-01-07 00:54] imotov commented on #10564
@allthedrones could you post the snapshot section of `_cluster/state`?

[2016-01-07 04:12] aquarapid opened #15814 "Translog size not effectively limited by index.translog.flush_threshold_size?"
I have a logstash index in my ES 2.1.1 cluster (2 nodes):

[code]

So, the translogs should be limited in size.  However:

[code]

and the other:

[code]

So it seems the translog size is not being limited to the 1GB set in flush_threshold_size?  Or do I misunderstand something here?

[2016-01-07 05:45] GlenRSmith commented on #15677
@jhush can you please paste the contents of license.json **with the obviously unique bits redacted**?

[2016-01-07 05:46] allthedrones commented on #10564
Here's the snapshot section of `_cluster/state`. I verified that the other two url endpoints under `_snapshot` still return the same results as posted earlier, and that attempting DELETE on the snapshot still hangs. Strange that all 3 places report slightly different statuses for the snapshot!

    "snapshots" : [{
        "repository" : "my_stuff",
        "snapshot" : "idx-15923",
        "inclu

[2016-01-07 06:06] imotov commented on #10564
@allthedrones is the node `q-F03vzxTBqdbUojCWeY9g` still part of the cluster? If it is, could you run the following command and post here the result

`curl localhost:9200/_nodes/q-F03vzxTBqdbUojCWeY9g/hot_threads?threads=1000`

[2016-01-07 07:15] israel commented on #15644
+1

If there is no _timestamp system meta field, a retry scenario becomes less elegant and less efficient since the client will have to modify the index request source with a new "timestamp" value for its user defined "timestamp" field.

[2016-01-07 07:59] andreip commented on #15560
can someone check this out? I did provide easy curl setup for the issues, just get two ES versions and try it out. Thanks!

[2016-01-07 08:01] drekbour opened #15816 "Correct documentation of discovery.zen.ping.unicast.hosts regarding support for port ranges"
The documentation of discovery.zen.ping.unicast.hosts explicitly mentions port-ranges but fails to mention that they are _not supported_ and only the first port is checked.
There are several Issues/PRs relating to changing this but none have made it yet so please document that port-range format is allowed but not supported and that if a user wishes to address multiple ports they must do explicitly

[2016-01-07 08:18] dadoonet commented on #15816
@drekbour Thanks for opening this issue. Do you want to contribute a doc PR to fix that?

[2016-01-07 08:37] s1monw commented on #15814
hey @aquarapid I am curious, something looks not right here. Can I get the output of `localhost:9200/_cat/shards` by any chance? And can you also paste `localhost:9200/_stats/merge,refresh,store,translog,indexing` ?

[2016-01-07 08:59] #15607 closed

[2016-01-07 09:33] bleskes commented on #15814
also , do you see this in the logs anywhere?

[code]

[2016-01-07 09:42] udit7590 commented on #13935
@babadofar There is an option for that: only_longest_match: true
But hyphenation_decompounder is not working in my case as well. Dont know where going wrong

[2016-01-07 09:50] jpountz commented on #15590
Closing: warmers will go away in 3.0 #15614

[2016-01-07 09:50] #15590 closed

[2016-01-07 09:53] jpountz commented on #15194
Closing: warmers will go away in 3.0 #15614

[2016-01-07 09:53] #15194 closed

[2016-01-07 09:54] jpountz commented on #5155
Closing: warmers will go away in 3.0 #15614

[2016-01-07 09:54] #5155 closed

[2016-01-07 10:23] dadoonet opened #15817 "Remove support for GET _aliases"
`GET /{index}/_aliases/{name}` is supposed to filter aliases by index and/or by name.

But if you want to filter only by alias `name`, it gives you back all indices:

[code]

We don't document `GET _aliases` anymore so may be we should remove its support as we can do the same thing with `GET _alias` API.

Might be related to https://github.com/elastic/elasticsearch/issues/4743
Related to https://g

[2016-01-07 10:24] rrecacharedk opened #15818 "Dynamic Analyzer in Search"
Dear ElasticSearch Team,

I have a custom analyzer ( custom_asciifolding is "mapping" type => ["á=>a", "é=>e" ... etc] ):

... "analyzer": {
   "standard_custom": {
        "type": "custom",
        "char_filter": ["custom_asciifolding"],
        "filter": ["lowercase"],
        "tokenizer": "standard"
} ...

I have a contact register indexed with name property (value: Rubén Recacha)

When I put a

[2016-01-07 10:30] rrecacharedk commented on #15818
I use the version 1.4.4 but I think is not relevant in this case.

Regards.

[2016-01-07 10:54] CorbMax commented on #12055
Same issue here. Applied tips at https://t37.net/how-to-fix-your-elasticsearch-cluster-stuck-in-initializing-shards-mode.html but not solved.

This is really really disappointing!

[2016-01-07 11:01] dadoonet commented on #15818
Please use discuss.elastic.co.

Wildcards are not analyzed. Have a look at https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html and `analyze_wildcard` option in case it helps.

If you have any other question, please join us on discuss.

[2016-01-07 11:01] #15818 closed

[2016-01-07 11:06] MaineC commented on #15623
@ghasem1992 after re-reading the docs myself I think you ran into the following issue: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-template.html#_conditional_clauses

[2016-01-07 11:37] skundrik opened #15819 "Failed to rollback writer on close (NPE)"
Got this NPE today on 1 of our data nodes which then proceeded to recovery.
ES 2.1, OS Win2008 R2
[code]

[2016-01-07 11:41] jamesjin opened #15820 "memory leak in BitsetFilterCache"
When we have many indices and part of them contains nested type, we can find that the heap is cost by BitsetFilterCache very quickly. It can be reproduced on ES2.1 under the default setting. Here is the steps:

1. create two indices "index1" and "index2"
2. add type "tweet" with nested type "comments" to "index1"
3. add a new tweet doc to "index1"
4. wait until it finishes the refresh
5. dump the

[2016-01-07 12:36] zim32 opened #15822 "java.lang.NullPointerException while updating document"
Using this docker container: https://hub.docker.com/_/elasticsearch/
Version: 2.1.0

Elastic throws NullPointerException while I'm trying to update single document using inline script

**First GET document**
[code]
**And update**
[code]
**Content of /root/tmp/update**
[code]
**Log**
[code]

[2016-01-07 12:37] acarstoiu opened #15823 "Ability to retrieve in an aggregations request only pipeline aggs results"
I have explained this matter in several other issues, but it's time to make it a ticket on its own.
Very often programmers find themselves in the need to post-process the aggregation results computed by _Elasticsearch_. Since October 2015 the pipeline aggregations are officially avaliable to everyone, so a bunch of use cases can now be handled by just crafting a more elaborate search query.

That'

[2016-01-07 12:39] acarstoiu commented on #11008
Here is a simple use case: you don't want to get all the buckets over the network, you just want their count. You could simply instruct _Elasticsearch_ to drop the results of basic aggregations and keep the pipeline aggs - see #15823.

[2016-01-07 12:51] s1monw commented on #15819
I don't have any idea how that NullPointerException showed up without a stacktrace to be honest! @rmuir any idea?

[2016-01-07 13:26] shashank-moengage opened #15826 "Incorrect field in mapping exception while indexing a document"
We are  trying to index a document:
{u'App ID': u'53fca404af36ab0e4c966503',
 u'App Name': u'Test',
 'Signed Up Date': 'Tue Aug 26 2014 20:43:08 GMT+0530 (IST)',
 u'_id': '5661506c6905a8404581a775',
 u'cr_t': datetime.datetime(2015, 12, 4, 8, 35, 56, 772000),
 u'uid': u'53fca404af36ab0e4c966503'}

In the index Mapping:
"Signed Up Date" is of type long

The value which we are trying to index is not

[2016-01-07 13:43] nik9000 opened #15827 "Remove IcuCollationTokenFilterFactory"
ICUCollationKeyFilter has been removed from Lucene 5 but its sitting around in Elasticsearch in the ICU plugin and just marked as deprecated. We should come up with a strategy to migrate from it to ICUCollationDocValuesField like the docs say to do.

[2016-01-07 13:51] allthedrones commented on #10564
@imotov Here's the `hot_threads` result. The last block looks relevant ... like maybe a stream read operation from the Azure repo connector is waiting indefinitely?

    ::: [mc2-ed6][q-F03vzxTBqdbUojCWeY9g][mc2-ed6][inet[/10.31.0.11:9300]]{master=false}
       Hot threads at 2016-01-07T13:40:47.042Z, interval=500ms, busiestThreads=1000, ignoreIdleThreads=true:

        3.9% (19.5ms out of 500ms)

[2016-01-07 14:03] nik9000 opened #15829 "Remove deprecated ec2 proxy settings"
The following settings have been deprecated for a while and can likely be removed in 3.0:

* cloud.aws.proxy_host --> cloud.aws.proxy.host
* cloud.aws.proxy_port --> cloud.aws.proxy.port
* cloud.aws.ec2.proxy_host --> cloud.aws.ec2.proxy.host
* cloud.aws.ec2.proxy_port --> cloud.aws.ec2.proxy.port

[2016-01-07 14:09] imotov commented on #10564
@allthedrones indeed the 6th block and the last block show stuck azure operations. It looks like azure never came back with responses for these requests. I think this problem has been [fixed](#14277) for the next major release, but the only solution for 1.6.1 that I can think of is to restart the node where azure is stuck.

@dadoonet, @tlrx what do you think?

[2016-01-07 14:13] jpountz commented on #15822
Do you have a stack trace in the logs below the NullPointerException?

[2016-01-07 14:25] skundrik commented on #15819
I came across this article which talks about JVM optimisation of NullPointerException. It might be worth adding this as a standard start-up option.

http://jawspeak.com/2010/05/26/hotspot-caused-exceptions-to-lose-their-stack-traces-in-production-and-the-fix/

[2016-01-07 14:27] zim32 commented on #15822
No

[2016-01-07 14:38] skundrik commented on #15819
Based on the above  I went to see if I can find the first occurrence of it and came up with this.
[code]

[2016-01-07 14:45] s1monw commented on #15819
great, that helps a lot

[2016-01-07 14:48] jpountz commented on #15819
Fixed in 2.1.1 #15202

[2016-01-07 14:48] #15819 closed

[2016-01-07 14:51] dadoonet commented on #10564
I agree with your analysis @imotov. The azure client until #15080 wait indefinitely. There is no way to unblock it without restarting the node.

I wonder then if we should backport the change #15080 in 2.x branch.

[2016-01-07 14:55] dadoonet commented on #15829
These settings have been deprecated in 2.2.0 which has not been released yet. See #15352

That being said, I agree that we can potentially remove these settings in master branch.

[2016-01-07 15:16] imotov commented on #10564
@dadoonet I think it would be reasonable to backport it to 2.x branch considering the impact on the users.

[2016-01-07 15:36] allthedrones commented on #10564
Thanks guys, I can confirm that restarting the node with the stalled shard corrects the problem. After restarting that data node, the snapshot in question was fully deleted and all of the snapshot URLs mentioned previously report a correct & consistent status. Restarting a single data node is a *much* more acceptable impact than downtime for the whole cluster, so thank you again for your help arri

[2016-01-07 15:48] dadoonet opened #15833 "Add timeout settings (default to 5 minutes)"
We need to backport #15080 in 2.x branch.

By default, azure does not timeout. This commit adds support for a timeout settings which defaults to 5 minutes.
It's a timeout **per request** not a global timeout for a snapshot request.

It can be defined globally, per account or both. Defaults to `5m`.

[code]

In this example, timeout will be 10s for `my_account1` and 30s for `my_account2`.

Related

[2016-01-07 16:04] albertocsm opened #15834 "Scripted metric aggregation docs"
it appears the docs on the scripted metric aggregation are obsolete/wrong
on ES 1.6 the init of a new prop on _agg, if done as documented(1), will throw with something like
[code]

if the the prop is accessed directly and init (2), all works as expected

(1)
[code]

(2)
[code]

[2016-01-07 16:05] jpountz commented on #15820
This is a very good observation, I could reproduce it.

[2016-01-07 16:19] imranazad opened #15835 "When using a whitespace tokenizer the stop words filter doesn't work"
When using the whitespace tokenizer, the stop words filter doesn't work. Here are the CURL commands to replicate:

			PUT /my_index
			{
			  "settings": {
				"index": {
				  "number_of_shards": 1,
				  "analysis": {
					  "analyzer": {
						 "fulltext":{
						"type":"custom",
						"tokenizer":"whitespace",
						"filter": ["english_stop"]
					  }
					  },
					 "filter":{
						"english_

[2016-01-07 16:22] s1monw commented on #15835
please use our discuss forum for questions like this - https://discuss.elastic.co/

[2016-01-07 16:22] #15835 closed

[2016-01-07 16:28] zippoxer commented on #5359
If I define an alias per user and I have millions of users, this enhancement would allow me to keep one alias for all users instead of manually defining an alias per-user?

This will also reduce some load from the cluster's state, right?

[2016-01-07 16:45] s1monw commented on #15622
@robertsmarty glad we sorted it out & thanks for reporting back!

[2016-01-07 16:46] s1monw commented on #15670
@Vineeth-Mohan ping

[2016-01-07 17:15] aquarapid commented on #15814
I did not see the translog fail flush message in the logs.

I do have an ongoing recovery of shards; which I pause during the day to not interfere with indexing.  The cluster contains 10TB or so of data (+replication).  At the moment there are 36 unassigned shards remaining.

shards and stats attached (slightly obfuscated):

[stats.txt](https://github.com/elastic/elasticsearch/files/81450/stats.tx

[2016-01-07 17:18] bleskes commented on #15814
thanks @aquarapid . We spend some time on this and believe to have found the issue (see #15830) . That Pr explains the issue if you don't have short periods of 5m without indexing.  I'm going to close this for now, please let me know if that's not the case.

Thanks so much for reporting this. It led us to find an important bug. You can use the _flush api to force the translog to be trimmed.

[2016-01-07 17:18] #15814 closed

[2016-01-07 18:11] jpountz commented on #15764
By the way this is not correct. Only a tiny portion of it is loaded into memory.

[2016-01-07 18:16] jpountz commented on #15751
Hmm I don't think this is correct. Document parsing returns a parsed document and a mapping update, so we would just have to ignore the mapping update I think?

[code]

[2016-01-07 19:08] djschny opened #15839 "add update-by-query job id metadata"
This request is to add (by default preferably) the ability to add/update a field on a document that is a unique ID associated with the reindex job being run. This has the following use cases for example:

1. As a reindex job is running, you can track it's progress simply by writing a filtered query to see how many documents have that ID on it.
2. If some documents were not updated due to conflicts

[2016-01-07 19:09] SpaceShipDev opened #15840 "licence-2.1.1.zip FileNotFound"
`./bin/plugin install -v licence`

Trying https://download.elastic.co/elasticsearch/release/org/elasticsearch/plugin/licence/2.1.1/licence-2.1.1.zip ...
Failed: FileNotFoundException[https://download.elastic.co/elasticsearch/release/org/elasticsearch/plugin/licence/2.1.1/licence-2.1.1.zip]; nested: FileNotFoundException[https://download.elastic.co/elasticsearch/release/org/elasticsearch/plugin/lic

[2016-01-07 19:11] djschny commented on #15840
It appears license is misspelled. Try rerunning as:

`./bin/plugin install -v license`

[2016-01-07 19:12] SpaceShipDev commented on #15840
This is horrific, lets pretend this never happened.

[2016-01-07 19:58] #15840 closed

[2016-01-07 20:02] rjernst commented on #15714
While I was focusing on what you described as part 2, I still think my original argument applies equally to part 1. It is easy enough for a user to remove fields themselves when serializing, rather than complicating the ES api with additional settings (which may go away in the future when we can support dots).

[2016-01-07 21:10] jillesvangurp commented on #15714
Sorry, but none of what you say applies to part 1. The only argument I'm hearing now is "we don't want to add complexity". To be clear we are talking about one extra parameter to enable/disable dot tolerance. And, I'd argue that parameter could default to true for the vast majority of users, meaning that it might not actually be needed at all. Why would you actually want Elasticsearch to throw bad

[2016-01-07 21:16] jasontedor commented on #14319
This was closed by #14522.

[2016-01-07 21:16] #14319 closed

[2016-01-07 21:58] TinLe commented on #15714
Just want to add a metoo.   I have a very large user population and over 1000+ physical nodes spread around the globe that are running 1.x.   No one wants to upgrade because of these issues.   It's very painful.

I've been using tribe nodes as a way to at least federate across the clusters.   Unfotunately for me, that is no longer possible with ES 2.x, not backward compatible protocol wise.   I've

[2016-01-07 22:13] eskibars commented on #12499
+1 to linking rather than duplicating with the potential to get out of sync.  It's just one less thing to forget about.

[2016-01-07 22:49] martijnvg opened #15842 "[Ingest] Move pipelines from .ingest index to cluster state?"
Right now the pipelines are stored in the .ingest index, but maybe we can move the pipeline configuration to the cluster state? This does have advantages:
* The whole configuration management we have to pushes the pipelines to nodes can be removed and instead ingest can rely on cluster state updates.
* No need to ensure that mapping/settings are applied when the ingest index is created  or manage

[2016-01-07 23:39] sylvinus commented on #15369
I have the same issue. Any clue on how to fix or a workaround?

[2016-01-08 00:46] imranazad commented on #15835
@s1monw I think this is a technical issue, the stop words filter just simply will not work when using the whitespace tokenizer.

[2016-01-08 01:07] palecur commented on #12499
Agreeing pretty hard with @eskibars here.

[2016-01-08 01:41] nik9000 opened #15843 "Switch from MSOffice to Office properties"
The mapper attachement plugin uses `MSOffice` properties which are apparently deprecated and have been replaced by Tika's `Office` properties. I'm not sure why, but whatever. Anyway, we should figure out the new right way before we suffer from more bit rot.

[2016-01-08 02:12] nik9000 opened #15844 "Migrate from RandomizedTest.isNightly()"
Nightly looks like it is [going away](https://github.com/randomizedtesting/randomizedtesting/issues/218). We should migrate away from it before it disappears out from under us.

[2016-01-08 02:18] nik9000 opened #15845 "Migrate from LuceneTestCase.getBaseTempDirForTestClass"
Its deprecated and the warnings on the deprecation seem pretty stern. Either they are wrong or we shouldn't be using it.

[2016-01-08 02:21] nik9000 opened #15846 "Migrate from IndexWriter.isLocked"
IndexWriter.isLocked is deprecated with advice to just grab the lock instead. So we probably ought to do that.

[2016-01-08 02:29] nik9000 opened #15847 "Proposal: Use -Xlint:-serial everywhere"
So far as I can tell `-Xlint:serial` warns you about not defining `serialVersionUID` on classes that implement `Serializable`. For the most part for us that is just `Exception`s since we don't use Java serialization. I think we're ok with not implementing `serialVersionUID` so I think we should just turn that one off on all projects rather than on a case by case basic like we do now.

A third opti

[2016-01-08 02:41] justinvaldez commented on #9669
Please add this - It's way to hard to locate the offending bad queries at this point in time.

[2016-01-08 02:51] Vineeth-Mohan commented on #15670
Hello @s1monw ,

Let me walk through the motivation here.
Lets say , I am running the following query
[code]

With this , I am seeing the following results -

[code]

As you can see the score by field_value_factor is always shadowing the score given by random_score , as in random_score has no relevance here.

My motivation for this issue came from this problem.
One solution would be to use the wei

[2016-01-08 03:09] nik9000 opened #15849 "Remove deprecated script parsing"
The notes in the code say that the script parsing will go in 2.0 but its still there. I mean `SCRIPT_LANG`, `SCRIPT_FILE`, `SCRIPT_ID`, and `SCRIPT_INLINE`.

[2016-01-08 03:10] nik9000 commented on #15849
@colings86 I see your name coming up in git-blame on this code. Is this something you can do easily? Like, if its not that much work.

[2016-01-08 06:24] omiend commented on #15737
thank you.

[2016-01-08 06:59] makeyang commented on #15764
my cluster has 50 data nodes and more than 1000 indices.
when I execute:
GET _cat/nodes?v&h=port,sm
below is the response:
port       sm
9300    1.1gb
9300  963.9mb
9300    1.1gb
9300      1gb
9300  934.3mb
9300      1gb
9300  885.9mb
9300    1.1gb
9300      1gb
9300      1gb
9300      1gb
9300  973.9mb
9300    1.1gb
9300  941.4mb
9300  964.3mb
9300    894mb
9300  933.2mb
9300    1.1gb
9300 1000.6

[2016-01-08 08:19] s1monw commented on #15670
@Vineeth-Mohan I can see what you are saying and I admit it can be challenging. I personally don't see a good way to apply a general way of normalization here. I see the function score feature as a toolset of primitives that lets / forces the user to ensure that each element of the equation has it's relevant weight etc. I wonder if other ie. @brwe has some ideas?

[2016-01-08 08:25] s1monw commented on #15835
it works as expected, whitespace tokenizer doesn't lowercase and stopwords are lowercased. please ask these questions on the discuss forjum

[2016-01-08 08:59] #15820 closed

[2016-01-08 09:12] saimaz commented on #8896
Just wondering, any plans to add this type of aggregation?

[2016-01-08 09:27] dadoonet commented on #15826
Please join us on discuss.elastic.co. We can help you there.

Also try to format your code correctly so it's more readable.
Also try to provide a script which reproduces your problem.

From what you wrote, the only thing I can tell is that: Yes, `Tue Aug 26 2014 20:43:08 GMT+0530 (IST)` is not a number. :)

[2016-01-08 09:27] #15826 closed

[2016-01-08 10:01] bleskes commented on #12055
@CorbMax (and @kpcool ) which ES versions are you on?

[2016-01-08 10:08] CorbMax commented on #12055
I'm on 2.0, but going to upgrade to 2.1
Unfortunately I was obliged to delete indexes to unlock the system...

[2016-01-08 10:56] Mogztter commented on #15789
Here's a hprof file: https://drive.google.com/file/d/0B7t8xIk1T8NjejFLVzY1Z1ZzTDg/view?usp=sharing (~ 3Go)

[2016-01-08 12:10] dadoonet opened #15854 "Add timeout settings (default to 5 minutes)"
As we did for Azure repository (#15080), I think we should also add a configurable timeout to S3 repository (default to 5 minutes).

AWS javadoc says:

Socket Timeout:

[code]

Request Timeout:

[code]

The default AWS SDK timeouts are:

[code]

Should we add a Request Timeout or having default Socket Timeout is enough to stop idle threads?

[2016-01-08 12:10] dadoonet commented on #15854
@imotov @tlrx What do you think?

[2016-01-08 12:26] Mogztter commented on #15789
I removed all breakpoints on Intellij and now the graph looks like this:
![mapping-memory-garbage](https://cloud.githubusercontent.com/assets/333276/12197649/2399269e-b609-11e5-9439-9e305104f8d0.JPG)
_somehow the debugging on Intellij blocked the garbage collection_

Still the memory usage is huge and can threaten the stability of the cluster with big spike of heap used and concurrents queries can

[2016-01-08 12:28] imranazad commented on #15835
@s1monw The issue isn't that the stopwords aren't lower cased the issue is that the stop words are not filtered when using the whitespace tokenizer.

[2016-01-08 12:31] Mogztter commented on #15728
@jpountz I think this is a good idea but in the mean time are you in favor of this proposal ? Will you support a pull request with this feature ?

[2016-01-08 13:19] bleskes commented on #15312
Closing as a duplicate of #14932 , w.r.t shard locking issue.  The primary allocation part has been fixed with https://github.com/elastic/elasticsearch/pull/15281

[2016-01-08 13:19] #15312 closed

[2016-01-08 14:07] brwe commented on #15670
It seems to me this is a case of "learning to rank". To find proper weights you would need to know what the expected ordering of result for different queries would be and the tune the weights accordingly. Without that the only thing you can do now is guess.
We currently have no way to scale functions either so they are comparable. This is something you will have to do in advance. Just in case you

[2016-01-08 14:08] sumesh-agarwal commented on #4562
What is the status of this in 2.0? If doc_values for a 'geo_point' type field is set to true, does it mean that it will be stored in disk? I ask because, my 'fielddata' size doesn't seem to go down even after setting doc_values to true (and re-indexing ofcourse). Could someone please help?

[2016-01-08 14:10] s1monw commented on #15789
@Mogztter thanks for the heapdump I looked at it and found on JNI Global references holding on to the memory, any chance you are running your JVM in debug mode? I also wonder if you can run with ` -Xcheck:jni` and separately can you try running this with the latest JVM ie a java 8 JVM? Are you using any kind of native plugins or something like this?

[2016-01-08 14:11] s1monw commented on #15789
ooh nevermind then I didn't see your latest reply!!!

[2016-01-08 14:26] s1monw commented on #15789
I looked at this again  with @jpountz and we found a smoking gun... @jpountz will take care of a fix. Thanks for opening this @Mogztter

[2016-01-08 14:31] jpountz commented on #15789
The issue appears to be that we over-allocate the data-structure that we use to store the serialized representation of the field mappings, which can become an issue if there are many fields. I'll look into it.

[2016-01-08 14:36] s1monw commented on #15789
@clintongormley I think we should make this a release blocker as well? @jpountz WDYT? this is 1.7.5

[2016-01-08 14:37] jpountz commented on #15789
We already need to make a 1.7.5 anyway because of the bitset cache bug so that works for me.

[2016-01-08 15:16] pipesnipe commented on #11432
+1 for alternative solution... We have huge structural data (folders in folders in folders).
How do you filter out results where a folder in its path has status hidden?

Now we have to do a seperate sql query to our database for this, and it's killing our performance

[2016-01-08 15:56] dakrone commented on #15835
@imranazad what @s1monw is saying is that it may appear that stopwords are not being removed because the english stopwords list only includes words that are lowercase:

# Create an index

    DELETE /ws
    {}

    POST /ws
    {
      "settings": {
        "index": {
          "number_of_shards": 1,
          "number_of_replicas": 0,
          "analysis": {
            "analyzer": {

[2016-01-08 16:05] jzbahrai opened #15858 "Minimum_should_match for one word query"
The following is a search query. The term full_name uses a synonym analyzer.
The synonym expand file has the synonym: rice,arroz.
Now if we run the validate query we get the below results:

    GET /products_v2/product/_validate/query?explain
    {
      "query": {
        "bool": {
          "must": [
            {
              "match": {
                "full_name": {
                  "query":

[2016-01-08 16:52] jreinke opened #15860 "multi_match query gives java.lang.IllegalArgumentException: Illegal shift value, must be 0..63; got shift=2147483647"
Hi team,

I get an error using a `multi_match` query with `cross_fields` type and a numeric query.
I'm using v2.1.1 on OSX, installed via Homebrew.

**Index basic data**
[code]

**Use a `multi_match` query with `cross_fields` type and a numeric query**
[code]

**Error**
[code]

**Note that the error does not appear if I specify only 1 numeric field in search.**

**Stack trace**
[code]

[2016-01-08 17:20] martijnvg commented on #15842
After discussing this question there is another requirement that should be taken into account, namely security. Not all pipelines may be used by everyone and if pipeline configuration would be moved to the cluster state there wouldn't be a mechanism how security can easily be enforced. If pipeline configuration is in an index security can be enforced.

[2016-01-08 17:40] imranazad commented on #15835
@dakrone Ah I see. Thank you, yes of course, absolutely.

[2016-01-08 17:42] jpountz commented on #4562
@sumesh-agarwal when you break down fielddata usage per-field,a are the fields using most memory storing geo points? Also note that geo point fields are getting completely revamped in the upcoming 2.2 release.

[2016-01-08 17:59] #15294 closed

[2016-01-08 18:33] nik9000 commented on #15860
Fun times. Reproduces in master. I'll work on fixing it there and backporting it after that.

[2016-01-08 19:26] s1monw commented on #15789
@Mogztter once @jpountz has pushed #15864 to 1.7 can you give it a try just to confirm the situation is better after that?

[2016-01-08 19:36] #15582 closed

[2016-01-08 19:45] mikemccand opened #15866 "Thread pool size should not be a global (cluster update API) setting"
Spinoff from #15585

Today you can e.g. set `threadpool.bulk.size` across the cluster, but this is dangerous, because it really should be node level setting instead (maybe you have "hot" nodes with many cores, and "cold" nodes with fewer cores).

[2016-01-08 20:01] jreinke commented on #15860
FYI, I have reported a similar bug with the same symptoms (1 numeric field included is ok but 2+ numeric fields give `number_format_exception`). Don't know if it could be related.

https://github.com/elastic/elasticsearch/issues/3975#issuecomment-167577538

[2016-01-08 20:14] ppf2 opened #15867 "script_lang not supported [groovy] when putting indexed script"
In pom:

[code]

ES 1.7.1 has `script.inline: on` set:

Using a NodeClient connection:

[code]

Tried 2 ways to put an indexed script.

Example 1:

[code]

Example 2:

[code]

They both return the same exception:

[code]

Rest request works:

[code]

Is this a bug?  Or are there steps missing that should be documented in our guide?

[2016-01-08 20:18] dadoonet commented on #15867
I think you need to add:

[code]

As it's marked as optional.

[2016-01-08 20:19] dadoonet commented on #15867
For example, see doc: https://www.elastic.co/guide/en/elasticsearch/client/java-api/1.7/_metrics_aggregations.html#java-aggs-metrics-scripted-metric

[2016-01-08 20:22] nik9000 commented on #15860
Good timing! I've figure out what is up and I've started on a solution. I've only got about two more hours left to work on it so I might not have anything before the weekend but, yeah, I'll have something soon.

The `lenient: true` issue is similar so I'll work on it while I'm in there.

[2016-01-08 20:25] Mogztter commented on #15789
@jpountz Thanks for the quick fix :+1:
@s1monw Sure, unfortunately I won't be able to confirm the improvement before Tuesday.

[2016-01-08 20:34] ppf2 commented on #15867
Thanks @dadoonet for the tip !  I am thinking it will be helpful to also add this caveat of adding the `groovy-all-<version>.jar` to the Java client project to the main scripting module page [here](https://www.elastic.co/guide/en/elasticsearch/reference/master/modules-scripting.html).  Thoughts? :)

[2016-01-08 20:50] rjernst commented on #15867
The problem is this line in the stack trace:
[code]

Why is the client trying to validate the script language? The client should pass the script along to the system and let it do any validation necessary.

[2016-01-08 20:52] rjernst commented on #15867
Seems like the root of the problem there is there are no apis for indexed scripts, it is essentially something that is translated client side into an index request (to the indexed scripts index). Instead, there should really be CRUD operations for scripts, and those translate into indexing operations on the server side.

[2016-01-08 20:54] rjernst commented on #15867
Oh we do have CRUD ops! So I think we just need to change the client to call those, instead of indexing directly into the indexed scripts?

[2016-01-08 20:58] rjernst commented on #15867
Ah, I think I see the real root of the problem. The node client performs all actions *locally* (on itself). Really I think it should be sending these requests to the cluster, assuming *nothing* about the "node client" itself? But i think this comes back to a core problem with the node client: it is a node in the cluster, so the cluster thinks it should work like any other node.

[2016-01-08 21:00] ashish-kumar-goel commented on #6638
I am facing a similar issue. I have placed my cluster nodes on EC2 instances and when I try to take a snapshot on a local FS repository, it gives an error saying that the target location for snapshot is not shared.
Then, I made use of a S3 repository for taking snapshots. It works well, the only problem is that when it is taking snapshots, the process blocks any updates over ES. I read something r

[2016-01-08 21:10] costin commented on #15062
Closing it down.

[2016-01-08 21:10] #15062 closed

[2016-01-08 21:54] haizaar commented on #15780
I had one replica (it's `.kibana` index with default settings).

[2016-01-08 21:58] haizaar commented on #15779
Yes, I fully understand the implications. However if you ever get to this situation (no replicas and no adequate backups) I prefer to have a choice between full data loss (like it is now) and partial data loss. And I much prefer the partial one.

I hope I read you right.

[2016-01-08 22:37] bleskes commented on #15779
You do :)

[2016-01-08 22:42] bleskes commented on #15780
@haizaar thanks. Was that replica assigned and active? I think you mentioned a single node?  If you've had another replica it would have taken over. Sadly if the master has no other options it just keeps trying and that spams the log. Agreed we should do better.

[2016-01-08 22:46] s1monw commented on #15779
I am curious, you have yet another broken t-log? What's the problem this time?

[2016-01-09 04:50] nknize commented on #15179
This is an interesting one. Turned out to be a very good catch! Its actually not a problem that you can specify a geohash with ```{"field" : { "geohash": "..." }}```  Its superfluous, but has been supported since 1.0.0.Beta1 (see PR where documentation is mentioned but not actually added: https://github.com/elastic/elasticsearch/pull/3352). Removing it will have no effect here but I'll open a sepa

[2016-01-09 05:00] nknize opened #15872 "Remove "geohash" json object parsing for geo_point fields"
Taken from issue #15179 this simple improvement will remove the ability to specify a geohash encoded geopoint using the `{ "my_field": { "geohash": "s7ws01wyd7ws"}}` format. Since `geo_point` parsing already supports `"my_field" : "s7ws01wyd7ws"` its superfluous.

[2016-01-09 05:00] sumesh-agarwal commented on #4562
@jpountz Yes. Of around 1.2 GBs of field data used per node, around 700 MBs is being used by a geo point field. I don't understand this. If geo point fields get their field data stored on disk by default, shouldn't it not appear in the usage? I read somewhere that we see non-analyzed strings in the field data usage because of the global ordinals built for them, and I too see a few non-analyzed str

[2016-01-09 06:52] nknize commented on #4562
@sumesh-agarwal I'm assuming you're on a 2.0 or 2.1? Are you using `lat_lon : true` in the `geo_point` mapping? And are you using any geohash aggregators?

[2016-01-09 07:14] haizaar commented on #15779
No. I opened this bug as a spin off from original discussion we had before.

[2016-01-09 07:15] haizaar commented on #15780
It was a single node scenario. The replica was not assigned and did not take over for some reason.

[2016-01-09 08:55] Ghost93 commented on #13351
Hi,
any news on this?

We also need ```geo_distance``` to support ```geo_shape``` fields.

[2016-01-09 09:15] sumesh-agarwal commented on #4562
@nknize I am on 2.0, and no, I have not set lat_lon : true in the geo_point mapping. Yes, I am using geohash aggregators with precision value - 5 and size - 1000.

[2016-01-09 10:40] dadoonet commented on #15867
I think we have a similar issue with `mustache`. See https://discuss.elastic.co/t/template-query-on-embedded-server-results-in-script-lang-not-supported-mustache/38765
So if we document it, we need to add documentation for https://www.elastic.co/guide/en/elasticsearch/client/java-api/2.1/java-specialized-queries.html#java-query-dsl-template-query as well.

[2016-01-09 11:29] jCalamari commented on #11118
+1

[2016-01-09 12:33] veeruborra opened #15873 "inconsistent num of document between _cat/indices and <index>/_search"
i inserted one document in elasticsearch.
when i search in indices it showing

http://localhost:9200/_cat/indices?v
health status   index          pri    rep     docs.count     docs.deleted     store.size             pri.store.size
green  open   mylogs        5      1         2                  0                        72.4kb                     72.4kb

when searching in that index

http://localho

[2016-01-09 13:23] jasontedor commented on #15873
What version of Elasticsearch are you running, and can you provide a minimal reliable reproduction as this does not reproduce for me?

[code]

[2016-01-09 21:12] oferbar commented on #13278
I'm seeing the same issue. When can we expect a fix and in which version of es? (currently on 1.6)
Thx

[2016-01-10 09:13] clintongormley commented on #15842
Discussing this online we decided not to move pipelines to the cluster state

[2016-01-10 09:45] veeruborra commented on #15873
{
name: "Leo",
cluster_name: "elasticsearch",
version: {
number: "2.1.1",
build_hash: "40e2c53a6b6c2972b3d13846e450e66f4375bd71",
build_timestamp: "2015-12-15T13:05:55Z",
build_snapshot: false,
lucene_version: "5.3.1"
},
tagline: "You Know, for Search"
}

[2016-01-10 10:02] clintongormley commented on #15858
Simpler recreation here:

    PUT t
    {
      "settings": {
        "analysis": {
          "analyzer": {
            "syns": {
              "tokenizer": "standard",
              "filter": [
                "lowercase",
                "syns"
              ]
            }
          },
          "filter": {
            "syns": {
              "type": "synonym",
              "synonyms": [

[2016-01-10 10:07] clintongormley commented on #15873
@veeruborra could you also provide a curl recreation demonstrating this problem?  I'm unable to recreate this either

[2016-01-10 10:10] clintongormley commented on #15834
@colings86 could you look at this please?

[2016-01-10 10:31] clintongormley commented on #15560
@javanna could  you take a look at this please?

[2016-01-10 10:59] clintongormley commented on #15816
We should probably also throw an exception when a user specifies a port range.

[2016-01-10 11:03] clintongormley commented on #15817
There used to be a difference between GET _alias and GET _aliases (the details of which escape me) which Kibana depended on, but I think this has been resolved.  @rashidkpc could you confirm?

[2016-01-10 11:08] clintongormley commented on #15623
Agreed - this template needs to be passed as a string, not as JSON

[2016-01-10 11:08] #15623 closed

[2016-01-10 11:09] clintongormley commented on #15823
@acarstoiu Use response filtering to return just the aggs that you want.  See https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.html#_response_filtering

[2016-01-10 11:09] #15823 closed

[2016-01-10 11:11] clintongormley commented on #15827
Related to https://github.com/elastic/elasticsearch/issues/13149

[2016-01-10 11:24] clintongormley commented on #15822
This NPE is caused by the malformed request body (missing opening `{`).  A simple recreation:

    curl -XPOST "http://localhost:9200/t/t/1/_update" -d'
    "doc": {}
    '

[2016-01-10 11:50] clintongormley commented on #15799
As long as your UIDs increase, you could do the following to get the 10 results before and after a particular document:

POST t/t/_bulk
    {"index": {"_id": "1"}}
    {"timestamp":"2016-01-01T00:00:00Z"}
    {"index": {"_id": "2"}}
    {"timestamp":"2016-01-01T00:00:00Z"}
    {"index": {"_id": "3"}}
    {"timestamp":"2016-01-01T00:00:00Z"}
    {"index": {"_id": "4"}}
    {"timestamp":"2016-01-01T

[2016-01-10 12:02] clintongormley commented on #15792
Fixed by #15795

[2016-01-10 12:02] #15792 closed

[2016-01-10 12:13] veeruborra commented on #15873
I am using elasticsearch-php for inserting document in my index.

 $params =
            [
                'index' => index_logs,
                'type' => index_type,
                'client' => [
                    'ignore' => [400, 404],
                    'verbose' => true,
                    'timeout' => 10,
                    'connect_timeout' => 10
                ],
                'bo

[2016-01-10 12:25] clintongormley commented on #15797
@sumitjainn Would you mind expanding your example to include a copy-paste runnable recreation of what you are doing today, so that we have something concrete to play with?

[2016-01-10 12:30] clintongormley commented on #15802
I understand each word individually, but I have no idea what they mean together :)  What exactly are you suggesting?

[2016-01-10 12:59] clintongormley commented on #15757
Hi @TheHound

I don't understand this issue at all, or how what you see is different from what you expect.  The example you give above returns two documents, which is what I'd expect to get.  You're searching the `_all` field for the word `test`, which matches both documents.

[2016-01-10 13:02] clintongormley commented on #15770
It looks like you are missing the `body` parameter in your JS request

[2016-01-10 13:02] #15770 closed

[2016-01-10 13:13] jasontedor commented on #15873
@veeruborra We are looking for a [reliable script and instructions that reliably reproduces the issue](https://en.wikipedia.org/wiki/Minimal_Working_Example) so that we can investigate. Without this information, we are in the dark about what you're seeing and what the cause is.

[2016-01-10 13:32] #15846 closed

[2016-01-10 13:38] jasontedor commented on #15847
+1 to use `-Xlint:-serial`.

[2016-01-10 13:40] clintongormley commented on #15730
@javanna makes me wonder if we should have an `expand_aliases` option https://www.elastic.co/guide/en/elasticsearch/reference/2.1/multi-index.html

[2016-01-10 13:50] clintongormley commented on #10193
@drekbour it is mentioned here:
https://www.elastic.co/guide/en/elasticsearch/reference/2.1/breaking_20_index_api_changes.html#_file_based_index_templates

It was removed here (https://github.com/elastic/elasticsearch/pull/10870) and disk based mappings was removed here (https://github.com/elastic/elasticsearch/pull/10870)

It was removed as part of a cleanup of all disk based resources (except no

[2016-01-10 14:02] ogirardot commented on #10193
I understand, but with provisioning tools like Ansible, that means that we need to wait for the node we're currently adding to be up to PUT the proper templates / mappings / configs ...

[2016-01-10 17:22] clintongormley commented on #15734
Did you have a disk full event? I think it is related to https://github.com/elastic/elasticsearch/issues/15333

[2016-01-10 17:25] clintongormley commented on #15741
This is broke in 2.2, but may already be fixed in master?

[2016-01-10 17:27] clintongormley commented on #15744
Related to #15730 and #14982

[2016-01-10 17:36] Cyberuben commented on #15734
The disk was full after this spammed my log file, yes, but I don't think a full disk was the cause. I had roughly 16GB of log files, and I only had 20GB diskspace.

[2016-01-10 17:42] clintongormley commented on #15057
@krisb78 the ability to embed metafields in the source of a document has been removed.  It required double parsing of the document (once on the coordinating node and once on the data node)

[2016-01-10 17:50] clintongormley commented on #15712
Hmm so this has been there since Dec 2011.  @spinscale any idea why we do this?

[2016-01-10 17:58] clintongormley commented on #15723
For conditional templates like these, you need to specify the template as a string, not as JSON

[2016-01-10 17:58] #15723 closed

[2016-01-10 18:01] clintongormley commented on #15693
@rjernst would it be possible to throw a more meaningful exception here, rather than an NPE?

[2016-01-10 18:09] clintongormley commented on #15515
Is there anything for us to do here?

[2016-01-10 18:11] clintongormley commented on #15586
Your password would then be available to anybody who can run that command?  if that's the case, then why not just put it in the config file.

[2016-01-10 18:13] clintongormley commented on #15703
You can't rely on the score being in any particular range. it just doesn't work that way.  You could use a function score query to do what you want though

[2016-01-10 18:13] #15703 closed

[2016-01-10 18:13] roytmana opened #15876 "Support for precise cardinality aggregation"
While current cardinality aggregation works fast and supports very large datases it is not precise. There are many use cases where approximation is not acceptable and where cardinality is sufficiently low (and known) to allow a simple deterministic algorithms to work and to provide precise result with reasonable time and memory use.

It would be very useful if elastic supported a secondary simple

[2016-01-10 18:14] clintongormley commented on #15707
@colings86 could you take a look please?

[2016-01-10 18:22] clintongormley commented on #15690
@ywelsch could you have a look at this please?

[2016-01-10 18:27] clintongormley commented on #15694
The queryNorm isn't always 1.0.  For instance, try the following and change the `boost` parameter from 1 to 10:

    PUT t/t/1
    {
      "foo": "one"
    }

    PUT t/t/2
    {
      "foo": "two"
    }

    GET t/_search
    {
      "query": {
        "bool": {
          "should": [
            {
              "match_all": {
                "boost": 1
              }
            },
            {

[2016-01-10 18:27] #15694 closed

[2016-01-10 18:28] clintongormley commented on #15696
This looks like a Kibana issue, not an Elasticsearch issue

[2016-01-10 18:28] #15696 closed

[2016-01-10 18:32] clintongormley commented on #15674
@MaineC could you take care of this please

[2016-01-10 18:33] clintongormley commented on #15189
+1

[2016-01-10 18:40] clintongormley commented on #15662
Hmmm github has extensive good documentation https://help.github.com/

Not sure it makes sense to duplicate this?

[2016-01-10 18:44] clintongormley commented on #15665
This DEBUG level log message is telling you that you (or one of your users) keeps trying to do something which isn't supported.  If you don't want to see this message, then change they log level for `search.action.type`

[2016-01-10 18:44] #15665 closed

[2016-01-10 18:55] clintongormley commented on #15604
It seems there is nothing more to do here, so I'm clsoing this issue

[2016-01-10 18:55] #15604 closed

[2016-01-10 18:57] clintongormley commented on #15653
@imotov could you take a look at this please?

[2016-01-10 19:05] clintongormley commented on #15648
@cbuescher has this been fixed with the search refactoring?

[2016-01-10 19:05] clintongormley commented on #12254
Warmers have been removed. Closing

[2016-01-10 19:05] #12254 closed

[2016-01-10 19:12] s1monw commented on #15734
This was fixed in 2.1.1 as clint said https://github.com/elastic/elasticsearch/issues/15333 is the relevant issue. The log spamming is also fixed  #14872 - I will close it now since all issues have been resolved in 2.1.1 and 2.0.2 @Cyberuben thanks for reporting this it's super important to get as much info as possible if stuff like this happens.

[2016-01-10 19:12] #15734 closed

[2016-01-10 19:17] clintongormley commented on #15627
Do you mean fields of type `nested` or fields of type `object`?  Either way, `@` is a legal character in a field name, so you couldn't use it to mean something else.

[2016-01-10 19:36] pickypg commented on #15802
Allow an index to disable explicitly disable caching, so that old indices can avoid caching.

[2016-01-10 19:52] clintongormley commented on #15581
Correct. This is no longer supported. https://www.elastic.co/guide/en/elasticsearch/reference/2.1/breaking_20_plugin_and_packaging_changes.html#_symbolic_links_and_paths

[2016-01-10 19:52] #15581 closed

[2016-01-10 19:55] clintongormley commented on #15538
@makeyang don't increase the number of bulk threads like that - you're overloading the system on one side and paying for it somewhere else.  You won't be able to set such high values going forward. See https://github.com/elastic/elasticsearch/pull/15585

If your hardware isn't keeping up with your requirements, you need more hardware

[2016-01-10 19:55] #15538 closed

[2016-01-10 20:01] clintongormley commented on #15589
@danielmitterdorfer any ideas?

[2016-01-10 20:09] clintongormley commented on #15569
Yes - in #6163 we decided not to require a specific version of java, and leave it up to the user.

[2016-01-10 20:09] #15569 closed

[2016-01-10 20:14] clintongormley commented on #15554
Hi @oktarahadian

This sounds like a question for the forums http://discuss.elastic.co/ rather than a bug report.

[2016-01-10 20:14] #15554 closed

[2016-01-10 20:29] clintongormley commented on #15484
@rashidkpc may I ask what for? ie would it be annoying to kibana to have keyed responses removed, or are you on board with this?

[2016-01-10 20:39] clintongormley commented on #15542
@colings86 what do you think?

[2016-01-10 20:45] clintongormley commented on #15528
I don't know if you are referring to the application logs from elasticsearch, or log documents indexed in elasticsearch.  If the latter, then maybe you want to use Kibana for this.  Application logs are just text files, so share them as you would any other text files.

[2016-01-10 20:45] #15528 closed

[2016-01-10 20:50] clintongormley commented on #15533
Hi @cheonsoo

The problem is that you have object fields that are the same as your type names, which is producing ambiguity.  2.0 had a major mapping rewrite to fix these kinds of issues (see #8870)

[2016-01-10 20:50] #15533 closed

[2016-01-10 20:52] rashidkpc commented on #15484
I'm fine with it, we can change how we handle the agg. I'd much rather have things be consistent.

[2016-01-10 20:54] rashidkpc commented on #15817
@spalger you were looking at this the other day. Where did we decide to go with it?

[2016-01-10 21:05] spalger commented on #15817
I was looking at this from the perspective of removing it from the client, not sure how it relates to Kibana.

[2016-01-10 21:20] clintongormley commented on #15490
The default behaviour is to use the default analyzer, if no tokenizer is specified, so in your first example, the `filters` are just being ignored.

@johtani Perhaps we can throw an exception if `filter`/`char_filter` is specified without `tokenizer`?

[2016-01-10 21:22] clintongormley commented on #15492
Analyzers are configurable, so you can specify a `type` and a number of parameters to configure that base analyzer.  Alternatively, if you specify a `tokenizer`, then `type` defaults to `custom`.  Perhaps we could change the error to `... must specify either an analyzer type, or a tokenizer`

[2016-01-10 21:31] clintongormley commented on #15876
@roytmana what about using the `precision_threshold` for these low cardinality fields?  See https://www.elastic.co/guide/en/elasticsearch/reference/2.1/search-aggregations-metrics-cardinality-aggregation.html#_precision_control

[2016-01-10 21:40] s1monw commented on #15789
Tuesday is more than soon enough :) thanks

[2016-01-10 21:41] krisb78 commented on #15057
Thought so - thanks, I'll amend my code.

[2016-01-10 21:54] uboness commented on #15484
if everyone is onboard for removing keyed responses, I'm +1 as well. will certainly clean up some code. Hopefully not many will complain about it... lets see how it goes.

[2016-01-10 22:01] spinscale commented on #15712
no, looks like indeed like a bug. I think LSB defines what should be returned. There is a "program not running" error code, that should be returned here...

[2016-01-10 22:03] joshuar commented on #15586
To adhere to security guidelines (regardless of whether those security guidelines are meaningful) for compliance in a particular industry.  Some guidelines (*cough* PCI *cough*) explicitly forbid storing passwords in plain-text in any file.  It also means you can have a centralised source of truth for passwords rather than have them littered through a bunch of config files on multiple servers.  An

[2016-01-11 02:56] q11112345 commented on #15703
i think i can figure out the total score now.
i disable tf and fieldNorm calculation. the score is only calculated by idf

and idf = (log(1 + total_document/term_documents))^2

if i know total_documents and set term_documents to 1, then i will get the max value of idf.

just like idf=log(1+300/1) ^2, maybe this could be max_idf=log(1+total_document) ^2
and the total idf above will be 2.478...

the

[2016-01-11 07:00] sumitjainn commented on #15797
@clintongormley  Here is an example query which fails

[code]

Cannot specify filters at multiple levels in nested_filter, such that complete main query (sans the top level) cannot be repeated. This sorts on price of rooms which don't have wifi amenity.

[2016-01-11 07:52] juandasgandaras opened #15878 "RED in Elasticsearch status"
Why Elasticsearch in a determinated moment pass to red state whithout an aparent problem?

I have the heap size well dimensionated and after I have three nodes that they are communicating between them with Unicast.

It was working for a month without any problem and it was indexing all time.

[2016-01-11 08:15] #15789 closed

[2016-01-11 08:39] jpountz commented on #15789
The fix has been propagated to all branches.

[2016-01-11 08:49] clintongormley commented on #15878
The place to look for the answer is in the logs.  Questions like these should be asked on the forum http://discuss.elastic.co/

[2016-01-11 08:49] #15878 closed

[2016-01-11 08:50] jpountz commented on #15858
+1

[2016-01-11 09:05] bleskes commented on #15542
I wonder if we should treat a negative derivative as a non-value/null and let the gap policy decide what to do.

[2016-01-11 09:07] TheHound commented on #15757
Hi @clintongormley

I would expect the path part of the URL /a,b/ to act as a type filter. Since those types do not exist I would expect no results.

So:
[code]
Only returns 1 hit. I would therefore expect this to only return 1 hit:
[code]
But instead returns 2, 1 for type1 and 1 for type2.

[2016-01-11 09:12] bleskes commented on #15847
Exceptions don't use java serialization anymore as well.  It looks like we only use Seriazlizable in injection code now. Does that fail linting? I also wonder if we should add serializable to the fobidden API..

[2016-01-11 09:20] s1monw commented on #15847
++

[2016-01-11 09:50] MaineC commented on #15674
Makes sense, will do.

[2016-01-11 10:05] colings86 commented on #15542
Personally I would like to keep the logic in the derivative simple and have it working out the derivative in the standard way (where the result can be positive or negative). This makes it very easy for users to know what the derivative aggregation does. For cases such as this we already have a couple of options which could be used to :

* Use the `bucket_selector` aggregation to only keep the buck

[2016-01-11 10:19] zcola opened #15880 "elasticsearch fails to start tribe node"
Hi folks,

I'm trying to start tribe node using following config:

[code]
This config resides in the file `~/etc/elasticsearch_tribe/elasticsearch.yml`. I'm starting it using following command:

[code]

Elasticsearch fails with following output:

2.1.1
[code]

2.1.0
[code]
[code]

Please advise how this can be resolved.

Thinks

[2016-01-11 10:26] colings86 commented on #15707
This is a quirk of the percentiles and percentile_ranks aggregations. The underlying algorithms that calculates the percentile values (TDigest and HDRHistogram) do this by storing a histogram which can be queried for any value, not just the values asked for in the request. The `metricname` in the buckets_path is passed directly to the algorithm to return a result so the buckets_path will get a res

[2016-01-11 10:37] jimferenczi commented on #15858
@clintongormley I changed the behavior of minimum should match to fix this issue: https://github.com/elastic/elasticsearch/issues/15521. In 2.2 and master we always honor the value even if the final number of optional clauses (after expansion) is smaller. This is why your first example returns no result. For the multi word synonym example the problem is similar but the resolution would be differen

[2016-01-11 11:24] colings86 commented on #15834
I can reproduce this in 1.6.1, 1.7.3, and 2.1.1. I'm not sure what changed though as the init_script in (1) worked when the scripted_metric was created. Maybe @dakrone, @pickypg or @jdconrad knows what might have changed in the groovy scripting engine to cause this and whether it was intended or if this is a bug?

[2016-01-11 11:25] cbuescher commented on #15648
@clintongormley Looking at the history of NestedQueryParser, it looks like support for the "field" parameter has been removed on master after deprecating it with 6076cc. I can take a look at what's causing this problem on 2.x.

[2016-01-11 12:07] NDevox opened #15883 "Scripting plugin guidance seems out of date"
The links currently point to deprecated repositories (they are noted to only receive bugfixes).

example:

https://www.elastic.co/guide/en/elasticsearch/reference/2.1/modules-scripting.html

Python points to:
https://github.com/elastic/elasticsearch-lang-python

which in turn tells you to look at:
https://github.com/elastic/elasticsearch/tree/master/plugins/lang-python

I appreciate the links migh

[2016-01-11 12:21] NDevox commented on #15883
First PR failed the CLA check so signed and opened another.

[2016-01-11 12:22] NDevox commented on #15883
Worth noting that the readme at the deprecated repo (https://github.com/elastic/elasticsearch-lang-python) talks about building from source and points to out-of-date resources so is fairly misleading. Especially considering this repo hasn't seen development for 4 months whereas the up-to-date repo has seen development in the last few days.

[2016-01-11 12:31] #13278 closed

[2016-01-11 13:19] danielmitterdorfer commented on #15589
The reason is straightforward: The [size calculation for scripts](https://github.com/elastic/elasticsearch/blob/ace1b33c3c5ddcd933045cb88c04475799fa96ea/core/src/main/java/org/elasticsearch/action/bulk/BulkRequest.java#L163) in `BulkRequest` does only take into account the script size (i.e. the actual source code of the script) but not its parameters. That's why in the first case, only 34 is retur

[2016-01-11 13:27] cbuescher commented on #15648
For 2.x, in `NestedQueryParser#build()` the `query` takes precedence over `filter` as observed by @pickypg when constructing the Lucene query. Looking at the docs in 1.7 or 2.x, this seems also like the expected behaviour (`the query (or filter) includes the query that will run on the nested`). Not sure if there is anything to fix here @clintongormley? We could throw an exception if both are speci

[2016-01-11 13:29] clintongormley commented on #15757
OK gotcha, here's a recreation:

    PUT index1

    PUT index1/type1/_mapping
    {
      "type1": {
        "properties": {
          "entityContent": {
            "type": "nested",
            "properties": {
              "field1": {
                "type": "string"
              }
            }
          }
        }
      }
    }

    PUT index1/type1/1
    {
        "content" : "This is a T

[2016-01-11 13:47] clintongormley commented on #15542
@colings86 ++  makes sense, thanks.  Closing

[2016-01-11 13:47] #15542 closed

[2016-01-11 15:00] abeyad commented on #15359
In this case, the thread pool reporting for the two different endpoints is intended to report different things:

GET _nodes/thread_pool is meant to show how the node is configured with regards to each thread pool.  This is static information on the node, and 'min' and 'max' here indicate the core pool size and max thread pool size with respect to the ThreadPoolExecutor.

GET _nodes/stats/thread_po

[2016-01-11 15:00] #15359 closed

[2016-01-11 15:20] imotov commented on #15653
@iostat thank you for the analysis of the issue. I agree, that it would be a valuable feature that would help some users who lost a part of their index due to shard corruptions. I also agree that RestoreService is already more complicated than we would like it to be. The good news is that a lot of complexity in RestoreService comes from managing of the restore lifecycle and we are currently workin

[2016-01-11 15:21] roytmana commented on #15876
@clintongormley two issues

1. No matter how high it was, for me it was not 100% precise (difference was by 1 document) even when I set it to be higher than actual cardinality

2. When I have it as a nested aggregation and set a fairly high threshold (because there are few buckets in parent agg that are much bigger than others) and the parent aggregation generates lots of buckets I ended up out wi

[2016-01-11 15:31] famini opened #15889 "Elasticsearch windows service crashes when stopping it"
When stopping Elasticsearch 2.1 windows service on windows 2008 R1, windows 2008 R2' windows 2012 and windows10, the following Application Error is logged in the Windows event log indicating an access violation in Java. I stopped it both using the service.bat file, and from services.msc.
As you can see below I am using jdk 8 update 45.
From what I have seen Elasticsearch keeps working fine when st

[2016-01-11 15:42] martinstuga commented on #15662
My idea is to provide a step-by-step that includes stuff like update our remote repository from the upstream and so on.

[2016-01-11 16:22] javanna commented on #15662
Are there specific issues with the way we use github as a project? In that case we should document things better, otherwise I wonder if it makes sense for every single project on github to include (the same?) instructions about using github.

[2016-01-11 16:34] NathanZamecnik commented on #9876
A "Moving Standard Deviation" pipeline aggregation would be useful.  If we can calculate that on the server we could also create a "Relative Standard Deviation" aggregation which would use a "Moving Average" aggregation and the "Moving Standard Deviation" aggregation.  This would be useful to calculate the +/- for various metrics.

For instance, with a Web server I may want to calculate volatility

[2016-01-11 16:49] jpountz commented on #15858
@jimferenczi Maybe I'm the one confused but I think the issue is different here: we want the number of SHOULD clauses to be equal to the number of unique positions instead of the number of tokens?

[2016-01-11 16:55] jpountz commented on #15880
The problem is due to the fact that your configuration tries to load files (/home/elk/running/elasticsearch/config/hunspell, /home/elk/running/elasticsearch/config/elasticsearch.yml) from outside of your conf directory (/home/elk/etc/elasticsearch_tribe), which is forbidden for security reasons.

[2016-01-11 16:55] #15880 closed

[2016-01-11 17:04] jpountz commented on #15876
Accurate cardinalities can't be reasonably computed in a distributed index as it would require to forward all unique values to the coordinating node. Since we don't want to have features that only work in a single-shard setup, I'm afraid this means we can't support this feature.

Just to check that this is not a bug in the current impl: how many unique values does your field have?

[2016-01-11 17:05] javanna commented on #15248
The plan has changed quite a bit since I created this issue. Most of the code has been moved to es core. There are a few classes though where we try not to depend on es, under `o.e.ingest.core` , which one day we might want to take out and make a separate library. The main processors are also part of core. grok processor is a module, while geoip stays as a plugin for now. Nothing to do here at thi

[2016-01-11 17:05] #15248 closed

[2016-01-11 17:06] jzbahrai commented on #15858
I am also a little unsure as to what @jimferenczi is saying. I want the minimum_should_match for rice,arroz to be equal to 1 as it should be based on the number of positions (in this case 1), but it is 2. It is correct for the multiword brown sugar, brownsugar as it is 2 and the number of positions in that case is 2.

[2016-01-11 17:07] javanna commented on #14990
This has been implemented

[2016-01-11 17:07] #14990 closed

[2016-01-11 17:07] javanna commented on #14644
This has been implemented.

[2016-01-11 17:07] #14644 closed

[2016-01-11 17:09] javanna commented on #14548
This has been implemented, every processor can be associated with a list of processors to be executed on failure. Same for a pipeline. The processor one has the precedence.

[2016-01-11 17:09] #14548 closed

[2016-01-11 17:09] jpountz opened #15892 "Cardinality aggregation should not reserve a fixed amount of memory per bucket"
The cardinality aggregation currently reserves a fixed amount of memory per bucket. While this makes memory management easier, this also has the downside of making buckets that don't collect many docs very memory-intensive.

[2016-01-11 17:10] javanna commented on #14998
This has been implemented.

[2016-01-11 17:10] #14998 closed

[2016-01-11 17:10] jpountz commented on #15876
I'm interested in exploring this problem however. I opened #15892.

[2016-01-11 17:14] skeidel opened #15893 "NPE when running simple query_string query"
I'm running a homebrew'ed v2.1.1 setup and after upgrading from v2.0.x I get a NPE when running a simple string query like this:

[code]

I tried nuking and recreating the index but to no avail. This mapping/search combination still works fine in v2.0.x. I looked over the [breaking changes](https://www.elastic.co/guide/en/elasticsearch/reference/2.1/breaking-changes-2.1.html) in the v2.1.0 change

[2016-01-11 17:27] nik9000 commented on #15860
Had to revert the change. I'll get it in there though.

[2016-01-11 17:34] jasontedor opened #15895 "ShardStateAction#shardStarted should manage retries on channel exceptions"
ShardStateAction#shardFailure was modified in #15748 to manage retries on channel exceptions, and otherwise signal success or catastrophic failure to the requester. A similar mechanism should be built for ShardStateAction#shardStarted.

[2016-01-11 17:36] jasontedor opened #15896 "Remove retry logic from IndicesClusterStateService"
IndicesClusterStateService currently manages its own retries when managing shard state. Channel related failures will now be managed in ShardStateAction (#15748, #15895) so the retry logic should be refactored there to only handle non-channel failures.

[2016-01-11 17:38] jasontedor opened #15897 "Add CapturingTransport#captureRequestsAndClear"
We use the pattern of

[code]

where `transport` is a `CapturingTransport` throughout our test suite. This pattern could be simplified by adding a dedicated `CapturingTransport#captureRequestsAndClear` method.

[2016-01-11 18:13] polgl commented on #9794
Hi @clintongormley here is the diff of a quick fix
I did not manage to write a test with the right conditions for this (netty client, one slow/ blocking request, killing the server without normal shutdown)
This change ensures that the DiscoveryNode object that was connected before is used for disconnecting.
[code]

[2016-01-11 18:13] jimferenczi commented on #15858
@jzbahrai @jpountz I just answered regarding @clintongormley's recreation where the minimum should match is statically set to 2. I agree that there is a bug with the example used by @jzbahrai where minimum should match is set with "3<90%". I'll take a look.

[2016-01-11 18:39] jimferenczi commented on #15858
The bug is when there is only one position but multiple clauses in this position. it is related to a small optimization that is done to reduce the number of clauses when there is only one position. In such case we build only one level of boolean query and the optional clauses are all at the root level, this level is then used to compute the number of optional clauses in the query. For instance the

[2016-01-11 18:48] clintongormley commented on #15883
I'd remove the MVEL link as well - it's long gone :)

thanks

[2016-01-11 18:52] clintongormley commented on #15648
Makes sense, thanks @cbuescher

Closing

[2016-01-11 18:52] #15648 closed

[2016-01-11 18:59] clintongormley commented on #15880
@jpountz i'm just wondering if the tribe node itself is trying to load the hunspell dictionary?

[2016-01-11 19:00] roytmana commented on #15876
@jpountz I understand but would like to make another plea :-) since my customers are rather unhappy abut it

Elastic does forward shard search results or aggregations to coordinating node for merging why not the unique values? If a user needs precise count and that's the only way to do it, he/she would find the cost in processing/memory/networking acceptable and ensure the cardinality is not out o

[2016-01-11 19:07] clintongormley commented on #15893
Heya @skeidel

You say you've nuked and recreated this index and you're seeing the same thing?  I tried creating the index with the same settings/mappings, but it wasn't enough to trigger the NPE.  Any chance you could provide (just enough) documents to recreate the problem?

[2016-01-11 19:07] roytmana commented on #15876
I know it is probably not practical to do but here is a silly question anyway:
In a single node multi-shard scenario some algorithms such as this or guaranteed result of term agg when sorted by count could be entirely practical and fairly easy to implement. Would elastic care to support some better algorithms/guarantees for single node multishard scenario? This scenario covers in very many cases t

[2016-01-11 19:11] clintongormley commented on #15893
Never mind - already fixed in https://github.com/elastic/elasticsearch/pull/15506

[2016-01-11 19:11] #15893 closed

[2016-01-11 19:14] clintongormley commented on #9794
@bleskes could you take a look at this please?

[2016-01-11 19:39] BigFunger opened #15901 "[WIP] [Ingest] _simulate error messages"
This issue will contain comments on the ingest _simulate error reporting functionality. This is an ongoing exploration, and I'll add a comment for each unexpected behavior.

[2016-01-11 19:39] BigFunger commented on #15901
## grok scenario 1

**input**
[code]

**output**
[code]
**comments**
I don't know what "path cannot be null nor empty" refers to.

[2016-01-11 19:40] BigFunger commented on #15901
## grok scenario 2

**input**
[code]

**output**
[code]

**comments**
I expect the [reason] property to be populated
null_pointer_exception means nothing to me in context.

[2016-01-11 19:40] BigFunger commented on #15901
## grok scenario 3

**input**
[code]

**output**
[code]

**comments**
Do we want a grok expression that doesn't match anything to throw an exception?

[2016-01-11 19:41] BigFunger commented on #15901
## grok scenario 4

**input**
[code]

**output**
[code]

**comments**
I expect the [reason] property to be populated
null_pointer_exception means nothing to me in context.
I also didn't anticipate this NPE at all.

[2016-01-11 20:22] s1monw commented on #15768
+1 to this - I think for the replication case we should refresh since we have to but for stuff like clearing version maps etc. we can improve the situation.

[2016-01-11 20:59] NDevox commented on #15883
removed in pull #15885

[2016-01-11 21:17] puneetjaiswal opened #15902 "histogram query results a deadlock in elasticsearch"
ElasticSearch version 1.7.3 running with Oracle Java 8.

When ran this query
[code]
ElasticSearch froze and observed a possible deadlock using yourkit. Filter is selected for 15 mins on a interval of 10ms.
<img width="1380" alt="screen shot 2016-01-11 at 12 51 11 pm" src="https://cloud.githubusercontent.com/assets/1412516/12246831/96db4156-b865-11e5-9dce-670d5f87012e.png">

Although min/max diff i

[2016-01-11 21:17] rjernst commented on #15880
@clintongormley Yes, the tribe node is a "normal" node right now (still initializes all other node services, include the analysis module, which creates the hunspell service). It also seems here path.conf was not read at the right time, since something in the 2.1.0 case tried reading elasticsearch.yml from the default conf dir.

[2016-01-11 21:34] rjernst commented on #15693
We could add an explicit check in 2.x for `plugin.types` in settings when building the transport client, and give an error suggesting to use `addPlugin`? I don't think we should have this indefinitely, but at least for 2.x.

[2016-01-11 21:43] taf2 commented on #4915
it's been too many days we need more +1

[2016-01-11 21:55] #15829 closed

[2016-01-11 21:57] samdash commented on #4915
i think if the issues is showing incorrect results or an issue for performance degradation for large data, at least  there should be an option to opt-out or opt-in option for pagination in aggregation. in that way whoever does not have large data set should be able to opt-in for pagination and rest can ignore that option.

[2016-01-11 22:15] pickypg commented on #8932
Perhaps instead of making it to `1`, it should be limited to a more sane default, like `5` rather than `50` (the current). `5` would be inline with our current default port range for convenient development.

We should consider setting this when we install via the RPM/DEB installers.

[2016-01-11 22:29] pickypg opened #15903 "[DOCS] Document node.max_local_storage_nodes setting"
`node.max_local_storage_nodes` is an extremely useful setting that prevents more than the defined number of nodes (e.g., `1`) from sharing the same `path.data`.

I'm open to suggestions on where it should be documented.

[2016-01-11 22:51] dbaggott opened #15905 "Is cloud-aws for 2.X available in maven for java client nodes?"
I have a java-based client node that uses cloud-aws for EC2 discovery and I'm trying to upgrade it from 1.7 to 2.1.1.

I'm unable to find any 2.X-compatible versions of the plugin in maven. Am I missing it? If I want to incorporate EC2-based discovery of an 2.1.1 cluster into a java client, how is it recommended that I proceed?

[2016-01-11 23:00] dbaggott commented on #15905
Yes, it is:

[code]

[2016-01-11 23:00] #15905 closed

[2016-01-11 23:44] martijnvg commented on #15842
Reopening, using the cluster state to store pipelines makes the ingest code much cleaner and simpler. If security is needed at some point then this can be achieved by adding this to the cluster state infrastructure.

[2016-01-11 23:54] rabx88 opened #15908 "mpercolate does not function properly in elasticsearch 2.1.1"
The mpercolate call appears to be broken in 2.1.1 in clusters with more than one node. The following sequence works perfectly on my laptop but fails in two separate three node clusters (in "green" state). Sometimes the call succeeds on one of the three machines but not on the others. I could not find any errors in the logs.
PUT http://localhost:9200/test
[mapping.txt](https://github.com/elastic/el

[2016-01-12 01:00] iostat commented on #15653
@imotov: Thanks for the reply! I definitely agree that it's a behemoth of a
task especially for someone like me getting their feet wet with the
codebase, but I thought it was least worth starting a discussion for.

On the point of mismatched settings: I think it's fair to say that if the
number of shards in the snapshot doesn't match the number of shards in the
index, you shouldn't be able to rest

[2016-01-12 01:06] talevy commented on #15901
scenario 2, 4 is a bug in Grok parsing. This occurs when there is a regex match, but no captures to iterate through in order to extract into new fields

[2016-01-12 01:06] talevy commented on #15901
scenario 3: yes, we want an exception to be thrown

[2016-01-12 01:11] talevy commented on #15901
Scenario 1: this is a slight issue with how we evaluate field names. Since the field name was empty, it blows up :)

[2016-01-12 01:12] talevy commented on #15901
@BigFunger thanks for submitting these, I will clean up scenarios 1,2,4. Scenario 3 will probably remain the same

[2016-01-12 01:14] zcola commented on #15880
@jpountz But the Starting method is used to start the `data node` or `master node` can be started successfully. And I did not `/home/elk/running/elasticsearch/config/hunspell` this file, hunspell this error does not occur in `2.1.1`, not `2.1.0`.

[2016-01-12 01:16] zcola commented on #15880
@rjernst Your advice?

[2016-01-12 01:56] imotov commented on #15653
The requirement of a snapshot being created after creation of the restored index is irrelevant to success or failure of the partial restore. I think what you are trying to say is we could reject the restore request completely if the index that we restore is not the same as the index that was snapshotted. Yes, we could make this a requirement, but even then there is plenty of scenarios for a snapsh

[2016-01-12 01:59] talevy commented on #15901
actually. looks like Scenario 1 is expected. `path` is just not very helpful in this context. it means the path defined in `field`.

[2016-01-12 02:21] zcola commented on #15880
`--path.conf` parameter is not used can be started successfully, but can only start from the default configuration path location

[code]

[2016-01-12 03:13] nirajpatel opened #15914 "Smarter request routing which takes recent node latency into account"
Hi! I was wondering if there was any ability to blacklist a node while it is recovering. Trying to route GETs, indexing and search to a recovering index can cause the node to fall out of the cluster or can cause the cluster to pause altogether. Is there a way to blacklist a node using the TransportClient that way no traffic is routed to a particular node (or anything similar)? Thanks!

[2016-01-12 04:18] wisre opened #15916 "master node can not rejoin cluster after restart on es2.0.0. but other nodes can rejoin cluster after restart"
i have a es cluster with ten nodes  five  dedicated master[A,B,C,D,E] and five datanode,when i retsart
the master A ,other dedicated master elect another master B,but when the A start,it cannot find master B.but B can find A,and put A into the cluster.

the error like this
===

[2016-01-12 11:39:45,891][DEBUG][action.admin.cluster.state] [efe-es-03] no known master node, scheduling a retry
[2016-0

[2016-01-12 04:20] wisre commented on #15916
my discover config like this
====

 discovery.zen.ping.unicast.hosts: ["A", "B","C","D","E"]
 discovery.zen.minimum_master_nodes: 3
 discovery.zen.ping.multicast.enabled: false

[2016-01-12 04:46] rmuir opened #15917 "add loadaverage support for freebsd"
Should be very easy to add based on https://github.com/elastic/elasticsearch/pull/15907, just that we want to read from linprocfs if its available (`/compat/linux/proc/loadavg`)

[2016-01-12 05:07] trejkaz opened #15918 "AccessControlException in JarHell#checkJarHell when running embedded for testing purposes"
Our tests are run with a security manager enabled.

Another developer (who apparently disabled the security manager instead of reporting this) added a test which tries to start an elasticsearch node, which then tries to load plugins. Turns out that this calls `JarHell#checkJarHell`, which then pokes around the classpath in some fashion. The resulting `AccessControlException` is then presumably cau

[2016-01-12 05:11] najamss opened #15919 "High disk watermark exceeded on one or more nodes, rerouting shards"
I am running Elasticsearch, and Kibana on Windows and using Synology NAS as storage for Elasticsearch. For few days, Elasticsearch started behaving weird; therefore, I checked elasticsearch.log and found the following errors:

[WARN ][cluster.routing.allocation.decider] [Desmond Pitt] high disk watermark [0b] exceeded on [O2-Ef7fET9S_MJNAL-q_yA][Desmond Pitt] free: -1b[100%], shards will be reloca

[2016-01-12 06:44] dadoonet commented on #15916
Please join us on discuss.elastic.co. We can help there.

Also provide your full logs there.

[2016-01-12 06:44] #15916 closed

[2016-01-12 07:17] bleskes commented on #15919
Thanks @najamss . I think the question here is what we want to do when a node doesn't report the file disk usage.

- Do we see it as a requirement? In which case, should we test at node start and refuse to start if the stats are not there? Also, if a node doesn't report usage during operation, do we relocate all shards away as we seem to be doing now (but with better logging)?
- Do we accept this

[2016-01-12 08:14] masaruh opened #15920 "Wrong "index.routing.allocation.enable" value prevents all allocation"
(This happens on 1.7.3 and 2.1.0)

On single node cluster, do this

[code]

and restart node.
You get this exception and no shard is allocated.

[code]

I think one wrong value in index level setting shouldn't prevent other indices' shards allocation.
Could be dup of #6732 since this shouldn't happen if you can't set wrong value.

[2016-01-12 08:45] Mogztter commented on #15789
@jpountz Thanks!
@s1monw Yes the situation is *way* better:

![heap-after](https://cloud.githubusercontent.com/assets/333276/12258694/c89e80a8-b910-11e5-81fe-2550b2ced052.JPG)

Now the memory taken is about 250 Mo and stable on each call :+1:

[2016-01-12 08:46] jpountz commented on #15789
:+1:  Thanks a lot for confirming.

[2016-01-12 08:53] micpalmia opened #15921 "function_score ignores functions if inner query is filter-only"
Working on *Elasticsearch 2.1.1* - sorry in advance for the probably inaccurate terminology.

When the `query` section of a `function_score` query would not normally rank results (e.g., a `bool` query only containing `filter` and `must_not` clauses), the function score query ranks `0` all elements regardless of the listed `functions`.

Moving the filtering to an outside query works as expected.
In

[2016-01-12 09:05] jimferenczi commented on #15858
The bug/problem is at the Lucene level. I opened https://issues.apache.org/jira/browse/LUCENE-6972, @jpountz can you take a look ?

[2016-01-12 09:32] s1monw commented on #15789
awesome! thanks for reporting @Mogztter

[2016-01-12 10:42] clintongormley commented on #15902
You are creating 145255275507 buckets... which is using up all your memory.  The threads are frozen because garbage collection is thrashing.  We will be dealing with this by limiting the number of buckets that can created.  Closing in favour of https://github.com/elastic/elasticsearch/issues/14046

[2016-01-12 10:42] #15902 closed

[2016-01-12 10:42] clintongormley commented on #15693
+1

[2016-01-12 10:44] clintongormley commented on #15903
Thanks for volunteering.  I'd put it on this page: https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html

[2016-01-12 11:19] martijnvg opened #15924 "Simplify MapperService#searchFilter(...)"
This method has a lot of logic that deals with the fact if type field isn't indexed. Since the the type field is locked down (like other meta fields), the type field is now always indexed. So it is time to clean this up.

It also has logic if only one type has been specified, which can be removed because BooleanQuery optimises when there is only one clause.

There is also logic to hide percolator

[2016-01-12 11:48] NDevox opened #15925 "How to install scripting plugins from source"
Looking at docs here: https://www.elastic.co/guide/en/elasticsearch/plugins/current/lang-python.html

This assumes you have access to the internet. The server I need to install this on does not have access to anything outside our local network (company security measures).

Can we get instructions on how to build from source?

It's hinted at in the old repository: https://github.com/elastic/elastic

[2016-01-12 11:53] clintongormley commented on #15908
Simple recreation:

Start two nodes, run this:

    PUT test
    {
       "settings":{
          "number_of_shards":1,
          "number_of_replicas":1
       },
       "mappings":{
          "cert_localmachine_my":{
             "properties":{
                "cert_localmachine_my":{
                   "properties":{
                      "NotAfter":{
                         "type":"date",

[2016-01-12 12:28] #14001 closed

[2016-01-12 12:57] clintongormley commented on #15914
Hi @nirajpatel

it's not possible, and I've been trying to think if it makes sense to add. It has complications (eg what happens if all nodes are recovering from each other?).  Really, it shouldn't be necessary.  Recovery should be throttled so there are sufficient resources on the box to handle search requests etc as well.  (This also means providing enough hardware so that your nodes are not at

[2016-01-12 13:12] dadoonet commented on #15925
In 2.x branches:

[code]

The plugin is built in `target/releases`.

But you don't need that to install the plugin. You can also download a packaged version from our download service.

For example here: https://download.elastic.co/elasticsearch/release/org/elasticsearch/plugin/lang-python/2.1.1/lang-python-2.1.1.zip

[2016-01-12 13:12] #15925 closed

[2016-01-12 13:18] clintongormley commented on #15918
@rjernst could you take a look at this?

[2016-01-12 13:22] clintongormley commented on #15920
Fixed by https://github.com/elastic/elasticsearch/pull/15278

[2016-01-12 13:22] #15920 closed

[2016-01-12 13:25] clintongormley commented on #15921
It appears the filter returns the score as `0` instead of `1`, which doesn't seem right.  @jpountz ?

[2016-01-12 13:32] NDevox commented on #15883
Closed by #15885

[2016-01-12 13:32] #15883 closed

[2016-01-12 13:45] haiguo commented on #15920
What we saw is that entire cluster recover can be stopped by a bad setting on a single index.  Master node will stop directly recovery when an IllegalArgumentException is thrown.  Is that fixed in 15278?

[2016-01-12 13:48] clintongormley commented on #15920
I missed the fact that this is an index setting rather than a cluster setting. Index settings are still being worked on, but yes, the validation of index settings will fix this.  This will be fixed once https://github.com/elastic/elasticsearch/issues/6732 is closed

[2016-01-12 13:52] dbaggott opened #15927 "Support for loading a plugin in a client node is missing"
In 2.1.1 (and, I think, all 2.X versions), there's no support for loading plugins to a client-only node.

For example, there's no (obvious) way to load plugins when doing something like:

[code]

An `addPlugin` method on NodeBuilder along the lines of `TransportClient.addPlugin` would be helpful.

The work-around is to override Node, duplicate the environment/version constructor logic, and provide

[2016-01-12 13:55] dbaggott commented on #15927
Also [discussed here](https://discuss.elastic.co/t/cloud-aws-for-es-2-1-1-in-maven/38924/5).

[2016-01-12 14:01] ycombinator commented on #15820
Hi @jamesjin, thanks for reporting this issue! I work in Developer Relations at Elastic. I understand it must've taken you a significant bit of time to reproduce it and figure out the root cause. Thank you for doing that. As a token of our appreciation, we'd like to send you a small thank you gift. Could you send us a quick "hello" email us at developerrelations [at] elastic.co and we'll figure ou

[2016-01-12 14:10] jprante commented on #15927
@dbaggott `NodeBuilder` has become unusable for plugins.

See https://github.com/elastic/elasticsearch/issues/15060
and https://github.com/elastic/elasticsearch/issues/13212
and https://github.com/elastic/elasticsearch/pull/15107
and https://discuss.elastic.co/t/add-plugins-from-classpath-in-embedded-elasticsearch-client-node/36269

[2016-01-12 14:12] dadoonet commented on #15927
I think this is important in cases where users want to use a Client Node to connect to AWS or Azure for example. Those users need to add a cloud plugin.
We should either support it out of the box, either document how they can do it, either remove support for Client Node...

Thoughts?

[2016-01-12 14:13] nirajpatel opened #15928 "Inconsistent results using tribe node with transport client"
Hi! I am using a tribe node with the transport client to connect to 2 clusters. When I look at **_cat/indices** I see consistent indexes. When I use the transport client with the below **does the specified index exist?** request I get true 50% of the time and false 50% of the time although the index does in fact exist.

Code:

[code]

YML settings:

[code]

[2016-01-12 14:18] nirajpatel commented on #15914
Thank you so much for responding @clintongormley! That certainly makes sense. I was thinking more on the transport client side while the cluster is recovering we could at least throttle requests.

**Recovery should be throttled so there are sufficient resources on the box to handle search requests etc as well.**
Recovery being throttled means higher search, GET, indexing times usually correct? Wou

[2016-01-12 14:27] clintongormley commented on #15927
A client only node is just a node, with a config directory etc.  What's the issue with installing the plugin into the `plugins` directory like you'd do on any other node?

[2016-01-12 14:30] dadoonet commented on #15927
Because you are starting a Node programmatically which is in Maven/Java:

* add dependencies to `elasticsearch`, `cloud-aws`.
* start the node in Java.

As a Java developper I would not expect having to run a single command like `bin/plugin` when I want to use a Java client.

[2016-01-12 14:31] clintongormley commented on #15927
Then use a transport client, not a client node.

[2016-01-12 14:32] dadoonet commented on #15927
So we should deprecate Client Node and don't document it in the Java API doc anymore IMO.

[2016-01-12 14:36] javanna commented on #15928
how do you initialize your transport client? does it point to the tribe node or to nodes that belong to the two clusters?

[2016-01-12 14:41] q11112345 opened #15930 "date format field comparing problem.."
here is my xshell log.
the problem is gte and lte does not have the same behivor in comparing using two different date format

[BEGIN] 2016/1/12 22:01:27
[root@4-216 ~]# curl -XDELETE 192.168.4.216:9280/test_red/t6
{"error":"TypeMissingException[[_all] type[[t6]] missing: No index has the type.]","status":404}[root@4-216 ~]#
[root@4-216 ~]#
[root@4-216 ~]#
[root@4-216 ~]#
[root@4-216 ~]# curl -XPU

[2016-01-12 14:44] #15897 closed

[2016-01-12 14:50] clintongormley commented on #15930
Hi @q11112345

First, could you tell us what version of ES you are using? Second, could you reformat your post to provide a simple runnable example that I can copy and paste to try out, rather than having to recreate everything you did?

[2016-01-12 14:54] dadoonet commented on #15930
Question was asked here: https://discuss.elastic.co/t/how-does-the-updating-put-mapping-api-works-to--all-field/38803

I suggest we follow up on discuss instead?

[2016-01-12 14:56] clintongormley commented on #15930
Makes sense. btw @q11112345, deleting mappings is no longer supported, and may be involved with the issue you have.

[2016-01-12 14:56] #15930 closed

[2016-01-12 14:58] jpountz commented on #15921
The first query gives a score of 0 to all docs because there are no scoring clauses. In order to get a score of 1 you would need to add a `must` clause with a `match_all` query, or more simply since there is a single filter, wrap it under a `constant_score` query:

[code]

[2016-01-12 15:01] clintongormley commented on #15921
@jpountz this is surprising... filtered docs in 1.x were all given a score of 1.0.  Is this not possible with `bool.filter`?  If not, then this should be documented.

[2016-01-12 15:04] #15847 closed

[2016-01-12 15:07] dbaggott commented on #15927
@jprante, thanks for all the pointers!  I spent some time searching closed issues but didn't manage to find those.  The context is very helpful, I didn't realize the history that I was stumbling into and it's helpful in understanding where everyone is coming from and why the discussion is so heated!

@dadoonet, thanks for clarifying the use case!

@clintongormley, w/r/t your first suggestion, I'll

[2016-01-12 15:09] dbaggott commented on #15927
(And, I forgot to say, @clintongormley, thanks for the suggestions!)

[2016-01-12 15:15] nirajpatel commented on #15928
The transport client was initialized to point to the tribe node. I actually setup 3 so I added all 3 using the **addTransportAddress** method

[2016-01-12 15:22] javanna commented on #15928
how come you have three tribe nodes? not sure how that would work, I would expect you to have a single tribe node and the transport client pointing to that one. I am thinking you get different answers because of this.

[2016-01-12 15:25] nirajpatel commented on #15928
okay, let me see if that is the reason!

[2016-01-12 16:01] jpountz commented on #15921
We could automatically add a match_all MUST clause if there are no positive clauses in order to get a score of one. But isn't it more natural to get null scores if there are no scoring clauses?

[2016-01-12 16:08] #15689 closed

[2016-01-12 16:09] micpalmia commented on #15921
Regardless of whether it's more natural to get a score of 1 or 0 in case there are no scoring clauses, a `match_all` clause is the default if the `query` clause inside the `function_score` query is not provided. It's thus surprising, when implementing a query with function scoring, that adding a few filtering query *removes* it.

[2016-01-12 16:13] #15822 closed

[2016-01-12 16:28] rjernst commented on #15924
+1

[2016-01-12 16:37] NDevox commented on #15925
@dadoonet do you think it is worth adding this to the docs?

[2016-01-12 16:50] hisuwh commented on #15630
I have tried moving my keystore to the c drive but this makes no difference

[2016-01-12 16:53] dadoonet commented on #15925
I don't know. Running `bin/plugin -v` gives the exact URL which is used to download the file locally.
Also note that maven central has also those files: http://search.maven.org/#search%7Cga%7C1%7Clang-python

@clintongormley WDYT? Should we document how is organized our download service for such a case?
Or add a `--do-not-install` / `--just-download` option to the plugin manager?

[2016-01-12 16:55] dadoonet commented on #15630
@hisuwh And your `elasticsearch.yml` is now?

[code]

[2016-01-12 17:06] hisuwh commented on #15630
yes

[2016-01-12 17:18] dakrone commented on #15917
+1!

[2016-01-12 17:27] jpountz commented on #15921
But you did not just add filters, you overrode the default `match_all` query with another query that returns scores that are equal to 0.

Maybe what really needs to be done is further documenting the 2.0 upgrade notes about the `filtered` query. They already state that
[code]
needs to become
[code]
Maybe they should also document that
[code]
needs to become
[code]

[2016-01-12 17:31] dakrone commented on #15919
I don't think we should view it as a hard requirement, I think it should
probably warn about it and self-disable the AllocationDecider if there are no
disk usages reported, what do you think?

Are you talking about if it previously reported the disk statistics but suddenly
stopped?

Regardless, if a node doesn't report usage we should not relocate all shards
away. In that case we should warn heavi

[2016-01-12 17:43] martijnvg commented on #15908
The problem is not related to the node restart. It also doesn't match before the restart. The problem is that the mpercolate api doesn't serialise the start time of the request to other nodes that participate in mpercolate execution. I'll open a pr for that.

@rabx88 Can you confirm that this problem only occurs with range query/filters that use `now`?

[2016-01-12 18:05] masonjm opened #15935 "Translog corruption if process is killed"
This looks like #9699, but I'm seeing it with 2.1.1.

Here's the stacktrace:

    [2016-01-12 09:57:05,517][INFO ][gateway                  ] [Googam] recovered [2] indices into cluster_state
    [2016-01-12 09:57:33,204][WARN ][indices.cluster          ] [Googam] [[audiolevel-2016.01.12][0]] marking and sending shard failed due to [failed recovery]
    [audiolevel-2016.01.12][[audiolevel-2016.01.

[2016-01-12 18:17] #14416 closed

[2016-01-12 18:20] nirajpatel commented on #15928
@javanna I did 100 iterations and here are the results for if the TransportClient sees that the index exists

false
false
false
true
true
true
true
false
false
true
false
false
false
true
true
true
true
false
false
true
false
false
false
true
true
true
true
false

[2016-01-12 18:33] eedwardsdisco commented on #6732
+1

[2016-01-12 18:46] javanna commented on #15928
Can you please post the code that initialized your `TransportClient` ? which node do you send the request to through the REST layer?

[2016-01-12 19:07] rabx88 commented on #15908
That is correct. We tried a few other examples using combinations of term filters and it worked as expected.

[2016-01-12 19:35] nirajpatel commented on #15928
Sure!

[code]

[2016-01-12 21:03] micpalmia commented on #15921
I think transforming an unscored 1.x query into a 2.x `constant_score` query is very much unnecessary most of the time. I happily transformed all the production queries that were filter-only into boolean filters without issues, because the output score was irrelevant.

The thing that I was personally missing (and that I think is not clear at all from the docs) is that unscored queries stopped retu

[2016-01-12 21:19] ppf2 opened #15940 "Snapshot failover/retry on failed shard if a good copy is available"
Scenario reported by the field is the following.

Periodically, snapshot fails (partial) against a specific shard.

[code]

This tends to happen when there is a corruption against a large segment.  Since we have to read the entire segment to check for corruption, for large segments, we do not check for corruption until one of the following operations are performed today (snapshot, merge, relocatio

[2016-01-12 21:27] brwe opened #15941 "Circular reference in Exception when checkpoint writing fails"
We can end up with a circular reference in an Exception A, which has as suppressed Exception B which has as cause A again if an Exception is thrown in the try block of `Translog.ensureSynced()` (Translog.java#L562).

This is easy to see if you pick https://github.com/brwe/elasticsearch/commit/bb108994d9b4929481f2f74b3e01bc8c0f756b18 and run the `TranslogTests`.

The way this happens is so:

1. We

[2016-01-12 22:41] sundarv85 commented on #2917
+1

[2016-01-12 23:12] milodky commented on #9951
Hey @sylvae , I have the exact issue, how you solved this?

[2016-01-13 00:06] conorsch commented on #13231
@vacri Having the same directory mask problem you encountered with bakhti's role, but I'm completely unable to track down where the problem is slipping in. My best guess at this point is something to do with the `monit` service, so I'll try forking and ripping that out. Wouldn't hurt to test OSes other than Debian 8, as well.

[2016-01-13 00:15] conorsch commented on #13231
Bizarrely, testing in Ubuntu 14.04 rather than Debian 8 fixes the directory mask problem. No clue why that is. Looks like I'm in for some hair-pulling.

[2016-01-13 01:52] q11112345 commented on #15930
ok. im sorry. i cant open gist.github.com. im in china.
how about give me a email-address.
version im using is 1.5.0. i forget telling you.

[2016-01-13 01:53] imotov commented on #15854
@dadoonet  do you think 5 minutes is long enough in this case? How did you choose 5 minutes?

[2016-01-13 02:17] talevy opened #15944 "[Ingest] Add De-dot Processor"
Since fields with dots in the name are disallowed from being indexed, it is useful to have an ingest processor that can help replace those `.`s into some other character (e.g. `_`).

[2016-01-13 02:27] serj-p opened #15945 "Nonunique terms are being accounted multiple times in terms aggregation of child/nested documents"
My domain is the following: a parent doc has some child docs with some string field. I want to calculate a frequency of parents having particular field in the child doc. When this particular field doesn't have duplicates amond same parent - results of query below are OK. But when some parent has multiple children with same value of the field, calculation sums this duplicates and gives wrong result

[2016-01-13 02:45] chenryn commented on #15707
Thank you, and I think it's a good hidden feature for percentiles and percentile_ranks aggregations.
Maybe more good if describe the percentiles feature and square bracket style of `bucket_path` in doc.

[2016-01-13 03:06] haochun commented on #13210
@clintongormley @jimmyjones2 i have a encountered the same problem now.i have two shards on one node,but,i found i have no enough space to _optimize.Then, i add a diver to the machine,and add a path to path.data in elasticsearch.yml.But,two shards are UNASSIGNED when i restart elasticsearch.My elasticsearch version is 1.7.3.How can i solve this problem?

[2016-01-13 03:19] wuranbo commented on #15117
We will has the internal result of a long-term-running task? For example:
The query will retrieve total 100 shards on 10 elastic node, each node has 10 shards. We can get the result immediately when the first shard is done. Then the second shard is done, we reduce the result to the former, send notify to the API, so the user can update their view. When all the shards are done, send notify that the

[2016-01-13 04:12] craigwi commented on #15833
in case anyone needs a super short term solution, I implemented the most basic solution (the default 5min timeout) in https://github.com/craigwi/elasticsearch-cloud-azure/releases/tag/v2.8.3-craigwi.

Craig.

[2016-01-13 05:24] najamss commented on #15919
Hello Folks,

Honestly speaking I am not getting either of y'all. I am a beginner to ELK stack and found that maybe it's easy to deploy but very difficult to maintain, it requires a full time employee to manage it which is true for any other commercial product. Solution was running fine before but suddenly it started behaving like this. Now it's throwing weird errors like:

][cluster.action.shard

[2016-01-13 06:29] dadoonet commented on #15854
This is what we did for azure.

[2016-01-13 07:04] talevy commented on #15944
@martijnvg @javanna
I started the work for this here: https://github.com/elastic/elasticsearch/compare/feature/ingest...talevy:ingest-dedot-processor?expand=1
but I have a few questions about its functionality.

should this recursively search and replace across all fields? should we supply a list of fields?

I left it to only search and replace across top-level fields. I also noticed some behavior

[2016-01-13 07:46] javanna commented on #15928
hi @nirajpatel can you try and remove sniffing please? I am afraid that it will make the transport client point to the tribe node plus all of the different nodes in the two clusters, which would explain your mixed results.

[2016-01-13 08:11] thao6626 commented on #14680
+1, sometimes, we need the value of the bucket_script in pipeline aggregations, and also,we need to sort the value

[2016-01-13 08:27] s1monw commented on #15941
thanks so much @brwe for tracking this down. I know exactly what kind of time-sink this is/can be. The explanation makes perfect sense to me after reading it a couple of times :). I think the fix is relatively straight forward, no? I mean we should no add `AlreadyClosedExceptions` as suppressed exceptions when we call `Translog#close()` inside `Translog#closeOnTragicEvent(Throwable), what do you t

[2016-01-13 08:28] javanna commented on #15944
I left a couple of comments on your commit. I think we should look for fields that contain dots recursively. I had a look at the mustache tests and left comments about those too.

[2016-01-13 08:45] #15757 closed

[2016-01-13 08:51] martijnvg commented on #15757
@TheHound Thanks for reporting this issue! I'll back port it to all 2.x branches.

[2016-01-13 09:49] javanna commented on #15730
@clintongormley if I read correctly #13278 and the corresponding fix (#15882), we are now checking the state of the indexes after alias resolution and honouring the current indices options, which were not previously applied to aliases. expland_wildcards is now used to expand aliases too. It seems like there is no need for a new option but maybe we need to rename the option as it's getting applied

[2016-01-13 09:57] tstibbs opened #15949 "Nullpointer using named query when there are nested docs"
It is possible for a null pointer to happen when using a named query when you also have nested docs (seen on 1.4.3, I can't reproduce on 2.1.1 but given the number of things that have to be in place to reproduce I can't be that confident that it doesn't exist somewhere in the latest version).

A script to reproduce it can be found here: https://gist.github.com/tstibbs/92de2206531ca37e0764

The las

[2016-01-13 10:16] javanna commented on #15730
I take this back, I had misunderstood, we check the index state if the alias matches a wildcard expression, not when the alias is explicitly specified. I find this confusing, digging a bit more to find out what we can do about it.

[2016-01-13 10:21] javanna commented on #15730
`GET /alia*/_search` will match the alias "alias" and resolve by default to the open indices only. It honours `expand_wildcards`.

`GET /alias/_search` will resolve to open and closed indices by default and return an exception, but ignore_unavailable allows to control whether unavailable (closed too) indices should be ignored.

`GET /alias/_search?ignore_unavailable=true` resolves to the open indi

[2016-01-13 10:29] javanna commented on #15744
Same as described in https://github.com/elastic/elasticsearch/issues/15730#issuecomment-171243705 .

The exception returned by `GET _stats` has been resolved by #15882, given that not specifying indices is considered a wildcard expressions. `GET _stats?expand_wildcards=open,closed` does return an exception as the `expand_wildcards` option is honoured.

If you do specify an alias that points to som

[2016-01-13 10:29] #15744 closed

[2016-01-13 10:32] clintongormley commented on #15927
@dbaggott You're right that things have changed a lot in this area in the 2.x series, and that this has been discussed in a number of places, and also that the change can be quite painful (for which i apologise).  Just know that it isn't a change we made lightly.

i tried to explain the reasoning behind it here: https://discuss.elastic.co/t/add-plugins-from-classpath-in-embedded-elasticsearch-clie

[2016-01-13 10:37] clintongormley commented on #15925
Perhaps we can add a line to the docs for each plugin saying "This plugin can be downloaded for offline install from xxxxx", and just use an asciidoc `:plugin_url:` replacement to keep the URLs up to date.

[2016-01-13 10:41] javanna commented on #14982
Note that `GET alias/_alias` will return all indices, including the closed ones, while `GET _aliases` and `GET _cat/aliases` will only return the open ones. This behaviour doesn't seem to be configurable, I think we should make this consistent and return all indices in all cases.

[2016-01-13 10:42] clintongormley commented on #15935
@masonjm Is this reproducible?  (It is possible that your translog was genuinely corrupted).  Also what file system are you on?

[2016-01-13 10:46] s1monw commented on #15935
@masonjm did you just upgrade you cluster or that node? It was fixed in `2.1.1` but if you hit it during shutdown before you upgrade there is not much the fix will do for you

[2016-01-13 10:58] clintongormley commented on #15921
I've added the documentation here: https://github.com/elastic/elasticsearch/commit/33e7bb6fba5bf0a28d3fb5462cff931be579c366

Just wondering if the function score query should always have an implicit `match_all`, to make it function the way it did before.

[2016-01-13 11:04] clintongormley commented on #15930
@q11112345 A number of issues have been fixed around dates and ranges since then.  You should upgrade

[2016-01-13 11:08] clintongormley commented on #15945
Hi @serj-p

The right place to ask questions like these is in the forums: http://discuss.elastic.co/

We reserve the github issues list for bug reports and feature requests

thanks

[2016-01-13 11:08] #15945 closed

[2016-01-13 11:25] clintongormley commented on #15949
I'm able to reproduce this in 1.7.3, but not in 2.0.0  or beyond.  @jpountz @martijnvg do you know for sure whether this has been fixed?

[2016-01-13 11:29] clintongormley commented on #15730
Thanks @javanna . I'd forgotten about `ignore_unavailable`.  I don't think this should be the default though.  If a user searches against an alias with closed indices, they should be made aware of it, rather than the situation being silently ignored.

I think the workaround is already in place, and there is nothing more to do here.  Closing

[2016-01-13 11:29] #15730 closed

[2016-01-13 11:31] clintongormley commented on #14982
I agree with making `_cat/aliases` consistent. There is this issue (https://github.com/elastic/elasticsearch/issues/15817) for removing the `GET _aliases` API.

[2016-01-13 11:33] algd commented on #4915
+1

[2016-01-13 11:37] javanna commented on #14982
I think my comment was a bit premature :) I did some more digging and it turns out that the `expand_wildcards` option can be used in all cases to control what gets returned. This is because this api allows to specify index names as well, if none are specified that is considered a wildcard expression.

I also stand corrected on what I said above, let me summarize the current behaviour:

`GET _alias

[2016-01-13 11:41] javanna commented on #15817
this appears to be a duplicate of #13906. +1 for removing asap!

[2016-01-13 11:43] clintongormley commented on #14982
Hmm OK - thanks for the update @javanna.  I think that `GET _alias` and `_cat/aliases` should both return closed indices by default (ie `expand_wildcards=open,closed`).  Perhaps `_cat/aliases` could be expanded to include an indication of whether the index is open or closed, but it probably doesn't need to support the `expand_wildcards` option.

[2016-01-13 12:42] clintongormley opened #15951 "Allowing dots in field names"
As part of the Great Mapping Refactoring (#8870), we had to reject field names containing dots (https://github.com/elastic/elasticsearch/pull/12068), eg:

    {
      "foo.bar": "val1",
      "foo": {
        "bar": "val2"
      }
    }

The behaviour was undefined and resulted in ambiguities when trying to reference fields with the dot notation used in queries and aggregations.

Removing support

[2016-01-13 12:55] dadoonet commented on #15817
Thank you @javanna. For whatever reason I did not find this issue. Closing this then.

[2016-01-13 12:55] #15817 closed

[2016-01-13 13:18] yodog commented on #15267
the good old 'its not a bug, its a feature' :)

but seriously, this kind of change breaks the application to the point where we have to reindex our data.

besides the 'breaking changes' section, where else should i look before updating?

[2016-01-13 14:03] s1monw commented on #15935
the relevant change is this https://github.com/elastic/elasticsearch/pull/15420

[2016-01-13 14:06] jpountz commented on #4915
Note that we have a policy that we should only implement features that work in a distributed environment (ie. with several shards) and scale. So having an opt-in or out specifically for small data sets does not feel right.

[2016-01-13 14:20] jpountz commented on #15949
I don't know when it was fixed but I think I found the bug: in 1.7 MatchedQueriesFetchSubPhase might call DocIdSetIterator.advance after it already returned NO_MORE_DOCS, which is illegal.

[2016-01-13 14:51] dbaggott commented on #15927
@clintongormley, thanks for the helpful reply and for the link which I had read (and now read again).  Your caveat about large numbers of apps aside, running a local node client and talking to it on localhost is the most practical suggestion I've heard (at least for our development/deployment ecosystem).  I also see that that's a variation on [what's recommended in the 2.1 docs](https://www.elasti

[2016-01-13 15:06] davibe commented on #4756
+1

[2016-01-13 15:28] #15941 closed

[2016-01-13 15:48] nirajpatel commented on #15928
@javanna that worked!! thank you :+1:

[2016-01-13 15:48] #15928 closed

[2016-01-13 15:55] javanna commented on #15928
thanks for getting back to us @nirajpatel !

[2016-01-13 15:58] pickypg opened #15959 "[DOCS] Clarify that null_value only modifies the index"
The `null_value` field does not modify `_source`, rather it only sets the indexed value and therefore makes it searchable.

I've found that a lot of people expect to retrieve the "set" value even though it's only indexed that way.

[2016-01-13 16:08] yzprofile opened #15960 "Does one Index and one type support multiple types or formates?"
Does one Index and one type support multiple types or formates?

For example:

[code]

There is a field has two formats under one index/type.

[2016-01-13 16:14] jasontedor commented on #15960
You can specify multiple formats using `||` since #169.

For future reference, questions are best asked on [discuss](https://discuss.elastic.co); GitHub is for filing feature requests and bug reports.

[2016-01-13 16:14] #15960 closed

[2016-01-13 16:27] clintongormley commented on #15921
To put this remark into context, I was thinking of having an implicit `match_all` if the user specified the `filter` parameter in the `function_score` query, but that parameter no longer exists in 2.0, so my remark doesn't make much sense.

Given that the docs have been added, I think we can close this.

[2016-01-13 16:27] #15921 closed

[2016-01-13 16:27] eskibars commented on #492
I'm closing this in favor of the combination of #15201 / #2230 / #15125 where we've made some significant progress

[2016-01-13 16:27] #492 closed

[2016-01-13 16:39] kimchy commented on #15951
I spoke to @rjernst, and it might be simpler to disallow inconsistent dots in fields. So the first full path dots we allow, and the second one, we reject (similar to what we do with conflict on types). As an example: first allow `{"x.y" : { "z" : "test" } }`, then reject something like `{"x" : {"y.z" : "test" }}`

If we can do this, it might also be simpler to do it in 2.x, and it is more constrai

[2016-01-13 17:04] eskibars commented on #11822
I'm going to close this since we haven't heard from this in over 6 months and it was potentially solved with #7868.  If there's still an issue, we can reopen.

[2016-01-13 17:04] #11822 closed

[2016-01-13 17:06] #15806 closed

[2016-01-13 17:18] clintongormley commented on #15949
Is this no longer the case in 2.x? In which case we can close?

[2016-01-13 17:20] jpountz commented on #15949
Nope the code in 2.x is fine. Do we want to get this fixed in 1.7?

[2016-01-13 17:22] clintongormley commented on #15949
@jpountz depends how big a job it is i suppose?

[2016-01-13 17:26] yzprofile opened #15961 "Loss data while using bulk request to create a new index at first time"
Version: 2.1.1, Build: 40e2c53/2015-12-15T13:05:55Z, JVM: 1.8.0_60

[code]

[code]

[code]

[code]

[code]

[2016-01-13 17:33] jpountz commented on #15949
It looks simple. I'll give it a try and give up if it's more complicated than I expected.

[2016-01-13 19:37] rjernst commented on #15951
@kimchy I don't think that will actually work, because of how we parse values and just append them. I don't think we could distinguish, without some nasty-ish logic, if a field is just appending to an existing field, or another field with the same path (and same goes for inside the mapper service itself with storing the mappers).

@clintongormley There are two things that bug me. First, why do we

[2016-01-13 19:49] samdash commented on #4915
Thanks jpountz:
However there are lot of use cases for different application for pagination support in aggregation, what do you suggest ? to achieve this in aggregation.

[2016-01-13 21:10] nik9000 commented on #15951
I wonder if we can delay a decision on how to handle updates by not supporting dots in the document merge use case. You can always use scripts to be totally clear there if you need.

[2016-01-13 21:36] eskibars commented on #10713
Closing as a duplicate of #6732

[2016-01-13 21:36] #10713 closed

[2016-01-13 21:38] jpountz commented on #15951
Actually this should already work today. The second document will trigger a dynamic mapping update that will be rejected since the mapping would have two mappers that have the same path: #15243

[2016-01-13 21:52] eskibars commented on #10557
The _nodes API now (#12049) provides

    os: {
      refresh_interval_in_millis: 1000,
      name: "Mac OS X",
      arch: "x86_64",
      version: "10.11.2",
      available_processors: 4,
      allocated_processors: 4
    }

I think this is about everything you need.  The only partially remaining one is Vendor, which I'm not sure can/be accurately inferred down to the "RHEL" level in any case.

[2016-01-13 22:03] #15842 closed

[2016-01-13 22:06] pickypg opened #15965 "Misleading error message for geo_point parse failure"
Even without enabling `geohash` functionality for the `geo_point` type, if it fails to parse a string in the format of `"<lat>,<lon>"`, then it throws a misleading error:

[code]

It would be extremely useful to show the:
- Name of the malformed field
- The value of the malformed field (in addition to the reason the field failed to parse)

In my case, a field was accidentally mapped as a `geo_poin

[2016-01-13 22:21] markwalkom commented on #10557
Yep, thanks :D

[2016-01-13 23:43] eskibars commented on #10557
Great.  Closing.

[2016-01-13 23:43] #10557 closed

[2016-01-14 00:07] eskibars commented on #15586
Do you happen to know which requirement imposes ban on "plain-text in any file?"  I had a brief look at [PCI-DSS](https://www.pcisecuritystandards.org/documents/PCI_DSS_v3.pdf) provides not only requirements, but also guidance and testing procedures for each requirement, so I want to make sure that any implementation we do would not just "not be what we have now," but also pass whatever testing/gu

[2016-01-14 00:28] joshuar commented on #15586
When I looked at the guidelines, it looked like this one was applicable:

[code]

It possibly comes down to an interpretation here, but that reads that passwords should not be plain-text in files. "Unreadable" in that requirement could also be interpreted as "unreadable to everything except the program that needs it".

Excluding encryption, what's the reason for requiring a human here? Wouldn't it

[2016-01-14 01:01] eskibars commented on #15586
It's not the "what is the current status/why is it this way now" but "what's the concrete, required alternative" that we should be focusing on in a GitHub ticket.

There are a number of ways to pass variables to ES, which I'm sure you're aware of.  You can do elasticsearch -Des.foo=bar, set the password in an environmental variable, use the config with plaintext, or use the config with prompt.* va

[2016-01-14 01:11] #15917 closed

[2016-01-14 02:13] sherry-ger opened #15970 "Be able to specify translog path in elasticsearch.yml"
It would be nice to be able to place translog on a different filesystem from the Elasticsearch data files.  So  upon restart of a node, replaying translog and writing data files won't hit the same disk.

[2016-01-14 02:19] q11112345 commented on #15930
alright. thank you. this is not a urgent.  i have to discuss with my leader about upgrading.

[2016-01-14 02:48] imotov commented on #15117
@wuranbo you don't need task manager to do that. You can do it already by simply sending 100 requests with different [shards preferences](https://www.elastic.co/guide/en/elasticsearch/reference/2.1/search-request-preference.html) and then keep track of the responses on the client side. When you get 100th response - the "task" is done. Since sort keys are returned with every result you can easily m

[2016-01-14 02:51] imotov commented on #15854
I am not really sure how we picked 5 minutes for azure either :)

[2016-01-14 03:24] wuranbo commented on #15117
@imotov　thanks very much for your reply. You are right! This can pleasure most needs I want. I have checked out the shards preferences API. The shards preferences looks only set the shards (lucene's index) where the query retrieve from. The only API which can not be merged simply is cardinality, unless with a huge communication cost. Am I right? For the others, the cost looks like fine.

[2016-01-14 03:46] imotov commented on #15117
@wuranbo it depends. In some use cases the communication and retrieval overhead can be overwhelming. Let's say you would like to show 25 results on the page. If you let elasticsearch to do its thing, it will only have to pull 25 results from the disk thanks to the [query_then_fetch execution](https://www.elastic.co/guide/en/elasticsearch/reference/2.1/search-request-search-type.html#query-then-fet

[2016-01-14 04:16] joshuar commented on #15586
Passing environment variables or command-line arguments violates the "don't exchange passwords in plain-text in transport" requirements of these security guidelines.  So we're stuck with the prompting option.  But if I have 200 nodes, I have to enter a password 200 times.  What if the person who manages Elasticsearch shouldn't have access to that password.  Why is a human considered better securit

[2016-01-14 04:43] wuranbo commented on #15117
@imotov got it , I have moved to https://discuss.elastic.co/t/how-get-the-just-enough-information-when-manually-merge-the-search-result-by-shards/39184/1 . Thank you very much again.

[2016-01-14 05:05] masaruh opened #15972 "fuzziness=auto doesn't work in query string query"
https://gist.github.com/masaruh/55deca377b6ade5847de
(on 1.x, it's always `~2`)

Probably because it always uses fixed value https://github.com/elastic/elasticsearch/blob/v2.1.1/core/src/main/java/org/apache/lucene/queryparser/classic/MapperQueryParser.java#L141

Probably it should be something like?
[code]

[2016-01-14 05:20] ppf2 opened #15974 "_recovery api shows negative metrics after translog replay"
Tested on 2.1.1:

[code]

I have 13 entries in the translog for a shard, once it is done replaying on startup, if I hit the _recovery api and look at the translog section for the shard, it shows 13 recovered.  But the percent and total metrics are negative which is misleading.

[2016-01-14 06:04] vivekmoosani commented on #12411
+1

[2016-01-14 06:41] markwalkom opened #15975 "Show force merge/optimize progress"
Are we able to expose this somehow, maybe pending tasks?
At the moment it just runs until finished, but I'm hoping there may be a way to figure out some kind of progress percentage, even a rough one.

I realise this is all a little vague, but I don't really know if it's possible, just that it'd be nice to have :p

[2016-01-14 08:00] dadoonet commented on #15854
It came formerly from @craigwi... :)

Thinking of it more, may be we should consider that the biggest file would be 2Tb for instance and measure how long it takes on S3 or Azure to copy such a file? Then multiply this by 1.5 or 2...

[2016-01-14 08:20] dadoonet commented on #12567
`setTimeoutIntervalInMs` has been implemented in #15080.

Done. See https://github.com/elastic/elasticsearch/pull/15080/files#diff-e1e28473441a5cb9762b0176ddc4d22bR126

That seems to still be an issue. According to recent reports with the support team, it looks like that even after 5 minutes, Azure client does not stop and raise an exception...

@imotov could comment on what would happen if the az

[2016-01-14 08:28] dadoonet opened #15976 "Upgrade Azure Storage client to 4.0.0"
We are using `2.0.0` today but Azure team now recommends:

[code]

Release notes from 2.0.0:

## 2015.10.05 Version 4.0.0

 * Removed deprecated table AtomPub support.
 * Removed deprecated constructors which take service clients in favor of constructors which take credentials.
 * Added support for "Add" permissions on Blob SAS.
 * Added support for "Create" permissions on Blob and File SAS.
 * Ad

[2016-01-14 08:34] clintongormley commented on #15927
No, that's the difference.  A transport client is **not** a node. It doesn't join the cluster. It is just a lightweight client that talks to the cluster.

[2016-01-14 08:47] dadoonet commented on #15976
I updated the ticket description and highlighted some of enhancement which could help us fixing #12567

[2016-01-14 09:09] jpountz commented on #15961
This does not qualify as a data loss given that only one write was acknowledged (see the error in the bulk response).

However there seems to be a problem indeed as the second document should have picked the mapping definition generated by the first document instead of trying to map the field as a double.

[2016-01-14 09:12] clintongormley commented on #15961
@jpountz These two docs go to different shards, so the second doc was mapped before the first.  If you run this a few times, you'll see the order changing.  Nothing to fix here.

[2016-01-14 09:12] #15961 closed

[2016-01-14 09:25] jpountz commented on #15961
Oh yes indeed!

[2016-01-14 09:33] jpountz commented on #15876
True. Actually even below the treshold the count could be wrong, it's just much more unlikely and the error should be low.

We have a policy that all features that we implement need to work and scale in a distributed environment, so I'm afraid we would not want to do this.

For the record, it is possible to compute exact counts on client side by initiating a scroll and maintaining a set of all uni

[2016-01-14 09:47] hisuwh commented on #15630
I am sorry for the bump.
But any more ideas on this?
This massively blocking us at the moment.
Has anyone your end tried to reproduce this? I don't know if its a bug with your tools or in my setup.
I have the same setup on 3 other clusters except they are on older versions of elasticsearch.

[2016-01-14 10:00] clintongormley commented on #15951
If we go with treating dots as paths ,then this won't work correctly, eg a document containing both forms (eg `{ foo: { bar.baz:..}},{foo.bar:{ baz...}}}` will be rejected if indexed first, but if indexed after a document containing just one form, it will be accepted.

@rjernst because users want to be able to get back what they put in, and to be able to distinguish between values such as:

* `""`

[2016-01-14 10:02] sabarnath opened #15979 "Following error coming after start the ES2.1.1"
$ ./elasticsearch
[2016-01-14 15:18:50,490][INFO ][node                     ] [es_f1_01] version[2.1.1], pid[25850], build[40e2c53/2015-12-15T13:05:55Z]
[2016-01-14 15:18:50,490][INFO ][node                     ] [es_f1_01] initializing ...
Exception in thread "main" java.lang.NoClassDefFoundError: org/elasticsearch/plugins/AbstractPlugin
Likely root cause: java.lang.ClassNotFoundException: org.el

[2016-01-14 10:03] sabarnath commented on #15979
Note : i have added my own plugins too.

[2016-01-14 10:07] clintongormley commented on #15951
The only way I can see this working is as follows.  Fields with dots are mapped with dots, so `{ "foo": { "bar.baz": "val" }}` would be mapped as:

    {
      "properties": {
        "foo": {
          "type": "object",
          "properties": {
            "bar.baz": {
              "type": "string"
            }
          }
        }
      }
    }

When adding a new field:

    If the field nam

[2016-01-14 10:12] yzprofile commented on #15961
[code]

It will work well if I create mapping before sending bulk request.

And there will not be an error: "merge failed".

If the "double"  support to index "long" data ,  Why don't make it compatible?

Thanks.

[2016-01-14 10:12] anjithp commented on #14348
I'm also facing the same problem as @bonitao.  Is there any solution - other than modifying the elasticsearch source code - to this issue? Your help will be much appreciated.

[2016-01-14 10:12] clintongormley commented on #15951
By the way, the decision about dots also affects the node ingest plugin, which treats dots as steps in a path hierarchy, and has no support for escaping.  This may not be a problem as long as the `de_dot` processor runs first but otherwise, it'll suffer from similar issues to those described above.

[2016-01-14 10:31] dadoonet commented on #15979
What happens if you don't install your plugin?
Are you using the official distribution? Or are you building your own elasticsearch version?

[2016-01-14 10:45] sabarnath commented on #15979
yes . I tried without our plugins we face some other issues,

 like below
Note : We are upgrade the 1.5.1 into 2.1.1 , I just copied existing(1.5.1) data folder into current(2.1.1) version

[2016-01-14 15:51:50,734][ERROR][gateway                  ] [es_f1_01] failed to read local state, exiting...
java.lang.IllegalStateException: unable to upgrade the mappings for the index [medzo_vendor_thing],

[2016-01-14 10:52] sabarnath commented on #15979
Seems , We had own analyzer in setting of 1.5.1 not supporting current version .

Following  error mapper : mapper [payload.explanation]

"explanation": {

    "store": true,
    "norms": {
        "enabled": false
    },
    "analyzer": "vmWhitespaceAnalyzer",
    "type": "string"

}
----------------------------------------------------------
See this is our own custom analyzer :

"vmWhitespaceAna

[2016-01-14 11:12] dadoonet commented on #15979
So without your plugin, elasticsearch is able to go further than:

[code]

As I can now see:

[code]

Which happens after plugin initialization.

So I'm closing this ticket because as you can see your plugin seems to be incorrect here. May be it was not upgraded???
Feel free to follow up on discuss.elastic.co.

About the other issue you are seeing, I'd also recommend asking on discuss as we and th

[2016-01-14 11:12] #15979 closed

[2016-01-14 11:57] clintongormley commented on #15970
I don't like this idea for a few reasons.  The first is that we're now managing two directory trees which may or may not overlap, so you have to be extra careful when creating them, cleaning them up or moving them around.  The chance of introducing bugs here is high.

The second is that we have just moved away from splitting shards across multiple paths to ensuring that a single shard is contained

[2016-01-14 12:03] serxhio opened #15980 "Java Client ES 2.1 Java Hash Map key removal"
In my java project i use several java objects which contain java HashMaps among other fields. All serialization is performed correctly up the java client comunication with the node but something goes wrong upon key removal.  Everytime i remove a key from a java HashMap the key removal is not reflected on the stored document. Adding or updating keys on the java HashMap is performed correctly. Furth

[2016-01-14 12:04] clintongormley commented on #15975
If it can be done, it'll be via the task management API.  Closing in favour of https://github.com/elastic/elasticsearch/issues/15117

[2016-01-14 12:07] clintongormley commented on #15854
Is the timeout for the whole request? Or just since the last time data was passed down the socket?

[2016-01-14 12:20] micpalmia opened #15981 "`_analyze` API hangs with unknown analyzer"
When calling the `_analyze` API
* with an inexistent `analyzer`
* without specifying the `index` parameter

the endpoint does not return and a `NullPointerException` is logged

[code]

[2016-01-14 12:25] clintongormley commented on #15961
Hmmm this is very tricky.  One shard succeeds in adding a `double` field, then the other tries to add an `integer` field, which causes a merge conflict (because the field already exists and is of a different datatype).

If you were to reindex the integer document, it would be coerced to a double and accepted, but it'd be really hard to add this "retry" logic into the mapping code.  I think there a

[2016-01-14 12:30] clintongormley commented on #15980
@nik9000 could you have a look at this please?

[2016-01-14 12:31] clintongormley commented on #15981
Fixed by #15447

[2016-01-14 12:31] #15981 closed

[2016-01-14 12:48] ramseydsilva commented on #4756
I would like support for wildcard expansion as well.

:+1:

[2016-01-14 12:50] yzprofile commented on #15961
Thanks for your time to explain, Issue close.

Thanks.

[2016-01-14 12:58] micpalmia commented on #15974
I also have recently seen this, on 2.1.0, on three shards stuck in `TRANSLOG` stage after an unfortunate index `_open`/`_close` procedure went bad.

Unfortunately, I did not fully understand what happened, but seeing those negative metrics in the `translog` section lead me to think the the index must have been corrupted.

[2016-01-14 13:24] #14982 closed

[2016-01-14 13:25] acarstoiu commented on #15823
Yes, I found this on my own in June last year, see [this comment](https://github.com/elastic/elasticsearch/issues/9876#issuecomment-113288211). But that's just a workaround, isn't it?!

[2016-01-14 13:29] PeterLappo commented on #14348
We gave up and wrote a script that started a ES instance, ran the tests and then shutdown ES

[2016-01-14 13:30] javanna commented on #15980
@serxhio I don't think noop is a problem here. You cannot remove fields when providing a partial document with the update api. You can only add new ones or replace existing ones. The existing document is merged with the partial one, so if you provide an empty map, it doesn't mean that the existing document should become empty after the update. The only way to do what you need is to use a script, a

[2016-01-14 13:30] #15980 closed

[2016-01-14 14:02] clintongormley commented on #10336
Mapping transform has been removed. Closing

[2016-01-14 14:02] #10336 closed

[2016-01-14 14:09] clintongormley commented on #10337
Has this been resolved by recent changes?

[2016-01-14 14:11] clintongormley commented on #10338
Duplicate of #7461

[2016-01-14 14:11] #10338 closed

[2016-01-14 14:12] clintongormley commented on #10356
@nknize I'm assuming this is no longer required given the new geopoints?  Can this be closed, along with the linked PR?

[2016-01-14 14:13] clintongormley commented on #10368
These changes have been made. Closing

[2016-01-14 14:13] #10368 closed

[2016-01-14 14:15] antondachauer opened #15986 "Mapping for alphabetical order with location"
I have a bug in combination with symfony2, distance search and alphabetical sorting. Please take a look on the description on stackoverflow: http://stackoverflow.com/questions/34725089/elasticsearch-mapping-for-alphabetical-order-with-location

Thanks for helping!

[2016-01-14 14:15] clintongormley commented on #10379
This could be very heavy to have for every indexing request. Would it still be useful if it were implemented like the Profile API?  ie on a per request basis?

[2016-01-14 14:16] clintongormley commented on #10383
Norms are now disk based. Closing

[2016-01-14 14:16] #10383 closed

[2016-01-14 14:16] clintongormley commented on #10400
No more feedback in 9 months. Closing

[2016-01-14 14:16] #10400 closed

[2016-01-14 14:25] clintongormley commented on #12566
No further feedback. Closing

[2016-01-14 14:25] #12566 closed

[2016-01-14 14:28] dadoonet opened #15987 "Use Azure Storage emulator for integration tests"
If available on the machine we are running our tests (which is something we can detect by checking `storageConnection` system property), we can use the [Azure Storage emulator](https://azure.microsoft.com/en-us/documentation/articles/storage-use-emulator/) to run snapshot and restore tests which are closer to the test we run today.

According to the [source code](https://github.com/Azure/azure-sto

[2016-01-14 14:45] nellicus opened #15988 "timeInQueue for pending_tasks growing too fast?"
Hello, on 2.1.1 3 nodes cluster seeing `timeInQueue` growing faster than it should?

1) start three node cluster whose pending_tasks queue grows right after starting
2) call GET _cat/pending_tasks every second
[code]

[2016-01-14 14:56] serxhio commented on #15980
Ah ok. I think i misunderstood the docs. I though the update would completely replace the existing json with the updated json. In my real project, i do the following steps:
retrieve the original json
deserialize it in a java object
remove a field from the hashmap
serialize it back in json
update the existing json with the new.

So, i don't understand why my update whould be considered a partial up

[2016-01-14 15:00] javanna commented on #15980
If you use the index api instead, the existing doc will get completely replaced with the new one, seems like this is what you need given that you already load the old document and modify it. The update api works the same on the REST layer and java layer (in fact the REST layer uses the java api underneath). If you see some difference there, sounds like a bug so please post a recreation but I do ho

[2016-01-14 15:05] serxhio commented on #15980
That's awesome, so i can use the IndexRequest in order to perform a full update. That will work for me.
Thank you all very much, if fixes some troubles for me.

[2016-01-14 15:15] javanna commented on #15980
you are welcome @serxhio . if you have other questions you can join us at https://discuss.elastic.co/ .

[2016-01-14 15:23] rashidkpc commented on #12817
Just popping in to say this would be crazy useful for us. We're planning to deprecate our storage of a pre-normalized copy of the mapping as it was simply a work around for not having structured exceptions in Elasticsearch and caused a ton of big problems for users that update their field lists.

Having this done in elasticsearch would be a huge performance and reliability boost!

[2016-01-14 16:20] clintongormley commented on #15986
Hi @antondachauer

The best place to ask questions like these is in the forum: http://discuss.elastic.co/

thanks

[2016-01-14 16:20] #15986 closed

[2016-01-14 16:30] clintongormley commented on #15988
Confirmed on 2.2.0-SNAPSHOT - within a few seconds it is reporting timeInQueue of several hours!

[2016-01-14 16:36] jpountz commented on #15949
Fixed via #15962

[2016-01-14 16:36] #15949 closed

[2016-01-14 16:43] jasontedor commented on #15988
@clintongormley Should be [dividing by `1000000` instead of `1000`](https://github.com/elastic/elasticsearch/blob/a954e4e8e5f235e0279ed38609a2bbd2f0abaf68/core/src/main/java/org/elasticsearch/common/util/concurrent/PrioritizedRunnable.java#L45) (so the value being returned is microseconds, not milliseconds). Or even better, just use built-in methods to convert nanoseconds to milliseconds. I'll thr

[2016-01-14 16:53] jrots opened #15994 "Slowdown on date range queries in ES 2.1"
On a dataset of +/- 30M  (unoptimized / so lot's of segments)
The following query executes faster a lot faster :
[code]
< 110ms, consecutive runs,
{"took":109,"timed_out":false,"_shards":{"total":4,"successful":4,"failed":0},"hits":{"total":2454,"max_score":1.0

vs. this is one is always : 300ms to 400ms +
[code]
{"took":304,"timed_out":false,"_shards":{"total":4,"successful":4,"failed":0},"hits":

[2016-01-14 17:00] clintongormley commented on #15994
What version of ES?
How many times did you run it?
How many segments do you have?
What hardware are you running this on? (all your search times seem very slow for such a small index)

[2016-01-14 17:02] jasontedor commented on #15988
@clintongormley I opened #15995.

[2016-01-14 17:07] serxhio commented on #15980
Hello, i remembered i measured the differences between the java client and the rest apis by hand. In order to bring evidences i managed (i'm sorry, i was really in a hurry) to quickly create a test case that shows these difference in updates. I hope i'm wrong  :)

There are two tests that perform the same tasks: index,update,get.
The java client returns a different result respect to the rest apis.

[2016-01-14 17:11] bleskes commented on #15919
@najamss your issue is different - something prevents the node from acquiring the write lock (something is using that folder, or the NAS is acting up in more ways than just failing to report stats)  if you didn't solve the issue by now can you open a new issue so we can discuss it there. Please also let us know what version of ES you are using and what happened before.

@dakrone  re

away. In that

[2016-01-14 17:15] jrots commented on #15994
- ES:  2.1.1 - Lucene 5.3.1,  -Xms28g -Xmx28g mlockall = true
- 6 times consecutively for each query
- Intel(R) Xeon(R) CPU           X5650  @ 2.67GHz, 2 physical cpu's, 12 cores w hyperthreading, 24 processors in total
- 64GB ram, 1TB SSD
- segments : https://gist.github.com/jrots/d7020441bf33dca4b67a , 4 shards with 30 segments on each shard

[2016-01-14 17:24] javanna commented on #15980
please join us on [discuss](https://discuss.elastic.co/), this doesn't seem like a bug but more questions on how to use the elasticsearch apis. Thank you!

[2016-01-14 17:43] ywelsch commented on #15690
I looked at the code and, indeed, there is a possibility for this situation to happen (also on master). I will open a PR with a fix in the next days.

[2016-01-14 17:57] dakrone commented on #15919
[code]

So part of the problem is that `FsInfo.Path` defines these:

[code]

However, because filesystems are crazy, some of these are actually valid values!
I have seen systems with filesystems that report negative amounts for the
free/available values (I don't think I've seen them for the `total`, so that's
something we can check).

I think something we can do is check at least the `total < 0` a

[2016-01-14 18:05] jimferenczi commented on #15994
And what is the average time when you remove the range filter/post_filter ? The post_filter vs filter are very similar in terms of implementation, the post_filter has to scan the inverted lists also.

[2016-01-14 18:18] polyfractal opened #15997 "Disabling _source prevents any further updates to mapping"
It seems that if you disable the `_source` when first creating the index, and subsequent updates to the mapping will fail with `Merge failed with failures {[Cannot update enabled setting for [_source]]}`, even if the update doesn't change `_source` at all.

Tested on ES 2.1

[code]

### Example

[code]
[code]

All good, but if we try to update the mapping:

[code]
[code]

If you repeat the process

[2016-01-14 18:20] polyfractal commented on #15997
I should note, if you explicitly set `_source` in your update it works as expected:

[code]

[2016-01-14 18:23] dbaggott commented on #15927
I get that distinction -- I was trying to suggest that, from a security perspective, the malicious plugin is malicious and so will, by definition, do things it's not supposed to do (like open up ports to emulate a node and join the cluster).

I'm guessing what I'm missing is the assumption that the ES cluster is completely locked down from a network perspective and you expect that a client applica

[2016-01-14 18:33] roytmana commented on #15876
If ibhad to resort to that I will term aggregate on that field and then count entries this plays well being a subagg at least. It is ironic that elastic would support that but not cardinality :-) I guess I can look into pipeline and see if I can replace terms with the count

[2016-01-14 20:12] rjernst commented on #15997
It looks to me like this would also be an issue with some other metadata mappers, eg `_timestamp`. The issue is currently when initializing the builder for a type (eg when parsing mappings), we use the current fieldtype for each current metadata mapper to get a metadata mapper for that specific type (so that by default it will match the metadata mapper used by other document types). However, we re

[2016-01-14 20:19] mrkamel commented on #2917
+1

[2016-01-14 20:52] turp1twin opened #16002 "Updating Child Mapping with new field fails with NullPointerException"
I am running Elasticsearch 2.1.1. I have an Index which is made of a single parent type and multiple child types. I am trying to update a Child mapping by adding a new field. This results in a NullPointerException on the server:

[2016-01-14 10:48:32,354][DEBUG][action.admin.indices.mapping.put] [Philip Fetter] failed to put mappings on indices [[oha_patient_registry]], type [encounters]
java.lang

[2016-01-14 20:54] elbow-jason opened #16003 "Invalid JSON from mapped index"
We were pushing geodata to an recently mapped experimental index with `uuid` as a `string`, and `location` as a `geo_point` and we received the following response. The response in invalid JSON. Any ideas what is going on?

[code]

[2016-01-14 21:02] craigwi commented on #12567
Hi @dadoonet, this service request came from us and I just now looked at the details.  As far as I can tell, the problem is that I did not pass the BlobRequestOptions to the calls to openInputStream() and openOutputStream() (in AzureStorageServiceImpl.java).

I had assumed that the options on the CloudBlobClient would be inherited by all containers and blobs referenced by it, but the evidence here

[2016-01-14 21:07] dadoonet commented on #12567
Fantastic !

[2016-01-14 21:25] pickypg opened #16004 "[DOCS] Clarify Shadow Replicas path required by data nodes"
Currently the docs describe the shared file system path as:

However, in reality, it must only be visible to every data node.

PR incoming.

[2016-01-14 21:38] #16004 closed

[2016-01-14 22:43] eskibars commented on #16003
Can you provide a mapping & set of documents that can reproduce this?

[2016-01-14 23:08] trekr5 commented on #10673
Hi,

I get a CONF_FILE error when I now attempt to install any plugin in ES 2.1.1.

I'm upgrading from 1.7.3 (where all my plugins worked fine) to 2.1.1 where they now don't.

Can you help?

Thanks

[2016-01-14 23:12] markwalkom commented on #10673
@trekr5 please ask on https://discuss.elastic.co.

[2016-01-14 23:13] pickypg opened #16006 "Shadow Replicas require path.shared_data on every node"
Instead of requiring the setting to exist on just the data nodes, it is required to be set on every node.

https://github.com/elastic/elasticsearch/blob/c50b22f95f48119213156bdb634925e1be91b794/core/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java#L465

[code]

The code just checks for the lack of existence for the relevant settings, but it doesn't confirm that _it_

[2016-01-14 23:18] trekr5 commented on #10673
Hi,

I've asked the question here on discuss https://discuss.elastic.co/t/upgrading-elasticsearch-from-1-7-3-to-2-1-1/39281/2 with this same config issue that has stopped elasticsearch service from running properly on upgraded nodes and prevents correct install of plugins

[2016-01-14 23:44] eskibars commented on #15944
+1 to doing this recursively

[2016-01-15 00:00] elbow-jason commented on #16003
the mapping from `/experiment/heartbeat`:

[code]

[2016-01-15 00:02] elbow-jason commented on #16003
and the index/root info:
[code]

[2016-01-15 00:28] ppf2 commented on #10383
You guys are awesome!

[2016-01-15 00:28] eskibars commented on #16003
Can you provide a full dump of an example query+response that fails using `curl`?

[2016-01-15 01:03] GlenRSmith commented on #10379
Agreed it would be heavy for every indexing request. Moreover, there would be diminishing return of value, I suspect, for profiling query after query after query. Better to be able to *sample* on a timed or counted basis.

A profile API - or perhaps a keyword arg, could facilitate that. Whatever the indexing agent is could be configured to post to this endpoint on a either the time or count period

[2016-01-15 01:45] manioc2015 opened #16007 "Querying by boolean nested value doesn't work"
When querying a collection that has a nested type, the following exception gets thrown:

 Exception: {"error":{"root_cause":[{"type":"query_parsing_exception","reason":"[nested] nested object under path [catalogs] is not of nested type","index":"products","line":1,"col":259}],"type":"search_phase_execution_exception","reason":"all shards failed","phase":"query","grouped":true,"failed_shards":[{"sh

[2016-01-15 01:50] kewn21 commented on #15659
I'm thinking of feasibility,i heard two people say they realized, they use lucene api to create index in mapreduce,but performance is not good.

[2016-01-15 02:31] elbow-jason commented on #16003
elbow-jason@Jasons-MacBook-Pro-1781 ~/g/s/g/a/dashboard>
curl -XGET 'http://super.secret.host.com:9200/experiment/heartbeat/_search'
{"took":1,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":3,"max_score":1.0,"hits":[{"_index":"experiment","_type":"heartbeat","_id":"AVIyEFGLc78HWEmcNWkB","_score":1.0,"_source":{
    "uuid": "C5115D54-3EB0-409C-86C4-B36584F9D352",

[2016-01-15 05:20] markwalkom opened #16008 "_cat/count docs clarification"
[Here](https://www.elastic.co/guide/en/elasticsearch/reference/2.1/cat-count.html), we should really state that count does/does not include deleted documents (in ES).

[2016-01-15 06:29] talevy opened #16009 "[Ingest] Documentation needs updating"
After ingest was moved into core, its `docs/plugins/ingest.md` was not updated to reflect some of the changes.

This issue is here to track the progress of documentation for the Ingest Node.

[2016-01-15 07:57] talevy opened #16010 "[Ingest] Add more descriptive pipeline factory errors in _simulate and PUT pipeline/id"
When someone issues the following request to `_simulate`, The pipeline factory will error out while
attempting to construct the supplied pipeline. The reason for this is that the `date` processor is not configured correctly, `locale` is invalid. The exception is thrown in the processor's `create` here: https://github.com/elastic/elasticsearch/blob/feature/ingest/core/src/main/java/org/elasticsearc

[2016-01-15 08:12] danielmitterdorfer commented on #15760
So based on the discussion so far I'd suggest we improve the docs for fuzzy queries.

[2016-01-15 08:16] martijnvg commented on #16010
I'm on the fence about returning all errors for misconfigured processors. I prefer to just fail immediately on the first pipeline construction error. This keeps the logic simple. I think that if there are several misconfigurations across multiple processors that having several put pipeline / simulate requests to fix the the pipeline is okay.

I'm +1 on adding more structured information (like tag)

[2016-01-15 08:25] #15908 closed

[2016-01-15 08:41] danielmitterdorfer opened #16011 "Limit request size"
Overly large bulk request can threaten the stability of Elasticsearch. Hence we want to limit the size of a bulk request.

Although the need originally arose for bulk requests, the solution will apply to requests in general and not just bulk requests.

There will be two (configurable) limits:

* A limit on the size (in bytes) of an individual request
* A limit on the size (in bytes) of all request

[2016-01-15 09:36] ryanchou1991 commented on #4915
+1 To my scenarios, It is a pretty useful functionality. I am really looking forward to it.

[2016-01-15 09:50] desruisseaux commented on #3590
Just in case the information may be of some use: Apache SIS 0.6 can create Mercator, Transverse Mercator, Lambert Conical and Stereographic map projections for a Coordinate Reference System defined in Well Known Text (WKT) format. It supports both version 1 and 2 of WKT. Apache SIS 0.7 (to be released in one or two months) will add support for EPSG codes, datum shifts and a few more map projection

[2016-01-15 09:58] dadoonet commented on #16011
Just a thought: I wonder if the default limit should be something like the default `http.max_content_length` divided by two or something along those lines?
May be we should (also?) check that this max size is actually not bigger than `http.max_content_length` and reject the settings in such a case?

[2016-01-15 10:14] leo108 commented on #4915
+1

[2016-01-15 10:26] makeyang opened #16012 "[feature request]put out of bounds bulk packages off heap or put them into disk"
as reference from
https://github.com/elastic/elasticsearch/issues/15101
the replic bulk will be put into bulk queue no matter it is out of bounds or not. but it is really a great threaten to stability of the system.
so is it possible put out of bounds bulk packages off heap or put them into disk?

[2016-01-15 10:32] dadoonet commented on #12567
@craigwi I looked at the azure client code and found that when you call `openOutputStream()`, it calls `openOutputStream(null, null /* options */, null)`.

Options are then populated by calling `options = BlobRequestOptions.applyDefaults(options, BlobType.BLOCK_BLOB, this.blobServiceClient, false)` which does:

[code]

`BlobRequestOptions.populateRequestOptions` then calls `RequestOptions.populate

[2016-01-15 10:41] clintongormley commented on #15970
Discussed this in FixItFriday - @s1monw pointed out two important issues:

* An entire shard needs to belong to a single path so that it if any part fails, the whole shard fails.
* When nodes are shut down, they flush to disk, meaning that there is no translog to replay on startup.  Only in case of disastrous shutdown do translogs need to be replayed.  Introducing the complexity of multiple paths

[2016-01-15 10:41] #15970 closed

[2016-01-15 11:00] dadoonet commented on #12567
@craigwi so I created a simple test case and looked in debug mode at what is happening on the azure client:

[code]

Options are correctly updated.

<img width="607" alt="blobrequestoptions java - elasticsearch - -documents-elasticsearch-dev-es-gradle-elasticsearch intellij idea aujourd hui at 11 44 32" src="https://cloud.githubusercontent.com/assets/274222/12351644/6795ecee-bb7f-11e5-8371-a7a92f6

[2016-01-15 11:02] javanna commented on #16010
I tend to agree with Martijn, let's do this at least in two steps: first make each single error better and descriptive, then see about cumulating errors, which can come later.

[2016-01-15 11:07] makeyang commented on #15764
@jpountz  any updates?

[2016-01-15 11:16] clintongormley commented on #15802
Discussed in FixItFriday - we should add an index-level setting allowing the query cache to be disabled per index.

[2016-01-15 11:23] clintongormley commented on #15994
@jrots It seems there may be a misunderstanding of what the `post_filter` does in Elasticsearch.  The post filter is simply a filter that is applied to the query results AFTER aggregations have been calculated - it has nothing to do with executing the filter via the inverted index vs fielddata.

That said, something seems odd about how the query is executed - if the range query is the most costly,

[2016-01-15 11:23] clintongormley commented on #15914
We discussed this in FixItFriday - blacklisting a node is too black or white.  Instead a better option would be to have a smarter request routing mechanism than the current round-robin that takes recent node latency into account.

[2016-01-15 11:32] clintongormley commented on #15997
Same thing goes for `_parent`:

    PUT t
    {
      "mappings": {
        "parent": {},
        "child": {
          "_parent": {
            "type": "parent"
          }
        }
      }
    }

    PUT t/_mapping/child
    {
      "properties": {}
    }

Returns:

    {
      "error": {
        "root_cause": [
          {
            "type": "illegal_argument_exception",
            "reason":

[2016-01-15 11:35] clintongormley commented on #16002
This can be worked around by specifying the `_parent` mapping again in the update-mapping request.

In 2.2 this no longer throws an NPE, but it still doesn't work correctly (see https://github.com/elastic/elasticsearch/issues/15997#issuecomment-171938807)

Closing in favour of https://github.com/elastic/elasticsearch/issues/15997

[2016-01-15 11:35] #16002 closed

[2016-01-15 11:38] clintongormley commented on #16003
Before 2.0, Elasticsearch would accept invalid JSON without complaining, and just store it in the `_source` field.  Then, when returning the `_source`, you'd get back the same invalid JSON that you had indexed.

This looks like what happened here.

[2016-01-15 11:38] #16003 closed

[2016-01-15 12:13] danielmitterdorfer commented on #15760
We discussed this issue on FixItFriday and decided to go for option 1.

The current plan is to deprecate fuzzy queries in 2.x. and to remove them in 3.0. We should clearly state in the docs we still support fuzziness in match queries and the completion suggester.

[2016-01-15 12:16] danielmitterdorfer commented on #15760
Changed the ticket title to reflect our decision in FixItFriday.

[2016-01-15 12:28] danielmitterdorfer commented on #16011
Thanks for your input @dadoonet! I am not sure about your suggestion on the check of `http.max_content_length` though as this relies on a protocol level setting whereas I'd try to enforce bulk request size in a protocol-independent fashion. I mean this should also work if somebody uses only the transport protocol and then I wouldn't do a validation of this setting based on a http related one. But

[2016-01-15 12:35] clintongormley commented on #16007
Hi @manioc2015

You have provided only snippets of the example, not a full recreation, so it is difficult to guess exactly where you are going wrong, but here's a recreation that shows that things do work correctly:

    PUT t
    {
      "mappings": {
        "t": {
          "properties": {
            "catalogs": {
              "type": "nested",
              "include_in_parent": true,

[2016-01-15 12:35] #16007 closed

[2016-01-15 12:36] clintongormley commented on #15659
Thanks for the feedback @kewn21. This is not a work flow that we intend to support.

[2016-01-15 12:36] #15659 closed

[2016-01-15 12:38] dadoonet commented on #16011
ha! That is correct. I thought `http.max_content_length` was applied to transport layer as well...
Ignore me then! :D

[2016-01-15 12:39] danielmitterdorfer commented on #16011
Ok, thanks for the clarification.

[2016-01-15 12:40] #14487 closed

[2016-01-15 12:47] jasontedor commented on #15873
Closing due to no feedback.

[2016-01-15 12:47] #15873 closed

[2016-01-15 12:50] clintongormley commented on #16012
Bulk queues on replicas can grow bigger than their configured sizes because we don't want changes which have gone to the primary to not reach the replicas.  That said, the primary will wait for responses from all replicas, thus applying backpressure to the client by rejecting further requests.

We definitely are not going to start moving this data off heap or spooling to disk - that would just int

[2016-01-15 12:50] #16012 closed

[2016-01-15 12:54] clintongormley commented on #15764
As @jpountz said:

You can see how much memory is being used by each segment with:

    GET _stats/segments

or in detail:

    GET _segments?verbose

You will see that the term dictionary doesn't actually use that much memory.

[2016-01-15 12:54] #15764 closed

[2016-01-15 13:01] #15988 closed

[2016-01-15 13:29] dadoonet commented on #12567
I looked at the other parts of the Azure client code and I found only one case where the `RequestOptions` is used:

In `CloudBlockBlob.upload`:

[code]

But when you use directly a stream, `RequestOptions` are not used..

So the only short-term workaround I can see is by using the `upload` method and make sure we enter that code bloc.

I opened https://github.com/Azure/azure-storage-java/issues/71

[2016-01-15 14:50] lakal-malimage opened #16016 "Kibana: No Living connections"
I have ES 1.5.2 cluster with Kibana 4.0.1. This consists of 4 data/master nodes along with 4 client nodes. When I'm trying to load kibana sometimes it takes longer time to load data or sometimes I need to restart the ES client node which kibana is pointed to.

I get below console error in Kibana page
Failed to load resource: net::ERR_EMPTY_RESPONSE - http://xx.xx.xx.xx/elasticsearch/_nodes

and be

[2016-01-15 14:54] #15860 closed

[2016-01-15 15:16] clintongormley commented on #16016
Hi @lakal-malimage

The place to ask questions like these is in the forums: http://discuss.elastic.co/.  The issues list is reserved for bug reports and feature requests

thanks

[2016-01-15 15:16] #16016 closed

[2016-01-15 15:22] jpountz opened #16018 "Dynamically map all numerics to floats by default?"
Elasticsearch assumes that if a number contains a dot, then it should be mapped as a floating-point number (double in 2.x and float in master) and otherwise as an long. But this is quite trappy as it means that we expect that floating point numbers are consistently serialized with a dot (see eg. https://twitter.com/bitemyapp/status/687415657651154944 or #15961).

Instead, we could map all numerics

[2016-01-15 15:23] javanna opened #16019 "Write a multinode qa test for ingest"
Ingest has a proxy filter that reroutes ingest requests to ingest nodes when they are sent to nodes with node.ingest set to false. The filter is unit tested but we could definitely use some more testing. A qa test would be perfect but we would need to be able to set different node settings per node, which is something not yet possible in our qa test infra, which will be possible soon. Once we have

[2016-01-15 15:26] mfussenegger opened #16020 "2.0 Breaking Changes - Settings docs don't mention index.gateway.local.sync"
Seems like `index.gateway.local.sync` got renamed to `index.translog.sync_interval` in https://github.com/elastic/elasticsearch/commit/d596f5cc45284a60a88276b90f2bb1937415307b but it is not mentioned in the settings changes under [Setting changes](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_20_setting_changes.html)

[2016-01-15 15:53] micpalmia commented on #12565
+1

[2016-01-15 16:02] jimferenczi opened #16021 "The total number of results in the query response is the number of documents that matched the query minus the number of documents that were post-filtered."
Simple recreation:
[code]
... match_all search returns the expected number of results: `total: 2`.
But with a post_filter the search returns the number of result for the query minus the ones that were were post-filtered:

[code]
... so here total hits equals 1.
I don't know if it's expected, I guess it's good for the pagination but bad if you compare this number with the aggregations count (which

[2016-01-15 16:05] jimferenczi commented on #15994
@clintongormley I guess that the number of results differs because the post-filtered documents are not taken into account in the total hits. I opened https://github.com/elastic/elasticsearch/issues/16021 because I don't know if it's expected or not.

[2016-01-15 16:10] imotov commented on #12567
The problem here is not in a timeout during a delete command. The problem is in absence of a timeout while writing a file to azure. The delete operation first makes sure that a snapshot that a user is trying to delete is not currently running, and if the snapshot is running the delete operation tries to cancel it. The cancellation process sends an abort message to all shards involved in the snapsh

[2016-01-15 16:28] clintongormley commented on #16018
I think you'd make half the people happy, and the other half unhappy. It's so easy to add a dynamic mapping rule that allows you to add all numeric fields as `float` should you choose to do so, I'm not sure it's worth the change.

[2016-01-15 16:37] clintongormley commented on #16020
sure enough - @mfussenegger would you like to send a PR?

[2016-01-15 16:39] mikemccand commented on #15481
Both @jpountz and @rmuir seem against making any change to ES's or Lucene's behavior when disk full is approaching ... I'm going to close this as "won't fix" for now.

We can revisit it when we have better test coverage of disk full situations.

[2016-01-15 16:43] clintongormley commented on #16021
This is expected.  Aggregations are run on the results of the query, and post-filters are applied to the search results AFTER aggregations are calculated.  So eg if the user searches on "red" t-shirts, you could run a query for t-shirts, with a terms agg on popular "brands" across t-shirts of all colours, then post-filter the results down to just red t-shirts.

I don't think we need to change anyt

[2016-01-15 16:43] #16021 closed

[2016-01-15 16:44] clintongormley commented on #15994
@jimferenczi no - these counts should be the same whether post_filter is used or not.  post_filter just affects which documents the aggs see.

[2016-01-15 16:46] martijnvg commented on #16010
Talked about this during the weekly meeting. There is some confusion because the ingest api does two things: create a temporary pipeline and simulate how documents are processed by this pipeline.

We agreed that we should do the following:
* Errors that occur during pipeline construction should have more context. It should clear what the misconfigured processor is. This should be sufficient for an

[2016-01-15 16:49] martijnvg commented on #16019
+1 we should have a multimode qa test. We can then also test the scenario where one node has the an ingest plugin installed and the other hasn't. I'm pretty sure sure that we don't fail nicely here. We use geoip as plugin to test with.

[2016-01-15 17:03] jrots commented on #15994
I was still actively indexing at that moment - now that's done and I've also ran: force merge max_segments=1 to be sure that we're measuring the right things here.

with range on birthdate :
[code]
If I change the range of the birthdate with one day f.e. it's again consecutive 800ms+

leaving out the birthdate completely :
[code]
etc..
even changing some of the params in the query,

running with r

[2016-01-15 17:14] clintongormley commented on #15994
OK that explains the varying counts.

Before going there... query execution order has had a big rewrite, and it sounds like it is choosing a suboptimal order.  @jimferenczi is going to dive into it to see if he can find something that can be improved.

thanks for all the info

[2016-01-15 17:39] eric-tucker opened #16024 "Website documentation recommending GET with body to do search is invalid according to http 1.1 spec"
I'm not sure where else to report this...

All throughout the website, you give examples of how to perform various operations related to search but the examples are GET requests with a data body.

This is wrong according to the Http 1.1 spec that dictates the body of a GET request should not change the response contents.  In other words, you should be able to ignore the request body and get the sa

[2016-01-15 18:03] PaulGrandperrin commented on #12411
+1

[2016-01-15 18:06] Bargs commented on #16010
Is there currently any documentation for the structure of the error in the JSON response, and what type of errors each endpoint is capable of throwing? That might help us better understand the difference between pipeline build errors and document processing errors, and how we should handle each in Kibana.

[2016-01-15 18:59] clintongormley commented on #10408
As with most things in Elasticsearch, it is better to use an index time solution instead of a query time solution.  The `terms`  aggregation is more efficient because it uses global ordinals rather than the raw string term, while a runtime `prefix` agg would need to work with raw strings.

Preparing your data at index time can be done with the right analysis chain, eg for paths like `/foo/bar/baz`

[2016-01-15 18:59] #10408 closed

[2016-01-15 19:00] clintongormley commented on #10409
So much has changed since 1.5, I'm going to close this issue now.

[2016-01-15 19:00] #10409 closed

[2016-01-15 19:01] nik9000 opened #16026 "Proposal: ban IOUtils.closeWhileHandlingException"
IOUtils.closeWhileHandlingException eats all exceptions raised on close which makes it very difficult to track down failures. I've burned up 2 days this month alone just hunting down failures that were hidden by it that were detected very indirectly by things like the file and thread leak detectors.

[2016-01-15 19:07] clintongormley commented on #10415
Closing in favour of https://github.com/elastic/elasticsearch/issues/12016

[2016-01-15 19:07] #10415 closed

[2016-01-15 19:17] clintongormley commented on #10417
The original issue looks like the cluster was overloaded. I don't think there is anything to do here.  Closing

[2016-01-15 19:17] #10417 closed

[2016-01-15 19:26] clintongormley commented on #10436
In summary, an `addMapping` request in the Java API requires the mapping to be wrapped in a JSON object with the type name as a key, while the REST API allows you to specify the mapping directly without this extra layer.

Should we change the Java API to work in the same way as the REST layer?

[2016-01-15 19:30] pickypg commented on #16004
This change was reversed because it was decided to require it for each node. If #16006 results in a change, then this should be redone.

[2016-01-15 19:32] clintongormley commented on #10448
This no longer seems to be the case - Elasticsearch keeps throwing exceptions but doesn't change the mapping any longer.  Closing

[2016-01-15 19:32] #10448 closed

[2016-01-15 19:34] clintongormley commented on #10459
Hi @nknize

Is this already resolved?

[2016-01-15 19:36] clintongormley commented on #10460
Given that this issue doesn't seem to have garnered any support in the last 9 months, I'm going to close it.  Feel free to reopen if you feel it is really important.

[2016-01-15 19:36] #10460 closed

[2016-01-15 19:38] clintongormley commented on #10487
@brwe Would this issue be of interest to you?

[2016-01-15 19:52] jimferenczi commented on #16021
@clintongormley here https://github.com/elastic/elasticsearch/issues/15994 you're saying that the count should be the same and now you're saying that it's expected ? I understand that the post filter is only applied to the query part and not the aggregations but the count in the response are different.
''''
Without postfilter:
"hits":{"total":2

With postfilter:
"hits":{"total":1
''''
So my questi

[2016-01-15 20:14] Ghost93 commented on #13190
+1

[2016-01-15 20:31] jimferenczi commented on #16021
@clintongormley I am totally wrong here, sorry. If the post_filter is replaced with a filter inside the query then the number of result must be the same like you said here: https://github.com/elastic/elasticsearch/issues/15994.
So the answer to my question in the previous comment is that it's expected.
Closing this and moving on ;).

[2016-01-15 20:36] jimferenczi commented on #15994
@jrots I'll try to reproduce but first I think that a small explanation about caching is needed here. Your first query (without post_filter) is one big boolean query with must clauses. In terms of caching this means that the whole boolean query is cached (after a certain number of executions). In your second query with a post_filter you'll have two entries in the cache, one with the query and the

[2016-01-15 21:34] talevy commented on #15944
processor merged into `feature/ingest` branch. closing.

[2016-01-15 21:34] #15944 closed

[2016-01-15 21:37] talevy commented on #16010
@Bargs we are still working on beefing up the docs. I'll start writing docs for this now. the error structure that we speak of here is only for the `_simulate`. all other errors will just return an internal http error with an arbitrary exception that is thrown (this is processor dependent and would be documented on a per processor basis).

[2016-01-15 21:40] talevy commented on #16010
@martijnvg cool! sounds great. I agree with the two-phase approach that @javanna mentioned. Firstly, we'll set up a `PipelineBuildException` that will provide a more structured representation of the error. I'd imagine this would include structured fields for which field of the config caused the exception, as well as a processor tag, etc.

[2016-01-15 21:53] vvcephei commented on #10417
Hey Clinton,

Yeah, our clusters are generally pretty heavily loaded, but I don't know
how to quantify it being overloaded.

This error actually happens to us all the time, and we simply detect it and
start the scroll again.

Thanks,
John

On Friday, January 15, 2016, Clinton Gormley <notifications@github.com>
wrote:

https://ci5.googleusercontent.com/proxy/D3fUvDCaH68UfTcyrC_41gEBYmFovoX9yBs4r5lq

[2016-01-15 23:36] nik9000 opened #16030 "Proposal: Remove varargs from log methods"
While varargs are convenient they allocate. That isn't usually a big deal but in the case of disabled log messages you'd prefer not to incur that penalty. My proposal is to remove the varargs from all log method, or at least the ones less than warning, and replace them with explicit 1, 2, and 3 argument versions. Those won't allocate at all except for boxing. Then create a version of the log metho

[2016-01-16 02:17] dbaggott opened #16031 "Usage-based caching of filters can be ineffective without tuning"
For some use cases, the default settings of `UsageTrackingFilterCachingPolicy` are inappropriate.  It would be ideal if those settings were configurable.

For example, the default configuration includes a history that looks at the last 256 filters.  In the extreme case, if you had a stream of fairly complicated filters where the total number of distinct filters was significantly greater than 256,

[2016-01-16 02:18] ppf2 opened #16032 "Setting invalid codec causes shard to keep failing and stuck in initializing state"
On ES 2.1.1.  Ran into this when trying to verify if a setting has persisted.  In this case, I am purposely setting the codec to an invalid codec name `best_compression1` instead of `best_compression`:

[code]

As soon as, I reopen the index after making the setting change, the shard gets into a failure loop trying to initialize the shard and will not start up.

[code]

Will be nice if we can hand

[2016-01-16 09:25] ecdeveloper commented on #2917
+1

[2016-01-16 09:25] jrots commented on #16031
+1, been experiencing similar issues and been looking for this setting too for a while!

[2016-01-16 12:24] rkrombho commented on #4915
+1 Not being able to simulate a paginated simple SQL `group_by` clause makes any migration from a relational database very hard.

[2016-01-16 15:51] dbaggott commented on #16031
Related question: I know the usage policy (including the underlying buffer that stores the history) is scoped to the shard but isn't the actual *usage accounting* done at the segment level?  *IF that's true*, the mismatch adds a bit of complexity/variability as the runtime behavior will vary with the count of (large enough) segments -- in effect, segment count will shorten the *effective* history

[2016-01-16 18:00] dakrone opened #16034 "Elasticsearch should reject _id longer than the maximum URI length"
If a user indexes a document with an `_id` value longer than the maximum allowed length of an HTTP URI (for instance, with the java api), they will not be able to retrieve the document via id (the get-document API) using the HTTP API without resorting to something like the `ids` query.

Elasticsearch should reject ids that are this long, to ensure a document always remains retrievable

[2016-01-16 18:03] dakrone commented on #16034
The RFC does not set a limit on the URL length, however, many clients and browsers *do* set a limit, so we should limit ourselves as well.

[2016-01-16 18:07] schmichael opened #16035 "docs: Bulk API Reference lacking response format and other details"
Correctly processing the _response_ to a Bulk API call is incredibly important to ensuring data integrity, however the Bulk API reference docs [2.x](https://www.elastic.co/guide/en/elasticsearch/reference/2.x/docs-bulk.html) only state:

The only description of that "large JSON structure" is in an example curl command at the top of the page which only shows what a single action's response might lo

[2016-01-16 18:13] schmichael commented on #16035
Just stumbled across [this getting started doc](https://www.elastic.co/guide/en/elasticsearch/reference/2.1/_batch_processing.html) which is a less detailed version of the reference doc except one nice additional detail:

The reference doc lacks the ordering part.

[2016-01-16 18:19] schmichael commented on #16035
Aha! Found the [bulk API section of the Guide](https://www.elastic.co/guide/en/elasticsearch/guide/master/bulk.html) which includes more details for the request and response formats, but lacks a lot of other details. It also has a big Out of Date warning at the top.

[2016-01-16 23:42] synhershko commented on #16031
We are also experiencing a very similar issue. In our case it's not many different filters that overwhelm the LRU cache, but a single query with what could be considered a very heavy Terms Query in a filter context (thousands of terms on one field; think permissions filtering scenario), that simply refuse to get cached. Setting the aforementioned configuration option on the nodes cause it to be ca

[2016-01-17 01:09] dbaggott commented on #16031
@synhershko, the documentation and the terminology are all a little confusing given that, as you alluded to, [queries and filters merged](https://www.elastic.co/blog/better-query-execution-coming-elasticsearch-2-0) but the "query cache" I'm referring to and the one in the [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-cache.html.) you mentioned is for *filter

[2016-01-17 02:08] nik9000 opened #16037 "Reindex should copy status from any search failures"
Currently it only copies from search failures. Oops.

[2016-01-17 06:43] lakal-malimage opened #16039 ":9200/_cat/nodes does not return"
I'm using ES 1.5.2. Time to time xx.xx.xx.xx:9200/_cat/nodes does not return anything. Hence Kibana or KOPF also not loading. But xx.xx.xx.xx:9200  always returns data. Restarting a node will fix the issue.  Please Note - I have two client nodes in different subnet and port 9200-9400 open both ways.
I couldn't find any errors in the ES log files.

[2016-01-17 08:15] bleskes commented on #15919
Thanks lee. Does #16001 mean we can close this?

[2016-01-17 14:50] seralf commented on #1203
Furthermore, if somebody generates javadocs for his/her project, which uses ES as dependency, the javadocs can be linked to provide an easier navigation.

Ideally it would be great to be able to use something like:

[code]

in the POM of our Java project, which uses ES.

[2016-01-17 15:09] o-r-r opened #16040 "calculate ratio between aggregation buckets"
Hi,
I'm using the following terms aggregations to get views and clicks of each campaign ( by campaign_id ) :
[code]
This is the response I get:
[code]
Example of a document:
[code]
I need to be able to retrieve the conversion rate of each campaign ( clicks / views ) , and I can't do it on the client side since I need to be able to sort by conversion rate. Is it possible on elasticsearch?

Any help

[2016-01-17 16:31] clintongormley commented on #10458
This appears to have been done in the search refactoring.  Closing

[2016-01-17 16:31] #10458 closed

[2016-01-17 16:31] clintongormley commented on #10487
@ywelsch would this be of interest to you?

[2016-01-17 16:33] dtr2 commented on #10005
You don't need to increase the timestamp accuracy: instead, the time sorting should be based on both timestamp and ID: message IDs are monotonically increasing, and specifically, they are monotonically increasing for a set of messages with the same timestamp...

[2016-01-17 16:33] clintongormley commented on #10490
The `fields` parameter no longer falls back to extracting from source.  https://github.com/elastic/elasticsearch/pull/15017

Closing

[2016-01-17 16:33] #10490 closed

[2016-01-17 16:35] clintongormley commented on #10491
Now that we have a new safe scripting language merged into master, which will become the new default as soon as it is ready, we can close this issue.