[2020-06-19 09:36] robmartin-scibite opened #58375 "Expose type parameter in Simple Query String"
`query_string`  and `multi_match` queries support a `type` parameter which determines how the query matches and scores documents over multiple fields. `simple_query_string` does not expose this property and seems to default to `most_fields`. `simple_query_string`  is perfect for our use case, but we cannot use it as we require  `best_fields` behaviour. Would it be possible to expose this parameter

[2020-06-19 09:56] jakommo opened #58376 "Improve "TOO_MANY_REQUESTS/12/index read-only / allow delete (api)" message when running low on disk"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.7

**Plugins installed**: []

**JVM version** (`java -version`): -

**OS version** (`uname -a` if on a Unix-like system): -

**Description of the problem including expected versus actual behavior**:

When hitting the flood stage watermark we set all indices on that node to `read_only_allow_delete` as [documented here](https://www.elastic

[2020-06-19 10:20] hackerwin7 commented on #51857
@jimczi
I have implement a path of parallel reduce for master branch.
here is my test results:

## Mem stats

JVM | default | batched=5 | parallel
-- | -- | -- | --
Eden | increase 8.4 G | Increase more than Eden capacity | Increase more than Eden capacity
Old | Increase 1.6 G | Increase 200 MB | Increase 6 G
YGC count | 0 | 3 | 15
FGC count | 0 | 0 | 0

## Search stats

Query | default | batched=

[2020-06-19 10:22] hackerwin7 commented on #51857
I have a similar patch for this.

[2020-06-19 11:04] jasontedor commented on #58376
I agree the message could be improved, substantially. I don’t think it’s any less clear with TOO_MANY_REQUESTS vs. FORBIDDEN. I want to clarify the reason for TOO_MANY_REQUESTS (vs. FORBIDDEN). Previously we returned a 403 status code in this situation, which translates to FORBIDDEN, and clients would not retry. That’s bad since disk full is transient: once an administrator cleans up, we resolve t

[2020-06-19 11:13] lmk07 opened #58378 "ElasticSearch bulk data push using nodejs takes long time..."
Hi every one,
i'm pushing some bulk amount of data reading from s3 bucket. using streaming. data size will be around 2.5GB containing approx 70lakhs data. for every push i'm passing 10000 data, its taking around 1hr. i want to reduce the time.My sample code :

var Data = [];
Stream.on('data', (data) => {
Data.push({
                  index: {
                              _index: ,

[2020-06-19 12:22] ejsears commented on #58257
This is a huge issue for DoD. Manual installation of RPMs across large clusters is going back 10 years in technology. Bypassing file integrity checks does not bode well. This affects every RPM package that Elastic publishes and as more people move to RHEL 8, it will become more and more of a problem.

[Same issue in Kibana](https://github.com/elastic/kibana/issues/69613)

[2020-06-19 13:30] johtani commented on #57142
Hi @jpountz ,
Should is the label `7.9.0` instead of `7.8.0`?
Unfortunately, 7.8.0 still uses Lucene 8.5.1.

[2020-06-19 13:56] jakommo commented on #58376
Ah, thanks for the background @jasontedor . Didn't think about this being reflected from the HTTP status code.

Fully agree that FORBIDDEN wasn't any better.

Would we be able to add something about disk space/watermarks to the message or is it parsed from HTTP code and index setting etc?
[code]

[2020-06-19 14:01] jasontedor commented on #58376
Yes, currently it’s produced from the block placed on the index which only carries a status code and a message that indicates the type of block (note a user can manually apply the block, so its presence doesn’t mean disk full necessarily). It will be some effort to make the situation clearer.

[2020-06-19 15:55] HarshadRanganathan opened #58384 "ES Kuromoji Analyzer incorrect segmentation for numbers"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.1.1

**Plugins installed**: [analysis-icu, analysis-kuromoji, discovery-ec2, repository-s3]

**JVM version** (`java -version`): 12.0.1 (bundled jdk)

**OS version** (`uname -a` if on a Unix-like system): Linux amzn2.x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

When numbers of a font variant

[2020-06-19 16:48] HarshadRanganathan opened #58385 "ES Kuromoji Tokenizer incorrect segmentation of font variant subtype"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.1.1

**Plugins installed**:  [analysis-icu, analysis-kuromoji, discovery-ec2, repository-s3]

**JVM version** (`java -version`): 12.0.1 (bundled jdk)

**OS version** (`uname -a` if on a Unix-like system): Linux amzn2.x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

Sample text: ｏｆ
Expected toke

[2020-06-19 19:14] VimCommando commented on #58087
While `primary/replica` works well when dealing with copies, `replica` doesn't feel accurate describing an executing or working unit. A unit could be a node, shard, process, etc.

I think options like these are descriptive and still remain neutral:
- `primary/member`
- `leader/member`
- `leader/follower`
- `manager/worker`

I like this last one because replacing `master node` with `managing node`

[2020-06-20 02:58] matrixcine commented on #49124
@ruilr, please do you have examples of how you could use reflection on the IOReactorExceptionHandler? I'm new to this.

[2020-06-20 09:10] Pilpin opened #58388 "Add matchBoolPrefix static method to QueryBuilders"
Hello,

I noticed that the `matchBoolPrefixQuery` static method is missing from the `org.elasticsearch.index.query.QueryBuilders` utility class, perhaps other "recent" querybuilders are missing too ?

Would you consider adding it ?

[2020-06-20 14:15] codingogre opened #58389 "World Bank integration doesn't work with Elasticsearch 7.7 and 7.8"
**Elasticsearch version** (`bin/elasticsearch --version`):

Elasticsearch 7.7-7.8 on ESS

**Plugins installed**: []

**JVM version** (`java -version`):

ESS

**OS version** (`uname -a` if on a Unix-like system):

ESS

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem,
including (e.

[2020-06-21 04:34] danaoxmt opened #58391 "Netty client throwing NoSuchMethodError"
**Elasticsearch version** (`bin/elasticsearch --version`):
$ ~/elasticsearch-6.4.2/bin/elasticsearch --version
Java HotSpot(TM) 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.
Version: 6.4.2

**Plugins installed**: []
org.elasticsearch.client:transport:6.4.2

**JVM version** (`java -version`):
$ java -version
java ve

[2020-06-21 06:39] kristenungdom opened #58392 "fortinet.firewall.mem string value"
filebeat 7.8 mapps the performance field fortinet.firewall.mem as string rather than Number field in the Fortinet Module

[2020-06-21 07:52] amit10may commented on #31933
I am using ES 6.3 and I had to edit elasticsearch.yml to include discovery.type: single-node
It would help to mention the config location. Earlier I was trying to put this in jvm.options and command line variables. I may be doing wrong things but having a clear statement in official document can help lot of mistakes.

[2020-06-21 08:29] DaveCTurner opened #58393 "Revisit need for single-node discovery"
Today the [bootstrap check docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/bootstrap-checks.html) indicate that single-node discovery should be used to bypass the bootstrap checks for cases where you want to test your usage of the transport client across a non-local interface. With the removal of the transport client in 8.0 this is no longer useful. Is there any other need fo

[2020-06-21 08:29] elasticmachine commented on #58393
Pinging @elastic/es-distributed (:Distributed/Cluster Coordination)

[2020-06-21 10:21] droberts195 opened #58395 "[ML] Should flush have a wait_for_completion option?"
The [flush job](https://www.elastic.co/guide/en/elasticsearch/reference/current/ml-flush-job.html) endpoint has evolved over the years, and now fulfils several roles that are only tenuously related.

- When the endpoint was first introduced, it had no arguments and was all about ensuring that having sent data to a job you could query all the results generated from that data with the certainty that

[2020-06-21 10:21] elasticmachine commented on #58395
Pinging @elastic/ml-core (:ml)

[2020-06-22 02:39] ankikala opened #58396 "Reindex from Remote to support auth without username and password"

[2020-06-22 04:30] Anyrob commented on #55065
Hey @matriv! I was making some changes to the code but then I realized something. Would you mind being more specific in the difference of the DateTimeFormat with the DateFormat, I want to be sure that I'm on the right path, I discovered that my previous analysis looked a lot like the DatePart function, so this difference doesn't seem so trivial to me now, and I would like to make it clear before c

[2020-06-22 06:28] geekpete commented on #55434
Do we know what scenarios this might be triggered under (any docker environment, some docker environments, all ESS/ECE environments?) and if particular JVM versions are part of the trigger (eg if bundled JVM version will always hit this issue once combined with specific docker environments or if specific combinations of self-hosted versions and use of particular non-bundled JVM versions will hit t

[2020-06-22 06:44] mtfgqd opened #58397 "post filter not applied to field collapsing inner hits?"
Please reference to below issue,
https://github.com/elastic/elasticsearch/issues/26649

Recently, I met the same requirement,but post filter not applied to field collapsing.
Can anybody tell me how to filter data set after field collapsing?
I use ES version 6.4.2,Many thanks

[2020-06-22 10:24] GopherJ opened #58398 "bulk request returned 200 OK but saved nothing"
**Elasticsearch version** (`bin/elasticsearch --version`):
latest

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem,
including (e.g.) index creation, mappings, set

[2020-06-22 10:31] GopherJ commented on #58398
Bulk is failing silently for new created indexes.

[2020-06-22 11:50] ypid-geberit commented on #53578
From my understanding, we are talking about pseudonymization in the GDPR context here because even with the more suitable version of fingerprinting with a secret key (HMAC), users could still be re-identification with the knowledge of the secret key. Maybe add a way to rotate this key at defined intervals? This would provide strong pseudonymization properties after the rotation period. Note that t

[2020-06-22 12:09] vishnugt commented on #58275
@polyfractal I read your comment [here](https://github.com/elastic/elasticsearch/pull/37384#issuecomment-645999659), so shall I leave this to be handled by a pro?

[2020-06-22 12:16] nik9000 commented on #58275
If you open a PR with the new algorithm one of us would be happy to advise
on the backwards compatibility side. There is usually something fairly
simple that'd make it work. The difficult thing is usually figuring out
what that is.

On Mon, Jun 22, 2020, 08:09 Vishnu Gt <notifications@github.com> wrote:

[2020-06-22 12:22] vishnugt commented on #58275
Awesome, I'll start working on the PR with the new algorithm.

[2020-06-22 12:40] droberts195 commented on #58286
Some more examples are:

* https://gradle-enterprise.elastic.co/s/7ui6e4xgk73p4
* https://gradle-enterprise.elastic.co/s/auy6vxvhpqk6w
* https://gradle-enterprise.elastic.co/s/7z75ac3mu3sik

The same thing happened last year - see #48148.  That was found to be because the macOS worker couldn't cope with running multiple integration test suites in parallel.  The suite timeouts were stopped by reduc

[2020-06-22 13:04] #57270 closed

[2020-06-22 16:58] klimchuk commented on #47602
Percolate introduced in 5.x has much worse performance than it's predecessor. I don't know what's ElasticSearch as a company thinking providing subpar replacement but that's the way it is. We opened tickets with ElasticSearch support and it went nowhere. Basically it's just not possible to achieve percolate latency comparable with ES 2.x

[2020-06-22 18:30] M9k commented on #40803
If someone work in Kibana curl:
`PUT  /_cluster/settings
{
   "persistent":
   { "cluster.max_shards_per_node": "5000" }
}`

[2020-06-22 20:03] jasontedor commented on #58391
I think that you're missing the `netty-buffer` dependency from your runtime classpath. Since this is unlikely to be an Elasticsearch issue, I'm closing this. If you need further assistance, please use the [forums](https://discuss.elastic.co).

[2020-06-22 20:03] #58391 closed

[2020-06-22 21:25] tumile commented on #46350
@jbonn360 Hi, are you still working on this? I want to give it a try!

[2020-06-22 22:03] grgAditya commented on #58398
Hi Would like to work on this, can you can you provide more info?

[2020-06-23 00:51] elasticmachine commented on #58396
Pinging @elastic/es-security (:Security/Authentication)

[2020-06-23 00:51] elasticmachine commented on #58396
Pinging @elastic/es-distributed (:Distributed/Reindex)

[2020-06-23 01:11] tvernum commented on #58396
You can also authenticate via PKI (TLS client certificates) by configuring [`reindex.ssl.key` or `reindex.ssl.keystore.path`](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html#reindex-ssl).

The issue is that there is no standard way to provide SAML or OIDC credentials over a rest connection. Both SAML and OIDC are primarily used as browser based SSO protocols, and

[2020-06-23 02:57] tvernum commented on #50235
Our APIs, by design, don't require that you know the credential in order to reference an API key.

We use Key Ids in:
1. The GET (list) api keys endpoint - we need something to return that uniquely identifies a key for which the secret is no longer retrievable
2. The DELETE api key endpoint - we need to be able to delete keys even if the owner does not  has access to the secret
3. The SetSecurityU

[2020-06-23 03:55] thomasneirynck commented on #48953
Will this effect current clients who are expecting geo_shape fields to have lat/lon EPSG:4326 coordinates? In other words, when this merges, will Elasticsearch-clients still be able to make the assumption that searches on geo_shape fields will return coordinates in lat/lon? Or will this require certain additional parameters in the qeuery-DSL. If not, this has the potential to break general purpose

[2020-06-23 04:39] geekpete commented on #31924
It's probably good to check continually through the force merge process if possible? Rather than only at the start, in case things change while it's merging after it's done the initial calculation. This is probably only useful if there's a mechanism to pause or cancel the force merge if the disk space check fails part way through, I'm unsure if internally we have any existing way to pause/cancel a

[2020-06-23 05:06] jkakavas commented on #50235
Sure, but this is explaining our decision, by referring the decision itself. I don't remember the discussions around this and the reasons why we elected to do so.

I understand why we need a unique ID to identify a key, and (maybe) why we need to return it as one of the values of the call to create one, but not why we need to mandate that people deal with this implementation decision and need to t

[2020-06-23 05:39] danaoxmt commented on #58391
Thanks for the reply @jasontedor was a runtime classpath issue. Cheers!

[2020-06-23 06:06] axw commented on #48878
This reminded me of [natsort](https://github.com/sourcefrog/natsort). Just thought I'd share, in case it's unknown. Might be useful for inspiration.

[2020-06-23 06:24] Bukhtawar opened #58404 "Improve DURABILITY logic for circuit breaker"
## Problem Description
While real memory circuit breaker helps with parent memory accounting based on real heap usage the `DURABILITY` is still derived from child circuit breaker, the logic for which is based on whichever contributed the maximum based on their respective `durability`. Now child circuit breakers are known to be not so accurate, as a result, it gets harder to derive the nature of is

[2020-06-23 06:34] tvernum commented on #50235
Your earlier comment was

Which is what I was pointing out. We definitely have valid uses for a public id for API Keys. It is intentional and by design that the key-id is an explicit part of the API.
REST API design would strongly encourage (dictate?) that if an API creates a new object that has a unique, public id on which other API endpoints rely, then that id should be returned in the response

[2020-06-23 07:25] iverase opened #58406 "[CI] Data stream yaml test failing for mixed cluster in 7.8"
Test indices.data_stream/10_basic/* failing and it can be reproduce, for example:

[code]

Error looks like:

[code]

[2020-06-23 07:25] elasticmachine commented on #58406
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-06-23 07:29] iverase commented on #58406
muting tests

[2020-06-23 07:37] DaveCTurner commented on #40803
@gwbrown I don't think this is the right reasoning to use here. I think we shouldn't silently ignore settings like this, regardless of how likely they are to be used.

In this case, you might for instance expect to be able to use this setting to bring up a cluster in a purely read-only mode -- perhaps you want to do some forensic analysis on a snapshot of the cluster and be sure that the data will

[2020-06-23 07:53] david-kow opened #58408 "Built-in user with minimal permissions for Beats"
As a user that is configuring Beats, I would like to be able to use a single, built-in user that has minimal set of permissions that allow to both setup, run and monitor Beats.

Today, I would either use (out of convenience) an existing user that has a superset of needed permission or create user that has a [number of roles/permissions](https://www.elastic.co/guide/en/beats/filebeat/7.8/feature-ro

[2020-06-23 07:59] LucaWintergerst opened #58409 "Snapshot repo security_exception / SocketPermission"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.8.0

**Plugins installed**: []

**JVM version** (`java -version`): Elastic Cloud

**OS version** (`uname -a` if on a Unix-like system): Elastic Cloud

**Description of the problem including expected versus actual behavior**:
Reading from a snapshot repository that was created a few days ago fails:
[code]
[code]

Trying to re-create that

[2020-06-23 08:04] DaveCTurner commented on #58376
In practice I don't think users really do apply this block manually. If they did, it would today be automatically removed a short while later. We discussed this when contemplating the auto-release behaviour and decided that this block should be considered as under the control of the disk-based shard allocator; if users want a read-only index then they can apply other blocks, and if they want to de

[2020-06-23 08:10] iverase commented on #58296
Another case: https://gradle-enterprise.elastic.co/s/gm2tpncfu7d64

[2020-06-23 08:12] elasticmachine commented on #58409
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-06-23 08:29] elasticmachine commented on #58408
Pinging @elastic/es-security (:Security/Security)

[2020-06-23 08:38] iverase commented on #58397
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2020-06-23 08:38] #58397 closed

[2020-06-23 08:43] GopherJ commented on #58398
@grgAditya Hi I suspect it's the rust client `elastic/elasticsearch` which causes problem, shall I create an issue for them?

[2020-06-23 09:26] elasticmachine commented on #58404
Pinging @elastic/es-core-infra (:Core/Infra/Circuit Breakers)

[2020-06-23 09:27] elasticmachine commented on #58384
Pinging @elastic/es-search (:Search/Search)

[2020-06-23 09:27] elasticmachine commented on #58385
Pinging @elastic/es-search (:Search/Search)

[2020-06-23 09:28] elasticmachine commented on #58388
Pinging @elastic/es-search (:Search/Search)

[2020-06-23 09:29] elasticmachine commented on #58374
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-06-23 09:29] elasticmachine commented on #58370
Pinging @elastic/es-analytics-geo (:Analytics/Rollup)

[2020-06-23 09:30] elasticmachine commented on #58375
Pinging @elastic/es-search (:Search/Search)

[2020-06-23 09:31] elasticmachine commented on #58376
Pinging @elastic/es-distributed (:Distributed/Allocation)

[2020-06-23 09:32] iverase commented on #58378
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the Elasticsearch forum. If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the forum that should be able to help get an answer to your questi

[2020-06-23 09:32] #58378 closed

[2020-06-23 09:34] iverase commented on #58398
Hi @GopherJ,

In order to successfully triage this issue you would need to provide more information about the issue, for example an example of how to reproduce the issue and some information about your set up. Could you provide  such information?

[2020-06-23 09:36] iverase commented on #58276
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the Elasticsearch forum. If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the forum that should be able to help get an answer to your questi

[2020-06-23 09:36] #58276 closed

[2020-06-23 09:39] GopherJ commented on #58398
Hi, @iverase finally I succeed to track  the error:

[code]

[2020-06-23 09:48] Bukhtawar commented on #58404
The other thing I want to bring up is if the nature is `PERMANENT` the desired action to remediate is not clear(or even documented).
So lets say `field data/accounting circuit breaker` is the reason for `PERMANENT` durability. Should a shard allocator for instance cause the shard to move-off the node to alleviate memory pressure.

[2020-06-23 09:50] albertzaharovits commented on #58408
@ycombinator can you please take a look at the above ask?

[2020-06-23 09:58] GopherJ commented on #58398
This is our mappings (simplified):

[code]

It works for data:

[code]
but when I tried to send bulk request with:

[code]

It saved nothing and returned 200 OK

Then I switched to index only one document, it gave me the above error

[2020-06-23 10:37] iverase commented on #57411
Another occurrence:

https://gradle-enterprise.elastic.co/s/uyaop4dwf6svm

[2020-06-23 11:02] albertzaharovits commented on #50235
We held an extensive team meeting on this topic, but we couldn't reach a consensus on the solution, yet. I'll try to briefly summarise the discussion, but expect more debates on the topic.

The `api_key` response field is appropriately named, but its value (the API Key secret) is incorrect. We cannot change the field name in a minor release, and even in a major it would be a bit of a stretch becau

[2020-06-23 11:49] martijnvg commented on #58406
Thanks @iverase for muting. Actually all data streams rest tests can be muted, because data streams will not be supported in 7.8. I will go and check which other tests can be muted in 7.8 branch.

[2020-06-23 11:50] legrego opened #58422 "Change `kibana` reference to `kibana_system` in the built-in users docs"
At the beginning of this page in the guide it still says "kibana", while later on it says "kibana_system".
https://www.elastic.co/guide/en/elasticsearch/reference/current/built-in-users.html

_Originally posted by @flo-ryan in https://github.com/elastic/kibana/issues/25879#issuecomment-647108779_

[2020-06-23 11:50] elasticmachine commented on #58422
Pinging @elastic/es-docs (>docs)

[2020-06-23 12:20] gquintana opened #58428 "Make HttpAsyncClientBuilder implementation configurable"
The `HttpAsyncClientBuilder` implementation creation is hard coded in
https://github.com/elastic/elasticsearch/blob/v7.8.0/client/rest/src/main/java/org/elasticsearch/client/RestClientBuilder.java#L209

It prevents using custom implementations like Zipkin one:
https://github.com/openzipkin/brave/issues/1226

I would like to be able to replace
[code]
with
[code]

[2020-06-23 12:50] iverase opened #58431 "[CI] RangeQueryBuilderTests.testToQuery failing due to invalid time zone"
The following test fails because of invalid time zones in 7.x:

https://gradle-enterprise.elastic.co/s/kendslddzh4j6

It can be reproduced with:

[code]

Error:

[code]

This seems to be possible in all the test that uses `randomZone()` method and it seems to have been fix in some cases:

https://github.com/elastic/elasticsearch/pull/30175/files

Maybe we can fix it once for all cases we call that

[2020-06-23 12:50] elasticmachine commented on #58431
Pinging @elastic/es-search (:Search/Search)

[2020-06-23 12:54] matriv commented on #55065
`DATETIME_FORMAT` uses the java's [DateTimeFormatter](https://docs.oracle.com/en/java/javase/14/docs/api/java.base/java/time/format/DateTimeFormatter.html) patterns, whereas `DATE_FORMAT` will use the patterns as specified by MySQL, e.g.: `%H` denotes the 24-hour format where in java is `HH`. So the implementation should simply accept the MySQL patterns and translate them to the corresponding java

[2020-06-23 13:19] iverase opened #58433 "[CI] Netty4HttpServerTransportTests.testCorsRequest failures"
This test started failing occasionally since June 15 in 7.7, 7.8 and 7.x branches:

https://gradle-enterprise.elastic.co/s/5vv3z2vjtlsie
https://gradle-enterprise.elastic.co/s/dcnfwib2jli5u

example:

[code]

Error:

[code]

[2020-06-23 13:19] elasticmachine commented on #58433
Pinging @elastic/es-distributed (:Distributed/Network)

[2020-06-23 13:22] original-brownbear commented on #58433
Looks related to https://github.com/elastic/elasticsearch/issues/58296

[2020-06-23 14:08] markharwood commented on #55942
Closing - duplicate of https://github.com/elastic/elasticsearch/issues/57816

[2020-06-23 14:08] #55942 closed

[2020-06-23 14:19] iverase commented on #52416
Another failure: https://gradle-enterprise.elastic.co/s/3no2o4uqgdf7q

same error:

[code]

[2020-06-23 14:28] mayya-sharipova opened #58445 "[DOCS] ILM policy update – add phase effect on older indices"
Add documentation that explains what happens to older indices when we add a new phase to the ILM policy. This documentation can be added to this [doc](https://www.elastic.co/guide/en/elasticsearch/reference/current/update-lifecycle-policy.html)

Some background information:

In newer versions of Elasticsearch (including 7.7) the pick-ups to the policy will happen automatically, but only on new ind

[2020-06-23 14:28] elasticmachine commented on #58445
Pinging @elastic/es-docs (>docs)

[2020-06-23 14:28] elasticmachine commented on #58445
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-06-23 14:46] cbuescher commented on #58431
The conditions under which this can fail on 7.x are extremely rare, namely we need:
* an index versionCreated before V_7_0_0
* no "forced" date parser through a format parameter
* one of the SystemV* time zones that Jodas DateTimeZone parser doesn't know how to convert

In addition, this doesn't seem to be possible anymore on master. Given how unlikely this is I would opt for only excluding this c

[2020-06-23 14:56] #58262 closed

[2020-06-23 15:28] ankikala commented on #58396
I agree that there doesn't seem to be a generalized solution for this. In particular, not sure if there can even be any solution for SSO based authentication.
On a high level, I was thinking about simply adding plugin support to intercept outgoing REST calls and adding the relevant headers. What exactly needs to be done for each auth type can be handled by different plugins. I guess I was thinking

[2020-06-23 16:06] matriv commented on #58262
`master` : 0af1f2fef805324e802d97d2fd9b4660abb403f0
`7.x` : e7c40d973e54fc5c378767661e8f2935548f11fc

[2020-06-23 16:17] jakelandis commented on #56004
correct, same structure with some additional elements.

There is a current the oddity (as mentioned above) such that the pipeline processor itself (the one that forks out to a different pipeline) is not part of the output... I can look into that further but can't commit to that quite yet. Otherwise, yes `tag` will always be included.

[2020-06-23 16:25] elasticmachine commented on #58428
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-06-23 16:40] timforr commented on #42811
@mayya-sharipova I currently use function_score to **multiply** the values of a standard query (with should, must, boosts, etc) and a custom query (involving a dense_vector dotProduct). How can I replicate that with script_score? I see your suggestion about putting the custom script in a bool, but bool sums the results whereas I need them multiplied.

[2020-06-23 16:46] tumile commented on #56896
Hi, is this issue still worth fixing? I'm looking to make my first contribution to ES.

[2020-06-23 16:48] xtermi2 commented on #56896
From my view, yes!

[2020-06-23 17:21] jbaiera commented on #58147
I'm still confused how you wouldn't be able to do any of these things with the current implementation. It may complicate the pipeline definition slightly, but I don't see how these outcomes couldn't be satisfied:

Our outcomes should boil down to:

1. **Implicit pipeline failure (current, default)**.  This is the current state of things, though we seem to return a 500 error for unexpected failures

[2020-06-23 17:28] Anyrob commented on #55065
Thank you! I think I got it now! I let you know in case I have another doubt.

[2020-06-23 17:40] matriv commented on #55065
@Anyrob There is a [similar PR](https://github.com/elastic/elasticsearch/pull/55454) open that addresses the MS-SQL variant of the function, so you'll only need to add the new function definition, and a new Formatter to implement the MySQL variant.

[2020-06-23 18:03] nknize commented on #48953
The expected behavior is that search results will be returned in the same projection as they were indexed. Search time reprojection is a separate feature that will be further explored. To achieve what you're describing users would need to use the `reproject` ingest processor to index in a separate lat/lon field, then use that field for searches in lat/lon projection.

[2020-06-23 18:07] Boda805 commented on #58388
Hi I would like to take this.

[2020-06-23 18:39] polyfractal commented on #58275
Yeah, what Nik said :)  Usually these sort of things fall into one of two camps:

1. New algo is compatible with old algo somehow (maybe by falling back to loss of precision, etc), so it just has to be "translated" back and forth
2. New algo is fundamentally incompatible, so we end up maintaining "old" in newer versions for a while while the BWC matrix overlaps.

Since this is a loss of precision

[2020-06-23 19:01] thomasneirynck commented on #48953
We should coordinate then that when this merges on the ES-side, the necessary changes can be made on the Kibana-side so they are released in the same minor. Otherwise, Kibana will display indices that cannot be visualized. This would be a poor user experience.

So that is different then from what we discussed earlier, where I though the recommendation was that clients could query for the documents

[2020-06-23 19:14] polyfractal commented on #50863
Did some thinking on this last week.  The technically easiest route is a dedicated endpoint-per-functionality (`_analytics/cluster`, etc), since we can build whatever needs to be built without regards to other aggs.  This is also the least useful to users, since they'll have to construct "alternate universe" aggs with a different API.

The best user situation is a unified DSL where aggs "just work

[2020-06-23 20:50] telendt commented on #42811
@timforr

How does your second, "custom query" involving dot product looks like? It uses script_score, right? Then your script can do `_score * dotProduct(...)`, you don't need function score for that.

[2020-06-23 20:54] timforr commented on #42811
@telendt Great, thank you, that does indeed work.

[2020-06-23 21:07] not-napoleon commented on #32950
I think we can close this now that we've resolved #57042, which causes max buckets to only be checked during the reduce phase.  Feel free to reopen if there's a need, but it seems redundant to me at this point.

[2020-06-23 21:07] #32950 closed

[2020-06-23 21:20] #58422 closed

[2020-06-23 21:36] kehphin commented on #45646
Hi,

We would find this addition very useful as well. Our use case is that we want to sort on most recent document of each collapsed bucket. Currently we reach a dead end as follows:

1. Use `collapse` to bucket documents by their name
2. Use `inner_hits.sort` with `size: 1` to order the bucket by the most recent first and grabbing the first entry
3. Sort the results with an outer level sort.

Cur

[2020-06-23 22:15] #58279 closed

[2020-06-24 02:43] Liu-XinYuan opened #58464 "The data present in elasticsearch translog does not exist in lucene"
We found that the data queried by id cannot be queried by query
dsl statement:
`{"query":{"bool":{"must":[{"range":{"chargeDay":{"gte":"20200620","lte":"20200621"}}}],"must_not":[],"should":[]}},"from":0,"size":250,"sort":[],"aggs":{}}`

**Elasticsearch version** (`bin/elasticsearch --version`): 6.7.1

[2020-06-24 02:48] #58464 closed

[2020-06-24 05:29] astefan opened #58465 "EQL: NodeSubclass test"
`Node` specific operations should be tested similarly with SqlNodeSubclassTests from ES SQL project.

[2020-06-24 05:29] elasticmachine commented on #58465
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-06-24 06:42] jklofs opened #58468 "[match_phrase_prefix] query does not support [zero_terms_query]"
According to the current documentation, match phrase prefix queries support the zero_terms_query parameter. However, if I attempt to set this parameter to "all" in a query, I get an error of type parsing_exception with reason "[match_phrase_prefix] query does not support [zero_terms_query]".

The cURL I'm using:

curl -X GET "localhost:9200/events/_search?pretty" -H 'Content-Type: application/json

[2020-06-24 07:05] original-brownbear commented on #58409
This is quite confusing to me. I'm wondering if this really is an issue with the plugin and not a result of some orchestration removing the key again behind the scenes (thus causing the plugin to fall back to some metadata auth path). I could not reproduce this so far and I have not seen this happen in the logs for our own default repo+credentials. I'll bring it up during todays snapshot resilienc

[2020-06-24 07:16] astefan opened #58471 "QL: remove constant_keyword from code base"
Following https://github.com/elastic/elasticsearch/pull/58315 merging, there is no need for constant_keyword field type in QL projects anymore.

[2020-06-24 07:16] elasticmachine commented on #58471
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-06-24 07:40] #58351 closed

[2020-06-24 07:42] HJK181 commented on #41163
This issue is open for about a year now and nothing happened to your documentation which is clearly wrong !!
I've implemented the suggested set processor solution from the documentation:

to now realize it was a waste of time as it's never going to work ?! Why aren't u able to update the documentation for about a year?

[2020-06-24 07:51] jloleysens opened #58474 "[Snapshot & Restore] Separate key for data streams when listing policies"
## Summary

After adding support for data streams in S&R (https://github.com/elastic/elasticsearch/issues/57127) Kibana's management UI can be updated. The current implementation for creating a policy that will snapshot data streams requires that the data stream name be added to the list of indices. When list out all snapshot lifecycle management policies for a cluster the data streams name is als

[2020-06-24 07:58] javanna opened #58476 "Review read_cross_cluster privilege"
The read_cross_cluster privilege is not required when performing cross-cluster searches and roundtrips are minimized, as the coordinating node sends search requests straight to each remote cluster, rather than a cluster search shards to resolve the shards and then shard level search requests to each shard involved.

Users would expect the read cross cluster privilege to always have the same effect

[2020-06-24 07:58] elasticmachine commented on #58476
Pinging @elastic/es-security (:Security/Authorization)

[2020-06-24 08:23] sw-jung opened #58478 "Grok failure log message prints wrong pipeline name [_none]"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.5.2

**Description of the problem including expected versus actual behavior**:
When grok parse failure occurred in an ingest pipeline processing, elasticsearch logs a debug message in the cluster log.
However, this debug message prints the pipeline name as `_none` instead of the correct pipeline name.

**Steps to reproduce**:

 1. Instal

[2020-06-24 08:29] jimczi commented on #58385
These full-width characters (`ｏ`, `ｆ`) are recognized as symbols by default in the [IPADIC](https://github.com/taku910/mecab/blob/3a07c4eefaffb4e7a0690a7f4e5e0263d3ddb8a3/mecab-ipadic/Symbol.csv#L53) model that is used by the `kuromoji_tokenizer` to split the sentence.
It is generally a good practice to perform normalization before tokenization using the `icu_normalizer` in order to avoid these ki

[2020-06-24 08:29] elasticmachine commented on #58385
Pinging @elastic/es-docs (>docs)

[2020-06-24 08:39] jimczi commented on #58384
Thanks for reporting @HarshadRanganathan
Full-width numbers are recognized as symbols by the IPADIC so it is a good practice to normalize the input using the `icu_normalizer` first. The `kuromoji_normalize` example analyzer defined in [`#58385`](https://github.com/elastic/elasticsearch/issues/58385#issuecomment-648677602) splits numbers correctly:

[code]
I am closing this issue as duplicate of #5

[2020-06-24 08:39] #58384 closed

[2020-06-24 08:41] elasticmachine commented on #58478
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-06-24 08:42] elasticmachine commented on #58468
Pinging @elastic/es-search (:Search/Search)

[2020-06-24 08:45] pgomulka opened #58479 "Date processor incorrectly parses week based dates with java.time"
ingest `date time` processor is incorrectly parsing week based date formats.
raised by a user on a discuss forum https://discuss.elastic.co/t/elastic-joda-to-java-time-update-illegal-pattern-component-uuuu/237830
It affects v8, v7 and 6.8 versions
class: https://github.com/elastic/elasticsearch/blob/master/modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DateFormat.java#L82

rep

[2020-06-24 08:45] elasticmachine commented on #58479
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-06-24 08:47] javanna commented on #58433
Another failure: https://gradle-enterprise.elastic.co/s/dz74pjnig7e7c/tests/:modules:transport-netty4:test/org.elasticsearch.http.netty4.Netty4HttpServerTransportTests/testCorsRequest

[2020-06-24 08:58] #58376 closed

[2020-06-24 09:14] astefan commented on #58465
It turns out I already created a similar issue: https://github.com/elastic/elasticsearch/issues/53862. Closing the duplicate one.

[2020-06-24 09:14] #58465 closed

[2020-06-24 09:30] pgomulka commented on #42588
raising this for the record. Will update known issues
related to this bug https://github.com/elastic/elasticsearch/issues/41670 and fixed in v7.6+ PR fix #48349
affecting 6.8 - 7.5

week based dates like `2020-01` were not correctly translated to a `long` epoch value and throwing an exception. Week based values should be defaulted to start of the week.
reproduce
[code]

[code]
results in
[code]

s

[2020-06-24 09:41] cbuescher commented on #58468
@jklofs thanks for raising this, indeed there seems to be a mismatch between the docs and the `match_phrase_prefix` implementation that doesn't currently support `zero_terms_query`. Given that e.g. `match` and `match_phrase` support this settings, I think we should add this to this query as well.

[2020-06-24 09:47] pugnascotia commented on #51670
After discussions with Docker, I'm wondering again about swapping the base image to something more "typical", specifically Debian. Debian have started publishing their own "slim" images, and are typically better at published security updates more quickly (according to Docker, anyway).

Regarding size and glibc, `debian:buster-slim` is 69.2MB (although adding `curl` bumps it to 96.5MB) and ships wi

[2020-06-24 09:50] cbuescher commented on #58431
Closed by https://github.com/elastic/elasticsearch/pull/58449

[2020-06-24 09:50] #58431 closed

[2020-06-24 10:17] pgomulka opened #58481 "Missing bwc java.time layer for 6.8 date_index_name ingest processor"
looks like #34507 was not backported to 6.8
it was meant to be fixed by this #37407 but it missed `IndexNameExpresionResolver` class. It only fixed this in `DateFormat` (used by when creating an index name expression, but not resolving. This is used during simulate and on 'phase1' ingestion with index name processor)
it is not possible to use date formats with `8` prefix in `date_index_name` inges

[2020-06-24 10:17] elasticmachine commented on #58481
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-06-24 10:17] elasticmachine commented on #58481
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-06-24 10:35] hendrikmuhs opened #58482 "[ML] Job fail to start with "Invalid alias name [.ml-state-write] ...""
**Affected version**: 7.7 -

**Problem**

`.ml-state-write` is supposed to be an index alias, however by accident it can become an index. If `.ml-state-write` is a concrete index instead of an alias, starting a job can fail due to index rollover introduced in #52356.

The reason for `.ml-state-write` being an index instead of an alias is explained in #57645

**Mitigation**

- if you are ok with re

[2020-06-24 10:35] elasticmachine commented on #58482
Pinging @elastic/ml-core (:ml)

[2020-06-24 11:15] #57624 closed

[2020-06-24 11:22] jimczi commented on #58282
Closed by https://github.com/elastic/elasticsearch/pull/58338

[2020-06-24 11:22] #58282 closed

[2020-06-24 11:28] elasticmachine commented on #58479
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-06-24 11:35] markharwood commented on #53175
I've [updated](https://github.com/elastic/elasticsearch/pull/58483) master and 7x branches with support for the `keyword` family. This also added a new method in `MappedFieldType` which can be overridden by other fields to declare family membership

[2020-06-24 11:38] #58345 closed

[2020-06-24 12:11] benwtrent opened #58489 "[ML] Update APIs that support _all to also use wildcarded parameters"
Many ML APIs support `_all` and `*` as parameters to grab ALL entries in a collection.

All APIs that support `_all` or `*` for gathering data should also support comma delimited patterns (e.g. `foo*,bar`).

Here is a list of our APIs with incomplete support:

- [x] `GET _ml/calendars/<calendar_id>/events`
- [x] `GET _ml/calendars/<calendar_id>`
- [x] `GET _ml/anomaly_detectors/<job_id>/model_snap

[2020-06-24 12:11] elasticmachine commented on #58489
Pinging @elastic/ml-core (:ml)

[2020-06-24 12:30] javanna commented on #55292
This test is failing again, failures are very similar to the previous ones:

[code]

https://gradle-enterprise.elastic.co/s/pm67pbkuwcgni/tests/:server:test/org.elasticsearch.transport.RemoteClusterServiceTests/testCollectNodes#1

[2020-06-24 12:32] javanna commented on #58433
I muted this test in 7.x and 7.8

[2020-06-24 12:53] simplenotezy commented on #25505
In my case I had to run: `sudo rm -rf /var/lib/elasticsearch/*` before it would work. I had previously had installed version 7.8, but had to downgrade to 6.5, and then I started facing these issues.

But beware, it might delete any data you have, but in my case, it was a fresh install.

[2020-06-24 12:56] javanna opened #58491 "Newly added ml data streams tests fail"
The following tests are failing on master as well as 7.x:

RegressionIT » testWithDatastream
DatafeedJobsIT » testLookbackOnlyDataStream
ClassificationIT » testWithDatastreams

The error message is slightly different but I think the root cause is the same on both branches:

java.lang.AssertionError: no proxy found for action: org.elasticsearch.action.admin.indices.datastream.CreateDataStreamAction

[2020-06-24 12:56] elasticmachine commented on #58491
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-06-24 12:56] elasticmachine commented on #58491
Pinging @elastic/ml-core (:ml)

[2020-06-24 13:00] javanna commented on #58491
These tests were recently added as part of #58280 .  cc @benwtrent . I am going to mute them for now.

[2020-06-24 13:22] jloleysens opened #58496 "[Snapshot & Restore] Issue with restoring a snapshot that contains a data stream"
**Elasticsearch version** (`bin/elasticsearch --version`): Latest `elasticsearch-oss-8.0.0-SNAPSHOT-darwin-x86_64.tar.gz`

**JVM version** (`java -version`): 12.0.2

**OS version** (`uname -a` if on a Unix-like system): Darwin 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64

**Description of the problem including expected versus actual

[2020-06-24 13:24] elasticmachine commented on #58496
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-06-24 13:27] martijnvg commented on #58496
I think upon restore, the Index instance in a data stream needs to be refreshed. If I remember correctly, the index uuid of an index changes when being restored.

[2020-06-24 13:50] DaveCTurner commented on #58373
We discussed this today and agreed to proceed.

[2020-06-24 13:54] benwtrent commented on #58491
These tests should only run if the feature flag is turned on.

I will see about adding a test assumption to conditionally skip based on that flag somehow.

[2020-06-24 14:00] Bukhtawar commented on #58373
Thanks @DaveCTurner should we work on the existing PR, or else we can start a new one

[2020-06-24 14:02] jimczi commented on #56236
We discussed this issue with the @elastic/es-distributed team and agreed that this change is a must-have for searchable snapshots availability. We also agreed that we can implement a generic solution for unassigned shards,  not only searchable snapshots, which simplifies the integration in the search layer.
@yannick brought the idea of limiting the delay to unassigned primary shards, which elimina

[2020-06-24 14:03] DaveCTurner commented on #58393
We discussed this today and would like to know more about the reasons for people using single-node discovery. We suggest using it in our Docker instructions and guess that this is the majority of the cases.

[2020-06-24 14:39] #54568 closed

[2020-06-24 14:46] imotov commented on #56748
@hackerwin7 I am not totally sure I understand your proposal. Are you suggesting to introduce a new role for nodes. So we could have something like coordinating-node -> partial-reduce-node -> data-node, and a coordinating node would distribute a request across several randomly choose partial-reduce-node, which will in turn talk to data-nodes? Is this the proposal? I see how this might reduce the m

[2020-06-24 14:47] imotov commented on #54382
@nik9000 have you ever figured this one out?

[2020-06-24 14:57] markharwood commented on #46213
This one has gone cold so closing - we can always reopen if required @flash1293

[2020-06-24 14:57] #46213 closed

[2020-06-24 14:59] imotov commented on #15616
@nknize @djptek it's been more than a year since we touched it, should we revisit it and revive it somehow?

[2020-06-24 15:11] DaveCTurner commented on #58373
I'd prefer a new one once #52680 is merged.

[2020-06-24 15:25] paulcoghlan commented on #58409
@original-brownbear - as discussed, you can look for `manage-keystore.sh` (wrapper around keystore binary) in the allocator service logs:  https://aws-eu-central-1-logging-staging-cloud.elastic.co/goto/e9fde89186ead7b0266ec5e628cae095

This will tell you if/when the keystore got updated.

[2020-06-24 15:26] nik9000 commented on #54382
Looks like I got it in #54447.  Sorry for the trouble!

[2020-06-24 15:26] #54382 closed

[2020-06-24 15:33] hendrikmuhs commented on #56270
data stream support has been added with #58280

I will open a new issue regarding improvements.

[2020-06-24 15:33] #56270 closed

[2020-06-24 15:37] djptek commented on #15616
hi @imotov if this is still useful I can merge #23009 to get this moving again just let me know

[2020-06-24 15:39] hendrikmuhs opened #58504 "[Transform] improve integration with data streams"
#56270 added data stream support for transform, this allows you to use transform like an index alias.

However, we can improve data stream support. _Incomplete_ list of ideas:

 - no need to configure the timestamp field in continuous mode
 - implement special check-pointing for data streams, e.g.
    - no need to store all sequence id's, the last index should be enough
 - improve performance

[2020-06-24 15:39] elasticmachine commented on #58504
Pinging @elastic/ml-core (:ml/Transform)

[2020-06-24 16:37] rjernst commented on #52428
While XPackRestIT still suffers from timeouts on MacOS, this failure was broader and fixed a while ago.

[2020-06-24 16:37] #52428 closed

[2020-06-24 16:52] imotov commented on #30841
Based on @jpountz comment this is not something that we are planning to implement in the near future. Should we close it?

[2020-06-24 17:03] tbrooks8 commented on #58433
This was unmuted in 7.x by #58505. That PR adds logging for information about failures.

[2020-06-24 17:14] #58491 closed

[2020-06-24 17:35] imotov commented on #35987
We don't have any immediate plans on fixing this issue at the moment. Closing.

[2020-06-24 17:35] #35987 closed

[2020-06-24 17:39] polyfractal commented on #17631
I'm going to close this, it doesn't seem to have gained much traction in the last four years.  Technically I think it would be pretty simple to build, but from a maintenance and prioritization perspective it doesn't seem like a good use of time.

If folks feel this would be useful, please leave a comment and we can always re-open! :)

[2020-06-24 17:39] #17631 closed

[2020-06-24 17:41] polyfractal commented on #28220
I think this can be closed, now that we are relying heavily on the real-memory circuit breaker in https://github.com/elastic/elasticsearch/pull/46751 and https://github.com/elastic/elasticsearch/pull/57042

[2020-06-24 17:41] #28220 closed

[2020-06-24 17:47] imotov commented on #15616
@nknize is this still useful?

[2020-06-24 17:53] polyfractal commented on #46877
We talked about this a long time ago but I forgot to update: we chatted and decided not to implement this.  We definitely saw the  utility, but the way things are handled internally means it is a nightmare to deal with technically (since different shards can potentially have different types, it gets very difficult quickly when dealing with different types on the fields and unmapped/missing/scripts

[2020-06-24 17:53] #46877 closed

[2020-06-24 18:01] jaymode commented on #58257
The team discussed this today and will work on getting support added for SHA256 to redline and then see about ospackage moving to that version of redline. Separately we will ensure we have packaging tests that will run in an environment with FIPS/OSPP enabled.

[2020-06-24 18:02] tumile commented on #56896
From my investigation, the 404 response from low-level client is parsed into an `ElasticsearchException`, which expects the response body to have an "error" field, in this case does not exist, so the following error is thrown and wrapped by `ElasticsearchStatusException`.

[code]

I think that this response should be treated as a successful response, regardless of the status code. I propose adding

[2020-06-24 19:12] benwtrent commented on #58395
@droberts195

What if we made the flush in the datafeed job asynchronous? This way the datafeed job thread can continue and handle the flush response in a callback.

We do need the latest finalized bucket in the datafeed to calculate the missing data. So, we could make flush asynchronous, protected with some mutexes and the datafeed should be able to continue executing.

[2020-06-24 20:07] LukeEvans opened #58515 "SLM Throwing IllegalArgumentException during snapshot retention"
**Elasticsearch version** (`bin/elasticsearch --version`):
Found in 7.7.1

**Description of the problem including expected versus actual behavior**:

It seems while SLM is checking for eligible snapshots to remove, if the number successful snapshots is less than the `minimumSnapshotCount`,  the following stack trace is seen:

[code]

**Steps to reproduce**:
Unknown

[2020-06-24 20:07] elasticmachine commented on #58515
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-06-24 20:12] imotov commented on #26294
I updated the script and I still can reproduce it in master.
[code]

I also did some digging and it turned out when we set data type we produce NumericTermsAggregator (instead of MapStringTermsAggregator as in the case with unknown value type) and NumericTermsAggregator doesn't set the scorer correctly in this case. I could also reproduce the same issue using value script instead of `value_type`:

[2020-06-24 20:17] original-brownbear opened #58516 "Reproducible Failure in org.elasticsearch.snapshots.SnapshotResiliencyTests.testSnapshotDeleteWithMasterFailover"
Just ran into this one locally on master:

[code]

Fails with:

[code]

[2020-06-24 20:17] elasticmachine commented on #58516
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-06-24 20:48] jayaramcs commented on #43550
@LeeDr Do you know if this is supported in Kibana at this time? I am unable to figure out how to do this and my search ultimately lead me here.

[2020-06-24 21:24] dakrone commented on #58404
I think it could make sense to make the parent breaker (or any of the breakers, actually) have a durability that can change.

For instance, along the lines of your first idea, I think we could implement a [token bucket](https://en.wikipedia.org/wiki/Token_bucket) for the number of times that the breaker trips within an interval. We could set it to something sane where exhausting the bucket (ie, tr

[2020-06-24 23:06] russcam commented on #58398
I'm closing this issue in favour of https://github.com/elastic/elasticsearch-rs/issues/112

[2020-06-24 23:06] #58398 closed

[2020-06-24 23:21] jtibshirani commented on #57548
A couple other ideas:
* Now that we've add the notion of a 'field type family' in #53175, it would be good to surface these families in the docs. For example, `keyword`, `constant_keyword`, and `wildcard` could be grouped together.
* In the overview page, we could indicate which field types are OSS vs. licensed (?)

[2020-06-24 23:29] jtibshirani commented on #53175
Now that we've decided we're okay having 'field type families' in certain circumstances (and have a lightweight way to add new families thanks to @markharwood), I suggest we close this issue. To add future families, we can open dedicated issues/ PRs and have a discussion there.

I also added a note to #57548 about adding the concept of a 'field type family' to our docs. I think it'd be helpful to

[2020-06-25 01:34] Bukhtawar opened #58522 "Support for GC Collection usage stats"
## Problem Description

JVM stats published today represents the point in time usage of the heap across pools. While
`MemoryPoolMXBean#getCollectionUsage` based on [docs](https://docs.oracle.com/javase/8/docs/api/java/lang/management/MemoryPoolMXBean.html#getCollectionUsage--)

"_Returns the memory usage after the Java virtual machine most recently expended effort in recycling unused objects in th

[2020-06-25 03:27] jtibshirani opened #58523 "Add 'singleton' flag to field mappers?"
Datastreams have a first-class concept of a timestamp field. Each document in the datastream must contain exactly one value for the designated timestamp field, so that we know where to route the document when partitioning by time. In #58582 we're adding index-time validation for this requirement. The current implementation is very narrow in scope and adds special document parsing logic just for da

[2020-06-25 03:27] elasticmachine commented on #58523
Pinging @elastic/es-search (:Search/Mapping)

[2020-06-25 05:27] tvernum commented on #58396
All of Elastic's deployments/distributions of ES (whether cloud hosted, or installed on premises) support some sort of username+password authentication. We don't really run into cases where we people need reindex to work across a different authentication scheme.

[2020-06-25 08:46] jakommo commented on #58376
Nice, thanks for the quick fix @DaveCTurner !

[2020-06-25 09:02] matriv commented on #51619
One more similar instance: https://gradle-enterprise.elastic.co/s/qy3vyaetj2ovq

[code]

[code]

[2020-06-25 09:35] fbaligand opened #58564 "Testing documentation disappeared since Elasticsearch 7.6"
Hi,

Until Elasticsearch 7.5, there is "testing" documentation available:
https://www.elastic.co/guide/en/elasticsearch/reference/7.5/testing.html

But since Elasticsearch 7.6, the documentation section has disappeared:
https://www.elastic.co/guide/en/elasticsearch/reference/7.6/testing.html

Is it a miss? If so, can you recover it?

[2020-06-25 09:36] matriv opened #58529 "[CI] :x-pack:plugin:autoscaling:test fails on 7.8"
**Build scan**: https://gradle-enterprise.elastic.co/s/3vxkfi5pjhshe

**Repro line**: ---

**Reproduces locally?**: No

**Applicable branches**: 7.8

**Failure history**:
https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!f,value:7200000),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(_source),index:f0e86d70-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(langua

[2020-06-25 09:36] elasticmachine commented on #58529
Pinging @elastic/es-distributed (:Distributed/Autoscaling)

[2020-06-25 09:36] ianmuscat commented on #56769
If it helps, this was my use case for needing this feature https://discuss.elastic.co/t/split-json-array-into-multiple-events-using-ingest-pipelines/238519

[2020-06-25 09:56] DaveCTurner opened #58531 "Former master reports "failed to reassign persistent tasks" repeatedly"
Following a slightly messy master election I saw a 7.6.1 cluster with the two unelected master nodes both reporting this message every 30 seconds apparently indefinitely:

[code]

Possibly there's a race in the `PersistentTasksClusterService` around election time? Not sure, I am not very familiar with this area.

[2020-06-25 09:56] elasticmachine commented on #58531
Pinging @elastic/es-distributed (:Distributed/Task Management)

[2020-06-25 09:57] pugnascotia opened #58532 "MlDistributedFailureIT.testFullClusterRestart failed"
**Build scan**:

https://gradle-enterprise.elastic.co/s/jeoql6ppg2iku/console-log?task=:x-pack:plugin:ml:internalClusterTest

**Repro line**:

`./gradlew ':x-pack:plugin:ml:internalClusterTest' --tests "org.elasticsearch.xpack.ml.integration.MlDistributedFailureIT.testFullClusterRestart" -Dtests.seed=DD96E9D2F4821BAF -Dtests.security.manager=true -Dtests.locale=fr-BE -Dtests.timezone=US/Mountain -

[2020-06-25 09:57] elasticmachine commented on #58532
Pinging @elastic/ml-core (:ml)

[2020-06-25 09:57] matriv opened #58533 "[CI] MlDistributedFailureIT#testFullClusterRestart"
**Build scan**: https://gradle-enterprise.elastic.co/s/jeoql6ppg2iku

**Repro line**: `./gradlew ':x-pack:plugin:ml:internalClusterTest' --tests "org.elasticsearch.xpack.ml.integration.MlDistributedFailureIT.testFullClusterRestart" -Dtests.seed=DD96E9D2F4821BAF -Dtests.security.manager=true -Dtests.locale=fr-BE -Dtests.timezone=US/Mountain -Druntime.java=11`

**Reproduces locally?**: No

**Applica

[2020-06-25 09:57] elasticmachine commented on #58533
Pinging @elastic/ml-core (:ml)

[2020-06-25 10:09] markharwood commented on #57548
I added a short comment[ in the field caps docs](https://github.com/elastic/elasticsearch/pull/58483/files#diff-87e8289b86ba3f98ad31a98fa6636dc9) but I imagine it could be expanded on.

[2020-06-25 10:33] droberts195 commented on #58531
This is a silly bug.  If a persistent task cannot be immediately reassigned and has caused periodic rechecks to be scheduled (on the master node at that time) then those rechecks continue to be rescheduled regardless of whether the node is still the master.  I will open a PR to fix it.

[2020-06-25 11:24] matriv opened #58534 "[CI] org.elasticsearch.xpack.ccr.FollowerFailOverIT#testFailOverOnFollower"
Failing on master

**Build scan**: https://gradle-enterprise.elastic.co/s/jm5pkdiktr2zq

**Repro line**:
[code]

**Reproduces locally?**: No

**Applicable branches**: master

**Failure history**:
https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!f,value:7200000),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-bf69-63c8ef516157,in

[2020-06-25 11:25] elasticmachine commented on #58534
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-06-25 11:45] jasontedor commented on #58529
This looks like a build issue, not an autoscaling issue.

[2020-06-25 11:45] elasticmachine commented on #58529
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-06-25 12:26] benwtrent commented on #58533
closing as duplicate of: https://github.com/elastic/elasticsearch/issues/58532

[2020-06-25 12:26] #58533 closed

[2020-06-25 13:04] jrodewig opened #58543 "[DOCS] Update index template example in ILM automate rollover tutorial"
The index alias section of the ILM automate rollover tutorial uses a legacy
index template:

https://www.elastic.co/guide/en/elasticsearch/reference/master/getting-started-index-lifecycle-management.html#ilm-gs-alias-apply-policy

We should update this section to use a corresponding composable template.

[2020-06-25 13:04] elasticmachine commented on #58543
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-06-25 13:04] elasticmachine commented on #58543
Pinging @elastic/es-docs (>docs)

[2020-06-25 13:08] jloleysens opened #58544 "[SLM] Capturing global state in snapshot also captures data streams"
**Elasticsearch version** (`bin/elasticsearch --version`): Snapshot of latest building artifact at time of issue creation `elasticsearch-oss-8.0.0-SNAPSHOT-darwin-x86_64.tar.gz`

**JVM version** (`java -version`): openjdk 12.0.2 2019-07-16

**OS version** (`uname -a` if on a Unix-like system): Darwin 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X

[2020-06-25 13:09] jloleysens commented on #58474
Partly related to: https://github.com/elastic/elasticsearch/issues/58496

[2020-06-25 13:11] elasticmachine commented on #58544
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-06-25 13:41] tarunbhorhari commented on #41189
I also faced the same issue::

 Then below versions worked for me

`<dependency>
      <groupId>org.elasticsearch</groupId>
      <artifactId>elasticsearch</artifactId>
      <version>6.7.1</version>
    </dependency>

    <dependency>
      <groupId>org.elasticsearch.client</groupId>
      <artifactId>elasticsearch-rest-high-level-client</artifactId>
      <version>6.7.1</version>
    </dependenc

[2020-06-25 14:09] original-brownbear commented on #58515
@dakrone ah sorry I though I could fix it right away last night but then got distracted by other stuff and will be for the ~next two days. Please feel free to go ahead with fixing this one if you have the time. I'll reassign to you, also feel free to push it back to me if you don't have the time <= we should fix it swiftly for Cloud.

[2020-06-25 14:15] #58531 closed

[2020-06-25 14:16] Anyrob commented on #55065
Thank you @matriv I'm still working on it, I have a few doubts about the translation of specific symbols as:
- For example, the "%U,%u,%V,%v" (MySQL) I'm replacing those as "w" (JAVA), am I right?
- Also %f (Microseconds) has no proper translation, what should I do in that case?

[2020-06-25 15:06] #58353 closed

[2020-06-25 15:10] matriv commented on #55065
I'd say yes, but we need to properly document that they would all result in computing the week starting from Monday (If I remember correctly for Java's `w`).

I think you can simply use `S` and for a MySQL pattern it will go up to 6 digits so 6 `S`s.

[2020-06-25 15:17] #58395 closed

[2020-06-25 15:27] dakrone commented on #58544
Worth noting for this that it's not SLM-specific, regular snapshots would exhibit this same behavior.

[2020-06-25 15:29] dakrone commented on #58543
Relates to #56387

[2020-06-25 15:37] Bukhtawar commented on #58404
Thanks @dakrone if the request rate is low and the percentage of trip is high, lets say with the limit of 100/min, lets say the node receives just 50 and trips for all, should that case not be `PERMANENT ` too. Wondering if percentage of request trip adds value.

Do you think a `PERMANENT` durability should be actionable as well

[2020-06-25 15:45] danhermann commented on #58496
We plan to fix this by including only the name of the backing indices in the data stream rather than the name and UUID since the latter would change during a snapshot restore.

[2020-06-25 15:47] dakrone commented on #58404
I think that depends on what we consider actionable, the permanent durability label is intended to signify that the error is unlikely to go away without some kind of human user intervention; so I guess I am asking what you mean by "actionable"?

[2020-06-25 15:47] eddieturizo opened #58557 "Encrypt data at rest"
Consider adding support for encrypting Elasticsearch indices on disk.

[2020-06-25 15:52] Bukhtawar commented on #58404
Possible actions
1.  Moving the shards(eg: top field data consumer) off the node
2. Clearing cache
3. Trip ping requests too, so that the node is removed from the cluster

[2020-06-25 16:00] dakrone commented on #58404
Hmm... those options I am concerned with. For any of those to be effective requires a holistic view of more than the single node in question—moving a shard for example—may exacerbate problems that other nodes may also be experiencing, clearing the cache may lead to cache churn (assuming that the data in the cache is being used) and hide the underlying problem of a cache that needs to have its limi

[2020-06-25 16:01] dakrone commented on #58404
I do think this is worth pursuing, to be clear, I am just not convinced for the other possible actions you mentioned

[2020-06-25 16:07] przemekwitek commented on #57874
As of today `MachineLearning` is a `SystemIndexPlugin` and both `.ml-meta` and `.ml-config` indices are returned via `MachineLearning::getSystemIndexDescriptors` method.
As per discussion with the implementors of system indices functionality, no additional changes are needed on our side so I'm closing this issue.

[2020-06-25 16:07] #57874 closed

[2020-06-25 16:11] Anyrob commented on #55065
Thank you @matriv! I keep you up to date

[2020-06-25 16:13] Bukhtawar commented on #58404
Thanks @dakrone  I agree with you as long as we can reliably mark a node to be broken(reflective of a permanent issue requiring manual intervention), it should still be fine. Let me know if percentage based trip approach within a moving window works. I'll get started on a PR to address the same

[2020-06-25 16:17] droberts195 commented on #57874
I have a feeling this will not be the case forever.  It sounds like the current implementation of system indices does not lock them down as much as they're intended to be locked down eventually.

When they are fully locked down I bet we will find we have test cases that access the indices in non-standard ways for initial setup or test assertions.

I think there is going to be a backdoor way for su

[2020-06-25 16:29] danhermann commented on #54783
This feature was added in https://github.com/elastic/elasticsearch/pull/57030.

[2020-06-25 16:29] #54783 closed

[2020-06-25 17:03] jrodewig opened #58562 "[Data streams] Search all requests do not resolve to data streams"
**Elasticsearch version** (`bin/elasticsearch --version`): Latest `elasticsearch-8.0.0-SNAPSHOT-darwin-x86_64.tar.gz`

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "14" 2020-03-17
OpenJDK Runtime Environment AdoptOpenJDK (build 14+36)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 14+36, mixed mode, sharing)

**OS version** (`uname -a` if on a Unix-like system):
Darw

[2020-06-25 17:03] elasticmachine commented on #58562
Pinging @elastic/es-search (:Search/Search)

[2020-06-25 17:03] elasticmachine commented on #58562
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-06-25 17:21] lcawl commented on #58564
I'm transferring this issue to the elasticsearch repo since it pertains to this source file: https://github.com/elastic/elasticsearch/blob/7.5/docs/reference/testing.asciidoc

[2020-06-25 17:29] Bukhtawar commented on #57400
I have noticed a similar issue in 7.4 as well. I believe this issue is still not fixed. @romseygeek can you please confirm

<img width="1272" alt="Screenshot 2020-06-25 at 12 53 18 PM" src="https://user-images.githubusercontent.com/12809319/85769056-44963380-b737-11ea-8179-50d3facc06d4.png">

<img width="1276" alt="Screenshot 2020-06-25 at 12 59 25 PM" src="https://user-images.githubusercontent.co

[2020-06-25 17:44] erickmp07 commented on #57950
I'd like to try.

[2020-06-25 17:54] jasontedor commented on #58564
Relates #55257

[2020-06-25 18:04] imotov commented on #8825
@nknize is this still something we want to do?

[2020-06-25 18:10] tumile commented on #49087
@pgomulka Hi, I'd like to help with refactoring ESLoggerUsageChecker. Could you assign it to me?

[2020-06-25 18:24] imotov commented on #18691
@nknize is this something that we still want to do?

[2020-06-25 18:27] imotov commented on #26220
@polyfractal should we assign these as well after we are done with the issue spring cleaning? :smile_cat:

[2020-06-25 18:28] imotov commented on #47815
@talevy do we still want to do that?

[2020-06-25 18:34] talevy commented on #47815
I, personally, do not see why this should not be supported. That being said, the silence on this issue reflects a lack of demand for this feature...

[2020-06-25 18:36] imotov commented on #47815
I think it should help consistency. I will keep it open for now, but we can discuss it in a team meeting if needed.

[2020-06-25 18:44] original-brownbear commented on #58516
This was "accidentally" fixed by #58560

[2020-06-25 18:44] #58516 closed

[2020-06-25 18:49] imotov commented on #25337
This is basically a slightly different version of #26294. In both cases collector doesn't get scorer set which results in `_score` always being 0. This one has a slightly different code path comparing to #26294 so I am going to leave it open to make sure this path is covered as well.

[2020-06-25 18:49] imotov commented on #26294
Found a slightly different version of the same issue in #25337.

[2020-06-25 19:03] imotov commented on #11728
In #31532 we decided not to deprecate "value scripts", which are still not very well documented. I am not getting cryptic failure messages anymore. The first example works as expected. We could add a deprecation warning on absence of `_value` in the script, but I am not sure that's the best approach here.

[2020-06-25 19:08] grgAditya commented on #54964
Hi is someone working on this or I can take this up?

[2020-06-25 19:25] alexis-anzieu-ssense opened #58568 "Clone API is not working as expected in ES 7.1"
Running on **Elasticsearch 7.1**
Regarding the documentation I should be able to clone an existing index with settings: https://www.elastic.co/guide/en/elasticsearch/reference/7.x/indices-clone-index.html

However when I do this call:
[code]

It sends me back
[code]

It seems like a new feature on ES 7 so I should maybe use reindex API instead, or it may be fixed in the newest version, just to let

[2020-06-25 19:33] #58515 closed

[2020-06-25 19:35] original-brownbear commented on #58515
Thanks for fixing this so quickly Lee!

[2020-06-25 19:35] jimczi commented on #58568
This feature was released in `7.4` so it's not available in the version you're using (`7.1`).
You should upgrade to a more recent version.

[2020-06-25 19:35] #58568 closed

[2020-06-25 20:01] nik9000 opened #58573 "Experimental feature: variable_width_histogram"
In #42035 @jamesdorfman added a neat new kind of aggregations which performs similarly to a regular [`histogram`](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-histogram-aggregation.html) but instead to specifying the width of each bucket you specify how many buckets you'd like, kind of like the [`auto_date_histogram`](https://www.elastic.co/guide/en/el

[2020-06-25 20:01] elasticmachine commented on #58573
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-06-25 20:09] alexis-anzieu-ssense commented on #58568
Looks legit, thank you!

[2020-06-25 20:13] mark-vieira commented on #56722
One thing I ran into here is that it's going to be problematic to use the shadowjar as the test artifact here. To do so, we have to exclude any dependencies from the test classpath that are bundled in the JDBC driver fatjar (things like core libs, etc). The problem is, then we use the libraries from the BWC jar when testing, which causes errors like this:

https://gradle-enterprise.elastic.co/s/cx

[2020-06-25 20:19] not-napoleon commented on #50120
Blocked by #50863 - multi-pass aggregation support

[2020-06-25 20:19] mark-vieira commented on #56722
I'm struggling to find a good way forward here given the way these tests are currently architected. The problem is our `:test:framework` code brings in `:server` and other core libraries which are going to class with the same classes coming in from the JDBC driver jar. In my mind we have two options here if we want to do compatibility testing with older JDBC driver jars:

1. We rearchitect the tes

[2020-06-25 20:52] mark-vieira commented on #56722
I'll add a third item:

3. We don't use `ESRestTestCase`, remove the dependency on `:test:framework` altogether and directly extend `LuceneTestCase` for these tests. I don't see much need to use `ESRestTestCase` anyhow.

[2020-06-25 20:55] mark-vieira commented on #56722
Ok item (3) likely won't work since these tests rely on `RestClient` to setup test data.

[2020-06-25 20:59] bperalta opened #58576 "Ordered intervals query could match a wrong document"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.8.0 docker image

**Plugins installed**: []

**JVM version** (`java -version`): openjdk version "1.8.0_252"

**OS version** (`uname -a` if on a Unix-like system): Linux insight-bperalta.private.mesao.com 3.10.0-1127.8.2.el7.x86_64 #1 SMP Tue May 12 16:57:42 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including e

[2020-06-25 21:02] arunabh23 opened #58577 "IndicesQueryCache consuming the entire JVM Heap (7.4.2)"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.4.2

**JVM version** (`java -version`): jdk-11

**OS version** (`uname -a` if on a Unix-like system): Linux

**Description of the problem including expected versus actual behavior**: The node query cache on two of the nodes for an 18 node cluster (15 data nodes, 3 master nodes) had 99% JVM heap_used_percent. Node query cache settings are

[2020-06-25 21:57] jimczi commented on #58577
Thanks for reporting @arunabh23 . This is a known [issue](https://issues.apache.org/jira/browse/LUCENE-9022) that we fixed in Lucene 8.3. Parent join queries should never be cached because they hold a lot of pre-aggregated informations that are not accounted in the cache. You should upgrade to a most recent 7.x version (latest is `7.8.0` and the first version that contains the fix is `7.5`) so I h

[2020-06-25 21:57] #58577 closed

[2020-06-26 00:11] P1llus commented on #55541
A bit unsure why this was marked as closed by me, must have been a missclick

[2020-06-26 01:15] #53175 closed

[2020-06-26 06:10] xingkuan commented on #37901
i run into this issue as well. Any update?  -Thanks.

[2020-06-26 06:29] #57019 closed

[2020-06-26 08:19] przemekwitek commented on #57874
That's my feeling too after talking to Jay and Gordon.

+1
If there is any work that comes up related to system indices (e.g.: adjusting tests), we will address it then.

[2020-06-26 08:19] #57927 closed

[2020-06-26 08:25] jimczi commented on #58576
None of this query should match. They have a `max_gaps` of 1  and the matching words are separated by more than 1 term.
Removing the `max_gaps` option work as expected, however
I tested with `7.8` and it works correctly, however, when playing with `max_gaps` I realized that the caching of the query has a [bug](https://github.com/apache/lucene-solr/blob/7c1ba1aebeea540b67ae304deee60162baee2e12/luce

[2020-06-26 08:25] elasticmachine commented on #58576
Pinging @elastic/es-search (:Search/Search)

[2020-06-26 08:41] pgomulka commented on #49087
@tumile I don't have the exact plan on how to refactor this yet. I was hoping there is a tool that would achieve what that tool is doing. If you came up with ideas, please share them with us (new issue would be good) before you start working on implementation.

[2020-06-26 09:05] martijnvg commented on #58406
Data stream tests have been muted in the 7.8 branch.

[2020-06-26 09:05] #58406 closed

[2020-06-26 09:22] ebuildy commented on #9693
Good idea, this is really blocking for basic alerting , if we want an alert as soon as a thread is rejected.

[2020-06-26 09:42] martijnvg opened #58583 "Make timestamp field mapping part of data stream definition"
Currently when creating a composable index template with a data stream definition, the timestamp field mapping must be defined too:

[code]

The template is much cleaner to read if the mapping itself for timestamp field mapping
is inlined with the data stream definition:

[code]

Also since most of time, just `"type": "date"` will be provided, it makes sense to make this the default:

[code]

In t

[2020-06-26 09:42] elasticmachine commented on #58583
Pinging @elastic/es-search (:Search/Mapping)

[2020-06-26 09:42] elasticmachine commented on #58583
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-06-26 10:27] Bukhtawar opened #58586 "Improve leader node-left logging to indicate timeout/coordination state rejection"
## Problem
Production systems generally don't have debug logging enabled, to look at historical reasons for `node-left` reasons it becomes tricky to find if follower rejected with `CoordinationStateRejectedException`  causing `followers check retry count exceeded` or was it a slow node with maybe long GC or slow resource which failed to respond back within the default `10s` timeout.

While I under

[2020-06-26 11:10] swidom-exparency commented on #37901
I have no update and never heard back from ElasticSearch.   I ended up having to go back to Java 8.
-Steve
    On Friday, June 26, 2020, 01:10:35 AM CDT, xingkuan <notifications@github.com> wrote:

i run into this issue as well. Any update? -Thanks.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-26 11:27] przemekwitek opened #58589 "Duplicate model change annotations in some QA jobs"
Reported by @wwang500 :
in some jobs, like  art_daily_flatmiddle_1592964952_790_2715 , we are getting duplicated annotations, no by_field or partition_field

<img width="2542" alt="Screen Shot 2020-06-24 at 11 00 30 PM" src="https://user-images.githubusercontent.com/19312454/85852314-9f1fa600-b7b0-11ea-991e-0649eee7096a.png">
<img width="2550" alt="Screen Shot 2020-06-24 at 11 00 58 PM" src="https

[2020-06-26 11:27] elasticmachine commented on #58589
Pinging @elastic/ml-core (:ml)

[2020-06-26 11:28] przemekwitek commented on #58589
Here is the config of the job in question:
[code]

Indeed, no partition/by/over fields are configured and there is only 1 detector so there must be another source of duplicates.

[2020-06-26 13:03] romseygeek commented on #58576
The `max_gaps` value is taken into account, as it's part of the filter name (`MAXGAPS/1` vs `MAXGAPS/2`) - there shouldn't be cache pollution here.

[2020-06-26 13:29] pgomulka opened #58602 "[6.8] Incorrect week based parsing with java.time"
related to this bug #41670 and fixed in v7.6+ PR fix #48349
affecting 6.8

week based dates are parsed in java.time with Sunday,1 calendar data rule. We cannot change this with java.locale.providers as that flag allows using SPI since jdk9+ (jdk8 is supported in 6.8)

reproduce
[code]
[code]
results in
[code]
and since 7.6 it returns fine.

then when searching

[code]
correct
[code]

[2020-06-26 13:29] elasticmachine commented on #58602
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-06-26 13:45] nik9000 opened #58605 "PluginCliTests fail on windows"
**Build scan**:
[scan](https://gradle-enterprise.elastic.co/s/u7e46d62t4hfy/tests/:qa:os:destructiveDistroTest.default-windows-archive-no-jdk/org.elasticsearch.packaging.test.PluginCliTests/test20SymlinkPluginsDir#1)

**Repro line**:

**Reproduces locally?**:

**Applicable branches**: master and 7.x

**Failure history**:

**Failure excerpt**:
[code]

[2020-06-26 14:57] imotov commented on #10791
I cannot reproduce it in master anymore. I am getting the following error message:
[code]

If it is still reproducible somewhere, please free to reopen.

[2020-06-26 14:57] #10791 closed

[2020-06-26 15:12] chingis-elastic commented on #28026
Hey team, sorry to dig up an old issue but we just [hit](https://github.com/elastic/cloud/issues/61202) this during cloud-observability upgrade (from 6.8 to 7.8). Some of our clusters have setting
[code]
which is apparently not supported in 7.x and hence got `archived.*`. I wonder why there wouldn't be an additional check/action in 7.x upgrade assistant to remove unsupported settings? Because when

[2020-06-26 15:15] robmartin-scibite opened #58613 "Can't define meta property on nested field"
When I try and set the meta mapping parameter (https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-field-meta.html) on a field of type `nested` I get mapper_parsing_exception:
[code]
Results in an error:
[code]

[2020-06-26 15:47] romseygeek commented on #58576
So this is a bug in the ORDERED algorithm (and it appears to be a problem in the initial paper as well).  I opened https://issues.apache.org/jira/browse/LUCENE-9418 to fix it.

[2020-06-26 16:01] elasticmachine commented on #58613
Pinging @elastic/es-search (:Search/Mapping)

[2020-06-26 16:01] martijnvg commented on #58583
This issue was discussed and the fact that the required field mapping has to be configured the template mapping is confusing since the timestamp field name has to be configured in the data stream definition. Especially when getting started with data streams (and Elasticsearch). Also making timestamp field mapping optional, also improves the getting started experience.

Further more it should still

[2020-06-26 16:02] elasticmachine commented on #58586
Pinging @elastic/es-distributed (:Distributed/Cluster Coordination)

[2020-06-26 16:05] elasticmachine commented on #58557
Pinging @elastic/es-distributed (:Distributed/Distributed)

[2020-06-26 16:06] nik9000 commented on #58557
I'm sure we've talked about this in the past but not sure where we landed. I also don't know really which team it'd land on either, so I picked "distributed" because I expect they'll know better than I do what to do with this.

[2020-06-26 16:08] elasticmachine commented on #58522
Pinging @elastic/es-core-infra (:Core/Infra/Logging)

[2020-06-26 16:12] bpintea commented on #57950
@erickmp07 many thanks for your offer. I'll take care of this issue.

[2020-06-26 16:17] elasticmachine commented on #58557
Pinging @elastic/es-security (:Security/Security)

[2020-06-26 16:20] eddieturizo commented on #58557
For what it is worth, the support knowledge base article we share with customers talks about how Elastic decided encrypting data at rest is better handled by a tool like `dm-crypt` rather than baking those mechanisms into Elasticsearch.

[2020-06-26 16:30] lockewritesdocs commented on #57486
After discussion with the larger team, we decided to add the ESS icon for ES settings supported on Cloud, but not produce a full list. A separate PR will be opened by @gtback to develop an automated solution that reads through the ES configuration settings code and pulls tagged content for supported settings into a Cloud settings page.

This automated approach reduces maintenance overhead and ensu

[2020-06-26 16:36] jkakavas commented on #58557
-->

Not necessarily saying that we shouldn't discuss this again, but we did discuss it fairly recently and the outcome was the above.

[2020-06-26 17:14] ebeahan commented on #53603
Great discussion here all!

@markharwood - Wishing to clarify an earlier discussion point:

Some field types outright reject some query types (eg wildcard currently doesn't do fuzzy) while others will attempt to perform a query type but not nearly as fast as other field types because their data structures aren't optimised for that case. For this reason it's not always a yes/no supported-features m

[2020-06-26 17:20] jimczi commented on #53603
The `wildcard` field should behave exactly like a ` keyword` field. That was the requirement to release this field in 7.x and it was achieved in time for ` 7.9`. That means that you can use a `keyword` or a `wildcard` field seamlessly in  all mappings, they should return the same documents on every requests.

[2020-06-26 17:41] erickmp07 commented on #53282
I'd like to try.

[2020-06-26 19:37] nik9000 commented on #58573
We should almost certainly fix `variable_width_histogram` when it attempts to collect from many buckets, as described in #58619.

[2020-06-26 20:02] cataclysdom commented on #58147
You’re right, you can do any of those things with the current implementation but with added complexity and additional maintenance.  This feature request seeks to enhance pipeline management or change the default ingest node failure response.

Elasticsearch’s default indexing behavior with unknown data is to automatically create an index and dynamically create fields.  Logstash’s default failure be

[2020-06-26 22:10] nknize opened #58627 "[CI] RecoveryRequestTrackerTests.testIdempotencyIsEnforced failed on 7.x"
Build: https://gradle-enterprise.elastic.co/s/st676wtk24nle

Reproduces with:

[code]

Error:
[code]

Looks like this particular test has failed on 7.x a few times but was related to #57199. This may be a red herring?

[2020-06-26 23:45] rjernst commented on #58605
I was able to reproduce this by using java 8 SYSTEM_JAVA_HOME with the windows no-jdk archive. It appears java 8 has included some behavior which went into java 9 regarding canonical paths. I'm backporting the change we already have in master to always use the more extensive permissions we add for java9+: https://github.com/elastic/elasticsearch/pull/58628.

[2020-06-27 01:19] rjernst commented on #58605
Closed by #58628

[2020-06-27 01:19] #58605 closed

[2020-06-27 01:49] rjernst commented on #31193
Debian 8 was removed from packaging tests and CI for 8.0.

[2020-06-27 01:49] #31193 closed

[2020-06-27 04:16] chovy commented on #18022
how do i do this with docker-compose?

[2020-06-27 06:50] elasticmachine commented on #58544
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-06-27 13:01] GustBM commented on #50293
If the issue is still on i'd like to give it a try

[2020-06-27 14:09] benoitvidis opened #58633 ""Error while loading partitions file from com/amazonaws/partitions/endpoints.json" when creating repository/sending snapshot to s3 with kvm encryption enabled"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.4.3

**Plugins installed**:

- analysis-stempel
- discovery-ec2
- repository-s3

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system): Ubuntu server Xenial

**Description of the problem including expected versus actual behavior**:

After installing a new plugin (`analysis-stempel`) on an existin

[2020-06-27 14:19] halaei opened #58634 "_routing without hash function / with custom hash function"
Currently, the following formula is used to compute the shard number base on _routing param:

    shard_num = hash(_routing) % num_primary_shards

In which the hash function seems not be configurable. It is desirable to be able to disable hash function, provided _routing param is a valid integer.
### My use case
We have ~1 million documents, half of which are visible to all the users, and the othe

[2020-06-28 03:43] hackerwin7 commented on #56748
@imotov
Yes, the partial-reduce-node is a role to share the responsibility to receive the partial merge to compute and prune the results, the compute flow of search may be like this:

coordinate-node -> data-node -> reduce node (shuffle or reroute the shard results into reduce node to merge partially and in parallel, this is phase-1 merge, it is distributed and in parallel) -> coordinate-node (fin

[2020-06-28 06:18] mehmetanbaki opened #58636 "Localhost"
Can I use the elastic with mysql phpmyadmin localhost

[2020-06-28 08:44] costin commented on #56722
Thanks for looking into this @mark-vieira. Both (1) and (2) work for me - I have a slight preference towards (2) since, despite not being a fan of shadowing packages, medium term this might prove beneficial as embedding JDBC drivers in other Java apps that use ES, will lead to the same problem that you are facing - classpath issues.
So moving all packages out of the way would address both problems

[2020-06-28 10:15] benjam1n77 opened #58638 "elasticsearch rollup: how the rolled response and live response combine"
When I use _rollup_search api, the searchRequest become into a multisearchRequest including an original SearchRequest and a rewritten SearchRequest, and I get a multisearchResponse including a live Response and a rolled Response. But I am a little confused of how the live Response and rolled Response combine. For example,

the live response:
[code]

the rolled response：
[code]

what I expect  of

[2020-06-28 20:50] jasontedor commented on #58636
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2020-06-28 20:50] #58636 closed

[2020-06-29 03:13] shotecorps opened #58643 "component template cannot update after ES7.8 reboot"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.8.0

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk 14.0.1 2020-04-14
OpenJDK Runtime Environment AdoptOpenJDK (build 14.0.1+7)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 14.0.1+7, mixed mode, sharing)

**OS version** (`uname -a` if on a Unix-like system):
Linux ubuntu 4.15.0-106-generic #107-Ubuntu SMP Thu Jun 4

[2020-06-29 03:22] elasticmachine commented on #58643
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-06-29 03:59] #54317 closed

[2020-06-29 05:30] jkakavas opened #58644 "Tests in fips mode fail with JDK15"
**Build scan**: https://gradle-enterprise.elastic.co/s/ttilod4hhmvje ( indicative example )

**Repro line**: N/A

**Reproduces locally?**: yes

**Applicable branches**: all

Since we started using build29 of JDK15 ea, tests fail in fips mode since an exception is thrown when attempting to get an instance of SecureRandom. This is reported in http://bouncy-castle.1462172.n4.nabble.com/Default-Secure

[2020-06-29 06:16] jkakavas opened #58645 "Re-enable FIPS tests in CI for 6.8"
6.8 has diverged quite a bit from 7.x and master in terms of our build infrastructure so backporting the changes made to enable fips testing there were not straightforward. However, 6.8 will be with us for a long time ahead and we need to re-enable running CI tests there in FIPS mode

[2020-06-29 06:16] elasticmachine commented on #58645
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-06-29 06:16] elasticmachine commented on #58645
Pinging @elastic/es-security (:Security/Security)

[2020-06-29 06:32] costin opened #58646 "EQL: Most recent matches returned by default"
When no order is specified (`tail` or `head`), EQL should return the most recent X matches (similar to how ES does for search).

This is different than Python EQL which returns the earliest matches first (time ASC). For compatibility purposes this behavior can be enabled (without modifying the query) through a dedicated parameter (say `default_order` or `missing_order`) which can be `ASC`/`DESC`.

[2020-06-29 06:32] elasticmachine commented on #58646
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-06-29 06:35] costin commented on #58646
@tsg Just so you're aware.
@rw-access tag for awareness/propagating the change on the endpoint side.

[2020-06-29 07:01] hackerwin7 opened #58647 "Aggregations can be bottlenecked on ChildMemoryCircuitBreaker.limit()"
In the method of `ChildMemoryCircuitBreaker.addEstimateBytesAndMaybeBreak()`, the `limit()` method would do while loop atomically compare and set the `used` value.

when we test the high qps query to ES-node, the major cost is `ChildMemoryCircuitBreaker.limit()` which cause to `AggregationPhase.preProcess()`'s cost is extremely high

If data node receive high qps complicated search request body, a

[2020-06-29 07:13] DaveCTurner commented on #28026
@chingis-elastic that this was not caught ahead of the upgrade sounds like it might be a bug somewhere in the deprecation or upgrade assistance areas. Would you open a new issue for it to make sure that gets investigated? Closed issues like this don't normally see any further activity.

[2020-06-29 07:29] dimitris-athanasiou commented on #58433
We got another failure:

Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_RUNTIME_JAVA=corretto11,nodes=general-purpose/67/console

Build scan: https://gradle-enterprise.elastic.co/s/ze4cm4anbcrkk

This should have the added logging in.

[2020-06-29 07:32] dimitris-athanasiou commented on #58534
Another failure in: https://gradle-enterprise.elastic.co/s/t5ncm7jvhfo3k

[2020-06-29 07:59] #58496 closed

[2020-06-29 08:31] dimitris-athanasiou opened #58651 "[CI] SamlAuthenticatorTests.testSuccessfullyParseContentFromEncryptedAssertion failure"
**Build scan**: https://gradle-enterprise.elastic.co/s/yczk6f2jiwbbu

**Repro line**: ./gradlew ':x-pack:plugin:security:test' --tests "org.elasticsearch.xpack.security.authc.saml.SamlAuthenticatorTests.testSuccessfullyParseContentFromEncryptedAssertion" -Dtests.seed=81B483E734DC92DB -Dtests.security.manager=true -Dtests.locale=de -Dtests.timezone=BET -Druntime.java=11 -Dtests.fips.enabled=true

*

[2020-06-29 08:31] elasticmachine commented on #58651
Pinging @elastic/es-security (:Security/Authentication)

[2020-06-29 08:47] elasticmachine commented on #58647
Pinging @elastic/es-perf (:Performance)

[2020-06-29 08:47] elasticmachine commented on #58647
Pinging @elastic/es-search (:Search/Search)

[2020-06-29 08:48] anshu14 opened #58653 "Mutliple CVE vulnerabilities in the elasticsearch docker image(v7.7.1 & v7.8.0)"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.7.1 & 7.8.0

**Plugins installed**: []

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): 16.04

**Description of the problem including expected versus actual behavior**: When i am trying to install elasticsearch using helm install command, it tries to pull the image from "docker.elastic.co/ela

[2020-06-29 08:56] jkakavas commented on #58651
@ywangd would you mind looking at this? Something in https://github.com/elastic/elasticsearch/commit/e9661558e748582c26e7581e085901fdc82406c2 made it so that the same keypair is used both for encryption and for signing and this is not allowed in FIPS 140-2, thus these tests are failing

[2020-06-29 08:58] #58544 closed

[2020-06-29 09:00] DaveCTurner commented on #58653
Please send reports of security vulnerabilities to security@elastic.co. As per https://www.elastic.co/community/security, we can accept only security issues at this address.

[2020-06-29 09:00] #58653 closed

[2020-06-29 11:07] bpintea commented on #56475
@astefan, let me know plz if the above clarifications (and #58650) address your concern, or if anything else should be considered for this case.

[2020-06-29 11:29] dimitris-athanasiou commented on #39591
We also hit another.

Build scan: https://gradle-enterprise.elastic.co/s/csil3c4dll3ze

Log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob+fast+part1/565/console

This one hit a different assertion in that test. It seems something went wrong while trying to delete indices during cleanup:

[code]

An exception can be seen:

[code]

[2020-06-29 11:29] elasticmachine commented on #58260
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-06-29 11:41] elasticmachine commented on #58644
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-06-29 11:41] elasticmachine commented on #58644
Pinging @elastic/es-security (:Security/Security)

[2020-06-29 11:48] dimitris-athanasiou opened #58662 "[TEST][ML] Failures in inference_stats_crud/Test get stats given trained models"
**Log**: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob+fast+part2/565/console

**Build scan**: https://gradle-enterprise.elastic.co/s/ui72xsvizvoto

**Repro line**: ./gradlew ':x-pack:plugin:integTestRunner' --tests "org.elasticsearch.xpack.test.rest.XPackRestIT.test {p0=ml/inference_stats_crud/Test get stats given trained models}" -Dtests.seed=816318538E73B1A6 -Dtests

[2020-06-29 11:48] elasticmachine commented on #58662
Pinging @elastic/ml-core (:ml)

[2020-06-29 12:10] pgomulka commented on #56343
closed by https://github.com/elastic/elasticsearch/pull/58551

[2020-06-29 12:10] #56343 closed

[2020-06-29 13:36] #58651 closed

[2020-06-29 13:37] #56754 closed

[2020-06-29 13:41] dimitris-athanasiou opened #58671 "[CI] Failures for RemoveCorruptedShardDataCommandIT.testCorruptTranslogTruncationOfReplica"
**Build scan**: https://gradle-enterprise.elastic.co/s/c4xzxjqoq6ij4

**Repro line**: ./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.index.shard.RemoveCorruptedShardDataCommandIT.testCorruptTranslogTruncationOfReplica" -Dtests.seed=43CFC5A2A11E2E8F -Dtests.security.manager=true -Dtests.locale=ca -Dtests.timezone=Asia/Riyadh -Druntime.java=8

**Reproduces locally?**: Yes

**Fail

[2020-06-29 13:41] elasticmachine commented on #58671
Pinging @elastic/es-distributed (:Distributed/Distributed)

[2020-06-29 13:42] dimitris-athanasiou commented on #58671
It seems to reproduce for that specific seed.

[2020-06-29 13:49] iverase commented on #50531
Hi @blkbltjns,

It is a while since you originally open the issue but I am wondering if you were able to understand the issue with the disk page cache?  There were some improvements in recent versions of ES regarding BKD backed geo shapes so they might have helped you.

[2020-06-29 13:53] Bukhtawar commented on #58586
@DaveCTurner if this issue makes sense, then would it be fine if I start working the PR

[2020-06-29 14:20] matriv commented on #58170
Decided to just clarify in docs the behaviour.

[2020-06-29 14:21] elinamaas opened #58675 "Update RestPutMappingAction for deprecation warning for inculde_types"
We receive the deprecation warning "Specifying types in put mapping requests is deprecated. To be compatible with 7.0, the mapping definition should not be nested under the type name, and the parameter include_type_name must be provided and set to false.".

There is a corresponding [issue](https://github.com/elastic/elasticsearch/pull/38825/). But in one file it is still the same `RestPutMappingAc

[2020-06-29 14:28] imotov commented on #49005
No feedback is provided. Closing.

[2020-06-29 14:28] #49005 closed

[2020-06-29 14:29] #58388 closed

[2020-06-29 15:06] dakrone opened #58678 "Switch ILM read only blocking to use the index block API"
After https://github.com/elastic/elasticsearch/pull/58094 has been merged, we should make use of it within ILM to block indices rather than manually updating the settings.

[2020-06-29 15:06] elasticmachine commented on #58678
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-06-29 15:45] przemekwitek opened #58682 "Implement MSLE function for regression evaluation."
Regression evaluation should have an option to use MSLE function.

https://peltarion.com/knowledge-center/documentation/modeling-view/build-an-ai-model/loss-functions/mean-squared-logarithmic-error-(msle)

[2020-06-29 15:45] elasticmachine commented on #58682
Pinging @elastic/ml-core (:ml)

[2020-06-29 15:46] dakrone commented on #58643
I was able to reproduce this, I'll work on a fix for it, thanks for reporting it!

[2020-06-29 15:50] #58270 closed

[2020-06-29 15:54] cbuescher commented on #57154
Discussed and decided we don't need to remove supporting "null" really.

[2020-06-29 15:54] #57154 closed

[2020-06-29 16:25] jbaiera commented on #58428
Is this builder something you could create and inject back to the elasticsearch client via the configuration [callback interface](https://github.com/elastic/elasticsearch/blob/v7.8.0/client/rest/src/main/java/org/elasticsearch/client/RestClientBuilder.java#L215)? It would require mirroring the defaults from the client (ehhhhhh not great), and potentially wrapping any third-party user callbacks, bu

[2020-06-29 16:28] nknize commented on #54218
This was discussed in the full stack geo meeting. One way to do this would be to have something in Lucene akin to term vectors but for spatial geometries. At index time we compute the area, perimeter, etc of tessellated triangles and store them in a spatial term vector. Having this granularity would make it easier for us to compute things like area overlap, or geometric clipping, as we would be do

[2020-06-29 16:53] stu-elastic commented on #50152
Having `script` and `script_cache` in `_node/stats` is redundant.  Here's the value of `_node/stats` in 7.x:
[code]

Here's it in 8.x right now:
[code]

We will remove `node_stats` in 8 and hoist `sum` to the top level.  Here's what we'll have:
[code]

This keeps the format the same between 7 and 8 so we can easily drop `node_stats`.  Also the `sum` is unnecessary indirection.

[2020-06-29 17:23] mark-vieira commented on #56722
Correct, with this option we effectively cannot do compatibility testing with existing releases. We would have to start with `7.8.1` given that would be the first available version with relocated packages. That means that we will not know if we break backcompat with the 7.7 driver (although 7.8.1 will be a pretty close analog).

[2020-06-29 17:40] sej7278 commented on #52244
Just wasted a couple of hours on this until I found this issue, so yes being documented would be nice.

My use case would be creating API keys for filebeat clients without having to do it manually via the kibana gui. If I could create API keys using an API key then i could use curl.

How do huge deployments manage this - surely someone isn't manually creating API keys for thousands of filebeat cli

[2020-06-29 19:22] thomasneirynck opened #58696 "Support .mvt vector tile format"
Mapbox vector tile format (https://github.com/mapbox/vector-tile-spec/) is a common industry spec to deliver geospatial data to clients.

It is particularly useful to web-clients:

- the geometries within the tiles is scale-dependent
    - features with a small footprint that would be invisible at zoomed-out scales are not included
    - geometries are simplified to match the desired scale-level (

[2020-06-29 19:45] hendrikmuhs opened #58697 "[Transform] cannot group by boolean"
Reported via discuss:

Grouping `boolean` using a terms aggregation throws in transform:

[code]

The above is possible with `aggs` and `composite aggs`. The error message originates from `IDGenerator` which does not know how to treat a `boolean`.

[2020-06-29 19:45] elasticmachine commented on #58697
Pinging @elastic/ml-core (:ml/Transform)

[2020-06-29 19:45] kendraschwartz opened #58698 "Allow server_hostname in the Elasticsearch client"
Please allow the Elasticsearch client to specify server_hostname. I want to use ip addresses and still have ssl verification work.

[2020-06-29 19:49] dadoonet commented on #58698
You opened the question at https://discuss.elastic.co/t/ask-for-advice-on-elastic-search-client/239178 which is the right place to ask before opening an issue here.

[2020-06-29 21:00] jkakavas commented on #58644
This is tracked upstream in https://bugs.openjdk.java.net/browse/JDK-8248505

[2020-06-29 21:03] jimczi opened #58702 "Should we ignore mapping properties on disabled objects"
Today it is possible to define an object with properties in a mapping even if `enabled` is set to `false`:

[code]

That can be confusing when building queries or aggregations since the field `object.field` is considered as part of the mapping even though its parent is disabled.
The `enabled` option cannot be updated on an existing mapping so defining properties on a disabled object upfront seems

[2020-06-29 21:03] elasticmachine commented on #58702
Pinging @elastic/es-search (:Search/Mapping)

[2020-06-29 22:57] Anyrob commented on #55065
Hey, @matriv! I just wanted to update you: I'm trying to write a test for my code based on DateTimeFormatProcessor. Today I'll make my PR, I would like that you could check it, to see If I have made the correct approach or if I need to make changes :)

[2020-06-29 23:28] tbrooks8 commented on #58433
[code]

This is kind of what I expected. It appears that the http server is receiving a `/_nodes/http` request. However, this test does not send this request. It only sends requests that fail. I need to look into whether this is some concurrent test that is causing this issue.

[2020-06-30 00:22] tvernum commented on #52244
@sej7278
Can you explain in a little more detail why you prefer API Keys for this task than username/password?
In practice there's not of difference in the authentication process for users and API keys. In both cases you have a credential that should remain secret which is encoded into a HTTP header and sent as part of the Rest request, ideally over SSL.

The attack surface of those two things is

[2020-06-30 00:28] jtibshirani commented on #55363
I thought more about the question of whether we should apply `normalizer` before returning a keyword, and to me it makes sense to apply normalization by default:
* The actual name `normalizer` suggests that it is performing standardization, which is exactly the sort of thing we claim to do when returning values. I was hesitant earlier because normalization felt more like text analysis to me, but I

[2020-06-30 01:51] meowtochondria commented on #57544
Oh man! I can't say how important is to add kostasb's comment to documentation. I've been struggling with this for a couple of months now, started poking around code couple of days back, and finally landed here.

Considering andreidan has implemented this feature, I hope you can answer the following question (other avenues have not yielded an answer): when `parse_origination_date` is enabled, will

[2020-06-30 03:43] Shihta opened #58712 "auto_shrink_voting doesn't work if it destroy half nodes of cluster"
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 7.7.1, Build: oss/docker/ad56dce891c901a492bb1ee393f12dfff473a423/2020-05-28T16:30:01.040088Z, JVM: 14.0.1

**Plugins installed**: not sure, I used the official oss-version of docker image

**JVM version** (`java -version`): openjdk 14.0.1 2020-04-14

**OS version** (`uname -a` if on a Unix-like system): Linux 76d70b9af3f8 4.15.0-

[2020-06-30 04:34] kunisen commented on #49894
do we have update on this ticket?

[2020-06-30 04:49] jkakavas commented on #49894
@kunisen we were actually just discussing about this! In general, when we address issues we reference them in the PR and close them.

Here, I just want to point out that the issue is _only_ about explicitly mentioning in our docs somewhere that IDP initiated single sign on is supported as well as SP initiated single sign on. Both the flows are already supported.

[2020-06-30 04:50] kunisen commented on #49894
thanks a lot for the super quick pointers!! @jkakavas ^ ^

[2020-06-30 06:11] berglh commented on #28592
This is fantastically useful, thanks for this.

[2020-06-30 07:04] ywelsch commented on #58433
These tests could use `ESTestCase.getPortRange` instead of `0` as port, which will give them a free port in a range that's only supposed to be used by that JVM.

[2020-06-30 07:42] TuJianwei commented on #39946
hi, I meet same problem. My java progrom is Running in docker and the error stack message is

I/O reactor terminated abnormally
java.lang.ArithmeticException: / by zero
	at org.apache.http.impl.nio.reactor.AbstractMultiworkerIOReactor.addChannel(AbstractMultiworkerIOReactor.java:473)
	at org.apache.http.impl.nio.reactor.DefaultConnectingIOReactor.processEvent(DefaultConnectingIOReactor.java:178)

[2020-06-30 07:43] TuJianwei commented on #42133
hi, I meet same problem. My java progrom is Running in docker and the error stack message is
I/O reactor terminated abnormally
java.lang.ArithmeticException: / by zero
at org.apache.http.impl.nio.reactor.AbstractMultiworkerIOReactor.addChannel(AbstractMultiworkerIOReactor.java:473)
at org.apache.http.impl.nio.reactor.DefaultConnectingIOReactor.processEvent(DefaultConnectingIOReactor.java:178)
at o

[2020-06-30 08:00] pgomulka opened #58719 "Remove camel case date formats and limit number of predefined ones"
we discussed this on core infra sync on 24th June. The camel case date formats should be removed in favour of snake case formats. The deprecation will be added to 7.x and removal will be on v8

Also list of predefined formats should be limited to those most often used like strict_date_optional_time or epoch_millis (to be reviewed).

[2020-06-30 08:00] elasticmachine commented on #58719
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-06-30 08:41] DaveCTurner commented on #58586
I haven't encountered a situation where this detail would have been useful. A node only actively rejects follower checks after it's stopped following the master, which it records in its logs; on the other hand if the checks time out then you have to look at the lost node's logs to see why that might have happened too. Given that you have to look at the lost node's logs in any case, there isn't muc

[2020-06-30 08:44] elasticmachine commented on #58675
Pinging @elastic/es-search (:Search/Mapping)

[2020-06-30 08:49] romseygeek commented on #52610
Another (master)
https://gradle-enterprise.elastic.co/s/ul2coyq3v3d22/failure

[2020-06-30 09:06] Bukhtawar commented on #58586
Thanks your suggestion, that works too. I didn't realise that the debug logs are otherwise mute.

[2020-06-30 09:06] przemekwitek opened #58723 "Implement Huber loss function for regression evaluation."
Regression evaluation should have an option to use pseudo Huber function.

https://en.wikipedia.org/wiki/Huber_loss#Pseudo-Huber_loss_function

[2020-06-30 09:06] elasticmachine commented on #58723
Pinging @elastic/ml-core (:ml)

[2020-06-30 09:07] chingis-elastic opened #58724 "[upgrade to 7.x] xpack.notification.slack.account.<account_name>.url settings get archived without notice"
It seems that starting from 6.6 watcher settings for Slack account URL
[code]
are deprecated and get silently converted into `archived.*` after upgrade to 7.x. This could leave cluster in broken state after the upgrade as described in https://github.com/elastic/elasticsearch/issues/28026. It would be nice to have deprecation/upgrade assistant warning for user to take action.

To ensure smooth tran

[2020-06-30 09:12] elasticmachine commented on #58712
Pinging @elastic/es-distributed (:Distributed/Cluster Coordination)

[2020-06-30 09:21] Bukhtawar commented on #58586
The only concern would be in a large size cluster(100+) with  multiple nodes seeing a problem, leader logs could bloat up, in which case we might want to only enable it on data only nodes. `node-left` reason has acted as a one place to start the investigation in the past. I still think it would add value but sure there is a work around

[2020-06-30 09:27] elasticmachine commented on #58696
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-06-30 09:47] matriv commented on #56722
Even though this is not ideal, we can assume that is safe enough to start with `7.8.1`, so if (1) is difficult to implement, it's fine also by me to go with the (2) approach.

[2020-06-30 10:07] markharwood commented on #57347
We have a formal syntax for the format of this field that is validated - when content is presented that is illegal I can think of two options.
Either we:
A) Relax any validation - a `lenient` flag in the mapping could silently ignore illegal annotation syntax or
B) Allow clients to escape any original content that looks like an annotation but isn't e.g. we might ignore a `[` character if the clien

[2020-06-30 10:48] DaveCTurner commented on #58586
Follower checks are relatively rare, no more frequent than once per second per node, so even if hundreds of nodes all actively failed at once I don't think the log volume would be unmanageable.

[2020-06-30 10:55] Bukhtawar commented on #58586
Got it. Other than that I currently have no other feedback. Thanks for your suggestions, really useful

[2020-06-30 10:58] ls-pluriels commented on #57347
HI Mark, thank you for handling this request.
I did implement the cleansing by inserting a space between any ]( that was the most obvious solution to preserve positions

From my perspective, it was difficult to pinpoint the problem.
I also noticed that there was an error because of the % char that was in the original text.
Silently, non desired annotations were indexed without causing any error.

[2020-06-30 11:06] romseygeek opened #58730 "[CI] DebMetadataTests test05CheckLintian failure"
**Build scan**: https://gradle-enterprise.elastic.co/s/b2c54hdwwhm2y/console-log?task=:qa:os:destructiveDistroTest.default-deb

**Repro line**: packaging test, so no repro line

**Reproduces locally?**: packaging test, so no reproduction

**Applicable branches**: master

**Failure history**: Failed on master only, for both Ubuntu and Debian packaging tests.  Has failed in the past (see #52554) due

[2020-06-30 11:06] #58682 closed

[2020-06-30 11:06] elasticmachine commented on #58730
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-06-30 11:06] elasticmachine commented on #58730
Pinging @elastic/ml-core (:ml)

[2020-06-30 11:30] sej7278 commented on #52244
@tvernum I just hadn't thought of using basic auth (over tls) with curl, i've got a script that can now create api keys for filebeat clients using curl - albeit with a username/password in plaintext in the script.

if i could replace the user/pwd with an api key, i could at least limit its use to a few minutes whilst the "create 1000 api keys" job runs. with a user/pwd i'd have to change the passw

[2020-06-30 11:44] droberts195 commented on #58730
I don't think it's `ml-cpp` this time:

[code]

Presumably with "--no-tag-display-limit to see all (or pipe to a file/program)" it lists every single Java class's `.class` file, explaining why the output is so huge.

Running it like this avoids the Java bytecode warnings:

[code]

I guess the two remaining file permissions warnings should be fixed.

[2020-06-30 11:50] markharwood commented on #57347
The "prior to annotating" part of the advice makes it feel like it's more of an upstream concern e.g. something for an [NLP pipeline ](https://github.com/spinscale/elasticsearch-ingest-opennlp) to consider.

[2020-06-30 12:20] ypid-geberit opened #58737 "Regresion in 7.8.0 lucene query "_exists_:non_existing_field_in_mapping" "Rewrite first" exception"
**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 7.8.0, Build: default/rpm/757314695644ea9a1dc2fecd26d1a43856725e65/2020-06-14T19:35:50.234439Z, JVM: 11.0.7

**Plugins installed**: []

None.

**JVM version** (`java -version`):

openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment (build 11.0.7+10-suse-3.42.4-x8664)
OpenJDK 64-Bit Server VM (build 11.0.7+10-suse-3.42.

[2020-06-30 12:37] ls-pluriels commented on #57347
After reading the document once more, it is really straight forward. I will perhaps write a blog post on our use case and highlight what may happen.

Thank you

[2020-06-30 12:37] #57347 closed

[2020-06-30 12:50] markharwood commented on #57347
Sounds great. I'd love to see that. Thank *you*.

[2020-06-30 14:54] markharwood commented on #55603
Dropping terms is one way to improve precision but there are others too:
* Switching from ngram fields to full-term fields (see app-search)
* Switching from OR to AND
* Switching from AND to phrase

What I was considering when looking at ways to trim long tails of garbage was ways to tell when switching from a stricter search strategy to a weaker one breaks the _meaning_ of the query. I think this

[2020-06-30 15:02] romseygeek opened #58756 "BuildPluginIT#testInsecureIvyRepository and BuildPluginIT#testInsecureMavenRepository failures"
**Build scan**: https://gradle-enterprise.elastic.co/s/qgfidts4htze2

**Repro line**: `:build-tools:integTest`

**Reproduces locally?**: No

**Applicable branches**: 6.8

**Failure history**:
https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now%2FM,mode:quick,to:now%2FM))&_a=(columns:!(_source),index:b646ed00-7efc-11e8-bf69-63c8ef516157,interval

[2020-06-30 15:02] elasticmachine commented on #58756
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-06-30 15:19] #56709 closed

[2020-06-30 15:41] pugnascotia commented on #46106
@pgomulka would you mind take a quick look at a new implementation for writing deprecation logs? See:

https://github.com/elastic/elasticsearch/compare/master...pugnascotia:index-deprecation-logs-v2

[2020-06-30 15:43] mark-vieira commented on #56722
To clarify, I've not investigated what it would take to implement solution (1). I suspect someone more familiar with the tests would be better suited to do that. It might be worth looking into in parallel with this. Course (2) is not necessarily an easy win, package relocation might not easily work, as it doesn't play nicely with things like reflection. We may find out that we have to make code ch

[2020-06-30 15:44] webmat commented on #58523
I'd like to clarify one part:

I assume this sentence applies only to the field where `singleton` is set. In your example, `@timestamp` contains exactly one timestamp, and not an array of timestamps. This I'm totally on board with 👍

However the way this is currently worded makes it sound like no other date fields would be allowed (e.g. an event with `@timestamp`, `event.start` and `event.end` pop

[2020-06-30 15:45] LeeDr commented on #43550
@jayaramcs So sorry but I missed that this was added (a year ago) and just now created a Kibana issue to add the functionality.  https://github.com/elastic/kibana/issues/70337
I'll follow up and try to move it along, but can't promise when it would make it in.
I'm really glad you pinged me on it!

[2020-06-30 15:56] jtibshirani commented on #58523
Your assumption is right, I've updated the description to clarify the wording.

[2020-06-30 16:29] #58697 closed

[2020-06-30 16:37] jtibshirani commented on #58675
Thanks @elinamaas for reporting this! In the PR you linked (#38825), we switched from issuing a warning when `include_type_name` was missing or `true`, to only issuing a warning when `include_type_name` was missing. So I think the right fix is for us to update the message to match the other REST APIs, but keep the original `if (includeTypeName) ...` check:

[code]

I'll open a PR against 6.8 to fi

[2020-06-30 16:40] jtibshirani commented on #58675
Thanks @elinamaas for reporting this! It looks like we missed the 'put mapping' action in the PR you linked (#38825). I'll open a PR against 6.8 to fix this.

[2020-06-30 17:12] dnhatn commented on #58011
We discussed this two weeks ago. The root cause of the related issue is that the setting `cluster.routing.allocation.node_concurrent_recoveries` was set too high. We agreed to introduce a limit for that setting. We also agreed to support concurrency in phase 2 of peer recoveries but disable it by default. I will close this issue and continue working on the [PR](https://github.com/elastic/elasticse

[2020-06-30 17:12] #58011 closed

[2020-06-30 17:27] imotov commented on #50109
Here is an interesting question about hard bounds. With extended bounds the max bound is inclusive. So, if we have an hourly histogram and max is 10 hours, the 10:00:00-10:59:59 bucket will be included, which might make sense since we are extending the bounds. The hard bounds, on the other hands, are limiting. So, if max hard bound is 10:00:00 the bucket 10:00:00-10:59:59 is mostly outside of the

[2020-06-30 17:50] jrodewig commented on #58534
Another failure: https://gradle-enterprise.elastic.co/s/c5mdveo3rdrfc

[2020-06-30 17:56] jayaramcs commented on #43550
Thank you @LeeDr .

[2020-06-30 19:20] dakrone commented on #58260
A failure similar to this keeps happening on my 7.x branch, the failure from Jenkins is:

[code]

And in the ES logs there are the following errors:

[code]

I haven't been able to reproduce it locally however (although it fails every time on my 7.x PR). A build scan is at https://gradle-enterprise.elastic.co/s/zrslbr2ihbsvs

[2020-06-30 19:25] bpintea commented on #35139
The issue with `NULL` filtering in `HAVING` seems to impact the other operators too. For instance, `int` fields with `NULL`s will behave incorrectly with comparisons; ex: `...HAVING SUM(int_field) < 2` will also return the fields with the sum `NULL`.

[2020-06-30 19:31] dakrone commented on #58260
I muted this on 7.x

[2020-06-30 20:00] jtibshirani commented on #58675
I just merged #38825 to address the issue. It will be available in an upcoming 6.8 patch release.

[2020-06-30 20:00] #58675 closed

[2020-06-30 20:02] dakrone opened #58778 "FollowerFailOverIT.testFailOverOnFollower fails on 7.x reproducibly"
**Build scan**:
https://gradle-enterprise.elastic.co/s/66hnn7nhkbtjw

**Repro line**:
[code]

**Reproduces locally?**:
Yep

**Applicable branches**:
7.x

**Failure history**:
None

**Failure excerpt**:
[code]

With lots of these in the logs:

[code]

[2020-06-30 20:02] elasticmachine commented on #58778
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-06-30 20:08] dnhatn commented on #58778
Duplicate of https://github.com/elastic/elasticsearch/issues/58534.

[2020-06-30 20:08] #58778 closed

[2020-06-30 20:57] jimczi commented on #55363
+1 to support `normalizer` ootb. As you said it's consistent with aggregations and script. That would also make the `docvalue_fields` alternative less appealing, which I find important since we want to simplify the reasoning when retrieving fields.

[2020-07-01 04:01] jim-barber-he commented on #52625
The `distribution/src/bin/elasticsearch-env-from-file` file was fixed for version 7.6.1 of ElasticSearch and so that is no longer a blocker.
I've been able to get ElasticSearch to work with IAM Roles for Service Accounts.
Once version 7.8.1 or later of the Helm chart is released, then it'll contain my changes to allow the needed ServiceAccount annotations to be applied.
In the meantime you can cre

[2020-07-01 05:03] mark-vieira opened #58795 "GCS integration tests failing due to missing test fixture properties"
We've started to see consistent failures in the `7.x` branch with the following:

[code]

https://gradle-enterprise.elastic.co/s/5bryflowvrjsm

For some reason the Docker compose service properties are not getting set. Initial investigation looks to be some issue with either Docker compose of the corresponding Gradle plugin not returning service info synchronously.

[2020-07-01 05:03] elasticmachine commented on #58795
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-07-01 05:09] mark-vieira commented on #58795
Docker-compose test fixtures have been temporarily disabled with 119462dc85758157cbd9d66597a6989bda111815.

[2020-07-01 05:43] Leaf-Lin opened #58796 "Showing node type in the elasticsearch log"
It would be useful to have node type (master/data/ml/coord) etc information (in addition to node name) available in the logs so that when beats elasticsearch module collects logs from all nodes and visualise in kibana, it will be easier to filter/aggregate and see what message was from what node type.

I guess asking it for hot/warm type of node attribute will be even harder for now, but that will

[2020-07-01 06:16] shotecorps commented on #58643
I found that it also causes ILM running error
`GET dsm-1659ac4eb92711eab49d0a580a10000f/_ilm/explain`
`{
  "indices" : {
    "dsm-1659ac4eb92711eab49d0a580a10000f-000001" : {
      "index" : "dsm-1659ac4eb92711eab49d0a580a10000f-000001",
      "managed" : true,
      "policy" : "dsm-1659ac4eb92711eab49d0a580a10000f",
      "lifecycle_date_millis" : 1593338812111,
      "age" : "2.83d",
      "phas

[2020-07-01 07:28] #58479 closed

[2020-07-01 07:35] breskeby commented on #58260
I cherry-picked the mute down to 7.8

[2020-07-01 07:56] elasticmachine commented on #58737
Pinging @elastic/es-search (:Search/Search)

[2020-07-01 08:35] ywelsch opened #58806 "[CI] ForecastIT.testOverflowToDisk failing on EAR builds"
This test has failed three times in the past 2 weeks

https://gradle-enterprise.elastic.co/s/mp3vxqny35j4e

Output:

[code]

I'm not too familiar with this part of the system, but wonder if we truly have less than 200mb available on disk when running the test (in that case we could possibly raise it as infrastructural issue), or if we should perhaps have the test skipped in case where these condit

[2020-07-01 08:35] elasticmachine commented on #58806
Pinging @elastic/ml-core (:ml)

[2020-07-01 08:44] javanna commented on #55363
@jtibshirani when you say "by default" does that mean it can be disabled? From the point of view of "when you retrieve, you get what you sent, when you search and aggregate, you search on and get back what was indexed" I am torn, I would personally expect the raw value loaded from source. Though if users can control what they get, I would not mind that the default is normalized.

[2020-07-01 08:44] ywelsch opened #58807 "[CI] TokenBackwardsCompatibilityIT.testGeneratingTokensInOldCluster failing on 7.x"
This test has been repeatedly failing for the past two weeks

Build scan: https://gradle-enterprise.elastic.co/s/dqls7xeilan64

Output:

[code]

The problem seems to be related to the introduction of component templates, where a warning is now emitted due to the existing templates that are used in the system.

Marking this as both Security and Core/Features as I'm not sure which one is more applic

[2020-07-01 08:44] elasticmachine commented on #58807
Pinging @elastic/es-security (:Security/Security)

[2020-07-01 08:44] elasticmachine commented on #58807
Pinging @elastic/es-core-features (:Core/Features/Features)

[2020-07-01 08:48] ywelsch commented on #57411
Another occurrence:

https://gradle-enterprise.elastic.co/s/jdfuylgtur5pi

Can someone pick this up?

[2020-07-01 08:50] astefan commented on #56475
@bpintea no other ideas about other special characters to escape. If anything else comes up, we'll address it then.

[2020-07-01 08:55] astefan opened #58809 "EQL: abstract away JTOM utilities in common project or classes"
`EqlFoldSpecLoader` and `EqlSpecLoader` both make use of JTOM utility classes.

[2020-07-01 08:55] elasticmachine commented on #58809
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-01 08:57] #56753 closed

[2020-07-01 09:21] ywelsch opened #58814 "[CI] DataFrameAnalyticsConfigProviderIT.testUpdate_UpdateCannotBeAppliedWhenTaskIsRunning failing"
Failed on master and 7.x a few times these past days.

Build scan: https://gradle-enterprise.elastic.co/s/a6xmnplu6hyy2

Output:

[code]

[2020-07-01 09:21] elasticmachine commented on #58814
Pinging @elastic/ml-core (:ml/Transform)

[2020-07-01 09:37] ywelsch opened #58816 "MixedClusterClientYamlTestSuiteIT timing out on Darwin"
The suite has a 40 minute timeout, which seems to occasionally be exceeded on our Darwin CI workers.

Build scan:  https://gradle-enterprise.elastic.co/s/gxr76e7jfnuiq

Output:

[code]

[2020-07-01 09:37] elasticmachine commented on #58816
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-07-01 09:57] droberts195 commented on #58816
There’s more comment and analysis about the possible causes in #58286

[2020-07-01 10:08] przemekwitek commented on #58814
I'm going to mute this test.

[2020-07-01 10:16] bpintea opened #58820 "SQL: ORDER BY a derived numerical field doesn't sort NULLs"
Given the index: `SELECT long FROM idx`:
[code]
, ordering by an operation on field `long`, for instance `SELECT long FROM idx ORDER BY long+0` (or `SELECT long+0 AS x FROM idx ORDER BY x`) returns:
[code]
not sorting the `null`s correctly. And similarly for other operations (including applying functions) and numerical types.
Consequently the `NULLS FIRST`/`LAST` don't apply either.

[2020-07-01 10:16] elasticmachine commented on #58820
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-07-01 10:22] przemekwitek commented on #58814
It is most likely a race condition:
1. Job is created:
[code]
2. Job finishes
3. Job is updated:
[code]

The test expects that the update will fail but it may as well succeed if the job has already finished.

[2020-07-01 11:09] romseygeek opened #58823 "FieldMapper null values, serialization and `include_defaults`"
We have a number of field mappers that allow users to set a `null_value`, for use when a document
does not contain a value for that particular field.  In general, the default for this value is `null`, meaning
`don't do anything`, but we do not allow `null` to be set explicitly as this value.

When we serialize a field mapper, we allow users to ask for the default values to be emitted even if they

[2020-07-01 11:12] nkakouros opened #58824 "Regexp, query_string, wildcard queries cannot match long value in keyword field"
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 7.8.0, Build: default/deb/757314695644ea9a1dc2fecd26d1a43856725e65/2020-06-14T19:35:50.234439Z, JVM: 14.0.1

**Plugins installed**: []

**JVM version** (`java -version`): openjdk version "1.8.0_232"
OpenJDK Runtime Environment (build 1.8.0_232-8u232-b09-0ubuntu1~18.04.1-b09)
OpenJDK 64-Bit Server VM (build 25.232-b09, mixed mode)

[2020-07-01 11:22] astefan commented on #58662
Is this failure related to ^? https://gradle-enterprise.elastic.co/s/lh5qkbrlpbmeo/console-log?anchor=6434
Sorry if it's not and re-opening this one by mistake.

[2020-07-01 11:29] #58723 closed

[2020-07-01 11:35] chrismaes87 opened #58826 "Watcher state doesn't show errors while all executions exited with ERROR"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.7.1 (elastic cloud)

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

The **elasticsearch Watcher** summary shows state **OK** while all the last runs encountered an error

**Steps to reproduce**

[2020-07-01 11:57] benwtrent commented on #58662
Digging through the logs:

[code]

So, `.ml-stats-write` is being created as a concrete index. This should not happen. Need to investigate how to prevent this.

[2020-07-01 12:53] ywangd commented on #58807
I wonder whether this can be fixed in a similar way as #56028
Can someone who understand `default_shards` feature and/or composable templates please take a look?

[2020-07-01 14:02] polyfractal commented on #57411
I'll take a look.

[2020-07-01 14:04] ywelsch opened #58841 "[CI] Test cat data frame analytics single job with header failing"
Failed 3 times on 7.x in the past days

Build scan: https://gradle-enterprise.elastic.co/s/7vn6gnjkkthfy

Output:

[code]

[2020-07-01 14:04] elasticmachine commented on #58841
Pinging @elastic/ml-core (:ml/Transform)

[2020-07-01 14:08] ywelsch opened #58842 "[CI] HotThreadsIT.testHotThreadsDontFail failing on 6.8"
This test failed once on 6.8

Build scan: https://gradle-enterprise.elastic.co/s/rbk4wjt4n5kg2

Output:

[code]

[2020-07-01 14:08] elasticmachine commented on #58842
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-07-01 14:24] #58824 closed

[2020-07-01 14:24] nkakouros commented on #58824
It was an issue with the `ignore_above` keyword.

[2020-07-01 14:54] dakrone commented on #58807
I believe this is a duplicate of #58258. I will take a look.

[2020-07-01 15:48] csoulios commented on #58638
Thanks for submitting this issue.

Rollups is currently being refactored and the `_rollup_search` endpoint will be dropped when the new implementation is released. Therefore, the whole logic of collecting and merging buckets is going to change.

This ticket is a duplicate of https://github.com/elastic/elasticsearch/issues/48005

[2020-07-01 15:48] #58638 closed

[2020-07-01 16:36] P1llus opened #58864 "[Elasticsearch][Ingest Pipeline Processors] If conditions in processors are not precompiled on PUT (errors appear on ingest)"
There is plenty of different scenarios for using conditionals under processors. Discussing some of them on slack there seems to be a few unintended situations in terms of error handling and checking.

When creating any sort of processor in ingest pipelines(only tested in yml format) that is created on a beats module, which is setup during `./filebeat setup`(or similar in other beats), the PUT of t

[2020-07-01 16:38] elasticmachine commented on #58864
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-07-01 16:39] rjernst commented on #58864
This shouldn't be too difficult, since the ConditionalProcessor takes in the ScriptService. We can use similar logic to that in ScriptProcessor where we compile the script on construction.

[2020-07-01 17:23] tbrooks8 commented on #55707
This failed against on my (unrelated) PR merge (https://gradle-enterprise.elastic.co/s/t4lyapratj55q).

[2020-07-01 17:34] elasticmachine commented on #58627
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-07-01 19:35] costin commented on #56722
Have you tried changing the packages and encountered failures? The JDBC driver is not using reflection nor does it depend on the package name; maybe the `org.elasticsearch` dependency does but this would be easy to find out by just trying things out.

[2020-07-01 19:41] mark-vieira commented on #56722
I have not yet, I'll be giving this a try soon.

[2020-07-01 23:55] sethmlarson commented on #47678
Hey! So back in https://github.com/elastic/elasticsearch/issues/27205 there were APIs that were left off the list (because they expose `ShardRouting` and `ClusterState`) and that information didn't make the leap to this issue. Is there any plan on implementing these APIs? cc @e-mars

[2020-07-02 02:42] NelsonBurton commented on #33028
In 7.x, will adding the `rest_total_hits_as_int` negatively affect performance of a query as opposed to leaving it off? In the discussion above, there is a note that to calculate the accurate hits number another aggregation query would need to be run...

[2020-07-02 02:59] benjam1n77 commented on #48005
Is there any news about rollup? I am wandering when ```_rollup_search``` endpoint will be removed, and what the ILM side will be like in the future? Thanks for reply

[2020-07-02 05:48] tanandy commented on #15975
Hi, thats something we need too

[2020-07-02 06:21] breskeby commented on #58756
This seems a flaky issue with Gradle. I will invest some time boxed effort to look into this.

[2020-07-02 08:19] hendrikmuhs commented on #58482
We have discussed this issue and decided to improve the log message. For the permanent fix we follow up on #55267.

[2020-07-02 08:25] DaveCTurner commented on #58586
Closing this as there doesn't seem to be any action needed here.

[2020-07-02 08:25] #58586 closed

[2020-07-02 08:32] matriv opened #58888 "EQL: Wrong number of results with tail + size"
Although:
[code]
returns 5 docs,
[code]
returns 10 docs. (Size should be taken into account as well and limit the results to 5)

[2020-07-02 08:32] elasticmachine commented on #58888
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-02 08:35] eedugon commented on #56062
@gwbrown , thanks for sharing this. Let me share here a potential workaround to try again the `shrink` operation by ILM. This should work if the final index `shrink-index_name` doesn't exist:

[code]

I have seen the exact problem you have shared in one environment but I haven't been able to determine why the shrink never occurred... there was no track at all of the shrunk index....

I moved the o

[2020-07-02 08:37] matriv opened #58889 "EQL: Wrong number of results with pipe combinations"
Both
[code]
and
[code]
return 10 results instead of 5.
Moreover, adding `size` doesn't affect anything and still always 10 docs are returned.

[2020-07-02 08:37] elasticmachine commented on #58889
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-02 09:37] jloleysens opened #58890 "[Snapshot & Restore] Make backing indices and data streams discoverable pre snapshot restore"
At the moment in Kibana we can only data determine that an index in a snapshot is backing index by looking at its `.ds` prefix.  This is fine for the restore process where you want to restore an entire data stream, but will not play as nice with the case where you want to partially restore a data stream.

For that case it would be really useful to know whether a specific index belongs to a specifi

[2020-07-02 09:53] davidkyle commented on #58532
Another instance https://gradle-enterprise.elastic.co/s/vzl2w4brhmiv6/tests/:x-pack:plugin:ml:internalClusterTest/org.elasticsearch.xpack.ml.integration.MlDistributedFailureIT/testFullClusterRestart#1

Muted on master in 0dffe37

[2020-07-02 10:11] costin commented on #49627
Pipe infrastructure, `head` and `tail` are introduced through https://github.com/elastic/elasticsearch/pull/58536

[2020-07-02 10:25] chingis-elastic commented on #58724
NB it seems workaround mentioned above (removing `*.url` settings before the upgrade) doesn't work on cloud

[2020-07-02 10:41] davidkyle commented on #58532
The test performs a full cluster restart (as you would imagine) then it logs this message and waits for a stable cluster

`[2020-07-02T13:38:56,971][INFO ][o.e.x.m.i.MlDistributedFailureIT] [testFullClusterRestart] Restarted all nodes`

The error is that `ESIntegTestCase.ensureStableCluster(...)` times out after 30 seconds.

Within that 30 second window a cluster state green message is logged (thi

[2020-07-02 11:15] davidkyle commented on #58532
pinging @elastic/es-distributed we have a full cluster restart test that is failing due to `ESIntegTestCase.ensureStableCluster()` timing out post restart. According to [build stats](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-60d,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(

[2020-07-02 11:41] davidkyle opened #58901 "FsSearchableSnapshotsIT testClearCache failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/yojab6qhs23go/console-log?task=:x-pack:plugin:searchable-snapshots:qa:rest:integTestRunner

**Repro line**:
[code]

**Reproduces locally?**:
Nope

**Applicable branches**:
I hit it in a PR, build stats has failures on 7.x and master

**Failure history**:
A lot recently
https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pa

[2020-07-02 11:41] elasticmachine commented on #58901
Pinging @elastic/es-search (:Search/Search)

[2020-07-02 11:59] davidkyle commented on #58901
Muted on master: f5c7847 and 7.x bb96c910a58df6b7b1e0e90d49dce4167d3cc79a

[2020-07-02 12:03] elasticmachine commented on #58901
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-02 12:03] bpintea opened #58907 "SQL: fix string functions handling of NULL parameter values"
Some string functions that take an integer parameter - like SUBSTRING or INSERT - exhibit a potentially unexpected behavior when any of the integer parameters is computed from a column containing `NULL` values: the function simply returns the original string [expression] value, applying no operation.
Example: `SELECT SUBSTRING(str_column, int_column_with_nulls, some_lenght) = str_column` will retu

[2020-07-02 12:03] elasticmachine commented on #58907
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-07-02 12:07] tlrx commented on #58901
@davidkyle this test has been fixed yesterday in #58847 - did you check if the pull requests contained the fix of the failure?

[2020-07-02 12:17] davidkyle commented on #58901
I searched for an existing issue and did not see that a fix had gone in.
I will revert the mutes

[2020-07-02 12:21] tlrx commented on #58901
Thanks @davidkyle ! I'm closing this for now.

[2020-07-02 12:21] #58901 closed

[2020-07-02 13:12] simitt commented on #57712
@martijnvg do you have a rough estimation of when the fix will arrive in master?

[2020-07-02 13:28] ywelsch commented on #58532
I think this might just be the effect of the test being particularly slow at times (given that we execute a lot of other stuff concurrently with gradle). Looking at the failed test linked to above, it spends already a lot of time until it gets to the point where the nodes are restarted (indexing started at 13:37:57, nodes are restarted at 13:38:45, i.e. nearly 50 seconds later), indicating that th

[2020-07-02 13:29] przemekwitek commented on #58589
I was able to reproduce this using synthetic data.
Pasting the script that generates sine wave with bigger amplitude during weekdays and smaller amplitude during weekends:
[code]

And here are the annotations with the added description (local change):
[code]
[code]

[2020-07-02 13:30] danhermann commented on #57712
@simitt, the fix is dependent on https://github.com/elastic/elasticsearch/pull/58381 which is currently in review.

[2020-07-02 13:45] astefan opened #58922 "EQL: stringContains could make use of wildcard query"
`stringContains` function could use `wildcard` query when the substring to look for is a constant and the place to look the substring for is a field: `*substring*`.

[2020-07-02 13:45] elasticmachine commented on #58922
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-02 13:47] bpintea opened #58923 "SQL: integer parameter validation in string functions"
The following query uses `Integer.MAX_VALUE` as parameter input: `SELECT SUBSTRING('a', 2147483647, 1), INSERT('ab', 2147483647, 1, 'x')`, returning the correct result:
[code]

Going over the Integer limit by 1:
* `SELECT SUBSTRING('a', 2147483648, 1)` returns an expected error:
[code]
* `SELECT INSERT('ab', 2147483648, 1, 'x')` is surprisingly accepted and returns a correct result:
[code]
. But g

[2020-07-02 13:47] elasticmachine commented on #58923
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-07-02 14:03] #58163 closed

[2020-07-02 14:04] costin commented on #56768
Completed by https://github.com/elastic/elasticsearch/pull/58859 (internal pagination) and https://github.com/elastic/elasticsearch/pull/57787 (tiebreaker support).

[2020-07-02 14:04] #56768 closed

[2020-07-02 14:17] Xaroth opened #58925 "Partial updates for Enrich policies"
Currently enrich policies allow us to do quite powerful stuff out-of-the box, however, when you deal with large datasets where both the source and target of the enrichment flow get updated, you end up rebuilding the entire enrichment index very frequently, even for very small changes

Taking the existing enrich example in consideration ( https://www.elastic.co/guide/en/elasticsearch/reference/mast

[2020-07-02 14:20] ddolcimascolo opened #58926 "sum_bucket over a top_metrics aggregation throws when metric has no value"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.7.0

**Plugins installed**: []

**JVM version** (`java -version`): Java 11 (bundled JDK)

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 18.04

**Description of the problem including expected versus actual behavior**: Doing a `sum_bucket` aggregation over a `top_metrics` does not support getting `null`s in metrics, though t

[2020-07-02 14:24] pugnascotia commented on #58117
Closing this issue as `OriginSettingClient` does what I need.

[2020-07-02 14:24] #58117 closed

[2020-07-02 14:54] andreidan commented on #58128
We discussed this again and decided to move forward with the described proposal of allowing to optionally drop the "to" step name. Removing the `team-discuss` label.

[2020-07-02 15:23] droberts195 commented on #58532
The Linux CI workers now run 16 tasks in parallel, as the timeline for https://gradle-enterprise.elastic.co/s/jeoql6ppg2iku shows:

<img width="1614" alt="Screenshot 2020-07-02 at 15 56 18" src="https://user-images.githubusercontent.com/7405510/86374616-ae08cb80-bc7c-11ea-90fc-2a944c46bc33.png">

You can see that `:x-pack:plugin:ml:internalClusterTest` overlapped with the main X-Pack YAML tests, t

[2020-07-02 15:26] bpintea opened #58932 "SQL: IN operator incorrectly handling specified date format"
Given a field with the mapping:
[code]
and a query with the `IN` filtering: `SELECT datetime0 FROM idx WHERE datetime0 IN ('2000-11-11 11:11:11'::timestamp)` will raise an exception:
[code]
The query executes correctly with the equality operator.
Data in the index is irrelevant (the index can contain no documents).

[2020-07-02 15:26] elasticmachine commented on #58932
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-07-02 15:36] costin commented on #52709
The medium term goal is to have this behavior within Elasticsearch itself so, as a consumer, one would not have to pick the right type of field but rather have the engine do it automatically based on the query raised and the target field.

[2020-07-02 15:36] #52709 closed

[2020-07-02 15:42] thomasneirynck opened #58936 "Support geo_match enrichment policy for geo_shape fields"
The geo_match enrichment policy only supports matches for points. https://www.elastic.co/guide/en/elasticsearch/reference/current/geo-match-enrich-policy-type.html

ie. the `field` param needs to point to a `geo_point` field.

Consider expanding to allow for `geo_shape` fields.

[2020-07-02 15:53] costin opened #58937 "EQL: push constraints across join keys"
Join and sequence share keys across queries which, in turn, means that they need to obey all constraints at the same time.
We can leverage that to rewrite the filters in a sequence for faster execution.

[2020-07-02 15:54] elasticmachine commented on #58937
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-02 16:22] polyfractal commented on #23193
We discussed this today in our team meeting:

- We don't think we can "fix" this behavior, since it is also valid elsewhere (e.g. you can specify 1d when indexing a double field, and it is interpreted as 1(double) ).
- We decided to document the behavior with a big warning so that users are aware
- We considered deprecating/removing the ability to run histogram on date fields, which would fix the

[2020-07-02 16:25] polyfractal commented on #57964
Discussed this today in our meeting: we generally agreed that this would be good functionality to support.  There's not really a good way to do it today, and the ip_range agg is a poor substitute for the behavior.  We'd probably want to introduce a dedicated "ip-histogram" aggregator, since it would be sufficiently different from regular histogram (different bucketing semantics based on ip blocks,

[2020-07-02 16:34] jrodewig commented on #55154
#58941 will document this behavior and close this issue.

[2020-07-02 17:10] #58864 closed

[2020-07-02 17:35] jakelandis opened #58946 "Test failure: org.elasticsearch.grok.GrokTests.testExponentialExpressions"
Given the rarity of this failure I am not muting. However, if this increases in occurrences this test should be muted.

**Build scan**:

https://gradle-enterprise.elastic.co/s/iak3abjnc4huu

**Repro line**:
[code]
**Reproduces locally?**:
No. Ran a few thousand iterations (without the extra -D arguments ) and they all passed.

**Applicable branches**:

This failure is on master, but history shows

[2020-07-02 17:35] elasticmachine commented on #58946
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-07-02 17:50] giladgal commented on #42720
Regarding the relation with the Rollup functionality that is already released: Rollup is currently an experimental feature in Elasticsearch. We plan to make Rollup GA when we release the refactored rollup which will make rolled up indices queryable through _search and _async_search and which will make rollup an action in ILM. We are not making Rollup GA before that because we know this change will

[2020-07-02 18:13] #57486 closed

[2020-07-02 18:24] henningandersen opened #58952 "Restrict default field name length"
The default [field name length limit](https://www.elastic.co/guide/en/elasticsearch/reference/7.8/mapping.html#mapping-limit-settings) is unbounded. This imposes a risk to cluster health in that if a client generates wildly long field names, the resulting mapping can become large, causing cluster wide issues.

We propose to lower the default limit of field names to 10K bytes. This should be done i

[2020-07-02 18:25] elasticmachine commented on #58952
Pinging @elastic/es-search (:Search/Mapping)

[2020-07-02 18:46] jonathan-buttner opened #58955 "logs-*-* and metrics-*-* template priority is set 100 instead of 1"
**Elasticsearch version** (`bin/elasticsearch --version`):
8.0.0 snapshot
`https://storage.googleapis.com/kibana-ci-es-snapshots-daily/8.0.0/archives/20200702-061321_92851b422f0/elasticsearch-8.0.0-SNAPSHOT-darwin-x86_64.tar.gz`

[code]

**OS version** (`uname -a` if on a Unix-like system):
macOS

**Description of the problem including expected versus actual behavior**:
The `logs` and `metrics` te

[2020-07-02 18:46] elasticmachine commented on #58955
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-07-02 18:53] jonathan-buttner opened #58956 "Component templates are considered invalid without timestamp_field"
**Elasticsearch version** (`bin/elasticsearch --version`):
8.0.0 snapshot
https://storage.googleapis.com/kibana-ci-es-snapshots-daily/8.0.0/archives/20200702-061321_92851b422f0/elasticsearch-8.0.0-SNAPSHOT-darwin-x86_64.tar.gz

[code]

OS version (uname -a if on a Unix-like system):
macOS

**Description of the problem including expected versus actual behavior**:
If a template uses a component temp

[2020-07-02 18:53] elasticmachine commented on #58956
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-07-02 19:00] #58662 closed

[2020-07-02 19:08] #58433 closed

[2020-07-02 19:22] jonathan-buttner commented on #58955
Talked to @dakrone and using `100` was intentional so this is not an issue. I'll make the necessary change in the ingest manager to take priority over these default templates.

[2020-07-02 19:22] #58955 closed

[2020-07-02 19:29] jakelandis opened #58961 "Test failure: org.elasticsearch.xpack.searchablesnapshots.rest.FsSearchableSnapshotsIT"
More specifically it seems that tests from :x-pack:plugin:searchable-snapshots:qa:rest:integTest in 7.x and 7.8 are susceptible to failing.

**Build scan**:

7.8 https://gradle-enterprise.elastic.co/s/lbxrrtqjia4oe (FsSearchableSnapshotsIT and SearchableSnapshotsClientYamlTestSuiteIT failures) (includes commit a6347a85a51258c127b7d60552bf87c4f9e784ae and ec4843f4df11273a27301b02fb528458822a72eb)
7

[2020-07-02 19:29] elasticmachine commented on #58961
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-02 19:43] #55292 closed

[2020-07-02 19:48] lukasolson opened #58967 "Rollups: Can't sort by average metric"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.5-current

**Description of the problem including expected versus actual behavior**:

When running a rollup search using a terms agg, I'm getting errors when sorting by an average agg.

**Steps to reproduce**:

1. Using Kibana, install the sample data web logs
1. Create a rollup job that has a terms field and a sum/avg field
1. Create a

[2020-07-02 19:49] elasticmachine commented on #58967
Pinging @elastic/es-analytics-geo (:Analytics/Rollup)

[2020-07-02 19:51] #58737 closed

[2020-07-02 19:53] polyfractal commented on #58967
Haven't looked properly, but what I suspect this is due to field name rewriting.  We are either missing the rewrite entirely so it's not finding an underlying agg, or we are rewriting but the special nature of avg aggs means it's not finding one (because those are rewritten into two underlying aggs).

The second option seems more likely since this appears to just affect avg agg.  If that's the iss

[2020-07-02 20:00] #56474 closed

[2020-07-02 20:02] bpintea commented on #56475
Thanks, will close this one for now, then.

[2020-07-02 20:02] #56475 closed

[2020-07-02 20:16] drewwats commented on #46161
I ended up here hoping for the same

[2020-07-02 20:33] mark-vieira commented on #58730
@rjernst @williamrandolph any thoughts on this? Looks to be isolated to Ubuntu 18.04 an Debian 10.

[2020-07-02 21:02] joshjanoski opened #58973 "Add xpack.graph.enabled parameter to Elasticsearch documentation"
I ran into an interesting issue recently

I upgraded a 7.5.2 cluster to 7.7.0. During this time, the cluster had a basic license applied. I decided I wanted to start using Graph, so I added a platinum license, but noticed some strange behavior.

The graph icon never showed up in Kibana on the left hand side, but I did see a link to Graph in the Kibana Getting Started page like shown in this screen

[2020-07-02 21:02] elasticmachine commented on #58973
Pinging @elastic/es-docs (>docs)

[2020-07-02 21:14] jbaiera commented on #58147
Adding team discuss label for now. It would be helpful to gauge the team's opinion on feature parity with Logstash, specifically the default error handling logic. My understanding of the the ingest features is that they are meant to be flexible enough to support multiple solutions on top of them. This flexibility comes with the cost of configuration.

If your suggestion here is that we should chan

[2020-07-02 21:31] lockewritesdocs opened #58979 "[DOCS] Auto-generation capability for ES parameters supported on ESS"
After discussion with the larger team, we decided in #57486 to add the ESS icon for ES settings supported on Cloud, but not produce a full list. This PR is for @gtback to develop an automated solution that reads through the ES configuration settings code and pulls tagged content for supported settings into a comprehensive Cloud settings page.

This automated approach reduces maintenance overhead a

[2020-07-02 21:31] elasticmachine commented on #58979
Pinging @elastic/es-docs (>docs)

[2020-07-02 21:42] dakrone commented on #58956
@martijnvg I believe this is fixed as part of #58642, but I also think we discussed perhaps not doing that PR, do you know whether we plan to merge that and then make the changes related to hardcoding the name we discussed, or whether we need to fix this separately?

[2020-07-02 21:53] jakelandis commented on #58730
two more cases:
7.8 Debian 10 : https://gradle-enterprise.elastic.co/s/ewtdkfa63qkbc
7.8 Ubuntu 18.04: https://gradle-enterprise.elastic.co/s/2youkxk6yruse

[2020-07-02 23:57] mark-vieira opened #58983 "[CI] WriteMemoryLimitsIT.testWriteBytesAreIncremented failing"
**Build scan**:
https://gradle-enterprise.elastic.co/s/f3iosxykv6aii/tests/:server:internalClusterTest/org.elasticsearch.action.bulk.WriteMemoryLimitsIT/testWriteBytesAreIncremented#1

**Repro line**:
[code]

**Reproduces locally?**:
No.

**Applicable branches**:
7.x

**Failure history**:
This started failing pretty consistently on July 2nd.
https://gradle-enterprise.elastic.co/scans/tests?search.

[2020-07-02 23:59] elasticmachine commented on #58983
Pinging @elastic/es-distributed (:Distributed/Distributed)

[2020-07-02 23:59] mark-vieira commented on #58983
Given the number of failures I went ahead and muted this in `7.x` with 8fca312a3af01994dddc31164fbff186bbf043d5

[2020-07-03 01:05] ywangd opened #58985 "Update custom realm documentation to reflect latest code changes"
The [custom realm documentation](https://github.com/elastic/elasticsearch/blob/master/x-pack/docs/en/security/authentication/custom-realm.asciidoc) is falling behind the code changes. For examples, the package name and method signatures are no longer correct. Also we don't have a section for the new `SecurityComponents`. Its overall content also could use a review to ensure it is up to date.

A re

[2020-07-03 01:05] elasticmachine commented on #58985
Pinging @elastic/es-security (:Security/Authentication)

[2020-07-03 01:06] elasticmachine commented on #58985
Pinging @elastic/es-docs (>docs)

[2020-07-03 01:37] talevy opened #58986 "Unable to parse certain dates due to AM/PM issues"
**Elasticsearch version**: 7.6+

**Description of the problem including expected versus actual behavior**:

I am not entirely sure what exactly the problem is, but there is some parsing logic with rounding dates up that causes parsing exceptions that do not look like they should be parsing exceptions.

I've written a unit test in `JavaDateMathParserTests.java` that reproduces the believed issue:

[2020-07-03 01:37] elasticmachine commented on #58986
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-07-03 02:57] lsygxw opened #58989 "Can ZGC provide better performance improvement for es? Whether to consider some adjustments for ZGC in the optimization strategy"
Two months ago, I changed the GC of es to ZGC. After observation, I found that on high-performance machines, the management of heap memory is better than G1. Although it is no longer compatible with pointer compression, it can be improved on high-performance machines. The heap uses some memory-for-speed scenarios to adapt to frequent aggregation fields.

[2020-07-03 04:43] kunisen commented on #47500
any updates here?

[2020-07-03 04:53] #57712 closed

[2020-07-03 05:12] ywangd opened #58990 "[CI] UpgradeClusterClientYamlTestSuiteIT.test {p0=old_cluster/10_basic/Component and composable template validation}"
**Build scan**:
https://gradle-enterprise.elastic.co/s/gihdwh5jshtqc

**Repro line**:

**Reproduces locally?**:
**Yes**

**Applicable branches**:
`master`

**Failure history**:
This is a new failure since the test is just added (#58867). The failure is also seed specific. So I am _not_ muting it just yet.

**Failure excerpt**:
[code]

[2020-07-03 05:12] elasticmachine commented on #58990
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-07-03 05:48] elasticmachine commented on #58936
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-07-03 06:35] oeph commented on #9571
Are there any news on this?

[2020-07-03 06:54] #58589 closed

[2020-07-03 07:29] pgomulka commented on #58986
looks like indeed we have a bug. this affects all 7.x versions. I think #46654  is not related - the problem can be reproduce in 7.4 without that change.
It is caused to how we default values in https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/common/time/JavaDateFormatter.java#L52

[2020-07-03 07:38] pgomulka commented on #58986
I think the fix might involve appending custom parseDefaulting-style parser which will treat hour of day and hour_of_ampm same way.
will work on it

[2020-07-03 08:12] original-brownbear opened #58995 "Async Search is not Catching some Exceptions (and Leaking Listeners as a Result?)"
Seeing this in production logs and it seems the same can happen in `master` still from a quick read of the code.

[code]

We're not dealing with exceptions in code like:

[code]

in case `getResponseWithHeaders` throws anything. It seems this might (in addition to logging a warning) cause the listener to potentially be leaked?

[2020-07-03 08:12] elasticmachine commented on #58995
Pinging @elastic/es-search (:Search/Search)

[2020-07-03 08:30] pgomulka commented on #58806
happen again on master https://gradle-enterprise.elastic.co/s/2zk4lmgz2gy6i

[2020-07-03 09:41] #58532 closed

[2020-07-03 09:48] #58562 closed

[2020-07-03 09:48] davidkyle commented on #58532
Thanks for the comments @ywelsch and @droberts195

I was curious because there was a marked increase in failures from 6th June but I'm satisfied this is most likely due to CI infra changes and I can see that in all cases the machine was under heavy load when failures occurred.

I bumped the timeout to 60s as it was on the edge

[2020-07-03 09:57] pgomulka commented on #58806
@hendrikmuhs do you think we could add more debug information for this test? How much was disk available, what was the partition it was checking etc?

[2020-07-03 10:49] javanna commented on #58995
Thanks for making this surface @original-brownbear , this had already surfaced from another channel and is being fixed with #57925

[2020-07-03 11:38] pgomulka commented on #58961
It happened again https://gradle-enterprise.elastic.co/s/dd5oniyis7nna on 7.8

[2020-07-03 12:03] droberts195 opened #59011 "[CI] upgraded_cluster/30_ml_jobs_crud/Test open old jobs failed with .ml-state-write not an alias"
**Build scan**: https://gradle-enterprise.elastic.co/s/svde5ts33nfki

**Repro line**:

[code]

**Reproduces locally?**: No

**Applicable branches**: 7.8 (upgraded from 7.6)

**Failure history**:

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:'2020-03-03T13:01:09.914Z',mode:absolute,to:'2020-07-03T12:01:15.600Z'))&_a=(columns:!(_source),index:

[2020-07-03 12:03] elasticmachine commented on #59011
Pinging @elastic/ml-core (:ml)

[2020-07-03 12:11] csoulios commented on #48005
Hi @benjam1n77, rollups refactoring is a task we are actively working on. You can track progress and related discussions in this ticket: https://github.com/elastic/elasticsearch/issues/42720

When it comes to ILM and rollups, the goal is to stop having rollups as continues jobs. Instead rollup will be an action in the ILM configuration. See the relevant ticket for more: https://github.com/elastic/

[2020-07-03 12:48] pgomulka commented on #58627
failed again on 7.x https://gradle-enterprise.elastic.co/s/2l2uruhuf7tom

[2020-07-03 12:58] #58995 closed

[2020-07-03 13:07] pgomulka commented on #39585
I had another failure which looks very similar on 7.x https://gradle-enterprise.elastic.co/s/fz4pznt6bautm
[code]

stacktrace
[code]

[2020-07-03 13:19] droberts195 commented on #59011
Interestingly, in `x-pack/qa/rolling-upgrade/src/test/resources/rest-api-spec/test/old_cluster/30_ml_jobs_crud.yml` we have this:

[code]

That strikes me as very dodgy, because it implies that our production code couldn't cope with possible race conditions with the creation of the `.ml-state` index.

More recently this won't even help, which probably explains why these tests sometimes fail now.

[2020-07-03 13:24] #58482 closed

[2020-07-03 13:33] pgomulka commented on #53225
@dnhatn by any chance this was not backported to 6.8 ?
there was a very similar failure in that test on that branch
[code]
https://gradle-enterprise.elastic.co/s/ysedpzc6m6ilc

[2020-07-03 14:46] martijnvg commented on #57968
I think we should aim to keep logic of executing pipelines after the _index has been changed simple.

Prior to performing ingest, a list of pipelines is determined. These pipelines are executed. If
at the end the `_index` has been changed then only the final pipeline of this index (if exists) should
be executed.

Given with the above logic, yes.

I think only the final pipeline should be executed.

[2020-07-03 14:51] bytebilly commented on #48856
Sorry for the late update here: as of today, I got no evidence that fine-grained access is required. I'll keep an eye on that and will update here in case something will come out.

[2020-07-03 16:01] spinscale commented on #48856
@bytebilly thanks a ton for digging into this! Just to be sure I understand your answer correctly in the context of my initial question: Your answer only refers to the requirement for fine grained privileges, but not for the ask to be able to manage scripts as an watcher admin (which still is an open issue then to have a `manage_scripts` privilege), correct?

[2020-07-03 16:08] droberts195 commented on #59011
We also have quite a few open issues for "all shards failed" against our internal state or stats indices: #54887, #55221, #55807, #57102, and #58841

I am thinking that `MlIndexAndAlias.createIndexAndAliasIfNecessary` should wait for shards to be allocated for the index it creates before returning.  I will create a PR for this.

[2020-07-03 16:11] bytebilly commented on #48856
@spinscale yes that's the case.

We don't have scheduled it yet, given the long list of current priorities.
Let us know if you feel that there are compelling reasons to push it now, happy to evaluate again.

[2020-07-03 16:27] costin opened #59022 "EQL: Allow queries to be saved so they can be executed later on without having to re-declare them"
Similar to painless scripts or watcher alerts, we could allow EQL queries to be saved and then executed on demand.

[2020-07-03 16:27] elasticmachine commented on #59022
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-03 17:51] droberts195 commented on #56271
Fixed by #58175

[2020-07-03 17:51] #56271 closed

[2020-07-03 17:52] droberts195 commented on #55781
Fixed by elastic/ml-cpp#1247

[2020-07-03 17:52] #55781 closed

[2020-07-03 17:53] droberts195 commented on #52149
Fixed by #53783

[2020-07-03 17:53] #52149 closed

[2020-07-03 17:54] droberts195 commented on #54326
Fixed by #54523

[2020-07-03 17:54] #54326 closed

[2020-07-03 17:56] droberts195 commented on #45720
Fixed by #58302

[2020-07-03 17:56] #45720 closed

[2020-07-03 17:57] droberts195 commented on #38890
FIxed by #55735

[2020-07-03 17:57] #38890 closed

[2020-07-03 18:01] droberts195 commented on #29993
This issue is old.  For a while we have had functionality that will stop a datafeed being assigned to a node if any of the indices it requires are not active.

[2020-07-03 18:01] #29993 closed

[2020-07-03 20:27] droberts195 commented on #58730
When I saw the warnings I assumed that Lintian was looking _inside_ `.jar` files. But it seems that actually the ES build is now accidentally shipping loose `.class` files not inside `.jar` files, in particular those from Lucene. This is a blocker for the 7.8.1 release because Microsoft installer cannot install files with `$` in the name, like `DeDuplicatingTokenFilter$DuplicateTaggingFilter.class

[2020-07-04 03:02] dnhatn commented on #53225
I think this is the reason. I will work on a fix.

  1> java.util.concurrent.RejectedExecutionException: connect queue is full
  1> 	at org.elasticsearch.transport.RemoteClusterConnection$ConnectHandler.connect(RemoteClusterConnection.java:445) [elasticsearch-6.8.11-SNAPSHOT.jar:6.8.11-SNAPSHOT]
  1> 	at org.elasticsearch.transport.RemoteClusterConnection$ConnectHandler.connect(RemoteClusterConnec

[2020-07-04 07:03] droberts195 commented on #58730
Confirmed:

[code]

So this issue doesn't imply some weird update to Lintian, but a change to the way Elasticsearch is being packaged for distribution.

Presumably this must have been caused by a commit that was made on 29th June.

[2020-07-04 07:31] droberts195 commented on #58806
All the failures are on "EAR" builds: encryption at rest.

It may mean that disk space is _not_ the problem, but something to do with the encryption that's being misreported.

If you look at the C++ code that detects lack of disk space it returns `false` (on line 495) if it cannot obtain the amount of free disk space: https://github.com/elastic/ml-cpp/blob/edafba5165656ef617074e332268d7bdaba23922/

[2020-07-04 07:39] droberts195 opened #59031 "Windows zip package contains loose .class files"
The Windows installer cannot be built for 7.8.1 and above because the Windows zip file it uses for its input contains loose `.class` files (not inside `.jar` files).  This is a blocker for the 7.8.1 release.

The particular thing that breaks it is the `$` in the filename of the nested class files, but presumably it's unintentional that we are shipping any loose `.class` files at all.

Steps to rep

[2020-07-04 07:39] elasticmachine commented on #59031
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-07-04 07:40] droberts195 commented on #59031
/cc @ygel @joshdover

[2020-07-04 08:02] ddolcimascolo commented on #58926
Hi guys, did you get a chance to review this issue? Could it be something I'm doing wrong?

Thanks!

[2020-07-04 08:09] ddolcimascolo commented on #58374
Hello,

I'm on 7.7.0 and I just noticed this as well...

David

[2020-07-04 12:10] romantictravel01 opened #59033 "Kibana NoShardAvailableActionException"
os:centos8
elasticsearch version:7.6.1
kibana: 7.6.1
ik plugin version: 7.6.1

elasticsearch start error

2020/7/4 下午7:55:15"at io.netty.channel.AbstractChannelHandlerContext.invokeChannelRead(AbstractChannelHandlerContext.java:360) [netty-transport-4.1.43.Final.jar:4.1.43.Final]",
2020/7/4 下午7:55:15"at io.netty.channel.AbstractChannelHandlerContext.fireChannelRead(AbstractChannelHandlerContext.ja

[2020-07-04 15:59] maheshsv commented on #54962
Can i contribute to this issue, please let me know

[2020-07-04 19:53] dnhatn commented on #53225
I've opened https://github.com/elastic/elasticsearch/pull/59036.

[2020-07-05 07:47] droberts195 commented on #56280
This is the same problem as #58806: EAR builds.  Although this one was opened earlier I'll close it in favour of #58806 as that contains more comment and analysis.

[2020-07-05 07:47] #56280 closed

[2020-07-05 08:11] droberts195 commented on #58806
I looked for "Failed to retrieve disk information for" in the server side logs of https://gradle-enterprise.elastic.co/s/2zk4lmgz2gy6i (obtained from https://storage.cloud.google.com/elasticsearch-ci-artifacts/jobs/elastic+elasticsearch+master+EAR/build/75.tar.bz2) and didn't see it, so either forecasting _is_ looking for space on a partition that has very little available, or else the Boost.FileS

[2020-07-05 08:16] droberts195 commented on #44713
We haven't seen failures due to excessive garbage collection recently.  Whatever the problem was must have been coincidentally fixed.

[2020-07-05 08:16] #44713 closed

[2020-07-05 08:21] droberts195 commented on #49305
This hasn't happened recently.  It sounds like it's a bug in 7.5 that's been fixed in more recent versions.  Since there will be no more changes to 7.5 there is not point keeping this issue open.

[2020-07-05 08:21] #49305 closed

[2020-07-05 10:52] srikwit opened #59037 "Support ip_range in Enrichment"
Elasticsearch supports the ip_range type.

One way to reduce a lot of traffic from investigation or focus on a specific network is by the use of allow or deny lists.
Currently I am only able to enrich IP's individually as the enrich index converts them into a keyword.
As a subnet size increases, it is not effective to expand it and do an enrichment on a 1:1 basis.

Kindly consider for supporting i

[2020-07-05 20:24] dnhatn commented on #58671
Fixed in https://github.com/elastic/elasticsearch/pull/58866.

[2020-07-05 20:24] #58671 closed

[2020-07-06 02:52] tvernum commented on #59031
This appears to be a result of #58451
I've only tested on `master` (not `7.x` / `7.8`) but the behaviour seems to have changed in 9526c7a4b340782892a2e4a57238f990c2ca2f42

Pinging @breskeb for review

[2020-07-06 03:17] devanandch commented on #54964
Hi, can i work on this item please

[2020-07-06 05:23] breskeby commented on #59031
I’ll look into this

[2020-07-06 06:00] #58088 closed

[2020-07-06 06:26] imgoby commented on #44556
is that the same problem?

[arthas@1]$ thread -b
"ConsumeMessageThread_6" Id=200 WAITING on java.util.concurrent.CountDownLatch$Sync@3b2504f9
    at java.base@10.0.2/jdk.internal.misc.Unsafe.park(Native Method)
    -  waiting on java.util.concurrent.CountDownLatch$Sync@3b2504f9
    at java.base@10.0.2/java.util.concurrent.locks.LockSupport.park(LockSupport.java:194)
    at java.base@10.0.2/java.ut

[2020-07-06 07:42] #59031 closed

[2020-07-06 07:56] przemekwitek commented on #59011
I've added this `setup` stanza when I was renaming `.ml-state` to `.ml-state-000001` (see https://github.com/elastic/elasticsearch/pull/52510/files#diff-90e5b005c474a5a63dafd0aa6ce50cbb). Back then I thought the realistic setup for the old (i.e. before upgrade) cluster was to have the `.ml-state` index created from the template and in a green state.

[2020-07-06 07:59] elasticmachine commented on #59037
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-07-06 08:18] droberts195 commented on #58730
The problem with class files should be fixed by #59048.  So we are back to just the minor problem of the two text files with `0664` rather than `0644` permissions.

[2020-07-06 08:38] droberts195 commented on #59011
Oh, I see.  Yes, I guess it does make sense in the case where the old cluster is on a version that will create `.ml-state-000001` itself, because it simulates the case of a `.ml-state` left over from a much older version.  So on the master branch it's fine.  But the complication is that in the 7.x/7.8/7.7 branches sometimes the old cluster is going to be on a version that uses `.ml-state` itself,

[2020-07-06 09:06] tvernum commented on #47500
@kunisen No. If the issue is unassigned and has no recent comment or a link to a PR, then it is generally safe to assume that nothing has changed.

[2020-07-06 09:11] cbuescher commented on #59033
Hi @romantictravel01! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question or a concrete usage problem than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead.

Just to give you some

[2020-07-06 09:11] #59033 closed

[2020-07-06 09:38] hendrikmuhs opened #59053 "[CI] ML IT: Timed out waiting for the ML templates to be installed"
**Build scan**: https://gradle-enterprise.elastic.co/s/3zr7kqjx6oyza

**Repro line**: ```./gradlew ':x-pack:plugin:ml:internalClusterTest' --tests "org.elasticsearch.xpack.ml.integration.BasicDistributedJobsIT.testFailOverBasics_withDataFeeder" -Dtests.seed=528D9725A2F669F6 -Dtests.security.manager=true -Dtests.locale=ja -Dtests.timezone=Africa/Douala -Druntime.java=14```

**Reproduces locally?**:

[2020-07-06 09:38] elasticmachine commented on #59053
Pinging @elastic/ml-core (:ml)

[2020-07-06 09:44] pgomulka commented on #58481
closed by https://github.com/elastic/elasticsearch/pull/58503

[2020-07-06 09:44] #58481 closed

[2020-07-06 09:44] pgomulka commented on #58602
closed by https://github.com/elastic/elasticsearch/pull/58503

[2020-07-06 09:44] #58602 closed

[2020-07-06 10:05] martijnvg commented on #58956
@dakrone I would expect that in this example the composable index template can be added without an error, because the timestamp field mapping has been defined inside the template. The empty component template shouldn't have to define the timestamp field mapping, right?

There are going to be a two changes:
* The timestamp field for a data stream is going to be fixed to be '@timestamp', until we fi

[2020-07-06 10:18] matriv commented on #54962
@maheshsv there is already a PR open for this: #57391

[2020-07-06 10:30] markharwood commented on #51840
It may be worth considering the logic for the 2 query adjustment strategies:
1) Improving recall by relaxing tight queries
2) Improving precision by tightening loose queries

This issue is focused on strategy 1) and switching query choices based on a straight doc count (measuring recall).
Strategy 2 is another mode of switching queries but is based on a harder measure (quantifying precision of res

[2020-07-06 10:36] vsop-479 opened #59059 "Need to remap global ords if a query has a query condition."
If a query has a query condition, it may filter out a lot of rows as well as an aggregator has a parent aggregator.
So, i think for non-MatchAllQuery, es need to remap global ords too.

[2020-07-06 11:17] #53938 closed

[2020-07-06 11:34] Steuf opened #59061 "[Transform] Performance: Unexpected long runtime for date_histogram group_by when using 2 different time fields"
**Elasticsearch version** : 7.8

**Plugins installed**: []

**JVM version** : official docker for release 7.8

**OS version** : official docker for release 7.8

**Description of the problem including expected versus actual behavior**:

As asked on forum: https://discuss.elastic.co/t/continous-transforms-accumulating-delay-can-be-tweak-for-speed-up/239807/6

Transforms don't use last checkpoint dat

[2020-07-06 11:49] elasticmachine commented on #59061
Pinging @elastic/ml-core (:ml/Transform)

[2020-07-06 12:27] danhermann commented on #58795
I'm still seeing instances of this error in 7.x builds: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-2/3215/console

[2020-07-06 12:45] joshhornby commented on #47117
Does collapsing work on nested objects at all? I'm trying to collapse on a `keyword` type and I'm only seeing one result returned.

[2020-07-06 13:12] UkrZilla opened #59071 "release-highlights for 7.7.0 is missed"
I was searching for a new setting search.check_buckets_step_size since 7.7.0 but can't find it
I think it should be here as for versions before: https://www.elastic.co/guide/en/elasticsearch/reference/7.7/release-highlights-7.7.0.html

[2020-07-06 13:23] pgomulka commented on #58795
I also see this on my PR against 7.x https://gradle-enterprise.elastic.co/s/6it63unz4zp4s

[2020-07-06 13:44] martijnvg commented on #58956
and #58642 fixes the bug here: https://github.com/elastic/elasticsearch/pull/58642/files#diff-115cd2f0fff9dd97acc95e1d29012a15R1080

For each template the timestamp field was validated, whereas instead this should be validated
for the final mappings.

I will address that in the pr that fixes the timestamp field to `@timestamp`

[2020-07-06 13:54] #42997 closed

[2020-07-06 14:11] lockewritesdocs opened #59075 "[DOCS] Remove ESS icon for audit logging"
[SDH #3105](https://github.com/elastic/sdh-cloud/issues/3105) was opened because a customer was confused by the ES docs, which indicated that audit logging was supported in ESS via the `xpack.security.audit.enabled` setting. The ESS icon was mistakenly added (by me) in #57486. This fix removes the ESS icon for that settings in the affected branches.

[2020-07-06 14:26] jbaiera commented on #55634
Closing this since the deadlock is mitigated with #56247. Further discussion about the temporary capture of search threads will take place in #56450.

[2020-07-06 14:26] #55634 closed

[2020-07-06 14:35] bpintea commented on #58907
Example: `SELECT str, int, substring(str, int, 3) FROM index`
[code]

[2020-07-06 14:42] #59075 closed

[2020-07-06 15:22] #58983 closed

[2020-07-06 15:57] #54887 closed

[2020-07-06 15:57] #55221 closed

[2020-07-06 15:57] #57102 closed

[2020-07-06 15:57] #59011 closed

[2020-07-06 16:19] costin commented on #58888
Fixed by #59014

[2020-07-06 16:19] #58888 closed

[2020-07-06 16:20] costin commented on #58889
Fixed by #59014

[2020-07-06 16:20] #58889 closed

[2020-07-06 16:21] dakrone commented on #58643
This was fixed in 7.x and master by #58521 and in 7.8 (for a 7.8.1 release) by #58964, so I'm going to close this issue.

[2020-07-06 16:21] #58643 closed

[2020-07-06 16:22] costin commented on #58646
PRs #59014 and #59063 have added the server support. What's left is exposing the default order in the request so that clients can specified the default order (currently it defaults to ASC for test compatibility - once this parameter is in place, we can configure it at test level).

[2020-07-06 17:17] #58296 closed

[2020-07-06 19:27] nik9000 opened #59097 "terms agg doesn't like being nested under parent and child aggs"
When a `terms` agg is nested under a `parent` or `children` agg it can't use some optimizations. Before #56533 they would also be skipped because all sub-aggregations collect as though they are multi-bucketed. We tried to collect sub-aggregations of the parent/child agg as single bucketed because, well, they only collect a single bucket. But that produced incorrect results and I couldn't figure ou

[2020-07-06 19:27] elasticmachine commented on #59097
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-06 20:42] rw-access commented on #58646
@costin what change are you expecting on the endpoint side? In EQL itself or in the test suite?
I think the test suite would be more appropriate, but even then, this seems like an implementation-specific detail, and I think it's okay not to propagate the changes back, but instead interpret the `expected_event_ids` part of the spec differently.

[2020-07-06 21:11] gwbrown opened #59102 "6.x Deprecation Info API can throw an exception in the presence of unusual mappings in index templates"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.7.0-6.8.10

**Plugins installed**: n/a

**JVM version** (`java -version`): n/a

**OS version** (`uname -a` if on a Unix-like system): n/a

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Set up a template that has a mapping with an object field that has at least one sub-field with only

[2020-07-06 21:11] elasticmachine commented on #59102
Pinging @elastic/es-core-features (:Core/Features/Features)

[2020-07-06 21:13] polyfractal opened #59103 "Mismatched value_type on a scripted aggregation can NPE when building exception"
If a `date_histo` is specified with a script, no field, and a "mismatched" `value_type` you can hit an NPE when trying to generate an exception text.  This happens because we try to lookup the field context to make a useful exception text... but there is no field here thus NPE.  :)

Edit: I think this probably applies to any agg that accepts a script, I just stumbled into it while investigating a

[2020-07-06 21:13] elasticmachine commented on #59103
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-06 21:18] awick opened #59104 "7.8.0 shuffles shards constantly for no reason"
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 7.8.0, Build: default/tar/757314695644ea9a1dc2fecd26d1a43856725e65/2020-06-14T19:35:50.234439Z, JVM: 14.0.1

**Plugins installed**: [] none

**JVM version** (`java -version`): bundled

**OS version** (`uname -a` if on a Unix-like system): Linux moloches29 3.10.0-1127.10.1.el7.YAHOO.20200605.60.x86_64 #1 SMP Fri Jun 5 13:51:56 UTC

[2020-07-06 22:15] nik9000 commented on #28950
Fixed by #58255. #29201 has another fix that I think is actually better. Let's see if we can get that one in too!

[2020-07-06 22:15] #28950 closed

[2020-07-06 22:18] blkbltjns commented on #50531
Hi @iverase,

No change in performance here. We still see query timeouts on the initial spatial intersection queries, and subsequent queries take around a second to complete.

[2020-07-06 22:30] elasticmachine commented on #59104
Pinging @elastic/es-distributed (:Distributed/Allocation)

[2020-07-06 22:32] gwbrown commented on #59071
The page you're looking for has been moved, it is now here: https://www.elastic.co/guide/en/elastic-stack/7.7/elasticsearch-highlights.html

I'm not sure if this is something we would usually have a redirect for, so I'll let some docs folks weigh in on that.

[2020-07-06 22:33] elasticmachine commented on #59071
Pinging @elastic/es-docs (>docs)

[2020-07-06 22:34] elasticmachine commented on #59059
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-06 22:34] elasticmachine commented on #58926
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-06 22:35] elasticmachine commented on #58826
Pinging @elastic/es-core-features (:Core/Features/Watcher)

[2020-07-06 22:36] elasticmachine commented on #58796
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-07-06 22:37] elasticmachine commented on #58925
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-07-06 22:37] elasticmachine commented on #58633
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-06 22:41] elasticmachine commented on #58989
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-07-06 22:48] nik9000 commented on #59059
That's interesting! I've not done a whole lot of thinking about how valid the rules that we use for picking the implementation are. I wouldn't be surprised if we never thought about that point. I also wouldn't be surprised if we had and I wasn't around. I think if the incoming cardinality of the `terms` aggregation isn't 1 then remapping makes a ton of sense because you end up wasting space on the

[2020-07-06 22:50] nik9000 commented on #58926
Thanks for the recreation! This is certainly a bug on my side. I'm not 100% sure whether the sum should be `NaN` or `0`, but :boom: is certainly not he right answer.

[2020-07-06 22:56] gwbrown commented on #58989
We work hard to evaluate new garbage collection algorithms available in [our supported JVMs](https://www.elastic.co/support/matrix#matrix_jvm) and recommend them only when we have been able to test our systems thoroughly for negative interactions. At this time, we cannot recommend use of ZGC with Elasticsearch, because we have not evaluated and tested it thoroughly enough to make that recommendati

[2020-07-06 22:56] #58989 closed

[2020-07-06 22:57] elasticmachine commented on #58724
Pinging @elastic/es-core-features (:Core/Features/Watcher)

[2020-07-06 22:58] elasticmachine commented on #58890
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-06 22:58] elasticmachine commented on #58634
Pinging @elastic/es-distributed (:Distributed/Allocation)

[2020-07-06 22:59] elasticmachine commented on #58474
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-06 23:38] waldner opened #59109 "kibana-oss 7.8.0 docker image, blank "discover page""
**Description of the problem including expected versus actual behavior**:

Using kibana-oss:7,8,0 official docker image, I have imported the sample "flights" data, and goinf to the "discover" page gives a blank screen. In the jibana container log, I see this entry:

```{"type":"response","@timestamp":"2020-07-06T23:33:18Z","tags":[],"pid":6,"method":"get","statusCode":404,"req":{"url":"/31997/bund

[2020-07-06 23:47] casertap opened #59110 "Elasticsearch: empty slices when using scroll api with slice"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.5.2

**Plugins installed**: []

repository-s3
analysis-icu
analysis-kuromoji
analysis-nori
analysis-phonetic
analysis-smartcn
analysis-stempel
analysis-ukrainian
https://github.com/medcl/elasticsearch-analysis-ik/releases/download/v7.5.2/elasticsearch-analysis-ik-7.5.2.zip
https://github.com/medcl/elasticsearch-analysis-pinyin/releases/d

[2020-07-06 23:50] spong commented on #57964
For reference, we have a few histograms within Elastic Security ([demo](https://demo.elastic.co/app/siem#/detections/signals?timerange=(global:(linkTo:!(timeline),timerange:(from:1593992777008,fromStr:now-24h,kind:relative,to:1594079177009,toStr:now)),timeline:(linkTo:!(global),timerange:(from:1593992777008,fromStr:now-24h,kind:relative,to:1594079177009,toStr:now))))) where we allow bucketing by I

[2020-07-07 00:36] LiamKarlMitchell commented on #31425
So where do I put -XX:UseAVX=2 to make this work?
Using elastic search 6.8.3 in a docker container.
Works fine first after build but after a docker-compose down and up it does not work anymore.

[2020-07-07 00:51] jasontedor commented on #31425
@LiamKarlMitchell Are you using the official 6.8.3 Docker image? If so, I don't think you can be experiencing *this* issue because that container is based on JDK 12 where this issue is mitigated. If not, please use the official image and we will support you. Either way, please use the [forums](https://discuss.elastic.co) for additional help.

[2020-07-07 00:59] JackYangzg commented on #43412
I meet the same problem

[code]

[2020-07-07 02:57] LiamKarlMitchell commented on #31425
I did a rebuild and deleted volumes.
I extend with own Dockerfile from the official image just to add the icu and phonetic plugins.
The docker-compose file has a local volume for the esdata.

[code]

After destroying the volume and rebuilding it looks like it works :).
Thanks

[2020-07-07 02:59] hackerwin7 commented on #58647
a flame graph, here it is:
![image](https://user-images.githubusercontent.com/15257080/86697123-ac565380-c040-11ea-8ef7-4e7a358c02d8.png)

the most cost is ChildMemoryCircuitBreaker.limit().

[2020-07-07 04:28] kasa-taku commented on #45486
Is there any possibility of supporting this in the future?

[2020-07-07 04:56] bramford commented on #39237
@lowwa132 raises a valid question. I'm using ES latest (7.8) and still getting `circle geometry is not supported` on the "new" default `geo_shape` indexing strategy (said to be BKD tree).

The docs say

@iverase Is this just a workaround while we wait for native `Circle` support in the default strategy or is the goal to deprecate the `Circle` type? If we're just waiting, it would be helpful to lin

[2020-07-07 06:09] DaveCTurner opened #59114 "Improve failure handling when scheduling AbstractRunnables for future execution"
When executing an `AbstractRunnable` on a new thread we deliver failures (i.e. rejections) to the command rather than throwing them to the caller. However we do not do this when _scheduling_ an `AbstractRunnable` for future execution. There are a number of ways that this might skip the expected failure handling:

- the scheduler itself is shut down, so `ThreadPool#schedule` throws an `EsRejectedEx

[2020-07-07 06:09] elasticmachine commented on #59114
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-07-07 07:19] ddolcimascolo commented on #58926
Hi @nik9000, thx for taking the time to review this.
I think the sum_bucket aggregation should respect the defined gap policy and either replace the null with 0 (insert_zeroes) or skip the value (skip)

Regards,
David

[2020-07-07 07:21] elasticmachine commented on #58634
Pinging @elastic/es-search (:Search/Search)

[2020-07-07 07:21] getsaurabh02 opened #59116 "Creating effective back-pressure in ES Write Path"
Related to https://github.com/elastic/elasticsearch/pull/58885/ where we are adding rejections when the indexing memory limits are exceeded for primary or coordinating operations. The ongoing PR also plans to add a safeguard memory limit for replica operations, which is currently proposed to default at 1.5 times the ```indices.write.limit```.

**Few challenges which might come in with  the propose

[2020-07-07 07:22] costin commented on #58646
The changes proposed are to be implemented in Elasticsearch EQL to allow compatibility with the existing EQL expectation (including the test suite). I don't have any expectation of pushing this functionality further since I have little insight into what that entails.

[2020-07-07 07:26] getsaurabh02 commented on #59116
@tbrooks8 As you are actively working on https://github.com/elastic/elasticsearch/pull/58885/. Will be happy to get your thoughts on this. Thanks.

[2020-07-07 07:28] ywelsch commented on #59104
Can you reduce `cluster.routing.allocation.cluster_concurrent_rebalance` back to 2 (the default), let the cluster juggle shards for a bit and see if that helps? Based on the above settings, it also sounds like your cluster is way over-sharded.

[2020-07-07 07:30] elasticmachine commented on #59116
Pinging @elastic/es-distributed (:Distributed/CRUD)

[2020-07-07 08:22] UkrZilla commented on #59071
Have this this pull request been applied to release? https://github.com/elastic/elasticsearch/pull/55266
According to it 7.7 has a new setting search.check_buckets_step_size

[2020-07-07 09:05] iverase commented on #50531
are you still using 7.5.0?

 In 7.6.0 we change the way we open this index(https://github.com/elastic/elasticsearch/pull/49272), so I would expect an upgrade will help. In the upcoming 7.9.0, there are several improvements to this index as well.

Could you share the output of hot threads while running this query? I would like to see where we are spending most of the time.

[2020-07-07 09:08] iverase commented on #39237
@bramford we currently only support circles natively at search time. For indexing you need to approximate to a polygon as stated in the docs, we are currently not working in adding it natively. We added a ingest circle processor to help:

https://www.elastic.co/guide/en/elasticsearch/reference/master/ingest-circle-processor.html

[2020-07-07 09:34] cbuescher commented on #58990
Some more today:

https://gradle-enterprise.elastic.co/s/fob4oqdj7e5uu
https://gradle-enterprise.elastic.co/s/oqqapdgtxjmn4

[2020-07-07 09:40] droberts195 opened #59125 "[ML] Add a "verbose" option to the data frame analytics stats endpoint"
The data frame analytics stats endpoint can return extremely verbose information that is only useful if it is plotted on a chart.  For example:

<img width="1904" alt="Screenshot 2020-04-07 at 12 52 24" src="https://user-images.githubusercontent.com/7405510/86758282-a7db6c00-c03b-11ea-8c73-95227ed21753.png">

For REST API clients that do not have the ability to plot the `fold_values` on a chart th

[2020-07-07 09:40] elasticmachine commented on #59125
Pinging @elastic/ml-core (:ml)

[2020-07-07 09:46] cbuescher commented on #39585
Got something very similar looking today in `SimpleAllocationIT`, doesn't reproduce locally though.

'''
./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.cluster.allocation.SimpleAllocationIT" \
  -Dtests.seed=350E3A83EFD295EF \
  -Dtests.security.manager=true \
  -Dtests.locale=en-US \
  -Dtests.timezone=Etc/UTC \
  -Druntime.java=11
'''

https://gradle-enterprise.elastic.co/s/h

[2020-07-07 09:55] cbuescher commented on #58795
Seen today on 7.8 build: https://gradle-enterprise.elastic.co/s/zaxqrqzedl6aw

[2020-07-07 09:58] awick commented on #59104
I forgot to put in my standard background info
* I've been running large Elasticsearch clusters since 2011
* I've been using the current persistent settings for several years, and the last time I even changed my elasticsearch.yml file was Nov 2019 (I use ansible so I have every version ever used)
* This behavior is new, I've never seen it in any of the previous versions I've used.

I will try redu

[2020-07-07 10:07] droberts195 commented on #59053
I think this is another case of the increased parallelism making some tasks take a lot longer than they would if they had the machine to themselves:

<img width="1336" alt="Screenshot 2020-07-07 at 11 05 30" src="https://user-images.githubusercontent.com/7405510/86766036-dfe5ad80-c041-11ea-88f2-d6a129e655e4.png">

There were some periods during the ML internal cluster tests that they were sharing

[2020-07-07 10:16] cbuescher commented on #56755
This still seems to fail on 7.8: https://gradle-enterprise.elastic.co/s/2cek73xlv5yze
@iverase  can we can backport the fix you mentioned above to that branch as well or should it already be fixed on 7.8?

[2020-07-07 10:18] przemekwitek opened #59130 "Report peak model memory in ModelSizeStats"
`ModelSizeStats` should contain `peak_model_bytes` field containing the peak memory usage of the model in bytes.
C++ class (`CResourceMonitor`) already stores relevant bit of information.

[2020-07-07 10:18] elasticmachine commented on #59130
Pinging @elastic/ml-core (:ml)

[2020-07-07 10:19] droberts195 commented on #55289
This build failed because the test suite timeout out after 30 minutes.  But looking at the times taken by any individual test, none stood out.  It was just that every single test was a bit slower than normal.

I think this is just one case of the general problem of the Darwin workers being really slow, and that is covered in #58286.

[2020-07-07 10:19] #55289 closed

[2020-07-07 10:20] iverase opened #59131 "[CI] Reproducible Failure in InternalAutoDateHistogramTests.testReduceRandom"
This test failed in one of my PR and can be reproduce:

[code]

Error:

[code]

[2020-07-07 10:21] elasticmachine commented on #59131
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-07 10:22] droberts195 commented on #54162
Closing this since a fix was made and it hasn't been updated since then with more failures.

[2020-07-07 10:22] #54162 closed

[2020-07-07 10:28] droberts195 commented on #40441
We haven't seen this problem recently, and given that the only failure was on the 6.7 branch and 6.7 is no longer being maintained I will close it.

[2020-07-07 10:28] #40441 closed

[2020-07-07 10:33] #45286 closed

[2020-07-07 10:42] droberts195 commented on #59130
I think there might be one complication, which is that `CResourceMonitor::m_Peak` is not remembered when the program stops and restarts.  It might be possible to get around this using the functionality of the `core::CProgramCounters` class.  Those counters persist between runs, and already contain a counter for latest memory usage.  So it should be possible to add another for peak memory usage, ge

[2020-07-07 10:43] cbuescher opened #59132 "[CI] MonitoringWithWatcherRestIT.testThatLocalExporterAddsWatches failures"
**Build scan**:

https://gradle-enterprise.elastic.co/s/7ozkt4tgixntq

**Repro line**:
[code]

**Reproduces locally?**:

Wasn't able to reproduce locally within a few runs

**Error**

[code]

**Applicable branches**:

Failure in 7.8, but found similar failures in the past on master, e.g. https://gradle-enterprise.elastic.co/s/wfknexh53ho5m

**Failure history**:

Looks like this failed occasionally