[2020-09-24 12:52] elasticmachine commented on #62863
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-09-24 13:07] danielmitterdorfer commented on #62863
Muted in:

* https://github.com/elastic/elasticsearch/pull/62865 for master
* https://github.com/elastic/elasticsearch/pull/62868 for 7.x

[2020-09-24 13:08] chrisronline commented on #50032
I see. That's less than ideal from a user perspective, but it's at least a better experience than doing nothing. Works for us, thanks!

[2020-09-24 13:12] danielmitterdorfer commented on #62699
Another instance in https://gradle-enterprise.elastic.co/s/xlfgaxlyono5o.

[2020-09-24 13:18] javanna commented on #62783
I wonder what that means in practice. You mentioned integration tests but the problem here is in a unit test, which I think is a much better way to test serialization. Like I hinted above, maybe randomizing version in `ClusterSearchShardResponseTests` is not a good idea, and it worked only up until no changes were made that could affect the response being tested. From a quick look, other tests tha

[2020-09-24 13:32] jasontedor commented on #28707
@jaebongim Yes, there is no support and no intention to support at the moment.

[2020-09-24 13:44] davidkyle opened #62873 "[ML] Limit daily clean up task to one instance"
The ml delete expired data action is kicked off on a diurnal cycle. If the task does not finish within 24 hours the next task is started and starts contending with the first task. This slows progress and makes a bad situation even worse and is later exacerbated by a 3rd or 4th concurrent task.

ml should check for an existing delete expired data task and not start any more until the first is finis

[2020-09-24 13:44] elasticmachine commented on #62873
Pinging @elastic/ml-core (:ml)

[2020-09-24 13:46] danielmitterdorfer commented on #62699
Muted in:

* https://github.com/elastic/elasticsearch/pull/62870 for master
* https://github.com/elastic/elasticsearch/pull/62871 for 7.x
* https://github.com/elastic/elasticsearch/pull/62874 for 7.9

[2020-09-24 13:50] davidkyle opened #62875 "[ML] "Model snapshot [X] deleted" message spams the job messages"
<img width="1061" alt="Screenshot 2020-09-24 at 14 48 13" src="https://user-images.githubusercontent.com/2353640/94153809-22669b80-fe75-11ea-85d4-2905e2eb9fc6.png">

There are 6 messages every day saying that a backup snapshot has been deleted. All these snapshots are deleted at the same time and could be combined into a single message

[2020-09-24 13:50] elasticmachine commented on #62875
Pinging @elastic/ml-core (:ml)

[2020-09-24 13:59] droberts195 commented on #62873
There is supposed to be an 8 hour time limit on the daily clean up.  I think there are some weaknesses in this, for example it doesn't include forecast deletion if I remember correctly.

Also, since `triggerDeleteJobsInStateDeletingWithoutDeletionTask` was added, this 8 hour timeout only applies to the `triggerDeleteExpiredDataTask` part.

It makes me wonder if `triggerDeleteJobsInStateDeletingWit

[2020-09-24 14:03] original-brownbear opened #62877 "Tripped Assertion in ConcurrentSnapshotsITs"
This assertion trips at a very low rate in `ConcurrentSnapshotITs`:

[code]

like it for example did in https://gradle-enterprise.elastic.co/s/rpm3r3o7nztss/console-log/raw. This affects all versions 7.9+ but is extremely unlikely and completely harmless in production. I'm on it with a fix.

[2020-09-24 14:03] elasticmachine commented on #62877
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-09-24 14:04] matriv commented on #62645
For python when you have something enclosed in `"""` you cannot have the `"""` sequence inside it, since the approach is the non-greedy one and therefore, when the sequence is met again it denotes the end of string. For python you just need to escape on of the `"` or all of them in the sequence to make it work:
[code]

[2020-09-24 14:06] original-brownbear commented on #62853
I went through the list of linked issues and they are somewhat diverse and not tied to a single origin.

One that I found in here was https://github.com/elastic/elasticsearch/issues/62877.

Others are just a result of CI slowness as far as I can tell (but maybe we can improve those tests as they are quite heavy and thus slow when applying CS). I'll try to open issues for those later.

[2020-09-24 14:16] jonnytest1 commented on #27789
easy fix : String.valueOf(<charcode>) ...

[2020-09-24 14:26] rw-access opened #62883 "EQL: Special string-matching operator"
Related to #62651. And nearly equivalent to https://github.com/elastic/elasticsearch/issues/62651#issuecomment-698017348

I think we reached a conclusion on that issue and out-of-band, and should remove the overloading for `==`. In addition, we should also make EQL case-_sensitive_ everywhere.

However, the need to easily express case-insensitive, wildcard searching is still top priority. This iss

[2020-09-24 14:26] elasticmachine commented on #62883
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-09-24 14:43] #62241 closed

[2020-09-24 14:50] panbalag commented on #62404
This issue is being addressed by the PR https://github.com/elastic/elasticsearch/pull/62827

[2020-09-24 14:50] jpountz commented on #62817
@markharwood I would avoid dropping support for fuzzy queries entirely as the compatibility between keyword and wildcard is an important feature of the wildcard field. I would rather make fuzzy queries operate purely on doc values.

[2020-09-24 14:53] benwtrent commented on #62404
I do think this is being partially addressed.

PR #62827 only handles the case for when there is at least one concrete index across all the patterns.

It still stands that there needs to be at least ONE concrete index for a datafeed to start.

[2020-09-24 15:10] jpountz commented on #62817
The hash/modulo dropping approach looks interesting to me but I wonder how it would compare with other approaches, I have the following ideas in mind for instance:
 - More aggressively normalizing characters in order to have fewer, denser postings lists, e.g. normalizing all spaces (line breaks, tabs, ...) to a white space and all punctuation characters to a single character e.g. `_`.
 - The above

[2020-09-24 15:14] djsiroky commented on #61173
Hi @bytebilly, I don't believe that's the case. I've checked the response via `curl`, Insomnia (an REST API tool similar to Postman), and a Node.js script, and each time the response from the server includes:
- Content-Type headers of  `application/json; charset=UTF-8` (telling me the byte array is being string encoded server-side)
- Some form of an encoded string with the replacement characters (

[2020-09-24 15:19] jimczi commented on #62783
+1 to adapt `ClusterSearchShardResponseTests` to test the current version. IMO the yml tests are enough to check bwc at all levels including the transport serialization but I wouldn't object if you add more unit tests ;). It's just that each query needs to plug its logic regarding the equality between versions.

[2020-09-24 15:31] davidkyle commented on #62873
The timeout is checked after each DBQ, in extreme cases the DBQ can take longer than 8 hours. The timeout on the DBQ is not set

[2020-09-24 15:33] markharwood commented on #62817
Being so data/use-case dependent was why I floated the idea of having user-definable TokenFilters.

Maybe we limit to choices to pre-defined token filters we ship for this trimming purpose

[2020-09-24 15:49] #62729 closed

[2020-09-24 16:06] #61919 closed

[2020-09-24 16:06] #62298 closed

[2020-09-24 16:19] mutt13y opened #62891 "Default lifecycle policy affects system indices"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.9.1
**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version “14.0.1” 2020-04-14
OpenJDK Runtime Environment AdoptOpenJDK (build 14.0.1+7)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 14.0.1+7, mixed mode, sharing)

**OS version** (`uname -a` if on a Unix-like system):
Centos7
3.10.0-957.27.2.el7.x86_6

**Description

[2020-09-24 16:47] pgomulka opened #62894 "DeleteByQueryConcurrentTests.testConcurrentDeleteByQueriesOnDifferentDocs fails reproducibly"
**Build scan**:
https://gradle-enterprise.elastic.co/s/p5tyls66tnmwk

**Repro line**:
./gradlew ':modules:reindex:test' --tests "org.elasticsearch.index.reindex.DeleteByQueryConcurrentTests.testConcurrentDeleteByQueriesOnDifferentDocs" -Dtests.seed=9E9F2FA9C4BE676F -Dtests.security.manager=true -Dtests.locale=bg-BG -Dtests.timezone=Pacific/Guam -Druntime.java=11

**Reproduces locally?**:
yes
**App

[2020-09-24 16:47] elasticmachine commented on #62894
Pinging @elastic/es-core-features (:Core/Features/Features)

[2020-09-24 16:51] mattkime opened #62897 "field _id is not aggregatable but field_caps says its aggregatable"
original kibana issue - https://github.com/elastic/kibana/issues/77206

Related to - https://github.com/elastic/elasticsearch/pull/49166

[2020-09-24 16:51] #60942 closed

[2020-09-24 16:53] justindonnaruma commented on #25152
Looks like it is available, just not on our private instances yet. https://cloud.elastic.co/api/v1/api-docs/spec.json

[2020-09-24 16:54] stu-elastic opened #62899 "Provide better compilation and cache stats to remove compiation rate limits"
Ingest pipelines submit their scripts in ways that may be asynchronous to the user such as during startup or when adding new beats configs.  Similarly, watcher scripts may need compilation at times that aren't clear to the user.

**Breaking**: We should remove all compilation rate limits and instead provide cache stats for users to correctly size their cache.

Progress:
* [x] Add time series metri

[2020-09-24 16:54] elasticmachine commented on #62899
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-09-24 18:27] mikeh-elastic commented on #62712
I have updated my initial post to clarify data stream as a destination for a transform is the request.

[2020-09-24 18:27] javanna commented on #62798
hi @ssnijik can you provide a snippet of your code that uses the `RestClient` please?

[2020-09-24 18:27] elasticmachine commented on #62798
Pinging @elastic/es-core-features (:Core/Features/Java Low Level REST Client)

[2020-09-24 18:39] #61631 closed

[2020-09-24 18:40] javanna commented on #62783
While  bwc tests through yaml tests are needed and test the real scenarios, they can't be extensive and take time to write, execute and debug. Testing serialization in unit tests guarantees more coverage and allows to quickly and easily spot mistakes. I think both should be required when making changes that affect compatibility with previous versions; relying on integration tests only is not enoug

[2020-09-24 18:42] fbaligand commented on #25152
Thanks for the share @justindonnaruma but it seems to only include Elastic Cloud APIs.

For instance, `/_search` API is not described

[2020-09-24 19:00] daveisfera commented on #62742
Doh! I added a `outer.contains(inner)` check to the simplification process now and it correctly flags this hole as invalid, so improving the message would be nice to indicate what the problem is, but it appears that ES is behaving properly here

[2020-09-24 19:09] jpountz commented on #61764
I fear that 20% of storage capacity is the price to pay in order to have read-write indexes. Lower values would translate into high write amplification. To give an extreme example, if you were to set it to 0%, every update would trigger the rewrite of a 5GB segment.

That said it does feel reasonable to me to make `_forcemerge` honor the maximum segment size as long as `max_num_segments` is not se

[2020-09-24 19:11] elasticmachine commented on #62897
Pinging @elastic/es-search (:Search/Mapping)

[2020-09-24 19:27] jimczi commented on #62894
Duplicate of #62609, the test is already muted on master and 7x, hence closing

[2020-09-24 19:27] #62894 closed

[2020-09-24 21:16] getsaurabh02 commented on #59116
Hi @tbrooks8,

Based on our discussion here, I have given a stab at extending the current indexing pressure logic, which accounts for the memory build-up at the node level, to have shard level granularity as well. This allows cluster to track the indexing pressure build up, per shard, for every node role *(coordinator, primary and replica)*, and then take an isolated decision for rejection. Now, R

[2020-09-24 23:59] rw-access commented on #62645
One big downside for that is that you can't have trailing double quotes at all, which is problematic. Also, this is most comparable to `r"""`
[code]

[2020-09-25 00:40] craigglennie commented on #61764
Thanks for taking the time to reply 🙂

For us it would be nice if more leeway was given to decide for ourselves what degree of write amplification / IO penalty we're willing to accept. We spend enough money on ES that we also spend a lot of time optimising performance and usage, and decreasing the space lost to deleted docs could represent a fair amount of money. I wouldn't argue for no lower limi

[2020-09-25 02:13] imweijh commented on #62709
OpenJDK 15 build by Zulu or Oracle  support CentOS 6

[2020-09-25 02:46] chengyang14 opened #62908 "Missing register of `/_cluster/stats/nodes` in RestClusterStatsAction"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.0

[code]

`/_cluster/stats/nodes ` should be registered in the RestClusterStatsAction to ensure that `/_cluster/stats/nodes` can be resolved correctly

[2020-09-25 03:29] kityun opened #62909 "id setting More than 21 bits，data "id" and "_id" value Different"
Put id number setting More than 21 bits，data "id" and "_id" value Different
exp:
_id: 1309379922514415616
  id: 1309379922514415600

[2020-09-25 05:38] ssnijik commented on #62798
@javanna
[code]
Stack trace and variables are also provided as follows, based on version 7.2.1. As you can see, timeout is a parameter on server side. Which means if server is not responding, client will not timeout.
![image](https://user-images.githubusercontent.com/3711535/94230053-b0a15700-ff33-11ea-83bb-6f29d8847f10.png)

![image](https://user-images.githubusercontent.com/3711535/94229922-5f91

[2020-09-25 05:58] stephanediondev commented on #62716
Hi

I made the upgrade to 7.9.2 yesterday and now I have the same error on macOS
The installation is ok, but the node don't start (I don't do any testing, it's a normal installation)

Installation with homebrew
elastic/tap/elasticsearch-full: stable 7.9.2

[code]

I have installed openjdk 15, set JAVA_HOME (not sure it's useful if there is a bundled version)

[code]

[2020-09-25 07:56] apuppy commented on #7515
Now it's 2020. Still did not found a better solution for "field is not the empty string".
Used the following solution, but is this the really good practice?
[code]

[2020-09-25 09:59] kajca commented on #40492
Flair stacked embeddings (forward, backward, glove/flair) would produce vectors of more than 4096.

[2020-09-25 10:06] kityun commented on #62909
go on， The problem is number type。

[2020-09-25 11:02] neohunter commented on #25067
Why we ended talking about a ES 7 startup issue? that's not related to the original issue regarding the OOM killing ES. Or it is?

the `discovery.type=single node` attribute handles if ES will try to discovery other nodes, that would help for example to avoid network timeouts when running a isolated node, but how that can affect memory issues? I'm missing something?

Is the memory issue fixed in E

[2020-09-25 12:01] kkewwei commented on #62676
yes, you are right, code is ok.  I will close the issue, thank you for your support. Maybe there are other reason, I will go on try to find it.

[2020-09-25 12:01] #62676 closed

[2020-09-25 12:57] #62839 closed

[2020-09-25 15:00] ywangd opened #62911 "Wrong format of API key role descriptors used for node requests after cluster upgrade"
An effeciency optimisation for API Key role descriptors were introduced in #58156. The optimisation introdueced a new storage format for role descriptors in metadata of the authentication object. BWC was [added](https://github.com/elastic/elasticsearch/pull/58156#issuecomment-644732410) in the PR. However it is not sufficient to cover the following scenario:

1. In v7.8, a task is created using AP

[2020-09-25 15:00] elasticmachine commented on #62911
Pinging @elastic/es-security (:Security/Authorization)

[2020-09-25 16:47] wmelton opened #62912 "Analyzer is not parsing Emoji's on text fields"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.7.1

**Plugins installed**: []

**JVM version** (`java -version`): cloud.elastic.com

**OS version** (`uname -a` if on a Unix-like system): cloud.elastic.com

**Description of the problem including expected versus actual behavior**:
ElasticSearch indexer is not correctly parsing and storing Emojis. The text field is being saved with all

[2020-09-25 19:15] #62446 closed

[2020-09-25 19:25] original-brownbear commented on #62853
I'm closing here. 3 out of the above are slow security module ITs, all them running a 6 node cluster which is pretty large. I identified a significant contributor to slowness in those with https://github.com/elastic/elasticsearch/pull/62914 and opened #62877 to deal with the fourth issue where the slow CS processing was actually just a dead CS applier thread from a tripped assertion.

[2020-09-25 19:25] #62853 closed

[2020-09-25 20:39] hgshoggins commented on #51361
Just updated two instances of ES on different machines (with exact same system and OpenJDK versions though). One on 7.9.1, working fine, one on 7.9.2, having this exact issue reporting the unrecognized VM option.

[2020-09-26 04:16] geerlingguy commented on #51361
FYI I'm hitting this on OpenJDK 11 now:

[code]

Everything was working fine on new builds (executed weekly) until yesterday.

[2020-09-26 04:23] geerlingguy commented on #62716
I'm hitting this on Ubuntu 18.04 with:

[code]

As well as on CentOS 7 with:

[code]

I run weekly build tests and it started failing yesterday, so it was contained within a release in the past week.

[2020-09-26 08:46] ashish3805 commented on #46225
Hi @polyfractal @Alex3k I see this was opened a year back. Is this still relevant? Can I work on this? Also, I may need a little guidance.

[2020-09-26 12:49] Chr0nicl3 commented on #47678
@Priya-Raut are you still working on the solution?
If not, I'd like to work on this issue.

[2020-09-26 13:34] original-brownbear commented on #62863
This reproduces fairly easily locally. The problem here is likely that we are restarting a node while using it's `client()` to run an index request. This isn't actually thread-safe to do in our test code and can run into a dead-lock like seen here.
I'll code up a fix shortly

[2020-09-27 00:57] Rockstar5645 commented on #51691
Is @alpparkan still working on this? Can I try it?

[2020-09-27 02:40] #62909 closed

[2020-09-27 06:40] alpparkan commented on #51691
Hi @Rockstar5645, I just finished the implementation and I'll send a PR in a couple days.

[2020-09-27 07:11] howardhuanghua opened #62920 "Cluster read only settings and archived settings conflict issue."
In our production environment, we hit a cluster settings update conflict issue. Here are the steps to reproduce:

1. One 5.6.4 cluster before upgrading to 6.8.2, set cluster level read-only block to lower down cluster's pressure temporarily.
2. Full cluster restart to upgrade from 5.6.4 to 6.8.2.
3. After restarting cluster, we found some unsupported settings in new version in archived settings:
[

[2020-09-27 07:21] acclea opened #62921 "SYNONYM help"
i need help, thanks.

**Elasticsearch version** (`bin/elasticsearch --version`): 7.6.2

**Plugins installed**: ik，SYNONYM

**JVM version** (`java -version`): 1.8.0_251

**OS version** (`uname -a` if on a Unix-like system): win10

**Description of the problem including expected versus actual behavior**:
SYNONYM can't match

**Steps to reproduce**:
ex:
 input: homework
synonym:homework,home,work
ind

[2020-09-27 07:24] howardhuanghua commented on #62908
We could add `filter_path` to retrieve nodes info only: `GET /_cluster/state?filter_path=nodes`.

[2020-09-27 09:18] mohammedtabish commented on #54964
Hey, if nobody’s working on it can I?

[2020-09-27 09:53] snirbenyosef opened #62923 "Kubernetes logs split in kibana"
What happened:
I have Kubernetes system in Azure and used the following instrustions to install fluent, elasticsearch and kibana: https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch I am able to see my pods logs in kibana but when i send logs more then 16k chars its just split.

if i send 35k chars . its split into 3 logs.

how can i increase the limit of 1 lo

[2020-09-27 16:17] ahantoiu commented on #51361
I commented this GC configuration directives in "/etc/elasticsearch/jvm.options" and it works for me but I am not sure if this is the right thing to do.

## GC configuration
#-XX:+UseConcMarkSweepGC
#-XX:CMSInitiatingOccupancyFraction=75
#-XX:+UseCMSInitiatingOccupancyOnly

ES version:

{
  "name" : "*****",
  "cluster_name" : "*****",
  "cluster_uuid" : "*****",
  "version" : {
    "number" : "7.

[2020-09-28 06:53] #51629 closed

[2020-09-28 06:53] #52035 closed

[2020-09-28 06:53] #60781 closed

[2020-09-28 07:24] philkra commented on #54964
@mohammedtabish, please refer to one of the previous comments https://github.com/elastic/elasticsearch/issues/54964#issuecomment-696033995

[2020-09-28 07:25] matriv commented on #62645
I tend to lean towards the greedy approach, so that once you have the leading `"""` you expect the trailing `"""` and everything in-between is unescaped raw string including any combination/series of `"`.

[2020-09-28 07:44] #62242 closed

[2020-09-28 07:54] iverase opened #62929 "[CI] RangeAggregatorTests#testSubAggCollectsFromManyBucketsIfManyRanges failure"
**Build scan**:

https://gradle-enterprise.elastic.co/s/dunvomq3ngeca

**Repro line**:

[code]

**Reproduces locally?**:

yes

**Applicable branches**:

master & 7.x

**Failure history**:

It seems this is the first failure

**Failure excerpt**:

[code]

[2020-09-28 07:54] elasticmachine commented on #62929
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-09-28 08:19] glmrenard commented on #51361
Did the same it works, but I'm not that confident. Here my java version
[code]

[2020-09-28 08:37] costin commented on #62663
After discussing this topic, we concluded to:
- keep using `` ` `` (backticks) for quoting identifiers
- *not* use `'` (single quote) for quoting identifiers. This means `'` remains currently unused in the grammar.

Moving forward, the usage `` ` `` inside a quoted identifier needs to be checked. That is, what happens when using quoting an identifier that contains backticks...

[2020-09-28 08:37] #62663 closed

[2020-09-28 08:44] breskeby commented on #62716
@geerlingguy can you share what tests you ran exactly? I'd like to repreduce this

[2020-09-28 08:47] cbuescher commented on #62921
HI @acclea! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2020-09-28 08:47] #62921 closed

[2020-09-28 08:48] javanna commented on #62798
To clarify, the index API supports two types of timeout parameteron the server side: `timeout` and `master_timeout`, which are described in the docs at https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html . The low-level client also supports setting connect and socket timeout.

From what you posted it seems like you are setting the `timeout` parameter to `45s`, but how

[2020-09-28 08:55] costin opened #62933 "EQL: Clarify and document event category check quoting"
All EQL queries start as follows:

`eventType where condition` where `eventType` is a shortcut for `event.category == eventType`.

Most of the examples assume the actual value inside `eventType` doesn't need any kind of quoting yet what happens if quoting is needed?
The grammar declares the `eventType` as an `identifier` but that is incorrect - it's actually a value which means in case of string v

[2020-09-28 08:55] elasticmachine commented on #62933
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-09-28 08:59] GeorgeAp opened #62934 "NullPointException occurs if extendedBounds is not set and minBound/maxBound is called"
**Elasticsearch version** : 8.0.0

**JVM version** : 11.0.8

**OS version** : 18.04.1-Ubuntu

**Description of the problem including expected versus actual behavior**:
The methods `minBound()` and `maxBound()` in `HistogramAggregationBuilder` return double which leads to `NullPointException` if the optional `extendedBounds` is not set and these methods are called. A possible fix is to set the retu

[2020-09-28 09:07] javanna opened #62935 "Async search to expose partial search hits"
The async search API allows to retrieve partial aggregations results. We would like to also expose partial search hits.

That means allowing users to run sorted queries and aggregations in the same search request efficiently while today the recommendation is to split the request to retrieve top documents independently of aggregations.

[2020-09-28 09:07] elasticmachine commented on #62935
Pinging @elastic/es-search (:Search/Search)

[2020-09-28 09:09] andreidan commented on #62451
Another occurrence of this on `7.x` https://gradle-enterprise.elastic.co/s/dbecvbj75iko2

[2020-09-28 09:17] matriv commented on #54964
Please try to use the pattern of a similar PR: #62701

[2020-09-28 09:45] dgieselaar opened #62939 "Support histogram fields in rate aggregation"
https://github.com/elastic/elasticsearch/issues/60674 added a `rate` aggregation to Elasticsearch. It does currently not support `histogram` fields:

To use the rate aggregation in the APM app, we'd need support for `histogram` fields. We currently have a bug which seems like an ideal candidate to fix by using the `rate` aggregation: https://github.com/elastic/kibana/issues/77474

See also the dis

[2020-09-28 09:46] DmitryOlshansky commented on #52058
Just hit this hard in production, for now we limited number of clauses we allow our users to specify.
7.7 doesn't have the issue, we are running 7.6.1.

[2020-09-28 09:57] charlieKmus commented on #62810
Just for the record, I found a workaround by using the XContentParser:
[code]
Thanks

[2020-09-28 09:59] draganrelu opened #62940 "Upgrading ES 6.8 -> 7.9.2 questions"
Hey,

We are planning to do an online 6->7 upgrade for our ES clusters, and we are looking into ways of rolling back safely from 7 to 6 in case something bad happens. The ES docs state that once the upgrade starts, the ES cluster will run into a backwards-compatible mode and will start using ES7 features after all nodes are fully upgraded. To get a better understanding of this, I have a few questi

[2020-09-28 10:15] cbuescher commented on #62940
Hi @draganrelu! Your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2020-09-28 10:15] #62940 closed

[2020-09-28 10:16] elasticmachine commented on #62934
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-09-28 10:17] albertzaharovits commented on #62911
@ywangd
Can you please explain how this is possible in point 4 above?

[2020-09-28 10:25] costin opened #62941 "EQL: Introduce explicit equality operator for strings"
Currently `==` has overloaded semantics namely:
- supporting case-insensitive comparison
- supporting "*" wildcard pattern.

which have proven problematic.
Instead of overloading `==`, a new comparison operator is introduced that takes over these semantics, leaving `==` with exact ones.

The current proposals for the newly introduced operator are:
a. `:` / `!:`
b. `=~` / `!~`

Regardless of the ac

[2020-09-28 10:25] elasticmachine commented on #62941
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-09-28 10:28] costin commented on #62941
Relates https://github.com/elastic/elasticsearch/issues/62883

[2020-09-28 10:32] costin opened #62942 "EQL: Make all functions and expressions exact/case-sensitive by default"
A consequence of #62941, namely that `==` becomes exact is that all functions (`startsWith`, `endsWith`, etc..) as well as operators (`in`) are exact, that is all string comparisons are case sensitive.

This ticket is about verifying this behavior inside the grammar, the tests and the actual implementations. Adding case-insensitive behavior for functions, is a separate topic that needs to be handl

[2020-09-28 10:32] elasticmachine commented on #62912
Pinging @elastic/es-search (:Search/Analysis)

[2020-09-28 10:32] elasticmachine commented on #62942
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-09-28 10:33] acclea commented on #62921
I can't open this web,
so...
i came here,
sorry.

[2020-09-28 10:33] cbuescher commented on #62912
I cannot reproduce this. The following works for me in 7.7.1. Might be a client display issues, but the emoji value is indexed correctly, is searchable and shown in "_source" in the result in the kibana console and when querying locally with curl.

[code]

[2020-09-28 10:35] cbuescher commented on #62912
@wmelton I suspect a usage problem here, not a bug. Would you mind to follow up on this in the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and as long as this isn't reproducable I think it's more likely this is a usage question. I'm closing this as an issue here, but encourage you to ask this question in the forum ins

[2020-09-28 10:35] #62912 closed

[2020-09-28 10:59] albertzaharovits commented on #62911
I now get it, after I looked at the fix. It's a problem when we rewrite authentication to make it sure it is decodable by the remote node.

[2020-09-28 11:21] dolaru opened #62948 "[ML] Adding custom rule with scope doesn't take effect on open job"
Spotted in 7.8.1. Reproduced using an Elastic Cloud cluster.

**Description of the problem including expected versus actual behavior**:
This is regarding the update of an anomaly detection job's custom rules with a filter list while the job is open. It is expected that after the job config is updated with a filter list, any document processed by the job will be filtered.

Although the job update s

[2020-09-28 11:21] elasticmachine commented on #62948
Pinging @elastic/ml-core (:ml)

[2020-09-28 11:29] costin opened #62949 "EQL: Explicit case-insensitivity"
After discussing the current equals and case-sensitive semantics in #62651, the conclusion for moving forward has been to make EQL in Elasticsearch exact/case sensitive by default and move the existing `==` semantics, in particular case-insensitive comparisons and the wildcard pattern matching `*` onto a separate operator.

The purpose of this ticket is to break down the topic into concrete action

[2020-09-28 11:29] elasticmachine commented on #62949
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-09-28 11:32] costin commented on #62651
Thanks everyone for the discussion.
After further discussing the ticket offline, it was decided to go ahead and make EQL case sensitive/exact by default and move the case-insensitive equality and wildcard pattern matching to a separate operator.
See https://github.com/elastic/elasticsearch/issues/62949 for more information.

[2020-09-28 11:32] #62651 closed

[2020-09-28 11:51] elasticmachine commented on #62939
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-09-28 12:00] przemekwitek opened #62951 "TransformContinuousIT.testContinousEvents test failed"
**Build scan**:
https://gradle-enterprise.elastic.co/s/rpnsd3e5jwf3y

**Repro line**:
[code]

**Reproduces locally?**:
No

**Applicable branches**:
7.x

**Failure history**:
This is the first failure since August 6th.

**Failure excerpt**:
[code]

[2020-09-28 12:00] elasticmachine commented on #62951
Pinging @elastic/ml-core (:ml/Transform)

[2020-09-28 12:09] rw-access commented on #62645
That means you can have at most one `"""` in an expression. Everything between the first `"""` and the last `"""` will be consumed.

[2020-09-28 12:11] matriv commented on #62645
Yes, so as many `"` or `"""` inside the expression as long as it ends with a closing `"""`. (at least that's my proposal/suggestion)

[2020-09-28 12:34] rw-access commented on #62645
Maybe these examples better illustrate the problem that I see with greedy matching. What strings are in each expression?
[code]
[code]

Non-greedy:
- `one string`
- `""another string""`

- `abcdefg`
- `""hijklmnop"`

Greedy:
- `one string""" and bar == """""another string`
- `bcdefg""", """""hijklmnop"`

[2020-09-28 12:43] cbuescher opened #62952 "Easier access to details from version field"
This is a follow up to #59773 in which we added support for a new field type for software versions.
During discussing the requirements for the new type some asks were made to be able to access common parts of the version string like the major, minor or patch version, whether the version is a pre-release or a release or wether a given stored value is valid under e.g. the SemVer naming conventions.

[2020-09-28 12:44] elasticmachine commented on #62952
Pinging @elastic/es-search (:Search/Mapping)

[2020-09-28 12:46] cbuescher commented on #62952
Draft for the second option factored out here: https://github.com/elastic/elasticsearch/pull/62953

[2020-09-28 13:01] matriv commented on #62645
No it's not like that the greedy approach works within the expression, `and`, `or`, etc. breaks the expression anyway.

[2020-09-28 13:18] scampi opened #62956 "Open API to allow creating a SearchContext from an existing ShardSearchContextId"
At the moment in _master_, it is not possible to create a `SearchContext` from an existing `ShardSearchContextId`. The methods required to do so are both `private` (see below). This would allow to leverage the [new reader context logic](https://github.com/elastic/elasticsearch/commit/879279c9b46b5a9606dfca96075e005624f0785d) within the [Federate plugin](https://siren.io/federate/) of siren.
Theref

[2020-09-28 13:23] #62847 closed

[2020-09-28 13:24] #52541 closed

[2020-09-28 13:24] #61306 closed

[2020-09-28 14:12] jloleysens opened #62959 "[ILM] Reflecting where data lives in the ILM policy UI (simulate policy)"
## Summary

With the introduction of data tiers the ILM policy UI is being redesigned.The new UI will visually map a phase to a data tier. In many scenarios, the mapping will be 1:1. Hot phase will send data to the hot tier, warm to warm and so on. This is the default behaviour of ILM. However, there are a number of variables that can affect where data is ultimately moved in a phase, we want the U

[2020-09-28 14:36] geerlingguy commented on #62716
@breskeby - It is the CI suite for my open source Ansible `geerlingguy.elasticsearch` role: https://github.com/geerlingguy/ansible-role-elasticsearch

The CI test uses Molecule, and if you clone that repo, install Molecule (`pip3 install molecule`), and run `molecule test` you'll get the fail. But that role simply does the following:

  1. Add apt key https://artifacts.elastic.co/GPG-KEY-elasticse

[2020-09-28 14:37] elasticmachine commented on #62959
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-09-28 14:44] markharwood commented on #62817
I got hold of some log data and related queries to measure the effects of index-time token dropping on queries.

Ironically,  my test failed for the query string `*ERROR*`.  The hash modulos of this string's ngrams (`err`, `rro`, `ror`) all come up as tokens to drop and my code doesn't currently handle this properly. The fix isn't great either because it would need to fall back to a `match_all` qu

[2020-09-28 14:48] geerlingguy commented on #62716
@breskeby - Ah, I just realized the problem in my instance is I am overriding the entire `jvm.options` file instead of adding my heap size modifications to an options file inside `jvm.options.d`, which is the [preferred way of doing it](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/jvm-options.html).

I'm going to fix that in my role, and it looks like the newer version of the `jvm.o

[2020-09-28 15:42] matriv commented on #62645
@rw-access Please check the tests I've added: https://github.com/elastic/elasticsearch/pull/62539/files#diff-8b3f6645d4cf54ff461c3e337b4bbe84R122

[2020-09-28 15:43] gwbrown commented on #62891
We are currently in the process of formalizing internal or "System" indices to prevent this kind of scenario, see https://github.com/elastic/elasticsearch/issues/50251. As part of that effort, we will be preventing global templates from impacting System Indices. As such, I consider this a duplicate of the above issue, and I hope you don't mind that I close this.

[2020-09-28 15:43] #62891 closed

[2020-09-28 15:44] rw-access commented on #62645
But what if you _want_ a `\"` inside the string? Now there's no way to do that.
I'm just confused why there's escaping at all in a string that's supposed to solve the problem of not needing escape sequences.

[2020-09-28 16:28] randomuserid opened #62967 "EQL : Sequences Not Working Using the Any Operator"
**Elasticsearch version** (`7.9.2`): reproduces on kibana.siem.estc.dev

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

Sequences are not working when the `any` operator is used.

**Steps to reproduce**:

These example queries return errors:

[code]

[2020-09-28 16:33] elasticmachine commented on #62967
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-09-28 17:10] davidkyle commented on #62064
@benwtrent is this the failure you were looking for?
https://gradle-enterprise.elastic.co/s/peemwo6c3adqm

[2020-09-28 17:12] costin commented on #52913
So far there hasn't been any request for pagination. Further more pagination is currently possible through the `filter` parameter. As such, I'm closing this ticket since it's clear this functionality is *not* required for GA.

[2020-09-28 17:12] #52913 closed

[2020-09-28 17:13] costin commented on #59766
All issues have been addressed - closing the ticket.

[2020-09-28 17:13] #59766 closed

[2020-09-28 17:16] costin commented on #57036
The proposal in this ticket did not get enough support so I'll be closing the ticket without any changes to the existing request/response format.
Event the improvements discussed with @marshallmain turned out to be non-essential as the information already exists and the sequence structure itself needs to be parsed anyway.

Thanks for the feedback everyone.

[2020-09-28 17:16] #57036 closed

[2020-09-28 17:17] ppf2 opened #62973 "Support IBM Cloud Object Storage for S3 snapshots"
[IBM Cloud Object Storage](https://cloud.ibm.com/docs/cloud-object-storage?topic=cloud-object-storage-compatibility-api) supports a subset of the S3 API.

Even if it does work today, there are a few risks
- In the future,  we might change something in Elasticsearch that requires a part of the S3 API that IBM's version doesn't support
- There might be edge cases that will break the snapshot/restore

[2020-09-28 17:17] elasticmachine commented on #62973
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-09-28 17:17] costin commented on #52895
@nik9000 I believe your commit from last week fixed this problem. Can you please double check if we can close the ticket?

Thanks

[2020-09-28 17:20] costin commented on #62693
After checking with the search team, we identified this as an Elasticsearch/Lucene problem, that is the queries should be optimized there directly not inside QL.
See https://github.com/elastic/elasticsearch/issues/62760

[2020-09-28 17:20] #62693 closed

[2020-09-28 17:21] costin commented on #59899
Not needed anymore - closed by https://github.com/elastic/elasticsearch/issues/62949.

[2020-09-28 17:21] #59899 closed

[2020-09-28 17:22] costin commented on #57313
This has been addressed through PRs #58624 and #58748

[2020-09-28 17:22] #57313 closed

[2020-09-28 17:24] costin commented on #57194
Superseded by https://github.com/elastic/elasticsearch/issues/62883 and https://github.com/elastic/elasticsearch/issues/62933.

[2020-09-28 17:24] #57194 closed

[2020-09-28 17:25] costin commented on #56771
Not needed anymore - see https://github.com/elastic/elasticsearch/issues/62949

[2020-09-28 17:25] #56771 closed

[2020-09-28 17:33] benwtrent commented on #62064
@davidkyle yep!

[2020-09-28 17:55] mayya-sharipova opened #62975 "unsigned_long Script query fails on master and 7.x"
**Build scan**:

https://gradle-enterprise.elastic.co/s/su74sd55noel6

**Repro line**:
./gradlew ':x-pack:plugin:yamlRestTest' --tests "org.elasticsearch.xpack.test.rest.XPackRestIT.test {p0=unsigned_long/50_script_values/Script query}" \
  -Dtests.seed=44860D565D728165 \
  -Dtests.security.manager=true \
  -Dtests.locale=es-GT \
  -Dtests.timezone=Asia/Jerusalem \
  -Druntime.java=11

**Reproduce

[2020-09-28 17:55] elasticmachine commented on #62975
Pinging @elastic/es-search (:Search/Search)

[2020-09-28 20:32] jpountz commented on #62817
Agreed that this sounds bad. This is why I prefer skipping ngrams based on their actual content than based on the result of a hashing function.

I hope we could find a way to improve space efficiency with very minimal assumptions so that we wouldn't need to expose options to tailor the behavior of this field differently for every use-case.

[2020-09-28 20:58] randomuserid commented on #62967
Not sure this is specific to the `any` operator? This query also errors:

`GET .siem-signals-siem-estc-dev-default-000001/_eql/search
{
  "query": """
   sequence by host.name
  [ process where true]
  [ network where true]
  """
}`

[2020-09-28 21:08] gwbrown commented on #62778
Another possibility that's been brought up is creating a "test plugin" which exposes an API that emulates the behavior of `DELETE _all` today. This would not bring along the user-facing benefits of a "factory reset" API, but would allow us to move forward with our plans for System Indices without having to immediately coordinate everything involved in productizing this sort of "reset" while still

[2020-09-29 07:09] costin opened #62986 "EQL: `allow_no_indices` behavior"
Currently EQL requires at least one index to match in order to validate the query. However just like [search](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/search-search.html#search-search-api-query-params), the `allow_no_indices` option is permitted which leads to confusing behavior since it can be true, yet EQL will throw an exception:
[code]

Considering the similarities to the se

[2020-09-29 07:09] elasticmachine commented on #62986
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-09-29 07:09] costin commented on #62986
/cc @rylnd

[2020-09-29 07:29] hendrikmuhs commented on #62951
Update:

The test failed 14 times in the last 24h. I will add extra debug logging to find the root cause.

[2020-09-29 07:45] #61711 closed

[2020-09-29 08:11] forexknight commented on #22882
I'm having the same issue as @distroid .

[2020-09-29 08:50] romseygeek opened #62988 "Convert remaining FieldMappers to parametrized form"
The following field mappers still remain to be converted:

- [x] AbstractGeometryFieldMapper #63836
- [x] AbstractPointGeometryFieldMapper #63836
- [x] AbstractShapeGeometryFieldMapper #63836
- [x] AnnotatedTextFieldMapper
- [x] DenseVectorFieldMapper #62992
- [x] ExternalMapper #63018
- [x] FakeFieldMapper in DocumentFieldMapperTests #63018
- [x] FakeStringFieldMapper
- [x] FlatObjectFieldMapper

[2020-09-29 08:50] elasticmachine commented on #62988
Pinging @elastic/es-search (:Search/Mapping)

[2020-09-29 09:16] pugnascotia opened #62991 "[CI] LegacyFeatureImportanceTests.testClassificationConversion"
**Build scan**:

https://gradle-enterprise.elastic.co/s/4dhwmblof4xrk/tests/:x-pack:plugin:core:test/org.elasticsearch.xpack.core.ml.inference.results.LegacyFeatureImportanceTests/testClassificationConversion#1

**Repro line**:

[code]

**Reproduces locally?**:

Yes

**Applicable branches**:

~`master`~ (test was removed in that branch), `7.x`

**Failure history**:

**Failure excerpt**:

[code]

[2020-09-29 09:16] elasticmachine commented on #62991
Pinging @elastic/ml-core (:ml)

[2020-09-29 09:55] markharwood commented on #62817
I trialled dropping tokens with spaces in them with my test logs dataset.
This reduced the field size by 18% from 3.4GB to 2.8GB:

[code]

The example queries I had weren't noticeably slower as a result of dropping tokens with spaces.
While the strategy may be useful for my example dataset and queries, a worst-case scenario might be on docs that record sequences of data with spaces e.g,

``` 1, 3,

[2020-09-29 09:58] #62975 closed

[2020-09-29 10:11] albertzaharovits commented on #52551
@tvernum I've double checked and I believe that the only thing still left for API key auditing are authentication failures.

Currently, if API Key authentication fails, for any reason, the authentication flow follows through the realm chain. If none of the realms succeed, which is what happens if the request only contains the API Key credentials header, the authentication fails as if no credential

[2020-09-29 10:23] pugnascotia opened #62996 "[CI] TransformIndexerStateTests.testStopAtCheckpoint"
**Build scan**:

https://gradle-enterprise.elastic.co/s/yatg7ybt2srg6

**Repro line**:

[code]

**Reproduces locally?**:

Yes

**Applicable branches**:

`master`

**Failure history**:

**Failure excerpt**:

[code]

[2020-09-29 10:23] elasticmachine commented on #62996
Pinging @elastic/ml-core (:ml/Transform)

[2020-09-29 10:29] pugnascotia opened #62997 "[CI] UnsignedLongTests.testSortDifferentFormatsShouldFail"
**Build scan**:

https://gradle-enterprise.elastic.co/s/3oc3h67psze7o

**Repro line**:

[code]

**Reproduces locally?**:

Yes

**Applicable branches**:

`master`

**Failure history**:

**Failure excerpt**:

[code]

[2020-09-29 10:29] elasticmachine commented on #62997
Pinging @elastic/es-search (:Search/Mapping)

[2020-09-29 10:34] pugnascotia opened #62998 "[CI] BulkProcessorIT.testBulkProcessorConcurrentRequestsReadOnlyIndex"
**Build scan**:

https://gradle-enterprise.elastic.co/s/k77zfxjlbccki

**Repro line**:

[code]

**Reproduces locally?**:

Yes

**Applicable branches**:

`master`

**Failure history**:

**Failure excerpt**:

[code]

[2020-09-29 10:34] elasticmachine commented on #62998
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-09-29 10:41] droberts195 commented on #62991
The failing test will shortly be removed by #62989

[2020-09-29 10:49] pugnascotia commented on #62975
@mayya-sharipova is #62997 related, perhaps?

[2020-09-29 11:23] dimitris-athanasiou commented on #62991
Even though #62989 removes this from the master branch, the test remains in 7.x. I know what the problem is, I'll fix it shortly.

[2020-09-29 11:35] #55807 closed

[2020-09-29 11:35] #62064 closed

[2020-09-29 12:04] hendrikmuhs commented on #45369
Improvement have been made with https://github.com/elastic/elasticsearch/pull/62086 and https://github.com/elastic/elasticsearch/pull/60469, closing this issue.

[2020-09-29 12:04] #45369 closed

[2020-09-29 12:06] DaveCTurner commented on #56933
https://discuss.elastic.co/t/warm-nodes-on-spinning-disks-not-stable-falling-out-of-cluster-during-recovery/250078 looks to be an instance of this.

[2020-09-29 12:12] sebastianrothbucher opened #63002 "Elastic freezes after scheduled [ML] maintenance tasks"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.8.2 and 6.8.12 (at least tested on those)

**Plugins installed**: none, standard Elasticsearch

**JVM version** (`java -version`): 1.8.0_265

**OS version** (`uname -a` if on a Unix-like system): Ubuntu 20.04.1 LTS

**Description of the problem including expected versus actual behavior**: Elastic (very little load, 36 open indices plus a

[2020-09-29 12:55] dimitris-athanasiou commented on #62991
Fixed in 7.x by https://github.com/elastic/elasticsearch/pull/63000

[2020-09-29 12:55] #62991 closed

[2020-09-29 13:11] ioanatia opened #63005 "Unexpected behaviour for size in UpdateByQuery"
**Elasticsearch version**

Version: 7.9.2, Build: default/tar/d34da0ea4a966c4e49417f2da2f244e3e97b4e6e/2020-09-23T00:45:33.626720Z, JVM: 15

**JVM version**

javac 1.8.0_172

**Description of the problem including expected versus actual behavior**:

In 7.x the `size` parameter was deprecated in favour of `max_docs`.
When `size` is passed as a query parameter, Elasticsearch gives a deprecation mess

[2020-09-29 13:48] #62744 closed

[2020-09-29 13:56] nik9000 commented on #52895
I can confirm these tests work for me now! Thanks for the ping!

[2020-09-29 13:56] #52895 closed

[2020-09-29 14:18] dakrone commented on #56876
This is going to be moot once we have #60848, so I'm going to close this for now.

[2020-09-29 14:18] #56876 closed

[2020-09-29 14:27] imotov commented on #62789
@alexlopespereira since this behavior doesn't look like a bug, I am going to close this issue. If you have any questions regarding this or other issues in elasticsearch, let's continue the discussion on our forum https://discuss.elastic.co/

[2020-09-29 14:28] #62789 closed

[2020-09-29 14:31] droberts195 commented on #62823
Probably the biggest problem with making this change is coordination of changes between C++ and Java without breaking every ML test that uses native processes.

There are basically two ways it could be done:

1. Muting tests
2. Sequence of PRs that start by adding leniency

The first option would look like this:

1. Prepare the full C++ and Java changes on branches, testing locally on a machine wh

[2020-09-29 14:38] pgomulka commented on #62268
yes, the behaviour is correct. I will try to improve the doc around rounding when using date field in range queries

[2020-09-29 15:07] shenwan opened #63019 "Dry run configs like index templates"
We plan to store index templates in Phabricator and would like to validate a diff before landing it and HTTP PUT to ES.

Without dry-run support, we would have to either hope that the new config does not break ES, or find a way to hack some local ES instance to apply the config to.

A dry-run param in the HTTP PUT request should be easy to implement and would make API users' life much easier.

[2020-09-29 15:12] #62967 closed

[2020-09-29 15:20] dakrone commented on #63019
@shenwan maybe you can clarify, when you say "does not break ES", how does ES break when putting a template in place?

[2020-09-29 15:21] elasticmachine commented on #63019
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-09-29 15:33] rylnd commented on #62986
@costin in addition to the above discrepancies, I wanted to note that `allow_no_indices` does provide behavior on which EQL rules currently depend: it overrides the default behavior of a query with multiple indexes failing if **any** of them do not resolve.

[code]

Since a default detection rule will be populated with security solution's default indices (some of which may or may not exist/be visi

[2020-09-29 16:10] markharwood commented on #62817
I tried normalisation on my test data set and as suspected, we halved the number of unique terms but maintained roughly the same posting size. Probably not worth pursuing this approach. FYI @jpountz

[code]

[2020-09-29 16:22] ajeydudhe opened #63025 "RestHighLevelClient throws exception parsing RareTerms aggregation results"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.9.2

**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_251"
Java(TM) SE Runtime Environment (build 1.8.0_251-b08)
Java HotSpot(TM) 64-Bit Server VM (build 25.251-b08, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Darwin Ajeys-MacBook-Pro.local 19.6.0 Darwin Kernel Version 19.6.0: Thu J

[2020-09-29 16:28] jpountz commented on #62817
It's still more 6%, which I don't consider negligible. I suspect we will want to look into combinations of (hopefully low-impact) tricks that help save space in the ngram index.

One thing I'm also considering is that Lucene uses FOR rather than PFOR for doc IDs in postings, so we might be wasting some disk there as well. For sparse postings lists, spending 20 bits per value rather than 18 is not

[2020-09-29 16:53] dimitris-athanasiou commented on #62948
I have reproduced the issue and have understood the problem. The issue regards the exact scenario when a scoped rule is added. The rule actually gets updated in the process but the referenced filter doesn't and the update is rejected by the process.

Working on a fix.

[2020-09-29 17:05] dakrone opened #63026 "Enhance rollover API and ILM rollover action to specify max single primary shard size"
Currently when configuring either a manual rollover or rollover via ILM, a user can specify "`max_size`" as one of the rollover conditions. However, this parameter has an ambiguous name that has led to a lot of confusion about how the size is exactly calculated.

We've also discussed how rollover is used as an aid to generate shards of a certain size, so it would be helpful to have a parameter tha

[2020-09-29 17:05] elasticmachine commented on #63026
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-09-29 17:12] costin opened #63030 "EQL: NPE for sequences returning more than 10 documents."
Depending on the data size and query, a sequence query can fail with:

[code]

This affects only `sequence` queries.

[2020-09-29 17:12] elasticmachine commented on #63030
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-09-29 18:15] cbuescher commented on #62621
I have a draft open at https://github.com/elastic/elasticsearch/pull/63035 that shows speed-ups when accessing runtime-fields in "docvalue_fields".
A draft for the rally track used can be found here: https://github.com/elastic/rally-tracks/pull/133

[2020-09-29 18:50] imotov commented on #61118
I opened PR for cat API.

[2020-09-29 20:45] bytebilly commented on #47609
Could you please share what your improvements are? How did you implement batching for invalidate by ID? Are you still doing individual invalidate requests for each key, or do you access the security index directly? Thanks!

[2020-09-29 20:51] jen-huang commented on #47609
The improvements still do individual requests for each key through @elastic/kibana-security's [`authc.invalidateAPIKey`](https://github.com/elastic/kibana/blob/master/x-pack/plugins/security/server/authentication/index.ts#L172) interface. The batching simply sends up to [500 invalidate requests to ES in parallel](https://github.com/elastic/kibana/blob/master/x-pack/plugins/ingest_manager/server/se

[2020-09-30 00:50] ppf2 opened #63039 "Doc: Backwards compatibility of monitoring clusters"
https://www.elastic.co/guide/en/elasticsearch/reference/current/monitoring-production.html#monitoring-production

![image](https://user-images.githubusercontent.com/7216393/94630795-9a6d0100-027b-11eb-8298-828288638a9d.png)

This question comes up a lot from the field (esp. when new versions get released).
We mention that monitoring a 7.x cluster requires a 7.x monitoring cluster.

It is quite com

[2020-09-30 00:50] elasticmachine commented on #63039
Pinging @elastic/es-docs (>docs)

[2020-09-30 00:50] elasticmachine commented on #63039
Pinging @elastic/es-core-features (:Core/Features/Monitoring)

[2020-09-30 01:33] setiah opened #63041 "Make synonyms_path setting dynamic for updatable synonym filters"
### Background

The synonym filters defined with `"updateable": true` are exclusively created for query time synonym analysis and unlike other filters, have a way to be reloaded into memory after the underlying synonym file has been updated. For example, analysis/synonym.txt (as shown in example below) file can be updated with new synonyms and dynamically reloaded into memory to return results bas

[2020-09-30 01:39] #62743 closed

[2020-09-30 02:16] ywangd commented on #47609
I'd like to have agreement on a small design for this issue here. The payload of [current API](https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-invalidate-api-key.html#security-api-invalidate-api-key-request-body) has a field `id` that expects a single API key ID to be provided. To support multiple IDs, I can see following three options:

1. Add a new field `ids` to tak

[2020-09-30 03:34] #62911 closed

[2020-09-30 06:14] #62929 closed

[2020-09-30 06:51] #62996 closed

[2020-09-30 08:03] elasticmachine commented on #63041
Pinging @elastic/es-search (:Search/Analysis)

[2020-09-30 08:18] albertzaharovits commented on #47609
@ywangd I also prefer option **1.** and deprecate `id` .

Should we do the same for the `name` parameter, i.e. deprecate it and have it replaced by a `names` one that is an array? I think so.

[2020-09-30 08:55] cbuescher commented on #63041
Hi @setiah
thanks for opening this issue and your detailed description and proposal. This somehow ties in with a long standing ask around the need for a better way to manage synonyms e.g. via a dedicated API (see https://github.com/elastic/elasticsearch/issues/38523). Any such approach would ideally also make management through manually deployed synonym files unnecessary. While making the synonym

[2020-09-30 09:33] breskeby opened #63052 "LoggedExec exec methods should use ExecOperations service instead of project.exec"
As part of moving towards #57918 we should avoid using project in task actions. The exec method can be refactored to use the injectable ExecOperations service instead as described here: https://docs.gradle.org/6.6.1/userguide/custom_gradle_types.html#service_injection

[2020-09-30 09:33] elasticmachine commented on #63052
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-09-30 10:27] droberts195 commented on #44609
Hopefully the move from Jenkins to Team City will allow this test to be unmuted, as I understand the paths will be shorter.

[2020-09-30 10:32] hendrikmuhs commented on #62951
New failure with extra logging: https://gradle-enterprise.elastic.co/s/zyre3zt5twxb6

[2020-09-30 10:35] droberts195 opened #63055 "[ML] Add an option to ML get APIs to return only the fields required by the corresponding put API"
Over the years many users have been frustrated that it is hard to programmatically get an ML job config from one cluster and then put it into a different cluster because the get jobs API returns augmented config documents containing more fields than the config required by the put job API.  The put job API will reject configs that contain unknown fields.  This creates a burden on the client impleme

[2020-09-30 10:35] elasticmachine commented on #63055
Pinging @elastic/ml-core (:ml)

[2020-09-30 10:46] markharwood commented on #62817
I trialled an even more aggressive normalizer based on this code:
[code]
This led to some more reductions in disk space - 3.4GB master wildcard to 3GB with the modification.
Search times were not noticeably slower for the test queries provided.

[code]

[2020-09-30 11:39] leandrohlsilva commented on #9571
Hello guys, any updates on this?

[2020-09-30 11:52] #62948 closed

[2020-09-30 11:57] spinscale opened #63066 "Ingest: Adding a set to your source in a script processor throws an exception"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.9.2

**Description of the problem including expected versus actual behavior**:

While testing the script processor in the simulate ingest pipeline API, adding a `HashSet` to the source returns an exception.

**Steps to reproduce**:

[code]

The reason for this is, that `IngestDocument.deepCopy()` does not know about sets...

[2020-09-30 12:02] #62131 closed

[2020-09-30 12:26] #62997 closed

[2020-09-30 12:54] #63030 closed

[2020-09-30 13:02] #62609 closed

[2020-09-30 14:25] ravikesarwani commented on #63039
We need to make 2 changes to the following [document](https://www.elastic.co/guide/en/elasticsearch/reference/current/monitoring-production.html#monitoring-production)

(1) Remove line "If you are sending your data to the ESMS, see Elastic Stack Monitoring Service."
ESMS is retired and we shouldn't mention this is our doc anymore.

(2) Modify our compatibility production<->monitoring cluster compa

[2020-09-30 14:25] jrodewig commented on #46878
Closing as this has been addressed by #62257 and other updates. We now show users how to access metadata and arrays/objects in the docs:

https://www.elastic.co/guide/en/elasticsearch/reference/master/field-and-document-access-control.html#templating-role-query

[2020-09-30 14:25] #46878 closed

[2020-09-30 14:34] ravikesarwani commented on #63039
@lcawl Lisa, would you be able to help make the above changes in the document? If you are not the right person who should I contact that can help to make this doc change. Thanks!

[2020-09-30 14:41] markharwood commented on #62817
With this new approach of normalizing tokens (rather than dropping them) we can still accelerate fuzzy queries the way we used to.
However, the range query is a casualty because the scrambling of tokens in the index means we can't rely on querying a contiguous range the way we used to accelerate range queries. @jpountz shall we drop range query support or revert to a match-all approach (if allow e

[2020-09-30 14:55] breskeby commented on #62716
@geerlingguy thanks for the update. I _think_ we can close this then? //cc @rjernst ?

[2020-09-30 15:02] hendrikmuhs commented on #62712
We discussed this issue in the team.

Data streams are designed for append only, however transform updates data in the destination. Updates require a delete and an insert, this not compatible with append only, therefore transform by design can not write into a data stream[1].

As a result of the discussion we added a note to the [documentation](https://www.elastic.co/guide/en/elasticsearch/referen

[2020-09-30 15:02] #62712 closed

[2020-09-30 15:04] cbuescher commented on #48878
The PR adding the main "version" field type was merged with https://github.com/elastic/elasticsearch/pull/62692.
There is a [follow up PR](https://github.com/elastic/elasticsearch/pull/59786) (currently only draft) adressing the ask for a version range field, similar to ip or date ranges. So I'm keeping this open for now.

[2020-09-30 15:07] pgomulka opened #63080 "Make media type parsing strict"
at the moment, we do not throw an explicit exception when an unsupported media type is used either in code or by users.
We should validate this when parsing and throw an explicit error to the user.
This will require changes across the codebase were we rely on parsing returning null and the logic is retrying parsing in a different way (a value from content-type or format parameter)
comments https:/

[2020-09-30 15:07] elasticmachine commented on #63080
Pinging @elastic/es-core-infra (:Core/Infra/REST API)

[2020-09-30 15:50] JayasriC opened #63083 "Add Cumulative min and Cumulative Max Aggregation charts to ElasticSearch"

[2020-09-30 15:52] nik9000 commented on #62951
Another failure: https://gradle-enterprise.elastic.co/s/6a3rxv5czjggw/tests/:x-pack:plugin:transform:qa:single-node-tests:javaRestTest/org.elasticsearch.xpack.transform.integration.continuous.TransformContinuousIT/testContinousEvents#1

[2020-09-30 15:53] rjernst commented on #62716
@breskeby I'm not sure the change made to CI is sufficient. I don't think we pass any environmental jvm options through to tests. So it would seem we still have an edge case that needs to be found, where an ElasticsearchNode from testclusters is running elasticsearch-keystore with jdk15, but with older jvm options.

[2020-09-30 16:01] jpountz commented on #62817
Let's not drop as the compatibility with the `keyword` field is very important. How are we handling lowercasing today, which already shuffles ordering? Could the current approach be generalized to handle these new normalizations? If not I think it'd be nice to at least support the case when the lower term and the higher term share a common prefix of 2 chars or more so that if you search for terms

[2020-09-30 17:11] nik9000 opened #63088 "CI: testWatcherWithApiKey fails"
**Build scan**: https://gradle-enterprise.elastic.co/s/aylzo4qv6qdaa

**Repro line**:
[code]

**Reproduces locally?**:

**Applicable branches**:
master

**Failure history**:
https://build-stats.elastic.co/goto/092f99a325a05a8cd7f07aaac1223cf4

**Failure excerpt**:
[code]

This might be relevant, I'm not sure.
[code]

[2020-09-30 17:11] elasticmachine commented on #63088
Pinging @elastic/es-core-features (:Core/Features/Watcher)

[2020-09-30 17:14] nik9000 commented on #55816
Another: https://gradle-enterprise.elastic.co/s/kszlclg52vup4

[2020-09-30 17:16] elasticmachine commented on #62266
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-09-30 17:16] VimCommando commented on #63039
I feel like these two statements:

Should run the same version of the stack

Are a little confusing. I feel it is really saying:

[2020-09-30 17:21] markharwood commented on #62817
We have 2 strategies for accelerating range queries:
1) Long prefix eg `c:/LongPrefix/a.txt TO c:/LongPrefix/z.txt`
Here we make an AND of all the leading ngrams in common with the start and end
2) Short prefix eg `a.txt TO z.txt`
Here we use a `TermRangeQuery` to get all the values from `\0a*` to `\0z*`

It's the second strategy which will no longer work because the normalised values may not exis

[2020-09-30 17:22] nik9000 opened #63091 "CI: GCSCleanupTests fail"
**Build scan**:
https://gradle-enterprise.elastic.co/s/4z3szwzixwyyg/tests?toggled=WyI6eC1wYWNrOnNuYXBzaG90LXRvb2w6cWE6Z29vZ2xlLWNsb3VkLXN0b3JhZ2UtZ2NzdGhpcmRwYXJ0eXRlc3Qtb3JnLmVsYXN0aWNzZWFyY2guc25hcHNob3RzLWdjc2NsZWFudXB0ZXN0cyJd

**Repro line**:
[code]

**Reproduces locally?**:
I don't have the creds.

**Applicable branches**:

**Failure history**:
Looks to have started failing on 2020-9-24:
ht

[2020-09-30 17:22] elasticmachine commented on #63091
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-09-30 17:25] original-brownbear commented on #63091
I think I know where this is coming from, I'll fix it tomorrow.

[2020-09-30 17:42] markharwood commented on #62817
I identified another block of characters that can be normalized ( `:   ; < = > ? @`) and adding these brought a small decrease in index size:
[code]

[2020-09-30 17:50] nik9000 commented on #61541
I think maybe this is back! https://gradle-enterprise.elastic.co/s/4ivkdingbaqyc

[2020-09-30 17:55] kobelb commented on #62835
Should we be installing these templates by default? This feels like a breaking change, where users that were previously using Elasticsearch in a legitimate manner by having indices named `logs-data-things-2020-09-23` are now unable to upgrade without changing a setting.

[2020-09-30 18:13] mark-vieira commented on #62951
This is continuing to fail. @hendrikmuhs do we have enough diagnostic info from CI on this? Can we mute this for now until we have a fix?

[2020-09-30 18:19] ravikesarwani commented on #63039
@VimCommando I am not very sure about combining the 3 scenarios into one. This is something I had discussion with few support people before and the thinking was keeping them separate provides more clarity and the order of preference as well.
Once we have a doc person taking a look at it we can get another viewpoint added to the equation.

[2020-09-30 18:36] nik9000 commented on #62951
I've talked to @hendrikmuhs about this. I he's going to look at this tomorrow and I don't think waiting a day to mute this is a big deal because its not all that frequent. If you feel differently I can mute it.

[2020-09-30 18:48] polyfractal opened #63096 "Move scripted-metrics agg to plugin"
We'd like to move the scripted-metrics aggregation to a plugin.  This can be included by default so that users can continue to use it without disruption, but will prevent "stack" components from using it.

The rationale behind this is that scripted-metrics is very powerful and offers a lot of flexibility... but it is also a very sharp tool and difficult to use well.  Because scripted-metrics is es

[2020-09-30 18:48] elasticmachine commented on #63096
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-09-30 19:06] #61523 closed

[2020-09-30 19:12] original-brownbear commented on #61541
Seems like in this one `WindowsFS` struck again ... I'll look into this in more detail tomorrow, but we should probably just disable it again for this test suite (after making sure that it's the only issue here).

[2020-09-30 20:20] andrewthad commented on #32238
I just ran into the same issue that @not-napoleon described. The fact that closing indices breaks `/_cat/shards` is a problem for us, and it means that we essentially cannot ever close indices.

[2020-09-30 20:22] nik9000 commented on #56903
Another one! https://gradle-enterprise.elastic.co/s/zfxecuypvctq2

[2020-09-30 20:23] nik9000 commented on #54096
Another! https://gradle-enterprise.elastic.co/s/slrpjishcwryy

[2020-09-30 20:24] nik9000 commented on #63088
Another: https://gradle-enterprise.elastic.co/s/4n6dxz766ewjk

[2020-09-30 21:30] shenwan commented on #63019
"Break ES" includes having ES running in an unintended way. For example, if the new config sets incorrect priorities, how can we find that out?

The experimental _simulate API seems to work. Thanks for the info! I think at first we will just check if the API returns 200. But maybe we should also check if the response body is expected?

Also, are you going to build similar _simulate API for other c

[2020-09-30 21:31] patelvp commented on #48892
Not sure how this can fit in the api model of es. But this seems like a good candidate to work on. I see the number of shards per node limit as a safety limit. Which if we do approach on production system can be safely increased given the resource utilization of the cluster. Just a visual indicator would help in alerting us to go check the cluster and increase it if it is safe to do so.

[2020-09-30 21:34] setiah commented on #63041
Thanks @cbuescher, appreciate your response. I agree with the long term approach of managing synonyms via index.

However, in the mean time, I think there would still be customers who have built systems around deploying synonym files to their cluster and might still continue want to use the synonym files. The migration to the new way of managing synonym could be an extra effort, and possibly elast

[2020-10-01 00:16] jamshid commented on #29652
The docs are confusing, and maybe I'm misunderstanding @bosinm 's point but fwiw I did _not_ have to set `index.number_of_routing_shards` in order to use the `_split` api.
I'm using Elasticsearch 7.5.2. I was able to split an index created with 5 shards to 20.
[code]

[2020-10-01 07:15] michaelpietzsch commented on #48003
Just out of intrest, what version of Elasticsearch are you running?

[2020-10-01 07:43] dweiss opened #63108 "esplugin always appends scm and url to POM, even if they already exist"
This is problematic in PublishPlugin.java:
[code]

as it always appends url and scm nodes, even if they've been configured before, creating duplicated XML entries and resulting in an invalid POM. I think it should be allowed for downstream plugins to define these properties manually and, if they exist, they shouldn't be force-fed to the POM.

[2020-10-01 07:45] peterdkdp commented on #48003
Currently upgrading to 7.9.2

[2020-10-01 07:53] michaelpietzsch commented on #48003
@peterdkdp  do you have it running aswell? Just to make sure .

- Create Index Livecycle Policy
- Create Index Template to bind ILM Policy (Possibly with rollover)
- Create Index ... automated via Rollup Job.

?

My main goal is to split indexes in size to keep them usable on a long term perspective.

[2020-10-01 08:15] matriv commented on #53282
After discussion some more investigation we came up with the following:

- WEEK interval is not supported by standard SQL
- Handling it with java.time is also tricky
- WEEK interval can lead to problematic semantics:
  - Is 7 DAYS interval equivalent of 1 WEEK? (and 14 DAYS 2 WEEKS and so on)
  - When does a WEEK start? Monday? Sunday? Do we have to introduce 2 different intervals? Do we need to a

[2020-10-01 08:15] #53282 closed

[2020-10-01 08:15] astefan commented on #51206
This one failed today, and in the last 30 days there was a [total of 6 failures](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'class:%22org.elasticsearch.test.rest.IntegTestZipClientYamlTestSuiteIT%22%20AND

[2020-10-01 08:28] astefan commented on #63088
https://gradle-enterprise.elastic.co/s/ywzzojjq5l62k
Similar failure on 6.8. Same test but a slightly different error message:

[code]

[2020-10-01 08:43] peterdkdp commented on #48003
@michaelpietzsch my apologies, I was replying to your reply. I thought you got it working.
I'm also still waiting on the implementation of rollups with ILM.
Let's check with @JathinSanghvi if he has a procedure on how he did it.

[2020-10-01 08:46] breskeby commented on #62115
We just removed the unpacking overhead for now. still need to look into optimising the actual building (currently building both)

[2020-10-01 08:51] markharwood commented on #62817
The problem comes because I normalise all punctuation to the same `/` char. There are 4 blocks of punctuation I tackle in the ASCII table:

Codepoint range | Content
----|--------
32 - 47 |  Normalize `  ! " # $ % &  ' ( } * + , - . `
48-57 | Keep `0-9`
58-64 | Normalize `; < = > ? @`
65- 90 | Keep `A-Z`
91-96 | Normalize `[ \ ] ^ _ `
97-122| Keep `a-z`
123-126| Normalize `{   \|  }  ~`

Rather th

[2020-10-01 09:30] droberts195 opened #63114 "[ML] Add an ML index health API"
We have had a number of problems where ML indices have not been as expected.  For example:

- Indices with unexpected mappings due to upgrade bugs or global templates matching
- Indices where a concrete index exists with a name that should be an alias

It would be nice if there was a single ML API that would check that every ML index was in the expected state and report any deviations.  Then we co

[2020-10-01 09:30] elasticmachine commented on #63114
Pinging @elastic/ml-core (:ml)

[2020-10-01 09:31] droberts195 commented on #63114
This work should be scheduled after the plan for creation and upgrade of mappings on system indices is better defined.  Implementing this API too soon will lead to considerable rework being required.

[2020-10-01 09:36] jpountz commented on #62817
I think we have a bug due to this in our current implementation of rangeQuery? For instance `A.txt TO a.txt` should match `B.txt` but we use `\0a*` as an acceleration query, which is wrong?

Regardless of that I'm+1 on only keeping the 1st strategy to accelerate range queries and removing the 2nd which is harder to make correct with this change.

Aggressive normalization looks like it yields signi

[2020-10-01 10:50] #47455 closed

[2020-10-01 11:20] astefan opened #63118 "[CI] ClassificationEvaluationWithSecurityIT testEvaluate_withSecurity failure"
**Build scan**: https://gradle-enterprise.elastic.co/s/ysr3jinsb3yqo

**Repro line**: `gradlew ':x-pack:plugin:ml:qa:native-multi-node-tests:integTestRunner' --tests "org.elasticsearch.xpack.ml.integration.ClassificationEvaluationWithSecurityIT.testEvaluate_withSecurity" -Dtests.seed=37732706B5234FF -Dtests.security.manager=true -Dtests.locale=he -Dtests.timezone=Australia/Tasmania -Druntime.java=

[2020-10-01 11:20] elasticmachine commented on #63118
Pinging @elastic/ml-core (:ml)

[2020-10-01 12:39] astefan commented on #58286
Another timeout... https://gradle-enterprise.elastic.co/s/jr4i67y5woiz6

[2020-10-01 12:48] astefan commented on #61356
fwiw, I've spotted this warning message in one of the CI runs: https://gradle-enterprise.elastic.co/s/3btefogqnvm3a

[2020-10-01 13:12] jimczi commented on #62817
I wrote a quick and dirty patch to check the possible gain on the dataset we use for testing:

Encoding|Postings size
------------ | -------------
FOR|2,0GB
PFOR|1,5GB
FOR + Normalize|1.7GB
PFOR + Normalize|1.4GB

PFOR saves 25% on the raw ngram index and 23% on the normalized one (lowercase + character folding) so that seems like a great follow up if we want to optimize further.

[2020-10-01 13:12] astefan opened #63126 "[CI] TransportGetEnrichPolicyActionTests.testGetMultiplePolicies failure"
**Build scan**: https://gradle-enterprise.elastic.co/s/w6bw53hgqruvw

**Repro line**: `gradlew ':x-pack:plugin:enrich:test' --tests "org.elasticsearch.xpack.enrich.action.TransportGetEnrichPolicyActionTests.testGetMultiplePolicies" -Dtests.seed=289FE52574D88C9A -Dtests.security.manager=true -Dtests.locale=is-IS -Dtests.timezone=Africa/Lusaka -Druntime.java=8`

**Reproduces locally?**: Yes

**Appli

[2020-10-01 13:12] elasticmachine commented on #63126
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-10-01 13:22] ywangd commented on #47609
After team discussion, we agreed to overload the existing `id` field to take both string or array of strings (option 3 in above comment). Introducing a new `ids` field has not only BWC implications, but also raises consistent questions about other fields, e.g. `name` or the same field of `GetApiKeyRequest`. Addressing each of the consistency issue will also need take care BWC. In short, it could i

[2020-10-01 13:31] astefan opened #63128 "[CI] missing x-pack-ml/NOTICE.txt when building oss-linux-tar"
**Build scan**: https://gradle-enterprise.elastic.co/s/3uv2bq5e2vjza

**Repro line**: N/A

**Reproduces locally?**: N/A

**Applicable branches**: master

**Failure history**: none

**Failure excerpt**:

[code]

Not sure exactly if this is a true failure or not, better to have a second pair of eyes looking at it, just in case.

[2020-10-01 13:31] elasticmachine commented on #63128
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-10-01 13:31] elasticmachine commented on #63128
Pinging @elastic/ml-core (:ml)

[2020-10-01 13:52] azhuchkov opened #63129 "Performance issue: Rest High Level Client unnecessary parses _source"
**Elasticsearch version** (client library): 7.5.1

**Description of the problem including expected versus actual behavior**:
I have sophisticated **Jackson** mapping for (un-)marshalling objects which are used for indexing. After performing search request these documents are needed to be deserialized manually from string returned by `SearchHit.getSourceAsString()`.

So, there is no need for client

[2020-10-01 13:54] deeps-usha commented on #20004
Hi @polyfractal , I have done the changes to this issue. But I am not able to push my branch and create a pull request. Can you please let me know how to create a PR for this?

[2020-10-01 14:01] astefan opened #63131 "[CI] UpdateThreadPoolSettingsTests testFixedExecutorType failure"
**Build scan**: https://gradle-enterprise.elastic.co/s/safmn5nukss7y

**Repro line**: `./gradlew ':server:test' --tests "org.elasticsearch.threadpool.UpdateThreadPoolSettingsTests.testFixedExecutorType" -Dtests.seed=314CD7EE34B70039 -Dtests.security.manager=true -Dtests.locale=sq -Dtests.timezone=Australia/Sydney -Druntime.java=8`

**Reproduces locally?**: No

**Applicable branches**: 7.x

**Failu

[2020-10-01 14:01] elasticmachine commented on #63131
Pinging @elastic/es-core-infra (:Core/Infra/Settings)

[2020-10-01 14:07] droberts195 commented on #63128
It's not surprising the ML notices don't exist when building OSS, because it's a commercial feature.  It may mean that the code that adds in the notices from the ML native components needs to be conditionally executed when building the default distribution/excluded when building OSS.

[2020-10-01 14:53] dimitris-athanasiou commented on #63118
This looks unrelated to the particular test. There is a number of tests failing probably because something caused trouble in the cluster.

[2020-10-01 15:02] polyfractal commented on #20004
Hi @deeps-usha, you'll need to [fork the repository](https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/fork-a-repo) to your github account, make the changes and push to your version of the repo, then [send a PR](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/proposing-changes-to-your-work-with-pull-requests) with

[2020-10-01 15:12] costin opened #63132 "EQL: PIT usage should be restricted to only the relevant filters"
Currently Point-In-Time hits all indices so all queries done using PIT should be restricted to certain indices through the query not through the search request index (see https://github.com/elastic/elasticsearch/pull/63032#discussion_r498283834).

[2020-10-01 15:12] elasticmachine commented on #63132
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-01 15:23] venkateshgorantla commented on #33316
Is there as work around for this in 6.4?

[2020-10-01 15:41] jaymode opened #63133 "Security updates for logstash system index APIs"
After adding the system index APIs for pipeline management, the security privileges and roles should be updated to account for these APIs.

Specifically:

* Add new `NamedClusterPrivilege` in `ClusterPrivilegeResolver` with name `manage_logstash_pipelines`
* Update `logstash_admin` in `ReservedRolesStore` to use the cluster privilege
* Document the new cluster privilege

[2020-10-01 15:41] elasticmachine commented on #63133
Pinging @elastic/es-security (:Security/Authorization)

[2020-10-01 15:58] #61118 closed

[2020-10-01 16:04] danhermann commented on #56186
We discussed this and thought that adding a system property to bypass the cluster state validation logic that prevents a write alias from targeting multiple write indices would probably be the most expedient way of addressing this because:
* though rarely encountered, it is hard to recover the cluster to a functional state
* the cluster state validation logic is still desirable especially because

[2020-10-01 16:07] jasontedor commented on #47609
I'm concerned with the suggestion here, because what we're ending up with is a field that can take on two different forms. That's additional mental overhead, and it complicates the specification and high-level clients. It's also confusing that `id` can be multi-valued. I think we should take an iterative approach towards what we want our APIs to look like. One suggestion that I can offer here woul

[2020-10-01 16:20] mark-vieira commented on #51206
I'm closing this is a duplicate of #58286 since it's all the same fundamental issue, which is that Darwin CI worker performance is ridiculously poor.

[2020-10-01 16:20] #51206 closed

[2020-10-01 17:33] jbaiera commented on #50032
A quick update here: Monitoring manages all of its resource publishing as a lazy background process that simply logs a problem if it occurs. There is some refactoring that we've needed to do in order to explicitly refresh resources and return a yes or no answer to whether alerts have been removed. Considering that we're nearing the 7.10 code freeze I wanted to set expectations that if we _do_ fini

[2020-10-01 17:37] chrisronline commented on #50032
Thanks for the update @jbaiera, we'll target 7.11 for our changes then.

[2020-10-01 17:51] cjcenizal opened #63143 "ILM API should disallow a policy with conflicting force merge segment counts"
For example, the API allows you to create a policy that merges down to 1 segment in the hot phase, and then merges to 5 segments in the warm phase:

[code]

I don't think we should allow users to get into strange states like this. I would above the above request to be rejected by the API with an error explaining the force merge segment count conflict. CC @jloleysens

[2020-10-01 17:51] elasticmachine commented on #63143
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-10-01 18:17] #61642 closed

[2020-10-01 19:37] ruke47 opened #63150 "Regression in QueryString/Percolator behavior on unmapped fields between 7.6.2 and 7.7.0"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.7.0 (problem persists through 7.9.2)

**Plugins installed**: none

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
reproduced on:
` Darwin Kernel Version 19.6.0: Thu Jun 18 20:49:00 PDT 2020; root:xnu-6153.141.1~1/RELEASE_X86_64 x86_64`
`4.4.0-1026-aws #35-Ubuntu SMP Thu Jul 20 21:59:09 UT

[2020-10-01 20:56] mbarretta commented on #62835
I've seen this occur already, with a `metrics-*` index template.

As opposed to a node-level setting, can something first prompt that a collision is occurring? Otherwise, it puts the onus on users to read through the release/upgrade notes, notice the potential collision, and make the setting change (++ dynamic).

Failing that, the change is made and their own index templates will silently fail to

[2020-10-01 21:05] danhermann commented on #58261
Fixed by https://github.com/elastic/elasticsearch/pull/58321

[2020-10-01 21:05] #58261 closed

[2020-10-01 21:21] #53311 closed

[2020-10-01 21:22] imrigp commented on #18691
Looks like it had been already implemented here:
[https://github.com/elastic/elasticsearch/commit/90b8f5d0d8ab316a88ae17a60f04aa12187cd671#diff-d8b29266c033d9d6e7cfe327be34c6e6](url)

[2020-10-01 21:31] danhermann commented on #51087
Resolved by https://github.com/elastic/elasticsearch/pull/53343

[2020-10-01 21:31] #51087 closed

[2020-10-02 01:25] kaykumar commented on #3138
+1 alias to alias

[2020-10-02 01:29] tbrooks8 commented on #59116
Yes. Thank you for the ping. I will take a look tomorrow.

[2020-10-02 03:36] tvernum commented on #62759
Changing the password via the Put User API has been possible since at least 5.2 and probably earlier.
I suspect that line in the documentation is a carry over from Shield 2.

Note the docs are contradictory here. They say:

and

The latter is a correct description of the current behaviour.

We discussed this internally and agreed that it is a documentation bug, and the leading sentence under **Des

[2020-10-02 03:36] elasticmachine commented on #62759
Pinging @elastic/es-docs (>docs)

[2020-10-02 06:29] elasticmachine commented on #63150
Pinging @elastic/es-search (:Search/Percolator)

[2020-10-02 06:43] ywangd commented on #47609
Thanks for chime in @jasontedor. I did share the same concerns for reusing the exising `id` field in my [previous comment](https://github.com/elastic/elasticsearch/issues/47609#issuecomment-701117255). But the BWC complexities of adding a new `ids` field got me think otherwise. Honestly, if we do not consider effort, adding a new `ids` field and remove existing `id` field is the way to go because

[2020-10-02 06:53] elasticmachine commented on #63129
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-10-02 07:16] elasticmachine commented on #63108
Pinging @elastic/es-core-infra (:Core/Infra/Plugins)

[2020-10-02 07:19] elasticmachine commented on #63066
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-10-02 07:26] elasticmachine commented on #63025
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-10-02 07:46] henningandersen commented on #63005
Yes, this is indeed a bit confusing. The behavior you see is expected but not intuitive.

`size` in the body is a synonym for `scroll_size` as a URL parameter. This comes from how search works. An update by query has a body that is identical to a search, except for a few added options like the script. And in a scroll search, `size` means the scroll size (whereas in a regular search it just means t

[2020-10-02 07:46] elasticmachine commented on #63005
Pinging @elastic/es-distributed (:Distributed/Reindex)

[2020-10-02 08:18] pgomulka opened #63158 "[test failure] 40_geohash_grid/Test geohash_grid aggregation circuit breaker fails"
happens twice

**Build scan**:
https://gradle-enterprise.elastic.co/s/kbr7f543ybnte/tests/:x-pack:plugin:spatial:yamlRestTest/org.elasticsearch.xpack.spatial.SpatialClientYamlTestSuiteIT/test%20%7Byaml=%2F40_geohash_grid%2FTest%20geohash_grid%20aggregation%20circuit%20breaker%7D#1

most recent:
https://gradle-enterprise.elastic.co/s/wegrukq224tum/tests/:x-pack:plugin:spatial:yamlRestTest/org.elast

[2020-10-02 08:18] elasticmachine commented on #63158
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-10-02 08:33] costin commented on #62941
Addressed through https://github.com/elastic/elasticsearch/commit/201e577e65f26a9b958a6197fe6c7268da39de29
Went ahead with `:` for operator. The negating operator `!:` hasn't not been added since most queries are about inclusion not exclusion.

[2020-10-02 08:33] #62941 closed

[2020-10-02 09:04] pgomulka commented on #62268
closing as behaviour is  correct - improved the docs #63109

[2020-10-02 09:04] #62268 closed

[2020-10-02 09:08] droberts195 opened #63163 "[ML] Softening the effect of fluctuations in anomaly detection job memory usage"
The number of ML jobs that can be assigned to a given ML node is determined by their memory requirement.

For anomaly detection jobs, the memory requirement is one of the following:

* The model memory limit defined in the job config
* The latest model memory reported in model size stats

We use the model memory limit when the latest model memory reported in model size stats is not reliable.  The

[2020-10-02 09:08] elasticmachine commented on #63163
Pinging @elastic/ml-core (:ml)

[2020-10-02 10:52] stav29 opened #63171 "num_freed field in clear all scrolls response is incorrect"
**Elasticsearch version** (`bin/elasticsearch --7.8.1`):

**Plugins installed**: []

**JVM version** (`java -11.0.6`):

**OS version** (windows):

**Description of the problem**:
When I try to delete all scrolls using DELETE server:port/_search/scroll/_all
I get the number of nodes in the cluster in the num_freed field instead of the number of scrolls actually being deleted

[2020-10-02 10:55] stav29 commented on #63171
If it's fairly easy I would like to try and fix this bug

[2020-10-02 11:33] benwtrent commented on #63088
The exact same issue as originally mentioned
https://gradle-enterprise.elastic.co/s/gbi2jdih6wtpq

This time an upgrade from 7.4.0 -> 7.10.0
[code]
[code]

[2020-10-02 11:39] benwtrent commented on #62451
Seems like the same failure: https://gradle-enterprise.elastic.co/s/sk4qya62oqb7k

[code]

[code]

[2020-10-02 11:49] #61541 closed

[2020-10-02 12:29] #63055 closed

[2020-10-02 13:05] jrodewig commented on #62759
Relates to #62800

[2020-10-02 13:10] #61959 closed

[2020-10-02 13:24] rw-access commented on #62883
Closing in favor of #62949

[2020-10-02 13:24] #62883 closed

[2020-10-02 13:26] original-brownbear commented on #63091
Closed via https://github.com/elastic/elasticsearch/pull/63168

[2020-10-02 13:56] dweiss commented on #52320
Hi Ryan. Just wondering if something like this would work:
https://github.com/elastic/elasticsearch/pull/63185/files

I also corrected classloader.load() to Class.forName(..): this avoids early class initialization.

I've tried to run gradlew check but I'm getting test errors on master (without the patch) so I'm not sure whether I broke something or something is broken already. :)

[2020-10-02 14:26] #62817 closed

[2020-10-02 14:32] original-brownbear commented on #62840
We discussed this during our team sync and decided that this needs a fix. I'll attempt one shortly.

[2020-10-02 14:34] costin commented on #62986
@rylnd I've finally gotten around to look at this. There are two options relevant to you on index resolution:

- `allow_no_indices` which in ES is `true` by default however in EQL it has to be `false` since at least one mapping is needed to validate the query.
- `ignore_unavailable` which in ES is `true` by default but in EQL was `false`. That is why a combination of non-existing index/pattern plu

[2020-10-02 14:41] #62933 closed

[2020-10-02 14:42] costin commented on #61659
Superseded by #62652 (in particular #62663, #62645 and #62941).

[2020-10-02 14:42] #61659 closed

[2020-10-02 14:55] rw-access opened #63196 "QL: convert Like to Equals when possible"
If a `Like` predicate is used that doesn't contain a single character wildcard like `?` or a multi-character wildcard like `*` or `%`, then it can be converted to Equals which should in turn use a `term` query and may be more performant.

[2020-10-02 14:55] elasticmachine commented on #63196
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-02 14:55] elasticmachine commented on #63196
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-10-02 15:22] przemekwitek commented on #61325
PRs #62749 and #62960 together solve this issue.

[2020-10-02 15:22] #61325 closed

[2020-10-02 15:23] #62875 closed

[2020-10-02 15:27] alisonelizabeth opened #63199 "[Ingest node pipelines] 502 Bad Gateway error when simulating a pipeline"
**Elasticsearch version**: `master`

**Description of the problem including expected versus actual behavior**:
Running the simulate pipeline API with verbose enabled against a pipeline that has a `pipeline` processor, and the pipeline defined is expected to fail with the sample documents provided, results in: `{"statusCode":502,"error":"Bad Gateway","message":"Client request timeout"}`. I would ex

[2020-10-02 15:28] matriv commented on #62933
`master` : 306e1d76da3db652db57f11f847705b3995609ff
`7.x` : 3cac996373a539d3027624a7987281f56fe0df46

[2020-10-02 17:00] mark-vieira opened #63203 "Metricbeat errors due to missing `admin/aliases/get` permission for `remote_monitoring_user` user"
The default metricbeat configuration using the built-in `remote_monitoring_user` user fails due to a missing permission.

The workaround is to create a separate user with the appropriate permissions but the expectation should be that using the built-in users should "just work". My understand would be that either a) metricbeat is doing something it shouldn't or b) the built-in user should have this

[2020-10-02 17:00] elasticmachine commented on #63203
Pinging @elastic/es-security (:Security/Authorization)

[2020-10-02 17:27] #63126 closed

[2020-10-02 17:46] rjernst commented on #52320
@dweiss I think that is the first step. Would you be willing to open a PR with that change? We can work through checking it with CI.

The other more broad change that is needed is what I described in https://github.com/elastic/elasticsearch/issues/52320#issuecomment-590570998. I think that will require a lot more work, but your proposal will at least get some cases working, and it would be no wors

[2020-10-02 18:27] cjcenizal commented on #60222
@damianpfister Can I echo this back to make sure I understand correctly?

1. Elasticsearch fundamentally disallows duplicate fields.
2. The `strict_duplicate_detection` setting allowed people to alter this behavior to allow duplicate fields in 6.x and prior.
3. This setting is removed in 7.0, causing people who had been depending upon it to be surprised by duplicate field errors when they upgrade

[2020-10-02 18:43] rylnd commented on #62986
@costin thanks for looking into this! I agree with your assessment of `allow_no_indices`, we don't really have a need for that behavior, I think it was being conflated with `ignore_unavailable` due to the behavior exhibited in my [previous comment](https://github.com/elastic/elasticsearch/issues/62986#issuecomment-700787458).

While I agree with your statements about how `ignore_unavailable` shoul

[2020-10-02 19:00] elasticmachine commented on #63199
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-10-02 19:20] rjernst commented on #62709
Thanks for the note @imweijh. When originally trying to reproduce this issue, I thought I had verified oracle jdk 15 also failed, but I must have gotten jdks mixed up. I've now verified you are correct, Oracle jdk 15 does continue to work on CentOS 6.

At this time though, I'm not sure we should yet do anything. We switched away from the oracle jdk because of notarization issues on MacOS (https://

[2020-10-02 20:16] vishrantgupta commented on #25067
If you are using docker then `discovery.type=single-node` can be added as following:
[code]

[2020-10-02 20:30] costin commented on #62986
This might be still on us due to the way we resolve the wildcard pattern.

[2020-10-02 20:31] dweiss commented on #52320
You're right in that even this would be a small step forward as it allows plugin writers to initialize things explicitly where the context class loader is set. It'd be nice to have it work everywhere but something is better than nothing!

As for the PR - ahem, this link is a PR already? Would you like me to clean it up somehow?

[2020-10-02 21:06] #63039 closed

[2020-10-02 21:31] #62451 closed

[2020-10-02 21:34] rjernst commented on #52320
Apologies, I just looked at the diff and didn't realize I was looking at a PR. I've kicked off testing there.

[2020-10-02 21:37] dweiss commented on #52320
No need to at all. Is there anything special I need so that gradlew check passes on master (Linux, Ubuntu)? I didn't look deeply into the failures but they were consistent.

[2020-10-02 21:45] rjernst commented on #52320
There shouldn't be anything special. Let's see what happens in CI.

[2020-10-02 23:16] rjernst commented on #63108
I'm curious why you would want to set this on your own, rather than rely on the automatic value found by the build? That said, it is certainly possible to add guards here, but we lack tests in this area, so it may break in the future until that improves.

Can you provide an example of how you are setting this on your own such that it conflicts, so that we can confirm the change will fix this probl

[2020-10-03 01:41] fernandocoronatomf commented on #6787
I'd like to ask it as well:

[2020-10-03 02:54] tbrooks8 commented on #59116
Can you tell me a little more about the failure scenario here? How is your test introducing delay?

Can you describe high level specifics about what you are proposing? As I have mentioned in previous comments there are number of layers we intend to add. That does not mean we are ready to commit to shard level rejections without further exploration and discussions.

[2020-10-03 04:52] consulthys opened #63213 "Failed to update expiration time for async-search"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.9.1 (Elastic Cloud)

**Plugins installed**: []
N/A

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:

In the ES Cloud console logs, I see the following ERROR log one or two times a day:
[code]

It's hard to kn

[2020-10-03 06:21] pspranjal444 commented on #54964
Hi @matriv. I am new to open source. Can you please provide more context on what exactly to do ? I have to add `to_char()` in `DateTimeFormatProcessor.java` file. Is that correct ?

[2020-10-03 09:23] costin commented on #62986
@rylnd I've added two integration tests for non existing indices, one with a [non-existing index](https://github.com/costin/elasticsearch/blob/fix/62986/x-pack/plugin/eql/qa/rest/src/yamlRestTest/resources/rest-api-spec/test/eql/10_basic.yml#L87) another one with a [non-matching pattern](https://github.com/costin/elasticsearch/blob/fix/62986/x-pack/plugin/eql/qa/rest/src/yamlRestTest/resources/res

[2020-10-03 11:22] MrMontesa commented on #51361
Same here. Updated my CentOS 7 server today and ran into the same issue. Tip from @ahantoiu worked for me as well.
My system:
[code]

[2020-10-03 18:15] dweiss commented on #63108
I don't use nebula - I use regular Gradle publishing. I also had it set up properly and when I upgraded to new ES release it failed with an awkward error (POM invalid). The checks and automatic setup is fine for ES infrastructure (for you guys) but I don't think it's that beneficial for others. I actually had to disable some of the POM validation stuff because it was complaining about missing bits

[2020-10-04 06:03] jackneer commented on #61074
hi, may I help this? thanks!

[2020-10-04 08:12] deeps-usha commented on #20004
Hi @polyfractal, I have raised a pull request https://github.com/elastic/elasticsearch/pull/63219. Please review.

[2020-10-04 08:36] albertzaharovits commented on #52551
We've discussed this and agreed that authentication failure events should be emitted when API key and tokens verification fails (before authn falls through to realms).

[2020-10-04 18:27] selfishone commented on #19546
@colings86 @vishleshpatel is this task still being worked on?  If not I would like to try it out

[2020-10-04 20:01] lizozom commented on #57537
@mayya-sharipova permissions sound ok.
And as a first phase, the individual API is ok.

Thanks :+1:

[2020-10-05 06:27] matriv commented on #54964
@pspranjal444 The implementation is pretty straight forward, please look at my previous comment and follow the pattern for implementing another flavour of this function.

[2020-10-05 06:50] elasticmachine commented on #62956
Pinging @elastic/es-search (:Search/Search)

[2020-10-05 06:51] elasticmachine commented on #63083
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-10-05 07:02] elasticmachine commented on #62752
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-05 07:38] #62863 closed

[2020-10-05 08:26] fredeil commented on #48878
Can't wait for this feature @cbuescher. When do you think it will be generally available? I guess the feature has to be added to the different SDKs also

[2020-10-05 09:14] droberts195 opened #63232 "[CI] Problem building build tools on Windows"
**Build scan**:

https://gradle-enterprise.elastic.co/s/6m5fpo3u7phqa

**Repro line**:

[code]

**Reproduces locally?**:

Yes (on Windows)

**Applicable branches**:

master

**Failure history**:

Failed every day since 1st October:

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(columns:!(_source),index:b646ed00-

[2020-10-05 09:14] elasticmachine commented on #63232
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-10-05 09:24] droberts195 opened #63233 "[CI] SearchableSnapshotsBlobStoreCacheIntegTests testBlobStoreCache failed"
**Build scan**:

https://gradle-enterprise.elastic.co/s/dyvp3twiy47yc

**Repro line**:

[code]

**Reproduces locally?**:

No

**Applicable branches**:

7.x

**Failure history**:

Just this once in the last 3 weeks:

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-21d,mode:relative,to:now))&_a=(columns:!(_source),index:b646ed00-7efc-11e8-bf6

[2020-10-05 09:24] elasticmachine commented on #63233
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-05 09:26] cbuescher commented on #48878
The main new field type has been merged to the 7.x branch which should go out with the upcoming 7.10 release if there are no last-minute changes. We don't give estimates of release dates etc... here, but the minor version release cadence has been pretty stable, so you can guestimate.

I'm not sure I fully understand this. What SDKs do you mean?

[2020-10-05 09:29] ilijaplusx commented on #60373
I'm using the same setup, percolator queries and documents are in separate indices, and get the same `query_shard_exception` error? Did you find a solution how to go around this?

[2020-10-05 09:47] droberts195 commented on #61564
This is still failing in the same way:

[code]

The build scan for that is: https://gradle-enterprise.elastic.co/s/pk6orftvu2us2

[2020-10-05 09:51] droberts195 commented on #61908
Another failure in https://gradle-enterprise.elastic.co/s/7ja326o652k4w, this time on the `.ml-stats` index:

[code]

[2020-10-05 10:03] droberts195 commented on #61908
There have been a few failures upgrading the `.ml-stats` index mappings now, so I have opened #63234 to mute that bit of the test.

[2020-10-05 10:29] #61437 closed

[2020-10-05 10:39] #62877 closed

[2020-10-05 10:44] mbudge commented on #42720
Will rollups handle new fields arriving in the data?

For example winlogbeat adds new fields when one appears in the windows event log.

Would this new field get rolled up automatically or would we have to manually modify the rollup job?

[2020-10-05 11:13] #63132 closed

[2020-10-05 11:15] #63196 closed

[2020-10-05 11:18] #62986 closed

[2020-10-05 13:15] polyfractal commented on #63083
On that note, I wonder if it would make sense to just add a catch-all "cumulative stats" agg which calculates the whole set of extended stats metrics (min/max/avg/count/sum/std dev/variance/etc)

[2020-10-05 13:28] costin opened #63240 "EQL: Avoid filtering on tiebreakers"
The PR #63215 that removed tiebreaker filters turned to have issues.
See for example seed `77F125B2AABDFFD8` or `2EC63998F0C28C`
This might be related to the tiebreaker not being considered when resuming calls in case of a small page.

Redo #63215
Fix #62781

[2020-10-05 13:28] elasticmachine commented on #63240
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-05 13:34] benwtrent commented on #58489
This is corrected in https://github.com/elastic/elasticsearch/pull/62563

[2020-10-05 13:34] #58489 closed

[2020-10-05 13:34] droberts195 commented on #63088
Some more failures today:

* 7.x - https://gradle-enterprise.elastic.co/s/3ld6nzpr4vpfe
* 7.9 - https://gradle-enterprise.elastic.co/s/mkiszqdehjur4

Since this is failing a lot I will mute the test.

[2020-10-05 14:01] droberts195 commented on #63091
There was another failure today for 7.x that looks identical to the one in the issue description: https://gradle-enterprise.elastic.co/s/5klktiqomiobo

So the fix doesn't seem to have worked in every case.

[2020-10-05 14:15] droberts195 commented on #63088
Muting commits:

* master - cbf1a19bf68c00f8bf3cc6507dc344dcf242fb1e
* 7.x - 1b32daf37b30cd49280560315f3ab602787ea83b
* 7.9 - 0e9a0459cb04fd700e0f6b1eb5335016df464310

[2020-10-05 14:15] #49873 closed

[2020-10-05 14:38] droberts195 opened #63246 "[CI] Seed-specific failure in RestoreSnapshotIT testDynamicRestoreThrottling"
**Build scan**:

https://gradle-enterprise.elastic.co/s/dg3t4rrcwsebo

**Repro line**:

[code]

**Reproduces locally?**:

Yes

The failure is seed-specific because this works:

[code]

**Applicable branches**:

7.x

**Failure history**:

Twice in the last 30 days:

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(

[2020-10-05 14:38] elasticmachine commented on #63246
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-05 14:49] ycombinator opened #63247 "Put pipeline API does not honor Content-Type: application/yaml header"
**Elasticsearch version** (`bin/elasticsearch --version`):
[code]

**Plugins installed**: Default

**JVM version** (`java -version`):

[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:

Like other Elasticsearch APIs that accept request bodies, the [`PUT _ingest/pipeline/{id}` API](https://www.elastic.co/g

[2020-10-05 14:50] elasticmachine commented on #63247
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-10-05 14:50] original-brownbear commented on #63091
https://github.com/elastic/elasticsearch/pull/63243 should resolve this for good, sorry for the noise

[2020-10-05 14:50] #63091 closed

[2020-10-05 15:21] elasticmachine commented on #63213
Pinging @elastic/es-search (:Search/Search)

[2020-10-05 15:22] elasticmachine commented on #63171
Pinging @elastic/es-search (:Search/Search)

[2020-10-05 15:23] elasticmachine commented on #63002
Pinging @elastic/ml-core (:ml)

[2020-10-05 15:24] jpountz commented on #61764
We just discussed this issue and agreed to move forward with honoring the maximum segment size as long as the maximum number of segments is not specified. This means that calling `_forcemerge?only_expunge_deletes=true` would then honor the maximum segment size.

[2020-10-05 15:24] matriv commented on #63171
@stav29 Do you have an example to reproduce this ?

[2020-10-05 15:32] droberts195 commented on #63002
Next time this happens please can you use `jstack` to get stack traces from every thread in the JVM _while it is frozen_.  This will hopefully show which exact threads have deadlocked.

[2020-10-05 15:35] costin commented on #62781
Reopening due to #63240

[2020-10-05 15:45] cbuescher commented on #61496
This is not only a test issue, I started current 7.x branch locally with java 8 (Oracle 1.8.0_201), and the following
snippet does not work, whereas with a Java 9 version everthing works fine.

[code]
Getting the following error on 8:
[code]

I will go ahead and file a regular issue for this, then we can maybe simplify the test by excluding the problematic formats for the time being (at least on 7

[2020-10-05 16:15] droberts195 opened #63256 "[CI] RoundingDuelTests.testSerialization failures"
**Build scan**:

1. https://gradle-enterprise.elastic.co/s/yolyw4q244v4k
2. https://gradle-enterprise.elastic.co/s/tthsxuy6b6arq
3. https://gradle-enterprise.elastic.co/s/5rcdquw445aye

**Repro line**:

[code]

**Reproduces locally?**:

Sometimes, though interestingly this doesn't seem to be deterministic given a test seed - when it fails locally the exact numbers are different to those from the C

[2020-10-05 16:15] elasticmachine commented on #63256
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-10-05 16:25] droberts195 commented on #63256
Since this is happening frequently now I muted the test in 7.x (only) in a522e932e852f08bde0baa8feaeb47a674aa4964

The failing test doesn't exist in master for some reason.  @nik9000 I am guessing this problem is a side effect of 461475f9e9dfe5e49ff43af4c57123dafe024ccd.

[2020-10-05 16:55] costin opened #63262 "EQL: Remove wildcard pattern functionality from `:` operator"
Restrict `:` to perform only case insensitive equality for *strings*.

[2020-10-05 16:55] elasticmachine commented on #63262
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-05 16:57] costin opened #63263 "EQL: Remove `match` function"
Currently `match` function is used to perform regex-like string matching. As this functionality is under development, remove the current function from 7.10.

[2020-10-05 16:57] elasticmachine commented on #63263
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-05 17:02] droberts195 commented on #47275
Another failure in https://gradle-enterprise.elastic.co/s/yhozzcer6ucue that's identical to https://github.com/elastic/elasticsearch/issues/47275#issuecomment-694105710:

[code]

[2020-10-05 17:08] droberts195 commented on #52610
Another case in https://gradle-enterprise.elastic.co/s/uo3zx5kuf6yak

[code]

[2020-10-05 17:12] droberts195 opened #63268 "[CI] RegressionIT.testAliasFields failed"
**Build scan**:

https://gradle-enterprise.elastic.co/s/t6wp77zimqnni

**Repro line**:

[code]

**Reproduces locally?**:

No

**Applicable branches**:

7.x

**Failure history**:

Intermittently for a while:

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(_source),index:b646ed00-7efc-11e8-bf69-63c8ef516

[2020-10-05 17:12] elasticmachine commented on #63268
Pinging @elastic/ml-core (:ml)

[2020-10-05 17:42] dnhatn commented on #51136
I've opened https://github.com/elastic/elasticsearch/pull/63273.

[2020-10-05 17:48] #62897 closed

[2020-10-05 18:07] nik9000 commented on #63256
Sounds likely! I'll take a look.

[2020-10-05 19:23] pkgonan commented on #36012
@suikast42 Hi !
Do you have fully working code about that ?

I tried but it is not works.
Is there anything wrong with me?

[code]

[2020-10-05 19:50] #63262 closed

[2020-10-05 19:51] #63263 closed

[2020-10-05 19:51] #63256 closed

[2020-10-05 21:20] stav29 commented on #63171
@matriv in order to reproduce this you will - need to run DELETE /_search/scroll/_all  (instead of passing a specific scroll id or some scroll id's in an array). It wouldn't matter how many active scrolls you have (even without active scrolls) you will get the number of nodes in your cluster in the num_freed field in the response.

[2020-10-05 22:15] geekpete commented on #48878
SDKs as in support in language clients?

[2020-10-05 23:20] lockewritesdocs commented on #62759
Opened #63292 to close this issue.

[2020-10-06 00:58] rylnd commented on #62986
@costin I was able to test this on the latest snapshot. While the defaults look to be updated (I no longer have to specify `ignore_unavailable`), the aforementioned issue with wildcard indexes is still present:

[code]

This is undesirable for the kibana security app in particular, as the app's default indexes (and thus the defaults for these queries) all include wildcards. Rule creators can perfo

[2020-10-06 01:09] rylnd opened #63295 "EQL: Divergent `ignore_unavailable` behavior"
EQL queries appear to have differing behavior for the `ignore_unavailable` option as compared to a standard query.

While a user can perform a regular search across unavailable indexes:

[code]

This only appears to be an issue with wildcard indexes, since passing a concrete (unavailable) index works as expected:

[code]

__Update__: one more data point: `allow_no_indices` can be used to bypass th

[2020-10-06 01:09] elasticmachine commented on #63295
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-06 03:26] tbrooks8 opened #63299 "TranslogTests.testFatalIOExceptionsWhileWritingConcurrently fails"
Stacktrace:

java.lang.AssertionError: expected:<98> but was:<99>
	at __randomizedtesting.SeedInfo.seed([6FCCE4EB877E5B57:3804632485A8F914]:0)
	at org.junit.Assert.fail(Assert.java:88)
	at org.junit.Assert.failNotEquals(Assert.java:834)
	at org.junit.Assert.assertEquals(Assert.java:645)
	at org.junit.Assert.assertEquals(Assert.java:631)
	at org.elasticsearch.index.translog.TranslogTests.testFatalI

[2020-10-06 04:14] getsaurabh02 commented on #59116
Thank you @tbrooks8 for the reply.

For the specific test here, I have run it by introducing network delays (via ip-table rule) between Node-1 *(primary shard)* and Node-2 *(replica-shard)*. This is essentially to represent replica acting as a black hole. Other node level failure tests, with packet drop at Node-2 for all requests originating from Node-1, has shown very similar results.

Additional

[2020-10-06 06:48] fredeil commented on #48878
@geekpete @cbuescher yeah, the NEST C# client for example.

[2020-10-06 07:02] dweiss opened #63303 "A clean git checkout fails on integration tests in build-tools (master)"
A clean ES master checkout fails BWC integration tests. Here is the repro:
[code]

An example build scan is here:
https://scans.gradle.com/s/6smpe3tmmkeys

[2020-10-06 07:07] dweiss commented on #63303
The problem is somewhere in manual parsing of refs. I don't know the reason why it has to be custom code - this comment:

[code]

If you used a jgit dependency from within the build script (plugin) then it wouldn't have to be a forked process and jgit is fairly good at making sense of any git repository structure. Is this custom code really worth maintenance over a minor speed gain?

[2020-10-06 07:21] jimczi commented on #63213
This error means that the search was cancelled or deleted so the document doesn't exist anymore. Are you seeing any error in Kibana when this is logged in ES ? In any case, this logging is misleading since we shouldn't log anything (at least not at the error level) if the document is "just" missing. I'll leave the bug label to fix the logging level.

[2020-10-06 07:25] consulthys commented on #63213
Thanks for looking into this @jimczi !
I don't really see any error in Kibana.

[2020-10-06 07:26] astefan opened #63304 "Handling new APIs in a mixed versions cluster"
SQL/EQL is an internal user of Elasticsearch and a query request is translated in a `_search` request on the receiving node, then sent via transport to the other nodes in the cluster. Depending on the version of the node receiving the request, the way the query dsl will look like can differ. With the introduction of the "fields" API, the query dsl will stop using docvalue_fields and _source filter

[2020-10-06 07:26] elasticmachine commented on #63304
Pinging @elastic/es-search (:Search/Search)

[2020-10-06 08:02] przemekwitek opened #63306 "[ML] AucRoc gives misleading results when num_top_classes is set too low."
In the case of multiclass classification, the calculation of AucRoc should require that the class in question appears in all documents top classes arrays, so that we know its probability for every document.
Otherwise, the results are not correct or, in some cases, as pointed out by @wwang500, the evaluation request fails because it cannot find even one single document with the class in question li

[2020-10-06 08:02] elasticmachine commented on #63306
Pinging @elastic/ml-core (:ml)

[2020-10-06 08:11] matriv commented on #62923
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2020-10-06 08:11] #62923 closed

[2020-10-06 08:12] elasticmachine commented on #61547
Pinging @elastic/es-docs (>docs)

[2020-10-06 08:12] jimczi commented on #61547
We discussed offline with @albertzaharovits and decided to document the fact that PITs will handle security at the concrete index level. If an alias is used to create a PIT, it is replaced by the concrete indices that it targets at the time when the PIT is created. These concrete indices are the one that we expose when the PIT is used in a search request so security will always resolve from the co

[2020-10-06 08:14] matriv commented on #62844
Seems that this issue has been fixed in the past, but you are using a very old version of ES.
Please refer to: #32395 and the relevant PR.

Therefore, I'm closing this issue.

[2020-10-06 08:14] #62844 closed

[2020-10-06 08:22] elasticmachine commented on #62920
Pinging @elastic/es-core-infra (:Core/Infra/Settings)

[2020-10-06 08:25] matriv commented on #63171
@stav29 Thx for the clarification, the current behaviour is the intended one, but it's not documented (regarding the `_all`).
Feel free to work on the improvement you propose, which can be a bit trickier when there are failures on nodes involved.

[2020-10-06 09:05] cbuescher commented on #48878
@fredeil Thanks for the clarification. The "version" field type should be usable like any other specialized field type via the REST interface. If the client API has special methods for creating field in index mappings for every field type possible it might need updating. I only know the Java high level client well enough to answer this but there you provide a map of field definitions thats not str

[2020-10-06 09:19] #62621 closed

[2020-10-06 10:11] astefan opened #63312 "QL: Add support for unsigned_long field type"
Following https://github.com/elastic/elasticsearch/pull/60050 merge, we should consider adding support for it in both EQL and SQL.

[2020-10-06 10:12] elasticmachine commented on #63312
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-10-06 10:12] elasticmachine commented on #63312
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-10-06 10:26] JanBucko commented on #46641
Hello, is this issue still open ? i would like to take a look into it.

[2020-10-06 10:41] #53940 closed

[2020-10-06 10:43] swallez opened #63314 "[client] Decompressed gzip responses report inconsistent encoding values"
Found while working on PR https://github.com/elastic/elasticsearch/pull/63230#discussion_r500103593.

When a gzip-encoded response is received:
* `response.getEntity().getContentEncoding()` is `null` (thanks to `GZIPDecompressingEntity`)
* `response.getHeader("Content-Encoding")` is `gzip`

As the entity presented to the application is no more encoded, both values should be `null`. We should there

[2020-10-06 10:44] elasticmachine commented on #63314
Pinging @elastic/es-core-features (:Core/Features/Java Low Level REST Client)

[2020-10-06 10:54] #47609 closed

[2020-10-06 10:58] ywangd commented on #47609
@jen-huang A new `ids` field is added to the invalidate API key API (#63224). Could you please update your side to leverage this new field for bulk invalidation? For each API key invalidation call, there is now an internal call to clear it out from the cache as well. So it would be great if these operations can be batched, i.e. using the new `ids` field to bulk invalidation, which incurs only a si

[2020-10-06 11:19] nonmanager opened #63318 "`_score` always 0 in cardinality aggregation"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.4.1

**JVM version** (`java -version`): OpenJDK 64-Bit Server VM AdoptOpenJDK (build 13+33, mixed mode, sharing)

**Description of the problem including expected versus actual behavior**:

When `_score` is accessed in a [scripted cardinality aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-

[2020-10-06 11:33] abcqwertz commented on #51361
I encountered the same problem (CentOS 7, elasticsearch 7.9.2). I made some research and found this [elastic-disscusion](https://discuss.elastic.co/t/elasticsearch-wont-start-after-7-9-1-to-7-9-2-upgrade/249878).
I replaced:
[code]
with
[code]
in my jvm.options file. After that, elastic-service ist starting without problems. In Elastic 7.9.2 the bundled JDK was upgraded to version 15. You see this

[2020-10-06 11:52] benwtrent commented on #63306
I think having a special value of `-1` meaning "all classes" is probably a good idea. Otherwise the default value will have to be some "large value" (which I think would be anything 30+ as that is our current class size limit).

But if we ever increase the number of classes we allow, this default value would have to change. I think decoupling them is prudent.

[2020-10-06 12:18] costin commented on #63304
Related to this is Point-In-Time and its behavior/guarantees in mixed clusters.

[2020-10-06 12:32] elasticmachine commented on #63303
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-10-06 12:33] cbuescher commented on #63303
@dweiss sorry to hear you are having trouble.
I  just tried a clean checkout on 34aaa8d and that particular goal in `build-tools` was working.
My environment:
[code]

I think @elastic/es-core-infra is best equiped to answer your question.

[2020-10-06 12:40] cbuescher commented on #48941
@droberts195 just going through old issues than maybe can be closed. I see the test for this one is still muted at least on master, but also https://github.com/elastic/elasticsearch/pull/49023 seems to have changed something around docs tests? Do you think this is still an issue?

[2020-10-06 12:41] droberts195 commented on #63303
Same thing is happening in CI on Windows every day - see https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/os=windows-2012-r2

I opened #63232 for this yesterday.

[2020-10-06 12:44] #63246 closed

[2020-10-06 12:44] dweiss commented on #63303
I think this is git version specific, not operating system specific. I didn't look at ref parsing code deeply... why bother if you can use jgit for this - these folks have to provide support for various git flavors anyway.

[2020-10-06 12:46] droberts195 commented on #48941
Thanks for the ping @cbuescher.  As luck would have it I think we have recently found the cause of:

I believe it's #62823, which I am working on now.  I aim to do the Java/C++ changes early in 7.11.  I can unmute the test once they're merged.

[2020-10-06 14:00] romseygeek commented on #59427
This is now blocking the merge of https://github.com/elastic/elasticsearch/pull/63269.  I think we should probably just remove this assertion, as it is blocking necessary changes and isn't adding enough value for the amount of technical debt it causes.

[2020-10-06 14:01] #62873 closed

[2020-10-06 14:42] pgomulka commented on #61496
the problem is indeed with JDK 8.
JDK defaults start of the week to Sunday and expects 1 day in the first week of the year. That means that
We use SPI to load custom `IsoCalendarDataProvider` which allows use to override start of the week and minimum of years in first week of year.
It is easy with jdk9+ as we only need to put it on a classpath. To make it work with jdk8 we would have to place it i

[2020-10-06 14:49] cbuescher commented on #61496
I'm happy to do that for the test in question. I was concerned that this is a real issue for anybody running 7.x versions with JDK 8, but since this seems to be a rare format and combination and its going away with 8.0 anyway it might not be worth fixing. Would you think this is rather a documentation / known issue case then? I can open a follow up to document this better.

[2020-10-06 14:49] romseygeek commented on #62228
Fixed by #62357

[2020-10-06 14:49] #62228 closed

[2020-10-06 14:49] pgomulka commented on #61496
I will try to investigate if any fix is possible and will add a known issue if nothing helps

[2020-10-06 14:51] JanBucko commented on #29714
Hello, is anyone working on this issue actually ?

[2020-10-06 15:32] polyfractal commented on #42720
Hiya @mbudge.  The first iteration won't auto-add new fields arriving in the data, so it will require manually adjusting the "job" each time (although in v2 the "job" is just an ILM policy, so it'll be updating the policy so that new rollovers can handle the new fields).

But handling dynamic data is on our short-list of things to investigate after the first release, since it's a very common situa

[2020-10-06 16:07] imotov commented on #60000
Failed again on 7.x https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_RUNTIME_JAVA=zulu11,nodes=general-purpose/266/console

[2020-10-06 16:28] imotov opened #63342 "[CI] XContentTypeTests.testVersionParsing fails reproducibly"
**Build scan**: https://gradle-enterprise.elastic.co/s/inv7e3oinjjwu

**Repro line**:
[code]

**Reproduces locally?**: Yes

**Applicable branches**: master

**Failure history**:
- https://gradle-enterprise.elastic.co/s/pqykstmcmgqj6

**Failure excerpt**:

[code]

Might be related to #61427

[2020-10-06 16:28] elasticmachine commented on #63342
Pinging @elastic/es-core-infra (:Core/Infra/REST API)

[2020-10-06 16:48] rjernst commented on #63303
@mark-vieira Can you comment on not using jgit? I remember you moved us away from that for the performance gains, but it seems we either need that, or need better handling of the many ways git repositories can look?

[2020-10-06 16:59] mark-vieira commented on #63303
The reason for not using `jgit` was that it doesn't support worktrees.

[2020-10-06 16:59] obogobo commented on #33844
I think an option to disable `transport.compress` for peer recovery ONLY would be very useful, especially now that ILM uses peer recovery to handle rollover.

Some metrics, we index about 500K docs per second 24/7 and rely on `transport.compress` in order to not go bankrupt on EC2 network transfer cost during online replication. This saves us nearly 2/3rd on transfer!! But during rollover, `transp

[2020-10-06 17:43] mark-vieira commented on #63303
This seems to be specific to the git repo we are initializing for the purposes of our functional tests. This same logic works for the "outer" build so something different is going on in the test setup. @breskeby do you mind investigating this? We might have to add some additional logging to capture what's going on and why the `refs/` directory doesn't contain what we expect it to.

[2020-10-06 18:49] elasticmachine commented on #63318
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-10-06 18:49] imotov opened #63350 "[CI] DataTiersMigrationsTests.testIndexDataTierMigration fails periodically"
**Build scan**:
- [7.9.3] https://gradle-enterprise.elastic.co/s/e6moxgn6emvvc
- [7.10.0] https://gradle-enterprise.elastic.co/s/ctax63vbhxdxc
- https://gradle-enterprise.elastic.co/s/zza4pg6ncbpcq

**Repro line**:
[code]
**Reproduces locally?**: No

**Applicable branches**: master

**Failure history**:
- [7.9.3] https://gradle-enterprise.elastic.co/s/hkntbxhn4uzrq
- [7.10.0] https://gradle-enterp

[2020-10-06 18:49] elasticmachine commented on #63350
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-10-06 18:50] elasticmachine commented on #62908
Pinging @elastic/es-core-features (:Core/Features/Stats)

[2020-10-06 18:53] imotov commented on #63232
Failed again in https://gradle-enterprise.elastic.co/s/a6kbfo3rlcqde

[2020-10-06 18:54] dweiss commented on #63303
bq. This seems to be specific to the git repo we are initializing for the purposes of our functional tests.

Precisely because the same code works at the top-level.

[2020-10-06 18:57] williamrandolph commented on #60222
I am preparing a pull request that will log a warning for this case. When the core-infra team discussed this issue, we wanted to start with a deprecation warning.

One thing to note is that `es.xcontent.strict_duplicate_detection` and `es.json.strict_duplicate_detection` were never documented Elasticsearch settings which could be retrieved from the settings endpoint. They were Java arguments that

[2020-10-06 19:06] gwbrown opened #63352 "InternalSnapshotsInfoServiceTests.testSnapshotShardSizes failures"
**Build scan**: https://gradle-enterprise.elastic.co/s/7jv4a3qbt765e/tests/:server:test/org.elasticsearch.snapshots.InternalSnapshotsInfoServiceTests/testSnapshotShardSizes#1

**Repro line**: `./gradlew ':server:test' --tests "org.elasticsearch.snapshots.InternalSnapshotsInfoServiceTests.testSnapshotShardSizes" -Dtests.seed=BC4157C7A9E33DC7 -Dtests.security.manager=true -Dtests.locale=hr-HR -Dtest

[2020-10-06 19:18] palesz opened #63353 "Fix: Update the JdkDownloadPlugin to stop trying to download the JDK from an outdated URL"
The URL the [JdkDownloadPlugin](https://github.com/elastic/elasticsearch/blob/master/buildSrc/src/main/java/org/elasticsearch/gradle/JdkDownloadPlugin.java#L116) class is looking for OpenJDK version 15 is dead:
https://download.oracle.com/java/GA/jdk15/779bf45e88a44cbd9ea6621d33e33db1/36/GPL/openjdk-15_mac-x64_bin.tar.gz

The actual live URLs where JDKs can be found:

- Current Oracle JDK: `https:

[2020-10-06 19:18] elasticmachine commented on #63353
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-10-06 19:26] jakelandis commented on #62908
`GET _cluster/stats/nodes` is intended be used as filtering function for how the values returned are calculated. `GET _cluster/stats/nodes/*` is equal to `GET _cluster/stats` since it uses all of the nodes to calculate the return values. If for example, you wanted only include specific nodes in the calculation you can use the nodes/<nodeId1,nodeId2> to only use those nodes to calculate the results

[2020-10-06 19:26] #62908 closed

[2020-10-06 19:51] jakelandis commented on #62810
The `ComposableIndexTemplate(StreamInput in)` constructor is intended to be used internally with Elasticsearch's custom wire searlization/deserialization which is not interchangeable with the JSON representation (which I assume is contents of that file) and thus can't stream the contents of the file in to inflate that object. This is admittedly a bit confusing since we are re-using server side obj

[2020-10-06 19:51] #62810 closed

[2020-10-06 19:52] elasticmachine commented on #62810
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-10-06 19:52] elasticmachine commented on #62810
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-10-06 19:55] elasticmachine commented on #62709
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-10-06 19:55] elasticmachine commented on #62677
Pinging @elastic/es-search (:Search/Suggesters)

[2020-10-06 20:07] gwbrown opened #63358 "BWC failures due to system index access deprecation wranings on old cluster"
**Build scan**: https://gradle-enterprise.elastic.co/s/4dinnv2nw6t6w

Related to https://github.com/elastic/elasticsearch/pull/60945 - when that PR was backported to 7.x, it started causing deprecation warnings to be emitted during the "old cluster" phase of upgrade tests in `master`, which are not yet handled by those tests.

[2020-10-06 20:07] elasticmachine commented on #63358
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-10-06 20:08] imotov opened #63359 "[CI] S3BlobContainerRetriesTests testReadRangeBlobWithRetries fails periodically"
**Build scan**:
- [6.8.13] https://gradle-enterprise.elastic.co/s/wb3ywmkgn3bza
- https://gradle-enterprise.elastic.co/s/q5kkokdd74k22

**Repro line**:
[code]
**Reproduces locally?**:
No

**Applicable branches**:
7.9, 7.x

**Failure history**:
It doesn't fail that often, here is another recent failure on 7.x branch. Since it looks like it is caused by S3 timeout, maybe we should ignore such failur

[2020-10-06 20:08] elasticmachine commented on #63359
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-06 20:16] imotov opened #63361 "[CI] XPackRestIT.test {p0=ml/data_frame_analytics_crud/Test get given multiple analytics} failed"
**Build scan**: https://gradle-enterprise.elastic.co/s/nsjgiug7abh6e

**Repro line**:
[code]

**Reproduces locally?**: No

**Applicable branches**: 7.9

**Failure history**: I couldn't find any other recent failures

**Failure excerpt**:
[code]

[2020-10-06 20:16] elasticmachine commented on #63361
Pinging @elastic/ml-core (:ml)

[2020-10-06 20:35] dakrone commented on #59174
I looked into this, and I was not able to reproduce this either on master or 7.x. I also tried hardcoding times to `Long.MAX_VALUE - 1` to see if perhaps there was an adding issue where we were overflowing due to `randomNonNegativeLong()`, but alas, no luck.

With that in mind, I'm going to close this for now and if it reoccurs we can investigate some more.

[2020-10-06 20:54] imotov opened #63365 "[CI] TransformIT testStopWaitForCheckpoint fails"
**Build scan**: https://gradle-enterprise.elastic.co/s/nd6tm5enco4em

**Repro line**:
[code]

**Reproduces locally?**: No

**Applicable branches**: master

**Failure history**:
Failed 7 times in the last week, several times today, recent failures:
- https://gradle-enterprise.elastic.co/s/xplry5a453vr2
- https://gradle-enterprise.elastic.co/s/6ytq7e42nb2pm
- https://gradle-enterprise.elastic.co/s/3

[2020-10-06 20:54] elasticmachine commented on #63365
Pinging @elastic/ml-core (:ml/Transform)

[2020-10-06 21:19] #62044 closed

[2020-10-06 21:37] rjernst commented on #63353
This will be fixed by https://github.com/elastic/elasticsearch/pull/63309

[2020-10-06 21:39] #63358 closed

[2020-10-06 21:56] imotov opened #63366 "[CI] FullClusterRestartIT.testSearch and CoreFullClusterRestartIT.testSearch fail"
**Build scan**: https://gradle-enterprise.elastic.co/s/6gb4olqyopyea

**Repro line**:
[code]

**Reproduces locally?**:

**Applicable branches**: 7.x

**Failure history**:

It fails approximately once a day in bursts for each 6.x.y version. It looks like it was introduced in 7405af8060bd32bf2ae7917a13c441e4214339b8 (I can only reproduce it starting with this commit)

**Failure excerpt**:
[code]

[2020-10-06 21:56] elasticmachine commented on #63366
Pinging @elastic/es-search (:Search/Mapping)

[2020-10-06 22:01] dakrone commented on #63366
I believe this was just fixed by @gwbrown in #63363

[2020-10-06 22:01] #63353 closed

[2020-10-06 23:18] jtibshirani opened #63369 "Rethink how to disable document fields."
Object fields have an [`enabled`](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/enabled.html) parameter that can be set to `false` to prevent their subfields from being mapped. This allows the fields to skip being parsed and indexed.

The parameter has some downsides:
* We suggest using the `enabled` parameter not only for objects, but also to avoid mapping leaf fields. This is prett

[2020-10-06 23:18] elasticmachine commented on #63369
Pinging @elastic/es-search (:Search/Mapping)

[2020-10-06 23:18] jtibshirani commented on #63369
An idea to start the discussion: we could introduce a new leaf type `undefined` that replaces object fields with `enabled: false`. It would accept any type of data, both leaf and object values. When merging index templates, we would allow `undefined` to be changed to any other type. (This doesn’t cover disabling the root mapper, perhaps we would still need a way to do this?)

[2020-10-06 23:47] rjernst commented on #63131
It looks like this started failing right after https://github.com/elastic/elasticsearch/pull/61655 was merged. @jaymode Can you take a look? My hunch is this randomly fails when the new SYSTEM_WRITE thread pool gets randomly selected in this test.

[2020-10-07 01:05] #63128 closed

[2020-10-07 01:10] rjernst commented on #62709
This has been fixed by switch the bundled JDK back to Oracle JDK. The warning has been removed for 7.10.0 and 7.9.3.

[2020-10-07 01:10] #62709 closed

[2020-10-07 01:25] #63133 closed

[2020-10-07 01:35] tbrooks8 commented on #61843
Closing. As mentioned in previous comment work to improve Translog#add performance is already happening. #63226 should land in 7.10. Additional work/benchmarking is in the pipeline.

[2020-10-07 01:35] #61843 closed

[2020-10-07 01:50] #61244 closed

[2020-10-07 02:01] gwbrown opened #63376 "Test failure in CI due to tripping an assertion in DiskThresholdDecider"
**Build scan**: https://gradle-enterprise.elastic.co/s/pvza4lbmqvddk

**Repro line**: `./gradlew ':x-pack:plugin:ccr:internalClusterTest' --tests "org.elasticsearch.xpack.ccr.AutoFollowIT.testAutoFollow" -Dtests.seed=D31F9C6068CCF791 -Dtests.security.manager=true -Dtests.locale=es-BO -Dtests.timezone=Pacific/Bougainville **-Druntime.java=8`

**Reproduces locally?**: No

**Applicable branches**: `7

[2020-10-07 02:01] elasticmachine commented on #63376
Pinging @elastic/es-distributed (:Distributed/Allocation)

[2020-10-07 04:23] anshul291995 opened #63378 "Adding co-ordinator related stats to Node Stats API"
Stats API endpoints don't have any statistics about the metrics ( latency/ success rate / queue length) seen by the coordinator node. While search/indexing latencies on data node are greatly helpful, a view from co-ordinator node is required. This will help us look at statistics from the point elastic search cluster has received the rest request, such as:

1. Time spend in each individual phases
2

[2020-10-07 04:41] stu-elastic commented on #61244
Added in 7.10

[2020-10-07 05:41] tvernum opened #63379 "[CI] Suite Timeout in ML DeleteExpiredDataIT"
**Build scan**:
- https://gradle-enterprise.elastic.co/s/w4q6k52ivcyim
- https://gradle-enterprise.elastic.co/s/c2eo2ktge4j4q

**Repro line**:
./gradlew ':x-pack:plugin:ml:qa:native-multi-node-tests:javaRestTest' --tests "org.elasticsearch.xpack.ml.integration.DeleteExpiredDataIT"

**Reproduces locally?**:
Yes

**Applicable branches**:
master
7.x

**Failure history**:
- [Build Stats](https://build

[2020-10-07 05:41] elasticmachine commented on #63379
Pinging @elastic/ml-core (:ml)

[2020-10-07 05:43] tvernum commented on #63379
I'm going to mute `testDeleteExpiredDataNoThrottle` on master and 7.x

`testDeleteExpiredDataWithStandardThrottle` seems to be OK (despite being the test that was recently unmuted in #63134)

[2020-10-07 06:20] hendrikmuhs commented on #63365
This looks like https://github.com/elastic/elasticsearch/issues/62204. The test uses a workaround for, but for some reason the workaround does not get executed. Unfortunately the traces miss important information.

I will add extra logging.

[2020-10-07 08:12] FlorianKalinna opened #63386 "Using empty string in range query 'gt' returns no documents"
I have created a new Index and then added two documents to it.

`PUT test_index`
`PUT /test_index/_doc/1 { "A" : "5" }`
`PUT /test_index/_doc/2 { "B" : "5" }`

After that I searched for every document with A greater than emty in that index,

`GET test_index/_search { "query": { "range": { "A": { "gt": "" } } }, "size": 2000 }`

and received no document.

`{ "took" : 0, "timed_out" : false, "_shard

[2020-10-07 08:24] #61357 closed

[2020-10-07 08:32] droberts195 commented on #63379
This failed once last week with the dreaded "All shards failed".  But that is very intermittent and didn't cause a timeout.

The first timeout occurred in the [1st PR build](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-2/9901/) of #63349.  In fact it took 5 attempts ([2nd failure](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-2/9910/), [3r

[2020-10-07 08:48] davidkyle commented on #61908
The `.ml-notifications-000001` failure is fixed by #63063 and I've unmuted the test in #63388 (7.x only, master is not affected)

[2020-10-07 09:20] tlrx commented on #29880
@jakelandis Looks like this test is still muted for some time now, should we just remove the test?

[2020-10-07 09:24] droberts195 commented on #63379
The code that's locking up in the test client is this:

[code]

So it's continuing a scroll that's different to before.  Since these are external cluster tests I need to look separately at what's happening server side when this happens.  There are no error messages in the server-side logs.

[2020-10-07 09:34] ypid-geberit commented on #37585
#63278 has been merged which is based on #60925, thanks! That is a great step forward 👍

It does not yet ensure deterministic serialization so I would like to keep this issue open.

Cc: @stu-elastic

[2020-10-07 09:58] chethan-uc commented on #11322
+1

[2020-10-07 10:39] elasticmachine commented on #63386
Pinging @elastic/es-search (:Search/Search)

[2020-10-07 10:47] cbuescher commented on #63386
This is indeed odd and to me seems a bit counterintuitive. At least for the lower bound of a text or keyword field I would assume ever value being larger than the empty string. The problem with this edge case is that the empty string should be considered an open lower bound that matches everything. This works as expected for "inclusice" lower bound (i.e. "gte") but not for "exclusive" (i.e. "gt")

[2020-10-07 11:14] mayya-sharipova commented on #63379
@droberts195  Sorry for the trouble. We have fixed a bug in Lucene, and currently building a new Lucene snapshot for ugprade.

[2020-10-07 11:15] droberts195 commented on #63379
I watched this going wrong on my laptop and my best guess would be that the scroll goes into an infinite loop, thinking it's never finished.

During the 20 minute timeout 2 JVMs burn a lot of CPU:

[code]

In that example PID 4576 is one of the 3 external cluster nodes and PID 4700 is the test client.  So there's actually a lot of back-and-forth of communications between client and server even tho

[2020-10-07 11:22] tlrx commented on #47275
Another failure today on master: https://gradle-enterprise.elastic.co/s/uoe6vaq33g3ng

[2020-10-07 11:34] colings86 commented on #13568
This was discussed in a FixIt meeting where there were comments that limiting the metaspace can be problematic as the effect to getting it wrong is that the JVM dies. The amount of metaspace we need is a moving target as we add classes, plugins get installed, Painless scripts, etc. which makes it hard to ensure we pick the right value. Additionally there is the elastic metaspace [JEP](https://open

[2020-10-07 11:54] tlrx commented on #63376
Fixed by #63394

[2020-10-07 11:54] #63376 closed

[2020-10-07 12:11] mayya-sharipova commented on #63379
I have created a [PR](https://github.com/elastic/elasticsearch/pull/63395) for the  upgrade to the new Lucene snapshot.  Once it is merged, we can run these tests again and see if we can run into the same issue with timeouts.

[2020-10-07 12:40] dimitris-athanasiou opened #63400 "[ML] Reassigned datafeeds should skip time to past latest results"
I will try to explain the issue here with the following scenario.

![image](https://user-images.githubusercontent.com/9351617/95331372-9449d680-08b2-11eb-8d35-44d45a4d7e1d.png)

A datafeed has been running on a node. The last model snapshot was stored a couple of buckets ago. Since then some more buckets have been finalized. We have seen a record some time in the current bucket.

Then the node dis

[2020-10-07 12:40] elasticmachine commented on #63400
Pinging @elastic/ml-core (:ml)

[2020-10-07 12:57] droberts195 commented on #63400
One more thing to note is that the impact of this bug is _much_ worse for count and sum detectors than for min/max/mean detectors.  The reason is that count and sum detectors will likely raise anomalies for buckets with no data (depending on whether 0 is atypical), whereas min/max/mean detectors will not raise anomalies when no data is seen.

[2020-10-07 13:08] elasticmachine commented on #63299
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-10-07 13:49] stu-elastic commented on #37585
Agreed this issue should be kept open, there is need for deterministic serialization.

[2020-10-07 14:18] DaveCTurner commented on #62973
I have opened an issue with the infra team to set up the test jobs we would need to satisfy this.

[2020-10-07 14:50] #60108 closed

[2020-10-07 17:39] RiverHendriksen commented on #57305
Is there an update on the progress of the documentation for this issue? The feature would be useful to a project I'm involved with, but I am not familiar enough with the elasticsearch source code to determine how to use #52886

[2020-10-07 19:11] #63199 closed

[2020-10-07 19:14] costin commented on #62949
Both issues have been addressed - closing the ticket.

[2020-10-07 19:14] #62949 closed

[2020-10-07 19:15] costin commented on #62942
Fixed through https://github.com/elastic/elasticsearch/pull/63218

[2020-10-07 19:15] #62942 closed

[2020-10-07 19:16] costin commented on #62652
All issues have been addressed.

[2020-10-07 19:16] #62652 closed

[2020-10-07 19:17] costin commented on #62645
Closed by #62539

[2020-10-07 19:17] #62645 closed

[2020-10-07 19:17] costin commented on #62255
Closed by #63218

[2020-10-07 19:17] #62255 closed

[2020-10-07 19:18] costin commented on #59754
Superseded by #62255

[2020-10-07 19:18] #59754 closed

[2020-10-07 19:19] costin commented on #57052
This is available through `org.elasticsearch.xpack.eql.execution` package by enabling the trace level.

[2020-10-07 19:19] #57052 closed

[2020-10-07 19:20] costin commented on #56749
Superseded by #62255

[2020-10-07 19:20] #56749 closed

[2020-10-07 19:41] #62759 closed

[2020-10-07 19:43] LahiruSen commented on #54964
Hi @matriv , I would like to work on this issue.

[2020-10-07 19:47] jkakavas commented on #61924
This failed only on september 3 and 4 , because of https://github.com/elastic/elasticsearch/pull/61859 which was later reverted. As such, I'm closing the issue

[2020-10-07 19:47] #61924 closed

[2020-10-07 19:48] jkakavas commented on #61316
This was resolved by #61857

[2020-10-07 19:51] jkakavas commented on #51753
Failures like this were resolved by #51832

[2020-10-07 19:51] #51753 closed

[2020-10-07 19:52] jkakavas commented on #51268
Issues in 7.x with fips mode have been resolved, closing this

[2020-10-07 19:52] #51268 closed

[2020-10-07 20:15] imotov commented on #63366
That was fixed in #63391 but github didn't autoclose it because it was merged only into 7.x. Closing.

[2020-10-07 20:15] #63366 closed

[2020-10-07 20:56] rjernst commented on #62920
@howardhuanghua I'm not sure if it will work, but have you tried deleting the archived settings in the same request as clearing the cluster block?

[2020-10-07 22:34] jtibshirani opened #63446 "Text fields should not expose internal field types"
When `text` fields has `index_prefixes` or `index_phrases` enabled, they create subfields of the form `field._index_prefixes`. These fields are only meant for internal optimizations and shouldn't be searched on directly.

However the text mapper exposes these hidden fields as if they were configured as multi-fields. This means that field caps includes the hidden fields, as when requesting all fiel

[2020-10-07 22:34] elasticmachine commented on #63446
Pinging @elastic/es-search (:Search/Search)

[2020-10-07 23:32] gwbrown opened #63448 "Should Snapshots include hidden indices by default?"
In https://github.com/elastic/elasticsearch/pull/57325, Snapshot index resolution was changed to include hidden indices by default. At the time, there was [a plan](https://github.com/elastic/elasticsearch/issues/57208#issuecomment-636149039) to emit a deprecation warning when wildcards in Snapshot requests resolved to hidden indices in such a way that they would not be included by the default wild

[2020-10-07 23:32] elasticmachine commented on #63448
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-07 23:33] gwbrown commented on #57208
I've opened https://github.com/elastic/elasticsearch/issues/63448 to cover the deprecation warnings and defaults changes in 8.0 (if necessary). As the original behavior described in this issue has long since been addressed, I'm going to close this issue.

[2020-10-07 23:33] #57208 closed

[2020-10-08 04:13] tvernum commented on #63203
@ycombinator Can you confirm what we need to support here?

From previous conversation, it seems to be:
- `GET /_alias/metricbeat-*`
- `HEAD /metricbeat-*`

Is that all?
We can manage the PR once we're confident about what needs to be fixed.

[2020-10-08 04:18] tvernum opened #63451 "Fix error reporting for SSL resources outside of config dir"
In #55330 we change the sequence of events on startup so that the SSL resource watcher code runs before the SSL contexts are loaded.

As a consequence some of the friendly error messages that were added in #45122 are no longer used (because the reloader fails before it gets to the key/trust config objects)

[2020-10-08 04:18] elasticmachine commented on #63451
Pinging @elastic/es-security (:Security/Network)

[2020-10-08 05:51] tbrooks8 commented on #61878
Closing as we have taken a different approach in #63226.

[2020-10-08 05:51] #61878 closed

[2020-10-08 06:25] przemekwitek commented on #63306
I think so too. I've implemented this idea on C++ side in https://github.com/elastic/ml-cpp/pull/1526

[2020-10-08 07:24] breskeby commented on #63232
Fixed: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-windows-compatibility/278/

[2020-10-08 07:24] #63232 closed

[2020-10-08 07:26] breskeby commented on #63303
I pushed a fix for #63232 which should also fix this issue here. @dweiss can you confirm this is fixed on the latest master?

[2020-10-08 08:00] #63359 closed

[2020-10-08 08:07] romseygeek commented on #63446
The index-time analyzer for a MapperService needs to know about all index-time fields, and it currently learns about them via the `iterator()` method on Mapper, which is the same way that the MappingLookup learns about field types.  I've wanted to change this for a while - if we can instead register analyzers and field types separately, then we don't need to have full-blown Mapper implementations

[2020-10-08 08:08] mjose007 commented on #9572
+1 for the Support dynamic interval and fixed buckets for histogram aggregation

[2020-10-08 08:10] cbuescher commented on #60000
Another one on master today: https://gradle-enterprise.elastic.co/s/pehluzunpg6zi

[2020-10-08 08:13] cbuescher commented on #63131
Another one today on 7.10: https://gradle-enterprise.elastic.co/s/xklyf67werd5c

[2020-10-08 08:40] tomsozolins commented on #63213
I have the same problem since 7.9.1 its really annoying to see error every time i click search in kibana. I see error message in kibana frontend and in elasticsearch logs.
Now running 7.9.2 and the error is still happening.

Elastic logs:
`failed to update expiration time for async-search [FmN6QVNOSENCUmVPNmV4bnRQYTRUUkEfdWVDUXJwbktSU09TQV80ZWZxUEhVQTo4NjUyNTEwMA==]`

[2020-10-08 08:54] cbuescher opened #63457 "[CI] Failures in FullClusterRestartIT.testSystemIndexMetadataIsUpgraded"
**Build scan**:
https://gradle-enterprise.elastic.co/s/dwlvjbmo23uyi

**Repro line**:
./gradlew ':qa:full-cluster-restart:v6.1.1#oldClusterTest' --tests "org.elasticsearch.upgrades.FullClusterRestartIT.testSystemIndexMetadataIsUpgraded" \
  -Dtests.seed=6AB0BF4E78C3CA4A \
  -Dtests.security.manager=true \
  -Dtests.locale=hr \
  -Dtests.timezone=Europe/Dublin \
  -Druntime.java=8

**Reproduces loc

[2020-10-08 08:54] elasticmachine commented on #63457
Pinging @elastic/es-core-features (:Core/Features/Features)

[2020-10-08 09:07] cbuescher commented on #63457
Also fails on 7.x:  https://gradle-enterprise.elastic.co/s/uoawdq52pv7ta

[2020-10-08 09:13] dweiss commented on #63303
Still failing with the same error [ed4d1e3d3e45091]. Build scan:
https://gradle.com/s/drogbhf6kmcak

[2020-10-08 09:16] dweiss commented on #63303
But I think it fails for a different reason - the test fails with:
[code]

I think it should complain about it at the master build level, not from within the test. I exported this env variable and then it passes.

[2020-10-08 09:17] dweiss commented on #63303
with JAVA14_HOME set:
https://gradle.com/s/ivggjxqkovgxg

[2020-10-08 09:17] #62781 closed

[2020-10-08 09:25] P1llus opened #63458 "[Ingest Pipeline] Date processor ignores timezone offset XXX"
Currently tested in Dev Console on 7.9.2 running on ESS.

**Steps to reproduce**:

It seems that timezone formats that work in pure Java is being ignored when using the date processor in ingest pipelines. Example:

[code]

This will output:

[code]

As you can see even though the offset is -04:00, and date processors defaults to UTC; it does not calculate any offset?

The same behavior is seen wit

[2020-10-08 09:28] cbuescher opened #63459 "[CI] Failures in JavaJodaTimeDuellingTests.testSamePrinterOutput"
**Build scan**:
https://gradle-enterprise.elastic.co/s/z7uccjvjhfies

**Repro line**:
./gradlew ':server:test' --tests "org.elasticsearch.common.joda.JavaJodaTimeDuellingTests.testSamePrinterOutput" \
  -Dtests.seed=7D44BFE43DEA01C1 \
  -Dtests.security.manager=true \
  -Dtests.locale=sv \
  -Dtests.timezone=Europe/Ljubljana \
  -Druntime.java=11

**Reproduces locally?**:
yes

**Applicable branche

[2020-10-08 09:29] elasticmachine commented on #63459
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-10-08 09:47] #63342 closed

[2020-10-08 09:49] cbuescher commented on #63459
`JavaJodaTimeDuellingTests.testDuellingFormatsValidParsing` also seems to exhibit similar problems:

[code]
Build: https://gradle-enterprise.elastic.co/s/mubgz5njectmq

[2020-10-08 09:52] cbuescher commented on #63459
Muted on 7.x and 7.10 with be001182ab6ecd0efa8b16209b4f6f9aa3a3e5a0  and 564823b00f8e5a.

[2020-10-08 09:53] cbuescher commented on #63459
@pgomulka probably something up your alley?

[2020-10-08 09:57] cbuescher commented on #63457
This fails quite often so I'm muting on 7.10 and 7.x

[2020-10-08 10:03] cbuescher commented on #63457
Muted on 7.x and 7.10 with cb0b01ed48f83cf6bd6e8ea40e638de8bc09356b and 1f7b107ed132b6ccad351b95dab93adf1c3818ad

[2020-10-08 11:00] cbuescher opened #63467 "[CI] RoundingTests.testRandomTimeIntervalRounding fails"
**Build scan**: https://gradle-enterprise.elastic.co/s/2gc6ssqmwu6r2

**Repro line**:
./gradlew ':server:test' --tests "org.elasticsearch.common.RoundingTests.testRandomTimeIntervalRounding" \
  -Dtests.seed=2FA254ED28F9337D \
  -Dtests.security.manager=true \
  -Dtests.locale=ar-JO \
  -Dtests.timezone=Asia/Ust-Nera \
  -Druntime.java=11

**Reproduces locally?**:
yes

**Applicable branches**:
mas

[2020-10-08 11:00] elasticmachine commented on #63467
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-10-08 11:01] cbuescher commented on #63467
@nik9000 could you take a look, I remember you were active in that area recently

[2020-10-08 11:44] breskeby commented on #63303
@dweiss that seems unrelated to this particular issue. I'm closing this ticket

[2020-10-08 11:44] cbuescher commented on #63467
Also on 7.x e.g. https://gradle-enterprise.elastic.co/s/hqtkum6n25op4

[2020-10-08 11:46] dweiss commented on #63303
Maybe the cause is unrelated but the net effect for somebody who checks out elasticsearch and runs tests is the same... Running with JDK14 it will end with a cryptic test failure.

[2020-10-08 11:47] breskeby commented on #63303
sorry I misunderstood your message. yeah fixing this here makes sense

[2020-10-08 11:47] dweiss commented on #63303
I think so too.

[2020-10-08 11:59] cbuescher commented on #52416
This looks also related but is in ' 110_field_collapsing/no hits and inner_hits': https://gradle-enterprise.elastic.co/s/yv4kj4xx7bqj2
7.9 branch and 'v6.8.13#mixedClusterTest'

[2020-10-08 12:00] elasticmachine commented on #63458
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-10-08 12:15] jpountz opened #63469 "Upgrade to Lucene 8.7"
Elasticsearch 7.10 will depend on Lucene 8.7, which should be released in the near future.

[2020-10-08 12:15] elasticmachine commented on #63469
Pinging @elastic/es-distributed (:Distributed/Engine)

[2020-10-08 12:36] breskeby commented on #63303
I changed the mocked git repo to build to rely on JDK12_HOME which is documented to be required by the elasticsearch build in our `contributing.md` file. Can you double check @dweiss

[2020-10-08 12:45] cbuescher opened #63473 "[CI] CloneSnapshotIT.testMasterFailoverDuringCloneStep1 failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/a6lovmsnlvypu

**Repro line**:
./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.snapshots.CloneSnapshotIT.testMasterFailoverDuringCloneStep1" \
  -Dtests.seed=79DAA05140C620AC \
  -Dtests.security.manager=true \
  -Dtests.locale=sq \
  -Dtests.timezone=Africa/Lagos \
  -Druntime.java=11

**Reproduces locally?**:
no

**Applica

[2020-10-08 12:45] elasticmachine commented on #63473
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-08 12:50] cbuescher commented on #62769
Recent failure on 7.10: https://gradle-enterprise.elastic.co/s/2jvlobukahkb2

[2020-10-08 12:54] cbuescher opened #63476 "[CI] DedicatedClusterSnapshotRestoreIT.testRestoreIndexWithShardsMissingInLocalGateway failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/jeyrxd3tacn7c

**Repro line**:
./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.snapshots.DedicatedClusterSnapshotRestoreIT.testRestoreIndexWithShardsMissingInLocalGateway" \
  -Dtests.seed=65E525FA968063DA \
  -Dtests.security.manager=true \
  -Dtests.locale=hr \
  -Dtests.timezone=Etc/GMT-2 \
  -Druntime.java=8

**Reproduce

[2020-10-08 12:54] elasticmachine commented on #63476
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-08 13:03] dweiss commented on #63303
Documented is one thing but could the build *fail* if you don't have any of the env. variables set? This is the key I think.

[2020-10-08 13:03] dweiss commented on #63303
I mean fail with a reasonable message like "JDK12_HOME is not set, see contributing.md"... :)

[2020-10-08 13:09] breskeby opened #63480 "Build should fail early with meaningful error message when build prerequisites are not met"
As a follow up of https://github.com/elastic/elasticsearch/issues/63303#issuecomment-705385468 we should probably think about failing the elasticsearch build early if build requirements are not met.

We might be able to make that more clever by checking early which certain prerequisites we require depending on the invoked gradle tasks.

This includes the setup of the expected JAVA<X>_HOME env vari

[2020-10-08 13:09] elasticmachine commented on #63480
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-10-08 13:10] cbuescher commented on #62326
Reopening since we face similar issues again on master and 7.x:
https://gradle-enterprise.elastic.co/s/dvlwxfzwu4yzc
https://gradle-enterprise.elastic.co/s/hcrfpa4y2h2io

Will mute on master, 7.x and 7.10

[2020-10-08 13:11] breskeby commented on #63303
I've created https://github.com/elastic/elasticsearch/issues/63480 as a follow up. I agree that ideally the build would fail as early as possible when certain prerequisites are not met. But For now I think we can close this issue as when you follow contributing.md in your es setup the build-tools should not fail anymore.

[2020-10-08 13:11] dweiss commented on #63303
Thanks Rene. I don't intend to be a pain but if it happened to me then it's likely to happen to more people... Better improve it once.

[2020-10-08 13:11] dweiss commented on #63303
Correct, works. Thanks!

[2020-10-08 13:17] cbuescher commented on #62326
Muted with a615845fea1156d2ecb29631f67b095370e61b9c, 0db9dd10f631669ea706fc373d1b6566eb3c481c and 517d3e4336fe44c713aed4ee9168cb66c2df5f52

[2020-10-08 13:22] cbuescher commented on #63299
Just fyi one today on 7.10: https://gradle-enterprise.elastic.co/s/n4fjwfehfndjm

[2020-10-08 13:26] nik9000 opened #63482 "Profile can match"
I was investigating a performance issue and the profile said everything was quite fast. But the request was quite slow! We've talked about using #61947 as a work around for the profiler not covering everything, but I expect it wouldn't pick up can_match because `can_match` isn't cpu intensive, it's a ton of network stuff.

[2020-10-08 13:26] elasticmachine commented on #63482
Pinging @elastic/es-search (:Search/Search)

[2020-10-08 13:35] pgomulka commented on #63459
closed by #63462 and #63463

[2020-10-08 13:35] #63459 closed

[2020-10-08 13:58] elasticmachine commented on #63378
Pinging @elastic/es-core-features (:Core/Features/Stats)

[2020-10-08 14:00] elasticmachine commented on #61333
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-10-08 14:02] jimczi commented on #63213
Can you share the error that you see in Kibana and the stack trace that is logged in ES ? Does it happen on every search ? It could be a bug in Kibana too so we'll need to understand how this error is triggered.

[2020-10-08 14:07] #63352 closed

[2020-10-08 14:08] antonisnyc94 opened #63489 "Ingest pipeline parses the wrong week of the year"
Hello,

I am trying to parse weekly indices by utilizing the ingest pipelines in elasticsearch but I keep getting a week before the actual week of the year. Would you know what the issue is?

{
        "date_index_name" : {
          "date_rounding" : "w",
          "index_name_prefix" : "{{fields.index_prefix}}",
          "index_name_format" : "YYYY.ww",
          "ignore_failure" : false,

[2020-10-08 14:50] rw-access commented on #62933
(Looks like this comment never got submitted to GitHub. Posting it now.)

I'm not sure that I agree with the premise of the issue, I think if you look at EQL in Elasticsearch within a vacuum, then yes, the event type is purely an alias for `event.category == "<eventType>"`.

However, I don't think you can or should look at it in a vacuum. At the most basic level, an identifier is just a name for s

[2020-10-08 15:04] elasticmachine commented on #63457
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-10-08 15:06] cbuescher commented on #63467
Another one on 7.x. I'm considering muting since this seems to happen fairly often now.

[2020-10-08 15:07] nik9000 commented on #63467
Sorry! I promise I'll look at it this afternoon. If you have a chance to mute please do.

[2020-10-08 15:12] cbuescher commented on #63467
Muted with 3e06f08498d and 10f0dfda504d1533dfa47edbaaa308ef2dab128b on master and 7.x

[2020-10-08 15:23] cbuescher opened #63498 "[CI] ConcurrentSnapshotsIT.testDeletesAreBatched fails"
**Build scan**: https://gradle-enterprise.elastic.co/s/ddwl7fzpvxuck

**Repro line**:
./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.snapshots.ConcurrentSnapshotsIT.testDeletesAreBatched" \
  -Dtests.seed=B05CAAB2F86ED160 \
  -Dtests.security.manager=true \
  -Dbuild.snapshot=false \
  -Dtests.jvm.argline="-Dbuild.snapshot=false" \
  -Dtests.locale=sq-AL \
  -Dtests.timezone=In

[2020-10-08 15:23] elasticmachine commented on #63498
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-08 15:41] tbrooks8 commented on #63299
Thanks for reminding me. I will either fix or mute today.

[2020-10-08 16:57] cjmcgraw opened #63504 "Accessing _id field in plugin leads to gibberish"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 7.9.0, Build: default/docker/a479a2a7fce0389512d6a9361301708b92dff667/2020-08-11T21:36:48.204330Z, JVM: 14.0.1

**Plugins installed**: [custom]

**JVM version** (`java -version`):
openjdk 14.0.1 2020-04-14
OpenJDK Runtime Environment AdoptOpenJDK (build 14.0.1+7)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 14.0.1+7, mixed mode, s

[2020-10-08 17:00] cbuescher commented on #47275
Another one on master: https://gradle-enterprise.elastic.co/s/fydylz5vx5ars

[2020-10-08 17:08] keremh commented on #58471
Hello @astefan, i want to work on this issue 👍

[2020-10-08 17:16] palesz commented on #63353
FYI: #63309 only changes `mac` -> `osx`, but the domain and the url pattern also changed.

[2020-10-08 17:25] rjernst commented on #63480
We used to have this verification (see eg https://github.com/elastic/elasticsearch/pull/55635). However, bwc can't know this upfront because we need the checkout to inspect which java version the branch expects to determine the java home env vars to look for. So I'm not sure there is any path forward here without hardcoding somewhere.

[2020-10-08 17:43] mark-vieira commented on #63480
We should leverage the self-provisioning JDK capabilities in Gradle 6.7 to make this better. In general we've been trying to _remove_ the necessity to have the `JAVAX_HOME` env variables set when at all possible. I think if we can just go out and grab a compatible jdk easily we should do so, rather than require developers to preinstall them.

[2020-10-08 17:45] polyfractal commented on #63318
I believe this is an updated version of https://github.com/elastic/elasticsearch/issues/25337, which itself is a derivation of https://github.com/elastic/elasticsearch/issues/26294

I'd generally agree with some of the comments in #25337 that cardinality on score tends to not make much sense (since, outside of function_score, scores are likely to be a wide range of double values).  But that said,

[2020-10-08 17:46] nik9000 commented on #63467
Fixed by 1c193f0168db36af61884155ee6fa9152ef00070.

[2020-10-08 17:46] #63467 closed

[2020-10-08 19:09] ycombinator commented on #63203
tl;dr: Yes, those are the only two API calls we are currently missing support for. Further, support for them should be added to the `remote_monitoring_agent` role (**not** the `remote_monitoring_collector` role). For details on how I arrived at this conclusion, see below.

---

I started with a fresh install of Elasticsearch and Metricbeat. Using Wireshark I looked at the HTTP API calls Metricbeat

[2020-10-08 19:55] #63299 closed

[2020-10-08 20:16] ksaylor11 commented on #51361
Just had to do the same, has anyone run into problems yet?

[2020-10-08 20:39] #62035 closed

[2020-10-08 20:54] #62939 closed

[2020-10-08 21:32] #63350 closed

[2020-10-08 22:00] rjernst commented on #63457
Fixed by #63506

[2020-10-08 22:00] #63457 closed

[2020-10-08 22:03] rjernst commented on #61333
@williamrandolph Can you take a look at this? At least when looking at 8.0 I see we always set es.path.conf in ES_PARAMS, but perhaps 7.9.0 had slightly different logic.

[2020-10-08 22:42] rjernst commented on #63108
I agree we should let developers publish however they choose. We have been moving towards making esplugin more lightweight, and leaving our elastic specific bits to only be used within our build.

In this case I think we can do that by removing PublishPlugin from esplugin. I'll try to find some time to do this.

[2020-10-09 02:13] setiah commented on #63041
Hi @cbuescher, sorry to bother again but did you get a chance to take a look at my comments?

Thanks!

[2020-10-09 02:33] howardhuanghua commented on #62920
Here is the current cluster settings:
[code]
And I tried to set read only and archived setting together but also failed:
[code]

With our fix, we could set read only block to false and remove the archived setting:
[code]

[2020-10-09 04:21] aissa-atif commented on #58075
any solution for this probleme please ??? or other methode tu use elastic with android app ???

[2020-10-09 05:51] tomsozolins commented on #63213
The error is happening on any index - filebeat, winlogbeat etc.
Here is the response from clicking search in Kibana:
`{"statusCode":404,"error":"Not Found","message":"[resource_not_found_exception] Fi15TVZfQnBZVElDZUtmQjlubmhyUncfdWVDUXJwbktSU09TQV80ZWZxUEhVQTo5MTU2MzI3Nw==","attributes":{"error":{"root_cause":[{"type":"resource_not_found_exception","reason":"Fi15TVZfQnBZVElDZUtmQjlubmhyUncfdWVDUX

[2020-10-09 06:34] dweiss commented on #63108
Thanks Ryan. Let me know if you need help testing.

[2020-10-09 09:46] chengyang14 commented on #62908
hi @jakelandis  @howardhuanghua ,thanks for your replay.
The documentation for the [`Cluster Stats API`](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/cluster-stats.html) is as follows
[code]

`GET _cluster/stats/nodes/* `is equal to `GET _cluster/stats/nodes/` in the document.

So i think we shoud add ` new Route(GET, "/_cluster/stats/nodes/"));` in `RestClusterStatsAction`
[code]

[2020-10-09 10:13] diegomansua commented on #62273
I was considering using this functionality when I saw it was getting deprecated.

We are building sparse vectors for named entities in articles where the value for a given named entity is its weight (some calculated relevance for that entity in the article), e.g.

[code]

Then given a document I was planning to use the `cosineSimilaritySparse` function to find the closest articles (kind of an easy

[2020-10-09 13:03] lanerjo opened #63519 "Improve the Shrink Index Operations"
Currently the shrink index operation requires 1 copy of every shard to reside on the same node.

This may be not possible for some indices.
Example:
Index primary store size = 5Tb
Index has setting total_shards_per_node: 2 (To avoid hotspots being created and reduce cpu usage during queries)
Rollover is not feasible, as too many indices/shards would be created, causing cluster instability
Number o

[2020-10-09 13:16] michaelpietzsch commented on #48003
In the meantime ive created something curator based

[2020-10-09 13:20] Atreiide commented on #51361
Same issue.

CentOS 7

/usr/share/elasticsearch/jdk/bin/java -version :

openjdk version "14.0.1" 2020-04-14
OpenJDK Runtime Environment AdoptOpenJDK (build 14.0.1+7)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 14.0.1+7, mixed mode, sharing)

I downgraded to 7.9.1 to solve the issue.

Why issue has been closed ?

[2020-10-09 15:45] bpintea opened #63521 "SQL: missing serialisation of OffsetTime values for TIME type support"
`SELECT count(*) AS c FROM test_emp WHERE birth_date::time IN ('00:00:00Z'::TIME)`

will fail with:
[code]

[2020-10-09 15:46] elasticmachine commented on #63521
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-10-09 18:42] sanjusagare commented on #33609
I am facing the same issue . did u get solution?

[2020-10-09 19:58] joevalerio opened #63523 "Add ability to sort composite aggr, with missing_bucket = true, like a normal search sort"
Add ability to sort composite aggr, with missing_bucket  = true, like a normal search sort

For normal search sort you have the following options:

"The missing parameter specifies how docs which are missing the sort field should be treated: The missing value can be set to _last, _first, or a custom value (that will be used for missing docs as the sort value). The default is _last."
\- [sort-searc

[2020-10-09 21:25] joshjanoski opened #63525 "Documentation: Add additional details regarding supported Java versions for the Java High Level REST Client"
The documentation for the Java High Level REST Client here: https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/java-rest-high-compatibility.html states:

`The Java High Level REST Client requires Java 1.8`

However, Java 1.8 is just the minimum requirement, and the Java HLRC also supports whatever versions of Java are supported by the associated Elasticsearch release. For examp

[2020-10-09 21:25] elasticmachine commented on #63525
Pinging @elastic/es-docs (>docs)

[2020-10-10 07:24] gaobinlong commented on #63458
@P1llus , I think there are two problems:
1. If `timezone` is set to `UTC` explicitly, the time zone specified in the format will be ignored, we can find that from the source code: [DataFormat.java](https://github.com/elastic/elasticsearch/blob/4e740c2e4a544c7e99963ccd9f64686b1f0531e1/modules/ingest-common/src/main/java/org/elasticsearch/ingest/common/DateFormat.java#L101). So `timezone`  canot be

[2020-10-11 08:06] vancefantasy commented on #62844
@matriv THX

[2020-10-11 21:16] jamshid commented on #60140
Thanks for filing and fixing this. FWIW:

I _think_ I ran into it when upgrading 6.8.6 to 7.5.2. Debug logs wouldn't show anything wrong when "stopping ...", didn't even realize it was systemd itself doing it. After a few service restarts it stayed up.

From TRACE logs below maybe the problem is upgrades/cleanup of 6.8.6 indices took unexpectedly long? I'll try adding the 75s timeout but not sure

[2020-10-11 21:36] homersimpsons commented on #58468
[Elasticsearch 7.9.2](https://github.com/elastic/elasticsearch/releases/tag/v7.9.2) is released  since the 24th of september, this fix does nott seem to be part of it. Any idea on the release date (/version) of this fix ?

[2020-10-11 22:29] homersimpsons opened #63527 "[Queries] make "Span field masking" consistent with other span queries"
### Request

Rename `field_masking_span` to `span_field_masking`.

### Explanations

Currently the [Span field masking query](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/query-dsl-span-field-masking-query.html) is the only [`span_*`](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/span-queries.html) to end with `_span` instead of starting with `span_`

The query builder

[2020-10-12 04:03] gaohuag opened #63528 "The number of sharding is automatically increased."
The default number of sharding changed from 5 to 1, but if the the data is more and more big, and then we need to change the number of sharding, this process is artificial, very inconvenient, we need a more convenient way of operation, thank you.

[2020-10-12 06:22] #63303 closed

[2020-10-12 07:03] pgomulka commented on #57394
closing as no feedback was provided

[2020-10-12 07:03] #57394 closed

[2020-10-12 07:16] astefan opened #63529 "Index name pattern not present in the error message"
During a REST IT test on a secured cluster, in case the index pattern is an inexistent index, the error message itself is stripped of the index being searched for resulting in a message of the form `{"error":{"root_cause":[{"type":"verification_exception","reason":"Found 1 problem\nline -1:-1: Unknown index [*,-*]"}]` for a search like `/inexistent/_eql/search` whereas the expected is to have the

[2020-10-12 07:16] elasticmachine commented on #63529
Pinging @elastic/es-security (:Security/Security)

[2020-10-12 07:26] jpountz opened #63530 "Dotted field names that conflict with objects"
Elasticsearch assumes that dots in fields names are an object separator. This means that a document such as this one:

[code]

is actually indexed as if it was formatted like below:

[code]

And in the mappings, this translates into two `object` fields called `metric` and `metric.value` and a `long` field called `metric.value.max`.

This proves problematic when ingesting metrics that come from ext

[2020-10-12 07:26] elasticmachine commented on #63530
Pinging @elastic/es-search (:Search/Mapping)

[2020-10-12 07:42] sebastianrothbucher commented on #63002
@droberts195 great idea - here it is:

[code]

[2020-10-12 07:44] pkwenda opened #63531 "ElasticSearch json data keyword save error"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.4.2
**Plugins installed**: []

**JVM version** (`java -version`):
jdk11 (from docker pull ,is ok)
**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem,
including (e.g.)

[2020-10-12 07:50] droberts195 commented on #63002
@sebastianrothbucher please could you attach the full `jstack` output.  That will give a better idea of which parts of the code caused this deadlock.

Also, the `management` thread pool is used for "`cat`s and stats".  Do you have some external process that's regularly calling a `cat` or `stats` API?  I am not saying there's anything wrong with that - it would still be a bug if hammering one of th

[2020-10-12 08:28] romseygeek commented on #63446
Thinking about this more, separating the registration of Mappers and MappedFieldTypes wouldn't actually help here, because we still need the MappedFieldType to be set up so that it can be searched.  Perhaps a better move would be to make MappedFieldType responsible for building IndexFieldCapabilities, so that an implementation can choose to not make itself visible to field caps by returning `null`

[2020-10-12 08:34] cbuescher commented on #58468
@homersimpsons this change has only been[ backported up to version 7.10](https://github.com/elastic/elasticsearch/pull/59784)

[2020-10-12 08:42] cbuescher commented on #33609
@sanjusagare #33702 should have solced this. If you are having general questions or problems please use the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report and its better to continue the discussion there than on a closed issue.

[2020-10-12 08:58] pugnascotia commented on #58075
See [this comment](https://github.com/elastic/elasticsearch/pull/58166#pullrequestreview-431671344) for the current status.

[2020-10-12 09:08] hendrikmuhs commented on #63365
1 more failure after adding logging:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-darwin-compatibility/279/console

Logging proofs that it retried 10 times, however we wait only `5ms` between each call, which indicates that this isn't enough on a slow VM.

[2020-10-12 09:56] #59587 closed

[2020-10-12 10:02] gaobinlong commented on #63531
@pkwenda , I think it's a problem of the index's mapping, can you show the mapping of the index by `GET xxxxxx/_mapping`

[2020-10-12 10:10] sebastianrothbucher commented on #63002
here's the complete log @droberts195 - thx

[code]

[2020-10-12 10:16] pkwenda commented on #63531
ok：it looks like :

[code]

i dont know why  type is Long , maybe because ：sometimes data value is json.sometimes data value is number ?

[2020-10-12 10:17] hendrikmuhs commented on #52236
I gave this a try, but run into problems:

### NumericMetricsAggregation.MultiValue not suitable as generic interface

Transform uses the interfaces derived from `Aggregation`, e.g `NumericMetricsAggregation.SingleValue`. `TopMetrics` is a multi value aggregation and extends `NumericMetricsAggregation.MultiValue`. But `NumericMetricsAggregation.MultiValue`. But there are no generic members for mul

[2020-10-12 10:22] pkwenda commented on #63531
I thought that Nested types were more flexible，now , It seems to be careful when using it, thanks  @gaobinlong

[2020-10-12 10:28] cbuescher commented on #63531
Closing since this seems to be solved.
@pkwenda if you have further questions like this please consider using the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests. Many thanks.

[2020-10-12 10:28] #63531 closed

[2020-10-12 10:52] droberts195 commented on #63002
Given its stack trace it's not clear to me why the thread `[management][T#1]` would still be holding a lock on a `Permissions` object used within the security manager code.

There is no evidence of ML code being involved in this deadlock.  It appears to be a nodes stats call interacting with a flush of a shard.  It may just be that the ML nightly maintenance causes more flushes because it deletes

[2020-10-12 11:02] cbuescher commented on #63504
@cjmcgraw thanks for opening the issue, this is working as intended but you might need an additional decoding step for the "_id" field.
We internally seem to encode the raw id value again using the `Uid` helper class in https://github.com/elastic/elasticsearch/blob/7.9/server/src/main/java/org/elasticsearch/index/mapper/IdFieldMapper.java#L289. That means when getting back the binary value from th

[2020-10-12 11:02] #63504 closed

[2020-10-12 11:20] bpintea commented on #30259
This seems to no longer (@7.9.0) reproduce. (Assuming the `book` field in the example as unintended).

[2020-10-12 11:50] DaveCTurner opened #63548 "MlDistributedFailureIT#testJobRelocationIsMemoryAware failed"
**Build scan**: https://gradle-enterprise.elastic.co/s/zwqvn6whenbjm

**Repro line**: `./gradlew ':x-pack:plugin:ml:internalClusterTest' --tests "org.elasticsearch.xpack.ml.integration.MlDistributedFailureIT.testJobRelocationIsMemoryAware" -Dtests.seed=59B110C189FF078D -Dtests.security.manager=true -Dtests.locale=be-BY -Dtests.timezone=AET -Druntime.java=11`

**Reproduces locally?**: Tried a few t

[2020-10-12 11:50] elasticmachine commented on #63548
Pinging @elastic/ml-core (:ml)

[2020-10-12 12:00] droberts195 commented on #63548
The test seems to be horrifically slowed down by this problem occurring several times per second:

[code]

I think this isn't really a problem in ML, but some interaction of SLM and data streams making everything run really slowly.

[2020-10-12 12:00] original-brownbear commented on #63476
This is reproducible locally on 7.x ... looking into a fix

[2020-10-12 13:12] droberts195 opened #63553 "[ML] Change ML test setup to use new syntax for specifying node roles"
Several ML tests now cause lots of deprecation logging due to using the old `node.blah` settings for specifying node roles, for example:

[code]

These tests (note `testTooManyByFields` is not the only one) should be changed to instead use the `node.roles` array.

[2020-10-12 13:12] elasticmachine commented on #63553
Pinging @elastic/ml-core (:ml)

[2020-10-12 13:23] nik9000 commented on #52236
Wow `MultiValue` is terrible! Do you think something like adding `double value(String field)` to the interface would help? That feels like the key-value based interface you were talking about.

[2020-10-12 13:29] droberts195 commented on #63548
Apparently it's because we need to add the data streams plugin to the list of plugins that get loaded during ML tests.

[2020-10-12 13:58] #50838 closed

[2020-10-12 13:58] #51670 closed

[2020-10-12 14:07] astefan opened #63561 "Different behavior for a Security enabled cluster using EQL"
Prerequisites:
- the `test` index does exist and has data in it
[code]
- there is no `bla*` named index or alias in the cluster

Additional note: EQL uses `allow_no_indices: false` by default.

For a request like
[code]
there are two different behaviors for a cluster with and without Security enabled in it.

Behavior without Security: data is returned and there is no error.
Behavior with Security:

[2020-10-12 14:07] elasticmachine commented on #63561
Pinging @elastic/es-security (:Security/Security)

[2020-10-12 14:08] droberts195 commented on #63548
Assuming the slowdown from all the logging was the cause of failure, #63560 should fix this.

[2020-10-12 14:12] yuliacech commented on #59195
@dakrone Hi Lee, I was wondering if there is any work planned on adding metadata to data streams? I see now that we have
[code]
in both index templates mappings and index mappings if they were created by ingest manager.

[2020-10-12 14:25] tveasey commented on #55943
Just to give a concrete example of why using just f(x) and f(y) fails. Imagine clusters of points around (x, y) = (1, 1) and (x, y) = (5, 5). This has exactly the same marginals as clusters of points around (x, y) = (1, 5) and (x, y) = (5, 1). In both cases you'd get spikes in the density around 1 and around 5 for both x and y. This isn't to say that these aren't useful, it's often very useful to

[2020-10-12 14:29] hendrikmuhs commented on #52236
This would help, however requires me to know valid values for `field`. Therefore it would be good if I can retrieve the values for `field`, too.

Another alternative could be something similar to `Percentiles`, for example:

[code]

[2020-10-12 14:37] nik9000 commented on #52236
Would something like this do?

[code]

I feel weird wrapping the value in a name/value pair thing.

[2020-10-12 14:54] hendrikmuhs commented on #52236
That's looks good, too. No strong feelings, either will do.

[2020-10-12 15:47] mbudge commented on #61162
The problem we have with the beats templates is they explicitly set each field, which takes priority over any settings applied through dynamic templates. In event-management and incident response, we need case insensitive search to mitigate the risk of important events being missed due to keywords being case sensitive, and data being collected from many different systems on the network. We would n

[2020-10-12 16:08] AydinChavez opened #63567 "SQL: hdr histogram parameter (hdr_digits) missing for percentile and percentile_rank function"
Elastic SQL does not support the [hdr histrogram parameter](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-percentile-aggregation.html#_hdr_histogram) currently, which is available for the dsl query format and massively speeds up the query (I get timeouts when using the percentile-aggregation functions with the dsl query language without this parameter)

[2020-10-12 16:24] #63548 closed

[2020-10-12 16:46] jtibshirani opened #63569 "Handle metadata fields in search 'fields' option"
Currently the search 'fields' option skips over metadata fields. It would be great to add support for them, to help make 'fields' the central place to retrieve document content.

Some specific improvements:
* Users would no longer need to remember to load `_size` from `docvalue_fields` (https://github.com/elastic/elasticsearch/issues/57103).
* We recently started allowing some metadata fields to p

[2020-10-12 16:46] elasticmachine commented on #63569
Pinging @elastic/es-search (:Search/Search)

[2020-10-12 17:20] not-napoleon opened #63570 "Enable users to migrate v1 rollup indices to Rollup v2"
We want users of the existing, experimental, rollup feature to be able to migrate existing rolled up data to the new version as cleanly as possible.  This ticket covers only migrating the index (documents and metadata), not the rollup job itself.

Notes and consideration:
- Need to look at how the rollup relates to the base index.  There are three cases:
  - The base index no longer exists, or no

[2020-10-12 17:20] elasticmachine commented on #63570
Pinging @elastic/es-analytics-geo (:Analytics/Rollup)

[2020-10-12 17:26] curtdept commented on #63213
Ya we hit this one a lot across instances. Seems to make queries hang while it resolves.

[2020-10-12 19:08] imotov opened #63575 "Add support for value counts to rate aggregation"
In #63289 we added support for histogram fields to rate aggregations. The histogram fields contains both sum of the values and value count. In #63289 we only added support for sum, we should also add support for value count. This support can be extended for numeric fields as well.

[2020-10-12 19:08] elasticmachine commented on #63575
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-10-12 19:16] astefan commented on #63561
If this is relevant, using `/bla,test/_eql/search` (no wildcard) there is no exception being thrown.

[2020-10-12 19:36] iondrugalea commented on #20537
I still have this issue, any solutions?
this is my content of /etc/apt/source.list.d/elasticsearch
`deb   https://artifacts.elastic.co/packages/6.x/apt stable main`

apt-get update -o Debug::pkgProblemResolver=true -o Debug::pkgDPkgPM=true
`Hit:1 http://security.debian.org/debian-security stretch/updates InRelease
Ign:2 http://deb.debian.org/debian stretch InRelease
Hit:3 http://deb.debian.org/deb

[2020-10-12 21:59] CodeNameTheOnlyOne commented on #51361
also having this issue after doing a yum update
openjdk version "15" 2020-09-15
OpenJDK Runtime Environment AdoptOpenJDK (build 15+36)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 15+36, mixed mode, sharing)

commented the lines  in /etc/elasticsearch/jvm.options out and it starts now.
not sure why this issue is closed

[2020-10-13 01:09] jasontedor commented on #51361
Elasticsearch ships a JVM options file. We might update this between releases. If you bring along your old one and don't merge it properly with the new one we ship, then you might have options in there from an older version of the JVM that are no longer supported on newer versions of the JVM. We haven't shipped with this flag in our default options file since 7.7.0, and it's not in the packages we

[2020-10-13 01:24] ywangd commented on #63561
What is the reason for `EqlSearchRequest` to mandate `allow_no_indices=false`? It seems to me that all of its sub-actions actually has the opposite setting, i.e. `allow_no_indices=true`, e.g. [`IndexResolver#resolveAsMergedMapping`](https://github.com/elastic/elasticsearch/blob/7.x/x-pack/plugin/ql/src/main/java/org/elasticsearch/xpack/ql/index/IndexResolver.java#L297-L298) and [`BasicQueryClient#

[2020-10-13 01:37] ywangd commented on #63561
This is expected because the request does not contain any wildcard and `ignore_unavailable` is by default `true`.

[2020-10-13 01:58] nikunjmulani commented on #49124
We are facing the same issue. It was working absolutely fine with singleton object of the RestHighLevelClient. We started seeing this issue happening after we changed our code based to 6 Java Objects to talk to 6 different cluster based on the index. Once you see this issue with any instance, the subsequent call to that instance were also failing with the same issue. Means, the instance was becomi

[2020-10-13 03:13] original-brownbear opened #63586 "[CI] Failure in SearchableSnapshotsIntegTests.testCreateAndRestoreSearchableSnapshot"
This failed both on 7.x and `master`.

Given enough iterations (I'm able to reproduce this locally):

[code]

relatively reliably fails with:

[code]

as it did in https://gradle-enterprise.elastic.co/s/4vrinfmyhhgyo

[2020-10-13 03:13] elasticmachine commented on #63586
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-10-13 03:48] ywangd commented on #63561
Just read the QL team's weekly update which includes some information about why `allow_no_indices=false` is required for `/_eql/search`. IIUC, it needs at one valid index so the query can be validated against its mapping, which in turn is built with the FieldCapbilities API. The following code in `IndexResolver#mergedMappings` throws error if no index is available:

https://github.com/elastic/elas

[2020-10-13 06:50] cavalier23 commented on #33369
that means we can't close action.auto_create_index setting? btw, I just tried this on elasticsearch server version of 7.9.2, still  can't close auto_create_index!

[2020-10-13 06:54] jinlianch opened #63588 "Feature Request for bulk _analyze api"
Currently _analyzer only work for one field, support analyzer multi fields.
Demo:
Request
[code]

Response:
[code]

[2020-10-13 07:29] #63233 closed

[2020-10-13 07:39] dliappis commented on #49094
I also saw `org.bouncycastle.tls.TlsFatalAlert: handshake_failure(40)` in https://gradle-enterprise.elastic.co/s/ugq5y3o4yrdgq during `x-pack:plugin:security:internalClusterTest` / `testSnapshotUserRoleCanSnapshotAndSeeAllIndices`

[code]

Unfortunately I couldn't reproduce this locally.

[2020-10-13 07:53] jkakavas commented on #49094
Thanks @dliappis !

In the above, the `handshake_failure` error is causing the cluster to not form and thus the `testSnapshotUserRoleCanSnapshotAndSeeAllIndices` fails because

[code]

so this is not related to the kind of failures we are tracking here.

The reproduction line is from `FieldLevelSecurityRandomTests` though. Maybe copied over from a different failure log ?

[2020-10-13 08:02] astefan commented on #63561
@ywangd thank you for your analysis. I missed the subtlety of `allow_no_indices` acting only on wildcarded patterns which explains my confusion about

Leaving this aside though and getting back to my original report, the error `index_not_found_exception` in case Security is enabled in the cluster comes even before any EQL code is being executed.
Does this mean that Security tries to expand the wil

[2020-10-13 09:08] elasticmachine commented on #63527
Pinging @elastic/es-search (:Search/Search)

[2020-10-13 09:20] dliappis commented on #49094
Ugh my mistake, sorry. Will update the repro.

[2020-10-13 09:22] dliappis commented on #49094
I have updated the [above repro](https://github.com/elastic/elasticsearch/issues/49094#issuecomment-707554386) it doesn't reproduce locally though.

@jkakavas do you think it makes sense to track this in a separate bug?

[2020-10-13 09:25] danielmitterdorfer commented on #63528
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/) that s

[2020-10-13 09:25] #63528 closed

[2020-10-13 09:34] elasticmachine commented on #63519
Pinging @elastic/es-distributed (:Distributed/CRUD)

[2020-10-13 09:35] elasticmachine commented on #63567
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-10-13 09:36] elasticmachine commented on #63523
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-10-13 09:37] droberts195 commented on #60130
As the previous comment says, this issue was opened on a misunderstanding - closing

[2020-10-13 09:37] #60130 closed

[2020-10-13 09:38] elasticmachine commented on #63588
Pinging @elastic/es-search (:Search/Analysis)

[2020-10-13 09:49] jkakavas commented on #49094
It has failed exactly once with this and I believe that the TLS exceptions might be a symptom and not the cause here. I will keep track of this for the next couple of days but since it doesn't reproduce, I don't think we should mute or track this in an issue for now

[2020-10-13 09:49] droberts195 commented on #48941
Note: when unmuting the setup should now be `// TEST[setup:Kibana sample data]` - different to what it was when originally muted.

[2020-10-13 10:19] dliappis opened #63597 "Geohash grid aggregation circuit breaker test occasionally fails"
**Build scan**: https://gradle-enterprise.elastic.co/s/zhecxbwpnele2

**Repro line**:

[code]

**Reproduces locally?**: No

**Applicable branches**: 7.x

**Failure history**: https://gradle-enterprise.elastic.co/s/wegrukq224tum / https://gradle-enterprise.elastic.co/s/kbr7f543ybnte

**Failure excerpt**:

[code]

[2020-10-13 10:19] elasticmachine commented on #63597
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-10-13 10:24] dliappis commented on #63597
Closing as duplicate of https://github.com/elastic/elasticsearch/issues/63158

[2020-10-13 10:24] #63597 closed

[2020-10-13 10:26] mbudge commented on #36359
The public suffix file is the best way to get the top level domain, subdomain, registered domain, root domain and last but not least the domain.

[2020-10-13 10:31] elasticmachine commented on #63002
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-10-13 10:32] droberts195 commented on #63002
Please could somebody from the ES team who knows about Java Security Manager comment on why given its stack trace the `[management][T#1]` thread would still be holding a lock on a `Permissions` object used within the security manager code.

[2020-10-13 10:38] dliappis opened #63600 "Retry wget tasks while building the Docker image"
This was noticed in https://gradle-enterprise.elastic.co/s/trrgg7tocnkw2

with the excerpt showing:

[code]

but looking at the [Dockerfile[(https://github.com/elastic/elasticsearch/blob/f491422e1edf79ea08d5657b5035f4a5ee444442/distribution/docker/src/docker/Dockerfile#L65-L67) it appears we aren't retrying while attempting to download with `wget`.

We should ensure we are trying similarly to how

[2020-10-13 10:38] elasticmachine commented on #63600
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-10-13 11:07] ywangd commented on #63561
@astefan Your understanding is correct.

This behaviour is different from what `allow_no_indices=false` is used for. The `allow_no_indices` option is about expansion of a single wildcard, it does not say anything about the final list (the final result of expanding all index patterns).

It seems to me that EQL does not need mandate `allow_no_indices=false` for `EqlSearchRequest` since it does not r

[2020-10-13 11:31] albertzaharovits commented on #63561
I concur with Yang's assessment, and I wish to add some clarifications.

What I understand you mean by this, is that the `allow_no_indices` indices option concerns the individual wildcard pattern expansion, and not the complete indices expression (i.e. the names and patterns separated by commas). This is true in the broad sense. But note that the index expression is resolved fairly [low-level](htt

[2020-10-13 11:41] #63473 closed

[2020-10-13 12:01] przemekwitek commented on #63306
All the changes are in so I consider this issue solved.

[2020-10-13 12:01] #63306 closed

[2020-10-13 12:03] pgomulka commented on #63489
hey @antonisnyc94
thank you for raising this.
can you confirm ES version and JDK used?
we fixed this in ES 7.6 https://github.com/elastic/elasticsearch/pull/48209 but it requires JDK9+

[2020-10-13 12:03] elasticmachine commented on #63489
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-10-13 12:06] dliappis commented on #63232
Noticed the same in 7.10 e.g. in https://gradle-enterprise.elastic.co/s/nlfxjehu4pftm; fix might need backporting.

[2020-10-13 12:10] danielmitterdorfer commented on #57765
No further feedback received. @Dev393 if you have the requested
information please add it in a comment and we can look at re-opening
this issue.