[2019-02-05 10:55] jasontedor commented on #38408
The reproduction line does not reproduce consistently.

[2019-02-05 11:08] jasontedor commented on #38408
Muted in #38409.

[2019-02-05 11:23] jkakavas opened #38412 "UpgradeClusterClientYamlTestSuiteIT tests fail because of deprecation warnings"
Came across this in a PR build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-2/7278/console

Example output:
[code]

This looks similar to https://github.com/elastic/elasticsearch/issues/38395 and looks like it can be resolved by dealing with the deprecation warnings in the [XPackRestTestHelper](https://github.com/elastic/elasticsearch/blob/5384162a42b066ee4bcadba6ab6

[2019-02-05 11:41] jkakavas commented on #38412
This needs to be addressed at the same time as https://github.com/elastic/elasticsearch/pull/38396 because otherwise, each one will cause the other to build CI and we'll never be able to merge :)

[2019-02-05 11:41] astefan commented on #37423
master (7.0.0): https://github.com/elastic/elasticsearch/commit/cea81b199dcb92bf80fb42a87fb4817a4f63d890
6.x (6.7.0): https://github.com/elastic/elasticsearch/commit/d0fb8dc1c7d27cf53478d1b666d09fd91c884c78
6.6 (6.6.1): https://github.com/elastic/elasticsearch/commit/ffd3aa19e3c2e9a54a7a3310042560382b6620f1

[2019-02-05 11:47] original-brownbear commented on #38404
oops sorry didn't see that. I agree, probably transient -> closing :)

[2019-02-05 11:47] #38404 closed

[2019-02-05 11:58] elasticmachine commented on #38090
Pinging @elastic/es-distributed

[2019-02-05 11:59] elasticmachine commented on #38203
Pinging @elastic/es-security

[2019-02-05 12:00] elasticmachine commented on #38242
Pinging @elastic/es-search

[2019-02-05 12:01] elasticmachine commented on #38335
Pinging @elastic/es-docs

[2019-02-05 12:02] elasticmachine commented on #38412
Pinging @elastic/ml-core

[2019-02-05 12:02] elasticmachine commented on #38412
Pinging @elastic/es-core-features

[2019-02-05 12:02] elasticmachine commented on #38406
Pinging @elastic/es-distributed

[2019-02-05 12:03] elasticmachine commented on #38390
Pinging @elastic/es-search

[2019-02-05 13:02] javanna commented on #38400
can we mute this test if we are not going to merge the corresponding PR straight-away?

[2019-02-05 13:42] Mpdreamz commented on #38102
Opened: https://github.com/elastic/elasticsearch/pull/38413 to address your last point @codebrain.

[2019-02-05 13:49] Mpdreamz commented on #38102
Closing this in favor of: https://github.com/elastic/elasticsearch/issues/35262

[2019-02-05 13:49] #38102 closed

[2019-02-05 13:49] Mpdreamz commented on #35262
Love this proposal, would love to help out getting this into the rest spec.

One remaining question I have is around deprecated urls paths.

In https://github.com/elastic/elasticsearch/issues/38102 I proposed:

[code]

But perhaps the following falls more in line with your proposal @mayya-sharipova

[code]

cc @elastic/es-clients

[2019-02-05 13:59] paulcarey opened #38424 "SQL: IN does not behave as expected"
Using ES 6.5.4 I would expect queries of the form `WHERE foo = 'a' OR foo = 'b'` to return exactly the same results as `WHERE foo IN ('a', 'b')`. However, this is not what I'm observing.

Running my queries through `/translate` shows a material difference in how these are generated.

Using `IN`:

[code]

Using repeated `OR` clauses:

[code]

What really seems to matter here though is that using `O

[2019-02-05 14:19] elasticmachine commented on #38424
Pinging @elastic/es-search

[2019-02-05 14:20] costin commented on #38424
Thanks for the report. We'll look into it however it is unlikely the fix will be backported all the way to the 6.5.x line.

[2019-02-05 14:43] nik9000 commented on #38335
Indeed, it is just inline callouts that aren't supported. End of line callouts are just fine. It'd be a disaster not to support them. It is bad enough not to support inline callouts but getting support for them is fairly painful because there isn't a "proper" extension point for these to turn them on.

[2019-02-05 14:43] original-brownbear commented on #38321
Another one https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/417/console

[code]

[2019-02-05 14:48] original-brownbear opened #38428 "[CI] Failure in org.elasticsearch.index.mapper.DynamicMappingTests#testMappingVersionAfterDynamicMappingUpdate"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/670/console

[code]

Failed with:

[code]

[2019-02-05 14:48] elasticmachine commented on #38428
Pinging @elastic/es-search

[2019-02-05 14:48] javanna commented on #33342
agreed @nathankopp see #38425 and #38085 .

[2019-02-05 14:49] ailurus1991 commented on #31615
@mayya-sharipova wow I see, great work!

[2019-02-05 14:59] ccoffey commented on #38272
@jasontedor I have **not** been able to prove that option 1 works.

Here is what I did on a test cluster.

1. Checked which version of `java` the Elasticsearch process is using

[code]

1. Found the location of java.home
[code]

According to [the docs](https://docs.oracle.com/javase/8/docs/technotes/guides/security/PolicyFiles.html) the file I need to edit is `java.home/lib/security/java.security`

[2019-02-05 15:13] cbuescher commented on #38412
@jkakavas unfortunately the earlier revert of https://github.com/elastic/elasticsearch/pull/38419 doesn't fix this but I opened https://github.com/elastic/elasticsearch/pull/38431 which I hope will solve at least the ml related failures. Will need to see if anything else turns up while running CI.

[2019-02-05 15:36] Destroy666x commented on #38282
Sure. I.e. on 6.3.x -> 6.4.0 transition a change was added that started requiring coordinates as floats in GeoJSON - my code had them as strings and I didn't even realize. What ES returned as error was https://github.com/elastic/elasticsearch/blob/68149b6058a720ec891974e8a6982c5e480fb9f1/server/src/main/java/org/elasticsearch/index/mapper/GeoShapeFieldMapper.java#L122  which only let me know of th

[2019-02-05 15:44] #38226 closed

[2019-02-05 15:45] #37164 closed

[2019-02-05 16:10] original-brownbear commented on #37807
Muted this one in master [`887fa2c`](/elastic/elasticsearch/commit/887fa2c97abba907d56271a21a2c0bbd141f58dd)

[2019-02-05 16:15] #38160 closed

[2019-02-05 16:24] asamsung opened #38442 "How can I select a test document which state has changed from "passed" to "failed""
I have test documents like one below:
test_reslulsts:
{
"report_id":"my_report_1",
"test_name":"some_test_name_123",
"status":"passed"
"parent_details":
  {
      "parent_id":"154865976079",
      "run_tag":125
  }
}

I need to select all the test_results that were passing for given "parent_id" and failing for another "parent_id".

I am using composite aggregation now, but it returns me only the t

[2019-02-05 16:40] original-brownbear opened #38447 "[CI] Multiple Failures in org.elasticsearch.snapshots.DedicatedClusterSnapshotRestoreIT"
Seems #38368 did destabilize `org.elasticsearch.snapshots.DedicatedClusterSnapshotRestoreIT`.

I'm on it.

[code]

[2019-02-05 16:40] elasticmachine commented on #38447
Pinging @elastic/es-distributed

[2019-02-05 16:48] #35687 closed

[2019-02-05 17:01] henningandersen commented on #38447
Thanks @original-brownbear , FYI my PR  build where #38368 is not merged also failed in testMasterAndDataShutdownDuringSnapshot:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-1/7454/console

Looks like it ran for an extended duration:

[code]

[2019-02-05 17:05] yaronp68 commented on #34578
this one is out-dated. Will close and open another one with current user stories

[2019-02-05 17:05] #34578 closed

[2019-02-05 17:08] DaveCTurner commented on #38406
This is a general problem with this kind of `AffixSetting` which only allows characters matching `[-\w]` in the key, and that doesn't include colons.

https://github.com/elastic/elasticsearch/blob/9602d794c62ea526ef2ab5f610e746763d78bdd1/server/src/main/java/org/elasticsearch/common/settings/Setting.java#L1573

For instance, this setting also doesn't work:

    node.attr.has:colon: foo

Fixing thi

[2019-02-05 17:08] elasticmachine commented on #38406
Pinging @elastic/es-core-infra

[2019-02-05 17:10] DaveCTurner commented on #38442
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co/)
that s

[2019-02-05 17:10] #38442 closed

[2019-02-05 17:14] pgomulka opened #38449 "Deserialize timeZone with DateUtils in RangeQueryBuilder"
as spotted in this review https://github.com/elastic/elasticsearch/pull/38415#discussion_r253927699
`DateUtil` should be used when serialising/deserializing timezones to allow deprecation logging

[2019-02-05 17:14] elasticmachine commented on #38449
Pinging @elastic/es-core-infra

[2019-02-05 17:47] yaronp68 opened #38452 "[Enhancement Request] ILM execution metrics"
Here are things that can help building a better GUI for administrators in order to trace ILM:

Administrators will rely on ILM to keep the costs and performance of the cluster by handling data as it ages. These are critical goals and so the administrator wants to discover:
1. **Failures** - The user wants to know how many indices are in error phase as indication to having indices that didn't progr

[2019-02-05 17:49] elasticmachine commented on #38452
Pinging @elastic/es-core-features

[2019-02-05 17:59] #36034 closed

[2019-02-05 18:07] #38412 closed

[2019-02-05 18:09] henningandersen commented on #38447
I were able to reproduce the same failure locally by running the single test method on repeat until failure from within IntelliJ.

[2019-02-05 18:11] cbuescher commented on #38412
@jkakavas the earlier revert in https://github.com/elastic/elasticsearch/pull/38427 should have solved this issue for now, but I also just pushed #38431 that should also fix the issue when we add the backport by @markharwood again later.

[2019-02-05 18:14] JohnLyman opened #38454 "ILM should support placeholders in rollover_alias"
Similar (but simpler than) #36627, one should be able to use `{index}` placeholder while specifying a `index.lifecycle.rollover_alias`.

[2019-02-05 18:20] JohnLyman commented on #38454
It would also be very useful to have a new `{write_index}` placeholder that would simply drop the `-\d{6}` suffix from the index name.

[2019-02-05 18:21] rjpruitt16 commented on #36487
I would like to work on this. From what I understand, before the code for bucket sort runs, you want to check to see if gap policy is was enabled; And if it is enable, throw an exception saying something like gap policy is not supported with bucket sort.

[2019-02-05 18:21] jdconrad opened #38455 "test.iters may cause bad reproduce strings"
While investigating (https://github.com/elastic/elasticsearch/issues/38359), I ran the reproduce line with ```-Dtests.iters=1000``` and received 1 failure.  The reproduce line for that failure was the following:

```./gradlew :x-pack:plugin:monitoring:unitTest -Dtests.seed=1B6F728E6033F9E8 -Dtests.class=org.elasticsearch.xpack.monitoring.collector.node.NodeStatsMonitoringDocTests -Dtests.method="t

[2019-02-05 18:21] elasticmachine commented on #38455
Pinging @elastic/es-core-infra

[2019-02-05 18:22] talevy commented on #16895
Update here:

Recently, changes were made to make geogrid aggregations really easy to create. This was done in favor of building one mega-geo-grid aggregation with different types due to concerns over overloading of the `precision` field, since precision means something different bucketing algorithm.

geotile_grid was introduced for support for web-xyz-tiling of geopoints.

[2019-02-05 18:50] original-brownbear commented on #38447
Thanks for checking @henningandersen same here. Looking into fixing it now :)

[2019-02-05 19:18] original-brownbear commented on #38447
Seems with the changes from #38368 we're missing a state update on leaving nodes and get snapshots stuck in a state like:

[code]

When node `Ovz6FD8bSEOdCzohp0_DKw` has already left the cluster. => still on it :)

[2019-02-05 19:20] #37037 closed

[2019-02-05 19:22] elasticmachine commented on #38454
Pinging @elastic/es-core-features

[2019-02-05 19:35] gwbrown commented on #38454
Hi, thank you for your interest in Elasticsearch, and in ILM in particular!

Could you give an example of how this would be used?

My first interpretation of your comments is that it's something you would use in an index template, like:
[code]
So that if you created `managed-logs-000001`, then `index.lifecycle.rollover-alias` would be set to `managed-logs-alias`.  Is that correct?  Or am I misinte

[2019-02-05 19:42] #37963 closed

[2019-02-05 20:14] original-brownbear commented on #38447
This fixes it, we were missing the node removal event when it coincided with master failover, opening a PR in a bit (trying to create a deterministic test that reproduces the issue):

[code]

[2019-02-05 20:39] #32435 closed

[2019-02-05 20:56] dakrone opened #38461 "Snapshot lifecycle management"
ILM has been included in Elasticsearch, which allows us to manage the lifecycle
of an index, however, this lifecycle management does not currently include
periodic snapshots of the index.

In order to provide a full replacement for other cluster periodic management
tools out there (such as Curator), we should add snapshot management to
Elasticsearch.

Ideally this would fall under the same sort of

[2019-02-05 20:56] elasticmachine commented on #38461
Pinging @elastic/es-core-features

[2019-02-05 20:59] elasticmachine commented on #38461
Pinging @elastic/es-distributed

[2019-02-05 21:09] dakrone commented on #35514
I recently re-enabled this on master, I'm going to close this for now but if it occurs again we should re-open this and I'll take a look.

[2019-02-05 21:09] #35514 closed

[2019-02-05 21:11] #38395 closed

[2019-02-05 21:12] #38051 closed

[2019-02-05 21:49] eydin opened #38467 "[Feature Request] More-Like-This-Query by Query"
**As a developer, I want to be able to specify a query, instead of a distinct set of documents, within a More-Like-This Query so that I can make a single call to find documents related to some undefined set.**

The problem is this... my customer has a lot of uncategorized news articles that they're slowly tagging with categories. My customer wants me to produce a news feed of articles for each cat

[2019-02-05 21:53] andyb-elastic commented on #31634
I think the failures in [this comment](https://github.com/elastic/elasticsearch/issues/31634#issuecomment-408261145) and [this comment](https://github.com/elastic/elasticsearch/issues/31634#issuecomment-456296144) are something different - the former is in tests for the tar distribution, and the latter is on centos 6 which doesn't use systemd

My best guess is the package installation failed [here

[2019-02-05 21:55] villasv commented on #35888
I have a question regarding returning from update context. If I want to short-circuit the script with a condition... why can't I do `if(condition) return;`? It fails to compile.

If I try anything else, I get the expected `Cannot cast ... to a primitive type [void].`

[2019-02-05 22:16] polyfractal commented on #32773
Oops, closed via that test fix which predated the ^^ comments.  I think the fix in #38218 probably contributed to some of the failures, but the snapshot/restore could easily have contributed to the others.

[2019-02-05 22:27] gwbrown opened #38470 "Use ILM to manage internal indices"
Now that we have a system for curating indices built-in to Elasticsearch in Index Lifecycle Management, we should use this for internal indices which either already roll over through another mechanism or would benefit from automatically rolling over.

Some of this work has already been completed, see https://github.com/elastic/elasticsearch/pull/37443 for an example.

Internal indices which we may

[2019-02-05 22:32] gwbrown commented on #36024
All items on the checklist above are complete, but I'm going to leave this issue open for another day or two just in case, even though I believe we're past the point of adding more. I'll continue to monitor for any new breaking changes and close this in a few days if nothing comes up.

[2019-02-05 22:38] polyfractal opened #38471 "Default javatime string formatter in date_histo differs from joda"
It looks like the new javatime default formatter for `date_histogram` (and maybe elsewhere?) appends the timezone verbatim to the string.  This differs from how joda did it, which was to append the offset.

Example:

[code]

In 6.5, the default formatter for `key_as_string` returned `-06:00` as the timezone component:

[code]

But on master, it now returns `America/Edmonton`
[code]

[2019-02-05 22:38] elasticmachine commented on #38471
Pinging @elastic/es-analytics-geo

[2019-02-05 22:38] elasticmachine commented on #38471
Pinging @elastic/es-core-infra

[2019-02-05 23:01] spinscale commented on #38471
so, the default printer is using `.appendZoneOrOffsetId()` - we should probably use something like `.appendOffset("+HH:MM", "Z")` here to be sure we do not use the zone id

[2019-02-05 23:04] dakrone commented on #32031
These classes don't even exist any more in 6.x, so I'm going to close this.

[2019-02-05 23:04] #32031 closed

[2019-02-05 23:38] bleskes commented on #10708
The work prescribed in this issue now completed and will be part of the coming 6.7 and 7.0 releases. There are still some small follow ups we want to do, but they do no need to be tracked as part of this issue. We now consider this completed.

[2019-02-05 23:38] #10708 closed

[2019-02-06 00:11] elasticmachine commented on #38467
Pinging @elastic/es-search

[2019-02-06 01:03] tvernum commented on #38203
Why does logstash central management need to hit the `/` endpoint in ES?
Is it just using that to test whether the node is available, or does it actually need data from that endpoint?

[2019-02-06 01:05] #38321 closed

[2019-02-06 01:34] robinjoseph08 opened #38482 "Duplicate Watcher events firing"
**Elasticsearch version** (`bin/elasticsearch --version`):

v6.3.1

**Plugins installed**:

x-pack, discovery-ec2, repository-s3

**JVM version** (`java -version`):

[code]

**OS version** (`uname -a` if on a Unix-like system):

[code]

**Description of the problem including expected versus actual behavior**:

Occasionally, our configured watchers will fire twice, resulting in duplicate notificati

[2019-02-06 02:55] elasticmachine commented on #38482
Pinging @elastic/es-core-features

[2019-02-06 06:18] jkakavas opened #38487 "RetentionLeaseSyncIT.testRetentionLeasesSyncOnRecovery fails reproducibly on master and 6.x"
This looks like it was introduced in https://github.com/elastic/elasticsearch/pull/38435. I hit it in a PR build, bit it reproduces consistently on master for me and looking through build failures it has been failing for the last few hours:

[code]

Reproduction line:
[code]

I'l be muting this and I'm assigning Jason so that he gets the ping in case he wants to push a quick test fix

[2019-02-06 06:18] elasticmachine commented on #38487
Pinging @elastic/es-distributed

[2019-02-06 06:29] original-brownbear opened #38489 "[CI] SharedClusterSnapshotRestoreIT.testAbortedSnapshotDuringInitDoesNotStart Fails"
Happened here:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/606/

[code]

fails with:

[code]

relates #38368 , #38226

------------------------

Seems like it's the same failure that happened was supposed to be fixed in #38368 but at a much lower rate.

[2019-02-06 07:33] alejandro-marques commented on #18391
Thanks for the suggestion @fhinze. I would still prefer something like the "preserve_position_increments=false" from completion suggester, but the "pattern_replace" filter combined with a "trim" one worked perfectly in order to remove those whitespaces left by stopwords.

[2019-02-06 07:36] consulthys opened #38494 "geo_shape queries not working anymore after upgrade to 6.6"
**Elasticsearch version**: 6.6.0 on ES Cloud

**Description of the problem including expected versus actual behavior**:

After upgrading from 6.5.4 to 6.6.0 on ES Cloud, none of our geo_shape queries work anymore. Moreover, it is not clear from the [6.6 breaking changes](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-6.6.html#_changed_default_literal_geo_shape_lit

[2019-02-06 07:47] javanna commented on #25951
Thanks for the detailed explanation. We've got other reports of issues caused by the max retry timeout, and the more I looked into it the more I realized that this timeout mechanism did not play well with the internals of the underlying http client that we rely on. I think it's better to rely on the different timeouts exposed by the http client directly and remove this additional mechanism that en

[2019-02-06 07:47] #25951 closed

[2019-02-06 07:48] javanna commented on #32724
This no longer applies, we have deprecated max retry timeout in 6.x, as well as increased its default value to 90 seconds (#38425) and removed it in 7.0 (#38085).

[2019-02-06 07:48] #32724 closed

[2019-02-06 07:49] oeelvik commented on #38494
I have the same problem but i was thinking it might be related to me using points_only in my mapping, but you can reproduce with no additional parameters than "type": "geo_shape"?

[2019-02-06 07:50] oeelvik commented on #38494
https://discuss.elastic.co/t/elasticsearch-6-6-0-geo-shape-query-on-old-documents-not-working-after-upgrade/166962/2

[2019-02-06 07:51] javanna commented on #31834
We have deprecated max retry timeout in 6.x, as well as increased its default value to 90 seconds (#38425) and removed it in 7.0 (#38085).

[2019-02-06 07:56] consulthys commented on #38494
Yes @oeelvik, in our mapping with have just `type: geo_shape` and `geo_shape` queries stopped working just after the upgrade.

[2019-02-06 07:57] shoaib4330 commented on #32949
Is someone working on it? The issue is still open, I plan on working on int.

[2019-02-06 08:35] spinscale commented on #38482
can you stop/start watcher and see if the problem goes away? There is a state issue hidden in watcher when shards are relocating. Can you to the latest version and see if that happens again?

For more info, see https://github.com/elastic/elasticsearch/pull/33167

[2019-02-06 08:45] original-brownbear commented on #38489
Seems like a problem with the mock repository block.

If I put a sleep before the busy assert:

[code]

it fails every time, seems the snapshot is deleted already even without unblocking the master node in the next lines:

[code]

[2019-02-06 08:58] costin commented on #29987
With the histogram and interval support in 6.6 this issue has been superseded.

[2019-02-06 08:58] #29987 closed

[2019-02-06 08:59] costin commented on #35894
@eskibars thoughts about the above? would that impact you in any way? the global total/failed/successful metrics would still be available but the idea here is to have them also per feature.
Is this something you think it's worth doing?

[2019-02-06 09:08] elasticmachine commented on #38494
Pinging @elastic/es-analytics-geo

[2019-02-06 09:19] stevedodson commented on #29094
We (ML team) are currently investigating this as part of a deployment of supervised models into the ingest pipeline. I'll add more details as we move this forward.

[2019-02-06 10:05] costin commented on #38335
Might be a separate thing but maybe it makes sense to raise an issue with asciidoctor - I'm curious why it isn't supported considering in general asciidoctor > asciidoc; I would assume there's some technical challenge in place?
Just curious I guess.
Anyway, is there anything the SQL team can do to help out with this issue?

[2019-02-06 10:08] #29983 closed

[2019-02-06 10:22] matriv opened #38501 "SQL: Enhance check for text fields without underlying keyword"
For functions/operators than cannot operate on `text` fields move the validation that's currently happening in places like `QueryTranslator` to `resolveType()`.
Also avoid throwing an Exception from `exactAttribute()->TextEsField.getExactField()` method call, but instead introduce new method that has a proper return type that can be used for the validation.

[2019-02-06 10:22] elasticmachine commented on #38501
Pinging @elastic/es-search

[2019-02-06 10:31] martijnvg opened #38502 "Remove 'template field' from parsing logic in IndexTemplateMetaData"
Parsing the `template` field has been deprecated a long time in `IndexTemplateMetaData.Builder.fromXContent(...)` method and should be removed.

Originates from: https://github.com/elastic/elasticsearch/pull/38448#issuecomment-460732375

[2019-02-06 10:32] elasticmachine commented on #38502
Pinging @elastic/es-core-features

[2019-02-06 10:49] jasontedor commented on #38487
I have #38483 opened for this which addresses this by ensuring the index will not be relocated once we start creating retention leases.

[2019-02-06 11:07] costin commented on #29981
This is implemented not through a direct function but a number of them:
`DAY_NAME(CAST("2017-12-05" AS DATE))` or similar.

@astefan can you please double check?
@matriv can you please confirm if the date functions work on date (not datetime) and if not, please open an issue.

Thanks,

/cc @gingerwizard

[2019-02-06 11:09] costin commented on #35745
@astefan can you please take a look at incorporating this into `MetricAggExtractor`? Thanks.

[2019-02-06 11:33] andrershov commented on #36881
No further feedback received. @FarmerLinT if you have the requested
information please add it in a comment and we can look at re-opening
this issue.

[2019-02-06 11:33] #36881 closed

[2019-02-06 11:55] matriv commented on #29981
@costin They should work: https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/sql/qa/src/main/resources/date.csv-spec#L72

[2019-02-06 11:57] JohnLyman commented on #38454
Yes, that's exactly what I was thinking.  It would allow for a more generic index template for ILM-related indices, instead of (for example) having to define new templates each time a new version of beats is released in our environment.

[code]
 vs.
[code]

[2019-02-06 12:55] #38487 closed

[2019-02-06 13:15] pgomulka opened #38511 "Refactor the nowInMillisResolution in a common place"
depending on the underlying hardware and the JVM version the Clock.system(zone) can return a time with different resolution. `ZonedDateTime` is using that under the hood
This was changed from in jdk>8
We are already doing this in watcher, ML, sql tests. Worthy to extract in a single place.

sql https://github.com/elastic/elasticsearch/pull/36877/files
watcher https://github.com/elastic/elasticsear

[2019-02-06 13:15] elasticmachine commented on #38511
Pinging @elastic/es-core-infra

[2019-02-06 14:11] nik9000 commented on #38335
I've opened it with them and they aren't too keen on it from a "this'll break things" and a "this'll slow it down" standpoint. They've left it open but I don't think I'll get an extension point to implement it any time soon.

If you'd like to rewrite the bits that use an inline callout that'd be great! We'd need to backport those changes "all the way" to zap all of the callouts. That is actually f

[2019-02-06 14:15] jmaupin82 commented on #38494
I ran into this as well. The mappings I made with a non-default geo mapping still worked after the upgrade but all geo_shape default types were broken until I reindexed to a new index. That might be a workaround in the mean time depending on the size of your index.

To elaborate the mapping type : `{
            "type" : "geo_shape",
            "tree" : "quadtree",
            "distance_error_pct

[2019-02-06 14:19] #38424 closed

[2019-02-06 14:24] costin commented on #29981
Thanks. Closing this down.

[2019-02-06 14:24] #29981 closed

[2019-02-06 14:24] consulthys commented on #38494
@jmaupin82 thanks for the feedback.
Reindexing is not an option for us right now as it would take days. Hopefully, 6.6.1 will fix this issue.

[2019-02-06 14:32] matriv commented on #38424
@paulcarey Thanks for reporting! The fix will be available in the releases marked by the version labels in the issue and the relevant PR.

[2019-02-06 14:39] DaveCTurner commented on #38106
We discussed this, and generally agreed that periodically logging a message indicating why the cluster has not recovered its state yet would be good. We [already emit a periodic log message when there is no master](https://github.com/elastic/elasticsearch/blob/bda591453cc4cfc076eb2bccc4b96877f27f393c/server/src/main/java/org/elasticsearch/cluster/coordination/ClusterFormationFailureHelper.java) an

[2019-02-06 15:16] andrershov commented on #37539
The caption mentions `DiscoveryDisruptionIT#testElectMasterWithLatestVersion`, but exception provided in description relates to a different test `MasterDisruptionIT.testVerifyApiBlocksDuringPartition`.
Moreover, build links no longer work.
DiscoveryDisruptionIT#testElectMasterWithLatestVersion actually was failing several according to Kibana, and the latest failure (with logs still available) http

[2019-02-06 15:38] DaveCTurner commented on #38406
We discussed this as a team and decided that supporting colons in setting names would be trappy so we'd rather not make this change. We'll document this restriction.

We discussed ideas for supporting colons in the tags used in EC2 discovery without adding too much extra overhead for today's colon-free tags. One possibility might be to tie the tag name and value together with an "internal identifi

[2019-02-06 15:43] elasticmachine commented on #35941
Pinging @elastic/es-core-features

[2019-02-06 15:43] #35941 closed

[2019-02-06 15:55] cbuescher opened #38520 "Improve reproducability of HistoryIntegrationTests"
While fixing and issue in HistoryIntegrationTests#testThatHistoryContainsStatus in https://github.com/elastic/elasticsearch/pull/38505 it became clear that the initial issue wasn't reproducible using just the random test seed because it uses some current System time via the ClockMock. Ideally we should be able to reproduce issues by supplying just the test seed when re-running the test.
I'd like o

[2019-02-06 15:55] elasticmachine commented on #38520
Pinging @elastic/es-core-features

[2019-02-06 16:06] polyfractal commented on #38494
Hey all, thanks for the bug report!  I can confirm this is a bug, and happens on a non-cloud install as well.  We did some digging and the problem, while it coincides with the new BKD-based geoshapes, it's actually a tangential bug.

Pre-6.6, the default `geo_shape` tree was a `geohash`.  For a [long time](https://github.com/elastic/elasticsearch/issues/25833) we have wanted to change that to `qua

[2019-02-06 16:10] consulthys commented on #38494
Awesome, thanks @polyfractal for looking into this! Do you think this fix will go into 6.6.1?

[2019-02-06 16:25] andrershov opened #38522 "Some Elasticsearch CLI tools should write logs to the log file"
Currently, all Elasticsearch CLI tools are writing logs to the console.
This might be ok for the tools that are not doing destructive actions to data or metadata being stored in the cluster.
However, tools like `elasticsearch-node` and `elasticsearch-shard` can perform destructive actions.
These tools warn the user about data loss, but they leave no traces about the execution fact in the log files

[2019-02-06 16:27] sdavids13 opened #38523 "Create an API to manage synonyms"
We would like the ability to manage synonyms via an API call instead of relying on putting a file down on all of the elasticsearch nodes or specifying in-line synonym in the analysis chain of a new index which isn't updatable. Ideally this would work similarly to Solr's ["Managed Resource Filters"](https://lucene.apache.org/solr/guide/6_6/managed-resources.html) which allows the ability to modify

[2019-02-06 16:35] elasticmachine commented on #38523
Pinging @elastic/es-search

[2019-02-06 19:45] jaymode opened #38535 "Add enabled status of api key and token services to security feature set"
As other applications start to build features against the OAuth2 tokens and the API Keys, we should offer a way for the application to determine if these services are enabled. We already have the feature set api, which provides an easy way to expose whether these services are enabled or not.

[2019-02-06 19:45] elasticmachine commented on #38535
Pinging @elastic/es-security

[2019-02-06 21:23] mayya-sharipova commented on #36598
This was addressed in #36742

[2019-02-06 21:23] #36598 closed

[2019-02-06 21:46] not-napoleon commented on #37543
I've done some digging into this one, and I'm pretty sure it's the same issue in #37469 and #32369.  I haven't yet traced where the specific leaked threads are being created, or why they only sometimes leak.

[2019-02-06 22:16] ialidzhikov opened #38541 "Translog size is larger than the default index.translog.flush_threshold_size of 512mb"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 6.5.4

**Plugins installed**: []

**JVM version** (`java -version`): jdk-11.0.1

**OS version** (`uname -a` if on a Unix-like system): `Linux 4.14.88-coreos #1 SMP Mon Jan 7 23:48:02 -00 2019 x86_64 x86_64 x86_64 GNU/Linux`

**Description of the problem including expected versus actual behavior**:

[code]

[code]

[2019-02-06 22:46] nknize commented on #38494
I was able to reproduce the bug and @polyfractal is correct. The default tree for the Prefix Trees was switched to `quadtree` and the backcompat version check was not added. We should be able to get this in for the bug fix release.

[2019-02-06 22:55] jasontedor commented on #38541
Flushing no longer means that the translog is truncated to be below 512 MB. Rather, flushing is now about reducing the amount of uncommitted data on disk, so that that data is now also permanently stored in Lucene. However, we continue to retain additional translog storage to assist with operation-based peer recoveries. You can see in the [docs](https://www.elastic.co/guide/en/elasticsearch/refere

[2019-02-06 22:55] #38541 closed

[2019-02-06 23:40] nzrutman commented on #9513
Understanding that this q is 4 years old, but in case anyone else ends up back here...

Lustre does/has supported flock; it just requires a client mount option:
 - localflock, which only keeps locking on the local client node and is sufficient for applications that only run on a single node
- flock, which adds locking between applications on different clients mounted with this option. This is if y

[2019-02-07 00:13] dakrone commented on #38428
I am able to reproduce this after running the tests thousands of times at once. I'm still looking into the cause.

[2019-02-07 02:42] andyb-elastic commented on #36001
Ran this test class in a loop a couple hundred times and wasn't able to reproduce. It looks like there was a [about a month-long period](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-1y,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'class:org.elasticsearch.

[2019-02-07 04:55] vishnugt commented on #38106
I would like to work on a PR to add this feature.

[2019-02-07 06:56] astefan commented on #37271
@joaquinfernandez131 we don't have a definitive plan for it, but it's likely to be implemented sometime in the future, if no technical reasons against it will arise.

[2019-02-07 07:22] ialidzhikov commented on #38541
@jasontedor , I cannot understand your explanation. The docs says that `index.translog.retention.size` is _The total size of translog files to keep_ and _Defaults to 512mb_, in my case the translog files are going beyond the limit.

[2019-02-07 07:42] ialidzhikov commented on #38541
Also the translog file sizes are not being calculated as part of the total index size:
[code]

The index size is `4.2G` but on the fs it takes `5.8G` because of the translogs.

[2019-02-07 09:17] andrershov commented on #37685
[code]

After that constantly repeating exceptions from `CoordinatorPeerFinder`:
[code]

And just in 16 seconds, `ClusterApplierService` is actually applying the state:
[code]

If we look at the code, the only thing happening between `cluster state updated` and `applying cluster state` is checking node availability from the cluster state.
In this case, the check should return immediately with an e

[2019-02-07 09:42] atorok opened #38556 "Act on version 8 related asserts"
We have  a number of assertions for checking that we did not pump to version 8 yet.
I am in the process of muting them thus this issue to track them.
This is necessary so we can merge #38514 and get builds going.

- `ResyncReplicationRequest`, `MetaDataCreateIndexService`, `RemoteClusterAware` and `RemoteClusterAware` added by @jasontedor
- `MetaStateService` added by  @andrershov

[2019-02-07 09:42] martijnvg opened #38557 "Remove bwc state loading logic in MetaStateService"
As part of preparing master for 8.0 (#38514), the assertions were disabled in `MetaStateService#loadFullStateBWC(...)` were disabled.

In an effort to make 8.0 build pass quickly, however looking at this issue, besides removing the mentioned method and loading just an empty manifest if there is none, also some tests need to change. For example `RecoveryWithUnsupportedIndicesIT#testUpgradeStartClus

[2019-02-07 09:42] elasticmachine commented on #38557
Pinging @elastic/es-distributed

[2019-02-07 10:25] martijnvg commented on #38557
Closing in favor of #38556

[2019-02-07 10:25] #38557 closed

[2019-02-07 10:35] elasticmachine commented on #38556
Pinging @elastic/es-core-infra

[2019-02-07 11:02] pgomulka opened #38560 "Safely register ClusterStateListener"
This is a follow up from https://github.com/elastic/elasticsearch/issues/37861 discussed on core-infra sync meeting on 6th of Feb19 . See the original issue for reasoning behind this.

The goal is to find usages of `ClusterStateListener` and make sure it is not publishing its `this` reference during construction. There might be multiple possible ways to fix that.
The easiest fix is to just extract

[2019-02-07 11:02] elasticmachine commented on #38560
Pinging @elastic/es-core-infra

[2019-02-07 11:03] costin opened #38562 "SQL: support `date_nanos` data type"
Dates with nanoseconds precision are now supported in ES and a new data type has been introduced (`date_nanos`).
SQL needs to support this type - likely, not by adding a different type (at least for the user) but by extending the precision of a particular date.

[2019-02-07 11:03] elasticmachine commented on #38562
Pinging @elastic/es-search

[2019-02-07 11:11] pgomulka commented on #37861
closing as the meta issue for refactoring has been created

[2019-02-07 11:11] #37861 closed

[2019-02-07 12:24] droberts195 opened #38567 "6.7 date mappings using Java time formats lose `8` prefix"
Version 6.7 supports using Java time formats for dates if they are prefixed with `8`.

It appears that when such formats are used in mappings the `8` prefix gets lost, and hence the Java time format is interpreted as a Joda time format, leading to exceptions or incorrect parsing.

To reproduce:

* Run Elasticsearch 6.7
* Create an index as follows:

[code]

* Look in the log file - you will see th

[2019-02-07 12:24] elasticmachine commented on #38567
Pinging @elastic/es-core-infra

[2019-02-07 12:32] droberts195 commented on #38567
The response from the creation request is `{"acknowledged":true,"shards_acknowledged":false,"index":"airline_data"}`, so I suspect that the mappings are reserialised and unserialised when sending to the shards, and it's this reserialisation of the mappings that loses the `8`.

[2019-02-07 13:55] polyfractal commented on #35767
@imotov since #36477 merged into `geosql`, can/should this be closed?  Or are we waiting until `geosql` merges into `master`?

[2019-02-07 14:30] matriv opened #38571 "SQL: StackOverflow circuit breaker kicks in for IN with a long list of numbers"
Long list of numbers (positive and negative) inside `IN` kicks in when 200 numbers are encountered.
This shouldn't be the case as constants (numbers or strings) don't contribute to the increase of the stack.

[2019-02-07 14:30] elasticmachine commented on #38571
Pinging @elastic/es-search

[2019-02-07 15:10] Zamiell opened #38573 "API passwords over 72 characters are truncated to 72 characters"
Greetings,

I'm filing a bug report here as advised by Josh Bressers in Elastic Product Security.

By default, ElasticSearch uses [bcrypt](https://en.wikipedia.org/wiki/Bcrypt) in order to hash the passwords that it receives. One limitation of this algorithm is that it limits the input to 72 bytes. In practice, what this means is that any password submitted with over 72 ASCII characters is truncat

[2019-02-07 15:52] atorok opened #38575 "core.ml.calendars tests failing after version bump"
After doing the version bumps in #38513 we have these failures locally:
[code]
Going to mute them to unblock the team.

[2019-02-07 15:59] #38575 closed

[2019-02-07 15:59] droberts195 commented on #38575
This is fixed in master by #38506, but the 7.x and 7.0 PRs are not merged yet.

[2019-02-07 16:00] droberts195 commented on #38575
If you mute in 7.0 and 7.x only then I will unmute in #38516 and #38517 before I merge them.

[2019-02-07 16:31] jasontedor commented on #38272
@original-brownbear Can you take a look?

[2019-02-07 16:38] krisavi opened #38578 "Elasticsearch 7.0.0-alpha2 elasticsearch-plugin \Common is not expected at this time."
**Elasticsearch version**
Version: 7.0.0-alpha2, Build: unknown/unknown/a30e8c2/2018-12-17T12:33:32.311168Z, JVM: 1.8.0_172

**JVM version**
java version "1.8.0_172"
Java(TM) SE Runtime Environment (build 1.8.0_172-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.172-b11, mixed mode)

**OS version**
Windows Server 2012 R2 Datacenter

**Description of the problem including expected versus actual be

[2019-02-07 16:38] elasticmachine commented on #38573
Pinging @elastic/es-security

[2019-02-07 16:46] krisavi commented on #25525
Maybe should be reopened. Same issue in 7.0.0-alpha2. Documentation states that it should be possible in 7.0.0
[code]

[2019-02-07 16:46] elasticmachine commented on #38578
Pinging @elastic/es-core-infra

[2019-02-07 16:47] mayya-sharipova commented on #32949
@shoaib4330 Sorry, we have a stalled PR opened for it. I think we will just finish that PR.

[2019-02-07 17:01] krisavi commented on #38578
Tracing it a bit down the rabbithole, it seems there is issue with elasticsearch-env.bat
When running elasticsearch-cli.bat manually last rows are:
[code]
These are coming from elasticsearch-env.bat

[code]
There seems to be extra " before %JAVA% and also one after "org.elasticsearch.tools.launchers.TempDirectory"
Since inner quotation is not escaped, it will cause problems with starting and endin

[2019-02-07 17:03] original-brownbear commented on #38272
@jasontedor sure will do :)

[2019-02-07 17:09] eskibars commented on #35894
I'm not sure how much incremental value there is with this vs number of fields generated (field explosion).  I can't think of a lot of questions I could answer with this that I couldn't answer without it, but if there are ideas, let's chat about them.

[2019-02-07 17:23] droberts195 commented on #38575
@tbrooks8 FYI since you are on test triage today, it looks like @atorok cherry-picked my PR into #38513, so when that is merged it will fix these failures on the 7.x branch.

[2019-02-07 17:59] tbrooks8 opened #38581 "[CI] IndexActionTests.testIndexActionExecuteSingleDoc Fails"
2> REPRODUCE WITH: ./gradlew :x-pack:plugin:watcher:unitTest -Dtests.seed=CEACAAD7B7542031 -Dtests.class=org.elasticsearch.xpack.watcher.actions.index.IndexActionTests -Dtests.method="testIndexActionExecuteSingleDoc" -Dtests.security.manager=true -Dtests.locale=es-419 -Dtests.timezone=Africa/Abidjan -Dcompiler.java=11 -Druntime.java=11
FAILURE 0.05s | IndexActionTests.testIndexActionExecuteSingleD

[2019-02-07 18:04] tbrooks8 commented on #38581
It is possible that the fix for this is related to https://github.com/elastic/elasticsearch/issues/38511.

[2019-02-07 19:32] jakelandis commented on #29773
I imagine it is really unusual case that a user would actually add an overly restrictive auto_create_index value that passes the first 6 months, but fails for subsequent months. It is also not obvious, even with a wording change, that a warning about something that may happen in 6 months is of value.

I am +1 to simply remove this warning. (but keep the error)

[2019-02-07 20:05] 0x0badc0de commented on #18406
Got the same issue. Simplest way to get the exception:
[code]

This way everything is fine:
[code]

[2019-02-07 20:14] beaudet commented on #18406
Yeah, so I would wager that this is all part of the same issue with permissions on the tmpfs folder being used.  It would be nice for for ES to log this condition with much more verbosity and specificity to in order to cut down on the time spent by admins in diagnosing this problem.

[2019-02-07 21:09] pcsanwald commented on #35450
I've been trying to reproduce this issue by running the test suite in a couple different ways:

1. run each test in a loop with `tests.iter=1000`
2. run `ClusterClientIT` in a bash loop to try and replicate.
3. same as last step, but with `-Dtests.class=org.elasticsearch.client.*`, because looking at the output of [this failure](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+

[2019-02-07 21:14] jainankitk opened #38586 "Elasticsearch throws 503 SERVICE_UNAVAILABLE instead of 429 TOO_MANY_REQUESTS"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.3

**Plugins installed**: []

**JVM version** (`java -version`): 10.0.2

**OS version** (`uname -a` if on a Unix-like system): 4.14.62-65.117.amzn1.x86_64

**Description of the problem including expected versus actual behavior**:
Elasticsearch returns 503 SERVICE_UNAVAILABLE instead of 429 TOO_MANY_REQUESTS if EsRejectedExecutionExcept

[2019-02-07 21:30] original-brownbear commented on #38272
@ccoffey I just manually tried this out using Elasticsearch 6.3, following your exact steps.
I was able to reproduce the exact issue of the cache not refreshing without the DNS TTL manually adjusted, but unlike for you it was fixed by setting the TTL in the `java.security` file.
Also tried this out in `6.6` and it worked fine out of the box there as @jasontedor suggested

So as far I can see this

[2019-02-07 22:01] mayya-sharipova commented on #21418
@Razi007 sorry for a late reply.  Let me discuss the implementation details with my team

[2019-02-07 22:03] mayya-sharipova commented on #21418
This will introduce dependency on `org.apache.lucene:lucene-analyzers-smartcn` in the server code. I am not sure if we want to have this dependency.

[2019-02-07 22:23] elasticmachine commented on #26384
Pinging @elastic/es-core-features

[2019-02-07 22:26] mayya-sharipova commented on #22357
@evgenyfadeev This has already been implemented: deprecation starting with v 6.4, and removing the ability to index or query context suggestions without context from v 7.0

[2019-02-07 22:34] tbrooks8 opened #38588 "[CI] RetentionLeaseIT.testRetentionLeasesSyncOnRecovery Fails"
[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=zulu11,nodes=immutable&&linux&&docker/228/console

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8,nodes=immutable&&linux&&docker/228/console

https://elasticsearch-ci.elastic.c

[2019-02-07 22:59] jpcarey opened #38590 "Older .security template not cleaned up"
With a `5.6.9` elasticsearch upgraded to `6.4.2`, we do not cleanup older templates. In the `6.4.2` cluster, it had the `5.6.9` template (`security-index-template-v6`) . Both the new and old template have the same `order`. If you were to reindex the `.security` index, the older template's settings take priority.

<details>
  <summary>Older template</summary>

[code]
</details>

<details>
  <summar

[2019-02-07 23:11] elasticmachine commented on #38590
Pinging @elastic/es-security

[2019-02-07 23:21] robinjoseph08 commented on #38482
Thanks for the quick reply @spinscale!

What do you mean by stopping/starting watcher? Is there a way to do that without restarting nodes/disabling X-Pack?

And thanks for the linked issue, we'll try updating up to the latest v6 version and report back if that fixes anything!

[2019-02-08 04:25] spinscale commented on #38482
yes there is. Use the dedicated APIs mentioned at https://www.elastic.co/guide/en/elasticsearch/reference/6.5/watcher-api-stop.html and https://www.elastic.co/guide/en/elasticsearch/reference/6.5/watcher-api-start.html

[2019-02-08 08:17] elasticmachine commented on #38588
Pinging @elastic/es-distributed

[2019-02-08 08:17] elasticmachine commented on #38581
Pinging @elastic/es-core-features

[2019-02-08 08:34] dimitris-athanasiou commented on #38588
Another occurrence in `6.7`: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+multijob-unix-compatibility/os=sles-12/4/console

There is an open PR for muting this: #38589

[2019-02-08 10:09] martijnvg opened #38603 "FullClusterRestartIT#testSnapshotRestore failure"
Actual failure:

[code]

In the `FullClusterRestartIT#testSnapshotRestore` test, against a 7.0.0 node, the type of a index template is no longer included in the put index api's request body. Also `include_type_name` appears to be set, but the put index template api still fails with the fact that `_doc` is missing.

[code]

[2019-02-08 11:03] cbuescher commented on #38356
This job is still failing for the same reasons: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+packaging-tests/344/console

[2019-02-08 11:04] pgomulka commented on #38359
to be fair, this test does not adds more coverage.
The whole body could be replaced with just a call `dateTimeFormatter.formatMillis(timestamp);`
i will cover that scenario from failure in `DateFormattersTests`

[2019-02-08 11:16] cbuescher opened #38611 "[CI] ApiKeyIntegTests#testGetAndInvalidateApiKeysWithExpiredAndInvalidatedApiKey fails"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/688/consoleFull

Doesn't reproduce locally even with several runs so far:
[code]
Failure:
[code]

[2019-02-08 11:16] elasticmachine commented on #38611
Pinging @elastic/es-security

[2019-02-08 11:31] pgomulka commented on #38520
there is much more which that are covering code using `ZonedDateTime.now(..)` or `System.currentTimeMillis` or `System.nanoTime`
One solution would be to refactor all these calls to use `Clock` interface which would have to be injected and could be mocked for testing purposes.
The refactoring effort would be huge though

[2019-02-08 11:32] jkakavas commented on #38611
Closing this in favor of https://github.com/elastic/elasticsearch/issues/38408, it's tracked there already and I believe that @bizybot has an idea on how it can be fixed

[2019-02-08 11:32] #38611 closed

[2019-02-08 11:32] narmadham commented on #24903
Using 6.5.3 and still got the issue. It look good. Any work arounds?

[2019-02-08 11:38] jensfogh opened #38612 "Support for splitting segments across multiple locations"
I have some large indices, where ~70-80% of the storage is used by the stored fields (_source).
My idea is to use, something similar to lucenes [FileSwitchDirectory](https://lucene.apache.org/core/4_6_0/core/org/apache/lucene/store/FileSwitchDirectory.html) to move the stored fields file (.fdt) to another file location.

The indices is running in a cloud setup, thus the reason for wanting to move

[2019-02-08 11:44] dimitris-athanasiou commented on #36189
It appears like this also affect `6.7`: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+internalClusterTest/135/console.

I don't think we'll be merging `zen2` in `6.7`, so not sure what to do with this test. Any ideas?

[2019-02-08 11:49] cbuescher commented on #38408
@bizybot I saw you unmuted this test to get more logs, meanwhile it failed again at https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/688/consoleFull. Hopefully the logs contain some info you were looking for.

Since we're trying to stabilze master I muted it again in https://github.com/elastic/elasticsearch/pull/38614, please feel free to revert if you need to continue

[2019-02-08 11:52] original-brownbear commented on #36189
@dimitris-athanasiou yea the reason for this was somewhat obvious in the non-atomic way `zen1` used to handle some files here. I'll see what I can do to fix `6.x`, but I guess we should re-mute it in `6.7` for now.

[2019-02-08 11:57] dimitris-athanasiou commented on #36189
I've raised a PR to mute it

[2019-02-08 12:00] elasticmachine commented on #38612
Pinging @elastic/es-distributed

[2019-02-08 12:14] costin commented on #30051
The class has been reviewed and no issues were found, closing it.

[2019-02-08 12:17] cbuescher commented on #38489
Failed again to day on 7.0:  https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+internalClusterTest/139/console

[2019-02-08 12:22] dimitris-athanasiou opened #38617 "[CI] IndexFollowingIT.testIndexFallBehind some times failes on 6.7"
Build failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+internalClusterTest/137/console

Reproduce with:

[code]

Failure:

[code]

I managed to reproduce this locally by running:

[code]

It failed once in my first try.

[2019-02-08 12:22] elasticmachine commented on #38617
Pinging @elastic/es-distributed

[2019-02-08 12:29] cbuescher opened #38619 "[CI] Occasional failures WatchStatusIntegrationTests#testThatStatusGetsUpdated"
I got this failure locally on master, it reproduces after a few iterations with:

[code]

The error is:
[code]

This looks like another of the cases where the new java time formatting swallows trailing zeros. @pgomulka could you take a look, I remember reviewing https://github.com/elastic/elasticsearch/pull/38505 which looked similar.

[2019-02-08 12:29] elasticmachine commented on #38619
Pinging @elastic/es-core-features

[2019-02-08 12:30] droberts195 opened #38620 "[ML] ScheduledEvent takes and stores ZonedDateTime but then discards the timezone"
(Noticed while fixing #38506)

The `ScheduledEvent` class's constructor takes `ZonedDateTime` for both `startTime` and `endTime`.  However, when serialising both on the wire and as `XContent` it ditches the time zone and converts to an `Instant`.  It would make more sense to store `Instant`, take `Instant`s in the constructor and return `Instant`s from the accessors.  Then it would be completely c

[2019-02-08 12:30] elasticmachine commented on #38620
Pinging @elastic/ml-core

[2019-02-08 12:56] Mpdreamz commented on #38578
Thanks for reporting this @krisavi a quick reproduction failed on my end though.

Using `JAVA_HOME`: `"C:\Program Files\Java\jdk-11.0.1\bin\java.exe"`

[code]

Installs fine on my end. Both `ES_HOME` and `JAVA_HOME` having spaces in their paths.

Will try and mimic your environment more closely next

[2019-02-08 12:57] cbuescher commented on #38619
Muted on master, 7.x (779673c79265566ac670ad90b16059f37a752df3) and 7.0 (cfde3de0c6984662b0a964f02a5abb2539a3ded1)

[2019-02-08 13:07] Mpdreamz commented on #38578
Can reproduce if no `JAVA_HOME` is set and is inferred from the `java.exe` location in `PATH`.

[2019-02-08 13:12] jpountz opened #38623 "Remove the "xpack" namespace from the REST API"
@Mpdreamz noticed that some APIs still include the "xpack" namespace in their name. We should remove it. See https://github.com/elastic/elasticsearch/tree/7.x/x-pack/plugin/src/test/resources/rest-api-spec/api.

Relates #35958

[2019-02-08 13:12] elasticmachine commented on #38623
Pinging @elastic/es-core-infra

[2019-02-08 13:13] cbuescher commented on #38617
Another one on 7.0
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java8,nodes=immutable&&linux&&docker/4/console

[2019-02-08 13:18] cbuescher commented on #38617
Also muted this on 7.0 with b45923cb51a8e2517d625d01d184934962a93f04

[2019-02-08 13:24] #38511 closed

[2019-02-08 13:29] cbuescher commented on #38408
Another one: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu-16.04&&virtual/231/console
This should be muted now on master though.

[2019-02-08 13:38] Mpdreamz commented on #38578
Thanks again for reporting @krisavi I've opened https://github.com/elastic/elasticsearch/pull/38624 to address this applying your fix.

[2019-02-08 13:51] pgomulka commented on #38619
interestingly `WatchStatus.lastChecked` or `WatchStatus.lastMetCondition` are using a different formatting then `WatchStatus.state.timestamp` when converting `toXcontent`

The `lastChecked` and `lastMetCondition` are formatted using `XContentElasticsearchExtensions`
[code]
where DEFAULT_FORMATTER is `strict_date_optional_time_nanos`

Whereas `WatchStatus.state.timestamp` is using:
`WatcherDateTime

[2019-02-08 13:53] Mpdreamz commented on #38623
Opened https://github.com/elastic/elasticsearch/pull/38625 to address this.

[2019-02-08 13:58] spinscale commented on #38619
on top of my head I'd say we keep all on milliseconds, there is no need for any nanosecond granularity in watcher, as the date field is only in millisecond resolution anyway.

[2019-02-08 14:13] pgomulka commented on #38520
Also worth noting that for watcher tests this can be solved easier as there is already a mechanism to mocking clock from `AbstractWatcherIntegrationTestCase.timeWarp`
We could try at least refactoring this for watcher..

[2019-02-08 14:59] #38489 closed

[2019-02-08 15:07] vigyasharma opened #38629 "Random allocation for unassigned shards to prevent node replacement hotspots"
### The Problem
The `BalancedShardAllocator` in Elasticsearch balances shards across nodes using a weight function that works on two features -

* `weightShard`: Total number of shards on a node
* `weightIndex`: Number of shards on the node for the index being considered for move/allocation.

[code]

Here `weightIndex` prevents a concentrating same index shards on one node. This generally works fi

[2019-02-08 15:09] jkakavas commented on #38322
This should be resolved in https://github.com/elastic/elasticsearch/pull/38546

[2019-02-08 15:09] #38322 closed

[2019-02-08 15:32] jkakavas commented on #37379
This was muted again right after [05b2c80](https://github.com/elastic/elasticsearch/commit/05b2c8009f5f60d304989fd2ba739f8aa56dd9b5) to not cause any more CI issues. I will unmute with proper logging in the next few days ( once CI is stabilized) to see if this fails and get enough information to debug it

[2019-02-08 15:34] jpountz commented on #32323
Thanks for reporting this, I looked into it and this seems to be an unexpected side-effect of https://issues.apache.org/jira/browse/LUCENE-7679. I just opened https://issues.apache.org/jira/browse/LUCENE-8688 to discuss it on the Lucene side.

[2019-02-08 15:50] cbuescher opened #38633 "[CI] FollowerFailOverIT testFailOverOnFollower fails frequently"
This was once mentioned in https://github.com/elastic/elasticsearch/issues/33337 but since its
a different method and its not muted yet I'll open a separate issue to track it.

Latest failures eg: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/780/console

Doesn't reproduce locally, but this is the reproduction line
[code]

Errors in the log:
[code]
[code]

[2019-02-08 15:50] elasticmachine commented on #38633
Pinging @elastic/es-distributed

[2019-02-08 16:04] dimitris-athanasiou commented on #36556
This has happened again today in the `7.0` branch: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+multijob-darwin-compatibility/4/consoleText

Same failure:

[code]

Reproduce:

[code]

I'm reopening as might need more investigation @DaveCTurner

[2019-02-08 16:22] cbuescher commented on #38633
I muted this test method with #38634 on master, 7.x and 7.0

[2019-02-08 16:24] martijnvg commented on #37681
This test failed again, but this time with a different error:

[code]

It looks like some docs did not replica because shard following failed with this error:

[code]

[2019-02-08 16:37] astefan commented on #33987
master (8.0.0): https://github.com/elastic/elasticsearch/commit/75cb6b38ed67dc9d32c9291b0c174ffa94e473bc
7.x (7.1.0): https://github.com/elastic/elasticsearch/commit/6359d988f02c583231879c83bec016a822d450aa
7.0 (7.0.0): https://github.com/elastic/elasticsearch/commit/8cd20d1adcbb582183c98a3f3bd360477047e63d
6.7 (6.7.0): https://github.com/elastic/elasticsearch/commit/5fed91ee7f10b19154e8ea010e180e

[2019-02-08 16:37] #33987 closed

[2019-02-08 16:38] cbuescher opened #38635 "[CI] AnalysisModuleTests#testStandardFilterBWC fails on master"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java11,nodes=immutable&&linux&&docker/230/console

Reproduces locally on master with:
[code]

[code]

[2019-02-08 16:38] elasticmachine commented on #38635
Pinging @elastic/es-search

[2019-02-08 16:38] cbuescher commented on #38635
Will mute but it looks straigh-forward to fix, so I'll do that after muting.

[2019-02-08 16:45] jakelandis opened #38637 "Remove types from index templates for x-pack features"
The following x-pack features use templates with explicit mappings in the templates:

- [x] **Logstash Central Configuration** (~https://github.com/elastic/kibana/pull/30546~) (~https://github.com/elastic/logstash/pull/10421~) (~https://github.com/elastic/elasticsearch/pull/38653~)
- logstash-management.json
- [x] **Monitoring** (~#39888~) (blocked by ~https://github.com/elastic/elasticsearch/pull

[2019-02-08 16:45] elasticmachine commented on #38637
Pinging @elastic/es-search

[2019-02-08 16:45] elasticmachine commented on #38637
Pinging @elastic/es-security

[2019-02-08 16:45] elasticmachine commented on #38637
Pinging @elastic/es-core-features

[2019-02-08 16:54] jakelandis commented on #35190
I logged https://github.com/elastic/elasticsearch/issues/38637 to further address this point.

[2019-02-08 16:56] dakrone commented on #30559
Since this has not happened since last May, I think it's safe to close for now as a one-off. If it happens again we can re-open this.

[2019-02-08 16:56] #30559 closed

[2019-02-08 17:48] markharwood commented on #36001
Ran this test in a loop on 6.7 and could not reproduce the error or the warnings about still-running tasks.

[2019-02-08 17:52] rjpruitt16 commented on #32741
I would like to work on this if @dsheasley has abandon it. I am having a hard time compiling the project in intellij though. When I run gradle in the command line, it build successfully. When I try setup configuration to run gradle in intellij, it fails. Does someone have steps for compiling and running the project in intellij, or is there a better setup.

[2019-02-08 18:08] andrejbl commented on #38272
@original-brownbear - thanks for investigating this. Indeed, you are correct, the steps we performed above do fix the problem with infinite DNS caching and the real issue was with our repro setup.

However, the repro setup we used surfaced a different caching issue at another level. Namely, the error we observed:
[code]
is not the one we expected from a stale DNS entry caching bug, which would hav

[2019-02-08 18:17] almiche opened #38642 "Slowlog format different than regular logs"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.6.0

**Plugins installed**: []

**JVM version** (`java -version`):
http://docker.elastic.co/elasticsearch/elasticsearch:6.6.0 (Unchanged from within the image)

**OS version** (`uname -a` if on a Unix-like system): http://docker.elastic.co/elasticsearch/elasticsearch:6.6.0

**Description of the problem including expected versus actual be

[2019-02-08 18:48] polyfractal commented on #32827
Haven't been able to replicate this yet, but had a thought: could time of test run be affecting the `testQueryRewriteDatesWithNow` tests?  E.g. if the test run happens over midnight in the specified timezone, maybe one of the values is falling out of the range and affecting how the query is rewritten (and values that match)?

Perhaps the `gte` range could be rewritten to always go way past the las

[2019-02-08 18:51] dakrone commented on #30328
I tried reproducing this to pinpoint it, but I was unable to. Since we haven't had an occurrence since last May, I think it's safe to close.

Another note though, the original error mentions the .monitoring-es-* indices, however, these tests use the .monitoring-logstash-* indices.

[2019-02-08 18:51] #30328 closed

[2019-02-08 19:00] DaveCTurner commented on #36556
Thanks @dimitris-athanasiou. This failure was still a "CI just stopped doing stuff" issue but for just over a second which is kinda reasonable:

[code]

As this test is structured today we rely on that timeout being a bit sensitive, but I will think about some alternatives.

[2019-02-08 19:31] original-brownbear commented on #36813
I could reproduce this one with the seed from https://github.com/elastic/elasticsearch/issues/36813#issuecomment-460275993 (hundreds of runs though). Attached the logs of the failure here +  working on it now.
[full-logs.txt](https://github.com/elastic/elasticsearch/files/2846581/full-logs.txt)

[2019-02-08 19:35] jaymode opened #38646 "MockWebServer incompatible with HttpClient closing on TLSv1.3"
The MockWebServer used by certain tests is incompatible with the way that HttpClient closes connections, when TLSv1.3 is in use AND the entire response has not been consumed. The [HttpClient connection close code](https://github.com/apache/httpcomponents-core/blob/fb82948b2e3241ccb09501a0daaf646f4106d1b8/httpcore/src/main/java/org/apache/http/impl/BHttpConnectionBase.java#L314-L334) does some manu

[2019-02-08 19:49] mayya-sharipova commented on #32741
@rjpruitt16  please go ahead with working on this issue. We haven't heard from @dsheasley for a month.
About setting up Intellij, have you followed the steps [here](https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md#configuring-ides-and-running-tests)?

[2019-02-08 20:12] TrueBurn opened #38647 "Index lifecyle error"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.6.0, Build: default/deb/a9861f4/2019-01-24T11:27:09.439740Z, JVM: 10.0.2

**Plugins installed**:
discovery-ec2
ingest-geoip
ingest-user-agent
repository-s3

**JVM version** (`java -version`):
openjdk version "10.0.2" 2018-07-17
OpenJDK Runtime Environment (build 10.0.2+13-Ubuntu-1ubuntu0.18.04.4)
OpenJDK 64-Bit Server VM (build

[2019-02-08 20:21] tbrooks8 commented on #38100
My theory is that this test was failing in conjunction with `testIndividualActionsTimeout` because `testIndividualActionsTimeout` left bad state around when it failed. `testDocsAreRecovered` has been unmuted.

[2019-02-08 20:21] #38100 closed

[2019-02-08 20:50] costin opened #38650 "Ranges as sources for composite aggs"
Similar to their [histogram](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-composite-aggregation.html#_histogram) counter-part, composite aggs could be extended to support [ranges](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-range-aggregation.html) (numeric, date, ip) as a value source.

[2019-02-08 20:55] #37703 closed

[2019-02-08 21:09] dakrone commented on #38647
Hi @TrueBurn,

We reserve Github issues for feature requests and bug reports. The issue here is that you have set the alias setting to tell ILM which alias to use, but have not created the alias. You should create the index with the setting:

[code]

For the future, please use https://discuss.elastic.co for issues like this!

[2019-02-08 21:09] #38647 closed

[2019-02-08 21:35] ProgrammingBanana commented on #30077
Can I work on this?

[2019-02-08 21:42] original-brownbear commented on #36813
Figured out what's causing this.
The `assertBusy` in `org.elasticsearch.cluster.coordination.RareClusterStateIT#executeAndCancelCommittedPublication` randomly (every few 100 runs) takes 15s (pretty much exactly 15s every time) to pass.

Every time this happens the following is logged:

[code]

will figure where we're hanging tomorrow, but upping the timeout to say 1 minute would fix this test for

[2019-02-08 21:52] costin commented on #38306
The issue here is that the functions are identical however new ids get created when folding the argument so now the projection and the grouping don't match anymore.
This could potentially be solved by removing duplicated function or by keeping the grouping reference in place instead of copying it over.
However I think it might be solved better with the attribute narrowing.

[2019-02-08 22:21] talevy commented on #30914
@cbuescher do you remember any other context around this issue? It doesn't look like this was a problem in recent weeks, but all the existing build failure links 404.

[2019-02-08 22:42] andyb-elastic commented on #34013
I ran the tests for this doc page in a loop a couple hundred times and couldn't reproduce. [Here's the failures](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-1y,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'class:org.elasticsearch.smoketest.XDocsClientYam

[2019-02-08 23:27] dakrone commented on #37117
I spent all day trying to reproduce this, but I was unable to.

The only thing I could think of that would cause it was related to what @droberts195 says about thread visibility, specifically maybe making this:

https://github.com/elastic/elasticsearch/blob/431c4fd55e4f317312bb616c20518deb67e17180/server/src/main/java/org/elasticsearch/indices/IndicesQueryCache.java#L209

be `volatile` since that

[2019-02-08 23:41] jonaf opened #38654 "Metadata construction / put-mapping requests takes too long"
**Describe the feature**: ES should not take so long to update mappings when indexing with many aliases and dynamic mappings.

In #12202, @martijnvg made some changes/improvements to MetaData, constructing a SortedMap of indices and aliases when new instances of MetaData are built.

Recently, I began the work to upgrade from our current version of Elasticsearch (1.7.3) to the last release of 2.x (

[2019-02-09 00:47] #29607 closed

[2019-02-09 05:46] srensamblador commented on #31592
I think a footnote in the query would be nice. Fielddata tend to give newcomers a bit of trouble (regarding newcomer students' usual problems).

I could add it if you want

[2019-02-09 07:17] #38571 closed

[2019-02-09 07:28] #38308 closed

[2019-02-09 18:23] astefan opened #38666 "SQL: CurrentDateTests testHashCodeAndEquals failure"
Failure on 7.0, but also reproduceable on master: `gradlew :x-pack:plugin:sql:unitTest -Dtests.seed=6D841C50D30EB89E -Dtests.class=org.elasticsearch.xpack.sql.expression.function.scalar.datetime.CurrentDateTests -Dtests.method="testHashCodeAndEquals" -Dtests.security.manager=true -Dtests.locale=fi -Dtests.timezone=Chile/EasterIsland -Dcompiler.java=11 -Druntime.java=8`

[code]

[2019-02-09 18:23] elasticmachine commented on #38666
Pinging @elastic/es-search

[2019-02-09 21:40] #37807 closed

[2019-02-10 02:49] rjpruitt16 commented on #32741
Thank you for the help @mayya-sharipova. I am still having problems running the repo on intellij. I fork the repository, and ran ./gradlew idea, and the build fail. How do you work on elasticsearch? What is the path of least resistance?

[2019-02-10 13:57] original-brownbear opened #38672 "Reproducible Failure in SearchResponseMergerTests#testMergeShardFailures"
This fails 100% of the time for me locally and failed once on [CI] in a PR:

[code]

Failure:
[code]

CI link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-1/7926/console

[2019-02-10 13:57] elasticmachine commented on #38672
Pinging @elastic/es-search

[2019-02-10 14:49] redlus commented on #15975
I understand this is a bit more complex than tracking the progress of other tasks in the cluster, but even showing the number of indices which already finished (in a multi-index force-merge) and the number of data-structures (or doc_values) already processed would be nice. Is there any plan to add this functionality?

Thanks

[2019-02-10 14:56] jasontedor commented on #18406
@0x0badc0de That is not a reproduction of the issue at hand here. With `--tmpfs /tmp`, the resulting mount will be mounted with the `noexec` flag. That flag is not compatible with JNA as JNA needs to map the native libraries as executable. Note that the initial report here is about mounting `/tmp` with `noexec` yet specifying a custom `jna.tmpdir` for JNA (so that it doesn't use `/tmp`). In this c

[2019-02-10 14:57] jasontedor commented on #18406
If someone has a reproduction of any issues related to JNA please open a new issue instead of continuing on this long and old discussion. It will be easier to start fresh with new reports.

[2019-02-10 15:44] FlorianHeigl commented on #18406
@jasontedor:
This discussion is just so long and old because noone before you actually made the effort to accept this issue existed - from there to a perfect explanation that everyone can understand and act on it was less than an hour.
Thank you for that.

[2019-02-10 16:48] original-brownbear commented on #38672
Fixed incoming in #38673 I think

[2019-02-10 17:27] TommyWind commented on #32741
Sorry I started working on this last night and already opened a PR in #38675 , hope it's ok :)

[2019-02-10 19:25] cbuescher commented on #30914
@talevy I don't remember, if we don't currently see these issues anymore I think we can close this

[2019-02-10 23:16] tvernum opened #38676 "Support for (builtin) templated roles"
For a number of stack applications securiy administrators need to setup roles with a standard set of provileges over a customisable index pattern:

For example:
https://www.elastic.co/guide/en/beats/heartbeat/6.6/beats-basic-auth.html

Ideally we would ship that as a reserved role, but because the index pattern is not fixed (our ingest tools have customisible output indices) we can't do that.
It w

[2019-02-10 23:16] elasticmachine commented on #38676
Pinging @elastic/es-security

[2019-02-10 23:19] tvernum commented on #38676
As I was writing this up, it occurred to me that an alternative would be for this to be a UI convenience only, which would live in Kibana.
That is the "create new role" page in Kibana security management could have a way to prepopulate all the fields except for the index pattern.

That would mean we wouldn't offer a solution that's available through the ES API, but that might be OK.

[2019-02-11 01:01] tvernum opened #38677 "Add Argon2 support for password hashing"
We currently support configurable password hashing algorithms, for the native/reserved realms, API-keys, and for various caches.

[Argon2](https://en.wikipedia.org/wiki/Argon2) was the winning algorithm in the _Password Hashing Competition_, but we have not offered it as an algorithm due to the lack of a native Java implementation.

[BouncyCastle Release 1.16](https://www.bouncycastle.org/releasen

[2019-02-11 01:01] elasticmachine commented on #38677
Pinging @elastic/es-security

[2019-02-11 03:20] bizybot opened #38678 "Wildcard index templates can impact security index working"
Elasticsearch allows the creation of index templates using wildcards which may be applicable to security index. We have seen this happening time to time and when that happens, the settings and mappings from these templates may override our security index template. The changes can be catastrophic, impacting the security of the system. It is difficult to debug when this happens.

This issue exists t

[2019-02-11 03:20] elasticmachine commented on #38678
Pinging @elastic/es-security

[2019-02-11 03:27] jaymode commented on #38678
I really think these are the types of issues that drive the need for system indices as a concept within elasticsearch. I would love to see us put together a list of things that we’d like system indices to solve, this being one of them.

[2019-02-11 04:52] tpmccallum commented on #17006
Just pinging this conversation to point to a specific issue which requests that Elasticsearch commences support for Ethereum blockchain data types. Namely uint256 (2 ^ 256 -1)
https://github.com/elastic/elasticsearch/issues/38242

[2019-02-11 05:46] tvernum opened #38685 "Version qualifier in main response breaks testLuceneVersionConstant"
In https://github.com/elastic/elasticsearch/pull/35412 we added the `-SNAPSHOT` qualifier to the version in the response for the main action `GET /`

For example:
[code]

In 6.x the qualifier was not included:
[code]

This causes `VerifyVersionConstantsIT.testLuceneVersionConstant` to fail ([log](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+default-distro-bwc-tests/14/console)

[2019-02-11 05:46] elasticmachine commented on #38685
Pinging @elastic/es-core-infra

[2019-02-11 05:47] tvernum commented on #38685
@atorok I assign this to you since it stems from your qualifier changes, so I thought you'd be best placed to decide which fix is most appropriate.

[2019-02-11 07:03] cyberhuman opened #38692 "Precision loss of include/exclude filter values in terms aggregation"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.4.2

**Plugins installed**: []

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:
When trying to filter the values for which buckets are created when using terms aggregation on a long field, it's not possible t

[2019-02-11 07:04] tvernum opened #38693 "[CI] HistoryIntegrationTests.testThatHistoryContainsStatus failures"
Test fails reproducibly.
CI failed on Java 12, but it reproduces on Java 11 for me.

From: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=openjdk12,nodes=immutable&&linux&&docker/235/console
[code]

Relates: #38505, #27330

[2019-02-11 07:04] elasticmachine commented on #38693
Pinging @elastic/es-core-features

[2019-02-11 07:05] atorok commented on #38685
Thanks @tvernum looks like this is happening on `7.x` . We fixed in on master in #38514 but looks like it didn't make it to `7.x`.

[2019-02-11 07:21] martijnvg opened #38695 "LocalIndexFollowingIT#testRemoveRemoteConnection failure"
[code]

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/940/console

[2019-02-11 07:21] elasticmachine commented on #38695
Pinging @elastic/es-distributed

[2019-02-11 07:54] #38359 closed

[2019-02-11 08:13] pgomulka commented on #38693
should be fixed by https://github.com/elastic/elasticsearch/pull/38626

[2019-02-11 08:20] pgomulka commented on #38693
but might as well change this to use a formatter that it uses during toXContent (as per comment https://github.com/elastic/elasticsearch/issues/38619#issuecomment-461809234)
[code]

[2019-02-11 08:32] Alsheh opened #38699 "S3 Repository Plugin Fails with S3 Object lock"
**Elasticsearch version**: `docker.elastic.co/elasticsearch/elasticsearch:6.6.0`
**Plugins installed**: [S3 repository plugin]
**Description of the problem including expected versus actual behavior**:
The S3 repository plugin fails to snapshot indices for an S3 bucket when enabling Object lock with Governance or Compliance mode.

**Reason**:
[code]

**Steps to reproduce**:
1. Create S3 bucket.
2.

[2019-02-11 08:41] martijnvg commented on #38695
Another variant of this test failing is:

[code]

With a warning happening earlier:

[code]

I suspect that this warning is the reason why this assertion fails.

[2019-02-11 09:15] #37826 closed

[2019-02-11 09:19] #38635 closed

[2019-02-11 10:22] elasticmachine commented on #38650
Pinging @elastic/es-analytics-geo

[2019-02-11 10:23] elasticmachine commented on #38654
Pinging @elastic/es-search

[2019-02-11 10:26] atorok commented on #38685
back-ported to  both `7.x` and `7.0`

[2019-02-11 10:26] #38685 closed

[2019-02-11 10:26] elasticmachine commented on #38692
Pinging @elastic/es-analytics-geo

[2019-02-11 10:29] pgomulka opened #38705 "Failing JsonThrowablePatternConverterTests.testStacktraceWithJson"
[code]

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(branch,message),filters:!(),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:kuery,query:%27class.keyword%20:%22org.elasticsearch.common.logging.JsonThrowablePatternConverterTests%22%27),sort:!(time,desc))

[2019-02-11 10:29] elasticmachine commented on #38705
Pinging @elastic/es-core-infra

[2019-02-11 10:32] synFK opened #38707 "Reindex automatic type conversion failure"
**Elasticsearch version**: 6.6.0

**Plugins installed**: []

**JVM version**: 1.8.0_191

**OS version**: Linux 4.4.0-116-generic #140-Ubuntu SMP x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
When using the Reindex API and an explicit mapping on the destination index the automatic type conversion fails.
(Remote) Source cluster runs Elasticsearch 2.4.5.

[2019-02-11 10:35] spinscale commented on #38567
I think I know what happens here: The `DateFieldMapper.toXContent()` method writes out the pattern of the formatter in the `format` field. This pattern will just include a format or the name of the pattern, but never the `8` prefix - which it has to include.

[2019-02-11 10:35] yaronp68 commented on #29715
@ycombinator seems like this issue still happens on docker based installation. Can we help with this issue?
Also seems to be common enough to have comments in the beats configuration for proxy settings

[2019-02-11 10:38] atorok opened #38708 "Branch consistency fails in verifyVersion"
[code]

[2019-02-11 10:38] elasticmachine commented on #38708
Pinging @elastic/es-core-infra

[2019-02-11 10:46] matriv commented on #38692
It's reproducable on `6.4.2`.

[2019-02-11 10:52] elasticmachine commented on #38699
Pinging @elastic/es-distributed

[2019-02-11 10:56] elasticmachine commented on #38642
Pinging @elastic/es-core-infra

[2019-02-11 10:58] elasticmachine commented on #38629
Pinging @elastic/es-distributed

[2019-02-11 11:02] elasticmachine commented on #38707
Pinging @elastic/es-analytics-geo

[2019-02-11 11:17] matriv commented on #36472
Closed via #38661

[2019-02-11 11:17] #36472 closed

[2019-02-11 11:22] jimczi commented on #10005
Elasticsearch 7.0 will include a [`date_nanos`](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/date_nanos.html) field type that handles nanoseconds sorting precision:
https://github.com/elastic/elasticsearch/pull/37755
Nanoseconds precision field is now a first class citizen that doesn't require two fields to retain precision so I will close this issue, please open new ones if you fin

[2019-02-11 11:22] #10005 closed

[2019-02-11 11:35] albertzaharovits opened #38711 "SmokeTestMultiNodeClientYamlTestSuiteIT 20_mix_typeless_typeful"
Repeated non-reproducible failures about creating a typeles index with typed template, stragely enough all on amazon's JDK 😒
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+corretto-periodic/ES_BUILD_JAVA=java11,label=amazon/10/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+corretto-periodic/ES_BUILD_JAVA=java11,label=amazon/107/console
https://elast

[2019-02-11 11:35] elasticmachine commented on #38711
Pinging @elastic/es-core-features

[2019-02-11 11:42] legrego commented on #38676
APM could benefit from this too, as they are in a similar position: We are providing an APM reserved role with privileges against the `apm-*` index pattern, but end-users are allowed to change the index pattern used to store their data.

[2019-02-11 11:58] cbuescher commented on #38188
This also reproduces on current master (5e71102562b5b19940a628074a0de9de5faf43a1). I'm suprised the failure only reproduces with the given seed (D68E75796C96A039) but not with a lot of other random seeds. I didn't expect that from a test related to the documentation.

[2019-02-11 11:59] #38666 closed

[2019-02-11 12:06] droberts195 commented on #37117
Thanks for looking at this @dakrone.  I agree that `int count` in `StatsAndCount` not being `volatile` is a likely cause of the problem.

I just had a look at the base class, `LRUQueryCache` in Lucene, and it has the following comment:

[code]

So I guess the base class either had the same problem at one point or else its original author realised the potential problem with visibility of changes.

[2019-02-11 12:07] cbuescher commented on #38188
After diving into the DocClientYamlTestSuiteIT a little furhter, this is explainable by CompareAnalyzers#execute testing the analyzers with a random unicode sequences separated by spaces.

[2019-02-11 12:17] romseygeek commented on #37117
The super methods of both assert that the current thread holds the cache's lock, so I think the behaviour here is fine.

+1 to making `StatsAndCount.count` volatile

[2019-02-11 12:26] droberts195 commented on #37117
I opened #38714 to do this

[2019-02-11 12:30] atorok commented on #38581
This failed again in intake : https://elasticsearch-ci.elastic.co/view/Elasticsearch/job/elastic+elasticsearch+master+intake/1935/console

[2019-02-11 12:37] pgomulka commented on #38581
I mute that in master, 7.0 and 7.1 until fixed

[2019-02-11 12:48] matriv opened #38717 "SQL: Implement postgres compatible `::` cast operator"
PostgreSQL has an alternative way to cast fields/literals/functions to another data type apart from `CAST <field/literal/function_call> AS <data_type>`, which is the `::` operator: `<field/literal/function_call>::<data_type>. It would be nice to implement this as it enhances user experience and can result in more compact queries.

[2019-02-11 12:48] elasticmachine commented on #38717
Pinging @elastic/es-search

[2019-02-11 12:57] pgomulka commented on #38642
@almiche I am looking into this, can you please provide log samples or screenshots?

[2019-02-11 13:20] elasticmachine commented on #38707
Pinging @elastic/es-distributed

[2019-02-11 13:21] jasontedor opened #38718 "Prevent CCR followers from falling fatally far behind"
A leader shard currently does not provide any guarantees on whether or not it will retain the history that a following shard needs to replicate operations from the leader to the follower. It can happen under normal circumstances and also under error scenarios (network connections are broken, follower goes offline, etc.). In either case though, it is fatal for the follower and the only recourse is

[2019-02-11 13:21] elasticmachine commented on #38718
Pinging @elastic/es-distributed

[2019-02-11 13:23] astefan commented on #38666
master (8.0.0): https://github.com/elastic/elasticsearch/commit/29abbb8a590cdf4f9e0c0b447d6694bb7223648e
7.x (7.1.0): https://github.com/elastic/elasticsearch/commit/b3695750bc385b2b4734f9bdabb9a43b5e67d4b4
7.0: (7.0.0): https://github.com/elastic/elasticsearch/commit/8bf634c181d47db416214f29c4037051c6718ba1
6.7 (6.7.0): https://github.com/elastic/elasticsearch/commit/b5e0ad1f39d92314fda34d1004815

[2019-02-11 13:41] rjpruitt16 commented on #32741
@TommyWind how are you working on the project? What is your workflow?

[2019-02-11 14:07] almiche commented on #38642
@pgomulka I'll be adding those shortly. Thanks.

[2019-02-11 14:10] #38345 closed

[2019-02-11 14:11] mayya-sharipova commented on #38188
The problem with this symbol `\u200C` in a test string, that **SHOULD** be  substituted with space in the rebuilt Persian analyzer, but it is not.

Correcting this line `"mappings": [ "\\u200C=> "] <1>`  to `"mappings": [ "\\u200C=>\\u0020"] <1>`  in
[lang-analyzer](https://github.com/elastic/elasticsearch/blob/master/docs/reference/analysis/analyzers/lang-analyzer.asciidoc) solves the problem.

@

[2019-02-11 14:32] urso commented on #38676
We will also need `manage_ilm`.

[2019-02-11 14:41] atorok commented on #38188
This still fails on all branches: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+intake/38

[2019-02-11 15:00] #38672 closed

[2019-02-11 15:18] polyfractal commented on #31592
@lonlylocly @srensamblador I think this sounds like a very reasonable addition.  It's technically a problem for any aggregation, but tends to surface the most often on the Terms aggregation (due to dealing with text).

Please feel free to open a docs PR and we can see about adding something :)  Thanks!

[2019-02-11 15:20] almiche commented on #38642
@pgomulka I have updated the issue with a more accurate description and simpler example. Let me know if you have any further questions I can clarify :)

[2019-02-11 15:36] jakelandis commented on #38502
This should only be merged to 7.x since we have some internal clients on 6.x that still use the `template` field

[2019-02-11 15:46] #38188 closed

[2019-02-11 16:13] pgomulka commented on #38642
@almiche I can't see whole logs, but I think the problem is that you are not escaping your 'msg' field.
Slow logs most of the time have JSON as a message itself. The stacktrace also can be a problem for your pattern.
you can quickly fix that with. Let me know if that works
`appender.index_search_slowlog_rolling.layout.pattern = {\"source\":\"slowlog\",\"msg\":\"%enc{%m}{JSON} %enc{%throwable}{JSON

[2019-02-11 16:16] pgomulka commented on #38642
@almiche
Slow logs most of the time have JSON as a message itself. The stacktrace also can be a problem for your pattern as the message in an exception can contain the JSON. This applies to both console and slowlog appenders
You can fix that with escaping the message - sacrificing readability.
`appender.index_search_slowlog_rolling.layout.pattern = {\"source\":\"slowlog\",\"msg\":\"%enc{%m}{JSON}

[2019-02-11 16:18] joshdover opened #38740 "Trying to set a password in ES 8.0 fails for a security index that was created in 7.0"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 8.0.0-SNAPSHOT

**Plugins installed**: []

**JVM version** (`java -version`): openjdk version "11.0.2" 2019-01-15

**OS version** (`uname -a` if on a Unix-like system): Darwin Kernel Version 18.2.0

**Description of the problem including expected versus actual behavior**:

I should be able to update passwords for

[2019-02-11 16:19] elasticmachine commented on #38740
Pinging @elastic/es-security

[2019-02-11 16:21] pgomulka commented on #38642
you might also find helpful that in version 7 Elasticsearch will use JSON format in logs as well
https://www.elastic.co/guide/en/elasticsearch/reference/7.0/logging.html

[2019-02-11 16:23] rjernst commented on #37962
I think this should be a failure, not a warning. Could we detect this in the DateFieldMapper.parseCreateField method, checking nano seconds % 1000 equals 0?

[2019-02-11 16:23] romseygeek commented on #36012
@dougnelas does the conditional token filter solve your particular use-case?

[2019-02-11 16:37] talevy commented on #30914
OK. then I will go ahead and close this for that reason. If similar packaging test failures bubble up, we can re-open

[2019-02-11 16:37] #30914 closed

[2019-02-11 16:39] jakelandis commented on #38189
We discussed this briefly today in our team sync, and believe that best path forward here is to simply ensure we don't quotes inside quotes. Ideally use `[]` where applicable. Leaving this issue open until we are

* Confident that we got them all
* Have an assertion in `DeprecationLogger.deprecatedAndMaybeLog` to fail if we encounter escaped quotes

[2019-02-11 17:33] andrewvc commented on #38676
This is really great because this info currently lives in docs, where updating / testing these roles isn't ideal.

If we do add these roles it will be great if we can have QA tests that can validate that they actually work for a given product. Adding ILM, for instance, made the docs for beat responsibilities go out of date.

CC @LeeDr

[2019-02-11 17:57] #38494 closed

[2019-02-11 18:11] almiche commented on #38642
Looks like it's working perfect thanks alot @pgomulka

[2019-02-11 18:12] almiche commented on #38642
I will close the issue if that's alright since it's been resolved

[2019-02-11 18:12] #38642 closed

[2019-02-11 18:14] nknize commented on #38494
Merged and backported to all versions; including 6.6.1.

[2019-02-11 18:34] markharwood commented on #30101
Tried again on 6.7 and would not reproduce. Tried random seeds too

[2019-02-11 18:56] mayya-sharipova commented on #21418
We have discussed it on Fixit Friday, and it first requires investigation why smartcn_tokenizer doesn't use punctuation marks for tokenization.

@Razi007 Sorry, I don't  think this issue is a good as a fist issue, as it requires some investigation.

[2019-02-11 19:23] jdconrad commented on #36065
This looks like a repeat of (https://github.com/elastic/elasticsearch/issues/36782).  Closing this in favor of the other issue.

[2019-02-11 19:23] #36065 closed

[2019-02-11 20:23] jkakavas opened #38745 "[CI] SimpleClusterStateIT testIndicesOptions failures"
This has failed twice over the last week:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=immutable&&linux&&docker/223/console

and then again today in a PR

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-1/8010/console

The failure is the same:
[code]

but this doesn't reproduc

[2019-02-11 20:23] elasticmachine commented on #38745
Pinging @elastic/es-distributed

[2019-02-11 20:30] jimczi commented on #37962
We discussed this issue internally and agreed that an error should be raised. However we are concerned by the bwc of this change and more particularly by the impact that the deprecation could have. It is allowed in 6x to send a date that contains a microseconds part by default so we'd need to log a deprecation warning in this version (and for all indices created in 6x ?) for each document that con

[2019-02-11 20:42] TommyWind commented on #32741
@rjpruitt16

I'm not sure what exactly you're looking for here but a few tips that would've helped me get set up quickly :)

* I had to use a new version of Idea, `2018.3.4` to make things work.
* Run `./gradlew idea` before loading the code in Idea the first time. If you've already opened the project in Idea before maybe just clean up the folder using `git clean -dfx`.
* You need to have `JAVA_HO

[2019-02-11 20:47] brunoocasali opened #38746 "Sorting: text field with "missing": "_last" is not working properly with date orders."
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.4

**Plugins installed**:
[code]

**JVM version**:
[code]

**OS version**:
[code]

**Description of the problem including expected versus actual behavior**:

The "missing" query is not responding as requested, specially if used with a date field.

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the prob

[2019-02-11 21:08] mayya-sharipova commented on #32741
@TommyWind  thanks for suggestions
@rjpruitt16  what does ` ./gradlew idea` fails with?

[2019-02-11 21:18] LeeDr commented on #38676
@andrewvc Yes, very important.  I reported the ILM issue back on Dec 10th in Beats channel.

But this templated roles is a new concept that certainly has some merit.  Maybe the issue is that we don't let users modify the built-in roles.  Maybe if they could make a copy of a role and modify it.  That way we know they always have the built-in one with a fixed set of privs.

[2019-02-11 21:32] dakrone commented on #38711
I think this may have the same root cause as #38579, but I am investigating more to make sure.

[2019-02-11 21:42] polyfractal commented on #32492
I re-enabled the test and disabled caching, plus limiting the test to a single query per test run (to make reproduction clearer/easier... hopefully).

Going to close, again, please re-open if this fails again and I'll dive back into debugging.  FWIW, I haven't been able to reproduce at all despite hundreds of thousands of iterations :(

/me resets the days-since-failure counter

![image](https://u

[2019-02-11 22:01] andrewvc commented on #38676
@LeeDr ++ to any built-in roles being immutable and parameterize-able somehow.

[2019-02-11 22:13] dakrone commented on #37117
@droberts195 thanks for opening the PR, I'm going to close this and assume your fix worked (so we don't forget to resolve this). We can always re-open it if we see more of this failure.

[2019-02-11 22:30] rjpruitt16 commented on #32741
![screen shot 2019-02-11 at 3 28 03 pm](https://user-images.githubusercontent.com/9630880/52598033-e69ecf80-2e11-11e9-87be-09a1f190eee1.png)

org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':benchmarks'.
	at org.gradle.configuration.project.LifecycleProjectEvaluator.wrapException(LifecycleProjectEvaluator.java:79)
	at org.gradle.configuration.project.Lifecycle

[2019-02-11 22:42] talevy commented on #38745
I've opened #38752 to help us understand why this failed since all we know is that
the index was not closed:

[code]

[2019-02-11 22:54] dakrone commented on #30290
latest failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+internalClusterTest/370/console

[2019-02-11 23:23] pcsanwald commented on #35450
Still can't replicate the failures, which do stem from a lingering `.tasks` index, possibly from `MachingLearningIT` which does create a number of tasks, but also has `@After` hooks in place to clean up the indices.

There are two basic approaches I can think of to take this forward:
1) Find out where/how the `.tasks` index is getting created, and make sure it gets cleaned up correctly.
2) Update

[2019-02-11 23:58] talevy commented on #37469
closing in favor of: https://github.com/elastic/elasticsearch/issues/37469

[2019-02-11 23:58] #37469 closed

[2019-02-12 01:10] PhatBK opened #38759 "percentage calculation"
How can I customize the percentage calculation according to a data field?

[2019-02-12 01:51] wispxjtu opened #38760 "Empty"

[2019-02-12 02:03] nik9000 commented on #38335
I've been able to successfully backport back to 6.2. I'll work on continuing the backport of this soon!

[2019-02-12 02:24] tvernum commented on #38740
I can't reproduce this using the standard snapshots. I suspect it is something to do with the builds that  Kibana is running (there may still be a real bug, it's just that your listed reproduction steps aren't enough to trigger it).

I don't understand where this index name comes from: `.reindexed-v7-security-6`
That's not the name of the default security index, and I'm not aware of anything that

[2019-02-12 02:29] tpmccallum commented on #38242
Pinging @jpountz

[2019-02-12 03:27] jasontedor commented on #38760
We will handle in a [different channel](https://www.elastic.co/community/security).

[2019-02-12 03:27] #38760 closed

[2019-02-12 03:39] lcawl opened #38761 "Failures in elasticsearch-ci/oss-distro-docs"
The elasticsearch-ci/oss-distro-docs check is failing in 6.3.

In particular:

Returns the following failures:

Related to https://github.com/elastic/elasticsearch/pull/38005

[2019-02-12 03:39] elasticmachine commented on #38761
Pinging @elastic/es-docs

[2019-02-12 04:37] ApolloTheDeveloper commented on #29366
Hello, Can someone assign this to me? I would really like to contribute to this project.

[2019-02-12 05:12] jasontedor commented on #38759
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2019-02-12 05:12] #38759 closed

[2019-02-12 08:07] jkakavas commented on #37379
We unfortunately never got to the bottom of this. This had never failed in master and keeps on not failing so I will close it for now, and reopen if such a failure is encountered ever again.

[2019-02-12 08:07] #37379 closed

[2019-02-12 08:20] original-brownbear opened #38763 "Forbid allocate_empty_primary if Stale Copy Exists?"
Currently, it appears that if we have a stale copy of some unassigned shard on `node_a`, we can force allocate an empty primary on `node_b` and needless forgo the data that is still on `node_a`.

I think just like we [added a check](https://github.com/elastic/elasticsearch/pull/37226) for the existence of stale data on a node for `allocate_stale_primary` we should add a check for the non-existence

[2019-02-12 08:21] elasticmachine commented on #38763
Pinging @elastic/es-distributed

[2019-02-12 08:41] atorok commented on #32741
@rjpruitt16 make sure your java home paths are correct we run `bin/jrunscript` to check the jdk version.

[2019-02-12 08:42] #38581 closed

[2019-02-12 08:48] jimczi opened #38764 "[CI] RetentionLeaseIT.testRetentionLeaseSyncedOnRemove fails"
This test fails reproducibly in 6.7:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.7+internalClusterTest/404/console
[code]
The same test is working fine in master and 7x.

[2019-02-12 08:48] elasticmachine commented on #38764
Pinging @elastic/es-distributed

[2019-02-12 09:14] cbuescher commented on #38603
@martijnvg do you think this is fixed by #38604 and can be closed or does this need further investigation?

[2019-02-12 09:18] cbuescher commented on #36080
Since the logs are gone for this failure and its age I'm going to close this. There is not much to investigate here unless something similar occurs again.

[2019-02-12 09:18] #36080 closed

[2019-02-12 09:19] jpountz commented on #29366
For the record, I don't think this issue is a good first issue. You can search for issues with the "good first issue" label if you are looking for something to work on.

[2019-02-12 09:21] martijnvg commented on #37681
I made a [tweak](a0b69c6a6dd68279267b4546f3a9ad9220c0f38d) to `CcrIntegTestCase`, so that a clear cluster name is returned in the above exception message.

[2019-02-12 09:28] jpountz commented on #38242
Thanks for sharing this use-case. Lucene doesn't expose ways to efficiently index more than 16 bytes in a way that allows for efficient range queries so this isn't something that we can address in the short term. I'm leaving this issue open, at least for now, to see how much traction it gets. If this becomes a very common need we can start a discussion about raising this limit.

[2019-02-12 09:30] agonzalezgaliana commented on #30720
Tested again with version 6.6.0 with the same results. Would it be possible to know the current status? Is there a plan to fix the issue? Thanks.

[2019-02-12 09:30] martijnvg commented on #38603
@cbuescher No, that PR did not fix this test failure, it just muted this test. It fixed a helper method that fixed other tests in the `FullClusterRestartIT` test class. So this test still needs to be fixed.

[2019-02-12 09:32] elasticmachine commented on #38603
Pinging @elastic/es-search

[2019-02-12 09:35] droberts195 commented on #37117
This failed again in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+intake/61/consoleText with the same assertion failure:

[code]

Before the assertion failure on closing the query cache was this exception:

[code]

In other words, a search failed on one node as the cluster was being shut down because all the other nodes in the cluster were shut down and those other nodes had a

[2019-02-12 09:38] darefilz commented on #38707
By the way this issue applies also for `boolean` and all other numeric types.

[2019-02-12 09:39] #38378 closed

[2019-02-12 09:41] cbuescher commented on #38603
This seems to be muted only on 7.x so I assume the test runs correctly on 7.0 and/or is fixed otherwise on master.

[2019-02-12 10:00] fjbreeze commented on #38068
@costin I only set  `jdbcUrl= jdbc:es://http://192.168.1.81:9200` and `driverClass:org.elasticsearch.xpack.sql.jdbc.jdbc.JdbcDriver`, but throw ClientException  when i query. I didn't set any parameter like `serialization.format`

[2019-02-12 10:27] droberts195 commented on #35450
I am +1 on strategy 2.  It's best if each test just asserts on exactly what it changed rather than the whole cluster state.

It is quite possible that the ML tests in this suite are responsible for the `.tasks` index being created in between tests after all indices have been removed, meaning the next test starts with an index existing.  The ML production code cannot do anything about this, as it h

[2019-02-12 10:49] ccoffey commented on #38272
@original-brownbear I think you should re open this as there is still an issue here.

If you start Elasticsearch and you cannot reach S3, then this gets cached forever.

The way to test this is to simply edit `/etc/hosts` and make S3 unreachable before starting the Elasticsearch process.  You will then see the following error when you try to check snapshots

[code]

This is bad because if there ha

[2019-02-12 10:52] original-brownbear commented on #38272
@ccoffey sorry had a day off, back to this soon :) I'll investigate this soon. It could be we're caching the failed repository validation in some unfortunate way here.
=> Reopening + investigating soon.

[2019-02-12 11:09] pkazi commented on #37250
Can anyone share how to enable FIPS 140-2 in my JDK 8 for running with elasticsearch ?

[2019-02-12 11:19] elasticmachine commented on #38746
Pinging @elastic/es-search

[2019-02-12 11:20] markharwood commented on #38746
Hi Bruno.
Thanks for filing this.

In your example query and response I don't see an error?
The "missing text" part of your sort criteria is a secondary sort order so will be used as a tie-breaker if there are two documents with exactly the same date (which you don't have in your example response). Date is the primary sort order and without an example of docs with identical dates we are not exerci

[2019-02-12 11:56] droberts195 opened #38773 "[ML] Creating a new job fails if it's using a reindexed results index"
Steps to reproduce:

1. Install ES 5.x
2. Run a job
3. Do a full cluster restart update to ES 6.7
4. Install Kibana 6.7
5. In the migration assistant reindex all the indices created in 5.x into the 6.x format
6. Try to create a new job

The following error is the result:

[code]

After reindexing the output of `_cat/aliases` is this:

[code]

Instead of checking whether the required indices exist,

[2019-02-12 11:56] elasticmachine commented on #38773
Pinging @elastic/ml-core

[2019-02-12 12:16] astefan opened #38775 "SQL: validate the JDBC driver version to be the same as the server"
At the moment, only the CLI does the strict version matching between itself and the Elasticsearch server. We should do the same for the JDBC driver (ES server version needs to match the JDBC driver version).

[2019-02-12 12:16] elasticmachine commented on #38775
Pinging @elastic/es-search

[2019-02-12 12:19] #38127 closed

[2019-02-12 12:24] jimczi commented on #26701
@original-brownbear it's also failing in master:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/1521/console

[code]

Not reproducible locally for me.

[2019-02-12 12:27] costin opened #38776 "SQL: Use doc value only for dates, potentially keyword, use _source for everything else"
For better support of sparse data, outside dates (which are tricky due to date formatting) and potentially keywords (due to potential use of normalizers), numbers and strings (`text`) should be picked from the source.
Source is already used for `text` which means when one such field is used, the underlying source is already uncompressed; skipping doc values for such cases would not incur any signi

[2019-02-12 12:27] elasticmachine commented on #38776
Pinging @elastic/es-search

[2019-02-12 12:29] ddorian commented on #32544
@jpountz by the comment ^above, I meant that in this case, the extra filter by "collapsed_value" on each group will be slow (cause it's filtering on a numerical/point field, compared to keyword-field).

[2019-02-12 12:30] ddorian commented on #32544
@rjernst Does it store it as base64 ?

[2019-02-12 12:44] atorok commented on #38711
Some other occurrences:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request+default-distro/6603/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/711/console

Going to mute

[2019-02-12 12:50] atorok opened #38777 "Implement an @Awaitsfix equivalent for YML tests"
Right now we rely on the `tests.rest.blacklist` system property passed to the rest test runner to be able to mute tests.
This is a cumbersome and too far from the test. The muted tests are not included in the report @polyfractal sends out, and this information can't be consumed easily picked up by @elastic/es-clients .

We should have a way to do this in the rest syntax.
Maybe @javanna has some id

[2019-02-12 12:50] elasticmachine commented on #38777
Pinging @elastic/es-core-infra

[2019-02-12 12:56] ddorian opened #38778 "Faster inner hits when collapsing/sorting by same field"
Hi,

I don't really know how collapse works underneath, but if it does like I guess, then this optimization should work.

How I think it works:
Build a bitset after all the filter/sort is done.
Go through the bitset and get the doc_value of `collapse_field` which isn't yet in `collapse_values` until you reach the `limit`.
Then for each `collapse_value` do another query with `{term: {collapse_field

[2019-02-12 12:56] atorok commented on #37889
`BuildExamplePluginsIT` does not use testclusters (yet)  I think the failures in the former were  due to slow infrastructure.  I'm going to unmute it.

[2019-02-12 12:58] martijnvg opened #38779 "FollowStatsIT#testFollowStatsApiIncludeShardFollowStatsWithRemovedFollowerIndex failure"
[code]

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/355/console

[2019-02-12 12:58] elasticmachine commented on #38779
Pinging @elastic/es-distributed

[2019-02-12 12:59] spinscale commented on #38567
closed by #38712

[2019-02-12 12:59] #38567 closed

[2019-02-12 12:59] javanna commented on #38777
Yaml tests support a skip section, where either a version range can be specified (we have used 'all' in the past as well I think), or a list of features that need to be supported by runner for the test to run. Haven't we been using this section to skip tests as well? As far as I remember, the blacklist was introduced (not sure it's still used that way) in the java runner to not run certain tests w

[2019-02-12 13:02] #38090 closed

[2019-02-12 13:08] polyfractal commented on #38777
Yeah, `'all'` is the current way to "awaits fix" a yaml test.  The email script digs through the yaml tests looking for any `'all'` skips and includes them at the bottom of the email.

Here's a (very old) example: https://github.com/elastic/elasticsearch/blob/master/rest-api-spec/src/main/resources/rest-api-spec/test/update/85_fields_meta.yml#L4-L6

[2019-02-12 13:15] karmi commented on #38777
Just confirming that we _heavily_ use the `skip` feature of YAML tests in all the language clients.

[2019-02-12 13:17] atorok commented on #38777
I know I used blacklists for muting in the past, but I checked the code base and couldn't find examples of this so I guess we should be fine. I'll close this issue, thanks for the explanations.

[2019-02-12 13:17] #38777 closed

[2019-02-12 13:19] polyfractal commented on #38777
It might be useful to document this somewhere though, since I'm not sure how widespread knowledge of `skip: all` is to the general ES team?

E.g. I know the yaml test readme state you can skip, but perhaps we should add a note wherever we document awaitsfix too?

[2019-02-12 13:22] atorok commented on #38777
The way I got here was that I wanted to mute a test for #38711 which fails for `smoke-test-multi-node` but not for others. Guess I'll have to mute the test for all other runs too  then.

[2019-02-12 13:22] martijnvg commented on #38779
I found the following NPE in the log, that I think is causing this test failure:

[code]

Index stats response has no commit stats and the `ShardFollowTasksExecutor#fetchFollowerShardInfo()` method expects that to be there, which causes the NPE. The other consequence of this NPE is that the shard follow persistent task does not get assigned. The test expects shard follow stats, but because no shar

[2019-02-12 13:27] ebadyano commented on #37530
The original performance gap from #37411 for geonames benchmark was ~21%, with above fixes from Jason I see the gap narrowed to ~7%. I added a few small fixes in #38780 based in what I saw in the jfr. With them the final gap in geonames is ~4%.

[2019-02-12 13:43] brunoocasali commented on #38746
Thank you @markharwood for your reply!

Oh, I see it now, I don't know if the docs explain as well (with some examples) the multiple sorting types usage. But after your explanation I could understand the situation I have. But there is a way to accomplish this using that "missing: _last" criteria? Sorting by date and making the ones who doesn't have text to be at the end of the response?

Thank you

[2019-02-12 13:49] javanna commented on #38777
@atorok I think that's correct, seems like this test fails when run against multiple nodes? If that's the case it should be muted completely as we can't assume that all the language client runners are running on a single node.

[2019-02-12 13:50] jasontedor commented on #38764
Closed by 5fad38ed51f7a86bfba9323c6d4295537fcc3eb1

[2019-02-12 13:50] #38764 closed

[2019-02-12 14:01] original-brownbear commented on #26701
[20190124224140-D76BF75E-log-2658-3890858197344673937.txt](https://github.com/elastic/elasticsearch/files/2856125/20190124224140-D76BF75E-log-2658-3890858197344673937.txt)

attaching the logs for the above failure here. Seems like this may not have been a network issue to begin with. Will investigate soon.

[2019-02-12 14:16] markharwood commented on #38778
Thanks very much for your interest in Elasticsearch.

That's not how it works I'm afraid. However if you're interested in the implementation details [this ](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/apache/lucene/search/grouping/CollapsingTopDocsCollector.java) is probably the best place to start.

If you have further questions about implementation details the m

[2019-02-12 14:16] #38778 closed

[2019-02-12 14:20] droberts195 opened #38783 "[ML] MlLifeCycleService and native controller shutdown run in wrong order after CTRL+C"
I noticed this in 6.7.0 today, but it has probably been an issue for a long time.

When an ES node is stopped with `CTRL+C`, the native controller process shuts down before the `MlLifeCycleService.stop` method is called.  This means that the `MlLifeCycleService` gets an exception when it tries to issue kill commands on running jobs via the controller, because the controller is no longer running:

[2019-02-12 14:20] elasticmachine commented on #38783
Pinging @elastic/ml-core

[2019-02-12 14:31] atorok opened #38784 "CI BuildExamplePluginsIT fails"
## Example build failure
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/1977/console

[code]

[code]

and

[code]

[2019-02-12 14:32] elasticmachine commented on #38784
Pinging @elastic/es-core-infra

[2019-02-12 14:34] droberts195 commented on #38783
I think the solution to this that doesn't ruin the ability to run the controller directly at a shell prompt for debugging is to call `setsid()` early in the controller's `main()` and ignore errors.  (If the controller was started directly from a shell it will be a process group leader, and `setsid()` will fail, which is fine for this case.  If the controller was started from the ES JVM then it wil

[2019-02-12 14:41] pheyos opened #38785 "[ML] Errors when running nginx module jobs"
**Found in version**
- 7.0.0-beta1 BC2

**Steps to reproduce**
- Use the `nginx` module to create ML jobs

**Expected result**
- The 5 jobs defined in the module are created without errors

**Actual result**
- The elasticsearch.log shows a lot of errors of the form:
[code]

**Additional information**
- The `.ml-anomalies-shared` result index does not contain mappings for the job's term field mappi

[2019-02-12 14:41] elasticmachine commented on #38785
Pinging @elastic/ml-core

[2019-02-12 14:50] #38717 closed

[2019-02-12 14:53] polyfractal commented on #35295
Just a note: this has failed a few more times (including on a few unrelated PR builds of mine), and I've noticed it's _only_ failing on the documentation tests.  Which is interesting since similar operations are done in both regular yaml tests and java integration tests.

So there must be something either about the doc tests causing it directly (bad test cleanup?), or something about the doc test

[2019-02-12 14:59] bpintea commented on #37424
One more instance, probably similar cause:
[code]

triggers

`[Elastic][EsODBC 8.0.0(7.0.0-alpha2-29-g28e5616+,u,d) Driver]sql_illegal_argument_exception: Encountered a bug; LocalExec[now(){c}#975=2019-02-12T14:48:36Z] is a LocalExec but is not empty`

[2019-02-12 15:05] redlus opened #38786 "Bug: "bin/elasticsearch --version" kills elasticsearch's main process"
After running "bin/elasticsearch --version" on a dedicated master node or on a dedicated data node (on separate occasions) kills elastic's main process.

**Elasticsearch version**:
6.3.2

**Plugins installed**:
ingest-geoip
ingest-user-agent
mapper-murmur3
mapper-size
repository-azure
repository-gcs
repository-s3

**JVM version**:
openjdk 10.0.2 2018-07-17
OpenJDK Runtime Environment 18.3 (build 1

[2019-02-12 15:05] markharwood commented on #38746
I suspect that sort of special conditional logic will require some form of script - either as in your scripted sort example or perhaps using functions in a [function_score](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-function-score-query.html) query.

I don't think this issue is either a bug or a feature request so if you don't mind I'll close it and recommend continu

[2019-02-12 15:05] #38746 closed

[2019-02-12 15:08] imotov commented on #38282
@Destroy666x Could you give a more specific example. I am trying to reproduce this error with master using the following example and this is what I am getting:
[code]
This returns me an error message:
[code]
I get the same on the 6.5.4. In both cases we have:
[code]

What is my repro missing?

[2019-02-12 15:12] #38619 closed

[2019-02-12 15:14] elasticmachine commented on #38786
Pinging @elastic/es-core-infra

[2019-02-12 15:15] redlus opened #38787 "Bug: percentiles aggregation does not behave as expected"
Hi,

As [discussed in the forums](https://discuss.elastic.co/t/percentiles-aggregation-does-not-behave-as-expected/164962), we're seeing odd behavior when using the percentiles aggregations, the exact opposite of what is written in the documentation.

**Elasticsearch version**:
6.3.2

**Plugins installed**:
ingest-geoip
ingest-user-agent
mapper-murmur3
mapper-size
repository-azure
repository-gcs
r

[2019-02-12 15:46] martijnvg commented on #38779
Another instance of this failure with the same NPE in the logs: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+release-tests/25/console

[2019-02-12 15:53] weberhofer opened #38793 "Upgrading from elasticsearch-6.5.4 to 6.6.0 breaks synonym_graph filter"
**Elasticsearch version** 6.6.0

**Plugins installed**: []

**JVM version** (`java -version`): cat openjdk version "1.8.0_191"

**OS version** (`uname -a` if on a Unix-like system): Linux herkules 4.4.172-86-default #1 SMP Fri Feb 1 06:14:18 UTC 2019 (62e27f4) x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
I'm searching using synonym_graph

[2019-02-12 16:12] markharwood commented on #38787
Thanks for this.

Not if you use numpy's "nearest" [interpolation](https://docs.scipy.org/doc/numpy/reference/generated/numpy.percentile.html):

    print np.percentile(a, 99.99, interpolation="nearest")
    3.146

I suppose we have to be careful on  which basis we're making these comparisons. Does this change your thinking?
Given this implementation is based on an established algorithm I think I'

[2019-02-12 16:12] elasticmachine commented on #38787
Pinging @elastic/es-analytics-geo

[2019-02-12 16:19] elasticmachine commented on #38793
Pinging @elastic/es-search

[2019-02-12 16:21] markharwood commented on #38793
Thanks for raising this.
Can you supply the subset of the synonyms file that corresponds with your example query?

[2019-02-12 16:22] droberts195 opened #38796 "[ML] Need to cope with .ml-config being an alias"
The code to use `.ml-config` for storing configurations currently assumes that `.ml-config` will be a concrete index, not an alias.

Until now we had assumed that we would have until 7.last to sort this out, as that is when people will potentially do a rolling upgrade to 8.x.  However, this assumption is wrong.  The migration assistant that can reindex indices in the 6.x format into 7.x format wil

[2019-02-12 16:23] elasticmachine commented on #38796
Pinging @elastic/ml-core

[2019-02-12 16:29] jaymode commented on #38646
On the [security-dev mailing list](http://mail.openjdk.java.net/pipermail/security-dev/2019-February/019301.html) it has been suggested that this matches a JDK bug, JDK-8214418, which is currently not visible in the openjdk bug tracker. The bug will be fixed in JDK 12. No changes will be made in the HttpClient code.

[2019-02-12 16:35] jasontedor commented on #38786
Are you applying memory limits to the container, and what are they? What have you configured the heap size to?

[2019-02-12 16:35] polyfractal commented on #38787
I haven't tested it, but I suspect this is just due to the size of the data and how it interacts with the TDigest algorithm.  `compression` affects how many centroids are allowed before the algorithm merges centroids together.  A value of `n` for compression allows roughly `n * 20` centroids to be tracked before a merge is kicked off.

Generally, we say that more extreme percentiles are more accur

[2019-02-12 16:42] ctluce opened #38798 "Disabling xpack watcher causes NPE when Elasticsearch is shutdown"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.6.0, Build: default/tar/a9861f4/2019-01-24T11:27:09.439740Z, JVM: 1.8.0_181

**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_181"
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)

**OS version** (`uname -a` if on a Unix-like s

[2019-02-12 16:52] polyfractal commented on #38787
Also to Mark's point, I agree that this is probably just a documentation issue regarding small sizes, and that how percentiles are interpolated matters (both externally, and how TDigest interpolates between centroids to derive the requested value)

[2019-02-12 16:52] weberhofer commented on #38793
Thanks for responding. Here are some of our synonyms:
[code]

[2019-02-12 17:01] elasticmachine commented on #38798
Pinging @elastic/es-core-features

[2019-02-12 17:01] dakrone commented on #38798
Thanks for reporting this @ctluce, I was able to reproduce this as you said.

[2019-02-12 17:07] jimczi commented on #38793
@romseygeek can you take a look ? It seems that we build all the `PreConfiguredTokenFilter` with `useFilterForParsingSynonyms` set to false so filters are not applied when building the synonym map.

[2019-02-12 17:08] redlus commented on #38786
Hey @jasontedor
The master is running on m5.xlarge (4 cores and 16gb memory) with 8gb of heap. The warm nodes are running on r5.xlarge (4 cores and 32gb memory) with 24gb heap. None of them have any memory limitation for the memory nor cpu.

[2019-02-12 17:19] cbuescher opened #38800 "Problems importing :libs:elasticsearch-ssl-config project in Eclipse"
I have encountered this problem since the `libs/ssl-config/` project was added a few weeks ago when trying to import this and dependent subprojects.

## Things I did to reproduce:
* checkout a clean clone of the elasticsearch repo
* run `./gradlew eclipse` (this currently uses Gradle Version 5.1.1)
* "import existing projects" in Eclipse

## Symptoms:
* the generated `libs/ssl-config/src/main/.cla

[2019-02-12 17:19] elasticmachine commented on #38800
Pinging @elastic/es-core-infra

[2019-02-12 17:20] jasontedor commented on #38786
That is enough to get in trouble here. Running Elasticsearch with an 8 GB heap, and then starting *another* Elasticsearch process to get the version will also use an 8 GB heap. If things like swap are disabled, that is not going to fit. Similarly for the 24 GB twice into 32 GB case. I am hesitant to try to trap this in `bin/elasticsearch` because parsing options is done within Elasticsearch, and n

[2019-02-12 17:34] darinakl opened #38801 "Query validation doesn't work consistently on inner queries"
**Elasticsearch version: 5.6.9**

When using validate API with inner queries returned results are not consistent:
The following queries, according to the API, are invalid:
1. {"query":{"query_string":{"query":"abc AND"}}}
2. {"query":{"bool":{"must":[{"query_string":{"query":"abc AND"}}]}}}

Although this one(when filter is added) is valid:
3. {"query":{"bool":{"filter":[{"range":{"@timestamp":{"l

[2019-02-12 17:35] redlus commented on #38786
Thanks for the quick reply.
Running an instance of elasticsearch (with all the requested resources) just to get the version is odd in my opinion, but I understand your point in not wanting to trap it in bin/elasticsearch. If this is not going to change, I'd consider amending the documentation here when submitting a new issue - and ask to get the version using an HTTP GET request to one of the node

[2019-02-12 17:35] talevy commented on #29096
Closing this in favor of #32789

[2019-02-12 17:35] #29096 closed

[2019-02-12 17:37] talevy commented on #31770
@yadygarovadt would you be able to share the file that is causing this issue? It would be good to verify whether it is still happening in latest version of Elasticsearch with the upgraded libraries

[2019-02-12 17:41] elasticmachine commented on #38801
Pinging @elastic/es-search

[2019-02-12 17:46] rjpruitt16 commented on #32741
@atorok If you look in the picture, my java home is set. I follow the path to make sure the folder was there and ran helloworld application successfully. I am not sure how else to trouble shoot my issue.

[2019-02-12 18:04] TommyWind commented on #32741
@rjpruitt16 it looks like your `jrunscript` is not pointing at the Java11 version of that executable. The easiest way to force a fix for that is probably to simply prepend `"${JAVA11_HOME}/bin"` to your `$PATH`.

[2019-02-12 18:08] talevy opened #38805 "Watcher Template Registry attempts putting policy when ILM is disabled"
Watcher bootstraps its template/ILM-policy at startup.
Even when ILM is disabled, it attempts to insert its policy.
This will fail because ILM endpoints are not registered when
ILM is disabled.

Here is a stack tracing the issue:

[code]

[2019-02-12 18:08] elasticmachine commented on #38805
Pinging @elastic/es-core-features

[2019-02-12 18:39] lcawl commented on #38761
See https://github.com/elastic/infra/pull/9348

[2019-02-12 18:45] redlus commented on #38787
@markharwood

Good point. Most default implementations I know of usually utilize the linear interpolation (that includes Python's NumPy, the interpolation function in MS Excel, R's quantile function etc). I believe it should be documented if the algorithm behaves differently. Also, it may be a good feature request if it is possible to choose which interpolation method it will use 👍🏼

[2019-02-12 19:00] polyfractal commented on #38787
I'm not sure we can support different interpolations, because TDigest has to deal with a different environment than numpy/excel/R/etc.  Those simple percentile computations benefit from having all the data, so they can choose how to interpolate between data points when the requested rank isn't represented directly.

TDigest only has access to centroids which summarize parts of the CDF, and so impl

[2019-02-12 19:07] joshdover commented on #38740
Great, this is helpful. I think I have found the issue.

The mapping with type `_doc` gets created when using the Upgrade Assistant in 8.0 to reindex 7.x indices in preparation for 9.0. Because the Upgrade Assistant uses the typeless API in 7.0+ (which I believe is the only way to create new indices), I'm guessing Elasticsearch creates a mapping with `_doc` under the hood. Seems to me the internal

[2019-02-12 19:22] jaymode commented on #30301
I haven't been able to find a reproduction with the increased logging, but I did spot how there could be a issue with the test. The test relies on updating the internal license state of a node but does not have any protection against a new change overwriting the changed license state.

Additionally, this test also triggers a NoNodeAvailableException when a node's client is trying to talk to itself

[2019-02-12 19:46] mayya-sharipova commented on #32949
@shoaib4330 We have closed a stalled PR #33073, because of inactivity!  If you still would like to work on this issue, please go ahead.

[2019-02-12 19:52] smalenfant commented on #37607
I would love to see the manual steps if possible. I have a few ML jobs stuck in close due to this issue.

[2019-02-12 19:55] mayya-sharipova commented on #32741
@rjpruitt16  Sometimes starting all over again helps. `git clean -xdf`, `./gradlew idea`, `invalidate cache` in Intellij , `import project` in Intellij

[2019-02-12 20:33] adoerrES opened #38816 "[Docs]Clarify that snapshot and restore "compatibility" is not a replacement for proper migration steps"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.6.0

**Plugins installed**: [] N/A

**JVM version** (`java -version`): N/A

**OS version** (`uname -a` if on a Unix-like system): All supported ones

**Description of the problem including expected versus actual behavior**:

The documentation for Snapshot and Restore [says the following](https://www.elastic.co/guide/en/elasticsearch/refe

[2019-02-12 20:51] bmcconaghy commented on #37499
_cat/indices has info about frozen indices, and that is an xpack feature, so there is precedent for this.

[2019-02-12 21:08] droberts195 commented on #37607
Here are the steps needed to fix the issue (as run from the dev tools console):

1. Close all jobs and tell other users not to open any more until this process is complete. It is probably good to note which jobs were open in order to reopen them at the end of this process.

[code]

2. Get aliases of ML results indices

[code]

The response should be stored in a file (let's call it `ml_results_alia

[2019-02-12 21:20] benwtrent commented on #38773
@droberts195 looking a bit at this.

If the alias `.ml-anomalies-shared` exists, we obviously cannot add the an alias `.ml-anomalies-.write-farequote2` that points to the alias. It will have to be to the concrete index behind it. I am starting to dig into where this is all happening.

[2019-02-12 21:22] dakrone commented on #37499
@bmcconaghy that was a previous implementation of frozen indices, because the engine was part of the core code, the current frozen indices implementation does not have any info about frozen status

[2019-02-12 21:36] jaymode commented on #37062
@albertzaharovits merged the fix in #38286 but github did not close the issue since it was not targeted for master.

[2019-02-12 21:36] #37062 closed

[2019-02-12 21:45] jaymode commented on #33867
@albertzaharovits fixed this in #38286

[2019-02-12 21:51] code4passion opened #38820 "Modify core storage of Elastic search"
I am new to ES project and i am trying to understand the code.  What am trying to do is instead of ES writing to DISK, i want to write to some other place. Ex amazon S3. I know that this is not ideal, but I have my own reasons for this.

Can someone point me to the code where i can start changing this? Any guidance will he helpful.

[2019-02-12 22:10] polyfractal commented on #35295
Another note for myself:  I think I've found the sequence of events that leads to the issue, still digging into why.

1. Job created, test run etc
2. In cleanup, all indices are deleted
3. Then all rollup jobs are stopped and deleted
4. For whatever reason, a job has a bulk in-flight (despite the test being over), so it acknowledges the stop but stays in `STOPPING` because it's waiting for the ind

[2019-02-12 22:52] jdconrad commented on #36782
I've been working on reproducing this failure locally for about 2 days now by trying to update the timing using sleeps in places that appear to be related to the failure, but have been unsuccessful in getting it to recur.  The shutdown process intuitively seems a bit suspect to me since it appears that watches can potentially be executed during the different stages of stopping the service if there

[2019-02-12 22:52] jdconrad commented on #36782
@hub-cap What do you think ^^

[2019-02-12 23:00] nik9000 opened #38823 "CI builds fail when targeting the 5.5 branch"
I'm trying to backport for documentation fixes back to 1.3. I've got back as far as 5.5. Now the builds are failing because they can't load the env variables from the `.ci/java-versions.properties`:
[code]

Should we make these files just to make CI happy? Should I try and skip this on versions that far back? I'm not sure I have the right kind of control for that though....

[2019-02-12 23:23] smalenfant commented on #37607
@droberts195 Thanks for this info. 1 thing missing is the script, looks like I don't have access to that repo (404).

[2019-02-13 00:03] jakelandis commented on #36782
+1 to re-enable with additional information that may help track down the root cause. These can be frustrating difficult to reproduce on command.

If this happens again we can re-mute but grab the additional info.

[2019-02-13 00:24] tvernum commented on #37250
Hi @pkazi, please ask these sorts of questions on our forums at https://discuss.elastic.co/ rather than piggybacking on existing issues here.

[2019-02-13 01:24] jasontedor commented on #38823
@nik9000 No need for backport PRs here, use your best judgement and cherry-pick and push.

[2019-02-13 01:24] #38823 closed

[2019-02-13 01:24] jasontedor commented on #38820
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2019-02-13 01:24] #38820 closed

[2019-02-13 01:27] nik9000 commented on #38823
Got it!

On Tue, Feb 12, 2019, 20:25 Jason Tedor <notifications@github.com wrote:

[2019-02-13 03:46] tvernum commented on #38740
@joshdover
Thanks for your investigation. I'd like to close this issue and open a new one about the security index not being compatible with the Kibana upgrade assistant for 7.x to 8.x

It's not particularly surprising that this doesn't work - we haven't done any work in master to support security upgrades from 7 to 8.

Per elastic/elasticsearch#38678, we very much hope that security will stop usi

[2019-02-13 05:00] astefan opened #38831 "SQL: JDBC meta-data is always using an empty string for column label"
[The spec](https://docs.oracle.com/javase/8/docs/api/java/sql/ResultSetMetaData.html#getColumnLabel-int-) defines the column label as

But in our case, it's always returning an empty string.

[2019-02-13 05:00] elasticmachine commented on #38831
Pinging @elastic/es-search

[2019-02-13 05:45] shoaib4330 commented on #32949
Sure. I'm on it then.

[2019-02-13 06:07] tvernum commented on #36021
Resolved in #37512, #37788,  #37793

[2019-02-13 06:07] #36021 closed

[2019-02-13 06:49] original-brownbear commented on #38699
I commented on this in the PR the issue author opened here: https://github.com/elastic/elasticsearch/pull/38830

I'm not sure what we would support for object lock want to look like. Simply allowing to upload objects by setting the `Content-MD5` does not seem to be enough to make for useful functionality and would merely allow one to force their snapshots into a bucket with compliance enabled whil

[2019-02-13 07:35] tvernum opened #38832 "[CI] Centos docker builds failing during yum install"
I don't know if there's any solution to this, but I didn't want the issue to just get lost in build noise.

We seem to have recurring failures building the docker image on Centos because yum fails to retrieve the mirror list.

**Feb 13** https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java11,nodes=centos-7&&immutable&&linu

[2019-02-13 07:35] elasticmachine commented on #38832
Pinging @elastic/es-core-infra

[2019-02-13 07:43] Blackiie commented on #38740
Emm ok no entiendo muy bien pero trataré de comprenderlo 😀. Gracias por la
atencion!!
El 12 feb. 2019 19:47, "Tim Vernum" <notifications@github.com> escribió:

[2019-02-13 08:25] martijnvg opened #38835 "[CI] CcrRollingUpgradeIT#testIndexFollowing failure"
[code]

This rolling upgrade test only exists in master, and hasn't yet been backported.
I'm not yet able to reproduce this failure. Somehow the leader / follower settings are not aligned.

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+release-tests/444/console

[2019-02-13 08:25] elasticmachine commented on #38835
Pinging @elastic/es-distributed

[2019-02-13 08:43] DaveCTurner opened #38836 "Support "Intelligent Tiering" storage class for S3 snapshots"
In November 2018 [AWS announced a new "Intelligent Tiering" storage class](https://aws.amazon.com/about-aws/whats-new/2018/11/s3-intelligent-tiering/):

This sounds like it would be appropriate for snapshots. To support this we would need to upgrade the AWS SDK to a version supporting this storage class, add tests showing that setting `storage_class: intelligent_tiering` works, and adjust the docs

[2019-02-13 08:43] elasticmachine commented on #38836
Pinging @elastic/es-distributed

[2019-02-13 09:14] martijnvg commented on #38835
I locally changed the `TransportResumeFollowAction#validate(...)` method to include the index settings of both follow and leader indices in the exception message:

[code]

The follower index has the `index.version.upgrade` index setting and the leader index doesn't have that index setting. I suspect that the follower index got this setting when ccr restored the leader index on an upgraded node. Th

[2019-02-13 09:19] elasticmachine commented on #38816
Pinging @elastic/es-distributed

[2019-02-13 09:21] droberts195 commented on #37607
Sorry about that @smalenfant.  I edited the big comment above to make the script an attachment of this issue.  I had to rename it with a `.txt` extension to do this, so after downloading rename the file to remove the `.txt` extension and `chmod +x` it.

[2019-02-13 09:23] biji-padhy commented on #29287
Hi Team,
I am also facing similar issue. Pasting my code here.. it will a great help if someone can help me out. Thanks in advance.

"aggs": {
            "business": {
              "composite": {
                  "sources" : [
                    { "competency_name": { "terms" : { "field": "busn_competency_name.keyword" } }
                    },
                    { "component_name": { "terms

[2019-02-13 09:26] danielmitterdorfer commented on #36338
Closing due to lack of feedback. Please feel free to reopen with new feedback. Thank you!

[2019-02-13 09:26] #36338 closed

[2019-02-13 09:45] TheBronx opened #38837 "Query documents before rollup"
**Describe the feature**:
When rolling up data, it would be nice to filter documents with a query. That is, instead of rolling up all documents on an index (or index pattern), **aggregate only those that match the query**.
![](https://discourse-cdn-sjc1.com/elastic/uploads/default/original/3X/e/f/efd9d546851e4833f9fcc986f332b440b0f1491d.png)
The reason behind this is that once you rollup data, you

[2019-02-13 11:33] abhidemon commented on #37265
The problem with this way of throwing exceptions is that I cannot really write a logic for handling the case wherein the index already exists.
Unless I parse the msg ofcourse.

[2019-02-13 12:17] ywelsch commented on #38836
I think this would also require clearly documenting our file access patterns during snapshot, snapshot listing and restore. The risk is that this will tie us to a particular storage pattern, optimized for the above usage.

[2019-02-13 12:26] elasticmachine commented on #38837
Pinging @elastic/es-analytics-geo

[2019-02-13 12:26] cbuescher commented on #38837
@TheBronx thanks for opening this issue. From what I understand so far, what you are trying to do can already be achieved using [Filtered Aliases](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-aliases.html#filtered). You would define different aliases for your subset of documents and then point the rollup job to those. I haven't tried this in practice though, maybe @polyf

[2019-02-13 12:30] original-brownbear commented on #38836
@ywelsch I think this is in all likelihood a good idea regardless of the access pattern when it comes to S3.

My reasoning would be: S3 is our "least consistent" blob store, we probably don't ever want to move to an access pattern that would update old blobs in any way because updates are where the danger lies in the first place => without updates to old (large > 1MB) blobs this is a win in every

[2019-02-13 12:42] droberts195 commented on #30300
I saw this again in a local test run that I did.  The underlying reason why it takes so long to close the large number of jobs that `TooManyJobsIT` opens is that they do a renormalization on close.  If they had processed data this would be justified, but they don't in this test so it isn't.  I opened elastic/ml-cpp#393 to fix the root cause.

[2019-02-13 12:44] TheBronx commented on #38837
Okay, it actually works!
Creating the alias is a bit less "dummy friendly" than filling an input field in kibana haha but on the other hand it works, now :smile:
The rollup job seems to be working fine, and the "overhead" of aliases is pretty much none right?
I didn't know about index aliases, thank you so much @cbuescher

[2019-02-13 12:49] rgupta152 opened #38843 "I am new to elasticseach. My requirement is to capture the logs for VMWARE. Please suggest the module name and steps so that i can do"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2019-02-13 12:53] weberhofer commented on #38793
Thank you @romseygeek for having a look at this issue. Is there a way to define the filter described in a way that v6.6.0 will accept it?

[2019-02-13 12:53] rgupta152 opened #38844 "I am new to elasticsearch and i have been trying to introduce in my company. So many colleague has asked one question :- how much bandwidth is required and due to this our production env can impact. Please advise how much bandwidth utilize"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2019-02-13 13:09] jasontedor commented on #38843
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2019-02-13 13:09] #38843 closed

[2019-02-13 13:09] jasontedor commented on #38844
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2019-02-13 13:09] #38844 closed

[2019-02-13 13:09] romseygeek commented on #38793
@weberhofer defining a custom asciifolding filter and using that in your analyzer settings should act as a workaround here, as the bug is only for preconfigured tokenfilters.

[2019-02-13 13:17] cbuescher commented on #38837
Great to hear, maybe there are even simpler ways that @polyfractal knows about, so lets wait a bit for his thoughts but I think after that we can close then.

[2019-02-13 13:29] DaveCTurner opened #38845 "DedicatedClusterSnapshotRestoreIT#testRestoreShrinkIndex fails"
Possibly relates #38256, at least this is the same test that still seems to be failing in latest `master` (cacf81a1cf3dff62c16c56736fef034e73a8f219).

The actual issue seems to be here:

[code]

The trouble being, I think, that there's a race in which the index directory exists without any metadata, so we get a `null` here rather than an exception:

https://github.com/elastic/elasticsearch/blob/ca

[2019-02-13 13:29] elasticmachine commented on #38845
Pinging @elastic/es-distributed

[2019-02-13 13:30] DaveCTurner commented on #38845
Logs from a recent failure:

[testoutput-stderr.log.gz](https://github.com/elastic/elasticsearch/files/2860515/testoutput-stderr.log.gz)
[testoutput-stdout.log.gz](https://github.com/elastic/elasticsearch/files/2860516/testoutput-stdout.log.gz)

[2019-02-13 13:34] #38835 closed

[2019-02-13 13:35] #38773 closed

[2019-02-13 13:38] atorok commented on #14747
Much has changed since the initial issue, but the fact that most of the up-to-date checks are thrown off by the testing seed is still relevant.

I think we could cache the testing seed by default and have a `cleanSeed` task that `clean` would depend on to be able to blow it away. we could then simply rely on up-to-date functionality to have the build pick up from where it left off. The seed will t

[2019-02-13 14:21] atorok commented on #13216
Given the age of the issue and how much things changed I'm going to close it.
Please reopen if you think some of it is still relevant.

[2019-02-13 14:21] #13216 closed

[2019-02-13 14:26] sukantasaha opened #38849 "Elasticsearch backup fails"
Hi we are using Elasticsearch 5.4.0 version with same version of repository-s3 plugin (repository-s3-5.4.0.jar)
we are getting below errors while taking snapshot

"state" : "PARTIAL",
      "start_time" : "2019-02-13T12:44:59.673Z",
      "start_time_in_millis" : 1550061899673,
      "end_time" : "2019-02-13T12:59:05.596Z",
      "end_time_in_millis" : 1550062745596,
      "duration_in_millis" : 8

[2019-02-13 14:44] weberhofer commented on #38793
@romseygeek , thanks for your response.
This workaround is fine, but the words from the synonym file seem to be case-sensitive now. I can now find all synonyms for "FGM" (as written in the synonym list), but I don't find anything when I'm searching "fgm".

I'm currently using this definition:
[code]
[code]
[code]

[2019-02-13 15:29] jimczi commented on #38467
I don't think it's a "natural" extension. The MLT query is designed to be efficient when a few ids are passed, it would be the same with a query. If the query matches a lot of documents, we'd need to extract the term vectors for each document and merge them into the global statistics for the query.
Accessing the term vectors of a few documents is acceptable but this doesn't scale if we apply the l

[2019-02-13 15:36] tegansnyder commented on #11609
I also ran into this issue. I installed ES on six nodes a few months back, then replaced three of them with new nodes a few weeks ago. Since then ES hasn't been able to write to the NFS for snapshotting. It looks like the only way to fix this is to make sure the uid and gid are the same across all nodes. This looks like a chore because i will need to find a non-used uid and gid that will work acro

[2019-02-13 15:38] joshdover commented on #38740
@tvernum That works for me. Just wanted to flag this early so it wasn't forgotten about. For our testing purposes, we'll exclude .security for the time being. Thanks!

[2019-02-13 15:38] #38740 closed

[2019-02-13 16:20] estolfo commented on #26673
I am encountering this issue when running the [rest-api YAML tests](https://github.com/elastic/elasticsearch/tree/master/rest-api-spec/src/main/resources/rest-api-spec/test) with the Ruby client in Docker.

The behavior observed: The rest api tests were passing when I ran elasticsearch and the tests outside docker. But when I ran both elasticsearch and the tests in docker, ES stopped responding ha

[2019-02-13 16:57] gwbrown commented on #36024
Closing this as nothing else has come up.

[2019-02-13 16:57] #36024 closed

[2019-02-13 17:11] #38027 closed

[2019-02-13 17:16] dliappis commented on #38832
@tvernum thanks for creating this. Ironically enough it seems that this is happening on CentOS-7 workers attempting to `yum install` inside the container based on `centos:7`.

I have been unable to reproduce this using a simple reproduction inside a clean CentOS 7 vagrant box with 20 iterations.

<details><summary>Attempted reproduction script</summary>

[code]

[code]
</details>

<br>

Spinning u

[2019-02-13 17:33] ppf2 opened #38861 "Add a soft limit for trailing wildcard character length?"
We currently provide a configurable `allow_leading_wildcard` option as a way to safeguard against leading wildcards.  Trailing wildcards can also be painful as observed many times in the past, esp. when users issue queries like `a*`, `1*`, etc..

While we can ask users to add protection themselves to their apps to require at least N characters before wildcard queries are accepted, it can be helpfu

[2019-02-13 17:39] original-brownbear commented on #38763
You mean, simply make `allocate_stale_primary`  create an empty primary for corrupted shard copy? I'd be +1 to that idea :)

[2019-02-13 19:34] polyfractal commented on #38837
Filtered aliases would be the best (and I think only) way to do it right now.  We made a decision to not allow filtering on the rollup job itself, to prevent a "mismatch" between the input data and the output rollup data.  E.g. it might be confusing for a user consuming rollup data to see data missing, if they aren't aware that the job itself was filtered.

We may loosen that restriction in the fu

[2019-02-13 19:36] polyfractal commented on #29287
@biji-padhy Known limitation, unfortunately.  See: https://github.com/elastic/elasticsearch/issues/14600

Usually you can get around this by using a `filters` agg instead of `filter`.  Irritating but it's a quirk of how the framework works at the moment :(

[2019-02-13 19:43] elasticmachine commented on #38849
Pinging @elastic/es-distributed

[2019-02-13 19:44] elasticmachine commented on #38861
Pinging @elastic/es-search

[2019-02-13 19:46] original-brownbear commented on #38849
@sukantasaha do you have object locking enabled on that bucket by any chance?

[2019-02-13 19:59] jkakavas opened #38866 "Return 401 instead of 500 on use of invalid access tokens"
Token Service will throw an InvalidStateException if a wrong access token is used as a Bearer token for authentication and this gets translated to a 500 error response. We should be handling this correctly and return a 401 Unauthorized instead.

Relates : https://github.com/elastic/kibana/issues/22905

[2019-02-13 19:59] elasticmachine commented on #38866
Pinging @elastic/es-security

[2019-02-13 21:47] talevy opened #38867 "CoordinatorTests.testIncompatibleDiffResendsFullState failures"
num occurrences: 5 times in February thus far

issue in CI:

[code]

reproduce

[code]

<details><summary>stacktrace</summary>
<p>
[code]

</p>
</details>

[2019-02-13 21:47] elasticmachine commented on #38867
Pinging @elastic/es-distributed

[2019-02-13 22:00] talevy opened #38868 "thirdPartyAudit failures in repository-gcs and repository-hdfs"
num occurrences: 21 times thus far in 2019

failure message

[code]

what seem to be relevant log lines:

[code]

attached logs: [thirdpartyaudit.txt.zip](https://github.com/elastic/elasticsearch/files/2862371/thirdpartyaudit.txt.zip)

[2019-02-13 22:00] elasticmachine commented on #38868
Pinging @elastic/es-core-infra

[2019-02-13 22:03] talevy commented on #38489
@original-brownbear do we want to port this over to 7.0? looks like it is continuing to fail in 7.0 CI

[2019-02-13 22:05] original-brownbear commented on #38489
@talevy sorry didn't get to backporting this yet, will do shortly.

[2019-02-13 22:48] talevy opened #38870 "smb-fixture composeDown failure"
what fails: `:x-pack:test:smb-fixture:composeDown`

It is tough to say how often this occurs, because the error does not bubble up
to the build email summarizing the failure.

ci occurrence: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+multijob-unix-compatibility/os=centos-7&&immutable/14/console

The XPack smb-fixture seems to successfully launch its process through
docker, b

[2019-02-13 22:48] elasticmachine commented on #38870
Pinging @elastic/es-core-infra

[2019-02-13 22:55] talevy commented on #38212
opened https://github.com/elastic/elasticsearch/pull/38871 to backport this fix to 6.7

[2019-02-13 23:13] #38798 closed

[2019-02-13 23:14] nyurik commented on #16895
From a discussion, there is a [geohex.net](http://geohex.net/) and a related
[java port](https://github.com/chsh/geohex4j/blob/master/src/main/java/org/geohex/geohex4j/GeoHex.java).  Also, per @talevy above, i think we should update the issue's main description, e.g. summarize the changes required, benefits, and relevant libraries/specifications as individual sections to avoid digging through comm

[2019-02-13 23:21] talevy opened #38874 "UpdateSettingsIT#testEngineGCDeletesSetting failure"
test failing:

[code]

#38254 introduced a new `VersionConflictEngineException` assertion that seems
to be dependent on cache invalidation timed by `Thread.sleep`.

exception:

[code]

was tough to get a stacktrace, but looks to fail in `InternalEngine#planIndexingAsPrimary`

with the exception:

```[type][1]: version conflict, required seqNo [3], primary term [1]. but no document was found```

ci

[2019-02-13 23:21] elasticmachine commented on #38874
Pinging @elastic/es-distributed

[2019-02-13 23:24] talevy commented on #38874
[code]

The timing issue has a TODO, so it may be worth discussion instead
of simply increasing the timeout?

[2019-02-13 23:46] dnhatn commented on #31629
Failed again https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-1/8188/consoleText. I am able to reproduce it now.

[2019-02-13 23:46] andyb-elastic commented on #38868
I wasn't able to reproduce this on a9178b32394fec40f3909fcd2f4f623deb1c8239, which is the last-good-commit from the log attached

it was this 7.x build https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=opensuse/14/console

I did notice that it looks like a few other thirdPartyAudit tasks in there that didn't fail the build (or at least didn't show up

[2019-02-13 23:52] sukantasaha commented on #38849
No we are not locking any file or object

On Thu, Feb 14, 2019 at 1:17 AM Armin Braun <notifications@github.com>
wrote:

[2019-02-14 00:36] talevy opened #38875 "ArrayCompareConditionSearchTests thread leak suite failure"
ArrayCompareConditionSearchTests test suite is flaky due to the integ cluster's
SchedulerEngine's thread `trigger_engine_scheduler` not shutting down in time.

failure instance in CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=openjdk12,nodes=immutable&&linux&&docker/240/console

num occurrences: 6 times in last

[2019-02-14 00:36] elasticmachine commented on #38875
Pinging @elastic/es-core-features

[2019-02-14 01:30] talevy commented on #36040
I re-opened this issue because it has popped up again with `master`

CI link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/448/console

logs:

[code]

[2019-02-14 02:23] tvernum opened #38877 "[CI] wipeRollupJobs fails to cleanup job and causes multiple test failures"
From https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+intake/92/consoleFull

The first failure seems to have been actually running the `stop-job` snippet:
[code]

But this caused other doc snippets to fail as they tried to clean up the cluster
[code]

With an end result of these failures
- DocsClientYamlTestSuiteIT test {yaml=reference/frozen-indices/line_52}
- DocsClientYamlTestS

[2019-02-14 02:23] elasticmachine commented on #38877
Pinging @elastic/es-analytics-geo

[2019-02-14 02:45] talevy commented on #38868
also happened with

:x-pack:plugin:sql:sql-client:thirdPartyAudit

[code]

in 7.0: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+multijob-unix-compatibility/os=opensuse/14/console

[2019-02-14 03:07] polyfractal commented on #38877
Will take a closer look tomorrow, but I think this is another manifestation of https://github.com/elastic/elasticsearch/issues/35295.  Good news is that I _think_ I've uncovered the sequence of events that leads to this issue (see last comment in that thread).  Unfortunately when I increased logging verbosity to nail it down it has made the reproduction even more rare :(

If I can't nail it down f

[2019-02-14 03:13] talevy commented on #38875
Looks like this also happens sometimes in `TransformIntegrationTests`

[2019-02-14 06:25] sukantasaha commented on #38849
Also many times seeing this error

{
          "index" : "universal_message_workflow_store_1206",
          "index_uuid" : "universal_message_workflow_store_1206",
          "shard_id" : 1,
          "reason" : "IndexShardSnapshotFailedException[com.amazonaws.AmazonClientException: Unable to execute HTTP request: connect timed out]; nested: AmazonClientException[Unable to execute HTTP request: con

[2019-02-14 07:33] mark-vieira commented on #31496
Sounds like controlling ordering is [now supported](https://github.com/junit-team/junit4/pull/1130) in JUnit 4.13. This would still require a contribution to Gradle core to allow deferring ordering to the JUnit runner but that might be a more manageable way forward than migrating to JUnit 5, even with the legacy support. Probably worth spiking both options to get a better idea of what might be inv

[2019-02-14 07:33] costin commented on #38068
I see, likely the rest of the parameters are added by Spark. A workaround would be to add a dedicated option to disable validation of all passed params.
@astefan can you please look into it?

[2019-02-14 07:54] #38535 closed

[2019-02-14 08:38] original-brownbear commented on #38845
Yea, this seems to be it in part. But I'm also trying to understand why we fail to delete the index in the first place with a bunch of:

[code]

The error we get on delete is an access denied that is the result of the Lucene mock directory still (wrongfully?) thinking that some files that should be deleted are open. The issue looks somewhat similar to [this one](https://issues.apache.org/jira/brow

[2019-02-14 09:42] consulthys opened #38889 "simple_query_string doesn't work with CCS between ES 6 and ES 5"
**Elasticsearch version** (`bin/elasticsearch --version`): CCS between ES 6.5.1 and ES 5.6.2

**Plugins installed**: [ N/A ]

**JVM version** (`java -version`): 1.8

**OS version** (`uname -a` if on a Unix-like system): Tested on Mac + Linux

**Description of the problem including expected versus actual behavior**:

When sending a `simple_query_string` query to an ES6 cluster to be run on a remote

[2019-02-14 09:44] markharwood commented on #38467
I'd suggest looking at the [significant_text](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations-bucket-significanttext-aggregation.html) aggregation for this type of work. Unlike termvectors API it can skip duplicate sections of texts which otherwise skew keyword suggestions badly.

Example use in classification tasks: https://youtu.be/OmMXuT9qsV4
Deep dive on the

[2019-02-14 10:00] jkakavas commented on #30869
I did a poor job of looking into the actual failure here and capturing the logs and what _actually_ failed in these tests. There is no way to get to the bottom of this now, as the build logs are not available any more, so I will close this to remove noise from the list of >test-failures and re-open if there is a similar issue in later versions and investigate.

[2019-02-14 10:00] #30869 closed

[2019-02-14 10:11] droberts195 opened #38890 "[ML] More tolerant delimited file parsing when structure is overridden"
Inspired by elastic/kibana#31065.

At present the file structure finder will only detect a delimited file if all rows have the same number of columns.  This is sensible when determining the structure from scratch, but when the structure has been explicitly specified as delimited using an override and the exact delimiter is also supplied it makes more sense to believe the user and try to create a s

[2019-02-14 10:11] elasticmachine commented on #38890
Pinging @elastic/ml-core

[2019-02-14 10:42] romseygeek commented on #38793
@weberhofer sorry, you'll also need to build a custom lowercase filter.

[2019-02-14 10:42] #38831 closed

[2019-02-14 10:50] #37190 closed

[2019-02-14 10:52] weberhofer commented on #38793
Thanks, I'll test!

[2019-02-14 11:01] original-brownbear commented on #38272
I reproduced this with `6.3` but also verified that it's fixed in `master` now due to https://github.com/elastic/elasticsearch/pull/31606 so upgrading to `6.4+` should resolve your issue :)

[2019-02-14 11:01] #38272 closed

[2019-02-14 11:12] droberts195 commented on #30290
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/362/consoleText contains another case of this:

[code]

[2019-02-14 11:30] droberts195 opened #38894 "[CI] FollowerFailOverIT testAddNewReplicasOnFollower failed"
`FollowerFailOverIT.testAddNewReplicasOnFollower` failed in 7.0 in
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+internalClusterTest/530/console

The repro command is:

[code]

This didn't reproduce locally for me.

There are 20 assertion errors in the log.  The first one is:

[code]

Then:

[code]

Then the one that causes the test failure:

[code]

[2019-02-14 11:30] elasticmachine commented on #38894
Pinging @elastic/es-distributed

[2019-02-14 11:33] droberts195 commented on #38894
I muted the test for 7.0 in 23716b7b7d815ae610280a0370b1ee4458781fce

[2019-02-14 11:46] droberts195 commented on #38845
The same thing happened in 7.x in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+intake/100/console

[code]

The repro command is on a CentOS 7 server:

[code]

This reproduced locally for me:

[code]

I muted the test in 7.x in 6ea483a66309a646812f6da778d24b18db90f3da

[2019-02-14 11:48] original-brownbear commented on #38845
Fix incoming in #38891 :)

[2019-02-14 11:51] jkakavas commented on #30564
This looks like an ephemeral port selected for transport was already bound by another process. The process with which the tcp port is picked for transport should not make this possible but this has never manifested again and we don't have any logs now so I will close this

The lock issue manifested also the same day (May 14) in https://github.com/elastic/elasticsearch/issues/30559 but I can't find

[2019-02-14 11:51] #30564 closed

[2019-02-14 11:59] atris commented on #29366
@jpountz Could you share your thoughts on what kind of Rally workloads can trigger this? I have a half baked patch that I want to run through rally first and see how things are looking before moving ahead with the patch. I tried running http_logs, but it doesnt seem search heavy enough to warrant this behaviour.

[2019-02-14 12:01] droberts195 commented on #38868
There was also a failure of `thirdPartyAudit` in the `discovery-ec2` and `discovery-gcs` plugins in
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.6+multijob-unix-compatibility/os=opensuse/114/console

[code]

These don't reproduce locally using the exact commit that that build used (352aa7c0733f66171f42314b77e82d5f286d2726), so I assume the problem is some sort of flakiness in th

[2019-02-14 12:05] droberts195 commented on #38708
Same again in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+branch-consistency/121/console

[2019-02-14 12:54] jkakavas commented on #32000
These are nowadays run by DocsClientYamlTestSuiteIT and I believe what we were seeing here is a manifestation of https://github.com/elastic/elasticsearch/issues/35295 , similar to https://github.com/elastic/elasticsearch/issues/38877

I'll add the Analytics/Rollup label for better grouping, but I'll keep assignment to see if this gets resolved when a solution for the above is merged.

[2019-02-14 12:54] elasticmachine commented on #32000
Pinging @elastic/es-analytics-geo

[2019-02-14 13:10] droberts195 commented on #31629
This failed again with the same error in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.6+intake/221/console

[code]

The repro command was:

[code]

This didn't reproduce locally for me.

[2019-02-14 13:13] jasontedor commented on #38617
@martijnvg Could you remove the awaits fix in 6.7 and 7.0 for this test per #38630?

[2019-02-14 13:17] albertzaharovits commented on #32685
Resolved in https://github.com/elastic/elasticsearch/pull/38397

[2019-02-14 13:17] #32685 closed

[2019-02-14 13:29] droberts195 opened #38898 "[CI] unexpected failure while replicating translog entry"
A test failure occurred in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+intake/99/console, however, the root cause was that one of the nodes in the cluster suffered a fatal exception:

[code]

The test that was running when this happened was:

[code]

Since an almost identical test immediately before succeeded I doubt there is anything wrong with that test.  (The "stash dump o

[2019-02-14 13:29] elasticmachine commented on #38898
Pinging @elastic/es-distributed

[2019-02-14 13:32] javanna commented on #33852
I have done quite some digging on this one. I was not able to reproduce this issue even running this test in a loop for hours and hours. Last failure is from January 23rd, at the time this test was failing around one or two times per day. We previously increased the wait for the responses a couple of times. The failure that I have analyzed happens before we even simulate network failures. At the s

[2019-02-14 13:36] martijnvg commented on #38617
@jasontedor whoops, I will unmute this test now.

[2019-02-14 14:05] elasticmachine commented on #38889
Pinging @elastic/es-search

[2019-02-14 14:07] droberts195 commented on #38877
The same thing happened in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=ubuntu-14.04&&immutable/16/console

The following tests failed:

[code]

The errors in the log are all about stopping rollup jobs.  Again the _first_ failure is on line 54 of `stop-job.asciidoc`:

[code]

The node log from the test cluster shows a race on the `sensor_rollup`

[2019-02-14 14:08] #38617 closed

[2019-02-14 14:10] martijnvg commented on #38779
Closing, because a fix has been pushed via #38782.

[2019-02-14 14:12] #26701 closed

[2019-02-14 14:34] #30301 closed

[2019-02-14 14:48] atorok commented on #38868
This is an infra issue on some of the older non ephemeral workers

[2019-02-14 14:48] #38868 closed

[2019-02-14 15:12] dakrone commented on #30290
I've opened a couple of PRs for helping to track this down, #38807 and #38903, I would appreciate anyone taking a look at them.

[2019-02-14 15:16] droberts195 commented on #29880
This failed again in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/1150/console

The repro command was:

[code]

This didn't reproduce locally for me on a CentOS 7 server.

As in the original issue description, the error is:

[code]

The log contains this jstack which may be of use:

[code]

Immediately after the failing test starts a Watcher error occurs

[2019-02-14 15:49] jkakavas commented on #38870
`docker-compose stop` seems to complete successfully. Either `docker-compose down --volumes` caused the Daemon to crash, or the daemon was killed by something right before the `down` command was executed.

I looked at the [plugin's repo](https://github.com/avast/gradle-docker-compose-plugin) and there are no known issues. Additionally since this an immutable worker, we do not have logs from the do

[2019-02-14 16:00] tylfin opened #38907 "Cannot change index.queue_size"
**Description**

I want to increase the queue capacity for my ingest nodes, but I'm seeing different things in the docs:

* An example in the 6.5 docs about setting the queue_size via the elasticsearch.yml
* A deprecated warning in the log outputs
* Breaking changes that say

So setting both `thread_pool.index.queue_size: 500` and `thread_pool.write.queue_size: 500` I still get logs saying explain

[2019-02-14 16:03] stevebanik-ndsc commented on #28538
Any idea why the "list" flag seemingly attempts to install the repository-s3 plugin?

`[root@ip-10-174-7-130 elasticsearch]# /usr/share/elasticsearch/bin/elasticsearch-plugin list --verbose
Plugins directory: /usr/share/elasticsearch/plugins
.installing-7024295464285032320
- Plugin information:
Name: repository-s3
Description: The S3 repository plugin adds S3 repositories
Version: 6.5.4
Elasticsea

[2019-02-14 16:30] #38428 closed

[2019-02-14 17:32] jasontedor commented on #38907
Did you indeed set this only on your ingest nodes? The relevant place is the data nodes, where the bulk shard requests are actually executed on the bulk thread pool.

All appears to be well, otherwise:

[code]

And then:

[code]

[2019-02-14 17:35] not-napoleon commented on #37543
I'm recategorizing this as a distributed issue, and reaching out to the distributed team for help with it.  Here's what I know so far:

This issue and the two linked issues result from threads created in the `MockTcpTransport` test shim class not properly exiting during node shutdown.  That was removed from master in #36628 but still exists in the 6.x line.  These threads are cleaned up as part of

[2019-02-14 17:35] elasticmachine commented on #37543
Pinging @elastic/es-distributed

[2019-02-14 17:41] elasticmachine commented on #37965
Pinging @elastic/es-distributed

[2019-02-14 17:41] droberts195 commented on #37965
The same test failed in the same way in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+intake/93/console

I do wonder whether this is not simply a case of CI machine slowness though.

Here is the relevant snippet from this failure log:

[code]

There is no response for almost exactly 30 seconds.  Then within 0.002 seconds of the test giving up and failing it receives the respons

[2019-02-14 17:44] jasontedor commented on #38867
I muted this test in 7.0, 7.x, and master.

[2019-02-14 17:44] droberts195 commented on #37965
A similar thing happened in the original report - no response for almost exactly 30 seconds then a response 0.008 seconds after giving up.

[2019-02-14 17:45] droberts195 commented on #37965
It is of course the _mock_ network layer, so probably not a problem for production, just maybe a source of spurious test failures.

[2019-02-14 17:51] dakrone commented on #38711
Opened #38912 to unmute the test

[2019-02-14 18:00] thomassuckow commented on #22108
What is the status of Zen2? From what i can tell it looks like it is part of 7.0 and a new cluster.initial_master_nodes

[2019-02-14 18:10] tylfin commented on #38907
@jasontedor I assumed the error was propagating from the ingest nodes... I'll reboot the data nodes and see if the issue persists...

[2019-02-14 18:15] jasontedor commented on #38907
No, you can see that in the exception message:

[code]

It's a remote transport exception happening on `es-logging-data-1`.

[2019-02-14 18:30] andyb-elastic commented on #30295
I'm re-enabling tests on these boxes on master to confirm we're still seeing this issue in CI, while I dig into it a little more. It did not occur in three PR CI runs in #38864, and I was not able to reproduce it locally still

To re-disable tests on these boxes, you can either revert 94a4c3227bff5aa19fd859c1541dfab1790b066d or cherry-pick 0b601c663178dcdd9a7361dc193317c3817251eb and push it to th

[2019-02-14 18:30] tylfin commented on #38907
@jasontedor ++ yeah thanks my bad

[2019-02-14 18:30] #38907 closed

[2019-02-14 18:32] jasontedor commented on #38907
No worries!

[2019-02-14 19:26] jpountz commented on #29366
Good question. This change would only matter if the search queue is not empty so we'd need to generate significant search load.

[2019-02-14 20:14] mayya-sharipova commented on #37043
@jpountz  Do we want to expose `LongDistanceFeatureQuery` in elasticsearch and create a corresponding QueryBuilder for it?  For example :

[code]

[2019-02-14 20:53] jpountz commented on #37043
I think we should (#33382). But for this particular issue the idea is to rewrite the search request _under the hood_ to something that returns the same hits but runs faster.

[2019-02-14 22:23] talevy commented on #38874
@matriv thought about this one, this diff should resolve the problem

[code]

[2019-02-14 23:01] s-nel opened #38932 "Add limited search capabilities to snapshots"
Add limited search capabilities to snapshots

Use cases:
1. Want to find the most recent snapshot
2. Want to find the most recent _successful_ snapshot
3. Want to show a list of snapshots and page through them

When snapshots are automated to be taken periodically the number of snapshots quickly exceeds what is scalable to be retrieved in a single response with `_snapshot/<repo>/_all`

Justificati

[2019-02-15 03:39] jasontedor commented on #28538
That looks like a temporary directory from a failed plugin install. List dies not reach out to the Internet and install plugins. We should probably fail list if leftovers like tat are on disk.

[2019-02-15 05:47] #38408 closed

[2019-02-15 06:03] dnhatn commented on #38894
Log: [add_new_replica.zip](https://github.com/elastic/elasticsearch/files/2868004/add_new_replica.zip)

[2019-02-15 07:41] atorok commented on #38870
Thanks for looking into it @jkakavas . I checked the CI logs and this is an isolated incident, searching for "Couldn't connect to Docker daemon at" reveals this one build failure only.
Since it's just this one and we don't really have the means to debug it, I don't think it's worth putting more effort into this at this time. I'm going to close it.

If anyone sees this again, please reopen.

[2019-02-15 07:41] #38870 closed

[2019-02-15 07:44] #38845 closed

[2019-02-15 07:44] radzak commented on #8786
I've noticed [ESJsonLayout](https://github.com/elastic/elasticsearch/blob/891320f5ac5d92a89dbe90f050919d0bd9f671a0/server/src/main/java/org/elasticsearch/common/logging/ESJsonLayout.java) added recently, so I think it will be out with the next release?

Although I'm really sad I can't get Log4j2 JsonLayout working. I'm getting `Unable to invoke factory method in class class org.apache.logging.log4

[2019-02-15 07:53] vigyasharma commented on #20705
An overall high shard count in cluster also loads up master node operations. Are there plans for a high overall limit for cluster irrespective of number of nodes? Or limit on number of nodes in the cluster?

[2019-02-15 08:34] elasticmachine commented on #38932
Pinging @elastic/es-distributed

[2019-02-15 08:36] DaveCTurner commented on #38849
Closing this as a duplicate of https://github.com/elastic/elasticsearch/issues/25269. Please upgrade to ≥5.4.3. If the problem persists after the upgrade then please let us know and we'll reopen the issue.

[2019-02-15 08:36] #38849 closed

[2019-02-15 08:39] DaveCTurner commented on #38816
Thanks @adoerrES, seems like a reasonable request. Would you care to open a PR with your suggested changes?

[2019-02-15 08:45] waswrongassembled commented on #11322
+1

[2019-02-15 08:57] henningandersen opened #38937 "[CI] MedianAbsoluteDeviationAggregatorTests.testSomeMatchesSortedNumericDocValues fails (seed-specific)"
My PR build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-1/8268/console got the following error:

[code]

This reproduces locally using:

[code]

[2019-02-15 08:57] elasticmachine commented on #38937
Pinging @elastic/es-analytics-geo

[2019-02-15 09:13] iverase commented on #36813
It seems the test is still failing in master:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+internalClusterTest/1213/console

[code]

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=openjdk12,ES_RUNTIME_JAVA=java11,nodes=immutable&&linux&&docker/243/console

[code]

They don't reproduce locally.

[2019-02-15 09:18] bleskes commented on #22108
@thomassuckow zen2 will indeed be released as part of 7.0

[2019-02-15 09:19] original-brownbear commented on #36813
Hmpf ... it's a different failure now though it seems. We're now failing on a different step => I'm on it again.

[2019-02-15 09:22] henningandersen commented on #38937
As far as I can see this never failed before, so will not mute it for now.

[2019-02-15 09:24] #37231 closed

[2019-02-15 10:00] DaveCTurner opened #38939 "Serialization bugs are painful to track down"
Occasionally we come across a [serialization bug](https://github.com/elastic/elasticsearch/issues?utf8=✓&q=%22Message+not+fully+read%22), particularly when nodes of multiple versions are involved. [Here](https://discuss.elastic.co/t/shaky-cross-cluster-search-between-6-5-1-and-5-6-2/168518) is a report of an issue in a cross-cluster search scenario involving 6.5.1 nodes, 5.6.2 nodes, and indices d

[2019-02-15 10:00] elasticmachine commented on #38939
Pinging @elastic/es-distributed

[2019-02-15 10:10] dliappis commented on #38832
Looked at this again.

It mostly happens on centos-7 workers but I also spotted it happening on a Ubuntu kibana-ci, devops-ci Ubuntu (beats) immutable workers and even on an openSUSE Leap 42.3 non immutable worker, so it doesn't look specifically related to centos-7 workers. The history seems to start on Jan 17 this year; this doesn’t really chronologically correspond to the packer cache script fi

[2019-02-15 10:41] original-brownbear opened #38941 "S3 Snapshot Repository Erroneously Assumes Consistent List Operation"
We do the following when snapshotting a shard in https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/repositories/blobstore/BlobStoreRepository.java#L1177:

[code]

to find the latest `index-{N}` file at the root of each shard folder.
There is no guarantee that this file is actually going to be listed if two snapshots happen in rapid succession and some inco

[2019-02-15 10:41] elasticmachine commented on #38941
Pinging @elastic/es-distributed

[2019-02-15 11:01] jkakavas commented on #33864
These haven't failed since late October last year : https://build-stats.elastic.co/goto/09ab121c9712bee12bbcb0a2bf58c3ea
It looks like https://github.com/elastic/elasticsearch/pull/35271 fixed them too - closing this for now

[2019-02-15 11:01] #33864 closed

[2019-02-15 11:02] original-brownbear commented on #37965
I agree: the fact that we fail to process messages in both directions for 30s and then suddenly wake up to continue when our default timeout on many operations is 30s as well is very suspicious here.

In particular:

[code]

suggests that we may be missing a `write` somewhere and then triggering it because `close` on a connection tries to flush out all writes that are pending in `org.elasticsearch

[2019-02-15 11:05] jkakavas commented on #34013
As these haven't failed since late October last year, it looks related to https://github.com/elastic/elasticsearch/issues/33864. Could it be that the failures here were also caused/affected by the watcher issue that was resolved in https://github.com/elastic/elasticsearch/pull/35271 ?

I'm going to close this for now, we can reopen if any such failure re-emerges.

[2019-02-15 11:05] #34013 closed

[2019-02-15 11:11] weberhofer commented on #38793
@romseygeek, thanks a lot for your support. Adding the custom lowercase filter solved all issues after updating to 6.6.0 for me.

[2019-02-15 11:31] matriv commented on #38874
@talevy Thanks for that.
We had a discussion with @bleskes who helped me here (thank you!) and we came up with:  #38942 .

[2019-02-15 11:43] floragunncom opened #38944 "reindex-client references elasticsearch-ssl-config:jar:7.0.0-beta1 which is missing in maven central"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.0.0-beta1

**Plugins installed**:
none

**JVM version** (`java -version`):
openjdk version "11" 2018-09-25
OpenJDK Runtime Environment 18.9 (build 11+28)
OpenJDK 64-Bit Server VM 18.9 (build 11+28, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Darwin xxx.local 17.7.0 Darwin Kernel Version 17.7.0: Thu Dec 20 21:47:19

[2019-02-15 12:10] mayya-sharipova commented on #37043
@jpountz  thanks for reminding about #33382.

Right,  I was trying to do rewrite in `SearchSourceBuilder::rewrite` method, and noticed first we will need a `QueryBuilder` for `LongDistanceFeatureQuery`.

[code]

I guess the plan is first to implement  #33382

[2019-02-15 12:14] iverase opened #38949 "[CI] IndexFollowingIT.testFollowIndex failure"
This test has fail with an assertion error. In the logs what looks relevant Is the following:

[code]

It does not reproduce locally:

[code]

Console log: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+intake/122/console

[2019-02-15 12:14] elasticmachine commented on #38949
Pinging @elastic/es-distributed

[2019-02-15 12:34] droberts195 opened #38952 "[ML] Async creation of the .ml-annotations index can spill into subsequent tests"
Following the change of #38903 the way we create the `.ml-annotations-6` index will cause occasional assertion failures in tests that extend `ESSingleNodeTestCase`.  One such failure is https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.0+internalClusterTest/589/consoleText

Currently the `.ml-annotations-6` index is created by a cluster state listener if any other ML index exists.  T

[2019-02-15 12:34] elasticmachine commented on #38952
Pinging @elastic/ml-core

[2019-02-15 12:43] pplant commented on #8486
+1

[2019-02-15 12:46] jasontedor commented on #38952
I favor the first approach. The second approach would require that the setting be in OSS to put it into `ESSingleNodeTestCase`, or that we have a single base class that all X-Pack `ESSingleNodeTestCase`s would extend to set the setting there. Neither of those options are attractive to me. The first is not attractive because of the spilling into OSS, and the second is not attractive because of the

[2019-02-15 13:16] martijnvg commented on #38949
The shards of the follow index could not be acked (`PutFollowAction.Response#isFollowIndexShardsAcked()` returned false). This is the first time that I've seen this test failed at this assertion.

It appears this failure is caught because of missing ops during file based recovery:

[code]

@tvernum, @ywelsch or @dnhatn Have we seen this `IllegalStateException` failure before during file based reco

[2019-02-15 13:17] henningandersen commented on #37543
The log file indicates the Node.stop takes 20 seconds:
[code]

 I think this comes from MockTransport.stopInternal:

[code]

ThreadPool.terminate will wait twice for the timeout, trying to shutdown nicely first and then using shutdownNow.

[2019-02-15 13:19] jpountz commented on #37043
In my opinion one challenge with this optimization is that we also need to modify the produced `FieldDoc.fields` to remove the first element. I suspect implementing this optimization in SearchSourceBuilder#rewrite is going to make it challenging to also modify the produced TopFieldDocs when appropriate. It might have downsides that I haven't though about, but my initial idea was to do it in QueryP

[2019-02-15 13:54] iverase commented on #38952
Another case:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=sles-12/245/console

[2019-02-15 14:06] codeashish247 opened #38957 "Error: [parsing_exception] [constant_score] query does not support [query]"
"constant score query doesn't support query" error is coming when i am trying to run the following code.

[code]

[2019-02-15 14:27] jpountz commented on #37117
I think this assertion error might happen if there are ongoing search requests, due to the fact that our use of ref-counting only effectively closes index reader and stores once all in-flight requests have finished. Closing the caches while there are ongoing requests feels wrong, so I opened #38958 which tries to only close caches after in-flight requests are done processing as well.

[2019-02-15 14:34] jpountz commented on #38949
@iverase Let's mute this test?

[2019-02-15 14:34] ebadyano commented on #37482
No further feedback received. @mbudge if you have any further comments to the responses above please add it and we can look at re-opening this issue.

[2019-02-15 14:34] #37482 closed

[2019-02-15 14:42] javanna commented on #38889
thanks a lot for reporting this @consulthys ! Weird that we have not found it before, this is caused by a serialization bug in simple query string that was introduced with `6.0.0-alpha1`. All 6.x releases are affected, meaning that whenever simple query string is serialized between 5.6 and 6.x, the read and write end don't match causing the errors that you've seen. It is not a CCS bug specifically

[2019-02-15 14:56] ebadyano commented on #38957
@codeashish247 Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds
of things to the [forums](https://discuss.elastic.co/). If you can stop
by there, we'd appreciate it. This allows us to use GitHub for verified
bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elas

[2019-02-15 14:56] #38957 closed

[2019-02-15 14:57] consulthys commented on #38889
Thanks a lot for looking into and fixing this @javanna, I'm glad you found the issue!

For others stumbling onto the same issue, we've reverted back to use `query_string` instead (which is admittedly less safe and more sensible to user input), but at least doesn't suffer from the same serialization issue. For now, that will do.

Thanks again, much appreciated!

[2019-02-15 15:18] jaymode commented on #27267
Fixed by
https://github.com/elastic/elasticsearch/pull/37527

[2019-02-15 15:18] #27267 closed

[2019-02-15 15:20] jaymode commented on #32190
@bizybot I have some ideas to improve this so I reassigned to myself

[2019-02-15 15:23] elasticmachine commented on #38944
Pinging @elastic/es-core-infra

[2019-02-15 15:23] ferronrsmith opened #38964 "Cannot apply settings to all indices"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.0.0-beta1
**OS version** (`uname -a` if on a Unix-like system):
docker
**Description of the problem including expected versus actual behavior**:

Cannot apply settings to all indices

**Steps to reproduce**:

[code]

Returns the error below :

**Provide logs (if relevant)**:

[code]

Refer to doc : https://www.elastic.co/guide/en/elastic

[2019-02-15 16:47] elasticmachine commented on #38964
Pinging @elastic/es-core-features

[2019-02-15 17:33] ebadyano commented on #38964
I am able to reproduce the behaviour when elasticsearch instance doesn't have any indexes. If I have at least one index I cannot reproduce this error.

We might want to have a slight more clear error message than `no such index [null]` for such cases (when there are no indexes)?

@ferronrsmith Just to confirm, are you able reproduce this error when you have more than 0 indexes?

[2019-02-15 17:41] gwbrown commented on #38964
I also see the same behavior - this call works if any indices exist, but fails with `index_not_found_exception` if there are none.

This also occurs on the latest commit of 6.7, but I haven't checked any earlier than that.

[2019-02-15 17:41] elasticmachine commented on #38964
Pinging @elastic/es-core-infra

[2019-02-15 17:41] droberts195 commented on #37339
The slowest test in a local test I just ran was `DeleteExpiredDataIT.testDeleteExpiredData`:

[code]

Looking in the server log the following gaps exist:

26 seconds:

[code]

8 seconds:

[code]

11 seconds:

[code]

23 seconds followed by 49(!) seconds:

[code]

[2019-02-15 17:46] dimitris-athanasiou commented on #37339
This test was certainly not that slow when it was first written. Not sure if the test changed or it just takes slower to run.

[2019-02-15 17:48] #31629 closed

[2019-02-15 18:00] ppf2 commented on #38470
`.reporting-*` from Kibana reporting is another potential candidate.

[2019-02-15 18:19] andyb-elastic commented on #30295
Failed again in the periodic job https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/454/console

[build-master-packaging-454.txt.zip](https://github.com/elastic/elasticsearch/files/2870321/build-master-packaging-454.txt.zip)

Disabled again b88760b704ba7a80ecb550b6c360d2b340210e4c

[2019-02-15 18:21] original-brownbear commented on #37965
Closing this as a duplicate of https://github.com/elastic/elasticsearch/issues/37275 again. This is a general issue not specific to this test.

[2019-02-15 18:23] original-brownbear commented on #37275
@atorok yea you're right, this seems to have other non-resource reasons apparently from looking at the timings. See https://github.com/elastic/elasticsearch/issues/37965#issuecomment-463720753 if interested :) I'm investigating this currently

[2019-02-15 18:40] #36789 closed

[2019-02-15 18:40] #38318 closed

[2019-02-15 19:01] talevy commented on #35361
this popped up again after I unmuted it.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+matrix-java-periodic/ES_BUILD_JAVA=java11,ES_RUNTIME_JAVA=java8,nodes=immutable&&linux&&docker/243/console

I'll spend some time debugging. If nothing promising, I will re-mute

[2019-02-15 19:02] talevy commented on #38708
another one bites the dust:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+branch-consistency/122/console

[2019-02-15 19:12] benwtrent commented on #38470
@gwbrown we have talked about doing this for `.ml-anomalies*` and `.ml-state*` indices.

Related issues:
* `.ml-anomalies*` https://github.com/elastic/elasticsearch/issues/29946
* `.ml-state*` https://github.com/elastic/elasticsearch/issues/29938

[2019-02-15 19:13] cbuescher commented on #38603
Closed by https://github.com/elastic/elasticsearch/pull/38795

[2019-02-15 19:13] #38603 closed

[2019-02-15 20:21] ppf2 opened #38987 "ILM: Index wildcard pattern does not work for retry API when there are step errors"
6.6.0

When there are no step errors for the indices requested using the retry api, it will return a response indicating as such.

POST logstash-app1*/_ilm/retry

[code]

When there are actually step errors for the indices that are covered as part of the wildcard pattern, the same retry request throws a Bad Request error as if it no longer knows how to process the wildcard pattern.  (If I then iss

[2019-02-15 20:21] elasticmachine commented on #38987
Pinging @elastic/es-core-features

[2019-02-15 20:45] ppf2 opened #38988 "ILM: Including "aging" information in Explain lifecycle API"
6.6.0

I can see this feature being useful for admins in the field.

Imagine an admin is not seeing indices getting deleted from the cluster per their ILM policy and are wondering how much longer is left on the clock before ILM will consider the indices meeting the "age" requirement for deletion.

Currently, we have this information in the TRACE logging level

[code]

It will be helpful to include

[2019-02-15 20:45] elasticmachine commented on #38988
Pinging @elastic/es-core-features

[2019-02-15 22:30] gwbrown commented on #38988
You can determine this from the current explain response, although I can certainly see how it's not immediately obvious, and should probably be documented better than it is.  The `lifecycle_date` or `lifecycle_date_millis` fields contain the "reference" date used.

`GET /*/_ilm/explain?human`:
[code]

<1> is the date that's checked against `min_age` from the policy. So enabling trace logging isn't

[2019-02-15 22:53] ppf2 commented on #38988
Thanks for the info!  Adding something like a "time until next phase" field to the explain output will be nice.

[2019-02-15 23:44] talevy opened #38994 "Calls to Hipchat integration in 5.6 are unauthorized"
looks like calls to Hipchat in the 5.6 branch are unauthorized in CI

[code]

[code]

failed tests:

[code]

[2019-02-15 23:44] elasticmachine commented on #38994
Pinging @elastic/es-core-features

[2019-02-15 23:54] #35450 closed

[2019-02-16 00:18] dnhatn commented on #38949
Thanks @martijnvg for the initial look. I have some idea of what is happening.

[2019-02-16 00:28] #35295 closed

[2019-02-16 03:29] mucun1988 opened #38997 "May I know why negative weight in function score will be deprecated?"
Regarding this `Setting a negative [weight] in Function Score Query is deprecated and will throw an error in the next major version`, I would love to know more about the motivation of doing this.

I have used negative weight in many of my queries, and I think it is very useful.

Suppose it is really the case in the future that we cannot use negative weight in function score, are we going to introd

[2019-02-16 03:32] dnhatn commented on #38894
This was fixed by #38879. I unmuted this test on 7.0. Thanks @droberts195 for reporting this issue.

[2019-02-16 03:32] #38894 closed

[2019-02-16 04:05] jasontedor commented on #38997
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.co) that sho

[2019-02-16 04:05] #38997 closed

[2019-02-16 09:13] ferronrsmith commented on #38964
@ebadyano confirmed; it only happens when cluster has no indices.

[2019-02-16 10:39] zeeshan58 commented on #22573
@SmithMatthew are you still working on this issue, if not I would like to work on it.

[2019-02-16 13:48] nishitd opened #38998 "More details about how to use min_hash token filter?"
The documentation for min_hash token filter is inadequate. Would be good if it can be elaborated with some examples.

[2019-02-16 16:13] jasontedor commented on #38633
@bleskes @dnhatn @DaveCTurner @martijnvg @ywelsch I think that I can explain what is occurring in this test, and what is occurring here is a blocker issue.

This issue is the result of adding recovery from remote.

With recovery from remote, we copy over the index files and there is no translog replay phase. If the leader does a flush before the follower initiates recovery from remote, after recov

[2019-02-16 16:17] jasontedor opened #39000 "Replica recovery on follower can fail after recovery from remote"
Today during peer recovery, we replay operations from the translog of the primary to the replica. This is to build a history of operations on the replica, in case that it would become a primary. Unfortunately, this is currently fatal for peer recovery of a follower shard after the primary shard has recovered remotely.

With recovery from remote, we copy over the index files and there is no translo

[2019-02-16 16:17] elasticmachine commented on #39000
Pinging @elastic/es-distributed

[2019-02-16 17:32] jasontedor commented on #38633
I have marked this test as awaiting a fix in 6.7, 7.0, 7.x, and master.

[2019-02-16 17:54] dnhatn commented on #38633
@jasontedor Thanks for digging into this. @martijnvg  and I found this issue in https://github.com/elastic/elasticsearch/issues/38949. I am working on the fix for this - it's pretty contained. We can use the local checkpoint of the recovery target to validate the sending operations instead of tracking them locally on the recovery source.

[2019-02-16 17:55] dnhatn commented on #39000
Relates #38949

[2019-02-16 18:16] DaveCTurner commented on #38633
Is this caused (or exacerbated) by #38904? Prior to #38904 if soft deletes were enabled we _did_ read historical operations from Lucene during peer recovery, and I think the follower primary would have retained that history in Lucene for the duration of the recovery.

I ask because I note that the first report of this failure comes from a time before #38904 was merged.

[2019-02-16 18:23] jasontedor commented on #38633
Yes that exacerbates it.

[2019-02-16 18:34] #27583 closed

[2019-02-17 02:55] ywelsch commented on #39000
Our replication model (and peer recovery) relies on a few concepts, among which:
1) there is always a safe commit (i.e. global checkpoint >= max seq no of the Lucene commit)
2) local checkpoint equals max sequence number on primary if all ongoing replication tasks complete in the replication group (typically bounded in time and under control of the primary).

Follower indices currently violate the

[2019-02-17 03:52] robinjoseph08 commented on #38482
As an update, things are looking good after stopping/starting watcher! No duplicate events have fired since then.

[2019-02-17 11:26] spinscale commented on #38482
this still requires the customer to upgrade to the latest release as this can pop up anytime again shards of the `.watches` index are being moved around.

Please close the issue, if there is nothing left to do on our side!

[2019-02-17 11:27] #38482 closed

[2019-02-17 11:54] original-brownbear commented on #38941
@ywelsch I'm marking this as a bug since the problem after our talk about this. I agree that this is vastly more likely in the scenario of delete and then snapshot compared to subsequent snapshots, but regardless we must find a way to remove our reliance on the list operation here to stabilize things.