[2017-12-05 23:47] antonpious commented on #27622
Unfortunately on the load we did not have the monitoring enabled so couldn't get the actual memory used while the load was going on.  We did exactly as morphers82 said, to be safe we had to stop processing move the shard manually around, check the memory has come down on the node and then start the processing. We continued to do this till the load finished.

Once the load finished we backed up the

[2017-12-05 23:52] javanna commented on #27681
good catch. they were properly removed as part of #20712. I'm afraid they were added back later (see https://github.com/elastic/elasticsearch/commit/e579629b16c336cf264a04fa2c3ba589bc82f634) which cancelled the original change. I think that as a followup, the breaking change should have been removed from the migrate guide.

[2017-12-05 23:54] PiotrPapala-awin commented on #17151
+1 for @TimHeckel last comment.

I spotted the same problem tonight on 1.7.3. Got 5 scroll ids which are the same. It is kind of misleading. Would be great to update docs accordingly.

[2017-12-06 00:42] dgaedcke commented on #25152
From reading this, it seems that it's not currently possible to:

- Acquire an OpenApiSpec for the ES Rest API
- Use that spec to generate a 3rd party client for ES

Am I reading that correctly?
Any tips or links on other ways to accomplish the above?

[2017-12-06 00:43] #27678 closed

[2017-12-06 01:57] jeacott1 opened #27683 "java-rest-high-document bulk api should support a context"
when I am pulling messages from kafka partitions, and pushing to ES via the bulk api,
I need to know which bulk updates from which partitions actually succeeded in order to mark read checkpoints.
it would be helpful to be able to supply extra context (ie a Map) to the api in order to track such things.
probably on BulkRequest objects, and individual request objects.

The BulkProcessor should also

[2017-12-06 03:40] DimDroll commented on #18073
By going through documentation here:
https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-update-settings.html
I've noticed that you can set number_of_replicas in there as well, quote:

[code]

However when I do the same for global settings:
[code]
I got:

So I have to use templates. Am I missing something or documentation is a bit outdated there?

[2017-12-06 04:00] codebrain commented on #27681
So... the parameters are still valid, the REST spec is correct and the documentation for the Breaking Changes is incorrect?

[2017-12-06 04:30] OuyangKevin opened #27684 "exception occur when use performRequestAsync"
**Describe the feature**:

when i use performRequestAsync like this,it occur exeception:

[code]

exception:
[code]

and

[code]

the rest client version is:

[code]

and while use 6.0.0 ,it is the same!

**Elasticsearch version** (`bin/elasticsearch --version`):
5.5.3

**Plugins installed**: []
none

**JVM version** (`java -version`):
client JVM is 1.7

**OS version** (`uname -a` if on a Unix-lik

[2017-12-06 04:47] tvernum commented on #27681
@javanna I'm confused - I would interpret your comments the same way @codebrain did, but that doesn't match the code.

The change to the Java request object (from #20712) [still stands in v6.0.0](https://github.com/elastic/elasticsearch/blob/v6.0.0/core/src/main/java/org/elasticsearch/action/admin/indices/exists/indices/IndicesExistsRequest.java) but it seems that the change to the REST spec was a

[2017-12-06 06:35] #27537 closed

[2017-12-06 08:10] bleskes commented on #27649
This has been resolved.

[2017-12-06 08:10] #27649 closed

[2017-12-06 08:15] #27452 closed

[2017-12-06 08:43] javanna commented on #27681
@tvernum the changes to the java request objects are still valid but they are only exposed to the transport client... if you hit `HEAD /index` it will go to `RestGetIndicesAction`, which doesn't use `IndicesExistsRequest` anymore. This was changed as part of the effort to make `HEAD` requests spec compliant, so that they behave the same as their corresponding `GET` request (accept same parameters,

[2017-12-06 09:30] clintongormley commented on #18073
You are misunderstanding.  The `PUT _settings` form applies to all existing indices, it doesn't change defaults anywhere.  For that you need to use templates

[2017-12-06 09:42] clintongormley commented on #24853
Hi @arboliveira

I'm sorry that you have run into this change, especially as the documentation hasn't been updated.  That said, I think the change is a good one and greatly simplifies management of dynamic templates, including the ability to unset templates (#11627). These templates are usually set at index creation and seldom touched again - having a "fully granular API to configure dynamic templ

[2017-12-06 10:29] clintongormley commented on #17151
@PiotrPapala-awin @TimHeckel Fancy sending a pull request to fix the docs?

[2017-12-06 11:04] Mpdreamz commented on #27672
`error` is also sometimes returned as a `string`. as can be seen when getting an alias that does not exists e.g `GET /_alias/unknown-alias` returns:

[code]

The way NEST currently deals with this is to map it as it if it were returned as:

[code]

[2017-12-06 11:35] javanna commented on #27672
Possibly related to #22928

[2017-12-06 11:54] jilinhao commented on #10899
GET logstash-i-2017.11.30/_search?pretty
{
    "aggs" : {
        "destid" : {
            "terms" : {
                "script" : {
                    "source": "doc['destid'].value",
                    "lang": "painless"
                }
            }
        }
    }
}

why?
{
  "error": {
    "root_cause": [
      {
        "type": "parsing_exception",
        "reason": "Unexpected token VALU

[2017-12-06 11:55] jilinhao opened #27686 "Unexpected token VALUE_STRING"
GET logstash-i-2017.11.30/_search?pretty
{
"aggs" : {
"destid" : {
"terms" : {
"script" : {
"source": "doc['destid'].value",
"lang": "painless"
}
}
}
}
}

why?
{
"error": {
"root_cause": [
{
"type": "parsing_exception",
"reason": "Unexpected token VALUE_STRING [script] in [destid].",
"line": 5,
"col": 29
}
],
"type": "parsing_exception",
"reason": "Unexpected token VALUE_STRING [script] in [destid

[2017-12-06 12:03] cbuescher commented on #27686
Hi, looks like your question is better suited to the support forums over at https://discuss.elastic.co. We prefer to use Github issues only for bug reports and feature requests, and we think it's more likely this is a question than a bug report. I'm closing this as an issue here, but encourage you to ask this question in the forum instead. Many thanks.

[2017-12-06 12:03] #27686 closed

[2017-12-06 12:21] Ricolo53 opened #27687 "icu_tokenizer not found"
Hello,

I'm on ES 6.0 and I've installed ICU Analysis Plugin like explain [here](https://www.elastic.co/guide/en/elasticsearch/plugins/current/analysis-icu.html) to implement better french analyzer like explain on [this website](https://jolicode.com/blog/construire-un-bon-analyzer-francais-pour-elasticsearch#tldr).

But when I try to put analyser on settings, like

[code]

Error was return :

[cod

[2017-12-06 12:55] Ricolo53 commented on #27687
Ok, just I don't restart ES after install plugin...... Don't blame me...

[2017-12-06 13:22] dadoonet commented on #27687
Please next time ask this kind of question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-12-06 13:22] #27687 closed

[2017-12-06 13:47] cbuescher commented on #27683
Hi @jeacott1,

the BulkResponse you get back when executing the BulkRequest should hold a response for each item responding of the bulk requests, in the order they have been sent (either the document id/type/index or a failure object). Could you describe in more detail what part is missing from this API to work in your use case?

[2017-12-06 16:39] mayya-sharipova opened #27689 "Order of atomic alias operations seems inconsistent"
Executing an atomic alias operations on the **same index** and **same alias**  returns inconsistent results:

[code]

To sum up:
The same request will produce different result:
1) If the alias doesn’t exist before the request, it will be created
2) If the alias doest exists, it will be removed

[2017-12-06 16:57] nknize opened #27690 "Add WKT support to GeoBoundingBoxQueryBuilder"
#9120 added WKT support to `ShapeBuilders`. It also added support for `BBOX (...` which should be supported in `GeoBoundingBoxQueryBuilder`

[2017-12-06 21:32] vermarajput commented on #27270
I understand that serialization of BigDecimal or LocalDate is not supported, howver, is there any work around the same??

[2017-12-06 23:08] tvernum commented on #27681
Ah, that makes much more sense. I should have looked at Jason's change more closely.

[2017-12-06 23:08] jasontedor commented on #27270
@vermarajput Please see #17006.

[2017-12-06 23:52] jeacott1 commented on #27683
sure,
 the current api only accepts and responds with data intended directly for ES consumption. ie I can only send actual to be indexed documents. If I want for example to use the async api, and know which partition Id was associated with a given batch I have 3 basic options.
1. I create a new esClient, or wrapper representing each partition and ensure I use the correct one for the partition each

[2017-12-07 00:48] jasontedor commented on #27683
I don't understand, you can capture the context client side as part of your async listener:

[code]

You can capture whatever metadata you need here?

The bulk processor is different since you do not control the batching. Sending bulk requests to the bulk processor mostly defeats the point of the bulk processor (other than controlling the number of outstanding requests), instead use the bulk metho

[2017-12-07 01:18] sandeep-developer opened #27694 "On ES upgrade from 5.5.1 to 5.6.3 , ES Instances Fails when removing and disabling expired X-Pack Security"
Upgrading from  ES 5.5.1 to 5.5.4
**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []X-pack

**JVM version** (`java -version`):
1.8.0_144
**OS version** (`uname -a` if on a Unix-like system):
Window 2012 R2
**Description of the problem including expected versus actual behavior**:
After Upgrade , i have removed the expired X-Pack plugin  but after removing ES not c

[2017-12-07 01:28] jasontedor commented on #27694
From your logs:

[code]

You removed X-Pack but you're still using an X-Pack setting. Elasticsearch is strict about parsing settings (do you really want to have X-Pack security settings enabled and have them ignored if X-Pack is not installed)? No, you do not.

This is expected behavior for the settings infrastructure within Elasticsearch. I am closing this as not a bug.

[2017-12-07 01:28] #27694 closed

[2017-12-07 03:27] sandeep-developer commented on #27694
No i understand that, but  i am not using X-Pack security , and i have already disabled X-Pack, do you know what is the workaround so that i should not encounter this issue . What is the solution?

[2017-12-07 03:28] jasontedor commented on #27694
Remove the setting. Please ask additional questions on the [forum](https://discuss.elastic.co). This space is reserved for verified bug reports and feature requests only.

[2017-12-07 05:27] eranya opened #27697 "SnifferBuilder.sniffOnFailureListener() not honored"
**Elasticsearch version** (`bin/elasticsearch --5.6.4`):

**Plugins installed**: []

**JVM version** (`1.8`):

**OS version** (Ubuntu):

**Description of the problem including expected versus actual behavior**:
SnifferBuilder.setSniffAfterFailureDelayMillis is not honored and not called based on the supplied interval. Instead the interval sniffer is using is SnifferBuilder.setSniffIntervalMillis

[2017-12-07 08:59] SchaSol commented on #27639
I'm seriously getting annoyed... The metric does return a numeric value, there are no quotes around it when it gets returned (which would imply that it is a string), everything just fine... Nobody at the forums is replying... This has to be a bug?

I've also posted this on Stack Overflow, which contains more details and contextual data:
https://stackoverflow.com/questions/47595134/elasticsearch-ca

[2017-12-07 09:05] SchaSol opened #27698 "ScriptedMetric not usable in BucketScript"
I've asked on the Elasticsearch forums, and on Stack Overflow, but nobody appears to have an answer. I've also created hits issue on here already, but it was just closed, but I've really tried everything... Please help...

This is my topic on Stack Overflow which contains the code and more contextual data:
https://stackoverflow.com/questions/47595134/elasticsearch-cant-read-scriptedmetric-from-buc

[2017-12-07 09:14] danielmitterdorfer commented on #27697
@javanna can you please have a look at this one?

[2017-12-07 09:43] jimczi commented on #27698
I answered on the forum directly:
https://discuss.elastic.co/t/bucketpath-to-scriptedmetric-not-working/109904
Also regarding how and when we answer questions on forums or stack overflow please see our  [guidelines](https://www.elastic.co/community/codeofconduct):

[2017-12-07 09:43] #27698 closed

[2017-12-07 09:44] spinscale opened #27699 "REST/YAML tests: Add equivalent of assertBusy() to framework"
With the increased usage of REST and YAML tests there are also use-cases where a REST test needs to wait for something to happen in the background, be it a cluster state listener applied or resources added.

In order to not use the equivalent of `Thread.sleep` by waiting for a request to timeout (i.e. a health check with a too high number of nodes), we should maybe have something like `assertBusy`

[2017-12-07 10:15] javanna commented on #27699
Some philosophical questions: why do we have an increased usage of yaml tests? What is the advantage of writing yaml tests over Java tests? Yaml tests were created so that they could be run from the the different language clients. Are we adding yaml tests that the language clients won't ever run? What has changed compared to the initial goal of the yaml suite?

I think the answers to these would h

[2017-12-07 12:35] megaherz2525 opened #27700 "Plugin [repository-azure] is incompatible with version [5.5.2]"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.5.2, Build: b2f0c09/2017-08-14T12:33:14.154Z, JVM: 1.8.0_151

**Plugins installed**: [repository-azure]

**JVM version** (`java -version`):
java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.151-b12, mixed mode)
*Oracle Java

**OS version** (`uname -a` if on

[2017-12-07 12:40] dadoonet commented on #27700
Can you ls -l your plugins/repository-azure dir?

[2017-12-07 13:12] jprante opened #27701 "Improve error message for whitespace-only JSON field names"
**Elasticsearch version** : 5.2.1

**Plugins installed**:  none

**JVM version**:
openjdk version "1.8.0_152"
OpenJDK Runtime Environment (Zulu 8.25.0.1-macosx) (build 1.8.0_152-b16)
OpenJDK 64-Bit Server VM (Zulu 8.25.0.1-macosx) (build 25.152-b16, mixed mode)

**OS version**:
Darwin Jorg-Prantes-MacBook-Pro.local 16.7.0 Darwin Kernel Version 16.7.0: Wed Oct  4 00:17:00 PDT 2017; root:xnu-3789.71

[2017-12-07 13:17] danielmitterdorfer commented on #27620
Closed by #27668.

[2017-12-07 13:17] #27620 closed

[2017-12-07 13:45] ywelsch commented on #27234
Still broken with same failure one month later: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+packaging-tests/374/consoleFull

[2017-12-07 13:49] danielmitterdorfer commented on #27661
Hi @vchan2002, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) instead.

I tried to reproduce your issue as follows:

[code]

All search results contained the field `status` with the value `ingested` indicating that they went through the ingest pipeline just fine (before and after

[2017-12-07 13:49] #27661 closed

[2017-12-07 13:58] jasontedor commented on #27234
@ywelsch What do you mean still broken one month later? The test has been green in the interceding period. In fact, mostly green.

[2017-12-07 14:17] danielmitterdorfer commented on #27701
It looks indeed as if this is a side-effect of #22891. @dakrone could you please comment whether this was intentional or unintentional (based on what I read it was not)?

[2017-12-07 14:30] clintongormley commented on #27701
Regardless of intention, I don't think we want fields called ` ` - it will surely interfere with a number of other things in ES, including aggs.

[2017-12-07 14:33] danielmitterdorfer commented on #27701
@clintongormley that was my initial reaction too. Anyway, it would be nice to improve the error message?

[2017-12-07 14:46] cbuescher opened #27704 "Remove `delimited_payload_filter` and add to migration assistant"
This is a follow up to #26625. What seems left to do is remove the deprecated use of `delimited_payload_filter` in 7.0, but still allow the old form for indices created in 6.x. Also, a check should be added to the migration assistant.

[2017-12-07 15:45] dakrone commented on #27701
@danielmitterdorfer this was an intentional change (preventing `" "` being a field), the error message does need to be improved though to make it explicit that we don't support this

[2017-12-07 15:46] dakrone commented on #27701
I also don't think this is a regression, spaces and dots as field names was a bug that was fixed (hence why the change was made for 5.2.1) because it caused incorrect path resolution in mappers, not something that we want to continue supporting.

[2017-12-07 16:23] danielmitterdorfer commented on #27701
So to summarize: There is no intention to allow whitespace-only JSON keys. Hence, the actual TODO here is to improve the error message. @dakrone I have adjusted the ticket description accordingly.

[2017-12-07 16:56] atennant commented on #5359
+1

[2017-12-07 17:59] bleskes commented on #27689
I did some digging and this has to do with the fact that we treat aliases in the remove command as wild card expressions and [resolve them in advance](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/action/admin/indices/alias/TransportIndicesAliasesAction.java#L142) against the cluster state before we run the command. This means that if the alias was not t

[2017-12-07 18:37] jasontedor commented on #27234
I think this latest failure had to do with the version bump?

[2017-12-07 18:41] jasontedor commented on #26062
The JDK 9 builds are failing on the integration tests against the Debian and RPM packages because the packaging sets GC logging to these packages to /var/log/elasticsearch but there is no guarantee that when a cluster is spun up from this packaging (via `bin/elasticsearch`) (without being installed via `rpm` or `apt-get` and without being started as as service) that these directories exist or are

[2017-12-07 18:45] jasontedor commented on #27234
To be clear, the version having not yet been bumped but should pass after a build with the bump in place completes.

[2017-12-07 19:12] jasontedor commented on #27234
The latest build is successful. I am treating this as a temporary issue from the version bump and closing this out.

[2017-12-07 19:12] #27234 closed

[2017-12-07 20:09] kakaner opened #27708 "Cannot search using routing keys that end in whitespace"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 5.6.3, Build: 1a2f265/2017-10-06T20:33:39.012Z, JVM: 1.8.0_45

**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_45"
Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.45-b02, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux 3.10.

[2017-12-07 21:29] dnhatn opened #27710 "Strings#splitStringByCommaToSet vs Strings#splitStringByCommaToArray"
These two helper methods are expected to have the same behaviour. However, `Strings#splitStringByCommaToSet` trims the leading and trailing whitespace of the substrings, while `Strings#splitStringByCommaToArray` reserves them. This subtle difference can lead to unexpected bugs (For example https://github.com/elastic/elasticsearch/issues/27708).

[2017-12-07 21:43] vaibhavtripathi commented on #9572
@alexksikes Can you point me to an example of the two-query approach you are suggesting?

[2017-12-07 22:04] jochia commented on #12366
+1

[2017-12-08 02:36] jasontedor commented on #27710
I am not sure if they are expected to have the same behavior. The relevant change is #19520 which deliberately changed the behavior of `Strings#splitStringByCommaToSet` to trim whitespace. Then we have `Strings#tokenizeToStringArray` which behaves like `Strings#splitStringByCommaToArray` except it trims whitespace.

[2017-12-08 03:30] jasontedor commented on #27710
I opened #27715 to rename `Strings#splitStringByCommaToSet` so that people do not think the behavior is the same on the basis of the names alone. I also added Javadocs, and cleaned up the related code.

[2017-12-08 03:49] dnhatn commented on #27710
Thank you @jasontedor.

[2017-12-08 04:34] avneesh91 opened #27716 "CONTRIBUTING.md IntelliJ configurations settings are confusing."
The Contributing.md is not clear about where exactly to change the  Short Command Line setting. It just mentions:

Run->Edit Configurations...

Also the file does not mention how to run an instance of elastic search from the source code.

Pull request: https://github.com/elastic/elasticsearch/pull/27717

[2017-12-08 09:30] droberts195 commented on #27646
I think the change that has been made probably works for production but not for the integration tests.

The integration tests now fail with this error:

[code]

An example of this is https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+java9-periodic/4989/console

I think the problem is that the JVM is being told to log to `/var/log/elasticsearch`, but for the integration tests the

[2017-12-08 09:34] droberts195 commented on #27646
This one is basically the same problem but when testing the deb rather than the rpm: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+java9-periodic/1609/console

[2017-12-08 11:15] jasontedor commented on #27646
@droberts195 This is tracked in #26062 (see [comment](https://github.com/elastic/elasticsearch/issues/26062#issuecomment-350057073)). In short, the proposal in that issue is stop exploding these archives and starting Elasticsearch from them as that is not how they are intended to be used (instead, installed via a package manager and started as a service). So we need to disable these integration te

[2017-12-08 11:15] #27646 closed

[2017-12-08 12:01] #27716 closed

[2017-12-08 14:14] bleskes commented on #22446
We try to fully understand the reasoning for adding features. The interaction between indices, aliases and templates is already complex enough.

Can you please elaborate on your use case? What is the role of the aliases?  i.e., what's the reason to distinguish between read and write?

[2017-12-08 14:17] spinscale commented on #27699
We talked about this, and it makes sense to keep using `ESRestTestCase` in such cases, as they are much more likely feature tests and should not run when the client test things. The correct way would be to make sure all the APIs are supported in the high level rest client and use that one inside of `ESRestTestCase`

[2017-12-08 14:17] #27699 closed

[2017-12-08 14:26] droberts195 commented on #25453
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux/1772/console failed on a different test in the same suite, but in the same way: it got a 404 when trying to delete the `test` index in the `finally` block.

The exception thrown from the `finally` block could well be masking an earlier exception which would have been more useful.

https:

[2017-12-08 14:27] jimczi commented on #27657
@ilyaanisimov-reuters can you explain why you need a 100MB query ? I don't think we should add new query parameters in the url because of compression. A query should be small and to be honest a 100MB query should be refused by es right away.

[2017-12-08 14:30] taylorKonigsmark commented on #27708
I'd like to take this on!

If anyone has some suggestions of where to look for the problem, it'd be appreciated! Otherwise, if i can't solve it; I'll let y'all know so someone else has the opportunity to pick it up.

[2017-12-08 14:40] spinscale commented on #27617
we will need to fix documentation here to properly reflect how division works and also how it differs from groovy and mention less that painless resembles groovy despite having a few similarities. I'll come up with a PR

[2017-12-08 14:42] s1monw commented on #27622
I think I understand your idea and there is nothing wrong with it. We discussed it and we are all struggling a bit how we would implement something like this. Is it something like this. We really need to figure out what is consuming memory ie. in your case using nested documents (that's what I guess from your FixedBitSets). I mean we can go and say we accumulate some defined counts like segment me

[2017-12-08 15:02] colings86 commented on #27679
@joshfix could you elaborate a bit more on what you mean by this feature?

Since a search aims to return the top N hits (and/or aggregated information about all the hits) I'm not sure how a streaming API would work in practice because we would need to do all of the work before we can return any of the search response.

Is your use-case only concerned with the scroll API where you are iterating thr

[2017-12-08 15:18] DaveCTurner commented on #22928
@liketic yes, that sounds like a sensible goal to work towards. See also #27672 for a wider issue.

[2017-12-08 15:22] jasontedor commented on #27708
@taylorKonigsmark There is an open PR: #27712

[2017-12-08 15:29] DaveCTurner opened #27724 "Expose failed processor using exception metadata"
... instead of headers.

#18342 introduced some extra information on exceptions thrown by a compound processor, using headers, which is one of the many metadata mechanisms we currently have. As part of #27672 we'd like to reduce the variety of metadata mechanisms for the benefit of clients. Could this information be passed through using `addMetadata()` instead?

@talevy do you have any opinions on

[2017-12-08 15:37] DaveCTurner commented on #27724
Also @simonw said this: https://github.com/elastic/elasticsearch/pull/16276#issuecomment-177910583 - do you (Simon) have opinions about preferring metadata over headers?

[2017-12-08 15:37] jasontedor commented on #27646
I opened #27725.

[2017-12-08 15:39] DaveCTurner commented on #27724
The code in question is https://github.com/elastic/elasticsearch/blob/24d7fa6d54339b2ab9459558e507ec958f980ca8/core/src/main/java/org/elasticsearch/ingest/CompoundProcessor.java#L158-L163

[2017-12-08 15:51] DaveCTurner opened #27728 "Add metadata to configuration exceptions"
... instead of using headers.

Similarly to #27724, there is some exception metadata that is included in headers rather than using `addMetadata()`, introduced in #19318.

https://github.com/elastic/elasticsearch/blob/2e36f190515b7b3a79a7b1cf380ef8015ffaefae/core/src/main/java/org/elasticsearch/ingest/ConfigurationUtils.java#L346-L354

Under the umbrella of #27672, it'd be preferable to use `addMet

[2017-12-08 15:57] talevy commented on #27724
Thanks for bringing this up @DaveCTurner. At the time, headers were the only way to inject custom context without creating a new custom Exception (something that is frowned upon). I was not aware that metadata was added in 5.3 to clean up the semantics of these additional fields (https://github.com/elastic/elasticsearch/pull/22703). It seems like metadata is the more appropriate place for this inf

[2017-12-08 15:59] DaveCTurner opened #27729 "Add metadata to ShardOperationFailedException"
... (the implementations thereof) rather than implementing `ToXContent` directly. This should reduce the number of ways that errors are reported to clients.

This was suggested as part of #27672 but worthy of another discussion next week as this particular design choice is very well-established and may not be worth changing.

[2017-12-08 16:03] DaveCTurner commented on #27672
I broke this down to #27724, #27728 and #27729, and #22928 is a pre-existing task that takes us in the right direction.

There are a number of different `Failure` classes and I'm not sure which of them the fourth point refers to. @Mpdreamz could you clarify?

[2017-12-08 16:33] jasontedor commented on #27708
Closed by #27712

[2017-12-08 16:33] #27708 closed

[2017-12-08 16:36] droberts195 opened #27731 "[CI] MasterDisruptionIT.testVerifyApiBlocksDuringPartition fails in checkIndex"
MasterDisruptionIT.testVerifyApiBlocksDuringPartition failed on the 6.x branch on macOS: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-darwin-compatibility/398/console

This doesn't reproduce locally for me with:

[code]

It actually failed after the test in the cleanup checks of `ESTestCase`:

[code]

This implies `MockFSDirectoryService`'s index check failed, and thi

[2017-12-08 17:02] jpountz commented on #27731
I double checked that we make sure to close the engine, which in turn closes the index writer, before calling the afterIndexShardClosed listeners. So there is something fishy happening. @simonw Pinging you since you are more familiar with the engine than I am.

[2017-12-08 17:12] biggreenogre commented on #27236
Apologies for delay, vacation, work, etc.
Basic patches to deb and rpm init scripts is straight-forward but regarding tests, guidance would be most welcome.
Should I be looking in dev-tools/smoke_test_rc.py? Looks like it fires up a container but how can I set the sysctl var?

[2017-12-08 17:19] arboliveira commented on #24853
Thank you, sounds reasonable. Would anyone kindly be able to direct us to the source code in 2.x where "merging" used to be performed? ("replace dynamic template if present, add to end if not") We may be able to salvage some of the logic when writing our client side implementation.

[2017-12-08 17:52] javanna commented on #27724
Wasn't also not having to parse response body a reason for using headers over metadata? Do we know if any of our product reads this stuff returned as part of response headers?

[2017-12-08 18:01] tbrooks8 commented on #27563
This is closed by #27696.

[2017-12-08 18:01] #27563 closed

[2017-12-08 19:41] eladmena commented on #22446
the -read/-write suffix is just an example for aliases names.

The idea of this feature (more an enhancement for the index-templates feature) is as follows:
In case an index-template has aliases in its configuration and the application works with aliases to access indices, then the index template feature doesn't give a complete solution.

for example if my template matches "a*" and has an alias ca

[2017-12-08 20:17] ilyaanisimov-reuters commented on #27657
@jimczi I understand your point. We are porting old application with it's requirements and sometimes have to generate huge terms queries.It's the only way to fulfill requirements.

[2017-12-08 20:29] ilyaanisimov-reuters commented on #27657
ES fits most of the requirements we have except some corner cases (what a surprise! we have corner cases). The situation with slices and big queries is just one of them. In other cases we wrote plugins.

[2017-12-08 20:30] Grinnz opened #27733 "Allow 1 and 0 as booleans?"
**Describe the feature**: https://github.com/elastic/elasticsearch/pull/22200 and https://github.com/elastic/elasticsearch/pull/26389 removed support for lenient booleans, which makes a lot of sense. Allowing arbitrary values as booleans is asking for silent mistakes like misspelling 'false'. However, the values 1 and 0 (or exact strings "1" and "0") are widely used or accepted as booleans in many

[2017-12-08 20:34] ilyaanisimov-reuters commented on #27657
The general goal of the PR is to remove client side inefficiency of generating a payload for every slice. With the url parameter the payload can be generated once, compressed once, and reused for every sliced scroll request

[2017-12-08 20:46] #27701 closed

[2017-12-08 22:45] ppf2 opened #27736 "Warning on _missing_ query_string usage post-5.0?"
Related to https://github.com/elastic/elasticsearch/issues/21226.

I am wondering if there's anything we can do here to help users with migration where they may have Lucene query string using `_missing_`.  Here is the current behavior:

1.  Yep, we documented it here that `_missing_` has been removed: https://www.elastic.co/guide/en/elasticsearch/reference/5.5/breaking_50_search_changes.html#_depr

[2017-12-08 23:10] elasticmachine opened #29987 "SQL: TIME_DIFF"
*Original comment by @rashidkpc:*

RE: Conversation on slack.

TIME_DIFF for date_histograms. Would be nice to support elasticsearch interval expressions, eg

[code]

[2017-12-09 09:01] ahmadazimi opened #27738 "Any way to use MultiLine geometry with Context Suggester"
Hi there,

is there any way to use MultiLine geometry with Context Suggester (geo location content) in v6?

[2017-12-09 13:57] elasticmachine opened #29988 "SQL: Support Run_as parameter in X-pack in SQL statement"
*Original comment by @gingerwizard:*

This request has BI tools in mind. Most of the ones we have looked at support being able to inject this current BI user into the SQL statement. @elasticjeff has further details here.
The driver connects through a user.  In order to allow document permissions to be reflected in the BI tool, the proposal is to allow a run_as parameter to be added to the sql stat

[2017-12-09 15:25] dnhatn commented on #27738
@ahmadazimi,  Please ask questions on https://discuss.elastic.co where we can give you a better support. We use Github for bug reports and feature requests. Thank you.

[2017-12-09 15:25] #27738 closed

[2017-12-09 16:20] ctindel opened #27739 "Missing table in http exporter reference"
This Page for 6.0:

https://www.elastic.co/guide/en/elasticsearch/reference/current/http-exporter-reference.html

host is a required setting for http exporters, which can take a few different forms as described in the table below.

But there is no "table below".

[2017-12-09 16:24] jasontedor commented on #27739
This repository is for open source Elasticsearch only, we do not handle closed source X-Pack here.

[2017-12-09 16:24] #27739 closed

[2017-12-09 17:50] ctindel commented on #27739
Sorry you're right!

[2017-12-09 19:27] ahmadazimi commented on #27738
@dnhatn Thank you for your hint,
I've already ask it there but nobody is answered it unfortunately.

https://discuss.elastic.co/t/context-suggester-with-multiline-geometry-as-geo-location-context/110924

[2017-12-09 20:46] awick opened #27740 "Option to allow docvalue_fields of date types to return ms"
Prior to ES 6 docvalue_fields on dates returned ms, now it returns a formatted date.  Would be nice if that formatting could be specified, including allowing epoch_millis.

https://www.elastic.co/guide/en/elasticsearch/reference/current/date.html
Says that "The first format will be used to convert the milliseconds-since-the-epoch value back into a string.", so maybe this is a bug and not a feature

[2017-12-10 02:41] rpedela commented on #27588
I want to second normalizing a score! I typically use boolean queries with multiple match queries as the base query which can yield top scores in the 10s or 100s or sometimes less than 1.0. It is very difficult to combine popularity or recency because they aren't necessarily on the same scale. Additionally the base query's scale can change between queries adding another level of complexity to manu

[2017-12-10 09:17] antitech opened #27742 "Wrong behavior while searching all indices with specific alias by java api."
<!--

By using elasticsearch client java api 6.0 ,I am trying to get only those indices which are associated with an specific alias in elsticsearch 6.0.

My Requirement: if index A and index D are associated with alias "aliasTemp". and index B is associated with alias "aliasB" then if i want to search by alias "aliasTemp" then only indices A and D should be return. I am using below snippet with el

[2017-12-10 09:19] #27742 closed

[2017-12-10 09:19] antitech commented on #27742
Incorrect description.

[2017-12-10 09:27] antitech opened #27743 "Wrong behavior while searching all indices by specific alias ."
By using elasticsearch client java api 6.0 ,I am trying to get only those indices which are associated with an specific alias in elsticsearch 6.0.

My Requirement: if index A and index D are associated with alias "aliasTemp". and index B is associated with alias "aliasB" then if i want to search by alias "aliasTemp" then only indices A and D should be return. I am using below snippet with elastic

[2017-12-10 10:40] gokberksahin commented on #27583
Hello, i started to work on this since PR hasn't been accepted and has conflicts.

[2017-12-10 11:09] gokberksahin commented on #27583
I'm curious, how can i solve issues like this quickly, source code is too long nobody can't read it all so how to find related files to this issue, i used grep -R command but is there another way?

[2017-12-10 12:11] SimoneCafiero opened #27745 "Elasticsearch in docker-compose documention 'version' a number is used"
In here https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html in the docker-compose.yml file version has a number value.

[2017-12-10 12:58] luizgpsantos commented on #18543
It seems that the snapshot status endpoint exposes this information in stats.total_size field:

GET /_snapshot/my_backup/snapshot_1/_status?human

[2017-12-10 17:11] bleskes commented on #27583
@gokberksahin  Grep indeed for the the setting string and the you'll find
the java source code in which it's defined (some instance of Setting). From
there you can use an IDE to see where setting instance is used.

On Sun, Dec 10, 2017 at 12:09 PM, gokberksahin <notifications@github.com>
wrote:

[2017-12-10 19:55] jasontedor commented on #27743
I see that you opened a [forum](https://discuss.elastic.co/t/bug-es6-java-api-elasticsearch-returning-all-the-indices-while-trying-to-get-only-those-indices-which-are-associated-with-specific-alias/110914) post. Please do not cross post, it leads to fractured conversations. Let's handle this there, and we can reopen this if there is a verified bug.

[2017-12-10 19:55] #27743 closed

[2017-12-10 20:07] jasontedor commented on #27745
You're right, thanks for the report. I pushed a commit to the internal repository that these docs are built from. A new version should be pushed live to the website within thirty minutes.

[2017-12-10 20:07] #27745 closed

[2017-12-10 22:20] sfratini commented on #23172
@jasontedor  I understand this is an awful old bug and closed, however I am having this issue trying to query ElasticSearch from the PowerBI desktop Web DataSource even on 6.0.1 version.

Is this suppose to still happen? I have been reading that PowerBI does actually add the Expect-100 header so this is expected.

What is the workaround/solution here then? Changing the content-length setting in El

[2017-12-10 23:14] micoq opened #27748 "Avoid file cache trashing on Linux with mmapfs by using madvise() ?"
With `mmapfs`, search queries load more data than necessary in the page cache. By default, every memory mapping done with `mmap()` (and `FileChannel.map()` in Java) on Linux is expected to be read (almost) sequentially. However, when a search request is done, the inverted index and other data structures seem to be read randomly so the system loads extra memory pages before and after the necessary

[2017-12-10 23:16] mayya-sharipova commented on #27517
@jimczi  What if instead of number of analyzed tokens, we will limit the length of the text to be analyzed?
Both `org.apache.lucene.search.highlight.Highlighter` (used in Elastic `PlainHighlighter`), and `org.apache.lucene.search.uhighlight.UnifiedHighlighter` (used in Elastic `CustomUnifiedHighlighter`) already have this limit implemented:

1. `org.apache.lucene.search.highlight.Highlighter` has

[2017-12-11 01:16] dnhatn commented on #27538
Another https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/5327/console

[2017-12-11 04:40] repakaravikanth commented on #23740
Hi,

I am trying to use partitions for my pagination support. As I mentioned previously here, the terms can be in any partition depend on filed hash value. But, if we traverse all partitions can we get all terms without duplicates? What happens if there is a client side delay(few secs to mins) in between retrieving partitions results? Is it guaranteed to get the next partition results are unique a

[2017-12-11 04:51] antitech commented on #27743
Thanks  @jasontedor , we'll handle it there.

[2017-12-11 09:45] DivyaMalini opened #27749 "Search slow logs throws JSonGeneration exception when trying to log the actual query that was executed."
Is this bug report or feature request for a supported OS?

I had raised the same issue in the ES forum - https://discuss.elastic.co/t/es-5x-jsongenerationexception-in-slow-logs/108510/2

**Elasticsearch version** (`bin/elasticsearch --version`):
ES version 5.4.1
Nest 2.3.3

**JVM version** (`java -version`):
Java 1.8 or above

**Description of the problem including expected versus actual behavior*

[2017-12-11 10:28] markharwood commented on #23740
Probably the wrong place to ask for help. This is intended as a place for reporting issues, not a discussion forum. I have responded to the [identical question](https://discuss.elastic.co/t/is-aggregation-partitions-results-are-unique/111004) you raised in the discuss forum.

[2017-12-11 10:48] clintongormley commented on #27733
@Grinnz As the author of the Perl client, I felt similarly and have long defended truthy/falsey values, until I realised that 0 is true in ruby.  When you start looking at other languages, you realise that there is a mishmash of what is considered true vs false, so whatever you choose, it's going to be wrong (and thus surprising and confusing) for somebody.

This led me to put my weight behind str

[2017-12-11 10:48] #27733 closed

[2017-12-11 11:12] colings86 commented on #27749
I've tested this on  master, 6.0.1, 5.6.5 and 5.4.1 and cannot reproduce this bug. In my tests the query is printed in full as expected. If you are still able to reproduce this bug could you remove parts of your search request until you can determine which part of the search request are causing the issue? Also please can you try to reproduce this on a clean installation of Elasticsearch and potent

[2017-12-11 11:15] #27360 closed

[2017-12-11 12:07] varas commented on #10005
Same issue, we are tracking events that happen within nanosec precision.

Is there any plan to increase it?

[2017-12-11 12:11] clintongormley commented on #10005
Yes, but we need to move from Joda to Java.time in order to do so. See https://github.com/elastic/elasticsearch/issues/27330

[2017-12-11 12:21] clintongormley commented on #22446
I can see how this works for your particular naming scheme, but this is fragile.  Eg, what if I want my alias to be `foo`,  instead of `foo-write`?  Then I have an alias setting of `{{index}}` which matches any index.  Or what if I want my alias to be `{{apache}}` but my index name to be `apache-2017.11.12`?

This change adds one narrow bit of functionality which relies on convention to work, and

[2017-12-11 12:35] clintongormley commented on #24853
thanks @arboliveira

The PR in question is https://github.com/elastic/elasticsearch/pull/20119

[2017-12-11 12:35] #24853 closed

[2017-12-11 12:35] clintongormley commented on #11627
Closed by https://github.com/elastic/elasticsearch/pull/20119

[2017-12-11 12:35] #11627 closed

[2017-12-11 12:39] romseygeek commented on #26555
Range fields are in a separate module, so rather than adding a test to QueryStringQueryBuilderTests I'm going to create a new AbstractQueryTestCase extension in mapper-extras.  Does that make sense @jpountz ?

[2017-12-11 13:00] eladmena commented on #22446
The current implementation of index templates allows to create alias(es) based on the index name, the above enhancement allows to reverse the order that the index name will be inferred from the alias. keeping the same behaviour of index templates.

In case you want to change the issue to be **force** derive index name from alias it may be more complicated

1. Having an index template can have mult

[2017-12-11 13:23] jpountz opened #27750 "Allow `_doc` as a type name"
As of 7.0, types support will be gone, the index API will be either `PUT index/_doc/id` or `POST index/_doc` and hits will use `_doc` as a fake type in the response. In order to allow users to have a smoother transition to 7.0, we should allow `_doc` as a type in 6.x.

Relates to #15613

[2017-12-11 13:24] clintongormley commented on #22446
This is my point. It is narrow, complicated, and confusing, and just leads to more changes.  I don't want to merge this PR at all, for these reasons.   Sorry, but this feels like a change we will regret.  I'm -1 on doing this.

[2017-12-11 13:24] #22446 closed

[2017-12-11 13:24] jpountz opened #27751 "Docs should use `_doc` as a type name whenever possible"
In order to prepare for the removal of types, we should make docs use `_doc` as a type name whenever possible.

Relates to #15613

[2017-12-11 14:05] dannymurphygfk commented on #25603
So we noticed the issue 6 days ago.... so we performed a rolling restart to clear.
The issue has been noticed again just now so we are yet again performing a rolling restart to clear.

Just in case this has any bearing, we do have 2 clusters a Head and a Tail
Both clusters data get indexed by the same process using the bulk indexing apis.

The issue is only happening on our Head cluster.

What is

[2017-12-11 14:14] cbuescher commented on #25603
These might be interesting differences. Can you share a bit more e.g. about how the deletion happens (e.g. with which frequency, any querys/scripts involved). Same for the mappings, what are those slight differences?
As for the scripted filtering/sorting, do you also only use these on the Head cluster? If so, can you also share those?

[2017-12-11 14:27] dnhatn opened #27754 "[CI] MigrationDocumentationIT#testClusterHealth failed"
This test has been failed recently but I could not reproduce it locally.

[code]

Some instances:

- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+aggressive-opts/526/console

- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-darwin-compatibility/406/console

- https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+aggressive-opts/525/conso

[2017-12-11 15:02] jpountz commented on #26555
@romseygeek :+1:

[2017-12-11 15:14] dnhatn commented on #24481
@s1monw This test was failed again. I can reproduce this locally.

[code]

[2017-12-11 15:19] dannymurphygfk commented on #25603
The deletions are done through a Cron job that runs daily at 9pm.
`/usr/bin/curl --silent -X POST -d '{"query":{"range":{"LastUpdated":{"lt":"now-180d/d"}}}}' http://node1:9200/my_index/my_type,my_other_type/_delete_by_query 2>&1 |/usr/bin/logger -t cleanup`

The differences in the mappings are more to avoid indexing properties that we don't need to query by in either cluster. e.g. in Our Head clu

[2017-12-11 15:20] dnhatn commented on #24481
I will take a look on this issue.

[2017-12-11 17:32] Grinnz commented on #27733
I think you may have misinterpreted. I am not arguing for the "Perl way" or "truthy/falsey values". I am arguing specifically for 1 and 0 which are used as booleans in more than just Perl - SQL (at least MySQL) and C come to mind. Ruby has native booleans so would not need to use these.

[2017-12-11 18:51] clintongormley commented on #27733
Except it would fail for Ruby. If you're talking interoperability then Ruby's native booleans don't count. That's my point.  This is why we scaled it right back to the most basic.

[2017-12-11 19:04] morphers82 opened #27760 "Change Default # Shards to 4 or 8"
So why is the default shard count for a new index 5?

With the Shrink API, having a shard count of 5 would only allow it to shrink to 1.
If the default was 4 or 8, that would give the opportunity for a person to shrink it from
8 to 4 or 4 to 2 shards, and then from 2 to 1 shards.

On that note, maybe recommendations for number of shards should be partially based on this fact, so shard counts shoul

[2017-12-11 19:07] morphers82 commented on #27750
I have been naming my type the same as index, ie: PUT index_name/index_name/id
i don't think it should have to be anything specific or that will make many people's 6.0 indices not work with 7.0 if it has to be _doc.

[2017-12-11 20:40] #26062 closed

[2017-12-11 20:50] dnhatn opened #27762 "[CI] MinimumMasterNodesIT tests failed periodically"
Some tests in `MinimumMasterNodesIT` started failing recently.

1. `MinimumMasterNodesIT#testCanNotPublishWithoutMinMastNodes`: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+periodic/1038/console and https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/993/console

2. `MinimumMasterNodesIT#testMultipleNodesShutdownNonMasterNodes` : https://elasticsearch-c

[2017-12-11 20:50] dnhatn commented on #27762
/cc @tbrooks8

[2017-12-11 21:14] jasontedor opened #27763 "Get aliases for specific aliases returns all indices"
I think the behavior specified in [`IndexAliasesIT#testIndicesGetAliases`](https://github.com/elastic/elasticsearch/blob/5b2ab96364335539affe99151546552423700f6e/core/src/test/java/org/elasticsearch/aliases/IndexAliasesIT.java#L571-L583) is wrong. Namely:
 - create indices foobar, test, test123, foobarbaz, bazbar
 - add an alias alias1 -> foobar
 - add an alias alias2 -> foobar
 - execute get alia

[2017-12-11 22:59] jeacott1 commented on #27683
ok sure, I could use anonymous inner classes, or I could create a new listener/client pair per partition,
 but if I don't want to structure my code that way, or I want to use just a single listener I think this lib should support the case.

[2017-12-11 23:17] rjernst opened #27765 "Repository settings are not validated"
Creating a repository consumes known settings, but does not error in invalid settings. This is especially a problem starting in 6.0 as we deprecated in 5.x and then removed in 6.0 a number of repository settings, including endpoint. This can be confusing for a user that had a working repo, but the setting is no longer valid, yet they get no error message.

[2017-12-11 23:50] stu-elastic commented on #27765
We ran into this in the context of ECE 1.1.1 and ES6.  Because ECE cannot update the keystore in-place, we use `--Des.allow_insecure_settings=true` to allow us to put the access and secret key in the repository (as opposed to the client) settings.

However, when customers attempt to use an s3-work-a-like repository, they need to set the `endpoint`, which is ignored when we set it in repository set

[2017-12-11 23:55] dnhatn commented on #27762
Another instance https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/1037/console

[2017-12-12 01:18] dakrone opened #27767 "Bulk requests based on an old cluster state can cause strange rejection message"
When a bulk request is based on an older state (where the index appears to need to be created) or where the node has not yet joined the cluster, and the request is issued using an alias instead of a concrete index, the node can send the request, then receive a confusing message about there already being an alias for that name, such as:

[code]

There are really two things that should happen in thi

[2017-12-12 02:45] dnhatn commented on #24481
`IndexShard#checkIndex` acquires an IndexWriter lock which is being held by the method `snapshotStoreMetadata`. This causes Recovery failed.

IWLock is held by
  2>    at org.elasticsearch.index.store.Store.getMetadata(Store.java:289)
  2>    at org.elasticsearch.index.shard.IndexShard.snapshotStoreMetadata(IndexShard.java:1129)
  2>    at org.elasticsearch.indices.store.TransportNodesListShardSto

[2017-12-12 03:30] elasticmachine opened #29989 "[CI] SSLTrustRestrictionsTests"
*Original comment by @dnhatn:*

CI: LINK REDACTED
Log: LINK REDACTED

I could not reproduce this.

[code]

[2017-12-12 03:38] dnhatn opened #27769 "[CI] IndexShardIT#testAutomaticRefresh"
CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+aggressive-opts/1020/console

Log: [testAutomaticRefresh.txt](https://github.com/elastic/elasticsearch/files/1550167/testAutomaticRefresh.txt)

I could not reproduce this locally.

[code]

Assertion

[code]

[2017-12-12 03:47] dnhatn opened #27770 "[CI] IndexShardIT#testStressMaybeFlushOrRollTranslogGeneration"
CI: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.1+periodic/231/console
Log:  [testStressMaybeFlushOrRollTranslogGeneration.txt](https://github.com/elastic/elasticsearch/files/1550186/testStressMaybeFlushOrRollTranslogGeneration.txt)

[code]

[2017-12-12 04:04] jasontedor commented on #27770
Duplicates #25773

[2017-12-12 04:04] #27770 closed

[2017-12-12 04:22] kunisen commented on #27273
sorry for the late response.
they are using elasticsearch very heavily. so they want to know the very detailed part. in this case, not only the whole bunch of memory, but the metadata (not including data) and the data part.
as kiju mentioned in the upper post,

this is not a direct solution, but they want to monitor the usage to find out in which part they can do optimization. @colings86

[2017-12-12 06:30] fursich commented on #12366
+1

[2017-12-12 08:01] jpountz commented on #27750
@morphers82 To clarify, this is not a requirement, this is just a way to potentially make the transition easier for users who decide to opt in for the type name that will be used in 7.0. 6.x indices will work in 7.0 regardless of the type name.

The benefit of switching to `_doc` earlier is that index APIs will work the same way on 6.x and 7.x indices: `PUT index/_doc/id` or `POST index/_doc`.

[2017-12-12 08:34] juriad commented on #19413
The attribute `scripted_upsert` is not mentionedd in the documentation. That should be fixed.
https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html#bulk-update

[2017-12-12 08:51] #26865 closed

[2017-12-12 09:14] colings86 commented on #27273
Ok so why do they feel they need to do optimisation? What is the issue they are seeing that they want to optimise?

The problem with the definition "disk space or memory usage excluding the actual data they want to store" is that it doesn't explain what this metadata is? The only thing that we store which isn't related to an index is the cluster state. Is this what they want to measure? Even the c

[2017-12-12 10:41] jpountz commented on #27049
I would agree with that statement. I wanted to avoid having to resort to the field-masking span query, but I agree it is not worth making it a maintenance nightmare.

[2017-12-12 10:43] cbuescher commented on #27683
I'm not convinved yet that this is a good enough reason to add more complexity to the bulk api. I'm leaving this issue open for others to comment but currently I think solving this task on the client end is a better solution.

[2017-12-12 11:43] DavidNemeskey opened #27771 "Term vectors / artifical documents example doesn't work"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.0.1, Build: 601be4a/2017-12-04T09:29:09.525Z, JVM: 1.8.0_151

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.16.04.2-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-like

[2017-12-12 13:26] topalavlad commented on #27612
Hi all, I'd like to start tinkering with the code and this seemed like a good issue to start with, but to me it seems this loose script definition might have been intended.

If "script" and "template" are not found, an object with the provided JSON contents is created in
`StoredScriptSource#parse(BytesReference content, XContentType xContentType)` so I'm not sure what the desired fix is.

Do you t

[2017-12-12 13:33] #26555 closed

[2017-12-12 13:57] monotek opened #27773 "cluster is stopped when "failed to execute pipeline for a bulk request" error occurs"
We collect logs via fluentd and its elasticsearch plugin. From time to time, when there are a lot more logs than usual, no new logs are shipped to elasticsearch.

On of the 3 elasticsearch nodes shows several "failed to execute pipeline for a bulk request" entries and after that the cluster stops accepting new logs.

Restarting the node with above log message solves the problem.

As i understand t

[2017-12-12 14:22] elasticmachine opened #29990 "SQL: Introduce date/time interval"
*Original comment by @costin:*

SQL supports the `INTERVAL` as a keyword for specifying what in ES would be `TimeUnit`s. This comes in handy for doing validation right in the parser instead of passing strings around while increasing verbosity.

Interval works nicely with date/time arithmetic (which we don't support yet) and date histograms (for specifying parameters).

[2017-12-12 14:23] elasticmachine opened #29991 "[ML] Add option to allow jobs to be opened when there are no ML nodes"
*Original comment by @droberts195:*

At present if there are no ML nodes then opening an ML job will fail immediately due to the checks in `OpenJobAction.validate()`.

Given the way it is proposed to add lazy ML nodes to Cloud LINK REDACTED), there is a requirement to relax this check when running in Cloud.

We need to add a boolean setting that allows jobs to be opened if there are no ML nodes at

[2017-12-12 14:31] alepuccetti opened #27775 "_msearch does not distirbute queries across the cluster"
I am running kibana dashboards and kibana uses `_msearch` to bundle all the queries of a dashboard in one request. I have 3 nodes and my dataset is one index with 1 primary shard and 2 replicas.

I would expect elasticsearch to distribute every query across the nodes but it does to load balance the queries. If I run all the queries separately using `_search` on the command line they are distribute

[2017-12-12 14:44] cbuescher commented on #27771
@DavidNemeskey this works for me, you need to follow the whole example including the mapping setup at the front of the page. When I leave that and use dynamic mapping I get the error you described, but that is expected since the term vectors are not stored then.

[2017-12-12 14:44] #27771 closed

[2017-12-12 14:53] DavidNemeskey commented on #27771
You are right; I must have missed when that code failed to run, since I already had the twitter index at that point.

In my defense, this seems to be a problem with the whole tutorial: the same indices are created over and over again, sometimes with different mappings, sometimes with the same. Sometimes they contain the fields that are used in the demonstrated queries, sometimes not. It would be m

[2017-12-12 14:57] cbuescher commented on #27771
Thanks for the feedback, I agree this can be confusing. On the other hand, there are so many small variations in the index setup that you need in order to demonstrate a certain feature that I think it would be difficult to create just a few "tutorial" indices. In the end this is more of a reference guide and a lot of people don't systematically work through the whole documentation, so repeating a

[2017-12-12 15:01] DavidNemeskey commented on #27771
Fair enough. I was aware of that when I wrote the previous comment -- I am not sure either what the best solution would be.

[2017-12-12 15:19] EricMCornelius opened #27780 "Feature Request: Field collapsing on compound keys"
At the moment, field collapsing is limited to single keyword or numeric fields with doc_values (https://github.com/elastic/elasticsearch/pull/22337#issuecomment-272250521).  This means any field collapsing requires foreknowledge of the unique keys which might be used to collapse data.

It would be extremely useful for adhoc data exploration purposes if this could be extended to allow for compound

[2017-12-12 15:24] mvar commented on #23199
Experiencing similar issues on cluster running ES 5.6.3. Status stays yellow with single shard unassigned.

Happens on cluster upscaling. Every second time or so.

Few different errors today:

[2017-12-12 15:35] dannymurphygfk commented on #25603
Just noticed while Cluster is in this bad state, if I query for an Id that does NOT exist I also get a bogus total value.

`POST my_index/my_type%2Cmy_other_type/_search?preference=2906
{"query": { "ids": {"values": [1] } }}`

There are no documents of my_type or my_other_type with Id 1 yet its still returned total of 296.

[2017-12-12 15:46] louloupw22 opened #27781 "NPE with _cat/indices, _cat/nodes, _cat/allocation with Elasticsearch 6.0.1"
Hello, I have just migrated to elasticsearch 6.0.1 (I was using 5.6.5 before). I have some problem with cat API as when I :

[code]
I receive this message

[code]
and also in powershell :

[code]

However I have a good answer when I ask GET _cat/recovery for example and index can also be retrieved.

Does anyone have an idea of the problem ?
I have also opened a discussion [here ](https://discuss.e

[2017-12-12 16:03] dnhatn commented on #27781
@louloupw22 Are you running a single cluster node? I suspect that you've upgraded to 6.x, then downgraded to 5.x, then upgraded to 6.x again. This caused the `index_patterns` be null.

[2017-12-12 16:08] mrszg opened #27782 "ES 6.0 regresssion: "query must be rewritten first" exception when using terms lookup filter in nested aggregation"
**Elasticsearch version**
6.0.0, 6.0.1

**Plugins installed**: []

**JVM version** :
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.17.10.2-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

**OS version** :
Ubuntu 17.10 with kernel 4.13.0-19-generic

**Description of the problem including expected versus actual behavior**:

Query with **filt

[2017-12-12 16:10] louloupw22 commented on #27781
@dnhatn Yes I am running a single cluster node. What you say is possible because my previous kibana index was out of date with the migration so I changed the index, try to restart the previous elasticsearch version (I deleted it now). How can I check the index_patterns (I see a lot of  in indexing tags in the JSON docs) and what can I do to change it if it is null ?

[2017-12-12 16:32] dnhatn commented on #27781
@louloupw22 Thank you for your input.

`GET /_templates` returns all existing index templates in your cluster. You can workaround this issue by updating `index_patterns` manually for these existing index templates. Please refer the index template documentation at https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-templates.html.

[2017-12-12 16:35] dnhatn commented on #27781
I am closing this. The PR https://github.com/elastic/elasticsearch/pull/27662 prevents this issue from happening.

[2017-12-12 16:35] #27781 closed

[2017-12-12 16:42] stevenwall commented on #21101
+1

We sure could use this functionality as well.

Has there been update yet from ES whether this is on the roadmap?  I'm not finding one.

[2017-12-12 16:48] regularmike commented on #15800
This fixed it for me:

`sudo systemctl enable elasticsearch.service`

[2017-12-12 16:53] gmoskovicz opened #27783 "Ingest Pipelines not working after removing plugin"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.0

**Plugins installed**: ingest-geoip

**JVM version** (`java -version`): Any

**OS version** (`uname -a` if on a Unix-like system): Any

**Steps to reproduce**:

1. Install `ingest-geoip` plugin in Elasticsearch
2. Create a pipeline like the one that shows here: https://www.elastic.co/guide/en/elasticsearch/plugins/6.0/using-ingest-geo

[2017-12-12 17:09] louloupw22 commented on #27781
Thank you @dnhatn for your help.
However when I do GET /_templates I can see information like this one :
[code]
and all the null index_patterns concerns index that were created when I used X-pack (that I have deleted since because of other bugs it triggered from time to time). So I do not know how to update manually the index_patterns (try some PUT _template/template_1 but did not change my proble

[2017-12-12 17:26] andyb-elastic commented on #26741
We had a discussion about exactly what should be tested with plugins - currently (in bats) we just test that the plugins' jars are installed into the right place but some questioned the value of that. We may want to test basic functionality of the plugins if we can do that in a way that's not too involved.

[2017-12-12 17:40] dnhatn commented on #27781
@louloupw22  You need to overwrite the existing templates; not putting a new template.

[2017-12-12 18:15] talevy commented on #27783
@gmoskovicz so is there a specific behavior that you prefer to see?

One thing that comes to mind to me is that we continue to throw an exception in the logs, but also continue to registering later pipelines in the loop that would be able to be registered. Does that sound fair? So, pipelines that did rely on those plugins would still not be present, but the others would still work.

[2017-12-12 18:15] olcbean opened #27784 "Inconsistent getters for `shards_acknowledged`"
Several responses include the `shards_acknowledged` flag ( indicating whether the requisite number of shard copies started before the completion of the operation ) and there are two different getters used : `isShardsAcknowledged()` and `isShardsAcked()`

`public boolean isShardsAcknowledged()`
* OpenIndexClusterStateUpdateResponse
* OpenIndexResponse

`public boolean isShardsAcked()`
* CreateIndex

[2017-12-12 18:16] carantunes opened #27785 "Completion suggestor not returning all options"
**Elasticsearch version** : 5.5.3

**Plugins installed**: []

**Description of the problem including expected versus actual behavior**:
When preserve_position_increments=true, results don't include suggestions for text not preffixed with the prefix.

Documentation says:

**Steps to reproduce**:
[code]
Result from search:

[code]

[2017-12-12 18:21] gmoskovicz commented on #27783
Do we need to throw an intermittent exception? Perhaps just at startup (or when it fails) is enough?

[2017-12-12 18:24] jimczi commented on #27785
It works fine if you use the correct field name in the document that you insert ;):

[code]

Just replace `music` with `names` and it works as expected

[2017-12-12 18:24] #27785 closed

[2017-12-12 18:29] kerrick-lyft commented on #13913
This feature would be useful for me. We have separate repositories for staging and production environments, and we'd like to be able to copy a snapshot to the production repository after creating and validating it in staging.

[2017-12-12 18:58] jimczi commented on #27517
I am ok with `max_length` being the maximum number of chars to analyze but only if it splits on tokens boundary. That's what the `plain` highlighter does with the `LimitTokenOffsetFilter` but the `unified` simply truncates the input.
Regarding the flag to indicate that the highlight response is partial, I don't think it is needed since the option is explicitly set on the request ?
The `plain` high

[2017-12-12 20:03] jamshid commented on #15333
FYI I saw this same error in an Elasticsearch 2.3.3 environment that ran out of disk space. I was surprised I had to restart Elasticsearch in order to recover.
I was hoping this bug was fixed by #15420 but looks like that fix *is* in 2.3.3, so there must be additional bugs.
Hopefully latest Elasticsearch is automatically recovers from full disk problems.

[2017-12-12 20:34] rjernst commented on #27783
@talevy +1 to your plan.

@gmoskovicz What do you mean by "intermittent exception"? Node startup is exactly what is being discussed. There is no synchronous request to return an error in here.

[2017-12-12 20:41] gmoskovicz commented on #27783
Ah, ok. +1 on that then.

I saw some intermittent logging related to this issue, but it might be just related to this issue but not caused by the same facts. It's just present when xpack is installed since it uses a pipeline for the Monitoring API.

[2017-12-12 20:48] rjernst commented on #27612
@topalavlad The fix here is to deprecate/remove support for this leniency. It was my original intention to remove this for 6.0, but i did not get to deprecating it in time in 5.x. Additionally, "template" should also be deprecated/removed, but that is a separate issue (and possibly a bit more involved, I don't remember all the details from the last time I looked).

[2017-12-13 00:16] rjernst commented on #27617
I disagree. We should not litter painless docs with "differences from groovy". Otherwise it opens us to to documenting differences between *any* other language.

[2017-12-13 00:22] topalavlad commented on #27612
Cool, I'll try to remove the part which accepts anything and see which tests will fail

[2017-12-13 00:26] rjernst commented on #27700
Please ask questions on [our forum](https://discuss.elastic.co/c/elasticsearch). We use github for feature requests and confirmed bug reports.

You need to uninstall plugins and reinstall them for each upgrade.

[2017-12-13 00:26] #27700 closed

[2017-12-13 03:06] dakrone commented on #27763
It's worth noting that this only affects the transport layer. The REST layer doesn't include the extra indices. The transport layer should probably be changed to return only indices that contain the alias when an alias name is specified.

[2017-12-13 03:59] TomonoriSoejima opened #27787 "feature request highlight support non string type"
**Describe the feature**:
A user asked for support for highlighting on non-string field such as IP data type.

**Elasticsearch version** (`bin/elasticsearch --version`):
es 6.x

**Description of the problem including expected versus actual behavior**:

Highlighting is limited to only string type currently.
It would be nice if it can be broadened to additional types such as IP data type.

[2017-12-13 04:51] jasontedor commented on #27763
The transport client is exactly what this issue is being reported for.

[2017-12-13 05:01] shinbero commented on #27787
It'd be better highlighting is applied also when range-searching.

[2017-12-13 05:12] antitech commented on #27763
@jasontedor @dakrone
Yes Transport client got affected. Now we are explicitly filtering the indices which contains AliasMetaData. Its performance hit too for our application.

In which release /version we can expect its fix.?

[2017-12-13 05:14] dakrone commented on #27763
Yes I understand, I was only clarifying for the sake of other people
reading.

On Dec 12, 2017 9:51 PM, "Jason Tedor" <notifications@github.com> wrote:

[2017-12-13 06:00] LukaszChrzanowski commented on #22551
I have similar problem with version 6.0.1

Elasticsearch version: 6.0.1, from Elastic Artifacts repositories

Plugins installed: [x-pack]

JVM version: java version "1.8.0_152"
Java(TM) SE Runtime Environment (build 1.8.0_152-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.152-b16, mixed mode)

OS version: Solaris 11

Description of the problem including expected versus actual behavior: First err

[2017-12-13 08:01] jimczi commented on #27775
This is certainly due to the fact that Kibana adds a `preference` to the `_msearch` request that is sent to es. This `preference` is set to the session id of the Kibana user and ensures that all search inside a dashboard use the same shards/replicas:
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-preference.html
Without `preference`, `_msearch` just send each indivi

[2017-12-13 08:01] #27775 closed

[2017-12-13 08:40] jimczi commented on #27782
Thanks @mrszg it's a bug in the rewrite phase of aggregations, only the root aggregation gets rewritten and sub aggregations are skipped. I'll take a look.

[2017-12-13 09:36] swethapavan commented on #27073
I have done the changes but I get errors when i run some tests because the node  fails due to the existence of dangling indices

[2017-12-13 09:37] swethapavan commented on #27073
Specifically, these are the tests that fail:
org.elasticsearch.indices.flush.FlushIT.testSyncedFlushWithConcurrentIndexing
  - org.elasticsearch.indices.flush.FlushIT.testWaitIfOngoing
  - org.elasticsearch.indices.flush.FlushIT.testSyncedFlush
  - org.elasticsearch.search.geo.GeoShapeIntegrationIT.testOrientationPersistence
  - org.elasticsearch.search.geo.GeoShapeIntegrationIT.testIgnoreMalforme

[2017-12-13 09:43] abdonpijpelink opened #27788 "The missing parameter does not accept an IP when executing a terms aggregation on a field of type ip"
**Elasticsearch version** (`bin/elasticsearch --version`):
Version: 6.0.0, Build: 8f0685b/2017-11-10T18:41:22.859Z, JVM: 1.8.0_77

**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_77"
Java(TM) SE Runtime Environment (build 1.8.0_77-b03)
Java HotSpot(TM) 64-Bit Server VM (build 25.77-b03, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Darwin MacB

[2017-12-13 09:45] CJSoldier opened #27789 "painless cannot parse escaped characters correctly"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):5.6.3

**Plugins installed**: [smartcn ]

**JVM version** (`java -version`):
java version "1.8.0_152"
Java(TM) SE Runtime Environment (build 1.8.0_152-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.152-b16, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
CentOS Linux release 7.2.1511 (Core)

*

[2017-12-13 09:47] s1monw commented on #27073
I wonder if adding it as a bootstrap check is actually a feature (ie. testing for it later). Like I can totally see starting up a node with `data=false` for testing in my dev env with local host disco etc. and I don't want them to fail in that case? Just putting out my way of thinking here.

[2017-12-13 09:48] s1monw commented on #27073
@swethapavan please open a PullRequest or share your code otherwise we won't be able to help you

[2017-12-13 10:07] daboom opened #27790 "Conflicts on .noarch files in RPM rolling upgrade 5.5.2 -> 5.6.5"
Problems on CentoOS 7 (no Internet access) rolling upgrade from 5.5.2 to 5.6.5 via RPM. I downloaded the elasticsearch-5.6.5.rpm from the repo and did a:
`rpm -i elasticsearch-5.6.5.rpm`

This is the result of the command:
[code]

[2017-12-13 10:16] cbuescher commented on #27784
I think unifying this would be nice, but we need to keep the "other" version (whichever is kept) around as deprecated before we can remove it in one of the next major versions.

[2017-12-13 10:29] alepuccetti commented on #27775
@jimczi Thank you very much for the explanation. I was not aware of `preferences`. I was pretty confused about the fact that `_msearch` would not distribute queries, it seems very backward.

I will raise this issue on at the kibana repository.

[2017-12-13 11:30] jasontedor commented on #27763
Right now you can not have any expectation, no decision has been reached.

[2017-12-13 11:37] dolaru opened #27791 "No response returned from snapshot restore"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2.0 , 7.0.0-alpha1

**Plugins installed**: repository-s3, x-pack

**JVM version** (`java -version`): openjdk version "1.8.0_151"

**OS version** (`uname -a` if on a Unix-like system): Linux 4.10.0-40-generic #44~16.04.1-Ubuntu SMP Thu Nov 9 15:37:44 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected

[2017-12-13 11:44] dimitris-athanasiou commented on #27791
/cc @imotov

[2017-12-13 12:17] tlrx commented on #27791
I think that it could be related to #27713 that adds HTTP read timeouts on Elasticsearch side.

[2017-12-13 13:12] ywelsch commented on #27762
I've looked at one of the test failures: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+periodic/1038/console

The reason the test fails is that the target ports used for pinging do not match the ports of the nodes that are bound.

The logs show that node_t0, node_t1 and node_t2 bind to ports 9586, 9587 and 9588, respectively:

[code]

For pinging, they use the ports 9580 - 9584

[2017-12-13 13:55] louloupw22 commented on #27781
@dnhatn OK thank you, I got your point. And is there anywhere I could find what the new _template of version 6.0.1 should look like (I understood  it does not support multi-type indices from here https://www.elastic.co/guide/en/elasticsearch/reference/5.6/removal-of-types.html) ? However is there something special I should specify for index_patterns ? Where can I find the information I should over

[2017-12-13 14:20] jpountz commented on #27780
This tends to be a common requirement for a search engine: documents must be modeled based on how they will be queried. I'm adding the `discuss` label so that it gets discussed in FixitFriday.

[2017-12-13 14:23] jpountz commented on #27773
This is not expected indeed, I mark this as a bug. Do you have a script that reproduces the issue all the time, or most of the time?

[2017-12-13 14:35] ArunaMaurya221B commented on #25505
I am not able to start elasticsearch. The same error curl(7) failed to localhost.
I did try the solution mentioned above but to no avail!
Help ASAP!

[2017-12-13 14:49] jasontedor commented on #27773
Are you sure, are there additional logs that would maybe explain the node stopped itself because of out of memory error, for example? Can you share more of the logs?

[2017-12-13 14:54] jasontedor commented on #27790
That is not the right command for upgrading, you are trying to install when there is a package that conflicts what you're trying to install and that's exactly what `rpm` is telling you. Instead, you have to use `rpm -U`. Please consult `man rpm` and ask on the [forum](https://discuss.elastic.co) if you have questions. We reserve GitHub for verified bug reports and feature requests only.

[2017-12-13 14:54] #27790 closed

[2017-12-13 16:16] casper1149 commented on #16551
+1

[2017-12-13 17:24] jpountz commented on #12366
I don't like the ignore_malformed option, it is a bit like silent data loss since indexed documents cannot be retrieved based on the malformed value. Say a document has all its values malformed for instance, only a `match_all` query would match it, and nothing is going to warn the user about that. Even an `exists` query would not match, which might be surprising to some users. I suspect a subseque

[2017-12-13 18:16] rpedela commented on #23850
I think [this paper from 2012](https://www.researchgate.net/profile/Fabio_Crestani/publication/262172192_Score_Transformation_in_Linear_Combination_for_Multi-criteria_Relevance_Ranking/links/56706a0f08aececfd55321c5.pdf) largely answers your question @jpountz. To be clear, I am not advocating implementing this specific paper. Rather I think it does a good job giving an overview and literature revi

[2017-12-13 18:53] monotek commented on #27773
I'll look for the logs tomorrow. Not sure if still available or if I have to wait for it to happen again.

Unfortunately I don't have a way to force it to happen. It's just from time when log amount is raised unexpectedly.

[2017-12-13 19:07] yytsui commented on #26959
For anyone running into this same problem and google brought you here:
It's very possible you were using elasticsearch-rest-high-level-client 5.6.x with old version of elasticsearch core library (ex, 2.4.x). This is how I fixed it in Intellij:
1. Delete the old elasticsearch-2.4.x.jar under External libraries.
2. Make sure these two decencies are  in pom.xml:

[2017-12-13 19:18] EricMCornelius commented on #12366
Isn't that the point though? Users are explicitly opting in to this functionality, generally in cases where we don't control/know our schema. Happens all the time in security use cases. Certainly we'd love to clean up and verify in advance, but that's not always possible.

Often, the desire is to index a partially dynamic schema which also contains well defined meta/header fields, to enable the be

[2017-12-13 19:25] mayya-sharipova opened #27796 "Add the limit on the number of expanded terms"
e.g wildcards, fuzzy queries

Relates to #11511

[2017-12-13 19:37] mayya-sharipova commented on #27796
This was one of the items in the Elasticsearch roadmap.

But looks like we may not need an extra limit, as fuzzy queries and wild card queries use one of the [multi term query rewrite methods ](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-multi-term-rewrite.html#query-dsl-multi-term-rewrite) that already safeguard against too much expansion. For example:

* `constant_s

[2017-12-13 19:42] mayya-sharipova opened #27797 "Limit the number of fields that can be used in queries"
Throw an error if a search expands to use more than N fields

Relates to #11511

[2017-12-13 20:09] ppf2 commented on #23714
Yet another breaking change in our stack that is going to make this feature useful.  In 6.0+, filebeat stops using input_type output field for prospectors and has renamed it to prospector.type.  That means Kibana users who have visualizations against input_type will have to handle this field name change challenge when querying both older and newer indices as part of the upgrade.

[2017-12-13 20:13] tlrx commented on #27754
Reopened, my fix wasn't enough:

See https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+oracle-periodic/1836/consoleFull
[code]

[2017-12-13 22:00] techpeace opened #27798 "Error on reindex using WordNet synonyms file"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.0.0

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_51-b16

**OS version** (`uname -a` if on a Unix-like system): macOS 10.12.6 (I know it's not supported, see below)

**Description of the problem including expected versus actual behavior**:

I'm encountering the following error on indexing when trying to use the `wn

[2017-12-13 22:38] carantunes commented on #27785
duh :/ so sorry!

[2017-12-13 22:58] taylorKonigsmark commented on #27788
Can I look into this one?

[2017-12-14 01:57] tbrooks8 opened #27802 "Introduce elasticsearch nio library jar"
Currently our nio work lives in :test:framwork. This allows us to use nio as the basis for a test `TcpTransport` implementation in internal cluser integration tests. This verification is very valuable and we do not want to lose it. However, we need the base nio facilities to be available for creating a production `TcpTransport` implementation (in a plugin/module) and a production http transport im

[2017-12-14 02:32] zfanswer commented on #21101
Is this supported in ES 6.0?

[2017-12-14 02:41] jasontedor commented on #22551
Do you have the rest of the log for this exception:

[code]

[2017-12-14 02:59] rnagulapalle commented on #17920
does it support `unbounded range`. For example `gt` : 'unix-timestamp`

[2017-12-14 04:22] rjernst commented on #27789
Painless does not have escape sequences really. As the error message explains, when inside a double quoted string, the only valid escapes are backslash and double quote. But your string has an escaped tab. All you should need to do is remove the double slash before `t`. Also note that you can use single quoted strings in painless to lessen the need for escaping json strings.

[code]

In the future

[2017-12-14 04:22] #27789 closed

[2017-12-14 05:47] josefschiefer commented on #23714
We have log files with different names for the timestamp field. Field aliases would be a great way to map the timestamp field to a common alias which I could use for sorting and aggregations.

The alternative solution for the above is to either 1) copy the field to an unified field name (requires more storage and re-indexing), or 2) use scripting for sorting or aggregations which makes the query m

[2017-12-14 06:54] LukaszChrzanowski commented on #22551
`[2017-12-12T23:58:15,728][INFO ][o.e.i.s.GlobalCheckpointSyncAction] [tib-nonprod-master] [bw-mem-2017.12.12][1] global checkpoint sync failed
org.elasticsearch.transport.SendRequestTransportException: [tib-nonprod-master][127.0.0.1:19300][indices:admin/seq_no/global_checkpoint_sync[p]]
        at org.elasticsearch.transport.TransportService.sendRequestInternal(TransportService.java:611) ~[elasti

[2017-12-14 07:28] ssesha commented on #25701
@javanna @danielmitterdorfer is this not an issue? any updates on this?

[2017-12-14 07:39] russcam opened #27805 "GET /_nodes/http,settings?flat_settings returns path.data as an array of strings"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.1.0

**Plugins installed**: []

**JVM version** (`java -version`):

java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

**OS version** (`uname -a` if on a Unix-like system): Windows 10

**Description of the problem including expected versus actua

[2017-12-14 07:50] r-tock opened #27806 "Elasticsearch 6.1.0 POM is referencing missing deps"
Looks like these artifacts are missing on maven central
[code]

[2017-12-14 08:12] jpountz opened #27807 "`sum`, `stats` and `avg` aggregations should use Kahan summation"
[Kahan summation](https://en.wikipedia.org/wiki/Kahan_summation_algorithm) gives better accuracy than naive summation. For instance when summing up N positive values, the relative error of Kahan summation is bound by `2^-52` while with naive summation, the error is linear with the number of values that are summed up.

[2017-12-14 08:24] marcmos commented on #27782
It seems that version 6.1.0 is affected too.

[2017-12-14 08:52] ddorian opened #27809 "Shard splitting / merging"
A way to grow/shrink an index by splitting/merging shards.

In the future this could be done also automatically.

Solr already has it. Maybe the _routing function should be changed to achieve it.

Why not ?

[2017-12-14 09:05] jkakavas commented on #27809
Hi @ddorian

Shard splitting is implemented in 6.1.0, please take a look at the [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/6.1/indices-split-index.html#_splitting_an_index)

[2017-12-14 09:09] #27809 closed

[2017-12-14 09:10] ddorian commented on #27809
Hi @jkakavas ,

I created the issue after seeing that. See "shard-splitting", but that is "index splitting".
Meaning, on shard-splitting::

1. index is alive and accepting changes
2. index is bigger than 1 node can keep (say you have 50 shards * 50GB)
3. only 1/some shards can be splitted

See here for an old blog post that explains in solr: https://lucidworks.com/2013/06/19/shard-splitting-in-sol

[2017-12-14 09:11] s1monw commented on #27805
this is caused by `https://github.com/elastic/elasticsearch/pull/26878` and that is actually a bugfix. The previous behavior was a leak of internal representation and can't be added back. The `flat_settings` was prone to this problem since it didn't use the actual datatype but the internal representation.

[2017-12-14 09:11] #27805 closed

[2017-12-14 09:15] stephane-bastian commented on #27806
confirmed the bug. elasticsearch-cli is not on mavencentral or jcenter

[2017-12-14 09:28] s1monw commented on #27809
@ddorian we don't have any of the 3 point on our roadmap. We also don't thing that splitting an index/shard while it's accepting requests is what our system should do. We wanted to have a way to cleanly roll-back and that is basically copy on write in a very fast way. Today if you use the shards splitting feature it will be almost instant and no data-copying is required. It's absolutely safe with

[2017-12-14 09:32] ywelsch commented on #22551
These exceptions look to occur after the nodes are being shut down (see `[2017-12-12T23:58:14,384][INFO ][o.e.n.Node ] [tib-nonprod-data] stopping ...` or `2017-12-12T23:58:16,747][INFO ][o.e.n.Node ] [tib-nonprod-master] stopped`). While these exceptions look bad, they can just be ignored as they are triggered by the node being shut down. The nodes "not working" is because they are shut down.

[2017-12-14 09:41] zjjott opened #27810 "field_value_factor case function_score equal 0 when it's long type"
**Elasticsearch version** (`bin/elasticsearch --version`):
"version" : {
    "number" : "5.3.2",
    "build_hash" : "Unknown",
    "build_date" : "2017-04-28T21:44:52.237Z",
    "build_snapshot" : false,
    "lucene_version" : "6.4.2"
  }

consider this mappings:
`PUT test`

[code]

and we can put some documents in it

[code]

and when I search use function_score,such as:
[code]

I get a result li

[2017-12-14 09:48] colings86 commented on #27810
This is expected because your mapping is type long but you are indexing float values which will be truncated by default since the default value of the coerce parameter is `true`[1][2]. For an integer or long field, when coerce is true and a float value is indexed, Elasticsearch will truncate the value to make it a int/long value. If you don't want Elasticsearch to index float values for your integ

[2017-12-14 09:48] #27810 closed

[2017-12-14 09:51] swethapavan commented on #27073
@s1monw I have created a pull request. Kindly have a  look.

[2017-12-14 09:51] moueza opened #27812 "Kibana apt installation fails"
**Elasticsearch version** (`bin/elasticsearch --version`):
1.7.5-1
**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.17.10.2-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux accula2 4.13.0-19-generic #22-Ubuntu SMP Mon Dec

[2017-12-14 09:56] LukaszChrzanowski commented on #22551
Great - but I don't do anything to shut them down... they do It by themselves!

[2017-12-14 10:00] moueza opened #27813 "Elasticsearch apt installation ambiguous"
**Elasticsearch version** (`bin/elasticsearch --version`):
1.7.5-1
**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.17.10.2-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)
**OS version** (`uname -a` if on a Unix-like system):
Linux accula2 4.13.0-19-generic #22-Ubuntu SMP Mon Dec 4

[2017-12-14 10:05] DaveCTurner commented on #27622
Echoing @simonw, there's a timescale issue here: memory and CPU pressure can be a lot more transient than disk space pressure, and it'd be a bad idea to start reallocating shards because of a transient issue.

On the other hand if there's a _persistent_ imbalance in memory or CPU usage across nodes then it seems like a better idea to shuffle things around to improve the situation. This raises the

[2017-12-14 10:12] colings86 commented on #27807
One thing to note with this is the tradeoff for accuracy is that the memory required to store the sum for each parent bucket will be doubled (since we need to store the sum and the compensation value) and the number of operations to calculate the sum increase 4-fold. In practice this should not matter that much for these aggregations since their memory footprint is also nothing in comparison with

[2017-12-14 10:17] jkakavas commented on #27813
Hi @moueza , we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) instead. Thank you!

[2017-12-14 10:17] #27813 closed

[2017-12-14 10:21] colings86 commented on #27812
This issue list is for Elasticsearch issues and this seems to relate to Kibana. Also note that version 1.7.5 has been "End of Life" for quite a while now and is unsupported. If you are installing the Elastic stack I would suggest you install a recent, supported version. You can find instructions on installing the components of the Elastic stack at https://www.elastic.co/downloads.

Given this is n

[2017-12-14 10:21] #27812 closed

[2017-12-14 10:29] clintongormley commented on #12366
I agree with @EricMCornelius.  It's great to use ingest to clean things up if you know that your troublesome fields are limited to a few names.  The problem is that many users don't have that kind of control over their data - they have to deal with what is thrown their way.  Using ingest pipelines for that would be like playing whack-a-mole.

I understand what you mean, but I don't think it is sil

[2017-12-14 10:31] zjjott commented on #27810
@colings86 Thank you very much!

[2017-12-14 10:41] martijnvg opened #27814 "Unknown settings are ignored inside custom analyzers"
By accident I used `filters` to specify token filters inside a custom analyzer instead of `filter`:

[code]

The create index request succeeds and the analyze api happily analyzes the specified text with the `my_analyzer` analyzer, but without applying the token filters. The expected behaviour would be to that the create index api call fails.

Also any field inside the customer analyzer is current

[2017-12-14 10:49] Bouizi commented on #27806
I'm having the same problem as well:
[code]

[2017-12-14 11:31] danielmitterdorfer opened #27815 "VersionUtilsTest#testGradleVersionsMatchVersionUtils fails"
With #27778 we changed the logic what versions are classified as snapshot versions (by considering the value of `build.snapshot`). As a consequence, `VersionUtilsTest#testGradleVersionsMatchVersionUtils` is now failing if a build runs with `-Dbuild.snapshot=false`.

Reproduction line: `gradle :test:framework:test -Dtests.class=org.elasticsearch.test.VersionUtilsTests -Dtests.method="testGradleVers

[2017-12-14 11:36] danielmitterdorfer commented on #27815
I've muted the test now in case `-Dbuild.snapshot` is `false` on 6.1, 6.x and master. See above for the respective commits.

[2017-12-14 11:37] sukhmel commented on #25505
@ArunaMaurya221B this description is not nearly sufficient. Is there something in logs? What version do you run, do you use `systemctl`, if so then what does `systemctl status elasticsearch.service` show?

[2017-12-14 11:47] danielmitterdorfer commented on #27754
Another instance is https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/1065/console:

[code]

reproduction line:

[code]

[2017-12-14 11:56] javanna commented on #27754
Could it be there is some index created with default settings and the tests run against a single node cluster? That way the cluster could never be green?

[2017-12-14 11:58] gmoskovicz commented on #7372
Any news regarding this? It still seems to be an issue with JTS coming from the following code:

[code]

The stack trace is very clear about it

[code]

This is coming from the following validation: https://github.com/locationtech/jts/blob/master/modules/core/src/main/java/org/locationtech/jts/operation/valid/IsValidOp.java#L296-L303 .

To me it seems to be that the issue is clearly coming from `J

[2017-12-14 12:06] tlrx commented on #27754
That's what I suspect too but I didn't investigate more for now. I'll look at it later

[2017-12-14 12:17] #27568 closed

[2017-12-14 12:19] jpountz commented on #12366
This still sounds like a dangerous game to me. What if a malformed document is the first to introduce a new field. It makes this field totally unusable. Furthermore it's not like we are otherwise happy in case mappings are not under control, for instance we enforce a maximum number of fields, a maximum depth of objects and a maximum number of nested fields.

In the worst-case scenario that you don

[2017-12-14 12:41] joshfix commented on #27679
Hi @colings86 and thank you for your response and follow up questions.  It sounds like maybe you're thinking about my question in terms of the Elasticsearch server itself and not the client.  My request is simply for a reactive client, however what you bring up is interesting and a reactive client may benefit by utilizing the scroll API under the hood.

So if you're not already familiar with react

[2017-12-14 13:01] danielmitterdorfer opened #27817 "FullClusterRestartIT#testRecovery() fails in CI"
build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.1+multijob-unix-compatibility/os=centos/66/console

reproduction line:

[code]

failure message:

[code]

[2017-12-14 13:39] danielmitterdorfer opened #27818 "Master node not discovered in CI"
_Note: These are three different test cases that fail but it appears to be the same cause, hence I just created one ticket._

Example build failure: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/5368/console

The [full build log](https://github.com/elastic/elasticsearch/files/1559329/build.log.zip) is attached.

failing tests:

[code]

Example failure message (more

[2017-12-14 13:42] danielmitterdorfer commented on #27818
Another instance on 6.1: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.1+periodic/260/console and [full build log](https://github.com/elastic/elasticsearch/files/1559391/build.log.zip)

[2017-12-14 14:10] stephane-bastian commented on #27806
I forgot to mention that as a temporary workaround, you can exclude the dependency as follow:

<dependency>
	<groupId>org.elasticsearch.client</groupId>
	<artifactId>elasticsearch-rest-high-level-client</artifactId>
	<version>${elasticsearch.version}</version>
	<exclusions>
		<exclusion>
			<groupId>org.elasticsearch</groupId>
			<artifactId>elasticsearch-cli</artifactId>
		</exclusion>
	</exclusi

[2017-12-14 14:18] danielmitterdorfer commented on #27815
I've now also muted the test on 6.0 (missed it before).

[2017-12-14 14:38] DaveCTurner commented on #7372
The [sample failing polygon](https://gist.github.com/GaelTadh/f9ccae0c703451786da6) genuinely does a self-intersection as reported:

[code]

There is no rounding error here, nor a problem with resolution: these three points all have equal latitude and the longitudes are not in order, so the polygon's boundary does intersect itself. It looks like this:

<img width="393" alt="screen shot 2017-12-14

[2017-12-14 14:38] #7372 closed

[2017-12-14 15:23] danielmitterdorfer opened #27820 "UpdateByQueryBasicTests#testMultipleSources fails in CI"
test failure link: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/850/console ([full build log](https://github.com/elastic/elasticsearch/files/1559736/build.log.zip) and [test-cluster logs](https://github.com/elastic/elasticsearch/files/1559740/test-cluster-logs.zip))

failure:

[code]

So the test fails to delete the index that is used. Above the failure we see in the lo

[2017-12-14 15:35] monotek commented on #27773
This is the log, extracted from journald, showing everything from Node start to restart: https://gist.githubusercontent.com/monotek/038735443d335a118e7edc7569739bd9/raw/23058e40d2a4dd12e539af269add81cfef76396f/es

[2017-12-14 15:42] nik9000 opened #27821 "Test: randomValueOtherThan confusing with nulls"
`ESTestCase#randomValueOtherThan` ignores nulls. This is it now:

[code]

So if you pass in `null` it'll just run the supplier one time. I think this is confusing - if you pass in null it shouldn't return null. I think something like:

[code]

Would be better. Discuss?

[2017-12-14 15:48] #19195 closed

[2017-12-14 15:49] jasontedor commented on #27821
+1, would you be willing to contribute a PR @nik9000? 😇

[2017-12-14 15:52] carantunes commented on #27781
@louloupw22  are you using a docker image? I had the same problem and already fixed it.

[2017-12-14 15:53] r-tock commented on #27806
Thanks, but that workaround is not enough for tests as our embedded elastic search dep, needs the following and fails

java.util.concurrent.ExecutionException: java.lang.NoClassDefFoundError: org/elasticsearch/cli/UserException
	at java.util.concurrent.FutureTask.report(FutureTask.java:122)
	at java.util.concurrent.FutureTask.get(FutureTask.java:192)

[2017-12-14 15:53] nik9000 commented on #27821
Yes! I'll totally do it, but I wanted to get some buy in before I spent the time running all the tests. I have a sneaking suspicion that we rely on this behavior and I'll be spending an afternoon hunting down weird test failures after I do it.

[2017-12-14 15:56] KarstenRauch opened #27822 "Field Collapsing: Version is not visible for inner_hits"
**Elasticsearch version**: 6.1 and below

**Steps to reproduce**:

Search with the example
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-collapse.html#_expand_collapse_results
but set
`
"inner_hits":{
  "version":true,
  ...
}
`
Expected:
In the result "hits" below "inner_hits" is a field "_version".
Instead the result is the same as for `"version":false,`.

**Test

[2017-12-14 15:59] KarstenRauch commented on #27822
`"version":true,` does not work for inner hits in case of field collapsing, but it works for other inner hit results like nested documents.

[2017-12-14 16:37] helloworldrta commented on #27806
**Same problem:**

Failure to find org.elasticsearch:elasticsearch-cli:jar:6.1.0 in https://repo.maven.apache.org/maven2 was cached in the local repository

**Here's my solution:**

wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-6.1.0.tar.gz
tar xfz elasticsearch-6.1.0.tar.gz
cp /elasticsearch-6.1.0/lib/elasticsearch-6.1.0.jar /somepath/elasticsearch-6.1.0.jar

vi /path/to

[2017-12-14 16:47] #27750 closed

[2017-12-14 16:47] #27751 closed

[2017-12-14 16:51] mayya-sharipova commented on #27517
Echoing Jim's comment from #26515 here: `maxLength` parameter  (limit on the field size to be analyzed)  is only necessary for the **plain highlighter**; as only this highlighter will keep all tokens for the field in the memory. In contrast, the unified highlighter  keeps in memory only field tokens corresponding to the query.

Points for discussion:
1. Since plain highlighter is not default anymo

[2017-12-14 17:42] jasontedor commented on #27806
We are working on this. We expect to have this fixed today. Sorry for the troubles.

[2017-12-14 17:52] pangyikhei commented on #27806
Also org.elasticsearch:cli:6.1.0 for org.elasticsearch.client:x-pack-transport:6.1.0 > org.elasticsearch.plugin:x-pack-api:6.1.0

[2017-12-14 18:47] jasontedor commented on #27821
I think it's a bug and we can move forward with the fix.

[2017-12-14 19:13] mohitboston commented on #26553
Is this issue also in version 5.2? We are seeing this

[2017-12-14 20:31] mayya-sharipova commented on #27798
Looks like this is not ES issue. This comes from the Apache Lucene (ES 5.6 used a different Lucene version).  Particularly, an error comes from  Lucene's classes of `WordnetSynonymParser` and `SynonymMap`.

You should raise this issue in: https://issues.apache.org/jira/projects/LUCENE

[2017-12-14 21:19] techpeace commented on #27798
Thanks for running that down! Not sure when I'll have time to report that to them though, TBH.

For anybody else that needs WordNet support, though, the workaround at the moment is to just downgrade to 5.6.

[2017-12-14 21:29] buchanae commented on #11322
If I could comment on my experience as a user:

It took me an hour or so to figure out that this didn't exist. I'd like to build a dashboard with a search bar, where the syntax is defined by Elasticsearch/Lucene's query string syntax. Having this would make that project substantially easier.

As an engineer: this seems like a great candidate for something that could grow, mature, and harden outsid

[2017-12-14 21:36] tbrooks8 opened #27827 "Rest client settings related to connections and keep alives are broken"
In 5.6 we introduced a change to the rest client that told the apache client to use system properties for some settings (3e4bc027ebdba5dd1a0935a75b5218960f736f76).

[code]

This was introduced to force the client to use the system default `SSLContext`. Unfortunately this also leads the http client to use system properties for max connections, keep alive, and other configs. This means that our sett

[2017-12-14 22:08] alexgarel commented on #11322
@buchanae sorry for I repeat myself but you can see our (GPL)  [lucene query parser in python](https://github.com/jurismarches/luqum/) it's yet far from perfect but may help.

[2017-12-14 22:22] jasontedor commented on #27806
An update on this issue: the missing elasticsearch-cli and mapper-extras are now available in Maven Central. We are working on some additional issues that we have identified during this process including the issue with the x-pack-transport POM referring to `org.elasticsearch:cli` (it should be `org.elasticsearch:elasticsearch-cli`). We will update again when we have this issue resolved.

[2017-12-15 01:41] #25231 closed

[2017-12-15 03:51] jasontedor commented on #27806
We believe that all issues are resolved here. If you encounter additional issues with the Maven artifacts for 6.1.0, please open a new issue. Thanks for the initial report, and sorry again for the troubles.

[2017-12-15 03:51] #27806 closed

[2017-12-15 06:37] russcam commented on #27805
I added https://github.com/elastic/elasticsearch/pull/27830 to add this to the 6.1.0 release notes

[2017-12-15 08:29] #27769 closed

[2017-12-15 08:36] DaveCTurner opened #27832 "Mis-reported self-intersection"
**Elasticsearch version**
[code]

**Plugins installed**: []

**JVM version**
[code]

**OS version**
[code]

The following sequence:

[code]

Yields this error:

[code]

The shape in question apparently looks like this:

<img width="584" alt="screen shot 2017-12-15 at 08 35 00" src="https://user-images.githubusercontent.com/5058284/34033640-e5fc1002-e172-11e7-8fc0-2d91cb2339ef.png">

I have a suspi

[2017-12-15 09:34] larschri commented on #21884
Manual synced flush is worthless in some cases. The `sync_id`s will be overwritten when shards are marked as inactive, even if a synced flush was executed. This happens after 5 minutes (`indices.memory.shard_inactive_time`) by default, so it might be a lot quicker to sleep for 5 minutes than to rely on synced flush.

[2017-12-15 09:47] heinhtet123 opened #27834 "filter on in elasticsearch-1.2.1 trigger the error below. How can i resolve this? i am new to elasticsearch"
[DEBUG][action.search.type       ] [Hobgoblin II] [product_catalogue][4], node[DKcHeBciTEmIBk6UsZuSTQ], [P], s[STARTED]: Failed to execute [org.elasticsearch.action.search.SearchRequest@79f7411] org.elasticsearch.search.SearchParseException: [product_catalogue][4]: query[ConstantScore(*:*)],from[-1],size[-1]: Parse Failure [Failed to parse source [{"query":{"match_all":[]},"filter":{"and":[{"geo_d

[2017-12-15 09:58] dadoonet commented on #27834
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-12-15 09:58] #27834 closed

[2017-12-15 10:10] sly7-7 commented on #22893
I try to reindex from 1.7.4 to 6.1, and I encounter this error. The documents are stored without _source on purpose. I just wonder if the reindex should work, or if it's impossible to do such a reindex.

[2017-12-15 10:11] sandstrom commented on #25782
I have the same issue, and I'm not using X-pack.

[2017-12-15 10:21] dadoonet commented on #22893
No if you don’t have source you can’t reindex (which reads source).

[2017-12-15 10:21] spinscale opened #27835 "Index Settings: Auto expand replica enabled indices ignore number of replica updates without telling the user"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.0.0

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Ran this on a two node cluster (so auto expanding works)

[code]

The behaviour looks correct to me, but returning an error on the update indices settings call makes sense to me.

[2017-12-15 10:28] rajiv180984 commented on #21932
ElasticSeearch service is not allowed to run for "ROOT" user. That's why change the ownership of elasticsearch folder with below command:
$ sudo chown -R rajeev:rajeev elasticsearch-5.5.0
then start elasticsearch service. It is working form me perfectly.

[2017-12-15 10:40] jemacom commented on #17708
I find a work around which is build the plugin locally into a zip file. Then push that file somwhere in your github.
In order to installed you need the raw github url somthing like this ```https://raw.githubusercontent.com/*****.zip```.
You can get the raw link also by using [Rawgit](https://rawgit.com/) web site.

* Run  ```bin/elasticsearch-plugin install https://raw.githubusercontent.com/*****.

[2017-12-15 11:13] #19813 closed

[2017-12-15 11:26] jasontedor commented on #27834
Elasticsearch 1.2.1 is no longer supported.

[2017-12-15 11:31] bleskes commented on #21884
@larschri This is indeed a shortcoming of the current logic. The synced flush triggered by the inactivity forces a new sync id while the node is offline and thus when it comes back online it's marker is different. This is all not an issue with version 6.0 since the new ops based recovery will kick in and and recovery will be just as quick. It is, however, something that we should fix for 5.6. Can

[2017-12-15 11:39] larschri opened #27838 "Index with no changes gets new `sync_id` when becoming inactive."
**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 5.5.2, Build: b2f0c09/2017-08-14T12:33:14.154Z, JVM: 1.8.0_144

**Plugins installed**: []

**JVM version** (`java -version`):

java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):

Linu

[2017-12-15 11:39] larschri commented on #21884
@bleskes https://github.com/elastic/elasticsearch/issues/27838

[2017-12-15 14:06] jasontedor commented on #27821
We discussed this in Fix-it-Friday and agreed to move forward with this change.

[2017-12-15 14:06] jasontedor commented on #27748
I think this should be opened as a Lucene issue?

[2017-12-15 14:09] s1monw commented on #27763
+1

[2017-12-15 14:12] jimczi commented on #27780
We discussed in FixItFriday and decided that we don't want to support compound keys in field collapsing. You can use the `terms` aggregation with a script to achieve this, field collapsing is a special case to speed up `terms` aggregation when only the top hits need to be collapsed. If you are in a discovery mode then the `terms` aggregation has all the power to achieve what you need.

[2017-12-15 14:12] #27780 closed

[2017-12-15 14:14] s1monw commented on #27760
@morphers82 first off, you are correct. When I added the split API and I realized you should have a prime number if you wanna use it 🤦‍♂️. Yet,  we had a ton of discussions internally what should be the default and there are multiple camps. Today since we have shard splitting I personally feel we should just go with 1 shard by default which is also a great starting point for capacity planning and

[2017-12-15 14:19] jimczi commented on #27736
We discussed this during FixItFriday and decided that there's nothing we can do about it. The removal is documented and there is no point adding a deprecation warning that late in 5.x so users should read the breaking change.

[2017-12-15 14:19] #27736 closed

[2017-12-15 14:20] s1monw commented on #27748
Lucene already has a [directory](https://github.com/apache/lucene-solr/blob/master/lucene/misc/src/java/org/apache/lucene/store/NativeUnixDirectory.java) for this but it requires native code etc. You can go and use it, adding a custom directory to ES with a plugin is pretty straight forward. Since Java 10 will [add](https://bugs.openjdk.java.net/browse/JDK-8164900) the ability to add O_DIRECT to s

[2017-12-15 14:23] TrustNoOne opened #27841 "Anonymous filters aggregation returns a named result when filters contain a bool query"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.1.0

**Plugins installed**: []

**JVM version** : 1.8.0_152

**OS version** : Mac OS X 10.13.2

**Description of the problem including expected versus actual behavior**:
Anonymous filters aggregation returns a named result using integers as keys when a bool query is specified in the filters. The result should contained an array of bucket

[2017-12-15 14:25] DaveCTurner commented on #27729
We discussed this in FixItFriday and the main question was whether this'd have any effect on clients of the API or whether the effect would just be on our code. Could @cbuescher and/or @tlrx investigate the impact of this and form a view about whether we want to do it or not?

[2017-12-15 14:38] jasontedor commented on #27683
but if I don't want to structure my code that way, or I want to use just a single listener I think this lib should support the case.

Note that you do not have to use anonymous classes. You can have a concrete listener:

[code]

Then:

[code]

We discussed this in Fix-it-Friday and agree that since this can easily be handled client side without adding any complexity to the API we are not going to

[2017-12-15 14:38] #27683 closed

[2017-12-15 14:40] jasontedor commented on #27763
We discussed this in Fix-it-Friday and agree that this is a bug. Would you take care of this @dakrone.

[2017-12-15 14:40] jasontedor commented on #27763
@antitech I want to be clear that while we agree this is bug, it is not a high priority bug so there is no expectation about the timeline for a fix.

[2017-12-15 15:12] mayya-sharipova commented on #27796
As discussed in the FixitFriday, we still will have a limit on the number of expanded terms equal to 1024, as all other Lucene checks are done later.

[2017-12-15 15:14] colings86 commented on #27679
@joshfix Thanks for the additional explanation. We currently don't have any plans to implement this type of client since the current High Level REST client still has a lot of work to go for it to be where we would like. If you are interested in building this type of client we would welcome a contribution but its not something we would be looking to do at this time.

[2017-12-15 15:25] mayya-sharipova commented on #27798
@techpeace thanks. I have created a Lucene issue for this problem: https://issues.apache.org/jira/browse/LUCENE-8100

[2017-12-15 16:00] mayya-sharipova commented on #27798
@techpeace What analyzers are you using for indexing synonyms?

[2017-12-15 16:43] mikemccand commented on #27798
++ to see the analysis chain; e.g. are you running `StopFilter` before the syn filter?

[2017-12-15 16:46] romseygeek commented on #27798
It looks as though the problem is the analyzer used to parse the synonyms file.  SynonymMap checks that the analysis output is a continuous stream rather than a graph, and the (fairly cryptic!) error message @techpeace reports above indicates that either there are extra tokens or gaps in the stream.

In 5.6 elasticsearch used a predefined tokenizer (whitespace by default) and optionally lowercased

[2017-12-15 16:52] antitech commented on #27763
@jasontedor its ok. I'll apply any temporary fix for now . Just a request  can you please attach this bug with aliases tag.

[2017-12-15 17:00] #27822 closed

[2017-12-15 17:06] mtritschler opened #27843 "Inconsistent handling of node IDs in preference and _cat/nodes"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.4.0

**Plugins installed**: [x-pack]

**JVM version** (`java -version`):
java version "1.8.0_102"
Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.102-b14, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):
Linux searchlog001 4.4.0-96-generic #119-Ubuntu SMP

**Description

[2017-12-15 17:54] jasontedor commented on #27843
The short ID is for display purposes. There is a documented parameter for the cat nodes API (like `full_id`) that shows the full ID needed for preferences. I’m closing this as expected behavior and not a bug.

[2017-12-15 17:54] #27843 closed

[2017-12-15 18:16] mtritschler commented on #27843
I see. But as specified in the report, I am using 5.4.0. The docs for 5.4
don't mention `full_id` at all (
https://www.elastic.co/guide/en/elasticsearch/reference/5.4/cat-nodes.html).
Is this just undocumented in this version or has it been added later?

2017-12-15 18:55 GMT+01:00 Jason Tedor <notifications@github.com>:

[2017-12-15 18:20] jasontedor commented on #27843
Yes, it was undocumented previously although works but it is documented starting in 5.6. I hope that helps.

[2017-12-15 19:18] jimczi commented on #27798
It can also happens with `TokenFilter` that repeats some term like a phonetic filter that preserves the original term or the repeat token filter. Stacked tokens are not allowed when analyzing synonym rules, see https://github.com/elastic/elasticsearch/issues/27481#issuecomment-346806566
Anyway your analysis chain contains the answer...

[2017-12-15 19:54] #27827 closed

[2017-12-15 19:57] presto9292 opened #27845 "Failure inserting document with explicit null in range field"
in 5.6.4 the last PUT statement fails, although it is equivalent to the previous insertions

`DELETE model_range_index`

`PUT model_range_index
{
  "mappings": {
    "my_type": {
      "properties": {
        "my_int": {
          "type": "integer"
        },
        "my_int_range": {
          "type": "integer_range"
        }
      }
    }
  }
}`

`PUT model_range_index/my_type/1
{
  "my_int": 7

[2017-12-15 20:07] presto9292 commented on #27845
This is the error response

`{
  "error": {
    "root_cause": [
      {
        "type": "mapper_parsing_exception",
        "reason": "error parsing field [my_int_range], expected an object but got my_int_range"
      }
    ],
    "type": "mapper_parsing_exception",
    "reason": "failed to parse [my_int_range]",
    "caused_by": {
      "type": "mapper_parsing_exception",
      "reason": "error p

[2017-12-15 20:14] losar opened #27846 "Node lock is occasionally being lost"
**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 5.6.5, Build: 6a37571/2017-12-04T07:50:10.466Z, JVM: 1.8.0_144

**Plugins installed**:

[]

**JVM version** (`java -version`):

java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):

OS

[2017-12-15 20:18] techpeace commented on #27798
I'm new to Elasticsearch, so I will admit to not knowing what the analysis chain is, nor how to report its contents. What I can say is that this was a stock Elasticsearch install, and I did nothing (I'm aware of) to configure the analysis chain. I was using [the searchkick library](https://github.com/ankane/searchkick) inside of a Rails app.

I'd be happy to stand up another instance running 6.0.0

[2017-12-15 20:31] cbuescher commented on #27841
@TrustNoOne thanks for opening this issue, I can reproduce the reported behaviour for empty bool query, however if I add a clause (e.g. a "must" clause) the response is as expected (without numeric key). Just adding this as a datapoint, the behaviour for an empty bool query is still stange and needs investigation.

[2017-12-15 20:37] TrustNoOne commented on #27841
You are actually right. I thought this happened all the time, but it's only in some cases.
In my case I had a range query, this reproduces the issue as well:

[code]

[2017-12-15 22:07] rpedela commented on #23850
One more thing about query boosts and normalization.

The ```bool``` query is, in fact, a linear combination of comparable values: BM25 scores. I think this is why it is so effective. Personally, I find it more effective that ```dis_max``` even though that query certainly has its uses. However query boosts are not intuitive.

Intuitively, I would expect a boost of 2 to mean that the boosted query

[2017-12-15 23:27] micoq commented on #27748
Actually, I didn't tested `NativeUnixDirectory` yet.
`O_DIRECT` could helps to reduce the cache trashing while merging/writing segments (and maybe for the translog or the shards restoration ?). It's a good idea to integrate this directly into the JVM.

In my case, the bottleneck was especially about the read operations while searching documents. I wanted to know why mmapfs performed badly on large

[2017-12-15 23:47] relicmelex commented on #17893
so with that in mind, what would have to change here to fix it? As I understand what you said, but I don't know how that effects these json blobs... @rjernst

[2017-12-16 08:27] kiawin opened #27849 "GeoIP ingest plugin to support ASN"
Hi, I would like to know if there is any accessible repository for ```org.elasticsearch:geolite2-databases``` that I could add GeoLite2-ASN.mmdb.gz to. Unable to access https://github.com/elastic/geolite2-databases (I found it in the pom)

The reason I'm asking this is because I'm currently working on ASN support for ingest-geoip plugin. I would need to update this module for unit testing purposes

[2017-12-16 09:00] liketic commented on #27814
Hi @martijnvg , I'm trying to work on this. However, I think maybe this is a common issue, seems like the other `analyzer`s are also didn't validate the unknown settings.  Please correct me if I'm wrong. Thanks in advance.

[2017-12-16 09:27] liketic commented on #22686
@clintongormley I think this could be closed.  Both above two APIs can get the setting now.

[2017-12-16 09:46] romseygeek commented on #27798
If you run this against your ES instance it should tell us how the synonym has been analyzed.  You'll need to replace ```[elasticsearch-url]```, ```[index]``` and ```[field]``` with the relevant examples from your setup.

[code]

[2017-12-16 09:52] liketic commented on #24143
Hi @dadoonet What I can do if I want to take this? Seems like the master branch had removed the setting. Thanks in advance.

[2017-12-16 14:07] nik9000 commented on #27821
I'll have a look next week.

[2017-12-17 14:15] amerzad opened #27851 "bengali_normalization is not found"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.0.1

**Plugins installed**: []

**JVM version** (`java -version`): Docker image docker.elastic.co/elasticsearch/elasticsearch:6.0.1

**OS version** (`uname -a` if on a Unix-like system): Docker image docker.elastic.co/elasticsearch/elasticsearch:6.0.1

**Description of the problem including expected versus actual behavior**:
Cannot use b

[2017-12-17 14:30] floragunncom opened #27852 "AssertionError "map must be empty" when call _flush/synced after deleting document"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.6.5 (5.6.4 works fine, so maybe related to https://github.com/elastic/elasticsearch/pull/27534 and https://github.com/elastic/elasticsearch/pull/27516 and https://github.com/elastic/elasticsearch/issues/20498 )

**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1

[2017-12-17 17:28] mayya-sharipova commented on #27796
After further investigation, looks like this feature is  **NOT necessary**, as there are already safeguards on the Lucene level.

For example, in the case of the wildquery, the algorithm is following:
1. Collect all the terms for the field
2. Compute the intersection of the WildQuery automaton with the field terms
3. Rewrite query:
    * `constant_score` -> MultiTermQueryConstantScoreWrapper attem

[2017-12-17 17:30] #27796 closed

[2017-12-17 19:26] rjernst commented on #24143
This is already done.

closed by #24445

[2017-12-17 19:26] #24143 closed

[2017-12-18 05:52] raushanjha146 opened #27857 "Unable to build the package in debian"
I downloaded the source from Debian snapshot. and tru to build the package using "dpkg-buildpackage".

I am unable to build the package.
there was some errors in build process regarding jar files not availabe.

**Elasticsearch version** (`bin/elasticsearch --version`): 1.7.5

**Plugins installed**: []

**JVM version** (`java -version`): openjdk version "1.8.0_151"

**OS version** (`uname -a` if on

[2017-12-18 06:13] dadoonet commented on #27857
1.7 is not supported anymore.

[2017-12-18 06:13] #27857 closed

[2017-12-18 06:42] raushanjha146 commented on #27857
can you please provide me the latest version link(dsc file) for debian.
So I will build it from source for debian.

[2017-12-18 07:33] dadoonet commented on #27857
Please ask questions like this on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

But I'm unsure you will get help on a non maintained version though. You should update to at least 2.4, better 5.6, even better 6.1.

Thanks!

[2017-12-18 07:53] johtani opened #27860 "[Docs] Rolling upgrade use "transient" instead "persistent" for disabling shard allocation"
https://www.elastic.co/guide/en/elasticsearch/reference/6.1/rolling-upgrades.html

In Rolling upgrades document, the sample request of step 1. uses `persistent` for enabling shard allocation, but the sample request for 7. reenabling shard allocation uses `transient`.

If a user restart cluster after upgrading, elasticsearch can not allocate shards any more...
The sample request for 1. has to use `

[2017-12-18 08:29] DaveCTurner opened #27861 "[CI] Sporadic failures of testRetentionPolicyChangeDuringRecovery"
I see a couple of recent failures of `testRetentionPolicyChangeDuringRecovery`:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=opensuse/1797/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/5410/console

Also the PR build of #27856:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request/6288/

[2017-12-18 08:35] s1monw commented on #27748
that is truly interesting. It almost seems that with madvice the OS is a bit more diligent with mapping memory into the cache. So this is all pure guessing but in default mode mmap will do initiate quite a bit of read-ahead while in `MADV_RANDOM` mode it won't do any readahead. In the NIO case I guess the readahead overhead amortizes the extra copy to a userspace buffer, that the OS needs to do in

[2017-12-18 08:36] s1monw commented on #27748
@micoq can you tell how much memory your machine has and how much of it you are giving to elasticsearch when you run these tests?

[2017-12-18 08:50] #25933 closed

[2017-12-18 08:57] s1monw commented on #27596
@mattweber can you please try 6.1 again. I think [this change ](https://github.com/elastic/elasticsearch/pull/26321) has removed the cause for this entirely. If so I will go and backport the change for SearchSourceBuilder to `5.6` in the case we do another release. This is also the reason why I didn't find this earlier. I was always looking at 6.x and master but the code was different there.

[2017-12-18 08:59] DaveCTurner commented on #25933
As of version 6.2 these shapes will yield a more descriptive `org.locationtech.spatial4j.exception.InvalidShapeException` rather than `java.lang.ArrayIndexOutOfBoundsException`, via #27685.

Note that this issue was nothing to do with the vertex count, nor the precision, and that the fix does not change the set of shapes accepted by Elasticsearch: it merely improves the message it gives when rejec

[2017-12-18 09:04] colings86 commented on #27852
@boaz are you able to take a look at this?

[2017-12-18 09:06] colings86 commented on #27851
The bengali analyzer is available from 6.1.0 [1] and is not available in 6.0.1. you will need to upgrade to 6.1.0 to access it.

[1] https://github.com/elastic/elasticsearch/pull/26527

[2017-12-18 09:06] #27851 closed

[2017-12-18 09:13] olcbean commented on #27814
I read something similar few month back and after some searching I found #16451. Is this is a special case of it?
@martijnvg do you know if any work has been done in this area and this is one of the last pieces to be fixed? Or maybe the whole "package" is this up for grabs ;)

[2017-12-18 09:18] colings86 commented on #27463
I agree that there is nothing to do here since the bug is fixed in 5.x+. Closing this issue

[2017-12-18 09:18] #27463 closed

[2017-12-18 09:25] colings86 commented on #27846
Is your data directory in a local disk or a remote one (i.e. is it a SAN, NFS etc.)?

[2017-12-18 09:26] ywelsch commented on #27194
I've gotten the logs via e-mail, which were unfortunately not from the active master node, so I asked for those as well. No response to that, so I'm closing this.

[2017-12-18 09:26] #27194 closed

[2017-12-18 09:27] colings86 commented on #27062
No further feedback. Please add a comment if you have the requested information and we can reopen the issue

[2017-12-18 09:27] #27062 closed

[2017-12-18 09:28] bleskes commented on #27852
I already did ;) The problem is that Lucene doesn't consider a delete of a non existent doc a "pending uncommitted change", so we skip executing a commit on the pre-synced flush commit and we also don't fail the synced flush due to pending op. We do however insert the delete into the version map even if the doc is not found due to external versioning semantics. I need to discuss it with @s1monw, I

[2017-12-18 09:35] bleskes commented on #27861
@dnhatn can you research please?

[2017-12-18 09:35] amerzad commented on #27851
Thanks very much, it was a silly mistake of me!

[2017-12-18 09:38] #22552 closed

[2017-12-18 09:39] clintongormley commented on #22686
thanks @liketic - closing

[2017-12-18 09:39] #22686 closed

[2017-12-18 09:52] DaveCTurner commented on #27861
FWIW repeated runs on my laptop seem fine, but on my build machine it fails quite readily with that `REPRODUCE` line.

[code]

[2017-12-18 09:56] lbrzekowski commented on #27782
@jimczi Do you know when this bug will be fixed?

[2017-12-18 09:57] jimczi commented on #27798
I checked the code in https://github.com/ankane/searchkick, each field is defined with a `shingle` filter that build n-grams of size 1 and 2. This means that the synonym rule `physical entity` creates three tokens, `physical`, `entity` and `physical entity` (the shingle of size 2). This filter is set **before** the synonym filter so it breaks the synonym map with an ambiguous rule, synonym inputs

[2017-12-18 09:57] #27798 closed

[2017-12-18 10:04] jimczi commented on #27782
Unfortunately this bug requires a larger fix than I initially thought. The rewriting of aggregations has a bug when multiple rewrite of the query is needed, the `terms` query is rewritten in multiple rounds (create the fetch query to get the document, retrieve the document and creates the final query) but currently only one rewrite is called. We know how to fix this but it will require some time,

[2017-12-18 10:18] Chandan83 opened #27862 "ES equivalent of lucene SpanNearQuery.Builder.addGap(int)"
Lucene's SpanNearQuery.Builder.addGap(int) serves an important search criteria. Especially with slop=0, it acts as arbitrary gap between two clauses just like the gaps created by removal of stop words in a phrase search. ES does not provide a similar Java API. Infact, even the lucene's way of introducing a gap in phrase search by PhraseQuery.Builder.add(Term term, int gap), used after filtering st

[2017-12-18 10:28] rahulsinghai commented on #5359
+1

[2017-12-18 10:47] and1990 commented on #17430
I want to run elasticsearch with docker-compose, but it shows the error when i am running with the command 'docker-compose up'. what should i do with this?

My docker-compose.yml:

<pre>
version: '2.0'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.1.0
    container_name: elasticsearch
    environment:
      - cluster.name=docker-cluster
      - bootstrap.mem

[2017-12-18 10:50] jasontedor commented on #17430
@and1990 Please look at the content in the [comment](https://github.com/elastic/elasticsearch/issues/17430#issuecomment-223853511) immediately above yours.

[2017-12-18 11:00] jimczi commented on #27862
For simple phrase query the gap introduced by stop words is handled internally by checking the number of filtered positions (number of filtered tokens before the next) so this query is not exposed.
`span` queries are not analyzed in es so we don't apply any gaps to `span_near` queries but it could be added in the DSL in some way. I'll mark this issue with the discuss label in order to have more op

[2017-12-18 11:25] techpeace commented on #27798
Thanks so much for the help, everyone! I'll open an issue on searchkick directly.

[2017-12-18 11:45] jasontedor commented on #27815
For future reference, a better way to mute this is to use `assumeTrue`; then the test shows up as silenced:

[code]

Gives:

[code]

[2017-12-18 12:37] Chandan83 commented on #27862
Neither ES nor lucene analyzes span terms and that is why we need to pre-analyze user input and introduce gaps in place of stop words. This is exactly what is done internally for phrase search. Phrase search is limited to simple terms and it can't be used within a SpanNearQuery. For phrase containing multi-term words, the only way is to use Span queries with gaps.

[2017-12-18 13:15] jimczi commented on #27862
This is correct, gaps are needed to build valid span queries from a client.

Multi-term words like `prefix` or `wildcard` ? Is this why you need to use span queries instead of a `match_phrase` ?

[2017-12-18 13:20] Chandan83 commented on #27862
Yes. We allow users to search for a complex phrase (i.e. a phrase containing regex, wildcard etc besides simple terms). For such a phrase, we require SpanNearQuery along with a way to introduce gaps for removed stop words.

[2017-12-18 13:24] jimczi commented on #26012
Closed by #27581

[2017-12-18 13:24] #26012 closed

[2017-12-18 13:37] nomoa opened #27865 "AbstractQueryBuilder.declareStandardFields should be protected?"
In #25948 some static methods in AbstractQueryBuilder had their visibility reduced to package private.
One of them is declareStandardFields, this method was quite useful and I don't get why it's no longer accessible outside the elastic package?
The printBoostAndQueryName is still accessible from plugins that declare new queries and thus I don't get why this method was hidden.

Would it make sense

[2017-12-18 13:37] dnhatn commented on #27861
Thanks @DaveCTurner. This is reproducible; I will look into it.

[2017-12-18 14:11] dnhatn commented on #27538
Another instance https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=amazon/1802/console

Log: [corrupt.txt](https://github.com/elastic/elasticsearch/files/1568173/corrupt.txt)

[2017-12-18 14:27] #27310 closed

[2017-12-18 15:05] shaharmor commented on #27377
@colings86 Is this something that is being actively worked on? Any ETA?

[2017-12-18 16:16] drewr commented on #27250
@jasontedor Did #27305 fully take care of this? Anything for @mgreau to do here?

[2017-12-18 17:08] micoq commented on #27748
@s1monw Sure.
This machine has 64 GB of memory (swap is disabled).

Elasticsearch is configured with a heap of 24GB:
[code]

Compressed pointers are enabled:
`[2017-12-18T18:05:47,129][INFO ][o.e.e.NodeEnvironment    ] [cLvT3QE] heap size [24gb], compressed ordinary object pointers [true]`

[2017-12-18 17:09] jasontedor commented on #27250
No, there is more work to do here. Namely:

[code]

[2017-12-18 17:12] Chandan83 commented on #27862
For a POC hack, in place of a gap, I am using a SpanTermQuery with term text as "A_GAP" and then modified SpanNearQueryParser checks for such a SpanTermQuery and replaces it with lucene's SpanNearQuery.SpanGapQuery which had to be made public. The later could have been avoided but it required more changes to the parser. An ideal solution will be to introduce SpanGapQuery like SpanQuery to ES. If t

[2017-12-18 17:30] geekofalltrades commented on #8427
It looks like this was documented at one point. Is it still? I can't find this mentioned in documentation.

[2017-12-18 17:37] dadoonet commented on #15613
I was wondering today when I saw this PR #27869 if we should also think of removing the PUT mapping API?
I mean that at the end of the day we will have only one "type" per index so doing something like:

[code]

Could be replace anyway by something like:

[code]

@jpountz WDYT?

[2017-12-18 18:23] jasontedor commented on #27815
Closed by 76771242e8fdbbc81bced24634e2fad06fa9ff34

[2017-12-18 18:23] #27815 closed

[2017-12-18 18:31] pickypg opened #27871 "index.number_of_replicas behavior with index.auto_expand_replicas"
When using `index.auto_expand_replicas` with a value other than `false` (its default), `index.number_of_replicas` is silently ignored:

[code]

I kind of wonder if we should just deprecate `auto_expand_replicas` and add its functionality to `number_of_replicas` instead?

[2017-12-18 18:31] pickypg commented on #27871
/cc @spinscale

[2017-12-18 18:37] dhruvr opened #27872 "Elastic nodes goes down as gc kicks in"
ES Version: 5.4.1
OS: Ubuntu
Java:1.8

### Issue

 We currently upgraded our systems from es 2.3 to es5.4.1, everything was going well till we deployed it on production. It started with es node going for some time randomly. On  investigation, we saw under logs in es
[code]
Earlier the ES 2.3 used to work with 8gb memory on the system with 32 GB ram. We increased the heap space from 8 to 12 and the

[2017-12-18 18:48] jasontedor commented on #27872
If this is the case, there should be a note in the logs about a fatal error and the cause being an out of memory error, the GC logs are only a warning of this impending doom and the node shuts itself down when any out of memory error is thrown. This is new behavior in 5.x, you could have been seeing out of memory errors in 2.x too but the logging and the termination behavior are both new in 5.x.

[2017-12-18 18:48] #27872 closed

[2017-12-18 19:22] aslamy opened #27873 "Bug: When using Highlight and copy_to in combination with no_match_size"
I have:

[code]
[code]
My search:
[code]
Search result:
[code]
Problem:
I use copy_to to copy multi-field to one field. Why do I only get "John"?  I think this is a bug and  I should get "John Smith" or [ "John", "Smith"] .
I have tested this on Elasticsearch 5.5.0 and 6.1.
[code]

[2017-12-18 19:38] cdaringe opened #27874 "bug: logging via log4j2 JsonLayout fails with log4j security error"
# problem statement

- configuring ES to log via JSON fails with security exception

# context

- i want my ES docker image to log JSON lines to stdout
- i have configured the image with a config file, and associated log4j2 jars
- on run, log4j2 complains about a security exception
  - i have also set ownership of the config file and jars to match those existing in the image.  more below

----

**

[2017-12-18 19:46] jasontedor commented on #27874
Duplicates #22103

[2017-12-18 19:46] #27874 closed

[2017-12-18 19:46] simianhacker opened #27875 "Painless Endpoint to Execute Scripts"
This is a feature request to add an endpoint for Painless to execute arbitrary scripts. I'm imaging something like the following:

[code]

and the response would be something like

[code]

Obviously this is a very simple example but with this type of interface we could replace the "math" (which uses Math.js) aggregation in TSVB with Painless and provide a way for the user to create scripts that al

[2017-12-18 19:50] #27788 closed

[2017-12-18 19:56] jimczi commented on #27862
Thanks for offering you help, I'll be happy to review ;). Though it should only work within a `span_near` query since it's the only query that accepts this option. Do you have an idea of the format for this new query ? Something like:
[code]
?

[2017-12-18 20:30] shreyu86 opened #27877 "ES Returns Empty Aggregations Between Time Ranges"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): `6.1.0`

**Plugins installed**: [`"discovery-ec2"`]

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system): `Amazon Linux (3-node cluster)`

**Description of the problem including expected versus actual behavior**:
I have about 400K documents in ES (3 node cluster), the document

[2017-12-18 20:35] mayya-sharipova commented on #27797
As discussed in the Search & Aggs meeting, we should put a limit on the number of leaves in the Query tree.
Short term plan:  close this issue, instead implement limit on the number of terms in the query: https://github.com/elastic/elasticsearch/issues/18829
Long term plan: Explore ways to calculate the number of primitive leaf term queries in the Query tree after the query is rewritten; and based

[2017-12-18 20:35] #27797 closed

[2017-12-18 20:51] vasily-kirichenko commented on #5512
+1

[2017-12-18 20:52] mayya-sharipova commented on #27517
As discussed in the Search & Aggs meeting, we will set an index level limit on the number of analyzed tokens during highlighting, and will fail a request if it exceeds this limit

[2017-12-18 20:56] spinscale commented on #27871
@pickypg duplicate of #27835 ?

[2017-12-18 21:38] andyb-elastic commented on #27820
Hmm, I wasn't able to reproduce this at the method, class, or project level. I also don't see anything in the build or test cluster logs that indicates a cause. @danielmitterdorfer do you have any advice for further ruling out a problem with the test

[2017-12-18 22:18] jdconrad commented on #27875
I'd also like to hear @rjernst  's thoughts on this too.

[2017-12-18 22:25] cdaringe commented on #27874
hi @jasontedor, thanks for the xref.

however, i did in fact see #22103.  you can see the the errors i present and the errors they present are similar, but different.  same objective, but perhaps _slightly_ different failure mode.

in the docker context, it's not abundantly clear where to set those policies values that you articulated in that issue.

[code]

i tried updating ^^^ listed policy file

[2017-12-18 22:36] micoq commented on #27748
I didn't do the test with NIO but if you try to map a big file and touch a single byte every 2Mbytes, Linux will load the entire 2MB chunk from the disk. Here is a quick and dirty example to illustrate this (do a drop caches before executing it):
[code]
Note that on OpenJDK 8 and Linux, if you preload the file with `dir.setPreload(true)` (the `load()` method from `MappedByteBuffer`: https://docs.o

[2017-12-18 23:08] rjernst commented on #27875
This is a little bit complicated since each place in ES you use a script (called "context"s) provides different predefined variables. So I'm not sure it could be used for general painless script debugging because you can't just pass in any script from any part of ES. However, since we do now have contexts, what you are requesting should be possible. It would be a new context that doesn't provided

[2017-12-18 23:21] simianhacker commented on #27875
@rjernst What are the different return types?

[2017-12-18 23:46] pickypg commented on #27871
Indeed! I didn't notice it when I created this one.

[2017-12-18 23:46] #27871 closed

[2017-12-18 23:47] pickypg commented on #27835
I kind of wonder if we should just deprecate `auto_expand_replicas` and add its functionality to `number_of_replicas` instead?

[2017-12-19 00:33] jdconrad commented on #27875
@simianhacker Any primitive or Object (which includes String), but since this is being sent as a REST request, I agree with @rjernst that a String makes sense to return since you can parse this as whatever you want on the client side, and it's simple to do.

[2017-12-19 00:37] simianhacker commented on #27875
Is there a simple way to take an array of results and encode them as a JSON string in Painless? then return that?

[2017-12-19 00:40] jdconrad commented on #27875
Not at this very moment, *but* with contexts we should be able to add a way to do this and give you useful methods for JSON -> String conversion.

[2017-12-19 01:20] codebrain commented on #27681
So... I can ignore the documentation and leave the parameters where they are?

[2017-12-19 02:53] jasontedor commented on #27874
You need to grant the permission to core Elasticsearch; add a file named `.java.policy` in the home directory of the user that you run Elasticsearch as and add the grant. Note that this impacts *any* JVM not limited to Elasticsearch that is run by this user. Does this help?

[2017-12-19 03:05] josefschiefer commented on #15613
Since there is only ONE mapping per index, shouldn't the element "mappings" be renamed to "mapping" at some point?

[2017-12-19 04:56] jasontedor commented on #27773
Your JVM was killed with `SIGKILL`:

[code]

I would check for your kernel logs for the OOM killer. I see that you have the heap set to 8g, how much physical memory is available to the OS?

[2017-12-19 05:28] rjernst commented on #15613
The plural part has to do with multiple fields, not multiple types.

+1

[2017-12-19 05:40] and1990 commented on #17430
@jasontedor Thanks. I have solved the problem.  Those guys who use elasticsearch in docker have a look at this document https://blog.docker.com/2015/04/docker-release-1-6, the Ulimits section.

[2017-12-19 07:00] monotek commented on #27773
No, that's my manual restart. The machine has 64gb ram.

If oom killer would have had hit me I would not have to restart manually as the docker container would be restarted automatically by my systemd unit.

The docker container and the jvm process don't crash. They are still running so actually a crash and automatic restart would be better than a blocked cluster.

[2017-12-19 07:09] kunisen opened #27889 "Elasticsearch - Provide a way of doing bulk change to alias by using script"
**Describe the feature**:
We can use painless to do a bulk change the dest index on the fly.
https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html#_reindex_daily_indices

[code]

Is there a way to do the same thing to alias?
By getting the alias name from `ctx` object and change it on the fly.

[2017-12-19 07:15] geekpete commented on #27889
So an example like:

```myindex with myalias```

being changed after reindexing to:

```myindex-1 with myalias```

and

```myindex with myalias-old```

- moving the alias from the original index to the new index
- creating an additional alias to point to the original index

[2017-12-19 07:43] #27762 closed

[2017-12-19 07:43] #27818 closed

[2017-12-19 08:37] DaveCTurner opened #27890 "[CI] Sporadic failures in testGetStartingSeqNo"
I see a handful of failures of `testGetStartingSeqNo` recently.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+intake/1043/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/5422/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+java9-periodic/5119/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsea

[2017-12-19 08:43] DaveCTurner commented on #27890
The exception (from the first job listed) was as follows.

[code]

[2017-12-19 09:17] Chandan83 commented on #27862
Yes, the format will be exactly like that (except the typo with extra : and " after span_gap). You are also correct that it should only work with span_near. Even Lucene has this option for SpanNearQuery only; in fact the SpanGapQuery class is private to SpanNearQuery. I will submit a change right after I am done making application changes required in my day job. I assume the changes are always exp

[2017-12-19 09:42] ulianex commented on #27205
Hi, it would be very useful to have 'update by query' exposed in the new client.

Thank you!

[2017-12-19 10:57] DaveCTurner opened #27892 "[CI] Java9 builds running out of memory"
For instance, https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.1+java9-periodic/315/console ends with:

[code]

More failures will follow shortly, but I'm opening this first so I've got an issue number to use to keep track of them all.

[2017-12-19 10:59] catalin-ursachi commented on #15613
Fwiw, an Update Indices Settings API also exists, even though each index has only ever had one set of settings: https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-update-settings.html

[2017-12-19 11:00] colings86 commented on #27865
@nomoa thanks for raising this. I agree that the method could be useful for custom query plugins to access. Maybe @cbuescher know why we made it package private and/or has an opinion on whether we should allow custom queries to access it?

[2017-12-19 11:04] colings86 commented on #27877
@shreyu86  could you provide some recreation steps for this? By this I mean a short script which details calls made to Elasticsearch for a small test index from index creation, through indexing docs and showing the error in a search request. This will allow us to recreate your issue and help either understanding it or diagnosing the bug. I think the data in the documents will be the key to finding

[2017-12-19 11:06] colings86 commented on #27377
@shaharmor its not being actuvely worked on right now but since we now have a way forward on this it is now available to be picked up and worked on. There is no ETA for this currently.

[2017-12-19 11:07] valdemarrolfsen opened #27893 "Aggregations do not always operate within the scope of the query for nested fields"
# Bug report

**Elasticsearch version**:
6.1.0

**JVM version**:
9.0.1

**OS version**:
Darwin Kernel Version 17.0.0

**Description of the problem including expected versus actual behavior**:
Aggregations do not always operate within the scope of the query for nested fields.

Expected behavior:
When aggregating using the date_histogram aggregation the expected behavior is that only nested fields w

[2017-12-19 11:07] cbuescher commented on #27865
@nomoa @colings86 I agree that this could be useful, too. I think it was changed to package private in  #25948 because we generally try to tighten visibility but didn't consider use in plugins, or we thought implementations of AbstractQueryBuilder might be able to use the same package as we do.

[2017-12-19 11:08] colings86 commented on #15613
@dadoonet The Update Mapping API would still be useful even with only one type since you can use it to add new fields to the mappings after index creation.

[2017-12-19 11:10] dadoonet commented on #15613
@colings86 Ha! Very true. I forgot that o_O.
Wondering if this can be supported by the update settings though?

[2017-12-19 11:38] DaveCTurner commented on #27832
For future reference, I found this looking at https://github.com/dstl/baleen/issues/3 and https://github.com/elastic/elasticsearch/issues/17407 seems related.

[2017-12-19 11:49] jasontedor commented on #27773
I do not think we are on the same page. You said that your “cluster is stopped”. I am interpreting this to mean that nodes are dying. I see zero evidence in your logs that this is the case, and now you’re telling us that you are restarting nodes so clearly I am not interpreting you correctly. Would you please explain what is happening, what do you mean by “blocked cluster”?

[2017-12-19 11:56] monotek commented on #27773
I mean the cluster runs but does not accept inserting new logs.
Restart of the cluster node which has the logs above solves the problem.

[2017-12-19 12:06] DaveCTurner commented on #27861
I muted this test in b26cc36928 - please could you unmute it as part of the fix?

[2017-12-19 12:13] DaveCTurner opened #27895 "[CI] Timeout waiting to lock file hash cache"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux/1804/console

[code]

NB this seems to be using Gradle 4.4, which is unexpected to me.

[2017-12-19 12:18] DaveCTurner commented on #27754
I muted this test in b1039164a1.

[2017-12-19 12:35] clintongormley commented on #12366
In other words, rewrite our dynamic mapping rules in Painless?  Imagine somebody who runs a cluster for users in the org who want to log data. The sysadmin has no control of the data coming in.  Somebody sends `foo: true` then `foo.bar: false`.  This may even be a really minor field, compared to the other fields in the document, but now the whole document is rejected unless this poor sysadmin find

[2017-12-19 13:28] martijnvg commented on #27849
@kiawin Thanks for opening this issue and working on this! I think opening that repository makes sense. However for now I opened a pr that upgrades ingest-geoip plugin's geolite2-databases dependency that also include the asn data based file (but not uses it), because it requires someone from the Elastic team to release this dependency.

[2017-12-19 13:35] DaveCTurner opened #27898 "[CI] GC overhead limit exceeded"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/885/console failed saying

[code]

This build apparently used Gradle 4.4, in case that's relevant.

[2017-12-19 13:37] jasontedor commented on #27898
I think this is a duplicate of #27892, at least it appears the JDK 9 in that issue is irrelevant now?

[2017-12-19 13:40] DaveCTurner commented on #27898
This is the first mainstream one I've come across to fail in this way, but yes, it now looks like it's not related to JDK9. I wasn't expecting to see any builds using Gradle 4.4 today so haven't been looking at the Gradle version until now, but I'll go back and see if that correlates.

[2017-12-19 13:43] jasontedor commented on #27898
Gradle 4.4 is everywhere in CI now.

[2017-12-19 13:47] tlrx commented on #27754
@DaveCTurner Thanks! I created #27899 as the issue is in another test.

[2017-12-19 13:48] cbuescher commented on #27841
So this is what I think happens here: the empty bool query gets rewritten internally to a MatchAllQueryBuilder, and as a follow up FiltersAggregationBuilder#doRewrite creates a new FiltersAggregationBuilder which doesn't correctly copy the original "keyed" field. I think that's the root cause of this and I will start working on a fix.

[2017-12-19 14:07] danielmitterdorfer commented on #27820
We do see the following in the log:

[code]

So it seems that for some reason these nodes were hanging but this is all I can see in the log. Maybe it makes sense to increase the log level to get more info in case this test fails again?

[2017-12-19 14:10] jpountz commented on #12366
I disagree. Indexing data and cleaning up data should be separate concerns. Your arguments are based on the assumption that there are a minority of malformed documents and that not indexing some fields is harmless. I'm not willing to trade predictability of Elasticsearch, it's too important, not only for users, but also for those who are in the business of supporting Elasticsearch like us.

You me

[2017-12-19 14:19] jasontedor commented on #27773
Please upgrade to 5.6.4, there are some bugs in the networking layer that lead to hung tasks that could potentially explain the behavior that you are describing here. At the least, I would like to rule this out as a possible cause.

[2017-12-19 14:22] monotek commented on #27773
OK. But could take a while. I'm already kind of out of work this year.

[2017-12-19 14:23] clintongormley commented on #12366
sure, agreed.  Like I said, once you opt in to ignore malformed, you take it with all its issues.  But think about this common example:  Twitter frequently sends illegal geoshapes.  If we didn't have ignore malformed support on that field, the user would either have to:

* delete all geoshapes
* preprocess geoshapes to confirm that they are legal, otherwise delete them, or
* try to index the doc,

[2017-12-19 14:34] jasontedor commented on #27773
Okay, I will close this issue. We can reopen if you report back that the issue persists after you upgrade.

[2017-12-19 14:34] #27773 closed

[2017-12-19 14:56] gmoskovicz opened #27903 "Include index name in Term/Phrase Suggester results"
Say you have two different indices with the same configuration, and you want to suggest across them:

[code]

Then in the results you just get a single result but you don't know which index holds your suggestion:

[code]

For example, if you have a single index per "Project" and you want to suggest a specific field and then you want to know which "Project" holds that suggestion, you need to make a

[2017-12-19 14:57] gmoskovicz commented on #27903
CC @jimczi as we discussed this.

[2017-12-19 14:57] jpountz commented on #12366
Yes, this is why I haven't complained too much about the existing `ignore_malformed` option. But I still think this option is dangerous and support for it should be carefully considered. It could cause confusion due to bad scores, slow queries, documents that cannot be found or suspicious evolution of disk usage depending on how many documents are malformed.

I am ok to discuss adding such an opti

[2017-12-19 15:16] DaveCTurner commented on #27892
Closing this in preference of #27898 - it's not just about JDK9.

[2017-12-19 15:16] #27892 closed

[2017-12-19 15:23] #27821 closed

[2017-12-19 15:23] DaveCTurner commented on #27538
Another one: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/877/console

[2017-12-19 15:24] martijnvg commented on #27893
@valdemarrolfsen The `range` query inside the `nested` query just determines whether there are nested docs for the root document to be a match. The `nested` aggregation doesn't know about the inner query specified in the `nested` query. It only knows that the root document was a match, and iterates over all its nested documents.

If the `range` query is moved to a `filter` aggregation under the `n

[2017-12-19 15:24] #27893 closed

[2017-12-19 15:26] DaveCTurner commented on #27538
I muted this in 96e09187a9 (on 6.x)

[2017-12-19 15:29] DaveCTurner opened #27907 "[CI] JVM ended with an exception"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.1+intake/104/console failed as follows:

[code]

Possibly related to https://github.com/elastic/elasticsearch/issues/27898 and the move to Gradle 4.4?

[2017-12-19 15:34] #27865 closed

[2017-12-19 15:43] DaveCTurner opened #27908 "[CI] Java 10: things are not available in profile 'compact3'"
Lots of failures of the `java10-periodic` builds across all branches. For instance:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+java10-periodic/10/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.1+java10-periodic/9/console
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+java10-periodic/9/console
https://elasticsearch-ci.elastic.co/jo

[2017-12-19 15:47] jasontedor commented on #27908
There is an open PR for this: #27884

[2017-12-19 15:50] valdemarrolfsen commented on #27893
Thank you @martijnvg, but what if you want to aggregate on a field of the root doc but filter based on a field in the nested doc? For example, if the mapping is updated to:

[code]

And you want to get the `avg` age within a timespan? The only way I can think of is the one presented below, but then you run into the same issue.

[code]

[2017-12-19 15:55] jpountz commented on #15613
You mean updating mappings via the update settings API? This sounds inconsistent to me.

[2017-12-19 16:13] tbrooks8 commented on #27422
This should be closed by #27459.

[2017-12-19 16:13] #27422 closed

[2017-12-19 16:28] dnhatn commented on #27890
Thanks @DaveCTurner. This tests is fixed in https://github.com/elastic/elasticsearch/commit/e9a3932dbce9bbc3d9e216a5c239aadfddef930a

[2017-12-19 16:28] #27890 closed

[2017-12-19 16:28] DaveCTurner opened #27909 "[CI] Could not create task of type 'LoggedExec'"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos/1805/console ends with

[code]

[2017-12-19 16:31] martijnvg commented on #27893
@valdemarrolfsen You can still use the `nested` query you had originally to get the average age in the requested range:

[code]

[2017-12-19 17:01] #27538 closed

[2017-12-19 17:02] weberhofer commented on #26497
This issue might be related to and been fixed with #26097 in version 6.1.

[2017-12-19 17:04] rjernst commented on #15613
@jpountz It is also inconsistent that analysis is updated via _settings right? I think the gist of the proposal is we should have one API for updatable "stuff" for an index, which takes the same form as index creation (ie sections for settings, mappings, etc). The only reason we have `POST /indexname/_settings` is because `POST /indexname` is for indexing a document? So we need some suffix to mean

[2017-12-19 17:06] dnhatn commented on #27248
Fixed by https://github.com/elastic/elasticsearch/pull/27887

[2017-12-19 17:06] #27248 closed

[2017-12-19 17:11] jpountz commented on #15613
@rjernst I would agree with this. My comment was more about having the endpoint called `_settings` when it is actually about updating mappings.

Actually we will be using `POST {index}/_doc` to index documents with auto-generated ids so I guess we could use `POST {index}` to update settings/mappings. I would like it to be handled in i separate issue however, since this one already has a very large

[2017-12-19 17:56] anosulchik opened #27911 "Shard's primary and replica documents inconsistency"
**Elasticsearch version**: 2.4.0
**Plugins installed**: cloud-aws, hq, kopf, reindexing, whatson
**JVM version**: 1.8.0_92
**OS version**: Amazon Linux

**Elasticsearch setup**:
24 nodes with `-Xms10529m -Xmx10529m` for elasticsearch on each
360 GB dedicated volume for elasticsearch data on each node
**elasticsearch.yml**:
[code]

**Index settings**:
[code]

**Description of the problem including

[2017-12-19 18:12] felipe-fg opened #27912 "Aggregations using nested and filter is different on ES 6.1.x"
**Elasticsearch version**
Version: 6.1.0, Build: c0c1ba0/2017-12-12T12:32:54.550Z, JVM: 1.8.0_131
Version: 5.6.5, Build: 6a37571/2017-12-04T07:50:10.466Z, JVM: 1.8.0_144

**JVM version**:
1.8.0_131

**OS version**
Ubuntu 14.04 - Linux 4.4.0-93-generic #116~14.04.1-Ubuntu
Arch Linux - Linux 4.14.6-1-ARCH

**Description of the problem including expected versus actual behavior**:
Aggregations with ne

[2017-12-19 18:37] jasontedor commented on #27907
This failure is not actionable without logs. I am closing this, we can try again if this recurs.

[2017-12-19 18:37] #27907 closed

[2017-12-19 18:56] #27841 closed

[2017-12-19 19:18] colings86 commented on #27877
From the comment  on https://discuss.elastic.co/t/es-6-1-0-aggregations-empty/112100/5 it looks like this is confirmed as not a bug so I'm closing this issue

[2017-12-19 19:18] #27877 closed

[2017-12-19 19:19] shreyu86 commented on #27877
@colings86 Thanks for the response I was about to close this issue since I figured out why this was happening. I really appreciate your help and the comments on the forum.

[2017-12-19 19:24] pratikadola commented on #22792
Has the issue been fixed?

[2017-12-19 19:34] kertal opened #27913 "Add update values to indices stats"
Currently there are no statistic available for updates in the [indices stats](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-stats.html) request

so currently the following stats for indices are available

[code]
would be nice to have e.g. "**update_total**" && "**update_time_in_millis**".

[2017-12-19 19:44] cbuescher commented on #27841
@TrustNoOne thanks for reporting this, good catch. And thanks for the detailed description, it was easy to reproduce that way. Fix will be in next 6.1 release and onwards.

[2017-12-19 19:47] TrustNoOne commented on #27841
sure thing! thanks for fixing it that fast

[2017-12-19 20:01] jasontedor commented on #27909
This build was killed intentionally.

[2017-12-19 20:01] #27909 closed

[2017-12-19 20:12] jughead commented on #21900
Got the same issue on Elasticsearch 6.0.0
[code]
=>
[code]

[2017-12-19 20:17] pickypg commented on #27913
Just FYI @kertal, incase you are unaware, updates are actually deletes + index operations under the hood.

[2017-12-19 20:20] cdaringe commented on #27874
Yes, it completely helps! :)  Thx!

For those who are in docker-land and want to see how i overcame it, have the following assets to build my ES json logging docker image:

[code]

[code]

[code]

[2017-12-19 20:23] clintongormley commented on #21900
@jughead you can't add the `.raw` field after the documents are indexed and expect them to already have values.  only documents indexed after you added that field will have values

[2017-12-19 20:25] jughead commented on #21900
@clintongormley ok. So only reindex helps?

[2017-12-19 20:29] clintongormley commented on #21900
correct

[2017-12-19 20:30] jasontedor commented on #27874
You are very welcome. :smile:

[2017-12-19 20:30] jughead commented on #21900
@clintongormley thank you

[2017-12-19 21:34] elasticmachine opened #29841 "[ML] Revisit Default Primary Shard Counts"
*Original comment by @pickypg:*

For the anomaly indices (both job state and job results), the primary shard count uses the cluster default: `5`.

Based on some discussion in both Slack and on GitHub, this issue exists to track discussion in the new year toward possibly reducing this default in light of actual sizes.

Relates to LINK REDACTED

[2017-12-20 02:59] tvernum commented on #27681
@codebrain Yes, the parameters still exist.

[code]

and

[code]

allow exactly the same parameters, which includes `ignore_unavailable` and `allow_no_indices `.

The breaking changes doc is incorrect.

[2017-12-20 03:48] dnhatn commented on #27861
Another instance on 6.x https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+multijob-unix-compatibility/os=debian/434/console

[2017-12-20 05:44] kunisen commented on #27889
any update here?

[2017-12-20 07:56] codebrain commented on #27681
OK, I will submit a PR for the breaking changes documentation.

[2017-12-20 08:27] DaveCTurner commented on #27832
Ah, ok, I had my orientations mixed up after all, as @colings86 correctly guessed. This polygon's orientation is clockwise but it should be anticlockwise. We accept both for polygons that cross ≤180° of longitude but for wider polygons we assume that the incorrect orientation and excessive width is due to the date line:

https://github.com/elastic/elasticsearch/blob/e6da564eb15945289c1fd0d29d9cd04

[2017-12-20 08:31] #27754 closed

[2017-12-20 08:50] DaveCTurner commented on #17407
This is a tricky one, but the provided outline of Antarctica is technically _not_ valid GeoJSON because it is oriented clockwise whereas https://tools.ietf.org/html/rfc7946#section-3.1.6 says:

[code]

It's tricky because ES silently accepts incorrectly-oriented polygons that cross ≤180° of longitude, which is most countries, but Antarctica crosses every line of longitude so this leniency doesn't

[2017-12-20 08:50] #17407 closed

[2017-12-20 09:09] s1monw commented on #27913
that is true but it's not the deletes you see here. I think, @kertal correct me if I am wrong you are interested in how many [_update](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update.html) calls the shard receives, correct? Or are you interested in how many documents have a version != 1?

[2017-12-20 09:14] costin opened #27916 "[CI] vagrant packaging fails on centos"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/

The packaging tests for master have been failing since Dec 16th. Since I couldn't find an issue for it, I raised this one.

The culprit seems to be vagrant running on CentOS:

[code]

[2017-12-20 09:15] colings86 commented on #27912
@martijnvg could you take a look please?

[2017-12-20 09:18] costin commented on #27916
The 5.6 and 6.1branches are affected as well:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.1+packaging-tests/

[code]
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+packaging-tests/

[code]

[2017-12-20 09:20] s1monw commented on #26615
closing this for now given the explain above and the lack of responses

[2017-12-20 09:20] #26615 closed

[2017-12-20 09:22] DaveCTurner commented on #27832
Note that https://github.com/dstl/baleen/pull/39/files was a change that a user made to simplify an outline of Antarctica into one that ES accepts, but it still looks clockwise to me so I think the indexed shape is "fixed" as above, and therefore doesn't match the shape that they wanted to index.

[2017-12-20 09:23] kertal commented on #27913
@pickypg
yes, i know, each update combines a delete + index operations
@s1monw
i'd be interested in both numbers (correct me, when i'm doing an upsert, initially, there's no delete op, all following updates will also result in an delete op, right?).

[2017-12-20 09:31] ilavender commented on #27773
I'm experiencing same thing on 5.6.4
tried thread_pool.bulk.queue_size: 1500 without success.

`2017-12-20T09:30:36,614][ERROR][o.e.x.w.e.ExecutionService] [elasticsearch-logging-2] failed to delete triggered watch [ya_ykgCVSGOKZJjPdd8Rfg_elasticsearch_version_mismatch_6b058fee-353d-4ba6-bfde-471fafe98751-2017-12-20T09:20:35.295Z]
org.elasticsearch.common.util.concurrent.EsRejectedExecutionExcepti

[2017-12-20 09:39] bleskes opened #27917 "Azure tests rely on MockZenPing"
The Azure tests currently do not disable the `MockZenPing` class which is used to shortcut cluster forming in our testing infra. As a result they don't really test what they want to test. We I disabled `MockZenPing` the tests fail because they rely on the internal test cluster to hard code the node's addresses. This has also changed with #27859 so the tests need to be adapted.

@tlrx has gracefull

[2017-12-20 09:50] s1monw commented on #27913
so you are saying you really want to know how often we didn't only append a document but also deleted. ie. called IndexWriter#updateDocument? @kertal can you explain what the usecase is here? the stats might be accurate since we might retry a document in some situations

[2017-12-20 10:03] jasontedor commented on #27916
The relevant failure is:

[code]

From the last green build:

[code]

From the first red build:

[code]

So: the build was last green at 717e2ddf4219426c9cf52b3f8531ad29ed32a74d and red at 43ff38c5dabcd862e260db28efd951d077cdf777. Let's see:

[code]

Both signs are pointing to a change in the ingest-attachment plugin breaking the build: #27824. This issue should be assigned to @talevy.

[2017-12-20 12:39] junkainiu opened #27922 "old gc can not recover memory"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.3.0
**Plugins installed**: []
None
**JVM version** (`java -version`):
1.8.0_66
**OS version** (`uname -a` if on a Unix-like system):
CentOS7
Linux 9ba9ad486a9a 3.10.0-514.21.2.el7.x86_64 #1 SMP Tue Jun 20 12:24:47 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
**Description of the problem including expected versus actual behavior**:

**Steps to

[2017-12-20 12:53] #27852 closed

[2017-12-20 13:01] s1monw commented on #27731
I think this will be fixed by https://github.com/elastic/elasticsearch/pull/27768

[2017-12-20 13:16] byronvoorbach opened #27923 "Elasticsearch 6.1.1 - Not possible to specify 'format' in Date Histogram aggregation when used in Composite Aggregation"
Hi all!

On Elasticsearch 6.1.1 I'm getting a:
[code]

When trying to choose a format for my date_histogram aggregation, which is placed in a composite aggregation:

[code]

Is this a possible bug? Or is it not possible to have a 'key_as_string' when using composite?
Here is the complete code to reproduce:

[https://gist.github.com/byronvoorbach/434f84a8cf89f6aab9cb2d9e291a9047](https://gist.githu

[2017-12-20 13:31] dadoonet opened #27924 "Automatically guess EC2 endpoint based on metadata"
While I was working on #27464, I came to this part of the AWS SDK code:

[code]

Important part is:

Which basically means that we should revisit the decision we made in #22758 and remove `endpoint` and reintroduce `region`.

Creating a AWS EC2 client would be as simple as:

[code]

Even better, we can actually retrieve automatically the region if not explicitly set from the metadata instance by c

[2017-12-20 13:52] s1monw commented on #27922
can you give us more information about the system in general. ie do you have massive mappings, large number of indices. massive synonym files etc. Can you try to dig where these massive hashmaps are hold?

[2017-12-20 13:53] synhershko commented on #25833
+1 for changing the defaults as indicated. And just noting that for a project I'm assisting, with several simple polygons indexed as `precision: 10m` and `tree: quadtree`, indexing is very slow, consumed disk space is very large, and setting `distance_error_pct: 0.001` doesn't really help with either.

@nknize any ETA for a bkd-tree based geo-shape indexing?

[2017-12-20 13:55] synhershko commented on #22087
+1. Would love to have an ETA on this, we are currently experiencing the same in a large scale project.

[2017-12-20 14:10] gmoskovicz commented on #25833
@synhershko have you seen any improvement testing the defaults vs `quadtree` with some error percentage?

I wouldn't expect it to fix every single case (because https://github.com/elastic/elasticsearch/issues/25833#issuecomment-317116918) but i would expect it to have a significant change comparing to the defaults.

[2017-12-20 14:13] vbohata opened #27926 "Since Elasticsearch 6.1.0 environment variable substitutions in lists do not work"
In elasticsearch 6.1.0 and 6.1.1 I can not use variable substitutions for x-pack related configuration in elasticsearch. Also mentioned here: https://discuss.elastic.co/t/x-pack-6-1-0-does-not-handle-variable-substitutions/111953
`
xpack:
  security:
    authc:
      realms:
          ssl:
            certificate_authorities: [ "${ELASTICSEARCH_CONFIG_PATH}/certs/myca.crt" ]
`
I am receiving:
`jav

[2017-12-20 14:22] synhershko commented on #25833
Using 5.6.0 and I'm assuming the default is `distance_error_pct: 0` - so we compared it to that with no significant improvement (or none at all). Started with quadtree to begin with so didn't compare it to that.

[2017-12-20 14:24] jasontedor commented on #27926
On its face this looks like an X-Pack issue which we do not handle here as this is for open source Elasticsearch only. However, this is a core feature implemented in open source Elasticsearch.

Have you set `ELASTICSEARCH_CONFIG_PATH`? What does

[code]

show? Are you sure that you exported the environment variable? If you start the process (suspend it before it fails) and get its pid, does `/proc

[2017-12-20 14:32] synhershko commented on #25833
fwiw the most significant drop in performance (and increase in disk size) was when we went from `precision: 50m` to `precision: 10m` (both are quadtree and `distance_error_pct: 0.001`). In our tests, 50m gives us bulk of 500 in ~1s and about 50kb/doc on disk while 10m is bulk of 500 in ~5s and about 150kb/doc on disk.

[2017-12-20 14:33] elasticmachine opened #29842 "SQL: Default configuration and whether it is mutable"
*Original comment by @costin:*

While working on the mapping I've encountered a number of situations where, depending on the user preference, we could take different actions.
Through this ticket I'd like to track the options and their values and also discuss whether we want/can/should introduce the ability to read/write these options for alpha or not (LINK REDACTED).

Currently we have the followi

[2017-12-20 14:37] jimczi commented on #27923
This is not supported in 6.1, the composite agg returns the raw value but I agree that it should be possible to set a format for date fields in future versions. I marked this issue as a feature request and will update it when a pr is ready.

Thanks for testing the composite aggregation @byronvoorbach !

[2017-12-20 14:44] byronvoorbach commented on #27923
Hey @jimczi

Ahh okay! Thanks for your response! I'm enthusiastic about the composite aggregation :D Nice addition
I wouldn't mind working on a PR either if needed :)

[2017-12-20 14:45] vbohata commented on #27926
I run ES in docker. I use my entrypoint script which exports ELASTICSEARCH_CONFIG_PATH variable before starting elasticsearch. I know the variable is exported (even see it in environ). To fix the issue I just need to build the docker image with older ES - 6.0.1 (not 6.1.0 or 6.1.1). The issue can be easily replicated by very simple installation of elasticsearch + x-pack without the docker. I do no

[2017-12-20 14:50] jasontedor commented on #27926
Would you share a Dockerfile including entrypoint and reproduction of this issue please?

[2017-12-20 15:29] xserrat opened #27928 "Null pointer exception using Global Aggregation and then Nested Aggregation"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.1.2

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):

Linux xxxx 2.6.32-642.el6.x86_64 #1 SMP Tue May 10 17:27:01 UTC 2016 x86_64 x86_64

[2017-12-20 16:26] #24481 closed

[2017-12-20 16:26] #27731 closed

[2017-12-20 16:32] s1monw commented on #10984
@dakrone I retested and open a joda time issue https://github.com/JodaOrg/joda-time/issues/462

[2017-12-20 18:14] tksfz commented on #27827
Thanks for the quick fix!

[2017-12-20 18:53] aslamy commented on #27873
More related bug:
If I have this mapping instead (just added "term_vector": "with_positions_offsets"):
[code]
My Search :
[code]
Result:
[code]
Nothing highlights. But if I decrement no_match_size to 5 then only "Johan" will appears.
New Search:
[code]
Result:
[code]

[2017-12-20 21:08] n0othing opened #27932 "[DOCS] Remove mention of password protecting the elasticsearch.keystore"
On the Secure Settings page:

https://www.elastic.co/guide/en/elasticsearch/reference/master/secure-settings.html

We mention password protecting the `elasticsearch.keystore`:

  _"For this use case, Elasticsearch provides a keystore, **which may be password protected**, and the elasticsearch-keystore tool to manage the settings in the keystore."_

But the ability to password protect hasn't been i

[2017-12-20 21:09] jasontedor opened #27933 "Add elasticsearch-core library"
This is a placeholder issue to do the following:
 - create `libs/elasticsearch-core`
 - rename `core` to `server` and the artifact to `elasticsearch-server`
 - move JAR hell check to `elasticsearch-core` (including the build-time task)

[2017-12-20 21:22] #27908 closed

[2017-12-20 22:13] Fluxx opened #27935 "JSON ints sometimes being mapped to floats"
**Elasticsearch version** (`bin/elasticsearch --version`): Version: 5.6.2, Build: 57e20f3/2017-09-23T13:16:45.703Z, JVM: 1.8.0_131

**Plugins installed**: []

**JVM version** (`java -version`):

[code]

**OS version** (`uname -a` if on a Unix-like system): Linux ip-10-0-16-177 4.4.0-1035-aws #44-Ubuntu SMP Tue Sep 12 17:27:47 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem in

[2017-12-20 22:29] jimczi commented on #27862
Yes please.

[2017-12-20 23:02] GlenRSmith commented on #27835
@pickypg If we did that, what would be reported on inspection of the index settings `number_of_replicas`?

[2017-12-20 23:09] andyb-elastic commented on #27820
Gotcha, I'll increase the test log level since it can't hurt. Since this is the only time this test has failed I'm inclined to think it may be caused by something else

[2017-12-21 02:14] junkainiu commented on #27922
@s1monw We do have about 10000 indices in the elasticsearch node,  and have a mapping containing about 60 feilds, most of which are keyword type or long type.  Not sure about the hashmaps.
![424275953695910711](https://user-images.githubusercontent.com/12933695/34237438-a8c6ce24-e637-11e7-9493-f53b278dfff7.jpg)

[2017-12-21 03:34] jasontedor commented on #27926
I want to help you but this is too far from a useable reproduction. For example, you are trying to switch to the `elastic` user yet you never created this user. Yes, I could do this, but this is the Nth hurdle in trying to get a working reproduction from what you've provided where now `N` is too large (I do not know your base image but `gosu` is not installed, `wget` is not installed, you have ref

[2017-12-21 04:31] tvernum commented on #27926
I can reproduce, it seems to be exclusively a problem with array settings, so my guess is that it's a by-product of #26878

In 6.0.1 running with this config file:
[code]
would fail to start with:
[code]

In 6.1, it starts, but logs:
[code]

[2017-12-21 04:47] tvernum commented on #27926
It seems to have been a somewhat consious decision in #26878
https://github.com/elastic/elasticsearch/pull/26878/files#diff-ec9e18970c4ce90d89639c46bb07218eR1206

Assigning to @s1monw to comment.

[2017-12-21 07:23] kiawin commented on #27849
I saw the merge is completed in #27897. Not sure about the workflow for elasticsearch team, should I modify the title of this issue to "GeoIP ingest plugin to support ASN", or open a new issue?

I will work on the ASN code :)

[2017-12-21 07:49] martijnvg commented on #27849
@kiawin Whatever you prefer :)

[2017-12-21 09:03] maphey opened #27937 "java rest client use compressed head, return error message garbled"
elasticsearch client version : 5.5.3

[2017-12-21 09:30] martijnvg commented on #27928
Hey @xserrat, did you see a stacktrace with a NullPointerException in the logs? Also does this issue reproduce on a more recent ES version? (at least 5.6.x?)

[2017-12-21 09:48] spinscale commented on #27330
some more discussion about BWC.

#### Painless

Right now calling `doc['foo'].value` returns a joda `DateTime` object (due to `ScriptDocValues` in core returning one), which makes it non-trivial to just convert to java time, as many users will have put this kind of code in their scripts to deal with dates.

A possible work around for this would be to have a `doc['foo'].date_value` object which ret

[2017-12-21 10:10] colings86 commented on #27937
Please can you provide details of the problem you are seeing here. Raising an issue with only a title doesn't provide enough information to help you. Some examples of things you could provide: the request that you are sending to Elasticsearch, your Java REST client code snippet, the error you receive, any other details that would help explain what you are seeing vs. what you would expect to see.

[2017-12-21 13:02] vaughnd commented on #15918
I'm still working through jar hell. In some cases it's not at all relevant, e.g. when using jcl-over-slf4j to override commons-logging. Now I have to try exclude commons-logging in each and every dependency, instead of just letting jcl-over-slf4j do what it was designed to do. I'm very close to just overriding JarHell...

[2017-12-21 13:38] jpountz commented on #27935
Can you try to identify the document that triggers this behaviour? I suspect it might have eg. `3.0` instead of `3` as a value, which makes Elasticsearch index it as a `float`. Maybe check whether you have a proxy between your client and Elasticsearch that might rewrite the json document and transform something that is an integer when it leaves the client-side into a float when it reaches Elastics

[2017-12-21 13:43] xserrat commented on #27928
Hi @martijnvg !

I didn't see anymore :( The whole log error is what I pasted before...

About the version, I'm using that one because we've not migrated to the latest but I will try to index the documents with the version you've said and I'll tell you what happen then!

[2017-12-21 13:52] jpountz commented on #27922
60 fields is fine, but 10k indices is too much. This correlates with your heap dump which says there are about 5M segments (SegmentCoreReaders). The reason is that each segment needs to maintain its own metadata, so you should rather have fewer larger segments, and the easiest way to do this is to reduce your number of shards per node, which in turn is probably most easily done by reducing the num

[2017-12-21 13:52] #27922 closed

[2017-12-21 14:26] hilalbursali opened #27944 "Search nestedField score"
I have an index and there is an nested field in it:
  ` "user" : [
    {
    "name" : "Alice Dave"
   }
  ]`

  ` "user" : [
    {
    "name" : "Alice Smith"
   },
     {
    "name" : "John"
   }
  ]`

Although, they have one "Alice", the second one's score is higher because of the docCount. I could not omit norms. Is there any way to make their score same?

[2017-12-21 15:19] #27517 closed

[2017-12-21 15:29] alexfrancoeur commented on #27875
I'd like to weigh in here a bit from a product standpoint. The [Math Agg](https://github.com/elastic/kibana/pull/13681) @simianhacker created for 6.1 filled a huge gap that we have in Kibana. We have a number of users looking to do simple calculations such as dividing two metrics from within a Kibana visualization. There are of course more advanced users looking to create much more complex calcula

[2017-12-21 15:29] dnhatn commented on #27674
Log:
[testRelocationWithConcurrentIndexing.txt](https://github.com/elastic/elasticsearch/files/1579665/testRelocationWithConcurrentIndexing.txt)

[2017-12-21 15:58] anosulchik commented on #27911
Anyone?

[2017-12-21 16:20] bleskes commented on #27911
@anosulchik thanks for the detailed issue. These are very important but also very very tricky issues to track down. Due to the severity we will do our best to push a solution to 5.6 but 2.4 is will not see another release. I suggest you first upgrade to 5.6 and see if they issue persists and we can take it from there.

[2017-12-21 16:22] bleskes commented on #27911
Also to be clear - the code question has seen an immense amount of work in the 5.x & 6.x series. It's highly likely that your issue is solved are at least will change in nature.

[2017-12-21 17:13] giocaputo opened #27948 "Array index out of bounds exception"
**Describe the feature**:

After upgraded a  new version of ES 6.1.1, from version 5.6.3
 when run following search query(in document with parent join field ):
GET /searchproduct_parentjoin/_search
{
    "from": 0,
	"size": 60,
	"aggs": {
     "styles": {
		"terms": {
			"missing": 0,"field": "styles.id","size": 2147483647
		}
		}
	},
    "query": {
        "bool": {
            "must": [

[2017-12-21 17:43] tigra commented on #10746
@areek

Can you provide an example where this happens? Not sure that I am understanding the phrase correctly.

P.S.: Wanting being able to have edit distance influencing the score very much.

[2017-12-21 18:16] rjernst commented on #27875
@alexfrancoeur I'm not sure exactly what you are suggesting. What was proposed here is an independent endpoint to run painless scripts. But to run such a script with information from results of a given query would mean a second roundtrip. It means the "client side" processing of aggs results becomes not really client side (and probably painfully slow).

[2017-12-21 18:29] pickypg commented on #27835
@GlenRSmith The value that is set, which could continue to default to `1`, or possibly we could change the default to `"0-1"`. Because it's just a setting and not a live representation of how many replicas are allocated, I don't think there's much risk with _adding_ functionality to it by merging it with `auto_expand_replicas`.

[2017-12-21 18:30] #27912 closed

[2017-12-21 18:41] martijnvg commented on #27912
@felipe-fg Thanks for reporting! The bug has been fixed.

[2017-12-21 19:02] nktsg opened #27950 "Import into IntelliJ failing after running gradle idea with Gradle 4.4"
I'm getting the following error while importing the project into idea after running **gradle idea** from the root directory.

[code]

The import stops at line 31 of file **benchmarks/build.gradle**.

ElasticSearch version: 6.1.1
Gradle version: 4.4
Java version: 1.8.0_151
OS: Ubuntu 16.04

I've also tried Gradle version 4.3 and 3.4.1 but the error is same.

[2017-12-21 19:42] rjernst commented on #27950
Are you sure there was nothing more in the output? This is likely a messed up jdk installation. We use jrunscript to find information about the jdk version, during build initialization.

[2017-12-21 19:59] simianhacker commented on #27875
Yes, it would be a second round trip... painfully slow really depends on the latency and number of round trips required to do the calculation. If it was all batched together then it might be an additional 10ms to 60ms, which isn't terrible.

[2017-12-21 20:39] rjernst commented on #15918
@vaughnd This is a closed issue. If you think you have encountered a bug (eg jarhell when using the test framework), then please open a new issue and detail how to reproduce.

[2017-12-21 20:50] felipe-fg commented on #27912
@martijnvg Thank you for fixing it that fast.

[2017-12-21 20:57] Fluxx commented on #27935
@jpountz thanks for the reply. I did spend some time trying to find documents in the index which were indexed as a `float`, and was unable to. I'm fairly confident this is not occurring, as the particular field is one extract programmatically out of thrift struct, whose field is the `i32` thrift type. Though I do acknowledge that a rogue document being indexed with a `float` value there would be t

[2017-12-21 21:15] tberne commented on #8486
@anhzhi , totally agreed. Distributed calculation is a big miss for any big data analytics. At this exactly moment, I need to do such thing, but I just got disappointed when I reached and read this thread.

[2017-12-21 21:15] polyfractal commented on #27935
Do you have any index or dynamic templates configured?

Is there an application processing the thrift datastructure and converting it to JSON to send to ES? Or are you using something like Logstash?

I ask because various languages have weird edge-cases. For example, PHP (everyone's favorite punching bag) will cast an integer to double if it is greater than MAX_INT so as to prevent overflow.  Ther

[2017-12-21 21:51] #27861 closed

[2017-12-21 22:09] dnhatn commented on #27861
I've unmuted the test on 6.x: https://github.com/elastic/elasticsearch/commit/81e420d47f9bbb1f4f5d320ecb7613dae82d9707, master: https://github.com/elastic/elasticsearch/commit/7e3dc122fd88fec2b2aaca53e01956f05e10013c

[2017-12-21 23:14] mikeurbach opened #27954 "MultiPoint query yields more false positives when points are further apart"
**Elasticsearch version**: Version: 6.1.1, Build: bd92e7f/2017-12-17T20:23:25.338Z, JVM: 1.8.0_45

**Plugins installed**: []

**JVM version** : Java(TM) SE Runtime Environment (build 1.8.0_45-b14)

**OS version**: Darwin Kernel Version 14.5.0: Sun Jun  4 21:40:08 PDT 2017; root:xnu-2782.70.3~1/RELEASE_X86_64 x86_64

**Description of the problem including expected versus actual behavior**:

I am us

[2017-12-22 00:05] GlenRSmith commented on #27835
@pickypg Currently, if you set auto_expand_replicas, number_of_replicas will report the current target count. If these are merged, number_of_replicas will have to report either the expand setting or the target, as is currently reported, so it seems to me that such a change will result in information loss.

[2017-12-22 02:23] jasontedor commented on #27895
This is closed by increasing the Gradle daemon heap size to 1536m.

[2017-12-22 02:23] #27895 closed

[2017-12-22 02:24] jasontedor commented on #27926
Thanks for triaging this one @tvernum.

Thanks for the report @vbohata, no further action is needed from you, we will take it from here.

[2017-12-22 05:55] nktsg commented on #27950
@rjernst Nothing more in the output. I'm using Java 8 provided by SDKMAN. The jdk installation is fine.

[2017-12-22 07:52] jkakavas commented on #27944
Hi @hilalbursali, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) instead. Thank you!

[2017-12-22 07:52] #27944 closed

[2017-12-22 08:58] #27917 closed

[2017-12-22 08:59] bryanhanner commented on #15345
I’m seeing that this issue is a bit stale. Is this still a problem?

[2017-12-22 09:17] bpolaszek commented on #8486
@tberne @anzhi I have moved away from ElasticSearch because of this: needed to sort on scripted metrics and create range facets. Since ES was unable to provide this, I used to retrieve all documents and do that logic on the PHP side, which was completely counterproductive and performance-killing.

Last week I have delivered a new version of this application on which I worked for several months, an

[2017-12-22 09:20] ywelsch commented on #27950
This looks like your `JAVA_HOME` environment variable points to the java executable `/home/ankit/.sdkman/candidates/java/current/bin/java` instead of the JDK installation directory `/home/ankit/.sdkman/candidates/java/current`. What's the output of `echo $JAVA_HOME`?

[2017-12-22 09:38] giocaputo commented on #27948
We have resolved with reindex documents.

[2017-12-22 09:38] #27948 closed

[2017-12-22 10:31] davidkyle opened #27960 "[CI] SearchWithRandomIOExceptionsIT (aggressive opts) failures"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+aggressive-opts/1051/console

[code]

This reproduces wit:
[code]

[2017-12-22 10:53] lhoss commented on #26092
+1 to have a configurable regular rollover builtin ES, so one does not rely on such a feature on the logging solution (like graylog)
Actually Graylog's `Index Retention` strategies could serve as a guide.

[2017-12-22 11:08] davidkyle opened #27961 "[CI] Java 10 missing javadoc jar"
Java docs were disabled for the Java 10 build in https://github.com/elastic/elasticsearch/commit/d4f914be2a43db785182c0fbbc9dc03572d96b4d

However the aggs-matrix-stats module expects its javadoc jar file to be present:

[code]

[2017-12-22 11:16] #27916 closed

[2017-12-22 11:34] jasontedor commented on #27961
I opened #27962.

[2017-12-22 11:40] DaveCTurner commented on #27954
Hi @mikeurbach. Firstly, thanks so much for putting the effort into providing a small reproduction for this. It makes it so much easier to see what's going on. I can reproduce this undesirable hit with version 6.1.1 and on `master`.

In some sense, I think this is expected behaviour: `distance_error_pct` applies at both index and search time, and allows for an error which is a proportion of the si

[2017-12-22 11:54] DaveCTurner commented on #27123
@arko-r thanks for providing a small reproduction for your issue. The bulk request got a little mangled but I can reproduce it.

This is expected behaviour as noted in https://www.elastic.co/guide/en/elasticsearch/reference/6.0/geo-shape.html#_accuracy and due to the way that Elasticsearch indexes geoshapes:

If you require more accuracy, please configure your mapping appropriately using the `prec

[2017-12-22 11:54] #27123 closed

[2017-12-22 12:02] OuyangKevin commented on #27684
any master here?

[2017-12-22 12:19] tberne commented on #8486
I couldn't agree more. ES is just perfect when the thing is Full Text Search. Even with some simple aggregation scenario, it is a killing tool. But when we start doing some serious analysis, it lacks some major things.

I don't know yet, but I think I will keep ES as a big data storage and, perhaps, I will introduce the use of some stream processor (like Apache Flink) to consolidate some data back

[2017-12-22 12:21] OuyangKevin commented on #24069
it is ok in newer versions?

[2017-12-22 12:34] #27961 closed

[2017-12-22 12:53] ankurjha7 commented on #27684
I tried to replicate the same on a newer version (6.0.1) . How over could not replicate the issue. The only difference in my request was that instead of changing the type for each iteration , i changed the data and made the entry and could see the same reflected in elastic. Can you please try to replicate the issue on a newer version ?

[2017-12-22 16:21] dadoonet commented on #27924
@rjernst shared his thoughts in https://github.com/elastic/elasticsearch/pull/27925#discussion_r158365439

Quoting here:

So here is my new proposal:

* `endpoint` is kept as is.
* We don't add `region` back
* But if `endpoint` is not set, we try to automatically find it based on the metadata of the running instance.

[2017-12-22 16:30] davidkyle opened #27966 "[CI] TimeZoneRoundingTests#testRoundingRandom fails"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+periodic/1149/console

[code]

This is a reproducible failure:
[code]

[2017-12-22 17:46] DaveCTurner commented on #27966
The offending time zone is `America/St_Johns` and the failing test is testing rounding in days - specifically rounding the chosen time point `1162091532554ms = 2006-10-29T03:12:12.554Z` up and down to the nearest day and checking that the chosen time is between the rounded times.

It isn't, however. It rounds down to `1162002600000ms = 2006-10-28T02:30:00Z` and rounds up to `1162089000000ms = 2006

[2017-12-22 17:48] rjernst commented on #27924
I'm fine with this. It matches the behavior with repository-s3 of auto finding the region based on bucket name (which the s3 client does for us).

[2017-12-22 18:56] mikeurbach commented on #27954
Thanks for the explanation. I was wondering if `distance_error_pct` applied at search time, but I was not completely sure from the docs. Re-reading the geo_shape query documentation, I can see how the `distance_error_pct` configured in the mapping will be applied at search time as well.

Regarding the difference between using the `geohash` and `quadtree` tree implementation, I have a more specific

[2017-12-22 18:58] pickypg commented on #27835
@GlenRSmith I think it's a bug that the value reported by `number_of_replicas` changes. Under normal usage of `number_of_replicas`, it doesn't change based on how the cluster is actually behaving and I cannot think of any other setting that behaves that way either. Checking the `_settings` for state seems like a very bad idea to me.

It's easy to see the number of allocated replicas via `/_cat/ind

[2017-12-22 19:36] DaveCTurner commented on #27966
Note to future self: because this time zone sets the clocks back at 00:01, it has the first minute of Sunday 2006-10-29 followed by 59 bonus minutes of Saturday 2006-10-28, and the chosen time is within that bonus period. The bug seems to be that we expect every time on a day to precede the following day's midnight within a given timezone, which is one of many reasonable-yet-false assumptions you

[2017-12-22 19:39] rjernst commented on #27950
Good catch @ywelsch.

@nktsg You need to set JAVA_HOME appropriately. From the error logs, you can see the path we form for jrunscript has bin/java in it:

`/home/ankit/.sdkman/candidates/java/current/bin/java/bin/jrunscript`

[2017-12-22 19:39] #27950 closed

[2017-12-22 20:04] #27960 closed

[2017-12-22 20:09] dnhatn commented on #26769
I think this is fixed by https://github.com/elastic/elasticsearch/pull/27580.  /cc @bleskes

[2017-12-22 20:09] #26769 closed

[2017-12-22 20:26] dnhatn commented on #27674
Looks like that we could not bootstrap ES because seccomp was unavailable. @jasontedor, Could you please take a look on this? Thank you.

[code]

[2017-12-22 20:30] jasontedor commented on #27674
`seccomp` being unavailable should not prevent startup unless bootstrap checks are enforced which they are not in tests since we bind to localhost. Please double check the logs.

[2017-12-22 20:47] elasticmachine opened #29844 "[TEST/CI] testRestAuthenticationViaPki fails with connection failure"
*Original comment by @talevy:*

CI related link: LINK REDACTED

looks like there are some network address issues with the `PkiAuthenticationTests.testRestAuthenticationViaPki` test.

reproduce with:
[code]

Boaz tackled fixing this, but something still seems broken and I am not sure what.

series of commits attempting to remedy the situation:

first: LINK REDACTED
second: LINK REDACTED
third: LINK