[2022-09-06 13:00] DaveCTurner commented on #86639
That's ok I think, these are also mapping stats at the node level.

[2022-09-06 13:00] kingherc commented on #86639
@javanna are you sure? I just debugged the above example I mentioned and I see the following:

![image](https://user-images.githubusercontent.com/5519665/188641319-d6cd714f-7298-48c1-b663-26a825469744.png)

This shows that the `authors` is indeed an `objectMapper` but it also appears flattened in `fieldMappers` and also in `fieldTypeLookup.fullNameToFieldType`. Moreover, the latter seems to also h

[2022-09-06 13:02] kingherc commented on #86639
@DaveCTurner , oh I did not see mapping stats at the node level. Where are they in the code and in the API?

Still I would suggest we have a different name. Sounds like future trouble to just have it `mappings` while it's different stats with a different underlying object.

[2022-09-06 13:51] DaveCTurner commented on #89712
NB the leaked buffer was created in `org.elasticsearch.cluster.coordination.CoordinatorTests.testNodesJoinAfterStableCluster` so `ComponentTemplateMetadataTests#testConcurrentEquals` appears to be an innocent bystander. However I couldn't reproduce this by running `testNodesJoinAfterStableCluster` with the same seed. I'm running it in a loop now to see if that yields anything.

[2022-09-06 13:52] DaveCTurner opened #89821 "IndicesClusterStateService does (sometimes substantial amounts of) IO on cluster applier thread"
When `IndicesClusterStateService` applies a new cluster state it does substantial amounts of work inline on the applier thread, including some IO (or blocking waits for IO on other threads) which can hold up cluster state updates and even cause nodes to leave the cluster. We should find ways to move this work off the applier thread.

Relates #88055 which was a specific case of this, mitigated upst

[2022-09-06 14:05] slobodanadamovic commented on #89324
@droberts195

Thank you for engaging and looking into this issue as well. I will reach out to the CI team to get their opinion on this issue.

Regarding:

This was something I've noticed as well but it seems it's allowed because the resolution stops at the first matching line.
As part of this bug investigation I've also realised that there is a hard limit on the size each line in `/etc/hosts` can

[2022-09-06 14:05] original-brownbear commented on #71002
We discussed this in the distributed sync today:
At this point we believe we brought down the memory usage per shard for a normal index considerably relative to when this issue was opened.
Fixes to the overhead of cache instances in particular saved hundreds of kb per per shard. What's left currently as far as overhead per shard goes is mainly the mappers as far as I can tell. This aspect would no

[2022-09-06 14:06] elasticsearchmachine commented on #71002
Pinging @elastic/es-search (Team:Search)

[2022-09-06 14:58] ddolcimascolo opened #89823 "Indices with auto_expand_replicas are not replicated"
### Elasticsearch Version

7.17.1

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Ubuntu 18.04

### Problem Description

Problem originally discussed [here](https://discuss.elastic.co/t/auto-expand-replicas-not-working-on-enrich-index/313569). See the complete discussion and the things I've tried there.

Summary
* 3 nodes cluster, all nodes have all roles (`node

[2022-09-06 15:32] #89587 closed

[2022-09-06 15:38] andreidan opened #89825 "Add unique identifier to impacts,user actions, and indicators"
Add URN identifiers to impacts, diagnosis, and TBD indicators.

e.g.

The  `shards_availability` diagnosis that the total shards per node setting is preventing
shards from allocating ( [ela.st/index-total-shards](http://ela.st/index-total-shards) )
will also return an `id` with value in the form of:
`urn:elasticsearch:health:shards_availability:increase_shard_limit_index_setting`

Similar IDS will

[2022-09-06 15:39] elasticsearchmachine commented on #89825
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-06 15:59] kingherc commented on #86639
Hi again! For the moment, I am thinking of naming the stats `field_mappings` which sounds a bit more generic than `field_mappers`. What do you think?

Also, in using `fieldTypeLookup.fullNameToFieldType` to count the mappings, I realize this will include also [alias fields](https://www.elastic.co/guide/en/elasticsearch/reference/current/field-alias.html). Would we want to exclude alias fields from

[2022-09-06 16:20] mark-vieira commented on #89324
Is there any scenario where the second entry is used though?

[2022-09-06 16:29] luyuncheng opened #89831 "Duplicate ILM Cluster State Updates when policy is deleted"
### Elasticsearch Version

master

### Installed Plugins

null

### Java Version

_bundled_

### OS Version

Unix

### Problem Description

In #78427 and #78246, in some cases it would duplicate `submitStateUpdateTask`. and using `Set<IndexLifecycleClusterStateUpdateTask>` to prevent duplicate submit.

But, on rare occasions, when there is a exception occured like `IllegalStateException("unable to

[2022-09-06 18:09] dakrone opened #89835 "Enrich index cleaner appears to sometimes remove active indices for a policy"
### Elasticsearch Version

7.17.5

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Linux (ESS)

### Problem Description

Looking through the logs of a user, I think there is something strange about the policy execution not preventing clean up of the enrich index, for example:

Failed at Aug 16, 2022 @ 05:49:00.533

[code]

It was "promoted" (which is the final st

[2022-09-06 18:09] elasticsearchmachine commented on #89835
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-06 19:22] javanna commented on #86639
The `authors` object does not appear in the field type lookup nor in the field mappers, only the leaves that belong to it do. In your case you have a single object, hence the count should be what you have + 1, but with many objects the difference is bigger (every level that contains sub-fields is a separate object).

[2022-09-06 19:32] anthonymcglone2022 commented on #88232
@mayya-sharipova @romain-chanu could this issue be taken by an external contributor? If so, I'd like to work on the updates.

[2022-09-06 19:54] original-brownbear opened #89838 "Make use of chunked REST response infrastructure in more APIs"
Now that #88311 has landed and we have the infrastructure for serializing chunked REST responses, we should make use of it to fix the massive memory usage of APIs that are known to return large responses:

- [ ] cluster state API
- [ ] get mappings API
- [ ] indices stats API
- [ ] get indices API
- [ ] search API
- [ ] _cat APIs
- [ ] fields caps API
- [ ] tasks API
- [ ] pending cluster tasks AP

[2022-09-06 19:55] elasticsearchmachine commented on #89838
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-06 19:57] original-brownbear opened #89839 "Add HTTP trailers to chunked REST infrastructure"
Follow up to #88311:

some REST responses will generate headers (e.g. deprecation headers) during serialization. We can't add them as actual headers in the chunked encoding approach since we don't know them until we finish the serialization. We can however add them as trailers after serialization. I'll implement that here.

[2022-09-06 19:57] elasticsearchmachine commented on #89839
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-06 20:02] #44700 closed

[2022-09-06 20:02] jtibshirani commented on #44700
I merged #89016, which fixes the `cross_fields` scoring bug directly.

From your feedback, we realized that `combined_fields` is not ready as a drop-in replacement for `cross_fields`. This is because it doesn't support fields with different analyzers (which also means it can't easily be used in `query_string`). We will work on improving `combined_fields`, but in the meantime we decided to make thi

[2022-09-06 20:10] jtibshirani commented on #75909
When designing the `combined_fields` query, we decided that it should only work when all fields have the same analyzer. This is because when fields have different analyzers, there's not a single good way to tokenize the query and compute the combined field score.

For this reason, it doesn't seem like `combined_fields` is a good fit for use in `query_string`. By default, `query_string` searches ov

[2022-09-06 20:29] grcevski commented on #85731
Hi @piyushkp, I can't see a difference in behaviour here between 8.2 and 8.4. For example, in 8.2.4 I modified the ES configuration to set `node.roles` to empty, I get the exception above:

in config/elasticsearch.yml:

[code]

[code]

`ENV_VAR="[]" bin/elasticsearch` starts just fine, and so does 8.4.

It looks like you might be overwriting the node.roles with null or empty in your environment va

[2022-09-07 06:24] tiger11 opened #89844 "Unable to Boot up ElasticSearch"
### Elasticsearch Version

8.5.0-SNAPSHOT

### Installed Plugins

_No response_

### Java Version

18

### OS Version

x86_64

### Problem Description

I am unable to start Elastic Search on my Linux Machine. When I run ./elasticsearch command, the process exits within 20 seconds with below error.

$ ./elasticsearch -v
Skipping security auto configuration because it appears that security is alread

[2022-09-07 06:53] #83516 closed

[2022-09-07 07:50] nemphys opened #89846 "Support collapsing top_hits aggregation results"
### Description

Since collapsing results is a very handy feature and the top_hits aggregation exposes most of the normal per hit features, it would only make sense to support collapsing there, too (preferably with the same syntax as the normal top level collapse parameter).

I am currently at a dead end trying to achieve this behaviour, since any other way I have tried fails to meet some of the

[2022-09-07 08:02] DaveCTurner commented on #86639
Nono I mean we're adding node-level stats about mappings here, we should just call them `mappings`. The cluster-level mappings stats don't make sense at the node level so I don't see how this might cause future problems.

[2022-09-07 08:11] pgomulka commented on #89806
we discussed this on stable plugin sync on 6th sep.
we considered 3 options:
1 - keeping the dependency and aligning the version. This we quickly dismissed because of OpenID library used in security. We could align to the version used in security, but this would lock us into this version until that lib decides to upgrade
2 - shade asm library and use the shaded (package renamed) in server. This we

[2022-09-07 08:16] #78166 closed

[2022-09-07 08:31] elasticsearchmachine commented on #89844
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-07 08:31] fcofdez commented on #89844
@tiger11 could you include the process exit code in the issue description? thanks

[2022-09-07 08:32] elasticsearchmachine commented on #89831
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-07 08:35] elasticsearchmachine commented on #89814
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-07 08:35] slobodanadamovic commented on #89324
The second entry is used to resolve the address based on the hostname.
Some use this as a way for blocking ads.

[2022-09-07 08:35] tiger11 commented on #89844
@fcofdez
I don't see any exit code in console or logs folder.
Below is all that gets printed in console once I execute ./elasticsearch command.

[code]

Also in logs folder I dont see any logs except GC logs.

[2022-09-07 08:37] fcofdez commented on #89812
We reserve Github for confirmed bug reports and feature requests. I think your question is better suited for our forums at https://discuss.elastic.co/.

[2022-09-07 08:37] #89812 closed

[2022-09-07 08:38] ddolcimascolo commented on #89823
Guys, I've resolved the issue, though I believe there's still something strange in the behavior of Elasticsearch. Let me explain, hopefully it might help others coming around here!

So the root cause is that we rolling-restarted the cluster weeks ago in order to change the underlying nodes' storage, and we did this using the [shutdown API](https://www.elastic.co/guide/en/elasticsearch/reference/7.

[2022-09-07 08:39] Mpdreamz opened #89850 "[Instrumentation] apm.local.context is set more then once on ThreadContext"
### Elasticsearch Version

8.5.0-SNAPSHOT

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

any

### Problem Description

[This PR to kibana](https://github.com/elastic/kibana/pull/140121) which adds APM instrumentation to any Elasticsearch instance Kibana starts (integration tests/e2e tests/local dev) is consistently failing on a ML e2e tests.

[The CI logs](http

[2022-09-07 08:39] DaveCTurner commented on #89823
I can't reproduce this from the instructions you've given:

[code]

[2022-09-07 08:39] fcofdez commented on #89844
You can inspect the process exit code with `echo $?`

[2022-09-07 08:40] ddolcimascolo commented on #89823
Thx @DaveCTurner Our posts crossed each others, see my comment above :)

David

[2022-09-07 08:44] DaveCTurner commented on #89823
Oh I just saw the followup. Yes, node shutdown would affect this, but the strange thing is that the allocation explain output indicated there was no shutdown in progress:

[code]

However I didn't scroll down and now that I look more closely I see that the other node was marked for shutdown:

[code]

Sorry for missing that. I think we can improve the message `this node is not currently shutting do

[2022-09-07 08:46] tiger11 commented on #89844
@fcofdez

Please check below. Exit code is 137.

[code]

[2022-09-07 08:51] fcofdez commented on #89844
It looks like the process runs out of memory.

[2022-09-07 08:53] ddolcimascolo commented on #89823
I totally agree. This is a user issue.

Instead of changing the message from the decider (that still says "YES" by the way), I think you should have more logs around the `auto_expand_replicas` feature. Some lines saying that no nodes are available because they're "preparing for restart" would immediately help diagnose the issue. The problem is that there's really nothing explicit in the logs that

[2022-09-07 09:02] elasticsearchmachine commented on #89846
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-07 09:04] elasticsearchmachine commented on #89850
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-07 09:12] arteam opened #89852 "[CI] AutoscalingCalculateCapacityServiceTests.testMultiplePoliciesFixedCapacity"
### CI Link

https://gradle-enterprise.elastic.co/s/hpsiqb6ogssti/tests/:x-pack:plugin:autoscaling:test/org.elasticsearch.xpack.autoscaling.capacity.AutoscalingCalculateCapacityServiceTests/testMultiplePoliciesFixedCapacity

### Repro line

`./gradlew ':x-pack:plugin:autoscaling:test' --tests "org.elasticsearch.xpack.autoscaling.capacity.AutoscalingCalculateCapacityServiceTests.testMultiplePolicie

[2022-09-07 09:12] elasticsearchmachine commented on #89852
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-07 09:22] droberts195 commented on #89850
The ML classification job parse errors that occur elsewhere in the ES log are not caused by this.  There are some invalid classification models left over from a previous test, and these cause the errors to be logged in the output of subsequent tests too - basically log spam.  We will look at this separately.  (It means changes to Kibana test code, so won't be tracked in detail in this issue.)

Thi

[2022-09-07 09:22] arteam opened #89854 "[CI] org.elasticsearch.xpack.autoscaling.capacity.AutoscalingDeciderResultsTests.testRequiredCapacity"
### CI Link

https://gradle-enterprise.elastic.co/s/gcyi7azxnlpck/tests/:x-pack:plugin:autoscaling:test/org.elasticsearch.xpack.autoscaling.capacity.AutoscalingDeciderResultsTests/testRequiredCapacity

### Repro line

`./gradlew ':x-pack:plugin:autoscaling:test' --tests "org.elasticsearch.xpack.autoscaling.capacity.AutoscalingDeciderResultsTests.testRequiredCapacity" -Dtests.seed=2E2DFCE718729D4D

[2022-09-07 09:23] elasticsearchmachine commented on #89854
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-07 09:39] arteam opened #89856 "[CI] org.elasticsearch.gradle.internal.ElasticsearchJavaModulePathPluginFuncTest"
### CI Link

https://gradle-enterprise.elastic.co/s/xunq6rymvvy34/tests/:build-tools-internal:integTest/org.elasticsearch.gradle.internal.ElasticsearchJavaModulePathPluginFuncTest/included%20build%20with%20non%20module%20dependencies

### Repro line

`./gradlew :build-tools-internal:integTest`

### Does it reproduce?

Didn't try

### Applicable branches

main

### Failure history

https://gradle-e

[2022-09-07 09:39] DaveCTurner opened #89857 "Expose explanations from `shouldAutoExpandToNode` in allocation explain"
Debugging issues with auto-expand replicas can be a bit tricky because we don't really expose the explanations from `shouldAutoExpandToNode` anywhere. It would be useful to see them in some API somewhere, perhaps in the output of the allocation explain API.

Relates #89823

[2022-09-07 09:39] elasticsearchmachine commented on #89856
Pinging @elastic/es-delivery (Team:Delivery)

[2022-09-07 09:40] elasticsearchmachine commented on #89857
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-07 09:44] pugnascotia commented on #89850
This sort of problem usually indicates that we're missing a `threadContext.newTraceContext()` or `threadContext.clearTraceContext()` call somewhere. The task manager does this automatically, but it's not the only place that creates tasks.

@ChrisHegarty or @grcevski should be able to investigate further.

[2022-09-07 09:53] DaveCTurner commented on #89823
I don't think logging is the answer but I opened https://github.com/elastic/elasticsearch/issues/89857 to suggest exposing more useful info in the allocation explain API, and also https://github.com/elastic/elasticsearch/pull/89851 to improve the explanations anyway.

[2022-09-07 09:54] arteam opened #89860 "[CI] org.elasticsearch.cluster.coordination.CoordinatorTests.testDoesNotElectNonMasterNode"
### CI Link

https://gradle-enterprise.elastic.co/s/oxt3hlrxod3eg/tests/:server:test/org.elasticsearch.cluster.coordination.CoordinatorTests/testDoesNotElectNonMasterNode

### Repro line

`./gradlew ':server:test' --tests "org.elasticsearch.cluster.coordination.CoordinatorTests.testDoesNotElectNonMasterNode" -Dtests.seed=B69C524FEA171AB8 -Dtests.locale=ko -Dtests.timezone=Europe/Guernsey -Druntime

[2022-09-07 09:55] elasticsearchmachine commented on #89860
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-07 09:55] elasticsearchmachine commented on #89823
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-07 10:33] kingherc commented on #89543
Taking over this as mentioned in https://github.com/elastic/elasticsearch/pull/89828#issuecomment-1239209487 .

[2022-09-07 10:53] droberts195 commented on #88536
Closed by #89307

[2022-09-07 10:53] #88536 closed

[2022-09-07 10:57] droberts195 commented on #87591
This hasn't failed recently for the weird reason of the response being as expected but the test comparing it to an acknowledged response.  I'll close this for now.  Please reopen if the same type of failure occurs again.

[2022-09-07 11:26] #89852 closed

[2022-09-07 11:26] #89854 closed

[2022-09-07 12:01] droberts195 commented on #89564
I think this is happening because the test framework waits for task completion which uses the `management` thread pool:

[code]

So presumably there's an ML task that's being waited for that needs performs a sub-action that also runs in the `management` thread pool.

To me it seems dodgy that this code uses `sleep`: https://github.com/elastic/elasticsearch/blob/5f14c79320473605764840fd715ebbb31ec7

[2022-09-07 12:10] DaveCTurner commented on #89564
Yikes that's definitely a bug, although we did this sort of thing a lot back in 2016 when the code was first written. Ideally we wouldn't poll at all, tasks are only unregistered in one place so we should just be able to subscribe to an event triggered from there.

[2022-09-07 12:20] DaveCTurner opened #89867 "Failure in CoordinatorTests.testSingleNodeDiscoveryStabilisesEvenWhenDisrupted"
### CI Link

https://gradle-enterprise.elastic.co/s/yckwl5zjomfas

### Repro line

[code]

### Does it reproduce?

Yes

### Applicable branches

main

### Failure history

https://ci-stats.elastic.co/s/jenkins/goto/da1547f0-2ea6-11ed-8233-4bd40c8511bb - 3 similar-looking failures over the last 90 days

### Failure excerpt

[code]

[2022-09-07 12:20] elasticsearchmachine commented on #89867
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-07 12:21] craigtaverner opened #89868 "[CI] org.elasticsearch.xpack.spatial.index.query.H3LatLonGeometryTests.testIndexPoints"
### CI Link

https://gradle-enterprise.elastic.co/s/752jgoui6up4c/tests/:x-pack:plugin:spatial:test/org.elasticsearch.xpack.spatial.index.query.H3LatLonGeometryTests/testIndexPoints?top-execution=1

### Repro line

`./gradlew ':x-pack:plugin:spatial:test' --tests "org.elasticsearch.xpack.spatial.index.query.H3LatLonGeometryTests.testIndexPoints" -Dtests.seed=DFC1C0965EFCD1EB -Dtests.locale=sr-CS -

[2022-09-07 12:21] elasticsearchmachine commented on #89868
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-07 12:26] craigtaverner commented on #89868
Tested with @iverase PR at https://github.com/elastic/elasticsearch/pull/89196 and all three of the above seeds passed. This PR appears to fix this issue.

[2022-09-07 12:36] #89817 closed

[2022-09-07 12:42] DaveCTurner commented on #89867
Looks like the stabilisation timeout is just too short, because the following patch fixes this failure:

[code]

Ofc that's not the actual fix, we must work out for what this computation is not accounting.

[2022-09-07 12:53] #89815 closed

[2022-09-07 13:46] Ranzeb commented on #73248
Ok thank you @DaveCTurner. I will try to understand the probblem in Deep.

If you have any advices, feel free to give them to me

[2022-09-07 13:55] mayya-sharipova commented on #88232
@anthonymcglone2022 Yes, please, go ahead. Then somebody from our  @elastic/es-docs or @elastic/es-distributed teams will review your work.

[2022-09-07 14:01] SansDK commented on #89454
@DaveCTurner this seems to be a problem in the documentation.
The 8.x docs says you can use `CLI_JAVA_OPTS` environment variable to set `Xms` and `Xmx` options, but setting this has no effect. Using `ES_JAVA_OPTS` **does** however have the desired effect.

[2022-09-07 14:08] arteam opened #89877 "[CI] DesiredNodesUpgradeIT » testUpgradeDesiredNodes"
### CI Link

https://gradle-enterprise.elastic.co/s/ff35boj3dy3qo/tests/:qa:rolling-upgrade:v8.2.0%23oneThirdUpgradedTest/org.elasticsearch.upgrades.DesiredNodesUpgradeIT/testUpgradeDesiredNodes

### Repro line

`./gradlew ':qa:rolling-upgrade:v8.2.0#oneThirdUpgradedTest' -Dtests.class="org.elasticsearch.upgrades.DesiredNodesUpgradeIT" -Dtests.method="testUpgradeDesiredNodes" -Dtests.seed=E0D4B678

[2022-09-07 14:09] elasticsearchmachine commented on #89877
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-07 14:36] grcevski commented on #89844
Elasticsearch will auto configure the heap size based on the available memory on the system, depending on various factors we'll pick something around 40% of the available system memory. You can adjust the heap size manually by modifying the jvm.options file in the config directory.

[2022-09-07 14:41] tiger11 commented on #89844
thanks @fcofdez @grcevski
I am able to resolve the issue.

[2022-09-07 14:41] #89844 closed

[2022-09-07 15:07] elasticsearchmachine commented on #89530
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-07 15:09] mark-vieira opened #89880 "[CI] FixedAutoscalingDeciderServiceTests testScale failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/ccttc2y6aktqg/tests/:x-pack:plugin:autoscaling:test/org.elasticsearch.xpack.autoscaling.capacity.FixedAutoscalingDeciderServiceTests/testScale

**Reproduction line:**
`./gradlew ':x-pack:plugin:autoscaling:test' --tests "org.elasticsearch.xpack.autoscaling.capacity.FixedAutoscalingDeciderServiceTests.testScale" -Dtests.seed=AD3CD344F5BFCFD3 -D

[2022-09-07 15:09] mark-vieira commented on #89880
Resolved by https://github.com/elastic/elasticsearch/pull/89862

[2022-09-07 15:09] #89880 closed

[2022-09-07 15:12] DaveCTurner commented on #89860
Suspect this is the same as https://github.com/elastic/elasticsearch/issues/89543 and appears that it could affect any of the `CoordinatorTests`. For instance:

[code]

[2022-09-07 15:41] piyushkp commented on #85731
[grcevski](https://github.com/grcevski) its a bug in elastic helm chart. https://github.com/elastic/helm-charts

[2022-09-07 16:05] wchaparro commented on #88373
Discussed, we created a [meta issue](https://github.com/elastic/elasticsearch/issues/89437) to address this area, closing in favor of that issue.

[2022-09-07 16:05] #88373 closed

[2022-09-07 17:41] mark-vieira commented on #89324
Ok, it's still no completely clear to me if the hosts file on this system is indeed _wrong_ and that we should fix it. To me this seems like a brittle assumption:

Realistically, whoever is setting up kerberos auth has to take into consideration DNS resolution, so I don't think this is an actual problem, it's a problem with test fixture assumptions. It seems https://github.com/elastic/elasticsearc

[2022-09-07 19:39] stu-elastic commented on #89340
Hit this one twice:
* https://gradle-enterprise.elastic.co/s/ic43rgmaja7vc
* https://gradle-enterprise.elastic.co/s/eout3dmrl3uqi

[2022-09-07 19:45] masseyke commented on #89340
It's happening a lot today:

- https://gradle-enterprise.elastic.co/s/qnnvmgpkewwk4
- https://gradle-enterprise.elastic.co/s/vcw6n5cga3m42
- https://gradle-enterprise.elastic.co/s/fkdp55cair2lk

[2022-09-07 19:52] grcevski commented on #89340
Maybe we should mute, I hit it too: https://gradle-enterprise.elastic.co/s/dvaotnrevetmm/tests/:qa:apm:integTest/org.elasticsearch.tracing.apm.ApmIT/testCapturesTracesForHttpTraffic

[2022-09-07 19:53] grcevski commented on #89340
I'm going to assign this bug to me and mute the test in the meantime.

[2022-09-07 23:52] #89856 closed

[2022-09-08 02:09] romain-chanu commented on #88232
@anthonymcglone2022 - feel free to contribute, I can also take a look at the changes once they are ready.

[2022-09-08 06:17] z3r0101 commented on #85463
So.. no fix for this yet?

Anyways, try my workaround...

On your docker command line:
-v /absolute/path/to/a/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
Make sure the volume file "/absolute/path/to/a/elasticsearch.yml" exists and is writable.

Also, elasticsearch.yml should not be empty.

My example configuration:

cluster.name: "docker-cluster"
network.host: 0.0.0.0
xpack

[2022-09-08 06:48] #89324 closed

[2022-09-08 07:17] #89823 closed

[2022-09-08 07:27] elasticsearchmachine commented on #89454
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-08 08:09] DaveCTurner opened #89902 "Prevent double-calling `RestChannel#sendResponse`"
As mentioned in https://github.com/elastic/elasticsearch/pull/89873, it doesn't make sense to invoke `RestChannel#sendResponse` more than once. There are various ways this might happen today, but we should fix them and then introduce an assertion to prevent future bugs of this nature.

[2022-09-08 08:09] elasticsearchmachine commented on #89902
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-08 08:46] hrw commented on #85876
@mark-vieira so how it went?

[2022-09-08 08:55] #83408 closed

[2022-09-08 09:07] pgomulka opened #89905 "[CI] RareClusterStateIT testDelayedMappingPropagationOnReplica failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/hmt34pcxbhwja/tests/:server:internalClusterTest/org.elasticsearch.cluster.coordination.RareClusterStateIT/testDelayedMappingPropagationOnReplica

**Reproduction line:**
`./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.cluster.coordination.RareClusterStateIT.testDelayedMappingPropagationOnReplica" -Dtests.seed=E2A1EC86CEE8001

[2022-09-08 09:08] elasticsearchmachine commented on #89905
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-08 09:17] #89543 closed

[2022-09-08 09:30] pgomulka commented on #89776
another one https://gradle-enterprise.elastic.co/s/zij45oltqwuze/tests/:x-pack:plugin:security:internalClusterTest/org.elasticsearch.xpack.security.profile.ProfileDomainIntegTests/testConcurrentActivateUpdates?top-execution=1

[2022-09-08 09:47] pxsalehi opened #89908 "[CI] CloneSnapshotIT testRemoveFailedCloneFromCSWithQueuedSnapshotInProgress failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/dbmwpj3qke4vo/tests/:server:internalClusterTest/org.elasticsearch.snapshots.CloneSnapshotIT/testRemoveFailedCloneFromCSWithQueuedSnapshotInProgress

**Reproduction line:**
`./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.snapshots.CloneSnapshotIT.testRemoveFailedCloneFromCSWithQueuedSnapshotInProgress" -Dtests.seed=DA62EE933

[2022-09-08 09:48] elasticsearchmachine commented on #89908
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-08 10:16] javanna opened #89911 "Make total fields limit less of a nuisance to users"
Since version 5.0, every index created within Elasticsearch has a [maximum total number of fields](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-settings-limit.html) defined in its mappings, which defaults to 1000. Fields can be manually added to the index mappings through the put mappings API or via dynamic mappings by indexing documents through the index API. A request

[2022-09-08 10:16] elasticsearchmachine commented on #89911
Pinging @elastic/es-search (Team:Search)

[2022-09-08 10:29] kingherc commented on #89591
Appeared again in https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request+part-2/20235/ of PR https://github.com/elastic/elasticsearch/pull/89910 .

[2022-09-08 10:49] mitar commented on #89911
I think this would be a reasonable approach. Especially if you could configure limit on sub-documents as well (some parts of a document might be coming from users and you want to limit dynamic mappings there).

[2022-09-08 11:12] gigerdo opened #89913 "Watcher domain allowlist seemingly has no effect"
### Elasticsearch Version

8.3.3

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

18.04.1-Ubuntu SMP (Running on elastic cloud)

### Problem Description

I want to limit the possible email-recipients for watcher actions using `xpack.notification.email.account.domain_allowlist`

[Docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/notification-se

[2022-09-08 11:18] pgomulka commented on #89564
there is another failure. https://gradle-enterprise.elastic.co/s/dd75dcu3gmwmc/tests/:x-pack:plugin:yamlRestTest/org.elasticsearch.xpack.test.rest.XPackRestIT/test%20%7Bp0=ml%2Fupgrade_job_snapshot%2FTest%20existing%20but%20corrupt%20snapshot%7D?top-execution=1

this test is keep on failing ([13 times this week](https://gradle-enterprise.elastic.co/scans/tests?search.timeZoneId=Europe/Warsaw&tests

[2022-09-08 11:33] droberts195 commented on #89564
Sure, you can mute it if you like.  But it's only failing as part of the single processor tests, so shouldn't be affecting anyone's PR builds.

[2022-09-08 11:38] pgomulka opened #89915 "Rolling upgrade failures"
### CI Link

https://gradle-enterprise.elastic.co/s/2v47w5344idjc

### Repro line

n/a

### Does it reproduce?

No

### Applicable branches

main v 8.4.2

### Failure history

https://gradle-enterprise.elastic.co/scans/failures?failures.failureClassification=all_failures&failures.failureMessage=Execution%20failed%20for%20task%20*%0A%3E%20process%20was%20found%20dead%20while%20waiting%20for%20ports

[2022-09-08 11:39] elasticsearchmachine commented on #89915
Pinging @elastic/ml-core (Team:ML)

[2022-09-08 11:40] erolatreston opened #89916 "Elasticsearch cluster status is GREEN despite one node being unresponsive"
### Elasticsearch Version

7.17.1

### Installed Plugins

prometheus-exporter

### Java Version

_bundled_

### OS Version

centos 7

### Problem Description

`CircuitBreakingException` occurred on one of the 3-node ES cluster. After this exception, the node became unresponsive. The JVM was alive but no response was returned on all requests including periodic metrics requests. However, during this

[2022-09-08 11:42] droberts195 commented on #89915
Fixed by https://github.com/elastic/elasticsearch/pull/89896

[2022-09-08 12:09] droberts195 commented on #89564
Reopening - not fixed, just muted

[2022-09-08 12:30] #73221 closed

[2022-09-08 12:56] pgomulka opened #89922 "[CI] SnapshotStatusApisIT testGetSnapshotsWithSnapshotInProgress failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/5qpzulqnwsxq4/tests/:server:internalClusterTest/org.elasticsearch.snapshots.SnapshotStatusApisIT/testGetSnapshotsWithSnapshotInProgress

**Reproduction line:**
`./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.snapshots.SnapshotStatusApisIT.testGetSnapshotsWithSnapshotInProgress" -Dtests.seed=66E13F9D406B80D7 -Dtests.locale=n

[2022-09-08 12:56] elasticsearchmachine commented on #89922
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-08 13:32] #89908 closed

[2022-09-08 13:40] DaveCTurner opened #89924 "`MetadataIndexAliasesService` submits unbatched tasks at URGENT priority"
As the title says. These tasks should be batched because they can arise from ILM actions.

Relates #77466

[2022-09-08 13:41] elasticsearchmachine commented on #89924
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-08 13:58] original-brownbear opened #89927 "[CI] DedicatedClusterSnapshotRestoreIT testSnapshotDeleteRelocatingPrimaryIndex failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/4647z2olruffa/tests/:server:internalClusterTest/org.elasticsearch.snapshots.DedicatedClusterSnapshotRestoreIT/testSnapshotDeleteRelocatingPrimaryIndex

**Reproduction line:**
`./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.snapshots.DedicatedClusterSnapshotRestoreIT.testSnapshotDeleteRelocatingPrimaryIndex" -Dtests.seed=7CB

[2022-09-08 13:59] elasticsearchmachine commented on #89927
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-08 14:13] mlyczek opened #89928 "org.elasticsearch.client.IndicesClient.exists() semantic changed"
### Elasticsearch Version

7.17.4

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Linux 5.4.0-1068-azure #71~18.04.1-Ubuntu

### Problem Description

Since 7.16 version of the High Level Rest Client the semantics of `org.elasticsearch.client.IndicesClient.exists()` changed.
After changes introduced in #77864 no indices options are sent to Elasticsearch cluster w

[2022-09-08 14:36] original-brownbear opened #89932 "RestEqlSearchAction trips assertion and tries to send a response to a REST channel twice"
I see this failure in cloud logs:

[code]

prior to #89873 this would lead to a memory leak. Also this would trip an assertion in `org.elasticsearch.action.support.TransportAction#execute` but the above is from a production cluster.
It seems we have to fix something about the request instantiation or the validation in the rest action here to fix this.

[2022-09-08 14:37] #89922 closed

[2022-09-08 14:56] Dosant opened #89933 "Add `_terms_enum` support for the `ip` field type"
### Description

### Description

The _terms_enum API [currently supports](https://github.com/elastic/elasticsearch/pull/83244) keyword, constant_keyword and flattened fields.

Kibana would also like to support `ip` field type: https://github.com/elastic/kibana/issues/140266
Opening this issue to discuss if this is possible.

I tried to workaround this limitation in Kibana using terms_agg for sugg

[2022-09-08 14:56] jtibshirani commented on #89784
@javanna this is a good question! Using `element_type` made sense to me, so it leaves flexibility in the future (we've seen half-precision floats used, as well as a single bit per element).

[2022-09-08 14:56] elasticsearchmachine commented on #89933
Pinging @elastic/es-search (Team:Search)

[2022-09-08 15:03] elasticsearchmachine commented on #89913
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-08 15:09] luigidellaquila commented on #89932
Hi @original-brownbear

I think this was already fixed in v 8.4, see https://github.com/elastic/elasticsearch/pull/87498

[2022-09-08 15:10] original-brownbear commented on #89932
ah nice thanks @luigidellaquila :)

[2022-09-08 15:10] #89932 closed

[2022-09-08 15:23] #88120 closed

[2022-09-08 16:11] #89609 closed

[2022-09-08 17:08] masseyke opened #89941 "Changing settings on `.reporting*` indices is not allowed, but we encourage users to do it"
### Elasticsearch Version

8.0.0 or higher

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

any

### Problem Description

The kibana plugin creates `.reporting*` system indices (https://github.com/elastic/elasticsearch/blob/main/modules/kibana/src/main/java/org/elasticsearch/kibana/KibanaPlugin.java#L34). Those indices are managed by an ILM policy called `kibana-

[2022-09-08 17:08] elasticsearchmachine commented on #89941
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-08 17:11] legrego commented on #89525
My vote is to include them all, if it won't materially impact the level of effort.

I have a weakly-held preference for just using `recent`, `enabled`, and `total`, but I'll defer to others if there are stronger opinions.

[2022-09-08 17:37] #89454 closed

[2022-09-08 17:42] kingherc commented on #86639
Hi @DaveCTurner , @javanna , opened a PR at https://github.com/elastic/elasticsearch/pull/89807 . Should I invite you as reviewers as well (apart from @original-brownbear )? Or feel free to add yourselves as reviewers and provide feedback. Thanks!

[2022-09-08 19:02] javanna commented on #89911
We discussed with the team, and we said that following:

- it would make sense to apply the total fields limit only to dynamic updates but it would also change the semantics of how the limit is applied and we will need to re-discuss at a later stage how this is going to work. We could simply reject documents that introduce e.g. 1000 fields at the same time, but that is not going to be effective fo

[2022-09-08 21:14] nik9000 commented on #89715
OK! I've cracked open the heap dump. This has *something* do with the low level cancellation infrastructure. It may have been fixed in later versions. I'm investigating.

[2022-09-08 21:24] nik9000 commented on #89715
The heap dump looks to come from Elasticsearch 7.10.1. There's been quite a bit of memory work in this area since - https://github.com/elastic/elasticsearch/pull/61788 comes to mind, though it doesn't look quite right. I think there is another one I'm missing. One moment.

[2022-09-08 21:37] nik9000 commented on #89715
Also https://github.com/elastic/elasticsearch/pull/61788 is in 7.10.1 so it can't be that!

[2022-09-08 21:50] nik9000 commented on #89715
Most of the space seems to be going to something that looks like this:
[code]

But I don't see a `QueryCancellationContext` in 7.10 or our more current branches. Is it your by any chance?

[2022-09-08 21:59] nik9000 commented on #89715
It looks like there's a member on `DefaultSearchContext` called `queryCancellationContext` which closes over the `DefaultSearchContext` that contains it. That's fine, but the queries seem to have a reference to that thing. I'm not really used to reading MAT so I'm probably getting something wrong, but I'm a bit confused about what's up.

[2022-09-09 06:37] hrw commented on #85876
Not tried, but maybe this can help: https://old.nixaid.com/gpg-migration-sha1-to-sha2/ a bit?

Other idea: what about creating second key (modern one) and use it for signing rhel9 repo first (as you lack them anyway) and choose a date to switch old repos to a new key?

[2022-09-09 07:47] DaveCTurner opened #89952 "Snapshot creations have huge heap footprint after abrupt full-cluster restart"
If the cluster shuts down while updating the root repository data blob then it will set `BlobStoreRepository#uncleanStart` on startup, which causes Elasticsearch to skip the caching of `RepositoryData` in favour of reading the blob afresh from the repository each time it's needed.

If on startup ILM finds indices waiting to move to the searchable snapshot phase then it will attempt to create snaps

[2022-09-09 07:48] elasticsearchmachine commented on #89952
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-09 08:15] DaveCTurner commented on #89916
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

Specifically, a health status of `GREEN` indicates

[2022-09-09 08:15] #89916 closed

[2022-09-09 08:17] elasticsearchmachine commented on #89928
Pinging @elastic/clients-team (Team:Clients)

[2022-09-09 08:54] pxsalehi opened #89956 "[CI] SharedClusterSnapshotRestoreIT.testDataFileFailureDuringSnapshot failing"
### CI Link

https://gradle-enterprise.elastic.co/s/ou2sap2dhy3q2/tests/:server:internalClusterTest/org.elasticsearch.snapshots.SharedClusterSnapshotRestoreIT/testDataFileFailureDuringSnapshot

### Repro line

./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.snapshots.SharedClusterSnapshotRestoreIT.testDataFileFailureDuringSnapshot" -Dtests.seed=37B64CEE1DCEACEB -Dtests.locale=uk

[2022-09-09 08:54] elasticsearchmachine commented on #89956
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-09 08:54] martijnvg commented on #89818
The reason why `outerFilterDocCount` and `sampledDocCount` are equal to each other (both are `0`) is because no docs have matched the random query (`RandomSamplingQuery`) that gets run as part of the random sampler aggregator. I suspect that the reason why the `RandomSamplingQuery` query doesn't match hits, is that in this failing test run, the number of segments is quite high (`22`) and only 150

[2022-09-09 08:56] pxsalehi commented on #89956
This can be reproduced simply with two small lines:
[code]
It is essentially the same issue as https://github.com/elastic/elasticsearch/issues/89927 and will be closed with https://github.com/elastic/elasticsearch/pull/89929.

[2022-09-09 10:33] pxsalehi opened #89959 "[CI] DedicatedClusterSnapshotRestoreIT.testSnapshotWithStuckNode failing"
### CI Link

https://gradle-enterprise.elastic.co/s/3wo4rhid2vlso/tests/:server:internalClusterTest/org.elasticsearch.snapshots.DedicatedClusterSnapshotRestoreIT/testSnapshotWithStuckNode?top-execution=1

### Repro line

./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.snapshots.DedicatedClusterSnapshotRestoreIT.testSnapshotWithStuckNode" -Dtests.seed=59ED93AAD9D7B0F -Dtests.loca

[2022-09-09 10:33] elasticsearchmachine commented on #89959
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-09 10:57] #89927 closed

[2022-09-09 10:57] #89956 closed

[2022-09-09 11:04] javanna commented on #89263
Thanks @sethmlarson it's great to have an example so that we can replace the mention of transport client in the docs with this real usage from the field. I will relabel this.

[2022-09-09 12:04] martijnvg commented on #37650
When running in ES with assertions enabled the follow assertion error is thrown in [BestBucketsDeferringCollector](https://github.com/elastic/elasticsearch/blob/main/server/src/main/java/org/elasticsearch/search/aggregations/bucket/BestBucketsDeferringCollector.java#L193):

[code]

[2022-09-09 12:09] martijnvg commented on #37650
Actually NPE is still occurring:

[code]

The NPE occurred with the following reproduction (had to update the original reproduction to 8.x reality):

[code]

[2022-09-09 12:53] original-brownbear commented on #89911
++ to the above, as discussed on another channel.

Applying the limit to dynamic mapping updates only seems to be the way to go to me too. We have a lot of built-in mappings with far more than 1k fields in our own products already.

For dynamic mapping updates I think a higher limit may make sense if this is something that's actually causing trouble for users. The only reservation I had in this re

[2022-09-09 13:27] linghengqian commented on #36983
@archenroot

- Can you point me to a possible form of submitting a PR in ElasticSearch's git? My understanding of GraalVM Native Image, it should look like the following in the Dockerfile.
[code]
- But I took a look at https://github.com/elastic/elasticsearch/blob/v8.4.1/distribution/src/bin/elasticsearch and https://github.com/elastic/elasticsearch/blob/v8.4.1/distribution/docker/src/docker/Docke

[2022-09-09 13:53] #89818 closed

[2022-09-09 14:07] nik9000 commented on #87159
Closed by #87266

[2022-09-09 15:18] elasticsearchmachine commented on #37650
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-09 16:13] csoulios commented on #76231
High-level rest client has been removed. Class org.elasticsearch.client.RollupIT does not exist.

Closing this issue

[2022-09-09 16:13] #76231 closed

[2022-09-09 16:22] #89789 closed

[2022-09-09 17:42] inqueue opened #89980 "Cluster Health API: return RED when <target> does not exist"
### Elasticsearch Version

8.4.1

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

ESS

### Problem Description

The Cluster Health API should return `status: red` when the request is against a non-existent target; i.e., when the target index does not exist, as described in https://github.com/elastic/elasticsearch/issues/781.

### Steps to Reproduce

[code]

### L

[2022-09-09 18:05] elasticsearchmachine commented on #89980
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-09 19:15] not-napoleon commented on #81701
@craigtaverner and I started looking into this today.  There's definitely some weirdness happening at the intersection of extended bounds, offsets, and date rounding.  We're pretty confidant the weirdness is happening in the builder when it's calling `parseAndValidate` on the extended bounds, in `innerBuild`.  We haven't yet tracked that down to a root cause, or a final fix.  In particular, `LongB

[2022-09-09 20:05] mbarretta commented on #80146
I'm also seeing this issue among our users. Progress here and on the linked Kibana issue would be welcome!

[2022-09-09 21:16] #84622 closed

[2022-09-12 01:16] elasticsearchmachine commented on #86798
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-12 02:10] Leaf-Lin opened #89991 "CCR status should show lagging / doc count"
### Description

Today, CCR stats gives [a lot of low-level details](https://www.elastic.co/guide/en/elasticsearch/reference/current/ccr-get-follow-stats.html), but that isn’t as useful as document count. At the end of the day, users want to know if the follower is keeping up with the leader and if there's a delay, what the differences are in document count, or how much time it will take for the f

[2022-09-12 02:11] elasticsearchmachine commented on #89991
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-12 07:59] pxsalehi commented on #89776
Failed again here https://gradle-enterprise.elastic.co/s/bh2levph7qbza/tests/:x-pack:plugin:security:internalClusterTest/org.elasticsearch.xpack.security.profile.ProfileDomainIntegTests/testConcurrentActivateUpdates?top-execution=1

[2022-09-12 08:10] pxsalehi commented on #89959
I think this should also be fixed by https://github.com/elastic/elasticsearch/pull/89929. I can only reproduce it w/o the fix, by adding some sleep right before the file snapshot tasks get enqueued. I believe, this causes the deletion of the snapshot to happen while the snapshot is running, which aborts the snapshot and clears the file queue, but the listener is not called and the test times out.

[2022-09-12 08:10] #89959 closed

[2022-09-12 08:32] pxsalehi opened #89994 "[CI] MixedClusterClientYamlTestSuiteIT test {p0=search.aggregation/110_max_metric/Merging results with unmapped fields} failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/od2upyikcyxqy/tests/:qa:mixed-cluster:v8.4.2%23mixedClusterTest/org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT/test%20%7Bp0=search.aggregation%2F110_max_metric%2FMerging%20results%20with%20unmapped%20fields%7D

**Reproduction line:**
`./gradlew ':qa:mixed-cluster:v8.4.2#mixedClusterTest' -Dtests.class="org.elasticsearch.backward

[2022-09-12 08:33] elasticsearchmachine commented on #89994
Pinging @elastic/es-search (Team:Search)

[2022-09-12 10:10] davidkyle opened #89998 "[CI] FieldSortIT testIssue8226 failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/hv3alkfaasmd6/tests/:server:internalClusterTest/org.elasticsearch.search.sort.FieldSortIT/testIssue8226

**Reproduction line:**
`./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.search.sort.FieldSortIT.testIssue8226" -Dtests.seed=4270EDC0B8089D1F -Dtests.locale=zh -Dtests.timezone=America/Atka -Druntime.java=17 -Dtests.fips.e

[2022-09-12 10:10] elasticsearchmachine commented on #89998
Pinging @elastic/es-search (Team:Search)

[2022-09-12 11:38] martin82dd opened #90001 "starting issue"
Hello,

I don't know why elastic doesn't want to start.

OS : Centos 9

Logs :

[root@server1 ~]# systemctl status  elasticsearch.service
× elasticsearch.service - Elasticsearch
     Loaded: loaded (/usr/lib/systemd/system/elasticsearch.service; enabled; vendor preset: disabled)
     Active: failed (Result: exit-code) since Mon 2022-09-12 13:24:41 CEST; 1min 11s ago
       Docs: https://www.elasti

[2022-09-12 12:08] kingherc commented on #90001
Hi @martin82dd , Thanks very much for your interest in Elasticsearch. As the thread dump states:

[code]

there is a duplicate field in the elasticsearch.yml file. Please check that file and remove one of them. This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us

[2022-09-12 12:08] #90001 closed

[2022-09-12 12:13] gmarouli commented on #82420
One more failure today: https://gradle-enterprise.elastic.co/s/co7i6rjspgefs/tests/:x-pack:plugin:watcher:internalClusterTest/org.elasticsearch.xpack.watcher.test.integration.BootStrapTests/testTriggeredWatchLoading?top-execution=1

[2022-09-12 12:47] thecoop commented on #86239
`ImmutableOpenMap` was *added* to the cluster/index metadata classes in #86673 for performance reasons. So we need to find a different collection type (maybe guava immutablemap?) if we want to remove `ImmutableOpenMap`

[2022-09-12 13:31] davidkyle opened #90004 "[CI] DesiredNodesUpgradeIT testUpgradeDesiredNodes failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/ut6mplayk6lf2/tests/:qa:rolling-upgrade:v8.1.0%23oneThirdUpgradedTest/org.elasticsearch.upgrades.DesiredNodesUpgradeIT/testUpgradeDesiredNodes

And a number of other failures from the BWC builds
https://gradle-enterprise.elastic.co/s/4khmaxwf7yjsg (v8.1.1)
https://gradle-enterprise.elastic.co/s/k5ayyrfweyphm (v8.2.3)
https://gradle-enterprise.

[2022-09-12 14:23] hendrikmuhs commented on #89591
since #89716 I found no more errors, so I consider this fixed

[2022-09-12 14:23] #89591 closed

[2022-09-12 14:24] #89433 closed

[2022-09-12 14:24] hendrikmuhs commented on #89206
since #89716 I found no more errors, so I consider this fixed

[2022-09-12 14:24] #89206 closed

[2022-09-12 14:32] felixbarny opened #90007 "Synthetic _source: support ignore_malformed"
As part of LX, we want to make log indices more lenient. Therefore, we're planning on using ignore_malformed. See also https://github.com/elastic/elasticsearch/issues/88777. While using synthetic source is not a requirement for LX, we should think about how we could eventually leverage synthetic source to save space.

One of the blockers is that synthetic source doesn't have support for ignore_mal

[2022-09-12 14:32] elasticsearchmachine commented on #90007
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-12 14:32] elasticsearchmachine commented on #90007
Pinging @elastic/es-search (Team:Search)

[2022-09-12 14:43] elasticsearchmachine commented on #45646
Pinging @elastic/es-search (Team:Search)

[2022-09-12 14:45] erayarslan commented on #45646
@mayya-sharipova
Yes, Its very good summary. And thanks for query changes. I think it's better.
So should i change my pr based on the your query contract above?

[2022-09-12 14:47] alfuken commented on #45646
Hey, nice to see this getting some love! While we're at it, may I ask/suggest a slight extension to the discussed feature?

Ability to sort over an explicitly provided order of elements.

In the provided example, to the three example products add a field “partner_id” with corresponding values 1, 2, and 3

In the provided example, the adjusted query would look like this:

{
    "sort": [

[2022-09-12 14:54] DaveCTurner opened #90009 "[CI] RestGetSnapshotsIT testLargeChunkedResponses failing"
Similar to my comment at https://github.com/elastic/elasticsearch/pull/89906#discussion_r966954967 - we shouldn't need to make such a big state to test this, let's assert that we're emitting chunks more cheaply.

**Build scan:**
https://gradle-enterprise.elastic.co/s/chaqkujb74bqi/tests/:qa:smoke-test-http:javaRestTest/org.elasticsearch.http.snapshots.RestGetSnapshotsIT/testLargeChunkedResponses

[2022-09-12 14:54] elasticsearchmachine commented on #90009
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-12 14:57] csoulios commented on #67749
This test has been fixed by https://github.com/elastic/elasticsearch/pull/86992

Test was unumuted by PR https://github.com/elastic/elasticsearch/pull/89979

[2022-09-12 14:57] #67749 closed

[2022-09-12 15:10] hendrikmuhs opened #90011 "[Transform] transform can fail handling flattened field type for terms aggregations"
**Affected version**: 8.0-

The default mapping for a terms aggregation in a `pivot` transform is `flattened`. However `flattened` has limitations that transform isn't taking into account. That's why the transform can fail with a mapping error:

[code]
(https://discuss.elastic.co/t/transform-mapping-errors/313382)

Explaination: transform tries to create a document containing a flattened field tha

[2022-09-12 15:10] elasticsearchmachine commented on #90011
Pinging @elastic/ml-core (Team:ML)

[2022-09-12 15:28] justincr-elastic commented on #82366
Is further discussion required, or can we agree to add `cluster.remote.*.proxy_addresses`?

Tagging @gwbrown @jakelandis @n1v0lg.

[2022-09-12 16:05] mayya-sharipova commented on #45646
@alfuken Sorry, I did not understand what you mean from your example. I think it is better not to complicate the discussion. Can you please file a separate issue, and provided more detailed context (sample docs, query, and a sample response).

[2022-09-12 16:48] original-brownbear commented on #90009
I agree, I'll remove the test.

[2022-09-12 17:21] #89130 closed

[2022-09-12 19:24] jbaiera opened #90019 "[CI] ClassificationHousePricingIT testFeatureImportanceValues failing"
Failed as part of an intake build. First time this test has failed in 28 days. Attempted reproduction locally but it did not reproduce.

**Build scan:**
https://gradle-enterprise.elastic.co/s/bzko5uhtrlpoc/tests/:x-pack:plugin:ml:qa:native-multi-node-tests:javaRestTest/org.elasticsearch.xpack.ml.integration.ClassificationHousePricingIT/testFeatureImportanceValues

**Reproduction line:**
`./gradlew

[2022-09-12 19:24] elasticsearchmachine commented on #90019
Pinging @elastic/ml-core (Team:ML)

[2022-09-13 02:56] tbrooks8 opened #90022 "Batch index delete cluster state tasks"
### Description

Currently every index delete task is processed individually. Additionally, they are marked at the `urgent` level. This leads to scenarios where a number of index delete tasks that are queued up very quickly can lead to starvation. We have seen these tasks delaying the processing of `node-join` tasks disrupting cluster state processing.

[2022-09-13 02:56] elasticsearchmachine commented on #90022
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-13 06:53] #37650 closed

[2022-09-13 08:09] #90009 closed

[2022-09-13 08:09] omrikurtz opened #90023 "Incorrect HTTP method (405) for _field_usage_stats"
### Elasticsearch Version

7.17

### Installed Plugins

x-pack, searchguard

### Java Version

11.0.5

### OS Version

Linux (Ubuntu 18)

### Problem Description

We cannot access the field usage stats API with the rest client nor the python elasticsearch-py client.

When we issue `my-index/_field_usage_stats` via cerebro, we get:
[code]
From the documentation, it seems like it should be available

[2022-09-13 08:58] pxsalehi commented on #90023
@omrikurtz thanks for reporting the issue. I have tried to quickly reproduce this on 7.17.6, but I cannot. I just started a local ES, and issued:
[code]
And then
[code]
which seems to work and return:
[code]

Could you provide more details please and also which exact ES version? Do you have a minimal setup where you encounter this issue?

[2022-09-13 09:05] #87391 closed

[2022-09-13 09:05] #89868 closed

[2022-09-13 10:15] DaveCTurner commented on #79445
@idegtiarenko and I ran into this again recently. The following internal-cluster test shows the problem:

[code]

[2022-09-13 10:25] javanna commented on #88756
@mukeshelastic and I talked about this and agreed that there is a need for a good story around schema evolution. It is not just a matter of documenting it but rather build it. One step we identified is working on a high-level API that allows to make a runtime field indexed at the data streams level (see #72142). There is quite a bit to be figured out but it's something that we will work towards. C

[2022-09-13 11:03] elasticsearchmachine commented on #90023
Pinging @elastic/es-search (Team:Search)

[2022-09-13 11:11] mertyakan opened #90027 "Elastic Kubernetes 1.24 expetion cgroup"
### Elasticsearch Version

7.15.0

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

4.18.0-372.19.1.el8_6.x86_64

### Problem Description

We try Kubernetes 1.24 and we saw elasticsearch not running, crashloopbackof.

when we want to see logs;

Exception in thread "main" java.lang.InternalError: java.lang.reflect.InvocationTargetException
	at java.base/jdk.interna

[2022-09-13 11:12] mertyakan commented on #90027
kubernetes 1.24 used containerd runtime. and

[2022-09-13 11:12] #90027 closed

[2022-09-13 11:13] mertyakan commented on #90027
we used container runtime containerd.

https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd-systemd

To use the systemd cgroup driver in /etc/containerd/config.toml with runc, set

[plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
  ...
  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options]
    SystemdCgroup = true

[2022-09-13 11:30] idegtiarenko commented on #89687
The other failure should be fixed by this change: https://github.com/elastic/elasticsearch/pull/89418

[2022-09-13 11:31] #89687 closed

[2022-09-13 11:34] #88732 closed

[2022-09-13 11:50] original-brownbear commented on #89689
Fixed via https://github.com/elastic/elasticsearch/pull/90028

[2022-09-13 11:50] #89689 closed

[2022-09-13 12:02] giladgal commented on #89707
Thanks for submitting this enhancement suggestion. It is something we would like to develop, but it is not on our immediate roadmap, because of prioritization and taking into account the limited usage of range data types compared with other data types. We will get to it at some point. If a community member is interested, we would welcome a contribution for this feature.

[2022-09-13 12:18] #89877 closed

[2022-09-13 12:18] #90004 closed

[2022-09-13 14:12] original-brownbear commented on #90022
relates #77466

[2022-09-13 15:04] elisanotarangelo commented on #34659
Do you have any updates for this topic? thank you

[2022-09-13 15:10] kingherc commented on #88999
Checking the source code of [around back then](https://github.com/elastic/elasticsearch/blob/v8.4.0/server/src/main/java/org/elasticsearch/cluster/coordination/Coordinator.java#L1090) I see it's:

[code]

This is the same issue as #89543 which I fixed recently. So closing this.

[2022-09-13 15:10] #88999 closed

[2022-09-13 15:13] #89485 closed

[2022-09-13 15:51] pxsalehi commented on #88201
I double checked this with @original-brownbear and he agrees that there is not much to do for this failure other than increasing the timeout, which was done a few weeks ago. We can just leave this open until next week and then close it if there are no new failures.

[2022-09-13 15:51] pxsalehi commented on #88884
I double checked this with @original-brownbear and he agrees that there is not much to do for this failure other than increasing the timeout, which was done a few weeks ago. We can just leave this open until next week and then close it if there are no new failures.

[2022-09-13 15:58] pxsalehi commented on #87952
@DaveCTurner It's been two months since the timeout was increased and there hasn't been any new failure. The above mentioned failure was on a branch w/o the new timeout. Should we close this, or you'd prefer to keep it open?

[2022-09-13 17:09] #89245 closed

[2022-09-13 17:54] nik9000 commented on #90007
Began in #90038

[2022-09-13 18:06] joegallo opened #90039 "Add multi-target syntax support to the Move to lifecycle step API"
### Description

Add [Multi-target syntax](https://www.elastic.co/guide/en/elasticsearch/reference/current/api-conventions.html#api-multi-index) to the [`_ilm/move`](https://www.elastic.co/guide/en/elasticsearch/reference/master/ilm-move-to-step.html) API.

On occasion it has been necessary to `_ilm/move` many indices (dozens or hundreds) through the same from-step-to-step transition. At present,

[2022-09-13 18:06] elasticsearchmachine commented on #90039
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-13 18:51] masseyke commented on #89431
Sorry just saw this, and just backported it -- https://github.com/elastic/elasticsearch/pull/90040

[2022-09-13 20:06] #82923 closed

[2022-09-13 21:13] mayya-sharipova commented on #45646
@erayarslan Actually, I thought more about it, and I like your design better. Let's move discussion to your [PR](https://github.com/elastic/elasticsearch/pull/89331).

[2022-09-13 23:35] kojec opened #90048 "Hadoop HDFS Repository plugin"
### Description

**security.principal** value 'service/_HOST@REALM' of configuration for **"Hadoop HDFS Repository"**
should allow using environment variable for principal like **_SERVICE**.

Current state of code is opposite to documentation [recommendation](https://www.elastic.co/guide/en/elasticsearch/plugins/master/repository-hdfs-security.html).

This change will allow each node in the cluste

[2022-09-14 02:38] ywangd opened #90050 "[CI] ParentToChildrenAggregatorTests testBestDeferringCollectorWithSubAggOfChildrenAggNeedingScores failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/uffxmc6e6bqtm/tests/:modules:parent-join:test/org.elasticsearch.join.aggregations.ParentToChildrenAggregatorTests/testBestDeferringCollectorWithSubAggOfChildrenAggNeedingScores

**Reproduction line:**
`./gradlew ':modules:parent-join:test' --tests "org.elasticsearch.join.aggregations.ParentToChildrenAggregatorTests.testBestDeferringCollectorWi

[2022-09-14 02:38] elasticsearchmachine commented on #90050
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-14 06:54] akshaybhadange commented on #73248
I am alos new to open-source contributions , so do i need linux for contribution currently using windows

[2022-09-14 07:06] Ranzeb commented on #73248
I'm currently looking at it @akshaybhadange

[2022-09-14 08:31] #90050 closed

[2022-09-14 08:40] akshaybhadange commented on #73248
@Ranzeb ok , but does this project requires linux to contribute

[2022-09-14 08:58] DaveCTurner commented on #89387
The ES team discussed this in our fix-it meeting on 2022-09-12. We saw lots of scope for improving our error responses, and associated API guarantees, but noted that in practice we don't come across many users that need more structure than we offer today.

We did however conclude that we should emit the same shape of response whether `http.detailed_errors.enabled` is set or not, and that we consid

[2022-09-14 09:31] #88435 closed

[2022-09-14 09:31] #89338 closed

[2022-09-14 10:26] hendrikmuhs opened #90054 "[CI] XPackRestIT test {p0=transform/transforms_unattended/Test unattended put and start} failing"
reproduces if I slow down the validation call, which seems to happen on CI.

**Build scan:**
https://gradle-enterprise.elastic.co/s/n5k3wukhl7ksy/tests/:x-pack:plugin:yamlRestTest/org.elasticsearch.xpack.test.rest.XPackRestIT/test%20%7Bp0=transform%2Ftransforms_unattended%2FTest%20unattended%20put%20and%20start%7D

**Reproduction line:**
`./gradlew ':x-pack:plugin:yamlRestTest' --tests "org.elasti

[2022-09-14 10:26] elasticsearchmachine commented on #90054
Pinging @elastic/ml-core (Team:ML)

[2022-09-14 13:23] original-brownbear commented on #89776
Reopening this, failed again for me in https://gradle-enterprise.elastic.co/s/sxrc3sybxx5si/tests/:x-pack:plugin:security:internalClusterTest/org.elasticsearch.xpack.security.profile.ProfileDomainIntegTests/testConcurrentActivateUpdates which included the fix from https://github.com/elastic/elasticsearch/pull/89793

[2022-09-14 13:35] hendrikmuhs commented on #90054
A new added yaml test uncovered a race condition. The persistant task isn't stopped if a failure happens while the transform indexer got asked to stop.

[2022-09-14 14:51] kilfoyle opened #90065 "[DOCS] Remove Rollup API pages in favour of Downsampling API"
The existing Rollup API reference pages should be removed in favour of docs for the new downsampling feature. See [the original comment here](https://github.com/elastic/elasticsearch/pull/88571#issuecomment-1233475660), copied below.

Rel: #88571

---
The existing Rollup API docs are unrelated to the new downsample née rollup API. Recommend adding a new downsample API ref page and removing the exi

[2022-09-14 14:51] elasticsearchmachine commented on #90065
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-14 14:51] elasticsearchmachine commented on #90065
Pinging @elastic/es-docs (Team:Docs)

[2022-09-14 15:55] elasticsearchmachine commented on #75875
Pinging @elastic/es-search (Team:Search)

[2022-09-14 16:00] nik9000 commented on #75875
Do we support if you put a bell character in the field? Or a vertical tab? What about smart quotes?

[2022-09-14 16:26] DaveCTurner opened #90071 "[CI] InternalEngineTests testMergeThreadLogging failing"
Also seen in a local run of `./gradlew :server:test` but doesn't easily reproduce, even when running many iterations in a loop.

**Build scan:**
https://gradle-enterprise.elastic.co/s/kbbpmnbim32ck/tests/:server:test/org.elasticsearch.index.engine.InternalEngineTests/testMergeThreadLogging

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.index.engine.InternalEngineTests

[2022-09-14 16:26] elasticsearchmachine commented on #90071
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-14 17:50] elasticsearchmachine commented on #90048
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-14 17:50] elasticsearchmachine commented on #90048
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-14 17:53] devnamrits commented on #89542
@javanna I've been working on it. I went through the test cases where you are testing the ignore_malformed. Can you please tell me where within code, ignore_malformed setting is enabled for currently supported data types. It would be really help as then I can deliver this fast if I get to know how { ignore_malformed: true } is being enabled for currently supporting data types.

[2022-09-14 19:52] justincr-elastic commented on #82366
I am planning to start a PR to add cluster.remote.*.proxy_addresses. I am proposing it will be behind an RCS 2.0 feature flag.

[2022-09-14 20:23] gwbrown commented on #82366
Agreed to add support for multiple proxy addresses. I think we should just extend the existing setting though, rather than requiring a plural here - we support singleton strings as well as lists of strings for the same field in many other APIs, so it aligns well there and will make backwards compatibility easier. I'm also not sure why this should be behind the feature flag, as it's not reliant on

[2022-09-14 20:27] nik9000 opened #90076 "`filter` aggregation should run as `filters`"
### Elasticsearch Version

main

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

all

### Problem Description

The `filter` agg should run as `filters` because the `filters` agg has tons of optimizations, some of them are even around when running with a single filter. At a minimum we should optimize the `filter` agg in the same way as `filters`, but I think it's

[2022-09-14 20:27] elasticsearchmachine commented on #90076
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-14 20:51] justincr-elastic commented on #82366
Why put `proxy_addresses` behind the RCS 2.0 feature flag?

The combination of 3 things allows RCS 1.0 bidirectional trust to be upgraded to RCS 1.1 unidirectional trust for free in a basic license:
1. Transport Profile: Add one new port which only remote inbound trust, no intra-cluster trust
2. Transport Core: This is used for remote outbound trust at L5/L6. Add TCP/IP filters to block remote inb

[2022-09-15 03:47] andrew-waite commented on #89980
@inqueue

Hi there,

I was wondering if anyone else was already working on this issue?

 If not I would like to take a stab at it.

[2022-09-15 03:51] akshaybhadange commented on #18267
if this issue is open,can i work on this ,plz guide me as i am new to this contribution

[2022-09-15 04:46] ywangd commented on #89776
Errr hello again, dirty read. Thanks for reporting this. I'll deal with it.

[2022-09-15 07:14] martijnvg commented on #29287
The plan is still to address the problem described in the description of this issue by catching the problem at parse time and returning a meaningful error (instead of letting the class cast error happen at execution time). Just like Colin describes in [his comment](https://github.com/elastic/elasticsearch/issues/29287#issuecomment-377185725).

@biji-padhy This is another issue than is described in

[2022-09-15 07:15] HonestManXin opened #90081 "FailureListener.onFailure should allow to handle the exception which cause failure"
### Description

In RestClient.performRequest if a exception happen when call CloseableHttpAsyncClient.execute, FailureListener.onFailure called with the node performRequest, then retry next node。

But for response time sensitive application,  we don't want to retry for some exception(ie: socket timeout exception), so i think we should add a method for FailureListener.
[code]
Let the user decide r

[2022-09-15 08:11] DaveCTurner opened #90082 "Snapshot-based peer recovery permit exhaustion yields incorrect message"
We limit the number of concurrent blob downloads per node and per recovery, but if a user configures too many concurrent recoveries they may run out of per-node download permits which yields the following message:

The `[25]` here is wrong, the 25 permits are shared across all inbound recoveries so we should divide the suggested value by `cluster.routing.allocation.node_concurrent_incoming_recover

[2022-09-15 08:11] elasticsearchmachine commented on #90082
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-15 08:31] hendrikmuhs commented on #75875
For this issue [see](https://github.com/elastic/elasticsearch/blob/main/server/src/main/java/org/elasticsearch/index/mapper/flattened/FlattenedFieldParser.java), only `\0` is reserved, everything else is just handled as bytes ref / string.

However before that is called the string is parsed using a XContent parser, the parser has the following restrictions:

- empty string
- only dots
- dots and s

[2022-09-15 08:36] hendrikmuhs commented on #75875
As for going forward: I think we should create a separate issue for the problems around `flattened`.

[2022-09-15 08:36] hendrikmuhs commented on #90011
Further restrictions for flattened:

- empty string
- only dots
- dots and spaces in certain combinations

This is due to using the same XContent parser as for ordinary fields, see https://github.com/elastic/elasticsearch/issues/75875#issuecomment-1247766126

[2022-09-15 09:35] #90054 closed

[2022-09-15 10:39] jtlz2 commented on #17159
@gcampbell-epiq How can I implement the "aggregation" method? (sorry - 5 years later :) )

[2022-09-15 10:49] fcofdez opened #90090 "Provide allocation explain output on autoscaling decisions"

[2022-09-15 10:49] elasticsearchmachine commented on #90090
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-15 10:50] #90090 closed

[2022-09-15 10:50] hendrikmuhs commented on #88434
No failures in the last 28 days.

[2022-09-15 10:50] #88434 closed

[2022-09-15 11:26] billfnt opened #90094 "ECE: Add role information to instance name"
### Description

Greetings,

When view a deployment in the ECE console you can easily see what roles a node is serving, but when using API commands such as _cat/nodes or _cat/shards, that context is not available.  You are left with a bunch of nodes with names like instance-0000000251.  In order to know what role that instance is serving we need to make another api call.  Would it be possible to t

[2022-09-15 11:30] billfnt opened #90095 "Kibana: Show rule creation date and author"
### Description

Greetings,

With us shifting to more of a self-service model for creating rules in kibana, it would be nice to be able to see in kibana who created a rule and when.  Can this be displayed int he kibana ui?  This also applies to other saved objects as well, so perhaps there could be a general duty solution to this by adding that capability to the Saved Objects UI?

Thanks,

-Bill.

[2022-09-15 11:40] billfnt opened #90096 "Add data stream name to document metadata"
### Description

Greetings,

Just like we have the _index metadata field that lets us know what index a document is in, it would be handy to have a metadata field to let us know what data stream the document is in. The intended use case here is to create visualizations showing relative size (document count and _size values) for the various datastreams in our cluster as well as track the datastream

[2022-09-15 13:26] fcofdez opened #90102 "Capture data streams write load"

[2022-09-15 13:27] fcofdez opened #90103 "Store write load into a system data stream (including ILM policies for cleanup)"

[2022-09-15 13:28] elasticsearchmachine commented on #90103
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-15 13:30] fcofdez opened #90104 "Implement ingest based autoscaling decider based on data streams write load"

[2022-09-15 13:30] elasticsearchmachine commented on #90104
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-15 14:08] idegtiarenko opened #90109 "org.elasticsearch.cluster.ClusterInfo#routingToDataPath should not use ShardRouting as a key"
### Description

It should be enough to have ShardId + nodeId key in `routingToDataPath` to find the necessary data path.
Changing the key would allow us to minimize the size of ClusterInfo size and find the data path when shard changes its status.

`ClusterInfo` might be sent over the wire when cluster allocation explain is executed with `includeDiskInfo=true`.
ShardRouting -> ShardId + nodeId co

[2022-09-15 14:08] elasticsearchmachine commented on #90109
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-15 14:39] elasticsearchmachine commented on #55423
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-15 15:13] inqueue commented on #87969
I have a compound query from a Kibana dashboard showing a fairly slow took time with a runtime field. The query responds timely when either the `multi_match` or `runtime_mappings` are removed, and not so timely when both are used. The query has been simplified for testing:

#### Request: Runtime Field with Multi Match

[code]

##### Response

[code]
#### Request: Multi Match, No Runtime Field

[co

[2022-09-15 15:25] tarzasai commented on #30575
Has the proposed property ["document_properties"](https://github.com/elastic/elasticsearch/issues/30575#issuecomment-393411403) been rejected or a different solution implemented in the meanwhile? (it was a very good idea IMHO)

[2022-09-15 17:55] jtibshirani commented on #89713
A sketch of how the new section might look look:

[code]

I used the general name `query` to indicate any query run in the DFS phase. Currently we only ever run kNN queries, so it could make sense to use `knn` as a key instead.

[2022-09-15 18:24] graphaelli commented on #89439
@AlexanderWert can help coordinate APM support for this (fyi @felixbarny for when you return)

[2022-09-15 19:18] jbaiera opened #90113 "[CI] SnaphotsAndFileSettingsIT testRestoreWithPersistedFileSettings failing"
3 very rare failures in the last 28 days. Wasn't able to get a local reproduction.

**Build scan:**
https://gradle-enterprise.elastic.co/s/em57lkjvl445e/tests/:server:internalClusterTest/org.elasticsearch.reservedstate.service.SnaphotsAndFileSettingsIT/testRestoreWithPersistedFileSettings

**Reproduction line:**
`./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.reservedstate.serv

[2022-09-15 19:19] elasticsearchmachine commented on #90113
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-16 06:40] akshaybhadange commented on #46225
@javanna can I pick up this issue ?

[2022-09-16 06:41] willemdh commented on #66163
@martijnvg martijn
When can we expect a fix for this? Without this feature it becomes really hard to update to Elastic 8... As every Kibana visualisation we made over the past 4+ years is linked to an alias.. Migrating to datastreams would imply all these visualisations to break.

[2022-09-16 09:02] grouh commented on #5359
Would also need this, so +1

[2022-09-16 11:51] pxsalehi commented on #90113
I believe this was introduce as part of https://github.com/elastic/elasticsearch/pull/89321, relates to File Settings, and probably belongs to the Core/Infra team. Maybe @grcevski can confirm that?

[2022-09-16 13:08] grcevski commented on #90113
Thanks @pxsalehi I'll take this one, it's my test.

[2022-09-16 13:08] elasticsearchmachine commented on #90113
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-16 23:55] mitar commented on #66205
+1 on adding such list.

[2022-09-16 23:56] mitar commented on #31828
Isn't this available now as [Variable width histogram aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/8.4/search-aggregations-bucket-variablewidthhistogram-aggregation.html)?

[2022-09-17 00:47] mitar opened #90120 "Allow specifying field names for operators of range field types"
### Description

For example, currently for `integer_range` field one has to provide such a value object:

[code]

I would propose that one could define for the field names for `gte`, `lt`, etc., operators. So that I could provide also:

[code]

Ideally, I could also have additional fields in the object, which would be ignored, but could be specified as fields for other indices, e.g.:

[code]

[2022-09-17 01:18] 123joshuawu opened #90121 "auto_date_histogram aggregation with ip_ranges sub-aggregation fails with illegal_state_exception"
### Elasticsearch Version

7.16.2

### Installed Plugins

_No response_

### Java Version

openjdk 11.0.13

### OS Version

Ubuntu 18.04.1

### Problem Description

Using `auto_date_histogram` with a `ip_range` sub-aggregation with `<n>` ranges fails with an `illegal_state_exception` with reason `Expected [<n>] buckets, but got [0]`.

### Steps to Reproduce

Create index with `date` field and `ip`

[2022-09-17 04:42] tomcallahan commented on #89696
I linked a support case here. I'm +1 on giving some way to change repository details, perhaps with verification, to administrators while searchable snapshots are mounted. I'm not sure what updates are allowed today - it seems clear we'd want to permit updating (removing) `secure_key` and `access_key` for folks migrating to secure settings.

The location update is also compelling. We provide a repo

[2022-09-19 00:23] ywangd opened #90125 "CLI elasticsearch-users should handle missing users_roles file"
Most sub-commands of the `elasticsearch-users` CLI needs to access `users_roles` file as well as `users` file. When `user_roles` does not exist, the parsing code returns `null`:

https://github.com/elastic/elasticsearch/blob/3603aa71516b4d0e35ef41510ff8995a2580136c/x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/file/FileUserRolesStore.java#L112-L114

The `null` value i

[2022-09-19 00:24] elasticsearchmachine commented on #90125
Pinging @elastic/es-security (Team:Security)

[2022-09-19 06:21] ywangd opened #90126 "Upgrade google-oauth-client for discovery-gce plugin"
The same library is upgraded to [1.34.1](https://mvnrepository.com/artifact/com.google.oauth-client/google-oauth-client/1.34.1) for the repository-gcs plugin as part of #87800. It would be great to keep consistent and upgrade [its usage](https://github.com/elastic/elasticsearch/blob/3603aa71516b4d0e35ef41510ff8995a2580136c/plugins/discovery-gce/build.gradle#L13) in the discovery-gce plugin as well

[2022-09-19 06:22] elasticsearchmachine commented on #90126
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-19 06:51] Rishi-web commented on #74232
I am still facing the issue with this maven settings
[code]

[2022-09-19 07:26] henningandersen opened #90127 "Remove resize left-over at shard started"
When a resize (shrink/clone/split) occurs, the new index gets `index.resize.source.uuid` and `index.resize.source.name` set in order to indicate the source of the operation. For shrink we also set `index.routing.allocation.initial_recovery.<something>` to force the location of the shrunk shards to go on the node holding the source shards.

Today this is left as is once the shard is started. But at

[2022-09-19 07:26] elasticsearchmachine commented on #90127
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-19 09:18] dgieselaar opened #90129 "Support cross-cluster _mget"
### Description

_mget is currently not supported in a cross-cluster context:

[code]

fails with:
[code]

The Profiling app is currently using _mget in their application. For Observability clusters, we generally use an automated cross-cluster search setup, as generating the amount of data needed for reasonable workloads is cumbersome for individual developers, and CCS is the only way to connect a

[2022-09-19 09:21] elasticsearchmachine commented on #90129
Pinging @elastic/es-search (Team:Search)

[2022-09-19 09:49] javanna commented on #87969
@inqueue I have some ideas, but why have you commented on this existing issue? I don't see the link between what you bring up and what the issue proposes to do.

[2022-09-19 12:19] shahzad31 opened #90130 "java.lang.NullPointerException: Cannot invoke "org.apache.lucene.index.Terms.getDocCount()" because "terms" is null"
### Elasticsearch Version

8.5.0-SNAPSHOT

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Mac

### Problem Description

[code]

### Steps to Reproduce

I don't have any specific steps to reproduce, i just hit this randomly locally while doing kibana development

### Logs (if relevant)

_No response_

[2022-09-19 13:41] inqueue commented on #87969
Hi @javanna, my comment is an expressed concern about the proposal outlined in this issue and I thought it best to bring it up here. Perhaps it would be better to address the concern separately.

[2022-09-19 13:47] crespocarlos commented on #77973
@elastic/es-data-management this is an old ticket, but this problem seems to be causing a problem with an ECE customer as @matschaffer said above. Is possible to take a look at this?

[2022-09-19 13:54] jameswiggins commented on #85876
I'm having the same problem installing logstash on Rocky Linux 9. The workaround from a redhat.com [blog post](https://www.redhat.com/en/blog/rhel-security-sha-1-package-signatures-distrusted-rhel-9#:~:text=I%20still%20want%20to%20install%20SHA%2D1%20signed%20packages!):
1. As @nerijus mentioned, switch to legacy crypto policy: `update-crypto-policies --set LEGACY` **OR** Explicitly allow SHA-1: `

[2022-09-19 13:58] #90113 closed

[2022-09-19 14:01] kingherc commented on #54354
Would this be considered a breaking change?

[2022-09-19 14:26] #86663 closed

[2022-09-19 15:40] csoulios commented on #88203
Failed again today: https://gradle-enterprise.elastic.co/s/c2of3l5cjwn3q/

Reproduction line:
[code]

Could not reproduce this locally.

[code]

[2022-09-19 17:52] elasticsearchmachine commented on #90094
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-19 17:53] oatkiller commented on #74660
Sorry for my newbie question. Is this the same as https://www.elastic.co/guide/en/elasticsearch///reference/master/tsds.html ? Thanks

[2022-09-19 18:00] jtibshirani commented on #90094
I pinged the data management team because the issue mentions the `cat` API. However, this feedback seems like it's intended for ECE, so maybe we'll need to pass it on to the Cloud team.

[2022-09-19 18:01] jrodewig commented on #74660
@oatkiller Yes. It's the same thing. :) (I helped write the initial docs)

Hope you enjoy Elastic! It's an awesome place to work.

[2022-09-19 18:32] javanna commented on #87969
@inqueue can you help me understand your concern with the proposal of re-implementing field aliases as runtime fields? What does that have to do with the recreation you posted above? Do you need help understanding what is causing the slowness there?

[2022-09-19 19:10] javanna commented on #30575
I believe we made no progress on this, right @martijnvg ?

[2022-09-19 19:26] williamrandolph opened #90144 "[CI] IndexShardTests testIndexCheckOnStartup failure: AssertionError"
### CI Link

https://gradle-enterprise.elastic.co/s/t6gxc3xhkugpm

### Repro line

./gradlew ':server:test' --tests "org.elasticsearch.index.shard.IndexShardTests.testIndexCheckOnStartup" -Dtests.seed=C312D6F77D4FB3D2 -Dtests.locale=ar -Dtests.timezone=Asia/Harbin -Druntime.java=18

### Does it reproduce?

Yes

### Applicable branches

main

### Failure history

_No response_

### Failure excerpt

[2022-09-19 19:26] inqueue commented on #87969
@javanna the concern I have is there seems to be a scenario, like in my example, where using runtime fields in a way that mimics field aliases introduces a large query performance hit, one that is painfully felt while clicking through Kibana dashboards. That is, a multi-match query with a runtime field performs much slower than the same query without the runtime field. I do need help getting to th

[2022-09-19 19:27] elasticsearchmachine commented on #90144
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-19 20:38] doublebyte1 opened #90146 "Provide an endpoint with map metadata in the Vector Tile Search API"
### Description

"Elasticsearch 7.15 introduces a [new endpoint](https://www.elastic.co/guide/en/elasticsearch/reference/7.15/search-vector-tile-api.html) that generates vector tiles from geospatial data stored in Elasticsearch."

It would be great to publish also an endpoint containing the map metadata, as this provides important information to the clients that render the vector tiles (e.g.: titl

[2022-09-19 20:40] doublebyte1 commented on #90146
This would help with this issue: https://github.com/geopython/pygeoapi/issues/970

[2022-09-19 20:46] original-brownbear commented on #90144
This is caused by a change in Lucene I believe. Lucene is tripping an assertion here due to our corruption. Looking into what we can do here.

[2022-09-19 22:06] elasticsearchmachine commented on #90096
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-19 22:37] #86203 closed

[2022-09-19 22:59] elasticsearchmachine commented on #90120
Pinging @elastic/es-search (Team:Search)

[2022-09-19 23:04] jtibshirani commented on #90120
@mitar could you explain about the benefit of this enhancement? How would it help with your use case?

[2022-09-19 23:06] elasticsearchmachine commented on #90146
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-19 23:07] elasticsearchmachine commented on #90121
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-19 23:07] elasticsearchmachine commented on #90130
Pinging @elastic/es-search (Team:Search)

[2022-09-20 00:24] #89525 closed

[2022-09-20 02:58] believezzd opened #90152 "Dual Cluster with Synchronous"
### Description

I have had a trial to the feature of Cross Cluster Repliac. It provides such a function that a leader cluster is in service for business and a follow cluster replicates the contents of the leader cluster in real time. The follow cluster can only read, but not write. When the leader cluster fail, it needs a manually switch before the follow cluster turn to a normal cluster and then

[2022-09-20 03:50] devnamrits commented on #89542
@javanna Raised PR for this issue. #90122

[2022-09-20 05:54] martijnvg commented on #30575
Yes, no progress has been made.

[2022-09-20 07:10] DaveCTurner commented on #89839
@sethmlarson says:

I see a few options for handling response headers added after we've started sending the HTTP body:

1. Silently drop late-arriving deprecations and other headers. We do not require clients to process deprecation metadata in responses, and we don't use response headers for anything else today, so it's not a big loss in practice.

2. Forbid late-arriving headers (e.g. `assert` th

[2022-09-20 07:11] elasticsearchmachine commented on #89839
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-20 07:13] mitar commented on #90120
So my use case is that my incoming documents have `min_price` and `max_price` fields and I would like to index them to a range field. But currently this does not seem to be possible without modifying the structure of the document before indexing. This is a problem for me because I am using ES both as search engine and data store itself. So I would like to retain the original data structure and be

[2022-09-20 07:49] DaveCTurner commented on #54354
Yes, we would have to do the usual deprecation dance: in 8.x we should emit a deprecation warning if using a port range (including not specifying a port) to raise awareness of the change in behaviour. Then in 9.0 we can drop support for port ranges.

[2022-09-20 08:09] craigtaverner opened #90156 "Centroid aggregation for Cartesian points and shapes"
### Description

There is absolutely no support for cartesian data in aggregations. There is a meta-task for adding [Cartesian support for aggregations](https://github.com/elastic/elasticsearch/issues/87804), and this issue is the first aggregation to add, the `centroid` aggregation.

It is modelled on the existing [`geo_centroid`](https://www.elastic.co/guide/en/elasticsearch/reference/current/se

[2022-09-20 08:09] elasticsearchmachine commented on #90156
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-20 08:13] craigtaverner opened #90157 "Bounding Box aggregation for Cartesian points and shapes"
### Description

There is absolutely no support for cartesian data in aggregations. There is a meta-task for adding [Cartesian support for aggregations](https://github.com/elastic/elasticsearch/issues/87804), and this issue is the second aggregation to add, the `bounding_box` aggregation.

It is modelled on the existing [`geo_bounding_box`](https://www.elastic.co/guide/en/elasticsearch/reference/c

[2022-09-20 08:13] elasticsearchmachine commented on #90157
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-20 08:17] original-brownbear opened #90158 "[CI] CoordinatorTests testUnhealthyLeaderIsReplaced failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/j4xfvozocqmng/tests/:server:test/org.elasticsearch.cluster.coordination.CoordinatorTests/testUnhealthyLeaderIsReplaced

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.cluster.coordination.CoordinatorTests.testUnhealthyLeaderIsReplaced" -Dtests.seed=3E136AAE5154F966 -Dtests.locale=ro -Dtests.timezone=Asia/Aqtau -Dru

[2022-09-20 08:17] elasticsearchmachine commented on #90158
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-20 08:24] idegtiarenko opened #90159 "AutoFollowCoordinator keeps running after master election"
### Elasticsearch Version

all versions with auto follow feature

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

n/a

### Problem Description

TBD

### Steps to Reproduce

* create a leader cluster with some indices
* create a follower cluster, configure some autofollowing patterns
* cause master election in a follower cluster (old master must not be restarted a

[2022-09-20 08:24] elasticsearchmachine commented on #90159
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-20 08:26] kingherc commented on #90158
This reminds me of https://github.com/elastic/elasticsearch/issues/89867 's error, but it's a different test.

[2022-09-20 08:45] DaveCTurner commented on #84992
I expect that's because we only run the settings-archival process in a full cluster restart upgrade, and on Cloud it'll be a rolling upgrade. But that's the wrong fix here, we should not be archiving these settings. BwC on index metadata is supposed to be a function of the index created version and not the cluster version, and these settings were acceptable in 7.x-created indices, so we should be

[2022-09-20 08:46] craigtaverner opened #90160 "Grid aggregations for Cartesian points and shapes"
### Description

There is a meta-task for adding [Cartesian support for aggregations](https://github.com/elastic/elasticsearch/issues/87804), which includes two simpler aggregations for [centroid](https://github.com/elastic/elasticsearch/issues/90156) and [bounding box](https://github.com/elastic/elasticsearch/issues/90157). It is anticipated that support for grids might be more complex. There exi

[2022-09-20 08:46] elasticsearchmachine commented on #90160
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-20 08:55] craigtaverner opened #90161 "Line aggregation for Cartesian points and shapes"
### Description

There is a meta-task for adding https://github.com/elastic/elasticsearch/issues/87804, and this issue is one of the proposed sub-tasks, the line aggregation.

It is modelled on the existing [geo_line](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-geo-line.html) and as such could be called either:

* `cartesian_line`
* or just `line`

I

[2022-09-20 08:55] elasticsearchmachine commented on #90161
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-20 08:58] craigtaverner opened #90162 "Distance aggregation for Cartesian points and shapes"
### Description

There is a meta-task for adding [Cartesian support for aggregations](https://github.com/elastic/elasticsearch/issues/87804), and this issue is one of the proposed sub-tasks, the distance aggregation.

It is modelled on the existing [`geo_distance`](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-geodistance-aggregation.html) and as such c

[2022-09-20 08:58] elasticsearchmachine commented on #90162
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-20 09:02] #88884 closed

[2022-09-20 09:10] pxsalehi commented on #88201
This failed again on 7.17. https://gradle-enterprise.elastic.co/s/itisybsxku6iy/tests/:qa:smoke-test-http:javaRestTest/org.elasticsearch.http.IndicesSegmentsRestCancellationIT/testCatSegmentsRestCancellation?top-execution=1

[2022-09-20 09:12] javanna commented on #90130
Thanks for reporting this, it appears to be a lucene bug, triggered by the deletion of all documents that have postings for a certain field in a segment. See https://github.com/apache/lucene/pull/11792 . Closing this one as it will be fixed upstream in lucene.

[2022-09-20 09:13] #90130 closed

[2022-09-20 09:18] craigtaverner opened #90163 "Geohex grid aggregation on geo_shape MVP"
Elasticsearch already [supports geohex grid aggregations|https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-geohexgrid-aggregation.html], but only on `geo_point`. There is value in supporting this on fields of type `geo_shape` too. Since the related [`geotile`|https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-geotileg

[2022-09-20 09:20] #55423 closed

[2022-09-20 09:32] elasticsearchmachine commented on #90163
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-20 10:00] BBQigniter commented on #88324
found this issue too late :(

[2022-09-20 10:17] Rishi-web commented on #74232
Can you please guide this, even after deleting `run configuration` still IntelliJ fails to run test cases.

[2022-09-20 10:50] kingherc commented on #89867
This is a hard. I started out to go back in history to figure out when this started appearing. It started appearing with https://github.com/elastic/elasticsearch/pull/86921/files , which removed the MockSinglePrioritizingExecutor in favor of some more java-native thread executor. With the old MockSinglePrioritizingExecutor, the specific test (and random seed) passes. However, in trying to understa

[2022-09-20 10:57] kingherc commented on #89867
@DaveCTurner I observe that simply adding another `delayVariabilityMillis` to the expression you mentioned passes the test. Would this be sufficient, or would we need to further understand the calculation?

[2022-09-20 11:02] DaveCTurner commented on #89867
I'd like to understand why we need another delay here. It could well be because #86921 added another delay, but how exactly does that feed into the calculation? Does it mean that `clusterStateUpdateDelay` should now be `8 * delayVariabilityMillis`? If so, should we also update the definition of `DEFAULT_CLUSTER_STATE_UPDATE_DELAY`?

[2022-09-20 11:16] kingherc commented on #89867
I see, I am not perfectly yet aware of all these delays and what they mean. I will try to figure it out from the logs of comparing with MockSinglePrioritizingExecutor.

[2022-09-20 12:53] grcevski commented on #84992
We can reuse this issue to fix this bug.

[2022-09-20 13:43] gossu opened #90168 "Term centric minimum should match on multiple fields with different analyzers"
### Description

Currently the minimum should match parameter is interpreted differently by different query clauses:
- on compound query clauses (e.g. `bool`) it applies constraints on number of child clauses that need to be satisfiad in order for a document to be returned (clause-centric)
- on text query clauses (e.g. `match`) it applies constraints on number of terms required to match in order f

[2022-09-20 13:58] wchaparro commented on #90146
Hey there @doublebyte1 this is interesting, can you provide a use case(s) so we can understand the need a bit better? thx!

[2022-09-20 14:30] ingenium21 commented on #85876
Thanks james.  I was considering moving to Rocky Linux 9 recently.  good to know it's happening there too.

[2022-09-20 17:26] lost2 commented on #67790
Any news from this "enhancement" request? We're on V8 by now and snapshots keeps filling up file system to no avail. Thanks

[2022-09-20 18:40] j-bennet opened #90171 "Get Index API returns hidden indices even with expand_wildcards=open explicitly set"
### Elasticsearch Version

8.5.0-SNAPSHOT

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

docker

### Problem Description

According to the API documentation, hidden indices should not be retrieved by default, or when expand_wildcards is set to `open`:

https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-get-index.html

However, a request lik

[2022-09-20 18:40] elasticsearchmachine commented on #90171
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-20 19:47] divit00 opened #90173 "Sliced scroll returning more hits than normal (without slice ) search hits"
### Elasticsearch Version

7.16.3

### Installed Plugins

_No response_

### Java Version

openjdk version "1.8.0_342"

### OS Version

Oracle Linux 7.9

### Problem Description

In short, ` normal search hits < scroll slice 1 hits + scroll slice 2 hits`

When I add up sliced scroll hits, it is more than total no of documents returned from single search.

#### Normal search query

[code]

Normal S

[2022-09-20 20:39] jbaiera commented on #89825
Completed with #90072

[2022-09-20 20:39] #89825 closed

[2022-09-21 04:55] jerryguowei commented on #52625
It's surprising that this feature is not backport to 7.17. 😞

[2022-09-21 05:34] Rishi-web opened #90177 "Tests using Mockito fail in IntelliJ"
### Elasticsearch Version

NA

### Installed Plugins

_No response_

### Java Version

JDK-17

### OS Version

MAC-OS

### Problem Description

@mark-vieira, I am still facing the issue with this maven settings while running in intelliJ IDE and JDK-17

[code]

Error :
[code]

[2022-09-21 07:34] javanna commented on #87969
@inqueue I see, thanks for clarifying. The proposal of this issue is to move field aliases to the runtime section, allow for more flexibility (another runtime field can be aliases, field aliases can then be removed), but without the use of scripting, meaning the actual implementation wouldn't be much different from the current one.

[2022-09-21 07:38] javanna commented on #89542
@devnamrits thanks, I've seen it, I will review it. It will take me a few days to get to it though, thanks for your patience.

[2022-09-21 08:26] devnamrits commented on #89542
Hi @javanna Thank you for your kind reply. Let me know if changes are required.
Also it would be great, meanwhile, if you can assign me some other issue. Would love to pick them up.

[2022-09-21 09:32] craigtaverner opened #90182 "Painless script support for Cartesian Points"
### Description

Early draft versions of the work to [Refactor GeoPoint and GeoShape with generics](https://github.com/elastic/elasticsearch/pull/89388) added some initial support for painless scripting. This was done by copying `GeoPointFieldScript` to `CartesianPointFieldScript` and then extracting common code into `AbstractPointFieldScript`. This work was dropped because it conflicted with othe

[2022-09-21 09:33] elasticsearchmachine commented on #90182
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-21 09:33] elasticsearchmachine commented on #90182
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-21 09:36] craigtaverner commented on #90160
@not-napoleon points out that a hex grid aggregation would actually work very well for cartesian data, and is in fact easier than geographic data. My comments above about it not being possible were based on incorrectly equating hex-grid with _H3_. In reality, the H3 model is just a way of mapping a _most hex grid (some pentagons)_ onto a sphere, while for cartesian data a pure hex grid is actually

[2022-09-21 09:43] csoulios opened #90183 "[CI] MixedClusterClientYamlTestSuiteIT test {p0=health/10_basic/cluster health basic test} failing"
### CI Link

https://gradle-enterprise.elastic.co/s/sh2jvmtofx3fq

### Repro line

./gradlew ':qa:mixed-cluster:v8.4.3#mixedClusterTest' -Dtests.class="org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT" -Dtests.method="test {p0=health/10_basic/cluster health basic test}" -Dtests.seed=507297E8B8DDE008 -Dtests.bwc=true -Dtests.locale=pl-PL -Dtests.timezone=US/Eastern -Druntime.java=17

#

[2022-09-21 09:44] elasticsearchmachine commented on #90183
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-21 10:03] #90022 closed

[2022-09-21 10:17] elasticsearchmachine commented on #90173
Pinging @elastic/es-search (Team:Search)

[2022-09-21 10:25] thecoop commented on #89692
Are there any situations where `_all` *should* change settings on system indices?

[2022-09-21 10:48] hrw commented on #85876
It is problem on each RHEL9 rebuild. Alma Linux, Rocky Linux, Euro Linux etc.

[2022-09-21 11:43] ChrisHegarty commented on #89692
@gwbrown @williamrandolph

[2022-09-21 12:00] #90144 closed

[2022-09-21 12:04] yrodiere opened #90187 "Match query on date property with format 'uuuu' (year) acts as a range query for years below 1971"
### Elasticsearch Version

8.4.2

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

`Linux yrodiere.redhat 5.19.8-200.fc36.x86_64 #1 SMP PREEMPT_DYNAMIC Thu Sep 8 19:02:21 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`

### Problem Description

Since Elasticsearch 8.4.2, running a `match` query on a field of type `date` with format `uuuu` will give strange results for ye

[2022-09-21 12:24] hendrikmuhs commented on #88203
Finally, added debug logging found somthing:

[code]

[2022-09-21 12:50] yrodiere commented on #90187
So, actually, this "range" thing probably affects all years, because years *above* 1971 will never get a match... That makes me think Elasticsearch tries to match e.g. range `[1971, 1970]` for year `1971`, which never matches anything.

[2022-09-21 13:14] thecoop commented on #89692
I've been unable to reproduce this on 8.3.2 or latest 8.5.0, the settings command completes successfully with the data & transforms in place.

[2022-09-21 14:47] grcevski commented on #89692
@thecoop, perhaps the missing step is getting 7.17 going first, upgrading to 8.3 and then trying?

[2022-09-21 15:01] #32189 closed

[2022-09-21 15:19] thecoop commented on #89692
I added some sample data from kibana to a running 7.17.6, added a random transform, then copied the data directory into a 8.5 snapshot directory, started it up, then ran the update index command

[2022-09-21 15:23] andreidan commented on #89664
Closed by #89982 (we decided to return both the node id and node name under `cluster_formation`)

[2022-09-21 15:23] #89664 closed

[2022-09-21 15:29] gwbrown commented on #89692
If you explicitly set `expand_wildcards=open,hidden` (or `all`). I don't expect this to be used a lot, but I could see it being useful for things like e.g. clearing write blocks.

[2022-09-21 15:57] pgomulka commented on #89806
we concluded that the scanning logic (using asm) is not needed in server. we will create a cli plugin/gradle plugin to do the scanning at build time/install time

[2022-09-21 15:57] #89806 closed

[2022-09-21 17:31] masseyke commented on #77973
@joegallo it looks like we can double-decrement in CompoundProcessor doesn't it? Wouldn't that happen if an exception was thrown somewhere in https://github.com/elastic/elasticsearch/blob/v7.17.4/server/src/main/java/org/elasticsearch/ingest/CompoundProcessor.java#L141-L147?

[2022-09-21 17:35] mciricean opened #90195 "Reindex - provide option to specify batch size in bytes"
### Description

The current reindex API provides only the batch size as number of documents in a batch, but documents size can vary and as of now i have to account for worst case scenario (getting largest docs in one batch) to be able to finish the reindex task.

 `size`
    {Optional, integer) The number of documents to index per batch. Use when indexing from remote to ensure that the batches fi

[2022-09-21 18:16] elasticsearchmachine commented on #62952
Pinging @elastic/es-search (Team:Search)

[2022-09-21 18:16] elasticsearchmachine commented on #59132
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-21 18:16] elasticsearchmachine commented on #63005
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-21 18:17] elasticsearchmachine commented on #58952
Pinging @elastic/es-search (Team:Search)

[2022-09-21 18:17] elasticsearchmachine commented on #63915
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-21 18:17] elasticsearchmachine commented on #64053
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-21 18:17] elasticsearchmachine commented on #61771
Pinging @elastic/es-search (Team:Search)

[2022-09-21 18:17] elasticsearchmachine commented on #61958
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-21 18:17] elasticsearchmachine commented on #64539
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-21 18:17] elasticsearchmachine commented on #64852
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-21 18:17] elasticsearchmachine commented on #65494
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-21 18:28] arteam opened #90197 "[CI] DownsampleActionSingleNodeTests » testCannotRollupWhileOtherRollupInProgress"
### CI Link

https://gradle-enterprise.elastic.co/s/mg5vx5m3brp52/tests/:x-pack:plugin:rollup:test/org.elasticsearch.xpack.downsample.DownsampleActionSingleNodeTests/testCannotRollupWhileOtherRollupInProgress?top-execution=1

### Repro line

`./gradlew ':x-pack:plugin:rollup:test' --tests "org.elasticsearch.xpack.downsample.DownsampleActionSingleNodeTests.testCannotRollupWhileOtherRollupInProgress

[2022-09-21 18:29] elasticsearchmachine commented on #90197
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-21 18:29] elasticsearchmachine commented on #90177
Pinging @elastic/es-delivery (Team:Delivery)

[2022-09-21 18:30] elasticsearchmachine commented on #90168
Pinging @elastic/es-ql (Team:QL)

[2022-09-21 18:30] elasticsearchmachine commented on #90187
Pinging @elastic/es-search (Team:Search)

[2022-09-21 18:43] grcevski commented on #88795
After few discussions we have decided to take the following approach:

1. We'll create an API that will collect the raw metric files from the target systems and supply them via the new chunked streaming API.
2. The diagnostic tooling will be modified to collect all these per-node stats/metrics files
3. We'll write scripts/tooling (which will be maintained separately) that will digest the per node

[2022-09-21 19:10] grcevski commented on #88517
Here are my thoughts on the current theory behind what's happening - in short it's a limitation/bug in our circuit breaker ability at the moment:

- G1 reserves a portion of the heap for humongous objects, however for a high enough rate of humongous object allocations, it will have no choice but to move these objects to the 'old space' or the tenured area. The 'old space' is what we effectively co

[2022-09-21 20:23] luanguimaraesla commented on #72182
Hi all,

I couldn't find any documentation regarding the index migration. Is there something I can read about it?

[2022-09-21 21:05] VimCommando commented on #88795
As a member of the support organization, I respectfully disagree. Having standardized metrics available in our diagnostics gives us a huge advantage when it comes to training and knowledge sharing. It cuts down the number of times we have to preface guidance with _"Well, if you're lucky enough to have [fill in the blank] you can..."_

Getting raw outputs to Linux-native commands, especially on som

[2022-09-21 22:24] grcevski commented on #88795
I think we'll be able to get somewhere with various existing community tools, but we won't be able to get all the way to replicate what the Linux tools produce as output. In the example above we won't be able to run `sar` to get the output, we don't allow Elasticsearch to launch external processes. Instead we'll be able to get the file that `sar` uses to produce the output (which is then fed to `k

[2022-09-21 23:14] ywangd opened #90205 "Native users can disable themselves with PutUser API"
We prevent native users from disabling themselves with the [DisableUser API](https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-disable-user.html).

https://github.com/elastic/elasticsearch/blob/369dca3b923f0f07ce69b26b5a1b7a5dcc1ac10f/x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/action/user/TransportSetEnabledAction.java#L52-L53

But the same che

[2022-09-21 23:14] elasticsearchmachine commented on #90205
Pinging @elastic/es-security (Team:Security)

[2022-09-22 00:34] elasticsearchmachine commented on #90195
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-22 00:35] elasticsearchmachine commented on #90152
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-22 02:20] ladygege opened #90207 "inner_hit returned incorrect results"
### Elasticsearch Version

6.4.3

### Installed Plugins

_No response_

### Java Version

1.8.0_191

### OS Version

x86_64 x86_64 x86_64 GNU/Linux

### Problem Description

my question： My nested query is in the first should, but looking at the document that inner_hit hits the second should, what should I do to make nested only hit the first should, the inner_hit I expect is empty, in a query

##

[2022-09-22 06:22] weizijun commented on #90197
hi, @csoulios this PR fixed the failed test: https://github.com/elastic/elasticsearch/pull/90209

[2022-09-22 07:04] luigidellaquila commented on #90168
I see this was flagged as QL/EQL issue, but it seems more a Search related issue. I'm changing the labels accordingly

[2022-09-22 07:04] elasticsearchmachine commented on #90168
Pinging @elastic/es-search (Team:Search)

[2022-09-22 07:18] Luegg opened #90210 "[CI] UpdateThreadPoolSettingsTests testScalingExecutorType failing"
The test failed some time ago in a similar way: https://github.com/elastic/elasticsearch/issues/73208

**Build scan:**
https://gradle-enterprise.elastic.co/s/jphsuhmod4ssu/tests/:server:test/org.elasticsearch.threadpool.UpdateThreadPoolSettingsTests/testScalingExecutorType

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.threadpool.UpdateThreadPoolSettingsTests.testScal

[2022-09-22 07:19] elasticsearchmachine commented on #90210
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-22 07:39] DaveCTurner commented on #88795
To add: in many cases the raw data comprise cumulative statistics, and the tools mentioned above work by collecting these data repeatedly over a period of time and computing deltas. I don't think it's appropriate for Elasticsearch's stats APIs to do that kind of work: today we prefer to expose raw cumulative statistics and I would prefer that we continue to do so. To simulate the tools mentioned a

[2022-09-22 07:50] gmarouli opened #90212 "Refactor Disk health indicator"
During the development and review process of the disk health indicator we noticed that it was hard to understand. Since we learnt a lot from the first round of development we want to go through the code one more time and restructure it.

[2022-09-22 07:52] gmarouli opened #90213 "Change disk health status calculation to give priority to GREEN over UNKNOWN"

[2022-09-22 08:15] elasticsearchmachine commented on #90212
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-22 08:28] rudolf opened #90215 "Get Index API returns no indices for a brief amount of time until indices are recovered into cluster_state"
Tested on `8.5.0-SNAPSHOT` but I've also observed this behaviour on 8.4.1 clusters on Cloud.

## 1. Create a lot of indices
[code]

## 2. Create a service token (seems to avoid 401 errors while .security is being restored?)
[code]

## 3. Start Elasticsearch and start polling the Get Index API:
[code]

## Results:
[code]

When Kibana is started at the same time as Elasticsearch, this behaviour caus

[2022-09-22 08:32] Luegg commented on #71866
Looks like another one in `composeUp`: https://gradle-enterprise.elastic.co/s/7lstizaia3sfo/console-log?task=:test:fixtures:geoip-fixture:composeUp

[2022-09-22 08:45] jguay opened #90216 "Elasticsearch not booting when upgrading to 8.4 with plugin pre-installed"
### Elasticsearch Version

8.4.2

### Installed Plugins

mapper-size

### Java Version

_bundled_

### OS Version

Any

### Problem Description

When upgrading to 8.4.x (from 8.3.3 or lower) whereby elasticsearch on premise had a plugin installed, the node won't boot with this error in the logs `fatal exception while booting Elasticsearch
java.lang.IllegalArgumentException: Unknown properties for

[2022-09-22 09:04] andreidan opened #90219 "[HealthAPI] Disk indicator is not reporting affected indices"
### Elasticsearch Version

8.5

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Darwin

### Problem Description

The disk indicator is currently diagnosing both blocked indices and nodes that run out of disk space.
However, it's only the affected nodes that are reported as affected as part of the `affected_resources` field.
This proposes we fix this by reporting

[2022-09-22 09:05] elasticsearchmachine commented on #90219
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-22 09:19] Luegg opened #90222 "[CI] FileSettingsServiceIT testErrorSaved failing"
Some more earlier failures with the same issue (all in Windows builds):
https://gradle-enterprise.elastic.co/s/ic3vf76vlpiho
https://gradle-enterprise.elastic.co/s/7nsuvadgg5bbm
https://gradle-enterprise.elastic.co/s/7kcrezoswrgdg

**Build scan:**
https://gradle-enterprise.elastic.co/s/whgmtqrtovpgu/tests/:server:internalClusterTest/org.elasticsearch.reservedstate.service.FileSettingsServiceIT/tes

[2022-09-22 09:20] elasticsearchmachine commented on #90222
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-22 09:24] DaveCTurner commented on #90215
The get-index action itself checks that the cluster is properly recovered before responding:

https://github.com/elastic/elasticsearch/blob/e15d5221e7634c0d989bf66f23ab6891fce8f15c/server/src/main/java/org/elasticsearch/action/support/master/info/TransportClusterInfoAction.java#L50-L54

However, the security layer uses a different cluster state to resolve the indices, and it does this first so it

[2022-09-22 09:41] andreidan opened #90223 "Health API chunked response"
### Description

The health API response can become a few MBs (2-3MB if 50K indices are affected).

In less extreme situations the response can be in the 10s/100s of KB.

It might be worthwhile looking into chunking its response (this might provide clients with a better experience too)

[2022-09-22 09:41] elasticsearchmachine commented on #90223
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-22 10:11] salvatore-campagna opened #90226 "Downsamplig performance analysis and improvement"
### Description

We would like to measure performances of downsampling operations using Rally. For this purpose we need to include a new challenge to the existing `tsdb` Rally track. The new challenge will measure latency for a limited set of downsampling operations using different values for the `fixed_interval` parameter. As part of the analysis we need to collect JFR recordings and flame graphs

[2022-09-22 10:11] elasticsearchmachine commented on #90226
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-22 10:15] salvatore-campagna commented on #90226
Attaching flame graph collected while running two downsample operations:
* `downsample-1h`: using `fixed_interval: 1h`
* `downsample-1d`:using `fixed_interval: 1d`

[2022-09-22 10:19] pquentin commented on #89839
For reference, RFC 2616 was obsoleted by [RFC 7230](https://datatracker.ietf.org/doc/html/rfc7230) which states in [Section 4.1.2](https://datatracker.ietf.org/doc/html/rfc7230#section-4.1.2):

The use of "MAY" means this feature is optional, so leaving it out is not a bug. And indeed, the http.client, urllib3, requests, aiohttp and httpx Python libraries do not currently support trailers. (I'm no

[2022-09-22 10:21] vaimer commented on #11322
+1 it will be very useful

[2022-09-22 10:25] salvatore-campagna commented on #90226
As a result of analyzing both the JFR recording and the flame graph I see two improvements which are worth to work on:
1. making sure we don't decode keyword fields (UTF) and just use the `BytesRef`
2. making sure we replace hash map access and iteration with a suitable data structure

Other than that, time is spent reading doc values which is expected.

[2022-09-22 10:34] gmarouli opened #90228 "[CI] MixedClusterClientYamlTestSuiteIT test {p0=nodes.stats/11_indices_metrics/indices mappings exact count test for indices level} failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/dhonuoi32kmdq/tests/:qa:mixed-cluster:v8.5.0%23mixedClusterTest/org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT/test%20%7Bp0=nodes.stats%2F11_indices_metrics%2Findices%20mappings%20exact%20count%20test%20for%20indices%20level%7D

**Reproduction line:**
`./gradlew ':qa:mixed-cluster:v8.5.0#mixedClusterTest' -Dtests.class="org.elas

[2022-09-22 10:34] elasticsearchmachine commented on #90228
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-22 10:56] sharmasiddarth commented on #82825
@javanna I would like to start working on this issue, is this issue still open ?

[2022-09-22 10:59] tlrx commented on #84385
We discussed this in a small group today and we agreed that indices deletions has various issues today that are worth to be addressed together. Those issues and a proposed solution are well captured in #74149, so we're going to close this issue and the linked pull request.

[2022-09-22 10:59] #84385 closed

[2022-09-22 11:04] tlrx commented on #61284
Closed in favor of #74149

[2022-09-22 11:04] #61284 closed

[2022-09-22 11:32] priyaSmartshore opened #90251 "Is there any way to delete a document as whole using painless script. Say field value is abc and if it get matched to an array value =abc , then the document in which abc is present should get deleted , assume abc as unique value only"

[2022-09-22 11:48] pxsalehi commented on #90197
I have muted it also on the 8.5 branch as well.

[2022-09-22 12:26] pxsalehi commented on #88203
Failed again here: https://gradle-enterprise.elastic.co/s/cejfb3rldrw5q/tests/:x-pack:plugin:yamlRestTest/org.elasticsearch.xpack.test.rest.XPackRestIT/test%20%7Bp0=transform%2Ftransforms_start_stop%2FTest%20start%20transform%7D?top-execution=1

[2022-09-22 12:31] salvatore-campagna commented on #90226
Downsampling the same source index using 1m fixed intervals took about 1.5 hours producing an index with about &m documents. Attaching JFR recording and flames graph.

[profile-9c51f1f9-816b-4fa7-8739-aa140dd6d3e6.jfr.zip](https://github.com/elastic/elasticsearch/files/9625658/profile-9c51f1f9-816b-4fa7-8739-aa140dd6d3e6.jfr.zip)

[downsample-profile-9c51f1f9-816b-4fa7-8739-aa140dd6d3e6.html.zip](

[2022-09-22 12:33] pxsalehi opened #90255 "[CI] XPackRestIT test {p0=transform/transforms_start_stop/Test start transform} failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/cejfb3rldrw5q/tests/:x-pack:plugin:yamlRestTest/org.elasticsearch.xpack.test.rest.XPackRestIT/test%20%7Bp0=transform%2Ftransforms_start_stop%2FTest%20start%20transform%7D

**Reproduction line:**
`./gradlew ':x-pack:plugin:yamlRestTest' --tests "org.elasticsearch.xpack.test.rest.XPackRestIT.test {p0=transform/transforms_start_stop/Test start tr

[2022-09-22 12:41] kingherc commented on #54354
If it also needs to pass the deprecation cycle, sounds more than tech debt, since it seems user-facing and will need some time to handle. Maybe we can add the >enhancement label as well, will do so (similar to https://github.com/elastic/elasticsearch/issues/84563 ), feel free to alter if it's a bad move.

[2022-09-22 12:52] Luegg commented on #90210
see https://github.com/elastic/elasticsearch/pull/90214 for the potential fix

[2022-09-22 12:55] Luegg opened #90258 "[CI] DownsampleActionSingleNodeTests testCannotRollupWhileOtherRollupInProgress failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/kmwjqagyi7e72/tests/:x-pack:plugin:rollup:test/org.elasticsearch.xpack.downsample.DownsampleActionSingleNodeTests/testCannotRollupWhileOtherRollupInProgress

**Reproduction line:**
`./gradlew ':x-pack:plugin:rollup:test' --tests "org.elasticsearch.xpack.downsample.DownsampleActionSingleNodeTests.testCannotRollupWhileOtherRollupInProgress" -Dte

[2022-09-22 12:56] Luegg commented on #90258
duplicate of https://github.com/elastic/elasticsearch/issues/90197 closing this one

[2022-09-22 12:56] #90258 closed

[2022-09-22 12:58] hendrikmuhs commented on #90255
Same root cause as #88203:
[code]

[2022-09-22 13:43] romseygeek opened #90260 "Clarify the contract for `MappedFieldType#isAggregatable()`"
### Description

The result of calling `MappedFieldType#isAggregatable()` is passed through to field caps and used by Kibana to determine whether or not a field supports aggregations.  However, it is only used in conjunction with the field type itself, and so field types that don't support any aggregations can freely return either `true` or `false` here.  We should document this more clearly, and

[2022-09-22 13:43] elasticsearchmachine commented on #90260
Pinging @elastic/es-search (Team:Search)

[2022-09-22 13:46] jpountz opened #90261 "Can date_histograms better take advantage of data locality?"
### Description

Date histograms are one of Elasticsearch's most used aggregations. Given the way we index into data streams, it's quite likely for documents with similar `@timestamps` to be clustered together.

Could we take advantage of this to speed up date histograms (or effectively ranges, since date histograms ofter rewrite to ranges) by first checking whether the current doc falls within th

[2022-09-22 13:47] elasticsearchmachine commented on #90261
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-22 14:10] javanna commented on #88172
This one has not failed in the last month. I was not able to reproduce, and by looking at it, the failure was caused by a missing acknowledgement for a close index API call, which indicates something went wrong at the cluster level. It does not look like there is something wrong specifically for this test, closing.

[2022-09-22 14:10] #88172 closed

[2022-09-22 14:24] gmarouli opened #90266 "When reporting impacts on different roles, elaborate on the type of impaired functionality per role."

[2022-09-22 14:42] smnschneider commented on #50071
Would be great to get this feature!

[2022-09-22 14:55] KoalaGeo commented on #90146
If making a web map using Leaflet or Openlayers they can be pointed at the TileJSON file to define the layer & bring in the tiles more simply:
- https://github.com/kartena/leaflet-tilejson#example
- https://openlayers.org/en/latest/examples/tilejson.html

[2022-09-22 15:17] kingherc commented on #86639
PR https://github.com/elastic/elasticsearch/pull/89807 got merged. But there is a remaining task in this ticket for "Update sizing guidance docs to refer to new stats". In the PR, we briefly updated the documentation, see it [here](https://www.elastic.co/guide/en/elasticsearch/reference/master/size-your-shards.html#field-count-recommendation) to say to consult the new `mappings` node stats for the

[2022-09-22 16:02] DaveCTurner commented on #86639
I'd like the guidance to be in terms of the stats we expose, and ideally include some instructions about how to obtain those stats (`GET _nodes/stats?filter_path=nodes.*.mappings.total_estimated_overhead*` I guess) and compare them to the overall heap size on each node (also available in nodes stats at some other `?filter_path`). I'd probably start from those instructions and then rework the surro

[2022-09-22 16:10] droberts195 opened #90270 "[ML] Add a field alias @timestamp for timestamp in .ml-anomalies* indices"
In ECS the standard field name for the primary timestamp of an index is `@timestamp`.

The `.ml-anomalies*` indices that store ML results predate ECS, so unfortunately do not adhere to this standard.  Instead their primary timestamp field is `timestamp`.

To make it easier to use ML results indices in contexts that expect ECS field names we should add a field alias `@timestamp` to our `.ml-anomali

[2022-09-22 16:11] elasticsearchmachine commented on #90270
Pinging @elastic/ml-core (Team:ML)

[2022-09-22 16:22] nik9000 commented on #90266
@gmarouli could you fill in a description here? I have no idea what this issue is about so I can't triage it.

[2022-09-22 16:23] nik9000 commented on #90251
This is a question for discuss.elastic.co . But _delete_by_query is probably what you want. A term query is going to be much faster than a scripted one.

[2022-09-22 16:23] #90251 closed

[2022-09-22 16:25] elasticsearchmachine commented on #90216
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-22 16:25] nik9000 commented on #90213
@gmarouli could you fill in a description here so I can triage this? I really can't tell what you are asking about.

[2022-09-22 16:32] Anaethelion opened #90272 "Wildcard expansion on `_update_by_query` for data streams"
### Elasticsearch Version

8.4.1

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Any

### Problem Description

Data streams can be individually targeted by update by query but wildcards don't seem to work.

ie: `/my-data-stream-*/_update_by_query` doesn't work while `/my-data-stream-1,my-data-stream-2/_update_by_query` does.

### Steps to Reproduce

Following th

[2022-09-22 16:57] kingherc commented on #86639
Thanks @DaveCTurner ! No worries, I can give it a try to give you a headstart, and then you can directly modify on the PR if you'd like :)

[2022-09-22 17:08] c-rolling opened #90273 "`siem.savedQueryRule` is not registered error."
### Elasticsearch Version

v.8.4.0

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Ubuntu 20.04.5 LTS

### Problem Description

**Expected Behavior:**
    Selecting a previously made "Saved Query Rule" opens up a pannel/page with details about that rule.

**Actual Behavior:**
    Selecting a previously made "Saved Query Rule" takes me to a new page with a error

[2022-09-22 17:50] henningandersen commented on #41273
I wonder if this issue is superseded by the tsdb project, which also aims to lower storage cost through index sorting, i.e., can we close this? It is also not clear to me in which cases we would enable such an offline (disruptive I think) merge.

[2022-09-22 18:11] dakrone commented on #41273
The overhead that Adrien mentioned notwithstanding, it seems like it would be nice to be able to make the tradeoff at a later time for at least a few reasons:
- TSDB limits the timestamps to within a single window.
- Index-time sorting allows sorting on multiple fields, whereas TSDB is more rigid in its sorting to be only by `@timestamp`.
- Not having to pay the index-time cost for sorting, but st

[2022-09-22 18:55] alexwlchan opened #90275 "“totalTermFreq must be at least docFreq” error after upgrading to 8.4.2"
### Elasticsearch Version

8.4.2 (in Docker)

### Installed Plugins

Whatever comes in the Elasticsearch Docker image

### Java Version

_bundled_ (`java -version` doesn't work inside the Docker image)

### OS Version

Whatever's in the Elasticsearch Docker image:

[code]

### Problem Description

We're seeing the following error from queries in Elasticsearch 8.4.2:

These are queries that worked

[2022-09-22 19:24] elasticsearchmachine commented on #90207
Pinging @elastic/es-search (Team:Search)

[2022-09-22 19:25] elasticsearchmachine commented on #90275
Pinging @elastic/es-search (Team:Search)

[2022-09-22 19:26] nik9000 commented on #90275
I believe the bug is with cross_fields. @jtibshirani might be able to confirm. I'll see if I can reproduce and get a stack trace.

[2022-09-22 19:28] alexwlchan commented on #90275
(Warning: conjecture based on minimal understanding of the Elasticsearch codebase)

Going off the cross_fields as a possible clue, I had a look at the [commits between 8.4.1 and 8.4.2](https://github.com/elastic/elasticsearch/compare/v8.4.1...v8.4.2).

59f96a2 stood out to me, in particular this line in the commit message:

If that's true, and I’ve understood it correctly, then combined with this

[2022-09-22 19:34] nik9000 commented on #90275
Thanks for the wonderful reproduction. I believe you've tracked it down properly. I'll grab a stack trace from your wonderful reproduction and we'll have a smoking gun. I mean `cross_fields` is pretty much a smoking gun, but, yeah, one moment!

[2022-09-22 19:47] nik9000 commented on #90275
Ok! Indeed. I can reproduce it against the head of the `8.4` branch. With assertions enabled it crashes here:
[code]

[2022-09-22 19:51] nik9000 commented on #90275
That's *right* there next to the suspected commit. I'll confirm, but, that's looking likely.

So! We'll fix it. But in the mean time, I expect you can work around this by removing `cross_fields`. That's not great from a search perspective though.

[2022-09-22 19:53] original-brownbear opened #90277 "Race conditions in replication of aliases via CCR"
The way that CCR replicates aliases in `org.elasticsearch.xpack.ccr.action.ShardFollowNodeTask#innerUpdateAliases` is broken in corner cases due to its racy nature.

The shard follower tasks run on data nodes but try to do a consistent cluster state update of sorts:
1. They list of aliases for their index by checking the locally applied cluster state
2. Compare those aliases to the desired state f

[2022-09-22 19:53] elasticsearchmachine commented on #90277
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-22 19:57] jtibshirani commented on #90275
@alexwlchan thank you for reporting this and for the clear reproduction! I'm working on a fix now.

[2022-09-22 20:59] mayya-sharipova commented on #89998
The failure doesn't reproduce for me locally. The failure happened only once in the last 28 days:

<img width="861" alt="image" src="https://user-images.githubusercontent.com/5738841/191849168-d14c8c96-3991-4146-84c4-a7bc74baee16.png">

---

The failure itself is not related to the test, but non-availability of a shard:
[code]

So looks like this is one off test failure happened because of a lost

[2022-09-22 20:59] #89998 closed

[2022-09-22 21:07] gmarouli commented on #90213
oh sorry, yes, I will triage it.

[2022-09-22 21:07] elasticsearchmachine commented on #90213
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-22 21:08] elasticsearchmachine commented on #90266
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-22 21:08] gmarouli commented on #90266
@nik9000 , I triaged it, it's a placeholder for now and I will add more asap.

[2022-09-22 22:29] jtibshirani commented on #90275
I uploaded a fix here: https://github.com/elastic/elasticsearch/pull/90278. I tried running the reproduction script, and the query now completes successfully.

The fix will be available in 8.4.3. The bug was also present in 7.17.7 and 8.5.0, but we caught it early enough that it'll be fixed before those are released.

[2022-09-23 04:39] Leaf-Lin opened #90281 "CCR auto_follow to follow both newly created and existing indices"
### Description

When users creates a ccr auto_follow pattern, users may intuitively expect all indices matching the pattern to be replicated on the follower. Unfortunately, as CCR auto_follow API works as a separate process that picks up new indices to follow [^1], one requires to additional steps to replicate existing indices:
- use individual `_ccr/follow` to follow existing indices or
- use th

[2022-09-23 04:40] elasticsearchmachine commented on #90281
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-23 06:56] geosmart commented on #65213
`org.elasticsearch.client.RestClientBuilder` have  default socket  timeout,
[code]

I use the default config.
why  the client  block indefinitely while we have config the socket timeout. why not just throw a timeout exception?

[2022-09-23 07:48] martijnvg opened #90283 "Centralize aggregations into a module"
This is a meta issue tracks to work to be done for centralising most aggregations in a dedicated module.

The main benefits for centralizing aggregations are:

- Building and testing all aggregations is easier and quicker. Server module doesn't need to be build in order to build aggregations. Running something like `./gradlew -p modules/aggregations check` will be most of time sufficient to ensure

[2022-09-23 07:48] elasticsearchmachine commented on #90283
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-23 07:52] javanna commented on #90129
We discussed this with the team.

Our initial stance on this is that Elasticsearch is not a proxy, and CCS exposes functionalities that are not easily implemented in the client code (e.g. merging, sorting and reducing search results coming from different clusters). Ideally the client redirects the get calls to the specific clusters. That said, the client does not always have the http addresses of

[2022-09-23 07:53] elasticsearchmachine commented on #90129
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-23 07:58] dgieselaar commented on #90129
@javanna One thing I didn't mention is that the ids are coming from aggregations on other documents, I'm not sure how we can identify what cluster we'd need to redirect to in any case.

[2022-09-23 08:28] ywelsch commented on #87926
In practice this is mitigated by dynamic mappings and the total fields limit that is eagerly checked during parsing (see #73713). As that is a soft-limit, however, and the general eagerness to increase this soft limit to values that can then cause stack overflows , we should have another protection. Fortunately such an object depth limit exists already, it is just not eagerly checked during parsin

[2022-09-23 08:34] iverase commented on #22564
I just run the following commands in Elasticsearch 8.4.2:

[code]

And it returns:

[code]

Therefore I am closing this issue as It is fixed.

[2022-09-23 08:34] #22564 closed

[2022-09-23 08:38] thecoop commented on #86239
https://github.com/elastic/elasticsearch/pull/90006 caused a performance drop, needs to be thought about more

[2022-09-23 08:41] romseygeek commented on #89309
I think we can do this relatively simply by replacing the call to `MapperService.merge()` with a call to `MapperService.updateMapping()`, which already has some sanity checks to ensure that we don't needlessly apply updates when the mapping hasn't actually changed.

[2022-09-23 08:45] tlrx opened #90286 "[CI] GraphTests testTimedoutQueryCrawl failing"
Possibly related to #88946

**Build scan:**
https://gradle-enterprise.elastic.co/s/pwbgrlfnftzlk/tests/:x-pack:plugin:graph:internalClusterTest/org.elasticsearch.xpack.graph.test.GraphTests/testTimedoutQueryCrawl

**Reproduction line:**
`./gradlew ':x-pack:plugin:graph:internalClusterTest' --tests "org.elasticsearch.xpack.graph.test.GraphTests.testTimedoutQueryCrawl" -Dtests.seed=9F489852FAE03DAF

[2022-09-23 08:46] elasticsearchmachine commented on #90286
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-23 08:55] tlrx opened #90288 "[CI] RoleMappingFileSettingsIT testRoleMappingFailsToWriteToStore failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/xxc4tgiv3w4lu/tests/:x-pack:plugin:security:internalClusterTest/org.elasticsearch.integration.RoleMappingFileSettingsIT/testRoleMappingFailsToWriteToStore

**Reproduction line:**
`./gradlew ':x-pack:plugin:security:internalClusterTest' --tests "org.elasticsearch.integration.RoleMappingFileSettingsIT.testRoleMappingFailsToWriteToStore" -Dtests.

[2022-09-23 08:55] elasticsearchmachine commented on #90288
Pinging @elastic/es-security (Team:Security)

[2022-09-23 08:55] tlrx opened #90289 "[CI] RoleMappingFileSettingsIT testErrorSaved failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/xxc4tgiv3w4lu/tests/:x-pack:plugin:security:internalClusterTest/org.elasticsearch.integration.RoleMappingFileSettingsIT/testErrorSaved

**Reproduction line:**
`./gradlew ':x-pack:plugin:security:internalClusterTest' --tests "org.elasticsearch.integration.RoleMappingFileSettingsIT.testErrorSaved" -Dtests.seed=7D1CDDA0A19FBE98 -Dtests.locale=be

[2022-09-23 08:56] elasticsearchmachine commented on #90289
Pinging @elastic/es-security (Team:Security)

[2022-09-23 09:21] elasticsearchmachine commented on #90272
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-23 09:24] elasticsearchmachine commented on #64197
Pinging @elastic/es-search (Team:Search)

[2022-09-23 09:25] alexwlchan commented on #90275
Thanks for the quick replies everyone! We've been able to reindex into a cluster running Elasticsearch 8.3 for now, and we'll wait for 8.4.3 before upgrading.

[2022-09-23 09:25] pquentin commented on #89839
Thanks for the clarification, this makes sense. :+1:

[2022-09-23 09:30] ywelsch commented on #86407
With PIT being favored over scroll these days, I'm wondering whether this is still worth addressing.

[2022-09-23 09:31] dliappis commented on #90273
Thanks very much for your interest in Elasticsearch.

This appears to be a Kibana question/bug report. Could you please create a new issue with the same content in the [Kibana repo](https://github.com/elastic/kibana/issues) instead? If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

I am going to close this iss

[2022-09-23 09:31] #90273 closed

[2022-09-23 09:33] elasticsearchmachine commented on #10626
Pinging @elastic/es-search (Team:Search)

[2022-09-23 09:34] elasticsearchmachine commented on #29653
Pinging @elastic/es-search (Team:Search)

[2022-09-23 10:22] albertzaharovits commented on #90215
I think David's assesment of the core issue causing the bug is correct.

Just to clarify the problem statement, is this correct @rudolf ?
**ES with Security enabled temporarily responds that indices do not exist while the cluster state is being recovered**.

The bug fix probably needs to implement a similar wait-for-state-recovery verification in the Security filter, but I'm not yet sure if the ch

[2022-09-23 10:32] cbuescher commented on #64197
Just tried to repro, this seems to be working okay now on 8.4.1, I also went back to 8.0.0 and 7.7.16 and both versions also give me:

[code]

which I think is what was expected here. Will close this issue for that reason.

[2022-09-23 10:32] #64197 closed

[2022-09-23 10:46] pugnascotia commented on #89340
@grcevski I ended up disabling the `:qa:apm` project entirely in #90291 due to issues with pulling the `8.6.0-SNAPSHOT` Kibana image (as in, a build problem means it isn't published yet). Going forwards, we need to work out:

   * Whether we need to use the same Kibana and Elastic Agent image versions as ES in these tests, or whether we can use the previous minor. This would protect us from post-r

[2022-09-23 10:56] rudolf commented on #90215
Correct.

The first think Kibana does is use the get indices API, but it also has many other interactions with cluster state like adding write blocks, cloning an index and adding/removing aliases through the aliases API. I don't know enough of the architecture to say what the implications might be, but I suspect e.g. cloning an index might also fail if the cluster state hasn't been recovered and t

[2022-09-23 11:36] kingherc commented on #90228
Let me take this one since I recently introduced this yaml test

[2022-09-23 11:51] salvatore-campagna commented on #88137
The issue has been fixed and re-opened by exalate, probably due to some issue while synching with Jira.

[2022-09-23 11:51] #88137 closed

[2022-09-23 11:54] elasticsearchmachine commented on #90228
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-23 11:57] kingherc commented on #90228
Could not reproduce it. Did not run many iterations, but in reviewing the erroneous response, I see that only 3 out of the 4 nodes have shards from the test's index, even though the test defines

[code]

I am not sure whether the replica was slower to allocate, and because I see in some other tests that they use 4 primary shards and 0 replicas, I believe this would be the solution to make sure tha

[2022-09-23 12:24] romseygeek commented on #86455
This is caused by https://github.com/apache/lucene/issues/11490 and will be fixed by https://github.com/apache/lucene/pull/11807, which will hopefully be included in an apache lucene release fairly soon and in a new elasticsearch version shortly afterwards.

[2022-09-23 12:33] romseygeek commented on #58613
Hi, `meta` has only ever been supported on leaf fields such as `long`.  We can clarify the documentation here though.

[2022-09-23 12:38] elasticsearchmachine commented on #58613
Pinging @elastic/es-search (Team:Search)

[2022-09-23 12:39] romseygeek commented on #73569
Fixed by #89041

[2022-09-23 12:39] #73569 closed

[2022-09-23 12:42] #89150 closed

[2022-09-23 12:56] droberts195 opened #90301 "[CI] XPackRestIT test {p0=transform/transforms_unattended/Test unattended put and start wildcard} failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/mc6mzbewge5rq/tests/:x-pack:plugin:yamlRestTest/org.elasticsearch.xpack.test.rest.XPackRestIT/test%20%7Bp0=transform%2Ftransforms_unattended%2FTest%20unattended%20put%20and%20start%20wildcard%7D

**Reproduction line:**
`./gradlew ':x-pack:plugin:yamlRestTest' --tests "org.elasticsearch.xpack.test.rest.XPackRestIT.test {p0=transform/transforms_

[2022-09-23 12:56] elasticsearchmachine commented on #90301
Pinging @elastic/ml-core (Team:ML)

[2022-09-23 13:56] romseygeek commented on #46914
This is a lucene issue, I've filed https://github.com/apache/lucene/pull/11808 to fix

[2022-09-23 13:56] elasticsearchmachine commented on #46914
Pinging @elastic/es-search (Team:Search)

[2022-09-23 14:05] hendrikmuhs commented on #90301
Same root cause as https://github.com/elastic/elasticsearch/issues/88203

The bug is located in the transform scheduler, so unfortunately the same failure can happen in multiple places, it is not connected to a specific test scenario. Including this one we have 3 open issues with the same root cause. I will create a fix early next week.

NPE from the logs:
[code]

[2022-09-23 14:33] idegtiarenko opened #90305 "[CI] DiskHealthIndicatorServiceTests testNoBlockedIndicesAndRedAllRoleNodes failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/ckfejrxsufgne/tests/:server:test/org.elasticsearch.health.node.DiskHealthIndicatorServiceTests/testNoBlockedIndicesAndRedAllRoleNodes

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.health.node.DiskHealthIndicatorServiceTests.testNoBlockedIndicesAndRedAllRoleNodes" -Dtests.seed=3CFAB87D5232A052 -Dtests.locale=tr -D

[2022-09-23 14:33] elasticsearchmachine commented on #90305
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-23 14:50] DaveCTurner opened #90306 "Improve CCR tolerance of leader version > follower version"
CCR sometimes copies segment files from the leader to the follower, which requires the version of the follower cluster to be ≥ the version of the leader cluster. When using a bi-directional replication both clusters act as leader of some indices and follower of others. This means that to upgrade a bi-directional replication setup the user must first manually pause all CCR follow and auto-follow re

[2022-09-23 14:50] elasticsearchmachine commented on #90306
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-23 15:01] #75509 closed

[2022-09-23 15:06] #89608 closed

[2022-09-23 15:19] #58613 closed

[2022-09-23 15:30] grcevski opened #90308 "Re-enable :qa:apm project"
### Description

The `:qa:apm` project was disabled entirely in https://github.com/elastic/elasticsearch/pull/90291. We need to work out a better way to enable this back for future releases. Some ideas on how to do this can be found here:

https://github.com/elastic/elasticsearch/issues/89340#issuecomment-1256059879

[2022-09-23 15:31] elasticsearchmachine commented on #90308
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-23 15:31] grcevski commented on #89340
Thanks @pugnascotia, I've opened an issue to re-enable the project https://github.com/elastic/elasticsearch/issues/90308.

[2022-09-23 15:55] elasticsearchmachine commented on #18267
Pinging @elastic/es-search (Team:Search)

[2022-09-23 15:56] javanna commented on #18267
heya @akshaybhadange I just updated the labels, sorry but this is probably not a great one for external contributors due to its breaking nature. We may want to reconsider how to proceed with this issue.

[2022-09-23 16:03] thecoop commented on #89500
Just merged a fix for another race condition in this class, #90302. If this happens again we can reopen & take another look.

[2022-09-23 16:11] Madzik opened #90310 "afterKey not working with composite aggregation in Java API"
### Elasticsearch Version

8.4.1

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Any

### Problem Description

afterKey works with composite aggregation in Elasticsearch API, but doesn’t seem to work with Elasticsearch Java API – the same afterKey is returned in each subsequent response instead of being replaced by new afterKey each time.

Works -> new set of da

[2022-09-23 16:42] jtibshirani opened #90311 "Remove restrictions on flattened field keys"
Currently, the `flattened` field type does not allow keys to contain the `\0` character. This is because the field type uses `\0` internally as a separator. Some users use `flattened` with messy data that's outside their control, and run into this restriction. Here's an example from the transform feature, which adds the result of a terms aggregation to a `flattened` field: #75875.

Maybe we could

[2022-09-23 16:42] elasticsearchmachine commented on #90311
Pinging @elastic/es-search (Team:Search)

[2022-09-23 16:44] jtibshirani commented on #75875
I filed https://github.com/elastic/elasticsearch/issues/90311 to discuss removing the restriction in `flattened` fields. We probably won't get the chance to work on it in the near future. Feel free to comment there if you encounter other users struggling with this, so we can gauge the priority.

[2022-09-23 16:48] nik9000 commented on #90121
Confirmed on `main`. Here's the curl version in case anyone wants it:
[code]

And the error:
[code]

[2022-09-23 17:35] #90275 closed

[2022-09-23 17:59] #90222 closed

[2022-09-23 19:37] nik9000 commented on #90121
I've opened a PR that should fix it!

[2022-09-23 20:21] jtibshirani commented on #90173
@divit00 there are couple issues that could be causing the discrepancy:
* Looking at your searches, I don't see a `scroll` defined. Are your searches actually using `scroll`? It's a bit confusing, but searches are allowed to have a `slice` without a `scroll`.
* It looks like the data might be changing between searches. You can see this because the first slice has `skipped: 290` but the second one

[2022-09-23 20:23] 123joshuawu commented on #90121
Great thank you @nik9000! what version of elastic will the fix be available?

[2022-09-23 20:31] jtibshirani commented on #90207
Hello @ladygege , my understanding is that this is just how `inner_hits` works. Elasticsearch is not able to determine exactly what 'should' clause matched, and understand that it should exclude those inner hits.

If you have more questions, please head over to the [Elastic discuss forums](https://discuss.elastic.co/). We try to keep GitHub issues focused on bug reports and development discussions

[2022-09-23 20:31] #90207 closed

[2022-09-23 20:33] elasticsearchmachine commented on #51720
Pinging @elastic/es-search (Team:Search)

[2022-09-23 20:56] jtibshirani commented on #88821
@mayya-sharipova maybe we can close this one out since we decided to go with cluster stats instead (https://github.com/elastic/elasticsearch/pull/90176) ?

[2022-09-23 20:59] divit00 commented on #90173
Hello @jtibshirani

Sorry, scroll was omitted when i was replacing the indexname for posting it. Running it again :

Normal Search:

[code]

**Normal search response**

[code]

`Sliced Scroll 1`

[code]

Sliced Scroll 1 Response:

[code]

Slice Scroll 2:

[code]

**Sliced Scroll 2 Response:**

[code]

Today the counts are different but still don't add up to normal search. Another thing, I noticed

[2022-09-23 21:00] jtibshirani commented on #51720
We haven't been able to make progress reproducing and debugging this. Are people still seeing the issue pop up? If so could you please comment with the Elasticsearch version and some details of the CCS set-up?

[2022-09-23 21:07] grcevski commented on #90216
Hi @jguay, so based on the support case, we will need to add a deprecation warning as well as documentation on how to remove the old plugin.

[2022-09-23 21:08] pacisauctor commented on #32895
how do you resolve this issue?

[2022-09-23 21:22] divit00 commented on #90173
FYI, removing the sort also didn't help.

For 2 slices, `213954 + 220974` = `434928`

[2022-09-23 21:39] masseyke commented on #90305
I just ran into this one in a PR build. I thought I'd submit a PR for this one, but it's not as straightforward as I'd assumed so I'll leave it for @gmarouli and @andreidan. The problem is that we're putting indices on random nodes, and sometimes there are no indices on any of the RED nodes. Even though the node is RED and has a data role, we're not returning an ingest-related impact because there

[2022-09-23 21:48] nik9000 commented on #90121
I've got it targeted at 8.6.0 and 8.5.1 but it depends on how reviews go.

[2022-09-23 21:53] nik9000 commented on #86407
If we're actively working to move off of scroll that's probably fine. Do we have similar PIT limits? I do think we'd have to, say, migrate reindex off of scroll and onto PIT before I'd feel good about ignoring this.

[2022-09-23 22:12] elasticsearchmachine commented on #44981
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-23 22:45] jtibshirani commented on #90173
@divit00 this behavior indeed seems off, given the data is not changing. The fact that the two searches show different `skipped` values is surprising to me. It might be challenging for us to debug, since it only reproduces with certain index configurations.

I'm also curious if you've tried using [point-in-time views](https://www.elastic.co/guide/en/elasticsearch/8.4/current/point-in-time-api.html

[2022-09-23 22:52] mitar commented on #83101
So any update on this one?

[2022-09-23 23:35] jtibshirani opened #90323 "Make sure ANN searches are cancellable"
Currently if you provide an ANN search using the `knn` search section, the search doesn't respect cancellation. This is because ANN searches use their own Lucene data structures that aren't covered by `ExitableDirectoryReader`.

This class is forked from Lucene, and in Lucene's version we recently added fine-grained cancellation for ANN search. So I think we just need to fold in the changes to the

[2022-09-23 23:36] elasticsearchmachine commented on #90323
Pinging @elastic/es-search (Team:Search)

[2022-09-24 02:43] qiujun623 opened #90324 "Master node return a error when Elastic upgrade from 6.8 to 7.10"
When I upgraded Elastic to 7.10, the master node completed normally. After the Work node was upgraded, the master log showed the following error msg.  When I checked cluster health, I found that AVTIVE_SHARDS_PERCENT was pending at 81%:
`
{"error":{"root_cause":[{"type":"action_not_found_transport_exception","reason":"No handler for action [cluster:admin/xpack/enrich/coordinator_stats[n]]"}],"type

[2022-09-24 06:37] divit00 commented on #90173
Yes, PIT with search_after works fine.  In fact I came to know about the issue while comparing the performance between the two.

[2022-09-24 07:40] DaveCTurner commented on #90324
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). Specifically, both of the versions involved are long past [EOL](https://www.elastic.co/support/eol) and no longer supported so there's no action for the dev team to take here. If you can sto

[2022-09-24 07:40] #90324 closed

[2022-09-24 09:26] andreidan commented on #90305
I think if a data node is passed a watermark (high or flood) ingest can be reported as affected (irrespective of indices blocks). I think this will simplify reasoning about the impacts and the code.

[2022-09-24 10:11] andreidan opened #90327 "[HealthAPI] Shards availability indicator doesn't report diagnosis when disk is out of space"
### Elasticsearch Version

8.4, 8.5, 8.6

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Darwin

### Problem Description

The shards availability indicator should always be reporting diagnosis when its status is RED/YELLOW.
However, when an index is on a data node that runs out of disk space it will report RED but no diagnosis.

### Steps to Reproduce

Have mult

[2022-09-24 10:11] elasticsearchmachine commented on #90327
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-25 10:21] kingherc commented on #90158
This has been showing frequently in last 7 days. I believe the solution of https://github.com/elastic/elasticsearch/issues/89867 which was just merged may solve this as well. I will monitor the related build failures in next 7 days to see if it was solved.

[2022-09-25 10:21] kingherc commented on #90158
Oh I may need to re-enable the test, will make a PR for it.

[2022-09-26 06:30] #67102 closed

[2022-09-26 07:00] #90197 closed

[2022-09-26 07:21] ywangd commented on #90289
@grcevski The error message suggests the failure is related to file settings other than role mapping definitions. It does not reproduce locally. Smells like racing. Do you mind to take a look? Thanks!

[2022-09-26 07:52] DaveCTurner opened #90334 "Hot threads should treat `other=` time on transport workers as idle time"
Transport worker threads should basically always be in state `RUNNABLE` which means that today they are reported by the hot threads API as 100% hot even when completely idle:

[code]

This is misleading even to experienced engineers, and we have fielded rather a large number of cases and questions that focus inappropriately on this output. There's [docs on the subject](https://www.elastic.co/guide

[2022-09-26 07:52] elasticsearchmachine commented on #90334
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-26 08:02] kingherc commented on #90158
I just tried to reproduce this, and it still fails in main. So the fix for https://github.com/elastic/elasticsearch/issues/89867 does not seem related. I will handle this in due time.

[2022-09-26 08:03] #90228 closed

[2022-09-26 08:44] kingherc opened #90336 "[CI] ScalingThreadPoolTests testScalingThreadPoolConfiguration failing"
This seems related to PR https://github.com/elastic/elasticsearch/pull/90214 so marking it for same labels & team.

**Build scan:**
https://gradle-enterprise.elastic.co/s/5ugkfx2zhq7ss/tests/:server:test/org.elasticsearch.threadpool.ScalingThreadPoolTests/testScalingThreadPoolConfiguration

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.threadpool.ScalingThreadPoolTest

[2022-09-26 08:44] elasticsearchmachine commented on #90336
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-26 08:45] kingherc commented on #90336
@arteam please take a look whether you can handle this, seems related to https://github.com/elastic/elasticsearch/pull/90214

[2022-09-26 09:16] dimitris-athanasiou commented on #90305
Another failure today in [gradle link](https://gradle-enterprise.elastic.co/s/dldpouo6urv3o/tests/:server:test/org.elasticsearch.health.node.DiskHealthIndicatorServiceTests/testNoBlockedIndicesAndRedAllRoleNodes?top-execution=1)

I'll mute the test.

[2022-09-26 09:19] DaveCTurner opened #90337 "ReservedClusterStateService uses last-applied state to determine no-ops"
Today the `ReservedClusterStateService` decides whether or not to submit an update-error task depending on the content of the last-applied state as exposed by `ClusterService#state()`. This may happen concurrently with another state being published, so does not give a fully consistent view of the latest state. Instead it should check the state within the cluster state task executor, triggering a n

[2022-09-26 09:20] elasticsearchmachine commented on #90337
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-26 09:22] luigidellaquila opened #90340 "EQL: tail sequence queries return inconsistent results"
When using `| tail ` with a sequence query,  some results can be lost.

The problem can be reproduced with the following schema and data:

[code]
[code]

The query `sequence by name [any where true] [any where true] | tail 3` correctly returns the sequences with keys `a, b, c`,
so the same query, with `tail 2`, should always return the keys `b, c`.

Forcing `fetch_size=2`, the query incorrectly re

[2022-09-26 09:22] elasticsearchmachine commented on #90340
Pinging @elastic/es-ql (Team:QL)

[2022-09-26 09:38] #83658 closed

[2022-09-26 10:21] BBQigniter opened #90345 "Elasticsearch should write to "path" defined in alias-field instead of returning error "Cannot write to a field alias""
### Description

It would be nice if Elasticsearch would write to the `path` defined in an alias-field automatically instead of throwing an error and not indexing an event at all. For example in the original Filebeat-mappings (v8.4.1) you find:

[code]

As we have Logstash between a Filebeat-sending host and Elasticsearch, Logstash complains with `"Cannot write to a field alias [agent.hostname]."`

[2022-09-26 10:23] cbuescher commented on #50356
I dug into this issue for a bit and think it would make to close it and fold it under the general issue for analysis validation that has been open for a while at https://github.com/elastic/elasticsearch/issues/41299.

The problem described here is similar to https://github.com/elastic/elasticsearch/issues/16451 which describes how when using e.g. the "standard" analyzer we ignore all other unknown

[2022-09-26 10:23] #50356 closed

[2022-09-26 10:27] cbuescher commented on #41299
Adding another case for the kind of validation we should do because it leads to otherwise confusing behaviour comes from #50356. e.g. for

[code]

The `filter` part of the `standard` analyzer section is ignored, leading to often undetected errors.

[2022-09-26 11:37] hendrikmuhs commented on #90305
Another repro line:
[code]

[2022-09-26 11:39] kingherc commented on #88940
Hi @DaveCTurner , I'm starting on this one. A couple of questions:

- I assume that since you mention we can convert this to an array, either the array is densely populated most of the times (meaning that indexes 0...number_of_shards have non-null values most of times), or that number_of_shards is a small number most of times. Right? Else, I would keep the map.
- In the `IndexMetadataDiff`, I see

[2022-09-26 11:50] ckauf opened #90348 "Ability to monitor usage of runtime fields"
### Description

From an Elastic Stack administrator point of view it is desirable to monitor the usage of runtime fields. Based on the metrics an admin can make the recommendation to move the calculation of runtime fields into the ingest pipeline instead of calculating the values on-the-fly/during a search.

Today the [field usage stats API](https://www.elastic.co/guide/en/elasticsearch/reference

[2022-09-26 11:55] elasticsearchmachine commented on #90348
Pinging @elastic/es-search (Team:Search)

[2022-09-26 11:59] javanna commented on #90348
We have the field usage stats API that tells you how fields are used, but that is only for indexed fields and not for runtime fields. It would be nice to have a similar functionality for runtime fields to assist making decisions around schema evolution. Note that for runtime fields that need to be made indexed, it is not necessary to use an ingest pipeline. The runtime field can be moved from the

[2022-09-26 13:00] DaveCTurner commented on #88940
Every shard will have at least one in-sync allocation ID, except between creating the index and the first time all primaries are assigned. Even then we could reasonably give every shard copy an entry which is an empty set rather than `null`.

I think there's no clear way to diff arrays today. I expect it's fine to do an all-or-nothing diff.

Yes for BwC we'll need to simulate the older diff mechan

[2022-09-26 13:06] grcevski commented on #90289
Thanks @ywangd, I'll take this over.

[2022-09-26 13:12] grcevski commented on #90334
This sounds like a reasonable improvement to me, I'll take ownership of this.

[2022-09-26 13:27] dimitris-athanasiou opened #90353 "[CI] SnapshotRepoTestKitClientYamlTestSuiteIT test {p0=/10_analyze/Timeout with large blobs} failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/lprftbo45hvvk/tests/:x-pack:plugin:snapshot-repo-test-kit:qa:rest:yamlRestTest/org.elasticsearch.repositories.blobstore.testkit.rest.SnapshotRepoTestKitClientYamlTestSuiteIT/test%20%7Bp0=%2F10_analyze%2FTimeout%20with%20large%20blobs%7D

**Reproduction line:**
`./gradlew ':x-pack:plugin:snapshot-repo-test-kit:qa:rest:yamlRestTest' --tests "org

[2022-09-26 13:27] elasticsearchmachine commented on #90353
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-26 13:44] freost commented on #90187
Seems like all types of queries against date fields are broken.

[code]

If I have a document indexed with `year` set to `1900` then all queries with `year` set to a value less than or equal to `1900` will produce a match. This did not happen in previous versions of elastic.

[code]

[2022-09-26 14:05] dimitris-athanasiou opened #90356 "[CI] XPackRestIT test {p0=transform/transforms_unattended/Test unattended put and start} failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/5ycoudhmhnpjc/tests/:x-pack:plugin:yamlRestTest/org.elasticsearch.xpack.test.rest.XPackRestIT/test%20%7Bp0=transform%2Ftransforms_unattended%2FTest%20unattended%20put%20and%20start%7D

**Reproduction line:**
`./gradlew ':x-pack:plugin:yamlRestTest' --tests "org.elasticsearch.xpack.test.rest.XPackRestIT.test {p0=transform/transforms_unattended/

[2022-09-26 14:06] elasticsearchmachine commented on #90356
Pinging @elastic/ml-core (Team:ML)

[2022-09-26 14:15] sbrunot opened #90358 "Elasticsearch includes a version of AWS Java SDK For Amazon S3 with a security vulnerability"
### Elasticsearch Version

8.4.1

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Linux 3f1511ad194d 5.15.0-47-generic #51-Ubuntu SMP Thu Aug 11 07:51:15 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### Problem Description

Elasticsearch 8.4.1 includes AWS Java SDK For Amazon S3 version 1.11.749, for which CVE-2022-31159 has been reported (see https://github.com/aws/

[2022-09-26 14:22] gmarouli opened #90359 "[CI] MixedClusterClientYamlTestSuiteIT test {p0=search/30_limits/Request with negative from value url parameter} failing"
Test failures related with the introduction of the health node:
- https://gradle-enterprise.elastic.co/s/jljdb2rp7hbc6/tests/:qa:mixed-cluster:v8.4.3%23mixedClusterTest/org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT/test%20%7Bp0=search%2F30_limits%2FRequest%20with%20negative%20from%20value%20url%20parameter%7D
- https://gradle-enterprise.elastic.co/s/jljdb2rp7hbc6/tests/:qa:mixed-cl

[2022-09-26 14:23] elasticsearchmachine commented on #90359
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-26 14:23] DaveCTurner commented on #90358
Thank you for your report.

Elastic's security reporting guidelines are available at https://www.elastic.co/community/security. Per those guidelines, all reports of potential security issues or vulnerabilities should be sent via email to [security@elastic.co](mailto:security@elastic.co)

We are unable to discuss potential issues of this nature here. Please send your report to the email address abo

[2022-09-26 14:23] #90358 closed

[2022-09-26 14:24] sbrunot opened #90360 "Elasticsearch includes a version of tika-core with a security vulnerability"
### Elasticsearch Version

8.4.2

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Linux 3f1511ad194d 5.15.0-47-generic #51-Ubuntu SMP Thu Aug 11 07:51:15 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### Problem Description

Elasticsearch 8.4.1 includes tika-core-2.4.0.jar (in module ingest-attachment), that has vulnerability CVE-2022-33879 reported against it (see ht

[2022-09-26 14:27] hendrikmuhs commented on #90356
another dup of https://github.com/elastic/elasticsearch/issues/88203

[2022-09-26 15:10] #88203 closed

[2022-09-26 15:10] #90255 closed

[2022-09-26 15:10] #90301 closed

[2022-09-26 15:10] #90356 closed

[2022-09-26 15:50] gmarouli commented on #90305
So the changes that need to happen:
- Change the messages in the symptom and diagnosis since there are no indices affected. I think the troubleshooting guide could stay the same and we can address this issue there.
- Reporting no impact is correct since there is no impact.

What do you think?

[2022-09-26 15:59] grcevski commented on #90289
I think this test was a victim of this one failing:

https://gradle-enterprise.elastic.co/s/xxc4tgiv3w4lu/tests/:x-pack:plugin:security:internalClusterTest/org.elasticsearch.integration.RoleMappingFileSettingsIT/testRoleMappingFailsToWriteToStore?expanded-stacktrace=WyIwIl0&top-execution=1

It seems that this test failed to clean-up the file it was using, then we unfortunately applied the stale fi

[2022-09-26 16:02] #90121 closed

[2022-09-26 16:05] dakrone commented on #90305
A node that's out of disk space cannot write other information (such as `geoip` DB, file-based settings, writing cluster state), so even though it doesn't have data, it would still be impacted if it were entirely out of space.

[2022-09-26 16:14] #90359 closed

[2022-09-26 16:58] jtibshirani commented on #90173
I see! To set expectations, we are hoping to deprecate scrolls in favor of `pit` with `search_after`. So we're not likely to spend a lot of time debugging this issue.

[2022-09-26 17:08] divit00 commented on #90173
Sure, I will close it then.

[2022-09-26 17:09] jtibshirani commented on #90173
Thanks for your understanding, and best of luck with testing.

[2022-09-26 17:17] nik9000 opened #90374 "[CI] DiskThresholdDeciderUnitTests testCannotAllocateDueToLackOfDiskResourcesWithMaxHeadroom failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/3ujw5f3vlemai/tests/:server:test/org.elasticsearch.cluster.routing.allocation.decider.DiskThresholdDeciderUnitTests/testCannotAllocateDueToLackOfDiskResourcesWithMaxHeadroom

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.cluster.routing.allocation.decider.DiskThresholdDeciderUnitTests.testCannotAllocateDueToLackOf

[2022-09-26 17:18] elasticsearchmachine commented on #90374
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-26 17:32] mark-vieira commented on #74232
I think the issue you are running into is unrelated to Elasticsearch. If you are having issues using Powermock on your own project I suggest you reach out to their support channels.

[2022-09-26 18:10] elasticsearchmachine commented on #90360
Pinging @elastic/es-security (Team:Security)

[2022-09-26 18:11] bernarmn-mnb commented on #71871
What is the status of a document around migration away from MDP? I have a customer that needs this.

[2022-09-26 19:57] nik9000 commented on #90121
Retargeted for 8.5.0.

[2022-09-26 21:26] didendron commented on #19546
Can I work on it? If yes, I will try to create this aggregation with the tests.

[2022-09-26 22:30] #88821 closed

[2022-09-27 00:31] ywangd commented on #90360
Thank you for your report.

Elastic's security reporting guidelines are available at https://www.elastic.co/community/security. Per those guidelines, all reports of potential security issues or vulnerabilities should be sent via email to [security@elastic.co](mailto:security@elastic.co)

We are unable to discuss potential issues of this nature here. Please send your report to the email address abo

[2022-09-27 00:31] #90360 closed

[2022-09-27 05:00] Rishi-web commented on #74232
Thanks @mark-vieira

[2022-09-27 07:45] idegtiarenko commented on #90374
We calculate the actual and expected % differently:

* expected: [100.0 * (totalBytes - freeBytes) / totalBytes](https://github.com/elastic/elasticsearch/blob/7dc8806dda46cb5eb5f140eda988b6e32cee446f/server/src/test/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDeciderUnitTests.java#L226) that results in `10.3`
* actual [100.0 - (100.0 * getFreeBytes() / getTotalBytes())[h

[2022-09-27 07:49] lingliy opened #90383 "geoip add language priority field lang_priority"
### Description

geoip generator field default english, But non-English speaking countries, Preferred choice of native language,

example
lang_priority: [zh-CN, en]
city_name filed Chinese is preferred. If there is no Chinese field, English is displayed

If anyone finds this feature meaningful, I can contribute code, even though I don't know the Java language

[2022-09-27 08:21] kingherc commented on #90374
@idegtiarenko , this relates to a recent PR I made. There is some java trouble with double operations sometimes. It usually can be fixed by moving around some parts in the double operation.

[2022-09-27 08:26] #64553 closed

[2022-09-27 08:28] eirikboy commented on #90187
Can add some observations:

[code]
is working but when I change to `gt` it only gives results for years higher then 1970. Another observation is that
[code]
does not work at al and gives results including `1970` but `lt` is filtering as intended.  The `1970` part is suspiciously similar to `the unix epoch`?

[2022-09-27 09:01] romseygeek commented on #90187
Thanks for reporting this!  Can you post the output of the query with `?explain=true`, which should give us an idea of how the query is being parsed to lucene query objects.

[2022-09-27 09:38] DaveCTurner opened #90390 "Clean import to IntelliJ cannot run tests that call `PluginsService#getOfficialPlugins`"
Today a clean import into IntelliJ cannot run various tests with the IntelliJ runner due to the following NPE:

[code]

This is apparently because these tests need a file which the Gradle build generates. Could we make it so that the IntelliJ import makes this file too? Or at least can we fix the message to say to run the appropriate Gradle task to fix it?

[2022-09-27 09:38] elasticsearchmachine commented on #90390
Pinging @elastic/es-delivery (Team:Delivery)

[2022-09-27 09:42] DaveCTurner opened #90392 "[CI] SearchProfileResultsTests testFromXContent failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/lm66tpwequtk6/tests/:server:test/org.elasticsearch.search.profile.SearchProfileResultsTests/testFromXContent

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.search.profile.SearchProfileResultsTests.testFromXContent" -Dtests.seed=E866ACE867BEA988 -Dtests.locale=es-US -Dtests.timezone=America/Mendoza -Druntime.java=1

[2022-09-27 09:42] elasticsearchmachine commented on #90392
Pinging @elastic/es-search (Team:Search)

[2022-09-27 09:51] DaveCTurner commented on #90392
I muted this (and the other similar failure) in 136ac4934ac487374ac6c4805b9d8ee0acd2376a. NB it's a bit of a convoluted mute, I had to make the test in the base class non-`final`.

[2022-09-27 10:38] eirikboy commented on #90187
_explanation for `gte` that is working
[code]
which gives
[code]
_explanation for `gt` that fails
[code]
which gives
[code]

_explanation for `lte` that fails
[code]
which gives
[code]

_explanation for `lt` that is working
[code]
which gives
[code]

[2022-09-27 10:45] freost commented on #90187
I have updated my original comment with the explain output.

[2022-09-27 12:16] #89802 closed

[2022-09-27 12:52] #42699 closed

[2022-09-27 12:52] #90336 closed

[2022-09-27 13:37] tlrx opened #90407 "[CI] SearchResponseTests testFromXContent failing"
Likely related to #90200

**Build scan:**
https://gradle-enterprise.elastic.co/s/72boryjznn6e4/tests/:server:test/org.elasticsearch.action.search.SearchResponseTests/testFromXContent

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.action.search.SearchResponseTests.testFromXContent" -Dtests.seed=94CE388AF5F0916B -Dtests.locale=nl-NL -Dtests.timezone=Europe/Volgograd -Dr

[2022-09-27 13:38] elasticsearchmachine commented on #90407
Pinging @elastic/es-search (Team:Search)

[2022-09-27 13:38] tlrx commented on #90407
@jdconrad this is likely related to a change you made recently.

[2022-09-27 13:47] #90337 closed

[2022-09-27 13:52] DaveCTurner commented on #90407
Muted in e89b4b86a22e9cc5034f8f64c9e2b7549e12e09c.

[2022-09-27 14:04] kingherc commented on #83933
Hi @DaveCTurner , I see you mention that `SnapshotStressTestsIT` stresses happy paths with high concurrency. However, I see in the test:

[code]

So the order of execution is serialized at this one thread, right? For the unhappy paths, I would expect more than 1 threads, so that we can concurrently e.g. clone and delete a snapshot. Right?

[2022-09-27 14:27] eirikboy commented on #90187
So `yyyy` is broken but `YYYY`works. Noticed the difference in this pr https://github.com/elastic/elasticsearch/commit/330c97e6d0a369a632779a5f358d3329adfbbdfd#diff-27cb6b4759805385f2b88731b2071c644258c9842be25536d2c7b31314f1348d

to replicate issue:
[code]
and the one that works as expected

[code]

[2022-09-27 14:44] elasticsearchmachine commented on #90345
Pinging @elastic/es-search (Team:Search)

[2022-09-27 15:01] #90289 closed

[2022-09-27 15:19] mark-vieira commented on #77475
This has started happening again relatively frequently.

https://gradle-enterprise.elastic.co/scans/failures?failures.failureClassification=all_failures&failures.failureMessage=Execution%20failed%20for%20task%20%27:docs:buildRestTests%27.%0A%3E%20Cannot%20get%20property%20%27testSetup%27%20on%20null%20object&search.timeZoneId=America/Los_Angeles#

[2022-09-27 15:28] romseygeek commented on #90187
@pgomulka do you this this might be a side effect of #89693

[2022-09-27 16:19] joshuacords commented on #52264
This issue is also affecting us, hoping to see it addressed at some point.

[2022-09-27 16:32] elasticsearchmachine commented on #90187
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-27 17:57] tmgordeeva opened #90423 "Shortcut aggs for TSDB"
### Description

Our goal is to enable efficient pipeline aggregations on TSDB by taking
advantage of TSDB data distribution. Data nodes could process queries
themselves, but so far there hasn't been a reason to do this because of
the equal distribution of shards among nodes. With TSDB, we can take
advantage of the data distribution.

Initial steps would be to enable processing on data nodes to be

[2022-09-27 17:57] elasticsearchmachine commented on #90423
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-27 18:11] DaveCTurner commented on #83933
The concurrency isn't really about the threads so much as the fact that there's lots of incomplete async actions all flying around at the same time. I would expect we can exercise much of the interesting error handling using a single thread.

[2022-09-27 18:19] cpmohe opened #90424 "Basic Auth and SSO (SAML) for App Search"
### Description

Currently Basic auth and SSO are not supported for App Search version 7.16.3. We tried 8.2, Basic Search is supported but SSO is not supported. Also, 8.2 App Search requires other clusters upgrade to 8.2 also. We have many use cases that require crawling SharePoint,  Confluence and other internal authenticates web sites. Looking for options to enable Basic Auth and SSO for the ver

[2022-09-27 18:25] #90392 closed

[2022-09-27 18:25] #90407 closed

[2022-09-27 19:44] #90390 closed

[2022-09-27 20:40] #77973 closed

[2022-09-28 07:27] DaveCTurner opened #90441 "Retrying a snapshot-based recovery may over-count `recovered_bytes` in stats"
We saw a case where the recovery stats reported `recovered_bytes` greater than `length_in_bytes` for one file:

[code]

NB `35324928266 == 26891307173 + 8433621093`

This causes Elasticsearch to compute a negative value for the reserved space on the target node of this recovery, which prevents stats APIs from working. This appears to be caused by a network-level failure which triggers a retry with

[2022-09-28 07:28] elasticsearchmachine commented on #90441
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-28 07:31] gmarouli opened #90442 "Disk indicator - Cover edge case where data node is out of space but has no indices."
**Current behaviour**
The disk indicator reports the following when a data node is yellow or red but has no indices.
- Symptom:

- Impact: None
- Diagnosis:

**Expected behaviour**
The disk indicator reports the following when a data node is yellow or red but has no indices.
- Symptom:

- Impact:

- Diagnosis:

As an area of impact I added `DEPLOYMENT_MANAGEMENT` considering that this is not a hea

[2022-09-28 07:32] elasticsearchmachine commented on #90442
Pinging @elastic/es-data-management (Team:Data Management)

[2022-09-28 07:44] gmarouli commented on #90305
Ah, very good points. It's clear now. I created: https://github.com/elastic/elasticsearch/issues/90442 let me know what you think.

[2022-09-28 08:10] n1v0lg commented on #77475
Another here: https://gradle-enterprise.elastic.co/s/gdx43hne6ztmm

[2022-09-28 08:15] #86429 closed

[2022-09-28 08:16] weizijun commented on #90423
hi, @tmgordeeva , is the issue https://github.com/elastic/elasticsearch/issues/85798 can solve the problem?

[2022-09-28 09:24] n1v0lg opened #90444 "[CI] TokenAuthIntegTests testClientCredentialsGrant failing"
This might be a Windows-specific issue. Possibly related to build and delivery but tagging as a security team issue since the test is owned by us.

**Build scan:**
https://gradle-enterprise.elastic.co/s/cjdsy35tk3hho/tests/:x-pack:plugin:security:internalClusterTest/org.elasticsearch.xpack.security.authc.TokenAuthIntegTests/testClientCredentialsGrant

**Reproduction line:**
`gradlew ':x-pack:plugi

[2022-09-28 09:24] elasticsearchmachine commented on #90444
Pinging @elastic/es-security (Team:Security)

[2022-09-28 09:44] #89192 closed

[2022-09-28 09:48] n1v0lg opened #90445 "[CI] `o.e.g.i.p.ThirdPartyAuditTask.runThirdPartyAudit` failing"
### CI Link

https://gradle-enterprise.elastic.co/s/zqtnvdzhcgaxm

### Repro line

None

### Does it reproduce?

No

### Applicable branches

main

### Failure history

https://gradle-enterprise.elastic.co/scans/failures?failures.failureClassification=all_failures&failures.failureMessage=Execution%20failed%20for%20task%20%27:server:thirdPartyAudit%27.%0A%3E%20All%20excluded%20classes%20seem%20to%2

[2022-09-28 09:49] elasticsearchmachine commented on #90445
Pinging @elastic/es-delivery (Team:Delivery)

[2022-09-28 09:49] #90374 closed

[2022-09-28 10:10] original-brownbear commented on #90424
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2022-09-28 10:10] #90424 closed

[2022-09-28 10:56] n1v0lg opened #90449 "[CI] `:qa:os:destructiveDistroTest.default-dockerIronBank-aarch64` fails because no project is defined"
### CI Link

https://gradle-enterprise.elastic.co/s/2v46mjlivwtls

### Repro line

None

### Does it reproduce?

No

### Applicable branches

7.17

### Failure history

_No response_

### Failure excerpt

Looks very much related to this [commit](https://github.com/elastic/elasticsearch/commit/a6f5e18ad7940f89ffd2eb5cee850d432eceac98)

[code]

[2022-09-28 10:57] elasticsearchmachine commented on #90449
Pinging @elastic/es-delivery (Team:Delivery)

[2022-09-28 11:01] n1v0lg commented on #90449
@mark-vieira it looks you removed the project that's missing here in a recent [commit](https://github.com/elastic/elasticsearch/commit/a6f5e18ad7940f89ffd2eb5cee850d432eceac98) to 7.17

I'm assuming there that some parts of the build setup are still relying on the presence of this project

[2022-09-28 12:20] ashwin316 opened #90451 "Init:CrashLoopBackOff while running v8.2.0"
### Elasticsearch Version

8.x

### Installed Plugins

ec2-discovery, s3-snapshot

### Java Version

_bundled_

### OS Version

Linux 5.4.181-99.354.amzn2.x86_64

### Problem Description

We are trying to run ElasticSearch Cluster (v8.2.0) on AWS EKS v1.20, and the deployment is done using the official Helm Chart

When we try deploying the chart using helm, the pods get stuck in _Init:CrashLoopBac

[2022-09-28 12:31] n1v0lg commented on #89500
@thecoop It looks like the fix may not have worked. Seeing another failure on 8.5 (post backport) here:

https://gradle-enterprise.elastic.co/s/ufiseeo4zvusu

[2022-09-28 12:43] n1v0lg commented on #89776
Just a heads up: [failing](https://gradle-enterprise.elastic.co/s/oriabca3e4o4o) on 8.5 as well so we should backport the fix once it's in place.

[2022-09-28 12:58] thecoop commented on #89500
What's the inotify limit set for these processes in tests? Could this actually be valid?

[2022-09-28 13:13] #90212 closed

[2022-09-28 13:39] hendrikmuhs commented on #87583
I think what makes this tricky is the deletion of existing documents, that's why filtering won't work. Filtering will let the old document stay in the index.

That's why I think it requires a Delete By Query, which is what `retention_policy` uses internally. However it is hardcoded to the time use case (that's why it is `retention_policy.time`). If we expand `retention_policy` to take a term query

[2022-09-28 14:07] hendrikmuhs opened #90461 "[Transform] Update of frequency at runtime does not have an immediate effect"
Frequency can be updated at runtime using `_update`. The change however won't have an immediate effect, it takes up to the old frequency until the change is applied to a running transform. This mainly affects users that won't to debug a running continuous transform and e.g. decrease `frequency` from `1h` to `1m`.

Mitigation: stop and start the transform

Dev Note: The old way of scheduling did no

[2022-09-28 14:07] elasticsearchmachine commented on #90461
Pinging @elastic/ml-core (Team:ML)

[2022-09-28 14:43] gmarouli opened #90467 "[CI] JwtRealmAuthenticateTests testJwkSetUpdates failing"
It looks like the test started failing on the 23rd on `8.4` and `8.5`: https://gradle-enterprise.elastic.co/scans/tests?search.startTimeMax=1664376109074&search.startTimeMin=1663711200000&search.timeZoneId=Europe/Amsterdam&tests.container=org.elasticsearch.xpack.security.authc.jwt.JwtRealmAuthenticateTests&tests.test=testJwkSetUpdates#

**Build scan:**
https://gradle-enterprise.elastic.co/s/mh6xbs

[2022-09-28 14:43] elasticsearchmachine commented on #90467
Pinging @elastic/es-security (Team:Security)

[2022-09-28 15:09] juliaElastic commented on #89574
@joshdover Is this issue done? I am wondering why is it still open.

[2022-09-28 15:14] #90156 closed

[2022-09-28 15:22] billfnt opened #90468 "Add a duration element to the Cluster Health alert"
### Description

Greetings,

We get alerts fairly frequently indicating that a cluster is in a yellow status and when we investigate, we find that the cluster was only yellow momentarily while replica shards were (successfully) being assigned/started.

Would it be possible to add a duration element to this alert, so that we could be notified only if the cluster were yellow (or red) for at least 5

[2022-09-28 15:24] billfnt commented on #90094
I would agree this is probably something for the Cloud team.

[2022-09-28 16:05] DaveCTurner opened #90470 "Count of operations to recover from local translog not exposed in recovery API"
`RecoveryState$Translog#recovered` includes operations recovered from the local translog, but in this phase the total number of operations to be recovered from the local translog is reported as `-1` which ignores `RecoveryState$Translog#totalLocal`. We should expose `totalLocal` in the recovery API during this phase.

[2022-09-28 16:05] elasticsearchmachine commented on #90470
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-28 16:12] DaveCTurner opened #90471 "Local translog replay doesn't count as recovery progress and may time out"
When recovering a shard we start by replaying the local translog on the target node. This may take a significant amount of time, during which period the source node simply waits for the replay to complete. If it takes over 30 minutes (by default) then the recovery will time out due to lack of progress.

We should keep track of the local translog replay progress on the source node and avoid timing

[2022-09-28 16:13] elasticsearchmachine commented on #90471
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-28 16:17] masseyke opened #90474 "[CI] InternalCartesianCentroidTests testEqualsAndHashcode failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/2douff6uor2wy/tests/:x-pack:plugin:spatial:test/org.elasticsearch.xpack.spatial.search.aggregations.metrics.InternalCartesianCentroidTests/testEqualsAndHashcode

**Reproduction line:**
`./gradlew ':x-pack:plugin:spatial:test' --tests "org.elasticsearch.xpack.spatial.search.aggregations.metrics.InternalCartesianCentroidTests.testEqualsAndHashco

[2022-09-28 16:18] elasticsearchmachine commented on #90474
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-28 16:51] nemphys commented on #80860
Any news on this one? It still stands in 7.17.0.

[2022-09-28 16:52] aleksmaus commented on #89574
Yeah, this is done and merged. Closing.

[2022-09-28 16:52] #89574 closed

[2022-09-28 18:04] #44981 closed

[2022-09-28 18:39] grcevski commented on #89500
I'm going to try to reproduce this on Ubuntu 20 since it failed there too. One thing that's interesting is that as part of the test suite we run older version of ES (BWC, rolling upgrade tests) - 8.4.x, where the bugs related to cleaning up the keys haven't been all fixed. So older builds which had issues with keys clean-up can potentially exhaust the inode watches.

[2022-09-28 21:21] grcevski commented on #89500
OK, so I think I see the culprit but it's not ES code, it's the gradle test executor and compiler accumulating inotify watches. I guess they simply keep on adding new things to watch for? Here's what I did to investigate:

1. I ran ./gradlew check on a Linux machine and while it's running I was monitoring what's happening with the watches.
2. I ran a simple command (`ls -l /proc/*/fd/* | grep inot

[2022-09-28 21:34] mark-vieira opened #90489 "Using `--https` with run task fails for external plugin authors"
https://github.com/elastic/elasticsearch/pull/90051 added a `--https` option for enabling SSL. The way this work is by configuring certificates that currently live in the `build-tools-internal` project. There are a couple of issues with this.

1. `RunTask` lives in `build-tools` so it shouldn't have any implicit dependencies on source or resources in `build-tools-internal`.
2. For external users o

[2022-09-28 21:34] elasticsearchmachine commented on #90489
Pinging @elastic/es-delivery (Team:Delivery)

[2022-09-29 00:57] ywangd commented on #90467
It might be related to #89509. I believe Justin is working on reproduction. I can also take a look at this one from the perspective of racing. Self-assigned.

[2022-09-29 03:31] GithubRyze opened #90492 "Failed Reroute unassigned index"
### Elasticsearch Version

docker image 8.1.3

### Installed Plugins

_No response_

### Java Version

openJDK 8

### OS Version

linux

### Problem Description

[code]
i have many unasingne index, so i call reroute api ,  primary shards reroute succes, but above replicas index always exception.
[code]

### Steps to Reproduce

i don't know how to reproduce.  so i explain the background of this iss

[2022-09-29 07:39] leovalen commented on #90275
Does 8.4.3 have a scheduled release date?

[2022-09-29 07:42] iverase opened #90496 "[CI] CartesianShapeCentroidAggregatorTests testSingleValuedField failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/4yeef6vpg5wym/tests/:x-pack:plugin:spatial:test/org.elasticsearch.xpack.spatial.search.aggregations.metrics.CartesianShapeCentroidAggregatorTests/testSingleValuedField

**Reproduction line:**
`gradlew ':x-pack:plugin:spatial:test' --tests "org.elasticsearch.xpack.spatial.search.aggregations.metrics.CartesianShapeCentroidAggregatorTests.testSin

[2022-09-29 07:43] elasticsearchmachine commented on #90496
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-29 07:46] iverase opened #90497 "[CI] KeywordScriptFieldTypeTests testTermsQuery failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/6uktyn6tgu53k/tests/:server:test/org.elasticsearch.index.mapper.KeywordScriptFieldTypeTests/testTermsQuery

**Reproduction line:**
`./gradlew ':server:test' --tests "org.elasticsearch.index.mapper.KeywordScriptFieldTypeTests.testTermsQuery" -Dtests.seed=903C0AF3965A5EE4 -Dtests.locale=zh-CN -Dtests.timezone=Asia/Choibalsan -Druntime.java=17`

[2022-09-29 07:46] elasticsearchmachine commented on #90497
Pinging @elastic/es-search (Team:Search)

[2022-09-29 07:50] iverase commented on #89905
another case in 8.5: https://gradle-enterprise.elastic.co/s/7c6p3ahcjzvga

[2022-09-29 08:02] DaveCTurner commented on #90492
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2022-09-29 08:02] #90492 closed

[2022-09-29 08:22] wangjie-fourth commented on #89707
hi, I would like contribute this. i will do some research first, will update soon

[2022-09-29 08:24] romseygeek commented on #80860
Named queries are implemented by re-running them individually in the fetch phase.  This shouldn't normally be an issue, as it's a single additional query and even heavy queries like fuzzy will only add a few ms to the final response time.  However, a top_hits aggregation runs the fetch phase for every group of top hits, so you're essentially re-running the fuzzy query repeatedly.

We have a long-s

[2022-09-29 08:31] iverase commented on #77475
At least two more today in different branches:

https://gradle-enterprise.elastic.co/s/borsyrlnqw57i
https://gradle-enterprise.elastic.co/s/2fe47i77vsrns

[2022-09-29 08:34] pxsalehi commented on #89905
I can reproduce this now. I'll work on a fix!

[2022-09-29 09:19] iverase opened #90502 "[CI] SnaphotsAndFileSettingsIT testRestoreWithRemovedFileSettings failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/5plxopim2uz7g/tests/:server:internalClusterTest/org.elasticsearch.reservedstate.service.SnaphotsAndFileSettingsIT/testRestoreWithRemovedFileSettings

**Reproduction line:**
`./gradlew ':server:internalClusterTest' --tests "org.elasticsearch.reservedstate.service.SnaphotsAndFileSettingsIT.testRestoreWithRemovedFileSettings" -Dtests.seed=897B646

[2022-09-29 09:20] elasticsearchmachine commented on #90502
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-29 09:29] iverase opened #90505 "[CI] CartesianCentroidAggregatorTests testMultiValuedField failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/6z5gxl3yjtc36/tests/:x-pack:plugin:spatial:test/org.elasticsearch.xpack.spatial.search.aggregations.metrics.CartesianCentroidAggregatorTests/testMultiValuedField

**Reproduction line:**
`./gradlew ':x-pack:plugin:spatial:test' --tests "org.elasticsearch.xpack.spatial.search.aggregations.metrics.CartesianCentroidAggregatorTests.testMultiValuedF

[2022-09-29 09:29] elasticsearchmachine commented on #90505
Pinging @elastic/es-analytics-geo (Team:Analytics)

[2022-09-29 09:41] pxsalehi commented on #89905
hmm... Running it with DEBUG, it seems even though the node with the replica shard is supposed to be kept from receiving cluster state updates using `BlockClusterStateProcessing`, it still applies some cluster state update with some lag, which I guess completes the `PutMapping` request.
[code]

[2022-09-29 09:57] #90474 closed

[2022-09-29 10:05] #90496 closed

[2022-09-29 10:37] cbuescher commented on #90497
This reproduces, although I get a slightly different assertion error in terms of expected vs. actual number. This suprises me since the seed seems to be the same, curious why reproduction doesn't lead to the same error here:
[code]

[2022-09-29 10:48] #90505 closed

[2022-09-29 11:03] iverase opened #90509 "[CI] TokenAuthIntegTests testExpiredTokensDeletedAfterExpiration failing"
**Build scan:**
https://gradle-enterprise.elastic.co/s/aw7y6j4cp6qwa/tests/:x-pack:plugin:security:internalClusterTest/org.elasticsearch.xpack.security.authc.TokenAuthIntegTests/testExpiredTokensDeletedAfterExpiration

**Reproduction line:**
`./gradlew ':x-pack:plugin:security:internalClusterTest' --tests "org.elasticsearch.xpack.security.authc.TokenAuthIntegTests.testExpiredTokensDeletedAfterExpi

[2022-09-29 11:03] elasticsearchmachine commented on #90509
Pinging @elastic/es-security (Team:Security)

[2022-09-29 11:06] nemphys commented on #80860
OK, maybe it would make sense to add some kind of warning in the documentation for this; it took me a few hours to pinpoint the issue and some disclaimer would have saved me the trouble.

[2022-09-29 11:06] eirikboy commented on #90187
Will this https://github.com/elastic/elasticsearch/pull/90458 be backported to 8,4? :)

[2022-09-29 11:14] pxsalehi commented on #90502
I think this is similar to https://github.com/elastic/elasticsearch/issues/90113 and is related to Core/Infra.

[2022-09-29 11:15] elasticsearchmachine commented on #90502
Pinging @elastic/es-core-infra (Team:Core/Infra)

[2022-09-29 11:21] DaveCTurner opened #90511 "More intelligent ordering of nodes in allocation explain output"
Today the allocation explain API returns the node-level decisions in arbitrary order, leaving it up to the user to find the expected node somewhere in the list. This is particularly a problem in cases where there are a lot of nodes and the output is truncated (e.g. in a log) because the relevant node may too far down the list to be shown.

It would be helpful to order the node-level decisions more

[2022-09-29 11:22] elasticsearchmachine commented on #90511
Pinging @elastic/es-distributed (Team:Distributed)

[2022-09-29 11:32] pgomulka commented on #90187
Not sure about 8.4 but most likely 8.5 will get this

[2022-09-29 11:53] eirikboy commented on #90187
Is there an ETA on this fix? It's a critical part of our solution since we’re searching in historic documents without complete dates.