[2015-03-20 15:17] javanna opened #10187 "SimpleNettyTransportTests#testTracerLog stalls"
`SimpleNettyTransportTests#testTracerLog` stalls on my macbook, I saw this a couple of times today while running the whole core suite from command line. The suite timeout kicks in at some point and stops it.

[2015-03-20 15:18] javanna commented on #10187
Assigning this to @bleskes as he has the logs and said he knows what is going on. Thanks @bleskes !

[2015-03-20 15:43] #10053 closed

[2015-03-20 15:43] nik9000 commented on #10156
+1 on removing it

[2015-03-20 15:49] nik9000 commented on #6428
I suppose it'd give you some way to consume a ton of memory.  I was just using it for holding precocmpiled automata.  It only had to work across a single request.  Its the same sort of attack vector as creating a huge collection in groovy in a while true loop.

Maybe its only a feature in one.  I dunno.  We're probably going to abandon scripts pretty soon, especially if we can get fast rolling res

[2015-03-20 15:50] s1monw commented on #6428
you really read my mind... the highlighter situation is a nightmare and we have to fix this one way or the other!

[2015-03-20 16:52] tlrx commented on #10183
@aqlu thanks for reporting. How frequent is this error? Do you use a specific tool to do the snapshots?

I didn't reproduce this issue. Can you please try to reproduce it with TRACE log enabled for the snapshots and post the output here?

To enable TRACE logging:
- edit logging.yml
- add `snapshots: TRACE` under `logger` section
- you should see traces like this: `[TRACE][snapshots

[2015-03-20 17:45] javanna commented on #9995
I think we should come up with a `Script` construct that holds all the relevant parsing code, which needs to be streamlined whenever we support scripts in the codebase. `Script` would then hold 'lang', 'type', the script itself etc. and could be passed as a single argument to `ScriptService` etc. instead of the different arguments that we currently have.

[2015-03-20 17:48] javanna commented on #10007
I think we can close this, I added version labels.

[2015-03-20 17:48] #10007 closed

[2015-03-20 18:14] bax1989 commented on #9281
Verified with 1.5.0-SNAPSHOT, it works.

[2015-03-20 18:15] s1monw commented on #9281
perfect thanks for verifying

[2015-03-20 18:15] #9281 closed

[2015-03-20 19:16] s1monw commented on #10133
@imotov can you take a look?

[2015-03-20 19:40] tschaub commented on #9511
We've been hitting the same issues with polygons that are not close to the dateline and don't have interior rings that cross an exterior ring.
[code]

Here's the polygon geometry from that query: http://bl.ocks.org/anonymous/raw/0fb706605fe9e53c52f8/

If the exterior ring is changed so that it spans from -90 (west) to 90 (east) longitude, the query succeeds.  When the exterior ring spans more than

[2015-03-20 19:54] tschaub commented on #9511
Are you by chance assuming that rings spanning more than 180 degrees need to be "inverted"?  In my opinion, you're best off pretending the world is flat and accepting that 0, 0 is inside a polygon spanning -91 (west) to 90 (east) - regardless of the winding order of exterior rings.

[2015-03-20 19:59] maximTarleckiy opened #10192 "TokenStream expanded to 512 finite strings. Only <= 256 finite strings are supported"
Have this exception during indexation documents for suggest completion:

        suggest_top_products:
            client: default
            index_name: my_index_suggest_top_products
            use_alias: true
            settings:
                number_of_shards:   6
                number_of_replicas: 0
                index:
                    analysis:
                        analyzer:

[2015-03-20 20:02] tschaub commented on #9511
I should debug to confirm, but it feels like you may be testing whether an interior ring is inside an exterior ring with different logic than the intersect query.  Perhaps the query above fails because you decide that the interior ring (a small ring near 0, 0) is not inside the exterior ring.  Maybe that is because you assume that because the exterior ring spans more than 180 degrees longitude you

[2015-03-20 20:55] dakrone opened #10193 "Add ability to retrieve on-disk templates"
Templates that go into `{config}/templates` are usable, however they do not show up in the templates API (`GET 0:9200/_templates`).

It would be great if there were a way to retrieve the templates via the REST API.

Follow-up to #10160

[2015-03-20 21:06] #7640 closed

[2015-03-20 21:11] brwe commented on #9421
@bleskes ping :)
I finally came back to this and wrote a test that reproduces the failure reliably (#10194) but I did not quite get what you meant by "capture the original issue". Can you elaborate?

[2015-03-20 21:13] cbuescher opened #10195 "Refactoring: combine similar GroupShardsIterators in RoutingTable"
Three RoutingTable methods
* GroupShardsIterator activePrimaryShardsGrouped()
* GroupShardsIterator allActiveShardsGrouped()
* GroupShardsIterator allAssignedShardsGrouped()

Are almost similar internally and as far as I can see only differ in one line like ` if (shardRouting.active())` where they use different criteria to include that particular shardRouting in the result. These methods could pos

[2015-03-20 21:42] #8262 closed

[2015-03-20 22:05] vvcephei commented on #7743
Ok, folks, I've sketched out what I've been talking about here: https://github.com/vvcephei/es-client-java

Please let me know what you think. For the long-term plans, see the README. For stuff that's on the roadmap, see the issues.

At this point, these are my top-level questions:
* What are the conditions under which ES adopt this project (once it's done) to be officially supported along with th

[2015-03-21 00:15] usfhussam opened #10197 "Accessing other documents in top hit aggregation"
I wonder whether it is possible to access another document in top hit aggregations.
For example, I am adding a script_field to the top hits and I want to compute the value of this field based on the next document. So If I want to compute this field for the first hit, I need to access a certain field in the second hit. Is it possible to do so?

[2015-03-21 00:49] uboness commented on #9995
+1 on the `Script` construct... it should also implement `ToXContent`.

[2015-03-21 01:55] nknize commented on #9511
Hey Tim, thanks for the update.  I'll bump this up on the priority list and get a fix in for the next release.  Its a known issue.  Just to make sure there isn't some other latent bug, which version are you working with?  Prior to 1.4.3 the orientation calculation was incorrectly computed for polys > 180 (leading to behavior you describe).  That was corrected in 1.4.3+ to follow the OGC SFF right-

[2015-03-21 03:46] kadaan commented on #10122
Basically I had a nose which would not join the cluster.  It was not able to communicate with the current master and the master could not communicate with the node. After numerous attempts to repair it I decided to shutdown the master to see if moving the master to another node would help. I shut it down via kopf (which uses the shutdown api I believe). Right after this kopf went dead and then the

[2015-03-21 08:21] aqlu commented on #10183
@tlrx Thanks for you reply. I' m so sorry, it's not a ES bug, It's some problems in my environment about NFS on one ES node, some data of shards is saved into local disk.
Thanks for your advice again!

[2015-03-21 08:52] #6281 closed

[2015-03-21 09:53] #10182 closed

[2015-03-21 14:30] tlrx commented on #10183
Ok, thanks to let us know :)

I close the issue, feel free to reopen if needed.

[2015-03-21 14:30] #10183 closed

[2015-03-21 19:49] timschlechter opened #10201 "rest-api-spec in its own repository?"
I would like to add [rest-api-spec](https://github.com/elastic/elasticsearch/tree/master/rest-api-spec) as a submodule to my project. At the moment, it's located in the main elasticsearch repository, which forces me to add the whole elasticsearch-repo as a submodule.

Would it be possible to move the rest-api-spec folder to its own repository and add it as a submodule to the elasticsearch reposito

[2015-03-21 19:53] slachiewicz opened #10202 "String values are compared using '==' in MessageChannelHandler"
In org.elasticsearch.transport.netty.MessageChannelHandler i found

if (handler.executor() == ThreadPool.Names.SAME) {

[2015-03-21 20:09] Fodoj opened #10203 "Failed to derive xcontent from if ignore_unavailable specified"
This requests file:

[code]

And then I do:

[code]

And I get:

[code]

But if I do just

[code]

Then I get normal response

[code]

This could be related to issue I am having here: https://github.com/elastic/kibana/issues/3404

Any ideas?

[2015-03-21 21:11] nrstott commented on #9293
+1 for reducers on top_hits

[2015-03-21 22:12] danielli90 opened #10206 "connectOnNetworkDisconnect doesn't have retry"
connectOnNetworkDisconnect by default is turned off. When enabled, because it does an immediate reconnect without a wait, it most likely fail to reconnect to a node that has a transient network connectivity issues.

Proposed fix: introduce two new settings - (1) connectOnNetworkDisconnect Retry; (2) connectOnNetworkDisconnect Interval.

https://github.com/elastic/elasticsearch/blob/master/src/main

[2015-03-22 09:53] javanna commented on #10202
Closing as duplicate of #10204 , PR that addresses this issue.

[2015-03-22 09:53] #10202 closed

[2015-03-22 10:06] sdba2 opened #10207 "failed to write to elasticsearch from hadoop hive"
I've a table in hive and I want to write it's data to elastic index.

i created an index in elastic :
curl -XPOST localhost:9200/aaa -d '{
"mappings" : {
"aaa_type" : {
"properties" : {
"f1" : {"type" : "string"},
"f2" : {"type" : "string"}
}
}
}
},

I've downloaded the elasticsearch-hadoop-2.0.2 and in hive i did :

1) add jar elasticsearch-hadoop-2.0.2.jar ;
2) create external table tbl1(f1 stri

[2015-03-22 10:18] javanna commented on #10201
Hi @timschlechter , the `rest-api-spec` dir used to be a separate project a while ago, and every language client would use it as a submodule exactly as you describe. We decided though to move it to the `elasticsearch` repo for a few reasons, if memory serves. First of all we wanted to make sure that the REST spec and tests stayed up-to-date with the actual elasticsearch code and the `elasticsearch

[2015-03-22 11:25] timschlechter commented on #10201
Keeping submodules in sync whith the main repo is indeed a painfull excersize, and one might ask why use submodules when main repo and submodule evolve at the same pace. So I totally understand the choices you made.

It's not a blocker for me, it just makes it a bit more convinient for other projects which want to use the spec files directly. But as said it's not a blocker for me, and I can't imag

[2015-03-22 11:25] #10201 closed

[2015-03-22 12:22] sdba2 opened #10208 "failed to put mapping on indices"
i have several big (200-300 gb) indices using one mapping.
when trying to delete one of them it took 1-2 minute/s
at that time new inserts keep getting :
failed to put mapping on indices [[index_name]], type [type_name]

how can i avoid those errors ?
is there a timeout parameter for the mapping ?

[2015-03-22 14:27] javanna commented on #10203
Hi @Fodoj , the shell sees the `&` character in your curl call and thinks that it's the end of the command, which gets run in the background. The number `1416` that you get back is the pid assigned to the curl process. The error returned by elasticsearch is due to the missing body for that request. The other "command not found" error that you see is the rest of your command that gets executed as a

[2015-03-22 14:27] #10203 closed

[2015-03-22 15:09] javanna commented on #3939
I think this is solved with the new [website](http://www.elastic.co/guide/en/elasticsearch/reference/current/search.html), looks much better now, closing!

[2015-03-22 15:09] #3939 closed

[2015-03-22 15:16] javanna commented on #3861
I would like to know what people think about the following options:
1) optionally index the document taken from the transaction log in an in memory index so that we can execute the filter against it... seems very slow, default would be not do it but could be enabled via setting
2) just document this, explain clearly why it happens, and make it clear that the get api against filtered aliases is not

[2015-03-22 15:47] javanna commented on #7705
With the new [website](https://www.elastic.co/) all of the blogs have been made searchable too, I think we can close this.

[2015-03-22 15:47] #7705 closed

[2015-03-22 17:34] javanna commented on #7295
I had a look at this, I see the problem and I will work on fixing it. It all boils down to how delete index works internally. One cluster state update per index gets processed by `TransportDeleteIndexAction`, which tends to "forget" about previous indices failures. If the last delete index tasks succeeds, a positive response is returned, whereas if the last delete index tasts fails (or times out),

[2015-03-22 22:48] markwalkom opened #10211 "[DOC] Define logger options"
This came up [via the community](https://groups.google.com/d/msgid/elasticsearch/0ec824b1-e98f-404a-afcf-b78390bae81e%40googlegroups.com).

Basically we need to expand our docs around what different log options are available for each aspect of Elasticsearch; indexing, cluster, discovery etc etc.

[2015-03-23 03:52] clintongormley commented on #8693
I've come around to agree with this sentiment. Once we build doc values for a field, we shouldn't allow switching back to using field data at that stage.

So I repeat the last recommendation:

    "fielddata": {
      "build": "eager | lazy",  # eager = doc values, lazy = memory
      "load": "lazy   | eager | eager_global_ordinals"
    }

with one distinction, if doc values are enabled (ie `build

[2015-03-23 04:02] clintongormley opened #10213 "Allow upgrade API to only upgrade too-old segments"
The upgrade API today will upgrade any segments which are not the latest Lucene version.  When upgrading to 2.0, we won't be able to read 3.x segments, but we can read 4.x segments, so it would be faster for the upgrade API to upgrade JUST the 3.x segments, and leave the 4.x segments to the merge process.

[2015-03-23 04:09] clintongormley opened #10214 "Migration advisory plugin"
It would be useful to have a _site plugin that can be installed on 1.x, which would warn users migrating to 2.0 about the need to upgrade any indices, and any use they are making of deprecated features.

For instance, the tool would:

* use the segments API to look for 3.x segments - if found, it would recommend upgrading to 1.6 first, and running the upgrade API
* check mappings for any use of de

[2015-03-23 04:23] clintongormley opened #10215 "Don't allow indices containing too-old segments to be opened"
Elasticsearch 2.x (Lucene 5.x) will support all Lucene 4.x segments, but not Lucene 3.x segments. We should not allow any indices with too-old segments to be opened on cluster restart.  These indices should be left in a closed state, and the reason for not opening should be logged.

If the user tries to open the index with the index-open API, they should receive an exception explaining the reason.

[2015-03-23 04:39] drej82 opened #10216 "Percentile ranks metric bug?"
I'm trying to use percentile rank metrics and it works quite odd. ElasticSearch docs say - "Percentile rank show the percentage of observed values which are below certain value." which is exactly what I need, though it gives queer results even for small set of docs (5-10 docs)

[code]

Set of numbers I use: 20,  5, 10,  25, 14,  27, 13

I don't get how it's possible that value 23 shows lower perce

[2015-03-23 04:43] clintongormley opened #10217 "Refactor parsing of queries/filters, aggs, suggester APIs"
Copied from #9901:

Today we have a massive infrastructure to parse all our requests. We have client side builders and server side parsers but no real representation of the query, filter, aggregation etc until it's executed. What is produced from a XContent binary is a Lucene query directly which causes huge parse methods in separate classes etc. that hare hard to test and don't allow decoupled mo

[2015-03-23 07:08] adiworkoholic commented on #9138
@ElasticSearch folks : I am also interested in an answer for this question. Can folks from elastic.co kindly comment on this ?

[2015-03-23 08:01] KlavsKlavsen opened #10219 "Better template handling"
Currently elasticsearch handles a faulty index template in it's templates folder, by reverting to built in default :(

Recommendation is to "push" the template to ES.. but the problem with that recommendation, is that I no longer have a documented change process.. when I control all servers in version controlled setup - and roll out config, using puppet - I have complete documentation of all chang

[2015-03-23 08:06] rmuir commented on #8693
I don't really like eager vs lazy to explain the differences here.

There are plenty of differences, e.g. using filesystem cache versus on-heap memory. e.g. actually doing bitpacking versus bloating values up to 8/16/32/64. So eager vs lazy doesn't really make sense to me.

Do we really need a fielddata setting at all? You can already set docvalues another way.

[2015-03-23 08:42] mikemccand commented on #10067
I started to remove this in 2.0 but got stuck because we use delete-by-query internally to allow deleting an entire type from an index ... once we remove this in 2.0 (#8877) then we can do this issue.

[2015-03-23 09:10] bleskes commented on #10187
example: http://build-us-00.elastic.co/job/es_core_15_centos/64/

[2015-03-23 09:29] SMUnlimited commented on #10142
A crazy solution that just might work. Set no parent fields! The parent fields are themselves only available in a nested document. And all nested documents are only in a single nested path. Then when we do an aggregation we can get the merged results of the parents and children without any duplication of parent doc counts or data.

If at some point we are only interested in the parent or children

[2015-03-23 10:11] colings86 commented on #10216
@drej82 thanks for raising this issue. It does look like a bug.

I have reproduced this on the master branch on an index with only one shard using the below script:
[code]

The response from the last request is:
[code]

@jpountz any idea what might be going on with the decrease in value from 22 to 23?

[2015-03-23 10:17] colings86 commented on #10216
The problem seems to happen at the value 22.5:

[code]

response:
[code]

[2015-03-23 11:33] bobrik commented on #9881
I really hope that could be fixed soon, kibana is unusable for us because of this issue.

[2015-03-23 13:40] #10187 closed

[2015-03-23 13:46] bleskes commented on #8283
@simpsora did you try the config test I suggested?

[2015-03-23 14:52] bleskes commented on #10206
@danielli90 this is tricky. If the node is not connected, it will not get cluster state updates from the master. Originally we had this reconnect to deal with environments that sometimes close connections but the network weren't down. However, it turned out to be an issue in the cases where a network issue causes timeouts, in which case we just waited on the timeout to fire and the transport to di

[2015-03-23 14:56] s1monw commented on #8693
@rmuir i am all for one way of setting this. My take on this is the following:

 * use `doc_values : true|false` to trigger DV, that is consistent to all the other FieldType settings we expose ie. `indexed : true|false`
 * remove the `fst` format and make it a hard choice to either use DV or FieldData at field creation time. Since today we have `paged_bytes`, `fst`, `doc_values` and I think if we

[2015-03-23 16:35] l15k4 opened #10222 "Java client instance doesn't recover from temporary ES unavailability"
Hey,

I'm using ES 1.4.2 and it seems to me that if java client cannot temporarily ping node within `client.transport.ping_timeout` then it never manages to ping it again and [this happens](https://gist.github.com/l15k4/f40a115edb67c1fd4779)... Let say that I do a query from a different client (like Sense) that returns big result set, say `search?size=200000` that takes more than `client.transport

[2015-03-23 17:04] tschaub commented on #9511
Thanks for the additional detail @nknize.  I'll confirm the version we are using and try the orientation property.  One concern is that GeoJSON doesn't specify the winding order and OGR (and more) don't enforce a winding order when serializing.  Would it be possible to provide an option to disable the winding order check for polygons > 180?  I like the behavior we're getting for polygons that don'

[2015-03-23 17:12] tschaub commented on #9511
We're running 1.4.4.  I'll try to come up with some simple test cases to ensure we can get consistent behavior (for polygons with and without holes, regardless of span).

[2015-03-23 17:27] gardsted opened #10223 "debian repository for 1.4 is broken"
It seems the repository is broken - it complains like the following when I do an apt-upgrade after inserting the repo like this:

    wget -qO - https://packages.elasticsearch.org/GPG-KEY-elasticsearch | apt-key add -
    add-apt-repository "deb http://packages.elasticsearch.org/elasticsearch/1.4/debian stable main"

The error looks like this

    W: Failed to fetch http://packages.elasticsearch.o

[2015-03-23 17:33] electrical commented on #10223
Hi, using `add-apt-repository` automatically adds a deb-src line for source packages.
But since we don't have those we also don't have the source data.
If you remove that line you can run `apt-get update` without any errors.

[2015-03-23 17:38] drewdahlke opened #10224 "Excessive fixed_bit_set_memory_in_bytes causing GC thrashing"
We're running ES 1.4.4 on a 4 node c3.2xlarge EC2 cluster, configured for 8GB heaps. Sometimes nodes start GC thrashing b/c it's not freeing up enough memory. For example:

[code]

It's all old gen. We switched from concurrent mark sweep to G1, but that didn't help. Looking at node stats while this is going on

curl http://localhost:9200/_nodes/Ocelot/stats

[code]

I noticed that fixed_bit_set_me

[2015-03-23 18:38] mattweber commented on #10217
+1, In #3278 I perform a terms lookup after parsing but this happened on all shards and resulted in multiple lookup requests for a single query.  This would allow the expensive lookup to be performed once on the coordinating node which would be very beneficial!

[2015-03-23 19:11] wbsimms opened #10225 "ES 1.5.0 won't start on windows"
I downloaded ES 1.5 today, unzipped into a new folder and ran the batch file. This is result:

C:\Users\XXXXX\Downloads\elasticsearch-1.5.0\elasticsearch-1.5.0\bin>elasticsearch.bat
Exception in thread "main" java.lang.NoClassDefFoundError: Could not initialize class org.elasticsearch.Version
        at org.elasticsearch.bootstrap.Bootstrap.buildErrorMessage(Bootstrap.java:261)
        at org.elas

[2015-03-23 19:21] Mpdreamz commented on #10225
The 1.5 release works for me on windows. If you place an `echo` in front of https://github.com/elastic/elasticsearch/blob/master/bin/elasticsearch.bat#L44 what does `bin\elasticsearch` print? It might be that your %JAVA_HOME% or %ES_HOME% is set to something that interferes with the classpaths.

[2015-03-23 19:40] wbsimms commented on #10225
C:\Users\Wm.Barrett\Downloads\elasticsearch-1.5.0\elasticsearch-1.5.0\bin>elasticsearch.bat
"C:\Program Files\Java\jre1.8.0_31\bin\java"  -Xms256m -Xmx1g -Djava.awt.headless=true -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -XX:CMSInitiatingOccupancyFraction=75 -XX:+UseCMSInitiatingOccupancyOnly -XX:+HeapDumpOnOutOfMemoryError -XX:+DisableExplicitGC -Dfile.encoding=UTF-8 -Xms256m -Xmx1g -Djava.awt.hea

[2015-03-23 19:42] wbsimms commented on #10225
Closed. Not a bug.

[2015-03-23 19:42] #10225 closed

[2015-03-23 19:49] johndiv commented on #9226
@bleskes : We are also running into translog locking issues (We spoke at ElasticON).  Has happened 8 times since upgrading to ES 1.4.2 (our current version).  Some info:  68 nodes, we have seen translog locks on both primaries and replicas, time based indexes (daily).  We do not have DEBUG enabled but will certainly get a hot threads dump and anything else you'd like to see the next time this happ

[2015-03-23 19:51] s1monw commented on #10032
yes it's absolutely possible to unseal and the operation should be very fast. ie. makeing a cluster state update essentially.

[2015-03-23 20:02] bleskes commented on #9226
@johndiv it's subtle, as I'm sure you know from reading all of the above. To date it seems clear that somehow the translog files get huge which cause extremely long recoveries. It's not yet clear whether the translog is huge going into the recovery or becomes big during one (I've seen conflicting reports).

1.5.0 which was just released has seen a ton of work in this area. We also improved the sta

[2015-03-23 20:25] mrkamel commented on #1063
+1

[2015-03-23 20:35] #9539 closed

[2015-03-23 20:54] lmenezes opened #10226 "add node id to _cat/shards"
would be nice having node id in here. Even though having nodes with the same name and ip is not a likely scenario, it's still possible.

if this sounds reasonable, I would be more than happy to send a PR.

[2015-03-23 21:03] nknize commented on #9511
@tschaub We can certainly add an ignore option to the orientation and provide the "old" behavior if that's desired (the default would remain "right"). We ultimately chose OGC compliance (despite the GeoJSON indifference) as a solution to the ongoing issues surrounding dateline crossing polys.  If you don't have any dateline crossing polys (or already have application logic to handle it) then an ``

[2015-03-23 21:13] nknize opened #10227 "[GEO] add "ignore" option to geo_shape orientation param"
Spawned from #9511 discussion, there is an interest in providing an option for "orientation" indifference on ```geo_shape``` types.  That is, the "old" way of computing coordinate orientation for polygons (which is not compliant with OGC standards and will fail on ambiguous polygon).  Requested by the community, this option would be in the form of: ```orientation: ignore``` to provide backwards co

[2015-03-23 21:17] nknize commented on #10227
/cc @colings86 @clintongormley @rjernst @tschaub

Note: In addition to permitting "invalid" polygons, this option (aside from being 'opt in') goes against the "prevent users from 'hurting' themselves" philosophy.  Its low hanging fruit but I open this issue for quick feedback before bringing it in.

[2015-03-23 21:30] rjernst commented on #10227
Is there a real need for this, or is it laziness? Are there any performance benefits to the "old" way if you don't have holes? Is it just saving the user from having to sort their points and supply them in a deterministic order when the poly is "simple"?

[2015-03-23 21:40] ppf2 commented on #2401
Recently came across this.  The following is the use case:

https://gist.github.com/ppf2/6da223f9517ddc0e9465

In this case, what appears to work (Test #2 in the gist) is if I add `"match_mapping_type": "*"` in addition to `"match": "*"` in the dynamic template mapping for the default/everything fields.

[2015-03-23 22:08] grantr opened #10229 "Search preference based on node attributes"
Say I have data nodes in two availability zones. Each node has an attribute with its zone name, and shard allocation awareness is enabled based on that zone name. Every shard has a copy in both zones.

Now I want to minimize search traffic across zones to reduce latency. I'd like to set a search preference that prefers shards in the same zone as the coordinator, since communicating with those shar

[2015-03-23 22:21] martijnvg commented on #9714
@dennisgorelik Sorry for replying so late. The percolator uses a special in-memory index and this index doesn't support doc values. The doc values workaround I shared in #6806 is incorrect.

In theory doc values support could be added to this in-memory index. What is the reason behind using doc values in the percolator? The performance should be better since #7081 got in.

[2015-03-23 22:46] javanna commented on #10229
Hi @grantr, if I'm not mistaken this is exactly what shard allocation awareness already does, beyond making sure that shards are properly distributed across the different zones. Have a look at the docs [here](http://www.elastic.co/guide/en/elasticsearch/reference/current/modules-cluster.html#_automatic_preference_when_searching_geting).

[2015-03-23 22:48] photonicworld opened #10230 "Regular expression query string within nested query doesn't work"
Query-string query within a nested query doesn't seem to work.

Version tried: 1.5.0

For e.g: Query as below to find authors of all comments can not be searched with a regular expression query string. However regexp query seems to be working fine.
[code]

[2015-03-23 22:51] grantr commented on #10229
@javanna thanks! Still learning new things after 5 years :)

[2015-03-23 22:51] #10229 closed

[2015-03-23 23:47] tschaub commented on #10227
Thanks for your willingness to work on this @nknize.  @rjernst - you're right to assume this can mostly be explained away as laziness - see https://trac.osgeo.org/gdal/ticket/2310.  We're serializing geometries as GeoJSON without first checking or enforcing any winding order.  This was working with Elasticsearch < 1.4.3.  Now it doesn't work for polygons that have interior rings and also span > 18

[2015-03-23 23:48] dennisgorelik commented on #9714
@martijnvg
The only reason why we even tried doc values was your recommendation (that now you are saying is incorrect).

Yes, percolator's performance improved ~33% when we migrated from ElasticSearch 1.2.2 to
ElasticSearch 1.4.3.

We are still looking for further performance improvements and improving stability of ElasticSearch percolator under high load.
Currently to much stress (multiple queues

[2015-03-24 03:11] sweetest opened #10232 "using query string query to check if field exists"
"query":{"query_string" : {
        "default_field" : "body",
        "query" : "UserID:*"
        }
    }

I thought query above will return items which includes UserID field, but I got an unexpected result that it does not return logs with UserID=-.

I can do this by exists filter, but I think query string query above should return what I expected.

I'm trying to fix this locally and want to ask

[2015-03-24 03:56] PhaedrusTheGreek opened #10233 "Search results differ between [All Types] and Search Entire Index"
I have noticed that my search results differ between

$ curl -XGET 'http://127.0.0.1:9200/myindex/_search?pretty' -d '{ "query": { "term": {  "datacentre.id": "f96a1379-75bd-40f8-8a82-59931ac3819d" }} }'
$ curl -XGET 'http://127.0.0.1:9200/myindex/rs/_search?pretty' -d '{ "query": { "term": {  "datacentre.id": "f96a1379-75bd-40f8-8a82-59931ac3819d" }} }'

The former returns no hits.  Only the latt

[2015-03-24 05:17] #10145 closed

[2015-03-24 06:05] martijnvg commented on #9714
@dennisgorelik The percolator is CPU intensive and adding more nodes will help to distribute the percolator load better. How much queries do you have stored and how many percolate requests are you executing concurrently?

[2015-03-24 06:49] martijnvg commented on #10224
@drewdahlke The nested feature heavily leans on in-memory bitsets. Essentially each parent nested field needs an in-memory bitset. In the case all the nested fields are in the root level, only one bitset needs to be in memory, but once you have multiple levels of nested fields more bitsets need to be loaded in memory and this can become expensive. In your case do you have multiple levels of nested

[2015-03-24 07:12] dennisgorelik commented on #9714
We have about 160,000 queries stored.
We created 2 shards on our JobIndex that we run percolator against.
We have up to 4 concurrent percolate requests.
In addition to that there could be other ElasticSearch queries (e.g. searches that are coming from our web server + some other batch searches).
All that runs on "Dual Processor Octo Core Xeon 2650 - 2GHz+HT" - that's 32 threads CPU.
We have single

[2015-03-24 07:50] martijnvg commented on #9766
@tstibbs I referred to disabling the entire source and I think in your case you only leave out the nested part of your source. I see how this can result into the NPE you're describing.

[2015-03-24 07:57] tstibbs commented on #9766
@martijnvg yep, I noticed that, just thought I'd report the NPE as it's presumably a bug (though a pretty minor one).

My original point about not being able to retrieve stored fields (e.g. if you disable the entire source) is still valid though I think.

[2015-03-24 09:05] javanna commented on #10233
HI @PhaedrusTheGreek I cant' quite reproduce this. Which version are you on? Could you send a complete curl recreation that shows the problem please?

[2015-03-24 09:11] javanna commented on #10226
Makes sense to me, what do you think @drewr ?

[2015-03-24 09:34] uschindler commented on #10145
Hi,
the bug report at Oracle is: https://bugs.openjdk.java.net/browse/JDK-8075793

[2015-03-24 09:34] s1monw commented on #10145
thanks @uschindler

[2015-03-24 09:40] s1monw commented on #8921
@rmuir I removed the `IndexWriter.waitForMerges()` calls in master, 1.5 and 1.x and the option is also gone in those branches... closing

[2015-03-24 09:40] #8921 closed

[2015-03-24 09:46] noamgal opened #10234 "elasticsearch 1.5.0 initialization failure (?)"
Java Version:
[code]

Logs:

[code]

[2015-03-24 09:58] javanna commented on #10107
I marked this for discussion. I am -1 on this specific proposal, I think it would slow indexing down and, while scripting is very appealing and powerful, I am not sure I would want to see it supported here, feels scary.

Why would you want to write into a different index depending on document fields though? When it comes to logging, there usually is a single index (the most recent one?) that you w

[2015-03-24 10:08] dadoonet commented on #10234
Thanks for reporting this. AWS plugin 2.5.0 needs to be released. See also https://github.com/elastic/elasticsearch-cloud-aws/issues/195

[2015-03-24 10:08] #10234 closed

[2015-03-24 10:08] martijnvg commented on #9766
@tstibbs I opened #10235 in order to fix the stored field support in inner hits (it was supported, but forgot to add the parsing support for stored fields) and address the NPE you have found.

[2015-03-24 11:26] javanna commented on #10232
Hi @sweetest,
I think this type of question could be asked in the mailing list instead, unless you found a bug or you have a feature request.

This does not seem like a bug to me, what you describe is the expected behaviour of the `query_string` query. I believe your field ended up empty after text analysis, that would be why you don't get that specific document back by doing `UserID:*`. Have a lo

[2015-03-24 11:26] #10232 closed

[2015-03-24 11:29] martijnvg commented on #9714
There can be many reasons why you're running low on heapspace and long gc. It doesn't have to be percolator related. Can you check the node stats api and check if something else is using up the heapspace?

[2015-03-24 11:33] Anaghasri opened #10236 "How to add documents to existing index"
Hi,
Am using Elasticsearch 1.4. My requirement is I will have data every hour and that needs to be uploaded. So the approach that I have taken is to create an index - demo_<date> and upload the data. Now, my question is how to append the subsequent hours data into this index.
Request you to throw light on this.

[2015-03-24 11:36] s1monw commented on #10236
please use the mailing list for questions like this. The issue tracker is only for bugs / features and development.

thanks

[2015-03-24 11:36] #10236 closed

[2015-03-24 12:02] andsens opened #10237 "Debian init script exits with $?=1 when ES already started"
Running `/etc/init.d/elasticsearch start` when ES is running gives an error (`$?` is 1).

According to the [LSB guidelines](http://refspecs.linuxbase.org/LSB_3.0.0/LSB-generic/LSB-generic/iniscrptact.html), an init script should exit with 0 when starting an already running service:

In addition to straightforward success, **the following situations are also to be considered successful**:
* restart

[2015-03-24 12:44] jaroslawZawila opened #10238 "Integration test fails after upgrade to 1.5.0"
I have bunch of integration tests which works fine with elasticsearch  version 1.4.4 and  lucene version 4.10.3. When I upgrade to elasticsearch version 1.5.0 and lucene 4.10.4 tests does not work anymore.
They are failing with "java.lang.OutOfMemoryError thrown from the UncaughtExceptionHandler" exception.

I am running tests on Centos 6.5 with java 1.7.0_75

[2015-03-24 12:48] tlrx commented on #10237
@andsens thanks for reporting. Yes, we have to make the return codes conform with LSB guidelines. I'm currently working on it ;)

[2015-03-24 12:49] javanna commented on #10238
Hi @jaroslawZawila can you please share some more details about your tests? What do they test exactly and how? Anymore info on the error that you get back (e.g. the whole stacktrace)?

[2015-03-24 13:39] Pytlicek commented on #7464
+1

[2015-03-24 13:57] #10164 closed

[2015-03-24 14:03] drewdahlke commented on #10224
Hey, thanks for getting back to me. Our doc structure only nests one layer deep right now, but we are sorting on a nested date field. It's good to know there's an improvement for that in a future release. I've got include_in_parent set to false on the nested docs. Our docs get updated typically 8-10 times but are never deleted.

We're on 1.4.4 and it looks like in 1.4.1 the eager loading of bitset

[2015-03-24 14:08] nknize commented on #9511
@bictorman There are 2 discussions here (latest surrounding winding order). I want to make sure we answered your original question/issue.

We comply with OGC SFA spec (https://portal.opengeospatial.org/files/?artifact_id=829 see section 2.1.10 - specifically figure 2.5). "Figure 2.5 shows some examples of geometric objects that violate the above assertions and are not representable as single insta

[2015-03-24 14:23] rhdip commented on #9900
Sorry for the delayed response. I am trying to search for a given string in the content of the file. Say I have a file abc.docx and it contains the word "shark" in it. If I search for "sha", it returns the file abc.docx. However, if I search for "shar", it does not return that file i.e it seems to process only 3 character search strings while doing content search. I checked this in the latest vers

[2015-03-24 14:45] drewdahlke commented on #10224
Scratch what I said about 1.4.4 defaulting to false. I must have missread https://github.com/elastic/elasticsearch/issues/8394 because setting index.load_fixed_bitset_filters_eagerly=false seems to have done the trick. fixed_bit_set_memory_in_bytes shrunk 2 orders of magnitude from that. Sweet!

[2015-03-24 14:45] martijnvg commented on #10224
The bitset cache caches on a per nested field basis.

No, at the moment that isn't possible

If a document get deleted then under the hood the Lucene document(s) get marked as deleted and are re-added. So perhaps it does make sense to prune deleted docs at some point.

In 1.4.4 only the bitset for parent level nested field are eagerly loaded, in your case that is only one bitset, so that should be

[2015-03-24 14:53] drewr commented on #10226
Agree, we should have node name and id on all APIs.

[2015-03-24 14:53] martijnvg commented on #10224
One note about the disabling the eager loading is that unfortunately will not prevent jvm heap issues. If a search request gets executed that does need the bitsets, it will load it and you may run into the same issues.

[2015-03-24 14:56] lmenezes commented on #10226
Will you take care of it, or should I send a PR?

[2015-03-24 14:59] drewr commented on #10226
@lmenezes Happy to have a PR!

[2015-03-24 15:36] javanna commented on #10135
Hi @mikiot I'm having troubles parsing your alias request, the filter doesn't fit in my screen :) Did you try to trim it down a bit and see which part is causing the problem that you see exactly? Did you try executing the flter by itself, without going through the alias?

[2015-03-24 15:45] bictorman commented on #9511
@nknize Understood. Seems like I was misled by the behaviour of PostGIS and previous ES versions. We'll try to fix the data, thanks for the answer.

[2015-03-24 16:07] mikiot commented on #10135
What do you mean by it does not fit in the screen?
The problem is caused by the has_child filter. The filter works fine by it's on.
I removed some parts of the filter and removed indentation so you can see the filter.

[code]

[2015-03-24 16:47] #8877 closed

[2015-03-24 17:03] abordia opened #10241 "Disable query unless user specifies index and a field‏"
In my org, each team is creating ES index daily so the number of index grows very quickly.  Usually users are interested only in their 'team' data.  Currently, some users execute query using Kibana w/o specifying index and field name(it takes _all').   Such queries at times, bring our cluster to halt/ crash etc.  I would like queries to be restricted such that only well defined queries can be exec

[2015-03-24 17:32] grantr commented on #10107
Thanks for your thoughts @javanna!

Specifying a single write index would be a good start, but doesn't fit our use case. For one of our time-series indices used for tracking exceptions, it isn't enough to always write to the most recent index. Documents might be queued or in flight during the rollover, causing some documents to be indexed in the wrong index.

We also move documents that are marked

[2015-03-24 17:40] martinhynar opened #10242 "_cat indices with pattern does not list closed indices"
I am on ES 1.4.4 and I want to list indices with some prefix

[code]

Then, there is difference between querying exact index and using prefix with wildcard
[code]

On open index, the output is identical.

[2015-03-24 18:27] drewdahlke commented on #10224
Makes sense. Any chance we could make this a feature request to persist those bitsets on disk and LRU cache them in memory rotated by a configurable max memory cap? As is with time series data (we have 1 index per day of data) old data, less frequently queried, has the same bitset memory cost as the hot recent data and it'd be nice to get some control over that.

[2015-03-24 19:13] nknize commented on #9511
Closing as non-issue

[2015-03-24 19:39] mikemccand commented on #10067
Since #8877 is done I went and removed all delete-by-query logic but ... then I realized: what if a user has a DBQ in the translog on a shard and upgrades to 2.0?  Must we support this back-compat case?  Can we "require" that users flush (clears the translog) before upgrading?

If not ... I need to put back the DBQ logic for translog and Engine.

[2015-03-24 19:51] GlenRSmith commented on #10242
:+1:

[2015-03-24 20:25] s1monw commented on #10067
I am afraid we have to.

[2015-03-24 20:53] GlenRSmith commented on #9659
In master, it's already "script_file", which does seem preferred, as @javanna 's comment points out.
This issue can probably be closed, then, unless it's waiting for the "lang" param addition.
Going to generate a pull request for that.

[2015-03-24 20:54] rjernst commented on #10067
But we can still remove the public API right? This can just be an internal backcompat implementation detail?

[2015-03-24 20:58] mikemccand commented on #10067
Yeah ... I also need to fix the static back compat indices to leave some DBQs in the translog and confirm on upgrade the docs are in fact deleted ...

[2015-03-24 21:25] gmenegatti commented on #10043
+1

[2015-03-24 21:40] gebrits commented on #10163
No probs :) I feel the need for clientside de-duping is the biggest hurdle that would be solved with this. It's just messy. (e.g.: taking care of ordening, etc.)

[2015-03-24 21:46] ewr opened #10244 "Scroll broke after upgrade to ES 1.4.4"
We have a script that uses the elasticsearch JS lib to pull sorted results and write log files. It worked great against a cluster running ES 1.4.1 (I think? possibly 1.4.3), but after an upgrade to 1.4.4 it appears to be returning the same results over and over.

Initial request and first result:

[code]

First scroll and first result:

[code]

Importantly, it's the same scroll id and the same res

[2015-03-24 22:19] BalachanderGS opened #10245 "Write to ES works from Pig results in success (DocCount looks good), but the mappings aren't there"
ES:

curl -XDELETE 'http://localhost:9200/ztmp_inventory_tool_sample'

curl -XPOST localhost:9200/ztmp_inventory_tool_sample -d '{
  "settings" : {
    "term_index_interval" : 256,
    "term_index_divisor" : 5
  },
  "mappings" : {
    "invData" : {
      "_source" : { "enabled" : true },
      "properties" : {
        "ekv_raw" : { "type" : "byte" },
        "ekv_flight" : { "type" : "byte" },

[2015-03-24 22:19] BalachanderGS commented on #10245
Not sure how to debug this as there isn't any error in the Pig logs and I don't see any indexing logs in ES as well

[2015-03-25 02:38] drewr commented on #9353
Duplicate of #8041

[2015-03-25 02:38] #9353 closed

[2015-03-25 02:57] drewr opened #10249 "Change output of _cat/fielddata to be row-centric"
Currently `_cat/fielddata` adds a column per field:

[code]

which isn't really the spirit of the cat api.  In order to find out how many fields are in the cache on `michaelangelo`, eg, you'd have to count the columns. In order to sort the fields in descending order by bytes, you'd have to do some significant processing (read: something more than counting some lines) outside the api, rather than j

[2015-03-25 03:33] colings86 commented on #10059
Closing in favour of #10000 and #9876

[2015-03-25 03:33] #10059 closed

[2015-03-25 04:21] pickypg commented on #9890
I have created the issue over at the wikimedia/search-highlighter#12 per @nik9000's suggestion and we can close this issue here.

[2015-03-25 04:21] #9890 closed

[2015-03-25 04:49] dennisgorelik commented on #9714
@martijnvg
What kind of node stats are you asking me for?
Do you need information like that?

Something like that?

    curl -X GET "http://elasticsearchserver:9200/_nodes/stats/jvm?pretty=true"

[code]

This is node stats api during normal (healthy) operations.
Would I need to collect the same information when my ElasticSearch node experience problems?

[2015-03-25 05:07] andavarlaxman opened #10252 "Inconsistent results"
Hi Elastic Users,
  We have 6 shards 2 replicas(3 nodes). While am searching in node1 it returns one result, then pass the query to node2 & 3 it returns different order.

I tried preference = _primary & _primary_first It will returns correct order in all the nodes.

But I tried preference = userId(003fdaa6-c5e7-4578-a70e-1c010d358960). This will also returns the first results(Inconsistent results)

[2015-03-25 05:15] markwalkom commented on #10252
Please use the mailing list for these sorts of problems - https://groups.google.com/forum/#!forum/elasticsearch

Github issues are for problems relating to code issues/bugs.

[2015-03-25 05:15] #10252 closed

[2015-03-25 05:36] clintongormley opened #10253 "`min_score` not working in `function_score` query"
The new `min_score` functionality in the `function_score` query doesn't seem to to work as advertised.  For instance:

    DELETE t

    PUT t
    {
      "mappings": {
        "t": {
          "properties": {
            "name": {
              "type": "string"
            },
            "foo": {
              "type": "nested",
              "properties": {
                "key": {

[2015-03-25 05:59] martijnvg commented on #9714
@dennisgorelik  Yes, the node stats api, but preferable all the information and when you're seeing the jvm gc warnings. The following request should include all information and show sizes in a human readable way:

[code]

What also can be helpful when jvm problems occur is a jvm heapdump, but you can share that with me privately.

[2015-03-25 07:17] jaroslawZawila commented on #10238
I have got to bottom of my problem. It is caused by PowerMock not by ElasticSearch.

[2015-03-25 07:18] #10238 closed

[2015-03-25 07:36] dennisgorelik commented on #9714
@martijnvg
1) When our ElasticSearch server hangs again - we'll send you full node stats api response (based on your command).
2) How do I produce jvm heapdump for ElasticSearch in Windows?
I tried:

    jmap -dump:live,format=b,file=heap.bin 2400

and got:

    2400: Access is denied

2400 is PID of elasticsearch-service-x64.exe on our server.

[2015-03-25 08:02] lukas-vlcek commented on #9876
very nice!

[2015-03-25 08:41] brwe opened #10254 "Plugin manager should handle path `elastic/plugin/version` for installing plugins"
The repository was renamed from `elasticsearch` to `elastic` but for installing plugins from this repository the path still needs to be `elasticsearch/plugin/version`. This is confusing.

[2015-03-25 08:54] Alix-Martin opened #10255 "python API es.explain on range query : inconsistent int size constraints"
I'm trying to use explain on a range query through the python API :

(Pdb) es.explain("test8_ref05", doc_type="document", id="www.orange.fr/", body = """{"query": {"range": {"meta_description_ic": {"gte": 2147483648}}}}""")
{'_index': 'test8_ref05', '_type': 'document', '_id': 'www.orange.fr/', 'explanation': {'value': 1.0, 'details': [{'value': 1.0, 'description': 'boost'}, {'value': 1.0, 'descri

[2015-03-25 08:58] q42mark commented on #10166
In theory TCP+thrift should provide better performance. What is the reason to drop this? Could you give us a more detailed explanation of why this is removed?

[2015-03-25 08:59] JiounDai commented on #7464
but
"must_not": [
      {
          "query_string": {
                "query": "clientip:[10.44.0.0 TO 10.44.255.255]"
              }
      }
]
can not work well

[2015-03-25 09:00] uboness commented on #10254
we should keep the installation path `elasticsearch/...` as these are elasticsearch plugins

[2015-03-25 09:10] brwe commented on #10253
This is a bug indeed and it seems to me for two reasons:
1) when the score is 4 the document should not be returned
2) the score should not be 4 in the first place. `"boost_mode": "replace"` should cause the score to be 1 (default if no functions and no query given).
I'll work on  a fix. For now the workaround would be to define a

`"weight": 1,`

if you really want to score all matches with 1 (wh

[2015-03-25 09:12] brwe commented on #10254
could we support both?

[2015-03-25 09:16] zdeseb opened #10256 "Partials not working in Mustache template"
There is feature in Mustache templates called [Partials](http://mustache.github.io/mustache.5.html) which allows to include one template into another.

This could be very useful feature (especially while constructing more complex queries) but it doesn't work correctly in ES [pre-registered templates](http://www.elastic.co/guide/en/elasticsearch/reference/current/search-template.html#pre-registered

[2015-03-25 09:19] zhufeizzz opened #10257 "elasticsearch 1.5 initialize error"
I have already install the lastest sheild from https://download.elasticsearch.org/elasticsearch/shield/shield-1.1.0.zip

[code]

[2015-03-25 09:25] javanna commented on #10242
I confirm, referring to an index explicitly makes it show up, while when using wildcards it all depends on the indices options (expand_wildcards etc.) which are hardcoded in the cat api though. The problem is [here](https://github.com/elastic/elasticsearch/blob/master/src/main/java/org/elasticsearch/rest/action/cat/RestIndicesAction.java#L75), you can never get back closed indices through cat indi

[2015-03-25 09:33] bleskes commented on #10254
+1 to support both as it is confusing. We promote the notion of the first part being a github user as well, which refers to the source of the plugin (same goes for maven), not the fact that is an ES plugin:

[code]

so you could read `elasticsearch/marvel/latest` as get the marvel plugin, supplied by elasticsearch (the org/company) and I want the latest version. In this interpretation people can t

[2015-03-25 09:46] uboness commented on #10254
I'd say this is an attempt to put patches on a broken functionality to begin with... IMO we need to drop this "magic" support for github repo and maven... we can still support them but that can come with an additional explicit arg (e.g. `--github` and `--maven`)... for the rest all downloads should go to our downloads service (or the url defined by the `--url` arg)

[2015-03-25 10:01] dadoonet commented on #10234
Hi

We just released version 2.5.0 for elasticsearch 1.5.0.

Let us know if you have any issue with it by opening new issues in cloud-AWS repo.
Thanks!

[2015-03-25 10:08] javanna commented on #9659
Thanks @GlenRSmith ! Indeed this can be closed, was addressed here: https://github.com/elastic/elasticsearch/commit/7d3856c9d33111534ec20fdad7584ccf509578b6#diff-1ffc331caacd3f8a44aa8f4eab953ed3 .

[2015-03-25 10:08] #9659 closed

[2015-03-25 10:12] javanna commented on #10207
Hi @sdba2 I think this type of questions would be better answered in our mailing list. We generally use github issues for actual bugs of feature requests. Thanks!

[2015-03-25 10:12] #10207 closed

[2015-03-25 10:14] javanna commented on #10158
this seems like a bug, @martijnvg can you have a look please?

[2015-03-25 10:18] javanna commented on #10257
Hi @zhufeizzz shield 1.1 works against 1.4.x, while shield 1.2 has same features but works against 1.5. I'm afraid you installed the wrong version. Once you move to shield 1.2 everything should be fine.

[2015-03-25 10:18] #10257 closed

[2015-03-25 10:21] pueffl opened #10258 "[KIBANA 4] Unable to use other aggregation than count"
As I got now answer in the forums, I announce this as a possible bug:

I want to create a View which shows an average request time in Kibana (which worked in Kibana 3). I have configured the conversion of the according Integer-String in Logstash as follows:

    mutate {
        convert => ["request_time", "integer"]
    }

In Kibana, I see 'request_time' marked with an exclamation mark in a trian

[2015-03-25 10:22] javanna commented on #10241
I think this is a duplicate of #6470. You can disable wildcard expansion at the moment, but only per request, which is not what you need. We would need to make this a global setting as described in #6470. Closing as a duplicate, feel free to reopen if I missed something.

[2015-03-25 10:22] #10241 closed

[2015-03-25 10:24] javanna commented on #10230
Hi @photonicworld could you post a complete recreation of your problem please, including documents and the response that you get back from your query?

[2015-03-25 10:28] javanna commented on #10257
One more thing, if you point the plugin script to `elasticsearch/shield/latest` that already downloads the correct version depending on your elasticsearch version. Not sure, but seems like it went wrong for you because you have pointed to `elasticsearch/shield/1.1.0` directly?

[2015-03-25 10:31] uboness commented on #10257
indeed `elasticsearch/shield/latest` should work... but we seem to have an issue there at the moment... checking it out

[2015-03-25 10:36] Mohamed70 opened #10259 "Exception in thread "main" java.lang.NoClassDefFoundError: org/elasticsearch/bootstrap/Elasticsearch"
Hello, I downloaded elasticsearch 1.5.0, I tried to run it but I got this error:

    Exception in thread "main" java.lang.NoClassDefFoundError: org/elasticsearch/bootstrap/Elasticsearch
    Caused by: java.lang.ClassNotFoundException: org.elasticsearch.bootstrap.Elasticsearch
	   at java.net.URLClassLoader$1.run(URLClassLoader.java:217)
	   at java.security.AccessController.doPrivileged(Native Me

[2015-03-25 10:36] uboness commented on #10257
oops.. my bad... seems to work after all... in any case.. see http://www.elastic.co/guide/en/shield/current/quick-getting-started.html

[2015-03-25 10:59] bleskes commented on #10258
@pueffl I'm sorry to send you to yet-another-place, but I think your best chance for a good answer is at the Kibana github repo (https://github.com/elastic/kibana ). Do you mind opening the issue there? it is watched but the Kibana devs.

I'm closing it here for now as it is not an ES issue (as far as I can tell).

[2015-03-25 10:59] #10258 closed

[2015-03-25 11:04] jpountz opened #10260 "Aggregations: new `frequencies` aggregation"
When working on time-based data, a farily common question is to ask about the frequency of certain field values. For instance imagine that you are indexing Apache logs, you might wonder how many visitors are new visitors vs. recurring visitors. Or more generally, how many visitors have visited your website more than 5, 50 or 500 times.

It is possible to do it right now using the terms aggregation

[2015-03-25 11:11] zhufeizzz commented on #10257
@javanna I download shield manual from this url https://download.elasticsearch.org/elasticsearch/shield/shield-latest.zip

The server return back shield-1.1.0.zip to me, can you try this url?

[2015-03-25 11:19] javanna commented on #10257
@zhufeizzz correct if you download manually `latest` points to `1.1`, we only have a 50% chance to give you the correct version. We are discussing how we could improve this for manual downloads. For now the behaviour you see is expected, you should download directly the 1.2.0 version [here](https://download.elasticsearch.org/elasticsearch/shield/shield-1.2.0.zip) .

[2015-03-25 11:23] #10226 closed

[2015-03-25 12:06] pueffl commented on #10258
No problem, I opened the issue there :-)

[2015-03-25 12:27] javanna commented on #5074
First of all sorry it took ages to comment on this. I am conflicted about this, primarily because we would introduce support for something that we don't need ourselves, which would complicate the codebase and would be potentially hard to test and maintain.

[2015-03-25 12:40] SjonHortensius opened #10261 "Remove existing _es090* files since Bloom filters are now deprecated?"
After upgrading to 1.5.0 which includes #8571 I was hoping I could free up some diskspace from our nodes. Is there a way to remove the *_es090 files (since they are unused) now that the functionality is deprecated or do I need to wait for the entire functionality to be removed as well?

[2015-03-25 13:42] mikemccand commented on #10261
You cannot [easily] remove these files from existing shards, however natural merging over time will remove them since the newly merged segment will not write any bloom filters.

[2015-03-25 13:59] mikemccand opened #10262 "Core: delete-by-query fails to replay from translog < 1.0.0 Beta2"
Working on #10067, improving our back-compat test indices so that the translog has a delete-by-query on upgrade, I hit this pre-existing back-compat bug where on upgrade of an index <= 1.0.0 Beta2 that has a DBQ in its translog, this exception shows up:

[code]

This is happening because of #4074 when we required that the top-level "query" is present to delete-by-query requests, but prior to that

[2015-03-25 14:02] martijnvg commented on #9958
@perryn I think that the issue you're reporting is fixed by #10263. Would be great if you can verify this!

[2015-03-25 14:03] martijnvg commented on #10158
@paolociccarese @javanna Sorry, I missed this! I opened PR #10263 for this bug.

[2015-03-25 14:15] martijnvg commented on #10244
@ewr No changes were made to scroll between 1.4.1 and 1.4.4. Also 1.4.4 was a release that was mainly done to fix the RPM and DEB packages. Maybe it is an issue that has been around for longer.

Are there by any chance nodes of different version in your cluster? The easiest way to see this is by running a cluster stats request: http://www.elastic.co/guide/en/elasticsearch/reference/current/cluster

[2015-03-25 14:17] clintongormley commented on #10244
@martijnvg I wonder if there is another bug similar to this one: https://github.com/elastic/elasticsearch/pull/9157 when sorting on null values during scroll

@jpountz you looked at the last issue

Also see similar bug report here: https://github.com/elastic/elasticsearch-perl/issues/60

[2015-03-25 14:20] bjm88 commented on #9655
We had this security issue exploited against our UAT/test AWS instance.  Production ES cluster is behind firewall, but UAT/test env was not.  I suspect a scanning of port 9200 for ES is how we were identified.  In elastic search logs we saw the below, you see the use groovy script to get java Runtime and do exec.  In our case they put a udp bot in our /tmp folder likely to launch udp port 80 DOS a

[2015-03-25 14:49] javanna commented on #10135
sorry @mikiot about the irony, I just meant that the filter is very big and hard to read. Much better now, thanks a lot for trimming it down. I managed to reproduce the problem, it does seem like a bug.

@martijnvg can you have a look please? here is the stacktrace (ran from current 1.x), seems like `docIdsSet` is null [here](https://github.com/elastic/elasticsearch/blob/1.x/src/main/java/org/elas

[2015-03-25 15:03] SjonHortensius commented on #10261
Okay so the only way to get rid of them would be to ex&import existing data to a new index on e/s 1.5 which will then not write the bloom filters. The es090*  consumes roughly 40% of our disk-space so this might actually be an interesting option for us

[2015-03-25 15:10] jagadeeshv16 opened #10264 "zen unicast discovery not detecting nodes when protected by shield"
Hello, when installed shield on nodes which are present on different VPS to protect ELK , the hosts are failing to discover each other. The log lines point to shield exception :

org.elasticsearch.transport.RemoteTransportException: Failed to deserialize exception response from stream
Caused by: org.elasticsearch.transport.TransportSerializationException: Failed to deserialize exception response f

[2015-03-25 15:10] abonuccelli-es opened #10265 "_ttl calculation appears to be incorrect when _timestamp extracted from external value via path"
on 1.5.0
Creating a document using the below

[code]

index the doc at around 2015-03-25T16:03:00.000

[code]

Immediately ask for current _ttl
[code]

returns

[code]

_ttl is way bigger than it should be ( should be about 3 minutes )
_timestamp is correct

for 1427299500000
Convert epoch to human readable date and vice versa
 Timestamp to Human date  [batch convert timestamps to human dates]
Ass

[2015-03-25 15:11] jpountz commented on #10260
Here is a paper that gives a nice explanation of the algorithm as well as error bounds: http://dimacs.rutgers.edu/~graham/pubs/papers/cmsoft.pdf

[2015-03-25 15:19] ewr commented on #10244
@martijnvg: I think you nailed it on the versions. Our data nodes were all 1.4.4, but we had logstash connecting via the node protocol and it was registering as 1.1.1. Just for the fun of it I switched that back to using the http protocol (which it had been until sometime around the time this issue started) and our log script started exporting good numbers again.

[2015-03-25 15:34] mikemccand commented on #10261
Hang on: it's only the .blm files that will go away, and this almost certainly should not be 40% of your index...

[2015-03-25 15:37] SjonHortensius commented on #10261
Ah, you're right; that is actually less then 1%. So maybe this isn't as interesting as I thought. Thanks!

[2015-03-25 15:37] #10261 closed

[2015-03-25 15:49] mikiot commented on #10135
@javanna You know you can always use a json formatter like this one https://www.jsoneditoronline.org/ for big jsons. This is what I used to remove the indentation. ;)

[2015-03-25 15:50] javanna commented on #10135
@mikiot I know and I spent some time doing it yesterday but somehow elasticsearch would refuse that filter although the json seemed valid, now it's better, thanks again

[2015-03-25 15:52] abonuccelli-es commented on #10265
seems to be off roughly by one hour?
am I missing anything re-timezone?

[2015-03-25 15:56] abonuccelli-es commented on #10265
on same system when I let elasticsearch assign now() that equals to now-1h.
closing until I'll do some more test

[2015-03-25 15:56] #10265 closed

[2015-03-25 16:28] mikemccand commented on #10067
Maybe we can simply detect when this ("DBQ in translog on upgrade") happens and refuse to start the shard, saying that you must go back to the prior version and flush the shard?

[2015-03-25 17:11] dadoonet commented on #10259
Which exact file did you download?
How did you install it?
On which OS?

[2015-03-25 17:58] nknize commented on #9871
Similar to #9511

tldr; The proposed behavior violates the OGC SFA specification - which ES 1.4.3+ is now compliant. Per the spec, self touching polys should be converted to ```multipolygon``` or multiple ```polygon``` objects.

In many areas JTS functionality is overridden for performance and correctness (e.g., winding order) so allowing this behavior not only violates the OGC spec, but is not as

[2015-03-25 18:03] nknize commented on #9716
Can you post your field mappings?

[2015-03-25 18:54] dbaston commented on #9511
@nknize A lot of other software out there (PostGIS, GEOS, JTS, etc.) interprets the OGC spec to allow an interior ring to touch the outside of a boundary, provided that it only touches at one point.  (If only OGC had included a drawing of this simple case in the spec!)  Does ES have a different interpretation of the spec than PostGIS etc, and if so, how is one to represent a polygon like the one @

[2015-03-25 19:53] martijnvg commented on #10244
Good to hear that things are working again. So this is just means that there is a back in the bwc scroll logic.

[2015-03-25 20:41] ppf2 opened #10267 "Concurrent recoveries setting applies only to target nodes"
Test case is to use shard allocation filtering to exclude a single node (node2) from the cluster:

Concurrent recoveries set to 1, “target” nodes are throttled because only 1 shard is initializing on each node due to relocation from node 2.  But this does not seem to apply to the “source” node (node2) where it is relocating 3 at a time.

![image](https://cloud.githubusercontent.com/assets/7216393/

[2015-03-25 20:50] nknize commented on #9511
@dbaston  While I cannot comment on OGC compliance for other software packages your question did expose an issue with the ShapeBuilder incorrectly counting the closed coordinate of the interior ring as a violation of 2.1.10 assertion 3 (a conflict between the geojson parser and the OGC builder counting that point as 3 intersections).  I'm going to reopen this issue to correct the closed coordinate

[2015-03-25 21:54] rjernst commented on #10067
That seems reasonable? This is an extreme edge case. If they are upgrading from 1.5+, the flush is done automatically on shutdown.  And we already recommend running flush before any shutdown in general. So the only way for them to hit this is to have done a DBQ since the last time a flush happened (max 30 mins by default?), and then to have shutdown without doing a flush.

[2015-03-25 22:53] twitchjorge commented on #9226
This issue appears to show up very regularly in an experimental cluster I've been setting up recently.  The cluster is configured as a relatively standard Elasticsearch, Logstash, Kibana stack.  I'm seeing shards get stuck in the translog phase somewhere on the order of once per five allocations or so.  It's likely that there are configuration changes I could make to reduce the incidence of this,

[2015-03-25 23:22] rjernst commented on #10254
+1 to what @uboness said.

[2015-03-26 01:41] kutchar opened #10270 "Issue with nested filter, sub field and "path""
It seems like when using a nested filter to filter a sub field, the "path" parameter gets ignored.

Considering the following index mapping
[code]

And the following data:
[code]

The following query does not work:
[code]

To make it work, you need to use the fully qualified name of the field (`fields.value.ngram` vs `value.ngram`) in the term filter like so :

[code]

This seems like a bug to me.

[2015-03-26 02:55] hyhsoftware commented on #9659
but how can i use it by java api?  i cannot find the method, do you have some idea?

[2015-03-26 03:01] markwalkom commented on #9659
@hyhsoftware please ask your question on the mailing list - https://groups.google.com/forum/#!forum/elasticsearch

[2015-03-26 04:29] yanjunh commented on #2401
This is a sweet workaround.  It appears working for me. thanks

[2015-03-26 04:40] gucasbrg opened #10271 "geoShapeQuery relation error?"
// Import Spatial4J shapes
import com.spatial4j.core.context.SpatialContext;
import com.spatial4j.core.shape.Shape;
import com.spatial4j.core.shape.impl.RectangleImpl;

// Also import ShapeRelation
import org.elasticsearch.common.geo.ShapeRelation;// Shape within another
QueryBuilder qb = geoShapeQuery(
        "location",
        new RectangleImpl(0,10,0,10,SpatialContext.GEO)
    )
    .relation

[2015-03-26 05:17] renewooller commented on #9726
This is causing problems for us. The scroll_id is being recognised by the master search node, but, intermittently, all the data nodes seems to lose the context for the scroll. Here is an example response, with status 500: {"_scroll_id":"c2NhbjswOzE7dG90YWxfaGl0czoxODs=","took":15,"timed_out":false,"_shards":{"total":20,"successful":0,"failed":20,"failures":[{"status":500,"reason":"RemoteTransportE

[2015-03-26 06:35] rjernst commented on #10270
I believe this should have been fixed with #9490. Have you tried this on 1.5.0?

[2015-03-26 07:32] hordemark opened #10272 "how to create custom mapping for the same field"
When I put the following JSON to elasticsearch. It get error about nested: NumberFormatException
{
   "id":"eee",
   "crosstab":{
      "dims":[
         {
            "id":1
         },
         {
            "id":"asd"
         }
      ]
   }
}

I  knew dims.id have different type, what should I do to avoid create index dim.id or create custom mapping.

[2015-03-26 07:54] javanna commented on #10272
Hi @hordemark can you please ask your question on the [mailing list](https://groups.google.com/forum/?fromgroups=#!forum/elasticsearch)?

[2015-03-26 07:54] #10272 closed

[2015-03-26 08:35] j0r0 commented on #9716
Sure. I am posting only the relevant fields
[code]

[2015-03-26 08:36] ramzy27 opened #10273 "ES 1.5 response syntax error"
I just downloaded elasticsearch 1.5. After having successfully indexed a document that includes an attachment file , I tried to get my index data in order to test some queries . When I make a simple /_search query i get a not valide Json response.
![es1 5error](https://cloud.githubusercontent.com/assets/3472300/6842729/925447b8-d39b-11e4-8ebd-455d6e735d19.PNG)

[2015-03-26 08:39] javanna commented on #10273
Hi @ramzy27 could you please post a recreation of what you did, especially the complete search response so we can double check?

[2015-03-26 08:39] tlrx commented on #10254
I don't think we need the support for 'elastic' but I like the github and maven support. I think most users don't know if a community plugin is available on github or maven or something else.

Here's what I've done in #9998:

I updated the plugin manager to add a notion of [plugins repository](https://github.com/elastic/elasticsearch/pull/9998/files#diff-196560d7540091985eaa960c6472daafR27). Each

[2015-03-26 08:48] ramzy27 commented on #10273
1) I created the following mapping {
    "rfp": {
        "properties": {
            "file": {
                "type": "attachment"
            },
            "filename": {
                "type": "string"
            },
            "filedate": {
                "type": "date"
            },
            "tags": {
                "type": "string",
                "index_name": "tag"
            },

[2015-03-26 08:55] javanna commented on #10273
I'm afraid the problem is in your document. elasticsearch doesn't validate json, and just returns what you sent to it, which is why the search response is not a valid json. Have a look [here](https://github.com/elastic/elasticsearch/issues/9415). We've been discussing how we could improve this on #2315 but we haven't reached an agreement yet.

[2015-03-26 08:55] #10273 closed

[2015-03-26 09:10] javanna opened #10274 "Deprecate script.disable_dynamic setting"
With the introduction of fine-grained script settings as requested in #6418 and implemented in #10116, we should deprecate the `script.disable_dynamic` setting which currently disables both indexed and inline scripts (without affecting native and mustache scripts).

It is possible to achieve the same as `script.disable_dynamic: false` through fine-grained generic settings as follows:

[code]

Note

[2015-03-26 09:13] mikemccand commented on #10067
Alas, the flush is only done in 1.5+ if a recovery was not also in process when the node was shut down, because a recovery blocks flushes (separately, we need to fix translog so it's ref counted instead: the two operations really should be independent).

Anyway, I think for this we should just keep the "replay DBQ on upgrade" ... the DBQ code that we need to keep around to do this is very small: j

[2015-03-26 09:29] cyberhuman opened #10275 "Can not start ES after upgrade to 1.5.0"
We had to revert to 1.4.4 because 1.5.0 won't start. What might be causing it?
[code]

ES is installed from the debian repo:
[code]

We are using Java7 from Oracle:
[code]

Let me know if more information is needed.
Thanks.

[2015-03-26 09:32] bleskes commented on #10254
@tlrx sounds great. if these all work:

[code]

I'm happy :)

[2015-03-26 09:33] tlrx commented on #10275
It looks like this plugin is not compatible with ES 1.5. You have to use a version of the plugin which is compatible with elasticsearch 1.5.

[2015-03-26 09:33] tlrx commented on #10254
@bleskes if you're happy, I'm happy. :)

[2015-03-26 09:41] cyberhuman commented on #10275
Hi Tanguy,
I removed ExperimentalHighlighterPlugin, that was not compatible, but the main issue (```ClassNotFoundException: org.elasticsearch.indices.InternalIndicesService```) still remains.

[2015-03-26 09:43] tlrx commented on #10275
Can you please post again the output without the ExperimentalHighlighterPlugin?

[2015-03-26 09:46] cyberhuman commented on #10275
Here you are:
[code]

[2015-03-26 09:49] hyhsoftware opened #10276 "failed to install lang-groovy"
follow the documents, I execute the command
./plugin --install elasticsearch/elasticsearch-lang-groovy/3.0.0

but it shows

Message:
   Error while installing plugin, reason: IllegalArgumentException: Plugin installation assumed to be site plugin, but contains source code, aborting installation.

anyone help me?

[2015-03-26 09:51] ferdy-galema opened #10277 "Simple query string accepting "field:" syntax in the query"
Why does the simple query string parser not accept "title:foobar" in the query like the normal query string parser does?

It would be nice to combine the fault tolerance of the simple query string parser with the "specify field in the query" syntax of the normal query parser.

[2015-03-26 09:56] brwe commented on #10254
@tlrx I agree, once #9998 is merged this issue can be closed as far as I am concerned

[2015-03-26 10:08] tlrx commented on #10275
@cyberhuman thanks :) It's possible that some installed plugins are not compatible with the version of elasticsearch you use. One thing you can do is to test if elasticsearch starts correctly without plugins. If it starts correctly, then try to install each plugin one by one, restarting elasticsearch after each plugin installation. This should indicates the potential plugin that fails.

Also, note

[2015-03-26 10:14] javanna commented on #10274
Done in https://github.com/elastic/elasticsearch/commit/8c2cd66ff3f503826afa0b53aff7a71bb82cbb46 .

[2015-03-26 10:14] #10274 closed

[2015-03-26 10:18] jaymode commented on #10264
@jagadeeshv16 can you confirm that you have Shield installed on all of your nodes? The exception looks like a ping request was sent from a node without Shield to a node with Shield installed.

[2015-03-26 10:23] cyberhuman commented on #10275
I was able to nail it down to the marvel plugin. Too bad it does not complain about being incompatible with ES. Thanks!

[2015-03-26 10:23] #10275 closed

[2015-03-26 10:24] tlrx commented on #10275
@cyberhuman thanks for letting us know :)

[2015-03-26 10:52] dadoonet commented on #10276
This version does not exist.
Which elasticsearch version are you using BTW?

[2015-03-26 11:36] bleskes commented on #10275
@cyberhuman marvel 1.3.1 should work with 1.5 . Can you double check which version you use(d) ? if not, can you install the lastest marvel and give it a spin? (works for me :))

[2015-03-26 11:40] cyberhuman commented on #10275
@bleskes, honestly I don't know. The official download page recommends /latest, and I have already reinstalled it, so there is no way to see know what was the previous version.

[2015-03-26 11:54] bleskes commented on #10275
@cyberhuman if it's works now I'm happy. The `latest` is a redirect link to the latest version compatible with your ES.  You can check the marvel version by looking at the plugins/marvel folder . it will be part of the jar name. Also `GET /_cat/plugins`  will give you versions as well.

[2015-03-26 12:09] bleskes opened #10278 "CI: BigArraysTests.testLongArrayFill raises ArrayIndexOutOfBoundsException"
see http://build-us-00.elastic.co/job/es_g1gc_master_metal/4810/testReport/junit/org.elasticsearch.common.util/BigArraysTests/testLongArrayFill/

[code]

The seed reproduces:

[code]

[2015-03-26 12:34] bleskes commented on #10267
The `cluster.routing.allocation.node_concurrent_recoveries` settings concerns initializng shards, which implicitly mean target nodes.

For the source node we have the `indices.recovery.concurrent_streams` which control how many concurrent out going file copy requests we can have. That effectively throttles recoveries on the source.

Was this causing any issue?

[2015-03-26 13:04] bleskes opened #10279 "CI: testOldIndexes fails to find docs after sort"
See: http://build-us-00.elastic.co/job/es_core_1x_window-2008/1258/testReport/junit/org.elasticsearch.bwcompat/OldIndexBackwardsCompatibilityTests/testOldIndexes/

(note that the message is confusing, expected is what the search returned)
[code]

[2015-03-26 13:17] bleskes commented on #10279
another example: http://build-us-00.elastic.co/job/es_core_1x_strong/3200/testReport/junit/org.elasticsearch.bwcompat/OldIndexBackwardsCompatibilityTests/testOldIndexes/

[2015-03-26 13:27] bleskes commented on #9226
@twitchjorge thx for the detailed report. Since you can reproduce things in your dev environment, can you reproduce it and get the following information? please do it on 1.5.0 as we added much more information to the reporting API.

While the issue is on going, please run the following commands twice at a 1m intervals:

- `GET _recovery` ,
- `GET {index_name}/_stats?level=shards`
- `GET /_nodes/_l

[2015-03-26 14:41] marcelopaesrech opened #10281 "Shard Allocation Problem"
Our cluster has 7 data nodes. Last week one of them was turned off. We restarted the node and then the cluster started rebalancing. The problem is it nerver finishes rebalancing.

Node logs shows an update coming from master node during the rebalancing, seconds later the rebalancing is canceled and then it starts again.

I will put the log in the next msg.

[2015-03-26 14:41] marcelopaesrech commented on #10281
[2015-03-24 15:26:05,244][DEBUG][indices.cluster          ] [THE_CHOSEN_ONE] [my_index][0] creating shard
[2015-03-24 15:26:05,244][DEBUG][index.service            ] [THE_CHOSEN_ONE] [my_index] creating shard_id [0]
[2015-03-24 15:26:05,274][DEBUG][index.deletionpolicy     ] [THE_CHOSEN_ONE] [my_index][0] Using [keep_only_last] deletion policy
[2015-03-24 15:26:05,275][DEBUG][index.merge.policy

[2015-03-26 14:44] brwe commented on #10048
What would the score be as c approaches 0? We added exp, gauss and linear because like this we can at least make sure the score is between 0 and 1 always. What is your usecase?
I cannot promise there will be any resources soon to implement this but it should be really easy to implement it as a plugin like so: https://github.com/elastic/elasticsearch/blob/master/src/test/java/org/elasticsearch/sear

[2015-03-26 15:13] costin commented on #10245
@BalachanderGS This is an es-hadoop issue and should have been posted under `elastic/elasticsearch-hadoop` issue tracker.

The read/write operation succeed so likely the issue is that the data hits an ES cluster but not the one you are expecting. In the past we've seen issue with `DEFINE` command which might ignore the given configuration - in other words, while you do `EsStorage` to point to `'es

[2015-03-26 15:13] #10245 closed

[2015-03-26 15:44] kimchy commented on #10067
++ on fixing current behavior of delete by query. I think we all agree on the fix, which is to do a scan search and bulk deletes, instead of using delete-by-query, since thats safer and more consistent with our replication model. It might be a long running task, but relatively lightweight, so I don't think we need to wait for the ask management API if we plan to remove delete-by-query in 2.0, and

[2015-03-26 15:50] bleskes commented on #10067
+1 on giving the user an alternative, albeit a slowish one before removing this completely.

[2015-03-26 17:18] BalachanderGS commented on #10245
I think it is going to the write IP as I am able to see the indexing through Marvel (on the desired cluster). We are on Pig 0.11 and CDH 4.4. Do you think there is some version issue here ?

[2015-03-26 17:30] trentcioran commented on #10166
yes, could you provide more detailed explanation? Thanks

[2015-03-26 17:30] rjernst commented on #9143
Another improvement we should make, from @bleskes on #10247:

[2015-03-26 17:31] chuntley commented on #4978
Exact same issue has nvucinic. I just implemented the empty ES_MAP_SIZE fix, and updated to ElasticSearch 1.5. I'll let you know if it happens again.

[2015-03-26 18:08] kutchar commented on #10270
@rjernst yes, the problem is with 1.5.0. I haven't tried it with the older versions.

[code]

[2015-03-26 18:29] marcelopaesrech commented on #10281
Another log extracted from Master node:
[code]

[2015-03-26 18:40] mikemccand commented on #10067
I agree it would be great to "delete old way and add new way" in one go...

That would be great, if it really is OK to just "be slow" sometimes (when the query deleted many docs).  I guess there is precedent here: the optimize API (with wait_for_merge=true) can clearly take a very long time...

Somehow, whichever node receives the DBQ request, must open a client connection (to itself?), run the sc

[2015-03-26 18:41] mikemccand commented on #7052
On #10067 @kimchy pointed out that we need not wait for task management API for this issue, i.e. we can just synchronously (in the user's current request) do the scan/scroll + bulk deletes...

[2015-03-26 18:42] mikemccand commented on #10067
This issue is blocked on #7052.

[2015-03-26 18:47] uschindler commented on #7052
+1

This also means the (incomplete) deprecation on delete-by-query APIs could be removed: #10082

[2015-03-26 18:47] gmarz opened #10284 "Aggregations: formatted string values are always returned in 1.5"
In ES 1.5, many aggregations now return a formatted `<foo>_as_string` version of the return values by default, even without specifying a `format` in the request, or regardless of the field type.

For instance:

[code]

Aggregations where I've observed this:

`as_string` always present:
- min
- max
- sum
- avg
- stats
- extended_stats
- value_count
- percentiles
- percentiles_ranks
- cardinality

`

[2015-03-26 18:57] #6418 closed

[2015-03-26 19:35] AndiG1985 opened #10285 "ElasticSearch results using JAVA"
HI all,
I am trying to use ElasticSearch within the JAVA API. As a JSON File (named Google.json) I am using the following structure:
{
 "markers": [
	 {
              "point":"new GLatLng(40.266044,-74.718479)",
	  "homeTeam":"Lawrence Library",
              "awayTeam":"LUGip",
              "markerImage":"images/red.png",
              "information": "Linux users group meets second Wednesday of

[2015-03-26 20:06] #9851 closed

[2015-03-26 20:11] s1monw commented on #10067
I don't think this need to be blocked on #7052 We can remove this now and add the other one as a followup. Stuff like this should not be blocked syntactic sugar

[2015-03-26 21:50] ppf2 commented on #10267
Thanks @bleskes .  Tried `indices.recovery.concurrent_streams` but it does not appear to have an effect.  The following are the settings:

[code]

And the source is still showing 6 out going file copy requests.

![image](https://cloud.githubusercontent.com/assets/7216393/6857863/0b920fea-d3c7-11e4-89d0-75f1dfe44a9e.png)

For a ~100 node cluster with a node getting excluded, this is causing many ou

[2015-03-26 22:43] mikemccand commented on #10067
OK I opened #10288

[2015-03-26 23:48] jsnod opened #10289 "Watcher should not try to compile .swp (or other .*) files"
I was editing a file in `config/scripts` when this showed up in my logs:

[code]

I'm thinking the watcher should ignore `.swp` files.  Better yet, it should ignore `.*`

[2015-03-27 01:03] rjernst commented on #10279
This was fixed in a follow up commit yesterday:
314ee9c

[2015-03-27 01:03] #10279 closed

[2015-03-27 01:55] fjarrett commented on #2230
+1

[2015-03-27 02:40] pickypg commented on #10276
@hyhsoftware The Groovy language plugin is installed by default with Elasticsearch starting with Elasticsearch 1.3 and later.

[2015-03-27 02:42] pickypg commented on #10253
To be clear, `min_score` as a child of `function_score` is new in 1.5.0.

`min_score` at the _root_ document level works locally running 1.4.4.

[2015-03-27 05:17] rjernst commented on #10091
I investigated this for a while.  Expressions already support scores; the problems are with aggs.

The first problem is scorers are not passed through the many layers of objects consistently.  In the case of the `max` agg example there, I think there are at least 2 levels missing, first in the anonymous `LeafBucketCollectorBase`, and then in the anonymous `NumericDoubleValues` created in `MultiVal

[2015-03-27 05:21] fjarrett commented on #7634
+1 Yes! This would be extremely useful.

[2015-03-27 05:41] rjernst commented on #10270
@kutchar Sorry I had this mixed up with specifying types for parent/child.  What you are seeing here is in fact a difficult limitation to overcome because of the eager binding of the query parser.  When the inner term query is parsed, it looks up this field in the mappings immediately, and creates a lucene TermQuery.  It has no idea that it is running within a nested context.  It might be possible

[2015-03-27 05:42] #10276 closed

[2015-03-27 05:43] dadoonet commented on #10276
Yeah. I need to update groovy plugin README to make sure users are aware of it.

[2015-03-27 06:11] #8312 closed

[2015-03-27 06:20] jerry4 commented on #7090
Is there any progress on merging this change in? I'm in a scenario where I want to run several staging clusters on the same box. The first one is the only one that can be discovered since it takes the default first port. Seems like this change would allow me to specify the number of clusters running on a single box so my clients can check multiple ports.

[2015-03-27 07:18] ppf2 commented on #5359
+1

[2015-03-27 07:20] estin commented on #9878
1.5.0 have this bug - NullPointerException, but error message changed compared to 1.4.4

[code]

[code]

[2015-03-27 07:39] marko-asplund opened #10290 "Naming clash with Joda convert classes"
elasticsearch.jar (v1.5.0) re-packages Joda convert classes:

* org.joda.convert.FromString
* org.joda.convert.ToString

this will create a naming clash in projects that use Joda convert.

[2015-03-27 07:48] rjernst commented on #10278
The fill function did not account for an empty range of [from,to).  This only "mattered" when `from == to == 0`.

I've pushed a fix.
master: 5b0512f
1.x: aa1d0f2
1.5: a008fc1

[2015-03-27 07:48] #10278 closed

[2015-03-27 08:07] quydo opened #10291 "ElasticSearch overload when handle many connections"
Hi all

I have installed ElasticSearch (ES) version 1.5 in our server (only one server)
I set ulimit ~ 64K (max open file).
Our server: 4 virtual CPUs, 7.5 GB RAM (Amazon EC2)

after I start ES, many users can search with reponse respectively. But after 30 seconds to 1 minute, our ES can not response anymore connect ffrom client (PHP library, just implement curl command)

I try to get PID of ES, a

[2015-03-27 08:20] quydo commented on #10291
When the ES service started, I try to run, curl 'localhost:9200/_cluster/stats?network=true&transport=true&http=true&thread_pool=true&indices=false&pretty=true'

And I get the result:
      "open_file_descriptors" : {
        "min" : 211,
        "max" : 211,
        "avg" : 211
      }

why open_file_descriptors are very large :(

[2015-03-27 08:28] Pyppe commented on #10290
Same issue here. Cannot create our own packaged application, because elasticsearch.jar contains the above-mentioned joda-classes.

[2015-03-27 08:34] marko-asplund opened #10292 "Tests fail when building ES"
I've checked out ES source with v1.5.0 tag and when I try to build tests fail with the following tests:
* org.elasticsearch.bwcompat.RestoreBackwardsCompatTests.restoreOldSnapshots
* org.elasticsearch.bwcompat.OldIndexBackwardsCompatibilityTests.testAllVersionsTested

This happens on Mac OS X with Java 8 + Maven 3.2.5

The README advises to skip tests, but it's bad practice to routinely do this si

[2015-03-27 08:57] rjernst commented on #10292
@marko-asplund Thanks for the bug report. This is an issue with how the release script changes code (from a snapshot to release) after we run the tests. I've proposed a fix in #10293.

[2015-03-27 09:12] #9849 closed

[2015-03-27 09:29] quydo commented on #10291
When I switch to version 0.9.x again, here is command "mpstat -P ALL 1" response output:

09:27:39     CPU    %usr   %nice    %sys %iowait    %irq   %soft  %steal  %guest   %idle
09:27:40     all    0,25    0,00    0,00    0,00    0,00    0,00    0,00    0,00   99,75
09:27:41     all    0,50    0,00    0,00    0,00    0,00    0,00    0,00    0,00   99,50
09:27:42     all    0,63    0,00    0,00

[2015-03-27 09:33] bleskes commented on #1063
we discussed it and I think the concern about memory is valid but it's one we already have. During master election we accumulate indexing requests as well (up to 1m). There was also the idea of add a timeout to the refresh wait (but not the indexing).

[2015-03-27 10:06] bleskes commented on #3975
The `lenient` flag current let you ignore values that don't fit specific fields (like when you try to search a numeric field with a string value that doesn't convert to a number). We discussed it and we feel this is good enough. It would be an overkill to try to parse the string looking for numbers in it. I'm closing this as I think @eltu 's issue is covered by this. @clintongormley if you feel di

[2015-03-27 10:06] #3975 closed

[2015-03-27 10:19] bleskes commented on #4420
It's an old issue, but it feels to me that a nice solution for this is to allow the script in a scripted update to return values that will be added to the response. This would allow you to make smarter about the change. The down side is that it introduces overhead if you really just want the original doc. @Plasma maybe you can comment?

[2015-03-27 10:27] bleskes commented on #4485
sounds reasonable to me. Adding an adopt me and a low hanging fruit.

[2015-03-27 10:29] markharwood commented on #4479
It makes sense that Get and Search APIs should share common interfaces where possible for the Field/Doc level constructs returned in results. Any refactoring or introduction of interfaces should be done in a backwards compatible fashion.

[2015-03-27 10:35] bleskes commented on #4642
@clintongormley the sentiment is that this is still a useful thing, but we need to judge on a metric by metric basis.

@costin it's a long time ago- but was there some specific metrics you had in mind? (other then the disk usage)

[2015-03-27 11:32] bleskes commented on #4680
I think this last suggestion on https://github.com/elastic/elasticsearch/issues/4420#issuecomment-86890958 , makes #4420 a complete duplicate of this one. I'm going to close this. If I missed something please re-open or comment on #4420 ?

PS. there is also the http response code (200 vs 201 ) to tell if an upsert happened.

[2015-03-27 11:32] #4680 closed

[2015-03-27 11:33] cyclomarc commented on #9279
-1.  We will no longer be able to process multi-lingual content and that was just the reason to use Elastic Search!

Let me give an example:

We have a multi-tenant content management system mainly used in Europe.  The content entered in this system is thus always a combination of french, dutch, english, german, etc. - total of 15 languages.

When a user enters content, we determine the language o

[2015-03-27 11:37] ofir-reich commented on #10048
You mean where x approaches 0. It would be best to add a constant b, so that it's (x+b)^c, or (abs(x)+b)^c to handle negative cases.
But to be more exact, what we need is a minus logarithmic decay:
Score = -log( abs(x)+b ),
where x is the difference between the query term and the document.
Our use case is for time decay. We want the time difference between documents to affect the result in this wa

[2015-03-27 12:22] j0r0 commented on #9716
I just noticed something which can eventually help you.
The direction of polygon I am describing is clockwise.
So : topleft , topright,bottomright,bottomleft,repeatfirst

If i change the direction to ccw, it is returning correct results.

[2015-03-27 12:43] s1monw commented on #10032
We had some internal discussions how to implement this and I wanted to make sure they are recorded here on the issue. Sealing an index happens basically on two levels, the index and the shard level.

# Index Level sealing
On the index level we use a `ClusterBlock` to prevent any write operations on the index via `index.blocks.read_only`. This is basically a cluster state update that sets the write

[2015-03-27 12:45] rtkmhart commented on #5359
To start with I would love to be able to specify time-based aliases. For example:

PUT /_template/my_template
[code]
would create my_alias-2015.03.27 on the new index, etc. Although the full scripting would be awesome.

[2015-03-27 13:08] marcelopaesrech commented on #10281
Environment set:
ElasticSearch 1.1.1
7 Data Nodes;
4 Load Balancers (no data, no master);
4 Master Nodes (no data).

[2015-03-27 13:17] suprememoocow commented on #9279
-1, for all the reasons put forward by @cyclomarc and @synhershko above.

We're using a similar model to the one @cyclomarc described above, additionally supporting Asian and Middle-Eastern languages: we determine the language using [cld2](https://code.google.com/p/cld2/) at document insertion time and again at query time and apply the correct analyser. Granted, it was fairly tricky to setup, but

[2015-03-27 13:18] rmuir commented on #9279
I don't think mixing analyzers in the same field is a good approach here. Instead, if you need some generic field to handle issues like product names where you are unsure about the language, consider adding a generic 'comment' field indexed in a very simple way, like with standardanalyzer.

Using this approach is easy and flexible, users can search 'comment' across all languages with a simple appr

[2015-03-27 13:26] kimchy commented on #9279
I agree, as the one who added this feature (it was recommended in Lucene in Action, which is where people asked for this feature in the early days of ES to begin with), we learned through the years that it leads to bad user experience, and the state of lucene has progressed tremendously as well (standard analyzer for example became significantly better). The way to solve it, as @rmuir and @rjernst

[2015-03-27 13:39] synhershko commented on #9279
May I recommend an inner implementation that is based on @rmuir and @rjernst 's approach but is still supported by ES's API? e.g. _analyzer will be used for a rule to which field to index based on the field mapping, for instance, as opposed to which analyzer to use for one field

My main concern here is with ES's API and ease of use. The _analyzer field is a clear winner in many installations I've

[2015-03-27 13:43] cyclomarc commented on #9279
@kimchy At first site this might indeed just look like "add an extra property for each language" and when you search, simply "search in each field".  But in reality if you have 20 document types with multilingual content and 15 languages, the extension of the queries is exponential.  And thus also the risk on errors and maintenance.  Consider also the day that you need to add language variant 16.

[2015-03-27 13:55] kimchy commented on #9279
@cyclomarc here is how I think you can use it relatively simply, you can create an index template where fields matching *_de for example use a specific analyzer, and *_jp the same, and *_std where standard is used. Then, you only defined it in one place, you control the analysis chain for each language (as sometimes you want stemming, and sometimes you don't).

Then, when you query, you can decide

[2015-03-27 13:59] niemyjski commented on #9847
I think this would be an awesome feature. I could find all the ice cream shops in a 5 mile radius in 20 characters or less :).

[2015-03-27 15:35] bleskes opened #10296 "CI: GeoDistanceTests.testDistanceSortingNestedFields runs into NPE on fetch phase"
http://build-us-00.elastic.co/job/es_core_15_centos/168/testReport/junit/org.elasticsearch.search.geo/GeoDistanceTests/testDistanceSortingNestedFields/

Doesn't look like a geo related issue:

[code]

[2015-03-27 16:35] brwe opened #10297 "[CI] UpdateMappingOnClusterTests.testTimestampMergingConflicts"
http://build-us-00.elastic.co/job/es_core_master_window-2008/1351/consoleFull

reproducible with
[code]

on master.

`doc_values: true` is lost for _timestamp. Probably related to https://github.com/elastic/elasticsearch/pull/10209 although not sure if the commit caused this or just exposed an existing bug.

[2015-03-27 16:51] jrthib opened #10298 "Having trouble creating a query that queries by a parent query's value."
I'm using the Elastic Search query DSL. I have documents that all have unique ids labeled "request-id". The request id, identifies related sets of log documents. For example, a start request would have the same `request-id` as it's end request counter part, and all logs in between.

I need to find end requests that have a status of 500, then query the documents by the `request-id` and find their r

[2015-03-27 17:04] javanna commented on #10285
HI @AndiG1985 could you please ask your question on the [mailing list](https://groups.google.com/forum/?fromgroups=#!forum/elasticsearch)? We generally use github issues for bugs and feature requests. Thanks!

[2015-03-27 17:04] #10285 closed

[2015-03-27 17:30] javanna commented on #1063
I think people might be currently using the refresh option on the index api to achieve the same result (finding the document via _search straight-away), which is scary as it's not feasible to refresh for each single index operation. Having the option to wait for refresh would be much better I think as it wouldn't cause a refresh but just wait for the next one, and it could potentially replace the

[2015-03-27 17:40] javanna commented on #10298
Hi @jrthib can you please ask your question on the [mailing list](https://groups.google.com/forum/?fromgroups=#!forum/elasticsearch) ? We generally use github issues for bugs or feature requests. Thanks!

[2015-03-27 17:40] #10298 closed

[2015-03-27 17:41] jrthib commented on #10298
No problem, will do.

[2015-03-27 18:18] gibrown commented on #9279
@kimchy just starting to wrap my head around this, but it seems like the proposed solution requires knowing every language your content is in. Feels like there are some real difficulties in how you manage indices when there are hundreds of languages and tens of analyzed fields. The search quality questions are certainly valid, but in practice we haven't seen problems with them.

We also do a lot o

[2015-03-27 18:48] nknize commented on #9716
@j0r0 Thanks for the feedback.

If I understand the behavior you're describing then its working as expected.  We switched the ShapeBuilder winding order to comply with the OGC right-hand rule.  While geojson does not care, this indifference becomes problematic for ambiguous polygons such as yours (e.g., no way of knowing whether the specified poly crosses the dateline or spans the globe).  By comp

[2015-03-27 20:10] gibrown commented on #8312
Awesome, Thanks!

[2015-03-27 20:15] bobrik commented on #8312
:+1:

[2015-03-27 21:52] lakshmi-guruparan commented on #8110
Hi All,

I have a required to aggregate on 3 fields. Once i get the doc_count value, I need to perform range operation on the doc_count value. Is there a way I can accomplish this ? Let us say my query looks like the below -

 "aggregations" : {
    "g1" : {
      "terms" : {
        "field" : "TECHNOLOGY",
        "size" : 100000
      },
      "aggregations" : {
        "g2" : {
          "terms

[2015-03-27 21:52] marko-asplund commented on #10290
here's how to reproduce this issue:

[code]

Assembly fails with ES 1.5.0. However, if you edit `build.sbt` in the repository to replace the ES 1.5.0 dependency with ES 1.4.4 assembly is performed successfully.

[2015-03-27 22:23] l15k4 opened #10299 "Mappings of index request are incorrectly merged with index template mappings"
Hey,
steps to reproduce
1) create template `mi_*` (this is a elastic4s version):
[code]
results to :
[code]
2)
![crazy_bug](https://cloud.githubusercontent.com/assets/518855/6877850/97e09f8e-d4d5-11e4-9870-aeb9fca9a551.png)

Elastic search  [error](http://pastebin.com/raw.php?i=KCUxqz5C) too

[2015-03-28 00:20] manoj-v opened #10300 "Unable to get mapping based on document type"
I am using the python 'elasticsearch' library to interact with a elasticsearch cluster. One of the indices stores 2 different types of documents under it and i am trying to extract the mapping of each of these documents separately, i get a very confusing error message.
[code]
I am not completely sure why the argument for `doc_type` is getting translated to `_id` in the request. Below is the code i

[2015-03-28 00:28] manoj-v commented on #10300
Apologies, wrong repo under elasticsearch. Closing here and creating another ticket under elasticsearch-py with the same content.

[2015-03-28 00:28] #10300 closed

[2015-03-28 02:43] shorman88 opened #10301 "Add non existing settings in cluster settings in elasticsearch"
Hi there,

Recently i have built elasticsearch with fluentd and Kibana and all is working fine, but we are facing high cpu load while performing search caused by java.

I have 60 GB Ram and 16 processors and each processor has 2 cores.

ES_HEAP_SIZE=32g
-find below more details

 curl "localhost:9200/_cat/thread_pool?v&h=search.rejected"
search.rejected
            387

curl "localhost:9200/_cat/t

[2015-03-28 05:18] rjernst commented on #10297
Here is what happens:

1. The randomized default template is setup with `_timestamp` having `doc_values: false` explicitly.  However, this is serialized *without* any `doc_values` setting because `false` is the default value for `_timestamp`.
2. The first mapping is added on index creation. It contains `fielddata.format: doc_values`. Since the default template was serialized without any doc values

[2015-03-28 05:22] rjernst commented on #10297
Note that this is an edge case because there are 2 ways to specify doc values.  If there were just one, skipping serialization of the default value would be fine (there would be nothing else to potentially supersede it).

[2015-03-28 07:49] #9766 closed

[2015-03-28 07:49] #10158 closed

[2015-03-28 07:54] #4538 closed

[2015-03-28 08:13] javanna commented on #3861
We discussed this, we'd rather prefer to reject get requests performed against a filtered alias, given that we cannot provide users the correct answer. If the get request has the `realtime` flag set to `false` though, meaning that the document will only be retrieved from the lucene index, we should not ignore the filter within the alias, instead apply it and do return the result. Marking as adoptm

[2015-03-28 08:38] javanna commented on #4569
Hi @YannBrrd sorry it took ages to get back to you on this. We discussed this and we think it's a valid improvement. Throwing exceptions when there's a problem instead of only logging it seems like a good idea in general.

Given that the transport client supports connecting to multiple nodes though, I wonder when we should throw an exception. I guess we should do it when all of the nodes get filte

[2015-03-28 09:01] YannBrrd commented on #4569
Hi,

Fully agree with the approach. What is misleading as for now is having a
client running without any connection set (which may be because of client
conf or cluster unavailable). Having an exception thrown them is a good
idea to inform the client.

Then if some node are unavailable, I'd also send an exception informing how
many are down, letting client decide to go on our not...

How this would

[2015-03-28 09:30] javanna commented on #4569
The transport client checks the cluster name to make sure that it's connecting to the right cluster, and that is why you see the warning on the log when some nodes get filtered out because the cluster name doesn't match. This doesn't have anything to do with split brain situations, where the cluster name is correct and stays the same, but the different splits have different masters. Makes sense?

[2015-03-28 09:40] YannBrrd commented on #4569
Ok, makes sense.
Thanks.

Cordialement,
Yann Barraud

2015-03-28 10:31 GMT+01:00 Luca Cavanna <notifications@github.com>:

[2015-03-28 22:07] drej82 commented on #10216
I actually found a bug in t-digest, it skips the last interval while doing the linear interpolation. I will create pull request with a fix.

[2015-03-29 02:13] devnull52 opened #10304 "key_as_string is always showing up as 1970-01-01 in Date Histogram"
Using ElasticSearch 1.5.0 and datehistogram, the key_as_string is always showing up as 1970-01-01. I am using publicly available IMDB movie DB to test ES. Please advice if I am doing something wrong.

[code]

[code]

[2015-03-29 04:34] dadoonet commented on #10304
Can you send your mapping please?

[2015-03-29 05:32] TwP commented on #7052
As a user who is quite a big fan of delete-by-query, I'm very much hoping it can be implemented in Elasticsearch itself as a scan/scroll + bulk deletes. Moving the scan/scroll + bulk deletes logic into the client would create a bit of wasted network traffic. But if that is the solution moving forward, then so be it. My vote is to keep the current API in place and change the underlying implementati

[2015-03-29 05:47] andrassy commented on #10032
+1

[2015-03-29 08:09] uschindler commented on #7052
Hi @TwP,
you can do the scan and scroll in parallel. Scan and scroll uses the IndexReader openend at the time of the query and keeps it open. Deletes happening while scrolling will not be visible to this IndexReader until scrolling is done. All other search queries (or other scrolls) in parallel will see the deletes, of course. While scrolling you see a consistent view on the index.

I agree, we s

[2015-03-29 08:38] mikemccand commented on #7052
That's right: scan/scroll gives you a point-in-time view of the index.  It won't see any changes that happened after that time, as long as you keep the scroll "alive".

This is the plan... AbstractClient's deleteByQuery methods will be changed to final methods that do the scan/scroll + bulk delete.

Yeah this is also now the plan...

OK I'll add that, and also "int getCount()" to each IndexDeleteB

[2015-03-29 09:01] javanna commented on #4665
We briefly discussed this, seems like a valuable improvement, made it an adoptme and low hanging fruit.

[2015-03-29 09:32] uschindler commented on #7052
This just came into my mind: I already implemented the bulk delete stuff locally (in Java client, see https://sourceforge.net/p/panfmp/code/647/tree//main/trunk/src/de/pangaea/metadataportal/processor/DocumentProcessor.java?diff=516c2e8d5fcbc9791083b0a3:646 for example). For the given code version numbers are not really a problem, but for the deleteByQuery API to be consistent, it should execute s

[2015-03-29 09:33] kimchy commented on #7052
@uschindler aye, it should be implemented similar to what we do with single document update, so for example, making sure to handle parent and routing into account

[2015-03-29 10:45] javanna commented on #10301
Hi @shorman88 I think the best way to get help is asking your question on the [mailing list](https://groups.google.com/forum/?fromgroups=#!forum/elasticsearch). We generally use github issues for bugs and feature requests.

This doesn't look like a bug, your cluster update settings request is malformed. Also, tweaking your threadppol settings doesn't seem like a great idea to me. If you can move t

[2015-03-29 10:45] #10301 closed

[2015-03-29 10:49] javanna commented on #9019
Closing in favour of #5359.

[2015-03-29 10:49] #9019 closed

[2015-03-29 11:00] synhershko commented on #7513
+1 for making this dynamic, at least if its on the pattern mode (and not just `false`)

[2015-03-29 11:56] clintongormley commented on #10291
Hiya

That network error occurs when the client network connection disconnects, perhaps because you set a request timeout?

It looks like your Elasticsearch is under severe memory pressure.  You've given it less than one GB of heap, and it needs more to cope with your load.

Also, you say you had to upgrade ES because of security, but then you have reenabled dynamic scripting, so you are allowing

[2015-03-29 11:56] clintongormley commented on #10291
Also you can check what is using all the CPU with the hot threads API, but I think you'll find that it is mostly garbage collection.

[2015-03-29 12:06] clintongormley commented on #10233
Hi @PhaedrusTheGreek

Do you have a type called `datacentre`? Or do you have more than one type with a `datacentre` field, possibly with different mappings?  This is almost definitely to do with ambiguous field lookups, and should be fixed with the changes in #8070

[2015-03-29 12:50] dwerder commented on #4978
Hi @Yashin-s  and @chuntley ,
we have the same problem with Nodes just randomly dieing.
There is also a discussion in the OpenVZ Bugzilla.

Java (Elasticsearch 1.4.x) reproducibly crashes with random segmentation faults
https://bugzilla.openvz.org/show_bug.cgi?id=3187

[2015-03-29 12:52] mrqwer88 commented on #4978
Not only 1.4.x - I saw this problem whith 1.5 too.

[2015-03-29 13:00] dwerder commented on #4978
The problem affects nearly all versions of elasticsearch. And it looks like problems with OpenVZ ploop and Kernels greater then 042stab10x . A workaround is to downgrade to version 042stab09x.
Or to use simfs as filesystem.

[2015-03-29 13:14] PhaedrusTheGreek commented on #10233
Yes, that is the case.  I have more than one type with 'datacentre' field.

[2015-03-29 13:25] mrqwer88 commented on #4978
Whith simfs it not reproduse on new 042stab10x kernels?
Thanks, we try only whith ploop. And try it for test in chroot from node(whith mount ploop) - in chroot problem not reproduce.

[2015-03-29 14:04] holm commented on #10224
We have been trying to upgrade to 1.4 from 1.2, but are currently unable to because the we run out of heap, even with more than 50% additional heap being made available. Based on testing it seems this is the issue that is causing the increased memory usage.

We use nested documents for sorting. Is there any chance the fix in 2.0 will be backported or are there any other ways to get around this iss

[2015-03-29 15:38] quydo commented on #10291
Hi clintongormley

what is the best value of HEAP size should I assign, my server RAM is 4GB (maybe 8GB)

currently, the mlockall value is true, is that ok? And what is the hots API.

Thank you very much.

[2015-03-29 18:10] bleskes commented on #10267
@ppf2  yeah. I agree it's confusing. `indices.recovery.concurrent_streams` doesn't limit the number of source recoveries that can go on but rather how big the pull of out going requests they can have. The default of 3 means that all the recoveries copying files of a node can only have 3 "inflight" requests *together*. We also have a separate pool (and setting) for very small files to make sure tho

[2015-03-29 18:33] bleskes commented on #9143
some clarification - the test already have a checks that verifies we can retrieve a doc after indexing a new version of it but before refresh/(lucene flush). The request is to validate that we can retrieve the old version when turning off real time get.

[2015-03-29 19:14] damienbod opened #10308 "inner_hits does not work for nested filters"
I'm updating a .NET client to support inner_hits for nested, has_child and has_parent queries and filters.

The inner_hits work for all queries and filters except nested filters. Is this a bug or a documentation error?

[code]

Greetings Damien

[2015-03-29 20:29] martijnvg commented on #10308
@damienbod inner_hits in a nested filter should work. I quickly tried to verified that `inner_hits` works in a `nested` filter. If it doesn't work in your case can you share your reproduction of the issue?

[2015-03-29 20:43] jpountz commented on #10216
Thanks @drej82 for investigating this bug, opening a bug upstream and proposing a fix!

[2015-03-29 21:05] damienbod commented on #10308
Hi Thank for your reply. Here's my data:

[code]

[code]

[code]

Thanks for your help.

Greetings Damien

[2015-03-29 21:07] devnull52 commented on #10304
Hi David,

Thanks for getting back. I am a novice on ElasticSearch, so apologies in
anticipation if I might be doing something incorrectly. I am basically
trying to play around with publicly available IMDB Movie data to understand
search concepts.

What I was hoping to get is a date histogram by Release date:-

Code, Log and Mapping attached. Environment : I am running ES 1.5.0 ( MBP,
Java 8 ) via

[2015-03-29 21:10] brwe commented on #10297
Actually, it seems to me this is some sort of race condition. If I add a sleep of 1s here: https://github.com/elastic/elasticsearch/blob/master/src/test/java/org/elasticsearch/index/mapper/update/UpdateMappingOnClusterTests.java#L230 before the first mapping is requested, then the test passes.

In addition, the mapping that changes the fielddata format to `fieldata.format: array` is never applied

[2015-03-29 21:51] Asimov4 commented on #5324
+1

[2015-03-29 21:58] martijnvg commented on #10308
Hey @damienbod this is a bug. Thanks for sharing your data!

It only manifest if a inner filter is used in the nested filter. If a inner query is used instead then the issue doesn't occur, so the following works:
[code]

[2015-03-29 23:57] AlexKovalevich commented on #9958
Can reproduce in 1.5. That's actually how I came here, by trying to find a solution.

If I specify children aggregation first and then would do different sub aggregations under it - they seem to work as expected. So the example below returns two identical histograms as requested for this example.

  "aggregations" : {
    "rating_histogram_total_1" : {
      "children" : {
        "type" : "myInde

[2015-03-30 03:20] rmuir commented on #9279
As far as tons of languages, there have been some studies on the different approaches you can take (e.g. http://ceur-ws.org/Vol-1171/CLEF2005wn-WebCLEF-MacdonaldEt2005.pdf). Note that there, the best overall approach is to basically do nothing fancy at all, like what StandardAnalyzer is doing :)

I think this is a valid approach for a lot of use cases where many languages are involved. Its one thi

[2015-03-30 04:14] damienbod commented on #10308
No problem
Thanks for looking
greetings Damien

[2015-03-30 04:56] quydo commented on #10291
Hi guy,

Here is some variables in init script

es_heap_size:  2G
es_heap_newsize:
es_min_mem:  512M
es_max_mem:  1G
max_locked_memory: unlimited

I try to add ES_HEAP_SIZE to 2G, and ElasticSearch server run normally for 3 hours, and after that, ES will not response request anymore (like the issue I created).

Here is the lastest log:

[root@ip-10-0-0-230 quydo]# tailf /var/log/elasticsearch/elas

[2015-03-30 08:36] nesah commented on #10074
@javanna, thank you very much : )

[2015-03-30 08:54] rhdip opened #10313 "Attachment search not working in Elasticsearch 1.5.0 if search string contains more than three characters"
I am trying to search for a given string in the content of the file. Say I have a file abc.docx and it contains the word "shark" in it. If I search for "sha", it returns the file abc.docx. However, if I search for "shar", it does not return that file i.e it seems to process only 3 character search strings while doing content search. I checked this in the latest version(1.5.0) and version 1.4.3 as

[2015-03-30 09:02] dadoonet commented on #10313
When you write "attachment search", do you mean that you are using the mapper attachment plugin or is it something else?
Can you post what is your mapping and how does a document which is supposed to match actually look like?

[2015-03-30 09:40] javanna commented on #10233
I think we can close, we are aware of the problem and fixing it with #8870.

[2015-03-30 09:40] #10233 closed

[2015-03-30 09:51] javanna commented on #10135
Talked with @martijnvg (parent-child wizard) and he says that has_child & has_parent don't work properly as part of alias filters and percolator. There is no currently way to support them properly, thus we are leaning towards rejecting them completely.

[2015-03-30 10:34] rhdip commented on #10313
Yes I am using the mapper-attachments plugin. The file I am trying to search can be any file word, excel etc.

I am providing the C# code. The UpdateIndex() method indexes the file name and its contents and the Search() method searches within the indexes.

The mapper class:

    public class AttachmentES
    {
        /// <summary>
        /// Index for Attachments table
        /// </summary>

[2015-03-30 11:07] rkarakaya opened #10315 "grand parent/parent/child aggregation (NullPointerException)"
Hi,

I have tested against 1.4.3 and 1.5.0 and I am getting NPE during the aggreagation below:

MAPPINGS:

<PRE>
    "user": {
      "dynamic": "false",
      "_timestamp": {
        "enabled": false,
        "format": "date_optional_time"
      },
      "_index": {
        "enabled": false
      },
      "_ttl": {
        "enabled": false
      },
      "_size": {
        "enabled": false
      }

[2015-03-30 11:38] martijnvg commented on #10315
@rkarakaya Thanks for reporting. The bug has been fixed via #10263 and will be included in the upcoming 1.5.1 release.

[2015-03-30 11:38] #10315 closed

[2015-03-30 11:54] rkarakaya commented on #10315
thanks a lot..

[2015-03-30 12:48] dadoonet commented on #10313
As far as I understand your code and mapping, you are using default analyzer for mapper attachment sub fields.
It means that if you index `shark`, you won't be able to find it if you search for `sha` term because there are obviously different.

You could define another analyzer for your attachment field though I have no idea on how you can do it with Nest. May be @Mpdreamz has an idea here.

Here

[2015-03-30 12:48] #10313 closed

[2015-03-30 13:05] brwe opened #10317 "Catch exceptions from cluster state listeners when they are notified?"
When the cluster state service is closed then all listeners are notified. We currently do not handle unchecked Exceptions that are thrown when `ObserverClusterStateListener.onClose()` is called, see for example https://github.com/elastic/elasticsearch/blob/master/src/main/java/org/elasticsearch/cluster/service/InternalClusterService.java#L167 . This might be trappy because it means that all listen

[2015-03-30 13:22] EikeDehling opened #10318 "Endless mapping refresh"
- We're running ES 1.4.2
- Can sometimes be solved by closing/re-opening affected indices, but the issue usually returns prettys soon
- This "clogs" up pending tasks and some tasks get stuck / cluster actions will now always timeout (e.g. loading/removing warmers)
- This consumes all network capacity on the ES nodes

https://gist.github.com/EikeDehling/a015a5137ac5d99dc850

[buzzcapture@hermes ~]$

[2015-03-30 13:48] jpountz commented on #10135
+1 to reject p/c filters from aliases for now.

One issue with those filters is that the set of documents that match on a segment also depends on data that are stored in other segments because of the join. However, filters work per segment and it is expected that they always produce the same set of matches per segment (otherwise we could never cache). This does not work for p/c queries. We have so

[2015-03-30 14:00] dhaworth opened #10321 "exclude._ip transient cluster setting not working in ES 1.4 or 1.5"
We use the exclude._ip cluster setting to push data from nodes when updating our cluster and this doesn't seem to be working in ES 1.4 or 1.5. This is what our cluster settings look like, but shards on the node with the excluded ip do not get pushed from the node:
[code]

[2015-03-30 14:03] s1monw commented on #7052
I think we should split the problems into engine level and shard level. The shard level problems (consistency between replica and primary) can be solved in a different PR than the engine level problems.

 I think we should take babysteps here and implement the deletion as a simple lucene search inside the engine and keep on using the query inside the transaction log etc. just keep everything as it

[2015-03-30 14:05] martijnvg commented on #10135
What I released was that the actually issue here with `CustomQueryWrappingFilter` is that it keeps state and that alias filters produce a Lucene filter that is shared on the index level. So many shard level requests use the same `CustomQueryWrappingFilter` instance and each request modifies the `docIdSets` field...

I think the only sane thing to do here is to prohibit the use of p/c filters in in

[2015-03-30 14:17] radev commented on #4978
Yes, our instances are stable with recent kernel and simfs. With ploop they are crashing on every combination of JVM 1.7.0.x, 1.8.0.x and ES 1.3.x, 1.4.x

[2015-03-30 15:02] brwe commented on #10253
Currently the way it works is this: If function_score encounters a query without a function, then the query is just executed as is without wrapping in a function score query (https://github.com/elastic/elasticsearch/blob/master/src/main/java/org/elasticsearch/index/query/functionscore/FunctionScoreQueryParser.java#L161) so min_score has no effect in this case. This was implemented so on purpose bu

[2015-03-30 17:09] mikemccand commented on #7052
+1: if we can really decouple the two (engine impl vs shard consistency), that's wonderful.  I can tackle the engine level, to fix the OOME during concurrent indexing (#6025).

[2015-03-30 17:12] rjernst commented on #10304
@devnull52 What you posted there is just a sample document.  I assume then you are using dynamic mappings? Can you run the following command and post the output?

[code]

[2015-03-30 17:43] aswan commented on #9018
I just ran into something that sounds similar, stack trace below.  This is followed by a variety of warnings in the logs, all of which seem to be variants of "my connection with this other node is broken".  Sorry for the dumb question, I'm unfamiliar with the internals here, is there any hope of making this more resilient?

[code]

[2015-03-30 18:11] l15k4 commented on #10299
Weird thing is that if I create exactly the same template in Sense, it works! And by "exactly" I mean  (Compare with clipboard -> contents are identical) ... So that the template created by Java client is somehow "corrupted" on the binary level or something like that

[2015-03-30 18:16] rjernst commented on #10297
I agree it looks like there is a race condition.  However, I think the race condition is only there because with the bug I fix in #10302, the mappings are serialized differently than when they are read.  So any refresh-mapping action would cause the parsed mappings to change.

While I don't know what triggers refresh-mapping actions, when I add your 1 second sleep with a printout, I notice this:
[

[2015-03-30 18:39] l15k4 commented on #10299
Wow, if the mapping's name is not `resource` but `whatever`, it works?!?

[2015-03-30 18:54] nirmalc opened #10328 "Add Alias information to Slow query logs"
Looks like currently we dont add alias name to slow query logs, Also I doubt if it adds the filter used in alias as well .

May be we need to update -> https://github.com/elastic/elasticsearch/blob/master/src/main/java/org/elasticsearch/index/search/slowlog/ShardSlowLogSearchService.java#L185 and  add alias name + Context.aliasFilter ?

[2015-03-30 19:53] bleskes commented on #10318
@EikeDehling can you enable debug logging for `indices.cluster` and grep the logs for the output of this line? I want to see what the difference is between the two sources . A gist will be great.
[code]

[2015-03-30 21:30] brwe commented on #10299
The error could come from a template that looks like the one I pasted below. If the "template_mi" that you showed had caused it, then the fields inside the "resource" mapping would be printed as well so I assume a different template is responsible. To check if you have a different template like the one below, could you do
``
 curl -XGET "http://localhost:9200/_template?pretty"
``
after you got the

[2015-03-30 21:40] l15k4 commented on #10299
Hi,

the existing template `GET _template?pretty` is this, nothing else is there except for `marvel` template :
[code]

And the request :
[code]

Error:
[code]

Btw if I create this template using `curl` or `Sense`, it works, but if I create this template (absolutely identically, meaning that the `_tempalte` outputs are identical) using Java client, then I get this error...

[2015-03-30 21:51] l15k4 commented on #10299
Please ignore my previous comment, that renaming `resource` to `whatever` helped, it just worked for once and then it started to fail again even though I deleted `data/my-cluster` ...  I suspect the problem might be here `org.elasticsearch.common.xcontent.XContentHelper#mergeDefaults`, I just need to debug it which is not easy since it happens in ES jvm, not the Java client JVM...

[2015-03-30 22:17] brwe commented on #10299
Do you use the java client or elastic4s? If you use plain java, can you add the code that reproduces this?

[2015-03-30 22:24] l15k4 commented on #10299
I use `elastic4s` but I reproduced it with the java client too, I just used `elastic4s` mappingDefinition :
[code]

The error occurred even with just one `resource` mappping

[2015-03-30 22:32] brwe commented on #10299
Can you paste the java code here?

[2015-03-30 22:39] l15k4 commented on #10299
I will, I'm just debugging the index request and this is what it looks like at MetaDataCreateIndexService, you can see the weird object model...
![es-bug](https://cloud.githubusercontent.com/assets/518855/6908594/722d48a8-d73e-11e4-9780-0e3ec19509b9.png)

[2015-03-30 22:56] kutchar commented on #10270
@rjernst would it make sense to mention this in the documentation?

[2015-03-30 23:05] #10133 closed

[2015-03-30 23:07] ajmurmann commented on #7464
+1

[2015-03-30 23:16] l15k4 commented on #10299
Uff, I'll have to come back to it tomorrow, it's 1:15AM ... The XContentBuilder#string() for `resource` mapping from the code I pasted yields :
[code]

I don't think the problem is in the template creation... Everything looks as it should on this part

[2015-03-30 23:40] l15k4 commented on #10299
The empty resource comes from here https://github.com/elastic/elasticsearch/blob/master/src/main/java/org/elasticsearch/cluster/metadata/MetaDataCreateIndexService.java#L250

And it is then merged with the template mappings into the resulting invalid template mapping that I have showed you on the screenshot

[2015-03-30 23:48] l15k4 commented on #10299
This is code for indexing :
[code]

[2015-03-31 02:01] rjernst commented on #10270
@clintongormley might have an idea how/where best to document this?

[2015-03-31 02:39] markwalkom commented on #10281
These sorts of issues are best sent to the mailing list - https://groups.google.com/forum/#!forum/elasticsearch

Issues here are usually reserved for code problems :)

[2015-03-31 04:47] dennisgorelik commented on #9714
@martijnvg
We got our ElasticSearch server entering half-dead state again.
Basic search queries were taking ~15s (instead of usual 0 to 30 ms).
Percolation timed out.
Removing almost all load from ElasticSearch server for several minutes did NOT help.
Only ElasticSearch reboot helped to recover.

Prior to entering half-dead state ElasticSearch was running percolation non-stop for ~6 hours.

See fu

[2015-03-31 06:14] martijnvg commented on #9714
@dennisgorelik I see that you in total have `366200` queries stored. That itself may take a big part of of your jvm heap space. What kind of queries are you storing in the percolator? (anything with a wildcard?) I assume that during this 6 hours you also add new percolator queries to ES?

The percolator parses the queries and keeps the parsed variant of the queries (Lucene queries) in the jvm heap

[2015-03-31 06:59] mariusdw opened #10334 "Elasticsearch inner_hits query results in ArrayOutOfBoundsException"
Hi! Please have a look at the following. Elastic is throwing an ArrayOutOfBoundsException when requesting inner_hits in my search query. The query works fine if inner_hits is not included. I feel this is a bug in elasticsearch. To  reproduce:

<pre><code>curl -XPOST 'http://localhost:9200/twitter'

curl -XPOST 'http://localhost:9200/twitter/_mapping/tweet' -d '
{
    "tweet": {
        "properties

[2015-03-31 07:08] #10281 closed

[2015-03-31 07:28] martijnvg commented on #10334
@mariusdw This is a bug. Elasticsearch mistakes the `comments` to be a nested object field and in your example it is just an object field.

This error will be fixed, but your mapping design (an object field that has a nested object field) is raise a question. Elasticsearch indexes the `messages` json objects in a special way so that it can be used by nested query, nested sorting, inner hits etc. B

[2015-03-31 07:49] javanna commented on #10328
Marking this for discussion. Might make sense to print out the alias filter, a little less to print out the alias name as an alias might point to multiple indices and in the slowlog we want to know the concrete index that the search executes against.

[2015-03-31 07:55] JordyMoos commented on #9726
We have the same issue. Maybe the data nodes forget about the contact if they do not have any more results?

[2015-03-31 07:55] l15k4 commented on #10299
It looks like createIndexRequest I pasted above has an empty mapping autogenerated for it's type as you can see on the screenshot and it also triggers template index creation and these 2 mappings are merged together, unfortunately incorrectly
![es-bug](https://cloud.githubusercontent.com/assets/518855/6914545/084fd876-d78c-11e4-8acc-127d867e516b.png)

[2015-03-31 08:08] dadoonet commented on #10114
Just a note here. It sounds like we deprecated this in docs but we did not add `@Deprecated` annotation in elasticsearch code itself. Should we add it so Java developers would be aware of it when compiling their code?

[2015-03-31 08:11] spinscale opened #10335 "Logging: Allow to change log level of single node all the time"
In order to improve debug capabilities, we should allow for changing the node level of a single node all the time, regardless of its state. Reason for this is, that it is impossible to increase logging, in case the node is not part of the cluster, which makes it hard to debug network issues/outages.

The the Cluster Update Settings API only works if the node is joined into a cluster.

Not sure abo

[2015-03-31 08:11] javanna commented on #10114
Yes I think we should @dadoonet , can you open an issue or even take care of this with a PR against 1.x?

[2015-03-31 08:11] jpjp commented on #9348
@jprante I think the information you posted is incorrect. If a system uses ntpd, it will receive the leap second from higher stratum servers automatically. If it is not using ntpd, the tzdata update is required. There is no need to stop and start ntpd unless you are running a very old kernel.

[2015-03-31 08:19] lukas-vlcek opened #10336 "Use of javascript in mapping `transform` fails"
Below reproduction shows that while it is possible to use `groovy` in mapping `transform` the same operation fails when `javascript` is used.

Tested with Elasticsearch `1.4.1`, `1.4.4` and `1.5.0`.

### Reproduction

Download fresh Elasticsearch (`1.4.1`) and install lang-javascript plugin (`2.4.1`):

[code]

Enable scripting:

[code]

Start node:

[code]

After node is ready check we have a fres

[2015-03-31 08:30] spinscale opened #10337 "Networking: Node did not recover from recovered networking issue"
I have one node, that continouosly spit a "NoRouteToHostException" until the JVM is restarted, then everything is fine.

This exception floods the logs, even though the network connectivity has been restored in the meantime (about 5 min outage). Maybe the JVM is caching something here, but not sure where to look.

[code]

Happened on elasticsearch 1.4.x

[2015-03-31 08:43] EikeDehling commented on #10318
@bleskes Thanks for the quick reponse!

Gist here: https://gist.github.com/EikeDehling/129aa3f8213ad8552f49

The difference in mapping appears to be in nested elements, apparently they are not ordered alphbetically? The difference in serialisation is under posting.properties.body.fields._text_.fielddata , there entries there are ordered differently in the original/parsed version.

[2015-03-31 08:44] dadoonet commented on #10336
@lukas-vlcek I wonder if you should not better open it in javascript lang plugin instead of here. `org.elasticsearch.script.javascript.JavaScriptScriptEngineService` is in this plugin.

[2015-03-31 08:50] lukas-vlcek commented on #10336
@dadoonet To be honest I am not sure where exactly the problem is. Feel free to move it to [lang-javascript](https://github.com/elastic/elasticsearch-lang-javascript) if the problem is there.

[2015-03-31 08:50] jprante commented on #9348
@jpjp ntpd will only signal the kernel to apply a leap second. The bug is that some kernels do instantaneously perform the system clock change when the leap second event arrives.

I do not know what you mean by "very old kernel". The correct tzdata 2015a appeared in February 2015. Most systems are affected that run unpatched RHEL 6, and also RHEL 7, where a fix is still under development, as noted

[2015-03-31 08:54] mariusdw commented on #10334
Hi Martijn. Thanks for your reply. The example was just to reproduce the issue that I am experiencing with my real data structure. I kind of modified the example given in the elastic documentation to achieve this and maybe in the process of trying to simplify, used an example that isn't "practical" :)

Maybe I should rather explain my real data structure. In our system, we store configuration for

[2015-03-31 09:03] l15k4 commented on #10299
I finally made it work with the `java client` create template alternative, so I suspect the problem is either on my part or in elastic4s...
![es-bug](https://cloud.githubusercontent.com/assets/518855/6915582/92200040-d795-11e4-9032-233f746042aa.png)

[2015-03-31 09:13] jpjp commented on #9348
@jprante Yep. Kernels before RHEL6.3's 2.6.32-279.5.2.el6 have the deadlock problem (this kernel is two and a half years old), but anything newer than that doesn't. Newer tzdata is not necessary if you are running ntpd - check the red hat article you link to.

[2015-03-31 09:28] jprante commented on #9348
If you are unsure, simply run the script at https://access.redhat.com/labs/leapsecond/

It will check for Kernel version and tzdata-2105a, so it covers all conditions.

[2015-03-31 09:35] javanna commented on #10335
Hey @spinscale by "if the node is not part of a cluster" you mean that the node doesn't have a master, thus we would return a master not discovered exception?

[2015-03-31 09:36] #7630 closed

[2015-03-31 09:38] jpountz commented on #9226
Oops, sorry, closed by mistake

[2015-03-31 09:40] spinscale commented on #10335
@javanna yes, think of a network segregation of the single node, which returns in a "master not discovered" error when running the cluster update settings API

[2015-03-31 09:42] javanna commented on #10335
@spinscale why can't we restart the node then to change log settings then? The node doesn't do anything in such situation. Maybe there are other usecases for this, but in general I wonder if it's really needed. Marking for discussion.

[2015-03-31 09:44] spinscale commented on #10335
restarting means loosing the current state which could be debugged and analyzed further with more logging output.. if restarting solves the problem, that is good, but the possibility for further debugging should remain in that state IMO

[2015-03-31 09:45] javanna commented on #10335
I see your point...I was just assuming that restarting wouldn't fix the issue. I think having a more concrete example here would help. I bet you are referring to #10337 ?

[2015-03-31 09:58] cmeury opened #10338 "Setting the slowlog log level has no effect with 1.4.2"
On a ES 1.4.2 cluster, I am trying to transiently set the log level of search slowlogs via the API:

[code]

I confirmed that the transient setting is stored in the cluster with a GET on the same path.

However I still have many DEBUG log events in my slowlogs. What am I doing wrong? Is this a known issue?

[2015-03-31 10:19] bleskes commented on #9226
@twitchjorge @avleen  and others did any of you guys have chance to check 1.5.0 and see if it helps here?

[2015-03-31 10:29] jpjp commented on #9348
Yes, that script will check for both: with ntpd and without. But if you run ntpd, you don't need a new tzdata.

[2015-03-31 10:56] spinscale commented on #10335
@javanna exactly, intended for cases like that. But totally up for discussion, IMO it would be useful

[2015-03-31 11:01] cbuescher opened #10339 "Checks for preventing NPEs in MetaData#concreteIndices"
This is a follow issue pulled out of #10148. The current implementation of MetaData.concreteIndices() leaves some edge cases where NPEs can occurr. This can happen when wildcard expansion is switched off for both open and closed indices in the IndicesOptions and the method is calles with `null`or empty list for the `aliasOrIndices` argument.

This PR adds a check and randomized tests for this meth

[2015-03-31 11:25] mbarrin opened #10340 "Possible bug with recovery and gateway.expected_nodes after process restart on ES 1.4.4"
Hi,

We are running `Elasticsearch` `1.4.4` on `Java(TM) SE Runtime Environment (build 1.7.0_60-b19)`

We have a cluster with 15 nodes: 3 master, 3 client, 9 data.

All the config files have:

[code]

Based on the reading of my documentation this should actually be 12, as expected nodes only counts `master` and `data` nodes. So in our case it should never be hitting expected nodes. As we would onl

[2015-03-31 11:38] martijnvg commented on #10224
@holm sorry to hear that nested sorting is preventing you from upgrading... We decided not to backport the nested sorting fix into 1.x, because of a change in Lucene 5 (2.0 will use this Lucene version) on which the fix relies on. Basically documents are guaranteed to always score in order in Lucene 5, in Lucene 4 this isn't always to case and the nested sorting fix relies on that.

@drewdahlke Th

[2015-03-31 11:51] florentgarin commented on #9674
seems to be fixed on 1.4.4

[2015-03-31 11:51] #9674 closed

[2015-03-31 12:19] marcelopaesrech commented on #10281
Yeah, do you know if it isn't a bug in ES 1.1.1? Because this userd to work till two weeks ago.
I didn't change the server configuration, so what did the cluster stop working?

[2015-03-31 12:21] avleen commented on #9226
Hi Boaz,

Catch 22 - unfortunately we can't upgrade until this is fixed. And we can't
tell it's fixed until we upgrade. I hope someone else has better news :-)

On Tue, Mar 31, 2015, 06:20 Boaz Leskes <notifications@github.com> wrote:

[2015-03-31 12:27] nirmalc commented on #10328
It's useful to know which app fires most of slow queries if we create separate aliases per app - however filters are more useful

[2015-03-31 12:34] esmaeilzadeh opened #10341 "adding irrelevant document change order of result"
I started with a clean instance of elasticsearch
and add these documents:
[code]
and run this query:
[code]
result is this (as expected):
[code]
after that I add another document:
[code]
then I run again the query:
[code]
and result is : (as expected)
[code]
then I add another document (id is important)
[code]
and run the query again:
[code]
and result is :(order and scores is not as expected)
[co

[2015-03-31 12:42] javanna commented on #10341
This is all about how scoring works in elasticsearch and lucene, as scores of matching documents are affected by the distribution of terms throughout the entire index That is in order to define which terms (matches) are more important than others. To know more about scoring in lucene, have a look [here](https://lucene.apache.org/core/4_0_0/core/org/apache/lucene/search/similarities/TFIDFSimilarity

[2015-03-31 12:42] #10341 closed

[2015-03-31 12:44] jpountz commented on #10224
I don't think we should try to backport this change, this would be dangerous. I would rather recommend increasing the heap size or adding more nodes to the cluster until we have a better solution for this issue (ie. 2.0).

But even on 2.0, nested documents will still be a heavy feature since we will still require a full bit set for each nested field. In general, `nested` should not be considered a

[2015-03-31 12:45] kadaan commented on #9226
Hi Boaz,

We have to remove Groovy scripting requirements before upgrading. That said, we haven't had and reoccurrences since we reenable bloom filters.

[2015-03-31 12:58] esmaeilzadeh commented on #10341
I read this article. there is not anything in that article that explain id of document affect scoring of result. I offer to take a look on the question thoroughly.

[2015-03-31 13:00] javanna commented on #10341
Hi @esmaeilzadeh we can definitely have another look at your question if you ask it on the maling list ;)

[2015-03-31 13:16] s1monw commented on #7052
@mikemccand to be honest I think we should just stop indexing for the duration of the delete by query. Simple solution though...

[2015-03-31 13:27] nicktgr15 opened #10344 "Snapshot repository registration api call causing "out of memory" errors"
We are running an elasticsearch cluster with 27 nodes and we create about 200 new indices per day.
We keep data for the last 5 days, so in total we have about 1000 indices.  Every day we take a snapshot of yesterday's 200 indices in S3 (so, no incremental backups).

After updating to 1.4.2 we've noticed that when we try to register a snapshots repository we end up with the master node running out

[2015-03-31 13:56] imotov commented on #10344
@nicktgr15 could you post the stack trace for the OOM error?

[2015-03-31 13:59] #10018 closed

[2015-03-31 14:00] tlrx commented on #10344
How many number of shards represent those 200 indices? What's the total size?

[2015-03-31 14:15] drewdahlke commented on #10224
Keeping the bitsets on heap makes total sense. It's my impression from https://github.com/elastic/elasticsearch/pull/7037 that bitsets moved from being in field cache with an LRU eviction policy to something separate & non-evicting in 1.4.0.

Breaking the bitsets out from field cache is a huge improvement b/c bitsets & field data are different enough that giving them different eviction policies ma

[2015-03-31 14:16] esmaeilzadeh commented on #10341
it caused by a default configuration that was setup for large data and it was inaccurate:
https://www.elastic.co/blog/understanding-query-then-fetch-vs-dfs-query-then-fetch

[2015-03-31 14:21] #10253 closed

[2015-03-31 14:34] nicktgr15 commented on #10344
Thanks for the responses!

@imotov I'm currently reproducing the issue in order to get a full stack trace which I will attach to the ticket as soon as I have it

@tlrx There are 7 primary shards and 7 replicas per index, so 200 indices are represented by 2800 shards. The total number of shards (for the 5 days retention policy) is 14000. The total size in bytes for the 200 indices created per day i

[2015-03-31 15:02] tlrx commented on #10344
@nicktgr15 thanks for your quick response

We are suspecting that the verification process failed in your case. Can you please try to register the repository but without verification? You have to set `verify: false` when registering the repo, see the documentation [here](http://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html#_shared_file_system_repository)

[2015-03-31 15:04] dakrone commented on #10335
What about implementing this feature: #1990? We already have the infrastructure for it, and then if one node needed to have the log level changed you could edit `logging.yml` and that particular node would pick it up without incrementing the cluster state.

[2015-03-31 15:27] kimchy opened #10345 "Deprecating Rivers"
The reasoning behind it is captured in this blog post: https://www.elastic.co/blog/deprecating_rivers

We need to `@Deprecate` the River classes, and deprecate them in the docs, as well as add a deprecation notice in the rivers that are under elastic.

[2015-03-31 15:38] yodog commented on #7295
also happens with `curl -XDELETE 'http://localhost:9200/_all'`

[2015-03-31 16:03] dakrone commented on #9978
@rmuir can you explain a little bit more how the `MultiTermAwareComponent` should be used? When I look for usages of it in the Lucene 4.x branch, but the only users are tests and Solr.

Looking at the `QueryBuilder`, it looks like it uses the analyzer to get the tokenStream for the text to get tokens, but that this doesn't seem to interface with choosing whether or not to do things like stemming?

[2015-03-31 16:13] skearns64 commented on #10215
We'll have to be sure to handle the case where some of the shards of a given index have 3.x segments, while other shards contain only 4.x segments. This means we should try to find a way to take/keep the whole index offline, or ensure that the manual process index upgrade process works in this case.

[2015-03-31 16:16] nicktgr15 commented on #10344
I'm attaching a screenshot from jConsole showing the heap space utilisation in both cases with ```verify: true``` (default) and ```verify: false```. For the two cases we got the following output:

**verify: true** (default)
[code]
[code]
**verify: false**
[code]
[code]

![repository-verify](https://cloud.githubusercontent.com/assets/2852737/6923334/efc902fe-d7c8-11e4-8508-bd8da584e422.png)

We red

[2015-03-31 16:40] micpalmia opened #10346 "cross_fields multi match with dfs_query_then_fetch type uses wrong idf"
I tested this on **Elasticsearch 1.5.0** (and on ES 1.4.2 and on 1.3.0)

The documentation for the `multi_match` query of type `cross_fields` states that

This holds true when executing a query of this type with search type `query_then_fetch`: in this case, the same (approximated, shard-level) idf is used for all fields. When using search type `query_dfs_then_fetch`, on the other hand, the specifi

[2015-03-31 16:44] javanna commented on #8150
I removed the discuss label, I think we have consensus here. We are working on making this possible in #10217 , more specifically on https://github.com/elastic/elasticsearch/tree/feature/query-parse-refactoring branch

[2015-03-31 17:13] javanna commented on #10217
Here is our rough plan:

First step (everything still happens on the nodes that hold the relevant shards):
- move all the *QueryParser code to the corresponding *QueryBuilder, make all Builders implement `QueryParser`, so that we have building and parsing code on the same class
- split existing `parse()` method into `fromXContent()` that parses the query but allows to have an intermediate format f

[2015-03-31 17:52] EikeDehling commented on #10318
This gist is a bit easier to read:

https://gist.github.com/EikeDehling/fc1289cc443b7acdc3f4

The issue is under the key `posting.properties.body.fields._text_.fielddata` : Ordering is different for the original/parsed mapping.

[2015-03-31 18:31] javanna opened #10347 "Better categories for scripted operations"
With #10116 we introduced fine-grained script settings. Each time a script is run, it is associated with a context, which holds the operation/api that is making use of the script, provided by the caller.

We currently support 4 operations: `search`, `mapping`, `update` and `aggs`. We folded suggester and percolator under search though, which might be confusing for users, hence we might want to cre

[2015-03-31 18:33] javanna commented on #10347
hey @uboness @clintongormley can you comment on this please?

[2015-03-31 18:58] kamaradclimber opened #10348 "Provide a query profiling api"
It would be useful to get a query profiling api to help users understand which part of the query/filter/aggregation takes time.

Context
--------
When preparing queries that will be run frequently, it is hard to predict query performance on large datasets.
Causes I can think of:
- filters caches already created or not
- data being indexed (invalidating caches at each merge?)
- field cardinality
-

[2015-03-31 19:02] torrancew commented on #7464
+1

[2015-03-31 19:05] kamaradclimber commented on #10348
cc @dpanth3r

[2015-03-31 19:27] bleskes commented on #10318
@EikeDehling thx for that. It's accurate. The problem lies in the way the field data settings are rendered:

https://github.com/elastic/elasticsearch/blob/master/src/main/java/org/elasticsearch/index/mapper/core/AbstractFieldMapper.java#L756

[code]

The order of the keys in that map is arbitrary (practically). It may be different between master and nodes causing this endless loop.

To work around

[2015-03-31 19:31] dakrone commented on #10348
@kamaradclimber I believe @polyfractal is currently working on this

[2015-03-31 19:36] bleskes commented on #10318
@EikeDehling do you run on Java8 by any chance? (wondering to better understand how frequently this can happen)

[2015-03-31 19:42] polyfractal commented on #10348
@kamaradclimber Absolutely agree with you!  This information is very important, and we don't have a good way to expose (or even collect it) today.

I have a WIP PR here:  https://github.com/elastic/elasticsearch/pull/6699

It was stalled for a while due to technical reasons, but we've recently rebooted it with a new approach (details here https://github.com/elastic/elasticsearch/pull/6699#issuecom

[2015-03-31 19:53] imotov opened #10351 "Failure to register of one misconfigured repository might prevent future repository registration"
If a repository cannot be registered on one of non-master nodes because of configuration issue (for example if the repository plugin is not installed on the node) it might prevent other properly configured repositories from registering on the node.

[2015-03-31 20:11] lmenezes opened #10352 "separate /_cluster/state routing_table into routing_table and routing_nodes"
currently, specifying routing_table will return both routing_table and routing_nodes. Not sure if this was a thought decision, or something that started of this way and just lingered since then.

Anyway, for me would be awesome being able to control individually if I want routing_table or routing_nodes(or both). This is simply because depending on how many shards you have, the response starts to b

[2015-03-31 20:45] #10308 closed

[2015-03-31 20:54] cdmicacc commented on #10224
We are in the same situation -- the memory used by the bitsets grows until the entire heap is consumed (we have 12 nodes, currently, each with a 32GB heap).

By chance, we discovered that issuing POST https://localhost:9200/index/_cache/clear will clear the bitset cache (but there is no corresponding explicit parameter to clear them).  Without some form of cache expiry (LRU or otherwise), we're ei

[2015-03-31 20:55] martijnvg commented on #10334
@mariusdw That decision to use object field makes perfect sense. When PR #10353 gets in inner hits will work again with your mapping.

Changing the group settings to nested field will make it work for now, but does increase memory usage (due the fact that you have a nested `nested` field). I suggest that you move back to object field when 1.5.1 gets out.

[2015-03-31 21:27] siacomuzzi opened #10355 "issues with alias/routing name"
Hi,

I created the following alias/routing (where __"users"__ is the index name and __"user"__ is the type name):

[code]

And everything works OK:

[code]

But if the alias name has a '-' char:

[code]

The routing is not working:

[code]

But I have documents with "foo-bar" as tenant:

[code]

Any clues?

[2015-03-31 21:46] drej82 commented on #10216
The fix was committed, please let me know when it propagates to official snapshot.

[2015-03-31 22:14] jtibshirani opened #10356 "[GEO] add bounding box optimization for geo_polygon filter"
Currently, geo_distance filters have a built-in bounding box optimization, configurable through the optimize_bbox option. It would be great if geo_polygon filters also had this optimization, as it can be quite expensive to check every point against the query polygon.

[2015-03-31 23:21] jtibshirani opened #10357 "search_quote_analyzer always added to mapping when position_offset_gap is specified"
If position_offset_gap is specified in a field's mapping, search_quote_analyzer is always added, even if no analyzer was specified:

https://gist.github.com/jtibshirani/f4acab68e7e505fb1778

For consistency, search_quote_analyzer should only be in the mapping if it has been specified and differs from search_analyzer.

[2015-03-31 23:27] jaddison opened #10358 "inner_hits - possible to have `search_type` set to `count`?"
I tried setting the `inner_hits` `size` option to 0, but this causes an exception. Will it be possible to ONLY get back total matching inner hits, like we can with normal queries with http://www.elastic.co/guide/en/elasticsearch/reference/1.4/search-request-search-type.html#count?

[2015-04-01 01:04] Godstermx commented on #8909
hi

the Completion Suggester Version 2 source code is in master ?

[2015-04-01 03:15] dennisgorelik commented on #9714
1) We have 150,909 abandoned job percolators (after we moved job percolators into percolatejobs index that is separate from underlying jobs index).
We do not run any queries against these abandoned percolators.
Do these abandoned percolators still use ElasticSearch memory?

How many percolator queries can ElasticSearch node hold?
Or put it another way: how much memory does typical percolator query

[2015-04-01 07:27] nithyanv opened #10361 "_ttl counting down faster than expected"
Hi,

I believe _ttl is counting down faster than it should.

I have the following resultset for an index.

{
_index: some_index
_type: some_type
_id: some_id
_score: 1
fields: {
my_id: some_Id
my_timestamp: [
2015-03-26 16:05:00+0530
]
_ttl: 1581673831
}

Since today is 01/04/15, the document is around 5 days old. However, if we were to check _ttl (1581673831 milliseconds = 18.3 days left). How is

[2015-04-01 07:49] bleskes commented on #10340
You are correct in saying that expected nodes only relates to data + master nodes. I think the source of the confusing is that it also *only* holds for the initial cluster forming after a full cluster restart or an outage. In those cases the master waits until it sees enough nodes to start assigning shards.

For a single node restart, I believe you expect something like delaying the re-assignment

[2015-04-01 07:57] dev-shubh opened #10362 "Kibana appears to break-down when I use scripted fields."
I am new to elasticsearch and Kibana. I was trying to use scripted fields in Kibana 4.
![scripted_fileds](https://cloud.githubusercontent.com/assets/11183147/6936697/8dec0ebe-d872-11e4-9dae-731bac392fdc.png)
I tried some very simple arithmetic operations(division) on two fields in scripted fields and it worked just fine. Then I was trying to use aggregations under scripted fields script and my kib

[2015-04-01 07:59] dev-shubh opened #10363 "I wish to do the following operation in Kibana 4:"

[2015-04-01 07:59] #10363 closed

[2015-04-01 08:01] micpalmia commented on #10150
I'm also noticing a weird behavior of `cutoff_frequency` with `multi_match` queries.

[2015-04-01 08:07] dev-shubh opened #10364 "Not an Issue, just looking for some valuable feedbacks and help..."
I wish to do the following operation using elasticsearch 1.4 and Kibana 4:
1. Aggregate field x with time for every 10 mins
2. Aggregate field y with time for every 10 mins
3. Take a ratio of the two fields i.e  Ratio (aggregated field x)/(aggregated field y)

Can this be done using scripted scripts in Scripted fields in Kibana 4....

[2015-04-01 08:25] EikeDehling commented on #10318
We're running Java7, 1.7.0_45

Thanks for the tip about settings.

I also found that line of code indeed, i'll try and make a patch/test.

[2015-04-01 08:32] bleskes commented on #10318
Cool. If you wait an hour or two, I’ll probably make a PR with a fix.

[2015-04-01 08:45] EikeDehling commented on #10318
This is my proposed patch+unit test, happy to compare to what you're producing. Sorry, i'm not that handy with github/PR's yet.

https://gist.github.com/EikeDehling/2e34a78a54de646b71ca

Any chance there will also be a 1.4 release with a fix?

[2015-04-01 09:13] #10339 closed

[2015-04-01 09:24] wkoot commented on #10318
@bleskes You said that the `indices.cluster.send_refresh_mapping` requires node restart, what would the effect be if you only have a few (say half of) the nodes which have this setting set to false?

[2015-04-01 09:28] bleskes commented on #10318
Then the other half might still send refresh mapping to the master. You need it on all data nodes. But you can do a rolling restart, one by one.

[2015-04-01 09:47] EikeDehling commented on #10318
I am trying this fix in our staging environment, i'll let you know if that fixes the issue.

https://github.com/EikeDehling/elasticsearch/commit/cc79d71bbc4d55cb12a50df2acc67ca6ba4ac5dc

[2015-04-01 09:48] kamaradclimber commented on #10348
@polyfractal this is a very great step towards what I am looking for, I'd really like this to be merged.

Improvements I can think of once your patch is in master:
- display if the query used a cache or not
- display merge time (time to merge the results of subqueries/filters)

[2015-04-01 10:14] vinusebastian commented on #4915
@aaneja  with respect to  "Terms aggregation does not support a way to page through the buckets returned.
To work around this, I've been trying to set 'min_doc_count' to limit the buckets returned and using a 'exclude' filter, to exclude already 'seen' pages.

Will this result in better running time performance on the ES cluster as compared to getting all the buckets and then doing my own paging l

[2015-04-01 10:49] mbarrin commented on #10340
Ah thanks for the clarification. I assume disabling shard allocation for the purpose of the reboot is the best idea then?

[2015-04-01 11:43] bleskes commented on #10318
@EikeDehling looks good can you make a PR ? see https://www.elastic.co/contributing-to-elasticsearch . Also it would be great if you simplify the test and add random keys (but we can iterate on the PR).

[2015-04-01 12:14] dadoonet commented on #10347
@javanna for now, plugins I know basically use scripts to modify documents before injection. That was mostly the case for some rivers.
So `update` works well here. All official plugins have now been updated for 1.6.

Not sure we need something else.

[2015-04-01 12:23] javanna commented on #10347
@dadoonet yea it makes sense to use update for now but it's ambiguous because it's not really about the update api, but pre-processing of document before they get indexed. I am for making it explicit that plugins may use scripts and we just don't know exactly for what :)

[2015-04-01 12:35] rhdip commented on #10313
When I try to index using "**client.Index(itm);**" I get the following error:

"System.Net.WebException was caught
  HResult=-2146233079
  Message=The operation has timed out
  Source=Elasticsearch.Net
  StackTrace:
       at Elasticsearch.Net.Connection.RequestHandlers.RequestHandler.ReturnStreamOrVoidResponse[T](TransportRequestState`1 requestState, ElasticsearchResponse`1 streamResponse)

[2015-04-01 12:41] tlrx commented on #10344
@nicktgr15 thanks for the information. I think I can now imagine what happened in your cluster.

In elasticsearch 1.4 we added repository verification. When registering a repository, each node of the cluster tries to write a file in the repository before the repository registration is acknowledged.

The current implementation of the verification process lists all the files at the root level of the

[2015-04-01 12:52] bleskes commented on #10340
it's a controlled reboot yes. See http://www.elastic.co/guide/en/elasticsearch/reference/current/modules-cluster.html#shards-allocation .

Let me know if we can close this...

[2015-04-01 12:57] uboness commented on #10347
@javanna thinking a few things:

- would be nice of the script context would be extensible... so some plugins will also be able to define their context in more fine grained fashion than a simple "capture all" `plugin` context. Right now the context is an enum, perhaps it should be based on opaque strings (internally we'll sill use the same constants that the enum already captures.

- we can still

[2015-04-01 13:12] javanna commented on #10347
I agree with @uboness on making things more flexible, maybe we could just use the plugin name though instead of having plugins declare potentially multiple additional contexts (think of conflicting ones as well). Let's see what others think about this aspect.

That said I think we should move on with the first step of introducing an additional category that is specific for plugins, which would als

[2015-04-01 13:25] uboness commented on #10347
I can see multiple categories used within a single plugin as well... so maybe then we'll have the category be prefixed with the plugin name... as a convention at least?

[2015-04-01 13:26] aadithya commented on #8465
This was an issue with our test. Adding version numbers to our test fixed the issue.

[2015-04-01 13:26] #8465 closed

[2015-04-01 13:54] patricksurry commented on #10304
It looks like it's interpreting fields.year as an timestamp (millis since epoch) rather than a year value like you expect.  So all your keys are a few seconds appear 1/1/1970 and hence your key-as-string is constant.

[2015-04-01 13:54] jpountz opened #10368 "Keep elasticsearch core small"
Over time we accumulated a lot of features in elasticsearch core which have different status. Some of them are very important building blocks while other ones are only useful for esoteric use-cases or have known issues. Keeping the core small is important for a variety of reasons so maybe we should consider creating a new elasticsearch-extra plugin, with a best-effort only backward compatibility p

[2015-04-01 13:55] s1monw commented on #10368
+100 I just read the title :)

[2015-04-01 13:56] rmuir commented on #10368
+1

[2015-04-01 13:56] mikemccand commented on #10368
+1

[2015-04-01 14:05] kimchy commented on #10368
Talking specifically on the list, I think we can simply remove `top_children`  and `fuzzy_like_this`, I don't think they are that helpful and would be a shame to even have a plugin that tries to maintain them.

I think we should keep `sig_terms` in core, its an important aggregation that needs to meet the level of "core".

`token_count` and `murmur` I think its ok to move it to a plugin, I think i

[2015-04-01 14:06] s1monw commented on #10368
IMO this is less about what but rather about a direction IMO. just my $0.05

[2015-04-01 14:26] l15k4 commented on #10299
Closing as it is either my fault or it is elastic4s problem

[2015-04-01 14:26] #10299 closed

[2015-04-01 14:32] Kamapcuc commented on #9705
Can you please explain what is "high hanging fruit"?
I can suggest that mean lowest priority - am i right?

[2015-04-01 14:33] l15k4 commented on #7441
Hey, I have set this setting in [many ways](http://stackoverflow.com/questions/29390654/some-of-elasticsearch-yml-configuration-is-not-taking-effect) but it doesn't seem to be reflected in `_cluser/settings` or in `_settings` for individual indices. Any idea how to do that? Or how to check it's value on a running instance?

[2015-04-01 14:36] brwe commented on #10048
I think I understand the usecase but I am not convinced that this is a very common one so I am leaning against adding this scoring function to core.
What keeps you from implementing this in a script (potentially native) or as a plugin to decay functions?

[2015-04-01 14:39] javanna commented on #9705
Hi @Kamapcuc good question :) it's not about priority, more about the effort required for the change. Low hanging fruits are easier to get than high hanging ones, that's it. Issues marked with the "high hanging fruit" label might require some refactoring on our end for instance, but that doesn't mean we make all of the easy changes first.

[2015-04-01 14:39] electrical opened #10369 "Ability to change scripts directory"
At the moment the scripts directory is hard coded to `scriptsDirectory = new File(env.configFile(), "scripts");` but it would be handy to make this configurable.
Main reason is that with the Puppet module we allow multiple instances, and it would be handy that all instances on a single node can share the same directory where the scripts are located.

[2015-04-01 14:39] synhershko commented on #10048
Maintenance, mostly. We could do that, but the internal APIs are not stable and aren't going to be for a while. I've been maintaining various plugins for over 2 years now.

We think this could be very useful for many others as well, hence this proposals. We do hope it will make it in, and will gladly provide a complete PR for it.

[2015-04-01 14:41] javanna commented on #10369
This seems like a duplicate of #6766 ?

[2015-04-01 14:43] electrical commented on #10369
@javanna oops you are right. must have overlooked it. Closing this one. thanks!

[2015-04-01 14:44] #10369 closed

[2015-04-01 14:52] EikeDehling commented on #10318
I made a PR, and afterwards signed the contributor license, i hope that's ok.

I randomized the test and simplified a bit, happy to hear suggestions for improvements.

[2015-04-01 15:03] mbarrin commented on #10340
Yes I will close this issue.

[2015-04-01 15:03] #10340 closed

[2015-04-01 15:22] djschny opened #10371 "add ability to specify a SizeBasedTriggeringPolicy for log configuration"
Currently only "timeBased" (org.apache.log4j.rolling.TimeBasedRollingPolicy) is allowed. Add ability to specify a sizeBased policy to ensure that disk usage of logs in the event of noisy logs/events.

[2015-04-01 16:00] nabheet commented on #8708
+1

[2015-04-01 16:19] #9108 closed

[2015-04-01 16:48] siacomuzzi commented on #10355
I fixed it adding `not_analyzed` flag:

[code]

[2015-04-01 16:51] harisekhon commented on #8470
How about just setting the node name to ```$HOSTNAME:<port>``` by default - that will account for multiple instances per host.

This is similar to what SolrCloud does (they actually do ```<ip>:<port>``` which is also unique but much less useful unless you only have a few servers and know all their IPs off by heart or enjoy doing DNS lookups - I changed those to hostname:port).

The Marvel names ar

[2015-04-01 17:23] javanna commented on #10355
Thanks for getting back to us @siacomuzzi , the problem was not around the routing value nor the alias name, more about how your field was indexed, hence how the alias filter wasn't able to return the expected results. Glad you solved.

[2015-04-01 17:23] #10355 closed

[2015-04-01 18:53] ajaybhatnagar opened #10378 "New Index creation time increases with more and more indexes in the cluster."
I am trying to test index creation performance in the cluster. I noticed as total number of indexes increases in the cluster, creating a new index takes more and more time. (no data loading at all and no other activity in cluster other than new index creations).

First 1000 index created in  approx 10 minutes
Next 1000 index creation took close to 40 minutes and it keeps degrading. Resources on th

[2015-04-01 18:54] ajaybhatnagar commented on #10378
ES version is 1.4.4, java  1.8.0_40

[2015-04-01 19:00] ppf2 opened #10379 "Provide a logger that reports a breakdown of the indexing time"
It will be helpful if we have a logger that can be set to DEBUG or TRACE level that reports a breakdown of the time spent on each step of an indexing request, eg. time spent indexing to primary, time spent indexing to replica, time spent in bulk/index queue (if applicable), etc..

[2015-04-01 19:41] yang-bsft opened #10380 "The cluster keeps increasing unassigned_shards shards?"
We are running ES 1.4.2
Suddenly, we noticed that the cluster state became red last night, although all indexing, query, search are working fine.

The reason why the cluster became red but service is still running fine is that the ES cluster has the unassigned_shards kept increasing. We don't know where those shards are from and which index do those shards belong to?

Are we hitting a but in ES?

[2015-04-01 22:06] twitchjorge commented on #9226
@bleskes I can confirm that we see the issue both on 1.4 and 1.5.  I've also sent you the data you requested, from looking at it my results seem consistent with what @xgwu noticed.  Hot threads for me show file access using a large percentage of the CPU.  Is it possible something is causing ES/Lucene to make a very very large number of disk accesses for small amounts of data?

[2015-04-01 22:16] marcosg3 commented on #4847
+1
We came across this limitation on one of our projects, has there been any traction on this one?

[2015-04-01 22:16] martijnvg commented on #10358
@jaddison This looks like a bug, you should be able to set `size` to 0 on the inner_hit definition. Can you share the exception and possible also a reproduction?

Inner hits is a fetch phase feature. When setting `search_type` to count the fetch phase doesn't get executed, so that is why inner_hits don't work with that search_type.

[2015-04-01 22:26] jaddison commented on #10358
With this query:

[code]

Here's the result:

[code]

[2015-04-01 22:42] martijnvg commented on #10358
This is odd, inner_hits itself doesn't use TotalHitCountCollector...
On what ES version are you running this query? (snapshot?)

[2015-04-01 22:59] jaddison commented on #10358
[code]

[2015-04-01 23:12] jknewman3 commented on #8312
Is it possible to set eager loading, or something like that, for doc_values?
It would be helpful for us to always have the most recently added data in cache.

[2015-04-01 23:43] bogdanovich opened #10382 "There is no boolean_detection: false"
There is no option `boolean_detection: false`
Is there way to disallow detection of boolean type?

[2015-04-02 00:23] ppf2 opened #10383 "Provide a way to drop norms for already optimized/older indices"
Here is a use case:

- There are a lot of optimized/older indices that are not getting written to (and no further deletions) but all of them have a great number of fields with norms enabled
- The user realized that they don't really need norms for these fields after the fact.

In order for norms to be dropped, a segment merge has to occur.  Currently, in order to force a segment merge for these in

[2015-04-02 00:43] rmuir commented on #10383
I agree, this is too tricky and we should make it easy and not error-prone.

There are a couple possibilities (or combination of) we could use here with 2.0:
* ElasticSearchMergePolicy could check mappings and apply omitNorms to the FieldInfos it presents at merge, so there need not be any dummy document. It means the setting would kick in for a corresponding forceMerge, and also kick in even when

[2015-04-02 03:31] yangou commented on #10380
It turns out to be our issue. Please help close it.

[2015-04-02 03:32] #10380 closed

[2015-04-02 03:33] yangou opened #10384 "Will allow_primary delete existing shards"
Hi
we had a outage on out es cluster, so we stop all incomming traffic.
But there are some unassigned shards hanging around.

Will turning allow_primary on delete the existing shards?

[2015-04-02 03:34] markwalkom commented on #10384
These sorts of questions are best for the google group - https://groups.google.com/forum/#!forum/elasticsearch

Github is reserved for code bugs and changes.

[2015-04-02 03:34] #10384 closed

[2015-04-02 04:28] jindov opened #10385 "Please support vietnamese language mapping"
Please add vietnamese to list of support language analyzer

[2015-04-02 06:00] krueger opened #10386 "Filtering aggregation values"
Hi,

in our project we need to filter the values of an aggregation. A possible solution is to use the filter param:

GET /sample/document/_search
{
  "aggs": {
    "value_facet": {
      "terms": {
        "field": "value_id",
        "include": "a|b"
      }}}}

I think a better way would be, to use a value param, like this:

GET /sample/document/_search
{
  "aggs": {
    "value_facet": {
      "

[2015-04-02 07:15] javanna commented on #10382
Hi @bogdanovich would you mind asking this question on our [mailing list](https://groups.google.com/forum/?fromgroups=#!forum/elasticsearch)? We'd rather use github issues for actual bugs or feature requests. Thanks!

[2015-04-02 07:15] #10382 closed

[2015-04-02 07:21] martijnvg commented on #10358
@jaddison I must have overlooked something last night... I opened a PR: #10388

[2015-04-02 07:45] clintongormley commented on #10347
+1 to https://github.com/elastic/elasticsearch/issues/10347#issuecomment-88479402

[2015-04-02 08:19] bleskes commented on #9226
@twitchjorge OK. thx. I would guess your hot threads is the same as previous ones (though it will be good to confirm for 1.5.0), showing TermEnums.seekExact. When we replay the translog from the source to target node, we have to make sure we don't override newer documents changes that were indexed while the recovery was ongoing. To do so we do a lookup by id to get the local version, discarding th

[2015-04-02 08:20] MaineC commented on #10150
This looks related to #10154 - @micpalmia do you only see weird behaviour in multi-match queries or also in plain match queries?

[2015-04-02 08:31] sylvae commented on #9226
I also encountered this issue many times, when you import a large amount  (5000doc / s ~ 10000doc / s),it is easy to reproduce. When shard stuck, even if you stop importing, replay speed is still very slow (about 30doc / s).
I found this time only one replay thread, no bulk and merge thread.Replay thread has cost 100% CPU while 99% of CPU is on the function of seekExact.
At the same time, the reco

[2015-04-02 10:07] tlrx commented on #10344
Definitely. The snapshot process iterates over each file of the shards to process and upload them. The more shards you have, the more files need to be snapshotted.

Hard to tell if it's the right strategy without knowing exactly what is your use case. But for what I know of your cluster I feel like you should benefit of creating less but larger indices.

I'm curious to understand why the number of

[2015-04-02 10:23] nicktgr15 commented on #10344
Was a requirement when the system was designed as it was simplifying the way we managed clients data (e.g. backups per index, permissions). However, we are going to review our current approach as the high number of indices seems to be an overhead. Thank you for you help.

[2015-04-02 10:32] #9081 closed

[2015-04-02 10:54] javanna commented on #6787
I think we can close this, nothing we can do here.

[2015-04-02 10:54] #6787 closed

[2015-04-02 10:55] javanna commented on #6539
pign @seang-es could you please have a look at my answer?

[2015-04-02 11:12] javanna commented on #10242
ping @drew @dakrone what do you think?

[2015-04-02 12:12] clintongormley commented on #10244
Switching the Logstash output to use `protocol: transport` works as well.

[2015-04-02 12:19] tlrx commented on #10344
@nicktgr15 ok thanks, that's what I suspected.

You may be interested in the chapter ["Designing for Scale"](http://www.elastic.co/guide/en/elasticsearch/guide/current/scale.html) of the book Elasticsearch Definitive Guide. It's a great chapter that deals with use case like yours.

I'm closing this issue since many pull requests are already engaged. Feel free to reopen if needed.

[2015-04-02 12:19] #10344 closed

[2015-04-02 12:21] jeffreyji666 opened #10392 "es 1.5.0 count doesn't work"
Here is my script:

    GET /engzo/topic/_search?pretty=true
    {
      "query": {
        "bool": {
          "must": {
            "term": {
              "isDeleted": false
            }
          },
          "should": [
            {
              "match": {
                "title": {
                  "query": "test",
                  "type": "boolean",
                  "operator": "AND"

[2015-04-02 12:27] clintongormley commented on #10392
The `count` matches the `hits.total` value returned from your search request.  So apparently that is the number of documents that your query matched.  The search request just returns the first 10 results by default.

[2015-04-02 12:27] #10392 closed

[2015-04-02 12:31] jeffreyji666 commented on #10392
so How could I get the count that meets up the search condition?

[2015-04-02 13:15] jpountz commented on #10386
This is already supposed to work: if you supply an array of strings it will be interpreted as the list of values you are interested in but if you supply a string it will be interpreted as a regexp. The documentation mentions this but I agree it would be nice to make things clearer by also giving an example (PRs welcome ;-)).

[2015-04-02 13:15] #10386 closed

[2015-04-02 13:23] #10358 closed

[2015-04-02 14:06] #4678 closed

[2015-04-02 14:06] #7851 closed

[2015-04-02 14:12] ianribas opened #10394 "Multiword query time synonyms and match queries with the "and" operator may not work"
This issue is very similar to what is documented on the entry about [multiword synonyms and phrase queries](http://www.elastic.co/guide/en/elasticsearch/guide/current/multi-word-synonyms.htm) . What is different is that the same kind of problems, when the synonyms are of different lengths (in number of terms), occur when using the standard [`match`](http://www.elastic.co/guide/en/elasticsearch/ref

[2015-04-02 14:15] mikemccand commented on #9226
@sylvae that really is a smoking gun, that you have waaay too many segments in the target index.

Are you using delete-by-query?  There are known problems with this API that can cause way too many segments to be created, which we are in the process of fixing now (#7052).

[2015-04-02 14:20] mikemccand commented on #10383
+1

I like the ESDirectoryReader solution?  Then, you don't even need merges to run to make the norms effectively go away?  (They would still be on disk, but that's OK: the real horror happens when they are loaded into RAM).

[2015-04-02 14:23] jpountz commented on #10383
+1 this sounds like a nice solution to me

[2015-04-02 14:35] wkoot commented on #7803
Experiencing a similar mismatch in v1.4.2:
[code]
Even though all primary and replica shards are started ok:
[code]

[2015-04-02 14:42] sylvae commented on #9226
@mikemccand   I have never used delete-by-query. Only after long time of shard stuck, the recovery shard at target node has so many segments. The source node or others shard's segments are normal.
And my ES is 1.4.4.

[2015-04-02 14:51] mikemccand commented on #9226
@sylvae OK, thanks.  Not sure why you see segment explosion on the target...

Do you have any index configuration changes, e.g. changing merge policy or its configuration?  Can you pull all threads (/_nodes/hot_threads with threads=10000) on the target node next time this is happening?

[2015-04-02 14:52] javanna commented on #7325
Rather than returning an error, we should return simlar content as what the get api returns. This is the approach taken in #10396. We make sure that a body is always returned, whcih always contains metadata info and the found boolean flag.

[2015-04-02 16:02] krueger commented on #10386
Ok, thx for you answer. I used an old version of es, with the latest it works.

[2015-04-02 16:07] kumar007007 opened #10397 "search templates created with restapi are not deleteing completely"
We created a search templates with rest api  will adds to .scripts index , when we delete the templete it says success and when we explore the index the  templete  won't appear .
  When we recreate the search template with same name  it will create , when we execute the template search it will take the old  deleted  template code . we  updated to latest version 1.5  from 1.4.
You can easily replic

[2015-04-02 16:25] mausch opened #10399 "Explanation with null description causes NullPointerException in distributed query"
I'm writing a custom score function that returns a deeply-nested Explanation object. When a description in one of the nested Explanations is null I get a NullPointerException from the node. This doesn't happen when I run things on a single node, so it's likely some issue with the serialization of Explanation objects.

[2015-04-02 16:54] areek commented on #8909
Hi @Godstermx, the completion suggester V2 is not in master yet. It is still being worked on.

[2015-04-02 17:16] alexmorozov opened #10400 "Repeatedly segfaults on Ubuntu 14.04"
Hi,
After upgrading our (super-tiny) instance from 0.90 to 1.5 ES has started to crash. Here are some of the java dump files: https://gist.github.com/alexmorozov/b49f1c8c755236d237b6
It crashes randomly, there`s no specific query that causes segfault.
Can it be a memory issue?
We run at default settings (max 1G heap), but we have only about 50 documents in the index (with many fields though).

[2015-04-02 17:33] malpani commented on #7256
+1 - this feature will be pretty useful to have for _bulk, _mget and _msearch APIs as it provides means to have secure URL based access control and not restrict other users who have complete access from hitting multiple indices

[2015-04-02 18:04] cashgl opened #10401 "MapperParsingException when indexing document"
I'm trying to index a document using the following procedure:
[code]
When I'm doing so, I get a `MapperParsingException` saying that it can't parse an input string within my document. However, when I attempt to index the exact document through a REST client with the Index API, it completes without any issue. It would be nice if I could use Elasticsearch's Java API to index my documents, but if the

[2015-04-02 18:06] dadoonet commented on #10401
Please ask questions like this on the mailing list and provide details about what you have in `source` field.
May be your `byte[]` is not correct?

try with a String first.

[2015-04-02 18:06] #10401 closed

[2015-04-02 18:09] clintongormley commented on #8871
Hi @kiwigaffa

Something like this might be possible later on.  I wouldn't do it as a user-facing option, but make it an internal optimisation instead.  For instance, if field mappings are immutable, then when storing the cluster state we could have one in-memory representation for each unique field and just have a pointer for every use of that field.

For now, we just want to get the user-facing

[2015-04-02 18:27] clintongormley commented on #10392
@jeffreyji666 search defaults to a `size` of 10, so if the count is greater than 10, use 10 instead...

Not sure why you would want to do that though

[2015-04-02 19:27] nmunro-cvt opened #10402 "BulkRequest with listener waiting for response fails assertion 'Expected current thread [...] to not be a transport thread'"
Starting with 1.5.0, creating a bulk request then calling **bulkRequest.execute().addListener(...)** results in

full stack trace : https://gist.github.com/nmunro-cvt/ea14d625629692ef2773

Started happening in 1.5.0, same code works fine pre-1.5.0.

Noticed some new assertions were introduced in 1.5.0

However, I don't see what I need to do differently to pass the assertions.

Simplified example t

[2015-04-02 19:31] faxm0dem opened #10403 "Enhancement: hint user on node version mismatch"
When comissioning new nodes with a lower ES version (_e.g._ 1.4.0 _vs._ 1.4.2), obviously only new shards get allocated to the new nodes, while older shards (using newer lucene version) never reallocate to new nodes. While this is fine, there should be a hint in the logs, something in the likes of:

[code]

Would have saved me some time today ;-)

[2015-04-02 19:41] rmuir commented on #10337
There is a 5 minute cache in the JDK for localhost.

[2015-04-02 19:47] rmuir commented on #10337
Sorry, i meant 5 second :) Look @ InetAddress.java

[2015-04-02 19:48] Cidan opened #10404 "Inconsistent value types for node status/info"
When viewing the following URL, http://localhost:9200/_nodes/_local, queue sizes are not consistent in types, for example:
[code]

versus:

[code]

The queue_size value should always be an integer, fully expanded out, ie, 1000 and not "1k". This will make monitoring these queues much simpler.

[2015-04-02 19:50] rjernst commented on #8312
@jknewman3 See discussions on #8693

[2015-04-02 20:00] kimchy commented on #10337
this is really weird, since you can see we do full connection all the way to the SocketImpl every time... .

[2015-04-02 20:01] #10318 closed

[2015-04-02 20:04] jpountz commented on #10400
The crash happens while compiling a groovy script. Can you share the groovy script that you are using in your search request?

[2015-04-02 20:12] jpountz commented on #10378
Are you testing it purely for experimental purposes or is index creation time actually a bottleneck for your use-case? In the latter case can you explain why you need to create so many indices?

Managing thousands of indices is something that will raise issues for a variety of reasons, I'm afraid index creation time is only one of the symptoms. If you can, I would advise to model your data in such

[2015-04-02 20:13] jpountz commented on #10364
Please use the mailing list to ask questions, we use Github issues only for bugs and feature requests.

[2015-04-02 20:13] #10364 closed

[2015-04-02 20:44] ravlio opened #10406 "Completion Suggester incorrect sorting by weight"
[code]

I have about **20m** database of keywords such as:
"**car**" (weight is 100)
"**buy car**" (weight is 50)
"**buy used car**" (weight is 10)
...
each keyword having weight equal popularity. Initial mapping is:

[code]

And indexing is simple:

[code]
So, considering the above list, when I type "car" I will only get "**car**" query. It worked fine as long as I did not want to look up words i

[2015-04-02 20:49] dakrone commented on #10217
@clintongormley et al,

Because we are touching every single query in this change, it also gives us the ability to remove support for camel-casing in queries where it exists. How do we feel about removing the camel casing in these PRs as well?

[2015-04-02 21:47] jknewman3 commented on #8312
Ah, that helps a lot. Thanks!

[2015-04-03 00:46] aphyr opened #10407 "A network partition isolating a primary can cause the loss of inserted documents"
This is tough for me to reliably reproduce, but I've seen it a half-dozen times and think it needs an issue. Elasticsearch can still lose inserted documents when a single primary node is isolated by a simple network partition. Nothing fancy, no overlapping partitions required. Sometimes it's only a few documents, from immediately following the partition:

[code]

Other times, the cluster seems to

[2015-04-03 01:06] aphyr commented on #10407
Potentially related: the worst data-loss incidents seem related to long-lasting split-brain, where after a 120-second partition isolating a single primary is resolved, the original node *and* a newly elected node both believe they're the primary--even after exchanging traffic.

[2015-04-03 01:24] devnull52 commented on #10304
Hi Ryan,

Please see below. I created mappings during index creation time.
Please let me know if there is anything else I can provide.

{
  "movies" : {
    "mappings" : {
      "movie" : {
        "_all" : {
          "enabled" : false
        },
        "_id" : {
          "path" : "fields.title"
        },
        "properties" : {
          "facets" : {
            "properties" : {

[2015-04-03 01:33] aphyr commented on #10407
Here's a particularly rough case, losing 25% of documents with only primary-isolating partitions:

[code]

This test is 600 seconds long, where the network is stable for 10 seconds, then all nodes considering themselves the primary are isolated for 120 seconds, then the network heals and the cycle repeats. We give the cluster 20 seconds of guaranteed healthy network, then wait for the health endpo

[2015-04-03 01:55] jeffreyji666 commented on #10392
I mean I want to get the number of the record which meets the search condition, so I can do the pagination.

[2015-04-03 02:41] areek commented on #10406
Thanks for the detailed report, @ravlio!
Currently, there is a hard limit of at most 256 duplicated analyzed form per (lucene) segment, after which the suggestion entries are ignored. It seems like you have hit that limit.
In this case, the analyzed form of "car" must have exceeded that limit in some segments and hence you see missing suggestions.
A work-around might be to use multiple surface for

[2015-04-03 02:41] #10406 closed

[2015-04-03 03:21] #10351 closed

[2015-04-03 06:44] alexmorozov commented on #10400
Sure. The script is generated dynamically, here`s the common one: https://gist.github.com/alexmorozov/b4aa8aabc8df69731aab . Note that this script doesn`t crash the server alone, ES segfaults after many of such requests.
And I`m not sure it`s in Groovy, as far as we created it in the 0.90 (mvel) days.

[2015-04-03 06:59] bleskes commented on #10407
Thx @aphyr

This might be #7572 , which is also documented here: http://www.elastic.co/guide/en/elasticsearch/resiliency/current/#_loss_of_documents_during_network_partition_status_ongoing

This one feels like something else, but it will require some research. Can you share the exact commit of Jepsen you used? That will help understand what exactly happened.  I'm also curious to see what effect @d

[2015-04-03 07:19] #10334 closed

[2015-04-03 07:39] sylvae commented on #9226
@mikemccand I have not changed any merge policy or its configuration.
The hot_threads file of the target node:
https://gist.github.com/sylvae/ede6d120cf815226e126#file-es_nodes_threads_1000

[2015-04-03 08:30] martijnvg commented on #10296
This is the actual error:

[code]

I'm not sure yet why the type of a hit is null.

[2015-04-03 08:59] spinscale commented on #10337
@rmuir how do you draw the connection to localhost? This cluster was running on several hosts, no localhost involved in discovery... could the cache still be an issue?

[2015-04-03 08:59] JanJakes opened #10408 "Add Prefix Aggregation"
There is Prefix Query, Prefix Filter, but no **Prefix Aggregation**. It should be fairly easy to add since GeoHash Aggregation should internally work the same way (I guess).

Currently it can be kind of simulated by creating Filters Aggregation and specifying one Prefix Filter per each desired prefix-bucket, but it's not quite that and there might be some performance issues.

A Prefix Aggregation

[2015-04-03 09:05] mikiot commented on #10135
So you say it is impossible to be fixed for now? Should I find another solution for problem?

[2015-04-03 09:20] jpountz commented on #10135
@mikiot Sadly yes. A work-around is to provide the parent/child filter on every query execution instead of relying on the alias.

[2015-04-03 09:29] ZeAleks opened #10409 "Poor indexing performance with elasticsearch 1.5.0"
Hi again,

I migrated my cluster to elasticsearch 1.5.0 yesterday and I do have performance indexing problem again.
I just lost my logs so I cannot show you any graph to demonstrate it but indexing is about 2x slower.
As I already have this problem (https://github.com/elastic/elasticsearch/issues/8553) I run a GET /_nodes/hot_threads.

Notice that the request is always the same.

Here is the resul

[2015-04-03 09:37] mikemccand commented on #10409
Do you see any "now throttling indexing" messages in your node console logs?

Maybe try increasing the store throttling (defaults to 20 MB/sec): http://www.elastic.co/guide/en/elasticsearch/reference/1.4/index-modules-store.html

[2015-04-03 09:45] ZeAleks commented on #10409
No.
There is only info about "updating refresh_interval".
No errors, no warnings.

[2015-04-03 10:02] mikemccand commented on #9226
Thanks @sylvae.  I see 16 bulk threads actively indexing, 1 thread doing recovery.

But: I see no thread doing any merging (I do see 5 of the merge threads, they are idle).  This is very strange, if indeed tons of tiny segments are accumulating in the target.

Can you pull all segments for this index from the node when this is happening?  http://www.elastic.co/guide/en/elasticsearch/reference/1.x/

[2015-04-03 10:24] martijnvg commented on #10135
If alias filter were parsed at search time instead of alias creation time then this problem wouldn't exist. Maybe for certain alias filter this would make sense? Also this not so nice work around can be removed: #8534

[2015-04-03 11:29] rmuir commented on #10337
You mentioned a JVM cache, so I gave you one. I wouldn't dismiss the problem: i see ES calling InetAddress.getLocalHost in inconsistent and buggy ways. In one place it even caches it in a static block as if it can never change. broken...

[2015-04-03 12:22] thoaingo opened #10413 "Found 1 record, but cannot see data"
Request:
POST property_v2/property/_search
{
  "from": 1,
  "size": 20,
  "sort": [
    {
      "Models.MinPrice": {
        "order": "asc"
      }
    }
  ],
  "filter": {
    "and": {
      "filters": [
        {
          "ids": {
            "values": [1726485],
            "type": "property"
          }
        }
      ]
    }
  }}
Here is response.
{
   "took": 1,
   "timed_out": false,
   "

[2015-04-03 12:32] javanna commented on #10413
Hi @thoaingo this type of question would be better handled if it was sent to our [mailing list](https://groups.google.com/forum/?fromgroups=#!forum/elasticsearch). I suspect what you see is due to `from: 1` in your request, in any case can you move the discussion to the mailing list please?

[2015-04-03 12:32] #10413 closed

[2015-04-03 13:41] tomcashman opened #10414 "Search results missing after upgrade from 1.1.2 to 1.5.0"
We're experience strange behaviour with search results after upgrading from 1.1.2 to 1.5.0. We were indexing documents that had nested objects and had to use queries to separate results for different pages (really a separate index should be used, but changing requirements, etc. etc.). This is an example object and an example of the query used for one page (index, type, field names changed for conf

[2015-04-03 13:47] jpountz commented on #10216
Thanks! We'll watch for new t-digest releases and integrate it once a new version is released with this fix.

[2015-04-03 13:49] jpountz commented on #10414
This is due to a bug in 1.5.0: https://github.com/elastic/elasticsearch/pull/10268 which will be fixed in 1.5.1. Sorry for the incovenience.

[2015-04-03 13:49] #10414 closed

[2015-04-03 14:00] tomcashman commented on #10414
No problem, thanks for the quick response.

[2015-04-03 14:38] RolphH commented on #9539
As this "validate" option is deprecated and will be removed, how should we deal invalid values (null, null)? I don't want the document to rejected

[2015-04-03 14:47] tlrx commented on #8280
Follow up on https://github.com/elastic/elasticsearch-cloud-aws/issues/149#issuecomment-89309092

[2015-04-03 15:02] tuxpiper opened #10415 "Be lenient with "has_child" filter against a missing type"
Currently a search request or query containing a filter like:

[code]

Will fail with a QueryParsingException ("No mapping for for type [missingtype]") if the mapping type it refers to is not defined.

I think (and propose) that it would be useful to be able to at least instruct ES to be lenient in that case, and just evaluate the filter to false.

I think this would make sense, moreover, it would

[2015-04-03 15:42] bairaginath opened #10416 "elasticsearch number matching does not working"
elasticsearch does not work with exactly matching with number. if i wanted to search price=53.it retrieve all prices of 53,531,5394,............so on ........

[2015-04-03 15:52] javanna commented on #10416
Hi @bairaginath may I ask you to move your question to our [mailing list](https://groups.google.com/forum/?fromgroups=#!forum/elasticsearch) please? Please describe your problem thoroughly there and you'll get help for sure. We use github issues for bugs and feature requests, if it turns out that you found a bug you can still open a new issue including a complete recreation for it. Thanks!

[2015-04-03 15:52] #10416 closed

[2015-04-03 15:56] rsareth commented on #9357
Hi,

I'm using the elasticsearch-1.4.2 RPM package and I'm dealing with the same problem on redhat-6.3 x86_64 / vmware vm.

I've changed the property LimitMEMLOCK /usr/lib/systemd/system/elasticsearch.service hoping it would've worked. No effect as espected :-(

I don't know how to make the OS using the LimitMEMLOCK parameter.

What's very weird :
- on manual installation (elasticsearch-1.4.4), I

[2015-04-03 16:28] hjz opened #10417 "[es 1.4.4] Scroll query returns 0 results before fully done"
We're on ES 1.4.4, running a 16 node cluster +  3 dedicated client nodes (c4.xlarge) which runs all our queries.

We're seeing intermittent failures on scroll queries on larger data sets of ~1 million documents. This has happened while we were on 1.3.2 as well.

Today, it failed after fetching 5000 documents (5 requests, each fetch is 1000 documents), then started returning 0. Retrying the scroll

[2015-04-03 18:11] aphyr commented on #10407
Hi @bleskes! This is from Jepsen 4fdf509d82620ac59b4daf4e6a21f9495c73e68a--just `cd elasticsearch; lein test`. I've been breaking up the test suites in hopes of actually having Jepsen As A Library instead of a big monolithic hairball, haha. Slow going so far. ;-)

I've also switched to using scan scroll, but it doesn't seem to have any effect on observed data loss--I can reproduce it with both a `

[2015-04-03 19:46] Ghost93 opened #10421 "Logger warning using Elasticsearch Java API"
Hi,

We have a java application that indexes documents to an elasticsearch setup.
The application uses log4j2 as its' logging library.

At startup, when _Client_ is initialized, the following warning messages occur:

`log4j:WARN No appenders could be found for logger (org.elasticsearch.plugins).`
`log4j:WARN Please initialize the log4j system properly.`
`log4j:WARN See http://logging.apache.org/lo